{
  "discoveryVersion": "v1",
  "description": "Provides reliable, many-to-many, asynchronous messaging between applications. ",
  "canonicalName": "Pubsub",
  "baseUrl": "https://pubsub.googleapis.com/",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "documentationLink": "https://cloud.google.com/pubsub/docs",
  "mtlsRootUrl": "https://pubsub.mtls.googleapis.com/",
  "endpoints": [
    {
      "location": "africa-south1",
      "description": "Regional Endpoint",
      "endpointUrl": "https://pubsub.africa-south1.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "location": "asia-east1",
      "endpointUrl": "https://pubsub.asia-east1.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://pubsub.asia-east2.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "asia-east2"
    },
    {
      "endpointUrl": "https://pubsub.asia-northeast1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "asia-northeast1"
    },
    {
      "endpointUrl": "https://pubsub.asia-northeast2.rep.googleapis.com/",
      "location": "asia-northeast2",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://pubsub.asia-northeast3.rep.googleapis.com/",
      "location": "asia-northeast3"
    },
    {
      "description": "Regional Endpoint",
      "location": "asia-south1",
      "endpointUrl": "https://pubsub.asia-south1.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://pubsub.asia-south2.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "asia-south2"
    },
    {
      "endpointUrl": "https://pubsub.asia-southeast1.rep.googleapis.com/",
      "location": "asia-southeast1",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://pubsub.asia-southeast2.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "asia-southeast2"
    },
    {
      "endpointUrl": "https://pubsub.asia-southeast3.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "asia-southeast3"
    },
    {
      "endpointUrl": "https://pubsub.australia-southeast1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "australia-southeast1"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://pubsub.australia-southeast2.rep.googleapis.com/",
      "location": "australia-southeast2"
    },
    {
      "endpointUrl": "https://pubsub.europe-central2.rep.googleapis.com/",
      "location": "europe-central2",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://pubsub.europe-north1.rep.googleapis.com/",
      "location": "europe-north1"
    },
    {
      "description": "Regional Endpoint",
      "location": "europe-north2",
      "endpointUrl": "https://pubsub.europe-north2.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "location": "europe-southwest1",
      "endpointUrl": "https://pubsub.europe-southwest1.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://pubsub.europe-west1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "europe-west1"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://pubsub.europe-west2.rep.googleapis.com/",
      "location": "europe-west2"
    },
    {
      "description": "Regional Endpoint",
      "location": "europe-west3",
      "endpointUrl": "https://pubsub.europe-west3.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "location": "europe-west4",
      "endpointUrl": "https://pubsub.europe-west4.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "location": "europe-west6",
      "endpointUrl": "https://pubsub.europe-west6.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "location": "europe-west8",
      "endpointUrl": "https://pubsub.europe-west8.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "location": "europe-west9",
      "endpointUrl": "https://pubsub.europe-west9.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://pubsub.europe-west10.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "europe-west10"
    },
    {
      "endpointUrl": "https://pubsub.europe-west12.rep.googleapis.com/",
      "location": "europe-west12",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://pubsub.me-central1.rep.googleapis.com/",
      "location": "me-central1",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://pubsub.me-central2.rep.googleapis.com/",
      "location": "me-central2"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://pubsub.me-west1.rep.googleapis.com/",
      "location": "me-west1"
    },
    {
      "description": "Regional Endpoint",
      "location": "northamerica-northeast1",
      "endpointUrl": "https://pubsub.northamerica-northeast1.rep.googleapis.com/"
    },
    {
      "location": "northamerica-northeast2",
      "description": "Regional Endpoint",
      "endpointUrl": "https://pubsub.northamerica-northeast2.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "location": "northamerica-south1",
      "endpointUrl": "https://pubsub.northamerica-south1.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://pubsub.southamerica-east1.rep.googleapis.com/",
      "location": "southamerica-east1"
    },
    {
      "endpointUrl": "https://pubsub.southamerica-west1.rep.googleapis.com/",
      "location": "southamerica-west1",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://pubsub.us-central1.rep.googleapis.com/",
      "location": "us-central1",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "location": "us-central2",
      "endpointUrl": "https://pubsub.us-central2.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "location": "us-east1",
      "endpointUrl": "https://pubsub.us-east1.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://pubsub.us-east4.rep.googleapis.com/",
      "location": "us-east4"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://pubsub.us-east5.rep.googleapis.com/",
      "location": "us-east5"
    },
    {
      "endpointUrl": "https://pubsub.us-east7.rep.googleapis.com/",
      "location": "us-east7",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://pubsub.us-south1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "us-south1"
    },
    {
      "location": "us-west1",
      "endpointUrl": "https://pubsub.us-west1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://pubsub.us-west2.rep.googleapis.com/",
      "location": "us-west2",
      "description": "Regional Endpoint"
    },
    {
      "location": "us-west3",
      "description": "Regional Endpoint",
      "endpointUrl": "https://pubsub.us-west3.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "location": "us-west4",
      "endpointUrl": "https://pubsub.us-west4.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://pubsub.us-west8.rep.googleapis.com/",
      "location": "us-west8"
    }
  ],
  "schemas": {
    "PubsubWrapper": {
      "type": "object",
      "properties": {},
      "id": "PubsubWrapper",
      "description": "The payload to the push endpoint is in the form of the JSON representation of a PubsubMessage (https://cloud.google.com/pubsub/docs/reference/rpc/google.pubsub.v1#pubsubmessage)."
    },
    "UpdateSubscriptionRequest": {
      "description": "Request for the UpdateSubscription method.",
      "type": "object",
      "properties": {
        "subscription": {
          "description": "Required. The updated subscription object.",
          "$ref": "Subscription"
        },
        "updateMask": {
          "format": "google-fieldmask",
          "description": "Required. Indicates which fields in the provided subscription to update. Must be specified and non-empty.",
          "type": "string"
        }
      },
      "id": "UpdateSubscriptionRequest"
    },
    "ModifyAckDeadlineRequest": {
      "description": "Request for the ModifyAckDeadline method.",
      "type": "object",
      "id": "ModifyAckDeadlineRequest",
      "properties": {
        "ackIds": {
          "description": "Required. List of acknowledgment IDs.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "ackDeadlineSeconds": {
          "type": "integer",
          "format": "int32",
          "description": "Required. The new ack deadline with respect to the time this request was sent to the Pub/Sub system. For example, if the value is 10, the new ack deadline will expire 10 seconds after the `ModifyAckDeadline` call was made. Specifying zero might immediately make the message available for delivery to another subscriber client. This typically results in an increase in the rate of message redeliveries (that is, duplicates). The minimum deadline you can specify is 0 seconds. The maximum deadline you can specify in a single request is 600 seconds (10 minutes)."
        }
      }
    },
    "PullRequest": {
      "properties": {
        "returnImmediately": {
          "description": "Optional. If this field set to true, the system will respond immediately even if it there are no messages available to return in the `Pull` response. Otherwise, the system may wait (for a bounded amount of time) until at least one message is available, rather than returning no messages. Warning: setting this field to `true` is discouraged because it adversely impacts the performance of `Pull` operations. We recommend that users do not set this field.",
          "type": "boolean",
          "deprecated": true
        },
        "maxMessages": {
          "format": "int32",
          "type": "integer",
          "description": "Required. The maximum number of messages to return for this request. Must be a positive integer. The Pub/Sub system may return fewer than the number specified."
        }
      },
      "type": "object",
      "id": "PullRequest",
      "description": "Request for the `Pull` method."
    },
    "CloudStorage": {
      "description": "Ingestion settings for Cloud Storage.",
      "type": "object",
      "id": "CloudStorage",
      "properties": {
        "minimumObjectCreateTime": {
          "format": "google-datetime",
          "description": "Optional. Only objects with a larger or equal creation timestamp will be ingested.",
          "type": "string"
        },
        "avroFormat": {
          "description": "Optional. Data from Cloud Storage will be interpreted in Avro format.",
          "$ref": "AvroFormat"
        },
        "pubsubAvroFormat": {
          "description": "Optional. It will be assumed data from Cloud Storage was written via [Cloud Storage subscriptions](https://cloud.google.com/pubsub/docs/cloudstorage).",
          "$ref": "PubSubAvroFormat"
        },
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "CLOUD_STORAGE_PERMISSION_DENIED",
            "PUBLISH_PERMISSION_DENIED",
            "BUCKET_NOT_FOUND",
            "TOO_MANY_OBJECTS",
            "CONFLICTING_REGION_CONSTRAINTS"
          ],
          "description": "Output only. An output-only field that indicates the state of the Cloud Storage ingestion source.",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "Ingestion is active.",
            "Permission denied encountered while calling the Cloud Storage API. This can happen if the Pub/Sub SA has not been granted the [appropriate permissions](https://cloud.google.com/storage/docs/access-control/iam-permissions): - storage.objects.list: to list the objects in a bucket. - storage.objects.get: to read the objects in a bucket. - storage.buckets.get: to verify the bucket exists.",
            "Permission denied encountered while publishing to the topic. This can happen if the Pub/Sub SA has not been granted the [appropriate publish permissions](https://cloud.google.com/pubsub/docs/access-control#pubsub.publisher)",
            "The provided Cloud Storage bucket doesn't exist.",
            "The Cloud Storage bucket has too many objects, ingestion will be paused.",
            "Indicates an error state where the ingestion source cannot be processed because the selected ingestion region is not permitted by the Regional Access Boundary (RAB) restrictions on the project's service account."
          ],
          "readOnly": true,
          "type": "string"
        },
        "matchGlob": {
          "description": "Optional. Glob pattern used to match objects that will be ingested. If unset, all objects will be ingested. See the [supported patterns](https://cloud.google.com/storage/docs/json_api/v1/objects/list#list-objects-and-prefixes-using-glob).",
          "type": "string"
        },
        "textFormat": {
          "description": "Optional. Data from Cloud Storage will be interpreted as text.",
          "$ref": "TextFormat"
        },
        "bucket": {
          "description": "Optional. Cloud Storage bucket. The bucket name must be without any prefix like \"gs://\". See the [bucket naming requirements] (https://cloud.google.com/storage/docs/buckets#naming).",
          "type": "string"
        }
      }
    },
    "ValidateSchemaRequest": {
      "id": "ValidateSchemaRequest",
      "description": "Request for the `ValidateSchema` method.",
      "type": "object",
      "properties": {
        "schema": {
          "description": "Required. The schema object to validate.",
          "$ref": "Schema"
        }
      }
    },
    "TextFormat": {
      "id": "TextFormat",
      "properties": {
        "delimiter": {
          "type": "string",
          "description": "Optional. When unset, '\\n' is used."
        }
      },
      "type": "object",
      "description": "Configuration for reading Cloud Storage data in text format. Each line of text as specified by the delimiter will be set to the `data` field of a Pub/Sub message."
    },
    "UpdateTopicRequest": {
      "properties": {
        "topic": {
          "description": "Required. The updated topic object.",
          "$ref": "Topic"
        },
        "updateMask": {
          "format": "google-fieldmask",
          "description": "Required. Indicates which fields in the provided topic to update. Must be specified and non-empty. Note that if `update_mask` contains \"message_storage_policy\" but the `message_storage_policy` is not set in the `topic` provided above, then the updated value is determined by the policy configured at the project or organization level.",
          "type": "string"
        }
      },
      "id": "UpdateTopicRequest",
      "type": "object",
      "description": "Request for the UpdateTopic method."
    },
    "CommitSchemaRequest": {
      "properties": {
        "schema": {
          "$ref": "Schema",
          "description": "Required. The schema revision to commit."
        }
      },
      "id": "CommitSchemaRequest",
      "type": "object",
      "description": "Request for CommitSchema method."
    },
    "CreateSnapshotRequest": {
      "id": "CreateSnapshotRequest",
      "description": "Request for the `CreateSnapshot` method.",
      "type": "object",
      "properties": {
        "subscription": {
          "type": "string",
          "description": "Required. The subscription whose backlog the snapshot retains. Specifically, the created snapshot is guaranteed to retain: (a) The existing backlog on the subscription. More precisely, this is defined as the messages in the subscription's backlog that are unacknowledged upon the successful completion of the `CreateSnapshot` request; as well as: (b) Any messages published to the subscription's topic following the successful completion of the CreateSnapshot request. Format is `projects/{project}/subscriptions/{sub}`."
        },
        "tags": {
          "description": "Optional. Input only. Immutable. Tag keys/values directly bound to this resource. For example: \"123/environment\": \"production\", \"123/costCenter\": \"marketing\" See https://{$universe.dns_names.final_documentation_domain}/pubsub/docs/tags for more information on using tags with Pub/Sub resources.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. See [Creating and managing labels](https://cloud.google.com/pubsub/docs/labels).",
          "type": "object"
        }
      }
    },
    "SetIamPolicyRequest": {
      "type": "object",
      "id": "SetIamPolicyRequest",
      "description": "Request message for `SetIamPolicy` method.",
      "properties": {
        "policy": {
          "description": "REQUIRED: The complete policy to be applied to the `resource`. The size of the policy is limited to a few 10s of KB. An empty policy is a valid policy but certain Google Cloud services (such as Projects) might reject them.",
          "$ref": "Policy"
        }
      }
    },
    "AnalyticsHubSubscriptionInfo": {
      "type": "object",
      "id": "AnalyticsHubSubscriptionInfo",
      "description": "Information about an associated [Analytics Hub subscription](https://cloud.google.com/bigquery/docs/analytics-hub-manage-subscriptions).",
      "properties": {
        "subscription": {
          "type": "string",
          "description": "Optional. The name of the associated Analytics Hub subscription resource. Pattern: \"projects/{project}/locations/{location}/subscriptions/{subscription}\""
        },
        "listing": {
          "type": "string",
          "description": "Optional. The name of the associated Analytics Hub listing resource. Pattern: \"projects/{project}/locations/{location}/dataExchanges/{data_exchange}/listings/{listing}\""
        }
      }
    },
    "IngestionDataSourceSettings": {
      "properties": {
        "azureEventHubs": {
          "description": "Optional. Azure Event Hubs.",
          "$ref": "AzureEventHubs"
        },
        "awsMsk": {
          "description": "Optional. Amazon MSK.",
          "$ref": "AwsMsk"
        },
        "platformLogsSettings": {
          "description": "Optional. Platform Logs settings. If unset, no Platform Logs will be generated.",
          "$ref": "PlatformLogsSettings"
        },
        "confluentCloud": {
          "description": "Optional. Confluent Cloud.",
          "$ref": "ConfluentCloud"
        },
        "cloudStorage": {
          "description": "Optional. Cloud Storage.",
          "$ref": "CloudStorage"
        },
        "awsKinesis": {
          "description": "Optional. Amazon Kinesis Data Streams.",
          "$ref": "AwsKinesis"
        }
      },
      "description": "Settings for an ingestion data source on a topic.",
      "type": "object",
      "id": "IngestionDataSourceSettings"
    },
    "Subscription": {
      "properties": {
        "name": {
          "type": "string",
          "description": "Required. Identifier. The name of the subscription. It must have the format `\"projects/{project}/subscriptions/{subscription}\"`. `{subscription}` must start with a letter, and contain only letters (`[A-Za-z]`), numbers (`[0-9]`), dashes (`-`), underscores (`_`), periods (`.`), tildes (`~`), plus (`+`) or percent signs (`%`). It must be between 3 and 255 characters in length, and it must not start with `\"goog\"`."
        },
        "retainAckedMessages": {
          "description": "Optional. Indicates whether to retain acknowledged messages. If true, then messages are not expunged from the subscription's backlog, even if they are acknowledged, until they fall out of the `message_retention_duration` window. This must be true if you would like to [`Seek` to a timestamp] (https://cloud.google.com/pubsub/docs/replay-overview#seek_to_a_time) in the past to replay previously-acknowledged messages.",
          "type": "boolean"
        },
        "enableExactlyOnceDelivery": {
          "type": "boolean",
          "description": "Optional. If true, Pub/Sub provides the following guarantees for the delivery of a message with a given value of `message_id` on this subscription: * The message sent to a subscriber is guaranteed not to be resent before the message's acknowledgment deadline expires. * An acknowledged message will not be resent to a subscriber. Note that subscribers may still receive multiple copies of a message when `enable_exactly_once_delivery` is true if the message was published multiple times by a publisher client. These copies are considered distinct by Pub/Sub and have distinct `message_id` values."
        },
        "cloudStorageConfig": {
          "$ref": "CloudStorageConfig",
          "description": "Optional. If delivery to Google Cloud Storage is used with this subscription, this field is used to configure it."
        },
        "enableMessageOrdering": {
          "description": "Optional. If true, messages published with the same `ordering_key` in `PubsubMessage` will be delivered to the subscribers in the order in which they are received by the Pub/Sub system. Otherwise, they may be delivered in any order.",
          "type": "boolean"
        },
        "labels": {
          "description": "Optional. See [Creating and managing labels](https://cloud.google.com/pubsub/docs/labels).",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "topicMessageRetentionDuration": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Indicates the minimum duration for which a message is retained after it is published to the subscription's topic. If this field is set, messages published to the subscription's topic in the last `topic_message_retention_duration` are always available to subscribers. See the `message_retention_duration` field in `Topic`. This field is set only in responses from the server; it is ignored if it is set in any requests.",
          "format": "google-duration"
        },
        "analyticsHubSubscriptionInfo": {
          "description": "Output only. Information about the associated Analytics Hub subscription. Only set if the subscription is created by Analytics Hub.",
          "$ref": "AnalyticsHubSubscriptionInfo",
          "readOnly": true
        },
        "bigqueryConfig": {
          "$ref": "BigQueryConfig",
          "description": "Optional. If delivery to BigQuery is used with this subscription, this field is used to configure it."
        },
        "detached": {
          "description": "Optional. Indicates whether the subscription is detached from its topic. Detached subscriptions don't receive messages from their topic and don't retain any backlog. `Pull` and `StreamingPull` requests will return FAILED_PRECONDITION. If the subscription is a push subscription, pushes to the endpoint will not be made.",
          "type": "boolean"
        },
        "retryPolicy": {
          "$ref": "RetryPolicy",
          "description": "Optional. A policy that specifies how Pub/Sub retries message delivery for this subscription. If not set, the default retry policy is applied. This generally implies that messages will be retried as soon as possible for healthy subscribers. RetryPolicy will be triggered on NACKs or acknowledgment deadline exceeded events for a given message."
        },
        "pushConfig": {
          "description": "Optional. If push delivery is used with this subscription, this field is used to configure it.",
          "$ref": "PushConfig"
        },
        "ackDeadlineSeconds": {
          "format": "int32",
          "description": "Optional. The approximate amount of time (on a best-effort basis) Pub/Sub waits for the subscriber to acknowledge receipt before resending the message. In the interval after the message is delivered and before it is acknowledged, it is considered to be _outstanding_. During that time period, the message will not be redelivered (on a best-effort basis). For pull subscriptions, this value is used as the initial value for the ack deadline. To override this value for a given message, call `ModifyAckDeadline` with the corresponding `ack_id` if using non-streaming pull or send the `ack_id` in a `StreamingModifyAckDeadlineRequest` if using streaming pull. The minimum custom deadline you can specify is 10 seconds. The maximum custom deadline you can specify is 600 seconds (10 minutes). If this parameter is 0, a default value of 10 seconds is used. For push delivery, this value is also used to set the request timeout for the call to the push endpoint. If the subscriber never acknowledges the message, the Pub/Sub system will eventually redeliver the message.",
          "type": "integer"
        },
        "messageRetentionDuration": {
          "format": "google-duration",
          "type": "string",
          "description": "Optional. How long to retain unacknowledged messages in the subscription's backlog, from the moment a message is published. If `retain_acked_messages` is true, then this also configures the retention of acknowledged messages, and thus configures how far back in time a `Seek` can be done. Defaults to 7 days. Cannot be more than 31 days or less than 10 minutes."
        },
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "RESOURCE_ERROR"
          ],
          "enumDescriptions": [
            "Default value. This value is unused.",
            "The subscription can actively receive messages",
            "The subscription cannot receive messages because of an error with the resource to which it pushes messages. See the more detailed error state in the corresponding configuration."
          ],
          "type": "string",
          "description": "Output only. An output-only field indicating whether or not the subscription can receive messages.",
          "readOnly": true
        },
        "bigtableConfig": {
          "description": "Optional. If delivery to Bigtable is used with this subscription, this field is used to configure it.",
          "$ref": "BigtableConfig"
        },
        "topic": {
          "type": "string",
          "description": "Required. The name of the topic from which this subscription is receiving messages. Format is `projects/{project}/topics/{topic}`. The value of this field will be `_deleted-topic_` if the topic has been deleted."
        },
        "tags": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. Input only. Immutable. Tag keys/values directly bound to this resource. For example: \"123/environment\": \"production\", \"123/costCenter\": \"marketing\" See https://{$universe.dns_names.final_documentation_domain}/pubsub/docs/tags for more information on using tags with Pub/Sub resources."
        },
        "deadLetterPolicy": {
          "$ref": "DeadLetterPolicy",
          "description": "Optional. A policy that specifies the conditions for dead lettering messages in this subscription. If dead_letter_policy is not set, dead lettering is disabled. The Pub/Sub service account associated with this subscriptions's parent project (i.e., service-{project_number}@gcp-sa-pubsub.iam.gserviceaccount.com) must have permission to Acknowledge() messages on this subscription."
        },
        "filter": {
          "type": "string",
          "description": "Optional. An expression written in the Pub/Sub [filter language](https://cloud.google.com/pubsub/docs/filtering). If non-empty, then only `PubsubMessage`s whose `attributes` field matches the filter are delivered on this subscription. If empty, then no messages are filtered out."
        },
        "messageTransforms": {
          "description": "Optional. Transforms to be applied to messages before they are delivered to subscribers. Transforms are applied in the order specified.",
          "items": {
            "$ref": "MessageTransform"
          },
          "type": "array"
        },
        "expirationPolicy": {
          "$ref": "ExpirationPolicy",
          "description": "Optional. A policy that specifies the conditions for this subscription's expiration. A subscription is considered active as long as any connected subscriber is successfully consuming messages from the subscription or is issuing operations on the subscription. If `expiration_policy` is not set, a *default policy* with `ttl` of 31 days will be used. The minimum allowed value for `expiration_policy.ttl` is 1 day. If `expiration_policy` is set, but `expiration_policy.ttl` is not set, the subscription never expires."
        }
      },
      "id": "Subscription",
      "description": "A subscription resource. If none of `push_config`, `bigquery_config`, `cloud_storage_config`, or `bigtable_config` is set, then the subscriber will pull and ack messages using API methods. At most one of these fields may be set.",
      "type": "object"
    },
    "ConfluentCloud": {
      "properties": {
        "clusterId": {
          "type": "string",
          "description": "Required. The id of the cluster."
        },
        "gcpServiceAccount": {
          "description": "Required. The GCP service account to be used for Federated Identity authentication with `identity_pool_id`.",
          "type": "string"
        },
        "topic": {
          "description": "Required. The name of the topic in the Confluent Cloud cluster that Pub/Sub will import from.",
          "type": "string"
        },
        "bootstrapServer": {
          "description": "Required. The address of the bootstrap server. The format is url:port.",
          "type": "string"
        },
        "state": {
          "readOnly": true,
          "description": "Output only. An output-only field that indicates the state of the Confluent Cloud ingestion source.",
          "type": "string",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "Ingestion is active.",
            "Permission denied encountered while consuming data from Confluent Cloud.",
            "Permission denied encountered while publishing to the topic.",
            "The provided bootstrap server address is unreachable.",
            "The provided cluster wasn't found.",
            "The provided topic wasn't found.",
            "Indicates an error state where the ingestion source cannot be processed because the selected ingestion region is not permitted by the Regional Access Boundary (RAB) restrictions on the project's service account."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "CONFLUENT_CLOUD_PERMISSION_DENIED",
            "PUBLISH_PERMISSION_DENIED",
            "UNREACHABLE_BOOTSTRAP_SERVER",
            "CLUSTER_NOT_FOUND",
            "TOPIC_NOT_FOUND",
            "CONFLICTING_REGION_CONSTRAINTS"
          ]
        },
        "identityPoolId": {
          "description": "Required. The id of the identity pool to be used for Federated Identity authentication with Confluent Cloud. See https://docs.confluent.io/cloud/current/security/authenticate/workload-identities/identity-providers/oauth/identity-pools.html#add-oauth-identity-pools.",
          "type": "string"
        }
      },
      "id": "ConfluentCloud",
      "type": "object",
      "description": "Ingestion settings for Confluent Cloud."
    },
    "ValidateSchemaResponse": {
      "description": "Response for the `ValidateSchema` method. Empty for now.",
      "properties": {},
      "id": "ValidateSchemaResponse",
      "type": "object"
    },
    "RetryPolicy": {
      "type": "object",
      "properties": {
        "minimumBackoff": {
          "description": "Optional. The minimum delay between consecutive deliveries of a given message. Value should be between 0 and 600 seconds. Defaults to 10 seconds.",
          "type": "string",
          "format": "google-duration"
        },
        "maximumBackoff": {
          "type": "string",
          "format": "google-duration",
          "description": "Optional. The maximum delay between consecutive deliveries of a given message. Value should be between 0 and 600 seconds. Defaults to 600 seconds."
        }
      },
      "description": "A policy that specifies how Pub/Sub retries message delivery. Retry delay will be exponential based on provided minimum and maximum backoffs. https://en.wikipedia.org/wiki/Exponential_backoff. RetryPolicy will be triggered on NACKs or acknowledgment deadline exceeded events for a given message. Retry Policy is implemented on a best effort basis. At times, the delay between consecutive deliveries may not match the configuration. That is, delay can be more or less than configured backoff.",
      "id": "RetryPolicy"
    },
    "ListTopicSnapshotsResponse": {
      "id": "ListTopicSnapshotsResponse",
      "description": "Response for the `ListTopicSnapshots` method.",
      "type": "object",
      "properties": {
        "snapshots": {
          "type": "array",
          "description": "Optional. The names of the snapshots that match the request.",
          "items": {
            "type": "string"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "Optional. If not empty, indicates that there may be more snapshots that match the request; this value should be passed in a new `ListTopicSnapshotsRequest` to get more snapshots."
        }
      }
    },
    "ValidateMessageRequest": {
      "type": "object",
      "description": "Request for the `ValidateMessage` method.",
      "id": "ValidateMessageRequest",
      "properties": {
        "message": {
          "type": "string",
          "description": "Message to validate against the provided `schema_spec`.",
          "format": "byte"
        },
        "schema": {
          "$ref": "Schema",
          "description": "Ad-hoc schema against which to validate"
        },
        "name": {
          "description": "Name of the schema against which to validate. Format is `projects/{project}/schemas/{schema}`.",
          "type": "string"
        },
        "encoding": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified",
            "JSON encoding",
            "Binary encoding, as defined by the schema type. For some schema types, binary encoding may not be available."
          ],
          "description": "The encoding expected for messages",
          "enum": [
            "ENCODING_UNSPECIFIED",
            "JSON",
            "BINARY"
          ]
        }
      }
    },
    "PublishRequest": {
      "id": "PublishRequest",
      "type": "object",
      "properties": {
        "messages": {
          "items": {
            "$ref": "PubsubMessage"
          },
          "description": "Required. The messages to publish.",
          "type": "array"
        }
      },
      "description": "Request for the Publish method."
    },
    "BigtableConfig": {
      "properties": {
        "table": {
          "type": "string",
          "description": "Optional. The unique name of the table to write messages to. Values are of the form `projects//instances//tables/`."
        },
        "appProfileId": {
          "description": "Optional. The app profile to use for the Bigtable writes. If not specified, the \"default\" application profile will be used. The app profile must use single-cluster routing.",
          "type": "string"
        },
        "serviceAccountEmail": {
          "description": "Optional. The service account to use to write to Bigtable. The subscription creator or updater that specifies this field must have `iam.serviceAccounts.actAs` permission on the service account. If not specified, the Pub/Sub [service agent](https://cloud.google.com/iam/docs/service-agents), service-{project_number}@gcp-sa-pubsub.iam.gserviceaccount.com, is used.",
          "type": "string"
        },
        "writeMetadata": {
          "type": "boolean",
          "description": "Optional. When true, write the subscription name, message_id, publish_time, attributes, and ordering_key to additional columns in the table under the pubsub_metadata column family. The subscription name, message_id, and publish_time fields are put in their own columns while all other message properties (other than data) are written to a JSON object in the attributes column."
        },
        "state": {
          "enumDescriptions": [
            "Default value. This value is unused.",
            "The subscription can actively send messages to Bigtable.",
            "Unused in the current implementation. Placeholder for future use.",
            "Unused in the current implementation. Placeholder for future use.",
            "Cannot write to Bigtable because of permission denied errors. This can happen if: - The Bigtable instance, table, or app profile does not exist. - The Pub/Sub service agent has not been granted the [appropriate Bigtable IAM permission bigtable.tables.mutateRows]({$universe.dns_names.final_documentation_domain}/bigtable/docs/access-control#permissions) - The bigtable.googleapis.com API is not enabled for the project ([instructions]({$universe.dns_names.final_documentation_domain}/service-usage/docs/enable-disable))",
            "Cannot write to Bigtable because of a missing column family (`data`), or if there is no structured row key for the subscription name + message ID, if because the app profile is not configured for single-cluster routing.",
            "Cannot write to the destination because enforce_in_transit is set to true and the destination locations are not in the allowed regions.",
            "Cannot write to Bigtable because the table is not in the same location as where Vertex AI models used in `message_transform`s are deployed."
          ],
          "description": "Output only. An output-only field that indicates whether or not the subscription can receive messages.",
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "NOT_FOUND",
            "APP_PROFILE_MISCONFIGURED",
            "PERMISSION_DENIED",
            "SCHEMA_MISMATCH",
            "IN_TRANSIT_LOCATION_RESTRICTION",
            "VERTEX_AI_LOCATION_RESTRICTION"
          ],
          "type": "string"
        }
      },
      "type": "object",
      "description": "Configuration for a Bigtable subscription. The Pub/Sub message will be written to a Bigtable row as follows: - row key: subscription name, message ID hash, and message ID delimited by `#`. - columns: message bytes written to a single column family `data` with an empty-string column qualifier. - cell timestamp: the message publish timestamp.",
      "id": "BigtableConfig"
    },
    "ExpirationPolicy": {
      "id": "ExpirationPolicy",
      "description": "A policy that specifies the conditions for resource expiration (i.e., automatic resource deletion).",
      "properties": {
        "ttl": {
          "description": "Optional. Specifies the \"time-to-live\" duration for an associated resource. The resource expires if it is not active for a period of `ttl`. The definition of \"activity\" depends on the type of the associated resource. The minimum and maximum allowed values for `ttl` depend on the type of the associated resource, as well. If `ttl` is not set, the associated resource never expires.",
          "type": "string",
          "format": "google-duration"
        }
      },
      "type": "object"
    },
    "ListTopicsResponse": {
      "type": "object",
      "description": "Response for the `ListTopics` method.",
      "id": "ListTopicsResponse",
      "properties": {
        "topics": {
          "items": {
            "$ref": "Topic"
          },
          "type": "array",
          "description": "Optional. The resulting topics."
        },
        "nextPageToken": {
          "type": "string",
          "description": "Optional. If not empty, indicates that there may be more topics that match the request; this value should be passed in a new `ListTopicsRequest`."
        }
      }
    },
    "Compression": {
      "type": "object",
      "id": "Compression",
      "properties": {
        "compressionAlgorithm": {
          "type": "string",
          "description": "Required. Specifies the compression algorithm to use.",
          "enum": [
            "COMPRESSION_ALGORITHM_UNSPECIFIED",
            "ZLIB"
          ],
          "enumDescriptions": [
            "Unspecified algorithm.",
            "ZLIB compression."
          ]
        },
        "compressionMode": {
          "description": "Required. Specifies whether to compress or decompress the message.",
          "type": "string",
          "enum": [
            "COMPRESSION_MODE_UNSPECIFIED",
            "COMPRESS",
            "DECOMPRESS"
          ],
          "enumDescriptions": [
            "Unspecified mode.",
            "Compress.",
            "Decompress."
          ]
        }
      },
      "description": "Configuration for compressing/decompressing message data using a user-specified compression algorithm."
    },
    "PlatformLogsSettings": {
      "description": "Settings for Platform Logs produced by Pub/Sub.",
      "id": "PlatformLogsSettings",
      "type": "object",
      "properties": {
        "severity": {
          "enum": [
            "SEVERITY_UNSPECIFIED",
            "DISABLED",
            "DEBUG",
            "INFO",
            "WARNING",
            "ERROR"
          ],
          "type": "string",
          "description": "Optional. The minimum severity level of Platform Logs that will be written.",
          "enumDescriptions": [
            "Default value. Logs level is unspecified. Logs will be disabled.",
            "Logs will be disabled.",
            "Debug logs and higher-severity logs will be written.",
            "Info logs and higher-severity logs will be written.",
            "Warning logs and higher-severity logs will be written.",
            "Only error logs will be written."
          ]
        }
      }
    },
    "UpdateSnapshotRequest": {
      "properties": {
        "updateMask": {
          "format": "google-fieldmask",
          "type": "string",
          "description": "Required. Indicates which fields in the provided snapshot to update. Must be specified and non-empty."
        },
        "snapshot": {
          "description": "Required. The updated snapshot object.",
          "$ref": "Snapshot"
        }
      },
      "description": "Request for the UpdateSnapshot method.",
      "type": "object",
      "id": "UpdateSnapshotRequest"
    },
    "JavaScriptUDF": {
      "description": "User-defined JavaScript function that can transform or filter a Pub/Sub message.",
      "type": "object",
      "id": "JavaScriptUDF",
      "properties": {
        "functionName": {
          "description": "Required. Name of the JavasScript function that should applied to Pub/Sub messages.",
          "type": "string"
        },
        "code": {
          "description": "Required. JavaScript code that contains a function `function_name` with the below signature: ``` /** * Transforms a Pub/Sub message. * @return {(Object)>|null)} - To * filter a message, return `null`. To transform a message return a map * with the following keys: * - (required) 'data' : {string} * - (optional) 'attributes' : {Object} * Returning empty `attributes` will remove all attributes from the * message. * * @param {(Object)>} Pub/Sub * message. Keys: * - (required) 'data' : {string} * - (required) 'attributes' : {Object} * * @param {Object} metadata - Pub/Sub message metadata. * Keys: * - (optional) 'message_id' : {string} * - (optional) 'publish_time': {string} YYYY-MM-DDTHH:MM:SSZ format * - (optional) 'ordering_key': {string} */ function (message, metadata) { } ```",
          "type": "string"
        }
      }
    },
    "AzureEventHubs": {
      "description": "Ingestion settings for Azure Event Hubs.",
      "type": "object",
      "id": "AzureEventHubs",
      "properties": {
        "eventHub": {
          "description": "Optional. The name of the Event Hub.",
          "type": "string"
        },
        "subscriptionId": {
          "type": "string",
          "description": "Optional. The Azure subscription id."
        },
        "clientId": {
          "description": "Optional. The client id of the Azure application that is being used to authenticate Pub/Sub.",
          "type": "string"
        },
        "resourceGroup": {
          "description": "Optional. Name of the resource group within the azure subscription.",
          "type": "string"
        },
        "tenantId": {
          "description": "Optional. The tenant id of the Azure application that is being used to authenticate Pub/Sub.",
          "type": "string"
        },
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "EVENT_HUBS_PERMISSION_DENIED",
            "PUBLISH_PERMISSION_DENIED",
            "NAMESPACE_NOT_FOUND",
            "EVENT_HUB_NOT_FOUND",
            "SUBSCRIPTION_NOT_FOUND",
            "RESOURCE_GROUP_NOT_FOUND",
            "CONFLICTING_REGION_CONSTRAINTS"
          ],
          "type": "string",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "Ingestion is active.",
            "Permission denied encountered while consuming data from Event Hubs. This can happen when `client_id`, or `tenant_id` are invalid. Or the right permissions haven't been granted.",
            "Permission denied encountered while publishing to the topic.",
            "The provided Event Hubs namespace couldn't be found.",
            "The provided Event Hub couldn't be found.",
            "The provided Event Hubs subscription couldn't be found.",
            "The provided Event Hubs resource group couldn't be found.",
            "Indicates an error state where the ingestion source cannot be processed because the selected ingestion region is not permitted by the Regional Access Boundary (RAB) restrictions on the project's service account."
          ],
          "description": "Output only. An output-only field that indicates the state of the Event Hubs ingestion source.",
          "readOnly": true
        },
        "gcpServiceAccount": {
          "type": "string",
          "description": "Optional. The GCP service account to be used for Federated Identity authentication."
        },
        "namespace": {
          "description": "Optional. The name of the Event Hubs namespace.",
          "type": "string"
        }
      }
    },
    "MessageStoragePolicy": {
      "description": "A policy constraining the storage of messages published to the topic.",
      "type": "object",
      "id": "MessageStoragePolicy",
      "properties": {
        "allowedPersistenceRegions": {
          "description": "Optional. A list of IDs of Google Cloud regions where messages that are published to the topic may be persisted in storage. Messages published by publishers running in non-allowed Google Cloud regions (or running outside of Google Cloud altogether) are routed for storage in one of the allowed regions. An empty list means that no regions are allowed, and is not a valid configuration.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "enforceInTransit": {
          "type": "boolean",
          "description": "Optional. If true, `allowed_persistence_regions` is also used to enforce in-transit guarantees for messages. That is, Pub/Sub will fail Publish operations on this topic and subscribe operations on any subscription attached to this topic in any region that is not in `allowed_persistence_regions`."
        }
      }
    },
    "AvroConfig": {
      "properties": {
        "useTopicSchema": {
          "description": "Optional. When true, the output Cloud Storage file will be serialized using the topic schema, if it exists.",
          "type": "boolean"
        },
        "writeMetadata": {
          "description": "Optional. When true, write the subscription name, message_id, publish_time, attributes, and ordering_key as additional fields in the output. The subscription name, message_id, and publish_time fields are put in their own fields while all other message properties other than data (for example, an ordering_key, if present) are added as entries in the attributes map.",
          "type": "boolean"
        }
      },
      "type": "object",
      "id": "AvroConfig",
      "description": "Configuration for writing message data in Avro format. Message payloads and metadata will be written to files as an Avro binary."
    },
    "Snapshot": {
      "id": "Snapshot",
      "description": "A snapshot resource. Snapshots are used in [Seek](https://cloud.google.com/pubsub/docs/replay-overview) operations, which allow you to manage message acknowledgments in bulk. That is, you can set the acknowledgment state of messages in an existing subscription to the state captured by a snapshot.",
      "type": "object",
      "properties": {
        "topic": {
          "description": "Optional. The name of the topic from which this snapshot is retaining messages.",
          "type": "string"
        },
        "expireTime": {
          "description": "Optional. The snapshot is guaranteed to exist up until this time. A newly-created snapshot expires no later than 7 days from the time of its creation. Its exact lifetime is determined at creation by the existing backlog in the source subscription. Specifically, the lifetime of the snapshot is `7 days - (age of oldest unacked message in the subscription)`. For example, consider a subscription whose oldest unacked message is 3 days old. If a snapshot is created from this subscription, the snapshot -- which will always capture this 3-day-old backlog as long as the snapshot exists -- will expire in 4 days. The service will refuse to create a snapshot that would expire in less than 1 hour after creation.",
          "format": "google-datetime",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Optional. The name of the snapshot."
        },
        "labels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. See [Creating and managing labels] (https://cloud.google.com/pubsub/docs/labels)."
        }
      }
    },
    "TestIamPermissionsRequest": {
      "description": "Request message for `TestIamPermissions` method.",
      "properties": {
        "permissions": {
          "items": {
            "type": "string"
          },
          "description": "The set of permissions to check for the `resource`. Permissions with wildcards (such as `*` or `storage.*`) are not allowed. For more information see [IAM Overview](https://cloud.google.com/iam/docs/overview#permissions).",
          "type": "array"
        }
      },
      "id": "TestIamPermissionsRequest",
      "type": "object"
    },
    "DeadLetterPolicy": {
      "id": "DeadLetterPolicy",
      "properties": {
        "maxDeliveryAttempts": {
          "format": "int32",
          "description": "Optional. The maximum number of delivery attempts for any message. The value must be between 5 and 100. The number of delivery attempts is defined as 1 + (the sum of number of NACKs and number of times the acknowledgment deadline has been exceeded for the message). A NACK is any call to ModifyAckDeadline with a 0 deadline. Note that client libraries may automatically extend ack_deadlines. This field will be honored on a best effort basis. If this parameter is 0, a default value of 5 is used.",
          "type": "integer"
        },
        "deadLetterTopic": {
          "description": "Optional. The name of the topic to which dead letter messages should be published. Format is `projects/{project}/topics/{topic}`.The Pub/Sub service account associated with the enclosing subscription's parent project (i.e., service-{project_number}@gcp-sa-pubsub.iam.gserviceaccount.com) must have permission to Publish() to this topic. The operation will fail if the topic does not exist. Users should ensure that there is a subscription attached to this topic since messages published to a topic with no subscriptions are lost.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Dead lettering is done on a best effort basis. The same message might be dead lettered multiple times. If validation on any of the fields fails at subscription creation/updation, the create/update subscription request will fail."
    },
    "TextConfig": {
      "properties": {},
      "description": "Configuration for writing message data in text format. Message payloads will be written to files as raw text, separated by a newline.",
      "id": "TextConfig",
      "type": "object"
    },
    "PushConfig": {
      "description": "Configuration for a push delivery endpoint.",
      "type": "object",
      "properties": {
        "oidcToken": {
          "description": "Optional. If specified, Pub/Sub will generate and attach an OIDC JWT token as an `Authorization` header in the HTTP request for every pushed message.",
          "$ref": "OidcToken"
        },
        "attributes": {
          "description": "Optional. Endpoint configuration attributes that can be used to control different aspects of the message delivery. The only currently supported attribute is `x-goog-version`, which you can use to change the format of the pushed message. This attribute indicates the version of the data expected by the endpoint. This controls the shape of the pushed message (i.e., its fields and metadata). If not present during the `CreateSubscription` call, it will default to the version of the Pub/Sub API used to make such call. If not present in a `ModifyPushConfig` call, its value will not be changed. `GetSubscription` calls will always return a valid version, even if the subscription was created without this attribute. The only supported values for the `x-goog-version` attribute are: * `v1beta1`: uses the push format defined in the v1beta1 Pub/Sub API. * `v1` or `v1beta2`: uses the push format defined in the v1 Pub/Sub API. For example: `attributes { \"x-goog-version\": \"v1\" }`",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "pushEndpoint": {
          "description": "Optional. A URL locating the endpoint to which messages should be pushed. For example, a Webhook endpoint might use `https://example.com/push`.",
          "type": "string"
        },
        "pubsubWrapper": {
          "$ref": "PubsubWrapper",
          "description": "Optional. When set, the payload to the push endpoint is in the form of the JSON representation of a PubsubMessage (https://cloud.google.com/pubsub/docs/reference/rpc/google.pubsub.v1#pubsubmessage)."
        },
        "noWrapper": {
          "description": "Optional. When set, the payload to the push endpoint is not wrapped.",
          "$ref": "NoWrapper"
        }
      },
      "id": "PushConfig"
    },
    "SchemaSettings": {
      "properties": {
        "encoding": {
          "description": "Optional. The encoding of messages validated against `schema`.",
          "enum": [
            "ENCODING_UNSPECIFIED",
            "JSON",
            "BINARY"
          ],
          "enumDescriptions": [
            "Unspecified",
            "JSON encoding",
            "Binary encoding, as defined by the schema type. For some schema types, binary encoding may not be available."
          ],
          "type": "string"
        },
        "lastRevisionId": {
          "type": "string",
          "description": "Optional. The maximum (inclusive) revision allowed for validating messages. If empty or not present, allow any revision to be validated against first_revision or any revision created after."
        },
        "firstRevisionId": {
          "description": "Optional. The minimum (inclusive) revision allowed for validating messages. If empty or not present, allow any revision to be validated against last_revision or any revision created before.",
          "type": "string"
        },
        "schema": {
          "type": "string",
          "description": "Required. The name of the schema that messages published should be validated against. Format is `projects/{project}/schemas/{schema}`. The value of this field will be `_deleted-schema_` if the schema has been deleted."
        }
      },
      "description": "Settings for validating messages published against a schema.",
      "type": "object",
      "id": "SchemaSettings"
    },
    "SeekRequest": {
      "id": "SeekRequest",
      "description": "Request for the `Seek` method.",
      "properties": {
        "time": {
          "type": "string",
          "format": "google-datetime",
          "description": "Optional. The time to seek to. Messages retained in the subscription that were published before this time are marked as acknowledged, and messages retained in the subscription that were published after this time are marked as unacknowledged. Note that this operation affects only those messages retained in the subscription (configured by the combination of `message_retention_duration` and `retain_acked_messages`). For example, if `time` corresponds to a point before the message retention window (or to a point before the system's notion of the subscription creation time), only retained messages will be marked as unacknowledged, and already-expunged messages will not be restored."
        },
        "snapshot": {
          "type": "string",
          "description": "Optional. The snapshot to seek to. The snapshot's topic must be the same as that of the provided subscription. Format is `projects/{project}/snapshots/{snap}`."
        }
      },
      "type": "object"
    },
    "ListSchemasResponse": {
      "description": "Response for the `ListSchemas` method.",
      "type": "object",
      "properties": {
        "schemas": {
          "type": "array",
          "items": {
            "$ref": "Schema"
          },
          "description": "The resulting schemas."
        },
        "nextPageToken": {
          "description": "If not empty, indicates that there may be more schemas that match the request; this value should be passed in a new `ListSchemasRequest`.",
          "type": "string"
        }
      },
      "id": "ListSchemasResponse"
    },
    "AwsKinesis": {
      "id": "AwsKinesis",
      "description": "Ingestion settings for Amazon Kinesis Data Streams.",
      "type": "object",
      "properties": {
        "state": {
          "description": "Output only. An output-only field that indicates the state of the Kinesis ingestion source.",
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "KINESIS_PERMISSION_DENIED",
            "PUBLISH_PERMISSION_DENIED",
            "STREAM_NOT_FOUND",
            "CONSUMER_NOT_FOUND",
            "CONFLICTING_REGION_CONSTRAINTS"
          ],
          "enumDescriptions": [
            "Default value. This value is unused.",
            "Ingestion is active.",
            "Permission denied encountered while consuming data from Kinesis. This can happen if: - The provided `aws_role_arn` does not exist or does not have the appropriate permissions attached. - The provided `aws_role_arn` is not set up properly for Identity Federation using `gcp_service_account`. - The Pub/Sub SA is not granted the `iam.serviceAccounts.getOpenIdToken` permission on `gcp_service_account`.",
            "Permission denied encountered while publishing to the topic. This can happen if the Pub/Sub SA has not been granted the [appropriate publish permissions](https://cloud.google.com/pubsub/docs/access-control#pubsub.publisher)",
            "The Kinesis stream does not exist.",
            "The Kinesis consumer does not exist.",
            "Indicates an error state where the ingestion source cannot be processed because the selected ingestion region is not permitted by the Regional Access Boundary (RAB) restrictions on the project's service account."
          ],
          "type": "string"
        },
        "gcpServiceAccount": {
          "description": "Required. The GCP service account to be used for Federated Identity authentication with Kinesis (via a `AssumeRoleWithWebIdentity` call for the provided role). The `aws_role_arn` must be set up with `accounts.google.com:sub` equals to this service account number.",
          "type": "string"
        },
        "consumerArn": {
          "type": "string",
          "description": "Required. The Kinesis consumer ARN to used for ingestion in Enhanced Fan-Out mode. The consumer must be already created and ready to be used."
        },
        "awsRoleArn": {
          "type": "string",
          "description": "Required. AWS role ARN to be used for Federated Identity authentication with Kinesis. Check the Pub/Sub docs for how to set up this role and the required permissions that need to be attached to it."
        },
        "streamArn": {
          "type": "string",
          "description": "Required. The Kinesis stream ARN to ingest data from."
        }
      }
    },
    "DetachSubscriptionResponse": {
      "id": "DetachSubscriptionResponse",
      "description": "Response for the DetachSubscription method. Reserved for future use.",
      "properties": {},
      "type": "object"
    },
    "SeekResponse": {
      "type": "object",
      "description": "Response for the `Seek` method (this response is empty).",
      "properties": {},
      "id": "SeekResponse"
    },
    "AvroFormat": {
      "id": "AvroFormat",
      "description": "Configuration for reading Cloud Storage data in Avro binary format. The bytes of each object will be set to the `data` field of a Pub/Sub message.",
      "properties": {},
      "type": "object"
    },
    "ModifyPushConfigRequest": {
      "properties": {
        "pushConfig": {
          "description": "Required. The push configuration for future deliveries. An empty `pushConfig` indicates that the Pub/Sub system should stop pushing messages from the given subscription and allow messages to be pulled and acknowledged - effectively pausing the subscription if `Pull` or `StreamingPull` is not called.",
          "$ref": "PushConfig"
        }
      },
      "id": "ModifyPushConfigRequest",
      "description": "Request for the ModifyPushConfig method.",
      "type": "object"
    },
    "OidcToken": {
      "type": "object",
      "id": "OidcToken",
      "description": "Contains information needed for generating an [OpenID Connect token](https://developers.google.com/identity/protocols/OpenIDConnect).",
      "properties": {
        "audience": {
          "type": "string",
          "description": "Optional. Audience to be used when generating OIDC token. The audience claim identifies the recipients that the JWT is intended for. The audience value is a single case-sensitive string. Having multiple values (array) for the audience field is not supported. More info about the OIDC JWT token audience here: https://tools.ietf.org/html/rfc7519#section-4.1.3 Note: if not specified, the Push endpoint URL will be used."
        },
        "serviceAccountEmail": {
          "description": "Optional. [Service account email](https://cloud.google.com/iam/docs/service-accounts) used for generating the OIDC token. For more information on setting up authentication, see [Push subscriptions](https://cloud.google.com/pubsub/docs/push).",
          "type": "string"
        }
      }
    },
    "ValidateMessageResponse": {
      "type": "object",
      "properties": {},
      "id": "ValidateMessageResponse",
      "description": "Response for the `ValidateMessage` method. Empty for now."
    },
    "ReceivedMessage": {
      "properties": {
        "ackId": {
          "description": "Optional. This ID can be used to acknowledge the received message.",
          "type": "string"
        },
        "message": {
          "description": "Optional. The message.",
          "$ref": "PubsubMessage"
        },
        "deliveryAttempt": {
          "description": "Optional. The approximate number of times that Pub/Sub has attempted to deliver the associated message to a subscriber. More precisely, this is 1 + (number of NACKs) + (number of ack_deadline exceeds) for this message. A NACK is any call to ModifyAckDeadline with a 0 deadline. An ack_deadline exceeds event is whenever a message is not acknowledged within ack_deadline. Note that ack_deadline is initially Subscription.ackDeadlineSeconds, but may get extended automatically by the client library. Upon the first delivery of a given message, `delivery_attempt` will have a value of 1. The value is calculated at best effort and is approximate. If a DeadLetterPolicy is not set on the subscription, this will be 0.",
          "type": "integer",
          "format": "int32"
        }
      },
      "id": "ReceivedMessage",
      "type": "object",
      "description": "A message and its corresponding acknowledgment ID."
    },
    "AcknowledgeRequest": {
      "id": "AcknowledgeRequest",
      "properties": {
        "ackIds": {
          "items": {
            "type": "string"
          },
          "description": "Required. The acknowledgment ID for the messages being acknowledged that was returned by the Pub/Sub system in the `Pull` response. Must not be empty.",
          "type": "array"
        }
      },
      "type": "object",
      "description": "Request for the Acknowledge method."
    },
    "Expr": {
      "properties": {
        "location": {
          "description": "Optional. String indicating the location of the expression for error reporting, e.g. a file name and a position in the file.",
          "type": "string"
        },
        "title": {
          "type": "string",
          "description": "Optional. Title for the expression, i.e. a short string describing its purpose. This can be used e.g. in UIs which allow to enter the expression."
        },
        "description": {
          "type": "string",
          "description": "Optional. Description of the expression. This is a longer text which describes the expression, e.g. when hovered over it in a UI."
        },
        "expression": {
          "type": "string",
          "description": "Textual representation of an expression in Common Expression Language syntax."
        }
      },
      "id": "Expr",
      "description": "Represents a textual expression in the Common Expression Language (CEL) syntax. CEL is a C-like expression language. The syntax and semantics of CEL are documented at https://github.com/google/cel-spec. Example (Comparison): title: \"Summary size limit\" description: \"Determines if a summary is less than 100 chars\" expression: \"document.summary.size() < 100\" Example (Equality): title: \"Requestor is owner\" description: \"Determines if requestor is the document owner\" expression: \"document.owner == request.auth.claims.email\" Example (Logic): title: \"Public documents\" description: \"Determine whether the document should be publicly visible\" expression: \"document.type != 'private' && document.type != 'internal'\" Example (Data Manipulation): title: \"Notification string\" description: \"Create a notification string with a timestamp.\" expression: \"'New message received at ' + string(document.create_time)\" The exact variables and functions that may be referenced within an expression are determined by the service that evaluates it. See the service documentation for additional information.",
      "type": "object"
    },
    "Schema": {
      "properties": {
        "revisionId": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Immutable. The revision ID of the schema."
        },
        "definition": {
          "description": "The definition of the schema. This should contain a string representing the full definition of the schema that is a valid schema definition of the type specified in `type`.",
          "type": "string"
        },
        "compiledProtoSchema": {
          "$ref": "CompiledProtoSchema",
          "description": "Optional. Configuration for a schema provided as a pre-compiled Protocol Buffer FileDescriptorSet. The `type` field above must be set to PROTOCOL_BUFFER."
        },
        "name": {
          "type": "string",
          "description": "Required. Name of the schema. Format is `projects/{project}/schemas/{schema}`."
        },
        "revisionCreateTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The timestamp that the revision was created.",
          "format": "google-datetime"
        },
        "type": {
          "description": "The type of the schema definition.",
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "PROTOCOL_BUFFER",
            "AVRO"
          ],
          "enumDescriptions": [
            "Default value. This value is unused.",
            "A Protocol Buffer schema definition.",
            "An Avro schema definition."
          ]
        }
      },
      "type": "object",
      "description": "A schema resource.",
      "id": "Schema"
    },
    "ListSchemaRevisionsResponse": {
      "properties": {
        "schemas": {
          "description": "The revisions of the schema.",
          "items": {
            "$ref": "Schema"
          },
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token that can be sent as `page_token` to retrieve the next page. If this field is empty, there are no subsequent pages."
        }
      },
      "id": "ListSchemaRevisionsResponse",
      "type": "object",
      "description": "Response for the `ListSchemaRevisions` method."
    },
    "Binding": {
      "type": "object",
      "description": "Associates `members`, or principals, with a `role`.",
      "properties": {
        "members": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Specifies the principals requesting access for a Google Cloud resource. `members` can have the following values: * `allUsers`: A special identifier that represents anyone who is on the internet; with or without a Google account. * `allAuthenticatedUsers`: A special identifier that represents anyone who is authenticated with a Google account or a service account. Does not include identities that come from external identity providers (IdPs) through identity federation. * `user:{emailid}`: An email address that represents a specific Google account. For example, `alice@example.com` . * `serviceAccount:{emailid}`: An email address that represents a Google service account. For example, `my-other-app@appspot.gserviceaccount.com`. * `serviceAccount:{projectid}.svc.id.goog[{namespace}/{kubernetes-sa}]`: An identifier for a [Kubernetes service account](https://cloud.google.com/kubernetes-engine/docs/how-to/kubernetes-service-accounts). For example, `my-project.svc.id.goog[my-namespace/my-kubernetes-sa]`. * `group:{emailid}`: An email address that represents a Google group. For example, `admins@example.com`. * `domain:{domain}`: The G Suite domain (primary) that represents all the users of that domain. For example, `google.com` or `example.com`. * `principal://iam.googleapis.com/locations/global/workforcePools/{pool_id}/subject/{subject_attribute_value}`: A single identity in a workforce identity pool. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/group/{group_id}`: All workforce identities in a group. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/attribute.{attribute_name}/{attribute_value}`: All workforce identities with a specific attribute value. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/*`: All identities in a workforce identity pool. * `principal://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/subject/{subject_attribute_value}`: A single identity in a workload identity pool. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/group/{group_id}`: A workload identity pool group. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/attribute.{attribute_name}/{attribute_value}`: All identities in a workload identity pool with a certain attribute. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/*`: All identities in a workload identity pool. * `deleted:user:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a user that has been recently deleted. For example, `alice@example.com?uid=123456789012345678901`. If the user is recovered, this value reverts to `user:{emailid}` and the recovered user retains the role in the binding. * `deleted:serviceAccount:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a service account that has been recently deleted. For example, `my-other-app@appspot.gserviceaccount.com?uid=123456789012345678901`. If the service account is undeleted, this value reverts to `serviceAccount:{emailid}` and the undeleted service account retains the role in the binding. * `deleted:group:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a Google group that has been recently deleted. For example, `admins@example.com?uid=123456789012345678901`. If the group is recovered, this value reverts to `group:{emailid}` and the recovered group retains the role in the binding. * `deleted:principal://iam.googleapis.com/locations/global/workforcePools/{pool_id}/subject/{subject_attribute_value}`: Deleted single identity in a workforce identity pool. For example, `deleted:principal://iam.googleapis.com/locations/global/workforcePools/my-pool-id/subject/my-subject-attribute-value`."
        },
        "role": {
          "description": "Role that is assigned to the list of `members`, or principals. For example, `roles/viewer`, `roles/editor`, or `roles/owner`. For an overview of the IAM roles and permissions, see the [IAM documentation](https://cloud.google.com/iam/docs/roles-overview). For a list of the available pre-defined roles, see [here](https://cloud.google.com/iam/docs/understanding-roles).",
          "type": "string"
        },
        "condition": {
          "description": "The condition that is associated with this binding. If the condition evaluates to `true`, then this binding applies to the current request. If the condition evaluates to `false`, then this binding does not apply to the current request. However, a different role binding might grant the same role to one or more of the principals in this binding. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies).",
          "$ref": "Expr"
        }
      },
      "id": "Binding"
    },
    "ListSubscriptionsResponse": {
      "properties": {
        "subscriptions": {
          "type": "array",
          "items": {
            "$ref": "Subscription"
          },
          "description": "Optional. The subscriptions that match the request."
        },
        "nextPageToken": {
          "description": "Optional. If not empty, indicates that there may be more subscriptions that match the request; this value should be passed in a new `ListSubscriptionsRequest` to get more subscriptions.",
          "type": "string"
        }
      },
      "description": "Response for the `ListSubscriptions` method.",
      "id": "ListSubscriptionsResponse",
      "type": "object"
    },
    "ListSnapshotsResponse": {
      "id": "ListSnapshotsResponse",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "Optional. If not empty, indicates that there may be more snapshot that match the request; this value should be passed in a new `ListSnapshotsRequest`."
        },
        "snapshots": {
          "description": "Optional. The resulting snapshots.",
          "items": {
            "$ref": "Snapshot"
          },
          "type": "array"
        }
      },
      "type": "object",
      "description": "Response for the `ListSnapshots` method."
    },
    "BigQueryConfig": {
      "properties": {
        "serviceAccountEmail": {
          "type": "string",
          "description": "Optional. The service account to use to write to BigQuery. The subscription creator or updater that specifies this field must have `iam.serviceAccounts.actAs` permission on the service account. If not specified, the Pub/Sub [service agent](https://cloud.google.com/iam/docs/service-agents), service-{project_number}@gcp-sa-pubsub.iam.gserviceaccount.com, is used."
        },
        "useTableSchema": {
          "type": "boolean",
          "description": "Optional. When true, use the BigQuery table's schema as the columns to write to in BigQuery. `use_table_schema` and `use_topic_schema` cannot be enabled at the same time."
        },
        "writeMetadata": {
          "description": "Optional. When true, write the subscription name, message_id, publish_time, attributes, and ordering_key to additional columns in the table. The subscription name, message_id, and publish_time fields are put in their own columns while all other message properties (other than data) are written to a JSON object in the attributes column.",
          "type": "boolean"
        },
        "table": {
          "description": "Optional. The name of the table to which to write data, of the form {projectId}.{datasetId}.{tableId}",
          "type": "string"
        },
        "useTopicSchema": {
          "type": "boolean",
          "description": "Optional. When true, use the topic's schema as the columns to write to in BigQuery, if it exists. `use_topic_schema` and `use_table_schema` cannot be enabled at the same time."
        },
        "dropUnknownFields": {
          "type": "boolean",
          "description": "Optional. If true and `use_topic_schema` is true, drops any fields that are part of the topic schema that are not part of the BigQuery table schema when writing to BigQuery. Otherwise, the schemas must be kept in sync and any messages with extra fields are not written and remain in the subscription's backlog. If true and `use_table_schema` is true, drops any fields in the message that are not part of the BigQuery table schema when writing to BigQuery. Otherwise, the write to BigQuery will fail."
        },
        "state": {
          "type": "string",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "The subscription can actively send messages to BigQuery",
            "Cannot write to the BigQuery table because of permission denied errors. This can happen if - Pub/Sub SA has not been granted the [appropriate BigQuery IAM permissions](https://cloud.google.com/pubsub/docs/create-subscription#assign_bigquery_service_account) - bigquery.googleapis.com API is not enabled for the project ([instructions](https://cloud.google.com/service-usage/docs/enable-disable))",
            "Cannot write to the BigQuery table because it does not exist.",
            "Cannot write to the BigQuery table due to a schema mismatch.",
            "Cannot write to the destination because enforce_in_transit is set to true and the destination locations are not in the allowed regions.",
            "Cannot write to the BigQuery table because the table is not in the same location as where Vertex AI models used in `message_transform`s are deployed."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "PERMISSION_DENIED",
            "NOT_FOUND",
            "SCHEMA_MISMATCH",
            "IN_TRANSIT_LOCATION_RESTRICTION",
            "VERTEX_AI_LOCATION_RESTRICTION"
          ],
          "description": "Output only. An output-only field that indicates whether or not the subscription can receive messages.",
          "readOnly": true
        }
      },
      "description": "Configuration for a BigQuery subscription.",
      "id": "BigQueryConfig",
      "type": "object"
    },
    "UnstructuredInference": {
      "id": "UnstructuredInference",
      "description": "Configuration for making inferences using arbitrary JSON payloads.",
      "properties": {
        "parameters": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "description": "Optional. A parameters object to be included in each inference request. The parameters object is combined with the data field of the Pub/Sub message to form the inference request."
        }
      },
      "type": "object"
    },
    "CompiledProtoSchema": {
      "properties": {
        "compiledBytes": {
          "type": "string",
          "format": "byte",
          "description": "Required. The compiled FileDescriptorSet binary."
        },
        "rootMessage": {
          "description": "Required. The name of the root message type in the schema.",
          "type": "string"
        }
      },
      "id": "CompiledProtoSchema",
      "type": "object",
      "description": "Configuration specific to compiled Protocol Buffer schemas."
    },
    "CloudStorageConfig": {
      "type": "object",
      "properties": {
        "maxMessages": {
          "type": "string",
          "format": "int64",
          "description": "Optional. The maximum number of messages that can be written to a Cloud Storage file before a new file is created. Min 1000 messages."
        },
        "state": {
          "readOnly": true,
          "enumDescriptions": [
            "Default value. This value is unused.",
            "The subscription can actively send messages to Cloud Storage.",
            "Cannot write to the Cloud Storage bucket because of permission denied errors.",
            "Cannot write to the Cloud Storage bucket because it does not exist.",
            "Cannot write to the destination because enforce_in_transit is set to true and the destination locations are not in the allowed regions.",
            "Cannot write to the Cloud Storage bucket due to an incompatibility between the topic schema and subscription settings.",
            "Cannot write to the Cloud Storage bucket because the bucket is not in the same location as where Vertex AI models used in `message_transform`s are deployed."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "PERMISSION_DENIED",
            "NOT_FOUND",
            "IN_TRANSIT_LOCATION_RESTRICTION",
            "SCHEMA_MISMATCH",
            "VERTEX_AI_LOCATION_RESTRICTION"
          ],
          "description": "Output only. An output-only field that indicates whether or not the subscription can receive messages.",
          "type": "string"
        },
        "bucket": {
          "type": "string",
          "description": "Required. User-provided name for the Cloud Storage bucket. The bucket must be created by the user. The bucket name must be without any prefix like \"gs://\". See the [bucket naming requirements] (https://cloud.google.com/storage/docs/buckets#naming)."
        },
        "serviceAccountEmail": {
          "description": "Optional. The service account to use to write to Cloud Storage. The subscription creator or updater that specifies this field must have `iam.serviceAccounts.actAs` permission on the service account. If not specified, the Pub/Sub [service agent](https://cloud.google.com/iam/docs/service-agents), service-{project_number}@gcp-sa-pubsub.iam.gserviceaccount.com, is used.",
          "type": "string"
        },
        "avroConfig": {
          "description": "Optional. If set, message data will be written to Cloud Storage in Avro format.",
          "$ref": "AvroConfig"
        },
        "maxDuration": {
          "type": "string",
          "format": "google-duration",
          "description": "Optional. The maximum duration that can elapse before a new Cloud Storage file is created. Min 1 minute, max 10 minutes, default 5 minutes. May not exceed the subscription's acknowledgment deadline."
        },
        "filenameSuffix": {
          "description": "Optional. User-provided suffix for Cloud Storage filename. See the [object naming requirements](https://cloud.google.com/storage/docs/objects#naming). Must not end in \"/\".",
          "type": "string"
        },
        "maxBytes": {
          "format": "int64",
          "type": "string",
          "description": "Optional. The maximum bytes that can be written to a Cloud Storage file before a new file is created. Min 1 KB, max 10 GiB. The max_bytes limit may be exceeded in cases where messages are larger than the limit."
        },
        "textConfig": {
          "description": "Optional. If set, message data will be written to Cloud Storage in text format.",
          "$ref": "TextConfig"
        },
        "filenamePrefix": {
          "description": "Optional. User-provided prefix for Cloud Storage filename. See the [object naming requirements](https://cloud.google.com/storage/docs/objects#naming).",
          "type": "string"
        },
        "filenameDatetimeFormat": {
          "type": "string",
          "description": "Optional. User-provided format string specifying how to represent datetimes in Cloud Storage filenames. See the [datetime format guidance](https://cloud.google.com/pubsub/docs/create-cloudstorage-subscription#file_names)."
        }
      },
      "description": "Configuration for a Cloud Storage subscription.",
      "id": "CloudStorageConfig"
    },
    "MessageTransform": {
      "id": "MessageTransform",
      "properties": {
        "aiInference": {
          "$ref": "AIInference",
          "description": "Optional. AI Inference. Specifies the Vertex AI endpoint that inference requests built from the Pub/Sub message data and provided parameters will be sent to."
        },
        "javascriptUdf": {
          "$ref": "JavaScriptUDF",
          "description": "Optional. JavaScript User Defined Function. If multiple JavaScriptUDF's are specified on a resource, each must have a unique `function_name`."
        },
        "disabled": {
          "description": "Optional. If true, the transform is disabled and will not be applied to messages. Defaults to `false`.",
          "type": "boolean"
        },
        "enabled": {
          "type": "boolean",
          "description": "Optional. This field is deprecated, use the `disabled` field to disable transforms.",
          "deprecated": true
        },
        "compression": {
          "description": "Optional. Compression/Decompression.",
          "$ref": "Compression"
        }
      },
      "description": "All supported message transforms types.",
      "type": "object"
    },
    "AIInference": {
      "properties": {
        "endpoint": {
          "description": "Required. An endpoint to a Vertex AI model of the form `projects/{project}/locations/{location}/endpoints/{endpoint}` or `projects/{project}/locations/{location}/publishers/{publisher}/models/{model}`. Vertex AI API requests will be sent to this endpoint.",
          "type": "string"
        },
        "serviceAccountEmail": {
          "type": "string",
          "description": "Optional. The service account to use to make prediction requests against endpoints. The resource creator or updater that specifies this field must have `iam.serviceAccounts.actAs` permission on the service account. If not specified, the Pub/Sub [service agent](https://cloud.google.com/iam/docs/service-agents), service-{project_number}@gcp-sa-pubsub.iam.gserviceaccount.com, is used."
        },
        "unstructuredInference": {
          "$ref": "UnstructuredInference",
          "description": "Optional. Requests and responses can be any arbitrary JSON object."
        }
      },
      "description": "Configuration for making inference requests against Vertex AI models.",
      "type": "object",
      "id": "AIInference"
    },
    "Empty": {
      "type": "object",
      "properties": {},
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "id": "Empty"
    },
    "PubsubMessage": {
      "id": "PubsubMessage",
      "description": "A message that is published by publishers and consumed by subscribers. The message must contain either a non-empty data field or at least one attribute. Note that client libraries represent this object differently depending on the language. See the corresponding [client library documentation](https://cloud.google.com/pubsub/docs/reference/libraries) for more information. See [quotas and limits] (https://cloud.google.com/pubsub/quotas) for more information about message limits.",
      "type": "object",
      "properties": {
        "messageId": {
          "description": "ID of this message, assigned by the server when the message is published. Guaranteed to be unique within the topic. This value may be read by a subscriber that receives a `PubsubMessage` via a `Pull` call or a push delivery. It must not be populated by the publisher in a `Publish` call.",
          "type": "string"
        },
        "publishTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The time at which the message was published, populated by the server when it receives the `Publish` call. It must not be populated by the publisher in a `Publish` call."
        },
        "orderingKey": {
          "description": "Optional. If non-empty, identifies related messages for which publish order should be respected. If a `Subscription` has `enable_message_ordering` set to `true`, messages published with the same non-empty `ordering_key` value will be delivered to subscribers in the order in which they are received by the Pub/Sub system. All `PubsubMessage`s published in a given `PublishRequest` must specify the same `ordering_key` value. For more information, see [ordering messages](https://cloud.google.com/pubsub/docs/ordering).",
          "type": "string"
        },
        "attributes": {
          "type": "object",
          "description": "Optional. Attributes for this message. If this field is empty, the message must contain non-empty data. This can be used to filter messages on the subscription.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "data": {
          "format": "byte",
          "type": "string",
          "description": "Optional. The message data field. If this field is empty, the message must contain at least one attribute."
        }
      }
    },
    "Policy": {
      "id": "Policy",
      "properties": {
        "bindings": {
          "type": "array",
          "items": {
            "$ref": "Binding"
          },
          "description": "Associates a list of `members`, or principals, with a `role`. Optionally, may specify a `condition` that determines how and when the `bindings` are applied. Each of the `bindings` must contain at least one principal. The `bindings` in a `Policy` can refer to up to 1,500 principals; up to 250 of these principals can be Google groups. Each occurrence of a principal counts towards these limits. For example, if the `bindings` grant 50 different roles to `user:alice@example.com`, and not to any other principal, then you can add another 1,450 principals to the `bindings` in the `Policy`."
        },
        "etag": {
          "format": "byte",
          "description": "`etag` is used for optimistic concurrency control as a way to help prevent simultaneous updates of a policy from overwriting each other. It is strongly suggested that systems make use of the `etag` in the read-modify-write cycle to perform policy updates in order to avoid race conditions: An `etag` is returned in the response to `getIamPolicy`, and systems are expected to put that etag in the request to `setIamPolicy` to ensure that their change will be applied to the same version of the policy. **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost.",
          "type": "string"
        },
        "version": {
          "description": "Specifies the format of the policy. Valid values are `0`, `1`, and `3`. Requests that specify an invalid value are rejected. Any operation that affects conditional role bindings must specify version `3`. This requirement applies to the following operations: * Getting a policy that includes a conditional role binding * Adding a conditional role binding to a policy * Changing a conditional role binding in a policy * Removing any role binding, with or without a condition, from a policy that includes conditions **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost. If a policy does not include any conditions, operations on that policy may specify any valid version or leave the field unset. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies).",
          "type": "integer",
          "format": "int32"
        }
      },
      "type": "object",
      "description": "An Identity and Access Management (IAM) policy, which specifies access controls for Google Cloud resources. A `Policy` is a collection of `bindings`. A `binding` binds one or more `members`, or principals, to a single `role`. Principals can be user accounts, service accounts, Google groups, and domains (such as G Suite). A `role` is a named list of permissions; each `role` can be an IAM predefined role or a user-created custom role. For some types of Google Cloud resources, a `binding` can also specify a `condition`, which is a logical expression that allows access to a resource only if the expression evaluates to `true`. A condition can add constraints based on attributes of the request, the resource, or both. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies). **JSON example:** ``` { \"bindings\": [ { \"role\": \"roles/resourcemanager.organizationAdmin\", \"members\": [ \"user:mike@example.com\", \"group:admins@example.com\", \"domain:google.com\", \"serviceAccount:my-project-id@appspot.gserviceaccount.com\" ] }, { \"role\": \"roles/resourcemanager.organizationViewer\", \"members\": [ \"user:eve@example.com\" ], \"condition\": { \"title\": \"expirable access\", \"description\": \"Does not grant access after Sep 2020\", \"expression\": \"request.time < timestamp('2020-10-01T00:00:00.000Z')\", } } ], \"etag\": \"BwWWja0YfJA=\", \"version\": 3 } ``` **YAML example:** ``` bindings: - members: - user:mike@example.com - group:admins@example.com - domain:google.com - serviceAccount:my-project-id@appspot.gserviceaccount.com role: roles/resourcemanager.organizationAdmin - members: - user:eve@example.com role: roles/resourcemanager.organizationViewer condition: title: expirable access description: Does not grant access after Sep 2020 expression: request.time < timestamp('2020-10-01T00:00:00.000Z') etag: BwWWja0YfJA= version: 3 ``` For a description of IAM and its features, see the [IAM documentation](https://cloud.google.com/iam/docs/)."
    },
    "ListTopicSubscriptionsResponse": {
      "type": "object",
      "properties": {
        "subscriptions": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Optional. The names of subscriptions attached to the topic specified in the request."
        },
        "nextPageToken": {
          "type": "string",
          "description": "Optional. If not empty, indicates that there may be more subscriptions that match the request; this value should be passed in a new `ListTopicSubscriptionsRequest` to get more subscriptions."
        }
      },
      "description": "Response for the `ListTopicSubscriptions` method.",
      "id": "ListTopicSubscriptionsResponse"
    },
    "TestIamPermissionsResponse": {
      "type": "object",
      "properties": {
        "permissions": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "A subset of `TestPermissionsRequest.permissions` that the caller is allowed."
        }
      },
      "description": "Response message for `TestIamPermissions` method.",
      "id": "TestIamPermissionsResponse"
    },
    "PullResponse": {
      "properties": {
        "receivedMessages": {
          "description": "Optional. Received Pub/Sub messages. The list will be empty if there are no more messages available in the backlog, or if no messages could be returned before the request timeout. For JSON, the response can be entirely empty. The Pub/Sub system may return fewer than the `maxMessages` requested even if there are more messages available in the backlog.",
          "type": "array",
          "items": {
            "$ref": "ReceivedMessage"
          }
        }
      },
      "id": "PullResponse",
      "type": "object",
      "description": "Response for the `Pull` method."
    },
    "NoWrapper": {
      "id": "NoWrapper",
      "description": "Sets the `data` field as the HTTP body for delivery.",
      "type": "object",
      "properties": {
        "writeMetadata": {
          "description": "Optional. When true, writes the Pub/Sub message metadata to `x-goog-pubsub-:` headers of the HTTP request. Writes the Pub/Sub message attributes to `:` headers of the HTTP request.",
          "type": "boolean"
        }
      }
    },
    "PublishResponse": {
      "properties": {
[...]
