{
  "mtlsRootUrl": "https://pubsublite.mtls.googleapis.com/",
  "version": "v1",
  "documentationLink": "https://cloud.google.com/pubsub/lite/docs",
  "servicePath": "",
  "basePath": "",
  "description": "",
  "revision": "20260731",
  "ownerDomain": "google.com",
  "fullyEncodeReservedExpansion": true,
  "discoveryVersion": "v1",
  "title": "Pub/Sub Lite API",
  "ownerName": "Google",
  "version_module": true,
  "batchPath": "batch",
  "resources": {
    "cursor": {
      "resources": {
        "projects": {
          "resources": {
            "locations": {
              "resources": {
                "subscriptions": {
                  "methods": {
                    "commitCursor": {
                      "path": "v1/cursor/{+subscription}:commitCursor",
                      "flatPath": "v1/cursor/projects/{projectsId}/locations/{locationsId}/subscriptions/{subscriptionsId}:commitCursor",
                      "request": {
                        "$ref": "CommitCursorRequest"
                      },
                      "parameterOrder": [
                        "subscription"
                      ],
                      "description": "Updates the committed cursor.",
                      "response": {
                        "$ref": "CommitCursorResponse"
                      },
                      "id": "pubsublite.cursor.projects.locations.subscriptions.commitCursor",
                      "httpMethod": "POST",
                      "parameters": {
                        "subscription": {
                          "type": "string",
                          "description": "The subscription for which to update the cursor.",
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/subscriptions/[^/]+$",
                          "required": true
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    }
                  },
                  "resources": {
                    "cursors": {
                      "methods": {
                        "list": {
                          "path": "v1/cursor/{+parent}/cursors",
                          "flatPath": "v1/cursor/projects/{projectsId}/locations/{locationsId}/subscriptions/{subscriptionsId}/cursors",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "id": "pubsublite.cursor.projects.locations.subscriptions.cursors.list",
                          "httpMethod": "GET",
                          "parameters": {
                            "pageToken": {
                              "type": "string",
                              "description": "A page token, received from a previous `ListPartitionCursors` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListPartitionCursors` must match the call that provided the page token.",
                              "location": "query"
                            },
                            "parent": {
                              "type": "string",
                              "description": "Required. The subscription for which to retrieve cursors. Structured like `projects/{project_number}/locations/{location}/subscriptions/{subscription_id}`.",
                              "location": "path",
                              "pattern": "^projects/[^/]+/locations/[^/]+/subscriptions/[^/]+$",
                              "required": true
                            },
                            "pageSize": {
                              "type": "integer",
                              "format": "int32",
                              "description": "The maximum number of cursors to return. The service may return fewer than this value. If unset or zero, all cursors for the parent will be returned.",
                              "location": "query"
                            }
                          },
                          "parameterOrder": [
                            "parent"
                          ],
                          "response": {
                            "$ref": "ListPartitionCursorsResponse"
                          },
                          "description": "Returns all committed cursor information for a subscription."
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "topicStats": {
      "resources": {
        "projects": {
          "resources": {
            "locations": {
              "resources": {
                "topics": {
                  "methods": {
                    "computeMessageStats": {
                      "path": "v1/topicStats/{+topic}:computeMessageStats",
                      "flatPath": "v1/topicStats/projects/{projectsId}/locations/{locationsId}/topics/{topicsId}:computeMessageStats",
                      "request": {
                        "$ref": "ComputeMessageStatsRequest"
                      },
                      "parameterOrder": [
                        "topic"
                      ],
                      "description": "Compute statistics about a range of messages in a given topic and partition.",
                      "response": {
                        "$ref": "ComputeMessageStatsResponse"
                      },
                      "id": "pubsublite.topicStats.projects.locations.topics.computeMessageStats",
                      "httpMethod": "POST",
                      "parameters": {
                        "topic": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/topics/[^/]+$",
                          "required": true,
                          "description": "Required. The topic for which we should compute message stats.",
                          "location": "path",
                          "type": "string"
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    },
                    "computeTimeCursor": {
                      "description": "Compute the corresponding cursor for a publish or event time in a topic partition.",
                      "response": {
                        "$ref": "ComputeTimeCursorResponse"
                      },
                      "request": {
                        "$ref": "ComputeTimeCursorRequest"
                      },
                      "parameterOrder": [
                        "topic"
                      ],
                      "id": "pubsublite.topicStats.projects.locations.topics.computeTimeCursor",
                      "httpMethod": "POST",
                      "parameters": {
                        "topic": {
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/topics/[^/]+$",
                          "required": true,
                          "description": "Required. The topic for which we should compute the cursor.",
                          "location": "path"
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "flatPath": "v1/topicStats/projects/{projectsId}/locations/{locationsId}/topics/{topicsId}:computeTimeCursor",
                      "path": "v1/topicStats/{+topic}:computeTimeCursor"
                    },
                    "computeHeadCursor": {
                      "flatPath": "v1/topicStats/projects/{projectsId}/locations/{locationsId}/topics/{topicsId}:computeHeadCursor",
                      "path": "v1/topicStats/{+topic}:computeHeadCursor",
                      "id": "pubsublite.topicStats.projects.locations.topics.computeHeadCursor",
                      "httpMethod": "POST",
                      "parameters": {
                        "topic": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/topics/[^/]+$",
                          "required": true,
                          "description": "Required. The topic for which we should compute the head cursor.",
                          "location": "path",
                          "type": "string"
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "description": "Compute the head cursor for the partition. The head cursor's offset is guaranteed to be less than or equal to all messages which have not yet been acknowledged as published, and greater than the offset of any message whose publish has already been acknowledged. It is zero if there have never been messages in the partition.",
                      "response": {
                        "$ref": "ComputeHeadCursorResponse"
                      },
                      "request": {
                        "$ref": "ComputeHeadCursorRequest"
                      },
                      "parameterOrder": [
                        "topic"
                      ]
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "admin": {
      "resources": {
        "projects": {
          "resources": {
            "locations": {
              "resources": {
                "operations": {
                  "methods": {
                    "delete": {
                      "flatPath": "v1/admin/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}",
                      "path": "v1/admin/{+name}",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "id": "pubsublite.admin.projects.locations.operations.delete",
                      "httpMethod": "DELETE",
                      "parameters": {
                        "name": {
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                          "required": true,
                          "description": "The name of the operation resource to be deleted.",
                          "location": "path"
                        }
                      },
                      "response": {
                        "$ref": "Empty"
                      },
                      "description": "Deletes a long-running operation. This method indicates that the client is no longer interested in the operation result. It does not cancel the operation. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`.",
                      "parameterOrder": [
                        "name"
                      ]
                    },
                    "cancel": {
                      "flatPath": "v1/admin/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}:cancel",
                      "path": "v1/admin/{+name}:cancel",
                      "response": {
                        "$ref": "Empty"
                      },
                      "description": "Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`.",
                      "parameterOrder": [
                        "name"
                      ],
                      "request": {
                        "$ref": "CancelOperationRequest"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "id": "pubsublite.admin.projects.locations.operations.cancel",
                      "httpMethod": "POST",
                      "parameters": {
                        "name": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                          "required": true,
                          "description": "The name of the operation resource to be cancelled.",
                          "location": "path",
                          "type": "string"
                        }
                      }
                    },
                    "get": {
                      "parameterOrder": [
                        "name"
                      ],
                      "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
                      "response": {
                        "$ref": "Operation"
                      },
                      "id": "pubsublite.admin.projects.locations.operations.get",
                      "httpMethod": "GET",
                      "parameters": {
                        "name": {
                          "description": "The name of the operation resource.",
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                          "required": true,
                          "type": "string"
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "path": "v1/admin/{+name}",
                      "flatPath": "v1/admin/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}"
                    },
                    "list": {
                      "id": "pubsublite.admin.projects.locations.operations.list",
                      "httpMethod": "GET",
                      "parameters": {
                        "returnPartialSuccess": {
                          "description": "When set to `true`, operations that are reachable are returned as normal, and those that are unreachable are returned in the ListOperationsResponse.unreachable field. This can only be `true` when reading across collections. For example, when `parent` is set to `\"projects/example/locations/-\"`. This field is not supported by default and will result in an `UNIMPLEMENTED` error if set unless explicitly documented otherwise in service or product specific documentation.",
                          "location": "query",
                          "type": "boolean"
                        },
                        "name": {
                          "pattern": "^projects/[^/]+/locations/[^/]+$",
                          "required": true,
                          "description": "The name of the operation's parent resource.",
                          "location": "path",
                          "type": "string"
                        },
                        "filter": {
                          "type": "string",
                          "description": "The standard list filter.",
                          "location": "query"
                        },
                        "pageSize": {
                          "type": "integer",
                          "format": "int32",
                          "description": "The standard list page size.",
                          "location": "query"
                        },
                        "pageToken": {
                          "type": "string",
                          "description": "The standard list page token.",
                          "location": "query"
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`.",
                      "response": {
                        "$ref": "ListOperationsResponse"
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "flatPath": "v1/admin/projects/{projectsId}/locations/{locationsId}/operations",
                      "path": "v1/admin/{+name}/operations"
                    }
                  }
                },
                "topics": {
                  "methods": {
                    "patch": {
                      "request": {
                        "$ref": "Topic"
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "description": "Updates properties of the specified topic.",
                      "response": {
                        "$ref": "Topic"
                      },
                      "id": "pubsublite.admin.projects.locations.topics.patch",
                      "httpMethod": "PATCH",
                      "parameters": {
                        "name": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/topics/[^/]+$",
                          "required": true,
                          "description": "The name of the topic. Structured like: projects/{project_number}/locations/{location}/topics/{topic_id}",
                          "location": "path",
                          "type": "string"
                        },
                        "updateMask": {
                          "description": "Required. A mask specifying the topic fields to change.",
                          "location": "query",
                          "type": "string",
                          "format": "google-fieldmask"
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "path": "v1/admin/{+name}",
                      "flatPath": "v1/admin/projects/{projectsId}/locations/{locationsId}/topics/{topicsId}"
                    },
                    "delete": {
                      "parameterOrder": [
                        "name"
                      ],
                      "response": {
                        "$ref": "Empty"
                      },
                      "description": "Deletes the specified topic.",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "id": "pubsublite.admin.projects.locations.topics.delete",
                      "httpMethod": "DELETE",
                      "parameters": {
                        "name": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/topics/[^/]+$",
                          "required": true,
                          "description": "Required. The name of the topic to delete.",
                          "location": "path",
                          "type": "string"
                        }
                      },
                      "path": "v1/admin/{+name}",
                      "flatPath": "v1/admin/projects/{projectsId}/locations/{locationsId}/topics/{topicsId}"
                    },
                    "get": {
                      "flatPath": "v1/admin/projects/{projectsId}/locations/{locationsId}/topics/{topicsId}",
                      "path": "v1/admin/{+name}",
                      "response": {
                        "$ref": "Topic"
                      },
                      "description": "Returns the topic configuration.",
                      "parameterOrder": [
                        "name"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "id": "pubsublite.admin.projects.locations.topics.get",
                      "httpMethod": "GET",
                      "parameters": {
                        "name": {
                          "description": "Required. The name of the topic whose configuration to return.",
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/topics/[^/]+$",
                          "required": true,
                          "type": "string"
                        }
                      }
                    },
                    "create": {
                      "flatPath": "v1/admin/projects/{projectsId}/locations/{locationsId}/topics",
                      "path": "v1/admin/{+parent}/topics",
                      "response": {
                        "$ref": "Topic"
                      },
                      "description": "Creates a new topic.",
                      "parameterOrder": [
                        "parent"
                      ],
                      "request": {
                        "$ref": "Topic"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "id": "pubsublite.admin.projects.locations.topics.create",
                      "httpMethod": "POST",
                      "parameters": {
                        "parent": {
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+$",
                          "required": true,
                          "description": "Required. The parent location in which to create the topic. Structured like `projects/{project_number}/locations/{location}`.",
                          "location": "path"
                        },
                        "topicId": {
                          "type": "string",
                          "description": "Required. The ID to use for the topic, which will become the final component of the topic's name. This value is structured like: `my-topic-name`.",
                          "location": "query"
                        }
                      }
                    },
                    "list": {
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "id": "pubsublite.admin.projects.locations.topics.list",
                      "httpMethod": "GET",
                      "parameters": {
                        "pageToken": {
                          "type": "string",
                          "description": "A page token, received from a previous `ListTopics` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListTopics` must match the call that provided the page token.",
                          "location": "query"
                        },
                        "parent": {
                          "pattern": "^projects/[^/]+/locations/[^/]+$",
                          "required": true,
                          "description": "Required. The parent whose topics are to be listed. Structured like `projects/{project_number}/locations/{location}`.",
                          "location": "path",
                          "type": "string"
                        },
                        "pageSize": {
                          "description": "The maximum number of topics to return. The service may return fewer than this value. If unset or zero, all topics for the parent will be returned.",
                          "location": "query",
                          "type": "integer",
                          "format": "int32"
                        }
                      },
                      "response": {
                        "$ref": "ListTopicsResponse"
                      },
                      "description": "Returns the list of topics for the given project.",
                      "parameterOrder": [
                        "parent"
                      ],
                      "flatPath": "v1/admin/projects/{projectsId}/locations/{locationsId}/topics",
                      "path": "v1/admin/{+parent}/topics"
                    },
                    "getPartitions": {
                      "path": "v1/admin/{+name}/partitions",
                      "flatPath": "v1/admin/projects/{projectsId}/locations/{locationsId}/topics/{topicsId}/partitions",
                      "parameterOrder": [
                        "name"
                      ],
                      "description": "Returns the partition information for the requested topic.",
                      "response": {
                        "$ref": "TopicPartitions"
                      },
                      "id": "pubsublite.admin.projects.locations.topics.getPartitions",
                      "httpMethod": "GET",
                      "parameters": {
                        "name": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/topics/[^/]+$",
                          "required": true,
                          "description": "Required. The topic whose partition information to return.",
                          "location": "path",
                          "type": "string"
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    }
                  },
                  "resources": {
                    "subscriptions": {
                      "methods": {
                        "list": {
                          "path": "v1/admin/{+name}/subscriptions",
                          "flatPath": "v1/admin/projects/{projectsId}/locations/{locationsId}/topics/{topicsId}/subscriptions",
                          "parameterOrder": [
                            "name"
                          ],
                          "response": {
                            "$ref": "ListTopicSubscriptionsResponse"
                          },
                          "description": "Lists the subscriptions attached to the specified topic.",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "id": "pubsublite.admin.projects.locations.topics.subscriptions.list",
                          "httpMethod": "GET",
                          "parameters": {
                            "pageToken": {
                              "description": "A page token, received from a previous `ListTopicSubscriptions` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListTopicSubscriptions` must match the call that provided the page token.",
                              "location": "query",
                              "type": "string"
                            },
                            "name": {
                              "type": "string",
                              "description": "Required. The name of the topic whose subscriptions to list.",
                              "location": "path",
                              "pattern": "^projects/[^/]+/locations/[^/]+/topics/[^/]+$",
                              "required": true
                            },
                            "pageSize": {
                              "type": "integer",
                              "format": "int32",
                              "description": "The maximum number of subscriptions to return. The service may return fewer than this value. If unset or zero, all subscriptions for the given topic will be returned.",
                              "location": "query"
                            }
                          }
                        }
                      }
                    }
                  }
                },
                "reservations": {
                  "methods": {
                    "get": {
                      "flatPath": "v1/admin/projects/{projectsId}/locations/{locationsId}/reservations/{reservationsId}",
                      "path": "v1/admin/{+name}",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "id": "pubsublite.admin.projects.locations.reservations.get",
                      "httpMethod": "GET",
                      "parameters": {
                        "name": {
                          "description": "Required. The name of the reservation whose configuration to return. Structured like: projects/{project_number}/locations/{location}/reservations/{reservation_id}",
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/reservations/[^/]+$",
                          "required": true,
                          "type": "string"
                        }
                      },
                      "response": {
                        "$ref": "Reservation"
                      },
                      "description": "Returns the reservation configuration.",
                      "parameterOrder": [
                        "name"
                      ]
                    },
                    "create": {
                      "parameterOrder": [
                        "parent"
                      ],
                      "request": {
                        "$ref": "Reservation"
                      },
                      "response": {
                        "$ref": "Reservation"
                      },
                      "description": "Creates a new reservation.",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "id": "pubsublite.admin.projects.locations.reservations.create",
                      "httpMethod": "POST",
                      "parameters": {
                        "reservationId": {
                          "type": "string",
                          "description": "Required. The ID to use for the reservation, which will become the final component of the reservation's name. This value is structured like: `my-reservation-name`.",
                          "location": "query"
                        },
                        "parent": {
                          "description": "Required. The parent location in which to create the reservation. Structured like `projects/{project_number}/locations/{location}`.",
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+$",
                          "required": true,
                          "type": "string"
                        }
                      },
                      "path": "v1/admin/{+parent}/reservations",
                      "flatPath": "v1/admin/projects/{projectsId}/locations/{locationsId}/reservations"
                    },
                    "list": {
                      "id": "pubsublite.admin.projects.locations.reservations.list",
                      "httpMethod": "GET",
                      "parameters": {
                        "pageToken": {
                          "type": "string",
                          "description": "A page token, received from a previous `ListReservations` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListReservations` must match the call that provided the page token.",
                          "location": "query"
                        },
                        "parent": {
                          "pattern": "^projects/[^/]+/locations/[^/]+$",
                          "required": true,
                          "description": "Required. The parent whose reservations are to be listed. Structured like `projects/{project_number}/locations/{location}`.",
                          "location": "path",
                          "type": "string"
                        },
                        "pageSize": {
                          "type": "integer",
                          "format": "int32",
                          "description": "The maximum number of reservations to return. The service may return fewer than this value. If unset or zero, all reservations for the parent will be returned.",
                          "location": "query"
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "description": "Returns the list of reservations for the given project.",
                      "response": {
                        "$ref": "ListReservationsResponse"
                      },
                      "parameterOrder": [
                        "parent"
                      ],
                      "flatPath": "v1/admin/projects/{projectsId}/locations/{locationsId}/reservations",
                      "path": "v1/admin/{+parent}/reservations"
                    },
                    "delete": {
                      "description": "Deletes the specified reservation.",
                      "response": {
                        "$ref": "Empty"
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "id": "pubsublite.admin.projects.locations.reservations.delete",
                      "httpMethod": "DELETE",
                      "parameters": {
                        "name": {
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/reservations/[^/]+$",
                          "required": true,
                          "description": "Required. The name of the reservation to delete. Structured like: projects/{project_number}/locations/{location}/reservations/{reservation_id}",
                          "location": "path"
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "flatPath": "v1/admin/projects/{projectsId}/locations/{locationsId}/reservations/{reservationsId}",
                      "path": "v1/admin/{+name}"
                    },
                    "patch": {
                      "parameterOrder": [
                        "name"
                      ],
                      "request": {
                        "$ref": "Reservation"
                      },
                      "response": {
                        "$ref": "Reservation"
                      },
                      "description": "Updates properties of the specified reservation.",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "id": "pubsublite.admin.projects.locations.reservations.patch",
                      "httpMethod": "PATCH",
                      "parameters": {
                        "name": {
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/reservations/[^/]+$",
                          "required": true,
                          "description": "The name of the reservation. Structured like: projects/{project_number}/locations/{location}/reservations/{reservation_id}",
                          "location": "path"
                        },
                        "updateMask": {
                          "type": "string",
                          "format": "google-fieldmask",
                          "description": "Required. A mask specifying the reservation fields to change.",
                          "location": "query"
                        }
                      },
                      "path": "v1/admin/{+name}",
                      "flatPath": "v1/admin/projects/{projectsId}/locations/{locationsId}/reservations/{reservationsId}"
                    }
                  },
                  "resources": {
                    "topics": {
                      "methods": {
                        "list": {
                          "flatPath": "v1/admin/projects/{projectsId}/locations/{locationsId}/reservations/{reservationsId}/topics",
                          "path": "v1/admin/{+name}/topics",
                          "response": {
                            "$ref": "ListReservationTopicsResponse"
                          },
                          "description": "Lists the topics attached to the specified reservation.",
                          "parameterOrder": [
                            "name"
                          ],
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "id": "pubsublite.admin.projects.locations.reservations.topics.list",
                          "httpMethod": "GET",
                          "parameters": {
                            "name": {
                              "pattern": "^projects/[^/]+/locations/[^/]+/reservations/[^/]+$",
                              "required": true,
                              "description": "Required. The name of the reservation whose topics to list. Structured like: projects/{project_number}/locations/{location}/reservations/{reservation_id}",
                              "location": "path",
                              "type": "string"
                            },
                            "pageSize": {
                              "description": "The maximum number of topics to return. The service may return fewer than this value. If unset or zero, all topics for the given reservation will be returned.",
                              "location": "query",
                              "type": "integer",
                              "format": "int32"
                            },
                            "pageToken": {
                              "description": "A page token, received from a previous `ListReservationTopics` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListReservationTopics` must match the call that provided the page token.",
                              "location": "query",
                              "type": "string"
                            }
                          }
                        }
                      }
                    }
                  }
                },
                "subscriptions": {
                  "methods": {
                    "create": {
                      "flatPath": "v1/admin/projects/{projectsId}/locations/{locationsId}/subscriptions",
                      "path": "v1/admin/{+parent}/subscriptions",
                      "id": "pubsublite.admin.projects.locations.subscriptions.create",
                      "httpMethod": "POST",
                      "parameters": {
                        "parent": {
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+$",
                          "required": true,
                          "description": "Required. The parent location in which to create the subscription. Structured like `projects/{project_number}/locations/{location}`.",
                          "location": "path"
                        },
                        "subscriptionId": {
                          "description": "Required. The ID to use for the subscription, which will become the final component of the subscription's name. This value is structured like: `my-sub-name`.",
                          "location": "query",
                          "type": "string"
                        },
                        "skipBacklog": {
                          "description": "If true, the newly created subscription will only receive messages published after the subscription was created. Otherwise, the entire message backlog will be received on the subscription. Defaults to false.",
                          "location": "query",
                          "type": "boolean"
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "description": "Creates a new subscription.",
                      "response": {
                        "$ref": "Subscription"
                      },
                      "request": {
                        "$ref": "Subscription"
                      },
                      "parameterOrder": [
                        "parent"
                      ]
                    },
                    "list": {
                      "description": "Returns the list of subscriptions for the given project.",
                      "response": {
                        "$ref": "ListSubscriptionsResponse"
                      },
                      "parameterOrder": [
                        "parent"
                      ],
                      "id": "pubsublite.admin.projects.locations.subscriptions.list",
                      "httpMethod": "GET",
                      "parameters": {
                        "pageToken": {
                          "type": "string",
                          "description": "A page token, received from a previous `ListSubscriptions` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListSubscriptions` must match the call that provided the page token.",
                          "location": "query"
                        },
                        "parent": {
                          "type": "string",
                          "description": "Required. The parent whose subscriptions are to be listed. Structured like `projects/{project_number}/locations/{location}`.",
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+$",
                          "required": true
                        },
                        "pageSize": {
                          "type": "integer",
                          "format": "int32",
                          "description": "The maximum number of subscriptions to return. The service may return fewer than this value. If unset or zero, all subscriptions for the parent will be returned.",
                          "location": "query"
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "flatPath": "v1/admin/projects/{projectsId}/locations/{locationsId}/subscriptions",
                      "path": "v1/admin/{+parent}/subscriptions"
                    },
                    "get": {
                      "path": "v1/admin/{+name}",
                      "flatPath": "v1/admin/projects/{projectsId}/locations/{locationsId}/subscriptions/{subscriptionsId}",
                      "parameterOrder": [
                        "name"
                      ],
                      "response": {
                        "$ref": "Subscription"
                      },
                      "description": "Returns the subscription configuration.",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "id": "pubsublite.admin.projects.locations.subscriptions.get",
                      "httpMethod": "GET",
                      "parameters": {
                        "name": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/subscriptions/[^/]+$",
                          "required": true,
                          "description": "Required. The name of the subscription whose configuration to return.",
                          "location": "path",
                          "type": "string"
                        }
                      }
                    },
                    "seek": {
                      "flatPath": "v1/admin/projects/{projectsId}/locations/{locationsId}/subscriptions/{subscriptionsId}:seek",
                      "path": "v1/admin/{+name}:seek",
                      "description": "Performs an out-of-band seek for a subscription to a specified target, which may be timestamps or named positions within the message backlog. Seek translates these targets to cursors for each partition and orchestrates subscribers to start consuming messages from these seek cursors. If an operation is returned, the seek has been registered and subscribers will eventually receive messages from the seek cursors (i.e. eventual consistency), as long as they are using a minimum supported client library version and not a system that tracks cursors independently of Pub/Sub Lite (e.g. Apache Beam, Dataflow, Spark). The seek operation will fail for unsupported clients. If clients would like to know when subscribers react to the seek (or not), they can poll the operation. The seek operation will succeed and complete once subscribers are ready to receive messages from the seek cursors for all partitions of the topic. This means that the seek operation will not complete until all subscribers come online. If the previous seek operation has not yet completed, it will be aborted and the new invocation of seek will supersede it.",
                      "response": {
                        "$ref": "Operation"
                      },
                      "request": {
                        "$ref": "SeekSubscriptionRequest"
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "id": "pubsublite.admin.projects.locations.subscriptions.seek",
                      "httpMethod": "POST",
                      "parameters": {
                        "name": {
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/subscriptions/[^/]+$",
                          "required": true,
                          "description": "Required. The name of the subscription to seek.",
                          "location": "path"
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    },
                    "patch": {
                      "parameterOrder": [
                        "name"
                      ],
                      "request": {
                        "$ref": "Subscription"
                      },
                      "response": {
                        "$ref": "Subscription"
                      },
                      "description": "Updates properties of the specified subscription.",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "id": "pubsublite.admin.projects.locations.subscriptions.patch",
                      "httpMethod": "PATCH",
                      "parameters": {
                        "name": {
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/subscriptions/[^/]+$",
                          "required": true,
                          "description": "The name of the subscription. Structured like: projects/{project_number}/locations/{location}/subscriptions/{subscription_id}",
                          "location": "path"
                        },
                        "updateMask": {
                          "description": "Required. A mask specifying the subscription fields to change.",
                          "location": "query",
                          "type": "string",
                          "format": "google-fieldmask"
                        }
                      },
                      "path": "v1/admin/{+name}",
                      "flatPath": "v1/admin/projects/{projectsId}/locations/{locationsId}/subscriptions/{subscriptionsId}"
                    },
                    "delete": {
                      "parameterOrder": [
                        "name"
                      ],
                      "description": "Deletes the specified subscription.",
                      "response": {
                        "$ref": "Empty"
                      },
                      "id": "pubsublite.admin.projects.locations.subscriptions.delete",
                      "httpMethod": "DELETE",
                      "parameters": {
                        "name": {
                          "description": "Required. The name of the subscription to delete.",
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/subscriptions/[^/]+$",
                          "required": true,
                          "type": "string"
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "path": "v1/admin/{+name}",
                      "flatPath": "v1/admin/projects/{projectsId}/locations/{locationsId}/subscriptions/{subscriptionsId}"
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "parameters": {
    "prettyPrint": {
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "location": "query",
      "default": "true"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "location": "query",
      "type": "string"
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query",
      "type": "string"
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query",
      "type": "string"
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "access_token": {
      "description": "OAuth access token.",
      "location": "query",
      "type": "string"
    },
    "$.xgafv": {
      "description": "V1 error format.",
      "location": "query",
      "enum": [
        "1",
        "2"
      ],
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ]
    },
    "alt": {
      "default": "json",
      "description": "Data format for response.",
      "location": "query",
      "type": "string",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "enum": [
        "json",
        "media",
        "proto"
      ]
    }
  },
  "id": "pubsublite:v1",
  "canonicalName": "PubsubLite",
  "baseUrl": "https://pubsublite.googleapis.com/",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "schemas": {
    "Operation": {
      "id": "Operation",
      "properties": {
        "metadata": {
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          }
        },
        "response": {
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`."
        },
        "error": {
          "description": "The error result of the operation in case of failure or cancellation.",
          "$ref": "Status"
        },
        "name": {
          "type": "string",
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`."
        },
        "done": {
          "type": "boolean",
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available."
        }
      },
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "type": "object"
    },
    "ExportConfig": {
      "id": "ExportConfig",
      "properties": {
        "deadLetterTopic": {
          "description": "Optional. The name of an optional Pub/Sub Lite topic to publish messages that can not be exported to the destination. For example, the message can not be published to the Pub/Sub service because it does not satisfy the constraints documented at https://cloud.google.com/pubsub/docs/publisher. Structured like: projects/{project_number}/locations/{location}/topics/{topic_id}. Must be within the same project and location as the subscription. The topic may be changed or removed.",
          "type": "string"
        },
        "desiredState": {
          "description": "The desired state of this export. Setting this to values other than `ACTIVE` and `PAUSED` will result in an error.",
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "PAUSED",
            "PERMISSION_DENIED",
            "NOT_FOUND"
          ],
          "type": "string",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "Messages are being exported.",
            "Exporting messages is suspended.",
            "Messages cannot be exported due to permission denied errors. Output only.",
            "Messages cannot be exported due to missing resources. Output only."
          ]
        },
        "currentState": {
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "Messages are being exported.",
            "Exporting messages is suspended.",
            "Messages cannot be exported due to permission denied errors. Output only.",
            "Messages cannot be exported due to missing resources. Output only."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "PAUSED",
            "PERMISSION_DENIED",
            "NOT_FOUND"
          ],
          "description": "Output only. The current state of the export, which may be different to the desired state due to errors. This field is output only."
        },
        "pubsubConfig": {
          "$ref": "PubSubConfig",
          "description": "Messages are automatically written from the Pub/Sub Lite topic associated with this subscription to a Pub/Sub topic."
        }
      },
      "description": "Configuration for a Pub/Sub Lite subscription that writes messages to a destination. User subscriber clients must not connect to this subscription.",
      "type": "object"
    },
    "SeekSubscriptionResponse": {
      "id": "SeekSubscriptionResponse",
      "properties": {},
      "description": "Response for SeekSubscription long running operation.",
      "type": "object"
    },
    "RetentionConfig": {
      "id": "RetentionConfig",
      "properties": {
        "perPartitionBytes": {
          "type": "string",
          "format": "int64",
          "description": "The provisioned storage, in bytes, per partition. If the number of bytes stored in any of the topic's partitions grows beyond this value, older messages will be dropped to make room for newer ones, regardless of the value of `period`."
        },
        "period": {
          "description": "How long a published message is retained. If unset, messages will be retained as long as the bytes retained for each partition is below `per_partition_bytes`.",
          "type": "string",
          "format": "google-duration"
        }
      },
      "type": "object",
      "description": "The settings for a topic's message retention."
    },
    "ListTopicsResponse": {
      "description": "Response for ListTopics.",
      "type": "object",
      "id": "ListTopicsResponse",
      "properties": {
        "nextPageToken": {
          "description": "A token that can be sent as `page_token` to retrieve the next page of results. If this field is omitted, there are no more results.",
          "type": "string"
        },
        "topics": {
          "type": "array",
          "description": "The list of topic in the requested parent. The order of the topics is unspecified.",
          "items": {
            "$ref": "Topic"
          }
        }
      }
    },
    "ComputeMessageStatsRequest": {
      "type": "object",
      "description": "Compute statistics about a range of messages in a given topic and partition.",
      "id": "ComputeMessageStatsRequest",
      "properties": {
        "partition": {
          "type": "string",
          "format": "int64",
          "description": "Required. The partition for which we should compute message stats."
        },
        "startCursor": {
          "$ref": "Cursor",
          "description": "The inclusive start of the range."
        },
        "endCursor": {
          "$ref": "Cursor",
          "description": "The exclusive end of the range. The range is empty if end_cursor <= start_cursor. Specifying a start_cursor before the first message and an end_cursor after the last message will retrieve all messages."
        }
      }
    },
    "Cursor": {
      "type": "object",
      "description": "A cursor that describes the position of a message within a topic partition.",
      "id": "Cursor",
      "properties": {
        "offset": {
          "type": "string",
          "format": "int64",
          "description": "The offset of a message within a topic partition. Must be greater than or equal 0."
        }
      }
    },
    "ListSubscriptionsResponse": {
      "type": "object",
      "description": "Response for ListSubscriptions.",
      "id": "ListSubscriptionsResponse",
      "properties": {
        "subscriptions": {
          "type": "array",
          "description": "The list of subscriptions in the requested parent. The order of the subscriptions is unspecified.",
          "items": {
            "$ref": "Subscription"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token that can be sent as `page_token` to retrieve the next page of results. If this field is omitted, there are no more results."
        }
      }
    },
    "Status": {
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "type": "object",
      "id": "Status",
      "properties": {
        "code": {
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "type": "integer",
          "format": "int32"
        },
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        },
        "details": {
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "items": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            }
          },
          "type": "array"
        }
      }
    },
    "ListReservationTopicsResponse": {
      "id": "ListReservationTopicsResponse",
      "properties": {
        "topics": {
          "type": "array",
          "description": "The names of topics attached to the reservation. The order of the topics is unspecified.",
          "items": {
            "type": "string"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token that can be sent as `page_token` to retrieve the next page of results. If this field is omitted, there are no more results."
        }
      },
      "description": "Response for ListReservationTopics.",
      "type": "object"
    },
    "PubSubConfig": {
      "id": "PubSubConfig",
      "properties": {
        "topic": {
          "description": "The name of the Pub/Sub topic. Structured like: projects/{project_number}/topics/{topic_id}. The topic may be changed.",
          "type": "string"
        }
      },
      "description": "Configuration for exporting to a Pub/Sub topic.",
      "type": "object"
    },
    "CommitCursorResponse": {
      "id": "CommitCursorResponse",
      "properties": {},
      "description": "Response for CommitCursor.",
      "type": "object"
    },
    "SeekSubscriptionRequest": {
      "type": "object",
      "description": "Request for SeekSubscription.",
      "id": "SeekSubscriptionRequest",
      "properties": {
        "namedTarget": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified named target. Do not use.",
            "Seek to the oldest retained message.",
            "Seek past all recently published messages, skipping the entire message backlog."
          ],
          "description": "Seek to a named position with respect to the message backlog.",
          "enum": [
            "NAMED_TARGET_UNSPECIFIED",
            "TAIL",
            "HEAD"
          ]
        },
        "timeTarget": {
          "$ref": "TimeTarget",
          "description": "Seek to the first message whose publish or event time is greater than or equal to the specified query time. If no such message can be located, will seek to the end of the message backlog."
        }
      }
    },
    "Reservation": {
      "id": "Reservation",
      "properties": {
        "name": {
          "type": "string",
          "description": "The name of the reservation. Structured like: projects/{project_number}/locations/{location}/reservations/{reservation_id}"
        },
        "throughputCapacity": {
          "description": "The reserved throughput capacity. Every unit of throughput capacity is equivalent to 1 MiB/s of published messages or 2 MiB/s of subscribed messages. Any topics which are declared as using capacity from a Reservation will consume resources from this reservation instead of being charged individually.",
          "type": "string",
          "format": "int64"
        }
      },
      "type": "object",
      "description": "Metadata about a reservation resource."
    },
    "Subscription": {
      "id": "Subscription",
      "properties": {
        "name": {
          "description": "The name of the subscription. Structured like: projects/{project_number}/locations/{location}/subscriptions/{subscription_id}",
          "type": "string"
        },
        "topic": {
          "type": "string",
          "description": "The name of the topic this subscription is attached to. Structured like: projects/{project_number}/locations/{location}/topics/{topic_id}"
        },
        "deliveryConfig": {
          "description": "The settings for this subscription's message delivery.",
          "$ref": "DeliveryConfig"
        },
        "exportConfig": {
          "$ref": "ExportConfig",
          "description": "If present, messages are automatically written from the Pub/Sub Lite topic associated with this subscription to a destination."
        }
      },
      "description": "Metadata about a subscription resource.",
      "type": "object"
    },
    "ComputeMessageStatsResponse": {
      "description": "Response containing stats for messages in the requested topic and partition.",
      "type": "object",
      "id": "ComputeMessageStatsResponse",
      "properties": {
        "messageCount": {
          "description": "The count of messages.",
          "type": "string",
          "format": "int64"
        },
        "messageBytes": {
          "type": "string",
          "format": "int64",
          "description": "The number of quota bytes accounted to these messages."
        },
        "minimumPublishTime": {
          "description": "The minimum publish timestamp across these messages. Note that publish timestamps within a partition are not guaranteed to be non-decreasing. The timestamp will be unset if there are no messages.",
          "type": "string",
          "format": "google-datetime"
        },
        "minimumEventTime": {
          "description": "The minimum event timestamp across these messages. For the purposes of this computation, if a message does not have an event time, we use the publish time. The timestamp will be unset if there are no messages.",
          "type": "string",
          "format": "google-datetime"
        }
      }
    },
    "ComputeHeadCursorResponse": {
      "type": "object",
      "description": "Response containing the head cursor for the requested topic and partition.",
      "id": "ComputeHeadCursorResponse",
      "properties": {
        "headCursor": {
          "description": "The head cursor.",
          "$ref": "Cursor"
        }
      }
    },
    "ComputeTimeCursorResponse": {
      "id": "ComputeTimeCursorResponse",
      "properties": {
        "cursor": {
          "description": "If present, the cursor references the first message with time greater than or equal to the specified target time. If such a message cannot be found, the cursor will be unset (i.e. `cursor` is not present).",
          "$ref": "Cursor"
        }
      },
      "description": "Response containing the cursor corresponding to a publish or event time in a topic partition.",
      "type": "object"
    },
    "ListReservationsResponse": {
      "id": "ListReservationsResponse",
      "properties": {
        "reservations": {
          "type": "array",
          "description": "The list of reservation in the requested parent. The order of the reservations is unspecified.",
          "items": {
            "$ref": "Reservation"
          }
        },
        "nextPageToken": {
          "description": "A token that can be sent as `page_token` to retrieve the next page of results. If this field is omitted, there are no more results.",
          "type": "string"
        }
      },
      "description": "Response for ListReservations.",
      "type": "object"
    },
    "OperationMetadata": {
      "id": "OperationMetadata",
      "properties": {
        "target": {
          "description": "Resource path for the target of the operation. For example, targets of seeks are subscription resources, structured like: projects/{project_number}/locations/{location}/subscriptions/{subscription_id}",
          "type": "string"
        },
        "endTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The time the operation finished running. Not set if the operation has not completed."
        },
        "verb": {
          "description": "Name of the verb executed by the operation.",
          "type": "string"
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The time the operation was created."
        }
      },
      "type": "object",
      "description": "Metadata for long running operations."
    },
    "ReservationConfig": {
      "id": "ReservationConfig",
      "properties": {
        "throughputReservation": {
          "description": "The Reservation to use for this topic's throughput capacity. Structured like: projects/{project_number}/locations/{location}/reservations/{reservation_id}",
          "type": "string"
        }
      },
      "description": "The settings for this topic's Reservation usage.",
      "type": "object"
    },
    "Empty": {
      "id": "Empty",
      "properties": {},
      "type": "object",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }"
    },
    "Topic": {
      "id": "Topic",
      "properties": {
        "retentionConfig": {
          "$ref": "RetentionConfig",
          "description": "The settings for this topic's message retention."
        },
        "reservationConfig": {
          "description": "The settings for this topic's Reservation usage.",
          "$ref": "ReservationConfig"
        },
        "name": {
          "type": "string",
          "description": "The name of the topic. Structured like: projects/{project_number}/locations/{location}/topics/{topic_id}"
        },
        "partitionConfig": {
          "$ref": "PartitionConfig",
          "description": "The settings for this topic's partitions."
        }
      },
      "description": "Metadata about a topic resource.",
      "type": "object"
    },
    "PartitionConfig": {
      "type": "object",
      "description": "The settings for a topic's partitions.",
      "id": "PartitionConfig",
      "properties": {
        "scale": {
          "description": "DEPRECATED: Use capacity instead which can express a superset of configurations. Every partition in the topic is allocated throughput equivalent to `scale` times the standard partition throughput (4 MiB/s). This is also reflected in the cost of this topic; a topic with `scale` of 2 and count of 10 is charged for 20 partitions. This value must be in the range [1,4].",
          "deprecated": true,
          "type": "integer",
          "format": "int32"
        },
        "count": {
          "description": "The number of partitions in the topic. Must be at least 1. Once a topic has been created the number of partitions can be increased but not decreased. Message ordering is not guaranteed across a topic resize. For more information see https://cloud.google.com/pubsub/lite/docs/topics#scaling_capacity",
          "type": "string",
          "format": "int64"
        },
        "capacity": {
          "$ref": "Capacity",
          "description": "The capacity configuration."
        }
      }
    },
    "TimeTarget": {
      "type": "object",
      "description": "A target publish or event time. Can be used for seeking to or retrieving the corresponding cursor.",
      "id": "TimeTarget",
      "properties": {
        "publishTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Request the cursor of the first message with publish time greater than or equal to `publish_time`. All messages thereafter are guaranteed to have publish times >= `publish_time`."
        },
        "eventTime": {
          "description": "Request the cursor of the first message with event time greater than or equal to `event_time`. If messages are missing an event time, the publish time is used as a fallback. As event times are user supplied, subsequent messages may have event times less than `event_time` and should be filtered by the client, if necessary.",
          "type": "string",
          "format": "google-datetime"
        }
      }
    },
    "CommitCursorRequest": {
      "type": "object",
      "description": "Request for CommitCursor.",
      "id": "CommitCursorRequest",
      "properties": {
        "partition": {
          "type": "string",
          "format": "int64",
          "description": "The partition for which to update the cursor. Partitions are zero indexed, so `partition` must be in the range [0, topic.num_partitions)."
        },
        "cursor": {
          "description": "The new value for the committed cursor.",
          "$ref": "Cursor"
        }
      }
    },
    "ComputeTimeCursorRequest": {
      "id": "ComputeTimeCursorRequest",
      "properties": {
        "partition": {
          "type": "string",
          "format": "int64",
          "description": "Required. The partition for which we should compute the cursor."
        },
        "target": {
          "$ref": "TimeTarget",
          "description": "Required. The target publish or event time. Specifying a future time will return an unset cursor."
        }
      },
      "description": "Compute the corresponding cursor for a publish or event time in a topic partition.",
      "type": "object"
    },
    "ListPartitionCursorsResponse": {
      "id": "ListPartitionCursorsResponse",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        },
        "partitionCursors": {
          "description": "The partition cursors from this request.",
          "items": {
            "$ref": "PartitionCursor"
          },
          "type": "array"
        }
      },
      "description": "Response for ListPartitionCursors",
      "type": "object"
    },
    "Capacity": {
      "id": "Capacity",
      "properties": {
        "publishMibPerSec": {
          "type": "integer",
          "format": "int32",
          "description": "Publish throughput capacity per partition in MiB/s. Must be >= 4 and <= 16."
        },
        "subscribeMibPerSec": {
          "type": "integer",
          "format": "int32",
          "description": "Subscribe throughput capacity per partition in MiB/s. Must be >= 4 and <= 32."
        }
      },
      "type": "object",
      "description": "The throughput capacity configuration for each partition."
    },
    "ComputeHeadCursorRequest": {
      "id": "ComputeHeadCursorRequest",
      "properties": {
        "partition": {
          "description": "Required. The partition for which we should compute the head cursor.",
          "type": "string",
          "format": "int64"
        }
      },
      "description": "Compute the current head cursor for a partition.",
      "type": "object"
    },
    "ListOperationsResponse": {
      "type": "object",
      "description": "The response message for Operations.ListOperations.",
      "id": "ListOperationsResponse",
      "properties": {
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        },
        "unreachable": {
          "type": "array",
          "description": "Unordered list. Unreachable resources. Populated when the request sets `ListOperationsRequest.return_partial_success` and reads across collections. For example, when attempting to list all resources across all supported locations.",
          "items": {
            "type": "string"
          }
        },
        "operations": {
          "type": "array",
          "description": "A list of operations that matches the specified filter in the request.",
          "items": {
            "$ref": "Operation"
          }
        }
      }
    },
    "TopicPartitions": {
      "id": "TopicPartitions",
      "properties": {
        "partitionCount": {
          "description": "The number of partitions in the topic.",
          "type": "string",
          "format": "int64"
        }
      },
      "description": "Response for GetTopicPartitions.",
      "type": "object"
    },
    "PartitionCursor": {
      "description": "A pair of a Cursor and the partition it is for.",
      "type": "object",
      "id": "PartitionCursor",
      "properties": {
        "partition": {
          "description": "The partition this is for.",
          "type": "string",
          "format": "int64"
        },
        "cursor": {
          "$ref": "Cursor",
          "description": "The value of the cursor."
        }
      }
    },
    "CancelOperationRequest": {
      "type": "object",
      "description": "The request message for Operations.CancelOperation.",
      "id": "CancelOperationRequest",
      "properties": {}
    },
    "ListTopicSubscriptionsResponse": {
      "description": "Response for ListTopicSubscriptions.",
      "type": "object",
      "id": "ListTopicSubscriptionsResponse",
      "properties": {
        "subscriptions": {
          "type": "array",
          "description": "The names of subscriptions attached to the topic. The order of the subscriptions is unspecified.",
          "items": {
            "type": "string"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token that can be sent as `page_token` to retrieve the next page of results. If this field is omitted, there are no more results."
        }
      }
    },
    "DeliveryConfig": {
      "type": "object",
      "description": "The settings for a subscription's message delivery.",
      "id": "DeliveryConfig",
      "properties": {
        "deliveryRequirement": {
          "type": "string",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "The server does not wait for a published message to be successfully written to storage before delivering it to subscribers.",
            "The server will not deliver a published message to subscribers until the message has been successfully written to storage. This will result in higher end-to-end latency, but consistent delivery."
          ],
          "description": "The DeliveryRequirement for this subscription.",
          "enum": [
            "DELIVERY_REQUIREMENT_UNSPECIFIED",
            "DELIVER_IMMEDIATELY",
            "DELIVER_AFTER_STORED"
          ]
        }
      }
    }
  },
  "protocol": "rest",
  "kind": "discovery#restDescription",
  "rootUrl": "https://pubsublite.googleapis.com/",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "name": "pubsublite"
}