{
  "revision": "20260825",
  "protocol": "rest",
  "rootUrl": "https://pubsub.googleapis.com/",
  "ownerName": "Google",
  "baseUrl": "https://pubsub.googleapis.com/",
  "basePath": "",
  "batchPath": "batch",
  "id": "pubsub:v1beta1a",
  "discoveryVersion": "v1",
  "parameters": {
    "$.xgafv": {
      "type": "string",
      "enum": [
        "1",
        "2"
      ],
      "location": "query",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format."
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "upload_protocol": {
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "location": "query",
      "type": "string"
    },
    "key": {
      "location": "query",
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "fields": {
      "type": "string",
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "access_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth access token."
    },
    "prettyPrint": {
      "type": "boolean",
      "default": "true",
      "description": "Returns response with indentations and line breaks.",
      "location": "query"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "callback": {
      "description": "JSONP",
      "location": "query",
      "type": "string"
    },
    "alt": {
      "description": "Data format for response.",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "default": "json",
      "type": "string",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "location": "query"
    }
  },
  "version": "v1beta1a",
  "ownerDomain": "google.com",
  "title": "Cloud Pub/Sub API",
  "kind": "discovery#restDescription",
  "description": "Provides reliable, many-to-many, asynchronous messaging between applications. ",
  "documentationLink": "https://cloud.google.com/pubsub/docs",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "resources": {
    "subscriptions": {
      "methods": {
        "modifyPushConfig": {
          "parameters": {},
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/pubsub"
          ],
          "id": "pubsub.subscriptions.modifyPushConfig",
          "flatPath": "v1beta1a/subscriptions/modifyPushConfig",
          "parameterOrder": [],
          "httpMethod": "POST",
          "response": {
            "$ref": "Empty"
          },
          "request": {
            "$ref": "ModifyPushConfigRequest"
          },
          "description": "Modifies the PushConfig for a specified subscription. This method can be used to suspend the flow of messages to an endpoint by clearing the PushConfig field in the request. Messages will be accumulated for delivery even if no push configuration is defined or while the configuration is modified.",
          "path": "v1beta1a/subscriptions/modifyPushConfig"
        },
        "create": {
          "parameterOrder": [],
          "httpMethod": "POST",
          "request": {
            "$ref": "Subscription"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/pubsub"
          ],
          "path": "v1beta1a/subscriptions",
          "flatPath": "v1beta1a/subscriptions",
          "id": "pubsub.subscriptions.create",
          "parameters": {},
          "response": {
            "$ref": "Subscription"
          },
          "description": "Creates a subscription on a given topic for a given subscriber. If the subscription already exists, returns ALREADY_EXISTS. If the corresponding topic doesn't exist, returns NOT_FOUND. If the name is not provided in the request, the server will assign a random name for this subscription on the same project as the topic."
        },
        "acknowledge": {
          "description": "Acknowledges a particular received message: the Pub/Sub system can remove the given message from the subscription. Acknowledging a message whose Ack deadline has expired may succeed, but the message could have been already redelivered. Acknowledging a message more than once will not result in an error. This is only used for messages received via pull.",
          "httpMethod": "POST",
          "path": "v1beta1a/subscriptions/acknowledge",
          "id": "pubsub.subscriptions.acknowledge",
          "response": {
            "$ref": "Empty"
          },
          "parameters": {},
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/pubsub"
          ],
          "flatPath": "v1beta1a/subscriptions/acknowledge",
          "parameterOrder": [],
          "request": {
            "$ref": "AcknowledgeRequest"
          }
        },
        "list": {
          "path": "v1beta1a/subscriptions",
          "parameterOrder": [],
          "flatPath": "v1beta1a/subscriptions",
          "response": {
            "$ref": "ListSubscriptionsResponse"
          },
          "parameters": {
            "query": {
              "location": "query",
              "description": "A valid label query expression.",
              "type": "string"
            },
            "maxResults": {
              "location": "query",
              "description": "Maximum number of subscriptions to return.",
              "format": "int32",
              "type": "integer"
            },
            "pageToken": {
              "type": "string",
              "location": "query",
              "description": "The value obtained in the last ListSubscriptionsResponse for continuation."
            }
          },
          "description": "Lists matching subscriptions.",
          "id": "pubsub.subscriptions.list",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/pubsub"
          ],
          "httpMethod": "GET"
        },
        "pullBatch": {
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/pubsub"
          ],
          "parameters": {},
          "response": {
            "$ref": "PullBatchResponse"
          },
          "request": {
            "$ref": "PullBatchRequest"
          },
          "httpMethod": "POST",
          "description": "Pulls messages from the server. Returns an empty list if there are no messages available in the backlog. The system is free to return UNAVAILABLE if there are too many pull requests outstanding for the given subscription.",
          "parameterOrder": [],
          "path": "v1beta1a/subscriptions/pullBatch",
          "flatPath": "v1beta1a/subscriptions/pullBatch",
          "id": "pubsub.subscriptions.pullBatch"
        },
        "modifyAckDeadline": {
          "httpMethod": "POST",
          "id": "pubsub.subscriptions.modifyAckDeadline",
          "parameters": {},
          "description": "Modifies the Ack deadline for a message received from a pull request.",
          "response": {
            "$ref": "Empty"
          },
          "flatPath": "v1beta1a/subscriptions/modifyAckDeadline",
          "path": "v1beta1a/subscriptions/modifyAckDeadline",
          "request": {
            "$ref": "ModifyAckDeadlineRequest"
          },
          "parameterOrder": [],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/pubsub"
          ]
        },
        "delete": {
          "parameters": {
            "subscription": {
              "description": "The subscription to delete.",
              "type": "string",
              "location": "path",
              "required": true,
              "pattern": "^.*$"
            }
          },
          "flatPath": "v1beta1a/subscriptions/{subscriptionsId}",
          "httpMethod": "DELETE",
          "id": "pubsub.subscriptions.delete",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/pubsub"
          ],
          "path": "v1beta1a/subscriptions/{+subscription}",
          "parameterOrder": [
            "subscription"
          ],
          "description": "Deletes an existing subscription. All pending messages in the subscription are immediately dropped. Calls to Pull after deletion will return NOT_FOUND.",
          "response": {
            "$ref": "Empty"
          }
        },
        "get": {
          "path": "v1beta1a/subscriptions/{+subscription}",
          "id": "pubsub.subscriptions.get",
          "response": {
            "$ref": "Subscription"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/pubsub"
          ],
          "parameterOrder": [
            "subscription"
          ],
          "description": "Gets the configuration details of a subscription.",
          "flatPath": "v1beta1a/subscriptions/{subscriptionsId}",
          "httpMethod": "GET",
          "parameters": {
            "subscription": {
              "type": "string",
              "description": "The name of the subscription to get.",
              "location": "path",
              "pattern": "^.*$",
              "required": true
            }
          }
        },
        "pull": {
          "request": {
            "$ref": "PullRequest"
          },
          "flatPath": "v1beta1a/subscriptions/pull",
          "id": "pubsub.subscriptions.pull",
          "parameterOrder": [],
          "description": "Pulls a single message from the server. If return_immediately is true, and no messages are available in the subscription, this method returns FAILED_PRECONDITION. The system is free to return an UNAVAILABLE error if no messages are available in a reasonable amount of time (to reduce system load).",
          "path": "v1beta1a/subscriptions/pull",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/pubsub"
          ],
          "httpMethod": "POST",
          "response": {
            "$ref": "PullResponse"
          },
          "parameters": {}
        }
      }
    },
    "topics": {
      "methods": {
        "get": {
          "flatPath": "v1beta1a/topics/{topicsId}",
          "parameters": {
            "topic": {
              "required": true,
              "description": "The name of the topic to get.",
              "pattern": "^.*$",
              "type": "string",
              "location": "path"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/pubsub"
          ],
          "httpMethod": "GET",
          "description": "Gets the configuration of a topic. Since the topic only has the name attribute, this method is only useful to check the existence of a topic. If other attributes are added in the future, they will be returned here.",
          "parameterOrder": [
            "topic"
          ],
          "id": "pubsub.topics.get",
          "response": {
            "$ref": "Topic"
          },
          "path": "v1beta1a/topics/{+topic}"
        },
        "publishBatch": {
          "response": {
            "$ref": "PublishBatchResponse"
          },
          "request": {
            "$ref": "PublishBatchRequest"
          },
          "description": "Adds one or more messages to the topic. Returns NOT_FOUND if the topic does not exist.",
          "path": "v1beta1a/topics/publishBatch",
          "parameterOrder": [],
          "httpMethod": "POST",
          "flatPath": "v1beta1a/topics/publishBatch",
          "id": "pubsub.topics.publishBatch",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/pubsub"
          ],
          "parameters": {}
        },
        "publish": {
          "parameters": {},
          "httpMethod": "POST",
          "path": "v1beta1a/topics/publish",
          "flatPath": "v1beta1a/topics/publish",
          "description": "Adds a message to the topic. Returns NOT_FOUND if the topic does not exist.",
          "parameterOrder": [],
          "request": {
            "$ref": "PublishRequest"
          },
          "response": {
            "$ref": "Empty"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/pubsub"
          ],
          "id": "pubsub.topics.publish"
        },
        "list": {
          "parameterOrder": [],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/pubsub"
          ],
          "response": {
            "$ref": "ListTopicsResponse"
          },
          "description": "Lists matching topics.",
          "httpMethod": "GET",
          "id": "pubsub.topics.list",
          "flatPath": "v1beta1a/topics",
          "parameters": {
            "query": {
              "type": "string",
              "description": "A valid label query expression.",
              "location": "query"
            },
            "maxResults": {
              "description": "Maximum number of topics to return.",
              "type": "integer",
              "format": "int32",
              "location": "query"
            },
            "pageToken": {
              "description": "The value obtained in the last ListTopicsResponse for continuation.",
              "location": "query",
              "type": "string"
            }
          },
          "path": "v1beta1a/topics"
        },
        "create": {
          "response": {
            "$ref": "Topic"
          },
          "httpMethod": "POST",
          "parameters": {},
          "request": {
            "$ref": "Topic"
          },
          "parameterOrder": [],
          "path": "v1beta1a/topics",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/pubsub"
          ],
          "flatPath": "v1beta1a/topics",
          "id": "pubsub.topics.create",
          "description": "Creates the given topic with the given name."
        },
        "delete": {
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/pubsub"
          ],
          "flatPath": "v1beta1a/topics/{topicsId}",
          "id": "pubsub.topics.delete",
          "parameters": {
            "topic": {
              "type": "string",
              "location": "path",
              "description": "Name of the topic to delete.",
              "pattern": "^.*$",
              "required": true
            }
          },
          "response": {
            "$ref": "Empty"
          },
          "description": "Deletes the topic with the given name. Returns NOT_FOUND if the topic does not exist. After a topic is deleted, a new topic may be created with the same name.",
          "parameterOrder": [
            "topic"
          ],
          "httpMethod": "DELETE",
          "path": "v1beta1a/topics/{+topic}"
        }
      }
    }
  },
  "servicePath": "",
  "mtlsRootUrl": "https://pubsub.mtls.googleapis.com/",
  "endpoints": [
    {
      "description": "Regional Endpoint",
      "location": "africa-south1",
      "endpointUrl": "https://pubsub.africa-south1.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://pubsub.asia-east1.rep.googleapis.com/",
      "location": "asia-east1",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://pubsub.asia-east2.rep.googleapis.com/",
      "location": "asia-east2"
    },
    {
      "location": "asia-northeast1",
      "endpointUrl": "https://pubsub.asia-northeast1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://pubsub.asia-northeast2.rep.googleapis.com/",
      "location": "asia-northeast2",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://pubsub.asia-northeast3.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "asia-northeast3"
    },
    {
      "description": "Regional Endpoint",
      "location": "asia-south1",
      "endpointUrl": "https://pubsub.asia-south1.rep.googleapis.com/"
    },
    {
      "location": "asia-south2",
      "description": "Regional Endpoint",
      "endpointUrl": "https://pubsub.asia-south2.rep.googleapis.com/"
    },
    {
      "location": "asia-southeast1",
      "description": "Regional Endpoint",
      "endpointUrl": "https://pubsub.asia-southeast1.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "location": "asia-southeast2",
      "endpointUrl": "https://pubsub.asia-southeast2.rep.googleapis.com/"
    },
    {
      "location": "asia-southeast3",
      "description": "Regional Endpoint",
      "endpointUrl": "https://pubsub.asia-southeast3.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://pubsub.australia-southeast1.rep.googleapis.com/",
      "location": "australia-southeast1",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://pubsub.australia-southeast2.rep.googleapis.com/",
      "location": "australia-southeast2",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "location": "europe-central2",
      "endpointUrl": "https://pubsub.europe-central2.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://pubsub.europe-north1.rep.googleapis.com/",
      "location": "europe-north1",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "location": "europe-north2",
      "endpointUrl": "https://pubsub.europe-north2.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://pubsub.europe-southwest1.rep.googleapis.com/",
      "location": "europe-southwest1"
    },
    {
      "description": "Regional Endpoint",
      "location": "europe-west1",
      "endpointUrl": "https://pubsub.europe-west1.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://pubsub.europe-west2.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "europe-west2"
    },
    {
      "location": "europe-west3",
      "endpointUrl": "https://pubsub.europe-west3.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "europe-west4",
      "description": "Regional Endpoint",
      "endpointUrl": "https://pubsub.europe-west4.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://pubsub.europe-west6.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "europe-west6"
    },
    {
      "endpointUrl": "https://pubsub.europe-west8.rep.googleapis.com/",
      "location": "europe-west8",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://pubsub.europe-west9.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "europe-west9"
    },
    {
      "description": "Regional Endpoint",
      "location": "europe-west10",
      "endpointUrl": "https://pubsub.europe-west10.rep.googleapis.com/"
    },
    {
      "location": "europe-west12",
      "endpointUrl": "https://pubsub.europe-west12.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://pubsub.me-central1.rep.googleapis.com/",
      "location": "me-central1",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://pubsub.me-central2.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "me-central2"
    },
    {
      "endpointUrl": "https://pubsub.me-west1.rep.googleapis.com/",
      "location": "me-west1",
      "description": "Regional Endpoint"
    },
    {
      "location": "northamerica-northeast1",
      "description": "Regional Endpoint",
      "endpointUrl": "https://pubsub.northamerica-northeast1.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://pubsub.northamerica-northeast2.rep.googleapis.com/",
      "location": "northamerica-northeast2",
      "description": "Regional Endpoint"
    },
    {
      "location": "northamerica-south1",
      "description": "Regional Endpoint",
      "endpointUrl": "https://pubsub.northamerica-south1.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "location": "southamerica-east1",
      "endpointUrl": "https://pubsub.southamerica-east1.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://pubsub.southamerica-west1.rep.googleapis.com/",
      "location": "southamerica-west1"
    },
    {
      "endpointUrl": "https://pubsub.us-central1.rep.googleapis.com/",
      "location": "us-central1",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://pubsub.us-central2.rep.googleapis.com/",
      "location": "us-central2",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://pubsub.us-east1.rep.googleapis.com/",
      "location": "us-east1",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://pubsub.us-east4.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "us-east4"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://pubsub.us-east5.rep.googleapis.com/",
      "location": "us-east5"
    },
    {
      "location": "us-east7",
      "description": "Regional Endpoint",
      "endpointUrl": "https://pubsub.us-east7.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "location": "us-south1",
      "endpointUrl": "https://pubsub.us-south1.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://pubsub.us-west1.rep.googleapis.com/",
      "location": "us-west1"
    },
    {
      "endpointUrl": "https://pubsub.us-west2.rep.googleapis.com/",
      "location": "us-west2",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://pubsub.us-west3.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "us-west3"
    },
    {
      "description": "Regional Endpoint",
      "location": "us-west4",
      "endpointUrl": "https://pubsub.us-west4.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "location": "us-west8",
      "endpointUrl": "https://pubsub.us-west8.rep.googleapis.com/"
    }
  ],
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/pubsub": {
          "description": "View and manage Pub/Sub topics and subscriptions"
        },
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "name": "pubsub",
  "schemas": {
    "Empty": {
      "type": "object",
      "id": "Empty",
      "description": "An empty message that you can re-use to avoid defining duplicated empty messages in your project. A typical example is to use it as argument or the return value of a service API. For instance: service Foo { rpc Bar (proto2.Empty) returns (proto2.Empty) { }; }; BEGIN GOOGLE-INTERNAL The difference between this one and net/rpc/empty-message.proto is that 1) The generated message here is in proto2 C++ API. 2) The proto2.Empty has minimum dependencies (no message_set or net/rpc dependencies) END GOOGLE-INTERNAL",
      "properties": {}
    },
    "ModifyAckDeadlineRequest": {
      "description": "Request for the ModifyAckDeadline method.",
      "properties": {
        "ackDeadlineSeconds": {
          "description": "The new ack deadline with respect to the time this request was sent to the Pub/Sub system. Must be >= 0. For example, if the value is 10, the new ack deadline will expire 10 seconds after the ModifyAckDeadline call was made. Specifying zero may immediately make the message available for another pull request.",
          "type": "integer",
          "format": "int32"
        },
        "subscription": {
          "type": "string",
          "description": "Next Index: 5 The name of the subscription from which messages are being pulled."
        },
        "ackId": {
          "deprecated": true,
          "type": "string",
          "description": "The acknowledgment ID. Either this or ack_ids must be populated, not both."
        },
        "ackIds": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "List of acknowledgment IDs. Either this field or ack_id should be populated, not both."
        }
      },
      "id": "ModifyAckDeadlineRequest",
      "type": "object"
    },
    "PullBatchRequest": {
      "type": "object",
      "description": "Request for the PullBatch method.",
      "id": "PullBatchRequest",
      "properties": {
        "subscription": {
          "type": "string",
          "description": "The subscription from which messages should be pulled."
        },
        "returnImmediately": {
          "type": "boolean",
          "description": "If this is specified as true the system will respond immediately even if it is not able to return a message in the Pull response. Otherwise the system is allowed to wait until at least one message is available rather than returning no messages. The client may cancel the request if it does not wish to wait any longer for the response."
        },
        "maxEvents": {
          "description": "The maximum number of PubsubEvents returned for this request. The Pub/Sub system may return fewer than the number of events specified.",
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "PublishBatchRequest": {
      "type": "object",
      "id": "PublishBatchRequest",
      "properties": {
        "topic": {
          "type": "string",
          "description": "The messages in the request will be published on this topic."
        },
        "messages": {
          "description": "The messages to publish.",
          "type": "array",
          "items": {
            "$ref": "PubsubMessage"
          }
        }
      },
      "description": "Request for the PublishBatch method."
    },
    "ListSubscriptionsResponse": {
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "If not empty, indicates that there are more subscriptions that match the request and this value should be passed to the next ListSubscriptionsRequest to continue."
        },
        "subscription": {
          "type": "array",
          "items": {
            "$ref": "Subscription"
          },
          "description": "The subscriptions that match the request."
        }
      },
      "id": "ListSubscriptionsResponse",
      "type": "object",
      "description": "Response for the ListSubscriptions method."
    },
    "PubsubMessage": {
      "properties": {
        "label": {
          "items": {
            "$ref": "Label"
          },
          "description": "Optional list of labels for this message. Keys in this collection must be unique.",
          "type": "array"
        },
        "data": {
          "format": "byte",
          "type": "string",
          "description": "The message payload."
        },
        "publishTime": {
          "type": "string",
          "format": "int64",
          "description": "The time at which the message was published. The time is milliseconds since the UNIX epoch."
        },
        "messageId": {
          "type": "string",
          "description": "ID of this message assigned by the server at publication time. Guaranteed to be unique within the topic. This value may be read by a subscriber that receives a PubsubMessage via a Pull call or a push delivery. It must not be populated by a publisher in a Publish call."
        }
      },
      "description": "A message data and its labels.",
      "id": "PubsubMessage",
      "type": "object"
    },
    "Label": {
      "id": "Label",
      "properties": {
        "strValue": {
          "type": "string",
          "description": "A string value."
        },
        "numValue": {
          "description": "An integer value.",
          "format": "int64",
          "type": "string"
        },
        "key": {
          "type": "string",
          "description": "The key of a label is a syntactically valid URL (as per RFC 1738) with the \"scheme\" and initial slashes omitted and with the additional restrictions noted below. Each key should be globally unique. The \"host\" portion is called the \"namespace\" and is not necessarily resolvable to a network endpoint. Instead, the namespace indicates what system or entity defines the semantics of the label. Namespaces do not restrict the set of objects to which a label may be associated. Keys are defined by the following grammar: key = hostname \"/\" kpath kpath = ksegment *[ \"/\" ksegment ] ksegment = alphadigit | *[ alphadigit | \"-\" | \"_\" | \".\" ] where \"hostname\" and \"alphadigit\" are defined as in RFC 1738. Example key: spanner.google.com/universe"
        }
      },
      "type": "object",
      "description": "A key-value pair applied to a given object."
    },
    "ModifyPushConfigRequest": {
      "description": "Request for the ModifyPushConfig method.",
      "id": "ModifyPushConfigRequest",
      "type": "object",
      "properties": {
        "subscription": {
          "description": "The name of the subscription.",
          "type": "string"
        },
        "pushConfig": {
          "description": "An empty push_config indicates that the Pub/Sub system should pause pushing messages from the given subscription.",
          "$ref": "PushConfig"
        }
      }
    },
    "PullBatchResponse": {
      "id": "PullBatchResponse",
      "properties": {
        "pullResponses": {
          "items": {
            "$ref": "PullResponse"
          },
          "description": "Received Pub/Sub messages or status events. The Pub/Sub system will return zero messages if there are no more messages available in the backlog. The Pub/Sub system may return fewer than the max_events requested even if there are more messages available in the backlog.",
          "type": "array"
        }
      },
      "description": "Response for the PullBatch method.",
      "type": "object"
    },
    "Topic": {
      "description": "A topic resource.",
      "properties": {
        "name": {
          "description": "Name of the topic.",
          "type": "string"
        }
      },
      "id": "Topic",
      "type": "object"
    },
    "PullRequest": {
      "id": "PullRequest",
      "description": "Request for the Pull method.",
      "type": "object",
      "properties": {
        "subscription": {
          "type": "string",
          "description": "The subscription from which a message should be pulled."
        },
        "returnImmediately": {
          "type": "boolean",
          "description": "If this is specified as true the system will respond immediately even if it is not able to return a message in the Pull response. Otherwise the system is allowed to wait until at least one message is available rather than returning FAILED_PRECONDITION. The client may cancel the request if it does not wish to wait any longer for the response."
        }
      }
    },
    "PushConfig": {
      "properties": {
        "pushEndpoint": {
          "type": "string",
          "description": "A URL locating the endpoint to which messages should be pushed. For example, a Webhook endpoint might use \"https://example.com/push\"."
        }
      },
      "description": "Configuration for a push delivery endpoint.",
      "id": "PushConfig",
      "type": "object"
    },
    "PullResponse": {
      "type": "object",
      "description": "Either a PubsubMessage or a truncation event. One of these two must be populated.",
      "properties": {
        "pubsubEvent": {
          "description": "A pubsub message or truncation event.",
          "$ref": "PubsubEvent"
        },
        "ackId": {
          "type": "string",
          "description": "This ID must be used to acknowledge the received event or message."
        }
      },
      "id": "PullResponse"
    },
    "ListTopicsResponse": {
      "id": "ListTopicsResponse",
      "type": "object",
      "description": "Response for the ListTopics method.",
      "properties": {
        "nextPageToken": {
          "description": "If not empty, indicates that there are more topics that match the request, and this value should be passed to the next ListTopicsRequest to continue.",
          "type": "string"
        },
        "topic": {
          "items": {
            "$ref": "Topic"
          },
          "description": "The resulting topics.",
          "type": "array"
        }
      }
    },
    "PublishRequest": {
      "id": "PublishRequest",
      "description": "Request for the Publish method.",
      "properties": {
        "message": {
          "$ref": "PubsubMessage",
          "description": "The message to publish."
        },
        "topic": {
          "type": "string",
          "description": "The message in the request will be published on this topic."
        }
      },
      "type": "object"
    },
    "Subscription": {
      "properties": {
        "topic": {
          "description": "The name of the topic from which this subscription is receiving messages.",
          "type": "string"
        },
        "ackDeadlineSeconds": {
          "format": "int32",
          "type": "integer",
          "description": "For either push or pull delivery, the value is the maximum time after a subscriber receives a message before the subscriber should acknowledge or Nack the message. If the Ack deadline for a message passes without an Ack or a Nack, the Pub/Sub system will eventually redeliver the message. If a subscriber acknowledges after the deadline, the Pub/Sub system may accept the Ack, but it is possible that the message has been already delivered again. Multiple Acks to the message are allowed and will succeed. For push delivery, this value is used to set the request timeout for the call to the push endpoint. For pull delivery, this value is used as the initial value for the Ack deadline. It may be overridden for each message using its corresponding ack_id with ModifyAckDeadline. While a message is outstanding (i.e. it has been delivered to a pull subscriber and the subscriber has not yet Acked or Nacked), the Pub/Sub system will not deliver that message to another pull subscriber (on a best-effort basis)."
        },
        "name": {
          "type": "string",
          "description": "Name of the subscription."
        },
        "pushConfig": {
          "$ref": "PushConfig",
          "description": "If push delivery is used with this subscription, this field is used to configure it."
        }
      },
      "id": "Subscription",
      "type": "object",
      "description": "A subscription resource."
    },
    "PubsubEvent": {
      "id": "PubsubEvent",
      "description": "An event indicating a received message or truncation event.",
      "properties": {
        "subscription": {
          "description": "The subscription that received the event.",
          "type": "string"
        },
        "message": {
          "description": "A received message.",
          "$ref": "PubsubMessage"
        },
        "deleted": {
          "description": "Indicates that this subscription has been deleted. (Note that pull subscribers will always receive NOT_FOUND in response in their pull request on the subscription, rather than seeing this boolean.)",
          "type": "boolean"
        },
        "truncated": {
          "type": "boolean",
          "description": "Indicates that this subscription has been truncated."
        }
      },
      "type": "object"
    },
    "AcknowledgeRequest": {
      "type": "object",
      "properties": {
        "subscription": {
          "type": "string",
          "description": "The subscription whose message is being acknowledged."
        },
        "ackId": {
          "type": "array",
          "description": "The acknowledgment ID for the message being acknowledged. This was returned by the Pub/Sub system in the Pull response.",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "AcknowledgeRequest",
      "description": "Request for the Acknowledge method."
    },
    "PublishBatchResponse": {
      "description": "Response for the PublishBatch method.",
      "type": "object",
      "id": "PublishBatchResponse",
      "properties": {
        "messageIds": {
          "description": "The server-assigned ID of each published message, in the same order as the messages in the request. IDs are guaranteed to be unique within the topic.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    }
  },
  "canonicalName": "Pubsub"
}