{
  "documentationLink": "https://cloud.google.com/pubsub/docs",
  "servicePath": "",
  "id": "pubsub:v1beta1a",
  "protocol": "rest",
  "title": "Cloud Pub/Sub API",
  "discoveryVersion": "v1",
  "version": "v1beta1a",
  "kind": "discovery#restDescription",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        },
        "https://www.googleapis.com/auth/pubsub": {
          "description": "View and manage Pub/Sub topics and subscriptions"
        }
      }
    }
  },
  "mtlsRootUrl": "https://pubsub.mtls.googleapis.com/",
  "schemas": {
    "Topic": {
      "id": "Topic",
      "type": "object",
      "properties": {
        "name": {
          "description": "Name of the topic.",
          "type": "string"
        }
      },
      "description": "A topic resource."
    },
    "PushConfig": {
      "description": "Configuration for a push delivery endpoint.",
      "properties": {
        "pushEndpoint": {
          "description": "A URL locating the endpoint to which messages should be pushed. For example, a Webhook endpoint might use \"https://example.com/push\".",
          "type": "string"
        }
      },
      "id": "PushConfig",
      "type": "object"
    },
    "ListSubscriptionsResponse": {
      "type": "object",
      "description": "Response for the ListSubscriptions method.",
      "properties": {
        "subscription": {
          "description": "The subscriptions that match the request.",
          "type": "array",
          "items": {
            "$ref": "Subscription"
          }
        },
        "nextPageToken": {
          "description": "If not empty, indicates that there are more subscriptions that match the request and this value should be passed to the next ListSubscriptionsRequest to continue.",
          "type": "string"
        }
      },
      "id": "ListSubscriptionsResponse"
    },
    "Label": {
      "type": "object",
      "description": "A key-value pair applied to a given object.",
      "id": "Label",
      "properties": {
        "numValue": {
          "description": "An integer value.",
          "format": "int64",
          "type": "string"
        },
        "strValue": {
          "type": "string",
          "description": "A string value."
        },
        "key": {
          "type": "string",
          "description": "The key of a label is a syntactically valid URL (as per RFC 1738) with the \"scheme\" and initial slashes omitted and with the additional restrictions noted below. Each key should be globally unique. The \"host\" portion is called the \"namespace\" and is not necessarily resolvable to a network endpoint. Instead, the namespace indicates what system or entity defines the semantics of the label. Namespaces do not restrict the set of objects to which a label may be associated. Keys are defined by the following grammar: key = hostname \"/\" kpath kpath = ksegment *[ \"/\" ksegment ] ksegment = alphadigit | *[ alphadigit | \"-\" | \"_\" | \".\" ] where \"hostname\" and \"alphadigit\" are defined as in RFC 1738. Example key: spanner.google.com/universe"
        }
      }
    },
    "PullRequest": {
      "properties": {
        "subscription": {
          "type": "string",
          "description": "The subscription from which a message should be pulled."
        },
        "returnImmediately": {
          "description": "If this is specified as true the system will respond immediately even if it is not able to return a message in the Pull response. Otherwise the system is allowed to wait until at least one message is available rather than returning FAILED_PRECONDITION. The client may cancel the request if it does not wish to wait any longer for the response.",
          "type": "boolean"
        }
      },
      "id": "PullRequest",
      "type": "object",
      "description": "Request for the Pull method."
    },
    "ModifyAckDeadlineRequest": {
      "id": "ModifyAckDeadlineRequest",
      "properties": {
        "subscription": {
          "type": "string",
          "description": "Next Index: 5 The name of the subscription from which messages are being pulled."
        },
        "ackIds": {
          "items": {
            "type": "string"
          },
          "description": "List of acknowledgment IDs. Either this field or ack_id should be populated, not both.",
          "type": "array"
        },
        "ackId": {
          "deprecated": true,
          "type": "string",
          "description": "The acknowledgment ID. Either this or ack_ids must be populated, not both."
        },
        "ackDeadlineSeconds": {
          "type": "integer",
          "description": "The new ack deadline with respect to the time this request was sent to the Pub/Sub system. Must be >= 0. For example, if the value is 10, the new ack deadline will expire 10 seconds after the ModifyAckDeadline call was made. Specifying zero may immediately make the message available for another pull request.",
          "format": "int32"
        }
      },
      "type": "object",
      "description": "Request for the ModifyAckDeadline method."
    },
    "Empty": {
      "properties": {},
      "description": "An empty message that you can re-use to avoid defining duplicated empty messages in your project. A typical example is to use it as argument or the return value of a service API. For instance: service Foo { rpc Bar (proto2.Empty) returns (proto2.Empty) { }; }; BEGIN GOOGLE-INTERNAL The difference between this one and net/rpc/empty-message.proto is that 1) The generated message here is in proto2 C++ API. 2) The proto2.Empty has minimum dependencies (no message_set or net/rpc dependencies) END GOOGLE-INTERNAL",
      "type": "object",
      "id": "Empty"
    },
    "PubsubEvent": {
      "description": "An event indicating a received message or truncation event.",
      "properties": {
        "subscription": {
          "description": "The subscription that received the event.",
          "type": "string"
        },
        "message": {
          "$ref": "PubsubMessage",
          "description": "A received message."
        },
        "truncated": {
          "type": "boolean",
          "description": "Indicates that this subscription has been truncated."
        },
        "deleted": {
          "description": "Indicates that this subscription has been deleted. (Note that pull subscribers will always receive NOT_FOUND in response in their pull request on the subscription, rather than seeing this boolean.)",
          "type": "boolean"
        }
      },
      "id": "PubsubEvent",
      "type": "object"
    },
    "ListTopicsResponse": {
      "type": "object",
      "description": "Response for the ListTopics method.",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "If not empty, indicates that there are more topics that match the request, and this value should be passed to the next ListTopicsRequest to continue."
        },
        "topic": {
          "description": "The resulting topics.",
          "type": "array",
          "items": {
            "$ref": "Topic"
          }
        }
      },
      "id": "ListTopicsResponse"
    },
    "PullBatchResponse": {
      "id": "PullBatchResponse",
      "description": "Response for the PullBatch method.",
      "properties": {
        "pullResponses": {
          "description": "Received Pub/Sub messages or status events. The Pub/Sub system will return zero messages if there are no more messages available in the backlog. The Pub/Sub system may return fewer than the max_events requested even if there are more messages available in the backlog.",
          "items": {
            "$ref": "PullResponse"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "Subscription": {
      "id": "Subscription",
      "description": "A subscription resource.",
      "properties": {
        "ackDeadlineSeconds": {
          "description": "For either push or pull delivery, the value is the maximum time after a subscriber receives a message before the subscriber should acknowledge or Nack the message. If the Ack deadline for a message passes without an Ack or a Nack, the Pub/Sub system will eventually redeliver the message. If a subscriber acknowledges after the deadline, the Pub/Sub system may accept the Ack, but it is possible that the message has been already delivered again. Multiple Acks to the message are allowed and will succeed. For push delivery, this value is used to set the request timeout for the call to the push endpoint. For pull delivery, this value is used as the initial value for the Ack deadline. It may be overridden for each message using its corresponding ack_id with ModifyAckDeadline. While a message is outstanding (i.e. it has been delivered to a pull subscriber and the subscriber has not yet Acked or Nacked), the Pub/Sub system will not deliver that message to another pull subscriber (on a best-effort basis).",
          "format": "int32",
          "type": "integer"
        },
        "name": {
          "type": "string",
          "description": "Name of the subscription."
        },
        "topic": {
          "type": "string",
          "description": "The name of the topic from which this subscription is receiving messages."
        },
        "pushConfig": {
          "description": "If push delivery is used with this subscription, this field is used to configure it.",
          "$ref": "PushConfig"
        }
      },
      "type": "object"
    },
    "ModifyPushConfigRequest": {
      "id": "ModifyPushConfigRequest",
      "type": "object",
      "properties": {
        "subscription": {
          "type": "string",
          "description": "The name of the subscription."
        },
        "pushConfig": {
          "description": "An empty push_config indicates that the Pub/Sub system should pause pushing messages from the given subscription.",
          "$ref": "PushConfig"
        }
      },
      "description": "Request for the ModifyPushConfig method."
    },
    "PullBatchRequest": {
      "id": "PullBatchRequest",
      "description": "Request for the PullBatch method.",
      "properties": {
        "returnImmediately": {
          "description": "If this is specified as true the system will respond immediately even if it is not able to return a message in the Pull response. Otherwise the system is allowed to wait until at least one message is available rather than returning no messages. The client may cancel the request if it does not wish to wait any longer for the response.",
          "type": "boolean"
        },
        "maxEvents": {
          "type": "integer",
          "description": "The maximum number of PubsubEvents returned for this request. The Pub/Sub system may return fewer than the number of events specified.",
          "format": "int32"
        },
        "subscription": {
          "description": "The subscription from which messages should be pulled.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "AcknowledgeRequest": {
      "properties": {
        "ackId": {
          "description": "The acknowledgment ID for the message being acknowledged. This was returned by the Pub/Sub system in the Pull response.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "subscription": {
          "type": "string",
          "description": "The subscription whose message is being acknowledged."
        }
      },
      "type": "object",
      "id": "AcknowledgeRequest",
      "description": "Request for the Acknowledge method."
    },
    "PublishBatchResponse": {
      "description": "Response for the PublishBatch method.",
      "id": "PublishBatchResponse",
      "properties": {
        "messageIds": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The server-assigned ID of each published message, in the same order as the messages in the request. IDs are guaranteed to be unique within the topic."
        }
      },
      "type": "object"
    },
    "PullResponse": {
      "type": "object",
      "description": "Either a PubsubMessage or a truncation event. One of these two must be populated.",
      "properties": {
        "pubsubEvent": {
          "description": "A pubsub message or truncation event.",
          "$ref": "PubsubEvent"
        },
        "ackId": {
          "description": "This ID must be used to acknowledge the received event or message.",
          "type": "string"
        }
      },
      "id": "PullResponse"
    },
    "PublishBatchRequest": {
      "id": "PublishBatchRequest",
      "description": "Request for the PublishBatch method.",
      "properties": {
        "topic": {
          "type": "string",
          "description": "The messages in the request will be published on this topic."
        },
        "messages": {
          "items": {
            "$ref": "PubsubMessage"
          },
          "description": "The messages to publish.",
          "type": "array"
        }
      },
      "type": "object"
    },
    "PublishRequest": {
      "properties": {
        "topic": {
          "type": "string",
          "description": "The message in the request will be published on this topic."
        },
        "message": {
          "description": "The message to publish.",
          "$ref": "PubsubMessage"
        }
      },
      "id": "PublishRequest",
      "description": "Request for the Publish method.",
      "type": "object"
    },
    "PubsubMessage": {
      "id": "PubsubMessage",
      "description": "A message data and its labels.",
      "properties": {
        "data": {
          "format": "byte",
          "description": "The message payload.",
          "type": "string"
        },
        "publishTime": {
          "type": "string",
          "format": "int64",
          "description": "The time at which the message was published. The time is milliseconds since the UNIX epoch."
        },
        "messageId": {
          "description": "ID of this message assigned by the server at publication time. Guaranteed to be unique within the topic. This value may be read by a subscriber that receives a PubsubMessage via a Pull call or a push delivery. It must not be populated by a publisher in a Publish call.",
          "type": "string"
        },
        "label": {
          "description": "Optional list of labels for this message. Keys in this collection must be unique.",
          "items": {
            "$ref": "Label"
          },
          "type": "array"
        }
      },
      "type": "object"
    }
  },
  "rootUrl": "https://pubsub.googleapis.com/",
  "resources": {
    "topics": {
      "methods": {
        "get": {
          "path": "v1beta1a/topics/{+topic}",
          "description": "Gets the configuration of a topic. Since the topic only has the name attribute, this method is only useful to check the existence of a topic. If other attributes are added in the future, they will be returned here.",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/pubsub"
          ],
          "parameterOrder": [
            "topic"
          ],
          "httpMethod": "GET",
          "parameters": {
            "topic": {
              "pattern": "^.*$",
              "type": "string",
              "required": true,
              "description": "The name of the topic to get.",
              "location": "path"
            }
          },
          "flatPath": "v1beta1a/topics/{topicsId}",
          "id": "pubsub.topics.get",
          "response": {
            "$ref": "Topic"
          }
        },
        "publish": {
          "parameterOrder": [],
          "request": {
            "$ref": "PublishRequest"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/pubsub"
          ],
          "response": {
            "$ref": "Empty"
          },
          "path": "v1beta1a/topics/publish",
          "description": "Adds a message to the topic. Returns NOT_FOUND if the topic does not exist.",
          "parameters": {},
          "httpMethod": "POST",
          "flatPath": "v1beta1a/topics/publish",
          "id": "pubsub.topics.publish"
        },
        "delete": {
          "path": "v1beta1a/topics/{+topic}",
          "parameters": {
            "topic": {
              "type": "string",
              "required": true,
              "description": "Name of the topic to delete.",
              "pattern": "^.*$",
              "location": "path"
            }
          },
          "response": {
            "$ref": "Empty"
          },
          "httpMethod": "DELETE",
          "parameterOrder": [
            "topic"
          ],
          "flatPath": "v1beta1a/topics/{topicsId}",
          "description": "Deletes the topic with the given name. Returns NOT_FOUND if the topic does not exist. After a topic is deleted, a new topic may be created with the same name.",
          "id": "pubsub.topics.delete",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/pubsub"
          ]
        },
        "list": {
          "flatPath": "v1beta1a/topics",
          "path": "v1beta1a/topics",
          "response": {
            "$ref": "ListTopicsResponse"
          },
          "httpMethod": "GET",
          "parameters": {
            "query": {
              "type": "string",
              "location": "query",
              "description": "A valid label query expression."
            },
            "pageToken": {
              "type": "string",
              "location": "query",
              "description": "The value obtained in the last ListTopicsResponse for continuation."
            },
            "maxResults": {
              "format": "int32",
              "type": "integer",
              "location": "query",
              "description": "Maximum number of topics to return."
            }
          },
          "id": "pubsub.topics.list",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/pubsub"
          ],
          "description": "Lists matching topics.",
          "parameterOrder": []
        },
        "create": {
          "description": "Creates the given topic with the given name.",
          "request": {
            "$ref": "Topic"
          },
          "id": "pubsub.topics.create",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/pubsub"
          ],
          "parameters": {},
          "httpMethod": "POST",
          "response": {
            "$ref": "Topic"
          },
          "parameterOrder": [],
          "path": "v1beta1a/topics",
          "flatPath": "v1beta1a/topics"
        },
        "publishBatch": {
          "flatPath": "v1beta1a/topics/publishBatch",
          "id": "pubsub.topics.publishBatch",
          "request": {
            "$ref": "PublishBatchRequest"
          },
          "response": {
            "$ref": "PublishBatchResponse"
          },
          "httpMethod": "POST",
          "parameters": {},
          "description": "Adds one or more messages to the topic. Returns NOT_FOUND if the topic does not exist.",
          "path": "v1beta1a/topics/publishBatch",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/pubsub"
          ],
          "parameterOrder": []
        }
      }
    },
    "subscriptions": {
      "methods": {
        "list": {
          "flatPath": "v1beta1a/subscriptions",
          "description": "Lists matching subscriptions.",
          "response": {
            "$ref": "ListSubscriptionsResponse"
          },
          "id": "pubsub.subscriptions.list",
          "parameters": {
            "query": {
              "description": "A valid label query expression.",
              "type": "string",
              "location": "query"
            },
            "pageToken": {
              "location": "query",
              "description": "The value obtained in the last ListSubscriptionsResponse for continuation.",
              "type": "string"
            },
            "maxResults": {
              "format": "int32",
              "description": "Maximum number of subscriptions to return.",
              "location": "query",
              "type": "integer"
            }
          },
          "httpMethod": "GET",
          "path": "v1beta1a/subscriptions",
          "parameterOrder": [],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/pubsub"
          ]
        },
        "create": {
          "path": "v1beta1a/subscriptions",
          "parameterOrder": [],
          "id": "pubsub.subscriptions.create",
          "parameters": {},
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/pubsub"
          ],
          "httpMethod": "POST",
          "description": "Creates a subscription on a given topic for a given subscriber. If the subscription already exists, returns ALREADY_EXISTS. If the corresponding topic doesn't exist, returns NOT_FOUND. If the name is not provided in the request, the server will assign a random name for this subscription on the same project as the topic.",
          "request": {
            "$ref": "Subscription"
          },
          "response": {
            "$ref": "Subscription"
          },
          "flatPath": "v1beta1a/subscriptions"
        },
        "acknowledge": {
          "id": "pubsub.subscriptions.acknowledge",
          "parameterOrder": [],
          "request": {
            "$ref": "AcknowledgeRequest"
          },
          "response": {
            "$ref": "Empty"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/pubsub"
          ],
          "description": "Acknowledges a particular received message: the Pub/Sub system can remove the given message from the subscription. Acknowledging a message whose Ack deadline has expired may succeed, but the message could have been already redelivered. Acknowledging a message more than once will not result in an error. This is only used for messages received via pull.",
          "httpMethod": "POST",
          "parameters": {},
          "flatPath": "v1beta1a/subscriptions/acknowledge",
          "path": "v1beta1a/subscriptions/acknowledge"
        },
        "delete": {
          "description": "Deletes an existing subscription. All pending messages in the subscription are immediately dropped. Calls to Pull after deletion will return NOT_FOUND.",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/pubsub"
          ],
          "parameterOrder": [
            "subscription"
          ],
          "response": {
            "$ref": "Empty"
          },
          "id": "pubsub.subscriptions.delete",
          "parameters": {
            "subscription": {
              "location": "path",
              "type": "string",
              "pattern": "^.*$",
              "description": "The subscription to delete.",
              "required": true
            }
          },
          "flatPath": "v1beta1a/subscriptions/{subscriptionsId}",
          "path": "v1beta1a/subscriptions/{+subscription}",
          "httpMethod": "DELETE"
        },
        "get": {
          "flatPath": "v1beta1a/subscriptions/{subscriptionsId}",
          "parameters": {
            "subscription": {
              "pattern": "^.*$",
              "location": "path",
              "description": "The name of the subscription to get.",
              "type": "string",
              "required": true
            }
          },
          "response": {
            "$ref": "Subscription"
          },
          "parameterOrder": [
            "subscription"
          ],
          "httpMethod": "GET",
          "id": "pubsub.subscriptions.get",
          "description": "Gets the configuration details of a subscription.",
          "path": "v1beta1a/subscriptions/{+subscription}",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/pubsub"
          ]
        },
        "modifyAckDeadline": {
          "request": {
            "$ref": "ModifyAckDeadlineRequest"
          },
          "id": "pubsub.subscriptions.modifyAckDeadline",
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/pubsub"
          ],
          "parameters": {},
          "parameterOrder": [],
          "path": "v1beta1a/subscriptions/modifyAckDeadline",
          "response": {
            "$ref": "Empty"
          },
          "flatPath": "v1beta1a/subscriptions/modifyAckDeadline",
          "description": "Modifies the Ack deadline for a message received from a pull request."
        },
        "modifyPushConfig": {
          "parameters": {},
          "request": {
            "$ref": "ModifyPushConfigRequest"
          },
          "httpMethod": "POST",
          "response": {
            "$ref": "Empty"
          },
          "id": "pubsub.subscriptions.modifyPushConfig",
          "description": "Modifies the PushConfig for a specified subscription. This method can be used to suspend the flow of messages to an endpoint by clearing the PushConfig field in the request. Messages will be accumulated for delivery even if no push configuration is defined or while the configuration is modified.",
          "parameterOrder": [],
          "flatPath": "v1beta1a/subscriptions/modifyPushConfig",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/pubsub"
          ],
          "path": "v1beta1a/subscriptions/modifyPushConfig"
        },
        "pull": {
          "description": "Pulls a single message from the server. If return_immediately is true, and no messages are available in the subscription, this method returns FAILED_PRECONDITION. The system is free to return an UNAVAILABLE error if no messages are available in a reasonable amount of time (to reduce system load).",
          "request": {
            "$ref": "PullRequest"
          },
          "path": "v1beta1a/subscriptions/pull",
          "response": {
            "$ref": "PullResponse"
          },
          "parameterOrder": [],
          "id": "pubsub.subscriptions.pull",
          "parameters": {},
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/pubsub"
          ],
          "httpMethod": "POST",
          "flatPath": "v1beta1a/subscriptions/pull"
        },
        "pullBatch": {
          "description": "Pulls messages from the server. Returns an empty list if there are no messages available in the backlog. The system is free to return UNAVAILABLE if there are too many pull requests outstanding for the given subscription.",
          "httpMethod": "POST",
          "parameters": {},
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/pubsub"
          ],
          "flatPath": "v1beta1a/subscriptions/pullBatch",
          "path": "v1beta1a/subscriptions/pullBatch",
          "parameterOrder": [],
          "response": {
            "$ref": "PullBatchResponse"
          },
          "request": {
            "$ref": "PullBatchRequest"
          },
          "id": "pubsub.subscriptions.pullBatch"
        }
      }
    }
  },
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "ownerName": "Google",
  "revision": "20260825",
  "canonicalName": "Pubsub",
  "name": "pubsub",
  "endpoints": [
    {
      "endpointUrl": "https://pubsub.africa-south1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "africa-south1"
    },
    {
      "endpointUrl": "https://pubsub.asia-east1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "asia-east1"
    },
    {
      "location": "asia-east2",
      "endpointUrl": "https://pubsub.asia-east2.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://pubsub.asia-northeast1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "asia-northeast1"
    },
    {
      "endpointUrl": "https://pubsub.asia-northeast2.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "asia-northeast2"
    },
    {
      "location": "asia-northeast3",
      "endpointUrl": "https://pubsub.asia-northeast3.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "asia-south1",
      "endpointUrl": "https://pubsub.asia-south1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "asia-south2",
      "endpointUrl": "https://pubsub.asia-south2.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://pubsub.asia-southeast1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "asia-southeast1"
    },
    {
      "endpointUrl": "https://pubsub.asia-southeast2.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "asia-southeast2"
    },
    {
      "endpointUrl": "https://pubsub.asia-southeast3.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "asia-southeast3"
    },
    {
      "endpointUrl": "https://pubsub.australia-southeast1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "australia-southeast1"
    },
    {
      "endpointUrl": "https://pubsub.australia-southeast2.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "australia-southeast2"
    },
    {
      "location": "europe-central2",
      "endpointUrl": "https://pubsub.europe-central2.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "europe-north1",
      "endpointUrl": "https://pubsub.europe-north1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://pubsub.europe-north2.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "europe-north2"
    },
    {
      "location": "europe-southwest1",
      "endpointUrl": "https://pubsub.europe-southwest1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://pubsub.europe-west1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "europe-west1"
    },
    {
      "endpointUrl": "https://pubsub.europe-west2.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "europe-west2"
    },
    {
      "endpointUrl": "https://pubsub.europe-west3.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "europe-west3"
    },
    {
      "endpointUrl": "https://pubsub.europe-west4.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "europe-west4"
    },
    {
      "location": "europe-west6",
      "endpointUrl": "https://pubsub.europe-west6.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://pubsub.europe-west8.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "europe-west8"
    },
    {
      "location": "europe-west9",
      "endpointUrl": "https://pubsub.europe-west9.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://pubsub.europe-west10.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "europe-west10"
    },
    {
      "endpointUrl": "https://pubsub.europe-west12.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "europe-west12"
    },
    {
      "endpointUrl": "https://pubsub.me-central1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "me-central1"
    },
    {
      "location": "me-central2",
      "endpointUrl": "https://pubsub.me-central2.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://pubsub.me-west1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "me-west1"
    },
    {
      "location": "northamerica-northeast1",
      "endpointUrl": "https://pubsub.northamerica-northeast1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://pubsub.northamerica-northeast2.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "northamerica-northeast2"
    },
    {
      "location": "northamerica-south1",
      "endpointUrl": "https://pubsub.northamerica-south1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "southamerica-east1",
      "endpointUrl": "https://pubsub.southamerica-east1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "southamerica-west1",
      "endpointUrl": "https://pubsub.southamerica-west1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://pubsub.us-central1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "us-central1"
    },
    {
      "location": "us-central2",
      "endpointUrl": "https://pubsub.us-central2.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://pubsub.us-east1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "us-east1"
    },
    {
      "location": "us-east4",
      "endpointUrl": "https://pubsub.us-east4.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "us-east5",
      "endpointUrl": "https://pubsub.us-east5.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://pubsub.us-east7.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "us-east7"
    },
    {
      "location": "us-south1",
      "endpointUrl": "https://pubsub.us-south1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "us-west1",
      "endpointUrl": "https://pubsub.us-west1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://pubsub.us-west2.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "us-west2"
    },
    {
      "endpointUrl": "https://pubsub.us-west3.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "us-west3"
    },
    {
      "location": "us-west4",
      "endpointUrl": "https://pubsub.us-west4.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "us-west8",
      "endpointUrl": "https://pubsub.us-west8.rep.googleapis.com/",
      "description": "Regional Endpoint"
    }
  ],
  "parameters": {
    "callback": {
      "location": "query",
      "description": "JSONP",
      "type": "string"
    },
    "key": {
      "type": "string",
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "$.xgafv": {
      "location": "query",
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ]
    },
    "uploadType": {
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string"
    },
    "prettyPrint": {
      "type": "boolean",
      "location": "query",
      "description": "Returns response with indentations and line breaks.",
      "default": "true"
    },
    "quotaUser": {
      "location": "query",
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "oauth_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth 2.0 token for the current user."
    },
    "access_token": {
      "description": "OAuth access token.",
      "location": "query",
      "type": "string"
    },
    "alt": {
      "location": "query",
      "type": "string",
      "description": "Data format for response.",
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ]
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "fields": {
      "location": "query",
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response."
    }
  },
  "baseUrl": "https://pubsub.googleapis.com/",
  "batchPath": "batch",
  "ownerDomain": "google.com",
  "description": "Provides reliable, many-to-many, asynchronous messaging between applications. ",
  "basePath": ""
}