{
  "discoveryVersion": "v1",
  "baseUrl": "https://pubsub.googleapis.com/",
  "title": "Cloud Pub/Sub API",
  "protocol": "rest",
  "schemas": {
    "PublishRequest": {
      "id": "PublishRequest",
      "type": "object",
      "properties": {
        "topic": {
          "type": "string",
          "description": "The message in the request will be published on this topic."
        },
        "message": {
          "description": "The message to publish.",
          "$ref": "PubsubMessage"
        }
      },
      "description": "Request for the Publish method."
    },
    "Topic": {
      "type": "object",
      "id": "Topic",
      "properties": {
        "name": {
          "type": "string",
          "description": "Name of the topic."
        }
      },
      "description": "A topic resource."
    },
    "Label": {
      "id": "Label",
      "properties": {
        "numValue": {
          "type": "string",
          "description": "An integer value.",
          "format": "int64"
        },
        "key": {
          "description": "The key of a label is a syntactically valid URL (as per RFC 1738) with the \"scheme\" and initial slashes omitted and with the additional restrictions noted below. Each key should be globally unique. The \"host\" portion is called the \"namespace\" and is not necessarily resolvable to a network endpoint. Instead, the namespace indicates what system or entity defines the semantics of the label. Namespaces do not restrict the set of objects to which a label may be associated. Keys are defined by the following grammar: key = hostname \"/\" kpath kpath = ksegment *[ \"/\" ksegment ] ksegment = alphadigit | *[ alphadigit | \"-\" | \"_\" | \".\" ] where \"hostname\" and \"alphadigit\" are defined as in RFC 1738. Example key: spanner.google.com/universe",
          "type": "string"
        },
        "strValue": {
          "type": "string",
          "description": "A string value."
        }
      },
      "description": "A key-value pair applied to a given object.",
      "type": "object"
    },
    "PullRequest": {
      "type": "object",
      "description": "Request for the Pull method.",
      "id": "PullRequest",
      "properties": {
        "returnImmediately": {
          "description": "If this is specified as true the system will respond immediately even if it is not able to return a message in the Pull response. Otherwise the system is allowed to wait until at least one message is available rather than returning FAILED_PRECONDITION. The client may cancel the request if it does not wish to wait any longer for the response.",
          "type": "boolean"
        },
        "subscription": {
          "type": "string",
          "description": "The subscription from which a message should be pulled."
        }
      }
    },
    "ModifyAckDeadlineRequest": {
      "type": "object",
      "description": "Request for the ModifyAckDeadline method.",
      "id": "ModifyAckDeadlineRequest",
      "properties": {
        "ackDeadlineSeconds": {
          "description": "The new ack deadline with respect to the time this request was sent to the Pub/Sub system. Must be >= 0. For example, if the value is 10, the new ack deadline will expire 10 seconds after the ModifyAckDeadline call was made. Specifying zero may immediately make the message available for another pull request.",
          "type": "integer",
          "format": "int32"
        },
        "ackId": {
          "type": "string",
          "description": "The acknowledgment ID. Either this or ack_ids must be populated, not both.",
          "deprecated": true
        },
        "ackIds": {
          "items": {
            "type": "string"
          },
          "description": "List of acknowledgment IDs. Either this field or ack_id should be populated, not both.",
          "type": "array"
        },
        "subscription": {
          "description": "Next Index: 5 The name of the subscription from which messages are being pulled.",
          "type": "string"
        }
      }
    },
    "PullResponse": {
      "id": "PullResponse",
      "description": "Either a PubsubMessage or a truncation event. One of these two must be populated.",
      "properties": {
        "ackId": {
          "description": "This ID must be used to acknowledge the received event or message.",
          "type": "string"
        },
        "pubsubEvent": {
          "description": "A pubsub message or truncation event.",
          "$ref": "PubsubEvent"
        }
      },
      "type": "object"
    },
    "PublishBatchRequest": {
      "description": "Request for the PublishBatch method.",
      "type": "object",
      "id": "PublishBatchRequest",
      "properties": {
        "topic": {
          "type": "string",
          "description": "The messages in the request will be published on this topic."
        },
        "messages": {
          "type": "array",
          "items": {
            "$ref": "PubsubMessage"
          },
          "description": "The messages to publish."
        }
      }
    },
    "ListTopicsResponse": {
      "properties": {
        "topic": {
          "type": "array",
          "description": "The resulting topics.",
          "items": {
            "$ref": "Topic"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "If not empty, indicates that there are more topics that match the request, and this value should be passed to the next ListTopicsRequest to continue."
        }
      },
      "description": "Response for the ListTopics method.",
      "type": "object",
      "id": "ListTopicsResponse"
    },
    "ModifyPushConfigRequest": {
      "properties": {
        "subscription": {
          "type": "string",
          "description": "The name of the subscription."
        },
        "pushConfig": {
          "$ref": "PushConfig",
          "description": "An empty push_config indicates that the Pub/Sub system should pause pushing messages from the given subscription."
        }
      },
      "id": "ModifyPushConfigRequest",
      "type": "object",
      "description": "Request for the ModifyPushConfig method."
    },
    "AcknowledgeRequest": {
      "type": "object",
      "properties": {
        "subscription": {
          "type": "string",
          "description": "The subscription whose message is being acknowledged."
        },
        "ackId": {
          "type": "array",
          "description": "The acknowledgment ID for the message being acknowledged. This was returned by the Pub/Sub system in the Pull response.",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "Request for the Acknowledge method.",
      "id": "AcknowledgeRequest"
    },
    "ListSubscriptionsResponse": {
      "type": "object",
      "id": "ListSubscriptionsResponse",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "If not empty, indicates that there are more subscriptions that match the request and this value should be passed to the next ListSubscriptionsRequest to continue."
        },
        "subscription": {
          "description": "The subscriptions that match the request.",
          "type": "array",
          "items": {
            "$ref": "Subscription"
          }
        }
      },
      "description": "Response for the ListSubscriptions method."
    },
    "PullBatchResponse": {
      "description": "Response for the PullBatch method.",
      "id": "PullBatchResponse",
      "type": "object",
      "properties": {
        "pullResponses": {
          "items": {
            "$ref": "PullResponse"
          },
          "type": "array",
          "description": "Received Pub/Sub messages or status events. The Pub/Sub system will return zero messages if there are no more messages available in the backlog. The Pub/Sub system may return fewer than the max_events requested even if there are more messages available in the backlog."
        }
      }
    },
    "Empty": {
      "properties": {},
      "id": "Empty",
      "description": "An empty message that you can re-use to avoid defining duplicated empty messages in your project. A typical example is to use it as argument or the return value of a service API. For instance: service Foo { rpc Bar (proto2.Empty) returns (proto2.Empty) { }; }; BEGIN GOOGLE-INTERNAL The difference between this one and net/rpc/empty-message.proto is that 1) The generated message here is in proto2 C++ API. 2) The proto2.Empty has minimum dependencies (no message_set or net/rpc dependencies) END GOOGLE-INTERNAL",
      "type": "object"
    },
    "PushConfig": {
      "id": "PushConfig",
      "description": "Configuration for a push delivery endpoint.",
      "type": "object",
      "properties": {
        "pushEndpoint": {
          "description": "A URL locating the endpoint to which messages should be pushed. For example, a Webhook endpoint might use \"https://example.com/push\".",
          "type": "string"
        }
      }
    },
    "PublishBatchResponse": {
      "description": "Response for the PublishBatch method.",
      "properties": {
        "messageIds": {
          "description": "The server-assigned ID of each published message, in the same order as the messages in the request. IDs are guaranteed to be unique within the topic.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "type": "object",
      "id": "PublishBatchResponse"
    },
    "Subscription": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "Name of the subscription."
        },
        "topic": {
          "description": "The name of the topic from which this subscription is receiving messages.",
          "type": "string"
        },
        "ackDeadlineSeconds": {
          "description": "For either push or pull delivery, the value is the maximum time after a subscriber receives a message before the subscriber should acknowledge or Nack the message. If the Ack deadline for a message passes without an Ack or a Nack, the Pub/Sub system will eventually redeliver the message. If a subscriber acknowledges after the deadline, the Pub/Sub system may accept the Ack, but it is possible that the message has been already delivered again. Multiple Acks to the message are allowed and will succeed. For push delivery, this value is used to set the request timeout for the call to the push endpoint. For pull delivery, this value is used as the initial value for the Ack deadline. It may be overridden for each message using its corresponding ack_id with ModifyAckDeadline. While a message is outstanding (i.e. it has been delivered to a pull subscriber and the subscriber has not yet Acked or Nacked), the Pub/Sub system will not deliver that message to another pull subscriber (on a best-effort basis).",
          "format": "int32",
          "type": "integer"
        },
        "pushConfig": {
          "description": "If push delivery is used with this subscription, this field is used to configure it.",
          "$ref": "PushConfig"
        }
      },
      "description": "A subscription resource.",
      "id": "Subscription"
    },
    "PullBatchRequest": {
      "id": "PullBatchRequest",
      "type": "object",
      "description": "Request for the PullBatch method.",
      "properties": {
        "returnImmediately": {
          "type": "boolean",
          "description": "If this is specified as true the system will respond immediately even if it is not able to return a message in the Pull response. Otherwise the system is allowed to wait until at least one message is available rather than returning no messages. The client may cancel the request if it does not wish to wait any longer for the response."
        },
        "maxEvents": {
          "description": "The maximum number of PubsubEvents returned for this request. The Pub/Sub system may return fewer than the number of events specified.",
          "type": "integer",
          "format": "int32"
        },
        "subscription": {
          "type": "string",
          "description": "The subscription from which messages should be pulled."
        }
      }
    },
    "PubsubMessage": {
      "id": "PubsubMessage",
      "description": "A message data and its labels.",
      "properties": {
        "data": {
          "description": "The message payload.",
          "type": "string",
          "format": "byte"
        },
        "messageId": {
          "description": "ID of this message assigned by the server at publication time. Guaranteed to be unique within the topic. This value may be read by a subscriber that receives a PubsubMessage via a Pull call or a push delivery. It must not be populated by a publisher in a Publish call.",
          "type": "string"
        },
        "label": {
          "items": {
            "$ref": "Label"
          },
          "description": "Optional list of labels for this message. Keys in this collection must be unique.",
          "type": "array"
        },
        "publishTime": {
          "description": "The time at which the message was published. The time is milliseconds since the UNIX epoch.",
          "format": "int64",
          "type": "string"
        }
      },
      "type": "object"
    },
    "PubsubEvent": {
      "properties": {
        "truncated": {
          "description": "Indicates that this subscription has been truncated.",
          "type": "boolean"
        },
        "subscription": {
          "description": "The subscription that received the event.",
          "type": "string"
        },
        "message": {
          "description": "A received message.",
          "$ref": "PubsubMessage"
        },
        "deleted": {
          "description": "Indicates that this subscription has been deleted. (Note that pull subscribers will always receive NOT_FOUND in response in their pull request on the subscription, rather than seeing this boolean.)",
          "type": "boolean"
        }
      },
      "id": "PubsubEvent",
      "type": "object",
      "description": "An event indicating a received message or truncation event."
    }
  },
  "basePath": "",
  "documentationLink": "https://cloud.google.com/pubsub/docs",
  "id": "pubsub:v1beta1a",
  "rootUrl": "https://pubsub.googleapis.com/",
  "ownerName": "Google",
  "ownerDomain": "google.com",
  "version": "v1beta1a",
  "endpoints": [
    {
      "endpointUrl": "https://pubsub.africa-south1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "africa-south1"
    },
    {
      "location": "asia-east1",
      "endpointUrl": "https://pubsub.asia-east1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "asia-east2",
      "endpointUrl": "https://pubsub.asia-east2.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "asia-northeast1",
      "endpointUrl": "https://pubsub.asia-northeast1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "asia-northeast2",
      "endpointUrl": "https://pubsub.asia-northeast2.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "asia-northeast3",
      "endpointUrl": "https://pubsub.asia-northeast3.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "asia-south1",
      "endpointUrl": "https://pubsub.asia-south1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "asia-south2",
      "endpointUrl": "https://pubsub.asia-south2.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://pubsub.asia-southeast1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "asia-southeast1"
    },
    {
      "location": "asia-southeast2",
      "endpointUrl": "https://pubsub.asia-southeast2.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://pubsub.asia-southeast3.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "asia-southeast3"
    },
    {
      "endpointUrl": "https://pubsub.australia-southeast1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "australia-southeast1"
    },
    {
      "location": "australia-southeast2",
      "endpointUrl": "https://pubsub.australia-southeast2.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://pubsub.europe-central2.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "europe-central2"
    },
    {
      "location": "europe-north1",
      "endpointUrl": "https://pubsub.europe-north1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "europe-north2",
      "endpointUrl": "https://pubsub.europe-north2.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://pubsub.europe-southwest1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "europe-southwest1"
    },
    {
      "endpointUrl": "https://pubsub.europe-west1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "europe-west1"
    },
    {
      "location": "europe-west2",
      "endpointUrl": "https://pubsub.europe-west2.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "europe-west3",
      "endpointUrl": "https://pubsub.europe-west3.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://pubsub.europe-west4.rep.googleapis.com/",
      "location": "europe-west4",
      "description": "Regional Endpoint"
    },
    {
      "location": "europe-west6",
      "endpointUrl": "https://pubsub.europe-west6.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://pubsub.europe-west8.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "europe-west8"
    },
    {
      "location": "europe-west9",
      "endpointUrl": "https://pubsub.europe-west9.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://pubsub.europe-west10.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "europe-west10"
    },
    {
      "endpointUrl": "https://pubsub.europe-west12.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "europe-west12"
    },
    {
      "endpointUrl": "https://pubsub.me-central1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "me-central1"
    },
    {
      "location": "me-central2",
      "endpointUrl": "https://pubsub.me-central2.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "me-west1",
      "endpointUrl": "https://pubsub.me-west1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "northamerica-northeast1",
      "endpointUrl": "https://pubsub.northamerica-northeast1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://pubsub.northamerica-northeast2.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "northamerica-northeast2"
    },
    {
      "location": "northamerica-south1",
      "endpointUrl": "https://pubsub.northamerica-south1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "southamerica-east1",
      "endpointUrl": "https://pubsub.southamerica-east1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://pubsub.southamerica-west1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "southamerica-west1"
    },
    {
      "endpointUrl": "https://pubsub.us-central1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "us-central1"
    },
    {
      "endpointUrl": "https://pubsub.us-central2.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "us-central2"
    },
    {
      "endpointUrl": "https://pubsub.us-east1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "us-east1"
    },
    {
      "endpointUrl": "https://pubsub.us-east4.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "us-east4"
    },
    {
      "endpointUrl": "https://pubsub.us-east5.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "us-east5"
    },
    {
      "endpointUrl": "https://pubsub.us-east7.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "us-east7"
    },
    {
      "location": "us-south1",
      "endpointUrl": "https://pubsub.us-south1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "us-west1",
      "endpointUrl": "https://pubsub.us-west1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "us-west2",
      "endpointUrl": "https://pubsub.us-west2.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "us-west3",
      "endpointUrl": "https://pubsub.us-west3.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://pubsub.us-west4.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "us-west4"
    },
    {
      "location": "us-west8",
      "endpointUrl": "https://pubsub.us-west8.rep.googleapis.com/",
      "description": "Regional Endpoint"
    }
  ],
  "batchPath": "batch",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        },
        "https://www.googleapis.com/auth/pubsub": {
          "description": "View and manage Pub/Sub topics and subscriptions"
        }
      }
    }
  },
  "resources": {
    "topics": {
      "methods": {
        "delete": {
          "id": "pubsub.topics.delete",
          "httpMethod": "DELETE",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/pubsub"
          ],
          "response": {
            "$ref": "Empty"
          },
          "parameters": {
            "topic": {
              "description": "Name of the topic to delete.",
              "required": true,
              "type": "string",
              "location": "path",
              "pattern": "^.*$"
            }
          },
          "description": "Deletes the topic with the given name. Returns NOT_FOUND if the topic does not exist. After a topic is deleted, a new topic may be created with the same name.",
          "flatPath": "v1beta1a/topics/{topicsId}",
          "parameterOrder": [
            "topic"
          ],
          "path": "v1beta1a/topics/{+topic}"
        },
        "create": {
          "flatPath": "v1beta1a/topics",
          "request": {
            "$ref": "Topic"
          },
          "id": "pubsub.topics.create",
          "response": {
            "$ref": "Topic"
          },
          "description": "Creates the given topic with the given name.",
          "parameters": {},
          "parameterOrder": [],
          "path": "v1beta1a/topics",
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/pubsub"
          ]
        },
        "get": {
          "httpMethod": "GET",
          "path": "v1beta1a/topics/{+topic}",
          "id": "pubsub.topics.get",
          "parameterOrder": [
            "topic"
          ],
          "response": {
            "$ref": "Topic"
          },
          "flatPath": "v1beta1a/topics/{topicsId}",
          "parameters": {
            "topic": {
              "location": "path",
              "type": "string",
              "description": "The name of the topic to get.",
              "required": true,
              "pattern": "^.*$"
            }
          },
          "description": "Gets the configuration of a topic. Since the topic only has the name attribute, this method is only useful to check the existence of a topic. If other attributes are added in the future, they will be returned here.",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/pubsub"
          ]
        },
        "publishBatch": {
          "flatPath": "v1beta1a/topics/publishBatch",
          "parameterOrder": [],
          "request": {
            "$ref": "PublishBatchRequest"
          },
          "response": {
            "$ref": "PublishBatchResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/pubsub"
          ],
          "description": "Adds one or more messages to the topic. Returns NOT_FOUND if the topic does not exist.",
          "httpMethod": "POST",
          "path": "v1beta1a/topics/publishBatch",
          "parameters": {},
          "id": "pubsub.topics.publishBatch"
        },
        "publish": {
          "request": {
            "$ref": "PublishRequest"
          },
          "id": "pubsub.topics.publish",
          "path": "v1beta1a/topics/publish",
          "response": {
            "$ref": "Empty"
          },
          "flatPath": "v1beta1a/topics/publish",
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/pubsub"
          ],
          "parameterOrder": [],
          "description": "Adds a message to the topic. Returns NOT_FOUND if the topic does not exist.",
          "parameters": {}
        },
        "list": {
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/pubsub"
          ],
          "id": "pubsub.topics.list",
          "flatPath": "v1beta1a/topics",
          "response": {
            "$ref": "ListTopicsResponse"
          },
          "httpMethod": "GET",
          "parameterOrder": [],
          "parameters": {
            "maxResults": {
              "location": "query",
              "description": "Maximum number of topics to return.",
              "type": "integer",
              "format": "int32"
            },
            "query": {
              "description": "A valid label query expression.",
              "location": "query",
              "type": "string"
            },
            "pageToken": {
              "description": "The value obtained in the last ListTopicsResponse for continuation.",
              "location": "query",
              "type": "string"
            }
          },
          "description": "Lists matching topics.",
          "path": "v1beta1a/topics"
        }
      }
    },
    "subscriptions": {
      "methods": {
        "acknowledge": {
          "parameters": {},
          "path": "v1beta1a/subscriptions/acknowledge",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/pubsub"
          ],
          "response": {
            "$ref": "Empty"
          },
          "request": {
            "$ref": "AcknowledgeRequest"
          },
          "description": "Acknowledges a particular received message: the Pub/Sub system can remove the given message from the subscription. Acknowledging a message whose Ack deadline has expired may succeed, but the message could have been already redelivered. Acknowledging a message more than once will not result in an error. This is only used for messages received via pull.",
          "flatPath": "v1beta1a/subscriptions/acknowledge",
          "id": "pubsub.subscriptions.acknowledge",
          "parameterOrder": [],
          "httpMethod": "POST"
        },
        "delete": {
          "path": "v1beta1a/subscriptions/{+subscription}",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/pubsub"
          ],
          "parameters": {
            "subscription": {
              "description": "The subscription to delete.",
              "required": true,
              "location": "path",
              "pattern": "^.*$",
              "type": "string"
            }
          },
          "flatPath": "v1beta1a/subscriptions/{subscriptionsId}",
          "parameterOrder": [
            "subscription"
          ],
          "response": {
            "$ref": "Empty"
          },
          "httpMethod": "DELETE",
          "id": "pubsub.subscriptions.delete",
          "description": "Deletes an existing subscription. All pending messages in the subscription are immediately dropped. Calls to Pull after deletion will return NOT_FOUND."
        },
        "pull": {
          "response": {
            "$ref": "PullResponse"
          },
          "flatPath": "v1beta1a/subscriptions/pull",
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/pubsub"
          ],
          "description": "Pulls a single message from the server. If return_immediately is true, and no messages are available in the subscription, this method returns FAILED_PRECONDITION. The system is free to return an UNAVAILABLE error if no messages are available in a reasonable amount of time (to reduce system load).",
          "id": "pubsub.subscriptions.pull",
          "request": {
            "$ref": "PullRequest"
          },
          "path": "v1beta1a/subscriptions/pull",
          "parameters": {},
          "parameterOrder": []
        },
        "pullBatch": {
          "parameterOrder": [],
          "httpMethod": "POST",
          "flatPath": "v1beta1a/subscriptions/pullBatch",
          "response": {
            "$ref": "PullBatchResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/pubsub"
          ],
          "path": "v1beta1a/subscriptions/pullBatch",
          "request": {
            "$ref": "PullBatchRequest"
          },
          "parameters": {},
          "description": "Pulls messages from the server. Returns an empty list if there are no messages available in the backlog. The system is free to return UNAVAILABLE if there are too many pull requests outstanding for the given subscription.",
          "id": "pubsub.subscriptions.pullBatch"
        },
        "get": {
          "parameterOrder": [
            "subscription"
          ],
          "path": "v1beta1a/subscriptions/{+subscription}",
          "response": {
            "$ref": "Subscription"
          },
          "parameters": {
            "subscription": {
              "description": "The name of the subscription to get.",
              "required": true,
              "location": "path",
              "type": "string",
              "pattern": "^.*$"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/pubsub"
          ],
          "flatPath": "v1beta1a/subscriptions/{subscriptionsId}",
          "description": "Gets the configuration details of a subscription.",
          "id": "pubsub.subscriptions.get",
          "httpMethod": "GET"
        },
        "modifyPushConfig": {
          "id": "pubsub.subscriptions.modifyPushConfig",
          "httpMethod": "POST",
          "path": "v1beta1a/subscriptions/modifyPushConfig",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/pubsub"
          ],
          "parameterOrder": [],
          "request": {
            "$ref": "ModifyPushConfigRequest"
          },
          "parameters": {},
          "response": {
            "$ref": "Empty"
          },
          "flatPath": "v1beta1a/subscriptions/modifyPushConfig",
          "description": "Modifies the PushConfig for a specified subscription. This method can be used to suspend the flow of messages to an endpoint by clearing the PushConfig field in the request. Messages will be accumulated for delivery even if no push configuration is defined or while the configuration is modified."
        },
        "list": {
          "response": {
            "$ref": "ListSubscriptionsResponse"
          },
          "id": "pubsub.subscriptions.list",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/pubsub"
          ],
          "flatPath": "v1beta1a/subscriptions",
          "httpMethod": "GET",
          "parameterOrder": [],
          "description": "Lists matching subscriptions.",
          "path": "v1beta1a/subscriptions",
          "parameters": {
            "maxResults": {
              "type": "integer",
              "format": "int32",
              "description": "Maximum number of subscriptions to return.",
              "location": "query"
            },
            "query": {
              "description": "A valid label query expression.",
              "type": "string",
              "location": "query"
            },
            "pageToken": {
              "type": "string",
              "description": "The value obtained in the last ListSubscriptionsResponse for continuation.",
              "location": "query"
            }
          }
        },
        "create": {
          "id": "pubsub.subscriptions.create",
          "path": "v1beta1a/subscriptions",
          "parameterOrder": [],
          "parameters": {},
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/pubsub"
          ],
          "request": {
            "$ref": "Subscription"
          },
          "description": "Creates a subscription on a given topic for a given subscriber. If the subscription already exists, returns ALREADY_EXISTS. If the corresponding topic doesn't exist, returns NOT_FOUND. If the name is not provided in the request, the server will assign a random name for this subscription on the same project as the topic.",
          "httpMethod": "POST",
          "response": {
            "$ref": "Subscription"
          },
          "flatPath": "v1beta1a/subscriptions"
        },
        "modifyAckDeadline": {
          "request": {
            "$ref": "ModifyAckDeadlineRequest"
          },
          "flatPath": "v1beta1a/subscriptions/modifyAckDeadline",
          "response": {
            "$ref": "Empty"
          },
          "path": "v1beta1a/subscriptions/modifyAckDeadline",
          "parameters": {},
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/pubsub"
          ],
          "id": "pubsub.subscriptions.modifyAckDeadline",
          "parameterOrder": [],
          "httpMethod": "POST",
          "description": "Modifies the Ack deadline for a message received from a pull request."
        }
      }
    }
  },
  "mtlsRootUrl": "https://pubsub.mtls.googleapis.com/",
  "servicePath": "",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "description": "Provides reliable, many-to-many, asynchronous messaging between applications. ",
  "revision": "20260825",
  "parameters": {
    "access_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth access token."
    },
    "alt": {
      "type": "string",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "location": "query",
      "default": "json",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "description": "Data format for response."
    },
    "prettyPrint": {
      "location": "query",
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "type": "boolean"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "quotaUser": {
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string"
    },
    "$.xgafv": {
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "enum": [
        "1",
        "2"
      ],
      "location": "query",
      "description": "V1 error format.",
      "type": "string"
    },
    "fields": {
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string"
    },
    "upload_protocol": {
      "location": "query",
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "callback": {
      "description": "JSONP",
      "type": "string",
      "location": "query"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string",
      "location": "query"
    },
    "oauth_token": {
      "location": "query",
      "description": "OAuth 2.0 token for the current user.",
      "type": "string"
    }
  },
  "canonicalName": "Pubsub",
  "name": "pubsub",
  "kind": "discovery#restDescription"
}