{
  "baseUrl": "https://pubsub.googleapis.com/",
  "kind": "discovery#restDescription",
  "discoveryVersion": "v1",
  "name": "pubsub",
  "revision": "20260915",
  "canonicalName": "Pubsub",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "batchPath": "batch",
  "documentationLink": "https://cloud.google.com/pubsub/docs",
  "description": "Provides reliable, many-to-many, asynchronous messaging between applications. ",
  "endpoints": [
    {
      "endpointUrl": "https://pubsub.africa-south1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "africa-south1"
    },
    {
      "endpointUrl": "https://pubsub.asia-east1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "asia-east1"
    },
    {
      "endpointUrl": "https://pubsub.asia-east2.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "asia-east2"
    },
    {
      "endpointUrl": "https://pubsub.asia-northeast1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "asia-northeast1"
    },
    {
      "endpointUrl": "https://pubsub.asia-northeast2.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "asia-northeast2"
    },
    {
      "endpointUrl": "https://pubsub.asia-northeast3.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "asia-northeast3"
    },
    {
      "endpointUrl": "https://pubsub.asia-south1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "asia-south1"
    },
    {
      "endpointUrl": "https://pubsub.asia-south2.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "asia-south2"
    },
    {
      "location": "asia-southeast1",
      "endpointUrl": "https://pubsub.asia-southeast1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://pubsub.asia-southeast2.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "asia-southeast2"
    },
    {
      "location": "asia-southeast3",
      "endpointUrl": "https://pubsub.asia-southeast3.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://pubsub.australia-southeast1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "australia-southeast1"
    },
    {
      "location": "australia-southeast2",
      "endpointUrl": "https://pubsub.australia-southeast2.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://pubsub.europe-central2.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "europe-central2"
    },
    {
      "endpointUrl": "https://pubsub.europe-north1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "europe-north1"
    },
    {
      "location": "europe-north2",
      "endpointUrl": "https://pubsub.europe-north2.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://pubsub.europe-southwest1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "europe-southwest1"
    },
    {
      "endpointUrl": "https://pubsub.europe-west1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "europe-west1"
    },
    {
      "location": "europe-west2",
      "endpointUrl": "https://pubsub.europe-west2.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "europe-west3",
      "endpointUrl": "https://pubsub.europe-west3.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "europe-west4",
      "endpointUrl": "https://pubsub.europe-west4.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "europe-west6",
      "endpointUrl": "https://pubsub.europe-west6.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://pubsub.europe-west8.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "europe-west8"
    },
    {
      "location": "europe-west9",
      "endpointUrl": "https://pubsub.europe-west9.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "europe-west10",
      "endpointUrl": "https://pubsub.europe-west10.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://pubsub.europe-west12.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "europe-west12"
    },
    {
      "endpointUrl": "https://pubsub.me-central1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "me-central1"
    },
    {
      "endpointUrl": "https://pubsub.me-central2.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "me-central2"
    },
    {
      "endpointUrl": "https://pubsub.me-west1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "me-west1"
    },
    {
      "location": "northamerica-northeast1",
      "endpointUrl": "https://pubsub.northamerica-northeast1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://pubsub.northamerica-northeast2.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "northamerica-northeast2"
    },
    {
      "endpointUrl": "https://pubsub.northamerica-south1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "northamerica-south1"
    },
    {
      "endpointUrl": "https://pubsub.southamerica-east1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "southamerica-east1"
    },
    {
      "endpointUrl": "https://pubsub.southamerica-west1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "southamerica-west1"
    },
    {
      "endpointUrl": "https://pubsub.us-central1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "us-central1"
    },
    {
      "endpointUrl": "https://pubsub.us-central2.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "us-central2"
    },
    {
      "location": "us-east1",
      "endpointUrl": "https://pubsub.us-east1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://pubsub.us-east4.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "us-east4"
    },
    {
      "endpointUrl": "https://pubsub.us-east5.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "us-east5"
    },
    {
      "location": "us-east7",
      "endpointUrl": "https://pubsub.us-east7.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://pubsub.us-south1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "us-south1"
    },
    {
      "endpointUrl": "https://pubsub.us-west1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "us-west1"
    },
    {
      "location": "us-west2",
      "endpointUrl": "https://pubsub.us-west2.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://pubsub.us-west3.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "us-west3"
    },
    {
      "location": "us-west4",
      "endpointUrl": "https://pubsub.us-west4.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "us-west8",
      "endpointUrl": "https://pubsub.us-west8.rep.googleapis.com/",
      "description": "Regional Endpoint"
    }
  ],
  "parameters": {
    "alt": {
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "default": "json",
      "location": "query",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "type": "string",
      "description": "Data format for response."
    },
    "prettyPrint": {
      "default": "true",
      "type": "boolean",
      "location": "query",
      "description": "Returns response with indentations and line breaks."
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "$.xgafv": {
      "location": "query",
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ]
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "key": {
      "type": "string",
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string",
      "location": "query"
    },
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "location": "query",
      "type": "string"
    },
    "upload_protocol": {
      "type": "string",
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query",
      "type": "string"
    }
  },
  "schemas": {
    "Subscription": {
      "id": "Subscription",
      "description": "A subscription resource.",
      "properties": {
        "pushConfig": {
          "description": "If push delivery is used with this subscription, this field is used to configure it.",
          "$ref": "PushConfig"
        },
        "name": {
          "description": "Name of the subscription.",
          "type": "string"
        },
        "ackDeadlineSeconds": {
          "format": "int32",
          "description": "For either push or pull delivery, the value is the maximum time after a subscriber receives a message before the subscriber should acknowledge or Nack the message. If the Ack deadline for a message passes without an Ack or a Nack, the Pub/Sub system will eventually redeliver the message. If a subscriber acknowledges after the deadline, the Pub/Sub system may accept the Ack, but it is possible that the message has been already delivered again. Multiple Acks to the message are allowed and will succeed. For push delivery, this value is used to set the request timeout for the call to the push endpoint. For pull delivery, this value is used as the initial value for the Ack deadline. It may be overridden for each message using its corresponding ack_id with ModifyAckDeadline. While a message is outstanding (i.e. it has been delivered to a pull subscriber and the subscriber has not yet Acked or Nacked), the Pub/Sub system will not deliver that message to another pull subscriber (on a best-effort basis).",
          "type": "integer"
        },
        "topic": {
          "description": "The name of the topic from which this subscription is receiving messages.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "Empty": {
      "id": "Empty",
      "description": "An empty message that you can re-use to avoid defining duplicated empty messages in your project. A typical example is to use it as argument or the return value of a service API. For instance: service Foo { rpc Bar (proto2.Empty) returns (proto2.Empty) { }; }; BEGIN GOOGLE-INTERNAL The difference between this one and net/rpc/empty-message.proto is that 1) The generated message here is in proto2 C++ API. 2) The proto2.Empty has minimum dependencies (no message_set or net/rpc dependencies) END GOOGLE-INTERNAL",
      "properties": {},
      "type": "object"
    },
    "PullBatchResponse": {
      "properties": {
        "pullResponses": {
          "description": "Received Pub/Sub messages or status events. The Pub/Sub system will return zero messages if there are no more messages available in the backlog. The Pub/Sub system may return fewer than the max_events requested even if there are more messages available in the backlog.",
          "items": {
            "$ref": "PullResponse"
          },
          "type": "array"
        }
      },
      "id": "PullBatchResponse",
      "type": "object",
      "description": "Response for the PullBatch method."
    },
    "PullBatchRequest": {
      "properties": {
        "maxEvents": {
          "type": "integer",
          "format": "int32",
          "description": "The maximum number of PubsubEvents returned for this request. The Pub/Sub system may return fewer than the number of events specified."
        },
        "subscription": {
          "type": "string",
          "description": "The subscription from which messages should be pulled."
        },
        "returnImmediately": {
          "description": "If this is specified as true the system will respond immediately even if it is not able to return a message in the Pull response. Otherwise the system is allowed to wait until at least one message is available rather than returning no messages. The client may cancel the request if it does not wish to wait any longer for the response.",
          "type": "boolean"
        }
      },
      "description": "Request for the PullBatch method.",
      "type": "object",
      "id": "PullBatchRequest"
    },
    "PublishBatchResponse": {
      "type": "object",
      "id": "PublishBatchResponse",
      "properties": {
        "messageIds": {
          "description": "The server-assigned ID of each published message, in the same order as the messages in the request. IDs are guaranteed to be unique within the topic.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "description": "Response for the PublishBatch method."
    },
    "ModifyAckDeadlineRequest": {
      "properties": {
        "ackIds": {
          "type": "array",
          "description": "List of acknowledgment IDs. Either this field or ack_id should be populated, not both.",
          "items": {
            "type": "string"
          }
        },
        "ackDeadlineSeconds": {
          "type": "integer",
          "description": "The new ack deadline with respect to the time this request was sent to the Pub/Sub system. Must be >= 0. For example, if the value is 10, the new ack deadline will expire 10 seconds after the ModifyAckDeadline call was made. Specifying zero may immediately make the message available for another pull request.",
          "format": "int32"
        },
        "subscription": {
          "description": "Next Index: 5 The name of the subscription from which messages are being pulled.",
          "type": "string"
        },
        "ackId": {
          "type": "string",
          "deprecated": true,
          "description": "The acknowledgment ID. Either this or ack_ids must be populated, not both."
        }
      },
      "id": "ModifyAckDeadlineRequest",
      "type": "object",
      "description": "Request for the ModifyAckDeadline method."
    },
    "Label": {
      "description": "A key-value pair applied to a given object.",
      "type": "object",
      "properties": {
        "strValue": {
          "description": "A string value.",
          "type": "string"
        },
        "key": {
          "type": "string",
          "description": "The key of a label is a syntactically valid URL (as per RFC 1738) with the \"scheme\" and initial slashes omitted and with the additional restrictions noted below. Each key should be globally unique. The \"host\" portion is called the \"namespace\" and is not necessarily resolvable to a network endpoint. Instead, the namespace indicates what system or entity defines the semantics of the label. Namespaces do not restrict the set of objects to which a label may be associated. Keys are defined by the following grammar: key = hostname \"/\" kpath kpath = ksegment *[ \"/\" ksegment ] ksegment = alphadigit | *[ alphadigit | \"-\" | \"_\" | \".\" ] where \"hostname\" and \"alphadigit\" are defined as in RFC 1738. Example key: spanner.google.com/universe"
        },
        "numValue": {
          "type": "string",
          "format": "int64",
          "description": "An integer value."
        }
      },
      "id": "Label"
    },
    "ListSubscriptionsResponse": {
      "type": "object",
      "properties": {
        "subscription": {
          "type": "array",
          "description": "The subscriptions that match the request.",
          "items": {
            "$ref": "Subscription"
          }
        },
        "nextPageToken": {
          "description": "If not empty, indicates that there are more subscriptions that match the request and this value should be passed to the next ListSubscriptionsRequest to continue.",
          "type": "string"
        }
      },
      "id": "ListSubscriptionsResponse",
      "description": "Response for the ListSubscriptions method."
    },
    "PublishBatchRequest": {
      "id": "PublishBatchRequest",
      "description": "Request for the PublishBatch method.",
      "type": "object",
      "properties": {
        "topic": {
          "description": "The messages in the request will be published on this topic.",
          "type": "string"
        },
        "messages": {
          "description": "The messages to publish.",
          "type": "array",
          "items": {
            "$ref": "PubsubMessage"
          }
        }
      }
    },
    "PubsubClientTelemetry": {
      "type": "object",
      "id": "PubsubClientTelemetry",
      "description": "Client-side telemetry about Pub/Sub requests, useful for debugging purposes. If the client opts to provide this information, it will be passed as a serialized proto in the `x-goog-pubsub-client-telemetry` header.",
      "properties": {
        "publishOperation": {
          "$ref": "PublishOperation",
          "description": "Optional. Telemetry about a `Publish` operation."
        }
      }
    },
    "PublishRequest": {
      "id": "PublishRequest",
      "type": "object",
      "description": "Request for the Publish method.",
      "properties": {
        "topic": {
          "description": "The message in the request will be published on this topic.",
          "type": "string"
        },
        "message": {
          "description": "The message to publish.",
          "$ref": "PubsubMessage"
        }
      }
    },
    "ModifyPushConfigRequest": {
      "description": "Request for the ModifyPushConfig method.",
      "properties": {
        "subscription": {
          "description": "The name of the subscription.",
          "type": "string"
        },
        "pushConfig": {
          "$ref": "PushConfig",
          "description": "An empty push_config indicates that the Pub/Sub system should pause pushing messages from the given subscription."
        }
      },
      "id": "ModifyPushConfigRequest",
      "type": "object"
    },
    "PushConfig": {
      "id": "PushConfig",
      "properties": {
        "pushEndpoint": {
          "type": "string",
          "description": "A URL locating the endpoint to which messages should be pushed. For example, a Webhook endpoint might use \"https://example.com/push\"."
        }
      },
      "description": "Configuration for a push delivery endpoint.",
      "type": "object"
    },
    "PullResponse": {
      "type": "object",
      "description": "Either a PubsubMessage or a truncation event. One of these two must be populated.",
      "id": "PullResponse",
      "properties": {
        "ackId": {
          "type": "string",
          "description": "This ID must be used to acknowledge the received event or message."
        },
        "pubsubEvent": {
          "$ref": "PubsubEvent",
          "description": "A pubsub message or truncation event."
        }
      }
    },
    "PubsubMessage": {
      "properties": {
        "data": {
          "format": "byte",
          "description": "The message payload.",
          "type": "string"
        },
        "label": {
          "description": "Optional list of labels for this message. Keys in this collection must be unique.",
          "type": "array",
          "items": {
            "$ref": "Label"
          }
        },
        "publishTime": {
          "type": "string",
          "format": "int64",
          "description": "The time at which the message was published. The time is milliseconds since the UNIX epoch."
        },
        "messageId": {
          "description": "ID of this message assigned by the server at publication time. Guaranteed to be unique within the topic. This value may be read by a subscriber that receives a PubsubMessage via a Pull call or a push delivery. It must not be populated by a publisher in a Publish call.",
          "type": "string"
        }
      },
      "id": "PubsubMessage",
      "description": "A message data and its labels.",
      "type": "object"
    },
    "PublishOperation": {
      "id": "PublishOperation",
      "description": "Telemetry about a `Publish` operation which may or may not be common across individual RPCs.",
      "type": "object",
      "properties": {
        "hedgedAttemptCount": {
          "description": "Optional. If the publisher client is using publish hedging, provides the attempt count for the hedge (starting at 1). A value of 0 indicates that the request was not hedged.",
          "format": "int32",
          "type": "integer"
        },
        "publishStartTime": {
          "type": "string",
          "description": "Optional. Time at which the `publish()` call was initiated in the client library, meaning across all RPC retry attempts, see [grpc retries](https://grpc.io/docs/guides/retry/). Provides a sense of the end-to-end publish duration from the client perspective, across retries.",
          "format": "google-datetime"
        }
      }
    },
    "ListTopicsResponse": {
      "type": "object",
      "id": "ListTopicsResponse",
      "properties": {
        "topic": {
          "items": {
            "$ref": "Topic"
          },
          "description": "The resulting topics.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "If not empty, indicates that there are more topics that match the request, and this value should be passed to the next ListTopicsRequest to continue.",
          "type": "string"
        }
      },
      "description": "Response for the ListTopics method."
    },
    "PullRequest": {
      "type": "object",
      "id": "PullRequest",
      "properties": {
        "subscription": {
          "description": "The subscription from which a message should be pulled.",
          "type": "string"
        },
        "returnImmediately": {
          "type": "boolean",
          "description": "If this is specified as true the system will respond immediately even if it is not able to return a message in the Pull response. Otherwise the system is allowed to wait until at least one message is available rather than returning FAILED_PRECONDITION. The client may cancel the request if it does not wish to wait any longer for the response."
        }
      },
      "description": "Request for the Pull method."
    },
    "PubsubEvent": {
      "description": "An event indicating a received message or truncation event.",
      "type": "object",
      "properties": {
        "message": {
          "$ref": "PubsubMessage",
          "description": "A received message."
        },
        "deleted": {
          "type": "boolean",
          "description": "Indicates that this subscription has been deleted. (Note that pull subscribers will always receive NOT_FOUND in response in their pull request on the subscription, rather than seeing this boolean.)"
        },
        "subscription": {
          "type": "string",
          "description": "The subscription that received the event."
        },
        "truncated": {
          "type": "boolean",
          "description": "Indicates that this subscription has been truncated."
        }
      },
      "id": "PubsubEvent"
    },
    "AcknowledgeRequest": {
      "type": "object",
      "description": "Request for the Acknowledge method.",
      "properties": {
        "ackId": {
          "items": {
            "type": "string"
          },
          "description": "The acknowledgment ID for the message being acknowledged. This was returned by the Pub/Sub system in the Pull response.",
          "type": "array"
        },
        "subscription": {
          "description": "The subscription whose message is being acknowledged.",
          "type": "string"
        }
      },
      "id": "AcknowledgeRequest"
    },
    "Topic": {
      "type": "object",
      "properties": {
        "name": {
          "description": "Name of the topic.",
          "type": "string"
        }
      },
      "description": "A topic resource.",
      "id": "Topic"
    }
  },
  "rootUrl": "https://pubsub.googleapis.com/",
  "ownerDomain": "google.com",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        },
        "https://www.googleapis.com/auth/pubsub": {
          "description": "View and manage Pub/Sub topics and subscriptions"
        }
      }
    }
  },
  "servicePath": "",
  "ownerName": "Google",
  "title": "Cloud Pub/Sub API",
  "resources": {
    "topics": {
      "methods": {
        "list": {
          "parameterOrder": [],
          "httpMethod": "GET",
          "parameters": {
            "query": {
              "location": "query",
              "type": "string",
              "description": "A valid label query expression."
            },
            "pageToken": {
              "description": "The value obtained in the last ListTopicsResponse for continuation.",
              "type": "string",
              "location": "query"
            },
            "maxResults": {
              "format": "int32",
              "location": "query",
              "type": "integer",
              "description": "Maximum number of topics to return."
            }
          },
          "id": "pubsub.topics.list",
          "description": "Lists matching topics.",
          "response": {
            "$ref": "ListTopicsResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/pubsub"
          ],
          "path": "v1beta1a/topics",
          "flatPath": "v1beta1a/topics"
        },
        "delete": {
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/pubsub"
          ],
          "parameterOrder": [
            "topic"
          ],
          "id": "pubsub.topics.delete",
          "parameters": {
            "topic": {
              "pattern": "^.*$",
              "description": "Name of the topic to delete.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "response": {
            "$ref": "Empty"
          },
          "path": "v1beta1a/topics/{+topic}",
          "description": "Deletes the topic with the given name. Returns NOT_FOUND if the topic does not exist. After a topic is deleted, a new topic may be created with the same name.",
          "httpMethod": "DELETE",
          "flatPath": "v1beta1a/topics/{topicsId}"
        },
        "get": {
          "id": "pubsub.topics.get",
          "description": "Gets the configuration of a topic. Since the topic only has the name attribute, this method is only useful to check the existence of a topic. If other attributes are added in the future, they will be returned here.",
          "parameterOrder": [
            "topic"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/pubsub"
          ],
          "response": {
            "$ref": "Topic"
          },
          "parameters": {
            "topic": {
              "description": "The name of the topic to get.",
              "location": "path",
              "required": true,
              "type": "string",
              "pattern": "^.*$"
            }
          },
          "flatPath": "v1beta1a/topics/{topicsId}",
          "httpMethod": "GET",
          "path": "v1beta1a/topics/{+topic}"
        },
        "create": {
          "flatPath": "v1beta1a/topics",
          "response": {
            "$ref": "Topic"
          },
          "path": "v1beta1a/topics",
          "parameters": {},
          "id": "pubsub.topics.create",
          "parameterOrder": [],
          "description": "Creates the given topic with the given name.",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/pubsub"
          ],
          "request": {
            "$ref": "Topic"
          },
          "httpMethod": "POST"
        },
        "publishBatch": {
          "id": "pubsub.topics.publishBatch",
          "httpMethod": "POST",
          "flatPath": "v1beta1a/topics/publishBatch",
          "response": {
            "$ref": "PublishBatchResponse"
          },
          "parameters": {},
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/pubsub"
          ],
          "parameterOrder": [],
          "path": "v1beta1a/topics/publishBatch",
          "request": {
            "$ref": "PublishBatchRequest"
          },
          "description": "Adds one or more messages to the topic. Returns NOT_FOUND if the topic does not exist."
        },
        "publish": {
          "parameterOrder": [],
          "id": "pubsub.topics.publish",
          "request": {
            "$ref": "PublishRequest"
          },
          "flatPath": "v1beta1a/topics/publish",
          "parameters": {},
          "path": "v1beta1a/topics/publish",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/pubsub"
          ],
          "httpMethod": "POST",
          "description": "Adds a message to the topic. Returns NOT_FOUND if the topic does not exist.",
          "response": {
            "$ref": "Empty"
          }
        }
      }
    },
    "subscriptions": {
      "methods": {
        "list": {
          "description": "Lists matching subscriptions.",
          "parameters": {
            "maxResults": {
              "format": "int32",
              "location": "query",
              "type": "integer",
              "description": "Maximum number of subscriptions to return."
            },
            "pageToken": {
              "type": "string",
              "location": "query",
              "description": "The value obtained in the last ListSubscriptionsResponse for continuation."
            },
            "query": {
              "location": "query",
              "description": "A valid label query expression.",
              "type": "string"
            }
          },
          "id": "pubsub.subscriptions.list",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/pubsub"
          ],
          "path": "v1beta1a/subscriptions",
          "httpMethod": "GET",
          "response": {
            "$ref": "ListSubscriptionsResponse"
          },
          "parameterOrder": [],
          "flatPath": "v1beta1a/subscriptions"
        },
        "modifyAckDeadline": {
          "response": {
            "$ref": "Empty"
          },
          "request": {
            "$ref": "ModifyAckDeadlineRequest"
          },
          "parameterOrder": [],
          "flatPath": "v1beta1a/subscriptions/modifyAckDeadline",
          "httpMethod": "POST",
          "path": "v1beta1a/subscriptions/modifyAckDeadline",
          "description": "Modifies the Ack deadline for a message received from a pull request.",
          "id": "pubsub.subscriptions.modifyAckDeadline",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/pubsub"
          ],
          "parameters": {}
        },
        "pullBatch": {
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/pubsub"
          ],
          "parameters": {},
          "path": "v1beta1a/subscriptions/pullBatch",
          "httpMethod": "POST",
          "parameterOrder": [],
          "request": {
            "$ref": "PullBatchRequest"
          },
          "flatPath": "v1beta1a/subscriptions/pullBatch",
          "id": "pubsub.subscriptions.pullBatch",
          "description": "Pulls messages from the server. Returns an empty list if there are no messages available in the backlog. The system is free to return UNAVAILABLE if there are too many pull requests outstanding for the given subscription.",
          "response": {
            "$ref": "PullBatchResponse"
          }
        },
        "create": {
          "response": {
            "$ref": "Subscription"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/pubsub"
          ],
          "parameters": {},
          "parameterOrder": [],
          "httpMethod": "POST",
          "request": {
            "$ref": "Subscription"
          },
          "flatPath": "v1beta1a/subscriptions",
          "path": "v1beta1a/subscriptions",
          "description": "Creates a subscription on a given topic for a given subscriber. If the subscription already exists, returns ALREADY_EXISTS. If the corresponding topic doesn't exist, returns NOT_FOUND. If the name is not provided in the request, the server will assign a random name for this subscription on the same project as the topic.",
          "id": "pubsub.subscriptions.create"
        },
        "get": {
          "parameters": {
            "subscription": {
              "pattern": "^.*$",
              "description": "The name of the subscription to get.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "description": "Gets the configuration details of a subscription.",
          "response": {
            "$ref": "Subscription"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/pubsub"
          ],
          "httpMethod": "GET",
          "flatPath": "v1beta1a/subscriptions/{subscriptionsId}",
          "id": "pubsub.subscriptions.get",
          "path": "v1beta1a/subscriptions/{+subscription}",
          "parameterOrder": [
            "subscription"
          ]
        },
        "modifyPushConfig": {
          "path": "v1beta1a/subscriptions/modifyPushConfig",
          "request": {
            "$ref": "ModifyPushConfigRequest"
          },
          "response": {
            "$ref": "Empty"
          },
          "description": "Modifies the PushConfig for a specified subscription. This method can be used to suspend the flow of messages to an endpoint by clearing the PushConfig field in the request. Messages will be accumulated for delivery even if no push configuration is defined or while the configuration is modified.",
          "flatPath": "v1beta1a/subscriptions/modifyPushConfig",
          "parameterOrder": [],
          "id": "pubsub.subscriptions.modifyPushConfig",
          "parameters": {},
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/pubsub"
          ],
          "httpMethod": "POST"
        },
        "pull": {
          "path": "v1beta1a/subscriptions/pull",
          "request": {
            "$ref": "PullRequest"
          },
          "httpMethod": "POST",
          "parameters": {},
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/pubsub"
          ],
          "id": "pubsub.subscriptions.pull",
          "flatPath": "v1beta1a/subscriptions/pull",
          "description": "Pulls a single message from the server. If return_immediately is true, and no messages are available in the subscription, this method returns FAILED_PRECONDITION. The system is free to return an UNAVAILABLE error if no messages are available in a reasonable amount of time (to reduce system load).",
          "parameterOrder": [],
          "response": {
            "$ref": "PullResponse"
          }
        },
        "delete": {
          "parameterOrder": [
            "subscription"
          ],
          "httpMethod": "DELETE",
          "parameters": {
            "subscription": {
              "type": "string",
              "description": "The subscription to delete.",
              "pattern": "^.*$",
              "location": "path",
              "required": true
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/pubsub"
          ],
          "flatPath": "v1beta1a/subscriptions/{subscriptionsId}",
          "id": "pubsub.subscriptions.delete",
          "path": "v1beta1a/subscriptions/{+subscription}",
          "response": {
            "$ref": "Empty"
          },
          "description": "Deletes an existing subscription. All pending messages in the subscription are immediately dropped. Calls to Pull after deletion will return NOT_FOUND."
        },
        "acknowledge": {
          "request": {
            "$ref": "AcknowledgeRequest"
          },
          "httpMethod": "POST",
          "id": "pubsub.subscriptions.acknowledge",
          "flatPath": "v1beta1a/subscriptions/acknowledge",
          "parameters": {},
          "response": {
            "$ref": "Empty"
          },
          "path": "v1beta1a/subscriptions/acknowledge",
          "parameterOrder": [],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/pubsub"
          ],
          "description": "Acknowledges a particular received message: the Pub/Sub system can remove the given message from the subscription. Acknowledging a message whose Ack deadline has expired may succeed, but the message could have been already redelivered. Acknowledging a message more than once will not result in an error. This is only used for messages received via pull."
        }
      }
    }
  },
  "version": "v1beta1a",
  "protocol": "rest",
  "basePath": "",
  "mtlsRootUrl": "https://pubsub.mtls.googleapis.com/",
  "id": "pubsub:v1beta1a"
}