{
  "protocol": "rest",
  "discoveryVersion": "v1",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "baseUrl": "https://pubsub.googleapis.com/",
  "kind": "discovery#restDescription",
  "ownerName": "Google",
  "canonicalName": "Pubsub",
  "servicePath": "",
  "schemas": {
    "PublishBatchRequest": {
      "description": "Request for the PublishBatch method.",
      "type": "object",
      "id": "PublishBatchRequest",
      "properties": {
        "messages": {
          "type": "array",
          "description": "The messages to publish.",
          "items": {
            "$ref": "PubsubMessage"
          }
        },
        "topic": {
          "description": "The messages in the request will be published on this topic.",
          "type": "string"
        }
      }
    },
    "PubsubMessage": {
      "properties": {
        "label": {
          "description": "Optional list of labels for this message. Keys in this collection must be unique.",
          "items": {
            "$ref": "Label"
          },
          "type": "array"
        },
        "data": {
          "format": "byte",
          "type": "string",
          "description": "The message payload."
        },
        "messageId": {
          "description": "ID of this message assigned by the server at publication time. Guaranteed to be unique within the topic. This value may be read by a subscriber that receives a PubsubMessage via a Pull call or a push delivery. It must not be populated by a publisher in a Publish call.",
          "type": "string"
        },
        "publishTime": {
          "type": "string",
          "format": "int64",
          "description": "The time at which the message was published. The time is milliseconds since the UNIX epoch."
        }
      },
      "id": "PubsubMessage",
      "description": "A message data and its labels.",
      "type": "object"
    },
    "PubsubEvent": {
      "id": "PubsubEvent",
      "properties": {
        "message": {
          "$ref": "PubsubMessage",
          "description": "A received message."
        },
        "truncated": {
          "type": "boolean",
          "description": "Indicates that this subscription has been truncated."
        },
        "deleted": {
          "description": "Indicates that this subscription has been deleted. (Note that pull subscribers will always receive NOT_FOUND in response in their pull request on the subscription, rather than seeing this boolean.)",
          "type": "boolean"
        },
        "subscription": {
          "type": "string",
          "description": "The subscription that received the event."
        }
      },
      "description": "An event indicating a received message or truncation event.",
      "type": "object"
    },
    "ModifyPushConfigRequest": {
      "type": "object",
      "properties": {
        "subscription": {
          "description": "The name of the subscription.",
          "type": "string"
        },
        "pushConfig": {
          "description": "An empty push_config indicates that the Pub/Sub system should pause pushing messages from the given subscription.",
          "$ref": "PushConfig"
        }
      },
      "id": "ModifyPushConfigRequest",
      "description": "Request for the ModifyPushConfig method."
    },
    "PullBatchRequest": {
      "properties": {
        "maxEvents": {
          "description": "The maximum number of PubsubEvents returned for this request. The Pub/Sub system may return fewer than the number of events specified.",
          "type": "integer",
          "format": "int32"
        },
        "returnImmediately": {
          "description": "If this is specified as true the system will respond immediately even if it is not able to return a message in the Pull response. Otherwise the system is allowed to wait until at least one message is available rather than returning no messages. The client may cancel the request if it does not wish to wait any longer for the response.",
          "type": "boolean"
        },
        "subscription": {
          "type": "string",
          "description": "The subscription from which messages should be pulled."
        }
      },
      "type": "object",
      "id": "PullBatchRequest",
      "description": "Request for the PullBatch method."
    },
    "Label": {
      "type": "object",
      "description": "A key-value pair applied to a given object.",
      "properties": {
        "key": {
          "type": "string",
          "description": "The key of a label is a syntactically valid URL (as per RFC 1738) with the \"scheme\" and initial slashes omitted and with the additional restrictions noted below. Each key should be globally unique. The \"host\" portion is called the \"namespace\" and is not necessarily resolvable to a network endpoint. Instead, the namespace indicates what system or entity defines the semantics of the label. Namespaces do not restrict the set of objects to which a label may be associated. Keys are defined by the following grammar: key = hostname \"/\" kpath kpath = ksegment *[ \"/\" ksegment ] ksegment = alphadigit | *[ alphadigit | \"-\" | \"_\" | \".\" ] where \"hostname\" and \"alphadigit\" are defined as in RFC 1738. Example key: spanner.google.com/universe"
        },
        "strValue": {
          "type": "string",
          "description": "A string value."
        },
        "numValue": {
          "type": "string",
          "description": "An integer value.",
          "format": "int64"
        }
      },
      "id": "Label"
    },
    "Empty": {
      "type": "object",
      "properties": {},
      "description": "An empty message that you can re-use to avoid defining duplicated empty messages in your project. A typical example is to use it as argument or the return value of a service API. For instance: service Foo { rpc Bar (proto2.Empty) returns (proto2.Empty) { }; }; BEGIN GOOGLE-INTERNAL The difference between this one and net/rpc/empty-message.proto is that 1) The generated message here is in proto2 C++ API. 2) The proto2.Empty has minimum dependencies (no message_set or net/rpc dependencies) END GOOGLE-INTERNAL",
      "id": "Empty"
    },
    "PullBatchResponse": {
      "description": "Response for the PullBatch method.",
      "type": "object",
      "id": "PullBatchResponse",
      "properties": {
        "pullResponses": {
          "items": {
            "$ref": "PullResponse"
          },
          "type": "array",
          "description": "Received Pub/Sub messages or status events. The Pub/Sub system will return zero messages if there are no more messages available in the backlog. The Pub/Sub system may return fewer than the max_events requested even if there are more messages available in the backlog."
        }
      }
    },
    "PublishRequest": {
      "properties": {
        "topic": {
          "type": "string",
          "description": "The message in the request will be published on this topic."
        },
        "message": {
          "description": "The message to publish.",
          "$ref": "PubsubMessage"
        }
      },
      "type": "object",
      "id": "PublishRequest",
      "description": "Request for the Publish method."
    },
    "Subscription": {
      "id": "Subscription",
      "type": "object",
      "description": "A subscription resource.",
      "properties": {
        "name": {
          "type": "string",
          "description": "Name of the subscription."
        },
        "topic": {
          "type": "string",
          "description": "The name of the topic from which this subscription is receiving messages."
        },
        "pushConfig": {
          "$ref": "PushConfig",
          "description": "If push delivery is used with this subscription, this field is used to configure it."
        },
        "ackDeadlineSeconds": {
          "description": "For either push or pull delivery, the value is the maximum time after a subscriber receives a message before the subscriber should acknowledge or Nack the message. If the Ack deadline for a message passes without an Ack or a Nack, the Pub/Sub system will eventually redeliver the message. If a subscriber acknowledges after the deadline, the Pub/Sub system may accept the Ack, but it is possible that the message has been already delivered again. Multiple Acks to the message are allowed and will succeed. For push delivery, this value is used to set the request timeout for the call to the push endpoint. For pull delivery, this value is used as the initial value for the Ack deadline. It may be overridden for each message using its corresponding ack_id with ModifyAckDeadline. While a message is outstanding (i.e. it has been delivered to a pull subscriber and the subscriber has not yet Acked or Nacked), the Pub/Sub system will not deliver that message to another pull subscriber (on a best-effort basis).",
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "PullRequest": {
      "type": "object",
      "properties": {
        "subscription": {
          "description": "The subscription from which a message should be pulled.",
          "type": "string"
        },
        "returnImmediately": {
          "description": "If this is specified as true the system will respond immediately even if it is not able to return a message in the Pull response. Otherwise the system is allowed to wait until at least one message is available rather than returning FAILED_PRECONDITION. The client may cancel the request if it does not wish to wait any longer for the response.",
          "type": "boolean"
        }
      },
      "description": "Request for the Pull method.",
      "id": "PullRequest"
    },
    "PublishOperation": {
      "description": "Telemetry about a `Publish` operation which may or may not be common across individual RPCs.",
      "type": "object",
      "id": "PublishOperation",
      "properties": {
        "publishStartTime": {
          "description": "Optional. Time at which the `publish()` call was initiated in the client library, meaning across all RPC retry attempts, see [grpc retries](https://grpc.io/docs/guides/retry/). Provides a sense of the end-to-end publish duration from the client perspective, across retries.",
          "format": "google-datetime",
          "type": "string"
        },
        "hedgedAttemptCount": {
          "type": "integer",
          "format": "int32",
          "description": "Optional. If the publisher client is using publish hedging, provides the attempt count for the hedge (starting at 1). A value of 0 indicates that the request was not hedged."
        }
      }
    },
    "ListTopicsResponse": {
      "properties": {
        "topic": {
          "description": "The resulting topics.",
          "type": "array",
          "items": {
            "$ref": "Topic"
          }
        },
        "nextPageToken": {
          "description": "If not empty, indicates that there are more topics that match the request, and this value should be passed to the next ListTopicsRequest to continue.",
          "type": "string"
        }
      },
      "id": "ListTopicsResponse",
      "description": "Response for the ListTopics method.",
      "type": "object"
    },
    "PullResponse": {
      "properties": {
        "ackId": {
          "type": "string",
          "description": "This ID must be used to acknowledge the received event or message."
        },
        "pubsubEvent": {
          "description": "A pubsub message or truncation event.",
          "$ref": "PubsubEvent"
        }
      },
      "type": "object",
      "description": "Either a PubsubMessage or a truncation event. One of these two must be populated.",
      "id": "PullResponse"
    },
    "PubsubClientTelemetry": {
      "id": "PubsubClientTelemetry",
      "type": "object",
      "description": "Client-side telemetry about Pub/Sub requests, useful for debugging purposes. If the client opts to provide this information, it will be passed as a serialized proto in the `x-goog-pubsub-client-telemetry` header.",
      "properties": {
        "publishOperation": {
          "description": "Optional. Telemetry about a `Publish` operation.",
          "$ref": "PublishOperation"
        }
      }
    },
    "PublishBatchResponse": {
      "description": "Response for the PublishBatch method.",
      "id": "PublishBatchResponse",
      "type": "object",
      "properties": {
        "messageIds": {
          "description": "The server-assigned ID of each published message, in the same order as the messages in the request. IDs are guaranteed to be unique within the topic.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "PushConfig": {
      "type": "object",
      "properties": {
        "pushEndpoint": {
          "description": "A URL locating the endpoint to which messages should be pushed. For example, a Webhook endpoint might use \"https://example.com/push\".",
          "type": "string"
        }
      },
      "description": "Configuration for a push delivery endpoint.",
      "id": "PushConfig"
    },
    "Topic": {
      "description": "A topic resource.",
      "type": "object",
      "id": "Topic",
      "properties": {
        "name": {
          "type": "string",
          "description": "Name of the topic."
        }
      }
    },
    "ListSubscriptionsResponse": {
      "description": "Response for the ListSubscriptions method.",
      "id": "ListSubscriptionsResponse",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "If not empty, indicates that there are more subscriptions that match the request and this value should be passed to the next ListSubscriptionsRequest to continue.",
          "type": "string"
        },
        "subscription": {
          "description": "The subscriptions that match the request.",
          "items": {
            "$ref": "Subscription"
          },
          "type": "array"
        }
      }
    },
    "ModifyAckDeadlineRequest": {
      "description": "Request for the ModifyAckDeadline method.",
      "properties": {
        "subscription": {
          "type": "string",
          "description": "Next Index: 5 The name of the subscription from which messages are being pulled."
        },
        "ackId": {
          "type": "string",
          "deprecated": true,
          "description": "The acknowledgment ID. Either this or ack_ids must be populated, not both."
        },
        "ackDeadlineSeconds": {
          "format": "int32",
          "type": "integer",
          "description": "The new ack deadline with respect to the time this request was sent to the Pub/Sub system. Must be >= 0. For example, if the value is 10, the new ack deadline will expire 10 seconds after the ModifyAckDeadline call was made. Specifying zero may immediately make the message available for another pull request."
        },
        "ackIds": {
          "items": {
            "type": "string"
          },
          "description": "List of acknowledgment IDs. Either this field or ack_id should be populated, not both.",
          "type": "array"
        }
      },
      "id": "ModifyAckDeadlineRequest",
      "type": "object"
    },
    "AcknowledgeRequest": {
      "description": "Request for the Acknowledge method.",
      "properties": {
        "ackId": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The acknowledgment ID for the message being acknowledged. This was returned by the Pub/Sub system in the Pull response."
        },
        "subscription": {
          "type": "string",
          "description": "The subscription whose message is being acknowledged."
        }
      },
      "id": "AcknowledgeRequest",
      "type": "object"
    }
  },
  "batchPath": "batch",
  "parameters": {
    "callback": {
      "location": "query",
      "description": "JSONP",
      "type": "string"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string",
      "location": "query"
    },
    "upload_protocol": {
      "type": "string",
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "location": "query",
      "type": "string"
    },
    "alt": {
      "type": "string",
      "default": "json",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "description": "Data format for response.",
      "location": "query",
      "enum": [
        "json",
        "media",
        "proto"
      ]
    },
    "$.xgafv": {
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string",
      "description": "V1 error format.",
      "location": "query"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string",
      "location": "query"
    },
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "quotaUser": {
      "type": "string",
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "type": "boolean",
      "location": "query"
    }
  },
  "name": "pubsub",
  "basePath": "",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        },
        "https://www.googleapis.com/auth/pubsub": {
          "description": "View and manage Pub/Sub topics and subscriptions"
        }
      }
    }
  },
  "id": "pubsub:v1beta1a",
  "version": "v1beta1a",
  "mtlsRootUrl": "https://pubsub.mtls.googleapis.com/",
  "rootUrl": "https://pubsub.googleapis.com/",
  "revision": "20261002",
  "endpoints": [
    {
      "endpointUrl": "https://pubsub.africa-south1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "africa-south1"
    },
    {
      "location": "asia-east1",
      "endpointUrl": "https://pubsub.asia-east1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "asia-east2",
      "endpointUrl": "https://pubsub.asia-east2.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "asia-northeast1",
      "endpointUrl": "https://pubsub.asia-northeast1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://pubsub.asia-northeast2.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "asia-northeast2"
    },
    {
      "location": "asia-northeast3",
      "endpointUrl": "https://pubsub.asia-northeast3.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://pubsub.asia-south1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "asia-south1"
    },
    {
      "endpointUrl": "https://pubsub.asia-south2.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "asia-south2"
    },
    {
      "location": "asia-southeast1",
      "endpointUrl": "https://pubsub.asia-southeast1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://pubsub.asia-southeast2.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "asia-southeast2"
    },
    {
      "endpointUrl": "https://pubsub.asia-southeast3.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "asia-southeast3"
    },
    {
      "location": "australia-southeast1",
      "endpointUrl": "https://pubsub.australia-southeast1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://pubsub.australia-southeast2.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "australia-southeast2"
    },
    {
      "endpointUrl": "https://pubsub.europe-central2.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "europe-central2"
    },
    {
      "location": "europe-north1",
      "endpointUrl": "https://pubsub.europe-north1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "europe-north2",
      "endpointUrl": "https://pubsub.europe-north2.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://pubsub.europe-southwest1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "europe-southwest1"
    },
    {
      "location": "europe-west1",
      "endpointUrl": "https://pubsub.europe-west1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://pubsub.europe-west2.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "europe-west2"
    },
    {
      "endpointUrl": "https://pubsub.europe-west3.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "europe-west3"
    },
    {
      "location": "europe-west4",
      "endpointUrl": "https://pubsub.europe-west4.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "europe-west6",
      "endpointUrl": "https://pubsub.europe-west6.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "europe-west8",
      "endpointUrl": "https://pubsub.europe-west8.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "europe-west9",
      "endpointUrl": "https://pubsub.europe-west9.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "europe-west10",
      "endpointUrl": "https://pubsub.europe-west10.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "europe-west12",
      "endpointUrl": "https://pubsub.europe-west12.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "me-central1",
      "endpointUrl": "https://pubsub.me-central1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "me-central2",
      "endpointUrl": "https://pubsub.me-central2.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://pubsub.me-west1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "me-west1"
    },
    {
      "endpointUrl": "https://pubsub.northamerica-northeast1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "northamerica-northeast1"
    },
    {
      "endpointUrl": "https://pubsub.northamerica-northeast2.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "northamerica-northeast2"
    },
    {
      "endpointUrl": "https://pubsub.northamerica-south1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "northamerica-south1"
    },
    {
      "location": "southamerica-east1",
      "endpointUrl": "https://pubsub.southamerica-east1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://pubsub.southamerica-west1.rep.googleapis.com/",
      "location": "southamerica-west1",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://pubsub.us-central1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "us-central1"
    },
    {
      "endpointUrl": "https://pubsub.us-central2.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "us-central2"
    },
    {
      "endpointUrl": "https://pubsub.us-east1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "us-east1"
    },
    {
      "location": "us-east4",
      "endpointUrl": "https://pubsub.us-east4.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "us-east5",
      "endpointUrl": "https://pubsub.us-east5.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://pubsub.us-east7.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "us-east7"
    },
    {
      "location": "us-south1",
      "endpointUrl": "https://pubsub.us-south1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "us-west1",
      "endpointUrl": "https://pubsub.us-west1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://pubsub.us-west2.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "us-west2"
    },
    {
      "location": "us-west3",
      "endpointUrl": "https://pubsub.us-west3.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://pubsub.us-west4.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "us-west4"
    },
    {
      "location": "us-west8",
      "endpointUrl": "https://pubsub.us-west8.rep.googleapis.com/",
      "description": "Regional Endpoint"
    }
  ],
  "title": "Cloud Pub/Sub API",
  "documentationLink": "https://cloud.google.com/pubsub/docs",
  "ownerDomain": "google.com",
  "description": "Provides reliable, many-to-many, asynchronous messaging between applications. ",
  "resources": {
    "topics": {
      "methods": {
        "publish": {
          "response": {
            "$ref": "Empty"
          },
          "parameterOrder": [],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/pubsub"
          ],
          "description": "Adds a message to the topic. Returns NOT_FOUND if the topic does not exist.",
          "flatPath": "v1beta1a/topics/publish",
          "httpMethod": "POST",
          "id": "pubsub.topics.publish",
          "parameters": {},
          "request": {
            "$ref": "PublishRequest"
          },
          "path": "v1beta1a/topics/publish"
        },
        "delete": {
          "httpMethod": "DELETE",
          "parameterOrder": [
            "topic"
          ],
          "description": "Deletes the topic with the given name. Returns NOT_FOUND if the topic does not exist. After a topic is deleted, a new topic may be created with the same name.",
          "id": "pubsub.topics.delete",
          "path": "v1beta1a/topics/{+topic}",
          "parameters": {
            "topic": {
              "required": true,
              "type": "string",
              "pattern": "^.*$",
              "description": "Name of the topic to delete.",
              "location": "path"
            }
          },
          "response": {
            "$ref": "Empty"
          },
          "flatPath": "v1beta1a/topics/{topicsId}",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/pubsub"
          ]
        },
        "create": {
          "parameters": {},
          "description": "Creates the given topic with the given name.",
          "flatPath": "v1beta1a/topics",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/pubsub"
          ],
          "id": "pubsub.topics.create",
          "response": {
            "$ref": "Topic"
          },
          "httpMethod": "POST",
          "path": "v1beta1a/topics",
          "request": {
            "$ref": "Topic"
          },
          "parameterOrder": []
        },
        "publishBatch": {
          "id": "pubsub.topics.publishBatch",
          "request": {
            "$ref": "PublishBatchRequest"
          },
          "parameters": {},
          "response": {
            "$ref": "PublishBatchResponse"
          },
          "flatPath": "v1beta1a/topics/publishBatch",
          "parameterOrder": [],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/pubsub"
          ],
          "path": "v1beta1a/topics/publishBatch",
          "httpMethod": "POST",
          "description": "Adds one or more messages to the topic. Returns NOT_FOUND if the topic does not exist."
        },
        "get": {
          "id": "pubsub.topics.get",
          "httpMethod": "GET",
          "parameters": {
            "topic": {
              "description": "The name of the topic to get.",
              "type": "string",
              "required": true,
              "pattern": "^.*$",
              "location": "path"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/pubsub"
          ],
          "description": "Gets the configuration of a topic. Since the topic only has the name attribute, this method is only useful to check the existence of a topic. If other attributes are added in the future, they will be returned here.",
          "path": "v1beta1a/topics/{+topic}",
          "response": {
            "$ref": "Topic"
          },
          "flatPath": "v1beta1a/topics/{topicsId}",
          "parameterOrder": [
            "topic"
          ]
        },
        "list": {
          "httpMethod": "GET",
          "description": "Lists matching topics.",
          "id": "pubsub.topics.list",
          "parameterOrder": [],
          "response": {
            "$ref": "ListTopicsResponse"
          },
          "parameters": {
            "maxResults": {
              "type": "integer",
              "location": "query",
              "description": "Maximum number of topics to return.",
              "format": "int32"
            },
            "query": {
              "location": "query",
              "description": "A valid label query expression.",
              "type": "string"
            },
            "pageToken": {
              "location": "query",
              "description": "The value obtained in the last ListTopicsResponse for continuation.",
              "type": "string"
            }
          },
          "path": "v1beta1a/topics",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/pubsub"
          ],
          "flatPath": "v1beta1a/topics"
        }
      }
    },
    "subscriptions": {
      "methods": {
        "acknowledge": {
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/pubsub"
          ],
          "path": "v1beta1a/subscriptions/acknowledge",
          "httpMethod": "POST",
          "id": "pubsub.subscriptions.acknowledge",
          "request": {
            "$ref": "AcknowledgeRequest"
          },
          "parameters": {},
          "description": "Acknowledges a particular received message: the Pub/Sub system can remove the given message from the subscription. Acknowledging a message whose Ack deadline has expired may succeed, but the message could have been already redelivered. Acknowledging a message more than once will not result in an error. This is only used for messages received via pull.",
          "parameterOrder": [],
          "flatPath": "v1beta1a/subscriptions/acknowledge",
          "response": {
            "$ref": "Empty"
          }
        },
        "modifyPushConfig": {
          "response": {
            "$ref": "Empty"
          },
          "parameters": {},
          "flatPath": "v1beta1a/subscriptions/modifyPushConfig",
          "request": {
            "$ref": "ModifyPushConfigRequest"
          },
          "httpMethod": "POST",
          "path": "v1beta1a/subscriptions/modifyPushConfig",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/pubsub"
          ],
          "description": "Modifies the PushConfig for a specified subscription. This method can be used to suspend the flow of messages to an endpoint by clearing the PushConfig field in the request. Messages will be accumulated for delivery even if no push configuration is defined or while the configuration is modified.",
          "id": "pubsub.subscriptions.modifyPushConfig",
          "parameterOrder": []
        },
        "create": {
          "parameterOrder": [],
          "request": {
            "$ref": "Subscription"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/pubsub"
          ],
          "response": {
            "$ref": "Subscription"
          },
          "id": "pubsub.subscriptions.create",
          "flatPath": "v1beta1a/subscriptions",
          "parameters": {},
          "path": "v1beta1a/subscriptions",
          "httpMethod": "POST",
          "description": "Creates a subscription on a given topic for a given subscriber. If the subscription already exists, returns ALREADY_EXISTS. If the corresponding topic doesn't exist, returns NOT_FOUND. If the name is not provided in the request, the server will assign a random name for this subscription on the same project as the topic."
        },
        "get": {
          "path": "v1beta1a/subscriptions/{+subscription}",
          "parameterOrder": [
            "subscription"
          ],
          "description": "Gets the configuration details of a subscription.",
          "response": {
            "$ref": "Subscription"
          },
          "parameters": {
            "subscription": {
              "type": "string",
              "required": true,
              "description": "The name of the subscription to get.",
              "pattern": "^.*$",
              "location": "path"
            }
          },
          "flatPath": "v1beta1a/subscriptions/{subscriptionsId}",
          "httpMethod": "GET",
          "id": "pubsub.subscriptions.get",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/pubsub"
          ]
        },
        "pull": {
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/pubsub"
          ],
          "description": "Pulls a single message from the server. If return_immediately is true, and no messages are available in the subscription, this method returns FAILED_PRECONDITION. The system is free to return an UNAVAILABLE error if no messages are available in a reasonable amount of time (to reduce system load).",
          "parameterOrder": [],
          "request": {
            "$ref": "PullRequest"
          },
          "httpMethod": "POST",
          "flatPath": "v1beta1a/subscriptions/pull",
          "id": "pubsub.subscriptions.pull",
          "response": {
            "$ref": "PullResponse"
          },
          "parameters": {},
          "path": "v1beta1a/subscriptions/pull"
        },
        "delete": {
          "response": {
            "$ref": "Empty"
          },
          "flatPath": "v1beta1a/subscriptions/{subscriptionsId}",
          "parameterOrder": [
            "subscription"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/pubsub"
          ],
          "parameters": {
            "subscription": {
              "pattern": "^.*$",
              "type": "string",
              "required": true,
              "description": "The subscription to delete.",
              "location": "path"
            }
          },
          "id": "pubsub.subscriptions.delete",
          "path": "v1beta1a/subscriptions/{+subscription}",
          "httpMethod": "DELETE",
          "description": "Deletes an existing subscription. All pending messages in the subscription are immediately dropped. Calls to Pull after deletion will return NOT_FOUND."
        },
        "pullBatch": {
          "description": "Pulls messages from the server. Returns an empty list if there are no messages available in the backlog. The system is free to return UNAVAILABLE if there are too many pull requests outstanding for the given subscription.",
          "parameterOrder": [],
          "path": "v1beta1a/subscriptions/pullBatch",
          "httpMethod": "POST",
          "flatPath": "v1beta1a/subscriptions/pullBatch",
          "id": "pubsub.subscriptions.pullBatch",
          "response": {
            "$ref": "PullBatchResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/pubsub"
          ],
          "request": {
            "$ref": "PullBatchRequest"
          },
          "parameters": {}
        },
        "modifyAckDeadline": {
          "description": "Modifies the Ack deadline for a message received from a pull request.",
          "path": "v1beta1a/subscriptions/modifyAckDeadline",
          "response": {
            "$ref": "Empty"
          },
          "id": "pubsub.subscriptions.modifyAckDeadline",
          "httpMethod": "POST",
          "flatPath": "v1beta1a/subscriptions/modifyAckDeadline",
          "request": {
            "$ref": "ModifyAckDeadlineRequest"
          },
          "parameters": {},
          "parameterOrder": [],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/pubsub"
          ]
        },
        "list": {
          "response": {
            "$ref": "ListSubscriptionsResponse"
          },
          "id": "pubsub.subscriptions.list",
          "flatPath": "v1beta1a/subscriptions",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/pubsub"
          ],
          "description": "Lists matching subscriptions.",
          "httpMethod": "GET",
          "path": "v1beta1a/subscriptions",
          "parameters": {
            "pageToken": {
              "location": "query",
              "description": "The value obtained in the last ListSubscriptionsResponse for continuation.",
              "type": "string"
            },
            "maxResults": {
              "type": "integer",
              "description": "Maximum number of subscriptions to return.",
              "format": "int32",
              "location": "query"
            },
            "query": {
              "type": "string",
              "location": "query",
              "description": "A valid label query expression."
            }
          },
          "parameterOrder": []
        }
      }
    }
  }
}