{
  "name": "readerrevenuesubscriptionlinking",
  "resources": {
    "publications": {
      "resources": {
        "readers": {
          "methods": {
            "getEntitlements": {
              "flatPath": "v1/publications/{publicationsId}/readers/{readersId}/entitlements",
              "httpMethod": "GET",
              "parameterOrder": [
                "name"
              ],
              "description": "Gets the reader entitlements for a publication reader. - Returns PERMISSION_DENIED if the caller does not have access. - Returns NOT_FOUND if the reader does not exist.",
              "response": {
                "$ref": "ReaderEntitlements"
              },
              "path": "v1/{+name}",
              "parameters": {
                "name": {
                  "pattern": "^publications/[^/]+/readers/[^/]+/entitlements$",
                  "description": "Required. The name of the reader entitlements to retrieve. Format: publications/{publication_id}/readers/{reader_id}/entitlements",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "id": "readerrevenuesubscriptionlinking.publications.readers.getEntitlements"
            },
            "delete": {
              "path": "v1/{+name}",
              "httpMethod": "DELETE",
              "id": "readerrevenuesubscriptionlinking.publications.readers.delete",
              "parameters": {
                "name": {
                  "description": "Required. The resource name of the reader. Format: publications/{publication_id}/readers/{ppid}",
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "pattern": "^publications/[^/]+/readers/[^/]+$"
                },
                "force": {
                  "description": "If set to true, any entitlements under the reader will also be purged.",
                  "location": "query",
                  "type": "boolean"
                }
              },
              "description": "Removes a publication reader, effectively severing the association with a Google user. If `force` is set to true, any entitlements for this reader will also be deleted. (Otherwise, the request will only work if the reader has no entitlements.) - If the reader does not exist, return NOT_FOUND. - Return FAILED_PRECONDITION if the force field is false (or unset) and entitlements are present.",
              "response": {
                "$ref": "DeleteReaderResponse"
              },
              "flatPath": "v1/publications/{publicationsId}/readers/{readersId}",
              "parameterOrder": [
                "name"
              ]
            },
            "get": {
              "httpMethod": "GET",
              "response": {
                "$ref": "Reader"
              },
              "description": "Gets a reader of a publication. Returns NOT_FOUND if the reader does not exist.",
              "path": "v1/{+name}",
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1/publications/{publicationsId}/readers/{readersId}",
              "parameters": {
                "name": {
                  "description": "Required. The resource name of the reader. Format: publications/{publication_id}/readers/{ppid}",
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "pattern": "^publications/[^/]+/readers/[^/]+$"
                }
              },
              "id": "readerrevenuesubscriptionlinking.publications.readers.get"
            },
            "updateEntitlements": {
              "response": {
                "$ref": "ReaderEntitlements"
              },
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "PATCH",
              "parameters": {
                "name": {
                  "type": "string",
                  "description": "Output only. The resource name of the singleton.",
                  "location": "path",
                  "required": true,
                  "pattern": "^publications/[^/]+/readers/[^/]+/entitlements$"
                },
                "updateMask": {
                  "location": "query",
                  "format": "google-fieldmask",
                  "type": "string",
                  "description": "Optional. The list of fields to update. Defaults to all fields."
                }
              },
              "id": "readerrevenuesubscriptionlinking.publications.readers.updateEntitlements",
              "path": "v1/{+name}",
              "request": {
                "$ref": "ReaderEntitlements"
              },
              "flatPath": "v1/publications/{publicationsId}/readers/{readersId}/entitlements",
              "description": "Updates the reader entitlements for a publication reader. The entire reader entitlements will be overwritten by the new reader entitlements in the payload, like a PUT. - Returns PERMISSION_DENIED if the caller does not have access. - Returns NOT_FOUND if the reader does not exist."
            }
          }
        }
      }
    }
  },
  "rootUrl": "https://readerrevenuesubscriptionlinking.googleapis.com/",
  "version_module": true,
  "baseUrl": "https://readerrevenuesubscriptionlinking.googleapis.com/",
  "servicePath": "",
  "ownerDomain": "google.com",
  "documentationLink": "https://developers.google.com/news/subscribe/subscription-linking/overview",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "batchPath": "batch",
  "fullyEncodeReservedExpansion": true,
  "protocol": "rest",
  "kind": "discovery#restDescription",
  "discoveryVersion": "v1",
  "basePath": "",
  "description": "readerrevenuesubscriptionlinking.googleapis.com API.",
  "revision": "20260827",
  "id": "readerrevenuesubscriptionlinking:v1",
  "version": "v1",
  "canonicalName": "Subscription Linking",
  "mtlsRootUrl": "https://readerrevenuesubscriptionlinking.mtls.googleapis.com/",
  "title": "Reader Revenue Subscription Linking API",
  "ownerName": "Google",
  "parameters": {
    "upload_protocol": {
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string"
    },
    "$.xgafv": {
      "location": "query",
      "enum": [
        "1",
        "2"
      ],
      "description": "V1 error format.",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string"
    },
    "alt": {
      "type": "string",
      "location": "query",
      "description": "Data format for response.",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ]
    },
    "access_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth access token."
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string",
      "location": "query"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string",
      "location": "query"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string",
      "location": "query"
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "prettyPrint": {
      "type": "boolean",
      "default": "true",
      "location": "query",
      "description": "Returns response with indentations and line breaks."
    },
    "oauth_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth 2.0 token for the current user."
    }
  },
  "schemas": {
    "DeleteReaderResponse": {
      "type": "object",
      "description": "Response to deleting a reader of a publication.",
      "id": "DeleteReaderResponse",
      "properties": {}
    },
    "ReaderEntitlements": {
      "type": "object",
      "id": "ReaderEntitlements",
      "description": "A singleton containing all of a reader's entitlements for a publication.",
      "properties": {
        "name": {
          "readOnly": true,
          "description": "Output only. The resource name of the singleton.",
          "type": "string"
        },
        "entitlements": {
          "items": {
            "$ref": "Entitlement"
          },
          "description": "All of the entitlements for a publication reader.",
          "type": "array"
        }
      }
    },
    "Entitlement": {
      "properties": {
        "productId": {
          "description": "Required. The publication's product ID that the user has access to. This is the same product ID as can be found in Schema.org markup (http://schema.org/productID). E.g. \"dailybugle.com:basic\"",
          "type": "string"
        },
        "expireTime": {
          "description": "Optional. Expiration time of the entitlement. If unset, the entitlement does not expire (indefinite entitlement). We need to support indefinite entitlements for platform publishers. dd: go/rrm-sl-notedotcom Entitlements that have expired over 30 days will be purged.",
          "format": "google-datetime",
          "type": "string"
        },
        "detail": {
          "description": "The detail field can carry a description of the SKU that corresponds to what the user has been granted access to. This description, which is opaque to Google, can be displayed in the Google user subscription console for users who linked the subscription to a Google Account. Max 80 character limit.",
          "type": "string"
        },
        "subscriptionToken": {
          "type": "string",
          "description": "A source-specific subscription token. This is an opaque string that the publisher provides to Google. This token is opaque and has no meaning to Google."
        }
      },
      "id": "Entitlement",
      "type": "object",
      "description": "A single entitlement for a publication reader"
    },
    "Reader": {
      "id": "Reader",
      "type": "object",
      "description": "A reader of a publication.",
      "properties": {
        "createTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. Time the publication reader was created and associated with a Google user."
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The resource name of the reader. The last part of ppid in the resource name is the publisher provided id."
        },
        "ppid": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The publisher provided id of the reader."
        },
        "publicationId": {
          "type": "string",
          "description": "Output only. The SwG publication id that the reader has linked their subscription to.",
          "readOnly": true
        },
        "originatingPublicationId": {
          "readOnly": true,
          "description": "Output only. The SwG publication id that the reader's subscription linking was originating from.",
          "type": "string"
        }
      }
    }
  }
}