{
  "version": "v1",
  "mtlsRootUrl": "https://readerrevenuesubscriptionlinking.mtls.googleapis.com/",
  "baseUrl": "https://readerrevenuesubscriptionlinking.googleapis.com/",
  "parameters": {
    "quotaUser": {
      "location": "query",
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "alt": {
      "default": "json",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "type": "string",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "description": "Data format for response.",
      "location": "query"
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query",
      "type": "string"
    },
    "callback": {
      "type": "string",
      "location": "query",
      "description": "JSONP"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query",
      "type": "string"
    },
    "$.xgafv": {
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format.",
      "type": "string",
      "enum": [
        "1",
        "2"
      ],
      "location": "query"
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "location": "query",
      "default": "true",
      "type": "boolean"
    },
    "access_token": {
      "description": "OAuth access token.",
      "type": "string",
      "location": "query"
    },
    "oauth_token": {
      "location": "query",
      "description": "OAuth 2.0 token for the current user.",
      "type": "string"
    }
  },
  "canonicalName": "Subscription Linking",
  "schemas": {
    "Entitlement": {
      "description": "A single entitlement for a publication reader",
      "id": "Entitlement",
      "properties": {
        "expireTime": {
          "description": "Optional. Expiration time of the entitlement. If unset, the entitlement does not expire (indefinite entitlement). We need to support indefinite entitlements for platform publishers. dd: go/rrm-sl-notedotcom Entitlements that have expired over 30 days will be purged.",
          "type": "string",
          "format": "google-datetime"
        },
        "subscriptionToken": {
          "description": "A source-specific subscription token. This is an opaque string that the publisher provides to Google. This token is opaque and has no meaning to Google.",
          "type": "string"
        },
        "detail": {
          "description": "The detail field can carry a description of the SKU that corresponds to what the user has been granted access to. This description, which is opaque to Google, can be displayed in the Google user subscription console for users who linked the subscription to a Google Account. Max 80 character limit.",
          "type": "string"
        },
        "productId": {
          "description": "Required. The publication's product ID that the user has access to. This is the same product ID as can be found in Schema.org markup (http://schema.org/productID). E.g. \"dailybugle.com:basic\"",
          "type": "string"
        }
      },
      "type": "object"
    },
    "DeleteReaderResponse": {
      "id": "DeleteReaderResponse",
      "description": "Response to deleting a reader of a publication.",
      "type": "object",
      "properties": {}
    },
    "Reader": {
      "type": "object",
      "properties": {
        "publicationId": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The SwG publication id that the reader has linked their subscription to."
        },
        "createTime": {
          "format": "google-datetime",
          "readOnly": true,
          "type": "string",
          "description": "Output only. Time the publication reader was created and associated with a Google user."
        },
        "name": {
          "description": "Output only. The resource name of the reader. The last part of ppid in the resource name is the publisher provided id.",
          "type": "string",
          "readOnly": true
        },
        "ppid": {
          "readOnly": true,
          "description": "Output only. The publisher provided id of the reader.",
          "type": "string"
        },
        "originatingPublicationId": {
          "type": "string",
          "description": "Output only. The SwG publication id that the reader's subscription linking was originating from.",
          "readOnly": true
        }
      },
      "description": "A reader of a publication.",
      "id": "Reader"
    },
    "ReaderEntitlements": {
      "properties": {
        "name": {
          "description": "Output only. The resource name of the singleton.",
          "type": "string",
          "readOnly": true
        },
        "entitlements": {
          "description": "All of the entitlements for a publication reader.",
          "items": {
            "$ref": "Entitlement"
          },
          "type": "array"
        }
      },
      "type": "object",
      "description": "A singleton containing all of a reader's entitlements for a publication.",
      "id": "ReaderEntitlements"
    },
    "ListReaderEntitlementsResponse": {
      "description": "Response containing the aggregated collection of matching ReaderEntitlements objects.",
      "properties": {
        "readerEntitlements": {
          "description": "The collection of ReaderEntitlements found across the scoped child publications. Every element's `name` field will contain the canonical sub-publication path, never the wildcard dash.",
          "type": "array",
          "items": {
            "$ref": "ReaderEntitlements"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token that can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        }
      },
      "type": "object",
      "id": "ListReaderEntitlementsResponse"
    }
  },
  "basePath": "",
  "version_module": true,
  "description": "readerrevenuesubscriptionlinking.googleapis.com API.",
  "discoveryVersion": "v1",
  "ownerName": "Google",
  "title": "Reader Revenue Subscription Linking API",
  "revision": "20260925",
  "servicePath": "",
  "kind": "discovery#restDescription",
  "batchPath": "batch",
  "resources": {
    "publications": {
      "resources": {
        "readers": {
          "methods": {
            "delete": {
              "httpMethod": "DELETE",
              "parameters": {
                "force": {
                  "type": "boolean",
                  "location": "query",
                  "description": "If set to true, any entitlements under the reader will also be purged."
                },
                "name": {
                  "required": true,
                  "description": "Required. The resource name of the reader. Format: publications/{publication_id}/readers/{ppid}",
                  "type": "string",
                  "location": "path",
                  "pattern": "^publications/[^/]+/readers/[^/]+$"
                }
              },
              "description": "Removes a publication reader, effectively severing the association with a Google user. If `force` is set to true, any entitlements for this reader will also be deleted. (Otherwise, the request will only work if the reader has no entitlements.) - If the reader does not exist, return NOT_FOUND. - Return FAILED_PRECONDITION if the force field is false (or unset) and entitlements are present.",
              "parameterOrder": [
                "name"
              ],
              "id": "readerrevenuesubscriptionlinking.publications.readers.delete",
              "response": {
                "$ref": "DeleteReaderResponse"
              },
              "flatPath": "v1/publications/{publicationsId}/readers/{readersId}",
              "path": "v1/{+name}"
            },
            "get": {
              "httpMethod": "GET",
              "parameters": {
                "name": {
                  "pattern": "^publications/[^/]+/readers/[^/]+$",
                  "required": true,
                  "description": "Required. The resource name of the reader. Format: publications/{publication_id}/readers/{ppid}",
                  "type": "string",
                  "location": "path"
                }
              },
              "response": {
                "$ref": "Reader"
              },
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1/publications/{publicationsId}/readers/{readersId}",
              "id": "readerrevenuesubscriptionlinking.publications.readers.get",
              "path": "v1/{+name}",
              "description": "Gets a reader of a publication. Returns NOT_FOUND if the reader does not exist."
            },
            "getEntitlements": {
              "flatPath": "v1/publications/{publicationsId}/readers/{readersId}/entitlements",
              "response": {
                "$ref": "ReaderEntitlements"
              },
              "description": "Gets the reader entitlements for a publication reader. - Returns PERMISSION_DENIED if the caller does not have access. - Returns NOT_FOUND if the reader does not exist.",
              "parameterOrder": [
                "name"
              ],
              "id": "readerrevenuesubscriptionlinking.publications.readers.getEntitlements",
              "path": "v1/{+name}",
              "httpMethod": "GET",
              "parameters": {
                "name": {
                  "pattern": "^publications/[^/]+/readers/[^/]+/entitlements$",
                  "type": "string",
                  "required": true,
                  "description": "Required. The name of the reader entitlements to retrieve. Format: publications/{publication_id}/readers/{reader_id}/entitlements",
                  "location": "path"
                }
              }
            },
            "updateEntitlements": {
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "PATCH",
              "parameters": {
                "updateMask": {
                  "format": "google-fieldmask",
                  "location": "query",
                  "type": "string",
                  "description": "Optional. The list of fields to update. Defaults to all fields."
                },
                "name": {
                  "type": "string",
                  "location": "path",
                  "pattern": "^publications/[^/]+/readers/[^/]+/entitlements$",
                  "description": "Output only. The resource name of the singleton.",
                  "required": true
                }
              },
              "description": "Updates the reader entitlements for a publication reader. The entire reader entitlements will be overwritten by the new reader entitlements in the payload, like a PUT. - Returns PERMISSION_DENIED if the caller does not have access. - Returns NOT_FOUND if the reader does not exist.",
              "request": {
                "$ref": "ReaderEntitlements"
              },
              "path": "v1/{+name}",
              "id": "readerrevenuesubscriptionlinking.publications.readers.updateEntitlements",
              "flatPath": "v1/publications/{publicationsId}/readers/{readersId}/entitlements",
              "response": {
                "$ref": "ReaderEntitlements"
              }
            }
          }
        },
        "-": {
          "resources": {
            "readers": {
              "resources": {
                "entitlements": {
                  "methods": {
                    "list": {
                      "parameterOrder": [
                        "parent"
                      ],
                      "id": "readerrevenuesubscriptionlinking.publications.-.readers.entitlements.list",
                      "path": "v1/{+parent}/entitlements",
                      "description": "Lists reader entitlements across parent publications via wildcard. - Returns PERMISSION_DENIED if the caller does not have access. - Returns NOT_FOUND if the reader does not exist.",
                      "flatPath": "v1/publications/-/readers/{readersId}/entitlements",
                      "response": {
                        "$ref": "ListReaderEntitlementsResponse"
                      },
                      "httpMethod": "GET",
                      "parameters": {
                        "pageSize": {
                          "format": "int32",
                          "description": "Optional. The maximum number of entitlements to return. The service may return fewer than this value. If unspecified, at most 50 entitlements will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000.",
                          "location": "query",
                          "type": "integer"
                        },
                        "pageToken": {
                          "location": "query",
                          "type": "string",
                          "description": "Optional. A page token, received from a previous `ListReaderEntitlements` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListReaderEntitlements` must match the call that provided the page token."
                        },
                        "parent": {
                          "required": true,
                          "description": "Required. The parent reader scope. Format: \"publications/-/readers/{reader_id}\"",
                          "location": "path",
                          "pattern": "^publications/-/readers/[^/]+$",
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "fullyEncodeReservedExpansion": true,
  "ownerDomain": "google.com",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "name": "readerrevenuesubscriptionlinking",
  "rootUrl": "https://readerrevenuesubscriptionlinking.googleapis.com/",
  "protocol": "rest",
  "documentationLink": "https://developers.google.com/news/subscribe/subscription-linking/overview",
  "id": "readerrevenuesubscriptionlinking:v1"
}