{
  "servicePath": "",
  "baseUrl": "https://readerrevenuesubscriptionlinking.googleapis.com/",
  "mtlsRootUrl": "https://readerrevenuesubscriptionlinking.mtls.googleapis.com/",
  "parameters": {
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean",
      "default": "true",
      "location": "query"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string",
      "location": "query"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "location": "query",
      "type": "string"
    },
    "$.xgafv": {
      "description": "V1 error format.",
      "type": "string",
      "location": "query",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ]
    },
    "fields": {
      "type": "string",
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "key": {
      "location": "query",
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "upload_protocol": {
      "type": "string",
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "alt": {
      "description": "Data format for response.",
      "type": "string",
      "default": "json",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "location": "query"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query",
      "type": "string"
    }
  },
  "ownerName": "Google",
  "canonicalName": "Subscription Linking",
  "version": "v1",
  "kind": "discovery#restDescription",
  "description": "readerrevenuesubscriptionlinking.googleapis.com API.",
  "rootUrl": "https://readerrevenuesubscriptionlinking.googleapis.com/",
  "title": "Reader Revenue Subscription Linking API",
  "batchPath": "batch",
  "ownerDomain": "google.com",
  "id": "readerrevenuesubscriptionlinking:v1",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "discoveryVersion": "v1",
  "resources": {
    "publications": {
      "resources": {
        "-": {
          "resources": {
            "readers": {
              "resources": {
                "entitlements": {
                  "methods": {
                    "list": {
                      "parameters": {
                        "pageSize": {
                          "format": "int32",
                          "description": "Optional. The maximum number of entitlements to return. The service may return fewer than this value. If unspecified, at most 50 entitlements will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000.",
                          "location": "query",
                          "type": "integer"
                        },
                        "pageToken": {
                          "description": "Optional. A page token, received from a previous `ListReaderEntitlements` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListReaderEntitlements` must match the call that provided the page token.",
                          "location": "query",
                          "type": "string"
                        },
                        "parent": {
                          "location": "path",
                          "pattern": "^publications/-/readers/[^/]+$",
                          "description": "Required. The parent reader scope. Format: \"publications/-/readers/{reader_id}\"",
                          "required": true,
                          "type": "string"
                        }
                      },
                      "id": "readerrevenuesubscriptionlinking.publications.-.readers.entitlements.list",
                      "parameterOrder": [
                        "parent"
                      ],
                      "flatPath": "v1/publications/-/readers/{readersId}/entitlements",
                      "response": {
                        "$ref": "ListReaderEntitlementsResponse"
                      },
                      "path": "v1/{+parent}/entitlements",
                      "httpMethod": "GET",
                      "description": "Lists reader entitlements across parent publications via wildcard. - Returns PERMISSION_DENIED if the caller does not have access. - Returns NOT_FOUND if the reader does not exist."
                    }
                  }
                }
              }
            }
          }
        },
        "readers": {
          "methods": {
            "getEntitlements": {
              "response": {
                "$ref": "ReaderEntitlements"
              },
              "parameters": {
                "name": {
                  "description": "Required. The name of the reader entitlements to retrieve. Format: publications/{publication_id}/readers/{reader_id}/entitlements",
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "pattern": "^publications/[^/]+/readers/[^/]+/entitlements$"
                }
              },
              "id": "readerrevenuesubscriptionlinking.publications.readers.getEntitlements",
              "path": "v1/{+name}",
              "description": "Gets the reader entitlements for a publication reader. - Returns PERMISSION_DENIED if the caller does not have access. - Returns NOT_FOUND if the reader does not exist.",
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "GET",
              "flatPath": "v1/publications/{publicationsId}/readers/{readersId}/entitlements"
            },
            "updateEntitlements": {
              "path": "v1/{+name}",
              "parameters": {
                "updateMask": {
                  "format": "google-fieldmask",
                  "type": "string",
                  "description": "Optional. The list of fields to update. Defaults to all fields.",
                  "location": "query"
                },
                "name": {
                  "location": "path",
                  "pattern": "^publications/[^/]+/readers/[^/]+/entitlements$",
                  "required": true,
                  "description": "Output only. The resource name of the singleton.",
                  "type": "string"
                }
              },
              "response": {
                "$ref": "ReaderEntitlements"
              },
              "request": {
                "$ref": "ReaderEntitlements"
              },
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "PATCH",
              "description": "Updates the reader entitlements for a publication reader. The entire reader entitlements will be overwritten by the new reader entitlements in the payload, like a PUT. - Returns PERMISSION_DENIED if the caller does not have access. - Returns NOT_FOUND if the reader does not exist.",
              "id": "readerrevenuesubscriptionlinking.publications.readers.updateEntitlements",
              "flatPath": "v1/publications/{publicationsId}/readers/{readersId}/entitlements"
            },
            "get": {
              "flatPath": "v1/publications/{publicationsId}/readers/{readersId}",
              "description": "Gets a reader of a publication. Returns NOT_FOUND if the reader does not exist.",
              "httpMethod": "GET",
              "parameterOrder": [
                "name"
              ],
              "id": "readerrevenuesubscriptionlinking.publications.readers.get",
              "parameters": {
                "name": {
                  "description": "Required. The resource name of the reader. Format: publications/{publication_id}/readers/{ppid}",
                  "pattern": "^publications/[^/]+/readers/[^/]+$",
                  "required": true,
                  "type": "string",
                  "location": "path"
                }
              },
              "response": {
                "$ref": "Reader"
              },
              "path": "v1/{+name}"
            },
            "delete": {
              "flatPath": "v1/publications/{publicationsId}/readers/{readersId}",
              "path": "v1/{+name}",
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "DELETE",
              "parameters": {
                "name": {
                  "pattern": "^publications/[^/]+/readers/[^/]+$",
                  "type": "string",
                  "required": true,
                  "description": "Required. The resource name of the reader. Format: publications/{publication_id}/readers/{ppid}",
                  "location": "path"
                },
                "force": {
                  "location": "query",
                  "type": "boolean",
                  "description": "If set to true, any entitlements under the reader will also be purged."
                }
              },
              "id": "readerrevenuesubscriptionlinking.publications.readers.delete",
              "description": "Removes a publication reader, effectively severing the association with a Google user. If `force` is set to true, any entitlements for this reader will also be deleted. (Otherwise, the request will only work if the reader has no entitlements.) - If the reader does not exist, return NOT_FOUND. - Return FAILED_PRECONDITION if the force field is false (or unset) and entitlements are present.",
              "response": {
                "$ref": "DeleteReaderResponse"
              }
            }
          }
        }
      }
    }
  },
  "protocol": "rest",
  "name": "readerrevenuesubscriptionlinking",
  "revision": "20261003",
  "basePath": "",
  "version_module": true,
  "fullyEncodeReservedExpansion": true,
  "schemas": {
    "ReaderEntitlements": {
      "properties": {
        "entitlements": {
          "description": "All of the entitlements for a publication reader.",
          "type": "array",
          "items": {
            "$ref": "Entitlement"
          }
        },
        "name": {
          "description": "Output only. The resource name of the singleton.",
          "readOnly": true,
          "type": "string"
        }
      },
      "id": "ReaderEntitlements",
      "description": "A singleton containing all of a reader's entitlements for a publication.",
      "type": "object"
    },
    "Entitlement": {
      "id": "Entitlement",
      "type": "object",
      "properties": {
        "subscriptionToken": {
          "type": "string",
          "description": "A source-specific subscription token. This is an opaque string that the publisher provides to Google. This token is opaque and has no meaning to Google."
        },
        "expireTime": {
          "description": "Optional. Expiration time of the entitlement. If unset, the entitlement does not expire (indefinite entitlement). We need to support indefinite entitlements for platform publishers. dd: go/rrm-sl-notedotcom Entitlements that have expired over 30 days will be purged.",
          "format": "google-datetime",
          "type": "string"
        },
        "detail": {
          "type": "string",
          "description": "The detail field can carry a description of the SKU that corresponds to what the user has been granted access to. This description, which is opaque to Google, can be displayed in the Google user subscription console for users who linked the subscription to a Google Account. Max 80 character limit."
        },
        "productId": {
          "type": "string",
          "description": "Required. The publication's product ID that the user has access to. This is the same product ID as can be found in Schema.org markup (http://schema.org/productID). E.g. \"dailybugle.com:basic\""
        }
      },
      "description": "A single entitlement for a publication reader"
    },
    "DeleteReaderResponse": {
      "type": "object",
      "description": "Response to deleting a reader of a publication.",
      "properties": {},
      "id": "DeleteReaderResponse"
    },
    "ListReaderEntitlementsResponse": {
      "description": "Response containing the aggregated collection of matching ReaderEntitlements objects.",
      "type": "object",
      "properties": {
        "readerEntitlements": {
          "description": "The collection of ReaderEntitlements found across the scoped child publications. Every element's `name` field will contain the canonical sub-publication path, never the wildcard dash.",
          "type": "array",
          "items": {
            "$ref": "ReaderEntitlements"
          }
        },
        "nextPageToken": {
          "description": "A token that can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      },
      "id": "ListReaderEntitlementsResponse"
    },
    "Reader": {
      "description": "A reader of a publication.",
      "type": "object",
      "id": "Reader",
      "properties": {
        "publicationId": {
          "readOnly": true,
          "description": "Output only. The SwG publication id that the reader has linked their subscription to.",
          "type": "string"
        },
        "name": {
          "description": "Output only. The resource name of the reader. The last part of ppid in the resource name is the publisher provided id.",
          "readOnly": true,
          "type": "string"
        },
        "ppid": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The publisher provided id of the reader."
        },
        "originatingPublicationId": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The SwG publication id that the reader's subscription linking was originating from."
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Time the publication reader was created and associated with a Google user.",
          "format": "google-datetime"
        }
      }
    }
  },
  "documentationLink": "https://developers.google.com/news/subscribe/subscription-linking/overview"
}