{
  "revision": "20260902",
  "ownerName": "Google",
  "protocol": "rest",
  "resources": {
    "publications": {
      "resources": {
        "readers": {
          "methods": {
            "delete": {
              "parameters": {
                "name": {
                  "pattern": "^publications/[^/]+/readers/[^/]+$",
                  "type": "string",
                  "description": "Required. The resource name of the reader. Format: publications/{publication_id}/readers/{ppid}",
                  "location": "path",
                  "required": true
                },
                "force": {
                  "type": "boolean",
                  "location": "query",
                  "description": "If set to true, any entitlements under the reader will also be purged."
                }
              },
              "description": "Removes a publication reader, effectively severing the association with a Google user. If `force` is set to true, any entitlements for this reader will also be deleted. (Otherwise, the request will only work if the reader has no entitlements.) - If the reader does not exist, return NOT_FOUND. - Return FAILED_PRECONDITION if the force field is false (or unset) and entitlements are present.",
              "path": "v1/{+name}",
              "id": "readerrevenuesubscriptionlinking.publications.readers.delete",
              "httpMethod": "DELETE",
              "response": {
                "$ref": "DeleteReaderResponse"
              },
              "flatPath": "v1/publications/{publicationsId}/readers/{readersId}",
              "parameterOrder": [
                "name"
              ]
            },
            "getEntitlements": {
              "response": {
                "$ref": "ReaderEntitlements"
              },
              "parameters": {
                "name": {
                  "type": "string",
                  "required": true,
                  "pattern": "^publications/[^/]+/readers/[^/]+/entitlements$",
                  "description": "Required. The name of the reader entitlements to retrieve. Format: publications/{publication_id}/readers/{reader_id}/entitlements",
                  "location": "path"
                }
              },
              "flatPath": "v1/publications/{publicationsId}/readers/{readersId}/entitlements",
              "parameterOrder": [
                "name"
              ],
              "path": "v1/{+name}",
              "httpMethod": "GET",
              "description": "Gets the reader entitlements for a publication reader. - Returns PERMISSION_DENIED if the caller does not have access. - Returns NOT_FOUND if the reader does not exist.",
              "id": "readerrevenuesubscriptionlinking.publications.readers.getEntitlements"
            },
            "get": {
              "response": {
                "$ref": "Reader"
              },
              "httpMethod": "GET",
              "description": "Gets a reader of a publication. Returns NOT_FOUND if the reader does not exist.",
              "id": "readerrevenuesubscriptionlinking.publications.readers.get",
              "flatPath": "v1/publications/{publicationsId}/readers/{readersId}",
              "parameterOrder": [
                "name"
              ],
              "path": "v1/{+name}",
              "parameters": {
                "name": {
                  "pattern": "^publications/[^/]+/readers/[^/]+$",
                  "required": true,
                  "description": "Required. The resource name of the reader. Format: publications/{publication_id}/readers/{ppid}",
                  "location": "path",
                  "type": "string"
                }
              }
            },
            "updateEntitlements": {
              "response": {
                "$ref": "ReaderEntitlements"
              },
              "httpMethod": "PATCH",
              "description": "Updates the reader entitlements for a publication reader. The entire reader entitlements will be overwritten by the new reader entitlements in the payload, like a PUT. - Returns PERMISSION_DENIED if the caller does not have access. - Returns NOT_FOUND if the reader does not exist.",
              "id": "readerrevenuesubscriptionlinking.publications.readers.updateEntitlements",
              "path": "v1/{+name}",
              "parameters": {
                "name": {
                  "required": true,
                  "type": "string",
                  "description": "Output only. The resource name of the singleton.",
                  "location": "path",
                  "pattern": "^publications/[^/]+/readers/[^/]+/entitlements$"
                },
                "updateMask": {
                  "format": "google-fieldmask",
                  "description": "Optional. The list of fields to update. Defaults to all fields.",
                  "type": "string",
                  "location": "query"
                }
              },
              "flatPath": "v1/publications/{publicationsId}/readers/{readersId}/entitlements",
              "parameterOrder": [
                "name"
              ],
              "request": {
                "$ref": "ReaderEntitlements"
              }
            }
          }
        }
      }
    }
  },
  "mtlsRootUrl": "https://readerrevenuesubscriptionlinking.mtls.googleapis.com/",
  "basePath": "",
  "discoveryVersion": "v1",
  "version_module": true,
  "id": "readerrevenuesubscriptionlinking:v1",
  "servicePath": "",
  "version": "v1",
  "description": "readerrevenuesubscriptionlinking.googleapis.com API.",
  "documentationLink": "https://developers.google.com/news/subscribe/subscription-linking/overview",
  "ownerDomain": "google.com",
  "fullyEncodeReservedExpansion": true,
  "name": "readerrevenuesubscriptionlinking",
  "batchPath": "batch",
  "rootUrl": "https://readerrevenuesubscriptionlinking.googleapis.com/",
  "title": "Reader Revenue Subscription Linking API",
  "schemas": {
    "Reader": {
      "id": "Reader",
      "properties": {
        "createTime": {
          "description": "Output only. Time the publication reader was created and associated with a Google user.",
          "format": "google-datetime",
          "type": "string",
          "readOnly": true
        },
        "publicationId": {
          "readOnly": true,
          "description": "Output only. The SwG publication id that the reader has linked their subscription to.",
          "type": "string"
        },
        "name": {
          "readOnly": true,
          "description": "Output only. The resource name of the reader. The last part of ppid in the resource name is the publisher provided id.",
          "type": "string"
        },
        "ppid": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The publisher provided id of the reader."
        },
        "originatingPublicationId": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The SwG publication id that the reader's subscription linking was originating from."
        }
      },
      "description": "A reader of a publication.",
      "type": "object"
    },
    "DeleteReaderResponse": {
      "properties": {},
      "type": "object",
      "id": "DeleteReaderResponse",
      "description": "Response to deleting a reader of a publication."
    },
    "ReaderEntitlements": {
      "type": "object",
      "description": "A singleton containing all of a reader's entitlements for a publication.",
      "id": "ReaderEntitlements",
      "properties": {
        "entitlements": {
          "description": "All of the entitlements for a publication reader.",
          "items": {
            "$ref": "Entitlement"
          },
          "type": "array"
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The resource name of the singleton."
        }
      }
    },
    "Entitlement": {
      "id": "Entitlement",
      "type": "object",
      "description": "A single entitlement for a publication reader",
      "properties": {
        "detail": {
          "type": "string",
          "description": "The detail field can carry a description of the SKU that corresponds to what the user has been granted access to. This description, which is opaque to Google, can be displayed in the Google user subscription console for users who linked the subscription to a Google Account. Max 80 character limit."
        },
        "expireTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Optional. Expiration time of the entitlement. If unset, the entitlement does not expire (indefinite entitlement). We need to support indefinite entitlements for platform publishers. dd: go/rrm-sl-notedotcom Entitlements that have expired over 30 days will be purged."
        },
        "productId": {
          "type": "string",
          "description": "Required. The publication's product ID that the user has access to. This is the same product ID as can be found in Schema.org markup (http://schema.org/productID). E.g. \"dailybugle.com:basic\""
        },
        "subscriptionToken": {
          "type": "string",
          "description": "A source-specific subscription token. This is an opaque string that the publisher provides to Google. This token is opaque and has no meaning to Google."
        }
      }
    }
  },
  "parameters": {
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string",
      "location": "query"
    },
    "$.xgafv": {
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "location": "query",
      "type": "string"
    },
    "upload_protocol": {
      "type": "string",
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "key": {
      "location": "query",
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string",
      "location": "query"
    },
    "uploadType": {
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string"
    },
    "alt": {
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "type": "string",
      "default": "json",
      "location": "query",
      "description": "Data format for response."
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "callback": {
      "location": "query",
      "type": "string",
      "description": "JSONP"
    },
    "prettyPrint": {
      "location": "query",
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean",
      "default": "true"
    }
  },
  "baseUrl": "https://readerrevenuesubscriptionlinking.googleapis.com/",
  "kind": "discovery#restDescription",
  "canonicalName": "Subscription Linking",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  }
}