{
  "fullyEncodeReservedExpansion": true,
  "discoveryVersion": "v1",
  "documentationLink": "https://developers.google.com/news/subscribe/subscription-linking/overview",
  "rootUrl": "https://readerrevenuesubscriptionlinking.googleapis.com/",
  "kind": "discovery#restDescription",
  "mtlsRootUrl": "https://readerrevenuesubscriptionlinking.mtls.googleapis.com/",
  "description": "readerrevenuesubscriptionlinking.googleapis.com API.",
  "id": "readerrevenuesubscriptionlinking:v1",
  "ownerName": "Google",
  "version_module": true,
  "resources": {
    "publications": {
      "resources": {
        "readers": {
          "methods": {
            "get": {
              "httpMethod": "GET",
              "parameters": {
                "name": {
                  "pattern": "^publications/[^/]+/readers/[^/]+$",
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "description": "Required. The resource name of the reader. Format: publications/{publication_id}/readers/{ppid}"
                }
              },
              "description": "Gets a reader of a publication. Returns NOT_FOUND if the reader does not exist.",
              "flatPath": "v1/publications/{publicationsId}/readers/{readersId}",
              "path": "v1/{+name}",
              "response": {
                "$ref": "Reader"
              },
              "parameterOrder": [
                "name"
              ],
              "id": "readerrevenuesubscriptionlinking.publications.readers.get"
            },
            "delete": {
              "httpMethod": "DELETE",
              "parameters": {
                "force": {
                  "type": "boolean",
                  "location": "query",
                  "description": "If set to true, any entitlements under the reader will also be purged."
                },
                "name": {
                  "location": "path",
                  "type": "string",
                  "pattern": "^publications/[^/]+/readers/[^/]+$",
                  "description": "Required. The resource name of the reader. Format: publications/{publication_id}/readers/{ppid}",
                  "required": true
                }
              },
              "flatPath": "v1/publications/{publicationsId}/readers/{readersId}",
              "description": "Removes a publication reader, effectively severing the association with a Google user. If `force` is set to true, any entitlements for this reader will also be deleted. (Otherwise, the request will only work if the reader has no entitlements.) - If the reader does not exist, return NOT_FOUND. - Return FAILED_PRECONDITION if the force field is false (or unset) and entitlements are present.",
              "path": "v1/{+name}",
              "response": {
                "$ref": "DeleteReaderResponse"
              },
              "id": "readerrevenuesubscriptionlinking.publications.readers.delete",
              "parameterOrder": [
                "name"
              ]
            },
            "getEntitlements": {
              "description": "Gets the reader entitlements for a publication reader. - Returns PERMISSION_DENIED if the caller does not have access. - Returns NOT_FOUND if the reader does not exist.",
              "response": {
                "$ref": "ReaderEntitlements"
              },
              "httpMethod": "GET",
              "parameters": {
                "name": {
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "description": "Required. The name of the reader entitlements to retrieve. Format: publications/{publication_id}/readers/{reader_id}/entitlements",
                  "pattern": "^publications/[^/]+/readers/[^/]+/entitlements$"
                }
              },
              "flatPath": "v1/publications/{publicationsId}/readers/{readersId}/entitlements",
              "path": "v1/{+name}",
              "parameterOrder": [
                "name"
              ],
              "id": "readerrevenuesubscriptionlinking.publications.readers.getEntitlements"
            },
            "updateEntitlements": {
              "path": "v1/{+name}",
              "description": "Updates the reader entitlements for a publication reader. The entire reader entitlements will be overwritten by the new reader entitlements in the payload, like a PUT. - Returns PERMISSION_DENIED if the caller does not have access. - Returns NOT_FOUND if the reader does not exist.",
              "request": {
                "$ref": "ReaderEntitlements"
              },
              "response": {
                "$ref": "ReaderEntitlements"
              },
              "id": "readerrevenuesubscriptionlinking.publications.readers.updateEntitlements",
              "httpMethod": "PATCH",
              "parameters": {
                "updateMask": {
                  "location": "query",
                  "format": "google-fieldmask",
                  "type": "string",
                  "description": "Optional. The list of fields to update. Defaults to all fields."
                },
                "name": {
                  "description": "Output only. The resource name of the singleton.",
                  "pattern": "^publications/[^/]+/readers/[^/]+/entitlements$",
                  "required": true,
                  "type": "string",
                  "location": "path"
                }
              },
              "flatPath": "v1/publications/{publicationsId}/readers/{readersId}/entitlements",
              "parameterOrder": [
                "name"
              ]
            }
          }
        },
        "-": {
          "resources": {
            "readers": {
              "resources": {
                "entitlements": {
                  "methods": {
                    "list": {
                      "path": "v1/{+parent}/entitlements",
                      "description": "Lists reader entitlements across parent publications via wildcard. - Returns PERMISSION_DENIED if the caller does not have access. - Returns NOT_FOUND if the reader does not exist.",
                      "httpMethod": "GET",
                      "parameters": {
                        "parent": {
                          "description": "Required. The parent reader scope. Format: \"publications/-/readers/{reader_id}\"",
                          "location": "path",
                          "pattern": "^publications/-/readers/[^/]+$",
                          "required": true,
                          "type": "string"
                        },
                        "pageSize": {
                          "format": "int32",
                          "type": "integer",
                          "location": "query",
                          "description": "Optional. The maximum number of entitlements to return. The service may return fewer than this value. If unspecified, at most 50 entitlements will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000."
                        },
                        "pageToken": {
                          "type": "string",
                          "location": "query",
                          "description": "Optional. A page token, received from a previous `ListReaderEntitlements` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListReaderEntitlements` must match the call that provided the page token."
                        }
                      },
                      "id": "readerrevenuesubscriptionlinking.publications.-.readers.entitlements.list",
                      "response": {
                        "$ref": "ListReaderEntitlementsResponse"
                      },
                      "flatPath": "v1/publications/-/readers/{readersId}/entitlements",
                      "parameterOrder": [
                        "parent"
                      ]
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "servicePath": "",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "title": "Reader Revenue Subscription Linking API",
  "version": "v1",
  "protocol": "rest",
  "ownerDomain": "google.com",
  "schemas": {
    "DeleteReaderResponse": {
      "id": "DeleteReaderResponse",
      "description": "Response to deleting a reader of a publication.",
      "properties": {},
      "type": "object"
    },
    "ListReaderEntitlementsResponse": {
      "properties": {
        "readerEntitlements": {
          "description": "The collection of ReaderEntitlements found across the scoped child publications. Every element's `name` field will contain the canonical sub-publication path, never the wildcard dash.",
          "type": "array",
          "items": {
            "$ref": "ReaderEntitlements"
          }
        },
        "nextPageToken": {
          "description": "A token that can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      },
      "description": "Response containing the aggregated collection of matching ReaderEntitlements objects.",
      "id": "ListReaderEntitlementsResponse",
      "type": "object"
    },
    "ReaderEntitlements": {
      "id": "ReaderEntitlements",
      "description": "A singleton containing all of a reader's entitlements for a publication.",
      "properties": {
        "entitlements": {
          "description": "All of the entitlements for a publication reader.",
          "type": "array",
          "items": {
            "$ref": "Entitlement"
          }
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The resource name of the singleton."
        }
      },
      "type": "object"
    },
    "Entitlement": {
      "type": "object",
      "properties": {
        "productId": {
          "description": "Required. The publication's product ID that the user has access to. This is the same product ID as can be found in Schema.org markup (http://schema.org/productID). E.g. \"dailybugle.com:basic\"",
          "type": "string"
        },
        "detail": {
          "description": "The detail field can carry a description of the SKU that corresponds to what the user has been granted access to. This description, which is opaque to Google, can be displayed in the Google user subscription console for users who linked the subscription to a Google Account. Max 80 character limit.",
          "type": "string"
        },
        "expireTime": {
          "description": "Optional. Expiration time of the entitlement. If unset, the entitlement does not expire (indefinite entitlement). We need to support indefinite entitlements for platform publishers. dd: go/rrm-sl-notedotcom Entitlements that have expired over 30 days will be purged.",
          "type": "string",
          "format": "google-datetime"
        },
        "subscriptionToken": {
          "description": "A source-specific subscription token. This is an opaque string that the publisher provides to Google. This token is opaque and has no meaning to Google.",
          "type": "string"
        }
      },
      "description": "A single entitlement for a publication reader",
      "id": "Entitlement"
    },
    "Reader": {
      "type": "object",
      "properties": {
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The resource name of the reader. The last part of ppid in the resource name is the publisher provided id."
        },
        "createTime": {
          "type": "string",
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. Time the publication reader was created and associated with a Google user."
        },
        "publicationId": {
          "description": "Output only. The SwG publication id that the reader has linked their subscription to.",
          "readOnly": true,
          "type": "string"
        },
        "ppid": {
          "readOnly": true,
          "description": "Output only. The publisher provided id of the reader.",
          "type": "string"
        },
        "originatingPublicationId": {
          "description": "Output only. The SwG publication id that the reader's subscription linking was originating from.",
          "readOnly": true,
          "type": "string"
        }
      },
      "id": "Reader",
      "description": "A reader of a publication."
    }
  },
  "name": "readerrevenuesubscriptionlinking",
  "canonicalName": "Subscription Linking",
  "basePath": "",
  "parameters": {
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "$.xgafv": {
      "description": "V1 error format.",
      "location": "query",
      "type": "string",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ]
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string",
      "location": "query"
    },
    "fields": {
      "type": "string",
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "quotaUser": {
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string"
    },
    "callback": {
      "type": "string",
      "location": "query",
      "description": "JSONP"
    },
    "access_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth access token."
    },
    "oauth_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth 2.0 token for the current user."
    },
    "prettyPrint": {
      "type": "boolean",
      "default": "true",
      "description": "Returns response with indentations and line breaks.",
      "location": "query"
    },
    "alt": {
      "description": "Data format for response.",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "default": "json",
      "location": "query",
      "type": "string",
      "enum": [
        "json",
        "media",
        "proto"
      ]
    },
    "upload_protocol": {
      "location": "query",
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    }
  },
  "batchPath": "batch",
  "baseUrl": "https://readerrevenuesubscriptionlinking.googleapis.com/",
  "revision": "20260925"
}