{
  "documentationLink": "https://developers.google.com/news/subscribe/subscription-linking/overview",
  "basePath": "",
  "rootUrl": "https://readerrevenuesubscriptionlinking.googleapis.com/",
  "batchPath": "batch",
  "baseUrl": "https://readerrevenuesubscriptionlinking.googleapis.com/",
  "title": "Reader Revenue Subscription Linking API",
  "discoveryVersion": "v1",
  "fullyEncodeReservedExpansion": true,
  "name": "readerrevenuesubscriptionlinking",
  "revision": "20260909",
  "resources": {
    "publications": {
      "resources": {
        "readers": {
          "methods": {
            "updateEntitlements": {
              "id": "readerrevenuesubscriptionlinking.publications.readers.updateEntitlements",
              "description": "Updates the reader entitlements for a publication reader. The entire reader entitlements will be overwritten by the new reader entitlements in the payload, like a PUT. - Returns PERMISSION_DENIED if the caller does not have access. - Returns NOT_FOUND if the reader does not exist.",
              "response": {
                "$ref": "ReaderEntitlements"
              },
              "httpMethod": "PATCH",
              "path": "v1/{+name}",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "location": "path",
                  "pattern": "^publications/[^/]+/readers/[^/]+/entitlements$",
                  "description": "Output only. The resource name of the singleton.",
                  "type": "string",
                  "required": true
                },
                "updateMask": {
                  "location": "query",
                  "type": "string",
                  "format": "google-fieldmask",
                  "description": "Optional. The list of fields to update. Defaults to all fields."
                }
              },
              "request": {
                "$ref": "ReaderEntitlements"
              },
              "flatPath": "v1/publications/{publicationsId}/readers/{readersId}/entitlements"
            },
            "get": {
              "httpMethod": "GET",
              "flatPath": "v1/publications/{publicationsId}/readers/{readersId}",
              "response": {
                "$ref": "Reader"
              },
              "parameterOrder": [
                "name"
              ],
              "path": "v1/{+name}",
              "id": "readerrevenuesubscriptionlinking.publications.readers.get",
              "parameters": {
                "name": {
                  "type": "string",
                  "required": true,
                  "pattern": "^publications/[^/]+/readers/[^/]+$",
                  "location": "path",
                  "description": "Required. The resource name of the reader. Format: publications/{publication_id}/readers/{ppid}"
                }
              },
              "description": "Gets a reader of a publication. Returns NOT_FOUND if the reader does not exist."
            },
            "delete": {
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "force": {
                  "type": "boolean",
                  "description": "If set to true, any entitlements under the reader will also be purged.",
                  "location": "query"
                },
                "name": {
                  "type": "string",
                  "required": true,
                  "description": "Required. The resource name of the reader. Format: publications/{publication_id}/readers/{ppid}",
                  "pattern": "^publications/[^/]+/readers/[^/]+$",
                  "location": "path"
                }
              },
              "id": "readerrevenuesubscriptionlinking.publications.readers.delete",
              "path": "v1/{+name}",
              "flatPath": "v1/publications/{publicationsId}/readers/{readersId}",
              "httpMethod": "DELETE",
              "response": {
                "$ref": "DeleteReaderResponse"
              },
              "description": "Removes a publication reader, effectively severing the association with a Google user. If `force` is set to true, any entitlements for this reader will also be deleted. (Otherwise, the request will only work if the reader has no entitlements.) - If the reader does not exist, return NOT_FOUND. - Return FAILED_PRECONDITION if the force field is false (or unset) and entitlements are present."
            },
            "getEntitlements": {
              "parameters": {
                "name": {
                  "description": "Required. The name of the reader entitlements to retrieve. Format: publications/{publication_id}/readers/{reader_id}/entitlements",
                  "required": true,
                  "pattern": "^publications/[^/]+/readers/[^/]+/entitlements$",
                  "type": "string",
                  "location": "path"
                }
              },
              "response": {
                "$ref": "ReaderEntitlements"
              },
              "id": "readerrevenuesubscriptionlinking.publications.readers.getEntitlements",
              "flatPath": "v1/publications/{publicationsId}/readers/{readersId}/entitlements",
              "description": "Gets the reader entitlements for a publication reader. - Returns PERMISSION_DENIED if the caller does not have access. - Returns NOT_FOUND if the reader does not exist.",
              "parameterOrder": [
                "name"
              ],
              "path": "v1/{+name}",
              "httpMethod": "GET"
            }
          }
        }
      }
    }
  },
  "version": "v1",
  "version_module": true,
  "parameters": {
    "access_token": {
      "description": "OAuth access token.",
      "type": "string",
      "location": "query"
    },
    "key": {
      "type": "string",
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "$.xgafv": {
      "enum": [
        "1",
        "2"
      ],
      "location": "query",
      "description": "V1 error format.",
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ]
    },
    "oauth_token": {
      "location": "query",
      "description": "OAuth 2.0 token for the current user.",
      "type": "string"
    },
    "upload_protocol": {
      "type": "string",
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "alt": {
      "location": "query",
      "type": "string",
      "description": "Data format for response.",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "default": "json"
    },
    "callback": {
      "type": "string",
      "location": "query",
      "description": "JSONP"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query",
      "type": "string"
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "prettyPrint": {
      "default": "true",
      "description": "Returns response with indentations and line breaks.",
      "location": "query",
      "type": "boolean"
    }
  },
  "canonicalName": "Subscription Linking",
  "description": "readerrevenuesubscriptionlinking.googleapis.com API.",
  "schemas": {
    "Reader": {
      "id": "Reader",
      "description": "A reader of a publication.",
      "properties": {
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The resource name of the reader. The last part of ppid in the resource name is the publisher provided id."
        },
        "publicationId": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The SwG publication id that the reader has linked their subscription to."
        },
        "ppid": {
          "readOnly": true,
          "description": "Output only. The publisher provided id of the reader.",
          "type": "string"
        },
        "createTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. Time the publication reader was created and associated with a Google user."
        },
        "originatingPublicationId": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The SwG publication id that the reader's subscription linking was originating from."
        }
      },
      "type": "object"
    },
    "ReaderEntitlements": {
      "description": "A singleton containing all of a reader's entitlements for a publication.",
      "properties": {
        "name": {
          "description": "Output only. The resource name of the singleton.",
          "readOnly": true,
          "type": "string"
        },
        "entitlements": {
          "items": {
            "$ref": "Entitlement"
          },
          "type": "array",
          "description": "All of the entitlements for a publication reader."
        }
      },
      "id": "ReaderEntitlements",
      "type": "object"
    },
    "DeleteReaderResponse": {
      "description": "Response to deleting a reader of a publication.",
      "properties": {},
      "id": "DeleteReaderResponse",
      "type": "object"
    },
    "Entitlement": {
      "id": "Entitlement",
      "properties": {
        "detail": {
          "description": "The detail field can carry a description of the SKU that corresponds to what the user has been granted access to. This description, which is opaque to Google, can be displayed in the Google user subscription console for users who linked the subscription to a Google Account. Max 80 character limit.",
          "type": "string"
        },
        "expireTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Optional. Expiration time of the entitlement. If unset, the entitlement does not expire (indefinite entitlement). We need to support indefinite entitlements for platform publishers. dd: go/rrm-sl-notedotcom Entitlements that have expired over 30 days will be purged."
        },
        "subscriptionToken": {
          "type": "string",
          "description": "A source-specific subscription token. This is an opaque string that the publisher provides to Google. This token is opaque and has no meaning to Google."
        },
        "productId": {
          "description": "Required. The publication's product ID that the user has access to. This is the same product ID as can be found in Schema.org markup (http://schema.org/productID). E.g. \"dailybugle.com:basic\"",
          "type": "string"
        }
      },
      "description": "A single entitlement for a publication reader",
      "type": "object"
    }
  },
  "servicePath": "",
  "mtlsRootUrl": "https://readerrevenuesubscriptionlinking.mtls.googleapis.com/",
  "ownerDomain": "google.com",
  "protocol": "rest",
  "id": "readerrevenuesubscriptionlinking:v1",
  "ownerName": "Google",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "kind": "discovery#restDescription"
}