{
  "kind": "discovery#restDescription",
  "schemas": {
    "ReaderEntitlements": {
      "description": "A singleton containing all of a reader's entitlements for a publication.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Output only. The resource name of the singleton.",
          "readOnly": true,
          "type": "string"
        },
        "entitlements": {
          "type": "array",
          "description": "All of the entitlements for a publication reader.",
          "items": {
            "$ref": "Entitlement"
          }
        }
      },
      "id": "ReaderEntitlements"
    },
    "DeleteReaderResponse": {
      "id": "DeleteReaderResponse",
      "properties": {},
      "type": "object",
      "description": "Response to deleting a reader of a publication."
    },
    "Entitlement": {
      "properties": {
        "subscriptionToken": {
          "description": "A source-specific subscription token. This is an opaque string that the publisher provides to Google. This token is opaque and has no meaning to Google.",
          "type": "string"
        },
        "detail": {
          "description": "The detail field can carry a description of the SKU that corresponds to what the user has been granted access to. This description, which is opaque to Google, can be displayed in the Google user subscription console for users who linked the subscription to a Google Account. Max 80 character limit.",
          "type": "string"
        },
        "productId": {
          "description": "Required. The publication's product ID that the user has access to. This is the same product ID as can be found in Schema.org markup (http://schema.org/productID). E.g. \"dailybugle.com:basic\"",
          "type": "string"
        },
        "expireTime": {
          "description": "Optional. Expiration time of the entitlement. If unset, the entitlement does not expire (indefinite entitlement). We need to support indefinite entitlements for platform publishers. dd: go/rrm-sl-notedotcom Entitlements that have expired over 30 days will be purged.",
          "type": "string",
          "format": "google-datetime"
        }
      },
      "id": "Entitlement",
      "type": "object",
      "description": "A single entitlement for a publication reader"
    },
    "Reader": {
      "properties": {
        "createTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. Time the publication reader was created and associated with a Google user."
        },
        "publicationId": {
          "readOnly": true,
          "description": "Output only. The SwG publication id that the reader has linked their subscription to.",
          "type": "string"
        },
        "originatingPublicationId": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The SwG publication id that the reader's subscription linking was originating from."
        },
        "ppid": {
          "description": "Output only. The publisher provided id of the reader.",
          "readOnly": true,
          "type": "string"
        },
        "name": {
          "readOnly": true,
          "description": "Output only. The resource name of the reader. The last part of ppid in the resource name is the publisher provided id.",
          "type": "string"
        }
      },
      "description": "A reader of a publication.",
      "type": "object",
      "id": "Reader"
    }
  },
  "discoveryVersion": "v1",
  "title": "Reader Revenue Subscription Linking API",
  "parameters": {
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "access_token": {
      "description": "OAuth access token.",
      "type": "string",
      "location": "query"
    },
    "oauth_token": {
      "location": "query",
      "description": "OAuth 2.0 token for the current user.",
      "type": "string"
    },
    "upload_protocol": {
      "location": "query",
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query",
      "type": "string"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string",
      "location": "query"
    },
    "$.xgafv": {
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string",
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "location": "query"
    },
    "alt": {
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "type": "string",
      "location": "query",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "description": "Data format for response."
    },
    "fields": {
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string"
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean",
      "default": "true",
      "location": "query"
    },
    "uploadType": {
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string"
    }
  },
  "mtlsRootUrl": "https://readerrevenuesubscriptionlinking.mtls.googleapis.com/",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "ownerName": "Google",
  "canonicalName": "Subscription Linking",
  "resources": {
    "publications": {
      "resources": {
        "readers": {
          "methods": {
            "getEntitlements": {
              "httpMethod": "GET",
              "flatPath": "v1/publications/{publicationsId}/readers/{readersId}/entitlements",
              "path": "v1/{+name}",
              "id": "readerrevenuesubscriptionlinking.publications.readers.getEntitlements",
              "parameters": {
                "name": {
                  "required": true,
                  "pattern": "^publications/[^/]+/readers/[^/]+/entitlements$",
                  "description": "Required. The name of the reader entitlements to retrieve. Format: publications/{publication_id}/readers/{reader_id}/entitlements",
                  "type": "string",
                  "location": "path"
                }
              },
              "description": "Gets the reader entitlements for a publication reader. - Returns PERMISSION_DENIED if the caller does not have access. - Returns NOT_FOUND if the reader does not exist.",
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "ReaderEntitlements"
              }
            },
            "get": {
              "id": "readerrevenuesubscriptionlinking.publications.readers.get",
              "flatPath": "v1/publications/{publicationsId}/readers/{readersId}",
              "httpMethod": "GET",
              "parameterOrder": [
                "name"
              ],
              "path": "v1/{+name}",
              "parameters": {
                "name": {
                  "pattern": "^publications/[^/]+/readers/[^/]+$",
                  "description": "Required. The resource name of the reader. Format: publications/{publication_id}/readers/{ppid}",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "description": "Gets a reader of a publication. Returns NOT_FOUND if the reader does not exist.",
              "response": {
                "$ref": "Reader"
              }
            },
            "delete": {
              "response": {
                "$ref": "DeleteReaderResponse"
              },
              "description": "Removes a publication reader, effectively severing the association with a Google user. If `force` is set to true, any entitlements for this reader will also be deleted. (Otherwise, the request will only work if the reader has no entitlements.) - If the reader does not exist, return NOT_FOUND. - Return FAILED_PRECONDITION if the force field is false (or unset) and entitlements are present.",
              "id": "readerrevenuesubscriptionlinking.publications.readers.delete",
              "parameters": {
                "force": {
                  "description": "If set to true, any entitlements under the reader will also be purged.",
                  "location": "query",
                  "type": "boolean"
                },
                "name": {
                  "type": "string",
                  "description": "Required. The resource name of the reader. Format: publications/{publication_id}/readers/{ppid}",
                  "required": true,
                  "location": "path",
                  "pattern": "^publications/[^/]+/readers/[^/]+$"
                }
              },
              "path": "v1/{+name}",
              "flatPath": "v1/publications/{publicationsId}/readers/{readersId}",
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "DELETE"
            },
            "updateEntitlements": {
              "parameterOrder": [
                "name"
              ],
              "request": {
                "$ref": "ReaderEntitlements"
              },
              "parameters": {
                "name": {
                  "description": "Output only. The resource name of the singleton.",
                  "pattern": "^publications/[^/]+/readers/[^/]+/entitlements$",
                  "location": "path",
                  "type": "string",
                  "required": true
                },
                "updateMask": {
                  "type": "string",
                  "description": "Optional. The list of fields to update. Defaults to all fields.",
                  "location": "query",
                  "format": "google-fieldmask"
                }
              },
              "response": {
                "$ref": "ReaderEntitlements"
              },
              "httpMethod": "PATCH",
              "path": "v1/{+name}",
              "flatPath": "v1/publications/{publicationsId}/readers/{readersId}/entitlements",
              "id": "readerrevenuesubscriptionlinking.publications.readers.updateEntitlements",
              "description": "Updates the reader entitlements for a publication reader. The entire reader entitlements will be overwritten by the new reader entitlements in the payload, like a PUT. - Returns PERMISSION_DENIED if the caller does not have access. - Returns NOT_FOUND if the reader does not exist."
            }
          }
        }
      }
    }
  },
  "fullyEncodeReservedExpansion": true,
  "name": "readerrevenuesubscriptionlinking",
  "version_module": true,
  "protocol": "rest",
  "rootUrl": "https://readerrevenuesubscriptionlinking.googleapis.com/",
  "servicePath": "",
  "revision": "20260829",
  "version": "v1",
  "description": "readerrevenuesubscriptionlinking.googleapis.com API.",
  "basePath": "",
  "batchPath": "batch",
  "id": "readerrevenuesubscriptionlinking:v1",
  "ownerDomain": "google.com",
  "documentationLink": "https://developers.google.com/news/subscribe/subscription-linking/overview",
  "baseUrl": "https://readerrevenuesubscriptionlinking.googleapis.com/"
}