{
  "discoveryVersion": "v1",
  "parameters": {
    "access_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth access token."
    },
    "uploadType": {
      "location": "query",
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "alt": {
      "default": "json",
      "type": "string",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "description": "Data format for response.",
      "location": "query"
    },
    "key": {
      "location": "query",
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "type": "string",
      "location": "query"
    },
    "callback": {
      "type": "string",
      "location": "query",
      "description": "JSONP"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query",
      "type": "string"
    },
    "prettyPrint": {
      "location": "query",
      "default": "true",
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query",
      "type": "string"
    },
    "$.xgafv": {
      "location": "query",
      "description": "V1 error format.",
      "type": "string",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ]
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    }
  },
  "fullyEncodeReservedExpansion": true,
  "servicePath": "",
  "rootUrl": "https://realtimebidding.googleapis.com/",
  "version_module": true,
  "resources": {
    "buyers": {
      "resources": {
        "userLists": {
          "methods": {
            "close": {
              "request": {
                "$ref": "CloseUserListRequest"
              },
              "scopes": [
                "https://www.googleapis.com/auth/realtime-bidding"
              ],
              "description": "Changes the status of a user list to CLOSED. This prevents new users from being added to the user list.",
              "flatPath": "v1/buyers/{buyersId}/userLists/{userListsId}:close",
              "response": {
                "$ref": "UserList"
              },
              "path": "v1/{+name}:close",
              "httpMethod": "POST",
              "id": "realtimebidding.buyers.userLists.close",
              "parameters": {
                "name": {
                  "location": "path",
                  "description": "Required. The name of the user list to close. See UserList.name",
                  "required": true,
                  "type": "string",
                  "pattern": "^buyers/[^/]+/userLists/[^/]+$"
                }
              },
              "parameterOrder": [
                "name"
              ]
            },
            "open": {
              "flatPath": "v1/buyers/{buyersId}/userLists/{userListsId}:open",
              "parameterOrder": [
                "name"
              ],
              "path": "v1/{+name}:open",
              "scopes": [
                "https://www.googleapis.com/auth/realtime-bidding"
              ],
              "description": "Changes the status of a user list to OPEN. This allows new users to be added to the user list.",
              "id": "realtimebidding.buyers.userLists.open",
              "request": {
                "$ref": "OpenUserListRequest"
              },
              "response": {
                "$ref": "UserList"
              },
              "httpMethod": "POST",
              "parameters": {
                "name": {
                  "type": "string",
                  "description": "Required. The name of the user list to open. See UserList.name",
                  "location": "path",
                  "required": true,
                  "pattern": "^buyers/[^/]+/userLists/[^/]+$"
                }
              }
            },
            "getRemarketingTag": {
              "flatPath": "v1/buyers/{buyersId}/userLists/{userListsId}:getRemarketingTag",
              "path": "v1/{+name}:getRemarketingTag",
              "parameters": {
                "name": {
                  "required": true,
                  "pattern": "^buyers/[^/]+/userLists/[^/]+$",
                  "type": "string",
                  "description": "Required. To fetch the remarketing tag for an account, the name must follow the pattern `buyers/{accountId}`, where `{accountId}` represents the ID of the buyer that owns the remarketing tag. For a bidder accessing the remarketing tag on behalf of a child seat buyer, `{accountId}` should represent the ID of the child seat buyer. To fetch the remarketing tag for a specific user list, the name must follow the pattern `buyers/{accountId}/userLists/{userListId}`. See UserList.name.",
                  "location": "path"
                }
              },
              "description": "This has been sunset as of October 2023, and will return an error response if called. For more information, see the release notes: https://developers.google.com/authorized-buyers/apis/relnotes#real-time-bidding-api Gets remarketing tag for a buyer. A remarketing tag is a piece of JavaScript code that can be placed on a web page. When a user visits a page containing a remarketing tag, Google adds the user to a user list.",
              "scopes": [
                "https://www.googleapis.com/auth/realtime-bidding"
              ],
              "httpMethod": "GET",
              "parameterOrder": [
                "name"
              ],
              "id": "realtimebidding.buyers.userLists.getRemarketingTag",
              "response": {
                "$ref": "GetRemarketingTagResponse"
              }
            },
            "create": {
              "id": "realtimebidding.buyers.userLists.create",
              "flatPath": "v1/buyers/{buyersId}/userLists",
              "request": {
                "$ref": "UserList"
              },
              "description": "Creates a new user list.",
              "path": "v1/{+parent}/userLists",
              "scopes": [
                "https://www.googleapis.com/auth/realtime-bidding"
              ],
              "response": {
                "$ref": "UserList"
              },
              "httpMethod": "POST",
              "parameterOrder": [
                "parent"
              ],
              "parameters": {
                "parent": {
                  "pattern": "^buyers/[^/]+$",
                  "required": true,
                  "description": "Required. The name of the parent buyer of the user list to be retrieved, which must follow the pattern `buyers/{buyerAccountId}`, where `{buyerAccountId}` represents the account ID of the buyer who owns the user list. For a bidder accessing user lists on behalf of a child seat buyer, `{buyerAccountId}` should represent the account ID of the child seat buyer.",
                  "type": "string",
                  "location": "path"
                }
              }
            },
            "update": {
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/realtime-bidding"
              ],
              "path": "v1/{+name}",
              "response": {
                "$ref": "UserList"
              },
              "flatPath": "v1/buyers/{buyersId}/userLists/{userListsId}",
              "httpMethod": "PUT",
              "description": "Updates the given user list. Only user lists with URLRestrictions can be updated.",
              "parameters": {
                "name": {
                  "description": "Output only. Name of the user list that must follow the pattern `buyers/{buyer}/userLists/{user_list}`, where `{buyer}` represents the account ID of the buyer who owns the user list. For a bidder accessing user lists on behalf of a child seat buyer, `{buyer}` represents the account ID of the child seat buyer. `{user_list}` is an int64 identifier assigned by Google to uniquely identify a user list.",
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "pattern": "^buyers/[^/]+/userLists/[^/]+$"
                }
              },
              "id": "realtimebidding.buyers.userLists.update",
              "request": {
                "$ref": "UserList"
              }
            },
            "get": {
              "id": "realtimebidding.buyers.userLists.get",
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/realtime-bidding"
              ],
              "path": "v1/{+name}",
              "httpMethod": "GET",
              "flatPath": "v1/buyers/{buyersId}/userLists/{userListsId}",
              "description": "Gets a user list by its name.",
              "parameters": {
                "name": {
                  "description": "Required. The name of the user list to be retrieved. See UserList.name.",
                  "pattern": "^buyers/[^/]+/userLists/[^/]+$",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "response": {
                "$ref": "UserList"
              }
            },
            "list": {
              "response": {
                "$ref": "ListUserListsResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/realtime-bidding"
              ],
              "parameterOrder": [
                "parent"
              ],
              "path": "v1/{+parent}/userLists",
              "id": "realtimebidding.buyers.userLists.list",
              "httpMethod": "GET",
              "parameters": {
                "parent": {
                  "pattern": "^buyers/[^/]+$",
                  "location": "path",
                  "type": "string",
                  "description": "Required. The name of the parent buyer for the user lists to be returned that must follow the pattern `buyers/{buyerAccountId}`, where `{buyerAccountId}` represents the account ID of the buyer who owns user lists. For a bidder accessing user lists on behalf of a child seat buyer , `{buyerAccountId}` should represent the account ID of the child seat buyer.",
                  "required": true
                },
                "pageToken": {
                  "location": "query",
                  "description": "Continuation page token as received from a previous response.",
                  "type": "string"
                },
                "pageSize": {
                  "description": "The number of results to return per page.",
                  "type": "integer",
                  "format": "int32",
                  "location": "query"
                }
              },
              "description": "Lists the user lists visible to the current user.",
              "flatPath": "v1/buyers/{buyersId}/userLists"
            }
          }
        },
        "creatives": {
          "methods": {
            "create": {
              "path": "v1/{+parent}/creatives",
              "flatPath": "v1/buyers/{buyersId}/creatives",
              "description": "Creates a creative.",
              "scopes": [
                "https://www.googleapis.com/auth/realtime-bidding"
              ],
              "parameterOrder": [
                "parent"
              ],
              "parameters": {
                "parent": {
                  "pattern": "^buyers/[^/]+$",
                  "description": "Required. The name of the parent buyer that the new creative belongs to that must follow the pattern `buyers/{buyerAccountId}`, where `{buyerAccountId}` represents the account ID of the buyer who owns a creative. For a bidder accessing creatives on behalf of a child seat buyer, `{buyerAccountId}` should represent the account ID of the child seat buyer.",
                  "location": "path",
                  "type": "string",
                  "required": true
                }
              },
              "id": "realtimebidding.buyers.creatives.create",
              "response": {
                "$ref": "Creative"
              },
              "request": {
                "$ref": "Creative"
              },
              "httpMethod": "POST"
            },
            "patch": {
              "httpMethod": "PATCH",
              "parameters": {
                "name": {
                  "type": "string",
                  "pattern": "^buyers/[^/]+/creatives/[^/]+$",
                  "required": true,
                  "description": "Output only. Name of the creative. Follows the pattern `buyers/{buyer}/creatives/{creative}`, where `{buyer}` represents the account ID of the buyer who owns the creative, and `{creative}` is the buyer-specific creative ID that references this creative in the bid response.",
                  "location": "path"
                },
                "updateMask": {
                  "type": "string",
                  "format": "google-fieldmask",
                  "location": "query",
                  "description": "Field mask to use for partial in-place updates."
                }
              },
              "path": "v1/{+name}",
              "flatPath": "v1/buyers/{buyersId}/creatives/{creativesId}",
              "response": {
                "$ref": "Creative"
              },
              "description": "Updates a creative.",
              "parameterOrder": [
                "name"
              ],
              "request": {
                "$ref": "Creative"
              },
              "scopes": [
                "https://www.googleapis.com/auth/realtime-bidding"
              ],
              "id": "realtimebidding.buyers.creatives.patch"
            },
            "get": {
              "httpMethod": "GET",
              "description": "Gets a creative.",
              "parameters": {
                "name": {
                  "required": true,
                  "type": "string",
                  "pattern": "^buyers/[^/]+/creatives/[^/]+$",
                  "location": "path",
                  "description": "Required. Name of the creative to retrieve. See creative.name."
                },
                "view": {
                  "description": "Controls the amount of information included in the response. By default only creativeServingDecision is included. To retrieve the entire creative resource (including the declared fields and the creative content) specify the view as \"FULL\".",
                  "location": "query",
                  "enum": [
                    "CREATIVE_VIEW_UNSPECIFIED",
                    "SERVING_DECISION_ONLY",
                    "FULL"
                  ],
                  "type": "string",
                  "enumDescriptions": [
                    "Not specified, equivalent to SERVING_DECISION_ONLY.",
                    "Only creativeServingDecision is included in the response.",
                    "The entire creative resource (including the declared fields and the creative content) is included in the response."
                  ]
                }
              },
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "Creative"
              },
              "flatPath": "v1/buyers/{buyersId}/creatives/{creativesId}",
              "scopes": [
                "https://www.googleapis.com/auth/realtime-bidding"
              ],
              "id": "realtimebidding.buyers.creatives.get",
              "path": "v1/{+name}"
            },
            "list": {
              "flatPath": "v1/buyers/{buyersId}/creatives",
              "id": "realtimebidding.buyers.creatives.list",
              "parameterOrder": [
                "parent"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/realtime-bidding"
              ],
              "description": "Lists creatives as they are at the time of the initial request. This call may take multiple hours to complete. For large, paginated requests, this method returns a snapshot of creatives at the time of request for the first page. `lastStatusUpdate` and `creativeServingDecision` may be outdated for creatives on sequential pages. We recommend [Google Cloud Pub/Sub](//cloud.google.com/pubsub/docs/overview) to view the latest status.",
              "httpMethod": "GET",
              "parameters": {
                "pageToken": {
                  "location": "query",
                  "description": "A token identifying a page of results the server should return. Typically, this is the value of ListCreativesResponse.nextPageToken returned from the previous call to the 'ListCreatives' method. Page tokens for continued pages are valid for up to five hours, counting from the call to 'ListCreatives' for the first page.",
                  "type": "string"
                },
                "pageSize": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Requested page size. The server may return fewer creatives than requested (due to timeout constraint) even if more are available through another call. If unspecified, server will pick an appropriate default. Acceptable values are 1 to 1000, inclusive.",
                  "location": "query"
                },
                "view": {
                  "enum": [
                    "CREATIVE_VIEW_UNSPECIFIED",
                    "SERVING_DECISION_ONLY",
                    "FULL"
                  ],
                  "enumDescriptions": [
                    "Not specified, equivalent to SERVING_DECISION_ONLY.",
                    "Only creativeServingDecision is included in the response.",
                    "The entire creative resource (including the declared fields and the creative content) is included in the response."
                  ],
                  "description": "Controls the amount of information included in the response. By default only creativeServingDecision is included. To retrieve the entire creative resource (including the declared fields and the creative content) specify the view as \"FULL\".",
                  "location": "query",
                  "type": "string"
                },
                "parent": {
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "pattern": "^buyers/[^/]+$",
                  "description": "Required. Name of the parent buyer that owns the creatives. The pattern for this resource is either `buyers/{buyerAccountId}` or `bidders/{bidderAccountId}`. For `buyers/{buyerAccountId}`, the `buyerAccountId` can be one of the following: 1. The ID of the buyer that is accessing their own creatives. 2. The ID of the child seat buyer under a bidder account. So for listing creatives pertaining to the child seat buyer (`456`) under bidder account (`123`), you would use the pattern: `buyers/456`. 3. The ID of the bidder itself. So for listing creatives pertaining to bidder (`123`), you would use `buyers/123`. If you want to access all creatives pertaining to both the bidder and all of its child seat accounts, you would use `bidders/{bidderAccountId}`, for example, for all creatives pertaining to bidder (`123`), use `bidders/123`."
                },
                "filter": {
                  "type": "string",
                  "location": "query",
                  "description": "Query string to filter creatives. If no filter is specified, all active creatives will be returned. Example: 'accountId=12345 AND (dealsStatus:DISAPPROVED AND disapprovalReason:UNACCEPTABLE_CONTENT) OR declaredAttributes:IS_COOKIE_TARGETED'"
                }
              },
              "response": {
                "$ref": "ListCreativesResponse"
              },
              "path": "v1/{+parent}/creatives"
            }
          }
        }
      },
      "methods": {
        "getRemarketingTag": {
          "parameterOrder": [
            "name"
          ],
          "response": {
            "$ref": "GetRemarketingTagResponse"
          },
          "path": "v1/{+name}:getRemarketingTag",
          "scopes": [
            "https://www.googleapis.com/auth/realtime-bidding"
          ],
          "id": "realtimebidding.buyers.getRemarketingTag",
          "httpMethod": "GET",
          "flatPath": "v1/buyers/{buyersId}:getRemarketingTag",
          "parameters": {
            "name": {
              "location": "path",
              "type": "string",
              "required": true,
              "pattern": "^buyers/[^/]+$",
              "description": "Required. To fetch the remarketing tag for an account, the name must follow the pattern `buyers/{accountId}`, where `{accountId}` represents the ID of the buyer that owns the remarketing tag. For a bidder accessing the remarketing tag on behalf of a child seat buyer, `{accountId}` should represent the ID of the child seat buyer. To fetch the remarketing tag for a specific user list, the name must follow the pattern `buyers/{accountId}/userLists/{userListId}`. See UserList.name."
            }
          },
          "description": "This has been sunset as of October 2023, and will return an error response if called. For more information, see the release notes: https://developers.google.com/authorized-buyers/apis/relnotes#real-time-bidding-api Gets remarketing tag for a buyer. A remarketing tag is a piece of JavaScript code that can be placed on a web page. When a user visits a page containing a remarketing tag, Google adds the user to a user list."
        },
        "list": {
          "description": "Lists all buyer account information the calling buyer user or service account is permissioned to manage.",
          "id": "realtimebidding.buyers.list",
          "response": {
            "$ref": "ListBuyersResponse"
          },
          "path": "v1/buyers",
          "flatPath": "v1/buyers",
          "parameterOrder": [],
          "parameters": {
            "pageSize": {
              "location": "query",
              "type": "integer",
              "format": "int32",
              "description": "The maximum number of buyers to return. If unspecified, at most 100 buyers will be returned. The maximum value is 500; values above 500 will be coerced to 500."
            },
            "pageToken": {
              "type": "string",
              "description": "A token identifying a page of results the server should return. This value is received from a previous `ListBuyers` call in ListBuyersResponse.nextPageToken.",
              "location": "query"
            }
          },
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/realtime-bidding"
          ]
        },
        "get": {
          "flatPath": "v1/buyers/{buyersId}",
          "path": "v1/{+name}",
          "description": "Gets a buyer account by its name.",
          "parameters": {
            "name": {
              "pattern": "^buyers/[^/]+$",
              "type": "string",
              "location": "path",
              "description": "Required. Name of the buyer to get. Format: `buyers/{buyerId}`",
              "required": true
            }
          },
          "parameterOrder": [
            "name"
          ],
          "httpMethod": "GET",
          "id": "realtimebidding.buyers.get",
          "response": {
            "$ref": "Buyer"
          },
          "scopes": [
            "https://www.googleapis.com/auth/realtime-bidding"
          ]
        }
      }
    },
    "bidders": {
      "methods": {
        "list": {
          "id": "realtimebidding.bidders.list",
          "flatPath": "v1/bidders",
          "response": {
            "$ref": "ListBiddersResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/realtime-bidding"
          ],
          "path": "v1/bidders",
          "description": "Lists all the bidder accounts that belong to the caller.",
          "parameters": {
            "pageToken": {
              "type": "string",
              "location": "query",
              "description": "A token identifying a page of results the server should return. This value is received from a previous `ListBidders` call in ListBiddersResponse.nextPageToken."
            },
            "pageSize": {
              "location": "query",
              "type": "integer",
              "format": "int32",
              "description": "The maximum number of bidders to return. If unspecified, at most 100 bidders will be returned. The maximum value is 500; values above 500 will be coerced to 500."
            }
          },
          "httpMethod": "GET",
          "parameterOrder": []
        },
        "get": {
          "response": {
            "$ref": "Bidder"
          },
          "scopes": [
            "https://www.googleapis.com/auth/realtime-bidding"
          ],
          "id": "realtimebidding.bidders.get",
          "path": "v1/{+name}",
          "parameters": {
            "name": {
              "description": "Required. Name of the bidder to get. Format: `bidders/{bidderAccountId}`",
              "type": "string",
              "location": "path",
              "pattern": "^bidders/[^/]+$",
              "required": true
            }
          },
          "httpMethod": "GET",
          "parameterOrder": [
            "name"
          ],
          "flatPath": "v1/bidders/{biddersId}",
          "description": "Gets a bidder account by its name."
        }
      },
      "resources": {
        "creatives": {
          "methods": {
            "list": {
              "id": "realtimebidding.bidders.creatives.list",
              "httpMethod": "GET",
              "parameters": {
                "pageSize": {
                  "type": "integer",
                  "description": "Requested page size. The server may return fewer creatives than requested (due to timeout constraint) even if more are available through another call. If unspecified, server will pick an appropriate default. Acceptable values are 1 to 1000, inclusive.",
                  "location": "query",
                  "format": "int32"
                },
                "parent": {
                  "description": "Required. Name of the parent buyer that owns the creatives. The pattern for this resource is either `buyers/{buyerAccountId}` or `bidders/{bidderAccountId}`. For `buyers/{buyerAccountId}`, the `buyerAccountId` can be one of the following: 1. The ID of the buyer that is accessing their own creatives. 2. The ID of the child seat buyer under a bidder account. So for listing creatives pertaining to the child seat buyer (`456`) under bidder account (`123`), you would use the pattern: `buyers/456`. 3. The ID of the bidder itself. So for listing creatives pertaining to bidder (`123`), you would use `buyers/123`. If you want to access all creatives pertaining to both the bidder and all of its child seat accounts, you would use `bidders/{bidderAccountId}`, for example, for all creatives pertaining to bidder (`123`), use `bidders/123`.",
                  "pattern": "^bidders/[^/]+$",
                  "required": true,
                  "location": "path",
                  "type": "string"
                },
                "filter": {
                  "type": "string",
                  "location": "query",
                  "description": "Query string to filter creatives. If no filter is specified, all active creatives will be returned. Example: 'accountId=12345 AND (dealsStatus:DISAPPROVED AND disapprovalReason:UNACCEPTABLE_CONTENT) OR declaredAttributes:IS_COOKIE_TARGETED'"
                },
                "view": {
                  "description": "Controls the amount of information included in the response. By default only creativeServingDecision is included. To retrieve the entire creative resource (including the declared fields and the creative content) specify the view as \"FULL\".",
                  "enumDescriptions": [
                    "Not specified, equivalent to SERVING_DECISION_ONLY.",
                    "Only creativeServingDecision is included in the response.",
                    "The entire creative resource (including the declared fields and the creative content) is included in the response."
                  ],
                  "type": "string",
                  "location": "query",
                  "enum": [
                    "CREATIVE_VIEW_UNSPECIFIED",
                    "SERVING_DECISION_ONLY",
                    "FULL"
                  ]
                },
                "pageToken": {
                  "location": "query",
                  "type": "string",
                  "description": "A token identifying a page of results the server should return. Typically, this is the value of ListCreativesResponse.nextPageToken returned from the previous call to the 'ListCreatives' method. Page tokens for continued pages are valid for up to five hours, counting from the call to 'ListCreatives' for the first page."
                }
              },
              "response": {
                "$ref": "ListCreativesResponse"
              },
              "parameterOrder": [
                "parent"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/realtime-bidding"
              ],
              "flatPath": "v1/bidders/{biddersId}/creatives",
              "description": "Lists creatives as they are at the time of the initial request. This call may take multiple hours to complete. For large, paginated requests, this method returns a snapshot of creatives at the time of request for the first page. `lastStatusUpdate` and `creativeServingDecision` may be outdated for creatives on sequential pages. We recommend [Google Cloud Pub/Sub](//cloud.google.com/pubsub/docs/overview) to view the latest status.",
              "path": "v1/{+parent}/creatives"
            },
            "watch": {
              "description": "Watches all creatives pertaining to a bidder. It is sufficient to invoke this endpoint once per bidder. A Pub/Sub topic will be created and notifications will be pushed to the topic when any of the bidder's creatives change status. All of the bidder's service accounts will have access to read from the topic. Subsequent invocations of this method will return the existing Pub/Sub configuration.",
              "scopes": [
                "https://www.googleapis.com/auth/realtime-bidding"
              ],
              "flatPath": "v1/bidders/{biddersId}/creatives:watch",
              "response": {
                "$ref": "WatchCreativesResponse"
              },
              "parameters": {
                "parent": {
                  "required": true,
                  "type": "string",
                  "description": "Required. To watch all creatives pertaining to the bidder and all its child seat accounts, the bidder must follow the pattern `bidders/{bidderAccountId}`.",
                  "location": "path",
                  "pattern": "^bidders/[^/]+$"
                }
              },
              "httpMethod": "POST",
              "parameterOrder": [
                "parent"
              ],
              "path": "v1/{+parent}/creatives:watch",
              "id": "realtimebidding.bidders.creatives.watch",
              "request": {
                "$ref": "WatchCreativesRequest"
              }
            }
          }
        },
        "endpoints": {
          "methods": {
            "get": {
              "id": "realtimebidding.bidders.endpoints.get",
              "scopes": [
                "https://www.googleapis.com/auth/realtime-bidding"
              ],
              "flatPath": "v1/bidders/{biddersId}/endpoints/{endpointsId}",
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "Endpoint"
              },
              "parameters": {
                "name": {
                  "required": true,
                  "description": "Required. Name of the bidder endpoint to get. Format: `bidders/{bidderAccountId}/endpoints/{endpointId}`",
                  "location": "path",
                  "pattern": "^bidders/[^/]+/endpoints/[^/]+$",
                  "type": "string"
                }
              },
              "description": "Gets a bidder endpoint by its name.",
              "httpMethod": "GET",
              "path": "v1/{+name}"
            },
            "patch": {
              "id": "realtimebidding.bidders.endpoints.patch",
              "response": {
                "$ref": "Endpoint"
              },
              "description": "Updates a bidder's endpoint.",
              "scopes": [
                "https://www.googleapis.com/auth/realtime-bidding"
              ],
              "path": "v1/{+name}",
              "request": {
                "$ref": "Endpoint"
              },
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "updateMask": {
                  "type": "string",
                  "format": "google-fieldmask",
                  "description": "Field mask to use for partial in-place updates.",
                  "location": "query"
                },
                "name": {
                  "type": "string",
                  "pattern": "^bidders/[^/]+/endpoints/[^/]+$",
                  "location": "path",
                  "description": "Output only. Name of the endpoint resource that must follow the pattern `bidders/{bidderAccountId}/endpoints/{endpointId}`, where {bidderAccountId} is the account ID of the bidder who operates this endpoint, and {endpointId} is a unique ID assigned by the server.",
                  "required": true
                }
              },
              "flatPath": "v1/bidders/{biddersId}/endpoints/{endpointsId}",
              "httpMethod": "PATCH"
            },
            "list": {
              "parameterOrder": [
                "parent"
              ],
              "path": "v1/{+parent}/endpoints",
              "flatPath": "v1/bidders/{biddersId}/endpoints",
              "id": "realtimebidding.bidders.endpoints.list",
              "description": "Lists all the bidder's endpoints.",
              "response": {
                "$ref": "ListEndpointsResponse"
              },
              "parameters": {
                "parent": {
                  "pattern": "^bidders/[^/]+$",
                  "description": "Required. Name of the bidder whose endpoints will be listed. Format: `bidders/{bidderAccountId}`",
                  "location": "path",
                  "type": "string",
                  "required": true
                },
                "pageSize": {
                  "type": "integer",
                  "format": "int32",
                  "location": "query",
                  "description": "The maximum number of endpoints to return. If unspecified, at most 100 endpoints will be returned. The maximum value is 500; values above 500 will be coerced to 500."
                },
                "pageToken": {
                  "description": "A token identifying a page of results the server should return. This value is received from a previous `ListEndpoints` call in ListEndpointsResponse.nextPageToken.",
                  "location": "query",
                  "type": "string"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/realtime-bidding"
              ],
              "httpMethod": "GET"
            }
          }
        },
        "publisherConnections": {
          "methods": {
            "get": {
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/realtime-bidding"
              ],
              "response": {
                "$ref": "PublisherConnection"
              },
              "id": "realtimebidding.bidders.publisherConnections.get",
              "parameters": {
                "name": {
                  "required": true,
                  "type": "string",
                  "description": "Required. Name of the publisher whose connection information is to be retrieved. In the pattern `bidders/{bidder}/publisherConnections/{publisher}` where `{bidder}` is the account ID of the bidder, and `{publisher}` is the ads.txt/app-ads.txt publisher ID. See publisherConnection.name.",
                  "location": "path",
                  "pattern": "^bidders/[^/]+/publisherConnections/[^/]+$"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "description": "Gets a publisher connection.",
              "path": "v1/{+name}",
              "flatPath": "v1/bidders/{biddersId}/publisherConnections/{publisherConnectionsId}"
            },
            "batchReject": {
              "response": {
                "$ref": "BatchRejectPublisherConnectionsResponse"
              },
              "parameterOrder": [
                "parent"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/realtime-bidding"
              ],
              "httpMethod": "POST",
              "id": "realtimebidding.bidders.publisherConnections.batchReject",
              "parameters": {
                "parent": {
                  "description": "Required. The bidder for whom publisher connections will be rejected. Format: `bidders/{bidder}` where `{bidder}` is the account ID of the bidder.",
                  "type": "string",
                  "pattern": "^bidders/[^/]+$",
                  "required": true,
                  "location": "path"
                }
              },
              "description": "Batch rejects multiple publisher connections.",
              "path": "v1/{+parent}/publisherConnections:batchReject",
              "request": {
                "$ref": "BatchRejectPublisherConnectionsRequest"
              },
              "flatPath": "v1/bidders/{biddersId}/publisherConnections:batchReject"
            },
            "batchApprove": {
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "BatchApprovePublisherConnectionsResponse"
              },
              "parameters": {
                "parent": {
                  "pattern": "^bidders/[^/]+$",
                  "required": true,
                  "description": "Required. The bidder for whom publisher connections will be approved. Format: `bidders/{bidder}` where `{bidder}` is the account ID of the bidder.",
                  "location": "path",
                  "type": "string"
                }
              },
              "description": "Batch approves multiple publisher connections.",
              "httpMethod": "POST",
              "id": "realtimebidding.bidders.publisherConnections.batchApprove",
              "flatPath": "v1/bidders/{biddersId}/publisherConnections:batchApprove",
              "request": {
                "$ref": "BatchApprovePublisherConnectionsRequest"
              },
              "scopes": [
                "https://www.googleapis.com/auth/realtime-bidding"
              ],
              "path": "v1/{+parent}/publisherConnections:batchApprove"
            },
            "list": {
              "parameterOrder": [
                "parent"
              ],
              "id": "realtimebidding.bidders.publisherConnections.list",
              "response": {
                "$ref": "ListPublisherConnectionsResponse"
              },
              "httpMethod": "GET",
              "path": "v1/{+parent}/publisherConnections",
              "scopes": [
                "https://www.googleapis.com/auth/realtime-bidding"
              ],
              "flatPath": "v1/bidders/{biddersId}/publisherConnections",
              "parameters": {
                "orderBy": {
                  "location": "query",
                  "type": "string",
                  "description": "Order specification by which results should be sorted. If no sort order is specified, the results will be returned in alphabetic order based on the publisher's publisher code. Results can be sorted by `createTime`. Example: 'createTime DESC'."
                },
                "pageSize": {
                  "format": "int32",
                  "location": "query",
                  "description": "Requested page size. The server may return fewer results than requested (due to timeout constraint) even if more are available through another call. If unspecified, the server will pick an appropriate default. Acceptable values are 1 to 5000, inclusive.",
                  "type": "integer"
                },
                "parent": {
                  "required": true,
                  "location": "path",
                  "description": "Required. Name of the bidder for which publishers have initiated connections. The pattern for this resource is `bidders/{bidder}` where `{bidder}` represents the account ID of the bidder.",
                  "pattern": "^bidders/[^/]+$",
                  "type": "string"
                },
                "filter": {
                  "type": "string",
                  "description": "Query string to filter publisher connections. Connections can be filtered by `displayName`, `publisherPlatform`, and `biddingState`. If no filter is specified, all publisher connections will be returned. Example: 'displayName=\"Great Publisher*\" AND publisherPlatform=ADMOB AND biddingState != PENDING' See https://google.aip.dev/160 for more information about filtering syntax.",
                  "location": "query"
                },
                "pageToken": {
                  "location": "query",
                  "type": "string",
                  "description": "A token identifying a page of results the server should return. Typically, this is the value of ListPublisherConnectionsResponse.nextPageToken returned from the previous call to the 'ListPublisherConnections' method."
                }
              },
              "description": "Lists publisher connections for a given bidder."
            }
          }
        },
        "pretargetingConfigs": {
          "methods": {
            "removeTargetedPublishers": {
              "request": {
                "$ref": "RemoveTargetedPublishersRequest"
              },
              "parameters": {
                "pretargetingConfig": {
                  "pattern": "^bidders/[^/]+/pretargetingConfigs/[^/]+$",
                  "description": "Required. The name of the pretargeting configuration. Format: bidders/{bidderAccountId}/pretargetingConfig/{configId}",
                  "location": "path",
                  "type": "string",
                  "required": true
                }
              },
              "path": "v1/{+pretargetingConfig}:removeTargetedPublishers",
              "id": "realtimebidding.bidders.pretargetingConfigs.removeTargetedPublishers",
              "flatPath": "v1/bidders/{biddersId}/pretargetingConfigs/{pretargetingConfigsId}:removeTargetedPublishers",
              "httpMethod": "POST",
              "description": "Removes targeted publishers from the pretargeting config.",
              "response": {
                "$ref": "PretargetingConfig"
              },
              "scopes": [
                "https://www.googleapis.com/auth/realtime-bidding"
              ],
              "parameterOrder": [
                "pretargetingConfig"
              ]
            },
            "addTargetedApps": {
              "id": "realtimebidding.bidders.pretargetingConfigs.addTargetedApps",
              "scopes": [
                "https://www.googleapis.com/auth/realtime-bidding"
              ],
              "path": "v1/{+pretargetingConfig}:addTargetedApps",
              "parameters": {
                "pretargetingConfig": {
                  "description": "Required. The name of the pretargeting configuration. Format: bidders/{bidderAccountId}/pretargetingConfig/{configId}",
                  "pattern": "^bidders/[^/]+/pretargetingConfigs/[^/]+$",
                  "required": true,
                  "location": "path",
                  "type": "string"
                }
              },
              "response": {
                "$ref": "PretargetingConfig"
              },
              "httpMethod": "POST",
              "flatPath": "v1/bidders/{biddersId}/pretargetingConfigs/{pretargetingConfigsId}:addTargetedApps",
              "description": "Adds targeted apps to the pretargeting configuration.",
              "request": {
                "$ref": "AddTargetedAppsRequest"
              },
              "parameterOrder": [
                "pretargetingConfig"
              ]
            },
            "create": {
              "parameters": {
                "parent": {
                  "pattern": "^bidders/[^/]+$",
                  "location": "path",
                  "type": "string",
                  "description": "Required. Name of the bidder to create the pretargeting configuration for. Format: bidders/{bidderAccountId}",
                  "required": true
                }
              },
              "id": "realtimebidding.bidders.pretargetingConfigs.create",
              "flatPath": "v1/bidders/{biddersId}/pretargetingConfigs",
              "httpMethod": "POST",
              "parameterOrder": [
                "parent"
              ],
              "request": {
                "$ref": "PretargetingConfig"
              },
              "description": "Creates a pretargeting configuration. A pretargeting configuration's state (PretargetingConfig.state) is active upon creation, and it will start to affect traffic shortly after. A bidder may create a maximum of 10 pretargeting configurations. Attempts to exceed this maximum results in a 400 bad request error.",
              "response": {
                "$ref": "PretargetingConfig"
              },
              "scopes": [
                "https://www.googleapis.com/auth/realtime-bidding"
              ],
              "path": "v1/{+parent}/pretargetingConfigs"
            },
            "patch": {
              "id": "realtimebidding.bidders.pretargetingConfigs.patch",
              "parameters": {
                "name": {
                  "type": "string",
                  "pattern": "^bidders/[^/]+/pretargetingConfigs/[^/]+$",
                  "required": true,
                  "location": "path",
                  "description": "Output only. Name of the pretargeting config that must follow the pattern `bidders/{bidder_account_id}/pretargetingConfigs/{config_id}`"
                },
                "updateMask": {
                  "type": "string",
                  "description": "Field mask to use for partial in-place updates.",
                  "location": "query",
                  "format": "google-fieldmask"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "PATCH",
              "flatPath": "v1/bidders/{biddersId}/pretargetingConfigs/{pretargetingConfigsId}",
              "request": {
                "$ref": "PretargetingConfig"
              },
              "scopes": [
                "https://www.googleapis.com/auth/realtime-bidding"
              ],
              "path": "v1/{+name}",
              "description": "Updates a pretargeting configuration.",
              "response": {
                "$ref": "PretargetingConfig"
              }
            },
            "activate": {
              "path": "v1/{+name}:activate",
              "id": "realtimebidding.bidders.pretargetingConfigs.activate",
              "description": "Activates a pretargeting configuration.",
              "flatPath": "v1/bidders/{biddersId}/pretargetingConfigs/{pretargetingConfigsId}:activate",
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/realtime-bidding"
              ],
              "request": {
                "$ref": "ActivatePretargetingConfigRequest"
              },
              "response": {
                "$ref": "PretargetingConfig"
              },
              "parameters": {
                "name": {
                  "location": "path",
                  "description": "Required. The name of the pretargeting configuration. Format: bidders/{bidderAccountId}/pretargetingConfig/{configId}",
                  "type": "string",
                  "required": true,
                  "pattern": "^bidders/[^/]+/pretargetingConfigs/[^/]+$"
                }
              },
              "httpMethod": "POST"
            },
            "removeTargetedSites": {
              "response": {
                "$ref": "PretargetingConfig"
              },
              "request": {
                "$ref": "RemoveTargetedSitesRequest"
              },
              "parameters": {
                "pretargetingConfig": {
                  "description": "Required. The name of the pretargeting configuration. Format: bidders/{bidderAccountId}/pretargetingConfig/{configId}",
                  "required": true,
                  "type": "string",
                  "pattern": "^bidders/[^/]+/pretargetingConfigs/[^/]+$",
                  "location": "path"
                }
              },
              "id": "realtimebidding.bidders.pretargetingConfigs.removeTargetedSites",
              "httpMethod": "POST",
              "path": "v1/{+pretargetingConfig}:removeTargetedSites",
              "description": "Removes targeted sites from the pretargeting configuration.",
              "flatPath": "v1/bidders/{biddersId}/pretargetingConfigs/{pretargetingConfigsId}:removeTargetedSites",
              "parameterOrder": [
                "pretargetingConfig"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/realtime-bidding"
              ]
            },
            "get": {
              "id": "realtimebidding.bidders.pretargetingConfigs.get",
              "response": {
                "$ref": "PretargetingConfig"
              },
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/realtime-bidding"
              ],
              "flatPath": "v1/bidders/{biddersId}/pretargetingConfigs/{pretargetingConfigsId}",
              "path": "v1/{+name}",
              "httpMethod": "GET",
              "description": "Gets a pretargeting configuration.",
              "parameters": {
                "name": {
                  "required": true,
                  "location": "path",
                  "pattern": "^bidders/[^/]+/pretargetingConfigs/[^/]+$",
                  "type": "string",
                  "description": "Required. Name of the pretargeting configuration to get. Format: bidders/{bidderAccountId}/pretargetingConfigs/{configId}"
                }
              }
            },
            "suspend": {
              "httpMethod": "POST",
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/realtime-bidding"
              ],
              "parameters": {
                "name": {
                  "type": "string",
                  "description": "Required. The name of the pretargeting configuration. Format: bidders/{bidderAccountId}/pretargetingConfig/{configId}",
                  "required": true,
                  "location": "path",
                  "pattern": "^bidders/[^/]+/pretargetingConfigs/[^/]+$"
                }
              },
              "response": {
                "$ref": "PretargetingConfig"
              },
              "description": "Suspends a pretargeting configuration.",
              "request": {
                "$ref": "SuspendPretargetingConfigRequest"
              },
              "path": "v1/{+name}:suspend",
              "id": "realtimebidding.bidders.pretargetingConfigs.suspend",
              "flatPath": "v1/bidders/{biddersId}/pretargetingConfigs/{pretargetingConfigsId}:suspend"
            },
            "addTargetedPublishers": {
              "id": "realtimebidding.bidders.pretargetingConfigs.addTargetedPublishers",
              "parameters": {
                "pretargetingConfig": {
                  "location": "path",
                  "pattern": "^bidders/[^/]+/pretargetingConfigs/[^/]+$",
                  "required": true,
                  "type": "string",
                  "description": "Required. The name of the pretargeting configuration. Format: bidders/{bidderAccountId}/pretargetingConfig/{configId}"
                }
              },
              "flatPath": "v1/bidders/{biddersId}/pretargetingConfigs/{pretargetingConfigsId}:addTargetedPublishers",
              "parameterOrder": [
                "pretargetingConfig"
              ],
              "path": "v1/{+pretargetingConfig}:addTargetedPublishers",
              "httpMethod": "POST",
              "description": "Adds targeted publishers to the pretargeting config.",
              "request": {
                "$ref": "AddTargetedPublishersRequest"
              },
              "scopes": [
                "https://www.googleapis.com/auth/realtime-bidding"
              ],
              "response": {
                "$ref": "PretargetingConfig"
              }
            },
            "list": {
              "description": "Lists all pretargeting configurations for a single bidder.",
              "id": "realtimebidding.bidders.pretargetingConfigs.list",
              "flatPath": "v1/bidders/{biddersId}/pretargetingConfigs",
              "path": "v1/{+parent}/pretargetingConfigs",
              "parameterOrder": [
                "parent"
              ],
              "parameters": {
                "pageSize": {
                  "type": "integer",
                  "location": "query",
                  "format": "int32",
                  "description": "The maximum number of pretargeting configurations to return. If unspecified, at most 10 pretargeting configurations will be returned. The maximum value is 100; values above 100 will be coerced to 100."
                },
                "pageToken": {
                  "description": "A token identifying a page of results the server should return. This value is received from a previous `ListPretargetingConfigs` call in ListPretargetingConfigsResponse.nextPageToken.",
                  "location": "query",
                  "type": "string"
                },
                "parent": {
                  "required": true,
                  "description": "Required. Name of the bidder whose pretargeting configurations will be listed. Format: bidders/{bidderAccountId}",
                  "location": "path",
                  "type": "string",
                  "pattern": "^bidders/[^/]+$"
                }
              },
              "response": {
                "$ref": "ListPretargetingConfigsResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/realtime-bidding"
              ],
              "httpMethod": "GET"
            },
            "removeTargetedApps": {
              "parameterOrder": [
                "pretargetingConfig"
              ],
              "flatPath": "v1/bidders/{biddersId}/pretargetingConfigs/{pretargetingConfigsId}:removeTargetedApps",
              "description": "Removes targeted apps from the pretargeting configuration.",
              "request": {
                "$ref": "RemoveTargetedAppsRequest"
              },
              "scopes": [
                "https://www.googleapis.com/auth/realtime-bidding"
              ],
              "id": "realtimebidding.bidders.pretargetingConfigs.removeTargetedApps",
              "response": {
                "$ref": "PretargetingConfig"
              },
              "parameters": {
                "pretargetingConfig": {
                  "location": "path",
                  "pattern": "^bidders/[^/]+/pretargetingConfigs/[^/]+$",
                  "description": "Required. The name of the pretargeting configuration. Format: bidders/{bidderAccountId}/pretargetingConfig/{configId}",
                  "required": true,
                  "type": "string"
                }
              },
              "path": "v1/{+pretargetingConfig}:removeTargetedApps",
              "httpMethod": "POST"
            },
            "addTargetedSites": {
              "flatPath": "v1/bidders/{biddersId}/pretargetingConfigs/{pretargetingConfigsId}:addTargetedSites",
              "scopes": [
                "https://www.googleapis.com/auth/realtime-bidding"
              ],
              "request": {
                "$ref": "AddTargetedSitesRequest"
              },
              "httpMethod": "POST",
              "parameters": {
                "pretargetingConfig": {
                  "location": "path",
                  "required": true,
                  "description": "Required. The name of the pretargeting configuration. Format: bidders/{bidderAccountId}/pretargetingConfig/{configId}",
                  "pattern": "^bidders/[^/]+/pretargetingConfigs/[^/]+$",
                  "type": "string"
                }
              },
              "description": "Adds targeted sites to the pretargeting configuration.",
              "path": "v1/{+pretargetingConfig}:addTargetedSites",
              "response": {
                "$ref": "PretargetingConfig"
              },
              "parameterOrder": [
                "pretargetingConfig"
              ],
              "id": "realtimebidding.bidders.pretargetingConfigs.addTargetedSites"
            },
            "delete": {
              "httpMethod": "DELETE",
              "flatPath": "v1/bidders/{biddersId}/pretargetingConfigs/{pretargetingConfigsId}",
              "parameters": {
                "name": {
                  "required": true,
                  "description": "Required. The name of the pretargeting configuration to delete. Format: bidders/{bidderAccountId}/pretargetingConfig/{configId}",
                  "type": "string",
                  "location": "path",
                  "pattern": "^bidders/[^/]+/pretargetingConfigs/[^/]+$"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/realtime-bidding"
              ],
              "description": "Deletes a pretargeting configuration.",
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "Empty"
              },
              "path": "v1/{+name}",
              "id": "realtimebidding.bidders.pretargetingConfigs.delete"
            }
          }
        }
      }
    }
  },
  "ownerDomain": "google.com",
  "ownerName": "Google",
  "baseUrl": "https://realtimebidding.googleapis.com/",
  "description": "Allows external bidders to manage their RTB integration with Google. This includes managing bidder endpoints, QPS quotas, configuring what ad inventory to receive with pretargeting, submitting creatives for verification, and accessing creative metadata such as approval status.",
  "canonicalName": "Real-time Bidding",
  "mtlsRootUrl": "https://realtimebidding.mtls.googleapis.com/",
  "title": "Real-time Bidding API",
  "name": "realtimebidding",
  "protocol": "rest",
  "version": "v1",
  "batchPath": "batch",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/realtime-bidding": {
          "description": "See, create, edit, and delete your Authorized Buyers and Open Bidding account entities"
        }
      }
    }
  },
  "basePath": "",
  "schemas": {
    "SuspendPretargetingConfigRequest": {
      "type": "object",
      "description": "A request to suspend a pretargeting configuration. Sets the configuration's state to SUSPENDED.",
      "id": "SuspendPretargetingConfigRequest",
      "properties": {}
    },
    "MediaFile": {
      "properties": {
        "mimeType": {
          "type": "string",
          "description": "The MIME type of this media file. Can be used to filter the response of the creatives.list method.",
          "enum": [
            "VIDEO_MIME_TYPE_UNSPECIFIED",
            "MIME_VIDEO_XFLV",
            "MIME_VIDEO_WEBM",
            "MIME_VIDEO_MP4",
            "MIME_VIDEO_OGG",
            "MIME_VIDEO_YT_HOSTED",
            "MIME_VIDEO_X_MS_WMV",
            "MIME_VIDEO_3GPP",
            "MIME_VIDEO_MOV",
            "MIME_APPLICATION_SWF",
            "MIME_APPLICATION_SURVEY",
            "MIME_APPLICATION_JAVASCRIPT",
            "MIME_APPLICATION_SILVERLIGHT",
            "MIME_APPLICATION_MPEGURL",
            "MIME_APPLICATION_MPEGDASH",
            "MIME_AUDIO_MP4A",
            "MIME_AUDIO_MP3",
            "MIME_AUDIO_OGG"
          ],
          "enumDescriptions": [
            "Default value that should never be used.",
            "Flash container.",
            "WebM container assuming VP9 codec.",
            "MPEG-4 container typically with H.264 codec.",
            "Ogg container assuming Theora codec.",
            "Video files hosted on YouTube.",
            "Windows Media Video Codec.",
            "3GPP container format used on 3G phones.",
            "Quicktime container format.",
            "Shockwave Flash (used for VPAID ads).",
            "Properties of VAST served by consumer survey.",
            "JavaScript (used for VPAID ads).",
            "Silverlight (used for VPAID ads).",
            "HLS/M3U8.",
            "DASH.",
            "MPEG-4 audio format.",
            "MPEG-3 audio format.",
            "Ogg audio format"
          ]
        },
        "bitrate": {
          "type": "string",
          "description": "Bitrate of the video file, in Kbps. Can be used to filter the response of the creatives.list method.",
          "format": "int64"
        }
      },
      "type": "object",
      "description": "Information about each media file in the VAST.",
      "id": "MediaFile"
    },
    "Endpoint": {
      "id": "Endpoint",
      "description": "Bidder endpoint that receives bid requests.",
      "properties": {
        "url": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The URL that bid requests should be sent to."
        },
        "tradingLocation": {
          "enumDescriptions": [
            "A placeholder for an undefined trading region. This value should not be used.",
            "The Western US trading location.",
            "The Eastern US trading location.",
            "The European trading location.",
            "The Asia trading location."
          ],
          "description": "The trading location that bid requests should be sent from. See https://developers.google.com/authorized-buyers/rtb/peer-guide#trading-locations for further information.",
          "enum": [
            "TRADING_LOCATION_UNSPECIFIED",
            "US_WEST",
            "US_EAST",
            "EUROPE",
            "ASIA"
          ],
          "type": "string"
        },
        "bidProtocol": {
          "enumDeprecated": [
            false,
            true,
            false,
            false
          ],
          "description": "The protocol that the bidder endpoint is using.",
          "enum": [
            "BID_PROTOCOL_UNSPECIFIED",
            "GOOGLE_RTB",
            "OPENRTB_JSON",
            "OPENRTB_PROTOBUF"
          ],
          "enumDescriptions": [
            "Placeholder for undefined bid protocol. This value should not be used.",
            "Google RTB protocol / Protobuf encoding.",
            "OpenRTB / JSON encoding (unversioned/latest).",
            "OpenRTB / Protobuf encoding (unversioned/latest)."
          ],
          "type": "string"
        },
        "name": {
          "description": "Output only. Name of the endpoint resource that must follow the pattern `bidders/{bidderAccountId}/endpoints/{endpointId}`, where {bidderAccountId} is the account ID of the bidder who operates this endpoint, and {endpointId} is a unique ID assigned by the server.",
          "readOnly": true,
          "type": "string"
        },
        "maximumQps": {
          "type": "string",
          "description": "The maximum number of queries per second allowed to be sent to this server.",
          "format": "int64"
        }
      },
      "type": "object"
    },
    "ListEndpointsResponse": {
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token which can be passed to a subsequent call to the `ListEndpoints` method to retrieve the next page of results in ListEndpointsRequest.pageToken."
        },
        "endpoints": {
          "description": "List of bidder endpoints.",
          "items": {
            "$ref": "Endpoint"
          },
          "type": "array"
        }
      },
      "description": "A response containing bidder endpoints.",
      "type": "object",
      "id": "ListEndpointsResponse"
    },
    "AddTargetedSitesRequest": {
      "properties": {
        "targetingMode": {
          "enumDescriptions": [
            "Placeholder for undefined targeting mode.",
            "The inclusive list type. Inventory must match an item in this list to be targeted.",
            "The exclusive list type. Inventory must not match any item in this list to be targeted."
          ],
          "enum": [
            "TARGETING_MODE_UNSPECIFIED",
            "INCLUSIVE",
            "EXCLUSIVE"
          ],
          "description": "Required. The targeting mode that should be applied to the list of site URLs. If there are existing targeted sites, must be equal to the existing PretargetingConfig.webTargeting.targetingMode or a 400 bad request error will be returned.",
          "type": "string"
        },
        "sites": {
          "description": "A list of site URLs to target in the pretargeting configuration. These values will be added to the list of targeted URLs in PretargetingConfig.webTargeting.values.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "id": "AddTargetedSitesRequest",
      "description": "A request to start targeting the provided sites in a specific pretargeting configuration. The pretargeting configuration itself specifies how these sites are targeted in PretargetingConfig.webTargeting.",
      "type": "object"
    },
    "AppTargeting": {
      "id": "AppTargeting",
      "properties": {
        "mobileAppCategoryTargeting": {
          "description": "Lists of included and excluded mobile app categories as defined in https://developers.google.com/adwords/api/docs/appendix/mobileappcategories.csv.",
          "$ref": "NumericTargetingDimension"
        },
        "mobileAppTargeting": {
          "$ref": "StringTargetingDimension",
          "description": "Targeted app IDs. App IDs can refer to those found in an app store or ones that are not published in an app store. A maximum of 30,000 app IDs can be targeted."
        }
      },
      "description": "A subset of app inventory to target. Bid requests that match criteria in at least one of the specified dimensions will be sent.",
      "type": "object"
    },
    "UrlDownloadSize": {
      "properties": {
        "normalizedUrl": {
          "description": "The normalized URL with query parameters and fragment removed.",
          "type": "string"
        },
        "downloadSizeKb": {
          "description": "Download size of the URL in kilobytes.",
          "format": "int32",
          "type": "integer"
        }
      },
      "id": "UrlDownloadSize",
      "type": "object",
      "description": "The URL-level breakdown for the download size."
    },
    "CreativeServingDecision": {
      "description": "Top level status and detected attributes of a creative.",
      "id": "CreativeServingDecision",
      "type": "object",
      "properties": {
        "detectedDomains": {
          "description": "The detected domains for this creative.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "detectedAdvertisers": {
          "items": {
            "$ref": "AdvertiserAndBrand"
          },
          "description": "Detected advertisers and brands.",
          "type": "array"
        },
        "dealsPolicyCompliance": {
          "$ref": "PolicyCompliance",
          "description": "Policy compliance of this creative when bidding on Programmatic Guaranteed and Preferred Deals (outside of Russia and China)."
        },
        "detectedProductCategories": {
          "type": "array",
          "items": {
            "type": "integer",
            "format": "int32"
          },
          "description": "Detected product categories, if any. See the ad-product-categories.txt file in the technical documentation for a list of IDs. Can be used to filter the response of the creatives.list method."
        },
        "detectedClickThroughUrls": {
          "description": "The set of detected destination URLs for the creative. Can be used to filter the response of the creatives.list method.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "platformPolicyCompliance": {
          "description": "Policy compliance of this creative when bidding in Open Bidding (outside of Russia and China). For the list of platform policies, see: https://support.google.com/platformspolicy/answer/3013851.",
          "$ref": "PolicyCompliance"
        },
        "detectedCategoriesTaxonomy": {
          "enumDescriptions": [
            "Default value that should never be used.",
            "Google ad categories taxonomy, including product categories and sensitive categories. Find the category lists at https://developers.google.com/authorized-buyers/rtb/data#reference-data",
            "IAB Content Taxonomy 1.0. See https://github.com/InteractiveAdvertisingBureau/Taxonomies/blob/main/Content%20Taxonomies/Content%20Taxonomy%201.0.tsv for more details."
          ],
          "description": "Output only. The taxonomy in which the detected_categories field is expressed.",
          "enum": [
            "AD_CATEGORY_TAXONOMY_UNSPECIFIED",
            "GOOGLE_AD_CATEGORY_TAXONOMY",
            "IAB_CONTENT_1_0"
          ],
          "type": "string",
          "readOnly": true
        },
        "detectedSensitiveCategories": {
          "description": "Detected sensitive categories, if any. Can be used to filter the response of the creatives.list method. See the ad-sensitive-categories.txt file in the technical documentation for a list of IDs. You should use these IDs along with the excluded-sensitive-category field in the bid request to filter your bids.",
          "items": {
            "type": "integer",
            "format": "int32"
          },
          "type": "array"
        },
        "russiaPolicyCompliance": {
          "$ref": "PolicyCompliance",
          "description": "The policy compliance of this creative in Russia. When approved or disapproved, this applies to both deals and open auction in Russia. When pending review, this creative is allowed to serve for deals but not for open auction."
        },
        "detectedLanguages": {
          "type": "array",
          "description": "The detected languages for this creative. The order is arbitrary. The codes are 2 or 5 characters and are documented at https://developers.google.com/adwords/api/docs/appendix/languagecodes. Can be used to filter the response of the creatives.list method.",
          "items": {
            "type": "string"
          }
        },
        "networkPolicyCompliance": {
          "$ref": "PolicyCompliance",
          "description": "Policy compliance of this creative when bidding in open auction, private auction, or auction packages (outside of Russia and China)."
        },
        "detectedCategories": {
          "description": "Output only. IDs of the detected categories. The taxonomy in which the categories are expressed is specified by the detected_categories_taxonomy field. Use this in conjunction with BidRequest.bcat to avoid bidding on impressions where a given ad category is blocked, or to troubleshoot filtered bids. Can be used to filter the response of the creatives.list method.",
          "items": {
            "type": "string"
          },
          "readOnly": true,
          "type": "array"
        },
        "lastStatusUpdate": {
          "type": "string",
          "format": "google-datetime",
          "description": "The last time the creative status was updated. Can be used to filter the response of the creatives.list method."
        },
        "adTechnologyProviders": {
          "description": "The detected ad technology providers.",
          "$ref": "AdTechnologyProviders"
        },
        "chinaPolicyCompliance": {
          "$ref": "PolicyCompliance",
          "description": "The policy compliance of this creative in China. When approved or disapproved, this applies to both deals and open auction in China. When pending review, this creative is allowed to serve for deals but not for open auction."
        },
        "detectedAttributes": {
          "description": "Publisher-excludable attributes that were detected for this creative. Can be used to filter the response of the creatives.list method. If the `excluded_attribute` field of a [bid request](https://developers.google.com/authorized-buyers/rtb/downloads/realtime-bidding-proto) contains one of the attributes that were declared or detected for a given creative, and a bid is submitted with that creative, the bid will be filtered before the auction.",
          "items": {
            "enumDescriptions": [
              "Do not use. This is a placeholder value only.",
              "The creative is of type image/rich media. For pretargeting.",
              "The creative is of video type Adobe Flash FLV. For pretargeting.",
              "The creative is tagged.",
              "The creative is cookie targeted.",
              "The creative is user interest targeted.",
              "The creative does not expand.",
              "The creative expands up.",
              "The creative expands down.",
              "The creative expands left.",
              "The creative expands right.",
              "The creative expands up and left.",
              "The creative expands up and right.",
              "The creative expands down and left.",
              "The creative expands down and right.",
              "The creative type is HTML.",
              "The creative type is VAST video.",
              "The creative expands up or down.",
              "The creative expands left or right.",
              "The creative expands on any diagonal.",
              "The creative expands when rolled over.",
              "The instream vast video type is vpaid flash.",
              "The creative is MRAID.",
              "The creative is Flash.",
              "The creative is HTML5.",
              "The creative has an instream VAST video type of skippable instream video. For pretargeting.",
              "The creative is SSL.",
              "The creative is non-SSL.",
              "The creative is an interstitial.",
              "The creative has an instream VAST video type of non-skippable instream video. For pretargeting.",
              "The creative is eligible for native.",
              "The creative has an instream VAST video type of non-VPAID. For pretargeting.",
              "The creative is not eligible for native.",
              "The creative has an interstitial size of any interstitial. For pretargeting.",
              "The creative has an interstitial size of non interstitial. For pretargeting.",
              "The video type is in-banner video.",
              "The creative can dynamically resize to fill a variety of slot sizes.",
              "The open measurement SDK is supported.",
              "The creative is considered a playable display creative."
            ],
            "enum": [
              "ATTRIBUTE_UNSPECIFIED",
              "IMAGE_RICH_MEDIA",
              "ADOBE_FLASH_FLV",
              "IS_TAGGED",
              "IS_COOKIE_TARGETED",
              "IS_USER_INTEREST_TARGETED",
              "EXPANDING_DIRECTION_NONE",
              "EXPANDING_DIRECTION_UP",
              "EXPANDING_DIRECTION_DOWN",
              "EXPANDING_DIRECTION_LEFT",
              "EXPANDING_DIRECTION_RIGHT",
              "EXPANDING_DIRECTION_UP_LEFT",
              "EXPANDING_DIRECTION_UP_RIGHT",
              "EXPANDING_DIRECTION_DOWN_LEFT",
              "EXPANDING_DIRECTION_DOWN_RIGHT",
              "CREATIVE_TYPE_HTML",
              "CREATIVE_TYPE_VAST_VIDEO",
              "EXPANDING_DIRECTION_UP_OR_DOWN",
              "EXPANDING_DIRECTION_LEFT_OR_RIGHT",
              "EXPANDING_DIRECTION_ANY_DIAGONAL",
              "EXPANDING_ACTION_ROLLOVER_TO_EXPAND",
              "INSTREAM_VAST_VIDEO_TYPE_VPAID_FLASH",
              "RICH_MEDIA_CAPABILITY_TYPE_MRAID",
              "RICH_MEDIA_CAPABILITY_TYPE_FLASH",
              "RICH_MEDIA_CAPABILITY_TYPE_HTML5",
              "SKIPPABLE_INSTREAM_VIDEO",
              "RICH_MEDIA_CAPABILITY_TYPE_SSL",
              "RICH_MEDIA_CAPABILITY_TYPE_NON_SSL",
              "RICH_MEDIA_CAPABILITY_TYPE_INTERSTITIAL",
              "NON_SKIPPABLE_INSTREAM_VIDEO",
              "NATIVE_ELIGIBILITY_ELIGIBLE",
              "NON_VPAID",
              "NATIVE_ELIGIBILITY_NOT_ELIGIBLE",
              "ANY_INTERSTITIAL",
              "NON_INTERSTITIAL",
              "IN_BANNER_VIDEO",
              "RENDERING_SIZELESS_ADX",
              "OMSDK_1_0",
              "RENDERING_PLAYABLE"
            ],
            "type": "string"
          },
          "type": "array"
        },
        "detectedVendorIds": {
          "type": "array",
          "items": {
            "type": "integer",
            "format": "int32"
          },
          "description": "IDs of the ad technology vendors that were detected to be used by this creative. See https://storage.googleapis.com/adx-rtb-dictionaries/vendors.txt for possible values. Can be used to filter the response of the creatives.list method. If the `allowed_vendor_type` field of a [bid request](https://developers.google.com/authorized-buyers/rtb/downloads/realtime-bidding-proto) does not contain one of the vendor type IDs that were declared or detected for a given creative, and a bid is submitted with that creative, the bid will be filtered before the auction."
        }
      }
    },
    "AddTargetedAppsRequest": {
      "type": "object",
      "properties": {
        "appIds": {
          "items": {
            "type": "string"
          },
          "description": "A list of app IDs to target in the pretargeting configuration. These values will be added to the list of targeted app IDs in PretargetingConfig.appTargeting.mobileAppTargeting.values.",
          "type": "array"
        },
        "targetingMode": {
          "enumDescriptions": [
            "Placeholder for undefined targeting mode.",
            "The inclusive list type. Inventory must match an item in this list to be targeted.",
            "The exclusive list type. Inventory must not match any item in this list to be targeted."
          ],
          "description": "Required. The targeting mode that should be applied to the list of app IDs. If there are existing targeted app IDs, must be equal to the existing PretargetingConfig.appTargeting.mobileAppTargeting.targetingMode or a 400 bad request error will be returned.",
          "enum": [
            "TARGETING_MODE_UNSPECIFIED",
            "INCLUSIVE",
            "EXCLUSIVE"
          ],
          "type": "string"
        }
      },
      "id": "AddTargetedAppsRequest",
      "description": "A request to start targeting the provided app IDs in a specific pretargeting configuration. The pretargeting configuration itself specifies how these apps are targeted. in PretargetingConfig.appTargeting.mobileAppTargeting."
    },
    "CloseUserListRequest": {
      "id": "CloseUserListRequest",
      "description": "A request to close a specified user list.",
      "properties": {},
      "type": "object"
    },
    "PolicyTopicEvidence": {
      "id": "PolicyTopicEvidence",
      "properties": {
        "httpCall": {
          "$ref": "HttpCallEvidence",
          "description": "HTTP calls made by the creative that resulted in policy violations."
        },
        "downloadSize": {
          "$ref": "DownloadSizeEvidence",
          "description": "Total download size and URL-level download size breakdown for resources in a creative."
        },
        "destinationNotWorking": {
          "description": "The creative's destination URL did not function properly or was incorrectly set up.",
          "$ref": "DestinationNotWorkingEvidence"
        },
        "destinationNotCrawlable": {
          "$ref": "DestinationNotCrawlableEvidence",
          "description": "The creative's destination URL was not crawlable by Google."
        },
        "domainCall": {
          "$ref": "DomainCallEvidence",
          "description": "Number of HTTP calls made by the creative, broken down by domain."
        },
        "httpCookie": {
          "description": "Evidence for HTTP cookie-related policy violations.",
          "$ref": "HttpCookieEvidence"
        },
        "destinationUrl": {
          "$ref": "DestinationUrlEvidence",
          "description": "URL of the actual landing page."
        }
      },
      "description": "Evidence associated with a policy topic entry.",
      "type": "object"
    },
    "Date": {
      "properties": {
        "month": {
          "format": "int32",
          "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day.",
          "type": "integer"
        },
        "year": {
          "format": "int32",
          "type": "integer",
          "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year."
        },
        "day": {
          "format": "int32",
          "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant.",
          "type": "integer"
        }
      },
      "id": "Date",
      "description": "Represents a whole or partial calendar date, such as a birthday. The time of day and time zone are either specified elsewhere or are insignificant. The date is relative to the Gregorian Calendar. This can represent one of the following: * A full date, with non-zero year, month, and day values. * A month and day, with a zero year (for example, an anniversary). * A year on its own, with a zero month and a zero day. * A year and month, with a zero day (for example, a credit card expiration date). Related types: * google.type.TimeOfDay * google.type.DateTime * google.protobuf.Timestamp",
      "type": "object"
    },
    "ListBiddersResponse": {
      "type": "object",
      "properties": {
        "bidders": {
          "items": {
            "$ref": "Bidder"
          },
          "description": "List of bidders.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token which can be passed to a subsequent call to the `ListBidders` method to retrieve the next page of results in ListBiddersRequest.pageToken.",
          "type": "string"
        }
      },
      "description": "A response containing bidders.",
      "id": "ListBiddersResponse"
    },
    "ActivatePretargetingConfigRequest": {
      "id": "ActivatePretargetingConfigRequest",
      "description": "A request to activate a pretargeting configuration. Sets the configuration's state to ACTIVE.",
      "properties": {},
      "type": "object"
    },
    "NumericTargetingDimension": {
      "properties": {
        "excludedIds": {
          "type": "array",
          "items": {
            "type": "string",
            "format": "int64"
          },
          "description": "The IDs excluded in a config."
        },
        "includedIds": {
          "type": "array",
          "description": "The IDs included in a config.",
          "items": {
            "format": "int64",
            "type": "string"
          }
        }
      },
      "description": "Generic targeting used for targeting dimensions that contain a list of included and excluded numeric IDs used in app, user list, geo, and vertical id targeting.",
      "type": "object",
      "id": "NumericTargetingDimension"
    },
    "DownloadSizeEvidence": {
      "id": "DownloadSizeEvidence",
      "properties": {
        "topUrlDownloadSizeBreakdowns": {
          "items": {
            "$ref": "UrlDownloadSize"
          },
          "description": "Download size broken down by URLs with the top download size.",
          "type": "array"
        },
        "totalDownloadSizeKb": {
          "format": "int32",
          "type": "integer",
          "description": "Total download size (in kilobytes) for all the resources in the creative."
        }
      },
      "type": "object",
      "description": "Total download size and URL-level download size breakdown for resources in a creative."
    },
    "AdvertiserAndBrand": {
      "type": "object",
      "description": "Detected advertiser and brand information.",
      "id": "AdvertiserAndBrand",
      "properties": {
        "advertiserName": {
          "type": "string",
          "description": "Advertiser name. Can be used to filter the response of the creatives.list method."
        },
        "advertiserId": {
          "description": "See https://storage.googleapis.com/adx-rtb-dictionaries/advertisers.txt for the list of possible values. Can be used to filter the response of the creatives.list method.",
          "type": "string",
          "format": "int64"
        },
        "brandName": {
          "description": "Brand name. Can be used to filter the response of the creatives.list method.",
          "type": "string"
        },
        "brandId": {
          "type": "string",
          "description": "Detected brand ID or zero if no brand has been detected. See https://storage.googleapis.com/adx-rtb-dictionaries/brands.txt for the list of possible values. Can be used to filter the response of the creatives.list method.",
          "format": "int64"
        }
      }
    },
    "DomainCallEvidence": {
      "id": "DomainCallEvidence",
      "type": "object",
      "description": "Number of HTTP calls made by a creative, broken down by domain.",
      "properties": {
        "totalHttpCallCount": {
          "type": "integer",
          "description": "The total number of HTTP calls made by the creative, including but not limited to the number of calls in the top_http_call_domains.",
          "format": "int32"
        },
        "topHttpCallDomains": {
          "type": "array",
          "description": "Breakdown of the most frequent domains called through HTTP by the creative.",
          "items": {
            "$ref": "DomainCalls"
          }
        }
      }
    },
    "ListPretargetingConfigsResponse": {
      "description": "A response containing pretargeting configurations.",
      "type": "object",
      "id": "ListPretargetingConfigsResponse",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token which can be passed to a subsequent call to the `ListPretargetingConfigs` method to retrieve the next page of results in ListPretargetingConfigsRequest.pageToken."
        },
        "pretargetingConfigs": {
          "type": "array",
          "description": "List of pretargeting configurations.",
          "items": {
            "$ref": "PretargetingConfig"
          }
        }
      }
    },
    "HtmlContent": {
      "type": "object",
      "id": "HtmlContent",
      "properties": {
        "snippet": {
          "description": "The HTML snippet that displays the ad when inserted in the web page.",
          "type": "string"
        },
        "width": {
          "type": "integer",
          "format": "int32",
          "description": "The width of the HTML snippet in pixels. Can be used to filter the response of the creatives.list method."
        },
        "height": {
          "format": "int32",
          "type": "integer",
          "description": "The height of the HTML snippet in pixels. Can be used to filter the response of the creatives.list method."
        }
      },
      "description": "HTML content for a creative."
    },
    "StringTargetingDimension": {
      "properties": {
        "targetingMode": {
          "enumDescriptions": [
            "Placeholder for undefined targeting mode.",
            "The inclusive list type. Inventory must match an item in this list to be targeted.",
            "The exclusive list type. Inventory must not match any item in this list to be targeted."
          ],
          "type": "string",
          "enum": [
            "TARGETING_MODE_UNSPECIFIED",
            "INCLUSIVE",
            "EXCLUSIVE"
          ],
          "description": "How the items in this list should be targeted."
        },
        "values": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "The values specified."
        }
      },
      "id": "StringTargetingDimension",
      "description": "Generic targeting with string values used in app, website and publisher targeting.",
      "type": "object"
    },
    "VideoContent": {
      "id": "VideoContent",
      "properties": {
        "videoMetadata": {
          "description": "Output only. Video metadata.",
          "readOnly": true,
          "$ref": "VideoMetadata"
        },
        "videoVastXml": {
          "type": "string",
          "description": "The contents of a VAST document for a video ad. This document should conform to the VAST 2.0, 3.0, or 4.x standard."
        },
        "videoUrl": {
          "type": "string",
          "description": "The URL to fetch a video ad. The URL should return an XML response that conforms to the VAST 2.0, 3.0 or 4.x standard."
        }
      },
      "type": "object",
      "description": "Video content for a creative."
    },
    "BatchRejectPublisherConnectionsResponse": {
      "id": "BatchRejectPublisherConnectionsResponse",
      "properties": {
        "publisherConnections": {
          "type": "array",
          "items": {
            "$ref": "PublisherConnection"
          },
          "description": "The publisher connections that have been rejected."
        }
      },
      "type": "object",
      "description": "A response for the request to reject a batch of publisher connections."
    },
    "OpenUserListRequest": {
      "properties": {},
      "id": "OpenUserListRequest",
      "description": "A request to open a specified user list.",
      "type": "object"
    },
    "PretargetingConfig": {
      "id": "PretargetingConfig",
      "description": "Pretargeting config: a set of targeting dimensions applied at the pretargeting stage of the RTB funnel. These control which inventory a bidder will receive bid requests for.",
      "type": "object",
      "properties": {
        "state": {
          "type": "string",
          "enumDescriptions": [
            "Placeholder for undefined state.",
            "This pretargeting config is actively being used to filter bid requests.",
            "This pretargeting config is suspended and not used in serving."
          ],
          "readOnly": true,
          "description": "Output only. The state of this pretargeting config.",
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "SUSPENDED"
          ]
        },
        "includedMobileOperatingSystemIds": {
          "description": "The mobile operating systems included in this config as defined in https://storage.googleapis.com/adx-rtb-dictionaries/mobile-os.csv",
          "type": "array",
          "items": {
            "format": "int64",
            "type": "string"
          }
        },
        "allowedUserTargetingModes": {
          "description": "Deprecated: The value of this field no longer has any effect. Targeting modes included by this config. A bid request must allow all the specified targeting modes. An unset value allows all bid requests to be sent, regardless of which targeting modes they allow.",
          "type": "array",
          "deprecated": true,
          "items": {
            "enumDescriptions": [
              "Placeholder for undefined user targeting mode.",
              "Remarketing ads are allowed to serve.",
              "Ads based on user interest category targeting are allowed to serve."
            ],
            "enum": [
              "USER_TARGETING_MODE_UNSPECIFIED",
              "REMARKETING_ADS",
              "INTEREST_BASED_TARGETING"
            ],
            "type": "string"
          }
        },
        "billingId": {
          "format": "int64",
          "readOnly": true,
          "type": "string",
          "description": "Output only. The identifier that corresponds to this pretargeting config that helps buyers track and attribute their spend across their own arbitrary divisions. If a bid request matches more than one config, the buyer chooses which billing_id to attribute each of their bids."
        },
        "minimumViewabilityDecile": {
          "format": "int32",
          "description": "The targeted minimum viewability decile, ranging in values [0, 10]. A value of 5 means that the config will only match adslots for which we predict at least 50% viewability. Values > 10 will be rounded down to 10. An unset value or a value of 0 indicates that bid requests will be sent regardless of viewability.",
          "type": "integer"
        },
        "appTargeting": {
          "description": "Targeting on a subset of app inventory. If APP is listed in targeted_environments, the specified targeting is applied. A maximum of 30,000 app IDs can be targeted. An unset value for targeting allows all app-based bid requests to be sent. Apps can either be targeting positively (bid requests will be sent only if the destination app is listed in the targeting dimension) or negatively (bid requests will be sent only if the destination app is not listed in the targeting dimension).",
          "$ref": "AppTargeting"
        },
        "displayName": {
          "type": "string",
          "description": "The diplay name associated with this config. This name must be unique among all the pretargeting configs a bidder has."
        },
        "includedPlatforms": {
          "items": {
            "type": "string",
            "enum": [
              "PLATFORM_UNSPECIFIED",
              "PERSONAL_COMPUTER",
              "PHONE",
              "TABLET",
              "CONNECTED_TV"
            ],
            "enumDescriptions": [
              "Placeholder for an undefined platform. This value should not be used.",
              "The personal computer platform.",
              "The mobile platform.",
              "The tablet platform.",
              "The connected TV platform."
            ]
          },
          "description": "The platforms included by this config. Bid requests for devices with the specified platform types will be sent. An unset value allows all bid requests to be sent, regardless of platform.",
          "type": "array"
        },
        "includedFormats": {
          "description": "Creative formats included by this config. Only bid requests eligible for at least one of the specified creative formats will be sent. An unset value will allow all bid requests to be sent, regardless of format.",
          "items": {
            "type": "string",
            "enumDescriptions": [
              "Placeholder for undefined creative format. This value should not be used.",
              "HTML and AMPHTML creatives.",
              "VAST video or audio creative.",
              "Native creative, including standard and video native ads."
            ],
            "enum": [
              "CREATIVE_FORMAT_UNSPECIFIED",
              "HTML",
              "VAST",
              "NATIVE"
            ]
          },
          "type": "array"
        },
        "geoTargeting": {
          "$ref": "NumericTargetingDimension",
          "description": "The geos included or excluded in this config defined in https://storage.googleapis.com/adx-rtb-dictionaries/geo-table.csv"
        },
        "excludedContentLabelIds": {
          "items": {
            "format": "int64",
            "type": "string"
          },
          "description": "The sensitive content category label IDs excluded in this config. Bid requests for inventory with any of the specified content label IDs will not be sent. Refer to this file https://storage.googleapis.com/adx-rtb-dictionaries/content-labels.txt for category IDs.",
          "type": "array"
        },
        "publisherTargeting": {
          "$ref": "StringTargetingDimension",
          "description": "Targeting on a subset of publisher inventory. Publishers can either be targeted positively (bid requests will be sent only if the publisher is listed in the targeting dimension) or negatively (bid requests will be sent only if the publisher is not listed in the targeting dimension). A maximum of 10,000 publisher IDs can be targeted. Publisher IDs are found in [ads.txt](https://iabtechlab.com/ads-txt/) / [app-ads.txt](https://iabtechlab.com/app-ads-txt/) and in bid requests in the `BidRequest.publisher_id` field on the [Google RTB protocol](https://developers.google.com/authorized-buyers/rtb/downloads/realtime-bidding-proto) or the `BidRequest.site.publisher.id` / `BidRequest.app.publisher.id` field on the [OpenRTB protocol](https://developers.google.com/authorized-buyers/rtb/downloads/openrtb-adx-proto). Publisher IDs will be returned in the order that they were entered."
        },
        "includedUserIdTypes": {
          "description": "User identifier types included in this config. At least one of the user identifier types specified in this list must be available for the bid request to be sent.",
          "items": {
[...]
