{
  "kind": "discovery#restDescription",
  "protocol": "rest",
  "basePath": "",
  "name": "recaptchaenterprise",
  "mtlsRootUrl": "https://recaptchaenterprise.mtls.googleapis.com/",
  "id": "recaptchaenterprise:v1",
  "parameters": {
    "callback": {
      "type": "string",
      "location": "query",
      "description": "JSONP"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query",
      "type": "string"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "location": "query",
      "type": "string"
    },
    "$.xgafv": {
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "location": "query",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string",
      "location": "query"
    },
    "upload_protocol": {
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string"
    },
    "uploadType": {
      "location": "query",
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "alt": {
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "type": "string",
      "description": "Data format for response.",
      "default": "json"
    },
    "quotaUser": {
      "type": "string",
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "prettyPrint": {
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "location": "query"
    },
    "access_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth access token."
    }
  },
  "ownerDomain": "google.com",
  "discoveryVersion": "v1",
  "version_module": true,
  "baseUrl": "https://recaptchaenterprise.googleapis.com/",
  "version": "v1",
  "fullyEncodeReservedExpansion": true,
  "documentationLink": "https://cloud.google.com/recaptcha-enterprise/",
  "rootUrl": "https://recaptchaenterprise.googleapis.com/",
  "revision": "20260825",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "schemas": {
    "GoogleCloudRecaptchaenterpriseV1IpOverrideData": {
      "id": "GoogleCloudRecaptchaenterpriseV1IpOverrideData",
      "description": "Information about the IP or IP range override.",
      "type": "object",
      "properties": {
        "ip": {
          "description": "Required. The IP address to override (can be IPv4, IPv6 or CIDR). The IP override must be a valid IPv4 or IPv6 address, or a CIDR range. The IP override must be a public IP address. Example of IPv4: 168.192.5.6 Example of IPv6: 2001:0000:130F:0000:0000:09C0:876A:130B Example of IPv4 with CIDR: 168.192.5.0/24 Example of IPv6 with CIDR: 2001:0DB8:1234::/48",
          "type": "string"
        },
        "overrideType": {
          "description": "Required. Describes the type of IP override.",
          "type": "string",
          "enumDescriptions": [
            "Default override type that indicates this enum hasn't been specified.",
            "Allowlist the IP address; i.e. give a `risk_analysis.score` of 0.9 for all valid assessments."
          ],
          "enum": [
            "OVERRIDE_TYPE_UNSPECIFIED",
            "ALLOW"
          ]
        }
      }
    },
    "GoogleCloudRecaptchaenterpriseV1RelatedAccountGroup": {
      "type": "object",
      "properties": {
        "name": {
          "description": "Required. Identifier. The resource name for the related account group in the format `projects/{project}/relatedaccountgroups/{related_account_group}`.",
          "type": "string"
        }
      },
      "description": "A group of related accounts.",
      "id": "GoogleCloudRecaptchaenterpriseV1RelatedAccountGroup"
    },
    "GoogleCloudRecaptchaenterpriseV1RelatedAccountGroupMembership": {
      "description": "A membership in a group of related accounts.",
      "id": "GoogleCloudRecaptchaenterpriseV1RelatedAccountGroupMembership",
      "properties": {
        "accountId": {
          "type": "string",
          "description": "The unique stable account identifier of the member. The identifier corresponds to an `account_id` provided in a previous `CreateAssessment` or `AnnotateAssessment` call."
        },
        "hashedAccountId": {
          "type": "string",
          "deprecated": true,
          "description": "Deprecated: use `account_id` instead. The unique stable hashed account identifier of the member. The identifier corresponds to a `hashed_account_id` provided in a previous `CreateAssessment` or `AnnotateAssessment` call.",
          "format": "byte"
        },
        "name": {
          "description": "Required. Identifier. The resource name for this membership in the format `projects/{project}/relatedaccountgroups/{relatedaccountgroup}/memberships/{membership}`.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudRecaptchaenterpriseV1IOSKeySettings": {
      "properties": {
        "allowAllBundleIds": {
          "description": "Optional. If set to true, allowed_bundle_ids are not enforced.",
          "type": "boolean"
        },
        "appleDeveloperId": {
          "$ref": "GoogleCloudRecaptchaenterpriseV1AppleDeveloperId",
          "description": "Optional. Apple Developer account details for the app that is protected by the reCAPTCHA Key. reCAPTCHA leverages platform-specific checks like Apple App Attest and Apple DeviceCheck to protect your app from abuse. Providing these fields allows reCAPTCHA to get a better assessment of the integrity of your app."
        },
        "allowedBundleIds": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. iOS bundle IDs of apps allowed to use the key. Example: 'com.companyname.productname.appname' Each key supports a maximum of 250 bundle IDs. To use a key on more apps, set `allow_all_bundle_ids` to true. When this is set, you are responsible for validating the bundle id by checking the `token_properties.ios_bundle_id` field in each assessment response against your list of allowed bundle IDs."
        }
      },
      "description": "Settings specific to keys that can be used by iOS apps.",
      "id": "GoogleCloudRecaptchaenterpriseV1IOSKeySettings",
      "type": "object"
    },
    "GoogleCloudRecaptchaenterpriseV1AnnotateAssessmentRequest": {
      "id": "GoogleCloudRecaptchaenterpriseV1AnnotateAssessmentRequest",
      "type": "object",
      "description": "The request message to annotate an Assessment.",
      "properties": {
        "reasons": {
          "type": "array",
          "items": {
            "type": "string",
            "enumDescriptions": [
              "Unspecified reason. Do not use.",
              "Indicates that the transaction had a chargeback issued with no other details. When possible, specify the type by using CHARGEBACK_FRAUD or CHARGEBACK_DISPUTE instead.",
              "Indicates that the transaction had a chargeback issued related to an alleged unauthorized transaction from the cardholder's perspective (for example, the card number was stolen).",
              "Indicates that the transaction had a chargeback issued related to the cardholder having provided their card details but allegedly not being satisfied with the purchase (for example, misrepresentation, attempted cancellation).",
              "Indicates that the completed payment transaction was refunded by the seller.",
              "Indicates that the completed payment transaction was determined to be fraudulent by the seller, and was cancelled and refunded as a result.",
              "Indicates that the payment transaction was accepted, and the user was charged.",
              "Indicates that the payment transaction was declined, for example due to invalid card details.",
              "Indicates the transaction associated with the assessment is suspected of being fraudulent based on the payment method, billing details, shipping address or other transaction information.",
              "Indicates that the user was served a 2FA challenge. An old assessment with `ENUM_VALUES.INITIATED_TWO_FACTOR` reason that has not been overwritten with `PASSED_TWO_FACTOR` is treated as an abandoned 2FA flow. This is equivalent to `FAILED_TWO_FACTOR`.",
              "Indicates that the user passed a 2FA challenge.",
              "Indicates that the user failed a 2FA challenge.",
              "Indicates the user provided the correct password.",
              "Indicates the user provided an incorrect password.",
              "Indicates that the user sent unwanted and abusive messages to other users of the platform, such as spam, scams, phishing, or social engineering."
            ],
            "enum": [
              "REASON_UNSPECIFIED",
              "CHARGEBACK",
              "CHARGEBACK_FRAUD",
              "CHARGEBACK_DISPUTE",
              "REFUND",
              "REFUND_FRAUD",
              "TRANSACTION_ACCEPTED",
              "TRANSACTION_DECLINED",
              "PAYMENT_HEURISTICS",
              "INITIATED_TWO_FACTOR",
              "PASSED_TWO_FACTOR",
              "FAILED_TWO_FACTOR",
              "CORRECT_PASSWORD",
              "INCORRECT_PASSWORD",
              "SOCIAL_SPAM"
            ]
          },
          "description": "Optional. Reasons for the annotation that are assigned to the event."
        },
        "annotation": {
          "type": "string",
          "enumDeprecated": [
            false,
            false,
            false,
            true,
            true
          ],
          "description": "Optional. The annotation that is assigned to the Event. This field can be left empty to provide reasons that apply to an event without concluding whether the event is legitimate or fraudulent.",
          "enum": [
            "ANNOTATION_UNSPECIFIED",
            "LEGITIMATE",
            "FRAUDULENT",
            "PASSWORD_CORRECT",
            "PASSWORD_INCORRECT"
          ],
          "enumDescriptions": [
            "Default unspecified type.",
            "Provides information that the event turned out to be legitimate.",
            "Provides information that the event turned out to be fraudulent.",
            "Provides information that the event was related to a login event in which the user typed the correct password. Deprecated, prefer indicating CORRECT_PASSWORD through the reasons field instead.",
            "Provides information that the event was related to a login event in which the user typed the incorrect password. Deprecated, prefer indicating INCORRECT_PASSWORD through the reasons field instead."
          ]
        },
        "transactionEvent": {
          "$ref": "GoogleCloudRecaptchaenterpriseV1TransactionEvent",
          "description": "Optional. If the assessment is part of a payment transaction, provide details on payment lifecycle events that occur in the transaction."
        },
        "phoneAuthenticationEvent": {
          "description": "Optional. If using an external multi-factor authentication provider, provide phone authentication details for fraud detection purposes.",
          "$ref": "GoogleCloudRecaptchaenterpriseV1PhoneAuthenticationEvent"
        },
        "accountId": {
          "type": "string",
          "description": "Optional. A stable account identifier to apply to the assessment. This is an alternative to setting `account_id` in `CreateAssessment`, for example when a stable account identifier is not yet known in the initial request."
        },
        "hashedAccountId": {
          "description": "Optional. A stable hashed account identifier to apply to the assessment. This is an alternative to setting `hashed_account_id` in `CreateAssessment`, for example when a stable account identifier is not yet known in the initial request.",
          "type": "string",
          "format": "byte"
        }
      }
    },
    "GoogleCloudRecaptchaenterpriseV1AccountDefenderAssessment": {
      "properties": {
        "labels": {
          "items": {
            "type": "string",
            "enumDescriptions": [
              "Default unspecified type.",
              "The request matches a trusted profile associated with this account.",
              "The request is potentially a suspicious login event and must be further verified either through multi-factor authentication or another system.",
              "The request matched a profile that previously had suspicious account creation behavior. This can mean that this is a fake account.",
              "The account in the request has a high number of related accounts. It does not necessarily imply that the account is bad but can require further investigation."
            ],
            "enum": [
              "ACCOUNT_DEFENDER_LABEL_UNSPECIFIED",
              "PROFILE_MATCH",
              "SUSPICIOUS_LOGIN_ACTIVITY",
              "SUSPICIOUS_ACCOUNT_CREATION",
              "RELATED_ACCOUNTS_NUMBER_HIGH"
            ]
          },
          "description": "Output only. Labels for this request.",
          "type": "array",
          "readOnly": true
        },
        "accountTakeoverVerdict": {
          "description": "Output only. Account takeover risk assessment for this request.",
          "$ref": "GoogleCloudRecaptchaenterpriseV1AccountDefenderAssessmentAccountTakeoverVerdict",
          "readOnly": true
        }
      },
      "description": "Account defense risk assessment.",
      "type": "object",
      "id": "GoogleCloudRecaptchaenterpriseV1AccountDefenderAssessment"
    },
    "GoogleCloudRecaptchaenterpriseV1RiskAnalysis": {
      "description": "Risk analysis result for an event.",
      "id": "GoogleCloudRecaptchaenterpriseV1RiskAnalysis",
      "type": "object",
      "properties": {
        "challenge": {
          "enum": [
            "CHALLENGE_UNSPECIFIED",
            "NOCAPTCHA",
            "PASSED",
            "FAILED"
          ],
          "enumDescriptions": [
            "Default unspecified type.",
            "No challenge was presented for solving.",
            "A solution was submitted that was correct.",
            "A solution was submitted that was incorrect or otherwise deemed suspicious."
          ],
          "readOnly": true,
          "description": "Output only. Challenge information for Universal, `POLICY_BASED_CHALLENGE` and `INVISIBLE` keys.",
          "type": "string"
        },
        "verifiedBots": {
          "items": {
            "$ref": "GoogleCloudRecaptchaenterpriseV1Bot"
          },
          "readOnly": true,
          "type": "array",
          "description": "Output only. Bots with identities that have been verified by reCAPTCHA and detected in the event."
        },
        "extendedVerdictReasons": {
          "description": "Output only. Additional reasons contributing to the risk analysis verdict. These reasons are available to Enterprise tier projects only. Contact sales for more information. The set of reasons is subject to change.",
          "type": "array",
          "readOnly": true,
          "items": {
            "type": "string"
          }
        },
        "score": {
          "description": "Output only. Legitimate event score from 0.0 to 1.0. (1.0 means very likely legitimate traffic while 0.0 means very likely non-legitimate traffic).",
          "type": "number",
          "readOnly": true,
          "format": "float"
        },
        "reasons": {
          "type": "array",
          "readOnly": true,
          "items": {
            "enum": [
              "CLASSIFICATION_REASON_UNSPECIFIED",
              "AUTOMATION",
              "UNEXPECTED_ENVIRONMENT",
              "TOO_MUCH_TRAFFIC",
              "UNEXPECTED_USAGE_PATTERNS",
              "LOW_CONFIDENCE_SCORE",
              "SUSPECTED_CARDING",
              "SUSPECTED_CHARGEBACK"
            ],
            "enumDeprecated": [
              false,
              false,
              false,
              false,
              false,
              false,
              true,
              true
            ],
            "enumDescriptions": [
              "Default unspecified type.",
              "Interactions matched the behavior of an automated agent.",
              "The event originated from an illegitimate environment.",
              "Traffic volume from the event source is higher than normal.",
              "Interactions with the site were significantly different than expected patterns.",
              "Too little traffic has been received from this site thus far to generate quality risk analysis.",
              "Deprecated: Use FraudPreventionAssessment.transaction_risk and FraudPreventionAssessment.RiskReason.Reason.EXCESSIVE_ENUMERATION_PATTERN instead.",
              "Deprecated: Use FraudPreventionAssessment.transaction_risk and FraudPreventionAssessment.RiskReason.Reason.ASSOCIATED_WITH_FRAUD_CLUSTER instead."
            ],
            "type": "string"
          },
          "description": "Output only. Reasons contributing to the risk analysis verdict."
        },
        "lastChallengeType": {
          "enumDescriptions": [
            "Default unspecified type.",
            "A visual challenge.",
            "An audio challenge."
          ],
          "readOnly": true,
          "enum": [
            "CHALLENGE_TYPE_UNSPECIFIED",
            "CHALLENGE_TYPE_VISUAL",
            "CHALLENGE_TYPE_AUDIO"
          ],
          "description": "Output only. Type of the last challenge presented to the user for Universal, `POLICY_BASED_CHALLENGE` and `INVISIBLE` keys. The field is only set when a challenge was presented to the user.",
          "type": "string"
        }
      }
    },
    "GoogleCloudRecaptchaenterpriseV1TestingOptions": {
      "description": "Options for user acceptance testing.",
      "type": "object",
      "properties": {
        "testingChallenge": {
          "type": "string",
          "description": "Optional. For challenge-based keys only (CHECKBOX, INVISIBLE), all challenge requests for this site return nocaptcha if NOCAPTCHA, or an unsolvable challenge if CHALLENGE.",
          "enumDescriptions": [
            "Perform the normal risk analysis and return either nocaptcha or a challenge depending on risk and trust factors.",
            "Challenge requests for this key always return a nocaptcha, which does not require a solution.",
            "Challenge requests for this key always return an unsolvable challenge."
          ],
          "enum": [
            "TESTING_CHALLENGE_UNSPECIFIED",
            "NOCAPTCHA",
            "UNSOLVABLE_CHALLENGE"
          ]
        },
        "testingScore": {
          "type": "number",
          "description": "Optional. All assessments for this Key return this score. Must be between 0 (likely not legitimate) and 1 (likely legitimate) inclusive.",
          "format": "float"
        }
      },
      "id": "GoogleCloudRecaptchaenterpriseV1TestingOptions"
    },
    "GoogleCloudRecaptchaenterpriseV1EndpointVerificationInfo": {
      "id": "GoogleCloudRecaptchaenterpriseV1EndpointVerificationInfo",
      "properties": {
        "phoneNumber": {
          "type": "string",
          "description": "Phone number for which to trigger a verification request. Should be given in E.164 format."
        },
        "emailAddress": {
          "description": "Email address for which to trigger a verification request.",
          "type": "string"
        },
        "requestToken": {
          "readOnly": true,
          "description": "Output only. Token to provide to the client to trigger endpoint verification. It must be used within 15 minutes.",
          "type": "string"
        },
        "lastVerificationTime": {
          "format": "google-datetime",
          "description": "Output only. Timestamp of the last successful verification for the endpoint, if any.",
          "type": "string",
          "readOnly": true
        }
      },
      "type": "object",
      "description": "Information about a verification endpoint that can be used for 2FA."
    },
    "GoogleCloudRecaptchaenterpriseV1FirewallActionRedirectAction": {
      "id": "GoogleCloudRecaptchaenterpriseV1FirewallActionRedirectAction",
      "type": "object",
      "description": "A redirect action returns a 307 (temporary redirect) response, pointing the user to a reCAPTCHA interstitial page to attach a token.",
      "properties": {}
    },
    "GoogleCloudRecaptchaenterpriseV1FraudPreventionAssessmentBehavioralTrustVerdict": {
      "properties": {
        "trust": {
          "type": "number",
          "readOnly": true,
          "format": "float",
          "description": "Output only. Probability of this transaction attempt being executed in a behaviorally trustworthy way. Values are from 0.0 (lowest) to 1.0 (highest)."
        }
      },
      "description": "Information about behavioral trust of the transaction.",
      "id": "GoogleCloudRecaptchaenterpriseV1FraudPreventionAssessmentBehavioralTrustVerdict",
      "type": "object"
    },
    "GoogleCloudRecaptchaenterpriseV1ScoreMetrics": {
      "properties": {
        "actionMetrics": {
          "additionalProperties": {
            "$ref": "GoogleCloudRecaptchaenterpriseV1ScoreDistribution"
          },
          "type": "object",
          "description": "Action-based metrics. The map key is the action name which specified by the site owners at time of the \"execute\" client-side call."
        },
        "overallMetrics": {
          "$ref": "GoogleCloudRecaptchaenterpriseV1ScoreDistribution",
          "description": "Aggregated score metrics for all traffic."
        }
      },
      "description": "Metrics related to scoring.",
      "type": "object",
      "id": "GoogleCloudRecaptchaenterpriseV1ScoreMetrics"
    },
    "GoogleCloudRecaptchaenterpriseV1SearchRelatedAccountGroupMembershipsRequest": {
      "id": "GoogleCloudRecaptchaenterpriseV1SearchRelatedAccountGroupMembershipsRequest",
      "description": "The request message to search related account group memberships.",
      "type": "object",
      "properties": {
        "pageToken": {
          "description": "Optional. A page token, received from a previous `SearchRelatedAccountGroupMemberships` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `SearchRelatedAccountGroupMemberships` must match the call that provided the page token.",
          "type": "string"
        },
        "pageSize": {
          "type": "integer",
          "format": "int32",
          "description": "Optional. The maximum number of groups to return. The service might return fewer than this value. If unspecified, at most 50 groups are returned. The maximum value is 1000; values above 1000 are coerced to 1000."
        },
        "accountId": {
          "type": "string",
          "description": "Optional. The unique stable account identifier used to search connections. The identifier should correspond to an `account_id` provided in a previous `CreateAssessment` or `AnnotateAssessment` call. Either hashed_account_id or account_id must be set, but not both."
        },
        "hashedAccountId": {
          "description": "Optional. Deprecated: use `account_id` instead. The unique stable hashed account identifier used to search connections. The identifier should correspond to a `hashed_account_id` provided in a previous `CreateAssessment` or `AnnotateAssessment` call. Either hashed_account_id or account_id must be set, but not both.",
          "deprecated": true,
          "format": "byte",
          "type": "string"
        }
      }
    },
    "GoogleCloudRecaptchaenterpriseV1AddIpOverrideResponse": {
      "properties": {},
      "type": "object",
      "description": "Response for AddIpOverride.",
      "id": "GoogleCloudRecaptchaenterpriseV1AddIpOverrideResponse"
    },
    "GoogleCloudRecaptchaenterpriseV1ReorderFirewallPoliciesResponse": {
      "properties": {},
      "description": "The reorder firewall policies response message.",
      "type": "object",
      "id": "GoogleCloudRecaptchaenterpriseV1ReorderFirewallPoliciesResponse"
    },
    "GoogleCloudRecaptchaenterpriseV1UserId": {
      "properties": {
        "phoneNumber": {
          "type": "string",
          "description": "Optional. A phone number. Should use the E.164 format."
        },
        "username": {
          "type": "string",
          "description": "Optional. A unique username, if different from all the other identifiers and `account_id` that are provided. Can be a unique login handle or display name for a user."
        },
        "email": {
          "description": "Optional. An email address.",
          "type": "string"
        }
      },
      "description": "An identifier associated with a user.",
      "type": "object",
      "id": "GoogleCloudRecaptchaenterpriseV1UserId"
    },
    "GoogleCloudRecaptchaenterpriseV1ProtectedEndpointGroup": {
      "properties": {
        "protectedEndpoints": {
          "type": "array",
          "description": "Optional. List of API endpoints to automatically protect with reCAPTCHA. If any of these endpoints is invoked from a page where a key bound to this policy is installed, a reCAPTCHA token is automatically generated and attached to the request. If multiple protected endpoints match a given API endpoint, the first one in the list is used.",
          "items": {
            "$ref": "GoogleCloudRecaptchaenterpriseV1ProtectedEndpoint"
          }
        }
      },
      "type": "object",
      "id": "GoogleCloudRecaptchaenterpriseV1ProtectedEndpointGroup",
      "description": "Configuration for API endpoints to protect with reCAPTCHA."
    },
    "GoogleCloudRecaptchaenterpriseV1TransactionDataAddress": {
      "type": "object",
      "description": "Structured address format for billing and shipping addresses.",
      "properties": {
        "locality": {
          "description": "Optional. The town/city of the address.",
          "type": "string"
        },
        "address": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Optional. The first lines of the address. The first line generally contains the street name and number, and further lines may include information such as an apartment number."
        },
        "regionCode": {
          "type": "string",
          "description": "Optional. The CLDR country/region of the address."
        },
        "postalCode": {
          "description": "Optional. The postal or ZIP code of the address.",
          "type": "string"
        },
        "administrativeArea": {
          "type": "string",
          "description": "Optional. The state, province, or otherwise administrative area of the address."
        },
        "recipient": {
          "type": "string",
          "description": "Optional. The recipient name, potentially including information such as \"care of\"."
        }
      },
      "id": "GoogleCloudRecaptchaenterpriseV1TransactionDataAddress"
    },
    "GoogleCloudRecaptchaenterpriseV1ChallengeRule": {
      "description": "A rule to configure the behavior of reCAPTCHA for conditionally presenting a challenge.",
      "type": "object",
      "id": "GoogleCloudRecaptchaenterpriseV1ChallengeRule",
      "properties": {
        "challenge": {
          "$ref": "GoogleCloudRecaptchaenterpriseV1ChallengeRuleChallengeOutcome",
          "description": "Present a challenge to the user."
        },
        "noChallenge": {
          "description": "Do not present a challenge to the user.",
          "$ref": "GoogleCloudRecaptchaenterpriseV1ChallengeRuleNoChallengeOutcome"
        },
        "condition": {
          "type": "string",
          "description": "Optional. A CEL condition that must be met for this rule to apply. If unspecified, the rule applies unconditionally. The following fields can be referenced in the condition: * `score` * `user_ip_address` * `user_asn` * `user_agent` * `verified_bots.name` * `verified_bots.bot_type` Examples: * `score < 0.5` * `user_ip_address == \"123.45.67.89\"` * `user_agent.contains(\"Chrome\")` * `score < 0.5 && user_ip_address == \"123.45.67.89\"`"
        }
      }
    },
    "GoogleCloudRecaptchaenterpriseV1Policy": {
      "description": "A complete configuration set containing multiple grouped rules defining the behavior of reCAPTCHA for fraud detection and prevention.",
      "properties": {
        "challengeRuleGroups": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudRecaptchaenterpriseV1ChallengeRuleGroup"
          },
          "description": "Optional. Rules to configure the behavior of reCAPTCHA for showing a challenge. Rule groups are evaluated in order. Evaluation stops when the first matching rule group is found."
        },
        "name": {
          "type": "string",
          "description": "Identifier. Resource name for this policy. Format: \"projects/{project}/keys/{key}/policy\" for a policy under a key."
        },
        "clientSettings": {
          "$ref": "GoogleCloudRecaptchaenterpriseV1ClientSettings",
          "description": "Required. Configuration for clients protected by this policy."
        }
      },
      "id": "GoogleCloudRecaptchaenterpriseV1Policy",
      "type": "object"
    },
    "GoogleCloudRecaptchaenterpriseV1ChallengeMetrics": {
      "properties": {
        "failedCount": {
          "type": "string",
          "description": "Count of submitted challenge solutions that were incorrect or otherwise deemed suspicious such that a subsequent challenge was triggered.",
          "format": "int64"
        },
        "pageloadCount": {
          "type": "string",
          "description": "Count of reCAPTCHA checkboxes or badges rendered. This is mostly equivalent to a count of pageloads for pages that include reCAPTCHA.",
          "format": "int64"
        },
        "passedCount": {
          "description": "Count of nocaptchas (successful verification without a challenge) plus submitted challenge solutions that were correct and resulted in verification.",
          "type": "string",
          "format": "int64"
        },
        "nocaptchaCount": {
          "type": "string",
          "format": "int64",
          "description": "Count of nocaptchas (successful verification without a challenge) issued."
        }
      },
      "id": "GoogleCloudRecaptchaenterpriseV1ChallengeMetrics",
      "type": "object",
      "description": "Metrics related to challenges."
    },
    "GoogleCloudRecaptchaenterpriseV1FirewallActionBlockAction": {
      "id": "GoogleCloudRecaptchaenterpriseV1FirewallActionBlockAction",
      "type": "object",
      "description": "A block action serves an HTTP error code a prevents the request from hitting the backend.",
      "properties": {}
    },
    "GoogleCloudRecaptchaenterpriseV1ChallengeRuleEvaluation": {
      "id": "GoogleCloudRecaptchaenterpriseV1ChallengeRuleEvaluation",
      "description": "Information about the evaluation of a `ChallengeRule`.",
      "properties": {},
      "type": "object"
    },
    "GoogleCloudRecaptchaenterpriseV1WebKeySettings": {
      "description": "Settings specific to keys that can be used by websites.",
      "id": "GoogleCloudRecaptchaenterpriseV1WebKeySettings",
      "properties": {
        "integrationType": {
          "description": "Required. Describes how this key is integrated with the website.",
          "enumDescriptions": [
            "Default type that indicates this enum hasn't been specified. This is not a valid IntegrationType, one of the other types must be specified instead.",
            "Only used to produce scores. It doesn't display the \"I'm not a robot\" checkbox and never shows captcha challenges.",
            "Displays the \"I'm not a robot\" checkbox and may show captcha challenges after it is checked.",
            "Doesn't display the \"I'm not a robot\" checkbox, but may show captcha challenges after risk analysis.",
            "Displays a visual challenge or not depending on the user risk analysis score."
          ],
          "type": "string",
          "enum": [
            "INTEGRATION_TYPE_UNSPECIFIED",
            "SCORE",
            "CHECKBOX",
            "INVISIBLE",
            "POLICY_BASED_CHALLENGE"
          ]
        },
        "allowedDomains": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. Domains or subdomains of websites allowed to use the key. All subdomains of an allowed domain are automatically allowed. A valid domain requires a host and must not include any path, port, query or fragment. Examples: 'example.com' or 'subdomain.example.com' Each key supports a maximum of 250 domains. To use a key on more domains, set `allow_all_domains` to true. When this is set, you are responsible for validating the hostname by checking the `token_properties.hostname` field in each assessment response against your list of allowed domains."
        },
        "challengeSecurityPreference": {
          "enumDescriptions": [
            "Default type that indicates this enum hasn't been specified.",
            "Key tends to show fewer and easier challenges.",
            "Key tends to show balanced (in amount and difficulty) challenges.",
            "Key tends to show more and harder challenges."
          ],
          "description": "Optional. Settings for the frequency and difficulty at which this key triggers captcha challenges. This should only be specified for `IntegrationType` CHECKBOX (defaults to BALANCE), INVISIBLE (defaults to USABILITY), or POLICY_BASED_CHALLENGE (defaults to USABILITY).",
          "type": "string",
          "enum": [
            "CHALLENGE_SECURITY_PREFERENCE_UNSPECIFIED",
            "USABILITY",
            "BALANCE",
            "SECURITY"
          ]
        },
        "allowAmpTraffic": {
          "type": "boolean",
          "description": "Optional. If set to true, the key can be used on AMP (Accelerated Mobile Pages) websites. This is supported only for the SCORE integration type."
        },
        "challengeSettings": {
          "description": "Optional. Challenge settings.",
          "$ref": "GoogleCloudRecaptchaenterpriseV1WebKeySettingsChallengeSettings"
        },
        "allowAllDomains": {
          "description": "Optional. If set to true, it means allowed_domains are not enforced.",
          "type": "boolean"
        }
      },
      "type": "object"
    },
    "GoogleCloudRecaptchaenterpriseV1FirewallPolicy": {
      "type": "object",
      "properties": {
        "description": {
          "type": "string",
          "description": "Optional. A description of what this policy aims to achieve, for convenience purposes. The description can at most include 256 UTF-8 characters."
        },
        "name": {
          "type": "string",
          "description": "Identifier. The resource name for the FirewallPolicy in the format `projects/{project}/firewallpolicies/{firewallpolicy}`."
        },
        "actions": {
          "type": "array",
          "description": "Optional. The actions that the caller should take regarding user access. There should be at most one terminal action. A terminal action is any action that forces a response, such as `AllowAction`, `BlockAction` or `SubstituteAction`. Zero or more non-terminal actions such as `SetHeader` might be specified. A single policy can contain up to 16 actions.",
          "items": {
            "$ref": "GoogleCloudRecaptchaenterpriseV1FirewallAction"
          }
        },
        "condition": {
          "type": "string",
          "description": "Optional. A CEL (Common Expression Language) conditional expression that specifies if this policy applies to an incoming user request. If this condition evaluates to true and the requested path matched the path pattern, the associated actions should be executed by the caller. The condition string is checked for CEL syntax correctness on creation. For more information, see the [CEL spec](https://github.com/google/cel-spec) and its [language definition](https://github.com/google/cel-spec/blob/master/doc/langdef.md). A condition has a max length of 500 characters."
        },
        "path": {
          "description": "Optional. The path for which this policy applies, specified as a glob pattern. For more information on glob, see the [manual page](https://man7.org/linux/man-pages/man7/glob.7.html). A path has a max length of 200 characters.",
          "type": "string"
        }
      },
      "description": "A FirewallPolicy represents a single matching pattern and resulting actions to take.",
      "id": "GoogleCloudRecaptchaenterpriseV1FirewallPolicy"
    },
    "GoogleCloudRecaptchaenterpriseV1TransactionDataGatewayInfo": {
      "id": "GoogleCloudRecaptchaenterpriseV1TransactionDataGatewayInfo",
      "type": "object",
      "description": "Details about the transaction from the gateway.",
      "properties": {
        "avsResponseCode": {
          "type": "string",
          "description": "Optional. AVS response code from the gateway (available only when reCAPTCHA Enterprise is called after authorization)."
        },
        "name": {
          "type": "string",
          "description": "Optional. Name of the gateway service (for example, stripe, square, paypal)."
        },
        "cvvResponseCode": {
          "description": "Optional. CVV response code from the gateway (available only when reCAPTCHA Enterprise is called after authorization).",
          "type": "string"
        },
        "gatewayResponseCode": {
          "description": "Optional. Gateway response code describing the state of the transaction.",
          "type": "string"
        }
      }
    },
    "GoogleCloudRecaptchaenterpriseV1ListRelatedAccountGroupMembershipsResponse": {
      "description": "The response to a `ListRelatedAccountGroupMemberships` call.",
      "type": "object",
      "id": "GoogleCloudRecaptchaenterpriseV1ListRelatedAccountGroupMembershipsResponse",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        },
        "relatedAccountGroupMemberships": {
          "items": {
            "$ref": "GoogleCloudRecaptchaenterpriseV1RelatedAccountGroupMembership"
          },
          "type": "array",
          "description": "The memberships listed by the query."
        }
      }
    },
    "GoogleCloudRecaptchaenterpriseV1AndroidKeySettings": {
      "type": "object",
      "properties": {
        "supportNonGoogleAppStoreDistribution": {
          "type": "boolean",
          "description": "Optional. Set to true for keys that are used in an Android application that is available for download in app stores in addition to the Google Play Store."
        },
        "allowedPackageNames": {
          "description": "Optional. Android package names of apps allowed to use the key. Example: 'com.companyname.appname' Each key supports a maximum of 250 package names. To use a key on more apps, set `allow_all_package_names` to true. When this is set, you are responsible for validating the package name by checking the `token_properties.android_package_name` field in each assessment response against your list of allowed package names.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "allowAllPackageNames": {
          "type": "boolean",
          "description": "Optional. If set to true, allowed_package_names are not enforced."
        }
      },
      "description": "Settings specific to keys that can be used by Android apps.",
      "id": "GoogleCloudRecaptchaenterpriseV1AndroidKeySettings"
    },
    "GoogleCloudRecaptchaenterpriseV1AccountVerificationInfo": {
      "type": "object",
      "description": "Information about account verification, used for identity verification.",
      "id": "GoogleCloudRecaptchaenterpriseV1AccountVerificationInfo",
      "properties": {
        "username": {
          "type": "string",
          "description": "Username of the account that is being verified. Deprecated. Customers should now provide the `account_id` field in `event.user_info`.",
          "deprecated": true
        },
        "latestVerificationResult": {
          "type": "string",
          "readOnly": true,
          "enum": [
            "RESULT_UNSPECIFIED",
            "SUCCESS_USER_VERIFIED",
            "ERROR_USER_NOT_VERIFIED",
            "ERROR_SITE_ONBOARDING_INCOMPLETE",
            "ERROR_RECIPIENT_NOT_ALLOWED",
            "ERROR_RECIPIENT_ABUSE_LIMIT_EXHAUSTED",
            "ERROR_CRITICAL_INTERNAL",
            "ERROR_CUSTOMER_QUOTA_EXHAUSTED",
            "ERROR_VERIFICATION_BYPASSED",
            "ERROR_VERDICT_MISMATCH"
          ],
          "enumDescriptions": [
            "No information about the latest account verification.",
            "The user was successfully verified. This means the account verification challenge was successfully completed.",
            "The user failed the verification challenge.",
            "The site is not properly onboarded to use the account verification feature.",
            "The recipient is not allowed for account verification. This can occur during integration but should not occur in production.",
            "The recipient has already been sent too many verification codes in a short amount of time.",
            "The verification flow could not be completed due to a critical internal error.",
            "The client has exceeded their two factor request quota for this period of time.",
            "The request cannot be processed at the time because of an incident. This bypass can be restricted to a problematic destination email domain, a customer, or could affect the entire service.",
            "The request parameters do not match with the token provided and cannot be processed."
          ],
          "description": "Output only. Result of the latest account verification challenge."
        },
        "endpoints": {
          "description": "Optional. Endpoints that can be used for identity verification.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudRecaptchaenterpriseV1EndpointVerificationInfo"
          }
        },
        "languageCode": {
          "description": "Optional. Language code preference for the verification message, set as a IETF BCP 47 language code.",
          "type": "string"
        }
      }
    },
    "GoogleCloudRecaptchaenterpriseV1RetrieveLegacySecretKeyResponse": {
      "properties": {
        "legacySecretKey": {
          "description": "The secret key (also known as shared secret) authorizes communication between your application backend and the reCAPTCHA Enterprise server to create an assessment. The secret key needs to be kept safe for security purposes.",
          "type": "string"
        }
      },
      "id": "GoogleCloudRecaptchaenterpriseV1RetrieveLegacySecretKeyResponse",
      "type": "object",
      "description": "Secret key is used only in legacy reCAPTCHA. It must be used in a 3rd party integration with legacy reCAPTCHA."
    },
    "GoogleCloudRecaptchaenterpriseV1FraudPreventionAssessmentRiskReason": {
      "description": "Risk reasons applicable to the Fraud Prevention assessment.",
      "properties": {
        "reason": {
          "enum": [
            "REASON_UNSPECIFIED",
            "HIGH_TRANSACTION_VELOCITY",
            "EXCESSIVE_ENUMERATION_PATTERN",
            "SHORT_IDENTITY_HISTORY",
            "GEOLOCATION_DISCREPANCY",
            "ASSOCIATED_WITH_FRAUD_CLUSTER"
          ],
          "description": "Output only. Risk reasons applicable to the Fraud Prevention assessment.",
          "type": "string",
          "enumDescriptions": [
            "Default unspecified type.",
            "A suspiciously high number of recent transactions have used identifiers present in this transaction.",
            "User is cycling through a suspiciously large number of identifiers, suggesting enumeration or validation attacks within a potential fraud network.",
            "User has a short history or no history in the reCAPTCHA network, suggesting the possibility of synthetic identity generation.",
            "Identifiers used in this transaction originate from an unusual or conflicting set of geolocations.",
            "This transaction is linked to a cluster of known fraudulent activity."
          ],
          "readOnly": true
        }
      },
      "id": "GoogleCloudRecaptchaenterpriseV1FraudPreventionAssessmentRiskReason",
      "type": "object"
    },
    "GoogleCloudRecaptchaenterpriseV1Key": {
      "type": "object",
      "description": "A key used to identify and configure applications (web and/or mobile) that use reCAPTCHA Enterprise.",
      "id": "GoogleCloudRecaptchaenterpriseV1Key",
      "properties": {
        "expressSettings": {
          "description": "Settings for keys that can be used by reCAPTCHA Express.",
          "$ref": "GoogleCloudRecaptchaenterpriseV1ExpressKeySettings"
        },
        "universalSettings": {
          "$ref": "GoogleCloudRecaptchaenterpriseV1UniversalKeySettings",
          "description": "Settings for keys that are configured through their Policy."
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. See [Creating and managing labels] (https://cloud.google.com/recaptcha/docs/labels).",
          "type": "object"
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The timestamp corresponding to the creation of this key.",
          "readOnly": true
        },
        "testingOptions": {
          "description": "Optional. Options for user acceptance testing.",
          "$ref": "GoogleCloudRecaptchaenterpriseV1TestingOptions"
        },
        "webSettings": {
          "description": "Settings for keys that can be used by websites.",
          "$ref": "GoogleCloudRecaptchaenterpriseV1WebKeySettings"
        },
        "androidSettings": {
          "$ref": "GoogleCloudRecaptchaenterpriseV1AndroidKeySettings",
          "description": "Settings for keys that can be used by Android apps."
        },
        "name": {
          "type": "string",
          "description": "Identifier. The resource name for the Key in the format `projects/{project}/keys/{key}`."
        },
        "displayName": {
          "type": "string",
          "description": "Required. Human-readable display name of this key. Modifiable by user."
        },
        "iosSettings": {
          "description": "Settings for keys that can be used by iOS apps.",
          "$ref": "GoogleCloudRecaptchaenterpriseV1IOSKeySettings"
        },
        "wafSettings": {
          "$ref": "GoogleCloudRecaptchaenterpriseV1WafSettings",
          "description": "Optional. Settings for Web Application Firewall (WAF)."
        }
      }
    },
    "GoogleCloudRecaptchaenterpriseV1FirewallActionIncludeRecaptchaScriptAction": {
      "description": "An include reCAPTCHA script action involves injecting reCAPTCHA JavaScript code into the HTML returned by the site backend. This reCAPTCHA script is tasked with collecting user signals on the requested web page, issuing tokens as a cookie within the site domain, and enabling their utilization in subsequent page requests.",
      "type": "object",
      "properties": {},
      "id": "GoogleCloudRecaptchaenterpriseV1FirewallActionIncludeRecaptchaScriptAction"
    },
    "GoogleCloudRecaptchaenterpriseV1RemoveIpOverrideRequest": {
      "description": "The RemoveIpOverride request message.",
      "type": "object",
      "id": "GoogleCloudRecaptchaenterpriseV1RemoveIpOverrideRequest",
      "properties": {
        "ipOverrideData": {
          "$ref": "GoogleCloudRecaptchaenterpriseV1IpOverrideData",
          "description": "Required. IP override to be removed from the key."
        }
      }
    },
    "GoogleCloudRecaptchaenterpriseV1FraudSignalsUserSignals": {
      "description": "Signals describing the user involved in this transaction.",
      "type": "object",
      "properties": {
        "syntheticRisk": {
          "format": "float",
          "type": "number",
          "readOnly": true,
          "description": "Output only. Likelihood (from 0.0 to 1.0) this user includes synthetic components in their identity, such as a randomly generated email address, temporary phone number, or fake shipping address."
        },
        "activeDaysLowerBound": {
          "type": "integer",
          "description": "Output only. This user (based on email, phone, and other identifiers) has been seen on the internet for at least this number of days.",
          "readOnly": true,
          "format": "int32"
        }
      },
      "id": "GoogleCloudRecaptchaenterpriseV1FraudSignalsUserSignals"
    },
    "GoogleCloudRecaptchaenterpriseV1FraudSignals": {
      "id": "GoogleCloudRecaptchaenterpriseV1FraudSignals",
      "properties": {
        "userSignals": {
          "readOnly": true,
          "$ref": "GoogleCloudRecaptchaenterpriseV1FraudSignalsUserSignals",
          "description": "Output only. Signals describing the end user in this transaction."
        },
        "cardSignals": {
          "readOnly": true,
          "$ref": "GoogleCloudRecaptchaenterpriseV1FraudSignalsCardSignals",
          "description": "Output only. Signals describing the payment card or cards used in this transaction."
        }
      },
      "description": "Fraud signals describing users and cards involved in the transaction.",
      "type": "object"
    },
    "GoogleCloudRecaptchaenterpriseV1ListIpOverridesResponse": {
      "id": "GoogleCloudRecaptchaenterpriseV1ListIpOverridesResponse",
      "description": "Response for ListIpOverrides.",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "Token to retrieve the next page of results. If this field is empty, no keys remain in the results."
        },
        "ipOverrides": {
          "type": "array",
          "description": "IP Overrides details.",
          "items": {
            "$ref": "GoogleCloudRecaptchaenterpriseV1IpOverrideData"
          }
        }
      }
    },
    "GoogleCloudRecaptchaenterpriseV1SearchRelatedAccountGroupMembershipsResponse": {
      "description": "The response to a `SearchRelatedAccountGroupMemberships` call.",
      "id": "GoogleCloudRecaptchaenterpriseV1SearchRelatedAccountGroupMembershipsResponse",
      "properties": {
        "relatedAccountGroupMemberships": {
          "type": "array",
          "description": "The queried memberships.",
          "items": {
            "$ref": "GoogleCloudRecaptchaenterpriseV1RelatedAccountGroupMembership"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        }
      },
      "type": "object"
    },
    "GoogleCloudRecaptchaenterpriseV1WebKeySettingsChallengeSettings": {
      "type": "object",
      "id": "GoogleCloudRecaptchaenterpriseV1WebKeySettingsChallengeSettings",
      "description": "Settings for POLICY_BASED_CHALLENGE keys to control when a challenge is triggered.",
      "properties": {
        "actionSettings": {
          "type": "object",
          "description": "Optional. The action to score threshold map. The action name should be the same as the action name passed in the `data-action` attribute (see https://cloud.google.com/recaptcha/docs/actions-website). Action names are case-insensitive. There is a maximum of 100 action settings. An action name has a maximum length of 100.",
          "additionalProperties": {
            "$ref": "GoogleCloudRecaptchaenterpriseV1WebKeySettingsActionSettings"
          }
        },
        "defaultSettings": {
          "description": "Required. Defines when a challenge is triggered (unless the default threshold is overridden for the given action, see `action_settings`).",
          "$ref": "GoogleCloudRecaptchaenterpriseV1WebKeySettingsActionSettings"
        }
      }
    },
    "GoogleCloudRecaptchaenterpriseV1AppleDeveloperId": {
      "properties": {
        "keyId": {
          "description": "Required. The Apple developer key ID (10-character string).",
          "type": "string"
        },
        "privateKey": {
          "description": "Required. Input only. A private key (downloaded as a text file with a .p8 file extension) generated for your Apple Developer account. Ensure that Apple DeviceCheck is enabled for the private key.",
          "type": "string"
        },
        "teamId": {
          "type": "string",
          "description": "Required. The Apple team ID (10-character string) owning the provisioning profile used to build your application."
        }
      },
      "type": "object",
      "description": "Contains fields that are required to perform Apple-specific integrity checks.",
      "id": "GoogleCloudRecaptchaenterpriseV1AppleDeveloperId"
    },
    "GoogleCloudRecaptchaenterpriseV1RemoveIpOverrideResponse": {
      "description": "Response for RemoveIpOverride.",
      "id": "GoogleCloudRecaptchaenterpriseV1RemoveIpOverrideResponse",
      "type": "object",
      "properties": {}
    },
    "GoogleRpcStatus": {
      "type": "object",
      "properties": {
        "details": {
          "type": "array",
          "items": {
            "type": "object",
            "additionalProperties": {
              "description": "Properties of the object. Contains field @type with type URL.",
              "type": "any"
            }
          },
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use."
        },
        "message": {
          "type": "string",
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client."
        },
        "code": {
          "format": "int32",
          "type": "integer",
          "description": "The status code, which should be an enum value of google.rpc.Code."
        }
      },
      "id": "GoogleRpcStatus",
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors)."
    },
    "GoogleCloudRecaptchaenterpriseV1PolicyEvaluation": {
      "id": "GoogleCloudRecaptchaenterpriseV1PolicyEvaluation",
      "properties": {
        "challengeRuleEvaluation": {
          "description": "Output only. Populated if one or more Challenge rules were matched. Its presence in the assessment indicates that at least one challenge rule was matched and determined whether a challenge was presented to the user.",
          "readOnly": true,
          "$ref": "GoogleCloudRecaptchaenterpriseV1ChallengeRuleEvaluation"
        }
      },
      "description": "Information about the policy evaluation.",
      "type": "object"
    },
    "GoogleCloudRecaptchaenterpriseV1AddIpOverrideRequest": {
      "type": "object",
      "properties": {
        "ipOverrideData": {
          "$ref": "GoogleCloudRecaptchaenterpriseV1IpOverrideData",
          "description": "Required. IP override added to the key."
        }
      },
      "id": "GoogleCloudRecaptchaenterpriseV1AddIpOverrideRequest",
      "description": "The AddIpOverride request message."
    },
    "GoogleCloudRecaptchaenterpriseV1ScoreDistribution": {
      "id": "GoogleCloudRecaptchaenterpriseV1ScoreDistribution",
      "properties": {
        "scoreBuckets": {
          "type": "object",
          "description": "Map key is score value multiplied by 100. The scores are discrete values between [0, 1]. The maximum number of buckets is on order of a few dozen, but typically much lower (ie. 10).",
          "additionalProperties": {
            "format": "int64",
            "type": "string"
          }
        }
      },
      "description": "Score distribution.",
      "type": "object"
    },
    "GoogleCloudRecaptchaenterpriseV1Event": {
      "type": "object",
      "description": "The event being assessed.",
      "id": "GoogleCloudRecaptchaenterpriseV1Event",
      "properties": {
        "wafTokenAssessment": {
          "description": "Optional. Flag for running Web Application Firewall (WAF) token assessment. If enabled, the token must be specified, and have been created by a WAF-enabled key.",
          "type": "boolean"
        },
        "fraudPrevention": {
          "description": "Optional. The Fraud Prevention setting for this assessment.",
          "type": "string",
          "enum": [
            "FRAUD_PREVENTION_UNSPECIFIED",
            "ENABLED",
            "DISABLED"
          ],
          "enumDescriptions": [
            "Default, unspecified setting. `fraud_prevention_assessment` is returned if `transaction_data` is present in `Event` and Fraud Prevention is enabled in the Google Cloud console.",
            "Enable Fraud Prevention for this assessment, if Fraud Prevention is enabled in the Google Cloud console.",
            "Disable Fraud Prevention for this assessment, regardless of the Google Cloud console settings."
          ]
        },
        "userIpAddress": {
          "description": "Optional. The IP address in the request from the user's device related to this event.",
          "type": "string"
        },
        "ja4": {
          "description": "Optional. JA4 fingerprint for SSL clients. To learn how to compute this fingerprint, please refer to https://github.com/FoxIO-LLC/ja4.",
          "type": "string"
        },
        "transactionData": {
          "$ref": "GoogleCloudRecaptchaenterpriseV1TransactionData",
          "description": "Optional. Data describing a payment transaction to be assessed. Sending this data enables reCAPTCHA Enterprise Fraud Prevention and the FraudPreventionAssessment component in the response."
        },
        "headers": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. HTTP header information about the request."
        },
        "hashedAccountId": {
          "type": "string",
          "description": "Optional. Deprecated: use `user_info.account_id` instead. Unique stable hashed user identifier for the request. The identifier must be hashed using hmac-sha256 with stable secret.",
          "format": "byte",
          "deprecated": true
        },
        "userInfo": {
          "description": "Optional. Information about the user that generates this event, when they can be identified. They are often identified through the use of an account for logged-in requests or login/registration requests, or by providing user identifiers for guest actions like checkout.",
          "$ref": "GoogleCloudRecaptchaenterpriseV1UserInfo"
        },
        "expectedAction": {
          "description": "Optional. The expected action for this type of event. This should be the same action provided at token generation time on client-side platforms already integrated with recaptcha enterprise. Required for Universal keys.",
          "type": "string"
        },
        "token": {
          "type": "string",
          "description": "Optional. The user response token provided by the reCAPTCHA Enterprise client-side integration on your site."
        },
        "express": {
          "description": "Optional. Flag for a reCAPTCHA express request for an assessment without a token. If enabled, `site_key` must reference an Express site key.",
          "type": "boolean"
        },
        "requestedUri": {
          "description": "Optional. The URI resource the user requested that triggered an assessment.",
          "type": "string"
        },
        "ja3": {
          "description": "Optional. JA3 fingerprint for SSL clients. To learn how to compute this fingerprint, please refer to https://github.com/salesforce/ja3.",
          "type": "string"
        },
        "userAgent": {
          "type": "string",
          "description": "Optional. The user agent present in the request from the user's device related to this event."
        },
        "firewallPolicyEvaluation": {
          "description": "Optional. Flag for enabling firewall policy config assessment. If this flag is enabled, the firewall policy is evaluated and a suggested firewall action is returned in the response.",
          "type": "boolean"
        },
        "siteKey": {
          "type": "string",
          "description": "Optional. The site key that was used to invoke reCAPTCHA Enterprise on your site and generate the token."
        }
      }
    },
    "GoogleCloudRecaptchaenterpriseV1TransactionEvent": {
      "type": "object",
      "id": "GoogleCloudRecaptchaenterpriseV1TransactionEvent",
      "properties": {
        "reason": {
          "type": "string",
          "description": "Optional. The reason or standardized code that corresponds with this transaction event, if one exists. For example, a CHARGEBACK event with code 6005."
        },
        "eventType": {
          "description": "Optional. The type of this transaction event.",
          "enumDescriptions": [
            "Default, unspecified event type.",
            "Indicates that the transaction is approved by the merchant. The accompanying reasons can include terms such as 'INHOUSE', 'ACCERTIFY', 'CYBERSOURCE', or 'MANUAL_REVIEW'.",
            "Indicates that the transaction is denied and concluded due to risks detected by the merchant. The accompanying reasons can include terms such as 'INHOUSE', 'ACCERTIFY', 'CYBERSOURCE', or 'MANUAL_REVIEW'.",
            "Indicates that the transaction is being evaluated by a human, due to suspicion or risk.",
            "Indicates that the authorization attempt with the card issuer succeeded.",
            "Indicates that the authorization attempt with the card issuer failed. The accompanying reasons can include Visa's '54' indicating that the card is expired, or '82' indicating that the CVV is incorrect.",
            "Indicates that the transaction is completed because the funds were settled.",
            "Indicates that the transaction could not be completed because the funds were not settled.",
            "Indicates that the transaction has been canceled. Specify the reason for the cancellation. For example, 'INSUFFICIENT_INVENTORY'.",
            "Indicates that the merchant has received a chargeback inquiry due to fraud for the transaction, requesting additional information before a fraud chargeback is officially issued and a formal chargeback notification is sent.",
            "Indicates that the merchant has received a chargeback alert due to fraud for the transaction. The process of resolving the dispute without involving the payment network is started.",
            "Indicates that a fraud notification is issued for the transaction, sent by the payment instrument's issuing bank because the transaction appears to be fraudulent. We recommend including TC40 or SAFE data in the `reason` field for this event type. For partial chargebacks, we recommend that you include an amount in the `value` field.",
            "Indicates that the merchant is informed by the payment network that the transaction has entered the chargeback process due to fraud. Reason code examples include Discover's '6005' and '6041'. For partial chargebacks, we recommend that you include an amount in the `value` field.",
            "Indicates that the transaction has entered the chargeback process due to fraud, and that the merchant has chosen to enter representment. Reason examples include Discover's '6005' and '6041'. For partial chargebacks, we recommend that you include an amount in the `value` field.",
            "Indicates that the transaction has had a fraud chargeback which was illegitimate and was reversed as a result. For partial chargebacks, we recommend that you include an amount in the `value` field.",
            "Indicates that the merchant has received a refund for a completed transaction. For partial refunds, we recommend that you include an amount in the `value` field. Reason example: 'TAX_EXEMPT' (partial refund of exempt tax)",
            "Indicates that the merchant has received a refund request for this transaction, but that they have declined it. For partial refunds, we recommend that you include an amount in the `value` field. Reason example: 'TAX_EXEMPT' (partial refund of exempt tax)",
            "Indicates that the completed transaction was refunded by the merchant. For partial refunds, we recommend that you include an amount in the `value` field. Reason example: 'TAX_EXEMPT' (partial refund of exempt tax)",
            "Indicates that the completed transaction was refunded by the merchant, and that this refund was reversed. For partial refunds, we recommend that you include an amount in the `value` field."
          ],
          "enum": [
            "TRANSACTION_EVENT_TYPE_UNSPECIFIED",
            "MERCHANT_APPROVE",
            "MERCHANT_DENY",
            "MANUAL_REVIEW",
            "AUTHORIZATION",
            "AUTHORIZATION_DECLINE",
            "PAYMENT_CAPTURE",
            "PAYMENT_CAPTURE_DECLINE",
            "CANCEL",
            "CHARGEBACK_INQUIRY",
            "CHARGEBACK_ALERT",
            "FRAUD_NOTIFICATION",
            "CHARGEBACK",
            "CHARGEBACK_REPRESENTMENT",
            "CHARGEBACK_REVERSE",
            "REFUND_REQUEST",
            "REFUND_DECLINE",
            "REFUND",
            "REFUND_REVERSE"
          ],
          "type": "string"
        },
        "eventTime": {
          "format": "google-datetime",
          "description": "Optional. Timestamp when this transaction event occurred; otherwise assumed to be the time of the API call.",
          "type": "string"
        },
        "value": {
          "type": "number",
          "description": "Optional. The value that corresponds with this transaction event, if one exists. For example, a refund event where $5.00 was refunded. Currency is obtained from the original transaction data.",
          "format": "double"
        }
      },
      "description": "Describes an event in the lifecycle of a payment transaction."
    },
    "GoogleCloudRecaptchaenterpriseV1AnnotateAssessmentResponse": {
      "description": "Empty response for AnnotateAssessment.",
      "properties": {},
      "id": "GoogleCloudRecaptchaenterpriseV1AnnotateAssessmentResponse",
      "type": "object"
    },
    "GoogleCloudRecaptchaenterpriseV1UserInfo": {
      "id": "GoogleCloudRecaptchaenterpriseV1UserInfo",
      "description": "User information associated with a request protected by reCAPTCHA Enterprise.",
      "type": "object",
      "properties": {
        "createAccountTime": {
          "description": "Optional. Creation time for this account associated with this user. Leave blank for non logged-in actions, guest checkout, or when there is no account associated with the current user.",
          "type": "string",
          "format": "google-datetime"
        },
        "userIds": {
          "description": "Optional. Identifiers associated with this user or request.",
          "items": {
            "$ref": "GoogleCloudRecaptchaenterpriseV1UserId"
          },
          "type": "array"
        },
        "accountId": {
          "type": "string",
          "description": "Optional. For logged-in requests or login/registration requests, the unique account identifier associated with this user. You can use the username if it is stable (meaning it is the same for every request associated with the same user), or any stable user ID of your choice. Leave blank for non logged-in actions or guest checkout."
        }
      }
    },
    "GoogleCloudRecaptchaenterpriseV1WebKeySettingsActionSettings": {
      "id": "GoogleCloudRecaptchaenterpriseV1WebKeySettingsActionSettings",
      "properties": {
        "scoreThreshold": {
          "type": "number",
          "format": "float",
          "description": "Required. A challenge is triggered if the end-user score is below that threshold. Value must be between 0 and 1 (inclusive)."
        }
      },
      "type": "object",
      "description": "Per-action challenge settings."
    },
    "GoogleCloudRecaptchaenterpriseV1Bot": {
      "id": "GoogleCloudRecaptchaenterpriseV1Bot",
      "description": "Bot information and metadata.",
      "type": "object",
      "properties": {
        "botType": {
          "enum": [
            "BOT_TYPE_UNSPECIFIED",
            "AI_AGENT",
            "CONTENT_SCRAPER",
            "SEARCH_INDEXER"
          ],
          "description": "Optional. Enumerated field representing the type of bot.",
          "enumDescriptions": [
            "Default unspecified type.",
            "Software program that interacts with a site and performs tasks autonomously.",
            "Software that extracts specific data from sites for use.",
            "Software that crawls sites and stores content for the purpose of efficient retrieval, likely as part of a search engine."
          ],
          "type": "string"
        },
        "name": {
          "description": "Optional. Enumerated string value that indicates the identity of the bot, formatted in kebab-case. Current example values include the following: * google-agent - AI_AGENT * browser-base - AI_AGENT * chat-gpt - AI_AGENT * aws-bedrock - AI_AGENT * cybaa-bot - AI_AGENT * cloudflare - AI_AGENT * payhawk - AI_AGENT * duck-duck-go - SEARCH_INDEXER * mediaboard - CONTENT_SCRAPER * marker-io - AI_AGENT * broadcom - AI_AGENT * anchor-browser - AI_AGENT * shopify - AI_AGENT * stackscope - CONTENT_SCRAPER * manus - AI_AGENT * kernel-sh - AI_AGENT * zvelo - SEARCH_INDEXER Ensure that your applications can handle identifier values not explicitly listed here. Deprecated values might take some time to stop showing up in responses. New values can be pushed so this list should be taken as non exhaustive.",
          "type": "string"
        }
      }
    },
    "GoogleCloudRecaptchaenterpriseV1FraudSignalsCardSignals": {
      "description": "Signals describing the payment card used in this transaction.",
      "properties": {
        "cardLabels": {
          "description": "Output only. The labels for the payment card in this transaction.",
          "items": {
            "enumDescriptions": [
              "No label specified.",
              "This card has been detected as prepaid.",
              "This card has been detected as virtual, such as a card number generated for a single transaction or merchant.",
              "This card has been detected as being used in an unexpected geographic location."
            ],
            "type": "string",
            "enum": [
              "CARD_LABEL_UNSPECIFIED",
              "PREPAID",
              "VIRTUAL",
              "UNEXPECTED_LOCATION"
            ]
          },
          "readOnly": true,
          "type": "array"
        }
      },
      "type": "object",
      "id": "GoogleCloudRecaptchaenterpriseV1FraudSignalsCardSignals"
    },
    "GoogleCloudRecaptchaenterpriseV1AccountDefenderAssessmentAccountTakeoverVerdict": {
      "type": "object",
      "id": "GoogleCloudRecaptchaenterpriseV1AccountDefenderAssessmentAccountTakeoverVerdict",
      "description": "Account takeover risk assessment.",
      "properties": {
        "trustReasons": {
          "items": {
            "$ref": "GoogleCloudRecaptchaenterpriseV1AccountDefenderAssessmentAccountTrustReason"
          },
          "type": "array",
          "readOnly": true,
          "description": "Output only. Unordered list. Reasons why the request appears trustworthy. Trust reasons can be returned even if the risk is high, as risky requests can still have some trust signals."
        },
        "riskReasons": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudRecaptchaenterpriseV1AccountDefenderAssessmentAccountRiskReason"
          },
          "description": "Output only. Unordered list. Reasons why the request appears risky. Risk reasons can be returned even if the risk is low, as trustworthy requests can still have some risk signals.",
          "readOnly": true
        },
        "risk": {
          "format": "float",
          "type": "number",
          "readOnly": true,
          "description": "Output only. Account takeover attempt probability. Values are from 0.0 (lowest risk) to 1.0 (highest risk)."
        }
      }
    },
    "GoogleCloudRecaptchaenterpriseV1ListFirewallPoliciesResponse": {
      "type": "object",
      "description": "Response to request to list firewall policies belonging to a project.",
      "id": "GoogleCloudRecaptchaenterpriseV1ListFirewallPoliciesResponse",
      "properties": {
        "firewallPolicies": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudRecaptchaenterpriseV1FirewallPolicy"
          },
          "description": "Policy details."
        },
        "nextPageToken": {
          "description": "Token to retrieve the next page of results. It is set to empty if no policies remain in results.",
          "type": "string"
        }
      }
    },
    "GoogleCloudRecaptchaenterpriseV1TokenProperties": {
      "id": "GoogleCloudRecaptchaenterpriseV1TokenProperties",
      "description": "Properties of the provided event token.",
      "type": "object",
      "properties": {
        "hostname": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The hostname of the page on which the token was generated (Web keys only)."
        },
        "androidPackageName": {
          "description": "Output only. The name of the Android package with which the token was generated (Android keys only).",
          "readOnly": true,
          "type": "string"
        },
        "action": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Action name provided at token generation."
        },
        "createTime": {
          "format": "google-datetime",
          "description": "Output only. The timestamp corresponding to the generation of the token.",
          "readOnly": true,
          "type": "string"
        },
        "clientSignalsFailed": {
          "readOnly": true,
          "description": "Output only. Indicates a failure collecting reCAPTCHA signals at token generation. This might be a transient condition, or persistent for a user’s environment.",
          "type": "boolean"
        },
        "invalidReason": {
          "enumDescriptions": [
            "Default unspecified type.",
            "If the failure reason was not accounted for.",
            "The provided user verification token was malformed.",
            "The user verification token had expired.",
            "The user verification had already been seen.",
            "The user verification token was not present.",
            "A retriable error (such as network failure) occurred on the browser. Could easily be simulated by an attacker.",
            "The action provided at token generation was different than the `expected_action` in the assessment request. The comparison is case-insensitive. This reason can only be returned if all of the following are true: - your `site_key` has the POLICY_BASED_CHALLENGE integration type - you set an action score threshold higher than 0.0 - you provided a non-empty `expected_action`",
            "The key used to generate the token does not match the `site_key`.",
            "The domain of the page on which the token was generated does not match the `allowed_domains` configured in the `site_key`."
          ],
          "readOnly": true,
          "description": "Output only. Reason associated with the response when valid = false.",
          "type": "string",
          "enum": [
            "INVALID_REASON_UNSPECIFIED",
            "UNKNOWN_INVALID_REASON",
            "MALFORMED",
            "EXPIRED",
            "DUPE",
            "MISSING",
            "BROWSER_ERROR",
            "UNEXPECTED_ACTION",
            "KEY_MISMATCH",
            "DOMAIN_MISMATCH"
          ]
        },
        "iosBundleId": {
          "description": "Output only. The ID of the iOS bundle with which the token was generated (iOS keys only).",
          "type": "string",
          "readOnly": true
        },
        "valid": {
          "type": "boolean",
          "readOnly": true,
          "description": "Output only. Indicates whether the provided user response token is valid. If `false`, the token is invalid, either because the user failed the challenge or for a reason provided in the `invalid_reason` field."
        }
      }
    },
    "GoogleCloudRecaptchaenterpriseV1ListRelatedAccountGroupsResponse": {
      "type": "object",
      "properties": {
        "relatedAccountGroups": {
          "description": "The groups of related accounts listed by the query.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudRecaptchaenterpriseV1RelatedAccountGroup"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        }
      },
      "id": "GoogleCloudRecaptchaenterpriseV1ListRelatedAccountGroupsResponse",
      "description": "The response to a `ListRelatedAccountGroups` call."
    },
    "GoogleCloudRecaptchaenterpriseV1FirewallPolicyAssessment": {
      "id": "GoogleCloudRecaptchaenterpriseV1FirewallPolicyAssessment",
      "description": "Policy config assessment.",
      "type": "object",
      "properties": {
        "error": {
          "description": "Output only. If the processing of a policy config fails, an error is populated and the firewall_policy is left empty.",
          "readOnly": true,
          "$ref": "GoogleRpcStatus"
        },
        "firewallPolicy": {
          "description": "Output only. The policy that matched the request. If more than one policy may match, this is the first match. If no policy matches the incoming request, the policy field is left empty.",
          "$ref": "GoogleCloudRecaptchaenterpriseV1FirewallPolicy",
          "readOnly": true
        }
      }
    },
    "GoogleCloudRecaptchaenterpriseV1FirewallAction": {
      "type": "object",
      "description": "An individual action. Each action represents what to do if a policy matches.",
      "properties": {
        "block": {
          "$ref": "GoogleCloudRecaptchaenterpriseV1FirewallActionBlockAction",
          "description": "This action denies access to a given page. The user gets an HTTP error code."
        },
        "includeRecaptchaScript": {
          "description": "This action injects reCAPTCHA JavaScript code into the HTML page returned by the site backend.",
          "$ref": "GoogleCloudRecaptchaenterpriseV1FirewallActionIncludeRecaptchaScriptAction"
        },
        "substitute": {
          "$ref": "GoogleCloudRecaptchaenterpriseV1FirewallActionSubstituteAction",
          "description": "This action transparently serves a different page to an offending user."
        },
        "allow": {
          "description": "The user request did not match any policy and should be allowed access to the requested resource.",
          "$ref": "GoogleCloudRecaptchaenterpriseV1FirewallActionAllowAction"
        },
        "setHeader": {
          "description": "This action sets a custom header but allow the request to continue to the customer backend.",
          "$ref": "GoogleCloudRecaptchaenterpriseV1FirewallActionSetHeaderAction"
        },
        "redirect": {
          "$ref": "GoogleCloudRecaptchaenterpriseV1FirewallActionRedirectAction",
          "description": "This action redirects the request to a reCAPTCHA interstitial to attach a token."
        }
      },
      "id": "GoogleCloudRecaptchaenterpriseV1FirewallAction"
    },
    "GoogleCloudRecaptchaenterpriseV1PhoneAuthenticationEvent": {
      "id": "GoogleCloudRecaptchaenterpriseV1PhoneAuthenticationEvent",
      "type": "object",
      "properties": {
        "phoneNumber": {
          "description": "Required. Phone number in E.164 format for which a multi-factor authentication challenge was initiated, succeeded, or failed.",
          "type": "string"
        },
        "eventTime": {
          "description": "Optional. The time at which the multi-factor authentication event (challenge or verification) occurred.",
          "type": "string",
          "format": "google-datetime"
        }
      },
      "description": "Details on a phone authentication event"
    },
    "GoogleCloudRecaptchaenterpriseV1PhoneFraudAssessment": {
      "type": "object",
      "description": "Assessment for Phone Fraud",
      "properties": {
        "smsTollFraudVerdict": {
          "readOnly": true,
          "$ref": "GoogleCloudRecaptchaenterpriseV1SmsTollFraudVerdict",
          "description": "Output only. Assessment of this phone event for risk of SMS toll fraud."
        }
      },
      "id": "GoogleCloudRecaptchaenterpriseV1PhoneFraudAssessment"
    },
    "GoogleCloudRecaptchaenterpriseV1AccountDefenderAssessmentAccountTrustReason": {
      "properties": {
        "reason": {
          "enum": [
            "TRUST_REASON_UNSPECIFIED",
            "PROFILE_MATCH",
            "ACCOUNT_HISTORY_REPUTABLE",
            "IDENTITY_GLOBAL_ACTIVITY_REPUTABLE",
            "IDENTITY_HISTORY_REPUTABLE"
          ],
          "readOnly": true,
          "description": "Output only. A trust reason associated with this request.",
          "type": "string",
          "enumDescriptions": [
            "Default unspecified type.",
            "The request matches a trusted profile associated with this account. Equivalent to `AccountDefenderLabel.PROFILE_MATCH`.",
            "The account's historical activity is reputable. It is unlikely that the account has been compromised in the past.",
            "The identity shows a global pattern of reputable activity based on `userInfo` and associated identifiers.",
            "The identity shows a long-standing history of reputable activity based on `userInfo` and associated identifiers."
          ]
        }
      },
      "type": "object",
      "description": "Trust explainability reasons for Account defense.",
      "id": "GoogleCloudRecaptchaenterpriseV1AccountDefenderAssessmentAccountTrustReason"
    },
    "GoogleCloudRecaptchaenterpriseV1ListKeysResponse": {
      "id": "GoogleCloudRecaptchaenterpriseV1ListKeysResponse",
      "properties": {
        "keys": {
          "items": {
            "$ref": "GoogleCloudRecaptchaenterpriseV1Key"
          },
          "description": "Key details.",
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "Token to retrieve the next page of results. It is set to empty if no keys remain in results."
        }
      },
      "description": "Response to request to list keys in a project.",
      "type": "object"
    },
    "GoogleCloudRecaptchaenterpriseV1MigrateKeyRequest": {
      "description": "The migrate key request message.",
      "id": "GoogleCloudRecaptchaenterpriseV1MigrateKeyRequest",
      "type": "object",
      "properties": {
        "skipBillingCheck": {
          "description": "Optional. If true, skips the billing check. A reCAPTCHA Enterprise key or migrated key behaves differently than a reCAPTCHA (non-Enterprise version) key when you reach a quota limit (see https://docs.cloud.google.com/recaptcha/quotas#quota_limit). To avoid any disruption of your usage, we check that a billing account is present. If your usage of reCAPTCHA is under the free quota, you can safely skip the billing check and proceed with the migration. See https://cloud.google.com/recaptcha/docs/billing-information.",
          "type": "boolean"
        }
      }
    },
    "GoogleCloudRecaptchaenterpriseV1FraudPreventionAssessment": {
      "properties": {
        "transactionRisk": {
          "description": "Output only. Probability of this transaction being fraudulent. Summarizes the combined risk of attack vectors below. Values are from 0.0 (lowest) to 1.0 (highest).",
          "format": "float",
          "readOnly": true,
          "type": "number"
        },
        "behavioralTrustVerdict": {
          "readOnly": true,
          "description": "Output only. Assessment of this transaction for behavioral trust.",
          "$ref": "GoogleCloudRecaptchaenterpriseV1FraudPreventionAssessmentBehavioralTrustVerdict"
        },
        "cardTestingVerdict": {
          "$ref": "GoogleCloudRecaptchaenterpriseV1FraudPreventionAssessmentCardTestingVerdict",
          "readOnly": true,
          "description": "Output only. Assessment of this transaction for risk of being part of a card testing attack."
        },
        "riskReasons": {
          "description": "Output only. Reasons why the transaction is probably fraudulent and received a high transaction risk score.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudRecaptchaenterpriseV1FraudPreventionAssessmentRiskReason"
          },
          "readOnly": true
        },
        "stolenInstrumentVerdict": {
          "description": "Output only. Assessment of this transaction for risk of a stolen instrument.",
          "readOnly": true,
          "$ref": "GoogleCloudRecaptchaenterpriseV1FraudPreventionAssessmentStolenInstrumentVerdict"
        }
      },
      "id": "GoogleCloudRecaptchaenterpriseV1FraudPreventionAssessment",
      "type": "object",
      "description": "Assessment for Fraud Prevention."
    },
    "GoogleCloudRecaptchaenterpriseV1ChallengeRuleChallengeOutcome": {
      "description": "An outcome that indicates that a challenge of a specified difficulty should be presented to the user.",
      "id": "GoogleCloudRecaptchaenterpriseV1ChallengeRuleChallengeOutcome",
      "properties": {
        "difficulty": {
          "enum": [
            "CHALLENGE_SECURITY_PREFERENCE_UNSPECIFIED",
            "USABILITY",
            "BALANCE",
            "SECURITY"
          ],
          "type": "string",
          "description": "Optional. The difficulty of the challenge to present to the user. If unspecified, `BALANCE` is used.",
          "enumDescriptions": [
            "Default type that indicates this enum hasn't been specified.",
            "Key tends to show fewer and easier challenges.",
            "Key tends to show balanced (in amount and difficulty) challenges.",
            "Key tends to show more and harder challenges."
          ]
        }
      },
      "type": "object"
    },
    "GoogleCloudRecaptchaenterpriseV1ProtectedEndpoint": {
      "properties": {
        "path": {
          "description": "Required. URI path of the API endpoint to protect. Must start with '/'. Supports glob characters '*' to match a single path segment and '**' to match multiple path segments. Standalone root catch-alls ('/*' and '/**') are invalid because it can negatively impact performance to trigger reCAPTCHA on every single request to your backend. Matching is evaluated against the URL path only (domain, scheme, and query parameters are ignored). Examples: - `/login` matches `/login`, `https://example.com/login`, and `/login?query=1`, but not `/login/step1`. - `/products/*` matches `/products/123`, but not `/products/123/456`. - `/content/**` matches `/content/articles/2024/01/01`.",
          "type": "string"
        },
        "action": {
          "description": "Required. Action name to be used for token generation for this endpoint. The action name can only contain alphanumeric characters, slashes, and underscores.",
          "type": "string"
        }
      },
      "description": "Configuration for an API endpoint to protect with reCAPTCHA.",
      "type": "object",
      "id": "GoogleCloudRecaptchaenterpriseV1ProtectedEndpoint"
    },
    "GoogleCloudRecaptchaenterpriseV1WafSettings": {
      "properties": {
        "wafFeature": {
          "type": "string",
          "enum": [
            "WAF_FEATURE_UNSPECIFIED",
            "CHALLENGE_PAGE",
            "SESSION_TOKEN",
            "ACTION_TOKEN",
            "EXPRESS"
          ],
          "description": "Required. The Web Application Firewall (WAF) feature for which this key is enabled.",
          "enumDescriptions": [
            "Undefined feature.",
            "Redirects suspicious traffic to reCAPTCHA.",
            "Use reCAPTCHA session-tokens to protect the whole user session on the site's domain.",
            "Use reCAPTCHA action-tokens to protect user actions.",
            "Deprecated: Use `express_settings` instead."
          ],
          "enumDeprecated": [
            false,
            false,
            false,
            false,
            true
          ]
        },
        "wafService": {
          "enum": [
            "WAF_SERVICE_UNSPECIFIED",
            "CA",
            "FASTLY",
            "CLOUDFLARE",
            "AKAMAI"
          ],
          "enumDescriptions": [
            "Undefined WAF",
            "Cloud Armor",
            "Fastly",
            "Cloudflare",
            "Akamai"
          ],
          "type": "string",
          "description": "Required. The Web Application Firewall (WAF) service that uses this key."
        }
      },
      "description": "Settings specific to keys that can be used for WAF (Web Application Firewall).",
      "id": "GoogleCloudRecaptchaenterpriseV1WafSettings",
      "type": "object"
    },
    "GoogleCloudRecaptchaenterpriseV1TransactionDataUser": {
      "id": "GoogleCloudRecaptchaenterpriseV1TransactionDataUser",
      "properties": {
        "accountId": {
          "description": "Optional. Unique account identifier for this user. If using Account defense, this should match the hashed_account_id field. Otherwise, a unique and persistent identifier for this account.",
          "type": "string"
        },
        "phoneNumber": {
          "description": "Optional. The phone number of the user, with country code.",
          "type": "string"
        },
        "email": {
          "description": "Optional. The email address of the user.",
          "type": "string"
        },
        "emailVerified": {
          "description": "Optional. Whether the email has been verified to be accessible by the user (OTP or similar).",
          "type": "boolean"
        },
        "creationMs": {
          "format": "int64",
          "type": "string",
          "description": "Optional. The epoch milliseconds of the user's account creation."
        },
        "phoneVerified": {
          "description": "Optional. Whether the phone number has been verified to be accessible by the user (OTP or similar).",
          "type": "boolean"
        }
      },
      "type": "object",
      "description": "Details about a user's account involved in the transaction."
    },
    "GoogleCloudRecaptchaenterpriseV1TransactionDataItem": {
      "type": "object",
      "properties": {
        "quantity": {
          "description": "Optional. The quantity of this item that is being purchased.",
          "type": "string",
          "format": "int64"
        },
        "value": {
          "description": "Optional. The value per item that the user is paying, in the transaction currency, after discounts.",
          "type": "number",
          "format": "double"
        },
        "merchantAccountId": {
          "description": "Optional. When a merchant is specified, its corresponding account_id. Necessary to populate marketplace-style transactions.",
          "type": "string"
        },
        "name": {
          "description": "Optional. The full name of the item.",
          "type": "string"
        }
      },
      "id": "GoogleCloudRecaptchaenterpriseV1TransactionDataItem",
      "description": "Line items being purchased in this transaction."
    },
    "GoogleCloudRecaptchaenterpriseV1AssessmentEnvironment": {
      "description": "The environment creating the assessment. This describes your environment (the system invoking CreateAssessment), NOT the environment of your user.",
      "id": "GoogleCloudRecaptchaenterpriseV1AssessmentEnvironment",
      "properties": {
        "version": {
          "type": "string",
          "description": "Optional. The version of the client module. For example, \"1.0.0\"."
        },
        "client": {
          "type": "string",
          "description": "Optional. Identifies the client module initiating the CreateAssessment request. This can be the link to the client module's project. Examples include: - \"github.com/GoogleCloudPlatform/recaptcha-enterprise-google-tag-manager\" - \"wordpress.org/plugins/recaptcha-something\""
        }
      },
      "type": "object"
    },
    "GoogleCloudRecaptchaenterpriseV1ExpressKeySettings": {
      "properties": {},
      "type": "object",
      "id": "GoogleCloudRecaptchaenterpriseV1ExpressKeySettings",
      "description": "Settings specific to keys that can be used for reCAPTCHA Express."
    },
    "GoogleCloudRecaptchaenterpriseV1ReorderFirewallPoliciesRequest": {
      "description": "The reorder firewall policies request message.",
      "properties": {
        "names": {
          "type": "array",
          "description": "Required. A list containing all policy names, in the new order. Each name is in the format `projects/{project}/firewallpolicies/{firewallpolicy}`.",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "GoogleCloudRecaptchaenterpriseV1ReorderFirewallPoliciesRequest",
      "type": "object"
    },
    "GoogleCloudRecaptchaenterpriseV1ChallengeRuleNoChallengeOutcome": {
      "type": "object",
      "properties": {},
      "description": "An outcome that indicates that no challenge should be presented to the user.",
      "id": "GoogleCloudRecaptchaenterpriseV1ChallengeRuleNoChallengeOutcome"
    },
    "GoogleCloudRecaptchaenterpriseV1ChallengeRuleGroup": {
      "description": "A collection of challenge rules that applies to one or more actions.",
      "id": "GoogleCloudRecaptchaenterpriseV1ChallengeRuleGroup",
      "type": "object",
      "properties": {
        "actions": {
          "items": {
            "type": "string"
          },
          "description": "Required. Action name provided at token generation. The action name is not case-sensitive and can only contain alphanumeric characters, slashes, and underscores. If \"*\" is provided, the rule group applies to all actions. If multiple actions are provided, the rule group is applied to all of them. This field is required.",
          "type": "array"
        },
        "challengeRules": {
          "items": {
            "$ref": "GoogleCloudRecaptchaenterpriseV1ChallengeRule"
          },
          "description": "Required. A list of rules that configure when and how reCAPTCHA presents a challenge. reCAPTCHA evaluates these rules in order and applies the first one that matches.",
          "type": "array"
        }
      }
    },
    "GoogleCloudRecaptchaenterpriseV1Metrics": {
      "type": "object",
      "properties": {
        "name": {
          "readOnly": true,
          "description": "Output only. Identifier. The name of the metrics, in the format `projects/{project}/keys/{key}/metrics`.",
          "type": "string"
        },
        "startTime": {
          "type": "string",
          "description": "Inclusive start time aligned to a day in the America/Los_Angeles (Pacific) timezone.",
          "format": "google-datetime"
        },
        "challengeMetrics": {
          "type": "array",
          "description": "Metrics are continuous and in order by dates, and in the granularity of day. Only challenge-based keys (CHECKBOX, INVISIBLE) have challenge-based data.",
          "items": {
            "$ref": "GoogleCloudRecaptchaenterpriseV1ChallengeMetrics"
          }
        },
        "scoreMetrics": {
          "description": "Metrics are continuous and in order by dates, and in the granularity of day. All Key types should have score-based data.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudRecaptchaenterpriseV1ScoreMetrics"
          }
        }
      },
      "description": "Metrics for a single Key.",
      "id": "GoogleCloudRecaptchaenterpriseV1Metrics"
    },
    "GoogleCloudRecaptchaenterpriseV1SmsTollFraudVerdict": {
      "description": "Information about SMS toll fraud.",
      "id": "GoogleCloudRecaptchaenterpriseV1SmsTollFraudVerdict",
      "type": "object",
      "properties": {
        "risk": {
          "readOnly": true,
          "format": "float",
          "description": "Output only. Probability of an SMS event being fraudulent. Values are from 0.0 (lowest) to 1.0 (highest).",
          "type": "number"
        },
        "reasons": {
          "readOnly": true,
          "description": "Output only. Reasons contributing to the SMS toll fraud verdict.",
          "items": {
            "enum": [
              "SMS_TOLL_FRAUD_REASON_UNSPECIFIED",
              "INVALID_PHONE_NUMBER"
            ],
            "enumDescriptions": [
              "Default unspecified reason",
              "The provided phone number was invalid"
            ],
            "type": "string"
          },
          "type": "array"
        }
      }
    },
    "GoogleCloudRecaptchaenterpriseV1FirewallActionAllowAction": {
      "properties": {},
      "id": "GoogleCloudRecaptchaenterpriseV1FirewallActionAllowAction",
      "description": "An allow action continues processing a request unimpeded.",
      "type": "object"
    },
    "GoogleCloudRecaptchaenterpriseV1ClientSettings": {
      "properties": {
        "protectedEndpointGroup": {
          "$ref": "GoogleCloudRecaptchaenterpriseV1ProtectedEndpointGroup",
[...]
