{
  "description": "Help protect your website from fraudulent activity, spam, and abuse without creating friction.",
  "fullyEncodeReservedExpansion": true,
  "revision": "20260825",
  "mtlsRootUrl": "https://recaptchaenterprise.mtls.googleapis.com/",
  "name": "recaptchaenterprise",
  "documentationLink": "https://cloud.google.com/recaptcha-enterprise/",
  "protocol": "rest",
  "id": "recaptchaenterprise:v1",
  "canonicalName": "Recaptcha Enterprise",
  "ownerDomain": "google.com",
  "discoveryVersion": "v1",
  "parameters": {
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string",
      "location": "query"
    },
    "oauth_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth 2.0 token for the current user."
    },
    "access_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth access token."
    },
    "$.xgafv": {
      "location": "query",
      "enum": [
        "1",
        "2"
      ],
      "description": "V1 error format.",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string"
    },
    "key": {
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string"
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "prettyPrint": {
      "location": "query",
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "default": "true"
    },
    "quotaUser": {
      "type": "string",
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "alt": {
      "type": "string",
      "location": "query",
      "description": "Data format for response.",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ]
    },
    "callback": {
      "description": "JSONP",
      "location": "query",
      "type": "string"
    }
  },
  "baseUrl": "https://recaptchaenterprise.googleapis.com/",
  "batchPath": "batch",
  "version_module": true,
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "basePath": "",
  "kind": "discovery#restDescription",
  "version": "v1",
  "title": "reCAPTCHA Enterprise API",
  "ownerName": "Google",
  "servicePath": "",
  "schemas": {
    "GoogleRpcStatus": {
      "id": "GoogleRpcStatus",
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "type": "object",
      "properties": {
        "details": {
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "type": "array",
          "items": {
            "additionalProperties": {
              "description": "Properties of the object. Contains field @type with type URL.",
              "type": "any"
            },
            "type": "object"
          }
        },
        "message": {
          "type": "string",
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client."
        },
        "code": {
          "type": "integer",
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "format": "int32"
        }
      }
    },
    "GoogleCloudRecaptchaenterpriseV1TransactionDataUser": {
      "type": "object",
      "description": "Details about a user's account involved in the transaction.",
      "properties": {
        "accountId": {
          "type": "string",
          "description": "Optional. Unique account identifier for this user. If using Account defense, this should match the hashed_account_id field. Otherwise, a unique and persistent identifier for this account."
        },
        "emailVerified": {
          "description": "Optional. Whether the email has been verified to be accessible by the user (OTP or similar).",
          "type": "boolean"
        },
        "email": {
          "description": "Optional. The email address of the user.",
          "type": "string"
        },
        "phoneVerified": {
          "description": "Optional. Whether the phone number has been verified to be accessible by the user (OTP or similar).",
          "type": "boolean"
        },
        "creationMs": {
          "description": "Optional. The epoch milliseconds of the user's account creation.",
          "format": "int64",
          "type": "string"
        },
        "phoneNumber": {
          "description": "Optional. The phone number of the user, with country code.",
          "type": "string"
        }
      },
      "id": "GoogleCloudRecaptchaenterpriseV1TransactionDataUser"
    },
    "GoogleCloudRecaptchaenterpriseV1FirewallPolicy": {
      "type": "object",
      "description": "A FirewallPolicy represents a single matching pattern and resulting actions to take.",
      "properties": {
        "condition": {
          "description": "Optional. A CEL (Common Expression Language) conditional expression that specifies if this policy applies to an incoming user request. If this condition evaluates to true and the requested path matched the path pattern, the associated actions should be executed by the caller. The condition string is checked for CEL syntax correctness on creation. For more information, see the [CEL spec](https://github.com/google/cel-spec) and its [language definition](https://github.com/google/cel-spec/blob/master/doc/langdef.md). A condition has a max length of 500 characters.",
          "type": "string"
        },
        "path": {
          "description": "Optional. The path for which this policy applies, specified as a glob pattern. For more information on glob, see the [manual page](https://man7.org/linux/man-pages/man7/glob.7.html). A path has a max length of 200 characters.",
          "type": "string"
        },
        "name": {
          "description": "Identifier. The resource name for the FirewallPolicy in the format `projects/{project}/firewallpolicies/{firewallpolicy}`.",
          "type": "string"
        },
        "actions": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudRecaptchaenterpriseV1FirewallAction"
          },
          "description": "Optional. The actions that the caller should take regarding user access. There should be at most one terminal action. A terminal action is any action that forces a response, such as `AllowAction`, `BlockAction` or `SubstituteAction`. Zero or more non-terminal actions such as `SetHeader` might be specified. A single policy can contain up to 16 actions."
        },
        "description": {
          "type": "string",
          "description": "Optional. A description of what this policy aims to achieve, for convenience purposes. The description can at most include 256 UTF-8 characters."
        }
      },
      "id": "GoogleCloudRecaptchaenterpriseV1FirewallPolicy"
    },
    "GoogleCloudRecaptchaenterpriseV1UserId": {
      "id": "GoogleCloudRecaptchaenterpriseV1UserId",
      "description": "An identifier associated with a user.",
      "properties": {
        "phoneNumber": {
          "type": "string",
          "description": "Optional. A phone number. Should use the E.164 format."
        },
        "username": {
          "description": "Optional. A unique username, if different from all the other identifiers and `account_id` that are provided. Can be a unique login handle or display name for a user.",
          "type": "string"
        },
        "email": {
          "description": "Optional. An email address.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudRecaptchaenterpriseV1SmsTollFraudVerdict": {
      "description": "Information about SMS toll fraud.",
      "properties": {
        "reasons": {
          "items": {
            "type": "string",
            "enum": [
              "SMS_TOLL_FRAUD_REASON_UNSPECIFIED",
              "INVALID_PHONE_NUMBER"
            ],
            "enumDescriptions": [
              "Default unspecified reason",
              "The provided phone number was invalid"
            ]
          },
          "description": "Output only. Reasons contributing to the SMS toll fraud verdict.",
          "readOnly": true,
          "type": "array"
        },
        "risk": {
          "format": "float",
          "type": "number",
          "readOnly": true,
          "description": "Output only. Probability of an SMS event being fraudulent. Values are from 0.0 (lowest) to 1.0 (highest)."
        }
      },
      "type": "object",
      "id": "GoogleCloudRecaptchaenterpriseV1SmsTollFraudVerdict"
    },
    "GoogleCloudRecaptchaenterpriseV1WafSettings": {
      "properties": {
        "wafFeature": {
          "enum": [
            "WAF_FEATURE_UNSPECIFIED",
            "CHALLENGE_PAGE",
            "SESSION_TOKEN",
            "ACTION_TOKEN",
            "EXPRESS"
          ],
          "description": "Required. The Web Application Firewall (WAF) feature for which this key is enabled.",
          "type": "string",
          "enumDescriptions": [
            "Undefined feature.",
            "Redirects suspicious traffic to reCAPTCHA.",
            "Use reCAPTCHA session-tokens to protect the whole user session on the site's domain.",
            "Use reCAPTCHA action-tokens to protect user actions.",
            "Deprecated: Use `express_settings` instead."
          ],
          "enumDeprecated": [
            false,
            false,
            false,
            false,
            true
          ]
        },
        "wafService": {
          "type": "string",
          "enum": [
            "WAF_SERVICE_UNSPECIFIED",
            "CA",
            "FASTLY",
            "CLOUDFLARE",
            "AKAMAI"
          ],
          "enumDescriptions": [
            "Undefined WAF",
            "Cloud Armor",
            "Fastly",
            "Cloudflare",
            "Akamai"
          ],
          "description": "Required. The Web Application Firewall (WAF) service that uses this key."
        }
      },
      "id": "GoogleCloudRecaptchaenterpriseV1WafSettings",
      "type": "object",
      "description": "Settings specific to keys that can be used for WAF (Web Application Firewall)."
    },
    "GoogleCloudRecaptchaenterpriseV1AndroidKeySettings": {
      "id": "GoogleCloudRecaptchaenterpriseV1AndroidKeySettings",
      "type": "object",
      "properties": {
        "allowedPackageNames": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Optional. Android package names of apps allowed to use the key. Example: 'com.companyname.appname' Each key supports a maximum of 250 package names. To use a key on more apps, set `allow_all_package_names` to true. When this is set, you are responsible for validating the package name by checking the `token_properties.android_package_name` field in each assessment response against your list of allowed package names."
        },
        "allowAllPackageNames": {
          "type": "boolean",
          "description": "Optional. If set to true, allowed_package_names are not enforced."
        },
        "supportNonGoogleAppStoreDistribution": {
          "type": "boolean",
          "description": "Optional. Set to true for keys that are used in an Android application that is available for download in app stores in addition to the Google Play Store."
        }
      },
      "description": "Settings specific to keys that can be used by Android apps."
    },
    "GoogleCloudRecaptchaenterpriseV1ListIpOverridesResponse": {
      "properties": {
        "ipOverrides": {
          "items": {
            "$ref": "GoogleCloudRecaptchaenterpriseV1IpOverrideData"
          },
          "type": "array",
          "description": "IP Overrides details."
        },
        "nextPageToken": {
          "description": "Token to retrieve the next page of results. If this field is empty, no keys remain in the results.",
          "type": "string"
        }
      },
      "description": "Response for ListIpOverrides.",
      "id": "GoogleCloudRecaptchaenterpriseV1ListIpOverridesResponse",
      "type": "object"
    },
    "GoogleCloudRecaptchaenterpriseV1AddIpOverrideRequest": {
      "type": "object",
      "properties": {
        "ipOverrideData": {
          "$ref": "GoogleCloudRecaptchaenterpriseV1IpOverrideData",
          "description": "Required. IP override added to the key."
        }
      },
      "id": "GoogleCloudRecaptchaenterpriseV1AddIpOverrideRequest",
      "description": "The AddIpOverride request message."
    },
    "GoogleCloudRecaptchaenterpriseV1FraudPreventionAssessmentStolenInstrumentVerdict": {
      "properties": {
        "risk": {
          "description": "Output only. Probability of this transaction being executed with a stolen instrument. Values are from 0.0 (lowest) to 1.0 (highest).",
          "type": "number",
          "readOnly": true,
          "format": "float"
        }
      },
      "type": "object",
      "description": "Information about stolen instrument fraud, where the user is not the legitimate owner of the instrument being used for the purchase.",
      "id": "GoogleCloudRecaptchaenterpriseV1FraudPreventionAssessmentStolenInstrumentVerdict"
    },
    "GoogleCloudRecaptchaenterpriseV1AccountDefenderAssessmentAccountRiskReason": {
      "properties": {
        "reason": {
          "type": "string",
          "description": "Output only. A risk reason associated with this request.",
          "enumDescriptions": [
            "Default unspecified type.",
            "The client has been observed sending bot-like traffic to this site in the past. This reason incorporates historical reputation and indicates that the client is known to use bots, even if the current request is being made by a human.",
            "The account is part of a large group of related accounts, indicating that it may be part of a fraudulent network. Related accounts are identified based on having similar traffic patterns and request characteristics.",
            "The client has been observed accessing many accounts on this site.",
            "This email domain is a suspected provider of disposable email addresses."
          ],
          "readOnly": true,
          "enum": [
            "RISK_REASON_UNSPECIFIED",
            "CLIENT_HISTORICAL_BOT_ACTIVITY",
            "ACCOUNT_IN_LARGE_RELATED_GROUP",
            "CLIENT_ACCESSED_MANY_ACCOUNTS",
            "DISPOSABLE_EMAIL_DOMAIN"
          ]
        }
      },
      "id": "GoogleCloudRecaptchaenterpriseV1AccountDefenderAssessmentAccountRiskReason",
      "description": "Risk explainability reasons for Account defense.",
      "type": "object"
    },
    "GoogleCloudRecaptchaenterpriseV1ListRelatedAccountGroupMembershipsResponse": {
      "type": "object",
      "id": "GoogleCloudRecaptchaenterpriseV1ListRelatedAccountGroupMembershipsResponse",
      "properties": {
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "relatedAccountGroupMemberships": {
          "items": {
            "$ref": "GoogleCloudRecaptchaenterpriseV1RelatedAccountGroupMembership"
          },
          "type": "array",
          "description": "The memberships listed by the query."
        }
      },
      "description": "The response to a `ListRelatedAccountGroupMemberships` call."
    },
    "GoogleCloudRecaptchaenterpriseV1Event": {
      "properties": {
        "userIpAddress": {
          "type": "string",
          "description": "Optional. The IP address in the request from the user's device related to this event."
        },
        "userAgent": {
          "description": "Optional. The user agent present in the request from the user's device related to this event.",
          "type": "string"
        },
        "hashedAccountId": {
          "description": "Optional. Deprecated: use `user_info.account_id` instead. Unique stable hashed user identifier for the request. The identifier must be hashed using hmac-sha256 with stable secret.",
          "deprecated": true,
          "format": "byte",
          "type": "string"
        },
        "fraudPrevention": {
          "description": "Optional. The Fraud Prevention setting for this assessment.",
          "type": "string",
          "enum": [
            "FRAUD_PREVENTION_UNSPECIFIED",
            "ENABLED",
            "DISABLED"
          ],
          "enumDescriptions": [
            "Default, unspecified setting. `fraud_prevention_assessment` is returned if `transaction_data` is present in `Event` and Fraud Prevention is enabled in the Google Cloud console.",
            "Enable Fraud Prevention for this assessment, if Fraud Prevention is enabled in the Google Cloud console.",
            "Disable Fraud Prevention for this assessment, regardless of the Google Cloud console settings."
          ]
        },
        "ja4": {
          "description": "Optional. JA4 fingerprint for SSL clients. To learn how to compute this fingerprint, please refer to https://github.com/FoxIO-LLC/ja4.",
          "type": "string"
        },
        "wafTokenAssessment": {
          "type": "boolean",
          "description": "Optional. Flag for running Web Application Firewall (WAF) token assessment. If enabled, the token must be specified, and have been created by a WAF-enabled key."
        },
        "userInfo": {
          "$ref": "GoogleCloudRecaptchaenterpriseV1UserInfo",
          "description": "Optional. Information about the user that generates this event, when they can be identified. They are often identified through the use of an account for logged-in requests or login/registration requests, or by providing user identifiers for guest actions like checkout."
        },
        "requestedUri": {
          "type": "string",
          "description": "Optional. The URI resource the user requested that triggered an assessment."
        },
        "token": {
          "type": "string",
          "description": "Optional. The user response token provided by the reCAPTCHA Enterprise client-side integration on your site."
        },
        "firewallPolicyEvaluation": {
          "description": "Optional. Flag for enabling firewall policy config assessment. If this flag is enabled, the firewall policy is evaluated and a suggested firewall action is returned in the response.",
          "type": "boolean"
        },
        "headers": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. HTTP header information about the request."
        },
        "transactionData": {
          "description": "Optional. Data describing a payment transaction to be assessed. Sending this data enables reCAPTCHA Enterprise Fraud Prevention and the FraudPreventionAssessment component in the response.",
          "$ref": "GoogleCloudRecaptchaenterpriseV1TransactionData"
        },
        "siteKey": {
          "type": "string",
          "description": "Optional. The site key that was used to invoke reCAPTCHA Enterprise on your site and generate the token."
        },
        "ja3": {
          "type": "string",
          "description": "Optional. JA3 fingerprint for SSL clients. To learn how to compute this fingerprint, please refer to https://github.com/salesforce/ja3."
        },
        "expectedAction": {
          "type": "string",
          "description": "Optional. The expected action for this type of event. This should be the same action provided at token generation time on client-side platforms already integrated with recaptcha enterprise. Required for Universal keys."
        },
        "express": {
          "type": "boolean",
          "description": "Optional. Flag for a reCAPTCHA express request for an assessment without a token. If enabled, `site_key` must reference an Express site key."
        }
      },
      "id": "GoogleCloudRecaptchaenterpriseV1Event",
      "type": "object",
      "description": "The event being assessed."
    },
    "GoogleCloudRecaptchaenterpriseV1WebKeySettingsActionSettings": {
      "description": "Per-action challenge settings.",
      "properties": {
        "scoreThreshold": {
          "format": "float",
          "description": "Required. A challenge is triggered if the end-user score is below that threshold. Value must be between 0 and 1 (inclusive).",
          "type": "number"
        }
      },
      "type": "object",
      "id": "GoogleCloudRecaptchaenterpriseV1WebKeySettingsActionSettings"
    },
    "GoogleCloudRecaptchaenterpriseV1EndpointVerificationInfo": {
      "id": "GoogleCloudRecaptchaenterpriseV1EndpointVerificationInfo",
      "properties": {
        "emailAddress": {
          "type": "string",
          "description": "Email address for which to trigger a verification request."
        },
        "lastVerificationTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. Timestamp of the last successful verification for the endpoint, if any.",
          "readOnly": true
        },
        "phoneNumber": {
          "description": "Phone number for which to trigger a verification request. Should be given in E.164 format.",
          "type": "string"
        },
        "requestToken": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Token to provide to the client to trigger endpoint verification. It must be used within 15 minutes."
        }
      },
      "description": "Information about a verification endpoint that can be used for 2FA.",
      "type": "object"
    },
    "GoogleCloudRecaptchaenterpriseV1ChallengeMetrics": {
      "type": "object",
      "description": "Metrics related to challenges.",
      "id": "GoogleCloudRecaptchaenterpriseV1ChallengeMetrics",
      "properties": {
        "failedCount": {
          "description": "Count of submitted challenge solutions that were incorrect or otherwise deemed suspicious such that a subsequent challenge was triggered.",
          "type": "string",
          "format": "int64"
        },
        "passedCount": {
          "type": "string",
          "format": "int64",
          "description": "Count of nocaptchas (successful verification without a challenge) plus submitted challenge solutions that were correct and resulted in verification."
        },
        "nocaptchaCount": {
          "format": "int64",
          "description": "Count of nocaptchas (successful verification without a challenge) issued.",
          "type": "string"
        },
        "pageloadCount": {
          "description": "Count of reCAPTCHA checkboxes or badges rendered. This is mostly equivalent to a count of pageloads for pages that include reCAPTCHA.",
          "type": "string",
          "format": "int64"
        }
      }
    },
    "GoogleCloudRecaptchaenterpriseV1ChallengeRule": {
      "description": "A rule to configure the behavior of reCAPTCHA for conditionally presenting a challenge.",
      "properties": {
        "challenge": {
          "description": "Present a challenge to the user.",
          "$ref": "GoogleCloudRecaptchaenterpriseV1ChallengeRuleChallengeOutcome"
        },
        "condition": {
          "type": "string",
          "description": "Optional. A CEL condition that must be met for this rule to apply. If unspecified, the rule applies unconditionally. The following fields can be referenced in the condition: * `score` * `user_ip_address` * `user_asn` * `user_agent` * `verified_bots.name` * `verified_bots.bot_type` Examples: * `score < 0.5` * `user_ip_address == \"123.45.67.89\"` * `user_agent.contains(\"Chrome\")` * `score < 0.5 && user_ip_address == \"123.45.67.89\"`"
        },
        "noChallenge": {
          "description": "Do not present a challenge to the user.",
          "$ref": "GoogleCloudRecaptchaenterpriseV1ChallengeRuleNoChallengeOutcome"
        }
      },
      "id": "GoogleCloudRecaptchaenterpriseV1ChallengeRule",
      "type": "object"
    },
    "GoogleCloudRecaptchaenterpriseV1FirewallActionIncludeRecaptchaScriptAction": {
      "id": "GoogleCloudRecaptchaenterpriseV1FirewallActionIncludeRecaptchaScriptAction",
      "type": "object",
      "description": "An include reCAPTCHA script action involves injecting reCAPTCHA JavaScript code into the HTML returned by the site backend. This reCAPTCHA script is tasked with collecting user signals on the requested web page, issuing tokens as a cookie within the site domain, and enabling their utilization in subsequent page requests.",
      "properties": {}
    },
    "GoogleCloudRecaptchaenterpriseV1TransactionDataItem": {
      "type": "object",
      "properties": {
        "value": {
          "type": "number",
          "description": "Optional. The value per item that the user is paying, in the transaction currency, after discounts.",
          "format": "double"
        },
        "merchantAccountId": {
          "description": "Optional. When a merchant is specified, its corresponding account_id. Necessary to populate marketplace-style transactions.",
          "type": "string"
        },
        "name": {
          "description": "Optional. The full name of the item.",
          "type": "string"
        },
        "quantity": {
          "description": "Optional. The quantity of this item that is being purchased.",
          "type": "string",
          "format": "int64"
        }
      },
      "id": "GoogleCloudRecaptchaenterpriseV1TransactionDataItem",
      "description": "Line items being purchased in this transaction."
    },
    "GoogleCloudRecaptchaenterpriseV1AccountDefenderAssessmentAccountTakeoverVerdict": {
      "description": "Account takeover risk assessment.",
      "properties": {
        "risk": {
          "readOnly": true,
          "type": "number",
          "format": "float",
          "description": "Output only. Account takeover attempt probability. Values are from 0.0 (lowest risk) to 1.0 (highest risk)."
        },
        "trustReasons": {
          "description": "Output only. Unordered list. Reasons why the request appears trustworthy. Trust reasons can be returned even if the risk is high, as risky requests can still have some trust signals.",
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "GoogleCloudRecaptchaenterpriseV1AccountDefenderAssessmentAccountTrustReason"
          }
        },
        "riskReasons": {
          "type": "array",
          "readOnly": true,
          "description": "Output only. Unordered list. Reasons why the request appears risky. Risk reasons can be returned even if the risk is low, as trustworthy requests can still have some risk signals.",
          "items": {
            "$ref": "GoogleCloudRecaptchaenterpriseV1AccountDefenderAssessmentAccountRiskReason"
          }
        }
      },
      "id": "GoogleCloudRecaptchaenterpriseV1AccountDefenderAssessmentAccountTakeoverVerdict",
      "type": "object"
    },
    "GoogleCloudRecaptchaenterpriseV1TokenProperties": {
      "id": "GoogleCloudRecaptchaenterpriseV1TokenProperties",
      "type": "object",
      "properties": {
        "invalidReason": {
          "enum": [
            "INVALID_REASON_UNSPECIFIED",
            "UNKNOWN_INVALID_REASON",
            "MALFORMED",
            "EXPIRED",
            "DUPE",
            "MISSING",
            "BROWSER_ERROR",
            "UNEXPECTED_ACTION",
            "KEY_MISMATCH",
            "DOMAIN_MISMATCH"
          ],
          "readOnly": true,
          "type": "string",
          "description": "Output only. Reason associated with the response when valid = false.",
          "enumDescriptions": [
            "Default unspecified type.",
            "If the failure reason was not accounted for.",
            "The provided user verification token was malformed.",
            "The user verification token had expired.",
            "The user verification had already been seen.",
            "The user verification token was not present.",
            "A retriable error (such as network failure) occurred on the browser. Could easily be simulated by an attacker.",
            "The action provided at token generation was different than the `expected_action` in the assessment request. The comparison is case-insensitive. This reason can only be returned if all of the following are true: - your `site_key` has the POLICY_BASED_CHALLENGE integration type - you set an action score threshold higher than 0.0 - you provided a non-empty `expected_action`",
            "The key used to generate the token does not match the `site_key`.",
            "The domain of the page on which the token was generated does not match the `allowed_domains` configured in the `site_key`."
          ]
        },
        "iosBundleId": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The ID of the iOS bundle with which the token was generated (iOS keys only)."
        },
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The timestamp corresponding to the generation of the token.",
          "readOnly": true
        },
        "hostname": {
          "description": "Output only. The hostname of the page on which the token was generated (Web keys only).",
          "type": "string",
          "readOnly": true
        },
        "valid": {
          "type": "boolean",
          "readOnly": true,
          "description": "Output only. Indicates whether the provided user response token is valid. If `false`, the token is invalid, either because the user failed the challenge or for a reason provided in the `invalid_reason` field."
        },
        "androidPackageName": {
          "description": "Output only. The name of the Android package with which the token was generated (Android keys only).",
          "readOnly": true,
          "type": "string"
        },
        "action": {
          "description": "Output only. Action name provided at token generation.",
          "type": "string",
          "readOnly": true
        },
        "clientSignalsFailed": {
          "type": "boolean",
          "description": "Output only. Indicates a failure collecting reCAPTCHA signals at token generation. This might be a transient condition, or persistent for a user’s environment.",
          "readOnly": true
        }
      },
      "description": "Properties of the provided event token."
    },
    "GoogleCloudRecaptchaenterpriseV1TransactionDataGatewayInfo": {
      "id": "GoogleCloudRecaptchaenterpriseV1TransactionDataGatewayInfo",
      "type": "object",
      "description": "Details about the transaction from the gateway.",
      "properties": {
        "cvvResponseCode": {
          "description": "Optional. CVV response code from the gateway (available only when reCAPTCHA Enterprise is called after authorization).",
          "type": "string"
        },
        "gatewayResponseCode": {
          "type": "string",
          "description": "Optional. Gateway response code describing the state of the transaction."
        },
        "name": {
          "type": "string",
          "description": "Optional. Name of the gateway service (for example, stripe, square, paypal)."
        },
        "avsResponseCode": {
          "description": "Optional. AVS response code from the gateway (available only when reCAPTCHA Enterprise is called after authorization).",
          "type": "string"
        }
      }
    },
    "GoogleCloudRecaptchaenterpriseV1IOSKeySettings": {
      "description": "Settings specific to keys that can be used by iOS apps.",
      "properties": {
        "allowedBundleIds": {
          "type": "array",
          "description": "Optional. iOS bundle IDs of apps allowed to use the key. Example: 'com.companyname.productname.appname' Each key supports a maximum of 250 bundle IDs. To use a key on more apps, set `allow_all_bundle_ids` to true. When this is set, you are responsible for validating the bundle id by checking the `token_properties.ios_bundle_id` field in each assessment response against your list of allowed bundle IDs.",
          "items": {
            "type": "string"
          }
        },
        "allowAllBundleIds": {
          "description": "Optional. If set to true, allowed_bundle_ids are not enforced.",
          "type": "boolean"
        },
        "appleDeveloperId": {
          "$ref": "GoogleCloudRecaptchaenterpriseV1AppleDeveloperId",
          "description": "Optional. Apple Developer account details for the app that is protected by the reCAPTCHA Key. reCAPTCHA leverages platform-specific checks like Apple App Attest and Apple DeviceCheck to protect your app from abuse. Providing these fields allows reCAPTCHA to get a better assessment of the integrity of your app."
        }
      },
      "type": "object",
      "id": "GoogleCloudRecaptchaenterpriseV1IOSKeySettings"
    },
    "GoogleCloudRecaptchaenterpriseV1ReorderFirewallPoliciesResponse": {
      "id": "GoogleCloudRecaptchaenterpriseV1ReorderFirewallPoliciesResponse",
      "description": "The reorder firewall policies response message.",
      "properties": {},
      "type": "object"
    },
    "GoogleCloudRecaptchaenterpriseV1PolicyEvaluation": {
      "id": "GoogleCloudRecaptchaenterpriseV1PolicyEvaluation",
      "properties": {
        "challengeRuleEvaluation": {
          "readOnly": true,
          "$ref": "GoogleCloudRecaptchaenterpriseV1ChallengeRuleEvaluation",
          "description": "Output only. Populated if one or more Challenge rules were matched. Its presence in the assessment indicates that at least one challenge rule was matched and determined whether a challenge was presented to the user."
        }
      },
      "description": "Information about the policy evaluation.",
      "type": "object"
    },
    "GoogleCloudRecaptchaenterpriseV1ListRelatedAccountGroupsResponse": {
      "type": "object",
      "id": "GoogleCloudRecaptchaenterpriseV1ListRelatedAccountGroupsResponse",
      "properties": {
        "relatedAccountGroups": {
          "type": "array",
          "description": "The groups of related accounts listed by the query.",
          "items": {
            "$ref": "GoogleCloudRecaptchaenterpriseV1RelatedAccountGroup"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        }
      },
      "description": "The response to a `ListRelatedAccountGroups` call."
    },
    "GoogleCloudRecaptchaenterpriseV1FirewallActionSubstituteAction": {
      "id": "GoogleCloudRecaptchaenterpriseV1FirewallActionSubstituteAction",
      "properties": {
        "path": {
          "description": "Optional. The address to redirect to. The target is a relative path in the current host. Example: \"/blog/404.html\".",
          "type": "string"
        }
      },
      "type": "object",
      "description": "A substitute action transparently serves a different page than the one requested."
    },
    "GoogleCloudRecaptchaenterpriseV1FraudSignalsCardSignals": {
      "id": "GoogleCloudRecaptchaenterpriseV1FraudSignalsCardSignals",
      "properties": {
        "cardLabels": {
          "type": "array",
          "readOnly": true,
          "items": {
            "type": "string",
            "enum": [
              "CARD_LABEL_UNSPECIFIED",
              "PREPAID",
              "VIRTUAL",
              "UNEXPECTED_LOCATION"
            ],
            "enumDescriptions": [
              "No label specified.",
              "This card has been detected as prepaid.",
              "This card has been detected as virtual, such as a card number generated for a single transaction or merchant.",
              "This card has been detected as being used in an unexpected geographic location."
            ]
          },
          "description": "Output only. The labels for the payment card in this transaction."
        }
      },
      "type": "object",
      "description": "Signals describing the payment card used in this transaction."
    },
    "GoogleCloudRecaptchaenterpriseV1Bot": {
      "description": "Bot information and metadata.",
      "type": "object",
      "id": "GoogleCloudRecaptchaenterpriseV1Bot",
      "properties": {
        "botType": {
          "description": "Optional. Enumerated field representing the type of bot.",
          "enumDescriptions": [
            "Default unspecified type.",
            "Software program that interacts with a site and performs tasks autonomously.",
            "Software that extracts specific data from sites for use.",
            "Software that crawls sites and stores content for the purpose of efficient retrieval, likely as part of a search engine."
          ],
          "type": "string",
          "enum": [
            "BOT_TYPE_UNSPECIFIED",
            "AI_AGENT",
            "CONTENT_SCRAPER",
            "SEARCH_INDEXER"
          ]
        },
        "name": {
          "type": "string",
          "description": "Optional. Enumerated string value that indicates the identity of the bot, formatted in kebab-case. Current example values include the following: * google-agent - AI_AGENT * browser-base - AI_AGENT * chat-gpt - AI_AGENT * aws-bedrock - AI_AGENT * cybaa-bot - AI_AGENT * cloudflare - AI_AGENT * payhawk - AI_AGENT * duck-duck-go - SEARCH_INDEXER * mediaboard - CONTENT_SCRAPER * marker-io - AI_AGENT * broadcom - AI_AGENT * anchor-browser - AI_AGENT * shopify - AI_AGENT * stackscope - CONTENT_SCRAPER * manus - AI_AGENT * kernel-sh - AI_AGENT * zvelo - SEARCH_INDEXER Ensure that your applications can handle identifier values not explicitly listed here. Deprecated values might take some time to stop showing up in responses. New values can be pushed so this list should be taken as non exhaustive."
        }
      }
    },
    "GoogleCloudRecaptchaenterpriseV1SearchRelatedAccountGroupMembershipsRequest": {
      "description": "The request message to search related account group memberships.",
      "properties": {
        "pageSize": {
          "description": "Optional. The maximum number of groups to return. The service might return fewer than this value. If unspecified, at most 50 groups are returned. The maximum value is 1000; values above 1000 are coerced to 1000.",
          "format": "int32",
          "type": "integer"
        },
        "pageToken": {
          "type": "string",
          "description": "Optional. A page token, received from a previous `SearchRelatedAccountGroupMemberships` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `SearchRelatedAccountGroupMemberships` must match the call that provided the page token."
        },
        "hashedAccountId": {
          "deprecated": true,
          "description": "Optional. Deprecated: use `account_id` instead. The unique stable hashed account identifier used to search connections. The identifier should correspond to a `hashed_account_id` provided in a previous `CreateAssessment` or `AnnotateAssessment` call. Either hashed_account_id or account_id must be set, but not both.",
          "format": "byte",
          "type": "string"
        },
        "accountId": {
          "description": "Optional. The unique stable account identifier used to search connections. The identifier should correspond to an `account_id` provided in a previous `CreateAssessment` or `AnnotateAssessment` call. Either hashed_account_id or account_id must be set, but not both.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudRecaptchaenterpriseV1SearchRelatedAccountGroupMembershipsRequest"
    },
    "GoogleCloudRecaptchaenterpriseV1TransactionData": {
      "properties": {
        "user": {
          "$ref": "GoogleCloudRecaptchaenterpriseV1TransactionDataUser",
          "description": "Optional. Information about the user paying/initiating the transaction."
        },
        "billingAddress": {
          "description": "Optional. Address associated with the payment method when applicable.",
          "$ref": "GoogleCloudRecaptchaenterpriseV1TransactionDataAddress"
        },
        "shippingAddress": {
          "description": "Optional. Destination address if this transaction involves shipping a physical item.",
          "$ref": "GoogleCloudRecaptchaenterpriseV1TransactionDataAddress"
        },
        "paymentMethod": {
          "type": "string",
          "description": "Optional. The payment method for the transaction. The allowed values are: * credit-card * debit-card * gift-card * processor-{name} (If a third-party is used, for example, processor-paypal) * custom-{name} (If an alternative method is used, for example, custom-crypto)"
        },
        "currencyCode": {
          "description": "Optional. The currency code in ISO-4217 format.",
          "type": "string"
        },
        "items": {
          "items": {
            "$ref": "GoogleCloudRecaptchaenterpriseV1TransactionDataItem"
          },
          "type": "array",
          "description": "Optional. Items purchased in this transaction."
        },
        "merchants": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudRecaptchaenterpriseV1TransactionDataUser"
          },
          "description": "Optional. Information about the user or users fulfilling the transaction."
        },
        "value": {
          "description": "Optional. The decimal value of the transaction in the specified currency.",
          "format": "double",
          "type": "number"
        },
        "cardBin": {
          "description": "Optional. The Bank Identification Number - generally the first 6 or 8 digits of the card.",
          "type": "string"
        },
        "transactionId": {
          "description": "Unique identifier for the transaction. This custom identifier can be used to reference this transaction in the future, for example, labeling a refund or chargeback event. Two attempts at the same transaction should use the same transaction id.",
          "type": "string"
        },
        "shippingValue": {
          "type": "number",
          "description": "Optional. The value of shipping in the specified currency. 0 for free or no shipping.",
          "format": "double"
        },
        "gatewayInfo": {
          "description": "Optional. Information about the payment gateway's response to the transaction.",
          "$ref": "GoogleCloudRecaptchaenterpriseV1TransactionDataGatewayInfo"
        },
        "cardLastFour": {
          "type": "string",
          "description": "Optional. The last four digits of the card."
        }
      },
      "id": "GoogleCloudRecaptchaenterpriseV1TransactionData",
      "type": "object",
      "description": "Transaction data associated with a payment protected by reCAPTCHA Enterprise."
    },
    "GoogleCloudRecaptchaenterpriseV1FirewallActionBlockAction": {
      "type": "object",
      "description": "A block action serves an HTTP error code a prevents the request from hitting the backend.",
      "id": "GoogleCloudRecaptchaenterpriseV1FirewallActionBlockAction",
      "properties": {}
    },
    "GoogleCloudRecaptchaenterpriseV1ScoreDistribution": {
      "id": "GoogleCloudRecaptchaenterpriseV1ScoreDistribution",
      "properties": {
        "scoreBuckets": {
          "description": "Map key is score value multiplied by 100. The scores are discrete values between [0, 1]. The maximum number of buckets is on order of a few dozen, but typically much lower (ie. 10).",
          "additionalProperties": {
            "format": "int64",
            "type": "string"
          },
          "type": "object"
        }
      },
      "description": "Score distribution.",
      "type": "object"
    },
    "GoogleCloudRecaptchaenterpriseV1Policy": {
      "description": "A complete configuration set containing multiple grouped rules defining the behavior of reCAPTCHA for fraud detection and prevention.",
      "properties": {
        "clientSettings": {
          "$ref": "GoogleCloudRecaptchaenterpriseV1ClientSettings",
          "description": "Required. Configuration for clients protected by this policy."
        },
        "challengeRuleGroups": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudRecaptchaenterpriseV1ChallengeRuleGroup"
          },
          "description": "Optional. Rules to configure the behavior of reCAPTCHA for showing a challenge. Rule groups are evaluated in order. Evaluation stops when the first matching rule group is found."
        },
        "name": {
          "description": "Identifier. Resource name for this policy. Format: \"projects/{project}/keys/{key}/policy\" for a policy under a key.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudRecaptchaenterpriseV1Policy"
    },
    "GoogleCloudRecaptchaenterpriseV1ChallengeRuleChallengeOutcome": {
      "description": "An outcome that indicates that a challenge of a specified difficulty should be presented to the user.",
      "properties": {
        "difficulty": {
          "description": "Optional. The difficulty of the challenge to present to the user. If unspecified, `BALANCE` is used.",
          "type": "string",
          "enum": [
            "CHALLENGE_SECURITY_PREFERENCE_UNSPECIFIED",
            "USABILITY",
            "BALANCE",
            "SECURITY"
          ],
          "enumDescriptions": [
            "Default type that indicates this enum hasn't been specified.",
            "Key tends to show fewer and easier challenges.",
            "Key tends to show balanced (in amount and difficulty) challenges.",
            "Key tends to show more and harder challenges."
          ]
        }
      },
      "id": "GoogleCloudRecaptchaenterpriseV1ChallengeRuleChallengeOutcome",
      "type": "object"
    },
    "GoogleCloudRecaptchaenterpriseV1Metrics": {
      "properties": {
        "scoreMetrics": {
          "description": "Metrics are continuous and in order by dates, and in the granularity of day. All Key types should have score-based data.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudRecaptchaenterpriseV1ScoreMetrics"
          }
        },
        "startTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Inclusive start time aligned to a day in the America/Los_Angeles (Pacific) timezone."
        },
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Identifier. The name of the metrics, in the format `projects/{project}/keys/{key}/metrics`."
        },
        "challengeMetrics": {
          "type": "array",
          "description": "Metrics are continuous and in order by dates, and in the granularity of day. Only challenge-based keys (CHECKBOX, INVISIBLE) have challenge-based data.",
          "items": {
            "$ref": "GoogleCloudRecaptchaenterpriseV1ChallengeMetrics"
          }
        }
      },
      "type": "object",
      "id": "GoogleCloudRecaptchaenterpriseV1Metrics",
      "description": "Metrics for a single Key."
    },
    "GoogleCloudRecaptchaenterpriseV1TransactionEvent": {
      "type": "object",
      "description": "Describes an event in the lifecycle of a payment transaction.",
      "id": "GoogleCloudRecaptchaenterpriseV1TransactionEvent",
      "properties": {
        "eventTime": {
          "description": "Optional. Timestamp when this transaction event occurred; otherwise assumed to be the time of the API call.",
          "type": "string",
          "format": "google-datetime"
        },
        "value": {
          "type": "number",
          "description": "Optional. The value that corresponds with this transaction event, if one exists. For example, a refund event where $5.00 was refunded. Currency is obtained from the original transaction data.",
          "format": "double"
        },
        "reason": {
          "type": "string",
          "description": "Optional. The reason or standardized code that corresponds with this transaction event, if one exists. For example, a CHARGEBACK event with code 6005."
        },
        "eventType": {
          "enumDescriptions": [
            "Default, unspecified event type.",
            "Indicates that the transaction is approved by the merchant. The accompanying reasons can include terms such as 'INHOUSE', 'ACCERTIFY', 'CYBERSOURCE', or 'MANUAL_REVIEW'.",
            "Indicates that the transaction is denied and concluded due to risks detected by the merchant. The accompanying reasons can include terms such as 'INHOUSE', 'ACCERTIFY', 'CYBERSOURCE', or 'MANUAL_REVIEW'.",
            "Indicates that the transaction is being evaluated by a human, due to suspicion or risk.",
            "Indicates that the authorization attempt with the card issuer succeeded.",
            "Indicates that the authorization attempt with the card issuer failed. The accompanying reasons can include Visa's '54' indicating that the card is expired, or '82' indicating that the CVV is incorrect.",
            "Indicates that the transaction is completed because the funds were settled.",
            "Indicates that the transaction could not be completed because the funds were not settled.",
            "Indicates that the transaction has been canceled. Specify the reason for the cancellation. For example, 'INSUFFICIENT_INVENTORY'.",
            "Indicates that the merchant has received a chargeback inquiry due to fraud for the transaction, requesting additional information before a fraud chargeback is officially issued and a formal chargeback notification is sent.",
            "Indicates that the merchant has received a chargeback alert due to fraud for the transaction. The process of resolving the dispute without involving the payment network is started.",
            "Indicates that a fraud notification is issued for the transaction, sent by the payment instrument's issuing bank because the transaction appears to be fraudulent. We recommend including TC40 or SAFE data in the `reason` field for this event type. For partial chargebacks, we recommend that you include an amount in the `value` field.",
            "Indicates that the merchant is informed by the payment network that the transaction has entered the chargeback process due to fraud. Reason code examples include Discover's '6005' and '6041'. For partial chargebacks, we recommend that you include an amount in the `value` field.",
            "Indicates that the transaction has entered the chargeback process due to fraud, and that the merchant has chosen to enter representment. Reason examples include Discover's '6005' and '6041'. For partial chargebacks, we recommend that you include an amount in the `value` field.",
            "Indicates that the transaction has had a fraud chargeback which was illegitimate and was reversed as a result. For partial chargebacks, we recommend that you include an amount in the `value` field.",
            "Indicates that the merchant has received a refund for a completed transaction. For partial refunds, we recommend that you include an amount in the `value` field. Reason example: 'TAX_EXEMPT' (partial refund of exempt tax)",
            "Indicates that the merchant has received a refund request for this transaction, but that they have declined it. For partial refunds, we recommend that you include an amount in the `value` field. Reason example: 'TAX_EXEMPT' (partial refund of exempt tax)",
            "Indicates that the completed transaction was refunded by the merchant. For partial refunds, we recommend that you include an amount in the `value` field. Reason example: 'TAX_EXEMPT' (partial refund of exempt tax)",
            "Indicates that the completed transaction was refunded by the merchant, and that this refund was reversed. For partial refunds, we recommend that you include an amount in the `value` field."
          ],
          "description": "Optional. The type of this transaction event.",
          "type": "string",
          "enum": [
            "TRANSACTION_EVENT_TYPE_UNSPECIFIED",
            "MERCHANT_APPROVE",
            "MERCHANT_DENY",
            "MANUAL_REVIEW",
            "AUTHORIZATION",
            "AUTHORIZATION_DECLINE",
            "PAYMENT_CAPTURE",
            "PAYMENT_CAPTURE_DECLINE",
            "CANCEL",
            "CHARGEBACK_INQUIRY",
            "CHARGEBACK_ALERT",
            "FRAUD_NOTIFICATION",
            "CHARGEBACK",
            "CHARGEBACK_REPRESENTMENT",
            "CHARGEBACK_REVERSE",
            "REFUND_REQUEST",
            "REFUND_DECLINE",
            "REFUND",
            "REFUND_REVERSE"
          ]
        }
      }
    },
    "GoogleCloudRecaptchaenterpriseV1FraudPreventionAssessment": {
      "properties": {
        "riskReasons": {
          "items": {
            "$ref": "GoogleCloudRecaptchaenterpriseV1FraudPreventionAssessmentRiskReason"
          },
          "description": "Output only. Reasons why the transaction is probably fraudulent and received a high transaction risk score.",
          "readOnly": true,
          "type": "array"
        },
        "behavioralTrustVerdict": {
          "$ref": "GoogleCloudRecaptchaenterpriseV1FraudPreventionAssessmentBehavioralTrustVerdict",
          "readOnly": true,
          "description": "Output only. Assessment of this transaction for behavioral trust."
        },
        "cardTestingVerdict": {
          "description": "Output only. Assessment of this transaction for risk of being part of a card testing attack.",
          "$ref": "GoogleCloudRecaptchaenterpriseV1FraudPreventionAssessmentCardTestingVerdict",
          "readOnly": true
        },
        "stolenInstrumentVerdict": {
          "readOnly": true,
          "$ref": "GoogleCloudRecaptchaenterpriseV1FraudPreventionAssessmentStolenInstrumentVerdict",
          "description": "Output only. Assessment of this transaction for risk of a stolen instrument."
        },
        "transactionRisk": {
          "type": "number",
          "description": "Output only. Probability of this transaction being fraudulent. Summarizes the combined risk of attack vectors below. Values are from 0.0 (lowest) to 1.0 (highest).",
          "readOnly": true,
          "format": "float"
        }
      },
      "id": "GoogleCloudRecaptchaenterpriseV1FraudPreventionAssessment",
      "type": "object",
      "description": "Assessment for Fraud Prevention."
    },
    "GoogleCloudRecaptchaenterpriseV1FirewallActionRedirectAction": {
      "id": "GoogleCloudRecaptchaenterpriseV1FirewallActionRedirectAction",
      "description": "A redirect action returns a 307 (temporary redirect) response, pointing the user to a reCAPTCHA interstitial page to attach a token.",
      "type": "object",
      "properties": {}
    },
    "GoogleProtobufEmpty": {
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "properties": {},
      "id": "GoogleProtobufEmpty",
      "type": "object"
    },
    "GoogleCloudRecaptchaenterpriseV1UserInfo": {
      "type": "object",
      "id": "GoogleCloudRecaptchaenterpriseV1UserInfo",
      "description": "User information associated with a request protected by reCAPTCHA Enterprise.",
      "properties": {
        "userIds": {
          "items": {
            "$ref": "GoogleCloudRecaptchaenterpriseV1UserId"
          },
          "type": "array",
          "description": "Optional. Identifiers associated with this user or request."
        },
        "accountId": {
          "type": "string",
          "description": "Optional. For logged-in requests or login/registration requests, the unique account identifier associated with this user. You can use the username if it is stable (meaning it is the same for every request associated with the same user), or any stable user ID of your choice. Leave blank for non logged-in actions or guest checkout."
        },
        "createAccountTime": {
          "format": "google-datetime",
          "description": "Optional. Creation time for this account associated with this user. Leave blank for non logged-in actions, guest checkout, or when there is no account associated with the current user.",
          "type": "string"
        }
      }
    },
    "GoogleCloudRecaptchaenterpriseV1AppleDeveloperId": {
      "description": "Contains fields that are required to perform Apple-specific integrity checks.",
      "properties": {
        "keyId": {
          "description": "Required. The Apple developer key ID (10-character string).",
          "type": "string"
        },
        "teamId": {
          "type": "string",
          "description": "Required. The Apple team ID (10-character string) owning the provisioning profile used to build your application."
        },
        "privateKey": {
          "type": "string",
          "description": "Required. Input only. A private key (downloaded as a text file with a .p8 file extension) generated for your Apple Developer account. Ensure that Apple DeviceCheck is enabled for the private key."
        }
      },
      "id": "GoogleCloudRecaptchaenterpriseV1AppleDeveloperId",
      "type": "object"
    },
    "GoogleCloudRecaptchaenterpriseV1ChallengeRuleGroup": {
      "id": "GoogleCloudRecaptchaenterpriseV1ChallengeRuleGroup",
      "properties": {
        "actions": {
          "description": "Required. Action name provided at token generation. The action name is not case-sensitive and can only contain alphanumeric characters, slashes, and underscores. If \"*\" is provided, the rule group applies to all actions. If multiple actions are provided, the rule group is applied to all of them. This field is required.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "challengeRules": {
          "type": "array",
          "description": "Required. A list of rules that configure when and how reCAPTCHA presents a challenge. reCAPTCHA evaluates these rules in order and applies the first one that matches.",
          "items": {
            "$ref": "GoogleCloudRecaptchaenterpriseV1ChallengeRule"
          }
        }
      },
      "type": "object",
      "description": "A collection of challenge rules that applies to one or more actions."
    },
    "GoogleCloudRecaptchaenterpriseV1ClientSettings": {
      "type": "object",
      "properties": {
        "protectedEndpointGroup": {
          "description": "Optional. Configuration for all API endpoints to protect with reCAPTCHA. If this field is not set, reCAPTCHA will not automatically request tokens on any API endpoints.",
          "$ref": "GoogleCloudRecaptchaenterpriseV1ProtectedEndpointGroup"
        },
        "allowedDomains": {
          "type": "array",
          "description": "Optional. Domains or subdomains of websites allowed to use the policy. All subdomains of an allowed domain are automatically allowed. A valid domain requires a host and must not include any path, port, query or fragment. Examples: 'example.com' or 'subdomain.example.com' Each policy supports a maximum of 250 domains. To use a policy on more domains, set `allow_all_domains` to true. When this is set, you are responsible for validating the hostname by checking the `token_properties.hostname` field in each assessment response against your list of allowed domains.",
          "items": {
            "type": "string"
          }
        },
        "allowAllDomains": {
          "type": "boolean",
          "description": "Optional. If set to true, it means allowed_domains are not enforced."
        }
      },
      "id": "GoogleCloudRecaptchaenterpriseV1ClientSettings",
      "description": "Configuration for clients to protect with reCAPTCHA."
    },
    "GoogleCloudRecaptchaenterpriseV1AnnotateAssessmentRequest": {
      "type": "object",
      "id": "GoogleCloudRecaptchaenterpriseV1AnnotateAssessmentRequest",
      "description": "The request message to annotate an Assessment.",
      "properties": {
        "transactionEvent": {
          "description": "Optional. If the assessment is part of a payment transaction, provide details on payment lifecycle events that occur in the transaction.",
          "$ref": "GoogleCloudRecaptchaenterpriseV1TransactionEvent"
        },
        "hashedAccountId": {
          "description": "Optional. A stable hashed account identifier to apply to the assessment. This is an alternative to setting `hashed_account_id` in `CreateAssessment`, for example when a stable account identifier is not yet known in the initial request.",
          "type": "string",
          "format": "byte"
        },
        "phoneAuthenticationEvent": {
          "description": "Optional. If using an external multi-factor authentication provider, provide phone authentication details for fraud detection purposes.",
          "$ref": "GoogleCloudRecaptchaenterpriseV1PhoneAuthenticationEvent"
        },
        "annotation": {
          "enumDeprecated": [
            false,
            false,
            false,
            true,
            true
          ],
          "type": "string",
          "description": "Optional. The annotation that is assigned to the Event. This field can be left empty to provide reasons that apply to an event without concluding whether the event is legitimate or fraudulent.",
          "enum": [
            "ANNOTATION_UNSPECIFIED",
            "LEGITIMATE",
            "FRAUDULENT",
            "PASSWORD_CORRECT",
            "PASSWORD_INCORRECT"
          ],
          "enumDescriptions": [
            "Default unspecified type.",
            "Provides information that the event turned out to be legitimate.",
            "Provides information that the event turned out to be fraudulent.",
            "Provides information that the event was related to a login event in which the user typed the correct password. Deprecated, prefer indicating CORRECT_PASSWORD through the reasons field instead.",
            "Provides information that the event was related to a login event in which the user typed the incorrect password. Deprecated, prefer indicating INCORRECT_PASSWORD through the reasons field instead."
          ]
        },
        "reasons": {
          "description": "Optional. Reasons for the annotation that are assigned to the event.",
          "type": "array",
          "items": {
            "type": "string",
            "enum": [
              "REASON_UNSPECIFIED",
              "CHARGEBACK",
              "CHARGEBACK_FRAUD",
              "CHARGEBACK_DISPUTE",
              "REFUND",
              "REFUND_FRAUD",
              "TRANSACTION_ACCEPTED",
              "TRANSACTION_DECLINED",
              "PAYMENT_HEURISTICS",
              "INITIATED_TWO_FACTOR",
              "PASSED_TWO_FACTOR",
              "FAILED_TWO_FACTOR",
              "CORRECT_PASSWORD",
              "INCORRECT_PASSWORD",
              "SOCIAL_SPAM"
            ],
            "enumDescriptions": [
              "Unspecified reason. Do not use.",
              "Indicates that the transaction had a chargeback issued with no other details. When possible, specify the type by using CHARGEBACK_FRAUD or CHARGEBACK_DISPUTE instead.",
              "Indicates that the transaction had a chargeback issued related to an alleged unauthorized transaction from the cardholder's perspective (for example, the card number was stolen).",
              "Indicates that the transaction had a chargeback issued related to the cardholder having provided their card details but allegedly not being satisfied with the purchase (for example, misrepresentation, attempted cancellation).",
              "Indicates that the completed payment transaction was refunded by the seller.",
              "Indicates that the completed payment transaction was determined to be fraudulent by the seller, and was cancelled and refunded as a result.",
              "Indicates that the payment transaction was accepted, and the user was charged.",
              "Indicates that the payment transaction was declined, for example due to invalid card details.",
              "Indicates the transaction associated with the assessment is suspected of being fraudulent based on the payment method, billing details, shipping address or other transaction information.",
              "Indicates that the user was served a 2FA challenge. An old assessment with `ENUM_VALUES.INITIATED_TWO_FACTOR` reason that has not been overwritten with `PASSED_TWO_FACTOR` is treated as an abandoned 2FA flow. This is equivalent to `FAILED_TWO_FACTOR`.",
              "Indicates that the user passed a 2FA challenge.",
              "Indicates that the user failed a 2FA challenge.",
              "Indicates the user provided the correct password.",
              "Indicates the user provided an incorrect password.",
              "Indicates that the user sent unwanted and abusive messages to other users of the platform, such as spam, scams, phishing, or social engineering."
            ]
          }
        },
        "accountId": {
          "description": "Optional. A stable account identifier to apply to the assessment. This is an alternative to setting `account_id` in `CreateAssessment`, for example when a stable account identifier is not yet known in the initial request.",
          "type": "string"
        }
      }
    },
    "GoogleCloudRecaptchaenterpriseV1WebKeySettings": {
      "properties": {
        "allowAllDomains": {
          "type": "boolean",
          "description": "Optional. If set to true, it means allowed_domains are not enforced."
        },
        "integrationType": {
          "description": "Required. Describes how this key is integrated with the website.",
          "enumDescriptions": [
            "Default type that indicates this enum hasn't been specified. This is not a valid IntegrationType, one of the other types must be specified instead.",
            "Only used to produce scores. It doesn't display the \"I'm not a robot\" checkbox and never shows captcha challenges.",
            "Displays the \"I'm not a robot\" checkbox and may show captcha challenges after it is checked.",
            "Doesn't display the \"I'm not a robot\" checkbox, but may show captcha challenges after risk analysis.",
            "Displays a visual challenge or not depending on the user risk analysis score."
          ],
          "type": "string",
          "enum": [
            "INTEGRATION_TYPE_UNSPECIFIED",
            "SCORE",
            "CHECKBOX",
            "INVISIBLE",
            "POLICY_BASED_CHALLENGE"
          ]
        },
        "allowedDomains": {
          "description": "Optional. Domains or subdomains of websites allowed to use the key. All subdomains of an allowed domain are automatically allowed. A valid domain requires a host and must not include any path, port, query or fragment. Examples: 'example.com' or 'subdomain.example.com' Each key supports a maximum of 250 domains. To use a key on more domains, set `allow_all_domains` to true. When this is set, you are responsible for validating the hostname by checking the `token_properties.hostname` field in each assessment response against your list of allowed domains.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "allowAmpTraffic": {
          "description": "Optional. If set to true, the key can be used on AMP (Accelerated Mobile Pages) websites. This is supported only for the SCORE integration type.",
          "type": "boolean"
        },
        "challengeSettings": {
          "$ref": "GoogleCloudRecaptchaenterpriseV1WebKeySettingsChallengeSettings",
          "description": "Optional. Challenge settings."
        },
        "challengeSecurityPreference": {
          "type": "string",
          "enum": [
            "CHALLENGE_SECURITY_PREFERENCE_UNSPECIFIED",
            "USABILITY",
            "BALANCE",
            "SECURITY"
          ],
          "enumDescriptions": [
            "Default type that indicates this enum hasn't been specified.",
            "Key tends to show fewer and easier challenges.",
            "Key tends to show balanced (in amount and difficulty) challenges.",
            "Key tends to show more and harder challenges."
          ],
          "description": "Optional. Settings for the frequency and difficulty at which this key triggers captcha challenges. This should only be specified for `IntegrationType` CHECKBOX (defaults to BALANCE), INVISIBLE (defaults to USABILITY), or POLICY_BASED_CHALLENGE (defaults to USABILITY)."
        }
      },
      "type": "object",
      "description": "Settings specific to keys that can be used by websites.",
      "id": "GoogleCloudRecaptchaenterpriseV1WebKeySettings"
    },
    "GoogleCloudRecaptchaenterpriseV1FraudPreventionAssessmentRiskReason": {
      "properties": {
        "reason": {
          "enumDescriptions": [
            "Default unspecified type.",
            "A suspiciously high number of recent transactions have used identifiers present in this transaction.",
            "User is cycling through a suspiciously large number of identifiers, suggesting enumeration or validation attacks within a potential fraud network.",
            "User has a short history or no history in the reCAPTCHA network, suggesting the possibility of synthetic identity generation.",
            "Identifiers used in this transaction originate from an unusual or conflicting set of geolocations.",
            "This transaction is linked to a cluster of known fraudulent activity."
          ],
          "type": "string",
          "description": "Output only. Risk reasons applicable to the Fraud Prevention assessment.",
          "enum": [
            "REASON_UNSPECIFIED",
            "HIGH_TRANSACTION_VELOCITY",
            "EXCESSIVE_ENUMERATION_PATTERN",
            "SHORT_IDENTITY_HISTORY",
            "GEOLOCATION_DISCREPANCY",
            "ASSOCIATED_WITH_FRAUD_CLUSTER"
          ],
          "readOnly": true
        }
      },
      "id": "GoogleCloudRecaptchaenterpriseV1FraudPreventionAssessmentRiskReason",
      "type": "object",
      "description": "Risk reasons applicable to the Fraud Prevention assessment."
    },
    "GoogleCloudRecaptchaenterpriseV1WebKeySettingsChallengeSettings": {
      "type": "object",
      "properties": {
        "actionSettings": {
          "additionalProperties": {
            "$ref": "GoogleCloudRecaptchaenterpriseV1WebKeySettingsActionSettings"
          },
          "type": "object",
          "description": "Optional. The action to score threshold map. The action name should be the same as the action name passed in the `data-action` attribute (see https://cloud.google.com/recaptcha/docs/actions-website). Action names are case-insensitive. There is a maximum of 100 action settings. An action name has a maximum length of 100."
        },
        "defaultSettings": {
          "$ref": "GoogleCloudRecaptchaenterpriseV1WebKeySettingsActionSettings",
          "description": "Required. Defines when a challenge is triggered (unless the default threshold is overridden for the given action, see `action_settings`)."
        }
      },
      "id": "GoogleCloudRecaptchaenterpriseV1WebKeySettingsChallengeSettings",
      "description": "Settings for POLICY_BASED_CHALLENGE keys to control when a challenge is triggered."
    },
    "GoogleCloudRecaptchaenterpriseV1AssessmentEnvironment": {
      "id": "GoogleCloudRecaptchaenterpriseV1AssessmentEnvironment",
      "properties": {
        "client": {
          "description": "Optional. Identifies the client module initiating the CreateAssessment request. This can be the link to the client module's project. Examples include: - \"github.com/GoogleCloudPlatform/recaptcha-enterprise-google-tag-manager\" - \"wordpress.org/plugins/recaptcha-something\"",
          "type": "string"
        },
        "version": {
          "description": "Optional. The version of the client module. For example, \"1.0.0\".",
          "type": "string"
        }
      },
      "description": "The environment creating the assessment. This describes your environment (the system invoking CreateAssessment), NOT the environment of your user.",
      "type": "object"
    },
    "GoogleCloudRecaptchaenterpriseV1ListKeysResponse": {
      "description": "Response to request to list keys in a project.",
      "id": "GoogleCloudRecaptchaenterpriseV1ListKeysResponse",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "Token to retrieve the next page of results. It is set to empty if no keys remain in results.",
          "type": "string"
        },
        "keys": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudRecaptchaenterpriseV1Key"
          },
          "description": "Key details."
        }
      }
    },
    "GoogleCloudRecaptchaenterpriseV1TransactionDataAddress": {
      "id": "GoogleCloudRecaptchaenterpriseV1TransactionDataAddress",
      "type": "object",
      "properties": {
        "recipient": {
          "description": "Optional. The recipient name, potentially including information such as \"care of\".",
          "type": "string"
        },
        "administrativeArea": {
          "description": "Optional. The state, province, or otherwise administrative area of the address.",
          "type": "string"
        },
        "address": {
          "items": {
            "type": "string"
          },
          "description": "Optional. The first lines of the address. The first line generally contains the street name and number, and further lines may include information such as an apartment number.",
          "type": "array"
        },
        "regionCode": {
          "type": "string",
          "description": "Optional. The CLDR country/region of the address."
        },
        "postalCode": {
          "description": "Optional. The postal or ZIP code of the address.",
          "type": "string"
        },
        "locality": {
          "description": "Optional. The town/city of the address.",
          "type": "string"
        }
      },
      "description": "Structured address format for billing and shipping addresses."
    },
    "GoogleCloudRecaptchaenterpriseV1ProtectedEndpointGroup": {
      "id": "GoogleCloudRecaptchaenterpriseV1ProtectedEndpointGroup",
      "type": "object",
      "properties": {
        "protectedEndpoints": {
          "description": "Optional. List of API endpoints to automatically protect with reCAPTCHA. If any of these endpoints is invoked from a page where a key bound to this policy is installed, a reCAPTCHA token is automatically generated and attached to the request. If multiple protected endpoints match a given API endpoint, the first one in the list is used.",
          "items": {
            "$ref": "GoogleCloudRecaptchaenterpriseV1ProtectedEndpoint"
          },
          "type": "array"
        }
      },
      "description": "Configuration for API endpoints to protect with reCAPTCHA."
    },
    "GoogleCloudRecaptchaenterpriseV1AccountDefenderAssessmentAccountTrustReason": {
      "id": "GoogleCloudRecaptchaenterpriseV1AccountDefenderAssessmentAccountTrustReason",
      "type": "object",
      "properties": {
        "reason": {
          "enum": [
            "TRUST_REASON_UNSPECIFIED",
            "PROFILE_MATCH",
            "ACCOUNT_HISTORY_REPUTABLE",
            "IDENTITY_GLOBAL_ACTIVITY_REPUTABLE",
            "IDENTITY_HISTORY_REPUTABLE"
          ],
          "type": "string",
          "readOnly": true,
          "enumDescriptions": [
            "Default unspecified type.",
            "The request matches a trusted profile associated with this account. Equivalent to `AccountDefenderLabel.PROFILE_MATCH`.",
            "The account's historical activity is reputable. It is unlikely that the account has been compromised in the past.",
            "The identity shows a global pattern of reputable activity based on `userInfo` and associated identifiers.",
            "The identity shows a long-standing history of reputable activity based on `userInfo` and associated identifiers."
          ],
          "description": "Output only. A trust reason associated with this request."
        }
      },
      "description": "Trust explainability reasons for Account defense."
    },
    "GoogleCloudRecaptchaenterpriseV1ChallengeRuleEvaluation": {
      "description": "Information about the evaluation of a `ChallengeRule`.",
      "properties": {},
      "type": "object",
      "id": "GoogleCloudRecaptchaenterpriseV1ChallengeRuleEvaluation"
    },
    "GoogleCloudRecaptchaenterpriseV1FraudSignalsUserSignals": {
      "id": "GoogleCloudRecaptchaenterpriseV1FraudSignalsUserSignals",
      "type": "object",
      "properties": {
        "activeDaysLowerBound": {
          "type": "integer",
          "readOnly": true,
          "format": "int32",
          "description": "Output only. This user (based on email, phone, and other identifiers) has been seen on the internet for at least this number of days."
        },
        "syntheticRisk": {
          "readOnly": true,
          "type": "number",
          "format": "float",
          "description": "Output only. Likelihood (from 0.0 to 1.0) this user includes synthetic components in their identity, such as a randomly generated email address, temporary phone number, or fake shipping address."
        }
      },
      "description": "Signals describing the user involved in this transaction."
    },
    "GoogleCloudRecaptchaenterpriseV1Key": {
      "description": "A key used to identify and configure applications (web and/or mobile) that use reCAPTCHA Enterprise.",
      "type": "object",
      "id": "GoogleCloudRecaptchaenterpriseV1Key",
      "properties": {
        "displayName": {
          "type": "string",
          "description": "Required. Human-readable display name of this key. Modifiable by user."
        },
        "name": {
          "description": "Identifier. The resource name for the Key in the format `projects/{project}/keys/{key}`.",
          "type": "string"
        },
        "testingOptions": {
          "$ref": "GoogleCloudRecaptchaenterpriseV1TestingOptions",
          "description": "Optional. Options for user acceptance testing."
        },
        "webSettings": {
          "$ref": "GoogleCloudRecaptchaenterpriseV1WebKeySettings",
          "description": "Settings for keys that can be used by websites."
        },
        "iosSettings": {
          "description": "Settings for keys that can be used by iOS apps.",
          "$ref": "GoogleCloudRecaptchaenterpriseV1IOSKeySettings"
        },
        "androidSettings": {
          "description": "Settings for keys that can be used by Android apps.",
          "$ref": "GoogleCloudRecaptchaenterpriseV1AndroidKeySettings"
        },
        "labels": {
          "type": "object",
          "description": "Optional. See [Creating and managing labels] (https://cloud.google.com/recaptcha/docs/labels).",
          "additionalProperties": {
            "type": "string"
          }
        },
        "wafSettings": {
          "$ref": "GoogleCloudRecaptchaenterpriseV1WafSettings",
          "description": "Optional. Settings for Web Application Firewall (WAF)."
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The timestamp corresponding to the creation of this key.",
          "readOnly": true
        },
        "expressSettings": {
          "description": "Settings for keys that can be used by reCAPTCHA Express.",
          "$ref": "GoogleCloudRecaptchaenterpriseV1ExpressKeySettings"
        },
        "universalSettings": {
          "$ref": "GoogleCloudRecaptchaenterpriseV1UniversalKeySettings",
          "description": "Settings for keys that are configured through their Policy."
        }
      }
    },
    "GoogleCloudRecaptchaenterpriseV1PrivatePasswordLeakVerification": {
      "properties": {
        "reencryptedUserCredentialsHash": {
          "description": "Output only. Corresponds to the re-encryption of the `encrypted_user_credentials_hash` field. It is used to match potential password leaks within `encrypted_leak_match_prefixes`.",
          "readOnly": true,
          "format": "byte",
          "type": "string"
        },
        "encryptedLeakMatchPrefixes": {
          "description": "Output only. List of prefixes of the encrypted potential password leaks that matched the given parameters. They must be compared with the client-side decryption prefix of `reencrypted_user_credentials_hash`",
          "type": "array",
          "items": {
            "type": "string",
            "format": "byte"
          },
          "readOnly": true
        },
        "lookupHashPrefix": {
          "type": "string",
          "description": "Required. Exactly 26-bit prefix of the SHA-256 hash of the canonicalized username. It is used to look up password leaks associated with that hash prefix.",
          "format": "byte"
        },
        "encryptedUserCredentialsHash": {
          "type": "string",
          "format": "byte",
          "description": "Optional. Encrypted Scrypt hash of the canonicalized username+password. It is re-encrypted by the server and returned through `reencrypted_user_credentials_hash`."
        }
      },
      "type": "object",
      "id": "GoogleCloudRecaptchaenterpriseV1PrivatePasswordLeakVerification",
      "description": "Private password leak verification info."
    },
    "GoogleCloudRecaptchaenterpriseV1Assessment": {
      "id": "GoogleCloudRecaptchaenterpriseV1Assessment",
      "description": "A reCAPTCHA Enterprise assessment resource.",
      "type": "object",
      "properties": {
        "accountVerification": {
          "$ref": "GoogleCloudRecaptchaenterpriseV1AccountVerificationInfo",
          "description": "Optional. Account verification information for identity verification. The assessment event must include a token and site key to use this feature."
        },
        "fraudPreventionAssessment": {
          "description": "Output only. Assessment returned by Fraud Prevention when TransactionData is provided.",
          "readOnly": true,
          "$ref": "GoogleCloudRecaptchaenterpriseV1FraudPreventionAssessment"
        },
        "accountDefenderAssessment": {
          "description": "Output only. Assessment returned by Account defense when an account identifier is provided.",
          "readOnly": true,
          "$ref": "GoogleCloudRecaptchaenterpriseV1AccountDefenderAssessment"
        },
        "fraudSignals": {
          "readOnly": true,
          "$ref": "GoogleCloudRecaptchaenterpriseV1FraudSignals",
          "description": "Output only. Fraud Signals specific to the users involved in a payment transaction."
        },
        "phoneFraudAssessment": {
          "$ref": "GoogleCloudRecaptchaenterpriseV1PhoneFraudAssessment",
          "readOnly": true,
          "description": "Output only. Assessment returned when a site key, a token, and a phone number as `user_id` are provided. SMS defense needs to be enabled."
        },
        "riskAnalysis": {
          "readOnly": true,
          "description": "Output only. The risk analysis result for the event being assessed.",
          "$ref": "GoogleCloudRecaptchaenterpriseV1RiskAnalysis"
        },
        "tokenProperties": {
          "description": "Output only. Properties of the provided event token.",
          "$ref": "GoogleCloudRecaptchaenterpriseV1TokenProperties",
          "readOnly": true
        },
        "firewallPolicyAssessment": {
          "readOnly": true,
          "$ref": "GoogleCloudRecaptchaenterpriseV1FirewallPolicyAssessment",
          "description": "Output only. Assessment returned when firewall policies belonging to the project are evaluated using the field firewall_policy_evaluation."
        },
        "policyEvaluation": {
          "description": "Output only. Provides information about the policy evaluation for this assessment.",
          "readOnly": true,
          "$ref": "GoogleCloudRecaptchaenterpriseV1PolicyEvaluation"
        },
        "assessmentEnvironment": {
          "$ref": "GoogleCloudRecaptchaenterpriseV1AssessmentEnvironment",
          "description": "Optional. The environment creating the assessment. This describes your environment (the system invoking CreateAssessment), NOT the environment of your user."
        },
        "event": {
          "$ref": "GoogleCloudRecaptchaenterpriseV1Event",
          "description": "Optional. The event being assessed."
        },
        "name": {
          "description": "Output only. Identifier. The resource name for the Assessment in the format `projects/{project}/assessments/{assessment}`.",
          "readOnly": true,
          "type": "string"
        },
        "privatePasswordLeakVerification": {
          "$ref": "GoogleCloudRecaptchaenterpriseV1PrivatePasswordLeakVerification",
          "description": "Optional. The private password leak verification field contains the parameters that are used to to check for leaks privately without sharing user credentials."
        }
      }
    },
    "GoogleCloudRecaptchaenterpriseV1SearchRelatedAccountGroupMembershipsResponse": {
      "properties": {
        "relatedAccountGroupMemberships": {
          "items": {
            "$ref": "GoogleCloudRecaptchaenterpriseV1RelatedAccountGroupMembership"
          },
          "type": "array",
          "description": "The queried memberships."
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        }
      },
      "id": "GoogleCloudRecaptchaenterpriseV1SearchRelatedAccountGroupMembershipsResponse",
      "description": "The response to a `SearchRelatedAccountGroupMemberships` call.",
      "type": "object"
    },
    "GoogleCloudRecaptchaenterpriseV1FraudPreventionAssessmentBehavioralTrustVerdict": {
      "type": "object",
      "description": "Information about behavioral trust of the transaction.",
      "id": "GoogleCloudRecaptchaenterpriseV1FraudPreventionAssessmentBehavioralTrustVerdict",
      "properties": {
        "trust": {
          "format": "float",
          "description": "Output only. Probability of this transaction attempt being executed in a behaviorally trustworthy way. Values are from 0.0 (lowest) to 1.0 (highest).",
          "type": "number",
          "readOnly": true
        }
      }
    },
    "GoogleCloudRecaptchaenterpriseV1FraudPreventionAssessmentCardTestingVerdict": {
      "type": "object",
      "description": "Information about card testing fraud, where an adversary is testing fraudulently obtained cards or brute forcing their details.",
      "properties": {
        "risk": {
          "format": "float",
          "type": "number",
          "description": "Output only. Probability of this transaction attempt being part of a card testing attack. Values are from 0.0 (lowest) to 1.0 (highest).",
          "readOnly": true
        }
      },
      "id": "GoogleCloudRecaptchaenterpriseV1FraudPreventionAssessmentCardTestingVerdict"
    },
    "GoogleCloudRecaptchaenterpriseV1ScoreMetrics": {
      "description": "Metrics related to scoring.",
      "properties": {
        "actionMetrics": {
          "description": "Action-based metrics. The map key is the action name which specified by the site owners at time of the \"execute\" client-side call.",
          "type": "object",
          "additionalProperties": {
            "$ref": "GoogleCloudRecaptchaenterpriseV1ScoreDistribution"
          }
        },
        "overallMetrics": {
          "$ref": "GoogleCloudRecaptchaenterpriseV1ScoreDistribution",
          "description": "Aggregated score metrics for all traffic."
        }
      },
      "id": "GoogleCloudRecaptchaenterpriseV1ScoreMetrics",
      "type": "object"
    },
    "GoogleCloudRecaptchaenterpriseV1ChallengeRuleNoChallengeOutcome": {
      "type": "object",
      "id": "GoogleCloudRecaptchaenterpriseV1ChallengeRuleNoChallengeOutcome",
      "properties": {},
      "description": "An outcome that indicates that no challenge should be presented to the user."
    },
    "GoogleCloudRecaptchaenterpriseV1PhoneFraudAssessment": {
      "id": "GoogleCloudRecaptchaenterpriseV1PhoneFraudAssessment",
      "description": "Assessment for Phone Fraud",
      "type": "object",
      "properties": {
        "smsTollFraudVerdict": {
          "$ref": "GoogleCloudRecaptchaenterpriseV1SmsTollFraudVerdict",
          "readOnly": true,
          "description": "Output only. Assessment of this phone event for risk of SMS toll fraud."
        }
      }
    },
    "GoogleCloudRecaptchaenterpriseV1RetrieveLegacySecretKeyResponse": {
      "id": "GoogleCloudRecaptchaenterpriseV1RetrieveLegacySecretKeyResponse",
      "type": "object",
      "description": "Secret key is used only in legacy reCAPTCHA. It must be used in a 3rd party integration with legacy reCAPTCHA.",
      "properties": {
        "legacySecretKey": {
          "description": "The secret key (also known as shared secret) authorizes communication between your application backend and the reCAPTCHA Enterprise server to create an assessment. The secret key needs to be kept safe for security purposes.",
          "type": "string"
        }
      }
    },
    "GoogleCloudRecaptchaenterpriseV1AccountVerificationInfo": {
      "type": "object",
      "description": "Information about account verification, used for identity verification.",
      "properties": {
        "username": {
          "deprecated": true,
          "type": "string",
          "description": "Username of the account that is being verified. Deprecated. Customers should now provide the `account_id` field in `event.user_info`."
        },
        "languageCode": {
          "description": "Optional. Language code preference for the verification message, set as a IETF BCP 47 language code.",
          "type": "string"
        },
        "latestVerificationResult": {
          "enum": [
            "RESULT_UNSPECIFIED",
            "SUCCESS_USER_VERIFIED",
            "ERROR_USER_NOT_VERIFIED",
            "ERROR_SITE_ONBOARDING_INCOMPLETE",
            "ERROR_RECIPIENT_NOT_ALLOWED",
            "ERROR_RECIPIENT_ABUSE_LIMIT_EXHAUSTED",
            "ERROR_CRITICAL_INTERNAL",
            "ERROR_CUSTOMER_QUOTA_EXHAUSTED",
            "ERROR_VERIFICATION_BYPASSED",
            "ERROR_VERDICT_MISMATCH"
          ],
          "description": "Output only. Result of the latest account verification challenge.",
          "enumDescriptions": [
            "No information about the latest account verification.",
            "The user was successfully verified. This means the account verification challenge was successfully completed.",
            "The user failed the verification challenge.",
            "The site is not properly onboarded to use the account verification feature.",
            "The recipient is not allowed for account verification. This can occur during integration but should not occur in production.",
            "The recipient has already been sent too many verification codes in a short amount of time.",
            "The verification flow could not be completed due to a critical internal error.",
            "The client has exceeded their two factor request quota for this period of time.",
            "The request cannot be processed at the time because of an incident. This bypass can be restricted to a problematic destination email domain, a customer, or could affect the entire service.",
            "The request parameters do not match with the token provided and cannot be processed."
          ],
          "readOnly": true,
          "type": "string"
        },
        "endpoints": {
          "description": "Optional. Endpoints that can be used for identity verification.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudRecaptchaenterpriseV1EndpointVerificationInfo"
          }
        }
      },
      "id": "GoogleCloudRecaptchaenterpriseV1AccountVerificationInfo"
    },
    "GoogleCloudRecaptchaenterpriseV1UniversalKeySettings": {
      "properties": {},
      "id": "GoogleCloudRecaptchaenterpriseV1UniversalKeySettings",
      "description": "Settings for keys that are configured through their Policy.",
      "type": "object"
    },
    "GoogleCloudRecaptchaenterpriseV1TestingOptions": {
      "id": "GoogleCloudRecaptchaenterpriseV1TestingOptions",
      "type": "object",
      "description": "Options for user acceptance testing.",
      "properties": {
        "testingScore": {
          "format": "float",
          "type": "number",
          "description": "Optional. All assessments for this Key return this score. Must be between 0 (likely not legitimate) and 1 (likely legitimate) inclusive."
        },
        "testingChallenge": {
          "type": "string",
          "enum": [
            "TESTING_CHALLENGE_UNSPECIFIED",
            "NOCAPTCHA",
            "UNSOLVABLE_CHALLENGE"
          ],
          "enumDescriptions": [
            "Perform the normal risk analysis and return either nocaptcha or a challenge depending on risk and trust factors.",
            "Challenge requests for this key always return a nocaptcha, which does not require a solution.",
            "Challenge requests for this key always return an unsolvable challenge."
          ],
          "description": "Optional. For challenge-based keys only (CHECKBOX, INVISIBLE), all challenge requests for this site return nocaptcha if NOCAPTCHA, or an unsolvable challenge if CHALLENGE."
        }
      }
    },
    "GoogleCloudRecaptchaenterpriseV1FirewallActionSetHeaderAction": {
      "id": "GoogleCloudRecaptchaenterpriseV1FirewallActionSetHeaderAction",
      "description": "A set header action sets a header and forwards the request to the backend. This can be used to trigger custom protection implemented on the backend.",
      "properties": {
        "key": {
          "description": "Optional. The header key to set in the request to the backend server.",
          "type": "string"
        },
        "value": {
          "type": "string",
          "description": "Optional. The header value to set in the request to the backend server."
        }
      },
      "type": "object"
    },
    "GoogleCloudRecaptchaenterpriseV1ReorderFirewallPoliciesRequest": {
      "type": "object",
      "properties": {
        "names": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Required. A list containing all policy names, in the new order. Each name is in the format `projects/{project}/firewallpolicies/{firewallpolicy}`."
        }
      },
      "description": "The reorder firewall policies request message.",
      "id": "GoogleCloudRecaptchaenterpriseV1ReorderFirewallPoliciesRequest"
    },
    "GoogleCloudRecaptchaenterpriseV1PhoneAuthenticationEvent": {
      "id": "GoogleCloudRecaptchaenterpriseV1PhoneAuthenticationEvent",
      "properties": {
        "phoneNumber": {
          "description": "Required. Phone number in E.164 format for which a multi-factor authentication challenge was initiated, succeeded, or failed.",
          "type": "string"
        },
        "eventTime": {
          "description": "Optional. The time at which the multi-factor authentication event (challenge or verification) occurred.",
          "format": "google-datetime",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Details on a phone authentication event"
    },
    "GoogleCloudRecaptchaenterpriseV1IpOverrideData": {
      "description": "Information about the IP or IP range override.",
      "type": "object",
      "properties": {
        "ip": {
          "description": "Required. The IP address to override (can be IPv4, IPv6 or CIDR). The IP override must be a valid IPv4 or IPv6 address, or a CIDR range. The IP override must be a public IP address. Example of IPv4: 168.192.5.6 Example of IPv6: 2001:0000:130F:0000:0000:09C0:876A:130B Example of IPv4 with CIDR: 168.192.5.0/24 Example of IPv6 with CIDR: 2001:0DB8:1234::/48",
          "type": "string"
        },
        "overrideType": {
          "enumDescriptions": [
            "Default override type that indicates this enum hasn't been specified.",
            "Allowlist the IP address; i.e. give a `risk_analysis.score` of 0.9 for all valid assessments."
          ],
          "description": "Required. Describes the type of IP override.",
          "type": "string",
          "enum": [
            "OVERRIDE_TYPE_UNSPECIFIED",
            "ALLOW"
          ]
        }
      },
      "id": "GoogleCloudRecaptchaenterpriseV1IpOverrideData"
    },
    "GoogleCloudRecaptchaenterpriseV1RemoveIpOverrideResponse": {
      "type": "object",
      "description": "Response for RemoveIpOverride.",
      "id": "GoogleCloudRecaptchaenterpriseV1RemoveIpOverrideResponse",
      "properties": {}
    },
    "GoogleCloudRecaptchaenterpriseV1FraudSignals": {
      "type": "object",
      "id": "GoogleCloudRecaptchaenterpriseV1FraudSignals",
      "description": "Fraud signals describing users and cards involved in the transaction.",
      "properties": {
        "userSignals": {
          "description": "Output only. Signals describing the end user in this transaction.",
          "readOnly": true,
          "$ref": "GoogleCloudRecaptchaenterpriseV1FraudSignalsUserSignals"
        },
        "cardSignals": {
[...]
