{
  "ownerName": "Google",
  "discoveryVersion": "v1",
  "id": "recaptchaenterprise:v1",
  "title": "reCAPTCHA Enterprise API",
  "baseUrl": "https://recaptchaenterprise.googleapis.com/",
  "fullyEncodeReservedExpansion": true,
  "canonicalName": "Recaptcha Enterprise",
  "mtlsRootUrl": "https://recaptchaenterprise.mtls.googleapis.com/",
  "schemas": {
    "GoogleCloudRecaptchaenterpriseV1Bot": {
      "type": "object",
      "properties": {
        "botType": {
          "type": "string",
          "enum": [
            "BOT_TYPE_UNSPECIFIED",
            "AI_AGENT",
            "CONTENT_SCRAPER",
            "SEARCH_INDEXER"
          ],
          "enumDescriptions": [
            "Default unspecified type.",
            "Software program that interacts with a site and performs tasks autonomously.",
            "Software that extracts specific data from sites for use.",
            "Software that crawls sites and stores content for the purpose of efficient retrieval, likely as part of a search engine."
          ],
          "description": "Optional. Enumerated field representing the type of bot."
        },
        "name": {
          "description": "Optional. Enumerated string value that indicates the identity of the bot, formatted in kebab-case. Current example values include the following: * google-agent - AI_AGENT * browser-base - AI_AGENT * chat-gpt - AI_AGENT * aws-bedrock - AI_AGENT * cybaa-bot - AI_AGENT * cloudflare - AI_AGENT * payhawk - AI_AGENT * duck-duck-go - SEARCH_INDEXER * mediaboard - CONTENT_SCRAPER * marker-io - AI_AGENT * broadcom - AI_AGENT * anchor-browser - AI_AGENT * shopify - AI_AGENT * stackscope - CONTENT_SCRAPER * manus - AI_AGENT * kernel-sh - AI_AGENT * zvelo - SEARCH_INDEXER Ensure that your applications can handle identifier values not explicitly listed here. Deprecated values might take some time to stop showing up in responses. New values can be pushed so this list should be taken as non exhaustive.",
          "type": "string"
        }
      },
      "description": "Bot information and metadata.",
      "id": "GoogleCloudRecaptchaenterpriseV1Bot"
    },
    "GoogleCloudRecaptchaenterpriseV1RelatedAccountGroupMembership": {
      "description": "A membership in a group of related accounts.",
      "type": "object",
      "properties": {
        "accountId": {
          "type": "string",
          "description": "The unique stable account identifier of the member. The identifier corresponds to an `account_id` provided in a previous `CreateAssessment` or `AnnotateAssessment` call."
        },
        "name": {
          "type": "string",
          "description": "Required. Identifier. The resource name for this membership in the format `projects/{project}/relatedaccountgroups/{relatedaccountgroup}/memberships/{membership}`."
        },
        "hashedAccountId": {
          "type": "string",
          "description": "Deprecated: use `account_id` instead. The unique stable hashed account identifier of the member. The identifier corresponds to a `hashed_account_id` provided in a previous `CreateAssessment` or `AnnotateAssessment` call.",
          "deprecated": true,
          "format": "byte"
        }
      },
      "id": "GoogleCloudRecaptchaenterpriseV1RelatedAccountGroupMembership"
    },
    "GoogleCloudRecaptchaenterpriseV1IpOverrideData": {
      "type": "object",
      "id": "GoogleCloudRecaptchaenterpriseV1IpOverrideData",
      "properties": {
        "ip": {
          "type": "string",
          "description": "Required. The IP address to override (can be IPv4, IPv6 or CIDR). The IP override must be a valid IPv4 or IPv6 address, or a CIDR range. The IP override must be a public IP address. Example of IPv4: 168.192.5.6 Example of IPv6: 2001:0000:130F:0000:0000:09C0:876A:130B Example of IPv4 with CIDR: 168.192.5.0/24 Example of IPv6 with CIDR: 2001:0DB8:1234::/48"
        },
        "overrideType": {
          "type": "string",
          "enum": [
            "OVERRIDE_TYPE_UNSPECIFIED",
            "ALLOW"
          ],
          "description": "Required. Describes the type of IP override.",
          "enumDescriptions": [
            "Default override type that indicates this enum hasn't been specified.",
            "Allowlist the IP address; i.e. give a `risk_analysis.score` of 0.9 for all valid assessments."
          ]
        }
      },
      "description": "Information about the IP or IP range override."
    },
    "GoogleCloudRecaptchaenterpriseV1FraudSignalsUserSignals": {
      "type": "object",
      "description": "Signals describing the user involved in this transaction.",
      "properties": {
        "syntheticRisk": {
          "description": "Output only. Likelihood (from 0.0 to 1.0) this user includes synthetic components in their identity, such as a randomly generated email address, temporary phone number, or fake shipping address.",
          "format": "float",
          "type": "number",
          "readOnly": true
        },
        "activeDaysLowerBound": {
          "type": "integer",
          "format": "int32",
          "description": "Output only. This user (based on email, phone, and other identifiers) has been seen on the internet for at least this number of days.",
          "readOnly": true
        }
      },
      "id": "GoogleCloudRecaptchaenterpriseV1FraudSignalsUserSignals"
    },
    "GoogleCloudRecaptchaenterpriseV1FraudSignalsCardSignals": {
      "properties": {
        "cardLabels": {
          "type": "array",
          "readOnly": true,
          "items": {
            "type": "string",
            "enum": [
              "CARD_LABEL_UNSPECIFIED",
              "PREPAID",
              "VIRTUAL",
              "UNEXPECTED_LOCATION"
            ],
            "enumDescriptions": [
              "No label specified.",
              "This card has been detected as prepaid.",
              "This card has been detected as virtual, such as a card number generated for a single transaction or merchant.",
              "This card has been detected as being used in an unexpected geographic location."
            ]
          },
          "description": "Output only. The labels for the payment card in this transaction."
        }
      },
      "type": "object",
      "id": "GoogleCloudRecaptchaenterpriseV1FraudSignalsCardSignals",
      "description": "Signals describing the payment card used in this transaction."
    },
    "GoogleCloudRecaptchaenterpriseV1ReorderFirewallPoliciesRequest": {
      "description": "The reorder firewall policies request message.",
      "id": "GoogleCloudRecaptchaenterpriseV1ReorderFirewallPoliciesRequest",
      "properties": {
        "names": {
          "items": {
            "type": "string"
          },
          "description": "Required. A list containing all policy names, in the new order. Each name is in the format `projects/{project}/firewallpolicies/{firewallpolicy}`.",
          "type": "array"
        }
      },
      "type": "object"
    },
    "GoogleCloudRecaptchaenterpriseV1Metrics": {
      "description": "Metrics for a single Key.",
      "properties": {
        "startTime": {
          "format": "google-datetime",
          "description": "Inclusive start time aligned to a day in the America/Los_Angeles (Pacific) timezone.",
          "type": "string"
        },
        "challengeMetrics": {
          "items": {
            "$ref": "GoogleCloudRecaptchaenterpriseV1ChallengeMetrics"
          },
          "description": "Metrics are continuous and in order by dates, and in the granularity of day. Only challenge-based keys (CHECKBOX, INVISIBLE) have challenge-based data.",
          "type": "array"
        },
        "scoreMetrics": {
          "type": "array",
          "description": "Metrics are continuous and in order by dates, and in the granularity of day. All Key types should have score-based data.",
          "items": {
            "$ref": "GoogleCloudRecaptchaenterpriseV1ScoreMetrics"
          }
        },
        "name": {
          "description": "Output only. Identifier. The name of the metrics, in the format `projects/{project}/keys/{key}/metrics`.",
          "type": "string",
          "readOnly": true
        }
      },
      "id": "GoogleCloudRecaptchaenterpriseV1Metrics",
      "type": "object"
    },
    "GoogleCloudRecaptchaenterpriseV1WebKeySettingsChallengeSettings": {
      "type": "object",
      "description": "Settings for POLICY_BASED_CHALLENGE keys to control when a challenge is triggered.",
      "id": "GoogleCloudRecaptchaenterpriseV1WebKeySettingsChallengeSettings",
      "properties": {
        "defaultSettings": {
          "$ref": "GoogleCloudRecaptchaenterpriseV1WebKeySettingsActionSettings",
          "description": "Required. Defines when a challenge is triggered (unless the default threshold is overridden for the given action, see `action_settings`)."
        },
        "actionSettings": {
          "type": "object",
          "description": "Optional. The action to score threshold map. The action name should be the same as the action name passed in the `data-action` attribute (see https://cloud.google.com/recaptcha/docs/actions-website). Action names are case-insensitive. There is a maximum of 100 action settings. An action name has a maximum length of 100.",
          "additionalProperties": {
            "$ref": "GoogleCloudRecaptchaenterpriseV1WebKeySettingsActionSettings"
          }
        }
      }
    },
    "GoogleCloudRecaptchaenterpriseV1SearchRelatedAccountGroupMembershipsRequest": {
      "type": "object",
      "id": "GoogleCloudRecaptchaenterpriseV1SearchRelatedAccountGroupMembershipsRequest",
      "description": "The request message to search related account group memberships.",
      "properties": {
        "pageToken": {
          "type": "string",
          "description": "Optional. A page token, received from a previous `SearchRelatedAccountGroupMemberships` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `SearchRelatedAccountGroupMemberships` must match the call that provided the page token."
        },
        "pageSize": {
          "format": "int32",
          "description": "Optional. The maximum number of groups to return. The service might return fewer than this value. If unspecified, at most 50 groups are returned. The maximum value is 1000; values above 1000 are coerced to 1000.",
          "type": "integer"
        },
        "accountId": {
          "type": "string",
          "description": "Optional. The unique stable account identifier used to search connections. The identifier should correspond to an `account_id` provided in a previous `CreateAssessment` or `AnnotateAssessment` call. Either hashed_account_id or account_id must be set, but not both."
        },
        "hashedAccountId": {
          "deprecated": true,
          "description": "Optional. Deprecated: use `account_id` instead. The unique stable hashed account identifier used to search connections. The identifier should correspond to a `hashed_account_id` provided in a previous `CreateAssessment` or `AnnotateAssessment` call. Either hashed_account_id or account_id must be set, but not both.",
          "type": "string",
          "format": "byte"
        }
      }
    },
    "GoogleCloudRecaptchaenterpriseV1ListRelatedAccountGroupMembershipsResponse": {
      "id": "GoogleCloudRecaptchaenterpriseV1ListRelatedAccountGroupMembershipsResponse",
      "type": "object",
      "properties": {
        "relatedAccountGroupMemberships": {
          "items": {
            "$ref": "GoogleCloudRecaptchaenterpriseV1RelatedAccountGroupMembership"
          },
          "description": "The memberships listed by the query.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      },
      "description": "The response to a `ListRelatedAccountGroupMemberships` call."
    },
    "GoogleCloudRecaptchaenterpriseV1AddIpOverrideRequest": {
      "id": "GoogleCloudRecaptchaenterpriseV1AddIpOverrideRequest",
      "type": "object",
      "description": "The AddIpOverride request message.",
      "properties": {
        "ipOverrideData": {
          "$ref": "GoogleCloudRecaptchaenterpriseV1IpOverrideData",
          "description": "Required. IP override added to the key."
        }
      }
    },
    "GoogleCloudRecaptchaenterpriseV1ListRelatedAccountGroupsResponse": {
      "description": "The response to a `ListRelatedAccountGroups` call.",
      "properties": {
        "relatedAccountGroups": {
          "items": {
            "$ref": "GoogleCloudRecaptchaenterpriseV1RelatedAccountGroup"
          },
          "type": "array",
          "description": "The groups of related accounts listed by the query."
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        }
      },
      "id": "GoogleCloudRecaptchaenterpriseV1ListRelatedAccountGroupsResponse",
      "type": "object"
    },
    "GoogleCloudRecaptchaenterpriseV1FraudPreventionAssessment": {
      "description": "Assessment for Fraud Prevention.",
      "id": "GoogleCloudRecaptchaenterpriseV1FraudPreventionAssessment",
      "type": "object",
      "properties": {
        "riskReasons": {
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "GoogleCloudRecaptchaenterpriseV1FraudPreventionAssessmentRiskReason"
          },
          "description": "Output only. Reasons why the transaction is probably fraudulent and received a high transaction risk score."
        },
        "transactionRisk": {
          "readOnly": true,
          "description": "Output only. Probability of this transaction being fraudulent. Summarizes the combined risk of attack vectors below. Values are from 0.0 (lowest) to 1.0 (highest).",
          "type": "number",
          "format": "float"
        },
        "stolenInstrumentVerdict": {
          "readOnly": true,
          "$ref": "GoogleCloudRecaptchaenterpriseV1FraudPreventionAssessmentStolenInstrumentVerdict",
          "description": "Output only. Assessment of this transaction for risk of a stolen instrument."
        },
        "cardTestingVerdict": {
          "$ref": "GoogleCloudRecaptchaenterpriseV1FraudPreventionAssessmentCardTestingVerdict",
          "readOnly": true,
          "description": "Output only. Assessment of this transaction for risk of being part of a card testing attack."
        },
        "behavioralTrustVerdict": {
          "$ref": "GoogleCloudRecaptchaenterpriseV1FraudPreventionAssessmentBehavioralTrustVerdict",
          "readOnly": true,
          "description": "Output only. Assessment of this transaction for behavioral trust."
        }
      }
    },
    "GoogleCloudRecaptchaenterpriseV1ChallengeRule": {
      "id": "GoogleCloudRecaptchaenterpriseV1ChallengeRule",
      "properties": {
        "challenge": {
          "description": "Present a challenge to the user.",
          "$ref": "GoogleCloudRecaptchaenterpriseV1ChallengeRuleChallengeOutcome"
        },
        "noChallenge": {
          "description": "Do not present a challenge to the user.",
          "$ref": "GoogleCloudRecaptchaenterpriseV1ChallengeRuleNoChallengeOutcome"
        },
        "condition": {
          "description": "Optional. A CEL condition that must be met for this rule to apply. If unspecified, the rule applies unconditionally. The following fields can be referenced in the condition: * `score` * `user_ip_address` * `user_asn` * `user_agent` * `verified_bots.name` * `verified_bots.bot_type` Examples: * `score < 0.5` * `user_ip_address == \"123.45.67.89\"` * `user_agent.contains(\"Chrome\")` * `score < 0.5 && user_ip_address == \"123.45.67.89\"`",
          "type": "string"
        }
      },
      "description": "A rule to configure the behavior of reCAPTCHA for conditionally presenting a challenge.",
      "type": "object"
    },
    "GoogleCloudRecaptchaenterpriseV1ProtectedEndpoint": {
      "id": "GoogleCloudRecaptchaenterpriseV1ProtectedEndpoint",
      "type": "object",
      "description": "Configuration for an API endpoint to protect with reCAPTCHA.",
      "properties": {
        "path": {
          "type": "string",
          "description": "Required. URI path of the API endpoint to protect. Must start with '/'. Supports glob characters '*' to match a single path segment and '**' to match multiple path segments. Standalone root catch-alls ('/*' and '/**') are invalid because it can negatively impact performance to trigger reCAPTCHA on every single request to your backend. Matching is evaluated against the URL path only (domain, scheme, and query parameters are ignored). Examples: - `/login` matches `/login`, `https://example.com/login`, and `/login?query=1`, but not `/login/step1`. - `/products/*` matches `/products/123`, but not `/products/123/456`. - `/content/**` matches `/content/articles/2024/01/01`."
        },
        "action": {
          "description": "Required. Action name to be used for token generation for this endpoint. The action name can only contain alphanumeric characters, slashes, and underscores.",
          "type": "string"
        }
      }
    },
    "GoogleCloudRecaptchaenterpriseV1ChallengeRuleNoChallengeOutcome": {
      "properties": {},
      "description": "An outcome that indicates that no challenge should be presented to the user.",
      "type": "object",
      "id": "GoogleCloudRecaptchaenterpriseV1ChallengeRuleNoChallengeOutcome"
    },
    "GoogleCloudRecaptchaenterpriseV1WebKeySettingsActionSettings": {
      "properties": {
        "scoreThreshold": {
          "format": "float",
          "type": "number",
          "description": "Required. A challenge is triggered if the end-user score is below that threshold. Value must be between 0 and 1 (inclusive)."
        }
      },
      "description": "Per-action challenge settings.",
      "id": "GoogleCloudRecaptchaenterpriseV1WebKeySettingsActionSettings",
      "type": "object"
    },
    "GoogleCloudRecaptchaenterpriseV1AndroidKeySettings": {
      "id": "GoogleCloudRecaptchaenterpriseV1AndroidKeySettings",
      "properties": {
        "allowedPackageNames": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Optional. Android package names of apps allowed to use the key. Example: 'com.companyname.appname' Each key supports a maximum of 250 package names. To use a key on more apps, set `allow_all_package_names` to true. When this is set, you are responsible for validating the package name by checking the `token_properties.android_package_name` field in each assessment response against your list of allowed package names."
        },
        "supportNonGoogleAppStoreDistribution": {
          "description": "Optional. Set to true for keys that are used in an Android application that is available for download in app stores in addition to the Google Play Store.",
          "type": "boolean"
        },
        "allowAllPackageNames": {
          "description": "Optional. If set to true, allowed_package_names are not enforced.",
          "type": "boolean"
        }
      },
      "description": "Settings specific to keys that can be used by Android apps.",
      "type": "object"
    },
    "GoogleCloudRecaptchaenterpriseV1AccountDefenderAssessmentAccountRiskReason": {
      "properties": {
        "reason": {
          "description": "Output only. A risk reason associated with this request.",
          "readOnly": true,
          "enumDescriptions": [
            "Default unspecified type.",
            "The client has been observed sending bot-like traffic to this site in the past. This reason incorporates historical reputation and indicates that the client is known to use bots, even if the current request is being made by a human.",
            "The account is part of a large group of related accounts, indicating that it may be part of a fraudulent network. Related accounts are identified based on having similar traffic patterns and request characteristics.",
            "The client has been observed accessing many accounts on this site.",
            "This email domain is a suspected provider of disposable email addresses."
          ],
          "type": "string",
          "enum": [
            "RISK_REASON_UNSPECIFIED",
            "CLIENT_HISTORICAL_BOT_ACTIVITY",
            "ACCOUNT_IN_LARGE_RELATED_GROUP",
            "CLIENT_ACCESSED_MANY_ACCOUNTS",
            "DISPOSABLE_EMAIL_DOMAIN"
          ]
        }
      },
      "id": "GoogleCloudRecaptchaenterpriseV1AccountDefenderAssessmentAccountRiskReason",
      "description": "Risk explainability reasons for Account defense.",
      "type": "object"
    },
    "GoogleCloudRecaptchaenterpriseV1FirewallActionRedirectAction": {
      "description": "A redirect action returns a 307 (temporary redirect) response, pointing the user to a reCAPTCHA interstitial page to attach a token.",
      "type": "object",
      "id": "GoogleCloudRecaptchaenterpriseV1FirewallActionRedirectAction",
      "properties": {}
    },
    "GoogleCloudRecaptchaenterpriseV1RemoveIpOverrideRequest": {
      "type": "object",
      "id": "GoogleCloudRecaptchaenterpriseV1RemoveIpOverrideRequest",
      "description": "The RemoveIpOverride request message.",
      "properties": {
        "ipOverrideData": {
          "$ref": "GoogleCloudRecaptchaenterpriseV1IpOverrideData",
          "description": "Required. IP override to be removed from the key."
        }
      }
    },
    "GoogleCloudRecaptchaenterpriseV1TransactionDataGatewayInfo": {
      "properties": {
        "cvvResponseCode": {
          "type": "string",
          "description": "Optional. CVV response code from the gateway (available only when reCAPTCHA Enterprise is called after authorization)."
        },
        "name": {
          "description": "Optional. Name of the gateway service (for example, stripe, square, paypal).",
          "type": "string"
        },
        "avsResponseCode": {
          "type": "string",
          "description": "Optional. AVS response code from the gateway (available only when reCAPTCHA Enterprise is called after authorization)."
        },
        "gatewayResponseCode": {
          "type": "string",
          "description": "Optional. Gateway response code describing the state of the transaction."
        }
      },
      "id": "GoogleCloudRecaptchaenterpriseV1TransactionDataGatewayInfo",
      "type": "object",
      "description": "Details about the transaction from the gateway."
    },
    "GoogleCloudRecaptchaenterpriseV1ReorderFirewallPoliciesResponse": {
      "type": "object",
      "id": "GoogleCloudRecaptchaenterpriseV1ReorderFirewallPoliciesResponse",
      "properties": {},
      "description": "The reorder firewall policies response message."
    },
    "GoogleCloudRecaptchaenterpriseV1ListIpOverridesResponse": {
      "description": "Response for ListIpOverrides.",
      "type": "object",
      "properties": {
        "ipOverrides": {
          "description": "IP Overrides details.",
          "items": {
            "$ref": "GoogleCloudRecaptchaenterpriseV1IpOverrideData"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "Token to retrieve the next page of results. If this field is empty, no keys remain in the results.",
          "type": "string"
        }
      },
      "id": "GoogleCloudRecaptchaenterpriseV1ListIpOverridesResponse"
    },
    "GoogleCloudRecaptchaenterpriseV1RelatedAccountGroup": {
      "id": "GoogleCloudRecaptchaenterpriseV1RelatedAccountGroup",
      "properties": {
        "name": {
          "description": "Required. Identifier. The resource name for the related account group in the format `projects/{project}/relatedaccountgroups/{related_account_group}`.",
          "type": "string"
        }
      },
      "description": "A group of related accounts.",
      "type": "object"
    },
    "GoogleCloudRecaptchaenterpriseV1FirewallActionSubstituteAction": {
      "properties": {
        "path": {
          "description": "Optional. The address to redirect to. The target is a relative path in the current host. Example: \"/blog/404.html\".",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudRecaptchaenterpriseV1FirewallActionSubstituteAction",
      "description": "A substitute action transparently serves a different page than the one requested."
    },
    "GoogleCloudRecaptchaenterpriseV1EndpointVerificationInfo": {
      "id": "GoogleCloudRecaptchaenterpriseV1EndpointVerificationInfo",
      "description": "Information about a verification endpoint that can be used for 2FA.",
      "type": "object",
      "properties": {
        "lastVerificationTime": {
          "description": "Output only. Timestamp of the last successful verification for the endpoint, if any.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "requestToken": {
          "description": "Output only. Token to provide to the client to trigger endpoint verification. It must be used within 15 minutes.",
          "type": "string",
          "readOnly": true
        },
        "emailAddress": {
          "description": "Email address for which to trigger a verification request.",
          "type": "string"
        },
        "phoneNumber": {
          "description": "Phone number for which to trigger a verification request. Should be given in E.164 format.",
          "type": "string"
        }
      }
    },
    "GoogleCloudRecaptchaenterpriseV1WafSettings": {
      "id": "GoogleCloudRecaptchaenterpriseV1WafSettings",
      "properties": {
        "wafService": {
          "enumDescriptions": [
            "Undefined WAF",
            "Cloud Armor",
            "Fastly",
            "Cloudflare",
            "Akamai"
          ],
          "type": "string",
          "enum": [
            "WAF_SERVICE_UNSPECIFIED",
            "CA",
            "FASTLY",
            "CLOUDFLARE",
            "AKAMAI"
          ],
          "description": "Required. The Web Application Firewall (WAF) service that uses this key."
        },
        "wafFeature": {
          "enumDeprecated": [
            false,
            false,
            false,
            false,
            true
          ],
          "description": "Required. The Web Application Firewall (WAF) feature for which this key is enabled.",
          "enumDescriptions": [
            "Undefined feature.",
            "Redirects suspicious traffic to reCAPTCHA.",
            "Use reCAPTCHA session-tokens to protect the whole user session on the site's domain.",
            "Use reCAPTCHA action-tokens to protect user actions.",
            "Deprecated: Use `express_settings` instead."
          ],
          "type": "string",
          "enum": [
            "WAF_FEATURE_UNSPECIFIED",
            "CHALLENGE_PAGE",
            "SESSION_TOKEN",
            "ACTION_TOKEN",
            "EXPRESS"
          ]
        }
      },
      "description": "Settings specific to keys that can be used for WAF (Web Application Firewall).",
      "type": "object"
    },
    "GoogleCloudRecaptchaenterpriseV1TransactionData": {
      "description": "Transaction data associated with a payment protected by reCAPTCHA Enterprise.",
      "type": "object",
      "properties": {
        "shippingAddress": {
          "$ref": "GoogleCloudRecaptchaenterpriseV1TransactionDataAddress",
          "description": "Optional. Destination address if this transaction involves shipping a physical item."
        },
        "user": {
          "$ref": "GoogleCloudRecaptchaenterpriseV1TransactionDataUser",
          "description": "Optional. Information about the user paying/initiating the transaction."
        },
        "value": {
          "type": "number",
          "format": "double",
          "description": "Optional. The decimal value of the transaction in the specified currency."
        },
        "merchants": {
          "type": "array",
          "description": "Optional. Information about the user or users fulfilling the transaction.",
          "items": {
            "$ref": "GoogleCloudRecaptchaenterpriseV1TransactionDataUser"
          }
        },
        "transactionId": {
          "description": "Unique identifier for the transaction. This custom identifier can be used to reference this transaction in the future, for example, labeling a refund or chargeback event. Two attempts at the same transaction should use the same transaction id.",
          "type": "string"
        },
        "paymentMethod": {
          "description": "Optional. The payment method for the transaction. The allowed values are: * credit-card * debit-card * gift-card * processor-{name} (If a third-party is used, for example, processor-paypal) * custom-{name} (If an alternative method is used, for example, custom-crypto)",
          "type": "string"
        },
        "cardLastFour": {
          "type": "string",
          "description": "Optional. The last four digits of the card."
        },
        "cardBin": {
          "type": "string",
          "description": "Optional. The Bank Identification Number - generally the first 6 or 8 digits of the card."
        },
        "currencyCode": {
          "description": "Optional. The currency code in ISO-4217 format.",
          "type": "string"
        },
        "shippingValue": {
          "description": "Optional. The value of shipping in the specified currency. 0 for free or no shipping.",
          "type": "number",
          "format": "double"
        },
        "items": {
          "items": {
            "$ref": "GoogleCloudRecaptchaenterpriseV1TransactionDataItem"
          },
          "description": "Optional. Items purchased in this transaction.",
          "type": "array"
        },
        "billingAddress": {
          "$ref": "GoogleCloudRecaptchaenterpriseV1TransactionDataAddress",
          "description": "Optional. Address associated with the payment method when applicable."
        },
        "gatewayInfo": {
          "$ref": "GoogleCloudRecaptchaenterpriseV1TransactionDataGatewayInfo",
          "description": "Optional. Information about the payment gateway's response to the transaction."
        }
      },
      "id": "GoogleCloudRecaptchaenterpriseV1TransactionData"
    },
    "GoogleCloudRecaptchaenterpriseV1ListKeysResponse": {
      "properties": {
        "keys": {
          "description": "Key details.",
          "items": {
            "$ref": "GoogleCloudRecaptchaenterpriseV1Key"
          },
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "Token to retrieve the next page of results. It is set to empty if no keys remain in results."
        }
      },
      "id": "GoogleCloudRecaptchaenterpriseV1ListKeysResponse",
      "description": "Response to request to list keys in a project.",
      "type": "object"
    },
    "GoogleCloudRecaptchaenterpriseV1FirewallActionBlockAction": {
      "id": "GoogleCloudRecaptchaenterpriseV1FirewallActionBlockAction",
      "type": "object",
      "properties": {},
      "description": "A block action serves an HTTP error code a prevents the request from hitting the backend."
    },
    "GoogleCloudRecaptchaenterpriseV1AppleDeveloperId": {
      "type": "object",
      "id": "GoogleCloudRecaptchaenterpriseV1AppleDeveloperId",
      "properties": {
        "teamId": {
          "description": "Required. The Apple team ID (10-character string) owning the provisioning profile used to build your application.",
          "type": "string"
        },
        "privateKey": {
          "description": "Required. Input only. A private key (downloaded as a text file with a .p8 file extension) generated for your Apple Developer account. Ensure that Apple DeviceCheck is enabled for the private key.",
          "type": "string"
        },
        "keyId": {
          "description": "Required. The Apple developer key ID (10-character string).",
          "type": "string"
        }
      },
      "description": "Contains fields that are required to perform Apple-specific integrity checks."
    },
    "GoogleCloudRecaptchaenterpriseV1PrivatePasswordLeakVerification": {
      "description": "Private password leak verification info.",
      "properties": {
        "encryptedLeakMatchPrefixes": {
          "description": "Output only. List of prefixes of the encrypted potential password leaks that matched the given parameters. They must be compared with the client-side decryption prefix of `reencrypted_user_credentials_hash`",
          "type": "array",
          "items": {
            "type": "string",
            "format": "byte"
          },
          "readOnly": true
        },
        "lookupHashPrefix": {
          "description": "Required. Exactly 26-bit prefix of the SHA-256 hash of the canonicalized username. It is used to look up password leaks associated with that hash prefix.",
          "format": "byte",
          "type": "string"
        },
        "encryptedUserCredentialsHash": {
          "description": "Optional. Encrypted Scrypt hash of the canonicalized username+password. It is re-encrypted by the server and returned through `reencrypted_user_credentials_hash`.",
          "type": "string",
          "format": "byte"
        },
        "reencryptedUserCredentialsHash": {
          "type": "string",
          "format": "byte",
          "readOnly": true,
          "description": "Output only. Corresponds to the re-encryption of the `encrypted_user_credentials_hash` field. It is used to match potential password leaks within `encrypted_leak_match_prefixes`."
        }
      },
      "id": "GoogleCloudRecaptchaenterpriseV1PrivatePasswordLeakVerification",
      "type": "object"
    },
    "GoogleCloudRecaptchaenterpriseV1ChallengeMetrics": {
      "id": "GoogleCloudRecaptchaenterpriseV1ChallengeMetrics",
      "description": "Metrics related to challenges.",
      "properties": {
        "failedCount": {
          "type": "string",
          "format": "int64",
          "description": "Count of submitted challenge solutions that were incorrect or otherwise deemed suspicious such that a subsequent challenge was triggered."
        },
        "passedCount": {
          "format": "int64",
          "type": "string",
          "description": "Count of nocaptchas (successful verification without a challenge) plus submitted challenge solutions that were correct and resulted in verification."
        },
        "nocaptchaCount": {
          "type": "string",
          "format": "int64",
          "description": "Count of nocaptchas (successful verification without a challenge) issued."
        },
        "pageloadCount": {
          "type": "string",
          "description": "Count of reCAPTCHA checkboxes or badges rendered. This is mostly equivalent to a count of pageloads for pages that include reCAPTCHA.",
          "format": "int64"
        }
      },
      "type": "object"
    },
    "GoogleCloudRecaptchaenterpriseV1ChallengeRuleEvaluation": {
      "id": "GoogleCloudRecaptchaenterpriseV1ChallengeRuleEvaluation",
      "properties": {},
      "description": "Information about the evaluation of a `ChallengeRule`.",
      "type": "object"
    },
    "GoogleCloudRecaptchaenterpriseV1PhoneFraudAssessment": {
      "type": "object",
      "properties": {
        "smsTollFraudVerdict": {
          "readOnly": true,
          "$ref": "GoogleCloudRecaptchaenterpriseV1SmsTollFraudVerdict",
          "description": "Output only. Assessment of this phone event for risk of SMS toll fraud."
        }
      },
      "id": "GoogleCloudRecaptchaenterpriseV1PhoneFraudAssessment",
      "description": "Assessment for Phone Fraud"
    },
    "GoogleCloudRecaptchaenterpriseV1SmsTollFraudVerdict": {
      "id": "GoogleCloudRecaptchaenterpriseV1SmsTollFraudVerdict",
      "properties": {
        "risk": {
          "readOnly": true,
          "type": "number",
          "description": "Output only. Probability of an SMS event being fraudulent. Values are from 0.0 (lowest) to 1.0 (highest).",
          "format": "float"
        },
        "reasons": {
          "description": "Output only. Reasons contributing to the SMS toll fraud verdict.",
          "readOnly": true,
          "items": {
            "type": "string",
            "enum": [
              "SMS_TOLL_FRAUD_REASON_UNSPECIFIED",
              "INVALID_PHONE_NUMBER"
            ],
            "enumDescriptions": [
              "Default unspecified reason",
              "The provided phone number was invalid"
            ]
          },
          "type": "array"
        }
      },
      "description": "Information about SMS toll fraud.",
      "type": "object"
    },
    "GoogleCloudRecaptchaenterpriseV1PolicyEvaluation": {
      "properties": {
        "challengeRuleEvaluation": {
          "readOnly": true,
          "description": "Output only. Populated if one or more Challenge rules were matched. Its presence in the assessment indicates that at least one challenge rule was matched and determined whether a challenge was presented to the user.",
          "$ref": "GoogleCloudRecaptchaenterpriseV1ChallengeRuleEvaluation"
        }
      },
      "description": "Information about the policy evaluation.",
      "type": "object",
      "id": "GoogleCloudRecaptchaenterpriseV1PolicyEvaluation"
    },
    "GoogleCloudRecaptchaenterpriseV1FraudPreventionAssessmentStolenInstrumentVerdict": {
      "type": "object",
      "description": "Information about stolen instrument fraud, where the user is not the legitimate owner of the instrument being used for the purchase.",
      "properties": {
        "risk": {
          "readOnly": true,
          "format": "float",
          "description": "Output only. Probability of this transaction being executed with a stolen instrument. Values are from 0.0 (lowest) to 1.0 (highest).",
          "type": "number"
        }
      },
      "id": "GoogleCloudRecaptchaenterpriseV1FraudPreventionAssessmentStolenInstrumentVerdict"
    },
    "GoogleCloudRecaptchaenterpriseV1FraudPreventionAssessmentRiskReason": {
      "properties": {
        "reason": {
          "enumDescriptions": [
            "Default unspecified type.",
            "A suspiciously high number of recent transactions have used identifiers present in this transaction.",
            "User is cycling through a suspiciously large number of identifiers, suggesting enumeration or validation attacks within a potential fraud network.",
            "User has a short history or no history in the reCAPTCHA network, suggesting the possibility of synthetic identity generation.",
            "Identifiers used in this transaction originate from an unusual or conflicting set of geolocations.",
            "This transaction is linked to a cluster of known fraudulent activity."
          ],
          "type": "string",
          "enum": [
            "REASON_UNSPECIFIED",
            "HIGH_TRANSACTION_VELOCITY",
            "EXCESSIVE_ENUMERATION_PATTERN",
            "SHORT_IDENTITY_HISTORY",
            "GEOLOCATION_DISCREPANCY",
            "ASSOCIATED_WITH_FRAUD_CLUSTER"
          ],
          "description": "Output only. Risk reasons applicable to the Fraud Prevention assessment.",
          "readOnly": true
        }
      },
      "type": "object",
      "description": "Risk reasons applicable to the Fraud Prevention assessment.",
      "id": "GoogleCloudRecaptchaenterpriseV1FraudPreventionAssessmentRiskReason"
    },
    "GoogleCloudRecaptchaenterpriseV1TestingOptions": {
      "description": "Options for user acceptance testing.",
      "id": "GoogleCloudRecaptchaenterpriseV1TestingOptions",
      "properties": {
        "testingChallenge": {
          "type": "string",
          "enum": [
            "TESTING_CHALLENGE_UNSPECIFIED",
            "NOCAPTCHA",
            "UNSOLVABLE_CHALLENGE"
          ],
          "description": "Optional. For challenge-based keys only (CHECKBOX, INVISIBLE), all challenge requests for this site return nocaptcha if NOCAPTCHA, or an unsolvable challenge if CHALLENGE.",
          "enumDescriptions": [
            "Perform the normal risk analysis and return either nocaptcha or a challenge depending on risk and trust factors.",
            "Challenge requests for this key always return a nocaptcha, which does not require a solution.",
            "Challenge requests for this key always return an unsolvable challenge."
          ]
        },
        "testingScore": {
          "description": "Optional. All assessments for this Key return this score. Must be between 0 (likely not legitimate) and 1 (likely legitimate) inclusive.",
          "type": "number",
          "format": "float"
        }
      },
      "type": "object"
    },
    "GoogleCloudRecaptchaenterpriseV1FirewallActionIncludeRecaptchaScriptAction": {
      "properties": {},
      "id": "GoogleCloudRecaptchaenterpriseV1FirewallActionIncludeRecaptchaScriptAction",
      "description": "An include reCAPTCHA script action involves injecting reCAPTCHA JavaScript code into the HTML returned by the site backend. This reCAPTCHA script is tasked with collecting user signals on the requested web page, issuing tokens as a cookie within the site domain, and enabling their utilization in subsequent page requests.",
      "type": "object"
    },
    "GoogleCloudRecaptchaenterpriseV1FirewallPolicyAssessment": {
      "id": "GoogleCloudRecaptchaenterpriseV1FirewallPolicyAssessment",
      "properties": {
        "firewallPolicy": {
          "$ref": "GoogleCloudRecaptchaenterpriseV1FirewallPolicy",
          "description": "Output only. The policy that matched the request. If more than one policy may match, this is the first match. If no policy matches the incoming request, the policy field is left empty.",
          "readOnly": true
        },
        "error": {
          "description": "Output only. If the processing of a policy config fails, an error is populated and the firewall_policy is left empty.",
          "$ref": "GoogleRpcStatus",
          "readOnly": true
        }
      },
      "description": "Policy config assessment.",
      "type": "object"
    },
    "GoogleCloudRecaptchaenterpriseV1ProtectedEndpointGroup": {
      "type": "object",
      "properties": {
        "protectedEndpoints": {
          "description": "Optional. List of API endpoints to automatically protect with reCAPTCHA. If any of these endpoints is invoked from a page where a key bound to this policy is installed, a reCAPTCHA token is automatically generated and attached to the request. If multiple protected endpoints match a given API endpoint, the first one in the list is used.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudRecaptchaenterpriseV1ProtectedEndpoint"
          }
        }
      },
      "id": "GoogleCloudRecaptchaenterpriseV1ProtectedEndpointGroup",
      "description": "Configuration for API endpoints to protect with reCAPTCHA."
    },
    "GoogleCloudRecaptchaenterpriseV1RiskAnalysis": {
      "type": "object",
      "id": "GoogleCloudRecaptchaenterpriseV1RiskAnalysis",
      "description": "Risk analysis result for an event.",
      "properties": {
        "lastChallengeType": {
          "enumDescriptions": [
            "Default unspecified type.",
            "A visual challenge.",
            "An audio challenge."
          ],
          "description": "Output only. Type of the last challenge presented to the user for Universal, `POLICY_BASED_CHALLENGE` and `INVISIBLE` keys. The field is only set when a challenge was presented to the user.",
          "readOnly": true,
          "type": "string",
          "enum": [
            "CHALLENGE_TYPE_UNSPECIFIED",
            "CHALLENGE_TYPE_VISUAL",
            "CHALLENGE_TYPE_AUDIO"
          ]
        },
        "reasons": {
          "readOnly": true,
          "type": "array",
          "description": "Output only. Reasons contributing to the risk analysis verdict.",
          "items": {
            "enumDescriptions": [
              "Default unspecified type.",
              "Interactions matched the behavior of an automated agent.",
              "The event originated from an illegitimate environment.",
              "Traffic volume from the event source is higher than normal.",
              "Interactions with the site were significantly different than expected patterns.",
              "Too little traffic has been received from this site thus far to generate quality risk analysis.",
              "Deprecated: Use FraudPreventionAssessment.transaction_risk and FraudPreventionAssessment.RiskReason.Reason.EXCESSIVE_ENUMERATION_PATTERN instead.",
              "Deprecated: Use FraudPreventionAssessment.transaction_risk and FraudPreventionAssessment.RiskReason.Reason.ASSOCIATED_WITH_FRAUD_CLUSTER instead."
            ],
            "type": "string",
            "enum": [
              "CLASSIFICATION_REASON_UNSPECIFIED",
              "AUTOMATION",
              "UNEXPECTED_ENVIRONMENT",
              "TOO_MUCH_TRAFFIC",
              "UNEXPECTED_USAGE_PATTERNS",
              "LOW_CONFIDENCE_SCORE",
              "SUSPECTED_CARDING",
              "SUSPECTED_CHARGEBACK"
            ],
            "enumDeprecated": [
              false,
              false,
              false,
              false,
              false,
              false,
              true,
              true
            ]
          }
        },
        "extendedVerdictReasons": {
          "type": "array",
          "description": "Output only. Additional reasons contributing to the risk analysis verdict. These reasons are available to Enterprise tier projects only. Contact sales for more information. The set of reasons is subject to change.",
          "readOnly": true,
          "items": {
            "type": "string"
          }
        },
        "challenge": {
          "type": "string",
          "enum": [
            "CHALLENGE_UNSPECIFIED",
            "NOCAPTCHA",
            "PASSED",
            "FAILED"
          ],
          "readOnly": true,
          "description": "Output only. Challenge information for Universal, `POLICY_BASED_CHALLENGE` and `INVISIBLE` keys.",
          "enumDescriptions": [
            "Default unspecified type.",
            "No challenge was presented for solving.",
            "A solution was submitted that was correct.",
            "A solution was submitted that was incorrect or otherwise deemed suspicious."
          ]
        },
        "score": {
          "readOnly": true,
          "type": "number",
          "format": "float",
          "description": "Output only. Legitimate event score from 0.0 to 1.0. (1.0 means very likely legitimate traffic while 0.0 means very likely non-legitimate traffic)."
        },
        "verifiedBots": {
          "description": "Output only. Bots with identities that have been verified by reCAPTCHA and detected in the event.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudRecaptchaenterpriseV1Bot"
          },
          "readOnly": true
        }
      }
    },
    "GoogleCloudRecaptchaenterpriseV1AccountDefenderAssessmentAccountTakeoverVerdict": {
      "description": "Account takeover risk assessment.",
      "id": "GoogleCloudRecaptchaenterpriseV1AccountDefenderAssessmentAccountTakeoverVerdict",
      "type": "object",
      "properties": {
        "riskReasons": {
          "description": "Output only. Unordered list. Reasons why the request appears risky. Risk reasons can be returned even if the risk is low, as trustworthy requests can still have some risk signals.",
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "GoogleCloudRecaptchaenterpriseV1AccountDefenderAssessmentAccountRiskReason"
          }
        },
        "risk": {
          "type": "number",
          "description": "Output only. Account takeover attempt probability. Values are from 0.0 (lowest risk) to 1.0 (highest risk).",
          "readOnly": true,
          "format": "float"
        },
        "trustReasons": {
          "readOnly": true,
          "items": {
            "$ref": "GoogleCloudRecaptchaenterpriseV1AccountDefenderAssessmentAccountTrustReason"
          },
          "type": "array",
          "description": "Output only. Unordered list. Reasons why the request appears trustworthy. Trust reasons can be returned even if the risk is high, as risky requests can still have some trust signals."
        }
      }
    },
    "GoogleCloudRecaptchaenterpriseV1MigrateKeyRequest": {
      "properties": {
        "skipBillingCheck": {
          "type": "boolean",
          "description": "Optional. If true, skips the billing check. A reCAPTCHA Enterprise key or migrated key behaves differently than a reCAPTCHA (non-Enterprise version) key when you reach a quota limit (see https://docs.cloud.google.com/recaptcha/quotas#quota_limit). To avoid any disruption of your usage, we check that a billing account is present. If your usage of reCAPTCHA is under the free quota, you can safely skip the billing check and proceed with the migration. See https://cloud.google.com/recaptcha/docs/billing-information."
        }
      },
      "description": "The migrate key request message.",
      "id": "GoogleCloudRecaptchaenterpriseV1MigrateKeyRequest",
      "type": "object"
    },
    "GoogleCloudRecaptchaenterpriseV1WebKeySettings": {
      "type": "object",
      "properties": {
        "challengeSecurityPreference": {
          "enumDescriptions": [
            "Default type that indicates this enum hasn't been specified.",
            "Key tends to show fewer and easier challenges.",
            "Key tends to show balanced (in amount and difficulty) challenges.",
            "Key tends to show more and harder challenges."
          ],
          "description": "Optional. Settings for the frequency and difficulty at which this key triggers captcha challenges. This should only be specified for `IntegrationType` CHECKBOX (defaults to BALANCE), INVISIBLE (defaults to USABILITY), or POLICY_BASED_CHALLENGE (defaults to USABILITY).",
          "type": "string",
          "enum": [
            "CHALLENGE_SECURITY_PREFERENCE_UNSPECIFIED",
            "USABILITY",
            "BALANCE",
            "SECURITY"
          ]
        },
        "allowAllDomains": {
          "description": "Optional. If set to true, it means allowed_domains are not enforced.",
          "type": "boolean"
        },
        "allowAmpTraffic": {
          "description": "Optional. If set to true, the key can be used on AMP (Accelerated Mobile Pages) websites. This is supported only for the SCORE integration type.",
          "type": "boolean"
        },
        "challengeSettings": {
          "$ref": "GoogleCloudRecaptchaenterpriseV1WebKeySettingsChallengeSettings",
          "description": "Optional. Challenge settings."
        },
        "integrationType": {
          "description": "Required. Describes how this key is integrated with the website.",
          "enumDescriptions": [
            "Default type that indicates this enum hasn't been specified. This is not a valid IntegrationType, one of the other types must be specified instead.",
            "Only used to produce scores. It doesn't display the \"I'm not a robot\" checkbox and never shows captcha challenges.",
            "Displays the \"I'm not a robot\" checkbox and may show captcha challenges after it is checked.",
            "Doesn't display the \"I'm not a robot\" checkbox, but may show captcha challenges after risk analysis.",
            "Displays a visual challenge or not depending on the user risk analysis score."
          ],
          "type": "string",
          "enum": [
            "INTEGRATION_TYPE_UNSPECIFIED",
            "SCORE",
            "CHECKBOX",
            "INVISIBLE",
            "POLICY_BASED_CHALLENGE"
          ]
        },
        "allowedDomains": {
          "description": "Optional. Domains or subdomains of websites allowed to use the key. All subdomains of an allowed domain are automatically allowed. A valid domain requires a host and must not include any path, port, query or fragment. Examples: 'example.com' or 'subdomain.example.com' Each key supports a maximum of 250 domains. To use a key on more domains, set `allow_all_domains` to true. When this is set, you are responsible for validating the hostname by checking the `token_properties.hostname` field in each assessment response against your list of allowed domains.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "GoogleCloudRecaptchaenterpriseV1WebKeySettings",
      "description": "Settings specific to keys that can be used by websites."
    },
    "GoogleCloudRecaptchaenterpriseV1Assessment": {
      "properties": {
        "event": {
          "description": "Optional. The event being assessed.",
          "$ref": "GoogleCloudRecaptchaenterpriseV1Event"
        },
        "tokenProperties": {
          "$ref": "GoogleCloudRecaptchaenterpriseV1TokenProperties",
          "readOnly": true,
          "description": "Output only. Properties of the provided event token."
        },
        "assessmentEnvironment": {
          "description": "Optional. The environment creating the assessment. This describes your environment (the system invoking CreateAssessment), NOT the environment of your user.",
          "$ref": "GoogleCloudRecaptchaenterpriseV1AssessmentEnvironment"
        },
        "policyEvaluation": {
          "$ref": "GoogleCloudRecaptchaenterpriseV1PolicyEvaluation",
          "readOnly": true,
          "description": "Output only. Provides information about the policy evaluation for this assessment."
        },
        "firewallPolicyAssessment": {
          "readOnly": true,
          "$ref": "GoogleCloudRecaptchaenterpriseV1FirewallPolicyAssessment",
          "description": "Output only. Assessment returned when firewall policies belonging to the project are evaluated using the field firewall_policy_evaluation."
        },
        "phoneFraudAssessment": {
          "readOnly": true,
          "$ref": "GoogleCloudRecaptchaenterpriseV1PhoneFraudAssessment",
          "description": "Output only. Assessment returned when a site key, a token, and a phone number as `user_id` are provided. SMS defense needs to be enabled."
        },
        "fraudSignals": {
          "description": "Output only. Fraud Signals specific to the users involved in a payment transaction.",
          "readOnly": true,
          "$ref": "GoogleCloudRecaptchaenterpriseV1FraudSignals"
        },
        "privatePasswordLeakVerification": {
          "description": "Optional. The private password leak verification field contains the parameters that are used to to check for leaks privately without sharing user credentials.",
          "$ref": "GoogleCloudRecaptchaenterpriseV1PrivatePasswordLeakVerification"
        },
        "riskAnalysis": {
          "$ref": "GoogleCloudRecaptchaenterpriseV1RiskAnalysis",
          "readOnly": true,
          "description": "Output only. The risk analysis result for the event being assessed."
        },
        "fraudPreventionAssessment": {
          "readOnly": true,
          "$ref": "GoogleCloudRecaptchaenterpriseV1FraudPreventionAssessment",
          "description": "Output only. Assessment returned by Fraud Prevention when TransactionData is provided."
        },
        "name": {
          "description": "Output only. Identifier. The resource name for the Assessment in the format `projects/{project}/assessments/{assessment}`.",
          "type": "string",
          "readOnly": true
        },
        "accountVerification": {
          "description": "Optional. Account verification information for identity verification. The assessment event must include a token and site key to use this feature.",
          "$ref": "GoogleCloudRecaptchaenterpriseV1AccountVerificationInfo"
        },
        "accountDefenderAssessment": {
          "description": "Output only. Assessment returned by Account defense when an account identifier is provided.",
          "readOnly": true,
          "$ref": "GoogleCloudRecaptchaenterpriseV1AccountDefenderAssessment"
        }
      },
      "id": "GoogleCloudRecaptchaenterpriseV1Assessment",
      "description": "A reCAPTCHA Enterprise assessment resource.",
      "type": "object"
    },
    "GoogleCloudRecaptchaenterpriseV1TransactionDataAddress": {
      "id": "GoogleCloudRecaptchaenterpriseV1TransactionDataAddress",
      "type": "object",
      "properties": {
        "address": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Optional. The first lines of the address. The first line generally contains the street name and number, and further lines may include information such as an apartment number."
        },
        "recipient": {
          "description": "Optional. The recipient name, potentially including information such as \"care of\".",
          "type": "string"
        },
        "administrativeArea": {
          "type": "string",
          "description": "Optional. The state, province, or otherwise administrative area of the address."
        },
        "regionCode": {
          "description": "Optional. The CLDR country/region of the address.",
          "type": "string"
        },
        "locality": {
          "description": "Optional. The town/city of the address.",
          "type": "string"
        },
        "postalCode": {
          "description": "Optional. The postal or ZIP code of the address.",
          "type": "string"
        }
      },
      "description": "Structured address format for billing and shipping addresses."
    },
    "GoogleCloudRecaptchaenterpriseV1FirewallActionAllowAction": {
      "id": "GoogleCloudRecaptchaenterpriseV1FirewallActionAllowAction",
      "description": "An allow action continues processing a request unimpeded.",
      "type": "object",
      "properties": {}
    },
    "GoogleCloudRecaptchaenterpriseV1ExpressKeySettings": {
      "id": "GoogleCloudRecaptchaenterpriseV1ExpressKeySettings",
      "properties": {},
      "description": "Settings specific to keys that can be used for reCAPTCHA Express.",
      "type": "object"
    },
    "GoogleCloudRecaptchaenterpriseV1ScoreMetrics": {
      "properties": {
        "overallMetrics": {
          "description": "Aggregated score metrics for all traffic.",
          "$ref": "GoogleCloudRecaptchaenterpriseV1ScoreDistribution"
        },
        "actionMetrics": {
          "description": "Action-based metrics. The map key is the action name which specified by the site owners at time of the \"execute\" client-side call.",
          "type": "object",
          "additionalProperties": {
            "$ref": "GoogleCloudRecaptchaenterpriseV1ScoreDistribution"
          }
        }
      },
      "id": "GoogleCloudRecaptchaenterpriseV1ScoreMetrics",
      "type": "object",
      "description": "Metrics related to scoring."
    },
    "GoogleCloudRecaptchaenterpriseV1FraudPreventionAssessmentCardTestingVerdict": {
      "properties": {
        "risk": {
          "description": "Output only. Probability of this transaction attempt being part of a card testing attack. Values are from 0.0 (lowest) to 1.0 (highest).",
          "type": "number",
          "readOnly": true,
          "format": "float"
        }
      },
      "description": "Information about card testing fraud, where an adversary is testing fraudulently obtained cards or brute forcing their details.",
      "id": "GoogleCloudRecaptchaenterpriseV1FraudPreventionAssessmentCardTestingVerdict",
      "type": "object"
    },
    "GoogleCloudRecaptchaenterpriseV1ChallengeRuleChallengeOutcome": {
      "id": "GoogleCloudRecaptchaenterpriseV1ChallengeRuleChallengeOutcome",
      "properties": {
        "difficulty": {
          "enumDescriptions": [
            "Default type that indicates this enum hasn't been specified.",
            "Key tends to show fewer and easier challenges.",
            "Key tends to show balanced (in amount and difficulty) challenges.",
            "Key tends to show more and harder challenges."
          ],
          "description": "Optional. The difficulty of the challenge to present to the user. If unspecified, `BALANCE` is used.",
          "type": "string",
          "enum": [
            "CHALLENGE_SECURITY_PREFERENCE_UNSPECIFIED",
            "USABILITY",
            "BALANCE",
            "SECURITY"
          ]
        }
      },
      "description": "An outcome that indicates that a challenge of a specified difficulty should be presented to the user.",
      "type": "object"
    },
    "GoogleProtobufEmpty": {
      "type": "object",
      "properties": {},
      "id": "GoogleProtobufEmpty",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }"
    },
    "GoogleCloudRecaptchaenterpriseV1AnnotateAssessmentRequest": {
      "description": "The request message to annotate an Assessment.",
      "properties": {
        "phoneAuthenticationEvent": {
          "$ref": "GoogleCloudRecaptchaenterpriseV1PhoneAuthenticationEvent",
          "description": "Optional. If using an external multi-factor authentication provider, provide phone authentication details for fraud detection purposes."
        },
        "reasons": {
          "type": "array",
          "description": "Optional. Reasons for the annotation that are assigned to the event.",
          "items": {
            "enumDescriptions": [
              "Unspecified reason. Do not use.",
              "Indicates that the transaction had a chargeback issued with no other details. When possible, specify the type by using CHARGEBACK_FRAUD or CHARGEBACK_DISPUTE instead.",
              "Indicates that the transaction had a chargeback issued related to an alleged unauthorized transaction from the cardholder's perspective (for example, the card number was stolen).",
              "Indicates that the transaction had a chargeback issued related to the cardholder having provided their card details but allegedly not being satisfied with the purchase (for example, misrepresentation, attempted cancellation).",
              "Indicates that the completed payment transaction was refunded by the seller.",
              "Indicates that the completed payment transaction was determined to be fraudulent by the seller, and was cancelled and refunded as a result.",
              "Indicates that the payment transaction was accepted, and the user was charged.",
              "Indicates that the payment transaction was declined, for example due to invalid card details.",
              "Indicates the transaction associated with the assessment is suspected of being fraudulent based on the payment method, billing details, shipping address or other transaction information.",
              "Indicates that the user was served a 2FA challenge. An old assessment with `ENUM_VALUES.INITIATED_TWO_FACTOR` reason that has not been overwritten with `PASSED_TWO_FACTOR` is treated as an abandoned 2FA flow. This is equivalent to `FAILED_TWO_FACTOR`.",
              "Indicates that the user passed a 2FA challenge.",
              "Indicates that the user failed a 2FA challenge.",
              "Indicates the user provided the correct password.",
              "Indicates the user provided an incorrect password.",
              "Indicates that the user sent unwanted and abusive messages to other users of the platform, such as spam, scams, phishing, or social engineering."
            ],
            "type": "string",
            "enum": [
              "REASON_UNSPECIFIED",
              "CHARGEBACK",
              "CHARGEBACK_FRAUD",
              "CHARGEBACK_DISPUTE",
              "REFUND",
              "REFUND_FRAUD",
              "TRANSACTION_ACCEPTED",
              "TRANSACTION_DECLINED",
              "PAYMENT_HEURISTICS",
              "INITIATED_TWO_FACTOR",
              "PASSED_TWO_FACTOR",
              "FAILED_TWO_FACTOR",
              "CORRECT_PASSWORD",
              "INCORRECT_PASSWORD",
              "SOCIAL_SPAM"
            ]
          }
        },
        "accountId": {
          "description": "Optional. A stable account identifier to apply to the assessment. This is an alternative to setting `account_id` in `CreateAssessment`, for example when a stable account identifier is not yet known in the initial request.",
          "type": "string"
        },
        "transactionEvent": {
          "description": "Optional. If the assessment is part of a payment transaction, provide details on payment lifecycle events that occur in the transaction.",
          "$ref": "GoogleCloudRecaptchaenterpriseV1TransactionEvent"
        },
        "hashedAccountId": {
          "description": "Optional. A stable hashed account identifier to apply to the assessment. This is an alternative to setting `hashed_account_id` in `CreateAssessment`, for example when a stable account identifier is not yet known in the initial request.",
          "format": "byte",
          "type": "string"
        },
        "annotation": {
          "enumDescriptions": [
            "Default unspecified type.",
            "Provides information that the event turned out to be legitimate.",
            "Provides information that the event turned out to be fraudulent.",
            "Provides information that the event was related to a login event in which the user typed the correct password. Deprecated, prefer indicating CORRECT_PASSWORD through the reasons field instead.",
            "Provides information that the event was related to a login event in which the user typed the incorrect password. Deprecated, prefer indicating INCORRECT_PASSWORD through the reasons field instead."
          ],
          "description": "Optional. The annotation that is assigned to the Event. This field can be left empty to provide reasons that apply to an event without concluding whether the event is legitimate or fraudulent.",
          "type": "string",
          "enum": [
            "ANNOTATION_UNSPECIFIED",
            "LEGITIMATE",
            "FRAUDULENT",
            "PASSWORD_CORRECT",
            "PASSWORD_INCORRECT"
          ],
          "enumDeprecated": [
            false,
            false,
            false,
            true,
            true
          ]
        }
      },
      "type": "object",
      "id": "GoogleCloudRecaptchaenterpriseV1AnnotateAssessmentRequest"
    },
    "GoogleCloudRecaptchaenterpriseV1UserInfo": {
      "type": "object",
      "id": "GoogleCloudRecaptchaenterpriseV1UserInfo",
      "description": "User information associated with a request protected by reCAPTCHA Enterprise.",
      "properties": {
        "userIds": {
          "description": "Optional. Identifiers associated with this user or request.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudRecaptchaenterpriseV1UserId"
          }
        },
        "accountId": {
          "type": "string",
          "description": "Optional. For logged-in requests or login/registration requests, the unique account identifier associated with this user. You can use the username if it is stable (meaning it is the same for every request associated with the same user), or any stable user ID of your choice. Leave blank for non logged-in actions or guest checkout."
        },
        "createAccountTime": {
          "type": "string",
          "description": "Optional. Creation time for this account associated with this user. Leave blank for non logged-in actions, guest checkout, or when there is no account associated with the current user.",
          "format": "google-datetime"
        }
      }
    },
    "GoogleCloudRecaptchaenterpriseV1SearchRelatedAccountGroupMembershipsResponse": {
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        },
        "relatedAccountGroupMemberships": {
          "items": {
            "$ref": "GoogleCloudRecaptchaenterpriseV1RelatedAccountGroupMembership"
          },
          "description": "The queried memberships.",
          "type": "array"
        }
      },
      "id": "GoogleCloudRecaptchaenterpriseV1SearchRelatedAccountGroupMembershipsResponse",
      "description": "The response to a `SearchRelatedAccountGroupMemberships` call."
    },
    "GoogleCloudRecaptchaenterpriseV1Key": {
      "description": "A key used to identify and configure applications (web and/or mobile) that use reCAPTCHA Enterprise.",
      "type": "object",
      "id": "GoogleCloudRecaptchaenterpriseV1Key",
      "properties": {
        "webSettings": {
          "$ref": "GoogleCloudRecaptchaenterpriseV1WebKeySettings",
          "description": "Settings for keys that can be used by websites."
        },
        "expressSettings": {
          "$ref": "GoogleCloudRecaptchaenterpriseV1ExpressKeySettings",
          "description": "Settings for keys that can be used by reCAPTCHA Express."
        },
        "testingOptions": {
          "$ref": "GoogleCloudRecaptchaenterpriseV1TestingOptions",
          "description": "Optional. Options for user acceptance testing."
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The timestamp corresponding to the creation of this key.",
          "readOnly": true
        },
        "androidSettings": {
          "description": "Settings for keys that can be used by Android apps.",
          "$ref": "GoogleCloudRecaptchaenterpriseV1AndroidKeySettings"
        },
        "labels": {
          "description": "Optional. See [Creating and managing labels] (https://cloud.google.com/recaptcha/docs/labels).",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "displayName": {
          "description": "Required. Human-readable display name of this key. Modifiable by user.",
          "type": "string"
        },
        "universalSettings": {
          "$ref": "GoogleCloudRecaptchaenterpriseV1UniversalKeySettings",
          "description": "Settings for keys that are configured through their Policy."
        },
        "name": {
          "description": "Identifier. The resource name for the Key in the format `projects/{project}/keys/{key}`.",
          "type": "string"
        },
        "iosSettings": {
          "$ref": "GoogleCloudRecaptchaenterpriseV1IOSKeySettings",
          "description": "Settings for keys that can be used by iOS apps."
        },
        "wafSettings": {
          "$ref": "GoogleCloudRecaptchaenterpriseV1WafSettings",
          "description": "Optional. Settings for Web Application Firewall (WAF)."
        }
      }
    },
    "GoogleCloudRecaptchaenterpriseV1IOSKeySettings": {
      "type": "object",
      "description": "Settings specific to keys that can be used by iOS apps.",
      "id": "GoogleCloudRecaptchaenterpriseV1IOSKeySettings",
      "properties": {
        "appleDeveloperId": {
          "$ref": "GoogleCloudRecaptchaenterpriseV1AppleDeveloperId",
          "description": "Optional. Apple Developer account details for the app that is protected by the reCAPTCHA Key. reCAPTCHA leverages platform-specific checks like Apple App Attest and Apple DeviceCheck to protect your app from abuse. Providing these fields allows reCAPTCHA to get a better assessment of the integrity of your app."
        },
        "allowAllBundleIds": {
          "description": "Optional. If set to true, allowed_bundle_ids are not enforced.",
          "type": "boolean"
        },
        "allowedBundleIds": {
          "items": {
            "type": "string"
          },
          "description": "Optional. iOS bundle IDs of apps allowed to use the key. Example: 'com.companyname.productname.appname' Each key supports a maximum of 250 bundle IDs. To use a key on more apps, set `allow_all_bundle_ids` to true. When this is set, you are responsible for validating the bundle id by checking the `token_properties.ios_bundle_id` field in each assessment response against your list of allowed bundle IDs.",
          "type": "array"
        }
      }
    },
    "GoogleCloudRecaptchaenterpriseV1RetrieveLegacySecretKeyResponse": {
      "properties": {
        "legacySecretKey": {
          "description": "The secret key (also known as shared secret) authorizes communication between your application backend and the reCAPTCHA Enterprise server to create an assessment. The secret key needs to be kept safe for security purposes.",
          "type": "string"
        }
      },
      "id": "GoogleCloudRecaptchaenterpriseV1RetrieveLegacySecretKeyResponse",
      "type": "object",
      "description": "Secret key is used only in legacy reCAPTCHA. It must be used in a 3rd party integration with legacy reCAPTCHA."
    },
    "GoogleCloudRecaptchaenterpriseV1RemoveIpOverrideResponse": {
      "type": "object",
      "properties": {},
      "id": "GoogleCloudRecaptchaenterpriseV1RemoveIpOverrideResponse",
      "description": "Response for RemoveIpOverride."
    },
    "GoogleCloudRecaptchaenterpriseV1TransactionDataItem": {
      "id": "GoogleCloudRecaptchaenterpriseV1TransactionDataItem",
      "type": "object",
      "description": "Line items being purchased in this transaction.",
      "properties": {
        "merchantAccountId": {
          "type": "string",
          "description": "Optional. When a merchant is specified, its corresponding account_id. Necessary to populate marketplace-style transactions."
        },
        "name": {
          "description": "Optional. The full name of the item.",
          "type": "string"
        },
        "value": {
          "description": "Optional. The value per item that the user is paying, in the transaction currency, after discounts.",
          "type": "number",
          "format": "double"
        },
        "quantity": {
          "type": "string",
          "format": "int64",
          "description": "Optional. The quantity of this item that is being purchased."
        }
      }
    },
    "GoogleCloudRecaptchaenterpriseV1AnnotateAssessmentResponse": {
      "properties": {},
      "id": "GoogleCloudRecaptchaenterpriseV1AnnotateAssessmentResponse",
      "description": "Empty response for AnnotateAssessment.",
      "type": "object"
    },
    "GoogleCloudRecaptchaenterpriseV1TokenProperties": {
      "id": "GoogleCloudRecaptchaenterpriseV1TokenProperties",
      "type": "object",
      "properties": {
        "hostname": {
          "description": "Output only. The hostname of the page on which the token was generated (Web keys only).",
          "readOnly": true,
          "type": "string"
        },
        "iosBundleId": {
          "description": "Output only. The ID of the iOS bundle with which the token was generated (iOS keys only).",
          "type": "string",
          "readOnly": true
        },
        "action": {
          "type": "string",
          "description": "Output only. Action name provided at token generation.",
          "readOnly": true
        },
        "clientSignalsFailed": {
          "type": "boolean",
          "description": "Output only. Indicates a failure collecting reCAPTCHA signals at token generation. This might be a transient condition, or persistent for a user’s environment.",
          "readOnly": true
        },
        "createTime": {
          "description": "Output only. The timestamp corresponding to the generation of the token.",
          "format": "google-datetime",
          "type": "string",
          "readOnly": true
        },
        "androidPackageName": {
          "type": "string",
          "description": "Output only. The name of the Android package with which the token was generated (Android keys only).",
          "readOnly": true
        },
        "valid": {
          "readOnly": true,
          "description": "Output only. Indicates whether the provided user response token is valid. If `false`, the token is invalid, either because the user failed the challenge or for a reason provided in the `invalid_reason` field.",
          "type": "boolean"
        },
        "invalidReason": {
          "type": "string",
          "enum": [
            "INVALID_REASON_UNSPECIFIED",
            "UNKNOWN_INVALID_REASON",
            "MALFORMED",
            "EXPIRED",
            "DUPE",
            "MISSING",
            "BROWSER_ERROR",
            "UNEXPECTED_ACTION",
            "KEY_MISMATCH",
            "DOMAIN_MISMATCH"
          ],
          "enumDescriptions": [
            "Default unspecified type.",
            "If the failure reason was not accounted for.",
            "The provided user verification token was malformed.",
            "The user verification token had expired.",
            "The user verification had already been seen.",
            "The user verification token was not present.",
            "A retriable error (such as network failure) occurred on the browser. Could easily be simulated by an attacker.",
            "The action provided at token generation was different than the `expected_action` in the assessment request. The comparison is case-insensitive. This reason can only be returned if all of the following are true: - your `site_key` has the POLICY_BASED_CHALLENGE integration type - you set an action score threshold higher than 0.0 - you provided a non-empty `expected_action`",
            "The key used to generate the token does not match the `site_key`.",
            "The domain of the page on which the token was generated does not match the `allowed_domains` configured in the `site_key`."
          ],
          "description": "Output only. Reason associated with the response when valid = false.",
          "readOnly": true
        }
      },
      "description": "Properties of the provided event token."
    },
    "GoogleCloudRecaptchaenterpriseV1FraudPreventionAssessmentBehavioralTrustVerdict": {
      "properties": {
        "trust": {
          "readOnly": true,
          "description": "Output only. Probability of this transaction attempt being executed in a behaviorally trustworthy way. Values are from 0.0 (lowest) to 1.0 (highest).",
          "format": "float",
          "type": "number"
        }
      },
      "id": "GoogleCloudRecaptchaenterpriseV1FraudPreventionAssessmentBehavioralTrustVerdict",
      "description": "Information about behavioral trust of the transaction.",
      "type": "object"
    },
    "GoogleCloudRecaptchaenterpriseV1FirewallPolicy": {
      "id": "GoogleCloudRecaptchaenterpriseV1FirewallPolicy",
      "properties": {
        "description": {
          "type": "string",
          "description": "Optional. A description of what this policy aims to achieve, for convenience purposes. The description can at most include 256 UTF-8 characters."
        },
        "path": {
          "description": "Optional. The path for which this policy applies, specified as a glob pattern. For more information on glob, see the [manual page](https://man7.org/linux/man-pages/man7/glob.7.html). A path has a max length of 200 characters.",
          "type": "string"
        },
        "condition": {
          "description": "Optional. A CEL (Common Expression Language) conditional expression that specifies if this policy applies to an incoming user request. If this condition evaluates to true and the requested path matched the path pattern, the associated actions should be executed by the caller. The condition string is checked for CEL syntax correctness on creation. For more information, see the [CEL spec](https://github.com/google/cel-spec) and its [language definition](https://github.com/google/cel-spec/blob/master/doc/langdef.md). A condition has a max length of 500 characters.",
          "type": "string"
        },
        "actions": {
          "items": {
            "$ref": "GoogleCloudRecaptchaenterpriseV1FirewallAction"
          },
          "description": "Optional. The actions that the caller should take regarding user access. There should be at most one terminal action. A terminal action is any action that forces a response, such as `AllowAction`, `BlockAction` or `SubstituteAction`. Zero or more non-terminal actions such as `SetHeader` might be specified. A single policy can contain up to 16 actions.",
          "type": "array"
        },
        "name": {
          "type": "string",
          "description": "Identifier. The resource name for the FirewallPolicy in the format `projects/{project}/firewallpolicies/{firewallpolicy}`."
        }
      },
      "type": "object",
      "description": "A FirewallPolicy represents a single matching pattern and resulting actions to take."
    },
    "GoogleCloudRecaptchaenterpriseV1Policy": {
      "id": "GoogleCloudRecaptchaenterpriseV1Policy",
      "properties": {
        "challengeRuleGroups": {
          "items": {
            "$ref": "GoogleCloudRecaptchaenterpriseV1ChallengeRuleGroup"
          },
          "type": "array",
          "description": "Optional. Rules to configure the behavior of reCAPTCHA for showing a challenge. Rule groups are evaluated in order. Evaluation stops when the first matching rule group is found."
        },
        "clientSettings": {
          "description": "Required. Configuration for clients protected by this policy.",
          "$ref": "GoogleCloudRecaptchaenterpriseV1ClientSettings"
        },
        "name": {
          "type": "string",
          "description": "Identifier. Resource name for this policy. Format: \"projects/{project}/keys/{key}/policy\" for a policy under a key."
        }
      },
      "type": "object",
      "description": "A complete configuration set containing multiple grouped rules defining the behavior of reCAPTCHA for fraud detection and prevention."
    },
    "GoogleCloudRecaptchaenterpriseV1ChallengeRuleGroup": {
      "type": "object",
      "description": "A collection of challenge rules that applies to one or more actions.",
      "properties": {
        "actions": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Required. Action name provided at token generation. The action name is not case-sensitive and can only contain alphanumeric characters, slashes, and underscores. If \"*\" is provided, the rule group applies to all actions. If multiple actions are provided, the rule group is applied to all of them. This field is required."
        },
        "challengeRules": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudRecaptchaenterpriseV1ChallengeRule"
          },
          "description": "Required. A list of rules that configure when and how reCAPTCHA presents a challenge. reCAPTCHA evaluates these rules in order and applies the first one that matches."
        }
      },
      "id": "GoogleCloudRecaptchaenterpriseV1ChallengeRuleGroup"
    },
    "GoogleCloudRecaptchaenterpriseV1UserId": {
      "id": "GoogleCloudRecaptchaenterpriseV1UserId",
      "description": "An identifier associated with a user.",
      "type": "object",
      "properties": {
        "username": {
          "type": "string",
          "description": "Optional. A unique username, if different from all the other identifiers and `account_id` that are provided. Can be a unique login handle or display name for a user."
        },
        "phoneNumber": {
          "description": "Optional. A phone number. Should use the E.164 format.",
          "type": "string"
        },
        "email": {
          "description": "Optional. An email address.",
          "type": "string"
        }
      }
    },
    "GoogleCloudRecaptchaenterpriseV1FraudSignals": {
      "description": "Fraud signals describing users and cards involved in the transaction.",
      "type": "object",
      "id": "GoogleCloudRecaptchaenterpriseV1FraudSignals",
      "properties": {
        "userSignals": {
          "readOnly": true,
          "$ref": "GoogleCloudRecaptchaenterpriseV1FraudSignalsUserSignals",
          "description": "Output only. Signals describing the end user in this transaction."
        },
        "cardSignals": {
          "$ref": "GoogleCloudRecaptchaenterpriseV1FraudSignalsCardSignals",
          "description": "Output only. Signals describing the payment card or cards used in this transaction.",
          "readOnly": true
        }
      }
    },
    "GoogleCloudRecaptchaenterpriseV1FirewallActionSetHeaderAction": {
      "type": "object",
      "description": "A set header action sets a header and forwards the request to the backend. This can be used to trigger custom protection implemented on the backend.",
      "id": "GoogleCloudRecaptchaenterpriseV1FirewallActionSetHeaderAction",
      "properties": {
        "value": {
          "description": "Optional. The header value to set in the request to the backend server.",
          "type": "string"
        },
        "key": {
          "description": "Optional. The header key to set in the request to the backend server.",
          "type": "string"
        }
      }
    },
    "GoogleCloudRecaptchaenterpriseV1ScoreDistribution": {
      "properties": {
        "scoreBuckets": {
          "type": "object",
          "additionalProperties": {
            "format": "int64",
            "type": "string"
          },
          "description": "Map key is score value multiplied by 100. The scores are discrete values between [0, 1]. The maximum number of buckets is on order of a few dozen, but typically much lower (ie. 10)."
        }
      },
      "type": "object",
      "description": "Score distribution.",
      "id": "GoogleCloudRecaptchaenterpriseV1ScoreDistribution"
    },
    "GoogleCloudRecaptchaenterpriseV1AccountDefenderAssessment": {
      "properties": {
        "labels": {
          "readOnly": true,
          "items": {
            "type": "string",
            "enum": [
              "ACCOUNT_DEFENDER_LABEL_UNSPECIFIED",
              "PROFILE_MATCH",
              "SUSPICIOUS_LOGIN_ACTIVITY",
              "SUSPICIOUS_ACCOUNT_CREATION",
              "RELATED_ACCOUNTS_NUMBER_HIGH"
            ],
            "enumDescriptions": [
              "Default unspecified type.",
              "The request matches a trusted profile associated with this account.",
              "The request is potentially a suspicious login event and must be further verified either through multi-factor authentication or another system.",
              "The request matched a profile that previously had suspicious account creation behavior. This can mean that this is a fake account.",
              "The account in the request has a high number of related accounts. It does not necessarily imply that the account is bad but can require further investigation."
            ]
          },
          "type": "array",
          "description": "Output only. Labels for this request."
        },
        "accountTakeoverVerdict": {
          "description": "Output only. Account takeover risk assessment for this request.",
          "$ref": "GoogleCloudRecaptchaenterpriseV1AccountDefenderAssessmentAccountTakeoverVerdict",
          "readOnly": true
        }
      },
      "id": "GoogleCloudRecaptchaenterpriseV1AccountDefenderAssessment",
      "description": "Account defense risk assessment.",
      "type": "object"
    },
    "GoogleCloudRecaptchaenterpriseV1ListFirewallPoliciesResponse": {
      "type": "object",
      "description": "Response to request to list firewall policies belonging to a project.",
      "id": "GoogleCloudRecaptchaenterpriseV1ListFirewallPoliciesResponse",
      "properties": {
        "firewallPolicies": {
          "items": {
            "$ref": "GoogleCloudRecaptchaenterpriseV1FirewallPolicy"
          },
          "description": "Policy details.",
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "Token to retrieve the next page of results. It is set to empty if no policies remain in results."
        }
      }
    },
    "GoogleCloudRecaptchaenterpriseV1TransactionDataUser": {
      "type": "object",
      "id": "GoogleCloudRecaptchaenterpriseV1TransactionDataUser",
      "description": "Details about a user's account involved in the transaction.",
      "properties": {
        "email": {
          "type": "string",
          "description": "Optional. The email address of the user."
        },
        "accountId": {
          "type": "string",
          "description": "Optional. Unique account identifier for this user. If using Account defense, this should match the hashed_account_id field. Otherwise, a unique and persistent identifier for this account."
        },
        "emailVerified": {
          "type": "boolean",
          "description": "Optional. Whether the email has been verified to be accessible by the user (OTP or similar)."
        },
        "phoneNumber": {
          "type": "string",
          "description": "Optional. The phone number of the user, with country code."
        },
        "creationMs": {
          "type": "string",
          "format": "int64",
          "description": "Optional. The epoch milliseconds of the user's account creation."
        },
        "phoneVerified": {
          "description": "Optional. Whether the phone number has been verified to be accessible by the user (OTP or similar).",
          "type": "boolean"
        }
      }
    },
    "GoogleCloudRecaptchaenterpriseV1AccountDefenderAssessmentAccountTrustReason": {
      "id": "GoogleCloudRecaptchaenterpriseV1AccountDefenderAssessmentAccountTrustReason",
      "type": "object",
      "properties": {
        "reason": {
          "type": "string",
          "enum": [
            "TRUST_REASON_UNSPECIFIED",
            "PROFILE_MATCH",
            "ACCOUNT_HISTORY_REPUTABLE",
            "IDENTITY_GLOBAL_ACTIVITY_REPUTABLE",
            "IDENTITY_HISTORY_REPUTABLE"
          ],
          "readOnly": true,
          "description": "Output only. A trust reason associated with this request.",
          "enumDescriptions": [
            "Default unspecified type.",
            "The request matches a trusted profile associated with this account. Equivalent to `AccountDefenderLabel.PROFILE_MATCH`.",
            "The account's historical activity is reputable. It is unlikely that the account has been compromised in the past.",
            "The identity shows a global pattern of reputable activity based on `userInfo` and associated identifiers.",
            "The identity shows a long-standing history of reputable activity based on `userInfo` and associated identifiers."
          ]
        }
      },
      "description": "Trust explainability reasons for Account defense."
    },
    "GoogleCloudRecaptchaenterpriseV1FirewallAction": {
      "type": "object",
      "properties": {
        "substitute": {
          "$ref": "GoogleCloudRecaptchaenterpriseV1FirewallActionSubstituteAction",
          "description": "This action transparently serves a different page to an offending user."
        },
        "includeRecaptchaScript": {
          "description": "This action injects reCAPTCHA JavaScript code into the HTML page returned by the site backend.",
          "$ref": "GoogleCloudRecaptchaenterpriseV1FirewallActionIncludeRecaptchaScriptAction"
        },
        "block": {
          "description": "This action denies access to a given page. The user gets an HTTP error code.",
          "$ref": "GoogleCloudRecaptchaenterpriseV1FirewallActionBlockAction"
        },
        "allow": {
          "$ref": "GoogleCloudRecaptchaenterpriseV1FirewallActionAllowAction",
          "description": "The user request did not match any policy and should be allowed access to the requested resource."
        },
        "redirect": {
          "description": "This action redirects the request to a reCAPTCHA interstitial to attach a token.",
          "$ref": "GoogleCloudRecaptchaenterpriseV1FirewallActionRedirectAction"
        },
        "setHeader": {
          "description": "This action sets a custom header but allow the request to continue to the customer backend.",
          "$ref": "GoogleCloudRecaptchaenterpriseV1FirewallActionSetHeaderAction"
        }
      },
      "description": "An individual action. Each action represents what to do if a policy matches.",
      "id": "GoogleCloudRecaptchaenterpriseV1FirewallAction"
    },
    "GoogleCloudRecaptchaenterpriseV1AssessmentEnvironment": {
      "type": "object",
      "properties": {
        "version": {
          "type": "string",
          "description": "Optional. The version of the client module. For example, \"1.0.0\"."
        },
        "client": {
          "type": "string",
          "description": "Optional. Identifies the client module initiating the CreateAssessment request. This can be the link to the client module's project. Examples include: - \"github.com/GoogleCloudPlatform/recaptcha-enterprise-google-tag-manager\" - \"wordpress.org/plugins/recaptcha-something\""
        }
      },
      "id": "GoogleCloudRecaptchaenterpriseV1AssessmentEnvironment",
      "description": "The environment creating the assessment. This describes your environment (the system invoking CreateAssessment), NOT the environment of your user."
    },
    "GoogleCloudRecaptchaenterpriseV1AccountVerificationInfo": {
      "description": "Information about account verification, used for identity verification.",
      "type": "object",
      "id": "GoogleCloudRecaptchaenterpriseV1AccountVerificationInfo",
      "properties": {
        "latestVerificationResult": {
          "description": "Output only. Result of the latest account verification challenge.",
          "type": "string",
          "enum": [
            "RESULT_UNSPECIFIED",
            "SUCCESS_USER_VERIFIED",
            "ERROR_USER_NOT_VERIFIED",
            "ERROR_SITE_ONBOARDING_INCOMPLETE",
            "ERROR_RECIPIENT_NOT_ALLOWED",
            "ERROR_RECIPIENT_ABUSE_LIMIT_EXHAUSTED",
            "ERROR_CRITICAL_INTERNAL",
            "ERROR_CUSTOMER_QUOTA_EXHAUSTED",
            "ERROR_VERIFICATION_BYPASSED",
            "ERROR_VERDICT_MISMATCH"
          ],
          "readOnly": true,
          "enumDescriptions": [
            "No information about the latest account verification.",
            "The user was successfully verified. This means the account verification challenge was successfully completed.",
            "The user failed the verification challenge.",
            "The site is not properly onboarded to use the account verification feature.",
            "The recipient is not allowed for account verification. This can occur during integration but should not occur in production.",
            "The recipient has already been sent too many verification codes in a short amount of time.",
            "The verification flow could not be completed due to a critical internal error.",
            "The client has exceeded their two factor request quota for this period of time.",
            "The request cannot be processed at the time because of an incident. This bypass can be restricted to a problematic destination email domain, a customer, or could affect the entire service.",
            "The request parameters do not match with the token provided and cannot be processed."
          ]
        },
        "username": {
          "type": "string",
          "deprecated": true,
          "description": "Username of the account that is being verified. Deprecated. Customers should now provide the `account_id` field in `event.user_info`."
        },
        "endpoints": {
          "type": "array",
          "description": "Optional. Endpoints that can be used for identity verification.",
          "items": {
            "$ref": "GoogleCloudRecaptchaenterpriseV1EndpointVerificationInfo"
          }
        },
        "languageCode": {
          "description": "Optional. Language code preference for the verification message, set as a IETF BCP 47 language code.",
          "type": "string"
        }
      }
    },
    "GoogleCloudRecaptchaenterpriseV1AddIpOverrideResponse": {
      "description": "Response for AddIpOverride.",
      "properties": {},
      "id": "GoogleCloudRecaptchaenterpriseV1AddIpOverrideResponse",
      "type": "object"
    },
    "GoogleCloudRecaptchaenterpriseV1Event": {
      "description": "The event being assessed.",
      "id": "GoogleCloudRecaptchaenterpriseV1Event",
      "properties": {
        "hashedAccountId": {
          "type": "string",
          "description": "Optional. Deprecated: use `user_info.account_id` instead. Unique stable hashed user identifier for the request. The identifier must be hashed using hmac-sha256 with stable secret.",
          "format": "byte",
          "deprecated": true
        },
        "headers": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. HTTP header information about the request."
        },
        "userInfo": {
          "description": "Optional. Information about the user that generates this event, when they can be identified. They are often identified through the use of an account for logged-in requests or login/registration requests, or by providing user identifiers for guest actions like checkout.",
          "$ref": "GoogleCloudRecaptchaenterpriseV1UserInfo"
        },
        "express": {
          "description": "Optional. Flag for a reCAPTCHA express request for an assessment without a token. If enabled, `site_key` must reference an Express site key.",
          "type": "boolean"
        },
        "transactionData": {
          "$ref": "GoogleCloudRecaptchaenterpriseV1TransactionData",
          "description": "Optional. Data describing a payment transaction to be assessed. Sending this data enables reCAPTCHA Enterprise Fraud Prevention and the FraudPreventionAssessment component in the response."
        },
        "expectedAction": {
          "type": "string",
          "description": "Optional. The expected action for this type of event. This should be the same action provided at token generation time on client-side platforms already integrated with recaptcha enterprise. Required for Universal keys."
        },
        "requestedUri": {
          "type": "string",
          "description": "Optional. The URI resource the user requested that triggered an assessment."
        },
        "userIpAddress": {
          "type": "string",
          "description": "Optional. The IP address in the request from the user's device related to this event."
        },
        "wafTokenAssessment": {
          "type": "boolean",
[...]
