{
  "basePath": "",
  "parameters": {
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "location": "query",
      "type": "boolean",
      "default": "true"
    },
    "fields": {
      "type": "string",
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "callback": {
      "type": "string",
      "location": "query",
      "description": "JSONP"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query",
      "type": "string"
    },
    "alt": {
      "location": "query",
      "type": "string",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "description": "Data format for response.",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "default": "json"
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "$.xgafv": {
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "enum": [
        "1",
        "2"
      ],
      "type": "string",
      "description": "V1 error format.",
      "location": "query"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query",
      "type": "string"
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    }
  },
  "revision": "20260916",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "servicePath": "",
  "kind": "discovery#restDescription",
  "mtlsRootUrl": "https://recaptchaenterprise.mtls.googleapis.com/",
  "protocol": "rest",
  "rootUrl": "https://recaptchaenterprise.googleapis.com/",
  "name": "recaptchaenterprise",
  "title": "reCAPTCHA Enterprise API",
  "discoveryVersion": "v1",
  "id": "recaptchaenterprise:v1",
  "version_module": true,
  "ownerName": "Google",
  "fullyEncodeReservedExpansion": true,
  "resources": {
    "projects": {
      "resources": {
        "relatedaccountgroups": {
          "methods": {
            "list": {
              "httpMethod": "GET",
              "flatPath": "v1/projects/{projectsId}/relatedaccountgroups",
              "parameterOrder": [
                "parent"
              ],
              "path": "v1/{+parent}/relatedaccountgroups",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "recaptchaenterprise.projects.relatedaccountgroups.list",
              "parameters": {
                "pageToken": {
                  "type": "string",
                  "description": "Optional. A page token, received from a previous `ListRelatedAccountGroups` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListRelatedAccountGroups` must match the call that provided the page token.",
                  "location": "query"
                },
                "parent": {
                  "location": "path",
                  "required": true,
                  "pattern": "^projects/[^/]+$",
                  "description": "Required. The name of the project to list related account groups from, in the format `projects/{project}`.",
                  "type": "string"
                },
                "pageSize": {
                  "format": "int32",
                  "description": "Optional. The maximum number of groups to return. The service might return fewer than this value. If unspecified, at most 50 groups are returned. The maximum value is 1000; values above 1000 are coerced to 1000.",
                  "type": "integer",
                  "location": "query"
                }
              },
              "response": {
                "$ref": "GoogleCloudRecaptchaenterpriseV1ListRelatedAccountGroupsResponse"
              },
              "description": "List groups of related accounts."
            }
          },
          "resources": {
            "memberships": {
              "methods": {
                "list": {
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "GoogleCloudRecaptchaenterpriseV1ListRelatedAccountGroupMembershipsResponse"
                  },
                  "id": "recaptchaenterprise.projects.relatedaccountgroups.memberships.list",
                  "parameters": {
                    "parent": {
                      "type": "string",
                      "description": "Required. The resource name for the related account group in the format `projects/{project}/relatedaccountgroups/{relatedaccountgroup}`.",
                      "pattern": "^projects/[^/]+/relatedaccountgroups/[^/]+$",
                      "required": true,
                      "location": "path"
                    },
                    "pageSize": {
                      "type": "integer",
                      "description": "Optional. The maximum number of accounts to return. The service might return fewer than this value. If unspecified, at most 50 accounts are returned. The maximum value is 1000; values above 1000 are coerced to 1000.",
                      "location": "query",
                      "format": "int32"
                    },
                    "pageToken": {
                      "type": "string",
                      "location": "query",
                      "description": "Optional. A page token, received from a previous `ListRelatedAccountGroupMemberships` call. When paginating, all other parameters provided to `ListRelatedAccountGroupMemberships` must match the call that provided the page token."
                    }
                  },
                  "path": "v1/{+parent}/memberships",
                  "flatPath": "v1/projects/{projectsId}/relatedaccountgroups/{relatedaccountgroupsId}/memberships",
                  "parameterOrder": [
                    "parent"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Get memberships in a group of related accounts."
                }
              }
            }
          }
        },
        "assessments": {
          "methods": {
            "create": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "recaptchaenterprise.projects.assessments.create",
              "response": {
                "$ref": "GoogleCloudRecaptchaenterpriseV1Assessment"
              },
              "parameters": {
                "parent": {
                  "type": "string",
                  "required": true,
                  "location": "path",
                  "description": "Required. The name of the project in which the assessment is created, in the format `projects/{project}`.",
                  "pattern": "^projects/[^/]+$"
                }
              },
              "request": {
                "$ref": "GoogleCloudRecaptchaenterpriseV1Assessment"
              },
              "path": "v1/{+parent}/assessments",
              "parameterOrder": [
                "parent"
              ],
              "httpMethod": "POST",
              "description": "Creates an Assessment of the likelihood an event is legitimate.",
              "flatPath": "v1/projects/{projectsId}/assessments"
            },
            "annotate": {
              "flatPath": "v1/projects/{projectsId}/assessments/{assessmentsId}:annotate",
              "id": "recaptchaenterprise.projects.assessments.annotate",
              "httpMethod": "POST",
              "description": "Annotates a previously created Assessment to provide additional information on whether the event turned out to be authentic or fraudulent.",
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "GoogleCloudRecaptchaenterpriseV1AnnotateAssessmentResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "name": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "Required. The resource name of the Assessment, in the format `projects/{project}/assessments/{assessment}`.",
                  "pattern": "^projects/[^/]+/assessments/[^/]+$"
                }
              },
              "request": {
                "$ref": "GoogleCloudRecaptchaenterpriseV1AnnotateAssessmentRequest"
              },
              "path": "v1/{+name}:annotate"
            }
          }
        },
        "keys": {
          "methods": {
            "getMetrics": {
              "response": {
                "$ref": "GoogleCloudRecaptchaenterpriseV1Metrics"
              },
              "id": "recaptchaenterprise.projects.keys.getMetrics",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "name": {
                  "required": true,
                  "location": "path",
                  "pattern": "^projects/[^/]+/keys/[^/]+/metrics$",
                  "type": "string",
                  "description": "Required. The name of the requested metrics, in the format `projects/{project}/keys/{key}/metrics`."
                }
              },
              "path": "v1/{+name}",
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1/projects/{projectsId}/keys/{keysId}/metrics",
              "httpMethod": "GET",
              "description": "Get some aggregated metrics for a Key. This data can be used to build dashboards."
            },
            "list": {
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "flatPath": "v1/projects/{projectsId}/keys",
              "path": "v1/{+parent}/keys",
              "description": "Returns the list of all keys that belong to a project.",
              "parameters": {
                "pageSize": {
                  "format": "int32",
                  "location": "query",
                  "description": "Optional. The maximum number of keys to return. Default is 10. Max limit is 1000.",
                  "type": "integer"
                },
                "pageToken": {
                  "type": "string",
                  "location": "query",
                  "description": "Optional. The next_page_token value returned from a previous. ListKeysRequest, if any."
                },
                "parent": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "pattern": "^projects/[^/]+$",
                  "description": "Required. The name of the project that contains the keys that is listed, in the format `projects/{project}`."
                }
              },
              "id": "recaptchaenterprise.projects.keys.list",
              "response": {
                "$ref": "GoogleCloudRecaptchaenterpriseV1ListKeysResponse"
              },
              "parameterOrder": [
                "parent"
              ]
            },
            "migrate": {
              "flatPath": "v1/projects/{projectsId}/keys/{keysId}:migrate",
              "parameters": {
                "name": {
                  "type": "string",
                  "pattern": "^projects/[^/]+/keys/[^/]+$",
                  "location": "path",
                  "required": true,
                  "description": "Required. The name of the key to be migrated, in the format `projects/{project}/keys/{key}`."
                }
              },
              "request": {
                "$ref": "GoogleCloudRecaptchaenterpriseV1MigrateKeyRequest"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Migrates an existing key from reCAPTCHA to reCAPTCHA Enterprise. Once a key is migrated, it can be used from either product. SiteVerify requests are billed as CreateAssessment calls. You must be authenticated as one of the current owners of the reCAPTCHA Key, and your user must have the reCAPTCHA Enterprise Admin IAM role in the destination project.",
              "id": "recaptchaenterprise.projects.keys.migrate",
              "path": "v1/{+name}:migrate",
              "response": {
                "$ref": "GoogleCloudRecaptchaenterpriseV1Key"
              },
              "httpMethod": "POST",
              "parameterOrder": [
                "name"
              ]
            },
            "retrieveLegacySecretKey": {
              "path": "v1/{+key}:retrieveLegacySecretKey",
              "flatPath": "v1/projects/{projectsId}/keys/{keysId}:retrieveLegacySecretKey",
              "id": "recaptchaenterprise.projects.keys.retrieveLegacySecretKey",
              "parameters": {
                "key": {
                  "required": true,
                  "location": "path",
                  "description": "Required. The public key name linked to the requested secret key in the format `projects/{project}/keys/{key}`.",
                  "type": "string",
                  "pattern": "^projects/[^/]+/keys/[^/]+$"
                }
              },
              "response": {
                "$ref": "GoogleCloudRecaptchaenterpriseV1RetrieveLegacySecretKeyResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameterOrder": [
                "key"
              ],
              "description": "Returns the secret key related to the specified public key. You must use the legacy secret key only in a 3rd party integration with legacy reCAPTCHA.",
              "httpMethod": "GET"
            },
            "patch": {
              "description": "Updates the specified key.",
              "response": {
                "$ref": "GoogleCloudRecaptchaenterpriseV1Key"
              },
              "parameterOrder": [
                "name"
              ],
              "id": "recaptchaenterprise.projects.keys.patch",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "updateMask": {
                  "format": "google-fieldmask",
                  "type": "string",
                  "description": "Optional. The mask to control which fields of the key get updated. If the mask is not present, all fields are updated.",
                  "location": "query"
                },
                "name": {
                  "type": "string",
                  "description": "Identifier. The resource name for the Key in the format `projects/{project}/keys/{key}`.",
                  "pattern": "^projects/[^/]+/keys/[^/]+$",
                  "required": true,
                  "location": "path"
                }
              },
              "request": {
                "$ref": "GoogleCloudRecaptchaenterpriseV1Key"
              },
              "flatPath": "v1/projects/{projectsId}/keys/{keysId}",
              "path": "v1/{+name}",
              "httpMethod": "PATCH"
            },
            "addIpOverride": {
              "request": {
                "$ref": "GoogleCloudRecaptchaenterpriseV1AddIpOverrideRequest"
              },
              "id": "recaptchaenterprise.projects.keys.addIpOverride",
              "httpMethod": "POST",
              "path": "v1/{+name}:addIpOverride",
              "flatPath": "v1/projects/{projectsId}/keys/{keysId}:addIpOverride",
              "description": "Adds an IP override to a key. The following restrictions hold: * The maximum number of IP overrides per key is 1000. * For any conflict (such as IP already exists or IP part of an existing IP range), an error is returned.",
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "name": {
                  "type": "string",
                  "pattern": "^projects/[^/]+/keys/[^/]+$",
                  "required": true,
                  "location": "path",
                  "description": "Required. The name of the key to which the IP override is added, in the format `projects/{project}/keys/{key}`."
                }
              },
              "response": {
                "$ref": "GoogleCloudRecaptchaenterpriseV1AddIpOverrideResponse"
              }
            },
            "listIpOverrides": {
              "description": "Lists all IP overrides for a key.",
              "id": "recaptchaenterprise.projects.keys.listIpOverrides",
              "response": {
                "$ref": "GoogleCloudRecaptchaenterpriseV1ListIpOverridesResponse"
              },
              "path": "v1/{+parent}:listIpOverrides",
              "parameters": {
                "parent": {
                  "type": "string",
                  "description": "Required. The parent key for which the IP overrides are listed, in the format `projects/{project}/keys/{key}`.",
                  "required": true,
                  "pattern": "^projects/[^/]+/keys/[^/]+$",
                  "location": "path"
                },
                "pageSize": {
                  "location": "query",
                  "format": "int32",
                  "type": "integer",
                  "description": "Optional. The maximum number of overrides to return. Default is 10. Max limit is 100. If the number of overrides is less than the page_size, all overrides are returned. If the page size is more than 100, it is coerced to 100."
                },
                "pageToken": {
                  "type": "string",
                  "location": "query",
                  "description": "Optional. The next_page_token value returned from a previous ListIpOverridesRequest, if any."
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameterOrder": [
                "parent"
              ],
              "flatPath": "v1/projects/{projectsId}/keys/{keysId}:listIpOverrides",
              "httpMethod": "GET"
            },
            "get": {
              "response": {
                "$ref": "GoogleCloudRecaptchaenterpriseV1Key"
              },
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "GET",
              "path": "v1/{+name}",
              "id": "recaptchaenterprise.projects.keys.get",
              "flatPath": "v1/projects/{projectsId}/keys/{keysId}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "name": {
                  "required": true,
                  "description": "Required. The name of the requested key, in the format `projects/{project}/keys/{key}`.",
                  "location": "path",
                  "pattern": "^projects/[^/]+/keys/[^/]+$",
                  "type": "string"
                }
              },
              "description": "Returns the specified key."
            },
            "updatePolicy": {
              "httpMethod": "PATCH",
              "response": {
                "$ref": "GoogleCloudRecaptchaenterpriseV1Policy"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Updates the policy for a key.",
              "request": {
                "$ref": "GoogleCloudRecaptchaenterpriseV1Policy"
              },
              "parameters": {
                "name": {
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "pattern": "^projects/[^/]+/keys/[^/]+/policy$",
                  "description": "Identifier. Resource name for this policy. Format: \"projects/{project}/keys/{key}/policy\" for a policy under a key."
                },
                "updateMask": {
                  "location": "query",
                  "type": "string",
                  "description": "Optional. The mask to control which fields of the policy get updated. If the mask is not present, all fields are updated.",
                  "format": "google-fieldmask"
                }
              },
              "path": "v1/{+name}",
              "flatPath": "v1/projects/{projectsId}/keys/{keysId}/policy",
              "id": "recaptchaenterprise.projects.keys.updatePolicy",
              "parameterOrder": [
                "name"
              ]
            },
            "create": {
              "parameterOrder": [
                "parent"
              ],
              "path": "v1/{+parent}/keys",
              "id": "recaptchaenterprise.projects.keys.create",
              "httpMethod": "POST",
              "flatPath": "v1/projects/{projectsId}/keys",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Creates a new reCAPTCHA Enterprise key.",
              "parameters": {
                "parent": {
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "pattern": "^projects/[^/]+$",
                  "description": "Required. The name of the project in which the key is created, in the format `projects/{project}`."
                }
              },
              "request": {
                "$ref": "GoogleCloudRecaptchaenterpriseV1Key"
              },
              "response": {
                "$ref": "GoogleCloudRecaptchaenterpriseV1Key"
              }
            },
            "getPolicy": {
              "response": {
                "$ref": "GoogleCloudRecaptchaenterpriseV1Policy"
              },
              "id": "recaptchaenterprise.projects.keys.getPolicy",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "name": {
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "pattern": "^projects/[^/]+/keys/[^/]+/policy$",
                  "description": "Required. The name of the policy to get, in the format `projects/{project}/keys/{key}/policy`."
                }
              },
              "description": "Get the policy for a key.",
              "flatPath": "v1/projects/{projectsId}/keys/{keysId}/policy",
              "path": "v1/{+name}",
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "GET"
            },
            "removeIpOverride": {
              "response": {
                "$ref": "GoogleCloudRecaptchaenterpriseV1RemoveIpOverrideResponse"
              },
              "httpMethod": "POST",
              "path": "v1/{+name}:removeIpOverride",
              "description": "Removes an IP override from a key. The following restrictions hold: * If the IP isn't found in an existing IP override, a `NOT_FOUND` error is returned. * If the IP is found in an existing IP override, but the override type does not match, a `NOT_FOUND` error is returned.",
              "request": {
                "$ref": "GoogleCloudRecaptchaenterpriseV1RemoveIpOverrideRequest"
              },
              "parameters": {
                "name": {
                  "pattern": "^projects/[^/]+/keys/[^/]+$",
                  "description": "Required. The name of the key from which the IP override is removed, in the format `projects/{project}/keys/{key}`.",
                  "type": "string",
                  "required": true,
                  "location": "path"
                }
              },
              "flatPath": "v1/projects/{projectsId}/keys/{keysId}:removeIpOverride",
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "recaptchaenterprise.projects.keys.removeIpOverride"
            },
            "delete": {
              "id": "recaptchaenterprise.projects.keys.delete",
              "parameterOrder": [
                "name"
              ],
              "description": "Deletes the specified key.",
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "httpMethod": "DELETE",
              "path": "v1/{+name}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "flatPath": "v1/projects/{projectsId}/keys/{keysId}",
              "parameters": {
                "name": {
                  "type": "string",
                  "description": "Required. The name of the key to be deleted, in the format `projects/{project}/keys/{key}`.",
                  "required": true,
                  "location": "path",
                  "pattern": "^projects/[^/]+/keys/[^/]+$"
                }
              }
            }
          }
        },
        "relatedaccountgroupmemberships": {
          "methods": {
            "search": {
              "request": {
                "$ref": "GoogleCloudRecaptchaenterpriseV1SearchRelatedAccountGroupMembershipsRequest"
              },
              "response": {
                "$ref": "GoogleCloudRecaptchaenterpriseV1SearchRelatedAccountGroupMembershipsResponse"
              },
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Search group memberships related to a given account.",
              "parameters": {
                "project": {
                  "description": "Required. The name of the project to search related account group memberships from. Specify the project name in the following format: `projects/{project}`.",
                  "pattern": "^projects/[^/]+$",
                  "required": true,
                  "location": "path",
                  "type": "string"
                }
              },
              "flatPath": "v1/projects/{projectsId}/relatedaccountgroupmemberships:search",
              "parameterOrder": [
                "project"
              ],
              "id": "recaptchaenterprise.projects.relatedaccountgroupmemberships.search",
              "path": "v1/{+project}/relatedaccountgroupmemberships:search"
            }
          }
        },
        "firewallpolicies": {
          "methods": {
            "create": {
              "request": {
                "$ref": "GoogleCloudRecaptchaenterpriseV1FirewallPolicy"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "path": "v1/{+parent}/firewallpolicies",
              "description": "Creates a new FirewallPolicy, specifying conditions at which reCAPTCHA Enterprise actions can be executed. A project may have a maximum of 1000 policies.",
              "parameters": {
                "parent": {
                  "pattern": "^projects/[^/]+$",
                  "description": "Required. The name of the project this policy applies to, in the format `projects/{project}`.",
                  "type": "string",
                  "location": "path",
                  "required": true
                }
              },
              "flatPath": "v1/projects/{projectsId}/firewallpolicies",
              "id": "recaptchaenterprise.projects.firewallpolicies.create",
              "response": {
                "$ref": "GoogleCloudRecaptchaenterpriseV1FirewallPolicy"
              },
              "httpMethod": "POST",
              "parameterOrder": [
                "parent"
              ]
            },
            "delete": {
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "httpMethod": "DELETE",
              "path": "v1/{+name}",
              "parameterOrder": [
                "name"
              ],
              "id": "recaptchaenterprise.projects.firewallpolicies.delete",
              "parameters": {
                "name": {
                  "type": "string",
                  "pattern": "^projects/[^/]+/firewallpolicies/[^/]+$",
                  "description": "Required. The name of the policy to be deleted, in the format `projects/{project}/firewallpolicies/{firewallpolicy}`.",
                  "required": true,
                  "location": "path"
                }
              },
              "flatPath": "v1/projects/{projectsId}/firewallpolicies/{firewallpoliciesId}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Deletes the specified firewall policy."
            },
            "get": {
              "flatPath": "v1/projects/{projectsId}/firewallpolicies/{firewallpoliciesId}",
              "path": "v1/{+name}",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "description": "Required. The name of the requested policy, in the format `projects/{project}/firewallpolicies/{firewallpolicy}`.",
                  "pattern": "^projects/[^/]+/firewallpolicies/[^/]+$"
                }
              },
              "response": {
                "$ref": "GoogleCloudRecaptchaenterpriseV1FirewallPolicy"
              },
              "description": "Returns the specified firewall policy.",
              "id": "recaptchaenterprise.projects.firewallpolicies.get",
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "list": {
              "id": "recaptchaenterprise.projects.firewallpolicies.list",
              "parameters": {
                "pageSize": {
                  "format": "int32",
                  "location": "query",
                  "description": "Optional. The maximum number of policies to return. Default is 10. Max limit is 1000.",
                  "type": "integer"
                },
                "pageToken": {
                  "description": "Optional. The next_page_token value returned from a previous. ListFirewallPoliciesRequest, if any.",
                  "location": "query",
                  "type": "string"
                },
                "parent": {
                  "description": "Required. The name of the project to list the policies for, in the format `projects/{project}`.",
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "pattern": "^projects/[^/]+$"
                }
              },
              "path": "v1/{+parent}/firewallpolicies",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "GoogleCloudRecaptchaenterpriseV1ListFirewallPoliciesResponse"
              },
              "description": "Returns the list of all firewall policies that belong to a project.",
              "httpMethod": "GET",
              "flatPath": "v1/projects/{projectsId}/firewallpolicies",
              "parameterOrder": [
                "parent"
              ]
            },
            "patch": {
              "path": "v1/{+name}",
              "httpMethod": "PATCH",
              "description": "Updates the specified firewall policy.",
              "flatPath": "v1/projects/{projectsId}/firewallpolicies/{firewallpoliciesId}",
              "id": "recaptchaenterprise.projects.firewallpolicies.patch",
              "parameterOrder": [
                "name"
              ],
              "request": {
                "$ref": "GoogleCloudRecaptchaenterpriseV1FirewallPolicy"
              },
              "parameters": {
                "updateMask": {
                  "format": "google-fieldmask",
                  "location": "query",
                  "description": "Optional. The mask to control which fields of the policy get updated. If the mask is not present, all fields are updated.",
                  "type": "string"
                },
                "name": {
                  "type": "string",
                  "required": true,
                  "description": "Identifier. The resource name for the FirewallPolicy in the format `projects/{project}/firewallpolicies/{firewallpolicy}`.",
                  "location": "path",
                  "pattern": "^projects/[^/]+/firewallpolicies/[^/]+$"
                }
              },
              "response": {
                "$ref": "GoogleCloudRecaptchaenterpriseV1FirewallPolicy"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "reorder": {
              "parameters": {
                "parent": {
                  "type": "string",
                  "required": true,
                  "location": "path",
                  "description": "Required. The name of the project to list the policies for, in the format `projects/{project}`.",
                  "pattern": "^projects/[^/]+$"
                }
              },
              "id": "recaptchaenterprise.projects.firewallpolicies.reorder",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "GoogleCloudRecaptchaenterpriseV1ReorderFirewallPoliciesResponse"
              },
              "httpMethod": "POST",
              "path": "v1/{+parent}/firewallpolicies:reorder",
              "request": {
                "$ref": "GoogleCloudRecaptchaenterpriseV1ReorderFirewallPoliciesRequest"
              },
              "description": "Reorders all firewall policies.",
              "flatPath": "v1/projects/{projectsId}/firewallpolicies:reorder"
            }
          }
        }
      }
    }
  },
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "version": "v1",
  "description": "Help protect your website from fraudulent activity, spam, and abuse without creating friction.",
  "documentationLink": "https://cloud.google.com/recaptcha-enterprise/",
  "baseUrl": "https://recaptchaenterprise.googleapis.com/",
  "canonicalName": "Recaptcha Enterprise",
  "batchPath": "batch",
  "ownerDomain": "google.com",
  "schemas": {
    "GoogleCloudRecaptchaenterpriseV1TransactionDataGatewayInfo": {
      "id": "GoogleCloudRecaptchaenterpriseV1TransactionDataGatewayInfo",
      "properties": {
        "cvvResponseCode": {
          "type": "string",
          "description": "Optional. CVV response code from the gateway (available only when reCAPTCHA Enterprise is called after authorization)."
        },
        "name": {
          "description": "Optional. Name of the gateway service (for example, stripe, square, paypal).",
          "type": "string"
        },
        "gatewayResponseCode": {
          "description": "Optional. Gateway response code describing the state of the transaction.",
          "type": "string"
        },
        "avsResponseCode": {
          "type": "string",
          "description": "Optional. AVS response code from the gateway (available only when reCAPTCHA Enterprise is called after authorization)."
        }
      },
      "type": "object",
      "description": "Details about the transaction from the gateway."
    },
    "GoogleCloudRecaptchaenterpriseV1IpOverrideData": {
      "description": "Information about the IP or IP range override.",
      "properties": {
        "overrideType": {
          "enumDescriptions": [
            "Default override type that indicates this enum hasn't been specified.",
            "Allowlist the IP address; i.e. give a `risk_analysis.score` of 0.9 for all valid assessments."
          ],
          "enum": [
            "OVERRIDE_TYPE_UNSPECIFIED",
            "ALLOW"
          ],
          "type": "string",
          "description": "Required. Describes the type of IP override."
        },
        "ip": {
          "description": "Required. The IP address to override (can be IPv4, IPv6 or CIDR). The IP override must be a valid IPv4 or IPv6 address, or a CIDR range. The IP override must be a public IP address. Example of IPv4: 168.192.5.6 Example of IPv6: 2001:0000:130F:0000:0000:09C0:876A:130B Example of IPv4 with CIDR: 168.192.5.0/24 Example of IPv6 with CIDR: 2001:0DB8:1234::/48",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudRecaptchaenterpriseV1IpOverrideData"
    },
    "GoogleCloudRecaptchaenterpriseV1FirewallAction": {
      "properties": {
        "block": {
          "description": "This action denies access to a given page. The user gets an HTTP error code.",
          "$ref": "GoogleCloudRecaptchaenterpriseV1FirewallActionBlockAction"
        },
        "redirect": {
          "$ref": "GoogleCloudRecaptchaenterpriseV1FirewallActionRedirectAction",
          "description": "This action redirects the request to a reCAPTCHA interstitial to attach a token."
        },
        "substitute": {
          "$ref": "GoogleCloudRecaptchaenterpriseV1FirewallActionSubstituteAction",
          "description": "This action transparently serves a different page to an offending user."
        },
        "includeRecaptchaScript": {
          "description": "This action injects reCAPTCHA JavaScript code into the HTML page returned by the site backend.",
          "$ref": "GoogleCloudRecaptchaenterpriseV1FirewallActionIncludeRecaptchaScriptAction"
        },
        "setHeader": {
          "description": "This action sets a custom header but allow the request to continue to the customer backend.",
          "$ref": "GoogleCloudRecaptchaenterpriseV1FirewallActionSetHeaderAction"
        },
        "allow": {
          "$ref": "GoogleCloudRecaptchaenterpriseV1FirewallActionAllowAction",
          "description": "The user request did not match any policy and should be allowed access to the requested resource."
        }
      },
      "id": "GoogleCloudRecaptchaenterpriseV1FirewallAction",
      "description": "An individual action. Each action represents what to do if a policy matches.",
      "type": "object"
    },
    "GoogleCloudRecaptchaenterpriseV1AccountDefenderAssessmentAccountTrustReason": {
      "id": "GoogleCloudRecaptchaenterpriseV1AccountDefenderAssessmentAccountTrustReason",
      "properties": {
        "reason": {
          "type": "string",
          "description": "Output only. A trust reason associated with this request.",
          "readOnly": true,
          "enumDescriptions": [
            "Default unspecified type.",
            "The request matches a trusted profile associated with this account. Equivalent to `AccountDefenderLabel.PROFILE_MATCH`.",
            "The account's historical activity is reputable. It is unlikely that the account has been compromised in the past.",
            "The identity shows a global pattern of reputable activity based on `userInfo` and associated identifiers.",
            "The identity shows a long-standing history of reputable activity based on `userInfo` and associated identifiers."
          ],
          "enum": [
            "TRUST_REASON_UNSPECIFIED",
            "PROFILE_MATCH",
            "ACCOUNT_HISTORY_REPUTABLE",
            "IDENTITY_GLOBAL_ACTIVITY_REPUTABLE",
            "IDENTITY_HISTORY_REPUTABLE"
          ]
        }
      },
      "description": "Trust explainability reasons for Account defense.",
      "type": "object"
    },
    "GoogleCloudRecaptchaenterpriseV1TestingOptions": {
      "type": "object",
      "properties": {
        "testingScore": {
          "description": "Optional. All assessments for this Key return this score. Must be between 0 (likely not legitimate) and 1 (likely legitimate) inclusive.",
          "type": "number",
          "format": "float"
        },
        "testingChallenge": {
          "enumDescriptions": [
            "Perform the normal risk analysis and return either nocaptcha or a challenge depending on risk and trust factors.",
            "Challenge requests for this key always return a nocaptcha, which does not require a solution.",
            "Challenge requests for this key always return an unsolvable challenge."
          ],
          "type": "string",
          "description": "Optional. For challenge-based keys only (CHECKBOX, INVISIBLE), all challenge requests for this site return nocaptcha if NOCAPTCHA, or an unsolvable challenge if CHALLENGE.",
          "enum": [
            "TESTING_CHALLENGE_UNSPECIFIED",
            "NOCAPTCHA",
            "UNSOLVABLE_CHALLENGE"
          ]
        }
      },
      "description": "Options for user acceptance testing.",
      "id": "GoogleCloudRecaptchaenterpriseV1TestingOptions"
    },
    "GoogleCloudRecaptchaenterpriseV1ChallengeRule": {
      "type": "object",
      "properties": {
        "challenge": {
          "$ref": "GoogleCloudRecaptchaenterpriseV1ChallengeRuleChallengeOutcome",
          "description": "Present a challenge to the user."
        },
        "noChallenge": {
          "description": "Do not present a challenge to the user.",
          "$ref": "GoogleCloudRecaptchaenterpriseV1ChallengeRuleNoChallengeOutcome"
        },
        "condition": {
          "description": "Optional. A CEL condition that must be met for this rule to apply. If unspecified, the rule applies unconditionally. The following fields can be referenced in the condition: * `score` * `user_ip_address` * `user_asn` * `user_agent` * `verified_bots.name` * `verified_bots.bot_type` Examples: * `score < 0.5` * `user_ip_address == \"123.45.67.89\"` * `user_agent.contains(\"Chrome\")` * `score < 0.5 && user_ip_address == \"123.45.67.89\"`",
          "type": "string"
        }
      },
      "id": "GoogleCloudRecaptchaenterpriseV1ChallengeRule",
      "description": "A rule to configure the behavior of reCAPTCHA for conditionally presenting a challenge."
    },
    "GoogleCloudRecaptchaenterpriseV1UserInfo": {
      "id": "GoogleCloudRecaptchaenterpriseV1UserInfo",
      "type": "object",
      "properties": {
        "createAccountTime": {
          "format": "google-datetime",
          "description": "Optional. Creation time for this account associated with this user. Leave blank for non logged-in actions, guest checkout, or when there is no account associated with the current user.",
          "type": "string"
        },
        "userIds": {
          "items": {
            "$ref": "GoogleCloudRecaptchaenterpriseV1UserId"
          },
          "type": "array",
          "description": "Optional. Identifiers associated with this user or request."
        },
        "accountId": {
          "description": "Optional. For logged-in requests or login/registration requests, the unique account identifier associated with this user. You can use the username if it is stable (meaning it is the same for every request associated with the same user), or any stable user ID of your choice. Leave blank for non logged-in actions or guest checkout.",
          "type": "string"
        }
      },
      "description": "User information associated with a request protected by reCAPTCHA Enterprise."
    },
    "GoogleCloudRecaptchaenterpriseV1EndpointVerificationInfo": {
      "id": "GoogleCloudRecaptchaenterpriseV1EndpointVerificationInfo",
      "description": "Information about a verification endpoint that can be used for 2FA.",
      "type": "object",
      "properties": {
        "phoneNumber": {
          "description": "Phone number for which to trigger a verification request. Should be given in E.164 format.",
          "type": "string"
        },
        "lastVerificationTime": {
          "format": "google-datetime",
          "description": "Output only. Timestamp of the last successful verification for the endpoint, if any.",
          "readOnly": true,
          "type": "string"
        },
        "requestToken": {
          "description": "Output only. Token to provide to the client to trigger endpoint verification. It must be used within 15 minutes.",
          "readOnly": true,
          "type": "string"
        },
        "emailAddress": {
          "description": "Email address for which to trigger a verification request.",
          "type": "string"
        }
      }
    },
    "GoogleRpcStatus": {
      "type": "object",
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "properties": {
        "details": {
          "type": "array",
          "items": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            }
          },
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use."
        },
        "code": {
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "format": "int32",
          "type": "integer"
        },
        "message": {
          "type": "string",
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client."
        }
      },
      "id": "GoogleRpcStatus"
    },
    "GoogleCloudRecaptchaenterpriseV1FraudPreventionAssessmentCardTestingVerdict": {
      "id": "GoogleCloudRecaptchaenterpriseV1FraudPreventionAssessmentCardTestingVerdict",
      "properties": {
        "risk": {
          "type": "number",
          "description": "Output only. Probability of this transaction attempt being part of a card testing attack. Values are from 0.0 (lowest) to 1.0 (highest).",
          "format": "float",
          "readOnly": true
        }
      },
      "type": "object",
      "description": "Information about card testing fraud, where an adversary is testing fraudulently obtained cards or brute forcing their details."
    },
    "GoogleCloudRecaptchaenterpriseV1AnnotateAssessmentResponse": {
      "properties": {},
      "type": "object",
      "id": "GoogleCloudRecaptchaenterpriseV1AnnotateAssessmentResponse",
      "description": "Empty response for AnnotateAssessment."
    },
    "GoogleCloudRecaptchaenterpriseV1RelatedAccountGroup": {
      "properties": {
        "name": {
          "description": "Required. Identifier. The resource name for the related account group in the format `projects/{project}/relatedaccountgroups/{related_account_group}`.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "A group of related accounts.",
      "id": "GoogleCloudRecaptchaenterpriseV1RelatedAccountGroup"
    },
    "GoogleCloudRecaptchaenterpriseV1ReorderFirewallPoliciesResponse": {
      "description": "The reorder firewall policies response message.",
      "properties": {},
      "type": "object",
      "id": "GoogleCloudRecaptchaenterpriseV1ReorderFirewallPoliciesResponse"
    },
    "GoogleCloudRecaptchaenterpriseV1FraudPreventionAssessmentRiskReason": {
      "id": "GoogleCloudRecaptchaenterpriseV1FraudPreventionAssessmentRiskReason",
      "type": "object",
      "description": "Risk reasons applicable to the Fraud Prevention assessment.",
      "properties": {
        "reason": {
          "enumDescriptions": [
            "Default unspecified type.",
            "A suspiciously high number of recent transactions have used identifiers present in this transaction.",
            "User is cycling through a suspiciously large number of identifiers, suggesting enumeration or validation attacks within a potential fraud network.",
            "User has a short history or no history in the reCAPTCHA network, suggesting the possibility of synthetic identity generation.",
            "Identifiers used in this transaction originate from an unusual or conflicting set of geolocations.",
            "This transaction is linked to a cluster of known fraudulent activity."
          ],
          "enum": [
            "REASON_UNSPECIFIED",
            "HIGH_TRANSACTION_VELOCITY",
            "EXCESSIVE_ENUMERATION_PATTERN",
            "SHORT_IDENTITY_HISTORY",
            "GEOLOCATION_DISCREPANCY",
            "ASSOCIATED_WITH_FRAUD_CLUSTER"
          ],
          "type": "string",
          "description": "Output only. Risk reasons applicable to the Fraud Prevention assessment.",
          "readOnly": true
        }
      }
    },
    "GoogleCloudRecaptchaenterpriseV1TransactionDataItem": {
      "id": "GoogleCloudRecaptchaenterpriseV1TransactionDataItem",
      "description": "Line items being purchased in this transaction.",
      "properties": {
        "name": {
          "type": "string",
          "description": "Optional. The full name of the item."
        },
        "merchantAccountId": {
          "description": "Optional. When a merchant is specified, its corresponding account_id. Necessary to populate marketplace-style transactions.",
          "type": "string"
        },
        "value": {
          "type": "number",
          "description": "Optional. The value per item that the user is paying, in the transaction currency, after discounts.",
          "format": "double"
        },
        "quantity": {
          "format": "int64",
          "type": "string",
          "description": "Optional. The quantity of this item that is being purchased."
        }
      },
      "type": "object"
    },
    "GoogleCloudRecaptchaenterpriseV1RemoveIpOverrideRequest": {
      "id": "GoogleCloudRecaptchaenterpriseV1RemoveIpOverrideRequest",
      "description": "The RemoveIpOverride request message.",
      "type": "object",
      "properties": {
        "ipOverrideData": {
          "description": "Required. IP override to be removed from the key.",
          "$ref": "GoogleCloudRecaptchaenterpriseV1IpOverrideData"
        }
      }
    },
    "GoogleCloudRecaptchaenterpriseV1UserId": {
      "type": "object",
      "description": "An identifier associated with a user.",
      "id": "GoogleCloudRecaptchaenterpriseV1UserId",
      "properties": {
        "username": {
          "description": "Optional. A unique username, if different from all the other identifiers and `account_id` that are provided. Can be a unique login handle or display name for a user.",
          "type": "string"
        },
        "phoneNumber": {
          "type": "string",
          "description": "Optional. A phone number. Should use the E.164 format."
        },
        "email": {
          "description": "Optional. An email address.",
          "type": "string"
        }
      }
    },
    "GoogleCloudRecaptchaenterpriseV1TransactionData": {
      "id": "GoogleCloudRecaptchaenterpriseV1TransactionData",
      "type": "object",
      "properties": {
        "currencyCode": {
          "description": "Optional. The currency code in ISO-4217 format.",
          "type": "string"
        },
        "cardBin": {
          "type": "string",
          "description": "Optional. The Bank Identification Number - generally the first 6 or 8 digits of the card."
        },
        "value": {
          "description": "Optional. The decimal value of the transaction in the specified currency.",
          "type": "number",
          "format": "double"
        },
        "transactionId": {
          "type": "string",
          "description": "Unique identifier for the transaction. This custom identifier can be used to reference this transaction in the future, for example, labeling a refund or chargeback event. Two attempts at the same transaction should use the same transaction id."
        },
        "merchants": {
          "items": {
            "$ref": "GoogleCloudRecaptchaenterpriseV1TransactionDataUser"
          },
          "type": "array",
          "description": "Optional. Information about the user or users fulfilling the transaction."
        },
        "shippingAddress": {
          "description": "Optional. Destination address if this transaction involves shipping a physical item.",
          "$ref": "GoogleCloudRecaptchaenterpriseV1TransactionDataAddress"
        },
        "shippingValue": {
          "type": "number",
          "description": "Optional. The value of shipping in the specified currency. 0 for free or no shipping.",
          "format": "double"
        },
        "billingAddress": {
          "description": "Optional. Address associated with the payment method when applicable.",
          "$ref": "GoogleCloudRecaptchaenterpriseV1TransactionDataAddress"
        },
        "cardLastFour": {
          "description": "Optional. The last four digits of the card.",
          "type": "string"
        },
        "user": {
          "description": "Optional. Information about the user paying/initiating the transaction.",
          "$ref": "GoogleCloudRecaptchaenterpriseV1TransactionDataUser"
        },
        "paymentMethod": {
          "description": "Optional. The payment method for the transaction. The allowed values are: * credit-card * debit-card * gift-card * processor-{name} (If a third-party is used, for example, processor-paypal) * custom-{name} (If an alternative method is used, for example, custom-crypto)",
          "type": "string"
        },
        "gatewayInfo": {
          "description": "Optional. Information about the payment gateway's response to the transaction.",
          "$ref": "GoogleCloudRecaptchaenterpriseV1TransactionDataGatewayInfo"
        },
        "items": {
          "items": {
            "$ref": "GoogleCloudRecaptchaenterpriseV1TransactionDataItem"
          },
          "type": "array",
          "description": "Optional. Items purchased in this transaction."
        }
      },
      "description": "Transaction data associated with a payment protected by reCAPTCHA Enterprise."
    },
    "GoogleCloudRecaptchaenterpriseV1Policy": {
      "id": "GoogleCloudRecaptchaenterpriseV1Policy",
      "description": "A complete configuration set containing multiple grouped rules defining the behavior of reCAPTCHA for fraud detection and prevention.",
      "properties": {
        "name": {
          "description": "Identifier. Resource name for this policy. Format: \"projects/{project}/keys/{key}/policy\" for a policy under a key.",
          "type": "string"
        },
        "clientSettings": {
          "$ref": "GoogleCloudRecaptchaenterpriseV1ClientSettings",
          "description": "Required. Configuration for clients protected by this policy."
        },
        "challengeRuleGroups": {
          "items": {
            "$ref": "GoogleCloudRecaptchaenterpriseV1ChallengeRuleGroup"
          },
          "type": "array",
          "description": "Optional. Rules to configure the behavior of reCAPTCHA for showing a challenge. Rule groups are evaluated in order. Evaluation stops when the first matching rule group is found."
        }
      },
      "type": "object"
    },
    "GoogleCloudRecaptchaenterpriseV1AppleDeveloperId": {
      "properties": {
        "keyId": {
          "description": "Required. The Apple developer key ID (10-character string).",
          "type": "string"
        },
        "privateKey": {
          "description": "Required. Input only. A private key (downloaded as a text file with a .p8 file extension) generated for your Apple Developer account. Ensure that Apple DeviceCheck is enabled for the private key.",
          "type": "string"
        },
        "teamId": {
          "type": "string",
          "description": "Required. The Apple team ID (10-character string) owning the provisioning profile used to build your application."
        }
      },
      "description": "Contains fields that are required to perform Apple-specific integrity checks.",
      "id": "GoogleCloudRecaptchaenterpriseV1AppleDeveloperId",
      "type": "object"
    },
    "GoogleCloudRecaptchaenterpriseV1FirewallActionBlockAction": {
      "description": "A block action serves an HTTP error code a prevents the request from hitting the backend.",
      "type": "object",
      "properties": {},
      "id": "GoogleCloudRecaptchaenterpriseV1FirewallActionBlockAction"
    },
    "GoogleCloudRecaptchaenterpriseV1ListRelatedAccountGroupsResponse": {
      "description": "The response to a `ListRelatedAccountGroups` call.",
      "properties": {
        "relatedAccountGroups": {
          "description": "The groups of related accounts listed by the query.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudRecaptchaenterpriseV1RelatedAccountGroup"
          }
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      },
      "id": "GoogleCloudRecaptchaenterpriseV1ListRelatedAccountGroupsResponse",
      "type": "object"
    },
    "GoogleCloudRecaptchaenterpriseV1FraudPreventionAssessmentStolenInstrumentVerdict": {
      "id": "GoogleCloudRecaptchaenterpriseV1FraudPreventionAssessmentStolenInstrumentVerdict",
      "properties": {
        "risk": {
          "description": "Output only. Probability of this transaction being executed with a stolen instrument. Values are from 0.0 (lowest) to 1.0 (highest).",
          "format": "float",
          "readOnly": true,
          "type": "number"
        }
      },
      "type": "object",
      "description": "Information about stolen instrument fraud, where the user is not the legitimate owner of the instrument being used for the purchase."
    },
    "GoogleCloudRecaptchaenterpriseV1AndroidKeySettings": {
      "id": "GoogleCloudRecaptchaenterpriseV1AndroidKeySettings",
      "type": "object",
      "properties": {
        "supportNonGoogleAppStoreDistribution": {
          "description": "Optional. Set to true for keys that are used in an Android application that is available for download in app stores in addition to the Google Play Store.",
          "type": "boolean"
        },
        "allowedPackageNames": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. Android package names of apps allowed to use the key. Example: 'com.companyname.appname' Each key supports a maximum of 250 package names. To use a key on more apps, set `allow_all_package_names` to true. When this is set, you are responsible for validating the package name by checking the `token_properties.android_package_name` field in each assessment response against your list of allowed package names."
        },
        "allowAllPackageNames": {
          "description": "Optional. If set to true, allowed_package_names are not enforced.",
          "type": "boolean"
        }
      },
      "description": "Settings specific to keys that can be used by Android apps."
    },
    "GoogleCloudRecaptchaenterpriseV1PhoneAuthenticationEvent": {
      "id": "GoogleCloudRecaptchaenterpriseV1PhoneAuthenticationEvent",
      "type": "object",
      "properties": {
        "eventTime": {
          "format": "google-datetime",
          "description": "Optional. The time at which the multi-factor authentication event (challenge or verification) occurred.",
          "type": "string"
        },
        "phoneNumber": {
          "description": "Required. Phone number in E.164 format for which a multi-factor authentication challenge was initiated, succeeded, or failed.",
          "type": "string"
        }
      },
      "description": "Details on a phone authentication event"
    },
    "GoogleCloudRecaptchaenterpriseV1ListKeysResponse": {
      "type": "object",
      "properties": {
        "keys": {
          "items": {
            "$ref": "GoogleCloudRecaptchaenterpriseV1Key"
          },
          "description": "Key details.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "Token to retrieve the next page of results. It is set to empty if no keys remain in results.",
          "type": "string"
        }
      },
      "id": "GoogleCloudRecaptchaenterpriseV1ListKeysResponse",
      "description": "Response to request to list keys in a project."
    },
    "GoogleCloudRecaptchaenterpriseV1ListRelatedAccountGroupMembershipsResponse": {
      "type": "object",
      "id": "GoogleCloudRecaptchaenterpriseV1ListRelatedAccountGroupMembershipsResponse",
      "description": "The response to a `ListRelatedAccountGroupMemberships` call.",
      "properties": {
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "relatedAccountGroupMemberships": {
          "description": "The memberships listed by the query.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudRecaptchaenterpriseV1RelatedAccountGroupMembership"
          }
        }
      }
    },
    "GoogleCloudRecaptchaenterpriseV1FirewallActionRedirectAction": {
      "properties": {},
      "id": "GoogleCloudRecaptchaenterpriseV1FirewallActionRedirectAction",
      "description": "A redirect action returns a 307 (temporary redirect) response, pointing the user to a reCAPTCHA interstitial page to attach a token.",
      "type": "object"
    },
    "GoogleCloudRecaptchaenterpriseV1UniversalKeySettings": {
      "properties": {},
      "type": "object",
      "id": "GoogleCloudRecaptchaenterpriseV1UniversalKeySettings",
      "description": "Settings for keys that are configured through their Policy."
    },
    "GoogleCloudRecaptchaenterpriseV1SearchRelatedAccountGroupMembershipsResponse": {
      "properties": {
        "relatedAccountGroupMemberships": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudRecaptchaenterpriseV1RelatedAccountGroupMembership"
          },
          "description": "The queried memberships."
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        }
      },
      "id": "GoogleCloudRecaptchaenterpriseV1SearchRelatedAccountGroupMembershipsResponse",
      "description": "The response to a `SearchRelatedAccountGroupMemberships` call.",
      "type": "object"
    },
    "GoogleCloudRecaptchaenterpriseV1SmsTollFraudVerdict": {
      "id": "GoogleCloudRecaptchaenterpriseV1SmsTollFraudVerdict",
      "description": "Information about SMS toll fraud.",
      "properties": {
        "risk": {
          "format": "float",
          "readOnly": true,
          "description": "Output only. Probability of an SMS event being fraudulent. Values are from 0.0 (lowest) to 1.0 (highest).",
          "type": "number"
        },
        "reasons": {
          "description": "Output only. Reasons contributing to the SMS toll fraud verdict.",
          "items": {
            "type": "string",
            "enumDescriptions": [
              "Default unspecified reason",
              "The provided phone number was invalid"
            ],
            "enum": [
              "SMS_TOLL_FRAUD_REASON_UNSPECIFIED",
              "INVALID_PHONE_NUMBER"
            ]
          },
          "type": "array",
          "readOnly": true
        }
      },
      "type": "object"
    },
    "GoogleCloudRecaptchaenterpriseV1ListFirewallPoliciesResponse": {
      "description": "Response to request to list firewall policies belonging to a project.",
      "type": "object",
      "id": "GoogleCloudRecaptchaenterpriseV1ListFirewallPoliciesResponse",
      "properties": {
        "firewallPolicies": {
          "description": "Policy details.",
          "items": {
            "$ref": "GoogleCloudRecaptchaenterpriseV1FirewallPolicy"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "Token to retrieve the next page of results. It is set to empty if no policies remain in results.",
          "type": "string"
        }
      }
    },
    "GoogleCloudRecaptchaenterpriseV1AccountDefenderAssessmentAccountRiskReason": {
      "description": "Risk explainability reasons for Account defense.",
      "type": "object",
      "id": "GoogleCloudRecaptchaenterpriseV1AccountDefenderAssessmentAccountRiskReason",
      "properties": {
        "reason": {
          "enum": [
            "RISK_REASON_UNSPECIFIED",
            "CLIENT_HISTORICAL_BOT_ACTIVITY",
            "ACCOUNT_IN_LARGE_RELATED_GROUP",
            "CLIENT_ACCESSED_MANY_ACCOUNTS",
            "DISPOSABLE_EMAIL_DOMAIN"
          ],
          "readOnly": true,
          "enumDescriptions": [
            "Default unspecified type.",
            "The client has been observed sending bot-like traffic to this site in the past. This reason incorporates historical reputation and indicates that the client is known to use bots, even if the current request is being made by a human.",
            "The account is part of a large group of related accounts, indicating that it may be part of a fraudulent network. Related accounts are identified based on having similar traffic patterns and request characteristics.",
            "The client has been observed accessing many accounts on this site.",
            "This email domain is a suspected provider of disposable email addresses."
          ],
          "type": "string",
          "description": "Output only. A risk reason associated with this request."
        }
      }
    },
    "GoogleCloudRecaptchaenterpriseV1WebKeySettingsActionSettings": {
      "properties": {
        "scoreThreshold": {
          "format": "float",
          "type": "number",
          "description": "Required. A challenge is triggered if the end-user score is below that threshold. Value must be between 0 and 1 (inclusive)."
        }
      },
      "id": "GoogleCloudRecaptchaenterpriseV1WebKeySettingsActionSettings",
      "description": "Per-action challenge settings.",
      "type": "object"
    },
    "GoogleCloudRecaptchaenterpriseV1FirewallActionSetHeaderAction": {
      "id": "GoogleCloudRecaptchaenterpriseV1FirewallActionSetHeaderAction",
      "properties": {
        "key": {
          "type": "string",
          "description": "Optional. The header key to set in the request to the backend server."
        },
        "value": {
          "type": "string",
          "description": "Optional. The header value to set in the request to the backend server."
        }
      },
      "description": "A set header action sets a header and forwards the request to the backend. This can be used to trigger custom protection implemented on the backend.",
      "type": "object"
    },
    "GoogleCloudRecaptchaenterpriseV1WafSettings": {
      "description": "Settings specific to keys that can be used for WAF (Web Application Firewall).",
      "type": "object",
      "id": "GoogleCloudRecaptchaenterpriseV1WafSettings",
      "properties": {
        "wafService": {
          "enum": [
            "WAF_SERVICE_UNSPECIFIED",
            "CA",
            "FASTLY",
            "CLOUDFLARE",
            "AKAMAI"
          ],
          "description": "Required. The Web Application Firewall (WAF) service that uses this key.",
          "enumDescriptions": [
            "Undefined WAF",
            "Cloud Armor",
            "Fastly",
            "Cloudflare",
            "Akamai"
          ],
          "type": "string"
        },
        "wafFeature": {
          "enum": [
            "WAF_FEATURE_UNSPECIFIED",
            "CHALLENGE_PAGE",
            "SESSION_TOKEN",
            "ACTION_TOKEN",
            "EXPRESS"
          ],
          "enumDeprecated": [
            false,
            false,
            false,
            false,
            true
          ],
          "description": "Required. The Web Application Firewall (WAF) feature for which this key is enabled.",
          "type": "string",
          "enumDescriptions": [
            "Undefined feature.",
            "Redirects suspicious traffic to reCAPTCHA.",
            "Use reCAPTCHA session-tokens to protect the whole user session on the site's domain.",
            "Use reCAPTCHA action-tokens to protect user actions.",
            "Deprecated: Use `express_settings` instead."
          ]
        }
      }
    },
    "GoogleCloudRecaptchaenterpriseV1TransactionEvent": {
      "id": "GoogleCloudRecaptchaenterpriseV1TransactionEvent",
      "type": "object",
      "description": "Describes an event in the lifecycle of a payment transaction.",
      "properties": {
        "reason": {
          "description": "Optional. The reason or standardized code that corresponds with this transaction event, if one exists. For example, a CHARGEBACK event with code 6005.",
          "type": "string"
        },
        "value": {
          "type": "number",
          "description": "Optional. The value that corresponds with this transaction event, if one exists. For example, a refund event where $5.00 was refunded. Currency is obtained from the original transaction data.",
          "format": "double"
        },
        "eventType": {
          "type": "string",
          "description": "Optional. The type of this transaction event.",
          "enumDescriptions": [
            "Default, unspecified event type.",
            "Indicates that the transaction is approved by the merchant. The accompanying reasons can include terms such as 'INHOUSE', 'ACCERTIFY', 'CYBERSOURCE', or 'MANUAL_REVIEW'.",
            "Indicates that the transaction is denied and concluded due to risks detected by the merchant. The accompanying reasons can include terms such as 'INHOUSE', 'ACCERTIFY', 'CYBERSOURCE', or 'MANUAL_REVIEW'.",
            "Indicates that the transaction is being evaluated by a human, due to suspicion or risk.",
            "Indicates that the authorization attempt with the card issuer succeeded.",
            "Indicates that the authorization attempt with the card issuer failed. The accompanying reasons can include Visa's '54' indicating that the card is expired, or '82' indicating that the CVV is incorrect.",
            "Indicates that the transaction is completed because the funds were settled.",
            "Indicates that the transaction could not be completed because the funds were not settled.",
            "Indicates that the transaction has been canceled. Specify the reason for the cancellation. For example, 'INSUFFICIENT_INVENTORY'.",
            "Indicates that the merchant has received a chargeback inquiry due to fraud for the transaction, requesting additional information before a fraud chargeback is officially issued and a formal chargeback notification is sent.",
            "Indicates that the merchant has received a chargeback alert due to fraud for the transaction. The process of resolving the dispute without involving the payment network is started.",
            "Indicates that a fraud notification is issued for the transaction, sent by the payment instrument's issuing bank because the transaction appears to be fraudulent. We recommend including TC40 or SAFE data in the `reason` field for this event type. For partial chargebacks, we recommend that you include an amount in the `value` field.",
            "Indicates that the merchant is informed by the payment network that the transaction has entered the chargeback process due to fraud. Reason code examples include Discover's '6005' and '6041'. For partial chargebacks, we recommend that you include an amount in the `value` field.",
            "Indicates that the transaction has entered the chargeback process due to fraud, and that the merchant has chosen to enter representment. Reason examples include Discover's '6005' and '6041'. For partial chargebacks, we recommend that you include an amount in the `value` field.",
            "Indicates that the transaction has had a fraud chargeback which was illegitimate and was reversed as a result. For partial chargebacks, we recommend that you include an amount in the `value` field.",
            "Indicates that the merchant has received a refund for a completed transaction. For partial refunds, we recommend that you include an amount in the `value` field. Reason example: 'TAX_EXEMPT' (partial refund of exempt tax)",
            "Indicates that the merchant has received a refund request for this transaction, but that they have declined it. For partial refunds, we recommend that you include an amount in the `value` field. Reason example: 'TAX_EXEMPT' (partial refund of exempt tax)",
            "Indicates that the completed transaction was refunded by the merchant. For partial refunds, we recommend that you include an amount in the `value` field. Reason example: 'TAX_EXEMPT' (partial refund of exempt tax)",
            "Indicates that the completed transaction was refunded by the merchant, and that this refund was reversed. For partial refunds, we recommend that you include an amount in the `value` field."
          ],
          "enum": [
            "TRANSACTION_EVENT_TYPE_UNSPECIFIED",
            "MERCHANT_APPROVE",
            "MERCHANT_DENY",
            "MANUAL_REVIEW",
            "AUTHORIZATION",
            "AUTHORIZATION_DECLINE",
            "PAYMENT_CAPTURE",
            "PAYMENT_CAPTURE_DECLINE",
            "CANCEL",
            "CHARGEBACK_INQUIRY",
            "CHARGEBACK_ALERT",
            "FRAUD_NOTIFICATION",
            "CHARGEBACK",
            "CHARGEBACK_REPRESENTMENT",
            "CHARGEBACK_REVERSE",
            "REFUND_REQUEST",
            "REFUND_DECLINE",
            "REFUND",
            "REFUND_REVERSE"
          ]
        },
        "eventTime": {
          "format": "google-datetime",
          "description": "Optional. Timestamp when this transaction event occurred; otherwise assumed to be the time of the API call.",
          "type": "string"
        }
      }
    },
    "GoogleCloudRecaptchaenterpriseV1TransactionDataAddress": {
      "type": "object",
      "properties": {
        "recipient": {
          "description": "Optional. The recipient name, potentially including information such as \"care of\".",
          "type": "string"
        },
        "postalCode": {
          "description": "Optional. The postal or ZIP code of the address.",
          "type": "string"
        },
        "address": {
          "description": "Optional. The first lines of the address. The first line generally contains the street name and number, and further lines may include information such as an apartment number.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "administrativeArea": {
          "type": "string",
          "description": "Optional. The state, province, or otherwise administrative area of the address."
        },
        "locality": {
          "type": "string",
          "description": "Optional. The town/city of the address."
        },
        "regionCode": {
          "description": "Optional. The CLDR country/region of the address.",
          "type": "string"
        }
      },
      "id": "GoogleCloudRecaptchaenterpriseV1TransactionDataAddress",
      "description": "Structured address format for billing and shipping addresses."
    },
    "GoogleCloudRecaptchaenterpriseV1ReorderFirewallPoliciesRequest": {
      "id": "GoogleCloudRecaptchaenterpriseV1ReorderFirewallPoliciesRequest",
      "description": "The reorder firewall policies request message.",
      "properties": {
        "names": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Required. A list containing all policy names, in the new order. Each name is in the format `projects/{project}/firewallpolicies/{firewallpolicy}`."
        }
      },
      "type": "object"
    },
    "GoogleCloudRecaptchaenterpriseV1WebKeySettingsChallengeSettings": {
      "properties": {
        "actionSettings": {
          "type": "object",
          "description": "Optional. The action to score threshold map. The action name should be the same as the action name passed in the `data-action` attribute (see https://cloud.google.com/recaptcha/docs/actions-website). Action names are case-insensitive. There is a maximum of 100 action settings. An action name has a maximum length of 100.",
          "additionalProperties": {
            "$ref": "GoogleCloudRecaptchaenterpriseV1WebKeySettingsActionSettings"
          }
        },
        "defaultSettings": {
          "description": "Required. Defines when a challenge is triggered (unless the default threshold is overridden for the given action, see `action_settings`).",
          "$ref": "GoogleCloudRecaptchaenterpriseV1WebKeySettingsActionSettings"
        }
      },
      "description": "Settings for POLICY_BASED_CHALLENGE keys to control when a challenge is triggered.",
      "type": "object",
      "id": "GoogleCloudRecaptchaenterpriseV1WebKeySettingsChallengeSettings"
    },
    "GoogleCloudRecaptchaenterpriseV1ChallengeRuleNoChallengeOutcome": {
      "description": "An outcome that indicates that no challenge should be presented to the user.",
      "id": "GoogleCloudRecaptchaenterpriseV1ChallengeRuleNoChallengeOutcome",
      "type": "object",
      "properties": {}
    },
    "GoogleCloudRecaptchaenterpriseV1FirewallPolicy": {
      "description": "A FirewallPolicy represents a single matching pattern and resulting actions to take.",
      "type": "object",
      "properties": {
        "path": {
          "type": "string",
          "description": "Optional. The path for which this policy applies, specified as a glob pattern. For more information on glob, see the [manual page](https://man7.org/linux/man-pages/man7/glob.7.html). A path has a max length of 200 characters."
        },
        "description": {
          "type": "string",
          "description": "Optional. A description of what this policy aims to achieve, for convenience purposes. The description can at most include 256 UTF-8 characters."
        },
        "actions": {
          "description": "Optional. The actions that the caller should take regarding user access. There should be at most one terminal action. A terminal action is any action that forces a response, such as `AllowAction`, `BlockAction` or `SubstituteAction`. Zero or more non-terminal actions such as `SetHeader` might be specified. A single policy can contain up to 16 actions.",
          "items": {
            "$ref": "GoogleCloudRecaptchaenterpriseV1FirewallAction"
          },
          "type": "array"
        },
        "name": {
          "description": "Identifier. The resource name for the FirewallPolicy in the format `projects/{project}/firewallpolicies/{firewallpolicy}`.",
          "type": "string"
        },
        "condition": {
          "description": "Optional. A CEL (Common Expression Language) conditional expression that specifies if this policy applies to an incoming user request. If this condition evaluates to true and the requested path matched the path pattern, the associated actions should be executed by the caller. The condition string is checked for CEL syntax correctness on creation. For more information, see the [CEL spec](https://github.com/google/cel-spec) and its [language definition](https://github.com/google/cel-spec/blob/master/doc/langdef.md). A condition has a max length of 500 characters.",
          "type": "string"
        }
      },
      "id": "GoogleCloudRecaptchaenterpriseV1FirewallPolicy"
    },
    "GoogleCloudRecaptchaenterpriseV1Assessment": {
      "id": "GoogleCloudRecaptchaenterpriseV1Assessment",
      "properties": {
        "tokenProperties": {
          "description": "Output only. Properties of the provided event token.",
          "readOnly": true,
          "$ref": "GoogleCloudRecaptchaenterpriseV1TokenProperties"
        },
        "policyEvaluation": {
          "readOnly": true,
          "description": "Output only. Provides information about the policy evaluation for this assessment.",
          "$ref": "GoogleCloudRecaptchaenterpriseV1PolicyEvaluation"
        },
        "accountVerification": {
          "description": "Optional. Account verification information for identity verification. The assessment event must include a token and site key to use this feature.",
          "$ref": "GoogleCloudRecaptchaenterpriseV1AccountVerificationInfo"
        },
        "assessmentEnvironment": {
          "description": "Optional. The environment creating the assessment. This describes your environment (the system invoking CreateAssessment), NOT the environment of your user.",
          "$ref": "GoogleCloudRecaptchaenterpriseV1AssessmentEnvironment"
        },
        "firewallPolicyAssessment": {
          "description": "Output only. Assessment returned when firewall policies belonging to the project are evaluated using the field firewall_policy_evaluation.",
          "readOnly": true,
          "$ref": "GoogleCloudRecaptchaenterpriseV1FirewallPolicyAssessment"
        },
        "event": {
          "$ref": "GoogleCloudRecaptchaenterpriseV1Event",
          "description": "Optional. The event being assessed."
        },
        "fraudPreventionAssessment": {
          "$ref": "GoogleCloudRecaptchaenterpriseV1FraudPreventionAssessment",
          "readOnly": true,
          "description": "Output only. Assessment returned by Fraud Prevention when TransactionData is provided."
        },
        "riskAnalysis": {
          "$ref": "GoogleCloudRecaptchaenterpriseV1RiskAnalysis",
          "readOnly": true,
          "description": "Output only. The risk analysis result for the event being assessed."
        },
        "fraudSignals": {
          "$ref": "GoogleCloudRecaptchaenterpriseV1FraudSignals",
          "description": "Output only. Fraud Signals specific to the users involved in a payment transaction.",
          "readOnly": true
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Identifier. The resource name for the Assessment in the format `projects/{project}/assessments/{assessment}`."
        },
        "accountDefenderAssessment": {
          "readOnly": true,
          "description": "Output only. Assessment returned by Account defense when an account identifier is provided.",
          "$ref": "GoogleCloudRecaptchaenterpriseV1AccountDefenderAssessment"
        },
        "privatePasswordLeakVerification": {
          "description": "Optional. The private password leak verification field contains the parameters that are used to to check for leaks privately without sharing user credentials.",
          "$ref": "GoogleCloudRecaptchaenterpriseV1PrivatePasswordLeakVerification"
        },
        "phoneFraudAssessment": {
          "readOnly": true,
          "$ref": "GoogleCloudRecaptchaenterpriseV1PhoneFraudAssessment",
          "description": "Output only. Assessment returned when a site key, a token, and a phone number as `user_id` are provided. SMS defense needs to be enabled."
        }
      },
      "type": "object",
      "description": "A reCAPTCHA Enterprise assessment resource."
    },
    "GoogleCloudRecaptchaenterpriseV1FraudPreventionAssessment": {
      "description": "Assessment for Fraud Prevention.",
      "type": "object",
      "properties": {
        "stolenInstrumentVerdict": {
          "$ref": "GoogleCloudRecaptchaenterpriseV1FraudPreventionAssessmentStolenInstrumentVerdict",
          "description": "Output only. Assessment of this transaction for risk of a stolen instrument.",
          "readOnly": true
        },
        "cardTestingVerdict": {
          "$ref": "GoogleCloudRecaptchaenterpriseV1FraudPreventionAssessmentCardTestingVerdict",
          "readOnly": true,
          "description": "Output only. Assessment of this transaction for risk of being part of a card testing attack."
        },
        "riskReasons": {
          "items": {
            "$ref": "GoogleCloudRecaptchaenterpriseV1FraudPreventionAssessmentRiskReason"
          },
          "description": "Output only. Reasons why the transaction is probably fraudulent and received a high transaction risk score.",
          "readOnly": true,
          "type": "array"
        },
        "behavioralTrustVerdict": {
          "description": "Output only. Assessment of this transaction for behavioral trust.",
          "readOnly": true,
          "$ref": "GoogleCloudRecaptchaenterpriseV1FraudPreventionAssessmentBehavioralTrustVerdict"
        },
        "transactionRisk": {
          "type": "number",
          "description": "Output only. Probability of this transaction being fraudulent. Summarizes the combined risk of attack vectors below. Values are from 0.0 (lowest) to 1.0 (highest).",
          "readOnly": true,
          "format": "float"
        }
      },
      "id": "GoogleCloudRecaptchaenterpriseV1FraudPreventionAssessment"
    },
    "GoogleCloudRecaptchaenterpriseV1Event": {
      "description": "The event being assessed.",
      "type": "object",
      "id": "GoogleCloudRecaptchaenterpriseV1Event",
      "properties": {
        "userInfo": {
          "$ref": "GoogleCloudRecaptchaenterpriseV1UserInfo",
          "description": "Optional. Information about the user that generates this event, when they can be identified. They are often identified through the use of an account for logged-in requests or login/registration requests, or by providing user identifiers for guest actions like checkout."
        },
        "requestedUri": {
          "type": "string",
          "description": "Optional. The URI resource the user requested that triggered an assessment."
        },
        "express": {
          "type": "boolean",
          "description": "Optional. Flag for a reCAPTCHA express request for an assessment without a token. If enabled, `site_key` must reference an Express site key."
        },
        "siteKey": {
          "description": "Optional. The site key that was used to invoke reCAPTCHA Enterprise on your site and generate the token.",
          "type": "string"
        },
        "expectedAction": {
          "type": "string",
          "description": "Optional. The expected action for this type of event. This should be the same action provided at token generation time on client-side platforms already integrated with recaptcha enterprise. Required for Universal keys."
        },
        "token": {
          "description": "Optional. The user response token provided by the reCAPTCHA Enterprise client-side integration on your site.",
          "type": "string"
        },
        "headers": {
          "description": "Optional. HTTP header information about the request.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "ja3": {
          "description": "Optional. JA3 fingerprint for SSL clients. To learn how to compute this fingerprint, please refer to https://github.com/salesforce/ja3.",
          "type": "string"
        },
        "transactionData": {
          "description": "Optional. Data describing a payment transaction to be assessed. Sending this data enables reCAPTCHA Enterprise Fraud Prevention and the FraudPreventionAssessment component in the response.",
          "$ref": "GoogleCloudRecaptchaenterpriseV1TransactionData"
        },
        "firewallPolicyEvaluation": {
          "description": "Optional. Flag for enabling firewall policy config assessment. If this flag is enabled, the firewall policy is evaluated and a suggested firewall action is returned in the response.",
          "type": "boolean"
        },
        "userIpAddress": {
          "type": "string",
          "description": "Optional. The IP address in the request from the user's device related to this event."
        },
        "fraudPrevention": {
          "description": "Optional. The Fraud Prevention setting for this assessment.",
          "enum": [
            "FRAUD_PREVENTION_UNSPECIFIED",
            "ENABLED",
            "DISABLED"
          ],
          "enumDescriptions": [
            "Default, unspecified setting. `fraud_prevention_assessment` is returned if `transaction_data` is present in `Event` and Fraud Prevention is enabled in the Google Cloud console.",
            "Enable Fraud Prevention for this assessment, if Fraud Prevention is enabled in the Google Cloud console.",
            "Disable Fraud Prevention for this assessment, regardless of the Google Cloud console settings."
          ],
          "type": "string"
        },
        "wafTokenAssessment": {
          "type": "boolean",
          "description": "Optional. Flag for running Web Application Firewall (WAF) token assessment. If enabled, the token must be specified, and have been created by a WAF-enabled key."
        },
        "userAgent": {
          "description": "Optional. The user agent present in the request from the user's device related to this event.",
          "type": "string"
        },
        "hashedAccountId": {
          "type": "string",
          "format": "byte",
          "deprecated": true,
          "description": "Optional. Deprecated: use `user_info.account_id` instead. Unique stable hashed user identifier for the request. The identifier must be hashed using hmac-sha256 with stable secret."
        },
        "ja4": {
          "type": "string",
          "description": "Optional. JA4 fingerprint for SSL clients. To learn how to compute this fingerprint, please refer to https://github.com/FoxIO-LLC/ja4."
        }
      }
    },
    "GoogleCloudRecaptchaenterpriseV1TokenProperties": {
      "properties": {
        "iosBundleId": {
          "description": "Output only. The ID of the iOS bundle with which the token was generated (iOS keys only).",
          "readOnly": true,
          "type": "string"
        },
        "androidPackageName": {
          "description": "Output only. The name of the Android package with which the token was generated (Android keys only).",
          "type": "string",
          "readOnly": true
        },
        "createTime": {
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. The timestamp corresponding to the generation of the token.",
          "type": "string"
        },
        "action": {
          "type": "string",
          "description": "Output only. Action name provided at token generation.",
          "readOnly": true
        },
        "hostname": {
          "description": "Output only. The hostname of the page on which the token was generated (Web keys only).",
          "type": "string",
          "readOnly": true
        },
        "clientSignalsFailed": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. Indicates a failure collecting reCAPTCHA signals at token generation. This might be a transient condition, or persistent for a user’s environment."
        },
        "valid": {
          "readOnly": true,
          "description": "Output only. Indicates whether the provided user response token is valid. If `false`, the token is invalid, either because the user failed the challenge or for a reason provided in the `invalid_reason` field.",
          "type": "boolean"
        },
        "invalidReason": {
          "enum": [
            "INVALID_REASON_UNSPECIFIED",
            "UNKNOWN_INVALID_REASON",
            "MALFORMED",
            "EXPIRED",
            "DUPE",
            "MISSING",
            "BROWSER_ERROR",
            "UNEXPECTED_ACTION",
            "KEY_MISMATCH",
            "DOMAIN_MISMATCH"
          ],
          "enumDescriptions": [
            "Default unspecified type.",
            "If the failure reason was not accounted for.",
            "The provided user verification token was malformed.",
            "The user verification token had expired.",
            "The user verification had already been seen.",
            "The user verification token was not present.",
            "A retriable error (such as network failure) occurred on the browser. Could easily be simulated by an attacker.",
            "The action provided at token generation was different than the `expected_action` in the assessment request. The comparison is case-insensitive. This reason can only be returned if all of the following are true: - your `site_key` has the POLICY_BASED_CHALLENGE integration type - you set an action score threshold higher than 0.0 - you provided a non-empty `expected_action`",
            "The key used to generate the token does not match the `site_key`.",
            "The domain of the page on which the token was generated does not match the `allowed_domains` configured in the `site_key`."
          ],
          "readOnly": true,
          "description": "Output only. Reason associated with the response when valid = false.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudRecaptchaenterpriseV1TokenProperties",
      "description": "Properties of the provided event token."
    },
    "GoogleCloudRecaptchaenterpriseV1FraudSignalsCardSignals": {
      "properties": {
        "cardLabels": {
          "readOnly": true,
          "items": {
            "type": "string",
            "enumDescriptions": [
              "No label specified.",
              "This card has been detected as prepaid.",
              "This card has been detected as virtual, such as a card number generated for a single transaction or merchant.",
              "This card has been detected as being used in an unexpected geographic location."
            ],
            "enum": [
              "CARD_LABEL_UNSPECIFIED",
              "PREPAID",
              "VIRTUAL",
              "UNEXPECTED_LOCATION"
            ]
          },
          "description": "Output only. The labels for the payment card in this transaction.",
          "type": "array"
        }
      },
      "id": "GoogleCloudRecaptchaenterpriseV1FraudSignalsCardSignals",
      "type": "object",
      "description": "Signals describing the payment card used in this transaction."
    },
    "GoogleCloudRecaptchaenterpriseV1AnnotateAssessmentRequest": {
      "properties": {
        "reasons": {
          "items": {
            "enum": [
              "REASON_UNSPECIFIED",
              "CHARGEBACK",
              "CHARGEBACK_FRAUD",
              "CHARGEBACK_DISPUTE",
              "REFUND",
              "REFUND_FRAUD",
              "TRANSACTION_ACCEPTED",
              "TRANSACTION_DECLINED",
              "PAYMENT_HEURISTICS",
              "INITIATED_TWO_FACTOR",
              "PASSED_TWO_FACTOR",
              "FAILED_TWO_FACTOR",
              "CORRECT_PASSWORD",
              "INCORRECT_PASSWORD",
              "SOCIAL_SPAM"
            ],
            "type": "string",
            "enumDescriptions": [
              "Unspecified reason. Do not use.",
              "Indicates that the transaction had a chargeback issued with no other details. When possible, specify the type by using CHARGEBACK_FRAUD or CHARGEBACK_DISPUTE instead.",
              "Indicates that the transaction had a chargeback issued related to an alleged unauthorized transaction from the cardholder's perspective (for example, the card number was stolen).",
              "Indicates that the transaction had a chargeback issued related to the cardholder having provided their card details but allegedly not being satisfied with the purchase (for example, misrepresentation, attempted cancellation).",
              "Indicates that the completed payment transaction was refunded by the seller.",
              "Indicates that the completed payment transaction was determined to be fraudulent by the seller, and was cancelled and refunded as a result.",
              "Indicates that the payment transaction was accepted, and the user was charged.",
              "Indicates that the payment transaction was declined, for example due to invalid card details.",
              "Indicates the transaction associated with the assessment is suspected of being fraudulent based on the payment method, billing details, shipping address or other transaction information.",
              "Indicates that the user was served a 2FA challenge. An old assessment with `ENUM_VALUES.INITIATED_TWO_FACTOR` reason that has not been overwritten with `PASSED_TWO_FACTOR` is treated as an abandoned 2FA flow. This is equivalent to `FAILED_TWO_FACTOR`.",
              "Indicates that the user passed a 2FA challenge.",
              "Indicates that the user failed a 2FA challenge.",
              "Indicates the user provided the correct password.",
              "Indicates the user provided an incorrect password.",
              "Indicates that the user sent unwanted and abusive messages to other users of the platform, such as spam, scams, phishing, or social engineering."
            ]
          },
          "type": "array",
          "description": "Optional. Reasons for the annotation that are assigned to the event."
        },
        "hashedAccountId": {
          "format": "byte",
          "type": "string",
[...]
