{
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "rootUrl": "https://recaptchaenterprise.googleapis.com/",
  "discoveryVersion": "v1",
  "id": "recaptchaenterprise:v1",
  "mtlsRootUrl": "https://recaptchaenterprise.mtls.googleapis.com/",
  "batchPath": "batch",
  "documentationLink": "https://cloud.google.com/recaptcha-enterprise/",
  "servicePath": "",
  "resources": {
    "projects": {
      "resources": {
        "relatedaccountgroupmemberships": {
          "methods": {
            "search": {
              "flatPath": "v1/projects/{projectsId}/relatedaccountgroupmemberships:search",
              "description": "Search group memberships related to a given account.",
              "request": {
                "$ref": "GoogleCloudRecaptchaenterpriseV1SearchRelatedAccountGroupMembershipsRequest"
              },
              "path": "v1/{+project}/relatedaccountgroupmemberships:search",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "project": {
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "description": "Required. The name of the project to search related account group memberships from. Specify the project name in the following format: `projects/{project}`.",
                  "pattern": "^projects/[^/]+$"
                }
              },
              "id": "recaptchaenterprise.projects.relatedaccountgroupmemberships.search",
              "httpMethod": "POST",
              "response": {
                "$ref": "GoogleCloudRecaptchaenterpriseV1SearchRelatedAccountGroupMembershipsResponse"
              },
              "parameterOrder": [
                "project"
              ]
            }
          }
        },
        "relatedaccountgroups": {
          "methods": {
            "list": {
              "flatPath": "v1/projects/{projectsId}/relatedaccountgroups",
              "description": "List groups of related accounts.",
              "path": "v1/{+parent}/relatedaccountgroups",
              "parameters": {
                "pageSize": {
                  "description": "Optional. The maximum number of groups to return. The service might return fewer than this value. If unspecified, at most 50 groups are returned. The maximum value is 1000; values above 1000 are coerced to 1000.",
                  "location": "query",
                  "type": "integer",
                  "format": "int32"
                },
                "pageToken": {
                  "description": "Optional. A page token, received from a previous `ListRelatedAccountGroups` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListRelatedAccountGroups` must match the call that provided the page token.",
                  "location": "query",
                  "type": "string"
                },
                "parent": {
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "description": "Required. The name of the project to list related account groups from, in the format `projects/{project}`.",
                  "pattern": "^projects/[^/]+$"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "recaptchaenterprise.projects.relatedaccountgroups.list",
              "httpMethod": "GET",
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "GoogleCloudRecaptchaenterpriseV1ListRelatedAccountGroupsResponse"
              }
            }
          },
          "resources": {
            "memberships": {
              "methods": {
                "list": {
                  "response": {
                    "$ref": "GoogleCloudRecaptchaenterpriseV1ListRelatedAccountGroupMembershipsResponse"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "id": "recaptchaenterprise.projects.relatedaccountgroups.memberships.list",
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "parent": {
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "description": "Required. The resource name for the related account group in the format `projects/{project}/relatedaccountgroups/{relatedaccountgroup}`.",
                      "pattern": "^projects/[^/]+/relatedaccountgroups/[^/]+$"
                    },
                    "pageSize": {
                      "location": "query",
                      "type": "integer",
                      "format": "int32",
                      "description": "Optional. The maximum number of accounts to return. The service might return fewer than this value. If unspecified, at most 50 accounts are returned. The maximum value is 1000; values above 1000 are coerced to 1000."
                    },
                    "pageToken": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. A page token, received from a previous `ListRelatedAccountGroupMemberships` call. When paginating, all other parameters provided to `ListRelatedAccountGroupMemberships` must match the call that provided the page token."
                    }
                  },
                  "path": "v1/{+parent}/memberships",
                  "description": "Get memberships in a group of related accounts.",
                  "flatPath": "v1/projects/{projectsId}/relatedaccountgroups/{relatedaccountgroupsId}/memberships"
                }
              }
            }
          }
        },
        "assessments": {
          "methods": {
            "create": {
              "id": "recaptchaenterprise.projects.assessments.create",
              "httpMethod": "POST",
              "response": {
                "$ref": "GoogleCloudRecaptchaenterpriseV1Assessment"
              },
              "parameterOrder": [
                "parent"
              ],
              "path": "v1/{+parent}/assessments",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "parent": {
                  "type": "string",
                  "description": "Required. The name of the project in which the assessment is created, in the format `projects/{project}`.",
                  "pattern": "^projects/[^/]+$",
                  "location": "path",
                  "required": true
                }
              },
              "description": "Creates an Assessment of the likelihood an event is legitimate.",
              "request": {
                "$ref": "GoogleCloudRecaptchaenterpriseV1Assessment"
              },
              "flatPath": "v1/projects/{projectsId}/assessments"
            },
            "annotate": {
              "id": "recaptchaenterprise.projects.assessments.annotate",
              "httpMethod": "POST",
              "response": {
                "$ref": "GoogleCloudRecaptchaenterpriseV1AnnotateAssessmentResponse"
              },
              "parameterOrder": [
                "name"
              ],
              "path": "v1/{+name}:annotate",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "name": {
                  "location": "path",
                  "required": true,
                  "description": "Required. The resource name of the Assessment, in the format `projects/{project}/assessments/{assessment}`.",
                  "pattern": "^projects/[^/]+/assessments/[^/]+$",
                  "type": "string"
                }
              },
              "description": "Annotates a previously created Assessment to provide additional information on whether the event turned out to be authentic or fraudulent.",
              "request": {
                "$ref": "GoogleCloudRecaptchaenterpriseV1AnnotateAssessmentRequest"
              },
              "flatPath": "v1/projects/{projectsId}/assessments/{assessmentsId}:annotate"
            }
          }
        },
        "keys": {
          "methods": {
            "get": {
              "path": "v1/{+name}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "name": {
                  "type": "string",
                  "description": "Required. The name of the requested key, in the format `projects/{project}/keys/{key}`.",
                  "pattern": "^projects/[^/]+/keys/[^/]+$",
                  "location": "path",
                  "required": true
                }
              },
              "id": "recaptchaenterprise.projects.keys.get",
              "httpMethod": "GET",
              "response": {
                "$ref": "GoogleCloudRecaptchaenterpriseV1Key"
              },
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1/projects/{projectsId}/keys/{keysId}",
              "description": "Returns the specified key."
            },
            "migrate": {
              "path": "v1/{+name}:migrate",
              "parameters": {
                "name": {
                  "description": "Required. The name of the key to be migrated, in the format `projects/{project}/keys/{key}`.",
                  "pattern": "^projects/[^/]+/keys/[^/]+$",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "recaptchaenterprise.projects.keys.migrate",
              "httpMethod": "POST",
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "GoogleCloudRecaptchaenterpriseV1Key"
              },
              "flatPath": "v1/projects/{projectsId}/keys/{keysId}:migrate",
              "description": "Migrates an existing key from reCAPTCHA to reCAPTCHA Enterprise. Once a key is migrated, it can be used from either product. SiteVerify requests are billed as CreateAssessment calls. You must be authenticated as one of the current owners of the reCAPTCHA Key, and your user must have the reCAPTCHA Enterprise Admin IAM role in the destination project.",
              "request": {
                "$ref": "GoogleCloudRecaptchaenterpriseV1MigrateKeyRequest"
              }
            },
            "listIpOverrides": {
              "parameters": {
                "parent": {
                  "description": "Required. The parent key for which the IP overrides are listed, in the format `projects/{project}/keys/{key}`.",
                  "pattern": "^projects/[^/]+/keys/[^/]+$",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "pageSize": {
                  "description": "Optional. The maximum number of overrides to return. Default is 10. Max limit is 100. If the number of overrides is less than the page_size, all overrides are returned. If the page size is more than 100, it is coerced to 100.",
                  "location": "query",
                  "type": "integer",
                  "format": "int32"
                },
                "pageToken": {
                  "description": "Optional. The next_page_token value returned from a previous ListIpOverridesRequest, if any.",
                  "location": "query",
                  "type": "string"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "path": "v1/{+parent}:listIpOverrides",
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "GoogleCloudRecaptchaenterpriseV1ListIpOverridesResponse"
              },
              "id": "recaptchaenterprise.projects.keys.listIpOverrides",
              "httpMethod": "GET",
              "flatPath": "v1/projects/{projectsId}/keys/{keysId}:listIpOverrides",
              "description": "Lists all IP overrides for a key."
            },
            "updatePolicy": {
              "flatPath": "v1/projects/{projectsId}/keys/{keysId}/policy",
              "request": {
                "$ref": "GoogleCloudRecaptchaenterpriseV1Policy"
              },
              "description": "Updates the policy for a key.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "name": {
                  "type": "string",
                  "description": "Identifier. Resource name for this policy. Format: \"projects/{project}/keys/{key}/policy\" for a policy under a key.",
                  "pattern": "^projects/[^/]+/keys/[^/]+/policy$",
                  "location": "path",
                  "required": true
                },
                "updateMask": {
                  "location": "query",
                  "type": "string",
                  "format": "google-fieldmask",
                  "description": "Optional. The mask to control which fields of the policy get updated. If the mask is not present, all fields are updated."
                }
              },
              "path": "v1/{+name}",
              "response": {
                "$ref": "GoogleCloudRecaptchaenterpriseV1Policy"
              },
              "parameterOrder": [
                "name"
              ],
              "id": "recaptchaenterprise.projects.keys.updatePolicy",
              "httpMethod": "PATCH"
            },
            "list": {
              "description": "Returns the list of all keys that belong to a project.",
              "flatPath": "v1/projects/{projectsId}/keys",
              "response": {
                "$ref": "GoogleCloudRecaptchaenterpriseV1ListKeysResponse"
              },
              "parameterOrder": [
                "parent"
              ],
              "id": "recaptchaenterprise.projects.keys.list",
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "parent": {
                  "description": "Required. The name of the project that contains the keys that is listed, in the format `projects/{project}`.",
                  "pattern": "^projects/[^/]+$",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "pageSize": {
                  "description": "Optional. The maximum number of keys to return. Default is 10. Max limit is 1000.",
                  "location": "query",
                  "type": "integer",
                  "format": "int32"
                },
                "pageToken": {
                  "description": "Optional. The next_page_token value returned from a previous. ListKeysRequest, if any.",
                  "location": "query",
                  "type": "string"
                }
              },
              "path": "v1/{+parent}/keys"
            },
            "removeIpOverride": {
              "request": {
                "$ref": "GoogleCloudRecaptchaenterpriseV1RemoveIpOverrideRequest"
              },
              "description": "Removes an IP override from a key. The following restrictions hold: * If the IP isn't found in an existing IP override, a `NOT_FOUND` error is returned. * If the IP is found in an existing IP override, but the override type does not match, a `NOT_FOUND` error is returned.",
              "flatPath": "v1/projects/{projectsId}/keys/{keysId}:removeIpOverride",
              "response": {
                "$ref": "GoogleCloudRecaptchaenterpriseV1RemoveIpOverrideResponse"
              },
              "parameterOrder": [
                "name"
              ],
              "id": "recaptchaenterprise.projects.keys.removeIpOverride",
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "name": {
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "description": "Required. The name of the key from which the IP override is removed, in the format `projects/{project}/keys/{key}`.",
                  "pattern": "^projects/[^/]+/keys/[^/]+$"
                }
              },
              "path": "v1/{+name}:removeIpOverride"
            },
            "retrieveLegacySecretKey": {
              "id": "recaptchaenterprise.projects.keys.retrieveLegacySecretKey",
              "httpMethod": "GET",
              "response": {
                "$ref": "GoogleCloudRecaptchaenterpriseV1RetrieveLegacySecretKeyResponse"
              },
              "parameterOrder": [
                "key"
              ],
              "path": "v1/{+key}:retrieveLegacySecretKey",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "key": {
                  "type": "string",
                  "description": "Required. The public key name linked to the requested secret key in the format `projects/{project}/keys/{key}`.",
                  "pattern": "^projects/[^/]+/keys/[^/]+$",
                  "location": "path",
                  "required": true
                }
              },
              "description": "Returns the secret key related to the specified public key. You must use the legacy secret key only in a 3rd party integration with legacy reCAPTCHA.",
              "flatPath": "v1/projects/{projectsId}/keys/{keysId}:retrieveLegacySecretKey"
            },
            "delete": {
              "description": "Deletes the specified key.",
              "flatPath": "v1/projects/{projectsId}/keys/{keysId}",
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "parameterOrder": [
                "name"
              ],
              "id": "recaptchaenterprise.projects.keys.delete",
              "httpMethod": "DELETE",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "name": {
                  "location": "path",
                  "required": true,
                  "description": "Required. The name of the key to be deleted, in the format `projects/{project}/keys/{key}`.",
                  "pattern": "^projects/[^/]+/keys/[^/]+$",
                  "type": "string"
                }
              },
              "path": "v1/{+name}"
            },
            "getMetrics": {
              "path": "v1/{+name}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "name": {
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "description": "Required. The name of the requested metrics, in the format `projects/{project}/keys/{key}/metrics`.",
                  "pattern": "^projects/[^/]+/keys/[^/]+/metrics$"
                }
              },
              "id": "recaptchaenterprise.projects.keys.getMetrics",
              "httpMethod": "GET",
              "response": {
                "$ref": "GoogleCloudRecaptchaenterpriseV1Metrics"
              },
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1/projects/{projectsId}/keys/{keysId}/metrics",
              "description": "Get some aggregated metrics for a Key. This data can be used to build dashboards."
            },
            "create": {
              "id": "recaptchaenterprise.projects.keys.create",
              "httpMethod": "POST",
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "GoogleCloudRecaptchaenterpriseV1Key"
              },
              "path": "v1/{+parent}/keys",
              "parameters": {
                "parent": {
                  "type": "string",
                  "description": "Required. The name of the project in which the key is created, in the format `projects/{project}`.",
                  "pattern": "^projects/[^/]+$",
                  "location": "path",
                  "required": true
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Creates a new reCAPTCHA Enterprise key.",
              "request": {
                "$ref": "GoogleCloudRecaptchaenterpriseV1Key"
              },
              "flatPath": "v1/projects/{projectsId}/keys"
            },
            "patch": {
              "response": {
                "$ref": "GoogleCloudRecaptchaenterpriseV1Key"
              },
              "parameterOrder": [
                "name"
              ],
              "id": "recaptchaenterprise.projects.keys.patch",
              "httpMethod": "PATCH",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "name": {
                  "location": "path",
                  "required": true,
                  "description": "Identifier. The resource name for the Key in the format `projects/{project}/keys/{key}`.",
                  "pattern": "^projects/[^/]+/keys/[^/]+$",
                  "type": "string"
                },
                "updateMask": {
                  "description": "Optional. The mask to control which fields of the key get updated. If the mask is not present, all fields are updated.",
                  "location": "query",
                  "type": "string",
                  "format": "google-fieldmask"
                }
              },
              "path": "v1/{+name}",
              "request": {
                "$ref": "GoogleCloudRecaptchaenterpriseV1Key"
              },
              "description": "Updates the specified key.",
              "flatPath": "v1/projects/{projectsId}/keys/{keysId}"
            },
            "addIpOverride": {
              "flatPath": "v1/projects/{projectsId}/keys/{keysId}:addIpOverride",
              "description": "Adds an IP override to a key. The following restrictions hold: * The maximum number of IP overrides per key is 1000. * For any conflict (such as IP already exists or IP part of an existing IP range), an error is returned.",
              "request": {
                "$ref": "GoogleCloudRecaptchaenterpriseV1AddIpOverrideRequest"
              },
              "path": "v1/{+name}:addIpOverride",
              "parameters": {
                "name": {
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "description": "Required. The name of the key to which the IP override is added, in the format `projects/{project}/keys/{key}`.",
                  "pattern": "^projects/[^/]+/keys/[^/]+$"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "recaptchaenterprise.projects.keys.addIpOverride",
              "httpMethod": "POST",
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "GoogleCloudRecaptchaenterpriseV1AddIpOverrideResponse"
              }
            },
            "getPolicy": {
              "description": "Get the policy for a key.",
              "flatPath": "v1/projects/{projectsId}/keys/{keysId}/policy",
              "response": {
                "$ref": "GoogleCloudRecaptchaenterpriseV1Policy"
              },
              "parameterOrder": [
                "name"
              ],
              "id": "recaptchaenterprise.projects.keys.getPolicy",
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "name": {
                  "description": "Required. The name of the policy to get, in the format `projects/{project}/keys/{key}/policy`.",
                  "pattern": "^projects/[^/]+/keys/[^/]+/policy$",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "path": "v1/{+name}"
            }
          }
        },
        "firewallpolicies": {
          "methods": {
            "list": {
              "flatPath": "v1/projects/{projectsId}/firewallpolicies",
              "description": "Returns the list of all firewall policies that belong to a project.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "parent": {
                  "description": "Required. The name of the project to list the policies for, in the format `projects/{project}`.",
                  "pattern": "^projects/[^/]+$",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "pageSize": {
                  "location": "query",
                  "type": "integer",
                  "format": "int32",
                  "description": "Optional. The maximum number of policies to return. Default is 10. Max limit is 1000."
                },
                "pageToken": {
                  "description": "Optional. The next_page_token value returned from a previous. ListFirewallPoliciesRequest, if any.",
                  "location": "query",
                  "type": "string"
                }
              },
              "path": "v1/{+parent}/firewallpolicies",
              "response": {
                "$ref": "GoogleCloudRecaptchaenterpriseV1ListFirewallPoliciesResponse"
              },
              "parameterOrder": [
                "parent"
              ],
              "id": "recaptchaenterprise.projects.firewallpolicies.list",
              "httpMethod": "GET"
            },
            "patch": {
              "flatPath": "v1/projects/{projectsId}/firewallpolicies/{firewallpoliciesId}",
              "request": {
                "$ref": "GoogleCloudRecaptchaenterpriseV1FirewallPolicy"
              },
              "description": "Updates the specified firewall policy.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "name": {
                  "location": "path",
                  "required": true,
                  "description": "Identifier. The resource name for the FirewallPolicy in the format `projects/{project}/firewallpolicies/{firewallpolicy}`.",
                  "pattern": "^projects/[^/]+/firewallpolicies/[^/]+$",
                  "type": "string"
                },
                "updateMask": {
                  "location": "query",
                  "type": "string",
                  "format": "google-fieldmask",
                  "description": "Optional. The mask to control which fields of the policy get updated. If the mask is not present, all fields are updated."
                }
              },
              "path": "v1/{+name}",
              "response": {
                "$ref": "GoogleCloudRecaptchaenterpriseV1FirewallPolicy"
              },
              "parameterOrder": [
                "name"
              ],
              "id": "recaptchaenterprise.projects.firewallpolicies.patch",
              "httpMethod": "PATCH"
            },
            "create": {
              "path": "v1/{+parent}/firewallpolicies",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "parent": {
                  "description": "Required. The name of the project this policy applies to, in the format `projects/{project}`.",
                  "pattern": "^projects/[^/]+$",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "id": "recaptchaenterprise.projects.firewallpolicies.create",
              "httpMethod": "POST",
              "response": {
                "$ref": "GoogleCloudRecaptchaenterpriseV1FirewallPolicy"
              },
              "parameterOrder": [
                "parent"
              ],
              "flatPath": "v1/projects/{projectsId}/firewallpolicies",
              "description": "Creates a new FirewallPolicy, specifying conditions at which reCAPTCHA Enterprise actions can be executed. A project may have a maximum of 1000 policies.",
              "request": {
                "$ref": "GoogleCloudRecaptchaenterpriseV1FirewallPolicy"
              }
            },
            "get": {
              "path": "v1/{+name}",
              "parameters": {
                "name": {
                  "location": "path",
                  "required": true,
                  "description": "Required. The name of the requested policy, in the format `projects/{project}/firewallpolicies/{firewallpolicy}`.",
                  "pattern": "^projects/[^/]+/firewallpolicies/[^/]+$",
                  "type": "string"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "recaptchaenterprise.projects.firewallpolicies.get",
              "httpMethod": "GET",
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "GoogleCloudRecaptchaenterpriseV1FirewallPolicy"
              },
              "flatPath": "v1/projects/{projectsId}/firewallpolicies/{firewallpoliciesId}",
              "description": "Returns the specified firewall policy."
            },
            "delete": {
              "path": "v1/{+name}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "name": {
                  "description": "Required. The name of the policy to be deleted, in the format `projects/{project}/firewallpolicies/{firewallpolicy}`.",
                  "pattern": "^projects/[^/]+/firewallpolicies/[^/]+$",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "id": "recaptchaenterprise.projects.firewallpolicies.delete",
              "httpMethod": "DELETE",
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1/projects/{projectsId}/firewallpolicies/{firewallpoliciesId}",
              "description": "Deletes the specified firewall policy."
            },
            "reorder": {
              "path": "v1/{+parent}/firewallpolicies:reorder",
              "parameters": {
                "parent": {
                  "description": "Required. The name of the project to list the policies for, in the format `projects/{project}`.",
                  "pattern": "^projects/[^/]+$",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "recaptchaenterprise.projects.firewallpolicies.reorder",
              "httpMethod": "POST",
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "GoogleCloudRecaptchaenterpriseV1ReorderFirewallPoliciesResponse"
              },
              "flatPath": "v1/projects/{projectsId}/firewallpolicies:reorder",
              "description": "Reorders all firewall policies.",
              "request": {
                "$ref": "GoogleCloudRecaptchaenterpriseV1ReorderFirewallPoliciesRequest"
              }
            }
          }
        }
      }
    }
  },
  "ownerDomain": "google.com",
  "title": "reCAPTCHA Enterprise API",
  "schemas": {
    "GoogleCloudRecaptchaenterpriseV1FirewallActionSubstituteAction": {
      "type": "object",
      "id": "GoogleCloudRecaptchaenterpriseV1FirewallActionSubstituteAction",
      "properties": {
        "path": {
          "description": "Optional. The address to redirect to. The target is a relative path in the current host. Example: \"/blog/404.html\".",
          "type": "string"
        }
      },
      "description": "A substitute action transparently serves a different page than the one requested."
    },
    "GoogleCloudRecaptchaenterpriseV1ReorderFirewallPoliciesRequest": {
      "id": "GoogleCloudRecaptchaenterpriseV1ReorderFirewallPoliciesRequest",
      "properties": {
        "names": {
          "type": "array",
          "description": "Required. A list containing all policy names, in the new order. Each name is in the format `projects/{project}/firewallpolicies/{firewallpolicy}`.",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "The reorder firewall policies request message.",
      "type": "object"
    },
    "GoogleCloudRecaptchaenterpriseV1FirewallActionAllowAction": {
      "id": "GoogleCloudRecaptchaenterpriseV1FirewallActionAllowAction",
      "properties": {},
      "description": "An allow action continues processing a request unimpeded.",
      "type": "object"
    },
    "GoogleCloudRecaptchaenterpriseV1FraudPreventionAssessmentRiskReason": {
      "type": "object",
      "id": "GoogleCloudRecaptchaenterpriseV1FraudPreventionAssessmentRiskReason",
      "properties": {
        "reason": {
          "type": "string",
          "readOnly": true,
          "enumDescriptions": [
            "Default unspecified type.",
            "A suspiciously high number of recent transactions have used identifiers present in this transaction.",
            "User is cycling through a suspiciously large number of identifiers, suggesting enumeration or validation attacks within a potential fraud network.",
            "User has a short history or no history in the reCAPTCHA network, suggesting the possibility of synthetic identity generation.",
            "Identifiers used in this transaction originate from an unusual or conflicting set of geolocations.",
            "This transaction is linked to a cluster of known fraudulent activity."
          ],
          "description": "Output only. Risk reasons applicable to the Fraud Prevention assessment.",
          "enum": [
            "REASON_UNSPECIFIED",
            "HIGH_TRANSACTION_VELOCITY",
            "EXCESSIVE_ENUMERATION_PATTERN",
            "SHORT_IDENTITY_HISTORY",
            "GEOLOCATION_DISCREPANCY",
            "ASSOCIATED_WITH_FRAUD_CLUSTER"
          ]
        }
      },
      "description": "Risk reasons applicable to the Fraud Prevention assessment."
    },
    "GoogleCloudRecaptchaenterpriseV1ChallengeRuleGroup": {
      "type": "object",
      "id": "GoogleCloudRecaptchaenterpriseV1ChallengeRuleGroup",
      "properties": {
        "challengeRules": {
          "description": "Required. A list of rules that configure when and how reCAPTCHA presents a challenge. reCAPTCHA evaluates these rules in order and applies the first one that matches.",
          "items": {
            "$ref": "GoogleCloudRecaptchaenterpriseV1ChallengeRule"
          },
          "type": "array"
        },
        "actions": {
          "type": "array",
          "description": "Required. Action name provided at token generation. The action name is not case-sensitive and can only contain alphanumeric characters, slashes, and underscores. If \"*\" is provided, the rule group applies to all actions. If multiple actions are provided, the rule group is applied to all of them. This field is required.",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "A collection of challenge rules that applies to one or more actions."
    },
    "GoogleCloudRecaptchaenterpriseV1RelatedAccountGroup": {
      "description": "A group of related accounts.",
      "id": "GoogleCloudRecaptchaenterpriseV1RelatedAccountGroup",
      "properties": {
        "name": {
          "type": "string",
          "description": "Required. Identifier. The resource name for the related account group in the format `projects/{project}/relatedaccountgroups/{related_account_group}`."
        }
      },
      "type": "object"
    },
    "GoogleCloudRecaptchaenterpriseV1Assessment": {
      "id": "GoogleCloudRecaptchaenterpriseV1Assessment",
      "properties": {
        "privatePasswordLeakVerification": {
          "description": "Optional. The private password leak verification field contains the parameters that are used to to check for leaks privately without sharing user credentials.",
          "$ref": "GoogleCloudRecaptchaenterpriseV1PrivatePasswordLeakVerification"
        },
        "assessmentEnvironment": {
          "description": "Optional. The environment creating the assessment. This describes your environment (the system invoking CreateAssessment), NOT the environment of your user.",
          "$ref": "GoogleCloudRecaptchaenterpriseV1AssessmentEnvironment"
        },
        "fraudSignals": {
          "readOnly": true,
          "$ref": "GoogleCloudRecaptchaenterpriseV1FraudSignals",
          "description": "Output only. Fraud Signals specific to the users involved in a payment transaction."
        },
        "accountDefenderAssessment": {
          "$ref": "GoogleCloudRecaptchaenterpriseV1AccountDefenderAssessment",
          "description": "Output only. Assessment returned by Account defense when an account identifier is provided.",
          "readOnly": true
        },
        "phoneFraudAssessment": {
          "description": "Output only. Assessment returned when a site key, a token, and a phone number as `user_id` are provided. SMS defense needs to be enabled.",
          "$ref": "GoogleCloudRecaptchaenterpriseV1PhoneFraudAssessment",
          "readOnly": true
        },
        "event": {
          "description": "Optional. The event being assessed.",
          "$ref": "GoogleCloudRecaptchaenterpriseV1Event"
        },
        "tokenProperties": {
          "description": "Output only. Properties of the provided event token.",
          "$ref": "GoogleCloudRecaptchaenterpriseV1TokenProperties",
          "readOnly": true
        },
        "riskAnalysis": {
          "$ref": "GoogleCloudRecaptchaenterpriseV1RiskAnalysis",
          "description": "Output only. The risk analysis result for the event being assessed.",
          "readOnly": true
        },
        "accountVerification": {
          "$ref": "GoogleCloudRecaptchaenterpriseV1AccountVerificationInfo",
          "description": "Optional. Account verification information for identity verification. The assessment event must include a token and site key to use this feature."
        },
        "fraudPreventionAssessment": {
          "readOnly": true,
          "$ref": "GoogleCloudRecaptchaenterpriseV1FraudPreventionAssessment",
          "description": "Output only. Assessment returned by Fraud Prevention when TransactionData is provided."
        },
        "firewallPolicyAssessment": {
          "readOnly": true,
          "description": "Output only. Assessment returned when firewall policies belonging to the project are evaluated using the field firewall_policy_evaluation.",
          "$ref": "GoogleCloudRecaptchaenterpriseV1FirewallPolicyAssessment"
        },
        "name": {
          "description": "Output only. Identifier. The resource name for the Assessment in the format `projects/{project}/assessments/{assessment}`.",
          "type": "string",
          "readOnly": true
        },
        "policyEvaluation": {
          "description": "Output only. Provides information about the policy evaluation for this assessment.",
          "$ref": "GoogleCloudRecaptchaenterpriseV1PolicyEvaluation",
          "readOnly": true
        }
      },
      "description": "A reCAPTCHA Enterprise assessment resource.",
      "type": "object"
    },
    "GoogleCloudRecaptchaenterpriseV1MigrateKeyRequest": {
      "id": "GoogleCloudRecaptchaenterpriseV1MigrateKeyRequest",
      "properties": {
        "skipBillingCheck": {
          "description": "Optional. If true, skips the billing check. A reCAPTCHA Enterprise key or migrated key behaves differently than a reCAPTCHA (non-Enterprise version) key when you reach a quota limit (see https://docs.cloud.google.com/recaptcha/quotas#quota_limit). To avoid any disruption of your usage, we check that a billing account is present. If your usage of reCAPTCHA is under the free quota, you can safely skip the billing check and proceed with the migration. See https://cloud.google.com/recaptcha/docs/billing-information.",
          "type": "boolean"
        }
      },
      "description": "The migrate key request message.",
      "type": "object"
    },
    "GoogleCloudRecaptchaenterpriseV1AccountDefenderAssessmentAccountTakeoverVerdict": {
      "type": "object",
      "description": "Account takeover risk assessment.",
      "id": "GoogleCloudRecaptchaenterpriseV1AccountDefenderAssessmentAccountTakeoverVerdict",
      "properties": {
        "risk": {
          "description": "Output only. Account takeover attempt probability. Values are from 0.0 (lowest risk) to 1.0 (highest risk).",
          "type": "number",
          "format": "float",
          "readOnly": true
        },
        "trustReasons": {
          "type": "array",
          "readOnly": true,
          "description": "Output only. Unordered list. Reasons why the request appears trustworthy. Trust reasons can be returned even if the risk is high, as risky requests can still have some trust signals.",
          "items": {
            "$ref": "GoogleCloudRecaptchaenterpriseV1AccountDefenderAssessmentAccountTrustReason"
          }
        },
        "riskReasons": {
          "description": "Output only. Unordered list. Reasons why the request appears risky. Risk reasons can be returned even if the risk is low, as trustworthy requests can still have some risk signals.",
          "items": {
            "$ref": "GoogleCloudRecaptchaenterpriseV1AccountDefenderAssessmentAccountRiskReason"
          },
          "type": "array",
          "readOnly": true
        }
      }
    },
    "GoogleCloudRecaptchaenterpriseV1AddIpOverrideRequest": {
      "description": "The AddIpOverride request message.",
      "id": "GoogleCloudRecaptchaenterpriseV1AddIpOverrideRequest",
      "properties": {
        "ipOverrideData": {
          "$ref": "GoogleCloudRecaptchaenterpriseV1IpOverrideData",
          "description": "Required. IP override added to the key."
        }
      },
      "type": "object"
    },
    "GoogleCloudRecaptchaenterpriseV1TransactionDataItem": {
      "type": "object",
      "id": "GoogleCloudRecaptchaenterpriseV1TransactionDataItem",
      "properties": {
        "name": {
          "description": "Optional. The full name of the item.",
          "type": "string"
        },
        "quantity": {
          "type": "string",
          "format": "int64",
          "description": "Optional. The quantity of this item that is being purchased."
        },
        "merchantAccountId": {
          "type": "string",
          "description": "Optional. When a merchant is specified, its corresponding account_id. Necessary to populate marketplace-style transactions."
        },
        "value": {
          "type": "number",
          "format": "double",
          "description": "Optional. The value per item that the user is paying, in the transaction currency, after discounts."
        }
      },
      "description": "Line items being purchased in this transaction."
    },
    "GoogleCloudRecaptchaenterpriseV1IpOverrideData": {
      "id": "GoogleCloudRecaptchaenterpriseV1IpOverrideData",
      "properties": {
        "ip": {
          "type": "string",
          "description": "Required. The IP address to override (can be IPv4, IPv6 or CIDR). The IP override must be a valid IPv4 or IPv6 address, or a CIDR range. The IP override must be a public IP address. Example of IPv4: 168.192.5.6 Example of IPv6: 2001:0000:130F:0000:0000:09C0:876A:130B Example of IPv4 with CIDR: 168.192.5.0/24 Example of IPv6 with CIDR: 2001:0DB8:1234::/48"
        },
        "overrideType": {
          "type": "string",
          "description": "Required. Describes the type of IP override.",
          "enum": [
            "OVERRIDE_TYPE_UNSPECIFIED",
            "ALLOW"
          ],
          "enumDescriptions": [
            "Default override type that indicates this enum hasn't been specified.",
            "Allowlist the IP address; i.e. give a `risk_analysis.score` of 0.9 for all valid assessments."
          ]
        }
      },
      "description": "Information about the IP or IP range override.",
      "type": "object"
    },
    "GoogleCloudRecaptchaenterpriseV1Metrics": {
      "type": "object",
      "id": "GoogleCloudRecaptchaenterpriseV1Metrics",
      "properties": {
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Identifier. The name of the metrics, in the format `projects/{project}/keys/{key}/metrics`."
        },
        "startTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Inclusive start time aligned to a day in the America/Los_Angeles (Pacific) timezone."
        },
        "scoreMetrics": {
          "description": "Metrics are continuous and in order by dates, and in the granularity of day. All Key types should have score-based data.",
          "items": {
            "$ref": "GoogleCloudRecaptchaenterpriseV1ScoreMetrics"
          },
          "type": "array"
        },
        "challengeMetrics": {
          "type": "array",
          "description": "Metrics are continuous and in order by dates, and in the granularity of day. Only challenge-based keys (CHECKBOX, INVISIBLE) have challenge-based data.",
          "items": {
            "$ref": "GoogleCloudRecaptchaenterpriseV1ChallengeMetrics"
          }
        }
      },
      "description": "Metrics for a single Key."
    },
    "GoogleCloudRecaptchaenterpriseV1FirewallActionSetHeaderAction": {
      "id": "GoogleCloudRecaptchaenterpriseV1FirewallActionSetHeaderAction",
      "properties": {
        "key": {
          "description": "Optional. The header key to set in the request to the backend server.",
          "type": "string"
        },
        "value": {
          "type": "string",
          "description": "Optional. The header value to set in the request to the backend server."
        }
      },
      "description": "A set header action sets a header and forwards the request to the backend. This can be used to trigger custom protection implemented on the backend.",
      "type": "object"
    },
    "GoogleCloudRecaptchaenterpriseV1ListIpOverridesResponse": {
      "type": "object",
      "id": "GoogleCloudRecaptchaenterpriseV1ListIpOverridesResponse",
      "properties": {
        "ipOverrides": {
          "type": "array",
          "description": "IP Overrides details.",
          "items": {
            "$ref": "GoogleCloudRecaptchaenterpriseV1IpOverrideData"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "Token to retrieve the next page of results. If this field is empty, no keys remain in the results."
        }
      },
      "description": "Response for ListIpOverrides."
    },
    "GoogleCloudRecaptchaenterpriseV1TokenProperties": {
      "id": "GoogleCloudRecaptchaenterpriseV1TokenProperties",
      "properties": {
        "invalidReason": {
          "description": "Output only. Reason associated with the response when valid = false.",
          "enum": [
            "INVALID_REASON_UNSPECIFIED",
            "UNKNOWN_INVALID_REASON",
            "MALFORMED",
            "EXPIRED",
            "DUPE",
            "MISSING",
            "BROWSER_ERROR",
            "UNEXPECTED_ACTION",
            "KEY_MISMATCH",
            "DOMAIN_MISMATCH"
          ],
          "type": "string",
          "readOnly": true,
          "enumDescriptions": [
            "Default unspecified type.",
            "If the failure reason was not accounted for.",
            "The provided user verification token was malformed.",
            "The user verification token had expired.",
            "The user verification had already been seen.",
            "The user verification token was not present.",
            "A retriable error (such as network failure) occurred on the browser. Could easily be simulated by an attacker.",
            "The action provided at token generation was different than the `expected_action` in the assessment request. The comparison is case-insensitive. This reason can only be returned if all of the following are true: - your `site_key` has the POLICY_BASED_CHALLENGE integration type - you set an action score threshold higher than 0.0 - you provided a non-empty `expected_action`",
            "The key used to generate the token does not match the `site_key`.",
            "The domain of the page on which the token was generated does not match the `allowed_domains` configured in the `site_key`."
          ]
        },
        "hostname": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The hostname of the page on which the token was generated (Web keys only)."
        },
        "valid": {
          "description": "Output only. Indicates whether the provided user response token is valid. If `false`, the token is invalid, either because the user failed the challenge or for a reason provided in the `invalid_reason` field.",
          "type": "boolean",
          "readOnly": true
        },
        "createTime": {
          "description": "Output only. The timestamp corresponding to the generation of the token.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "iosBundleId": {
          "description": "Output only. The ID of the iOS bundle with which the token was generated (iOS keys only).",
          "readOnly": true,
          "type": "string"
        },
        "androidPackageName": {
          "description": "Output only. The name of the Android package with which the token was generated (Android keys only).",
          "type": "string",
          "readOnly": true
        },
        "action": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Action name provided at token generation."
        }
      },
      "description": "Properties of the provided event token.",
      "type": "object"
    },
    "GoogleCloudRecaptchaenterpriseV1ListFirewallPoliciesResponse": {
      "type": "object",
      "description": "Response to request to list firewall policies belonging to a project.",
      "id": "GoogleCloudRecaptchaenterpriseV1ListFirewallPoliciesResponse",
      "properties": {
        "firewallPolicies": {
          "description": "Policy details.",
          "items": {
            "$ref": "GoogleCloudRecaptchaenterpriseV1FirewallPolicy"
          },
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "Token to retrieve the next page of results. It is set to empty if no policies remain in results."
        }
      }
    },
    "GoogleCloudRecaptchaenterpriseV1FraudSignals": {
      "type": "object",
      "description": "Fraud signals describing users and cards involved in the transaction.",
      "id": "GoogleCloudRecaptchaenterpriseV1FraudSignals",
      "properties": {
        "cardSignals": {
          "readOnly": true,
          "$ref": "GoogleCloudRecaptchaenterpriseV1FraudSignalsCardSignals",
          "description": "Output only. Signals describing the payment card or cards used in this transaction."
        },
        "userSignals": {
          "$ref": "GoogleCloudRecaptchaenterpriseV1FraudSignalsUserSignals",
          "description": "Output only. Signals describing the end user in this transaction.",
          "readOnly": true
        }
      }
    },
    "GoogleRpcStatus": {
      "type": "object",
      "id": "GoogleRpcStatus",
      "properties": {
        "code": {
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "type": "integer",
          "format": "int32"
        },
        "details": {
          "type": "array",
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "items": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            }
          }
        },
        "message": {
          "type": "string",
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client."
        }
      },
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors)."
    },
    "GoogleCloudRecaptchaenterpriseV1PhoneFraudAssessment": {
      "description": "Assessment for Phone Fraud",
      "id": "GoogleCloudRecaptchaenterpriseV1PhoneFraudAssessment",
      "properties": {
        "smsTollFraudVerdict": {
          "readOnly": true,
          "description": "Output only. Assessment of this phone event for risk of SMS toll fraud.",
          "$ref": "GoogleCloudRecaptchaenterpriseV1SmsTollFraudVerdict"
        }
      },
      "type": "object"
    },
    "GoogleCloudRecaptchaenterpriseV1WafSettings": {
      "type": "object",
      "id": "GoogleCloudRecaptchaenterpriseV1WafSettings",
      "properties": {
        "wafService": {
          "type": "string",
          "description": "Required. The Web Application Firewall (WAF) service that uses this key.",
          "enum": [
            "WAF_SERVICE_UNSPECIFIED",
            "CA",
            "FASTLY",
            "CLOUDFLARE",
            "AKAMAI"
          ],
          "enumDescriptions": [
            "Undefined WAF",
            "Cloud Armor",
            "Fastly",
            "Cloudflare",
            "Akamai"
          ]
        },
        "wafFeature": {
          "type": "string",
          "enumDeprecated": [
            false,
            false,
            false,
            false,
            true
          ],
          "enumDescriptions": [
            "Undefined feature.",
            "Redirects suspicious traffic to reCAPTCHA.",
            "Use reCAPTCHA session-tokens to protect the whole user session on the site's domain.",
            "Use reCAPTCHA action-tokens to protect user actions.",
            "Deprecated: Use `express_settings` instead."
          ],
          "description": "Required. The Web Application Firewall (WAF) feature for which this key is enabled.",
          "enum": [
            "WAF_FEATURE_UNSPECIFIED",
            "CHALLENGE_PAGE",
            "SESSION_TOKEN",
            "ACTION_TOKEN",
            "EXPRESS"
          ]
        }
      },
      "description": "Settings specific to keys that can be used for WAF (Web Application Firewall)."
    },
    "GoogleCloudRecaptchaenterpriseV1FraudSignalsCardSignals": {
      "description": "Signals describing the payment card used in this transaction.",
      "id": "GoogleCloudRecaptchaenterpriseV1FraudSignalsCardSignals",
      "properties": {
        "cardLabels": {
          "description": "Output only. The labels for the payment card in this transaction.",
          "items": {
            "type": "string",
            "enumDescriptions": [
              "No label specified.",
              "This card has been detected as prepaid.",
              "This card has been detected as virtual, such as a card number generated for a single transaction or merchant.",
              "This card has been detected as being used in an unexpected geographic location."
            ],
            "enum": [
              "CARD_LABEL_UNSPECIFIED",
              "PREPAID",
              "VIRTUAL",
              "UNEXPECTED_LOCATION"
            ]
          },
          "readOnly": true,
          "type": "array"
        }
      },
      "type": "object"
    },
    "GoogleCloudRecaptchaenterpriseV1TransactionEvent": {
      "description": "Describes an event in the lifecycle of a payment transaction.",
      "id": "GoogleCloudRecaptchaenterpriseV1TransactionEvent",
      "properties": {
        "value": {
          "description": "Optional. The value that corresponds with this transaction event, if one exists. For example, a refund event where $5.00 was refunded. Currency is obtained from the original transaction data.",
          "type": "number",
          "format": "double"
        },
        "eventTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Optional. Timestamp when this transaction event occurred; otherwise assumed to be the time of the API call."
        },
        "reason": {
          "type": "string",
          "description": "Optional. The reason or standardized code that corresponds with this transaction event, if one exists. For example, a CHARGEBACK event with code 6005."
        },
        "eventType": {
          "type": "string",
          "description": "Optional. The type of this transaction event.",
          "enum": [
            "TRANSACTION_EVENT_TYPE_UNSPECIFIED",
            "MERCHANT_APPROVE",
            "MERCHANT_DENY",
            "MANUAL_REVIEW",
            "AUTHORIZATION",
            "AUTHORIZATION_DECLINE",
            "PAYMENT_CAPTURE",
            "PAYMENT_CAPTURE_DECLINE",
            "CANCEL",
            "CHARGEBACK_INQUIRY",
            "CHARGEBACK_ALERT",
            "FRAUD_NOTIFICATION",
            "CHARGEBACK",
            "CHARGEBACK_REPRESENTMENT",
            "CHARGEBACK_REVERSE",
            "REFUND_REQUEST",
            "REFUND_DECLINE",
            "REFUND",
            "REFUND_REVERSE"
          ],
          "enumDescriptions": [
            "Default, unspecified event type.",
            "Indicates that the transaction is approved by the merchant. The accompanying reasons can include terms such as 'INHOUSE', 'ACCERTIFY', 'CYBERSOURCE', or 'MANUAL_REVIEW'.",
            "Indicates that the transaction is denied and concluded due to risks detected by the merchant. The accompanying reasons can include terms such as 'INHOUSE', 'ACCERTIFY', 'CYBERSOURCE', or 'MANUAL_REVIEW'.",
            "Indicates that the transaction is being evaluated by a human, due to suspicion or risk.",
            "Indicates that the authorization attempt with the card issuer succeeded.",
            "Indicates that the authorization attempt with the card issuer failed. The accompanying reasons can include Visa's '54' indicating that the card is expired, or '82' indicating that the CVV is incorrect.",
            "Indicates that the transaction is completed because the funds were settled.",
            "Indicates that the transaction could not be completed because the funds were not settled.",
            "Indicates that the transaction has been canceled. Specify the reason for the cancellation. For example, 'INSUFFICIENT_INVENTORY'.",
            "Indicates that the merchant has received a chargeback inquiry due to fraud for the transaction, requesting additional information before a fraud chargeback is officially issued and a formal chargeback notification is sent.",
            "Indicates that the merchant has received a chargeback alert due to fraud for the transaction. The process of resolving the dispute without involving the payment network is started.",
            "Indicates that a fraud notification is issued for the transaction, sent by the payment instrument's issuing bank because the transaction appears to be fraudulent. We recommend including TC40 or SAFE data in the `reason` field for this event type. For partial chargebacks, we recommend that you include an amount in the `value` field.",
            "Indicates that the merchant is informed by the payment network that the transaction has entered the chargeback process due to fraud. Reason code examples include Discover's '6005' and '6041'. For partial chargebacks, we recommend that you include an amount in the `value` field.",
            "Indicates that the transaction has entered the chargeback process due to fraud, and that the merchant has chosen to enter representment. Reason examples include Discover's '6005' and '6041'. For partial chargebacks, we recommend that you include an amount in the `value` field.",
            "Indicates that the transaction has had a fraud chargeback which was illegitimate and was reversed as a result. For partial chargebacks, we recommend that you include an amount in the `value` field.",
            "Indicates that the merchant has received a refund for a completed transaction. For partial refunds, we recommend that you include an amount in the `value` field. Reason example: 'TAX_EXEMPT' (partial refund of exempt tax)",
            "Indicates that the merchant has received a refund request for this transaction, but that they have declined it. For partial refunds, we recommend that you include an amount in the `value` field. Reason example: 'TAX_EXEMPT' (partial refund of exempt tax)",
            "Indicates that the completed transaction was refunded by the merchant. For partial refunds, we recommend that you include an amount in the `value` field. Reason example: 'TAX_EXEMPT' (partial refund of exempt tax)",
            "Indicates that the completed transaction was refunded by the merchant, and that this refund was reversed. For partial refunds, we recommend that you include an amount in the `value` field."
          ]
        }
      },
      "type": "object"
    },
    "GoogleCloudRecaptchaenterpriseV1TransactionDataUser": {
      "type": "object",
      "description": "Details about a user's account involved in the transaction.",
      "id": "GoogleCloudRecaptchaenterpriseV1TransactionDataUser",
      "properties": {
        "phoneNumber": {
          "type": "string",
          "description": "Optional. The phone number of the user, with country code."
        },
        "creationMs": {
          "type": "string",
          "format": "int64",
          "description": "Optional. The epoch milliseconds of the user's account creation."
        },
        "email": {
          "type": "string",
          "description": "Optional. The email address of the user."
        },
        "emailVerified": {
          "description": "Optional. Whether the email has been verified to be accessible by the user (OTP or similar).",
          "type": "boolean"
        },
        "phoneVerified": {
          "type": "boolean",
          "description": "Optional. Whether the phone number has been verified to be accessible by the user (OTP or similar)."
        },
        "accountId": {
          "type": "string",
          "description": "Optional. Unique account identifier for this user. If using Account defense, this should match the hashed_account_id field. Otherwise, a unique and persistent identifier for this account."
        }
      }
    },
    "GoogleCloudRecaptchaenterpriseV1AssessmentEnvironment": {
      "description": "The environment creating the assessment. This describes your environment (the system invoking CreateAssessment), NOT the environment of your user.",
      "id": "GoogleCloudRecaptchaenterpriseV1AssessmentEnvironment",
      "properties": {
        "version": {
          "type": "string",
          "description": "Optional. The version of the client module. For example, \"1.0.0\"."
        },
        "client": {
          "type": "string",
          "description": "Optional. Identifies the client module initiating the CreateAssessment request. This can be the link to the client module's project. Examples include: - \"github.com/GoogleCloudPlatform/recaptcha-enterprise-google-tag-manager\" - \"wordpress.org/plugins/recaptcha-something\""
        }
      },
      "type": "object"
    },
    "GoogleCloudRecaptchaenterpriseV1ChallengeMetrics": {
      "description": "Metrics related to challenges.",
      "id": "GoogleCloudRecaptchaenterpriseV1ChallengeMetrics",
      "properties": {
        "passedCount": {
          "description": "Count of nocaptchas (successful verification without a challenge) plus submitted challenge solutions that were correct and resulted in verification.",
          "type": "string",
          "format": "int64"
        },
        "pageloadCount": {
          "type": "string",
          "format": "int64",
          "description": "Count of reCAPTCHA checkboxes or badges rendered. This is mostly equivalent to a count of pageloads for pages that include reCAPTCHA."
        },
        "nocaptchaCount": {
          "type": "string",
          "format": "int64",
          "description": "Count of nocaptchas (successful verification without a challenge) issued."
        },
        "failedCount": {
          "description": "Count of submitted challenge solutions that were incorrect or otherwise deemed suspicious such that a subsequent challenge was triggered.",
          "type": "string",
          "format": "int64"
        }
      },
      "type": "object"
    },
    "GoogleCloudRecaptchaenterpriseV1UserInfo": {
      "description": "User information associated with a request protected by reCAPTCHA Enterprise.",
      "id": "GoogleCloudRecaptchaenterpriseV1UserInfo",
      "properties": {
        "createAccountTime": {
          "description": "Optional. Creation time for this account associated with this user. Leave blank for non logged-in actions, guest checkout, or when there is no account associated with the current user.",
          "type": "string",
          "format": "google-datetime"
        },
        "accountId": {
          "description": "Optional. For logged-in requests or login/registration requests, the unique account identifier associated with this user. You can use the username if it is stable (meaning it is the same for every request associated with the same user), or any stable user ID of your choice. Leave blank for non logged-in actions or guest checkout.",
          "type": "string"
        },
        "userIds": {
          "type": "array",
          "description": "Optional. Identifiers associated with this user or request.",
          "items": {
            "$ref": "GoogleCloudRecaptchaenterpriseV1UserId"
          }
        }
      },
      "type": "object"
    },
    "GoogleCloudRecaptchaenterpriseV1UserId": {
      "type": "object",
      "id": "GoogleCloudRecaptchaenterpriseV1UserId",
      "properties": {
        "email": {
          "description": "Optional. An email address.",
          "type": "string"
        },
        "phoneNumber": {
          "description": "Optional. A phone number. Should use the E.164 format.",
          "type": "string"
        },
        "username": {
          "type": "string",
          "description": "Optional. A unique username, if different from all the other identifiers and `account_id` that are provided. Can be a unique login handle or display name for a user."
        }
      },
      "description": "An identifier associated with a user."
    },
    "GoogleCloudRecaptchaenterpriseV1FirewallActionRedirectAction": {
      "type": "object",
      "id": "GoogleCloudRecaptchaenterpriseV1FirewallActionRedirectAction",
      "properties": {},
      "description": "A redirect action returns a 307 (temporary redirect) response, pointing the user to a reCAPTCHA interstitial page to attach a token."
    },
    "GoogleCloudRecaptchaenterpriseV1AccountDefenderAssessment": {
      "type": "object",
      "description": "Account defense risk assessment.",
      "id": "GoogleCloudRecaptchaenterpriseV1AccountDefenderAssessment",
      "properties": {
        "labels": {
          "description": "Output only. Labels for this request.",
          "items": {
            "type": "string",
            "enumDescriptions": [
              "Default unspecified type.",
              "The request matches a trusted profile associated with this account.",
              "The request is potentially a suspicious login event and must be further verified either through multi-factor authentication or another system.",
              "The request matched a profile that previously had suspicious account creation behavior. This can mean that this is a fake account.",
              "The account in the request has a high number of related accounts. It does not necessarily imply that the account is bad but can require further investigation."
            ],
            "enum": [
              "ACCOUNT_DEFENDER_LABEL_UNSPECIFIED",
              "PROFILE_MATCH",
              "SUSPICIOUS_LOGIN_ACTIVITY",
              "SUSPICIOUS_ACCOUNT_CREATION",
              "RELATED_ACCOUNTS_NUMBER_HIGH"
            ]
          },
          "readOnly": true,
          "type": "array"
        },
        "accountTakeoverVerdict": {
          "readOnly": true,
          "description": "Output only. Account takeover risk assessment for this request.",
          "$ref": "GoogleCloudRecaptchaenterpriseV1AccountDefenderAssessmentAccountTakeoverVerdict"
        }
      }
    },
    "GoogleCloudRecaptchaenterpriseV1FraudSignalsUserSignals": {
      "type": "object",
      "id": "GoogleCloudRecaptchaenterpriseV1FraudSignalsUserSignals",
      "properties": {
        "activeDaysLowerBound": {
          "readOnly": true,
          "type": "integer",
          "format": "int32",
          "description": "Output only. This user (based on email, phone, and other identifiers) has been seen on the internet for at least this number of days."
        },
        "syntheticRisk": {
          "type": "number",
          "format": "float",
          "readOnly": true,
          "description": "Output only. Likelihood (from 0.0 to 1.0) this user includes synthetic components in their identity, such as a randomly generated email address, temporary phone number, or fake shipping address."
        }
      },
      "description": "Signals describing the user involved in this transaction."
    },
    "GoogleCloudRecaptchaenterpriseV1TransactionData": {
      "id": "GoogleCloudRecaptchaenterpriseV1TransactionData",
      "properties": {
        "gatewayInfo": {
          "$ref": "GoogleCloudRecaptchaenterpriseV1TransactionDataGatewayInfo",
          "description": "Optional. Information about the payment gateway's response to the transaction."
        },
        "merchants": {
          "description": "Optional. Information about the user or users fulfilling the transaction.",
          "items": {
            "$ref": "GoogleCloudRecaptchaenterpriseV1TransactionDataUser"
          },
          "type": "array"
        },
        "value": {
          "description": "Optional. The decimal value of the transaction in the specified currency.",
          "type": "number",
          "format": "double"
        },
        "cardBin": {
          "description": "Optional. The Bank Identification Number - generally the first 6 or 8 digits of the card.",
          "type": "string"
        },
        "shippingValue": {
          "description": "Optional. The value of shipping in the specified currency. 0 for free or no shipping.",
          "type": "number",
          "format": "double"
        },
        "billingAddress": {
          "description": "Optional. Address associated with the payment method when applicable.",
          "$ref": "GoogleCloudRecaptchaenterpriseV1TransactionDataAddress"
        },
        "currencyCode": {
          "description": "Optional. The currency code in ISO-4217 format.",
          "type": "string"
        },
        "cardLastFour": {
          "type": "string",
          "description": "Optional. The last four digits of the card."
        },
        "paymentMethod": {
          "description": "Optional. The payment method for the transaction. The allowed values are: * credit-card * debit-card * gift-card * processor-{name} (If a third-party is used, for example, processor-paypal) * custom-{name} (If an alternative method is used, for example, custom-crypto)",
          "type": "string"
        },
        "shippingAddress": {
          "$ref": "GoogleCloudRecaptchaenterpriseV1TransactionDataAddress",
          "description": "Optional. Destination address if this transaction involves shipping a physical item."
        },
        "user": {
          "$ref": "GoogleCloudRecaptchaenterpriseV1TransactionDataUser",
          "description": "Optional. Information about the user paying/initiating the transaction."
        },
        "transactionId": {
          "type": "string",
          "description": "Unique identifier for the transaction. This custom identifier can be used to reference this transaction in the future, for example, labeling a refund or chargeback event. Two attempts at the same transaction should use the same transaction id."
        },
        "items": {
          "description": "Optional. Items purchased in this transaction.",
          "items": {
            "$ref": "GoogleCloudRecaptchaenterpriseV1TransactionDataItem"
          },
          "type": "array"
        }
      },
      "description": "Transaction data associated with a payment protected by reCAPTCHA Enterprise.",
      "type": "object"
    },
    "GoogleCloudRecaptchaenterpriseV1ChallengeRule": {
      "type": "object",
      "id": "GoogleCloudRecaptchaenterpriseV1ChallengeRule",
      "properties": {
        "noChallenge": {
          "$ref": "GoogleCloudRecaptchaenterpriseV1ChallengeRuleNoChallengeOutcome",
          "description": "Do not present a challenge to the user."
        },
        "challenge": {
          "description": "Present a challenge to the user.",
          "$ref": "GoogleCloudRecaptchaenterpriseV1ChallengeRuleChallengeOutcome"
        },
        "condition": {
          "type": "string",
          "description": "Optional. A CEL condition that must be met for this rule to apply. If unspecified, the rule applies unconditionally. The following fields can be referenced in the condition: * `score` * `user_ip_address` * `user_asn` * `user_agent` * `verified_bots.name` * `verified_bots.bot_type` Examples: * `score < 0.5` * `user_ip_address == \"123.45.67.89\"` * `user_agent.contains(\"Chrome\")` * `score < 0.5 && user_ip_address == \"123.45.67.89\"`"
        }
      },
      "description": "A rule to configure the behavior of reCAPTCHA for conditionally presenting a challenge."
    },
    "GoogleCloudRecaptchaenterpriseV1SearchRelatedAccountGroupMembershipsResponse": {
      "id": "GoogleCloudRecaptchaenterpriseV1SearchRelatedAccountGroupMembershipsResponse",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        },
        "relatedAccountGroupMemberships": {
          "description": "The queried memberships.",
          "items": {
            "$ref": "GoogleCloudRecaptchaenterpriseV1RelatedAccountGroupMembership"
          },
          "type": "array"
        }
      },
      "description": "The response to a `SearchRelatedAccountGroupMemberships` call.",
      "type": "object"
    },
    "GoogleCloudRecaptchaenterpriseV1PolicyEvaluation": {
      "id": "GoogleCloudRecaptchaenterpriseV1PolicyEvaluation",
      "properties": {
        "challengeRuleEvaluation": {
          "$ref": "GoogleCloudRecaptchaenterpriseV1ChallengeRuleEvaluation",
          "description": "Output only. Populated if one or more Challenge rules were matched. Its presence in the assessment indicates that at least one challenge rule was matched and determined whether a challenge was presented to the user.",
          "readOnly": true
        }
      },
      "description": "Information about the policy evaluation.",
      "type": "object"
    },
    "GoogleCloudRecaptchaenterpriseV1FirewallActionBlockAction": {
      "type": "object",
      "description": "A block action serves an HTTP error code a prevents the request from hitting the backend.",
      "id": "GoogleCloudRecaptchaenterpriseV1FirewallActionBlockAction",
      "properties": {}
    },
    "GoogleCloudRecaptchaenterpriseV1WebKeySettingsChallengeSettings": {
      "id": "GoogleCloudRecaptchaenterpriseV1WebKeySettingsChallengeSettings",
      "properties": {
        "defaultSettings": {
          "$ref": "GoogleCloudRecaptchaenterpriseV1WebKeySettingsActionSettings",
          "description": "Required. Defines when a challenge is triggered (unless the default threshold is overridden for the given action, see `action_settings`)."
        },
        "actionSettings": {
          "description": "Optional. The action to score threshold map. The action name should be the same as the action name passed in the `data-action` attribute (see https://cloud.google.com/recaptcha/docs/actions-website). Action names are case-insensitive. There is a maximum of 100 action settings. An action name has a maximum length of 100.",
          "type": "object",
          "additionalProperties": {
            "$ref": "GoogleCloudRecaptchaenterpriseV1WebKeySettingsActionSettings"
          }
        }
      },
      "description": "Settings for POLICY_BASED_CHALLENGE keys to control when a challenge is triggered.",
      "type": "object"
    },
    "GoogleCloudRecaptchaenterpriseV1ListKeysResponse": {
      "id": "GoogleCloudRecaptchaenterpriseV1ListKeysResponse",
      "properties": {
        "keys": {
          "description": "Key details.",
          "items": {
            "$ref": "GoogleCloudRecaptchaenterpriseV1Key"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "Token to retrieve the next page of results. It is set to empty if no keys remain in results.",
          "type": "string"
        }
      },
      "description": "Response to request to list keys in a project.",
      "type": "object"
    },
    "GoogleCloudRecaptchaenterpriseV1TestingOptions": {
      "description": "Options for user acceptance testing.",
      "id": "GoogleCloudRecaptchaenterpriseV1TestingOptions",
      "properties": {
        "testingChallenge": {
          "type": "string",
          "enumDescriptions": [
            "Perform the normal risk analysis and return either nocaptcha or a challenge depending on risk and trust factors.",
            "Challenge requests for this key always return a nocaptcha, which does not require a solution.",
            "Challenge requests for this key always return an unsolvable challenge."
          ],
          "description": "Optional. For challenge-based keys only (CHECKBOX, INVISIBLE), all challenge requests for this site return nocaptcha if NOCAPTCHA, or an unsolvable challenge if CHALLENGE.",
          "enum": [
            "TESTING_CHALLENGE_UNSPECIFIED",
            "NOCAPTCHA",
            "UNSOLVABLE_CHALLENGE"
          ]
        },
        "testingScore": {
          "type": "number",
          "format": "float",
          "description": "Optional. All assessments for this Key return this score. Must be between 0 (likely not legitimate) and 1 (likely legitimate) inclusive."
        }
      },
      "type": "object"
    },
    "GoogleCloudRecaptchaenterpriseV1FraudPreventionAssessment": {
      "description": "Assessment for Fraud Prevention.",
      "id": "GoogleCloudRecaptchaenterpriseV1FraudPreventionAssessment",
      "properties": {
        "transactionRisk": {
          "type": "number",
          "format": "float",
          "readOnly": true,
          "description": "Output only. Probability of this transaction being fraudulent. Summarizes the combined risk of attack vectors below. Values are from 0.0 (lowest) to 1.0 (highest)."
        },
        "riskReasons": {
          "description": "Output only. Reasons why the transaction is probably fraudulent and received a high transaction risk score.",
          "items": {
            "$ref": "GoogleCloudRecaptchaenterpriseV1FraudPreventionAssessmentRiskReason"
          },
          "type": "array",
          "readOnly": true
        },
        "stolenInstrumentVerdict": {
          "description": "Output only. Assessment of this transaction for risk of a stolen instrument.",
          "$ref": "GoogleCloudRecaptchaenterpriseV1FraudPreventionAssessmentStolenInstrumentVerdict",
          "readOnly": true
        },
        "cardTestingVerdict": {
          "readOnly": true,
          "description": "Output only. Assessment of this transaction for risk of being part of a card testing attack.",
          "$ref": "GoogleCloudRecaptchaenterpriseV1FraudPreventionAssessmentCardTestingVerdict"
        },
        "behavioralTrustVerdict": {
          "readOnly": true,
          "$ref": "GoogleCloudRecaptchaenterpriseV1FraudPreventionAssessmentBehavioralTrustVerdict",
          "description": "Output only. Assessment of this transaction for behavioral trust."
        }
      },
      "type": "object"
    },
    "GoogleProtobufEmpty": {
      "type": "object",
      "id": "GoogleProtobufEmpty",
      "properties": {},
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }"
    },
    "GoogleCloudRecaptchaenterpriseV1FirewallAction": {
      "type": "object",
      "id": "GoogleCloudRecaptchaenterpriseV1FirewallAction",
      "properties": {
        "block": {
          "description": "This action denies access to a given page. The user gets an HTTP error code.",
          "$ref": "GoogleCloudRecaptchaenterpriseV1FirewallActionBlockAction"
        },
        "includeRecaptchaScript": {
          "description": "This action injects reCAPTCHA JavaScript code into the HTML page returned by the site backend.",
          "$ref": "GoogleCloudRecaptchaenterpriseV1FirewallActionIncludeRecaptchaScriptAction"
        },
        "redirect": {
          "description": "This action redirects the request to a reCAPTCHA interstitial to attach a token.",
          "$ref": "GoogleCloudRecaptchaenterpriseV1FirewallActionRedirectAction"
        },
        "setHeader": {
          "description": "This action sets a custom header but allow the request to continue to the customer backend.",
          "$ref": "GoogleCloudRecaptchaenterpriseV1FirewallActionSetHeaderAction"
        },
        "substitute": {
          "$ref": "GoogleCloudRecaptchaenterpriseV1FirewallActionSubstituteAction",
          "description": "This action transparently serves a different page to an offending user."
        },
        "allow": {
          "$ref": "GoogleCloudRecaptchaenterpriseV1FirewallActionAllowAction",
          "description": "The user request did not match any policy and should be allowed access to the requested resource."
        }
      },
      "description": "An individual action. Each action represents what to do if a policy matches."
    },
    "GoogleCloudRecaptchaenterpriseV1Bot": {
      "id": "GoogleCloudRecaptchaenterpriseV1Bot",
      "properties": {
        "name": {
          "description": "Optional. Enumerated string value that indicates the identity of the bot, formatted in kebab-case. Current example values include the following: * google-agent - AI_AGENT * browser-base - AI_AGENT * chat-gpt - AI_AGENT * aws-bedrock - AI_AGENT * cybaa-bot - AI_AGENT * cloudflare - AI_AGENT * payhawk - AI_AGENT * duck-duck-go - SEARCH_INDEXER * mediaboard - CONTENT_SCRAPER * marker-io - AI_AGENT * broadcom - AI_AGENT * anchor-browser - AI_AGENT * shopify - AI_AGENT * stackscope - CONTENT_SCRAPER * manus - AI_AGENT * kernel-sh - AI_AGENT * zvelo - SEARCH_INDEXER Ensure that your applications can handle identifier values not explicitly listed here. Deprecated values might take some time to stop showing up in responses. New values can be pushed so this list should be taken as non exhaustive.",
          "type": "string"
        },
        "botType": {
          "description": "Optional. Enumerated field representing the type of bot.",
          "enum": [
            "BOT_TYPE_UNSPECIFIED",
            "AI_AGENT",
            "CONTENT_SCRAPER",
            "SEARCH_INDEXER"
          ],
          "enumDescriptions": [
            "Default unspecified type.",
            "Software program that interacts with a site and performs tasks autonomously.",
            "Software that extracts specific data from sites for use.",
            "Software that crawls sites and stores content for the purpose of efficient retrieval, likely as part of a search engine."
          ],
          "type": "string"
        }
      },
      "description": "Bot information and metadata.",
      "type": "object"
    },
    "GoogleCloudRecaptchaenterpriseV1FirewallActionIncludeRecaptchaScriptAction": {
      "id": "GoogleCloudRecaptchaenterpriseV1FirewallActionIncludeRecaptchaScriptAction",
      "properties": {},
      "description": "An include reCAPTCHA script action involves injecting reCAPTCHA JavaScript code into the HTML returned by the site backend. This reCAPTCHA script is tasked with collecting user signals on the requested web page, issuing tokens as a cookie within the site domain, and enabling their utilization in subsequent page requests.",
      "type": "object"
    },
    "GoogleCloudRecaptchaenterpriseV1ListRelatedAccountGroupMembershipsResponse": {
      "type": "object",
      "description": "The response to a `ListRelatedAccountGroupMemberships` call.",
      "id": "GoogleCloudRecaptchaenterpriseV1ListRelatedAccountGroupMembershipsResponse",
      "properties": {
        "relatedAccountGroupMemberships": {
          "type": "array",
          "description": "The memberships listed by the query.",
          "items": {
            "$ref": "GoogleCloudRecaptchaenterpriseV1RelatedAccountGroupMembership"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        }
      }
    },
    "GoogleCloudRecaptchaenterpriseV1WebKeySettingsActionSettings": {
      "description": "Per-action challenge settings.",
      "id": "GoogleCloudRecaptchaenterpriseV1WebKeySettingsActionSettings",
      "properties": {
        "scoreThreshold": {
          "description": "Required. A challenge is triggered if the end-user score is below that threshold. Value must be between 0 and 1 (inclusive).",
          "type": "number",
          "format": "float"
        }
      },
      "type": "object"
    },
    "GoogleCloudRecaptchaenterpriseV1ExpressKeySettings": {
      "type": "object",
      "id": "GoogleCloudRecaptchaenterpriseV1ExpressKeySettings",
      "properties": {},
      "description": "Settings specific to keys that can be used for reCAPTCHA Express."
    },
    "GoogleCloudRecaptchaenterpriseV1AddIpOverrideResponse": {
      "type": "object",
      "id": "GoogleCloudRecaptchaenterpriseV1AddIpOverrideResponse",
      "properties": {},
      "description": "Response for AddIpOverride."
    },
    "GoogleCloudRecaptchaenterpriseV1ChallengeRuleEvaluation": {
      "type": "object",
      "description": "Information about the evaluation of a `ChallengeRule`.",
      "id": "GoogleCloudRecaptchaenterpriseV1ChallengeRuleEvaluation",
      "properties": {}
    },
    "GoogleCloudRecaptchaenterpriseV1ScoreDistribution": {
      "id": "GoogleCloudRecaptchaenterpriseV1ScoreDistribution",
      "properties": {
        "scoreBuckets": {
          "description": "Map key is score value multiplied by 100. The scores are discrete values between [0, 1]. The maximum number of buckets is on order of a few dozen, but typically much lower (ie. 10).",
          "type": "object",
          "additionalProperties": {
            "type": "string",
            "format": "int64"
          }
        }
      },
      "description": "Score distribution.",
      "type": "object"
    },
    "GoogleCloudRecaptchaenterpriseV1FraudPreventionAssessmentBehavioralTrustVerdict": {
      "type": "object",
      "id": "GoogleCloudRecaptchaenterpriseV1FraudPreventionAssessmentBehavioralTrustVerdict",
      "properties": {
        "trust": {
          "type": "number",
          "format": "float",
          "readOnly": true,
          "description": "Output only. Probability of this transaction attempt being executed in a behaviorally trustworthy way. Values are from 0.0 (lowest) to 1.0 (highest)."
        }
      },
      "description": "Information about behavioral trust of the transaction."
    },
    "GoogleCloudRecaptchaenterpriseV1RiskAnalysis": {
      "type": "object",
      "id": "GoogleCloudRecaptchaenterpriseV1RiskAnalysis",
      "properties": {
        "lastChallengeType": {
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "Default unspecified type.",
            "A visual challenge.",
            "An audio challenge."
          ],
          "description": "Output only. Type of the last challenge presented to the user for Universal, `POLICY_BASED_CHALLENGE` and `INVISIBLE` keys. The field is only set when a challenge was presented to the user.",
          "enum": [
            "CHALLENGE_TYPE_UNSPECIFIED",
            "CHALLENGE_TYPE_VISUAL",
            "CHALLENGE_TYPE_AUDIO"
          ]
        },
        "verifiedBots": {
          "type": "array",
          "readOnly": true,
          "description": "Output only. Bots with identities that have been verified by reCAPTCHA and detected in the event.",
          "items": {
            "$ref": "GoogleCloudRecaptchaenterpriseV1Bot"
          }
        },
        "reasons": {
          "description": "Output only. Reasons contributing to the risk analysis verdict.",
          "items": {
            "enumDescriptions": [
              "Default unspecified type.",
              "Interactions matched the behavior of an automated agent.",
              "The event originated from an illegitimate environment.",
              "Traffic volume from the event source is higher than normal.",
              "Interactions with the site were significantly different than expected patterns.",
              "Too little traffic has been received from this site thus far to generate quality risk analysis.",
              "Deprecated: Use FraudPreventionAssessment.transaction_risk and FraudPreventionAssessment.RiskReason.Reason.EXCESSIVE_ENUMERATION_PATTERN instead.",
              "Deprecated: Use FraudPreventionAssessment.transaction_risk and FraudPreventionAssessment.RiskReason.Reason.ASSOCIATED_WITH_FRAUD_CLUSTER instead."
            ],
            "enum": [
              "CLASSIFICATION_REASON_UNSPECIFIED",
              "AUTOMATION",
              "UNEXPECTED_ENVIRONMENT",
              "TOO_MUCH_TRAFFIC",
              "UNEXPECTED_USAGE_PATTERNS",
              "LOW_CONFIDENCE_SCORE",
              "SUSPECTED_CARDING",
              "SUSPECTED_CHARGEBACK"
            ],
            "type": "string",
            "enumDeprecated": [
              false,
              false,
              false,
              false,
              false,
              false,
              true,
              true
            ]
          },
          "readOnly": true,
          "type": "array"
        },
        "score": {
          "description": "Output only. Legitimate event score from 0.0 to 1.0. (1.0 means very likely legitimate traffic while 0.0 means very likely non-legitimate traffic).",
          "readOnly": true,
          "type": "number",
          "format": "float"
        },
        "extendedVerdictReasons": {
          "description": "Output only. Additional reasons contributing to the risk analysis verdict. These reasons are available to Enterprise tier projects only. Contact sales for more information. The set of reasons is subject to change.",
          "items": {
            "type": "string"
          },
          "type": "array",
          "readOnly": true
        },
        "challenge": {
          "description": "Output only. Challenge information for Universal, `POLICY_BASED_CHALLENGE` and `INVISIBLE` keys.",
          "enum": [
            "CHALLENGE_UNSPECIFIED",
            "NOCAPTCHA",
            "PASSED",
            "FAILED"
          ],
          "type": "string",
          "readOnly": true,
          "enumDescriptions": [
            "Default unspecified type.",
            "No challenge was presented for solving.",
            "A solution was submitted that was correct.",
            "A solution was submitted that was incorrect or otherwise deemed suspicious."
          ]
        }
      },
      "description": "Risk analysis result for an event."
    },
    "GoogleCloudRecaptchaenterpriseV1FraudPreventionAssessmentCardTestingVerdict": {
      "type": "object",
      "id": "GoogleCloudRecaptchaenterpriseV1FraudPreventionAssessmentCardTestingVerdict",
      "properties": {
        "risk": {
          "type": "number",
          "format": "float",
          "readOnly": true,
          "description": "Output only. Probability of this transaction attempt being part of a card testing attack. Values are from 0.0 (lowest) to 1.0 (highest)."
        }
      },
      "description": "Information about card testing fraud, where an adversary is testing fraudulently obtained cards or brute forcing their details."
    },
    "GoogleCloudRecaptchaenterpriseV1RemoveIpOverrideRequest": {
      "description": "The RemoveIpOverride request message.",
      "id": "GoogleCloudRecaptchaenterpriseV1RemoveIpOverrideRequest",
      "properties": {
        "ipOverrideData": {
          "$ref": "GoogleCloudRecaptchaenterpriseV1IpOverrideData",
          "description": "Required. IP override to be removed from the key."
        }
      },
      "type": "object"
    },
    "GoogleCloudRecaptchaenterpriseV1ChallengeRuleChallengeOutcome": {
      "id": "GoogleCloudRecaptchaenterpriseV1ChallengeRuleChallengeOutcome",
      "properties": {
        "difficulty": {
          "enumDescriptions": [
            "Default type that indicates this enum hasn't been specified.",
            "Key tends to show fewer and easier challenges.",
            "Key tends to show balanced (in amount and difficulty) challenges.",
            "Key tends to show more and harder challenges."
          ],
          "description": "Optional. The difficulty of the challenge to present to the user. If unspecified, `BALANCE` is used.",
          "enum": [
            "CHALLENGE_SECURITY_PREFERENCE_UNSPECIFIED",
            "USABILITY",
            "BALANCE",
            "SECURITY"
          ],
          "type": "string"
        }
      },
      "description": "An outcome that indicates that a challenge of a specified difficulty should be presented to the user.",
      "type": "object"
    },
    "GoogleCloudRecaptchaenterpriseV1EndpointVerificationInfo": {
      "description": "Information about a verification endpoint that can be used for 2FA.",
      "id": "GoogleCloudRecaptchaenterpriseV1EndpointVerificationInfo",
      "properties": {
        "lastVerificationTime": {
          "description": "Output only. Timestamp of the last successful verification for the endpoint, if any.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "emailAddress": {
          "type": "string",
          "description": "Email address for which to trigger a verification request."
        },
        "phoneNumber": {
          "description": "Phone number for which to trigger a verification request. Should be given in E.164 format.",
          "type": "string"
        },
        "requestToken": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Token to provide to the client to trigger endpoint verification. It must be used within 15 minutes."
        }
      },
      "type": "object"
    },
    "GoogleCloudRecaptchaenterpriseV1AppleDeveloperId": {
      "id": "GoogleCloudRecaptchaenterpriseV1AppleDeveloperId",
      "properties": {
        "teamId": {
          "type": "string",
          "description": "Required. The Apple team ID (10-character string) owning the provisioning profile used to build your application."
        },
        "privateKey": {
          "description": "Required. Input only. A private key (downloaded as a text file with a .p8 file extension) generated for your Apple Developer account. Ensure that Apple DeviceCheck is enabled for the private key.",
          "type": "string"
        },
        "keyId": {
          "description": "Required. The Apple developer key ID (10-character string).",
          "type": "string"
        }
      },
      "description": "Contains fields that are required to perform Apple-specific integrity checks.",
      "type": "object"
    },
    "GoogleCloudRecaptchaenterpriseV1IOSKeySettings": {
      "type": "object",
      "description": "Settings specific to keys that can be used by iOS apps.",
      "id": "GoogleCloudRecaptchaenterpriseV1IOSKeySettings",
      "properties": {
        "allowedBundleIds": {
[...]
