{
  "discoveryVersion": "v1",
  "resources": {
    "projects": {
      "resources": {
        "keys": {
          "methods": {
            "create": {
              "path": "v1/{+parent}/keys",
              "id": "recaptchaenterprise.projects.keys.create",
              "description": "Creates a new reCAPTCHA Enterprise key.",
              "request": {
                "$ref": "GoogleCloudRecaptchaenterpriseV1Key"
              },
              "parameters": {
                "parent": {
                  "pattern": "^projects/[^/]+$",
                  "description": "Required. The name of the project in which the key is created, in the format `projects/{project}`.",
                  "type": "string",
                  "location": "path",
                  "required": true
                }
              },
              "flatPath": "v1/projects/{projectsId}/keys",
              "response": {
                "$ref": "GoogleCloudRecaptchaenterpriseV1Key"
              },
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameterOrder": [
                "parent"
              ]
            },
            "getMetrics": {
              "httpMethod": "GET",
              "id": "recaptchaenterprise.projects.keys.getMetrics",
              "response": {
                "$ref": "GoogleCloudRecaptchaenterpriseV1Metrics"
              },
              "description": "Get some aggregated metrics for a Key. This data can be used to build dashboards.",
              "path": "v1/{+name}",
              "flatPath": "v1/projects/{projectsId}/keys/{keysId}/metrics",
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "name": {
                  "type": "string",
                  "description": "Required. The name of the requested metrics, in the format `projects/{project}/keys/{key}/metrics`.",
                  "location": "path",
                  "required": true,
                  "pattern": "^projects/[^/]+/keys/[^/]+/metrics$"
                }
              }
            },
            "get": {
              "description": "Returns the specified key.",
              "parameters": {
                "name": {
                  "description": "Required. The name of the requested key, in the format `projects/{project}/keys/{key}`.",
                  "type": "string",
                  "pattern": "^projects/[^/]+/keys/[^/]+$",
                  "location": "path",
                  "required": true
                }
              },
              "path": "v1/{+name}",
              "id": "recaptchaenterprise.projects.keys.get",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "flatPath": "v1/projects/{projectsId}/keys/{keysId}",
              "httpMethod": "GET",
              "response": {
                "$ref": "GoogleCloudRecaptchaenterpriseV1Key"
              },
              "parameterOrder": [
                "name"
              ]
            },
            "updatePolicy": {
              "request": {
                "$ref": "GoogleCloudRecaptchaenterpriseV1Policy"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "GoogleCloudRecaptchaenterpriseV1Policy"
              },
              "id": "recaptchaenterprise.projects.keys.updatePolicy",
              "parameters": {
                "name": {
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "description": "Identifier. Resource name for this policy. Format: \"projects/{project}/keys/{key}/policy\" for a policy under a key.",
                  "pattern": "^projects/[^/]+/keys/[^/]+/policy$"
                },
                "updateMask": {
                  "type": "string",
                  "format": "google-fieldmask",
                  "location": "query",
                  "description": "Optional. The mask to control which fields of the policy get updated. If the mask is not present, all fields are updated."
                }
              },
              "flatPath": "v1/projects/{projectsId}/keys/{keysId}/policy",
              "httpMethod": "PATCH",
              "description": "Updates the policy for a key.",
              "path": "v1/{+name}",
              "parameterOrder": [
                "name"
              ]
            },
            "removeIpOverride": {
              "response": {
                "$ref": "GoogleCloudRecaptchaenterpriseV1RemoveIpOverrideResponse"
              },
              "request": {
                "$ref": "GoogleCloudRecaptchaenterpriseV1RemoveIpOverrideRequest"
              },
              "id": "recaptchaenterprise.projects.keys.removeIpOverride",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "name": {
                  "description": "Required. The name of the key from which the IP override is removed, in the format `projects/{project}/keys/{key}`.",
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "pattern": "^projects/[^/]+/keys/[^/]+$"
                }
              },
              "path": "v1/{+name}:removeIpOverride",
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "POST",
              "flatPath": "v1/projects/{projectsId}/keys/{keysId}:removeIpOverride",
              "description": "Removes an IP override from a key. The following restrictions hold: * If the IP isn't found in an existing IP override, a `NOT_FOUND` error is returned. * If the IP is found in an existing IP override, but the override type does not match, a `NOT_FOUND` error is returned."
            },
            "getPolicy": {
              "httpMethod": "GET",
              "id": "recaptchaenterprise.projects.keys.getPolicy",
              "path": "v1/{+name}",
              "response": {
                "$ref": "GoogleCloudRecaptchaenterpriseV1Policy"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameterOrder": [
                "name"
              ],
              "description": "Get the policy for a key.",
              "flatPath": "v1/projects/{projectsId}/keys/{keysId}/policy",
              "parameters": {
                "name": {
                  "description": "Required. The name of the policy to get, in the format `projects/{project}/keys/{key}/policy`.",
                  "location": "path",
                  "required": true,
                  "pattern": "^projects/[^/]+/keys/[^/]+/policy$",
                  "type": "string"
                }
              }
            },
            "patch": {
              "id": "recaptchaenterprise.projects.keys.patch",
              "description": "Updates the specified key.",
              "path": "v1/{+name}",
              "flatPath": "v1/projects/{projectsId}/keys/{keysId}",
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "PATCH",
              "response": {
                "$ref": "GoogleCloudRecaptchaenterpriseV1Key"
              },
              "parameters": {
                "name": {
                  "location": "path",
                  "required": true,
                  "description": "Identifier. The resource name for the Key in the format `projects/{project}/keys/{key}`.",
                  "pattern": "^projects/[^/]+/keys/[^/]+$",
                  "type": "string"
                },
                "updateMask": {
                  "location": "query",
                  "description": "Optional. The mask to control which fields of the key get updated. If the mask is not present, all fields are updated.",
                  "type": "string",
                  "format": "google-fieldmask"
                }
              },
              "request": {
                "$ref": "GoogleCloudRecaptchaenterpriseV1Key"
              }
            },
            "listIpOverrides": {
              "id": "recaptchaenterprise.projects.keys.listIpOverrides",
              "parameters": {
                "pageToken": {
                  "location": "query",
                  "type": "string",
                  "description": "Optional. The next_page_token value returned from a previous ListIpOverridesRequest, if any."
                },
                "parent": {
                  "type": "string",
                  "description": "Required. The parent key for which the IP overrides are listed, in the format `projects/{project}/keys/{key}`.",
                  "pattern": "^projects/[^/]+/keys/[^/]+$",
                  "location": "path",
                  "required": true
                },
                "pageSize": {
                  "description": "Optional. The maximum number of overrides to return. Default is 10. Max limit is 100. If the number of overrides is less than the page_size, all overrides are returned. If the page size is more than 100, it is coerced to 100.",
                  "location": "query",
                  "format": "int32",
                  "type": "integer"
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "flatPath": "v1/projects/{projectsId}/keys/{keysId}:listIpOverrides",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Lists all IP overrides for a key.",
              "path": "v1/{+parent}:listIpOverrides",
              "response": {
                "$ref": "GoogleCloudRecaptchaenterpriseV1ListIpOverridesResponse"
              },
              "httpMethod": "GET"
            },
            "delete": {
              "parameters": {
                "name": {
                  "pattern": "^projects/[^/]+/keys/[^/]+$",
                  "location": "path",
                  "required": true,
                  "description": "Required. The name of the key to be deleted, in the format `projects/{project}/keys/{key}`.",
                  "type": "string"
                }
              },
              "flatPath": "v1/projects/{projectsId}/keys/{keysId}",
              "parameterOrder": [
                "name"
              ],
              "id": "recaptchaenterprise.projects.keys.delete",
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "description": "Deletes the specified key.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "DELETE",
              "path": "v1/{+name}"
            },
            "list": {
              "response": {
                "$ref": "GoogleCloudRecaptchaenterpriseV1ListKeysResponse"
              },
              "parameters": {
                "pageToken": {
                  "location": "query",
                  "description": "Optional. The next_page_token value returned from a previous. ListKeysRequest, if any.",
                  "type": "string"
                },
                "pageSize": {
                  "location": "query",
                  "description": "Optional. The maximum number of keys to return. Default is 10. Max limit is 1000.",
                  "format": "int32",
                  "type": "integer"
                },
                "parent": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "Required. The name of the project that contains the keys that is listed, in the format `projects/{project}`.",
                  "pattern": "^projects/[^/]+$"
                }
              },
              "path": "v1/{+parent}/keys",
              "flatPath": "v1/projects/{projectsId}/keys",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "GET",
              "id": "recaptchaenterprise.projects.keys.list",
              "parameterOrder": [
                "parent"
              ],
              "description": "Returns the list of all keys that belong to a project."
            },
            "migrate": {
              "parameters": {
                "name": {
                  "location": "path",
                  "required": true,
                  "description": "Required. The name of the key to be migrated, in the format `projects/{project}/keys/{key}`.",
                  "type": "string",
                  "pattern": "^projects/[^/]+/keys/[^/]+$"
                }
              },
              "flatPath": "v1/projects/{projectsId}/keys/{keysId}:migrate",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "request": {
                "$ref": "GoogleCloudRecaptchaenterpriseV1MigrateKeyRequest"
              },
              "description": "Migrates an existing key from reCAPTCHA to reCAPTCHA Enterprise. Once a key is migrated, it can be used from either product. SiteVerify requests are billed as CreateAssessment calls. You must be authenticated as one of the current owners of the reCAPTCHA Key, and your user must have the reCAPTCHA Enterprise Admin IAM role in the destination project.",
              "path": "v1/{+name}:migrate",
              "id": "recaptchaenterprise.projects.keys.migrate",
              "response": {
                "$ref": "GoogleCloudRecaptchaenterpriseV1Key"
              },
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "POST"
            },
            "addIpOverride": {
              "request": {
                "$ref": "GoogleCloudRecaptchaenterpriseV1AddIpOverrideRequest"
              },
              "flatPath": "v1/projects/{projectsId}/keys/{keysId}:addIpOverride",
              "httpMethod": "POST",
              "description": "Adds an IP override to a key. The following restrictions hold: * The maximum number of IP overrides per key is 1000. * For any conflict (such as IP already exists or IP part of an existing IP range), an error is returned.",
              "response": {
                "$ref": "GoogleCloudRecaptchaenterpriseV1AddIpOverrideResponse"
              },
              "id": "recaptchaenterprise.projects.keys.addIpOverride",
              "parameters": {
                "name": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "Required. The name of the key to which the IP override is added, in the format `projects/{project}/keys/{key}`.",
                  "pattern": "^projects/[^/]+/keys/[^/]+$"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "path": "v1/{+name}:addIpOverride",
              "parameterOrder": [
                "name"
              ]
            },
            "retrieveLegacySecretKey": {
              "parameters": {
                "key": {
                  "description": "Required. The public key name linked to the requested secret key in the format `projects/{project}/keys/{key}`.",
                  "type": "string",
                  "pattern": "^projects/[^/]+/keys/[^/]+$",
                  "location": "path",
                  "required": true
                }
              },
              "flatPath": "v1/projects/{projectsId}/keys/{keysId}:retrieveLegacySecretKey",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Returns the secret key related to the specified public key. You must use the legacy secret key only in a 3rd party integration with legacy reCAPTCHA.",
              "path": "v1/{+key}:retrieveLegacySecretKey",
              "id": "recaptchaenterprise.projects.keys.retrieveLegacySecretKey",
              "httpMethod": "GET",
              "response": {
                "$ref": "GoogleCloudRecaptchaenterpriseV1RetrieveLegacySecretKeyResponse"
              },
              "parameterOrder": [
                "key"
              ]
            }
          }
        },
        "relatedaccountgroups": {
          "methods": {
            "list": {
              "description": "List groups of related accounts.",
              "parameters": {
                "pageSize": {
                  "location": "query",
                  "format": "int32",
                  "description": "Optional. The maximum number of groups to return. The service might return fewer than this value. If unspecified, at most 50 groups are returned. The maximum value is 1000; values above 1000 are coerced to 1000.",
                  "type": "integer"
                },
                "pageToken": {
                  "type": "string",
                  "location": "query",
                  "description": "Optional. A page token, received from a previous `ListRelatedAccountGroups` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListRelatedAccountGroups` must match the call that provided the page token."
                },
                "parent": {
                  "location": "path",
                  "required": true,
                  "pattern": "^projects/[^/]+$",
                  "type": "string",
                  "description": "Required. The name of the project to list related account groups from, in the format `projects/{project}`."
                }
              },
              "path": "v1/{+parent}/relatedaccountgroups",
              "id": "recaptchaenterprise.projects.relatedaccountgroups.list",
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "GoogleCloudRecaptchaenterpriseV1ListRelatedAccountGroupsResponse"
              },
              "flatPath": "v1/projects/{projectsId}/relatedaccountgroups",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "GET"
            }
          },
          "resources": {
            "memberships": {
              "methods": {
                "list": {
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "parent"
                  ],
                  "flatPath": "v1/projects/{projectsId}/relatedaccountgroups/{relatedaccountgroupsId}/memberships",
                  "path": "v1/{+parent}/memberships",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Get memberships in a group of related accounts.",
                  "response": {
                    "$ref": "GoogleCloudRecaptchaenterpriseV1ListRelatedAccountGroupMembershipsResponse"
                  },
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/relatedaccountgroups/[^/]+$",
                      "type": "string",
                      "description": "Required. The resource name for the related account group in the format `projects/{project}/relatedaccountgroups/{relatedaccountgroup}`."
                    },
                    "pageSize": {
                      "description": "Optional. The maximum number of accounts to return. The service might return fewer than this value. If unspecified, at most 50 accounts are returned. The maximum value is 1000; values above 1000 are coerced to 1000.",
                      "type": "integer",
                      "format": "int32",
                      "location": "query"
                    },
                    "pageToken": {
                      "location": "query",
                      "description": "Optional. A page token, received from a previous `ListRelatedAccountGroupMemberships` call. When paginating, all other parameters provided to `ListRelatedAccountGroupMemberships` must match the call that provided the page token.",
                      "type": "string"
                    }
                  },
                  "id": "recaptchaenterprise.projects.relatedaccountgroups.memberships.list"
                }
              }
            }
          }
        },
        "relatedaccountgroupmemberships": {
          "methods": {
            "search": {
              "id": "recaptchaenterprise.projects.relatedaccountgroupmemberships.search",
              "parameters": {
                "project": {
                  "description": "Required. The name of the project to search related account group memberships from. Specify the project name in the following format: `projects/{project}`.",
                  "location": "path",
                  "required": true,
                  "pattern": "^projects/[^/]+$",
                  "type": "string"
                }
              },
              "flatPath": "v1/projects/{projectsId}/relatedaccountgroupmemberships:search",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameterOrder": [
                "project"
              ],
              "path": "v1/{+project}/relatedaccountgroupmemberships:search",
              "response": {
                "$ref": "GoogleCloudRecaptchaenterpriseV1SearchRelatedAccountGroupMembershipsResponse"
              },
              "request": {
                "$ref": "GoogleCloudRecaptchaenterpriseV1SearchRelatedAccountGroupMembershipsRequest"
              },
              "httpMethod": "POST",
              "description": "Search group memberships related to a given account."
            }
          }
        },
        "firewallpolicies": {
          "methods": {
            "delete": {
              "httpMethod": "DELETE",
              "parameterOrder": [
                "name"
              ],
              "path": "v1/{+name}",
              "id": "recaptchaenterprise.projects.firewallpolicies.delete",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "flatPath": "v1/projects/{projectsId}/firewallpolicies/{firewallpoliciesId}",
              "description": "Deletes the specified firewall policy.",
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "parameters": {
                "name": {
                  "pattern": "^projects/[^/]+/firewallpolicies/[^/]+$",
                  "description": "Required. The name of the policy to be deleted, in the format `projects/{project}/firewallpolicies/{firewallpolicy}`.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              }
            },
            "list": {
              "parameterOrder": [
                "parent"
              ],
              "flatPath": "v1/projects/{projectsId}/firewallpolicies",
              "parameters": {
                "parent": {
                  "pattern": "^projects/[^/]+$",
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "description": "Required. The name of the project to list the policies for, in the format `projects/{project}`."
                },
                "pageSize": {
                  "description": "Optional. The maximum number of policies to return. Default is 10. Max limit is 1000.",
                  "format": "int32",
                  "type": "integer",
                  "location": "query"
                },
                "pageToken": {
                  "location": "query",
                  "type": "string",
                  "description": "Optional. The next_page_token value returned from a previous. ListFirewallPoliciesRequest, if any."
                }
              },
              "path": "v1/{+parent}/firewallpolicies",
              "id": "recaptchaenterprise.projects.firewallpolicies.list",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "GET",
              "response": {
                "$ref": "GoogleCloudRecaptchaenterpriseV1ListFirewallPoliciesResponse"
              },
              "description": "Returns the list of all firewall policies that belong to a project."
            },
            "create": {
              "response": {
                "$ref": "GoogleCloudRecaptchaenterpriseV1FirewallPolicy"
              },
              "parameters": {
                "parent": {
                  "pattern": "^projects/[^/]+$",
                  "type": "string",
                  "description": "Required. The name of the project this policy applies to, in the format `projects/{project}`.",
                  "location": "path",
                  "required": true
                }
              },
              "description": "Creates a new FirewallPolicy, specifying conditions at which reCAPTCHA Enterprise actions can be executed. A project may have a maximum of 1000 policies.",
              "flatPath": "v1/projects/{projectsId}/firewallpolicies",
              "id": "recaptchaenterprise.projects.firewallpolicies.create",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "POST",
              "request": {
                "$ref": "GoogleCloudRecaptchaenterpriseV1FirewallPolicy"
              },
              "parameterOrder": [
                "parent"
              ],
              "path": "v1/{+parent}/firewallpolicies"
            },
            "reorder": {
              "httpMethod": "POST",
              "response": {
                "$ref": "GoogleCloudRecaptchaenterpriseV1ReorderFirewallPoliciesResponse"
              },
              "request": {
                "$ref": "GoogleCloudRecaptchaenterpriseV1ReorderFirewallPoliciesRequest"
              },
              "description": "Reorders all firewall policies.",
              "id": "recaptchaenterprise.projects.firewallpolicies.reorder",
              "flatPath": "v1/projects/{projectsId}/firewallpolicies:reorder",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "path": "v1/{+parent}/firewallpolicies:reorder",
              "parameters": {
                "parent": {
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "pattern": "^projects/[^/]+$",
                  "description": "Required. The name of the project to list the policies for, in the format `projects/{project}`."
                }
              },
              "parameterOrder": [
                "parent"
              ]
            },
            "get": {
              "id": "recaptchaenterprise.projects.firewallpolicies.get",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "flatPath": "v1/projects/{projectsId}/firewallpolicies/{firewallpoliciesId}",
              "httpMethod": "GET",
              "parameterOrder": [
                "name"
              ],
              "path": "v1/{+name}",
              "parameters": {
                "name": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "pattern": "^projects/[^/]+/firewallpolicies/[^/]+$",
                  "description": "Required. The name of the requested policy, in the format `projects/{project}/firewallpolicies/{firewallpolicy}`."
                }
              },
              "response": {
                "$ref": "GoogleCloudRecaptchaenterpriseV1FirewallPolicy"
              },
              "description": "Returns the specified firewall policy."
            },
            "patch": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Updates the specified firewall policy.",
              "path": "v1/{+name}",
              "parameters": {
                "updateMask": {
                  "location": "query",
                  "description": "Optional. The mask to control which fields of the policy get updated. If the mask is not present, all fields are updated.",
                  "format": "google-fieldmask",
                  "type": "string"
                },
                "name": {
                  "description": "Identifier. The resource name for the FirewallPolicy in the format `projects/{project}/firewallpolicies/{firewallpolicy}`.",
                  "type": "string",
                  "pattern": "^projects/[^/]+/firewallpolicies/[^/]+$",
                  "location": "path",
                  "required": true
                }
              },
              "flatPath": "v1/projects/{projectsId}/firewallpolicies/{firewallpoliciesId}",
              "httpMethod": "PATCH",
              "request": {
                "$ref": "GoogleCloudRecaptchaenterpriseV1FirewallPolicy"
              },
              "id": "recaptchaenterprise.projects.firewallpolicies.patch",
              "response": {
                "$ref": "GoogleCloudRecaptchaenterpriseV1FirewallPolicy"
              },
              "parameterOrder": [
                "name"
              ]
            }
          }
        },
        "assessments": {
          "methods": {
            "annotate": {
              "description": "Annotates a previously created Assessment to provide additional information on whether the event turned out to be authentic or fraudulent.",
              "response": {
                "$ref": "GoogleCloudRecaptchaenterpriseV1AnnotateAssessmentResponse"
              },
              "httpMethod": "POST",
              "parameterOrder": [
                "name"
              ],
              "request": {
                "$ref": "GoogleCloudRecaptchaenterpriseV1AnnotateAssessmentRequest"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "name": {
                  "pattern": "^projects/[^/]+/assessments/[^/]+$",
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "Required. The resource name of the Assessment, in the format `projects/{project}/assessments/{assessment}`."
                }
              },
              "id": "recaptchaenterprise.projects.assessments.annotate",
              "path": "v1/{+name}:annotate",
              "flatPath": "v1/projects/{projectsId}/assessments/{assessmentsId}:annotate"
            },
            "create": {
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "GoogleCloudRecaptchaenterpriseV1Assessment"
              },
              "id": "recaptchaenterprise.projects.assessments.create",
              "flatPath": "v1/projects/{projectsId}/assessments",
              "description": "Creates an Assessment of the likelihood an event is legitimate.",
              "path": "v1/{+parent}/assessments",
              "request": {
                "$ref": "GoogleCloudRecaptchaenterpriseV1Assessment"
              },
              "parameterOrder": [
                "parent"
              ],
              "parameters": {
                "parent": {
                  "pattern": "^projects/[^/]+$",
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "description": "Required. The name of the project in which the assessment is created, in the format `projects/{project}`."
                }
              }
            }
          }
        }
      }
    }
  },
  "revision": "20260916",
  "schemas": {
    "GoogleCloudRecaptchaenterpriseV1TestingOptions": {
      "properties": {
        "testingChallenge": {
          "enumDescriptions": [
            "Perform the normal risk analysis and return either nocaptcha or a challenge depending on risk and trust factors.",
            "Challenge requests for this key always return a nocaptcha, which does not require a solution.",
            "Challenge requests for this key always return an unsolvable challenge."
          ],
          "enum": [
            "TESTING_CHALLENGE_UNSPECIFIED",
            "NOCAPTCHA",
            "UNSOLVABLE_CHALLENGE"
          ],
          "type": "string",
          "description": "Optional. For challenge-based keys only (CHECKBOX, INVISIBLE), all challenge requests for this site return nocaptcha if NOCAPTCHA, or an unsolvable challenge if CHALLENGE."
        },
        "testingScore": {
          "type": "number",
          "description": "Optional. All assessments for this Key return this score. Must be between 0 (likely not legitimate) and 1 (likely legitimate) inclusive.",
          "format": "float"
        }
      },
      "description": "Options for user acceptance testing.",
      "type": "object",
      "id": "GoogleCloudRecaptchaenterpriseV1TestingOptions"
    },
    "GoogleCloudRecaptchaenterpriseV1FirewallPolicy": {
      "type": "object",
      "properties": {
        "description": {
          "description": "Optional. A description of what this policy aims to achieve, for convenience purposes. The description can at most include 256 UTF-8 characters.",
          "type": "string"
        },
        "name": {
          "description": "Identifier. The resource name for the FirewallPolicy in the format `projects/{project}/firewallpolicies/{firewallpolicy}`.",
          "type": "string"
        },
        "condition": {
          "description": "Optional. A CEL (Common Expression Language) conditional expression that specifies if this policy applies to an incoming user request. If this condition evaluates to true and the requested path matched the path pattern, the associated actions should be executed by the caller. The condition string is checked for CEL syntax correctness on creation. For more information, see the [CEL spec](https://github.com/google/cel-spec) and its [language definition](https://github.com/google/cel-spec/blob/master/doc/langdef.md). A condition has a max length of 500 characters.",
          "type": "string"
        },
        "path": {
          "description": "Optional. The path for which this policy applies, specified as a glob pattern. For more information on glob, see the [manual page](https://man7.org/linux/man-pages/man7/glob.7.html). A path has a max length of 200 characters.",
          "type": "string"
        },
        "actions": {
          "type": "array",
          "description": "Optional. The actions that the caller should take regarding user access. There should be at most one terminal action. A terminal action is any action that forces a response, such as `AllowAction`, `BlockAction` or `SubstituteAction`. Zero or more non-terminal actions such as `SetHeader` might be specified. A single policy can contain up to 16 actions.",
          "items": {
            "$ref": "GoogleCloudRecaptchaenterpriseV1FirewallAction"
          }
        }
      },
      "description": "A FirewallPolicy represents a single matching pattern and resulting actions to take.",
      "id": "GoogleCloudRecaptchaenterpriseV1FirewallPolicy"
    },
    "GoogleCloudRecaptchaenterpriseV1ReorderFirewallPoliciesRequest": {
      "description": "The reorder firewall policies request message.",
      "properties": {
        "names": {
          "description": "Required. A list containing all policy names, in the new order. Each name is in the format `projects/{project}/firewallpolicies/{firewallpolicy}`.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object",
      "id": "GoogleCloudRecaptchaenterpriseV1ReorderFirewallPoliciesRequest"
    },
    "GoogleCloudRecaptchaenterpriseV1ScoreDistribution": {
      "type": "object",
      "properties": {
        "scoreBuckets": {
          "additionalProperties": {
            "type": "string",
            "format": "int64"
          },
          "type": "object",
          "description": "Map key is score value multiplied by 100. The scores are discrete values between [0, 1]. The maximum number of buckets is on order of a few dozen, but typically much lower (ie. 10)."
        }
      },
      "id": "GoogleCloudRecaptchaenterpriseV1ScoreDistribution",
      "description": "Score distribution."
    },
    "GoogleCloudRecaptchaenterpriseV1RelatedAccountGroup": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "Required. Identifier. The resource name for the related account group in the format `projects/{project}/relatedaccountgroups/{related_account_group}`."
        }
      },
      "id": "GoogleCloudRecaptchaenterpriseV1RelatedAccountGroup",
      "description": "A group of related accounts."
    },
    "GoogleCloudRecaptchaenterpriseV1SmsTollFraudVerdict": {
      "description": "Information about SMS toll fraud.",
      "properties": {
        "risk": {
          "format": "float",
          "type": "number",
          "description": "Output only. Probability of an SMS event being fraudulent. Values are from 0.0 (lowest) to 1.0 (highest).",
          "readOnly": true
        },
        "reasons": {
          "type": "array",
          "items": {
            "enum": [
              "SMS_TOLL_FRAUD_REASON_UNSPECIFIED",
              "INVALID_PHONE_NUMBER"
            ],
            "enumDescriptions": [
              "Default unspecified reason",
              "The provided phone number was invalid"
            ],
            "type": "string"
          },
          "description": "Output only. Reasons contributing to the SMS toll fraud verdict.",
          "readOnly": true
        }
      },
      "id": "GoogleCloudRecaptchaenterpriseV1SmsTollFraudVerdict",
      "type": "object"
    },
    "GoogleCloudRecaptchaenterpriseV1ProtectedEndpoint": {
      "description": "Configuration for an API endpoint to protect with reCAPTCHA.",
      "id": "GoogleCloudRecaptchaenterpriseV1ProtectedEndpoint",
      "type": "object",
      "properties": {
        "path": {
          "type": "string",
          "description": "Required. URI path of the API endpoint to protect. Must start with '/'. Supports glob characters '*' to match a single path segment and '**' to match multiple path segments. Standalone root catch-alls ('/*' and '/**') are invalid because it can negatively impact performance to trigger reCAPTCHA on every single request to your backend. Matching is evaluated against the URL path only (domain, scheme, and query parameters are ignored). Examples: - `/login` matches `/login`, `https://example.com/login`, and `/login?query=1`, but not `/login/step1`. - `/products/*` matches `/products/123`, but not `/products/123/456`. - `/content/**` matches `/content/articles/2024/01/01`."
        },
        "action": {
          "description": "Required. Action name to be used for token generation for this endpoint. The action name can only contain alphanumeric characters, slashes, and underscores.",
          "type": "string"
        }
      }
    },
    "GoogleCloudRecaptchaenterpriseV1AnnotateAssessmentRequest": {
      "type": "object",
      "properties": {
        "reasons": {
          "type": "array",
          "description": "Optional. Reasons for the annotation that are assigned to the event.",
          "items": {
            "enum": [
              "REASON_UNSPECIFIED",
              "CHARGEBACK",
              "CHARGEBACK_FRAUD",
              "CHARGEBACK_DISPUTE",
              "REFUND",
              "REFUND_FRAUD",
              "TRANSACTION_ACCEPTED",
              "TRANSACTION_DECLINED",
              "PAYMENT_HEURISTICS",
              "INITIATED_TWO_FACTOR",
              "PASSED_TWO_FACTOR",
              "FAILED_TWO_FACTOR",
              "CORRECT_PASSWORD",
              "INCORRECT_PASSWORD",
              "SOCIAL_SPAM"
            ],
            "enumDescriptions": [
              "Unspecified reason. Do not use.",
              "Indicates that the transaction had a chargeback issued with no other details. When possible, specify the type by using CHARGEBACK_FRAUD or CHARGEBACK_DISPUTE instead.",
              "Indicates that the transaction had a chargeback issued related to an alleged unauthorized transaction from the cardholder's perspective (for example, the card number was stolen).",
              "Indicates that the transaction had a chargeback issued related to the cardholder having provided their card details but allegedly not being satisfied with the purchase (for example, misrepresentation, attempted cancellation).",
              "Indicates that the completed payment transaction was refunded by the seller.",
              "Indicates that the completed payment transaction was determined to be fraudulent by the seller, and was cancelled and refunded as a result.",
              "Indicates that the payment transaction was accepted, and the user was charged.",
              "Indicates that the payment transaction was declined, for example due to invalid card details.",
              "Indicates the transaction associated with the assessment is suspected of being fraudulent based on the payment method, billing details, shipping address or other transaction information.",
              "Indicates that the user was served a 2FA challenge. An old assessment with `ENUM_VALUES.INITIATED_TWO_FACTOR` reason that has not been overwritten with `PASSED_TWO_FACTOR` is treated as an abandoned 2FA flow. This is equivalent to `FAILED_TWO_FACTOR`.",
              "Indicates that the user passed a 2FA challenge.",
              "Indicates that the user failed a 2FA challenge.",
              "Indicates the user provided the correct password.",
              "Indicates the user provided an incorrect password.",
              "Indicates that the user sent unwanted and abusive messages to other users of the platform, such as spam, scams, phishing, or social engineering."
            ],
            "type": "string"
          }
        },
        "hashedAccountId": {
          "type": "string",
          "description": "Optional. A stable hashed account identifier to apply to the assessment. This is an alternative to setting `hashed_account_id` in `CreateAssessment`, for example when a stable account identifier is not yet known in the initial request.",
          "format": "byte"
        },
        "annotation": {
          "enumDeprecated": [
            false,
            false,
            false,
            true,
            true
          ],
          "enumDescriptions": [
            "Default unspecified type.",
            "Provides information that the event turned out to be legitimate.",
            "Provides information that the event turned out to be fraudulent.",
            "Provides information that the event was related to a login event in which the user typed the correct password. Deprecated, prefer indicating CORRECT_PASSWORD through the reasons field instead.",
            "Provides information that the event was related to a login event in which the user typed the incorrect password. Deprecated, prefer indicating INCORRECT_PASSWORD through the reasons field instead."
          ],
          "description": "Optional. The annotation that is assigned to the Event. This field can be left empty to provide reasons that apply to an event without concluding whether the event is legitimate or fraudulent.",
          "enum": [
            "ANNOTATION_UNSPECIFIED",
            "LEGITIMATE",
            "FRAUDULENT",
            "PASSWORD_CORRECT",
            "PASSWORD_INCORRECT"
          ],
          "type": "string"
        },
        "transactionEvent": {
          "description": "Optional. If the assessment is part of a payment transaction, provide details on payment lifecycle events that occur in the transaction.",
          "$ref": "GoogleCloudRecaptchaenterpriseV1TransactionEvent"
        },
        "accountId": {
          "type": "string",
          "description": "Optional. A stable account identifier to apply to the assessment. This is an alternative to setting `account_id` in `CreateAssessment`, for example when a stable account identifier is not yet known in the initial request."
        },
        "phoneAuthenticationEvent": {
          "$ref": "GoogleCloudRecaptchaenterpriseV1PhoneAuthenticationEvent",
          "description": "Optional. If using an external multi-factor authentication provider, provide phone authentication details for fraud detection purposes."
        }
      },
      "description": "The request message to annotate an Assessment.",
      "id": "GoogleCloudRecaptchaenterpriseV1AnnotateAssessmentRequest"
    },
    "GoogleCloudRecaptchaenterpriseV1Key": {
      "type": "object",
      "description": "A key used to identify and configure applications (web and/or mobile) that use reCAPTCHA Enterprise.",
      "id": "GoogleCloudRecaptchaenterpriseV1Key",
      "properties": {
        "createTime": {
          "type": "string",
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. The timestamp corresponding to the creation of this key."
        },
        "testingOptions": {
          "$ref": "GoogleCloudRecaptchaenterpriseV1TestingOptions",
          "description": "Optional. Options for user acceptance testing."
        },
        "wafSettings": {
          "$ref": "GoogleCloudRecaptchaenterpriseV1WafSettings",
          "description": "Optional. Settings for Web Application Firewall (WAF)."
        },
        "labels": {
          "type": "object",
          "description": "Optional. See [Creating and managing labels] (https://cloud.google.com/recaptcha/docs/labels).",
          "additionalProperties": {
            "type": "string"
          }
        },
        "iosSettings": {
          "description": "Settings for keys that can be used by iOS apps.",
          "$ref": "GoogleCloudRecaptchaenterpriseV1IOSKeySettings"
        },
        "displayName": {
          "type": "string",
          "description": "Required. Human-readable display name of this key. Modifiable by user."
        },
        "universalSettings": {
          "description": "Settings for keys that are configured through their Policy.",
          "$ref": "GoogleCloudRecaptchaenterpriseV1UniversalKeySettings"
        },
        "androidSettings": {
          "$ref": "GoogleCloudRecaptchaenterpriseV1AndroidKeySettings",
          "description": "Settings for keys that can be used by Android apps."
        },
        "webSettings": {
          "$ref": "GoogleCloudRecaptchaenterpriseV1WebKeySettings",
          "description": "Settings for keys that can be used by websites."
        },
        "expressSettings": {
          "$ref": "GoogleCloudRecaptchaenterpriseV1ExpressKeySettings",
          "description": "Settings for keys that can be used by reCAPTCHA Express."
        },
        "name": {
          "description": "Identifier. The resource name for the Key in the format `projects/{project}/keys/{key}`.",
          "type": "string"
        }
      }
    },
    "GoogleCloudRecaptchaenterpriseV1AssessmentEnvironment": {
      "id": "GoogleCloudRecaptchaenterpriseV1AssessmentEnvironment",
      "properties": {
        "version": {
          "description": "Optional. The version of the client module. For example, \"1.0.0\".",
          "type": "string"
        },
        "client": {
          "type": "string",
          "description": "Optional. Identifies the client module initiating the CreateAssessment request. This can be the link to the client module's project. Examples include: - \"github.com/GoogleCloudPlatform/recaptcha-enterprise-google-tag-manager\" - \"wordpress.org/plugins/recaptcha-something\""
        }
      },
      "description": "The environment creating the assessment. This describes your environment (the system invoking CreateAssessment), NOT the environment of your user.",
      "type": "object"
    },
    "GoogleCloudRecaptchaenterpriseV1FirewallActionSubstituteAction": {
      "properties": {
        "path": {
          "description": "Optional. The address to redirect to. The target is a relative path in the current host. Example: \"/blog/404.html\".",
          "type": "string"
        }
      },
      "type": "object",
      "description": "A substitute action transparently serves a different page than the one requested.",
      "id": "GoogleCloudRecaptchaenterpriseV1FirewallActionSubstituteAction"
    },
    "GoogleCloudRecaptchaenterpriseV1ListFirewallPoliciesResponse": {
      "description": "Response to request to list firewall policies belonging to a project.",
      "type": "object",
      "id": "GoogleCloudRecaptchaenterpriseV1ListFirewallPoliciesResponse",
      "properties": {
        "firewallPolicies": {
          "description": "Policy details.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudRecaptchaenterpriseV1FirewallPolicy"
          }
        },
        "nextPageToken": {
          "description": "Token to retrieve the next page of results. It is set to empty if no policies remain in results.",
          "type": "string"
        }
      }
    },
    "GoogleCloudRecaptchaenterpriseV1SearchRelatedAccountGroupMembershipsResponse": {
      "description": "The response to a `SearchRelatedAccountGroupMemberships` call.",
      "id": "GoogleCloudRecaptchaenterpriseV1SearchRelatedAccountGroupMembershipsResponse",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "relatedAccountGroupMemberships": {
          "items": {
            "$ref": "GoogleCloudRecaptchaenterpriseV1RelatedAccountGroupMembership"
          },
          "description": "The queried memberships.",
          "type": "array"
        }
      }
    },
    "GoogleCloudRecaptchaenterpriseV1ChallengeRuleChallengeOutcome": {
      "id": "GoogleCloudRecaptchaenterpriseV1ChallengeRuleChallengeOutcome",
      "description": "An outcome that indicates that a challenge of a specified difficulty should be presented to the user.",
      "type": "object",
      "properties": {
        "difficulty": {
          "enumDescriptions": [
            "Default type that indicates this enum hasn't been specified.",
            "Key tends to show fewer and easier challenges.",
            "Key tends to show balanced (in amount and difficulty) challenges.",
            "Key tends to show more and harder challenges."
          ],
          "enum": [
            "CHALLENGE_SECURITY_PREFERENCE_UNSPECIFIED",
            "USABILITY",
            "BALANCE",
            "SECURITY"
          ],
          "description": "Optional. The difficulty of the challenge to present to the user. If unspecified, `BALANCE` is used.",
          "type": "string"
        }
      }
    },
    "GoogleCloudRecaptchaenterpriseV1IpOverrideData": {
      "type": "object",
      "properties": {
        "ip": {
          "description": "Required. The IP address to override (can be IPv4, IPv6 or CIDR). The IP override must be a valid IPv4 or IPv6 address, or a CIDR range. The IP override must be a public IP address. Example of IPv4: 168.192.5.6 Example of IPv6: 2001:0000:130F:0000:0000:09C0:876A:130B Example of IPv4 with CIDR: 168.192.5.0/24 Example of IPv6 with CIDR: 2001:0DB8:1234::/48",
          "type": "string"
        },
        "overrideType": {
          "type": "string",
          "enumDescriptions": [
            "Default override type that indicates this enum hasn't been specified.",
            "Allowlist the IP address; i.e. give a `risk_analysis.score` of 0.9 for all valid assessments."
          ],
          "description": "Required. Describes the type of IP override.",
          "enum": [
            "OVERRIDE_TYPE_UNSPECIFIED",
            "ALLOW"
          ]
        }
      },
      "id": "GoogleCloudRecaptchaenterpriseV1IpOverrideData",
      "description": "Information about the IP or IP range override."
    },
    "GoogleCloudRecaptchaenterpriseV1AddIpOverrideRequest": {
      "id": "GoogleCloudRecaptchaenterpriseV1AddIpOverrideRequest",
      "properties": {
        "ipOverrideData": {
          "description": "Required. IP override added to the key.",
          "$ref": "GoogleCloudRecaptchaenterpriseV1IpOverrideData"
        }
      },
      "description": "The AddIpOverride request message.",
      "type": "object"
    },
    "GoogleCloudRecaptchaenterpriseV1RiskAnalysis": {
      "type": "object",
      "properties": {
        "extendedVerdictReasons": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Output only. Additional reasons contributing to the risk analysis verdict. These reasons are available to Enterprise tier projects only. Contact sales for more information. The set of reasons is subject to change.",
          "readOnly": true
        },
        "verifiedBots": {
          "items": {
            "$ref": "GoogleCloudRecaptchaenterpriseV1Bot"
          },
          "description": "Output only. Bots with identities that have been verified by reCAPTCHA and detected in the event.",
          "readOnly": true,
          "type": "array"
        },
        "score": {
          "format": "float",
          "readOnly": true,
          "type": "number",
          "description": "Output only. Legitimate event score from 0.0 to 1.0. (1.0 means very likely legitimate traffic while 0.0 means very likely non-legitimate traffic)."
        },
        "lastChallengeType": {
          "readOnly": true,
          "enum": [
            "CHALLENGE_TYPE_UNSPECIFIED",
            "CHALLENGE_TYPE_VISUAL",
            "CHALLENGE_TYPE_AUDIO"
          ],
          "type": "string",
          "description": "Output only. Type of the last challenge presented to the user for Universal, `POLICY_BASED_CHALLENGE` and `INVISIBLE` keys. The field is only set when a challenge was presented to the user.",
          "enumDescriptions": [
            "Default unspecified type.",
            "A visual challenge.",
            "An audio challenge."
          ]
        },
        "challenge": {
          "description": "Output only. Challenge information for Universal, `POLICY_BASED_CHALLENGE` and `INVISIBLE` keys.",
          "enumDescriptions": [
            "Default unspecified type.",
            "No challenge was presented for solving.",
            "A solution was submitted that was correct.",
            "A solution was submitted that was incorrect or otherwise deemed suspicious."
          ],
          "enum": [
            "CHALLENGE_UNSPECIFIED",
            "NOCAPTCHA",
            "PASSED",
            "FAILED"
          ],
          "type": "string",
          "readOnly": true
        },
        "reasons": {
          "type": "array",
          "readOnly": true,
          "description": "Output only. Reasons contributing to the risk analysis verdict.",
          "items": {
            "type": "string",
            "enumDescriptions": [
              "Default unspecified type.",
              "Interactions matched the behavior of an automated agent.",
              "The event originated from an illegitimate environment.",
              "Traffic volume from the event source is higher than normal.",
              "Interactions with the site were significantly different than expected patterns.",
              "Too little traffic has been received from this site thus far to generate quality risk analysis.",
              "Deprecated: Use FraudPreventionAssessment.transaction_risk and FraudPreventionAssessment.RiskReason.Reason.EXCESSIVE_ENUMERATION_PATTERN instead.",
              "Deprecated: Use FraudPreventionAssessment.transaction_risk and FraudPreventionAssessment.RiskReason.Reason.ASSOCIATED_WITH_FRAUD_CLUSTER instead."
            ],
            "enum": [
              "CLASSIFICATION_REASON_UNSPECIFIED",
              "AUTOMATION",
              "UNEXPECTED_ENVIRONMENT",
              "TOO_MUCH_TRAFFIC",
              "UNEXPECTED_USAGE_PATTERNS",
              "LOW_CONFIDENCE_SCORE",
              "SUSPECTED_CARDING",
              "SUSPECTED_CHARGEBACK"
            ],
            "enumDeprecated": [
              false,
              false,
              false,
              false,
              false,
              false,
              true,
              true
            ]
          }
        }
      },
      "id": "GoogleCloudRecaptchaenterpriseV1RiskAnalysis",
      "description": "Risk analysis result for an event."
    },
    "GoogleCloudRecaptchaenterpriseV1ClientSettings": {
      "properties": {
        "allowAllDomains": {
          "type": "boolean",
          "description": "Optional. If set to true, it means allowed_domains are not enforced."
        },
        "allowedDomains": {
          "items": {
            "type": "string"
          },
          "description": "Optional. Domains or subdomains of websites allowed to use the policy. All subdomains of an allowed domain are automatically allowed. A valid domain requires a host and must not include any path, port, query or fragment. Examples: 'example.com' or 'subdomain.example.com' Each policy supports a maximum of 250 domains. To use a policy on more domains, set `allow_all_domains` to true. When this is set, you are responsible for validating the hostname by checking the `token_properties.hostname` field in each assessment response against your list of allowed domains.",
          "type": "array"
        },
        "protectedEndpointGroup": {
          "description": "Optional. Configuration for all API endpoints to protect with reCAPTCHA. If this field is not set, reCAPTCHA will not automatically request tokens on any API endpoints.",
          "$ref": "GoogleCloudRecaptchaenterpriseV1ProtectedEndpointGroup"
        }
      },
      "description": "Configuration for clients to protect with reCAPTCHA.",
      "id": "GoogleCloudRecaptchaenterpriseV1ClientSettings",
      "type": "object"
    },
    "GoogleCloudRecaptchaenterpriseV1RetrieveLegacySecretKeyResponse": {
      "properties": {
        "legacySecretKey": {
          "description": "The secret key (also known as shared secret) authorizes communication between your application backend and the reCAPTCHA Enterprise server to create an assessment. The secret key needs to be kept safe for security purposes.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudRecaptchaenterpriseV1RetrieveLegacySecretKeyResponse",
      "description": "Secret key is used only in legacy reCAPTCHA. It must be used in a 3rd party integration with legacy reCAPTCHA."
    },
    "GoogleCloudRecaptchaenterpriseV1TransactionDataAddress": {
      "description": "Structured address format for billing and shipping addresses.",
      "id": "GoogleCloudRecaptchaenterpriseV1TransactionDataAddress",
      "properties": {
        "administrativeArea": {
          "description": "Optional. The state, province, or otherwise administrative area of the address.",
          "type": "string"
        },
        "postalCode": {
          "description": "Optional. The postal or ZIP code of the address.",
          "type": "string"
        },
        "locality": {
          "description": "Optional. The town/city of the address.",
          "type": "string"
        },
        "regionCode": {
          "description": "Optional. The CLDR country/region of the address.",
          "type": "string"
        },
        "recipient": {
          "type": "string",
          "description": "Optional. The recipient name, potentially including information such as \"care of\"."
        },
        "address": {
          "type": "array",
          "description": "Optional. The first lines of the address. The first line generally contains the street name and number, and further lines may include information such as an apartment number.",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object"
    },
    "GoogleCloudRecaptchaenterpriseV1FraudPreventionAssessmentRiskReason": {
      "description": "Risk reasons applicable to the Fraud Prevention assessment.",
      "type": "object",
      "properties": {
        "reason": {
          "description": "Output only. Risk reasons applicable to the Fraud Prevention assessment.",
          "type": "string",
          "enum": [
            "REASON_UNSPECIFIED",
            "HIGH_TRANSACTION_VELOCITY",
            "EXCESSIVE_ENUMERATION_PATTERN",
            "SHORT_IDENTITY_HISTORY",
            "GEOLOCATION_DISCREPANCY",
            "ASSOCIATED_WITH_FRAUD_CLUSTER"
          ],
          "readOnly": true,
          "enumDescriptions": [
            "Default unspecified type.",
            "A suspiciously high number of recent transactions have used identifiers present in this transaction.",
            "User is cycling through a suspiciously large number of identifiers, suggesting enumeration or validation attacks within a potential fraud network.",
            "User has a short history or no history in the reCAPTCHA network, suggesting the possibility of synthetic identity generation.",
            "Identifiers used in this transaction originate from an unusual or conflicting set of geolocations.",
            "This transaction is linked to a cluster of known fraudulent activity."
          ]
        }
      },
      "id": "GoogleCloudRecaptchaenterpriseV1FraudPreventionAssessmentRiskReason"
    },
    "GoogleRpcStatus": {
      "type": "object",
      "properties": {
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        },
        "details": {
          "items": {
            "additionalProperties": {
              "description": "Properties of the object. Contains field @type with type URL.",
              "type": "any"
            },
            "type": "object"
          },
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "type": "array"
        },
        "code": {
          "type": "integer",
          "format": "int32",
          "description": "The status code, which should be an enum value of google.rpc.Code."
        }
      },
      "id": "GoogleRpcStatus",
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors)."
    },
    "GoogleCloudRecaptchaenterpriseV1ChallengeRuleGroup": {
      "description": "A collection of challenge rules that applies to one or more actions.",
      "properties": {
        "actions": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Required. Action name provided at token generation. The action name is not case-sensitive and can only contain alphanumeric characters, slashes, and underscores. If \"*\" is provided, the rule group applies to all actions. If multiple actions are provided, the rule group is applied to all of them. This field is required."
        },
        "challengeRules": {
          "description": "Required. A list of rules that configure when and how reCAPTCHA presents a challenge. reCAPTCHA evaluates these rules in order and applies the first one that matches.",
          "items": {
            "$ref": "GoogleCloudRecaptchaenterpriseV1ChallengeRule"
          },
          "type": "array"
        }
      },
      "id": "GoogleCloudRecaptchaenterpriseV1ChallengeRuleGroup",
      "type": "object"
    },
    "GoogleCloudRecaptchaenterpriseV1UserInfo": {
      "id": "GoogleCloudRecaptchaenterpriseV1UserInfo",
      "description": "User information associated with a request protected by reCAPTCHA Enterprise.",
      "type": "object",
      "properties": {
        "userIds": {
          "description": "Optional. Identifiers associated with this user or request.",
          "items": {
            "$ref": "GoogleCloudRecaptchaenterpriseV1UserId"
          },
          "type": "array"
        },
        "accountId": {
          "type": "string",
          "description": "Optional. For logged-in requests or login/registration requests, the unique account identifier associated with this user. You can use the username if it is stable (meaning it is the same for every request associated with the same user), or any stable user ID of your choice. Leave blank for non logged-in actions or guest checkout."
        },
        "createAccountTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Optional. Creation time for this account associated with this user. Leave blank for non logged-in actions, guest checkout, or when there is no account associated with the current user."
        }
      }
    },
    "GoogleCloudRecaptchaenterpriseV1PhoneAuthenticationEvent": {
      "type": "object",
      "properties": {
        "phoneNumber": {
          "description": "Required. Phone number in E.164 format for which a multi-factor authentication challenge was initiated, succeeded, or failed.",
          "type": "string"
        },
        "eventTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Optional. The time at which the multi-factor authentication event (challenge or verification) occurred."
        }
      },
      "id": "GoogleCloudRecaptchaenterpriseV1PhoneAuthenticationEvent",
      "description": "Details on a phone authentication event"
    },
    "GoogleCloudRecaptchaenterpriseV1ListKeysResponse": {
      "description": "Response to request to list keys in a project.",
      "type": "object",
      "id": "GoogleCloudRecaptchaenterpriseV1ListKeysResponse",
      "properties": {
        "keys": {
          "description": "Key details.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudRecaptchaenterpriseV1Key"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "Token to retrieve the next page of results. It is set to empty if no keys remain in results."
        }
      }
    },
    "GoogleCloudRecaptchaenterpriseV1EndpointVerificationInfo": {
      "id": "GoogleCloudRecaptchaenterpriseV1EndpointVerificationInfo",
      "properties": {
        "requestToken": {
          "description": "Output only. Token to provide to the client to trigger endpoint verification. It must be used within 15 minutes.",
          "readOnly": true,
          "type": "string"
        },
        "lastVerificationTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. Timestamp of the last successful verification for the endpoint, if any."
        },
        "phoneNumber": {
          "type": "string",
          "description": "Phone number for which to trigger a verification request. Should be given in E.164 format."
        },
        "emailAddress": {
          "type": "string",
          "description": "Email address for which to trigger a verification request."
        }
      },
      "description": "Information about a verification endpoint that can be used for 2FA.",
      "type": "object"
    },
    "GoogleCloudRecaptchaenterpriseV1FirewallActionRedirectAction": {
      "id": "GoogleCloudRecaptchaenterpriseV1FirewallActionRedirectAction",
      "type": "object",
      "description": "A redirect action returns a 307 (temporary redirect) response, pointing the user to a reCAPTCHA interstitial page to attach a token.",
      "properties": {}
    },
    "GoogleCloudRecaptchaenterpriseV1FirewallPolicyAssessment": {
      "id": "GoogleCloudRecaptchaenterpriseV1FirewallPolicyAssessment",
      "type": "object",
      "properties": {
        "error": {
          "readOnly": true,
          "$ref": "GoogleRpcStatus",
          "description": "Output only. If the processing of a policy config fails, an error is populated and the firewall_policy is left empty."
        },
        "firewallPolicy": {
          "$ref": "GoogleCloudRecaptchaenterpriseV1FirewallPolicy",
          "description": "Output only. The policy that matched the request. If more than one policy may match, this is the first match. If no policy matches the incoming request, the policy field is left empty.",
          "readOnly": true
        }
      },
      "description": "Policy config assessment."
    },
    "GoogleCloudRecaptchaenterpriseV1RelatedAccountGroupMembership": {
      "description": "A membership in a group of related accounts.",
      "id": "GoogleCloudRecaptchaenterpriseV1RelatedAccountGroupMembership",
      "properties": {
        "name": {
          "description": "Required. Identifier. The resource name for this membership in the format `projects/{project}/relatedaccountgroups/{relatedaccountgroup}/memberships/{membership}`.",
          "type": "string"
        },
        "hashedAccountId": {
          "type": "string",
          "format": "byte",
          "description": "Deprecated: use `account_id` instead. The unique stable hashed account identifier of the member. The identifier corresponds to a `hashed_account_id` provided in a previous `CreateAssessment` or `AnnotateAssessment` call.",
          "deprecated": true
        },
        "accountId": {
          "description": "The unique stable account identifier of the member. The identifier corresponds to an `account_id` provided in a previous `CreateAssessment` or `AnnotateAssessment` call.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudRecaptchaenterpriseV1Metrics": {
      "properties": {
        "scoreMetrics": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudRecaptchaenterpriseV1ScoreMetrics"
          },
          "description": "Metrics are continuous and in order by dates, and in the granularity of day. All Key types should have score-based data."
        },
        "name": {
          "readOnly": true,
          "description": "Output only. Identifier. The name of the metrics, in the format `projects/{project}/keys/{key}/metrics`.",
          "type": "string"
        },
        "startTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Inclusive start time aligned to a day in the America/Los_Angeles (Pacific) timezone."
        },
        "challengeMetrics": {
          "type": "array",
          "description": "Metrics are continuous and in order by dates, and in the granularity of day. Only challenge-based keys (CHECKBOX, INVISIBLE) have challenge-based data.",
          "items": {
            "$ref": "GoogleCloudRecaptchaenterpriseV1ChallengeMetrics"
          }
        }
      },
      "type": "object",
      "description": "Metrics for a single Key.",
      "id": "GoogleCloudRecaptchaenterpriseV1Metrics"
    },
    "GoogleCloudRecaptchaenterpriseV1ProtectedEndpointGroup": {
      "id": "GoogleCloudRecaptchaenterpriseV1ProtectedEndpointGroup",
      "type": "object",
      "properties": {
        "protectedEndpoints": {
          "description": "Optional. List of API endpoints to automatically protect with reCAPTCHA. If any of these endpoints is invoked from a page where a key bound to this policy is installed, a reCAPTCHA token is automatically generated and attached to the request. If multiple protected endpoints match a given API endpoint, the first one in the list is used.",
          "items": {
            "$ref": "GoogleCloudRecaptchaenterpriseV1ProtectedEndpoint"
          },
          "type": "array"
        }
      },
      "description": "Configuration for API endpoints to protect with reCAPTCHA."
    },
    "GoogleCloudRecaptchaenterpriseV1ChallengeRuleEvaluation": {
      "id": "GoogleCloudRecaptchaenterpriseV1ChallengeRuleEvaluation",
      "type": "object",
      "properties": {},
      "description": "Information about the evaluation of a `ChallengeRule`."
    },
    "GoogleCloudRecaptchaenterpriseV1Policy": {
      "properties": {
        "clientSettings": {
          "description": "Required. Configuration for clients protected by this policy.",
          "$ref": "GoogleCloudRecaptchaenterpriseV1ClientSettings"
        },
        "challengeRuleGroups": {
          "description": "Optional. Rules to configure the behavior of reCAPTCHA for showing a challenge. Rule groups are evaluated in order. Evaluation stops when the first matching rule group is found.",
          "items": {
            "$ref": "GoogleCloudRecaptchaenterpriseV1ChallengeRuleGroup"
          },
          "type": "array"
        },
        "name": {
          "type": "string",
          "description": "Identifier. Resource name for this policy. Format: \"projects/{project}/keys/{key}/policy\" for a policy under a key."
        }
      },
      "description": "A complete configuration set containing multiple grouped rules defining the behavior of reCAPTCHA for fraud detection and prevention.",
      "id": "GoogleCloudRecaptchaenterpriseV1Policy",
      "type": "object"
    },
    "GoogleCloudRecaptchaenterpriseV1AppleDeveloperId": {
      "properties": {
        "keyId": {
          "description": "Required. The Apple developer key ID (10-character string).",
          "type": "string"
        },
        "privateKey": {
          "type": "string",
          "description": "Required. Input only. A private key (downloaded as a text file with a .p8 file extension) generated for your Apple Developer account. Ensure that Apple DeviceCheck is enabled for the private key."
        },
        "teamId": {
          "type": "string",
          "description": "Required. The Apple team ID (10-character string) owning the provisioning profile used to build your application."
        }
      },
      "type": "object",
      "id": "GoogleCloudRecaptchaenterpriseV1AppleDeveloperId",
      "description": "Contains fields that are required to perform Apple-specific integrity checks."
    },
    "GoogleCloudRecaptchaenterpriseV1FraudPreventionAssessmentStolenInstrumentVerdict": {
      "properties": {
        "risk": {
          "format": "float",
          "type": "number",
          "description": "Output only. Probability of this transaction being executed with a stolen instrument. Values are from 0.0 (lowest) to 1.0 (highest).",
          "readOnly": true
        }
      },
      "id": "GoogleCloudRecaptchaenterpriseV1FraudPreventionAssessmentStolenInstrumentVerdict",
      "description": "Information about stolen instrument fraud, where the user is not the legitimate owner of the instrument being used for the purchase.",
      "type": "object"
    },
    "GoogleCloudRecaptchaenterpriseV1ChallengeMetrics": {
      "properties": {
        "passedCount": {
          "description": "Count of nocaptchas (successful verification without a challenge) plus submitted challenge solutions that were correct and resulted in verification.",
          "format": "int64",
          "type": "string"
        },
        "failedCount": {
          "type": "string",
          "description": "Count of submitted challenge solutions that were incorrect or otherwise deemed suspicious such that a subsequent challenge was triggered.",
          "format": "int64"
        },
        "nocaptchaCount": {
          "type": "string",
          "description": "Count of nocaptchas (successful verification without a challenge) issued.",
          "format": "int64"
        },
        "pageloadCount": {
          "description": "Count of reCAPTCHA checkboxes or badges rendered. This is mostly equivalent to a count of pageloads for pages that include reCAPTCHA.",
          "format": "int64",
          "type": "string"
        }
      },
      "description": "Metrics related to challenges.",
      "id": "GoogleCloudRecaptchaenterpriseV1ChallengeMetrics",
      "type": "object"
    },
    "GoogleCloudRecaptchaenterpriseV1FraudPreventionAssessmentBehavioralTrustVerdict": {
      "type": "object",
      "id": "GoogleCloudRecaptchaenterpriseV1FraudPreventionAssessmentBehavioralTrustVerdict",
      "properties": {
        "trust": {
          "type": "number",
          "format": "float",
          "readOnly": true,
          "description": "Output only. Probability of this transaction attempt being executed in a behaviorally trustworthy way. Values are from 0.0 (lowest) to 1.0 (highest)."
        }
      },
      "description": "Information about behavioral trust of the transaction."
    },
    "GoogleCloudRecaptchaenterpriseV1ListIpOverridesResponse": {
      "description": "Response for ListIpOverrides.",
      "properties": {
        "nextPageToken": {
          "description": "Token to retrieve the next page of results. If this field is empty, no keys remain in the results.",
          "type": "string"
        },
        "ipOverrides": {
          "items": {
            "$ref": "GoogleCloudRecaptchaenterpriseV1IpOverrideData"
          },
          "type": "array",
          "description": "IP Overrides details."
        }
      },
      "type": "object",
      "id": "GoogleCloudRecaptchaenterpriseV1ListIpOverridesResponse"
    },
    "GoogleCloudRecaptchaenterpriseV1AccountDefenderAssessmentAccountTrustReason": {
      "description": "Trust explainability reasons for Account defense.",
      "type": "object",
      "id": "GoogleCloudRecaptchaenterpriseV1AccountDefenderAssessmentAccountTrustReason",
      "properties": {
        "reason": {
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "Default unspecified type.",
            "The request matches a trusted profile associated with this account. Equivalent to `AccountDefenderLabel.PROFILE_MATCH`.",
            "The account's historical activity is reputable. It is unlikely that the account has been compromised in the past.",
            "The identity shows a global pattern of reputable activity based on `userInfo` and associated identifiers.",
            "The identity shows a long-standing history of reputable activity based on `userInfo` and associated identifiers."
          ],
          "description": "Output only. A trust reason associated with this request.",
          "enum": [
            "TRUST_REASON_UNSPECIFIED",
            "PROFILE_MATCH",
            "ACCOUNT_HISTORY_REPUTABLE",
            "IDENTITY_GLOBAL_ACTIVITY_REPUTABLE",
            "IDENTITY_HISTORY_REPUTABLE"
          ]
        }
      }
    },
    "GoogleCloudRecaptchaenterpriseV1AccountDefenderAssessmentAccountTakeoverVerdict": {
      "id": "GoogleCloudRecaptchaenterpriseV1AccountDefenderAssessmentAccountTakeoverVerdict",
      "type": "object",
      "description": "Account takeover risk assessment.",
      "properties": {
        "trustReasons": {
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "GoogleCloudRecaptchaenterpriseV1AccountDefenderAssessmentAccountTrustReason"
          },
          "description": "Output only. Unordered list. Reasons why the request appears trustworthy. Trust reasons can be returned even if the risk is high, as risky requests can still have some trust signals."
        },
        "riskReasons": {
          "items": {
            "$ref": "GoogleCloudRecaptchaenterpriseV1AccountDefenderAssessmentAccountRiskReason"
          },
          "readOnly": true,
          "description": "Output only. Unordered list. Reasons why the request appears risky. Risk reasons can be returned even if the risk is low, as trustworthy requests can still have some risk signals.",
          "type": "array"
        },
        "risk": {
          "format": "float",
          "type": "number",
          "readOnly": true,
          "description": "Output only. Account takeover attempt probability. Values are from 0.0 (lowest risk) to 1.0 (highest risk)."
        }
      }
    },
    "GoogleCloudRecaptchaenterpriseV1Bot": {
      "id": "GoogleCloudRecaptchaenterpriseV1Bot",
      "type": "object",
      "description": "Bot information and metadata.",
      "properties": {
        "name": {
          "description": "Optional. Enumerated string value that indicates the identity of the bot, formatted in kebab-case. Current example values include the following: * google-agent - AI_AGENT * browser-base - AI_AGENT * chat-gpt - AI_AGENT * aws-bedrock - AI_AGENT * cybaa-bot - AI_AGENT * cloudflare - AI_AGENT * payhawk - AI_AGENT * duck-duck-go - SEARCH_INDEXER * mediaboard - CONTENT_SCRAPER * marker-io - AI_AGENT * broadcom - AI_AGENT * anchor-browser - AI_AGENT * shopify - AI_AGENT * stackscope - CONTENT_SCRAPER * manus - AI_AGENT * kernel-sh - AI_AGENT * zvelo - SEARCH_INDEXER Ensure that your applications can handle identifier values not explicitly listed here. Deprecated values might take some time to stop showing up in responses. New values can be pushed so this list should be taken as non exhaustive.",
          "type": "string"
        },
        "botType": {
          "enum": [
            "BOT_TYPE_UNSPECIFIED",
            "AI_AGENT",
            "CONTENT_SCRAPER",
            "SEARCH_INDEXER"
          ],
          "enumDescriptions": [
            "Default unspecified type.",
            "Software program that interacts with a site and performs tasks autonomously.",
            "Software that extracts specific data from sites for use.",
            "Software that crawls sites and stores content for the purpose of efficient retrieval, likely as part of a search engine."
          ],
          "description": "Optional. Enumerated field representing the type of bot.",
          "type": "string"
        }
      }
    },
    "GoogleCloudRecaptchaenterpriseV1IOSKeySettings": {
      "properties": {
        "allowedBundleIds": {
          "type": "array",
          "description": "Optional. iOS bundle IDs of apps allowed to use the key. Example: 'com.companyname.productname.appname' Each key supports a maximum of 250 bundle IDs. To use a key on more apps, set `allow_all_bundle_ids` to true. When this is set, you are responsible for validating the bundle id by checking the `token_properties.ios_bundle_id` field in each assessment response against your list of allowed bundle IDs.",
          "items": {
            "type": "string"
          }
        },
        "appleDeveloperId": {
          "description": "Optional. Apple Developer account details for the app that is protected by the reCAPTCHA Key. reCAPTCHA leverages platform-specific checks like Apple App Attest and Apple DeviceCheck to protect your app from abuse. Providing these fields allows reCAPTCHA to get a better assessment of the integrity of your app.",
          "$ref": "GoogleCloudRecaptchaenterpriseV1AppleDeveloperId"
        },
        "allowAllBundleIds": {
          "description": "Optional. If set to true, allowed_bundle_ids are not enforced.",
          "type": "boolean"
        }
      },
      "description": "Settings specific to keys that can be used by iOS apps.",
      "type": "object",
      "id": "GoogleCloudRecaptchaenterpriseV1IOSKeySettings"
    },
    "GoogleCloudRecaptchaenterpriseV1AddIpOverrideResponse": {
      "type": "object",
      "id": "GoogleCloudRecaptchaenterpriseV1AddIpOverrideResponse",
      "properties": {},
      "description": "Response for AddIpOverride."
    },
    "GoogleCloudRecaptchaenterpriseV1FraudSignalsUserSignals": {
      "description": "Signals describing the user involved in this transaction.",
      "properties": {
        "activeDaysLowerBound": {
          "format": "int32",
          "description": "Output only. This user (based on email, phone, and other identifiers) has been seen on the internet for at least this number of days.",
          "readOnly": true,
          "type": "integer"
        },
        "syntheticRisk": {
          "description": "Output only. Likelihood (from 0.0 to 1.0) this user includes synthetic components in their identity, such as a randomly generated email address, temporary phone number, or fake shipping address.",
          "format": "float",
          "type": "number",
          "readOnly": true
        }
      },
      "id": "GoogleCloudRecaptchaenterpriseV1FraudSignalsUserSignals",
      "type": "object"
    },
    "GoogleCloudRecaptchaenterpriseV1RemoveIpOverrideRequest": {
      "type": "object",
      "description": "The RemoveIpOverride request message.",
      "id": "GoogleCloudRecaptchaenterpriseV1RemoveIpOverrideRequest",
      "properties": {
        "ipOverrideData": {
          "description": "Required. IP override to be removed from the key.",
          "$ref": "GoogleCloudRecaptchaenterpriseV1IpOverrideData"
        }
      }
    },
    "GoogleCloudRecaptchaenterpriseV1FirewallActionSetHeaderAction": {
      "description": "A set header action sets a header and forwards the request to the backend. This can be used to trigger custom protection implemented on the backend.",
      "properties": {
        "key": {
          "description": "Optional. The header key to set in the request to the backend server.",
          "type": "string"
        },
        "value": {
          "type": "string",
          "description": "Optional. The header value to set in the request to the backend server."
        }
      },
      "id": "GoogleCloudRecaptchaenterpriseV1FirewallActionSetHeaderAction",
      "type": "object"
    },
    "GoogleCloudRecaptchaenterpriseV1ChallengeRuleNoChallengeOutcome": {
      "properties": {},
      "description": "An outcome that indicates that no challenge should be presented to the user.",
      "id": "GoogleCloudRecaptchaenterpriseV1ChallengeRuleNoChallengeOutcome",
      "type": "object"
    },
    "GoogleCloudRecaptchaenterpriseV1WafSettings": {
      "type": "object",
      "properties": {
        "wafService": {
          "description": "Required. The Web Application Firewall (WAF) service that uses this key.",
          "enumDescriptions": [
            "Undefined WAF",
            "Cloud Armor",
            "Fastly",
            "Cloudflare",
            "Akamai"
          ],
          "type": "string",
          "enum": [
            "WAF_SERVICE_UNSPECIFIED",
            "CA",
            "FASTLY",
            "CLOUDFLARE",
            "AKAMAI"
          ]
        },
        "wafFeature": {
          "enum": [
            "WAF_FEATURE_UNSPECIFIED",
            "CHALLENGE_PAGE",
            "SESSION_TOKEN",
            "ACTION_TOKEN",
            "EXPRESS"
          ],
          "enumDescriptions": [
            "Undefined feature.",
            "Redirects suspicious traffic to reCAPTCHA.",
            "Use reCAPTCHA session-tokens to protect the whole user session on the site's domain.",
            "Use reCAPTCHA action-tokens to protect user actions.",
            "Deprecated: Use `express_settings` instead."
          ],
          "description": "Required. The Web Application Firewall (WAF) feature for which this key is enabled.",
          "type": "string",
          "enumDeprecated": [
            false,
            false,
            false,
            false,
            true
          ]
        }
      },
      "id": "GoogleCloudRecaptchaenterpriseV1WafSettings",
      "description": "Settings specific to keys that can be used for WAF (Web Application Firewall)."
    },
    "GoogleCloudRecaptchaenterpriseV1AnnotateAssessmentResponse": {
      "type": "object",
      "id": "GoogleCloudRecaptchaenterpriseV1AnnotateAssessmentResponse",
      "properties": {},
      "description": "Empty response for AnnotateAssessment."
    },
    "GoogleCloudRecaptchaenterpriseV1ChallengeRule": {
      "type": "object",
      "description": "A rule to configure the behavior of reCAPTCHA for conditionally presenting a challenge.",
      "id": "GoogleCloudRecaptchaenterpriseV1ChallengeRule",
      "properties": {
        "noChallenge": {
          "$ref": "GoogleCloudRecaptchaenterpriseV1ChallengeRuleNoChallengeOutcome",
          "description": "Do not present a challenge to the user."
        },
        "condition": {
          "type": "string",
          "description": "Optional. A CEL condition that must be met for this rule to apply. If unspecified, the rule applies unconditionally. The following fields can be referenced in the condition: * `score` * `user_ip_address` * `user_asn` * `user_agent` * `verified_bots.name` * `verified_bots.bot_type` Examples: * `score < 0.5` * `user_ip_address == \"123.45.67.89\"` * `user_agent.contains(\"Chrome\")` * `score < 0.5 && user_ip_address == \"123.45.67.89\"`"
        },
        "challenge": {
          "description": "Present a challenge to the user.",
          "$ref": "GoogleCloudRecaptchaenterpriseV1ChallengeRuleChallengeOutcome"
        }
      }
    },
    "GoogleCloudRecaptchaenterpriseV1TransactionDataUser": {
      "id": "GoogleCloudRecaptchaenterpriseV1TransactionDataUser",
      "type": "object",
      "properties": {
        "accountId": {
          "type": "string",
          "description": "Optional. Unique account identifier for this user. If using Account defense, this should match the hashed_account_id field. Otherwise, a unique and persistent identifier for this account."
        },
        "emailVerified": {
          "type": "boolean",
          "description": "Optional. Whether the email has been verified to be accessible by the user (OTP or similar)."
        },
        "creationMs": {
          "description": "Optional. The epoch milliseconds of the user's account creation.",
          "type": "string",
          "format": "int64"
        },
        "phoneVerified": {
          "type": "boolean",
          "description": "Optional. Whether the phone number has been verified to be accessible by the user (OTP or similar)."
        },
        "phoneNumber": {
          "description": "Optional. The phone number of the user, with country code.",
          "type": "string"
        },
        "email": {
          "type": "string",
          "description": "Optional. The email address of the user."
        }
      },
      "description": "Details about a user's account involved in the transaction."
    },
    "GoogleCloudRecaptchaenterpriseV1WebKeySettingsActionSettings": {
      "properties": {
        "scoreThreshold": {
          "format": "float",
          "type": "number",
          "description": "Required. A challenge is triggered if the end-user score is below that threshold. Value must be between 0 and 1 (inclusive)."
        }
      },
      "description": "Per-action challenge settings.",
      "type": "object",
      "id": "GoogleCloudRecaptchaenterpriseV1WebKeySettingsActionSettings"
    },
    "GoogleCloudRecaptchaenterpriseV1FirewallActionAllowAction": {
      "id": "GoogleCloudRecaptchaenterpriseV1FirewallActionAllowAction",
      "properties": {},
      "description": "An allow action continues processing a request unimpeded.",
      "type": "object"
    },
    "GoogleCloudRecaptchaenterpriseV1ReorderFirewallPoliciesResponse": {
      "type": "object",
      "id": "GoogleCloudRecaptchaenterpriseV1ReorderFirewallPoliciesResponse",
      "properties": {},
      "description": "The reorder firewall policies response message."
    },
    "GoogleCloudRecaptchaenterpriseV1RemoveIpOverrideResponse": {
      "id": "GoogleCloudRecaptchaenterpriseV1RemoveIpOverrideResponse",
      "type": "object",
      "description": "Response for RemoveIpOverride.",
      "properties": {}
    },
    "GoogleCloudRecaptchaenterpriseV1AccountVerificationInfo": {
      "id": "GoogleCloudRecaptchaenterpriseV1AccountVerificationInfo",
      "description": "Information about account verification, used for identity verification.",
      "properties": {
        "latestVerificationResult": {
          "enum": [
            "RESULT_UNSPECIFIED",
            "SUCCESS_USER_VERIFIED",
            "ERROR_USER_NOT_VERIFIED",
            "ERROR_SITE_ONBOARDING_INCOMPLETE",
            "ERROR_RECIPIENT_NOT_ALLOWED",
            "ERROR_RECIPIENT_ABUSE_LIMIT_EXHAUSTED",
            "ERROR_CRITICAL_INTERNAL",
            "ERROR_CUSTOMER_QUOTA_EXHAUSTED",
            "ERROR_VERIFICATION_BYPASSED",
            "ERROR_VERDICT_MISMATCH"
          ],
          "readOnly": true,
          "enumDescriptions": [
            "No information about the latest account verification.",
            "The user was successfully verified. This means the account verification challenge was successfully completed.",
            "The user failed the verification challenge.",
            "The site is not properly onboarded to use the account verification feature.",
            "The recipient is not allowed for account verification. This can occur during integration but should not occur in production.",
            "The recipient has already been sent too many verification codes in a short amount of time.",
            "The verification flow could not be completed due to a critical internal error.",
            "The client has exceeded their two factor request quota for this period of time.",
            "The request cannot be processed at the time because of an incident. This bypass can be restricted to a problematic destination email domain, a customer, or could affect the entire service.",
            "The request parameters do not match with the token provided and cannot be processed."
          ],
          "type": "string",
          "description": "Output only. Result of the latest account verification challenge."
        },
        "username": {
          "type": "string",
          "description": "Username of the account that is being verified. Deprecated. Customers should now provide the `account_id` field in `event.user_info`.",
          "deprecated": true
        },
        "endpoints": {
          "description": "Optional. Endpoints that can be used for identity verification.",
          "items": {
            "$ref": "GoogleCloudRecaptchaenterpriseV1EndpointVerificationInfo"
          },
          "type": "array"
        },
        "languageCode": {
          "type": "string",
          "description": "Optional. Language code preference for the verification message, set as a IETF BCP 47 language code."
        }
      },
      "type": "object"
    },
    "GoogleCloudRecaptchaenterpriseV1FraudPreventionAssessment": {
      "description": "Assessment for Fraud Prevention.",
      "type": "object",
      "id": "GoogleCloudRecaptchaenterpriseV1FraudPreventionAssessment",
      "properties": {
        "cardTestingVerdict": {
          "$ref": "GoogleCloudRecaptchaenterpriseV1FraudPreventionAssessmentCardTestingVerdict",
          "description": "Output only. Assessment of this transaction for risk of being part of a card testing attack.",
          "readOnly": true
        },
        "transactionRisk": {
          "format": "float",
          "description": "Output only. Probability of this transaction being fraudulent. Summarizes the combined risk of attack vectors below. Values are from 0.0 (lowest) to 1.0 (highest).",
          "type": "number",
          "readOnly": true
        },
        "riskReasons": {
          "items": {
            "$ref": "GoogleCloudRecaptchaenterpriseV1FraudPreventionAssessmentRiskReason"
          },
          "description": "Output only. Reasons why the transaction is probably fraudulent and received a high transaction risk score.",
          "readOnly": true,
          "type": "array"
        },
        "stolenInstrumentVerdict": {
          "readOnly": true,
          "description": "Output only. Assessment of this transaction for risk of a stolen instrument.",
          "$ref": "GoogleCloudRecaptchaenterpriseV1FraudPreventionAssessmentStolenInstrumentVerdict"
        },
        "behavioralTrustVerdict": {
          "readOnly": true,
          "description": "Output only. Assessment of this transaction for behavioral trust.",
          "$ref": "GoogleCloudRecaptchaenterpriseV1FraudPreventionAssessmentBehavioralTrustVerdict"
        }
      }
    },
    "GoogleCloudRecaptchaenterpriseV1WebKeySettings": {
      "type": "object",
      "properties": {
        "challengeSettings": {
          "$ref": "GoogleCloudRecaptchaenterpriseV1WebKeySettingsChallengeSettings",
          "description": "Optional. Challenge settings."
        },
        "integrationType": {
          "description": "Required. Describes how this key is integrated with the website.",
          "type": "string",
          "enumDescriptions": [
            "Default type that indicates this enum hasn't been specified. This is not a valid IntegrationType, one of the other types must be specified instead.",
            "Only used to produce scores. It doesn't display the \"I'm not a robot\" checkbox and never shows captcha challenges.",
            "Displays the \"I'm not a robot\" checkbox and may show captcha challenges after it is checked.",
            "Doesn't display the \"I'm not a robot\" checkbox, but may show captcha challenges after risk analysis.",
            "Displays a visual challenge or not depending on the user risk analysis score."
          ],
          "enum": [
            "INTEGRATION_TYPE_UNSPECIFIED",
            "SCORE",
            "CHECKBOX",
            "INVISIBLE",
            "POLICY_BASED_CHALLENGE"
          ]
        },
        "challengeSecurityPreference": {
          "enumDescriptions": [
            "Default type that indicates this enum hasn't been specified.",
            "Key tends to show fewer and easier challenges.",
            "Key tends to show balanced (in amount and difficulty) challenges.",
            "Key tends to show more and harder challenges."
          ],
          "type": "string",
[...]
