{
  "revision": "20260908",
  "fullyEncodeReservedExpansion": true,
  "discoveryVersion": "v1",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "servicePath": "",
  "rootUrl": "https://recaptchaenterprise.googleapis.com/",
  "mtlsRootUrl": "https://recaptchaenterprise.mtls.googleapis.com/",
  "version_module": true,
  "basePath": "",
  "title": "reCAPTCHA Enterprise API",
  "documentationLink": "https://cloud.google.com/recaptcha-enterprise/",
  "protocol": "rest",
  "resources": {
    "projects": {
      "resources": {
        "relatedaccountgroups": {
          "resources": {
            "memberships": {
              "methods": {
                "list": {
                  "response": {
                    "$ref": "GoogleCloudRecaptchaenterpriseV1ListRelatedAccountGroupMembershipsResponse"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "recaptchaenterprise.projects.relatedaccountgroups.memberships.list",
                  "httpMethod": "GET",
                  "parameters": {
                    "parent": {
                      "pattern": "^projects/[^/]+/relatedaccountgroups/[^/]+$",
                      "location": "path",
                      "type": "string",
                      "required": true,
                      "description": "Required. The resource name for the related account group in the format `projects/{project}/relatedaccountgroups/{relatedaccountgroup}`."
                    },
                    "pageSize": {
                      "type": "integer",
                      "format": "int32",
                      "location": "query",
                      "description": "Optional. The maximum number of accounts to return. The service might return fewer than this value. If unspecified, at most 50 accounts are returned. The maximum value is 1000; values above 1000 are coerced to 1000."
                    },
                    "pageToken": {
                      "description": "Optional. A page token, received from a previous `ListRelatedAccountGroupMemberships` call. When paginating, all other parameters provided to `ListRelatedAccountGroupMemberships` must match the call that provided the page token.",
                      "type": "string",
                      "location": "query"
                    }
                  },
                  "path": "v1/{+parent}/memberships",
                  "flatPath": "v1/projects/{projectsId}/relatedaccountgroups/{relatedaccountgroupsId}/memberships",
                  "description": "Get memberships in a group of related accounts."
                }
              }
            }
          },
          "methods": {
            "list": {
              "response": {
                "$ref": "GoogleCloudRecaptchaenterpriseV1ListRelatedAccountGroupsResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "flatPath": "v1/projects/{projectsId}/relatedaccountgroups",
              "id": "recaptchaenterprise.projects.relatedaccountgroups.list",
              "description": "List groups of related accounts.",
              "path": "v1/{+parent}/relatedaccountgroups",
              "parameterOrder": [
                "parent"
              ],
              "httpMethod": "GET",
              "parameters": {
                "pageToken": {
                  "location": "query",
                  "description": "Optional. A page token, received from a previous `ListRelatedAccountGroups` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListRelatedAccountGroups` must match the call that provided the page token.",
                  "type": "string"
                },
                "pageSize": {
                  "type": "integer",
                  "location": "query",
                  "description": "Optional. The maximum number of groups to return. The service might return fewer than this value. If unspecified, at most 50 groups are returned. The maximum value is 1000; values above 1000 are coerced to 1000.",
                  "format": "int32"
                },
                "parent": {
                  "pattern": "^projects/[^/]+$",
                  "location": "path",
                  "type": "string",
                  "description": "Required. The name of the project to list related account groups from, in the format `projects/{project}`.",
                  "required": true
                }
              }
            }
          }
        },
        "firewallpolicies": {
          "methods": {
            "get": {
              "response": {
                "$ref": "GoogleCloudRecaptchaenterpriseV1FirewallPolicy"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "GET",
              "parameters": {
                "name": {
                  "location": "path",
                  "pattern": "^projects/[^/]+/firewallpolicies/[^/]+$",
                  "type": "string",
                  "description": "Required. The name of the requested policy, in the format `projects/{project}/firewallpolicies/{firewallpolicy}`.",
                  "required": true
                }
              },
              "description": "Returns the specified firewall policy.",
              "id": "recaptchaenterprise.projects.firewallpolicies.get",
              "flatPath": "v1/projects/{projectsId}/firewallpolicies/{firewallpoliciesId}",
              "path": "v1/{+name}",
              "parameterOrder": [
                "name"
              ]
            },
            "delete": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Deletes the specified firewall policy.",
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1/projects/{projectsId}/firewallpolicies/{firewallpoliciesId}",
              "path": "v1/{+name}",
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "id": "recaptchaenterprise.projects.firewallpolicies.delete",
              "httpMethod": "DELETE",
              "parameters": {
                "name": {
                  "required": true,
                  "type": "string",
                  "description": "Required. The name of the policy to be deleted, in the format `projects/{project}/firewallpolicies/{firewallpolicy}`.",
                  "location": "path",
                  "pattern": "^projects/[^/]+/firewallpolicies/[^/]+$"
                }
              }
            },
            "list": {
              "parameterOrder": [
                "parent"
              ],
              "httpMethod": "GET",
              "parameters": {
                "pageSize": {
                  "location": "query",
                  "description": "Optional. The maximum number of policies to return. Default is 10. Max limit is 1000.",
                  "format": "int32",
                  "type": "integer"
                },
                "pageToken": {
                  "type": "string",
                  "location": "query",
                  "description": "Optional. The next_page_token value returned from a previous. ListFirewallPoliciesRequest, if any."
                },
                "parent": {
                  "required": true,
                  "pattern": "^projects/[^/]+$",
                  "type": "string",
                  "location": "path",
                  "description": "Required. The name of the project to list the policies for, in the format `projects/{project}`."
                }
              },
              "flatPath": "v1/projects/{projectsId}/firewallpolicies",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Returns the list of all firewall policies that belong to a project.",
              "path": "v1/{+parent}/firewallpolicies",
              "response": {
                "$ref": "GoogleCloudRecaptchaenterpriseV1ListFirewallPoliciesResponse"
              },
              "id": "recaptchaenterprise.projects.firewallpolicies.list"
            },
            "reorder": {
              "parameterOrder": [
                "parent"
              ],
              "request": {
                "$ref": "GoogleCloudRecaptchaenterpriseV1ReorderFirewallPoliciesRequest"
              },
              "description": "Reorders all firewall policies.",
              "id": "recaptchaenterprise.projects.firewallpolicies.reorder",
              "response": {
                "$ref": "GoogleCloudRecaptchaenterpriseV1ReorderFirewallPoliciesResponse"
              },
              "path": "v1/{+parent}/firewallpolicies:reorder",
              "httpMethod": "POST",
              "parameters": {
                "parent": {
                  "required": true,
                  "description": "Required. The name of the project to list the policies for, in the format `projects/{project}`.",
                  "type": "string",
                  "pattern": "^projects/[^/]+$",
                  "location": "path"
                }
              },
              "flatPath": "v1/projects/{projectsId}/firewallpolicies:reorder",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "patch": {
              "id": "recaptchaenterprise.projects.firewallpolicies.patch",
              "httpMethod": "PATCH",
              "parameters": {
                "name": {
                  "required": true,
                  "pattern": "^projects/[^/]+/firewallpolicies/[^/]+$",
                  "type": "string",
                  "description": "Identifier. The resource name for the FirewallPolicy in the format `projects/{project}/firewallpolicies/{firewallpolicy}`.",
                  "location": "path"
                },
                "updateMask": {
                  "format": "google-fieldmask",
                  "description": "Optional. The mask to control which fields of the policy get updated. If the mask is not present, all fields are updated.",
                  "type": "string",
                  "location": "query"
                }
              },
              "path": "v1/{+name}",
              "request": {
                "$ref": "GoogleCloudRecaptchaenterpriseV1FirewallPolicy"
              },
              "response": {
                "$ref": "GoogleCloudRecaptchaenterpriseV1FirewallPolicy"
              },
              "description": "Updates the specified firewall policy.",
              "flatPath": "v1/projects/{projectsId}/firewallpolicies/{firewallpoliciesId}",
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "create": {
              "flatPath": "v1/projects/{projectsId}/firewallpolicies",
              "request": {
                "$ref": "GoogleCloudRecaptchaenterpriseV1FirewallPolicy"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameterOrder": [
                "parent"
              ],
              "id": "recaptchaenterprise.projects.firewallpolicies.create",
              "description": "Creates a new FirewallPolicy, specifying conditions at which reCAPTCHA Enterprise actions can be executed. A project may have a maximum of 1000 policies.",
              "path": "v1/{+parent}/firewallpolicies",
              "httpMethod": "POST",
              "parameters": {
                "parent": {
                  "description": "Required. The name of the project this policy applies to, in the format `projects/{project}`.",
                  "required": true,
                  "pattern": "^projects/[^/]+$",
                  "type": "string",
                  "location": "path"
                }
              },
              "response": {
                "$ref": "GoogleCloudRecaptchaenterpriseV1FirewallPolicy"
              }
            }
          }
        },
        "relatedaccountgroupmemberships": {
          "methods": {
            "search": {
              "request": {
                "$ref": "GoogleCloudRecaptchaenterpriseV1SearchRelatedAccountGroupMembershipsRequest"
              },
              "path": "v1/{+project}/relatedaccountgroupmemberships:search",
              "id": "recaptchaenterprise.projects.relatedaccountgroupmemberships.search",
              "httpMethod": "POST",
              "parameters": {
                "project": {
                  "required": true,
                  "pattern": "^projects/[^/]+$",
                  "description": "Required. The name of the project to search related account group memberships from. Specify the project name in the following format: `projects/{project}`.",
                  "location": "path",
                  "type": "string"
                }
              },
              "response": {
                "$ref": "GoogleCloudRecaptchaenterpriseV1SearchRelatedAccountGroupMembershipsResponse"
              },
              "flatPath": "v1/projects/{projectsId}/relatedaccountgroupmemberships:search",
              "parameterOrder": [
                "project"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Search group memberships related to a given account."
            }
          }
        },
        "keys": {
          "methods": {
            "patch": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "request": {
                "$ref": "GoogleCloudRecaptchaenterpriseV1Key"
              },
              "httpMethod": "PATCH",
              "parameters": {
                "name": {
                  "required": true,
                  "pattern": "^projects/[^/]+/keys/[^/]+$",
                  "type": "string",
                  "location": "path",
                  "description": "Identifier. The resource name for the Key in the format `projects/{project}/keys/{key}`."
                },
                "updateMask": {
                  "description": "Optional. The mask to control which fields of the key get updated. If the mask is not present, all fields are updated.",
                  "format": "google-fieldmask",
                  "location": "query",
                  "type": "string"
                }
              },
              "path": "v1/{+name}",
              "flatPath": "v1/projects/{projectsId}/keys/{keysId}",
              "id": "recaptchaenterprise.projects.keys.patch",
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "GoogleCloudRecaptchaenterpriseV1Key"
              },
              "description": "Updates the specified key."
            },
            "get": {
              "path": "v1/{+name}",
              "response": {
                "$ref": "GoogleCloudRecaptchaenterpriseV1Key"
              },
              "description": "Returns the specified key.",
              "parameterOrder": [
                "name"
              ],
              "id": "recaptchaenterprise.projects.keys.get",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "GET",
              "parameters": {
                "name": {
                  "required": true,
                  "type": "string",
                  "pattern": "^projects/[^/]+/keys/[^/]+$",
                  "description": "Required. The name of the requested key, in the format `projects/{project}/keys/{key}`.",
                  "location": "path"
                }
              },
              "flatPath": "v1/projects/{projectsId}/keys/{keysId}"
            },
            "create": {
              "flatPath": "v1/projects/{projectsId}/keys",
              "description": "Creates a new reCAPTCHA Enterprise key.",
              "request": {
                "$ref": "GoogleCloudRecaptchaenterpriseV1Key"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "path": "v1/{+parent}/keys",
              "parameterOrder": [
                "parent"
              ],
              "id": "recaptchaenterprise.projects.keys.create",
              "httpMethod": "POST",
              "parameters": {
                "parent": {
                  "type": "string",
                  "location": "path",
                  "pattern": "^projects/[^/]+$",
                  "description": "Required. The name of the project in which the key is created, in the format `projects/{project}`.",
                  "required": true
                }
              },
              "response": {
                "$ref": "GoogleCloudRecaptchaenterpriseV1Key"
              }
            },
            "retrieveLegacySecretKey": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "path": "v1/{+key}:retrieveLegacySecretKey",
              "flatPath": "v1/projects/{projectsId}/keys/{keysId}:retrieveLegacySecretKey",
              "response": {
                "$ref": "GoogleCloudRecaptchaenterpriseV1RetrieveLegacySecretKeyResponse"
              },
              "description": "Returns the secret key related to the specified public key. You must use the legacy secret key only in a 3rd party integration with legacy reCAPTCHA.",
              "parameterOrder": [
                "key"
              ],
              "id": "recaptchaenterprise.projects.keys.retrieveLegacySecretKey",
              "httpMethod": "GET",
              "parameters": {
                "key": {
                  "required": true,
                  "type": "string",
                  "pattern": "^projects/[^/]+/keys/[^/]+$",
                  "description": "Required. The public key name linked to the requested secret key in the format `projects/{project}/keys/{key}`.",
                  "location": "path"
                }
              }
            },
            "listIpOverrides": {
              "response": {
                "$ref": "GoogleCloudRecaptchaenterpriseV1ListIpOverridesResponse"
              },
              "id": "recaptchaenterprise.projects.keys.listIpOverrides",
              "path": "v1/{+parent}:listIpOverrides",
              "description": "Lists all IP overrides for a key.",
              "parameterOrder": [
                "parent"
              ],
              "httpMethod": "GET",
              "parameters": {
                "parent": {
                  "type": "string",
                  "required": true,
                  "description": "Required. The parent key for which the IP overrides are listed, in the format `projects/{project}/keys/{key}`.",
                  "pattern": "^projects/[^/]+/keys/[^/]+$",
                  "location": "path"
                },
                "pageToken": {
                  "location": "query",
                  "type": "string",
                  "description": "Optional. The next_page_token value returned from a previous ListIpOverridesRequest, if any."
                },
                "pageSize": {
                  "location": "query",
                  "type": "integer",
                  "format": "int32",
                  "description": "Optional. The maximum number of overrides to return. Default is 10. Max limit is 100. If the number of overrides is less than the page_size, all overrides are returned. If the page size is more than 100, it is coerced to 100."
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "flatPath": "v1/projects/{projectsId}/keys/{keysId}:listIpOverrides"
            },
            "getPolicy": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "GET",
              "parameters": {
                "name": {
                  "location": "path",
                  "description": "Required. The name of the policy to get, in the format `projects/{project}/keys/{key}/policy`.",
                  "pattern": "^projects/[^/]+/keys/[^/]+/policy$",
                  "type": "string",
                  "required": true
                }
              },
              "response": {
                "$ref": "GoogleCloudRecaptchaenterpriseV1Policy"
              },
              "flatPath": "v1/projects/{projectsId}/keys/{keysId}/policy",
              "path": "v1/{+name}",
              "id": "recaptchaenterprise.projects.keys.getPolicy",
              "description": "Get the policy for a key."
            },
            "delete": {
              "description": "Deletes the specified key.",
              "httpMethod": "DELETE",
              "parameters": {
                "name": {
                  "required": true,
                  "pattern": "^projects/[^/]+/keys/[^/]+$",
                  "type": "string",
                  "location": "path",
                  "description": "Required. The name of the key to be deleted, in the format `projects/{project}/keys/{key}`."
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "id": "recaptchaenterprise.projects.keys.delete",
              "path": "v1/{+name}",
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1/projects/{projectsId}/keys/{keysId}"
            },
            "addIpOverride": {
              "id": "recaptchaenterprise.projects.keys.addIpOverride",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "flatPath": "v1/projects/{projectsId}/keys/{keysId}:addIpOverride",
              "description": "Adds an IP override to a key. The following restrictions hold: * The maximum number of IP overrides per key is 1000. * For any conflict (such as IP already exists or IP part of an existing IP range), an error is returned.",
              "path": "v1/{+name}:addIpOverride",
              "response": {
                "$ref": "GoogleCloudRecaptchaenterpriseV1AddIpOverrideResponse"
              },
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "POST",
              "parameters": {
                "name": {
                  "location": "path",
                  "pattern": "^projects/[^/]+/keys/[^/]+$",
                  "required": true,
                  "description": "Required. The name of the key to which the IP override is added, in the format `projects/{project}/keys/{key}`.",
                  "type": "string"
                }
              },
              "request": {
                "$ref": "GoogleCloudRecaptchaenterpriseV1AddIpOverrideRequest"
              }
            },
            "updatePolicy": {
              "response": {
                "$ref": "GoogleCloudRecaptchaenterpriseV1Policy"
              },
              "description": "Updates the policy for a key.",
              "request": {
                "$ref": "GoogleCloudRecaptchaenterpriseV1Policy"
              },
              "path": "v1/{+name}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameterOrder": [
                "name"
              ],
              "id": "recaptchaenterprise.projects.keys.updatePolicy",
              "httpMethod": "PATCH",
              "parameters": {
                "updateMask": {
                  "location": "query",
                  "format": "google-fieldmask",
                  "type": "string",
                  "description": "Optional. The mask to control which fields of the policy get updated. If the mask is not present, all fields are updated."
                },
                "name": {
                  "description": "Identifier. Resource name for this policy. Format: \"projects/{project}/keys/{key}/policy\" for a policy under a key.",
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "pattern": "^projects/[^/]+/keys/[^/]+/policy$"
                }
              },
              "flatPath": "v1/projects/{projectsId}/keys/{keysId}/policy"
            },
            "migrate": {
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1/projects/{projectsId}/keys/{keysId}:migrate",
              "path": "v1/{+name}:migrate",
              "httpMethod": "POST",
              "parameters": {
                "name": {
                  "type": "string",
                  "required": true,
                  "pattern": "^projects/[^/]+/keys/[^/]+$",
                  "description": "Required. The name of the key to be migrated, in the format `projects/{project}/keys/{key}`.",
                  "location": "path"
                }
              },
              "id": "recaptchaenterprise.projects.keys.migrate",
              "request": {
                "$ref": "GoogleCloudRecaptchaenterpriseV1MigrateKeyRequest"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "GoogleCloudRecaptchaenterpriseV1Key"
              },
              "description": "Migrates an existing key from reCAPTCHA to reCAPTCHA Enterprise. Once a key is migrated, it can be used from either product. SiteVerify requests are billed as CreateAssessment calls. You must be authenticated as one of the current owners of the reCAPTCHA Key, and your user must have the reCAPTCHA Enterprise Admin IAM role in the destination project."
            },
            "removeIpOverride": {
              "parameterOrder": [
                "name"
              ],
              "description": "Removes an IP override from a key. The following restrictions hold: * If the IP isn't found in an existing IP override, a `NOT_FOUND` error is returned. * If the IP is found in an existing IP override, but the override type does not match, a `NOT_FOUND` error is returned.",
              "flatPath": "v1/projects/{projectsId}/keys/{keysId}:removeIpOverride",
              "response": {
                "$ref": "GoogleCloudRecaptchaenterpriseV1RemoveIpOverrideResponse"
              },
              "path": "v1/{+name}:removeIpOverride",
              "request": {
                "$ref": "GoogleCloudRecaptchaenterpriseV1RemoveIpOverrideRequest"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "POST",
              "parameters": {
                "name": {
                  "type": "string",
                  "description": "Required. The name of the key from which the IP override is removed, in the format `projects/{project}/keys/{key}`.",
                  "location": "path",
                  "pattern": "^projects/[^/]+/keys/[^/]+$",
                  "required": true
                }
              },
              "id": "recaptchaenterprise.projects.keys.removeIpOverride"
            },
            "getMetrics": {
              "response": {
                "$ref": "GoogleCloudRecaptchaenterpriseV1Metrics"
              },
              "id": "recaptchaenterprise.projects.keys.getMetrics",
              "path": "v1/{+name}",
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "GET",
              "parameters": {
                "name": {
                  "description": "Required. The name of the requested metrics, in the format `projects/{project}/keys/{key}/metrics`.",
                  "required": true,
                  "type": "string",
                  "pattern": "^projects/[^/]+/keys/[^/]+/metrics$",
                  "location": "path"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Get some aggregated metrics for a Key. This data can be used to build dashboards.",
              "flatPath": "v1/projects/{projectsId}/keys/{keysId}/metrics"
            },
            "list": {
              "parameterOrder": [
                "parent"
              ],
              "id": "recaptchaenterprise.projects.keys.list",
              "response": {
                "$ref": "GoogleCloudRecaptchaenterpriseV1ListKeysResponse"
              },
              "description": "Returns the list of all keys that belong to a project.",
              "flatPath": "v1/projects/{projectsId}/keys",
              "path": "v1/{+parent}/keys",
              "httpMethod": "GET",
              "parameters": {
                "parent": {
                  "type": "string",
                  "description": "Required. The name of the project that contains the keys that is listed, in the format `projects/{project}`.",
                  "location": "path",
                  "required": true,
                  "pattern": "^projects/[^/]+$"
                },
                "pageToken": {
                  "description": "Optional. The next_page_token value returned from a previous. ListKeysRequest, if any.",
                  "location": "query",
                  "type": "string"
                },
                "pageSize": {
                  "type": "integer",
                  "location": "query",
                  "format": "int32",
                  "description": "Optional. The maximum number of keys to return. Default is 10. Max limit is 1000."
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            }
          }
        },
        "assessments": {
          "methods": {
            "create": {
              "id": "recaptchaenterprise.projects.assessments.create",
              "httpMethod": "POST",
              "parameters": {
                "parent": {
                  "description": "Required. The name of the project in which the assessment is created, in the format `projects/{project}`.",
                  "required": true,
                  "type": "string",
                  "pattern": "^projects/[^/]+$",
                  "location": "path"
                }
              },
              "description": "Creates an Assessment of the likelihood an event is legitimate.",
              "path": "v1/{+parent}/assessments",
              "flatPath": "v1/projects/{projectsId}/assessments",
              "response": {
                "$ref": "GoogleCloudRecaptchaenterpriseV1Assessment"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameterOrder": [
                "parent"
              ],
              "request": {
                "$ref": "GoogleCloudRecaptchaenterpriseV1Assessment"
              }
            },
            "annotate": {
              "id": "recaptchaenterprise.projects.assessments.annotate",
              "flatPath": "v1/projects/{projectsId}/assessments/{assessmentsId}:annotate",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Annotates a previously created Assessment to provide additional information on whether the event turned out to be authentic or fraudulent.",
              "httpMethod": "POST",
              "parameters": {
                "name": {
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "description": "Required. The resource name of the Assessment, in the format `projects/{project}/assessments/{assessment}`.",
                  "pattern": "^projects/[^/]+/assessments/[^/]+$"
                }
              },
              "path": "v1/{+name}:annotate",
              "response": {
                "$ref": "GoogleCloudRecaptchaenterpriseV1AnnotateAssessmentResponse"
              },
              "request": {
                "$ref": "GoogleCloudRecaptchaenterpriseV1AnnotateAssessmentRequest"
              },
              "parameterOrder": [
                "name"
              ]
            }
          }
        }
      }
    }
  },
  "id": "recaptchaenterprise:v1",
  "version": "v1",
  "parameters": {
    "prettyPrint": {
      "default": "true",
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "location": "query"
    },
    "uploadType": {
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string"
    },
    "fields": {
      "location": "query",
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "access_token": {
      "location": "query",
      "description": "OAuth access token.",
      "type": "string"
    },
    "alt": {
      "description": "Data format for response.",
      "type": "string",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "location": "query",
      "default": "json"
    },
    "$.xgafv": {
      "enum": [
        "1",
        "2"
      ],
      "location": "query",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string",
      "description": "V1 error format."
    },
    "callback": {
      "description": "JSONP",
      "location": "query",
      "type": "string"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query",
      "type": "string"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query",
      "type": "string"
    },
    "upload_protocol": {
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string"
    },
    "oauth_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth 2.0 token for the current user."
    }
  },
  "description": "Help protect your website from fraudulent activity, spam, and abuse without creating friction.",
  "canonicalName": "Recaptcha Enterprise",
  "name": "recaptchaenterprise",
  "kind": "discovery#restDescription",
  "baseUrl": "https://recaptchaenterprise.googleapis.com/",
  "schemas": {
    "GoogleCloudRecaptchaenterpriseV1FirewallActionRedirectAction": {
      "id": "GoogleCloudRecaptchaenterpriseV1FirewallActionRedirectAction",
      "description": "A redirect action returns a 307 (temporary redirect) response, pointing the user to a reCAPTCHA interstitial page to attach a token.",
      "type": "object",
      "properties": {}
    },
    "GoogleCloudRecaptchaenterpriseV1ProtectedEndpoint": {
      "description": "Configuration for an API endpoint to protect with reCAPTCHA.",
      "properties": {
        "path": {
          "type": "string",
          "description": "Required. URI path of the API endpoint to protect. Must start with '/'. Supports glob characters '*' to match a single path segment and '**' to match multiple path segments. Standalone root catch-alls ('/*' and '/**') are invalid because it can negatively impact performance to trigger reCAPTCHA on every single request to your backend. Matching is evaluated against the URL path only (domain, scheme, and query parameters are ignored). Examples: - `/login` matches `/login`, `https://example.com/login`, and `/login?query=1`, but not `/login/step1`. - `/products/*` matches `/products/123`, but not `/products/123/456`. - `/content/**` matches `/content/articles/2024/01/01`."
        },
        "action": {
          "type": "string",
          "description": "Required. Action name to be used for token generation for this endpoint. The action name can only contain alphanumeric characters, slashes, and underscores."
        }
      },
      "id": "GoogleCloudRecaptchaenterpriseV1ProtectedEndpoint",
      "type": "object"
    },
    "GoogleCloudRecaptchaenterpriseV1TransactionData": {
      "properties": {
        "shippingAddress": {
          "description": "Optional. Destination address if this transaction involves shipping a physical item.",
          "$ref": "GoogleCloudRecaptchaenterpriseV1TransactionDataAddress"
        },
        "currencyCode": {
          "description": "Optional. The currency code in ISO-4217 format.",
          "type": "string"
        },
        "transactionId": {
          "type": "string",
          "description": "Unique identifier for the transaction. This custom identifier can be used to reference this transaction in the future, for example, labeling a refund or chargeback event. Two attempts at the same transaction should use the same transaction id."
        },
        "shippingValue": {
          "type": "number",
          "format": "double",
          "description": "Optional. The value of shipping in the specified currency. 0 for free or no shipping."
        },
        "paymentMethod": {
          "description": "Optional. The payment method for the transaction. The allowed values are: * credit-card * debit-card * gift-card * processor-{name} (If a third-party is used, for example, processor-paypal) * custom-{name} (If an alternative method is used, for example, custom-crypto)",
          "type": "string"
        },
        "billingAddress": {
          "description": "Optional. Address associated with the payment method when applicable.",
          "$ref": "GoogleCloudRecaptchaenterpriseV1TransactionDataAddress"
        },
        "merchants": {
          "description": "Optional. Information about the user or users fulfilling the transaction.",
          "items": {
            "$ref": "GoogleCloudRecaptchaenterpriseV1TransactionDataUser"
          },
          "type": "array"
        },
        "items": {
          "description": "Optional. Items purchased in this transaction.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudRecaptchaenterpriseV1TransactionDataItem"
          }
        },
        "cardBin": {
          "type": "string",
          "description": "Optional. The Bank Identification Number - generally the first 6 or 8 digits of the card."
        },
        "user": {
          "description": "Optional. Information about the user paying/initiating the transaction.",
          "$ref": "GoogleCloudRecaptchaenterpriseV1TransactionDataUser"
        },
        "value": {
          "description": "Optional. The decimal value of the transaction in the specified currency.",
          "type": "number",
          "format": "double"
        },
        "cardLastFour": {
          "type": "string",
          "description": "Optional. The last four digits of the card."
        },
        "gatewayInfo": {
          "description": "Optional. Information about the payment gateway's response to the transaction.",
          "$ref": "GoogleCloudRecaptchaenterpriseV1TransactionDataGatewayInfo"
        }
      },
      "id": "GoogleCloudRecaptchaenterpriseV1TransactionData",
      "type": "object",
      "description": "Transaction data associated with a payment protected by reCAPTCHA Enterprise."
    },
    "GoogleCloudRecaptchaenterpriseV1FraudPreventionAssessmentCardTestingVerdict": {
      "description": "Information about card testing fraud, where an adversary is testing fraudulently obtained cards or brute forcing their details.",
      "type": "object",
      "id": "GoogleCloudRecaptchaenterpriseV1FraudPreventionAssessmentCardTestingVerdict",
      "properties": {
        "risk": {
          "readOnly": true,
          "type": "number",
          "format": "float",
          "description": "Output only. Probability of this transaction attempt being part of a card testing attack. Values are from 0.0 (lowest) to 1.0 (highest)."
        }
      }
    },
    "GoogleCloudRecaptchaenterpriseV1AppleDeveloperId": {
      "id": "GoogleCloudRecaptchaenterpriseV1AppleDeveloperId",
      "properties": {
        "teamId": {
          "description": "Required. The Apple team ID (10-character string) owning the provisioning profile used to build your application.",
          "type": "string"
        },
        "keyId": {
          "type": "string",
          "description": "Required. The Apple developer key ID (10-character string)."
        },
        "privateKey": {
          "description": "Required. Input only. A private key (downloaded as a text file with a .p8 file extension) generated for your Apple Developer account. Ensure that Apple DeviceCheck is enabled for the private key.",
          "type": "string"
        }
      },
      "description": "Contains fields that are required to perform Apple-specific integrity checks.",
      "type": "object"
    },
    "GoogleCloudRecaptchaenterpriseV1IpOverrideData": {
      "properties": {
        "ip": {
          "type": "string",
          "description": "Required. The IP address to override (can be IPv4, IPv6 or CIDR). The IP override must be a valid IPv4 or IPv6 address, or a CIDR range. The IP override must be a public IP address. Example of IPv4: 168.192.5.6 Example of IPv6: 2001:0000:130F:0000:0000:09C0:876A:130B Example of IPv4 with CIDR: 168.192.5.0/24 Example of IPv6 with CIDR: 2001:0DB8:1234::/48"
        },
        "overrideType": {
          "enumDescriptions": [
            "Default override type that indicates this enum hasn't been specified.",
            "Allowlist the IP address; i.e. give a `risk_analysis.score` of 0.9 for all valid assessments."
          ],
          "type": "string",
          "description": "Required. Describes the type of IP override.",
          "enum": [
            "OVERRIDE_TYPE_UNSPECIFIED",
            "ALLOW"
          ]
        }
      },
      "id": "GoogleCloudRecaptchaenterpriseV1IpOverrideData",
      "description": "Information about the IP or IP range override.",
      "type": "object"
    },
    "GoogleCloudRecaptchaenterpriseV1TransactionDataItem": {
      "properties": {
        "name": {
          "type": "string",
          "description": "Optional. The full name of the item."
        },
        "value": {
          "description": "Optional. The value per item that the user is paying, in the transaction currency, after discounts.",
          "format": "double",
          "type": "number"
        },
        "merchantAccountId": {
          "description": "Optional. When a merchant is specified, its corresponding account_id. Necessary to populate marketplace-style transactions.",
          "type": "string"
        },
        "quantity": {
          "description": "Optional. The quantity of this item that is being purchased.",
          "format": "int64",
          "type": "string"
        }
      },
      "id": "GoogleCloudRecaptchaenterpriseV1TransactionDataItem",
      "type": "object",
      "description": "Line items being purchased in this transaction."
    },
    "GoogleCloudRecaptchaenterpriseV1FraudPreventionAssessmentRiskReason": {
      "description": "Risk reasons applicable to the Fraud Prevention assessment.",
      "id": "GoogleCloudRecaptchaenterpriseV1FraudPreventionAssessmentRiskReason",
      "properties": {
        "reason": {
          "description": "Output only. Risk reasons applicable to the Fraud Prevention assessment.",
          "enum": [
            "REASON_UNSPECIFIED",
            "HIGH_TRANSACTION_VELOCITY",
            "EXCESSIVE_ENUMERATION_PATTERN",
            "SHORT_IDENTITY_HISTORY",
            "GEOLOCATION_DISCREPANCY",
            "ASSOCIATED_WITH_FRAUD_CLUSTER"
          ],
          "type": "string",
          "enumDescriptions": [
            "Default unspecified type.",
            "A suspiciously high number of recent transactions have used identifiers present in this transaction.",
            "User is cycling through a suspiciously large number of identifiers, suggesting enumeration or validation attacks within a potential fraud network.",
            "User has a short history or no history in the reCAPTCHA network, suggesting the possibility of synthetic identity generation.",
            "Identifiers used in this transaction originate from an unusual or conflicting set of geolocations.",
            "This transaction is linked to a cluster of known fraudulent activity."
          ],
          "readOnly": true
        }
      },
      "type": "object"
    },
    "GoogleCloudRecaptchaenterpriseV1AssessmentEnvironment": {
      "description": "The environment creating the assessment. This describes your environment (the system invoking CreateAssessment), NOT the environment of your user.",
      "type": "object",
      "id": "GoogleCloudRecaptchaenterpriseV1AssessmentEnvironment",
      "properties": {
        "version": {
          "description": "Optional. The version of the client module. For example, \"1.0.0\".",
          "type": "string"
        },
        "client": {
          "description": "Optional. Identifies the client module initiating the CreateAssessment request. This can be the link to the client module's project. Examples include: - \"github.com/GoogleCloudPlatform/recaptcha-enterprise-google-tag-manager\" - \"wordpress.org/plugins/recaptcha-something\"",
          "type": "string"
        }
      }
    },
    "GoogleCloudRecaptchaenterpriseV1AddIpOverrideResponse": {
      "id": "GoogleCloudRecaptchaenterpriseV1AddIpOverrideResponse",
      "type": "object",
      "description": "Response for AddIpOverride.",
      "properties": {}
    },
    "GoogleCloudRecaptchaenterpriseV1SearchRelatedAccountGroupMembershipsRequest": {
      "id": "GoogleCloudRecaptchaenterpriseV1SearchRelatedAccountGroupMembershipsRequest",
      "properties": {
        "pageSize": {
          "description": "Optional. The maximum number of groups to return. The service might return fewer than this value. If unspecified, at most 50 groups are returned. The maximum value is 1000; values above 1000 are coerced to 1000.",
          "format": "int32",
          "type": "integer"
        },
        "accountId": {
          "type": "string",
          "description": "Optional. The unique stable account identifier used to search connections. The identifier should correspond to an `account_id` provided in a previous `CreateAssessment` or `AnnotateAssessment` call. Either hashed_account_id or account_id must be set, but not both."
        },
        "pageToken": {
          "type": "string",
          "description": "Optional. A page token, received from a previous `SearchRelatedAccountGroupMemberships` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `SearchRelatedAccountGroupMemberships` must match the call that provided the page token."
        },
        "hashedAccountId": {
          "deprecated": true,
          "format": "byte",
          "type": "string",
          "description": "Optional. Deprecated: use `account_id` instead. The unique stable hashed account identifier used to search connections. The identifier should correspond to a `hashed_account_id` provided in a previous `CreateAssessment` or `AnnotateAssessment` call. Either hashed_account_id or account_id must be set, but not both."
        }
      },
      "description": "The request message to search related account group memberships.",
      "type": "object"
    },
    "GoogleCloudRecaptchaenterpriseV1ChallengeRuleGroup": {
      "id": "GoogleCloudRecaptchaenterpriseV1ChallengeRuleGroup",
      "type": "object",
      "properties": {
        "challengeRules": {
          "description": "Required. A list of rules that configure when and how reCAPTCHA presents a challenge. reCAPTCHA evaluates these rules in order and applies the first one that matches.",
          "items": {
            "$ref": "GoogleCloudRecaptchaenterpriseV1ChallengeRule"
          },
          "type": "array"
        },
        "actions": {
          "description": "Required. Action name provided at token generation. The action name is not case-sensitive and can only contain alphanumeric characters, slashes, and underscores. If \"*\" is provided, the rule group applies to all actions. If multiple actions are provided, the rule group is applied to all of them. This field is required.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "description": "A collection of challenge rules that applies to one or more actions."
    },
    "GoogleCloudRecaptchaenterpriseV1MigrateKeyRequest": {
      "type": "object",
      "id": "GoogleCloudRecaptchaenterpriseV1MigrateKeyRequest",
      "description": "The migrate key request message.",
      "properties": {
        "skipBillingCheck": {
          "description": "Optional. If true, skips the billing check. A reCAPTCHA Enterprise key or migrated key behaves differently than a reCAPTCHA (non-Enterprise version) key when you reach a quota limit (see https://docs.cloud.google.com/recaptcha/quotas#quota_limit). To avoid any disruption of your usage, we check that a billing account is present. If your usage of reCAPTCHA is under the free quota, you can safely skip the billing check and proceed with the migration. See https://cloud.google.com/recaptcha/docs/billing-information.",
          "type": "boolean"
        }
      }
    },
    "GoogleCloudRecaptchaenterpriseV1FraudSignalsUserSignals": {
      "description": "Signals describing the user involved in this transaction.",
      "properties": {
        "activeDaysLowerBound": {
          "description": "Output only. This user (based on email, phone, and other identifiers) has been seen on the internet for at least this number of days.",
          "readOnly": true,
          "format": "int32",
          "type": "integer"
        },
        "syntheticRisk": {
          "readOnly": true,
          "format": "float",
          "type": "number",
          "description": "Output only. Likelihood (from 0.0 to 1.0) this user includes synthetic components in their identity, such as a randomly generated email address, temporary phone number, or fake shipping address."
        }
      },
      "type": "object",
      "id": "GoogleCloudRecaptchaenterpriseV1FraudSignalsUserSignals"
    },
    "GoogleCloudRecaptchaenterpriseV1TransactionDataUser": {
      "type": "object",
      "properties": {
        "phoneNumber": {
          "description": "Optional. The phone number of the user, with country code.",
          "type": "string"
        },
        "emailVerified": {
          "type": "boolean",
          "description": "Optional. Whether the email has been verified to be accessible by the user (OTP or similar)."
        },
        "phoneVerified": {
          "type": "boolean",
          "description": "Optional. Whether the phone number has been verified to be accessible by the user (OTP or similar)."
        },
        "email": {
          "type": "string",
          "description": "Optional. The email address of the user."
        },
        "creationMs": {
          "description": "Optional. The epoch milliseconds of the user's account creation.",
          "format": "int64",
          "type": "string"
        },
        "accountId": {
          "description": "Optional. Unique account identifier for this user. If using Account defense, this should match the hashed_account_id field. Otherwise, a unique and persistent identifier for this account.",
          "type": "string"
        }
      },
      "id": "GoogleCloudRecaptchaenterpriseV1TransactionDataUser",
      "description": "Details about a user's account involved in the transaction."
    },
    "GoogleCloudRecaptchaenterpriseV1FirewallActionBlockAction": {
      "id": "GoogleCloudRecaptchaenterpriseV1FirewallActionBlockAction",
      "description": "A block action serves an HTTP error code a prevents the request from hitting the backend.",
      "properties": {},
      "type": "object"
    },
    "GoogleCloudRecaptchaenterpriseV1Policy": {
      "description": "A complete configuration set containing multiple grouped rules defining the behavior of reCAPTCHA for fraud detection and prevention.",
      "properties": {
        "name": {
          "description": "Identifier. Resource name for this policy. Format: \"projects/{project}/keys/{key}/policy\" for a policy under a key.",
          "type": "string"
        },
        "challengeRuleGroups": {
          "items": {
            "$ref": "GoogleCloudRecaptchaenterpriseV1ChallengeRuleGroup"
          },
          "type": "array",
          "description": "Optional. Rules to configure the behavior of reCAPTCHA for showing a challenge. Rule groups are evaluated in order. Evaluation stops when the first matching rule group is found."
        },
        "clientSettings": {
          "$ref": "GoogleCloudRecaptchaenterpriseV1ClientSettings",
          "description": "Required. Configuration for clients protected by this policy."
        }
      },
      "id": "GoogleCloudRecaptchaenterpriseV1Policy",
      "type": "object"
    },
    "GoogleCloudRecaptchaenterpriseV1ChallengeRuleChallengeOutcome": {
      "id": "GoogleCloudRecaptchaenterpriseV1ChallengeRuleChallengeOutcome",
      "description": "An outcome that indicates that a challenge of a specified difficulty should be presented to the user.",
      "type": "object",
      "properties": {
        "difficulty": {
          "type": "string",
          "description": "Optional. The difficulty of the challenge to present to the user. If unspecified, `BALANCE` is used.",
          "enum": [
            "CHALLENGE_SECURITY_PREFERENCE_UNSPECIFIED",
            "USABILITY",
            "BALANCE",
            "SECURITY"
          ],
          "enumDescriptions": [
            "Default type that indicates this enum hasn't been specified.",
            "Key tends to show fewer and easier challenges.",
            "Key tends to show balanced (in amount and difficulty) challenges.",
            "Key tends to show more and harder challenges."
          ]
        }
      }
    },
    "GoogleCloudRecaptchaenterpriseV1ListFirewallPoliciesResponse": {
      "id": "GoogleCloudRecaptchaenterpriseV1ListFirewallPoliciesResponse",
      "properties": {
        "firewallPolicies": {
          "description": "Policy details.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudRecaptchaenterpriseV1FirewallPolicy"
          }
        },
        "nextPageToken": {
          "description": "Token to retrieve the next page of results. It is set to empty if no policies remain in results.",
          "type": "string"
        }
      },
      "description": "Response to request to list firewall policies belonging to a project.",
      "type": "object"
    },
    "GoogleCloudRecaptchaenterpriseV1SearchRelatedAccountGroupMembershipsResponse": {
      "description": "The response to a `SearchRelatedAccountGroupMemberships` call.",
      "properties": {
        "relatedAccountGroupMemberships": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudRecaptchaenterpriseV1RelatedAccountGroupMembership"
          },
          "description": "The queried memberships."
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        }
      },
      "id": "GoogleCloudRecaptchaenterpriseV1SearchRelatedAccountGroupMembershipsResponse",
      "type": "object"
    },
    "GoogleCloudRecaptchaenterpriseV1Assessment": {
      "properties": {
        "phoneFraudAssessment": {
          "$ref": "GoogleCloudRecaptchaenterpriseV1PhoneFraudAssessment",
          "description": "Output only. Assessment returned when a site key, a token, and a phone number as `user_id` are provided. SMS defense needs to be enabled.",
          "readOnly": true
        },
        "name": {
          "description": "Output only. Identifier. The resource name for the Assessment in the format `projects/{project}/assessments/{assessment}`.",
          "readOnly": true,
          "type": "string"
        },
        "riskAnalysis": {
          "description": "Output only. The risk analysis result for the event being assessed.",
          "$ref": "GoogleCloudRecaptchaenterpriseV1RiskAnalysis",
          "readOnly": true
        },
        "assessmentEnvironment": {
          "description": "Optional. The environment creating the assessment. This describes your environment (the system invoking CreateAssessment), NOT the environment of your user.",
          "$ref": "GoogleCloudRecaptchaenterpriseV1AssessmentEnvironment"
        },
        "accountVerification": {
          "$ref": "GoogleCloudRecaptchaenterpriseV1AccountVerificationInfo",
          "description": "Optional. Account verification information for identity verification. The assessment event must include a token and site key to use this feature."
        },
        "privatePasswordLeakVerification": {
          "description": "Optional. The private password leak verification field contains the parameters that are used to to check for leaks privately without sharing user credentials.",
          "$ref": "GoogleCloudRecaptchaenterpriseV1PrivatePasswordLeakVerification"
        },
        "fraudSignals": {
          "$ref": "GoogleCloudRecaptchaenterpriseV1FraudSignals",
          "readOnly": true,
          "description": "Output only. Fraud Signals specific to the users involved in a payment transaction."
        },
        "tokenProperties": {
          "$ref": "GoogleCloudRecaptchaenterpriseV1TokenProperties",
          "description": "Output only. Properties of the provided event token.",
          "readOnly": true
        },
        "fraudPreventionAssessment": {
          "description": "Output only. Assessment returned by Fraud Prevention when TransactionData is provided.",
          "readOnly": true,
          "$ref": "GoogleCloudRecaptchaenterpriseV1FraudPreventionAssessment"
        },
        "event": {
          "description": "Optional. The event being assessed.",
          "$ref": "GoogleCloudRecaptchaenterpriseV1Event"
        },
        "firewallPolicyAssessment": {
          "$ref": "GoogleCloudRecaptchaenterpriseV1FirewallPolicyAssessment",
          "description": "Output only. Assessment returned when firewall policies belonging to the project are evaluated using the field firewall_policy_evaluation.",
          "readOnly": true
        },
        "policyEvaluation": {
          "description": "Output only. Provides information about the policy evaluation for this assessment.",
          "$ref": "GoogleCloudRecaptchaenterpriseV1PolicyEvaluation",
          "readOnly": true
        },
        "accountDefenderAssessment": {
          "$ref": "GoogleCloudRecaptchaenterpriseV1AccountDefenderAssessment",
          "description": "Output only. Assessment returned by Account defense when an account identifier is provided.",
          "readOnly": true
        }
      },
      "description": "A reCAPTCHA Enterprise assessment resource.",
      "type": "object",
      "id": "GoogleCloudRecaptchaenterpriseV1Assessment"
    },
    "GoogleCloudRecaptchaenterpriseV1RiskAnalysis": {
      "description": "Risk analysis result for an event.",
      "properties": {
        "verifiedBots": {
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "GoogleCloudRecaptchaenterpriseV1Bot"
          },
          "description": "Output only. Bots with identities that have been verified by reCAPTCHA and detected in the event."
        },
        "lastChallengeType": {
          "type": "string",
          "enum": [
            "CHALLENGE_TYPE_UNSPECIFIED",
            "CHALLENGE_TYPE_VISUAL",
            "CHALLENGE_TYPE_AUDIO"
          ],
          "description": "Output only. Type of the last challenge presented to the user for Universal, `POLICY_BASED_CHALLENGE` and `INVISIBLE` keys. The field is only set when a challenge was presented to the user.",
          "readOnly": true,
          "enumDescriptions": [
            "Default unspecified type.",
            "A visual challenge.",
            "An audio challenge."
          ]
        },
        "reasons": {
          "description": "Output only. Reasons contributing to the risk analysis verdict.",
          "items": {
            "type": "string",
            "enumDescriptions": [
              "Default unspecified type.",
              "Interactions matched the behavior of an automated agent.",
              "The event originated from an illegitimate environment.",
              "Traffic volume from the event source is higher than normal.",
              "Interactions with the site were significantly different than expected patterns.",
              "Too little traffic has been received from this site thus far to generate quality risk analysis.",
              "Deprecated: Use FraudPreventionAssessment.transaction_risk and FraudPreventionAssessment.RiskReason.Reason.EXCESSIVE_ENUMERATION_PATTERN instead.",
              "Deprecated: Use FraudPreventionAssessment.transaction_risk and FraudPreventionAssessment.RiskReason.Reason.ASSOCIATED_WITH_FRAUD_CLUSTER instead."
            ],
            "enumDeprecated": [
              false,
              false,
              false,
              false,
              false,
              false,
              true,
              true
            ],
            "enum": [
              "CLASSIFICATION_REASON_UNSPECIFIED",
              "AUTOMATION",
              "UNEXPECTED_ENVIRONMENT",
              "TOO_MUCH_TRAFFIC",
              "UNEXPECTED_USAGE_PATTERNS",
              "LOW_CONFIDENCE_SCORE",
              "SUSPECTED_CARDING",
              "SUSPECTED_CHARGEBACK"
            ]
          },
          "readOnly": true,
          "type": "array"
        },
        "score": {
          "format": "float",
          "description": "Output only. Legitimate event score from 0.0 to 1.0. (1.0 means very likely legitimate traffic while 0.0 means very likely non-legitimate traffic).",
          "type": "number",
          "readOnly": true
        },
        "challenge": {
          "enum": [
            "CHALLENGE_UNSPECIFIED",
            "NOCAPTCHA",
            "PASSED",
            "FAILED"
          ],
          "description": "Output only. Challenge information for Universal, `POLICY_BASED_CHALLENGE` and `INVISIBLE` keys.",
          "enumDescriptions": [
            "Default unspecified type.",
            "No challenge was presented for solving.",
            "A solution was submitted that was correct.",
            "A solution was submitted that was incorrect or otherwise deemed suspicious."
          ],
          "type": "string",
          "readOnly": true
        },
        "extendedVerdictReasons": {
          "description": "Output only. Additional reasons contributing to the risk analysis verdict. These reasons are available to Enterprise tier projects only. Contact sales for more information. The set of reasons is subject to change.",
          "readOnly": true,
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "id": "GoogleCloudRecaptchaenterpriseV1RiskAnalysis",
      "type": "object"
    },
    "GoogleCloudRecaptchaenterpriseV1ReorderFirewallPoliciesRequest": {
      "description": "The reorder firewall policies request message.",
      "id": "GoogleCloudRecaptchaenterpriseV1ReorderFirewallPoliciesRequest",
      "type": "object",
      "properties": {
        "names": {
          "description": "Required. A list containing all policy names, in the new order. Each name is in the format `projects/{project}/firewallpolicies/{firewallpolicy}`.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "GoogleCloudRecaptchaenterpriseV1ListKeysResponse": {
      "properties": {
        "keys": {
          "items": {
            "$ref": "GoogleCloudRecaptchaenterpriseV1Key"
          },
          "description": "Key details.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "Token to retrieve the next page of results. It is set to empty if no keys remain in results.",
          "type": "string"
        }
      },
      "id": "GoogleCloudRecaptchaenterpriseV1ListKeysResponse",
      "description": "Response to request to list keys in a project.",
      "type": "object"
    },
    "GoogleCloudRecaptchaenterpriseV1ExpressKeySettings": {
      "type": "object",
      "properties": {},
      "description": "Settings specific to keys that can be used for reCAPTCHA Express.",
      "id": "GoogleCloudRecaptchaenterpriseV1ExpressKeySettings"
    },
    "GoogleCloudRecaptchaenterpriseV1ListIpOverridesResponse": {
      "type": "object",
      "description": "Response for ListIpOverrides.",
      "id": "GoogleCloudRecaptchaenterpriseV1ListIpOverridesResponse",
      "properties": {
        "nextPageToken": {
          "description": "Token to retrieve the next page of results. If this field is empty, no keys remain in the results.",
          "type": "string"
        },
        "ipOverrides": {
          "items": {
            "$ref": "GoogleCloudRecaptchaenterpriseV1IpOverrideData"
          },
          "description": "IP Overrides details.",
          "type": "array"
        }
      }
    },
    "GoogleCloudRecaptchaenterpriseV1AndroidKeySettings": {
      "id": "GoogleCloudRecaptchaenterpriseV1AndroidKeySettings",
      "description": "Settings specific to keys that can be used by Android apps.",
      "type": "object",
      "properties": {
        "allowAllPackageNames": {
          "description": "Optional. If set to true, allowed_package_names are not enforced.",
          "type": "boolean"
        },
        "allowedPackageNames": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. Android package names of apps allowed to use the key. Example: 'com.companyname.appname' Each key supports a maximum of 250 package names. To use a key on more apps, set `allow_all_package_names` to true. When this is set, you are responsible for validating the package name by checking the `token_properties.android_package_name` field in each assessment response against your list of allowed package names."
        },
        "supportNonGoogleAppStoreDistribution": {
          "type": "boolean",
          "description": "Optional. Set to true for keys that are used in an Android application that is available for download in app stores in addition to the Google Play Store."
        }
      }
    },
    "GoogleCloudRecaptchaenterpriseV1FraudSignals": {
      "description": "Fraud signals describing users and cards involved in the transaction.",
      "properties": {
        "userSignals": {
          "readOnly": true,
          "$ref": "GoogleCloudRecaptchaenterpriseV1FraudSignalsUserSignals",
          "description": "Output only. Signals describing the end user in this transaction."
        },
        "cardSignals": {
          "description": "Output only. Signals describing the payment card or cards used in this transaction.",
          "$ref": "GoogleCloudRecaptchaenterpriseV1FraudSignalsCardSignals",
          "readOnly": true
        }
      },
      "id": "GoogleCloudRecaptchaenterpriseV1FraudSignals",
      "type": "object"
    },
    "GoogleCloudRecaptchaenterpriseV1FraudSignalsCardSignals": {
      "properties": {
        "cardLabels": {
          "type": "array",
          "readOnly": true,
          "items": {
            "enum": [
              "CARD_LABEL_UNSPECIFIED",
              "PREPAID",
              "VIRTUAL",
              "UNEXPECTED_LOCATION"
            ],
            "type": "string",
            "enumDescriptions": [
              "No label specified.",
              "This card has been detected as prepaid.",
              "This card has been detected as virtual, such as a card number generated for a single transaction or merchant.",
              "This card has been detected as being used in an unexpected geographic location."
            ]
          },
          "description": "Output only. The labels for the payment card in this transaction."
        }
      },
      "type": "object",
      "id": "GoogleCloudRecaptchaenterpriseV1FraudSignalsCardSignals",
      "description": "Signals describing the payment card used in this transaction."
    },
    "GoogleCloudRecaptchaenterpriseV1ListRelatedAccountGroupMembershipsResponse": {
      "id": "GoogleCloudRecaptchaenterpriseV1ListRelatedAccountGroupMembershipsResponse",
      "type": "object",
      "description": "The response to a `ListRelatedAccountGroupMemberships` call.",
      "properties": {
        "relatedAccountGroupMemberships": {
          "items": {
            "$ref": "GoogleCloudRecaptchaenterpriseV1RelatedAccountGroupMembership"
          },
          "description": "The memberships listed by the query.",
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        }
      }
    },
    "GoogleCloudRecaptchaenterpriseV1FraudPreventionAssessmentBehavioralTrustVerdict": {
      "description": "Information about behavioral trust of the transaction.",
      "type": "object",
      "properties": {
        "trust": {
          "description": "Output only. Probability of this transaction attempt being executed in a behaviorally trustworthy way. Values are from 0.0 (lowest) to 1.0 (highest).",
          "format": "float",
          "readOnly": true,
          "type": "number"
        }
      },
      "id": "GoogleCloudRecaptchaenterpriseV1FraudPreventionAssessmentBehavioralTrustVerdict"
    },
    "GoogleCloudRecaptchaenterpriseV1AnnotateAssessmentRequest": {
      "description": "The request message to annotate an Assessment.",
      "id": "GoogleCloudRecaptchaenterpriseV1AnnotateAssessmentRequest",
      "properties": {
        "transactionEvent": {
          "$ref": "GoogleCloudRecaptchaenterpriseV1TransactionEvent",
          "description": "Optional. If the assessment is part of a payment transaction, provide details on payment lifecycle events that occur in the transaction."
        },
        "annotation": {
          "enumDeprecated": [
            false,
            false,
            false,
            true,
            true
          ],
          "description": "Optional. The annotation that is assigned to the Event. This field can be left empty to provide reasons that apply to an event without concluding whether the event is legitimate or fraudulent.",
          "enumDescriptions": [
            "Default unspecified type.",
            "Provides information that the event turned out to be legitimate.",
            "Provides information that the event turned out to be fraudulent.",
            "Provides information that the event was related to a login event in which the user typed the correct password. Deprecated, prefer indicating CORRECT_PASSWORD through the reasons field instead.",
            "Provides information that the event was related to a login event in which the user typed the incorrect password. Deprecated, prefer indicating INCORRECT_PASSWORD through the reasons field instead."
          ],
          "type": "string",
          "enum": [
            "ANNOTATION_UNSPECIFIED",
            "LEGITIMATE",
            "FRAUDULENT",
            "PASSWORD_CORRECT",
            "PASSWORD_INCORRECT"
          ]
        },
        "accountId": {
          "type": "string",
          "description": "Optional. A stable account identifier to apply to the assessment. This is an alternative to setting `account_id` in `CreateAssessment`, for example when a stable account identifier is not yet known in the initial request."
        },
        "hashedAccountId": {
          "type": "string",
          "description": "Optional. A stable hashed account identifier to apply to the assessment. This is an alternative to setting `hashed_account_id` in `CreateAssessment`, for example when a stable account identifier is not yet known in the initial request.",
          "format": "byte"
        },
        "phoneAuthenticationEvent": {
          "description": "Optional. If using an external multi-factor authentication provider, provide phone authentication details for fraud detection purposes.",
          "$ref": "GoogleCloudRecaptchaenterpriseV1PhoneAuthenticationEvent"
        },
        "reasons": {
          "description": "Optional. Reasons for the annotation that are assigned to the event.",
          "type": "array",
          "items": {
            "type": "string",
            "enumDescriptions": [
              "Unspecified reason. Do not use.",
              "Indicates that the transaction had a chargeback issued with no other details. When possible, specify the type by using CHARGEBACK_FRAUD or CHARGEBACK_DISPUTE instead.",
              "Indicates that the transaction had a chargeback issued related to an alleged unauthorized transaction from the cardholder's perspective (for example, the card number was stolen).",
              "Indicates that the transaction had a chargeback issued related to the cardholder having provided their card details but allegedly not being satisfied with the purchase (for example, misrepresentation, attempted cancellation).",
              "Indicates that the completed payment transaction was refunded by the seller.",
              "Indicates that the completed payment transaction was determined to be fraudulent by the seller, and was cancelled and refunded as a result.",
              "Indicates that the payment transaction was accepted, and the user was charged.",
              "Indicates that the payment transaction was declined, for example due to invalid card details.",
              "Indicates the transaction associated with the assessment is suspected of being fraudulent based on the payment method, billing details, shipping address or other transaction information.",
              "Indicates that the user was served a 2FA challenge. An old assessment with `ENUM_VALUES.INITIATED_TWO_FACTOR` reason that has not been overwritten with `PASSED_TWO_FACTOR` is treated as an abandoned 2FA flow. This is equivalent to `FAILED_TWO_FACTOR`.",
              "Indicates that the user passed a 2FA challenge.",
              "Indicates that the user failed a 2FA challenge.",
              "Indicates the user provided the correct password.",
              "Indicates the user provided an incorrect password.",
              "Indicates that the user sent unwanted and abusive messages to other users of the platform, such as spam, scams, phishing, or social engineering."
            ],
            "enum": [
              "REASON_UNSPECIFIED",
              "CHARGEBACK",
              "CHARGEBACK_FRAUD",
              "CHARGEBACK_DISPUTE",
              "REFUND",
              "REFUND_FRAUD",
              "TRANSACTION_ACCEPTED",
              "TRANSACTION_DECLINED",
              "PAYMENT_HEURISTICS",
              "INITIATED_TWO_FACTOR",
              "PASSED_TWO_FACTOR",
              "FAILED_TWO_FACTOR",
              "CORRECT_PASSWORD",
              "INCORRECT_PASSWORD",
              "SOCIAL_SPAM"
            ]
          }
        }
      },
      "type": "object"
    },
    "GoogleCloudRecaptchaenterpriseV1AddIpOverrideRequest": {
      "type": "object",
      "description": "The AddIpOverride request message.",
      "properties": {
        "ipOverrideData": {
          "description": "Required. IP override added to the key.",
          "$ref": "GoogleCloudRecaptchaenterpriseV1IpOverrideData"
        }
      },
      "id": "GoogleCloudRecaptchaenterpriseV1AddIpOverrideRequest"
    },
    "GoogleCloudRecaptchaenterpriseV1PhoneFraudAssessment": {
      "id": "GoogleCloudRecaptchaenterpriseV1PhoneFraudAssessment",
      "description": "Assessment for Phone Fraud",
      "type": "object",
      "properties": {
        "smsTollFraudVerdict": {
          "$ref": "GoogleCloudRecaptchaenterpriseV1SmsTollFraudVerdict",
          "description": "Output only. Assessment of this phone event for risk of SMS toll fraud.",
          "readOnly": true
        }
      }
    },
    "GoogleCloudRecaptchaenterpriseV1FirewallActionIncludeRecaptchaScriptAction": {
      "description": "An include reCAPTCHA script action involves injecting reCAPTCHA JavaScript code into the HTML returned by the site backend. This reCAPTCHA script is tasked with collecting user signals on the requested web page, issuing tokens as a cookie within the site domain, and enabling their utilization in subsequent page requests.",
      "type": "object",
      "properties": {},
      "id": "GoogleCloudRecaptchaenterpriseV1FirewallActionIncludeRecaptchaScriptAction"
    },
    "GoogleCloudRecaptchaenterpriseV1ChallengeRuleEvaluation": {
      "type": "object",
      "description": "Information about the evaluation of a `ChallengeRule`.",
      "properties": {},
      "id": "GoogleCloudRecaptchaenterpriseV1ChallengeRuleEvaluation"
    },
    "GoogleCloudRecaptchaenterpriseV1AccountDefenderAssessmentAccountTakeoverVerdict": {
      "type": "object",
      "id": "GoogleCloudRecaptchaenterpriseV1AccountDefenderAssessmentAccountTakeoverVerdict",
      "properties": {
        "trustReasons": {
          "type": "array",
          "description": "Output only. Unordered list. Reasons why the request appears trustworthy. Trust reasons can be returned even if the risk is high, as risky requests can still have some trust signals.",
          "readOnly": true,
          "items": {
            "$ref": "GoogleCloudRecaptchaenterpriseV1AccountDefenderAssessmentAccountTrustReason"
          }
        },
        "risk": {
          "readOnly": true,
          "type": "number",
          "description": "Output only. Account takeover attempt probability. Values are from 0.0 (lowest risk) to 1.0 (highest risk).",
          "format": "float"
        },
        "riskReasons": {
          "readOnly": true,
          "description": "Output only. Unordered list. Reasons why the request appears risky. Risk reasons can be returned even if the risk is low, as trustworthy requests can still have some risk signals.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudRecaptchaenterpriseV1AccountDefenderAssessmentAccountRiskReason"
          }
        }
      },
      "description": "Account takeover risk assessment."
    },
    "GoogleProtobufEmpty": {
      "properties": {},
      "type": "object",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "id": "GoogleProtobufEmpty"
    },
    "GoogleCloudRecaptchaenterpriseV1ListRelatedAccountGroupsResponse": {
      "properties": {
        "relatedAccountGroups": {
          "items": {
            "$ref": "GoogleCloudRecaptchaenterpriseV1RelatedAccountGroup"
          },
          "type": "array",
          "description": "The groups of related accounts listed by the query."
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        }
      },
      "description": "The response to a `ListRelatedAccountGroups` call.",
      "type": "object",
      "id": "GoogleCloudRecaptchaenterpriseV1ListRelatedAccountGroupsResponse"
    },
    "GoogleCloudRecaptchaenterpriseV1FirewallActionSubstituteAction": {
      "type": "object",
      "properties": {
        "path": {
          "description": "Optional. The address to redirect to. The target is a relative path in the current host. Example: \"/blog/404.html\".",
          "type": "string"
        }
      },
      "id": "GoogleCloudRecaptchaenterpriseV1FirewallActionSubstituteAction",
      "description": "A substitute action transparently serves a different page than the one requested."
    },
    "GoogleCloudRecaptchaenterpriseV1PrivatePasswordLeakVerification": {
      "description": "Private password leak verification info.",
      "id": "GoogleCloudRecaptchaenterpriseV1PrivatePasswordLeakVerification",
      "properties": {
        "encryptedLeakMatchPrefixes": {
          "type": "array",
          "items": {
            "type": "string",
            "format": "byte"
          },
          "readOnly": true,
          "description": "Output only. List of prefixes of the encrypted potential password leaks that matched the given parameters. They must be compared with the client-side decryption prefix of `reencrypted_user_credentials_hash`"
        },
        "reencryptedUserCredentialsHash": {
          "format": "byte",
          "readOnly": true,
          "description": "Output only. Corresponds to the re-encryption of the `encrypted_user_credentials_hash` field. It is used to match potential password leaks within `encrypted_leak_match_prefixes`.",
          "type": "string"
        },
        "lookupHashPrefix": {
          "type": "string",
          "format": "byte",
          "description": "Required. Exactly 26-bit prefix of the SHA-256 hash of the canonicalized username. It is used to look up password leaks associated with that hash prefix."
        },
        "encryptedUserCredentialsHash": {
          "format": "byte",
          "type": "string",
          "description": "Optional. Encrypted Scrypt hash of the canonicalized username+password. It is re-encrypted by the server and returned through `reencrypted_user_credentials_hash`."
        }
      },
      "type": "object"
    },
    "GoogleCloudRecaptchaenterpriseV1PhoneAuthenticationEvent": {
      "description": "Details on a phone authentication event",
      "properties": {
        "phoneNumber": {
          "description": "Required. Phone number in E.164 format for which a multi-factor authentication challenge was initiated, succeeded, or failed.",
          "type": "string"
        },
        "eventTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Optional. The time at which the multi-factor authentication event (challenge or verification) occurred."
        }
      },
      "id": "GoogleCloudRecaptchaenterpriseV1PhoneAuthenticationEvent",
      "type": "object"
    },
    "GoogleCloudRecaptchaenterpriseV1WebKeySettingsChallengeSettings": {
      "id": "GoogleCloudRecaptchaenterpriseV1WebKeySettingsChallengeSettings",
      "properties": {
        "actionSettings": {
          "type": "object",
          "additionalProperties": {
            "$ref": "GoogleCloudRecaptchaenterpriseV1WebKeySettingsActionSettings"
          },
          "description": "Optional. The action to score threshold map. The action name should be the same as the action name passed in the `data-action` attribute (see https://cloud.google.com/recaptcha/docs/actions-website). Action names are case-insensitive. There is a maximum of 100 action settings. An action name has a maximum length of 100."
        },
        "defaultSettings": {
          "description": "Required. Defines when a challenge is triggered (unless the default threshold is overridden for the given action, see `action_settings`).",
          "$ref": "GoogleCloudRecaptchaenterpriseV1WebKeySettingsActionSettings"
        }
      },
      "description": "Settings for POLICY_BASED_CHALLENGE keys to control when a challenge is triggered.",
      "type": "object"
    },
    "GoogleCloudRecaptchaenterpriseV1FirewallActionAllowAction": {
      "id": "GoogleCloudRecaptchaenterpriseV1FirewallActionAllowAction",
      "description": "An allow action continues processing a request unimpeded.",
      "type": "object",
      "properties": {}
    },
    "GoogleCloudRecaptchaenterpriseV1RelatedAccountGroupMembership": {
      "description": "A membership in a group of related accounts.",
      "properties": {
        "name": {
          "description": "Required. Identifier. The resource name for this membership in the format `projects/{project}/relatedaccountgroups/{relatedaccountgroup}/memberships/{membership}`.",
          "type": "string"
        },
        "hashedAccountId": {
          "type": "string",
          "deprecated": true,
          "format": "byte",
          "description": "Deprecated: use `account_id` instead. The unique stable hashed account identifier of the member. The identifier corresponds to a `hashed_account_id` provided in a previous `CreateAssessment` or `AnnotateAssessment` call."
        },
        "accountId": {
          "description": "The unique stable account identifier of the member. The identifier corresponds to an `account_id` provided in a previous `CreateAssessment` or `AnnotateAssessment` call.",
          "type": "string"
        }
      },
      "id": "GoogleCloudRecaptchaenterpriseV1RelatedAccountGroupMembership",
      "type": "object"
    },
    "GoogleCloudRecaptchaenterpriseV1EndpointVerificationInfo": {
      "type": "object",
      "properties": {
        "requestToken": {
          "description": "Output only. Token to provide to the client to trigger endpoint verification. It must be used within 15 minutes.",
          "type": "string",
          "readOnly": true
        },
        "emailAddress": {
          "description": "Email address for which to trigger a verification request.",
          "type": "string"
        },
        "phoneNumber": {
          "description": "Phone number for which to trigger a verification request. Should be given in E.164 format.",
          "type": "string"
        },
        "lastVerificationTime": {
          "description": "Output only. Timestamp of the last successful verification for the endpoint, if any.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        }
      },
      "description": "Information about a verification endpoint that can be used for 2FA.",
      "id": "GoogleCloudRecaptchaenterpriseV1EndpointVerificationInfo"
    },
    "GoogleCloudRecaptchaenterpriseV1Key": {
      "id": "GoogleCloudRecaptchaenterpriseV1Key",
      "type": "object",
      "properties": {
        "displayName": {
          "description": "Required. Human-readable display name of this key. Modifiable by user.",
          "type": "string"
        },
        "iosSettings": {
          "$ref": "GoogleCloudRecaptchaenterpriseV1IOSKeySettings",
          "description": "Settings for keys that can be used by iOS apps."
        },
        "testingOptions": {
          "description": "Optional. Options for user acceptance testing.",
          "$ref": "GoogleCloudRecaptchaenterpriseV1TestingOptions"
        },
        "androidSettings": {
          "description": "Settings for keys that can be used by Android apps.",
          "$ref": "GoogleCloudRecaptchaenterpriseV1AndroidKeySettings"
        },
        "name": {
          "description": "Identifier. The resource name for the Key in the format `projects/{project}/keys/{key}`.",
          "type": "string"
        },
        "universalSettings": {
          "description": "Settings for keys that are configured through their Policy.",
          "$ref": "GoogleCloudRecaptchaenterpriseV1UniversalKeySettings"
        },
        "createTime": {
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. The timestamp corresponding to the creation of this key.",
          "type": "string"
        },
        "wafSettings": {
          "description": "Optional. Settings for Web Application Firewall (WAF).",
          "$ref": "GoogleCloudRecaptchaenterpriseV1WafSettings"
        },
        "expressSettings": {
          "description": "Settings for keys that can be used by reCAPTCHA Express.",
          "$ref": "GoogleCloudRecaptchaenterpriseV1ExpressKeySettings"
        },
        "labels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. See [Creating and managing labels] (https://cloud.google.com/recaptcha/docs/labels)."
        },
        "webSettings": {
          "description": "Settings for keys that can be used by websites.",
          "$ref": "GoogleCloudRecaptchaenterpriseV1WebKeySettings"
        }
      },
      "description": "A key used to identify and configure applications (web and/or mobile) that use reCAPTCHA Enterprise."
    },
    "GoogleCloudRecaptchaenterpriseV1TestingOptions": {
      "type": "object",
      "id": "GoogleCloudRecaptchaenterpriseV1TestingOptions",
      "properties": {
        "testingScore": {
          "description": "Optional. All assessments for this Key return this score. Must be between 0 (likely not legitimate) and 1 (likely legitimate) inclusive.",
          "format": "float",
          "type": "number"
        },
        "testingChallenge": {
          "type": "string",
          "description": "Optional. For challenge-based keys only (CHECKBOX, INVISIBLE), all challenge requests for this site return nocaptcha if NOCAPTCHA, or an unsolvable challenge if CHALLENGE.",
          "enum": [
            "TESTING_CHALLENGE_UNSPECIFIED",
            "NOCAPTCHA",
            "UNSOLVABLE_CHALLENGE"
          ],
          "enumDescriptions": [
            "Perform the normal risk analysis and return either nocaptcha or a challenge depending on risk and trust factors.",
            "Challenge requests for this key always return a nocaptcha, which does not require a solution.",
            "Challenge requests for this key always return an unsolvable challenge."
          ]
        }
      },
      "description": "Options for user acceptance testing."
    },
    "GoogleCloudRecaptchaenterpriseV1AccountVerificationInfo": {
      "properties": {
        "endpoints": {
          "items": {
            "$ref": "GoogleCloudRecaptchaenterpriseV1EndpointVerificationInfo"
          },
          "type": "array",
          "description": "Optional. Endpoints that can be used for identity verification."
        },
        "latestVerificationResult": {
          "type": "string",
          "readOnly": true,
          "enumDescriptions": [
            "No information about the latest account verification.",
            "The user was successfully verified. This means the account verification challenge was successfully completed.",
            "The user failed the verification challenge.",
            "The site is not properly onboarded to use the account verification feature.",
            "The recipient is not allowed for account verification. This can occur during integration but should not occur in production.",
            "The recipient has already been sent too many verification codes in a short amount of time.",
            "The verification flow could not be completed due to a critical internal error.",
            "The client has exceeded their two factor request quota for this period of time.",
            "The request cannot be processed at the time because of an incident. This bypass can be restricted to a problematic destination email domain, a customer, or could affect the entire service.",
            "The request parameters do not match with the token provided and cannot be processed."
          ],
          "description": "Output only. Result of the latest account verification challenge.",
          "enum": [
            "RESULT_UNSPECIFIED",
            "SUCCESS_USER_VERIFIED",
            "ERROR_USER_NOT_VERIFIED",
            "ERROR_SITE_ONBOARDING_INCOMPLETE",
            "ERROR_RECIPIENT_NOT_ALLOWED",
            "ERROR_RECIPIENT_ABUSE_LIMIT_EXHAUSTED",
            "ERROR_CRITICAL_INTERNAL",
            "ERROR_CUSTOMER_QUOTA_EXHAUSTED",
            "ERROR_VERIFICATION_BYPASSED",
            "ERROR_VERDICT_MISMATCH"
          ]
        },
        "languageCode": {
          "type": "string",
          "description": "Optional. Language code preference for the verification message, set as a IETF BCP 47 language code."
        },
        "username": {
          "deprecated": true,
          "type": "string",
          "description": "Username of the account that is being verified. Deprecated. Customers should now provide the `account_id` field in `event.user_info`."
        }
      },
      "type": "object",
      "description": "Information about account verification, used for identity verification.",
      "id": "GoogleCloudRecaptchaenterpriseV1AccountVerificationInfo"
    },
    "GoogleCloudRecaptchaenterpriseV1RemoveIpOverrideRequest": {
      "type": "object",
      "properties": {
        "ipOverrideData": {
          "$ref": "GoogleCloudRecaptchaenterpriseV1IpOverrideData",
          "description": "Required. IP override to be removed from the key."
        }
      },
      "description": "The RemoveIpOverride request message.",
      "id": "GoogleCloudRecaptchaenterpriseV1RemoveIpOverrideRequest"
    },
    "GoogleCloudRecaptchaenterpriseV1FirewallAction": {
      "description": "An individual action. Each action represents what to do if a policy matches.",
      "properties": {
        "block": {
          "description": "This action denies access to a given page. The user gets an HTTP error code.",
          "$ref": "GoogleCloudRecaptchaenterpriseV1FirewallActionBlockAction"
        },
        "allow": {
          "description": "The user request did not match any policy and should be allowed access to the requested resource.",
          "$ref": "GoogleCloudRecaptchaenterpriseV1FirewallActionAllowAction"
        },
        "setHeader": {
          "description": "This action sets a custom header but allow the request to continue to the customer backend.",
          "$ref": "GoogleCloudRecaptchaenterpriseV1FirewallActionSetHeaderAction"
        },
        "substitute": {
          "$ref": "GoogleCloudRecaptchaenterpriseV1FirewallActionSubstituteAction",
          "description": "This action transparently serves a different page to an offending user."
        },
        "redirect": {
          "$ref": "GoogleCloudRecaptchaenterpriseV1FirewallActionRedirectAction",
          "description": "This action redirects the request to a reCAPTCHA interstitial to attach a token."
        },
        "includeRecaptchaScript": {
          "description": "This action injects reCAPTCHA JavaScript code into the HTML page returned by the site backend.",
          "$ref": "GoogleCloudRecaptchaenterpriseV1FirewallActionIncludeRecaptchaScriptAction"
        }
      },
      "type": "object",
      "id": "GoogleCloudRecaptchaenterpriseV1FirewallAction"
    },
    "GoogleCloudRecaptchaenterpriseV1TransactionEvent": {
      "properties": {
        "reason": {
          "description": "Optional. The reason or standardized code that corresponds with this transaction event, if one exists. For example, a CHARGEBACK event with code 6005.",
          "type": "string"
        },
        "eventType": {
          "enumDescriptions": [
            "Default, unspecified event type.",
            "Indicates that the transaction is approved by the merchant. The accompanying reasons can include terms such as 'INHOUSE', 'ACCERTIFY', 'CYBERSOURCE', or 'MANUAL_REVIEW'.",
            "Indicates that the transaction is denied and concluded due to risks detected by the merchant. The accompanying reasons can include terms such as 'INHOUSE', 'ACCERTIFY', 'CYBERSOURCE', or 'MANUAL_REVIEW'.",
            "Indicates that the transaction is being evaluated by a human, due to suspicion or risk.",
            "Indicates that the authorization attempt with the card issuer succeeded.",
            "Indicates that the authorization attempt with the card issuer failed. The accompanying reasons can include Visa's '54' indicating that the card is expired, or '82' indicating that the CVV is incorrect.",
            "Indicates that the transaction is completed because the funds were settled.",
            "Indicates that the transaction could not be completed because the funds were not settled.",
            "Indicates that the transaction has been canceled. Specify the reason for the cancellation. For example, 'INSUFFICIENT_INVENTORY'.",
            "Indicates that the merchant has received a chargeback inquiry due to fraud for the transaction, requesting additional information before a fraud chargeback is officially issued and a formal chargeback notification is sent.",
            "Indicates that the merchant has received a chargeback alert due to fraud for the transaction. The process of resolving the dispute without involving the payment network is started.",
            "Indicates that a fraud notification is issued for the transaction, sent by the payment instrument's issuing bank because the transaction appears to be fraudulent. We recommend including TC40 or SAFE data in the `reason` field for this event type. For partial chargebacks, we recommend that you include an amount in the `value` field.",
            "Indicates that the merchant is informed by the payment network that the transaction has entered the chargeback process due to fraud. Reason code examples include Discover's '6005' and '6041'. For partial chargebacks, we recommend that you include an amount in the `value` field.",
            "Indicates that the transaction has entered the chargeback process due to fraud, and that the merchant has chosen to enter representment. Reason examples include Discover's '6005' and '6041'. For partial chargebacks, we recommend that you include an amount in the `value` field.",
[...]
