{
  "name": "recaptchaenterprise",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "ownerDomain": "google.com",
  "title": "reCAPTCHA Enterprise API",
  "rootUrl": "https://recaptchaenterprise.googleapis.com/",
  "servicePath": "",
  "discoveryVersion": "v1",
  "version": "v1",
  "fullyEncodeReservedExpansion": true,
  "parameters": {
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "uploadType": {
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string"
    },
    "alt": {
      "type": "string",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query",
      "default": "json",
      "description": "Data format for response."
    },
    "fields": {
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string"
    },
    "key": {
      "type": "string",
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string",
      "location": "query"
    },
    "callback": {
      "description": "JSONP",
      "location": "query",
      "type": "string"
    },
    "prettyPrint": {
      "type": "boolean",
      "default": "true",
      "description": "Returns response with indentations and line breaks.",
      "location": "query"
    },
    "$.xgafv": {
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format.",
      "type": "string",
      "enum": [
        "1",
        "2"
      ],
      "location": "query"
    }
  },
  "schemas": {
    "GoogleCloudRecaptchaenterpriseV1Assessment": {
      "type": "object",
      "id": "GoogleCloudRecaptchaenterpriseV1Assessment",
      "properties": {
        "fraudPreventionAssessment": {
          "readOnly": true,
          "$ref": "GoogleCloudRecaptchaenterpriseV1FraudPreventionAssessment",
          "description": "Output only. Assessment returned by Fraud Prevention when TransactionData is provided."
        },
        "firewallPolicyAssessment": {
          "description": "Output only. Assessment returned when firewall policies belonging to the project are evaluated using the field firewall_policy_evaluation.",
          "readOnly": true,
          "$ref": "GoogleCloudRecaptchaenterpriseV1FirewallPolicyAssessment"
        },
        "event": {
          "description": "Optional. The event being assessed.",
          "$ref": "GoogleCloudRecaptchaenterpriseV1Event"
        },
        "riskAnalysis": {
          "readOnly": true,
          "$ref": "GoogleCloudRecaptchaenterpriseV1RiskAnalysis",
          "description": "Output only. The risk analysis result for the event being assessed."
        },
        "policyEvaluation": {
          "readOnly": true,
          "description": "Output only. Provides information about the policy evaluation for this assessment.",
          "$ref": "GoogleCloudRecaptchaenterpriseV1PolicyEvaluation"
        },
        "tokenProperties": {
          "$ref": "GoogleCloudRecaptchaenterpriseV1TokenProperties",
          "readOnly": true,
          "description": "Output only. Properties of the provided event token."
        },
        "fraudSignals": {
          "$ref": "GoogleCloudRecaptchaenterpriseV1FraudSignals",
          "readOnly": true,
          "description": "Output only. Fraud Signals specific to the users involved in a payment transaction."
        },
        "assessmentEnvironment": {
          "$ref": "GoogleCloudRecaptchaenterpriseV1AssessmentEnvironment",
          "description": "Optional. The environment creating the assessment. This describes your environment (the system invoking CreateAssessment), NOT the environment of your user."
        },
        "phoneFraudAssessment": {
          "$ref": "GoogleCloudRecaptchaenterpriseV1PhoneFraudAssessment",
          "readOnly": true,
          "description": "Output only. Assessment returned when a site key, a token, and a phone number as `user_id` are provided. SMS defense needs to be enabled."
        },
        "accountDefenderAssessment": {
          "readOnly": true,
          "description": "Output only. Assessment returned by Account defense when an account identifier is provided.",
          "$ref": "GoogleCloudRecaptchaenterpriseV1AccountDefenderAssessment"
        },
        "name": {
          "description": "Output only. Identifier. The resource name for the Assessment in the format `projects/{project}/assessments/{assessment}`.",
          "type": "string",
          "readOnly": true
        },
        "privatePasswordLeakVerification": {
          "$ref": "GoogleCloudRecaptchaenterpriseV1PrivatePasswordLeakVerification",
          "description": "Optional. The private password leak verification field contains the parameters that are used to to check for leaks privately without sharing user credentials."
        },
        "accountVerification": {
          "$ref": "GoogleCloudRecaptchaenterpriseV1AccountVerificationInfo",
          "description": "Optional. Account verification information for identity verification. The assessment event must include a token and site key to use this feature."
        }
      },
      "description": "A reCAPTCHA Enterprise assessment resource."
    },
    "GoogleCloudRecaptchaenterpriseV1FraudPreventionAssessmentCardTestingVerdict": {
      "id": "GoogleCloudRecaptchaenterpriseV1FraudPreventionAssessmentCardTestingVerdict",
      "properties": {
        "risk": {
          "type": "number",
          "description": "Output only. Probability of this transaction attempt being part of a card testing attack. Values are from 0.0 (lowest) to 1.0 (highest).",
          "readOnly": true,
          "format": "float"
        }
      },
      "type": "object",
      "description": "Information about card testing fraud, where an adversary is testing fraudulently obtained cards or brute forcing their details."
    },
    "GoogleCloudRecaptchaenterpriseV1TokenProperties": {
      "description": "Properties of the provided event token.",
      "properties": {
        "valid": {
          "description": "Output only. Indicates whether the provided user response token is valid. If `false`, the token is invalid, either because the user failed the challenge or for a reason provided in the `invalid_reason` field.",
          "type": "boolean",
          "readOnly": true
        },
        "action": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Action name provided at token generation."
        },
        "clientSignalsFailed": {
          "description": "Output only. Indicates a failure collecting reCAPTCHA signals at token generation. This might be a transient condition, or persistent for a user’s environment.",
          "type": "boolean",
          "readOnly": true
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. The timestamp corresponding to the generation of the token."
        },
        "iosBundleId": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The ID of the iOS bundle with which the token was generated (iOS keys only)."
        },
        "invalidReason": {
          "type": "string",
          "enum": [
            "INVALID_REASON_UNSPECIFIED",
            "UNKNOWN_INVALID_REASON",
            "MALFORMED",
            "EXPIRED",
            "DUPE",
            "MISSING",
            "BROWSER_ERROR",
            "UNEXPECTED_ACTION",
            "KEY_MISMATCH",
            "DOMAIN_MISMATCH"
          ],
          "enumDescriptions": [
            "Default unspecified type.",
            "If the failure reason was not accounted for.",
            "The provided user verification token was malformed.",
            "The user verification token had expired.",
            "The user verification had already been seen.",
            "The user verification token was not present.",
            "A retriable error (such as network failure) occurred on the browser. Could easily be simulated by an attacker.",
            "The action provided at token generation was different than the `expected_action` in the assessment request. The comparison is case-insensitive. This reason can only be returned if all of the following are true: - your `site_key` has the POLICY_BASED_CHALLENGE integration type - you set an action score threshold higher than 0.0 - you provided a non-empty `expected_action`",
            "The key used to generate the token does not match the `site_key`.",
            "The domain of the page on which the token was generated does not match the `allowed_domains` configured in the `site_key`."
          ],
          "description": "Output only. Reason associated with the response when valid = false.",
          "readOnly": true
        },
        "androidPackageName": {
          "type": "string",
          "description": "Output only. The name of the Android package with which the token was generated (Android keys only).",
          "readOnly": true
        },
        "hostname": {
          "readOnly": true,
          "description": "Output only. The hostname of the page on which the token was generated (Web keys only).",
          "type": "string"
        }
      },
      "id": "GoogleCloudRecaptchaenterpriseV1TokenProperties",
      "type": "object"
    },
    "GoogleCloudRecaptchaenterpriseV1FraudPreventionAssessmentBehavioralTrustVerdict": {
      "id": "GoogleCloudRecaptchaenterpriseV1FraudPreventionAssessmentBehavioralTrustVerdict",
      "properties": {
        "trust": {
          "readOnly": true,
          "type": "number",
          "description": "Output only. Probability of this transaction attempt being executed in a behaviorally trustworthy way. Values are from 0.0 (lowest) to 1.0 (highest).",
          "format": "float"
        }
      },
      "description": "Information about behavioral trust of the transaction.",
      "type": "object"
    },
    "GoogleCloudRecaptchaenterpriseV1IOSKeySettings": {
      "type": "object",
      "properties": {
        "allowedBundleIds": {
          "description": "Optional. iOS bundle IDs of apps allowed to use the key. Example: 'com.companyname.productname.appname' Each key supports a maximum of 250 bundle IDs. To use a key on more apps, set `allow_all_bundle_ids` to true. When this is set, you are responsible for validating the bundle id by checking the `token_properties.ios_bundle_id` field in each assessment response against your list of allowed bundle IDs.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "appleDeveloperId": {
          "description": "Optional. Apple Developer account details for the app that is protected by the reCAPTCHA Key. reCAPTCHA leverages platform-specific checks like Apple App Attest and Apple DeviceCheck to protect your app from abuse. Providing these fields allows reCAPTCHA to get a better assessment of the integrity of your app.",
          "$ref": "GoogleCloudRecaptchaenterpriseV1AppleDeveloperId"
        },
        "allowAllBundleIds": {
          "type": "boolean",
          "description": "Optional. If set to true, allowed_bundle_ids are not enforced."
        }
      },
      "id": "GoogleCloudRecaptchaenterpriseV1IOSKeySettings",
      "description": "Settings specific to keys that can be used by iOS apps."
    },
    "GoogleCloudRecaptchaenterpriseV1ClientSettings": {
      "id": "GoogleCloudRecaptchaenterpriseV1ClientSettings",
      "type": "object",
      "properties": {
        "protectedEndpointGroup": {
          "description": "Optional. Configuration for all API endpoints to protect with reCAPTCHA. If this field is not set, reCAPTCHA will not automatically request tokens on any API endpoints.",
          "$ref": "GoogleCloudRecaptchaenterpriseV1ProtectedEndpointGroup"
        },
        "allowedDomains": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Optional. Domains or subdomains of websites allowed to use the policy. All subdomains of an allowed domain are automatically allowed. A valid domain requires a host and must not include any path, port, query or fragment. Examples: 'example.com' or 'subdomain.example.com' Each policy supports a maximum of 250 domains. To use a policy on more domains, set `allow_all_domains` to true. When this is set, you are responsible for validating the hostname by checking the `token_properties.hostname` field in each assessment response against your list of allowed domains."
        },
        "allowAllDomains": {
          "type": "boolean",
          "description": "Optional. If set to true, it means allowed_domains are not enforced."
        }
      },
      "description": "Configuration for clients to protect with reCAPTCHA."
    },
    "GoogleCloudRecaptchaenterpriseV1ChallengeRuleChallengeOutcome": {
      "id": "GoogleCloudRecaptchaenterpriseV1ChallengeRuleChallengeOutcome",
      "properties": {
        "difficulty": {
          "description": "Optional. The difficulty of the challenge to present to the user. If unspecified, `BALANCE` is used.",
          "type": "string",
          "enum": [
            "CHALLENGE_SECURITY_PREFERENCE_UNSPECIFIED",
            "USABILITY",
            "BALANCE",
            "SECURITY"
          ],
          "enumDescriptions": [
            "Default type that indicates this enum hasn't been specified.",
            "Key tends to show fewer and easier challenges.",
            "Key tends to show balanced (in amount and difficulty) challenges.",
            "Key tends to show more and harder challenges."
          ]
        }
      },
      "type": "object",
      "description": "An outcome that indicates that a challenge of a specified difficulty should be presented to the user."
    },
    "GoogleCloudRecaptchaenterpriseV1FirewallPolicy": {
      "id": "GoogleCloudRecaptchaenterpriseV1FirewallPolicy",
      "properties": {
        "name": {
          "description": "Identifier. The resource name for the FirewallPolicy in the format `projects/{project}/firewallpolicies/{firewallpolicy}`.",
          "type": "string"
        },
        "actions": {
          "description": "Optional. The actions that the caller should take regarding user access. There should be at most one terminal action. A terminal action is any action that forces a response, such as `AllowAction`, `BlockAction` or `SubstituteAction`. Zero or more non-terminal actions such as `SetHeader` might be specified. A single policy can contain up to 16 actions.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudRecaptchaenterpriseV1FirewallAction"
          }
        },
        "description": {
          "description": "Optional. A description of what this policy aims to achieve, for convenience purposes. The description can at most include 256 UTF-8 characters.",
          "type": "string"
        },
        "condition": {
          "description": "Optional. A CEL (Common Expression Language) conditional expression that specifies if this policy applies to an incoming user request. If this condition evaluates to true and the requested path matched the path pattern, the associated actions should be executed by the caller. The condition string is checked for CEL syntax correctness on creation. For more information, see the [CEL spec](https://github.com/google/cel-spec) and its [language definition](https://github.com/google/cel-spec/blob/master/doc/langdef.md). A condition has a max length of 500 characters.",
          "type": "string"
        },
        "path": {
          "description": "Optional. The path for which this policy applies, specified as a glob pattern. For more information on glob, see the [manual page](https://man7.org/linux/man-pages/man7/glob.7.html). A path has a max length of 200 characters.",
          "type": "string"
        }
      },
      "description": "A FirewallPolicy represents a single matching pattern and resulting actions to take.",
      "type": "object"
    },
    "GoogleCloudRecaptchaenterpriseV1SearchRelatedAccountGroupMembershipsRequest": {
      "type": "object",
      "description": "The request message to search related account group memberships.",
      "id": "GoogleCloudRecaptchaenterpriseV1SearchRelatedAccountGroupMembershipsRequest",
      "properties": {
        "pageToken": {
          "type": "string",
          "description": "Optional. A page token, received from a previous `SearchRelatedAccountGroupMemberships` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `SearchRelatedAccountGroupMemberships` must match the call that provided the page token."
        },
        "pageSize": {
          "description": "Optional. The maximum number of groups to return. The service might return fewer than this value. If unspecified, at most 50 groups are returned. The maximum value is 1000; values above 1000 are coerced to 1000.",
          "type": "integer",
          "format": "int32"
        },
        "hashedAccountId": {
          "description": "Optional. Deprecated: use `account_id` instead. The unique stable hashed account identifier used to search connections. The identifier should correspond to a `hashed_account_id` provided in a previous `CreateAssessment` or `AnnotateAssessment` call. Either hashed_account_id or account_id must be set, but not both.",
          "type": "string",
          "format": "byte",
          "deprecated": true
        },
        "accountId": {
          "type": "string",
          "description": "Optional. The unique stable account identifier used to search connections. The identifier should correspond to an `account_id` provided in a previous `CreateAssessment` or `AnnotateAssessment` call. Either hashed_account_id or account_id must be set, but not both."
        }
      }
    },
    "GoogleProtobufEmpty": {
      "properties": {},
      "id": "GoogleProtobufEmpty",
      "type": "object",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }"
    },
    "GoogleCloudRecaptchaenterpriseV1FirewallActionIncludeRecaptchaScriptAction": {
      "description": "An include reCAPTCHA script action involves injecting reCAPTCHA JavaScript code into the HTML returned by the site backend. This reCAPTCHA script is tasked with collecting user signals on the requested web page, issuing tokens as a cookie within the site domain, and enabling their utilization in subsequent page requests.",
      "properties": {},
      "type": "object",
      "id": "GoogleCloudRecaptchaenterpriseV1FirewallActionIncludeRecaptchaScriptAction"
    },
    "GoogleCloudRecaptchaenterpriseV1TransactionData": {
      "type": "object",
      "id": "GoogleCloudRecaptchaenterpriseV1TransactionData",
      "description": "Transaction data associated with a payment protected by reCAPTCHA Enterprise.",
      "properties": {
        "shippingAddress": {
          "description": "Optional. Destination address if this transaction involves shipping a physical item.",
          "$ref": "GoogleCloudRecaptchaenterpriseV1TransactionDataAddress"
        },
        "merchants": {
          "items": {
            "$ref": "GoogleCloudRecaptchaenterpriseV1TransactionDataUser"
          },
          "description": "Optional. Information about the user or users fulfilling the transaction.",
          "type": "array"
        },
        "currencyCode": {
          "type": "string",
          "description": "Optional. The currency code in ISO-4217 format."
        },
        "items": {
          "items": {
            "$ref": "GoogleCloudRecaptchaenterpriseV1TransactionDataItem"
          },
          "type": "array",
          "description": "Optional. Items purchased in this transaction."
        },
        "paymentMethod": {
          "type": "string",
          "description": "Optional. The payment method for the transaction. The allowed values are: * credit-card * debit-card * gift-card * processor-{name} (If a third-party is used, for example, processor-paypal) * custom-{name} (If an alternative method is used, for example, custom-crypto)"
        },
        "transactionId": {
          "description": "Unique identifier for the transaction. This custom identifier can be used to reference this transaction in the future, for example, labeling a refund or chargeback event. Two attempts at the same transaction should use the same transaction id.",
          "type": "string"
        },
        "cardBin": {
          "description": "Optional. The Bank Identification Number - generally the first 6 or 8 digits of the card.",
          "type": "string"
        },
        "cardLastFour": {
          "description": "Optional. The last four digits of the card.",
          "type": "string"
        },
        "value": {
          "format": "double",
          "description": "Optional. The decimal value of the transaction in the specified currency.",
          "type": "number"
        },
        "billingAddress": {
          "description": "Optional. Address associated with the payment method when applicable.",
          "$ref": "GoogleCloudRecaptchaenterpriseV1TransactionDataAddress"
        },
        "user": {
          "$ref": "GoogleCloudRecaptchaenterpriseV1TransactionDataUser",
          "description": "Optional. Information about the user paying/initiating the transaction."
        },
        "shippingValue": {
          "format": "double",
          "description": "Optional. The value of shipping in the specified currency. 0 for free or no shipping.",
          "type": "number"
        },
        "gatewayInfo": {
          "description": "Optional. Information about the payment gateway's response to the transaction.",
          "$ref": "GoogleCloudRecaptchaenterpriseV1TransactionDataGatewayInfo"
        }
      }
    },
    "GoogleCloudRecaptchaenterpriseV1PhoneAuthenticationEvent": {
      "description": "Details on a phone authentication event",
      "properties": {
        "phoneNumber": {
          "type": "string",
          "description": "Required. Phone number in E.164 format for which a multi-factor authentication challenge was initiated, succeeded, or failed."
        },
        "eventTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Optional. The time at which the multi-factor authentication event (challenge or verification) occurred."
        }
      },
      "id": "GoogleCloudRecaptchaenterpriseV1PhoneAuthenticationEvent",
      "type": "object"
    },
    "GoogleCloudRecaptchaenterpriseV1UniversalKeySettings": {
      "type": "object",
      "properties": {},
      "description": "Settings for keys that are configured through their Policy.",
      "id": "GoogleCloudRecaptchaenterpriseV1UniversalKeySettings"
    },
    "GoogleCloudRecaptchaenterpriseV1IpOverrideData": {
      "properties": {
        "ip": {
          "description": "Required. The IP address to override (can be IPv4, IPv6 or CIDR). The IP override must be a valid IPv4 or IPv6 address, or a CIDR range. The IP override must be a public IP address. Example of IPv4: 168.192.5.6 Example of IPv6: 2001:0000:130F:0000:0000:09C0:876A:130B Example of IPv4 with CIDR: 168.192.5.0/24 Example of IPv6 with CIDR: 2001:0DB8:1234::/48",
          "type": "string"
        },
        "overrideType": {
          "type": "string",
          "enum": [
            "OVERRIDE_TYPE_UNSPECIFIED",
            "ALLOW"
          ],
          "description": "Required. Describes the type of IP override.",
          "enumDescriptions": [
            "Default override type that indicates this enum hasn't been specified.",
            "Allowlist the IP address; i.e. give a `risk_analysis.score` of 0.9 for all valid assessments."
          ]
        }
      },
      "type": "object",
      "id": "GoogleCloudRecaptchaenterpriseV1IpOverrideData",
      "description": "Information about the IP or IP range override."
    },
    "GoogleCloudRecaptchaenterpriseV1TransactionDataGatewayInfo": {
      "id": "GoogleCloudRecaptchaenterpriseV1TransactionDataGatewayInfo",
      "properties": {
        "cvvResponseCode": {
          "type": "string",
          "description": "Optional. CVV response code from the gateway (available only when reCAPTCHA Enterprise is called after authorization)."
        },
        "gatewayResponseCode": {
          "description": "Optional. Gateway response code describing the state of the transaction.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Optional. Name of the gateway service (for example, stripe, square, paypal)."
        },
        "avsResponseCode": {
          "description": "Optional. AVS response code from the gateway (available only when reCAPTCHA Enterprise is called after authorization).",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Details about the transaction from the gateway."
    },
    "GoogleCloudRecaptchaenterpriseV1FraudSignalsCardSignals": {
      "properties": {
        "cardLabels": {
          "items": {
            "enumDescriptions": [
              "No label specified.",
              "This card has been detected as prepaid.",
              "This card has been detected as virtual, such as a card number generated for a single transaction or merchant.",
              "This card has been detected as being used in an unexpected geographic location."
            ],
            "type": "string",
            "enum": [
              "CARD_LABEL_UNSPECIFIED",
              "PREPAID",
              "VIRTUAL",
              "UNEXPECTED_LOCATION"
            ]
          },
          "readOnly": true,
          "description": "Output only. The labels for the payment card in this transaction.",
          "type": "array"
        }
      },
      "type": "object",
      "description": "Signals describing the payment card used in this transaction.",
      "id": "GoogleCloudRecaptchaenterpriseV1FraudSignalsCardSignals"
    },
    "GoogleCloudRecaptchaenterpriseV1TransactionEvent": {
      "description": "Describes an event in the lifecycle of a payment transaction.",
      "type": "object",
      "id": "GoogleCloudRecaptchaenterpriseV1TransactionEvent",
      "properties": {
        "eventType": {
          "description": "Optional. The type of this transaction event.",
          "type": "string",
          "enum": [
            "TRANSACTION_EVENT_TYPE_UNSPECIFIED",
            "MERCHANT_APPROVE",
            "MERCHANT_DENY",
            "MANUAL_REVIEW",
            "AUTHORIZATION",
            "AUTHORIZATION_DECLINE",
            "PAYMENT_CAPTURE",
            "PAYMENT_CAPTURE_DECLINE",
            "CANCEL",
            "CHARGEBACK_INQUIRY",
            "CHARGEBACK_ALERT",
            "FRAUD_NOTIFICATION",
            "CHARGEBACK",
            "CHARGEBACK_REPRESENTMENT",
            "CHARGEBACK_REVERSE",
            "REFUND_REQUEST",
            "REFUND_DECLINE",
            "REFUND",
            "REFUND_REVERSE"
          ],
          "enumDescriptions": [
            "Default, unspecified event type.",
            "Indicates that the transaction is approved by the merchant. The accompanying reasons can include terms such as 'INHOUSE', 'ACCERTIFY', 'CYBERSOURCE', or 'MANUAL_REVIEW'.",
            "Indicates that the transaction is denied and concluded due to risks detected by the merchant. The accompanying reasons can include terms such as 'INHOUSE', 'ACCERTIFY', 'CYBERSOURCE', or 'MANUAL_REVIEW'.",
            "Indicates that the transaction is being evaluated by a human, due to suspicion or risk.",
            "Indicates that the authorization attempt with the card issuer succeeded.",
            "Indicates that the authorization attempt with the card issuer failed. The accompanying reasons can include Visa's '54' indicating that the card is expired, or '82' indicating that the CVV is incorrect.",
            "Indicates that the transaction is completed because the funds were settled.",
            "Indicates that the transaction could not be completed because the funds were not settled.",
            "Indicates that the transaction has been canceled. Specify the reason for the cancellation. For example, 'INSUFFICIENT_INVENTORY'.",
            "Indicates that the merchant has received a chargeback inquiry due to fraud for the transaction, requesting additional information before a fraud chargeback is officially issued and a formal chargeback notification is sent.",
            "Indicates that the merchant has received a chargeback alert due to fraud for the transaction. The process of resolving the dispute without involving the payment network is started.",
            "Indicates that a fraud notification is issued for the transaction, sent by the payment instrument's issuing bank because the transaction appears to be fraudulent. We recommend including TC40 or SAFE data in the `reason` field for this event type. For partial chargebacks, we recommend that you include an amount in the `value` field.",
            "Indicates that the merchant is informed by the payment network that the transaction has entered the chargeback process due to fraud. Reason code examples include Discover's '6005' and '6041'. For partial chargebacks, we recommend that you include an amount in the `value` field.",
            "Indicates that the transaction has entered the chargeback process due to fraud, and that the merchant has chosen to enter representment. Reason examples include Discover's '6005' and '6041'. For partial chargebacks, we recommend that you include an amount in the `value` field.",
            "Indicates that the transaction has had a fraud chargeback which was illegitimate and was reversed as a result. For partial chargebacks, we recommend that you include an amount in the `value` field.",
            "Indicates that the merchant has received a refund for a completed transaction. For partial refunds, we recommend that you include an amount in the `value` field. Reason example: 'TAX_EXEMPT' (partial refund of exempt tax)",
            "Indicates that the merchant has received a refund request for this transaction, but that they have declined it. For partial refunds, we recommend that you include an amount in the `value` field. Reason example: 'TAX_EXEMPT' (partial refund of exempt tax)",
            "Indicates that the completed transaction was refunded by the merchant. For partial refunds, we recommend that you include an amount in the `value` field. Reason example: 'TAX_EXEMPT' (partial refund of exempt tax)",
            "Indicates that the completed transaction was refunded by the merchant, and that this refund was reversed. For partial refunds, we recommend that you include an amount in the `value` field."
          ]
        },
        "value": {
          "description": "Optional. The value that corresponds with this transaction event, if one exists. For example, a refund event where $5.00 was refunded. Currency is obtained from the original transaction data.",
          "type": "number",
          "format": "double"
        },
        "reason": {
          "description": "Optional. The reason or standardized code that corresponds with this transaction event, if one exists. For example, a CHARGEBACK event with code 6005.",
          "type": "string"
        },
        "eventTime": {
          "format": "google-datetime",
          "description": "Optional. Timestamp when this transaction event occurred; otherwise assumed to be the time of the API call.",
          "type": "string"
        }
      }
    },
    "GoogleCloudRecaptchaenterpriseV1UserId": {
      "id": "GoogleCloudRecaptchaenterpriseV1UserId",
      "type": "object",
      "properties": {
        "email": {
          "type": "string",
          "description": "Optional. An email address."
        },
        "phoneNumber": {
          "type": "string",
          "description": "Optional. A phone number. Should use the E.164 format."
        },
        "username": {
          "type": "string",
          "description": "Optional. A unique username, if different from all the other identifiers and `account_id` that are provided. Can be a unique login handle or display name for a user."
        }
      },
      "description": "An identifier associated with a user."
    },
    "GoogleCloudRecaptchaenterpriseV1FraudSignals": {
      "properties": {
        "userSignals": {
          "$ref": "GoogleCloudRecaptchaenterpriseV1FraudSignalsUserSignals",
          "description": "Output only. Signals describing the end user in this transaction.",
          "readOnly": true
        },
        "cardSignals": {
          "readOnly": true,
          "$ref": "GoogleCloudRecaptchaenterpriseV1FraudSignalsCardSignals",
          "description": "Output only. Signals describing the payment card or cards used in this transaction."
        }
      },
      "type": "object",
      "description": "Fraud signals describing users and cards involved in the transaction.",
      "id": "GoogleCloudRecaptchaenterpriseV1FraudSignals"
    },
    "GoogleCloudRecaptchaenterpriseV1AccountDefenderAssessmentAccountTakeoverVerdict": {
      "description": "Account takeover risk assessment.",
      "id": "GoogleCloudRecaptchaenterpriseV1AccountDefenderAssessmentAccountTakeoverVerdict",
      "properties": {
        "risk": {
          "description": "Output only. Account takeover attempt probability. Values are from 0.0 (lowest risk) to 1.0 (highest risk).",
          "readOnly": true,
          "type": "number",
          "format": "float"
        },
        "trustReasons": {
          "readOnly": true,
          "items": {
            "$ref": "GoogleCloudRecaptchaenterpriseV1AccountDefenderAssessmentAccountTrustReason"
          },
          "type": "array",
          "description": "Output only. Unordered list. Reasons why the request appears trustworthy. Trust reasons can be returned even if the risk is high, as risky requests can still have some trust signals."
        },
        "riskReasons": {
          "description": "Output only. Unordered list. Reasons why the request appears risky. Risk reasons can be returned even if the risk is low, as trustworthy requests can still have some risk signals.",
          "items": {
            "$ref": "GoogleCloudRecaptchaenterpriseV1AccountDefenderAssessmentAccountRiskReason"
          },
          "type": "array",
          "readOnly": true
        }
      },
      "type": "object"
    },
    "GoogleCloudRecaptchaenterpriseV1SearchRelatedAccountGroupMembershipsResponse": {
      "description": "The response to a `SearchRelatedAccountGroupMemberships` call.",
      "properties": {
        "relatedAccountGroupMemberships": {
          "items": {
            "$ref": "GoogleCloudRecaptchaenterpriseV1RelatedAccountGroupMembership"
          },
          "type": "array",
          "description": "The queried memberships."
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        }
      },
      "type": "object",
      "id": "GoogleCloudRecaptchaenterpriseV1SearchRelatedAccountGroupMembershipsResponse"
    },
    "GoogleCloudRecaptchaenterpriseV1RemoveIpOverrideRequest": {
      "description": "The RemoveIpOverride request message.",
      "properties": {
        "ipOverrideData": {
          "description": "Required. IP override to be removed from the key.",
          "$ref": "GoogleCloudRecaptchaenterpriseV1IpOverrideData"
        }
      },
      "type": "object",
      "id": "GoogleCloudRecaptchaenterpriseV1RemoveIpOverrideRequest"
    },
    "GoogleCloudRecaptchaenterpriseV1FirewallActionAllowAction": {
      "properties": {},
      "id": "GoogleCloudRecaptchaenterpriseV1FirewallActionAllowAction",
      "type": "object",
      "description": "An allow action continues processing a request unimpeded."
    },
    "GoogleCloudRecaptchaenterpriseV1RetrieveLegacySecretKeyResponse": {
      "properties": {
        "legacySecretKey": {
          "description": "The secret key (also known as shared secret) authorizes communication between your application backend and the reCAPTCHA Enterprise server to create an assessment. The secret key needs to be kept safe for security purposes.",
          "type": "string"
        }
      },
      "id": "GoogleCloudRecaptchaenterpriseV1RetrieveLegacySecretKeyResponse",
      "description": "Secret key is used only in legacy reCAPTCHA. It must be used in a 3rd party integration with legacy reCAPTCHA.",
      "type": "object"
    },
    "GoogleCloudRecaptchaenterpriseV1ScoreMetrics": {
      "description": "Metrics related to scoring.",
      "id": "GoogleCloudRecaptchaenterpriseV1ScoreMetrics",
      "type": "object",
      "properties": {
        "actionMetrics": {
          "description": "Action-based metrics. The map key is the action name which specified by the site owners at time of the \"execute\" client-side call.",
          "type": "object",
          "additionalProperties": {
            "$ref": "GoogleCloudRecaptchaenterpriseV1ScoreDistribution"
          }
        },
        "overallMetrics": {
          "$ref": "GoogleCloudRecaptchaenterpriseV1ScoreDistribution",
          "description": "Aggregated score metrics for all traffic."
        }
      }
    },
    "GoogleCloudRecaptchaenterpriseV1AccountVerificationInfo": {
      "description": "Information about account verification, used for identity verification.",
      "properties": {
        "latestVerificationResult": {
          "readOnly": true,
          "description": "Output only. Result of the latest account verification challenge.",
          "enumDescriptions": [
            "No information about the latest account verification.",
            "The user was successfully verified. This means the account verification challenge was successfully completed.",
            "The user failed the verification challenge.",
            "The site is not properly onboarded to use the account verification feature.",
            "The recipient is not allowed for account verification. This can occur during integration but should not occur in production.",
            "The recipient has already been sent too many verification codes in a short amount of time.",
            "The verification flow could not be completed due to a critical internal error.",
            "The client has exceeded their two factor request quota for this period of time.",
            "The request cannot be processed at the time because of an incident. This bypass can be restricted to a problematic destination email domain, a customer, or could affect the entire service.",
            "The request parameters do not match with the token provided and cannot be processed."
          ],
          "type": "string",
          "enum": [
            "RESULT_UNSPECIFIED",
            "SUCCESS_USER_VERIFIED",
            "ERROR_USER_NOT_VERIFIED",
            "ERROR_SITE_ONBOARDING_INCOMPLETE",
            "ERROR_RECIPIENT_NOT_ALLOWED",
            "ERROR_RECIPIENT_ABUSE_LIMIT_EXHAUSTED",
            "ERROR_CRITICAL_INTERNAL",
            "ERROR_CUSTOMER_QUOTA_EXHAUSTED",
            "ERROR_VERIFICATION_BYPASSED",
            "ERROR_VERDICT_MISMATCH"
          ]
        },
        "username": {
          "type": "string",
          "description": "Username of the account that is being verified. Deprecated. Customers should now provide the `account_id` field in `event.user_info`.",
          "deprecated": true
        },
        "languageCode": {
          "type": "string",
          "description": "Optional. Language code preference for the verification message, set as a IETF BCP 47 language code."
        },
        "endpoints": {
          "description": "Optional. Endpoints that can be used for identity verification.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudRecaptchaenterpriseV1EndpointVerificationInfo"
          }
        }
      },
      "id": "GoogleCloudRecaptchaenterpriseV1AccountVerificationInfo",
      "type": "object"
    },
    "GoogleCloudRecaptchaenterpriseV1PolicyEvaluation": {
      "type": "object",
      "description": "Information about the policy evaluation.",
      "properties": {
        "challengeRuleEvaluation": {
          "readOnly": true,
          "$ref": "GoogleCloudRecaptchaenterpriseV1ChallengeRuleEvaluation",
          "description": "Output only. Populated if one or more Challenge rules were matched. Its presence in the assessment indicates that at least one challenge rule was matched and determined whether a challenge was presented to the user."
        }
      },
      "id": "GoogleCloudRecaptchaenterpriseV1PolicyEvaluation"
    },
    "GoogleCloudRecaptchaenterpriseV1ExpressKeySettings": {
      "description": "Settings specific to keys that can be used for reCAPTCHA Express.",
      "properties": {},
      "type": "object",
      "id": "GoogleCloudRecaptchaenterpriseV1ExpressKeySettings"
    },
    "GoogleCloudRecaptchaenterpriseV1ListRelatedAccountGroupsResponse": {
      "description": "The response to a `ListRelatedAccountGroups` call.",
      "id": "GoogleCloudRecaptchaenterpriseV1ListRelatedAccountGroupsResponse",
      "properties": {
        "relatedAccountGroups": {
          "items": {
            "$ref": "GoogleCloudRecaptchaenterpriseV1RelatedAccountGroup"
          },
          "type": "array",
          "description": "The groups of related accounts listed by the query."
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudRecaptchaenterpriseV1SmsTollFraudVerdict": {
      "description": "Information about SMS toll fraud.",
      "properties": {
        "risk": {
          "description": "Output only. Probability of an SMS event being fraudulent. Values are from 0.0 (lowest) to 1.0 (highest).",
          "readOnly": true,
          "format": "float",
          "type": "number"
        },
        "reasons": {
          "items": {
            "enumDescriptions": [
              "Default unspecified reason",
              "The provided phone number was invalid"
            ],
            "type": "string",
            "enum": [
              "SMS_TOLL_FRAUD_REASON_UNSPECIFIED",
              "INVALID_PHONE_NUMBER"
            ]
          },
          "description": "Output only. Reasons contributing to the SMS toll fraud verdict.",
          "readOnly": true,
          "type": "array"
        }
      },
      "type": "object",
      "id": "GoogleCloudRecaptchaenterpriseV1SmsTollFraudVerdict"
    },
    "GoogleCloudRecaptchaenterpriseV1AddIpOverrideResponse": {
      "type": "object",
      "description": "Response for AddIpOverride.",
      "id": "GoogleCloudRecaptchaenterpriseV1AddIpOverrideResponse",
      "properties": {}
    },
    "GoogleCloudRecaptchaenterpriseV1AnnotateAssessmentResponse": {
      "properties": {},
      "description": "Empty response for AnnotateAssessment.",
      "id": "GoogleCloudRecaptchaenterpriseV1AnnotateAssessmentResponse",
      "type": "object"
    },
    "GoogleCloudRecaptchaenterpriseV1TestingOptions": {
      "properties": {
        "testingChallenge": {
          "type": "string",
          "enum": [
            "TESTING_CHALLENGE_UNSPECIFIED",
            "NOCAPTCHA",
            "UNSOLVABLE_CHALLENGE"
          ],
          "enumDescriptions": [
            "Perform the normal risk analysis and return either nocaptcha or a challenge depending on risk and trust factors.",
            "Challenge requests for this key always return a nocaptcha, which does not require a solution.",
            "Challenge requests for this key always return an unsolvable challenge."
          ],
          "description": "Optional. For challenge-based keys only (CHECKBOX, INVISIBLE), all challenge requests for this site return nocaptcha if NOCAPTCHA, or an unsolvable challenge if CHALLENGE."
        },
        "testingScore": {
          "type": "number",
          "description": "Optional. All assessments for this Key return this score. Must be between 0 (likely not legitimate) and 1 (likely legitimate) inclusive.",
          "format": "float"
        }
      },
      "description": "Options for user acceptance testing.",
      "id": "GoogleCloudRecaptchaenterpriseV1TestingOptions",
      "type": "object"
    },
    "GoogleCloudRecaptchaenterpriseV1FraudPreventionAssessmentStolenInstrumentVerdict": {
      "id": "GoogleCloudRecaptchaenterpriseV1FraudPreventionAssessmentStolenInstrumentVerdict",
      "description": "Information about stolen instrument fraud, where the user is not the legitimate owner of the instrument being used for the purchase.",
      "properties": {
        "risk": {
          "readOnly": true,
          "format": "float",
          "description": "Output only. Probability of this transaction being executed with a stolen instrument. Values are from 0.0 (lowest) to 1.0 (highest).",
          "type": "number"
        }
      },
      "type": "object"
    },
    "GoogleCloudRecaptchaenterpriseV1Metrics": {
      "id": "GoogleCloudRecaptchaenterpriseV1Metrics",
      "description": "Metrics for a single Key.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Output only. Identifier. The name of the metrics, in the format `projects/{project}/keys/{key}/metrics`.",
          "readOnly": true,
          "type": "string"
        },
        "scoreMetrics": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudRecaptchaenterpriseV1ScoreMetrics"
          },
          "description": "Metrics are continuous and in order by dates, and in the granularity of day. All Key types should have score-based data."
        },
        "challengeMetrics": {
          "description": "Metrics are continuous and in order by dates, and in the granularity of day. Only challenge-based keys (CHECKBOX, INVISIBLE) have challenge-based data.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudRecaptchaenterpriseV1ChallengeMetrics"
          }
        },
        "startTime": {
          "type": "string",
          "description": "Inclusive start time aligned to a day in the America/Los_Angeles (Pacific) timezone.",
          "format": "google-datetime"
        }
      }
    },
    "GoogleCloudRecaptchaenterpriseV1TransactionDataAddress": {
      "id": "GoogleCloudRecaptchaenterpriseV1TransactionDataAddress",
      "properties": {
        "recipient": {
          "type": "string",
          "description": "Optional. The recipient name, potentially including information such as \"care of\"."
        },
        "address": {
          "description": "Optional. The first lines of the address. The first line generally contains the street name and number, and further lines may include information such as an apartment number.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "postalCode": {
          "description": "Optional. The postal or ZIP code of the address.",
          "type": "string"
        },
        "administrativeArea": {
          "type": "string",
          "description": "Optional. The state, province, or otherwise administrative area of the address."
        },
        "regionCode": {
          "description": "Optional. The CLDR country/region of the address.",
          "type": "string"
        },
        "locality": {
          "type": "string",
          "description": "Optional. The town/city of the address."
        }
      },
      "type": "object",
      "description": "Structured address format for billing and shipping addresses."
    },
    "GoogleCloudRecaptchaenterpriseV1AccountDefenderAssessmentAccountTrustReason": {
      "id": "GoogleCloudRecaptchaenterpriseV1AccountDefenderAssessmentAccountTrustReason",
      "type": "object",
      "description": "Trust explainability reasons for Account defense.",
      "properties": {
        "reason": {
          "type": "string",
          "enum": [
            "TRUST_REASON_UNSPECIFIED",
            "PROFILE_MATCH",
            "ACCOUNT_HISTORY_REPUTABLE",
            "IDENTITY_GLOBAL_ACTIVITY_REPUTABLE",
            "IDENTITY_HISTORY_REPUTABLE"
          ],
          "description": "Output only. A trust reason associated with this request.",
          "readOnly": true,
          "enumDescriptions": [
            "Default unspecified type.",
            "The request matches a trusted profile associated with this account. Equivalent to `AccountDefenderLabel.PROFILE_MATCH`.",
            "The account's historical activity is reputable. It is unlikely that the account has been compromised in the past.",
            "The identity shows a global pattern of reputable activity based on `userInfo` and associated identifiers.",
            "The identity shows a long-standing history of reputable activity based on `userInfo` and associated identifiers."
          ]
        }
      }
    },
    "GoogleCloudRecaptchaenterpriseV1ScoreDistribution": {
      "type": "object",
      "id": "GoogleCloudRecaptchaenterpriseV1ScoreDistribution",
      "description": "Score distribution.",
      "properties": {
        "scoreBuckets": {
          "additionalProperties": {
            "type": "string",
            "format": "int64"
          },
          "type": "object",
          "description": "Map key is score value multiplied by 100. The scores are discrete values between [0, 1]. The maximum number of buckets is on order of a few dozen, but typically much lower (ie. 10)."
        }
      }
    },
    "GoogleCloudRecaptchaenterpriseV1ChallengeMetrics": {
      "description": "Metrics related to challenges.",
      "id": "GoogleCloudRecaptchaenterpriseV1ChallengeMetrics",
      "properties": {
        "failedCount": {
          "format": "int64",
          "description": "Count of submitted challenge solutions that were incorrect or otherwise deemed suspicious such that a subsequent challenge was triggered.",
          "type": "string"
        },
        "passedCount": {
          "description": "Count of nocaptchas (successful verification without a challenge) plus submitted challenge solutions that were correct and resulted in verification.",
          "type": "string",
          "format": "int64"
        },
        "nocaptchaCount": {
          "type": "string",
          "description": "Count of nocaptchas (successful verification without a challenge) issued.",
          "format": "int64"
        },
        "pageloadCount": {
          "description": "Count of reCAPTCHA checkboxes or badges rendered. This is mostly equivalent to a count of pageloads for pages that include reCAPTCHA.",
          "type": "string",
          "format": "int64"
        }
      },
      "type": "object"
    },
    "GoogleCloudRecaptchaenterpriseV1FraudSignalsUserSignals": {
      "description": "Signals describing the user involved in this transaction.",
      "type": "object",
      "id": "GoogleCloudRecaptchaenterpriseV1FraudSignalsUserSignals",
      "properties": {
        "activeDaysLowerBound": {
          "readOnly": true,
          "type": "integer",
          "format": "int32",
          "description": "Output only. This user (based on email, phone, and other identifiers) has been seen on the internet for at least this number of days."
        },
        "syntheticRisk": {
          "description": "Output only. Likelihood (from 0.0 to 1.0) this user includes synthetic components in their identity, such as a randomly generated email address, temporary phone number, or fake shipping address.",
          "readOnly": true,
          "type": "number",
          "format": "float"
        }
      }
    },
    "GoogleRpcStatus": {
      "type": "object",
      "properties": {
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        },
        "details": {
          "items": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            }
          },
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "type": "array"
        },
        "code": {
          "type": "integer",
          "format": "int32",
          "description": "The status code, which should be an enum value of google.rpc.Code."
        }
      },
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "id": "GoogleRpcStatus"
    },
    "GoogleCloudRecaptchaenterpriseV1ProtectedEndpointGroup": {
      "properties": {
        "protectedEndpoints": {
          "description": "Optional. List of API endpoints to automatically protect with reCAPTCHA. If any of these endpoints is invoked from a page where a key bound to this policy is installed, a reCAPTCHA token is automatically generated and attached to the request. If multiple protected endpoints match a given API endpoint, the first one in the list is used.",
          "items": {
            "$ref": "GoogleCloudRecaptchaenterpriseV1ProtectedEndpoint"
          },
          "type": "array"
        }
      },
      "id": "GoogleCloudRecaptchaenterpriseV1ProtectedEndpointGroup",
      "description": "Configuration for API endpoints to protect with reCAPTCHA.",
      "type": "object"
    },
    "GoogleCloudRecaptchaenterpriseV1TransactionDataItem": {
      "properties": {
        "name": {
          "description": "Optional. The full name of the item.",
          "type": "string"
        },
        "value": {
          "description": "Optional. The value per item that the user is paying, in the transaction currency, after discounts.",
          "type": "number",
          "format": "double"
        },
        "merchantAccountId": {
          "description": "Optional. When a merchant is specified, its corresponding account_id. Necessary to populate marketplace-style transactions.",
          "type": "string"
        },
        "quantity": {
          "description": "Optional. The quantity of this item that is being purchased.",
          "type": "string",
          "format": "int64"
        }
      },
      "id": "GoogleCloudRecaptchaenterpriseV1TransactionDataItem",
      "description": "Line items being purchased in this transaction.",
      "type": "object"
    },
    "GoogleCloudRecaptchaenterpriseV1ListFirewallPoliciesResponse": {
      "description": "Response to request to list firewall policies belonging to a project.",
      "type": "object",
      "id": "GoogleCloudRecaptchaenterpriseV1ListFirewallPoliciesResponse",
      "properties": {
        "firewallPolicies": {
          "type": "array",
          "description": "Policy details.",
          "items": {
            "$ref": "GoogleCloudRecaptchaenterpriseV1FirewallPolicy"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "Token to retrieve the next page of results. It is set to empty if no policies remain in results."
        }
      }
    },
    "GoogleCloudRecaptchaenterpriseV1ReorderFirewallPoliciesRequest": {
      "description": "The reorder firewall policies request message.",
      "id": "GoogleCloudRecaptchaenterpriseV1ReorderFirewallPoliciesRequest",
      "type": "object",
      "properties": {
        "names": {
          "description": "Required. A list containing all policy names, in the new order. Each name is in the format `projects/{project}/firewallpolicies/{firewallpolicy}`.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "GoogleCloudRecaptchaenterpriseV1FraudPreventionAssessment": {
      "properties": {
        "riskReasons": {
          "type": "array",
          "description": "Output only. Reasons why the transaction is probably fraudulent and received a high transaction risk score.",
          "readOnly": true,
          "items": {
            "$ref": "GoogleCloudRecaptchaenterpriseV1FraudPreventionAssessmentRiskReason"
          }
        },
        "cardTestingVerdict": {
          "readOnly": true,
          "$ref": "GoogleCloudRecaptchaenterpriseV1FraudPreventionAssessmentCardTestingVerdict",
          "description": "Output only. Assessment of this transaction for risk of being part of a card testing attack."
        },
        "stolenInstrumentVerdict": {
          "$ref": "GoogleCloudRecaptchaenterpriseV1FraudPreventionAssessmentStolenInstrumentVerdict",
          "readOnly": true,
          "description": "Output only. Assessment of this transaction for risk of a stolen instrument."
        },
        "behavioralTrustVerdict": {
          "readOnly": true,
          "$ref": "GoogleCloudRecaptchaenterpriseV1FraudPreventionAssessmentBehavioralTrustVerdict",
          "description": "Output only. Assessment of this transaction for behavioral trust."
        },
        "transactionRisk": {
          "description": "Output only. Probability of this transaction being fraudulent. Summarizes the combined risk of attack vectors below. Values are from 0.0 (lowest) to 1.0 (highest).",
          "readOnly": true,
          "type": "number",
          "format": "float"
        }
      },
      "type": "object",
      "description": "Assessment for Fraud Prevention.",
      "id": "GoogleCloudRecaptchaenterpriseV1FraudPreventionAssessment"
    },
    "GoogleCloudRecaptchaenterpriseV1RelatedAccountGroup": {
      "id": "GoogleCloudRecaptchaenterpriseV1RelatedAccountGroup",
      "type": "object",
      "description": "A group of related accounts.",
      "properties": {
        "name": {
          "type": "string",
          "description": "Required. Identifier. The resource name for the related account group in the format `projects/{project}/relatedaccountgroups/{related_account_group}`."
        }
      }
    },
    "GoogleCloudRecaptchaenterpriseV1AnnotateAssessmentRequest": {
      "id": "GoogleCloudRecaptchaenterpriseV1AnnotateAssessmentRequest",
      "properties": {
        "reasons": {
          "items": {
            "type": "string",
            "enum": [
              "REASON_UNSPECIFIED",
              "CHARGEBACK",
              "CHARGEBACK_FRAUD",
              "CHARGEBACK_DISPUTE",
              "REFUND",
              "REFUND_FRAUD",
              "TRANSACTION_ACCEPTED",
              "TRANSACTION_DECLINED",
              "PAYMENT_HEURISTICS",
              "INITIATED_TWO_FACTOR",
              "PASSED_TWO_FACTOR",
              "FAILED_TWO_FACTOR",
              "CORRECT_PASSWORD",
              "INCORRECT_PASSWORD",
              "SOCIAL_SPAM"
            ],
            "enumDescriptions": [
              "Unspecified reason. Do not use.",
              "Indicates that the transaction had a chargeback issued with no other details. When possible, specify the type by using CHARGEBACK_FRAUD or CHARGEBACK_DISPUTE instead.",
              "Indicates that the transaction had a chargeback issued related to an alleged unauthorized transaction from the cardholder's perspective (for example, the card number was stolen).",
              "Indicates that the transaction had a chargeback issued related to the cardholder having provided their card details but allegedly not being satisfied with the purchase (for example, misrepresentation, attempted cancellation).",
              "Indicates that the completed payment transaction was refunded by the seller.",
              "Indicates that the completed payment transaction was determined to be fraudulent by the seller, and was cancelled and refunded as a result.",
              "Indicates that the payment transaction was accepted, and the user was charged.",
              "Indicates that the payment transaction was declined, for example due to invalid card details.",
              "Indicates the transaction associated with the assessment is suspected of being fraudulent based on the payment method, billing details, shipping address or other transaction information.",
              "Indicates that the user was served a 2FA challenge. An old assessment with `ENUM_VALUES.INITIATED_TWO_FACTOR` reason that has not been overwritten with `PASSED_TWO_FACTOR` is treated as an abandoned 2FA flow. This is equivalent to `FAILED_TWO_FACTOR`.",
              "Indicates that the user passed a 2FA challenge.",
              "Indicates that the user failed a 2FA challenge.",
              "Indicates the user provided the correct password.",
              "Indicates the user provided an incorrect password.",
              "Indicates that the user sent unwanted and abusive messages to other users of the platform, such as spam, scams, phishing, or social engineering."
            ]
          },
          "type": "array",
          "description": "Optional. Reasons for the annotation that are assigned to the event."
        },
        "accountId": {
          "description": "Optional. A stable account identifier to apply to the assessment. This is an alternative to setting `account_id` in `CreateAssessment`, for example when a stable account identifier is not yet known in the initial request.",
          "type": "string"
        },
        "phoneAuthenticationEvent": {
          "description": "Optional. If using an external multi-factor authentication provider, provide phone authentication details for fraud detection purposes.",
          "$ref": "GoogleCloudRecaptchaenterpriseV1PhoneAuthenticationEvent"
        },
        "transactionEvent": {
          "$ref": "GoogleCloudRecaptchaenterpriseV1TransactionEvent",
          "description": "Optional. If the assessment is part of a payment transaction, provide details on payment lifecycle events that occur in the transaction."
        },
        "hashedAccountId": {
          "description": "Optional. A stable hashed account identifier to apply to the assessment. This is an alternative to setting `hashed_account_id` in `CreateAssessment`, for example when a stable account identifier is not yet known in the initial request.",
          "format": "byte",
          "type": "string"
        },
        "annotation": {
          "type": "string",
          "enum": [
            "ANNOTATION_UNSPECIFIED",
            "LEGITIMATE",
            "FRAUDULENT",
            "PASSWORD_CORRECT",
            "PASSWORD_INCORRECT"
          ],
          "enumDeprecated": [
            false,
            false,
            false,
            true,
            true
          ],
          "description": "Optional. The annotation that is assigned to the Event. This field can be left empty to provide reasons that apply to an event without concluding whether the event is legitimate or fraudulent.",
          "enumDescriptions": [
            "Default unspecified type.",
            "Provides information that the event turned out to be legitimate.",
            "Provides information that the event turned out to be fraudulent.",
            "Provides information that the event was related to a login event in which the user typed the correct password. Deprecated, prefer indicating CORRECT_PASSWORD through the reasons field instead.",
            "Provides information that the event was related to a login event in which the user typed the incorrect password. Deprecated, prefer indicating INCORRECT_PASSWORD through the reasons field instead."
          ]
        }
      },
      "type": "object",
      "description": "The request message to annotate an Assessment."
    },
    "GoogleCloudRecaptchaenterpriseV1AndroidKeySettings": {
      "properties": {
        "supportNonGoogleAppStoreDistribution": {
          "description": "Optional. Set to true for keys that are used in an Android application that is available for download in app stores in addition to the Google Play Store.",
          "type": "boolean"
        },
        "allowedPackageNames": {
          "description": "Optional. Android package names of apps allowed to use the key. Example: 'com.companyname.appname' Each key supports a maximum of 250 package names. To use a key on more apps, set `allow_all_package_names` to true. When this is set, you are responsible for validating the package name by checking the `token_properties.android_package_name` field in each assessment response against your list of allowed package names.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "allowAllPackageNames": {
          "type": "boolean",
          "description": "Optional. If set to true, allowed_package_names are not enforced."
        }
      },
      "id": "GoogleCloudRecaptchaenterpriseV1AndroidKeySettings",
      "description": "Settings specific to keys that can be used by Android apps.",
      "type": "object"
    },
    "GoogleCloudRecaptchaenterpriseV1ReorderFirewallPoliciesResponse": {
      "id": "GoogleCloudRecaptchaenterpriseV1ReorderFirewallPoliciesResponse",
      "type": "object",
      "properties": {},
      "description": "The reorder firewall policies response message."
    },
    "GoogleCloudRecaptchaenterpriseV1FirewallPolicyAssessment": {
      "type": "object",
      "description": "Policy config assessment.",
      "id": "GoogleCloudRecaptchaenterpriseV1FirewallPolicyAssessment",
      "properties": {
        "error": {
          "readOnly": true,
          "$ref": "GoogleRpcStatus",
          "description": "Output only. If the processing of a policy config fails, an error is populated and the firewall_policy is left empty."
        },
        "firewallPolicy": {
          "$ref": "GoogleCloudRecaptchaenterpriseV1FirewallPolicy",
          "description": "Output only. The policy that matched the request. If more than one policy may match, this is the first match. If no policy matches the incoming request, the policy field is left empty.",
          "readOnly": true
        }
      }
    },
    "GoogleCloudRecaptchaenterpriseV1ChallengeRule": {
      "type": "object",
      "description": "A rule to configure the behavior of reCAPTCHA for conditionally presenting a challenge.",
      "properties": {
        "condition": {
          "type": "string",
          "description": "Optional. A CEL condition that must be met for this rule to apply. If unspecified, the rule applies unconditionally. The following fields can be referenced in the condition: * `score` * `user_ip_address` * `user_asn` * `user_agent` * `verified_bots.name` * `verified_bots.bot_type` Examples: * `score < 0.5` * `user_ip_address == \"123.45.67.89\"` * `user_agent.contains(\"Chrome\")` * `score < 0.5 && user_ip_address == \"123.45.67.89\"`"
        },
        "challenge": {
          "description": "Present a challenge to the user.",
          "$ref": "GoogleCloudRecaptchaenterpriseV1ChallengeRuleChallengeOutcome"
        },
        "noChallenge": {
          "description": "Do not present a challenge to the user.",
          "$ref": "GoogleCloudRecaptchaenterpriseV1ChallengeRuleNoChallengeOutcome"
        }
      },
      "id": "GoogleCloudRecaptchaenterpriseV1ChallengeRule"
    },
    "GoogleCloudRecaptchaenterpriseV1WebKeySettingsActionSettings": {
      "properties": {
        "scoreThreshold": {
          "type": "number",
          "description": "Required. A challenge is triggered if the end-user score is below that threshold. Value must be between 0 and 1 (inclusive).",
          "format": "float"
        }
      },
      "id": "GoogleCloudRecaptchaenterpriseV1WebKeySettingsActionSettings",
      "description": "Per-action challenge settings.",
      "type": "object"
    },
    "GoogleCloudRecaptchaenterpriseV1WebKeySettings": {
      "type": "object",
      "id": "GoogleCloudRecaptchaenterpriseV1WebKeySettings",
      "properties": {
        "allowedDomains": {
          "description": "Optional. Domains or subdomains of websites allowed to use the key. All subdomains of an allowed domain are automatically allowed. A valid domain requires a host and must not include any path, port, query or fragment. Examples: 'example.com' or 'subdomain.example.com' Each key supports a maximum of 250 domains. To use a key on more domains, set `allow_all_domains` to true. When this is set, you are responsible for validating the hostname by checking the `token_properties.hostname` field in each assessment response against your list of allowed domains.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "allowAllDomains": {
          "description": "Optional. If set to true, it means allowed_domains are not enforced.",
          "type": "boolean"
        },
        "challengeSecurityPreference": {
          "type": "string",
          "enum": [
            "CHALLENGE_SECURITY_PREFERENCE_UNSPECIFIED",
            "USABILITY",
            "BALANCE",
            "SECURITY"
          ],
          "enumDescriptions": [
            "Default type that indicates this enum hasn't been specified.",
            "Key tends to show fewer and easier challenges.",
            "Key tends to show balanced (in amount and difficulty) challenges.",
            "Key tends to show more and harder challenges."
          ],
          "description": "Optional. Settings for the frequency and difficulty at which this key triggers captcha challenges. This should only be specified for `IntegrationType` CHECKBOX (defaults to BALANCE), INVISIBLE (defaults to USABILITY), or POLICY_BASED_CHALLENGE (defaults to USABILITY)."
        },
        "integrationType": {
          "type": "string",
          "enum": [
            "INTEGRATION_TYPE_UNSPECIFIED",
            "SCORE",
            "CHECKBOX",
            "INVISIBLE",
            "POLICY_BASED_CHALLENGE"
          ],
          "enumDescriptions": [
            "Default type that indicates this enum hasn't been specified. This is not a valid IntegrationType, one of the other types must be specified instead.",
            "Only used to produce scores. It doesn't display the \"I'm not a robot\" checkbox and never shows captcha challenges.",
            "Displays the \"I'm not a robot\" checkbox and may show captcha challenges after it is checked.",
            "Doesn't display the \"I'm not a robot\" checkbox, but may show captcha challenges after risk analysis.",
            "Displays a visual challenge or not depending on the user risk analysis score."
          ],
          "description": "Required. Describes how this key is integrated with the website."
        },
        "challengeSettings": {
          "$ref": "GoogleCloudRecaptchaenterpriseV1WebKeySettingsChallengeSettings",
          "description": "Optional. Challenge settings."
        },
        "allowAmpTraffic": {
          "description": "Optional. If set to true, the key can be used on AMP (Accelerated Mobile Pages) websites. This is supported only for the SCORE integration type.",
          "type": "boolean"
        }
      },
      "description": "Settings specific to keys that can be used by websites."
    },
    "GoogleCloudRecaptchaenterpriseV1UserInfo": {
      "type": "object",
      "description": "User information associated with a request protected by reCAPTCHA Enterprise.",
      "properties": {
        "userIds": {
          "type": "array",
          "description": "Optional. Identifiers associated with this user or request.",
          "items": {
            "$ref": "GoogleCloudRecaptchaenterpriseV1UserId"
          }
        },
        "createAccountTime": {
          "description": "Optional. Creation time for this account associated with this user. Leave blank for non logged-in actions, guest checkout, or when there is no account associated with the current user.",
          "format": "google-datetime",
          "type": "string"
        },
        "accountId": {
          "type": "string",
          "description": "Optional. For logged-in requests or login/registration requests, the unique account identifier associated with this user. You can use the username if it is stable (meaning it is the same for every request associated with the same user), or any stable user ID of your choice. Leave blank for non logged-in actions or guest checkout."
        }
      },
      "id": "GoogleCloudRecaptchaenterpriseV1UserInfo"
    },
    "GoogleCloudRecaptchaenterpriseV1ChallengeRuleNoChallengeOutcome": {
      "type": "object",
      "id": "GoogleCloudRecaptchaenterpriseV1ChallengeRuleNoChallengeOutcome",
      "properties": {},
      "description": "An outcome that indicates that no challenge should be presented to the user."
    },
    "GoogleCloudRecaptchaenterpriseV1WafSettings": {
      "type": "object",
      "description": "Settings specific to keys that can be used for WAF (Web Application Firewall).",
      "properties": {
        "wafService": {
          "type": "string",
          "enum": [
            "WAF_SERVICE_UNSPECIFIED",
            "CA",
            "FASTLY",
            "CLOUDFLARE",
            "AKAMAI"
          ],
          "enumDescriptions": [
            "Undefined WAF",
            "Cloud Armor",
            "Fastly",
            "Cloudflare",
            "Akamai"
          ],
          "description": "Required. The Web Application Firewall (WAF) service that uses this key."
        },
        "wafFeature": {
          "enumDeprecated": [
            false,
            false,
            false,
            false,
            true
          ],
          "type": "string",
          "enum": [
            "WAF_FEATURE_UNSPECIFIED",
            "CHALLENGE_PAGE",
            "SESSION_TOKEN",
            "ACTION_TOKEN",
            "EXPRESS"
          ],
          "enumDescriptions": [
            "Undefined feature.",
            "Redirects suspicious traffic to reCAPTCHA.",
            "Use reCAPTCHA session-tokens to protect the whole user session on the site's domain.",
            "Use reCAPTCHA action-tokens to protect user actions.",
            "Deprecated: Use `express_settings` instead."
          ],
          "description": "Required. The Web Application Firewall (WAF) feature for which this key is enabled."
        }
      },
      "id": "GoogleCloudRecaptchaenterpriseV1WafSettings"
    },
    "GoogleCloudRecaptchaenterpriseV1Policy": {
      "description": "A complete configuration set containing multiple grouped rules defining the behavior of reCAPTCHA for fraud detection and prevention.",
      "properties": {
        "challengeRuleGroups": {
          "description": "Optional. Rules to configure the behavior of reCAPTCHA for showing a challenge. Rule groups are evaluated in order. Evaluation stops when the first matching rule group is found.",
          "items": {
            "$ref": "GoogleCloudRecaptchaenterpriseV1ChallengeRuleGroup"
          },
          "type": "array"
        },
        "name": {
          "description": "Identifier. Resource name for this policy. Format: \"projects/{project}/keys/{key}/policy\" for a policy under a key.",
          "type": "string"
        },
        "clientSettings": {
          "$ref": "GoogleCloudRecaptchaenterpriseV1ClientSettings",
          "description": "Required. Configuration for clients protected by this policy."
        }
      },
      "id": "GoogleCloudRecaptchaenterpriseV1Policy",
      "type": "object"
    },
    "GoogleCloudRecaptchaenterpriseV1AppleDeveloperId": {
      "id": "GoogleCloudRecaptchaenterpriseV1AppleDeveloperId",
      "type": "object",
      "description": "Contains fields that are required to perform Apple-specific integrity checks.",
      "properties": {
        "keyId": {
          "description": "Required. The Apple developer key ID (10-character string).",
          "type": "string"
        },
        "teamId": {
          "type": "string",
          "description": "Required. The Apple team ID (10-character string) owning the provisioning profile used to build your application."
        },
        "privateKey": {
          "type": "string",
          "description": "Required. Input only. A private key (downloaded as a text file with a .p8 file extension) generated for your Apple Developer account. Ensure that Apple DeviceCheck is enabled for the private key."
        }
      }
    },
    "GoogleCloudRecaptchaenterpriseV1ListKeysResponse": {
      "type": "object",
      "id": "GoogleCloudRecaptchaenterpriseV1ListKeysResponse",
      "description": "Response to request to list keys in a project.",
      "properties": {
        "keys": {
          "type": "array",
          "description": "Key details.",
          "items": {
            "$ref": "GoogleCloudRecaptchaenterpriseV1Key"
          }
        },
        "nextPageToken": {
          "description": "Token to retrieve the next page of results. It is set to empty if no keys remain in results.",
          "type": "string"
        }
      }
    },
    "GoogleCloudRecaptchaenterpriseV1WebKeySettingsChallengeSettings": {
      "id": "GoogleCloudRecaptchaenterpriseV1WebKeySettingsChallengeSettings",
      "properties": {
        "defaultSettings": {
          "$ref": "GoogleCloudRecaptchaenterpriseV1WebKeySettingsActionSettings",
          "description": "Required. Defines when a challenge is triggered (unless the default threshold is overridden for the given action, see `action_settings`)."
        },
        "actionSettings": {
          "description": "Optional. The action to score threshold map. The action name should be the same as the action name passed in the `data-action` attribute (see https://cloud.google.com/recaptcha/docs/actions-website). Action names are case-insensitive. There is a maximum of 100 action settings. An action name has a maximum length of 100.",
          "type": "object",
          "additionalProperties": {
            "$ref": "GoogleCloudRecaptchaenterpriseV1WebKeySettingsActionSettings"
          }
        }
      },
      "type": "object",
      "description": "Settings for POLICY_BASED_CHALLENGE keys to control when a challenge is triggered."
    },
    "GoogleCloudRecaptchaenterpriseV1AccountDefenderAssessment": {
      "properties": {
        "labels": {
          "items": {
            "type": "string",
            "enum": [
              "ACCOUNT_DEFENDER_LABEL_UNSPECIFIED",
              "PROFILE_MATCH",
              "SUSPICIOUS_LOGIN_ACTIVITY",
              "SUSPICIOUS_ACCOUNT_CREATION",
              "RELATED_ACCOUNTS_NUMBER_HIGH"
            ],
            "enumDescriptions": [
              "Default unspecified type.",
              "The request matches a trusted profile associated with this account.",
              "The request is potentially a suspicious login event and must be further verified either through multi-factor authentication or another system.",
              "The request matched a profile that previously had suspicious account creation behavior. This can mean that this is a fake account.",
              "The account in the request has a high number of related accounts. It does not necessarily imply that the account is bad but can require further investigation."
            ]
          },
          "type": "array",
          "description": "Output only. Labels for this request.",
          "readOnly": true
        },
        "accountTakeoverVerdict": {
          "$ref": "GoogleCloudRecaptchaenterpriseV1AccountDefenderAssessmentAccountTakeoverVerdict",
          "description": "Output only. Account takeover risk assessment for this request.",
          "readOnly": true
        }
      },
      "description": "Account defense risk assessment.",
      "id": "GoogleCloudRecaptchaenterpriseV1AccountDefenderAssessment",
      "type": "object"
    },
    "GoogleCloudRecaptchaenterpriseV1MigrateKeyRequest": {
      "properties": {
        "skipBillingCheck": {
          "type": "boolean",
          "description": "Optional. If true, skips the billing check. A reCAPTCHA Enterprise key or migrated key behaves differently than a reCAPTCHA (non-Enterprise version) key when you reach a quota limit (see https://docs.cloud.google.com/recaptcha/quotas#quota_limit). To avoid any disruption of your usage, we check that a billing account is present. If your usage of reCAPTCHA is under the free quota, you can safely skip the billing check and proceed with the migration. See https://cloud.google.com/recaptcha/docs/billing-information."
        }
      },
      "description": "The migrate key request message.",
      "type": "object",
      "id": "GoogleCloudRecaptchaenterpriseV1MigrateKeyRequest"
    },
    "GoogleCloudRecaptchaenterpriseV1FirewallActionSubstituteAction": {
      "id": "GoogleCloudRecaptchaenterpriseV1FirewallActionSubstituteAction",
      "properties": {
        "path": {
          "description": "Optional. The address to redirect to. The target is a relative path in the current host. Example: \"/blog/404.html\".",
          "type": "string"
        }
      },
      "type": "object",
      "description": "A substitute action transparently serves a different page than the one requested."
    },
    "GoogleCloudRecaptchaenterpriseV1ChallengeRuleEvaluation": {
      "description": "Information about the evaluation of a `ChallengeRule`.",
      "properties": {},
      "type": "object",
      "id": "GoogleCloudRecaptchaenterpriseV1ChallengeRuleEvaluation"
    },
    "GoogleCloudRecaptchaenterpriseV1AddIpOverrideRequest": {
      "description": "The AddIpOverride request message.",
      "properties": {
        "ipOverrideData": {
          "$ref": "GoogleCloudRecaptchaenterpriseV1IpOverrideData",
          "description": "Required. IP override added to the key."
        }
      },
      "type": "object",
      "id": "GoogleCloudRecaptchaenterpriseV1AddIpOverrideRequest"
    },
    "GoogleCloudRecaptchaenterpriseV1TransactionDataUser": {
      "type": "object",
      "properties": {
        "emailVerified": {
          "description": "Optional. Whether the email has been verified to be accessible by the user (OTP or similar).",
          "type": "boolean"
        },
        "accountId": {
          "description": "Optional. Unique account identifier for this user. If using Account defense, this should match the hashed_account_id field. Otherwise, a unique and persistent identifier for this account.",
          "type": "string"
        },
        "creationMs": {
          "format": "int64",
          "description": "Optional. The epoch milliseconds of the user's account creation.",
          "type": "string"
        },
        "email": {
          "type": "string",
          "description": "Optional. The email address of the user."
        },
        "phoneVerified": {
          "type": "boolean",
          "description": "Optional. Whether the phone number has been verified to be accessible by the user (OTP or similar)."
        },
        "phoneNumber": {
          "description": "Optional. The phone number of the user, with country code.",
          "type": "string"
        }
      },
      "description": "Details about a user's account involved in the transaction.",
      "id": "GoogleCloudRecaptchaenterpriseV1TransactionDataUser"
    },
    "GoogleCloudRecaptchaenterpriseV1FirewallActionSetHeaderAction": {
      "description": "A set header action sets a header and forwards the request to the backend. This can be used to trigger custom protection implemented on the backend.",
      "id": "GoogleCloudRecaptchaenterpriseV1FirewallActionSetHeaderAction",
      "properties": {
        "value": {
          "description": "Optional. The header value to set in the request to the backend server.",
          "type": "string"
        },
        "key": {
          "description": "Optional. The header key to set in the request to the backend server.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudRecaptchaenterpriseV1PhoneFraudAssessment": {
      "properties": {
        "smsTollFraudVerdict": {
          "readOnly": true,
          "$ref": "GoogleCloudRecaptchaenterpriseV1SmsTollFraudVerdict",
          "description": "Output only. Assessment of this phone event for risk of SMS toll fraud."
        }
      },
      "description": "Assessment for Phone Fraud",
      "id": "GoogleCloudRecaptchaenterpriseV1PhoneFraudAssessment",
      "type": "object"
    },
    "GoogleCloudRecaptchaenterpriseV1RemoveIpOverrideResponse": {
      "properties": {},
      "description": "Response for RemoveIpOverride.",
      "id": "GoogleCloudRecaptchaenterpriseV1RemoveIpOverrideResponse",
      "type": "object"
    },
    "GoogleCloudRecaptchaenterpriseV1ListRelatedAccountGroupMembershipsResponse": {
      "properties": {
        "relatedAccountGroupMemberships": {
          "type": "array",
          "description": "The memberships listed by the query.",
          "items": {
            "$ref": "GoogleCloudRecaptchaenterpriseV1RelatedAccountGroupMembership"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        }
      },
      "id": "GoogleCloudRecaptchaenterpriseV1ListRelatedAccountGroupMembershipsResponse",
      "type": "object",
      "description": "The response to a `ListRelatedAccountGroupMemberships` call."
    },
    "GoogleCloudRecaptchaenterpriseV1AccountDefenderAssessmentAccountRiskReason": {
      "id": "GoogleCloudRecaptchaenterpriseV1AccountDefenderAssessmentAccountRiskReason",
      "description": "Risk explainability reasons for Account defense.",
      "properties": {
        "reason": {
          "readOnly": true,
          "type": "string",
          "enum": [
            "RISK_REASON_UNSPECIFIED",
            "CLIENT_HISTORICAL_BOT_ACTIVITY",
            "ACCOUNT_IN_LARGE_RELATED_GROUP",
            "CLIENT_ACCESSED_MANY_ACCOUNTS",
            "DISPOSABLE_EMAIL_DOMAIN"
          ],
          "enumDescriptions": [
            "Default unspecified type.",
            "The client has been observed sending bot-like traffic to this site in the past. This reason incorporates historical reputation and indicates that the client is known to use bots, even if the current request is being made by a human.",
            "The account is part of a large group of related accounts, indicating that it may be part of a fraudulent network. Related accounts are identified based on having similar traffic patterns and request characteristics.",
            "The client has been observed accessing many accounts on this site.",
            "This email domain is a suspected provider of disposable email addresses."
          ],
          "description": "Output only. A risk reason associated with this request."
        }
      },
      "type": "object"
    },
    "GoogleCloudRecaptchaenterpriseV1RiskAnalysis": {
      "id": "GoogleCloudRecaptchaenterpriseV1RiskAnalysis",
      "properties": {
        "reasons": {
          "readOnly": true,
          "description": "Output only. Reasons contributing to the risk analysis verdict.",
          "type": "array",
          "items": {
            "type": "string",
            "enum": [
              "CLASSIFICATION_REASON_UNSPECIFIED",
              "AUTOMATION",
              "UNEXPECTED_ENVIRONMENT",
              "TOO_MUCH_TRAFFIC",
              "UNEXPECTED_USAGE_PATTERNS",
              "LOW_CONFIDENCE_SCORE",
              "SUSPECTED_CARDING",
              "SUSPECTED_CHARGEBACK"
            ],
            "enumDescriptions": [
              "Default unspecified type.",
              "Interactions matched the behavior of an automated agent.",
              "The event originated from an illegitimate environment.",
              "Traffic volume from the event source is higher than normal.",
              "Interactions with the site were significantly different than expected patterns.",
              "Too little traffic has been received from this site thus far to generate quality risk analysis.",
              "Deprecated: Use FraudPreventionAssessment.transaction_risk and FraudPreventionAssessment.RiskReason.Reason.EXCESSIVE_ENUMERATION_PATTERN instead.",
              "Deprecated: Use FraudPreventionAssessment.transaction_risk and FraudPreventionAssessment.RiskReason.Reason.ASSOCIATED_WITH_FRAUD_CLUSTER instead."
            ],
            "enumDeprecated": [
              false,
              false,
              false,
              false,
              false,
              false,
              true,
              true
            ]
          }
        },
        "score": {
          "description": "Output only. Legitimate event score from 0.0 to 1.0. (1.0 means very likely legitimate traffic while 0.0 means very likely non-legitimate traffic).",
          "readOnly": true,
          "format": "float",
          "type": "number"
        },
        "challenge": {
          "readOnly": true,
          "enumDescriptions": [
            "Default unspecified type.",
            "No challenge was presented for solving.",
            "A solution was submitted that was correct.",
            "A solution was submitted that was incorrect or otherwise deemed suspicious."
          ],
          "description": "Output only. Challenge information for Universal, `POLICY_BASED_CHALLENGE` and `INVISIBLE` keys.",
          "type": "string",
          "enum": [
            "CHALLENGE_UNSPECIFIED",
            "NOCAPTCHA",
            "PASSED",
            "FAILED"
          ]
        },
        "verifiedBots": {
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "GoogleCloudRecaptchaenterpriseV1Bot"
          },
          "description": "Output only. Bots with identities that have been verified by reCAPTCHA and detected in the event."
        },
        "lastChallengeType": {
          "readOnly": true,
          "enumDescriptions": [
            "Default unspecified type.",
            "A visual challenge.",
            "An audio challenge."
          ],
          "type": "string",
          "enum": [
            "CHALLENGE_TYPE_UNSPECIFIED",
            "CHALLENGE_TYPE_VISUAL",
            "CHALLENGE_TYPE_AUDIO"
          ],
          "description": "Output only. Type of the last challenge presented to the user for Universal, `POLICY_BASED_CHALLENGE` and `INVISIBLE` keys. The field is only set when a challenge was presented to the user."
        },
        "extendedVerdictReasons": {
          "description": "Output only. Additional reasons contributing to the risk analysis verdict. These reasons are available to Enterprise tier projects only. Contact sales for more information. The set of reasons is subject to change.",
          "readOnly": true,
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "type": "object",
      "description": "Risk analysis result for an event."
    },
    "GoogleCloudRecaptchaenterpriseV1PrivatePasswordLeakVerification": {
      "properties": {
        "lookupHashPrefix": {
          "description": "Required. Exactly 26-bit prefix of the SHA-256 hash of the canonicalized username. It is used to look up password leaks associated with that hash prefix.",
          "format": "byte",
          "type": "string"
        },
        "encryptedUserCredentialsHash": {
          "format": "byte",
          "description": "Optional. Encrypted Scrypt hash of the canonicalized username+password. It is re-encrypted by the server and returned through `reencrypted_user_credentials_hash`.",
          "type": "string"
        },
        "reencryptedUserCredentialsHash": {
          "readOnly": true,
          "format": "byte",
          "description": "Output only. Corresponds to the re-encryption of the `encrypted_user_credentials_hash` field. It is used to match potential password leaks within `encrypted_leak_match_prefixes`.",
          "type": "string"
        },
        "encryptedLeakMatchPrefixes": {
          "description": "Output only. List of prefixes of the encrypted potential password leaks that matched the given parameters. They must be compared with the client-side decryption prefix of `reencrypted_user_credentials_hash`",
          "readOnly": true,
          "type": "array",
          "items": {
            "type": "string",
            "format": "byte"
          }
        }
      },
      "type": "object",
      "description": "Private password leak verification info.",
      "id": "GoogleCloudRecaptchaenterpriseV1PrivatePasswordLeakVerification"
    },
    "GoogleCloudRecaptchaenterpriseV1Event": {
      "properties": {
        "expectedAction": {
          "type": "string",
          "description": "Optional. The expected action for this type of event. This should be the same action provided at token generation time on client-side platforms already integrated with recaptcha enterprise. Required for Universal keys."
        },
        "userAgent": {
          "description": "Optional. The user agent present in the request from the user's device related to this event.",
          "type": "string"
        },
        "headers": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Optional. HTTP header information about the request."
        },
        "transactionData": {
          "$ref": "GoogleCloudRecaptchaenterpriseV1TransactionData",
          "description": "Optional. Data describing a payment transaction to be assessed. Sending this data enables reCAPTCHA Enterprise Fraud Prevention and the FraudPreventionAssessment component in the response."
        },
        "ja3": {
          "description": "Optional. JA3 fingerprint for SSL clients. To learn how to compute this fingerprint, please refer to https://github.com/salesforce/ja3.",
          "type": "string"
        },
        "hashedAccountId": {
          "deprecated": true,
          "description": "Optional. Deprecated: use `user_info.account_id` instead. Unique stable hashed user identifier for the request. The identifier must be hashed using hmac-sha256 with stable secret.",
          "format": "byte",
          "type": "string"
        },
        "requestedUri": {
          "description": "Optional. The URI resource the user requested that triggered an assessment.",
          "type": "string"
        },
        "fraudPrevention": {
          "description": "Optional. The Fraud Prevention setting for this assessment.",
          "type": "string",
          "enum": [
            "FRAUD_PREVENTION_UNSPECIFIED",
            "ENABLED",
            "DISABLED"
          ],
          "enumDescriptions": [
            "Default, unspecified setting. `fraud_prevention_assessment` is returned if `transaction_data` is present in `Event` and Fraud Prevention is enabled in the Google Cloud console.",
            "Enable Fraud Prevention for this assessment, if Fraud Prevention is enabled in the Google Cloud console.",
            "Disable Fraud Prevention for this assessment, regardless of the Google Cloud console settings."
          ]
        },
        "express": {
          "type": "boolean",
          "description": "Optional. Flag for a reCAPTCHA express request for an assessment without a token. If enabled, `site_key` must reference an Express site key."
        },
        "userInfo": {
          "description": "Optional. Information about the user that generates this event, when they can be identified. They are often identified through the use of an account for logged-in requests or login/registration requests, or by providing user identifiers for guest actions like checkout.",
          "$ref": "GoogleCloudRecaptchaenterpriseV1UserInfo"
        },
        "token": {
          "description": "Optional. The user response token provided by the reCAPTCHA Enterprise client-side integration on your site.",
          "type": "string"
        },
        "firewallPolicyEvaluation": {
          "type": "boolean",
          "description": "Optional. Flag for enabling firewall policy config assessment. If this flag is enabled, the firewall policy is evaluated and a suggested firewall action is returned in the response."
        },
        "userIpAddress": {
          "type": "string",
          "description": "Optional. The IP address in the request from the user's device related to this event."
        },
        "wafTokenAssessment": {
          "description": "Optional. Flag for running Web Application Firewall (WAF) token assessment. If enabled, the token must be specified, and have been created by a WAF-enabled key.",
          "type": "boolean"
        },
        "ja4": {
          "description": "Optional. JA4 fingerprint for SSL clients. To learn how to compute this fingerprint, please refer to https://github.com/FoxIO-LLC/ja4.",
          "type": "string"
        },
        "siteKey": {
          "description": "Optional. The site key that was used to invoke reCAPTCHA Enterprise on your site and generate the token.",
          "type": "string"
        }
      },
      "id": "GoogleCloudRecaptchaenterpriseV1Event",
      "type": "object",
      "description": "The event being assessed."
    },
    "GoogleCloudRecaptchaenterpriseV1FirewallActionBlockAction": {
      "id": "GoogleCloudRecaptchaenterpriseV1FirewallActionBlockAction",
[...]
