{
  "discoveryVersion": "v1",
  "kind": "discovery#restDescription",
  "ownerDomain": "google.com",
  "schemas": {
    "GoogleCloudRecommenderV1beta1InsightType": {
      "properties": {
        "name": {
          "description": "The insight_type's name in format insightTypes/{insight_type} eg: insightTypes/google.iam.policy.Insight",
          "type": "string"
        }
      },
      "description": "The type of insight.",
      "type": "object",
      "id": "GoogleCloudRecommenderV1beta1InsightType"
    },
    "GoogleCloudRecommenderV1beta1ListRecommendationsResponse": {
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token that can be used to request the next page of results. This field is empty if there are no additional results."
        },
        "recommendations": {
          "type": "array",
          "description": "The set of recommendations for the `parent` resource.",
          "items": {
            "$ref": "GoogleCloudRecommenderV1beta1Recommendation"
          }
        }
      },
      "type": "object",
      "description": "Response to the `ListRecommendations` method.",
      "id": "GoogleCloudRecommenderV1beta1ListRecommendationsResponse"
    },
    "CloudRecommendationsRecommendersDatabasesV1Description": {
      "id": "CloudRecommendationsRecommendersDatabasesV1Description",
      "type": "object",
      "properties": {
        "descriptionEnum": {
          "enumDescriptions": [
            ""
          ],
          "type": "string",
          "enum": [
            "DESC_ENUM_UNSPECIFIED"
          ],
          "description": "Enum used to map to the html template to be shown in the UI."
        }
      }
    },
    "GoogleCloudRecommenderV1beta1CostProjection": {
      "id": "GoogleCloudRecommenderV1beta1CostProjection",
      "type": "object",
      "description": "Contains metadata about how much money a recommendation can save or incur.",
      "properties": {
        "pricingType": {
          "type": "string",
          "enum": [
            "PRICING_TYPE_UNSPECIFIED",
            "LIST_PRICE",
            "CUSTOM_PRICE"
          ],
          "enumDescriptions": [
            "Default pricing type.",
            "The price listed by GCP for all customers.",
            "A price derived from past usage and billing."
          ],
          "description": "How the cost is calculated."
        },
        "costInLocalCurrency": {
          "description": "The approximate cost savings in the billing account's local currency.",
          "$ref": "GoogleTypeMoney"
        },
        "cost": {
          "description": "An approximate projection on amount saved or amount incurred. Negative cost units indicate cost savings and positive cost units indicate increase. See google.type.Money documentation for positive/negative units. A user's permissions may affect whether the cost is computed using list prices or custom contract prices.",
          "$ref": "GoogleTypeMoney"
        },
        "duration": {
          "format": "google-duration",
          "description": "Duration for which this cost applies.",
          "type": "string"
        }
      }
    },
    "GoogleCloudRecommenderV1beta1ListInsightTypesResponse": {
      "id": "GoogleCloudRecommenderV1beta1ListInsightTypesResponse",
      "description": "Response for the `ListInsightTypes` method. Next ID: 3",
      "type": "object",
      "properties": {
        "insightTypes": {
          "description": "The set of recommenders available",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudRecommenderV1beta1InsightType"
          }
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      }
    },
    "CloudRecommendationsRecommendersDatabasesV1TableField": {
      "type": "object",
      "properties": {
        "numberValue": {
          "description": "Number value for the table field.",
          "type": "number",
          "format": "double"
        },
        "key": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "description": "Enum used to map to the string to be shown in the UI for the field.",
          "type": "string",
          "enum": [
            "STRING_KEY_UNSPECIFIED",
            "STRING_KEY_VIEW_INSTANCE_CTA",
            "STRING_KEY_EDIT_INSTANCE",
            "STRING_KEY_EDIT_USERS",
            "STRING_KEY_MYSQL_FLAG_DEFAULT_AUTHENTICATION_PLUGIN",
            "STRING_KEY_PG_FLAG_PASSWORD_ENCRYPTION",
            "STRING_KEY_ENABLE_USER_PASSWORD_POLICIES",
            "STRING_KEY_CONFIGURE_AUTHENTICATION",
            "STRING_KEY_CONFIGURE_DATABASE_FLAGS",
            "STRING_KEY_AVERAGE_CPU_USAGE",
            "STRING_KEY_OBSERVATION_TIME",
            "STRING_KEY_CONFIGURE_AUTOSCALING",
            "STRING_KEY_VIEW_CLUSTER_CTA",
            "STRING_KEY_EDIT_DISASTER_RECOVERY_SETTINGS",
            "STRING_KEY_ENABLE_SCHEDULED_BACKUPS",
            "STRING_KEY_ENABLE_POINT_IN_TIME_RECOVERY",
            "STRING_KEY_SCHEDULED_BACKUPS_ENABLEMENT",
            "STRING_KEY_PITR_ENABLEMENT",
            "STRING_KEY_INSECURE_RULES_DETECTED",
            "STRING_KEY_EXPIRING_RULES_DETECTED",
            "STRING_KEY_FIX_INSECURE_AND_EXPIRING_RULES",
            "STRING_KEY_EDIT_FIREBASE_RULES",
            "STRING_KEY_MAXIMUM_OF_PREDICTED_DISK_USAGE_FOR_THE_NEXT_7_DAYS",
            "STRING_KEY_STORAGE_CAPACITY_OF_THE_CLUSTER",
            "STRING_KEY_PER_NODE_STORAGE_CAPACITY_OF_THE_CLUSTER",
            "STRING_KEY_CURRENT_AUTOSCALING_MIN_NODE_COUNT",
            "STRING_KEY_CURRENT_AUTOSCALING_MAX_NODE_COUNT",
            "STRING_KEY_ABOUT_MAINTENANCE",
            "STRING_KEY_ABOUT_SCALING_UP",
            "STRING_KEY_CURRENT_MEMORY_SIZE_GB",
            "STRING_KEY_RECOMMENDED_MEMORY_SIZE_GB",
            "STRING_KEY_PEAK_MEMORY_USAGE_RATIO",
            "STRING_KEY_RECOMMENDED_AUTOSCALING_MIN_NODE_COUNT",
            "STRING_KEY_RECOMMENDED_AUTOSCALING_MAX_NODE_COUNT",
            "STRING_KEY_CURRENT_STORAGE_USED_BYTES_OF_THE_CLUSTER",
            "STRING_KEY_ABOUT_SCALING_OUT",
            "STRING_KEY_PEAK_MEMORY_USAGE_RATIO_ACROSS_SHARDS",
            "STRING_KEY_CURRENT_NUMBER_OF_SHARDS",
            "STRING_KEY_RECOMMENDED_NUMBER_OF_SHARDS",
            "STRING_KEY_ABOUT_AVOIDING_EXPENSIVE_COMMANDS",
            "STRING_KEY_EXPENSIVE_COMMANDS",
            "STRING_KEY_UPGRADE_TO_ENTERPRISE_PLUS_EDITION",
            "STRING_KEY_ENABLE_DATA_CACHE",
            "STRING_KEY_OBSERVATION_PERIOD",
            "STRING_KEY_LAST_DEFERRED_MAINTENANCE_OPERATION_TIME",
            "STRING_KEY_LAST_INSTANCE_MAINTENANCE_EVENT",
            "STRING_KEY_USE_AUTO_MSM",
            "STRING_KEY_CURRENT_MAX_SERVER_MEMORY_MB",
            "STRING_KEY_AUTOSCALING_CONFIGURATION",
            "STRING_KEY_SCALING_DOCS",
            "STRING_KEY_MODIFY_INSTANCE",
            "STRING_KEY_HOTSPOTS_AFFECTED_TABLES",
            "STRING_KEY_HOT_TABLETS_DOCS",
            "STRING_KEY_KEY_VISUALIZER_DOCS",
            "STRING_KEY_BIGTABLE_PERFORMANCE_DOCS",
            "STRING_KEY_VIEW_USERS",
            "STRING_KEY_SPANNER_PREVENT_ACCIDENTAL_DELETION_DOCS",
            "STRING_KEY_SPANNER_ENABLE_DATABASE_DELETION_PROTECTION_DOCS",
            "STRING_KEY_SPANNER_BACKUPS_DOCS",
            "STRING_KEY_SPANNER_CREATE_BACKUP_DOCS",
            "STRING_KEY_SPANNER_CREATE_BACKUP_SCHEDULES_DOCS",
            "STRING_KEY_SPANNER_PANTHEON_INSTANCE",
            "STRING_KEY_SPANNER_PANTHEON_INSTANCE_BACKUPS",
            "STRING_KEY_SPANNER_AFFECTED_DATABASES",
            "STRING_KEY_SPANNER_PANTHEON_BACKUP_SETTINGS",
            "STRING_KEY_CLOUD_SQL_EDITIONS",
            "STRING_KEY_ALLOYDB_ENABLE_HA_DOCS",
            "STRING_KEY_ALLOYDB_CONFIGURE_BACKUP_POLICY_DOCS",
            "STRING_KEY_VIEW_BACKUP_POLICY_CTA",
            "STRING_KEY_ALLOYDB_BACKUP_COUNT",
            "STRING_KEY_ALLOYDB_BACKUP_POLICY_TYPE",
            "STRING_KEY_DATA_CACHE",
            "STRING_KEY_BACKUP_AND_RESTORE_DATA",
            "STRING_KEY_POINT_IN_TIME_RECOVERY",
            "STRING_KEY_EDIT_BACKUP_SETTINGS",
            "STRING_KEY_GO_TO_RESOURCE",
            "STRING_KEY_OBSERVATION_START",
            "STRING_KEY_OBSERVATION_END",
            "STRING_KEY_STORAGE_UTILIZATION_RATIO",
            "STRING_KEY_CURRENT_AUTOSCALING_NODE_COUNT",
            "STRING_KEY_RECOMMENDED_AUTOSCALING_NODE_COUNT",
            "STRING_KEY_RECOMMENDED_MAINTENANCE_WINDOW",
            "STRING_KEY_FIND_AND_SET_MAINTENANCE_WINDOWS",
            "STRING_KEY_MAXMEMORY_POLICY",
            "STRING_KEY_SYSTEM_MEMORY_USAGE_RATIO",
            "STRING_KEY_FAILED_SNAPSHOTS",
            "STRING_KEY_EXPIRABLE_KEYS_PERCENTAGE",
            "STRING_KEY_OOM_COUNT",
            "STRING_KEY_EDIT_RESOURCE_CTA",
            "STRING_KEY_MEMORYSTORE_MEMORY_MANAGEMENT_BEST_PRACTICES",
            "STRING_KEY_MEMORYSTORE_REDIS_CRASHES",
            "STRING_KEY_BIGTABLE_MIN_NUMBER_OF_NODES_FOR_CUD",
            "STRING_KEY_BIGTABLE_AVERAGE_CLUSTER_NODE_COUNT",
            "STRING_KEY_BIGTABLE_CUD_DOCS",
            "STRING_KEY_SPANNER_MITIGATE_CMEK_ORG_POLICY_VIOLATION_DOCS",
            "STRING_KEY_SPANNER_MITIGATE_DRZ_ORG_POLICY_VIOLATION_DOCS",
            "STRING_KEY_ALLOYDB_RECOMMENDED_BACKUP_COUNT",
            "STRING_KEY_SQLSERVER_BEST_PRACTICES_GLOBAL",
            "STRING_KEY_SQLSERVER_SERVER_MEMORY_CONFIGURATION",
            "STRING_KEY_INSECURE_RULES_AUTHENTICATION",
            "STRING_KEY_KEY_VISUALIZER_CTA",
            "STRING_KEY_SPANNER_SCHEMA",
            "STRING_KEY_SPANNER_SCHEMA_BEST_PRACTICES",
            "STRING_KEY_SPANNER_MANAGE_DATA_USING_CONSOLE",
            "STRING_KEY_SPANNER_MIGRATE_YOUR_DATA",
            "STRING_KEY_SPANNER_MAKE_SCHEMA_UPDATE",
            "STRING_KEY_SPANNER_QUOTA_AND_LIMITS_TABLES",
            "STRING_KEY_SPANNER_PROTOCOL_BUFFER_LIMITATIONS",
            "STRING_KEY_SPANNER_QUERY_INSIGHTS",
            "STRING_KEY_SPANNER_USE_INDEX_ADVISOR",
            "STRING_KEY_SPANNER_SEARCH_INDEXES",
            "STRING_KEY_SPANNER_QUOTA_AND_LIMITS_INDEXES",
            "STRING_KEY_SPANNER_FOREIGN_KEYS",
            "STRING_KEY_SPANNER_CREATE_MANAGE_FOREIGN_KEY_RELATIONSHIPS",
            "STRING_KEY_SPANNER_IMPLEMENT_MULTI_TENANCY",
            "STRING_KEY_SPANNER_DATABASE_SPLITS",
            "STRING_KEY_SPANNER_CREATE_ALERTS_FOR_SPANNER_METRICS",
            "STRING_KEY_SPANNER_QUOTA_AND_LIMITS_SCHEMAS",
            "STRING_KEY_SPANNER_VIEW_OBJECT_CTA",
            "STRING_KEY_SPANNER_QUERY_INSIGHTS_CTA",
            "STRING_KEY_SPANNER_MONITORING_CTA",
            "STRING_KEY_BIGTABLE_CURRENT_CLIENT_LIBRARY_VERSION",
            "STRING_KEY_BIGTABLE_LATEST_CLIENT_LIBRARY_VERSION",
            "STRING_KEY_BIGTABLE_APP_PROFILE_IDS",
            "STRING_KEY_BIGTABLE_CLIENT_LIBRARY_LANGUAGE",
            "STRING_KEY_BIGTABLE_UPGRADING_CLIENTS",
            "STRING_KEY_BIGTABLE_REPLICATION_DELAY_TABLES",
            "STRING_KEY_BIGTABLE_REPLICATION_DELAY_DOCS",
            "STRING_KEY_BIGTABLE_CLIENT_LIBRARIES",
            "STRING_KEY_BIGTABLE_DATABOOST_DOCS",
            "STRING_KEY_INSTANCE_NAME",
            "STRING_KEY_APP_PROFILE_ID",
            "STRING_KEY_CREATE_APP_PROFILE_CTA",
            "STRING_KEY_BIGTABLE_DATABOOST_OVERVIEW_DOCS",
            "STRING_KEY_BIGTABLE_APP_PROFILES_DOCS",
            "STRING_KEY_THREAD_CACHE_SIZE_CURRENT_VALUE",
            "STRING_KEY_THREAD_CACHE_SIZE_RECOMMENDED_VALUE",
            "STRING_KEY_ENABLE_DATABASE_AUDITING",
            "STRING_KEY_JOIN_BUFFER_SIZE_CURRENT_VALUE",
            "STRING_KEY_JOIN_BUFFER_SIZE_RECOMMENDED_VALUE",
            "STRING_KEY_TABLE_OPEN_CACHE_CURRENT_VALUE",
            "STRING_KEY_TABLE_OPEN_CACHE_RECOMMENDED_VALUE",
            "STRING_KEY_NUMBER_OF_TABLES",
            "STRING_KEY_MYSQL_HIGH_NUMBER_OF_TABLES_PLAYBOOK",
            "STRING_KEY_TMP_TABLE_SIZE_CURRENT_VALUE",
            "STRING_KEY_TMP_TABLE_SIZE_RECOMMENDED_VALUE",
            "STRING_KEY_MAX_HEAP_TABLE_SIZE_CURRENT_VALUE",
            "STRING_KEY_MAX_HEAP_TABLE_SIZE_RECOMMENDED_VALUE",
            "STRING_KEY_BINLOG_CACHE_SIZE_CURRENT_VALUE",
            "STRING_KEY_BINLOG_CACHE_SIZE_RECOMMENDED_VALUE",
            "STRING_KEY_BINLOG_STMT_CACHE_SIZE_CURRENT_VALUE",
            "STRING_KEY_BINLOG_STMT_CACHE_SIZE_RECOMMENDED_VALUE",
            "STRING_KEY_INNODB_LOG_BUFFER_SIZE_CURRENT_VALUE",
            "STRING_KEY_INNODB_LOG_BUFFER_SIZE_RECOMMENDED_VALUE",
            "STRING_KEY_TRANSACTION_ID_UTILIZATION_PERCENTAGE",
            "STRING_KEY_DAYS_TO_WRAPAROUND",
            "STRING_KEY_PG_TRANSACTION_ID_UTILIZATION_PLAYBOOK",
            "STRING_KEY_MAX_CPU_UTILIZATION",
            "STRING_KEY_MAX_MEMORY_UTILIZATION",
            "STRING_KEY_DISK_USAGE_BYTES_CHANGE",
            "STRING_KEY_MAX_DISK_READ_OPS_COUNT",
            "STRING_KEY_MAX_DISK_WRITE_OPS_COUNT",
            "STRING_KEY_SQL_IDLE_PLAYBOOK",
            "STRING_KEY_CURRENT_STORAGE_USAGE",
            "STRING_KEY_CURRENT_STORAGE_LIMIT",
            "STRING_KEY_ESTIMATED_STORAGE_RUN_OUT_PERIOD",
            "STRING_KEY_CURRENT_MACHINE_TYPE",
            "STRING_KEY_RECOMMENDED_MACHINE_TYPE",
            "STRING_KEY_CURRENT_CORES",
            "STRING_KEY_RECOMMENDED_CORES",
            "STRING_KEY_REVIEW_ORG_POLICY",
            "STRING_KEY_USE_AUTH_PROXY_OR_CONNECTORS",
            "STRING_KEY_REMOVE_AUTHORIZED_NETWORKS",
            "STRING_KEY_ROTATE_SERVER_CERTIFICATE",
            "STRING_KEY_MANAGE_SERVER_CERTIFICATES",
            "STRING_KEY_PUBLIC_IP_ENABLED",
            "STRING_KEY_PRIVATE_IP_ENABLED",
            "STRING_KEY_CONFIGURE_PRIVATE_IP",
            "STRING_KEY_DISABLE_PUBLIC_IP",
            "STRING_KEY_CPU_UTILIZATION_OUT_OF_SLA",
            "STRING_KEY_CPU_UTILIZATION_OUT_OF_SLA_LATEST_TIMESTAMP",
            "STRING_KEY_MEMORY_UTILIZATION_OUT_OF_SLA",
            "STRING_KEY_MEMORY_UTILIZATION_OUT_OF_SLA_LATEST_TIMESTAMP",
            "STRING_KEY_ESTIMATED_OOM_PROBABILITY",
            "STRING_KEY_MAX_CONNECTIONS_CURRENT_VALUE",
            "STRING_KEY_MAX_CONNECTIONS_RECOMMENDED_VALUE"
          ]
        },
        "stringValue": {
          "description": "String value for the table field. Note that this string won't be translated. It is advised to provide values that don't require translation.",
          "type": "string"
        },
        "timestampValue": {
          "type": "string",
          "description": "Timestamp value for the table field. Timestamp will be shown in the user's timezone with the format: \"Feb 27, 2009 3:22:54 PM\".",
          "format": "google-datetime"
        }
      },
      "id": "CloudRecommendationsRecommendersDatabasesV1TableField"
    },
    "GoogleCloudRecommenderV1beta1MarkRecommendationClaimedRequest": {
      "properties": {
        "stateMetadata": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "State properties to include with this state. Overwrites any existing `state_metadata`. Keys must match the regex `/^a-z0-9{0,62}$/`. Values must match the regex `/^[a-zA-Z0-9_./-]{0,255}$/`."
        },
        "etag": {
          "description": "Required. Fingerprint of the Recommendation. Provides optimistic locking.",
          "type": "string"
        }
      },
      "description": "Request for the `MarkRecommendationClaimed` Method.",
      "type": "object",
      "id": "GoogleCloudRecommenderV1beta1MarkRecommendationClaimedRequest"
    },
    "GoogleTypeMoney": {
      "properties": {
        "units": {
          "description": "The whole units of the amount. For example if `currencyCode` is `\"USD\"`, then 1 unit is one US dollar.",
          "format": "int64",
          "type": "string"
        },
        "nanos": {
          "description": "Number of nano (10^-9) units of the amount. The value must be between -999,999,999 and +999,999,999 inclusive. If `units` is positive, `nanos` must be positive or zero. If `units` is zero, `nanos` can be positive, zero, or negative. If `units` is negative, `nanos` must be negative or zero. For example $-1.75 is represented as `units`=-1 and `nanos`=-750,000,000.",
          "format": "int32",
          "type": "integer"
        },
        "currencyCode": {
          "description": "The three-letter currency code defined in ISO 4217.",
          "type": "string"
        }
      },
      "description": "Represents an amount of money with its currency type.",
      "type": "object",
      "id": "GoogleTypeMoney"
    },
    "GoogleCloudRecommenderV1beta1ValueMatcher": {
      "id": "GoogleCloudRecommenderV1beta1ValueMatcher",
      "properties": {
        "matchesPattern": {
          "description": "To be used for full regex matching. The regular expression is using the Google RE2 syntax (https://github.com/google/re2/wiki/Syntax), so to be used with RE2::FullMatch",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Contains various matching options for values for a GCP resource field."
    },
    "GoogleCloudRecommenderV1beta1RecommenderConfig": {
      "type": "object",
      "id": "GoogleCloudRecommenderV1beta1RecommenderConfig",
      "description": "Configuration for a Recommender.",
      "properties": {
        "updateTime": {
          "format": "google-datetime",
          "description": "Last time when the config was updated.",
          "type": "string"
        },
        "name": {
          "description": "Identifier. Name of recommender config. Eg, projects/[PROJECT_NUMBER]/locations/[LOCATION]/recommenders/[RECOMMENDER_ID]/config",
          "type": "string"
        },
        "annotations": {
          "type": "object",
          "description": "Allows clients to store small amounts of arbitrary data. Annotations must follow the Kubernetes syntax. The total size of all keys and values combined is limited to 256k. Key can have 2 segments: prefix (optional) and name (required), separated by a slash (/). Prefix must be a DNS subdomain. Name must be 63 characters or less, begin and end with alphanumerics, with dashes (-), underscores (_), dots (.), and alphanumerics between.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "displayName": {
          "description": "A user-settable field to provide a human-readable name to be used in user interfaces.",
          "type": "string"
        },
        "etag": {
          "description": "Fingerprint of the RecommenderConfig. Provides optimistic locking when updating.",
          "type": "string"
        },
        "recommenderGenerationConfig": {
          "description": "RecommenderGenerationConfig which configures the Generation of recommendations for this recommender.",
          "$ref": "GoogleCloudRecommenderV1beta1RecommenderGenerationConfig"
        },
        "revisionId": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Immutable. The revision ID of the config. A new revision is committed whenever the config is changed in any way. The format is an 8-character hexadecimal string."
        }
      }
    },
    "CloudRecommendationsRecommendersDatabasesV1DatabasesPresentationConfig": {
      "type": "object",
      "id": "CloudRecommendationsRecommendersDatabasesV1DatabasesPresentationConfig",
      "properties": {
        "nextStepsDescription": {
          "description": "Next steps description for the issue.",
          "$ref": "CloudRecommendationsRecommendersDatabasesV1Description"
        },
        "ctaConfigs": {
          "description": "Call to action buttons for the issue.",
          "type": "array",
          "items": {
            "$ref": "CloudRecommendationsRecommendersDatabasesV1CtaConfig"
          }
        },
        "issueDescription": {
          "$ref": "CloudRecommendationsRecommendersDatabasesV1Description",
          "description": "Issue description for the issue."
        },
        "playbookLinks": {
          "description": "Playbook links for the issue.",
          "items": {
            "$ref": "CloudRecommendationsRecommendersDatabasesV1PlaybookLink"
          },
          "type": "array"
        },
        "nextStepsTableFields": {
          "description": "Fields for the table containing metadata associated with the next steps.",
          "items": {
            "$ref": "CloudRecommendationsRecommendersDatabasesV1TableField"
          },
          "type": "array"
        },
        "issueTableFields": {
          "items": {
            "$ref": "CloudRecommendationsRecommendersDatabasesV1TableField"
          },
          "type": "array",
          "description": "Fields for the table containing metadata associated with the issue."
        },
        "issueContentChunks": {
          "items": {
            "$ref": "CloudRecommendationsRecommendersDatabasesV1ContentChunk"
          },
          "type": "array",
          "description": "Content chunks for the issue."
        },
        "nextStepsContentChunks": {
          "items": {
            "$ref": "CloudRecommendationsRecommendersDatabasesV1ContentChunk"
          },
          "type": "array",
          "description": "Content chunks for the next steps."
        }
      },
      "description": "Presentational config that maps to the UI components of templatized issue subtasks."
    },
    "GoogleCloudRecommenderV1beta1RecommenderType": {
      "description": "The type of a recommender.",
      "properties": {
        "name": {
          "description": "The recommender's name in format RecommenderTypes/{recommender_type} eg: recommenderTypes/google.iam.policy.Recommender",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudRecommenderV1beta1RecommenderType"
    },
    "GoogleCloudRecommenderV1beta1MarkRecommendationSucceededRequest": {
      "properties": {
        "etag": {
          "description": "Required. Fingerprint of the Recommendation. Provides optimistic locking.",
          "type": "string"
        },
        "stateMetadata": {
          "description": "State properties to include with this state. Overwrites any existing `state_metadata`. Keys must match the regex `/^a-z0-9{0,62}$/`. Values must match the regex `/^[a-zA-Z0-9_./-]{0,255}$/`.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        }
      },
      "id": "GoogleCloudRecommenderV1beta1MarkRecommendationSucceededRequest",
      "description": "Request for the `MarkRecommendationSucceeded` Method.",
      "type": "object"
    },
    "CloudRecommendationsRecommendersDatabasesV1PlaybookLink": {
      "id": "CloudRecommendationsRecommendersDatabasesV1PlaybookLink",
      "type": "object",
      "properties": {
        "label": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "STRING_KEY_UNSPECIFIED",
            "STRING_KEY_VIEW_INSTANCE_CTA",
            "STRING_KEY_EDIT_INSTANCE",
            "STRING_KEY_EDIT_USERS",
            "STRING_KEY_MYSQL_FLAG_DEFAULT_AUTHENTICATION_PLUGIN",
            "STRING_KEY_PG_FLAG_PASSWORD_ENCRYPTION",
            "STRING_KEY_ENABLE_USER_PASSWORD_POLICIES",
            "STRING_KEY_CONFIGURE_AUTHENTICATION",
            "STRING_KEY_CONFIGURE_DATABASE_FLAGS",
            "STRING_KEY_AVERAGE_CPU_USAGE",
            "STRING_KEY_OBSERVATION_TIME",
            "STRING_KEY_CONFIGURE_AUTOSCALING",
            "STRING_KEY_VIEW_CLUSTER_CTA",
            "STRING_KEY_EDIT_DISASTER_RECOVERY_SETTINGS",
            "STRING_KEY_ENABLE_SCHEDULED_BACKUPS",
            "STRING_KEY_ENABLE_POINT_IN_TIME_RECOVERY",
            "STRING_KEY_SCHEDULED_BACKUPS_ENABLEMENT",
            "STRING_KEY_PITR_ENABLEMENT",
            "STRING_KEY_INSECURE_RULES_DETECTED",
            "STRING_KEY_EXPIRING_RULES_DETECTED",
            "STRING_KEY_FIX_INSECURE_AND_EXPIRING_RULES",
            "STRING_KEY_EDIT_FIREBASE_RULES",
            "STRING_KEY_MAXIMUM_OF_PREDICTED_DISK_USAGE_FOR_THE_NEXT_7_DAYS",
            "STRING_KEY_STORAGE_CAPACITY_OF_THE_CLUSTER",
            "STRING_KEY_PER_NODE_STORAGE_CAPACITY_OF_THE_CLUSTER",
            "STRING_KEY_CURRENT_AUTOSCALING_MIN_NODE_COUNT",
            "STRING_KEY_CURRENT_AUTOSCALING_MAX_NODE_COUNT",
            "STRING_KEY_ABOUT_MAINTENANCE",
            "STRING_KEY_ABOUT_SCALING_UP",
            "STRING_KEY_CURRENT_MEMORY_SIZE_GB",
            "STRING_KEY_RECOMMENDED_MEMORY_SIZE_GB",
            "STRING_KEY_PEAK_MEMORY_USAGE_RATIO",
            "STRING_KEY_RECOMMENDED_AUTOSCALING_MIN_NODE_COUNT",
            "STRING_KEY_RECOMMENDED_AUTOSCALING_MAX_NODE_COUNT",
            "STRING_KEY_CURRENT_STORAGE_USED_BYTES_OF_THE_CLUSTER",
            "STRING_KEY_ABOUT_SCALING_OUT",
            "STRING_KEY_PEAK_MEMORY_USAGE_RATIO_ACROSS_SHARDS",
            "STRING_KEY_CURRENT_NUMBER_OF_SHARDS",
            "STRING_KEY_RECOMMENDED_NUMBER_OF_SHARDS",
            "STRING_KEY_ABOUT_AVOIDING_EXPENSIVE_COMMANDS",
            "STRING_KEY_EXPENSIVE_COMMANDS",
            "STRING_KEY_UPGRADE_TO_ENTERPRISE_PLUS_EDITION",
            "STRING_KEY_ENABLE_DATA_CACHE",
            "STRING_KEY_OBSERVATION_PERIOD",
            "STRING_KEY_LAST_DEFERRED_MAINTENANCE_OPERATION_TIME",
            "STRING_KEY_LAST_INSTANCE_MAINTENANCE_EVENT",
            "STRING_KEY_USE_AUTO_MSM",
            "STRING_KEY_CURRENT_MAX_SERVER_MEMORY_MB",
            "STRING_KEY_AUTOSCALING_CONFIGURATION",
            "STRING_KEY_SCALING_DOCS",
            "STRING_KEY_MODIFY_INSTANCE",
            "STRING_KEY_HOTSPOTS_AFFECTED_TABLES",
            "STRING_KEY_HOT_TABLETS_DOCS",
            "STRING_KEY_KEY_VISUALIZER_DOCS",
            "STRING_KEY_BIGTABLE_PERFORMANCE_DOCS",
            "STRING_KEY_VIEW_USERS",
            "STRING_KEY_SPANNER_PREVENT_ACCIDENTAL_DELETION_DOCS",
            "STRING_KEY_SPANNER_ENABLE_DATABASE_DELETION_PROTECTION_DOCS",
            "STRING_KEY_SPANNER_BACKUPS_DOCS",
            "STRING_KEY_SPANNER_CREATE_BACKUP_DOCS",
            "STRING_KEY_SPANNER_CREATE_BACKUP_SCHEDULES_DOCS",
            "STRING_KEY_SPANNER_PANTHEON_INSTANCE",
            "STRING_KEY_SPANNER_PANTHEON_INSTANCE_BACKUPS",
            "STRING_KEY_SPANNER_AFFECTED_DATABASES",
            "STRING_KEY_SPANNER_PANTHEON_BACKUP_SETTINGS",
            "STRING_KEY_CLOUD_SQL_EDITIONS",
            "STRING_KEY_ALLOYDB_ENABLE_HA_DOCS",
            "STRING_KEY_ALLOYDB_CONFIGURE_BACKUP_POLICY_DOCS",
            "STRING_KEY_VIEW_BACKUP_POLICY_CTA",
            "STRING_KEY_ALLOYDB_BACKUP_COUNT",
            "STRING_KEY_ALLOYDB_BACKUP_POLICY_TYPE",
            "STRING_KEY_DATA_CACHE",
            "STRING_KEY_BACKUP_AND_RESTORE_DATA",
            "STRING_KEY_POINT_IN_TIME_RECOVERY",
            "STRING_KEY_EDIT_BACKUP_SETTINGS",
            "STRING_KEY_GO_TO_RESOURCE",
            "STRING_KEY_OBSERVATION_START",
            "STRING_KEY_OBSERVATION_END",
            "STRING_KEY_STORAGE_UTILIZATION_RATIO",
            "STRING_KEY_CURRENT_AUTOSCALING_NODE_COUNT",
            "STRING_KEY_RECOMMENDED_AUTOSCALING_NODE_COUNT",
            "STRING_KEY_RECOMMENDED_MAINTENANCE_WINDOW",
            "STRING_KEY_FIND_AND_SET_MAINTENANCE_WINDOWS",
            "STRING_KEY_MAXMEMORY_POLICY",
            "STRING_KEY_SYSTEM_MEMORY_USAGE_RATIO",
            "STRING_KEY_FAILED_SNAPSHOTS",
            "STRING_KEY_EXPIRABLE_KEYS_PERCENTAGE",
            "STRING_KEY_OOM_COUNT",
            "STRING_KEY_EDIT_RESOURCE_CTA",
            "STRING_KEY_MEMORYSTORE_MEMORY_MANAGEMENT_BEST_PRACTICES",
            "STRING_KEY_MEMORYSTORE_REDIS_CRASHES",
            "STRING_KEY_BIGTABLE_MIN_NUMBER_OF_NODES_FOR_CUD",
            "STRING_KEY_BIGTABLE_AVERAGE_CLUSTER_NODE_COUNT",
            "STRING_KEY_BIGTABLE_CUD_DOCS",
            "STRING_KEY_SPANNER_MITIGATE_CMEK_ORG_POLICY_VIOLATION_DOCS",
            "STRING_KEY_SPANNER_MITIGATE_DRZ_ORG_POLICY_VIOLATION_DOCS",
            "STRING_KEY_ALLOYDB_RECOMMENDED_BACKUP_COUNT",
            "STRING_KEY_SQLSERVER_BEST_PRACTICES_GLOBAL",
            "STRING_KEY_SQLSERVER_SERVER_MEMORY_CONFIGURATION",
            "STRING_KEY_INSECURE_RULES_AUTHENTICATION",
            "STRING_KEY_KEY_VISUALIZER_CTA",
            "STRING_KEY_SPANNER_SCHEMA",
            "STRING_KEY_SPANNER_SCHEMA_BEST_PRACTICES",
            "STRING_KEY_SPANNER_MANAGE_DATA_USING_CONSOLE",
            "STRING_KEY_SPANNER_MIGRATE_YOUR_DATA",
            "STRING_KEY_SPANNER_MAKE_SCHEMA_UPDATE",
            "STRING_KEY_SPANNER_QUOTA_AND_LIMITS_TABLES",
            "STRING_KEY_SPANNER_PROTOCOL_BUFFER_LIMITATIONS",
            "STRING_KEY_SPANNER_QUERY_INSIGHTS",
            "STRING_KEY_SPANNER_USE_INDEX_ADVISOR",
            "STRING_KEY_SPANNER_SEARCH_INDEXES",
            "STRING_KEY_SPANNER_QUOTA_AND_LIMITS_INDEXES",
            "STRING_KEY_SPANNER_FOREIGN_KEYS",
            "STRING_KEY_SPANNER_CREATE_MANAGE_FOREIGN_KEY_RELATIONSHIPS",
            "STRING_KEY_SPANNER_IMPLEMENT_MULTI_TENANCY",
            "STRING_KEY_SPANNER_DATABASE_SPLITS",
            "STRING_KEY_SPANNER_CREATE_ALERTS_FOR_SPANNER_METRICS",
            "STRING_KEY_SPANNER_QUOTA_AND_LIMITS_SCHEMAS",
            "STRING_KEY_SPANNER_VIEW_OBJECT_CTA",
            "STRING_KEY_SPANNER_QUERY_INSIGHTS_CTA",
            "STRING_KEY_SPANNER_MONITORING_CTA",
            "STRING_KEY_BIGTABLE_CURRENT_CLIENT_LIBRARY_VERSION",
            "STRING_KEY_BIGTABLE_LATEST_CLIENT_LIBRARY_VERSION",
            "STRING_KEY_BIGTABLE_APP_PROFILE_IDS",
            "STRING_KEY_BIGTABLE_CLIENT_LIBRARY_LANGUAGE",
            "STRING_KEY_BIGTABLE_UPGRADING_CLIENTS",
            "STRING_KEY_BIGTABLE_REPLICATION_DELAY_TABLES",
            "STRING_KEY_BIGTABLE_REPLICATION_DELAY_DOCS",
            "STRING_KEY_BIGTABLE_CLIENT_LIBRARIES",
            "STRING_KEY_BIGTABLE_DATABOOST_DOCS",
            "STRING_KEY_INSTANCE_NAME",
            "STRING_KEY_APP_PROFILE_ID",
            "STRING_KEY_CREATE_APP_PROFILE_CTA",
            "STRING_KEY_BIGTABLE_DATABOOST_OVERVIEW_DOCS",
            "STRING_KEY_BIGTABLE_APP_PROFILES_DOCS",
            "STRING_KEY_THREAD_CACHE_SIZE_CURRENT_VALUE",
            "STRING_KEY_THREAD_CACHE_SIZE_RECOMMENDED_VALUE",
            "STRING_KEY_ENABLE_DATABASE_AUDITING",
            "STRING_KEY_JOIN_BUFFER_SIZE_CURRENT_VALUE",
            "STRING_KEY_JOIN_BUFFER_SIZE_RECOMMENDED_VALUE",
            "STRING_KEY_TABLE_OPEN_CACHE_CURRENT_VALUE",
            "STRING_KEY_TABLE_OPEN_CACHE_RECOMMENDED_VALUE",
            "STRING_KEY_NUMBER_OF_TABLES",
            "STRING_KEY_MYSQL_HIGH_NUMBER_OF_TABLES_PLAYBOOK",
            "STRING_KEY_TMP_TABLE_SIZE_CURRENT_VALUE",
            "STRING_KEY_TMP_TABLE_SIZE_RECOMMENDED_VALUE",
            "STRING_KEY_MAX_HEAP_TABLE_SIZE_CURRENT_VALUE",
            "STRING_KEY_MAX_HEAP_TABLE_SIZE_RECOMMENDED_VALUE",
            "STRING_KEY_BINLOG_CACHE_SIZE_CURRENT_VALUE",
            "STRING_KEY_BINLOG_CACHE_SIZE_RECOMMENDED_VALUE",
            "STRING_KEY_BINLOG_STMT_CACHE_SIZE_CURRENT_VALUE",
            "STRING_KEY_BINLOG_STMT_CACHE_SIZE_RECOMMENDED_VALUE",
            "STRING_KEY_INNODB_LOG_BUFFER_SIZE_CURRENT_VALUE",
            "STRING_KEY_INNODB_LOG_BUFFER_SIZE_RECOMMENDED_VALUE",
            "STRING_KEY_TRANSACTION_ID_UTILIZATION_PERCENTAGE",
            "STRING_KEY_DAYS_TO_WRAPAROUND",
            "STRING_KEY_PG_TRANSACTION_ID_UTILIZATION_PLAYBOOK",
            "STRING_KEY_MAX_CPU_UTILIZATION",
            "STRING_KEY_MAX_MEMORY_UTILIZATION",
            "STRING_KEY_DISK_USAGE_BYTES_CHANGE",
            "STRING_KEY_MAX_DISK_READ_OPS_COUNT",
            "STRING_KEY_MAX_DISK_WRITE_OPS_COUNT",
            "STRING_KEY_SQL_IDLE_PLAYBOOK",
            "STRING_KEY_CURRENT_STORAGE_USAGE",
            "STRING_KEY_CURRENT_STORAGE_LIMIT",
            "STRING_KEY_ESTIMATED_STORAGE_RUN_OUT_PERIOD",
            "STRING_KEY_CURRENT_MACHINE_TYPE",
            "STRING_KEY_RECOMMENDED_MACHINE_TYPE",
            "STRING_KEY_CURRENT_CORES",
            "STRING_KEY_RECOMMENDED_CORES",
            "STRING_KEY_REVIEW_ORG_POLICY",
            "STRING_KEY_USE_AUTH_PROXY_OR_CONNECTORS",
            "STRING_KEY_REMOVE_AUTHORIZED_NETWORKS",
            "STRING_KEY_ROTATE_SERVER_CERTIFICATE",
            "STRING_KEY_MANAGE_SERVER_CERTIFICATES",
            "STRING_KEY_PUBLIC_IP_ENABLED",
            "STRING_KEY_PRIVATE_IP_ENABLED",
            "STRING_KEY_CONFIGURE_PRIVATE_IP",
            "STRING_KEY_DISABLE_PUBLIC_IP",
            "STRING_KEY_CPU_UTILIZATION_OUT_OF_SLA",
            "STRING_KEY_CPU_UTILIZATION_OUT_OF_SLA_LATEST_TIMESTAMP",
            "STRING_KEY_MEMORY_UTILIZATION_OUT_OF_SLA",
            "STRING_KEY_MEMORY_UTILIZATION_OUT_OF_SLA_LATEST_TIMESTAMP",
            "STRING_KEY_ESTIMATED_OOM_PROBABILITY",
            "STRING_KEY_MAX_CONNECTIONS_CURRENT_VALUE",
            "STRING_KEY_MAX_CONNECTIONS_RECOMMENDED_VALUE"
          ],
          "description": "Enum used to map to the string to be shown in the UI for the link."
        },
        "link": {
          "type": "string"
        }
      }
    },
    "GoogleCloudRecommenderV1beta1InsightRecommendationReference": {
      "type": "object",
      "description": "Reference to an associated recommendation.",
      "properties": {
        "recommendation": {
          "description": "Recommendation resource name, e.g. projects/[PROJECT_NUMBER]/locations/[LOCATION]/recommenders/[RECOMMENDER_ID]/recommendations/[RECOMMENDATION_ID]",
          "type": "string"
        }
      },
      "id": "GoogleCloudRecommenderV1beta1InsightRecommendationReference"
    },
    "GoogleCloudRecommenderV1beta1SecurityProjection": {
      "id": "GoogleCloudRecommenderV1beta1SecurityProjection",
      "description": "Contains various ways of describing the impact on Security.",
      "type": "object",
      "properties": {
        "details": {
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "description": "This field can be used by the recommender to define details specific to security impact."
        }
      }
    },
    "GoogleCloudRecommenderV1beta1ReliabilityProjection": {
      "properties": {
        "risks": {
          "type": "array",
          "description": "Reliability risks mitigated by this recommendation.",
          "items": {
            "enumDescriptions": [
              "Default unspecified risk. Don't use directly.",
              "Potential service downtime.",
              "Potential data loss.",
              "Potential access denial. The service is still up but some or all clients can't access it."
            ],
            "type": "string",
            "enum": [
              "RISK_TYPE_UNSPECIFIED",
              "SERVICE_DISRUPTION",
              "DATA_LOSS",
              "ACCESS_DENY"
            ]
          }
        },
        "details": {
          "description": "Per-recommender projection.",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "type": "object"
        }
      },
      "id": "GoogleCloudRecommenderV1beta1ReliabilityProjection",
      "type": "object",
      "description": "Contains information on the impact of a reliability recommendation."
    },
    "GoogleCloudRecommenderV1beta1MarkRecommendationDismissedRequest": {
      "type": "object",
      "properties": {
        "etag": {
          "type": "string",
          "description": "Fingerprint of the Recommendation. Provides optimistic locking."
        }
      },
      "description": "Request for the `MarkRecommendationDismissed` Method.",
      "id": "GoogleCloudRecommenderV1beta1MarkRecommendationDismissedRequest"
    },
    "CloudRecommendationsRecommendersDatabasesV1ContentChunk": {
      "properties": {
        "table": {
          "$ref": "CloudRecommendationsRecommendersDatabasesV1Table",
          "description": "Table with headers and rows content for the content chunk."
        }
      },
      "id": "CloudRecommendationsRecommendersDatabasesV1ContentChunk",
      "type": "object"
    },
    "CloudRecommendationsRecommendersDatabasesV1Link": {
      "type": "object",
      "id": "CloudRecommendationsRecommendersDatabasesV1Link",
      "properties": {
        "label": {
          "type": "string",
          "description": "String label for the link. This value is not translated"
        },
        "resourceName": {
          "type": "string",
          "description": "Resource name for the table cell. This is used to construct the link."
        },
        "redirectPage": {
          "type": "string",
          "enum": [
            "REDIRECT_PAGE_UNSPECIFIED",
            "REDIRECT_PAGE_CUSTOM_URL",
            "REDIRECT_PAGE_RESOURCE_OVERVIEW",
            "REDIRECT_PAGE_EDIT_RESOURCE",
            "REDIRECT_PAGE_BACKUPS",
            "REDIRECT_PAGE_USERS",
            "REDIRECT_PAGE_SECURITY_RULES",
            "REDIRECT_PAGE_KEY_VISUALIZER",
            "REDIRECT_PAGE_SYSTEM_INSIGHTS",
            "REDIRECT_PAGE_CONNECTIONS",
            "REDIRECT_PAGE_CONNECTIONS_SECURITY"
          ],
          "enumDescriptions": [
            "",
            "Use this option to provide a custom URL for the CTA button. For issues using this option, the custom URL specific to the issue is to be defined in the UI.",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "description": "Enum used to map to the redirect page for the link."
        }
      }
    },
    "GoogleCloudRecommenderV1beta1ListRecommendersResponse": {
      "id": "GoogleCloudRecommenderV1beta1ListRecommendersResponse",
      "properties": {
        "recommenders": {
          "type": "array",
          "description": "The set of recommenders available",
          "items": {
            "$ref": "GoogleCloudRecommenderV1beta1RecommenderType"
          }
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      },
      "description": "Response for the `ListRecommender` method. Next ID: 3",
      "type": "object"
    },
    "GoogleCloudRecommenderV1beta1RecommenderGenerationConfig": {
      "description": "A Configuration to customize the generation of recommendations. Eg, customizing the lookback period considered when generating a recommendation.",
      "type": "object",
      "id": "GoogleCloudRecommenderV1beta1RecommenderGenerationConfig",
      "properties": {
        "params": {
          "description": "Parameters for this RecommenderGenerationConfig. These configs can be used by or are applied to all subtypes.",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "type": "object"
        }
      }
    },
    "GoogleCloudRecommenderV1beta1OperationGroup": {
      "type": "object",
      "description": "Group of operations that need to be performed atomically.",
      "id": "GoogleCloudRecommenderV1beta1OperationGroup",
      "properties": {
        "operations": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudRecommenderV1beta1Operation"
          },
          "description": "List of operations across one or more resources that belong to this group. Loosely based on RFC6902 and should be performed in the order they appear."
        }
      }
    },
    "GoogleCloudRecommenderV1beta1Operation": {
      "type": "object",
      "description": "Contains an operation for a resource loosely based on the JSON-PATCH format with support for: * Custom filters for describing partial array patch. * Extended path values for describing nested arrays. * Custom fields for describing the resource for which the operation is being described. * Allows extension to custom operations not natively supported by RFC6902. See https://tools.ietf.org/html/rfc6902 for details on the original RFC.",
      "id": "GoogleCloudRecommenderV1beta1Operation",
      "properties": {
        "sourceResource": {
          "description": "Can be set with action 'copy' to copy resource configuration across different resources of the same type. Example: A resource clone can be done via action = 'copy', path = \"/\", from = \"/\", source_resource = and resource_name = . This field is empty for all other values of `action`.",
          "type": "string"
        },
        "valueMatcher": {
          "description": "Can be set for action 'test' for advanced matching for the value of 'path' field. Either this or `value` will be set for 'test' operation.",
          "$ref": "GoogleCloudRecommenderV1beta1ValueMatcher"
        },
        "resource": {
          "description": "Contains the fully qualified resource name. This field is always populated. ex: //cloudresourcemanager.googleapis.com/projects/foo.",
          "type": "string"
        },
        "action": {
          "description": "Type of this operation. Contains one of 'add', 'remove', 'replace', 'move', 'copy', 'test' and 'custom' operations. This field is case-insensitive and always populated.",
          "type": "string"
        },
        "resourceType": {
          "description": "Type of GCP resource being modified/tested. This field is always populated. Example: cloudresourcemanager.googleapis.com/Project, compute.googleapis.com/Instance",
          "type": "string"
        },
        "path": {
          "description": "Path to the target field being operated on. If the operation is at the resource level, then path should be \"/\". This field is always populated.",
          "type": "string"
        },
        "pathFilters": {
          "description": "Set of filters to apply if `path` refers to array elements or nested array elements in order to narrow down to a single unique element that is being tested/modified. This is intended to be an exact match per filter. To perform advanced matching, use path_value_matchers. * Example: ``` { \"/versions/*/name\" : \"it-123\" \"/versions/*/targetSize/percent\": 20 } ``` * Example: ``` { \"/bindings/*/role\": \"roles/owner\" \"/bindings/*/condition\" : null } ``` * Example: ``` { \"/bindings/*/role\": \"roles/owner\" \"/bindings/*/members/*\" : [\"x@example.com\", \"y@example.com\"] } ``` When both path_filters and path_value_matchers are set, an implicit AND must be performed.",
          "additionalProperties": {
            "type": "any"
          },
          "type": "object"
        },
        "sourcePath": {
          "description": "Can be set with action 'copy' or 'move' to indicate the source field within resource or source_resource, ignored if provided for other operation types.",
          "type": "string"
        },
        "value": {
          "type": "any",
          "description": "Value for the `path` field. Will be set for actions:'add'/'replace'. Maybe set for action: 'test'. Either this or `value_matcher` will be set for 'test' operation. An exact match must be performed."
        },
        "pathValueMatchers": {
          "additionalProperties": {
            "$ref": "GoogleCloudRecommenderV1beta1ValueMatcher"
          },
          "type": "object",
          "description": "Similar to path_filters, this contains set of filters to apply if `path` field refers to array elements. This is meant to support value matching beyond exact match. To perform exact match, use path_filters. When both path_filters and path_value_matchers are set, an implicit AND must be performed."
        }
      }
    },
    "GoogleCloudLocationLocation": {
      "properties": {
        "labels": {
          "description": "Cross-service attributes for the location. For example {\"cloud.googleapis.com/region\": \"us-east1\"}",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "name": {
          "type": "string",
          "description": "Resource name for the location, which may vary between implementations. For example: `\"projects/example-project/locations/us-east1\"`"
        },
        "metadata": {
          "description": "Service-specific metadata. For example the available capacity at the given location.",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "type": "object"
        },
        "locationId": {
          "description": "The canonical id for this location. For example: `\"us-east1\"`.",
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "description": "The friendly name for this location, typically a nearby city name. For example, \"Tokyo\"."
        }
      },
      "type": "object",
      "id": "GoogleCloudLocationLocation",
      "description": "A resource that represents a Google Cloud location."
    },
    "CloudRecommendationsRecommendersDatabasesV1Table": {
      "description": "Field for adding custom complex table",
      "type": "object",
      "id": "CloudRecommendationsRecommendersDatabasesV1Table",
      "properties": {
        "rows": {
          "description": "Rows for the table. Ensure that the order of the cells in the row matches the order of the headers.",
          "type": "array",
          "items": {
            "$ref": "CloudRecommendationsRecommendersDatabasesV1TableRow"
          }
        },
        "headers": {
          "description": "Headers for the table. IMPORTANT: Each header defines a column and its title. All Headers must be unique and shouldn't be used more than once within the same list.",
          "type": "array",
          "items": {
            "type": "string",
            "enum": [
              "STRING_KEY_UNSPECIFIED",
              "STRING_KEY_VIEW_INSTANCE_CTA",
              "STRING_KEY_EDIT_INSTANCE",
              "STRING_KEY_EDIT_USERS",
              "STRING_KEY_MYSQL_FLAG_DEFAULT_AUTHENTICATION_PLUGIN",
              "STRING_KEY_PG_FLAG_PASSWORD_ENCRYPTION",
              "STRING_KEY_ENABLE_USER_PASSWORD_POLICIES",
              "STRING_KEY_CONFIGURE_AUTHENTICATION",
              "STRING_KEY_CONFIGURE_DATABASE_FLAGS",
              "STRING_KEY_AVERAGE_CPU_USAGE",
              "STRING_KEY_OBSERVATION_TIME",
              "STRING_KEY_CONFIGURE_AUTOSCALING",
              "STRING_KEY_VIEW_CLUSTER_CTA",
              "STRING_KEY_EDIT_DISASTER_RECOVERY_SETTINGS",
              "STRING_KEY_ENABLE_SCHEDULED_BACKUPS",
              "STRING_KEY_ENABLE_POINT_IN_TIME_RECOVERY",
              "STRING_KEY_SCHEDULED_BACKUPS_ENABLEMENT",
              "STRING_KEY_PITR_ENABLEMENT",
              "STRING_KEY_INSECURE_RULES_DETECTED",
              "STRING_KEY_EXPIRING_RULES_DETECTED",
              "STRING_KEY_FIX_INSECURE_AND_EXPIRING_RULES",
              "STRING_KEY_EDIT_FIREBASE_RULES",
              "STRING_KEY_MAXIMUM_OF_PREDICTED_DISK_USAGE_FOR_THE_NEXT_7_DAYS",
              "STRING_KEY_STORAGE_CAPACITY_OF_THE_CLUSTER",
              "STRING_KEY_PER_NODE_STORAGE_CAPACITY_OF_THE_CLUSTER",
              "STRING_KEY_CURRENT_AUTOSCALING_MIN_NODE_COUNT",
              "STRING_KEY_CURRENT_AUTOSCALING_MAX_NODE_COUNT",
              "STRING_KEY_ABOUT_MAINTENANCE",
              "STRING_KEY_ABOUT_SCALING_UP",
              "STRING_KEY_CURRENT_MEMORY_SIZE_GB",
              "STRING_KEY_RECOMMENDED_MEMORY_SIZE_GB",
              "STRING_KEY_PEAK_MEMORY_USAGE_RATIO",
              "STRING_KEY_RECOMMENDED_AUTOSCALING_MIN_NODE_COUNT",
              "STRING_KEY_RECOMMENDED_AUTOSCALING_MAX_NODE_COUNT",
              "STRING_KEY_CURRENT_STORAGE_USED_BYTES_OF_THE_CLUSTER",
              "STRING_KEY_ABOUT_SCALING_OUT",
              "STRING_KEY_PEAK_MEMORY_USAGE_RATIO_ACROSS_SHARDS",
              "STRING_KEY_CURRENT_NUMBER_OF_SHARDS",
              "STRING_KEY_RECOMMENDED_NUMBER_OF_SHARDS",
              "STRING_KEY_ABOUT_AVOIDING_EXPENSIVE_COMMANDS",
              "STRING_KEY_EXPENSIVE_COMMANDS",
              "STRING_KEY_UPGRADE_TO_ENTERPRISE_PLUS_EDITION",
              "STRING_KEY_ENABLE_DATA_CACHE",
              "STRING_KEY_OBSERVATION_PERIOD",
              "STRING_KEY_LAST_DEFERRED_MAINTENANCE_OPERATION_TIME",
              "STRING_KEY_LAST_INSTANCE_MAINTENANCE_EVENT",
              "STRING_KEY_USE_AUTO_MSM",
              "STRING_KEY_CURRENT_MAX_SERVER_MEMORY_MB",
              "STRING_KEY_AUTOSCALING_CONFIGURATION",
              "STRING_KEY_SCALING_DOCS",
              "STRING_KEY_MODIFY_INSTANCE",
              "STRING_KEY_HOTSPOTS_AFFECTED_TABLES",
              "STRING_KEY_HOT_TABLETS_DOCS",
              "STRING_KEY_KEY_VISUALIZER_DOCS",
              "STRING_KEY_BIGTABLE_PERFORMANCE_DOCS",
              "STRING_KEY_VIEW_USERS",
              "STRING_KEY_SPANNER_PREVENT_ACCIDENTAL_DELETION_DOCS",
              "STRING_KEY_SPANNER_ENABLE_DATABASE_DELETION_PROTECTION_DOCS",
              "STRING_KEY_SPANNER_BACKUPS_DOCS",
              "STRING_KEY_SPANNER_CREATE_BACKUP_DOCS",
              "STRING_KEY_SPANNER_CREATE_BACKUP_SCHEDULES_DOCS",
              "STRING_KEY_SPANNER_PANTHEON_INSTANCE",
              "STRING_KEY_SPANNER_PANTHEON_INSTANCE_BACKUPS",
              "STRING_KEY_SPANNER_AFFECTED_DATABASES",
              "STRING_KEY_SPANNER_PANTHEON_BACKUP_SETTINGS",
              "STRING_KEY_CLOUD_SQL_EDITIONS",
              "STRING_KEY_ALLOYDB_ENABLE_HA_DOCS",
              "STRING_KEY_ALLOYDB_CONFIGURE_BACKUP_POLICY_DOCS",
              "STRING_KEY_VIEW_BACKUP_POLICY_CTA",
              "STRING_KEY_ALLOYDB_BACKUP_COUNT",
              "STRING_KEY_ALLOYDB_BACKUP_POLICY_TYPE",
              "STRING_KEY_DATA_CACHE",
              "STRING_KEY_BACKUP_AND_RESTORE_DATA",
              "STRING_KEY_POINT_IN_TIME_RECOVERY",
              "STRING_KEY_EDIT_BACKUP_SETTINGS",
              "STRING_KEY_GO_TO_RESOURCE",
              "STRING_KEY_OBSERVATION_START",
              "STRING_KEY_OBSERVATION_END",
              "STRING_KEY_STORAGE_UTILIZATION_RATIO",
              "STRING_KEY_CURRENT_AUTOSCALING_NODE_COUNT",
              "STRING_KEY_RECOMMENDED_AUTOSCALING_NODE_COUNT",
              "STRING_KEY_RECOMMENDED_MAINTENANCE_WINDOW",
              "STRING_KEY_FIND_AND_SET_MAINTENANCE_WINDOWS",
              "STRING_KEY_MAXMEMORY_POLICY",
              "STRING_KEY_SYSTEM_MEMORY_USAGE_RATIO",
              "STRING_KEY_FAILED_SNAPSHOTS",
              "STRING_KEY_EXPIRABLE_KEYS_PERCENTAGE",
              "STRING_KEY_OOM_COUNT",
              "STRING_KEY_EDIT_RESOURCE_CTA",
              "STRING_KEY_MEMORYSTORE_MEMORY_MANAGEMENT_BEST_PRACTICES",
              "STRING_KEY_MEMORYSTORE_REDIS_CRASHES",
              "STRING_KEY_BIGTABLE_MIN_NUMBER_OF_NODES_FOR_CUD",
              "STRING_KEY_BIGTABLE_AVERAGE_CLUSTER_NODE_COUNT",
              "STRING_KEY_BIGTABLE_CUD_DOCS",
              "STRING_KEY_SPANNER_MITIGATE_CMEK_ORG_POLICY_VIOLATION_DOCS",
              "STRING_KEY_SPANNER_MITIGATE_DRZ_ORG_POLICY_VIOLATION_DOCS",
              "STRING_KEY_ALLOYDB_RECOMMENDED_BACKUP_COUNT",
              "STRING_KEY_SQLSERVER_BEST_PRACTICES_GLOBAL",
              "STRING_KEY_SQLSERVER_SERVER_MEMORY_CONFIGURATION",
              "STRING_KEY_INSECURE_RULES_AUTHENTICATION",
              "STRING_KEY_KEY_VISUALIZER_CTA",
              "STRING_KEY_SPANNER_SCHEMA",
              "STRING_KEY_SPANNER_SCHEMA_BEST_PRACTICES",
              "STRING_KEY_SPANNER_MANAGE_DATA_USING_CONSOLE",
              "STRING_KEY_SPANNER_MIGRATE_YOUR_DATA",
              "STRING_KEY_SPANNER_MAKE_SCHEMA_UPDATE",
              "STRING_KEY_SPANNER_QUOTA_AND_LIMITS_TABLES",
              "STRING_KEY_SPANNER_PROTOCOL_BUFFER_LIMITATIONS",
              "STRING_KEY_SPANNER_QUERY_INSIGHTS",
              "STRING_KEY_SPANNER_USE_INDEX_ADVISOR",
              "STRING_KEY_SPANNER_SEARCH_INDEXES",
              "STRING_KEY_SPANNER_QUOTA_AND_LIMITS_INDEXES",
              "STRING_KEY_SPANNER_FOREIGN_KEYS",
              "STRING_KEY_SPANNER_CREATE_MANAGE_FOREIGN_KEY_RELATIONSHIPS",
              "STRING_KEY_SPANNER_IMPLEMENT_MULTI_TENANCY",
              "STRING_KEY_SPANNER_DATABASE_SPLITS",
              "STRING_KEY_SPANNER_CREATE_ALERTS_FOR_SPANNER_METRICS",
              "STRING_KEY_SPANNER_QUOTA_AND_LIMITS_SCHEMAS",
              "STRING_KEY_SPANNER_VIEW_OBJECT_CTA",
              "STRING_KEY_SPANNER_QUERY_INSIGHTS_CTA",
              "STRING_KEY_SPANNER_MONITORING_CTA",
              "STRING_KEY_BIGTABLE_CURRENT_CLIENT_LIBRARY_VERSION",
              "STRING_KEY_BIGTABLE_LATEST_CLIENT_LIBRARY_VERSION",
              "STRING_KEY_BIGTABLE_APP_PROFILE_IDS",
              "STRING_KEY_BIGTABLE_CLIENT_LIBRARY_LANGUAGE",
              "STRING_KEY_BIGTABLE_UPGRADING_CLIENTS",
              "STRING_KEY_BIGTABLE_REPLICATION_DELAY_TABLES",
              "STRING_KEY_BIGTABLE_REPLICATION_DELAY_DOCS",
              "STRING_KEY_BIGTABLE_CLIENT_LIBRARIES",
              "STRING_KEY_BIGTABLE_DATABOOST_DOCS",
              "STRING_KEY_INSTANCE_NAME",
              "STRING_KEY_APP_PROFILE_ID",
              "STRING_KEY_CREATE_APP_PROFILE_CTA",
              "STRING_KEY_BIGTABLE_DATABOOST_OVERVIEW_DOCS",
              "STRING_KEY_BIGTABLE_APP_PROFILES_DOCS",
              "STRING_KEY_THREAD_CACHE_SIZE_CURRENT_VALUE",
              "STRING_KEY_THREAD_CACHE_SIZE_RECOMMENDED_VALUE",
              "STRING_KEY_ENABLE_DATABASE_AUDITING",
              "STRING_KEY_JOIN_BUFFER_SIZE_CURRENT_VALUE",
              "STRING_KEY_JOIN_BUFFER_SIZE_RECOMMENDED_VALUE",
              "STRING_KEY_TABLE_OPEN_CACHE_CURRENT_VALUE",
              "STRING_KEY_TABLE_OPEN_CACHE_RECOMMENDED_VALUE",
              "STRING_KEY_NUMBER_OF_TABLES",
              "STRING_KEY_MYSQL_HIGH_NUMBER_OF_TABLES_PLAYBOOK",
              "STRING_KEY_TMP_TABLE_SIZE_CURRENT_VALUE",
              "STRING_KEY_TMP_TABLE_SIZE_RECOMMENDED_VALUE",
              "STRING_KEY_MAX_HEAP_TABLE_SIZE_CURRENT_VALUE",
              "STRING_KEY_MAX_HEAP_TABLE_SIZE_RECOMMENDED_VALUE",
              "STRING_KEY_BINLOG_CACHE_SIZE_CURRENT_VALUE",
              "STRING_KEY_BINLOG_CACHE_SIZE_RECOMMENDED_VALUE",
              "STRING_KEY_BINLOG_STMT_CACHE_SIZE_CURRENT_VALUE",
              "STRING_KEY_BINLOG_STMT_CACHE_SIZE_RECOMMENDED_VALUE",
              "STRING_KEY_INNODB_LOG_BUFFER_SIZE_CURRENT_VALUE",
              "STRING_KEY_INNODB_LOG_BUFFER_SIZE_RECOMMENDED_VALUE",
              "STRING_KEY_TRANSACTION_ID_UTILIZATION_PERCENTAGE",
              "STRING_KEY_DAYS_TO_WRAPAROUND",
              "STRING_KEY_PG_TRANSACTION_ID_UTILIZATION_PLAYBOOK",
              "STRING_KEY_MAX_CPU_UTILIZATION",
              "STRING_KEY_MAX_MEMORY_UTILIZATION",
              "STRING_KEY_DISK_USAGE_BYTES_CHANGE",
              "STRING_KEY_MAX_DISK_READ_OPS_COUNT",
              "STRING_KEY_MAX_DISK_WRITE_OPS_COUNT",
              "STRING_KEY_SQL_IDLE_PLAYBOOK",
              "STRING_KEY_CURRENT_STORAGE_USAGE",
              "STRING_KEY_CURRENT_STORAGE_LIMIT",
              "STRING_KEY_ESTIMATED_STORAGE_RUN_OUT_PERIOD",
              "STRING_KEY_CURRENT_MACHINE_TYPE",
              "STRING_KEY_RECOMMENDED_MACHINE_TYPE",
              "STRING_KEY_CURRENT_CORES",
              "STRING_KEY_RECOMMENDED_CORES",
              "STRING_KEY_REVIEW_ORG_POLICY",
              "STRING_KEY_USE_AUTH_PROXY_OR_CONNECTORS",
              "STRING_KEY_REMOVE_AUTHORIZED_NETWORKS",
              "STRING_KEY_ROTATE_SERVER_CERTIFICATE",
              "STRING_KEY_MANAGE_SERVER_CERTIFICATES",
              "STRING_KEY_PUBLIC_IP_ENABLED",
              "STRING_KEY_PRIVATE_IP_ENABLED",
              "STRING_KEY_CONFIGURE_PRIVATE_IP",
              "STRING_KEY_DISABLE_PUBLIC_IP",
              "STRING_KEY_CPU_UTILIZATION_OUT_OF_SLA",
              "STRING_KEY_CPU_UTILIZATION_OUT_OF_SLA_LATEST_TIMESTAMP",
              "STRING_KEY_MEMORY_UTILIZATION_OUT_OF_SLA",
              "STRING_KEY_MEMORY_UTILIZATION_OUT_OF_SLA_LATEST_TIMESTAMP",
              "STRING_KEY_ESTIMATED_OOM_PROBABILITY",
              "STRING_KEY_MAX_CONNECTIONS_CURRENT_VALUE",
              "STRING_KEY_MAX_CONNECTIONS_RECOMMENDED_VALUE"
            ],
            "enumDescriptions": [
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              ""
            ]
          }
        }
      }
    },
    "CloudRecommendationsRecommendersDatabasesV1SimpleValue": {
      "type": "object",
      "properties": {
        "enumValue": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "STRING_KEY_UNSPECIFIED",
            "STRING_KEY_VIEW_INSTANCE_CTA",
            "STRING_KEY_EDIT_INSTANCE",
            "STRING_KEY_EDIT_USERS",
            "STRING_KEY_MYSQL_FLAG_DEFAULT_AUTHENTICATION_PLUGIN",
            "STRING_KEY_PG_FLAG_PASSWORD_ENCRYPTION",
            "STRING_KEY_ENABLE_USER_PASSWORD_POLICIES",
            "STRING_KEY_CONFIGURE_AUTHENTICATION",
            "STRING_KEY_CONFIGURE_DATABASE_FLAGS",
            "STRING_KEY_AVERAGE_CPU_USAGE",
            "STRING_KEY_OBSERVATION_TIME",
            "STRING_KEY_CONFIGURE_AUTOSCALING",
            "STRING_KEY_VIEW_CLUSTER_CTA",
            "STRING_KEY_EDIT_DISASTER_RECOVERY_SETTINGS",
            "STRING_KEY_ENABLE_SCHEDULED_BACKUPS",
            "STRING_KEY_ENABLE_POINT_IN_TIME_RECOVERY",
            "STRING_KEY_SCHEDULED_BACKUPS_ENABLEMENT",
            "STRING_KEY_PITR_ENABLEMENT",
            "STRING_KEY_INSECURE_RULES_DETECTED",
            "STRING_KEY_EXPIRING_RULES_DETECTED",
            "STRING_KEY_FIX_INSECURE_AND_EXPIRING_RULES",
            "STRING_KEY_EDIT_FIREBASE_RULES",
            "STRING_KEY_MAXIMUM_OF_PREDICTED_DISK_USAGE_FOR_THE_NEXT_7_DAYS",
            "STRING_KEY_STORAGE_CAPACITY_OF_THE_CLUSTER",
            "STRING_KEY_PER_NODE_STORAGE_CAPACITY_OF_THE_CLUSTER",
            "STRING_KEY_CURRENT_AUTOSCALING_MIN_NODE_COUNT",
            "STRING_KEY_CURRENT_AUTOSCALING_MAX_NODE_COUNT",
            "STRING_KEY_ABOUT_MAINTENANCE",
            "STRING_KEY_ABOUT_SCALING_UP",
            "STRING_KEY_CURRENT_MEMORY_SIZE_GB",
            "STRING_KEY_RECOMMENDED_MEMORY_SIZE_GB",
            "STRING_KEY_PEAK_MEMORY_USAGE_RATIO",
            "STRING_KEY_RECOMMENDED_AUTOSCALING_MIN_NODE_COUNT",
            "STRING_KEY_RECOMMENDED_AUTOSCALING_MAX_NODE_COUNT",
            "STRING_KEY_CURRENT_STORAGE_USED_BYTES_OF_THE_CLUSTER",
            "STRING_KEY_ABOUT_SCALING_OUT",
            "STRING_KEY_PEAK_MEMORY_USAGE_RATIO_ACROSS_SHARDS",
            "STRING_KEY_CURRENT_NUMBER_OF_SHARDS",
            "STRING_KEY_RECOMMENDED_NUMBER_OF_SHARDS",
            "STRING_KEY_ABOUT_AVOIDING_EXPENSIVE_COMMANDS",
            "STRING_KEY_EXPENSIVE_COMMANDS",
            "STRING_KEY_UPGRADE_TO_ENTERPRISE_PLUS_EDITION",
            "STRING_KEY_ENABLE_DATA_CACHE",
            "STRING_KEY_OBSERVATION_PERIOD",
            "STRING_KEY_LAST_DEFERRED_MAINTENANCE_OPERATION_TIME",
            "STRING_KEY_LAST_INSTANCE_MAINTENANCE_EVENT",
            "STRING_KEY_USE_AUTO_MSM",
            "STRING_KEY_CURRENT_MAX_SERVER_MEMORY_MB",
            "STRING_KEY_AUTOSCALING_CONFIGURATION",
            "STRING_KEY_SCALING_DOCS",
            "STRING_KEY_MODIFY_INSTANCE",
            "STRING_KEY_HOTSPOTS_AFFECTED_TABLES",
            "STRING_KEY_HOT_TABLETS_DOCS",
            "STRING_KEY_KEY_VISUALIZER_DOCS",
            "STRING_KEY_BIGTABLE_PERFORMANCE_DOCS",
            "STRING_KEY_VIEW_USERS",
            "STRING_KEY_SPANNER_PREVENT_ACCIDENTAL_DELETION_DOCS",
            "STRING_KEY_SPANNER_ENABLE_DATABASE_DELETION_PROTECTION_DOCS",
            "STRING_KEY_SPANNER_BACKUPS_DOCS",
            "STRING_KEY_SPANNER_CREATE_BACKUP_DOCS",
            "STRING_KEY_SPANNER_CREATE_BACKUP_SCHEDULES_DOCS",
            "STRING_KEY_SPANNER_PANTHEON_INSTANCE",
            "STRING_KEY_SPANNER_PANTHEON_INSTANCE_BACKUPS",
            "STRING_KEY_SPANNER_AFFECTED_DATABASES",
            "STRING_KEY_SPANNER_PANTHEON_BACKUP_SETTINGS",
            "STRING_KEY_CLOUD_SQL_EDITIONS",
            "STRING_KEY_ALLOYDB_ENABLE_HA_DOCS",
            "STRING_KEY_ALLOYDB_CONFIGURE_BACKUP_POLICY_DOCS",
            "STRING_KEY_VIEW_BACKUP_POLICY_CTA",
            "STRING_KEY_ALLOYDB_BACKUP_COUNT",
            "STRING_KEY_ALLOYDB_BACKUP_POLICY_TYPE",
            "STRING_KEY_DATA_CACHE",
            "STRING_KEY_BACKUP_AND_RESTORE_DATA",
            "STRING_KEY_POINT_IN_TIME_RECOVERY",
            "STRING_KEY_EDIT_BACKUP_SETTINGS",
            "STRING_KEY_GO_TO_RESOURCE",
            "STRING_KEY_OBSERVATION_START",
            "STRING_KEY_OBSERVATION_END",
            "STRING_KEY_STORAGE_UTILIZATION_RATIO",
            "STRING_KEY_CURRENT_AUTOSCALING_NODE_COUNT",
            "STRING_KEY_RECOMMENDED_AUTOSCALING_NODE_COUNT",
            "STRING_KEY_RECOMMENDED_MAINTENANCE_WINDOW",
            "STRING_KEY_FIND_AND_SET_MAINTENANCE_WINDOWS",
            "STRING_KEY_MAXMEMORY_POLICY",
            "STRING_KEY_SYSTEM_MEMORY_USAGE_RATIO",
            "STRING_KEY_FAILED_SNAPSHOTS",
            "STRING_KEY_EXPIRABLE_KEYS_PERCENTAGE",
            "STRING_KEY_OOM_COUNT",
            "STRING_KEY_EDIT_RESOURCE_CTA",
            "STRING_KEY_MEMORYSTORE_MEMORY_MANAGEMENT_BEST_PRACTICES",
            "STRING_KEY_MEMORYSTORE_REDIS_CRASHES",
            "STRING_KEY_BIGTABLE_MIN_NUMBER_OF_NODES_FOR_CUD",
            "STRING_KEY_BIGTABLE_AVERAGE_CLUSTER_NODE_COUNT",
            "STRING_KEY_BIGTABLE_CUD_DOCS",
            "STRING_KEY_SPANNER_MITIGATE_CMEK_ORG_POLICY_VIOLATION_DOCS",
            "STRING_KEY_SPANNER_MITIGATE_DRZ_ORG_POLICY_VIOLATION_DOCS",
            "STRING_KEY_ALLOYDB_RECOMMENDED_BACKUP_COUNT",
            "STRING_KEY_SQLSERVER_BEST_PRACTICES_GLOBAL",
            "STRING_KEY_SQLSERVER_SERVER_MEMORY_CONFIGURATION",
            "STRING_KEY_INSECURE_RULES_AUTHENTICATION",
            "STRING_KEY_KEY_VISUALIZER_CTA",
            "STRING_KEY_SPANNER_SCHEMA",
            "STRING_KEY_SPANNER_SCHEMA_BEST_PRACTICES",
            "STRING_KEY_SPANNER_MANAGE_DATA_USING_CONSOLE",
            "STRING_KEY_SPANNER_MIGRATE_YOUR_DATA",
            "STRING_KEY_SPANNER_MAKE_SCHEMA_UPDATE",
            "STRING_KEY_SPANNER_QUOTA_AND_LIMITS_TABLES",
            "STRING_KEY_SPANNER_PROTOCOL_BUFFER_LIMITATIONS",
            "STRING_KEY_SPANNER_QUERY_INSIGHTS",
            "STRING_KEY_SPANNER_USE_INDEX_ADVISOR",
            "STRING_KEY_SPANNER_SEARCH_INDEXES",
            "STRING_KEY_SPANNER_QUOTA_AND_LIMITS_INDEXES",
            "STRING_KEY_SPANNER_FOREIGN_KEYS",
            "STRING_KEY_SPANNER_CREATE_MANAGE_FOREIGN_KEY_RELATIONSHIPS",
            "STRING_KEY_SPANNER_IMPLEMENT_MULTI_TENANCY",
            "STRING_KEY_SPANNER_DATABASE_SPLITS",
            "STRING_KEY_SPANNER_CREATE_ALERTS_FOR_SPANNER_METRICS",
            "STRING_KEY_SPANNER_QUOTA_AND_LIMITS_SCHEMAS",
            "STRING_KEY_SPANNER_VIEW_OBJECT_CTA",
            "STRING_KEY_SPANNER_QUERY_INSIGHTS_CTA",
            "STRING_KEY_SPANNER_MONITORING_CTA",
            "STRING_KEY_BIGTABLE_CURRENT_CLIENT_LIBRARY_VERSION",
            "STRING_KEY_BIGTABLE_LATEST_CLIENT_LIBRARY_VERSION",
            "STRING_KEY_BIGTABLE_APP_PROFILE_IDS",
            "STRING_KEY_BIGTABLE_CLIENT_LIBRARY_LANGUAGE",
            "STRING_KEY_BIGTABLE_UPGRADING_CLIENTS",
            "STRING_KEY_BIGTABLE_REPLICATION_DELAY_TABLES",
            "STRING_KEY_BIGTABLE_REPLICATION_DELAY_DOCS",
            "STRING_KEY_BIGTABLE_CLIENT_LIBRARIES",
            "STRING_KEY_BIGTABLE_DATABOOST_DOCS",
            "STRING_KEY_INSTANCE_NAME",
            "STRING_KEY_APP_PROFILE_ID",
            "STRING_KEY_CREATE_APP_PROFILE_CTA",
            "STRING_KEY_BIGTABLE_DATABOOST_OVERVIEW_DOCS",
            "STRING_KEY_BIGTABLE_APP_PROFILES_DOCS",
            "STRING_KEY_THREAD_CACHE_SIZE_CURRENT_VALUE",
            "STRING_KEY_THREAD_CACHE_SIZE_RECOMMENDED_VALUE",
            "STRING_KEY_ENABLE_DATABASE_AUDITING",
            "STRING_KEY_JOIN_BUFFER_SIZE_CURRENT_VALUE",
            "STRING_KEY_JOIN_BUFFER_SIZE_RECOMMENDED_VALUE",
            "STRING_KEY_TABLE_OPEN_CACHE_CURRENT_VALUE",
            "STRING_KEY_TABLE_OPEN_CACHE_RECOMMENDED_VALUE",
            "STRING_KEY_NUMBER_OF_TABLES",
            "STRING_KEY_MYSQL_HIGH_NUMBER_OF_TABLES_PLAYBOOK",
            "STRING_KEY_TMP_TABLE_SIZE_CURRENT_VALUE",
            "STRING_KEY_TMP_TABLE_SIZE_RECOMMENDED_VALUE",
            "STRING_KEY_MAX_HEAP_TABLE_SIZE_CURRENT_VALUE",
            "STRING_KEY_MAX_HEAP_TABLE_SIZE_RECOMMENDED_VALUE",
            "STRING_KEY_BINLOG_CACHE_SIZE_CURRENT_VALUE",
            "STRING_KEY_BINLOG_CACHE_SIZE_RECOMMENDED_VALUE",
            "STRING_KEY_BINLOG_STMT_CACHE_SIZE_CURRENT_VALUE",
            "STRING_KEY_BINLOG_STMT_CACHE_SIZE_RECOMMENDED_VALUE",
            "STRING_KEY_INNODB_LOG_BUFFER_SIZE_CURRENT_VALUE",
            "STRING_KEY_INNODB_LOG_BUFFER_SIZE_RECOMMENDED_VALUE",
            "STRING_KEY_TRANSACTION_ID_UTILIZATION_PERCENTAGE",
            "STRING_KEY_DAYS_TO_WRAPAROUND",
            "STRING_KEY_PG_TRANSACTION_ID_UTILIZATION_PLAYBOOK",
            "STRING_KEY_MAX_CPU_UTILIZATION",
            "STRING_KEY_MAX_MEMORY_UTILIZATION",
            "STRING_KEY_DISK_USAGE_BYTES_CHANGE",
            "STRING_KEY_MAX_DISK_READ_OPS_COUNT",
            "STRING_KEY_MAX_DISK_WRITE_OPS_COUNT",
            "STRING_KEY_SQL_IDLE_PLAYBOOK",
            "STRING_KEY_CURRENT_STORAGE_USAGE",
            "STRING_KEY_CURRENT_STORAGE_LIMIT",
            "STRING_KEY_ESTIMATED_STORAGE_RUN_OUT_PERIOD",
            "STRING_KEY_CURRENT_MACHINE_TYPE",
            "STRING_KEY_RECOMMENDED_MACHINE_TYPE",
            "STRING_KEY_CURRENT_CORES",
            "STRING_KEY_RECOMMENDED_CORES",
            "STRING_KEY_REVIEW_ORG_POLICY",
            "STRING_KEY_USE_AUTH_PROXY_OR_CONNECTORS",
            "STRING_KEY_REMOVE_AUTHORIZED_NETWORKS",
            "STRING_KEY_ROTATE_SERVER_CERTIFICATE",
            "STRING_KEY_MANAGE_SERVER_CERTIFICATES",
            "STRING_KEY_PUBLIC_IP_ENABLED",
            "STRING_KEY_PRIVATE_IP_ENABLED",
            "STRING_KEY_CONFIGURE_PRIVATE_IP",
            "STRING_KEY_DISABLE_PUBLIC_IP",
            "STRING_KEY_CPU_UTILIZATION_OUT_OF_SLA",
            "STRING_KEY_CPU_UTILIZATION_OUT_OF_SLA_LATEST_TIMESTAMP",
            "STRING_KEY_MEMORY_UTILIZATION_OUT_OF_SLA",
            "STRING_KEY_MEMORY_UTILIZATION_OUT_OF_SLA_LATEST_TIMESTAMP",
            "STRING_KEY_ESTIMATED_OOM_PROBABILITY",
            "STRING_KEY_MAX_CONNECTIONS_CURRENT_VALUE",
            "STRING_KEY_MAX_CONNECTIONS_RECOMMENDED_VALUE"
          ],
          "description": "Enum value for the table cell. This should be used when value MUST be translated and represents common status/field like Enabled, Disabled, Success, Failure, etc."
        },
        "numberValue": {
          "description": "Number value for the table cell.",
          "type": "number",
          "format": "double"
        },
        "stringValue": {
          "description": "String value for the table cell. This should be used when value doesn't need to be translated.",
          "type": "string"
        },
        "timestampValue": {
          "description": "Timestamp value for the table cell.",
          "format": "google-datetime",
          "type": "string"
        },
        "linkValue": {
          "description": "Link value for the table cell.",
          "$ref": "CloudRecommendationsRecommendersDatabasesV1Link"
        }
      },
      "id": "CloudRecommendationsRecommendersDatabasesV1SimpleValue"
    },
    "GoogleCloudRecommenderV1beta1InsightStateInfo": {
      "description": "Information related to insight state.",
      "properties": {
        "state": {
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "ACCEPTED",
            "DISMISSED"
          ],
          "description": "Insight state.",
          "enumDescriptions": [
            "Unspecified state.",
            "Insight is active. Content for ACTIVE insights can be updated by Google. ACTIVE insights can be marked DISMISSED OR ACCEPTED.",
            "Some action has been taken based on this insight. Insights become accepted when a recommendation derived from the insight has been marked CLAIMED, SUCCEEDED, or FAILED. ACTIVE insights can also be marked ACCEPTED explicitly. Content for ACCEPTED insights is immutable. ACCEPTED insights can only be marked ACCEPTED (which may update state metadata).",
            "Insight is dismissed. Content for DISMISSED insights can be updated by Google. DISMISSED insights can be marked as ACTIVE."
          ]
        },
        "stateMetadata": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "A map of metadata for the state, provided by user or automations systems."
        }
      },
      "id": "GoogleCloudRecommenderV1beta1InsightStateInfo",
      "type": "object"
    },
    "GoogleCloudRecommenderV1beta1RecommendationStateInfo": {
      "properties": {
        "stateMetadata": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "A map of metadata for the state, provided by user or automations systems."
        },
        "state": {
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "CLAIMED",
            "SUCCEEDED",
            "FAILED",
            "DISMISSED"
          ],
          "enumDescriptions": [
            "Default state. Don't use directly.",
            "Recommendation is active and can be applied. Recommendations content can be updated by Google. ACTIVE recommendations can be marked as CLAIMED, SUCCEEDED, or FAILED.",
            "Recommendation is in claimed state. Recommendations content is immutable and cannot be updated by Google. CLAIMED recommendations can be marked as CLAIMED, SUCCEEDED, or FAILED.",
            "Recommendation is in succeeded state. Recommendations content is immutable and cannot be updated by Google. SUCCEEDED recommendations can be marked as SUCCEEDED, or FAILED.",
            "Recommendation is in failed state. Recommendations content is immutable and cannot be updated by Google. FAILED recommendations can be marked as SUCCEEDED, or FAILED.",
            "Recommendation is in dismissed state. Recommendation content can be updated by Google. DISMISSED recommendations can be marked as ACTIVE."
          ],
          "description": "The state of the recommendation, Eg ACTIVE, SUCCEEDED, FAILED."
        }
      },
      "id": "GoogleCloudRecommenderV1beta1RecommendationStateInfo",
      "type": "object",
      "description": "Information for state. Contains state and metadata."
    },
    "GoogleCloudRecommenderV1beta1Recommendation": {
      "description": "A recommendation along with a suggested action. E.g., a rightsizing recommendation for an underutilized VM, IAM role recommendations, etc",
      "properties": {
        "targetResources": {
          "items": {
            "type": "string"
          },
          "description": "Fully qualified resource names that this recommendation is targeting.",
          "type": "array"
        },
        "name": {
          "description": "Identifier. Name of recommendation.",
          "type": "string"
        },
        "description": {
          "description": "Free-form human readable summary in English. The maximum length is 500 characters.",
          "type": "string"
        },
        "lastRefreshTime": {
          "type": "string",
          "description": "Last time this recommendation was refreshed by the system that created it in the first place.",
          "format": "google-datetime"
        },
        "etag": {
          "type": "string",
          "description": "Fingerprint of the Recommendation. Provides optimistic locking when updating states."
        },
        "additionalImpact": {
          "description": "Optional set of additional impact that this recommendation may have when trying to optimize for the primary category. These may be positive or negative.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudRecommenderV1beta1Impact"
          }
        },
        "primaryImpact": {
          "$ref": "GoogleCloudRecommenderV1beta1Impact",
          "description": "The primary impact that this recommendation can have while trying to optimize for one category."
        },
        "stateInfo": {
          "description": "Information for state. Contains state and metadata.",
          "$ref": "GoogleCloudRecommenderV1beta1RecommendationStateInfo"
        },
        "recommenderSubtype": {
          "type": "string",
          "description": "Contains an identifier for a subtype of recommendations produced for the same recommender. Subtype is a function of content and impact, meaning a new subtype might be added when significant changes to `content` or `primary_impact.category` are introduced. See the Recommenders section to see a list of subtypes for a given Recommender. Examples: For recommender = \"google.iam.policy.Recommender\", recommender_subtype can be one of \"REMOVE_ROLE\"/\"REPLACE_ROLE\""
        },
        "content": {
          "description": "Content of the recommendation describing recommended changes to resources.",
          "$ref": "GoogleCloudRecommenderV1beta1RecommendationContent"
        },
        "priority": {
          "description": "Recommendation's priority.",
          "enumDescriptions": [
            "Recommendation has unspecified priority.",
            "Recommendation has P4 priority (lowest priority).",
            "Recommendation has P3 priority (second lowest priority).",
            "Recommendation has P2 priority (second highest priority).",
            "Recommendation has P1 priority (highest priority)."
          ],
          "type": "string",
          "enum": [
            "PRIORITY_UNSPECIFIED",
            "P4",
            "P3",
            "P2",
            "P1"
          ]
        },
        "associatedInsights": {
          "description": "Insights that led to this recommendation.",
          "items": {
            "$ref": "GoogleCloudRecommenderV1beta1RecommendationInsightReference"
          },
          "type": "array"
        },
        "xorGroupId": {
          "type": "string",
          "description": "Corresponds to a mutually exclusive group ID within a recommender. A non-empty ID indicates that the recommendation belongs to a mutually exclusive group. This means that only one recommendation within the group is suggested to be applied."
        }
      },
      "type": "object",
      "id": "GoogleCloudRecommenderV1beta1Recommendation"
    },
    "GoogleCloudRecommenderV1beta1InsightTypeConfig": {
      "type": "object",
      "properties": {
        "updateTime": {
          "description": "Last time when the config was updated.",
          "type": "string",
          "format": "google-datetime"
        },
        "insightTypeGenerationConfig": {
          "description": "InsightTypeGenerationConfig which configures the generation of insights for this insight type.",
          "$ref": "GoogleCloudRecommenderV1beta1InsightTypeGenerationConfig"
        },
        "annotations": {
          "description": "Allows clients to store small amounts of arbitrary data. Annotations must follow the Kubernetes syntax. The total size of all keys and values combined is limited to 256k. Key can have 2 segments: prefix (optional) and name (required), separated by a slash (/). Prefix must be a DNS subdomain. Name must be 63 characters or less, begin and end with alphanumerics, with dashes (-), underscores (_), dots (.), and alphanumerics between.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "name": {
          "type": "string",
          "description": "Identifier. Name of insight type config. Eg, projects/[PROJECT_NUMBER]/locations/[LOCATION]/insightTypes/[INSIGHT_TYPE_ID]/config"
        },
        "revisionId": {
          "description": "Output only. Immutable. The revision ID of the config. A new revision is committed whenever the config is changed in any way. The format is an 8-character hexadecimal string.",
          "type": "string",
          "readOnly": true
        },
        "displayName": {
          "type": "string",
          "description": "A user-settable field to provide a human-readable name to be used in user interfaces."
        },
        "etag": {
          "description": "Fingerprint of the InsightTypeConfig. Provides optimistic locking when updating.",
          "type": "string"
        }
      },
      "description": "Configuration for an InsightType.",
      "id": "GoogleCloudRecommenderV1beta1InsightTypeConfig"
    },
    "GoogleCloudRecommenderV1beta1RecommendationInsightReference": {
      "type": "object",
      "id": "GoogleCloudRecommenderV1beta1RecommendationInsightReference",
      "properties": {
        "insight": {
          "description": "Insight resource name, e.g. projects/[PROJECT_NUMBER]/locations/[LOCATION]/insightTypes/[INSIGHT_TYPE_ID]/insights/[INSIGHT_ID]",
          "type": "string"
        }
      },
      "description": "Reference to an associated insight."
    },
    "GoogleCloudRecommenderV1beta1RecommendationContent": {
      "description": "Contains what resources are changing and how they are changing.",
      "id": "GoogleCloudRecommenderV1beta1RecommendationContent",
      "properties": {
        "overview": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "description": "Condensed overview information about the recommendation.",
          "type": "object"
        },
        "operationGroups": {
          "type": "array",
          "description": "Operations to one or more Google Cloud resources grouped in such a way that, all operations within one group are expected to be performed atomically and in an order.",
          "items": {
            "$ref": "GoogleCloudRecommenderV1beta1OperationGroup"
          }
        }
      },
      "type": "object"
    },
    "GoogleCloudRecommenderV1beta1MarkInsightAcceptedRequest": {
      "id": "GoogleCloudRecommenderV1beta1MarkInsightAcceptedRequest",
      "properties": {
        "etag": {
          "type": "string",
          "description": "Required. Fingerprint of the Insight. Provides optimistic locking."
        },
        "stateMetadata": {
          "type": "object",
          "description": "Optional. State properties user wish to include with this state. Full replace of the current state_metadata.",
          "additionalProperties": {
            "type": "string"
          }
        }
      },
      "description": "Request for the `MarkInsightAccepted` method.",
      "type": "object"
    },
    "CloudRecommendationsRecommendersDatabasesV1CtaConfig": {
      "type": "object",
      "properties": {
        "label": {
          "description": "Enum used to map to the string to be shown in the UI for the button.",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "STRING_KEY_UNSPECIFIED",
            "STRING_KEY_VIEW_INSTANCE_CTA",
            "STRING_KEY_EDIT_INSTANCE",
            "STRING_KEY_EDIT_USERS",
            "STRING_KEY_MYSQL_FLAG_DEFAULT_AUTHENTICATION_PLUGIN",
            "STRING_KEY_PG_FLAG_PASSWORD_ENCRYPTION",
            "STRING_KEY_ENABLE_USER_PASSWORD_POLICIES",
            "STRING_KEY_CONFIGURE_AUTHENTICATION",
            "STRING_KEY_CONFIGURE_DATABASE_FLAGS",
            "STRING_KEY_AVERAGE_CPU_USAGE",
            "STRING_KEY_OBSERVATION_TIME",
            "STRING_KEY_CONFIGURE_AUTOSCALING",
            "STRING_KEY_VIEW_CLUSTER_CTA",
            "STRING_KEY_EDIT_DISASTER_RECOVERY_SETTINGS",
            "STRING_KEY_ENABLE_SCHEDULED_BACKUPS",
            "STRING_KEY_ENABLE_POINT_IN_TIME_RECOVERY",
            "STRING_KEY_SCHEDULED_BACKUPS_ENABLEMENT",
            "STRING_KEY_PITR_ENABLEMENT",
            "STRING_KEY_INSECURE_RULES_DETECTED",
            "STRING_KEY_EXPIRING_RULES_DETECTED",
            "STRING_KEY_FIX_INSECURE_AND_EXPIRING_RULES",
            "STRING_KEY_EDIT_FIREBASE_RULES",
            "STRING_KEY_MAXIMUM_OF_PREDICTED_DISK_USAGE_FOR_THE_NEXT_7_DAYS",
            "STRING_KEY_STORAGE_CAPACITY_OF_THE_CLUSTER",
            "STRING_KEY_PER_NODE_STORAGE_CAPACITY_OF_THE_CLUSTER",
            "STRING_KEY_CURRENT_AUTOSCALING_MIN_NODE_COUNT",
            "STRING_KEY_CURRENT_AUTOSCALING_MAX_NODE_COUNT",
            "STRING_KEY_ABOUT_MAINTENANCE",
            "STRING_KEY_ABOUT_SCALING_UP",
            "STRING_KEY_CURRENT_MEMORY_SIZE_GB",
            "STRING_KEY_RECOMMENDED_MEMORY_SIZE_GB",
            "STRING_KEY_PEAK_MEMORY_USAGE_RATIO",
            "STRING_KEY_RECOMMENDED_AUTOSCALING_MIN_NODE_COUNT",
            "STRING_KEY_RECOMMENDED_AUTOSCALING_MAX_NODE_COUNT",
            "STRING_KEY_CURRENT_STORAGE_USED_BYTES_OF_THE_CLUSTER",
            "STRING_KEY_ABOUT_SCALING_OUT",
            "STRING_KEY_PEAK_MEMORY_USAGE_RATIO_ACROSS_SHARDS",
            "STRING_KEY_CURRENT_NUMBER_OF_SHARDS",
            "STRING_KEY_RECOMMENDED_NUMBER_OF_SHARDS",
            "STRING_KEY_ABOUT_AVOIDING_EXPENSIVE_COMMANDS",
            "STRING_KEY_EXPENSIVE_COMMANDS",
            "STRING_KEY_UPGRADE_TO_ENTERPRISE_PLUS_EDITION",
            "STRING_KEY_ENABLE_DATA_CACHE",
            "STRING_KEY_OBSERVATION_PERIOD",
            "STRING_KEY_LAST_DEFERRED_MAINTENANCE_OPERATION_TIME",
            "STRING_KEY_LAST_INSTANCE_MAINTENANCE_EVENT",
            "STRING_KEY_USE_AUTO_MSM",
            "STRING_KEY_CURRENT_MAX_SERVER_MEMORY_MB",
            "STRING_KEY_AUTOSCALING_CONFIGURATION",
            "STRING_KEY_SCALING_DOCS",
            "STRING_KEY_MODIFY_INSTANCE",
            "STRING_KEY_HOTSPOTS_AFFECTED_TABLES",
            "STRING_KEY_HOT_TABLETS_DOCS",
            "STRING_KEY_KEY_VISUALIZER_DOCS",
            "STRING_KEY_BIGTABLE_PERFORMANCE_DOCS",
            "STRING_KEY_VIEW_USERS",
            "STRING_KEY_SPANNER_PREVENT_ACCIDENTAL_DELETION_DOCS",
            "STRING_KEY_SPANNER_ENABLE_DATABASE_DELETION_PROTECTION_DOCS",
            "STRING_KEY_SPANNER_BACKUPS_DOCS",
            "STRING_KEY_SPANNER_CREATE_BACKUP_DOCS",
            "STRING_KEY_SPANNER_CREATE_BACKUP_SCHEDULES_DOCS",
            "STRING_KEY_SPANNER_PANTHEON_INSTANCE",
            "STRING_KEY_SPANNER_PANTHEON_INSTANCE_BACKUPS",
            "STRING_KEY_SPANNER_AFFECTED_DATABASES",
            "STRING_KEY_SPANNER_PANTHEON_BACKUP_SETTINGS",
            "STRING_KEY_CLOUD_SQL_EDITIONS",
            "STRING_KEY_ALLOYDB_ENABLE_HA_DOCS",
            "STRING_KEY_ALLOYDB_CONFIGURE_BACKUP_POLICY_DOCS",
            "STRING_KEY_VIEW_BACKUP_POLICY_CTA",
            "STRING_KEY_ALLOYDB_BACKUP_COUNT",
            "STRING_KEY_ALLOYDB_BACKUP_POLICY_TYPE",
            "STRING_KEY_DATA_CACHE",
            "STRING_KEY_BACKUP_AND_RESTORE_DATA",
            "STRING_KEY_POINT_IN_TIME_RECOVERY",
            "STRING_KEY_EDIT_BACKUP_SETTINGS",
            "STRING_KEY_GO_TO_RESOURCE",
            "STRING_KEY_OBSERVATION_START",
            "STRING_KEY_OBSERVATION_END",
            "STRING_KEY_STORAGE_UTILIZATION_RATIO",
            "STRING_KEY_CURRENT_AUTOSCALING_NODE_COUNT",
            "STRING_KEY_RECOMMENDED_AUTOSCALING_NODE_COUNT",
            "STRING_KEY_RECOMMENDED_MAINTENANCE_WINDOW",
            "STRING_KEY_FIND_AND_SET_MAINTENANCE_WINDOWS",
            "STRING_KEY_MAXMEMORY_POLICY",
            "STRING_KEY_SYSTEM_MEMORY_USAGE_RATIO",
            "STRING_KEY_FAILED_SNAPSHOTS",
            "STRING_KEY_EXPIRABLE_KEYS_PERCENTAGE",
            "STRING_KEY_OOM_COUNT",
            "STRING_KEY_EDIT_RESOURCE_CTA",
            "STRING_KEY_MEMORYSTORE_MEMORY_MANAGEMENT_BEST_PRACTICES",
            "STRING_KEY_MEMORYSTORE_REDIS_CRASHES",
            "STRING_KEY_BIGTABLE_MIN_NUMBER_OF_NODES_FOR_CUD",
            "STRING_KEY_BIGTABLE_AVERAGE_CLUSTER_NODE_COUNT",
            "STRING_KEY_BIGTABLE_CUD_DOCS",
            "STRING_KEY_SPANNER_MITIGATE_CMEK_ORG_POLICY_VIOLATION_DOCS",
            "STRING_KEY_SPANNER_MITIGATE_DRZ_ORG_POLICY_VIOLATION_DOCS",
            "STRING_KEY_ALLOYDB_RECOMMENDED_BACKUP_COUNT",
            "STRING_KEY_SQLSERVER_BEST_PRACTICES_GLOBAL",
[...]
