{
  "discoveryVersion": "v1",
  "kind": "discovery#restDescription",
  "ownerDomain": "google.com",
  "version_module": true,
  "ownerName": "Google",
  "protocol": "rest",
  "documentationLink": "https://cloud.google.com/recommender/docs/",
  "id": "recommender:v1",
  "servicePath": "",
  "baseUrl": "https://recommender.googleapis.com/",
  "description": "",
  "batchPath": "batch",
  "rootUrl": "https://recommender.googleapis.com/",
  "canonicalName": "Recommender",
  "basePath": "",
  "schemas": {
    "CloudRecommendationsRecommendersDatabasesV1Description": {
      "id": "CloudRecommendationsRecommendersDatabasesV1Description",
      "type": "object",
      "properties": {
        "descriptionEnum": {
          "type": "string",
          "enum": [
            "DESC_ENUM_UNSPECIFIED"
          ],
          "enumDescriptions": [
            ""
          ],
          "description": "Enum used to map to the html template to be shown in the UI."
        }
      }
    },
    "CloudRecommendationsRecommendersDatabasesV1TableRow": {
      "description": "Table row for a table",
      "id": "CloudRecommendationsRecommendersDatabasesV1TableRow",
      "type": "object",
      "properties": {
        "cells": {
          "type": "array",
          "items": {
            "$ref": "CloudRecommendationsRecommendersDatabasesV1SimpleValue"
          },
          "description": "Table cells for the table row."
        }
      }
    },
    "CloudRecommendationsRecommendersDatabasesV1Link": {
      "type": "object",
      "properties": {
        "redirectPage": {
          "enumDescriptions": [
            "",
            "Use this option to provide a custom URL for the CTA button. For issues using this option, the custom URL specific to the issue is to be defined in the UI.",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "description": "Enum used to map to the redirect page for the link.",
          "type": "string",
          "enum": [
            "REDIRECT_PAGE_UNSPECIFIED",
            "REDIRECT_PAGE_CUSTOM_URL",
            "REDIRECT_PAGE_RESOURCE_OVERVIEW",
            "REDIRECT_PAGE_EDIT_RESOURCE",
            "REDIRECT_PAGE_BACKUPS",
            "REDIRECT_PAGE_USERS",
            "REDIRECT_PAGE_SECURITY_RULES",
            "REDIRECT_PAGE_KEY_VISUALIZER",
            "REDIRECT_PAGE_SYSTEM_INSIGHTS",
            "REDIRECT_PAGE_CONNECTIONS",
            "REDIRECT_PAGE_CONNECTIONS_SECURITY"
          ]
        },
        "resourceName": {
          "description": "Resource name for the table cell. This is used to construct the link.",
          "type": "string"
        },
        "label": {
          "description": "String label for the link. This value is not translated",
          "type": "string"
        }
      },
      "id": "CloudRecommendationsRecommendersDatabasesV1Link"
    },
    "GoogleCloudRecommenderV1OperationGroup": {
      "properties": {
        "operations": {
          "items": {
            "$ref": "GoogleCloudRecommenderV1Operation"
          },
          "type": "array",
          "description": "List of operations across one or more resources that belong to this group. Loosely based on RFC6902 and should be performed in the order they appear."
        }
      },
      "id": "GoogleCloudRecommenderV1OperationGroup",
      "type": "object",
      "description": "Group of operations that need to be performed atomically."
    },
    "GoogleCloudRecommenderV1SustainabilityProjection": {
      "properties": {
        "kgCO2e": {
          "type": "number",
          "description": "Carbon Footprint generated in kg of CO2 equivalent. Chose kg_c_o2e so that the name renders correctly in camelCase (kgCO2e).",
          "format": "double"
        },
        "duration": {
          "format": "google-duration",
          "description": "Duration for which this sustainability applies.",
          "type": "string"
        }
      },
      "id": "GoogleCloudRecommenderV1SustainabilityProjection",
      "description": "Contains metadata about how much sustainability a recommendation can save or incur.",
      "type": "object"
    },
    "GoogleCloudRecommenderV1ValueMatcher": {
      "type": "object",
      "properties": {
        "matchesPattern": {
          "description": "To be used for full regex matching. The regular expression is using the Google RE2 syntax (https://github.com/google/re2/wiki/Syntax), so to be used with RE2::FullMatch",
          "type": "string"
        }
      },
      "id": "GoogleCloudRecommenderV1ValueMatcher",
      "description": "Contains various matching options for values for a GCP resource field."
    },
    "GoogleCloudRecommenderV1MarkRecommendationClaimedRequest": {
      "properties": {
        "etag": {
          "type": "string",
          "description": "Required. Fingerprint of the Recommendation. Provides optimistic locking."
        },
        "stateMetadata": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "State properties to include with this state. Overwrites any existing `state_metadata`. Keys must match the regex `/^a-z0-9{0,62}$/`. Values must match the regex `/^[a-zA-Z0-9_./-]{0,255}$/`."
        }
      },
      "description": "Request for the `MarkRecommendationClaimed` Method.",
      "id": "GoogleCloudRecommenderV1MarkRecommendationClaimedRequest",
      "type": "object"
    },
    "GoogleCloudRecommenderV1MarkRecommendationFailedRequest": {
      "id": "GoogleCloudRecommenderV1MarkRecommendationFailedRequest",
      "properties": {
        "stateMetadata": {
          "type": "object",
          "description": "State properties to include with this state. Overwrites any existing `state_metadata`. Keys must match the regex `/^a-z0-9{0,62}$/`. Values must match the regex `/^[a-zA-Z0-9_./-]{0,255}$/`.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "etag": {
          "type": "string",
          "description": "Required. Fingerprint of the Recommendation. Provides optimistic locking."
        }
      },
      "type": "object",
      "description": "Request for the `MarkRecommendationFailed` Method."
    },
    "GoogleCloudRecommenderV1MarkRecommendationSucceededRequest": {
      "description": "Request for the `MarkRecommendationSucceeded` Method.",
      "properties": {
        "stateMetadata": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "State properties to include with this state. Overwrites any existing `state_metadata`. Keys must match the regex `/^a-z0-9{0,62}$/`. Values must match the regex `/^[a-zA-Z0-9_./-]{0,255}$/`.",
          "type": "object"
        },
        "etag": {
          "type": "string",
          "description": "Required. Fingerprint of the Recommendation. Provides optimistic locking."
        }
      },
      "id": "GoogleCloudRecommenderV1MarkRecommendationSucceededRequest",
      "type": "object"
    },
    "GoogleCloudRecommenderV1ReliabilityProjection": {
      "id": "GoogleCloudRecommenderV1ReliabilityProjection",
      "properties": {
        "risks": {
          "items": {
            "type": "string",
            "enum": [
              "RISK_TYPE_UNSPECIFIED",
              "SERVICE_DISRUPTION",
              "DATA_LOSS",
              "ACCESS_DENY"
            ],
            "enumDescriptions": [
              "Default unspecified risk. Don't use directly.",
              "Potential service downtime.",
              "Potential data loss.",
              "Potential access denial. The service is still up but some or all clients can't access it."
            ]
          },
          "type": "array",
          "description": "Reliability risks mitigated by this recommendation."
        },
        "details": {
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "description": "Per-recommender projection."
        }
      },
      "description": "Contains information on the impact of a reliability recommendation.",
      "type": "object"
    },
    "CloudRecommendationsRecommendersDatabasesV1DatabasesPresentationConfig": {
      "type": "object",
      "description": "Presentational config that maps to the UI components of templatized issue subtasks.",
      "properties": {
        "ctaConfigs": {
          "description": "Call to action buttons for the issue.",
          "type": "array",
          "items": {
            "$ref": "CloudRecommendationsRecommendersDatabasesV1CtaConfig"
          }
        },
        "issueContentChunks": {
          "items": {
            "$ref": "CloudRecommendationsRecommendersDatabasesV1ContentChunk"
          },
          "description": "Content chunks for the issue.",
          "type": "array"
        },
        "nextStepsDescription": {
          "description": "Next steps description for the issue.",
          "$ref": "CloudRecommendationsRecommendersDatabasesV1Description"
        },
        "nextStepsContentChunks": {
          "items": {
            "$ref": "CloudRecommendationsRecommendersDatabasesV1ContentChunk"
          },
          "type": "array",
          "description": "Content chunks for the next steps."
        },
        "nextStepsTableFields": {
          "description": "Fields for the table containing metadata associated with the next steps.",
          "type": "array",
          "items": {
            "$ref": "CloudRecommendationsRecommendersDatabasesV1TableField"
          }
        },
        "playbookLinks": {
          "items": {
            "$ref": "CloudRecommendationsRecommendersDatabasesV1PlaybookLink"
          },
          "type": "array",
          "description": "Playbook links for the issue."
        },
        "issueTableFields": {
          "items": {
            "$ref": "CloudRecommendationsRecommendersDatabasesV1TableField"
          },
          "description": "Fields for the table containing metadata associated with the issue.",
          "type": "array"
        },
        "issueDescription": {
          "description": "Issue description for the issue.",
          "$ref": "CloudRecommendationsRecommendersDatabasesV1Description"
        }
      },
      "id": "CloudRecommendationsRecommendersDatabasesV1DatabasesPresentationConfig"
    },
    "GoogleCloudRecommenderV1InsightTypeGenerationConfig": {
      "properties": {
        "params": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "description": "Parameters for this InsightTypeGenerationConfig. These configs can be used by or are applied to all subtypes.",
          "type": "object"
        }
      },
      "description": "A configuration to customize the generation of insights. Eg, customizing the lookback period considered when generating a insight.",
      "id": "GoogleCloudRecommenderV1InsightTypeGenerationConfig",
      "type": "object"
    },
    "GoogleTypeMoney": {
      "description": "Represents an amount of money with its currency type.",
      "id": "GoogleTypeMoney",
      "properties": {
        "nanos": {
          "type": "integer",
          "format": "int32",
          "description": "Number of nano (10^-9) units of the amount. The value must be between -999,999,999 and +999,999,999 inclusive. If `units` is positive, `nanos` must be positive or zero. If `units` is zero, `nanos` can be positive, zero, or negative. If `units` is negative, `nanos` must be negative or zero. For example $-1.75 is represented as `units`=-1 and `nanos`=-750,000,000."
        },
        "currencyCode": {
          "description": "The three-letter currency code defined in ISO 4217.",
          "type": "string"
        },
        "units": {
          "description": "The whole units of the amount. For example if `currencyCode` is `\"USD\"`, then 1 unit is one US dollar.",
          "type": "string",
          "format": "int64"
        }
      },
      "type": "object"
    },
    "GoogleCloudRecommenderV1RecommendationInsightReference": {
      "type": "object",
      "description": "Reference to an associated insight.",
      "id": "GoogleCloudRecommenderV1RecommendationInsightReference",
      "properties": {
        "insight": {
          "description": "Insight resource name, e.g. projects/[PROJECT_NUMBER]/locations/[LOCATION]/insightTypes/[INSIGHT_TYPE_ID]/insights/[INSIGHT_ID]",
          "type": "string"
        }
      }
    },
    "CloudRecommendationsRecommendersDatabasesV1CtaConfig": {
      "id": "CloudRecommendationsRecommendersDatabasesV1CtaConfig",
      "properties": {
        "label": {
          "description": "Enum used to map to the string to be shown in the UI for the button.",
          "type": "string",
          "enum": [
            "STRING_KEY_UNSPECIFIED",
            "STRING_KEY_VIEW_INSTANCE_CTA",
            "STRING_KEY_EDIT_INSTANCE",
            "STRING_KEY_EDIT_USERS",
            "STRING_KEY_MYSQL_FLAG_DEFAULT_AUTHENTICATION_PLUGIN",
            "STRING_KEY_PG_FLAG_PASSWORD_ENCRYPTION",
            "STRING_KEY_ENABLE_USER_PASSWORD_POLICIES",
            "STRING_KEY_CONFIGURE_AUTHENTICATION",
            "STRING_KEY_CONFIGURE_DATABASE_FLAGS",
            "STRING_KEY_AVERAGE_CPU_USAGE",
            "STRING_KEY_OBSERVATION_TIME",
            "STRING_KEY_CONFIGURE_AUTOSCALING",
            "STRING_KEY_VIEW_CLUSTER_CTA",
            "STRING_KEY_EDIT_DISASTER_RECOVERY_SETTINGS",
            "STRING_KEY_ENABLE_SCHEDULED_BACKUPS",
            "STRING_KEY_ENABLE_POINT_IN_TIME_RECOVERY",
            "STRING_KEY_SCHEDULED_BACKUPS_ENABLEMENT",
            "STRING_KEY_PITR_ENABLEMENT",
            "STRING_KEY_INSECURE_RULES_DETECTED",
            "STRING_KEY_EXPIRING_RULES_DETECTED",
            "STRING_KEY_FIX_INSECURE_AND_EXPIRING_RULES",
            "STRING_KEY_EDIT_FIREBASE_RULES",
            "STRING_KEY_MAXIMUM_OF_PREDICTED_DISK_USAGE_FOR_THE_NEXT_7_DAYS",
            "STRING_KEY_STORAGE_CAPACITY_OF_THE_CLUSTER",
            "STRING_KEY_PER_NODE_STORAGE_CAPACITY_OF_THE_CLUSTER",
            "STRING_KEY_CURRENT_AUTOSCALING_MIN_NODE_COUNT",
            "STRING_KEY_CURRENT_AUTOSCALING_MAX_NODE_COUNT",
            "STRING_KEY_ABOUT_MAINTENANCE",
            "STRING_KEY_ABOUT_SCALING_UP",
            "STRING_KEY_CURRENT_MEMORY_SIZE_GB",
            "STRING_KEY_RECOMMENDED_MEMORY_SIZE_GB",
            "STRING_KEY_PEAK_MEMORY_USAGE_RATIO",
            "STRING_KEY_RECOMMENDED_AUTOSCALING_MIN_NODE_COUNT",
            "STRING_KEY_RECOMMENDED_AUTOSCALING_MAX_NODE_COUNT",
            "STRING_KEY_CURRENT_STORAGE_USED_BYTES_OF_THE_CLUSTER",
            "STRING_KEY_ABOUT_SCALING_OUT",
            "STRING_KEY_PEAK_MEMORY_USAGE_RATIO_ACROSS_SHARDS",
            "STRING_KEY_CURRENT_NUMBER_OF_SHARDS",
            "STRING_KEY_RECOMMENDED_NUMBER_OF_SHARDS",
            "STRING_KEY_ABOUT_AVOIDING_EXPENSIVE_COMMANDS",
            "STRING_KEY_EXPENSIVE_COMMANDS",
            "STRING_KEY_UPGRADE_TO_ENTERPRISE_PLUS_EDITION",
            "STRING_KEY_ENABLE_DATA_CACHE",
            "STRING_KEY_OBSERVATION_PERIOD",
            "STRING_KEY_LAST_DEFERRED_MAINTENANCE_OPERATION_TIME",
            "STRING_KEY_LAST_INSTANCE_MAINTENANCE_EVENT",
            "STRING_KEY_USE_AUTO_MSM",
            "STRING_KEY_CURRENT_MAX_SERVER_MEMORY_MB",
            "STRING_KEY_AUTOSCALING_CONFIGURATION",
            "STRING_KEY_SCALING_DOCS",
            "STRING_KEY_MODIFY_INSTANCE",
            "STRING_KEY_HOTSPOTS_AFFECTED_TABLES",
            "STRING_KEY_HOT_TABLETS_DOCS",
            "STRING_KEY_KEY_VISUALIZER_DOCS",
            "STRING_KEY_BIGTABLE_PERFORMANCE_DOCS",
            "STRING_KEY_VIEW_USERS",
            "STRING_KEY_SPANNER_PREVENT_ACCIDENTAL_DELETION_DOCS",
            "STRING_KEY_SPANNER_ENABLE_DATABASE_DELETION_PROTECTION_DOCS",
            "STRING_KEY_SPANNER_BACKUPS_DOCS",
            "STRING_KEY_SPANNER_CREATE_BACKUP_DOCS",
            "STRING_KEY_SPANNER_CREATE_BACKUP_SCHEDULES_DOCS",
            "STRING_KEY_SPANNER_PANTHEON_INSTANCE",
            "STRING_KEY_SPANNER_PANTHEON_INSTANCE_BACKUPS",
            "STRING_KEY_SPANNER_AFFECTED_DATABASES",
            "STRING_KEY_SPANNER_PANTHEON_BACKUP_SETTINGS",
            "STRING_KEY_CLOUD_SQL_EDITIONS",
            "STRING_KEY_ALLOYDB_ENABLE_HA_DOCS",
            "STRING_KEY_ALLOYDB_CONFIGURE_BACKUP_POLICY_DOCS",
            "STRING_KEY_VIEW_BACKUP_POLICY_CTA",
            "STRING_KEY_ALLOYDB_BACKUP_COUNT",
            "STRING_KEY_ALLOYDB_BACKUP_POLICY_TYPE",
            "STRING_KEY_DATA_CACHE",
            "STRING_KEY_BACKUP_AND_RESTORE_DATA",
            "STRING_KEY_POINT_IN_TIME_RECOVERY",
            "STRING_KEY_EDIT_BACKUP_SETTINGS",
            "STRING_KEY_GO_TO_RESOURCE",
            "STRING_KEY_OBSERVATION_START",
            "STRING_KEY_OBSERVATION_END",
            "STRING_KEY_STORAGE_UTILIZATION_RATIO",
            "STRING_KEY_CURRENT_AUTOSCALING_NODE_COUNT",
            "STRING_KEY_RECOMMENDED_AUTOSCALING_NODE_COUNT",
            "STRING_KEY_RECOMMENDED_MAINTENANCE_WINDOW",
            "STRING_KEY_FIND_AND_SET_MAINTENANCE_WINDOWS",
            "STRING_KEY_MAXMEMORY_POLICY",
            "STRING_KEY_SYSTEM_MEMORY_USAGE_RATIO",
            "STRING_KEY_FAILED_SNAPSHOTS",
            "STRING_KEY_EXPIRABLE_KEYS_PERCENTAGE",
            "STRING_KEY_OOM_COUNT",
            "STRING_KEY_EDIT_RESOURCE_CTA",
            "STRING_KEY_MEMORYSTORE_MEMORY_MANAGEMENT_BEST_PRACTICES",
            "STRING_KEY_MEMORYSTORE_REDIS_CRASHES",
            "STRING_KEY_BIGTABLE_MIN_NUMBER_OF_NODES_FOR_CUD",
            "STRING_KEY_BIGTABLE_AVERAGE_CLUSTER_NODE_COUNT",
            "STRING_KEY_BIGTABLE_CUD_DOCS",
            "STRING_KEY_SPANNER_MITIGATE_CMEK_ORG_POLICY_VIOLATION_DOCS",
            "STRING_KEY_SPANNER_MITIGATE_DRZ_ORG_POLICY_VIOLATION_DOCS",
            "STRING_KEY_ALLOYDB_RECOMMENDED_BACKUP_COUNT",
            "STRING_KEY_SQLSERVER_BEST_PRACTICES_GLOBAL",
            "STRING_KEY_SQLSERVER_SERVER_MEMORY_CONFIGURATION",
            "STRING_KEY_INSECURE_RULES_AUTHENTICATION",
            "STRING_KEY_KEY_VISUALIZER_CTA",
            "STRING_KEY_SPANNER_SCHEMA",
            "STRING_KEY_SPANNER_SCHEMA_BEST_PRACTICES",
            "STRING_KEY_SPANNER_MANAGE_DATA_USING_CONSOLE",
            "STRING_KEY_SPANNER_MIGRATE_YOUR_DATA",
            "STRING_KEY_SPANNER_MAKE_SCHEMA_UPDATE",
            "STRING_KEY_SPANNER_QUOTA_AND_LIMITS_TABLES",
            "STRING_KEY_SPANNER_PROTOCOL_BUFFER_LIMITATIONS",
            "STRING_KEY_SPANNER_QUERY_INSIGHTS",
            "STRING_KEY_SPANNER_USE_INDEX_ADVISOR",
            "STRING_KEY_SPANNER_SEARCH_INDEXES",
            "STRING_KEY_SPANNER_QUOTA_AND_LIMITS_INDEXES",
            "STRING_KEY_SPANNER_FOREIGN_KEYS",
            "STRING_KEY_SPANNER_CREATE_MANAGE_FOREIGN_KEY_RELATIONSHIPS",
            "STRING_KEY_SPANNER_IMPLEMENT_MULTI_TENANCY",
            "STRING_KEY_SPANNER_DATABASE_SPLITS",
            "STRING_KEY_SPANNER_CREATE_ALERTS_FOR_SPANNER_METRICS",
            "STRING_KEY_SPANNER_QUOTA_AND_LIMITS_SCHEMAS",
            "STRING_KEY_SPANNER_VIEW_OBJECT_CTA",
            "STRING_KEY_SPANNER_QUERY_INSIGHTS_CTA",
            "STRING_KEY_SPANNER_MONITORING_CTA",
            "STRING_KEY_BIGTABLE_CURRENT_CLIENT_LIBRARY_VERSION",
            "STRING_KEY_BIGTABLE_LATEST_CLIENT_LIBRARY_VERSION",
            "STRING_KEY_BIGTABLE_APP_PROFILE_IDS",
            "STRING_KEY_BIGTABLE_CLIENT_LIBRARY_LANGUAGE",
            "STRING_KEY_BIGTABLE_UPGRADING_CLIENTS",
            "STRING_KEY_BIGTABLE_REPLICATION_DELAY_TABLES",
            "STRING_KEY_BIGTABLE_REPLICATION_DELAY_DOCS",
            "STRING_KEY_BIGTABLE_CLIENT_LIBRARIES",
            "STRING_KEY_BIGTABLE_DATABOOST_DOCS",
            "STRING_KEY_INSTANCE_NAME",
            "STRING_KEY_APP_PROFILE_ID",
            "STRING_KEY_CREATE_APP_PROFILE_CTA",
            "STRING_KEY_BIGTABLE_DATABOOST_OVERVIEW_DOCS",
            "STRING_KEY_BIGTABLE_APP_PROFILES_DOCS",
            "STRING_KEY_THREAD_CACHE_SIZE_CURRENT_VALUE",
            "STRING_KEY_THREAD_CACHE_SIZE_RECOMMENDED_VALUE",
            "STRING_KEY_ENABLE_DATABASE_AUDITING",
            "STRING_KEY_JOIN_BUFFER_SIZE_CURRENT_VALUE",
            "STRING_KEY_JOIN_BUFFER_SIZE_RECOMMENDED_VALUE",
            "STRING_KEY_TABLE_OPEN_CACHE_CURRENT_VALUE",
            "STRING_KEY_TABLE_OPEN_CACHE_RECOMMENDED_VALUE",
            "STRING_KEY_NUMBER_OF_TABLES",
            "STRING_KEY_MYSQL_HIGH_NUMBER_OF_TABLES_PLAYBOOK",
            "STRING_KEY_TMP_TABLE_SIZE_CURRENT_VALUE",
            "STRING_KEY_TMP_TABLE_SIZE_RECOMMENDED_VALUE",
            "STRING_KEY_MAX_HEAP_TABLE_SIZE_CURRENT_VALUE",
            "STRING_KEY_MAX_HEAP_TABLE_SIZE_RECOMMENDED_VALUE",
            "STRING_KEY_BINLOG_CACHE_SIZE_CURRENT_VALUE",
            "STRING_KEY_BINLOG_CACHE_SIZE_RECOMMENDED_VALUE",
            "STRING_KEY_BINLOG_STMT_CACHE_SIZE_CURRENT_VALUE",
            "STRING_KEY_BINLOG_STMT_CACHE_SIZE_RECOMMENDED_VALUE",
            "STRING_KEY_INNODB_LOG_BUFFER_SIZE_CURRENT_VALUE",
            "STRING_KEY_INNODB_LOG_BUFFER_SIZE_RECOMMENDED_VALUE",
            "STRING_KEY_TRANSACTION_ID_UTILIZATION_PERCENTAGE",
            "STRING_KEY_DAYS_TO_WRAPAROUND",
            "STRING_KEY_PG_TRANSACTION_ID_UTILIZATION_PLAYBOOK",
            "STRING_KEY_MAX_CPU_UTILIZATION",
            "STRING_KEY_MAX_MEMORY_UTILIZATION",
            "STRING_KEY_DISK_USAGE_BYTES_CHANGE",
            "STRING_KEY_MAX_DISK_READ_OPS_COUNT",
            "STRING_KEY_MAX_DISK_WRITE_OPS_COUNT",
            "STRING_KEY_SQL_IDLE_PLAYBOOK",
            "STRING_KEY_CURRENT_STORAGE_USAGE",
            "STRING_KEY_CURRENT_STORAGE_LIMIT",
            "STRING_KEY_ESTIMATED_STORAGE_RUN_OUT_PERIOD",
            "STRING_KEY_CURRENT_MACHINE_TYPE",
            "STRING_KEY_RECOMMENDED_MACHINE_TYPE",
            "STRING_KEY_CURRENT_CORES",
            "STRING_KEY_RECOMMENDED_CORES",
            "STRING_KEY_REVIEW_ORG_POLICY",
            "STRING_KEY_USE_AUTH_PROXY_OR_CONNECTORS",
            "STRING_KEY_REMOVE_AUTHORIZED_NETWORKS",
            "STRING_KEY_ROTATE_SERVER_CERTIFICATE",
            "STRING_KEY_MANAGE_SERVER_CERTIFICATES",
            "STRING_KEY_PUBLIC_IP_ENABLED",
            "STRING_KEY_PRIVATE_IP_ENABLED",
            "STRING_KEY_CONFIGURE_PRIVATE_IP",
            "STRING_KEY_DISABLE_PUBLIC_IP",
            "STRING_KEY_CPU_UTILIZATION_OUT_OF_SLA",
            "STRING_KEY_CPU_UTILIZATION_OUT_OF_SLA_LATEST_TIMESTAMP",
            "STRING_KEY_MEMORY_UTILIZATION_OUT_OF_SLA",
            "STRING_KEY_MEMORY_UTILIZATION_OUT_OF_SLA_LATEST_TIMESTAMP",
            "STRING_KEY_ESTIMATED_OOM_PROBABILITY",
            "STRING_KEY_MAX_CONNECTIONS_CURRENT_VALUE",
            "STRING_KEY_MAX_CONNECTIONS_RECOMMENDED_VALUE"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ]
        },
        "isPrimary": {
          "type": "boolean"
        },
        "redirectPage": {
          "enumDescriptions": [
            "",
            "Use this option to provide a custom URL for the CTA button. For issues using this option, the custom URL specific to the issue is to be defined in the UI.",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "REDIRECT_PAGE_UNSPECIFIED",
            "REDIRECT_PAGE_CUSTOM_URL",
            "REDIRECT_PAGE_RESOURCE_OVERVIEW",
            "REDIRECT_PAGE_EDIT_RESOURCE",
            "REDIRECT_PAGE_BACKUPS",
            "REDIRECT_PAGE_USERS",
            "REDIRECT_PAGE_SECURITY_RULES",
            "REDIRECT_PAGE_KEY_VISUALIZER",
            "REDIRECT_PAGE_SYSTEM_INSIGHTS",
            "REDIRECT_PAGE_CONNECTIONS",
            "REDIRECT_PAGE_CONNECTIONS_SECURITY"
          ]
        }
      },
      "type": "object"
    },
    "CloudRecommendationsRecommendersDatabasesV1PlaybookLink": {
      "type": "object",
      "id": "CloudRecommendationsRecommendersDatabasesV1PlaybookLink",
      "properties": {
        "link": {
          "type": "string"
        },
        "label": {
          "description": "Enum used to map to the string to be shown in the UI for the link.",
          "type": "string",
          "enum": [
            "STRING_KEY_UNSPECIFIED",
            "STRING_KEY_VIEW_INSTANCE_CTA",
            "STRING_KEY_EDIT_INSTANCE",
            "STRING_KEY_EDIT_USERS",
            "STRING_KEY_MYSQL_FLAG_DEFAULT_AUTHENTICATION_PLUGIN",
            "STRING_KEY_PG_FLAG_PASSWORD_ENCRYPTION",
            "STRING_KEY_ENABLE_USER_PASSWORD_POLICIES",
            "STRING_KEY_CONFIGURE_AUTHENTICATION",
            "STRING_KEY_CONFIGURE_DATABASE_FLAGS",
            "STRING_KEY_AVERAGE_CPU_USAGE",
            "STRING_KEY_OBSERVATION_TIME",
            "STRING_KEY_CONFIGURE_AUTOSCALING",
            "STRING_KEY_VIEW_CLUSTER_CTA",
            "STRING_KEY_EDIT_DISASTER_RECOVERY_SETTINGS",
            "STRING_KEY_ENABLE_SCHEDULED_BACKUPS",
            "STRING_KEY_ENABLE_POINT_IN_TIME_RECOVERY",
            "STRING_KEY_SCHEDULED_BACKUPS_ENABLEMENT",
            "STRING_KEY_PITR_ENABLEMENT",
            "STRING_KEY_INSECURE_RULES_DETECTED",
            "STRING_KEY_EXPIRING_RULES_DETECTED",
            "STRING_KEY_FIX_INSECURE_AND_EXPIRING_RULES",
            "STRING_KEY_EDIT_FIREBASE_RULES",
            "STRING_KEY_MAXIMUM_OF_PREDICTED_DISK_USAGE_FOR_THE_NEXT_7_DAYS",
            "STRING_KEY_STORAGE_CAPACITY_OF_THE_CLUSTER",
            "STRING_KEY_PER_NODE_STORAGE_CAPACITY_OF_THE_CLUSTER",
            "STRING_KEY_CURRENT_AUTOSCALING_MIN_NODE_COUNT",
            "STRING_KEY_CURRENT_AUTOSCALING_MAX_NODE_COUNT",
            "STRING_KEY_ABOUT_MAINTENANCE",
            "STRING_KEY_ABOUT_SCALING_UP",
            "STRING_KEY_CURRENT_MEMORY_SIZE_GB",
            "STRING_KEY_RECOMMENDED_MEMORY_SIZE_GB",
            "STRING_KEY_PEAK_MEMORY_USAGE_RATIO",
            "STRING_KEY_RECOMMENDED_AUTOSCALING_MIN_NODE_COUNT",
            "STRING_KEY_RECOMMENDED_AUTOSCALING_MAX_NODE_COUNT",
            "STRING_KEY_CURRENT_STORAGE_USED_BYTES_OF_THE_CLUSTER",
            "STRING_KEY_ABOUT_SCALING_OUT",
            "STRING_KEY_PEAK_MEMORY_USAGE_RATIO_ACROSS_SHARDS",
            "STRING_KEY_CURRENT_NUMBER_OF_SHARDS",
            "STRING_KEY_RECOMMENDED_NUMBER_OF_SHARDS",
            "STRING_KEY_ABOUT_AVOIDING_EXPENSIVE_COMMANDS",
            "STRING_KEY_EXPENSIVE_COMMANDS",
            "STRING_KEY_UPGRADE_TO_ENTERPRISE_PLUS_EDITION",
            "STRING_KEY_ENABLE_DATA_CACHE",
            "STRING_KEY_OBSERVATION_PERIOD",
            "STRING_KEY_LAST_DEFERRED_MAINTENANCE_OPERATION_TIME",
            "STRING_KEY_LAST_INSTANCE_MAINTENANCE_EVENT",
            "STRING_KEY_USE_AUTO_MSM",
            "STRING_KEY_CURRENT_MAX_SERVER_MEMORY_MB",
            "STRING_KEY_AUTOSCALING_CONFIGURATION",
            "STRING_KEY_SCALING_DOCS",
            "STRING_KEY_MODIFY_INSTANCE",
            "STRING_KEY_HOTSPOTS_AFFECTED_TABLES",
            "STRING_KEY_HOT_TABLETS_DOCS",
            "STRING_KEY_KEY_VISUALIZER_DOCS",
            "STRING_KEY_BIGTABLE_PERFORMANCE_DOCS",
            "STRING_KEY_VIEW_USERS",
            "STRING_KEY_SPANNER_PREVENT_ACCIDENTAL_DELETION_DOCS",
            "STRING_KEY_SPANNER_ENABLE_DATABASE_DELETION_PROTECTION_DOCS",
            "STRING_KEY_SPANNER_BACKUPS_DOCS",
            "STRING_KEY_SPANNER_CREATE_BACKUP_DOCS",
            "STRING_KEY_SPANNER_CREATE_BACKUP_SCHEDULES_DOCS",
            "STRING_KEY_SPANNER_PANTHEON_INSTANCE",
            "STRING_KEY_SPANNER_PANTHEON_INSTANCE_BACKUPS",
            "STRING_KEY_SPANNER_AFFECTED_DATABASES",
            "STRING_KEY_SPANNER_PANTHEON_BACKUP_SETTINGS",
            "STRING_KEY_CLOUD_SQL_EDITIONS",
            "STRING_KEY_ALLOYDB_ENABLE_HA_DOCS",
            "STRING_KEY_ALLOYDB_CONFIGURE_BACKUP_POLICY_DOCS",
            "STRING_KEY_VIEW_BACKUP_POLICY_CTA",
            "STRING_KEY_ALLOYDB_BACKUP_COUNT",
            "STRING_KEY_ALLOYDB_BACKUP_POLICY_TYPE",
            "STRING_KEY_DATA_CACHE",
            "STRING_KEY_BACKUP_AND_RESTORE_DATA",
            "STRING_KEY_POINT_IN_TIME_RECOVERY",
            "STRING_KEY_EDIT_BACKUP_SETTINGS",
            "STRING_KEY_GO_TO_RESOURCE",
            "STRING_KEY_OBSERVATION_START",
            "STRING_KEY_OBSERVATION_END",
            "STRING_KEY_STORAGE_UTILIZATION_RATIO",
            "STRING_KEY_CURRENT_AUTOSCALING_NODE_COUNT",
            "STRING_KEY_RECOMMENDED_AUTOSCALING_NODE_COUNT",
            "STRING_KEY_RECOMMENDED_MAINTENANCE_WINDOW",
            "STRING_KEY_FIND_AND_SET_MAINTENANCE_WINDOWS",
            "STRING_KEY_MAXMEMORY_POLICY",
            "STRING_KEY_SYSTEM_MEMORY_USAGE_RATIO",
            "STRING_KEY_FAILED_SNAPSHOTS",
            "STRING_KEY_EXPIRABLE_KEYS_PERCENTAGE",
            "STRING_KEY_OOM_COUNT",
            "STRING_KEY_EDIT_RESOURCE_CTA",
            "STRING_KEY_MEMORYSTORE_MEMORY_MANAGEMENT_BEST_PRACTICES",
            "STRING_KEY_MEMORYSTORE_REDIS_CRASHES",
            "STRING_KEY_BIGTABLE_MIN_NUMBER_OF_NODES_FOR_CUD",
            "STRING_KEY_BIGTABLE_AVERAGE_CLUSTER_NODE_COUNT",
            "STRING_KEY_BIGTABLE_CUD_DOCS",
            "STRING_KEY_SPANNER_MITIGATE_CMEK_ORG_POLICY_VIOLATION_DOCS",
            "STRING_KEY_SPANNER_MITIGATE_DRZ_ORG_POLICY_VIOLATION_DOCS",
            "STRING_KEY_ALLOYDB_RECOMMENDED_BACKUP_COUNT",
            "STRING_KEY_SQLSERVER_BEST_PRACTICES_GLOBAL",
            "STRING_KEY_SQLSERVER_SERVER_MEMORY_CONFIGURATION",
            "STRING_KEY_INSECURE_RULES_AUTHENTICATION",
            "STRING_KEY_KEY_VISUALIZER_CTA",
            "STRING_KEY_SPANNER_SCHEMA",
            "STRING_KEY_SPANNER_SCHEMA_BEST_PRACTICES",
            "STRING_KEY_SPANNER_MANAGE_DATA_USING_CONSOLE",
            "STRING_KEY_SPANNER_MIGRATE_YOUR_DATA",
            "STRING_KEY_SPANNER_MAKE_SCHEMA_UPDATE",
            "STRING_KEY_SPANNER_QUOTA_AND_LIMITS_TABLES",
            "STRING_KEY_SPANNER_PROTOCOL_BUFFER_LIMITATIONS",
            "STRING_KEY_SPANNER_QUERY_INSIGHTS",
            "STRING_KEY_SPANNER_USE_INDEX_ADVISOR",
            "STRING_KEY_SPANNER_SEARCH_INDEXES",
            "STRING_KEY_SPANNER_QUOTA_AND_LIMITS_INDEXES",
            "STRING_KEY_SPANNER_FOREIGN_KEYS",
            "STRING_KEY_SPANNER_CREATE_MANAGE_FOREIGN_KEY_RELATIONSHIPS",
            "STRING_KEY_SPANNER_IMPLEMENT_MULTI_TENANCY",
            "STRING_KEY_SPANNER_DATABASE_SPLITS",
            "STRING_KEY_SPANNER_CREATE_ALERTS_FOR_SPANNER_METRICS",
            "STRING_KEY_SPANNER_QUOTA_AND_LIMITS_SCHEMAS",
            "STRING_KEY_SPANNER_VIEW_OBJECT_CTA",
            "STRING_KEY_SPANNER_QUERY_INSIGHTS_CTA",
            "STRING_KEY_SPANNER_MONITORING_CTA",
            "STRING_KEY_BIGTABLE_CURRENT_CLIENT_LIBRARY_VERSION",
            "STRING_KEY_BIGTABLE_LATEST_CLIENT_LIBRARY_VERSION",
            "STRING_KEY_BIGTABLE_APP_PROFILE_IDS",
            "STRING_KEY_BIGTABLE_CLIENT_LIBRARY_LANGUAGE",
            "STRING_KEY_BIGTABLE_UPGRADING_CLIENTS",
            "STRING_KEY_BIGTABLE_REPLICATION_DELAY_TABLES",
            "STRING_KEY_BIGTABLE_REPLICATION_DELAY_DOCS",
            "STRING_KEY_BIGTABLE_CLIENT_LIBRARIES",
            "STRING_KEY_BIGTABLE_DATABOOST_DOCS",
            "STRING_KEY_INSTANCE_NAME",
            "STRING_KEY_APP_PROFILE_ID",
            "STRING_KEY_CREATE_APP_PROFILE_CTA",
            "STRING_KEY_BIGTABLE_DATABOOST_OVERVIEW_DOCS",
            "STRING_KEY_BIGTABLE_APP_PROFILES_DOCS",
            "STRING_KEY_THREAD_CACHE_SIZE_CURRENT_VALUE",
            "STRING_KEY_THREAD_CACHE_SIZE_RECOMMENDED_VALUE",
            "STRING_KEY_ENABLE_DATABASE_AUDITING",
            "STRING_KEY_JOIN_BUFFER_SIZE_CURRENT_VALUE",
            "STRING_KEY_JOIN_BUFFER_SIZE_RECOMMENDED_VALUE",
            "STRING_KEY_TABLE_OPEN_CACHE_CURRENT_VALUE",
            "STRING_KEY_TABLE_OPEN_CACHE_RECOMMENDED_VALUE",
            "STRING_KEY_NUMBER_OF_TABLES",
            "STRING_KEY_MYSQL_HIGH_NUMBER_OF_TABLES_PLAYBOOK",
            "STRING_KEY_TMP_TABLE_SIZE_CURRENT_VALUE",
            "STRING_KEY_TMP_TABLE_SIZE_RECOMMENDED_VALUE",
            "STRING_KEY_MAX_HEAP_TABLE_SIZE_CURRENT_VALUE",
            "STRING_KEY_MAX_HEAP_TABLE_SIZE_RECOMMENDED_VALUE",
            "STRING_KEY_BINLOG_CACHE_SIZE_CURRENT_VALUE",
            "STRING_KEY_BINLOG_CACHE_SIZE_RECOMMENDED_VALUE",
            "STRING_KEY_BINLOG_STMT_CACHE_SIZE_CURRENT_VALUE",
            "STRING_KEY_BINLOG_STMT_CACHE_SIZE_RECOMMENDED_VALUE",
            "STRING_KEY_INNODB_LOG_BUFFER_SIZE_CURRENT_VALUE",
            "STRING_KEY_INNODB_LOG_BUFFER_SIZE_RECOMMENDED_VALUE",
            "STRING_KEY_TRANSACTION_ID_UTILIZATION_PERCENTAGE",
            "STRING_KEY_DAYS_TO_WRAPAROUND",
            "STRING_KEY_PG_TRANSACTION_ID_UTILIZATION_PLAYBOOK",
            "STRING_KEY_MAX_CPU_UTILIZATION",
            "STRING_KEY_MAX_MEMORY_UTILIZATION",
            "STRING_KEY_DISK_USAGE_BYTES_CHANGE",
            "STRING_KEY_MAX_DISK_READ_OPS_COUNT",
            "STRING_KEY_MAX_DISK_WRITE_OPS_COUNT",
            "STRING_KEY_SQL_IDLE_PLAYBOOK",
            "STRING_KEY_CURRENT_STORAGE_USAGE",
            "STRING_KEY_CURRENT_STORAGE_LIMIT",
            "STRING_KEY_ESTIMATED_STORAGE_RUN_OUT_PERIOD",
            "STRING_KEY_CURRENT_MACHINE_TYPE",
            "STRING_KEY_RECOMMENDED_MACHINE_TYPE",
            "STRING_KEY_CURRENT_CORES",
            "STRING_KEY_RECOMMENDED_CORES",
            "STRING_KEY_REVIEW_ORG_POLICY",
            "STRING_KEY_USE_AUTH_PROXY_OR_CONNECTORS",
            "STRING_KEY_REMOVE_AUTHORIZED_NETWORKS",
            "STRING_KEY_ROTATE_SERVER_CERTIFICATE",
            "STRING_KEY_MANAGE_SERVER_CERTIFICATES",
            "STRING_KEY_PUBLIC_IP_ENABLED",
            "STRING_KEY_PRIVATE_IP_ENABLED",
            "STRING_KEY_CONFIGURE_PRIVATE_IP",
            "STRING_KEY_DISABLE_PUBLIC_IP",
            "STRING_KEY_CPU_UTILIZATION_OUT_OF_SLA",
            "STRING_KEY_CPU_UTILIZATION_OUT_OF_SLA_LATEST_TIMESTAMP",
            "STRING_KEY_MEMORY_UTILIZATION_OUT_OF_SLA",
            "STRING_KEY_MEMORY_UTILIZATION_OUT_OF_SLA_LATEST_TIMESTAMP",
            "STRING_KEY_ESTIMATED_OOM_PROBABILITY",
            "STRING_KEY_MAX_CONNECTIONS_CURRENT_VALUE",
            "STRING_KEY_MAX_CONNECTIONS_RECOMMENDED_VALUE"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ]
        }
      }
    },
    "GoogleCloudRecommenderV1InsightRecommendationReference": {
      "type": "object",
      "description": "Reference to an associated recommendation.",
      "properties": {
        "recommendation": {
          "description": "Recommendation resource name, e.g. projects/[PROJECT_NUMBER]/locations/[LOCATION]/recommenders/[RECOMMENDER_ID]/recommendations/[RECOMMENDATION_ID]",
          "type": "string"
        }
      },
      "id": "GoogleCloudRecommenderV1InsightRecommendationReference"
    },
    "GoogleCloudRecommenderV1InsightTypeConfig": {
      "properties": {
        "updateTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Last time when the config was updated."
        },
        "annotations": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Allows clients to store small amounts of arbitrary data. Annotations must follow the Kubernetes syntax. The total size of all keys and values combined is limited to 256k. Key can have 2 segments: prefix (optional) and name (required), separated by a slash (/). Prefix must be a DNS subdomain. Name must be 63 characters or less, begin and end with alphanumerics, with dashes (-), underscores (_), dots (.), and alphanumerics between."
        },
        "revisionId": {
          "description": "Output only. Immutable. The revision ID of the config. A new revision is committed whenever the config is changed in any way. The format is an 8-character hexadecimal string.",
          "type": "string",
          "readOnly": true
        },
        "name": {
          "description": "Identifier. Name of insight type config. Eg, projects/[PROJECT_NUMBER]/locations/[LOCATION]/insightTypes/[INSIGHT_TYPE_ID]/config",
          "type": "string"
        },
        "insightTypeGenerationConfig": {
          "$ref": "GoogleCloudRecommenderV1InsightTypeGenerationConfig",
          "description": "InsightTypeGenerationConfig which configures the generation of insights for this insight type."
        },
        "etag": {
          "description": "Fingerprint of the InsightTypeConfig. Provides optimistic locking when updating.",
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "description": "A user-settable field to provide a human-readable name to be used in user interfaces."
        }
      },
      "id": "GoogleCloudRecommenderV1InsightTypeConfig",
      "description": "Configuration for an InsightType.",
      "type": "object"
    },
    "GoogleCloudRecommenderV1MarkRecommendationDismissedRequest": {
      "properties": {
        "etag": {
          "description": "Fingerprint of the Recommendation. Provides optimistic locking.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Request for the `MarkRecommendationDismissed` Method.",
      "id": "GoogleCloudRecommenderV1MarkRecommendationDismissedRequest"
    },
    "GoogleCloudRecommenderV1RecommenderConfig": {
      "type": "object",
      "properties": {
        "annotations": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Allows clients to store small amounts of arbitrary data. Annotations must follow the Kubernetes syntax. The total size of all keys and values combined is limited to 256k. Key can have 2 segments: prefix (optional) and name (required), separated by a slash (/). Prefix must be a DNS subdomain. Name must be 63 characters or less, begin and end with alphanumerics, with dashes (-), underscores (_), dots (.), and alphanumerics between."
        },
        "revisionId": {
          "description": "Output only. Immutable. The revision ID of the config. A new revision is committed whenever the config is changed in any way. The format is an 8-character hexadecimal string.",
          "type": "string",
          "readOnly": true
        },
        "name": {
          "description": "Identifier. Name of recommender config. Eg, projects/[PROJECT_NUMBER]/locations/[LOCATION]/recommenders/[RECOMMENDER_ID]/config",
          "type": "string"
        },
        "recommenderGenerationConfig": {
          "description": "RecommenderGenerationConfig which configures the Generation of recommendations for this recommender.",
          "$ref": "GoogleCloudRecommenderV1RecommenderGenerationConfig"
        },
        "displayName": {
          "description": "A user-settable field to provide a human-readable name to be used in user interfaces.",
          "type": "string"
        },
        "updateTime": {
          "format": "google-datetime",
          "description": "Last time when the config was updated.",
          "type": "string"
        },
        "etag": {
          "description": "Fingerprint of the RecommenderConfig. Provides optimistic locking when updating.",
          "type": "string"
        }
      },
      "description": "Configuration for a Recommender.",
      "id": "GoogleCloudRecommenderV1RecommenderConfig"
    },
    "CloudRecommendationsRecommendersDatabasesV1Table": {
      "type": "object",
      "properties": {
        "headers": {
          "type": "array",
          "items": {
            "type": "string",
            "enum": [
              "STRING_KEY_UNSPECIFIED",
              "STRING_KEY_VIEW_INSTANCE_CTA",
              "STRING_KEY_EDIT_INSTANCE",
              "STRING_KEY_EDIT_USERS",
              "STRING_KEY_MYSQL_FLAG_DEFAULT_AUTHENTICATION_PLUGIN",
              "STRING_KEY_PG_FLAG_PASSWORD_ENCRYPTION",
              "STRING_KEY_ENABLE_USER_PASSWORD_POLICIES",
              "STRING_KEY_CONFIGURE_AUTHENTICATION",
              "STRING_KEY_CONFIGURE_DATABASE_FLAGS",
              "STRING_KEY_AVERAGE_CPU_USAGE",
              "STRING_KEY_OBSERVATION_TIME",
              "STRING_KEY_CONFIGURE_AUTOSCALING",
              "STRING_KEY_VIEW_CLUSTER_CTA",
              "STRING_KEY_EDIT_DISASTER_RECOVERY_SETTINGS",
              "STRING_KEY_ENABLE_SCHEDULED_BACKUPS",
              "STRING_KEY_ENABLE_POINT_IN_TIME_RECOVERY",
              "STRING_KEY_SCHEDULED_BACKUPS_ENABLEMENT",
              "STRING_KEY_PITR_ENABLEMENT",
              "STRING_KEY_INSECURE_RULES_DETECTED",
              "STRING_KEY_EXPIRING_RULES_DETECTED",
              "STRING_KEY_FIX_INSECURE_AND_EXPIRING_RULES",
              "STRING_KEY_EDIT_FIREBASE_RULES",
              "STRING_KEY_MAXIMUM_OF_PREDICTED_DISK_USAGE_FOR_THE_NEXT_7_DAYS",
              "STRING_KEY_STORAGE_CAPACITY_OF_THE_CLUSTER",
              "STRING_KEY_PER_NODE_STORAGE_CAPACITY_OF_THE_CLUSTER",
              "STRING_KEY_CURRENT_AUTOSCALING_MIN_NODE_COUNT",
              "STRING_KEY_CURRENT_AUTOSCALING_MAX_NODE_COUNT",
              "STRING_KEY_ABOUT_MAINTENANCE",
              "STRING_KEY_ABOUT_SCALING_UP",
              "STRING_KEY_CURRENT_MEMORY_SIZE_GB",
              "STRING_KEY_RECOMMENDED_MEMORY_SIZE_GB",
              "STRING_KEY_PEAK_MEMORY_USAGE_RATIO",
              "STRING_KEY_RECOMMENDED_AUTOSCALING_MIN_NODE_COUNT",
              "STRING_KEY_RECOMMENDED_AUTOSCALING_MAX_NODE_COUNT",
              "STRING_KEY_CURRENT_STORAGE_USED_BYTES_OF_THE_CLUSTER",
              "STRING_KEY_ABOUT_SCALING_OUT",
              "STRING_KEY_PEAK_MEMORY_USAGE_RATIO_ACROSS_SHARDS",
              "STRING_KEY_CURRENT_NUMBER_OF_SHARDS",
              "STRING_KEY_RECOMMENDED_NUMBER_OF_SHARDS",
              "STRING_KEY_ABOUT_AVOIDING_EXPENSIVE_COMMANDS",
              "STRING_KEY_EXPENSIVE_COMMANDS",
              "STRING_KEY_UPGRADE_TO_ENTERPRISE_PLUS_EDITION",
              "STRING_KEY_ENABLE_DATA_CACHE",
              "STRING_KEY_OBSERVATION_PERIOD",
              "STRING_KEY_LAST_DEFERRED_MAINTENANCE_OPERATION_TIME",
              "STRING_KEY_LAST_INSTANCE_MAINTENANCE_EVENT",
              "STRING_KEY_USE_AUTO_MSM",
              "STRING_KEY_CURRENT_MAX_SERVER_MEMORY_MB",
              "STRING_KEY_AUTOSCALING_CONFIGURATION",
              "STRING_KEY_SCALING_DOCS",
              "STRING_KEY_MODIFY_INSTANCE",
              "STRING_KEY_HOTSPOTS_AFFECTED_TABLES",
              "STRING_KEY_HOT_TABLETS_DOCS",
              "STRING_KEY_KEY_VISUALIZER_DOCS",
              "STRING_KEY_BIGTABLE_PERFORMANCE_DOCS",
              "STRING_KEY_VIEW_USERS",
              "STRING_KEY_SPANNER_PREVENT_ACCIDENTAL_DELETION_DOCS",
              "STRING_KEY_SPANNER_ENABLE_DATABASE_DELETION_PROTECTION_DOCS",
              "STRING_KEY_SPANNER_BACKUPS_DOCS",
              "STRING_KEY_SPANNER_CREATE_BACKUP_DOCS",
              "STRING_KEY_SPANNER_CREATE_BACKUP_SCHEDULES_DOCS",
              "STRING_KEY_SPANNER_PANTHEON_INSTANCE",
              "STRING_KEY_SPANNER_PANTHEON_INSTANCE_BACKUPS",
              "STRING_KEY_SPANNER_AFFECTED_DATABASES",
              "STRING_KEY_SPANNER_PANTHEON_BACKUP_SETTINGS",
              "STRING_KEY_CLOUD_SQL_EDITIONS",
              "STRING_KEY_ALLOYDB_ENABLE_HA_DOCS",
              "STRING_KEY_ALLOYDB_CONFIGURE_BACKUP_POLICY_DOCS",
              "STRING_KEY_VIEW_BACKUP_POLICY_CTA",
              "STRING_KEY_ALLOYDB_BACKUP_COUNT",
              "STRING_KEY_ALLOYDB_BACKUP_POLICY_TYPE",
              "STRING_KEY_DATA_CACHE",
              "STRING_KEY_BACKUP_AND_RESTORE_DATA",
              "STRING_KEY_POINT_IN_TIME_RECOVERY",
              "STRING_KEY_EDIT_BACKUP_SETTINGS",
              "STRING_KEY_GO_TO_RESOURCE",
              "STRING_KEY_OBSERVATION_START",
              "STRING_KEY_OBSERVATION_END",
              "STRING_KEY_STORAGE_UTILIZATION_RATIO",
              "STRING_KEY_CURRENT_AUTOSCALING_NODE_COUNT",
              "STRING_KEY_RECOMMENDED_AUTOSCALING_NODE_COUNT",
              "STRING_KEY_RECOMMENDED_MAINTENANCE_WINDOW",
              "STRING_KEY_FIND_AND_SET_MAINTENANCE_WINDOWS",
              "STRING_KEY_MAXMEMORY_POLICY",
              "STRING_KEY_SYSTEM_MEMORY_USAGE_RATIO",
              "STRING_KEY_FAILED_SNAPSHOTS",
              "STRING_KEY_EXPIRABLE_KEYS_PERCENTAGE",
              "STRING_KEY_OOM_COUNT",
              "STRING_KEY_EDIT_RESOURCE_CTA",
              "STRING_KEY_MEMORYSTORE_MEMORY_MANAGEMENT_BEST_PRACTICES",
              "STRING_KEY_MEMORYSTORE_REDIS_CRASHES",
              "STRING_KEY_BIGTABLE_MIN_NUMBER_OF_NODES_FOR_CUD",
              "STRING_KEY_BIGTABLE_AVERAGE_CLUSTER_NODE_COUNT",
              "STRING_KEY_BIGTABLE_CUD_DOCS",
              "STRING_KEY_SPANNER_MITIGATE_CMEK_ORG_POLICY_VIOLATION_DOCS",
              "STRING_KEY_SPANNER_MITIGATE_DRZ_ORG_POLICY_VIOLATION_DOCS",
              "STRING_KEY_ALLOYDB_RECOMMENDED_BACKUP_COUNT",
              "STRING_KEY_SQLSERVER_BEST_PRACTICES_GLOBAL",
              "STRING_KEY_SQLSERVER_SERVER_MEMORY_CONFIGURATION",
              "STRING_KEY_INSECURE_RULES_AUTHENTICATION",
              "STRING_KEY_KEY_VISUALIZER_CTA",
              "STRING_KEY_SPANNER_SCHEMA",
              "STRING_KEY_SPANNER_SCHEMA_BEST_PRACTICES",
              "STRING_KEY_SPANNER_MANAGE_DATA_USING_CONSOLE",
              "STRING_KEY_SPANNER_MIGRATE_YOUR_DATA",
              "STRING_KEY_SPANNER_MAKE_SCHEMA_UPDATE",
              "STRING_KEY_SPANNER_QUOTA_AND_LIMITS_TABLES",
              "STRING_KEY_SPANNER_PROTOCOL_BUFFER_LIMITATIONS",
              "STRING_KEY_SPANNER_QUERY_INSIGHTS",
              "STRING_KEY_SPANNER_USE_INDEX_ADVISOR",
              "STRING_KEY_SPANNER_SEARCH_INDEXES",
              "STRING_KEY_SPANNER_QUOTA_AND_LIMITS_INDEXES",
              "STRING_KEY_SPANNER_FOREIGN_KEYS",
              "STRING_KEY_SPANNER_CREATE_MANAGE_FOREIGN_KEY_RELATIONSHIPS",
              "STRING_KEY_SPANNER_IMPLEMENT_MULTI_TENANCY",
              "STRING_KEY_SPANNER_DATABASE_SPLITS",
              "STRING_KEY_SPANNER_CREATE_ALERTS_FOR_SPANNER_METRICS",
              "STRING_KEY_SPANNER_QUOTA_AND_LIMITS_SCHEMAS",
              "STRING_KEY_SPANNER_VIEW_OBJECT_CTA",
              "STRING_KEY_SPANNER_QUERY_INSIGHTS_CTA",
              "STRING_KEY_SPANNER_MONITORING_CTA",
              "STRING_KEY_BIGTABLE_CURRENT_CLIENT_LIBRARY_VERSION",
              "STRING_KEY_BIGTABLE_LATEST_CLIENT_LIBRARY_VERSION",
              "STRING_KEY_BIGTABLE_APP_PROFILE_IDS",
              "STRING_KEY_BIGTABLE_CLIENT_LIBRARY_LANGUAGE",
              "STRING_KEY_BIGTABLE_UPGRADING_CLIENTS",
              "STRING_KEY_BIGTABLE_REPLICATION_DELAY_TABLES",
              "STRING_KEY_BIGTABLE_REPLICATION_DELAY_DOCS",
              "STRING_KEY_BIGTABLE_CLIENT_LIBRARIES",
              "STRING_KEY_BIGTABLE_DATABOOST_DOCS",
              "STRING_KEY_INSTANCE_NAME",
              "STRING_KEY_APP_PROFILE_ID",
              "STRING_KEY_CREATE_APP_PROFILE_CTA",
              "STRING_KEY_BIGTABLE_DATABOOST_OVERVIEW_DOCS",
              "STRING_KEY_BIGTABLE_APP_PROFILES_DOCS",
              "STRING_KEY_THREAD_CACHE_SIZE_CURRENT_VALUE",
              "STRING_KEY_THREAD_CACHE_SIZE_RECOMMENDED_VALUE",
              "STRING_KEY_ENABLE_DATABASE_AUDITING",
              "STRING_KEY_JOIN_BUFFER_SIZE_CURRENT_VALUE",
              "STRING_KEY_JOIN_BUFFER_SIZE_RECOMMENDED_VALUE",
              "STRING_KEY_TABLE_OPEN_CACHE_CURRENT_VALUE",
              "STRING_KEY_TABLE_OPEN_CACHE_RECOMMENDED_VALUE",
              "STRING_KEY_NUMBER_OF_TABLES",
              "STRING_KEY_MYSQL_HIGH_NUMBER_OF_TABLES_PLAYBOOK",
              "STRING_KEY_TMP_TABLE_SIZE_CURRENT_VALUE",
              "STRING_KEY_TMP_TABLE_SIZE_RECOMMENDED_VALUE",
              "STRING_KEY_MAX_HEAP_TABLE_SIZE_CURRENT_VALUE",
              "STRING_KEY_MAX_HEAP_TABLE_SIZE_RECOMMENDED_VALUE",
              "STRING_KEY_BINLOG_CACHE_SIZE_CURRENT_VALUE",
              "STRING_KEY_BINLOG_CACHE_SIZE_RECOMMENDED_VALUE",
              "STRING_KEY_BINLOG_STMT_CACHE_SIZE_CURRENT_VALUE",
              "STRING_KEY_BINLOG_STMT_CACHE_SIZE_RECOMMENDED_VALUE",
              "STRING_KEY_INNODB_LOG_BUFFER_SIZE_CURRENT_VALUE",
              "STRING_KEY_INNODB_LOG_BUFFER_SIZE_RECOMMENDED_VALUE",
              "STRING_KEY_TRANSACTION_ID_UTILIZATION_PERCENTAGE",
              "STRING_KEY_DAYS_TO_WRAPAROUND",
              "STRING_KEY_PG_TRANSACTION_ID_UTILIZATION_PLAYBOOK",
              "STRING_KEY_MAX_CPU_UTILIZATION",
              "STRING_KEY_MAX_MEMORY_UTILIZATION",
              "STRING_KEY_DISK_USAGE_BYTES_CHANGE",
              "STRING_KEY_MAX_DISK_READ_OPS_COUNT",
              "STRING_KEY_MAX_DISK_WRITE_OPS_COUNT",
              "STRING_KEY_SQL_IDLE_PLAYBOOK",
              "STRING_KEY_CURRENT_STORAGE_USAGE",
              "STRING_KEY_CURRENT_STORAGE_LIMIT",
              "STRING_KEY_ESTIMATED_STORAGE_RUN_OUT_PERIOD",
              "STRING_KEY_CURRENT_MACHINE_TYPE",
              "STRING_KEY_RECOMMENDED_MACHINE_TYPE",
              "STRING_KEY_CURRENT_CORES",
              "STRING_KEY_RECOMMENDED_CORES",
              "STRING_KEY_REVIEW_ORG_POLICY",
              "STRING_KEY_USE_AUTH_PROXY_OR_CONNECTORS",
              "STRING_KEY_REMOVE_AUTHORIZED_NETWORKS",
              "STRING_KEY_ROTATE_SERVER_CERTIFICATE",
              "STRING_KEY_MANAGE_SERVER_CERTIFICATES",
              "STRING_KEY_PUBLIC_IP_ENABLED",
              "STRING_KEY_PRIVATE_IP_ENABLED",
              "STRING_KEY_CONFIGURE_PRIVATE_IP",
              "STRING_KEY_DISABLE_PUBLIC_IP",
              "STRING_KEY_CPU_UTILIZATION_OUT_OF_SLA",
              "STRING_KEY_CPU_UTILIZATION_OUT_OF_SLA_LATEST_TIMESTAMP",
              "STRING_KEY_MEMORY_UTILIZATION_OUT_OF_SLA",
              "STRING_KEY_MEMORY_UTILIZATION_OUT_OF_SLA_LATEST_TIMESTAMP",
              "STRING_KEY_ESTIMATED_OOM_PROBABILITY",
              "STRING_KEY_MAX_CONNECTIONS_CURRENT_VALUE",
              "STRING_KEY_MAX_CONNECTIONS_RECOMMENDED_VALUE"
            ],
            "enumDescriptions": [
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              ""
            ]
          },
          "description": "Headers for the table. IMPORTANT: Each header defines a column and its title. All Headers must be unique and shouldn't be used more than once within the same list."
        },
        "rows": {
          "type": "array",
          "description": "Rows for the table. Ensure that the order of the cells in the row matches the order of the headers.",
          "items": {
            "$ref": "CloudRecommendationsRecommendersDatabasesV1TableRow"
          }
        }
      },
      "id": "CloudRecommendationsRecommendersDatabasesV1Table",
      "description": "Field for adding custom complex table"
    },
    "GoogleCloudRecommenderV1Insight": {
      "description": "An insight along with the information used to derive the insight. The insight may have associated recommendations as well.",
      "id": "GoogleCloudRecommenderV1Insight",
      "properties": {
        "etag": {
          "type": "string",
          "description": "Fingerprint of the Insight. Provides optimistic locking when updating states."
        },
        "targetResources": {
          "description": "Fully qualified resource names that this insight is targeting.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "insightSubtype": {
          "description": "Insight subtype. Insight content schema will be stable for a given subtype.",
          "type": "string"
        },
        "severity": {
          "type": "string",
          "enum": [
            "SEVERITY_UNSPECIFIED",
            "LOW",
            "MEDIUM",
            "HIGH",
            "CRITICAL"
          ],
          "description": "Insight's severity.",
          "enumDescriptions": [
            "Insight has unspecified severity.",
            "Insight has low severity.",
            "Insight has medium severity.",
            "Insight has high severity.",
            "Insight has critical severity."
          ]
        },
        "stateInfo": {
          "description": "Information state and metadata.",
          "$ref": "GoogleCloudRecommenderV1InsightStateInfo"
        },
        "observationPeriod": {
          "format": "google-duration",
          "type": "string",
          "description": "Observation period that led to the insight. The source data used to generate the insight ends at last_refresh_time and begins at (last_refresh_time - observation_period)."
        },
        "content": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "description": "A struct of custom fields to explain the insight. Example: \"grantedPermissionsCount\": \"1000\""
        },
        "description": {
          "description": "Free-form human readable summary in English. The maximum length is 500 characters.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Identifier. Name of the insight."
        },
        "category": {
          "enumDescriptions": [
            "Unspecified category.",
            "The insight is related to cost.",
            "The insight is related to security.",
            "The insight is related to performance.",
            "This insight is related to manageability.",
            "The insight is related to sustainability.",
            "This insight is related to reliability."
          ],
          "type": "string",
          "enum": [
            "CATEGORY_UNSPECIFIED",
            "COST",
            "SECURITY",
            "PERFORMANCE",
            "MANAGEABILITY",
            "SUSTAINABILITY",
            "RELIABILITY"
          ],
          "description": "Category being targeted by the insight."
        },
        "lastRefreshTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Timestamp of the latest data used to generate the insight."
        },
        "associatedRecommendations": {
          "type": "array",
          "description": "Recommendations derived from this insight.",
          "items": {
            "$ref": "GoogleCloudRecommenderV1InsightRecommendationReference"
          }
        }
      },
      "type": "object"
    },
    "CloudRecommendationsRecommendersDatabasesV1SimpleValue": {
      "id": "CloudRecommendationsRecommendersDatabasesV1SimpleValue",
      "properties": {
        "timestampValue": {
          "format": "google-datetime",
          "description": "Timestamp value for the table cell.",
          "type": "string"
        },
        "numberValue": {
          "format": "double",
          "type": "number",
          "description": "Number value for the table cell."
        },
        "stringValue": {
          "description": "String value for the table cell. This should be used when value doesn't need to be translated.",
          "type": "string"
        },
        "linkValue": {
          "description": "Link value for the table cell.",
          "$ref": "CloudRecommendationsRecommendersDatabasesV1Link"
        },
        "enumValue": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "description": "Enum value for the table cell. This should be used when value MUST be translated and represents common status/field like Enabled, Disabled, Success, Failure, etc.",
          "type": "string",
          "enum": [
            "STRING_KEY_UNSPECIFIED",
            "STRING_KEY_VIEW_INSTANCE_CTA",
            "STRING_KEY_EDIT_INSTANCE",
            "STRING_KEY_EDIT_USERS",
            "STRING_KEY_MYSQL_FLAG_DEFAULT_AUTHENTICATION_PLUGIN",
            "STRING_KEY_PG_FLAG_PASSWORD_ENCRYPTION",
            "STRING_KEY_ENABLE_USER_PASSWORD_POLICIES",
            "STRING_KEY_CONFIGURE_AUTHENTICATION",
            "STRING_KEY_CONFIGURE_DATABASE_FLAGS",
            "STRING_KEY_AVERAGE_CPU_USAGE",
            "STRING_KEY_OBSERVATION_TIME",
            "STRING_KEY_CONFIGURE_AUTOSCALING",
            "STRING_KEY_VIEW_CLUSTER_CTA",
            "STRING_KEY_EDIT_DISASTER_RECOVERY_SETTINGS",
            "STRING_KEY_ENABLE_SCHEDULED_BACKUPS",
            "STRING_KEY_ENABLE_POINT_IN_TIME_RECOVERY",
            "STRING_KEY_SCHEDULED_BACKUPS_ENABLEMENT",
            "STRING_KEY_PITR_ENABLEMENT",
            "STRING_KEY_INSECURE_RULES_DETECTED",
            "STRING_KEY_EXPIRING_RULES_DETECTED",
            "STRING_KEY_FIX_INSECURE_AND_EXPIRING_RULES",
            "STRING_KEY_EDIT_FIREBASE_RULES",
            "STRING_KEY_MAXIMUM_OF_PREDICTED_DISK_USAGE_FOR_THE_NEXT_7_DAYS",
            "STRING_KEY_STORAGE_CAPACITY_OF_THE_CLUSTER",
            "STRING_KEY_PER_NODE_STORAGE_CAPACITY_OF_THE_CLUSTER",
            "STRING_KEY_CURRENT_AUTOSCALING_MIN_NODE_COUNT",
            "STRING_KEY_CURRENT_AUTOSCALING_MAX_NODE_COUNT",
            "STRING_KEY_ABOUT_MAINTENANCE",
            "STRING_KEY_ABOUT_SCALING_UP",
            "STRING_KEY_CURRENT_MEMORY_SIZE_GB",
            "STRING_KEY_RECOMMENDED_MEMORY_SIZE_GB",
            "STRING_KEY_PEAK_MEMORY_USAGE_RATIO",
            "STRING_KEY_RECOMMENDED_AUTOSCALING_MIN_NODE_COUNT",
            "STRING_KEY_RECOMMENDED_AUTOSCALING_MAX_NODE_COUNT",
            "STRING_KEY_CURRENT_STORAGE_USED_BYTES_OF_THE_CLUSTER",
            "STRING_KEY_ABOUT_SCALING_OUT",
            "STRING_KEY_PEAK_MEMORY_USAGE_RATIO_ACROSS_SHARDS",
            "STRING_KEY_CURRENT_NUMBER_OF_SHARDS",
            "STRING_KEY_RECOMMENDED_NUMBER_OF_SHARDS",
            "STRING_KEY_ABOUT_AVOIDING_EXPENSIVE_COMMANDS",
            "STRING_KEY_EXPENSIVE_COMMANDS",
            "STRING_KEY_UPGRADE_TO_ENTERPRISE_PLUS_EDITION",
            "STRING_KEY_ENABLE_DATA_CACHE",
            "STRING_KEY_OBSERVATION_PERIOD",
            "STRING_KEY_LAST_DEFERRED_MAINTENANCE_OPERATION_TIME",
            "STRING_KEY_LAST_INSTANCE_MAINTENANCE_EVENT",
            "STRING_KEY_USE_AUTO_MSM",
            "STRING_KEY_CURRENT_MAX_SERVER_MEMORY_MB",
            "STRING_KEY_AUTOSCALING_CONFIGURATION",
            "STRING_KEY_SCALING_DOCS",
            "STRING_KEY_MODIFY_INSTANCE",
            "STRING_KEY_HOTSPOTS_AFFECTED_TABLES",
            "STRING_KEY_HOT_TABLETS_DOCS",
            "STRING_KEY_KEY_VISUALIZER_DOCS",
            "STRING_KEY_BIGTABLE_PERFORMANCE_DOCS",
            "STRING_KEY_VIEW_USERS",
            "STRING_KEY_SPANNER_PREVENT_ACCIDENTAL_DELETION_DOCS",
            "STRING_KEY_SPANNER_ENABLE_DATABASE_DELETION_PROTECTION_DOCS",
            "STRING_KEY_SPANNER_BACKUPS_DOCS",
            "STRING_KEY_SPANNER_CREATE_BACKUP_DOCS",
            "STRING_KEY_SPANNER_CREATE_BACKUP_SCHEDULES_DOCS",
            "STRING_KEY_SPANNER_PANTHEON_INSTANCE",
            "STRING_KEY_SPANNER_PANTHEON_INSTANCE_BACKUPS",
            "STRING_KEY_SPANNER_AFFECTED_DATABASES",
            "STRING_KEY_SPANNER_PANTHEON_BACKUP_SETTINGS",
            "STRING_KEY_CLOUD_SQL_EDITIONS",
            "STRING_KEY_ALLOYDB_ENABLE_HA_DOCS",
            "STRING_KEY_ALLOYDB_CONFIGURE_BACKUP_POLICY_DOCS",
            "STRING_KEY_VIEW_BACKUP_POLICY_CTA",
            "STRING_KEY_ALLOYDB_BACKUP_COUNT",
            "STRING_KEY_ALLOYDB_BACKUP_POLICY_TYPE",
            "STRING_KEY_DATA_CACHE",
            "STRING_KEY_BACKUP_AND_RESTORE_DATA",
            "STRING_KEY_POINT_IN_TIME_RECOVERY",
            "STRING_KEY_EDIT_BACKUP_SETTINGS",
            "STRING_KEY_GO_TO_RESOURCE",
            "STRING_KEY_OBSERVATION_START",
            "STRING_KEY_OBSERVATION_END",
            "STRING_KEY_STORAGE_UTILIZATION_RATIO",
            "STRING_KEY_CURRENT_AUTOSCALING_NODE_COUNT",
            "STRING_KEY_RECOMMENDED_AUTOSCALING_NODE_COUNT",
            "STRING_KEY_RECOMMENDED_MAINTENANCE_WINDOW",
            "STRING_KEY_FIND_AND_SET_MAINTENANCE_WINDOWS",
            "STRING_KEY_MAXMEMORY_POLICY",
            "STRING_KEY_SYSTEM_MEMORY_USAGE_RATIO",
            "STRING_KEY_FAILED_SNAPSHOTS",
            "STRING_KEY_EXPIRABLE_KEYS_PERCENTAGE",
            "STRING_KEY_OOM_COUNT",
            "STRING_KEY_EDIT_RESOURCE_CTA",
            "STRING_KEY_MEMORYSTORE_MEMORY_MANAGEMENT_BEST_PRACTICES",
            "STRING_KEY_MEMORYSTORE_REDIS_CRASHES",
            "STRING_KEY_BIGTABLE_MIN_NUMBER_OF_NODES_FOR_CUD",
            "STRING_KEY_BIGTABLE_AVERAGE_CLUSTER_NODE_COUNT",
            "STRING_KEY_BIGTABLE_CUD_DOCS",
            "STRING_KEY_SPANNER_MITIGATE_CMEK_ORG_POLICY_VIOLATION_DOCS",
            "STRING_KEY_SPANNER_MITIGATE_DRZ_ORG_POLICY_VIOLATION_DOCS",
            "STRING_KEY_ALLOYDB_RECOMMENDED_BACKUP_COUNT",
            "STRING_KEY_SQLSERVER_BEST_PRACTICES_GLOBAL",
            "STRING_KEY_SQLSERVER_SERVER_MEMORY_CONFIGURATION",
            "STRING_KEY_INSECURE_RULES_AUTHENTICATION",
            "STRING_KEY_KEY_VISUALIZER_CTA",
            "STRING_KEY_SPANNER_SCHEMA",
            "STRING_KEY_SPANNER_SCHEMA_BEST_PRACTICES",
            "STRING_KEY_SPANNER_MANAGE_DATA_USING_CONSOLE",
            "STRING_KEY_SPANNER_MIGRATE_YOUR_DATA",
            "STRING_KEY_SPANNER_MAKE_SCHEMA_UPDATE",
            "STRING_KEY_SPANNER_QUOTA_AND_LIMITS_TABLES",
            "STRING_KEY_SPANNER_PROTOCOL_BUFFER_LIMITATIONS",
            "STRING_KEY_SPANNER_QUERY_INSIGHTS",
            "STRING_KEY_SPANNER_USE_INDEX_ADVISOR",
            "STRING_KEY_SPANNER_SEARCH_INDEXES",
            "STRING_KEY_SPANNER_QUOTA_AND_LIMITS_INDEXES",
            "STRING_KEY_SPANNER_FOREIGN_KEYS",
            "STRING_KEY_SPANNER_CREATE_MANAGE_FOREIGN_KEY_RELATIONSHIPS",
            "STRING_KEY_SPANNER_IMPLEMENT_MULTI_TENANCY",
            "STRING_KEY_SPANNER_DATABASE_SPLITS",
            "STRING_KEY_SPANNER_CREATE_ALERTS_FOR_SPANNER_METRICS",
            "STRING_KEY_SPANNER_QUOTA_AND_LIMITS_SCHEMAS",
            "STRING_KEY_SPANNER_VIEW_OBJECT_CTA",
            "STRING_KEY_SPANNER_QUERY_INSIGHTS_CTA",
            "STRING_KEY_SPANNER_MONITORING_CTA",
            "STRING_KEY_BIGTABLE_CURRENT_CLIENT_LIBRARY_VERSION",
            "STRING_KEY_BIGTABLE_LATEST_CLIENT_LIBRARY_VERSION",
            "STRING_KEY_BIGTABLE_APP_PROFILE_IDS",
            "STRING_KEY_BIGTABLE_CLIENT_LIBRARY_LANGUAGE",
            "STRING_KEY_BIGTABLE_UPGRADING_CLIENTS",
            "STRING_KEY_BIGTABLE_REPLICATION_DELAY_TABLES",
            "STRING_KEY_BIGTABLE_REPLICATION_DELAY_DOCS",
            "STRING_KEY_BIGTABLE_CLIENT_LIBRARIES",
            "STRING_KEY_BIGTABLE_DATABOOST_DOCS",
            "STRING_KEY_INSTANCE_NAME",
            "STRING_KEY_APP_PROFILE_ID",
            "STRING_KEY_CREATE_APP_PROFILE_CTA",
            "STRING_KEY_BIGTABLE_DATABOOST_OVERVIEW_DOCS",
            "STRING_KEY_BIGTABLE_APP_PROFILES_DOCS",
            "STRING_KEY_THREAD_CACHE_SIZE_CURRENT_VALUE",
            "STRING_KEY_THREAD_CACHE_SIZE_RECOMMENDED_VALUE",
            "STRING_KEY_ENABLE_DATABASE_AUDITING",
            "STRING_KEY_JOIN_BUFFER_SIZE_CURRENT_VALUE",
            "STRING_KEY_JOIN_BUFFER_SIZE_RECOMMENDED_VALUE",
            "STRING_KEY_TABLE_OPEN_CACHE_CURRENT_VALUE",
            "STRING_KEY_TABLE_OPEN_CACHE_RECOMMENDED_VALUE",
            "STRING_KEY_NUMBER_OF_TABLES",
            "STRING_KEY_MYSQL_HIGH_NUMBER_OF_TABLES_PLAYBOOK",
            "STRING_KEY_TMP_TABLE_SIZE_CURRENT_VALUE",
            "STRING_KEY_TMP_TABLE_SIZE_RECOMMENDED_VALUE",
            "STRING_KEY_MAX_HEAP_TABLE_SIZE_CURRENT_VALUE",
            "STRING_KEY_MAX_HEAP_TABLE_SIZE_RECOMMENDED_VALUE",
            "STRING_KEY_BINLOG_CACHE_SIZE_CURRENT_VALUE",
            "STRING_KEY_BINLOG_CACHE_SIZE_RECOMMENDED_VALUE",
            "STRING_KEY_BINLOG_STMT_CACHE_SIZE_CURRENT_VALUE",
            "STRING_KEY_BINLOG_STMT_CACHE_SIZE_RECOMMENDED_VALUE",
            "STRING_KEY_INNODB_LOG_BUFFER_SIZE_CURRENT_VALUE",
            "STRING_KEY_INNODB_LOG_BUFFER_SIZE_RECOMMENDED_VALUE",
            "STRING_KEY_TRANSACTION_ID_UTILIZATION_PERCENTAGE",
            "STRING_KEY_DAYS_TO_WRAPAROUND",
            "STRING_KEY_PG_TRANSACTION_ID_UTILIZATION_PLAYBOOK",
            "STRING_KEY_MAX_CPU_UTILIZATION",
            "STRING_KEY_MAX_MEMORY_UTILIZATION",
            "STRING_KEY_DISK_USAGE_BYTES_CHANGE",
            "STRING_KEY_MAX_DISK_READ_OPS_COUNT",
            "STRING_KEY_MAX_DISK_WRITE_OPS_COUNT",
            "STRING_KEY_SQL_IDLE_PLAYBOOK",
            "STRING_KEY_CURRENT_STORAGE_USAGE",
            "STRING_KEY_CURRENT_STORAGE_LIMIT",
            "STRING_KEY_ESTIMATED_STORAGE_RUN_OUT_PERIOD",
            "STRING_KEY_CURRENT_MACHINE_TYPE",
            "STRING_KEY_RECOMMENDED_MACHINE_TYPE",
            "STRING_KEY_CURRENT_CORES",
            "STRING_KEY_RECOMMENDED_CORES",
            "STRING_KEY_REVIEW_ORG_POLICY",
            "STRING_KEY_USE_AUTH_PROXY_OR_CONNECTORS",
            "STRING_KEY_REMOVE_AUTHORIZED_NETWORKS",
            "STRING_KEY_ROTATE_SERVER_CERTIFICATE",
            "STRING_KEY_MANAGE_SERVER_CERTIFICATES",
            "STRING_KEY_PUBLIC_IP_ENABLED",
            "STRING_KEY_PRIVATE_IP_ENABLED",
            "STRING_KEY_CONFIGURE_PRIVATE_IP",
            "STRING_KEY_DISABLE_PUBLIC_IP",
            "STRING_KEY_CPU_UTILIZATION_OUT_OF_SLA",
            "STRING_KEY_CPU_UTILIZATION_OUT_OF_SLA_LATEST_TIMESTAMP",
            "STRING_KEY_MEMORY_UTILIZATION_OUT_OF_SLA",
            "STRING_KEY_MEMORY_UTILIZATION_OUT_OF_SLA_LATEST_TIMESTAMP",
            "STRING_KEY_ESTIMATED_OOM_PROBABILITY",
            "STRING_KEY_MAX_CONNECTIONS_CURRENT_VALUE",
            "STRING_KEY_MAX_CONNECTIONS_RECOMMENDED_VALUE"
          ]
        }
      },
      "type": "object"
    },
    "GoogleCloudRecommenderV1ListInsightsResponse": {
      "properties": {
        "insights": {
          "items": {
            "$ref": "GoogleCloudRecommenderV1Insight"
          },
          "type": "array",
          "description": "The set of insights for the `parent` resource."
        },
        "nextPageToken": {
          "description": "A token that can be used to request the next page of results. This field is empty if there are no additional results.",
          "type": "string"
        }
      },
      "id": "GoogleCloudRecommenderV1ListInsightsResponse",
      "type": "object",
      "description": "Response to the `ListInsights` method."
    },
    "GoogleCloudRecommenderV1Recommendation": {
      "description": "A recommendation along with a suggested action. E.g., a rightsizing recommendation for an underutilized VM, IAM role recommendations, etc",
      "properties": {
        "additionalImpact": {
          "description": "Optional set of additional impact that this recommendation may have when trying to optimize for the primary category. These may be positive or negative.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudRecommenderV1Impact"
          }
        },
        "associatedInsights": {
          "type": "array",
          "description": "Insights that led to this recommendation.",
          "items": {
            "$ref": "GoogleCloudRecommenderV1RecommendationInsightReference"
          }
        },
        "name": {
          "type": "string",
          "description": "Identifier. Name of recommendation."
        },
        "description": {
          "description": "Free-form human readable summary in English. The maximum length is 500 characters.",
          "type": "string"
        },
        "stateInfo": {
          "description": "Information for state. Contains state and metadata.",
          "$ref": "GoogleCloudRecommenderV1RecommendationStateInfo"
        },
        "recommenderSubtype": {
          "type": "string",
          "description": "Contains an identifier for a subtype of recommendations produced for the same recommender. Subtype is a function of content and impact, meaning a new subtype might be added when significant changes to `content` or `primary_impact.category` are introduced. See the Recommenders section to see a list of subtypes for a given Recommender. Examples: For recommender = \"google.iam.policy.Recommender\", recommender_subtype can be one of \"REMOVE_ROLE\"/\"REPLACE_ROLE\""
        },
        "priority": {
          "type": "string",
          "enum": [
            "PRIORITY_UNSPECIFIED",
            "P4",
            "P3",
            "P2",
            "P1"
          ],
          "description": "Recommendation's priority.",
          "enumDescriptions": [
            "Recommendation has unspecified priority.",
            "Recommendation has P4 priority (lowest priority).",
            "Recommendation has P3 priority (second lowest priority).",
            "Recommendation has P2 priority (second highest priority).",
            "Recommendation has P1 priority (highest priority)."
          ]
        },
        "targetResources": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Fully qualified resource names that this recommendation is targeting."
        },
        "etag": {
          "description": "Fingerprint of the Recommendation. Provides optimistic locking when updating states.",
          "type": "string"
        },
        "lastRefreshTime": {
          "description": "Last time this recommendation was refreshed by the system that created it in the first place.",
          "type": "string",
          "format": "google-datetime"
        },
        "xorGroupId": {
          "description": "Corresponds to a mutually exclusive group ID within a recommender. A non-empty ID indicates that the recommendation belongs to a mutually exclusive group. This means that only one recommendation within the group is suggested to be applied.",
          "type": "string"
        },
        "content": {
          "description": "Content of the recommendation describing recommended changes to resources.",
          "$ref": "GoogleCloudRecommenderV1RecommendationContent"
        },
        "primaryImpact": {
          "description": "The primary impact that this recommendation can have while trying to optimize for one category.",
          "$ref": "GoogleCloudRecommenderV1Impact"
        }
      },
      "id": "GoogleCloudRecommenderV1Recommendation",
      "type": "object"
    },
    "CloudRecommendationsRecommendersDatabasesV1TableField": {
      "type": "object",
      "properties": {
        "stringValue": {
          "description": "String value for the table field. Note that this string won't be translated. It is advised to provide values that don't require translation.",
          "type": "string"
        },
        "timestampValue": {
          "description": "Timestamp value for the table field. Timestamp will be shown in the user's timezone with the format: \"Feb 27, 2009 3:22:54 PM\".",
          "type": "string",
          "format": "google-datetime"
        },
        "numberValue": {
          "format": "double",
          "type": "number",
          "description": "Number value for the table field."
        },
        "key": {
          "type": "string",
          "enum": [
            "STRING_KEY_UNSPECIFIED",
            "STRING_KEY_VIEW_INSTANCE_CTA",
            "STRING_KEY_EDIT_INSTANCE",
            "STRING_KEY_EDIT_USERS",
            "STRING_KEY_MYSQL_FLAG_DEFAULT_AUTHENTICATION_PLUGIN",
            "STRING_KEY_PG_FLAG_PASSWORD_ENCRYPTION",
            "STRING_KEY_ENABLE_USER_PASSWORD_POLICIES",
            "STRING_KEY_CONFIGURE_AUTHENTICATION",
            "STRING_KEY_CONFIGURE_DATABASE_FLAGS",
            "STRING_KEY_AVERAGE_CPU_USAGE",
            "STRING_KEY_OBSERVATION_TIME",
            "STRING_KEY_CONFIGURE_AUTOSCALING",
            "STRING_KEY_VIEW_CLUSTER_CTA",
            "STRING_KEY_EDIT_DISASTER_RECOVERY_SETTINGS",
            "STRING_KEY_ENABLE_SCHEDULED_BACKUPS",
            "STRING_KEY_ENABLE_POINT_IN_TIME_RECOVERY",
            "STRING_KEY_SCHEDULED_BACKUPS_ENABLEMENT",
            "STRING_KEY_PITR_ENABLEMENT",
            "STRING_KEY_INSECURE_RULES_DETECTED",
            "STRING_KEY_EXPIRING_RULES_DETECTED",
            "STRING_KEY_FIX_INSECURE_AND_EXPIRING_RULES",
            "STRING_KEY_EDIT_FIREBASE_RULES",
            "STRING_KEY_MAXIMUM_OF_PREDICTED_DISK_USAGE_FOR_THE_NEXT_7_DAYS",
            "STRING_KEY_STORAGE_CAPACITY_OF_THE_CLUSTER",
            "STRING_KEY_PER_NODE_STORAGE_CAPACITY_OF_THE_CLUSTER",
            "STRING_KEY_CURRENT_AUTOSCALING_MIN_NODE_COUNT",
            "STRING_KEY_CURRENT_AUTOSCALING_MAX_NODE_COUNT",
            "STRING_KEY_ABOUT_MAINTENANCE",
            "STRING_KEY_ABOUT_SCALING_UP",
            "STRING_KEY_CURRENT_MEMORY_SIZE_GB",
            "STRING_KEY_RECOMMENDED_MEMORY_SIZE_GB",
            "STRING_KEY_PEAK_MEMORY_USAGE_RATIO",
            "STRING_KEY_RECOMMENDED_AUTOSCALING_MIN_NODE_COUNT",
            "STRING_KEY_RECOMMENDED_AUTOSCALING_MAX_NODE_COUNT",
            "STRING_KEY_CURRENT_STORAGE_USED_BYTES_OF_THE_CLUSTER",
            "STRING_KEY_ABOUT_SCALING_OUT",
            "STRING_KEY_PEAK_MEMORY_USAGE_RATIO_ACROSS_SHARDS",
            "STRING_KEY_CURRENT_NUMBER_OF_SHARDS",
            "STRING_KEY_RECOMMENDED_NUMBER_OF_SHARDS",
            "STRING_KEY_ABOUT_AVOIDING_EXPENSIVE_COMMANDS",
            "STRING_KEY_EXPENSIVE_COMMANDS",
            "STRING_KEY_UPGRADE_TO_ENTERPRISE_PLUS_EDITION",
            "STRING_KEY_ENABLE_DATA_CACHE",
            "STRING_KEY_OBSERVATION_PERIOD",
            "STRING_KEY_LAST_DEFERRED_MAINTENANCE_OPERATION_TIME",
            "STRING_KEY_LAST_INSTANCE_MAINTENANCE_EVENT",
            "STRING_KEY_USE_AUTO_MSM",
            "STRING_KEY_CURRENT_MAX_SERVER_MEMORY_MB",
            "STRING_KEY_AUTOSCALING_CONFIGURATION",
            "STRING_KEY_SCALING_DOCS",
            "STRING_KEY_MODIFY_INSTANCE",
            "STRING_KEY_HOTSPOTS_AFFECTED_TABLES",
            "STRING_KEY_HOT_TABLETS_DOCS",
            "STRING_KEY_KEY_VISUALIZER_DOCS",
            "STRING_KEY_BIGTABLE_PERFORMANCE_DOCS",
            "STRING_KEY_VIEW_USERS",
            "STRING_KEY_SPANNER_PREVENT_ACCIDENTAL_DELETION_DOCS",
            "STRING_KEY_SPANNER_ENABLE_DATABASE_DELETION_PROTECTION_DOCS",
            "STRING_KEY_SPANNER_BACKUPS_DOCS",
            "STRING_KEY_SPANNER_CREATE_BACKUP_DOCS",
            "STRING_KEY_SPANNER_CREATE_BACKUP_SCHEDULES_DOCS",
            "STRING_KEY_SPANNER_PANTHEON_INSTANCE",
            "STRING_KEY_SPANNER_PANTHEON_INSTANCE_BACKUPS",
            "STRING_KEY_SPANNER_AFFECTED_DATABASES",
            "STRING_KEY_SPANNER_PANTHEON_BACKUP_SETTINGS",
            "STRING_KEY_CLOUD_SQL_EDITIONS",
            "STRING_KEY_ALLOYDB_ENABLE_HA_DOCS",
            "STRING_KEY_ALLOYDB_CONFIGURE_BACKUP_POLICY_DOCS",
            "STRING_KEY_VIEW_BACKUP_POLICY_CTA",
            "STRING_KEY_ALLOYDB_BACKUP_COUNT",
            "STRING_KEY_ALLOYDB_BACKUP_POLICY_TYPE",
            "STRING_KEY_DATA_CACHE",
            "STRING_KEY_BACKUP_AND_RESTORE_DATA",
            "STRING_KEY_POINT_IN_TIME_RECOVERY",
            "STRING_KEY_EDIT_BACKUP_SETTINGS",
            "STRING_KEY_GO_TO_RESOURCE",
            "STRING_KEY_OBSERVATION_START",
            "STRING_KEY_OBSERVATION_END",
            "STRING_KEY_STORAGE_UTILIZATION_RATIO",
            "STRING_KEY_CURRENT_AUTOSCALING_NODE_COUNT",
            "STRING_KEY_RECOMMENDED_AUTOSCALING_NODE_COUNT",
            "STRING_KEY_RECOMMENDED_MAINTENANCE_WINDOW",
            "STRING_KEY_FIND_AND_SET_MAINTENANCE_WINDOWS",
            "STRING_KEY_MAXMEMORY_POLICY",
            "STRING_KEY_SYSTEM_MEMORY_USAGE_RATIO",
            "STRING_KEY_FAILED_SNAPSHOTS",
            "STRING_KEY_EXPIRABLE_KEYS_PERCENTAGE",
            "STRING_KEY_OOM_COUNT",
            "STRING_KEY_EDIT_RESOURCE_CTA",
            "STRING_KEY_MEMORYSTORE_MEMORY_MANAGEMENT_BEST_PRACTICES",
            "STRING_KEY_MEMORYSTORE_REDIS_CRASHES",
            "STRING_KEY_BIGTABLE_MIN_NUMBER_OF_NODES_FOR_CUD",
            "STRING_KEY_BIGTABLE_AVERAGE_CLUSTER_NODE_COUNT",
            "STRING_KEY_BIGTABLE_CUD_DOCS",
            "STRING_KEY_SPANNER_MITIGATE_CMEK_ORG_POLICY_VIOLATION_DOCS",
            "STRING_KEY_SPANNER_MITIGATE_DRZ_ORG_POLICY_VIOLATION_DOCS",
            "STRING_KEY_ALLOYDB_RECOMMENDED_BACKUP_COUNT",
            "STRING_KEY_SQLSERVER_BEST_PRACTICES_GLOBAL",
            "STRING_KEY_SQLSERVER_SERVER_MEMORY_CONFIGURATION",
            "STRING_KEY_INSECURE_RULES_AUTHENTICATION",
            "STRING_KEY_KEY_VISUALIZER_CTA",
            "STRING_KEY_SPANNER_SCHEMA",
            "STRING_KEY_SPANNER_SCHEMA_BEST_PRACTICES",
            "STRING_KEY_SPANNER_MANAGE_DATA_USING_CONSOLE",
            "STRING_KEY_SPANNER_MIGRATE_YOUR_DATA",
            "STRING_KEY_SPANNER_MAKE_SCHEMA_UPDATE",
            "STRING_KEY_SPANNER_QUOTA_AND_LIMITS_TABLES",
            "STRING_KEY_SPANNER_PROTOCOL_BUFFER_LIMITATIONS",
            "STRING_KEY_SPANNER_QUERY_INSIGHTS",
            "STRING_KEY_SPANNER_USE_INDEX_ADVISOR",
            "STRING_KEY_SPANNER_SEARCH_INDEXES",
            "STRING_KEY_SPANNER_QUOTA_AND_LIMITS_INDEXES",
            "STRING_KEY_SPANNER_FOREIGN_KEYS",
            "STRING_KEY_SPANNER_CREATE_MANAGE_FOREIGN_KEY_RELATIONSHIPS",
            "STRING_KEY_SPANNER_IMPLEMENT_MULTI_TENANCY",
            "STRING_KEY_SPANNER_DATABASE_SPLITS",
            "STRING_KEY_SPANNER_CREATE_ALERTS_FOR_SPANNER_METRICS",
            "STRING_KEY_SPANNER_QUOTA_AND_LIMITS_SCHEMAS",
            "STRING_KEY_SPANNER_VIEW_OBJECT_CTA",
            "STRING_KEY_SPANNER_QUERY_INSIGHTS_CTA",
            "STRING_KEY_SPANNER_MONITORING_CTA",
            "STRING_KEY_BIGTABLE_CURRENT_CLIENT_LIBRARY_VERSION",
            "STRING_KEY_BIGTABLE_LATEST_CLIENT_LIBRARY_VERSION",
            "STRING_KEY_BIGTABLE_APP_PROFILE_IDS",
            "STRING_KEY_BIGTABLE_CLIENT_LIBRARY_LANGUAGE",
            "STRING_KEY_BIGTABLE_UPGRADING_CLIENTS",
            "STRING_KEY_BIGTABLE_REPLICATION_DELAY_TABLES",
            "STRING_KEY_BIGTABLE_REPLICATION_DELAY_DOCS",
            "STRING_KEY_BIGTABLE_CLIENT_LIBRARIES",
            "STRING_KEY_BIGTABLE_DATABOOST_DOCS",
            "STRING_KEY_INSTANCE_NAME",
            "STRING_KEY_APP_PROFILE_ID",
            "STRING_KEY_CREATE_APP_PROFILE_CTA",
            "STRING_KEY_BIGTABLE_DATABOOST_OVERVIEW_DOCS",
            "STRING_KEY_BIGTABLE_APP_PROFILES_DOCS",
            "STRING_KEY_THREAD_CACHE_SIZE_CURRENT_VALUE",
            "STRING_KEY_THREAD_CACHE_SIZE_RECOMMENDED_VALUE",
            "STRING_KEY_ENABLE_DATABASE_AUDITING",
            "STRING_KEY_JOIN_BUFFER_SIZE_CURRENT_VALUE",
            "STRING_KEY_JOIN_BUFFER_SIZE_RECOMMENDED_VALUE",
            "STRING_KEY_TABLE_OPEN_CACHE_CURRENT_VALUE",
            "STRING_KEY_TABLE_OPEN_CACHE_RECOMMENDED_VALUE",
            "STRING_KEY_NUMBER_OF_TABLES",
            "STRING_KEY_MYSQL_HIGH_NUMBER_OF_TABLES_PLAYBOOK",
            "STRING_KEY_TMP_TABLE_SIZE_CURRENT_VALUE",
            "STRING_KEY_TMP_TABLE_SIZE_RECOMMENDED_VALUE",
            "STRING_KEY_MAX_HEAP_TABLE_SIZE_CURRENT_VALUE",
            "STRING_KEY_MAX_HEAP_TABLE_SIZE_RECOMMENDED_VALUE",
            "STRING_KEY_BINLOG_CACHE_SIZE_CURRENT_VALUE",
            "STRING_KEY_BINLOG_CACHE_SIZE_RECOMMENDED_VALUE",
            "STRING_KEY_BINLOG_STMT_CACHE_SIZE_CURRENT_VALUE",
            "STRING_KEY_BINLOG_STMT_CACHE_SIZE_RECOMMENDED_VALUE",
            "STRING_KEY_INNODB_LOG_BUFFER_SIZE_CURRENT_VALUE",
            "STRING_KEY_INNODB_LOG_BUFFER_SIZE_RECOMMENDED_VALUE",
            "STRING_KEY_TRANSACTION_ID_UTILIZATION_PERCENTAGE",
            "STRING_KEY_DAYS_TO_WRAPAROUND",
            "STRING_KEY_PG_TRANSACTION_ID_UTILIZATION_PLAYBOOK",
            "STRING_KEY_MAX_CPU_UTILIZATION",
            "STRING_KEY_MAX_MEMORY_UTILIZATION",
            "STRING_KEY_DISK_USAGE_BYTES_CHANGE",
            "STRING_KEY_MAX_DISK_READ_OPS_COUNT",
            "STRING_KEY_MAX_DISK_WRITE_OPS_COUNT",
            "STRING_KEY_SQL_IDLE_PLAYBOOK",
            "STRING_KEY_CURRENT_STORAGE_USAGE",
            "STRING_KEY_CURRENT_STORAGE_LIMIT",
            "STRING_KEY_ESTIMATED_STORAGE_RUN_OUT_PERIOD",
            "STRING_KEY_CURRENT_MACHINE_TYPE",
            "STRING_KEY_RECOMMENDED_MACHINE_TYPE",
            "STRING_KEY_CURRENT_CORES",
            "STRING_KEY_RECOMMENDED_CORES",
            "STRING_KEY_REVIEW_ORG_POLICY",
            "STRING_KEY_USE_AUTH_PROXY_OR_CONNECTORS",
            "STRING_KEY_REMOVE_AUTHORIZED_NETWORKS",
            "STRING_KEY_ROTATE_SERVER_CERTIFICATE",
            "STRING_KEY_MANAGE_SERVER_CERTIFICATES",
            "STRING_KEY_PUBLIC_IP_ENABLED",
            "STRING_KEY_PRIVATE_IP_ENABLED",
            "STRING_KEY_CONFIGURE_PRIVATE_IP",
            "STRING_KEY_DISABLE_PUBLIC_IP",
            "STRING_KEY_CPU_UTILIZATION_OUT_OF_SLA",
            "STRING_KEY_CPU_UTILIZATION_OUT_OF_SLA_LATEST_TIMESTAMP",
            "STRING_KEY_MEMORY_UTILIZATION_OUT_OF_SLA",
            "STRING_KEY_MEMORY_UTILIZATION_OUT_OF_SLA_LATEST_TIMESTAMP",
            "STRING_KEY_ESTIMATED_OOM_PROBABILITY",
            "STRING_KEY_MAX_CONNECTIONS_CURRENT_VALUE",
            "STRING_KEY_MAX_CONNECTIONS_RECOMMENDED_VALUE"
          ],
          "description": "Enum used to map to the string to be shown in the UI for the field.",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ]
        }
      },
      "id": "CloudRecommendationsRecommendersDatabasesV1TableField"
    },
    "GoogleCloudRecommenderV1ListRecommendationsResponse": {
      "properties": {
        "recommendations": {
          "items": {
            "$ref": "GoogleCloudRecommenderV1Recommendation"
          },
          "type": "array",
          "description": "The set of recommendations for the `parent` resource."
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token that can be used to request the next page of results. This field is empty if there are no additional results."
        }
      },
      "type": "object",
      "id": "GoogleCloudRecommenderV1ListRecommendationsResponse",
      "description": "Response to the `ListRecommendations` method."
    },
    "GoogleCloudRecommenderV1RecommendationContent": {
      "id": "GoogleCloudRecommenderV1RecommendationContent",
      "type": "object",
      "description": "Contains what resources are changing and how they are changing.",
      "properties": {
        "overview": {
          "type": "object",
          "description": "Condensed overview information about the recommendation.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        },
        "operationGroups": {
          "description": "Operations to one or more Google Cloud resources grouped in such a way that, all operations within one group are expected to be performed atomically and in an order.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudRecommenderV1OperationGroup"
          }
        }
      }
    },
    "GoogleCloudRecommenderV1Impact": {
      "properties": {
        "reliabilityProjection": {
          "$ref": "GoogleCloudRecommenderV1ReliabilityProjection",
          "description": "Use with CategoryType.RELIABILITY"
        },
        "costProjection": {
          "$ref": "GoogleCloudRecommenderV1CostProjection",
          "description": "Use with CategoryType.COST"
        },
        "sustainabilityProjection": {
          "$ref": "GoogleCloudRecommenderV1SustainabilityProjection",
          "description": "Use with CategoryType.SUSTAINABILITY"
        },
        "securityProjection": {
          "description": "Use with CategoryType.SECURITY",
          "$ref": "GoogleCloudRecommenderV1SecurityProjection"
        },
        "service": {
          "type": "string",
          "description": "The service that this impact is associated with."
        },
        "category": {
          "description": "Category that is being targeted.",
          "type": "string",
          "enum": [
            "CATEGORY_UNSPECIFIED",
            "COST",
            "SECURITY",
            "PERFORMANCE",
            "MANAGEABILITY",
            "SUSTAINABILITY",
            "RELIABILITY"
          ],
          "enumDescriptions": [
            "Default unspecified category. Don't use directly.",
            "Indicates a potential increase or decrease in cost.",
            "Indicates a potential increase or decrease in security.",
            "Indicates a potential increase or decrease in performance.",
            "Indicates a potential increase or decrease in manageability.",
            "Indicates a potential increase or decrease in sustainability.",
            "Indicates a potential increase or decrease in reliability."
          ]
        }
      },
[...]
