{
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "ownerDomain": "google.com",
  "title": "Recommender API",
  "parameters": {
    "uploadType": {
      "type": "string",
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "oauth_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth 2.0 token for the current user."
    },
    "prettyPrint": {
      "default": "true",
      "description": "Returns response with indentations and line breaks.",
      "location": "query",
      "type": "boolean"
    },
    "$.xgafv": {
      "location": "query",
      "type": "string",
      "enum": [
        "1",
        "2"
      ],
      "description": "V1 error format.",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ]
    },
    "fields": {
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string"
    },
    "alt": {
      "description": "Data format for response.",
      "location": "query",
      "default": "json",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "type": "string",
      "enum": [
        "json",
        "media",
        "proto"
      ]
    },
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "key": {
      "location": "query",
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "callback": {
      "description": "JSONP",
      "type": "string",
      "location": "query"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string",
      "location": "query"
    }
  },
  "description": "",
  "batchPath": "batch",
  "discoveryVersion": "v1",
  "schemas": {
    "GoogleCloudRecommenderV1MarkRecommendationSucceededRequest": {
      "type": "object",
      "id": "GoogleCloudRecommenderV1MarkRecommendationSucceededRequest",
      "properties": {
        "stateMetadata": {
          "description": "State properties to include with this state. Overwrites any existing `state_metadata`. Keys must match the regex `/^a-z0-9{0,62}$/`. Values must match the regex `/^[a-zA-Z0-9_./-]{0,255}$/`.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "etag": {
          "description": "Required. Fingerprint of the Recommendation. Provides optimistic locking.",
          "type": "string"
        }
      },
      "description": "Request for the `MarkRecommendationSucceeded` Method."
    },
    "GoogleCloudRecommenderV1RecommendationInsightReference": {
      "type": "object",
      "properties": {
        "insight": {
          "type": "string",
          "description": "Insight resource name, e.g. projects/[PROJECT_NUMBER]/locations/[LOCATION]/insightTypes/[INSIGHT_TYPE_ID]/insights/[INSIGHT_ID]"
        }
      },
      "id": "GoogleCloudRecommenderV1RecommendationInsightReference",
      "description": "Reference to an associated insight."
    },
    "GoogleCloudRecommenderV1RecommenderGenerationConfig": {
      "description": "A Configuration to customize the generation of recommendations. Eg, customizing the lookback period considered when generating a recommendation.",
      "id": "GoogleCloudRecommenderV1RecommenderGenerationConfig",
      "properties": {
        "params": {
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "type": "object",
          "description": "Parameters for this RecommenderGenerationConfig. These configs can be used by or are applied to all subtypes."
        }
      },
      "type": "object"
    },
    "GoogleCloudRecommenderV1SustainabilityProjection": {
      "description": "Contains metadata about how much sustainability a recommendation can save or incur.",
      "id": "GoogleCloudRecommenderV1SustainabilityProjection",
      "properties": {
        "duration": {
          "description": "Duration for which this sustainability applies.",
          "format": "google-duration",
          "type": "string"
        },
        "kgCO2e": {
          "format": "double",
          "description": "Carbon Footprint generated in kg of CO2 equivalent. Chose kg_c_o2e so that the name renders correctly in camelCase (kgCO2e).",
          "type": "number"
        }
      },
      "type": "object"
    },
    "GoogleCloudRecommenderV1RecommenderConfig": {
      "properties": {
        "recommenderGenerationConfig": {
          "description": "RecommenderGenerationConfig which configures the Generation of recommendations for this recommender.",
          "$ref": "GoogleCloudRecommenderV1RecommenderGenerationConfig"
        },
        "name": {
          "type": "string",
          "description": "Identifier. Name of recommender config. Eg, projects/[PROJECT_NUMBER]/locations/[LOCATION]/recommenders/[RECOMMENDER_ID]/config"
        },
        "annotations": {
          "type": "object",
          "description": "Allows clients to store small amounts of arbitrary data. Annotations must follow the Kubernetes syntax. The total size of all keys and values combined is limited to 256k. Key can have 2 segments: prefix (optional) and name (required), separated by a slash (/). Prefix must be a DNS subdomain. Name must be 63 characters or less, begin and end with alphanumerics, with dashes (-), underscores (_), dots (.), and alphanumerics between.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "displayName": {
          "type": "string",
          "description": "A user-settable field to provide a human-readable name to be used in user interfaces."
        },
        "etag": {
          "type": "string",
          "description": "Fingerprint of the RecommenderConfig. Provides optimistic locking when updating."
        },
        "updateTime": {
          "description": "Last time when the config was updated.",
          "format": "google-datetime",
          "type": "string"
        },
        "revisionId": {
          "description": "Output only. Immutable. The revision ID of the config. A new revision is committed whenever the config is changed in any way. The format is an 8-character hexadecimal string.",
          "readOnly": true,
          "type": "string"
        }
      },
      "description": "Configuration for a Recommender.",
      "id": "GoogleCloudRecommenderV1RecommenderConfig",
      "type": "object"
    },
    "GoogleCloudRecommenderV1ListRecommendationsResponse": {
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token that can be used to request the next page of results. This field is empty if there are no additional results."
        },
        "recommendations": {
          "description": "The set of recommendations for the `parent` resource.",
          "items": {
            "$ref": "GoogleCloudRecommenderV1Recommendation"
          },
          "type": "array"
        }
      },
      "description": "Response to the `ListRecommendations` method.",
      "type": "object",
      "id": "GoogleCloudRecommenderV1ListRecommendationsResponse"
    },
    "GoogleCloudRecommenderV1InsightStateInfo": {
      "type": "object",
      "id": "GoogleCloudRecommenderV1InsightStateInfo",
      "properties": {
        "stateMetadata": {
          "description": "A map of metadata for the state, provided by user or automations systems.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "state": {
          "description": "Insight state.",
          "enumDescriptions": [
            "Unspecified state.",
            "Insight is active. Content for ACTIVE insights can be updated by Google. ACTIVE insights can be marked DISMISSED OR ACCEPTED.",
            "Some action has been taken based on this insight. Insights become accepted when a recommendation derived from the insight has been marked CLAIMED, SUCCEEDED, or FAILED. ACTIVE insights can also be marked ACCEPTED explicitly. Content for ACCEPTED insights is immutable. ACCEPTED insights can only be marked ACCEPTED (which may update state metadata).",
            "Insight is dismissed. Content for DISMISSED insights can be updated by Google. DISMISSED insights can be marked as ACTIVE."
          ],
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "ACCEPTED",
            "DISMISSED"
          ]
        }
      },
      "description": "Information related to insight state."
    },
    "GoogleCloudRecommenderV1CostProjection": {
      "type": "object",
      "id": "GoogleCloudRecommenderV1CostProjection",
      "properties": {
        "cost": {
          "$ref": "GoogleTypeMoney",
          "description": "An approximate projection on amount saved or amount incurred. Negative cost units indicate cost savings and positive cost units indicate increase. See google.type.Money documentation for positive/negative units. A user's permissions may affect whether the cost is computed using list prices or custom contract prices."
        },
        "duration": {
          "format": "google-duration",
          "description": "Duration for which this cost applies.",
          "type": "string"
        },
        "costInLocalCurrency": {
          "$ref": "GoogleTypeMoney",
          "description": "The approximate cost savings in the billing account's local currency."
        }
      },
      "description": "Contains metadata about how much money a recommendation can save or incur."
    },
    "CloudRecommendationsRecommendersDatabasesV1Table": {
      "id": "CloudRecommendationsRecommendersDatabasesV1Table",
      "type": "object",
      "properties": {
        "headers": {
          "items": {
            "enumDescriptions": [
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              ""
            ],
            "type": "string",
            "enum": [
              "STRING_KEY_UNSPECIFIED",
              "STRING_KEY_VIEW_INSTANCE_CTA",
              "STRING_KEY_EDIT_INSTANCE",
              "STRING_KEY_EDIT_USERS",
              "STRING_KEY_MYSQL_FLAG_DEFAULT_AUTHENTICATION_PLUGIN",
              "STRING_KEY_PG_FLAG_PASSWORD_ENCRYPTION",
              "STRING_KEY_ENABLE_USER_PASSWORD_POLICIES",
              "STRING_KEY_CONFIGURE_AUTHENTICATION",
              "STRING_KEY_CONFIGURE_DATABASE_FLAGS",
              "STRING_KEY_AVERAGE_CPU_USAGE",
              "STRING_KEY_OBSERVATION_TIME",
              "STRING_KEY_CONFIGURE_AUTOSCALING",
              "STRING_KEY_VIEW_CLUSTER_CTA",
              "STRING_KEY_EDIT_DISASTER_RECOVERY_SETTINGS",
              "STRING_KEY_ENABLE_SCHEDULED_BACKUPS",
              "STRING_KEY_ENABLE_POINT_IN_TIME_RECOVERY",
              "STRING_KEY_SCHEDULED_BACKUPS_ENABLEMENT",
              "STRING_KEY_PITR_ENABLEMENT",
              "STRING_KEY_INSECURE_RULES_DETECTED",
              "STRING_KEY_EXPIRING_RULES_DETECTED",
              "STRING_KEY_FIX_INSECURE_AND_EXPIRING_RULES",
              "STRING_KEY_EDIT_FIREBASE_RULES",
              "STRING_KEY_MAXIMUM_OF_PREDICTED_DISK_USAGE_FOR_THE_NEXT_7_DAYS",
              "STRING_KEY_STORAGE_CAPACITY_OF_THE_CLUSTER",
              "STRING_KEY_PER_NODE_STORAGE_CAPACITY_OF_THE_CLUSTER",
              "STRING_KEY_CURRENT_AUTOSCALING_MIN_NODE_COUNT",
              "STRING_KEY_CURRENT_AUTOSCALING_MAX_NODE_COUNT",
              "STRING_KEY_ABOUT_MAINTENANCE",
              "STRING_KEY_ABOUT_SCALING_UP",
              "STRING_KEY_CURRENT_MEMORY_SIZE_GB",
              "STRING_KEY_RECOMMENDED_MEMORY_SIZE_GB",
              "STRING_KEY_PEAK_MEMORY_USAGE_RATIO",
              "STRING_KEY_RECOMMENDED_AUTOSCALING_MIN_NODE_COUNT",
              "STRING_KEY_RECOMMENDED_AUTOSCALING_MAX_NODE_COUNT",
              "STRING_KEY_CURRENT_STORAGE_USED_BYTES_OF_THE_CLUSTER",
              "STRING_KEY_ABOUT_SCALING_OUT",
              "STRING_KEY_PEAK_MEMORY_USAGE_RATIO_ACROSS_SHARDS",
              "STRING_KEY_CURRENT_NUMBER_OF_SHARDS",
              "STRING_KEY_RECOMMENDED_NUMBER_OF_SHARDS",
              "STRING_KEY_ABOUT_AVOIDING_EXPENSIVE_COMMANDS",
              "STRING_KEY_EXPENSIVE_COMMANDS",
              "STRING_KEY_UPGRADE_TO_ENTERPRISE_PLUS_EDITION",
              "STRING_KEY_ENABLE_DATA_CACHE",
              "STRING_KEY_OBSERVATION_PERIOD",
              "STRING_KEY_LAST_DEFERRED_MAINTENANCE_OPERATION_TIME",
              "STRING_KEY_LAST_INSTANCE_MAINTENANCE_EVENT",
              "STRING_KEY_USE_AUTO_MSM",
              "STRING_KEY_CURRENT_MAX_SERVER_MEMORY_MB",
              "STRING_KEY_AUTOSCALING_CONFIGURATION",
              "STRING_KEY_SCALING_DOCS",
              "STRING_KEY_MODIFY_INSTANCE",
              "STRING_KEY_HOTSPOTS_AFFECTED_TABLES",
              "STRING_KEY_HOT_TABLETS_DOCS",
              "STRING_KEY_KEY_VISUALIZER_DOCS",
              "STRING_KEY_BIGTABLE_PERFORMANCE_DOCS",
              "STRING_KEY_VIEW_USERS",
              "STRING_KEY_SPANNER_PREVENT_ACCIDENTAL_DELETION_DOCS",
              "STRING_KEY_SPANNER_ENABLE_DATABASE_DELETION_PROTECTION_DOCS",
              "STRING_KEY_SPANNER_BACKUPS_DOCS",
              "STRING_KEY_SPANNER_CREATE_BACKUP_DOCS",
              "STRING_KEY_SPANNER_CREATE_BACKUP_SCHEDULES_DOCS",
              "STRING_KEY_SPANNER_PANTHEON_INSTANCE",
              "STRING_KEY_SPANNER_PANTHEON_INSTANCE_BACKUPS",
              "STRING_KEY_SPANNER_AFFECTED_DATABASES",
              "STRING_KEY_SPANNER_PANTHEON_BACKUP_SETTINGS",
              "STRING_KEY_CLOUD_SQL_EDITIONS",
              "STRING_KEY_ALLOYDB_ENABLE_HA_DOCS",
              "STRING_KEY_ALLOYDB_CONFIGURE_BACKUP_POLICY_DOCS",
              "STRING_KEY_VIEW_BACKUP_POLICY_CTA",
              "STRING_KEY_ALLOYDB_BACKUP_COUNT",
              "STRING_KEY_ALLOYDB_BACKUP_POLICY_TYPE",
              "STRING_KEY_DATA_CACHE",
              "STRING_KEY_BACKUP_AND_RESTORE_DATA",
              "STRING_KEY_POINT_IN_TIME_RECOVERY",
              "STRING_KEY_EDIT_BACKUP_SETTINGS",
              "STRING_KEY_GO_TO_RESOURCE",
              "STRING_KEY_OBSERVATION_START",
              "STRING_KEY_OBSERVATION_END",
              "STRING_KEY_STORAGE_UTILIZATION_RATIO",
              "STRING_KEY_CURRENT_AUTOSCALING_NODE_COUNT",
              "STRING_KEY_RECOMMENDED_AUTOSCALING_NODE_COUNT",
              "STRING_KEY_RECOMMENDED_MAINTENANCE_WINDOW",
              "STRING_KEY_FIND_AND_SET_MAINTENANCE_WINDOWS",
              "STRING_KEY_MAXMEMORY_POLICY",
              "STRING_KEY_SYSTEM_MEMORY_USAGE_RATIO",
              "STRING_KEY_FAILED_SNAPSHOTS",
              "STRING_KEY_EXPIRABLE_KEYS_PERCENTAGE",
              "STRING_KEY_OOM_COUNT",
              "STRING_KEY_EDIT_RESOURCE_CTA",
              "STRING_KEY_MEMORYSTORE_MEMORY_MANAGEMENT_BEST_PRACTICES",
              "STRING_KEY_MEMORYSTORE_REDIS_CRASHES",
              "STRING_KEY_BIGTABLE_MIN_NUMBER_OF_NODES_FOR_CUD",
              "STRING_KEY_BIGTABLE_AVERAGE_CLUSTER_NODE_COUNT",
              "STRING_KEY_BIGTABLE_CUD_DOCS",
              "STRING_KEY_SPANNER_MITIGATE_CMEK_ORG_POLICY_VIOLATION_DOCS",
              "STRING_KEY_SPANNER_MITIGATE_DRZ_ORG_POLICY_VIOLATION_DOCS",
              "STRING_KEY_ALLOYDB_RECOMMENDED_BACKUP_COUNT",
              "STRING_KEY_SQLSERVER_BEST_PRACTICES_GLOBAL",
              "STRING_KEY_SQLSERVER_SERVER_MEMORY_CONFIGURATION",
              "STRING_KEY_INSECURE_RULES_AUTHENTICATION",
              "STRING_KEY_KEY_VISUALIZER_CTA",
              "STRING_KEY_SPANNER_SCHEMA",
              "STRING_KEY_SPANNER_SCHEMA_BEST_PRACTICES",
              "STRING_KEY_SPANNER_MANAGE_DATA_USING_CONSOLE",
              "STRING_KEY_SPANNER_MIGRATE_YOUR_DATA",
              "STRING_KEY_SPANNER_MAKE_SCHEMA_UPDATE",
              "STRING_KEY_SPANNER_QUOTA_AND_LIMITS_TABLES",
              "STRING_KEY_SPANNER_PROTOCOL_BUFFER_LIMITATIONS",
              "STRING_KEY_SPANNER_QUERY_INSIGHTS",
              "STRING_KEY_SPANNER_USE_INDEX_ADVISOR",
              "STRING_KEY_SPANNER_SEARCH_INDEXES",
              "STRING_KEY_SPANNER_QUOTA_AND_LIMITS_INDEXES",
              "STRING_KEY_SPANNER_FOREIGN_KEYS",
              "STRING_KEY_SPANNER_CREATE_MANAGE_FOREIGN_KEY_RELATIONSHIPS",
              "STRING_KEY_SPANNER_IMPLEMENT_MULTI_TENANCY",
              "STRING_KEY_SPANNER_DATABASE_SPLITS",
              "STRING_KEY_SPANNER_CREATE_ALERTS_FOR_SPANNER_METRICS",
              "STRING_KEY_SPANNER_QUOTA_AND_LIMITS_SCHEMAS",
              "STRING_KEY_SPANNER_VIEW_OBJECT_CTA",
              "STRING_KEY_SPANNER_QUERY_INSIGHTS_CTA",
              "STRING_KEY_SPANNER_MONITORING_CTA",
              "STRING_KEY_BIGTABLE_CURRENT_CLIENT_LIBRARY_VERSION",
              "STRING_KEY_BIGTABLE_LATEST_CLIENT_LIBRARY_VERSION",
              "STRING_KEY_BIGTABLE_APP_PROFILE_IDS",
              "STRING_KEY_BIGTABLE_CLIENT_LIBRARY_LANGUAGE",
              "STRING_KEY_BIGTABLE_UPGRADING_CLIENTS",
              "STRING_KEY_BIGTABLE_REPLICATION_DELAY_TABLES",
              "STRING_KEY_BIGTABLE_REPLICATION_DELAY_DOCS",
              "STRING_KEY_BIGTABLE_CLIENT_LIBRARIES",
              "STRING_KEY_BIGTABLE_DATABOOST_DOCS",
              "STRING_KEY_INSTANCE_NAME",
              "STRING_KEY_APP_PROFILE_ID",
              "STRING_KEY_CREATE_APP_PROFILE_CTA",
              "STRING_KEY_BIGTABLE_DATABOOST_OVERVIEW_DOCS",
              "STRING_KEY_BIGTABLE_APP_PROFILES_DOCS",
              "STRING_KEY_THREAD_CACHE_SIZE_CURRENT_VALUE",
              "STRING_KEY_THREAD_CACHE_SIZE_RECOMMENDED_VALUE",
              "STRING_KEY_ENABLE_DATABASE_AUDITING",
              "STRING_KEY_JOIN_BUFFER_SIZE_CURRENT_VALUE",
              "STRING_KEY_JOIN_BUFFER_SIZE_RECOMMENDED_VALUE",
              "STRING_KEY_TABLE_OPEN_CACHE_CURRENT_VALUE",
              "STRING_KEY_TABLE_OPEN_CACHE_RECOMMENDED_VALUE",
              "STRING_KEY_NUMBER_OF_TABLES",
              "STRING_KEY_MYSQL_HIGH_NUMBER_OF_TABLES_PLAYBOOK",
              "STRING_KEY_TMP_TABLE_SIZE_CURRENT_VALUE",
              "STRING_KEY_TMP_TABLE_SIZE_RECOMMENDED_VALUE",
              "STRING_KEY_MAX_HEAP_TABLE_SIZE_CURRENT_VALUE",
              "STRING_KEY_MAX_HEAP_TABLE_SIZE_RECOMMENDED_VALUE",
              "STRING_KEY_BINLOG_CACHE_SIZE_CURRENT_VALUE",
              "STRING_KEY_BINLOG_CACHE_SIZE_RECOMMENDED_VALUE",
              "STRING_KEY_BINLOG_STMT_CACHE_SIZE_CURRENT_VALUE",
              "STRING_KEY_BINLOG_STMT_CACHE_SIZE_RECOMMENDED_VALUE",
              "STRING_KEY_INNODB_LOG_BUFFER_SIZE_CURRENT_VALUE",
              "STRING_KEY_INNODB_LOG_BUFFER_SIZE_RECOMMENDED_VALUE",
              "STRING_KEY_TRANSACTION_ID_UTILIZATION_PERCENTAGE",
              "STRING_KEY_DAYS_TO_WRAPAROUND",
              "STRING_KEY_PG_TRANSACTION_ID_UTILIZATION_PLAYBOOK",
              "STRING_KEY_MAX_CPU_UTILIZATION",
              "STRING_KEY_MAX_MEMORY_UTILIZATION",
              "STRING_KEY_DISK_USAGE_BYTES_CHANGE",
              "STRING_KEY_MAX_DISK_READ_OPS_COUNT",
              "STRING_KEY_MAX_DISK_WRITE_OPS_COUNT",
              "STRING_KEY_SQL_IDLE_PLAYBOOK",
              "STRING_KEY_CURRENT_STORAGE_USAGE",
              "STRING_KEY_CURRENT_STORAGE_LIMIT",
              "STRING_KEY_ESTIMATED_STORAGE_RUN_OUT_PERIOD",
              "STRING_KEY_CURRENT_MACHINE_TYPE",
              "STRING_KEY_RECOMMENDED_MACHINE_TYPE",
              "STRING_KEY_CURRENT_CORES",
              "STRING_KEY_RECOMMENDED_CORES",
              "STRING_KEY_REVIEW_ORG_POLICY",
              "STRING_KEY_USE_AUTH_PROXY_OR_CONNECTORS",
              "STRING_KEY_REMOVE_AUTHORIZED_NETWORKS",
              "STRING_KEY_ROTATE_SERVER_CERTIFICATE",
              "STRING_KEY_MANAGE_SERVER_CERTIFICATES",
              "STRING_KEY_PUBLIC_IP_ENABLED",
              "STRING_KEY_PRIVATE_IP_ENABLED",
              "STRING_KEY_CONFIGURE_PRIVATE_IP",
              "STRING_KEY_DISABLE_PUBLIC_IP",
              "STRING_KEY_CPU_UTILIZATION_OUT_OF_SLA",
              "STRING_KEY_CPU_UTILIZATION_OUT_OF_SLA_LATEST_TIMESTAMP",
              "STRING_KEY_MEMORY_UTILIZATION_OUT_OF_SLA",
              "STRING_KEY_MEMORY_UTILIZATION_OUT_OF_SLA_LATEST_TIMESTAMP",
              "STRING_KEY_ESTIMATED_OOM_PROBABILITY",
              "STRING_KEY_MAX_CONNECTIONS_CURRENT_VALUE",
              "STRING_KEY_MAX_CONNECTIONS_RECOMMENDED_VALUE"
            ]
          },
          "type": "array",
          "description": "Headers for the table. IMPORTANT: Each header defines a column and its title. All Headers must be unique and shouldn't be used more than once within the same list."
        },
        "rows": {
          "items": {
            "$ref": "CloudRecommendationsRecommendersDatabasesV1TableRow"
          },
          "description": "Rows for the table. Ensure that the order of the cells in the row matches the order of the headers.",
          "type": "array"
        }
      },
      "description": "Field for adding custom complex table"
    },
    "CloudRecommendationsRecommendersDatabasesV1TableRow": {
      "properties": {
        "cells": {
          "items": {
            "$ref": "CloudRecommendationsRecommendersDatabasesV1SimpleValue"
          },
          "type": "array",
          "description": "Table cells for the table row."
        }
      },
      "id": "CloudRecommendationsRecommendersDatabasesV1TableRow",
      "type": "object",
      "description": "Table row for a table"
    },
    "GoogleCloudRecommenderV1InsightRecommendationReference": {
      "type": "object",
      "properties": {
        "recommendation": {
          "description": "Recommendation resource name, e.g. projects/[PROJECT_NUMBER]/locations/[LOCATION]/recommenders/[RECOMMENDER_ID]/recommendations/[RECOMMENDATION_ID]",
          "type": "string"
        }
      },
      "id": "GoogleCloudRecommenderV1InsightRecommendationReference",
      "description": "Reference to an associated recommendation."
    },
    "GoogleCloudRecommenderV1RecommendationStateInfo": {
      "description": "Information for state. Contains state and metadata.",
      "properties": {
        "state": {
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "CLAIMED",
            "SUCCEEDED",
            "FAILED",
            "DISMISSED"
          ],
          "description": "The state of the recommendation, Eg ACTIVE, SUCCEEDED, FAILED.",
          "enumDescriptions": [
            "Default state. Don't use directly.",
            "Recommendation is active and can be applied. Recommendations content can be updated by Google. ACTIVE recommendations can be marked as CLAIMED, SUCCEEDED, or FAILED.",
            "Recommendation is in claimed state. Recommendations content is immutable and cannot be updated by Google. CLAIMED recommendations can be marked as CLAIMED, SUCCEEDED, or FAILED.",
            "Recommendation is in succeeded state. Recommendations content is immutable and cannot be updated by Google. SUCCEEDED recommendations can be marked as SUCCEEDED, or FAILED.",
            "Recommendation is in failed state. Recommendations content is immutable and cannot be updated by Google. FAILED recommendations can be marked as SUCCEEDED, or FAILED.",
            "Recommendation is in dismissed state. Recommendation content can be updated by Google. DISMISSED recommendations can be marked as ACTIVE."
          ]
        },
        "stateMetadata": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "A map of metadata for the state, provided by user or automations systems."
        }
      },
      "id": "GoogleCloudRecommenderV1RecommendationStateInfo",
      "type": "object"
    },
    "GoogleCloudRecommenderV1MarkInsightAcceptedRequest": {
      "id": "GoogleCloudRecommenderV1MarkInsightAcceptedRequest",
      "description": "Request for the `MarkInsightAccepted` method.",
      "type": "object",
      "properties": {
        "stateMetadata": {
          "description": "Optional. State properties user wish to include with this state. Full replace of the current state_metadata.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "etag": {
          "description": "Required. Fingerprint of the Insight. Provides optimistic locking.",
          "type": "string"
        }
      }
    },
    "CloudRecommendationsRecommendersDatabasesV1CtaConfig": {
      "type": "object",
      "properties": {
        "isPrimary": {
          "type": "boolean"
        },
        "redirectPage": {
          "enumDescriptions": [
            "",
            "Use this option to provide a custom URL for the CTA button. For issues using this option, the custom URL specific to the issue is to be defined in the UI.",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "REDIRECT_PAGE_UNSPECIFIED",
            "REDIRECT_PAGE_CUSTOM_URL",
            "REDIRECT_PAGE_RESOURCE_OVERVIEW",
            "REDIRECT_PAGE_EDIT_RESOURCE",
            "REDIRECT_PAGE_BACKUPS",
            "REDIRECT_PAGE_USERS",
            "REDIRECT_PAGE_SECURITY_RULES",
            "REDIRECT_PAGE_KEY_VISUALIZER",
            "REDIRECT_PAGE_SYSTEM_INSIGHTS",
            "REDIRECT_PAGE_CONNECTIONS",
            "REDIRECT_PAGE_CONNECTIONS_SECURITY"
          ]
        },
        "label": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "description": "Enum used to map to the string to be shown in the UI for the button.",
          "type": "string",
          "enum": [
            "STRING_KEY_UNSPECIFIED",
            "STRING_KEY_VIEW_INSTANCE_CTA",
            "STRING_KEY_EDIT_INSTANCE",
            "STRING_KEY_EDIT_USERS",
            "STRING_KEY_MYSQL_FLAG_DEFAULT_AUTHENTICATION_PLUGIN",
            "STRING_KEY_PG_FLAG_PASSWORD_ENCRYPTION",
            "STRING_KEY_ENABLE_USER_PASSWORD_POLICIES",
            "STRING_KEY_CONFIGURE_AUTHENTICATION",
            "STRING_KEY_CONFIGURE_DATABASE_FLAGS",
            "STRING_KEY_AVERAGE_CPU_USAGE",
            "STRING_KEY_OBSERVATION_TIME",
            "STRING_KEY_CONFIGURE_AUTOSCALING",
            "STRING_KEY_VIEW_CLUSTER_CTA",
            "STRING_KEY_EDIT_DISASTER_RECOVERY_SETTINGS",
            "STRING_KEY_ENABLE_SCHEDULED_BACKUPS",
            "STRING_KEY_ENABLE_POINT_IN_TIME_RECOVERY",
            "STRING_KEY_SCHEDULED_BACKUPS_ENABLEMENT",
            "STRING_KEY_PITR_ENABLEMENT",
            "STRING_KEY_INSECURE_RULES_DETECTED",
            "STRING_KEY_EXPIRING_RULES_DETECTED",
            "STRING_KEY_FIX_INSECURE_AND_EXPIRING_RULES",
            "STRING_KEY_EDIT_FIREBASE_RULES",
            "STRING_KEY_MAXIMUM_OF_PREDICTED_DISK_USAGE_FOR_THE_NEXT_7_DAYS",
            "STRING_KEY_STORAGE_CAPACITY_OF_THE_CLUSTER",
            "STRING_KEY_PER_NODE_STORAGE_CAPACITY_OF_THE_CLUSTER",
            "STRING_KEY_CURRENT_AUTOSCALING_MIN_NODE_COUNT",
            "STRING_KEY_CURRENT_AUTOSCALING_MAX_NODE_COUNT",
            "STRING_KEY_ABOUT_MAINTENANCE",
            "STRING_KEY_ABOUT_SCALING_UP",
            "STRING_KEY_CURRENT_MEMORY_SIZE_GB",
            "STRING_KEY_RECOMMENDED_MEMORY_SIZE_GB",
            "STRING_KEY_PEAK_MEMORY_USAGE_RATIO",
            "STRING_KEY_RECOMMENDED_AUTOSCALING_MIN_NODE_COUNT",
            "STRING_KEY_RECOMMENDED_AUTOSCALING_MAX_NODE_COUNT",
            "STRING_KEY_CURRENT_STORAGE_USED_BYTES_OF_THE_CLUSTER",
            "STRING_KEY_ABOUT_SCALING_OUT",
            "STRING_KEY_PEAK_MEMORY_USAGE_RATIO_ACROSS_SHARDS",
            "STRING_KEY_CURRENT_NUMBER_OF_SHARDS",
            "STRING_KEY_RECOMMENDED_NUMBER_OF_SHARDS",
            "STRING_KEY_ABOUT_AVOIDING_EXPENSIVE_COMMANDS",
            "STRING_KEY_EXPENSIVE_COMMANDS",
            "STRING_KEY_UPGRADE_TO_ENTERPRISE_PLUS_EDITION",
            "STRING_KEY_ENABLE_DATA_CACHE",
            "STRING_KEY_OBSERVATION_PERIOD",
            "STRING_KEY_LAST_DEFERRED_MAINTENANCE_OPERATION_TIME",
            "STRING_KEY_LAST_INSTANCE_MAINTENANCE_EVENT",
            "STRING_KEY_USE_AUTO_MSM",
            "STRING_KEY_CURRENT_MAX_SERVER_MEMORY_MB",
            "STRING_KEY_AUTOSCALING_CONFIGURATION",
            "STRING_KEY_SCALING_DOCS",
            "STRING_KEY_MODIFY_INSTANCE",
            "STRING_KEY_HOTSPOTS_AFFECTED_TABLES",
            "STRING_KEY_HOT_TABLETS_DOCS",
            "STRING_KEY_KEY_VISUALIZER_DOCS",
            "STRING_KEY_BIGTABLE_PERFORMANCE_DOCS",
            "STRING_KEY_VIEW_USERS",
            "STRING_KEY_SPANNER_PREVENT_ACCIDENTAL_DELETION_DOCS",
            "STRING_KEY_SPANNER_ENABLE_DATABASE_DELETION_PROTECTION_DOCS",
            "STRING_KEY_SPANNER_BACKUPS_DOCS",
            "STRING_KEY_SPANNER_CREATE_BACKUP_DOCS",
            "STRING_KEY_SPANNER_CREATE_BACKUP_SCHEDULES_DOCS",
            "STRING_KEY_SPANNER_PANTHEON_INSTANCE",
            "STRING_KEY_SPANNER_PANTHEON_INSTANCE_BACKUPS",
            "STRING_KEY_SPANNER_AFFECTED_DATABASES",
            "STRING_KEY_SPANNER_PANTHEON_BACKUP_SETTINGS",
            "STRING_KEY_CLOUD_SQL_EDITIONS",
            "STRING_KEY_ALLOYDB_ENABLE_HA_DOCS",
            "STRING_KEY_ALLOYDB_CONFIGURE_BACKUP_POLICY_DOCS",
            "STRING_KEY_VIEW_BACKUP_POLICY_CTA",
            "STRING_KEY_ALLOYDB_BACKUP_COUNT",
            "STRING_KEY_ALLOYDB_BACKUP_POLICY_TYPE",
            "STRING_KEY_DATA_CACHE",
            "STRING_KEY_BACKUP_AND_RESTORE_DATA",
            "STRING_KEY_POINT_IN_TIME_RECOVERY",
            "STRING_KEY_EDIT_BACKUP_SETTINGS",
            "STRING_KEY_GO_TO_RESOURCE",
            "STRING_KEY_OBSERVATION_START",
            "STRING_KEY_OBSERVATION_END",
            "STRING_KEY_STORAGE_UTILIZATION_RATIO",
            "STRING_KEY_CURRENT_AUTOSCALING_NODE_COUNT",
            "STRING_KEY_RECOMMENDED_AUTOSCALING_NODE_COUNT",
            "STRING_KEY_RECOMMENDED_MAINTENANCE_WINDOW",
            "STRING_KEY_FIND_AND_SET_MAINTENANCE_WINDOWS",
            "STRING_KEY_MAXMEMORY_POLICY",
            "STRING_KEY_SYSTEM_MEMORY_USAGE_RATIO",
            "STRING_KEY_FAILED_SNAPSHOTS",
            "STRING_KEY_EXPIRABLE_KEYS_PERCENTAGE",
            "STRING_KEY_OOM_COUNT",
            "STRING_KEY_EDIT_RESOURCE_CTA",
            "STRING_KEY_MEMORYSTORE_MEMORY_MANAGEMENT_BEST_PRACTICES",
            "STRING_KEY_MEMORYSTORE_REDIS_CRASHES",
            "STRING_KEY_BIGTABLE_MIN_NUMBER_OF_NODES_FOR_CUD",
            "STRING_KEY_BIGTABLE_AVERAGE_CLUSTER_NODE_COUNT",
            "STRING_KEY_BIGTABLE_CUD_DOCS",
            "STRING_KEY_SPANNER_MITIGATE_CMEK_ORG_POLICY_VIOLATION_DOCS",
            "STRING_KEY_SPANNER_MITIGATE_DRZ_ORG_POLICY_VIOLATION_DOCS",
            "STRING_KEY_ALLOYDB_RECOMMENDED_BACKUP_COUNT",
            "STRING_KEY_SQLSERVER_BEST_PRACTICES_GLOBAL",
            "STRING_KEY_SQLSERVER_SERVER_MEMORY_CONFIGURATION",
            "STRING_KEY_INSECURE_RULES_AUTHENTICATION",
            "STRING_KEY_KEY_VISUALIZER_CTA",
            "STRING_KEY_SPANNER_SCHEMA",
            "STRING_KEY_SPANNER_SCHEMA_BEST_PRACTICES",
            "STRING_KEY_SPANNER_MANAGE_DATA_USING_CONSOLE",
            "STRING_KEY_SPANNER_MIGRATE_YOUR_DATA",
            "STRING_KEY_SPANNER_MAKE_SCHEMA_UPDATE",
            "STRING_KEY_SPANNER_QUOTA_AND_LIMITS_TABLES",
            "STRING_KEY_SPANNER_PROTOCOL_BUFFER_LIMITATIONS",
            "STRING_KEY_SPANNER_QUERY_INSIGHTS",
            "STRING_KEY_SPANNER_USE_INDEX_ADVISOR",
            "STRING_KEY_SPANNER_SEARCH_INDEXES",
            "STRING_KEY_SPANNER_QUOTA_AND_LIMITS_INDEXES",
            "STRING_KEY_SPANNER_FOREIGN_KEYS",
            "STRING_KEY_SPANNER_CREATE_MANAGE_FOREIGN_KEY_RELATIONSHIPS",
            "STRING_KEY_SPANNER_IMPLEMENT_MULTI_TENANCY",
            "STRING_KEY_SPANNER_DATABASE_SPLITS",
            "STRING_KEY_SPANNER_CREATE_ALERTS_FOR_SPANNER_METRICS",
            "STRING_KEY_SPANNER_QUOTA_AND_LIMITS_SCHEMAS",
            "STRING_KEY_SPANNER_VIEW_OBJECT_CTA",
            "STRING_KEY_SPANNER_QUERY_INSIGHTS_CTA",
            "STRING_KEY_SPANNER_MONITORING_CTA",
            "STRING_KEY_BIGTABLE_CURRENT_CLIENT_LIBRARY_VERSION",
            "STRING_KEY_BIGTABLE_LATEST_CLIENT_LIBRARY_VERSION",
            "STRING_KEY_BIGTABLE_APP_PROFILE_IDS",
            "STRING_KEY_BIGTABLE_CLIENT_LIBRARY_LANGUAGE",
            "STRING_KEY_BIGTABLE_UPGRADING_CLIENTS",
            "STRING_KEY_BIGTABLE_REPLICATION_DELAY_TABLES",
            "STRING_KEY_BIGTABLE_REPLICATION_DELAY_DOCS",
            "STRING_KEY_BIGTABLE_CLIENT_LIBRARIES",
            "STRING_KEY_BIGTABLE_DATABOOST_DOCS",
            "STRING_KEY_INSTANCE_NAME",
            "STRING_KEY_APP_PROFILE_ID",
            "STRING_KEY_CREATE_APP_PROFILE_CTA",
            "STRING_KEY_BIGTABLE_DATABOOST_OVERVIEW_DOCS",
            "STRING_KEY_BIGTABLE_APP_PROFILES_DOCS",
            "STRING_KEY_THREAD_CACHE_SIZE_CURRENT_VALUE",
            "STRING_KEY_THREAD_CACHE_SIZE_RECOMMENDED_VALUE",
            "STRING_KEY_ENABLE_DATABASE_AUDITING",
            "STRING_KEY_JOIN_BUFFER_SIZE_CURRENT_VALUE",
            "STRING_KEY_JOIN_BUFFER_SIZE_RECOMMENDED_VALUE",
            "STRING_KEY_TABLE_OPEN_CACHE_CURRENT_VALUE",
            "STRING_KEY_TABLE_OPEN_CACHE_RECOMMENDED_VALUE",
            "STRING_KEY_NUMBER_OF_TABLES",
            "STRING_KEY_MYSQL_HIGH_NUMBER_OF_TABLES_PLAYBOOK",
            "STRING_KEY_TMP_TABLE_SIZE_CURRENT_VALUE",
            "STRING_KEY_TMP_TABLE_SIZE_RECOMMENDED_VALUE",
            "STRING_KEY_MAX_HEAP_TABLE_SIZE_CURRENT_VALUE",
            "STRING_KEY_MAX_HEAP_TABLE_SIZE_RECOMMENDED_VALUE",
            "STRING_KEY_BINLOG_CACHE_SIZE_CURRENT_VALUE",
            "STRING_KEY_BINLOG_CACHE_SIZE_RECOMMENDED_VALUE",
            "STRING_KEY_BINLOG_STMT_CACHE_SIZE_CURRENT_VALUE",
            "STRING_KEY_BINLOG_STMT_CACHE_SIZE_RECOMMENDED_VALUE",
            "STRING_KEY_INNODB_LOG_BUFFER_SIZE_CURRENT_VALUE",
            "STRING_KEY_INNODB_LOG_BUFFER_SIZE_RECOMMENDED_VALUE",
            "STRING_KEY_TRANSACTION_ID_UTILIZATION_PERCENTAGE",
            "STRING_KEY_DAYS_TO_WRAPAROUND",
            "STRING_KEY_PG_TRANSACTION_ID_UTILIZATION_PLAYBOOK",
            "STRING_KEY_MAX_CPU_UTILIZATION",
            "STRING_KEY_MAX_MEMORY_UTILIZATION",
            "STRING_KEY_DISK_USAGE_BYTES_CHANGE",
            "STRING_KEY_MAX_DISK_READ_OPS_COUNT",
            "STRING_KEY_MAX_DISK_WRITE_OPS_COUNT",
            "STRING_KEY_SQL_IDLE_PLAYBOOK",
            "STRING_KEY_CURRENT_STORAGE_USAGE",
            "STRING_KEY_CURRENT_STORAGE_LIMIT",
            "STRING_KEY_ESTIMATED_STORAGE_RUN_OUT_PERIOD",
            "STRING_KEY_CURRENT_MACHINE_TYPE",
            "STRING_KEY_RECOMMENDED_MACHINE_TYPE",
            "STRING_KEY_CURRENT_CORES",
            "STRING_KEY_RECOMMENDED_CORES",
            "STRING_KEY_REVIEW_ORG_POLICY",
            "STRING_KEY_USE_AUTH_PROXY_OR_CONNECTORS",
            "STRING_KEY_REMOVE_AUTHORIZED_NETWORKS",
            "STRING_KEY_ROTATE_SERVER_CERTIFICATE",
            "STRING_KEY_MANAGE_SERVER_CERTIFICATES",
            "STRING_KEY_PUBLIC_IP_ENABLED",
            "STRING_KEY_PRIVATE_IP_ENABLED",
            "STRING_KEY_CONFIGURE_PRIVATE_IP",
            "STRING_KEY_DISABLE_PUBLIC_IP",
            "STRING_KEY_CPU_UTILIZATION_OUT_OF_SLA",
            "STRING_KEY_CPU_UTILIZATION_OUT_OF_SLA_LATEST_TIMESTAMP",
            "STRING_KEY_MEMORY_UTILIZATION_OUT_OF_SLA",
            "STRING_KEY_MEMORY_UTILIZATION_OUT_OF_SLA_LATEST_TIMESTAMP",
            "STRING_KEY_ESTIMATED_OOM_PROBABILITY",
            "STRING_KEY_MAX_CONNECTIONS_CURRENT_VALUE",
            "STRING_KEY_MAX_CONNECTIONS_RECOMMENDED_VALUE"
          ]
        }
      },
      "id": "CloudRecommendationsRecommendersDatabasesV1CtaConfig"
    },
    "GoogleCloudRecommenderV1ListInsightsResponse": {
      "type": "object",
      "id": "GoogleCloudRecommenderV1ListInsightsResponse",
      "description": "Response to the `ListInsights` method.",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token that can be used to request the next page of results. This field is empty if there are no additional results."
        },
        "insights": {
          "description": "The set of insights for the `parent` resource.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudRecommenderV1Insight"
          }
        }
      }
    },
    "CloudRecommendationsRecommendersDatabasesV1ContentChunk": {
      "properties": {
        "table": {
          "description": "Table with headers and rows content for the content chunk.",
          "$ref": "CloudRecommendationsRecommendersDatabasesV1Table"
        }
      },
      "id": "CloudRecommendationsRecommendersDatabasesV1ContentChunk",
      "type": "object"
    },
    "GoogleCloudRecommenderV1ReliabilityProjection": {
      "type": "object",
      "properties": {
        "risks": {
          "type": "array",
          "items": {
            "enumDescriptions": [
              "Default unspecified risk. Don't use directly.",
              "Potential service downtime.",
              "Potential data loss.",
              "Potential access denial. The service is still up but some or all clients can't access it."
            ],
            "type": "string",
            "enum": [
              "RISK_TYPE_UNSPECIFIED",
              "SERVICE_DISRUPTION",
              "DATA_LOSS",
              "ACCESS_DENY"
            ]
          },
          "description": "Reliability risks mitigated by this recommendation."
        },
        "details": {
          "type": "object",
          "description": "Per-recommender projection.",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          }
        }
      },
      "description": "Contains information on the impact of a reliability recommendation.",
      "id": "GoogleCloudRecommenderV1ReliabilityProjection"
    },
    "GoogleCloudRecommenderV1InsightTypeConfig": {
      "id": "GoogleCloudRecommenderV1InsightTypeConfig",
      "description": "Configuration for an InsightType.",
      "type": "object",
      "properties": {
        "updateTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Last time when the config was updated."
        },
        "annotations": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Allows clients to store small amounts of arbitrary data. Annotations must follow the Kubernetes syntax. The total size of all keys and values combined is limited to 256k. Key can have 2 segments: prefix (optional) and name (required), separated by a slash (/). Prefix must be a DNS subdomain. Name must be 63 characters or less, begin and end with alphanumerics, with dashes (-), underscores (_), dots (.), and alphanumerics between."
        },
        "displayName": {
          "type": "string",
          "description": "A user-settable field to provide a human-readable name to be used in user interfaces."
        },
        "revisionId": {
          "type": "string",
          "description": "Output only. Immutable. The revision ID of the config. A new revision is committed whenever the config is changed in any way. The format is an 8-character hexadecimal string.",
          "readOnly": true
        },
        "name": {
          "description": "Identifier. Name of insight type config. Eg, projects/[PROJECT_NUMBER]/locations/[LOCATION]/insightTypes/[INSIGHT_TYPE_ID]/config",
          "type": "string"
        },
        "insightTypeGenerationConfig": {
          "description": "InsightTypeGenerationConfig which configures the generation of insights for this insight type.",
          "$ref": "GoogleCloudRecommenderV1InsightTypeGenerationConfig"
        },
        "etag": {
          "description": "Fingerprint of the InsightTypeConfig. Provides optimistic locking when updating.",
          "type": "string"
        }
      }
    },
    "GoogleCloudRecommenderV1Operation": {
      "type": "object",
      "id": "GoogleCloudRecommenderV1Operation",
      "description": "Contains an operation for a resource loosely based on the JSON-PATCH format with support for: * Custom filters for describing partial array patch. * Extended path values for describing nested arrays. * Custom fields for describing the resource for which the operation is being described. * Allows extension to custom operations not natively supported by RFC6902. See https://tools.ietf.org/html/rfc6902 for details on the original RFC.",
      "properties": {
        "valueMatcher": {
          "description": "Can be set for action 'test' for advanced matching for the value of 'path' field. Either this or `value` will be set for 'test' operation.",
          "$ref": "GoogleCloudRecommenderV1ValueMatcher"
        },
        "resource": {
          "type": "string",
          "description": "Contains the fully qualified resource name. This field is always populated. ex: //cloudresourcemanager.googleapis.com/projects/foo."
        },
        "pathValueMatchers": {
          "description": "Similar to path_filters, this contains set of filters to apply if `path` field refers to array elements. This is meant to support value matching beyond exact match. To perform exact match, use path_filters. When both path_filters and path_value_matchers are set, an implicit AND must be performed.",
          "additionalProperties": {
            "$ref": "GoogleCloudRecommenderV1ValueMatcher"
          },
          "type": "object"
        },
        "resourceType": {
          "description": "Type of GCP resource being modified/tested. This field is always populated. Example: cloudresourcemanager.googleapis.com/Project, compute.googleapis.com/Instance",
          "type": "string"
        },
        "action": {
          "type": "string",
          "description": "Type of this operation. Contains one of 'add', 'remove', 'replace', 'move', 'copy', 'test' and custom operations. This field is case-insensitive and always populated."
        },
        "path": {
          "description": "Path to the target field being operated on. If the operation is at the resource level, then path should be \"/\". This field is always populated.",
          "type": "string"
        },
        "value": {
          "description": "Value for the `path` field. Will be set for actions:'add'/'replace'. Maybe set for action: 'test'. Either this or `value_matcher` will be set for 'test' operation. An exact match must be performed.",
          "type": "any"
        },
        "sourcePath": {
          "description": "Can be set with action 'copy' or 'move' to indicate the source field within resource or source_resource, ignored if provided for other operation types.",
          "type": "string"
        },
        "sourceResource": {
          "type": "string",
          "description": "Can be set with action 'copy' to copy resource configuration across different resources of the same type. Example: A resource clone can be done via action = 'copy', path = \"/\", from = \"/\", source_resource = and resource_name = . This field is empty for all other values of `action`."
        },
        "pathFilters": {
          "type": "object",
          "additionalProperties": {
            "type": "any"
          },
          "description": "Set of filters to apply if `path` refers to array elements or nested array elements in order to narrow down to a single unique element that is being tested/modified. This is intended to be an exact match per filter. To perform advanced matching, use path_value_matchers. * Example: ``` { \"/versions/*/name\" : \"it-123\" \"/versions/*/targetSize/percent\": 20 } ``` * Example: ``` { \"/bindings/*/role\": \"roles/owner\" \"/bindings/*/condition\" : null } ``` * Example: ``` { \"/bindings/*/role\": \"roles/owner\" \"/bindings/*/members/*\" : [\"x@example.com\", \"y@example.com\"] } ``` When both path_filters and path_value_matchers are set, an implicit AND must be performed."
        }
      }
    },
    "CloudRecommendationsRecommendersDatabasesV1PlaybookLink": {
      "id": "CloudRecommendationsRecommendersDatabasesV1PlaybookLink",
      "type": "object",
      "properties": {
        "label": {
          "description": "Enum used to map to the string to be shown in the UI for the link.",
          "type": "string",
          "enum": [
            "STRING_KEY_UNSPECIFIED",
            "STRING_KEY_VIEW_INSTANCE_CTA",
            "STRING_KEY_EDIT_INSTANCE",
            "STRING_KEY_EDIT_USERS",
            "STRING_KEY_MYSQL_FLAG_DEFAULT_AUTHENTICATION_PLUGIN",
            "STRING_KEY_PG_FLAG_PASSWORD_ENCRYPTION",
            "STRING_KEY_ENABLE_USER_PASSWORD_POLICIES",
            "STRING_KEY_CONFIGURE_AUTHENTICATION",
            "STRING_KEY_CONFIGURE_DATABASE_FLAGS",
            "STRING_KEY_AVERAGE_CPU_USAGE",
            "STRING_KEY_OBSERVATION_TIME",
            "STRING_KEY_CONFIGURE_AUTOSCALING",
            "STRING_KEY_VIEW_CLUSTER_CTA",
            "STRING_KEY_EDIT_DISASTER_RECOVERY_SETTINGS",
            "STRING_KEY_ENABLE_SCHEDULED_BACKUPS",
            "STRING_KEY_ENABLE_POINT_IN_TIME_RECOVERY",
            "STRING_KEY_SCHEDULED_BACKUPS_ENABLEMENT",
            "STRING_KEY_PITR_ENABLEMENT",
            "STRING_KEY_INSECURE_RULES_DETECTED",
            "STRING_KEY_EXPIRING_RULES_DETECTED",
            "STRING_KEY_FIX_INSECURE_AND_EXPIRING_RULES",
            "STRING_KEY_EDIT_FIREBASE_RULES",
            "STRING_KEY_MAXIMUM_OF_PREDICTED_DISK_USAGE_FOR_THE_NEXT_7_DAYS",
            "STRING_KEY_STORAGE_CAPACITY_OF_THE_CLUSTER",
            "STRING_KEY_PER_NODE_STORAGE_CAPACITY_OF_THE_CLUSTER",
            "STRING_KEY_CURRENT_AUTOSCALING_MIN_NODE_COUNT",
            "STRING_KEY_CURRENT_AUTOSCALING_MAX_NODE_COUNT",
            "STRING_KEY_ABOUT_MAINTENANCE",
            "STRING_KEY_ABOUT_SCALING_UP",
            "STRING_KEY_CURRENT_MEMORY_SIZE_GB",
            "STRING_KEY_RECOMMENDED_MEMORY_SIZE_GB",
            "STRING_KEY_PEAK_MEMORY_USAGE_RATIO",
            "STRING_KEY_RECOMMENDED_AUTOSCALING_MIN_NODE_COUNT",
            "STRING_KEY_RECOMMENDED_AUTOSCALING_MAX_NODE_COUNT",
            "STRING_KEY_CURRENT_STORAGE_USED_BYTES_OF_THE_CLUSTER",
            "STRING_KEY_ABOUT_SCALING_OUT",
            "STRING_KEY_PEAK_MEMORY_USAGE_RATIO_ACROSS_SHARDS",
            "STRING_KEY_CURRENT_NUMBER_OF_SHARDS",
            "STRING_KEY_RECOMMENDED_NUMBER_OF_SHARDS",
            "STRING_KEY_ABOUT_AVOIDING_EXPENSIVE_COMMANDS",
            "STRING_KEY_EXPENSIVE_COMMANDS",
            "STRING_KEY_UPGRADE_TO_ENTERPRISE_PLUS_EDITION",
            "STRING_KEY_ENABLE_DATA_CACHE",
            "STRING_KEY_OBSERVATION_PERIOD",
            "STRING_KEY_LAST_DEFERRED_MAINTENANCE_OPERATION_TIME",
            "STRING_KEY_LAST_INSTANCE_MAINTENANCE_EVENT",
            "STRING_KEY_USE_AUTO_MSM",
            "STRING_KEY_CURRENT_MAX_SERVER_MEMORY_MB",
            "STRING_KEY_AUTOSCALING_CONFIGURATION",
            "STRING_KEY_SCALING_DOCS",
            "STRING_KEY_MODIFY_INSTANCE",
            "STRING_KEY_HOTSPOTS_AFFECTED_TABLES",
            "STRING_KEY_HOT_TABLETS_DOCS",
            "STRING_KEY_KEY_VISUALIZER_DOCS",
            "STRING_KEY_BIGTABLE_PERFORMANCE_DOCS",
            "STRING_KEY_VIEW_USERS",
            "STRING_KEY_SPANNER_PREVENT_ACCIDENTAL_DELETION_DOCS",
            "STRING_KEY_SPANNER_ENABLE_DATABASE_DELETION_PROTECTION_DOCS",
            "STRING_KEY_SPANNER_BACKUPS_DOCS",
            "STRING_KEY_SPANNER_CREATE_BACKUP_DOCS",
            "STRING_KEY_SPANNER_CREATE_BACKUP_SCHEDULES_DOCS",
            "STRING_KEY_SPANNER_PANTHEON_INSTANCE",
            "STRING_KEY_SPANNER_PANTHEON_INSTANCE_BACKUPS",
            "STRING_KEY_SPANNER_AFFECTED_DATABASES",
            "STRING_KEY_SPANNER_PANTHEON_BACKUP_SETTINGS",
            "STRING_KEY_CLOUD_SQL_EDITIONS",
            "STRING_KEY_ALLOYDB_ENABLE_HA_DOCS",
            "STRING_KEY_ALLOYDB_CONFIGURE_BACKUP_POLICY_DOCS",
            "STRING_KEY_VIEW_BACKUP_POLICY_CTA",
            "STRING_KEY_ALLOYDB_BACKUP_COUNT",
            "STRING_KEY_ALLOYDB_BACKUP_POLICY_TYPE",
            "STRING_KEY_DATA_CACHE",
            "STRING_KEY_BACKUP_AND_RESTORE_DATA",
            "STRING_KEY_POINT_IN_TIME_RECOVERY",
            "STRING_KEY_EDIT_BACKUP_SETTINGS",
            "STRING_KEY_GO_TO_RESOURCE",
            "STRING_KEY_OBSERVATION_START",
            "STRING_KEY_OBSERVATION_END",
            "STRING_KEY_STORAGE_UTILIZATION_RATIO",
            "STRING_KEY_CURRENT_AUTOSCALING_NODE_COUNT",
            "STRING_KEY_RECOMMENDED_AUTOSCALING_NODE_COUNT",
            "STRING_KEY_RECOMMENDED_MAINTENANCE_WINDOW",
            "STRING_KEY_FIND_AND_SET_MAINTENANCE_WINDOWS",
            "STRING_KEY_MAXMEMORY_POLICY",
            "STRING_KEY_SYSTEM_MEMORY_USAGE_RATIO",
            "STRING_KEY_FAILED_SNAPSHOTS",
            "STRING_KEY_EXPIRABLE_KEYS_PERCENTAGE",
            "STRING_KEY_OOM_COUNT",
            "STRING_KEY_EDIT_RESOURCE_CTA",
            "STRING_KEY_MEMORYSTORE_MEMORY_MANAGEMENT_BEST_PRACTICES",
            "STRING_KEY_MEMORYSTORE_REDIS_CRASHES",
            "STRING_KEY_BIGTABLE_MIN_NUMBER_OF_NODES_FOR_CUD",
            "STRING_KEY_BIGTABLE_AVERAGE_CLUSTER_NODE_COUNT",
            "STRING_KEY_BIGTABLE_CUD_DOCS",
            "STRING_KEY_SPANNER_MITIGATE_CMEK_ORG_POLICY_VIOLATION_DOCS",
            "STRING_KEY_SPANNER_MITIGATE_DRZ_ORG_POLICY_VIOLATION_DOCS",
            "STRING_KEY_ALLOYDB_RECOMMENDED_BACKUP_COUNT",
            "STRING_KEY_SQLSERVER_BEST_PRACTICES_GLOBAL",
            "STRING_KEY_SQLSERVER_SERVER_MEMORY_CONFIGURATION",
            "STRING_KEY_INSECURE_RULES_AUTHENTICATION",
            "STRING_KEY_KEY_VISUALIZER_CTA",
            "STRING_KEY_SPANNER_SCHEMA",
            "STRING_KEY_SPANNER_SCHEMA_BEST_PRACTICES",
            "STRING_KEY_SPANNER_MANAGE_DATA_USING_CONSOLE",
            "STRING_KEY_SPANNER_MIGRATE_YOUR_DATA",
            "STRING_KEY_SPANNER_MAKE_SCHEMA_UPDATE",
            "STRING_KEY_SPANNER_QUOTA_AND_LIMITS_TABLES",
            "STRING_KEY_SPANNER_PROTOCOL_BUFFER_LIMITATIONS",
            "STRING_KEY_SPANNER_QUERY_INSIGHTS",
            "STRING_KEY_SPANNER_USE_INDEX_ADVISOR",
            "STRING_KEY_SPANNER_SEARCH_INDEXES",
            "STRING_KEY_SPANNER_QUOTA_AND_LIMITS_INDEXES",
            "STRING_KEY_SPANNER_FOREIGN_KEYS",
            "STRING_KEY_SPANNER_CREATE_MANAGE_FOREIGN_KEY_RELATIONSHIPS",
            "STRING_KEY_SPANNER_IMPLEMENT_MULTI_TENANCY",
            "STRING_KEY_SPANNER_DATABASE_SPLITS",
            "STRING_KEY_SPANNER_CREATE_ALERTS_FOR_SPANNER_METRICS",
            "STRING_KEY_SPANNER_QUOTA_AND_LIMITS_SCHEMAS",
            "STRING_KEY_SPANNER_VIEW_OBJECT_CTA",
            "STRING_KEY_SPANNER_QUERY_INSIGHTS_CTA",
            "STRING_KEY_SPANNER_MONITORING_CTA",
            "STRING_KEY_BIGTABLE_CURRENT_CLIENT_LIBRARY_VERSION",
            "STRING_KEY_BIGTABLE_LATEST_CLIENT_LIBRARY_VERSION",
            "STRING_KEY_BIGTABLE_APP_PROFILE_IDS",
            "STRING_KEY_BIGTABLE_CLIENT_LIBRARY_LANGUAGE",
            "STRING_KEY_BIGTABLE_UPGRADING_CLIENTS",
            "STRING_KEY_BIGTABLE_REPLICATION_DELAY_TABLES",
            "STRING_KEY_BIGTABLE_REPLICATION_DELAY_DOCS",
            "STRING_KEY_BIGTABLE_CLIENT_LIBRARIES",
            "STRING_KEY_BIGTABLE_DATABOOST_DOCS",
            "STRING_KEY_INSTANCE_NAME",
            "STRING_KEY_APP_PROFILE_ID",
            "STRING_KEY_CREATE_APP_PROFILE_CTA",
            "STRING_KEY_BIGTABLE_DATABOOST_OVERVIEW_DOCS",
            "STRING_KEY_BIGTABLE_APP_PROFILES_DOCS",
            "STRING_KEY_THREAD_CACHE_SIZE_CURRENT_VALUE",
            "STRING_KEY_THREAD_CACHE_SIZE_RECOMMENDED_VALUE",
            "STRING_KEY_ENABLE_DATABASE_AUDITING",
            "STRING_KEY_JOIN_BUFFER_SIZE_CURRENT_VALUE",
            "STRING_KEY_JOIN_BUFFER_SIZE_RECOMMENDED_VALUE",
            "STRING_KEY_TABLE_OPEN_CACHE_CURRENT_VALUE",
            "STRING_KEY_TABLE_OPEN_CACHE_RECOMMENDED_VALUE",
            "STRING_KEY_NUMBER_OF_TABLES",
            "STRING_KEY_MYSQL_HIGH_NUMBER_OF_TABLES_PLAYBOOK",
            "STRING_KEY_TMP_TABLE_SIZE_CURRENT_VALUE",
            "STRING_KEY_TMP_TABLE_SIZE_RECOMMENDED_VALUE",
            "STRING_KEY_MAX_HEAP_TABLE_SIZE_CURRENT_VALUE",
            "STRING_KEY_MAX_HEAP_TABLE_SIZE_RECOMMENDED_VALUE",
            "STRING_KEY_BINLOG_CACHE_SIZE_CURRENT_VALUE",
            "STRING_KEY_BINLOG_CACHE_SIZE_RECOMMENDED_VALUE",
            "STRING_KEY_BINLOG_STMT_CACHE_SIZE_CURRENT_VALUE",
            "STRING_KEY_BINLOG_STMT_CACHE_SIZE_RECOMMENDED_VALUE",
            "STRING_KEY_INNODB_LOG_BUFFER_SIZE_CURRENT_VALUE",
            "STRING_KEY_INNODB_LOG_BUFFER_SIZE_RECOMMENDED_VALUE",
            "STRING_KEY_TRANSACTION_ID_UTILIZATION_PERCENTAGE",
            "STRING_KEY_DAYS_TO_WRAPAROUND",
            "STRING_KEY_PG_TRANSACTION_ID_UTILIZATION_PLAYBOOK",
            "STRING_KEY_MAX_CPU_UTILIZATION",
            "STRING_KEY_MAX_MEMORY_UTILIZATION",
            "STRING_KEY_DISK_USAGE_BYTES_CHANGE",
            "STRING_KEY_MAX_DISK_READ_OPS_COUNT",
            "STRING_KEY_MAX_DISK_WRITE_OPS_COUNT",
            "STRING_KEY_SQL_IDLE_PLAYBOOK",
            "STRING_KEY_CURRENT_STORAGE_USAGE",
            "STRING_KEY_CURRENT_STORAGE_LIMIT",
            "STRING_KEY_ESTIMATED_STORAGE_RUN_OUT_PERIOD",
            "STRING_KEY_CURRENT_MACHINE_TYPE",
            "STRING_KEY_RECOMMENDED_MACHINE_TYPE",
            "STRING_KEY_CURRENT_CORES",
            "STRING_KEY_RECOMMENDED_CORES",
            "STRING_KEY_REVIEW_ORG_POLICY",
            "STRING_KEY_USE_AUTH_PROXY_OR_CONNECTORS",
            "STRING_KEY_REMOVE_AUTHORIZED_NETWORKS",
            "STRING_KEY_ROTATE_SERVER_CERTIFICATE",
            "STRING_KEY_MANAGE_SERVER_CERTIFICATES",
            "STRING_KEY_PUBLIC_IP_ENABLED",
            "STRING_KEY_PRIVATE_IP_ENABLED",
            "STRING_KEY_CONFIGURE_PRIVATE_IP",
            "STRING_KEY_DISABLE_PUBLIC_IP",
            "STRING_KEY_CPU_UTILIZATION_OUT_OF_SLA",
            "STRING_KEY_CPU_UTILIZATION_OUT_OF_SLA_LATEST_TIMESTAMP",
            "STRING_KEY_MEMORY_UTILIZATION_OUT_OF_SLA",
            "STRING_KEY_MEMORY_UTILIZATION_OUT_OF_SLA_LATEST_TIMESTAMP",
            "STRING_KEY_ESTIMATED_OOM_PROBABILITY",
            "STRING_KEY_MAX_CONNECTIONS_CURRENT_VALUE",
            "STRING_KEY_MAX_CONNECTIONS_RECOMMENDED_VALUE"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ]
        },
        "link": {
          "type": "string"
        }
      }
    },
    "CloudRecommendationsRecommendersDatabasesV1SimpleValue": {
      "type": "object",
      "id": "CloudRecommendationsRecommendersDatabasesV1SimpleValue",
      "properties": {
        "numberValue": {
          "description": "Number value for the table cell.",
          "type": "number",
          "format": "double"
        },
        "enumValue": {
          "type": "string",
          "enum": [
            "STRING_KEY_UNSPECIFIED",
            "STRING_KEY_VIEW_INSTANCE_CTA",
            "STRING_KEY_EDIT_INSTANCE",
            "STRING_KEY_EDIT_USERS",
            "STRING_KEY_MYSQL_FLAG_DEFAULT_AUTHENTICATION_PLUGIN",
            "STRING_KEY_PG_FLAG_PASSWORD_ENCRYPTION",
            "STRING_KEY_ENABLE_USER_PASSWORD_POLICIES",
            "STRING_KEY_CONFIGURE_AUTHENTICATION",
            "STRING_KEY_CONFIGURE_DATABASE_FLAGS",
            "STRING_KEY_AVERAGE_CPU_USAGE",
            "STRING_KEY_OBSERVATION_TIME",
            "STRING_KEY_CONFIGURE_AUTOSCALING",
            "STRING_KEY_VIEW_CLUSTER_CTA",
            "STRING_KEY_EDIT_DISASTER_RECOVERY_SETTINGS",
            "STRING_KEY_ENABLE_SCHEDULED_BACKUPS",
            "STRING_KEY_ENABLE_POINT_IN_TIME_RECOVERY",
            "STRING_KEY_SCHEDULED_BACKUPS_ENABLEMENT",
            "STRING_KEY_PITR_ENABLEMENT",
            "STRING_KEY_INSECURE_RULES_DETECTED",
            "STRING_KEY_EXPIRING_RULES_DETECTED",
            "STRING_KEY_FIX_INSECURE_AND_EXPIRING_RULES",
            "STRING_KEY_EDIT_FIREBASE_RULES",
            "STRING_KEY_MAXIMUM_OF_PREDICTED_DISK_USAGE_FOR_THE_NEXT_7_DAYS",
            "STRING_KEY_STORAGE_CAPACITY_OF_THE_CLUSTER",
            "STRING_KEY_PER_NODE_STORAGE_CAPACITY_OF_THE_CLUSTER",
            "STRING_KEY_CURRENT_AUTOSCALING_MIN_NODE_COUNT",
            "STRING_KEY_CURRENT_AUTOSCALING_MAX_NODE_COUNT",
            "STRING_KEY_ABOUT_MAINTENANCE",
            "STRING_KEY_ABOUT_SCALING_UP",
            "STRING_KEY_CURRENT_MEMORY_SIZE_GB",
            "STRING_KEY_RECOMMENDED_MEMORY_SIZE_GB",
            "STRING_KEY_PEAK_MEMORY_USAGE_RATIO",
            "STRING_KEY_RECOMMENDED_AUTOSCALING_MIN_NODE_COUNT",
            "STRING_KEY_RECOMMENDED_AUTOSCALING_MAX_NODE_COUNT",
            "STRING_KEY_CURRENT_STORAGE_USED_BYTES_OF_THE_CLUSTER",
            "STRING_KEY_ABOUT_SCALING_OUT",
            "STRING_KEY_PEAK_MEMORY_USAGE_RATIO_ACROSS_SHARDS",
            "STRING_KEY_CURRENT_NUMBER_OF_SHARDS",
            "STRING_KEY_RECOMMENDED_NUMBER_OF_SHARDS",
            "STRING_KEY_ABOUT_AVOIDING_EXPENSIVE_COMMANDS",
            "STRING_KEY_EXPENSIVE_COMMANDS",
            "STRING_KEY_UPGRADE_TO_ENTERPRISE_PLUS_EDITION",
            "STRING_KEY_ENABLE_DATA_CACHE",
            "STRING_KEY_OBSERVATION_PERIOD",
            "STRING_KEY_LAST_DEFERRED_MAINTENANCE_OPERATION_TIME",
            "STRING_KEY_LAST_INSTANCE_MAINTENANCE_EVENT",
            "STRING_KEY_USE_AUTO_MSM",
            "STRING_KEY_CURRENT_MAX_SERVER_MEMORY_MB",
            "STRING_KEY_AUTOSCALING_CONFIGURATION",
            "STRING_KEY_SCALING_DOCS",
            "STRING_KEY_MODIFY_INSTANCE",
            "STRING_KEY_HOTSPOTS_AFFECTED_TABLES",
            "STRING_KEY_HOT_TABLETS_DOCS",
            "STRING_KEY_KEY_VISUALIZER_DOCS",
            "STRING_KEY_BIGTABLE_PERFORMANCE_DOCS",
            "STRING_KEY_VIEW_USERS",
            "STRING_KEY_SPANNER_PREVENT_ACCIDENTAL_DELETION_DOCS",
            "STRING_KEY_SPANNER_ENABLE_DATABASE_DELETION_PROTECTION_DOCS",
            "STRING_KEY_SPANNER_BACKUPS_DOCS",
            "STRING_KEY_SPANNER_CREATE_BACKUP_DOCS",
            "STRING_KEY_SPANNER_CREATE_BACKUP_SCHEDULES_DOCS",
            "STRING_KEY_SPANNER_PANTHEON_INSTANCE",
            "STRING_KEY_SPANNER_PANTHEON_INSTANCE_BACKUPS",
            "STRING_KEY_SPANNER_AFFECTED_DATABASES",
            "STRING_KEY_SPANNER_PANTHEON_BACKUP_SETTINGS",
            "STRING_KEY_CLOUD_SQL_EDITIONS",
            "STRING_KEY_ALLOYDB_ENABLE_HA_DOCS",
            "STRING_KEY_ALLOYDB_CONFIGURE_BACKUP_POLICY_DOCS",
            "STRING_KEY_VIEW_BACKUP_POLICY_CTA",
            "STRING_KEY_ALLOYDB_BACKUP_COUNT",
            "STRING_KEY_ALLOYDB_BACKUP_POLICY_TYPE",
            "STRING_KEY_DATA_CACHE",
            "STRING_KEY_BACKUP_AND_RESTORE_DATA",
            "STRING_KEY_POINT_IN_TIME_RECOVERY",
            "STRING_KEY_EDIT_BACKUP_SETTINGS",
            "STRING_KEY_GO_TO_RESOURCE",
            "STRING_KEY_OBSERVATION_START",
            "STRING_KEY_OBSERVATION_END",
            "STRING_KEY_STORAGE_UTILIZATION_RATIO",
            "STRING_KEY_CURRENT_AUTOSCALING_NODE_COUNT",
            "STRING_KEY_RECOMMENDED_AUTOSCALING_NODE_COUNT",
            "STRING_KEY_RECOMMENDED_MAINTENANCE_WINDOW",
            "STRING_KEY_FIND_AND_SET_MAINTENANCE_WINDOWS",
            "STRING_KEY_MAXMEMORY_POLICY",
            "STRING_KEY_SYSTEM_MEMORY_USAGE_RATIO",
            "STRING_KEY_FAILED_SNAPSHOTS",
            "STRING_KEY_EXPIRABLE_KEYS_PERCENTAGE",
            "STRING_KEY_OOM_COUNT",
            "STRING_KEY_EDIT_RESOURCE_CTA",
            "STRING_KEY_MEMORYSTORE_MEMORY_MANAGEMENT_BEST_PRACTICES",
            "STRING_KEY_MEMORYSTORE_REDIS_CRASHES",
            "STRING_KEY_BIGTABLE_MIN_NUMBER_OF_NODES_FOR_CUD",
            "STRING_KEY_BIGTABLE_AVERAGE_CLUSTER_NODE_COUNT",
            "STRING_KEY_BIGTABLE_CUD_DOCS",
            "STRING_KEY_SPANNER_MITIGATE_CMEK_ORG_POLICY_VIOLATION_DOCS",
            "STRING_KEY_SPANNER_MITIGATE_DRZ_ORG_POLICY_VIOLATION_DOCS",
            "STRING_KEY_ALLOYDB_RECOMMENDED_BACKUP_COUNT",
            "STRING_KEY_SQLSERVER_BEST_PRACTICES_GLOBAL",
            "STRING_KEY_SQLSERVER_SERVER_MEMORY_CONFIGURATION",
            "STRING_KEY_INSECURE_RULES_AUTHENTICATION",
            "STRING_KEY_KEY_VISUALIZER_CTA",
            "STRING_KEY_SPANNER_SCHEMA",
            "STRING_KEY_SPANNER_SCHEMA_BEST_PRACTICES",
            "STRING_KEY_SPANNER_MANAGE_DATA_USING_CONSOLE",
            "STRING_KEY_SPANNER_MIGRATE_YOUR_DATA",
            "STRING_KEY_SPANNER_MAKE_SCHEMA_UPDATE",
            "STRING_KEY_SPANNER_QUOTA_AND_LIMITS_TABLES",
            "STRING_KEY_SPANNER_PROTOCOL_BUFFER_LIMITATIONS",
            "STRING_KEY_SPANNER_QUERY_INSIGHTS",
            "STRING_KEY_SPANNER_USE_INDEX_ADVISOR",
            "STRING_KEY_SPANNER_SEARCH_INDEXES",
            "STRING_KEY_SPANNER_QUOTA_AND_LIMITS_INDEXES",
            "STRING_KEY_SPANNER_FOREIGN_KEYS",
            "STRING_KEY_SPANNER_CREATE_MANAGE_FOREIGN_KEY_RELATIONSHIPS",
            "STRING_KEY_SPANNER_IMPLEMENT_MULTI_TENANCY",
            "STRING_KEY_SPANNER_DATABASE_SPLITS",
            "STRING_KEY_SPANNER_CREATE_ALERTS_FOR_SPANNER_METRICS",
            "STRING_KEY_SPANNER_QUOTA_AND_LIMITS_SCHEMAS",
            "STRING_KEY_SPANNER_VIEW_OBJECT_CTA",
            "STRING_KEY_SPANNER_QUERY_INSIGHTS_CTA",
            "STRING_KEY_SPANNER_MONITORING_CTA",
            "STRING_KEY_BIGTABLE_CURRENT_CLIENT_LIBRARY_VERSION",
            "STRING_KEY_BIGTABLE_LATEST_CLIENT_LIBRARY_VERSION",
            "STRING_KEY_BIGTABLE_APP_PROFILE_IDS",
            "STRING_KEY_BIGTABLE_CLIENT_LIBRARY_LANGUAGE",
            "STRING_KEY_BIGTABLE_UPGRADING_CLIENTS",
            "STRING_KEY_BIGTABLE_REPLICATION_DELAY_TABLES",
            "STRING_KEY_BIGTABLE_REPLICATION_DELAY_DOCS",
            "STRING_KEY_BIGTABLE_CLIENT_LIBRARIES",
            "STRING_KEY_BIGTABLE_DATABOOST_DOCS",
            "STRING_KEY_INSTANCE_NAME",
            "STRING_KEY_APP_PROFILE_ID",
            "STRING_KEY_CREATE_APP_PROFILE_CTA",
            "STRING_KEY_BIGTABLE_DATABOOST_OVERVIEW_DOCS",
            "STRING_KEY_BIGTABLE_APP_PROFILES_DOCS",
            "STRING_KEY_THREAD_CACHE_SIZE_CURRENT_VALUE",
            "STRING_KEY_THREAD_CACHE_SIZE_RECOMMENDED_VALUE",
            "STRING_KEY_ENABLE_DATABASE_AUDITING",
            "STRING_KEY_JOIN_BUFFER_SIZE_CURRENT_VALUE",
            "STRING_KEY_JOIN_BUFFER_SIZE_RECOMMENDED_VALUE",
            "STRING_KEY_TABLE_OPEN_CACHE_CURRENT_VALUE",
            "STRING_KEY_TABLE_OPEN_CACHE_RECOMMENDED_VALUE",
            "STRING_KEY_NUMBER_OF_TABLES",
            "STRING_KEY_MYSQL_HIGH_NUMBER_OF_TABLES_PLAYBOOK",
            "STRING_KEY_TMP_TABLE_SIZE_CURRENT_VALUE",
            "STRING_KEY_TMP_TABLE_SIZE_RECOMMENDED_VALUE",
            "STRING_KEY_MAX_HEAP_TABLE_SIZE_CURRENT_VALUE",
            "STRING_KEY_MAX_HEAP_TABLE_SIZE_RECOMMENDED_VALUE",
            "STRING_KEY_BINLOG_CACHE_SIZE_CURRENT_VALUE",
            "STRING_KEY_BINLOG_CACHE_SIZE_RECOMMENDED_VALUE",
            "STRING_KEY_BINLOG_STMT_CACHE_SIZE_CURRENT_VALUE",
            "STRING_KEY_BINLOG_STMT_CACHE_SIZE_RECOMMENDED_VALUE",
            "STRING_KEY_INNODB_LOG_BUFFER_SIZE_CURRENT_VALUE",
            "STRING_KEY_INNODB_LOG_BUFFER_SIZE_RECOMMENDED_VALUE",
            "STRING_KEY_TRANSACTION_ID_UTILIZATION_PERCENTAGE",
            "STRING_KEY_DAYS_TO_WRAPAROUND",
            "STRING_KEY_PG_TRANSACTION_ID_UTILIZATION_PLAYBOOK",
            "STRING_KEY_MAX_CPU_UTILIZATION",
            "STRING_KEY_MAX_MEMORY_UTILIZATION",
            "STRING_KEY_DISK_USAGE_BYTES_CHANGE",
            "STRING_KEY_MAX_DISK_READ_OPS_COUNT",
            "STRING_KEY_MAX_DISK_WRITE_OPS_COUNT",
            "STRING_KEY_SQL_IDLE_PLAYBOOK",
            "STRING_KEY_CURRENT_STORAGE_USAGE",
            "STRING_KEY_CURRENT_STORAGE_LIMIT",
            "STRING_KEY_ESTIMATED_STORAGE_RUN_OUT_PERIOD",
            "STRING_KEY_CURRENT_MACHINE_TYPE",
            "STRING_KEY_RECOMMENDED_MACHINE_TYPE",
            "STRING_KEY_CURRENT_CORES",
            "STRING_KEY_RECOMMENDED_CORES",
            "STRING_KEY_REVIEW_ORG_POLICY",
            "STRING_KEY_USE_AUTH_PROXY_OR_CONNECTORS",
            "STRING_KEY_REMOVE_AUTHORIZED_NETWORKS",
            "STRING_KEY_ROTATE_SERVER_CERTIFICATE",
            "STRING_KEY_MANAGE_SERVER_CERTIFICATES",
            "STRING_KEY_PUBLIC_IP_ENABLED",
            "STRING_KEY_PRIVATE_IP_ENABLED",
            "STRING_KEY_CONFIGURE_PRIVATE_IP",
            "STRING_KEY_DISABLE_PUBLIC_IP",
            "STRING_KEY_CPU_UTILIZATION_OUT_OF_SLA",
            "STRING_KEY_CPU_UTILIZATION_OUT_OF_SLA_LATEST_TIMESTAMP",
            "STRING_KEY_MEMORY_UTILIZATION_OUT_OF_SLA",
            "STRING_KEY_MEMORY_UTILIZATION_OUT_OF_SLA_LATEST_TIMESTAMP",
            "STRING_KEY_ESTIMATED_OOM_PROBABILITY",
            "STRING_KEY_MAX_CONNECTIONS_CURRENT_VALUE",
            "STRING_KEY_MAX_CONNECTIONS_RECOMMENDED_VALUE"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "description": "Enum value for the table cell. This should be used when value MUST be translated and represents common status/field like Enabled, Disabled, Success, Failure, etc."
        },
        "timestampValue": {
          "type": "string",
          "format": "google-datetime",
          "description": "Timestamp value for the table cell."
        },
        "stringValue": {
          "description": "String value for the table cell. This should be used when value doesn't need to be translated.",
          "type": "string"
        },
        "linkValue": {
          "$ref": "CloudRecommendationsRecommendersDatabasesV1Link",
          "description": "Link value for the table cell."
        }
      }
    },
    "GoogleCloudRecommenderV1Insight": {
      "properties": {
        "description": {
          "description": "Free-form human readable summary in English. The maximum length is 500 characters.",
          "type": "string"
        },
        "observationPeriod": {
          "description": "Observation period that led to the insight. The source data used to generate the insight ends at last_refresh_time and begins at (last_refresh_time - observation_period).",
          "format": "google-duration",
          "type": "string"
        },
        "category": {
          "enumDescriptions": [
            "Unspecified category.",
            "The insight is related to cost.",
            "The insight is related to security.",
            "The insight is related to performance.",
            "This insight is related to manageability.",
            "The insight is related to sustainability.",
            "This insight is related to reliability."
          ],
          "description": "Category being targeted by the insight.",
          "type": "string",
          "enum": [
            "CATEGORY_UNSPECIFIED",
            "COST",
            "SECURITY",
            "PERFORMANCE",
            "MANAGEABILITY",
            "SUSTAINABILITY",
            "RELIABILITY"
          ]
        },
        "severity": {
          "enumDescriptions": [
            "Insight has unspecified severity.",
            "Insight has low severity.",
            "Insight has medium severity.",
            "Insight has high severity.",
            "Insight has critical severity."
          ],
          "type": "string",
          "enum": [
            "SEVERITY_UNSPECIFIED",
            "LOW",
            "MEDIUM",
            "HIGH",
            "CRITICAL"
          ],
          "description": "Insight's severity."
        },
        "stateInfo": {
          "$ref": "GoogleCloudRecommenderV1InsightStateInfo",
          "description": "Information state and metadata."
        },
        "content": {
          "description": "A struct of custom fields to explain the insight. Example: \"grantedPermissionsCount\": \"1000\"",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "type": "object"
        },
        "insightSubtype": {
          "type": "string",
          "description": "Insight subtype. Insight content schema will be stable for a given subtype."
        },
        "etag": {
          "type": "string",
          "description": "Fingerprint of the Insight. Provides optimistic locking when updating states."
        },
        "name": {
          "description": "Identifier. Name of the insight.",
          "type": "string"
        },
        "associatedRecommendations": {
          "type": "array",
          "description": "Recommendations derived from this insight.",
          "items": {
            "$ref": "GoogleCloudRecommenderV1InsightRecommendationReference"
          }
        },
        "targetResources": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Fully qualified resource names that this insight is targeting."
        },
        "lastRefreshTime": {
          "description": "Timestamp of the latest data used to generate the insight.",
          "format": "google-datetime",
          "type": "string"
        }
      },
      "description": "An insight along with the information used to derive the insight. The insight may have associated recommendations as well.",
      "id": "GoogleCloudRecommenderV1Insight",
      "type": "object"
    },
    "CloudRecommendationsRecommendersDatabasesV1TableField": {
      "properties": {
        "numberValue": {
          "description": "Number value for the table field.",
          "type": "number",
          "format": "double"
        },
        "key": {
          "type": "string",
          "enum": [
            "STRING_KEY_UNSPECIFIED",
            "STRING_KEY_VIEW_INSTANCE_CTA",
            "STRING_KEY_EDIT_INSTANCE",
            "STRING_KEY_EDIT_USERS",
            "STRING_KEY_MYSQL_FLAG_DEFAULT_AUTHENTICATION_PLUGIN",
            "STRING_KEY_PG_FLAG_PASSWORD_ENCRYPTION",
            "STRING_KEY_ENABLE_USER_PASSWORD_POLICIES",
            "STRING_KEY_CONFIGURE_AUTHENTICATION",
            "STRING_KEY_CONFIGURE_DATABASE_FLAGS",
            "STRING_KEY_AVERAGE_CPU_USAGE",
            "STRING_KEY_OBSERVATION_TIME",
            "STRING_KEY_CONFIGURE_AUTOSCALING",
            "STRING_KEY_VIEW_CLUSTER_CTA",
            "STRING_KEY_EDIT_DISASTER_RECOVERY_SETTINGS",
            "STRING_KEY_ENABLE_SCHEDULED_BACKUPS",
            "STRING_KEY_ENABLE_POINT_IN_TIME_RECOVERY",
            "STRING_KEY_SCHEDULED_BACKUPS_ENABLEMENT",
            "STRING_KEY_PITR_ENABLEMENT",
            "STRING_KEY_INSECURE_RULES_DETECTED",
            "STRING_KEY_EXPIRING_RULES_DETECTED",
            "STRING_KEY_FIX_INSECURE_AND_EXPIRING_RULES",
            "STRING_KEY_EDIT_FIREBASE_RULES",
            "STRING_KEY_MAXIMUM_OF_PREDICTED_DISK_USAGE_FOR_THE_NEXT_7_DAYS",
            "STRING_KEY_STORAGE_CAPACITY_OF_THE_CLUSTER",
            "STRING_KEY_PER_NODE_STORAGE_CAPACITY_OF_THE_CLUSTER",
            "STRING_KEY_CURRENT_AUTOSCALING_MIN_NODE_COUNT",
            "STRING_KEY_CURRENT_AUTOSCALING_MAX_NODE_COUNT",
            "STRING_KEY_ABOUT_MAINTENANCE",
            "STRING_KEY_ABOUT_SCALING_UP",
            "STRING_KEY_CURRENT_MEMORY_SIZE_GB",
            "STRING_KEY_RECOMMENDED_MEMORY_SIZE_GB",
            "STRING_KEY_PEAK_MEMORY_USAGE_RATIO",
            "STRING_KEY_RECOMMENDED_AUTOSCALING_MIN_NODE_COUNT",
            "STRING_KEY_RECOMMENDED_AUTOSCALING_MAX_NODE_COUNT",
            "STRING_KEY_CURRENT_STORAGE_USED_BYTES_OF_THE_CLUSTER",
            "STRING_KEY_ABOUT_SCALING_OUT",
            "STRING_KEY_PEAK_MEMORY_USAGE_RATIO_ACROSS_SHARDS",
            "STRING_KEY_CURRENT_NUMBER_OF_SHARDS",
            "STRING_KEY_RECOMMENDED_NUMBER_OF_SHARDS",
            "STRING_KEY_ABOUT_AVOIDING_EXPENSIVE_COMMANDS",
            "STRING_KEY_EXPENSIVE_COMMANDS",
            "STRING_KEY_UPGRADE_TO_ENTERPRISE_PLUS_EDITION",
            "STRING_KEY_ENABLE_DATA_CACHE",
            "STRING_KEY_OBSERVATION_PERIOD",
            "STRING_KEY_LAST_DEFERRED_MAINTENANCE_OPERATION_TIME",
            "STRING_KEY_LAST_INSTANCE_MAINTENANCE_EVENT",
            "STRING_KEY_USE_AUTO_MSM",
            "STRING_KEY_CURRENT_MAX_SERVER_MEMORY_MB",
            "STRING_KEY_AUTOSCALING_CONFIGURATION",
            "STRING_KEY_SCALING_DOCS",
            "STRING_KEY_MODIFY_INSTANCE",
            "STRING_KEY_HOTSPOTS_AFFECTED_TABLES",
            "STRING_KEY_HOT_TABLETS_DOCS",
            "STRING_KEY_KEY_VISUALIZER_DOCS",
            "STRING_KEY_BIGTABLE_PERFORMANCE_DOCS",
            "STRING_KEY_VIEW_USERS",
            "STRING_KEY_SPANNER_PREVENT_ACCIDENTAL_DELETION_DOCS",
            "STRING_KEY_SPANNER_ENABLE_DATABASE_DELETION_PROTECTION_DOCS",
            "STRING_KEY_SPANNER_BACKUPS_DOCS",
            "STRING_KEY_SPANNER_CREATE_BACKUP_DOCS",
            "STRING_KEY_SPANNER_CREATE_BACKUP_SCHEDULES_DOCS",
            "STRING_KEY_SPANNER_PANTHEON_INSTANCE",
            "STRING_KEY_SPANNER_PANTHEON_INSTANCE_BACKUPS",
            "STRING_KEY_SPANNER_AFFECTED_DATABASES",
            "STRING_KEY_SPANNER_PANTHEON_BACKUP_SETTINGS",
            "STRING_KEY_CLOUD_SQL_EDITIONS",
            "STRING_KEY_ALLOYDB_ENABLE_HA_DOCS",
            "STRING_KEY_ALLOYDB_CONFIGURE_BACKUP_POLICY_DOCS",
            "STRING_KEY_VIEW_BACKUP_POLICY_CTA",
            "STRING_KEY_ALLOYDB_BACKUP_COUNT",
            "STRING_KEY_ALLOYDB_BACKUP_POLICY_TYPE",
            "STRING_KEY_DATA_CACHE",
            "STRING_KEY_BACKUP_AND_RESTORE_DATA",
            "STRING_KEY_POINT_IN_TIME_RECOVERY",
            "STRING_KEY_EDIT_BACKUP_SETTINGS",
            "STRING_KEY_GO_TO_RESOURCE",
            "STRING_KEY_OBSERVATION_START",
            "STRING_KEY_OBSERVATION_END",
            "STRING_KEY_STORAGE_UTILIZATION_RATIO",
            "STRING_KEY_CURRENT_AUTOSCALING_NODE_COUNT",
            "STRING_KEY_RECOMMENDED_AUTOSCALING_NODE_COUNT",
            "STRING_KEY_RECOMMENDED_MAINTENANCE_WINDOW",
            "STRING_KEY_FIND_AND_SET_MAINTENANCE_WINDOWS",
            "STRING_KEY_MAXMEMORY_POLICY",
            "STRING_KEY_SYSTEM_MEMORY_USAGE_RATIO",
            "STRING_KEY_FAILED_SNAPSHOTS",
            "STRING_KEY_EXPIRABLE_KEYS_PERCENTAGE",
            "STRING_KEY_OOM_COUNT",
            "STRING_KEY_EDIT_RESOURCE_CTA",
            "STRING_KEY_MEMORYSTORE_MEMORY_MANAGEMENT_BEST_PRACTICES",
            "STRING_KEY_MEMORYSTORE_REDIS_CRASHES",
            "STRING_KEY_BIGTABLE_MIN_NUMBER_OF_NODES_FOR_CUD",
            "STRING_KEY_BIGTABLE_AVERAGE_CLUSTER_NODE_COUNT",
            "STRING_KEY_BIGTABLE_CUD_DOCS",
            "STRING_KEY_SPANNER_MITIGATE_CMEK_ORG_POLICY_VIOLATION_DOCS",
            "STRING_KEY_SPANNER_MITIGATE_DRZ_ORG_POLICY_VIOLATION_DOCS",
            "STRING_KEY_ALLOYDB_RECOMMENDED_BACKUP_COUNT",
            "STRING_KEY_SQLSERVER_BEST_PRACTICES_GLOBAL",
            "STRING_KEY_SQLSERVER_SERVER_MEMORY_CONFIGURATION",
            "STRING_KEY_INSECURE_RULES_AUTHENTICATION",
            "STRING_KEY_KEY_VISUALIZER_CTA",
            "STRING_KEY_SPANNER_SCHEMA",
            "STRING_KEY_SPANNER_SCHEMA_BEST_PRACTICES",
            "STRING_KEY_SPANNER_MANAGE_DATA_USING_CONSOLE",
            "STRING_KEY_SPANNER_MIGRATE_YOUR_DATA",
            "STRING_KEY_SPANNER_MAKE_SCHEMA_UPDATE",
            "STRING_KEY_SPANNER_QUOTA_AND_LIMITS_TABLES",
            "STRING_KEY_SPANNER_PROTOCOL_BUFFER_LIMITATIONS",
            "STRING_KEY_SPANNER_QUERY_INSIGHTS",
            "STRING_KEY_SPANNER_USE_INDEX_ADVISOR",
            "STRING_KEY_SPANNER_SEARCH_INDEXES",
            "STRING_KEY_SPANNER_QUOTA_AND_LIMITS_INDEXES",
            "STRING_KEY_SPANNER_FOREIGN_KEYS",
            "STRING_KEY_SPANNER_CREATE_MANAGE_FOREIGN_KEY_RELATIONSHIPS",
            "STRING_KEY_SPANNER_IMPLEMENT_MULTI_TENANCY",
            "STRING_KEY_SPANNER_DATABASE_SPLITS",
            "STRING_KEY_SPANNER_CREATE_ALERTS_FOR_SPANNER_METRICS",
            "STRING_KEY_SPANNER_QUOTA_AND_LIMITS_SCHEMAS",
            "STRING_KEY_SPANNER_VIEW_OBJECT_CTA",
            "STRING_KEY_SPANNER_QUERY_INSIGHTS_CTA",
            "STRING_KEY_SPANNER_MONITORING_CTA",
            "STRING_KEY_BIGTABLE_CURRENT_CLIENT_LIBRARY_VERSION",
            "STRING_KEY_BIGTABLE_LATEST_CLIENT_LIBRARY_VERSION",
            "STRING_KEY_BIGTABLE_APP_PROFILE_IDS",
            "STRING_KEY_BIGTABLE_CLIENT_LIBRARY_LANGUAGE",
            "STRING_KEY_BIGTABLE_UPGRADING_CLIENTS",
            "STRING_KEY_BIGTABLE_REPLICATION_DELAY_TABLES",
            "STRING_KEY_BIGTABLE_REPLICATION_DELAY_DOCS",
            "STRING_KEY_BIGTABLE_CLIENT_LIBRARIES",
            "STRING_KEY_BIGTABLE_DATABOOST_DOCS",
            "STRING_KEY_INSTANCE_NAME",
            "STRING_KEY_APP_PROFILE_ID",
            "STRING_KEY_CREATE_APP_PROFILE_CTA",
            "STRING_KEY_BIGTABLE_DATABOOST_OVERVIEW_DOCS",
            "STRING_KEY_BIGTABLE_APP_PROFILES_DOCS",
            "STRING_KEY_THREAD_CACHE_SIZE_CURRENT_VALUE",
            "STRING_KEY_THREAD_CACHE_SIZE_RECOMMENDED_VALUE",
            "STRING_KEY_ENABLE_DATABASE_AUDITING",
            "STRING_KEY_JOIN_BUFFER_SIZE_CURRENT_VALUE",
            "STRING_KEY_JOIN_BUFFER_SIZE_RECOMMENDED_VALUE",
            "STRING_KEY_TABLE_OPEN_CACHE_CURRENT_VALUE",
            "STRING_KEY_TABLE_OPEN_CACHE_RECOMMENDED_VALUE",
            "STRING_KEY_NUMBER_OF_TABLES",
            "STRING_KEY_MYSQL_HIGH_NUMBER_OF_TABLES_PLAYBOOK",
            "STRING_KEY_TMP_TABLE_SIZE_CURRENT_VALUE",
            "STRING_KEY_TMP_TABLE_SIZE_RECOMMENDED_VALUE",
            "STRING_KEY_MAX_HEAP_TABLE_SIZE_CURRENT_VALUE",
            "STRING_KEY_MAX_HEAP_TABLE_SIZE_RECOMMENDED_VALUE",
            "STRING_KEY_BINLOG_CACHE_SIZE_CURRENT_VALUE",
            "STRING_KEY_BINLOG_CACHE_SIZE_RECOMMENDED_VALUE",
            "STRING_KEY_BINLOG_STMT_CACHE_SIZE_CURRENT_VALUE",
            "STRING_KEY_BINLOG_STMT_CACHE_SIZE_RECOMMENDED_VALUE",
            "STRING_KEY_INNODB_LOG_BUFFER_SIZE_CURRENT_VALUE",
            "STRING_KEY_INNODB_LOG_BUFFER_SIZE_RECOMMENDED_VALUE",
            "STRING_KEY_TRANSACTION_ID_UTILIZATION_PERCENTAGE",
            "STRING_KEY_DAYS_TO_WRAPAROUND",
            "STRING_KEY_PG_TRANSACTION_ID_UTILIZATION_PLAYBOOK",
            "STRING_KEY_MAX_CPU_UTILIZATION",
            "STRING_KEY_MAX_MEMORY_UTILIZATION",
            "STRING_KEY_DISK_USAGE_BYTES_CHANGE",
            "STRING_KEY_MAX_DISK_READ_OPS_COUNT",
            "STRING_KEY_MAX_DISK_WRITE_OPS_COUNT",
            "STRING_KEY_SQL_IDLE_PLAYBOOK",
            "STRING_KEY_CURRENT_STORAGE_USAGE",
            "STRING_KEY_CURRENT_STORAGE_LIMIT",
            "STRING_KEY_ESTIMATED_STORAGE_RUN_OUT_PERIOD",
            "STRING_KEY_CURRENT_MACHINE_TYPE",
            "STRING_KEY_RECOMMENDED_MACHINE_TYPE",
            "STRING_KEY_CURRENT_CORES",
            "STRING_KEY_RECOMMENDED_CORES",
            "STRING_KEY_REVIEW_ORG_POLICY",
            "STRING_KEY_USE_AUTH_PROXY_OR_CONNECTORS",
            "STRING_KEY_REMOVE_AUTHORIZED_NETWORKS",
            "STRING_KEY_ROTATE_SERVER_CERTIFICATE",
            "STRING_KEY_MANAGE_SERVER_CERTIFICATES",
            "STRING_KEY_PUBLIC_IP_ENABLED",
            "STRING_KEY_PRIVATE_IP_ENABLED",
            "STRING_KEY_CONFIGURE_PRIVATE_IP",
            "STRING_KEY_DISABLE_PUBLIC_IP",
            "STRING_KEY_CPU_UTILIZATION_OUT_OF_SLA",
            "STRING_KEY_CPU_UTILIZATION_OUT_OF_SLA_LATEST_TIMESTAMP",
            "STRING_KEY_MEMORY_UTILIZATION_OUT_OF_SLA",
            "STRING_KEY_MEMORY_UTILIZATION_OUT_OF_SLA_LATEST_TIMESTAMP",
            "STRING_KEY_ESTIMATED_OOM_PROBABILITY",
            "STRING_KEY_MAX_CONNECTIONS_CURRENT_VALUE",
            "STRING_KEY_MAX_CONNECTIONS_RECOMMENDED_VALUE"
          ],
          "description": "Enum used to map to the string to be shown in the UI for the field.",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ]
        },
        "stringValue": {
          "type": "string",
          "description": "String value for the table field. Note that this string won't be translated. It is advised to provide values that don't require translation."
        },
        "timestampValue": {
          "type": "string",
          "format": "google-datetime",
          "description": "Timestamp value for the table field. Timestamp will be shown in the user's timezone with the format: \"Feb 27, 2009 3:22:54 PM\"."
        }
      },
      "id": "CloudRecommendationsRecommendersDatabasesV1TableField",
      "type": "object"
    },
    "CloudRecommendationsRecommendersDatabasesV1DatabasesPresentationConfig": {
      "type": "object",
      "id": "CloudRecommendationsRecommendersDatabasesV1DatabasesPresentationConfig",
      "description": "Presentational config that maps to the UI components of templatized issue subtasks.",
      "properties": {
        "nextStepsDescription": {
          "$ref": "CloudRecommendationsRecommendersDatabasesV1Description",
          "description": "Next steps description for the issue."
        },
        "playbookLinks": {
          "items": {
            "$ref": "CloudRecommendationsRecommendersDatabasesV1PlaybookLink"
          },
          "description": "Playbook links for the issue.",
          "type": "array"
        },
        "ctaConfigs": {
          "items": {
            "$ref": "CloudRecommendationsRecommendersDatabasesV1CtaConfig"
          },
          "description": "Call to action buttons for the issue.",
          "type": "array"
        },
        "nextStepsTableFields": {
          "type": "array",
          "description": "Fields for the table containing metadata associated with the next steps.",
          "items": {
            "$ref": "CloudRecommendationsRecommendersDatabasesV1TableField"
          }
        },
        "issueContentChunks": {
          "type": "array",
          "description": "Content chunks for the issue.",
          "items": {
            "$ref": "CloudRecommendationsRecommendersDatabasesV1ContentChunk"
          }
        },
        "issueDescription": {
          "description": "Issue description for the issue.",
          "$ref": "CloudRecommendationsRecommendersDatabasesV1Description"
        },
        "nextStepsContentChunks": {
          "type": "array",
          "description": "Content chunks for the next steps.",
          "items": {
            "$ref": "CloudRecommendationsRecommendersDatabasesV1ContentChunk"
          }
        },
        "issueTableFields": {
          "description": "Fields for the table containing metadata associated with the issue.",
          "type": "array",
          "items": {
            "$ref": "CloudRecommendationsRecommendersDatabasesV1TableField"
          }
        }
      }
    },
    "CloudRecommendationsRecommendersDatabasesV1Description": {
      "type": "object",
      "properties": {
        "descriptionEnum": {
          "enumDescriptions": [
            ""
          ],
          "description": "Enum used to map to the html template to be shown in the UI.",
          "type": "string",
          "enum": [
            "DESC_ENUM_UNSPECIFIED"
          ]
        }
      },
      "id": "CloudRecommendationsRecommendersDatabasesV1Description"
    },
    "GoogleTypeMoney": {
      "properties": {
        "units": {
          "type": "string",
          "format": "int64",
          "description": "The whole units of the amount. For example if `currencyCode` is `\"USD\"`, then 1 unit is one US dollar."
        },
        "currencyCode": {
          "description": "The three-letter currency code defined in ISO 4217.",
          "type": "string"
        },
        "nanos": {
          "format": "int32",
          "type": "integer",
[...]
