{
  "ownerName": "Google",
  "discoveryVersion": "v1",
  "canonicalName": "Recommendations AI",
  "name": "recommendationengine",
  "fullyEncodeReservedExpansion": true,
  "servicePath": "",
  "schemas": {
    "GoogleCloudRecommendationengineV1beta1ListUserEventsResponse": {
      "type": "object",
      "properties": {
        "userEvents": {
          "description": "The user events.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudRecommendationengineV1beta1UserEvent"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "If empty, the list is complete. If nonempty, the token to pass to the next request's ListUserEvents.page_token."
        }
      },
      "id": "GoogleCloudRecommendationengineV1beta1ListUserEventsResponse",
      "description": "Response message for ListUserEvents method."
    },
    "GoogleCloudRecommendationengineV1beta1ListCatalogsResponse": {
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "Pagination token, if not returned indicates the last page."
        },
        "catalogs": {
          "type": "array",
          "description": "Output only. All the customer's catalogs.",
          "items": {
            "$ref": "GoogleCloudRecommendationengineV1beta1Catalog"
          },
          "readOnly": true
        }
      },
      "description": "Response for ListCatalogs method.",
      "id": "GoogleCloudRecommendationengineV1beta1ListCatalogsResponse",
      "type": "object"
    },
    "GoogleApiHttpBody": {
      "properties": {
        "data": {
          "description": "The HTTP request/response body as raw binary.",
          "type": "string",
          "format": "byte"
        },
        "extensions": {
          "description": "Application specific response metadata. Must be set in the first response for streaming APIs.",
          "items": {
            "type": "object",
            "additionalProperties": {
              "description": "Properties of the object. Contains field @type with type URL.",
              "type": "any"
            }
          },
          "type": "array"
        },
        "contentType": {
          "type": "string",
          "description": "The HTTP Content-Type header value specifying the content type of the body."
        }
      },
      "id": "GoogleApiHttpBody",
      "description": "Message that represents an arbitrary HTTP body. It should only be used for payload formats that can't be represented as JSON, such as raw binary or an HTML page. This message can be used both in streaming and non-streaming API methods in the request as well as the response. It can be used as a top-level request field, which is convenient if one wants to extract parameters from either the URL or HTTP template into the request fields and also want access to the raw HTTP body. Example: message GetResourceRequest { // A unique request id. string request_id = 1; // The raw HTTP body is bound to this field. google.api.HttpBody http_body = 2; } service ResourceService { rpc GetResource(GetResourceRequest) returns (google.api.HttpBody); rpc UpdateResource(google.api.HttpBody) returns (google.protobuf.Empty); } Example with streaming methods: service CaldavService { rpc GetCalendar(stream google.api.HttpBody) returns (stream google.api.HttpBody); rpc UpdateCalendar(stream google.api.HttpBody) returns (stream google.api.HttpBody); } Use of this type only changes how the request and response bodies are handled, all other features will continue to work unchanged.",
      "type": "object"
    },
    "GoogleCloudRecommendationengineV1beta1PredictResponse": {
      "description": "Response message for predict method.",
      "type": "object",
      "id": "GoogleCloudRecommendationengineV1beta1PredictResponse",
      "properties": {
        "itemsMissingInCatalog": {
          "type": "array",
          "description": "IDs of items in the request that were missing from the catalog.",
          "items": {
            "type": "string"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "If empty, the list is complete. If nonempty, the token to pass to the next request's PredictRequest.page_token."
        },
        "recommendationToken": {
          "description": "A unique recommendation token. This should be included in the user event logs resulting from this recommendation, which enables accurate attribution of recommendation model performance.",
          "type": "string"
        },
        "dryRun": {
          "type": "boolean",
          "description": "True if the dryRun property was set in the request."
        },
        "results": {
          "description": "A list of recommended items. The order represents the ranking (from the most relevant item to the least).",
          "items": {
            "$ref": "GoogleCloudRecommendationengineV1beta1PredictResponsePredictionResult"
          },
          "type": "array"
        },
        "metadata": {
          "type": "object",
          "additionalProperties": {
            "type": "any"
          },
          "description": "Additional domain specific prediction response metadata."
        }
      }
    },
    "GoogleCloudRecommendationengineV1beta1UserEvent": {
      "id": "GoogleCloudRecommendationengineV1beta1UserEvent",
      "properties": {
        "eventDetail": {
          "description": "Optional. User event detailed information common across different recommendation types.",
          "$ref": "GoogleCloudRecommendationengineV1beta1EventDetail"
        },
        "productEventDetail": {
          "description": "Optional. Retail product specific user event metadata. This field is required for the following event types: * `add-to-cart` * `add-to-list` * `category-page-view` * `checkout-start` * `detail-page-view` * `purchase-complete` * `refund` * `remove-from-cart` * `remove-from-list` * `search` This field is optional for the following event types: * `page-visit` * `shopping-cart-page-view` - note that 'product_event_detail' should be set for this unless the shopping cart is empty. This field is not allowed for the following event types: * `home-page-view`",
          "$ref": "GoogleCloudRecommendationengineV1beta1ProductEventDetail"
        },
        "eventTime": {
          "type": "string",
          "description": "Optional. Only required for ImportUserEvents method. Timestamp of user event created.",
          "format": "google-datetime"
        },
        "eventSource": {
          "description": "Optional. This field should *not* be set when using JavaScript pixel or the Recommendations AI Tag. Defaults to `EVENT_SOURCE_UNSPECIFIED`.",
          "type": "string",
          "enum": [
            "EVENT_SOURCE_UNSPECIFIED",
            "AUTOML",
            "ECOMMERCE",
            "BATCH_UPLOAD"
          ],
          "enumDescriptions": [
            "Unspecified event source.",
            "The event is ingested via a javascript pixel or Recommendations AI Tag through automl datalayer or JS Macros.",
            "The event is ingested via Recommendations AI Tag through Enhanced Ecommerce datalayer.",
            "The event is ingested via Import user events API."
          ]
        },
        "eventType": {
          "type": "string",
          "description": "Required. User event type. Allowed values are: * `add-to-cart` Products being added to cart. * `add-to-list` Items being added to a list (shopping list, favorites etc). * `category-page-view` Special pages such as sale or promotion pages viewed. * `checkout-start` User starting a checkout process. * `detail-page-view` Products detail page viewed. * `home-page-view` Homepage viewed. * `page-visit` Generic page visits not included in the event types above. * `purchase-complete` User finishing a purchase. * `refund` Purchased items being refunded or returned. * `remove-from-cart` Products being removed from cart. * `remove-from-list` Items being removed from a list. * `search` Product search. * `shopping-cart-page-view` User viewing a shopping cart. * `impression` List of items displayed. Used by Google Tag Manager."
        },
        "userInfo": {
          "description": "Required. User information.",
          "$ref": "GoogleCloudRecommendationengineV1beta1UserInfo"
        }
      },
      "description": "UserEvent captures all metadata information recommendation engine needs to know about how end users interact with customers' website.",
      "type": "object"
    },
    "GoogleCloudRecommendationengineV1beta1CatalogItem": {
      "description": "CatalogItem captures all metadata information of items to be recommended.",
      "id": "GoogleCloudRecommendationengineV1beta1CatalogItem",
      "type": "object",
      "properties": {
        "itemGroupId": {
          "type": "string",
          "description": "Optional. Variant group identifier for prediction results. UTF-8 encoded string with a length limit of 128 bytes. This field must be enabled before it can be used. [Learn more](/recommendations-ai/docs/catalog#item-group-id)."
        },
        "tags": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Optional. Filtering tags associated with the catalog item. Each tag should be a UTF-8 encoded string with a length limit of 1 KiB. This tag can be used for filtering recommendation results by passing the tag as part of the predict request filter."
        },
        "categoryHierarchies": {
          "description": "Required. Catalog item categories. This field is repeated for supporting one catalog item belonging to several parallel category hierarchies. For example, if a shoes product belongs to both [\"Shoes & Accessories\" -> \"Shoes\"] and [\"Sports & Fitness\" -> \"Athletic Clothing\" -> \"Shoes\"], it could be represented as: \"categoryHierarchies\": [ { \"categories\": [\"Shoes & Accessories\", \"Shoes\"]}, { \"categories\": [\"Sports & Fitness\", \"Athletic Clothing\", \"Shoes\"] } ]",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudRecommendationengineV1beta1CatalogItemCategoryHierarchy"
          }
        },
        "languageCode": {
          "description": "Optional. Deprecated. The model automatically detects the text language. Your catalog can include text in different languages, but duplicating catalog items to provide text in multiple languages can result in degraded model performance.",
          "type": "string"
        },
        "productMetadata": {
          "$ref": "GoogleCloudRecommendationengineV1beta1ProductCatalogItem",
          "description": "Optional. Metadata specific to retail products."
        },
        "id": {
          "description": "Required. Catalog item identifier. UTF-8 encoded string with a length limit of 128 bytes. This id must be unique among all catalog items within the same catalog. It should also be used when logging user events in order for the user events to be joined with the Catalog.",
          "type": "string"
        },
        "description": {
          "type": "string",
          "description": "Optional. Catalog item description. UTF-8 encoded string with a length limit of 5 KiB."
        },
        "itemAttributes": {
          "description": "Optional. Highly encouraged. Extra catalog item attributes to be included in the recommendation model. For example, for retail products, this could include the store name, vendor, style, color, etc. These are very strong signals for recommendation model, thus we highly recommend providing the item attributes here.",
          "$ref": "GoogleCloudRecommendationengineV1beta1FeatureMap"
        },
        "title": {
          "type": "string",
          "description": "Required. Catalog item title. UTF-8 encoded string with a length limit of 1 KiB."
        }
      }
    },
    "GoogleCloudRecommendationengineV1beta1ListCatalogItemsResponse": {
      "type": "object",
      "id": "GoogleCloudRecommendationengineV1beta1ListCatalogItemsResponse",
      "description": "Response message for ListCatalogItems method.",
      "properties": {
        "catalogItems": {
          "description": "The catalog items.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudRecommendationengineV1beta1CatalogItem"
          }
        },
        "nextPageToken": {
          "description": "If empty, the list is complete. If nonempty, the token to pass to the next request's ListCatalogItemRequest.page_token.",
          "type": "string"
        }
      }
    },
    "GoogleCloudRecommendationengineV1beta1ImportCatalogItemsResponse": {
      "type": "object",
      "properties": {
        "errorsConfig": {
          "description": "Echoes the destination for the complete errors in the request if set.",
          "$ref": "GoogleCloudRecommendationengineV1beta1ImportErrorsConfig"
        },
        "errorSamples": {
          "type": "array",
          "items": {
            "$ref": "GoogleRpcStatus"
          },
          "description": "A sample of errors encountered while processing the request."
        }
      },
      "id": "GoogleCloudRecommendationengineV1beta1ImportCatalogItemsResponse",
      "description": "Response of the ImportCatalogItemsRequest. If the long running operation is done, then this message is returned by the google.longrunning.Operations.response field if the operation was successful."
    },
    "GoogleCloudRecommendationengineV1beta1ProductCatalogItem": {
      "type": "object",
      "description": "ProductCatalogItem captures item metadata specific to retail products.",
      "properties": {
        "costs": {
          "type": "object",
          "additionalProperties": {
            "type": "number",
            "format": "float"
          },
          "description": "Optional. A map to pass the costs associated with the product. For example: {\"manufacturing\": 45.5} The profit of selling this item is computed like so: * If 'exactPrice' is provided, profit = displayPrice - sum(costs) * If 'priceRange' is provided, profit = minPrice - sum(costs)"
        },
        "exactPrice": {
          "$ref": "GoogleCloudRecommendationengineV1beta1ProductCatalogItemExactPrice",
          "description": "Optional. The exact product price."
        },
        "stockState": {
          "description": "Optional. Online stock state of the catalog item. Default is `IN_STOCK`.",
          "enumDescriptions": [
            "Default item stock status. Should never be used.",
            "Item in stock.",
            "Item out of stock.",
            "Item that is in pre-order state.",
            "Item that is back-ordered (i.e. temporarily out of stock)."
          ],
          "type": "string",
          "enum": [
            "STOCK_STATE_UNSPECIFIED",
            "IN_STOCK",
            "OUT_OF_STOCK",
            "PREORDER",
            "BACKORDER"
          ]
        },
        "availableQuantity": {
          "type": "string",
          "format": "int64",
          "description": "Optional. The available quantity of the item."
        },
        "canonicalProductUri": {
          "description": "Optional. Canonical URL directly linking to the item detail page with a length limit of 5 KiB..",
          "type": "string"
        },
        "images": {
          "type": "array",
          "description": "Optional. Product images for the catalog item.",
          "items": {
            "$ref": "GoogleCloudRecommendationengineV1beta1Image"
          }
        },
        "priceRange": {
          "$ref": "GoogleCloudRecommendationengineV1beta1ProductCatalogItemPriceRange",
          "description": "Optional. The product price range."
        },
        "currencyCode": {
          "description": "Optional. Only required if the price is set. Currency code for price/costs. Use three-character ISO-4217 code.",
          "type": "string"
        }
      },
      "id": "GoogleCloudRecommendationengineV1beta1ProductCatalogItem"
    },
    "GoogleProtobufEmpty": {
      "properties": {},
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "id": "GoogleProtobufEmpty",
      "type": "object"
    },
    "GoogleCloudRecommendationengineV1beta1InputConfig": {
      "properties": {
        "userEventInlineSource": {
          "description": "The Inline source for the input content for UserEvents.",
          "$ref": "GoogleCloudRecommendationengineV1beta1UserEventInlineSource"
        },
        "bigQuerySource": {
          "description": "BigQuery input source.",
          "$ref": "GoogleCloudRecommendationengineV1beta1BigQuerySource"
        },
        "catalogInlineSource": {
          "$ref": "GoogleCloudRecommendationengineV1beta1CatalogInlineSource",
          "description": "The Inline source for the input content for Catalog items."
        },
        "gcsSource": {
          "$ref": "GoogleCloudRecommendationengineV1beta1GcsSource",
          "description": "Google Cloud Storage location for the input content."
        }
      },
      "description": "The input config source.",
      "id": "GoogleCloudRecommendationengineV1beta1InputConfig",
      "type": "object"
    },
    "GoogleCloudRecommendationengineV1beta1UserInfo": {
      "type": "object",
      "properties": {
        "userAgent": {
          "description": "Optional. User agent as included in the HTTP header. UTF-8 encoded string with a length limit of 1 KiB. This should *not* be set when using the JavaScript pixel or if `directUserRequest` is set.",
          "type": "string"
        },
        "directUserRequest": {
          "type": "boolean",
          "description": "Optional. Indicates if the request is made directly from the end user in which case the user_agent and ip_address fields can be populated from the HTTP request. This should *not* be set when using the javascript pixel. This flag should be set only if the API request is made directly from the end user such as a mobile app (and not if a gateway or a server is processing and pushing the user events)."
        },
        "ipAddress": {
          "description": "Optional. IP address of the user. This could be either IPv4 (e.g. 104.133.9.80) or IPv6 (e.g. 2001:0db8:85a3:0000:0000:8a2e:0370:7334). This should *not* be set when using the javascript pixel or if `direct_user_request` is set. Used to extract location information for personalization.",
          "type": "string"
        },
        "userId": {
          "type": "string",
          "description": "Optional. Unique identifier for logged-in user with a length limit of 128 bytes. Required only for logged-in users. Don't set for anonymous users. Don't set the field to the same fixed ID for different users. This mixes the event history of those users together, which results in degraded model quality."
        },
        "visitorId": {
          "type": "string",
          "description": "Required. A unique identifier for tracking visitors with a length limit of 128 bytes. For example, this could be implemented with an HTTP cookie, which should be able to uniquely identify a visitor on a single device. This unique identifier should not change if the visitor logs in or out of the website. Maximum length 128 bytes. Cannot be empty. Don't set the field to the same fixed ID for different users. This mixes the event history of those users together, which results in degraded model quality."
        }
      },
      "description": "Information of end users.",
      "id": "GoogleCloudRecommendationengineV1beta1UserInfo"
    },
    "GoogleCloudRecommendationengineV1beta1RejoinUserEventsMetadata": {
      "type": "object",
      "id": "GoogleCloudRecommendationengineV1beta1RejoinUserEventsMetadata",
      "description": "Metadata for RejoinUserEvents method.",
      "properties": {}
    },
    "GoogleRpcStatus": {
      "properties": {
        "details": {
          "type": "array",
          "items": {
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            },
            "type": "object"
          },
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use."
        },
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        },
        "code": {
          "type": "integer",
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "format": "int32"
        }
      },
      "id": "GoogleRpcStatus",
      "type": "object",
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors)."
    },
    "GoogleCloudRecommendationengineV1beta1PurgeUserEventsRequest": {
      "properties": {
        "filter": {
          "type": "string",
          "description": "Required. The filter string to specify the events to be deleted. Empty string filter is not allowed. The eligible fields for filtering are: * `eventType`: UserEvent.eventType field of type string. * `eventTime`: in ISO 8601 \"zulu\" format. * `visitorId`: field of type string. Specifying this will delete all events associated with a visitor. * `userId`: field of type string. Specifying this will delete all events associated with a user. Examples: * Deleting all events in a time range: `eventTime > \"2012-04-23T18:25:43.511Z\" eventTime < \"2012-04-23T18:30:43.511Z\"` * Deleting specific eventType in time range: `eventTime > \"2012-04-23T18:25:43.511Z\" eventType = \"detail-page-view\"` * Deleting all events for a specific visitor: `visitorId = \"visitor1024\"` The filtering fields are assumed to have an implicit AND."
        },
        "force": {
          "type": "boolean",
          "description": "Optional. The default value is false. Override this flag to true to actually perform the purge. If the field is not set to true, a sampling of events to be deleted will be returned."
        }
      },
      "id": "GoogleCloudRecommendationengineV1beta1PurgeUserEventsRequest",
      "description": "Request message for PurgeUserEvents method.",
      "type": "object"
    },
    "GoogleCloudRecommendationengineV1beta1CatalogInlineSource": {
      "id": "GoogleCloudRecommendationengineV1beta1CatalogInlineSource",
      "properties": {
        "catalogItems": {
          "items": {
            "$ref": "GoogleCloudRecommendationengineV1beta1CatalogItem"
          },
          "type": "array",
          "description": "Optional. A list of catalog items to update/create. Recommended max of 10k items."
        }
      },
      "type": "object",
      "description": "The inline source for the input config for ImportCatalogItems method."
    },
    "GoogleCloudRecommendationengineV1alphaTuningMetadata": {
      "description": "Metadata associated with a tune operation.",
      "properties": {
        "recommendationModel": {
          "type": "string",
          "description": "The resource name of the recommendation model that this tune applies to. Format: projects/{project_number}/locations/{location_id}/catalogs/{catalog_id}/eventStores/{event_store_id}/recommendationModels/{recommendation_model_id}"
        }
      },
      "type": "object",
      "id": "GoogleCloudRecommendationengineV1alphaTuningMetadata"
    },
    "GoogleCloudRecommendationengineV1beta1ImportMetadata": {
      "type": "object",
      "id": "GoogleCloudRecommendationengineV1beta1ImportMetadata",
      "description": "Metadata related to the progress of the Import operation. This will be returned by the google.longrunning.Operation.metadata field.",
      "properties": {
        "updateTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Operation last update time. If the operation is done, this is also the finish time."
        },
        "successCount": {
          "description": "Count of entries that were processed successfully.",
          "type": "string",
          "format": "int64"
        },
        "failureCount": {
          "description": "Count of entries that encountered errors while processing.",
          "format": "int64",
          "type": "string"
        },
        "createTime": {
          "description": "Operation create time.",
          "format": "google-datetime",
          "type": "string"
        },
        "operationName": {
          "description": "Name of the operation.",
          "type": "string"
        },
        "requestId": {
          "description": "Id of the request / operation. This is parroting back the requestId that was passed in the request.",
          "type": "string"
        }
      }
    },
    "GoogleCloudRecommendationengineV1beta1GcsSource": {
      "id": "GoogleCloudRecommendationengineV1beta1GcsSource",
      "properties": {
        "inputUris": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Required. Google Cloud Storage URIs to input files. URI can be up to 2000 characters long. URIs can match the full object path (for example, `gs://bucket/directory/object.json`) or a pattern matching one or more files, such as `gs://bucket/directory/*.json`. A request can contain at most 100 files, and each file can be up to 2 GB. See [Importing catalog information](/recommendations-ai/docs/upload-catalog) for the expected file format and setup instructions."
        },
        "jsonSchema": {
          "type": "string",
          "description": "Optional. The schema to use when parsing the data from the source. Supported values for catalog imports: 1: \"catalog_recommendations_ai\" using https://cloud.google.com/recommendations-ai/docs/upload-catalog#json (Default for catalogItems.import) 2: \"catalog_merchant_center\" using https://cloud.google.com/recommendations-ai/docs/upload-catalog#mc Supported values for user events imports: 1: \"user_events_recommendations_ai\" using https://cloud.google.com/recommendations-ai/docs/manage-user-events#import (Default for userEvents.import) 2. \"user_events_ga360\" using https://support.google.com/analytics/answer/3437719?hl=en"
        }
      },
      "description": "Google Cloud Storage location for input content. format.",
      "type": "object"
    },
    "GoogleCloudRecommendationengineV1beta1ImportUserEventsResponse": {
      "properties": {
        "importSummary": {
          "$ref": "GoogleCloudRecommendationengineV1beta1UserEventImportSummary",
          "description": "Aggregated statistics of user event import status."
        },
        "errorsConfig": {
          "$ref": "GoogleCloudRecommendationengineV1beta1ImportErrorsConfig",
          "description": "Echoes the destination for the complete errors if this field was set in the request."
        },
        "errorSamples": {
          "type": "array",
          "description": "A sample of errors encountered while processing the request.",
          "items": {
            "$ref": "GoogleRpcStatus"
          }
        }
      },
      "type": "object",
      "id": "GoogleCloudRecommendationengineV1beta1ImportUserEventsResponse",
      "description": "Response of the ImportUserEventsRequest. If the long running operation was successful, then this message is returned by the google.longrunning.Operations.response field if the operation was successful."
    },
    "GoogleCloudRecommendationengineV1beta1CatalogItemLevelConfig": {
      "id": "GoogleCloudRecommendationengineV1beta1CatalogItemLevelConfig",
      "type": "object",
      "properties": {
        "eventItemLevel": {
          "enumDescriptions": [
            "Unknown value - should never be used.",
            "Catalog items are at variant level.",
            "Catalog items are at master level."
          ],
          "description": "Optional. Level of the catalog at which events are uploaded. See https://cloud.google.com/recommendations-ai/docs/catalog#catalog-levels for more details.",
          "type": "string",
          "enum": [
            "CATALOG_ITEM_LEVEL_UNSPECIFIED",
            "VARIANT",
            "MASTER"
          ]
        },
        "predictItemLevel": {
          "enumDescriptions": [
            "Unknown value - should never be used.",
            "Catalog items are at variant level.",
            "Catalog items are at master level."
          ],
          "type": "string",
          "enum": [
            "CATALOG_ITEM_LEVEL_UNSPECIFIED",
            "VARIANT",
            "MASTER"
          ],
          "description": "Optional. Level of the catalog at which predictions are made. See https://cloud.google.com/recommendations-ai/docs/catalog#catalog-levels for more details."
        }
      },
      "description": "Configures the catalog level that users send events to, and the level at which predictions are made."
    },
    "GoogleCloudRecommendationengineV1beta1PredictionApiKeyRegistration": {
      "properties": {
        "apiKey": {
          "description": "The API key.",
          "type": "string"
        }
      },
      "id": "GoogleCloudRecommendationengineV1beta1PredictionApiKeyRegistration",
      "description": "Registered Api Key.",
      "type": "object"
    },
    "GoogleCloudRecommendationengineV1beta1PredictResponsePredictionResult": {
      "id": "GoogleCloudRecommendationengineV1beta1PredictResponsePredictionResult",
      "type": "object",
      "properties": {
        "itemMetadata": {
          "additionalProperties": {
            "type": "any"
          },
          "type": "object",
          "description": "Additional item metadata / annotations. Possible values: * `catalogItem`: JSON representation of the catalogItem. Will be set if `returnCatalogItem` is set to true in `PredictRequest.params`. * `score`: Prediction score in double value. Will be set if `returnItemScore` is set to true in `PredictRequest.params`."
        },
        "id": {
          "description": "ID of the recommended catalog item",
          "type": "string"
        }
      },
      "description": "PredictionResult represents the recommendation prediction results."
    },
    "GoogleCloudRecommendationengineV1beta1RejoinUserEventsResponse": {
      "description": "Response message for RejoinUserEvents method.",
      "id": "GoogleCloudRecommendationengineV1beta1RejoinUserEventsResponse",
      "type": "object",
      "properties": {
        "rejoinedUserEventsCount": {
          "description": "Number of user events that were joined with latest catalog items.",
          "format": "int64",
          "type": "string"
        }
      }
    },
    "GoogleCloudRecommendationengineV1beta1FeatureMap": {
      "properties": {
        "numericalFeatures": {
          "description": "Numerical features. Some examples would be the height/weight of a product, or age of a customer. Feature names must be UTF-8 encoded strings. For example: `{ \"lengths_cm\": {\"value\":[2.3, 15.4]}, \"heights_cm\": {\"value\":[8.1, 6.4]} }`",
          "additionalProperties": {
            "$ref": "GoogleCloudRecommendationengineV1beta1FeatureMapFloatList"
          },
          "type": "object"
        },
        "categoricalFeatures": {
          "description": "Categorical features that can take on one of a limited number of possible values. Some examples would be the brand/maker of a product, or country of a customer. Feature names and values must be UTF-8 encoded strings. For example: `{ \"colors\": {\"value\": [\"yellow\", \"green\"]}, \"sizes\": {\"value\":[\"S\", \"M\"]}`",
          "type": "object",
          "additionalProperties": {
            "$ref": "GoogleCloudRecommendationengineV1beta1FeatureMapStringList"
          }
        }
      },
      "type": "object",
      "id": "GoogleCloudRecommendationengineV1beta1FeatureMap",
      "description": "FeatureMap represents extra features that customers want to include in the recommendation model for catalogs/user events as categorical/numerical features."
    },
    "GoogleCloudRecommendationengineV1beta1ImportErrorsConfig": {
      "type": "object",
      "id": "GoogleCloudRecommendationengineV1beta1ImportErrorsConfig",
      "properties": {
        "gcsPrefix": {
          "type": "string",
          "description": "Google Cloud Storage path for import errors. This must be an empty, existing Cloud Storage bucket. Import errors will be written to a file in this bucket, one per line, as a JSON-encoded `google.rpc.Status` message."
        }
      },
      "description": "Configuration of destination for Import related errors."
    },
    "GoogleCloudRecommendationengineV1beta1ImportCatalogItemsRequest": {
      "description": "Request message for Import methods.",
      "properties": {
        "errorsConfig": {
          "$ref": "GoogleCloudRecommendationengineV1beta1ImportErrorsConfig",
          "description": "Optional. The desired location of errors incurred during the Import."
        },
        "inputConfig": {
          "$ref": "GoogleCloudRecommendationengineV1beta1InputConfig",
          "description": "Required. The desired input location of the data."
        },
        "requestId": {
          "type": "string",
          "description": "Optional. Unique identifier provided by client, within the ancestor dataset scope. Ensures idempotency and used for request deduplication. Server-generated if unspecified. Up to 128 characters long. This is returned as google.longrunning.Operation.name in the response."
        },
        "updateMask": {
          "type": "string",
          "description": "Optional. Indicates which fields in the provided imported 'items' to update. If not set, will by default update all fields.",
          "format": "google-fieldmask"
        }
      },
      "id": "GoogleCloudRecommendationengineV1beta1ImportCatalogItemsRequest",
      "type": "object"
    },
    "GoogleCloudRecommendationengineV1beta1BigQuerySource": {
      "description": "BigQuery source import data from.",
      "id": "GoogleCloudRecommendationengineV1beta1BigQuerySource",
      "properties": {
        "datasetId": {
          "description": "Required. The BigQuery data set to copy the data from.",
          "type": "string"
        },
        "dataSchema": {
          "description": "Optional. The schema to use when parsing the data from the source. Supported values for catalog imports: 1: \"catalog_recommendations_ai\" using https://cloud.google.com/recommendations-ai/docs/upload-catalog#json (Default for catalogItems.import) 2: \"catalog_merchant_center\" using https://cloud.google.com/recommendations-ai/docs/upload-catalog#mc Supported values for user event imports: 1: \"user_events_recommendations_ai\" using https://cloud.google.com/recommendations-ai/docs/manage-user-events#import (Default for userEvents.import) 2. \"user_events_ga360\" using https://support.google.com/analytics/answer/3437719?hl=en",
          "type": "string"
        },
        "tableId": {
          "type": "string",
          "description": "Required. The BigQuery table to copy the data from."
        },
        "projectId": {
          "description": "Optional. The project id (can be project # or id) that the BigQuery source is in. If not specified, inherits the project id from the parent request.",
          "type": "string"
        },
        "gcsStagingDir": {
          "type": "string",
          "description": "Optional. Intermediate Cloud Storage directory used for the import. Can be specified if one wants to have the BigQuery export to a specific Cloud Storage directory."
        }
      },
      "type": "object"
    },
    "GoogleCloudRecommendationengineV1beta1ProductCatalogItemExactPrice": {
      "properties": {
        "originalPrice": {
          "description": "Optional. Price of the product without any discount. If zero, by default set to be the 'displayPrice'.",
          "format": "float",
          "type": "number"
        },
        "displayPrice": {
          "type": "number",
          "format": "float",
          "description": "Optional. Display price of the product."
        }
      },
      "type": "object",
      "id": "GoogleCloudRecommendationengineV1beta1ProductCatalogItemExactPrice",
      "description": "Exact product price."
    },
    "GoogleCloudRecommendationengineV1beta1PurchaseTransaction": {
      "id": "GoogleCloudRecommendationengineV1beta1PurchaseTransaction",
      "description": "A transaction represents the entire purchase transaction.",
      "properties": {
        "currencyCode": {
          "description": "Required. Currency code. Use three-character ISO-4217 code. This field is not required if the event type is `refund`.",
          "type": "string"
        },
        "taxes": {
          "type": "object",
          "additionalProperties": {
            "type": "number",
            "format": "float"
          },
          "description": "Optional. All the taxes associated with the transaction."
        },
        "costs": {
          "additionalProperties": {
            "format": "float",
            "type": "number"
          },
          "type": "object",
          "description": "Optional. All the costs associated with the product. These can be manufacturing costs, shipping expenses not borne by the end user, or any other costs. Total product cost such that profit = revenue - (sum(taxes) + sum(costs)) If product_cost is not set, then profit = revenue - tax - shipping - sum(CatalogItem.costs). If CatalogItem.cost is not specified for one of the items, CatalogItem.cost based profit *cannot* be calculated for this Transaction."
        },
        "revenue": {
          "type": "number",
          "format": "float",
          "description": "Required. Total revenue or grand total associated with the transaction. This value include shipping, tax, or other adjustments to total revenue that you want to include as part of your revenue calculations. This field is not required if the event type is `refund`."
        },
        "id": {
          "description": "Optional. The transaction ID with a length limit of 128 bytes.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudRecommendationengineV1beta1PredictRequest": {
      "properties": {
        "dryRun": {
          "type": "boolean",
          "description": "Optional. Use dryRun mode for this prediction query. If set to true, a fake model will be used that returns arbitrary catalog items. Note that the dryRun mode should only be used for testing the API, or if the model is not ready."
        },
        "userEvent": {
          "$ref": "GoogleCloudRecommendationengineV1beta1UserEvent",
          "description": "Required. Context about the user, what they are looking at and what action they took to trigger the predict request. Note that this user event detail won't be ingested to userEvent logs. Thus, a separate userEvent write request is required for event logging. Don't set UserInfo.visitor_id or UserInfo.user_id to the same fixed ID for different users. If you are trying to receive non-personalized recommendations (not recommended; this can negatively impact model performance), instead set UserInfo.visitor_id to a random unique ID and leave UserInfo.user_id unset."
        },
        "filter": {
          "type": "string",
          "description": "Optional. Filter for restricting prediction results. Accepts values for tags and the `filterOutOfStockItems` flag. * Tag expressions. Restricts predictions to items that match all of the specified tags. Boolean operators `OR` and `NOT` are supported if the expression is enclosed in parentheses, and must be separated from the tag values by a space. `-\"tagA\"` is also supported and is equivalent to `NOT \"tagA\"`. Tag values must be double quoted UTF-8 encoded strings with a size limit of 1 KiB. * filterOutOfStockItems. Restricts predictions to items that do not have a stockState value of OUT_OF_STOCK. Examples: * tag=(\"Red\" OR \"Blue\") tag=\"New-Arrival\" tag=(NOT \"promotional\") * filterOutOfStockItems tag=(-\"promotional\") * filterOutOfStockItems If your filter blocks all prediction results, nothing will be returned. If you want generic (unfiltered) popular items to be returned instead, set `strictFiltering` to false in `PredictRequest.params`."
        },
        "params": {
          "description": "Optional. Additional domain specific parameters for the predictions. Allowed values: * `returnCatalogItem`: Boolean. If set to true, the associated catalogItem object will be returned in the `PredictResponse.PredictionResult.itemMetadata` object in the method response. * `returnItemScore`: Boolean. If set to true, the prediction 'score' corresponding to each returned item will be set in the `metadata` field in the prediction response. The given 'score' indicates the probability of an item being clicked/purchased given the user's context and history. * `strictFiltering`: Boolean. True by default. If set to false, the service will return generic (unfiltered) popular items instead of empty if your filter blocks all prediction results. * `priceRerankLevel`: String. Default empty. If set to be non-empty, then it needs to be one of {'no-price-reranking', 'low-price-reranking', 'medium-price-reranking', 'high-price-reranking'}. This gives request level control and adjust prediction results based on product price. * `diversityLevel`: String. Default empty. If set to be non-empty, then it needs to be one of {'no-diversity', 'low-diversity', 'medium-diversity', 'high-diversity', 'auto-diversity'}. This gives request level control and adjust prediction results based on product category.",
          "additionalProperties": {
            "type": "any"
          },
          "type": "object"
        },
        "pageSize": {
          "format": "int32",
          "description": "Optional. Maximum number of results to return per page. Set this property to the number of prediction results required. If zero, the service will choose a reasonable default.",
          "type": "integer"
        },
        "pageToken": {
          "type": "string",
          "description": "Optional. The previous PredictResponse.next_page_token."
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Optional. The labels for the predict request. * Label keys can contain lowercase letters, digits and hyphens, must start with a letter, and must end with a letter or digit. * Non-zero label values can contain lowercase letters, digits and hyphens, must start with a letter, and must end with a letter or digit. * No more than 64 labels can be associated with a given request. See https://goo.gl/xmQnxf for more information on and examples of labels."
        }
      },
      "id": "GoogleCloudRecommendationengineV1beta1PredictRequest",
      "type": "object",
      "description": "Request message for Predict method. Full resource name of the format: `{name=projects/*/locations/global/catalogs/default_catalog/eventStores/default_event_store/placements/*}` The id of the recommendation engine placement. This id is used to identify the set of models that will be used to make the prediction. We currently support three placements with the following IDs by default: // * `shopping_cart`: Predicts items frequently bought together with one or more catalog items in the same shopping session. Commonly displayed after `add-to-cart` event, on product detail pages, or on the shopping cart page. * `home_page`: Predicts the next product that a user will most likely engage with or purchase based on the shopping or viewing history of the specified `userId` or `visitorId`. For example - Recommendations for you. * `product_detail`: Predicts the next product that a user will most likely engage with or purchase. The prediction is based on the shopping or viewing history of the specified `userId` or `visitorId` and its relevance to a specified `CatalogItem`. Typically used on product detail pages. For example - More items like this. * `recently_viewed_default`: Returns up to 75 items recently viewed by the specified `userId` or `visitorId`, most recent ones first. Returns nothing if neither of them has viewed any items yet. For example - Recently viewed. The full list of available placements can be seen at https://console.cloud.google.com/recommendation/catalogs/default_catalog/placements"
    },
    "GoogleCloudRecommendationengineV1alphaRejoinCatalogMetadata": {
      "description": "Metadata for TriggerCatalogRejoin method.",
      "id": "GoogleCloudRecommendationengineV1alphaRejoinCatalogMetadata",
      "type": "object",
      "properties": {}
    },
    "GoogleCloudRecommendationengineV1beta1FeatureMapFloatList": {
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "type": "number",
            "format": "float"
          },
          "description": "Float feature value."
        }
      },
      "id": "GoogleCloudRecommendationengineV1beta1FeatureMapFloatList",
      "type": "object",
      "description": "A list of float features."
    },
    "GoogleCloudRecommendationengineV1beta1ProductEventDetail": {
      "type": "object",
      "id": "GoogleCloudRecommendationengineV1beta1ProductEventDetail",
      "properties": {
        "pageCategories": {
          "items": {
            "$ref": "GoogleCloudRecommendationengineV1beta1CatalogItemCategoryHierarchy"
          },
          "description": "Required for `category-page-view` events. At least one of search_query or page_categories is required for `search` events. Other event types should not set this field. The categories associated with a category page. Category pages include special pages such as sales or promotions. For instance, a special sale page may have the category hierarchy: categories : [\"Sales\", \"2017 Black Friday Deals\"].",
          "type": "array"
        },
        "purchaseTransaction": {
          "$ref": "GoogleCloudRecommendationengineV1beta1PurchaseTransaction",
          "description": "Optional. A transaction represents the entire purchase transaction. Required for `purchase-complete` events. Optional for `checkout-start` events. Other event types should not set this field."
        },
        "listId": {
          "description": "Required for `add-to-list` and `remove-from-list` events. The id or name of the list that the item is being added to or removed from. Other event types should not set this field.",
          "type": "string"
        },
        "productDetails": {
          "description": "The main product details related to the event. This field is required for the following event types: * `add-to-cart` * `add-to-list` * `checkout-start` * `detail-page-view` * `purchase-complete` * `refund` * `remove-from-cart` * `remove-from-list` This field is optional for the following event types: * `page-visit` * `shopping-cart-page-view` - note that 'product_details' should be set for this unless the shopping cart is empty. * `search` (highly encouraged) In a `search` event, this field represents the products returned to the end user on the current page (the end user may have not finished broswing the whole page yet). When a new page is returned to the end user, after pagination/filtering/ordering even for the same query, a new SEARCH event with different product_details is desired. The end user may have not finished broswing the whole page yet. This field is not allowed for the following event types: * `category-page-view` * `home-page-view`",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudRecommendationengineV1beta1ProductDetail"
          }
        },
        "searchQuery": {
          "description": "At least one of search_query or page_categories is required for `search` events. Other event types should not set this field. The user's search query as UTF-8 encoded text with a length limit of 5 KiB.",
          "type": "string"
        },
        "cartId": {
          "description": "Optional. The id or name of the associated shopping cart. This id is used to associate multiple items added or present in the cart before purchase. This can only be set for `add-to-cart`, `remove-from-cart`, `checkout-start`, `purchase-complete`, or `shopping-cart-page-view` events.",
          "type": "string"
        }
      },
      "description": "ProductEventDetail captures user event information specific to retail products."
    },
    "GoogleCloudRecommendationengineV1alphaRejoinCatalogResponse": {
      "description": "Response message for TriggerCatalogRejoin method.",
      "id": "GoogleCloudRecommendationengineV1alphaRejoinCatalogResponse",
      "properties": {
        "rejoinedUserEventsCount": {
          "format": "int64",
          "description": "Number of user events that were joined with latest catalog items.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudRecommendationengineV1beta1Image": {
      "id": "GoogleCloudRecommendationengineV1beta1Image",
      "type": "object",
      "properties": {
        "width": {
          "type": "integer",
          "format": "int32",
          "description": "Optional. Width of the image in number of pixels."
        },
        "height": {
          "type": "integer",
          "description": "Optional. Height of the image in number of pixels.",
          "format": "int32"
        },
        "uri": {
          "type": "string",
          "description": "Required. URL of the image with a length limit of 5 KiB."
        }
      },
      "description": "Catalog item thumbnail/detail image."
    },
    "GoogleCloudRecommendationengineV1beta1RejoinUserEventsRequest": {
      "type": "object",
      "description": "Request message for CatalogRejoin method.",
      "properties": {
        "userEventRejoinScope": {
          "enum": [
            "USER_EVENT_REJOIN_SCOPE_UNSPECIFIED",
            "JOINED_EVENTS",
            "UNJOINED_EVENTS"
          ],
          "description": "Required. The type of the catalog rejoin to define the scope and range of the user events to be rejoined with catalog items.",
          "enumDescriptions": [
            "Rejoin catalogs with all events including both joined events and unjoined events.",
            "Only rejoin catalogs with joined events.",
            "Only rejoin catalogs with unjoined events."
          ],
          "type": "string"
        }
      },
      "id": "GoogleCloudRecommendationengineV1beta1RejoinUserEventsRequest"
    },
    "GoogleCloudRecommendationengineV1beta1UserEventInlineSource": {
      "id": "GoogleCloudRecommendationengineV1beta1UserEventInlineSource",
      "type": "object",
      "properties": {
        "userEvents": {
          "description": "Optional. A list of user events to import. Recommended max of 10k items.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudRecommendationengineV1beta1UserEvent"
          }
        }
      },
      "description": "The inline source for the input config for ImportUserEvents method."
    },
    "GoogleCloudRecommendationengineV1beta1FeatureMapStringList": {
      "type": "object",
      "id": "GoogleCloudRecommendationengineV1beta1FeatureMapStringList",
      "properties": {
        "value": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "String feature value with a length limit of 128 bytes."
        }
      },
      "description": "A list of string features."
    },
    "GoogleLongrunningListOperationsResponse": {
      "description": "The response message for Operations.ListOperations.",
      "id": "GoogleLongrunningListOperationsResponse",
      "properties": {
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        },
        "operations": {
          "items": {
            "$ref": "GoogleLongrunningOperation"
          },
          "type": "array",
          "description": "A list of operations that matches the specified filter in the request."
        },
        "unreachable": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Unordered list. Unreachable resources. Populated when the request sets `ListOperationsRequest.return_partial_success` and reads across collections. For example, when attempting to list all resources across all supported locations."
        }
      },
      "type": "object"
    },
    "GoogleCloudRecommendationengineV1beta1PurgeUserEventsMetadata": {
      "type": "object",
      "id": "GoogleCloudRecommendationengineV1beta1PurgeUserEventsMetadata",
      "description": "Metadata related to the progress of the PurgeUserEvents operation. This will be returned by the google.longrunning.Operation.metadata field.",
      "properties": {
        "operationName": {
          "type": "string",
          "description": "The ID of the request / operation."
        },
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Operation create time."
        }
      }
    },
    "GoogleCloudRecommendationengineV1beta1Catalog": {
      "type": "object",
      "description": "The catalog configuration. Next ID: 5.",
      "properties": {
        "displayName": {
          "description": "Required. The catalog display name.",
          "type": "string"
        },
        "defaultEventStoreId": {
          "description": "Required. The ID of the default event store.",
          "type": "string"
        },
        "name": {
          "description": "The fully qualified resource name of the catalog.",
          "type": "string"
        },
        "catalogItemLevelConfig": {
          "description": "Required. The catalog item level configuration.",
          "$ref": "GoogleCloudRecommendationengineV1beta1CatalogItemLevelConfig"
        }
      },
      "id": "GoogleCloudRecommendationengineV1beta1Catalog"
    },
    "GoogleCloudRecommendationengineV1beta1ProductCatalogItemPriceRange": {
      "properties": {
        "max": {
          "type": "number",
          "description": "Required. The maximum product price.",
          "format": "float"
        },
        "min": {
          "type": "number",
          "format": "float",
          "description": "Required. The minimum product price."
        }
      },
      "description": "Product price range when there are a range of prices for different variations of the same product.",
      "id": "GoogleCloudRecommendationengineV1beta1ProductCatalogItemPriceRange",
      "type": "object"
    },
    "GoogleCloudRecommendationengineV1beta1CatalogItemCategoryHierarchy": {
      "type": "object",
      "properties": {
        "categories": {
          "description": "Required. Catalog item categories. Each category should be a UTF-8 encoded string with a length limit of 2 KiB. Note that the order in the list denotes the specificity (from least to most specific).",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "Category represents catalog item category hierarchy.",
      "id": "GoogleCloudRecommendationengineV1beta1CatalogItemCategoryHierarchy"
    },
    "GoogleCloudRecommendationengineV1beta1ProductDetail": {
      "type": "object",
      "properties": {
        "currencyCode": {
          "description": "Optional. Currency code for price/costs. Use three-character ISO-4217 code. Required only if originalPrice or displayPrice is set.",
          "type": "string"
        },
        "itemAttributes": {
          "description": "Optional. Extra features associated with a product in the user event.",
          "$ref": "GoogleCloudRecommendationengineV1beta1FeatureMap"
        },
        "id": {
          "description": "Required. Catalog item ID. UTF-8 encoded string with a length limit of 128 characters.",
          "type": "string"
        },
        "availableQuantity": {
          "format": "int32",
          "type": "integer",
          "description": "Optional. Quantity of the products in stock when a user event happens. Optional. If provided, this overrides the available quantity in Catalog for this event. and can only be set if `stock_status` is set to `IN_STOCK`. Note that if an item is out of stock, you must set the `stock_state` field to be `OUT_OF_STOCK`. Leaving this field unspecified / as zero is not sufficient to mark the item out of stock."
        },
        "quantity": {
          "description": "Optional. Quantity of the product associated with the user event. For example, this field will be 2 if two products are added to the shopping cart for `add-to-cart` event. Required for `add-to-cart`, `add-to-list`, `remove-from-cart`, `checkout-start`, `purchase-complete`, `refund` event types.",
          "format": "int32",
          "type": "integer"
        },
        "originalPrice": {
          "description": "Optional. Original price of the product. If provided, this will override the original price in Catalog for this product.",
          "type": "number",
          "format": "float"
        },
        "stockState": {
          "description": "Optional. Item stock state. If provided, this overrides the stock state in Catalog for items in this event.",
          "enum": [
            "STOCK_STATE_UNSPECIFIED",
            "IN_STOCK",
            "OUT_OF_STOCK",
            "PREORDER",
            "BACKORDER"
          ],
          "enumDescriptions": [
            "Default item stock status. Should never be used.",
            "Item in stock.",
            "Item out of stock.",
            "Item that is in pre-order state.",
            "Item that is back-ordered (i.e. temporarily out of stock)."
          ],
          "type": "string"
        },
        "displayPrice": {
          "type": "number",
          "format": "float",
          "description": "Optional. Display price of the product (e.g. discounted price). If provided, this will override the display price in Catalog for this product."
        }
      },
      "description": "Detailed product information associated with a user event.",
      "id": "GoogleCloudRecommendationengineV1beta1ProductDetail"
    },
    "GoogleCloudRecommendationengineV1beta1CreatePredictionApiKeyRegistrationRequest": {
      "type": "object",
      "properties": {
        "predictionApiKeyRegistration": {
          "$ref": "GoogleCloudRecommendationengineV1beta1PredictionApiKeyRegistration",
          "description": "Required. The prediction API key registration."
        }
      },
      "id": "GoogleCloudRecommendationengineV1beta1CreatePredictionApiKeyRegistrationRequest",
      "description": "Request message for the `CreatePredictionApiKeyRegistration` method."
    },
    "GoogleCloudRecommendationengineV1beta1EventDetail": {
      "type": "object",
      "properties": {
        "referrerUri": {
          "description": "Optional. The referrer url of the current page. When using the JavaScript pixel, this value is filled in automatically.",
          "type": "string"
        },
        "eventAttributes": {
          "$ref": "GoogleCloudRecommendationengineV1beta1FeatureMap",
          "description": "Optional. Extra user event features to include in the recommendation model. For product recommendation, an example of extra user information is traffic_channel, i.e. how user arrives at the site. Users can arrive at the site by coming to the site directly, or coming through Google search, and etc."
        },
        "experimentIds": {
          "type": "array",
          "description": "Optional. A list of identifiers for the independent experiment groups this user event belongs to. This is used to distinguish between user events associated with different experiment setups (e.g. using Recommendation Engine system, using different recommendation models).",
          "items": {
            "type": "string"
          }
        },
        "pageViewId": {
          "description": "Optional. A unique id of a web page view. This should be kept the same for all user events triggered from the same pageview. For example, an item detail page view could trigger multiple events as the user is browsing the page. The `pageViewId` property should be kept the same for all these events so that they can be grouped together properly. This `pageViewId` will be automatically generated if using the JavaScript pixel.",
          "type": "string"
        },
        "uri": {
          "type": "string",
          "description": "Optional. Complete url (window.location.href) of the user's current page. When using the JavaScript pixel, this value is filled in automatically. Maximum length 5KB."
        },
        "recommendationToken": {
          "description": "Optional. Recommendation token included in the recommendation prediction response. This field enables accurate attribution of recommendation model performance. This token enables us to accurately attribute page view or purchase back to the event and the particular predict response containing this clicked/purchased item. If user clicks on product K in the recommendation results, pass the `PredictResponse.recommendationToken` property as a url parameter to product K's page. When recording events on product K's page, log the PredictResponse.recommendation_token to this field. Optional, but highly encouraged for user events that are the result of a recommendation prediction query.",
          "type": "string"
        }
      },
      "description": "User event details shared by all recommendation types.",
      "id": "GoogleCloudRecommendationengineV1beta1EventDetail"
    },
    "GoogleCloudRecommendationengineV1beta1PurgeUserEventsResponse": {
      "id": "GoogleCloudRecommendationengineV1beta1PurgeUserEventsResponse",
      "description": "Response of the PurgeUserEventsRequest. If the long running operation is successfully done, then this message is returned by the google.longrunning.Operations.response field.",
      "type": "object",
      "properties": {
        "purgedEventsCount": {
          "type": "string",
          "format": "int64",
          "description": "The total count of events purged as a result of the operation."
        },
        "userEventsSample": {
          "items": {
            "$ref": "GoogleCloudRecommendationengineV1beta1UserEvent"
          },
          "type": "array",
          "description": "A sampling of events deleted (or will be deleted) depending on the `force` property in the request. Max of 500 items will be returned."
        }
      }
    },
    "GoogleLongrunningOperation": {
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "type": "object",
      "id": "GoogleLongrunningOperation",
      "properties": {
        "done": {
          "type": "boolean",
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available."
        },
        "metadata": {
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          }
        },
        "response": {
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "type": "object"
        },
        "error": {
          "$ref": "GoogleRpcStatus",
          "description": "The error result of the operation in case of failure or cancellation."
        },
        "name": {
          "type": "string",
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`."
        }
      }
    },
    "GoogleCloudRecommendationengineV1beta1UserEventImportSummary": {
      "id": "GoogleCloudRecommendationengineV1beta1UserEventImportSummary",
      "description": "A summary of import result. The UserEventImportSummary summarizes the import status for user events.",
      "type": "object",
      "properties": {
        "unjoinedEventsCount": {
          "type": "string",
          "format": "int64",
          "description": "Count of user events imported, but with catalog information not found in the imported catalog."
        },
        "joinedEventsCount": {
          "format": "int64",
          "type": "string",
          "description": "Count of user events imported with complete existing catalog information."
        }
      }
    },
    "GoogleCloudRecommendationengineV1beta1ListPredictionApiKeyRegistrationsResponse": {
      "description": "Response message for the `ListPredictionApiKeyRegistrations`.",
      "id": "GoogleCloudRecommendationengineV1beta1ListPredictionApiKeyRegistrationsResponse",
      "type": "object",
      "properties": {
        "predictionApiKeyRegistrations": {
          "description": "The list of registered API keys.",
          "items": {
            "$ref": "GoogleCloudRecommendationengineV1beta1PredictionApiKeyRegistration"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "If empty, the list is complete. If nonempty, pass the token to the next request's `ListPredictionApiKeysRegistrationsRequest.pageToken`.",
          "type": "string"
        }
      }
    },
    "GoogleCloudRecommendationengineV1beta1ImportUserEventsRequest": {
      "id": "GoogleCloudRecommendationengineV1beta1ImportUserEventsRequest",
      "type": "object",
      "properties": {
        "inputConfig": {
          "description": "Required. The desired input location of the data.",
          "$ref": "GoogleCloudRecommendationengineV1beta1InputConfig"
        },
        "errorsConfig": {
          "description": "Optional. The desired location of errors incurred during the Import.",
          "$ref": "GoogleCloudRecommendationengineV1beta1ImportErrorsConfig"
        },
        "requestId": {
          "description": "Optional. Unique identifier provided by client, within the ancestor dataset scope. Ensures idempotency for expensive long running operations. Server-generated if unspecified. Up to 128 characters long. This is returned as google.longrunning.Operation.name in the response. Note that this field must not be set if the desired input config is catalog_inline_source.",
          "type": "string"
        }
      },
      "description": "Request message for the ImportUserEvents request."
    },
    "GoogleCloudRecommendationengineV1alphaTuningResponse": {
      "description": "Response associated with a tune operation.",
      "type": "object",
      "id": "GoogleCloudRecommendationengineV1alphaTuningResponse",
      "properties": {}
    }
  },
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "description": "Note that we now highly recommend new customers to use Retail API, which incorporates the GA version of the Recommendations AI funtionalities. To enable Retail API, please visit https://console.cloud.google.com/apis/library/retail.googleapis.com. The Recommendations AI service enables customers to build end-to-end personalized recommendation systems without requiring a high level of expertise in machine learning, recommendation system, or Google Cloud.",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "version": "v1beta1",
  "documentationLink": "https://cloud.google.com/recommendations-ai/docs",
  "title": "Recommendations AI (Beta)",
  "protocol": "rest",
  "revision": "20260827",
  "kind": "discovery#restDescription",
  "parameters": {
    "oauth_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth 2.0 token for the current user."
    },
    "fields": {
      "type": "string",
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "alt": {
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "type": "string",
      "description": "Data format for response.",
      "default": "json"
    },
    "prettyPrint": {
      "location": "query",
      "default": "true",
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean"
    },
    "$.xgafv": {
      "location": "query",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format.",
      "type": "string",
      "enum": [
        "1",
        "2"
      ]
    },
    "uploadType": {
      "location": "query",
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "access_token": {
      "location": "query",
      "description": "OAuth access token.",
      "type": "string"
    },
    "callback": {
      "description": "JSONP",
      "location": "query",
      "type": "string"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string",
      "location": "query"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string",
      "location": "query"
    }
  },
  "basePath": "",
  "version_module": true,
  "rootUrl": "https://recommendationengine.googleapis.com/",
  "id": "recommendationengine:v1beta1",
  "baseUrl": "https://recommendationengine.googleapis.com/",
  "mtlsRootUrl": "https://recommendationengine.mtls.googleapis.com/",
  "ownerDomain": "google.com",
  "batchPath": "batch",
  "resources": {
    "projects": {
      "resources": {
        "locations": {
          "resources": {
            "catalogs": {
              "resources": {
                "operations": {
                  "methods": {
                    "get": {
                      "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
                      "httpMethod": "GET",
                      "response": {
                        "$ref": "GoogleLongrunningOperation"
                      },
                      "parameters": {
                        "name": {
                          "type": "string",
                          "description": "The name of the operation resource.",
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/catalogs/[^/]+/operations/[^/]+$",
                          "required": true
                        }
                      },
                      "id": "recommendationengine.projects.locations.catalogs.operations.get",
                      "parameterOrder": [
                        "name"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/catalogs/{catalogsId}/operations/{operationsId}",
                      "path": "v1beta1/{+name}"
                    },
                    "list": {
                      "response": {
                        "$ref": "GoogleLongrunningListOperationsResponse"
                      },
                      "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`.",
                      "parameters": {
                        "pageToken": {
                          "type": "string",
                          "description": "The standard list page token.",
                          "location": "query"
                        },
                        "name": {
                          "required": true,
                          "type": "string",
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/catalogs/[^/]+$",
                          "description": "The name of the operation's parent resource."
                        },
                        "filter": {
                          "location": "query",
                          "description": "The standard list filter.",
                          "type": "string"
                        },
                        "returnPartialSuccess": {
                          "type": "boolean",
                          "description": "When set to `true`, operations that are reachable are returned as normal, and those that are unreachable are returned in the ListOperationsResponse.unreachable field. This can only be `true` when reading across collections. For example, when `parent` is set to `\"projects/example/locations/-\"`. This field is not supported by default and will result in an `UNIMPLEMENTED` error if set unless explicitly documented otherwise in service or product specific documentation.",
                          "location": "query"
                        },
                        "pageSize": {
                          "type": "integer",
                          "location": "query",
                          "description": "The standard list page size.",
                          "format": "int32"
                        }
                      },
                      "path": "v1beta1/{+name}/operations",
                      "httpMethod": "GET",
                      "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/catalogs/{catalogsId}/operations",
                      "parameterOrder": [
                        "name"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "id": "recommendationengine.projects.locations.catalogs.operations.list"
                    }
                  }
                },
                "eventStores": {
                  "resources": {
                    "placements": {
                      "methods": {
                        "predict": {
                          "parameters": {
                            "name": {
                              "required": true,
                              "pattern": "^projects/[^/]+/locations/[^/]+/catalogs/[^/]+/eventStores/[^/]+/placements/[^/]+$",
                              "location": "path",
                              "type": "string"
                            }
                          },
                          "response": {
                            "$ref": "GoogleCloudRecommendationengineV1beta1PredictResponse"
                          },
                          "httpMethod": "POST",
                          "id": "recommendationengine.projects.locations.catalogs.eventStores.placements.predict",
                          "parameterOrder": [
                            "name"
                          ],
                          "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/catalogs/{catalogsId}/eventStores/{eventStoresId}/placements/{placementsId}:predict",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "request": {
                            "$ref": "GoogleCloudRecommendationengineV1beta1PredictRequest"
                          },
                          "path": "v1beta1/{+name}:predict",
                          "description": "Makes a recommendation prediction. If using API Key based authentication, the API Key must be registered using the PredictionApiKeyRegistry service. [Learn more](https://cloud.google.com/recommendations-ai/docs/setting-up#register-key)."
                        }
                      }
                    },
                    "operations": {
                      "methods": {
                        "list": {
                          "id": "recommendationengine.projects.locations.catalogs.eventStores.operations.list",
                          "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/catalogs/{catalogsId}/eventStores/{eventStoresId}/operations",
                          "path": "v1beta1/{+name}/operations",
                          "response": {
                            "$ref": "GoogleLongrunningListOperationsResponse"
                          },
                          "parameterOrder": [
                            "name"
                          ],
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "httpMethod": "GET",
                          "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`.",
                          "parameters": {
                            "name": {
                              "required": true,
                              "description": "The name of the operation's parent resource.",
                              "type": "string",
                              "pattern": "^projects/[^/]+/locations/[^/]+/catalogs/[^/]+/eventStores/[^/]+$",
                              "location": "path"
                            },
                            "pageToken": {
                              "description": "The standard list page token.",
                              "location": "query",
                              "type": "string"
                            },
                            "pageSize": {
                              "format": "int32",
                              "type": "integer",
                              "description": "The standard list page size.",
                              "location": "query"
                            },
                            "filter": {
                              "type": "string",
                              "location": "query",
                              "description": "The standard list filter."
                            },
                            "returnPartialSuccess": {
                              "description": "When set to `true`, operations that are reachable are returned as normal, and those that are unreachable are returned in the ListOperationsResponse.unreachable field. This can only be `true` when reading across collections. For example, when `parent` is set to `\"projects/example/locations/-\"`. This field is not supported by default and will result in an `UNIMPLEMENTED` error if set unless explicitly documented otherwise in service or product specific documentation.",
                              "type": "boolean",
                              "location": "query"
                            }
                          }
                        },
                        "get": {
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "path": "v1beta1/{+name}",
                          "response": {
                            "$ref": "GoogleLongrunningOperation"
                          },
                          "id": "recommendationengine.projects.locations.catalogs.eventStores.operations.get",
                          "httpMethod": "GET",
                          "parameters": {
                            "name": {
                              "required": true,
                              "pattern": "^projects/[^/]+/locations/[^/]+/catalogs/[^/]+/eventStores/[^/]+/operations/[^/]+$",
                              "location": "path",
                              "type": "string",
                              "description": "The name of the operation resource."
                            }
                          },
                          "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
                          "parameterOrder": [
                            "name"
                          ],
                          "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/catalogs/{catalogsId}/eventStores/{eventStoresId}/operations/{operationsId}"
                        }
                      }
                    },
                    "predictionApiKeyRegistrations": {
                      "methods": {
                        "create": {
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/catalogs/{catalogsId}/eventStores/{eventStoresId}/predictionApiKeyRegistrations",
                          "id": "recommendationengine.projects.locations.catalogs.eventStores.predictionApiKeyRegistrations.create",
                          "description": "Register an API key for use with predict method.",
                          "request": {
                            "$ref": "GoogleCloudRecommendationengineV1beta1CreatePredictionApiKeyRegistrationRequest"
                          },
                          "response": {
                            "$ref": "GoogleCloudRecommendationengineV1beta1PredictionApiKeyRegistration"
                          },
                          "parameters": {
                            "parent": {
                              "pattern": "^projects/[^/]+/locations/[^/]+/catalogs/[^/]+/eventStores/[^/]+$",
                              "type": "string",
                              "description": "Required. The parent resource path. `projects/*/locations/global/catalogs/default_catalog/eventStores/default_event_store`.",
                              "required": true,
                              "location": "path"
                            }
                          },
                          "httpMethod": "POST",
                          "parameterOrder": [
                            "parent"
                          ],
                          "path": "v1beta1/{+parent}/predictionApiKeyRegistrations"
                        },
                        "delete": {
                          "httpMethod": "DELETE",
                          "id": "recommendationengine.projects.locations.catalogs.eventStores.predictionApiKeyRegistrations.delete",
                          "parameters": {
                            "name": {
                              "pattern": "^projects/[^/]+/locations/[^/]+/catalogs/[^/]+/eventStores/[^/]+/predictionApiKeyRegistrations/[^/]+$",
                              "type": "string",
                              "required": true,
                              "description": "Required. The API key to unregister including full resource path. `projects/*/locations/global/catalogs/default_catalog/eventStores/default_event_store/predictionApiKeyRegistrations/`",
                              "location": "path"
                            }
                          },
                          "description": "Unregister an apiKey from using for predict method.",
                          "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/catalogs/{catalogsId}/eventStores/{eventStoresId}/predictionApiKeyRegistrations/{predictionApiKeyRegistrationsId}",
                          "parameterOrder": [
                            "name"
                          ],
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "response": {
                            "$ref": "GoogleProtobufEmpty"
                          },
                          "path": "v1beta1/{+name}"
                        },
                        "list": {
                          "parameters": {
                            "parent": {
                              "location": "path",
                              "pattern": "^projects/[^/]+/locations/[^/]+/catalogs/[^/]+/eventStores/[^/]+$",
                              "description": "Required. The parent placement resource name such as `projects/1234/locations/global/catalogs/default_catalog/eventStores/default_event_store`",
                              "type": "string",
                              "required": true
                            },
                            "pageToken": {
                              "type": "string",
                              "location": "query",
                              "description": "Optional. The previous `ListPredictionApiKeyRegistration.nextPageToken`."
                            },
                            "pageSize": {
                              "description": "Optional. Maximum number of results to return per page. If unset, the service will choose a reasonable default.",
                              "type": "integer",
                              "format": "int32",
                              "location": "query"
                            }
                          },
                          "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/catalogs/{catalogsId}/eventStores/{eventStoresId}/predictionApiKeyRegistrations",
                          "id": "recommendationengine.projects.locations.catalogs.eventStores.predictionApiKeyRegistrations.list",
                          "httpMethod": "GET",
                          "path": "v1beta1/{+parent}/predictionApiKeyRegistrations",
                          "response": {
                            "$ref": "GoogleCloudRecommendationengineV1beta1ListPredictionApiKeyRegistrationsResponse"
                          },
                          "description": "List the registered apiKeys for use with predict method.",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "parameterOrder": [
                            "parent"
                          ]
                        }
                      }
                    },
                    "userEvents": {
                      "methods": {
                        "list": {
                          "parameterOrder": [
                            "parent"
                          ],
                          "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/catalogs/{catalogsId}/eventStores/{eventStoresId}/userEvents",
                          "httpMethod": "GET",
                          "parameters": {
                            "pageSize": {
                              "description": "Optional. Maximum number of results to return per page. If zero, the service will choose a reasonable default.",
                              "type": "integer",
                              "location": "query",
                              "format": "int32"
                            },
                            "pageToken": {
                              "type": "string",
                              "location": "query",
                              "description": "Optional. The previous ListUserEventsResponse.next_page_token."
                            },
                            "filter": {
                              "type": "string",
                              "description": "Optional. Filtering expression to specify restrictions over returned events. This is a sequence of terms, where each term applies some kind of a restriction to the returned user events. Use this expression to restrict results to a specific time range, or filter events by eventType. eg: eventTime > \"2012-04-23T18:25:43.511Z\" eventsMissingCatalogItems eventTime<\"2012-04-23T18:25:43.511Z\" eventType=search We expect only 3 types of fields: * eventTime: this can be specified a maximum of 2 times, once with a less than operator and once with a greater than operator. The eventTime restrict should result in one contiguous valid eventTime range. * eventType: only 1 eventType restriction can be specified. * eventsMissingCatalogItems: specififying this will restrict results to events for which catalog items were not found in the catalog. The default behavior is to return only those events for which catalog items were found. Some examples of valid filters expressions: * Example 1: eventTime > \"2012-04-23T18:25:43.511Z\" eventTime < \"2012-04-23T18:30:43.511Z\" * Example 2: eventTime > \"2012-04-23T18:25:43.511Z\" eventType = detail-page-view * Example 3: eventsMissingCatalogItems eventType = search eventTime < \"2018-04-23T18:30:43.511Z\" * Example 4: eventTime > \"2012-04-23T18:25:43.511Z\" * Example 5: eventType = search * Example 6: eventsMissingCatalogItems",
                              "location": "query"
                            },
                            "parent": {
                              "required": true,
                              "location": "path",
                              "description": "Required. The parent eventStore resource name, such as `projects/*/locations/*/catalogs/default_catalog/eventStores/default_event_store`.",
                              "pattern": "^projects/[^/]+/locations/[^/]+/catalogs/[^/]+/eventStores/[^/]+$",
                              "type": "string"
                            }
                          },
                          "id": "recommendationengine.projects.locations.catalogs.eventStores.userEvents.list",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "description": "Gets a list of user events within a time range, with potential filtering. The method does not list unjoined user events. Unjoined user event definition: when a user event is ingested from Recommendations AI User Event APIs, the catalog item included in the user event is connected with the current catalog. If a catalog item of the ingested event is not in the current catalog, it could lead to degraded model quality. This is called an unjoined event.",
                          "response": {
                            "$ref": "GoogleCloudRecommendationengineV1beta1ListUserEventsResponse"
                          },
                          "path": "v1beta1/{+parent}/userEvents"
                        },
                        "purge": {
                          "httpMethod": "POST",
                          "parameters": {
                            "parent": {
                              "type": "string",
                              "pattern": "^projects/[^/]+/locations/[^/]+/catalogs/[^/]+/eventStores/[^/]+$",
                              "required": true,
                              "location": "path",
                              "description": "Required. The resource name of the event_store under which the events are created. The format is `projects/${projectId}/locations/global/catalogs/${catalogId}/eventStores/${eventStoreId}`"
                            }
                          },
                          "parameterOrder": [
                            "parent"
                          ],
                          "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/catalogs/{catalogsId}/eventStores/{eventStoresId}/userEvents:purge",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "request": {
                            "$ref": "GoogleCloudRecommendationengineV1beta1PurgeUserEventsRequest"
                          },
                          "response": {
                            "$ref": "GoogleLongrunningOperation"
                          },
                          "path": "v1beta1/{+parent}/userEvents:purge",
                          "id": "recommendationengine.projects.locations.catalogs.eventStores.userEvents.purge",
                          "description": "Deletes permanently all user events specified by the filter provided. Depending on the number of events specified by the filter, this operation could take hours or days to complete. To test a filter, use the list command first."
                        },
                        "write": {
                          "description": "Writes a single user event.",
                          "parameterOrder": [
                            "parent"
                          ],
                          "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/catalogs/{catalogsId}/eventStores/{eventStoresId}/userEvents:write",
                          "path": "v1beta1/{+parent}/userEvents:write",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "response": {
                            "$ref": "GoogleCloudRecommendationengineV1beta1UserEvent"
                          },
                          "id": "recommendationengine.projects.locations.catalogs.eventStores.userEvents.write",
                          "parameters": {
                            "parent": {
                              "location": "path",
                              "required": true,
                              "type": "string",
                              "pattern": "^projects/[^/]+/locations/[^/]+/catalogs/[^/]+/eventStores/[^/]+$",
                              "description": "Required. The parent eventStore resource name, such as \"projects/1234/locations/global/catalogs/default_catalog/eventStores/default_event_store\"."
                            }
                          },
                          "request": {
                            "$ref": "GoogleCloudRecommendationengineV1beta1UserEvent"
                          },
                          "httpMethod": "POST"
                        },
                        "collect": {
                          "response": {
                            "$ref": "GoogleApiHttpBody"
                          },
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "description": "Writes a single user event from the browser. This uses a GET request to due to browser restriction of POST-ing to a 3rd party domain. This method is used only by the Recommendations AI JavaScript pixel. Users should not call this method directly.",
                          "parameterOrder": [
                            "parent"
                          ],
                          "id": "recommendationengine.projects.locations.catalogs.eventStores.userEvents.collect",
                          "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/catalogs/{catalogsId}/eventStores/{eventStoresId}/userEvents:collect",
                          "path": "v1beta1/{+parent}/userEvents:collect",
                          "httpMethod": "GET",
                          "parameters": {
                            "userEvent": {
                              "location": "query",
                              "type": "string",
                              "description": "Required. URL encoded UserEvent proto."
                            },
                            "parent": {
                              "location": "path",
                              "type": "string",
                              "description": "Required. The parent eventStore name, such as `projects/1234/locations/global/catalogs/default_catalog/eventStores/default_event_store`.",
                              "required": true,
                              "pattern": "^projects/[^/]+/locations/[^/]+/catalogs/[^/]+/eventStores/[^/]+$"
                            },
                            "uri": {
                              "type": "string",
                              "location": "query",
                              "description": "Optional. The url including cgi-parameters but excluding the hash fragment. The URL must be truncated to 1.5K bytes to conservatively be under the 2K bytes. This is often more useful than the referer url, because many browsers only send the domain for 3rd party requests."
                            },
                            "ets": {
                              "format": "int64",
                              "location": "query",
[...]
