{
  "kind": "discovery#restDescription",
  "documentationLink": "https://cloud.google.com/memorystore/docs/redis/",
  "discoveryVersion": "v1",
  "canonicalName": "Cloud Redis",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "mtlsRootUrl": "https://redis.mtls.googleapis.com/",
  "schemas": {
    "ResourceFlags": {
      "id": "ResourceFlags",
      "type": "object",
      "properties": {
        "value": {
          "description": "Optional. Value of the resource flag.",
          "type": "string"
        },
        "key": {
          "type": "string",
          "description": "Optional. Key of the resource flag."
        }
      },
      "description": "Message type for storing resource flags."
    },
    "UpcomingMaintenance": {
      "type": "object",
      "properties": {
        "endTime": {
          "format": "google-datetime",
          "description": "Optional. The end time of the upcoming maintenance.",
          "type": "string"
        },
        "startTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Optional. The start time of the upcoming maintenance."
        }
      },
      "id": "UpcomingMaintenance",
      "description": "Upcoming maintenance for the database resource. This is generated by SLM once the upcoming maintenance schedule is published."
    },
    "Compliance": {
      "properties": {
        "standard": {
          "description": "Industry-wide compliance standards or benchmarks, such as CIS, PCI, and OWASP.",
          "type": "string"
        },
        "version": {
          "type": "string",
          "description": "Version of the standard or benchmark, for example, 1.1"
        }
      },
      "id": "Compliance",
      "description": "Contains compliance information about a security standard indicating unmet recommendations.",
      "type": "object"
    },
    "FixedFrequencySchedule": {
      "description": "This schedule allows the backup to be triggered at a fixed frequency (currently only daily is supported).",
      "type": "object",
      "id": "FixedFrequencySchedule",
      "properties": {
        "startTime": {
          "$ref": "TimeOfDay",
          "description": "Required. The start time of every automated backup in UTC. It must be set to the start of an hour. This field is required."
        }
      }
    },
    "UpdateInfo": {
      "description": "Represents information about an updating cluster.",
      "id": "UpdateInfo",
      "properties": {
        "targetShardCount": {
          "type": "integer",
          "description": "Target number of shards for redis cluster",
          "format": "int32"
        },
        "targetNodeType": {
          "type": "string",
          "description": "Target node type for redis cluster.",
          "enumDescriptions": [
            "Node type unspecified",
            "Redis shared core nano node_type.",
            "Redis highmem medium node_type.",
            "Redis highmem xlarge node_type.",
            "Redis standard small node_type.",
            "Redis highcpu medium node_type.",
            "Redis standard large node_type.",
            "Redis highmem 2xlarge node_type."
          ],
          "enum": [
            "NODE_TYPE_UNSPECIFIED",
            "REDIS_SHARED_CORE_NANO",
            "REDIS_HIGHMEM_MEDIUM",
            "REDIS_HIGHMEM_XLARGE",
            "REDIS_STANDARD_SMALL",
            "REDIS_HIGHCPU_MEDIUM",
            "REDIS_STANDARD_LARGE",
            "REDIS_HIGHMEM_2XLARGE"
          ]
        },
        "targetReplicaCount": {
          "description": "Target number of replica nodes per shard.",
          "format": "int32",
          "type": "integer"
        }
      },
      "type": "object"
    },
    "NodeInfo": {
      "type": "object",
      "properties": {
        "id": {
          "readOnly": true,
          "description": "Output only. Node identifying string. e.g. 'node-0', 'node-1'",
          "type": "string"
        },
        "zone": {
          "description": "Output only. Location of the node.",
          "type": "string",
          "readOnly": true
        }
      },
      "description": "Node specific properties.",
      "id": "NodeInfo"
    },
    "ObservabilityMetricData": {
      "properties": {
        "resourceName": {
          "type": "string",
          "description": "Required. Database resource name associated with the signal. Resource name to follow CAIS resource_name format as noted here go/condor-common-datamodel"
        },
        "observationTime": {
          "format": "google-datetime",
          "description": "Required. The time the metric value was observed.",
          "type": "string"
        },
        "value": {
          "description": "Required. Value of the metric type.",
          "$ref": "TypedValue"
        },
        "aggregationType": {
          "description": "Required. Type of aggregation performed on the metric.",
          "type": "string",
          "enum": [
            "AGGREGATION_TYPE_UNSPECIFIED",
            "PEAK",
            "P99",
            "P95",
            "CURRENT"
          ],
          "enumDescriptions": [
            "Unspecified aggregation type.",
            "PEAK aggregation type.",
            "P99 aggregation type.",
            "P95 aggregation type.",
            "current aggregation type."
          ]
        },
        "metricType": {
          "description": "Required. Type of metric like CPU, Memory, etc.",
          "enumDescriptions": [
            "Unspecified metric type.",
            "CPU utilization for a resource. The value is a fraction between 0.0 and 1.0 (may momentarily exceed 1.0 in some cases).",
            "Memory utilization for a resource. The value is a fraction between 0.0 and 1.0 (may momentarily exceed 1.0 in some cases).",
            "Number of network connections for a resource.",
            "Storage utilization for a resource. The value is a fraction between 0.0 and 1.0 (may momentarily exceed 1.0 in some cases).",
            "Sotrage used by a resource.",
            "Node count for a resource. It represents the number of node units in a bigtable/spanner instance.",
            "Memory used by a resource (in bytes).",
            "Processing units used by a resource. It represents the number of processing units in a spanner instance."
          ],
          "type": "string",
          "enum": [
            "METRIC_TYPE_UNSPECIFIED",
            "CPU_UTILIZATION",
            "MEMORY_UTILIZATION",
            "NETWORK_CONNECTIONS",
            "STORAGE_UTILIZATION",
            "STORAGE_USED_BYTES",
            "NODE_COUNT",
            "MEMORY_USED_BYTES",
            "PROCESSING_UNIT_COUNT"
          ]
        }
      },
      "type": "object",
      "id": "ObservabilityMetricData"
    },
    "AclPolicy": {
      "type": "object",
      "description": "The ACL policy resource.",
      "id": "AclPolicy",
      "properties": {
        "rules": {
          "description": "Required. The ACL rules within the ACL policy.",
          "type": "array",
          "items": {
            "$ref": "AclRule"
          }
        },
        "state": {
          "type": "string",
          "readOnly": true,
          "enumDescriptions": [
            "Not set.",
            "ACL policy has been created and is fully usable. Since ACL policy creation is synchronous and not an LRO, there is no CREATING state.",
            "ACL policy is being updated.",
            "ACL policy is being deleted."
          ],
          "description": "Output only. The state of the ACL policy.",
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "UPDATING",
            "DELETING"
          ]
        },
        "clusterAclPolicyAttachments": {
          "description": "Output only. The ACL policy attachment status for each attached cluster.",
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "ClusterAclPolicyAttachment"
          }
        },
        "name": {
          "type": "string",
          "description": "Identifier. Full resource path of the ACL policy."
        },
        "etag": {
          "description": "Output only. Etag for the ACL policy.",
          "readOnly": true,
          "type": "string"
        },
        "createTime": {
          "type": "string",
          "description": "Output only. The timestamp that the ACL policy was created.",
          "readOnly": true,
          "format": "google-datetime"
        },
        "version": {
          "format": "int64",
          "type": "string",
          "deprecated": true,
          "readOnly": true,
          "description": "Output only. Deprecated: Used in drift resolution."
        },
        "updateTime": {
          "type": "string",
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. The timestamp that the ACL policy was last updated."
        }
      }
    },
    "ResourceMaintenanceInfo": {
      "id": "ResourceMaintenanceInfo",
      "type": "object",
      "properties": {
        "upcomingMaintenance": {
          "$ref": "UpcomingMaintenance",
          "description": "Optional. Upcoming maintenance for the database resource. This field is populated once SLM generates and publishes upcoming maintenance window."
        },
        "denyMaintenanceSchedules": {
          "description": "Optional. List of Deny maintenance period for the database resource.",
          "type": "array",
          "items": {
            "$ref": "ResourceMaintenanceDenySchedule"
          }
        },
        "maintenanceState": {
          "description": "Output only. Current state of maintenance on the database resource.",
          "enum": [
            "MAINTENANCE_STATE_UNSPECIFIED",
            "CREATING",
            "READY",
            "UPDATING",
            "REPAIRING",
            "DELETING",
            "ERROR"
          ],
          "enumDescriptions": [
            "Unspecified state.",
            "Database resource is being created.",
            "Database resource has been created and is ready to use.",
            "Database resource is being updated.",
            "Database resource is unheathy and under repair.",
            "Database resource is being deleted.",
            "Database resource encountered an error and is in indeterministic state."
          ],
          "readOnly": true,
          "type": "string"
        },
        "isInstanceStopped": {
          "type": "boolean",
          "description": "Optional. Whether the instance is in stopped state. This information is temporarily being captured in maintenanceInfo, till STOPPED state is supported by DB Center."
        },
        "maintenanceVersion": {
          "description": "Optional. Current Maintenance version of the database resource. Example: \"MYSQL_8_0_41.R20250531.01_15\"",
          "type": "string"
        },
        "currentVersionReleaseDate": {
          "description": "Optional. The date when the current maintenance version was released.",
          "$ref": "Date"
        },
        "maintenanceSchedule": {
          "$ref": "ResourceMaintenanceSchedule",
          "description": "Optional. Maintenance window for the database resource."
        },
        "nextAvailableMaintenanceVersions": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. List of next available maintenance versions."
        }
      },
      "description": "MaintenanceInfo to capture the maintenance details of database resource."
    },
    "Product": {
      "description": "Product specification for Condor resources.",
      "id": "Product",
      "properties": {
        "minorVersion": {
          "type": "string",
          "description": "Minor version of the underlying database engine. Example values: For MySQL, it could be \"8.0.32\", \"5.7.32\" etc.. For Postgres, it could be \"14.3\", \"15.3\" etc.."
        },
        "engine": {
          "enum": [
            "ENGINE_UNSPECIFIED",
            "ENGINE_MYSQL",
            "MYSQL",
            "ENGINE_POSTGRES",
            "POSTGRES",
            "ENGINE_SQL_SERVER",
            "SQL_SERVER",
            "ENGINE_NATIVE",
            "NATIVE",
            "ENGINE_CLOUD_SPANNER_WITH_POSTGRES_DIALECT",
            "ENGINE_CLOUD_SPANNER_WITH_GOOGLESQL_DIALECT",
            "ENGINE_MEMORYSTORE_FOR_REDIS",
            "ENGINE_MEMORYSTORE_FOR_REDIS_CLUSTER",
            "ENGINE_MEMORYSTORE_FOR_VALKEY",
            "ENGINE_OTHER",
            "ENGINE_FIRESTORE_WITH_NATIVE_MODE",
            "ENGINE_FIRESTORE_WITH_DATASTORE_MODE",
            "ENGINE_FIRESTORE_WITH_MONGODB_COMPATIBILITY_MODE",
            "ENGINE_EXADATA_ORACLE",
            "ENGINE_ADB_SERVERLESS_ORACLE"
          ],
          "enumDescriptions": [
            "UNSPECIFIED means engine type is not known or available.",
            "MySQL binary running as an engine in the database instance.",
            "MySQL binary running as engine in database instance.",
            "Postgres binary running as engine in database instance.",
            "Postgres binary running as engine in database instance.",
            "SQLServer binary running as engine in database instance.",
            "SQLServer binary running as engine in database instance.",
            "Native database binary running as engine in instance.",
            "Native database binary running as engine in instance.",
            "Cloud Spanner with PostgreSQL dialect.",
            "Cloud Spanner with Google SQL dialect.",
            "Memorystore with Redis dialect.",
            "Memorystore with Redis cluster dialect.",
            "Memorystore with Valkey.",
            "Other refers to rest of other database engine. This is to be when engine is known, but it is not present in this enum.",
            "Firestore with native mode.",
            "Firestore with datastore mode.",
            "Firestore with MongoDB compatibility mode.",
            "Oracle Exadata engine.",
            "Oracle Autonomous DB Serverless engine."
          ],
          "description": "The specific engine that the underlying database is running.",
          "type": "string",
          "enumDeprecated": [
            false,
            false,
            true,
            false,
            true,
            false,
            true,
            false,
            true,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false
          ]
        },
        "version": {
          "type": "string",
          "description": "Version of the underlying database engine. Example values: For MySQL, it could be \"8.0\", \"5.7\" etc.. For Postgres, it could be \"14\", \"15\" etc.."
        },
        "type": {
          "enumDeprecated": [
            false,
            false,
            true,
            false,
            true,
            false,
            false,
            true,
            false,
            false,
            false,
            false,
            false,
            false,
            false
          ],
          "enum": [
            "PRODUCT_TYPE_UNSPECIFIED",
            "PRODUCT_TYPE_CLOUD_SQL",
            "CLOUD_SQL",
            "PRODUCT_TYPE_ALLOYDB",
            "ALLOYDB",
            "PRODUCT_TYPE_SPANNER",
            "PRODUCT_TYPE_ON_PREM",
            "ON_PREM",
            "PRODUCT_TYPE_MEMORYSTORE",
            "PRODUCT_TYPE_BIGTABLE",
            "PRODUCT_TYPE_FIRESTORE",
            "PRODUCT_TYPE_COMPUTE_ENGINE",
            "PRODUCT_TYPE_ORACLE_ON_GCP",
            "PRODUCT_TYPE_BIGQUERY",
            "PRODUCT_TYPE_OTHER"
          ],
          "type": "string",
          "enumDescriptions": [
            "UNSPECIFIED means product type is not known or available.",
            "Cloud SQL product area in GCP",
            "Cloud SQL product area in GCP",
            "AlloyDB product area in GCP",
            "AlloyDB product area in GCP",
            "Spanner product area in GCP",
            "On premises database product.",
            "On premises database product.",
            "Memorystore product area in GCP",
            "Bigtable product area in GCP",
            "Firestore product area in GCP.",
            "Compute Engine self managed databases",
            "Oracle product area in GCP",
            "BigQuery product area in GCP",
            "Other refers to rest of other product type. This is to be when product type is known, but it is not present in this enum."
          ],
          "description": "Type of specific database product. It could be CloudSQL, AlloyDB etc.."
        }
      },
      "type": "object"
    },
    "DatabaseResourceMetadata": {
      "properties": {
        "modes": {
          "type": "array",
          "items": {
            "enum": [
              "MODE_UNSPECIFIED",
              "MODE_NATIVE",
              "MODE_MONGODB_COMPATIBLE",
              "MODE_DATASTORE",
              "MODE_CLUSTER_ENABLED",
              "MODE_CLUSTER_DISABLED"
            ],
            "type": "string",
            "enumDescriptions": [
              "Default mode.",
              "Native mode.",
              "MongoDB compatible mode.",
              "Datastore mode.",
              "Memorystore/ValKey: Cluster enabled mode.",
              "Memorystore/ValKey: Cluster disabled mode."
            ]
          },
          "description": "Optional. The modes of the database resource."
        },
        "zone": {
          "type": "string",
          "description": "The resource zone. This is only applicable for zonal resources and will be empty for regional and multi-regional resources."
        },
        "userLabelSet": {
          "description": "User-provided labels associated with the resource",
          "$ref": "UserLabels"
        },
        "backupdrConfiguration": {
          "$ref": "BackupDRConfiguration",
          "description": "Optional. BackupDR Configuration for the resource."
        },
        "creationTime": {
          "format": "google-datetime",
          "description": "The creation time of the resource, i.e. the time when resource is created and recorded in partner service.",
          "type": "string"
        },
        "resourceContainer": {
          "description": "Closest parent Cloud Resource Manager container of this resource. It must be resource name of a Cloud Resource Manager project with the format of \"/\", such as \"projects/123\". For GCP provided resources, number should be project number.",
          "type": "string"
        },
        "customMetadata": {
          "description": "Any custom metadata associated with the resource",
          "$ref": "CustomMetadataData"
        },
        "machineConfiguration": {
          "$ref": "MachineConfiguration",
          "description": "Machine configuration for this resource."
        },
        "updationTime": {
          "description": "The time at which the resource was updated and recorded at partner service.",
          "format": "google-datetime",
          "type": "string"
        },
        "primaryResourceLocation": {
          "type": "string",
          "description": "Primary resource location. REQUIRED if the immediate parent exists when first time resource is getting ingested, otherwise optional."
        },
        "backupConfiguration": {
          "description": "Backup configuration for this instance",
          "$ref": "BackupConfiguration"
        },
        "ipAddress": {
          "description": "Optional. Private and public IP address of the resource.",
          "$ref": "IpAddress"
        },
        "product": {
          "$ref": "Product",
          "description": "The product this resource represents."
        },
        "id": {
          "$ref": "DatabaseResourceId",
          "description": "Required. Unique identifier for a Database resource"
        },
        "additionalMetadata": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "description": "Field to ingest additional metadata whichd does not support proto format."
        },
        "internalAdditionalMetadata": {
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "type": "object",
          "description": "Field to ingest additional metadata which support proto format."
        },
        "currentState": {
          "enumDescriptions": [
            "",
            "The instance is running.",
            "Instance being created, updated, deleted or under maintenance",
            "When instance is suspended",
            "Instance is deleted.",
            "For rest of the other category",
            "Instance is in STOPPED state."
          ],
          "description": "Current state of the instance.",
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "HEALTHY",
            "UNHEALTHY",
            "SUSPENDED",
            "DELETED",
            "STATE_OTHER",
            "STOPPED"
          ]
        },
        "availabilityConfiguration": {
          "$ref": "AvailabilityConfiguration",
          "description": "Availability configuration for this instance"
        },
        "location": {
          "description": "The resource location. REQUIRED",
          "type": "string"
        },
        "primaryResourceId": {
          "$ref": "DatabaseResourceId",
          "description": "Identifier for this resource's immediate parent/primary resource if the current resource is a replica or derived form of another Database resource. Else it would be NULL. REQUIRED if the immediate parent exists when first time resource is getting ingested, otherwise optional."
        },
        "instanceType": {
          "enumDescriptions": [
            "Unspecified.",
            "For rest of the other categories.",
            "A regular primary database instance.",
            "A cluster or an instance acting as a secondary.",
            "An instance acting as a read-replica.",
            "For rest of the other categories.",
            "A regular primary database instance.",
            "A cluster or an instance acting as a secondary.",
            "An instance acting as a read-replica.",
            "An instance acting as an external primary.",
            "An instance acting as Read Pool.",
            "Represents a reservation resource.",
            "Represents a dataset resource.",
            "For rest of the other categories."
          ],
          "enum": [
            "INSTANCE_TYPE_UNSPECIFIED",
            "SUB_RESOURCE_TYPE_UNSPECIFIED",
            "PRIMARY",
            "SECONDARY",
            "READ_REPLICA",
            "OTHER",
            "SUB_RESOURCE_TYPE_PRIMARY",
            "SUB_RESOURCE_TYPE_SECONDARY",
            "SUB_RESOURCE_TYPE_READ_REPLICA",
            "SUB_RESOURCE_TYPE_EXTERNAL_PRIMARY",
            "SUB_RESOURCE_TYPE_READ_POOL",
            "SUB_RESOURCE_TYPE_RESERVATION",
            "SUB_RESOURCE_TYPE_DATASET",
            "SUB_RESOURCE_TYPE_OTHER"
          ],
          "description": "The type of the instance. Specified at creation time.",
          "type": "string",
          "enumDeprecated": [
            true,
            false,
            true,
            true,
            true,
            true,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false
          ]
        },
        "tagsSet": {
          "$ref": "Tags",
          "description": "Optional. Tags associated with this resources."
        },
        "backupRun": {
          "description": "Latest backup run information for this instance",
          "$ref": "BackupRun"
        },
        "resourceName": {
          "description": "Required. Different from DatabaseResourceId.unique_id, a resource name can be reused over time. That is, after a resource named \"ABC\" is deleted, the name \"ABC\" can be used to to create a new resource within the same source. Resource name to follow CAIS resource_name format as noted here go/condor-common-datamodel",
          "type": "string"
        },
        "entitlements": {
          "description": "Entitlements associated with the resource",
          "type": "array",
          "items": {
            "$ref": "Entitlement"
          }
        },
        "gcbdrConfiguration": {
          "deprecated": true,
          "$ref": "GCBDRConfiguration",
          "description": "GCBDR configuration for the resource."
        },
        "suspensionReason": {
          "type": "string",
          "description": "Optional. Suspension reason for the resource.",
          "enumDescriptions": [
            "Suspension reason is unspecified.",
            "Wipeout hide event.",
            "Wipeout purge event.",
            "Billing disabled for project",
            "Abuse detected for resource",
            "Encryption key inaccessible.",
            "Replicated cluster encryption key inaccessible."
          ],
          "enum": [
            "SUSPENSION_REASON_UNSPECIFIED",
            "WIPEOUT_HIDE_EVENT",
            "WIPEOUT_PURGE_EVENT",
            "BILLING_DISABLED",
            "ABUSER_DETECTED",
            "ENCRYPTION_KEY_INACCESSIBLE",
            "REPLICATED_CLUSTER_ENCRYPTION_KEY_INACCESSIBLE"
          ]
        },
        "isDeletionProtectionEnabled": {
          "description": "Optional. Whether deletion protection is enabled for this resource.",
          "type": "boolean"
        },
        "maintenanceInfo": {
          "$ref": "ResourceMaintenanceInfo",
          "description": "Optional. Maintenance info for the resource."
        },
        "expectedState": {
          "type": "string",
          "enumDescriptions": [
            "",
            "The instance is running.",
            "Instance being created, updated, deleted or under maintenance",
            "When instance is suspended",
            "Instance is deleted.",
            "For rest of the other category",
            "Instance is in STOPPED state."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "HEALTHY",
            "UNHEALTHY",
            "SUSPENDED",
            "DELETED",
            "STATE_OTHER",
            "STOPPED"
          ],
          "description": "The state that the instance is expected to be in. For example, an instance state can transition to UNHEALTHY due to wrong patch update, while the expected state will remain at the HEALTHY."
        },
        "edition": {
          "description": "Optional. Edition represents whether the instance is ENTERPRISE or ENTERPRISE_PLUS. This information is core to Cloud SQL only and is used to identify the edition of the instance.",
          "enum": [
            "EDITION_UNSPECIFIED",
            "EDITION_ENTERPRISE",
            "EDITION_ENTERPRISE_PLUS",
            "EDITION_STANDARD"
          ],
          "enumDescriptions": [
            "Default, to make it consistent with instance edition enum.",
            "Represents the enterprise edition.",
            "Represents the enterprise plus edition.",
            "Represents the standard edition."
          ],
          "type": "string"
        },
        "resourceFlags": {
          "description": "Optional. List of resource flags for the database resource.",
          "items": {
            "$ref": "ResourceFlags"
          },
          "type": "array"
        }
      },
      "id": "DatabaseResourceMetadata",
      "description": "Common model for database resource instance metadata. Next ID: 35",
      "type": "object"
    },
    "Tags": {
      "type": "object",
      "description": "Message type for storing tags. Tags provide a way to create annotations for resources, and in some cases conditionally allow or deny policies based on whether a resource has a specific tag.",
      "id": "Tags",
      "properties": {
        "tags": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "The Tag key/value mappings.",
          "type": "object"
        }
      }
    },
    "ReconciliationOperationMetadata": {
      "properties": {
        "deleteResource": {
          "description": "DEPRECATED. Use exclusive_action instead.",
          "type": "boolean",
          "deprecated": true
        },
        "exclusiveAction": {
          "enum": [
            "UNKNOWN_REPAIR_ACTION",
            "DELETE",
            "RETRY"
          ],
          "enumDeprecated": [
            false,
            true,
            false
          ],
          "type": "string",
          "description": "Excluisive action returned by the CLH.",
          "enumDescriptions": [
            "Unknown repair action.",
            "The resource has to be deleted. When using this bit, the CLH should fail the operation. DEPRECATED. Instead use DELETE_RESOURCE OperationSignal in SideChannel.",
            "This resource could not be repaired but the repair should be tried again at a later time. This can happen if there is a dependency that needs to be resolved first- e.g. if a parent resource must be repaired before a child resource."
          ]
        }
      },
      "id": "ReconciliationOperationMetadata",
      "description": "Operation metadata returned by the CLH during resource state reconciliation.",
      "type": "object"
    },
    "AddAuthTokenRequest": {
      "description": "Request message for AddAuthToken.",
      "type": "object",
      "properties": {
        "authToken": {
          "description": "Required. The auth token to add.",
          "$ref": "AuthToken"
        }
      },
      "id": "AddAuthTokenRequest"
    },
    "CertChain": {
      "properties": {
        "certificates": {
          "description": "The certificates that form the CA chain, from leaf to root order.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "id": "CertChain",
      "type": "object"
    },
    "Entitlement": {
      "id": "Entitlement",
      "properties": {
        "entitlementState": {
          "description": "The current state of user's accessibility to a feature/benefit.",
          "type": "string",
          "enumDescriptions": [
            "",
            "User is entitled to a feature/benefit, but whether it has been successfully provisioned is decided by provisioning state.",
            "User is entitled to a feature/benefit, but it was requested to be revoked. Whether the revoke has been successful is decided by provisioning state."
          ],
          "enum": [
            "ENTITLEMENT_STATE_UNSPECIFIED",
            "ENTITLED",
            "REVOKED"
          ]
        },
        "type": {
          "description": "An enum that represents the type of this entitlement.",
          "enum": [
            "ENTITLEMENT_TYPE_UNSPECIFIED",
            "GEMINI",
            "NATIVE",
            "GCA_STANDARD"
          ],
          "enumDeprecated": [
            false,
            true,
            false,
            false
          ],
          "enumDescriptions": [
            "The entitlement type is unspecified.",
            "The root entitlement representing Gemini package ownership.This will no longer be supported in the future.",
            "The entitlement representing Native Tier, This will be the default Entitlement going forward with GCA Enablement.",
            "The entitlement representing GCA-Standard Tier."
          ],
          "type": "string"
        }
      },
      "type": "object",
      "description": "Proto representing the access that a user has to a specific feature/service. NextId: 3."
    },
    "BackupFile": {
      "id": "BackupFile",
      "type": "object",
      "properties": {
        "fileName": {
          "type": "string",
          "description": "Output only. e.g: .rdb",
          "readOnly": true
        },
        "sizeBytes": {
          "description": "Output only. Size of the backup file in bytes.",
          "readOnly": true,
          "format": "int64",
          "type": "string"
        },
        "createTime": {
          "type": "string",
          "description": "Output only. The time when the backup file was created.",
          "format": "google-datetime",
          "readOnly": true
        }
      },
      "description": "Backup is consisted of multiple backup files."
    },
    "ListTokenAuthUsersResponse": {
      "description": "Response message for ListTokenAuthUsers.",
      "id": "ListTokenAuthUsersResponse",
      "properties": {
        "unreachable": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Unordered list. Token auth users that could not be reached."
        },
        "nextPageToken": {
          "type": "string",
          "description": "Token to retrieve the next page of results, or empty if there are no more results in the list."
        },
        "tokenAuthUsers": {
          "items": {
            "$ref": "TokenAuthUser"
          },
          "description": "A list of token auth users in the project.",
          "type": "array"
        }
      },
      "type": "object"
    },
    "ClusterEndpoint": {
      "description": "ClusterEndpoint consists of PSC connections that are created as a group in each VPC network for accessing the cluster. In each group, there shall be one connection for each service attachment in the cluster.",
      "id": "ClusterEndpoint",
      "properties": {
        "connections": {
          "description": "Required. A group of PSC connections. They are created in the same VPC network, one for each service attachment in the cluster.",
          "items": {
            "$ref": "ConnectionDetail"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "DiscoveryEndpoint": {
      "id": "DiscoveryEndpoint",
      "properties": {
        "pscConfig": {
          "readOnly": true,
          "description": "Output only. Customer configuration for where the endpoint is created and accessed from.",
          "$ref": "PscConfig"
        },
        "address": {
          "description": "Output only. Address of the exposed Redis endpoint used by clients to connect to the service. The address could be either IP or hostname.",
          "type": "string",
          "readOnly": true
        },
        "port": {
          "type": "integer",
          "description": "Output only. The port number of the exposed Redis endpoint.",
          "format": "int32",
          "readOnly": true
        }
      },
      "type": "object",
      "description": "Endpoints on each network, for Redis clients to connect to the cluster."
    },
    "BackupClusterRequest": {
      "description": "Request for `BackupCluster`.",
      "properties": {
        "backupId": {
          "description": "Optional. The id of the backup to be created. If not specified, the default value ([YYYYMMDDHHMMSS]_[Shortened Cluster UID] is used.",
          "type": "string"
        },
        "ttl": {
          "description": "Optional. TTL for the backup to expire. Value range is 1 day to 100 years. If not specified, the default value is 100 years.",
          "type": "string",
          "format": "google-duration"
        }
      },
      "type": "object",
      "id": "BackupClusterRequest"
    },
    "PscConnection": {
      "id": "PscConnection",
      "type": "object",
      "properties": {
        "pscConnectionStatus": {
          "enum": [
            "PSC_CONNECTION_STATUS_UNSPECIFIED",
            "PSC_CONNECTION_STATUS_ACTIVE",
            "PSC_CONNECTION_STATUS_NOT_FOUND"
          ],
          "enumDescriptions": [
            "PSC connection status is not specified.",
            "The connection is active",
            "Connection not found"
          ],
          "description": "Output only. The status of the PSC connection. Please note that this value is updated periodically. To get the latest status of a PSC connection, follow https://cloud.google.com/vpc/docs/configure-private-service-connect-services#endpoint-details.",
          "readOnly": true,
          "type": "string"
        },
        "pscConnectionId": {
          "type": "string",
          "description": "Required. The PSC connection id of the forwarding rule connected to the service attachment."
        },
        "connectionType": {
          "description": "Output only. Type of the PSC connection.",
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "Cluster endpoint Type is not set",
            "Cluster endpoint that will be used as for cluster topology discovery.",
            "Cluster endpoint that will be used as primary endpoint to access primary.",
            "Cluster endpoint that will be used as reader endpoint to access replicas."
          ],
          "enum": [
            "CONNECTION_TYPE_UNSPECIFIED",
            "CONNECTION_TYPE_DISCOVERY",
            "CONNECTION_TYPE_PRIMARY",
            "CONNECTION_TYPE_READER"
          ]
        },
        "network": {
          "description": "Required. The consumer network where the IP address resides, in the form of projects/{project_id}/global/networks/{network_id}.",
          "type": "string"
        },
        "projectId": {
          "description": "Optional. Project ID of the consumer project where the forwarding rule is created in.",
          "type": "string"
        },
        "serviceAttachment": {
          "description": "Required. The service attachment which is the target of the PSC connection, in the form of projects/{project-id}/regions/{region}/serviceAttachments/{service-attachment-id}.",
          "type": "string"
        },
        "forwardingRule": {
          "type": "string",
          "description": "Required. The URI of the consumer side forwarding rule. Example: projects/{projectNumOrId}/regions/us-east1/forwardingRules/{resourceId}."
        },
        "address": {
          "type": "string",
          "description": "Required. The IP allocated on the consumer network for the PSC forwarding rule."
        },
        "port": {
          "type": "integer",
          "readOnly": true,
          "description": "Output only. port will only be set for Primary/Reader or Discovery endpoint.",
          "format": "int32"
        }
      },
      "description": "Details of consumer resources in a PSC connection."
    },
    "TokenAuthUser": {
      "type": "object",
      "properties": {
        "name": {
          "description": "Identifier. The resource name of the token based auth user. Format: projects/{project}/locations/{location}/clusters/{cluster}/tokenAuthUsers/{token_auth_user}",
          "type": "string"
        },
        "state": {
          "enumDescriptions": [
            "Not set.",
            "The auth user is active.",
            "The auth user is being created.",
            "The auth user is being updated.",
            "The auth user is being deleted."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "CREATING",
            "UPDATING",
            "DELETING"
          ],
          "type": "string",
          "readOnly": true,
          "description": "Output only. The state of the token based auth user."
        }
      },
      "id": "TokenAuthUser",
      "description": "Represents a token based auth user for the cluster."
    },
    "BackupCollection": {
      "id": "BackupCollection",
      "type": "object",
      "description": "BackupCollection of a cluster.",
      "properties": {
        "totalBackupSizeBytes": {
          "readOnly": true,
          "format": "int64",
          "type": "string",
          "description": "Output only. Total size of all backups in the backup collection."
        },
        "name": {
          "type": "string",
          "description": "Identifier. Full resource path of the backup collection."
        },
        "totalBackupCount": {
          "type": "string",
          "description": "Output only. Total number of backups in the backup collection.",
          "format": "int64",
          "readOnly": true
        },
        "createTime": {
          "description": "Output only. The time when the backup collection was created.",
          "format": "google-datetime",
          "type": "string",
          "readOnly": true
        },
        "uid": {
          "description": "Output only. System assigned unique identifier of the backup collection.",
          "readOnly": true,
          "type": "string"
        },
        "cluster": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The full resource path of the cluster the backup collection belongs to. Example: projects/{project}/locations/{location}/clusters/{cluster}"
        },
        "clusterUid": {
          "readOnly": true,
          "description": "Output only. The cluster uid of the backup collection.",
          "type": "string"
        },
        "lastBackupTime": {
          "type": "string",
          "description": "Output only. The last time a backup was created in the backup collection.",
          "readOnly": true,
          "format": "google-datetime"
        },
        "kmsKey": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The KMS key used to encrypt the backups under this backup collection."
        }
      }
    },
    "PscAutoConnection": {
      "id": "PscAutoConnection",
      "properties": {
        "pscConnectionStatus": {
          "enum": [
            "PSC_CONNECTION_STATUS_UNSPECIFIED",
            "PSC_CONNECTION_STATUS_ACTIVE",
            "PSC_CONNECTION_STATUS_NOT_FOUND"
          ],
          "description": "Output only. The status of the PSC connection. Please note that this value is updated periodically. Please use Private Service Connect APIs for the latest status.",
          "readOnly": true,
          "enumDescriptions": [
            "PSC connection status is not specified.",
            "The connection is active",
            "Connection not found"
          ],
          "type": "string"
        },
        "address": {
          "description": "Output only. The IP allocated on the consumer network for the PSC forwarding rule.",
          "readOnly": true,
          "type": "string"
        },
        "pscConnectionId": {
          "readOnly": true,
          "description": "Output only. The PSC connection id of the forwarding rule connected to the service attachment.",
          "type": "string"
        },
        "network": {
          "description": "Required. The consumer network where the IP address resides, in the form of projects/{project_id}/global/networks/{network_id}.",
          "type": "string"
        },
        "connectionType": {
          "enumDescriptions": [
            "Cluster endpoint Type is not set",
            "Cluster endpoint that will be used as for cluster topology discovery.",
            "Cluster endpoint that will be used as primary endpoint to access primary.",
            "Cluster endpoint that will be used as reader endpoint to access replicas."
          ],
          "enum": [
            "CONNECTION_TYPE_UNSPECIFIED",
            "CONNECTION_TYPE_DISCOVERY",
            "CONNECTION_TYPE_PRIMARY",
            "CONNECTION_TYPE_READER"
          ],
          "readOnly": true,
          "description": "Output only. Type of the PSC connection.",
          "type": "string"
        },
        "forwardingRule": {
          "description": "Output only. The URI of the consumer side forwarding rule. Example: projects/{projectNumOrId}/regions/us-east1/forwardingRules/{resourceId}.",
          "readOnly": true,
          "type": "string"
        },
        "projectId": {
          "type": "string",
          "description": "Required. The consumer project_id where the forwarding rule is created from."
        },
        "serviceAttachment": {
          "readOnly": true,
          "description": "Output only. The service attachment which is the target of the PSC connection, in the form of projects/{project-id}/regions/{region}/serviceAttachments/{service-attachment-id}.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Details of consumer resources in a PSC connection that is created through Service Connectivity Automation."
    },
    "OperationMetadata": {
      "id": "OperationMetadata",
      "description": "Pre-defined metadata fields.",
      "properties": {
        "apiVersion": {
          "readOnly": true,
          "description": "Output only. API version used to start the operation.",
          "type": "string"
        },
        "statusMessage": {
          "type": "string",
          "description": "Output only. Human-readable status of the operation, if any.",
          "readOnly": true
        },
        "requestedCancellation": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. Identifies whether the user has requested cancellation of the operation. Operations that have successfully been cancelled have Operation.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`."
        },
        "verb": {
          "readOnly": true,
          "description": "Output only. Name of the verb executed by the operation.",
          "type": "string"
        },
        "endTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The time the operation finished running.",
          "readOnly": true
        },
        "target": {
          "type": "string",
          "description": "Output only. Server-defined resource path for the target of the operation.",
          "readOnly": true
        },
        "createTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The time the operation was created."
        }
      },
      "type": "object"
    },
    "IpAddress": {
      "type": "object",
      "properties": {
        "privateIp": {
          "type": "string",
          "description": "The private IP address assigned to the resource within a Virtual Private Cloud (VPC). This IP is only reachable from within the same VPC network. Stored in standard string format (e.g., \"10.0.0.2\")."
        },
        "publicIp": {
          "type": "string",
          "description": "The public IP address assigned to the resource. This IP is reachable from the internet. Stored in standard string format (e.g., \"34.72.1.1\")."
        }
      },
      "id": "IpAddress",
      "description": "Used to send IP address information for a database resource."
    },
    "InputConfig": {
      "description": "The input content",
      "type": "object",
      "id": "InputConfig",
      "properties": {
        "gcsSource": {
          "description": "Google Cloud Storage location where input content is located.",
          "$ref": "GcsSource"
        }
      }
    },
    "ListBackupCollectionsResponse": {
      "description": "Response for `ListBackupCollections`.",
      "properties": {
        "unreachable": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Locations that could not be reached."
        },
        "nextPageToken": {
          "description": "Token to retrieve the next page of results, or empty if there are no more results in the list.",
          "type": "string"
        },
        "backupCollections": {
          "description": "A list of backupCollections in the project. If the `location_id` in the parent field of the request is \"-\", all regions available to the project are queried, and the results aggregated. If in such an aggregated query a location is unavailable, a placeholder backupCollection entry is included in the response with the `name` field set to a value of the form `projects/{project_id}/locations/{location_id}/backupCollections/`- and the `status` field set to ERROR and `status_message` field set to \"location not available for ListBackupCollections\".",
          "items": {
            "$ref": "BackupCollection"
          },
          "type": "array"
        }
      },
      "id": "ListBackupCollectionsResponse",
      "type": "object"
    },
    "ManagedBackupSource": {
      "id": "ManagedBackupSource",
      "description": "Backups that generated and managed by memorystore.",
      "type": "object",
      "properties": {
        "backup": {
          "type": "string",
          "description": "Optional. Example: //redis.googleapis.com/projects/{project}/locations/{location}/backupCollections/{collection}/backups/{backup} A shorter version (without the prefix) of the backup name is also supported, like projects/{project}/locations/{location}/backupCollections/{collection}/backups/{backup_id} In this case, it assumes the backup is under redis.googleapis.com."
        }
      }
    },
    "DatabaseResourceSignalData": {
      "description": "Database resource signal data. This is used to send signals to Condor which are based on the DB/Instance/Fleet level configurations. These will be used to send signals for all inventory types. Next ID: 10",
      "type": "object",
      "properties": {
        "resourceId": {
          "$ref": "DatabaseResourceId",
          "description": "Database resource id."
        },
        "signalBoolValue": {
          "description": "Deprecated: Use signal_metadata_list instead.",
          "deprecated": true,
          "type": "boolean"
        },
        "signalMetadataList": {
          "description": "This will support array of OneOf signal metadata information for a given signal type.",
          "items": {
            "$ref": "SignalMetadata"
          },
          "type": "array"
        },
        "location": {
          "description": "Required. Resource location.",
          "type": "string"
        },
        "signalType": {
          "enumDescriptions": [
            "Unspecified signal type.",
            "Outdated Minor Version",
            "Represents database auditing is disabled.",
            "Represents if a database has a password configured for the root account or not.",
            "Represents if a resource is exposed to public access.",
            "Represents if a resources requires all incoming connections to use SSL or not.",
            "Represents if a resource version is in extended support.",
            "Represents if a resource has no automated backup policy.",
            "Represents if a resource version is nearing end of life.",
            "Represents if the last backup of a resource is older than 24 hours.",
            "Represents if a resource is not protected by automatic failover."
          ],
          "description": "Required. Signal type of the signal",
          "enum": [
            "SIGNAL_TYPE_UNSPECIFIED",
            "SIGNAL_TYPE_OUTDATED_MINOR_VERSION",
            "SIGNAL_TYPE_DATABASE_AUDITING_DISABLED",
            "SIGNAL_TYPE_NO_ROOT_PASSWORD",
            "SIGNAL_TYPE_EXPOSED_TO_PUBLIC_ACCESS",
            "SIGNAL_TYPE_UNENCRYPTED_CONNECTIONS",
            "SIGNAL_TYPE_EXTENDED_SUPPORT",
            "SIGNAL_TYPE_NO_AUTOMATED_BACKUP_POLICY",
            "SIGNAL_TYPE_VERSION_NEARING_END_OF_LIFE",
            "SIGNAL_TYPE_LAST_BACKUP_OLD",
            "SIGNAL_TYPE_NOT_PROTECTED_BY_AUTOMATIC_FAILOVER"
          ],
          "type": "string"
        },
        "fullResourceName": {
          "description": "Required. Full Resource name of the source resource.",
          "type": "string"
        },
        "backupRun": {
          "deprecated": true,
          "description": "Deprecated: Use signal_metadata_list instead.",
          "$ref": "BackupRun"
        },
        "signalState": {
          "enumDescriptions": [
            "Unspecified signal state.",
            "Signal is active and requires attention.",
            "Signal is inactive and does not require attention.",
            "Signal is dismissed by the user and should not be shown to the user again."
          ],
          "enum": [
            "SIGNAL_STATE_UNSPECIFIED",
            "ACTIVE",
            "INACTIVE",
            "DISMISSED"
          ],
          "description": "Required. Output only. Signal state of the signal",
          "readOnly": true,
          "type": "string"
        },
        "lastRefreshTime": {
          "description": "Required. Last time signal was refreshed",
          "format": "google-datetime",
          "type": "string"
        }
      },
      "id": "DatabaseResourceSignalData"
    },
    "Operation": {
      "properties": {
        "error": {
          "description": "The error result of the operation in case of failure or cancellation.",
          "$ref": "Status"
        },
        "name": {
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`.",
          "type": "string"
        },
        "done": {
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available.",
          "type": "boolean"
        },
        "response": {
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "type": "object"
        },
        "metadata": {
          "description": "{ `createTime`: The time the operation was created. `endTime`: The time the operation finished running. `target`: Server-defined resource path for the target of the operation. `verb`: Name of the verb executed by the operation. `statusDetail`: Human-readable status of the operation, if any. `cancelRequested`: Identifies whether the user has requested cancellation of the operation. Operations that have successfully been cancelled have Operation.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`. `apiVersion`: API version used to start the operation. }",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "type": "object"
        }
      },
      "type": "object",
      "id": "Operation",
      "description": "This resource represents a long-running operation that is the result of a network API call."
    },
    "ImportInstanceRequest": {
      "properties": {
        "inputConfig": {
          "$ref": "InputConfig",
          "description": "Required. Specify data to be imported."
        }
      },
      "type": "object",
      "description": "Request for Import.",
      "id": "ImportInstanceRequest"
    },
    "AvailabilityConfiguration": {
      "description": "Configuration for availability of database instance",
      "type": "object",
      "properties": {
        "crossRegionReplicaConfigured": {
          "type": "boolean",
          "description": "Checks for resources that are configured to have redundancy, and ongoing replication across regions"
        },
        "automaticFailoverRoutingConfigured": {
          "description": "Checks for existence of (multi-cluster) routing configuration that allows automatic failover to a different zone/region in case of an outage. Applicable to Bigtable resources.",
          "type": "boolean"
        },
        "promotableReplicaConfigured": {
          "type": "boolean"
        },
        "availabilityType": {
          "enum": [
            "AVAILABILITY_TYPE_UNSPECIFIED",
            "ZONAL",
            "REGIONAL",
            "MULTI_REGIONAL",
            "AVAILABILITY_TYPE_OTHER"
          ],
          "description": "Availability type. Potential values: * `ZONAL`: The instance serves data from only one zone. Outages in that zone affect data accessibility. * `REGIONAL`: The instance can serve data from more than one zone in a region (it is highly available).",
          "enumDescriptions": [
            "Unspecified availability type.",
            "Zonal available instance.",
            "Regional available instance.",
            "Multi regional instance",
            "For rest of the other category"
          ],
          "type": "string"
        },
        "externalReplicaConfigured": {
          "type": "boolean"
        }
      },
      "id": "AvailabilityConfiguration"
    },
    "Empty": {
      "type": "object",
      "properties": {},
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "id": "Empty"
    },
    "AuthToken": {
      "description": "Auth token for the cluster.",
      "id": "AuthToken",
      "type": "object",
      "properties": {
        "token": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The service generated authentication token used to connect to the Redis cluster."
        },
        "createTime": {
          "format": "google-datetime",
          "readOnly": true,
          "type": "string",
          "description": "Output only. Create time of the auth token."
        },
        "name": {
          "description": "Identifier. Name of the auth token. Format: projects/{project}/locations/{location}/clusters/{cluster}/tokenAuthUsers/{token_auth_user}/authTokens/{auth_token}",
          "type": "string"
        },
        "state": {
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "CREATING",
            "DELETING"
          ],
          "enumDescriptions": [
            "Not set.",
            "The auth token is active.",
            "The auth token is being created.",
            "The auth token is being deleted."
          ],
          "description": "Output only. State of the auth token.",
          "type": "string"
        }
      }
    },
    "RDBConfig": {
      "id": "RDBConfig",
      "properties": {
        "rdbSnapshotPeriod": {
          "description": "Optional. Period between RDB snapshots.",
          "enum": [
            "SNAPSHOT_PERIOD_UNSPECIFIED",
            "ONE_HOUR",
            "SIX_HOURS",
            "TWELVE_HOURS",
            "TWENTY_FOUR_HOURS"
          ],
          "enumDescriptions": [
            "Not set.",
            "One hour.",
            "Six hours.",
            "Twelve hours.",
            "Twenty four hours."
          ],
          "type": "string"
        },
        "rdbSnapshotStartTime": {
          "description": "Optional. The time that the first snapshot was/will be attempted, and to which future snapshots will be aligned. If not provided, the current time will be used.",
          "format": "google-datetime",
          "type": "string"
        }
      },
      "description": "Configuration of the RDB based persistence.",
      "type": "object"
    },
    "GoogleCloudCommonOperationMetadata": {
      "description": "Represents the metadata of the long-running operation.",
      "properties": {
        "apiVersion": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. API version used to start the operation."
        },
        "verb": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Name of the verb executed by the operation."
        },
        "cancelRequested": {
          "readOnly": true,
          "description": "Output only. Identifies whether the user has requested cancellation of the operation. Operations that have been cancelled successfully have google.longrunning.Operation.error value with a google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`.",
          "type": "boolean"
        },
        "endTime": {
          "type": "string",
          "description": "Output only. The time the operation finished running.",
          "readOnly": true,
          "format": "google-datetime"
        },
        "target": {
          "description": "Output only. Server-defined resource path for the target of the operation.",
          "type": "string",
          "readOnly": true
        },
        "statusDetail": {
          "description": "Output only. Human-readable status of the operation, if any.",
          "type": "string",
          "readOnly": true
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The time the operation was created.",
          "readOnly": true
        }
      },
      "id": "GoogleCloudCommonOperationMetadata",
      "type": "object"
    },
    "EncryptionInfo": {
      "type": "object",
      "properties": {
        "lastUpdateTime": {
          "format": "google-datetime",
          "description": "Output only. The most recent time when the encryption info was updated.",
          "type": "string",
          "readOnly": true
        },
        "encryptionType": {
          "description": "Output only. Type of encryption.",
          "type": "string",
          "readOnly": true,
          "enumDescriptions": [
            "Encryption type not specified. Defaults to GOOGLE_DEFAULT_ENCRYPTION.",
            "The data is encrypted at rest with a key that is fully managed by Google. No key version will be populated. This is the default state.",
            "The data is encrypted at rest with a key that is managed by the customer. KMS key versions will be populated."
          ],
          "enum": [
            "TYPE_UNSPECIFIED",
            "GOOGLE_DEFAULT_ENCRYPTION",
            "CUSTOMER_MANAGED_ENCRYPTION"
          ]
        },
        "kmsKeyVersions": {
          "readOnly": true,
          "type": "array",
          "description": "Output only. KMS key versions that are being used to protect the data at-rest.",
          "items": {
            "type": "string"
          }
        },
        "kmsKeyPrimaryState": {
          "enum": [
            "KMS_KEY_STATE_UNSPECIFIED",
            "ENABLED",
            "PERMISSION_DENIED",
            "DISABLED",
            "DESTROYED",
            "DESTROY_SCHEDULED",
            "EKM_KEY_UNREACHABLE_DETECTED",
            "BILLING_DISABLED",
            "UNKNOWN_FAILURE"
          ],
          "enumDescriptions": [
            "The default value. This value is unused.",
            "The KMS key is enabled and correctly configured.",
            "Permission denied on the KMS key.",
            "The KMS key is disabled.",
            "The KMS key is destroyed.",
            "The KMS key is scheduled to be destroyed.",
            "The EKM key is unreachable.",
            "Billing is disabled for the project.",
            "All other unknown failures."
          ],
          "description": "Output only. The state of the primary version of the KMS key perceived by the system. This field is not populated in backups.",
          "readOnly": true,
          "type": "string"
        }
      },
      "description": "EncryptionInfo describes the encryption information of a cluster or a backup.",
      "id": "EncryptionInfo"
    },
    "StateInfo": {
      "type": "object",
      "id": "StateInfo",
      "description": "Represents additional information about the state of the cluster.",
      "properties": {
        "updateInfo": {
          "description": "Describes ongoing update on the cluster when cluster state is UPDATING.",
          "$ref": "UpdateInfo"
        }
      }
    },
    "Cluster": {
      "type": "object",
      "description": "A cluster instance.",
      "id": "Cluster",
      "properties": {
        "clusterEndpoints": {
          "items": {
            "$ref": "ClusterEndpoint"
          },
          "type": "array",
          "description": "Optional. A list of cluster endpoints."
        },
        "state": {
          "description": "Output only. The current state of this cluster. Can be CREATING, READY, UPDATING, DELETING and SUSPENDED",
          "readOnly": true,
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "ACTIVE",
            "UPDATING",
            "DELETING"
          ],
          "enumDescriptions": [
            "Not set.",
            "Redis cluster is being created.",
            "Redis cluster has been created and is fully usable.",
            "Redis cluster configuration is being updated.",
            "Redis cluster is being deleted."
          ]
        },
        "shardCount": {
          "description": "Optional. Number of shards for the Redis cluster.",
          "type": "integer",
          "format": "int32"
        },
        "aclPolicyInSync": {
          "deprecated": true,
          "readOnly": true,
          "type": "boolean",
          "description": "Optional. Output only. Deprecated: Indicates whether the ACL rules applied to the cluster are in sync."
        },
        "labels": {
          "description": "Optional. Labels to represent user-provided metadata.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "ondemandMaintenance": {
          "deprecated": true,
          "description": "Optional. Input only. Ondemand maintenance for the cluster. This field can be used to trigger ondemand critical update on the cluster.",
          "type": "boolean"
        },
        "aclPolicy": {
          "type": "string",
          "description": "Optional. The ACL policy to be applied to the cluster."
        },
        "redisConfigs": {
          "description": "Optional. Key/Value pairs of customer overrides for mutable Redis Configs",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "name": {
          "type": "string",
          "description": "Required. Identifier. Unique name of the resource in this scope including project and location using the form: `projects/{project_id}/locations/{location_id}/clusters/{cluster_id}`"
        },
        "simulateMaintenanceEvent": {
          "description": "Optional. Input only. Simulate a maintenance event.",
          "type": "boolean"
        },
        "kmsKey": {
          "description": "Optional. The KMS key used to encrypt the at-rest data of the cluster.",
          "type": "string"
        },
        "satisfiesPzs": {
          "type": "boolean",
          "readOnly": true,
          "description": "Optional. Output only. Reserved for future use."
        },
        "gcsSource": {
          "$ref": "GcsBackupSource",
          "description": "Optional. Backups stored in Cloud Storage buckets. The Cloud Storage buckets need to be the same region as the clusters. Read permission is required to import from the provided Cloud Storage objects."
        },
        "pscConnections": {
          "description": "Output only. The list of PSC connections that are auto-created through service connectivity automation.",
          "type": "array",
          "items": {
            "$ref": "PscConnection"
          },
          "readOnly": true
        },
        "rotateServerCertificate": {
          "description": "Optional. Input only. Rotate the server certificates.",
          "type": "boolean"
        },
        "preciseSizeGb": {
          "format": "double",
          "readOnly": true,
          "description": "Output only. Precise value of redis memory size in GB for the entire cluster.",
          "type": "number"
        },
        "effectiveMaintenanceVersion": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. This field represents the actual maintenance version of the cluster."
        },
        "maintenanceSchedule": {
          "description": "Output only. ClusterMaintenanceSchedule Output only Published maintenance schedule.",
          "readOnly": true,
          "$ref": "ClusterMaintenanceSchedule"
        },
        "asyncClusterEndpointsDeletionEnabled": {
          "type": "boolean",
          "description": "Optional. If true, cluster endpoints that are created and registered by customers can be deleted asynchronously. That is, such a cluster endpoint can be de-registered before the forwarding rules in the cluster endpoint are deleted."
        },
        "serverCaPool": {
          "type": "string",
          "description": "Optional. Customer-managed CA pool for the cluster. Only applicable for BYOCA i.e. if server_ca_mode is SERVER_CA_MODE_CUSTOMER_MANAGED_CAS_CA. Format: \"projects/{project}/locations/{region}/caPools/{ca_pool}\"."
        },
        "aclPolicyInfo": {
          "readOnly": true,
          "$ref": "AclPolicyInfo",
          "description": "Output only. Details of the applied ACL policy."
        },
        "pscServiceAttachments": {
          "type": "array",
          "items": {
            "$ref": "PscServiceAttachment"
          },
          "description": "Output only. Service attachment details to configure Psc connections",
          "readOnly": true
        },
        "managedBackupSource": {
          "description": "Optional. Backups generated and managed by memorystore service.",
          "$ref": "ManagedBackupSource"
        },
        "transitEncryptionMode": {
          "enumDescriptions": [
            "In-transit encryption not set.",
            "In-transit encryption disabled.",
            "Use server managed encryption for in-transit encryption."
          ],
          "type": "string",
          "description": "Optional. The in-transit encryption for the Redis cluster. If not provided, encryption is disabled for the cluster.",
          "enum": [
            "TRANSIT_ENCRYPTION_MODE_UNSPECIFIED",
            "TRANSIT_ENCRYPTION_MODE_DISABLED",
            "TRANSIT_ENCRYPTION_MODE_SERVER_AUTHENTICATION"
          ]
        },
        "replicaCount": {
          "type": "integer",
          "description": "Optional. The number of replica nodes per shard.",
          "format": "int32"
        },
        "discoveryEndpoints": {
          "type": "array",
          "description": "Output only. Endpoints created on each given network, for Redis clients to connect to the cluster. Currently only one discovery endpoint is supported.",
          "readOnly": true,
          "items": {
            "$ref": "DiscoveryEndpoint"
          }
        },
        "pscConfigs": {
          "items": {
            "$ref": "PscConfig"
          },
          "type": "array",
          "description": "Optional. Each PscConfig configures the consumer network where IPs will be designated to the cluster for client access through Private Service Connect Automation. Currently, only one PscConfig is supported."
        },
        "zoneDistributionConfig": {
          "$ref": "ZoneDistributionConfig",
          "description": "Optional. This config will be used to determine how the customer wants us to distribute cluster resources within the region."
        },
        "automatedBackupConfig": {
          "$ref": "AutomatedBackupConfig",
          "description": "Optional. The automated backup config for the cluster."
        },
        "stateInfo": {
          "$ref": "StateInfo",
          "description": "Output only. Additional information about the current state of the cluster.",
          "readOnly": true
        },
        "nodeType": {
          "enum": [
            "NODE_TYPE_UNSPECIFIED",
            "REDIS_SHARED_CORE_NANO",
            "REDIS_HIGHMEM_MEDIUM",
            "REDIS_HIGHMEM_XLARGE",
            "REDIS_STANDARD_SMALL",
            "REDIS_HIGHCPU_MEDIUM",
            "REDIS_STANDARD_LARGE",
            "REDIS_HIGHMEM_2XLARGE"
          ],
          "description": "Optional. The type of a redis node in the cluster. NodeType determines the underlying machine-type of a redis node.",
          "enumDescriptions": [
            "Node type unspecified",
            "Redis shared core nano node_type.",
            "Redis highmem medium node_type.",
            "Redis highmem xlarge node_type.",
            "Redis standard small node_type.",
            "Redis highcpu medium node_type.",
            "Redis standard large node_type.",
            "Redis highmem 2xlarge node_type."
          ],
          "type": "string"
        },
        "sizeGb": {
          "format": "int32",
          "type": "integer",
          "description": "Output only. Redis memory size in GB for the entire cluster rounded up to the next integer.",
          "readOnly": true
        },
        "satisfiesPzi": {
          "readOnly": true,
          "type": "boolean",
          "description": "Optional. Output only. Reserved for future use."
        },
        "authorizationMode": {
          "description": "Optional. The authorization mode of the Redis cluster. If not provided, auth feature is disabled for the cluster.",
          "type": "string",
          "enumDescriptions": [
            "Not set.",
            "IAM basic authorization mode",
            "Authorization disabled mode",
            "Token based authorization mode"
          ],
          "enum": [
            "AUTH_MODE_UNSPECIFIED",
            "AUTH_MODE_IAM_AUTH",
            "AUTH_MODE_DISABLED",
            "AUTH_MODE_TOKEN_AUTH"
          ]
        },
        "createTime": {
          "format": "google-datetime",
          "description": "Output only. The timestamp associated with the cluster creation request.",
          "type": "string",
          "readOnly": true
        },
        "serverCaMode": {
          "type": "string",
          "enumDescriptions": [
            "Server CA mode not specified.",
            "Each cluster has its own Google managed CA.",
            "The cluster uses Google managed shared CA in the region.",
            "The cluster uses customer managed CA from CAS."
          ],
          "description": "Optional. Server CA mode for the cluster.",
          "enum": [
            "SERVER_CA_MODE_UNSPECIFIED",
            "SERVER_CA_MODE_GOOGLE_MANAGED_PER_INSTANCE_CA",
            "SERVER_CA_MODE_GOOGLE_MANAGED_SHARED_CA",
            "SERVER_CA_MODE_CUSTOMER_MANAGED_CAS_CA"
          ]
        },
        "maintenanceVersion": {
          "type": "string",
          "description": "Optional. This field can be used to trigger self service update to indicate the desired maintenance version. The input to this field can be determined by the available_maintenance_versions field."
        },
        "backupCollection": {
          "type": "string",
          "description": "Optional. Output only. The backup collection full resource name. Example: projects/{project}/locations/{location}/backupCollections/{collection}",
          "readOnly": true
        },
        "persistenceConfig": {
          "$ref": "ClusterPersistenceConfig",
          "description": "Optional. Persistence config (RDB, AOF) for the cluster."
        },
        "allowFewerZonesDeployment": {
          "description": "Optional. Immutable. Deprecated, do not use.",
          "type": "boolean",
          "deprecated": true
        },
        "uid": {
          "description": "Output only. System assigned, unique identifier for the cluster.",
          "type": "string",
          "readOnly": true
        },
        "deletionProtectionEnabled": {
          "type": "boolean",
          "description": "Optional. The delete operation will fail when the value is set to true."
        },
        "maintenancePolicy": {
          "description": "Optional. ClusterMaintenancePolicy determines when to allow or deny updates.",
          "$ref": "ClusterMaintenancePolicy"
        },
        "availableMaintenanceVersions": {
          "type": "array",
          "readOnly": true,
          "description": "Output only. This field is used to determine the available maintenance versions for the self service update.",
          "items": {
            "type": "string"
          }
        },
        "encryptionInfo": {
          "readOnly": true,
          "$ref": "EncryptionInfo",
          "description": "Output only. Encryption information of the data at rest of the cluster."
        },
        "crossClusterReplicationConfig": {
          "$ref": "CrossClusterReplicationConfig",
          "description": "Optional. Cross cluster replication config."
        }
      }
    },
    "ClusterMaintenancePolicy": {
      "properties": {
        "createTime": {
          "description": "Output only. The time when the policy was created i.e. Maintenance Window or Deny Period was assigned.",
          "format": "google-datetime",
          "type": "string",
          "readOnly": true
        },
        "weeklyMaintenanceWindow": {
          "items": {
            "$ref": "ClusterWeeklyMaintenanceWindow"
          },
          "type": "array",
          "description": "Optional. Maintenance window that is applied to resources covered by this policy. Minimum 1. For the current version, the maximum number of weekly_maintenance_window is expected to be one."
        },
        "updateTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The time when the policy was updated i.e. Maintenance Window or Deny Period was updated.",
          "readOnly": true
        }
      },
      "id": "ClusterMaintenancePolicy",
      "type": "object",
      "description": "Maintenance policy per cluster."
    },
    "ZoneDistributionConfig": {
      "type": "object",
      "id": "ZoneDistributionConfig",
      "description": "Zone distribution config for allocation of cluster resources.",
      "properties": {
        "zone": {
          "description": "Optional. When SINGLE ZONE distribution is selected, zone field would be used to allocate all resources in that zone. This is not applicable to MULTI_ZONE, and would be ignored for MULTI_ZONE clusters.",
          "type": "string"
        },
        "zones": {
          "description": "Optional. Specify the zones of a multi-zone cluster where Redis Cluster allocates resources. This flag isn't applicable for single-zone clusters.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "mode": {
          "enumDescriptions": [
            "Not Set. Default: MULTI_ZONE",
            "Distribute all resources across 3 zones picked at random, within the region.",
            "Distribute all resources in a single zone. The zone field must be specified, when this mode is selected."
          ],
          "enum": [
            "ZONE_DISTRIBUTION_MODE_UNSPECIFIED",
            "MULTI_ZONE",
            "SINGLE_ZONE"
          ],
          "type": "string",
          "description": "Optional. The mode of zone distribution. Defaults to MULTI_ZONE, when not specified."
        }
      }
    },
    "ClusterAclPolicyAttachment": {
      "type": "object",
      "id": "ClusterAclPolicyAttachment",
      "description": "ClusterAclPolicyAttachment stores the ACL policy status for an attached cluster for the revisions successfully applied, under application or failed.",
      "properties": {
        "cluster": {
          "readOnly": true,
          "description": "Output only. The resource name of the attached Cluster. Format: \"projects/{project}/locations/{location}/clusters/{cluster}\"",
          "type": "string"
        },
        "aclPolicyRevisionStatuses": {
          "description": "Output only. A list of status for various revisions of this ACL policy on the cluster.",
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "AclPolicyRevisionStatus"
          }
        }
      }
    },
    "ClusterMaintenanceSchedule": {
      "properties": {
        "startTime": {
          "description": "Output only. The start time of any upcoming scheduled maintenance for this instance.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "endTime": {
          "type": "string",
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. The end time of any upcoming scheduled maintenance for this instance."
        }
      },
      "description": "Upcoming maintenance schedule.",
      "id": "ClusterMaintenanceSchedule",
      "type": "object"
    },
    "SharedRegionalCertificateAuthority": {
      "id": "SharedRegionalCertificateAuthority",
      "properties": {
        "managedServerCa": {
          "description": "CA certificate chains for redis managed server authentication.",
          "$ref": "RegionalManagedCertificateAuthority"
        },
        "name": {
          "description": "Identifier. Unique name of the resource in this scope including project and location using the form: `projects/{project}/locations/{location}/sharedRegionalCertificateAuthority`",
          "type": "string"
        }
      },
      "description": "Shared regional certificate authority",
      "type": "object"
    },
    "DatabaseResourceRecommendationSignalData": {
      "id": "DatabaseResourceRecommendationSignalData",
      "properties": {
        "signalType": {
          "description": "Required. Type of signal, for example, `SIGNAL_TYPE_IDLE`, `SIGNAL_TYPE_HIGH_NUMBER_OF_TABLES`, etc.",
          "enumDeprecated": [
            false,
            false,
            false,
            true,
            true,
            true,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            true,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            true,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false
          ],
          "enum": [
            "SIGNAL_TYPE_UNSPECIFIED",
            "SIGNAL_TYPE_NOT_PROTECTED_BY_AUTOMATIC_FAILOVER",
            "SIGNAL_TYPE_GROUP_NOT_REPLICATING_ACROSS_REGIONS",
            "SIGNAL_TYPE_NOT_AVAILABLE_IN_MULTIPLE_ZONES",
            "SIGNAL_TYPE_NOT_AVAILABLE_IN_MULTIPLE_REGIONS",
            "SIGNAL_TYPE_NO_PROMOTABLE_REPLICA",
            "SIGNAL_TYPE_NO_AUTOMATED_BACKUP_POLICY",
            "SIGNAL_TYPE_SHORT_BACKUP_RETENTION",
            "SIGNAL_TYPE_LAST_BACKUP_FAILED",
            "SIGNAL_TYPE_LAST_BACKUP_OLD",
            "SIGNAL_TYPE_VIOLATES_CIS_GCP_FOUNDATION_2_0",
            "SIGNAL_TYPE_VIOLATES_CIS_GCP_FOUNDATION_1_3",
            "SIGNAL_TYPE_VIOLATES_CIS_GCP_FOUNDATION_1_2",
            "SIGNAL_TYPE_VIOLATES_CIS_GCP_FOUNDATION_1_1",
            "SIGNAL_TYPE_VIOLATES_CIS_GCP_FOUNDATION_1_0",
            "SIGNAL_TYPE_VIOLATES_CIS_CONTROLS_V8_0",
            "SIGNAL_TYPE_VIOLATES_NIST_800_53",
            "SIGNAL_TYPE_VIOLATES_NIST_800_53_R5",
            "SIGNAL_TYPE_VIOLATES_NIST_CYBERSECURITY_FRAMEWORK_V1_0",
            "SIGNAL_TYPE_VIOLATES_ISO_27001",
            "SIGNAL_TYPE_VIOLATES_ISO_27001_V2022",
            "SIGNAL_TYPE_VIOLATES_PCI_DSS_V3_2_1",
            "SIGNAL_TYPE_VIOLATES_PCI_DSS_V4_0",
            "SIGNAL_TYPE_VIOLATES_CLOUD_CONTROLS_MATRIX_V4",
            "SIGNAL_TYPE_VIOLATES_HIPAA",
            "SIGNAL_TYPE_VIOLATES_SOC2_V2017",
            "SIGNAL_TYPE_LOGS_NOT_OPTIMIZED_FOR_TROUBLESHOOTING",
            "SIGNAL_TYPE_QUERY_DURATIONS_NOT_LOGGED",
            "SIGNAL_TYPE_VERBOSE_ERROR_LOGGING",
            "SIGNAL_TYPE_QUERY_LOCK_WAITS_NOT_LOGGED",
            "SIGNAL_TYPE_LOGGING_MOST_ERRORS",
            "SIGNAL_TYPE_LOGGING_ONLY_CRITICAL_ERRORS",
            "SIGNAL_TYPE_MINIMAL_ERROR_LOGGING",
            "SIGNAL_TYPE_QUERY_STATISTICS_LOGGED",
            "SIGNAL_TYPE_EXCESSIVE_LOGGING_OF_CLIENT_HOSTNAME",
            "SIGNAL_TYPE_EXCESSIVE_LOGGING_OF_PARSER_STATISTICS",
            "SIGNAL_TYPE_EXCESSIVE_LOGGING_OF_PLANNER_STATISTICS",
            "SIGNAL_TYPE_NOT_LOGGING_ONLY_DDL_STATEMENTS",
            "SIGNAL_TYPE_LOGGING_QUERY_STATISTICS",
            "SIGNAL_TYPE_NOT_LOGGING_TEMPORARY_FILES",
            "SIGNAL_TYPE_CONNECTION_MAX_NOT_CONFIGURED",
            "SIGNAL_TYPE_USER_OPTIONS_CONFIGURED",
            "SIGNAL_TYPE_EXPOSED_TO_PUBLIC_ACCESS",
            "SIGNAL_TYPE_UNENCRYPTED_CONNECTIONS",
            "SIGNAL_TYPE_NO_ROOT_PASSWORD",
            "SIGNAL_TYPE_WEAK_ROOT_PASSWORD",
            "SIGNAL_TYPE_ENCRYPTION_KEY_NOT_CUSTOMER_MANAGED",
            "SIGNAL_TYPE_SERVER_AUTHENTICATION_NOT_REQUIRED",
            "SIGNAL_TYPE_EXPOSED_BY_OWNERSHIP_CHAINING",
            "SIGNAL_TYPE_EXPOSED_TO_EXTERNAL_SCRIPTS",
            "SIGNAL_TYPE_EXPOSED_TO_LOCAL_DATA_LOADS",
            "SIGNAL_TYPE_CONNECTION_ATTEMPTS_NOT_LOGGED",
            "SIGNAL_TYPE_DISCONNECTIONS_NOT_LOGGED",
            "SIGNAL_TYPE_LOGGING_EXCESSIVE_STATEMENT_INFO",
            "SIGNAL_TYPE_EXPOSED_TO_REMOTE_ACCESS",
            "SIGNAL_TYPE_DATABASE_NAMES_EXPOSED",
            "SIGNAL_TYPE_SENSITIVE_TRACE_INFO_NOT_MASKED",
            "SIGNAL_TYPE_PUBLIC_IP_ENABLED",
            "SIGNAL_TYPE_IDLE",
            "SIGNAL_TYPE_OVERPROVISIONED",
            "SIGNAL_TYPE_HIGH_NUMBER_OF_OPEN_TABLES",
            "SIGNAL_TYPE_HIGH_NUMBER_OF_TABLES",
            "SIGNAL_TYPE_HIGH_TRANSACTION_ID_UTILIZATION",
            "SIGNAL_TYPE_UNDERPROVISIONED",
            "SIGNAL_TYPE_OUT_OF_DISK",
            "SIGNAL_TYPE_SERVER_CERTIFICATE_NEAR_EXPIRY",
            "SIGNAL_TYPE_DATABASE_AUDITING_DISABLED",
            "SIGNAL_TYPE_RESTRICT_AUTHORIZED_NETWORKS",
            "SIGNAL_TYPE_VIOLATE_POLICY_RESTRICT_PUBLIC_IP",
            "SIGNAL_TYPE_QUOTA_LIMIT",
            "SIGNAL_TYPE_NO_PASSWORD_POLICY",
            "SIGNAL_TYPE_CONNECTIONS_PERFORMANCE_IMPACT",
            "SIGNAL_TYPE_TMP_TABLES_PERFORMANCE_IMPACT",
            "SIGNAL_TYPE_TRANS_LOGS_PERFORMANCE_IMPACT",
            "SIGNAL_TYPE_HIGH_JOINS_WITHOUT_INDEXES",
            "SIGNAL_TYPE_SUPERUSER_WRITING_TO_USER_TABLES",
            "SIGNAL_TYPE_USER_GRANTED_ALL_PERMISSIONS",
            "SIGNAL_TYPE_DATA_EXPORT_TO_EXTERNAL_CLOUD_STORAGE_BUCKET",
            "SIGNAL_TYPE_DATA_EXPORT_TO_PUBLIC_CLOUD_STORAGE_BUCKET",
            "SIGNAL_TYPE_WEAK_PASSWORD_HASH_ALGORITHM",
            "SIGNAL_TYPE_NO_USER_PASSWORD_POLICY",
            "SIGNAL_TYPE_HOT_NODE",
            "SIGNAL_TYPE_NO_POINT_IN_TIME_RECOVERY",
            "SIGNAL_TYPE_RESOURCE_SUSPENDED",
            "SIGNAL_TYPE_EXPENSIVE_COMMANDS",
            "SIGNAL_TYPE_NO_MAINTENANCE_POLICY_CONFIGURED",
            "SIGNAL_TYPE_NO_DELETION_PROTECTION",
            "SIGNAL_TYPE_INEFFICIENT_QUERY",
            "SIGNAL_TYPE_READ_INTENSIVE_WORKLOAD",
            "SIGNAL_TYPE_MEMORY_LIMIT",
            "SIGNAL_TYPE_MAX_SERVER_MEMORY",
            "SIGNAL_TYPE_LARGE_ROWS",
            "SIGNAL_TYPE_HIGH_WRITE_PRESSURE",
            "SIGNAL_TYPE_HIGH_READ_PRESSURE",
            "SIGNAL_TYPE_ENCRYPTION_ORG_POLICY_NOT_SATISFIED",
            "SIGNAL_TYPE_LOCATION_ORG_POLICY_NOT_SATISFIED",
            "SIGNAL_TYPE_OUTDATED_MINOR_VERSION",
            "SIGNAL_TYPE_SCHEMA_NOT_OPTIMIZED",
            "SIGNAL_TYPE_MANY_IDLE_CONNECTIONS",
            "SIGNAL_TYPE_REPLICATION_LAG",
            "SIGNAL_TYPE_OUTDATED_VERSION",
            "SIGNAL_TYPE_OUTDATED_CLIENT",
            "SIGNAL_TYPE_DATABOOST_DISABLED",
            "SIGNAL_TYPE_RECOMMENDED_MAINTENANCE_POLICIES",
            "SIGNAL_TYPE_EXTENDED_SUPPORT",
            "SIGNAL_TYPE_PERFORMANCE_KPI_CHANGE",
            "SIGNAL_TYPE_VERSION_NEARING_END_OF_LIFE",
            "SIGNAL_TYPE_HIGH_MAINTENANCE_DOWNTIME_RISK",
            "SIGNAL_TYPE_LOW_CACHE_HIT_AND_MAINTENANCE_DOWNTIME",
            "SIGNAL_TYPE_MISSING_ENHANCED_PROTECTION"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unspecified.",
            "Represents if a resource is protected by automatic failover. Checks for resources that are configured to have redundancy within a region that enables automatic failover.",
            "Represents if a group is replicating across regions. Checks for resources that are configured to have redundancy, and ongoing replication, across regions.",
            "Represents if the resource is available in multiple zones or not.",
            "Represents if a resource is available in multiple regions.",
            "Represents if a resource has a promotable replica.",
            "Represents if a resource has an automated backup policy.",
            "Represents if a resources has a short backup retention period.",
            "Represents if the last backup of a resource failed.",
            "Represents if the last backup of a resource is older than some threshold value.",
            "Represents if a resource violates CIS GCP Foundation 2.0.",
            "Represents if a resource violates CIS GCP Foundation 1.3.",
            "Represents if a resource violates CIS GCP Foundation 1.2.",
            "Represents if a resource violates CIS GCP Foundation 1.1.",
            "Represents if a resource violates CIS GCP Foundation 1.0.",
            "Represents if a resource violates CIS Controls 8.0.",
            "Represents if a resource violates NIST 800-53.",
            "Represents if a resource violates NIST 800-53 R5.",
            "Represents if a resource violates NIST Cybersecurity Framework 1.0.",
            "Represents if a resource violates ISO-27001.",
            "Represents if a resource violates ISO 27001 2022.",
            "Represents if a resource violates PCI-DSS v3.2.1.",
            "Represents if a resource violates PCI-DSS v4.0.",
            "Represents if a resource violates Cloud Controls Matrix v4.0.",
            "Represents if a resource violates HIPAA.",
            "Represents if a resource violates SOC2 v2017.",
            "Represents if log_checkpoints database flag for a Cloud SQL for PostgreSQL instance is not set to on.",
            "Represents if the log_duration database flag for a Cloud SQL for PostgreSQL instance is not set to on.",
            "Represents if the log_error_verbosity database flag for a Cloud SQL for PostgreSQL instance is not set to default or stricter (default or terse).",
            "Represents if the log_lock_waits database flag for a Cloud SQL for PostgreSQL instance is not set to on.",
            "Represents if the log_min_error_statement database flag for a Cloud SQL for PostgreSQL instance is not set appropriately.",
            "Represents if the log_min_error_statement database flag for a Cloud SQL for PostgreSQL instance does not have an appropriate severity level.",
            "Represents if the log_min_messages database flag for a Cloud SQL for PostgreSQL instance is not set to warning or another recommended value.",
            "Represents if the databaseFlags property of instance metadata for the log_executor_status field is set to on.",
            "Represents if the log_hostname database flag for a Cloud SQL for PostgreSQL instance is not set to off.",
            "Represents if the log_parser_stats database flag for a Cloud SQL for PostgreSQL instance is not set to off.",
            "Represents if the log_planner_stats database flag for a Cloud SQL for PostgreSQL instance is not set to off.",
            "Represents if the log_statement database flag for a Cloud SQL for PostgreSQL instance is not set to DDL (all data definition statements).",
            "Represents if the log_statement_stats database flag for a Cloud SQL for PostgreSQL instance is not set to off.",
            "Represents if the log_temp_files database flag for a Cloud SQL for PostgreSQL instance is not set to \"0\". (NOTE: 0 = ON)",
            "Represents if the user connections database flag for a Cloud SQL for SQL Server instance is configured.",
            "Represents if the user options database flag for Cloud SQL SQL Server instance is configured or not.",
            "Represents if a resource is exposed to public access.",
            "Represents if a resources requires all incoming connections to use SSL or not.",
            "Represents if a Cloud SQL database has a password configured for the root account or not.",
            "Represents if a Cloud SQL database has a weak password configured for the root account.",
            "Represents if a SQL database instance is not encrypted with customer-managed encryption keys (CMEK).",
            "Represents if The contained database authentication database flag for a Cloud SQL for SQL Server instance is not set to off.",
            "Represents if the cross_db_ownership_chaining database flag for a Cloud SQL for SQL Server instance is not set to off.",
            "Represents if he external scripts enabled database flag for a Cloud SQL for SQL Server instance is not set to off.",
            "Represents if the local_infile database flag for a Cloud SQL for MySQL instance is not set to off.",
            "Represents if the log_connections database flag for a Cloud SQL for PostgreSQL instance is not set to on.",
            "Represents if the log_disconnections database flag for a Cloud SQL for PostgreSQL instance is not set to on.",
            "Represents if the log_min_duration_statement database flag for a Cloud SQL for PostgreSQL instance is not set to -1.",
            "Represents if the remote access database flag for a Cloud SQL for SQL Server instance is not set to off.",
            "Represents if the skip_show_database database flag for a Cloud SQL for MySQL instance is not set to on.",
            "Represents if the 3625 (trace flag) database flag for a Cloud SQL for SQL Server instance is not set to on.",
            "Represents if public IP is enabled.",
            "Represents Idle instance helps to reduce costs.",
            "Represents instances that are unnecessarily large for given workload.",
            "Represents high number of concurrently opened tables.",
            "Represents high table count close to SLA limit.",
            "Represents high number of unvacuumed transactions",
            "Represents need for more CPU and/or memory",
            "Represents out of disk.",
            "Represents server certificate is near expiry.",
            "Represents database auditing is disabled.",
            "Represents not restricted to authorized networks.",
            "Represents violate org policy restrict public ip.",
            "Cluster nearing quota limit",
            "No password policy set on resources",
            "Performance impact of connections settings",
            "Performance impact of temporary tables settings",
            "Performance impact of transaction logs settings",
            "Performance impact of high joins without indexes",
            "Detects events where a Cloud SQL superuser (postgres for PostgreSQL servers or root for MySQL users) writes to non-system tables.",
            "Detects events where a database user or role has been granted all privileges to a database, or to all tables, procedures, or functions in a schema.",
            "Detects if database instance data exported to a Cloud Storage bucket outside of the organization.",
            "Detects if database instance data exported to a Cloud Storage bucket that is owned by the organization and is publicly accessible.",
            "Detects if a database instance is using a weak password hash algorithm.",
            "Detects if a database instance has no user password policy set.",
            "Detects if a database instance/cluster has a hot node.",
            "Detects if a database instance has no point in time recovery enabled.",
            "Detects if a database instance/cluster is suspended.",
            "Detects that expensive commands are being run on a database instance impacting overall performance.",
            "Indicates that the instance does not have a maintenance policy configured.",
            "Deletion Protection Disabled for the resource",
            "Indicates that the instance has inefficient queries detected.",
            "Indicates that the instance has read intensive workload.",
            "Indicates that the instance is nearing memory limit.",
            "Indicates that the instance's max server memory is configured higher than the recommended value.",
            "Indicates that the database has large rows beyond the recommended limit.",
            "Heavy write pressure on the database rows.",
            "Heavy read pressure on the database rows.",
            "Encryption org policy not satisfied.",
            "Location org policy not satisfied.",
            "Outdated DB minor version.",
            "Schema not optimized.",
            "High number of idle connections.",
            "Replication delay.",
            "Outdated version.",
            "Outdated client.",
            "Databoost is disabled.",
            "Recommended maintenance policy.",
            "Resource version is in extended support.",
[...]
