{
  "discoveryVersion": "v1",
  "revision": "20260828",
  "schemas": {
    "ExportInstanceRequest": {
      "id": "ExportInstanceRequest",
      "type": "object",
      "properties": {
        "outputConfig": {
          "description": "Required. Specify data to be exported.",
          "$ref": "OutputConfig"
        }
      },
      "description": "Request for Export."
    },
    "ResourceMaintenanceDenySchedule": {
      "description": "Deny maintenance period for the database resource. It specifies the time range during which the maintenance cannot start. This is configured by the customer.",
      "id": "ResourceMaintenanceDenySchedule",
      "type": "object",
      "properties": {
        "startDate": {
          "description": "Optional. The start date of the deny maintenance period.",
          "$ref": "Date"
        },
        "endDate": {
          "description": "Optional. Deny period end date.",
          "$ref": "Date"
        },
        "time": {
          "description": "Optional. Time in UTC when the deny period starts on start_date and ends on end_date.",
          "$ref": "TimeOfDay"
        }
      }
    },
    "OutputConfig": {
      "description": "The output content",
      "id": "OutputConfig",
      "type": "object",
      "properties": {
        "gcsDestination": {
          "description": "Google Cloud Storage destination for output content.",
          "$ref": "GcsDestination"
        }
      }
    },
    "Entitlement": {
      "description": "Proto representing the access that a user has to a specific feature/service. NextId: 3.",
      "id": "Entitlement",
      "type": "object",
      "properties": {
        "type": {
          "type": "string",
          "enumDeprecated": [
            false,
            true,
            false,
            false
          ],
          "description": "An enum that represents the type of this entitlement.",
          "enumDescriptions": [
            "The entitlement type is unspecified.",
            "The root entitlement representing Gemini package ownership.This will no longer be supported in the future.",
            "The entitlement representing Native Tier, This will be the default Entitlement going forward with GCA Enablement.",
            "The entitlement representing GCA-Standard Tier."
          ],
          "enum": [
            "ENTITLEMENT_TYPE_UNSPECIFIED",
            "GEMINI",
            "NATIVE",
            "GCA_STANDARD"
          ]
        },
        "entitlementState": {
          "type": "string",
          "description": "The current state of user's accessibility to a feature/benefit.",
          "enumDescriptions": [
            "",
            "User is entitled to a feature/benefit, but whether it has been successfully provisioned is decided by provisioning state.",
            "User is entitled to a feature/benefit, but it was requested to be revoked. Whether the revoke has been successful is decided by provisioning state."
          ],
          "enum": [
            "ENTITLEMENT_STATE_UNSPECIFIED",
            "ENTITLED",
            "REVOKED"
          ]
        }
      }
    },
    "Membership": {
      "id": "Membership",
      "type": "object",
      "properties": {
        "primaryCluster": {
          "$ref": "RemoteCluster",
          "readOnly": true,
          "description": "Output only. The primary cluster that acts as the source of replication for the secondary clusters."
        },
        "secondaryClusters": {
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "RemoteCluster"
          },
          "description": "Output only. The list of secondary clusters replicating from the primary cluster."
        }
      },
      "description": "An output only view of all the member clusters participating in the cross cluster replication."
    },
    "ManagedBackupSource": {
      "id": "ManagedBackupSource",
      "type": "object",
      "properties": {
        "backup": {
          "description": "Optional. Example: //redis.googleapis.com/projects/{project}/locations/{location}/backupCollections/{collection}/backups/{backup} A shorter version (without the prefix) of the backup name is also supported, like projects/{project}/locations/{location}/backupCollections/{collection}/backups/{backup_id} In this case, it assumes the backup is under redis.googleapis.com.",
          "type": "string"
        }
      },
      "description": "Backups that generated and managed by memorystore."
    },
    "DatabaseResourceFeed": {
      "description": "DatabaseResourceFeed is the top level proto to be used to ingest different database resource level events into Condor platform. Next ID: 13",
      "id": "DatabaseResourceFeed",
      "type": "object",
      "properties": {
        "observabilityMetricData": {
          "description": "Observability metric data.",
          "$ref": "ObservabilityMetricData"
        },
        "configBasedSignalData": {
          "description": "Config based signal data is used to ingest signals that are generated based on the configuration of the database resource.",
          "$ref": "ConfigBasedSignalData"
        },
        "skipIngestion": {
          "type": "boolean",
          "description": "Optional. If true, the feed won't be ingested by DB Center. This indicates that the feed is intentionally skipped. For example, BackupDR feeds are only needed for resources integrated with DB Center (e.g., CloudSQL, AlloyDB). Feeds for non-integrated resources (e.g., Compute Engine, Persistent Disk) can be skipped."
        },
        "resourceHealthSignalData": {
          "description": "Database resource health signal data.",
          "$ref": "DatabaseResourceHealthSignalData"
        },
        "resourceId": {
          "description": "Primary key associated with the Resource. resource_id is available in individual feed level as well.",
          "deprecated": true,
          "$ref": "DatabaseResourceId"
        },
        "recommendationSignalData": {
          "description": "Database resource recommendation signal data.",
          "$ref": "DatabaseResourceRecommendationSignalData"
        },
        "resourceMetadata": {
          "description": "Database resource metadata.",
          "$ref": "DatabaseResourceMetadata"
        },
        "feedTimestamp": {
          "type": "string",
          "format": "google-datetime",
          "description": "Required. Timestamp when feed is generated."
        },
        "feedType": {
          "enumDescriptions": [
            "Unspecified feed type. Not expected to be used.",
            "Database resource metadata feed from control plane",
            "Database resource monitoring data",
            "Database resource security health signal data",
            "Database resource recommendation signal data",
            "Database config based signal data",
            "Database resource metadata from BackupDR",
            "Database resource signal data"
          ],
          "enum": [
            "FEEDTYPE_UNSPECIFIED",
            "RESOURCE_METADATA",
            "OBSERVABILITY_DATA",
            "SECURITY_FINDING_DATA",
            "RECOMMENDATION_SIGNAL_DATA",
            "CONFIG_BASED_SIGNAL_DATA",
            "BACKUPDR_METADATA",
            "DATABASE_RESOURCE_SIGNAL_DATA"
          ],
          "description": "Required. Type feed to be ingested into condor",
          "type": "string"
        },
        "databaseResourceSignalData": {
          "description": "Database resource signal data is used to ingest signals from database resource signal feeds.",
          "$ref": "DatabaseResourceSignalData"
        },
        "backupdrMetadata": {
          "description": "BackupDR metadata is used to ingest metadata from BackupDR.",
          "$ref": "BackupDRMetadata"
        }
      }
    },
    "ConnectionDetail": {
      "description": "Detailed information of each PSC connection.",
      "id": "ConnectionDetail",
      "type": "object",
      "properties": {
        "pscAutoConnection": {
          "description": "Detailed information of a PSC connection that is created through service connectivity automation.",
          "$ref": "PscAutoConnection"
        },
        "pscConnection": {
          "description": "Detailed information of a PSC connection that is created by the customer who owns the cluster.",
          "$ref": "PscConnection"
        }
      }
    },
    "AddAuthTokenRequest": {
      "description": "Request message for AddAuthToken.",
      "id": "AddAuthTokenRequest",
      "type": "object",
      "properties": {
        "authToken": {
          "description": "Required. The auth token to add.",
          "$ref": "AuthToken"
        }
      }
    },
    "AclRule": {
      "description": "A single ACL rule which defines the policy for a user.",
      "id": "AclRule",
      "type": "object",
      "properties": {
        "username": {
          "description": "Required. Specifies the IAM user or service account to be added to the ACL policy. This username will be directly set on the Redis OSS.",
          "type": "string"
        },
        "rule": {
          "type": "string",
          "description": "Required. The rule to be applied to the username. Ex: \"on >password123 ~* +@all\" The format of the rule is defined by Redis OSS: https://redis.io/docs/latest/operate/oss_and_stack/management/security/acl/"
        }
      }
    },
    "UserLabels": {
      "id": "UserLabels",
      "type": "object",
      "properties": {
        "labels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        }
      },
      "description": "Message type for storing user labels. User labels are used to tag App Engine resources, allowing users to search for resources matching a set of labels and to aggregate usage data by labels."
    },
    "OperationMetadata": {
      "id": "OperationMetadata",
      "type": "object",
      "properties": {
        "createTime": {
          "description": "Output only. The time the operation was created.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "target": {
          "type": "string",
          "description": "Output only. Server-defined resource path for the target of the operation.",
          "readOnly": true
        },
        "apiVersion": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. API version used to start the operation."
        },
        "endTime": {
          "readOnly": true,
          "description": "Output only. The time the operation finished running.",
          "type": "string",
          "format": "google-datetime"
        },
        "verb": {
          "type": "string",
          "description": "Output only. Name of the verb executed by the operation.",
          "readOnly": true
        },
        "statusMessage": {
          "readOnly": true,
          "description": "Output only. Human-readable status of the operation, if any.",
          "type": "string"
        },
        "requestedCancellation": {
          "description": "Output only. Identifies whether the user has requested cancellation of the operation. Operations that have successfully been cancelled have Operation.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`.",
          "type": "boolean",
          "readOnly": true
        }
      },
      "description": "Pre-defined metadata fields."
    },
    "ExportBackupRequest": {
      "id": "ExportBackupRequest",
      "type": "object",
      "properties": {
        "gcsBucket": {
          "description": "Google Cloud Storage bucket, like \"my-bucket\".",
          "type": "string"
        }
      },
      "description": "Request for `ExportBackup`."
    },
    "BackupCollection": {
      "description": "BackupCollection of a cluster.",
      "id": "BackupCollection",
      "type": "object",
      "properties": {
        "totalBackupCount": {
          "description": "Output only. Total number of backups in the backup collection.",
          "type": "string",
          "format": "int64",
          "readOnly": true
        },
        "kmsKey": {
          "readOnly": true,
          "description": "Output only. The KMS key used to encrypt the backups under this backup collection.",
          "type": "string"
        },
        "uid": {
          "description": "Output only. System assigned unique identifier of the backup collection.",
          "type": "string",
          "readOnly": true
        },
        "totalBackupSizeBytes": {
          "description": "Output only. Total size of all backups in the backup collection.",
          "type": "string",
          "format": "int64",
          "readOnly": true
        },
        "clusterUid": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The cluster uid of the backup collection."
        },
        "cluster": {
          "description": "Output only. The full resource path of the cluster the backup collection belongs to. Example: projects/{project}/locations/{location}/clusters/{cluster}",
          "type": "string",
          "readOnly": true
        },
        "createTime": {
          "description": "Output only. The time when the backup collection was created.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "name": {
          "type": "string",
          "description": "Identifier. Full resource path of the backup collection."
        },
        "lastBackupTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The last time a backup was created in the backup collection.",
          "readOnly": true
        }
      }
    },
    "ClusterAclPolicyAttachment": {
      "description": "ClusterAclPolicyAttachment stores the ACL policy status for an attached cluster for the revisions successfully applied, under application or failed.",
      "id": "ClusterAclPolicyAttachment",
      "type": "object",
      "properties": {
        "cluster": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The resource name of the attached Cluster. Format: \"projects/{project}/locations/{location}/clusters/{cluster}\""
        },
        "aclPolicyRevisionStatuses": {
          "type": "array",
          "items": {
            "$ref": "AclPolicyRevisionStatus"
          },
          "description": "Output only. A list of status for various revisions of this ACL policy on the cluster.",
          "readOnly": true
        }
      }
    },
    "Backup": {
      "id": "Backup",
      "type": "object",
      "properties": {
        "engineVersion": {
          "readOnly": true,
          "description": "Output only. redis-7.2, valkey-7.5",
          "type": "string"
        },
        "replicaCount": {
          "type": "integer",
          "format": "int32",
          "description": "Output only. Number of replicas for the cluster.",
          "readOnly": true
        },
        "state": {
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "The default value, not set.",
            "The backup is being created.",
            "The backup is active to be used.",
            "The backup is being deleted.",
            "The backup is currently suspended due to reasons like project deletion, billing account closure, etc."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "ACTIVE",
            "DELETING",
            "SUSPENDED"
          ],
          "description": "Output only. State of the backup."
        },
        "clusterUid": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Cluster uid of this backup."
        },
        "expireTime": {
          "description": "Output only. The time when the backup will expire.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "shardCount": {
          "readOnly": true,
          "description": "Output only. Number of shards for the cluster.",
          "type": "integer",
          "format": "int32"
        },
        "nodeType": {
          "description": "Output only. Node type of the cluster.",
          "enumDescriptions": [
            "Node type unspecified",
            "Redis shared core nano node_type.",
            "Redis highmem medium node_type.",
            "Redis highmem xlarge node_type.",
            "Redis standard small node_type.",
            "Redis highcpu medium node_type.",
            "Redis standard large node_type.",
            "Redis highmem 2xlarge node_type."
          ],
          "enum": [
            "NODE_TYPE_UNSPECIFIED",
            "REDIS_SHARED_CORE_NANO",
            "REDIS_HIGHMEM_MEDIUM",
            "REDIS_HIGHMEM_XLARGE",
            "REDIS_STANDARD_SMALL",
            "REDIS_HIGHCPU_MEDIUM",
            "REDIS_STANDARD_LARGE",
            "REDIS_HIGHMEM_2XLARGE"
          ],
          "type": "string",
          "readOnly": true
        },
        "name": {
          "description": "Identifier. Full resource path of the backup. the last part of the name is the backup id with the following format: [YYYYMMDDHHMMSS]_[Shorted Cluster UID] OR customer specified while backup cluster. Example: 20240515123000_1234",
          "type": "string"
        },
        "totalSizeBytes": {
          "type": "string",
          "format": "int64",
          "description": "Output only. Total size of the backup in bytes.",
          "readOnly": true
        },
        "backupType": {
          "enumDescriptions": [
            "The default value, not set.",
            "On-demand backup.",
            "Automated backup."
          ],
          "enum": [
            "BACKUP_TYPE_UNSPECIFIED",
            "ON_DEMAND",
            "AUTOMATED"
          ],
          "description": "Output only. Type of the backup.",
          "readOnly": true,
          "type": "string"
        },
        "encryptionInfo": {
          "description": "Output only. Encryption information of the backup.",
          "readOnly": true,
          "$ref": "EncryptionInfo"
        },
        "cluster": {
          "readOnly": true,
          "description": "Output only. Cluster resource path of this backup.",
          "type": "string"
        },
        "uid": {
          "readOnly": true,
          "description": "Output only. System assigned unique identifier of the backup.",
          "type": "string"
        },
        "createTime": {
          "readOnly": true,
          "description": "Output only. The time when the backup was created.",
          "type": "string",
          "format": "google-datetime"
        },
        "backupFiles": {
          "description": "Output only. List of backup files of the backup.",
          "type": "array",
          "items": {
            "$ref": "BackupFile"
          },
          "readOnly": true
        }
      },
      "description": "Backup of a cluster."
    },
    "GoogleCloudRedisV1ZoneMetadata": {
      "description": "Defines specific information for a particular zone. Currently empty and reserved for future use only.",
      "id": "GoogleCloudRedisV1ZoneMetadata",
      "type": "object",
      "properties": {}
    },
    "RegionalManagedCertificateAuthority": {
      "id": "RegionalManagedCertificateAuthority",
      "type": "object",
      "properties": {
        "caCerts": {
          "description": "The PEM encoded CA certificate chains for redis managed server authentication",
          "type": "array",
          "items": {
            "$ref": "RegionalCertChain"
          }
        }
      },
      "description": "CA certificate chains for redis managed server authentication."
    },
    "AclPolicy": {
      "id": "AclPolicy",
      "type": "object",
      "properties": {
        "name": {
          "description": "Identifier. Full resource path of the ACL policy.",
          "type": "string"
        },
        "version": {
          "description": "Output only. Deprecated: Used in drift resolution.",
          "deprecated": true,
          "readOnly": true,
          "type": "string",
          "format": "int64"
        },
        "clusterAclPolicyAttachments": {
          "type": "array",
          "items": {
            "$ref": "ClusterAclPolicyAttachment"
          },
          "description": "Output only. The ACL policy attachment status for each attached cluster.",
          "readOnly": true
        },
        "state": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The state of the ACL policy.",
          "enumDescriptions": [
            "Not set.",
            "ACL policy has been created and is fully usable. Since ACL policy creation is synchronous and not an LRO, there is no CREATING state.",
            "ACL policy is being updated.",
            "ACL policy is being deleted."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "UPDATING",
            "DELETING"
          ]
        },
        "etag": {
          "readOnly": true,
          "description": "Output only. Etag for the ACL policy.",
          "type": "string"
        },
        "createTime": {
          "description": "Output only. The timestamp that the ACL policy was created.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "updateTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The timestamp that the ACL policy was last updated."
        },
        "rules": {
          "type": "array",
          "items": {
            "$ref": "AclRule"
          },
          "description": "Required. The ACL rules within the ACL policy."
        }
      },
      "description": "The ACL policy resource."
    },
    "AutomatedBackupConfig": {
      "id": "AutomatedBackupConfig",
      "type": "object",
      "properties": {
        "fixedFrequencySchedule": {
          "description": "Optional. Trigger automated backups at a fixed frequency.",
          "$ref": "FixedFrequencySchedule"
        },
        "automatedBackupMode": {
          "type": "string",
          "description": "Optional. The automated backup mode. If the mode is disabled, the other fields will be ignored.",
          "enumDescriptions": [
            "Default value. Automated backup config is not specified.",
            "Automated backup config disabled.",
            "Automated backup config enabled."
          ],
          "enum": [
            "AUTOMATED_BACKUP_MODE_UNSPECIFIED",
            "DISABLED",
            "ENABLED"
          ]
        },
        "retention": {
          "type": "string",
          "format": "google-duration",
          "description": "Optional. How long to keep automated backups before the backups are deleted. The value should be between 1 day and 365 days. If not specified, the default value is 35 days."
        }
      },
      "description": "The automated backup config for a cluster."
    },
    "IpAddress": {
      "id": "IpAddress",
      "type": "object",
      "properties": {
        "publicIp": {
          "type": "string",
          "description": "The public IP address assigned to the resource. This IP is reachable from the internet. Stored in standard string format (e.g., \"34.72.1.1\")."
        },
        "privateIp": {
          "type": "string",
          "description": "The private IP address assigned to the resource within a Virtual Private Cloud (VPC). This IP is only reachable from within the same VPC network. Stored in standard string format (e.g., \"10.0.0.2\")."
        }
      },
      "description": "Used to send IP address information for a database resource."
    },
    "ListLocationsResponse": {
      "id": "ListLocationsResponse",
      "type": "object",
      "properties": {
        "locations": {
          "description": "A list of locations that matches the specified filter in the request.",
          "type": "array",
          "items": {
            "$ref": "Location"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "The standard List next-page token."
        }
      },
      "description": "The response message for Locations.ListLocations."
    },
    "RegionalCertChain": {
      "description": "The certificates that form the CA chain, from leaf to root order.",
      "id": "RegionalCertChain",
      "type": "object",
      "properties": {
        "certificates": {
          "description": "The certificates that form the CA chain, from leaf to root order.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "PersistenceConfig": {
      "id": "PersistenceConfig",
      "type": "object",
      "properties": {
        "rdbSnapshotPeriod": {
          "enumDescriptions": [
            "Not set.",
            "Snapshot every 1 hour.",
            "Snapshot every 6 hours.",
            "Snapshot every 12 hours.",
            "Snapshot every 24 hours."
          ],
          "enum": [
            "SNAPSHOT_PERIOD_UNSPECIFIED",
            "ONE_HOUR",
            "SIX_HOURS",
            "TWELVE_HOURS",
            "TWENTY_FOUR_HOURS"
          ],
          "description": "Optional. Period between RDB snapshots. Snapshots will be attempted every period starting from the provided snapshot start time. For example, a start time of 01/01/2033 06:45 and SIX_HOURS snapshot period will do nothing until 01/01/2033, and then trigger snapshots every day at 06:45, 12:45, 18:45, and 00:45 the next day, and so on. If not provided, TWENTY_FOUR_HOURS will be used as default.",
          "type": "string"
        },
        "rdbNextSnapshotTime": {
          "readOnly": true,
          "description": "Output only. The next time that a snapshot attempt is scheduled to occur.",
          "type": "string",
          "format": "google-datetime"
        },
        "persistenceMode": {
          "description": "Optional. Controls whether Persistence features are enabled. If not provided, the existing value will be used.",
          "type": "string",
          "enumDescriptions": [
            "Not set.",
            "Persistence is disabled for the instance, and any existing snapshots are deleted.",
            "RDB based Persistence is enabled."
          ],
          "enum": [
            "PERSISTENCE_MODE_UNSPECIFIED",
            "DISABLED",
            "RDB"
          ]
        },
        "rdbSnapshotStartTime": {
          "description": "Optional. Date and time that the first snapshot was/will be attempted, and to which future snapshots will be aligned. If not provided, the current time will be used.",
          "type": "string",
          "format": "google-datetime"
        }
      },
      "description": "Configuration of the persistence functionality."
    },
    "ReconciliationOperationMetadata": {
      "id": "ReconciliationOperationMetadata",
      "type": "object",
      "properties": {
        "deleteResource": {
          "type": "boolean",
          "description": "DEPRECATED. Use exclusive_action instead.",
          "deprecated": true
        },
        "exclusiveAction": {
          "enumDescriptions": [
            "Unknown repair action.",
            "The resource has to be deleted. When using this bit, the CLH should fail the operation. DEPRECATED. Instead use DELETE_RESOURCE OperationSignal in SideChannel.",
            "This resource could not be repaired but the repair should be tried again at a later time. This can happen if there is a dependency that needs to be resolved first- e.g. if a parent resource must be repaired before a child resource."
          ],
          "enum": [
            "UNKNOWN_REPAIR_ACTION",
            "DELETE",
            "RETRY"
          ],
          "description": "Excluisive action returned by the CLH.",
          "enumDeprecated": [
            false,
            true,
            false
          ],
          "type": "string"
        }
      },
      "description": "Operation metadata returned by the CLH during resource state reconciliation."
    },
    "UpcomingMaintenance": {
      "id": "UpcomingMaintenance",
      "type": "object",
      "properties": {
        "startTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Optional. The start time of the upcoming maintenance."
        },
        "endTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Optional. The end time of the upcoming maintenance."
        }
      },
      "description": "Upcoming maintenance for the database resource. This is generated by SLM once the upcoming maintenance schedule is published."
    },
    "ClusterMaintenanceSchedule": {
      "id": "ClusterMaintenanceSchedule",
      "type": "object",
      "properties": {
        "startTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The start time of any upcoming scheduled maintenance for this instance.",
          "readOnly": true
        },
        "endTime": {
          "readOnly": true,
          "description": "Output only. The end time of any upcoming scheduled maintenance for this instance.",
          "type": "string",
          "format": "google-datetime"
        }
      },
      "description": "Upcoming maintenance schedule."
    },
    "ListBackupsResponse": {
      "id": "ListBackupsResponse",
      "type": "object",
      "properties": {
        "backups": {
          "type": "array",
          "items": {
            "$ref": "Backup"
          },
          "description": "A list of backups in the project."
        },
        "nextPageToken": {
          "description": "Token to retrieve the next page of results, or empty if there are no more results in the list.",
          "type": "string"
        },
        "unreachable": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Backups that could not be reached."
        }
      },
      "description": "Response for `ListBackups`."
    },
    "SignalMetadata": {
      "id": "SignalMetadata",
      "type": "object",
      "properties": {
        "signalBoolValue": {
          "type": "boolean",
          "description": "Signal data for boolean signals."
        },
        "backupRun": {
          "description": "Signal data for backup runs.",
          "$ref": "BackupRun"
        }
      },
      "description": "SignalMetadata contains one of the signal metadata proto messages associated with a SignalType. This proto will be mapped to SignalMetadata message in storage.proto. Next ID: 3"
    },
    "TokenAuthUser": {
      "description": "Represents a token based auth user for the cluster.",
      "id": "TokenAuthUser",
      "type": "object",
      "properties": {
        "state": {
          "enumDescriptions": [
            "Not set.",
            "The auth user is active.",
            "The auth user is being created.",
            "The auth user is being updated.",
            "The auth user is being deleted."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "CREATING",
            "UPDATING",
            "DELETING"
          ],
          "description": "Output only. The state of the token based auth user.",
          "readOnly": true,
          "type": "string"
        },
        "name": {
          "description": "Identifier. The resource name of the token based auth user. Format: projects/{project}/locations/{location}/clusters/{cluster}/tokenAuthUsers/{token_auth_user}",
          "type": "string"
        }
      }
    },
    "AvailabilityConfiguration": {
      "description": "Configuration for availability of database instance",
      "id": "AvailabilityConfiguration",
      "type": "object",
      "properties": {
        "promotableReplicaConfigured": {
          "type": "boolean"
        },
        "externalReplicaConfigured": {
          "type": "boolean"
        },
        "availabilityType": {
          "enumDescriptions": [
            "Unspecified availability type.",
            "Zonal available instance.",
            "Regional available instance.",
            "Multi regional instance",
            "For rest of the other category"
          ],
          "enum": [
            "AVAILABILITY_TYPE_UNSPECIFIED",
            "ZONAL",
            "REGIONAL",
            "MULTI_REGIONAL",
            "AVAILABILITY_TYPE_OTHER"
          ],
          "description": "Availability type. Potential values: * `ZONAL`: The instance serves data from only one zone. Outages in that zone affect data accessibility. * `REGIONAL`: The instance can serve data from more than one zone in a region (it is highly available).",
          "type": "string"
        },
        "crossRegionReplicaConfigured": {
          "description": "Checks for resources that are configured to have redundancy, and ongoing replication across regions",
          "type": "boolean"
        },
        "automaticFailoverRoutingConfigured": {
          "type": "boolean",
          "description": "Checks for existence of (multi-cluster) routing configuration that allows automatic failover to a different zone/region in case of an outage. Applicable to Bigtable resources."
        }
      }
    },
    "RetentionSettings": {
      "id": "RetentionSettings",
      "type": "object",
      "properties": {
        "quantityBasedRetention": {
          "description": "Quantity based retention period i.e. 7 backups",
          "type": "integer",
          "format": "int32"
        },
        "timeBasedRetention": {
          "deprecated": true,
          "type": "string",
          "format": "google-duration",
          "description": "Duration based retention period i.e. 172800 seconds (2 days)"
        },
        "timestampBasedRetentionTime": {
          "description": "Timestamp based retention period i.e. 2024-05-01T00:00:00Z",
          "type": "string",
          "format": "google-datetime"
        },
        "retentionUnit": {
          "enumDescriptions": [
            "Backup retention unit is unspecified, will be treated as COUNT.",
            "Retention will be by count, eg. \"retain the most recent 7 backups\".",
            "Retention will be by Time, eg. \"retain backups till a specific time\" i.e. till 2024-05-01T00:00:00Z.",
            "Retention will be by duration, eg. \"retain the backups for 172800 seconds (2 days)\".",
            "For rest of the other category"
          ],
          "enum": [
            "RETENTION_UNIT_UNSPECIFIED",
            "COUNT",
            "TIME",
            "DURATION",
            "RETENTION_UNIT_OTHER"
          ],
          "description": "The unit that 'retained_backups' represents.",
          "deprecated": true,
          "type": "string"
        },
        "durationBasedRetention": {
          "type": "string",
          "format": "google-duration",
          "description": "Duration based retention period i.e. 172800 seconds (2 days)"
        }
      }
    },
    "ClusterWeeklyMaintenanceWindow": {
      "id": "ClusterWeeklyMaintenanceWindow",
      "type": "object",
      "properties": {
        "day": {
          "description": "Optional. Allows to define schedule that runs specified day of the week.",
          "type": "string",
          "enumDescriptions": [
            "The day of the week is unspecified.",
            "Monday",
            "Tuesday",
            "Wednesday",
            "Thursday",
            "Friday",
            "Saturday",
            "Sunday"
          ],
          "enum": [
            "DAY_OF_WEEK_UNSPECIFIED",
            "MONDAY",
            "TUESDAY",
            "WEDNESDAY",
            "THURSDAY",
            "FRIDAY",
            "SATURDAY",
            "SUNDAY"
          ]
        },
        "startTime": {
          "description": "Optional. Start time of the window in UTC.",
          "$ref": "TimeOfDay"
        }
      },
      "description": "Time window specified for weekly operations."
    },
    "GCBDRConfiguration": {
      "description": "GCBDR Configuration for the resource.",
      "id": "GCBDRConfiguration",
      "type": "object",
      "properties": {
        "gcbdrManaged": {
          "type": "boolean",
          "description": "Whether the resource is managed by GCBDR."
        }
      }
    },
    "UpdateInfo": {
      "description": "Represents information about an updating cluster.",
      "id": "UpdateInfo",
      "type": "object",
      "properties": {
        "targetShardCount": {
          "description": "Target number of shards for redis cluster",
          "type": "integer",
          "format": "int32"
        },
        "targetNodeType": {
          "description": "Target node type for redis cluster.",
          "type": "string",
          "enumDescriptions": [
            "Node type unspecified",
            "Redis shared core nano node_type.",
            "Redis highmem medium node_type.",
            "Redis highmem xlarge node_type.",
            "Redis standard small node_type.",
            "Redis highcpu medium node_type.",
            "Redis standard large node_type.",
            "Redis highmem 2xlarge node_type."
          ],
          "enum": [
            "NODE_TYPE_UNSPECIFIED",
            "REDIS_SHARED_CORE_NANO",
            "REDIS_HIGHMEM_MEDIUM",
            "REDIS_HIGHMEM_XLARGE",
            "REDIS_STANDARD_SMALL",
            "REDIS_HIGHCPU_MEDIUM",
            "REDIS_STANDARD_LARGE",
            "REDIS_HIGHMEM_2XLARGE"
          ]
        },
        "targetReplicaCount": {
          "type": "integer",
          "format": "int32",
          "description": "Target number of replica nodes per shard."
        }
      }
    },
    "GcsSource": {
      "id": "GcsSource",
      "type": "object",
      "properties": {
        "uri": {
          "description": "Required. Source data URI. (e.g. 'gs://my_bucket/my_object').",
          "type": "string"
        }
      },
      "description": "The Cloud Storage location for the input content"
    },
    "AclPolicyRevision": {
      "description": "The ACL policy revision resource.",
      "id": "AclPolicyRevision",
      "type": "object",
      "properties": {
        "name": {
          "description": "Identifier. The name of the ACL policy revision. Format: \"projects/{project}/locations/{location}/aclPolicies/{acl_policy}/revisions/{revision}\"",
          "type": "string"
        },
        "revisionNumber": {
          "readOnly": true,
          "description": "Output only. The revision number of the ACL policy revision.",
          "type": "string",
          "format": "int64"
        },
        "attachedClusters": {
          "description": "Output only. A list of clusters that are attached to this ACL policy revision.",
          "type": "array",
          "items": {
            "type": "string"
          },
          "readOnly": true
        },
        "createTime": {
          "description": "Output only. The timestamp that the revision was created.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "snapshot": {
          "description": "Output only. The snapshot of the ACL policy at the time of revision creation.",
          "readOnly": true,
          "$ref": "AclPolicy"
        }
      }
    },
    "BackupConfiguration": {
      "id": "BackupConfiguration",
      "type": "object",
      "properties": {
        "pointInTimeRecoveryEnabled": {
          "description": "Whether point-in-time recovery is enabled. This is optional field, if the database service does not have this feature or metadata is not available in control plane, this can be omitted.",
          "type": "boolean"
        },
        "automatedBackupEnabled": {
          "type": "boolean",
          "description": "Whether customer visible automated backups are enabled on the instance."
        },
        "backupRetentionSettings": {
          "description": "Backup retention settings.",
          "$ref": "RetentionSettings"
        }
      },
      "description": "Configuration for automatic backups"
    },
    "ResourceFlags": {
      "id": "ResourceFlags",
      "type": "object",
      "properties": {
        "key": {
          "description": "Optional. Key of the resource flag.",
          "type": "string"
        },
        "value": {
          "description": "Optional. Value of the resource flag.",
          "type": "string"
        }
      },
      "description": "Message type for storing resource flags."
    },
    "RDBConfig": {
      "id": "RDBConfig",
      "type": "object",
      "properties": {
        "rdbSnapshotPeriod": {
          "enumDescriptions": [
            "Not set.",
            "One hour.",
            "Six hours.",
            "Twelve hours.",
            "Twenty four hours."
          ],
          "enum": [
            "SNAPSHOT_PERIOD_UNSPECIFIED",
            "ONE_HOUR",
            "SIX_HOURS",
            "TWELVE_HOURS",
            "TWENTY_FOUR_HOURS"
          ],
          "type": "string",
          "description": "Optional. Period between RDB snapshots."
        },
        "rdbSnapshotStartTime": {
          "description": "Optional. The time that the first snapshot was/will be attempted, and to which future snapshots will be aligned. If not provided, the current time will be used.",
          "type": "string",
          "format": "google-datetime"
        }
      },
      "description": "Configuration of the RDB based persistence."
    },
    "BackupFile": {
      "description": "Backup is consisted of multiple backup files.",
      "id": "BackupFile",
      "type": "object",
      "properties": {
        "fileName": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. e.g: .rdb"
        },
        "sizeBytes": {
          "readOnly": true,
          "description": "Output only. Size of the backup file in bytes.",
          "type": "string",
          "format": "int64"
        },
        "createTime": {
          "readOnly": true,
          "description": "Output only. The time when the backup file was created.",
          "type": "string",
          "format": "google-datetime"
        }
      }
    },
    "ListInstancesResponse": {
      "description": "Response for ListInstances.",
      "id": "ListInstancesResponse",
      "type": "object",
      "properties": {
        "instances": {
          "description": "A list of Redis instances in the project in the specified location, or across all locations. If the `location_id` in the parent field of the request is \"-\", all regions available to the project are queried, and the results aggregated. If in such an aggregated query a location is unavailable, a placeholder Redis entry is included in the response with the `name` field set to a value of the form `projects/{project_id}/locations/{location_id}/instances/`- and the `status` field set to ERROR and `status_message` field set to \"location not available for ListInstances\".",
          "type": "array",
          "items": {
            "$ref": "Instance"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "Token to retrieve the next page of results, or empty if there are no more results in the list."
        },
        "unreachable": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Locations that could not be reached."
        }
      }
    },
    "Product": {
      "description": "Product specification for Condor resources.",
      "id": "Product",
      "type": "object",
      "properties": {
        "minorVersion": {
          "type": "string",
          "description": "Minor version of the underlying database engine. Example values: For MySQL, it could be \"8.0.32\", \"5.7.32\" etc.. For Postgres, it could be \"14.3\", \"15.3\" etc.."
        },
        "version": {
          "type": "string",
          "description": "Version of the underlying database engine. Example values: For MySQL, it could be \"8.0\", \"5.7\" etc.. For Postgres, it could be \"14\", \"15\" etc.."
        },
        "type": {
          "description": "Type of specific database product. It could be CloudSQL, AlloyDB etc..",
          "enumDescriptions": [
            "UNSPECIFIED means product type is not known or available.",
            "Cloud SQL product area in GCP",
            "Cloud SQL product area in GCP",
            "AlloyDB product area in GCP",
            "AlloyDB product area in GCP",
            "Spanner product area in GCP",
            "On premises database product.",
            "On premises database product.",
            "Memorystore product area in GCP",
            "Bigtable product area in GCP",
            "Firestore product area in GCP.",
            "Compute Engine self managed databases",
            "Oracle product area in GCP",
            "BigQuery product area in GCP",
            "Other refers to rest of other product type. This is to be when product type is known, but it is not present in this enum."
          ],
          "enum": [
            "PRODUCT_TYPE_UNSPECIFIED",
            "PRODUCT_TYPE_CLOUD_SQL",
            "CLOUD_SQL",
            "PRODUCT_TYPE_ALLOYDB",
            "ALLOYDB",
            "PRODUCT_TYPE_SPANNER",
            "PRODUCT_TYPE_ON_PREM",
            "ON_PREM",
            "PRODUCT_TYPE_MEMORYSTORE",
            "PRODUCT_TYPE_BIGTABLE",
            "PRODUCT_TYPE_FIRESTORE",
            "PRODUCT_TYPE_COMPUTE_ENGINE",
            "PRODUCT_TYPE_ORACLE_ON_GCP",
            "PRODUCT_TYPE_BIGQUERY",
            "PRODUCT_TYPE_OTHER"
          ],
          "type": "string",
          "enumDeprecated": [
            false,
            false,
            true,
            false,
            true,
            false,
            false,
            true,
            false,
            false,
            false,
            false,
            false,
            false,
            false
          ]
        },
        "engine": {
          "description": "The specific engine that the underlying database is running.",
          "enumDescriptions": [
            "UNSPECIFIED means engine type is not known or available.",
            "MySQL binary running as an engine in the database instance.",
            "MySQL binary running as engine in database instance.",
            "Postgres binary running as engine in database instance.",
            "Postgres binary running as engine in database instance.",
            "SQLServer binary running as engine in database instance.",
            "SQLServer binary running as engine in database instance.",
            "Native database binary running as engine in instance.",
            "Native database binary running as engine in instance.",
            "Cloud Spanner with PostgreSQL dialect.",
            "Cloud Spanner with Google SQL dialect.",
            "Memorystore with Redis dialect.",
            "Memorystore with Redis cluster dialect.",
            "Memorystore with Valkey.",
            "Other refers to rest of other database engine. This is to be when engine is known, but it is not present in this enum.",
            "Firestore with native mode.",
            "Firestore with datastore mode.",
            "Firestore with MongoDB compatibility mode.",
            "Oracle Exadata engine.",
            "Oracle Autonomous DB Serverless engine."
          ],
          "enum": [
            "ENGINE_UNSPECIFIED",
            "ENGINE_MYSQL",
            "MYSQL",
            "ENGINE_POSTGRES",
            "POSTGRES",
            "ENGINE_SQL_SERVER",
            "SQL_SERVER",
            "ENGINE_NATIVE",
            "NATIVE",
            "ENGINE_CLOUD_SPANNER_WITH_POSTGRES_DIALECT",
            "ENGINE_CLOUD_SPANNER_WITH_GOOGLESQL_DIALECT",
            "ENGINE_MEMORYSTORE_FOR_REDIS",
            "ENGINE_MEMORYSTORE_FOR_REDIS_CLUSTER",
            "ENGINE_MEMORYSTORE_FOR_VALKEY",
            "ENGINE_OTHER",
            "ENGINE_FIRESTORE_WITH_NATIVE_MODE",
            "ENGINE_FIRESTORE_WITH_DATASTORE_MODE",
            "ENGINE_FIRESTORE_WITH_MONGODB_COMPATIBILITY_MODE",
            "ENGINE_EXADATA_ORACLE",
            "ENGINE_ADB_SERVERLESS_ORACLE"
          ],
          "type": "string",
          "enumDeprecated": [
            false,
            false,
            true,
            false,
            true,
            false,
            true,
            false,
            true,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false
          ]
        }
      }
    },
    "AclPolicyInfo": {
      "id": "AclPolicyInfo",
      "type": "object",
      "properties": {
        "appliedAclPolicyRevision": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The resource name of the applied ACL policy revision. Format: \"projects/{project}/locations/{location}/aclPolicies/{acl_policy}/revisions/{revision}\""
        },
        "appliedAclPolicy": {
          "type": "string",
          "description": "Output only. The resource name of the applied ACL policy. Format: \"projects/{project}/locations/{location}/aclPolicies/{acl_policy}\"",
          "readOnly": true
        },
        "appliedAclPolicyRevisionNumber": {
          "type": "string",
          "format": "int64",
          "description": "Output only. The revision number of the applied ACL policy revision.",
          "readOnly": true
        },
        "aclPolicyRevisionStatuses": {
          "readOnly": true,
          "description": "Output only. A list of status for various revisions of this ACL policy on the cluster.",
          "type": "array",
          "items": {
            "$ref": "AclPolicyRevisionStatus"
          }
        }
      },
      "description": "Details of the applied ACL policy."
    },
    "SharedRegionalCertificateAuthority": {
      "description": "Shared regional certificate authority",
      "id": "SharedRegionalCertificateAuthority",
      "type": "object",
      "properties": {
        "managedServerCa": {
          "description": "CA certificate chains for redis managed server authentication.",
          "$ref": "RegionalManagedCertificateAuthority"
        },
        "name": {
          "description": "Identifier. Unique name of the resource in this scope including project and location using the form: `projects/{project}/locations/{location}/sharedRegionalCertificateAuthority`",
          "type": "string"
        }
      }
    },
    "Empty": {
      "id": "Empty",
      "type": "object",
      "properties": {},
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }"
    },
    "CustomMetadataData": {
      "id": "CustomMetadataData",
      "type": "object",
      "properties": {
        "internalResourceMetadata": {
          "description": "Metadata for individual internal resources in an instance. e.g. spanner instance can have multiple databases with unique configuration.",
          "type": "array",
          "items": {
            "$ref": "InternalResourceMetadata"
          }
        }
      },
      "description": "Any custom metadata associated with the resource. e.g. A spanner instance can have multiple databases with its own unique metadata. Information for these individual databases can be captured in custom metadata data"
    },
    "DatabaseResourceId": {
      "id": "DatabaseResourceId",
      "type": "object",
      "properties": {
        "provider": {
          "enumDescriptions": [
            "Unspecified provider.",
            "Google cloud platform provider",
            "Amazon web service",
            "Azure web service",
            "On-prem database resources.",
            "Self-managed database provider. These are resources on a cloud platform, e.g., database resource installed in a GCE VM, but not a managed database service.",
            "For the rest of the other categories. Other refers to the rest of other database service providers, this could be smaller cloud provider. This needs to be provided when the provider is known, but it is not present in the existing set of enum values."
          ],
          "enum": [
            "PROVIDER_UNSPECIFIED",
            "GCP",
            "AWS",
            "AZURE",
            "ONPREM",
            "SELFMANAGED",
            "PROVIDER_OTHER"
          ],
          "description": "Required. Cloud provider name. Ex: GCP/AWS/Azure/OnPrem/SelfManaged",
          "type": "string"
        },
        "providerDescription": {
          "description": "Optional. Needs to be used only when the provider is PROVIDER_OTHER.",
          "type": "string"
        },
        "uniqueId": {
          "type": "string",
          "description": "Required. A service-local token that distinguishes this resource from other resources within the same service."
        },
        "resourceType": {
          "type": "string",
          "description": "Required. The type of resource this ID is identifying. Ex go/keep-sorted start alloydb.googleapis.com/Cluster, alloydb.googleapis.com/Instance, bigtableadmin.googleapis.com/Cluster, bigtableadmin.googleapis.com/Instance compute.googleapis.com/Instance firestore.googleapis.com/Database, memorystore.googleapis.com/Instance, redis.googleapis.com/Instance, redis.googleapis.com/Cluster, oracledatabase.googleapis.com/CloudExadataInfrastructure oracledatabase.googleapis.com/CloudVmCluster oracledatabase.googleapis.com/AutonomousDatabase spanner.googleapis.com/Instance, spanner.googleapis.com/Database, sqladmin.googleapis.com/Instance, go/keep-sorted end REQUIRED Please refer go/condor-common-datamodel"
        }
      },
      "description": "DatabaseResourceId will serve as primary key for any resource ingestion event."
    },
    "ResourceMaintenanceSchedule": {
      "description": "Maintenance window for the database resource. It specifies preferred time and day of the week and phase in some cases, when the maintenance can start. This is configured by the customer.",
      "id": "ResourceMaintenanceSchedule",
      "type": "object",
      "properties": {
        "phase": {
          "description": "Optional. Phase of the maintenance window. This is to capture order of maintenance. For example, for Cloud SQL resources, this can be used to capture if the maintenance window is in Week1, Week2, Week5, etc. Non production resources are usually part of early phase. For more details, refer to Cloud SQL resources - https://cloud.google.com/sql/docs/mysql/maintenance",
          "type": "string",
          "enumDescriptions": [
            "Phase is unspecified.",
            "Any phase.",
            "Week 1.",
            "Week 2.",
            "Week 5."
          ],
          "enum": [
            "PHASE_UNSPECIFIED",
            "ANY",
            "WEEK1",
            "WEEK2",
            "WEEK5"
          ]
        },
        "time": {
          "description": "Optional. Preferred time to start the maintenance operation on the specified day.",
          "$ref": "TimeOfDay"
        },
        "day": {
          "enumDescriptions": [
            "The day of the week is unspecified.",
            "Monday",
            "Tuesday",
            "Wednesday",
            "Thursday",
            "Friday",
            "Saturday",
            "Sunday"
          ],
          "enum": [
            "DAY_OF_WEEK_UNSPECIFIED",
            "MONDAY",
            "TUESDAY",
            "WEDNESDAY",
            "THURSDAY",
            "FRIDAY",
            "SATURDAY",
            "SUNDAY"
          ],
          "description": "Optional. Preferred day of the week for maintenance, e.g. MONDAY, TUESDAY, etc.",
          "type": "string"
        }
      }
    },
    "InstanceAuthString": {
      "description": "Instance AUTH string details.",
      "id": "InstanceAuthString",
      "type": "object",
      "properties": {
        "authString": {
          "type": "string",
          "description": "AUTH string set on the instance."
        }
      }
    },
    "AddTokenAuthUserRequest": {
      "description": "Request message for AddTokenAuthUser.",
      "id": "AddTokenAuthUserRequest",
      "type": "object",
      "properties": {
        "tokenAuthUser": {
          "type": "string",
          "description": "Required. The id of the token auth user to add."
        }
      }
    },
    "FailoverInstanceRequest": {
      "id": "FailoverInstanceRequest",
      "type": "object",
      "properties": {
        "dataProtectionMode": {
          "type": "string",
          "description": "Optional. Available data protection modes that the user can choose. If it's unspecified, data protection mode will be LIMITED_DATA_LOSS by default.",
          "enumDescriptions": [
            "Defaults to LIMITED_DATA_LOSS if a data protection mode is not specified.",
            "Instance failover will be protected with data loss control. More specifically, the failover will only be performed if the current replication offset diff between primary and replica is under a certain threshold.",
            "Instance failover will be performed without data loss control."
          ],
          "enum": [
            "DATA_PROTECTION_MODE_UNSPECIFIED",
            "LIMITED_DATA_LOSS",
            "FORCE_DATA_LOSS"
          ]
        }
      },
      "description": "Request for Failover."
    },
    "Instance": {
      "description": "A Memorystore for Redis instance.",
      "id": "Instance",
      "type": "object",
      "properties": {
        "satisfiesPzi": {
          "description": "Optional. Output only. Reserved for future use.",
          "type": "boolean",
          "readOnly": true
        },
        "redisConfigs": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. Redis configuration parameters, according to [Redis configuration](https://redis.io/docs/latest/operate/oss_and_stack/management/config/). Currently, the only supported parameters are: Redis version 3.2 and newer: * maxmemory-policy * notify-keyspace-events Redis version 4.0 and newer: * activedefrag * lfu-decay-time * lfu-log-factor * maxmemory-gb Redis version 5.0 and newer: * stream-node-max-bytes * stream-node-max-entries",
          "type": "object"
        },
        "persistenceIamIdentity": {
          "description": "Output only. Cloud IAM identity used by import / export operations to transfer data to/from Cloud Storage. Format is \"serviceAccount:\". The value may change over time for a given instance so should be checked before each import/export operation.",
          "type": "string",
          "readOnly": true
        },
        "host": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Hostname or IP address of the exposed Redis endpoint used by clients to connect to the service."
        },
        "satisfiesPzs": {
          "readOnly": true,
          "type": "boolean",
          "description": "Optional. Output only. Reserved for future use."
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Resource labels to represent user provided metadata",
          "type": "object"
        },
        "maintenanceVersion": {
          "description": "Optional. The self service update maintenance version. The version is date based such as \"20210712_00_00\".",
          "type": "string"
        },
        "secondaryIpRange": {
          "type": "string",
          "description": "Optional. Additional IP range for node placement. Required when enabling read replicas on an existing instance. For DIRECT_PEERING mode value must be a CIDR range of size /28, or \"auto\". For PRIVATE_SERVICE_ACCESS mode value must be the name of an allocated address range associated with the private service access connection, or \"auto\"."
        },
        "readEndpointPort": {
          "readOnly": true,
          "type": "integer",
          "format": "int32",
          "description": "Output only. The port number of the exposed readonly redis endpoint. Standard tier only. Write requests should target 'port'."
        },
        "statusMessage": {
          "type": "string",
          "description": "Output only. Additional information about the current status of this instance, if available.",
          "readOnly": true
        },
        "maintenancePolicy": {
          "description": "Optional. The maintenance policy for the instance. If not provided, maintenance events can be performed at any time.",
          "$ref": "MaintenancePolicy"
        },
        "readEndpoint": {
          "type": "string",
          "description": "Output only. Hostname or IP address of the exposed readonly Redis endpoint. Standard tier only. Targets all healthy replica nodes in instance. Replication is asynchronous and replica nodes will exhibit some lag behind the primary. Write requests must target 'host'.",
          "readOnly": true
        },
        "currentLocationId": {
          "readOnly": true,
          "description": "Output only. The current zone where the Redis primary node is located. In basic tier, this will always be the same as [location_id]. In standard tier, this can be the zone of any node in the instance.",
          "type": "string"
        },
        "state": {
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "Not set.",
            "Redis instance is being created.",
            "Redis instance has been created and is fully usable.",
            "Redis instance configuration is being updated. Certain kinds of updates may cause the instance to become unusable while the update is in progress.",
            "Redis instance is being deleted.",
            "Redis instance is being repaired and may be unusable.",
            "Maintenance is being performed on this Redis instance.",
            "Redis instance is importing data (availability may be affected).",
            "Redis instance is failing over (availability may be affected)."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "READY",
            "UPDATING",
            "DELETING",
            "REPAIRING",
            "MAINTENANCE",
            "IMPORTING",
            "FAILING_OVER"
          ],
          "description": "Output only. The current state of this instance."
        },
        "alternativeLocationId": {
          "description": "Optional. If specified, at least one node will be provisioned in this zone in addition to the zone specified in location_id. Only applicable to standard tier. If provided, it must be a different zone from the one provided in [location_id]. Additional nodes beyond the first 2 will be placed in zones selected by the service.",
          "type": "string"
        },
        "customerManagedKey": {
          "description": "Optional. The KMS key reference that the customer provides when trying to create the instance.",
          "type": "string"
        },
        "authEnabled": {
          "type": "boolean",
          "description": "Optional. Indicates whether OSS Redis AUTH is enabled for the instance. If set to \"true\" AUTH is enabled on the instance. Default value is \"false\" meaning AUTH is disabled."
        },
        "memorySizeGb": {
          "type": "integer",
          "format": "int32",
          "description": "Required. Redis memory size in GiB."
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The time the instance was created."
        },
        "locationId": {
          "description": "Optional. The zone where the instance will be provisioned. If not provided, the service will choose a zone from the specified region for the instance. For standard tier, additional nodes will be added across multiple zones for protection against zonal failures. If specified, at least one node will be provisioned in this zone.",
          "type": "string"
        },
        "connectMode": {
          "enumDescriptions": [
            "Not set.",
            "Connect via direct peering to the Memorystore for Redis hosted service.",
            "Connect your Memorystore for Redis instance using Private Service Access. Private services access provides an IP address range for multiple Google Cloud services, including Memorystore."
          ],
          "enum": [
            "CONNECT_MODE_UNSPECIFIED",
            "DIRECT_PEERING",
            "PRIVATE_SERVICE_ACCESS"
          ],
          "description": "Optional. The network connect mode of the Redis instance. If not provided, the connect mode defaults to DIRECT_PEERING.",
          "type": "string"
        },
        "readReplicasMode": {
          "enumDescriptions": [
            "If not set, Memorystore Redis backend will default to READ_REPLICAS_DISABLED.",
            "If disabled, read endpoint will not be provided and the instance cannot scale up or down the number of replicas.",
            "If enabled, read endpoint will be provided and the instance can scale up and down the number of replicas. Not valid for basic tier."
          ],
          "enum": [
            "READ_REPLICAS_MODE_UNSPECIFIED",
            "READ_REPLICAS_DISABLED",
            "READ_REPLICAS_ENABLED"
          ],
          "type": "string",
          "description": "Optional. Read replicas mode for the instance. Defaults to READ_REPLICAS_DISABLED."
        },
        "port": {
          "readOnly": true,
          "type": "integer",
          "format": "int32",
          "description": "Output only. The port number of the exposed Redis endpoint."
        },
        "tier": {
          "type": "string",
          "description": "Required. The service tier of the instance.",
          "enumDescriptions": [
            "Not set.",
            "BASIC tier: standalone instance",
            "STANDARD_HA tier: highly available primary/replica instances"
          ],
          "enum": [
            "TIER_UNSPECIFIED",
            "BASIC",
            "STANDARD_HA"
          ]
        },
        "nodes": {
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "NodeInfo"
          },
          "description": "Output only. Info per node."
        },
        "maintenanceSchedule": {
          "description": "Output only. Date and time of upcoming maintenance events which have been scheduled.",
          "readOnly": true,
          "$ref": "MaintenanceSchedule"
        },
        "availableMaintenanceVersions": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. The available maintenance versions that an instance could update to."
        },
        "displayName": {
          "type": "string",
          "description": "An arbitrary and optional user-provided name for the instance."
        },
        "name": {
          "description": "Required. Unique name of the resource in this scope including project and location using the form: `projects/{project_id}/locations/{location_id}/instances/{instance_id}` Note: Redis instances are managed and addressed at regional level so location_id here refers to a GCP region; however, users may choose which specific zone (or collection of zones for cross-zone instances) an instance should be provisioned in. Refer to location_id and alternative_location_id fields for more details.",
          "type": "string"
        },
        "suspensionReasons": {
          "type": "array",
          "items": {
            "enumDescriptions": [
              "Not set.",
              "Something wrong with the CMEK key provided by customer."
            ],
            "enum": [
              "SUSPENSION_REASON_UNSPECIFIED",
              "CUSTOMER_MANAGED_KEY_ISSUE"
            ],
            "type": "string"
          },
          "description": "Optional. reasons that causes instance in \"SUSPENDED\" state."
        },
        "transitEncryptionMode": {
          "description": "Optional. The TLS mode of the Redis instance. If not provided, TLS is disabled for the instance.",
          "type": "string",
          "enumDescriptions": [
            "Not set.",
            "Client to Server traffic encryption enabled with server authentication.",
            "TLS is disabled for the instance."
          ],
          "enum": [
            "TRANSIT_ENCRYPTION_MODE_UNSPECIFIED",
            "SERVER_AUTHENTICATION",
            "DISABLED"
          ]
        },
        "reservedIpRange": {
          "type": "string",
          "description": "Optional. For DIRECT_PEERING mode, the CIDR range of internal addresses that are reserved for this instance. Range must be unique and non-overlapping with existing subnets in an authorized network. For PRIVATE_SERVICE_ACCESS mode, the name of one allocated IP address ranges associated with this private service access connection. If not provided, the service will choose an unused /29 block, for example, 10.0.0.0/29 or 192.168.0.0/29. For READ_REPLICAS_ENABLED the default block size is /28."
        },
        "replicaCount": {
          "type": "integer",
          "format": "int32",
          "description": "Optional. The number of replica nodes. The valid range for the Standard Tier with read replicas enabled is [1-5] and defaults to 2. If read replicas are not enabled for a Standard Tier instance, the only valid value is 1 and the default is 1. The valid value for basic tier is 0 and the default is also 0."
        },
        "persistenceConfig": {
          "description": "Optional. Persistence configuration parameters",
          "$ref": "PersistenceConfig"
        },
        "redisVersion": {
          "type": "string",
          "description": "Optional. The version of Redis software. If not provided, the default version will be used. Currently, the supported values are: * `REDIS_3_2` for Redis 3.2 compatibility * `REDIS_4_0` for Redis 4.0 compatibility * `REDIS_5_0` for Redis 5.0 compatibility * `REDIS_6_X` for Redis 6.x compatibility * `REDIS_7_0` for Redis 7.0 compatibility (default) * `REDIS_7_2` for Redis 7.2 compatibility"
        },
        "serverCaCerts": {
          "readOnly": true,
          "description": "Output only. List of server CA certificates for the instance.",
          "type": "array",
          "items": {
            "$ref": "TlsCertificate"
          }
        },
        "tags": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. Input only. Immutable. Tag keys/values directly bound to this resource. For example: \"123/environment\": \"production\", \"123/costCenter\": \"marketing\"",
          "type": "object"
        },
        "authorizedNetwork": {
          "description": "Optional. The full name of the Google Compute Engine [network](https://cloud.google.com/vpc/docs/vpc) to which the instance is connected. If left unspecified, the `default` network will be used.",
          "type": "string"
        }
      }
    },
    "PscAutoConnection": {
      "description": "Details of consumer resources in a PSC connection that is created through Service Connectivity Automation.",
      "id": "PscAutoConnection",
      "type": "object",
      "properties": {
        "connectionType": {
          "description": "Output only. Type of the PSC connection.",
          "enumDescriptions": [
            "Cluster endpoint Type is not set",
            "Cluster endpoint that will be used as for cluster topology discovery.",
            "Cluster endpoint that will be used as primary endpoint to access primary.",
            "Cluster endpoint that will be used as reader endpoint to access replicas."
          ],
          "enum": [
            "CONNECTION_TYPE_UNSPECIFIED",
            "CONNECTION_TYPE_DISCOVERY",
            "CONNECTION_TYPE_PRIMARY",
            "CONNECTION_TYPE_READER"
          ],
          "type": "string",
          "readOnly": true
        },
        "pscConnectionId": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The PSC connection id of the forwarding rule connected to the service attachment."
        },
        "forwardingRule": {
          "type": "string",
          "description": "Output only. The URI of the consumer side forwarding rule. Example: projects/{projectNumOrId}/regions/us-east1/forwardingRules/{resourceId}.",
          "readOnly": true
        },
        "serviceAttachment": {
          "readOnly": true,
          "description": "Output only. The service attachment which is the target of the PSC connection, in the form of projects/{project-id}/regions/{region}/serviceAttachments/{service-attachment-id}.",
          "type": "string"
        },
        "pscConnectionStatus": {
          "enumDescriptions": [
            "PSC connection status is not specified.",
            "The connection is active",
            "Connection not found"
          ],
          "enum": [
            "PSC_CONNECTION_STATUS_UNSPECIFIED",
            "PSC_CONNECTION_STATUS_ACTIVE",
            "PSC_CONNECTION_STATUS_NOT_FOUND"
          ],
          "description": "Output only. The status of the PSC connection. Please note that this value is updated periodically. Please use Private Service Connect APIs for the latest status.",
          "readOnly": true,
          "type": "string"
        },
        "address": {
          "readOnly": true,
          "description": "Output only. The IP allocated on the consumer network for the PSC forwarding rule.",
          "type": "string"
        },
        "projectId": {
          "type": "string",
          "description": "Required. The consumer project_id where the forwarding rule is created from."
        },
        "network": {
          "type": "string",
          "description": "Required. The consumer network where the IP address resides, in the form of projects/{project_id}/global/networks/{network_id}."
        }
      }
    },
    "ListAclPoliciesResponse": {
      "description": "Response for `ListAclPolicies`.",
      "id": "ListAclPoliciesResponse",
      "type": "object",
      "properties": {
        "aclPolicies": {
          "description": "A list of ACL policies in the project in the specified location, or across all locations. If the `location_id` in the parent field of the request is \"-\", all regions available to the project are queried, and the results aggregated.",
          "type": "array",
          "items": {
            "$ref": "AclPolicy"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "Token to retrieve the next page of results, or empty if there are no more results in the list."
        },
        "unreachable": {
          "description": "Unordered list. Locations that could not be reached.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "GcsDestination": {
      "id": "GcsDestination",
      "type": "object",
      "properties": {
        "uri": {
          "description": "Required. Data destination URI (e.g. 'gs://my_bucket/my_object'). Existing files will be overwritten.",
          "type": "string"
        }
      },
      "description": "The Cloud Storage location for the output content"
    },
    "MachineConfiguration": {
      "description": "MachineConfiguration describes the configuration of a machine specific to Database Resource.",
      "id": "MachineConfiguration",
      "type": "object",
      "properties": {
        "memorySizeInBytes": {
          "description": "Memory size in bytes. TODO(b/342344482) add proto validations again after bug fix.",
          "type": "string",
          "format": "int64"
        },
        "cpuCount": {
          "deprecated": true,
          "type": "integer",
          "format": "int32",
          "description": "The number of CPUs. Deprecated. Use vcpu_count instead. TODO(b/342344482) add proto validations again after bug fix."
        },
        "maxReservationSlots": {
          "description": "Optional. Max slots for BigQuery Reservations. Max slots are in increments of 50.",
          "type": "string",
          "format": "int64"
        },
        "shardCount": {
          "description": "Optional. Number of shards (if applicable).",
          "type": "integer",
          "format": "int32"
        },
        "vcpuCount": {
          "type": "number",
          "format": "double",
          "description": "Optional. The number of vCPUs. TODO(b/342344482) add proto validations again after bug fix."
        },
        "baselineSlots": {
          "description": "Optional. Baseline slots for BigQuery Reservations. Baseline slots are in increments of 50.",
          "type": "string",
          "format": "int64"
        }
      }
    },
    "UpgradeInstanceRequest": {
      "description": "Request for UpgradeInstance.",
      "id": "UpgradeInstanceRequest",
      "type": "object",
      "properties": {
        "redisVersion": {
          "type": "string",
          "description": "Required. Specifies the target version of Redis software to upgrade to."
        }
      }
    },
    "GcsBackupSource": {
      "id": "GcsBackupSource",
      "type": "object",
      "properties": {
        "uris": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. URIs of the Cloud Storage objects to import. Example: gs://bucket1/object1, gs://bucket2/folder2/object2"
        }
      },
      "description": "Backups stored in Cloud Storage buckets. The Cloud Storage buckets need to be the same region as the clusters."
    },
    "TlsCertificate": {
      "id": "TlsCertificate",
      "type": "object",
      "properties": {
        "sha1Fingerprint": {
          "type": "string",
          "description": "Sha1 Fingerprint of the certificate."
        },
        "createTime": {
          "readOnly": true,
          "description": "Output only. The time when the certificate was created in [RFC 3339](https://tools.ietf.org/html/rfc3339) format, for example `2020-05-18T00:00:00.094Z`.",
          "type": "string",
          "format": "google-datetime"
        },
        "cert": {
          "description": "PEM representation.",
          "type": "string"
        },
        "serialNumber": {
          "description": "Serial number, as extracted from the certificate.",
          "type": "string"
        },
        "expireTime": {
          "description": "Output only. The time when the certificate expires in [RFC 3339](https://tools.ietf.org/html/rfc3339) format, for example `2020-05-18T00:00:00.094Z`.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        }
      },
      "description": "TlsCertificate Resource"
    },
    "BackupDRConfiguration": {
      "id": "BackupDRConfiguration",
      "type": "object",
      "properties": {
        "backupdrManaged": {
          "description": "Indicates if the resource is managed by BackupDR.",
          "type": "boolean"
        }
      },
      "description": "BackupDRConfiguration to capture the backup and disaster recovery details of database resource."
    },
    "AuthToken": {
      "id": "AuthToken",
      "type": "object",
      "properties": {
        "name": {
          "description": "Identifier. Name of the auth token. Format: projects/{project}/locations/{location}/clusters/{cluster}/tokenAuthUsers/{token_auth_user}/authTokens/{auth_token}",
          "type": "string"
        },
        "token": {
          "type": "string",
          "description": "Output only. The service generated authentication token used to connect to the Redis cluster.",
          "readOnly": true
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. Create time of the auth token."
        },
        "state": {
          "description": "Output only. State of the auth token.",
          "enumDescriptions": [
            "Not set.",
            "The auth token is active.",
            "The auth token is being created.",
            "The auth token is being deleted."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "CREATING",
            "DELETING"
          ],
          "type": "string",
          "readOnly": true
        }
      },
      "description": "Auth token for the cluster."
    },
    "DatabaseResourceHealthSignalData": {
      "id": "DatabaseResourceHealthSignalData",
      "type": "object",
      "properties": {
        "provider": {
          "enumDescriptions": [
            "Unspecified provider.",
            "Google cloud platform provider",
            "Amazon web service",
            "Azure web service",
            "On-prem database resources.",
            "Self-managed database provider. These are resources on a cloud platform, e.g., database resource installed in a GCE VM, but not a managed database service.",
            "For the rest of the other categories. Other refers to the rest of other database service providers, this could be smaller cloud provider. This needs to be provided when the provider is known, but it is not present in the existing set of enum values."
          ],
          "enum": [
            "PROVIDER_UNSPECIFIED",
            "GCP",
            "AWS",
            "AZURE",
            "ONPREM",
            "SELFMANAGED",
            "PROVIDER_OTHER"
          ],
          "type": "string",
          "description": "Cloud provider name. Ex: GCP/AWS/Azure/OnPrem/SelfManaged"
        },
        "signalClass": {
          "type": "string",
          "description": "Required. The class of the signal, such as if it's a THREAT or VULNERABILITY.",
          "enumDescriptions": [
            "Unspecified signal class.",
            "Describes unwanted or malicious activity.",
            "Describes a potential weakness in software that increases risk to Confidentiality & Integrity & Availability.",
            "Describes a potential weakness in cloud resource/asset configuration that increases risk.",
            "Describes a security observation that is for informational purposes.",
            "Describes an error that prevents some SCC functionality."
          ],
          "enum": [
            "CLASS_UNSPECIFIED",
            "THREAT",
            "VULNERABILITY",
            "MISCONFIGURATION",
            "OBSERVATION",
            "ERROR"
          ]
        },
        "state": {
          "enumDescriptions": [
            "Unspecified state.",
            "The signal requires attention and has not been addressed yet.",
            "The signal has been fixed, triaged as a non-issue or otherwise addressed and is no longer active.",
            "The signal has been muted."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "RESOLVED",
            "MUTED"
          ],
          "type": "string",
          "description": "Required. The state of the signal, such as if it's ACTIVE or RESOLVED."
        },
        "externalUri": {
          "description": "The external-uri of the signal, using which more information about this signal can be obtained. In GCP, this will take user to SCC page to get more details about signals.",
          "type": "string"
        },
        "resourceContainer": {
          "description": "Closest parent container of this resource. In GCP, 'container' refers to a Cloud Resource Manager project. It must be resource name of a Cloud Resource Manager project with the format of \"provider//\", such as \"projects/123\". For GCP provided resources, number should be project number.",
          "type": "string"
        },
        "eventTime": {
          "description": "Required. The last time at which the event described by this signal took place",
          "type": "string",
          "format": "google-datetime"
        },
        "name": {
          "type": "string",
          "description": "Required. The name of the signal, ex: PUBLIC_SQL_INSTANCE, SQL_LOG_ERROR_VERBOSITY etc."
        },
        "additionalMetadata": {
          "description": "Any other additional metadata",
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          }
        },
        "resourceName": {
          "type": "string",
          "description": "Required. Database resource name associated with the signal. Resource name to follow CAIS resource_name format as noted here go/condor-common-datamodel"
        },
        "description": {
          "description": "Description associated with signal",
          "type": "string"
        },
        "signalId": {
          "description": "Required. Unique identifier for the signal. This is an unique id which would be mainatined by partner to identify a signal.",
          "type": "string"
        },
        "compliance": {
          "type": "array",
          "items": {
            "$ref": "Compliance"
          },
          "description": "Industry standards associated with this signal; if this signal is an issue, that could be a violation of the associated industry standard(s). For example, AUTO_BACKUP_DISABLED signal is associated with CIS GCP 1.1, CIS GCP 1.2, CIS GCP 1.3, NIST 800-53 and ISO-27001 compliance standards. If a database resource does not have automated backup enable, it will violate these following industry standards."
        },
        "signalSeverity": {
          "enumDescriptions": [
            "This value is used for findings when a source doesn't write a severity value.",
            "A critical vulnerability is easily discoverable by an external actor, exploitable.",
            "A high risk vulnerability can be easily discovered and exploited in combination with other vulnerabilities.",
            "A medium risk vulnerability could be used by an actor to gain access to resources or privileges that enable them to eventually gain access and the ability to execute arbitrary code or exfiltrate data.",
            "A low risk vulnerability hampers a security organization's ability to detect vulnerabilities or active threats in their deployment."
          ],
          "enum": [
            "SIGNAL_SEVERITY_UNSPECIFIED",
            "CRITICAL",
            "HIGH",
            "MEDIUM",
            "LOW"
          ],
          "type": "string",
          "description": "The severity of the signal, such as if it's a HIGH or LOW severity."
        },
        "signalType": {
          "type": "string",
          "enumDeprecated": [
            false,
            false,
            false,
            true,
            true,
            true,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            true,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            true,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false
          ],
          "description": "Required. Type of signal, for example, `AVAILABLE_IN_MULTIPLE_ZONES`, `LOGGING_MOST_ERRORS`, etc.",
          "enumDescriptions": [
            "Unspecified.",
            "Represents if a resource is protected by automatic failover. Checks for resources that are configured to have redundancy within a region that enables automatic failover.",
            "Represents if a group is replicating across regions. Checks for resources that are configured to have redundancy, and ongoing replication, across regions.",
            "Represents if the resource is available in multiple zones or not.",
            "Represents if a resource is available in multiple regions.",
            "Represents if a resource has a promotable replica.",
            "Represents if a resource has an automated backup policy.",
            "Represents if a resources has a short backup retention period.",
            "Represents if the last backup of a resource failed.",
            "Represents if the last backup of a resource is older than some threshold value.",
            "Represents if a resource violates CIS GCP Foundation 2.0.",
            "Represents if a resource violates CIS GCP Foundation 1.3.",
            "Represents if a resource violates CIS GCP Foundation 1.2.",
            "Represents if a resource violates CIS GCP Foundation 1.1.",
            "Represents if a resource violates CIS GCP Foundation 1.0.",
            "Represents if a resource violates CIS Controls 8.0.",
            "Represents if a resource violates NIST 800-53.",
            "Represents if a resource violates NIST 800-53 R5.",
            "Represents if a resource violates NIST Cybersecurity Framework 1.0.",
            "Represents if a resource violates ISO-27001.",
            "Represents if a resource violates ISO 27001 2022.",
            "Represents if a resource violates PCI-DSS v3.2.1.",
            "Represents if a resource violates PCI-DSS v4.0.",
            "Represents if a resource violates Cloud Controls Matrix v4.0.",
            "Represents if a resource violates HIPAA.",
            "Represents if a resource violates SOC2 v2017.",
            "Represents if log_checkpoints database flag for a Cloud SQL for PostgreSQL instance is not set to on.",
            "Represents if the log_duration database flag for a Cloud SQL for PostgreSQL instance is not set to on.",
            "Represents if the log_error_verbosity database flag for a Cloud SQL for PostgreSQL instance is not set to default or stricter (default or terse).",
            "Represents if the log_lock_waits database flag for a Cloud SQL for PostgreSQL instance is not set to on.",
            "Represents if the log_min_error_statement database flag for a Cloud SQL for PostgreSQL instance is not set appropriately.",
            "Represents if the log_min_error_statement database flag for a Cloud SQL for PostgreSQL instance does not have an appropriate severity level.",
            "Represents if the log_min_messages database flag for a Cloud SQL for PostgreSQL instance is not set to warning or another recommended value.",
            "Represents if the databaseFlags property of instance metadata for the log_executor_status field is set to on.",
            "Represents if the log_hostname database flag for a Cloud SQL for PostgreSQL instance is not set to off.",
            "Represents if the log_parser_stats database flag for a Cloud SQL for PostgreSQL instance is not set to off.",
            "Represents if the log_planner_stats database flag for a Cloud SQL for PostgreSQL instance is not set to off.",
            "Represents if the log_statement database flag for a Cloud SQL for PostgreSQL instance is not set to DDL (all data definition statements).",
            "Represents if the log_statement_stats database flag for a Cloud SQL for PostgreSQL instance is not set to off.",
            "Represents if the log_temp_files database flag for a Cloud SQL for PostgreSQL instance is not set to \"0\". (NOTE: 0 = ON)",
            "Represents if the user connections database flag for a Cloud SQL for SQL Server instance is configured.",
            "Represents if the user options database flag for Cloud SQL SQL Server instance is configured or not.",
            "Represents if a resource is exposed to public access.",
            "Represents if a resources requires all incoming connections to use SSL or not.",
            "Represents if a Cloud SQL database has a password configured for the root account or not.",
            "Represents if a Cloud SQL database has a weak password configured for the root account.",
            "Represents if a SQL database instance is not encrypted with customer-managed encryption keys (CMEK).",
            "Represents if The contained database authentication database flag for a Cloud SQL for SQL Server instance is not set to off.",
            "Represents if the cross_db_ownership_chaining database flag for a Cloud SQL for SQL Server instance is not set to off.",
            "Represents if he external scripts enabled database flag for a Cloud SQL for SQL Server instance is not set to off.",
            "Represents if the local_infile database flag for a Cloud SQL for MySQL instance is not set to off.",
            "Represents if the log_connections database flag for a Cloud SQL for PostgreSQL instance is not set to on.",
            "Represents if the log_disconnections database flag for a Cloud SQL for PostgreSQL instance is not set to on.",
            "Represents if the log_min_duration_statement database flag for a Cloud SQL for PostgreSQL instance is not set to -1.",
            "Represents if the remote access database flag for a Cloud SQL for SQL Server instance is not set to off.",
            "Represents if the skip_show_database database flag for a Cloud SQL for MySQL instance is not set to on.",
            "Represents if the 3625 (trace flag) database flag for a Cloud SQL for SQL Server instance is not set to on.",
            "Represents if public IP is enabled.",
            "Represents Idle instance helps to reduce costs.",
            "Represents instances that are unnecessarily large for given workload.",
            "Represents high number of concurrently opened tables.",
            "Represents high table count close to SLA limit.",
            "Represents high number of unvacuumed transactions",
            "Represents need for more CPU and/or memory",
            "Represents out of disk.",
            "Represents server certificate is near expiry.",
            "Represents database auditing is disabled.",
            "Represents not restricted to authorized networks.",
            "Represents violate org policy restrict public ip.",
            "Cluster nearing quota limit",
            "No password policy set on resources",
            "Performance impact of connections settings",
            "Performance impact of temporary tables settings",
            "Performance impact of transaction logs settings",
            "Performance impact of high joins without indexes",
            "Detects events where a Cloud SQL superuser (postgres for PostgreSQL servers or root for MySQL users) writes to non-system tables.",
            "Detects events where a database user or role has been granted all privileges to a database, or to all tables, procedures, or functions in a schema.",
            "Detects if database instance data exported to a Cloud Storage bucket outside of the organization.",
            "Detects if database instance data exported to a Cloud Storage bucket that is owned by the organization and is publicly accessible.",
            "Detects if a database instance is using a weak password hash algorithm.",
            "Detects if a database instance has no user password policy set.",
            "Detects if a database instance/cluster has a hot node.",
            "Detects if a database instance has no point in time recovery enabled.",
            "Detects if a database instance/cluster is suspended.",
            "Detects that expensive commands are being run on a database instance impacting overall performance.",
            "Indicates that the instance does not have a maintenance policy configured.",
            "Deletion Protection Disabled for the resource",
            "Indicates that the instance has inefficient queries detected.",
            "Indicates that the instance has read intensive workload.",
            "Indicates that the instance is nearing memory limit.",
            "Indicates that the instance's max server memory is configured higher than the recommended value.",
            "Indicates that the database has large rows beyond the recommended limit.",
            "Heavy write pressure on the database rows.",
            "Heavy read pressure on the database rows.",
            "Encryption org policy not satisfied.",
            "Location org policy not satisfied.",
            "Outdated DB minor version.",
            "Schema not optimized.",
            "High number of idle connections.",
            "Replication delay.",
            "Outdated version.",
            "Outdated client.",
            "Databoost is disabled.",
            "Recommended maintenance policy.",
            "Resource version is in extended support.",
            "Change in performance KPIs.",
            "Database version nearing end of life.",
            "Indicates a high risk of maintenance downtime.",
            "Indicates both a low cache hit rate and a risk of maintenance downtime.",
            "Indicates that the resource is missing enhanced protection."
          ],
          "enum": [
            "SIGNAL_TYPE_UNSPECIFIED",
            "SIGNAL_TYPE_NOT_PROTECTED_BY_AUTOMATIC_FAILOVER",
            "SIGNAL_TYPE_GROUP_NOT_REPLICATING_ACROSS_REGIONS",
            "SIGNAL_TYPE_NOT_AVAILABLE_IN_MULTIPLE_ZONES",
            "SIGNAL_TYPE_NOT_AVAILABLE_IN_MULTIPLE_REGIONS",
            "SIGNAL_TYPE_NO_PROMOTABLE_REPLICA",
[...]
