{
  "discoveryVersion": "v1",
  "endpoints": [
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://redis.africa-south1.rep.googleapis.com/",
      "location": "africa-south1"
    },
    {
      "endpointUrl": "https://redis.asia-east1.rep.googleapis.com/",
      "location": "asia-east1",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://redis.asia-east2.rep.googleapis.com/",
      "location": "asia-east2"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://redis.asia-northeast1.rep.googleapis.com/",
      "location": "asia-northeast1"
    },
    {
      "endpointUrl": "https://redis.asia-northeast2.rep.googleapis.com/",
      "location": "asia-northeast2",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://redis.asia-northeast3.rep.googleapis.com/",
      "location": "asia-northeast3",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://redis.asia-south1.rep.googleapis.com/",
      "location": "asia-south1",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://redis.asia-south2.rep.googleapis.com/",
      "location": "asia-south2",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://redis.asia-southeast1.rep.googleapis.com/",
      "location": "asia-southeast1",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://redis.asia-southeast2.rep.googleapis.com/",
      "location": "asia-southeast2",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://redis.asia-southeast3.rep.googleapis.com/",
      "location": "asia-southeast3",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://redis.australia-southeast1.rep.googleapis.com/",
      "location": "australia-southeast1",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://redis.australia-southeast2.rep.googleapis.com/",
      "location": "australia-southeast2"
    },
    {
      "endpointUrl": "https://redis.europe-central2.rep.googleapis.com/",
      "location": "europe-central2",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://redis.europe-north1.rep.googleapis.com/",
      "location": "europe-north1"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://redis.europe-north2.rep.googleapis.com/",
      "location": "europe-north2"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://redis.europe-southwest1.rep.googleapis.com/",
      "location": "europe-southwest1"
    },
    {
      "endpointUrl": "https://redis.europe-west1.rep.googleapis.com/",
      "location": "europe-west1",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://redis.europe-west10.rep.googleapis.com/",
      "location": "europe-west10"
    },
    {
      "endpointUrl": "https://redis.europe-west12.rep.googleapis.com/",
      "location": "europe-west12",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://redis.europe-west15.rep.googleapis.com/",
      "location": "europe-west15"
    },
    {
      "endpointUrl": "https://redis.europe-west2.rep.googleapis.com/",
      "location": "europe-west2",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://redis.europe-west3.rep.googleapis.com/",
      "location": "europe-west3",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://redis.europe-west4.rep.googleapis.com/",
      "location": "europe-west4",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://redis.europe-west6.rep.googleapis.com/",
      "location": "europe-west6",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://redis.europe-west8.rep.googleapis.com/",
      "location": "europe-west8"
    },
    {
      "endpointUrl": "https://redis.europe-west9.rep.googleapis.com/",
      "location": "europe-west9",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://redis.me-central1.rep.googleapis.com/",
      "location": "me-central1"
    },
    {
      "endpointUrl": "https://redis.me-central2.rep.googleapis.com/",
      "location": "me-central2",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://redis.me-west1.rep.googleapis.com/",
      "location": "me-west1",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://redis.northamerica-northeast1.rep.googleapis.com/",
      "location": "northamerica-northeast1",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://redis.northamerica-northeast2.rep.googleapis.com/",
      "location": "northamerica-northeast2"
    },
    {
      "endpointUrl": "https://redis.northamerica-south1.rep.googleapis.com/",
      "location": "northamerica-south1",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://redis.southamerica-east1.rep.googleapis.com/",
      "location": "southamerica-east1",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://redis.southamerica-west1.rep.googleapis.com/",
      "location": "southamerica-west1"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://redis.us-central1.rep.googleapis.com/",
      "location": "us-central1"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://redis.us-central2.rep.googleapis.com/",
      "location": "us-central2"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://redis.us-east1.rep.googleapis.com/",
      "location": "us-east1"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://redis.us-east4.rep.googleapis.com/",
      "location": "us-east4"
    },
    {
      "endpointUrl": "https://redis.us-east5.rep.googleapis.com/",
      "location": "us-east5",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://redis.us-east7.rep.googleapis.com/",
      "location": "us-east7",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://redis.us-south1.rep.googleapis.com/",
      "location": "us-south1"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://redis.us-west1.rep.googleapis.com/",
      "location": "us-west1"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://redis.us-west2.rep.googleapis.com/",
      "location": "us-west2"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://redis.us-west3.rep.googleapis.com/",
      "location": "us-west3"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://redis.us-west4.rep.googleapis.com/",
      "location": "us-west4"
    },
    {
      "endpointUrl": "https://redis.us-west8.rep.googleapis.com/",
      "location": "us-west8",
      "description": "Regional Endpoint"
    }
  ],
  "parameters": {
    "alt": {
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "type": "string",
      "default": "json",
      "description": "Data format for response.",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "location": "query"
    },
    "prettyPrint": {
      "location": "query",
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "default": "true"
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "upload_protocol": {
      "location": "query",
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "$.xgafv": {
      "enum": [
        "1",
        "2"
      ],
      "location": "query",
      "description": "V1 error format.",
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ]
    },
    "uploadType": {
      "location": "query",
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    }
  },
  "batchPath": "batch",
  "ownerDomain": "google.com",
  "ownerName": "Google",
  "servicePath": "",
  "title": "Google Cloud Memorystore for Redis API",
  "baseUrl": "https://redis.googleapis.com/",
  "rootUrl": "https://redis.googleapis.com/",
  "id": "redis:v1beta1",
  "schemas": {
    "Compliance": {
      "id": "Compliance",
      "description": "Contains compliance information about a security standard indicating unmet recommendations.",
      "type": "object",
      "properties": {
        "standard": {
          "description": "Industry-wide compliance standards or benchmarks, such as CIS, PCI, and OWASP.",
          "type": "string"
        },
        "version": {
          "description": "Version of the standard or benchmark, for example, 1.1",
          "type": "string"
        }
      }
    },
    "WeeklyMaintenanceWindow": {
      "id": "WeeklyMaintenanceWindow",
      "description": "Time window in which disruptive maintenance updates occur. Non-disruptive updates can occur inside or outside this window.",
      "type": "object",
      "properties": {
        "day": {
          "description": "Required. The day of week that maintenance updates occur.",
          "type": "string",
          "enum": [
            "DAY_OF_WEEK_UNSPECIFIED",
            "MONDAY",
            "TUESDAY",
            "WEDNESDAY",
            "THURSDAY",
            "FRIDAY",
            "SATURDAY",
            "SUNDAY"
          ],
          "enumDescriptions": [
            "The day of the week is unspecified.",
            "Monday",
            "Tuesday",
            "Wednesday",
            "Thursday",
            "Friday",
            "Saturday",
            "Sunday"
          ]
        },
        "startTime": {
          "description": "Required. Start time of the window in UTC time.",
          "$ref": "TimeOfDay"
        },
        "duration": {
          "format": "google-duration",
          "description": "Output only. Duration of the maintenance window. The current window is fixed at 1 hour.",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "ResourceMaintenanceSchedule": {
      "id": "ResourceMaintenanceSchedule",
      "description": "Maintenance window for the database resource. It specifies preferred time and day of the week and phase in some cases, when the maintenance can start. This is configured by the customer.",
      "type": "object",
      "properties": {
        "day": {
          "enumDescriptions": [
            "The day of the week is unspecified.",
            "Monday",
            "Tuesday",
            "Wednesday",
            "Thursday",
            "Friday",
            "Saturday",
            "Sunday"
          ],
          "enum": [
            "DAY_OF_WEEK_UNSPECIFIED",
            "MONDAY",
            "TUESDAY",
            "WEDNESDAY",
            "THURSDAY",
            "FRIDAY",
            "SATURDAY",
            "SUNDAY"
          ],
          "description": "Optional. Preferred day of the week for maintenance, e.g. MONDAY, TUESDAY, etc.",
          "type": "string"
        },
        "time": {
          "$ref": "TimeOfDay",
          "description": "Optional. Preferred time to start the maintenance operation on the specified day."
        },
        "phase": {
          "enumDescriptions": [
            "Phase is unspecified.",
            "Any phase.",
            "Week 1.",
            "Week 2.",
            "Week 5."
          ],
          "enum": [
            "PHASE_UNSPECIFIED",
            "ANY",
            "WEEK1",
            "WEEK2",
            "WEEK5"
          ],
          "description": "Optional. Phase of the maintenance window. This is to capture order of maintenance. For example, for Cloud SQL resources, this can be used to capture if the maintenance window is in Week1, Week2, Week5, etc. Non production resources are usually part of early phase. For more details, refer to Cloud SQL resources - https://cloud.google.com/sql/docs/mysql/maintenance",
          "type": "string"
        }
      }
    },
    "AddTokenAuthUserRequest": {
      "id": "AddTokenAuthUserRequest",
      "description": "Request message for AddTokenAuthUser.",
      "type": "object",
      "properties": {
        "tokenAuthUser": {
          "description": "Required. The id of the token auth user to add.",
          "type": "string"
        }
      }
    },
    "GcsDestination": {
      "id": "GcsDestination",
      "description": "The Cloud Storage location for the output content",
      "type": "object",
      "properties": {
        "uri": {
          "description": "Required. Data destination URI (e.g. 'gs://my_bucket/my_object'). Existing files will be overwritten.",
          "type": "string"
        }
      }
    },
    "AvailabilityConfiguration": {
      "id": "AvailabilityConfiguration",
      "description": "Configuration for availability of database instance",
      "type": "object",
      "properties": {
        "availabilityType": {
          "enumDescriptions": [
            "Unspecified availability type.",
            "Zonal available instance.",
            "Regional available instance.",
            "Multi regional instance",
            "For rest of the other category"
          ],
          "enum": [
            "AVAILABILITY_TYPE_UNSPECIFIED",
            "ZONAL",
            "REGIONAL",
            "MULTI_REGIONAL",
            "AVAILABILITY_TYPE_OTHER"
          ],
          "description": "Availability type. Potential values: * `ZONAL`: The instance serves data from only one zone. Outages in that zone affect data accessibility. * `REGIONAL`: The instance can serve data from more than one zone in a region (it is highly available).",
          "type": "string"
        },
        "externalReplicaConfigured": {
          "type": "boolean"
        },
        "crossRegionReplicaConfigured": {
          "description": "Checks for resources that are configured to have redundancy, and ongoing replication across regions",
          "type": "boolean"
        },
        "promotableReplicaConfigured": {
          "type": "boolean"
        },
        "automaticFailoverRoutingConfigured": {
          "description": "Checks for existence of (multi-cluster) routing configuration that allows automatic failover to a different zone/region in case of an outage. Applicable to Bigtable resources.",
          "type": "boolean"
        }
      }
    },
    "ListOperationsResponse": {
      "id": "ListOperationsResponse",
      "description": "The response message for Operations.ListOperations.",
      "type": "object",
      "properties": {
        "operations": {
          "items": {
            "$ref": "Operation"
          },
          "description": "A list of operations that matches the specified filter in the request.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        },
        "unreachable": {
          "description": "Unordered list. Unreachable resources. Populated when the request sets `ListOperationsRequest.return_partial_success` and reads across collections. For example, when attempting to list all resources across all supported locations.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "RescheduleMaintenanceRequest": {
      "id": "RescheduleMaintenanceRequest",
      "description": "Request for RescheduleMaintenance.",
      "type": "object",
      "properties": {
        "scheduleTime": {
          "description": "Optional. Timestamp when the maintenance shall be rescheduled to if reschedule_type=SPECIFIC_TIME, in RFC 3339 format, for example `2012-11-15T16:19:00.094Z`.",
          "type": "string",
          "format": "google-datetime"
        },
        "rescheduleType": {
          "description": "Required. If reschedule type is SPECIFIC_TIME, must set up schedule_time as well.",
          "type": "string",
          "enum": [
            "RESCHEDULE_TYPE_UNSPECIFIED",
            "IMMEDIATE",
            "NEXT_AVAILABLE_WINDOW",
            "SPECIFIC_TIME"
          ],
          "enumDescriptions": [
            "Not set.",
            "If the user wants to schedule the maintenance to happen now.",
            "If the user wants to use the existing maintenance policy to find the next available window.",
            "If the user wants to reschedule the maintenance to a specific time."
          ]
        }
      }
    },
    "CertChain": {
      "id": "CertChain",
      "type": "object",
      "properties": {
        "certificates": {
          "items": {
            "type": "string"
          },
          "description": "The certificates that form the CA chain, from leaf to root order.",
          "type": "array"
        }
      }
    },
    "AuthToken": {
      "id": "AuthToken",
      "description": "Auth token for the cluster.",
      "type": "object",
      "properties": {
        "state": {
          "enumDescriptions": [
            "Not set.",
            "The auth token is active.",
            "The auth token is being created.",
            "The auth token is being deleted."
          ],
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "CREATING",
            "DELETING"
          ],
          "description": "Output only. State of the auth token.",
          "readOnly": true
        },
        "name": {
          "description": "Identifier. Name of the auth token. Format: projects/{project}/locations/{location}/clusters/{cluster}/tokenAuthUsers/{token_auth_user}/authTokens/{auth_token}",
          "type": "string"
        },
        "token": {
          "description": "Output only. The service generated authentication token used to connect to the Redis cluster.",
          "readOnly": true,
          "type": "string"
        },
        "createTime": {
          "description": "Output only. Create time of the auth token.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        }
      }
    },
    "ResourceMaintenanceInfo": {
      "id": "ResourceMaintenanceInfo",
      "description": "MaintenanceInfo to capture the maintenance details of database resource.",
      "type": "object",
      "properties": {
        "maintenanceSchedule": {
          "description": "Optional. Maintenance window for the database resource.",
          "$ref": "ResourceMaintenanceSchedule"
        },
        "denyMaintenanceSchedules": {
          "items": {
            "$ref": "ResourceMaintenanceDenySchedule"
          },
          "description": "Optional. List of Deny maintenance period for the database resource.",
          "type": "array"
        },
        "maintenanceVersion": {
          "description": "Optional. Current Maintenance version of the database resource. Example: \"MYSQL_8_0_41.R20250531.01_15\"",
          "type": "string"
        },
        "maintenanceState": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified state.",
            "Database resource is being created.",
            "Database resource has been created and is ready to use.",
            "Database resource is being updated.",
            "Database resource is unheathy and under repair.",
            "Database resource is being deleted.",
            "Database resource encountered an error and is in indeterministic state."
          ],
          "description": "Output only. Current state of maintenance on the database resource.",
          "readOnly": true,
          "enum": [
            "MAINTENANCE_STATE_UNSPECIFIED",
            "CREATING",
            "READY",
            "UPDATING",
            "REPAIRING",
            "DELETING",
            "ERROR"
          ]
        },
        "isInstanceStopped": {
          "description": "Optional. Whether the instance is in stopped state. This information is temporarily being captured in maintenanceInfo, till STOPPED state is supported by DB Center.",
          "type": "boolean"
        },
        "nextAvailableMaintenanceVersions": {
          "items": {
            "type": "string"
          },
          "description": "Optional. List of next available maintenance versions.",
          "type": "array"
        },
        "currentVersionReleaseDate": {
          "$ref": "Date",
          "description": "Optional. The date when the current maintenance version was released."
        },
        "upcomingMaintenance": {
          "description": "Optional. Upcoming maintenance for the database resource. This field is populated once SLM generates and publishes upcoming maintenance window.",
          "$ref": "UpcomingMaintenance"
        }
      }
    },
    "TimeOfDay": {
      "id": "TimeOfDay",
      "description": "Represents a time of day. The date and time zone are either not significant or are specified elsewhere. An API may choose to allow leap seconds. Related types are google.type.Date and `google.protobuf.Timestamp`.",
      "type": "object",
      "properties": {
        "hours": {
          "description": "Hours of a day in 24 hour format. Must be greater than or equal to 0 and typically must be less than or equal to 23. An API may choose to allow the value \"24:00:00\" for scenarios like business closing time.",
          "type": "integer",
          "format": "int32"
        },
        "seconds": {
          "format": "int32",
          "description": "Seconds of a minute. Must be greater than or equal to 0 and typically must be less than or equal to 59. An API may allow the value 60 if it allows leap-seconds.",
          "type": "integer"
        },
        "nanos": {
          "format": "int32",
          "description": "Fractions of seconds, in nanoseconds. Must be greater than or equal to 0 and less than or equal to 999,999,999.",
          "type": "integer"
        },
        "minutes": {
          "format": "int32",
          "description": "Minutes of an hour. Must be greater than or equal to 0 and less than or equal to 59.",
          "type": "integer"
        }
      }
    },
    "BackupFile": {
      "id": "BackupFile",
      "description": "Backup is consisted of multiple backup files.",
      "type": "object",
      "properties": {
        "sizeBytes": {
          "format": "int64",
          "description": "Output only. Size of the backup file in bytes.",
          "readOnly": true,
          "type": "string"
        },
        "createTime": {
          "description": "Output only. The time when the backup file was created.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "fileName": {
          "description": "Output only. e.g: .rdb",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "Empty": {
      "id": "Empty",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "type": "object",
      "properties": {}
    },
    "ClusterPersistenceConfig": {
      "id": "ClusterPersistenceConfig",
      "description": "Configuration of the persistence functionality.",
      "type": "object",
      "properties": {
        "mode": {
          "enumDescriptions": [
            "Not set.",
            "Persistence is disabled, and any snapshot data is deleted.",
            "RDB based persistence is enabled.",
            "AOF based persistence is enabled."
          ],
          "enum": [
            "PERSISTENCE_MODE_UNSPECIFIED",
            "DISABLED",
            "RDB",
            "AOF"
          ],
          "description": "Optional. The mode of persistence.",
          "type": "string"
        },
        "rdbConfig": {
          "description": "Optional. RDB configuration. This field will be ignored if mode is not RDB.",
          "$ref": "RDBConfig"
        },
        "aofConfig": {
          "description": "Optional. AOF configuration. This field will be ignored if mode is not AOF.",
          "$ref": "AOFConfig"
        }
      }
    },
    "ManagedCertificateAuthority": {
      "id": "ManagedCertificateAuthority",
      "type": "object",
      "properties": {
        "caCerts": {
          "items": {
            "$ref": "CertChain"
          },
          "description": "The PEM encoded CA certificate chains for redis managed server authentication",
          "type": "array"
        }
      }
    },
    "ResourceFlags": {
      "id": "ResourceFlags",
      "description": "Message type for storing resource flags.",
      "type": "object",
      "properties": {
        "key": {
          "description": "Optional. Key of the resource flag.",
          "type": "string"
        },
        "value": {
          "description": "Optional. Value of the resource flag.",
          "type": "string"
        }
      }
    },
    "Backup": {
      "id": "Backup",
      "description": "Backup of a cluster.",
      "type": "object",
      "properties": {
        "createTime": {
          "format": "google-datetime",
          "description": "Output only. The time when the backup was created.",
          "readOnly": true,
          "type": "string"
        },
        "shardCount": {
          "format": "int32",
          "description": "Output only. Number of shards for the cluster.",
          "readOnly": true,
          "type": "integer"
        },
        "engineVersion": {
          "description": "Output only. redis-7.2, valkey-7.5",
          "readOnly": true,
          "type": "string"
        },
        "uid": {
          "description": "Output only. System assigned unique identifier of the backup.",
          "readOnly": true,
          "type": "string"
        },
        "backupFiles": {
          "items": {
            "$ref": "BackupFile"
          },
          "description": "Output only. List of backup files of the backup.",
          "readOnly": true,
          "type": "array"
        },
        "nodeType": {
          "description": "Output only. Node type of the cluster.",
          "readOnly": true,
          "enum": [
            "NODE_TYPE_UNSPECIFIED",
            "REDIS_SHARED_CORE_NANO",
            "REDIS_HIGHMEM_MEDIUM",
            "REDIS_HIGHMEM_XLARGE",
            "REDIS_STANDARD_SMALL",
            "REDIS_HIGHCPU_MEDIUM",
            "REDIS_STANDARD_LARGE",
            "REDIS_HIGHMEM_2XLARGE"
          ],
          "type": "string",
          "enumDescriptions": [
            "Node type unspecified",
            "Redis shared core nano node_type.",
            "Redis highmem medium node_type.",
            "Redis highmem xlarge node_type.",
            "Redis standard small node_type.",
            "Redis highcpu medium node_type.",
            "Redis standard large node_type.",
            "Redis highmem 2xlarge node_type."
          ]
        },
        "encryptionInfo": {
          "description": "Output only. Encryption information of the backup.",
          "readOnly": true,
          "$ref": "EncryptionInfo"
        },
        "expireTime": {
          "format": "google-datetime",
          "description": "Output only. The time when the backup will expire.",
          "readOnly": true,
          "type": "string"
        },
        "cluster": {
          "description": "Output only. Cluster resource path of this backup.",
          "readOnly": true,
          "type": "string"
        },
        "totalSizeBytes": {
          "format": "int64",
          "description": "Output only. Total size of the backup in bytes.",
          "readOnly": true,
          "type": "string"
        },
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "ACTIVE",
            "DELETING",
            "SUSPENDED"
          ],
          "description": "Output only. State of the backup.",
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "The default value, not set.",
            "The backup is being created.",
            "The backup is active to be used.",
            "The backup is being deleted.",
            "The backup is currently suspended due to reasons like project deletion, billing account closure, etc."
          ]
        },
        "replicaCount": {
          "format": "int32",
          "description": "Output only. Number of replicas for the cluster.",
          "readOnly": true,
          "type": "integer"
        },
        "name": {
          "description": "Identifier. Full resource path of the backup. the last part of the name is the backup id with the following format: [YYYYMMDDHHMMSS]_[Shorted Cluster UID] OR customer specified while backup cluster. Example: 20240515123000_1234",
          "type": "string"
        },
        "clusterUid": {
          "description": "Output only. Cluster uid of this backup.",
          "readOnly": true,
          "type": "string"
        },
        "backupType": {
          "enumDescriptions": [
            "The default value, not set.",
            "On-demand backup.",
            "Automated backup."
          ],
          "type": "string",
          "description": "Output only. Type of the backup.",
          "readOnly": true,
          "enum": [
            "BACKUP_TYPE_UNSPECIFIED",
            "ON_DEMAND",
            "AUTOMATED"
          ]
        }
      }
    },
    "RetentionSettings": {
      "id": "RetentionSettings",
      "type": "object",
      "properties": {
        "quantityBasedRetention": {
          "description": "Quantity based retention period i.e. 7 backups",
          "type": "integer",
          "format": "int32"
        },
        "retentionUnit": {
          "enumDescriptions": [
            "Backup retention unit is unspecified, will be treated as COUNT.",
            "Retention will be by count, eg. \"retain the most recent 7 backups\".",
            "Retention will be by Time, eg. \"retain backups till a specific time\" i.e. till 2024-05-01T00:00:00Z.",
            "Retention will be by duration, eg. \"retain the backups for 172800 seconds (2 days)\".",
            "For rest of the other category"
          ],
          "deprecated": true,
          "type": "string",
          "enum": [
            "RETENTION_UNIT_UNSPECIFIED",
            "COUNT",
            "TIME",
            "DURATION",
            "RETENTION_UNIT_OTHER"
          ],
          "description": "The unit that 'retained_backups' represents."
        },
        "timestampBasedRetentionTime": {
          "description": "Timestamp based retention period i.e. 2024-05-01T00:00:00Z",
          "type": "string",
          "format": "google-datetime"
        },
        "timeBasedRetention": {
          "format": "google-duration",
          "deprecated": true,
          "description": "Duration based retention period i.e. 172800 seconds (2 days)",
          "type": "string"
        },
        "durationBasedRetention": {
          "format": "google-duration",
          "description": "Duration based retention period i.e. 172800 seconds (2 days)",
          "type": "string"
        }
      }
    },
    "ClusterMaintenanceSchedule": {
      "id": "ClusterMaintenanceSchedule",
      "description": "Upcoming maintenance schedule.",
      "type": "object",
      "properties": {
        "startTime": {
          "description": "Output only. The start time of any upcoming scheduled maintenance for this instance.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "endTime": {
          "description": "Output only. The end time of any upcoming scheduled maintenance for this instance.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        }
      }
    },
    "DatabaseResourceRecommendationSignalData": {
      "id": "DatabaseResourceRecommendationSignalData",
      "description": "Common model for database resource recommendation signal data.",
      "type": "object",
      "properties": {
        "signalType": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified.",
            "Represents if a resource is protected by automatic failover. Checks for resources that are configured to have redundancy within a region that enables automatic failover.",
            "Represents if a group is replicating across regions. Checks for resources that are configured to have redundancy, and ongoing replication, across regions.",
            "Represents if the resource is available in multiple zones or not.",
            "Represents if a resource is available in multiple regions.",
            "Represents if a resource has a promotable replica.",
            "Represents if a resource has an automated backup policy.",
            "Represents if a resources has a short backup retention period.",
            "Represents if the last backup of a resource failed.",
            "Represents if the last backup of a resource is older than some threshold value.",
            "Represents if a resource violates CIS GCP Foundation 2.0.",
            "Represents if a resource violates CIS GCP Foundation 1.3.",
            "Represents if a resource violates CIS GCP Foundation 1.2.",
            "Represents if a resource violates CIS GCP Foundation 1.1.",
            "Represents if a resource violates CIS GCP Foundation 1.0.",
            "Represents if a resource violates CIS Controls 8.0.",
            "Represents if a resource violates NIST 800-53.",
            "Represents if a resource violates NIST 800-53 R5.",
            "Represents if a resource violates NIST Cybersecurity Framework 1.0.",
            "Represents if a resource violates ISO-27001.",
            "Represents if a resource violates ISO 27001 2022.",
            "Represents if a resource violates PCI-DSS v3.2.1.",
            "Represents if a resource violates PCI-DSS v4.0.",
            "Represents if a resource violates Cloud Controls Matrix v4.0.",
            "Represents if a resource violates HIPAA.",
            "Represents if a resource violates SOC2 v2017.",
            "Represents if log_checkpoints database flag for a Cloud SQL for PostgreSQL instance is not set to on.",
            "Represents if the log_duration database flag for a Cloud SQL for PostgreSQL instance is not set to on.",
            "Represents if the log_error_verbosity database flag for a Cloud SQL for PostgreSQL instance is not set to default or stricter (default or terse).",
            "Represents if the log_lock_waits database flag for a Cloud SQL for PostgreSQL instance is not set to on.",
            "Represents if the log_min_error_statement database flag for a Cloud SQL for PostgreSQL instance is not set appropriately.",
            "Represents if the log_min_error_statement database flag for a Cloud SQL for PostgreSQL instance does not have an appropriate severity level.",
            "Represents if the log_min_messages database flag for a Cloud SQL for PostgreSQL instance is not set to warning or another recommended value.",
            "Represents if the databaseFlags property of instance metadata for the log_executor_status field is set to on.",
            "Represents if the log_hostname database flag for a Cloud SQL for PostgreSQL instance is not set to off.",
            "Represents if the log_parser_stats database flag for a Cloud SQL for PostgreSQL instance is not set to off.",
            "Represents if the log_planner_stats database flag for a Cloud SQL for PostgreSQL instance is not set to off.",
            "Represents if the log_statement database flag for a Cloud SQL for PostgreSQL instance is not set to DDL (all data definition statements).",
            "Represents if the log_statement_stats database flag for a Cloud SQL for PostgreSQL instance is not set to off.",
            "Represents if the log_temp_files database flag for a Cloud SQL for PostgreSQL instance is not set to \"0\". (NOTE: 0 = ON)",
            "Represents if the user connections database flag for a Cloud SQL for SQL Server instance is configured.",
            "Represents if the user options database flag for Cloud SQL SQL Server instance is configured or not.",
            "Represents if a resource is exposed to public access.",
            "Represents if a resources requires all incoming connections to use SSL or not.",
            "Represents if a Cloud SQL database has a password configured for the root account or not.",
            "Represents if a Cloud SQL database has a weak password configured for the root account.",
            "Represents if a SQL database instance is not encrypted with customer-managed encryption keys (CMEK).",
            "Represents if The contained database authentication database flag for a Cloud SQL for SQL Server instance is not set to off.",
            "Represents if the cross_db_ownership_chaining database flag for a Cloud SQL for SQL Server instance is not set to off.",
            "Represents if he external scripts enabled database flag for a Cloud SQL for SQL Server instance is not set to off.",
            "Represents if the local_infile database flag for a Cloud SQL for MySQL instance is not set to off.",
            "Represents if the log_connections database flag for a Cloud SQL for PostgreSQL instance is not set to on.",
            "Represents if the log_disconnections database flag for a Cloud SQL for PostgreSQL instance is not set to on.",
            "Represents if the log_min_duration_statement database flag for a Cloud SQL for PostgreSQL instance is not set to -1.",
            "Represents if the remote access database flag for a Cloud SQL for SQL Server instance is not set to off.",
            "Represents if the skip_show_database database flag for a Cloud SQL for MySQL instance is not set to on.",
            "Represents if the 3625 (trace flag) database flag for a Cloud SQL for SQL Server instance is not set to on.",
            "Represents if public IP is enabled.",
            "Represents Idle instance helps to reduce costs.",
            "Represents instances that are unnecessarily large for given workload.",
            "Represents high number of concurrently opened tables.",
            "Represents high table count close to SLA limit.",
            "Represents high number of unvacuumed transactions",
            "Represents need for more CPU and/or memory",
            "Represents out of disk.",
            "Represents server certificate is near expiry.",
            "Represents database auditing is disabled.",
            "Represents not restricted to authorized networks.",
            "Represents violate org policy restrict public ip.",
            "Cluster nearing quota limit",
            "No password policy set on resources",
            "Performance impact of connections settings",
            "Performance impact of temporary tables settings",
            "Performance impact of transaction logs settings",
            "Performance impact of high joins without indexes",
            "Detects events where a Cloud SQL superuser (postgres for PostgreSQL servers or root for MySQL users) writes to non-system tables.",
            "Detects events where a database user or role has been granted all privileges to a database, or to all tables, procedures, or functions in a schema.",
            "Detects if database instance data exported to a Cloud Storage bucket outside of the organization.",
            "Detects if database instance data exported to a Cloud Storage bucket that is owned by the organization and is publicly accessible.",
            "Detects if a database instance is using a weak password hash algorithm.",
            "Detects if a database instance has no user password policy set.",
            "Detects if a database instance/cluster has a hot node.",
            "Detects if a database instance has no point in time recovery enabled.",
            "Detects if a database instance/cluster is suspended.",
            "Detects that expensive commands are being run on a database instance impacting overall performance.",
            "Indicates that the instance does not have a maintenance policy configured.",
            "Deletion Protection Disabled for the resource",
            "Indicates that the instance has inefficient queries detected.",
            "Indicates that the instance has read intensive workload.",
            "Indicates that the instance is nearing memory limit.",
            "Indicates that the instance's max server memory is configured higher than the recommended value.",
            "Indicates that the database has large rows beyond the recommended limit.",
            "Heavy write pressure on the database rows.",
            "Heavy read pressure on the database rows.",
            "Encryption org policy not satisfied.",
            "Location org policy not satisfied.",
            "Outdated DB minor version.",
            "Schema not optimized.",
            "High number of idle connections.",
            "Replication delay.",
            "Outdated version.",
            "Outdated client.",
            "Databoost is disabled.",
            "Recommended maintenance policy.",
            "Resource version is in extended support.",
            "Change in performance KPIs.",
            "Database version nearing end of life.",
            "Indicates a high risk of maintenance downtime.",
            "Indicates both a low cache hit rate and a risk of maintenance downtime.",
            "Indicates that the resource is missing enhanced protection."
          ],
          "description": "Required. Type of signal, for example, `SIGNAL_TYPE_IDLE`, `SIGNAL_TYPE_HIGH_NUMBER_OF_TABLES`, etc.",
          "enumDeprecated": [
            false,
            false,
            false,
            true,
            true,
            true,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            true,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            true,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false
          ],
          "enum": [
            "SIGNAL_TYPE_UNSPECIFIED",
            "SIGNAL_TYPE_NOT_PROTECTED_BY_AUTOMATIC_FAILOVER",
            "SIGNAL_TYPE_GROUP_NOT_REPLICATING_ACROSS_REGIONS",
            "SIGNAL_TYPE_NOT_AVAILABLE_IN_MULTIPLE_ZONES",
            "SIGNAL_TYPE_NOT_AVAILABLE_IN_MULTIPLE_REGIONS",
            "SIGNAL_TYPE_NO_PROMOTABLE_REPLICA",
            "SIGNAL_TYPE_NO_AUTOMATED_BACKUP_POLICY",
            "SIGNAL_TYPE_SHORT_BACKUP_RETENTION",
            "SIGNAL_TYPE_LAST_BACKUP_FAILED",
            "SIGNAL_TYPE_LAST_BACKUP_OLD",
            "SIGNAL_TYPE_VIOLATES_CIS_GCP_FOUNDATION_2_0",
            "SIGNAL_TYPE_VIOLATES_CIS_GCP_FOUNDATION_1_3",
            "SIGNAL_TYPE_VIOLATES_CIS_GCP_FOUNDATION_1_2",
            "SIGNAL_TYPE_VIOLATES_CIS_GCP_FOUNDATION_1_1",
            "SIGNAL_TYPE_VIOLATES_CIS_GCP_FOUNDATION_1_0",
            "SIGNAL_TYPE_VIOLATES_CIS_CONTROLS_V8_0",
            "SIGNAL_TYPE_VIOLATES_NIST_800_53",
            "SIGNAL_TYPE_VIOLATES_NIST_800_53_R5",
            "SIGNAL_TYPE_VIOLATES_NIST_CYBERSECURITY_FRAMEWORK_V1_0",
            "SIGNAL_TYPE_VIOLATES_ISO_27001",
            "SIGNAL_TYPE_VIOLATES_ISO_27001_V2022",
            "SIGNAL_TYPE_VIOLATES_PCI_DSS_V3_2_1",
            "SIGNAL_TYPE_VIOLATES_PCI_DSS_V4_0",
            "SIGNAL_TYPE_VIOLATES_CLOUD_CONTROLS_MATRIX_V4",
            "SIGNAL_TYPE_VIOLATES_HIPAA",
            "SIGNAL_TYPE_VIOLATES_SOC2_V2017",
            "SIGNAL_TYPE_LOGS_NOT_OPTIMIZED_FOR_TROUBLESHOOTING",
            "SIGNAL_TYPE_QUERY_DURATIONS_NOT_LOGGED",
            "SIGNAL_TYPE_VERBOSE_ERROR_LOGGING",
            "SIGNAL_TYPE_QUERY_LOCK_WAITS_NOT_LOGGED",
            "SIGNAL_TYPE_LOGGING_MOST_ERRORS",
            "SIGNAL_TYPE_LOGGING_ONLY_CRITICAL_ERRORS",
            "SIGNAL_TYPE_MINIMAL_ERROR_LOGGING",
            "SIGNAL_TYPE_QUERY_STATISTICS_LOGGED",
            "SIGNAL_TYPE_EXCESSIVE_LOGGING_OF_CLIENT_HOSTNAME",
            "SIGNAL_TYPE_EXCESSIVE_LOGGING_OF_PARSER_STATISTICS",
            "SIGNAL_TYPE_EXCESSIVE_LOGGING_OF_PLANNER_STATISTICS",
            "SIGNAL_TYPE_NOT_LOGGING_ONLY_DDL_STATEMENTS",
            "SIGNAL_TYPE_LOGGING_QUERY_STATISTICS",
            "SIGNAL_TYPE_NOT_LOGGING_TEMPORARY_FILES",
            "SIGNAL_TYPE_CONNECTION_MAX_NOT_CONFIGURED",
            "SIGNAL_TYPE_USER_OPTIONS_CONFIGURED",
            "SIGNAL_TYPE_EXPOSED_TO_PUBLIC_ACCESS",
            "SIGNAL_TYPE_UNENCRYPTED_CONNECTIONS",
            "SIGNAL_TYPE_NO_ROOT_PASSWORD",
            "SIGNAL_TYPE_WEAK_ROOT_PASSWORD",
            "SIGNAL_TYPE_ENCRYPTION_KEY_NOT_CUSTOMER_MANAGED",
            "SIGNAL_TYPE_SERVER_AUTHENTICATION_NOT_REQUIRED",
            "SIGNAL_TYPE_EXPOSED_BY_OWNERSHIP_CHAINING",
            "SIGNAL_TYPE_EXPOSED_TO_EXTERNAL_SCRIPTS",
            "SIGNAL_TYPE_EXPOSED_TO_LOCAL_DATA_LOADS",
            "SIGNAL_TYPE_CONNECTION_ATTEMPTS_NOT_LOGGED",
            "SIGNAL_TYPE_DISCONNECTIONS_NOT_LOGGED",
            "SIGNAL_TYPE_LOGGING_EXCESSIVE_STATEMENT_INFO",
            "SIGNAL_TYPE_EXPOSED_TO_REMOTE_ACCESS",
            "SIGNAL_TYPE_DATABASE_NAMES_EXPOSED",
            "SIGNAL_TYPE_SENSITIVE_TRACE_INFO_NOT_MASKED",
            "SIGNAL_TYPE_PUBLIC_IP_ENABLED",
            "SIGNAL_TYPE_IDLE",
            "SIGNAL_TYPE_OVERPROVISIONED",
            "SIGNAL_TYPE_HIGH_NUMBER_OF_OPEN_TABLES",
            "SIGNAL_TYPE_HIGH_NUMBER_OF_TABLES",
            "SIGNAL_TYPE_HIGH_TRANSACTION_ID_UTILIZATION",
            "SIGNAL_TYPE_UNDERPROVISIONED",
            "SIGNAL_TYPE_OUT_OF_DISK",
            "SIGNAL_TYPE_SERVER_CERTIFICATE_NEAR_EXPIRY",
            "SIGNAL_TYPE_DATABASE_AUDITING_DISABLED",
            "SIGNAL_TYPE_RESTRICT_AUTHORIZED_NETWORKS",
            "SIGNAL_TYPE_VIOLATE_POLICY_RESTRICT_PUBLIC_IP",
            "SIGNAL_TYPE_QUOTA_LIMIT",
            "SIGNAL_TYPE_NO_PASSWORD_POLICY",
            "SIGNAL_TYPE_CONNECTIONS_PERFORMANCE_IMPACT",
            "SIGNAL_TYPE_TMP_TABLES_PERFORMANCE_IMPACT",
            "SIGNAL_TYPE_TRANS_LOGS_PERFORMANCE_IMPACT",
            "SIGNAL_TYPE_HIGH_JOINS_WITHOUT_INDEXES",
            "SIGNAL_TYPE_SUPERUSER_WRITING_TO_USER_TABLES",
            "SIGNAL_TYPE_USER_GRANTED_ALL_PERMISSIONS",
            "SIGNAL_TYPE_DATA_EXPORT_TO_EXTERNAL_CLOUD_STORAGE_BUCKET",
            "SIGNAL_TYPE_DATA_EXPORT_TO_PUBLIC_CLOUD_STORAGE_BUCKET",
            "SIGNAL_TYPE_WEAK_PASSWORD_HASH_ALGORITHM",
            "SIGNAL_TYPE_NO_USER_PASSWORD_POLICY",
            "SIGNAL_TYPE_HOT_NODE",
            "SIGNAL_TYPE_NO_POINT_IN_TIME_RECOVERY",
            "SIGNAL_TYPE_RESOURCE_SUSPENDED",
            "SIGNAL_TYPE_EXPENSIVE_COMMANDS",
            "SIGNAL_TYPE_NO_MAINTENANCE_POLICY_CONFIGURED",
            "SIGNAL_TYPE_NO_DELETION_PROTECTION",
            "SIGNAL_TYPE_INEFFICIENT_QUERY",
            "SIGNAL_TYPE_READ_INTENSIVE_WORKLOAD",
            "SIGNAL_TYPE_MEMORY_LIMIT",
            "SIGNAL_TYPE_MAX_SERVER_MEMORY",
            "SIGNAL_TYPE_LARGE_ROWS",
            "SIGNAL_TYPE_HIGH_WRITE_PRESSURE",
            "SIGNAL_TYPE_HIGH_READ_PRESSURE",
            "SIGNAL_TYPE_ENCRYPTION_ORG_POLICY_NOT_SATISFIED",
            "SIGNAL_TYPE_LOCATION_ORG_POLICY_NOT_SATISFIED",
            "SIGNAL_TYPE_OUTDATED_MINOR_VERSION",
            "SIGNAL_TYPE_SCHEMA_NOT_OPTIMIZED",
            "SIGNAL_TYPE_MANY_IDLE_CONNECTIONS",
            "SIGNAL_TYPE_REPLICATION_LAG",
            "SIGNAL_TYPE_OUTDATED_VERSION",
            "SIGNAL_TYPE_OUTDATED_CLIENT",
            "SIGNAL_TYPE_DATABOOST_DISABLED",
            "SIGNAL_TYPE_RECOMMENDED_MAINTENANCE_POLICIES",
            "SIGNAL_TYPE_EXTENDED_SUPPORT",
            "SIGNAL_TYPE_PERFORMANCE_KPI_CHANGE",
            "SIGNAL_TYPE_VERSION_NEARING_END_OF_LIFE",
            "SIGNAL_TYPE_HIGH_MAINTENANCE_DOWNTIME_RISK",
            "SIGNAL_TYPE_LOW_CACHE_HIT_AND_MAINTENANCE_DOWNTIME",
            "SIGNAL_TYPE_MISSING_ENHANCED_PROTECTION"
          ]
        },
        "resourceName": {
          "description": "Required. Database resource name associated with the signal. Resource name to follow CAIS resource_name format as noted here go/condor-common-datamodel",
          "type": "string"
        },
        "recommenderId": {
          "description": "Required. ID of recommender. Examples: \"google.cloudsql.instance.PerformanceRecommender\"",
          "type": "string"
        },
        "recommender": {
          "description": "Required. Name of recommendation. Examples: organizations/1234/locations/us-central1/recommenders/google.cloudsql.instance.PerformanceRecommender/recommendations/9876",
          "type": "string"
        },
        "recommenderSubtype": {
          "description": "Required. Contains an identifier for a subtype of recommendations produced for the same recommender. Subtype is a function of content and impact, meaning a new subtype might be added when significant changes to `content` or `primary_impact.category` are introduced. See the Recommenders section to see a list of subtypes for a given Recommender. Examples: For recommender = \"google.cloudsql.instance.PerformanceRecommender\", recommender_subtype can be \"MYSQL_HIGH_NUMBER_OF_OPEN_TABLES_BEST_PRACTICE\"/\"POSTGRES_HIGH_TRANSACTION_ID_UTILIZATION_BEST_PRACTICE\"",
          "type": "string"
        },
        "additionalMetadata": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "description": "Optional. Any other additional metadata specific to recommendation",
          "type": "object"
        },
        "lastRefreshTime": {
          "description": "Required. last time recommendationw as refreshed",
          "type": "string",
          "format": "google-datetime"
        },
        "recommendationState": {
          "description": "Required. Recommendation state",
          "type": "string",
          "enum": [
            "UNSPECIFIED",
            "ACTIVE",
            "CLAIMED",
            "SUCCEEDED",
            "FAILED",
            "DISMISSED"
          ],
          "enumDescriptions": [
            "",
            "Recommendation is active and can be applied. ACTIVE recommendations can be marked as CLAIMED, SUCCEEDED, or FAILED.",
            "Recommendation is in claimed state. Recommendations content is immutable and cannot be updated by Google. CLAIMED recommendations can be marked as CLAIMED, SUCCEEDED, or FAILED.",
            "Recommendation is in succeeded state. Recommendations content is immutable and cannot be updated by Google. SUCCEEDED recommendations can be marked as SUCCEEDED, or FAILED.",
            "Recommendation is in failed state. Recommendations content is immutable and cannot be updated by Google. FAILED recommendations can be marked as SUCCEEDED, or FAILED.",
            "Recommendation is in dismissed state. Recommendation content can be updated by Google. DISMISSED recommendations can be marked as ACTIVE."
          ]
        }
      }
    },
    "ListLocationsResponse": {
      "id": "ListLocationsResponse",
      "description": "The response message for Locations.ListLocations.",
      "type": "object",
      "properties": {
        "locations": {
          "items": {
            "$ref": "Location"
          },
          "description": "A list of locations that matches the specified filter in the request.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        }
      }
    },
    "ResourceMaintenanceDenySchedule": {
      "id": "ResourceMaintenanceDenySchedule",
      "description": "Deny maintenance period for the database resource. It specifies the time range during which the maintenance cannot start. This is configured by the customer.",
      "type": "object",
      "properties": {
        "endDate": {
          "$ref": "Date",
          "description": "Optional. Deny period end date."
        },
        "time": {
          "description": "Optional. Time in UTC when the deny period starts on start_date and ends on end_date.",
          "$ref": "TimeOfDay"
        },
        "startDate": {
          "$ref": "Date",
          "description": "Optional. The start date of the deny maintenance period."
        }
      }
    },
    "Membership": {
      "id": "Membership",
      "description": "An output only view of all the member clusters participating in the cross cluster replication.",
      "type": "object",
      "properties": {
        "primaryCluster": {
          "description": "Output only. The primary cluster that acts as the source of replication for the secondary clusters.",
          "readOnly": true,
          "$ref": "RemoteCluster"
        },
        "secondaryClusters": {
          "items": {
            "$ref": "RemoteCluster"
          },
          "description": "Output only. The list of secondary clusters replicating from the primary cluster.",
          "readOnly": true,
          "type": "array"
        }
      }
    },
    "GcsBackupSource": {
      "id": "GcsBackupSource",
      "description": "Backups stored in Cloud Storage buckets. The Cloud Storage buckets need to be the same region as the clusters.",
      "type": "object",
      "properties": {
        "uris": {
          "items": {
            "type": "string"
          },
          "description": "Optional. URIs of the Cloud Storage objects to import. Example: gs://bucket1/object1, gs://bucket2/folder2/object2",
          "type": "array"
        }
      }
    },
    "ZoneDistributionConfig": {
      "id": "ZoneDistributionConfig",
      "description": "Zone distribution config for allocation of cluster resources.",
      "type": "object",
      "properties": {
        "mode": {
          "description": "Optional. The mode of zone distribution. Defaults to MULTI_ZONE, when not specified.",
          "type": "string",
          "enum": [
            "ZONE_DISTRIBUTION_MODE_UNSPECIFIED",
            "MULTI_ZONE",
            "SINGLE_ZONE"
          ],
          "enumDescriptions": [
            "Not Set. Default: MULTI_ZONE",
            "Distribute all resources across 3 zones picked at random, within the region.",
            "Distribute all resources in a single zone. The zone field must be specified, when this mode is selected."
          ]
        },
        "zones": {
          "items": {
            "type": "string"
          },
          "description": "Optional. Specify the zones of a multi-zone cluster where Redis Cluster allocates resources. This flag isn't applicable for single-zone clusters.",
          "type": "array"
        },
        "zone": {
          "description": "Optional. When SINGLE ZONE distribution is selected, zone field would be used to allocate all resources in that zone. This is not applicable to MULTI_ZONE, and would be ignored for MULTI_ZONE clusters.",
          "type": "string"
        }
      }
    },
    "BackupClusterRequest": {
      "id": "BackupClusterRequest",
      "description": "Request for `BackupCluster`.",
      "type": "object",
      "properties": {
        "ttl": {
          "description": "Optional. TTL for the backup to expire. Value range is 1 day to 100 years. If not specified, the default value is 100 years.",
          "type": "string",
          "format": "google-duration"
        },
        "backupId": {
          "description": "Optional. The id of the backup to be created. If not specified, the default value ([YYYYMMDDHHMMSS]_[Shortened Cluster UID] is used.",
          "type": "string"
        }
      }
    },
    "ImportInstanceRequest": {
      "id": "ImportInstanceRequest",
      "description": "Request for Import.",
      "type": "object",
      "properties": {
        "inputConfig": {
          "$ref": "InputConfig",
          "description": "Required. Specify data to be imported."
        }
      }
    },
    "GoogleCloudRedisV1beta1ZoneMetadata": {
      "id": "GoogleCloudRedisV1beta1ZoneMetadata",
      "description": "Defines specific information for a particular zone. Currently empty and reserved for future use only.",
      "type": "object",
      "properties": {}
    },
    "PersistenceConfig": {
      "id": "PersistenceConfig",
      "description": "Configuration of the persistence functionality.",
      "type": "object",
      "properties": {
        "rdbSnapshotStartTime": {
          "description": "Optional. Date and time that the first snapshot was/will be attempted, and to which future snapshots will be aligned. If not provided, the current time will be used.",
          "type": "string",
          "format": "google-datetime"
        },
        "persistenceMode": {
          "enumDescriptions": [
            "Not set.",
            "Persistence is disabled for the instance, and any existing snapshots are deleted.",
            "RDB based Persistence is enabled."
          ],
          "enum": [
            "PERSISTENCE_MODE_UNSPECIFIED",
            "DISABLED",
            "RDB"
          ],
          "description": "Optional. Controls whether Persistence features are enabled. If not provided, the existing value will be used.",
          "type": "string"
        },
        "rdbSnapshotPeriod": {
          "description": "Optional. Period between RDB snapshots. Snapshots will be attempted every period starting from the provided snapshot start time. For example, a start time of 01/01/2033 06:45 and SIX_HOURS snapshot period will do nothing until 01/01/2033, and then trigger snapshots every day at 06:45, 12:45, 18:45, and 00:45 the next day, and so on. If not provided, TWENTY_FOUR_HOURS will be used as default.",
          "type": "string",
          "enum": [
            "SNAPSHOT_PERIOD_UNSPECIFIED",
            "ONE_HOUR",
            "SIX_HOURS",
            "TWELVE_HOURS",
            "TWENTY_FOUR_HOURS"
          ],
          "enumDescriptions": [
            "Not set.",
            "Snapshot every 1 hour.",
            "Snapshot every 6 hours.",
            "Snapshot every 12 hours.",
            "Snapshot every 24 hours."
          ]
        },
        "rdbNextSnapshotTime": {
          "format": "google-datetime",
          "description": "Output only. The next time that a snapshot attempt is scheduled to occur.",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "GcsSource": {
      "id": "GcsSource",
      "description": "The Cloud Storage location for the input content",
      "type": "object",
      "properties": {
        "uri": {
          "description": "Required. Source data URI. (e.g. 'gs://my_bucket/my_object').",
          "type": "string"
        }
      }
    },
    "Operation": {
      "id": "Operation",
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "type": "object",
      "properties": {
        "metadata": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "description": "{ `createTime`: The time the operation was created. `endTime`: The time the operation finished running. `target`: Server-defined resource path for the target of the operation. `verb`: Name of the verb executed by the operation. `statusDetail`: Human-readable status of the operation, if any. `cancelRequested`: Identifies whether the user has requested cancellation of the operation. Operations that have successfully been cancelled have Operation.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`. `apiVersion`: API version used to start the operation. }",
          "type": "object"
        },
        "done": {
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available.",
          "type": "boolean"
        },
        "response": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "type": "object"
        },
        "name": {
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`.",
          "type": "string"
        },
        "error": {
          "$ref": "Status",
          "description": "The error result of the operation in case of failure or cancellation."
        }
      }
    },
    "DatabaseResourceFeed": {
      "id": "DatabaseResourceFeed",
      "description": "DatabaseResourceFeed is the top level proto to be used to ingest different database resource level events into Condor platform. Next ID: 13",
      "type": "object",
      "properties": {
        "feedTimestamp": {
          "format": "google-datetime",
          "description": "Required. Timestamp when feed is generated.",
          "type": "string"
        },
        "resourceHealthSignalData": {
          "$ref": "DatabaseResourceHealthSignalData",
          "description": "Database resource health signal data."
        },
        "skipIngestion": {
          "description": "Optional. If true, the feed won't be ingested by DB Center. This indicates that the feed is intentionally skipped. For example, BackupDR feeds are only needed for resources integrated with DB Center (e.g., CloudSQL, AlloyDB). Feeds for non-integrated resources (e.g., Compute Engine, Persistent Disk) can be skipped.",
          "type": "boolean"
        },
        "observabilityMetricData": {
          "$ref": "ObservabilityMetricData",
          "description": "Observability metric data."
        },
        "recommendationSignalData": {
          "$ref": "DatabaseResourceRecommendationSignalData",
          "description": "Database resource recommendation signal data."
        },
        "feedType": {
          "enumDescriptions": [
            "Unspecified feed type. Not expected to be used.",
            "Database resource metadata feed from control plane",
            "Database resource monitoring data",
            "Database resource security health signal data",
            "Database resource recommendation signal data",
            "Database config based signal data",
            "Database resource metadata from BackupDR",
            "Database resource signal data"
          ],
          "enum": [
            "FEEDTYPE_UNSPECIFIED",
            "RESOURCE_METADATA",
            "OBSERVABILITY_DATA",
            "SECURITY_FINDING_DATA",
            "RECOMMENDATION_SIGNAL_DATA",
            "CONFIG_BASED_SIGNAL_DATA",
            "BACKUPDR_METADATA",
            "DATABASE_RESOURCE_SIGNAL_DATA"
          ],
          "description": "Required. Type feed to be ingested into condor",
          "type": "string"
        },
        "configBasedSignalData": {
          "$ref": "ConfigBasedSignalData",
          "description": "Config based signal data is used to ingest signals that are generated based on the configuration of the database resource."
        },
        "databaseResourceSignalData": {
          "$ref": "DatabaseResourceSignalData",
          "description": "Database resource signal data is used to ingest signals from database resource signal feeds."
        },
        "resourceId": {
          "$ref": "DatabaseResourceId",
          "deprecated": true,
          "description": "Primary key associated with the Resource. resource_id is available in individual feed level as well."
        },
        "resourceMetadata": {
          "$ref": "DatabaseResourceMetadata",
          "description": "Database resource metadata."
        },
        "backupdrMetadata": {
          "description": "BackupDR metadata is used to ingest metadata from BackupDR.",
          "$ref": "BackupDRMetadata"
        }
      }
    },
    "ObservabilityMetricData": {
      "id": "ObservabilityMetricData",
      "type": "object",
      "properties": {
        "resourceName": {
          "description": "Required. Database resource name associated with the signal. Resource name to follow CAIS resource_name format as noted here go/condor-common-datamodel",
          "type": "string"
        },
        "value": {
          "description": "Required. Value of the metric type.",
          "$ref": "TypedValue"
        },
        "metricType": {
          "enum": [
            "METRIC_TYPE_UNSPECIFIED",
            "CPU_UTILIZATION",
            "MEMORY_UTILIZATION",
            "NETWORK_CONNECTIONS",
            "STORAGE_UTILIZATION",
            "STORAGE_USED_BYTES",
            "NODE_COUNT",
            "MEMORY_USED_BYTES",
            "PROCESSING_UNIT_COUNT"
          ],
          "description": "Required. Type of metric like CPU, Memory, etc.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified metric type.",
            "CPU utilization for a resource. The value is a fraction between 0.0 and 1.0 (may momentarily exceed 1.0 in some cases).",
            "Memory utilization for a resource. The value is a fraction between 0.0 and 1.0 (may momentarily exceed 1.0 in some cases).",
            "Number of network connections for a resource.",
            "Storage utilization for a resource. The value is a fraction between 0.0 and 1.0 (may momentarily exceed 1.0 in some cases).",
            "Sotrage used by a resource.",
            "Node count for a resource. It represents the number of node units in a bigtable/spanner instance.",
            "Memory used by a resource (in bytes).",
            "Processing units used by a resource. It represents the number of processing units in a spanner instance."
          ]
        },
        "observationTime": {
          "format": "google-datetime",
          "description": "Required. The time the metric value was observed.",
          "type": "string"
        },
        "aggregationType": {
          "enum": [
            "AGGREGATION_TYPE_UNSPECIFIED",
            "PEAK",
            "P99",
            "P95",
            "CURRENT"
          ],
          "description": "Required. Type of aggregation performed on the metric.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified aggregation type.",
            "PEAK aggregation type.",
            "P99 aggregation type.",
            "P95 aggregation type.",
            "current aggregation type."
          ]
        }
      }
    },
    "SignalMetadata": {
      "id": "SignalMetadata",
      "description": "SignalMetadata contains one of the signal metadata proto messages associated with a SignalType. This proto will be mapped to SignalMetadata message in storage.proto. Next ID: 3",
      "type": "object",
      "properties": {
        "signalBoolValue": {
          "description": "Signal data for boolean signals.",
          "type": "boolean"
        },
        "backupRun": {
          "description": "Signal data for backup runs.",
          "$ref": "BackupRun"
        }
      }
    },
    "CertificateAuthority": {
      "id": "CertificateAuthority",
      "description": "Redis cluster certificate authority",
      "type": "object",
      "properties": {
        "managedServerCa": {
          "$ref": "ManagedCertificateAuthority"
        },
        "name": {
          "description": "Identifier. Unique name of the resource in this scope including project, location and cluster using the form: `projects/{project}/locations/{location}/clusters/{cluster}/certificateAuthority`",
          "type": "string"
        }
      }
    },
    "Instance": {
      "id": "Instance",
      "description": "A Memorystore for Redis instance.",
      "type": "object",
      "properties": {
        "createTime": {
          "description": "Output only. The time the instance was created.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "satisfiesPzi": {
          "description": "Optional. Output only. Reserved for future use.",
          "readOnly": true,
          "type": "boolean"
        },
        "persistenceIamIdentity": {
          "description": "Output only. Cloud IAM identity used by import / export operations to transfer data to/from Cloud Storage. Format is \"serviceAccount:\". The value may change over time for a given instance so should be checked before each import/export operation.",
          "readOnly": true,
          "type": "string"
        },
        "connectMode": {
          "description": "Optional. The network connect mode of the Redis instance. If not provided, the connect mode defaults to DIRECT_PEERING.",
          "type": "string",
          "enum": [
            "CONNECT_MODE_UNSPECIFIED",
            "DIRECT_PEERING",
            "PRIVATE_SERVICE_ACCESS"
          ],
          "enumDescriptions": [
            "Not set.",
            "Connect via direct peering to the Memorystore for Redis hosted service.",
            "Connect your Memorystore for Redis instance using Private Service Access. Private services access provides an IP address range for multiple Google Cloud services, including Memorystore."
          ]
        },
        "currentLocationId": {
          "description": "Output only. The current zone where the Redis primary node is located. In basic tier, this will always be the same as [location_id]. In standard tier, this can be the zone of any node in the instance.",
          "readOnly": true,
          "type": "string"
        },
        "statusMessage": {
          "description": "Output only. Additional information about the current status of this instance, if available.",
          "readOnly": true,
          "type": "string"
        },
        "reservedIpRange": {
          "description": "Optional. For DIRECT_PEERING mode, the CIDR range of internal addresses that are reserved for this instance. Range must be unique and non-overlapping with existing subnets in an authorized network. For PRIVATE_SERVICE_ACCESS mode, the name of one allocated IP address ranges associated with this private service access connection. If not provided, the service will choose an unused /29 block, for example, 10.0.0.0/29 or 192.168.0.0/29. For READ_REPLICAS_ENABLED the default block size is /28.",
          "type": "string"
        },
        "maintenancePolicy": {
          "$ref": "MaintenancePolicy",
          "description": "Optional. The maintenance policy for the instance. If not provided, maintenance events can be performed at any time."
        },
        "serverCaCerts": {
          "items": {
            "$ref": "TlsCertificate"
          },
          "description": "Output only. List of server CA certificates for the instance.",
          "readOnly": true,
          "type": "array"
        },
        "tier": {
          "description": "Required. The service tier of the instance.",
          "type": "string",
          "enum": [
            "TIER_UNSPECIFIED",
            "BASIC",
            "STANDARD_HA"
          ],
          "enumDescriptions": [
            "Not set.",
            "BASIC tier: standalone instance",
            "STANDARD_HA tier: highly available primary/replica instances"
          ]
        },
        "authorizedNetwork": {
          "description": "Optional. The full name of the Google Compute Engine [network](https://cloud.google.com/vpc/docs/vpc) to which the instance is connected. If left unspecified, the `default` network will be used.",
          "type": "string"
        },
        "suspensionReasons": {
          "description": "Optional. reasons that causes instance in \"SUSPENDED\" state.",
          "type": "array",
          "items": {
            "enumDescriptions": [
              "Not set.",
              "Something wrong with the CMEK key provided by customer."
            ],
            "type": "string",
            "enum": [
              "SUSPENSION_REASON_UNSPECIFIED",
              "CUSTOMER_MANAGED_KEY_ISSUE"
            ]
          }
        },
        "persistenceConfig": {
          "description": "Optional. Persistence configuration parameters",
          "$ref": "PersistenceConfig"
        },
        "authEnabled": {
          "description": "Optional. Indicates whether OSS Redis AUTH is enabled for the instance. If set to \"true\" AUTH is enabled on the instance. Default value is \"false\" meaning AUTH is disabled.",
          "type": "boolean"
        },
        "nodes": {
          "items": {
            "$ref": "NodeInfo"
          },
          "description": "Output only. Info per node.",
          "readOnly": true,
          "type": "array"
        },
        "readEndpoint": {
          "description": "Output only. Hostname or IP address of the exposed readonly Redis endpoint. Standard tier only. Targets all healthy replica nodes in instance. Replication is asynchronous and replica nodes will exhibit some lag behind the primary. Write requests must target 'host'.",
          "readOnly": true,
          "type": "string"
        },
        "alternativeLocationId": {
          "description": "Optional. If specified, at least one node will be provisioned in this zone in addition to the zone specified in location_id. Only applicable to standard tier. If provided, it must be a different zone from the one provided in [location_id]. Additional nodes beyond the first 2 will be placed in zones selected by the service.",
          "type": "string"
        },
        "secondaryIpRange": {
          "description": "Optional. Additional IP range for node placement. Required when enabling read replicas on an existing instance. For DIRECT_PEERING mode value must be a CIDR range of size /28, or \"auto\". For PRIVATE_SERVICE_ACCESS mode value must be the name of an allocated address range associated with the private service access connection, or \"auto\".",
          "type": "string"
        },
        "readReplicasMode": {
          "enumDescriptions": [
            "If not set, Memorystore Redis backend will default to READ_REPLICAS_DISABLED.",
            "If disabled, read endpoint will not be provided and the instance cannot scale up or down the number of replicas.",
            "If enabled, read endpoint will be provided and the instance can scale up and down the number of replicas. Not valid for basic tier."
          ],
          "enum": [
            "READ_REPLICAS_MODE_UNSPECIFIED",
            "READ_REPLICAS_DISABLED",
            "READ_REPLICAS_ENABLED"
          ],
          "description": "Optional. Read replicas mode for the instance. Defaults to READ_REPLICAS_DISABLED.",
          "type": "string"
        },
        "labels": {
          "description": "Resource labels to represent user provided metadata",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "satisfiesPzs": {
          "description": "Optional. Output only. Reserved for future use.",
          "readOnly": true,
          "type": "boolean"
        },
        "port": {
          "format": "int32",
          "description": "Output only. The port number of the exposed Redis endpoint.",
          "readOnly": true,
          "type": "integer"
        },
        "memorySizeGb": {
          "description": "Required. Redis memory size in GiB.",
          "type": "integer",
          "format": "int32"
        },
        "locationId": {
          "description": "Optional. The zone where the instance will be provisioned. If not provided, the service will choose a zone from the specified region for the instance. For standard tier, additional nodes will be added across multiple zones for protection against zonal failures. If specified, at least one node will be provisioned in this zone.",
          "type": "string"
        },
        "maintenanceVersion": {
          "description": "Optional. The self service update maintenance version. The version is date based such as \"20210712_00_00\".",
          "type": "string"
        },
        "host": {
          "description": "Output only. Hostname or IP address of the exposed Redis endpoint used by clients to connect to the service.",
          "readOnly": true,
          "type": "string"
        },
        "redisConfigs": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. Redis configuration parameters, according to [Redis configuration](https://redis.io/docs/latest/operate/oss_and_stack/management/config/). Currently, the only supported parameters are: Redis version 3.2 and newer: * maxmemory-policy * notify-keyspace-events Redis version 4.0 and newer: * activedefrag * lfu-decay-time * lfu-log-factor * maxmemory-gb Redis version 5.0 and newer: * stream-node-max-bytes * stream-node-max-entries",
          "type": "object"
        },
        "customerManagedKey": {
          "description": "Optional. The KMS key reference that the customer provides when trying to create the instance.",
          "type": "string"
        },
        "transitEncryptionMode": {
          "enum": [
            "TRANSIT_ENCRYPTION_MODE_UNSPECIFIED",
            "SERVER_AUTHENTICATION",
            "DISABLED"
          ],
          "description": "Optional. The TLS mode of the Redis instance. If not provided, TLS is disabled for the instance.",
          "type": "string",
          "enumDescriptions": [
            "Not set.",
            "Client to Server traffic encryption enabled with server authentication.",
            "TLS is disabled for the instance."
          ]
        },
        "tags": {
          "description": "Optional. Input only. Immutable. Tag keys/values directly bound to this resource. For example: \"123/environment\": \"production\", \"123/costCenter\": \"marketing\"",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "state": {
          "description": "Output only. The current state of this instance.",
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "READY",
            "UPDATING",
            "DELETING",
            "REPAIRING",
            "MAINTENANCE",
            "IMPORTING",
            "FAILING_OVER"
          ],
          "enumDescriptions": [
            "Not set.",
            "Redis instance is being created.",
            "Redis instance has been created and is fully usable.",
            "Redis instance configuration is being updated. Certain kinds of updates may cause the instance to become unusable while the update is in progress.",
            "Redis instance is being deleted.",
            "Redis instance is being repaired and may be unusable.",
            "Maintenance is being performed on this Redis instance.",
            "Redis instance is importing data (availability may be affected).",
            "Redis instance is failing over (availability may be affected)."
          ],
          "type": "string"
        },
        "displayName": {
          "description": "An arbitrary and optional user-provided name for the instance.",
          "type": "string"
        },
        "redisVersion": {
          "description": "Optional. The version of Redis software. If not provided, latest supported version will be used. Currently, the supported values are: * `REDIS_3_2` for Redis 3.2 compatibility * `REDIS_4_0` for Redis 4.0 compatibility (default) * `REDIS_5_0` for Redis 5.0 compatibility * `REDIS_6_X` for Redis 6.x compatibility * `REDIS_7_0` for Redis 7.0 compatibility",
          "type": "string"
        },
        "readEndpointPort": {
          "description": "Output only. The port number of the exposed readonly redis endpoint. Standard tier only. Write requests should target 'port'.",
          "readOnly": true,
          "type": "integer",
          "format": "int32"
        },
        "maintenanceSchedule": {
          "description": "Output only. Date and time of upcoming maintenance events which have been scheduled.",
          "readOnly": true,
          "$ref": "MaintenanceSchedule"
        },
        "replicaCount": {
          "description": "Optional. The number of replica nodes. The valid range for the Standard Tier with read replicas enabled is [1-5] and defaults to 2. If read replicas are not enabled for a Standard Tier instance, the only valid value is 1 and the default is 1. The valid value for basic tier is 0 and the default is also 0.",
          "type": "integer",
          "format": "int32"
        },
        "name": {
          "description": "Required. Unique name of the resource in this scope including project and location using the form: `projects/{project_id}/locations/{location_id}/instances/{instance_id}` Note: Redis instances are managed and addressed at regional level so location_id here refers to a GCP region; however, users may choose which specific zone (or collection of zones for cross-zone instances) an instance should be provisioned in. Refer to location_id and alternative_location_id fields for more details.",
          "type": "string"
        },
        "availableMaintenanceVersions": {
          "description": "Optional. The available maintenance versions that an instance could update to.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "Tags": {
      "id": "Tags",
      "description": "Message type for storing tags. Tags provide a way to create annotations for resources, and in some cases conditionally allow or deny policies based on whether a resource has a specific tag.",
      "type": "object",
      "properties": {
        "tags": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "The Tag key/value mappings.",
          "type": "object"
        }
      }
    },
    "ManagedBackupSource": {
      "id": "ManagedBackupSource",
      "description": "Backups that generated and managed by memorystore.",
      "type": "object",
      "properties": {
        "backup": {
          "description": "Optional. Example: //redis.googleapis.com/projects/{project}/locations/{location}/backupCollections/{collection}/backups/{backup} A shorter version (without the prefix) of the backup name is also supported, like projects/{project}/locations/{location}/backupCollections/{collection}/backups/{backup_id} In this case, it assumes the backup is under redis.googleapis.com.",
          "type": "string"
        }
      }
    },
    "Location": {
      "id": "Location",
      "description": "A resource that represents a Google Cloud location.",
      "type": "object",
      "properties": {
        "metadata": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "description": "Output only. The set of available zones in the location. The map is keyed by the lowercase ID of each zone, as defined by Compute Engine. These keys can be specified in `location_id` or `alternative_location_id` fields when creating a Redis instance.",
          "type": "object"
        },
        "locationId": {
          "description": "Resource ID for the region. For example: \"us-east1\".",
          "type": "string"
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Cross-service attributes for the location. For example {\"cloud.googleapis.com/region\": \"us-east1\"}",
          "type": "object"
        },
        "name": {
          "description": "Full resource name for the region. For example: \"projects/example-project/locations/us-east1\".",
          "type": "string"
        },
        "displayName": {
          "description": "The friendly name for this location, typically a nearby city name. For example, \"Tokyo\".",
          "type": "string"
        }
      }
    },
    "AutomatedBackupConfig": {
      "id": "AutomatedBackupConfig",
      "description": "The automated backup config for a cluster.",
      "type": "object",
      "properties": {
        "fixedFrequencySchedule": {
          "description": "Optional. Trigger automated backups at a fixed frequency.",
          "$ref": "FixedFrequencySchedule"
        },
        "retention": {
          "format": "google-duration",
          "description": "Optional. How long to keep automated backups before the backups are deleted. The value should be between 1 day and 365 days. If not specified, the default value is 35 days.",
          "type": "string"
        },
        "automatedBackupMode": {
          "enumDescriptions": [
            "Default value. Automated backup config is not specified.",
            "Automated backup config disabled.",
            "Automated backup config enabled."
          ],
          "enum": [
            "AUTOMATED_BACKUP_MODE_UNSPECIFIED",
            "DISABLED",
            "ENABLED"
          ],
          "description": "Optional. The automated backup mode. If the mode is disabled, the other fields will be ignored.",
          "type": "string"
        }
      }
    },
    "AclPolicyRevisionStatus": {
      "id": "AclPolicyRevisionStatus",
      "description": "AclPolicyRevisionStatus stores the per-revision status for an attached cluster.",
      "type": "object",
      "properties": {
        "aclPolicyRevisionNumber": {
          "format": "int64",
          "description": "Output only. The revision number of the ACL policy revision this status refers to.",
          "readOnly": true,
          "type": "string"
        },
        "errorMessage": {
          "description": "Output only. Human-readable error message providing more details for FAILED states.",
          "readOnly": true,
          "type": "string"
        },
        "aclPolicyRevision": {
          "description": "Output only. The resource name of the ACL policy revision this status refers to. Format: \"projects/{project}/locations/{location}/aclPolicies/{acl_policy}/revisions/{revision}\"",
          "readOnly": true,
          "type": "string"
        },
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "APPLYING",
            "APPLIED",
            "FAILED"
          ],
          "description": "Output only. AclPolicyRevision state.",
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "Not set.",
            "The cluster is attempting to apply this revision.",
            "The cluster has successfully applied this revision.",
            "The cluster failed to apply this revision."
          ]
        }
      }
    },
    "RescheduleClusterMaintenanceRequest": {
      "id": "RescheduleClusterMaintenanceRequest",
      "description": "Request for rescheduling a cluster maintenance.",
      "type": "object",
      "properties": {
        "scheduleTime": {
          "description": "Optional. Timestamp when the maintenance shall be rescheduled to if reschedule_type=SPECIFIC_TIME, in RFC 3339 format, for example `2012-11-15T16:19:00.094Z`.",
          "type": "string",
          "format": "google-datetime"
        },
        "rescheduleType": {
          "description": "Required. If reschedule type is SPECIFIC_TIME, must set up schedule_time as well.",
          "type": "string",
          "enum": [
            "RESCHEDULE_TYPE_UNSPECIFIED",
            "IMMEDIATE",
            "SPECIFIC_TIME"
          ],
          "enumDescriptions": [
            "Not set.",
            "If the user wants to schedule the maintenance to happen now.",
            "If the user wants to reschedule the maintenance to a specific time."
          ]
        }
      }
    },
    "BackupDRConfiguration": {
      "id": "BackupDRConfiguration",
      "description": "BackupDRConfiguration to capture the backup and disaster recovery details of database resource.",
      "type": "object",
      "properties": {
        "backupdrManaged": {
          "description": "Indicates if the resource is managed by BackupDR.",
          "type": "boolean"
        }
      }
    },
    "ListAclPolicyRevisionsResponse": {
      "id": "ListAclPolicyRevisionsResponse",
      "description": "Response for `ListAclPolicyRevisions`.",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "Token to retrieve the next page of results, or empty if there are no more results in the list.",
          "type": "string"
        },
        "aclPolicyRevisions": {
          "items": {
            "$ref": "AclPolicyRevision"
          },
          "description": "A list of ACL policy revisions.",
          "type": "array"
        },
        "unreachable": {
          "items": {
            "type": "string"
          },
          "description": "Unordered list. Locations that could not be reached.",
          "type": "array"
        }
      }
    },
    "ListAuthTokensResponse": {
      "id": "ListAuthTokensResponse",
      "description": "Response message for ListAuthTokens.",
      "type": "object",
      "properties": {
        "unreachable": {
          "items": {
            "type": "string"
          },
          "description": "Unordered list. Auth tokens that could not be reached.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "Token to retrieve the next page of results, or empty if there are no more results in the list.",
          "type": "string"
        },
        "authTokens": {
          "items": {
            "$ref": "AuthToken"
          },
          "description": "A list of auth tokens in the project.",
          "type": "array"
        }
      }
    },
    "OperationMetadata": {
      "id": "OperationMetadata",
      "description": "Pre-defined metadata fields.",
      "type": "object",
      "properties": {
        "requestedCancellation": {
          "description": "Output only. Identifies whether the user has requested cancellation of the operation. Operations that have successfully been cancelled have Operation.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`.",
          "readOnly": true,
          "type": "boolean"
        },
        "target": {
          "description": "Output only. Server-defined resource path for the target of the operation.",
          "readOnly": true,
          "type": "string"
        },
        "statusMessage": {
          "description": "Output only. Human-readable status of the operation, if any.",
          "readOnly": true,
          "type": "string"
        },
        "createTime": {
          "format": "google-datetime",
          "description": "Output only. The time the operation was created.",
          "readOnly": true,
          "type": "string"
        },
        "endTime": {
          "description": "Output only. The time the operation finished running.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "apiVersion": {
          "description": "Output only. API version used to start the operation.",
          "readOnly": true,
          "type": "string"
        },
        "verb": {
          "description": "Output only. Name of the verb executed by the operation.",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "GoogleCloudCommonOperationMetadata": {
      "id": "GoogleCloudCommonOperationMetadata",
      "description": "Represents the metadata of the long-running operation.",
      "type": "object",
      "properties": {
        "target": {
          "description": "Output only. Server-defined resource path for the target of the operation.",
          "readOnly": true,
          "type": "string"
        },
        "verb": {
          "description": "Output only. Name of the verb executed by the operation.",
          "readOnly": true,
          "type": "string"
        },
        "endTime": {
          "description": "Output only. The time the operation finished running.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "cancelRequested": {
          "description": "Output only. Identifies whether the user has requested cancellation of the operation. Operations that have been cancelled successfully have google.longrunning.Operation.error value with a google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`.",
          "readOnly": true,
          "type": "boolean"
        },
        "apiVersion": {
          "description": "Output only. API version used to start the operation.",
          "readOnly": true,
          "type": "string"
        },
        "createTime": {
          "format": "google-datetime",
          "description": "Output only. The time the operation was created.",
          "readOnly": true,
          "type": "string"
        },
        "statusDetail": {
          "description": "Output only. Human-readable status of the operation, if any.",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "AclPolicyInfo": {
      "id": "AclPolicyInfo",
      "description": "Details of the applied ACL policy.",
      "type": "object",
      "properties": {
        "appliedAclPolicyRevisionNumber": {
          "description": "Output only. The revision number of the applied ACL policy revision.",
          "readOnly": true,
          "type": "string",
          "format": "int64"
        },
        "appliedAclPolicy": {
          "description": "Output only. The resource name of the applied ACL policy. Format: \"projects/{project}/locations/{location}/aclPolicies/{acl_policy}\"",
          "readOnly": true,
          "type": "string"
        },
        "aclPolicyRevisionStatuses": {
          "items": {
            "$ref": "AclPolicyRevisionStatus"
          },
          "description": "Output only. A list of status for various revisions of this ACL policy on the cluster.",
          "readOnly": true,
          "type": "array"
        },
        "appliedAclPolicyRevision": {
          "description": "Output only. The resource name of the applied ACL policy revision. Format: \"projects/{project}/locations/{location}/aclPolicies/{acl_policy}/revisions/{revision}\"",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "FailoverInstanceRequest": {
      "id": "FailoverInstanceRequest",
      "description": "Request for Failover.",
      "type": "object",
      "properties": {
        "dataProtectionMode": {
          "enumDescriptions": [
            "Defaults to LIMITED_DATA_LOSS if a data protection mode is not specified.",
            "Instance failover will be protected with data loss control. More specifically, the failover will only be performed if the current replication offset diff between primary and replica is under a certain threshold.",
            "Instance failover will be performed without data loss control."
          ],
          "enum": [
            "DATA_PROTECTION_MODE_UNSPECIFIED",
            "LIMITED_DATA_LOSS",
            "FORCE_DATA_LOSS"
          ],
          "description": "Optional. Available data protection modes that the user can choose. If it's unspecified, data protection mode will be LIMITED_DATA_LOSS by default.",
          "type": "string"
        }
      }
    },
    "GCBDRConfiguration": {
[...]
