{
  "version": "v1beta1",
  "servicePath": "",
  "discoveryVersion": "v1",
  "basePath": "",
  "rootUrl": "https://redis.googleapis.com/",
  "canonicalName": "Cloud Redis",
  "schemas": {
    "BackupFile": {
      "description": "Backup is consisted of multiple backup files.",
      "id": "BackupFile",
      "properties": {
        "sizeBytes": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Size of the backup file in bytes.",
          "format": "int64"
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The time when the backup file was created."
        },
        "fileName": {
          "description": "Output only. e.g: .rdb",
          "readOnly": true,
          "type": "string"
        }
      },
      "type": "object"
    },
    "GcsDestination": {
      "properties": {
        "uri": {
          "description": "Required. Data destination URI (e.g. 'gs://my_bucket/my_object'). Existing files will be overwritten.",
          "type": "string"
        }
      },
      "id": "GcsDestination",
      "type": "object",
      "description": "The Cloud Storage location for the output content"
    },
    "BackupDRConfiguration": {
      "properties": {
        "backupdrManaged": {
          "description": "Indicates if the resource is managed by BackupDR.",
          "type": "boolean"
        }
      },
      "type": "object",
      "description": "BackupDRConfiguration to capture the backup and disaster recovery details of database resource.",
      "id": "BackupDRConfiguration"
    },
    "Compliance": {
      "properties": {
        "standard": {
          "type": "string",
          "description": "Industry-wide compliance standards or benchmarks, such as CIS, PCI, and OWASP."
        },
        "version": {
          "description": "Version of the standard or benchmark, for example, 1.1",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Contains compliance information about a security standard indicating unmet recommendations.",
      "id": "Compliance"
    },
    "ListAclPolicyRevisionsResponse": {
      "type": "object",
      "id": "ListAclPolicyRevisionsResponse",
      "properties": {
        "nextPageToken": {
          "description": "Token to retrieve the next page of results, or empty if there are no more results in the list.",
          "type": "string"
        },
        "aclPolicyRevisions": {
          "type": "array",
          "description": "A list of ACL policy revisions.",
          "items": {
            "$ref": "AclPolicyRevision"
          }
        },
        "unreachable": {
          "items": {
            "type": "string"
          },
          "description": "Unordered list. Locations that could not be reached.",
          "type": "array"
        }
      },
      "description": "Response for `ListAclPolicyRevisions`."
    },
    "CertChain": {
      "type": "object",
      "properties": {
        "certificates": {
          "items": {
            "type": "string"
          },
          "description": "The certificates that form the CA chain, from leaf to root order.",
          "type": "array"
        }
      },
      "id": "CertChain"
    },
    "ObservabilityMetricData": {
      "properties": {
        "observationTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Required. The time the metric value was observed."
        },
        "aggregationType": {
          "description": "Required. Type of aggregation performed on the metric.",
          "enum": [
            "AGGREGATION_TYPE_UNSPECIFIED",
            "PEAK",
            "P99",
            "P95",
            "CURRENT"
          ],
          "enumDescriptions": [
            "Unspecified aggregation type.",
            "PEAK aggregation type.",
            "P99 aggregation type.",
            "P95 aggregation type.",
            "current aggregation type."
          ],
          "type": "string"
        },
        "value": {
          "$ref": "TypedValue",
          "description": "Required. Value of the metric type."
        },
        "resourceName": {
          "type": "string",
          "description": "Required. Database resource name associated with the signal. Resource name to follow CAIS resource_name format as noted here go/condor-common-datamodel"
        },
        "metricType": {
          "description": "Required. Type of metric like CPU, Memory, etc.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified metric type.",
            "CPU utilization for a resource. The value is a fraction between 0.0 and 1.0 (may momentarily exceed 1.0 in some cases).",
            "Memory utilization for a resource. The value is a fraction between 0.0 and 1.0 (may momentarily exceed 1.0 in some cases).",
            "Number of network connections for a resource.",
            "Storage utilization for a resource. The value is a fraction between 0.0 and 1.0 (may momentarily exceed 1.0 in some cases).",
            "Sotrage used by a resource.",
            "Node count for a resource. It represents the number of node units in a bigtable/spanner instance.",
            "Memory used by a resource (in bytes).",
            "Processing units used by a resource. It represents the number of processing units in a spanner instance."
          ],
          "enum": [
            "METRIC_TYPE_UNSPECIFIED",
            "CPU_UTILIZATION",
            "MEMORY_UTILIZATION",
            "NETWORK_CONNECTIONS",
            "STORAGE_UTILIZATION",
            "STORAGE_USED_BYTES",
            "NODE_COUNT",
            "MEMORY_USED_BYTES",
            "PROCESSING_UNIT_COUNT"
          ]
        }
      },
      "id": "ObservabilityMetricData",
      "type": "object"
    },
    "Instance": {
      "properties": {
        "maintenanceVersion": {
          "description": "Optional. The self service update maintenance version. The version is date based such as \"20210712_00_00\".",
          "type": "string"
        },
        "readEndpointPort": {
          "format": "int32",
          "description": "Output only. The port number of the exposed readonly redis endpoint. Standard tier only. Write requests should target 'port'.",
          "readOnly": true,
          "type": "integer"
        },
        "readReplicasMode": {
          "enum": [
            "READ_REPLICAS_MODE_UNSPECIFIED",
            "READ_REPLICAS_DISABLED",
            "READ_REPLICAS_ENABLED"
          ],
          "enumDescriptions": [
            "If not set, Memorystore Redis backend will default to READ_REPLICAS_DISABLED.",
            "If disabled, read endpoint will not be provided and the instance cannot scale up or down the number of replicas.",
            "If enabled, read endpoint will be provided and the instance can scale up and down the number of replicas. Not valid for basic tier."
          ],
          "description": "Optional. Read replicas mode for the instance. Defaults to READ_REPLICAS_DISABLED.",
          "type": "string"
        },
        "labels": {
          "description": "Resource labels to represent user provided metadata",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "maintenancePolicy": {
          "$ref": "MaintenancePolicy",
          "description": "Optional. The maintenance policy for the instance. If not provided, maintenance events can be performed at any time."
        },
        "nodes": {
          "readOnly": true,
          "type": "array",
          "description": "Output only. Info per node.",
          "items": {
            "$ref": "NodeInfo"
          }
        },
        "memorySizeGb": {
          "format": "int32",
          "description": "Required. Redis memory size in GiB.",
          "type": "integer"
        },
        "tags": {
          "description": "Optional. Input only. Immutable. Tag keys/values directly bound to this resource. For example: \"123/environment\": \"production\", \"123/costCenter\": \"marketing\"",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "name": {
          "description": "Required. Unique name of the resource in this scope including project and location using the form: `projects/{project_id}/locations/{location_id}/instances/{instance_id}` Note: Redis instances are managed and addressed at regional level so location_id here refers to a GCP region; however, users may choose which specific zone (or collection of zones for cross-zone instances) an instance should be provisioned in. Refer to location_id and alternative_location_id fields for more details.",
          "type": "string"
        },
        "maintenanceSchedule": {
          "description": "Output only. Date and time of upcoming maintenance events which have been scheduled.",
          "$ref": "MaintenanceSchedule",
          "readOnly": true
        },
        "persistenceIamIdentity": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Cloud IAM identity used by import / export operations to transfer data to/from Cloud Storage. Format is \"serviceAccount:\". The value may change over time for a given instance so should be checked before each import/export operation."
        },
        "redisVersion": {
          "type": "string",
          "description": "Optional. The version of Redis software. If not provided, latest supported version will be used. Currently, the supported values are: * `REDIS_3_2` for Redis 3.2 compatibility * `REDIS_4_0` for Redis 4.0 compatibility (default) * `REDIS_5_0` for Redis 5.0 compatibility * `REDIS_6_X` for Redis 6.x compatibility * `REDIS_7_0` for Redis 7.0 compatibility"
        },
        "tier": {
          "type": "string",
          "description": "Required. The service tier of the instance.",
          "enum": [
            "TIER_UNSPECIFIED",
            "BASIC",
            "STANDARD_HA"
          ],
          "enumDescriptions": [
            "Not set.",
            "BASIC tier: standalone instance",
            "STANDARD_HA tier: highly available primary/replica instances"
          ]
        },
        "secondaryIpRange": {
          "type": "string",
          "description": "Optional. Additional IP range for node placement. Required when enabling read replicas on an existing instance. For DIRECT_PEERING mode value must be a CIDR range of size /28, or \"auto\". For PRIVATE_SERVICE_ACCESS mode value must be the name of an allocated address range associated with the private service access connection, or \"auto\"."
        },
        "currentLocationId": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The current zone where the Redis primary node is located. In basic tier, this will always be the same as [location_id]. In standard tier, this can be the zone of any node in the instance."
        },
        "satisfiesPzs": {
          "type": "boolean",
          "readOnly": true,
          "description": "Optional. Output only. Reserved for future use."
        },
        "satisfiesPzi": {
          "readOnly": true,
          "description": "Optional. Output only. Reserved for future use.",
          "type": "boolean"
        },
        "port": {
          "format": "int32",
          "description": "Output only. The port number of the exposed Redis endpoint.",
          "readOnly": true,
          "type": "integer"
        },
        "statusMessage": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Additional information about the current status of this instance, if available."
        },
        "connectMode": {
          "description": "Optional. The network connect mode of the Redis instance. If not provided, the connect mode defaults to DIRECT_PEERING.",
          "type": "string",
          "enum": [
            "CONNECT_MODE_UNSPECIFIED",
            "DIRECT_PEERING",
            "PRIVATE_SERVICE_ACCESS"
          ],
          "enumDescriptions": [
            "Not set.",
            "Connect via direct peering to the Memorystore for Redis hosted service.",
            "Connect your Memorystore for Redis instance using Private Service Access. Private services access provides an IP address range for multiple Google Cloud services, including Memorystore."
          ]
        },
        "reservedIpRange": {
          "description": "Optional. For DIRECT_PEERING mode, the CIDR range of internal addresses that are reserved for this instance. Range must be unique and non-overlapping with existing subnets in an authorized network. For PRIVATE_SERVICE_ACCESS mode, the name of one allocated IP address ranges associated with this private service access connection. If not provided, the service will choose an unused /29 block, for example, 10.0.0.0/29 or 192.168.0.0/29. For READ_REPLICAS_ENABLED the default block size is /28.",
          "type": "string"
        },
        "state": {
          "enumDescriptions": [
            "Not set.",
            "Redis instance is being created.",
            "Redis instance has been created and is fully usable.",
            "Redis instance configuration is being updated. Certain kinds of updates may cause the instance to become unusable while the update is in progress.",
            "Redis instance is being deleted.",
            "Redis instance is being repaired and may be unusable.",
            "Maintenance is being performed on this Redis instance.",
            "Redis instance is importing data (availability may be affected).",
            "Redis instance is failing over (availability may be affected)."
          ],
          "description": "Output only. The current state of this instance.",
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "READY",
            "UPDATING",
            "DELETING",
            "REPAIRING",
            "MAINTENANCE",
            "IMPORTING",
            "FAILING_OVER"
          ],
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "description": "An arbitrary and optional user-provided name for the instance."
        },
        "alternativeLocationId": {
          "description": "Optional. If specified, at least one node will be provisioned in this zone in addition to the zone specified in location_id. Only applicable to standard tier. If provided, it must be a different zone from the one provided in [location_id]. Additional nodes beyond the first 2 will be placed in zones selected by the service.",
          "type": "string"
        },
        "transitEncryptionMode": {
          "description": "Optional. The TLS mode of the Redis instance. If not provided, TLS is disabled for the instance.",
          "type": "string",
          "enum": [
            "TRANSIT_ENCRYPTION_MODE_UNSPECIFIED",
            "SERVER_AUTHENTICATION",
            "DISABLED"
          ],
          "enumDescriptions": [
            "Not set.",
            "Client to Server traffic encryption enabled with server authentication.",
            "TLS is disabled for the instance."
          ]
        },
        "customerManagedKey": {
          "description": "Optional. The KMS key reference that the customer provides when trying to create the instance.",
          "type": "string"
        },
        "authorizedNetwork": {
          "type": "string",
          "description": "Optional. The full name of the Google Compute Engine [network](https://cloud.google.com/vpc/docs/vpc) to which the instance is connected. If left unspecified, the `default` network will be used."
        },
        "redisConfigs": {
          "description": "Optional. Redis configuration parameters, according to [Redis configuration](https://redis.io/docs/latest/operate/oss_and_stack/management/config/). Currently, the only supported parameters are: Redis version 3.2 and newer: * maxmemory-policy * notify-keyspace-events Redis version 4.0 and newer: * activedefrag * lfu-decay-time * lfu-log-factor * maxmemory-gb Redis version 5.0 and newer: * stream-node-max-bytes * stream-node-max-entries",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "persistenceConfig": {
          "$ref": "PersistenceConfig",
          "description": "Optional. Persistence configuration parameters"
        },
        "serverCaCerts": {
          "items": {
            "$ref": "TlsCertificate"
          },
          "type": "array",
          "description": "Output only. List of server CA certificates for the instance.",
          "readOnly": true
        },
        "availableMaintenanceVersions": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. The available maintenance versions that an instance could update to."
        },
        "locationId": {
          "type": "string",
          "description": "Optional. The zone where the instance will be provisioned. If not provided, the service will choose a zone from the specified region for the instance. For standard tier, additional nodes will be added across multiple zones for protection against zonal failures. If specified, at least one node will be provisioned in this zone."
        },
        "readEndpoint": {
          "description": "Output only. Hostname or IP address of the exposed readonly Redis endpoint. Standard tier only. Targets all healthy replica nodes in instance. Replication is asynchronous and replica nodes will exhibit some lag behind the primary. Write requests must target 'host'.",
          "readOnly": true,
          "type": "string"
        },
        "suspensionReasons": {
          "items": {
            "enumDescriptions": [
              "Not set.",
              "Something wrong with the CMEK key provided by customer."
            ],
            "type": "string",
            "enum": [
              "SUSPENSION_REASON_UNSPECIFIED",
              "CUSTOMER_MANAGED_KEY_ISSUE"
            ]
          },
          "description": "Optional. reasons that causes instance in \"SUSPENDED\" state.",
          "type": "array"
        },
        "host": {
          "type": "string",
          "description": "Output only. Hostname or IP address of the exposed Redis endpoint used by clients to connect to the service.",
          "readOnly": true
        },
        "authEnabled": {
          "description": "Optional. Indicates whether OSS Redis AUTH is enabled for the instance. If set to \"true\" AUTH is enabled on the instance. Default value is \"false\" meaning AUTH is disabled.",
          "type": "boolean"
        },
        "replicaCount": {
          "format": "int32",
          "description": "Optional. The number of replica nodes. The valid range for the Standard Tier with read replicas enabled is [1-5] and defaults to 2. If read replicas are not enabled for a Standard Tier instance, the only valid value is 1 and the default is 1. The valid value for basic tier is 0 and the default is also 0.",
          "type": "integer"
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The time the instance was created.",
          "format": "google-datetime"
        }
      },
      "description": "A Memorystore for Redis instance.",
      "id": "Instance",
      "type": "object"
    },
    "TimeOfDay": {
      "type": "object",
      "description": "Represents a time of day. The date and time zone are either not significant or are specified elsewhere. An API may choose to allow leap seconds. Related types are google.type.Date and `google.protobuf.Timestamp`.",
      "id": "TimeOfDay",
      "properties": {
        "hours": {
          "description": "Hours of a day in 24 hour format. Must be greater than or equal to 0 and typically must be less than or equal to 23. An API may choose to allow the value \"24:00:00\" for scenarios like business closing time.",
          "type": "integer",
          "format": "int32"
        },
        "nanos": {
          "format": "int32",
          "type": "integer",
          "description": "Fractions of seconds, in nanoseconds. Must be greater than or equal to 0 and less than or equal to 999,999,999."
        },
        "minutes": {
          "format": "int32",
          "type": "integer",
          "description": "Minutes of an hour. Must be greater than or equal to 0 and less than or equal to 59."
        },
        "seconds": {
          "type": "integer",
          "description": "Seconds of a minute. Must be greater than or equal to 0 and typically must be less than or equal to 59. An API may allow the value 60 if it allows leap-seconds.",
          "format": "int32"
        }
      }
    },
    "ListTokenAuthUsersResponse": {
      "properties": {
        "unreachable": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Unordered list. Token auth users that could not be reached."
        },
        "nextPageToken": {
          "type": "string",
          "description": "Token to retrieve the next page of results, or empty if there are no more results in the list."
        },
        "tokenAuthUsers": {
          "type": "array",
          "description": "A list of token auth users in the project.",
          "items": {
            "$ref": "TokenAuthUser"
          }
        }
      },
      "description": "Response message for ListTokenAuthUsers.",
      "id": "ListTokenAuthUsersResponse",
      "type": "object"
    },
    "InputConfig": {
      "description": "The input content",
      "properties": {
        "gcsSource": {
          "description": "Google Cloud Storage location where input content is located.",
          "$ref": "GcsSource"
        }
      },
      "type": "object",
      "id": "InputConfig"
    },
    "UpgradeInstanceRequest": {
      "description": "Request for UpgradeInstance.",
      "properties": {
        "redisVersion": {
          "type": "string",
          "description": "Required. Specifies the target version of Redis software to upgrade to."
        }
      },
      "id": "UpgradeInstanceRequest",
      "type": "object"
    },
    "RescheduleMaintenanceRequest": {
      "properties": {
        "rescheduleType": {
          "enum": [
            "RESCHEDULE_TYPE_UNSPECIFIED",
            "IMMEDIATE",
            "NEXT_AVAILABLE_WINDOW",
            "SPECIFIC_TIME"
          ],
          "description": "Required. If reschedule type is SPECIFIC_TIME, must set up schedule_time as well.",
          "enumDescriptions": [
            "Not set.",
            "If the user wants to schedule the maintenance to happen now.",
            "If the user wants to use the existing maintenance policy to find the next available window.",
            "If the user wants to reschedule the maintenance to a specific time."
          ],
          "type": "string"
        },
        "scheduleTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Optional. Timestamp when the maintenance shall be rescheduled to if reschedule_type=SPECIFIC_TIME, in RFC 3339 format, for example `2012-11-15T16:19:00.094Z`."
        }
      },
      "id": "RescheduleMaintenanceRequest",
      "description": "Request for RescheduleMaintenance.",
      "type": "object"
    },
    "SharedRegionalCertificateAuthority": {
      "description": "Shared regional certificate authority",
      "type": "object",
      "id": "SharedRegionalCertificateAuthority",
      "properties": {
        "managedServerCa": {
          "$ref": "RegionalManagedCertificateAuthority",
          "description": "CA certificate chains for redis managed server authentication."
        },
        "name": {
          "description": "Identifier. Unique name of the resource in this scope including project and location using the form: `projects/{project}/locations/{location}/sharedRegionalCertificateAuthority`",
          "type": "string"
        }
      }
    },
    "TypedValue": {
      "description": "TypedValue represents the value of a metric type. It can either be a double, an int64, a string or a bool.",
      "type": "object",
      "properties": {
        "doubleValue": {
          "format": "double",
          "description": "For double value",
          "type": "number"
        },
        "int64Value": {
          "format": "int64",
          "description": "For integer value",
          "type": "string"
        },
        "stringValue": {
          "description": "For string value",
          "type": "string"
        },
        "boolValue": {
          "type": "boolean",
          "description": "For boolean value"
        }
      },
      "id": "TypedValue"
    },
    "ClusterEndpoint": {
      "description": "ClusterEndpoint consists of PSC connections that are created as a group in each VPC network for accessing the cluster. In each group, there shall be one connection for each service attachment in the cluster.",
      "properties": {
        "connections": {
          "type": "array",
          "description": "Required. A group of PSC connections. They are created in the same VPC network, one for each service attachment in the cluster.",
          "items": {
            "$ref": "ConnectionDetail"
          }
        }
      },
      "id": "ClusterEndpoint",
      "type": "object"
    },
    "AclPolicyRevisionStatus": {
      "id": "AclPolicyRevisionStatus",
      "properties": {
        "state": {
          "description": "Output only. AclPolicyRevision state.",
          "type": "string",
          "enumDescriptions": [
            "Not set.",
            "The cluster is attempting to apply this revision.",
            "The cluster has successfully applied this revision.",
            "The cluster failed to apply this revision."
          ],
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "APPLYING",
            "APPLIED",
            "FAILED"
          ]
        },
        "aclPolicyRevisionNumber": {
          "readOnly": true,
          "type": "string",
          "format": "int64",
          "description": "Output only. The revision number of the ACL policy revision this status refers to."
        },
        "errorMessage": {
          "description": "Output only. Human-readable error message providing more details for FAILED states.",
          "type": "string",
          "readOnly": true
        },
        "aclPolicyRevision": {
          "type": "string",
          "description": "Output only. The resource name of the ACL policy revision this status refers to. Format: \"projects/{project}/locations/{location}/aclPolicies/{acl_policy}/revisions/{revision}\"",
          "readOnly": true
        }
      },
      "description": "AclPolicyRevisionStatus stores the per-revision status for an attached cluster.",
      "type": "object"
    },
    "CrossClusterReplicationConfig": {
      "id": "CrossClusterReplicationConfig",
      "properties": {
        "membership": {
          "$ref": "Membership",
          "readOnly": true,
          "description": "Output only. An output only view of all the member clusters participating in the cross cluster replication. This view will be provided by every member cluster irrespective of its cluster role(primary or secondary). A primary cluster can provide information about all the secondary clusters replicating from it. However, a secondary cluster only knows about the primary cluster from which it is replicating. However, for scenarios, where the primary cluster is unavailable(e.g. regional outage), a GetCluster request can be sent to any other member cluster and this field will list all the member clusters participating in cross cluster replication."
        },
        "updateTime": {
          "readOnly": true,
          "description": "Output only. The last time cross cluster replication config was updated.",
          "format": "google-datetime",
          "type": "string"
        },
        "primaryCluster": {
          "description": "Details of the primary cluster that is used as the replication source for this secondary cluster. This field is only set for a secondary cluster.",
          "$ref": "RemoteCluster"
        },
        "clusterRole": {
          "readOnly": true,
          "enum": [
            "CLUSTER_ROLE_UNSPECIFIED",
            "NONE",
            "PRIMARY",
            "SECONDARY"
          ],
          "enumDescriptions": [
            "Cluster role is not set. The behavior is equivalent to NONE.",
            "This cluster does not participate in cross cluster replication. It is an independent cluster and does not replicate to or from any other clusters.",
            "A cluster that allows both reads and writes. Any data written to this cluster is also replicated to the attached secondary clusters.",
            "A cluster that allows only reads and replicates data from a primary cluster."
          ],
          "description": "Output only. The role of the cluster in cross cluster replication.",
          "type": "string"
        },
        "secondaryClusters": {
          "description": "List of secondary clusters that are replicating from this primary cluster. This field is only set for a primary cluster.",
          "type": "array",
          "items": {
            "$ref": "RemoteCluster"
          }
        }
      },
      "description": "Cross cluster replication config.",
      "type": "object"
    },
    "BackupClusterRequest": {
      "description": "Request for `BackupCluster`.",
      "type": "object",
      "properties": {
        "backupId": {
          "description": "Optional. The id of the backup to be created. If not specified, the default value ([YYYYMMDDHHMMSS]_[Shortened Cluster UID] is used.",
          "type": "string"
        },
        "ttl": {
          "type": "string",
          "format": "google-duration",
          "description": "Optional. TTL for the backup to expire. Value range is 1 day to 100 years. If not specified, the default value is 100 years."
        }
      },
      "id": "BackupClusterRequest"
    },
    "OutputConfig": {
      "properties": {
        "gcsDestination": {
          "$ref": "GcsDestination",
          "description": "Google Cloud Storage destination for output content."
        }
      },
      "description": "The output content",
      "type": "object",
      "id": "OutputConfig"
    },
    "PersistenceConfig": {
      "description": "Configuration of the persistence functionality.",
      "properties": {
        "rdbSnapshotPeriod": {
          "enum": [
            "SNAPSHOT_PERIOD_UNSPECIFIED",
            "ONE_HOUR",
            "SIX_HOURS",
            "TWELVE_HOURS",
            "TWENTY_FOUR_HOURS"
          ],
          "description": "Optional. Period between RDB snapshots. Snapshots will be attempted every period starting from the provided snapshot start time. For example, a start time of 01/01/2033 06:45 and SIX_HOURS snapshot period will do nothing until 01/01/2033, and then trigger snapshots every day at 06:45, 12:45, 18:45, and 00:45 the next day, and so on. If not provided, TWENTY_FOUR_HOURS will be used as default.",
          "type": "string",
          "enumDescriptions": [
            "Not set.",
            "Snapshot every 1 hour.",
            "Snapshot every 6 hours.",
            "Snapshot every 12 hours.",
            "Snapshot every 24 hours."
          ]
        },
        "persistenceMode": {
          "description": "Optional. Controls whether Persistence features are enabled. If not provided, the existing value will be used.",
          "enum": [
            "PERSISTENCE_MODE_UNSPECIFIED",
            "DISABLED",
            "RDB"
          ],
          "enumDescriptions": [
            "Not set.",
            "Persistence is disabled for the instance, and any existing snapshots are deleted.",
            "RDB based Persistence is enabled."
          ],
          "type": "string"
        },
        "rdbSnapshotStartTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Optional. Date and time that the first snapshot was/will be attempted, and to which future snapshots will be aligned. If not provided, the current time will be used."
        },
        "rdbNextSnapshotTime": {
          "format": "google-datetime",
          "description": "Output only. The next time that a snapshot attempt is scheduled to occur.",
          "type": "string",
          "readOnly": true
        }
      },
      "type": "object",
      "id": "PersistenceConfig"
    },
    "ManagedBackupSource": {
      "description": "Backups that generated and managed by memorystore.",
      "properties": {
        "backup": {
          "description": "Optional. Example: //redis.googleapis.com/projects/{project}/locations/{location}/backupCollections/{collection}/backups/{backup} A shorter version (without the prefix) of the backup name is also supported, like projects/{project}/locations/{location}/backupCollections/{collection}/backups/{backup_id} In this case, it assumes the backup is under redis.googleapis.com.",
          "type": "string"
        }
      },
      "id": "ManagedBackupSource",
      "type": "object"
    },
    "ClusterWeeklyMaintenanceWindow": {
      "properties": {
        "startTime": {
          "description": "Optional. Start time of the window in UTC.",
          "$ref": "TimeOfDay"
        },
        "day": {
          "type": "string",
          "description": "Optional. Allows to define schedule that runs specified day of the week.",
          "enumDescriptions": [
            "The day of the week is unspecified.",
            "Monday",
            "Tuesday",
            "Wednesday",
            "Thursday",
            "Friday",
            "Saturday",
            "Sunday"
          ],
          "enum": [
            "DAY_OF_WEEK_UNSPECIFIED",
            "MONDAY",
            "TUESDAY",
            "WEDNESDAY",
            "THURSDAY",
            "FRIDAY",
            "SATURDAY",
            "SUNDAY"
          ]
        }
      },
      "id": "ClusterWeeklyMaintenanceWindow",
      "description": "Time window specified for weekly operations.",
      "type": "object"
    },
    "BackupDRMetadata": {
      "description": "BackupDRMetadata contains information about the backup and disaster recovery metadata of a database resource.",
      "type": "object",
      "properties": {
        "resourceId": {
          "description": "Required. Database resource id.",
          "$ref": "DatabaseResourceId"
        },
        "fullResourceName": {
          "type": "string",
          "description": "Required. Full resource name of this instance."
        },
        "backupRun": {
          "$ref": "BackupRun",
          "description": "Latest backup run information for this instance."
        },
        "lastRefreshTime": {
          "format": "google-datetime",
          "description": "Required. Last time backup configuration was refreshed.",
          "type": "string"
        },
        "backupConfiguration": {
          "description": "Backup configuration for this instance.",
          "$ref": "BackupConfiguration"
        },
        "backupdrConfiguration": {
          "description": "BackupDR configuration for this instance.",
          "$ref": "BackupDRConfiguration"
        }
      },
      "id": "BackupDRMetadata"
    },
    "TlsCertificate": {
      "properties": {
        "cert": {
          "description": "PEM representation.",
          "type": "string"
        },
        "createTime": {
          "type": "string",
          "description": "Output only. The time when the certificate was created in [RFC 3339](https://tools.ietf.org/html/rfc3339) format, for example `2020-05-18T00:00:00.094Z`.",
          "format": "google-datetime",
          "readOnly": true
        },
        "serialNumber": {
          "description": "Serial number, as extracted from the certificate.",
          "type": "string"
        },
        "expireTime": {
          "description": "Output only. The time when the certificate expires in [RFC 3339](https://tools.ietf.org/html/rfc3339) format, for example `2020-05-18T00:00:00.094Z`.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "sha1Fingerprint": {
          "description": "Sha1 Fingerprint of the certificate.",
          "type": "string"
        }
      },
      "description": "TlsCertificate Resource",
      "id": "TlsCertificate",
      "type": "object"
    },
    "MaintenancePolicy": {
      "properties": {
        "createTime": {
          "description": "Output only. The time when the policy was created.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "weeklyMaintenanceWindow": {
          "type": "array",
          "description": "Optional. Maintenance window that is applied to resources covered by this policy. Minimum 1. For the current version, the maximum number of weekly_window is expected to be one.",
          "items": {
            "$ref": "WeeklyMaintenanceWindow"
          }
        },
        "description": {
          "type": "string",
          "description": "Optional. Description of what this policy is for. Create/Update methods return INVALID_ARGUMENT if the length is greater than 512."
        },
        "updateTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The time when the policy was last updated.",
          "format": "google-datetime"
        }
      },
      "description": "Maintenance policy for an instance.",
      "id": "MaintenancePolicy",
      "type": "object"
    },
    "OperationError": {
      "description": "An error that occurred during a backup creation operation.",
      "type": "object",
      "properties": {
        "code": {
          "type": "string",
          "description": "Identifies the specific error that occurred. REQUIRED"
        },
        "message": {
          "description": "Additional information about the error encountered. REQUIRED",
          "type": "string"
        },
        "errorType": {
          "enumDescriptions": [
            "UNSPECIFIED means product type is not known or available.",
            "key destroyed, expired, not found, unreachable or permission denied.",
            "Database is not accessible",
            "The zone or region does not have sufficient resources to handle the request at the moment",
            "User initiated cancellation",
            "SQL server specific error",
            "Any other internal error."
          ],
          "type": "string",
          "enum": [
            "OPERATION_ERROR_TYPE_UNSPECIFIED",
            "KMS_KEY_ERROR",
            "DATABASE_ERROR",
            "STOCKOUT_ERROR",
            "CANCELLATION_ERROR",
            "SQLSERVER_ERROR",
            "INTERNAL_ERROR"
          ]
        }
      },
      "id": "OperationError"
    },
    "AddAuthTokenRequest": {
      "description": "Request message for AddAuthToken.",
      "properties": {
        "authToken": {
          "description": "Required. The auth token to add.",
          "$ref": "AuthToken"
        }
      },
      "type": "object",
      "id": "AddAuthTokenRequest"
    },
    "ListAclPoliciesResponse": {
      "description": "Response for `ListAclPolicies`.",
      "properties": {
        "aclPolicies": {
          "description": "A list of ACL policies in the project in the specified location, or across all locations. If the `location_id` in the parent field of the request is \"-\", all regions available to the project are queried, and the results aggregated.",
          "items": {
            "$ref": "AclPolicy"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "Token to retrieve the next page of results, or empty if there are no more results in the list.",
          "type": "string"
        },
        "unreachable": {
          "description": "Unordered list. Locations that could not be reached.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "type": "object",
      "id": "ListAclPoliciesResponse"
    },
    "DatabaseResourceId": {
      "description": "DatabaseResourceId will serve as primary key for any resource ingestion event.",
      "id": "DatabaseResourceId",
      "properties": {
        "resourceType": {
          "description": "Required. The type of resource this ID is identifying. Ex go/keep-sorted start alloydb.googleapis.com/Cluster, alloydb.googleapis.com/Instance, bigtableadmin.googleapis.com/Cluster, bigtableadmin.googleapis.com/Instance compute.googleapis.com/Instance firestore.googleapis.com/Database, memorystore.googleapis.com/Instance, redis.googleapis.com/Instance, redis.googleapis.com/Cluster, oracledatabase.googleapis.com/CloudExadataInfrastructure oracledatabase.googleapis.com/CloudVmCluster oracledatabase.googleapis.com/AutonomousDatabase spanner.googleapis.com/Instance, spanner.googleapis.com/Database, sqladmin.googleapis.com/Instance, go/keep-sorted end REQUIRED Please refer go/condor-common-datamodel",
          "type": "string"
        },
        "provider": {
          "enum": [
            "PROVIDER_UNSPECIFIED",
            "GCP",
            "AWS",
            "AZURE",
            "ONPREM",
            "SELFMANAGED",
            "PROVIDER_OTHER"
          ],
          "enumDescriptions": [
            "Unspecified provider.",
            "Google cloud platform provider",
            "Amazon web service",
            "Azure web service",
            "On-prem database resources.",
            "Self-managed database provider. These are resources on a cloud platform, e.g., database resource installed in a GCE VM, but not a managed database service.",
            "For the rest of the other categories. Other refers to the rest of other database service providers, this could be smaller cloud provider. This needs to be provided when the provider is known, but it is not present in the existing set of enum values."
          ],
          "type": "string",
          "description": "Required. Cloud provider name. Ex: GCP/AWS/Azure/OnPrem/SelfManaged"
        },
        "uniqueId": {
          "description": "Required. A service-local token that distinguishes this resource from other resources within the same service.",
          "type": "string"
        },
        "providerDescription": {
          "type": "string",
          "description": "Optional. Needs to be used only when the provider is PROVIDER_OTHER."
        }
      },
      "type": "object"
    },
    "AclPolicyRevision": {
      "description": "The ACL policy revision resource.",
      "id": "AclPolicyRevision",
      "type": "object",
      "properties": {
        "snapshot": {
          "readOnly": true,
          "$ref": "AclPolicy",
          "description": "Output only. The snapshot of the ACL policy at the time of revision creation."
        },
        "revisionNumber": {
          "type": "string",
          "readOnly": true,
          "format": "int64",
          "description": "Output only. The revision number of the ACL policy revision."
        },
        "name": {
          "type": "string",
          "description": "Identifier. The name of the ACL policy revision. Format: \"projects/{project}/locations/{location}/aclPolicies/{acl_policy}/revisions/{revision}\""
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The timestamp that the revision was created.",
          "readOnly": true
        },
        "attachedClusters": {
          "readOnly": true,
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Output only. A list of clusters that are attached to this ACL policy revision."
        }
      }
    },
    "WeeklyMaintenanceWindow": {
      "id": "WeeklyMaintenanceWindow",
      "properties": {
        "day": {
          "enum": [
            "DAY_OF_WEEK_UNSPECIFIED",
            "MONDAY",
            "TUESDAY",
            "WEDNESDAY",
            "THURSDAY",
            "FRIDAY",
            "SATURDAY",
            "SUNDAY"
          ],
          "description": "Required. The day of week that maintenance updates occur.",
          "type": "string",
          "enumDescriptions": [
            "The day of the week is unspecified.",
            "Monday",
            "Tuesday",
            "Wednesday",
            "Thursday",
            "Friday",
            "Saturday",
            "Sunday"
          ]
        },
        "startTime": {
          "description": "Required. Start time of the window in UTC time.",
          "$ref": "TimeOfDay"
        },
        "duration": {
          "description": "Output only. Duration of the maintenance window. The current window is fixed at 1 hour.",
          "format": "google-duration",
          "readOnly": true,
          "type": "string"
        }
      },
      "type": "object",
      "description": "Time window in which disruptive maintenance updates occur. Non-disruptive updates can occur inside or outside this window."
    },
    "ListOperationsResponse": {
      "type": "object",
      "id": "ListOperationsResponse",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "The standard List next-page token."
        },
        "operations": {
          "type": "array",
          "items": {
            "$ref": "Operation"
          },
          "description": "A list of operations that matches the specified filter in the request."
        },
        "unreachable": {
          "description": "Unordered list. Unreachable resources. Populated when the request sets `ListOperationsRequest.return_partial_success` and reads across collections. For example, when attempting to list all resources across all supported locations.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "description": "The response message for Operations.ListOperations."
    },
    "CustomMetadataData": {
      "id": "CustomMetadataData",
      "properties": {
        "internalResourceMetadata": {
          "type": "array",
          "items": {
            "$ref": "InternalResourceMetadata"
          },
          "description": "Metadata for individual internal resources in an instance. e.g. spanner instance can have multiple databases with unique configuration."
        }
      },
      "description": "Any custom metadata associated with the resource. e.g. A spanner instance can have multiple databases with its own unique metadata. Information for these individual databases can be captured in custom metadata data",
      "type": "object"
    },
    "ResourceMaintenanceInfo": {
      "type": "object",
      "properties": {
        "denyMaintenanceSchedules": {
          "type": "array",
          "description": "Optional. List of Deny maintenance period for the database resource.",
          "items": {
            "$ref": "ResourceMaintenanceDenySchedule"
          }
        },
        "maintenanceVersion": {
          "description": "Optional. Current Maintenance version of the database resource. Example: \"MYSQL_8_0_41.R20250531.01_15\"",
          "type": "string"
        },
        "maintenanceSchedule": {
          "$ref": "ResourceMaintenanceSchedule",
          "description": "Optional. Maintenance window for the database resource."
        },
        "currentVersionReleaseDate": {
          "description": "Optional. The date when the current maintenance version was released.",
          "$ref": "Date"
        },
        "upcomingMaintenance": {
          "$ref": "UpcomingMaintenance",
          "description": "Optional. Upcoming maintenance for the database resource. This field is populated once SLM generates and publishes upcoming maintenance window."
        },
        "nextAvailableMaintenanceVersions": {
          "items": {
            "type": "string"
          },
          "description": "Optional. List of next available maintenance versions.",
          "type": "array"
        },
        "isInstanceStopped": {
          "description": "Optional. Whether the instance is in stopped state. This information is temporarily being captured in maintenanceInfo, till STOPPED state is supported by DB Center.",
          "type": "boolean"
        },
        "maintenanceState": {
          "readOnly": true,
          "description": "Output only. Current state of maintenance on the database resource.",
          "enum": [
            "MAINTENANCE_STATE_UNSPECIFIED",
            "CREATING",
            "READY",
            "UPDATING",
            "REPAIRING",
            "DELETING",
            "ERROR"
          ],
          "enumDescriptions": [
            "Unspecified state.",
            "Database resource is being created.",
            "Database resource has been created and is ready to use.",
            "Database resource is being updated.",
            "Database resource is unheathy and under repair.",
            "Database resource is being deleted.",
            "Database resource encountered an error and is in indeterministic state."
          ],
          "type": "string"
        }
      },
      "id": "ResourceMaintenanceInfo",
      "description": "MaintenanceInfo to capture the maintenance details of database resource."
    },
    "SignalMetadata": {
      "description": "SignalMetadata contains one of the signal metadata proto messages associated with a SignalType. This proto will be mapped to SignalMetadata message in storage.proto. Next ID: 3",
      "id": "SignalMetadata",
      "properties": {
        "signalBoolValue": {
          "type": "boolean",
          "description": "Signal data for boolean signals."
        },
        "backupRun": {
          "$ref": "BackupRun",
          "description": "Signal data for backup runs."
        }
      },
      "type": "object"
    },
    "AddTokenAuthUserRequest": {
      "type": "object",
      "properties": {
        "tokenAuthUser": {
          "type": "string",
          "description": "Required. The id of the token auth user to add."
        }
      },
      "description": "Request message for AddTokenAuthUser.",
      "id": "AddTokenAuthUserRequest"
    },
    "PscAutoConnection": {
      "properties": {
        "network": {
          "description": "Required. The consumer network where the IP address resides, in the form of projects/{project_id}/global/networks/{network_id}.",
          "type": "string"
        },
        "pscConnectionStatus": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The status of the PSC connection. Please note that this value is updated periodically. Please use Private Service Connect APIs for the latest status.",
          "enumDescriptions": [
            "PSC connection status is not specified.",
            "The connection is active",
            "Connection not found"
          ],
          "enum": [
            "PSC_CONNECTION_STATUS_UNSPECIFIED",
            "PSC_CONNECTION_STATUS_ACTIVE",
            "PSC_CONNECTION_STATUS_NOT_FOUND"
          ]
        },
        "connectionType": {
          "type": "string",
          "enumDescriptions": [
            "Cluster endpoint Type is not set",
            "Cluster endpoint that will be used as for cluster topology discovery.",
            "Cluster endpoint that will be used as primary endpoint to access primary.",
            "Cluster endpoint that will be used as reader endpoint to access replicas."
          ],
          "enum": [
            "CONNECTION_TYPE_UNSPECIFIED",
            "CONNECTION_TYPE_DISCOVERY",
            "CONNECTION_TYPE_PRIMARY",
            "CONNECTION_TYPE_READER"
          ],
          "readOnly": true,
          "description": "Output only. Type of the PSC connection."
        },
        "pscConnectionId": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The PSC connection id of the forwarding rule connected to the service attachment."
        },
        "projectId": {
          "type": "string",
          "description": "Required. The consumer project_id where the forwarding rule is created from."
        },
        "address": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The IP allocated on the consumer network for the PSC forwarding rule."
        },
        "serviceAttachment": {
          "description": "Output only. The service attachment which is the target of the PSC connection, in the form of projects/{project-id}/regions/{region}/serviceAttachments/{service-attachment-id}.",
          "type": "string",
          "readOnly": true
        },
        "forwardingRule": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The URI of the consumer side forwarding rule. Example: projects/{projectNumOrId}/regions/us-east1/forwardingRules/{resourceId}."
        }
      },
      "type": "object",
      "description": "Details of consumer resources in a PSC connection that is created through Service Connectivity Automation.",
      "id": "PscAutoConnection"
    },
    "DatabaseResourceMetadata": {
      "description": "Common model for database resource instance metadata. Next ID: 35",
      "properties": {
        "resourceFlags": {
          "items": {
            "$ref": "ResourceFlags"
          },
          "type": "array",
          "description": "Optional. List of resource flags for the database resource."
        },
        "zone": {
          "type": "string",
          "description": "The resource zone. This is only applicable for zonal resources and will be empty for regional and multi-regional resources."
        },
        "availabilityConfiguration": {
          "description": "Availability configuration for this instance",
          "$ref": "AvailabilityConfiguration"
        },
        "creationTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The creation time of the resource, i.e. the time when resource is created and recorded in partner service."
        },
        "tagsSet": {
          "$ref": "Tags",
          "description": "Optional. Tags associated with this resources."
        },
        "customMetadata": {
          "description": "Any custom metadata associated with the resource",
          "$ref": "CustomMetadataData"
        },
        "updationTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "The time at which the resource was updated and recorded at partner service."
        },
        "entitlements": {
          "items": {
            "$ref": "Entitlement"
          },
          "description": "Entitlements associated with the resource",
          "type": "array"
        },
        "additionalMetadata": {
          "description": "Field to ingest additional metadata whichd does not support proto format.",
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          }
        },
        "resourceContainer": {
          "description": "Closest parent Cloud Resource Manager container of this resource. It must be resource name of a Cloud Resource Manager project with the format of \"/\", such as \"projects/123\". For GCP provided resources, number should be project number.",
          "type": "string"
        },
        "id": {
          "$ref": "DatabaseResourceId",
          "description": "Required. Unique identifier for a Database resource"
        },
        "product": {
          "$ref": "Product",
          "description": "The product this resource represents."
        },
        "internalAdditionalMetadata": {
          "type": "object",
          "description": "Field to ingest additional metadata which support proto format.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        },
        "modes": {
          "type": "array",
          "items": {
            "type": "string",
            "enum": [
              "MODE_UNSPECIFIED",
              "MODE_NATIVE",
              "MODE_MONGODB_COMPATIBLE",
              "MODE_DATASTORE",
              "MODE_CLUSTER_ENABLED",
              "MODE_CLUSTER_DISABLED"
            ],
            "enumDescriptions": [
              "Default mode.",
              "Native mode.",
              "MongoDB compatible mode.",
              "Datastore mode.",
              "Memorystore/ValKey: Cluster enabled mode.",
              "Memorystore/ValKey: Cluster disabled mode."
            ]
          },
          "description": "Optional. The modes of the database resource."
        },
        "backupRun": {
          "$ref": "BackupRun",
          "description": "Latest backup run information for this instance"
        },
        "primaryResourceLocation": {
          "description": "Primary resource location. REQUIRED if the immediate parent exists when first time resource is getting ingested, otherwise optional.",
          "type": "string"
        },
        "suspensionReason": {
          "type": "string",
          "enumDescriptions": [
            "Suspension reason is unspecified.",
            "Wipeout hide event.",
            "Wipeout purge event.",
            "Billing disabled for project",
            "Abuse detected for resource",
            "Encryption key inaccessible.",
            "Replicated cluster encryption key inaccessible."
          ],
          "enum": [
            "SUSPENSION_REASON_UNSPECIFIED",
            "WIPEOUT_HIDE_EVENT",
            "WIPEOUT_PURGE_EVENT",
            "BILLING_DISABLED",
            "ABUSER_DETECTED",
            "ENCRYPTION_KEY_INACCESSIBLE",
            "REPLICATED_CLUSTER_ENCRYPTION_KEY_INACCESSIBLE"
          ],
          "description": "Optional. Suspension reason for the resource."
        },
        "resourceName": {
          "description": "Required. Different from DatabaseResourceId.unique_id, a resource name can be reused over time. That is, after a resource named \"ABC\" is deleted, the name \"ABC\" can be used to to create a new resource within the same source. Resource name to follow CAIS resource_name format as noted here go/condor-common-datamodel",
          "type": "string"
        },
        "currentState": {
          "description": "Current state of the instance.",
          "enumDescriptions": [
            "",
            "The instance is running.",
            "Instance being created, updated, deleted or under maintenance",
            "When instance is suspended",
            "Instance is deleted.",
            "For rest of the other category",
            "Instance is in STOPPED state."
          ],
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "HEALTHY",
            "UNHEALTHY",
            "SUSPENDED",
            "DELETED",
            "STATE_OTHER",
            "STOPPED"
          ]
        },
        "backupConfiguration": {
          "description": "Backup configuration for this instance",
          "$ref": "BackupConfiguration"
        },
        "machineConfiguration": {
          "$ref": "MachineConfiguration",
          "description": "Machine configuration for this resource."
        },
        "backupdrConfiguration": {
          "$ref": "BackupDRConfiguration",
          "description": "Optional. BackupDR Configuration for the resource."
        },
        "maintenanceInfo": {
          "description": "Optional. Maintenance info for the resource.",
          "$ref": "ResourceMaintenanceInfo"
        },
        "isDeletionProtectionEnabled": {
          "description": "Optional. Whether deletion protection is enabled for this resource.",
          "type": "boolean"
        },
        "instanceType": {
          "enum": [
            "INSTANCE_TYPE_UNSPECIFIED",
            "SUB_RESOURCE_TYPE_UNSPECIFIED",
            "PRIMARY",
            "SECONDARY",
            "READ_REPLICA",
            "OTHER",
            "SUB_RESOURCE_TYPE_PRIMARY",
            "SUB_RESOURCE_TYPE_SECONDARY",
            "SUB_RESOURCE_TYPE_READ_REPLICA",
            "SUB_RESOURCE_TYPE_EXTERNAL_PRIMARY",
            "SUB_RESOURCE_TYPE_READ_POOL",
            "SUB_RESOURCE_TYPE_RESERVATION",
            "SUB_RESOURCE_TYPE_DATASET",
            "SUB_RESOURCE_TYPE_OTHER"
          ],
          "description": "The type of the instance. Specified at creation time.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified.",
            "For rest of the other categories.",
            "A regular primary database instance.",
            "A cluster or an instance acting as a secondary.",
            "An instance acting as a read-replica.",
            "For rest of the other categories.",
            "A regular primary database instance.",
            "A cluster or an instance acting as a secondary.",
            "An instance acting as a read-replica.",
            "An instance acting as an external primary.",
            "An instance acting as Read Pool.",
            "Represents a reservation resource.",
            "Represents a dataset resource.",
            "For rest of the other categories."
          ],
          "enumDeprecated": [
            true,
            false,
            true,
            true,
            true,
            true,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false
          ]
        },
        "expectedState": {
          "enum": [
            "STATE_UNSPECIFIED",
            "HEALTHY",
            "UNHEALTHY",
            "SUSPENDED",
            "DELETED",
            "STATE_OTHER",
            "STOPPED"
          ],
          "enumDescriptions": [
            "",
            "The instance is running.",
            "Instance being created, updated, deleted or under maintenance",
            "When instance is suspended",
            "Instance is deleted.",
            "For rest of the other category",
            "Instance is in STOPPED state."
          ],
          "type": "string",
          "description": "The state that the instance is expected to be in. For example, an instance state can transition to UNHEALTHY due to wrong patch update, while the expected state will remain at the HEALTHY."
        },
        "userLabelSet": {
          "$ref": "UserLabels",
          "description": "User-provided labels associated with the resource"
        },
        "location": {
          "description": "The resource location. REQUIRED",
          "type": "string"
        },
        "edition": {
          "description": "Optional. Edition represents whether the instance is ENTERPRISE or ENTERPRISE_PLUS. This information is core to Cloud SQL only and is used to identify the edition of the instance.",
          "type": "string",
          "enumDescriptions": [
            "Default, to make it consistent with instance edition enum.",
            "Represents the enterprise edition.",
            "Represents the enterprise plus edition.",
            "Represents the standard edition."
          ],
          "enum": [
            "EDITION_UNSPECIFIED",
            "EDITION_ENTERPRISE",
            "EDITION_ENTERPRISE_PLUS",
            "EDITION_STANDARD"
          ]
        },
        "ipAddress": {
          "$ref": "IpAddress",
          "description": "Optional. Private and public IP address of the resource."
        },
        "gcbdrConfiguration": {
          "$ref": "GCBDRConfiguration",
          "description": "GCBDR configuration for the resource.",
          "deprecated": true
        },
        "primaryResourceId": {
          "description": "Identifier for this resource's immediate parent/primary resource if the current resource is a replica or derived form of another Database resource. Else it would be NULL. REQUIRED if the immediate parent exists when first time resource is getting ingested, otherwise optional.",
          "$ref": "DatabaseResourceId"
        }
      },
      "id": "DatabaseResourceMetadata",
      "type": "object"
    },
    "InstanceAuthString": {
      "type": "object",
      "id": "InstanceAuthString",
      "description": "Instance AUTH string details.",
      "properties": {
        "authString": {
          "description": "AUTH string set on the instance.",
          "type": "string"
        }
      }
    },
    "ExportInstanceRequest": {
      "id": "ExportInstanceRequest",
      "type": "object",
      "properties": {
        "outputConfig": {
          "$ref": "OutputConfig",
          "description": "Required. Specify data to be exported."
        }
      },
      "description": "Request for Export."
    },
    "ResourceMaintenanceSchedule": {
      "type": "object",
      "properties": {
        "phase": {
          "description": "Optional. Phase of the maintenance window. This is to capture order of maintenance. For example, for Cloud SQL resources, this can be used to capture if the maintenance window is in Week1, Week2, Week5, etc. Non production resources are usually part of early phase. For more details, refer to Cloud SQL resources - https://cloud.google.com/sql/docs/mysql/maintenance",
          "enumDescriptions": [
            "Phase is unspecified.",
            "Any phase.",
            "Week 1.",
            "Week 2.",
            "Week 5."
          ],
          "type": "string",
          "enum": [
            "PHASE_UNSPECIFIED",
            "ANY",
            "WEEK1",
            "WEEK2",
            "WEEK5"
          ]
        },
        "day": {
          "enum": [
            "DAY_OF_WEEK_UNSPECIFIED",
            "MONDAY",
            "TUESDAY",
            "WEDNESDAY",
            "THURSDAY",
            "FRIDAY",
            "SATURDAY",
            "SUNDAY"
          ],
          "type": "string",
          "enumDescriptions": [
            "The day of the week is unspecified.",
            "Monday",
            "Tuesday",
            "Wednesday",
            "Thursday",
            "Friday",
            "Saturday",
            "Sunday"
          ],
          "description": "Optional. Preferred day of the week for maintenance, e.g. MONDAY, TUESDAY, etc."
        },
        "time": {
          "$ref": "TimeOfDay",
          "description": "Optional. Preferred time to start the maintenance operation on the specified day."
        }
      },
      "description": "Maintenance window for the database resource. It specifies preferred time and day of the week and phase in some cases, when the maintenance can start. This is configured by the customer.",
      "id": "ResourceMaintenanceSchedule"
    },
    "PscServiceAttachment": {
      "id": "PscServiceAttachment",
      "type": "object",
      "properties": {
        "serviceAttachment": {
          "description": "Output only. Service attachment URI which your self-created PscConnection should use as target",
          "readOnly": true,
          "type": "string"
        },
        "connectionType": {
          "enum": [
            "CONNECTION_TYPE_UNSPECIFIED",
            "CONNECTION_TYPE_DISCOVERY",
            "CONNECTION_TYPE_PRIMARY",
            "CONNECTION_TYPE_READER"
          ],
          "description": "Output only. Type of a PSC connection targeting this service attachment.",
          "type": "string",
          "readOnly": true,
          "enumDescriptions": [
            "Cluster endpoint Type is not set",
            "Cluster endpoint that will be used as for cluster topology discovery.",
            "Cluster endpoint that will be used as primary endpoint to access primary.",
            "Cluster endpoint that will be used as reader endpoint to access replicas."
          ]
        }
      },
      "description": "Configuration of a service attachment of the cluster, for creating PSC connections."
    },
    "GoogleCloudRedisV1beta1LocationMetadata": {
      "properties": {
        "availableZones": {
          "additionalProperties": {
            "$ref": "GoogleCloudRedisV1beta1ZoneMetadata"
          },
          "type": "object",
          "readOnly": true,
          "description": "Output only. The set of available zones in the location. The map is keyed by the lowercase ID of each zone, as defined by GCE. These keys can be specified in `location_id` or `alternative_location_id` fields when creating a Redis instance."
        }
      },
      "type": "object",
      "id": "GoogleCloudRedisV1beta1LocationMetadata",
      "description": "This location metadata represents additional configuration options for a given location where a Redis instance may be created. All fields are output only. It is returned as content of the `google.cloud.location.Location.metadata` field."
    },
    "Tags": {
      "properties": {
        "tags": {
          "description": "The Tag key/value mappings.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        }
      },
      "description": "Message type for storing tags. Tags provide a way to create annotations for resources, and in some cases conditionally allow or deny policies based on whether a resource has a specific tag.",
      "id": "Tags",
      "type": "object"
    },
    "AclPolicy": {
      "id": "AclPolicy",
      "properties": {
        "name": {
          "type": "string",
          "description": "Identifier. Full resource path of the ACL policy."
        },
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "UPDATING",
            "DELETING"
          ],
          "readOnly": true,
          "description": "Output only. The state of the ACL policy.",
          "type": "string",
          "enumDescriptions": [
            "Not set.",
            "ACL policy has been created and is fully usable. Since ACL policy creation is synchronous and not an LRO, there is no CREATING state.",
            "ACL policy is being updated.",
            "ACL policy is being deleted."
          ]
        },
        "version": {
          "format": "int64",
          "readOnly": true,
          "description": "Output only. Deprecated: Used in drift resolution.",
          "type": "string",
          "deprecated": true
        },
        "rules": {
          "items": {
            "$ref": "AclRule"
          },
          "type": "array",
          "description": "Required. The ACL rules within the ACL policy."
        },
        "updateTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The timestamp that the ACL policy was last updated.",
          "format": "google-datetime"
        },
        "etag": {
          "description": "Output only. Etag for the ACL policy.",
          "readOnly": true,
          "type": "string"
        },
        "clusterAclPolicyAttachments": {
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "ClusterAclPolicyAttachment"
          },
          "description": "Output only. The ACL policy attachment status for each attached cluster."
        },
        "createTime": {
          "description": "Output only. The timestamp that the ACL policy was created.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        }
      },
      "description": "The ACL policy resource.",
      "type": "object"
    },
    "PscConfig": {
      "type": "object",
      "id": "PscConfig",
      "properties": {
        "network": {
          "description": "Required. The network where the IP address of the discovery endpoint will be reserved, in the form of projects/{network_project}/global/networks/{network_id}.",
          "type": "string"
        }
      }
    },
    "ClusterMaintenanceSchedule": {
      "properties": {
        "startTime": {
          "description": "Output only. The start time of any upcoming scheduled maintenance for this instance.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "endTime": {
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. The end time of any upcoming scheduled maintenance for this instance.",
          "type": "string"
        }
      },
      "description": "Upcoming maintenance schedule.",
      "id": "ClusterMaintenanceSchedule",
      "type": "object"
    },
    "ResourceMaintenanceDenySchedule": {
      "type": "object",
      "id": "ResourceMaintenanceDenySchedule",
      "properties": {
        "endDate": {
          "$ref": "Date",
          "description": "Optional. Deny period end date."
        },
        "time": {
          "description": "Optional. Time in UTC when the deny period starts on start_date and ends on end_date.",
          "$ref": "TimeOfDay"
        },
        "startDate": {
          "$ref": "Date",
          "description": "Optional. The start date of the deny maintenance period."
        }
      },
      "description": "Deny maintenance period for the database resource. It specifies the time range during which the maintenance cannot start. This is configured by the customer."
    },
    "DatabaseResourceRecommendationSignalData": {
      "id": "DatabaseResourceRecommendationSignalData",
      "properties": {
        "signalType": {
          "enumDeprecated": [
            false,
            false,
            false,
            true,
            true,
            true,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            true,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            true,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false
          ],
          "description": "Required. Type of signal, for example, `SIGNAL_TYPE_IDLE`, `SIGNAL_TYPE_HIGH_NUMBER_OF_TABLES`, etc.",
          "enumDescriptions": [
            "Unspecified.",
            "Represents if a resource is protected by automatic failover. Checks for resources that are configured to have redundancy within a region that enables automatic failover.",
            "Represents if a group is replicating across regions. Checks for resources that are configured to have redundancy, and ongoing replication, across regions.",
            "Represents if the resource is available in multiple zones or not.",
            "Represents if a resource is available in multiple regions.",
            "Represents if a resource has a promotable replica.",
            "Represents if a resource has an automated backup policy.",
            "Represents if a resources has a short backup retention period.",
            "Represents if the last backup of a resource failed.",
            "Represents if the last backup of a resource is older than some threshold value.",
            "Represents if a resource violates CIS GCP Foundation 2.0.",
            "Represents if a resource violates CIS GCP Foundation 1.3.",
            "Represents if a resource violates CIS GCP Foundation 1.2.",
            "Represents if a resource violates CIS GCP Foundation 1.1.",
            "Represents if a resource violates CIS GCP Foundation 1.0.",
            "Represents if a resource violates CIS Controls 8.0.",
            "Represents if a resource violates NIST 800-53.",
            "Represents if a resource violates NIST 800-53 R5.",
            "Represents if a resource violates NIST Cybersecurity Framework 1.0.",
            "Represents if a resource violates ISO-27001.",
            "Represents if a resource violates ISO 27001 2022.",
            "Represents if a resource violates PCI-DSS v3.2.1.",
            "Represents if a resource violates PCI-DSS v4.0.",
            "Represents if a resource violates Cloud Controls Matrix v4.0.",
            "Represents if a resource violates HIPAA.",
            "Represents if a resource violates SOC2 v2017.",
            "Represents if log_checkpoints database flag for a Cloud SQL for PostgreSQL instance is not set to on.",
            "Represents if the log_duration database flag for a Cloud SQL for PostgreSQL instance is not set to on.",
            "Represents if the log_error_verbosity database flag for a Cloud SQL for PostgreSQL instance is not set to default or stricter (default or terse).",
            "Represents if the log_lock_waits database flag for a Cloud SQL for PostgreSQL instance is not set to on.",
            "Represents if the log_min_error_statement database flag for a Cloud SQL for PostgreSQL instance is not set appropriately.",
            "Represents if the log_min_error_statement database flag for a Cloud SQL for PostgreSQL instance does not have an appropriate severity level.",
            "Represents if the log_min_messages database flag for a Cloud SQL for PostgreSQL instance is not set to warning or another recommended value.",
            "Represents if the databaseFlags property of instance metadata for the log_executor_status field is set to on.",
            "Represents if the log_hostname database flag for a Cloud SQL for PostgreSQL instance is not set to off.",
            "Represents if the log_parser_stats database flag for a Cloud SQL for PostgreSQL instance is not set to off.",
            "Represents if the log_planner_stats database flag for a Cloud SQL for PostgreSQL instance is not set to off.",
            "Represents if the log_statement database flag for a Cloud SQL for PostgreSQL instance is not set to DDL (all data definition statements).",
            "Represents if the log_statement_stats database flag for a Cloud SQL for PostgreSQL instance is not set to off.",
            "Represents if the log_temp_files database flag for a Cloud SQL for PostgreSQL instance is not set to \"0\". (NOTE: 0 = ON)",
            "Represents if the user connections database flag for a Cloud SQL for SQL Server instance is configured.",
            "Represents if the user options database flag for Cloud SQL SQL Server instance is configured or not.",
            "Represents if a resource is exposed to public access.",
            "Represents if a resources requires all incoming connections to use SSL or not.",
            "Represents if a Cloud SQL database has a password configured for the root account or not.",
            "Represents if a Cloud SQL database has a weak password configured for the root account.",
            "Represents if a SQL database instance is not encrypted with customer-managed encryption keys (CMEK).",
            "Represents if The contained database authentication database flag for a Cloud SQL for SQL Server instance is not set to off.",
            "Represents if the cross_db_ownership_chaining database flag for a Cloud SQL for SQL Server instance is not set to off.",
            "Represents if he external scripts enabled database flag for a Cloud SQL for SQL Server instance is not set to off.",
            "Represents if the local_infile database flag for a Cloud SQL for MySQL instance is not set to off.",
            "Represents if the log_connections database flag for a Cloud SQL for PostgreSQL instance is not set to on.",
            "Represents if the log_disconnections database flag for a Cloud SQL for PostgreSQL instance is not set to on.",
            "Represents if the log_min_duration_statement database flag for a Cloud SQL for PostgreSQL instance is not set to -1.",
            "Represents if the remote access database flag for a Cloud SQL for SQL Server instance is not set to off.",
            "Represents if the skip_show_database database flag for a Cloud SQL for MySQL instance is not set to on.",
            "Represents if the 3625 (trace flag) database flag for a Cloud SQL for SQL Server instance is not set to on.",
            "Represents if public IP is enabled.",
            "Represents Idle instance helps to reduce costs.",
            "Represents instances that are unnecessarily large for given workload.",
            "Represents high number of concurrently opened tables.",
            "Represents high table count close to SLA limit.",
            "Represents high number of unvacuumed transactions",
            "Represents need for more CPU and/or memory",
            "Represents out of disk.",
            "Represents server certificate is near expiry.",
            "Represents database auditing is disabled.",
            "Represents not restricted to authorized networks.",
            "Represents violate org policy restrict public ip.",
            "Cluster nearing quota limit",
            "No password policy set on resources",
            "Performance impact of connections settings",
            "Performance impact of temporary tables settings",
            "Performance impact of transaction logs settings",
            "Performance impact of high joins without indexes",
            "Detects events where a Cloud SQL superuser (postgres for PostgreSQL servers or root for MySQL users) writes to non-system tables.",
            "Detects events where a database user or role has been granted all privileges to a database, or to all tables, procedures, or functions in a schema.",
            "Detects if database instance data exported to a Cloud Storage bucket outside of the organization.",
            "Detects if database instance data exported to a Cloud Storage bucket that is owned by the organization and is publicly accessible.",
            "Detects if a database instance is using a weak password hash algorithm.",
            "Detects if a database instance has no user password policy set.",
            "Detects if a database instance/cluster has a hot node.",
            "Detects if a database instance has no point in time recovery enabled.",
            "Detects if a database instance/cluster is suspended.",
            "Detects that expensive commands are being run on a database instance impacting overall performance.",
            "Indicates that the instance does not have a maintenance policy configured.",
            "Deletion Protection Disabled for the resource",
            "Indicates that the instance has inefficient queries detected.",
            "Indicates that the instance has read intensive workload.",
            "Indicates that the instance is nearing memory limit.",
            "Indicates that the instance's max server memory is configured higher than the recommended value.",
            "Indicates that the database has large rows beyond the recommended limit.",
            "Heavy write pressure on the database rows.",
            "Heavy read pressure on the database rows.",
            "Encryption org policy not satisfied.",
            "Location org policy not satisfied.",
            "Outdated DB minor version.",
            "Schema not optimized.",
            "High number of idle connections.",
            "Replication delay.",
            "Outdated version.",
            "Outdated client.",
            "Databoost is disabled.",
            "Recommended maintenance policy.",
            "Resource version is in extended support.",
            "Change in performance KPIs.",
            "Database version nearing end of life.",
            "Indicates a high risk of maintenance downtime.",
            "Indicates both a low cache hit rate and a risk of maintenance downtime.",
            "Indicates that the resource is missing enhanced protection."
          ],
          "type": "string",
          "enum": [
            "SIGNAL_TYPE_UNSPECIFIED",
            "SIGNAL_TYPE_NOT_PROTECTED_BY_AUTOMATIC_FAILOVER",
            "SIGNAL_TYPE_GROUP_NOT_REPLICATING_ACROSS_REGIONS",
            "SIGNAL_TYPE_NOT_AVAILABLE_IN_MULTIPLE_ZONES",
            "SIGNAL_TYPE_NOT_AVAILABLE_IN_MULTIPLE_REGIONS",
            "SIGNAL_TYPE_NO_PROMOTABLE_REPLICA",
            "SIGNAL_TYPE_NO_AUTOMATED_BACKUP_POLICY",
            "SIGNAL_TYPE_SHORT_BACKUP_RETENTION",
            "SIGNAL_TYPE_LAST_BACKUP_FAILED",
            "SIGNAL_TYPE_LAST_BACKUP_OLD",
            "SIGNAL_TYPE_VIOLATES_CIS_GCP_FOUNDATION_2_0",
            "SIGNAL_TYPE_VIOLATES_CIS_GCP_FOUNDATION_1_3",
            "SIGNAL_TYPE_VIOLATES_CIS_GCP_FOUNDATION_1_2",
            "SIGNAL_TYPE_VIOLATES_CIS_GCP_FOUNDATION_1_1",
            "SIGNAL_TYPE_VIOLATES_CIS_GCP_FOUNDATION_1_0",
            "SIGNAL_TYPE_VIOLATES_CIS_CONTROLS_V8_0",
            "SIGNAL_TYPE_VIOLATES_NIST_800_53",
            "SIGNAL_TYPE_VIOLATES_NIST_800_53_R5",
            "SIGNAL_TYPE_VIOLATES_NIST_CYBERSECURITY_FRAMEWORK_V1_0",
            "SIGNAL_TYPE_VIOLATES_ISO_27001",
            "SIGNAL_TYPE_VIOLATES_ISO_27001_V2022",
            "SIGNAL_TYPE_VIOLATES_PCI_DSS_V3_2_1",
            "SIGNAL_TYPE_VIOLATES_PCI_DSS_V4_0",
            "SIGNAL_TYPE_VIOLATES_CLOUD_CONTROLS_MATRIX_V4",
            "SIGNAL_TYPE_VIOLATES_HIPAA",
            "SIGNAL_TYPE_VIOLATES_SOC2_V2017",
            "SIGNAL_TYPE_LOGS_NOT_OPTIMIZED_FOR_TROUBLESHOOTING",
            "SIGNAL_TYPE_QUERY_DURATIONS_NOT_LOGGED",
            "SIGNAL_TYPE_VERBOSE_ERROR_LOGGING",
            "SIGNAL_TYPE_QUERY_LOCK_WAITS_NOT_LOGGED",
            "SIGNAL_TYPE_LOGGING_MOST_ERRORS",
            "SIGNAL_TYPE_LOGGING_ONLY_CRITICAL_ERRORS",
            "SIGNAL_TYPE_MINIMAL_ERROR_LOGGING",
            "SIGNAL_TYPE_QUERY_STATISTICS_LOGGED",
            "SIGNAL_TYPE_EXCESSIVE_LOGGING_OF_CLIENT_HOSTNAME",
            "SIGNAL_TYPE_EXCESSIVE_LOGGING_OF_PARSER_STATISTICS",
            "SIGNAL_TYPE_EXCESSIVE_LOGGING_OF_PLANNER_STATISTICS",
            "SIGNAL_TYPE_NOT_LOGGING_ONLY_DDL_STATEMENTS",
            "SIGNAL_TYPE_LOGGING_QUERY_STATISTICS",
            "SIGNAL_TYPE_NOT_LOGGING_TEMPORARY_FILES",
            "SIGNAL_TYPE_CONNECTION_MAX_NOT_CONFIGURED",
            "SIGNAL_TYPE_USER_OPTIONS_CONFIGURED",
            "SIGNAL_TYPE_EXPOSED_TO_PUBLIC_ACCESS",
            "SIGNAL_TYPE_UNENCRYPTED_CONNECTIONS",
            "SIGNAL_TYPE_NO_ROOT_PASSWORD",
            "SIGNAL_TYPE_WEAK_ROOT_PASSWORD",
            "SIGNAL_TYPE_ENCRYPTION_KEY_NOT_CUSTOMER_MANAGED",
            "SIGNAL_TYPE_SERVER_AUTHENTICATION_NOT_REQUIRED",
            "SIGNAL_TYPE_EXPOSED_BY_OWNERSHIP_CHAINING",
            "SIGNAL_TYPE_EXPOSED_TO_EXTERNAL_SCRIPTS",
            "SIGNAL_TYPE_EXPOSED_TO_LOCAL_DATA_LOADS",
            "SIGNAL_TYPE_CONNECTION_ATTEMPTS_NOT_LOGGED",
            "SIGNAL_TYPE_DISCONNECTIONS_NOT_LOGGED",
            "SIGNAL_TYPE_LOGGING_EXCESSIVE_STATEMENT_INFO",
            "SIGNAL_TYPE_EXPOSED_TO_REMOTE_ACCESS",
            "SIGNAL_TYPE_DATABASE_NAMES_EXPOSED",
            "SIGNAL_TYPE_SENSITIVE_TRACE_INFO_NOT_MASKED",
            "SIGNAL_TYPE_PUBLIC_IP_ENABLED",
            "SIGNAL_TYPE_IDLE",
            "SIGNAL_TYPE_OVERPROVISIONED",
            "SIGNAL_TYPE_HIGH_NUMBER_OF_OPEN_TABLES",
            "SIGNAL_TYPE_HIGH_NUMBER_OF_TABLES",
            "SIGNAL_TYPE_HIGH_TRANSACTION_ID_UTILIZATION",
            "SIGNAL_TYPE_UNDERPROVISIONED",
            "SIGNAL_TYPE_OUT_OF_DISK",
            "SIGNAL_TYPE_SERVER_CERTIFICATE_NEAR_EXPIRY",
            "SIGNAL_TYPE_DATABASE_AUDITING_DISABLED",
            "SIGNAL_TYPE_RESTRICT_AUTHORIZED_NETWORKS",
            "SIGNAL_TYPE_VIOLATE_POLICY_RESTRICT_PUBLIC_IP",
            "SIGNAL_TYPE_QUOTA_LIMIT",
            "SIGNAL_TYPE_NO_PASSWORD_POLICY",
            "SIGNAL_TYPE_CONNECTIONS_PERFORMANCE_IMPACT",
            "SIGNAL_TYPE_TMP_TABLES_PERFORMANCE_IMPACT",
            "SIGNAL_TYPE_TRANS_LOGS_PERFORMANCE_IMPACT",
            "SIGNAL_TYPE_HIGH_JOINS_WITHOUT_INDEXES",
            "SIGNAL_TYPE_SUPERUSER_WRITING_TO_USER_TABLES",
            "SIGNAL_TYPE_USER_GRANTED_ALL_PERMISSIONS",
            "SIGNAL_TYPE_DATA_EXPORT_TO_EXTERNAL_CLOUD_STORAGE_BUCKET",
            "SIGNAL_TYPE_DATA_EXPORT_TO_PUBLIC_CLOUD_STORAGE_BUCKET",
            "SIGNAL_TYPE_WEAK_PASSWORD_HASH_ALGORITHM",
            "SIGNAL_TYPE_NO_USER_PASSWORD_POLICY",
            "SIGNAL_TYPE_HOT_NODE",
            "SIGNAL_TYPE_NO_POINT_IN_TIME_RECOVERY",
            "SIGNAL_TYPE_RESOURCE_SUSPENDED",
            "SIGNAL_TYPE_EXPENSIVE_COMMANDS",
            "SIGNAL_TYPE_NO_MAINTENANCE_POLICY_CONFIGURED",
            "SIGNAL_TYPE_NO_DELETION_PROTECTION",
            "SIGNAL_TYPE_INEFFICIENT_QUERY",
            "SIGNAL_TYPE_READ_INTENSIVE_WORKLOAD",
            "SIGNAL_TYPE_MEMORY_LIMIT",
            "SIGNAL_TYPE_MAX_SERVER_MEMORY",
            "SIGNAL_TYPE_LARGE_ROWS",
            "SIGNAL_TYPE_HIGH_WRITE_PRESSURE",
            "SIGNAL_TYPE_HIGH_READ_PRESSURE",
            "SIGNAL_TYPE_ENCRYPTION_ORG_POLICY_NOT_SATISFIED",
            "SIGNAL_TYPE_LOCATION_ORG_POLICY_NOT_SATISFIED",
            "SIGNAL_TYPE_OUTDATED_MINOR_VERSION",
            "SIGNAL_TYPE_SCHEMA_NOT_OPTIMIZED",
            "SIGNAL_TYPE_MANY_IDLE_CONNECTIONS",
            "SIGNAL_TYPE_REPLICATION_LAG",
            "SIGNAL_TYPE_OUTDATED_VERSION",
            "SIGNAL_TYPE_OUTDATED_CLIENT",
            "SIGNAL_TYPE_DATABOOST_DISABLED",
            "SIGNAL_TYPE_RECOMMENDED_MAINTENANCE_POLICIES",
            "SIGNAL_TYPE_EXTENDED_SUPPORT",
            "SIGNAL_TYPE_PERFORMANCE_KPI_CHANGE",
            "SIGNAL_TYPE_VERSION_NEARING_END_OF_LIFE",
            "SIGNAL_TYPE_HIGH_MAINTENANCE_DOWNTIME_RISK",
            "SIGNAL_TYPE_LOW_CACHE_HIT_AND_MAINTENANCE_DOWNTIME",
            "SIGNAL_TYPE_MISSING_ENHANCED_PROTECTION"
          ]
        },
        "recommenderId": {
          "type": "string",
          "description": "Required. ID of recommender. Examples: \"google.cloudsql.instance.PerformanceRecommender\""
        },
        "lastRefreshTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Required. last time recommendationw as refreshed"
        },
        "recommender": {
          "description": "Required. Name of recommendation. Examples: organizations/1234/locations/us-central1/recommenders/google.cloudsql.instance.PerformanceRecommender/recommendations/9876",
          "type": "string"
        },
        "recommendationState": {
          "enum": [
            "UNSPECIFIED",
            "ACTIVE",
            "CLAIMED",
            "SUCCEEDED",
            "FAILED",
            "DISMISSED"
          ],
          "enumDescriptions": [
            "",
            "Recommendation is active and can be applied. ACTIVE recommendations can be marked as CLAIMED, SUCCEEDED, or FAILED.",
            "Recommendation is in claimed state. Recommendations content is immutable and cannot be updated by Google. CLAIMED recommendations can be marked as CLAIMED, SUCCEEDED, or FAILED.",
            "Recommendation is in succeeded state. Recommendations content is immutable and cannot be updated by Google. SUCCEEDED recommendations can be marked as SUCCEEDED, or FAILED.",
            "Recommendation is in failed state. Recommendations content is immutable and cannot be updated by Google. FAILED recommendations can be marked as SUCCEEDED, or FAILED.",
            "Recommendation is in dismissed state. Recommendation content can be updated by Google. DISMISSED recommendations can be marked as ACTIVE."
          ],
          "type": "string",
          "description": "Required. Recommendation state"
        },
        "recommenderSubtype": {
          "description": "Required. Contains an identifier for a subtype of recommendations produced for the same recommender. Subtype is a function of content and impact, meaning a new subtype might be added when significant changes to `content` or `primary_impact.category` are introduced. See the Recommenders section to see a list of subtypes for a given Recommender. Examples: For recommender = \"google.cloudsql.instance.PerformanceRecommender\", recommender_subtype can be \"MYSQL_HIGH_NUMBER_OF_OPEN_TABLES_BEST_PRACTICE\"/\"POSTGRES_HIGH_TRANSACTION_ID_UTILIZATION_BEST_PRACTICE\"",
          "type": "string"
        },
        "additionalMetadata": {
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "description": "Optional. Any other additional metadata specific to recommendation",
          "type": "object"
        },
        "resourceName": {
          "description": "Required. Database resource name associated with the signal. Resource name to follow CAIS resource_name format as noted here go/condor-common-datamodel",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Common model for database resource recommendation signal data."
    },
    "ListClustersResponse": {
      "description": "Response for `ListClusters`.",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "Token to retrieve the next page of results, or empty if there are no more results in the list."
        },
        "unreachable": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Locations that could not be reached."
        },
        "clusters": {
          "items": {
            "$ref": "Cluster"
          },
          "description": "A list of Redis clusters in the project in the specified location, or across all locations. If the `location_id` in the parent field of the request is \"-\", all regions available to the project are queried, and the results aggregated. If in such an aggregated query a location is unavailable, a placeholder Redis entry is included in the response with the `name` field set to a value of the form `projects/{project_id}/locations/{location_id}/clusters/`- and the `status` field set to ERROR and `status_message` field set to \"location not available for ListClusters\".",
          "type": "array"
        }
      },
      "id": "ListClustersResponse",
      "type": "object"
    },
    "Backup": {
      "id": "Backup",
      "properties": {
        "uid": {
          "description": "Output only. System assigned unique identifier of the backup.",
          "type": "string",
          "readOnly": true
        },
        "createTime": {
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. The time when the backup was created.",
          "type": "string"
        },
        "cluster": {
          "description": "Output only. Cluster resource path of this backup.",
          "readOnly": true,
          "type": "string"
        },
        "encryptionInfo": {
          "description": "Output only. Encryption information of the backup.",
          "readOnly": true,
          "$ref": "EncryptionInfo"
        },
        "expireTime": {
          "description": "Output only. The time when the backup will expire.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "totalSizeBytes": {
          "description": "Output only. Total size of the backup in bytes.",
          "readOnly": true,
          "format": "int64",
          "type": "string"
        },
        "clusterUid": {
          "description": "Output only. Cluster uid of this backup.",
          "readOnly": true,
          "type": "string"
        },
        "backupFiles": {
          "type": "array",
          "items": {
            "$ref": "BackupFile"
          },
          "readOnly": true,
          "description": "Output only. List of backup files of the backup."
        },
        "shardCount": {
          "readOnly": true,
          "type": "integer",
          "description": "Output only. Number of shards for the cluster.",
          "format": "int32"
        },
        "backupType": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Type of the backup.",
          "enumDescriptions": [
            "The default value, not set.",
            "On-demand backup.",
            "Automated backup."
          ],
          "enum": [
            "BACKUP_TYPE_UNSPECIFIED",
            "ON_DEMAND",
            "AUTOMATED"
          ]
        },
        "name": {
          "type": "string",
          "description": "Identifier. Full resource path of the backup. the last part of the name is the backup id with the following format: [YYYYMMDDHHMMSS]_[Shorted Cluster UID] OR customer specified while backup cluster. Example: 20240515123000_1234"
        },
        "replicaCount": {
          "description": "Output only. Number of replicas for the cluster.",
          "format": "int32",
          "type": "integer",
          "readOnly": true
        },
        "nodeType": {
          "enumDescriptions": [
            "Node type unspecified",
            "Redis shared core nano node_type.",
            "Redis highmem medium node_type.",
            "Redis highmem xlarge node_type.",
            "Redis standard small node_type.",
            "Redis highcpu medium node_type.",
            "Redis standard large node_type.",
            "Redis highmem 2xlarge node_type."
          ],
          "readOnly": true,
          "description": "Output only. Node type of the cluster.",
          "enum": [
            "NODE_TYPE_UNSPECIFIED",
            "REDIS_SHARED_CORE_NANO",
            "REDIS_HIGHMEM_MEDIUM",
            "REDIS_HIGHMEM_XLARGE",
            "REDIS_STANDARD_SMALL",
            "REDIS_HIGHCPU_MEDIUM",
            "REDIS_STANDARD_LARGE",
            "REDIS_HIGHMEM_2XLARGE"
          ],
[...]
