{
  "discoveryVersion": "v1",
  "basePath": "",
  "title": "AI Commerce Search API",
  "revision": "20260827",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "schemas": {
    "GoogleCloudRetailV2alphaRuleIgnoreAction": {
      "description": "Prevents a term in the query from being used in search. Example: Don't search for \"shoddy\".",
      "type": "object",
      "properties": {
        "ignoreTerms": {
          "type": "array",
          "description": "Terms to ignore in the search query.",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "GoogleCloudRetailV2alphaRuleIgnoreAction"
    },
    "GoogleCloudRetailV2alphaSetInventoryResponse": {
      "properties": {},
      "type": "object",
      "description": "Response of the SetInventoryRequest. Currently empty because there is no meaningful response populated from the ProductService.SetInventory method.",
      "id": "GoogleCloudRetailV2alphaSetInventoryResponse"
    },
    "GoogleCloudRetailV2alphaModelPageOptimizationConfig": {
      "id": "GoogleCloudRetailV2alphaModelPageOptimizationConfig",
      "properties": {
        "restriction": {
          "description": "Optional. How to restrict results across panels e.g. can the same ServingConfig be shown on multiple panels at once. If unspecified, default to `UNIQUE_MODEL_RESTRICTION`.",
          "type": "string",
          "enum": [
            "RESTRICTION_UNSPECIFIED",
            "NO_RESTRICTION",
            "UNIQUE_SERVING_CONFIG_RESTRICTION",
            "UNIQUE_MODEL_RESTRICTION",
            "UNIQUE_MODEL_TYPE_RESTRICTION"
          ],
          "enumDescriptions": [
            "Unspecified value for restriction.",
            "Allow any ServingConfig to be show on any number of panels. Example: `Panel1 candidates`: pdp_ctr, pdp_cvr, home_page_ctr_no_diversity `Panel2 candidates`: home_page_ctr_no_diversity, home_page_ctr_diversity, pdp_cvr_no_diversity `Restriction` = NO_RESTRICTION `Valid combinations`: * * (pdp_ctr, home_page_ctr_no_diversity) * (pdp_ctr, home_page_ctr_diversity) * (pdp_ctr, pdp_cvr_no_diversity) * (pdp_cvr, home_page_ctr_no_diversity) * (pdp_cvr, home_page_ctr_diversity) * (pdp_cvr, pdp_cvr_no_diversity) * (home_page_ctr_no_diversity, home_page_ctr_no_diversity) * (home_page_ctr_no_diversity, home_page_ctr_diversity) * (home_page_ctr_no_diversity, pdp_cvr_no_diversity) * `Invalid combinations`: []",
            "Do not allow the same ServingConfig.name to be shown on multiple panels. Example: `Panel1 candidates`: * pdp_ctr, pdp_cvr, home_page_ctr_no_diversity * `Panel2 candidates`: * home_page_ctr_no_diversity, home_page_ctr_diversity_low, pdp_cvr_no_diversity * `Restriction` = `UNIQUE_SERVING_CONFIG_RESTRICTION` `Valid combinations`: * * (pdp_ctr, home_page_ctr_no_diversity) * (pdp_ctr, home_page_ctr_diversity_low) * (pdp_ctr, pdp_cvr_no_diversity) * (pdp_ctr, pdp_cvr_no_diversity) * (pdp_cvr, home_page_ctr_no_diversity) * (pdp_cvr, home_page_ctr_diversity_low) * (pdp_cvr, pdp_cvr_no_diversity) * (home_page_ctr_no_diversity, home_page_ctr_diversity_low) * (home_page_ctr_no_diversity, pdp_cvr_no_diversity) * `Invalid combinations`: * * (home_page_ctr_no_diversity, home_page_ctr_no_diversity) *",
            "Do not allow multiple ServingConfigs with same Model.name to be show on on different panels. Example: `Panel1 candidates`: * pdp_ctr, pdp_cvr, home_page_ctr_no_diversity * `Panel2 candidates`: * home_page_ctr_no_diversity, home_page_ctr_diversity_low, pdp_cvr_no_diversity * `Restriction` = `UNIQUE_MODEL_RESTRICTION` `Valid combinations`: * * (pdp_ctr, home_page_ctr_no_diversity) * (pdp_ctr, home_page_ctr_diversity) * (pdp_ctr, pdp_cvr_no_diversity) * (pdp_ctr, pdp_cvr_no_diversity) * (pdp_cvr, home_page_ctr_no_diversity) * (pdp_cvr, home_page_ctr_diversity_low) * (home_page_ctr_no_diversity, pdp_cvr_no_diversity) * `Invalid combinations`: * * (home_page_ctr_no_diversity, home_page_ctr_no_diversity) * (pdp_cvr, pdp_cvr_no_diversity) *",
            "Do not allow multiple ServingConfigs with same Model.type to be shown on different panels. Example: `Panel1 candidates`: * pdp_ctr, pdp_cvr, home_page_ctr_no_diversity * `Panel2 candidates`: * home_page_ctr_no_diversity, home_page_ctr_diversity_low, pdp_cvr_no_diversity * `Restriction` = `UNIQUE_MODEL_RESTRICTION` `Valid combinations`: * * (pdp_ctr, home_page_ctr_no_diversity) * (pdp_ctr, home_page_ctr_diversity) * (pdp_cvr, home_page_ctr_no_diversity) * (pdp_cvr, home_page_ctr_diversity_low) * (home_page_ctr_no_diversity, pdp_cvr_no_diversity) * `Invalid combinations`: * * (pdp_ctr, pdp_cvr_no_diversity) * (pdp_ctr, pdp_cvr_no_diversity) * (pdp_cvr, pdp_cvr_no_diversity) * (home_page_ctr_no_diversity, home_page_ctr_no_diversity) * (home_page_ctr_no_diversity, home_page_ctr_diversity) *"
          ]
        },
        "panels": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudRetailV2alphaModelPageOptimizationConfigPanel"
          },
          "description": "Required. A list of panel configurations. Limit = 5."
        },
        "pageOptimizationEventType": {
          "description": "Required. The type of UserEvent this page optimization is shown for. Each page has an associated event type - this will be the corresponding event type for the page that the page optimization model is used on. Supported types: * `add-to-cart`: Products being added to cart. * `detail-page-view`: Products detail page viewed. * `home-page-view`: Homepage viewed * `category-page-view`: Homepage viewed * `shopping-cart-page-view`: User viewing a shopping cart. `home-page-view` only allows models with type `recommended-for-you`. All other page_optimization_event_type allow all Model.types.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "The PageOptimizationConfig for model training. This determines how many panels to optimize for, and which serving configs to consider for each panel. The purpose of this model is to optimize which ServingConfig to show on which panels in way that optimizes the visitors shopping journey."
    },
    "GoogleCloudRetailV2alphaAddControlRequest": {
      "id": "GoogleCloudRetailV2alphaAddControlRequest",
      "properties": {
        "controlId": {
          "description": "Required. The id of the control to apply. Assumed to be in the same catalog as the serving config - if id is not found a NOT_FOUND error is returned.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Request for AddControl method."
    },
    "GoogleCloudRetailV2alphaRemoveLocalInventoriesRequest": {
      "type": "object",
      "description": "Request message for ProductService.RemoveLocalInventories method.",
      "properties": {
        "removeTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The time when the inventory deletions are issued. Used to prevent out-of-order updates and deletions on local inventory fields. If not provided, the internal system time will be used."
        },
        "placeIds": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Required. A list of place IDs to have their inventory deleted. At most 3000 place IDs are allowed per request."
        },
        "allowMissing": {
          "type": "boolean",
          "description": "If set to true, and the Product is not found, the local inventory removal request will still be processed and retained for at most 1 day and processed once the Product is created. If set to false, a NOT_FOUND error is returned if the Product is not found."
        }
      },
      "id": "GoogleCloudRetailV2alphaRemoveLocalInventoriesRequest"
    },
    "GoogleCloudRetailV2alphaTransformedUserEventsMetadata": {
      "id": "GoogleCloudRetailV2alphaTransformedUserEventsMetadata",
      "type": "object",
      "description": "Metadata related to transform user events operation.",
      "properties": {
        "transformedEventsCount": {
          "format": "int64",
          "description": "Count of entries in the transformed user events BigQuery table, which could be different from the actually imported number of user events.",
          "type": "string"
        },
        "sourceEventsCount": {
          "description": "Count of entries in the source user events BigQuery table.",
          "format": "int64",
          "type": "string"
        }
      }
    },
    "GoogleCloudRetailV2alphaTuneModelRequest": {
      "properties": {},
      "type": "object",
      "id": "GoogleCloudRetailV2alphaTuneModelRequest",
      "description": "Request to manually start a tuning process now (instead of waiting for the periodically scheduled tuning to happen)."
    },
    "GoogleCloudRetailV2alphaListControlsResponse": {
      "id": "GoogleCloudRetailV2alphaListControlsResponse",
      "properties": {
        "nextPageToken": {
          "description": "Pagination token, if not returned indicates the last page.",
          "type": "string"
        },
        "controls": {
          "description": "All the Controls for a given catalog.",
          "items": {
            "$ref": "GoogleCloudRetailV2alphaControl"
          },
          "type": "array"
        }
      },
      "type": "object",
      "description": "Response for ListControls method."
    },
    "GoogleCloudRetailV2betaAddFulfillmentPlacesResponse": {
      "id": "GoogleCloudRetailV2betaAddFulfillmentPlacesResponse",
      "properties": {},
      "description": "Response of the AddFulfillmentPlacesRequest. Currently empty because there is no meaningful response populated from the ProductService.AddFulfillmentPlaces method.",
      "type": "object"
    },
    "GoogleCloudRetailV2alphaConditionTimeRange": {
      "description": "Used for time-dependent conditions. Example: Want to have rule applied for week long sale.",
      "properties": {
        "endTime": {
          "format": "google-datetime",
          "description": "End of time range. Range is inclusive.",
          "type": "string"
        },
        "startTime": {
          "description": "Start of time range. Range is inclusive.",
          "format": "google-datetime",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudRetailV2alphaConditionTimeRange"
    },
    "GoogleCloudRetailV2TuneModelResponse": {
      "type": "object",
      "description": "Response associated with a tune operation.",
      "properties": {},
      "id": "GoogleCloudRetailV2TuneModelResponse"
    },
    "GoogleCloudRetailV2alphaExportAnalyticsMetricsResponse": {
      "description": "Response of the ExportAnalyticsMetricsRequest. If the long running operation was successful, then this message is returned by the google.longrunning.Operations.response field if the operation was successful.",
      "id": "GoogleCloudRetailV2alphaExportAnalyticsMetricsResponse",
      "properties": {
        "errorSamples": {
          "description": "A sample of errors encountered while processing the request.",
          "items": {
            "$ref": "GoogleRpcStatus"
          },
          "type": "array"
        },
        "errorsConfig": {
          "$ref": "GoogleCloudRetailV2alphaExportErrorsConfig",
          "description": "This field is never set."
        },
        "outputResult": {
          "$ref": "GoogleCloudRetailV2alphaOutputResult",
          "description": "Output result indicating where the data were exported to."
        }
      },
      "type": "object"
    },
    "GoogleCloudRetailV2RejoinUserEventsResponse": {
      "properties": {
        "rejoinedUserEventsCount": {
          "description": "Number of user events that were joined with latest product catalog.",
          "type": "string",
          "format": "int64"
        }
      },
      "id": "GoogleCloudRetailV2RejoinUserEventsResponse",
      "type": "object",
      "description": "Response message for `RejoinUserEvents` method."
    },
    "GoogleCloudRetailV2alphaRuleTwowaySynonymsAction": {
      "id": "GoogleCloudRetailV2alphaRuleTwowaySynonymsAction",
      "properties": {
        "synonyms": {
          "type": "array",
          "description": "Defines a set of synonyms. Can specify up to 100 synonyms. Must specify at least 2 synonyms.",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object",
      "description": "Creates a set of terms that will be treated as synonyms of each other. Example: synonyms of \"sneakers\" and \"shoes\": * \"sneakers\" will use a synonym of \"shoes\". * \"shoes\" will use a synonym of \"sneakers\"."
    },
    "GoogleCloudRetailV2alphaModelModelFeaturesConfig": {
      "type": "object",
      "properties": {
        "frequentlyBoughtTogetherConfig": {
          "description": "Additional configs for frequently-bought-together models.",
          "$ref": "GoogleCloudRetailV2alphaModelFrequentlyBoughtTogetherFeaturesConfig"
        }
      },
      "description": "Additional model features config.",
      "id": "GoogleCloudRetailV2alphaModelModelFeaturesConfig"
    },
    "GoogleCloudRetailV2PurgeUserEventsResponse": {
      "id": "GoogleCloudRetailV2PurgeUserEventsResponse",
      "type": "object",
      "description": "Response of the PurgeUserEventsRequest. If the long running operation is successfully done, then this message is returned by the google.longrunning.Operations.response field.",
      "properties": {
        "purgedEventsCount": {
          "description": "The total count of events purged as a result of the operation.",
          "format": "int64",
          "type": "string"
        }
      }
    },
    "GoogleCloudRetailV2alphaBatchRemoveCatalogAttributesResponse": {
      "id": "GoogleCloudRetailV2alphaBatchRemoveCatalogAttributesResponse",
      "description": "Response of the CatalogService.BatchRemoveCatalogAttributes.",
      "type": "object",
      "properties": {
        "deletedCatalogAttributes": {
          "items": {
            "type": "string"
          },
          "description": "Catalog attributes that were deleted. Only pre-loaded catalog attributes that are neither in use by products nor predefined can be deleted.",
          "type": "array"
        },
        "resetCatalogAttributes": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Catalog attributes that were reset. Catalog attributes that are either in use by products or are predefined attributes cannot be deleted; however, their configuration properties will reset to default values upon removal request."
        }
      }
    },
    "GoogleCloudRetailV2alphaDoubleList": {
      "description": "A message with a list of double values.",
      "type": "object",
      "id": "GoogleCloudRetailV2alphaDoubleList",
      "properties": {
        "values": {
          "type": "array",
          "items": {
            "type": "number",
            "format": "double"
          },
          "description": "The list of double values."
        }
      }
    },
    "GoogleCloudRetailV2alphaListBranchesResponse": {
      "type": "object",
      "description": "Response for BranchService.ListBranches method.",
      "properties": {
        "branches": {
          "description": "The Branches.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudRetailV2alphaBranch"
          }
        }
      },
      "id": "GoogleCloudRetailV2alphaListBranchesResponse"
    },
    "GoogleCloudRetailV2alphaCatalogAttributeFacetConfigMergedFacetValue": {
      "id": "GoogleCloudRetailV2alphaCatalogAttributeFacetConfigMergedFacetValue",
      "properties": {
        "values": {
          "description": "All the facet values that are replaces by the same merged_value that follows. The maximum number of values per MergedFacetValue is 25. Each value can have up to 128 characters.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "mergedValue": {
          "description": "All the previous values are replaced by this merged facet value. This merged_value must be non-empty and can have up to 128 characters.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Replaces a set of textual facet values by the same (possibly different) merged facet value. Each facet value should appear at most once as a value per CatalogAttribute. This feature is available only for textual custom attributes."
    },
    "GoogleCloudRetailV2alphaRuleForceReturnFacetAction": {
      "type": "object",
      "id": "GoogleCloudRetailV2alphaRuleForceReturnFacetAction",
      "description": "Force returns an attribute/facet in the request around a certain position or above. * Rule Condition: Must specify non-empty Condition.query_terms (for search only) or Condition.page_categories (for browse only), but can't specify both. * Action Inputs: attribute name, position * Action Result: Will force return a facet key around a certain position or above if the condition is satisfied. Example: Suppose the query is \"shoes\", the Condition.query_terms is \"shoes\", the ForceReturnFacetAction.FacetPositionAdjustment.attribute_name is \"size\" and the ForceReturnFacetAction.FacetPositionAdjustment.position is 8. Two cases: a) The facet key \"size\" is not already in the top 8 slots, then the facet \"size\" will appear at a position close to 8. b) The facet key \"size\" in among the top 8 positions in the request, then it will stay at its current rank.",
      "properties": {
        "facetPositionAdjustments": {
          "description": "Each instance corresponds to a force return attribute for the given condition. There can't be more 15 instances here.",
          "items": {
            "$ref": "GoogleCloudRetailV2alphaRuleForceReturnFacetActionFacetPositionAdjustment"
          },
          "type": "array"
        }
      }
    },
    "GoogleCloudRetailV2alphaCatalogAttributeFacetConfig": {
      "id": "GoogleCloudRetailV2alphaCatalogAttributeFacetConfig",
      "description": "Possible options for the facet that corresponds to the current attribute config.",
      "properties": {
        "ignoredFacetValues": {
          "items": {
            "$ref": "GoogleCloudRetailV2alphaCatalogAttributeFacetConfigIgnoredFacetValues"
          },
          "type": "array",
          "description": "Each instance represents a list of attribute values to ignore as facet values for a specific time range. The maximum number of instances per CatalogAttribute is 25."
        },
        "mergedFacet": {
          "description": "Use this field only if you want to merge a facet key into another facet key.",
          "$ref": "GoogleCloudRetailV2alphaCatalogAttributeFacetConfigMergedFacet"
        },
        "rerankConfig": {
          "description": "Set this field only if you want to rerank based on facet values engaged by the user for the current key. This option is only possible for custom facetable textual keys.",
          "$ref": "GoogleCloudRetailV2alphaCatalogAttributeFacetConfigRerankConfig"
        },
        "facetIntervals": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudRetailV2alphaInterval"
          },
          "description": "If you don't set the facet SearchRequest.FacetSpec.FacetKey.intervals in the request to a numerical attribute, then we use the computed intervals with rounded bounds obtained from all its product numerical attribute values. The computed intervals might not be ideal for some attributes. Therefore, we give you the option to overwrite them with the facet_intervals field. The maximum of facet intervals per CatalogAttribute is 40. Each interval must have a lower bound or an upper bound. If both bounds are provided, then the lower bound must be smaller or equal than the upper bound."
        },
        "mergedFacetValues": {
          "type": "array",
          "description": "Each instance replaces a list of facet values by a merged facet value. If a facet value is not in any list, then it will stay the same. To avoid conflicts, only paths of length 1 are accepted. In other words, if \"dark_blue\" merged into \"BLUE\", then the latter can't merge into \"blues\" because this would create a path of length 2. The maximum number of instances of MergedFacetValue per CatalogAttribute is 100. This feature is available only for textual custom attributes.",
          "items": {
            "$ref": "GoogleCloudRetailV2alphaCatalogAttributeFacetConfigMergedFacetValue"
          }
        }
      },
      "type": "object"
    },
    "GoogleCloudRetailV2alphaPredictResponse": {
      "id": "GoogleCloudRetailV2alphaPredictResponse",
      "properties": {
        "validateOnly": {
          "description": "True if the validateOnly property was set in the request.",
          "type": "boolean"
        },
        "results": {
          "description": "A list of recommended products. The order represents the ranking (from the most relevant product to the least).",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudRetailV2alphaPredictResponsePredictionResult"
          }
        },
        "missingIds": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "IDs of products in the request that were missing from the inventory."
        },
        "attributionToken": {
          "description": "A unique attribution token. This should be included in the UserEvent logs resulting from this recommendation, which enables accurate attribution of recommendation model performance.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Response message for predict method."
    },
    "GoogleCloudRetailV2alphaUpdateGenerativeQuestionConfigRequest": {
      "type": "object",
      "properties": {
        "generativeQuestionConfig": {
          "description": "Required. The question to update.",
          "$ref": "GoogleCloudRetailV2alphaGenerativeQuestionConfig"
        },
        "updateMask": {
          "format": "google-fieldmask",
          "description": "Optional. Indicates which fields in the provided GenerativeQuestionConfig to update. The following are NOT supported: * GenerativeQuestionConfig.frequency If not set or empty, all supported fields are updated.",
          "type": "string"
        }
      },
      "description": "Request for UpdateGenerativeQuestionConfig method.",
      "id": "GoogleCloudRetailV2alphaUpdateGenerativeQuestionConfigRequest"
    },
    "GoogleCloudRetailV2alphaUserEventInlineSource": {
      "description": "The inline source for the input config for ImportUserEvents method.",
      "type": "object",
      "id": "GoogleCloudRetailV2alphaUserEventInlineSource",
      "properties": {
        "userEvents": {
          "description": "Required. A list of user events to import. Recommended max of 10k items.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudRetailV2alphaUserEvent"
          }
        }
      }
    },
    "GoogleCloudRetailLoggingImportErrorContext": {
      "type": "object",
      "description": "The error payload that is populated on LRO import APIs, including \"google.cloud.retail.v2.ProductService.ImportProducts\" and \"google.cloud.retail.v2.EventService.ImportUserEvents\".",
      "properties": {
        "userEvent": {
          "description": "The detailed content which caused the error on importing a user event.",
          "type": "string"
        },
        "product": {
          "description": "The detailed content which caused the error on importing a product.",
          "type": "string"
        },
        "catalogItem": {
          "description": "The detailed content which caused the error on importing a catalog item.",
          "type": "string"
        },
        "lineNumber": {
          "description": "Line number of the content in file. Should be empty for permission or batch operation error.",
          "type": "string"
        },
        "gcsPath": {
          "description": "Cloud Storage file path of the import source. Can be set for batch operation error.",
          "type": "string"
        },
        "operationName": {
          "description": "The operation resource name of the LRO.",
          "type": "string"
        }
      },
      "id": "GoogleCloudRetailLoggingImportErrorContext"
    },
    "GoogleCloudRetailV2betaRejoinUserEventsResponse": {
      "id": "GoogleCloudRetailV2betaRejoinUserEventsResponse",
      "properties": {
        "rejoinedUserEventsCount": {
          "description": "Number of user events that were joined with latest product catalog.",
          "type": "string",
          "format": "int64"
        }
      },
      "type": "object",
      "description": "Response message for `RejoinUserEvents` method."
    },
    "GoogleCloudRetailV2AddFulfillmentPlacesResponse": {
      "description": "Response of the AddFulfillmentPlacesRequest. Currently empty because there is no meaningful response populated from the ProductService.AddFulfillmentPlaces method.",
      "id": "GoogleCloudRetailV2AddFulfillmentPlacesResponse",
      "properties": {},
      "type": "object"
    },
    "GoogleCloudRetailV2alphaRulePinAction": {
      "description": "Pins one or more specified products to a specific position in the results. * Rule Condition: Must specify non-empty Condition.query_terms (for search only) or Condition.page_categories (for browse only), but can't specify both. * Action Input: mapping of `[pin_position, product_id]` pairs (pin position uses 1-based indexing). * Action Result: Will pin products with matching ids to the position specified in the final result order. Example: Suppose the query is `shoes`, the Condition.query_terms is `shoes` and the pin_map has `{1, \"pid1\"}`, then product with `pid1` will be pinned to the top position in the final results. If multiple PinActions are matched to a single request the actions will be processed from most to least recently updated. Pins to positions larger than the max allowed page size of 120 are not allowed.",
      "id": "GoogleCloudRetailV2alphaRulePinAction",
      "type": "object",
      "properties": {
        "pinMap": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Required. A map of positions to product_ids. Partial matches per action are allowed, if a certain position in the map is already filled that `[position, product_id]` pair will be ignored but the rest may still be applied. This case will only occur if multiple pin actions are matched to a single request, as the map guarantees that pin positions are unique within the same action. Duplicate product_ids are not permitted within a single pin map. The max size of this map is 120, equivalent to the max [request page size](https://cloud.google.com/retail/docs/reference/rest/v2/projects.locations.catalogs.placements/search#request-body).",
          "type": "object"
        }
      }
    },
    "GoogleCloudRetailV2alphaTuneModelMetadata": {
      "id": "GoogleCloudRetailV2alphaTuneModelMetadata",
      "type": "object",
      "properties": {
        "model": {
          "type": "string",
          "description": "The resource name of the model that this tune applies to. Format: `projects/{project_number}/locations/{location_id}/catalogs/{catalog_id}/models/{model_id}`"
        }
      },
      "description": "Metadata associated with a tune operation."
    },
    "GoogleCloudRetailV2alphaMerchantCenterLink": {
      "id": "GoogleCloudRetailV2alphaMerchantCenterLink",
      "properties": {
        "regionCode": {
          "description": "Region code of offers to accept. 2-letter Uppercase ISO 3166-1 alpha-2 code. List of values can be found [here](https://www.iana.org/assignments/language-subtag-registry/language-subtag-registry) under the `region` tag. If left blank no region filtering will be performed. Example value: `US`.",
          "type": "string"
        },
        "destinations": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "String representing the destination to import for, all if left empty. List of possible values is given in [Included destination](https://support.google.com/merchants/answer/7501026). List of allowed string values: \"Shopping_ads\", \"Buy_on_google_listings\", \"Display_ads\", \"Local_inventory _ads\", \"Free_listings\", \"Free_local_listings\" NOTE: The string values are case sensitive."
        },
        "merchantCenterAccountId": {
          "description": "Required. The linked [Merchant Center account ID](https://developers.google.com/shopping-content/guides/accountstatuses). The account must be a standalone account or a sub-account of a MCA.",
          "format": "int64",
          "type": "string"
        },
        "branchId": {
          "type": "string",
          "description": "The branch ID (e.g. 0/1/2) within this catalog that products from merchant_center_account_id are streamed to. When updating this field, an empty value will use the currently configured default branch. However, changing the default branch later on won't change the linked branch here. A single branch ID can only have one linked Merchant Center account ID."
        },
        "feeds": {
          "items": {
            "$ref": "GoogleCloudRetailV2alphaMerchantCenterFeedFilter"
          },
          "description": "Criteria for the Merchant Center feeds to be ingested via the link. All offers will be ingested if the list is empty. Otherwise the offers will be ingested from selected feeds.",
          "type": "array"
        },
        "languageCode": {
          "description": "Language of the title/description and other string attributes. Use language tags defined by [BCP 47](https://www.rfc-editor.org/rfc/bcp/bcp47.txt). ISO 639-1. This specifies the language of offers in Merchant Center that will be accepted. If empty no language filtering will be performed. Example value: `en`.",
          "type": "string"
        }
      },
      "description": "Represents a link between a Merchant Center account and a branch. After a link is established, products from the linked Merchant Center account are streamed to the linked branch.",
      "type": "object"
    },
    "GoogleCloudRetailV2alphaCompleteQueryResponseAgentPrompt": {
      "type": "object",
      "description": "A conversational prompt to trigger agents like Shopping Agent.",
      "id": "GoogleCloudRetailV2alphaCompleteQueryResponseAgentPrompt",
      "properties": {
        "prompt": {
          "description": "The conversational prompt string.",
          "type": "string"
        }
      }
    },
    "GoogleCloudRetailV2alphaPurgeProductsRequest": {
      "id": "GoogleCloudRetailV2alphaPurgeProductsRequest",
      "properties": {
        "filter": {
          "type": "string",
          "description": "Required. The filter string to specify the products to be deleted with a length limit of 5,000 characters. Empty string filter is not allowed. \"*\" implies delete all items in a branch. The eligible fields for filtering are: * `availability`: Double quoted Product.availability string. * `create_time` : in ISO 8601 \"zulu\" format. Supported syntax: * Comparators (\">\", \"<\", \">=\", \"<=\", \"=\"). Examples: * create_time <= \"2015-02-13T17:05:46Z\" * availability = \"IN_STOCK\" * Conjunctions (\"AND\") Examples: * create_time <= \"2015-02-13T17:05:46Z\" AND availability = \"PREORDER\" * Disjunctions (\"OR\") Examples: * create_time <= \"2015-02-13T17:05:46Z\" OR availability = \"IN_STOCK\" * Can support nested queries. Examples: * (create_time <= \"2015-02-13T17:05:46Z\" AND availability = \"PREORDER\") OR (create_time >= \"2015-02-14T13:03:32Z\" AND availability = \"IN_STOCK\") * Filter Limits: * Filter should not contain more than 6 conditions. * Max nesting depth should not exceed 2 levels. Examples queries: * Delete back order products created before a timestamp. create_time <= \"2015-02-13T17:05:46Z\" OR availability = \"BACKORDER\""
        },
        "force": {
          "type": "boolean",
          "description": "Actually perform the purge. If `force` is set to false, the method will return the expected purge count without deleting any products."
        }
      },
      "type": "object",
      "description": "Request message for PurgeProducts method."
    },
    "GoogleCloudRetailV2alphaPriceInfoPriceRange": {
      "description": "The price range of all variant Product having the same Product.primary_product_id.",
      "id": "GoogleCloudRetailV2alphaPriceInfoPriceRange",
      "type": "object",
      "properties": {
        "originalPrice": {
          "$ref": "GoogleCloudRetailV2alphaInterval",
          "description": "The inclusive Product.pricing_info.original_price internal of all variant Product having the same Product.primary_product_id."
        },
        "price": {
          "$ref": "GoogleCloudRetailV2alphaInterval",
          "description": "The inclusive Product.pricing_info.price interval of all variant Product having the same Product.primary_product_id."
        }
      }
    },
    "GoogleProtobufEmpty": {
      "properties": {},
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "type": "object",
      "id": "GoogleProtobufEmpty"
    },
    "GoogleCloudRetailV2ImportUserEventsResponse": {
      "id": "GoogleCloudRetailV2ImportUserEventsResponse",
      "properties": {
        "errorSamples": {
          "description": "A sample of errors encountered while processing the request.",
          "type": "array",
          "items": {
            "$ref": "GoogleRpcStatus"
          }
        },
        "importSummary": {
          "$ref": "GoogleCloudRetailV2UserEventImportSummary",
          "description": "Aggregated statistics of user event import status."
        },
        "errorsConfig": {
          "$ref": "GoogleCloudRetailV2ImportErrorsConfig",
          "description": "Echoes the destination for the complete errors if this field was set in the request."
        }
      },
      "description": "Response of the ImportUserEventsRequest. If the long running operation was successful, then this message is returned by the google.longrunning.Operations.response field if the operation was successful.",
      "type": "object"
    },
    "GoogleCloudRetailV2betaExportProductsResponse": {
      "properties": {
        "outputResult": {
          "description": "Output result indicating where the data were exported to.",
          "$ref": "GoogleCloudRetailV2betaOutputResult"
        },
        "errorsConfig": {
          "$ref": "GoogleCloudRetailV2betaExportErrorsConfig",
          "description": "This field is never set."
        },
        "errorSamples": {
          "type": "array",
          "items": {
            "$ref": "GoogleRpcStatus"
          },
          "description": "A sample of errors encountered while processing the request."
        }
      },
      "description": "Response of the ExportProductsRequest. If the long running operation is done, then this message is returned by the google.longrunning.Operations.response field if the operation was successful.",
      "type": "object",
      "id": "GoogleCloudRetailV2betaExportProductsResponse"
    },
    "GoogleCloudRetailV2alphaConversationalSearchCustomizationConfig": {
      "type": "object",
      "properties": {
        "catalog": {
          "type": "string",
          "description": "Required. Resource name of the catalog. Format: projects/{project}/locations/{location}/catalogs/{catalog}"
        },
        "intentClassificationConfig": {
          "description": "Optional. The configs for intent classification.",
          "$ref": "GoogleCloudRetailV2alphaIntentClassificationConfig"
        },
        "retailerDisplayName": {
          "description": "Optional. The retailer's display name that could be used in our LLM answers. Example - \"Google\"",
          "type": "string"
        }
      },
      "id": "GoogleCloudRetailV2alphaConversationalSearchCustomizationConfig",
      "description": "The public proto to represent the conversational search customization config. It will be converted to the internal proto in the backend."
    },
    "GoogleCloudRetailV2alphaFulfillmentInfo": {
      "type": "object",
      "properties": {
        "type": {
          "description": "The fulfillment type, including commonly used types (such as pickup in store and same day delivery), and custom types. Customers have to map custom types to their display names before rendering UI. Supported values: * \"pickup-in-store\" * \"ship-to-store\" * \"same-day-delivery\" * \"next-day-delivery\" * \"custom-type-1\" * \"custom-type-2\" * \"custom-type-3\" * \"custom-type-4\" * \"custom-type-5\" If this field is set to an invalid value other than these, an INVALID_ARGUMENT error is returned.",
          "type": "string"
        },
        "placeIds": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The IDs for this type, such as the store IDs for FulfillmentInfo.type.pickup-in-store or the region IDs for FulfillmentInfo.type.same-day-delivery. A maximum of 3000 values are allowed. Each value must be a string with a length limit of 30 characters, matching the pattern `[a-zA-Z0-9_-]+`, such as \"store1\" or \"REGION-2\". Otherwise, an INVALID_ARGUMENT error is returned."
        }
      },
      "id": "GoogleCloudRetailV2alphaFulfillmentInfo",
      "description": "Fulfillment information, such as the store IDs for in-store pickup or region IDs for different shipping methods."
    },
    "GoogleCloudRetailV2BigQueryOutputResult": {
      "properties": {
        "datasetId": {
          "description": "The ID of a BigQuery Dataset.",
          "type": "string"
        },
        "tableId": {
          "type": "string",
          "description": "The ID of a BigQuery Table."
        }
      },
      "id": "GoogleCloudRetailV2BigQueryOutputResult",
      "type": "object",
      "description": "A BigQuery output result."
    },
    "GoogleCloudRetailV2alphaPanelInfo": {
      "properties": {
        "totalPanels": {
          "type": "integer",
          "format": "int32",
          "description": "Optional. The total number of panels, including this one, shown to the user. Must be set if panel_position is set."
        },
        "productDetails": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudRetailV2alphaProductDetail"
          },
          "description": "Optional. The product details associated with the panel."
        },
        "attributionToken": {
          "description": "Optional. The attribution token of the panel.",
          "type": "string"
        },
        "displayName": {
          "description": "Optional. The display name of the panel.",
          "type": "string"
        },
        "panelId": {
          "type": "string",
          "description": "Required. The panel ID."
        },
        "panelPosition": {
          "format": "int32",
          "description": "Optional. The ordered position of the panel, if shown to the user with other panels. If set, then total_panels must also be set.",
          "type": "integer"
        }
      },
      "type": "object",
      "description": "Detailed panel information associated with a user event.",
      "id": "GoogleCloudRetailV2alphaPanelInfo"
    },
    "GoogleCloudRetailV2alphaEnrollSolutionRequest": {
      "type": "object",
      "description": "Request for EnrollSolution method.",
      "id": "GoogleCloudRetailV2alphaEnrollSolutionRequest",
      "properties": {
        "solution": {
          "type": "string",
          "enum": [
            "SOLUTION_TYPE_UNSPECIFIED",
            "SOLUTION_TYPE_RECOMMENDATION",
            "SOLUTION_TYPE_SEARCH"
          ],
          "description": "Required. Solution to enroll.",
          "enumDescriptions": [
            "Default value.",
            "Used for Recommendations AI.",
            "Used for Retail Search."
          ]
        }
      }
    },
    "GoogleCloudRetailV2alphaLoggingConfigServiceLogGenerationRule": {
      "type": "object",
      "properties": {
        "logGenerationRule": {
          "description": "The log generation rule that applies to this service.",
          "$ref": "GoogleCloudRetailV2alphaLoggingConfigLogGenerationRule"
        },
        "serviceName": {
          "description": "Required. Supported service names: \"CatalogService\", \"CompletionService\", \"ControlService\", \"MerchantCenterStreaming\", \"ModelService\", \"PredictionService\", \"ProductService\", \"ServingConfigService\", \"UserEventService\",",
          "type": "string"
        }
      },
      "id": "GoogleCloudRetailV2alphaLoggingConfigServiceLogGenerationRule",
      "description": "The granular logging configurations for supported services."
    },
    "GoogleCloudRetailV2AddLocalInventoriesMetadata": {
      "description": "Metadata related to the progress of the AddLocalInventories operation. Currently empty because there is no meaningful metadata populated from the ProductService.AddLocalInventories method.",
      "id": "GoogleCloudRetailV2AddLocalInventoriesMetadata",
      "type": "object",
      "properties": {}
    },
    "GoogleCloudRetailV2alphaModelServingConfigList": {
      "properties": {
        "servingConfigIds": {
          "type": "array",
          "description": "Optional. A set of valid serving configs that may be used for `PAGE_OPTIMIZATION`.",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object",
      "id": "GoogleCloudRetailV2alphaModelServingConfigList",
      "description": "Represents an ordered combination of valid serving configs, which can be used for `PAGE_OPTIMIZATION` recommendations."
    },
    "GoogleCloudRetailV2alphaAddFulfillmentPlacesMetadata": {
      "properties": {},
      "description": "Metadata related to the progress of the AddFulfillmentPlaces operation. Currently empty because there is no meaningful metadata populated from the ProductService.AddFulfillmentPlaces method.",
      "id": "GoogleCloudRetailV2alphaAddFulfillmentPlacesMetadata",
      "type": "object"
    },
    "GoogleCloudRetailV2betaModelServingConfigList": {
      "type": "object",
      "properties": {
        "servingConfigIds": {
          "description": "Optional. A set of valid serving configs that may be used for `PAGE_OPTIMIZATION`.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "id": "GoogleCloudRetailV2betaModelServingConfigList",
      "description": "Represents an ordered combination of valid serving configs, which can be used for `PAGE_OPTIMIZATION` recommendations."
    },
    "GoogleCloudRetailV2alphaBigQueryOutputResult": {
      "properties": {
        "datasetId": {
          "type": "string",
          "description": "The ID of a BigQuery Dataset."
        },
        "tableId": {
          "description": "The ID of a BigQuery Table.",
          "type": "string"
        }
      },
      "id": "GoogleCloudRetailV2alphaBigQueryOutputResult",
      "type": "object",
      "description": "A BigQuery output result."
    },
    "GoogleCloudRetailV2alphaAlertConfig": {
      "type": "object",
      "description": "Project level alert config.",
      "properties": {
        "alertPolicies": {
          "description": "Alert policies for a customer. They must be unique by [AlertPolicy.alert_group]",
          "items": {
            "$ref": "GoogleCloudRetailV2alphaAlertConfigAlertPolicy"
          },
          "type": "array"
        },
        "name": {
          "type": "string",
          "description": "Required. Immutable. The name of the AlertConfig singleton resource. Format: projects/*/alertConfig"
        }
      },
      "id": "GoogleCloudRetailV2alphaAlertConfig"
    },
    "GoogleCloudRetailV2betaModelFrequentlyBoughtTogetherFeaturesConfig": {
      "description": "Additional configs for the frequently-bought-together model type.",
      "type": "object",
      "properties": {
        "contextProductsType": {
          "type": "string",
          "enum": [
            "CONTEXT_PRODUCTS_TYPE_UNSPECIFIED",
            "SINGLE_CONTEXT_PRODUCT",
            "MULTIPLE_CONTEXT_PRODUCTS"
          ],
          "enumDescriptions": [
            "Unspecified default value, should never be explicitly set. Defaults to MULTIPLE_CONTEXT_PRODUCTS.",
            "Use only a single product as context for the recommendation. Typically used on pages like add-to-cart or product details.",
            "Use one or multiple products as context for the recommendation. Typically used on shopping cart pages."
          ],
          "description": "Optional. Specifies the context of the model when it is used in predict requests. Can only be set for the `frequently-bought-together` type. If it isn't specified, it defaults to MULTIPLE_CONTEXT_PRODUCTS."
        }
      },
      "id": "GoogleCloudRetailV2betaModelFrequentlyBoughtTogetherFeaturesConfig"
    },
    "GoogleCloudRetailV2betaSetInventoryResponse": {
      "type": "object",
      "properties": {},
      "description": "Response of the SetInventoryRequest. Currently empty because there is no meaningful response populated from the ProductService.SetInventory method.",
      "id": "GoogleCloudRetailV2betaSetInventoryResponse"
    },
    "GoogleCloudRetailV2alphaAlertConfigAlertPolicyRecipient": {
      "properties": {
        "emailAddress": {
          "description": "Email address of the recipient.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Recipient contact information.",
      "id": "GoogleCloudRetailV2alphaAlertConfigAlertPolicyRecipient"
    },
    "GoogleApiHttpBody": {
      "description": "Message that represents an arbitrary HTTP body. It should only be used for payload formats that can't be represented as JSON, such as raw binary or an HTML page. This message can be used both in streaming and non-streaming API methods in the request as well as the response. It can be used as a top-level request field, which is convenient if one wants to extract parameters from either the URL or HTTP template into the request fields and also want access to the raw HTTP body. Example: message GetResourceRequest { // A unique request id. string request_id = 1; // The raw HTTP body is bound to this field. google.api.HttpBody http_body = 2; } service ResourceService { rpc GetResource(GetResourceRequest) returns (google.api.HttpBody); rpc UpdateResource(google.api.HttpBody) returns (google.protobuf.Empty); } Example with streaming methods: service CaldavService { rpc GetCalendar(stream google.api.HttpBody) returns (stream google.api.HttpBody); rpc UpdateCalendar(stream google.api.HttpBody) returns (stream google.api.HttpBody); } Use of this type only changes how the request and response bodies are handled, all other features will continue to work unchanged.",
      "type": "object",
      "id": "GoogleApiHttpBody",
      "properties": {
        "contentType": {
          "description": "The HTTP Content-Type header value specifying the content type of the body.",
          "type": "string"
        },
        "data": {
          "format": "byte",
          "description": "The HTTP request/response body as raw binary.",
          "type": "string"
        },
        "extensions": {
          "description": "Application specific response metadata. Must be set in the first response for streaming APIs.",
          "type": "array",
          "items": {
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            },
            "type": "object"
          }
        }
      }
    },
    "GoogleCloudRetailV2alphaLocalInventory": {
      "properties": {
        "priceInfo": {
          "$ref": "GoogleCloudRetailV2alphaPriceInfo",
          "description": "Optional. Product price and cost information. Google Merchant Center property [price](https://support.google.com/merchants/answer/6324371)."
        },
        "fulfillmentTypes": {
          "items": {
            "type": "string"
          },
          "description": "Optional. Supported fulfillment types. Valid fulfillment type values include commonly used types (such as pickup in store and same day delivery), and custom types. Customers have to map custom types to their display names before rendering UI. Supported values: * \"pickup-in-store\" * \"ship-to-store\" * \"same-day-delivery\" * \"next-day-delivery\" * \"custom-type-1\" * \"custom-type-2\" * \"custom-type-3\" * \"custom-type-4\" * \"custom-type-5\" If this field is set to an invalid value other than these, an INVALID_ARGUMENT error is returned. All the elements must be distinct. Otherwise, an INVALID_ARGUMENT error is returned.",
          "type": "array"
        },
        "placeId": {
          "description": "Optional. The place ID for the current set of inventory information.",
          "type": "string"
        },
        "availability": {
          "type": "string",
          "enum": [
            "AVAILABILITY_UNSPECIFIED",
            "IN_STOCK",
            "OUT_OF_STOCK",
            "PREORDER",
            "BACKORDER"
          ],
          "description": "Optional. The availability of the Product at this place_id. Default to Availability.IN_STOCK. For primary products with variants set the availability of the primary as Availability.OUT_OF_STOCK and set the true availability at the variant level. This way the primary product will be considered \"in stock\" as long as it has at least one variant in stock. For primary products with no variants set the true availability at the primary level. Corresponding properties: Google Merchant Center property [availability](https://support.google.com/merchants/answer/6324448). Schema.org property [Offer.availability](https://schema.org/availability). This field is currently only used by the Recommendations API. For Search, please make use of fulfillment_types or custom attributes for similar behaviour. See [here]( https://cloud.google.com/retail/docs/local-inventory-updates#local-inventory-update-methods) for more details.",
          "enumDescriptions": [
            "Default product availability. Default to Availability.IN_STOCK if unset.",
            "Product in stock.",
            "Product out of stock.",
            "Product that is in pre-order state.",
            "Product that is back-ordered (i.e. temporarily out of stock)."
          ]
        },
        "attributes": {
          "type": "object",
          "description": "Optional. Additional local inventory attributes, for example, store name, promotion tags, etc. This field needs to pass all below criteria, otherwise an INVALID_ARGUMENT error is returned: * At most 30 attributes are allowed. * The key must be a UTF-8 encoded string with a length limit of 32 characters. * The key must match the pattern: `a-zA-Z0-9*`. For example, key0LikeThis or KEY_1_LIKE_THIS. * The attribute values must be of the same type (text or number). * Only 1 value is allowed for each attribute. * For text values, the length limit is 256 UTF-8 characters. * The attribute does not support search. The `searchable` field should be unset or set to false. * The max summed total bytes of custom attribute keys and values per product is 5MiB.",
          "additionalProperties": {
            "$ref": "GoogleCloudRetailV2alphaCustomAttribute"
          }
        }
      },
      "description": "The inventory information at a place (e.g. a store) identified by a place ID.",
      "type": "object",
      "id": "GoogleCloudRetailV2alphaLocalInventory"
    },
    "GoogleCloudRetailV2ImportErrorsConfig": {
      "type": "object",
      "id": "GoogleCloudRetailV2ImportErrorsConfig",
      "description": "Configuration of destination for Import related errors.",
      "properties": {
        "gcsPrefix": {
          "description": "Google Cloud Storage prefix for import errors. This must be an empty, existing Cloud Storage directory. Import errors are written to sharded files in this directory, one per line, as a JSON-encoded `google.rpc.Status` message.",
          "type": "string"
        }
      }
    },
    "GoogleCloudRetailV2alphaCompleteQueryResponseAttributeResult": {
      "properties": {
        "suggestions": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "The list of suggestions for the attribute."
        }
      },
      "description": "Resource that represents attribute results.",
      "type": "object",
      "id": "GoogleCloudRetailV2alphaCompleteQueryResponseAttributeResult"
    },
    "GoogleTypeDate": {
      "id": "GoogleTypeDate",
      "properties": {
        "month": {
          "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day.",
          "type": "integer",
          "format": "int32"
        },
        "year": {
          "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year.",
          "type": "integer",
          "format": "int32"
        },
        "day": {
          "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant.",
          "format": "int32",
          "type": "integer"
        }
      },
      "type": "object",
      "description": "Represents a whole or partial calendar date, such as a birthday. The time of day and time zone are either specified elsewhere or are insignificant. The date is relative to the Gregorian Calendar. This can represent one of the following: * A full date, with non-zero year, month, and day values. * A month and day, with a zero year (for example, an anniversary). * A year on its own, with a zero month and a zero day. * A year and month, with a zero day (for example, a credit card expiration date). Related types: * google.type.TimeOfDay * google.type.DateTime * google.protobuf.Timestamp"
    },
    "GoogleCloudRetailV2alphaImportErrorsConfig": {
      "properties": {
        "gcsPrefix": {
          "description": "Google Cloud Storage prefix for import errors. This must be an empty, existing Cloud Storage directory. Import errors are written to sharded files in this directory, one per line, as a JSON-encoded `google.rpc.Status` message.",
          "type": "string"
        }
      },
      "description": "Configuration of destination for Import related errors.",
      "id": "GoogleCloudRetailV2alphaImportErrorsConfig",
      "type": "object"
    },
    "GoogleCloudRetailV2betaBigQueryOutputResult": {
      "type": "object",
      "description": "A BigQuery output result.",
      "properties": {
        "datasetId": {
          "description": "The ID of a BigQuery Dataset.",
          "type": "string"
        },
        "tableId": {
          "type": "string",
          "description": "The ID of a BigQuery Table."
        }
      },
      "id": "GoogleCloudRetailV2betaBigQueryOutputResult"
    },
    "GoogleCloudRetailV2alphaListServingConfigsResponse": {
      "properties": {
        "servingConfigs": {
          "description": "All the ServingConfigs for a given catalog.",
          "items": {
            "$ref": "GoogleCloudRetailV2alphaServingConfig"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "Pagination token, if not returned indicates the last page.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudRetailV2alphaListServingConfigsResponse",
      "description": "Response for ListServingConfigs method."
    },
    "GoogleCloudRetailV2betaRemoveFulfillmentPlacesResponse": {
      "id": "GoogleCloudRetailV2betaRemoveFulfillmentPlacesResponse",
      "type": "object",
      "properties": {},
      "description": "Response of the RemoveFulfillmentPlacesRequest. Currently empty because there is no meaningful response populated from the ProductService.RemoveFulfillmentPlaces method."
    },
    "GoogleCloudRetailV2OutputResult": {
      "properties": {
        "bigqueryResult": {
          "items": {
            "$ref": "GoogleCloudRetailV2BigQueryOutputResult"
          },
          "description": "The BigQuery location where the result is stored.",
          "type": "array"
        },
        "gcsResult": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudRetailV2GcsOutputResult"
          },
          "description": "The Google Cloud Storage location where the result is stored."
        }
      },
      "id": "GoogleCloudRetailV2OutputResult",
      "description": "Output result that stores the information about where the exported data is stored.",
      "type": "object"
    },
    "GoogleCloudRetailV2alphaGenerativeQuestionConfig": {
      "description": "Configuration for a single generated question.",
      "type": "object",
      "id": "GoogleCloudRetailV2alphaGenerativeQuestionConfig",
      "properties": {
        "finalQuestion": {
          "type": "string",
          "description": "Optional. The question that will be used at serving time. Question can have a max length of 300 bytes. When not populated, generated_question should be used."
        },
        "exampleValues": {
          "readOnly": true,
          "type": "array",
          "description": "Output only. Values that can be used to answer the question.",
          "items": {
            "type": "string"
          }
        },
        "allowedInConversation": {
          "description": "Optional. Whether the question is asked at serving time.",
          "type": "boolean"
        },
        "facet": {
          "type": "string",
          "description": "Required. The facet to which the question is associated."
        },
        "catalog": {
          "description": "Required. Resource name of the catalog. Format: projects/{project}/locations/{location}/catalogs/{catalog}",
          "type": "string"
        },
        "generatedQuestion": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The LLM generated question."
        },
        "frequency": {
          "format": "float",
          "description": "Output only. The ratio of how often a question was asked.",
          "readOnly": true,
          "type": "number"
        }
      }
    },
    "GoogleCloudRetailV2alphaSearchResponseFacetFacetValue": {
      "type": "object",
      "properties": {
        "count": {
          "format": "int64",
          "description": "Number of items that have this facet value.",
          "type": "string"
        },
        "value": {
          "description": "Text value of a facet, such as \"Black\" for facet \"colorFamilies\".",
          "type": "string"
        },
        "minValue": {
          "type": "number",
          "description": "The minimum value in the FacetValue.interval. Only supported on numerical facets and returned if SearchRequest.FacetSpec.FacetKey.return_min_max is true.",
          "format": "double"
        },
        "maxValue": {
          "format": "double",
          "description": "The maximum value in the FacetValue.interval. Only supported on numerical facets and returned if SearchRequest.FacetSpec.FacetKey.return_min_max is true.",
          "type": "number"
        },
        "interval": {
          "$ref": "GoogleCloudRetailV2alphaInterval",
          "description": "Interval value for a facet, such as [10, 20) for facet \"price\"."
        }
      },
      "description": "A facet value which contains value names and their count.",
      "id": "GoogleCloudRetailV2alphaSearchResponseFacetFacetValue"
    },
    "GoogleCloudRetailV2alphaExperimentInfoServingConfigExperiment": {
      "properties": {
        "originalServingConfig": {
          "description": "The fully qualified resource name of the original SearchRequest.placement in the search request prior to reassignment by experiment API. For example: `projects/*/locations/*/catalogs/*/servingConfigs/*`.",
          "type": "string"
        },
        "experimentServingConfig": {
          "description": "The fully qualified resource name of the serving config `Experiment.VariantArm.serving_config_id` responsible for generating the search response. For example: `projects/*/locations/*/catalogs/*/servingConfigs/*`.",
          "type": "string"
        }
      },
      "id": "GoogleCloudRetailV2alphaExperimentInfoServingConfigExperiment",
      "description": "Metadata for active serving config A/B tests.",
      "type": "object"
    },
    "GoogleCloudRetailV2alphaExportErrorsConfig": {
      "properties": {
        "gcsPrefix": {
          "description": "Google Cloud Storage path for import errors. This must be an empty, existing Cloud Storage bucket. Export errors will be written to a file in this bucket, one per line, as a JSON-encoded `google.rpc.Status` message.",
          "type": "string"
        }
      },
      "id": "GoogleCloudRetailV2alphaExportErrorsConfig",
      "type": "object",
      "description": "Configuration of destination for Export related errors."
    },
    "GoogleCloudRetailV2betaPurgeProductsResponse": {
      "id": "GoogleCloudRetailV2betaPurgeProductsResponse",
      "properties": {
        "purgeSample": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "A sample of the product names that will be deleted. Only populated if `force` is set to false. A max of 100 names will be returned and the names are chosen at random."
        },
        "purgeCount": {
          "format": "int64",
          "type": "string",
          "description": "The total count of products purged as a result of the operation."
        }
      },
      "description": "Response of the PurgeProductsRequest. If the long running operation is successfully done, then this message is returned by the google.longrunning.Operations.response field.",
      "type": "object"
    },
    "GoogleCloudRetailV2alphaCompleteQueryResponse": {
      "id": "GoogleCloudRetailV2alphaCompleteQueryResponse",
      "properties": {
        "agentPrompts": {
          "description": "Conversational prompts to trigger agents like Shopping Agent. This is an experimental feature for select customers.",
          "items": {
            "$ref": "GoogleCloudRetailV2alphaCompleteQueryResponseAgentPrompt"
          },
          "type": "array"
        },
        "completionResults": {
          "items": {
            "$ref": "GoogleCloudRetailV2alphaCompleteQueryResponseCompletionResult"
          },
          "type": "array",
          "description": "Results of the matching suggestions. The result list is ordered and the first result is top suggestion."
        },
        "attributionToken": {
          "type": "string",
          "description": "A unique complete token. This should be included in the UserEvent.completion_detail for search events resulting from this completion, which enables accurate attribution of complete model performance."
        },
        "recentSearchResults": {
          "items": {
            "$ref": "GoogleCloudRetailV2alphaCompleteQueryResponseRecentSearchResult"
          },
          "type": "array",
          "description": "Deprecated. Matched recent searches of this user. The maximum number of recent searches is 10. This field is a restricted feature. If you want to enable it, contact Retail Search support. This feature is only available when CompleteQueryRequest.visitor_id field is set and UserEvent is imported. The recent searches satisfy the follow rules: * They are ordered from latest to oldest. * They are matched with CompleteQueryRequest.query case insensitively. * They are transformed to lower case. * They are UTF-8 safe. Recent searches are deduplicated. More recent searches will be reserved when duplication happens.",
          "deprecated": true
        },
        "attributeResults": {
          "additionalProperties": {
            "$ref": "GoogleCloudRetailV2alphaCompleteQueryResponseAttributeResult"
          },
          "description": "A map of matched attribute suggestions. This field is only available for `cloud-retail` dataset. Current supported keys: * `brands` * `categories`",
          "type": "object"
        }
      },
      "description": "Response of the autocomplete query.",
      "type": "object"
    },
    "GoogleCloudRetailLoggingErrorContext": {
      "properties": {
        "reportLocation": {
          "$ref": "GoogleCloudRetailLoggingSourceLocation",
          "description": "The location in the source code where the decision was made to report the error, usually the place where it was logged."
        },
        "httpRequest": {
          "description": "The HTTP request which was processed when the error was triggered.",
          "$ref": "GoogleCloudRetailLoggingHttpRequestContext"
        }
      },
      "description": "A description of the context in which an error occurred.",
      "type": "object",
      "id": "GoogleCloudRetailLoggingErrorContext"
    },
    "GoogleCloudRetailV2betaRemoveLocalInventoriesMetadata": {
      "properties": {},
      "description": "Metadata related to the progress of the RemoveLocalInventories operation. Currently empty because there is no meaningful metadata populated from the ProductService.RemoveLocalInventories method.",
      "id": "GoogleCloudRetailV2betaRemoveLocalInventoriesMetadata",
      "type": "object"
    },
    "GoogleCloudRetailV2alphaConversationalSearchRequestUserAnswer": {
      "type": "object",
      "id": "GoogleCloudRetailV2alphaConversationalSearchRequestUserAnswer",
      "description": "This field specifies the current user answer during the conversational filtering search. This can be either user selected from suggested answers or user input plain text.",
      "properties": {
        "textAnswer": {
          "description": "This field specifies the incremental input text from the user during the conversational search.",
          "type": "string"
        },
        "selectedAnswer": {
          "description": "Optional. This field specifies the selected answer during the conversational search. This should be a subset of ConversationalSearchResponse.FollowupQuestion.SuggestedAnswer.",
          "$ref": "GoogleCloudRetailV2alphaConversationalSearchRequestUserAnswerSelectedAnswer"
        }
      }
    },
    "GoogleCloudRetailV2alphaRule": {
      "description": "A rule is a condition-action pair * A condition defines when a rule is to be triggered. * An action specifies what occurs on that trigger. Currently rules only work for controls with SOLUTION_TYPE_SEARCH.",
      "id": "GoogleCloudRetailV2alphaRule",
      "properties": {
        "twowaySynonymsAction": {
          "$ref": "GoogleCloudRetailV2alphaRuleTwowaySynonymsAction",
          "description": "Treats a set of terms as synonyms of one another."
        },
        "onewaySynonymsAction": {
          "description": "Treats specific term as a synonym with a group of terms. Group of terms will not be treated as synonyms with the specific term.",
          "$ref": "GoogleCloudRetailV2alphaRuleOnewaySynonymsAction"
        },
        "doNotAssociateAction": {
          "description": "Prevents term from being associated with other terms.",
          "$ref": "GoogleCloudRetailV2alphaRuleDoNotAssociateAction"
        },
        "condition": {
          "description": "Required. The condition that triggers the rule. If the condition is empty, the rule will always apply.",
          "$ref": "GoogleCloudRetailV2alphaCondition"
        },
        "replacementAction": {
          "$ref": "GoogleCloudRetailV2alphaRuleReplacementAction",
          "description": "Replaces specific terms in the query."
        },
        "redirectAction": {
          "description": "Redirects a shopper to a specific page.",
          "$ref": "GoogleCloudRetailV2alphaRuleRedirectAction"
        },
        "pinAction": {
          "description": "Pins one or more specified products to a specific position in the results.",
          "$ref": "GoogleCloudRetailV2alphaRulePinAction"
        },
        "forceReturnFacetAction": {
          "description": "Force returns an attribute as a facet in the request.",
          "$ref": "GoogleCloudRetailV2alphaRuleForceReturnFacetAction"
        },
        "ignoreAction": {
          "description": "Ignores specific terms from query during search.",
          "$ref": "GoogleCloudRetailV2alphaRuleIgnoreAction"
        },
        "filterAction": {
          "description": "Filters results.",
          "$ref": "GoogleCloudRetailV2alphaRuleFilterAction"
        },
        "boostAction": {
          "$ref": "GoogleCloudRetailV2alphaRuleBoostAction",
          "description": "A boost action."
        },
        "removeFacetAction": {
          "description": "Remove an attribute as a facet in the request (if present).",
          "$ref": "GoogleCloudRetailV2alphaRuleRemoveFacetAction"
        }
      },
      "type": "object"
    },
    "GoogleCloudRetailV2alphaCompletionDetail": {
      "description": "Detailed completion information including completion attribution token and clicked completion info.",
      "properties": {
        "selectedPosition": {
          "description": "End user selected CompleteQueryResponse.CompletionResult.suggestion position, starting from 0.",
          "type": "integer",
          "format": "int32"
        },
        "selectedSuggestion": {
          "type": "string",
          "description": "End user selected CompleteQueryResponse.CompletionResult.suggestion."
        },
        "completionAttributionToken": {
          "description": "Completion attribution token in CompleteQueryResponse.attribution_token.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudRetailV2alphaCompletionDetail"
    },
    "GoogleCloudRetailV2alphaConversationalSearchResponseRefinedSearch": {
      "id": "GoogleCloudRetailV2alphaConversationalSearchResponseRefinedSearch",
      "type": "object",
      "properties": {
        "query": {
          "description": "The query to be used for search.",
          "type": "string"
        }
      },
      "description": "The proposed refined search for intent-refinement/bundled shopping conversation. When using CONVERSATIONAL_FILTER_ONLY mode, the refined_query from search response will be populated here."
    },
    "GoogleCloudRetailV2alphaUserEventInputConfig": {
      "description": "The input config source for user events.",
      "type": "object",
      "id": "GoogleCloudRetailV2alphaUserEventInputConfig",
      "properties": {
        "userEventInlineSource": {
          "description": "Required. The Inline source for the input content for UserEvents.",
          "$ref": "GoogleCloudRetailV2alphaUserEventInlineSource"
        },
        "bigQuerySource": {
          "description": "Required. BigQuery input source.",
          "$ref": "GoogleCloudRetailV2alphaBigQuerySource"
        },
        "gcsSource": {
          "$ref": "GoogleCloudRetailV2alphaGcsSource",
          "description": "Required. Google Cloud Storage location for the input content."
        }
      }
    },
    "GoogleCloudRetailV2alphaConversationalSearchResponseFollowupQuestion": {
      "id": "GoogleCloudRetailV2alphaConversationalSearchResponseFollowupQuestion",
      "type": "object",
      "description": "The conversational followup question generated for Intent refinement.",
      "properties": {
        "followupQuestion": {
          "type": "string",
          "description": "The conversational followup question generated for Intent refinement."
        },
        "suggestedAnswers": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudRetailV2alphaConversationalSearchResponseFollowupQuestionSuggestedAnswer"
          },
          "description": "The answer options provided to client for the follow-up question."
        }
      }
    },
    "GoogleCloudRetailV2alphaTuneModelResponse": {
      "id": "GoogleCloudRetailV2alphaTuneModelResponse",
      "description": "Response associated with a tune operation.",
      "type": "object",
      "properties": {}
    },
    "GoogleCloudRetailV2betaSetInventoryMetadata": {
      "id": "GoogleCloudRetailV2betaSetInventoryMetadata",
      "properties": {},
      "type": "object",
      "description": "Metadata related to the progress of the SetInventory operation. Currently empty because there is no meaningful metadata populated from the ProductService.SetInventory method."
    },
    "GoogleCloudRetailV2alphaAddLocalInventoriesRequest": {
      "id": "GoogleCloudRetailV2alphaAddLocalInventoriesRequest",
      "properties": {
        "localInventories": {
          "description": "Required. A list of inventory information at difference places. Each place is identified by its place ID. At most 3000 inventories are allowed per request.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudRetailV2alphaLocalInventory"
          }
        },
        "addTime": {
          "format": "google-datetime",
          "description": "The time when the inventory updates are issued. Used to prevent out-of-order updates on local inventory fields. If not provided, the internal system time will be used.",
          "type": "string"
        },
        "addMask": {
          "description": "Indicates which inventory fields in the provided list of LocalInventory to update. The field is updated to the provided value. If a field is set while the place does not have a previous local inventory, the local inventory at that store is created. If a field is set while the value of that field is not provided, the original field value, if it exists, is deleted. If the mask is not set or set with empty paths, all inventory fields will be updated. If an unsupported or unknown field is provided, an INVALID_ARGUMENT error is returned and the entire update will be ignored.",
          "format": "google-fieldmask",
          "type": "string"
        },
        "allowMissing": {
          "type": "boolean",
          "description": "If set to true, and the Product is not found, the local inventory will still be processed and retained for at most 1 day and processed once the Product is created. If set to false, a NOT_FOUND error is returned if the Product is not found."
        }
      },
      "type": "object",
      "description": "Request message for ProductService.AddLocalInventories method."
    },
    "GoogleCloudRetailV2alphaCatalogAttributeFacetConfigIgnoredFacetValues": {
      "properties": {
        "values": {
          "description": "List of facet values to ignore for the following time range. The facet values are the same as the attribute values. There is a limit of 10 values per instance of IgnoredFacetValues. Each value can have at most 128 characters.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "startTime": {
          "description": "Time range for the current list of facet values to ignore. If multiple time ranges are specified for an facet value for the current attribute, consider all of them. If both are empty, ignore always. If start time and end time are set, then start time must be before end time. If start time is not empty and end time is empty, then will ignore these facet values after the start time.",
          "format": "google-datetime",
          "type": "string"
        },
        "endTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "If start time is empty and end time is not empty, then ignore these facet values before end time."
        }
      },
      "description": "Facet values to ignore on facets during the specified time range for the given SearchResponse.Facet.key attribute.",
      "type": "object",
      "id": "GoogleCloudRetailV2alphaCatalogAttributeFacetConfigIgnoredFacetValues"
    },
    "GoogleCloudRetailV2ModelModelFeaturesConfig": {
      "type": "object",
      "id": "GoogleCloudRetailV2ModelModelFeaturesConfig",
      "properties": {
        "frequentlyBoughtTogetherConfig": {
          "description": "Additional configs for frequently-bought-together models.",
          "$ref": "GoogleCloudRetailV2ModelFrequentlyBoughtTogetherFeaturesConfig"
        }
      },
      "description": "Additional model features config."
    },
    "GoogleCloudRetailV2alphaImportUserEventsRequest": {
      "type": "object",
      "properties": {
        "inputConfig": {
          "$ref": "GoogleCloudRetailV2alphaUserEventInputConfig",
          "description": "Required. The desired input location of the data."
        },
        "errorsConfig": {
          "$ref": "GoogleCloudRetailV2alphaImportErrorsConfig",
          "description": "The desired location of errors incurred during the Import. Cannot be set for inline user event imports."
        }
      },
      "id": "GoogleCloudRetailV2alphaImportUserEventsRequest",
      "description": "Request message for the ImportUserEvents request."
    },
    "GoogleCloudRetailV2alphaAddLocalInventoriesMetadata": {
      "description": "Metadata related to the progress of the AddLocalInventories operation. Currently empty because there is no meaningful metadata populated from the ProductService.AddLocalInventories method.",
      "id": "GoogleCloudRetailV2alphaAddLocalInventoriesMetadata",
      "type": "object",
      "properties": {}
    },
    "GoogleCloudRetailV2alphaTile": {
      "id": "GoogleCloudRetailV2alphaTile",
      "description": "This field specifies the tile information including an attribute key, attribute value. More fields will be added in the future, eg: product id or product counts, etc.",
      "type": "object",
      "properties": {
        "productAttributeInterval": {
          "$ref": "GoogleCloudRetailV2alphaProductAttributeInterval",
          "description": "The product attribute key-numeric interval."
        },
        "productAttributeValue": {
          "description": "The product attribute key-value.",
          "$ref": "GoogleCloudRetailV2alphaProductAttributeValue"
        },
        "representativeProductId": {
          "type": "string",
          "description": "The representative product id for this tile."
        }
      }
    },
    "GoogleCloudRetailV2alphaConversationalSearchResponseConversationalFilteringResult": {
      "type": "object",
      "description": "This field specifies all related information that is needed on client side for UI rendering of conversational filtering search.",
      "id": "GoogleCloudRetailV2alphaConversationalSearchResponseConversationalFilteringResult",
      "properties": {
        "followupQuestion": {
          "description": "The conversational filtering question.",
          "$ref": "GoogleCloudRetailV2alphaConversationalSearchResponseFollowupQuestion"
        },
        "additionalFilter": {
          "description": "This is the incremental additional filters implied from the current user answer. User should add the suggested addition filters to the previous ConversationalSearchRequest.SearchParams.filter and SearchRequest.filter, and use the merged filter in the follow up requests.",
          "$ref": "GoogleCloudRetailV2alphaConversationalSearchResponseConversationalFilteringResultAdditionalFilter"
        }
      }
    },
    "GoogleCloudRetailV2alphaRejoinUserEventsResponse": {
      "description": "Response message for `RejoinUserEvents` method.",
      "type": "object",
      "properties": {
        "rejoinedUserEventsCount": {
          "type": "string",
          "format": "int64",
          "description": "Number of user events that were joined with latest product catalog."
        }
      },
      "id": "GoogleCloudRetailV2alphaRejoinUserEventsResponse"
    },
    "GoogleCloudRetailV2ModelServingConfigList": {
      "properties": {
        "servingConfigIds": {
          "description": "Optional. A set of valid serving configs that may be used for `PAGE_OPTIMIZATION`.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "type": "object",
      "id": "GoogleCloudRetailV2ModelServingConfigList",
      "description": "Represents an ordered combination of valid serving configs, which can be used for `PAGE_OPTIMIZATION` recommendations."
    },
    "GoogleCloudRetailV2betaModel": {
      "id": "GoogleCloudRetailV2betaModel",
      "properties": {
        "createTime": {
          "description": "Output only. Timestamp the Recommendation Model was created at.",
          "format": "google-datetime",
          "type": "string",
          "readOnly": true
        },
        "dataState": {
          "enumDescriptions": [
            "Unspecified default value, should never be explicitly set.",
            "The model has sufficient training data.",
            "The model does not have sufficient training data. Error messages can be queried via Stackdriver."
          ],
          "readOnly": true,
          "description": "Output only. The state of data requirements for this model: `DATA_OK` and `DATA_ERROR`. Recommendation model cannot be trained if the data is in `DATA_ERROR` state. Recommendation model can have `DATA_ERROR` state even if serving state is `ACTIVE`: models were trained successfully before, but cannot be refreshed because model no longer has sufficient data for training.",
          "type": "string",
          "enum": [
            "DATA_STATE_UNSPECIFIED",
            "DATA_OK",
            "DATA_ERROR"
          ]
        },
        "type": {
          "description": "Required. The type of model e.g. `home-page`. Currently supported values: `recommended-for-you`, `others-you-may-like`, `frequently-bought-together`, `page-optimization`, `similar-items`, `buy-it-again`, `on-sale-items`, and `recently-viewed`(readonly value). This field together with optimization_objective describe model metadata to use to control model training and serving. See https://cloud.google.com/retail/docs/models for more details on what the model metadata control and which combination of parameters are valid. For invalid combinations of parameters (e.g. type = `frequently-bought-together` and optimization_objective = `ctr`), you receive an error 400 if you try to create/update a recommendation with this set of knobs.",
          "type": "string"
        },
        "servingConfigLists": {
          "description": "Output only. The list of valid serving configs associated with the PageOptimizationConfig.",
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "GoogleCloudRetailV2betaModelServingConfigList"
          }
        },
        "updateTime": {
          "description": "Output only. Timestamp the Recommendation Model was last updated. E.g. if a Recommendation Model was paused - this would be the time the pause was initiated.",
          "format": "google-datetime",
          "type": "string",
          "readOnly": true
        },
        "optimizationObjective": {
          "description": "Optional. The optimization objective e.g. `cvr`. Currently supported values: `ctr`, `cvr`, `revenue-per-order`. If not specified, we choose default based on model type. Default depends on type of recommendation: `recommended-for-you` => `ctr` `others-you-may-like` => `ctr` `frequently-bought-together` => `revenue_per_order` This field together with optimization_objective describe model metadata to use to control model training and serving. See https://cloud.google.com/retail/docs/models for more details on what the model metadata control and which combination of parameters are valid. For invalid combinations of parameters (e.g. type = `frequently-bought-together` and optimization_objective = `ctr`), you receive an error 400 if you try to create/update a recommendation with this set of knobs.",
          "type": "string"
        },
        "tuningOperation": {
          "description": "Output only. The tune operation associated with the model. Can be used to determine if there is an ongoing tune for this recommendation. Empty field implies no tune is goig on.",
          "type": "string",
          "readOnly": true
        },
        "lastTuneTime": {
          "description": "Output only. The timestamp when the latest successful tune finished.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Required. The fully qualified resource name of the model. Format: `projects/{project_number}/locations/{location_id}/catalogs/{catalog_id}/models/{model_id}` catalog_id has char limit of 50. recommendation_model_id has char limit of 40."
        },
        "displayName": {
          "description": "Required. The display name of the model. Should be human readable, used to display Recommendation Models in the Retail Cloud Console Dashboard. UTF-8 encoded string with limit of 1024 characters.",
          "type": "string"
        },
        "periodicTuningState": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified default value, should never be explicitly set.",
            "The model has periodic tuning disabled. Tuning can be reenabled by calling the `EnableModelPeriodicTuning` method or by calling the `TuneModel` method.",
            "The model cannot be tuned with periodic tuning OR the `TuneModel` method. Hide the options in customer UI and reject any requests through the backend self serve API.",
            "The model has periodic tuning enabled. Tuning can be disabled by calling the `DisableModelPeriodicTuning` method."
          ],
          "enum": [
            "PERIODIC_TUNING_STATE_UNSPECIFIED",
            "PERIODIC_TUNING_DISABLED",
            "ALL_TUNING_DISABLED",
            "PERIODIC_TUNING_ENABLED"
          ],
          "description": "Optional. The state of periodic tuning. The period we use is 3 months - to do a one-off tune earlier use the `TuneModel` method. Default value is `PERIODIC_TUNING_ENABLED`."
        },
        "servingState": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The serving state of the model: `ACTIVE`, `NOT_ACTIVE`.",
          "enum": [
            "SERVING_STATE_UNSPECIFIED",
            "INACTIVE",
            "ACTIVE",
            "TUNED"
          ],
          "enumDescriptions": [
            "Unspecified serving state.",
            "The model is not serving.",
            "The model is serving and can be queried.",
            "The model is trained on tuned hyperparameters and can be queried."
          ]
        },
        "trainingState": {
          "description": "Optional. The training state that the model is in (e.g. `TRAINING` or `PAUSED`). Since part of the cost of running the service is frequency of training - this can be used to determine when to train model in order to control cost. If not specified: the default value for `CreateModel` method is `TRAINING`. The default value for `UpdateModel` method is to keep the state the same as before.",
          "enumDescriptions": [
            "Unspecified training state.",
            "The model training is paused.",
            "The model is training."
          ],
          "type": "string",
          "enum": [
            "TRAINING_STATE_UNSPECIFIED",
            "PAUSED",
            "TRAINING"
          ]
        },
        "modelFeaturesConfig": {
          "description": "Optional. Additional model features config.",
          "$ref": "GoogleCloudRetailV2betaModelModelFeaturesConfig"
        },
        "filteringOption": {
          "enumDescriptions": [
            "Value used when unset. In this case, server behavior defaults to RECOMMENDATIONS_FILTERING_DISABLED.",
            "Recommendation filtering is disabled.",
            "Recommendation filtering is enabled."
          ],
          "description": "Optional. If `RECOMMENDATIONS_FILTERING_ENABLED`, recommendation filtering by attributes is enabled for the model.",
          "type": "string",
          "enum": [
            "RECOMMENDATIONS_FILTERING_OPTION_UNSPECIFIED",
            "RECOMMENDATIONS_FILTERING_DISABLED",
            "RECOMMENDATIONS_FILTERING_ENABLED"
          ]
        }
      },
      "type": "object",
      "description": "Metadata that describes the training and serving parameters of a Model. A Model can be associated with a ServingConfig and then queried through the Predict API."
    },
    "GoogleCloudRetailV2alphaCondition": {
      "description": "Metadata that is used to define a condition that triggers an action. A valid condition must specify at least one of 'query_terms' or 'products_filter'. If multiple fields are specified, the condition is met if all the fields are satisfied e.g. if a set of query terms and product_filter are set, then only items matching the product_filter for requests with a query matching the query terms wil get boosted.",
      "type": "object",
      "id": "GoogleCloudRetailV2alphaCondition",
      "properties": {
        "queryTerms": {
          "items": {
            "$ref": "GoogleCloudRetailV2alphaConditionQueryTerm"
          },
          "description": "A list (up to 10 entries) of terms to match the query on. If not specified, match all queries. If many query terms are specified, the condition is matched if any of the terms is a match (i.e. using the OR operator).",
          "type": "array"
        },
        "pageCategories": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Used to support browse uses cases. A list (up to 10 entries) of categories or departments. The format should be the same as UserEvent.page_categories;"
        },
        "activeTimeRange": {
          "items": {
            "$ref": "GoogleCloudRetailV2alphaConditionTimeRange"
          },
          "type": "array",
          "description": "Range of time(s) specifying when Condition is active. Condition true if any time range matches."
        }
      }
    },
    "GoogleCloudRetailV2CreateModelMetadata": {
      "properties": {
        "model": {
          "type": "string",
          "description": "The resource name of the model that this create applies to. Format: `projects/{project_number}/locations/{location_id}/catalogs/{catalog_id}/models/{model_id}`"
        }
      },
      "description": "Metadata associated with a create operation.",
      "id": "GoogleCloudRetailV2CreateModelMetadata",
      "type": "object"
    },
    "GoogleCloudRetailV2AddFulfillmentPlacesMetadata": {
      "type": "object",
      "properties": {},
      "id": "GoogleCloudRetailV2AddFulfillmentPlacesMetadata",
      "description": "Metadata related to the progress of the AddFulfillmentPlaces operation. Currently empty because there is no meaningful metadata populated from the ProductService.AddFulfillmentPlaces method."
    },
    "GoogleCloudRetailV2alphaSearchResponseFacet": {
      "properties": {
        "values": {
          "items": {
            "$ref": "GoogleCloudRetailV2alphaSearchResponseFacetFacetValue"
          },
          "type": "array",
          "description": "The facet values for this field."
        },
        "key": {
          "description": "The key for this facet. E.g., \"colorFamilies\" or \"price\" or \"attributes.attr1\".",
          "type": "string"
        },
        "dynamicFacet": {
          "type": "boolean",
          "description": "Whether the facet is dynamically generated."
        }
      },
      "id": "GoogleCloudRetailV2alphaSearchResponseFacet",
      "type": "object",
      "description": "A facet result."
    },
    "GoogleCloudRetailV2GcsOutputResult": {
      "description": "A Gcs output result.",
      "id": "GoogleCloudRetailV2GcsOutputResult",
      "type": "object",
      "properties": {
        "outputUri": {
          "description": "The uri of Gcs output",
          "type": "string"
        }
      }
    },
    "GoogleCloudRetailV2alphaControl": {
      "description": "Configures dynamic metadata that can be linked to a ServingConfig and affect search or recommendation results at serving time.",
      "id": "GoogleCloudRetailV2alphaControl",
      "type": "object",
      "properties": {
        "name": {
          "description": "Immutable. Fully qualified name `projects/*/locations/global/catalogs/*/controls/*`",
          "type": "string"
        },
        "displayName": {
          "description": "Required. The human readable control display name. Used in Retail UI. This field must be a UTF-8 encoded string with a length limit of 128 characters. Otherwise, an INVALID_ARGUMENT error is thrown.",
          "type": "string"
        },
        "solutionTypes": {
          "type": "array",
          "items": {
            "enumDescriptions": [
              "Default value.",
              "Used for Recommendations AI.",
              "Used for Retail Search."
            ],
            "type": "string",
            "enum": [
              "SOLUTION_TYPE_UNSPECIFIED",
              "SOLUTION_TYPE_RECOMMENDATION",
              "SOLUTION_TYPE_SEARCH"
            ]
          },
          "description": "Required. Immutable. The solution types that the control is used for. Currently we support setting only one type of solution at creation time. Only `SOLUTION_TYPE_SEARCH` value is supported at the moment. If no solution type is provided at creation time, will default to SOLUTION_TYPE_SEARCH."
        },
        "rule": {
          "$ref": "GoogleCloudRetailV2alphaRule",
          "description": "A rule control - a condition-action pair. Enacts a set action when the condition is triggered. For example: Boost \"gShoe\" when query full matches \"Running Shoes\"."
        },
        "associatedServingConfigIds": {
          "type": "array",
          "description": "Output only. List of serving config ids that are associated with this control in the same Catalog. Note the association is managed via the ServingConfig, this is an output only denormalized view.",
          "items": {
            "type": "string"
          },
          "readOnly": true
        },
        "searchSolutionUseCase": {
          "items": {
            "type": "string",
            "enum": [
              "SEARCH_SOLUTION_USE_CASE_UNSPECIFIED",
              "SEARCH_SOLUTION_USE_CASE_SEARCH",
              "SEARCH_SOLUTION_USE_CASE_BROWSE"
            ],
            "enumDescriptions": [
              "The value when it's unspecified. In this case, server behavior defaults to SEARCH_SOLUTION_USE_CASE_SEARCH.",
              "Search use case. Expects the traffic has a non-empty query.",
              "Browse use case. Expects the traffic has an empty query."
            ]
          },
          "type": "array",
          "description": "Specifies the use case for the control. Affects what condition fields can be set. Only settable by search controls. Will default to SEARCH_SOLUTION_USE_CASE_SEARCH if not specified. Currently only allow one search_solution_use_case per control."
        }
      }
    },
    "GoogleCloudRetailV2alphaServingConfig": {
      "type": "object",
      "properties": {
        "replacementControlIds": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Condition replacement specifications. - Applied according to the order in the list. - A previously replaced term can not be re-replaced. - Maximum number of specifications is 100. Can only be set if solution_types is SOLUTION_TYPE_SEARCH."
        },
        "ignoreControlIds": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Condition ignore specifications. If multiple ignore conditions match, all matching ignore controls in the list will execute. - Order does not matter. - Maximum number of specifications is 100. Can only be set if solution_types is SOLUTION_TYPE_SEARCH."
        },
        "solutionTypes": {
          "items": {
            "enumDescriptions": [
              "Default value.",
              "Used for Recommendations AI.",
              "Used for Retail Search."
            ],
            "type": "string",
            "enum": [
              "SOLUTION_TYPE_UNSPECIFIED",
              "SOLUTION_TYPE_RECOMMENDATION",
              "SOLUTION_TYPE_SEARCH"
            ]
          },
          "description": "Required. Immutable. Specifies the solution types that a serving config can be associated with. Currently we support setting only one type of solution.",
          "type": "array"
        },
        "diversityType": {
          "description": "What kind of diversity to use - data driven or rule based. If unset, the server behavior defaults to RULE_BASED_DIVERSITY.",
          "type": "string",
          "enum": [
            "DIVERSITY_TYPE_UNSPECIFIED",
            "RULE_BASED_DIVERSITY",
            "DATA_DRIVEN_DIVERSITY"
          ],
          "enumDescriptions": [
            "Default value.",
            "Rule based diversity.",
            "Data driven diversity."
          ]
        },
        "doNotAssociateControlIds": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Condition do not associate specifications. If multiple do not associate conditions match, all matching do not associate controls in the list will execute. - Order does not matter. - Maximum number of specifications is 100. Can only be set if solution_types is SOLUTION_TYPE_SEARCH."
        },
        "facetControlIds": {
          "description": "Facet specifications for faceted search. If empty, no facets are returned. The ids refer to the ids of Control resources with only the Facet control set. These controls are assumed to be in the same Catalog as the ServingConfig. A maximum of 100 values are allowed. Otherwise, an INVALID_ARGUMENT error is returned. Can only be set if solution_types is SOLUTION_TYPE_SEARCH.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "diversityLevel": {
          "description": "How much diversity to use in recommendation model results e.g. `medium-diversity` or `high-diversity`. Currently supported values: * `no-diversity` * `low-diversity` * `medium-diversity` * `high-diversity` * `auto-diversity` If not specified, we choose default based on recommendation model type. Default value: `no-diversity`. Can only be set if solution_types is SOLUTION_TYPE_RECOMMENDATION.",
          "type": "string"
        },
        "priceRerankingLevel": {
[...]
