{
  "version": "v2alpha",
  "discoveryVersion": "v1",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "canonicalName": "Cloud Retail",
  "rootUrl": "https://retail.googleapis.com/",
  "ownerDomain": "google.com",
  "batchPath": "batch",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "ownerName": "Google",
  "schemas": {
    "GoogleCloudRetailV2alphaRuleTwowaySynonymsAction": {
      "id": "GoogleCloudRetailV2alphaRuleTwowaySynonymsAction",
      "description": "Creates a set of terms that will be treated as synonyms of each other. Example: synonyms of \"sneakers\" and \"shoes\": * \"sneakers\" will use a synonym of \"shoes\". * \"shoes\" will use a synonym of \"sneakers\".",
      "type": "object",
      "properties": {
        "synonyms": {
          "description": "Defines a set of synonyms. Can specify up to 100 synonyms. Must specify at least 2 synonyms.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "GoogleCloudRetailV2alphaAddLocalInventoriesResponse": {
      "id": "GoogleCloudRetailV2alphaAddLocalInventoriesResponse",
      "type": "object",
      "properties": {},
      "description": "Response of the ProductService.AddLocalInventories API. Currently empty because there is no meaningful response populated from the ProductService.AddLocalInventories method."
    },
    "GoogleCloudRetailV2alphaCompletionDataInputConfig": {
      "type": "object",
      "description": "The input config source for completion data.",
      "properties": {
        "bigQuerySource": {
          "$ref": "GoogleCloudRetailV2alphaBigQuerySource",
          "description": "Required. BigQuery input source. Add the IAM permission \"BigQuery Data Viewer\" for cloud-retail-customer-data-access@system.gserviceaccount.com before using this feature otherwise an error is thrown."
        }
      },
      "id": "GoogleCloudRetailV2alphaCompletionDataInputConfig"
    },
    "GoogleCloudRetailV2AddLocalInventoriesResponse": {
      "properties": {},
      "id": "GoogleCloudRetailV2AddLocalInventoriesResponse",
      "description": "Response of the ProductService.AddLocalInventories API. Currently empty because there is no meaningful response populated from the ProductService.AddLocalInventories method.",
      "type": "object"
    },
    "GoogleCloudRetailV2alphaUserEventInputConfig": {
      "type": "object",
      "id": "GoogleCloudRetailV2alphaUserEventInputConfig",
      "properties": {
        "gcsSource": {
          "$ref": "GoogleCloudRetailV2alphaGcsSource",
          "description": "Required. Google Cloud Storage location for the input content."
        },
        "bigQuerySource": {
          "$ref": "GoogleCloudRetailV2alphaBigQuerySource",
          "description": "Required. BigQuery input source."
        },
        "userEventInlineSource": {
          "description": "Required. The Inline source for the input content for UserEvents.",
          "$ref": "GoogleCloudRetailV2alphaUserEventInlineSource"
        }
      },
      "description": "The input config source for user events."
    },
    "GoogleCloudRetailV2alphaProductInputConfig": {
      "properties": {
        "bigQuerySource": {
          "description": "BigQuery input source.",
          "$ref": "GoogleCloudRetailV2alphaBigQuerySource"
        },
        "gcsSource": {
          "description": "Google Cloud Storage location for the input content.",
          "$ref": "GoogleCloudRetailV2alphaGcsSource"
        },
        "productInlineSource": {
          "description": "The Inline source for the input content for products.",
          "$ref": "GoogleCloudRetailV2alphaProductInlineSource"
        }
      },
      "description": "The input config source for products.",
      "type": "object",
      "id": "GoogleCloudRetailV2alphaProductInputConfig"
    },
    "GoogleCloudRetailV2ModelModelFeaturesConfig": {
      "description": "Additional model features config.",
      "properties": {
        "frequentlyBoughtTogetherConfig": {
          "description": "Additional configs for frequently-bought-together models.",
          "$ref": "GoogleCloudRetailV2ModelFrequentlyBoughtTogetherFeaturesConfig"
        }
      },
      "id": "GoogleCloudRetailV2ModelModelFeaturesConfig",
      "type": "object"
    },
    "GoogleCloudRetailV2alphaCatalog": {
      "properties": {
        "displayName": {
          "type": "string",
          "description": "Required. Immutable. The catalog display name. This field must be a UTF-8 encoded string with a length limit of 128 characters. Otherwise, an INVALID_ARGUMENT error is returned."
        },
        "merchantCenterLinkingConfig": {
          "$ref": "GoogleCloudRetailV2alphaMerchantCenterLinkingConfig",
          "description": "The Merchant Center linking configuration. After a link is added, the data stream from Merchant Center to Cloud Retail will be enabled automatically. The requester must have access to the Merchant Center account in order to make changes to this field."
        },
        "name": {
          "description": "Required. Immutable. The fully qualified resource name of the catalog.",
          "type": "string"
        },
        "productLevelConfig": {
          "description": "Required. The product level configuration.",
          "$ref": "GoogleCloudRetailV2alphaProductLevelConfig"
        }
      },
      "description": "The catalog configuration.",
      "id": "GoogleCloudRetailV2alphaCatalog",
      "type": "object"
    },
    "GoogleCloudRetailLoggingHttpRequestContext": {
      "properties": {
        "responseStatusCode": {
          "format": "int32",
          "description": "The HTTP response status code for the request.",
          "type": "integer"
        }
      },
      "type": "object",
      "description": "HTTP request data that is related to a reported error.",
      "id": "GoogleCloudRetailLoggingHttpRequestContext"
    },
    "GoogleCloudRetailV2alphaRuleForceReturnFacetActionFacetPositionAdjustment": {
      "properties": {
        "position": {
          "format": "int32",
          "description": "This is the position in the request as explained above. It should be strictly positive be at most 100.",
          "type": "integer"
        },
        "attributeName": {
          "description": "The attribute name to force return as a facet. Each attribute name should be a valid attribute name, be non-empty and contain at most 80 characters long.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Each facet position adjustment consists of a single attribute name (i.e. facet key) along with a specified position.",
      "id": "GoogleCloudRetailV2alphaRuleForceReturnFacetActionFacetPositionAdjustment"
    },
    "GoogleCloudRetailV2alphaCollectUserEventRequest": {
      "properties": {
        "prebuiltRule": {
          "type": "string",
          "description": "The prebuilt rule name that can convert a specific type of raw_json. For example: \"ga4_bq\" rule for the GA4 user event schema."
        },
        "uri": {
          "description": "The URL including cgi-parameters but excluding the hash fragment with a length limit of 5,000 characters. This is often more useful than the referer URL, because many browsers only send the domain for 3rd party requests.",
          "type": "string"
        },
        "rawJson": {
          "type": "string",
          "description": "An arbitrary serialized JSON string that contains necessary information that can comprise a user event. When this field is specified, the user_event field will be ignored. Note: line-delimited JSON is not supported, a single JSON only."
        },
        "userEvent": {
          "description": "Required. URL encoded UserEvent proto with a length limit of 2,000,000 characters.",
          "type": "string"
        },
        "ets": {
          "description": "The event timestamp in milliseconds. This prevents browser caching of otherwise identical get requests. The name is abbreviated to reduce the payload bytes.",
          "type": "string",
          "format": "int64"
        }
      },
      "type": "object",
      "description": "Request message for CollectUserEvent method.",
      "id": "GoogleCloudRetailV2alphaCollectUserEventRequest"
    },
    "GoogleCloudRetailV2alphaRule": {
      "properties": {
        "onewaySynonymsAction": {
          "$ref": "GoogleCloudRetailV2alphaRuleOnewaySynonymsAction",
          "description": "Treats specific term as a synonym with a group of terms. Group of terms will not be treated as synonyms with the specific term."
        },
        "twowaySynonymsAction": {
          "description": "Treats a set of terms as synonyms of one another.",
          "$ref": "GoogleCloudRetailV2alphaRuleTwowaySynonymsAction"
        },
        "ignoreAction": {
          "$ref": "GoogleCloudRetailV2alphaRuleIgnoreAction",
          "description": "Ignores specific terms from query during search."
        },
        "redirectAction": {
          "$ref": "GoogleCloudRetailV2alphaRuleRedirectAction",
          "description": "Redirects a shopper to a specific page."
        },
        "forceReturnFacetAction": {
          "$ref": "GoogleCloudRetailV2alphaRuleForceReturnFacetAction",
          "description": "Force returns an attribute as a facet in the request."
        },
        "doNotAssociateAction": {
          "$ref": "GoogleCloudRetailV2alphaRuleDoNotAssociateAction",
          "description": "Prevents term from being associated with other terms."
        },
        "removeFacetAction": {
          "$ref": "GoogleCloudRetailV2alphaRuleRemoveFacetAction",
          "description": "Remove an attribute as a facet in the request (if present)."
        },
        "pinAction": {
          "$ref": "GoogleCloudRetailV2alphaRulePinAction",
          "description": "Pins one or more specified products to a specific position in the results."
        },
        "replacementAction": {
          "$ref": "GoogleCloudRetailV2alphaRuleReplacementAction",
          "description": "Replaces specific terms in the query."
        },
        "filterAction": {
          "description": "Filters results.",
          "$ref": "GoogleCloudRetailV2alphaRuleFilterAction"
        },
        "condition": {
          "$ref": "GoogleCloudRetailV2alphaCondition",
          "description": "Required. The condition that triggers the rule. If the condition is empty, the rule will always apply."
        },
        "boostAction": {
          "$ref": "GoogleCloudRetailV2alphaRuleBoostAction",
          "description": "A boost action."
        }
      },
      "id": "GoogleCloudRetailV2alphaRule",
      "description": "A rule is a condition-action pair * A condition defines when a rule is to be triggered. * An action specifies what occurs on that trigger. Currently rules only work for controls with SOLUTION_TYPE_SEARCH.",
      "type": "object"
    },
    "GoogleCloudRetailV2alphaCompleteQueryResponseRecentSearchResult": {
      "type": "object",
      "deprecated": true,
      "id": "GoogleCloudRetailV2alphaCompleteQueryResponseRecentSearchResult",
      "properties": {
        "recentSearch": {
          "description": "The recent search query.",
          "type": "string"
        }
      },
      "description": "Deprecated: Recent search of this user."
    },
    "GoogleCloudRetailV2alphaSearchRequestQueryExpansionSpec": {
      "description": "Specification to determine under which conditions query expansion should occur.",
      "id": "GoogleCloudRetailV2alphaSearchRequestQueryExpansionSpec",
      "properties": {
        "condition": {
          "description": "The condition under which query expansion should occur. Default to Condition.DISABLED.",
          "enumDescriptions": [
            "Unspecified query expansion condition. In this case, server behavior defaults to Condition.DISABLED.",
            "Disabled query expansion. Only the exact search query is used, even if SearchResponse.total_size is zero.",
            "Automatic query expansion built by Google Retail Search."
          ],
          "enum": [
            "CONDITION_UNSPECIFIED",
            "DISABLED",
            "AUTO"
          ],
          "type": "string"
        },
        "pinUnexpandedResults": {
          "type": "boolean",
          "description": "Whether to pin unexpanded results. The default value is false. If this field is set to true, unexpanded products are always at the top of the search results, followed by the expanded results."
        }
      },
      "type": "object"
    },
    "GoogleCloudRetailV2alphaRuleRedirectAction": {
      "type": "object",
      "description": "Redirects a shopper to a specific page. * Rule Condition: Must specify Condition.query_terms. * Action Input: Request Query * Action Result: Redirects shopper to provided uri.",
      "id": "GoogleCloudRetailV2alphaRuleRedirectAction",
      "properties": {
        "redirectUri": {
          "type": "string",
          "description": "URL must have length equal or less than 2000 characters."
        }
      }
    },
    "GoogleCloudRetailV2alphaConversationalSearchRequestSearchParams": {
      "description": "Search parameters.",
      "id": "GoogleCloudRetailV2alphaConversationalSearchRequestSearchParams",
      "type": "object",
      "properties": {
        "boostSpec": {
          "$ref": "GoogleCloudRetailV2alphaSearchRequestBoostSpec",
          "description": "Optional. The boost spec to specify the boosting of search results. The syntax of the boost spec is the same as SearchRequest.boost_spec."
        },
        "sortBy": {
          "description": "Optional. The sort string to specify the sorting of search results. The syntax of the sort string is the same as SearchRequest.order_by.",
          "type": "string"
        },
        "canonicalFilter": {
          "description": "Optional. The canonical filter string to restrict search results. The syntax of the canonical filter string is the same as SearchRequest.canonical_filter.",
          "type": "string"
        },
        "filter": {
          "description": "Optional. The filter string to restrict search results. The syntax of the filter string is the same as SearchRequest.filter.",
          "type": "string"
        }
      }
    },
    "GoogleCloudRetailV2alphaPurchaseTransaction": {
      "id": "GoogleCloudRetailV2alphaPurchaseTransaction",
      "description": "A transaction represents the entire purchase transaction.",
      "properties": {
        "id": {
          "type": "string",
          "description": "The transaction ID with a length limit of 128 characters."
        },
        "currencyCode": {
          "type": "string",
          "description": "Required. Currency code. Use three-character ISO-4217 code."
        },
        "cost": {
          "format": "float",
          "description": "All the costs associated with the products. These can be manufacturing costs, shipping expenses not borne by the end user, or any other costs, such that: * Profit = revenue - tax - cost",
          "type": "number"
        },
        "tax": {
          "format": "float",
          "type": "number",
          "description": "All the taxes associated with the transaction."
        },
        "revenue": {
          "format": "float",
          "description": "Required. Total non-zero revenue or grand total associated with the transaction. This value include shipping, tax, or other adjustments to total revenue that you want to include as part of your revenue calculations.",
          "type": "number"
        }
      },
      "type": "object"
    },
    "GoogleCloudRetailV2alphaPredictResponse": {
      "properties": {
        "validateOnly": {
          "type": "boolean",
          "description": "True if the validateOnly property was set in the request."
        },
        "attributionToken": {
          "type": "string",
          "description": "A unique attribution token. This should be included in the UserEvent logs resulting from this recommendation, which enables accurate attribution of recommendation model performance."
        },
        "results": {
          "items": {
            "$ref": "GoogleCloudRetailV2alphaPredictResponsePredictionResult"
          },
          "type": "array",
          "description": "A list of recommended products. The order represents the ranking (from the most relevant product to the least)."
        },
        "missingIds": {
          "description": "IDs of products in the request that were missing from the inventory.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "Response message for predict method.",
      "id": "GoogleCloudRetailV2alphaPredictResponse",
      "type": "object"
    },
    "GoogleCloudRetailV2alphaRemoveLocalInventoriesResponse": {
      "type": "object",
      "description": "Response of the ProductService.RemoveLocalInventories API. Currently empty because there is no meaningful response populated from the ProductService.RemoveLocalInventories method.",
      "properties": {},
      "id": "GoogleCloudRetailV2alphaRemoveLocalInventoriesResponse"
    },
    "GoogleCloudRetailV2alphaAddLocalInventoriesRequest": {
      "description": "Request message for ProductService.AddLocalInventories method.",
      "id": "GoogleCloudRetailV2alphaAddLocalInventoriesRequest",
      "type": "object",
      "properties": {
        "allowMissing": {
          "description": "If set to true, and the Product is not found, the local inventory will still be processed and retained for at most 1 day and processed once the Product is created. If set to false, a NOT_FOUND error is returned if the Product is not found.",
          "type": "boolean"
        },
        "addTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "The time when the inventory updates are issued. Used to prevent out-of-order updates on local inventory fields. If not provided, the internal system time will be used."
        },
        "addMask": {
          "description": "Indicates which inventory fields in the provided list of LocalInventory to update. The field is updated to the provided value. If a field is set while the place does not have a previous local inventory, the local inventory at that store is created. If a field is set while the value of that field is not provided, the original field value, if it exists, is deleted. If the mask is not set or set with empty paths, all inventory fields will be updated. If an unsupported or unknown field is provided, an INVALID_ARGUMENT error is returned and the entire update will be ignored.",
          "type": "string",
          "format": "google-fieldmask"
        },
        "localInventories": {
          "items": {
            "$ref": "GoogleCloudRetailV2alphaLocalInventory"
          },
          "type": "array",
          "description": "Required. A list of inventory information at difference places. Each place is identified by its place ID. At most 3000 inventories are allowed per request."
        }
      }
    },
    "GoogleCloudRetailV2alphaRuleDoNotAssociateAction": {
      "id": "GoogleCloudRetailV2alphaRuleDoNotAssociateAction",
      "properties": {
        "terms": {
          "items": {
            "type": "string"
          },
          "description": "Will be [deprecated = true] post migration;",
          "type": "array"
        },
        "queryTerms": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Terms from the search query. Will not consider do_not_associate_terms for search if in search query. Can specify up to 100 terms."
        },
        "doNotAssociateTerms": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Cannot contain duplicates or the query term. Can specify up to 100 terms."
        }
      },
      "type": "object",
      "description": "Prevents `query_term` from being associated with specified terms during search. Example: Don't associate \"gShoe\" and \"cheap\"."
    },
    "GoogleCloudRetailV2alphaListGenerativeQuestionConfigsResponse": {
      "properties": {
        "generativeQuestionConfigs": {
          "items": {
            "$ref": "GoogleCloudRetailV2alphaGenerativeQuestionConfig"
          },
          "type": "array",
          "description": "All the questions for a given catalog."
        }
      },
      "id": "GoogleCloudRetailV2alphaListGenerativeQuestionConfigsResponse",
      "description": "Response for ListQuestions method.",
      "type": "object"
    },
    "GoogleCloudRetailV2alphaRemoveFulfillmentPlacesResponse": {
      "properties": {},
      "description": "Response of the RemoveFulfillmentPlacesRequest. Currently empty because there is no meaningful response populated from the ProductService.RemoveFulfillmentPlaces method.",
      "type": "object",
      "id": "GoogleCloudRetailV2alphaRemoveFulfillmentPlacesResponse"
    },
    "GoogleCloudRetailV2alphaCatalogAttribute": {
      "properties": {
        "exactSearchableOption": {
          "enum": [
            "EXACT_SEARCHABLE_OPTION_UNSPECIFIED",
            "EXACT_SEARCHABLE_ENABLED",
            "EXACT_SEARCHABLE_DISABLED"
          ],
          "description": "If EXACT_SEARCHABLE_ENABLED, attribute values will be exact searchable. This property only applies to textual custom attributes and requires indexable set to enabled to enable exact-searchable. If unset, the server behavior defaults to EXACT_SEARCHABLE_DISABLED.",
          "enumDescriptions": [
            "Value used when unset.",
            "Exact searchable option enabled for an attribute.",
            "Exact searchable option disabled for an attribute."
          ],
          "type": "string"
        },
        "key": {
          "description": "Required. Attribute name. For example: `color`, `brands`, `attributes.custom_attribute`, such as `attributes.xyz`. To be indexable, the attribute name can contain only alpha-numeric characters and underscores. For example, an attribute named `attributes.abc_xyz` can be indexed, but an attribute named `attributes.abc-xyz` cannot be indexed. If the attribute key starts with `attributes.`, then the attribute is a custom attribute. Attributes such as `brands`, `patterns`, and `title` are built-in and called system attributes.",
          "type": "string"
        },
        "type": {
          "type": "string",
          "description": "Output only. The type of this attribute. This is derived from the attribute in Product.attributes.",
          "enumDescriptions": [
            "The type of the attribute is unknown. Used when type cannot be derived from attribute that is not in_use.",
            "Textual attribute.",
            "Numerical attribute."
          ],
          "enum": [
            "UNKNOWN",
            "TEXTUAL",
            "NUMERICAL"
          ],
          "readOnly": true
        },
        "dynamicFacetableOption": {
          "enum": [
            "DYNAMIC_FACETABLE_OPTION_UNSPECIFIED",
            "DYNAMIC_FACETABLE_ENABLED",
            "DYNAMIC_FACETABLE_DISABLED"
          ],
          "enumDescriptions": [
            "Value used when unset.",
            "Dynamic facetable option enabled for an attribute.",
            "Dynamic facetable option disabled for an attribute."
          ],
          "type": "string",
          "description": "If DYNAMIC_FACETABLE_ENABLED, attribute values are available for dynamic facet. Could only be DYNAMIC_FACETABLE_DISABLED if CatalogAttribute.indexable_option is INDEXABLE_DISABLED. Otherwise, an INVALID_ARGUMENT error is returned. Must be specified, otherwise throws INVALID_FORMAT error."
        },
        "recommendationsFilteringOption": {
          "enum": [
            "RECOMMENDATIONS_FILTERING_OPTION_UNSPECIFIED",
            "RECOMMENDATIONS_FILTERING_DISABLED",
            "RECOMMENDATIONS_FILTERING_ENABLED"
          ],
          "description": "When AttributesConfig.attribute_config_level is CATALOG_LEVEL_ATTRIBUTE_CONFIG, if RECOMMENDATIONS_FILTERING_ENABLED, attribute values are filterable for recommendations. This option works for categorical features only, does not work for numerical features, inventory filtering.",
          "enumDescriptions": [
            "Value used when unset. In this case, server behavior defaults to RECOMMENDATIONS_FILTERING_DISABLED.",
            "Recommendation filtering is disabled.",
            "Recommendation filtering is enabled."
          ],
          "type": "string"
        },
        "retrievableOption": {
          "description": "If RETRIEVABLE_ENABLED, attribute values are retrievable in the search results. If unset, the server behavior defaults to RETRIEVABLE_DISABLED.",
          "enum": [
            "RETRIEVABLE_OPTION_UNSPECIFIED",
            "RETRIEVABLE_ENABLED",
            "RETRIEVABLE_DISABLED"
          ],
          "enumDescriptions": [
            "Value used when unset.",
            "Retrievable option enabled for an attribute.",
            "Retrievable option disabled for an attribute."
          ],
          "type": "string"
        },
        "inUse": {
          "description": "Output only. Indicates whether this attribute has been used by any products. `True` if at least one Product is using this attribute in Product.attributes. Otherwise, this field is `False`. CatalogAttribute can be pre-loaded by using CatalogService.AddCatalogAttribute or CatalogService.UpdateAttributesConfig APIs. This field is `False` for pre-loaded CatalogAttributes. Only pre-loaded catalog attributes that are neither in use by products nor predefined can be deleted. Catalog attributes that are either in use by products or are predefined attributes cannot be deleted; however, their configuration properties will reset to default values upon removal request. After catalog changes, it takes about 10 minutes for this field to update.",
          "type": "boolean",
          "readOnly": true
        },
        "searchableOption": {
          "type": "string",
          "description": "When AttributesConfig.attribute_config_level is CATALOG_LEVEL_ATTRIBUTE_CONFIG, if SEARCHABLE_ENABLED, attribute values are searchable by text queries in SearchService.Search. If SEARCHABLE_ENABLED but attribute type is numerical, attribute values will not be searchable by text queries in SearchService.Search, as there are no text values associated to numerical attributes. Must be specified, when AttributesConfig.attribute_config_level is CATALOG_LEVEL_ATTRIBUTE_CONFIG, otherwise throws INVALID_FORMAT error.",
          "enumDescriptions": [
            "Value used when unset.",
            "Searchable option enabled for an attribute.",
            "Searchable option disabled for an attribute."
          ],
          "enum": [
            "SEARCHABLE_OPTION_UNSPECIFIED",
            "SEARCHABLE_ENABLED",
            "SEARCHABLE_DISABLED"
          ]
        },
        "facetConfig": {
          "description": "Contains facet options.",
          "$ref": "GoogleCloudRetailV2alphaCatalogAttributeFacetConfig"
        },
        "indexableOption": {
          "description": "When AttributesConfig.attribute_config_level is CATALOG_LEVEL_ATTRIBUTE_CONFIG, if INDEXABLE_ENABLED attribute values are indexed so that it can be filtered, faceted, or boosted in SearchService.Search. Must be specified when AttributesConfig.attribute_config_level is CATALOG_LEVEL_ATTRIBUTE_CONFIG, otherwise throws INVALID_FORMAT error.",
          "type": "string",
          "enum": [
            "INDEXABLE_OPTION_UNSPECIFIED",
            "INDEXABLE_ENABLED",
            "INDEXABLE_DISABLED"
          ],
          "enumDescriptions": [
            "Value used when unset.",
            "Indexable option enabled for an attribute.",
            "Indexable option disabled for an attribute."
          ]
        }
      },
      "type": "object",
      "description": "Catalog level attribute config for an attribute. For example, if customers want to enable/disable facet for a specific attribute.",
      "id": "GoogleCloudRetailV2alphaCatalogAttribute"
    },
    "GoogleCloudRetailV2betaTuneModelMetadata": {
      "type": "object",
      "properties": {
        "model": {
          "description": "The resource name of the model that this tune applies to. Format: `projects/{project_number}/locations/{location_id}/catalogs/{catalog_id}/models/{model_id}`",
          "type": "string"
        }
      },
      "description": "Metadata associated with a tune operation.",
      "id": "GoogleCloudRetailV2betaTuneModelMetadata"
    },
    "GoogleCloudRetailV2alphaIntentClassificationConfigExample": {
      "id": "GoogleCloudRetailV2alphaIntentClassificationConfigExample",
      "type": "object",
      "properties": {
        "reason": {
          "description": "Optional. The reason for the intent classification. This is used to explain the intent classification decision.",
          "type": "string"
        },
        "intentType": {
          "description": "Optional. The intent_type must match one of the predefined intent types defined at https://cloud.google.com/retail/docs/reference/rpc/google.cloud.retail.v2alpha#querytype",
          "type": "string"
        },
        "classifiedPositive": {
          "type": "boolean",
          "description": "Required. Whether the example is classified positively."
        },
        "query": {
          "description": "Required. Example query.",
          "type": "string"
        }
      },
      "description": "An example for intent classification."
    },
    "GoogleCloudRetailV2alphaImportUserEventsResponse": {
      "id": "GoogleCloudRetailV2alphaImportUserEventsResponse",
      "description": "Response of the ImportUserEventsRequest. If the long running operation was successful, then this message is returned by the google.longrunning.Operations.response field if the operation was successful.",
      "properties": {
        "importSummary": {
          "description": "Aggregated statistics of user event import status.",
          "$ref": "GoogleCloudRetailV2alphaUserEventImportSummary"
        },
        "errorsConfig": {
          "$ref": "GoogleCloudRetailV2alphaImportErrorsConfig",
          "description": "Echoes the destination for the complete errors if this field was set in the request."
        },
        "errorSamples": {
          "description": "A sample of errors encountered while processing the request.",
          "type": "array",
          "items": {
            "$ref": "GoogleRpcStatus"
          }
        }
      },
      "type": "object"
    },
    "GoogleCloudRetailV2betaModelServingConfigList": {
      "properties": {
        "servingConfigIds": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Optional. A set of valid serving configs that may be used for `PAGE_OPTIMIZATION`."
        }
      },
      "description": "Represents an ordered combination of valid serving configs, which can be used for `PAGE_OPTIMIZATION` recommendations.",
      "type": "object",
      "id": "GoogleCloudRetailV2betaModelServingConfigList"
    },
    "GoogleCloudRetailV2alphaAlertConfigAlertPolicy": {
      "description": "Alert policy for a customer.",
      "properties": {
        "alertGroup": {
          "description": "The feature that provides alerting capability. Supported value: - `search-data-quality` for retail search customers. - `conv-data-quality` for retail conversation customers.",
          "type": "string"
        },
        "enrollStatus": {
          "type": "string",
          "enum": [
            "ENROLL_STATUS_UNSPECIFIED",
            "ENROLLED",
            "DECLINED"
          ],
          "enumDescriptions": [
            "Default value. Used for customers who have not responded to the alert policy.",
            "Customer is enrolled in this policy.",
            "Customer declined this policy."
          ],
          "description": "The enrollment status of a customer."
        },
        "recipients": {
          "description": "Recipients for the alert policy. One alert policy should not exceed 20 recipients.",
          "items": {
            "$ref": "GoogleCloudRetailV2alphaAlertConfigAlertPolicyRecipient"
          },
          "type": "array"
        }
      },
      "id": "GoogleCloudRetailV2alphaAlertConfigAlertPolicy",
      "type": "object"
    },
    "GoogleCloudRetailV2alphaPanelInfo": {
      "description": "Detailed panel information associated with a user event.",
      "type": "object",
      "properties": {
        "displayName": {
          "type": "string",
          "description": "Optional. The display name of the panel."
        },
        "panelId": {
          "type": "string",
          "description": "Required. The panel ID."
        },
        "attributionToken": {
          "type": "string",
          "description": "Optional. The attribution token of the panel."
        },
        "totalPanels": {
          "format": "int32",
          "type": "integer",
          "description": "Optional. The total number of panels, including this one, shown to the user. Must be set if panel_position is set."
        },
        "panelPosition": {
          "description": "Optional. The ordered position of the panel, if shown to the user with other panels. If set, then total_panels must also be set.",
          "format": "int32",
          "type": "integer"
        },
        "productDetails": {
          "items": {
            "$ref": "GoogleCloudRetailV2alphaProductDetail"
          },
          "type": "array",
          "description": "Optional. The product details associated with the panel."
        }
      },
      "id": "GoogleCloudRetailV2alphaPanelInfo"
    },
    "GoogleCloudRetailV2alphaPromotion": {
      "id": "GoogleCloudRetailV2alphaPromotion",
      "description": "Promotion specification.",
      "type": "object",
      "properties": {
        "promotionId": {
          "description": "Promotion identifier, which is the final component of name. For example, this field is \"free_gift\", if name is `projects/*/locations/global/catalogs/default_catalog/promotions/free_gift`. The value must be a UTF-8 encoded string with a length limit of 128 characters, and match the pattern: `a-zA-Z*`. For example, id0LikeThis or ID_1_LIKE_THIS. Otherwise, an INVALID_ARGUMENT error is returned. Corresponds to Google Merchant Center property [promotion_id](https://support.google.com/merchants/answer/7050148).",
          "type": "string"
        }
      }
    },
    "GoogleCloudRetailV2alphaColorInfo": {
      "description": "The color information of a Product.",
      "type": "object",
      "properties": {
        "colors": {
          "description": "The color display names, which may be different from standard color family names, such as the color aliases used in the website frontend. Normally it is expected to have only 1 color. May consider using single \"Mixed\" instead of multiple values. A maximum of 75 colors are allowed. Each value must be a UTF-8 encoded string with a length limit of 128 characters. Otherwise, an INVALID_ARGUMENT error is returned. Google Merchant Center property [color](https://support.google.com/merchants/answer/6324487). Schema.org property [Product.color](https://schema.org/color).",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "colorFamilies": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The standard color families. Strongly recommended to use the following standard color groups: \"Red\", \"Pink\", \"Orange\", \"Yellow\", \"Purple\", \"Green\", \"Cyan\", \"Blue\", \"Brown\", \"White\", \"Gray\", \"Black\" and \"Mixed\". Normally it is expected to have only 1 color family. May consider using single \"Mixed\" instead of multiple values. A maximum of 5 values are allowed. Each value must be a UTF-8 encoded string with a length limit of 128 characters. Otherwise, an INVALID_ARGUMENT error is returned. Google Merchant Center property [color](https://support.google.com/merchants/answer/6324487). Schema.org property [Product.color](https://schema.org/color). The colorFamilies field as a system attribute is not a required field but strongly recommended to be specified. Google Search models treat this field as more important than a custom product attribute when specified."
        }
      },
      "id": "GoogleCloudRetailV2alphaColorInfo"
    },
    "GoogleCloudRetailV2alphaProductDetail": {
      "properties": {
        "product": {
          "description": "Required. Product information. Required field(s): * Product.id Optional override field(s): * Product.price_info If any supported optional fields are provided, we will treat them as a full override when looking up product information from the catalog. Thus, it is important to ensure that the overriding fields are accurate and complete. All other product fields are ignored and instead populated via catalog lookup after event ingestion.",
          "$ref": "GoogleCloudRetailV2alphaProduct"
        },
        "quantity": {
          "type": "integer",
          "format": "int32",
          "description": "Quantity of the product associated with the user event. For example, this field will be 2 if two products are added to the shopping cart for `purchase-complete` event. Required for `add-to-cart` and `purchase-complete` event types."
        }
      },
      "id": "GoogleCloudRetailV2alphaProductDetail",
      "type": "object",
      "description": "Detailed product information associated with a user event."
    },
    "GoogleCloudRetailV2alphaUpdateGenerativeQuestionConfigRequest": {
      "id": "GoogleCloudRetailV2alphaUpdateGenerativeQuestionConfigRequest",
      "description": "Request for UpdateGenerativeQuestionConfig method.",
      "properties": {
        "generativeQuestionConfig": {
          "description": "Required. The question to update.",
          "$ref": "GoogleCloudRetailV2alphaGenerativeQuestionConfig"
        },
        "updateMask": {
          "type": "string",
          "description": "Optional. Indicates which fields in the provided GenerativeQuestionConfig to update. The following are NOT supported: * GenerativeQuestionConfig.frequency If not set or empty, all supported fields are updated.",
          "format": "google-fieldmask"
        }
      },
      "type": "object"
    },
    "GoogleCloudRetailV2betaRemoveFulfillmentPlacesResponse": {
      "type": "object",
      "properties": {},
      "id": "GoogleCloudRetailV2betaRemoveFulfillmentPlacesResponse",
      "description": "Response of the RemoveFulfillmentPlacesRequest. Currently empty because there is no meaningful response populated from the ProductService.RemoveFulfillmentPlaces method."
    },
    "GoogleCloudRetailV2alphaSearchResponseSearchResult": {
      "type": "object",
      "description": "Represents the search results.",
      "id": "GoogleCloudRetailV2alphaSearchResponseSearchResult",
      "properties": {
        "matchingVariantFields": {
          "type": "object",
          "description": "If a variant Product matches the search query, this map indicates which Product fields are matched. The key is the Product.name, the value is a field mask of the matched Product fields. If matched attributes cannot be determined, this map will be empty. For example, a key \"sku1\" with field mask \"products.color_info\" indicates there is a match between \"sku1\" ColorInfo and the query.",
          "additionalProperties": {
            "type": "string",
            "format": "google-fieldmask"
          }
        },
        "personalLabels": {
          "description": "Specifies previous events related to this product for this user based on UserEvent with same SearchRequest.visitor_id or UserInfo.user_id. This is set only when SearchRequest.PersonalizationSpec.mode is SearchRequest.PersonalizationSpec.Mode.AUTO. Possible values: * `purchased`: Indicates that this product has been purchased before.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "matchingVariantCount": {
          "description": "The count of matched variant Products.",
          "format": "int32",
          "type": "integer"
        },
        "product": {
          "description": "The product data snippet in the search response. Only Product.name is guaranteed to be populated. Product.variants contains the product variants that match the search query. If there are multiple product variants matching the query, top 5 most relevant product variants are returned and ordered by relevancy. If relevancy can be deternmined, use matching_variant_fields to look up matched product variants fields. If relevancy cannot be determined, e.g. when searching \"shoe\" all products in a shoe product can be a match, 5 product variants are returned but order is meaningless.",
          "$ref": "GoogleCloudRetailV2alphaProduct"
        },
        "variantRollupValues": {
          "type": "object",
          "additionalProperties": {
            "type": "any"
          },
          "description": "The rollup matching variant Product attributes. The key is one of the SearchRequest.variant_rollup_keys. The values are the merged and de-duplicated Product attributes. Notice that the rollup values are respect filter. For example, when filtering by \"colorFamilies:ANY(\\\"red\\\")\" and rollup \"colorFamilies\", only \"red\" is returned. For textual and numerical attributes, the rollup values is a list of string or double values with type google.protobuf.ListValue. For example, if there are two variants with colors \"red\" and \"blue\", the rollup values are { key: \"colorFamilies\" value { list_value { values { string_value: \"red\" } values { string_value: \"blue\" } } } } For FulfillmentInfo, the rollup values is a double value with type google.protobuf.Value. For example, `{key: \"pickupInStore.store1\" value { number_value: 10 }}` means a there are 10 variants in this product are available in the store \"store1\"."
        },
        "id": {
          "description": "Product.id of the searched Product.",
          "type": "string"
        },
        "modelScores": {
          "type": "object",
          "additionalProperties": {
            "$ref": "GoogleCloudRetailV2alphaDoubleList"
          },
          "description": "Google provided available scores."
        }
      }
    },
    "GoogleCloudRetailV2alphaPurgeUserEventsResponse": {
      "description": "Response of the PurgeUserEventsRequest. If the long running operation is successfully done, then this message is returned by the google.longrunning.Operations.response field.",
      "properties": {
        "purgedEventsCount": {
          "format": "int64",
          "type": "string",
          "description": "The total count of events purged as a result of the operation."
        }
      },
      "type": "object",
      "id": "GoogleCloudRetailV2alphaPurgeUserEventsResponse"
    },
    "GoogleCloudRetailV2alphaBatchRemoveCatalogAttributesResponse": {
      "description": "Response of the CatalogService.BatchRemoveCatalogAttributes.",
      "id": "GoogleCloudRetailV2alphaBatchRemoveCatalogAttributesResponse",
      "properties": {
        "deletedCatalogAttributes": {
          "description": "Catalog attributes that were deleted. Only pre-loaded catalog attributes that are neither in use by products nor predefined can be deleted.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "resetCatalogAttributes": {
          "type": "array",
          "description": "Catalog attributes that were reset. Catalog attributes that are either in use by products or are predefined attributes cannot be deleted; however, their configuration properties will reset to default values upon removal request.",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object"
    },
    "GoogleCloudRetailV2alphaTuneModelResponse": {
      "id": "GoogleCloudRetailV2alphaTuneModelResponse",
      "type": "object",
      "properties": {},
      "description": "Response associated with a tune operation."
    },
    "GoogleCloudRetailV2OutputResult": {
      "id": "GoogleCloudRetailV2OutputResult",
      "properties": {
        "gcsResult": {
          "description": "The Google Cloud Storage location where the result is stored.",
          "items": {
            "$ref": "GoogleCloudRetailV2GcsOutputResult"
          },
          "type": "array"
        },
        "bigqueryResult": {
          "description": "The BigQuery location where the result is stored.",
          "items": {
            "$ref": "GoogleCloudRetailV2BigQueryOutputResult"
          },
          "type": "array"
        }
      },
      "description": "Output result that stores the information about where the exported data is stored.",
      "type": "object"
    },
    "GoogleCloudRetailV2alphaRating": {
      "type": "object",
      "properties": {
        "ratingCount": {
          "description": "The total number of ratings. This value is independent of the value of rating_histogram. This value must be nonnegative. Otherwise, an INVALID_ARGUMENT error is returned.",
          "type": "integer",
          "format": "int32"
        },
        "averageRating": {
          "type": "number",
          "format": "float",
          "description": "The average rating of the Product. The rating is scaled at 1-5. Otherwise, an INVALID_ARGUMENT error is returned."
        },
        "ratingHistogram": {
          "items": {
            "format": "int32",
            "type": "integer"
          },
          "type": "array",
          "description": "List of rating counts per rating value (index = rating - 1). The list is empty if there is no rating. If the list is non-empty, its size is always 5. Otherwise, an INVALID_ARGUMENT error is returned. For example, [41, 14, 13, 47, 303]. It means that the Product got 41 ratings with 1 star, 14 ratings with 2 star, and so on."
        }
      },
      "description": "The rating of a Product.",
      "id": "GoogleCloudRetailV2alphaRating"
    },
    "GoogleCloudRetailV2alphaExportProductsRequest": {
      "description": "Request message for ExportProducts method.",
      "properties": {
        "outputConfig": {
          "$ref": "GoogleCloudRetailV2alphaOutputConfig",
          "description": "Required. The output location of the data. Only `bigquery_destination` is supported, and `bigquery_destination.table_type` must be set to `view`."
        },
        "filter": {
          "deprecated": true,
          "type": "string",
          "description": "Deprecated: This field is deprecated. Any filter provided will be ignored."
        }
      },
      "type": "object",
      "id": "GoogleCloudRetailV2alphaExportProductsRequest"
    },
    "GoogleCloudRetailV2alphaRemoveControlRequest": {
      "description": "Request for RemoveControl method.",
      "id": "GoogleCloudRetailV2alphaRemoveControlRequest",
      "properties": {
        "controlId": {
          "type": "string",
          "description": "Required. The id of the control to apply. Assumed to be in the same catalog as the serving config."
        }
      },
      "type": "object"
    },
    "GoogleCloudRetailV2betaSetInventoryMetadata": {
      "type": "object",
      "id": "GoogleCloudRetailV2betaSetInventoryMetadata",
      "properties": {},
      "description": "Metadata related to the progress of the SetInventory operation. Currently empty because there is no meaningful metadata populated from the ProductService.SetInventory method."
    },
    "GoogleCloudRetailV2alphaExportUserEventsRequest": {
      "id": "GoogleCloudRetailV2alphaExportUserEventsRequest",
      "description": "Request message for the `ExportUserEvents` method.",
      "type": "object",
      "properties": {
        "filter": {
          "deprecated": true,
          "type": "string",
          "description": "Deprecated: This field is deprecated. Any filter provided will be ignored."
        },
        "outputConfig": {
          "description": "Required. The output location of the data. Only `bigquery_destination` is supported, and `bigquery_destination.table_type` must be set to `view`.",
          "$ref": "GoogleCloudRetailV2alphaOutputConfig"
        }
      }
    },
    "GoogleCloudRetailV2alphaCompleteQueryResponseCompletionResult": {
      "properties": {
        "attributes": {
          "type": "object",
          "additionalProperties": {
            "$ref": "GoogleCloudRetailV2alphaCustomAttribute"
          },
          "description": "Custom attributes for the suggestion term. * For `user-data`, the attributes are additional custom attributes ingested through BigQuery. * For `cloud-retail`, the attributes are product attributes generated by Cloud Retail. It requires UserEvent.product_details is imported properly."
        },
        "agentPrompts": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudRetailV2alphaCompleteQueryResponseAgentPrompt"
          },
          "deprecated": true,
          "description": "Deprecated: Use CompleteQueryResponse.agent_prompts instead. Conversational prompts to trigger agents like Shopping Agent. There may be multiple prompts for a single suggestion. This is an experimental feature for select customers."
        },
        "suggestion": {
          "description": "The suggestion for the query.",
          "type": "string"
        },
        "totalProductCount": {
          "type": "integer",
          "description": "Total number of products associated with a search with this suggestion. This is an experimental feature for limited customers. If you want to receive this product count information, reach out to the Retail support team.",
          "format": "int32"
        },
        "facets": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudRetailV2alphaSearchResponseFacet"
          },
          "description": "Facet information for the suggestion term. Gives the number of items resulting from a search with this suggestion term for each facet. This is an experimental feature for limited customers. If you want to receive this facet information, reach out to the Retail support team."
        }
      },
      "id": "GoogleCloudRetailV2alphaCompleteQueryResponseCompletionResult",
      "type": "object",
      "description": "Resource that represents completion results."
    },
    "GoogleCloudRetailV2alphaPriceInfoPriceRange": {
      "type": "object",
      "properties": {
        "originalPrice": {
          "description": "The inclusive Product.pricing_info.original_price internal of all variant Product having the same Product.primary_product_id.",
          "$ref": "GoogleCloudRetailV2alphaInterval"
        },
        "price": {
          "$ref": "GoogleCloudRetailV2alphaInterval",
          "description": "The inclusive Product.pricing_info.price interval of all variant Product having the same Product.primary_product_id."
        }
      },
      "id": "GoogleCloudRetailV2alphaPriceInfoPriceRange",
      "description": "The price range of all variant Product having the same Product.primary_product_id."
    },
    "GoogleCloudRetailV2alphaPredictResponsePredictionResult": {
      "description": "PredictionResult represents the recommendation prediction results.",
      "type": "object",
      "properties": {
        "metadata": {
          "description": "Additional product metadata / annotations. Possible values: * `product`: JSON representation of the product. Is set if `returnProduct` is set to true in `PredictRequest.params`. * `score`: Prediction score in double value. Is set if `returnScore` is set to true in `PredictRequest.params`.",
          "additionalProperties": {
            "type": "any"
          },
          "type": "object"
        },
        "id": {
          "description": "ID of the recommended product",
          "type": "string"
        }
      },
      "id": "GoogleCloudRetailV2alphaPredictResponsePredictionResult"
    },
    "GoogleCloudRetailV2BigQueryOutputResult": {
      "description": "A BigQuery output result.",
      "id": "GoogleCloudRetailV2BigQueryOutputResult",
      "type": "object",
      "properties": {
        "tableId": {
          "type": "string",
          "description": "The ID of a BigQuery Table."
        },
        "datasetId": {
          "description": "The ID of a BigQuery Dataset.",
          "type": "string"
        }
      }
    },
    "GoogleCloudRetailV2alphaSearchResponseConversationalSearchResultSuggestedAnswer": {
      "id": "GoogleCloudRetailV2alphaSearchResponseConversationalSearchResultSuggestedAnswer",
      "properties": {
        "productAttributeValue": {
          "$ref": "GoogleCloudRetailV2alphaProductAttributeValue",
          "description": "Product attribute value, including an attribute key and an attribute value. Other types can be added here in the future."
        }
      },
      "description": "Suggested answers to the follow-up question.",
      "type": "object"
    },
    "GoogleCloudRetailV2alphaBigQueryOutputResult": {
      "type": "object",
      "properties": {
        "tableId": {
          "description": "The ID of a BigQuery Table.",
          "type": "string"
        },
        "datasetId": {
          "description": "The ID of a BigQuery Dataset.",
          "type": "string"
        }
      },
      "description": "A BigQuery output result.",
      "id": "GoogleCloudRetailV2alphaBigQueryOutputResult"
    },
    "GoogleCloudRetailV2alphaProject": {
      "properties": {
        "enrolledSolutions": {
          "type": "array",
          "items": {
            "type": "string",
            "enum": [
              "SOLUTION_TYPE_UNSPECIFIED",
              "SOLUTION_TYPE_RECOMMENDATION",
              "SOLUTION_TYPE_SEARCH"
            ],
            "enumDescriptions": [
              "Default value.",
              "Used for Recommendations AI.",
              "Used for Retail Search."
            ]
          },
          "description": "Output only. AI Commerce Search API solutions that the project has enrolled.",
          "readOnly": true
        },
        "name": {
          "readOnly": true,
          "description": "Output only. Full resource name of the retail project, such as `projects/{project_id_or_number}/retailProject`.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Metadata that describes a Cloud Retail Project.",
      "id": "GoogleCloudRetailV2alphaProject"
    },
    "GoogleCloudRetailV2alphaConversationalSearchResponseFollowupQuestionSuggestedAnswer": {
      "type": "object",
      "id": "GoogleCloudRetailV2alphaConversationalSearchResponseFollowupQuestionSuggestedAnswer",
      "description": "Suggested answers to the follow-up question. If it's numerical attribute, only ProductAttributeInterval will be set. If it's textual attribute, only productAttributeValue will be set.",
      "properties": {
        "productAttributeValue": {
          "description": "Product attribute value, including an attribute key and an attribute value. Other types can be added here in the future.",
          "$ref": "GoogleCloudRetailV2alphaProductAttributeValue"
        }
      }
    },
    "GoogleCloudRetailV2RejoinUserEventsResponse": {
      "id": "GoogleCloudRetailV2RejoinUserEventsResponse",
      "type": "object",
      "properties": {
        "rejoinedUserEventsCount": {
          "format": "int64",
          "type": "string",
          "description": "Number of user events that were joined with latest product catalog."
        }
      },
      "description": "Response message for `RejoinUserEvents` method."
    },
    "GoogleCloudRetailV2alphaImportProductsResponse": {
      "id": "GoogleCloudRetailV2alphaImportProductsResponse",
      "type": "object",
      "properties": {
        "errorSamples": {
          "items": {
            "$ref": "GoogleRpcStatus"
          },
          "type": "array",
          "description": "A sample of errors encountered while processing the request."
        },
        "errorsConfig": {
          "description": "Echoes the destination for the complete errors in the request if set.",
          "$ref": "GoogleCloudRetailV2alphaImportErrorsConfig"
        }
      },
      "description": "Response of the ImportProductsRequest. If the long running operation is done, then this message is returned by the google.longrunning.Operations.response field if the operation was successful."
    },
    "GoogleCloudRetailV2alphaAddFulfillmentPlacesResponse": {
      "properties": {},
      "id": "GoogleCloudRetailV2alphaAddFulfillmentPlacesResponse",
      "description": "Response of the AddFulfillmentPlacesRequest. Currently empty because there is no meaningful response populated from the ProductService.AddFulfillmentPlaces method.",
      "type": "object"
    },
    "GoogleCloudRetailV2alphaBatchRemoveCatalogAttributesRequest": {
      "type": "object",
      "id": "GoogleCloudRetailV2alphaBatchRemoveCatalogAttributesRequest",
      "properties": {
        "attributeKeys": {
          "items": {
            "type": "string"
          },
          "description": "Required. The attribute name keys of the CatalogAttributes to delete. A maximum of 1000 catalog attributes can be deleted in a batch.",
          "type": "array"
        }
      },
      "description": "Request for CatalogService.BatchRemoveCatalogAttributes method."
    },
    "GoogleCloudRetailV2alphaProductAttributeInterval": {
      "id": "GoogleCloudRetailV2alphaProductAttributeInterval",
      "type": "object",
      "description": "Product attribute name and numeric interval.",
      "properties": {
        "interval": {
          "$ref": "GoogleCloudRetailV2alphaInterval",
          "description": "The numeric interval (e.g. [10, 20))"
        },
        "name": {
          "type": "string",
          "description": "The attribute name (e.g. \"length\")"
        }
      }
    },
    "GoogleCloudRetailV2alphaEnrollSolutionMetadata": {
      "description": "Metadata related to the EnrollSolution method. This will be returned by the google.longrunning.Operation.metadata field.",
      "properties": {},
      "id": "GoogleCloudRetailV2alphaEnrollSolutionMetadata",
      "type": "object"
    },
    "GoogleCloudRetailV2PurgeProductsResponse": {
      "id": "GoogleCloudRetailV2PurgeProductsResponse",
      "properties": {
        "purgeSample": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "A sample of the product names that will be deleted. Only populated if `force` is set to false. A max of 100 names will be returned and the names are chosen at random."
        },
        "purgeCount": {
          "format": "int64",
          "type": "string",
          "description": "The total count of products purged as a result of the operation."
        }
      },
      "description": "Response of the PurgeProductsRequest. If the long running operation is successfully done, then this message is returned by the google.longrunning.Operations.response field.",
      "type": "object"
    },
    "GoogleCloudRetailV2alphaListEnrolledSolutionsResponse": {
      "type": "object",
      "id": "GoogleCloudRetailV2alphaListEnrolledSolutionsResponse",
      "properties": {
        "enrolledSolutions": {
          "description": "AI Commerce Search API solutions that the project has enrolled.",
          "type": "array",
          "items": {
            "type": "string",
            "enumDescriptions": [
              "Default value.",
              "Used for Recommendations AI.",
              "Used for Retail Search."
            ],
            "enum": [
              "SOLUTION_TYPE_UNSPECIFIED",
              "SOLUTION_TYPE_RECOMMENDATION",
              "SOLUTION_TYPE_SEARCH"
            ]
          }
        }
      },
      "description": "Response for ListEnrolledSolutions method."
    },
    "GoogleCloudRetailV2alphaSearchRequestFacetSpec": {
      "properties": {
        "limit": {
          "type": "integer",
          "format": "int32",
          "description": "Maximum of facet values that should be returned for this facet. If unspecified, defaults to 50. The maximum allowed value is 300. Values above 300 will be coerced to 300. If this field is negative, an INVALID_ARGUMENT is returned."
        },
        "excludedFilterKeys": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "List of keys to exclude when faceting. By default, FacetKey.key is not excluded from the filter unless it is listed in this field. Listing a facet key in this field allows its values to appear as facet results, even when they are filtered out of search results. Using this field does not affect what search results are returned. For example, suppose there are 100 products with the color facet \"Red\" and 200 products with the color facet \"Blue\". A query containing the filter \"colorFamilies:ANY(\"Red\")\" and having \"colorFamilies\" as FacetKey.key would by default return only \"Red\" products in the search results, and also return \"Red\" with count 100 as the only color facet. Although there are also blue products available, \"Blue\" would not be shown as an available facet value. If \"colorFamilies\" is listed in \"excludedFilterKeys\", then the query returns the facet values \"Red\" with count 100 and \"Blue\" with count 200, because the \"colorFamilies\" key is now excluded from the filter. Because this field doesn't affect search results, the search results are still correctly filtered to return only \"Red\" products. A maximum of 100 values are allowed. Otherwise, an INVALID_ARGUMENT error is returned."
        },
        "facetKey": {
          "description": "Required. The facet key specification.",
          "$ref": "GoogleCloudRetailV2alphaSearchRequestFacetSpecFacetKey"
        },
        "enableDynamicPosition": {
          "type": "boolean",
          "description": "Enables dynamic position for this facet. If set to true, the position of this facet among all facets in the response is determined by Google Retail Search. It is ordered together with dynamic facets if dynamic facets is enabled. If set to false, the position of this facet in the response is the same as in the request, and it is ranked before the facets with dynamic position enable and all dynamic facets. For example, you may always want to have rating facet returned in the response, but it's not necessarily to always display the rating facet at the top. In that case, you can set enable_dynamic_position to true so that the position of rating facet in response is determined by Google Retail Search. Another example, assuming you have the following facets in the request: * \"rating\", enable_dynamic_position = true * \"price\", enable_dynamic_position = false * \"brands\", enable_dynamic_position = false And also you have a dynamic facets enable, which generates a facet \"gender\". Then, the final order of the facets in the response can be (\"price\", \"brands\", \"rating\", \"gender\") or (\"price\", \"brands\", \"gender\", \"rating\") depends on how Google Retail Search orders \"gender\" and \"rating\" facets. However, notice that \"price\" and \"brands\" are always ranked at first and second position because their enable_dynamic_position values are false."
        }
      },
      "id": "GoogleCloudRetailV2alphaSearchRequestFacetSpec",
      "description": "A facet specification to perform faceted search.",
      "type": "object"
    },
    "GoogleCloudRetailV2alphaProductInlineSource": {
      "description": "The inline source for the input config for ImportProducts method.",
      "type": "object",
      "id": "GoogleCloudRetailV2alphaProductInlineSource",
      "properties": {
        "products": {
          "items": {
            "$ref": "GoogleCloudRetailV2alphaProduct"
          },
          "description": "Required. A list of products to update/create. Each product must have a valid Product.id. Recommended max of 100 items.",
          "type": "array"
        }
      }
    },
    "GoogleCloudRetailV2alphaSetInventoryMetadata": {
      "properties": {},
      "id": "GoogleCloudRetailV2alphaSetInventoryMetadata",
      "description": "Metadata related to the progress of the SetInventory operation. Currently empty because there is no meaningful metadata populated from the ProductService.SetInventory method.",
      "type": "object"
    },
    "GoogleCloudRetailV2AddLocalInventoriesMetadata": {
      "type": "object",
      "properties": {},
      "id": "GoogleCloudRetailV2AddLocalInventoriesMetadata",
      "description": "Metadata related to the progress of the AddLocalInventories operation. Currently empty because there is no meaningful metadata populated from the ProductService.AddLocalInventories method."
    },
    "GoogleCloudRetailV2alphaRuleRemoveFacetAction": {
      "type": "object",
      "id": "GoogleCloudRetailV2alphaRuleRemoveFacetAction",
      "description": "Removes an attribute/facet in the request if is present. * Rule Condition: Must specify non-empty Condition.query_terms (for search only) or Condition.page_categories (for browse only), but can't specify both. * Action Input: attribute name * Action Result: Will remove the attribute (as a facet) from the request if it is present. Example: Suppose the query is \"shoes\", the Condition.query_terms is \"shoes\" and the attribute name \"size\", then facet key \"size\" will be removed from the request (if it is present).",
      "properties": {
        "attributeNames": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The attribute names (i.e. facet keys) to remove from the dynamic facets (if present in the request). There can't be more 3 attribute names. Each attribute name should be a valid attribute name, be non-empty and contain at most 80 characters."
        }
      }
    },
    "GoogleCloudRetailV2betaUserEventImportSummary": {
      "type": "object",
      "id": "GoogleCloudRetailV2betaUserEventImportSummary",
      "properties": {
        "joinedEventsCount": {
          "description": "Count of user events imported with complete existing catalog information.",
          "type": "string",
          "format": "int64"
        },
        "unjoinedEventsCount": {
          "format": "int64",
          "description": "Count of user events imported, but with catalog information not found in the imported catalog.",
          "type": "string"
        }
      },
      "description": "A summary of import result. The UserEventImportSummary summarizes the import status for user events."
    },
    "GoogleCloudRetailV2betaExportErrorsConfig": {
      "properties": {
        "gcsPrefix": {
          "description": "Google Cloud Storage path for import errors. This must be an empty, existing Cloud Storage bucket. Export errors will be written to a file in this bucket, one per line, as a JSON-encoded `google.rpc.Status` message.",
          "type": "string"
        }
      },
      "id": "GoogleCloudRetailV2betaExportErrorsConfig",
      "type": "object",
      "description": "Configuration of destination for Export related errors."
    },
    "GoogleCloudRetailV2alphaRemoveCatalogAttributeRequest": {
      "id": "GoogleCloudRetailV2alphaRemoveCatalogAttributeRequest",
      "description": "Request for CatalogService.RemoveCatalogAttribute method.",
      "type": "object",
      "properties": {
        "key": {
          "type": "string",
          "description": "Required. The attribute name key of the CatalogAttribute to remove."
        }
      }
    },
    "GoogleCloudRetailV2alphaImportCompletionDataResponse": {
      "description": "Response of the ImportCompletionDataRequest. If the long running operation is done, this message is returned by the google.longrunning.Operations.response field if the operation is successful.",
      "properties": {
        "errorSamples": {
          "items": {
            "$ref": "GoogleRpcStatus"
          },
          "type": "array",
          "description": "A sample of errors encountered while processing the request."
        }
      },
      "id": "GoogleCloudRetailV2alphaImportCompletionDataResponse",
      "type": "object"
    },
    "GoogleCloudRetailV2betaPurgeMetadata": {
      "properties": {},
      "type": "object",
      "description": "Metadata related to the progress of the Purge operation. This will be returned by the google.longrunning.Operation.metadata field.",
      "id": "GoogleCloudRetailV2betaPurgeMetadata"
    },
    "GoogleCloudRetailV2SetInventoryMetadata": {
      "type": "object",
      "id": "GoogleCloudRetailV2SetInventoryMetadata",
      "description": "Metadata related to the progress of the SetInventory operation. Currently empty because there is no meaningful metadata populated from the ProductService.SetInventory method.",
      "properties": {}
    },
    "GoogleCloudRetailV2ExportAnalyticsMetricsResponse": {
      "type": "object",
      "id": "GoogleCloudRetailV2ExportAnalyticsMetricsResponse",
      "description": "Response of the ExportAnalyticsMetricsRequest. If the long running operation was successful, then this message is returned by the google.longrunning.Operations.response field if the operation was successful.",
      "properties": {
        "errorSamples": {
          "description": "A sample of errors encountered while processing the request.",
          "type": "array",
          "items": {
            "$ref": "GoogleRpcStatus"
          }
        },
        "errorsConfig": {
          "description": "This field is never set.",
          "$ref": "GoogleCloudRetailV2ExportErrorsConfig"
        },
        "outputResult": {
          "description": "Output result indicating where the data were exported to.",
          "$ref": "GoogleCloudRetailV2OutputResult"
        }
      }
    },
    "GoogleCloudRetailV2alphaListCatalogsResponse": {
      "properties": {
        "catalogs": {
          "description": "All the customer's Catalogs.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudRetailV2alphaCatalog"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token that can be sent as ListCatalogsRequest.page_token to retrieve the next page. If this field is omitted, there are no subsequent pages."
        }
      },
      "type": "object",
      "description": "Response for CatalogService.ListCatalogs method.",
      "id": "GoogleCloudRetailV2alphaListCatalogsResponse"
    },
    "GoogleCloudRetailV2alphaModelFrequentlyBoughtTogetherFeaturesConfig": {
      "properties": {
        "contextProductsType": {
          "enum": [
            "CONTEXT_PRODUCTS_TYPE_UNSPECIFIED",
            "SINGLE_CONTEXT_PRODUCT",
            "MULTIPLE_CONTEXT_PRODUCTS"
          ],
          "enumDescriptions": [
            "Unspecified default value, should never be explicitly set. Defaults to MULTIPLE_CONTEXT_PRODUCTS.",
            "Use only a single product as context for the recommendation. Typically used on pages like add-to-cart or product details.",
            "Use one or multiple products as context for the recommendation. Typically used on shopping cart pages."
          ],
          "description": "Optional. Specifies the context of the model when it is used in predict requests. Can only be set for the `frequently-bought-together` type. If it isn't specified, it defaults to MULTIPLE_CONTEXT_PRODUCTS.",
          "type": "string"
        }
      },
      "id": "GoogleCloudRetailV2alphaModelFrequentlyBoughtTogetherFeaturesConfig",
      "description": "Additional configs for the frequently-bought-together model type.",
      "type": "object"
    },
    "GoogleCloudRetailV2alphaExportProductsResponse": {
      "id": "GoogleCloudRetailV2alphaExportProductsResponse",
      "type": "object",
      "description": "Response of the ExportProductsRequest. If the long running operation is done, then this message is returned by the google.longrunning.Operations.response field if the operation was successful.",
      "properties": {
        "errorsConfig": {
          "description": "This field is never set.",
          "$ref": "GoogleCloudRetailV2alphaExportErrorsConfig"
        },
        "outputResult": {
          "$ref": "GoogleCloudRetailV2alphaOutputResult",
          "description": "Output result indicating where the data were exported to."
        },
        "errorSamples": {
          "type": "array",
          "items": {
            "$ref": "GoogleRpcStatus"
          },
          "description": "A sample of errors encountered while processing the request."
        }
      }
    },
    "GoogleCloudRetailV2alphaCatalogAttributeFacetConfigRerankConfig": {
      "type": "object",
      "description": "Options to rerank based on facet values engaged by the user for the current key. That key needs to be a custom textual key and facetable. To use this control, you also need to pass all the facet keys engaged by the user in the request using the field [SearchRequest.FacetSpec]. In particular, if you don't pass the facet keys engaged that you want to rerank on, this control won't be effective. Moreover, to obtain better results, the facet values that you want to rerank on should be close to English (ideally made of words, underscores, and spaces).",
      "properties": {
        "rerankFacet": {
          "description": "If set to true, then we also rerank the dynamic facets based on the facet values engaged by the user for the current attribute key during serving.",
          "type": "boolean"
        },
        "facetValues": {
          "description": "If empty, rerank on all facet values for the current key. Otherwise, will rerank on the facet values from this list only.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "id": "GoogleCloudRetailV2alphaCatalogAttributeFacetConfigRerankConfig"
    },
    "GoogleCloudRetailV2alphaCatalogAttributeFacetConfig": {
      "properties": {
        "ignoredFacetValues": {
          "items": {
            "$ref": "GoogleCloudRetailV2alphaCatalogAttributeFacetConfigIgnoredFacetValues"
          },
          "type": "array",
          "description": "Each instance represents a list of attribute values to ignore as facet values for a specific time range. The maximum number of instances per CatalogAttribute is 25."
        },
        "mergedFacetValues": {
          "description": "Each instance replaces a list of facet values by a merged facet value. If a facet value is not in any list, then it will stay the same. To avoid conflicts, only paths of length 1 are accepted. In other words, if \"dark_blue\" merged into \"BLUE\", then the latter can't merge into \"blues\" because this would create a path of length 2. The maximum number of instances of MergedFacetValue per CatalogAttribute is 100. This feature is available only for textual custom attributes.",
          "items": {
            "$ref": "GoogleCloudRetailV2alphaCatalogAttributeFacetConfigMergedFacetValue"
          },
          "type": "array"
        },
        "facetIntervals": {
          "description": "If you don't set the facet SearchRequest.FacetSpec.FacetKey.intervals in the request to a numerical attribute, then we use the computed intervals with rounded bounds obtained from all its product numerical attribute values. The computed intervals might not be ideal for some attributes. Therefore, we give you the option to overwrite them with the facet_intervals field. The maximum of facet intervals per CatalogAttribute is 40. Each interval must have a lower bound or an upper bound. If both bounds are provided, then the lower bound must be smaller or equal than the upper bound.",
          "items": {
            "$ref": "GoogleCloudRetailV2alphaInterval"
          },
          "type": "array"
        },
        "rerankConfig": {
          "$ref": "GoogleCloudRetailV2alphaCatalogAttributeFacetConfigRerankConfig",
          "description": "Set this field only if you want to rerank based on facet values engaged by the user for the current key. This option is only possible for custom facetable textual keys."
        },
        "mergedFacet": {
          "description": "Use this field only if you want to merge a facet key into another facet key.",
          "$ref": "GoogleCloudRetailV2alphaCatalogAttributeFacetConfigMergedFacet"
        }
      },
      "description": "Possible options for the facet that corresponds to the current attribute config.",
      "type": "object",
      "id": "GoogleCloudRetailV2alphaCatalogAttributeFacetConfig"
    },
    "GoogleCloudRetailV2betaImportErrorsConfig": {
      "properties": {
        "gcsPrefix": {
          "description": "Google Cloud Storage prefix for import errors. This must be an empty, existing Cloud Storage directory. Import errors are written to sharded files in this directory, one per line, as a JSON-encoded `google.rpc.Status` message.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudRetailV2betaImportErrorsConfig",
      "description": "Configuration of destination for Import related errors."
    },
    "GoogleCloudRetailV2alphaSearchRequestConversationalSearchSpecUserAnswer": {
      "properties": {
        "selectedAnswer": {
          "description": "This field specifies the selected attributes during the conversational search. This should be a subset of SearchResponse.ConversationalSearchResult.suggested_answers.",
          "$ref": "GoogleCloudRetailV2alphaSearchRequestConversationalSearchSpecUserAnswerSelectedAnswer"
        },
        "textAnswer": {
          "description": "This field specifies the incremental input text from the user during the conversational search.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "This field specifies the current user answer during the conversational search. This can be either user selected from suggested answers or user input plain text.",
      "id": "GoogleCloudRetailV2alphaSearchRequestConversationalSearchSpecUserAnswer"
    },
    "GoogleCloudRetailV2betaPurgeProductsResponse": {
      "id": "GoogleCloudRetailV2betaPurgeProductsResponse",
      "type": "object",
      "description": "Response of the PurgeProductsRequest. If the long running operation is successfully done, then this message is returned by the google.longrunning.Operations.response field.",
      "properties": {
        "purgeCount": {
          "description": "The total count of products purged as a result of the operation.",
          "type": "string",
          "format": "int64"
        },
        "purgeSample": {
          "description": "A sample of the product names that will be deleted. Only populated if `force` is set to false. A max of 100 names will be returned and the names are chosen at random.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "GoogleCloudRetailV2ImportUserEventsResponse": {
      "description": "Response of the ImportUserEventsRequest. If the long running operation was successful, then this message is returned by the google.longrunning.Operations.response field if the operation was successful.",
      "properties": {
        "errorSamples": {
          "items": {
            "$ref": "GoogleRpcStatus"
          },
          "description": "A sample of errors encountered while processing the request.",
          "type": "array"
        },
        "importSummary": {
          "description": "Aggregated statistics of user event import status.",
          "$ref": "GoogleCloudRetailV2UserEventImportSummary"
        },
        "errorsConfig": {
          "description": "Echoes the destination for the complete errors if this field was set in the request.",
          "$ref": "GoogleCloudRetailV2ImportErrorsConfig"
        }
      },
      "id": "GoogleCloudRetailV2ImportUserEventsResponse",
      "type": "object"
    },
    "GoogleCloudRetailV2alphaOutputConfigGcsDestination": {
      "description": "The Google Cloud Storage output destination configuration.",
      "id": "GoogleCloudRetailV2alphaOutputConfigGcsDestination",
      "properties": {
        "outputUriPrefix": {
          "description": "Required. The output uri prefix for saving output data to json files. Some mapping examples are as follows: output_uri_prefix sample output(assuming the object is foo.json) ======================== ============================================= gs://bucket/ gs://bucket/foo.json gs://bucket/folder/ gs://bucket/folder/foo.json gs://bucket/folder/item_ gs://bucket/folder/item_foo.json",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudRetailV2alphaConversationalSearchResponse": {
      "properties": {
        "followupQuestion": {
          "description": "The conversational followup question generated for Intent refinement.",
          "$ref": "GoogleCloudRetailV2alphaConversationalSearchResponseFollowupQuestion"
        },
        "userQueryTypes": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "The types Retail classifies the search query as. Supported values are: - \"ORDER_SUPPORT\" - \"SIMPLE_PRODUCT_SEARCH\" - \"INTENT_REFINEMENT\" - \"PRODUCT_DETAILS\" - \"PRODUCT_COMPARISON\" - \"DEALS_AND_COUPONS\" - \"STORE_RELEVANT\" - \"BLOCKLISTED\" - \"BEST_PRODUCT\" - \"RETAIL_SUPPORT\" - \"DISABLED\""
        },
        "conversationalFilteringResult": {
          "description": "This field specifies all related information that is needed on client side for UI rendering of conversational filtering search.",
          "$ref": "GoogleCloudRetailV2alphaConversationalSearchResponseConversationalFilteringResult"
        },
        "refinedSearch": {
          "description": "The proposed refined search queries. They can be used to fetch the relevant search results. When using CONVERSATIONAL_FILTER_ONLY mode, the refined_query from search response will be populated here.",
          "items": {
            "$ref": "GoogleCloudRetailV2alphaConversationalSearchResponseRefinedSearch"
          },
          "type": "array"
        },
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "STREAMING",
            "SUCCEEDED"
          ],
          "enumDescriptions": [
            "Unknown.",
            "Response generation is being streamed.",
            "Response generation has succeeded."
          ],
          "readOnly": true,
          "description": "Output only. The state of the response generation.",
          "type": "string"
        },
        "conversationalTextResponse": {
          "type": "string",
          "description": "The conversational answer-based text response generated by the Server."
        },
        "conversationId": {
          "description": "Conversation UUID. This field will be stored in client side storage to maintain the conversation session with server and will be used for next search request's ConversationalSearchRequest.conversation_id to restore conversation state in server.",
          "type": "string"
        }
      },
      "id": "GoogleCloudRetailV2alphaConversationalSearchResponse",
      "description": "Response message for ConversationalSearchService.ConversationalSearch method.",
      "type": "object"
    },
    "GoogleCloudRetailV2betaModelFrequentlyBoughtTogetherFeaturesConfig": {
      "description": "Additional configs for the frequently-bought-together model type.",
      "properties": {
        "contextProductsType": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified default value, should never be explicitly set. Defaults to MULTIPLE_CONTEXT_PRODUCTS.",
            "Use only a single product as context for the recommendation. Typically used on pages like add-to-cart or product details.",
            "Use one or multiple products as context for the recommendation. Typically used on shopping cart pages."
          ],
          "description": "Optional. Specifies the context of the model when it is used in predict requests. Can only be set for the `frequently-bought-together` type. If it isn't specified, it defaults to MULTIPLE_CONTEXT_PRODUCTS.",
          "enum": [
            "CONTEXT_PRODUCTS_TYPE_UNSPECIFIED",
            "SINGLE_CONTEXT_PRODUCT",
            "MULTIPLE_CONTEXT_PRODUCTS"
          ]
        }
      },
      "id": "GoogleCloudRetailV2betaModelFrequentlyBoughtTogetherFeaturesConfig",
      "type": "object"
    },
    "GoogleCloudRetailV2alphaSearchRequestPersonalizationSpec": {
      "id": "GoogleCloudRetailV2alphaSearchRequestPersonalizationSpec",
      "description": "The specification for personalization.",
      "properties": {
        "mode": {
          "enumDescriptions": [
            "Default value. In this case, server behavior defaults to Mode.AUTO.",
            "Let CRS decide whether to use personalization based on quality of user event data.",
            "Disable personalization."
          ],
          "description": "Defaults to Mode.AUTO.",
          "type": "string",
          "enum": [
            "MODE_UNSPECIFIED",
            "AUTO",
            "DISABLED"
          ]
        }
      },
      "type": "object"
    },
    "GoogleCloudRetailV2alphaSearchRequestTileNavigationSpec": {
      "type": "object",
      "description": "This field specifies tile navigation related parameters.",
      "properties": {
        "tileNavigationRequested": {
          "type": "boolean",
          "description": "This field specifies whether the customer would like to request tile navigation."
        },
        "appliedTiles": {
          "description": "This optional field specifies the tiles which are already clicked in client side. While the feature works without this field set, particularly for an initial query, it is highly recommended to set this field because it can improve the quality of the search response and removes possible duplicate tiles. NOTE: This field is not being used for filtering search products. Client side should also put all the applied tiles in SearchRequest.filter.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudRetailV2alphaTile"
          }
        }
      },
      "id": "GoogleCloudRetailV2alphaSearchRequestTileNavigationSpec"
    },
    "GoogleCloudRetailV2betaRejoinUserEventsResponse": {
      "type": "object",
      "properties": {
        "rejoinedUserEventsCount": {
          "description": "Number of user events that were joined with latest product catalog.",
          "type": "string",
          "format": "int64"
        }
      },
      "id": "GoogleCloudRetailV2betaRejoinUserEventsResponse",
      "description": "Response message for `RejoinUserEvents` method."
    },
    "GoogleCloudRetailV2alphaSearchRequestFacetSpecFacetKey": {
      "description": "Specifies how a facet is computed.",
      "type": "object",
      "properties": {
        "caseInsensitive": {
          "type": "boolean",
          "description": "True to make facet keys case insensitive when getting faceting values with prefixes or contains; false otherwise."
        },
        "returnMinMax": {
          "type": "boolean",
          "description": "Returns the min and max value for each numerical facet intervals. Ignored for textual facets."
        },
        "prefixes": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Only get facet values that start with the given string prefix. For example, suppose \"categories\" has three values \"Women > Shoe\", \"Women > Dress\" and \"Men > Shoe\". If set \"prefixes\" to \"Women\", the \"categories\" facet gives only \"Women > Shoe\" and \"Women > Dress\". Only supported on textual fields. Maximum is 10."
        },
        "intervals": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudRetailV2alphaInterval"
          },
          "description": "Set only if values should be bucketized into intervals. Must be set for facets with numerical values. Must not be set for facet with text values. Maximum number of intervals is 40. For all numerical facet keys that appear in the list of products from the catalog, the percentiles 0, 10, 30, 50, 70, 90, and 100 are computed from their distribution weekly. If the model assigns a high score to a numerical facet key and its intervals are not specified in the search request, these percentiles become the bounds for its intervals and are returned in the response. If the facet key intervals are specified in the request, then the specified intervals are returned instead."
        },
        "restrictedValues": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Only get facet for the given restricted values. For example, when using \"pickupInStore\" as key and set restricted values to [\"store123\", \"store456\"], only facets for \"store123\" and \"store456\" are returned. Only supported on predefined textual fields, custom textual attributes and fulfillments. Maximum is 20. Must be set for the fulfillment facet keys: * pickupInStore * shipToStore * sameDayDelivery * nextDayDelivery * customFulfillment1 * customFulfillment2 * customFulfillment3 * customFulfillment4 * customFulfillment5"
        },
        "contains": {
          "description": "Only get facet values that contains the given strings. For example, suppose \"categories\" has three values \"Women > Shoe\", \"Women > Dress\" and \"Men > Shoe\". If set \"contains\" to \"Shoe\", the \"categories\" facet gives only \"Women > Shoe\" and \"Men > Shoe\". Only supported on textual fields. Maximum is 10.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "query": {
          "type": "string",
          "description": "The query that is used to compute facet for the given facet key. When provided, it overrides the default behavior of facet computation. The query syntax is the same as a filter expression. See SearchRequest.filter for detail syntax and limitations. Notice that there is no limitation on FacetKey.key when query is specified. In the response, SearchResponse.Facet.values.value is always \"1\" and SearchResponse.Facet.values.count is the number of results that match the query. For example, you can set a customized facet for \"shipToStore\", where FacetKey.key is \"customizedShipToStore\", and FacetKey.query is \"availability: ANY(\\\"IN_STOCK\\\") AND shipToStore: ANY(\\\"123\\\")\". Then the facet counts the products that are both in stock and ship to store \"123\"."
        },
        "key": {
          "description": "Required. Supported textual and numerical facet keys in Product object, over which the facet values are computed. Facet key is case-sensitive. Allowed facet keys when FacetKey.query is not specified: * textual_field = * \"brands\" * \"categories\" * \"genders\" * \"ageGroups\" * \"availability\" * \"colorFamilies\" * \"colors\" * \"sizes\" * \"materials\" * \"patterns\" * \"conditions\" * \"attributes.key\" * \"pickupInStore\" * \"shipToStore\" * \"sameDayDelivery\" * \"nextDayDelivery\" * \"customFulfillment1\" * \"customFulfillment2\" * \"customFulfillment3\" * \"customFulfillment4\" * \"customFulfillment5\" * \"inventory(place_id,attributes.key)\" * numerical_field = * \"price\" * \"discount\" * \"rating\" * \"ratingCount\" * \"attributes.key\" * \"inventory(place_id,price)\" * \"inventory(place_id,original_price)\" * \"inventory(place_id,attributes.key)\"",
          "type": "string"
        },
        "orderBy": {
          "type": "string",
          "description": "The order in which SearchResponse.Facet.values are returned. Allowed values are: * \"count desc\", which means order by SearchResponse.Facet.values.count descending. * \"value desc\", which means order by SearchResponse.Facet.values.value descending. Only applies to textual facets. If not set, textual values are sorted in [natural order](https://en.wikipedia.org/wiki/Natural_sort_order); numerical intervals are sorted in the order given by FacetSpec.FacetKey.intervals; FulfillmentInfo.place_ids are sorted in the order given by FacetSpec.FacetKey.restricted_values."
        }
      },
      "id": "GoogleCloudRetailV2alphaSearchRequestFacetSpecFacetKey"
    },
    "GoogleCloudRetailV2alphaExperimentInfoServingConfigExperiment": {
      "description": "Metadata for active serving config A/B tests.",
      "properties": {
        "originalServingConfig": {
          "description": "The fully qualified resource name of the original SearchRequest.placement in the search request prior to reassignment by experiment API. For example: `projects/*/locations/*/catalogs/*/servingConfigs/*`.",
          "type": "string"
        },
        "experimentServingConfig": {
          "description": "The fully qualified resource name of the serving config `Experiment.VariantArm.serving_config_id` responsible for generating the search response. For example: `projects/*/locations/*/catalogs/*/servingConfigs/*`.",
          "type": "string"
        }
      },
      "id": "GoogleCloudRetailV2alphaExperimentInfoServingConfigExperiment",
      "type": "object"
    },
    "GoogleCloudRetailV2alphaListMerchantCenterAccountLinksResponse": {
      "description": "Response for MerchantCenterAccountLinkService.ListMerchantCenterAccountLinks method.",
      "type": "object",
      "id": "GoogleCloudRetailV2alphaListMerchantCenterAccountLinksResponse",
      "properties": {
        "merchantCenterAccountLinks": {
          "description": "The links.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudRetailV2alphaMerchantCenterAccountLink"
          }
        }
      }
    },
    "GoogleCloudRetailV2alphaDoubleList": {
      "properties": {
        "values": {
          "description": "The list of double values.",
          "items": {
            "type": "number",
            "format": "double"
          },
          "type": "array"
        }
      },
      "description": "A message with a list of double values.",
      "type": "object",
      "id": "GoogleCloudRetailV2alphaDoubleList"
    },
    "GoogleCloudRetailV2alphaModelPageOptimizationConfig": {
      "id": "GoogleCloudRetailV2alphaModelPageOptimizationConfig",
      "properties": {
        "restriction": {
          "description": "Optional. How to restrict results across panels e.g. can the same ServingConfig be shown on multiple panels at once. If unspecified, default to `UNIQUE_MODEL_RESTRICTION`.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified value for restriction.",
            "Allow any ServingConfig to be show on any number of panels. Example: `Panel1 candidates`: pdp_ctr, pdp_cvr, home_page_ctr_no_diversity `Panel2 candidates`: home_page_ctr_no_diversity, home_page_ctr_diversity, pdp_cvr_no_diversity `Restriction` = NO_RESTRICTION `Valid combinations`: * * (pdp_ctr, home_page_ctr_no_diversity) * (pdp_ctr, home_page_ctr_diversity) * (pdp_ctr, pdp_cvr_no_diversity) * (pdp_cvr, home_page_ctr_no_diversity) * (pdp_cvr, home_page_ctr_diversity) * (pdp_cvr, pdp_cvr_no_diversity) * (home_page_ctr_no_diversity, home_page_ctr_no_diversity) * (home_page_ctr_no_diversity, home_page_ctr_diversity) * (home_page_ctr_no_diversity, pdp_cvr_no_diversity) * `Invalid combinations`: []",
            "Do not allow the same ServingConfig.name to be shown on multiple panels. Example: `Panel1 candidates`: * pdp_ctr, pdp_cvr, home_page_ctr_no_diversity * `Panel2 candidates`: * home_page_ctr_no_diversity, home_page_ctr_diversity_low, pdp_cvr_no_diversity * `Restriction` = `UNIQUE_SERVING_CONFIG_RESTRICTION` `Valid combinations`: * * (pdp_ctr, home_page_ctr_no_diversity) * (pdp_ctr, home_page_ctr_diversity_low) * (pdp_ctr, pdp_cvr_no_diversity) * (pdp_ctr, pdp_cvr_no_diversity) * (pdp_cvr, home_page_ctr_no_diversity) * (pdp_cvr, home_page_ctr_diversity_low) * (pdp_cvr, pdp_cvr_no_diversity) * (home_page_ctr_no_diversity, home_page_ctr_diversity_low) * (home_page_ctr_no_diversity, pdp_cvr_no_diversity) * `Invalid combinations`: * * (home_page_ctr_no_diversity, home_page_ctr_no_diversity) *",
            "Do not allow multiple ServingConfigs with same Model.name to be show on on different panels. Example: `Panel1 candidates`: * pdp_ctr, pdp_cvr, home_page_ctr_no_diversity * `Panel2 candidates`: * home_page_ctr_no_diversity, home_page_ctr_diversity_low, pdp_cvr_no_diversity * `Restriction` = `UNIQUE_MODEL_RESTRICTION` `Valid combinations`: * * (pdp_ctr, home_page_ctr_no_diversity) * (pdp_ctr, home_page_ctr_diversity) * (pdp_ctr, pdp_cvr_no_diversity) * (pdp_ctr, pdp_cvr_no_diversity) * (pdp_cvr, home_page_ctr_no_diversity) * (pdp_cvr, home_page_ctr_diversity_low) * (home_page_ctr_no_diversity, pdp_cvr_no_diversity) * `Invalid combinations`: * * (home_page_ctr_no_diversity, home_page_ctr_no_diversity) * (pdp_cvr, pdp_cvr_no_diversity) *",
            "Do not allow multiple ServingConfigs with same Model.type to be shown on different panels. Example: `Panel1 candidates`: * pdp_ctr, pdp_cvr, home_page_ctr_no_diversity * `Panel2 candidates`: * home_page_ctr_no_diversity, home_page_ctr_diversity_low, pdp_cvr_no_diversity * `Restriction` = `UNIQUE_MODEL_RESTRICTION` `Valid combinations`: * * (pdp_ctr, home_page_ctr_no_diversity) * (pdp_ctr, home_page_ctr_diversity) * (pdp_cvr, home_page_ctr_no_diversity) * (pdp_cvr, home_page_ctr_diversity_low) * (home_page_ctr_no_diversity, pdp_cvr_no_diversity) * `Invalid combinations`: * * (pdp_ctr, pdp_cvr_no_diversity) * (pdp_ctr, pdp_cvr_no_diversity) * (pdp_cvr, pdp_cvr_no_diversity) * (home_page_ctr_no_diversity, home_page_ctr_no_diversity) * (home_page_ctr_no_diversity, home_page_ctr_diversity) *"
          ],
          "enum": [
            "RESTRICTION_UNSPECIFIED",
            "NO_RESTRICTION",
            "UNIQUE_SERVING_CONFIG_RESTRICTION",
            "UNIQUE_MODEL_RESTRICTION",
            "UNIQUE_MODEL_TYPE_RESTRICTION"
          ]
        },
        "panels": {
          "items": {
            "$ref": "GoogleCloudRetailV2alphaModelPageOptimizationConfigPanel"
          },
          "type": "array",
          "description": "Required. A list of panel configurations. Limit = 5."
        },
        "pageOptimizationEventType": {
          "type": "string",
[...]
