{
  "title": "AI Commerce Search API",
  "kind": "discovery#restDescription",
  "protocol": "rest",
  "version": "v2beta",
  "discoveryVersion": "v1",
  "resources": {
    "projects": {
      "methods": {
        "updateAlertConfig": {
          "path": "v2beta/{+name}",
          "id": "retail.projects.updateAlertConfig",
          "httpMethod": "PATCH",
          "request": {
            "$ref": "GoogleCloudRetailV2betaAlertConfig"
          },
          "parameterOrder": [
            "name"
          ],
          "flatPath": "v2beta/projects/{projectsId}/alertConfig",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "response": {
            "$ref": "GoogleCloudRetailV2betaAlertConfig"
          },
          "description": "Update the alert config of the requested project.",
          "parameters": {
            "updateMask": {
              "location": "query",
              "description": "Indicates which fields in the provided AlertConfig to update. If not set, all supported fields are updated.",
              "type": "string",
              "format": "google-fieldmask"
            },
            "name": {
              "type": "string",
              "location": "path",
              "required": true,
              "description": "Required. Immutable. The name of the AlertConfig singleton resource. Format: projects/*/alertConfig",
              "pattern": "^projects/[^/]+/alertConfig$"
            }
          }
        },
        "getAlertConfig": {
          "parameterOrder": [
            "name"
          ],
          "description": "Get the AlertConfig of the requested project.",
          "id": "retail.projects.getAlertConfig",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "httpMethod": "GET",
          "response": {
            "$ref": "GoogleCloudRetailV2betaAlertConfig"
          },
          "flatPath": "v2beta/projects/{projectsId}/alertConfig",
          "path": "v2beta/{+name}",
          "parameters": {
            "name": {
              "location": "path",
              "required": true,
              "pattern": "^projects/[^/]+/alertConfig$",
              "type": "string",
              "description": "Required. Full AlertConfig resource name. Format: projects/{project_number}/alertConfig"
            }
          }
        }
      },
      "resources": {
        "operations": {
          "methods": {
            "list": {
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v2beta/projects/{projectsId}/operations",
              "response": {
                "$ref": "GoogleLongrunningListOperationsResponse"
              },
              "parameters": {
                "filter": {
                  "description": "The standard list filter.",
                  "location": "query",
                  "type": "string"
                },
                "pageToken": {
                  "type": "string",
                  "location": "query",
                  "description": "The standard list page token."
                },
                "pageSize": {
                  "format": "int32",
                  "location": "query",
                  "type": "integer",
                  "description": "The standard list page size."
                },
                "returnPartialSuccess": {
                  "description": "When set to `true`, operations that are reachable are returned as normal, and those that are unreachable are returned in the ListOperationsResponse.unreachable field. This can only be `true` when reading across collections. For example, when `parent` is set to `\"projects/example/locations/-\"`. This field is not supported by default and will result in an `UNIMPLEMENTED` error if set unless explicitly documented otherwise in service or product specific documentation.",
                  "location": "query",
                  "type": "boolean"
                },
                "name": {
                  "pattern": "^projects/[^/]+$",
                  "location": "path",
                  "required": true,
                  "description": "The name of the operation's parent resource.",
                  "type": "string"
                }
              },
              "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "GET",
              "id": "retail.projects.operations.list",
              "path": "v2beta/{+name}/operations"
            },
            "get": {
              "path": "v2beta/{+name}",
              "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
              "flatPath": "v2beta/projects/{projectsId}/operations/{operationsId}",
              "response": {
                "$ref": "GoogleLongrunningOperation"
              },
              "parameters": {
                "name": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "pattern": "^projects/[^/]+/operations/[^/]+$",
                  "description": "The name of the operation resource."
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "GET",
              "parameterOrder": [
                "name"
              ],
              "id": "retail.projects.operations.get"
            }
          }
        },
        "locations": {
          "resources": {
            "catalogs": {
              "resources": {
                "servingConfigs": {
                  "methods": {
                    "predict": {
                      "id": "retail.projects.locations.catalogs.servingConfigs.predict",
                      "parameterOrder": [
                        "placement"
                      ],
                      "description": "Makes a recommendation prediction.",
                      "httpMethod": "POST",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "response": {
                        "$ref": "GoogleCloudRetailV2betaPredictResponse"
                      },
                      "parameters": {
                        "placement": {
                          "location": "path",
                          "required": true,
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/catalogs/[^/]+/servingConfigs/[^/]+$",
                          "description": "Required. Full resource name of the format: `{placement=projects/*/locations/global/catalogs/default_catalog/servingConfigs/*}` or `{placement=projects/*/locations/global/catalogs/default_catalog/placements/*}`. We recommend using the `servingConfigs` resource. `placements` is a legacy resource. The ID of the Recommendations AI serving config or placement. Before you can request predictions from your model, you must create at least one serving config or placement for it. For more information, see [Manage serving configs] (https://cloud.google.com/retail/docs/manage-configs). The full list of available serving configs can be seen at https://console.cloud.google.com/ai/retail/catalogs/default_catalog/configs"
                        }
                      },
                      "flatPath": "v2beta/projects/{projectsId}/locations/{locationsId}/catalogs/{catalogsId}/servingConfigs/{servingConfigsId}:predict",
                      "path": "v2beta/{+placement}:predict",
                      "request": {
                        "$ref": "GoogleCloudRetailV2betaPredictRequest"
                      }
                    },
                    "list": {
                      "description": "Lists all ServingConfigs linked to this catalog.",
                      "parameterOrder": [
                        "parent"
                      ],
                      "path": "v2beta/{+parent}/servingConfigs",
                      "httpMethod": "GET",
                      "id": "retail.projects.locations.catalogs.servingConfigs.list",
                      "parameters": {
                        "pageSize": {
                          "description": "Optional. Maximum number of results to return. If unspecified, defaults to 100. If a value greater than 100 is provided, at most 100 results are returned.",
                          "format": "int32",
                          "location": "query",
                          "type": "integer"
                        },
                        "parent": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/catalogs/[^/]+$",
                          "type": "string",
                          "description": "Required. The catalog resource name. Format: `projects/{project_number}/locations/{location_id}/catalogs/{catalog_id}`",
                          "location": "path",
                          "required": true
                        },
                        "pageToken": {
                          "location": "query",
                          "description": "Optional. A page token, received from a previous `ListServingConfigs` call. Provide this to retrieve the subsequent page.",
                          "type": "string"
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "response": {
                        "$ref": "GoogleCloudRetailV2betaListServingConfigsResponse"
                      },
                      "flatPath": "v2beta/projects/{projectsId}/locations/{locationsId}/catalogs/{catalogsId}/servingConfigs"
                    },
                    "patch": {
                      "description": "Updates a ServingConfig.",
                      "parameterOrder": [
                        "name"
                      ],
                      "path": "v2beta/{+name}",
                      "parameters": {
                        "name": {
                          "description": "Immutable. Fully qualified name `projects/*/locations/global/catalogs/*/servingConfig/*`",
                          "location": "path",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/catalogs/[^/]+/servingConfigs/[^/]+$",
                          "type": "string"
                        },
                        "updateMask": {
                          "format": "google-fieldmask",
                          "description": "Indicates which fields in the provided ServingConfig to update. The following are NOT supported: * ServingConfig.name If not set, all supported fields are updated.",
                          "location": "query",
                          "type": "string"
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "response": {
                        "$ref": "GoogleCloudRetailV2betaServingConfig"
                      },
                      "flatPath": "v2beta/projects/{projectsId}/locations/{locationsId}/catalogs/{catalogsId}/servingConfigs/{servingConfigsId}",
                      "httpMethod": "PATCH",
                      "id": "retail.projects.locations.catalogs.servingConfigs.patch",
                      "request": {
                        "$ref": "GoogleCloudRetailV2betaServingConfig"
                      }
                    },
                    "get": {
                      "flatPath": "v2beta/projects/{projectsId}/locations/{locationsId}/catalogs/{catalogsId}/servingConfigs/{servingConfigsId}",
                      "response": {
                        "$ref": "GoogleCloudRetailV2betaServingConfig"
                      },
                      "description": "Gets a ServingConfig. Returns a NotFound error if the ServingConfig does not exist.",
                      "parameters": {
                        "name": {
                          "description": "Required. The resource name of the ServingConfig to get. Format: `projects/{project_number}/locations/{location_id}/catalogs/{catalog_id}/servingConfigs/{serving_config_id}`",
                          "pattern": "^projects/[^/]+/locations/[^/]+/catalogs/[^/]+/servingConfigs/[^/]+$",
                          "location": "path",
                          "required": true,
                          "type": "string"
                        }
                      },
                      "path": "v2beta/{+name}",
                      "parameterOrder": [
                        "name"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "id": "retail.projects.locations.catalogs.servingConfigs.get",
                      "httpMethod": "GET"
                    },
                    "search": {
                      "parameters": {
                        "placement": {
                          "description": "Required. The resource name of the Retail Search serving config, such as `projects/*/locations/global/catalogs/default_catalog/servingConfigs/default_serving_config` or the name of the legacy placement resource, such as `projects/*/locations/global/catalogs/default_catalog/placements/default_search`. This field is used to identify the serving config name and the set of models that are used to make the search.",
                          "type": "string",
                          "location": "path",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/catalogs/[^/]+/servingConfigs/[^/]+$"
                        }
                      },
                      "request": {
                        "$ref": "GoogleCloudRetailV2betaSearchRequest"
                      },
                      "flatPath": "v2beta/projects/{projectsId}/locations/{locationsId}/catalogs/{catalogsId}/servingConfigs/{servingConfigsId}:search",
                      "response": {
                        "$ref": "GoogleCloudRetailV2betaSearchResponse"
                      },
                      "path": "v2beta/{+placement}:search",
                      "id": "retail.projects.locations.catalogs.servingConfigs.search",
                      "description": "Performs a search. This feature is only available for users who have Retail Search enabled. Enable Retail Search on Cloud Console before using this feature.",
                      "httpMethod": "POST",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameterOrder": [
                        "placement"
                      ]
                    },
                    "conversationalSearch": {
                      "id": "retail.projects.locations.catalogs.servingConfigs.conversationalSearch",
                      "parameterOrder": [
                        "placement"
                      ],
                      "parameters": {
                        "placement": {
                          "description": "Required. The resource name of the search engine placement, such as `projects/*/locations/global/catalogs/default_catalog/placements/default_search` or `projects/*/locations/global/catalogs/default_catalog/servingConfigs/default_serving_config` This field is used to identify the serving config name and the set of models that will be used to make the search.",
                          "pattern": "^projects/[^/]+/locations/[^/]+/catalogs/[^/]+/servingConfigs/[^/]+$",
                          "type": "string",
                          "location": "path",
                          "required": true
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "path": "v2beta/{+placement}:conversationalSearch",
                      "description": "Performs a conversational search. This feature is only available for users who have Conversational Search enabled.",
                      "request": {
                        "$ref": "GoogleCloudRetailV2betaConversationalSearchRequest"
                      },
                      "httpMethod": "POST",
                      "flatPath": "v2beta/projects/{projectsId}/locations/{locationsId}/catalogs/{catalogsId}/servingConfigs/{servingConfigsId}:conversationalSearch",
                      "response": {
                        "$ref": "GoogleCloudRetailV2betaConversationalSearchResponse"
                      }
                    },
                    "removeControl": {
                      "httpMethod": "POST",
                      "path": "v2beta/{+servingConfig}:removeControl",
                      "description": "Disables a Control on the specified ServingConfig. The control is removed from the ServingConfig. Returns a NOT_FOUND error if the Control is not enabled for the ServingConfig.",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "id": "retail.projects.locations.catalogs.servingConfigs.removeControl",
                      "parameterOrder": [
                        "servingConfig"
                      ],
                      "parameters": {
                        "servingConfig": {
                          "location": "path",
                          "required": true,
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/catalogs/[^/]+/servingConfigs/[^/]+$",
                          "description": "Required. The source ServingConfig resource name . Format: `projects/{project_number}/locations/{location_id}/catalogs/{catalog_id}/servingConfigs/{serving_config_id}`"
                        }
                      },
                      "response": {
                        "$ref": "GoogleCloudRetailV2betaServingConfig"
                      },
                      "flatPath": "v2beta/projects/{projectsId}/locations/{locationsId}/catalogs/{catalogsId}/servingConfigs/{servingConfigsId}:removeControl",
                      "request": {
                        "$ref": "GoogleCloudRetailV2betaRemoveControlRequest"
                      }
                    },
                    "delete": {
                      "parameterOrder": [
                        "name"
                      ],
                      "id": "retail.projects.locations.catalogs.servingConfigs.delete",
                      "path": "v2beta/{+name}",
                      "parameters": {
                        "name": {
                          "location": "path",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/catalogs/[^/]+/servingConfigs/[^/]+$",
                          "type": "string",
                          "description": "Required. The resource name of the ServingConfig to delete. Format: `projects/{project_number}/locations/{location_id}/catalogs/{catalog_id}/servingConfigs/{serving_config_id}`"
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "flatPath": "v2beta/projects/{projectsId}/locations/{locationsId}/catalogs/{catalogsId}/servingConfigs/{servingConfigsId}",
                      "response": {
                        "$ref": "GoogleProtobufEmpty"
                      },
                      "httpMethod": "DELETE",
                      "description": "Deletes a ServingConfig. Returns a NotFound error if the ServingConfig does not exist."
                    },
                    "create": {
                      "path": "v2beta/{+parent}/servingConfigs",
                      "httpMethod": "POST",
                      "parameterOrder": [
                        "parent"
                      ],
                      "request": {
                        "$ref": "GoogleCloudRetailV2betaServingConfig"
                      },
                      "flatPath": "v2beta/projects/{projectsId}/locations/{locationsId}/catalogs/{catalogsId}/servingConfigs",
                      "description": "Creates a ServingConfig. A maximum of 100 ServingConfigs are allowed in a Catalog, otherwise a FAILED_PRECONDITION error is returned.",
                      "response": {
                        "$ref": "GoogleCloudRetailV2betaServingConfig"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameters": {
                        "servingConfigId": {
                          "location": "query",
                          "description": "Required. The ID to use for the ServingConfig, which will become the final component of the ServingConfig's resource name. This value should be 4-63 characters, and valid characters are /a-z-_/.",
                          "type": "string"
                        },
                        "parent": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/catalogs/[^/]+$",
                          "type": "string",
                          "description": "Required. Full resource name of parent. Format: `projects/{project_number}/locations/{location_id}/catalogs/{catalog_id}`",
                          "location": "path",
                          "required": true
                        }
                      },
                      "id": "retail.projects.locations.catalogs.servingConfigs.create"
                    },
                    "addControl": {
                      "parameterOrder": [
                        "servingConfig"
                      ],
                      "parameters": {
                        "servingConfig": {
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/catalogs/[^/]+/servingConfigs/[^/]+$",
                          "description": "Required. The source ServingConfig resource name . Format: `projects/{project_number}/locations/{location_id}/catalogs/{catalog_id}/servingConfigs/{serving_config_id}`",
                          "location": "path",
                          "required": true
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "httpMethod": "POST",
                      "request": {
                        "$ref": "GoogleCloudRetailV2betaAddControlRequest"
                      },
                      "flatPath": "v2beta/projects/{projectsId}/locations/{locationsId}/catalogs/{catalogsId}/servingConfigs/{servingConfigsId}:addControl",
                      "description": "Enables a Control on the specified ServingConfig. The control is added in the last position of the list of controls it belongs to (e.g. if it's a facet spec control it will be applied in the last position of servingConfig.facetSpecIds) Returns a ALREADY_EXISTS error if the control has already been applied. Returns a FAILED_PRECONDITION error if the addition could exceed maximum number of control allowed for that type of control.",
                      "response": {
                        "$ref": "GoogleCloudRetailV2betaServingConfig"
                      },
                      "path": "v2beta/{+servingConfig}:addControl",
                      "id": "retail.projects.locations.catalogs.servingConfigs.addControl"
                    }
                  }
                },
                "models": {
                  "methods": {
                    "pause": {
                      "response": {
                        "$ref": "GoogleCloudRetailV2betaModel"
                      },
                      "id": "retail.projects.locations.catalogs.models.pause",
                      "flatPath": "v2beta/projects/{projectsId}/locations/{locationsId}/catalogs/{catalogsId}/models/{modelsId}:pause",
                      "parameters": {
                        "name": {
                          "location": "path",
                          "required": true,
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/catalogs/[^/]+/models/[^/]+$",
                          "description": "Required. The name of the model to pause. Format: `projects/{project_number}/locations/{location_id}/catalogs/{catalog_id}/models/{model_id}`"
                        }
                      },
                      "request": {
                        "$ref": "GoogleCloudRetailV2betaPauseModelRequest"
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "httpMethod": "POST",
                      "description": "Pauses the training of an existing model.",
                      "path": "v2beta/{+name}:pause"
                    },
                    "resume": {
                      "request": {
                        "$ref": "GoogleCloudRetailV2betaResumeModelRequest"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameters": {
                        "name": {
                          "type": "string",
                          "location": "path",
                          "required": true,
                          "description": "Required. The name of the model to resume. Format: `projects/{project_number}/locations/{location_id}/catalogs/{catalog_id}/models/{model_id}`",
                          "pattern": "^projects/[^/]+/locations/[^/]+/catalogs/[^/]+/models/[^/]+$"
                        }
                      },
                      "id": "retail.projects.locations.catalogs.models.resume",
                      "httpMethod": "POST",
                      "path": "v2beta/{+name}:resume",
                      "response": {
                        "$ref": "GoogleCloudRetailV2betaModel"
                      },
                      "description": "Resumes the training of an existing model.",
                      "parameterOrder": [
                        "name"
                      ],
                      "flatPath": "v2beta/projects/{projectsId}/locations/{locationsId}/catalogs/{catalogsId}/models/{modelsId}:resume"
                    },
                    "delete": {
                      "httpMethod": "DELETE",
                      "id": "retail.projects.locations.catalogs.models.delete",
                      "flatPath": "v2beta/projects/{projectsId}/locations/{locationsId}/catalogs/{catalogsId}/models/{modelsId}",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "response": {
                        "$ref": "GoogleProtobufEmpty"
                      },
                      "description": "Deletes an existing model.",
                      "parameters": {
                        "name": {
                          "type": "string",
                          "location": "path",
                          "required": true,
                          "description": "Required. The resource name of the Model to delete. Format: `projects/{project_number}/locations/{location_id}/catalogs/{catalog_id}/models/{model_id}`",
                          "pattern": "^projects/[^/]+/locations/[^/]+/catalogs/[^/]+/models/[^/]+$"
                        }
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "path": "v2beta/{+name}"
                    },
                    "get": {
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "httpMethod": "GET",
                      "id": "retail.projects.locations.catalogs.models.get",
                      "response": {
                        "$ref": "GoogleCloudRetailV2betaModel"
                      },
                      "flatPath": "v2beta/projects/{projectsId}/locations/{locationsId}/catalogs/{catalogsId}/models/{modelsId}",
                      "parameterOrder": [
                        "name"
                      ],
                      "description": "Gets a model.",
                      "path": "v2beta/{+name}",
                      "parameters": {
                        "name": {
                          "description": "Required. The resource name of the Model to get. Format: `projects/{project_number}/locations/{location_id}/catalogs/{catalog}/models/{model_id}`",
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/catalogs/[^/]+/models/[^/]+$",
                          "location": "path",
                          "required": true
                        }
                      }
                    },
                    "patch": {
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameterOrder": [
                        "name"
                      ],
                      "description": "Update of model metadata. Only fields that currently can be updated are: `filtering_option` and `periodic_tuning_state`. If other values are provided, this API method ignores them.",
                      "request": {
                        "$ref": "GoogleCloudRetailV2betaModel"
                      },
                      "id": "retail.projects.locations.catalogs.models.patch",
                      "path": "v2beta/{+name}",
                      "parameters": {
                        "name": {
                          "location": "path",
                          "required": true,
                          "description": "Required. The fully qualified resource name of the model. Format: `projects/{project_number}/locations/{location_id}/catalogs/{catalog_id}/models/{model_id}` catalog_id has char limit of 50. recommendation_model_id has char limit of 40.",
                          "pattern": "^projects/[^/]+/locations/[^/]+/catalogs/[^/]+/models/[^/]+$",
                          "type": "string"
                        },
                        "updateMask": {
                          "location": "query",
                          "type": "string",
                          "description": "Optional. Indicates which fields in the provided 'model' to update. If not set, by default updates all fields.",
                          "format": "google-fieldmask"
                        }
                      },
                      "httpMethod": "PATCH",
                      "flatPath": "v2beta/projects/{projectsId}/locations/{locationsId}/catalogs/{catalogsId}/models/{modelsId}",
                      "response": {
                        "$ref": "GoogleCloudRetailV2betaModel"
                      }
                    },
                    "create": {
                      "request": {
                        "$ref": "GoogleCloudRetailV2betaModel"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameters": {
                        "dryRun": {
                          "type": "boolean",
                          "description": "Optional. Whether to run a dry run to validate the request (without actually creating the model).",
                          "location": "query"
                        },
                        "parent": {
                          "description": "Required. The parent resource under which to create the model. Format: `projects/{project_number}/locations/{location_id}/catalogs/{catalog_id}`",
                          "location": "path",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/catalogs/[^/]+$",
                          "type": "string"
                        }
                      },
                      "path": "v2beta/{+parent}/models",
                      "parameterOrder": [
                        "parent"
                      ],
                      "flatPath": "v2beta/projects/{projectsId}/locations/{locationsId}/catalogs/{catalogsId}/models",
                      "response": {
                        "$ref": "GoogleLongrunningOperation"
                      },
                      "description": "Creates a new model.",
                      "id": "retail.projects.locations.catalogs.models.create",
                      "httpMethod": "POST"
                    },
                    "list": {
                      "description": "Lists all the models linked to this event store.",
                      "id": "retail.projects.locations.catalogs.models.list",
                      "parameters": {
                        "pageSize": {
                          "type": "integer",
                          "format": "int32",
                          "description": "Optional. Maximum number of results to return. If unspecified, defaults to 50. Max allowed value is 1000.",
                          "location": "query"
                        },
                        "pageToken": {
                          "type": "string",
                          "description": "Optional. A page token, received from a previous `ListModels` call. Provide this to retrieve the subsequent page.",
                          "location": "query"
                        },
                        "parent": {
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/catalogs/[^/]+$",
                          "description": "Required. The parent for which to list models. Format: `projects/{project_number}/locations/{location_id}/catalogs/{catalog_id}`",
                          "location": "path",
                          "required": true
                        }
                      },
                      "response": {
                        "$ref": "GoogleCloudRetailV2betaListModelsResponse"
                      },
                      "flatPath": "v2beta/projects/{projectsId}/locations/{locationsId}/catalogs/{catalogsId}/models",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "httpMethod": "GET",
                      "path": "v2beta/{+parent}/models",
                      "parameterOrder": [
                        "parent"
                      ]
                    },
                    "tune": {
                      "parameters": {
                        "name": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/catalogs/[^/]+/models/[^/]+$",
                          "description": "Required. The resource name of the model to tune. Format: `projects/{project_number}/locations/{location_id}/catalogs/{catalog_id}/models/{model_id}`",
                          "location": "path",
                          "required": true,
                          "type": "string"
                        }
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "request": {
                        "$ref": "GoogleCloudRetailV2betaTuneModelRequest"
                      },
                      "description": "Tunes an existing model.",
                      "id": "retail.projects.locations.catalogs.models.tune",
                      "path": "v2beta/{+name}:tune",
                      "flatPath": "v2beta/projects/{projectsId}/locations/{locationsId}/catalogs/{catalogsId}/models/{modelsId}:tune",
                      "response": {
                        "$ref": "GoogleLongrunningOperation"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "httpMethod": "POST"
                    }
                  }
                },
                "branches": {
                  "resources": {
                    "products": {
                      "methods": {
                        "purge": {
                          "id": "retail.projects.locations.catalogs.branches.products.purge",
                          "request": {
                            "$ref": "GoogleCloudRetailV2betaPurgeProductsRequest"
                          },
                          "parameterOrder": [
                            "parent"
                          ],
                          "httpMethod": "POST",
                          "parameters": {
                            "parent": {
                              "description": "Required. The resource name of the branch under which the products are created. The format is `projects/${projectId}/locations/global/catalogs/${catalogId}/branches/${branchId}`",
                              "location": "path",
                              "required": true,
                              "type": "string",
                              "pattern": "^projects/[^/]+/locations/[^/]+/catalogs/[^/]+/branches/[^/]+$"
                            }
                          },
                          "description": "Permanently deletes all selected Products under a branch. This process is asynchronous. If the request is valid, the removal will be enqueued and processed offline. Depending on the number of Products, this operation could take hours to complete. Before the operation completes, some Products may still be returned by ProductService.GetProduct or ProductService.ListProducts. Depending on the number of Products, this operation could take hours to complete. To get a sample of Products that would be deleted, set PurgeProductsRequest.force to false.",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "path": "v2beta/{+parent}/products:purge",
                          "response": {
                            "$ref": "GoogleLongrunningOperation"
                          },
                          "flatPath": "v2beta/projects/{projectsId}/locations/{locationsId}/catalogs/{catalogsId}/branches/{branchesId}/products:purge"
                        },
                        "addLocalInventories": {
                          "parameterOrder": [
                            "product"
                          ],
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "request": {
                            "$ref": "GoogleCloudRetailV2betaAddLocalInventoriesRequest"
                          },
                          "description": "Updates local inventory information for a Product at a list of places, while respecting the last update timestamps of each inventory field. This process is asynchronous and does not require the Product to exist before updating inventory information. If the request is valid, the update will be enqueued and processed downstream. As a consequence, when a response is returned, updates are not immediately manifested in the Product queried by ProductService.GetProduct or ProductService.ListProducts. Local inventory information can only be modified using this method. ProductService.CreateProduct and ProductService.UpdateProduct has no effect on local inventories. The returned Operations will be obsolete after 1 day, and GetOperation API will return NOT_FOUND afterwards. If conflicting updates are issued, the Operations associated with the stale updates will not be marked as done until being obsolete.",
                          "path": "v2beta/{+product}:addLocalInventories",
                          "parameters": {
                            "product": {
                              "description": "Required. Full resource name of Product, such as `projects/*/locations/global/catalogs/default_catalog/branches/default_branch/products/some_product_id`. If the caller does not have permission to access the Product, regardless of whether or not it exists, a PERMISSION_DENIED error is returned.",
                              "location": "path",
                              "required": true,
                              "type": "string",
                              "pattern": "^projects/[^/]+/locations/[^/]+/catalogs/[^/]+/branches/[^/]+/products/.*$"
                            }
                          },
                          "id": "retail.projects.locations.catalogs.branches.products.addLocalInventories",
                          "httpMethod": "POST",
                          "flatPath": "v2beta/projects/{projectsId}/locations/{locationsId}/catalogs/{catalogsId}/branches/{branchesId}/products/{productsId}:addLocalInventories",
                          "response": {
                            "$ref": "GoogleLongrunningOperation"
                          }
                        },
                        "get": {
                          "id": "retail.projects.locations.catalogs.branches.products.get",
                          "description": "Gets a Product.",
                          "httpMethod": "GET",
                          "parameters": {
                            "name": {
                              "description": "Required. Full resource name of Product, such as `projects/*/locations/global/catalogs/default_catalog/branches/default_branch/products/some_product_id`. If the caller does not have permission to access the Product, regardless of whether or not it exists, a PERMISSION_DENIED error is returned. If the requested Product does not exist, a NOT_FOUND error is returned.",
                              "pattern": "^projects/[^/]+/locations/[^/]+/catalogs/[^/]+/branches/[^/]+/products/.*$",
                              "type": "string",
                              "location": "path",
                              "required": true
                            }
                          },
                          "flatPath": "v2beta/projects/{projectsId}/locations/{locationsId}/catalogs/{catalogsId}/branches/{branchesId}/products/{productsId}",
                          "parameterOrder": [
                            "name"
                          ],
                          "response": {
                            "$ref": "GoogleCloudRetailV2betaProduct"
                          },
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "path": "v2beta/{+name}"
                        },
                        "list": {
                          "parameters": {
                            "readMask": {
                              "description": "The fields of Product to return in the responses. If not set or empty, the following fields are returned: * Product.name * Product.id * Product.title * Product.uri * Product.images * Product.price_info * Product.brands If \"*\" is provided, all fields are returned. Product.name is always returned no matter what mask is set. If an unsupported or unknown field is provided, an INVALID_ARGUMENT error is returned.",
                              "type": "string",
                              "location": "query",
                              "format": "google-fieldmask"
                            },
                            "parent": {
                              "description": "Required. The parent branch resource name, such as `projects/*/locations/global/catalogs/default_catalog/branches/0`. Use `default_branch` as the branch ID, to list products under the default branch. If the caller does not have permission to list Products under this branch, regardless of whether or not this branch exists, a PERMISSION_DENIED error is returned.",
                              "location": "path",
                              "required": true,
                              "type": "string",
                              "pattern": "^projects/[^/]+/locations/[^/]+/catalogs/[^/]+/branches/[^/]+$"
                            },
                            "pageToken": {
                              "location": "query",
                              "type": "string",
                              "description": "A page token ListProductsResponse.next_page_token, received from a previous ProductService.ListProducts call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to ProductService.ListProducts must match the call that provided the page token. Otherwise, an INVALID_ARGUMENT error is returned."
                            },
                            "pageSize": {
                              "format": "int32",
                              "location": "query",
                              "description": "Maximum number of Products to return. If unspecified, defaults to 100. The maximum allowed value is 1000. Values above 1000 will be coerced to 1000. If this field is negative, an INVALID_ARGUMENT error is returned.",
                              "type": "integer"
                            },
                            "filter": {
                              "type": "string",
                              "location": "query",
                              "description": "A filter to apply on the list results. Supported features: * List all the products under the parent branch if filter is unset. * List Product.Type.VARIANT Products sharing the same Product.Type.PRIMARY Product. For example: `primary_product_id = \"some_product_id\"` * List Products bundled in a Product.Type.COLLECTION Product. For example: `collection_product_id = \"some_product_id\"` * List Products with a partibular type. For example: `type = \"PRIMARY\"` `type = \"VARIANT\"` `type = \"COLLECTION\"` If the field is unrecognizable, an INVALID_ARGUMENT error is returned. If the specified Product.Type.PRIMARY Product or Product.Type.COLLECTION Product does not exist, a NOT_FOUND error is returned."
                            }
                          },
                          "id": "retail.projects.locations.catalogs.branches.products.list",
                          "parameterOrder": [
                            "parent"
                          ],
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "description": "Gets a list of Products.",
                          "flatPath": "v2beta/projects/{projectsId}/locations/{locationsId}/catalogs/{catalogsId}/branches/{branchesId}/products",
                          "response": {
                            "$ref": "GoogleCloudRetailV2betaListProductsResponse"
                          },
                          "path": "v2beta/{+parent}/products",
                          "httpMethod": "GET"
                        },
                        "export": {
                          "request": {
                            "$ref": "GoogleCloudRetailV2betaExportProductsRequest"
                          },
                          "description": "Exports multiple Products.",
                          "httpMethod": "POST",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "parameters": {
                            "parent": {
                              "location": "path",
                              "required": true,
                              "type": "string",
                              "description": "Required. Resource name of a Branch, and `default_branch` for branch_id component is supported. For example `projects/1234/locations/global/catalogs/default_catalog/branches/default_branch`",
                              "pattern": "^projects/[^/]+/locations/[^/]+/catalogs/[^/]+/branches/[^/]+$"
                            }
                          },
                          "parameterOrder": [
                            "parent"
                          ],
                          "id": "retail.projects.locations.catalogs.branches.products.export",
                          "flatPath": "v2beta/projects/{projectsId}/locations/{locationsId}/catalogs/{catalogsId}/branches/{branchesId}/products:export",
                          "path": "v2beta/{+parent}/products:export",
                          "response": {
                            "$ref": "GoogleLongrunningOperation"
                          }
                        },
                        "removeFulfillmentPlaces": {
                          "response": {
                            "$ref": "GoogleLongrunningOperation"
                          },
                          "flatPath": "v2beta/projects/{projectsId}/locations/{locationsId}/catalogs/{catalogsId}/branches/{branchesId}/products/{productsId}:removeFulfillmentPlaces",
                          "path": "v2beta/{+product}:removeFulfillmentPlaces",
                          "httpMethod": "POST",
                          "parameterOrder": [
                            "product"
                          ],
                          "description": "We recommend that you use the ProductService.RemoveLocalInventories method instead of the ProductService.RemoveFulfillmentPlaces method. ProductService.RemoveLocalInventories achieves the same results but provides more fine-grained control over ingesting local inventory data. Incrementally removes place IDs from a Product.fulfillment_info.place_ids. This process is asynchronous and does not require the Product to exist before updating fulfillment information. If the request is valid, the update will be enqueued and processed downstream. As a consequence, when a response is returned, the removed place IDs are not immediately manifested in the Product queried by ProductService.GetProduct or ProductService.ListProducts. The returned Operations will be obsolete after 1 day, and GetOperation API will return NOT_FOUND afterwards. If conflicting updates are issued, the Operations associated with the stale updates will not be marked as done until being obsolete.",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "parameters": {
                            "product": {
                              "pattern": "^projects/[^/]+/locations/[^/]+/catalogs/[^/]+/branches/[^/]+/products/.*$",
                              "location": "path",
                              "required": true,
                              "description": "Required. Full resource name of Product, such as `projects/*/locations/global/catalogs/default_catalog/branches/default_branch/products/some_product_id`. If the caller does not have permission to access the Product, regardless of whether or not it exists, a PERMISSION_DENIED error is returned.",
                              "type": "string"
                            }
                          },
                          "id": "retail.projects.locations.catalogs.branches.products.removeFulfillmentPlaces",
                          "request": {
                            "$ref": "GoogleCloudRetailV2betaRemoveFulfillmentPlacesRequest"
                          }
                        },
                        "create": {
                          "parameterOrder": [
                            "parent"
                          ],
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "id": "retail.projects.locations.catalogs.branches.products.create",
                          "description": "Creates a Product.",
                          "parameters": {
                            "parent": {
                              "type": "string",
                              "location": "path",
                              "required": true,
                              "pattern": "^projects/[^/]+/locations/[^/]+/catalogs/[^/]+/branches/[^/]+$",
                              "description": "Required. The parent catalog resource name, such as `projects/*/locations/global/catalogs/default_catalog/branches/default_branch`."
                            },
                            "productId": {
                              "type": "string",
                              "description": "Required. The ID to use for the Product, which will become the final component of the Product.name. If the caller does not have permission to create the Product, regardless of whether or not it exists, a PERMISSION_DENIED error is returned. This field must be unique among all Products with the same parent. Otherwise, an ALREADY_EXISTS error is returned. This field must be a UTF-8 encoded string with a length limit of 128 characters. Otherwise, an INVALID_ARGUMENT error is returned.",
                              "location": "query"
                            }
                          },
                          "flatPath": "v2beta/projects/{projectsId}/locations/{locationsId}/catalogs/{catalogsId}/branches/{branchesId}/products",
                          "path": "v2beta/{+parent}/products",
                          "httpMethod": "POST",
                          "response": {
                            "$ref": "GoogleCloudRetailV2betaProduct"
                          },
                          "request": {
                            "$ref": "GoogleCloudRetailV2betaProduct"
                          }
                        },
                        "patch": {
                          "parameterOrder": [
                            "name"
                          ],
                          "id": "retail.projects.locations.catalogs.branches.products.patch",
                          "httpMethod": "PATCH",
                          "parameters": {
                            "allowMissing": {
                              "type": "boolean",
                              "location": "query",
                              "description": "If set to true, and the Product is not found, a new Product will be created. In this situation, `update_mask` is ignored."
                            },
                            "updateMask": {
                              "location": "query",
                              "format": "google-fieldmask",
                              "description": "Indicates which fields in the provided Product to update. The immutable and output only fields are NOT supported. If not set, all supported fields (the fields that are neither immutable nor output only) are updated. If an unsupported or unknown field is provided, an INVALID_ARGUMENT error is returned. The attribute key can be updated by setting the mask path as \"attributes.${key_name}\". If a key name is present in the mask but not in the patching product from the request, this key will be deleted after the update.",
                              "type": "string"
                            },
                            "name": {
                              "type": "string",
                              "location": "path",
                              "required": true,
                              "pattern": "^projects/[^/]+/locations/[^/]+/catalogs/[^/]+/branches/[^/]+/products/.*$",
                              "description": "Immutable. Full resource name of the product, such as `projects/*/locations/global/catalogs/default_catalog/branches/default_branch/products/product_id`."
                            }
                          },
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "description": "Updates a Product.",
                          "request": {
                            "$ref": "GoogleCloudRetailV2betaProduct"
                          },
                          "response": {
                            "$ref": "GoogleCloudRetailV2betaProduct"
                          },
                          "path": "v2beta/{+name}",
                          "flatPath": "v2beta/projects/{projectsId}/locations/{locationsId}/catalogs/{catalogsId}/branches/{branchesId}/products/{productsId}"
                        },
                        "setInventory": {
                          "request": {
                            "$ref": "GoogleCloudRetailV2betaSetInventoryRequest"
                          },
                          "path": "v2beta/{+name}:setInventory",
                          "parameters": {
                            "name": {
                              "type": "string",
                              "location": "path",
                              "required": true,
                              "pattern": "^projects/[^/]+/locations/[^/]+/catalogs/[^/]+/branches/[^/]+/products/.*$",
                              "description": "Immutable. Full resource name of the product, such as `projects/*/locations/global/catalogs/default_catalog/branches/default_branch/products/product_id`."
                            }
                          },
                          "parameterOrder": [
                            "name"
                          ],
                          "httpMethod": "POST",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "response": {
                            "$ref": "GoogleLongrunningOperation"
                          },
                          "id": "retail.projects.locations.catalogs.branches.products.setInventory",
                          "flatPath": "v2beta/projects/{projectsId}/locations/{locationsId}/catalogs/{catalogsId}/branches/{branchesId}/products/{productsId}:setInventory",
                          "description": "Updates inventory information for a Product while respecting the last update timestamps of each inventory field. This process is asynchronous and does not require the Product to exist before updating fulfillment information. If the request is valid, the update is enqueued and processed downstream. As a consequence, when a response is returned, updates are not immediately manifested in the Product queried by ProductService.GetProduct or ProductService.ListProducts. When inventory is updated with ProductService.CreateProduct and ProductService.UpdateProduct, the specified inventory field value(s) overwrite any existing value(s) while ignoring the last update time for this field. Furthermore, the last update times for the specified inventory fields are overwritten by the times of the ProductService.CreateProduct or ProductService.UpdateProduct request. If no inventory fields are set in CreateProductRequest.product, then any pre-existing inventory information for this product is used. If no inventory fields are set in SetInventoryRequest.set_mask, then any existing inventory information is preserved. Pre-existing inventory information can only be updated with ProductService.SetInventory, ProductService.AddFulfillmentPlaces, and ProductService.RemoveFulfillmentPlaces. The returned Operations is obsolete after one day, and the GetOperation API returns `NOT_FOUND` afterwards. If conflicting updates are issued, the Operations associated with the stale updates are not marked as done until they are obsolete."
                        },
                        "removeLocalInventories": {
                          "parameters": {
                            "product": {
                              "type": "string",
                              "location": "path",
                              "required": true,
                              "pattern": "^projects/[^/]+/locations/[^/]+/catalogs/[^/]+/branches/[^/]+/products/.*$",
                              "description": "Required. Full resource name of Product, such as `projects/*/locations/global/catalogs/default_catalog/branches/default_branch/products/some_product_id`. If the caller does not have permission to access the Product, regardless of whether or not it exists, a PERMISSION_DENIED error is returned."
                            }
                          },
                          "description": "Remove local inventory information for a Product at a list of places at a removal timestamp. This process is asynchronous. If the request is valid, the removal will be enqueued and processed downstream. As a consequence, when a response is returned, removals are not immediately manifested in the Product queried by ProductService.GetProduct or ProductService.ListProducts. Local inventory information can only be removed using this method. ProductService.CreateProduct and ProductService.UpdateProduct has no effect on local inventories. The returned Operations will be obsolete after 1 day, and GetOperation API will return NOT_FOUND afterwards. If conflicting updates are issued, the Operations associated with the stale updates will not be marked as done until being obsolete.",
                          "request": {
                            "$ref": "GoogleCloudRetailV2betaRemoveLocalInventoriesRequest"
                          },
                          "parameterOrder": [
                            "product"
                          ],
                          "path": "v2beta/{+product}:removeLocalInventories",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "httpMethod": "POST",
                          "flatPath": "v2beta/projects/{projectsId}/locations/{locationsId}/catalogs/{catalogsId}/branches/{branchesId}/products/{productsId}:removeLocalInventories",
                          "id": "retail.projects.locations.catalogs.branches.products.removeLocalInventories",
                          "response": {
                            "$ref": "GoogleLongrunningOperation"
                          }
                        },
                        "import": {
                          "flatPath": "v2beta/projects/{projectsId}/locations/{locationsId}/catalogs/{catalogsId}/branches/{branchesId}/products:import",
                          "response": {
                            "$ref": "GoogleLongrunningOperation"
                          },
                          "description": "Bulk import of multiple Products. Request processing may be synchronous. Non-existing items are created. Note that it is possible for a subset of the Products to be successfully updated.",
                          "id": "retail.projects.locations.catalogs.branches.products.import",
                          "parameters": {
                            "parent": {
                              "location": "path",
                              "required": true,
                              "type": "string",
                              "pattern": "^projects/[^/]+/locations/[^/]+/catalogs/[^/]+/branches/[^/]+$",
                              "description": "Required. `projects/1234/locations/global/catalogs/default_catalog/branches/default_branch` If no updateMask is specified, requires products.create permission. If updateMask is specified, requires products.update permission."
                            }
                          },
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "request": {
                            "$ref": "GoogleCloudRetailV2betaImportProductsRequest"
                          },
                          "httpMethod": "POST",
                          "parameterOrder": [
                            "parent"
                          ],
                          "path": "v2beta/{+parent}/products:import"
                        },
                        "delete": {
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "httpMethod": "DELETE",
                          "id": "retail.projects.locations.catalogs.branches.products.delete",
                          "path": "v2beta/{+name}",
                          "description": "Deletes a Product.",
                          "response": {
                            "$ref": "GoogleProtobufEmpty"
                          },
                          "parameters": {
                            "name": {
                              "type": "string",
                              "description": "Required. Full resource name of Product, such as `projects/*/locations/global/catalogs/default_catalog/branches/default_branch/products/some_product_id`. If the caller does not have permission to delete the Product, regardless of whether or not it exists, a PERMISSION_DENIED error is returned. If the Product to delete does not exist, a NOT_FOUND error is returned. The Product to delete can neither be a Product.Type.COLLECTION Product member nor a Product.Type.PRIMARY Product with more than one variants. Otherwise, an INVALID_ARGUMENT error is returned. All inventory information for the named Product will be deleted.",
                              "location": "path",
                              "required": true,
                              "pattern": "^projects/[^/]+/locations/[^/]+/catalogs/[^/]+/branches/[^/]+/products/.*$"
                            }
                          },
                          "flatPath": "v2beta/projects/{projectsId}/locations/{locationsId}/catalogs/{catalogsId}/branches/{branchesId}/products/{productsId}",
                          "parameterOrder": [
                            "name"
                          ]
                        },
                        "addFulfillmentPlaces": {
                          "httpMethod": "POST",
                          "flatPath": "v2beta/projects/{projectsId}/locations/{locationsId}/catalogs/{catalogsId}/branches/{branchesId}/products/{productsId}:addFulfillmentPlaces",
                          "response": {
                            "$ref": "GoogleLongrunningOperation"
                          },
                          "request": {
                            "$ref": "GoogleCloudRetailV2betaAddFulfillmentPlacesRequest"
                          },
                          "description": "We recommend that you use the ProductService.AddLocalInventories method instead of the ProductService.AddFulfillmentPlaces method. ProductService.AddLocalInventories achieves the same results but provides more fine-grained control over ingesting local inventory data. Incrementally adds place IDs to Product.fulfillment_info.place_ids. This process is asynchronous and does not require the Product to exist before updating fulfillment information. If the request is valid, the update will be enqueued and processed downstream. As a consequence, when a response is returned, the added place IDs are not immediately manifested in the Product queried by ProductService.GetProduct or ProductService.ListProducts. The returned Operations will be obsolete after 1 day, and GetOperation API will return NOT_FOUND afterwards. If conflicting updates are issued, the Operations associated with the stale updates will not be marked as done until being obsolete.",
                          "path": "v2beta/{+product}:addFulfillmentPlaces",
                          "parameterOrder": [
                            "product"
                          ],
                          "parameters": {
                            "product": {
                              "pattern": "^projects/[^/]+/locations/[^/]+/catalogs/[^/]+/branches/[^/]+/products/.*$",
                              "location": "path",
                              "required": true,
                              "type": "string",
                              "description": "Required. Full resource name of Product, such as `projects/*/locations/global/catalogs/default_catalog/branches/default_branch/products/some_product_id`. If the caller does not have permission to access the Product, regardless of whether or not it exists, a PERMISSION_DENIED error is returned."
                            }
                          },
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "id": "retail.projects.locations.catalogs.branches.products.addFulfillmentPlaces"
                        }
                      }
                    },
                    "operations": {
                      "methods": {
                        "get": {
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "path": "v2beta/{+name}",
                          "parameters": {
                            "name": {
                              "type": "string",
                              "description": "The name of the operation resource.",
                              "pattern": "^projects/[^/]+/locations/[^/]+/catalogs/[^/]+/branches/[^/]+/operations/[^/]+$",
                              "location": "path",
                              "required": true
                            }
                          },
                          "id": "retail.projects.locations.catalogs.branches.operations.get",
                          "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
                          "parameterOrder": [
                            "name"
                          ],
                          "flatPath": "v2beta/projects/{projectsId}/locations/{locationsId}/catalogs/{catalogsId}/branches/{branchesId}/operations/{operationsId}",
                          "response": {
                            "$ref": "GoogleLongrunningOperation"
                          },
                          "httpMethod": "GET"
                        }
                      }
                    }
                  }
                },
                "controls": {
                  "methods": {
                    "get": {
                      "httpMethod": "GET",
                      "description": "Gets a Control.",
                      "path": "v2beta/{+name}",
                      "response": {
                        "$ref": "GoogleCloudRetailV2betaControl"
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "flatPath": "v2beta/projects/{projectsId}/locations/{locationsId}/catalogs/{catalogsId}/controls/{controlsId}",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameters": {
                        "name": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/catalogs/[^/]+/controls/[^/]+$",
                          "description": "Required. The resource name of the Control to get. Format: `projects/{project_number}/locations/{location_id}/catalogs/{catalog_id}/controls/{control_id}`",
                          "type": "string",
                          "location": "path",
                          "required": true
                        }
                      },
                      "id": "retail.projects.locations.catalogs.controls.get"
                    },
                    "delete": {
                      "parameterOrder": [
                        "name"
                      ],
                      "parameters": {
                        "name": {
                          "type": "string",
                          "location": "path",
                          "required": true,
                          "description": "Required. The resource name of the Control to delete. Format: `projects/{project_number}/locations/{location_id}/catalogs/{catalog_id}/controls/{control_id}`",
                          "pattern": "^projects/[^/]+/locations/[^/]+/catalogs/[^/]+/controls/[^/]+$"
                        }
                      },
                      "id": "retail.projects.locations.catalogs.controls.delete",
                      "path": "v2beta/{+name}",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "response": {
                        "$ref": "GoogleProtobufEmpty"
                      },
                      "flatPath": "v2beta/projects/{projectsId}/locations/{locationsId}/catalogs/{catalogsId}/controls/{controlsId}",
                      "httpMethod": "DELETE",
                      "description": "Deletes a Control. If the Control to delete does not exist, a NOT_FOUND error is returned."
                    },
                    "patch": {
                      "description": "Updates a Control. Control cannot be set to a different oneof field, if so an INVALID_ARGUMENT is returned. If the Control to update does not exist, a NOT_FOUND error is returned.",
                      "flatPath": "v2beta/projects/{projectsId}/locations/{locationsId}/catalogs/{catalogsId}/controls/{controlsId}",
                      "response": {
                        "$ref": "GoogleCloudRetailV2betaControl"
                      },
                      "id": "retail.projects.locations.catalogs.controls.patch",
                      "httpMethod": "PATCH",
                      "request": {
                        "$ref": "GoogleCloudRetailV2betaControl"
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "path": "v2beta/{+name}",
                      "parameters": {
                        "name": {
                          "description": "Immutable. Fully qualified name `projects/*/locations/global/catalogs/*/controls/*`",
                          "type": "string",
                          "location": "path",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/catalogs/[^/]+/controls/[^/]+$"
                        },
                        "updateMask": {
                          "location": "query",
                          "type": "string",
                          "description": "Indicates which fields in the provided Control to update. The following are NOT supported: * Control.name If not set or empty, all supported fields are updated.",
                          "format": "google-fieldmask"
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    },
                    "list": {
                      "parameters": {
                        "pageToken": {
                          "type": "string",
                          "description": "Optional. A page token, received from a previous `ListControls` call. Provide this to retrieve the subsequent page.",
                          "location": "query"
                        },
                        "parent": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/catalogs/[^/]+$",
                          "location": "path",
                          "required": true,
                          "description": "Required. The catalog resource name. Format: `projects/{project_number}/locations/{location_id}/catalogs/{catalog_id}`",
                          "type": "string"
                        },
                        "filter": {
                          "description": "Optional. A filter to apply on the list results. Supported features: * List all the products under the parent branch if filter is unset. * List controls that are used in a single ServingConfig: 'serving_config = \"boosted_home_page_cvr\"'",
                          "type": "string",
                          "location": "query"
                        },
                        "pageSize": {
                          "type": "integer",
                          "description": "Optional. Maximum number of results to return. If unspecified, defaults to 50. Max allowed value is 1000.",
                          "format": "int32",
                          "location": "query"
                        }
                      },
                      "parameterOrder": [
                        "parent"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "id": "retail.projects.locations.catalogs.controls.list",
                      "httpMethod": "GET",
                      "path": "v2beta/{+parent}/controls",
                      "flatPath": "v2beta/projects/{projectsId}/locations/{locationsId}/catalogs/{catalogsId}/controls",
                      "description": "Lists all Controls by their parent Catalog.",
                      "response": {
                        "$ref": "GoogleCloudRetailV2betaListControlsResponse"
                      }
                    },
                    "create": {
                      "httpMethod": "POST",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "description": "Creates a Control. If the Control to create already exists, an ALREADY_EXISTS error is returned.",
                      "response": {
                        "$ref": "GoogleCloudRetailV2betaControl"
                      },
                      "flatPath": "v2beta/projects/{projectsId}/locations/{locationsId}/catalogs/{catalogsId}/controls",
                      "path": "v2beta/{+parent}/controls",
                      "id": "retail.projects.locations.catalogs.controls.create",
                      "request": {
                        "$ref": "GoogleCloudRetailV2betaControl"
                      },
                      "parameterOrder": [
                        "parent"
                      ],
                      "parameters": {
                        "controlId": {
                          "type": "string",
                          "location": "query",
                          "description": "Required. The ID to use for the Control, which will become the final component of the Control's resource name. This value should be 4-63 characters, and valid characters are /a-z-_/."
                        },
                        "parent": {
                          "description": "Required. Full resource name of parent catalog. Format: `projects/{project_number}/locations/{location_id}/catalogs/{catalog_id}`",
                          "location": "path",
                          "required": true,
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/catalogs/[^/]+$"
                        }
                      }
                    }
                  }
                },
                "generativeQuestion": {
                  "methods": {
                    "batchUpdate": {
                      "httpMethod": "POST",
                      "id": "retail.projects.locations.catalogs.generativeQuestion.batchUpdate",
                      "parameterOrder": [
                        "parent"
                      ],
                      "response": {
                        "$ref": "GoogleCloudRetailV2betaBatchUpdateGenerativeQuestionConfigsResponse"
                      },
                      "description": "Allows management of multiple questions.",
                      "request": {
                        "$ref": "GoogleCloudRetailV2betaBatchUpdateGenerativeQuestionConfigsRequest"
                      },
                      "flatPath": "v2beta/projects/{projectsId}/locations/{locationsId}/catalogs/{catalogsId}/generativeQuestion:batchUpdate",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameters": {
                        "parent": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/catalogs/[^/]+$",
                          "location": "path",
                          "required": true,
                          "description": "Optional. Resource name of the parent catalog. Format: projects/{project}/locations/{location}/catalogs/{catalog}",
                          "type": "string"
                        }
                      },
                      "path": "v2beta/{+parent}/generativeQuestion:batchUpdate"
                    }
                  }
                },
                "attributesConfig": {
                  "methods": {
                    "replaceCatalogAttribute": {
                      "httpMethod": "POST",
                      "parameterOrder": [
                        "attributesConfig"
                      ],
                      "path": "v2beta/{+attributesConfig}:replaceCatalogAttribute",
                      "response": {
                        "$ref": "GoogleCloudRetailV2betaAttributesConfig"
                      },
                      "parameters": {
                        "attributesConfig": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/catalogs/[^/]+/attributesConfig$",
                          "description": "Required. Full AttributesConfig resource name. Format: `projects/{project_number}/locations/{location_id}/catalogs/{catalog_id}/attributesConfig`",
                          "location": "path",
                          "required": true,
                          "type": "string"
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "flatPath": "v2beta/projects/{projectsId}/locations/{locationsId}/catalogs/{catalogsId}/attributesConfig:replaceCatalogAttribute",
                      "id": "retail.projects.locations.catalogs.attributesConfig.replaceCatalogAttribute",
                      "description": "Replaces the specified CatalogAttribute in the AttributesConfig by updating the catalog attribute with the same CatalogAttribute.key. If the CatalogAttribute to replace does not exist, a NOT_FOUND error is returned.",
                      "request": {
                        "$ref": "GoogleCloudRetailV2betaReplaceCatalogAttributeRequest"
                      }
                    },
                    "addCatalogAttribute": {
                      "request": {
                        "$ref": "GoogleCloudRetailV2betaAddCatalogAttributeRequest"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameters": {
                        "attributesConfig": {
                          "type": "string",
                          "description": "Required. Full AttributesConfig resource name. Format: `projects/{project_number}/locations/{location_id}/catalogs/{catalog_id}/attributesConfig`",
                          "location": "path",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/catalogs/[^/]+/attributesConfig$"
                        }
                      },
                      "flatPath": "v2beta/projects/{projectsId}/locations/{locationsId}/catalogs/{catalogsId}/attributesConfig:addCatalogAttribute",
                      "response": {
                        "$ref": "GoogleCloudRetailV2betaAttributesConfig"
                      },
                      "description": "Adds the specified CatalogAttribute to the AttributesConfig. If the CatalogAttribute to add already exists, an ALREADY_EXISTS error is returned.",
                      "httpMethod": "POST",
                      "id": "retail.projects.locations.catalogs.attributesConfig.addCatalogAttribute",
                      "parameterOrder": [
                        "attributesConfig"
                      ],
                      "path": "v2beta/{+attributesConfig}:addCatalogAttribute"
                    },
                    "batchRemoveCatalogAttributes": {
                      "parameterOrder": [
                        "attributesConfig"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "id": "retail.projects.locations.catalogs.attributesConfig.batchRemoveCatalogAttributes",
                      "description": "Removes all specified CatalogAttributes from the AttributesConfig.",
                      "httpMethod": "POST",
                      "path": "v2beta/{+attributesConfig}:batchRemoveCatalogAttributes",
                      "request": {
                        "$ref": "GoogleCloudRetailV2betaBatchRemoveCatalogAttributesRequest"
                      },
                      "response": {
                        "$ref": "GoogleCloudRetailV2betaBatchRemoveCatalogAttributesResponse"
                      },
                      "flatPath": "v2beta/projects/{projectsId}/locations/{locationsId}/catalogs/{catalogsId}/attributesConfig:batchRemoveCatalogAttributes",
                      "parameters": {
                        "attributesConfig": {
                          "location": "path",
                          "required": true,
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/catalogs/[^/]+/attributesConfig$",
                          "description": "Required. The attributes config resource shared by all catalog attributes being deleted. Format: `projects/{project_number}/locations/{location_id}/catalogs/{catalog_id}/attributesConfig`"
                        }
                      }
                    },
                    "removeCatalogAttribute": {
                      "flatPath": "v2beta/projects/{projectsId}/locations/{locationsId}/catalogs/{catalogsId}/attributesConfig:removeCatalogAttribute",
                      "description": "Removes the specified CatalogAttribute from the AttributesConfig. If the CatalogAttribute to remove does not exist, a NOT_FOUND error is returned.",
                      "response": {
                        "$ref": "GoogleCloudRetailV2betaAttributesConfig"
                      },
                      "parameters": {
                        "attributesConfig": {
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/catalogs/[^/]+/attributesConfig$",
                          "location": "path",
                          "required": true,
                          "description": "Required. Full AttributesConfig resource name. Format: `projects/{project_number}/locations/{location_id}/catalogs/{catalog_id}/attributesConfig`"
                        }
                      },
                      "id": "retail.projects.locations.catalogs.attributesConfig.removeCatalogAttribute",
                      "httpMethod": "POST",
                      "path": "v2beta/{+attributesConfig}:removeCatalogAttribute",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "request": {
                        "$ref": "GoogleCloudRetailV2betaRemoveCatalogAttributeRequest"
                      },
                      "parameterOrder": [
                        "attributesConfig"
                      ]
                    }
                  }
                },
                "generativeQuestions": {
                  "methods": {
                    "list": {
                      "path": "v2beta/{+parent}/generativeQuestions",
                      "parameters": {
                        "parent": {
                          "type": "string",
                          "description": "Required. Resource name of the parent catalog. Format: projects/{project}/locations/{location}/catalogs/{catalog}",
                          "pattern": "^projects/[^/]+/locations/[^/]+/catalogs/[^/]+$",
                          "location": "path",
                          "required": true
                        }
                      },
                      "response": {
                        "$ref": "GoogleCloudRetailV2betaListGenerativeQuestionConfigsResponse"
                      },
                      "flatPath": "v2beta/projects/{projectsId}/locations/{locationsId}/catalogs/{catalogsId}/generativeQuestions",
                      "parameterOrder": [
                        "parent"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "httpMethod": "GET",
                      "description": "Returns all questions for a given catalog.",
                      "id": "retail.projects.locations.catalogs.generativeQuestions.list"
                    }
                  }
                },
                "completionData": {
                  "methods": {
                    "import": {
                      "description": "Bulk import of processed completion dataset. Request processing is asynchronous. Partial updating is not supported. The operation is successfully finished only after the imported suggestions are indexed successfully and ready for serving. The process takes hours. This feature is only available for users who have Retail Search enabled. Enable Retail Search on Cloud Console before using this feature.",
                      "parameterOrder": [
                        "parent"
                      ],
                      "parameters": {
                        "parent": {
                          "location": "path",
                          "required": true,
                          "type": "string",
                          "description": "Required. The catalog which the suggestions dataset belongs to. Format: `projects/1234/locations/global/catalogs/default_catalog`.",
                          "pattern": "^projects/[^/]+/locations/[^/]+/catalogs/[^/]+$"
                        }
                      },
                      "request": {
                        "$ref": "GoogleCloudRetailV2betaImportCompletionDataRequest"
                      },
                      "path": "v2beta/{+parent}/completionData:import",
                      "flatPath": "v2beta/projects/{projectsId}/locations/{locationsId}/catalogs/{catalogsId}/completionData:import",
                      "httpMethod": "POST",
                      "response": {
                        "$ref": "GoogleLongrunningOperation"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "id": "retail.projects.locations.catalogs.completionData.import"
                    }
                  }
                },
                "userEvents": {
                  "methods": {
                    "collect": {
                      "response": {
                        "$ref": "GoogleApiHttpBody"
                      },
                      "parameterOrder": [
                        "parent"
                      ],
                      "httpMethod": "POST",
                      "flatPath": "v2beta/projects/{projectsId}/locations/{locationsId}/catalogs/{catalogsId}/userEvents:collect",
                      "request": {
                        "$ref": "GoogleCloudRetailV2betaCollectUserEventRequest"
                      },
                      "id": "retail.projects.locations.catalogs.userEvents.collect",
                      "description": "Writes a single user event from the browser. For larger user event payload over 16 KB, the POST method should be used instead, otherwise a 400 Bad Request error is returned. This method is used only by the AI Commerce Search API JavaScript pixel and Google Tag Manager. Users should not call this method directly.",
                      "path": "v2beta/{+parent}/userEvents:collect",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameters": {
                        "parent": {
                          "type": "string",
                          "description": "Required. The parent catalog name, such as `projects/1234/locations/global/catalogs/default_catalog`.",
                          "pattern": "^projects/[^/]+/locations/[^/]+/catalogs/[^/]+$",
                          "location": "path",
                          "required": true
                        }
                      }
                    },
                    "import": {
                      "response": {
                        "$ref": "GoogleLongrunningOperation"
                      },
                      "flatPath": "v2beta/projects/{projectsId}/locations/{locationsId}/catalogs/{catalogsId}/userEvents:import",
                      "parameters": {
                        "parent": {
                          "location": "path",
                          "required": true,
                          "type": "string",
                          "description": "Required. `projects/1234/locations/global/catalogs/default_catalog`",
                          "pattern": "^projects/[^/]+/locations/[^/]+/catalogs/[^/]+$"
                        }
                      },
                      "parameterOrder": [
                        "parent"
                      ],
                      "request": {
                        "$ref": "GoogleCloudRetailV2betaImportUserEventsRequest"
                      },
                      "description": "Bulk import of User events. Request processing might be synchronous. Events that already exist are skipped. Use this method for backfilling historical user events. `Operation.response` is of type `ImportResponse`. Note that it is possible for a subset of the items to be successfully inserted. `Operation.metadata` is of type `ImportMetadata`.",
                      "id": "retail.projects.locations.catalogs.userEvents.import",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "httpMethod": "POST",
                      "path": "v2beta/{+parent}/userEvents:import"
                    },
                    "rejoin": {
                      "flatPath": "v2beta/projects/{projectsId}/locations/{locationsId}/catalogs/{catalogsId}/userEvents:rejoin",
                      "parameters": {
                        "parent": {
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/catalogs/[^/]+$",
                          "description": "Required. The parent catalog resource name, such as `projects/1234/locations/global/catalogs/default_catalog`.",
                          "location": "path",
                          "required": true
                        }
                      },
                      "response": {
                        "$ref": "GoogleLongrunningOperation"
                      },
                      "parameterOrder": [
                        "parent"
                      ],
                      "path": "v2beta/{+parent}/userEvents:rejoin",
                      "request": {
                        "$ref": "GoogleCloudRetailV2betaRejoinUserEventsRequest"
                      },
                      "description": "Starts a user-event rejoin operation with latest product catalog. Events are not annotated with detailed product information for products that are missing from the catalog when the user event is ingested. These events are stored as unjoined events with limited usage on training and serving. You can use this method to start a join operation on specified events with the latest version of product catalog. You can also use this method to correct events joined with the wrong product catalog. A rejoin operation can take hours or days to complete.",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "id": "retail.projects.locations.catalogs.userEvents.rejoin",
                      "httpMethod": "POST"
                    },
                    "purge": {
                      "id": "retail.projects.locations.catalogs.userEvents.purge",
                      "httpMethod": "POST",
                      "description": "Deletes permanently all user events specified by the filter provided. Depending on the number of events specified by the filter, this operation could take hours or days to complete. To test a filter, use the list command first.",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameterOrder": [
                        "parent"
                      ],
                      "response": {
                        "$ref": "GoogleLongrunningOperation"
                      },
                      "path": "v2beta/{+parent}/userEvents:purge",
                      "flatPath": "v2beta/projects/{projectsId}/locations/{locationsId}/catalogs/{catalogsId}/userEvents:purge",
                      "parameters": {
                        "parent": {
                          "location": "path",
                          "required": true,
[...]
