{
  "mtlsRootUrl": "https://run.mtls.googleapis.com/",
  "ownerDomain": "google.com",
  "id": "run:v1",
  "canonicalName": "Cloud Run",
  "discoveryVersion": "v1",
  "version": "v1",
  "batchPath": "batch",
  "resources": {
    "namespaces": {
      "resources": {
        "revisions": {
          "methods": {
            "get": {
              "description": "Get information about a revision.",
              "id": "run.namespaces.revisions.get",
              "path": "apis/serving.knative.dev/v1/{+name}",
              "parameters": {
                "name": {
                  "required": true,
                  "description": "The name of the revision to retrieve. For Cloud Run (fully managed), replace {namespace} with the project ID or number. It takes the form namespaces/{namespace}. For example: namespaces/PROJECT_ID",
                  "pattern": "^namespaces/[^/]+/revisions/[^/]+$",
                  "type": "string",
                  "location": "path"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/run",
                "https://www.googleapis.com/auth/run.readonly"
              ],
              "httpMethod": "GET",
              "response": {
                "$ref": "Revision"
              },
              "flatPath": "apis/serving.knative.dev/v1/namespaces/{namespacesId}/revisions/{revisionsId}",
              "parameterOrder": [
                "name"
              ]
            },
            "delete": {
              "httpMethod": "DELETE",
              "description": "Delete a revision.",
              "path": "apis/serving.knative.dev/v1/{+name}",
              "parameterOrder": [
                "name"
              ],
              "id": "run.namespaces.revisions.delete",
              "response": {
                "$ref": "Status"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/run"
              ],
              "flatPath": "apis/serving.knative.dev/v1/namespaces/{namespacesId}/revisions/{revisionsId}",
              "parameters": {
                "apiVersion": {
                  "type": "string",
                  "description": "Cloud Run currently ignores this parameter.",
                  "location": "query"
                },
                "kind": {
                  "location": "query",
                  "description": "Cloud Run currently ignores this parameter.",
                  "type": "string"
                },
                "propagationPolicy": {
                  "location": "query",
                  "description": "Specifies the propagation policy of delete. Cloud Run currently ignores this setting, and deletes in the background.",
                  "type": "string"
                },
                "dryRun": {
                  "location": "query",
                  "type": "string",
                  "description": "Indicates that the server should validate the request and populate default values without persisting the request. Supported values: `all`"
                },
                "name": {
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "pattern": "^namespaces/[^/]+/revisions/[^/]+$",
                  "description": "The name of the revision to delete. For Cloud Run (fully managed), replace {namespace} with the project ID or number. It takes the form namespaces/{namespace}. For example: namespaces/PROJECT_ID"
                }
              }
            },
            "list": {
              "httpMethod": "GET",
              "parameterOrder": [
                "parent"
              ],
              "id": "run.namespaces.revisions.list",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/run",
                "https://www.googleapis.com/auth/run.readonly"
              ],
              "response": {
                "$ref": "ListRevisionsResponse"
              },
              "flatPath": "apis/serving.knative.dev/v1/namespaces/{namespacesId}/revisions",
              "path": "apis/serving.knative.dev/v1/{+parent}/revisions",
              "parameters": {
                "fieldSelector": {
                  "location": "query",
                  "description": "Allows to filter resources based on a specific value for a field name. Send this in a query string format. i.e. 'metadata.name%3Dlorem'. Not currently used by Cloud Run.",
                  "type": "string"
                },
                "limit": {
                  "type": "integer",
                  "format": "int32",
                  "location": "query",
                  "description": "Optional. The maximum number of records that should be returned."
                },
                "resourceVersion": {
                  "location": "query",
                  "type": "string",
                  "description": "The baseline resource version from which the list or watch operation should start. Not currently used by Cloud Run."
                },
                "watch": {
                  "type": "boolean",
                  "location": "query",
                  "description": "Flag that indicates that the client expects to watch this resource as well. Not currently used by Cloud Run."
                },
                "labelSelector": {
                  "type": "string",
                  "description": "Allows to filter resources based on a label. Supported operations are =, !=, exists, in, and notIn.",
                  "location": "query"
                },
                "includeUninitialized": {
                  "description": "Not currently used by Cloud Run.",
                  "type": "boolean",
                  "location": "query"
                },
                "parent": {
                  "required": true,
                  "type": "string",
                  "pattern": "^namespaces/[^/]+$",
                  "description": "The namespace from which the revisions should be listed. For Cloud Run (fully managed), replace {namespace} with the project ID or number. It takes the form namespaces/{namespace}. For example: namespaces/PROJECT_ID",
                  "location": "path"
                },
                "continue": {
                  "type": "string",
                  "description": "Optional. Encoded string to continue paging.",
                  "location": "query"
                }
              },
              "description": "List revisions. Results are sorted by creation time, descending."
            }
          }
        },
        "jobs": {
          "methods": {
            "list": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/run",
                "https://www.googleapis.com/auth/run.readonly"
              ],
              "flatPath": "apis/run.googleapis.com/v1/namespaces/{namespacesId}/jobs",
              "response": {
                "$ref": "ListJobsResponse"
              },
              "id": "run.namespaces.jobs.list",
              "parameters": {
                "limit": {
                  "format": "int32",
                  "type": "integer",
                  "description": "Optional. The maximum number of records that should be returned.",
                  "location": "query"
                },
                "watch": {
                  "type": "boolean",
                  "location": "query",
                  "description": "Optional. Not supported by Cloud Run."
                },
                "resourceVersion": {
                  "location": "query",
                  "description": "Optional. Not supported by Cloud Run.",
                  "type": "string"
                },
                "labelSelector": {
                  "location": "query",
                  "type": "string",
                  "description": "Optional. Allows to filter resources based on a label. Supported operations are =, !=, exists, in, and notIn."
                },
                "parent": {
                  "type": "string",
                  "location": "path",
                  "description": "Required. The namespace from which the jobs should be listed. Replace {namespace} with the project ID or number. It takes the form namespaces/{namespace}. For example: namespaces/PROJECT_ID",
                  "pattern": "^namespaces/[^/]+$",
                  "required": true
                },
                "includeUninitialized": {
                  "location": "query",
                  "type": "boolean",
                  "description": "Optional. Not supported by Cloud Run."
                },
                "fieldSelector": {
                  "type": "string",
                  "description": "Optional. Not supported by Cloud Run.",
                  "location": "query"
                },
                "continue": {
                  "description": "Optional. Optional encoded string to continue paging.",
                  "type": "string",
                  "location": "query"
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "description": "List jobs. Results are sorted by creation time, descending.",
              "httpMethod": "GET",
              "path": "apis/run.googleapis.com/v1/{+parent}/jobs"
            },
            "run": {
              "description": "Trigger creation of a new execution of this job.",
              "parameters": {
                "name": {
                  "required": true,
                  "pattern": "^namespaces/[^/]+/jobs/[^/]+$",
                  "description": "Required. The name of the job to run. Replace {namespace} with the project ID or number. It takes the form namespaces/{namespace}. For example: namespaces/PROJECT_ID",
                  "type": "string",
                  "location": "path"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "path": "apis/run.googleapis.com/v1/{+name}:run",
              "id": "run.namespaces.jobs.run",
              "httpMethod": "POST",
              "request": {
                "$ref": "RunJobRequest"
              },
              "response": {
                "$ref": "Execution"
              },
              "flatPath": "apis/run.googleapis.com/v1/namespaces/{namespacesId}/jobs/{jobsId}:run",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/run"
              ]
            },
            "create": {
              "id": "run.namespaces.jobs.create",
              "response": {
                "$ref": "Job"
              },
              "httpMethod": "POST",
              "request": {
                "$ref": "Job"
              },
              "flatPath": "apis/run.googleapis.com/v1/namespaces/{namespacesId}/jobs",
              "description": "Create a job.",
              "path": "apis/run.googleapis.com/v1/{+parent}/jobs",
              "parameterOrder": [
                "parent"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/run"
              ],
              "parameters": {
                "dryRun": {
                  "description": "Optional. Indicates that the server should validate the request and populate default values without persisting the request. Supported values: `all`",
                  "type": "string",
                  "location": "query"
                },
                "parent": {
                  "required": true,
                  "type": "string",
                  "pattern": "^namespaces/[^/]+$",
                  "location": "path",
                  "description": "Required. The namespace in which the job should be created. Replace {namespace} with the project ID or number. It takes the form namespaces/{namespace}. For example: namespaces/PROJECT_ID"
                }
              }
            },
            "get": {
              "parameterOrder": [
                "name"
              ],
              "id": "run.namespaces.jobs.get",
              "httpMethod": "GET",
              "description": "Get information about a job.",
              "path": "apis/run.googleapis.com/v1/{+name}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/run",
                "https://www.googleapis.com/auth/run.readonly"
              ],
              "response": {
                "$ref": "Job"
              },
              "parameters": {
                "name": {
                  "location": "path",
                  "type": "string",
                  "pattern": "^namespaces/[^/]+/jobs/[^/]+$",
                  "description": "Required. The name of the job to retrieve. It takes the form namespaces/{namespace}/jobs/{job_name} and the `endpoint` must be regional. Replace {namespace} with the project ID or number.",
                  "required": true
                }
              },
              "flatPath": "apis/run.googleapis.com/v1/namespaces/{namespacesId}/jobs/{jobsId}"
            },
            "replaceJob": {
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "Job"
              },
              "flatPath": "apis/run.googleapis.com/v1/namespaces/{namespacesId}/jobs/{jobsId}",
              "parameters": {
                "name": {
                  "required": true,
                  "pattern": "^namespaces/[^/]+/jobs/[^/]+$",
                  "type": "string",
                  "description": "Required. The name of the job being replaced. Replace {namespace} with the project ID or number. It takes the form namespaces/{namespace}. For example: namespaces/PROJECT_ID",
                  "location": "path"
                },
                "dryRun": {
                  "location": "query",
                  "type": "string",
                  "description": "Optional. Indicates that the server should validate the request and populate default values without persisting the request. Supported values: `all`"
                }
              },
              "path": "apis/run.googleapis.com/v1/{+name}",
              "id": "run.namespaces.jobs.replaceJob",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/run"
              ],
              "httpMethod": "PUT",
              "request": {
                "$ref": "Job"
              },
              "description": "Replace a job. Only the spec and metadata labels and annotations are modifiable. After the Replace request, Cloud Run will work to make the 'status' match the requested 'spec'. May provide metadata.resourceVersion to enforce update from last read for optimistic concurrency control."
            },
            "delete": {
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "propagationPolicy": {
                  "description": "Optional. Specifies the propagation policy of delete. Cloud Run currently ignores this setting, and deletes in the background. Please see kubernetes.io/docs/concepts/workloads/controllers/garbage-collection/ for more information.",
                  "location": "query",
                  "type": "string"
                },
                "dryRun": {
                  "type": "string",
                  "description": "Optional. Indicates that the server should validate the request and populate default values without persisting the request. Supported values: `all`",
                  "location": "query"
                },
                "kind": {
                  "description": "Optional. Cloud Run currently ignores this parameter.",
                  "type": "string",
                  "location": "query"
                },
                "apiVersion": {
                  "location": "query",
                  "type": "string",
                  "description": "Optional. Cloud Run currently ignores this parameter."
                },
                "name": {
                  "type": "string",
                  "required": true,
                  "description": "Required. The name of the job to delete. Replace {namespace} with the project ID or number. It takes the form namespaces/{namespace}. For example: namespaces/PROJECT_ID",
                  "location": "path",
                  "pattern": "^namespaces/[^/]+/jobs/[^/]+$"
                }
              },
              "flatPath": "apis/run.googleapis.com/v1/namespaces/{namespacesId}/jobs/{jobsId}",
              "response": {
                "$ref": "Status"
              },
              "description": "Delete a job.",
              "httpMethod": "DELETE",
              "path": "apis/run.googleapis.com/v1/{+name}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/run"
              ],
              "id": "run.namespaces.jobs.delete"
            }
          }
        },
        "workerpools": {
          "methods": {
            "get": {
              "httpMethod": "GET",
              "flatPath": "apis/run.googleapis.com/v1/namespaces/{namespacesId}/workerpools/{workerpoolsId}",
              "response": {
                "$ref": "WorkerPool"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/run",
                "https://www.googleapis.com/auth/run.readonly"
              ],
              "path": "apis/run.googleapis.com/v1/{+name}",
              "parameterOrder": [
                "name"
              ],
              "description": "Gets information about a worker pool.",
              "id": "run.namespaces.workerpools.get",
              "parameters": {
                "name": {
                  "description": "Required. The fully qualified name of the worker pool to retrieve. It can be any of the following forms: * `namespaces/{project_id_or_number}/workerpools/{worker_pool_name}` (only when the `endpoint` is regional) * `projects/{project_id_or_number}/locations/{region}/workerpools/{worker_pool_name}` * `projects/{project_id_or_number}/regions/{region}/workerpools/{worker_pool_name}`",
                  "type": "string",
                  "required": true,
                  "location": "path",
                  "pattern": "^namespaces/[^/]+/workerpools/[^/]+$"
                }
              }
            },
            "create": {
              "id": "run.namespaces.workerpools.create",
              "parameters": {
                "parent": {
                  "description": "Required. The resource's parent. In Cloud Run, it may be one of the following: * `{project_id_or_number}` * `namespaces/{project_id_or_number}` * `namespaces/{project_id_or_number}/workerpools` * `projects/{project_id_or_number}/locations/{region}` * `projects/{project_id_or_number}/regions/{region}`",
                  "location": "path",
                  "type": "string",
                  "pattern": "^namespaces/[^/]+$",
                  "required": true
                },
                "dryRun": {
                  "description": "Indicates that the server should validate the request and populate default values without persisting the request. Supported values: `all`",
                  "location": "query",
                  "type": "string"
                }
              },
              "path": "apis/run.googleapis.com/v1/{+parent}/workerpools",
              "flatPath": "apis/run.googleapis.com/v1/namespaces/{namespacesId}/workerpools",
              "response": {
                "$ref": "WorkerPool"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/run"
              ],
              "description": "Creates a new WorkerPool. WorkerPool creation will trigger a new deployment. Use GetWorkerPool, and check worker_pool.status to determine if the WorkerPool is ready.",
              "request": {
                "$ref": "WorkerPool"
              },
              "httpMethod": "POST",
              "parameterOrder": [
                "parent"
              ]
            },
            "replaceWorkerPool": {
              "path": "apis/run.googleapis.com/v1/{+name}",
              "parameters": {
                "dryRun": {
                  "location": "query",
                  "description": "Indicates that the server should validate the request and populate default values without persisting the request. Supported values: `all`",
                  "type": "string"
                },
                "name": {
                  "required": true,
                  "type": "string",
                  "description": "Required. The fully qualified name of the worker pool to replace. It can be any of the following forms: * `namespaces/{project_id_or_number}/workerpools/{worker_pool_name}` (only when the `endpoint` is regional) * `projects/{project_id_or_number}/locations/{region}/workerpools/{worker_pool_name}` * `projects/{project_id_or_number}/regions/{region}/workerpools/{worker_pool_name}`",
                  "pattern": "^namespaces/[^/]+/workerpools/[^/]+$",
                  "location": "path"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/run"
              ],
              "id": "run.namespaces.workerpools.replaceWorkerPool",
              "description": "Replaces a worker pool. Only the spec and metadata labels and annotations are modifiable. After the Update request, Cloud Run will work to make the 'status' match the requested 'spec'. May provide metadata.resourceVersion to enforce update from last read for optimistic concurrency control.",
              "httpMethod": "PUT",
              "request": {
                "$ref": "WorkerPool"
              },
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "WorkerPool"
              },
              "flatPath": "apis/run.googleapis.com/v1/namespaces/{namespacesId}/workerpools/{workerpoolsId}"
            },
            "list": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/run",
                "https://www.googleapis.com/auth/run.readonly"
              ],
              "httpMethod": "GET",
              "description": "Lists worker pools for the given project and region. Results are sorted by creation time, descending.",
              "response": {
                "$ref": "ListWorkerPoolsResponse"
              },
              "flatPath": "apis/run.googleapis.com/v1/namespaces/{namespacesId}/workerpools",
              "parameters": {
                "limit": {
                  "description": "The maximum number of records that should be returned.",
                  "location": "query",
                  "format": "int32",
                  "type": "integer"
                },
                "labelSelector": {
                  "type": "string",
                  "description": "=, !=, exists, in, and notIn.",
                  "location": "query"
                },
                "parent": {
                  "location": "path",
                  "type": "string",
                  "pattern": "^namespaces/[^/]+$",
                  "description": "Required. The parent from where the resources should be listed. In Cloud Run, it may be one of the following: * `{project_id_or_number}` * `namespaces/{project_id_or_number}` * `namespaces/{project_id_or_number}/workerpools` * `projects/{project_id_or_number}/locations/{region}` * `projects/{project_id_or_number}/regions/{region}`",
                  "required": true
                },
                "continue": {
                  "type": "string",
                  "location": "query",
                  "description": "Encoded string to continue paging."
                }
              },
              "id": "run.namespaces.workerpools.list",
              "path": "apis/run.googleapis.com/v1/{+parent}/workerpools",
              "parameterOrder": [
                "parent"
              ]
            },
            "delete": {
              "httpMethod": "DELETE",
              "description": "Deletes the provided worker pool. This will cause the WorkerPool to stop all instances and will delete all associated WorkerPoolRevisions.",
              "id": "run.namespaces.workerpools.delete",
              "parameters": {
                "name": {
                  "pattern": "^namespaces/[^/]+/workerpools/[^/]+$",
                  "required": true,
                  "type": "string",
                  "description": "Required. The fully qualified name of the worker pool to delete. It can be any of the following forms: * `namespaces/{project_id_or_number}/workerpools/{worker_pool_name}` (only when the `endpoint` is regional) * `projects/{project_id_or_number}/locations/{region}/workerpools/{worker_pool_name}` * `projects/{project_id_or_number}/regions/{region}/workerpools/{worker_pool_name}`",
                  "location": "path"
                },
                "dryRun": {
                  "type": "string",
                  "description": "Indicates that the server should validate the request and populate default values without persisting the request. Supported values: `all`",
                  "location": "query"
                }
              },
              "path": "apis/run.googleapis.com/v1/{+name}",
              "response": {
                "$ref": "Status"
              },
              "parameterOrder": [
                "name"
              ],
              "flatPath": "apis/run.googleapis.com/v1/namespaces/{namespacesId}/workerpools/{workerpoolsId}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/run"
              ]
            }
          }
        },
        "instances": {
          "methods": {
            "start": {
              "response": {
                "$ref": "Instance"
              },
              "flatPath": "apis/run.googleapis.com/v1/namespaces/{namespacesId}/instances/{instancesId}:start",
              "request": {
                "$ref": "StartInstanceRequest"
              },
              "id": "run.namespaces.instances.start",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "location": "path",
                  "description": "Required. The name of the Instance to run. Replace {namespace} with the project ID or number. It takes the form namespaces/{namespace}. For example: namespaces/PROJECT_ID",
                  "type": "string",
                  "pattern": "^namespaces/[^/]+/instances/[^/]+$",
                  "required": true
                }
              },
              "description": "Start an Instance which has been stopped.",
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/run"
              ],
              "path": "apis/run.googleapis.com/v1/{+name}:start"
            },
            "list": {
              "parameters": {
                "limit": {
                  "type": "integer",
                  "location": "query",
                  "description": "Optional. The maximum number of records that should be returned.",
                  "format": "int32"
                },
                "continue": {
                  "description": "Optional. Optional encoded string to continue paging.",
                  "type": "string",
                  "location": "query"
                },
                "watch": {
                  "type": "boolean",
                  "location": "query",
                  "description": "Optional. Not supported by Cloud Run."
                },
                "resourceVersion": {
                  "location": "query",
                  "type": "string",
                  "description": "Optional. Not supported by Cloud Run."
                },
                "parent": {
                  "required": true,
                  "pattern": "^namespaces/[^/]+$",
                  "description": "Required. The parent from where the resources should be listed. In Cloud Run, it may be one of the following: * `{project_id_or_number}` * `namespaces/{project_id_or_number}` * `namespaces/{project_id_or_number}/instances` * `projects/{project_id_or_number}/locations/{region}` * `projects/{project_id_or_number}/regions/{region}` Parent resource namespace.",
                  "type": "string",
                  "location": "path"
                },
                "includeUninitialized": {
                  "type": "boolean",
                  "location": "query",
                  "description": "Optional. Not supported by Cloud Run."
                },
                "fieldSelector": {
                  "location": "query",
                  "type": "string",
                  "description": "Optional. Not supported by Cloud Run."
                },
                "labelSelector": {
                  "type": "string",
                  "location": "query",
                  "description": "Optional. Allows to filter resources based on a label. Supported operations are =, !=, exists, in, and notIn."
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "description": "List Instances. Results are sorted by creation time, descending.",
              "flatPath": "apis/run.googleapis.com/v1/namespaces/{namespacesId}/instances",
              "response": {
                "$ref": "ListInstancesResponse"
              },
              "path": "apis/run.googleapis.com/v1/{+parent}/instances",
              "id": "run.namespaces.instances.list",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/run",
                "https://www.googleapis.com/auth/run.readonly"
              ],
              "httpMethod": "GET"
            },
            "delete": {
              "description": "Delete an Instance.",
              "parameters": {
                "dryRun": {
                  "type": "string",
                  "description": "Optional. Indicates that the server should validate the request and populate default values without persisting the request. Supported values: `all`",
                  "location": "query"
                },
                "propagationPolicy": {
                  "location": "query",
                  "description": "Optional. Specifies the propagation policy of delete. Cloud Run currently ignores this setting, and deletes in the background. Please see kubernetes.io/docs/concepts/workloads/controllers/garbage-collection/ for more information.",
                  "type": "string"
                },
                "apiVersion": {
                  "location": "query",
                  "type": "string",
                  "description": "Optional. Cloud Run currently ignores this parameter."
                },
                "kind": {
                  "type": "string",
                  "description": "Optional. Cloud Run currently ignores this parameter.",
                  "location": "query"
                },
                "name": {
                  "description": "Required. The fully qualified name of the Instance to delete. It can be any of the following forms: * `namespaces/{project_id_or_number}/instances/{instance_name}` (only when the `endpoint` is regional) * `projects/{project_id_or_number}/locations/{region}/instances/{instance_name}` * `projects/{project_id_or_number}/regions/{region}/instances/{instance_name}` Parent resource namespace.",
                  "type": "string",
                  "pattern": "^namespaces/[^/]+/instances/[^/]+$",
                  "location": "path",
                  "required": true
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/run"
              ],
              "path": "apis/run.googleapis.com/v1/{+name}",
              "flatPath": "apis/run.googleapis.com/v1/namespaces/{namespacesId}/instances/{instancesId}",
              "response": {
                "$ref": "Status"
              },
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "DELETE",
              "id": "run.namespaces.instances.delete"
            },
            "get": {
              "response": {
                "$ref": "Instance"
              },
              "path": "apis/run.googleapis.com/v1/{+name}",
              "flatPath": "apis/run.googleapis.com/v1/namespaces/{namespacesId}/instances/{instancesId}",
              "id": "run.namespaces.instances.get",
              "parameters": {
                "name": {
                  "location": "path",
                  "description": "Required. The fully qualified name of the Instance to retrieve. It can be any of the following forms: * `namespaces/{project_id_or_number}/instances/{instance_name}` (only when the `endpoint` is regional) * `projects/{project_id_or_number}/locations/{region}/instances/{instance_name}` * `projects/{project_id_or_number}/regions/{region}/instances/{instance_name}` Parent resource namespace.",
                  "type": "string",
                  "pattern": "^namespaces/[^/]+/instances/[^/]+$",
                  "required": true
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/run",
                "https://www.googleapis.com/auth/run.readonly"
              ],
              "parameterOrder": [
                "name"
              ],
              "description": "Get an Instance.",
              "httpMethod": "GET"
            },
            "stop": {
              "parameters": {
                "name": {
                  "required": true,
                  "description": "Required. The name of the Instance to run. Replace {namespace} with the project ID or number. It takes the form namespaces/{namespace}. For example: namespaces/PROJECT_ID",
                  "type": "string",
                  "pattern": "^namespaces/[^/]+/instances/[^/]+$",
                  "location": "path"
                }
              },
              "flatPath": "apis/run.googleapis.com/v1/namespaces/{namespacesId}/instances/{instancesId}:stop",
              "response": {
                "$ref": "Instance"
              },
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/run"
              ],
              "request": {
                "$ref": "StopInstanceRequest"
              },
              "path": "apis/run.googleapis.com/v1/{+name}:stop",
              "httpMethod": "POST",
              "id": "run.namespaces.instances.stop",
              "description": "Stop an Instance that is running."
            },
            "replaceInstance": {
              "request": {
                "$ref": "Instance"
              },
              "description": "Replace an Instance.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/run"
              ],
              "parameters": {
                "name": {
                  "location": "path",
                  "description": "Required. The fully qualified name of the Instance being replaced. It can be any of the following forms: * `namespaces/{project_id_or_number}/instances/{instance_name}` (only when the `endpoint` is regional) * `projects/{project_id_or_number}/locations/{region}/instances/{instance_name}` * `projects/{project_id_or_number}/regions/{region}/instances/{instance_name}` Parent resource namespace.",
                  "type": "string",
                  "required": true,
                  "pattern": "^namespaces/[^/]+/instances/[^/]+$"
                },
                "dryRun": {
                  "location": "query",
                  "description": "Optional. Indicates that the server should validate the request and populate default values without persisting the request. Supported values: `all`",
                  "type": "string"
                }
              },
              "response": {
                "$ref": "Instance"
              },
              "flatPath": "apis/run.googleapis.com/v1/namespaces/{namespacesId}/instances/{instancesId}",
              "httpMethod": "PUT",
              "id": "run.namespaces.instances.replaceInstance",
              "parameterOrder": [
                "name"
              ],
              "path": "apis/run.googleapis.com/v1/{+name}"
            },
            "create": {
              "flatPath": "apis/run.googleapis.com/v1/namespaces/{namespacesId}/instances",
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "Instance"
              },
              "description": "Create an Instance.",
              "path": "apis/run.googleapis.com/v1/{+parent}/instances",
              "parameters": {
                "dryRun": {
                  "location": "query",
                  "description": "Optional. Indicates that the server should validate the request and populate default values without persisting the request. Supported values: `all`",
                  "type": "string"
                },
                "parent": {
                  "pattern": "^namespaces/[^/]+$",
                  "required": true,
                  "description": "Required. The resource's parent. In Cloud Run, it may be one of the following: * `{project_id_or_number}` * `namespaces/{project_id_or_number}` * `namespaces/{project_id_or_number}/instances` * `projects/{project_id_or_number}/locations/{region}` * `projects/{project_id_or_number}/regions/{region}` Parent resource namespace.",
                  "type": "string",
                  "location": "path"
                }
              },
              "id": "run.namespaces.instances.create",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/run"
              ],
              "httpMethod": "POST",
              "request": {
                "$ref": "Instance"
              }
            }
          }
        },
        "services": {
          "methods": {
            "get": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/run",
                "https://www.googleapis.com/auth/run.readonly"
              ],
              "path": "apis/serving.knative.dev/v1/{+name}",
              "description": "Gets information about a service.",
              "parameters": {
                "name": {
                  "location": "path",
                  "pattern": "^namespaces/[^/]+/services/[^/]+$",
                  "description": "Required. The fully qualified name of the service to retrieve. It can be any of the following forms: * `namespaces/{project_id_or_number}/services/{service_name}` (only when the `endpoint` is regional) * `projects/{project_id_or_number}/locations/{region}/services/{service_name}` * `projects/{project_id_or_number}/regions/{region}/services/{service_name}`",
                  "type": "string",
                  "required": true
                }
              },
              "flatPath": "apis/serving.knative.dev/v1/namespaces/{namespacesId}/services/{servicesId}",
              "response": {
                "$ref": "Service"
              },
              "parameterOrder": [
                "name"
              ],
              "id": "run.namespaces.services.get",
              "httpMethod": "GET"
            },
            "list": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/run",
                "https://www.googleapis.com/auth/run.readonly"
              ],
              "id": "run.namespaces.services.list",
              "description": "Lists services for the given project and region. Results are sorted by creation time, descending.",
              "flatPath": "apis/serving.knative.dev/v1/namespaces/{namespacesId}/services",
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "ListServicesResponse"
              },
              "parameters": {
                "limit": {
                  "location": "query",
                  "type": "integer",
                  "format": "int32",
                  "description": "The maximum number of records that should be returned."
                },
                "watch": {
                  "type": "boolean",
                  "location": "query",
                  "description": "Not supported, and ignored by Cloud Run."
                },
                "includeUninitialized": {
                  "type": "boolean",
                  "location": "query",
                  "description": "Not supported, and ignored by Cloud Run."
                },
                "parent": {
                  "location": "path",
                  "pattern": "^namespaces/[^/]+$",
                  "description": "Required. The parent from where the resources should be listed. In Cloud Run, it may be one of the following: * `{project_id_or_number}` * `namespaces/{project_id_or_number}` * `namespaces/{project_id_or_number}/services` * `projects/{project_id_or_number}/locations/{region}` * `projects/{project_id_or_number}/regions/{region}`",
                  "type": "string",
                  "required": true
                },
                "resourceVersion": {
                  "description": "Not supported, and ignored by Cloud Run.",
                  "location": "query",
                  "type": "string"
                },
                "fieldSelector": {
                  "description": "Not supported, and ignored by Cloud Run.",
                  "location": "query",
                  "type": "string"
                },
                "labelSelector": {
                  "description": "Allows to filter resources based on a label. Supported operations are =, !=, exists, in, and notIn.",
                  "type": "string",
                  "location": "query"
                },
                "continue": {
                  "description": "Encoded string to continue paging.",
                  "location": "query",
                  "type": "string"
                }
              },
              "path": "apis/serving.knative.dev/v1/{+parent}/services",
              "httpMethod": "GET"
            },
            "replaceService": {
              "parameters": {
                "name": {
                  "type": "string",
                  "required": true,
                  "location": "path",
                  "pattern": "^namespaces/[^/]+/services/[^/]+$",
                  "description": "Required. The fully qualified name of the service to replace. It can be any of the following forms: * `namespaces/{project_id_or_number}/services/{service_name}` (only when the `endpoint` is regional) * `projects/{project_id_or_number}/locations/{region}/services/{service_name}` * `projects/{project_id_or_number}/regions/{region}/services/{service_name}`"
                },
                "dryRun": {
                  "location": "query",
                  "type": "string",
                  "description": "Indicates that the server should validate the request and populate default values without persisting the request. Supported values: `all`"
                }
              },
              "flatPath": "apis/serving.knative.dev/v1/namespaces/{namespacesId}/services/{servicesId}",
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/run"
              ],
              "response": {
                "$ref": "Service"
              },
              "request": {
                "$ref": "Service"
              },
              "id": "run.namespaces.services.replaceService",
              "httpMethod": "PUT",
              "description": "Replaces a service. Only the spec and metadata labels and annotations are modifiable. After the Update request, Cloud Run will work to make the 'status' match the requested 'spec'. May provide metadata.resourceVersion to enforce update from last read for optimistic concurrency control.",
              "path": "apis/serving.knative.dev/v1/{+name}"
            },
            "delete": {
              "path": "apis/serving.knative.dev/v1/{+name}",
              "description": "Deletes the provided service. This will cause the Service to stop serving traffic and will delete all associated Revisions.",
              "httpMethod": "DELETE",
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "Status"
              },
              "id": "run.namespaces.services.delete",
              "flatPath": "apis/serving.knative.dev/v1/namespaces/{namespacesId}/services/{servicesId}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/run"
              ],
              "parameters": {
                "apiVersion": {
                  "location": "query",
                  "description": "Not supported, and ignored by Cloud Run.",
                  "type": "string"
                },
                "propagationPolicy": {
                  "location": "query",
                  "description": "Not supported, and ignored by Cloud Run.",
                  "type": "string"
                },
                "dryRun": {
                  "type": "string",
                  "description": "Indicates that the server should validate the request and populate default values without persisting the request. Supported values: `all`",
                  "location": "query"
                },
                "kind": {
                  "description": "Not supported, and ignored by Cloud Run.",
                  "location": "query",
                  "type": "string"
                },
                "name": {
                  "pattern": "^namespaces/[^/]+/services/[^/]+$",
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "description": "Required. The fully qualified name of the service to delete. It can be any of the following forms: * `namespaces/{project_id_or_number}/services/{service_name}` (only when the `endpoint` is regional) * `projects/{project_id_or_number}/locations/{region}/services/{service_name}` * `projects/{project_id_or_number}/regions/{region}/services/{service_name}`"
                }
              }
            },
            "create": {
              "parameters": {
                "dryRun": {
                  "description": "Indicates that the server should validate the request and populate default values without persisting the request. Supported values: `all`",
                  "location": "query",
                  "type": "string"
                },
                "parent": {
                  "required": true,
                  "description": "Required. The resource's parent. In Cloud Run, it may be one of the following: * `{project_id_or_number}` * `namespaces/{project_id_or_number}` * `namespaces/{project_id_or_number}/services` * `projects/{project_id_or_number}/locations/{region}` * `projects/{project_id_or_number}/regions/{region}`",
                  "pattern": "^namespaces/[^/]+$",
                  "type": "string",
                  "location": "path"
                }
              },
              "request": {
                "$ref": "Service"
              },
              "description": "Creates a new Service. Service creation will trigger a new deployment. Use GetService, and check service.status to determine if the Service is ready.",
              "parameterOrder": [
                "parent"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/run"
              ],
              "id": "run.namespaces.services.create",
              "flatPath": "apis/serving.knative.dev/v1/namespaces/{namespacesId}/services",
              "path": "apis/serving.knative.dev/v1/{+parent}/services",
              "response": {
                "$ref": "Service"
              },
              "httpMethod": "POST"
            }
          }
        },
        "executions": {
          "methods": {
            "cancel": {
              "httpMethod": "POST",
              "path": "apis/run.googleapis.com/v1/{+name}:cancel",
              "response": {
                "$ref": "Execution"
              },
              "id": "run.namespaces.executions.cancel",
              "flatPath": "apis/run.googleapis.com/v1/namespaces/{namespacesId}/executions/{executionsId}:cancel",
              "parameters": {
                "name": {
                  "pattern": "^namespaces/[^/]+/executions/[^/]+$",
                  "location": "path",
                  "required": true,
                  "description": "Required. The name of the execution to cancel. Replace {namespace} with the project ID or number. It takes the form namespaces/{namespace}. For example: namespaces/PROJECT_ID",
                  "type": "string"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/run"
              ],
              "description": "Cancel an execution.",
              "request": {
                "$ref": "CancelExecutionRequest"
              },
              "parameterOrder": [
                "name"
              ]
            },
            "list": {
              "httpMethod": "GET",
              "path": "apis/run.googleapis.com/v1/{+parent}/executions",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/run",
                "https://www.googleapis.com/auth/run.readonly"
              ],
              "id": "run.namespaces.executions.list",
              "parameterOrder": [
                "parent"
              ],
              "description": "List executions. Results are sorted by creation time, descending.",
              "parameters": {
                "limit": {
                  "format": "int32",
                  "location": "query",
                  "description": "Optional. The maximum number of the records that should be returned.",
                  "type": "integer"
                },
                "continue": {
                  "description": "Optional. Optional encoded string to continue paging.",
                  "location": "query",
                  "type": "string"
                },
                "watch": {
                  "type": "boolean",
                  "description": "Optional. Not supported by Cloud Run.",
                  "location": "query"
                },
                "includeUninitialized": {
                  "description": "Optional. Not supported by Cloud Run.",
                  "type": "boolean",
                  "location": "query"
                },
                "resourceVersion": {
                  "description": "Optional. Not supported by Cloud Run.",
                  "location": "query",
                  "type": "string"
                },
                "fieldSelector": {
                  "description": "Optional. Not supported by Cloud Run.",
                  "type": "string",
                  "location": "query"
                },
                "labelSelector": {
                  "type": "string",
                  "location": "query",
                  "description": "Optional. Allows to filter resources based on a label. Supported operations are =, !=, exists, in, and notIn."
                },
                "parent": {
                  "description": "Required. The namespace from which the executions should be listed. Replace {namespace} with the project ID or number. It takes the form namespaces/{namespace}. For example: namespaces/PROJECT_ID",
                  "required": true,
                  "pattern": "^namespaces/[^/]+$",
                  "type": "string",
                  "location": "path"
                }
              },
              "flatPath": "apis/run.googleapis.com/v1/namespaces/{namespacesId}/executions",
              "response": {
                "$ref": "ListExecutionsResponse"
              }
            },
            "get": {
              "flatPath": "apis/run.googleapis.com/v1/namespaces/{namespacesId}/executions/{executionsId}",
              "response": {
                "$ref": "Execution"
              },
              "path": "apis/run.googleapis.com/v1/{+name}",
              "httpMethod": "GET",
              "parameterOrder": [
                "name"
              ],
              "description": "Get information about an execution.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/run",
                "https://www.googleapis.com/auth/run.readonly"
              ],
              "id": "run.namespaces.executions.get",
              "parameters": {
                "name": {
                  "description": "Required. The name of the execution to retrieve. Replace {namespace} with the project ID or number. It takes the form namespaces/{namespace}. For example: namespaces/PROJECT_ID",
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "pattern": "^namespaces/[^/]+/executions/[^/]+$"
                }
              }
            },
            "delete": {
              "parameterOrder": [
                "name"
              ],
              "id": "run.namespaces.executions.delete",
              "parameters": {
                "kind": {
                  "type": "string",
                  "location": "query",
                  "description": "Optional. Cloud Run currently ignores this parameter."
                },
                "apiVersion": {
                  "description": "Optional. Cloud Run currently ignores this parameter.",
                  "type": "string",
                  "location": "query"
                },
                "name": {
                  "location": "path",
                  "pattern": "^namespaces/[^/]+/executions/[^/]+$",
                  "description": "Required. The name of the execution to delete. Replace {namespace} with the project ID or number. It takes the form namespaces/{namespace}. For example: namespaces/PROJECT_ID",
                  "required": true,
                  "type": "string"
                },
                "propagationPolicy": {
                  "location": "query",
                  "description": "Optional. Specifies the propagation policy of delete. Cloud Run currently ignores this setting.",
                  "type": "string"
                }
              },
              "flatPath": "apis/run.googleapis.com/v1/namespaces/{namespacesId}/executions/{executionsId}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/run"
              ],
              "response": {
                "$ref": "Status"
              },
              "description": "Delete an execution.",
              "path": "apis/run.googleapis.com/v1/{+name}",
              "httpMethod": "DELETE"
            }
          }
        },
        "domainmappings": {
          "methods": {
            "delete": {
              "parameters": {
                "apiVersion": {
                  "location": "query",
                  "type": "string",
                  "description": "Cloud Run currently ignores this parameter."
                },
                "propagationPolicy": {
                  "type": "string",
                  "description": "Specifies the propagation policy of delete. Cloud Run currently ignores this setting, and deletes in the background. Please see kubernetes.io/docs/concepts/architecture/garbage-collection/ for more information.",
                  "location": "query"
                },
                "kind": {
                  "description": "Cloud Run currently ignores this parameter.",
                  "type": "string",
                  "location": "query"
                },
                "dryRun": {
                  "description": "Indicates that the server should validate the request and populate default values without persisting the request. Supported values: `all`",
                  "location": "query",
                  "type": "string"
                },
                "name": {
                  "location": "path",
                  "pattern": "^namespaces/[^/]+/domainmappings/[^/]+$",
                  "type": "string",
                  "required": true,
                  "description": "Required. The name of the domain mapping to delete. For Cloud Run (fully managed), replace {namespace} with the project ID or number. It takes the form namespaces/{namespace}. For example: namespaces/PROJECT_ID"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "description": "Delete a domain mapping.",
              "httpMethod": "DELETE",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/run"
              ],
              "response": {
                "$ref": "Status"
              },
              "flatPath": "apis/domains.cloudrun.com/v1/namespaces/{namespacesId}/domainmappings/{domainmappingsId}",
              "id": "run.namespaces.domainmappings.delete",
              "path": "apis/domains.cloudrun.com/v1/{+name}"
            },
            "get": {
              "parameterOrder": [
                "name"
              ],
              "path": "apis/domains.cloudrun.com/v1/{+name}",
              "id": "run.namespaces.domainmappings.get",
              "parameters": {
                "name": {
                  "type": "string",
                  "required": true,
                  "location": "path",
                  "pattern": "^namespaces/[^/]+/domainmappings/[^/]+$",
                  "description": "Required. The name of the domain mapping to retrieve. For Cloud Run (fully managed), replace {namespace} with the project ID or number. It takes the form namespaces/{namespace}. For example: namespaces/PROJECT_ID"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/run",
                "https://www.googleapis.com/auth/run.readonly"
              ],
              "response": {
                "$ref": "DomainMapping"
              },
              "flatPath": "apis/domains.cloudrun.com/v1/namespaces/{namespacesId}/domainmappings/{domainmappingsId}",
              "httpMethod": "GET",
              "description": "Get information about a domain mapping."
            },
            "create": {
              "parameters": {
                "parent": {
                  "required": true,
                  "type": "string",
                  "pattern": "^namespaces/[^/]+$",
                  "description": "Required. The namespace in which the domain mapping should be created. For Cloud Run (fully managed), replace {namespace} with the project ID or number. It takes the form namespaces/{namespace}. For example: namespaces/PROJECT_ID",
                  "location": "path"
                },
                "dryRun": {
                  "location": "query",
                  "type": "string",
                  "description": "Indicates that the server should validate the request and populate default values without persisting the request. Supported values: `all`"
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "id": "run.namespaces.domainmappings.create",
              "description": "Create a new domain mapping.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/run"
              ],
              "path": "apis/domains.cloudrun.com/v1/{+parent}/domainmappings",
              "request": {
                "$ref": "DomainMapping"
              },
              "flatPath": "apis/domains.cloudrun.com/v1/namespaces/{namespacesId}/domainmappings",
              "httpMethod": "POST",
              "response": {
                "$ref": "DomainMapping"
              }
            },
            "list": {
              "path": "apis/domains.cloudrun.com/v1/{+parent}/domainmappings",
              "description": "List all domain mappings.",
              "httpMethod": "GET",
              "parameterOrder": [
                "parent"
              ],
              "id": "run.namespaces.domainmappings.list",
              "flatPath": "apis/domains.cloudrun.com/v1/namespaces/{namespacesId}/domainmappings",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/run",
                "https://www.googleapis.com/auth/run.readonly"
              ],
              "response": {
                "$ref": "ListDomainMappingsResponse"
              },
              "parameters": {
                "resourceVersion": {
                  "type": "string",
                  "description": "The baseline resource version from which the list or watch operation should start. Not currently used by Cloud Run.",
                  "location": "query"
                },
                "continue": {
                  "description": "Optional. Encoded string to continue paging.",
                  "location": "query",
                  "type": "string"
                },
                "labelSelector": {
                  "description": "Allows to filter resources based on a label. Supported operations are =, !=, exists, in, and notIn.",
                  "type": "string",
                  "location": "query"
                },
                "parent": {
                  "pattern": "^namespaces/[^/]+$",
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "description": "Required. The namespace from which the domain mappings should be listed. For Cloud Run (fully managed), replace {namespace} with the project ID or number. It takes the form namespaces/{namespace}. For example: namespaces/PROJECT_ID"
                },
                "includeUninitialized": {
                  "type": "boolean",
                  "location": "query",
                  "description": "Not currently used by Cloud Run."
                },
                "fieldSelector": {
                  "description": "Allows to filter resources based on a specific value for a field name. Send this in a query string format. i.e. 'metadata.name%3Dlorem'. Not currently used by Cloud Run.",
                  "location": "query",
                  "type": "string"
                },
                "watch": {
                  "description": "Flag that indicates that the client expects to watch this resource as well. Not currently used by Cloud Run.",
                  "location": "query",
                  "type": "boolean"
                },
                "limit": {
                  "description": "Optional. The maximum number of records that should be returned.",
                  "location": "query",
                  "type": "integer",
                  "format": "int32"
                }
              }
            }
          }
        },
        "routes": {
          "methods": {
            "get": {
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/run",
                "https://www.googleapis.com/auth/run.readonly"
              ],
              "response": {
                "$ref": "Route"
              },
              "description": "Get information about a route.",
              "flatPath": "apis/serving.knative.dev/v1/namespaces/{namespacesId}/routes/{routesId}",
              "id": "run.namespaces.routes.get",
              "parameters": {
                "name": {
                  "location": "path",
                  "description": "The name of the route to retrieve. For Cloud Run (fully managed), replace {namespace} with the project ID or number. It takes the form namespaces/{namespace}. For example: namespaces/PROJECT_ID",
                  "pattern": "^namespaces/[^/]+/routes/[^/]+$",
                  "required": true,
                  "type": "string"
                }
              },
              "path": "apis/serving.knative.dev/v1/{+name}",
              "parameterOrder": [
                "name"
              ]
            },
            "list": {
              "path": "apis/serving.knative.dev/v1/{+parent}/routes",
              "httpMethod": "GET",
              "parameterOrder": [
                "parent"
              ],
              "description": "List routes. Results are sorted by creation time, descending.",
              "response": {
                "$ref": "ListRoutesResponse"
              },
              "flatPath": "apis/serving.knative.dev/v1/namespaces/{namespacesId}/routes",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/run",
                "https://www.googleapis.com/auth/run.readonly"
              ],
              "id": "run.namespaces.routes.list",
              "parameters": {
                "fieldSelector": {
                  "description": "Allows to filter resources based on a specific value for a field name. Send this in a query string format. i.e. 'metadata.name%3Dlorem'. Not currently used by Cloud Run.",
                  "location": "query",
                  "type": "string"
                },
                "labelSelector": {
                  "location": "query",
                  "description": "Allows to filter resources based on a label. Supported operations are =, !=, exists, in, and notIn.",
                  "type": "string"
                },
                "continue": {
                  "description": "Optional. Encoded string to continue paging.",
                  "type": "string",
                  "location": "query"
                },
                "limit": {
                  "location": "query",
                  "format": "int32",
                  "description": "Optional. The maximum number of records that should be returned.",
                  "type": "integer"
                },
                "watch": {
                  "type": "boolean",
                  "description": "Flag that indicates that the client expects to watch this resource as well. Not currently used by Cloud Run.",
                  "location": "query"
                },
                "includeUninitialized": {
                  "type": "boolean",
                  "location": "query",
                  "description": "Not currently used by Cloud Run."
                },
                "resourceVersion": {
                  "description": "The baseline resource version from which the list or watch operation should start. Not currently used by Cloud Run.",
                  "location": "query",
                  "type": "string"
                },
                "parent": {
                  "type": "string",
                  "pattern": "^namespaces/[^/]+$",
                  "required": true,
                  "location": "path",
                  "description": "The namespace from which the routes should be listed. For Cloud Run (fully managed), replace {namespace} with the project ID or number. It takes the form namespaces/{namespace}. For example: namespaces/PROJECT_ID"
                }
              }
            }
          }
        },
        "configurations": {
          "methods": {
            "list": {
              "httpMethod": "GET",
              "description": "List configurations. Results are sorted by creation time, descending.",
              "path": "apis/serving.knative.dev/v1/{+parent}/configurations",
              "response": {
                "$ref": "ListConfigurationsResponse"
              },
              "flatPath": "apis/serving.knative.dev/v1/namespaces/{namespacesId}/configurations",
              "id": "run.namespaces.configurations.list",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/run",
                "https://www.googleapis.com/auth/run.readonly"
              ],
              "parameters": {
                "resourceVersion": {
                  "location": "query",
                  "type": "string",
                  "description": "Not supported by Cloud Run."
                },
                "continue": {
                  "description": "Optional. Encoded string to continue paging.",
                  "type": "string",
                  "location": "query"
                },
                "labelSelector": {
                  "description": "Allows to filter resources based on a label. Supported operations are =, !=, exists, in, and notIn.",
                  "location": "query",
                  "type": "string"
                },
                "parent": {
                  "type": "string",
                  "pattern": "^namespaces/[^/]+$",
                  "location": "path",
                  "required": true,
                  "description": "The namespace from which the configurations should be listed. For Cloud Run, replace {namespace_id} with the project ID or number."
                },
                "includeUninitialized": {
                  "description": "Not supported by Cloud Run.",
                  "location": "query",
                  "type": "boolean"
                },
                "limit": {
                  "type": "integer",
                  "description": "Optional. The maximum number of the records that should be returned.",
                  "format": "int32",
                  "location": "query"
                },
                "fieldSelector": {
                  "description": "Not supported by Cloud Run.",
                  "type": "string",
                  "location": "query"
                },
                "watch": {
                  "description": "Not supported by Cloud Run.",
                  "type": "boolean",
                  "location": "query"
                }
              },
              "parameterOrder": [
                "parent"
              ]
            },
            "get": {
              "flatPath": "apis/serving.knative.dev/v1/namespaces/{namespacesId}/configurations/{configurationsId}",
              "description": "Get information about a configuration.",
              "response": {
                "$ref": "Configuration"
              },
              "parameters": {
                "name": {
                  "type": "string",
                  "description": "The name of the configuration to retrieve. For Cloud Run, replace {namespace_id} with the project ID or number.",
                  "required": true,
                  "location": "path",
                  "pattern": "^namespaces/[^/]+/configurations/[^/]+$"
                }
              },
              "path": "apis/serving.knative.dev/v1/{+name}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/run",
                "https://www.googleapis.com/auth/run.readonly"
              ],
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "GET",
              "id": "run.namespaces.configurations.get"
            }
          }
        },
        "tasks": {
          "methods": {
            "get": {
              "parameterOrder": [
                "name"
              ],
              "id": "run.namespaces.tasks.get",
              "httpMethod": "GET",
              "description": "Get information about a task.",
              "response": {
                "$ref": "Task"
              },
              "flatPath": "apis/run.googleapis.com/v1/namespaces/{namespacesId}/tasks/{tasksId}",
              "path": "apis/run.googleapis.com/v1/{+name}",
              "parameters": {
                "name": {
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "description": "Required. The name of the task to retrieve. Replace {namespace} with the project ID or number. It takes the form namespaces/{namespace}. For example: namespaces/PROJECT_ID",
                  "pattern": "^namespaces/[^/]+/tasks/[^/]+$"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/run",
                "https://www.googleapis.com/auth/run.readonly"
              ]
            },
            "list": {
              "parameterOrder": [
                "parent"
              ],
              "description": "List tasks.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/run",
                "https://www.googleapis.com/auth/run.readonly"
              ],
              "httpMethod": "GET",
              "flatPath": "apis/run.googleapis.com/v1/namespaces/{namespacesId}/tasks",
              "response": {
                "$ref": "ListTasksResponse"
              },
              "path": "apis/run.googleapis.com/v1/{+parent}/tasks",
              "id": "run.namespaces.tasks.list",
              "parameters": {
                "resourceVersion": {
                  "type": "string",
                  "location": "query",
                  "description": "Optional. Not supported by Cloud Run."
                },
                "parent": {
                  "type": "string",
                  "description": "Required. The namespace from which the tasks should be listed. Replace {namespace} with the project ID or number. It takes the form namespaces/{namespace}. For example: namespaces/PROJECT_ID",
                  "required": true,
                  "pattern": "^namespaces/[^/]+$",
                  "location": "path"
                },
                "continue": {
                  "location": "query",
                  "description": "Optional. Optional encoded string to continue paging.",
                  "type": "string"
                },
                "limit": {
                  "format": "int32",
                  "location": "query",
                  "description": "Optional. The maximum number of records that should be returned.",
                  "type": "integer"
                },
                "watch": {
                  "description": "Optional. Not supported by Cloud Run.",
                  "location": "query",
                  "type": "boolean"
                },
                "fieldSelector": {
                  "type": "string",
                  "location": "query",
                  "description": "Optional. Not supported by Cloud Run."
                },
                "labelSelector": {
                  "location": "query",
                  "type": "string",
                  "description": "Optional. Allows to filter resources based on a label. Supported operations are =, !=, exists, in, and notIn. For example, to list all tasks of execution \"foo\" in succeeded state: `run.googleapis.com/execution=foo,run.googleapis.com/runningState=Succeeded`. Supported states are: * `Pending`: Initial state of all tasks. The task has not yet started but eventually will. * `Running`: Container instances for this task are running or will be running shortly. * `Succeeded`: No more container instances to run for the task, and the last attempt succeeded. * `Failed`: No more container instances to run for the task, and the last attempt failed. This task has run out of retry attempts. * `Cancelled`: Task was running but got stopped because its parent execution has been aborted. * `Abandoned`: The task has not yet started and never will because its parent execution has been aborted."
                },
                "includeUninitialized": {
                  "location": "query",
                  "type": "boolean",
                  "description": "Optional. Not supported by Cloud Run."
                }
              }
            }
          }
        },
        "authorizeddomains": {
          "methods": {
            "list": {
              "path": "apis/domains.cloudrun.com/v1/{+parent}/authorizeddomains",
              "id": "run.namespaces.authorizeddomains.list",
              "httpMethod": "GET",
              "flatPath": "apis/domains.cloudrun.com/v1/namespaces/{namespacesId}/authorizeddomains",
              "response": {
                "$ref": "ListAuthorizedDomainsResponse"
              },
              "parameterOrder": [
                "parent"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/run",
                "https://www.googleapis.com/auth/run.readonly"
              ],
              "description": "List authorized domains.",
              "parameters": {
                "pageToken": {
                  "type": "string",
                  "description": "Continuation token for fetching the next page of results.",
                  "location": "query"
                },
                "pageSize": {
                  "type": "integer",
                  "description": "Maximum results to return per page.",
                  "format": "int32",
                  "location": "query"
                },
                "parent": {
                  "description": "Name of the parent Project resource. Example: `projects/myproject`.",
                  "required": true,
                  "pattern": "^namespaces/[^/]+$",
                  "type": "string",
                  "location": "path"
                }
              }
            }
          }
        }
      }
    },
    "projects": {
      "resources": {
        "authorizeddomains": {
          "methods": {
            "list": {
              "flatPath": "v1/projects/{projectsId}/authorizeddomains",
              "response": {
                "$ref": "ListAuthorizedDomainsResponse"
              },
              "parameters": {
                "pageSize": {
                  "location": "query",
                  "description": "Maximum results to return per page.",
                  "format": "int32",
                  "type": "integer"
                },
                "pageToken": {
                  "description": "Continuation token for fetching the next page of results.",
                  "location": "query",
                  "type": "string"
                },
                "parent": {
                  "required": true,
                  "pattern": "^projects/[^/]+$",
                  "type": "string",
                  "description": "Name of the parent Project resource. Example: `projects/myproject`.",
                  "location": "path"
                }
              },
              "description": "List authorized domains.",
              "parameterOrder": [
                "parent"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/run",
                "https://www.googleapis.com/auth/run.readonly"
              ],
              "path": "v1/{+parent}/authorizeddomains",
              "id": "run.projects.authorizeddomains.list",
              "httpMethod": "GET"
            }
          }
        },
        "locations": {
          "resources": {
            "routes": {
              "methods": {
                "get": {
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/routes/[^/]+$",
                      "required": true,
                      "location": "path",
                      "type": "string",
                      "description": "The name of the route to retrieve. For Cloud Run (fully managed), replace {namespace} with the project ID or number. It takes the form namespaces/{namespace}. For example: namespaces/PROJECT_ID"
                    }
                  },
                  "id": "run.projects.locations.routes.get",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/routes/{routesId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/run",
                    "https://www.googleapis.com/auth/run.readonly"
                  ],
                  "response": {
                    "$ref": "Route"
                  },
                  "path": "v1/{+name}",
                  "description": "Get information about a route.",
                  "httpMethod": "GET"
                },
                "list": {
                  "parameterOrder": [
                    "parent"
                  ],
                  "parameters": {
                    "continue": {
                      "type": "string",
                      "location": "query",
                      "description": "Optional. Encoded string to continue paging."
                    },
                    "parent": {
                      "location": "path",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "description": "The namespace from which the routes should be listed. For Cloud Run (fully managed), replace {namespace} with the project ID or number. It takes the form namespaces/{namespace}. For example: namespaces/PROJECT_ID",
                      "required": true
                    },
                    "includeUninitialized": {
                      "location": "query",
                      "description": "Not currently used by Cloud Run.",
                      "type": "boolean"
                    },
                    "fieldSelector": {
                      "type": "string",
                      "location": "query",
                      "description": "Allows to filter resources based on a specific value for a field name. Send this in a query string format. i.e. 'metadata.name%3Dlorem'. Not currently used by Cloud Run."
                    },
                    "resourceVersion": {
                      "location": "query",
                      "type": "string",
                      "description": "The baseline resource version from which the list or watch operation should start. Not currently used by Cloud Run."
                    },
                    "limit": {
                      "location": "query",
                      "type": "integer",
                      "format": "int32",
                      "description": "Optional. The maximum number of records that should be returned."
                    },
                    "labelSelector": {
                      "type": "string",
                      "description": "Allows to filter resources based on a label. Supported operations are =, !=, exists, in, and notIn.",
                      "location": "query"
                    },
                    "watch": {
                      "location": "query",
                      "type": "boolean",
                      "description": "Flag that indicates that the client expects to watch this resource as well. Not currently used by Cloud Run."
                    }
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/routes",
                  "description": "List routes. Results are sorted by creation time, descending.",
                  "path": "v1/{+parent}/routes",
                  "id": "run.projects.locations.routes.list",
                  "response": {
                    "$ref": "ListRoutesResponse"
                  },
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/run",
                    "https://www.googleapis.com/auth/run.readonly"
                  ]
                }
              }
            },
            "revisions": {
              "methods": {
                "delete": {
                  "description": "Delete a revision.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/run"
                  ],
                  "httpMethod": "DELETE",
                  "response": {
                    "$ref": "Status"
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/revisions/{revisionsId}",
                  "id": "run.projects.locations.revisions.delete",
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "type": "string",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/revisions/[^/]+$",
                      "required": true,
                      "description": "The name of the revision to delete. For Cloud Run (fully managed), replace {namespace} with the project ID or number. It takes the form namespaces/{namespace}. For example: namespaces/PROJECT_ID"
                    },
                    "dryRun": {
                      "location": "query",
                      "description": "Indicates that the server should validate the request and populate default values without persisting the request. Supported values: `all`",
                      "type": "string"
                    },
                    "kind": {
                      "description": "Cloud Run currently ignores this parameter.",
                      "type": "string",
                      "location": "query"
                    },
                    "apiVersion": {
                      "type": "string",
                      "description": "Cloud Run currently ignores this parameter.",
                      "location": "query"
                    },
                    "propagationPolicy": {
                      "description": "Specifies the propagation policy of delete. Cloud Run currently ignores this setting, and deletes in the background.",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "path": "v1/{+name}"
                },
                "list": {
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/revisions",
                  "response": {
                    "$ref": "ListRevisionsResponse"
                  },
                  "httpMethod": "GET",
                  "description": "List revisions. Results are sorted by creation time, descending.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/run",
                    "https://www.googleapis.com/auth/run.readonly"
                  ],
                  "parameters": {
                    "limit": {
                      "description": "Optional. The maximum number of records that should be returned.",
                      "format": "int32",
                      "location": "query",
                      "type": "integer"
                    },
                    "includeUninitialized": {
                      "description": "Not currently used by Cloud Run.",
                      "type": "boolean",
                      "location": "query"
                    },
                    "watch": {
                      "description": "Flag that indicates that the client expects to watch this resource as well. Not currently used by Cloud Run.",
                      "location": "query",
                      "type": "boolean"
                    },
                    "fieldSelector": {
                      "type": "string",
                      "location": "query",
                      "description": "Allows to filter resources based on a specific value for a field name. Send this in a query string format. i.e. 'metadata.name%3Dlorem'. Not currently used by Cloud Run."
                    },
                    "resourceVersion": {
                      "location": "query",
                      "description": "The baseline resource version from which the list or watch operation should start. Not currently used by Cloud Run.",
                      "type": "string"
                    },
                    "continue": {
                      "type": "string",
                      "description": "Optional. Encoded string to continue paging.",
                      "location": "query"
                    },
                    "labelSelector": {
                      "description": "Allows to filter resources based on a label. Supported operations are =, !=, exists, in, and notIn.",
                      "location": "query",
                      "type": "string"
                    },
                    "parent": {
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "description": "The namespace from which the revisions should be listed. For Cloud Run (fully managed), replace {namespace} with the project ID or number. It takes the form namespaces/{namespace}. For example: namespaces/PROJECT_ID",
                      "type": "string",
                      "required": true
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "path": "v1/{+parent}/revisions",
                  "id": "run.projects.locations.revisions.list"
                },
                "get": {
                  "id": "run.projects.locations.revisions.get",
                  "httpMethod": "GET",
                  "description": "Get information about a revision.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/run",
                    "https://www.googleapis.com/auth/run.readonly"
                  ],
                  "response": {
                    "$ref": "Revision"
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/revisions/{revisionsId}",
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "location": "path",
                      "type": "string",
                      "description": "The name of the revision to retrieve. For Cloud Run (fully managed), replace {namespace} with the project ID or number. It takes the form namespaces/{namespace}. For example: namespaces/PROJECT_ID",
                      "pattern": "^projects/[^/]+/locations/[^/]+/revisions/[^/]+$",
                      "required": true
                    }
                  },
                  "path": "v1/{+name}"
                }
              }
            },
            "jobs": {
              "methods": {
                "setIamPolicy": {
                  "path": "v1/{+resource}:setIamPolicy",
                  "httpMethod": "POST",
                  "description": "Sets the IAM Access control policy for the specified job. Overwrites any existing policy.",
                  "request": {
                    "$ref": "SetIamPolicyRequest"
                  },
                  "id": "run.projects.locations.jobs.setIamPolicy",
                  "parameterOrder": [
                    "resource"
                  ],
                  "parameters": {
                    "resource": {
                      "required": true,
                      "type": "string",
                      "description": "REQUIRED: The resource for which the policy is being specified. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/jobs/[^/]+$",
                      "location": "path"
                    }
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/jobs/{jobsId}:setIamPolicy",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/run"
                  ],
                  "response": {
                    "$ref": "Policy"
                  }
                },
                "getIamPolicy": {
                  "parameterOrder": [
                    "resource"
                  ],
                  "parameters": {
                    "resource": {
                      "type": "string",
                      "required": true,
                      "location": "path",
                      "description": "REQUIRED: The resource for which the policy is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/jobs/[^/]+$"
                    },
                    "options.requestedPolicyVersion": {
                      "format": "int32",
                      "description": "Optional. The maximum policy version that will be used to format the policy. Valid values are 0, 1, and 3. Requests specifying an invalid value will be rejected. Requests for policies with any conditional role bindings must specify version 3. Policies with no conditional role bindings may specify any valid value or leave the field unset. The policy in the response might use the policy version that you specified, or it might use a lower policy version. For example, if you specify version 3, but the policy has no conditional role bindings, the response uses version 1. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies).",
                      "location": "query",
                      "type": "integer"
                    }
                  },
                  "id": "run.projects.locations.jobs.getIamPolicy",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/run",
                    "https://www.googleapis.com/auth/run.readonly"
                  ],
                  "httpMethod": "GET",
                  "description": "Get the IAM Access Control policy currently in effect for the given job. This result does not include any inherited policies.",
                  "path": "v1/{+resource}:getIamPolicy",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/jobs/{jobsId}:getIamPolicy",
                  "response": {
                    "$ref": "Policy"
                  }
                },
                "testIamPermissions": {
                  "response": {
                    "$ref": "TestIamPermissionsResponse"
                  },
                  "path": "v1/{+resource}:testIamPermissions",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/jobs/{jobsId}:testIamPermissions",
                  "description": "Returns permissions that a caller has on the specified job. There are no permissions required for making this API call.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/run",
                    "https://www.googleapis.com/auth/run.readonly"
                  ],
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "TestIamPermissionsRequest"
                  },
                  "parameterOrder": [
                    "resource"
                  ],
                  "id": "run.projects.locations.jobs.testIamPermissions",
                  "parameters": {
                    "resource": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/jobs/[^/]+$",
                      "required": true,
                      "type": "string",
                      "description": "REQUIRED: The resource for which the policy detail is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
                      "location": "path"
                    }
                  }
                }
              }
            },
            "instances": {
              "methods": {
                "getIamPolicy": {
                  "path": "v1/{+resource}:getIamPolicy",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/run",
                    "https://www.googleapis.com/auth/run.readonly"
                  ],
                  "parameterOrder": [
                    "resource"
[...]
