{
  "name": "run",
  "title": "Cloud Run Admin API",
  "revision": "20260822",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/run.readonly": {
          "description": "See your Google Cloud Run data and the email address of your Google Account"
        },
        "https://www.googleapis.com/auth/run": {
          "description": "See, edit, configure, and delete your Google Cloud Run data and see the email address for your Google Account"
        },
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "version": "v1",
  "protocol": "rest",
  "canonicalName": "Cloud Run",
  "discoveryVersion": "v1",
  "mtlsRootUrl": "https://run.mtls.googleapis.com/",
  "rootUrl": "https://run.googleapis.com/",
  "ownerDomain": "google.com",
  "id": "run:v1",
  "version_module": true,
  "documentationLink": "https://cloud.google.com/run/",
  "resources": {
    "namespaces": {
      "resources": {
        "instances": {
          "methods": {
            "start": {
              "request": {
                "$ref": "StartInstanceRequest"
              },
              "flatPath": "apis/run.googleapis.com/v1/namespaces/{namespacesId}/instances/{instancesId}:start",
              "httpMethod": "POST",
              "response": {
                "$ref": "Instance"
              },
              "path": "apis/run.googleapis.com/v1/{+name}:start",
              "parameterOrder": [
                "name"
              ],
              "description": "Start an Instance which has been stopped.",
              "id": "run.namespaces.instances.start",
              "parameters": {
                "name": {
                  "location": "path",
                  "type": "string",
                  "pattern": "^namespaces/[^/]+/instances/[^/]+$",
                  "description": "Required. The name of the Instance to run. Replace {namespace} with the project ID or number. It takes the form namespaces/{namespace}. For example: namespaces/PROJECT_ID",
                  "required": true
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/run"
              ]
            },
            "delete": {
              "parameterOrder": [
                "name"
              ],
              "flatPath": "apis/run.googleapis.com/v1/namespaces/{namespacesId}/instances/{instancesId}",
              "httpMethod": "DELETE",
              "path": "apis/run.googleapis.com/v1/{+name}",
              "id": "run.namespaces.instances.delete",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/run"
              ],
              "parameters": {
                "dryRun": {
                  "location": "query",
                  "type": "string",
                  "description": "Optional. Indicates that the server should validate the request and populate default values without persisting the request. Supported values: `all`"
                },
                "name": {
                  "type": "string",
                  "location": "path",
                  "description": "Required. The fully qualified name of the Instance to delete. It can be any of the following forms: * `namespaces/{project_id_or_number}/instances/{instance_name}` (only when the `endpoint` is regional) * `projects/{project_id_or_number}/locations/{region}/instances/{instance_name}` * `projects/{project_id_or_number}/regions/{region}/instances/{instance_name}` Parent resource namespace.",
                  "pattern": "^namespaces/[^/]+/instances/[^/]+$",
                  "required": true
                },
                "kind": {
                  "type": "string",
                  "description": "Optional. Cloud Run currently ignores this parameter.",
                  "location": "query"
                },
                "apiVersion": {
                  "description": "Optional. Cloud Run currently ignores this parameter.",
                  "type": "string",
                  "location": "query"
                },
                "propagationPolicy": {
                  "location": "query",
                  "type": "string",
                  "description": "Optional. Specifies the propagation policy of delete. Cloud Run currently ignores this setting, and deletes in the background. Please see kubernetes.io/docs/concepts/workloads/controllers/garbage-collection/ for more information."
                }
              },
              "response": {
                "$ref": "Status"
              },
              "description": "Delete an Instance."
            },
            "get": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/run",
                "https://www.googleapis.com/auth/run.readonly"
              ],
              "id": "run.namespaces.instances.get",
              "description": "Get an Instance.",
              "parameterOrder": [
                "name"
              ],
              "flatPath": "apis/run.googleapis.com/v1/namespaces/{namespacesId}/instances/{instancesId}",
              "parameters": {
                "name": {
                  "required": true,
                  "type": "string",
                  "pattern": "^namespaces/[^/]+/instances/[^/]+$",
                  "location": "path",
                  "description": "Required. The fully qualified name of the Instance to retrieve. It can be any of the following forms: * `namespaces/{project_id_or_number}/instances/{instance_name}` (only when the `endpoint` is regional) * `projects/{project_id_or_number}/locations/{region}/instances/{instance_name}` * `projects/{project_id_or_number}/regions/{region}/instances/{instance_name}` Parent resource namespace."
                }
              },
              "response": {
                "$ref": "Instance"
              },
              "httpMethod": "GET",
              "path": "apis/run.googleapis.com/v1/{+name}"
            },
            "replaceInstance": {
              "httpMethod": "PUT",
              "parameterOrder": [
                "name"
              ],
              "path": "apis/run.googleapis.com/v1/{+name}",
              "response": {
                "$ref": "Instance"
              },
              "description": "Replace an Instance.",
              "request": {
                "$ref": "Instance"
              },
              "parameters": {
                "name": {
                  "pattern": "^namespaces/[^/]+/instances/[^/]+$",
                  "required": true,
                  "description": "Required. The fully qualified name of the Instance being replaced. It can be any of the following forms: * `namespaces/{project_id_or_number}/instances/{instance_name}` (only when the `endpoint` is regional) * `projects/{project_id_or_number}/locations/{region}/instances/{instance_name}` * `projects/{project_id_or_number}/regions/{region}/instances/{instance_name}` Parent resource namespace.",
                  "location": "path",
                  "type": "string"
                },
                "dryRun": {
                  "location": "query",
                  "description": "Optional. Indicates that the server should validate the request and populate default values without persisting the request. Supported values: `all`",
                  "type": "string"
                }
              },
              "flatPath": "apis/run.googleapis.com/v1/namespaces/{namespacesId}/instances/{instancesId}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/run"
              ],
              "id": "run.namespaces.instances.replaceInstance"
            },
            "stop": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/run"
              ],
              "path": "apis/run.googleapis.com/v1/{+name}:stop",
              "parameterOrder": [
                "name"
              ],
              "flatPath": "apis/run.googleapis.com/v1/namespaces/{namespacesId}/instances/{instancesId}:stop",
              "parameters": {
                "name": {
                  "type": "string",
                  "location": "path",
                  "description": "Required. The name of the Instance to run. Replace {namespace} with the project ID or number. It takes the form namespaces/{namespace}. For example: namespaces/PROJECT_ID",
                  "pattern": "^namespaces/[^/]+/instances/[^/]+$",
                  "required": true
                }
              },
              "description": "Stop an Instance that is running.",
              "response": {
                "$ref": "Instance"
              },
              "request": {
                "$ref": "StopInstanceRequest"
              },
              "id": "run.namespaces.instances.stop",
              "httpMethod": "POST"
            },
            "list": {
              "path": "apis/run.googleapis.com/v1/{+parent}/instances",
              "id": "run.namespaces.instances.list",
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/run",
                "https://www.googleapis.com/auth/run.readonly"
              ],
              "flatPath": "apis/run.googleapis.com/v1/namespaces/{namespacesId}/instances",
              "response": {
                "$ref": "ListInstancesResponse"
              },
              "parameterOrder": [
                "parent"
              ],
              "parameters": {
                "fieldSelector": {
                  "description": "Optional. Not supported by Cloud Run.",
                  "location": "query",
                  "type": "string"
                },
                "resourceVersion": {
                  "location": "query",
                  "description": "Optional. Not supported by Cloud Run.",
                  "type": "string"
                },
                "parent": {
                  "pattern": "^namespaces/[^/]+$",
                  "required": true,
                  "type": "string",
                  "description": "Required. The parent from where the resources should be listed. In Cloud Run, it may be one of the following: * `{project_id_or_number}` * `namespaces/{project_id_or_number}` * `namespaces/{project_id_or_number}/instances` * `projects/{project_id_or_number}/locations/{region}` * `projects/{project_id_or_number}/regions/{region}` Parent resource namespace.",
                  "location": "path"
                },
                "watch": {
                  "type": "boolean",
                  "location": "query",
                  "description": "Optional. Not supported by Cloud Run."
                },
                "continue": {
                  "location": "query",
                  "type": "string",
                  "description": "Optional. Optional encoded string to continue paging."
                },
                "labelSelector": {
                  "location": "query",
                  "type": "string",
                  "description": "Optional. Allows to filter resources based on a label. Supported operations are =, !=, exists, in, and notIn."
                },
                "includeUninitialized": {
                  "location": "query",
                  "type": "boolean",
                  "description": "Optional. Not supported by Cloud Run."
                },
                "limit": {
                  "location": "query",
                  "format": "int32",
                  "type": "integer",
                  "description": "Optional. The maximum number of records that should be returned."
                }
              },
              "description": "List Instances. Results are sorted by creation time, descending."
            },
            "create": {
              "description": "Create an Instance.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/run"
              ],
              "path": "apis/run.googleapis.com/v1/{+parent}/instances",
              "flatPath": "apis/run.googleapis.com/v1/namespaces/{namespacesId}/instances",
              "parameters": {
                "parent": {
                  "required": true,
                  "type": "string",
                  "pattern": "^namespaces/[^/]+$",
                  "location": "path",
                  "description": "Required. The resource's parent. In Cloud Run, it may be one of the following: * `{project_id_or_number}` * `namespaces/{project_id_or_number}` * `namespaces/{project_id_or_number}/instances` * `projects/{project_id_or_number}/locations/{region}` * `projects/{project_id_or_number}/regions/{region}` Parent resource namespace."
                },
                "dryRun": {
                  "description": "Optional. Indicates that the server should validate the request and populate default values without persisting the request. Supported values: `all`",
                  "type": "string",
                  "location": "query"
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "request": {
                "$ref": "Instance"
              },
              "httpMethod": "POST",
              "response": {
                "$ref": "Instance"
              },
              "id": "run.namespaces.instances.create"
            }
          }
        },
        "jobs": {
          "methods": {
            "list": {
              "flatPath": "apis/run.googleapis.com/v1/namespaces/{namespacesId}/jobs",
              "httpMethod": "GET",
              "id": "run.namespaces.jobs.list",
              "parameters": {
                "watch": {
                  "location": "query",
                  "description": "Optional. Not supported by Cloud Run.",
                  "type": "boolean"
                },
                "continue": {
                  "description": "Optional. Optional encoded string to continue paging.",
                  "location": "query",
                  "type": "string"
                },
                "fieldSelector": {
                  "description": "Optional. Not supported by Cloud Run.",
                  "type": "string",
                  "location": "query"
                },
                "includeUninitialized": {
                  "description": "Optional. Not supported by Cloud Run.",
                  "location": "query",
                  "type": "boolean"
                },
                "resourceVersion": {
                  "location": "query",
                  "description": "Optional. Not supported by Cloud Run.",
                  "type": "string"
                },
                "limit": {
                  "location": "query",
                  "format": "int32",
                  "description": "Optional. The maximum number of records that should be returned.",
                  "type": "integer"
                },
                "labelSelector": {
                  "location": "query",
                  "type": "string",
                  "description": "Optional. Allows to filter resources based on a label. Supported operations are =, !=, exists, in, and notIn."
                },
                "parent": {
                  "required": true,
                  "type": "string",
                  "pattern": "^namespaces/[^/]+$",
                  "location": "path",
                  "description": "Required. The namespace from which the jobs should be listed. Replace {namespace} with the project ID or number. It takes the form namespaces/{namespace}. For example: namespaces/PROJECT_ID"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/run",
                "https://www.googleapis.com/auth/run.readonly"
              ],
              "parameterOrder": [
                "parent"
              ],
              "description": "List jobs. Results are sorted by creation time, descending.",
              "path": "apis/run.googleapis.com/v1/{+parent}/jobs",
              "response": {
                "$ref": "ListJobsResponse"
              }
            },
            "delete": {
              "parameters": {
                "apiVersion": {
                  "type": "string",
                  "description": "Optional. Cloud Run currently ignores this parameter.",
                  "location": "query"
                },
                "dryRun": {
                  "location": "query",
                  "type": "string",
                  "description": "Optional. Indicates that the server should validate the request and populate default values without persisting the request. Supported values: `all`"
                },
                "propagationPolicy": {
                  "location": "query",
                  "description": "Optional. Specifies the propagation policy of delete. Cloud Run currently ignores this setting, and deletes in the background. Please see kubernetes.io/docs/concepts/workloads/controllers/garbage-collection/ for more information.",
                  "type": "string"
                },
                "name": {
                  "description": "Required. The name of the job to delete. Replace {namespace} with the project ID or number. It takes the form namespaces/{namespace}. For example: namespaces/PROJECT_ID",
                  "type": "string",
                  "required": true,
                  "location": "path",
                  "pattern": "^namespaces/[^/]+/jobs/[^/]+$"
                },
                "kind": {
                  "description": "Optional. Cloud Run currently ignores this parameter.",
                  "location": "query",
                  "type": "string"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/run"
              ],
              "response": {
                "$ref": "Status"
              },
              "flatPath": "apis/run.googleapis.com/v1/namespaces/{namespacesId}/jobs/{jobsId}",
              "httpMethod": "DELETE",
              "id": "run.namespaces.jobs.delete",
              "parameterOrder": [
                "name"
              ],
              "path": "apis/run.googleapis.com/v1/{+name}",
              "description": "Delete a job."
            },
            "run": {
              "response": {
                "$ref": "Execution"
              },
              "httpMethod": "POST",
              "path": "apis/run.googleapis.com/v1/{+name}:run",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/run"
              ],
              "request": {
                "$ref": "RunJobRequest"
              },
              "parameters": {
                "name": {
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "description": "Required. The name of the job to run. Replace {namespace} with the project ID or number. It takes the form namespaces/{namespace}. For example: namespaces/PROJECT_ID",
                  "pattern": "^namespaces/[^/]+/jobs/[^/]+$"
                }
              },
              "id": "run.namespaces.jobs.run",
              "parameterOrder": [
                "name"
              ],
              "flatPath": "apis/run.googleapis.com/v1/namespaces/{namespacesId}/jobs/{jobsId}:run",
              "description": "Trigger creation of a new execution of this job."
            },
            "create": {
              "description": "Create a job.",
              "request": {
                "$ref": "Job"
              },
              "flatPath": "apis/run.googleapis.com/v1/namespaces/{namespacesId}/jobs",
              "id": "run.namespaces.jobs.create",
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/run"
              ],
              "path": "apis/run.googleapis.com/v1/{+parent}/jobs",
              "response": {
                "$ref": "Job"
              },
              "parameters": {
                "dryRun": {
                  "location": "query",
                  "type": "string",
                  "description": "Optional. Indicates that the server should validate the request and populate default values without persisting the request. Supported values: `all`"
                },
                "parent": {
                  "pattern": "^namespaces/[^/]+$",
                  "description": "Required. The namespace in which the job should be created. Replace {namespace} with the project ID or number. It takes the form namespaces/{namespace}. For example: namespaces/PROJECT_ID",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "parameterOrder": [
                "parent"
              ]
            },
            "get": {
              "response": {
                "$ref": "Job"
              },
              "description": "Get information about a job.",
              "id": "run.namespaces.jobs.get",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/run",
                "https://www.googleapis.com/auth/run.readonly"
              ],
              "parameters": {
                "name": {
                  "required": true,
                  "type": "string",
                  "pattern": "^namespaces/[^/]+/jobs/[^/]+$",
                  "location": "path",
                  "description": "Required. The name of the job to retrieve. It takes the form namespaces/{namespace}/jobs/{job_name} and the `endpoint` must be regional. Replace {namespace} with the project ID or number."
                }
              },
              "path": "apis/run.googleapis.com/v1/{+name}",
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "GET",
              "flatPath": "apis/run.googleapis.com/v1/namespaces/{namespacesId}/jobs/{jobsId}"
            },
            "replaceJob": {
              "parameters": {
                "dryRun": {
                  "description": "Optional. Indicates that the server should validate the request and populate default values without persisting the request. Supported values: `all`",
                  "location": "query",
                  "type": "string"
                },
                "name": {
                  "pattern": "^namespaces/[^/]+/jobs/[^/]+$",
                  "description": "Required. The name of the job being replaced. Replace {namespace} with the project ID or number. It takes the form namespaces/{namespace}. For example: namespaces/PROJECT_ID",
                  "required": true,
                  "type": "string",
                  "location": "path"
                }
              },
              "response": {
                "$ref": "Job"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/run"
              ],
              "path": "apis/run.googleapis.com/v1/{+name}",
              "id": "run.namespaces.jobs.replaceJob",
              "description": "Replace a job. Only the spec and metadata labels and annotations are modifiable. After the Replace request, Cloud Run will work to make the 'status' match the requested 'spec'. May provide metadata.resourceVersion to enforce update from last read for optimistic concurrency control.",
              "httpMethod": "PUT",
              "parameterOrder": [
                "name"
              ],
              "request": {
                "$ref": "Job"
              },
              "flatPath": "apis/run.googleapis.com/v1/namespaces/{namespacesId}/jobs/{jobsId}"
            }
          }
        },
        "tasks": {
          "methods": {
            "list": {
              "flatPath": "apis/run.googleapis.com/v1/namespaces/{namespacesId}/tasks",
              "description": "List tasks.",
              "id": "run.namespaces.tasks.list",
              "parameters": {
                "resourceVersion": {
                  "description": "Optional. Not supported by Cloud Run.",
                  "location": "query",
                  "type": "string"
                },
                "continue": {
                  "location": "query",
                  "description": "Optional. Optional encoded string to continue paging.",
                  "type": "string"
                },
                "parent": {
                  "required": true,
                  "pattern": "^namespaces/[^/]+$",
                  "type": "string",
                  "location": "path",
                  "description": "Required. The namespace from which the tasks should be listed. Replace {namespace} with the project ID or number. It takes the form namespaces/{namespace}. For example: namespaces/PROJECT_ID"
                },
                "watch": {
                  "location": "query",
                  "type": "boolean",
                  "description": "Optional. Not supported by Cloud Run."
                },
                "includeUninitialized": {
                  "description": "Optional. Not supported by Cloud Run.",
                  "location": "query",
                  "type": "boolean"
                },
                "labelSelector": {
                  "location": "query",
                  "description": "Optional. Allows to filter resources based on a label. Supported operations are =, !=, exists, in, and notIn. For example, to list all tasks of execution \"foo\" in succeeded state: `run.googleapis.com/execution=foo,run.googleapis.com/runningState=Succeeded`. Supported states are: * `Pending`: Initial state of all tasks. The task has not yet started but eventually will. * `Running`: Container instances for this task are running or will be running shortly. * `Succeeded`: No more container instances to run for the task, and the last attempt succeeded. * `Failed`: No more container instances to run for the task, and the last attempt failed. This task has run out of retry attempts. * `Cancelled`: Task was running but got stopped because its parent execution has been aborted. * `Abandoned`: The task has not yet started and never will because its parent execution has been aborted.",
                  "type": "string"
                },
                "fieldSelector": {
                  "location": "query",
                  "type": "string",
                  "description": "Optional. Not supported by Cloud Run."
                },
                "limit": {
                  "location": "query",
                  "type": "integer",
                  "description": "Optional. The maximum number of records that should be returned.",
                  "format": "int32"
                }
              },
              "path": "apis/run.googleapis.com/v1/{+parent}/tasks",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/run",
                "https://www.googleapis.com/auth/run.readonly"
              ],
              "httpMethod": "GET",
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "ListTasksResponse"
              }
            },
            "get": {
              "flatPath": "apis/run.googleapis.com/v1/namespaces/{namespacesId}/tasks/{tasksId}",
              "path": "apis/run.googleapis.com/v1/{+name}",
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "GET",
              "description": "Get information about a task.",
              "id": "run.namespaces.tasks.get",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/run",
                "https://www.googleapis.com/auth/run.readonly"
              ],
              "parameters": {
                "name": {
                  "location": "path",
                  "description": "Required. The name of the task to retrieve. Replace {namespace} with the project ID or number. It takes the form namespaces/{namespace}. For example: namespaces/PROJECT_ID",
                  "pattern": "^namespaces/[^/]+/tasks/[^/]+$",
                  "required": true,
                  "type": "string"
                }
              },
              "response": {
                "$ref": "Task"
              }
            }
          }
        },
        "configurations": {
          "methods": {
            "list": {
              "parameterOrder": [
                "parent"
              ],
              "id": "run.namespaces.configurations.list",
              "response": {
                "$ref": "ListConfigurationsResponse"
              },
              "parameters": {
                "continue": {
                  "type": "string",
                  "location": "query",
                  "description": "Optional. Encoded string to continue paging."
                },
                "watch": {
                  "location": "query",
                  "type": "boolean",
                  "description": "Not supported by Cloud Run."
                },
                "parent": {
                  "type": "string",
                  "required": true,
                  "pattern": "^namespaces/[^/]+$",
                  "description": "The namespace from which the configurations should be listed. For Cloud Run, replace {namespace_id} with the project ID or number.",
                  "location": "path"
                },
                "fieldSelector": {
                  "description": "Not supported by Cloud Run.",
                  "location": "query",
                  "type": "string"
                },
                "resourceVersion": {
                  "description": "Not supported by Cloud Run.",
                  "type": "string",
                  "location": "query"
                },
                "includeUninitialized": {
                  "location": "query",
                  "type": "boolean",
                  "description": "Not supported by Cloud Run."
                },
                "labelSelector": {
                  "description": "Allows to filter resources based on a label. Supported operations are =, !=, exists, in, and notIn.",
                  "type": "string",
                  "location": "query"
                },
                "limit": {
                  "description": "Optional. The maximum number of the records that should be returned.",
                  "type": "integer",
                  "format": "int32",
                  "location": "query"
                }
              },
              "path": "apis/serving.knative.dev/v1/{+parent}/configurations",
              "description": "List configurations. Results are sorted by creation time, descending.",
              "flatPath": "apis/serving.knative.dev/v1/namespaces/{namespacesId}/configurations",
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/run",
                "https://www.googleapis.com/auth/run.readonly"
              ]
            },
            "get": {
              "id": "run.namespaces.configurations.get",
              "httpMethod": "GET",
              "flatPath": "apis/serving.knative.dev/v1/namespaces/{namespacesId}/configurations/{configurationsId}",
              "path": "apis/serving.knative.dev/v1/{+name}",
              "description": "Get information about a configuration.",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "location": "path",
                  "type": "string",
                  "description": "The name of the configuration to retrieve. For Cloud Run, replace {namespace_id} with the project ID or number.",
                  "pattern": "^namespaces/[^/]+/configurations/[^/]+$",
                  "required": true
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/run",
                "https://www.googleapis.com/auth/run.readonly"
              ],
              "response": {
                "$ref": "Configuration"
              }
            }
          }
        },
        "domainmappings": {
          "methods": {
            "create": {
              "flatPath": "apis/domains.cloudrun.com/v1/namespaces/{namespacesId}/domainmappings",
              "parameterOrder": [
                "parent"
              ],
              "parameters": {
                "dryRun": {
                  "type": "string",
                  "description": "Indicates that the server should validate the request and populate default values without persisting the request. Supported values: `all`",
                  "location": "query"
                },
                "parent": {
                  "type": "string",
                  "location": "path",
                  "pattern": "^namespaces/[^/]+$",
                  "description": "Required. The namespace in which the domain mapping should be created. For Cloud Run (fully managed), replace {namespace} with the project ID or number. It takes the form namespaces/{namespace}. For example: namespaces/PROJECT_ID",
                  "required": true
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/run"
              ],
              "path": "apis/domains.cloudrun.com/v1/{+parent}/domainmappings",
              "id": "run.namespaces.domainmappings.create",
              "description": "Create a new domain mapping.",
              "httpMethod": "POST",
              "request": {
                "$ref": "DomainMapping"
              },
              "response": {
                "$ref": "DomainMapping"
              }
            },
            "get": {
              "description": "Get information about a domain mapping.",
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/run",
                "https://www.googleapis.com/auth/run.readonly"
              ],
              "response": {
                "$ref": "DomainMapping"
              },
              "httpMethod": "GET",
              "path": "apis/domains.cloudrun.com/v1/{+name}",
              "flatPath": "apis/domains.cloudrun.com/v1/namespaces/{namespacesId}/domainmappings/{domainmappingsId}",
              "id": "run.namespaces.domainmappings.get",
              "parameters": {
                "name": {
                  "description": "Required. The name of the domain mapping to retrieve. For Cloud Run (fully managed), replace {namespace} with the project ID or number. It takes the form namespaces/{namespace}. For example: namespaces/PROJECT_ID",
                  "location": "path",
                  "pattern": "^namespaces/[^/]+/domainmappings/[^/]+$",
                  "type": "string",
                  "required": true
                }
              }
            },
            "list": {
              "parameterOrder": [
                "parent"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/run",
                "https://www.googleapis.com/auth/run.readonly"
              ],
              "parameters": {
                "labelSelector": {
                  "location": "query",
                  "type": "string",
                  "description": "Allows to filter resources based on a label. Supported operations are =, !=, exists, in, and notIn."
                },
                "continue": {
                  "location": "query",
                  "description": "Optional. Encoded string to continue paging.",
                  "type": "string"
                },
                "watch": {
                  "description": "Flag that indicates that the client expects to watch this resource as well. Not currently used by Cloud Run.",
                  "type": "boolean",
                  "location": "query"
                },
                "resourceVersion": {
                  "type": "string",
                  "description": "The baseline resource version from which the list or watch operation should start. Not currently used by Cloud Run.",
                  "location": "query"
                },
                "fieldSelector": {
                  "location": "query",
                  "description": "Allows to filter resources based on a specific value for a field name. Send this in a query string format. i.e. 'metadata.name%3Dlorem'. Not currently used by Cloud Run.",
                  "type": "string"
                },
                "limit": {
                  "format": "int32",
                  "location": "query",
                  "type": "integer",
                  "description": "Optional. The maximum number of records that should be returned."
                },
                "parent": {
                  "pattern": "^namespaces/[^/]+$",
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "description": "Required. The namespace from which the domain mappings should be listed. For Cloud Run (fully managed), replace {namespace} with the project ID or number. It takes the form namespaces/{namespace}. For example: namespaces/PROJECT_ID"
                },
                "includeUninitialized": {
                  "description": "Not currently used by Cloud Run.",
                  "location": "query",
                  "type": "boolean"
                }
              },
              "flatPath": "apis/domains.cloudrun.com/v1/namespaces/{namespacesId}/domainmappings",
              "id": "run.namespaces.domainmappings.list",
              "description": "List all domain mappings.",
              "response": {
                "$ref": "ListDomainMappingsResponse"
              },
              "path": "apis/domains.cloudrun.com/v1/{+parent}/domainmappings",
              "httpMethod": "GET"
            },
            "delete": {
              "response": {
                "$ref": "Status"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/run"
              ],
              "parameters": {
                "name": {
                  "description": "Required. The name of the domain mapping to delete. For Cloud Run (fully managed), replace {namespace} with the project ID or number. It takes the form namespaces/{namespace}. For example: namespaces/PROJECT_ID",
                  "location": "path",
                  "pattern": "^namespaces/[^/]+/domainmappings/[^/]+$",
                  "type": "string",
                  "required": true
                },
                "kind": {
                  "location": "query",
                  "type": "string",
                  "description": "Cloud Run currently ignores this parameter."
                },
                "propagationPolicy": {
                  "description": "Specifies the propagation policy of delete. Cloud Run currently ignores this setting, and deletes in the background. Please see kubernetes.io/docs/concepts/architecture/garbage-collection/ for more information.",
                  "type": "string",
                  "location": "query"
                },
                "dryRun": {
                  "description": "Indicates that the server should validate the request and populate default values without persisting the request. Supported values: `all`",
                  "type": "string",
                  "location": "query"
                },
                "apiVersion": {
                  "type": "string",
                  "description": "Cloud Run currently ignores this parameter.",
                  "location": "query"
                }
              },
              "path": "apis/domains.cloudrun.com/v1/{+name}",
              "httpMethod": "DELETE",
              "id": "run.namespaces.domainmappings.delete",
              "flatPath": "apis/domains.cloudrun.com/v1/namespaces/{namespacesId}/domainmappings/{domainmappingsId}",
              "parameterOrder": [
                "name"
              ],
              "description": "Delete a domain mapping."
            }
          }
        },
        "revisions": {
          "methods": {
            "get": {
              "parameterOrder": [
                "name"
              ],
              "id": "run.namespaces.revisions.get",
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/run",
                "https://www.googleapis.com/auth/run.readonly"
              ],
              "response": {
                "$ref": "Revision"
              },
              "flatPath": "apis/serving.knative.dev/v1/namespaces/{namespacesId}/revisions/{revisionsId}",
              "parameters": {
                "name": {
                  "required": true,
                  "pattern": "^namespaces/[^/]+/revisions/[^/]+$",
                  "type": "string",
                  "location": "path",
                  "description": "The name of the revision to retrieve. For Cloud Run (fully managed), replace {namespace} with the project ID or number. It takes the form namespaces/{namespace}. For example: namespaces/PROJECT_ID"
                }
              },
              "path": "apis/serving.knative.dev/v1/{+name}",
              "description": "Get information about a revision."
            },
            "list": {
              "parameterOrder": [
                "parent"
              ],
              "parameters": {
                "fieldSelector": {
                  "type": "string",
                  "description": "Allows to filter resources based on a specific value for a field name. Send this in a query string format. i.e. 'metadata.name%3Dlorem'. Not currently used by Cloud Run.",
                  "location": "query"
                },
                "limit": {
                  "description": "Optional. The maximum number of records that should be returned.",
                  "format": "int32",
                  "location": "query",
                  "type": "integer"
                },
                "labelSelector": {
                  "location": "query",
                  "type": "string",
                  "description": "Allows to filter resources based on a label. Supported operations are =, !=, exists, in, and notIn."
                },
                "includeUninitialized": {
                  "location": "query",
                  "type": "boolean",
                  "description": "Not currently used by Cloud Run."
                },
                "watch": {
                  "type": "boolean",
                  "location": "query",
                  "description": "Flag that indicates that the client expects to watch this resource as well. Not currently used by Cloud Run."
                },
                "continue": {
                  "type": "string",
                  "location": "query",
                  "description": "Optional. Encoded string to continue paging."
                },
                "parent": {
                  "location": "path",
                  "pattern": "^namespaces/[^/]+$",
                  "description": "The namespace from which the revisions should be listed. For Cloud Run (fully managed), replace {namespace} with the project ID or number. It takes the form namespaces/{namespace}. For example: namespaces/PROJECT_ID",
                  "required": true,
                  "type": "string"
                },
                "resourceVersion": {
                  "description": "The baseline resource version from which the list or watch operation should start. Not currently used by Cloud Run.",
                  "location": "query",
                  "type": "string"
                }
              },
              "path": "apis/serving.knative.dev/v1/{+parent}/revisions",
              "response": {
                "$ref": "ListRevisionsResponse"
              },
              "flatPath": "apis/serving.knative.dev/v1/namespaces/{namespacesId}/revisions",
              "description": "List revisions. Results are sorted by creation time, descending.",
              "id": "run.namespaces.revisions.list",
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/run",
                "https://www.googleapis.com/auth/run.readonly"
              ]
            },
            "delete": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/run"
              ],
              "path": "apis/serving.knative.dev/v1/{+name}",
              "id": "run.namespaces.revisions.delete",
              "parameters": {
                "apiVersion": {
                  "location": "query",
                  "description": "Cloud Run currently ignores this parameter.",
                  "type": "string"
                },
                "dryRun": {
                  "location": "query",
                  "type": "string",
                  "description": "Indicates that the server should validate the request and populate default values without persisting the request. Supported values: `all`"
                },
                "propagationPolicy": {
                  "description": "Specifies the propagation policy of delete. Cloud Run currently ignores this setting, and deletes in the background.",
                  "location": "query",
                  "type": "string"
                },
                "name": {
                  "location": "path",
                  "type": "string",
                  "pattern": "^namespaces/[^/]+/revisions/[^/]+$",
                  "description": "The name of the revision to delete. For Cloud Run (fully managed), replace {namespace} with the project ID or number. It takes the form namespaces/{namespace}. For example: namespaces/PROJECT_ID",
                  "required": true
                },
                "kind": {
                  "location": "query",
                  "type": "string",
                  "description": "Cloud Run currently ignores this parameter."
                }
              },
              "response": {
                "$ref": "Status"
              },
              "flatPath": "apis/serving.knative.dev/v1/namespaces/{namespacesId}/revisions/{revisionsId}",
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "DELETE",
              "description": "Delete a revision."
            }
          }
        },
        "authorizeddomains": {
          "methods": {
            "list": {
              "response": {
                "$ref": "ListAuthorizedDomainsResponse"
              },
              "httpMethod": "GET",
              "parameterOrder": [
                "parent"
              ],
              "path": "apis/domains.cloudrun.com/v1/{+parent}/authorizeddomains",
              "id": "run.namespaces.authorizeddomains.list",
              "description": "List authorized domains.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/run",
                "https://www.googleapis.com/auth/run.readonly"
              ],
              "parameters": {
                "pageToken": {
                  "type": "string",
                  "location": "query",
                  "description": "Continuation token for fetching the next page of results."
                },
                "pageSize": {
                  "location": "query",
                  "format": "int32",
                  "type": "integer",
                  "description": "Maximum results to return per page."
                },
                "parent": {
                  "type": "string",
                  "required": true,
                  "pattern": "^namespaces/[^/]+$",
                  "description": "Name of the parent Project resource. Example: `projects/myproject`.",
                  "location": "path"
                }
              },
              "flatPath": "apis/domains.cloudrun.com/v1/namespaces/{namespacesId}/authorizeddomains"
            }
          }
        },
        "routes": {
          "methods": {
            "get": {
              "parameters": {
                "name": {
                  "description": "The name of the route to retrieve. For Cloud Run (fully managed), replace {namespace} with the project ID or number. It takes the form namespaces/{namespace}. For example: namespaces/PROJECT_ID",
                  "type": "string",
                  "location": "path",
                  "pattern": "^namespaces/[^/]+/routes/[^/]+$",
                  "required": true
                }
              },
              "flatPath": "apis/serving.knative.dev/v1/namespaces/{namespacesId}/routes/{routesId}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/run",
                "https://www.googleapis.com/auth/run.readonly"
              ],
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "GET",
              "path": "apis/serving.knative.dev/v1/{+name}",
              "response": {
                "$ref": "Route"
              },
              "id": "run.namespaces.routes.get",
              "description": "Get information about a route."
            },
            "list": {
              "parameterOrder": [
                "parent"
              ],
              "httpMethod": "GET",
              "response": {
                "$ref": "ListRoutesResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/run",
                "https://www.googleapis.com/auth/run.readonly"
              ],
              "path": "apis/serving.knative.dev/v1/{+parent}/routes",
              "parameters": {
                "fieldSelector": {
                  "type": "string",
                  "description": "Allows to filter resources based on a specific value for a field name. Send this in a query string format. i.e. 'metadata.name%3Dlorem'. Not currently used by Cloud Run.",
                  "location": "query"
                },
                "includeUninitialized": {
                  "description": "Not currently used by Cloud Run.",
                  "location": "query",
                  "type": "boolean"
                },
                "limit": {
                  "description": "Optional. The maximum number of records that should be returned.",
                  "format": "int32",
                  "type": "integer",
                  "location": "query"
                },
                "resourceVersion": {
                  "description": "The baseline resource version from which the list or watch operation should start. Not currently used by Cloud Run.",
                  "type": "string",
                  "location": "query"
                },
                "labelSelector": {
                  "location": "query",
                  "type": "string",
                  "description": "Allows to filter resources based on a label. Supported operations are =, !=, exists, in, and notIn."
                },
                "parent": {
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "description": "The namespace from which the routes should be listed. For Cloud Run (fully managed), replace {namespace} with the project ID or number. It takes the form namespaces/{namespace}. For example: namespaces/PROJECT_ID",
                  "pattern": "^namespaces/[^/]+$"
                },
                "continue": {
                  "description": "Optional. Encoded string to continue paging.",
                  "type": "string",
                  "location": "query"
                },
                "watch": {
                  "type": "boolean",
                  "location": "query",
                  "description": "Flag that indicates that the client expects to watch this resource as well. Not currently used by Cloud Run."
                }
              },
              "flatPath": "apis/serving.knative.dev/v1/namespaces/{namespacesId}/routes",
              "id": "run.namespaces.routes.list",
              "description": "List routes. Results are sorted by creation time, descending."
            }
          }
        },
        "workerpools": {
          "methods": {
            "delete": {
              "httpMethod": "DELETE",
              "id": "run.namespaces.workerpools.delete",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/run"
              ],
              "path": "apis/run.googleapis.com/v1/{+name}",
              "response": {
                "$ref": "Status"
              },
              "parameterOrder": [
                "name"
              ],
              "description": "Deletes the provided worker pool. This will cause the WorkerPool to stop all instances and will delete all associated WorkerPoolRevisions.",
              "parameters": {
                "name": {
                  "required": true,
                  "type": "string",
                  "pattern": "^namespaces/[^/]+/workerpools/[^/]+$",
                  "description": "Required. The fully qualified name of the worker pool to delete. It can be any of the following forms: * `namespaces/{project_id_or_number}/workerpools/{worker_pool_name}` (only when the `endpoint` is regional) * `projects/{project_id_or_number}/locations/{region}/workerpools/{worker_pool_name}` * `projects/{project_id_or_number}/regions/{region}/workerpools/{worker_pool_name}`",
                  "location": "path"
                },
                "dryRun": {
                  "type": "string",
                  "description": "Indicates that the server should validate the request and populate default values without persisting the request. Supported values: `all`",
                  "location": "query"
                }
              },
              "flatPath": "apis/run.googleapis.com/v1/namespaces/{namespacesId}/workerpools/{workerpoolsId}"
            },
            "list": {
              "id": "run.namespaces.workerpools.list",
              "parameterOrder": [
                "parent"
              ],
              "parameters": {
                "continue": {
                  "description": "Encoded string to continue paging.",
                  "location": "query",
                  "type": "string"
                },
                "labelSelector": {
                  "description": "=, !=, exists, in, and notIn.",
                  "type": "string",
                  "location": "query"
                },
                "limit": {
                  "location": "query",
                  "format": "int32",
                  "type": "integer",
                  "description": "The maximum number of records that should be returned."
                },
                "parent": {
                  "location": "path",
                  "pattern": "^namespaces/[^/]+$",
                  "required": true,
                  "description": "Required. The parent from where the resources should be listed. In Cloud Run, it may be one of the following: * `{project_id_or_number}` * `namespaces/{project_id_or_number}` * `namespaces/{project_id_or_number}/workerpools` * `projects/{project_id_or_number}/locations/{region}` * `projects/{project_id_or_number}/regions/{region}`",
                  "type": "string"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/run",
                "https://www.googleapis.com/auth/run.readonly"
              ],
              "response": {
                "$ref": "ListWorkerPoolsResponse"
              },
              "flatPath": "apis/run.googleapis.com/v1/namespaces/{namespacesId}/workerpools",
              "path": "apis/run.googleapis.com/v1/{+parent}/workerpools",
              "httpMethod": "GET",
              "description": "Lists worker pools for the given project and region. Results are sorted by creation time, descending."
            },
            "get": {
              "response": {
                "$ref": "WorkerPool"
              },
              "httpMethod": "GET",
              "id": "run.namespaces.workerpools.get",
              "parameters": {
                "name": {
                  "type": "string",
                  "location": "path",
                  "pattern": "^namespaces/[^/]+/workerpools/[^/]+$",
                  "description": "Required. The fully qualified name of the worker pool to retrieve. It can be any of the following forms: * `namespaces/{project_id_or_number}/workerpools/{worker_pool_name}` (only when the `endpoint` is regional) * `projects/{project_id_or_number}/locations/{region}/workerpools/{worker_pool_name}` * `projects/{project_id_or_number}/regions/{region}/workerpools/{worker_pool_name}`",
                  "required": true
                }
              },
              "parameterOrder": [
                "name"
              ],
              "description": "Gets information about a worker pool.",
              "path": "apis/run.googleapis.com/v1/{+name}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/run",
                "https://www.googleapis.com/auth/run.readonly"
              ],
              "flatPath": "apis/run.googleapis.com/v1/namespaces/{namespacesId}/workerpools/{workerpoolsId}"
            },
            "create": {
              "parameterOrder": [
                "parent"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/run"
              ],
              "request": {
                "$ref": "WorkerPool"
              },
              "flatPath": "apis/run.googleapis.com/v1/namespaces/{namespacesId}/workerpools",
              "path": "apis/run.googleapis.com/v1/{+parent}/workerpools",
              "httpMethod": "POST",
              "id": "run.namespaces.workerpools.create",
              "description": "Creates a new WorkerPool. WorkerPool creation will trigger a new deployment. Use GetWorkerPool, and check worker_pool.status to determine if the WorkerPool is ready.",
              "response": {
                "$ref": "WorkerPool"
              },
              "parameters": {
                "parent": {
                  "location": "path",
                  "pattern": "^namespaces/[^/]+$",
                  "type": "string",
                  "description": "Required. The resource's parent. In Cloud Run, it may be one of the following: * `{project_id_or_number}` * `namespaces/{project_id_or_number}` * `namespaces/{project_id_or_number}/workerpools` * `projects/{project_id_or_number}/locations/{region}` * `projects/{project_id_or_number}/regions/{region}`",
                  "required": true
                },
                "dryRun": {
                  "description": "Indicates that the server should validate the request and populate default values without persisting the request. Supported values: `all`",
                  "location": "query",
                  "type": "string"
                }
              }
            },
            "replaceWorkerPool": {
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "WorkerPool"
              },
              "parameters": {
                "dryRun": {
                  "type": "string",
                  "description": "Indicates that the server should validate the request and populate default values without persisting the request. Supported values: `all`",
                  "location": "query"
                },
                "name": {
                  "location": "path",
                  "pattern": "^namespaces/[^/]+/workerpools/[^/]+$",
                  "type": "string",
                  "required": true,
                  "description": "Required. The fully qualified name of the worker pool to replace. It can be any of the following forms: * `namespaces/{project_id_or_number}/workerpools/{worker_pool_name}` (only when the `endpoint` is regional) * `projects/{project_id_or_number}/locations/{region}/workerpools/{worker_pool_name}` * `projects/{project_id_or_number}/regions/{region}/workerpools/{worker_pool_name}`"
                }
              },
              "description": "Replaces a worker pool. Only the spec and metadata labels and annotations are modifiable. After the Update request, Cloud Run will work to make the 'status' match the requested 'spec'. May provide metadata.resourceVersion to enforce update from last read for optimistic concurrency control.",
              "id": "run.namespaces.workerpools.replaceWorkerPool",
              "request": {
                "$ref": "WorkerPool"
              },
              "path": "apis/run.googleapis.com/v1/{+name}",
              "flatPath": "apis/run.googleapis.com/v1/namespaces/{namespacesId}/workerpools/{workerpoolsId}",
              "httpMethod": "PUT",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/run"
              ]
            }
          }
        },
        "executions": {
          "methods": {
            "list": {
              "parameters": {
                "labelSelector": {
                  "location": "query",
                  "type": "string",
                  "description": "Optional. Allows to filter resources based on a label. Supported operations are =, !=, exists, in, and notIn."
                },
                "limit": {
                  "format": "int32",
                  "type": "integer",
                  "location": "query",
                  "description": "Optional. The maximum number of the records that should be returned."
                },
                "resourceVersion": {
                  "location": "query",
                  "type": "string",
                  "description": "Optional. Not supported by Cloud Run."
                },
                "continue": {
                  "location": "query",
                  "description": "Optional. Optional encoded string to continue paging.",
                  "type": "string"
                },
                "fieldSelector": {
                  "description": "Optional. Not supported by Cloud Run.",
                  "location": "query",
                  "type": "string"
                },
                "parent": {
                  "description": "Required. The namespace from which the executions should be listed. Replace {namespace} with the project ID or number. It takes the form namespaces/{namespace}. For example: namespaces/PROJECT_ID",
                  "required": true,
                  "type": "string",
                  "pattern": "^namespaces/[^/]+$",
                  "location": "path"
                },
                "watch": {
                  "description": "Optional. Not supported by Cloud Run.",
                  "type": "boolean",
                  "location": "query"
                },
                "includeUninitialized": {
                  "type": "boolean",
                  "location": "query",
                  "description": "Optional. Not supported by Cloud Run."
                }
              },
              "description": "List executions. Results are sorted by creation time, descending.",
              "response": {
                "$ref": "ListExecutionsResponse"
              },
              "path": "apis/run.googleapis.com/v1/{+parent}/executions",
              "id": "run.namespaces.executions.list",
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/run",
                "https://www.googleapis.com/auth/run.readonly"
              ],
              "parameterOrder": [
                "parent"
              ],
              "flatPath": "apis/run.googleapis.com/v1/namespaces/{namespacesId}/executions"
            },
            "cancel": {
              "parameters": {
                "name": {
                  "description": "Required. The name of the execution to cancel. Replace {namespace} with the project ID or number. It takes the form namespaces/{namespace}. For example: namespaces/PROJECT_ID",
                  "required": true,
                  "type": "string",
                  "pattern": "^namespaces/[^/]+/executions/[^/]+$",
                  "location": "path"
                }
              },
              "path": "apis/run.googleapis.com/v1/{+name}:cancel",
              "id": "run.namespaces.executions.cancel",
              "parameterOrder": [
                "name"
              ],
              "request": {
                "$ref": "CancelExecutionRequest"
              },
              "flatPath": "apis/run.googleapis.com/v1/namespaces/{namespacesId}/executions/{executionsId}:cancel",
              "httpMethod": "POST",
              "description": "Cancel an execution.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/run"
              ],
              "response": {
                "$ref": "Execution"
              }
            },
            "delete": {
              "id": "run.namespaces.executions.delete",
              "flatPath": "apis/run.googleapis.com/v1/namespaces/{namespacesId}/executions/{executionsId}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/run"
              ],
              "httpMethod": "DELETE",
              "path": "apis/run.googleapis.com/v1/{+name}",
              "description": "Delete an execution.",
              "response": {
                "$ref": "Status"
              },
              "parameters": {
                "propagationPolicy": {
                  "type": "string",
                  "description": "Optional. Specifies the propagation policy of delete. Cloud Run currently ignores this setting.",
                  "location": "query"
                },
                "apiVersion": {
                  "description": "Optional. Cloud Run currently ignores this parameter.",
                  "type": "string",
                  "location": "query"
                },
                "name": {
                  "description": "Required. The name of the execution to delete. Replace {namespace} with the project ID or number. It takes the form namespaces/{namespace}. For example: namespaces/PROJECT_ID",
                  "pattern": "^namespaces/[^/]+/executions/[^/]+$",
                  "location": "path",
                  "type": "string",
                  "required": true
                },
                "kind": {
                  "type": "string",
                  "description": "Optional. Cloud Run currently ignores this parameter.",
                  "location": "query"
                }
              },
              "parameterOrder": [
                "name"
              ]
            },
            "get": {
              "path": "apis/run.googleapis.com/v1/{+name}",
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "GET",
              "id": "run.namespaces.executions.get",
              "flatPath": "apis/run.googleapis.com/v1/namespaces/{namespacesId}/executions/{executionsId}",
              "response": {
                "$ref": "Execution"
              },
              "description": "Get information about an execution.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/run",
                "https://www.googleapis.com/auth/run.readonly"
              ],
              "parameters": {
                "name": {
                  "required": true,
                  "pattern": "^namespaces/[^/]+/executions/[^/]+$",
                  "description": "Required. The name of the execution to retrieve. Replace {namespace} with the project ID or number. It takes the form namespaces/{namespace}. For example: namespaces/PROJECT_ID",
                  "type": "string",
                  "location": "path"
                }
              }
            }
          }
        },
        "services": {
          "methods": {
            "list": {
              "response": {
                "$ref": "ListServicesResponse"
              },
              "id": "run.namespaces.services.list",
              "parameters": {
                "watch": {
                  "type": "boolean",
                  "description": "Not supported, and ignored by Cloud Run.",
                  "location": "query"
                },
                "continue": {
                  "description": "Encoded string to continue paging.",
                  "type": "string",
                  "location": "query"
                },
                "includeUninitialized": {
                  "description": "Not supported, and ignored by Cloud Run.",
                  "type": "boolean",
                  "location": "query"
                },
                "limit": {
                  "location": "query",
                  "description": "The maximum number of records that should be returned.",
                  "type": "integer",
                  "format": "int32"
                },
                "fieldSelector": {
                  "description": "Not supported, and ignored by Cloud Run.",
                  "type": "string",
                  "location": "query"
                },
                "resourceVersion": {
                  "type": "string",
                  "description": "Not supported, and ignored by Cloud Run.",
                  "location": "query"
                },
                "parent": {
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "pattern": "^namespaces/[^/]+$",
                  "description": "Required. The parent from where the resources should be listed. In Cloud Run, it may be one of the following: * `{project_id_or_number}` * `namespaces/{project_id_or_number}` * `namespaces/{project_id_or_number}/services` * `projects/{project_id_or_number}/locations/{region}` * `projects/{project_id_or_number}/regions/{region}`"
                },
                "labelSelector": {
                  "location": "query",
                  "description": "Allows to filter resources based on a label. Supported operations are =, !=, exists, in, and notIn.",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "path": "apis/serving.knative.dev/v1/{+parent}/services",
              "description": "Lists services for the given project and region. Results are sorted by creation time, descending.",
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/run",
                "https://www.googleapis.com/auth/run.readonly"
              ],
              "flatPath": "apis/serving.knative.dev/v1/namespaces/{namespacesId}/services"
            },
            "get": {
              "description": "Gets information about a service.",
              "id": "run.namespaces.services.get",
              "parameters": {
                "name": {
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "description": "Required. The fully qualified name of the service to retrieve. It can be any of the following forms: * `namespaces/{project_id_or_number}/services/{service_name}` (only when the `endpoint` is regional) * `projects/{project_id_or_number}/locations/{region}/services/{service_name}` * `projects/{project_id_or_number}/regions/{region}/services/{service_name}`",
                  "pattern": "^namespaces/[^/]+/services/[^/]+$"
                }
              },
              "response": {
                "$ref": "Service"
              },
              "flatPath": "apis/serving.knative.dev/v1/namespaces/{namespacesId}/services/{servicesId}",
              "path": "apis/serving.knative.dev/v1/{+name}",
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/run",
                "https://www.googleapis.com/auth/run.readonly"
              ],
              "httpMethod": "GET"
            },
            "create": {
              "description": "Creates a new Service. Service creation will trigger a new deployment. Use GetService, and check service.status to determine if the Service is ready.",
              "httpMethod": "POST",
              "path": "apis/serving.knative.dev/v1/{+parent}/services",
              "request": {
                "$ref": "Service"
              },
              "flatPath": "apis/serving.knative.dev/v1/namespaces/{namespacesId}/services",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/run"
              ],
              "parameters": {
                "dryRun": {
                  "type": "string",
                  "location": "query",
                  "description": "Indicates that the server should validate the request and populate default values without persisting the request. Supported values: `all`"
                },
                "parent": {
                  "description": "Required. The resource's parent. In Cloud Run, it may be one of the following: * `{project_id_or_number}` * `namespaces/{project_id_or_number}` * `namespaces/{project_id_or_number}/services` * `projects/{project_id_or_number}/locations/{region}` * `projects/{project_id_or_number}/regions/{region}`",
                  "pattern": "^namespaces/[^/]+$",
                  "required": true,
                  "type": "string",
                  "location": "path"
                }
              },
              "response": {
                "$ref": "Service"
              },
              "id": "run.namespaces.services.create",
              "parameterOrder": [
                "parent"
              ]
            },
            "delete": {
              "parameters": {
                "apiVersion": {
                  "description": "Not supported, and ignored by Cloud Run.",
                  "location": "query",
                  "type": "string"
                },
                "propagationPolicy": {
                  "type": "string",
                  "description": "Not supported, and ignored by Cloud Run.",
                  "location": "query"
                },
                "dryRun": {
                  "description": "Indicates that the server should validate the request and populate default values without persisting the request. Supported values: `all`",
                  "location": "query",
                  "type": "string"
                },
                "name": {
                  "pattern": "^namespaces/[^/]+/services/[^/]+$",
                  "description": "Required. The fully qualified name of the service to delete. It can be any of the following forms: * `namespaces/{project_id_or_number}/services/{service_name}` (only when the `endpoint` is regional) * `projects/{project_id_or_number}/locations/{region}/services/{service_name}` * `projects/{project_id_or_number}/regions/{region}/services/{service_name}`",
                  "location": "path",
                  "type": "string",
                  "required": true
                },
                "kind": {
                  "location": "query",
                  "description": "Not supported, and ignored by Cloud Run.",
                  "type": "string"
                }
              },
              "flatPath": "apis/serving.knative.dev/v1/namespaces/{namespacesId}/services/{servicesId}",
              "path": "apis/serving.knative.dev/v1/{+name}",
              "parameterOrder": [
                "name"
              ],
              "description": "Deletes the provided service. This will cause the Service to stop serving traffic and will delete all associated Revisions.",
              "httpMethod": "DELETE",
              "id": "run.namespaces.services.delete",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/run"
              ],
              "response": {
                "$ref": "Status"
              }
            },
            "replaceService": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/run"
              ],
              "response": {
                "$ref": "Service"
              },
              "description": "Replaces a service. Only the spec and metadata labels and annotations are modifiable. After the Update request, Cloud Run will work to make the 'status' match the requested 'spec'. May provide metadata.resourceVersion to enforce update from last read for optimistic concurrency control.",
              "id": "run.namespaces.services.replaceService",
              "path": "apis/serving.knative.dev/v1/{+name}",
              "httpMethod": "PUT",
              "request": {
                "$ref": "Service"
              },
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "pattern": "^namespaces/[^/]+/services/[^/]+$",
                  "required": true,
                  "description": "Required. The fully qualified name of the service to replace. It can be any of the following forms: * `namespaces/{project_id_or_number}/services/{service_name}` (only when the `endpoint` is regional) * `projects/{project_id_or_number}/locations/{region}/services/{service_name}` * `projects/{project_id_or_number}/regions/{region}/services/{service_name}`",
                  "type": "string",
                  "location": "path"
                },
                "dryRun": {
                  "location": "query",
                  "description": "Indicates that the server should validate the request and populate default values without persisting the request. Supported values: `all`",
                  "type": "string"
                }
              },
              "flatPath": "apis/serving.knative.dev/v1/namespaces/{namespacesId}/services/{servicesId}"
            }
          }
        }
      }
    },
    "projects": {
      "resources": {
        "locations": {
          "methods": {
            "list": {
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/run",
                "https://www.googleapis.com/auth/run.readonly"
              ],
              "httpMethod": "GET",
              "flatPath": "v1/projects/{projectsId}/locations",
              "response": {
                "$ref": "ListLocationsResponse"
              },
              "id": "run.projects.locations.list",
              "path": "v1/{+name}/locations",
              "parameters": {
                "extraLocationTypes": {
                  "type": "string",
                  "description": "Optional. Do not use this field unless explicitly documented otherwise. This is primarily for internal usage.",
                  "repeated": true,
                  "location": "query"
                },
                "pageSize": {
                  "format": "int32",
                  "type": "integer",
                  "description": "The maximum number of results to return. If not set, the service selects a default.",
                  "location": "query"
                },
                "name": {
                  "location": "path",
                  "description": "The resource that owns the locations collection, if applicable.",
                  "pattern": "^projects/[^/]+$",
                  "required": true,
                  "type": "string"
                },
                "pageToken": {
                  "type": "string",
                  "description": "A page token received from the `next_page_token` field in the response. Send that page token to receive the subsequent page.",
                  "location": "query"
                },
                "filter": {
                  "description": "A filter to narrow down results to a preferred subset. The filtering language accepts strings like `\"displayName=tokyo\"`, and is documented in more detail in [AIP-160](https://google.aip.dev/160).",
                  "location": "query",
                  "type": "string"
                }
              },
              "description": "Lists information about the supported locations for this service. This method lists locations based on the resource scope provided in the ListLocationsRequest.name field: * **Global locations**: If `name` is empty, the method lists the public locations available to all projects. * **Project-specific locations**: If `name` follows the format `projects/{project}`, the method lists locations visible to that specific project. This includes public, private, or other project-specific locations enabled for the project. For gRPC and client library implementations, the resource name is passed as the `name` field. For direct service calls, the resource name is incorporated into the request path based on the specific service implementation and version."
            }
          },
          "resources": {
            "operations": {
              "methods": {
                "delete": {
                  "parameters": {
                    "name": {
                      "type": "string",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "required": true,
                      "description": "The name of the operation resource to be deleted."
                    }
                  },
                  "id": "run.projects.locations.operations.delete",
                  "response": {
                    "$ref": "Empty"
                  },
                  "description": "Deletes a long-running operation. This method indicates that the client is no longer interested in the operation result. It does not cancel the operation. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`.",
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1/{+name}",
                  "httpMethod": "DELETE",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/run"
                  ]
                },
                "list": {
                  "path": "v1/{+name}/operations",
                  "httpMethod": "GET",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations",
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "run.projects.locations.operations.list",
                  "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`.",
                  "parameters": {
                    "pageSize": {
                      "type": "integer",
                      "description": "The maximum number of records that should be returned. Requested page size cannot exceed 100. If not set or set to less than or equal to 0, the default page size is 100. .",
                      "format": "int32",
                      "location": "query"
                    },
                    "name": {
                      "location": "path",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true,
                      "description": "Required. To query for all of the operations for a project."
                    },
                    "returnPartialSuccess": {
                      "description": "When set to `true`, operations that are reachable are returned as normal, and those that are unreachable are returned in the ListOperationsResponse.unreachable field. This can only be `true` when reading across collections. For example, when `parent` is set to `\"projects/example/locations/-\"`. This field is not supported by default and will result in an `UNIMPLEMENTED` error if set unless explicitly documented otherwise in service or product specific documentation.",
                      "type": "boolean",
                      "location": "query"
                    },
                    "pageToken": {
                      "type": "string",
                      "description": "Token identifying which result to start with, which is returned by a previous list call.",
                      "location": "query"
                    },
                    "filter": {
                      "type": "string",
                      "description": "Optional. A filter for matching the completed or in-progress operations. The supported formats of *filter* are: To query for only completed operations: done:true To query for only ongoing operations: done:false Must be empty to query for all of the latest operations for the given parent project.",
                      "location": "query"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/run",
                    "https://www.googleapis.com/auth/run.readonly"
                  ],
                  "response": {
                    "$ref": "GoogleLongrunningListOperationsResponse"
                  }
                },
                "wait": {
                  "httpMethod": "POST",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}:wait",
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Waits until the specified long-running operation is done or reaches at most a specified timeout, returning the latest state. If the operation is already done, the latest state is immediately returned. If the timeout specified is greater than the default HTTP/RPC timeout, the HTTP/RPC timeout is used. If the server does not support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Note that this method is on a best-effort basis. It may return the latest state before the specified timeout (including immediately), meaning even an immediate response is no guarantee that the operation is done.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/run",
                    "https://www.googleapis.com/auth/run.readonly"
                  ],
                  "parameters": {
                    "name": {
                      "type": "string",
                      "description": "The name of the operation resource to wait on.",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "required": true
                    }
                  },
                  "request": {
                    "$ref": "GoogleLongrunningWaitOperationRequest"
                  },
                  "id": "run.projects.locations.operations.wait",
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "path": "v1/{+name}:wait"
                },
                "get": {
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "path": "v1/{+name}",
                  "parameters": {
                    "name": {
                      "required": true,
                      "description": "The name of the operation resource.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/run",
                    "https://www.googleapis.com/auth/run.readonly"
                  ],
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}",
                  "id": "run.projects.locations.operations.get"
                }
              }
            },
            "workerpools": {
              "methods": {
                "setIamPolicy": {
                  "id": "run.projects.locations.workerpools.setIamPolicy",
                  "parameterOrder": [
                    "resource"
                  ],
                  "path": "v1/{+resource}:setIamPolicy",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/run"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/workerpools/{workerpoolsId}:setIamPolicy",
                  "parameters": {
                    "resource": {
                      "required": true,
                      "description": "REQUIRED: The resource for which the policy is being specified. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
                      "location": "path",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/workerpools/[^/]+$"
                    }
                  },
                  "request": {
                    "$ref": "SetIamPolicyRequest"
                  },
                  "response": {
                    "$ref": "Policy"
                  },
                  "description": "Sets the IAM Access control policy for the specified worker pool. Overwrites any existing policy.",
                  "httpMethod": "POST"
                },
                "getIamPolicy": {
                  "description": "Get the IAM Access Control policy currently in effect for the given worker pool. This result does not include any inherited policies.",
                  "id": "run.projects.locations.workerpools.getIamPolicy",
                  "response": {
                    "$ref": "Policy"
                  },
                  "path": "v1/{+resource}:getIamPolicy",
                  "parameters": {
                    "options.requestedPolicyVersion": {
                      "type": "integer",
                      "description": "Optional. The maximum policy version that will be used to format the policy. Valid values are 0, 1, and 3. Requests specifying an invalid value will be rejected. Requests for policies with any conditional role bindings must specify version 3. Policies with no conditional role bindings may specify any valid value or leave the field unset. The policy in the response might use the policy version that you specified, or it might use a lower policy version. For example, if you specify version 3, but the policy has no conditional role bindings, the response uses version 1. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies).",
                      "format": "int32",
                      "location": "query"
                    },
                    "resource": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/workerpools/[^/]+$",
                      "location": "path",
                      "type": "string",
                      "description": "REQUIRED: The resource for which the policy is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
                      "required": true
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/run",
                    "https://www.googleapis.com/auth/run.readonly"
                  ],
                  "parameterOrder": [
                    "resource"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/workerpools/{workerpoolsId}:getIamPolicy",
                  "httpMethod": "GET"
                },
                "testIamPermissions": {
                  "httpMethod": "POST",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/run",
                    "https://www.googleapis.com/auth/run.readonly"
                  ],
                  "path": "v1/{+resource}:testIamPermissions",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/workerpools/{workerpoolsId}:testIamPermissions",
                  "request": {
                    "$ref": "TestIamPermissionsRequest"
                  },
                  "parameterOrder": [
                    "resource"
                  ],
                  "parameters": {
                    "resource": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/workerpools/[^/]+$",
                      "location": "path",
                      "required": true,
                      "description": "REQUIRED: The resource for which the policy detail is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
                      "type": "string"
                    }
                  },
                  "response": {
                    "$ref": "TestIamPermissionsResponse"
                  },
                  "description": "Returns permissions that a caller has on the specified worker pool. There are no permissions required for making this API call.",
                  "id": "run.projects.locations.workerpools.testIamPermissions"
                }
              }
            },
            "instances": {
              "methods": {
                "getIamPolicy": {
                  "id": "run.projects.locations.instances.getIamPolicy",
                  "path": "v1/{+resource}:getIamPolicy",
                  "response": {
                    "$ref": "Policy"
                  },
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/run",
                    "https://www.googleapis.com/auth/run.readonly"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/instances/{instancesId}:getIamPolicy",
                  "parameters": {
                    "options.requestedPolicyVersion": {
                      "location": "query",
                      "format": "int32",
                      "description": "Optional. The maximum policy version that will be used to format the policy. Valid values are 0, 1, and 3. Requests specifying an invalid value will be rejected. Requests for policies with any conditional role bindings must specify version 3. Policies with no conditional role bindings may specify any valid value or leave the field unset. The policy in the response might use the policy version that you specified, or it might use a lower policy version. For example, if you specify version 3, but the policy has no conditional role bindings, the response uses version 1. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies).",
                      "type": "integer"
                    },
                    "resource": {
                      "required": true,
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/instances/[^/]+$",
[...]
