{
  "discoveryVersion": "v1",
  "version_module": true,
  "ownerName": "Google",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/run.readonly": {
          "description": "See your Google Cloud Run data and the email address of your Google Account"
        },
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        },
        "https://www.googleapis.com/auth/run": {
          "description": "See, edit, configure, and delete your Google Cloud Run data and see the email address for your Google Account"
        }
      }
    }
  },
  "servicePath": "",
  "ownerDomain": "google.com",
  "revision": "20260911",
  "schemas": {
    "GoogleDevtoolsCloudbuildV1Secrets": {
      "id": "GoogleDevtoolsCloudbuildV1Secrets",
      "type": "object",
      "properties": {
        "secretManager": {
          "items": {
            "$ref": "GoogleDevtoolsCloudbuildV1SecretManagerSecret"
          },
          "description": "Secrets in Secret Manager and associated secret environment variable.",
          "type": "array"
        },
        "inline": {
          "type": "array",
          "items": {
            "$ref": "GoogleDevtoolsCloudbuildV1InlineSecret"
          },
          "description": "Secrets encrypted with KMS key and the associated secret environment variable."
        }
      },
      "description": "Secrets and secret environment variables."
    },
    "GoogleCloudRunV2ListRevisionsResponse": {
      "properties": {
        "revisions": {
          "items": {
            "$ref": "GoogleCloudRunV2Revision"
          },
          "type": "array",
          "description": "The resulting list of Revisions."
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token indicating there are more items than page_size. Use it in the next ListRevisions request to continue."
        }
      },
      "id": "GoogleCloudRunV2ListRevisionsResponse",
      "type": "object",
      "description": "Response message containing a list of Revisions."
    },
    "GoogleCloudRunV2BuildpacksBuild": {
      "description": "Build the source using Buildpacks.",
      "properties": {
        "runtime": {
          "type": "string",
          "description": "The runtime name, e.g. 'go113'. Leave blank for generic builds.",
          "deprecated": true
        },
        "baseImage": {
          "description": "Optional. The base image to use for the build.",
          "type": "string"
        },
        "environmentVariables": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Optional. User-provided build-time environment variables."
        },
        "functionTarget": {
          "description": "Optional. Name of the function target if the source is a function source. Required for function builds.",
          "type": "string"
        },
        "projectDescriptor": {
          "description": "Optional. project_descriptor stores the path to the project descriptor file. When empty, it means that there is no project descriptor file in the source.",
          "type": "string"
        },
        "cacheImageUri": {
          "description": "Optional. cache_image_uri is the GCR/AR URL where the cache image will be stored. cache_image_uri is optional and omitting it will disable caching. This URL must be stable across builds. It is used to derive a build-specific temporary URL by substituting the tag with the build ID. The build will clean up the temporary image on a best-effort basis.",
          "type": "string"
        },
        "enableAutomaticUpdates": {
          "type": "boolean",
          "description": "Optional. Whether or not the application container will be enrolled in automatic base image updates. When true, the application will be built on a scratch base image, so the base layers can be appended at run time."
        }
      },
      "id": "GoogleCloudRunV2BuildpacksBuild",
      "type": "object"
    },
    "GoogleCloudRunV2SecretVolumeSource": {
      "id": "GoogleCloudRunV2SecretVolumeSource",
      "properties": {
        "items": {
          "type": "array",
          "description": "If unspecified, the volume will expose a file whose name is the secret, relative to VolumeMount.mount_path + VolumeMount.sub_path. If specified, the key will be used as the version to fetch from Cloud Secret Manager and the path will be the name of the file exposed in the volume. When items are defined, they must specify a path and a version.",
          "items": {
            "$ref": "GoogleCloudRunV2VersionToPath"
          }
        },
        "secret": {
          "description": "Required. The name of the secret in Cloud Secret Manager. Format: {secret} if the secret is in the same project. projects/{project}/secrets/{secret} if the secret is in a different project.",
          "type": "string"
        },
        "defaultMode": {
          "type": "integer",
          "description": "Integer representation of mode bits to use on created files by default. Must be a value between 0000 and 0777 (octal), defaulting to 0444. Directories within the path are not affected by this setting. Notes * Internally, a umask of 0222 will be applied to any non-zero value. * This is an integer representation of the mode bits. So, the octal integer value should look exactly as the chmod numeric notation with a leading zero. Some examples: for chmod 640 (u=rw,g=r), set to 0640 (octal) or 416 (base-10). For chmod 755 (u=rwx,g=rx,o=rx), set to 0755 (octal) or 493 (base-10). * This might be in conflict with other options that affect the file mode, like fsGroup, and the result can be other mode bits set. This might be in conflict with other options that affect the file mode, like fsGroup, and as a result, other mode bits could be set.",
          "format": "int32"
        }
      },
      "type": "object",
      "description": "The secret's value will be presented as the content of a file whose name is defined in the item path. If no items are defined, the name of the file is the secret."
    },
    "GoogleDevtoolsCloudbuildV1PythonPackage": {
      "id": "GoogleDevtoolsCloudbuildV1PythonPackage",
      "description": "Python package to upload to Artifact Registry upon successful completion of all build steps. A package can encapsulate multiple objects to be uploaded to a single repository.",
      "type": "object",
      "properties": {
        "paths": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Path globs used to match files in the build's workspace. For Python/ Twine, this is usually `dist/*`, and sometimes additionally an `.asc` file."
        },
        "repository": {
          "description": "Artifact Registry repository, in the form \"https://$REGION-python.pkg.dev/$PROJECT/$REPOSITORY\" Files in the workspace matching any path pattern will be uploaded to Artifact Registry with this location as a prefix.",
          "type": "string"
        }
      }
    },
    "GoogleDevtoolsCloudbuildV1RepoSource": {
      "properties": {
        "branchName": {
          "description": "Regex matching branches to build. The syntax of the regular expressions accepted is the syntax accepted by RE2 and described at https://github.com/google/re2/wiki/Syntax",
          "type": "string"
        },
        "projectId": {
          "description": "Optional. ID of the project that owns the Cloud Source Repository. If omitted, the project ID requesting the build is assumed.",
          "type": "string"
        },
        "substitutions": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. Substitutions to use in a triggered build. Should only be used with RunBuildTrigger"
        },
        "repoName": {
          "type": "string",
          "description": "Required. Name of the Cloud Source Repository."
        },
        "dir": {
          "description": "Optional. Directory, relative to the source root, in which to run the build. This must be a relative path. If a step's `dir` is specified and is an absolute path, this value is ignored for that step's execution.",
          "type": "string"
        },
        "invertRegex": {
          "type": "boolean",
          "description": "Optional. Only trigger a build if the revision regex does NOT match the revision regex."
        },
        "commitSha": {
          "description": "Explicit commit SHA to build.",
          "type": "string"
        },
        "tagName": {
          "type": "string",
          "description": "Regex matching tags to build. The syntax of the regular expressions accepted is the syntax accepted by RE2 and described at https://github.com/google/re2/wiki/Syntax"
        }
      },
      "type": "object",
      "id": "GoogleDevtoolsCloudbuildV1RepoSource",
      "description": "Location of the source in a Google Cloud Source Repository."
    },
    "GoogleRpcStatus": {
      "id": "GoogleRpcStatus",
      "properties": {
        "details": {
          "type": "array",
          "items": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            }
          },
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use."
        },
        "code": {
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "type": "integer",
          "format": "int32"
        },
        "message": {
          "type": "string",
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client."
        }
      },
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "type": "object"
    },
    "GoogleDevtoolsCloudbuildV1Warning": {
      "properties": {
        "text": {
          "type": "string",
          "description": "Explanation of the warning generated."
        },
        "priority": {
          "enumDescriptions": [
            "Should not be used.",
            "e.g. deprecation warnings and alternative feature highlights.",
            "e.g. automated detection of possible issues with the build.",
            "e.g. alerts that a feature used in the build is pending removal"
          ],
          "description": "The priority for this warning.",
          "enum": [
            "PRIORITY_UNSPECIFIED",
            "INFO",
            "WARNING",
            "ALERT"
          ],
          "type": "string"
        }
      },
      "type": "object",
      "description": "A non-fatal problem encountered during the execution of the build.",
      "id": "GoogleDevtoolsCloudbuildV1Warning"
    },
    "GoogleCloudRunV2RunJobRequest": {
      "id": "GoogleCloudRunV2RunJobRequest",
      "type": "object",
      "description": "Request message to create a new Execution of a Job.",
      "properties": {
        "validateOnly": {
          "description": "Indicates that the request should be validated without actually deleting any resources.",
          "type": "boolean"
        },
        "etag": {
          "type": "string",
          "description": "A system-generated fingerprint for this version of the resource. May be used to detect modification conflict during updates."
        },
        "overrides": {
          "description": "Overrides specification for a given execution of a job. If provided, overrides will be applied to update the execution or task spec.",
          "$ref": "GoogleCloudRunV2Overrides"
        }
      }
    },
    "GoogleIamV1AuditLogConfig": {
      "properties": {
        "logType": {
          "description": "The log type that this config enables.",
          "type": "string",
          "enumDescriptions": [
            "Default case. Should never be this.",
            "Admin reads. Example: CloudIAM getIamPolicy",
            "Data writes. Example: CloudSQL Users create",
            "Data reads. Example: CloudSQL Users list"
          ],
          "enum": [
            "LOG_TYPE_UNSPECIFIED",
            "ADMIN_READ",
            "DATA_WRITE",
            "DATA_READ"
          ]
        },
        "exemptedMembers": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Specifies the identities that do not cause logging for this type of permission. Follows the same format of Binding.members."
        }
      },
      "id": "GoogleIamV1AuditLogConfig",
      "type": "object",
      "description": "Provides the configuration for logging a type of permissions. Example: { \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\", \"exempted_members\": [ \"user:jose@example.com\" ] }, { \"log_type\": \"DATA_WRITE\" } ] } This enables 'DATA_READ' and 'DATA_WRITE' logging, while exempting jose@example.com from DATA_READ logging."
    },
    "GoogleCloudRunV2HTTPGetAction": {
      "description": "HTTPGetAction describes an action based on HTTP Get requests.",
      "properties": {
        "path": {
          "description": "Optional. Path to access on the HTTP server. Defaults to '/'.",
          "type": "string"
        },
        "httpHeaders": {
          "description": "Optional. Custom headers to set in the request. HTTP allows repeated headers.",
          "items": {
            "$ref": "GoogleCloudRunV2HTTPHeader"
          },
          "type": "array"
        },
        "port": {
          "type": "integer",
          "format": "int32",
          "description": "Optional. Port number to access on the container. Must be in the range 1 to 65535. If not specified, defaults to the exposed port of the container, which is the value of container.ports[0].containerPort."
        }
      },
      "type": "object",
      "id": "GoogleCloudRunV2HTTPGetAction"
    },
    "GoogleDevtoolsCloudbuildV1Secret": {
      "properties": {
        "kmsKeyName": {
          "description": "Cloud KMS key name to use to decrypt these envs.",
          "type": "string"
        },
        "secretEnv": {
          "type": "object",
          "description": "Map of environment variable name to its encrypted value. Secret environment variables must be unique across all of a build's secrets, and must be used by at least one build step. Values can be at most 64 KB in size. There can be at most 100 secret values across all of a build's secrets.",
          "additionalProperties": {
            "format": "byte",
            "type": "string"
          }
        }
      },
      "type": "object",
      "description": "Pairs a set of secret environment variables containing encrypted values with the Cloud KMS key to use to decrypt the value. Note: Use `kmsKeyName` with `available_secrets` instead of using `kmsKeyName` with `secret`. For instructions see: https://cloud.google.com/cloud-build/docs/securing-builds/use-encrypted-credentials.",
      "id": "GoogleDevtoolsCloudbuildV1Secret"
    },
    "GoogleIamV1AuditConfig": {
      "description": "Specifies the audit configuration for a service. The configuration determines which permission types are logged, and what identities, if any, are exempted from logging. An AuditConfig must have one or more AuditLogConfigs. If there are AuditConfigs for both `allServices` and a specific service, the union of the two AuditConfigs is used for that service: the log_types specified in each AuditConfig are enabled, and the exempted_members in each AuditLogConfig are exempted. Example Policy with multiple AuditConfigs: { \"audit_configs\": [ { \"service\": \"allServices\", \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\", \"exempted_members\": [ \"user:jose@example.com\" ] }, { \"log_type\": \"DATA_WRITE\" }, { \"log_type\": \"ADMIN_READ\" } ] }, { \"service\": \"sampleservice.googleapis.com\", \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\" }, { \"log_type\": \"DATA_WRITE\", \"exempted_members\": [ \"user:aliya@example.com\" ] } ] } ] } For sampleservice, this policy enables DATA_READ, DATA_WRITE and ADMIN_READ logging. It also exempts `jose@example.com` from DATA_READ logging, and `aliya@example.com` from DATA_WRITE logging.",
      "properties": {
        "service": {
          "description": "Specifies a service that will be enabled for audit logging. For example, `storage.googleapis.com`, `cloudsql.googleapis.com`. `allServices` is a special value that covers all services.",
          "type": "string"
        },
        "auditLogConfigs": {
          "items": {
            "$ref": "GoogleIamV1AuditLogConfig"
          },
          "description": "The configuration for logging of each type of permission.",
          "type": "array"
        }
      },
      "type": "object",
      "id": "GoogleIamV1AuditConfig"
    },
    "GoogleLongrunningOperation": {
      "properties": {
        "metadata": {
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "type": "object"
        },
        "response": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "type": "object"
        },
        "error": {
          "description": "The error result of the operation in case of failure or cancellation.",
          "$ref": "GoogleRpcStatus"
        },
        "done": {
          "type": "boolean",
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available."
        },
        "name": {
          "type": "string",
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`."
        }
      },
      "type": "object",
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "id": "GoogleLongrunningOperation"
    },
    "GoogleCloudRunV2TrafficTargetStatus": {
      "type": "object",
      "description": "Represents the observed state of a single `TrafficTarget` entry.",
      "properties": {
        "uri": {
          "type": "string",
          "description": "Displays the target URI."
        },
        "revision": {
          "type": "string",
          "description": "Revision to which this traffic is sent."
        },
        "tag": {
          "description": "Indicates the string used in the URI to exclusively reference this target.",
          "type": "string"
        },
        "type": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified instance allocation type.",
            "Allocates instances to the Service's latest ready Revision.",
            "Allocates instances to a Revision by name."
          ],
          "enum": [
            "TRAFFIC_TARGET_ALLOCATION_TYPE_UNSPECIFIED",
            "TRAFFIC_TARGET_ALLOCATION_TYPE_LATEST",
            "TRAFFIC_TARGET_ALLOCATION_TYPE_REVISION"
          ],
          "description": "The allocation type for this traffic target."
        },
        "percent": {
          "description": "Specifies percent of the traffic to this Revision.",
          "format": "int32",
          "type": "integer"
        }
      },
      "id": "GoogleCloudRunV2TrafficTargetStatus"
    },
    "GoogleCloudRunV2ListJobsResponse": {
      "properties": {
        "jobs": {
          "description": "The resulting list of Jobs.",
          "items": {
            "$ref": "GoogleCloudRunV2Job"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token indicating there are more items than page_size. Use it in the next ListJobs request to continue.",
          "type": "string"
        }
      },
      "id": "GoogleCloudRunV2ListJobsResponse",
      "type": "object",
      "description": "Response message containing a list of Jobs."
    },
    "GoogleCloudRunV2InstanceSplit": {
      "properties": {
        "revision": {
          "description": "Revision to which to assign this portion of instances, if split allocation is by revision.",
          "type": "string"
        },
        "type": {
          "type": "string",
          "description": "The allocation type for this instance split.",
          "enum": [
            "INSTANCE_SPLIT_ALLOCATION_TYPE_UNSPECIFIED",
            "INSTANCE_SPLIT_ALLOCATION_TYPE_LATEST",
            "INSTANCE_SPLIT_ALLOCATION_TYPE_REVISION"
          ],
          "enumDescriptions": [
            "Unspecified instance allocation type.",
            "Allocates instances to the Service's latest ready Revision.",
            "Allocates instances to a Revision by name."
          ]
        },
        "percent": {
          "description": "Specifies percent of the instance split to this Revision. This defaults to zero if unspecified.",
          "type": "integer",
          "format": "int32"
        }
      },
      "description": "Holds a single instance split entry for the Worker. Allocations can be done to a specific Revision name, or pointing to the latest Ready Revision.",
      "id": "GoogleCloudRunV2InstanceSplit",
      "type": "object"
    },
    "GoogleCloudRunV2DockerBuild": {
      "id": "GoogleCloudRunV2DockerBuild",
      "properties": {},
      "type": "object",
      "description": "Build the source using Docker. This means the source has a Dockerfile."
    },
    "GoogleDevtoolsCloudbuildV1SecretManagerSecret": {
      "id": "GoogleDevtoolsCloudbuildV1SecretManagerSecret",
      "type": "object",
      "properties": {
        "versionName": {
          "description": "Resource name of the SecretVersion. In format: projects/*/secrets/*/versions/*",
          "type": "string"
        },
        "env": {
          "description": "Environment variable name to associate with the secret. Secret environment variables must be unique across all of a build's secrets, and must be used by at least one build step.",
          "type": "string"
        }
      },
      "description": "Pairs a secret environment variable with a SecretVersion in Secret Manager."
    },
    "GoogleCloudRunV2ListTasksResponse": {
      "id": "GoogleCloudRunV2ListTasksResponse",
      "type": "object",
      "properties": {
        "tasks": {
          "items": {
            "$ref": "GoogleCloudRunV2Task"
          },
          "type": "array",
          "description": "The resulting list of Tasks."
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token indicating there are more items than page_size. Use it in the next ListTasks request to continue."
        }
      },
      "description": "Response message containing a list of Tasks."
    },
    "GoogleDevtoolsCloudbuildV1Hash": {
      "id": "GoogleDevtoolsCloudbuildV1Hash",
      "type": "object",
      "description": "Container message for hash values.",
      "properties": {
        "value": {
          "format": "byte",
          "type": "string",
          "description": "The hash value."
        },
        "type": {
          "type": "string",
          "enumDescriptions": [
            "No hash requested.",
            "Use a sha256 hash.",
            "Use a md5 hash.",
            "Dirhash of a Go module's source code which is then hex-encoded.",
            "Use a sha512 hash.",
            "Use a dirsum_sha256 hash."
          ],
          "description": "The type of hash that was performed.",
          "enum": [
            "NONE",
            "SHA256",
            "MD5",
            "GO_MODULE_H1",
            "SHA512",
            "DIRSUM_SHA256"
          ]
        }
      }
    },
    "GoogleDevtoolsCloudbuildV1GitConfig": {
      "description": "GitConfig is a configuration for git operations.",
      "id": "GoogleDevtoolsCloudbuildV1GitConfig",
      "type": "object",
      "properties": {
        "http": {
          "$ref": "GoogleDevtoolsCloudbuildV1HttpConfig",
          "description": "Configuration for HTTP related git operations."
        }
      }
    },
    "GoogleCloudRunV2ExportStatusResponse": {
      "description": "ExportStatusResponse contains the status of image export operation, with the status of each image export job.",
      "type": "object",
      "properties": {
        "imageExportStatuses": {
          "items": {
            "$ref": "GoogleCloudRunV2ImageExportStatus"
          },
          "type": "array",
          "description": "The status of each image export job."
        },
        "operationId": {
          "description": "The operation id.",
          "type": "string"
        },
        "operationState": {
          "enum": [
            "OPERATION_STATE_UNSPECIFIED",
            "IN_PROGRESS",
            "FINISHED"
          ],
          "enumDescriptions": [
            "State unspecified.",
            "Operation still in progress.",
            "Operation finished."
          ],
          "readOnly": true,
          "description": "Output only. The state of the overall export operation.",
          "type": "string"
        }
      },
      "id": "GoogleCloudRunV2ExportStatusResponse"
    },
    "GoogleDevtoolsCloudbuildV1ApprovalResult": {
      "properties": {
        "decision": {
          "type": "string",
          "enumDescriptions": [
            "Default enum type. This should not be used.",
            "Build is approved.",
            "Build is rejected."
          ],
          "description": "Required. The decision of this manual approval.",
          "enum": [
            "DECISION_UNSPECIFIED",
            "APPROVED",
            "REJECTED"
          ]
        },
        "approvalTime": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The time when the approval decision was made.",
          "format": "google-datetime"
        },
        "approverAccount": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Email of the user that called the ApproveBuild API to approve or reject a build at the time that the API was called."
        },
        "url": {
          "description": "Optional. An optional URL tied to this manual approval result. This field is essentially the same as comment, except that it will be rendered by the UI differently. An example use case is a link to an external job that approved this Build.",
          "type": "string"
        },
        "comment": {
          "description": "Optional. An optional comment for this manual approval result.",
          "type": "string"
        }
      },
      "id": "GoogleDevtoolsCloudbuildV1ApprovalResult",
      "type": "object",
      "description": "ApprovalResult describes the decision and associated metadata of a manual approval of a build."
    },
    "GoogleCloudRunV2Condition": {
      "id": "GoogleCloudRunV2Condition",
      "description": "Defines a status condition for a resource.",
      "properties": {
        "state": {
          "type": "string",
          "description": "State of the condition.",
          "enumDescriptions": [
            "The default value. This value is used if the state is omitted.",
            "Transient state: Reconciliation has not started yet.",
            "Transient state: reconciliation is still in progress.",
            "Terminal state: Reconciliation did not succeed.",
            "Terminal state: Reconciliation completed successfully."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "CONDITION_PENDING",
            "CONDITION_RECONCILING",
            "CONDITION_FAILED",
            "CONDITION_SUCCEEDED"
          ]
        },
        "lastTransitionTime": {
          "description": "Last time the condition transitioned from one status to another.",
          "type": "string",
          "format": "google-datetime"
        },
        "instanceReason": {
          "description": "Output only. A reason for the instance condition.",
          "type": "string",
          "readOnly": true,
          "enumDescriptions": [
            "Default value.",
            "Instance deleted.",
            "Instance stopped.",
            "Instance stopping.",
            "Instance exited with a non-zero exit code."
          ],
          "enum": [
            "INSTANCE_REASON_UNSPECIFIED",
            "INSTANCE_DELETED",
            "INSTANCE_STOPPED",
            "INSTANCE_STOPPING",
            "INSTANCE_NON_ZERO_EXIT_CODE"
          ]
        },
        "revisionReason": {
          "enum": [
            "REVISION_REASON_UNDEFINED",
            "PENDING",
            "RESERVE",
            "RETIRED",
            "RETIRING",
            "RECREATING",
            "HEALTH_CHECK_CONTAINER_ERROR",
            "CUSTOMIZED_PATH_RESPONSE_PENDING",
            "MIN_INSTANCES_NOT_PROVISIONED",
            "ACTIVE_REVISION_LIMIT_REACHED",
            "NO_DEPLOYMENT",
            "HEALTH_CHECK_SKIPPED",
            "MIN_INSTANCES_WARMING"
          ],
          "description": "Output only. A reason for the revision condition.",
          "readOnly": true,
          "enumDescriptions": [
            "Default value.",
            "Revision in Pending state.",
            "Revision is in Reserve state.",
            "Revision is Retired.",
            "Revision is being retired.",
            "Revision is being recreated.",
            "There was a health check error.",
            "Health check failed due to user error from customized path of the container. System will retry.",
            "A revision with min_instance_count > 0 was created and is reserved, but it was not configured to serve traffic, so it's not live. This can also happen momentarily during traffic migration.",
            "The maximum allowed number of active revisions has been reached.",
            "There was no deployment defined. This value is no longer used, but Services created in older versions of the API might contain this value.",
            "A revision's container has no port specified since the revision is of a manually scaled service with 0 instance count",
            "A revision with min_instance_count > 0 was created and is waiting for enough instances to begin a traffic migration."
          ],
          "type": "string"
        },
        "executionReason": {
          "enum": [
            "EXECUTION_REASON_UNDEFINED",
            "JOB_STATUS_SERVICE_POLLING_ERROR",
            "NON_ZERO_EXIT_CODE",
            "CANCELLED",
            "CANCELLING",
            "DELETED",
            "DELAYED_START_PENDING",
            "DELAYED_EXECUTION_EXCEEDING_DURATION_LIMIT"
          ],
          "readOnly": true,
          "enumDescriptions": [
            "Default value.",
            "Internal system error getting execution status. System will retry.",
            "A task reached its retry limit and the last attempt failed due to the user container exiting with a non-zero exit code.",
            "The execution was cancelled by users.",
            "The execution is in the process of being cancelled.",
            "The execution was deleted.",
            "A delayed execution is waiting for a start time.",
            "A delayed execution exceeded the maximum runtime duration."
          ],
          "description": "Output only. A reason for the execution condition.",
          "type": "string"
        },
        "severity": {
          "description": "How to interpret failures of this condition, one of Error, Warning, Info",
          "enum": [
            "SEVERITY_UNSPECIFIED",
            "ERROR",
            "WARNING",
            "INFO"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unspecified severity",
            "Error severity.",
            "Warning severity.",
            "Info severity."
          ]
        },
        "reason": {
          "type": "string",
          "enumDescriptions": [
            "Default value.",
            "Reason unknown. Further details will be in message.",
            "Revision creation process failed.",
            "Timed out waiting for completion.",
            "The container image path is incorrect.",
            "Insufficient permissions on the container image.",
            "Container image is not authorized by policy.",
            "Container image policy authorization check failed.",
            "Insufficient permissions on encryption key.",
            "Permission check on encryption key failed.",
            "At least one Access check on secrets failed.",
            "Waiting for operation to complete.",
            "System will retry immediately.",
            "System will retry later; current attempt failed.",
            "An internal error occurred. Further information may be in the message.",
            "User-provided VPC network was not found."
          ],
          "enum": [
            "COMMON_REASON_UNDEFINED",
            "UNKNOWN",
            "REVISION_FAILED",
            "PROGRESS_DEADLINE_EXCEEDED",
            "CONTAINER_MISSING",
            "CONTAINER_PERMISSION_DENIED",
            "CONTAINER_IMAGE_UNAUTHORIZED",
            "CONTAINER_IMAGE_AUTHORIZATION_CHECK_FAILED",
            "ENCRYPTION_KEY_PERMISSION_DENIED",
            "ENCRYPTION_KEY_CHECK_FAILED",
            "SECRETS_ACCESS_CHECK_FAILED",
            "WAITING_FOR_OPERATION",
            "IMMEDIATE_RETRY",
            "POSTPONED_RETRY",
            "INTERNAL",
            "VPC_NETWORK_NOT_FOUND"
          ],
          "description": "Output only. A common (service-level) reason for this condition.",
          "readOnly": true
        },
        "message": {
          "description": "Human readable message indicating details about the current status.",
          "type": "string"
        },
        "type": {
          "description": "type is used to communicate the status of the reconciliation process. See also: https://github.com/knative/serving/blob/main/docs/spec/errors.md#error-conditions-and-reporting Types common to all resources include: * \"Ready\": True when the Resource is ready.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudRunV2VolumeMount": {
      "type": "object",
      "id": "GoogleCloudRunV2VolumeMount",
      "properties": {
        "mountPath": {
          "description": "Required. Path within the container at which the volume should be mounted. Must not contain ':'. For Cloud SQL volumes, it can be left empty, or must otherwise be `/cloudsql`. All instances defined in the Volume will be available as `/cloudsql/[instance]`. For more information on Cloud SQL volumes, visit https://cloud.google.com/sql/docs/mysql/connect-run",
          "type": "string"
        },
        "subPath": {
          "type": "string",
          "description": "Optional. Path within the volume from which the container's volume should be mounted. Defaults to \"\" (volume's root). This field is currently rejected in Secret volume mounts."
        },
        "name": {
          "description": "Required. This must match the Name of a Volume.",
          "type": "string"
        }
      },
      "description": "VolumeMount describes a mounting of a Volume within a container."
    },
    "GoogleCloudRunV2Metadata": {
      "description": "Metadata represents the JSON encoded generated customer metadata.",
      "properties": {
        "metadata": {
          "description": "JSON encoded Google-generated Customer Metadata for a given resource/project.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudRunV2Metadata"
    },
    "GoogleCloudRunV2Job": {
      "type": "object",
      "properties": {
        "satisfiesPzs": {
          "readOnly": true,
          "description": "Output only. Reserved for future use.",
          "type": "boolean"
        },
        "generation": {
          "readOnly": true,
          "type": "string",
          "format": "int64",
          "description": "Output only. A number that monotonically increases every time the user modifies the desired state."
        },
        "creator": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Email address of the authenticated creator."
        },
        "latestCreatedExecution": {
          "description": "Output only. Name of the last created execution.",
          "readOnly": true,
          "$ref": "GoogleCloudRunV2ExecutionReference"
        },
        "launchStage": {
          "enum": [
            "LAUNCH_STAGE_UNSPECIFIED",
            "UNIMPLEMENTED",
            "PRELAUNCH",
            "EARLY_ACCESS",
            "ALPHA",
            "BETA",
            "GA",
            "DEPRECATED"
          ],
          "enumDescriptions": [
            "Do not use this default value.",
            "The feature is not yet implemented. Users can not use it.",
            "Prelaunch features are hidden from users and are only visible internally.",
            "Early Access features are limited to a closed group of testers. To use these features, you must sign up in advance and sign a Trusted Tester agreement (which includes confidentiality provisions). These features may be unstable, changed in backward-incompatible ways, and are not guaranteed to be released.",
            "Alpha is a limited availability test for releases before they are cleared for widespread use. By Alpha, all significant design issues are resolved and we are in the process of verifying functionality. Alpha customers need to apply for access, agree to applicable terms, and have their projects allowlisted. Alpha releases don't have to be feature complete, no SLAs are provided, and there are no technical support obligations, but they will be far enough along that customers can actually use them in test environments or for limited-use tests -- just like they would in normal production cases.",
            "Beta is the point at which we are ready to open a release for any customer to use. There are no SLA or technical support obligations in a Beta release. Products will be complete from a feature perspective, but may have some open outstanding issues. Beta releases are suitable for limited production use cases.",
            "GA features are open to all developers and are considered stable and fully qualified for production use.",
            "Deprecated features are scheduled to be shut down and removed. For more information, see the \"Deprecation Policy\" section of our [Terms of Service](https://cloud.google.com/terms/) and the [Google Cloud Platform Subject to the Deprecation Policy](https://cloud.google.com/terms/deprecation) documentation."
          ],
          "type": "string",
          "description": "The launch stage as defined by [Google Cloud Platform Launch Stages](https://cloud.google.com/terms/launch-stages). Cloud Run supports `ALPHA`, `BETA`, and `GA`. If no value is specified, GA is assumed. Set the launch stage to a preview stage on input to allow use of preview features in that stage. On read (or output), describes whether the resource uses preview features. For example, if ALPHA is provided as input, but only BETA and GA-level features are used, this field will be BETA on output."
        },
        "template": {
          "description": "Required. The template used to create executions for this Job.",
          "$ref": "GoogleCloudRunV2ExecutionTemplate"
        },
        "terminalCondition": {
          "description": "Output only. The Condition of this Job, containing its readiness status, and detailed error information in case it did not reach the desired state.",
          "readOnly": true,
          "$ref": "GoogleCloudRunV2Condition"
        },
        "conditions": {
          "description": "Output only. The Conditions of all other associated sub-resources. They contain additional diagnostics information in case the Job does not reach its desired state. See comments in `reconciling` for additional information on reconciliation process in Cloud Run.",
          "items": {
            "$ref": "GoogleCloudRunV2Condition"
          },
          "readOnly": true,
          "type": "array"
        },
        "name": {
          "description": "The fully qualified name of this Job. Format: projects/{project}/locations/{location}/jobs/{job}",
          "type": "string"
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Unstructured key value map that can be used to organize and categorize objects. User-provided labels are shared with Google's billing system, so they can be used to filter, or break down billing charges by team, component, environment, state, etc. For more information, visit https://cloud.google.com/resource-manager/docs/creating-managing-labels or https://cloud.google.com/run/docs/configuring/labels. Cloud Run API v2 does not support labels with `run.googleapis.com`, `cloud.googleapis.com`, `serving.knative.dev`, or `autoscaling.knative.dev` namespaces, and they will be rejected. All system labels in v1 now have a corresponding field in v2 Job.",
          "type": "object"
        },
        "client": {
          "description": "Arbitrary identifier for the API client.",
          "type": "string"
        },
        "uid": {
          "type": "string",
          "description": "Output only. Server assigned unique identifier for the Execution. The value is a UUID4 string and guaranteed to remain unchanged until the resource is deleted.",
          "readOnly": true
        },
        "deleteTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The deletion time. It is only populated as a response to a Delete request.",
          "format": "google-datetime"
        },
        "createTime": {
          "description": "Output only. The creation time.",
          "format": "google-datetime",
          "type": "string",
          "readOnly": true
        },
        "expireTime": {
          "format": "google-datetime",
          "description": "Output only. For a deleted resource, the time after which it will be permamently deleted.",
          "type": "string",
          "readOnly": true
        },
        "clientVersion": {
          "description": "Arbitrary version identifier for the API client.",
          "type": "string"
        },
        "executionCount": {
          "description": "Output only. Number of executions created for this job.",
          "type": "integer",
          "readOnly": true,
          "format": "int32"
        },
        "reconciling": {
          "description": "Output only. Returns true if the Job is currently being acted upon by the system to bring it into the desired state. When a new Job is created, or an existing one is updated, Cloud Run will asynchronously perform all necessary steps to bring the Job to the desired state. This process is called reconciliation. While reconciliation is in process, `observed_generation` and `latest_succeeded_execution`, will have transient values that might mismatch the intended state: Once reconciliation is over (and this field is false), there are two possible outcomes: reconciliation succeeded and the state matches the Job, or there was an error, and reconciliation failed. This state can be found in `terminal_condition.state`. If reconciliation succeeded, the following fields will match: `observed_generation` and `generation`, `latest_succeeded_execution` and `latest_created_execution`. If reconciliation failed, `observed_generation` and `latest_succeeded_execution` will have the state of the last succeeded execution or empty for newly created Job. Additional information on the failure can be found in `terminal_condition` and `conditions`.",
          "type": "boolean",
          "readOnly": true
        },
        "startExecutionToken": {
          "type": "string",
          "description": "A unique string used as a suffix creating a new execution. The Job will become ready when the execution is successfully started. The sum of job name and token length must be fewer than 63 characters."
        },
        "observedGeneration": {
          "readOnly": true,
          "type": "string",
          "format": "int64",
          "description": "Output only. The generation of this Job. See comments in `reconciling` for additional information on reconciliation process in Cloud Run."
        },
        "lastModifier": {
          "readOnly": true,
          "description": "Output only. Email address of the last authenticated modifier.",
          "type": "string"
        },
        "annotations": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Unstructured key value map that may be set by external tools to store and arbitrary metadata. They are not queryable and should be preserved when modifying objects. Cloud Run API v2 does not support annotations with `run.googleapis.com`, `cloud.googleapis.com`, `serving.knative.dev`, or `autoscaling.knative.dev` namespaces, and they will be rejected on new resources. All system annotations in v1 now have a corresponding field in v2 Job. This field follows Kubernetes annotations' namespacing, limits, and rules.",
          "type": "object"
        },
        "functionalType": {
          "type": "string",
          "enumDescriptions": [
            "Specifies that the functional type is unspecified.",
            "Represents an AGENT functional type.",
            "Represents an MCP_SERVER functional type."
          ],
          "enum": [
            "FUNCTIONAL_TYPE_UNSPECIFIED",
            "FUNCTIONAL_TYPE_AGENT",
            "FUNCTIONAL_TYPE_MCP_SERVER"
          ],
          "description": "Optional. The functional type of the Job."
        },
        "runExecutionToken": {
          "type": "string",
          "description": "A unique string used as a suffix for creating a new execution. The Job will become ready when the execution is successfully completed. The sum of job name and token length must be fewer than 63 characters."
        },
        "binaryAuthorization": {
          "description": "Settings for the Binary Authorization feature.",
          "$ref": "GoogleCloudRunV2BinaryAuthorization"
        },
        "updateTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The last-modified time."
        },
        "etag": {
          "type": "string",
          "description": "Optional. A system-generated fingerprint for this version of the resource. May be used to detect modification conflict during updates."
        }
      },
      "description": "Job represents the configuration of a single job, which references a container image that is run to completion.",
      "id": "GoogleCloudRunV2Job"
    },
    "GoogleDevtoolsCloudbuildV1UploadedNpmPackage": {
      "properties": {
        "artifactRegistryPackage": {
          "type": "string",
          "description": "Output only. Path to the artifact in Artifact Registry.",
          "readOnly": true
        },
        "fileHashes": {
          "description": "Hash types and values of the npm package.",
          "$ref": "GoogleDevtoolsCloudbuildV1FileHashes"
        },
        "pushTiming": {
          "description": "Output only. Stores timing information for pushing the specified artifact.",
          "$ref": "GoogleDevtoolsCloudbuildV1TimeSpan",
          "readOnly": true
        },
        "uri": {
          "description": "URI of the uploaded npm package.",
          "type": "string"
        }
      },
      "id": "GoogleDevtoolsCloudbuildV1UploadedNpmPackage",
      "type": "object",
      "description": "An npm package uploaded to Artifact Registry using the NpmPackage directive."
    },
    "GoogleDevtoolsCloudbuildV1PoolOption": {
      "description": "Details about how a build should be executed on a `WorkerPool`. See [running builds in a private pool](https://cloud.google.com/build/docs/private-pools/run-builds-in-private-pool) for more information.",
      "id": "GoogleDevtoolsCloudbuildV1PoolOption",
      "properties": {
        "name": {
          "type": "string",
          "description": "The `WorkerPool` resource to execute the build on. You must have `cloudbuild.workerpools.use` on the project hosting the WorkerPool. Format projects/{project}/locations/{location}/workerPools/{workerPoolId}"
        }
      },
      "type": "object"
    },
    "GoogleDevtoolsCloudbuildV1GitSourceRepository": {
      "type": "object",
      "properties": {
        "url": {
          "description": "Location of the Git repository.",
          "type": "string"
        },
        "developerConnect": {
          "type": "string",
          "description": "The Developer Connect Git repository link formatted as `projects/*/locations/*/connections/*/gitRepositoryLink/*`"
        }
      },
      "description": "A repository for a git source.",
      "id": "GoogleDevtoolsCloudbuildV1GitSourceRepository"
    },
    "GoogleCloudRunV2RevisionScalingStatus": {
      "description": "Effective settings for the current revision",
      "type": "object",
      "id": "GoogleCloudRunV2RevisionScalingStatus",
      "properties": {
        "desiredMinInstanceCount": {
          "type": "integer",
          "description": "The current number of min instances provisioned for this revision.",
          "format": "int32"
        }
      }
    },
    "GoogleDevtoolsCloudbuildV1FailureInfo": {
      "properties": {
        "detail": {
          "description": "Explains the failure issue in more detail using hard-coded text.",
          "type": "string"
        },
        "type": {
          "description": "The name of the failure.",
          "type": "string",
          "enumDescriptions": [
            "Type unspecified",
            "Unable to push the image to the repository.",
            "Final image not found.",
            "Unauthorized push of the final image.",
            "Backend logging failures. Should retry.",
            "A build step has failed.",
            "The source fetching has failed."
          ],
          "enum": [
            "FAILURE_TYPE_UNSPECIFIED",
            "PUSH_FAILED",
            "PUSH_IMAGE_NOT_FOUND",
            "PUSH_NOT_AUTHORIZED",
            "LOGGING_FAILURE",
            "USER_BUILD_STEP",
            "FETCH_SOURCE_FAILED"
          ]
        }
      },
      "type": "object",
      "id": "GoogleDevtoolsCloudbuildV1FailureInfo",
      "description": "A fatal problem encountered during the execution of the build."
    },
    "GoogleDevtoolsCloudbuildV1StorageSource": {
      "properties": {
        "object": {
          "description": "Required. Cloud Storage object containing the source. This object must be a zipped (`.zip`) or gzipped archive file (`.tar.gz`) containing source to build.",
          "type": "string"
        },
        "sourceFetcher": {
          "enumDescriptions": [
            "Unspecified defaults to GSUTIL.",
            "Use the \"gsutil\" tool to download the source file.",
            "Use the Cloud Storage Fetcher tool to download the source file."
          ],
          "enum": [
            "SOURCE_FETCHER_UNSPECIFIED",
            "GSUTIL",
            "GCS_FETCHER"
          ],
          "description": "Optional. Option to specify the tool to fetch the source file for the build.",
          "type": "string"
        },
        "bucket": {
          "type": "string",
          "description": "Cloud Storage bucket containing the source (see [Bucket Name Requirements](https://cloud.google.com/storage/docs/bucket-naming#requirements))."
        },
        "generation": {
          "format": "int64",
          "description": "Optional. Cloud Storage generation for the object. If the generation is omitted, the latest generation will be used.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleDevtoolsCloudbuildV1StorageSource",
      "description": "Location of the source in an archive file in Cloud Storage."
    },
    "GoogleDevtoolsCloudbuildV1InlineSecret": {
      "type": "object",
      "id": "GoogleDevtoolsCloudbuildV1InlineSecret",
      "properties": {
        "envMap": {
          "type": "object",
          "description": "Map of environment variable name to its encrypted value. Secret environment variables must be unique across all of a build's secrets, and must be used by at least one build step. Values can be at most 64 KB in size. There can be at most 100 secret values across all of a build's secrets.",
          "additionalProperties": {
            "type": "string",
            "format": "byte"
          }
        },
        "kmsKeyName": {
          "description": "Resource name of Cloud KMS crypto key to decrypt the encrypted value. In format: projects/*/locations/*/keyRings/*/cryptoKeys/*",
          "type": "string"
        }
      },
      "description": "Pairs a set of secret environment variables mapped to encrypted values with the Cloud KMS key to use to decrypt the value."
    },
    "GoogleDevtoolsCloudbuildV1BuiltImage": {
      "type": "object",
      "id": "GoogleDevtoolsCloudbuildV1BuiltImage",
      "properties": {
        "artifactRegistryPackage": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Path to the artifact in Artifact Registry."
        },
        "name": {
          "description": "Name used to push the container image to Google Container Registry, as presented to `docker push`.",
          "type": "string"
        },
        "pushTiming": {
          "description": "Output only. Stores timing information for pushing the specified image.",
          "readOnly": true,
          "$ref": "GoogleDevtoolsCloudbuildV1TimeSpan"
        },
        "digest": {
          "description": "Docker Registry 2.0 digest.",
          "type": "string"
        },
        "ociMediaType": {
          "description": "Output only. The OCI media type of the artifact. Non-OCI images, such as Docker images, will have an unspecified value.",
          "type": "string",
          "enum": [
            "OCI_MEDIA_TYPE_UNSPECIFIED",
            "IMAGE_MANIFEST",
            "IMAGE_INDEX"
          ],
          "enumDescriptions": [
            "Default value.",
            "The artifact is an image manifest, which represents a single image with all its layers.",
            "The artifact is an image index, which can contain a list of image manifests."
          ],
          "readOnly": true
        }
      },
      "description": "An image built by the pipeline."
    },
    "GoogleIamV1TestIamPermissionsRequest": {
      "properties": {
        "permissions": {
          "description": "The set of permissions to check for the `resource`. Permissions with wildcards (such as `*` or `storage.*`) are not allowed. For more information see [IAM Overview](https://cloud.google.com/iam/docs/overview#permissions).",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "Request message for `TestIamPermissions` method.",
      "type": "object",
      "id": "GoogleIamV1TestIamPermissionsRequest"
    },
    "GoogleCloudRunV2ListExecutionsResponse": {
      "id": "GoogleCloudRunV2ListExecutionsResponse",
      "properties": {
        "executions": {
          "items": {
            "$ref": "GoogleCloudRunV2Execution"
          },
          "type": "array",
          "description": "The resulting list of Executions."
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token indicating there are more items than page_size. Use it in the next ListExecutions request to continue."
        }
      },
      "description": "Response message containing a list of Executions.",
      "type": "object"
    },
    "GoogleCloudRunV2GRPCAction": {
      "properties": {
        "service": {
          "description": "Optional. Service is the name of the service to place in the gRPC HealthCheckRequest (see https://github.com/grpc/grpc/blob/master/doc/health-checking.md ). If this is not specified, the default behavior is defined by gRPC.",
          "type": "string"
        },
        "port": {
          "type": "integer",
          "description": "Optional. Port number of the gRPC service. Number must be in the range 1 to 65535. If not specified, defaults to the exposed port of the container, which is the value of container.ports[0].containerPort.",
          "format": "int32"
        }
      },
      "type": "object",
      "id": "GoogleCloudRunV2GRPCAction",
      "description": "GRPCAction describes an action involving a GRPC port."
    },
    "GoogleDevtoolsCloudbuildV1MavenArtifact": {
      "properties": {
        "version": {
          "description": "Maven `version` value used when uploading the artifact to Artifact Registry.",
          "type": "string"
        },
        "path": {
          "type": "string",
          "description": "Optional. Path to an artifact in the build's workspace to be uploaded to Artifact Registry. This can be either an absolute path, e.g. /workspace/my-app/target/my-app-1.0.SNAPSHOT.jar or a relative path from /workspace, e.g. my-app/target/my-app-1.0.SNAPSHOT.jar."
        },
        "groupId": {
          "description": "Maven `groupId` value used when uploading the artifact to Artifact Registry.",
          "type": "string"
        },
        "artifactId": {
          "description": "Maven `artifactId` value used when uploading the artifact to Artifact Registry.",
          "type": "string"
        },
        "repository": {
          "description": "Artifact Registry repository, in the form \"https://$REGION-maven.pkg.dev/$PROJECT/$REPOSITORY\" Artifact in the workspace specified by path will be uploaded to Artifact Registry with this location as a prefix.",
          "type": "string"
        },
        "deployFolder": {
          "type": "string",
          "description": "Optional. Path to a folder containing the files to upload to Artifact Registry. This can be either an absolute path, e.g. `/workspace/my-app/target/`, or a relative path from /workspace, e.g. `my-app/target/`. This field is mutually exclusive with the `path` field."
        }
      },
      "description": "A Maven artifact to upload to Artifact Registry upon successful completion of all build steps.",
      "id": "GoogleDevtoolsCloudbuildV1MavenArtifact",
      "type": "object"
    },
    "UtilStatusProto": {
      "id": "UtilStatusProto",
      "type": "object",
      "properties": {
        "messageSet": {
          "description": "message_set associates an arbitrary proto message with the status. copybara:strip_begin(b/383363683) copybara:strip_end_and_replace optional proto2.bridge.MessageSet message_set = 5;",
          "$ref": "Proto2BridgeMessageSet"
        },
        "canonicalCode": {
          "type": "integer",
          "description": "copybara:strip_begin(b/383363683) copybara:strip_end_and_replace optional int32 canonical_code = 6;",
          "format": "int32"
        },
        "code": {
          "type": "integer",
          "description": "Numeric code drawn from the space specified below. Often, this is the canonical error space, and code is drawn from google3/util/task/codes.proto copybara:strip_begin(b/383363683) copybara:strip_end_and_replace optional int32 code = 1;",
          "format": "int32"
        },
        "message": {
          "type": "string",
          "description": "Detail message copybara:strip_begin(b/383363683) copybara:strip_end_and_replace optional string message = 3;"
        },
        "space": {
          "description": "copybara:strip_begin(b/383363683) Space to which this status belongs copybara:strip_end_and_replace optional string space = 2; // Space to which this status belongs",
          "type": "string"
        }
      },
      "description": "Wire-format for a Status object"
    },
    "GoogleCloudRunV2VpcAccess": {
      "type": "object",
      "id": "GoogleCloudRunV2VpcAccess",
      "properties": {
        "networkInterfaces": {
          "description": "Optional. Direct VPC egress settings. Currently only single network interface is supported.",
          "items": {
            "$ref": "GoogleCloudRunV2NetworkInterface"
          },
          "type": "array"
        },
        "connector": {
          "type": "string",
          "description": "VPC Access connector name. Format: `projects/{project}/locations/{location}/connectors/{connector}`, where `{project}` can be project id or number. For more information on sending traffic to a VPC network via a connector, visit https://cloud.google.com/run/docs/configuring/vpc-connectors."
        },
        "egress": {
          "enum": [
            "VPC_EGRESS_UNSPECIFIED",
            "ALL_TRAFFIC",
            "PRIVATE_RANGES_ONLY"
          ],
          "enumDescriptions": [
            "Unspecified",
            "All outbound traffic is routed through the VPC connector.",
            "Only private IP ranges are routed through the VPC connector."
          ],
          "description": "Optional. Traffic VPC egress settings. If not provided, it defaults to PRIVATE_RANGES_ONLY.",
          "type": "string"
        }
      },
      "description": "VPC Access settings. For more information on sending traffic to a VPC network, visit https://cloud.google.com/run/docs/configuring/connecting-vpc."
    },
    "GoogleCloudRunV2BinaryAuthorization": {
      "id": "GoogleCloudRunV2BinaryAuthorization",
      "description": "Settings for Binary Authorization feature.",
      "type": "object",
      "properties": {
        "breakglassJustification": {
          "type": "string",
          "description": "Optional. If present, indicates to use Breakglass using this justification. If use_default is False, then it must be empty. For more information on breakglass, see https://cloud.google.com/binary-authorization/docs/using-breakglass"
        },
        "policy": {
          "type": "string",
          "description": "Optional. The path to a binary authorization policy. Format: `projects/{project}/platforms/cloudRun/{policy-name}`"
        },
        "useDefault": {
          "type": "boolean",
          "description": "Optional. If True, indicates to use the default project's binary authorization policy. If False, binary authorization will be disabled."
        }
      }
    },
    "GoogleTypeExpr": {
      "id": "GoogleTypeExpr",
      "properties": {
        "title": {
          "type": "string",
          "description": "Optional. Title for the expression, i.e. a short string describing its purpose. This can be used e.g. in UIs which allow to enter the expression."
        },
        "description": {
          "type": "string",
          "description": "Optional. Description of the expression. This is a longer text which describes the expression, e.g. when hovered over it in a UI."
        },
        "location": {
          "type": "string",
          "description": "Optional. String indicating the location of the expression for error reporting, e.g. a file name and a position in the file."
        },
        "expression": {
          "description": "Textual representation of an expression in Common Expression Language syntax.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Represents a textual expression in the Common Expression Language (CEL) syntax. CEL is a C-like expression language. The syntax and semantics of CEL are documented at https://github.com/google/cel-spec. Example (Comparison): title: \"Summary size limit\" description: \"Determines if a summary is less than 100 chars\" expression: \"document.summary.size() < 100\" Example (Equality): title: \"Requestor is owner\" description: \"Determines if requestor is the document owner\" expression: \"document.owner == request.auth.claims.email\" Example (Logic): title: \"Public documents\" description: \"Determine whether the document should be publicly visible\" expression: \"document.type != 'private' && document.type != 'internal'\" Example (Data Manipulation): title: \"Notification string\" description: \"Create a notification string with a timestamp.\" expression: \"'New message received at ' + string(document.create_time)\" The exact variables and functions that may be referenced within an expression are determined by the service that evaluates it. See the service documentation for additional information."
    },
    "GoogleCloudRunV2GCSVolumeSource": {
      "id": "GoogleCloudRunV2GCSVolumeSource",
      "type": "object",
      "description": "Represents a volume backed by a Cloud Storage bucket using Cloud Storage FUSE.",
      "properties": {
        "readOnly": {
          "type": "boolean",
          "description": "If true, the volume will be mounted as read only for all mounts."
        },
        "mountOptions": {
          "description": "A list of additional flags to pass to the gcsfuse CLI. Options should be specified without the leading \"--\".",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "bucket": {
          "type": "string",
          "description": "Cloud Storage Bucket name."
        }
      }
    },
    "GoogleCloudRunV2WorkloadIdentityConfig": {
      "id": "GoogleCloudRunV2WorkloadIdentityConfig",
      "properties": {
        "identity": {
          "description": "Optional. The Revision's SPIFFE workload identity. Enables provisioning of SPIFFE workload certificates.",
          "type": "string"
        },
        "identityCertificateEnabled": {
          "type": "boolean",
          "description": "Optional. Controls whether an instance receives a MWLID certificate. Corresponds to the intention of the original --[no-]identity-certificate flag."
        },
        "identityType": {
          "type": "string",
          "description": "Optional. The type of identity to use.",
          "enum": [
            "IDENTITY_TYPE_UNSPECIFIED",
            "IDENTITY_TYPE_SERVICE_ACCOUNT",
            "IDENTITY_TYPE_AGENT_IDENTITY"
          ],
          "enumDescriptions": [
            "Unspecified",
            "Service account identity.",
            "Agent identity."
          ]
        }
      },
      "description": "Workload identity settings.",
      "type": "object"
    },
    "GoogleDevtoolsCloudbuildV1SourceProvenance": {
      "id": "GoogleDevtoolsCloudbuildV1SourceProvenance",
      "type": "object",
      "description": "Provenance of the source. Ways to find the original source, or verify that some source was used for this build.",
      "properties": {
        "resolvedGitSource": {
          "description": "Output only. A copy of the build's `source.git_source`, if exists, with any revisions resolved.",
          "$ref": "GoogleDevtoolsCloudbuildV1GitSource",
          "readOnly": true
        },
        "resolvedConnectedRepository": {
          "$ref": "GoogleDevtoolsCloudbuildV1ConnectedRepository",
          "readOnly": true,
          "description": "Output only. A copy of the build's `source.connected_repository`, if exists, with any revisions resolved."
        },
        "resolvedRepoSource": {
          "$ref": "GoogleDevtoolsCloudbuildV1RepoSource",
          "description": "A copy of the build's `source.repo_source`, if exists, with any revisions resolved."
        },
        "resolvedStorageSourceManifest": {
          "$ref": "GoogleDevtoolsCloudbuildV1StorageSourceManifest",
          "description": "A copy of the build's `source.storage_source_manifest`, if exists, with any revisions resolved. This feature is in Preview."
        },
        "fileHashes": {
          "additionalProperties": {
            "$ref": "GoogleDevtoolsCloudbuildV1FileHashes"
          },
          "readOnly": true,
          "type": "object",
          "description": "Output only. Hash(es) of the build source, which can be used to verify that the original source integrity was maintained in the build. Note that `FileHashes` will only be populated if `BuildOptions` has requested a `SourceProvenanceHash`. The keys to this map are file paths used as build source and the values contain the hash values for those files. If the build source came in a single package such as a gzipped tarfile (`.tar.gz`), the `FileHash` will be for the single path to that file."
        },
        "resolvedStorageSource": {
          "description": "A copy of the build's `source.storage_source`, if exists, with any generations resolved.",
          "$ref": "GoogleDevtoolsCloudbuildV1StorageSource"
        }
      }
    },
    "GoogleDevtoolsCloudbuildV1Source": {
      "properties": {
        "storageSource": {
          "$ref": "GoogleDevtoolsCloudbuildV1StorageSource",
          "description": "If provided, get the source from this location in Cloud Storage."
        },
        "developerConnectConfig": {
          "$ref": "GoogleDevtoolsCloudbuildV1DeveloperConnectConfig",
          "description": "If provided, get the source from this Developer Connect config."
        },
        "connectedRepository": {
          "description": "Optional. If provided, get the source from this 2nd-gen Google Cloud Build repository resource.",
          "$ref": "GoogleDevtoolsCloudbuildV1ConnectedRepository"
        },
        "gitSource": {
          "$ref": "GoogleDevtoolsCloudbuildV1GitSource",
          "description": "If provided, get the source from this Git repository."
        },
        "storageSourceManifest": {
          "$ref": "GoogleDevtoolsCloudbuildV1StorageSourceManifest",
          "description": "If provided, get the source from this manifest in Cloud Storage. This feature is in Preview; see description [here](https://github.com/GoogleCloudPlatform/cloud-builders/tree/master/gcs-fetcher)."
        },
        "repoSource": {
          "description": "If provided, get the source from this location in a Cloud Source Repository.",
          "$ref": "GoogleDevtoolsCloudbuildV1RepoSource"
        }
      },
      "id": "GoogleDevtoolsCloudbuildV1Source",
      "description": "Location of the source in a supported storage service.",
      "type": "object"
    },
    "GoogleCloudRunV2TaskAttemptResult": {
      "properties": {
        "exitCode": {
          "readOnly": true,
          "type": "integer",
          "description": "Output only. The exit code of this attempt. This may be unset if the container was unable to exit cleanly with a code due to some other failure. See status field for possible failure details. At most one of exit_code or term_signal will be set.",
          "format": "int32"
        },
        "status": {
          "readOnly": true,
          "description": "Output only. The status of this attempt. If the status code is OK, then the attempt succeeded.",
          "$ref": "GoogleRpcStatus"
        },
        "termSignal": {
          "description": "Output only. Termination signal of the container. This is set to non-zero if the container is terminated by the system. At most one of exit_code or term_signal will be set.",
          "format": "int32",
          "readOnly": true,
          "type": "integer"
        }
      },
      "id": "GoogleCloudRunV2TaskAttemptResult",
      "type": "object",
      "description": "Result of a task attempt."
    },
    "GoogleLongrunningListOperationsResponse": {
      "type": "object",
      "description": "The response message for Operations.ListOperations.",
      "properties": {
        "unreachable": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Unordered list. Unreachable resources. Populated when the request sets `ListOperationsRequest.return_partial_success` and reads across collections. For example, when attempting to list all resources across all supported locations."
        },
        "operations": {
          "type": "array",
          "description": "A list of operations that matches the specified filter in the request.",
          "items": {
            "$ref": "GoogleLongrunningOperation"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "The standard List next-page token."
        }
      },
      "id": "GoogleLongrunningListOperationsResponse"
    },
    "GoogleDevtoolsCloudbuildV1Volume": {
      "description": "Volume describes a Docker container volume which is mounted into build steps in order to persist files across build step execution.",
      "id": "GoogleDevtoolsCloudbuildV1Volume",
      "type": "object",
      "properties": {
        "path": {
          "description": "Path at which to mount the volume. Paths must be absolute and cannot conflict with other volume paths on the same build step or with certain reserved volume paths.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Name of the volume to mount. Volume names must be unique per build step and must be valid names for Docker volumes. Each named volume must be used by at least two build steps."
        }
      }
    },
    "GoogleCloudRunV2Execution": {
      "description": "Execution represents the configuration of a single execution. A execution an immutable resource that references a container image which is run to completion.",
      "type": "object",
      "id": "GoogleCloudRunV2Execution",
      "properties": {
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Output only. Unstructured key value map that can be used to organize and categorize objects. User-provided labels are shared with Google's billing system, so they can be used to filter, or break down billing charges by team, component, environment, state, etc. For more information, visit https://cloud.google.com/resource-manager/docs/creating-managing-labels or https://cloud.google.com/run/docs/configuring/labels",
          "type": "object",
          "readOnly": true
        },
        "client": {
          "description": "Output only. Arbitrary identifier for the API client.",
          "readOnly": true,
          "type": "string"
        },
        "cancelledCount": {
          "readOnly": true,
          "format": "int32",
          "type": "integer",
          "description": "Output only. The number of tasks which reached phase Cancelled."
        },
        "updateTime": {
          "description": "Output only. The last-modified time.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "completionTime": {
          "readOnly": true,
          "description": "Output only. Represents time when the execution was completed. It is not guaranteed to be set in happens-before order across separate operations.",
          "type": "string",
          "format": "google-datetime"
        },
        "parallelism": {
          "type": "integer",
          "format": "int32",
          "readOnly": true,
          "description": "Output only. Specifies the maximum desired number of tasks the execution should run at any given time. Must be <= task_count. The actual number of tasks running in steady state will be less than this number when ((.spec.task_count - .status.successful) < .spec.parallelism), i.e. when the work left to do is less than max parallelism."
        },
        "runningCount": {
          "format": "int32",
          "readOnly": true,
          "description": "Output only. The number of actively running tasks.",
          "type": "integer"
        },
        "annotations": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Output only. Unstructured key value map that may be set by external tools to store and arbitrary metadata. They are not queryable and should be preserved when modifying objects.",
          "readOnly": true,
          "type": "object"
        },
        "name": {
          "type": "string",
          "description": "Output only. The unique name of this Execution.",
          "readOnly": true
        },
        "job": {
          "readOnly": true,
          "description": "Output only. The name of the parent Job.",
          "type": "string"
        },
        "logUri": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. URI where logs for this execution can be found in Cloud Console."
        },
        "retriedCount": {
          "format": "int32",
          "readOnly": true,
          "description": "Output only. The number of tasks which have retried at least once.",
          "type": "integer"
        },
        "startTime": {
          "format": "google-datetime",
          "readOnly": true,
          "type": "string",
          "description": "Output only. Represents time when the execution started to run. It is not guaranteed to be set in happens-before order across separate operations."
        },
        "satisfiesPzs": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. Reserved for future use."
        },
        "launchStage": {
          "enumDescriptions": [
            "Do not use this default value.",
            "The feature is not yet implemented. Users can not use it.",
            "Prelaunch features are hidden from users and are only visible internally.",
            "Early Access features are limited to a closed group of testers. To use these features, you must sign up in advance and sign a Trusted Tester agreement (which includes confidentiality provisions). These features may be unstable, changed in backward-incompatible ways, and are not guaranteed to be released.",
            "Alpha is a limited availability test for releases before they are cleared for widespread use. By Alpha, all significant design issues are resolved and we are in the process of verifying functionality. Alpha customers need to apply for access, agree to applicable terms, and have their projects allowlisted. Alpha releases don't have to be feature complete, no SLAs are provided, and there are no technical support obligations, but they will be far enough along that customers can actually use them in test environments or for limited-use tests -- just like they would in normal production cases.",
            "Beta is the point at which we are ready to open a release for any customer to use. There are no SLA or technical support obligations in a Beta release. Products will be complete from a feature perspective, but may have some open outstanding issues. Beta releases are suitable for limited production use cases.",
            "GA features are open to all developers and are considered stable and fully qualified for production use.",
            "Deprecated features are scheduled to be shut down and removed. For more information, see the \"Deprecation Policy\" section of our [Terms of Service](https://cloud.google.com/terms/) and the [Google Cloud Platform Subject to the Deprecation Policy](https://cloud.google.com/terms/deprecation) documentation."
          ],
          "description": "The least stable launch stage needed to create this resource, as defined by [Google Cloud Platform Launch Stages](https://cloud.google.com/terms/launch-stages). Cloud Run supports `ALPHA`, `BETA`, and `GA`. Note that this value might not be what was used as input. For example, if ALPHA was provided as input in the parent resource, but only BETA and GA-level features are used, this field will be BETA.",
          "enum": [
            "LAUNCH_STAGE_UNSPECIFIED",
            "UNIMPLEMENTED",
            "PRELAUNCH",
            "EARLY_ACCESS",
            "ALPHA",
            "BETA",
            "GA",
            "DEPRECATED"
          ],
          "type": "string"
        },
        "etag": {
          "description": "Output only. A system-generated fingerprint for this version of the resource. May be used to detect modification conflict during updates.",
          "readOnly": true,
          "type": "string"
        },
        "failedCount": {
          "readOnly": true,
          "format": "int32",
          "type": "integer",
          "description": "Output only. The number of tasks which reached phase Failed."
        },
        "deleteTime": {
          "description": "Output only. For a deleted resource, the deletion time. It is only populated as a response to a Delete request.",
          "format": "google-datetime",
          "type": "string",
          "readOnly": true
        },
        "observedGeneration": {
          "type": "string",
          "description": "Output only. The generation of this Execution. See comments in `reconciling` for additional information on reconciliation process in Cloud Run.",
          "readOnly": true,
          "format": "int64"
        },
        "generation": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. A number that monotonically increases every time the user modifies the desired state.",
          "format": "int64"
        },
        "conditions": {
          "readOnly": true,
          "description": "Output only. The Condition of this Execution, containing its readiness status, and detailed error information in case it did not reach the desired state.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudRunV2Condition"
          }
        },
        "creator": {
          "description": "Output only. Email address of the authenticated creator.",
          "type": "string",
          "readOnly": true
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Represents time when the execution was acknowledged by the execution controller. It is not guaranteed to be set in happens-before order across separate operations.",
          "format": "google-datetime"
        },
        "expireTime": {
          "type": "string",
          "description": "Output only. For a deleted resource, the time after which it will be permamently deleted. It is only populated as a response to a Delete request.",
          "format": "google-datetime",
          "readOnly": true
        },
        "clientVersion": {
          "description": "Output only. Arbitrary version identifier for the API client.",
          "type": "string",
          "readOnly": true
        },
        "succeededCount": {
          "format": "int32",
          "readOnly": true,
          "description": "Output only. The number of tasks which reached phase Succeeded.",
          "type": "integer"
        },
        "taskCount": {
          "format": "int32",
          "readOnly": true,
          "type": "integer",
          "description": "Output only. Specifies the desired number of tasks the execution should run. Setting to 1 means that parallelism is limited to 1 and the success of that task signals the success of the execution."
        },
        "uid": {
          "type": "string",
          "description": "Output only. Server assigned unique identifier for the Execution. The value is a UUID4 string and guaranteed to remain unchanged until the resource is deleted.",
          "readOnly": true
        },
        "template": {
          "readOnly": true,
          "$ref": "GoogleCloudRunV2TaskTemplate",
          "description": "Output only. The template used to create tasks for this execution."
        },
        "reconciling": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. Indicates whether the resource's reconciliation is still in progress. See comments in `Job.reconciling` for additional information on reconciliation process in Cloud Run."
        }
      }
    },
    "GoogleDevtoolsCloudbuildV1BuildOperationMetadata": {
      "id": "GoogleDevtoolsCloudbuildV1BuildOperationMetadata",
      "properties": {
        "build": {
          "description": "The build that the operation is tracking.",
          "$ref": "GoogleDevtoolsCloudbuildV1Build"
        }
      },
      "type": "object",
      "description": "Metadata for build operations."
    },
    "GoogleIamV1Binding": {
      "id": "GoogleIamV1Binding",
      "type": "object",
      "properties": {
        "role": {
          "type": "string",
          "description": "Role that is assigned to the list of `members`, or principals. For example, `roles/viewer`, `roles/editor`, or `roles/owner`. For an overview of the IAM roles and permissions, see the [IAM documentation](https://cloud.google.com/iam/docs/roles-overview). For a list of the available pre-defined roles, see [here](https://cloud.google.com/iam/docs/understanding-roles)."
        },
        "condition": {
          "description": "The condition that is associated with this binding. If the condition evaluates to `true`, then this binding applies to the current request. If the condition evaluates to `false`, then this binding does not apply to the current request. However, a different role binding might grant the same role to one or more of the principals in this binding. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies).",
          "$ref": "GoogleTypeExpr"
        },
        "members": {
          "description": "Specifies the principals requesting access for a Google Cloud resource. `members` can have the following values: * `allUsers`: A special identifier that represents anyone who is on the internet; with or without a Google account. * `allAuthenticatedUsers`: A special identifier that represents anyone who is authenticated with a Google account or a service account. Does not include identities that come from external identity providers (IdPs) through identity federation. * `user:{emailid}`: An email address that represents a specific Google account. For example, `alice@example.com` . * `serviceAccount:{emailid}`: An email address that represents a Google service account. For example, `my-other-app@appspot.gserviceaccount.com`. * `serviceAccount:{projectid}.svc.id.goog[{namespace}/{kubernetes-sa}]`: An identifier for a [Kubernetes service account](https://cloud.google.com/kubernetes-engine/docs/how-to/kubernetes-service-accounts). For example, `my-project.svc.id.goog[my-namespace/my-kubernetes-sa]`. * `group:{emailid}`: An email address that represents a Google group. For example, `admins@example.com`. * `domain:{domain}`: The G Suite domain (primary) that represents all the users of that domain. For example, `google.com` or `example.com`. * `principal://iam.googleapis.com/locations/global/workforcePools/{pool_id}/subject/{subject_attribute_value}`: A single identity in a workforce identity pool. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/group/{group_id}`: All workforce identities in a group. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/attribute.{attribute_name}/{attribute_value}`: All workforce identities with a specific attribute value. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/*`: All identities in a workforce identity pool. * `principal://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/subject/{subject_attribute_value}`: A single identity in a workload identity pool. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/group/{group_id}`: A workload identity pool group. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/attribute.{attribute_name}/{attribute_value}`: All identities in a workload identity pool with a certain attribute. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/*`: All identities in a workload identity pool. * `deleted:user:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a user that has been recently deleted. For example, `alice@example.com?uid=123456789012345678901`. If the user is recovered, this value reverts to `user:{emailid}` and the recovered user retains the role in the binding. * `deleted:serviceAccount:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a service account that has been recently deleted. For example, `my-other-app@appspot.gserviceaccount.com?uid=123456789012345678901`. If the service account is undeleted, this value reverts to `serviceAccount:{emailid}` and the undeleted service account retains the role in the binding. * `deleted:group:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a Google group that has been recently deleted. For example, `admins@example.com?uid=123456789012345678901`. If the group is recovered, this value reverts to `group:{emailid}` and the recovered group retains the role in the binding. * `deleted:principal://iam.googleapis.com/locations/global/workforcePools/{pool_id}/subject/{subject_attribute_value}`: Deleted single identity in a workforce identity pool. For example, `deleted:principal://iam.googleapis.com/locations/global/workforcePools/my-pool-id/subject/my-subject-attribute-value`.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "description": "Associates `members`, or principals, with a `role`."
    },
    "GoogleDevtoolsCloudbuildV1GenericArtifact": {
      "properties": {
        "registryPath": {
          "type": "string",
          "description": "Required. Registry path to upload the generic artifact to, in the form projects/$PROJECT/locations/$LOCATION/repositories/$REPO/packages/$PACKAGE/versions/$VERSION"
        },
        "folder": {
          "description": "Required. Path to the generic artifact in the build's workspace to be uploaded to Artifact Registry.",
          "type": "string"
        }
      },
      "description": "Generic artifact to upload to Artifact Registry upon successful completion of all build steps.",
      "id": "GoogleDevtoolsCloudbuildV1GenericArtifact",
      "type": "object"
    },
    "GoogleCloudRunV2ContainerStatus": {
      "description": "ContainerStatus holds the information of container name and image digest value.",
      "type": "object",
      "properties": {
        "name": {
          "description": "The name of the container, if specified.",
          "type": "string"
        },
        "imageDigest": {
          "type": "string",
          "description": "ImageDigest holds the resolved digest for the image specified and resolved during the creation of Revision. This field holds the digest value regardless of whether a tag or digest was originally specified in the Container object."
        }
      },
      "id": "GoogleCloudRunV2ContainerStatus"
    },
    "GoogleCloudRunV2Overrides": {
      "properties": {
        "timeout": {
          "type": "string",
          "description": "Duration in seconds the task may be active before the system will actively try to mark it failed and kill associated containers. Will replace existing timeout_seconds value.",
          "format": "google-duration"
        },
        "containerOverrides": {
          "description": "Per container override specification.",
          "items": {
            "$ref": "GoogleCloudRunV2ContainerOverride"
          },
          "type": "array"
        },
        "taskCount": {
          "type": "integer",
          "description": "Optional. The desired number of tasks the execution should run. Will replace existing task_count value.",
          "format": "int32"
        },
        "delayExecution": {
          "description": "Optional. If true, the system will start the execution within the next 12 hours depending on available capacity.",
          "type": "boolean"
        }
      },
      "type": "object",
      "id": "GoogleCloudRunV2Overrides",
      "description": "RunJob Overrides that contains Execution fields to be overridden."
    },
    "GoogleCloudRunV2SubmitBuildRequest": {
      "properties": {
        "imageUri": {
          "description": "Required. Artifact Registry URI to store the built image.",
          "type": "string"
        },
        "buildpackBuild": {
          "$ref": "GoogleCloudRunV2BuildpacksBuild",
          "description": "Build the source using Buildpacks."
        },
        "client": {
          "description": "Optional. The client that initiated the build request.",
          "type": "string"
        },
        "storageSource": {
          "$ref": "GoogleCloudRunV2StorageSource",
          "description": "Required. Source for the build."
        },
        "dockerBuild": {
          "$ref": "GoogleCloudRunV2DockerBuild",
          "description": "Build the source using Docker. This means the source has a Dockerfile."
        },
        "workerPool": {
          "description": "Optional. Name of the Cloud Build Custom Worker Pool that should be used to build the function. The format of this field is `projects/{project}/locations/{region}/workerPools/{workerPool}` where `{project}` and `{region}` are the project id and region respectively where the worker pool is defined and `{workerPool}` is the short name of the worker pool.",
          "type": "string"
        },
        "tags": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Optional. Additional tags to annotate the build."
        },
        "releaseTrack": {
          "enumDescriptions": [
            "Do not use this default value.",
            "The feature is not yet implemented. Users can not use it.",
            "Prelaunch features are hidden from users and are only visible internally.",
            "Early Access features are limited to a closed group of testers. To use these features, you must sign up in advance and sign a Trusted Tester agreement (which includes confidentiality provisions). These features may be unstable, changed in backward-incompatible ways, and are not guaranteed to be released.",
            "Alpha is a limited availability test for releases before they are cleared for widespread use. By Alpha, all significant design issues are resolved and we are in the process of verifying functionality. Alpha customers need to apply for access, agree to applicable terms, and have their projects allowlisted. Alpha releases don't have to be feature complete, no SLAs are provided, and there are no technical support obligations, but they will be far enough along that customers can actually use them in test environments or for limited-use tests -- just like they would in normal production cases.",
            "Beta is the point at which we are ready to open a release for any customer to use. There are no SLA or technical support obligations in a Beta release. Products will be complete from a feature perspective, but may have some open outstanding issues. Beta releases are suitable for limited production use cases.",
            "GA features are open to all developers and are considered stable and fully qualified for production use.",
            "Deprecated features are scheduled to be shut down and removed. For more information, see the \"Deprecation Policy\" section of our [Terms of Service](https://cloud.google.com/terms/) and the [Google Cloud Platform Subject to the Deprecation Policy](https://cloud.google.com/terms/deprecation) documentation."
          ],
          "enum": [
            "LAUNCH_STAGE_UNSPECIFIED",
            "UNIMPLEMENTED",
            "PRELAUNCH",
            "EARLY_ACCESS",
            "ALPHA",
            "BETA",
            "GA",
            "DEPRECATED"
          ],
          "description": "Optional. The release track of the client that initiated the build request.",
          "type": "string"
        },
        "serviceAccount": {
          "description": "Optional. The service account to use for the build. If not set, the default Cloud Build service account for the project will be used.",
          "type": "string"
        },
        "machineType": {
          "description": "Optional. The machine type from default pool to use for the build. If left blank, cloudbuild will use a sensible default. Currently only E2_HIGHCPU_8 is supported. If worker_pool is set, this field will be ignored.",
          "type": "string"
        }
      },
      "id": "GoogleCloudRunV2SubmitBuildRequest",
      "description": "Request message for submitting a Build.",
      "type": "object"
    },
    "GoogleCloudRunV2EnvVar": {
      "id": "GoogleCloudRunV2EnvVar",
      "type": "object",
      "description": "EnvVar represents an environment variable present in a Container.",
      "properties": {
        "value": {
          "type": "string",
          "description": "Literal value of the environment variable. Defaults to \"\", and the maximum length is 32768 bytes. Variable references are not supported in Cloud Run."
        },
        "valueSource": {
          "description": "Source for the environment variable's value.",
          "$ref": "GoogleCloudRunV2EnvVarSource"
        },
        "name": {
          "description": "Required. Name of the environment variable. Must not exceed 32768 characters.",
          "type": "string"
        }
      }
    },
    "GoogleCloudRunV2TaskTemplate": {
      "description": "TaskTemplate describes the data a task should have when created from a template.",
      "id": "GoogleCloudRunV2TaskTemplate",
      "type": "object",
      "properties": {
        "workloadIdentityConfig": {
          "$ref": "GoogleCloudRunV2WorkloadIdentityConfig",
          "description": "Optional. The Task's workload identity settings."
        },
        "volumes": {
          "items": {
[...]
