{
  "ownerName": "Google",
  "fullyEncodeReservedExpansion": true,
  "baseUrl": "https://run.googleapis.com/",
  "protocol": "rest",
  "documentationLink": "https://cloud.google.com/run/",
  "discoveryVersion": "v1",
  "kind": "discovery#restDescription",
  "servicePath": "",
  "schemas": {
    "GoogleDevtoolsCloudbuildV1UploadedNpmPackage": {
      "properties": {
        "uri": {
          "description": "URI of the uploaded npm package.",
          "type": "string"
        },
        "pushTiming": {
          "description": "Output only. Stores timing information for pushing the specified artifact.",
          "$ref": "GoogleDevtoolsCloudbuildV1TimeSpan",
          "readOnly": true
        },
        "artifactRegistryPackage": {
          "type": "string",
          "description": "Output only. Path to the artifact in Artifact Registry.",
          "readOnly": true
        },
        "fileHashes": {
          "description": "Hash types and values of the npm package.",
          "$ref": "GoogleDevtoolsCloudbuildV1FileHashes"
        }
      },
      "type": "object",
      "id": "GoogleDevtoolsCloudbuildV1UploadedNpmPackage",
      "description": "An npm package uploaded to Artifact Registry using the NpmPackage directive."
    },
    "GoogleDevtoolsCloudbuildV1SourceProvenance": {
      "description": "Provenance of the source. Ways to find the original source, or verify that some source was used for this build.",
      "properties": {
        "resolvedRepoSource": {
          "$ref": "GoogleDevtoolsCloudbuildV1RepoSource",
          "description": "A copy of the build's `source.repo_source`, if exists, with any revisions resolved."
        },
        "resolvedStorageSourceManifest": {
          "description": "A copy of the build's `source.storage_source_manifest`, if exists, with any revisions resolved. This feature is in Preview.",
          "$ref": "GoogleDevtoolsCloudbuildV1StorageSourceManifest"
        },
        "resolvedConnectedRepository": {
          "$ref": "GoogleDevtoolsCloudbuildV1ConnectedRepository",
          "description": "Output only. A copy of the build's `source.connected_repository`, if exists, with any revisions resolved.",
          "readOnly": true
        },
        "resolvedGitSource": {
          "description": "Output only. A copy of the build's `source.git_source`, if exists, with any revisions resolved.",
          "readOnly": true,
          "$ref": "GoogleDevtoolsCloudbuildV1GitSource"
        },
        "fileHashes": {
          "additionalProperties": {
            "$ref": "GoogleDevtoolsCloudbuildV1FileHashes"
          },
          "type": "object",
          "readOnly": true,
          "description": "Output only. Hash(es) of the build source, which can be used to verify that the original source integrity was maintained in the build. Note that `FileHashes` will only be populated if `BuildOptions` has requested a `SourceProvenanceHash`. The keys to this map are file paths used as build source and the values contain the hash values for those files. If the build source came in a single package such as a gzipped tarfile (`.tar.gz`), the `FileHash` will be for the single path to that file."
        },
        "resolvedStorageSource": {
          "$ref": "GoogleDevtoolsCloudbuildV1StorageSource",
          "description": "A copy of the build's `source.storage_source`, if exists, with any generations resolved."
        }
      },
      "type": "object",
      "id": "GoogleDevtoolsCloudbuildV1SourceProvenance"
    },
    "GoogleCloudRunV2InlinedSource": {
      "id": "GoogleCloudRunV2InlinedSource",
      "description": "Inlined source.",
      "type": "object",
      "properties": {
        "sources": {
          "type": "array",
          "description": "Required. Input only. The source code.",
          "items": {
            "$ref": "GoogleCloudRunV2SourceFile"
          }
        }
      }
    },
    "GoogleCloudRunV2ExportImageResponse": {
      "id": "GoogleCloudRunV2ExportImageResponse",
      "properties": {
        "operationId": {
          "description": "An operation ID used to track the status of image exports tied to the original pod ID in the request.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "ExportImageResponse contains an operation Id to track the image export operation."
    },
    "GoogleDevtoolsCloudbuildV1ArtifactObjects": {
      "type": "object",
      "description": "Files in the workspace to upload to Cloud Storage upon successful completion of all build steps.",
      "id": "GoogleDevtoolsCloudbuildV1ArtifactObjects",
      "properties": {
        "paths": {
          "items": {
            "type": "string"
          },
          "description": "Path globs used to match files in the build's workspace.",
          "type": "array"
        },
        "timing": {
          "description": "Output only. Stores timing information for pushing all artifact objects.",
          "readOnly": true,
          "$ref": "GoogleDevtoolsCloudbuildV1TimeSpan"
        },
        "location": {
          "description": "Cloud Storage bucket and optional object path, in the form \"gs://bucket/path/to/somewhere/\". (see [Bucket Name Requirements](https://cloud.google.com/storage/docs/bucket-naming#requirements)). Files in the workspace matching any path pattern will be uploaded to Cloud Storage with this location as a prefix.",
          "type": "string"
        }
      }
    },
    "GoogleDevtoolsCloudbuildV1Volume": {
      "type": "object",
      "description": "Volume describes a Docker container volume which is mounted into build steps in order to persist files across build step execution.",
      "properties": {
        "name": {
          "type": "string",
          "description": "Name of the volume to mount. Volume names must be unique per build step and must be valid names for Docker volumes. Each named volume must be used by at least two build steps."
        },
        "path": {
          "type": "string",
          "description": "Path at which to mount the volume. Paths must be absolute and cannot conflict with other volume paths on the same build step or with certain reserved volume paths."
        }
      },
      "id": "GoogleDevtoolsCloudbuildV1Volume"
    },
    "GoogleCloudRunV2BuildpacksBuild": {
      "id": "GoogleCloudRunV2BuildpacksBuild",
      "description": "Build the source using Buildpacks.",
      "properties": {
        "functionTarget": {
          "type": "string",
          "description": "Optional. Name of the function target if the source is a function source. Required for function builds."
        },
        "enableAutomaticUpdates": {
          "type": "boolean",
          "description": "Optional. Whether or not the application container will be enrolled in automatic base image updates. When true, the application will be built on a scratch base image, so the base layers can be appended at run time."
        },
        "projectDescriptor": {
          "type": "string",
          "description": "Optional. project_descriptor stores the path to the project descriptor file. When empty, it means that there is no project descriptor file in the source."
        },
        "cacheImageUri": {
          "description": "Optional. cache_image_uri is the GCR/AR URL where the cache image will be stored. cache_image_uri is optional and omitting it will disable caching. This URL must be stable across builds. It is used to derive a build-specific temporary URL by substituting the tag with the build ID. The build will clean up the temporary image on a best-effort basis.",
          "type": "string"
        },
        "runtime": {
          "deprecated": true,
          "description": "The runtime name, e.g. 'go113'. Leave blank for generic builds.",
          "type": "string"
        },
        "baseImage": {
          "type": "string",
          "description": "Optional. The base image to use for the build."
        },
        "environmentVariables": {
          "description": "Optional. User-provided build-time environment variables.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        }
      },
      "type": "object"
    },
    "GoogleDevtoolsCloudbuildV1BuildApproval": {
      "id": "GoogleDevtoolsCloudbuildV1BuildApproval",
      "properties": {
        "config": {
          "description": "Output only. Configuration for manual approval of this build.",
          "$ref": "GoogleDevtoolsCloudbuildV1ApprovalConfig",
          "readOnly": true
        },
        "state": {
          "type": "string",
          "enumDescriptions": [
            "Default enum type. This should not be used.",
            "Build approval is pending.",
            "Build approval has been approved.",
            "Build approval has been rejected.",
            "Build was cancelled while it was still pending approval."
          ],
          "description": "Output only. The state of this build's approval.",
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "PENDING",
            "APPROVED",
            "REJECTED",
            "CANCELLED"
          ]
        },
        "result": {
          "readOnly": true,
          "description": "Output only. Result of manual approval for this Build.",
          "$ref": "GoogleDevtoolsCloudbuildV1ApprovalResult"
        }
      },
      "type": "object",
      "description": "BuildApproval describes a build's approval configuration, state, and result."
    },
    "GoogleDevtoolsCloudbuildV1Artifacts": {
      "id": "GoogleDevtoolsCloudbuildV1Artifacts",
      "properties": {
        "mavenArtifacts": {
          "type": "array",
          "description": "A list of Maven artifacts to be uploaded to Artifact Registry upon successful completion of all build steps. Artifacts in the workspace matching specified paths globs will be uploaded to the specified Artifact Registry repository using the builder service account's credentials. If any artifacts fail to be pushed, the build is marked FAILURE.",
          "items": {
            "$ref": "GoogleDevtoolsCloudbuildV1MavenArtifact"
          }
        },
        "oci": {
          "items": {
            "$ref": "GoogleDevtoolsCloudbuildV1Oci"
          },
          "description": "Optional. A list of OCI images to be uploaded to Artifact Registry upon successful completion of all build steps. OCI images in the specified paths will be uploaded to the specified Artifact Registry repository using the builder service account's credentials. If any images fail to be pushed, the build is marked FAILURE.",
          "type": "array"
        },
        "images": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "A list of images to be pushed upon the successful completion of all build steps. The images will be pushed using the builder service account's credentials. The digests of the pushed images will be stored in the Build resource's results field. If any of the images fail to be pushed, the build is marked FAILURE."
        },
        "genericArtifacts": {
          "items": {
            "$ref": "GoogleDevtoolsCloudbuildV1GenericArtifact"
          },
          "type": "array",
          "description": "Optional. A list of generic artifacts to be uploaded to Artifact Registry upon successful completion of all build steps. If any artifacts fail to be pushed, the build is marked FAILURE."
        },
        "pythonPackages": {
          "type": "array",
          "items": {
            "$ref": "GoogleDevtoolsCloudbuildV1PythonPackage"
          },
          "description": "A list of Python packages to be uploaded to Artifact Registry upon successful completion of all build steps. The build service account credentials will be used to perform the upload. If any objects fail to be pushed, the build is marked FAILURE."
        },
        "npmPackages": {
          "type": "array",
          "description": "A list of npm packages to be uploaded to Artifact Registry upon successful completion of all build steps. Npm packages in the specified paths will be uploaded to the specified Artifact Registry repository using the builder service account's credentials. If any packages fail to be pushed, the build is marked FAILURE.",
          "items": {
            "$ref": "GoogleDevtoolsCloudbuildV1NpmPackage"
          }
        },
        "goModules": {
          "items": {
            "$ref": "GoogleDevtoolsCloudbuildV1GoModule"
          },
          "description": "Optional. A list of Go modules to be uploaded to Artifact Registry upon successful completion of all build steps. If any objects fail to be pushed, the build is marked FAILURE.",
          "type": "array"
        },
        "objects": {
          "description": "A list of objects to be uploaded to Cloud Storage upon successful completion of all build steps. Files in the workspace matching specified paths globs will be uploaded to the specified Cloud Storage location using the builder service account's credentials. The location and generation of the uploaded objects will be stored in the Build resource's results field. If any objects fail to be pushed, the build is marked FAILURE.",
          "$ref": "GoogleDevtoolsCloudbuildV1ArtifactObjects"
        }
      },
      "description": "Artifacts produced by a build that should be uploaded upon successful completion of all build steps.",
      "type": "object"
    },
    "GoogleCloudRunV2Overrides": {
      "type": "object",
      "description": "RunJob Overrides that contains Execution fields to be overridden.",
      "id": "GoogleCloudRunV2Overrides",
      "properties": {
        "taskCount": {
          "format": "int32",
          "type": "integer",
          "description": "Optional. The desired number of tasks the execution should run. Will replace existing task_count value."
        },
        "containerOverrides": {
          "items": {
            "$ref": "GoogleCloudRunV2ContainerOverride"
          },
          "description": "Per container override specification.",
          "type": "array"
        },
        "timeout": {
          "description": "Duration in seconds the task may be active before the system will actively try to mark it failed and kill associated containers. Will replace existing timeout_seconds value.",
          "format": "google-duration",
          "type": "string"
        },
        "delayExecution": {
          "type": "boolean",
          "description": "Optional. If true, the system will start the execution within the next 12 hours depending on available capacity."
        }
      }
    },
    "GoogleDevtoolsCloudbuildV1DeveloperConnectConfig": {
      "id": "GoogleDevtoolsCloudbuildV1DeveloperConnectConfig",
      "type": "object",
      "properties": {
        "gitRepositoryLink": {
          "description": "Required. The Developer Connect Git repository link, formatted as `projects/*/locations/*/connections/*/gitRepositoryLink/*`.",
          "type": "string"
        },
        "dir": {
          "type": "string",
          "description": "Required. Directory, relative to the source root, in which to run the build."
        },
        "revision": {
          "description": "Required. The revision to fetch from the Git repository such as a branch, a tag, a commit SHA, or any Git ref.",
          "type": "string"
        }
      },
      "description": "This config defines the location of a source through Developer Connect."
    },
    "GoogleCloudRunV2DockerBuild": {
      "type": "object",
      "properties": {},
      "description": "Build the source using Docker. This means the source has a Dockerfile.",
      "id": "GoogleCloudRunV2DockerBuild"
    },
    "GoogleCloudRunV2Condition": {
      "properties": {
        "instanceReason": {
          "type": "string",
          "description": "Output only. A reason for the instance condition.",
          "enumDescriptions": [
            "Default value.",
            "Instance deleted.",
            "Instance stopped.",
            "Instance stopping.",
            "Instance exited with a non-zero exit code."
          ],
          "enum": [
            "INSTANCE_REASON_UNSPECIFIED",
            "INSTANCE_DELETED",
            "INSTANCE_STOPPED",
            "INSTANCE_STOPPING",
            "INSTANCE_NON_ZERO_EXIT_CODE"
          ],
          "readOnly": true
        },
        "lastTransitionTime": {
          "description": "Last time the condition transitioned from one status to another.",
          "format": "google-datetime",
          "type": "string"
        },
        "revisionReason": {
          "enum": [
            "REVISION_REASON_UNDEFINED",
            "PENDING",
            "RESERVE",
            "RETIRED",
            "RETIRING",
            "RECREATING",
            "HEALTH_CHECK_CONTAINER_ERROR",
            "CUSTOMIZED_PATH_RESPONSE_PENDING",
            "MIN_INSTANCES_NOT_PROVISIONED",
            "ACTIVE_REVISION_LIMIT_REACHED",
            "NO_DEPLOYMENT",
            "HEALTH_CHECK_SKIPPED",
            "MIN_INSTANCES_WARMING"
          ],
          "description": "Output only. A reason for the revision condition.",
          "enumDescriptions": [
            "Default value.",
            "Revision in Pending state.",
            "Revision is in Reserve state.",
            "Revision is Retired.",
            "Revision is being retired.",
            "Revision is being recreated.",
            "There was a health check error.",
            "Health check failed due to user error from customized path of the container. System will retry.",
            "A revision with min_instance_count > 0 was created and is reserved, but it was not configured to serve traffic, so it's not live. This can also happen momentarily during traffic migration.",
            "The maximum allowed number of active revisions has been reached.",
            "There was no deployment defined. This value is no longer used, but Services created in older versions of the API might contain this value.",
            "A revision's container has no port specified since the revision is of a manually scaled service with 0 instance count",
            "A revision with min_instance_count > 0 was created and is waiting for enough instances to begin a traffic migration."
          ],
          "type": "string",
          "readOnly": true
        },
        "message": {
          "description": "Human readable message indicating details about the current status.",
          "type": "string"
        },
        "severity": {
          "enum": [
            "SEVERITY_UNSPECIFIED",
            "ERROR",
            "WARNING",
            "INFO"
          ],
          "enumDescriptions": [
            "Unspecified severity",
            "Error severity.",
            "Warning severity.",
            "Info severity."
          ],
          "description": "How to interpret failures of this condition, one of Error, Warning, Info",
          "type": "string"
        },
        "state": {
          "type": "string",
          "description": "State of the condition.",
          "enumDescriptions": [
            "The default value. This value is used if the state is omitted.",
            "Transient state: Reconciliation has not started yet.",
            "Transient state: reconciliation is still in progress.",
            "Terminal state: Reconciliation did not succeed.",
            "Terminal state: Reconciliation completed successfully."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "CONDITION_PENDING",
            "CONDITION_RECONCILING",
            "CONDITION_FAILED",
            "CONDITION_SUCCEEDED"
          ]
        },
        "executionReason": {
          "enum": [
            "EXECUTION_REASON_UNDEFINED",
            "JOB_STATUS_SERVICE_POLLING_ERROR",
            "NON_ZERO_EXIT_CODE",
            "CANCELLED",
            "CANCELLING",
            "DELETED",
            "DELAYED_START_PENDING",
            "DELAYED_EXECUTION_EXCEEDING_DURATION_LIMIT"
          ],
          "description": "Output only. A reason for the execution condition.",
          "enumDescriptions": [
            "Default value.",
            "Internal system error getting execution status. System will retry.",
            "A task reached its retry limit and the last attempt failed due to the user container exiting with a non-zero exit code.",
            "The execution was cancelled by users.",
            "The execution is in the process of being cancelled.",
            "The execution was deleted.",
            "A delayed execution is waiting for a start time.",
            "A delayed execution exceeded the maximum runtime duration."
          ],
          "readOnly": true,
          "type": "string"
        },
        "reason": {
          "type": "string",
          "enum": [
            "COMMON_REASON_UNDEFINED",
            "UNKNOWN",
            "REVISION_FAILED",
            "PROGRESS_DEADLINE_EXCEEDED",
            "CONTAINER_MISSING",
            "CONTAINER_PERMISSION_DENIED",
            "CONTAINER_IMAGE_UNAUTHORIZED",
            "CONTAINER_IMAGE_AUTHORIZATION_CHECK_FAILED",
            "ENCRYPTION_KEY_PERMISSION_DENIED",
            "ENCRYPTION_KEY_CHECK_FAILED",
            "SECRETS_ACCESS_CHECK_FAILED",
            "WAITING_FOR_OPERATION",
            "IMMEDIATE_RETRY",
            "POSTPONED_RETRY",
            "INTERNAL",
            "VPC_NETWORK_NOT_FOUND"
          ],
          "enumDescriptions": [
            "Default value.",
            "Reason unknown. Further details will be in message.",
            "Revision creation process failed.",
            "Timed out waiting for completion.",
            "The container image path is incorrect.",
            "Insufficient permissions on the container image.",
            "Container image is not authorized by policy.",
            "Container image policy authorization check failed.",
            "Insufficient permissions on encryption key.",
            "Permission check on encryption key failed.",
            "At least one Access check on secrets failed.",
            "Waiting for operation to complete.",
            "System will retry immediately.",
            "System will retry later; current attempt failed.",
            "An internal error occurred. Further information may be in the message.",
            "User-provided VPC network was not found."
          ],
          "readOnly": true,
          "description": "Output only. A common (service-level) reason for this condition."
        },
        "type": {
          "type": "string",
          "description": "type is used to communicate the status of the reconciliation process. See also: https://github.com/knative/serving/blob/main/docs/spec/errors.md#error-conditions-and-reporting Types common to all resources include: * \"Ready\": True when the Resource is ready."
        }
      },
      "description": "Defines a status condition for a resource.",
      "type": "object",
      "id": "GoogleCloudRunV2Condition"
    },
    "GoogleCloudRunV2RevisionTemplate": {
      "id": "GoogleCloudRunV2RevisionTemplate",
      "type": "object",
      "properties": {
        "containers": {
          "type": "array",
          "description": "Holds the list which define the units of execution for this Revision.",
          "items": {
            "$ref": "GoogleCloudRunV2Container"
          }
        },
        "clientVersion": {
          "description": "Optional. Arbitrary version identifier for the API client.",
          "type": "string"
        },
        "annotations": {
          "description": "Optional. Unstructured key value map that may be set by external tools to store and arbitrary metadata. They are not queryable and should be preserved when modifying objects. Cloud Run API v2 does not support annotations with `run.googleapis.com`, `cloud.googleapis.com`, `serving.knative.dev`, or `autoscaling.knative.dev` namespaces, and they will be rejected. All system annotations in v1 now have a corresponding field in v2 RevisionTemplate. This field follows Kubernetes annotations' namespacing, limits, and rules.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "serviceMesh": {
          "description": "Optional. Enables service mesh connectivity.",
          "$ref": "GoogleCloudRunV2ServiceMesh"
        },
        "executionEnvironment": {
          "enumDescriptions": [
            "Unspecified",
            "Uses the First Generation environment.",
            "Uses Second Generation environment."
          ],
          "description": "Optional. The sandbox environment to host this Revision.",
          "type": "string",
          "enum": [
            "EXECUTION_ENVIRONMENT_UNSPECIFIED",
            "EXECUTION_ENVIRONMENT_GEN1",
            "EXECUTION_ENVIRONMENT_GEN2"
          ]
        },
        "sessionAffinity": {
          "type": "boolean",
          "description": "Optional. Enable session affinity."
        },
        "healthCheckDisabled": {
          "type": "boolean",
          "description": "Optional. Disables health checking containers during deployment."
        },
        "gpuZonalRedundancyDisabled": {
          "type": "boolean",
          "description": "Optional. True if GPU zonal redundancy is disabled on this revision."
        },
        "vpcAccess": {
          "description": "Optional. VPC Access configuration to use for this Revision. For more information, visit https://cloud.google.com/run/docs/configuring/connecting-vpc.",
          "$ref": "GoogleCloudRunV2VpcAccess"
        },
        "revision": {
          "type": "string",
          "description": "Optional. The unique name for the revision. If this field is omitted, it will be automatically generated based on the Service name."
        },
        "volumes": {
          "items": {
            "$ref": "GoogleCloudRunV2Volume"
          },
          "description": "Optional. A list of Volumes to make available to containers.",
          "type": "array"
        },
        "maxInstanceRequestConcurrency": {
          "description": "Optional. Sets the maximum number of requests that each serving instance can receive. If not specified or 0, concurrency defaults to 80 when requested `CPU >= 1` and defaults to 1 when requested `CPU < 1`.",
          "format": "int32",
          "type": "integer"
        },
        "scaling": {
          "description": "Optional. Scaling settings for this Revision.",
          "$ref": "GoogleCloudRunV2RevisionScaling"
        },
        "nodeSelector": {
          "$ref": "GoogleCloudRunV2NodeSelector",
          "description": "Optional. The node selector for the revision template."
        },
        "serviceAccount": {
          "description": "Optional. Email address of the IAM service account associated with the revision of the service. The service account represents the identity of the running revision, and determines what permissions the revision has. If not provided, the revision will use the project's default service account.",
          "type": "string"
        },
        "client": {
          "type": "string",
          "description": "Optional. Arbitrary identifier for the API client."
        },
        "encryptionKeyShutdownDuration": {
          "description": "Optional. If encryption_key_revocation_action is SHUTDOWN, the duration before shutting down all instances. The minimum increment is 1 hour.",
          "type": "string",
          "format": "google-duration"
        },
        "encryptionKeyRevocationAction": {
          "enum": [
            "ENCRYPTION_KEY_REVOCATION_ACTION_UNSPECIFIED",
            "PREVENT_NEW",
            "SHUTDOWN"
          ],
          "description": "Optional. The action to take if the encryption key is revoked.",
          "enumDescriptions": [
            "Unspecified",
            "Prevents the creation of new instances.",
            "Shuts down existing instances, and prevents creation of new ones."
          ],
          "type": "string"
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Optional. Unstructured key value map that can be used to organize and categorize objects. User-provided labels are shared with Google's billing system, so they can be used to filter, or break down billing charges by team, component, environment, state, etc. For more information, visit https://cloud.google.com/resource-manager/docs/creating-managing-labels or https://cloud.google.com/run/docs/configuring/labels. Cloud Run API v2 does not support labels with `run.googleapis.com`, `cloud.googleapis.com`, `serving.knative.dev`, or `autoscaling.knative.dev` namespaces, and they will be rejected. All system labels in v1 now have a corresponding field in v2 RevisionTemplate."
        },
        "encryptionKey": {
          "description": "A reference to a customer managed encryption key (CMEK) to use to encrypt this container image. For more information, go to https://cloud.google.com/run/docs/securing/using-cmek",
          "type": "string"
        },
        "timeout": {
          "type": "string",
          "description": "Optional. Max allowed time for an instance to respond to a request.",
          "format": "google-duration"
        }
      },
      "description": "RevisionTemplate describes the data a revision should have when created from a template."
    },
    "GoogleDevtoolsCloudbuildV1GitSourceDependency": {
      "description": "Represents a git repository as a build dependency.",
      "type": "object",
      "id": "GoogleDevtoolsCloudbuildV1GitSourceDependency",
      "properties": {
        "revision": {
          "type": "string",
          "description": "Required. The revision that we will fetch the repo at."
        },
        "repository": {
          "description": "Required. The kind of repo (url or dev connect).",
          "$ref": "GoogleDevtoolsCloudbuildV1GitSourceRepository"
        },
        "recurseSubmodules": {
          "description": "Optional. True if submodules should be fetched too (default false).",
          "type": "boolean"
        },
        "fetchTags": {
          "description": "Optional. True if remote tags should be fetched too (default false). Note: when depth is 1 (default), git fetch only retrieves tags pointing to commits within the shallow boundary. Set depth to -1 to fetch all historical tags.",
          "type": "boolean"
        },
        "destPath": {
          "description": "Required. Where should the files be placed on the worker.",
          "type": "string"
        },
        "depth": {
          "description": "Optional. How much history should be fetched for the build (default 1, -1 for all history).",
          "type": "string",
          "format": "int64"
        }
      }
    },
    "GoogleDevtoolsCloudbuildV1UploadedGoModule": {
      "properties": {
        "pushTiming": {
          "description": "Output only. Stores timing information for pushing the specified artifact.",
          "$ref": "GoogleDevtoolsCloudbuildV1TimeSpan",
          "readOnly": true
        },
        "artifactRegistryPackage": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Path to the artifact in Artifact Registry."
        },
        "fileHashes": {
          "description": "Hash types and values of the Go Module Artifact.",
          "$ref": "GoogleDevtoolsCloudbuildV1FileHashes"
        },
        "uri": {
          "description": "URI of the uploaded artifact.",
          "type": "string"
        }
      },
      "description": "A Go module artifact uploaded to Artifact Registry using the GoModule directive.",
      "id": "GoogleDevtoolsCloudbuildV1UploadedGoModule",
      "type": "object"
    },
    "GoogleCloudRunV2InstanceSplitStatus": {
      "description": "Represents the observed state of a single `InstanceSplit` entry.",
      "id": "GoogleCloudRunV2InstanceSplitStatus",
      "type": "object",
      "properties": {
        "revision": {
          "description": "Revision to which this instance split is assigned.",
          "type": "string"
        },
        "type": {
          "enum": [
            "INSTANCE_SPLIT_ALLOCATION_TYPE_UNSPECIFIED",
            "INSTANCE_SPLIT_ALLOCATION_TYPE_LATEST",
            "INSTANCE_SPLIT_ALLOCATION_TYPE_REVISION"
          ],
          "description": "The allocation type for this instance split.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified instance allocation type.",
            "Allocates instances to the Service's latest ready Revision.",
            "Allocates instances to a Revision by name."
          ]
        },
        "percent": {
          "format": "int32",
          "description": "Specifies percent of the instance split to this Revision.",
          "type": "integer"
        }
      }
    },
    "GoogleDevtoolsCloudbuildV1ConnectedRepository": {
      "id": "GoogleDevtoolsCloudbuildV1ConnectedRepository",
      "type": "object",
      "description": "Location of the source in a 2nd-gen Google Cloud Build repository resource.",
      "properties": {
        "dir": {
          "type": "string",
          "description": "Optional. Directory, relative to the source root, in which to run the build."
        },
        "revision": {
          "description": "Required. The revision to fetch from the Git repository such as a branch, a tag, a commit SHA, or any Git ref.",
          "type": "string"
        },
        "repository": {
          "type": "string",
          "description": "Required. Name of the Google Cloud Build repository, formatted as `projects/*/locations/*/connections/*/repositories/*`."
        }
      }
    },
    "GoogleCloudRunV2BinaryAuthorization": {
      "type": "object",
      "properties": {
        "useDefault": {
          "description": "Optional. If True, indicates to use the default project's binary authorization policy. If False, binary authorization will be disabled.",
          "type": "boolean"
        },
        "breakglassJustification": {
          "type": "string",
          "description": "Optional. If present, indicates to use Breakglass using this justification. If use_default is False, then it must be empty. For more information on breakglass, see https://cloud.google.com/binary-authorization/docs/using-breakglass"
        },
        "policy": {
          "description": "Optional. The path to a binary authorization policy. Format: `projects/{project}/platforms/cloudRun/{policy-name}`",
          "type": "string"
        }
      },
      "id": "GoogleCloudRunV2BinaryAuthorization",
      "description": "Settings for Binary Authorization feature."
    },
    "GoogleCloudRunV2SecretVolumeSource": {
      "properties": {
        "defaultMode": {
          "type": "integer",
          "format": "int32",
          "description": "Integer representation of mode bits to use on created files by default. Must be a value between 0000 and 0777 (octal), defaulting to 0444. Directories within the path are not affected by this setting. Notes * Internally, a umask of 0222 will be applied to any non-zero value. * This is an integer representation of the mode bits. So, the octal integer value should look exactly as the chmod numeric notation with a leading zero. Some examples: for chmod 640 (u=rw,g=r), set to 0640 (octal) or 416 (base-10). For chmod 755 (u=rwx,g=rx,o=rx), set to 0755 (octal) or 493 (base-10). * This might be in conflict with other options that affect the file mode, like fsGroup, and the result can be other mode bits set. This might be in conflict with other options that affect the file mode, like fsGroup, and as a result, other mode bits could be set."
        },
        "secret": {
          "type": "string",
          "description": "Required. The name of the secret in Cloud Secret Manager. Format: {secret} if the secret is in the same project. projects/{project}/secrets/{secret} if the secret is in a different project."
        },
        "items": {
          "items": {
            "$ref": "GoogleCloudRunV2VersionToPath"
          },
          "type": "array",
          "description": "If unspecified, the volume will expose a file whose name is the secret, relative to VolumeMount.mount_path + VolumeMount.sub_path. If specified, the key will be used as the version to fetch from Cloud Secret Manager and the path will be the name of the file exposed in the volume. When items are defined, they must specify a path and a version."
        }
      },
      "type": "object",
      "id": "GoogleCloudRunV2SecretVolumeSource",
      "description": "The secret's value will be presented as the content of a file whose name is defined in the item path. If no items are defined, the name of the file is the secret."
    },
    "GoogleCloudRunV2RevisionScalingStatus": {
      "id": "GoogleCloudRunV2RevisionScalingStatus",
      "type": "object",
      "properties": {
        "desiredMinInstanceCount": {
          "description": "The current number of min instances provisioned for this revision.",
          "format": "int32",
          "type": "integer"
        }
      },
      "description": "Effective settings for the current revision"
    },
    "GoogleCloudRunV2SourceCode": {
      "properties": {
        "inlinedSource": {
          "description": "Optional. Input only. Source code inlined in the request. Cloud Run will store the inlined_source to Cloud Storage and replace the field with cloud_storage_source.",
          "$ref": "GoogleCloudRunV2InlinedSource"
        },
        "cloudStorageSource": {
          "description": "The source is a Cloud Storage bucket.",
          "$ref": "GoogleCloudRunV2CloudStorageSource"
        }
      },
      "type": "object",
      "description": "Source type for the container.",
      "id": "GoogleCloudRunV2SourceCode"
    },
    "GoogleCloudRunV2Service": {
      "type": "object",
      "description": "Service acts as a top-level container that manages a set of configurations and revision templates which implement a network service. Service exists to provide a singular abstraction which can be access controlled, reasoned about, and which encapsulates software lifecycle decisions such as rollout policy and team resource ownership.",
      "id": "GoogleCloudRunV2Service",
      "properties": {
        "generation": {
          "description": "Output only. A number that monotonically increases every time the user modifies the desired state. Please note that unlike v1, this is an int64 value. As with most Google APIs, its JSON representation will be a `string` instead of an `integer`.",
          "type": "string",
          "format": "int64",
          "readOnly": true
        },
        "sshEnabled": {
          "type": "boolean",
          "description": "Optional. Enables SSH access to the Service."
        },
        "creator": {
          "description": "Output only. Email address of the authenticated creator.",
          "readOnly": true,
          "type": "string"
        },
        "traffic": {
          "items": {
            "$ref": "GoogleCloudRunV2TrafficTarget"
          },
          "description": "Optional. Specifies how to distribute traffic over a collection of Revisions belonging to the Service. If traffic is empty or not provided, defaults to 100% traffic to the latest `Ready` Revision.",
          "type": "array"
        },
        "customAudiences": {
          "description": "One or more custom audiences that you want this service to support. Specify each custom audience as the full URL in a string. The custom audiences are encoded in the token and used to authenticate requests. For more information, see https://cloud.google.com/run/docs/configuring/custom-audiences.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "multiRegionSettings": {
          "description": "Optional. Settings for multi-region deployment.",
          "$ref": "GoogleCloudRunV2MultiRegionSettings"
        },
        "lastModifier": {
          "readOnly": true,
          "description": "Output only. Email address of the last authenticated modifier.",
          "type": "string"
        },
        "binaryAuthorization": {
          "description": "Optional. Settings for the Binary Authorization feature.",
          "$ref": "GoogleCloudRunV2BinaryAuthorization"
        },
        "conditions": {
          "readOnly": true,
          "description": "Output only. The Conditions of all other associated sub-resources. They contain additional diagnostics information in case the Service does not reach its Serving state. See comments in `reconciling` for additional information on reconciliation process in Cloud Run.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudRunV2Condition"
          }
        },
        "ingress": {
          "enum": [
            "INGRESS_TRAFFIC_UNSPECIFIED",
            "INGRESS_TRAFFIC_ALL",
            "INGRESS_TRAFFIC_INTERNAL_ONLY",
            "INGRESS_TRAFFIC_INTERNAL_LOAD_BALANCER",
            "INGRESS_TRAFFIC_NONE"
          ],
          "description": "Optional. Provides the ingress settings for this Service. On output, returns the currently observed ingress settings, or INGRESS_TRAFFIC_UNSPECIFIED if no revision is active.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified",
            "All inbound traffic is allowed.",
            "Only internal traffic is allowed.",
            "Both internal and Google Cloud Load Balancer traffic is allowed.",
            "No ingress traffic is allowed."
          ]
        },
        "terminalCondition": {
          "description": "Output only. The Condition of this Service, containing its readiness status, and detailed error information in case it did not reach a serving state. See comments in `reconciling` for additional information on reconciliation process in Cloud Run.",
          "$ref": "GoogleCloudRunV2Condition",
          "readOnly": true
        },
        "annotations": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. Unstructured key value map that may be set by external tools to store and arbitrary metadata. They are not queryable and should be preserved when modifying objects. Cloud Run API v2 does not support annotations with `run.googleapis.com`, `cloud.googleapis.com`, `serving.knative.dev`, or `autoscaling.knative.dev` namespaces, and they will be rejected in new resources. All system annotations in v1 now have a corresponding field in v2 Service. This field follows Kubernetes annotations' namespacing, limits, and rules.",
          "type": "object"
        },
        "template": {
          "description": "Required. The template used to create revisions for this Service.",
          "$ref": "GoogleCloudRunV2RevisionTemplate"
        },
        "uid": {
          "description": "Output only. Server assigned unique identifier for the trigger. The value is a UUID4 string and guaranteed to remain unchanged until the resource is deleted.",
          "readOnly": true,
          "type": "string"
        },
        "latestReadyRevision": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Name of the latest revision that is serving traffic. See comments in `reconciling` for additional information on reconciliation process in Cloud Run."
        },
        "name": {
          "description": "Identifier. The fully qualified name of this Service. In CreateServiceRequest, this field is ignored, and instead composed from CreateServiceRequest.parent and CreateServiceRequest.service_id. Format: projects/{project}/locations/{location}/services/{service_id}",
          "type": "string"
        },
        "client": {
          "type": "string",
          "description": "Arbitrary identifier for the API client."
        },
        "observedGeneration": {
          "readOnly": true,
          "description": "Output only. The generation of this Service currently serving traffic. See comments in `reconciling` for additional information on reconciliation process in Cloud Run. Please note that unlike v1, this is an int64 value. As with most Google APIs, its JSON representation will be a `string` instead of an `integer`.",
          "format": "int64",
          "type": "string"
        },
        "scaling": {
          "description": "Optional. Specifies service-level scaling settings",
          "$ref": "GoogleCloudRunV2ServiceScaling"
        },
        "durableExecution": {
          "description": "Optional. Immutable. Indicates whether the Service has durable execution enabled. This field is immutable once the Service is created.",
          "type": "boolean"
        },
        "expireTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. For a deleted resource, the time after which it will be permanently deleted."
        },
        "trafficStatuses": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudRunV2TrafficTargetStatus"
          },
          "description": "Output only. Detailed status information for corresponding traffic targets. See comments in `reconciling` for additional information on reconciliation process in Cloud Run.",
          "readOnly": true
        },
        "satisfiesPzs": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. Reserved for future use."
        },
        "deleteTime": {
          "type": "string",
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. The deletion time. It is only populated as a response to a Delete request."
        },
        "threatDetectionEnabled": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. True if Cloud Run Threat Detection monitoring is enabled for the parent project of this Service."
        },
        "invokerIamDisabled": {
          "type": "boolean",
          "description": "Optional. Disables IAM permission check for run.routes.invoke for callers of this service. For more information, visit https://cloud.google.com/run/docs/securing/managing-access#invoker_check."
        },
        "reconciling": {
          "type": "boolean",
          "readOnly": true,
          "description": "Output only. Returns true if the Service is currently being acted upon by the system to bring it into the desired state. When a new Service is created, or an existing one is updated, Cloud Run will asynchronously perform all necessary steps to bring the Service to the desired serving state. This process is called reconciliation. While reconciliation is in process, `observed_generation`, `latest_ready_revision`, `traffic_statuses`, and `uri` will have transient values that might mismatch the intended state: Once reconciliation is over (and this field is false), there are two possible outcomes: reconciliation succeeded and the serving state matches the Service, or there was an error, and reconciliation failed. This state can be found in `terminal_condition.state`. If reconciliation succeeded, the following fields will match: `traffic` and `traffic_statuses`, `observed_generation` and `generation`, `latest_ready_revision` and `latest_created_revision`. If reconciliation failed, `traffic_statuses`, `observed_generation`, and `latest_ready_revision` will have the state of the last serving revision, or empty for newly created Services. Additional information on the failure can be found in `terminal_condition` and `conditions`."
        },
        "latestCreatedRevision": {
          "description": "Output only. Name of the last created revision. See comments in `reconciling` for additional information on reconciliation process in Cloud Run.",
          "type": "string",
          "readOnly": true
        },
        "labels": {
          "type": "object",
          "description": "Optional. Unstructured key value map that can be used to organize and categorize objects. User-provided labels are shared with Google's billing system, so they can be used to filter, or break down billing charges by team, component, environment, state, etc. For more information, visit https://cloud.google.com/resource-manager/docs/creating-managing-labels or https://cloud.google.com/run/docs/configuring/labels. Cloud Run API v2 does not support labels with `run.googleapis.com`, `cloud.googleapis.com`, `serving.knative.dev`, or `autoscaling.knative.dev` namespaces, and they will be rejected. All system labels in v1 now have a corresponding field in v2 Service.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "buildConfig": {
          "description": "Optional. Configuration for building a Cloud Run function.",
          "$ref": "GoogleCloudRunV2BuildConfig"
        },
        "iapEnabled": {
          "description": "Optional. IAP settings on the Service.",
          "type": "boolean"
        },
        "description": {
          "type": "string",
          "description": "User-provided description of the Service. This field currently has a 512-character limit."
        },
        "defaultUriDisabled": {
          "type": "boolean",
          "description": "Optional. Disables public resolution of the default URI of this service."
        },
        "uri": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The main URI in which this Service is serving traffic."
        },
        "updateTime": {
          "format": "google-datetime",
          "description": "Output only. The last-modified time.",
          "readOnly": true,
          "type": "string"
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The creation time.",
          "format": "google-datetime"
        },
        "urls": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "readOnly": true,
          "description": "Output only. All URLs serving traffic for this Service."
        },
        "clientVersion": {
          "type": "string",
          "description": "Arbitrary version identifier for the API client."
        },
        "launchStage": {
          "enumDescriptions": [
            "Do not use this default value.",
            "The feature is not yet implemented. Users can not use it.",
            "Prelaunch features are hidden from users and are only visible internally.",
            "Early Access features are limited to a closed group of testers. To use these features, you must sign up in advance and sign a Trusted Tester agreement (which includes confidentiality provisions). These features may be unstable, changed in backward-incompatible ways, and are not guaranteed to be released.",
            "Alpha is a limited availability test for releases before they are cleared for widespread use. By Alpha, all significant design issues are resolved and we are in the process of verifying functionality. Alpha customers need to apply for access, agree to applicable terms, and have their projects allowlisted. Alpha releases don't have to be feature complete, no SLAs are provided, and there are no technical support obligations, but they will be far enough along that customers can actually use them in test environments or for limited-use tests -- just like they would in normal production cases.",
            "Beta is the point at which we are ready to open a release for any customer to use. There are no SLA or technical support obligations in a Beta release. Products will be complete from a feature perspective, but may have some open outstanding issues. Beta releases are suitable for limited production use cases.",
            "GA features are open to all developers and are considered stable and fully qualified for production use.",
            "Deprecated features are scheduled to be shut down and removed. For more information, see the \"Deprecation Policy\" section of our [Terms of Service](https://cloud.google.com/terms/) and the [Google Cloud Platform Subject to the Deprecation Policy](https://cloud.google.com/terms/deprecation) documentation."
          ],
          "description": "Optional. The launch stage as defined by [Google Cloud Platform Launch Stages](https://cloud.google.com/terms/launch-stages). Cloud Run supports `ALPHA`, `BETA`, and `GA`. If no value is specified, GA is assumed. Set the launch stage to a preview stage on input to allow use of preview features in that stage. On read (or output), describes whether the resource uses preview features. For example, if ALPHA is provided as input, but only BETA and GA-level features are used, this field will be BETA on output.",
          "enum": [
            "LAUNCH_STAGE_UNSPECIFIED",
            "UNIMPLEMENTED",
            "PRELAUNCH",
            "EARLY_ACCESS",
            "ALPHA",
            "BETA",
            "GA",
            "DEPRECATED"
          ],
          "type": "string"
        },
        "etag": {
          "description": "Optional. A system-generated fingerprint for this version of the resource. May be used to detect modification conflict during updates.",
          "type": "string"
        }
      }
    },
    "GoogleCloudRunV2CancelExecutionRequest": {
      "properties": {
        "etag": {
          "description": "A system-generated fingerprint for this version of the resource. This may be used to detect modification conflict during updates.",
          "type": "string"
        },
        "validateOnly": {
          "description": "Indicates that the request should be validated without actually cancelling any resources.",
          "type": "boolean"
        }
      },
      "type": "object",
      "id": "GoogleCloudRunV2CancelExecutionRequest",
      "description": "Request message for deleting an Execution."
    },
    "GoogleDevtoolsCloudbuildV1GitConfig": {
      "properties": {
        "http": {
          "description": "Configuration for HTTP related git operations.",
          "$ref": "GoogleDevtoolsCloudbuildV1HttpConfig"
        }
      },
      "id": "GoogleDevtoolsCloudbuildV1GitConfig",
      "description": "GitConfig is a configuration for git operations.",
      "type": "object"
    },
    "GoogleCloudRunV2NFSVolumeSource": {
      "properties": {
        "server": {
          "description": "Hostname or IP address of the NFS server",
          "type": "string"
        },
        "path": {
          "description": "Path that is exported by the NFS server.",
          "type": "string"
        },
        "readOnly": {
          "type": "boolean",
          "description": "If true, the volume will be mounted as read only for all mounts."
        }
      },
      "id": "GoogleCloudRunV2NFSVolumeSource",
      "type": "object",
      "description": "Represents an NFS mount."
    },
    "GoogleCloudRunV2Job": {
      "description": "Job represents the configuration of a single job, which references a container image that is run to completion.",
      "type": "object",
      "id": "GoogleCloudRunV2Job",
      "properties": {
        "createTime": {
          "description": "Output only. The creation time.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "updateTime": {
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. The last-modified time.",
          "type": "string"
        },
        "executionCount": {
          "readOnly": true,
          "format": "int32",
          "description": "Output only. Number of executions created for this job.",
          "type": "integer"
        },
        "latestCreatedExecution": {
          "readOnly": true,
          "$ref": "GoogleCloudRunV2ExecutionReference",
          "description": "Output only. Name of the last created execution."
        },
        "observedGeneration": {
          "description": "Output only. The generation of this Job. See comments in `reconciling` for additional information on reconciliation process in Cloud Run.",
          "type": "string",
          "readOnly": true,
          "format": "int64"
        },
        "startExecutionToken": {
          "description": "A unique string used as a suffix creating a new execution. The Job will become ready when the execution is successfully started. The sum of job name and token length must be fewer than 63 characters.",
          "type": "string"
        },
        "launchStage": {
          "description": "The launch stage as defined by [Google Cloud Platform Launch Stages](https://cloud.google.com/terms/launch-stages). Cloud Run supports `ALPHA`, `BETA`, and `GA`. If no value is specified, GA is assumed. Set the launch stage to a preview stage on input to allow use of preview features in that stage. On read (or output), describes whether the resource uses preview features. For example, if ALPHA is provided as input, but only BETA and GA-level features are used, this field will be BETA on output.",
          "enumDescriptions": [
            "Do not use this default value.",
            "The feature is not yet implemented. Users can not use it.",
            "Prelaunch features are hidden from users and are only visible internally.",
            "Early Access features are limited to a closed group of testers. To use these features, you must sign up in advance and sign a Trusted Tester agreement (which includes confidentiality provisions). These features may be unstable, changed in backward-incompatible ways, and are not guaranteed to be released.",
            "Alpha is a limited availability test for releases before they are cleared for widespread use. By Alpha, all significant design issues are resolved and we are in the process of verifying functionality. Alpha customers need to apply for access, agree to applicable terms, and have their projects allowlisted. Alpha releases don't have to be feature complete, no SLAs are provided, and there are no technical support obligations, but they will be far enough along that customers can actually use them in test environments or for limited-use tests -- just like they would in normal production cases.",
            "Beta is the point at which we are ready to open a release for any customer to use. There are no SLA or technical support obligations in a Beta release. Products will be complete from a feature perspective, but may have some open outstanding issues. Beta releases are suitable for limited production use cases.",
            "GA features are open to all developers and are considered stable and fully qualified for production use.",
            "Deprecated features are scheduled to be shut down and removed. For more information, see the \"Deprecation Policy\" section of our [Terms of Service](https://cloud.google.com/terms/) and the [Google Cloud Platform Subject to the Deprecation Policy](https://cloud.google.com/terms/deprecation) documentation."
          ],
          "type": "string",
          "enum": [
            "LAUNCH_STAGE_UNSPECIFIED",
            "UNIMPLEMENTED",
            "PRELAUNCH",
            "EARLY_ACCESS",
            "ALPHA",
            "BETA",
            "GA",
            "DEPRECATED"
          ]
        },
        "labels": {
          "description": "Unstructured key value map that can be used to organize and categorize objects. User-provided labels are shared with Google's billing system, so they can be used to filter, or break down billing charges by team, component, environment, state, etc. For more information, visit https://cloud.google.com/resource-manager/docs/creating-managing-labels or https://cloud.google.com/run/docs/configuring/labels. Cloud Run API v2 does not support labels with `run.googleapis.com`, `cloud.googleapis.com`, `serving.knative.dev`, or `autoscaling.knative.dev` namespaces, and they will be rejected. All system labels in v1 now have a corresponding field in v2 Job.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "deleteTime": {
          "type": "string",
          "description": "Output only. The deletion time. It is only populated as a response to a Delete request.",
          "readOnly": true,
          "format": "google-datetime"
        },
        "runExecutionToken": {
          "description": "A unique string used as a suffix for creating a new execution. The Job will become ready when the execution is successfully completed. The sum of job name and token length must be fewer than 63 characters.",
          "type": "string"
        },
        "creator": {
          "description": "Output only. Email address of the authenticated creator.",
          "type": "string",
          "readOnly": true
        },
        "name": {
          "description": "The fully qualified name of this Job. Format: projects/{project}/locations/{location}/jobs/{job}",
          "type": "string"
        },
        "reconciling": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. Returns true if the Job is currently being acted upon by the system to bring it into the desired state. When a new Job is created, or an existing one is updated, Cloud Run will asynchronously perform all necessary steps to bring the Job to the desired state. This process is called reconciliation. While reconciliation is in process, `observed_generation` and `latest_succeeded_execution`, will have transient values that might mismatch the intended state: Once reconciliation is over (and this field is false), there are two possible outcomes: reconciliation succeeded and the state matches the Job, or there was an error, and reconciliation failed. This state can be found in `terminal_condition.state`. If reconciliation succeeded, the following fields will match: `observed_generation` and `generation`, `latest_succeeded_execution` and `latest_created_execution`. If reconciliation failed, `observed_generation` and `latest_succeeded_execution` will have the state of the last succeeded execution or empty for newly created Job. Additional information on the failure can be found in `terminal_condition` and `conditions`."
        },
        "lastModifier": {
          "readOnly": true,
          "description": "Output only. Email address of the last authenticated modifier.",
          "type": "string"
        },
        "uid": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Server assigned unique identifier for the Execution. The value is a UUID4 string and guaranteed to remain unchanged until the resource is deleted."
        },
        "template": {
          "$ref": "GoogleCloudRunV2ExecutionTemplate",
          "description": "Required. The template used to create executions for this Job."
        },
        "expireTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. For a deleted resource, the time after which it will be permamently deleted.",
          "readOnly": true
        },
        "clientVersion": {
          "type": "string",
          "description": "Arbitrary version identifier for the API client."
        },
        "binaryAuthorization": {
          "$ref": "GoogleCloudRunV2BinaryAuthorization",
          "description": "Settings for the Binary Authorization feature."
        },
        "conditions": {
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "GoogleCloudRunV2Condition"
          },
          "description": "Output only. The Conditions of all other associated sub-resources. They contain additional diagnostics information in case the Job does not reach its desired state. See comments in `reconciling` for additional information on reconciliation process in Cloud Run."
        },
        "etag": {
          "description": "Optional. A system-generated fingerprint for this version of the resource. May be used to detect modification conflict during updates.",
          "type": "string"
        },
        "terminalCondition": {
          "readOnly": true,
          "description": "Output only. The Condition of this Job, containing its readiness status, and detailed error information in case it did not reach the desired state.",
          "$ref": "GoogleCloudRunV2Condition"
        },
        "client": {
          "description": "Arbitrary identifier for the API client.",
          "type": "string"
        },
        "generation": {
          "readOnly": true,
          "description": "Output only. A number that monotonically increases every time the user modifies the desired state.",
          "format": "int64",
          "type": "string"
        },
        "satisfiesPzs": {
          "description": "Output only. Reserved for future use.",
          "readOnly": true,
          "type": "boolean"
        },
        "annotations": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Unstructured key value map that may be set by external tools to store and arbitrary metadata. They are not queryable and should be preserved when modifying objects. Cloud Run API v2 does not support annotations with `run.googleapis.com`, `cloud.googleapis.com`, `serving.knative.dev`, or `autoscaling.knative.dev` namespaces, and they will be rejected on new resources. All system annotations in v1 now have a corresponding field in v2 Job. This field follows Kubernetes annotations' namespacing, limits, and rules."
        }
      }
    },
    "GoogleCloudRunV2WorkerPoolRevisionTemplate": {
      "properties": {
        "clientVersion": {
          "description": "Optional. Arbitrary version identifier for the API client.",
          "type": "string"
        },
        "revision": {
          "description": "Optional. The unique name for the revision. If this field is omitted, it will be automatically generated based on the WorkerPool name.",
          "type": "string"
        },
        "nodeSelector": {
          "description": "Optional. The node selector for the revision template.",
          "$ref": "GoogleCloudRunV2NodeSelector"
        },
        "serviceAccount": {
          "type": "string",
          "description": "Optional. Email address of the IAM service account associated with the revision of the service. The service account represents the identity of the running revision, and determines what permissions the revision has. If not provided, the revision will use the project's default service account."
        },
        "vpcAccess": {
          "description": "Optional. VPC Access configuration to use for this Revision. For more information, visit https://cloud.google.com/run/docs/configuring/connecting-vpc.",
          "$ref": "GoogleCloudRunV2VpcAccess"
        },
        "encryptionKeyShutdownDuration": {
          "format": "google-duration",
          "type": "string",
          "description": "Optional. If encryption_key_revocation_action is SHUTDOWN, the duration before shutting down all instances. The minimum increment is 1 hour."
        },
        "client": {
          "description": "Optional. Arbitrary identifier for the API client.",
          "type": "string"
        },
        "annotations": {
          "type": "object",
          "description": "Optional. Unstructured key value map that may be set by external tools to store and arbitrary metadata. They are not queryable and should be preserved when modifying objects. Cloud Run API v2 does not support annotations with `run.googleapis.com`, `cloud.googleapis.com`, `serving.knative.dev`, or `autoscaling.knative.dev` namespaces, and they will be rejected. All system annotations in v1 now have a corresponding field in v2 WorkerPoolRevisionTemplate. This field follows Kubernetes annotations' namespacing, limits, and rules.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "gpuZonalRedundancyDisabled": {
          "type": "boolean",
          "description": "Optional. True if GPU zonal redundancy is disabled on this worker pool."
        },
        "serviceMesh": {
          "description": "Optional. Enables service mesh connectivity.",
          "$ref": "GoogleCloudRunV2ServiceMesh"
        },
        "volumes": {
          "description": "Optional. A list of Volumes to make available to containers.",
          "items": {
            "$ref": "GoogleCloudRunV2Volume"
          },
          "type": "array"
        },
        "encryptionKey": {
          "description": "A reference to a customer managed encryption key (CMEK) to use to encrypt this container image. For more information, go to https://cloud.google.com/run/docs/securing/using-cmek",
          "type": "string"
        },
        "containers": {
          "description": "Holds list of the containers that defines the unit of execution for this Revision.",
          "items": {
            "$ref": "GoogleCloudRunV2Container"
          },
          "type": "array"
        },
        "labels": {
          "description": "Optional. Unstructured key value map that can be used to organize and categorize objects. User-provided labels are shared with Google's billing system, so they can be used to filter, or break down billing charges by team, component, environment, state, etc. For more information, visit https://cloud.google.com/resource-manager/docs/creating-managing-labels or https://cloud.google.com/run/docs/configuring/labels. Cloud Run API v2 does not support labels with `run.googleapis.com`, `cloud.googleapis.com`, `serving.knative.dev`, or `autoscaling.knative.dev` namespaces, and they will be rejected. All system labels in v1 now have a corresponding field in v2 WorkerPoolRevisionTemplate.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "encryptionKeyRevocationAction": {
          "description": "Optional. The action to take if the encryption key is revoked.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified",
            "Prevents the creation of new instances.",
            "Shuts down existing instances, and prevents creation of new ones."
          ],
          "enum": [
            "ENCRYPTION_KEY_REVOCATION_ACTION_UNSPECIFIED",
            "PREVENT_NEW",
            "SHUTDOWN"
          ]
        }
      },
      "id": "GoogleCloudRunV2WorkerPoolRevisionTemplate",
      "type": "object",
      "description": "WorkerPoolRevisionTemplate describes the data a worker pool revision should have when created from a template."
    },
    "GoogleCloudRunV2Execution": {
      "properties": {
        "parallelism": {
          "type": "integer",
          "format": "int32",
          "description": "Output only. Specifies the maximum desired number of tasks the execution should run at any given time. Must be <= task_count. The actual number of tasks running in steady state will be less than this number when ((.spec.task_count - .status.successful) < .spec.parallelism), i.e. when the work left to do is less than max parallelism.",
          "readOnly": true
        },
        "retriedCount": {
          "type": "integer",
          "format": "int32",
          "readOnly": true,
          "description": "Output only. The number of tasks which have retried at least once."
        },
        "clientVersion": {
          "readOnly": true,
          "description": "Output only. Arbitrary version identifier for the API client.",
          "type": "string"
        },
        "expireTime": {
          "format": "google-datetime",
          "description": "Output only. For a deleted resource, the time after which it will be permamently deleted. It is only populated as a response to a Delete request.",
          "type": "string",
          "readOnly": true
        },
        "uid": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Server assigned unique identifier for the Execution. The value is a UUID4 string and guaranteed to remain unchanged until the resource is deleted."
        },
        "startTime": {
          "type": "string",
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. Represents time when the execution started to run. It is not guaranteed to be set in happens-before order across separate operations."
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The unique name of this Execution."
        },
        "satisfiesPzs": {
          "type": "boolean",
          "readOnly": true,
          "description": "Output only. Reserved for future use."
        },
        "conditions": {
          "readOnly": true,
          "items": {
            "$ref": "GoogleCloudRunV2Condition"
          },
          "type": "array",
          "description": "Output only. The Condition of this Execution, containing its readiness status, and detailed error information in case it did not reach the desired state."
        },
        "labels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Output only. Unstructured key value map that can be used to organize and categorize objects. User-provided labels are shared with Google's billing system, so they can be used to filter, or break down billing charges by team, component, environment, state, etc. For more information, visit https://cloud.google.com/resource-manager/docs/creating-managing-labels or https://cloud.google.com/run/docs/configuring/labels",
          "readOnly": true
        },
        "taskCount": {
          "description": "Output only. Specifies the desired number of tasks the execution should run. Setting to 1 means that parallelism is limited to 1 and the success of that task signals the success of the execution.",
          "readOnly": true,
          "type": "integer",
          "format": "int32"
        },
        "annotations": {
          "readOnly": true,
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Output only. Unstructured key value map that may be set by external tools to store and arbitrary metadata. They are not queryable and should be preserved when modifying objects."
        },
        "logUri": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. URI where logs for this execution can be found in Cloud Console."
        },
        "generation": {
          "format": "int64",
          "description": "Output only. A number that monotonically increases every time the user modifies the desired state.",
          "readOnly": true,
          "type": "string"
        },
        "runningCount": {
          "format": "int32",
          "type": "integer",
          "readOnly": true,
          "description": "Output only. The number of actively running tasks."
        },
        "createTime": {
          "readOnly": true,
          "description": "Output only. Represents time when the execution was acknowledged by the execution controller. It is not guaranteed to be set in happens-before order across separate operations.",
          "type": "string",
          "format": "google-datetime"
        },
        "updateTime": {
          "description": "Output only. The last-modified time.",
          "format": "google-datetime",
          "type": "string",
          "readOnly": true
        },
        "completionTime": {
          "description": "Output only. Represents time when the execution was completed. It is not guaranteed to be set in happens-before order across separate operations.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "failedCount": {
          "readOnly": true,
          "type": "integer",
          "description": "Output only. The number of tasks which reached phase Failed.",
          "format": "int32"
        },
        "template": {
          "$ref": "GoogleCloudRunV2TaskTemplate",
          "readOnly": true,
          "description": "Output only. The template used to create tasks for this execution."
        },
        "etag": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. A system-generated fingerprint for this version of the resource. May be used to detect modification conflict during updates."
        },
        "creator": {
          "readOnly": true,
          "description": "Output only. Email address of the authenticated creator.",
          "type": "string"
        },
        "succeededCount": {
          "readOnly": true,
          "type": "integer",
          "format": "int32",
          "description": "Output only. The number of tasks which reached phase Succeeded."
        },
        "launchStage": {
          "type": "string",
          "description": "The least stable launch stage needed to create this resource, as defined by [Google Cloud Platform Launch Stages](https://cloud.google.com/terms/launch-stages). Cloud Run supports `ALPHA`, `BETA`, and `GA`. Note that this value might not be what was used as input. For example, if ALPHA was provided as input in the parent resource, but only BETA and GA-level features are used, this field will be BETA.",
          "enum": [
            "LAUNCH_STAGE_UNSPECIFIED",
            "UNIMPLEMENTED",
            "PRELAUNCH",
            "EARLY_ACCESS",
            "ALPHA",
            "BETA",
            "GA",
            "DEPRECATED"
          ],
          "enumDescriptions": [
            "Do not use this default value.",
            "The feature is not yet implemented. Users can not use it.",
            "Prelaunch features are hidden from users and are only visible internally.",
            "Early Access features are limited to a closed group of testers. To use these features, you must sign up in advance and sign a Trusted Tester agreement (which includes confidentiality provisions). These features may be unstable, changed in backward-incompatible ways, and are not guaranteed to be released.",
            "Alpha is a limited availability test for releases before they are cleared for widespread use. By Alpha, all significant design issues are resolved and we are in the process of verifying functionality. Alpha customers need to apply for access, agree to applicable terms, and have their projects allowlisted. Alpha releases don't have to be feature complete, no SLAs are provided, and there are no technical support obligations, but they will be far enough along that customers can actually use them in test environments or for limited-use tests -- just like they would in normal production cases.",
            "Beta is the point at which we are ready to open a release for any customer to use. There are no SLA or technical support obligations in a Beta release. Products will be complete from a feature perspective, but may have some open outstanding issues. Beta releases are suitable for limited production use cases.",
            "GA features are open to all developers and are considered stable and fully qualified for production use.",
            "Deprecated features are scheduled to be shut down and removed. For more information, see the \"Deprecation Policy\" section of our [Terms of Service](https://cloud.google.com/terms/) and the [Google Cloud Platform Subject to the Deprecation Policy](https://cloud.google.com/terms/deprecation) documentation."
          ]
        },
        "deleteTime": {
          "format": "google-datetime",
          "readOnly": true,
          "type": "string",
          "description": "Output only. For a deleted resource, the deletion time. It is only populated as a response to a Delete request."
        },
        "cancelledCount": {
          "type": "integer",
          "description": "Output only. The number of tasks which reached phase Cancelled.",
          "readOnly": true,
          "format": "int32"
        },
        "observedGeneration": {
          "type": "string",
          "description": "Output only. The generation of this Execution. See comments in `reconciling` for additional information on reconciliation process in Cloud Run.",
          "format": "int64",
          "readOnly": true
        },
        "reconciling": {
          "type": "boolean",
          "readOnly": true,
          "description": "Output only. Indicates whether the resource's reconciliation is still in progress. See comments in `Job.reconciling` for additional information on reconciliation process in Cloud Run."
        },
        "job": {
          "readOnly": true,
          "description": "Output only. The name of the parent Job.",
          "type": "string"
        },
        "client": {
          "type": "string",
          "description": "Output only. Arbitrary identifier for the API client.",
          "readOnly": true
        }
      },
      "id": "GoogleCloudRunV2Execution",
      "type": "object",
      "description": "Execution represents the configuration of a single execution. A execution an immutable resource that references a container image which is run to completion."
    },
    "GoogleDevtoolsCloudbuildV1StorageSourceManifest": {
      "type": "object",
      "description": "Location of the source manifest in Cloud Storage. This feature is in Preview; see description [here](https://github.com/GoogleCloudPlatform/cloud-builders/tree/master/gcs-fetcher).",
      "id": "GoogleDevtoolsCloudbuildV1StorageSourceManifest",
      "properties": {
        "object": {
          "description": "Required. Cloud Storage object containing the source manifest. This object must be a JSON file.",
          "type": "string"
        },
        "bucket": {
          "description": "Required. Cloud Storage bucket containing the source manifest (see [Bucket Name Requirements](https://cloud.google.com/storage/docs/bucket-naming#requirements)).",
          "type": "string"
        },
        "generation": {
          "format": "int64",
          "description": "Cloud Storage generation for the object. If the generation is omitted, the latest generation will be used.",
          "type": "string"
        }
      }
    },
    "GoogleCloudRunV2Probe": {
      "type": "object",
      "properties": {
        "tcpSocket": {
          "$ref": "GoogleCloudRunV2TCPSocketAction",
          "description": "Optional. TCPSocket specifies an action involving a TCP port. Exactly one of httpGet, tcpSocket, or grpc must be specified."
        },
        "timeoutSeconds": {
          "description": "Optional. Number of seconds after which the probe times out. Defaults to 1 second. Minimum value is 1. Maximum value is 3600. Must be smaller than period_seconds.",
          "format": "int32",
          "type": "integer"
        },
        "httpGet": {
          "$ref": "GoogleCloudRunV2HTTPGetAction",
          "description": "Optional. HTTPGet specifies the http request to perform. Exactly one of httpGet, tcpSocket, or grpc must be specified."
        },
        "periodSeconds": {
          "description": "Optional. How often (in seconds) to perform the probe. Default to 10 seconds. Minimum value is 1. Maximum value for liveness probe is 3600. Maximum value for startup probe is 240. Must be greater or equal than timeout_seconds.",
          "type": "integer",
          "format": "int32"
        },
        "failureThreshold": {
          "format": "int32",
          "description": "Optional. Minimum consecutive failures for the probe to be considered failed after having succeeded. Defaults to 3. Minimum value is 1.",
          "type": "integer"
        },
        "initialDelaySeconds": {
          "description": "Optional. Number of seconds after the container has started before the probe is initiated. Defaults to 0 seconds. Minimum value is 0. Maximum value for liveness probe is 3600. Maximum value for startup probe is 240.",
          "format": "int32",
          "type": "integer"
        },
        "grpc": {
          "$ref": "GoogleCloudRunV2GRPCAction",
          "description": "Optional. GRPC specifies an action involving a gRPC port. Exactly one of httpGet, tcpSocket, or grpc must be specified."
        }
      },
      "id": "GoogleCloudRunV2Probe",
      "description": "Probe describes a health check to be performed against a container to determine whether it is alive or ready to receive traffic."
    },
    "GoogleCloudRunV2ServiceScaling": {
      "properties": {
        "minInstanceCount": {
          "description": "Optional. total min instances for the service. This number of instances is divided among all revisions with specified traffic based on the percent of traffic they are receiving.",
          "format": "int32",
          "type": "integer"
        },
        "maxInstanceCount": {
          "format": "int32",
          "type": "integer",
          "description": "Optional. total max instances for the service. This number of instances is divided among all revisions with specified traffic based on the percent of traffic they are receiving."
        },
        "scalingMode": {
          "enum": [
            "SCALING_MODE_UNSPECIFIED",
            "AUTOMATIC",
            "MANUAL"
          ],
          "description": "Optional. The scaling mode for the service.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified.",
            "Scale based on traffic between min and max instances.",
            "Scale to exactly min instances and ignore max instances."
          ]
        },
        "manualInstanceCount": {
          "description": "Optional. total instance count for the service in manual scaling mode. This number of instances is divided among all revisions with specified traffic based on the percent of traffic they are receiving.",
          "format": "int32",
          "type": "integer"
        }
      },
      "type": "object",
      "id": "GoogleCloudRunV2ServiceScaling",
      "description": "Scaling settings applied at the service level rather than at the revision level."
    },
    "GoogleIamV1Policy": {
      "properties": {
        "bindings": {
          "items": {
            "$ref": "GoogleIamV1Binding"
          },
          "description": "Associates a list of `members`, or principals, with a `role`. Optionally, may specify a `condition` that determines how and when the `bindings` are applied. Each of the `bindings` must contain at least one principal. The `bindings` in a `Policy` can refer to up to 1,500 principals; up to 250 of these principals can be Google groups. Each occurrence of a principal counts towards these limits. For example, if the `bindings` grant 50 different roles to `user:alice@example.com`, and not to any other principal, then you can add another 1,450 principals to the `bindings` in the `Policy`.",
          "type": "array"
        },
        "etag": {
          "description": "`etag` is used for optimistic concurrency control as a way to help prevent simultaneous updates of a policy from overwriting each other. It is strongly suggested that systems make use of the `etag` in the read-modify-write cycle to perform policy updates in order to avoid race conditions: An `etag` is returned in the response to `getIamPolicy`, and systems are expected to put that etag in the request to `setIamPolicy` to ensure that their change will be applied to the same version of the policy. **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost.",
          "format": "byte",
          "type": "string"
        },
        "version": {
          "format": "int32",
          "type": "integer",
          "description": "Specifies the format of the policy. Valid values are `0`, `1`, and `3`. Requests that specify an invalid value are rejected. Any operation that affects conditional role bindings must specify version `3`. This requirement applies to the following operations: * Getting a policy that includes a conditional role binding * Adding a conditional role binding to a policy * Changing a conditional role binding in a policy * Removing any role binding, with or without a condition, from a policy that includes conditions **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost. If a policy does not include any conditions, operations on that policy may specify any valid version or leave the field unset. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies)."
        },
        "auditConfigs": {
          "type": "array",
          "description": "Specifies cloud audit logging configuration for this policy.",
          "items": {
            "$ref": "GoogleIamV1AuditConfig"
          }
        }
      },
      "type": "object",
      "id": "GoogleIamV1Policy",
      "description": "An Identity and Access Management (IAM) policy, which specifies access controls for Google Cloud resources. A `Policy` is a collection of `bindings`. A `binding` binds one or more `members`, or principals, to a single `role`. Principals can be user accounts, service accounts, Google groups, and domains (such as G Suite). A `role` is a named list of permissions; each `role` can be an IAM predefined role or a user-created custom role. For some types of Google Cloud resources, a `binding` can also specify a `condition`, which is a logical expression that allows access to a resource only if the expression evaluates to `true`. A condition can add constraints based on attributes of the request, the resource, or both. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies). **JSON example:** ``` { \"bindings\": [ { \"role\": \"roles/resourcemanager.organizationAdmin\", \"members\": [ \"user:mike@example.com\", \"group:admins@example.com\", \"domain:google.com\", \"serviceAccount:my-project-id@appspot.gserviceaccount.com\" ] }, { \"role\": \"roles/resourcemanager.organizationViewer\", \"members\": [ \"user:eve@example.com\" ], \"condition\": { \"title\": \"expirable access\", \"description\": \"Does not grant access after Sep 2020\", \"expression\": \"request.time < timestamp('2020-10-01T00:00:00.000Z')\", } } ], \"etag\": \"BwWWja0YfJA=\", \"version\": 3 } ``` **YAML example:** ``` bindings: - members: - user:mike@example.com - group:admins@example.com - domain:google.com - serviceAccount:my-project-id@appspot.gserviceaccount.com role: roles/resourcemanager.organizationAdmin - members: - user:eve@example.com role: roles/resourcemanager.organizationViewer condition: title: expirable access description: Does not grant access after Sep 2020 expression: request.time < timestamp('2020-10-01T00:00:00.000Z') etag: BwWWja0YfJA= version: 3 ``` For a description of IAM and its features, see the [IAM documentation](https://cloud.google.com/iam/docs/)."
    },
    "GoogleCloudRunV2SubmitBuildResponse": {
      "description": "Response message for submitting a Build.",
      "id": "GoogleCloudRunV2SubmitBuildResponse",
      "type": "object",
      "properties": {
        "baseImageUri": {
          "description": "URI of the base builder image in Artifact Registry being used in the build. Used to opt into automatic base image updates.",
          "type": "string"
        },
        "buildOperation": {
          "$ref": "GoogleLongrunningOperation",
          "description": "Cloud Build operation to be polled via CloudBuild API."
        },
        "baseImageWarning": {
          "type": "string",
          "description": "Warning message for the base image."
        }
      }
    },
    "GoogleCloudRunV2Task": {
      "description": "Task represents a single run of a container to completion.",
      "properties": {
        "executionEnvironment": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified",
            "Uses the First Generation environment.",
            "Uses Second Generation environment."
          ],
          "description": "The execution environment being used to host this Task.",
          "enum": [
            "EXECUTION_ENVIRONMENT_UNSPECIFIED",
            "EXECUTION_ENVIRONMENT_GEN1",
            "EXECUTION_ENVIRONMENT_GEN2"
          ]
        },
        "nodeSelector": {
          "description": "Output only. The node selector for the task.",
          "readOnly": true,
          "$ref": "GoogleCloudRunV2NodeSelector"
        },
        "updateTime": {
          "format": "google-datetime",
          "description": "Output only. The last-modified time.",
          "readOnly": true,
          "type": "string"
        },
        "execution": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The name of the parent Execution."
        },
        "createTime": {
          "description": "Output only. Represents time when the task was created by the system. It is not guaranteed to be set in happens-before order across separate operations.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "reconciling": {
          "readOnly": true,
          "description": "Output only. Indicates whether the resource's reconciliation is still in progress. See comments in `Job.reconciling` for additional information on reconciliation process in Cloud Run.",
          "type": "boolean"
        },
        "satisfiesPzs": {
          "type": "boolean",
          "description": "Output only. Reserved for future use.",
          "readOnly": true
        },
        "completionTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. Represents time when the Task was completed. It is not guaranteed to be set in happens-before order across separate operations."
        },
        "maxRetries": {
          "type": "integer",
          "format": "int32",
          "description": "Number of retries allowed per Task, before marking this Task failed."
        },
        "uid": {
          "readOnly": true,
          "description": "Output only. Server assigned unique identifier for the Task. The value is a UUID4 string and guaranteed to remain unchanged until the resource is deleted.",
          "type": "string"
        },
        "deleteTime": {
          "format": "google-datetime",
          "description": "Output only. For a deleted resource, the deletion time. It is only populated as a response to a Delete request.",
          "readOnly": true,
          "type": "string"
        },
        "etag": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. A system-generated fingerprint for this version of the resource. May be used to detect modification conflict during updates."
        },
        "lastAttemptResult": {
          "$ref": "GoogleCloudRunV2TaskAttemptResult",
          "readOnly": true,
          "description": "Output only. Result of the last attempt of this Task."
        },
        "vpcAccess": {
          "readOnly": true,
          "$ref": "GoogleCloudRunV2VpcAccess",
          "description": "Output only. VPC Access configuration to use for this Task. For more information, visit https://cloud.google.com/run/docs/configuring/connecting-vpc."
        },
        "containers": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudRunV2Container"
          },
          "description": "Holds the single container that defines the unit of execution for this task."
        },
        "observedGeneration": {
          "format": "int64",
          "readOnly": true,
          "description": "Output only. The generation of this Task. See comments in `Job.reconciling` for additional information on reconciliation process in Cloud Run.",
          "type": "string"
        },
        "gpuZonalRedundancyDisabled": {
          "description": "Optional. Output only. True if GPU zonal redundancy is disabled on this task.",
          "type": "boolean",
          "readOnly": true
        },
        "timeout": {
          "type": "string",
          "description": "Max allowed time duration the Task may be active before the system will actively try to mark it failed and kill associated containers. This applies per attempt of a task, meaning each retry can run for the full timeout.",
          "format": "google-duration"
        },
        "serviceAccount": {
          "type": "string",
          "description": "Email address of the IAM service account associated with the Task of a Job. The service account represents the identity of the running task, and determines what permissions the task has. If not provided, the task will use the project's default service account."
        },
        "logUri": {
          "description": "Output only. URI where logs for this execution can be found in Cloud Console.",
          "readOnly": true,
          "type": "string"
        },
        "labels": {
          "description": "Output only. Unstructured key value map that can be used to organize and categorize objects. User-provided labels are shared with Google's billing system, so they can be used to filter, or break down billing charges by team, component, environment, state, etc. For more information, visit https://cloud.google.com/resource-manager/docs/creating-managing-labels or https://cloud.google.com/run/docs/configuring/labels",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "readOnly": true
        },
        "startTime": {
          "type": "string",
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. Represents time when the task started to run. It is not guaranteed to be set in happens-before order across separate operations."
        },
        "expireTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. For a deleted resource, the time after which it will be permamently deleted. It is only populated as a response to a Delete request.",
          "readOnly": true
        },
        "annotations": {
          "type": "object",
          "readOnly": true,
          "additionalProperties": {
            "type": "string"
          },
          "description": "Output only. Unstructured key value map that may be set by external tools to store and arbitrary metadata. They are not queryable and should be preserved when modifying objects."
        },
        "scheduledTime": {
          "readOnly": true,
          "type": "string",
[...]
