{
  "ownerDomain": "google.com",
  "revision": "20261002",
  "ownerName": "Google",
  "kind": "discovery#restDescription",
  "discoveryVersion": "v1",
  "servicePath": "",
  "basePath": "",
  "resources": {
    "namespaces": {
      "resources": {
        "domainmappings": {
          "methods": {
            "delete": {
              "response": {
                "$ref": "Status"
              },
              "path": "apis/domains.cloudrun.com/v1/{+name}",
              "httpMethod": "DELETE",
              "id": "run.namespaces.domainmappings.delete",
              "description": "Delete a domain mapping.",
              "flatPath": "apis/domains.cloudrun.com/v1/namespaces/{namespacesId}/domainmappings/{domainmappingsId}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/run"
              ],
              "parameters": {
                "apiVersion": {
                  "location": "query",
                  "type": "string",
                  "description": "Cloud Run currently ignores this parameter."
                },
                "kind": {
                  "type": "string",
                  "location": "query",
                  "description": "Cloud Run currently ignores this parameter."
                },
                "propagationPolicy": {
                  "type": "string",
                  "location": "query",
                  "description": "Specifies the propagation policy of delete. Cloud Run currently ignores this setting, and deletes in the background. Please see kubernetes.io/docs/concepts/architecture/garbage-collection/ for more information."
                },
                "dryRun": {
                  "location": "query",
                  "type": "string",
                  "description": "Indicates that the server should validate the request and populate default values without persisting the request. Supported values: `all`"
                },
                "name": {
                  "required": true,
                  "pattern": "^namespaces/[^/]+/domainmappings/[^/]+$",
                  "description": "Required. The name of the domain mapping to delete. For Cloud Run (fully managed), replace {namespace} with the project ID or number. It takes the form namespaces/{namespace}. For example: namespaces/PROJECT_ID",
                  "location": "path",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "name"
              ]
            },
            "list": {
              "parameterOrder": [
                "parent"
              ],
              "httpMethod": "GET",
              "path": "apis/domains.cloudrun.com/v1/{+parent}/domainmappings",
              "response": {
                "$ref": "ListDomainMappingsResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/run",
                "https://www.googleapis.com/auth/run.readonly"
              ],
              "id": "run.namespaces.domainmappings.list",
              "description": "List all domain mappings.",
              "parameters": {
                "includeUninitialized": {
                  "description": "Not currently used by Cloud Run.",
                  "location": "query",
                  "type": "boolean"
                },
                "watch": {
                  "location": "query",
                  "description": "Flag that indicates that the client expects to watch this resource as well. Not currently used by Cloud Run.",
                  "type": "boolean"
                },
                "fieldSelector": {
                  "description": "Allows to filter resources based on a specific value for a field name. Send this in a query string format. i.e. 'metadata.name%3Dlorem'. Not currently used by Cloud Run.",
                  "type": "string",
                  "location": "query"
                },
                "continue": {
                  "description": "Optional. Encoded string to continue paging.",
                  "type": "string",
                  "location": "query"
                },
                "parent": {
                  "type": "string",
                  "description": "Required. The namespace from which the domain mappings should be listed. For Cloud Run (fully managed), replace {namespace} with the project ID or number. It takes the form namespaces/{namespace}. For example: namespaces/PROJECT_ID",
                  "required": true,
                  "pattern": "^namespaces/[^/]+$",
                  "location": "path"
                },
                "limit": {
                  "location": "query",
                  "type": "integer",
                  "format": "int32",
                  "description": "Optional. The maximum number of records that should be returned."
                },
                "resourceVersion": {
                  "type": "string",
                  "description": "The baseline resource version from which the list or watch operation should start. Not currently used by Cloud Run.",
                  "location": "query"
                },
                "labelSelector": {
                  "location": "query",
                  "type": "string",
                  "description": "Allows to filter resources based on a label. Supported operations are =, !=, exists, in, and notIn."
                }
              },
              "flatPath": "apis/domains.cloudrun.com/v1/namespaces/{namespacesId}/domainmappings"
            },
            "get": {
              "response": {
                "$ref": "DomainMapping"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/run",
                "https://www.googleapis.com/auth/run.readonly"
              ],
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "location": "path",
                  "description": "Required. The name of the domain mapping to retrieve. For Cloud Run (fully managed), replace {namespace} with the project ID or number. It takes the form namespaces/{namespace}. For example: namespaces/PROJECT_ID",
                  "pattern": "^namespaces/[^/]+/domainmappings/[^/]+$",
                  "type": "string",
                  "required": true
                }
              },
              "flatPath": "apis/domains.cloudrun.com/v1/namespaces/{namespacesId}/domainmappings/{domainmappingsId}",
              "id": "run.namespaces.domainmappings.get",
              "httpMethod": "GET",
              "path": "apis/domains.cloudrun.com/v1/{+name}",
              "description": "Get information about a domain mapping."
            },
            "create": {
              "response": {
                "$ref": "DomainMapping"
              },
              "httpMethod": "POST",
              "request": {
                "$ref": "DomainMapping"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/run"
              ],
              "id": "run.namespaces.domainmappings.create",
              "parameters": {
                "parent": {
                  "required": true,
                  "type": "string",
                  "description": "Required. The namespace in which the domain mapping should be created. For Cloud Run (fully managed), replace {namespace} with the project ID or number. It takes the form namespaces/{namespace}. For example: namespaces/PROJECT_ID",
                  "location": "path",
                  "pattern": "^namespaces/[^/]+$"
                },
                "dryRun": {
                  "description": "Indicates that the server should validate the request and populate default values without persisting the request. Supported values: `all`",
                  "location": "query",
                  "type": "string"
                }
              },
              "flatPath": "apis/domains.cloudrun.com/v1/namespaces/{namespacesId}/domainmappings",
              "parameterOrder": [
                "parent"
              ],
              "path": "apis/domains.cloudrun.com/v1/{+parent}/domainmappings",
              "description": "Create a new domain mapping."
            }
          }
        },
        "services": {
          "methods": {
            "list": {
              "httpMethod": "GET",
              "flatPath": "apis/serving.knative.dev/v1/namespaces/{namespacesId}/services",
              "description": "Lists services for the given project and region. Results are sorted by creation time, descending.",
              "path": "apis/serving.knative.dev/v1/{+parent}/services",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/run",
                "https://www.googleapis.com/auth/run.readonly"
              ],
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "ListServicesResponse"
              },
              "parameters": {
                "resourceVersion": {
                  "type": "string",
                  "location": "query",
                  "description": "Not supported, and ignored by Cloud Run."
                },
                "includeUninitialized": {
                  "location": "query",
                  "description": "Not supported, and ignored by Cloud Run.",
                  "type": "boolean"
                },
                "parent": {
                  "required": true,
                  "description": "Required. The parent from where the resources should be listed. In Cloud Run, it may be one of the following: * `{project_id_or_number}` * `namespaces/{project_id_or_number}` * `namespaces/{project_id_or_number}/services` * `projects/{project_id_or_number}/locations/{region}` * `projects/{project_id_or_number}/regions/{region}`",
                  "pattern": "^namespaces/[^/]+$",
                  "type": "string",
                  "location": "path"
                },
                "watch": {
                  "location": "query",
                  "description": "Not supported, and ignored by Cloud Run.",
                  "type": "boolean"
                },
                "continue": {
                  "type": "string",
                  "location": "query",
                  "description": "Encoded string to continue paging."
                },
                "fieldSelector": {
                  "location": "query",
                  "description": "Not supported, and ignored by Cloud Run.",
                  "type": "string"
                },
                "labelSelector": {
                  "location": "query",
                  "description": "Allows to filter resources based on a label. Supported operations are =, !=, exists, in, and notIn.",
                  "type": "string"
                },
                "limit": {
                  "type": "integer",
                  "description": "The maximum number of records that should be returned.",
                  "location": "query",
                  "format": "int32"
                }
              },
              "id": "run.namespaces.services.list"
            },
            "delete": {
              "httpMethod": "DELETE",
              "description": "Deletes the provided service. This will cause the Service to stop serving traffic and will delete all associated Revisions.",
              "id": "run.namespaces.services.delete",
              "parameterOrder": [
                "name"
              ],
              "flatPath": "apis/serving.knative.dev/v1/namespaces/{namespacesId}/services/{servicesId}",
              "path": "apis/serving.knative.dev/v1/{+name}",
              "parameters": {
                "propagationPolicy": {
                  "type": "string",
                  "description": "Not supported, and ignored by Cloud Run.",
                  "location": "query"
                },
                "name": {
                  "pattern": "^namespaces/[^/]+/services/[^/]+$",
                  "type": "string",
                  "required": true,
                  "description": "Required. The fully qualified name of the service to delete. It can be any of the following forms: * `namespaces/{project_id_or_number}/services/{service_name}` (only when the `endpoint` is regional) * `projects/{project_id_or_number}/locations/{region}/services/{service_name}` * `projects/{project_id_or_number}/regions/{region}/services/{service_name}`",
                  "location": "path"
                },
                "apiVersion": {
                  "type": "string",
                  "location": "query",
                  "description": "Not supported, and ignored by Cloud Run."
                },
                "dryRun": {
                  "type": "string",
                  "description": "Indicates that the server should validate the request and populate default values without persisting the request. Supported values: `all`",
                  "location": "query"
                },
                "kind": {
                  "description": "Not supported, and ignored by Cloud Run.",
                  "location": "query",
                  "type": "string"
                }
              },
              "response": {
                "$ref": "Status"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/run"
              ]
            },
            "create": {
              "description": "Creates a new Service. Service creation will trigger a new deployment. Use GetService, and check service.status to determine if the Service is ready.",
              "response": {
                "$ref": "Service"
              },
              "request": {
                "$ref": "Service"
              },
              "id": "run.namespaces.services.create",
              "httpMethod": "POST",
              "path": "apis/serving.knative.dev/v1/{+parent}/services",
              "parameterOrder": [
                "parent"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/run"
              ],
              "flatPath": "apis/serving.knative.dev/v1/namespaces/{namespacesId}/services",
              "parameters": {
                "dryRun": {
                  "description": "Indicates that the server should validate the request and populate default values without persisting the request. Supported values: `all`",
                  "location": "query",
                  "type": "string"
                },
                "parent": {
                  "pattern": "^namespaces/[^/]+$",
                  "required": true,
                  "description": "Required. The resource's parent. In Cloud Run, it may be one of the following: * `{project_id_or_number}` * `namespaces/{project_id_or_number}` * `namespaces/{project_id_or_number}/services` * `projects/{project_id_or_number}/locations/{region}` * `projects/{project_id_or_number}/regions/{region}`",
                  "type": "string",
                  "location": "path"
                }
              }
            },
            "get": {
              "path": "apis/serving.knative.dev/v1/{+name}",
              "description": "Gets information about a service.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/run",
                "https://www.googleapis.com/auth/run.readonly"
              ],
              "response": {
                "$ref": "Service"
              },
              "parameters": {
                "name": {
                  "pattern": "^namespaces/[^/]+/services/[^/]+$",
                  "type": "string",
                  "description": "Required. The fully qualified name of the service to retrieve. It can be any of the following forms: * `namespaces/{project_id_or_number}/services/{service_name}` (only when the `endpoint` is regional) * `projects/{project_id_or_number}/locations/{region}/services/{service_name}` * `projects/{project_id_or_number}/regions/{region}/services/{service_name}`",
                  "location": "path",
                  "required": true
                }
              },
              "id": "run.namespaces.services.get",
              "parameterOrder": [
                "name"
              ],
              "flatPath": "apis/serving.knative.dev/v1/namespaces/{namespacesId}/services/{servicesId}",
              "httpMethod": "GET"
            },
            "replaceService": {
              "parameters": {
                "name": {
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "pattern": "^namespaces/[^/]+/services/[^/]+$",
                  "description": "Required. The fully qualified name of the service to replace. It can be any of the following forms: * `namespaces/{project_id_or_number}/services/{service_name}` (only when the `endpoint` is regional) * `projects/{project_id_or_number}/locations/{region}/services/{service_name}` * `projects/{project_id_or_number}/regions/{region}/services/{service_name}`"
                },
                "dryRun": {
                  "description": "Indicates that the server should validate the request and populate default values without persisting the request. Supported values: `all`",
                  "location": "query",
                  "type": "string"
                }
              },
              "flatPath": "apis/serving.knative.dev/v1/namespaces/{namespacesId}/services/{servicesId}",
              "description": "Replaces a service. Only the spec and metadata labels and annotations are modifiable. After the Update request, Cloud Run will work to make the 'status' match the requested 'spec'. May provide metadata.resourceVersion to enforce update from last read for optimistic concurrency control.",
              "request": {
                "$ref": "Service"
              },
              "path": "apis/serving.knative.dev/v1/{+name}",
              "response": {
                "$ref": "Service"
              },
              "httpMethod": "PUT",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/run"
              ],
              "id": "run.namespaces.services.replaceService",
              "parameterOrder": [
                "name"
              ]
            }
          }
        },
        "configurations": {
          "methods": {
            "list": {
              "response": {
                "$ref": "ListConfigurationsResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/run",
                "https://www.googleapis.com/auth/run.readonly"
              ],
              "parameterOrder": [
                "parent"
              ],
              "httpMethod": "GET",
              "path": "apis/serving.knative.dev/v1/{+parent}/configurations",
              "flatPath": "apis/serving.knative.dev/v1/namespaces/{namespacesId}/configurations",
              "description": "List configurations. Results are sorted by creation time, descending.",
              "parameters": {
                "resourceVersion": {
                  "description": "Not supported by Cloud Run.",
                  "type": "string",
                  "location": "query"
                },
                "limit": {
                  "location": "query",
                  "description": "Optional. The maximum number of the records that should be returned.",
                  "type": "integer",
                  "format": "int32"
                },
                "fieldSelector": {
                  "location": "query",
                  "description": "Not supported by Cloud Run.",
                  "type": "string"
                },
                "includeUninitialized": {
                  "location": "query",
                  "description": "Not supported by Cloud Run.",
                  "type": "boolean"
                },
                "continue": {
                  "location": "query",
                  "description": "Optional. Encoded string to continue paging.",
                  "type": "string"
                },
                "parent": {
                  "type": "string",
                  "location": "path",
                  "description": "The namespace from which the configurations should be listed. For Cloud Run, replace {namespace_id} with the project ID or number.",
                  "required": true,
                  "pattern": "^namespaces/[^/]+$"
                },
                "watch": {
                  "location": "query",
                  "type": "boolean",
                  "description": "Not supported by Cloud Run."
                },
                "labelSelector": {
                  "type": "string",
                  "location": "query",
                  "description": "Allows to filter resources based on a label. Supported operations are =, !=, exists, in, and notIn."
                }
              },
              "id": "run.namespaces.configurations.list"
            },
            "get": {
              "parameters": {
                "name": {
                  "pattern": "^namespaces/[^/]+/configurations/[^/]+$",
                  "required": true,
                  "type": "string",
                  "description": "The name of the configuration to retrieve. For Cloud Run, replace {namespace_id} with the project ID or number.",
                  "location": "path"
                }
              },
              "id": "run.namespaces.configurations.get",
              "description": "Get information about a configuration.",
              "response": {
                "$ref": "Configuration"
              },
              "httpMethod": "GET",
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/run",
                "https://www.googleapis.com/auth/run.readonly"
              ],
              "flatPath": "apis/serving.knative.dev/v1/namespaces/{namespacesId}/configurations/{configurationsId}",
              "path": "apis/serving.knative.dev/v1/{+name}"
            }
          }
        },
        "authorizeddomains": {
          "methods": {
            "list": {
              "id": "run.namespaces.authorizeddomains.list",
              "flatPath": "apis/domains.cloudrun.com/v1/namespaces/{namespacesId}/authorizeddomains",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/run",
                "https://www.googleapis.com/auth/run.readonly"
              ],
              "path": "apis/domains.cloudrun.com/v1/{+parent}/authorizeddomains",
              "parameters": {
                "pageToken": {
                  "type": "string",
                  "location": "query",
                  "description": "Continuation token for fetching the next page of results."
                },
                "pageSize": {
                  "format": "int32",
                  "type": "integer",
                  "description": "Maximum results to return per page.",
                  "location": "query"
                },
                "parent": {
                  "description": "Name of the parent Project resource. Example: `projects/myproject`.",
                  "required": true,
                  "type": "string",
                  "pattern": "^namespaces/[^/]+$",
                  "location": "path"
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "ListAuthorizedDomainsResponse"
              },
              "httpMethod": "GET",
              "description": "List authorized domains."
            }
          }
        },
        "revisions": {
          "methods": {
            "get": {
              "flatPath": "apis/serving.knative.dev/v1/namespaces/{namespacesId}/revisions/{revisionsId}",
              "parameters": {
                "name": {
                  "type": "string",
                  "description": "The name of the revision to retrieve. For Cloud Run (fully managed), replace {namespace} with the project ID or number. It takes the form namespaces/{namespace}. For example: namespaces/PROJECT_ID",
                  "pattern": "^namespaces/[^/]+/revisions/[^/]+$",
                  "location": "path",
                  "required": true
                }
              },
              "path": "apis/serving.knative.dev/v1/{+name}",
              "description": "Get information about a revision.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/run",
                "https://www.googleapis.com/auth/run.readonly"
              ],
              "id": "run.namespaces.revisions.get",
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "Revision"
              },
              "httpMethod": "GET"
            },
            "delete": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/run"
              ],
              "id": "run.namespaces.revisions.delete",
              "flatPath": "apis/serving.knative.dev/v1/namespaces/{namespacesId}/revisions/{revisionsId}",
              "httpMethod": "DELETE",
              "description": "Delete a revision.",
              "response": {
                "$ref": "Status"
              },
              "path": "apis/serving.knative.dev/v1/{+name}",
              "parameters": {
                "name": {
                  "description": "The name of the revision to delete. For Cloud Run (fully managed), replace {namespace} with the project ID or number. It takes the form namespaces/{namespace}. For example: namespaces/PROJECT_ID",
                  "type": "string",
                  "pattern": "^namespaces/[^/]+/revisions/[^/]+$",
                  "location": "path",
                  "required": true
                },
                "apiVersion": {
                  "location": "query",
                  "type": "string",
                  "description": "Cloud Run currently ignores this parameter."
                },
                "dryRun": {
                  "description": "Indicates that the server should validate the request and populate default values without persisting the request. Supported values: `all`",
                  "location": "query",
                  "type": "string"
                },
                "kind": {
                  "location": "query",
                  "description": "Cloud Run currently ignores this parameter.",
                  "type": "string"
                },
                "propagationPolicy": {
                  "location": "query",
                  "description": "Specifies the propagation policy of delete. Cloud Run currently ignores this setting, and deletes in the background.",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "name"
              ]
            },
            "list": {
              "parameters": {
                "resourceVersion": {
                  "location": "query",
                  "description": "The baseline resource version from which the list or watch operation should start. Not currently used by Cloud Run.",
                  "type": "string"
                },
                "watch": {
                  "type": "boolean",
                  "description": "Flag that indicates that the client expects to watch this resource as well. Not currently used by Cloud Run.",
                  "location": "query"
                },
                "parent": {
                  "location": "path",
                  "description": "The namespace from which the revisions should be listed. For Cloud Run (fully managed), replace {namespace} with the project ID or number. It takes the form namespaces/{namespace}. For example: namespaces/PROJECT_ID",
                  "type": "string",
                  "required": true,
                  "pattern": "^namespaces/[^/]+$"
                },
                "includeUninitialized": {
                  "description": "Not currently used by Cloud Run.",
                  "type": "boolean",
                  "location": "query"
                },
                "fieldSelector": {
                  "description": "Allows to filter resources based on a specific value for a field name. Send this in a query string format. i.e. 'metadata.name%3Dlorem'. Not currently used by Cloud Run.",
                  "type": "string",
                  "location": "query"
                },
                "continue": {
                  "type": "string",
                  "location": "query",
                  "description": "Optional. Encoded string to continue paging."
                },
                "labelSelector": {
                  "location": "query",
                  "description": "Allows to filter resources based on a label. Supported operations are =, !=, exists, in, and notIn.",
                  "type": "string"
                },
                "limit": {
                  "format": "int32",
                  "type": "integer",
                  "description": "Optional. The maximum number of records that should be returned.",
                  "location": "query"
                }
              },
              "id": "run.namespaces.revisions.list",
              "response": {
                "$ref": "ListRevisionsResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/run",
                "https://www.googleapis.com/auth/run.readonly"
              ],
              "description": "List revisions. Results are sorted by creation time, descending.",
              "path": "apis/serving.knative.dev/v1/{+parent}/revisions",
              "parameterOrder": [
                "parent"
              ],
              "httpMethod": "GET",
              "flatPath": "apis/serving.knative.dev/v1/namespaces/{namespacesId}/revisions"
            }
          }
        },
        "routes": {
          "methods": {
            "get": {
              "description": "Get information about a route.",
              "flatPath": "apis/serving.knative.dev/v1/namespaces/{namespacesId}/routes/{routesId}",
              "httpMethod": "GET",
              "id": "run.namespaces.routes.get",
              "path": "apis/serving.knative.dev/v1/{+name}",
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/run",
                "https://www.googleapis.com/auth/run.readonly"
              ],
              "response": {
                "$ref": "Route"
              },
              "parameters": {
                "name": {
                  "description": "The name of the route to retrieve. For Cloud Run (fully managed), replace {namespace} with the project ID or number. It takes the form namespaces/{namespace}. For example: namespaces/PROJECT_ID",
                  "pattern": "^namespaces/[^/]+/routes/[^/]+$",
                  "type": "string",
                  "required": true,
                  "location": "path"
                }
              }
            },
            "list": {
              "httpMethod": "GET",
              "response": {
                "$ref": "ListRoutesResponse"
              },
              "description": "List routes. Results are sorted by creation time, descending.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/run",
                "https://www.googleapis.com/auth/run.readonly"
              ],
              "flatPath": "apis/serving.knative.dev/v1/namespaces/{namespacesId}/routes",
              "id": "run.namespaces.routes.list",
              "path": "apis/serving.knative.dev/v1/{+parent}/routes",
              "parameters": {
                "includeUninitialized": {
                  "description": "Not currently used by Cloud Run.",
                  "type": "boolean",
                  "location": "query"
                },
                "watch": {
                  "description": "Flag that indicates that the client expects to watch this resource as well. Not currently used by Cloud Run.",
                  "location": "query",
                  "type": "boolean"
                },
                "fieldSelector": {
                  "description": "Allows to filter resources based on a specific value for a field name. Send this in a query string format. i.e. 'metadata.name%3Dlorem'. Not currently used by Cloud Run.",
                  "location": "query",
                  "type": "string"
                },
                "parent": {
                  "pattern": "^namespaces/[^/]+$",
                  "type": "string",
                  "location": "path",
                  "description": "The namespace from which the routes should be listed. For Cloud Run (fully managed), replace {namespace} with the project ID or number. It takes the form namespaces/{namespace}. For example: namespaces/PROJECT_ID",
                  "required": true
                },
                "limit": {
                  "location": "query",
                  "format": "int32",
                  "description": "Optional. The maximum number of records that should be returned.",
                  "type": "integer"
                },
                "continue": {
                  "type": "string",
                  "location": "query",
                  "description": "Optional. Encoded string to continue paging."
                },
                "resourceVersion": {
                  "type": "string",
                  "location": "query",
                  "description": "The baseline resource version from which the list or watch operation should start. Not currently used by Cloud Run."
                },
                "labelSelector": {
                  "location": "query",
                  "description": "Allows to filter resources based on a label. Supported operations are =, !=, exists, in, and notIn.",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "parent"
              ]
            }
          }
        },
        "executions": {
          "methods": {
            "cancel": {
              "description": "Cancel an execution.",
              "flatPath": "apis/run.googleapis.com/v1/namespaces/{namespacesId}/executions/{executionsId}:cancel",
              "id": "run.namespaces.executions.cancel",
              "httpMethod": "POST",
              "request": {
                "$ref": "CancelExecutionRequest"
              },
              "parameters": {
                "name": {
                  "location": "path",
                  "description": "Required. The name of the execution to cancel. Replace {namespace} with the project ID or number. It takes the form namespaces/{namespace}. For example: namespaces/PROJECT_ID",
                  "type": "string",
                  "required": true,
                  "pattern": "^namespaces/[^/]+/executions/[^/]+$"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/run"
              ],
              "response": {
                "$ref": "Execution"
              },
              "path": "apis/run.googleapis.com/v1/{+name}:cancel",
              "parameterOrder": [
                "name"
              ]
            },
            "list": {
              "response": {
                "$ref": "ListExecutionsResponse"
              },
              "id": "run.namespaces.executions.list",
              "parameters": {
                "includeUninitialized": {
                  "location": "query",
                  "description": "Optional. Not supported by Cloud Run.",
                  "type": "boolean"
                },
                "fieldSelector": {
                  "description": "Optional. Not supported by Cloud Run.",
                  "location": "query",
                  "type": "string"
                },
                "watch": {
                  "location": "query",
                  "description": "Optional. Not supported by Cloud Run.",
                  "type": "boolean"
                },
                "resourceVersion": {
                  "location": "query",
                  "type": "string",
                  "description": "Optional. Not supported by Cloud Run."
                },
                "parent": {
                  "pattern": "^namespaces/[^/]+$",
                  "description": "Required. The namespace from which the executions should be listed. Replace {namespace} with the project ID or number. It takes the form namespaces/{namespace}. For example: namespaces/PROJECT_ID",
                  "location": "path",
                  "type": "string",
                  "required": true
                },
                "labelSelector": {
                  "description": "Optional. Allows to filter resources based on a label. Supported operations are =, !=, exists, in, and notIn.",
                  "location": "query",
                  "type": "string"
                },
                "limit": {
                  "description": "Optional. The maximum number of the records that should be returned.",
                  "location": "query",
                  "format": "int32",
                  "type": "integer"
                },
                "continue": {
                  "description": "Optional. Optional encoded string to continue paging.",
                  "type": "string",
                  "location": "query"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/run",
                "https://www.googleapis.com/auth/run.readonly"
              ],
              "path": "apis/run.googleapis.com/v1/{+parent}/executions",
              "flatPath": "apis/run.googleapis.com/v1/namespaces/{namespacesId}/executions",
              "parameterOrder": [
                "parent"
              ],
              "httpMethod": "GET",
              "description": "List executions. Results are sorted by creation time, descending."
            },
            "get": {
              "flatPath": "apis/run.googleapis.com/v1/namespaces/{namespacesId}/executions/{executionsId}",
              "id": "run.namespaces.executions.get",
              "parameters": {
                "name": {
                  "description": "Required. The name of the execution to retrieve. Replace {namespace} with the project ID or number. It takes the form namespaces/{namespace}. For example: namespaces/PROJECT_ID",
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "pattern": "^namespaces/[^/]+/executions/[^/]+$"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/run",
                "https://www.googleapis.com/auth/run.readonly"
              ],
              "description": "Get information about an execution.",
              "response": {
                "$ref": "Execution"
              },
              "path": "apis/run.googleapis.com/v1/{+name}",
              "httpMethod": "GET",
              "parameterOrder": [
                "name"
              ]
            },
            "delete": {
              "description": "Delete an execution.",
              "httpMethod": "DELETE",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/run"
              ],
              "flatPath": "apis/run.googleapis.com/v1/namespaces/{namespacesId}/executions/{executionsId}",
              "parameterOrder": [
                "name"
              ],
              "id": "run.namespaces.executions.delete",
              "path": "apis/run.googleapis.com/v1/{+name}",
              "parameters": {
                "name": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "pattern": "^namespaces/[^/]+/executions/[^/]+$",
                  "description": "Required. The name of the execution to delete. Replace {namespace} with the project ID or number. It takes the form namespaces/{namespace}. For example: namespaces/PROJECT_ID"
                },
                "kind": {
                  "location": "query",
                  "type": "string",
                  "description": "Optional. Cloud Run currently ignores this parameter."
                },
                "apiVersion": {
                  "location": "query",
                  "type": "string",
                  "description": "Optional. Cloud Run currently ignores this parameter."
                },
                "propagationPolicy": {
                  "location": "query",
                  "type": "string",
                  "description": "Optional. Specifies the propagation policy of delete. Cloud Run currently ignores this setting."
                }
              },
              "response": {
                "$ref": "Status"
              }
            }
          }
        },
        "instances": {
          "methods": {
            "stop": {
              "description": "Stop an Instance that is running.",
              "parameters": {
                "name": {
                  "pattern": "^namespaces/[^/]+/instances/[^/]+$",
                  "description": "Required. The name of the Instance to run. Replace {namespace} with the project ID or number. It takes the form namespaces/{namespace}. For example: namespaces/PROJECT_ID",
                  "required": true,
                  "type": "string",
                  "location": "path"
                }
              },
              "request": {
                "$ref": "StopInstanceRequest"
              },
              "response": {
                "$ref": "Instance"
              },
              "id": "run.namespaces.instances.stop",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/run"
              ],
              "httpMethod": "POST",
              "flatPath": "apis/run.googleapis.com/v1/namespaces/{namespacesId}/instances/{instancesId}:stop",
              "path": "apis/run.googleapis.com/v1/{+name}:stop",
              "parameterOrder": [
                "name"
              ]
            },
            "start": {
              "id": "run.namespaces.instances.start",
              "parameters": {
                "name": {
                  "location": "path",
                  "description": "Required. The name of the Instance to run. Replace {namespace} with the project ID or number. It takes the form namespaces/{namespace}. For example: namespaces/PROJECT_ID",
                  "pattern": "^namespaces/[^/]+/instances/[^/]+$",
                  "required": true,
                  "type": "string"
                }
              },
              "request": {
                "$ref": "StartInstanceRequest"
              },
              "path": "apis/run.googleapis.com/v1/{+name}:start",
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "Instance"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/run"
              ],
              "httpMethod": "POST",
              "description": "Start an Instance which has been stopped.",
              "flatPath": "apis/run.googleapis.com/v1/namespaces/{namespacesId}/instances/{instancesId}:start"
            },
            "get": {
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/run",
                "https://www.googleapis.com/auth/run.readonly"
              ],
              "flatPath": "apis/run.googleapis.com/v1/namespaces/{namespacesId}/instances/{instancesId}",
              "path": "apis/run.googleapis.com/v1/{+name}",
              "parameters": {
                "name": {
                  "pattern": "^namespaces/[^/]+/instances/[^/]+$",
                  "description": "Required. The fully qualified name of the Instance to retrieve. It can be any of the following forms: * `namespaces/{project_id_or_number}/instances/{instance_name}` (only when the `endpoint` is regional) * `projects/{project_id_or_number}/locations/{region}/instances/{instance_name}` * `projects/{project_id_or_number}/regions/{region}/instances/{instance_name}` Parent resource namespace.",
                  "location": "path",
                  "type": "string",
                  "required": true
                }
              },
              "description": "Get an Instance.",
              "parameterOrder": [
                "name"
              ],
              "id": "run.namespaces.instances.get",
              "response": {
                "$ref": "Instance"
              }
            },
            "replaceInstance": {
              "description": "Replace an Instance.",
              "httpMethod": "PUT",
              "response": {
                "$ref": "Instance"
              },
              "parameterOrder": [
                "name"
              ],
              "request": {
                "$ref": "Instance"
              },
              "id": "run.namespaces.instances.replaceInstance",
              "parameters": {
                "name": {
                  "required": true,
                  "pattern": "^namespaces/[^/]+/instances/[^/]+$",
                  "type": "string",
                  "description": "Required. The fully qualified name of the Instance being replaced. It can be any of the following forms: * `namespaces/{project_id_or_number}/instances/{instance_name}` (only when the `endpoint` is regional) * `projects/{project_id_or_number}/locations/{region}/instances/{instance_name}` * `projects/{project_id_or_number}/regions/{region}/instances/{instance_name}` Parent resource namespace.",
                  "location": "path"
                },
                "dryRun": {
                  "type": "string",
                  "location": "query",
                  "description": "Optional. Indicates that the server should validate the request and populate default values without persisting the request. Supported values: `all`"
                }
              },
              "path": "apis/run.googleapis.com/v1/{+name}",
              "flatPath": "apis/run.googleapis.com/v1/namespaces/{namespacesId}/instances/{instancesId}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/run"
              ]
            },
            "delete": {
              "description": "Delete an Instance.",
              "httpMethod": "DELETE",
              "id": "run.namespaces.instances.delete",
              "response": {
                "$ref": "Status"
              },
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "kind": {
                  "location": "query",
                  "description": "Optional. Cloud Run currently ignores this parameter.",
                  "type": "string"
                },
                "dryRun": {
                  "description": "Optional. Indicates that the server should validate the request and populate default values without persisting the request. Supported values: `all`",
                  "type": "string",
                  "location": "query"
                },
                "apiVersion": {
                  "description": "Optional. Cloud Run currently ignores this parameter.",
                  "location": "query",
                  "type": "string"
                },
                "name": {
                  "description": "Required. The fully qualified name of the Instance to delete. It can be any of the following forms: * `namespaces/{project_id_or_number}/instances/{instance_name}` (only when the `endpoint` is regional) * `projects/{project_id_or_number}/locations/{region}/instances/{instance_name}` * `projects/{project_id_or_number}/regions/{region}/instances/{instance_name}` Parent resource namespace.",
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "pattern": "^namespaces/[^/]+/instances/[^/]+$"
                },
                "propagationPolicy": {
                  "location": "query",
                  "type": "string",
                  "description": "Optional. Specifies the propagation policy of delete. Cloud Run currently ignores this setting, and deletes in the background. Please see kubernetes.io/docs/concepts/workloads/controllers/garbage-collection/ for more information."
                }
              },
              "flatPath": "apis/run.googleapis.com/v1/namespaces/{namespacesId}/instances/{instancesId}",
              "path": "apis/run.googleapis.com/v1/{+name}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/run"
              ]
            },
            "list": {
              "response": {
                "$ref": "ListInstancesResponse"
              },
              "id": "run.namespaces.instances.list",
              "path": "apis/run.googleapis.com/v1/{+parent}/instances",
              "httpMethod": "GET",
              "description": "List Instances. Results are sorted by creation time, descending.",
              "flatPath": "apis/run.googleapis.com/v1/namespaces/{namespacesId}/instances",
              "parameterOrder": [
                "parent"
              ],
              "parameters": {
                "continue": {
                  "location": "query",
                  "description": "Optional. Optional encoded string to continue paging.",
                  "type": "string"
                },
                "labelSelector": {
                  "type": "string",
                  "description": "Optional. Allows to filter resources based on a label. Supported operations are =, !=, exists, in, and notIn.",
                  "location": "query"
                },
                "watch": {
                  "location": "query",
                  "description": "Optional. Not supported by Cloud Run.",
                  "type": "boolean"
                },
                "includeUninitialized": {
                  "location": "query",
                  "description": "Optional. Not supported by Cloud Run.",
                  "type": "boolean"
                },
                "parent": {
                  "description": "Required. The parent from where the resources should be listed. In Cloud Run, it may be one of the following: * `{project_id_or_number}` * `namespaces/{project_id_or_number}` * `namespaces/{project_id_or_number}/instances` * `projects/{project_id_or_number}/locations/{region}` * `projects/{project_id_or_number}/regions/{region}` Parent resource namespace.",
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "pattern": "^namespaces/[^/]+$"
                },
                "limit": {
                  "description": "Optional. The maximum number of records that should be returned.",
                  "format": "int32",
                  "type": "integer",
                  "location": "query"
                },
                "resourceVersion": {
                  "location": "query",
                  "description": "Optional. Not supported by Cloud Run.",
                  "type": "string"
                },
                "fieldSelector": {
                  "type": "string",
                  "location": "query",
                  "description": "Optional. Not supported by Cloud Run."
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/run",
                "https://www.googleapis.com/auth/run.readonly"
              ]
            },
            "create": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/run"
              ],
              "id": "run.namespaces.instances.create",
              "response": {
                "$ref": "Instance"
              },
              "parameters": {
                "parent": {
                  "pattern": "^namespaces/[^/]+$",
                  "required": true,
                  "description": "Required. The resource's parent. In Cloud Run, it may be one of the following: * `{project_id_or_number}` * `namespaces/{project_id_or_number}` * `namespaces/{project_id_or_number}/instances` * `projects/{project_id_or_number}/locations/{region}` * `projects/{project_id_or_number}/regions/{region}` Parent resource namespace.",
                  "type": "string",
                  "location": "path"
                },
                "dryRun": {
                  "location": "query",
                  "type": "string",
                  "description": "Optional. Indicates that the server should validate the request and populate default values without persisting the request. Supported values: `all`"
                }
              },
              "description": "Create an Instance.",
              "path": "apis/run.googleapis.com/v1/{+parent}/instances",
              "parameterOrder": [
                "parent"
              ],
              "flatPath": "apis/run.googleapis.com/v1/namespaces/{namespacesId}/instances",
              "request": {
                "$ref": "Instance"
              },
              "httpMethod": "POST"
            }
          }
        },
        "workerpools": {
          "methods": {
            "delete": {
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "description": "Required. The fully qualified name of the worker pool to delete. It can be any of the following forms: * `namespaces/{project_id_or_number}/workerpools/{worker_pool_name}` (only when the `endpoint` is regional) * `projects/{project_id_or_number}/locations/{region}/workerpools/{worker_pool_name}` * `projects/{project_id_or_number}/regions/{region}/workerpools/{worker_pool_name}`",
                  "pattern": "^namespaces/[^/]+/workerpools/[^/]+$",
                  "required": true,
                  "type": "string",
                  "location": "path"
                },
                "dryRun": {
                  "location": "query",
                  "type": "string",
                  "description": "Indicates that the server should validate the request and populate default values without persisting the request. Supported values: `all`"
                }
              },
              "response": {
                "$ref": "Status"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/run"
              ],
              "path": "apis/run.googleapis.com/v1/{+name}",
              "id": "run.namespaces.workerpools.delete",
              "flatPath": "apis/run.googleapis.com/v1/namespaces/{namespacesId}/workerpools/{workerpoolsId}",
              "httpMethod": "DELETE",
              "description": "Deletes the provided worker pool. This will cause the WorkerPool to stop all instances and will delete all associated WorkerPoolRevisions."
            },
            "create": {
              "response": {
                "$ref": "WorkerPool"
              },
              "parameterOrder": [
                "parent"
              ],
              "path": "apis/run.googleapis.com/v1/{+parent}/workerpools",
              "parameters": {
                "dryRun": {
                  "location": "query",
                  "description": "Indicates that the server should validate the request and populate default values without persisting the request. Supported values: `all`",
                  "type": "string"
                },
                "parent": {
                  "required": true,
                  "location": "path",
                  "pattern": "^namespaces/[^/]+$",
                  "type": "string",
                  "description": "Required. The resource's parent. In Cloud Run, it may be one of the following: * `{project_id_or_number}` * `namespaces/{project_id_or_number}` * `namespaces/{project_id_or_number}/workerpools` * `projects/{project_id_or_number}/locations/{region}` * `projects/{project_id_or_number}/regions/{region}`"
                }
              },
              "request": {
                "$ref": "WorkerPool"
              },
              "flatPath": "apis/run.googleapis.com/v1/namespaces/{namespacesId}/workerpools",
              "description": "Creates a new WorkerPool. WorkerPool creation will trigger a new deployment. Use GetWorkerPool, and check worker_pool.status to determine if the WorkerPool is ready.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/run"
              ],
              "id": "run.namespaces.workerpools.create",
              "httpMethod": "POST"
            },
            "replaceWorkerPool": {
              "description": "Replaces a worker pool. Only the spec and metadata labels and annotations are modifiable. After the Update request, Cloud Run will work to make the 'status' match the requested 'spec'. May provide metadata.resourceVersion to enforce update from last read for optimistic concurrency control.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/run"
              ],
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "WorkerPool"
              },
              "httpMethod": "PUT",
              "request": {
                "$ref": "WorkerPool"
              },
              "flatPath": "apis/run.googleapis.com/v1/namespaces/{namespacesId}/workerpools/{workerpoolsId}",
              "parameters": {
                "name": {
                  "description": "Required. The fully qualified name of the worker pool to replace. It can be any of the following forms: * `namespaces/{project_id_or_number}/workerpools/{worker_pool_name}` (only when the `endpoint` is regional) * `projects/{project_id_or_number}/locations/{region}/workerpools/{worker_pool_name}` * `projects/{project_id_or_number}/regions/{region}/workerpools/{worker_pool_name}`",
                  "location": "path",
                  "pattern": "^namespaces/[^/]+/workerpools/[^/]+$",
                  "type": "string",
                  "required": true
                },
                "dryRun": {
                  "location": "query",
                  "description": "Indicates that the server should validate the request and populate default values without persisting the request. Supported values: `all`",
                  "type": "string"
                }
              },
              "path": "apis/run.googleapis.com/v1/{+name}",
              "id": "run.namespaces.workerpools.replaceWorkerPool"
            },
            "list": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/run",
                "https://www.googleapis.com/auth/run.readonly"
              ],
              "path": "apis/run.googleapis.com/v1/{+parent}/workerpools",
              "id": "run.namespaces.workerpools.list",
              "httpMethod": "GET",
              "description": "Lists worker pools for the given project and region. Results are sorted by creation time, descending.",
              "response": {
                "$ref": "ListWorkerPoolsResponse"
              },
              "parameters": {
                "parent": {
                  "required": true,
                  "pattern": "^namespaces/[^/]+$",
                  "type": "string",
                  "description": "Required. The parent from where the resources should be listed. In Cloud Run, it may be one of the following: * `{project_id_or_number}` * `namespaces/{project_id_or_number}` * `namespaces/{project_id_or_number}/workerpools` * `projects/{project_id_or_number}/locations/{region}` * `projects/{project_id_or_number}/regions/{region}`",
                  "location": "path"
                },
                "labelSelector": {
                  "type": "string",
                  "location": "query",
                  "description": "=, !=, exists, in, and notIn."
                },
                "continue": {
                  "type": "string",
                  "location": "query",
                  "description": "Encoded string to continue paging."
                },
                "limit": {
                  "type": "integer",
                  "format": "int32",
                  "location": "query",
                  "description": "The maximum number of records that should be returned."
                }
              },
              "flatPath": "apis/run.googleapis.com/v1/namespaces/{namespacesId}/workerpools",
              "parameterOrder": [
                "parent"
              ]
            },
            "get": {
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/run",
                "https://www.googleapis.com/auth/run.readonly"
              ],
              "response": {
                "$ref": "WorkerPool"
              },
              "parameterOrder": [
                "name"
              ],
              "id": "run.namespaces.workerpools.get",
              "description": "Gets information about a worker pool.",
              "parameters": {
                "name": {
                  "required": true,
                  "type": "string",
                  "description": "Required. The fully qualified name of the worker pool to retrieve. It can be any of the following forms: * `namespaces/{project_id_or_number}/workerpools/{worker_pool_name}` (only when the `endpoint` is regional) * `projects/{project_id_or_number}/locations/{region}/workerpools/{worker_pool_name}` * `projects/{project_id_or_number}/regions/{region}/workerpools/{worker_pool_name}`",
                  "pattern": "^namespaces/[^/]+/workerpools/[^/]+$",
                  "location": "path"
                }
              },
              "flatPath": "apis/run.googleapis.com/v1/namespaces/{namespacesId}/workerpools/{workerpoolsId}",
              "path": "apis/run.googleapis.com/v1/{+name}"
            }
          }
        },
        "tasks": {
          "methods": {
            "get": {
              "description": "Get information about a task.",
              "parameterOrder": [
                "name"
              ],
              "flatPath": "apis/run.googleapis.com/v1/namespaces/{namespacesId}/tasks/{tasksId}",
              "parameters": {
                "name": {
                  "description": "Required. The name of the task to retrieve. Replace {namespace} with the project ID or number. It takes the form namespaces/{namespace}. For example: namespaces/PROJECT_ID",
                  "required": true,
                  "type": "string",
                  "pattern": "^namespaces/[^/]+/tasks/[^/]+$",
                  "location": "path"
                }
              },
              "httpMethod": "GET",
              "path": "apis/run.googleapis.com/v1/{+name}",
              "response": {
                "$ref": "Task"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/run",
                "https://www.googleapis.com/auth/run.readonly"
              ],
              "id": "run.namespaces.tasks.get"
            },
            "list": {
              "path": "apis/run.googleapis.com/v1/{+parent}/tasks",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/run",
                "https://www.googleapis.com/auth/run.readonly"
              ],
              "flatPath": "apis/run.googleapis.com/v1/namespaces/{namespacesId}/tasks",
              "parameters": {
                "parent": {
                  "required": true,
                  "description": "Required. The namespace from which the tasks should be listed. Replace {namespace} with the project ID or number. It takes the form namespaces/{namespace}. For example: namespaces/PROJECT_ID",
                  "pattern": "^namespaces/[^/]+$",
                  "type": "string",
                  "location": "path"
                },
                "includeUninitialized": {
                  "location": "query",
                  "description": "Optional. Not supported by Cloud Run.",
                  "type": "boolean"
                },
                "labelSelector": {
                  "description": "Optional. Allows to filter resources based on a label. Supported operations are =, !=, exists, in, and notIn. For example, to list all tasks of execution \"foo\" in succeeded state: `run.googleapis.com/execution=foo,run.googleapis.com/runningState=Succeeded`. Supported states are: * `Pending`: Initial state of all tasks. The task has not yet started but eventually will. * `Running`: Container instances for this task are running or will be running shortly. * `Succeeded`: No more container instances to run for the task, and the last attempt succeeded. * `Failed`: No more container instances to run for the task, and the last attempt failed. This task has run out of retry attempts. * `Cancelled`: Task was running but got stopped because its parent execution has been aborted. * `Abandoned`: The task has not yet started and never will because its parent execution has been aborted.",
                  "location": "query",
                  "type": "string"
                },
                "resourceVersion": {
                  "description": "Optional. Not supported by Cloud Run.",
                  "type": "string",
                  "location": "query"
                },
                "watch": {
                  "location": "query",
                  "type": "boolean",
                  "description": "Optional. Not supported by Cloud Run."
                },
                "continue": {
                  "description": "Optional. Optional encoded string to continue paging.",
                  "type": "string",
                  "location": "query"
                },
                "fieldSelector": {
                  "location": "query",
                  "type": "string",
                  "description": "Optional. Not supported by Cloud Run."
                },
                "limit": {
                  "description": "Optional. The maximum number of records that should be returned.",
                  "location": "query",
                  "type": "integer",
                  "format": "int32"
                }
              },
              "id": "run.namespaces.tasks.list",
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "ListTasksResponse"
              },
              "description": "List tasks.",
              "httpMethod": "GET"
            }
          }
        },
        "jobs": {
          "methods": {
            "get": {
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "Job"
              },
              "parameters": {
                "name": {
                  "description": "Required. The name of the job to retrieve. It takes the form namespaces/{namespace}/jobs/{job_name} and the `endpoint` must be regional. Replace {namespace} with the project ID or number.",
                  "required": true,
                  "type": "string",
                  "pattern": "^namespaces/[^/]+/jobs/[^/]+$",
                  "location": "path"
                }
              },
              "id": "run.namespaces.jobs.get",
              "path": "apis/run.googleapis.com/v1/{+name}",
              "httpMethod": "GET",
              "flatPath": "apis/run.googleapis.com/v1/namespaces/{namespacesId}/jobs/{jobsId}",
              "description": "Get information about a job.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/run",
                "https://www.googleapis.com/auth/run.readonly"
              ]
            },
            "replaceJob": {
              "description": "Replace a job. Only the spec and metadata labels and annotations are modifiable. After the Replace request, Cloud Run will work to make the 'status' match the requested 'spec'. May provide metadata.resourceVersion to enforce update from last read for optimistic concurrency control.",
              "parameters": {
                "name": {
                  "description": "Required. The name of the job being replaced. Replace {namespace} with the project ID or number. It takes the form namespaces/{namespace}. For example: namespaces/PROJECT_ID",
                  "location": "path",
                  "required": true,
                  "pattern": "^namespaces/[^/]+/jobs/[^/]+$",
                  "type": "string"
                },
                "dryRun": {
                  "type": "string",
                  "description": "Optional. Indicates that the server should validate the request and populate default values without persisting the request. Supported values: `all`",
                  "location": "query"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "flatPath": "apis/run.googleapis.com/v1/namespaces/{namespacesId}/jobs/{jobsId}",
              "httpMethod": "PUT",
              "path": "apis/run.googleapis.com/v1/{+name}",
              "id": "run.namespaces.jobs.replaceJob",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/run"
              ],
              "response": {
                "$ref": "Job"
              },
              "request": {
                "$ref": "Job"
              }
            },
            "delete": {
              "flatPath": "apis/run.googleapis.com/v1/namespaces/{namespacesId}/jobs/{jobsId}",
              "httpMethod": "DELETE",
              "path": "apis/run.googleapis.com/v1/{+name}",
              "parameters": {
                "name": {
                  "description": "Required. The name of the job to delete. Replace {namespace} with the project ID or number. It takes the form namespaces/{namespace}. For example: namespaces/PROJECT_ID",
                  "pattern": "^namespaces/[^/]+/jobs/[^/]+$",
                  "location": "path",
                  "type": "string",
                  "required": true
                },
                "kind": {
                  "description": "Optional. Cloud Run currently ignores this parameter.",
                  "type": "string",
                  "location": "query"
                },
                "dryRun": {
                  "location": "query",
                  "description": "Optional. Indicates that the server should validate the request and populate default values without persisting the request. Supported values: `all`",
                  "type": "string"
                },
                "propagationPolicy": {
                  "location": "query",
                  "description": "Optional. Specifies the propagation policy of delete. Cloud Run currently ignores this setting, and deletes in the background. Please see kubernetes.io/docs/concepts/workloads/controllers/garbage-collection/ for more information.",
                  "type": "string"
                },
                "apiVersion": {
                  "location": "query",
                  "type": "string",
                  "description": "Optional. Cloud Run currently ignores this parameter."
                }
              },
              "description": "Delete a job.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/run"
              ],
              "response": {
                "$ref": "Status"
              },
              "parameterOrder": [
                "name"
              ],
              "id": "run.namespaces.jobs.delete"
            },
            "run": {
              "request": {
                "$ref": "RunJobRequest"
              },
              "parameters": {
                "name": {
                  "pattern": "^namespaces/[^/]+/jobs/[^/]+$",
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "description": "Required. The name of the job to run. Replace {namespace} with the project ID or number. It takes the form namespaces/{namespace}. For example: namespaces/PROJECT_ID"
                }
              },
              "response": {
                "$ref": "Execution"
              },
              "description": "Trigger creation of a new execution of this job.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/run"
              ],
              "httpMethod": "POST",
              "id": "run.namespaces.jobs.run",
              "parameterOrder": [
                "name"
              ],
              "flatPath": "apis/run.googleapis.com/v1/namespaces/{namespacesId}/jobs/{jobsId}:run",
              "path": "apis/run.googleapis.com/v1/{+name}:run"
            },
            "create": {
              "httpMethod": "POST",
              "path": "apis/run.googleapis.com/v1/{+parent}/jobs",
              "flatPath": "apis/run.googleapis.com/v1/namespaces/{namespacesId}/jobs",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/run"
              ],
              "request": {
                "$ref": "Job"
              },
              "parameterOrder": [
                "parent"
              ],
              "parameters": {
                "parent": {
                  "required": true,
                  "pattern": "^namespaces/[^/]+$",
                  "location": "path",
                  "description": "Required. The namespace in which the job should be created. Replace {namespace} with the project ID or number. It takes the form namespaces/{namespace}. For example: namespaces/PROJECT_ID",
                  "type": "string"
                },
                "dryRun": {
                  "type": "string",
                  "location": "query",
                  "description": "Optional. Indicates that the server should validate the request and populate default values without persisting the request. Supported values: `all`"
                }
              },
              "id": "run.namespaces.jobs.create",
              "description": "Create a job.",
              "response": {
                "$ref": "Job"
              }
            },
            "list": {
              "path": "apis/run.googleapis.com/v1/{+parent}/jobs",
              "parameters": {
                "resourceVersion": {
                  "type": "string",
                  "location": "query",
                  "description": "Optional. Not supported by Cloud Run."
                },
                "limit": {
                  "type": "integer",
                  "description": "Optional. The maximum number of records that should be returned.",
                  "location": "query",
                  "format": "int32"
                },
                "parent": {
                  "description": "Required. The namespace from which the jobs should be listed. Replace {namespace} with the project ID or number. It takes the form namespaces/{namespace}. For example: namespaces/PROJECT_ID",
                  "pattern": "^namespaces/[^/]+$",
                  "location": "path",
                  "type": "string",
                  "required": true
                },
                "fieldSelector": {
                  "location": "query",
                  "description": "Optional. Not supported by Cloud Run.",
                  "type": "string"
                },
                "includeUninitialized": {
                  "description": "Optional. Not supported by Cloud Run.",
                  "type": "boolean",
                  "location": "query"
                },
                "labelSelector": {
                  "description": "Optional. Allows to filter resources based on a label. Supported operations are =, !=, exists, in, and notIn.",
                  "location": "query",
                  "type": "string"
                },
                "continue": {
                  "description": "Optional. Optional encoded string to continue paging.",
                  "location": "query",
                  "type": "string"
                },
                "watch": {
                  "type": "boolean",
                  "location": "query",
                  "description": "Optional. Not supported by Cloud Run."
                }
              },
              "id": "run.namespaces.jobs.list",
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "ListJobsResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/run",
                "https://www.googleapis.com/auth/run.readonly"
              ],
              "description": "List jobs. Results are sorted by creation time, descending.",
              "httpMethod": "GET",
              "flatPath": "apis/run.googleapis.com/v1/namespaces/{namespacesId}/jobs"
            }
          }
        }
      }
    },
    "projects": {
      "resources": {
        "locations": {
          "resources": {
            "revisions": {
              "methods": {
                "get": {
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/revisions/[^/]+$",
                      "location": "path",
                      "description": "The name of the revision to retrieve. For Cloud Run (fully managed), replace {namespace} with the project ID or number. It takes the form namespaces/{namespace}. For example: namespaces/PROJECT_ID",
                      "type": "string",
                      "required": true
                    }
                  },
                  "id": "run.projects.locations.revisions.get",
                  "description": "Get information about a revision.",
                  "response": {
                    "$ref": "Revision"
                  },
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/run",
                    "https://www.googleapis.com/auth/run.readonly"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1/{+name}",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/revisions/{revisionsId}"
                },
                "delete": {
                  "description": "Delete a revision.",
                  "httpMethod": "DELETE",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/revisions/{revisionsId}",
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "run.projects.locations.revisions.delete",
                  "path": "v1/{+name}",
                  "parameters": {
                    "kind": {
                      "location": "query",
                      "type": "string",
                      "description": "Cloud Run currently ignores this parameter."
                    },
                    "apiVersion": {
                      "type": "string",
                      "description": "Cloud Run currently ignores this parameter.",
                      "location": "query"
                    },
                    "dryRun": {
                      "location": "query",
                      "description": "Indicates that the server should validate the request and populate default values without persisting the request. Supported values: `all`",
                      "type": "string"
                    },
                    "name": {
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/revisions/[^/]+$",
                      "description": "The name of the revision to delete. For Cloud Run (fully managed), replace {namespace} with the project ID or number. It takes the form namespaces/{namespace}. For example: namespaces/PROJECT_ID"
                    },
                    "propagationPolicy": {
                      "description": "Specifies the propagation policy of delete. Cloud Run currently ignores this setting, and deletes in the background.",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/run"
                  ],
                  "response": {
                    "$ref": "Status"
                  }
                },
                "list": {
                  "path": "v1/{+parent}/revisions",
                  "parameters": {
                    "watch": {
                      "description": "Flag that indicates that the client expects to watch this resource as well. Not currently used by Cloud Run.",
                      "type": "boolean",
                      "location": "query"
                    },
                    "fieldSelector": {
                      "location": "query",
                      "type": "string",
                      "description": "Allows to filter resources based on a specific value for a field name. Send this in a query string format. i.e. 'metadata.name%3Dlorem'. Not currently used by Cloud Run."
                    },
                    "includeUninitialized": {
                      "location": "query",
                      "type": "boolean",
                      "description": "Not currently used by Cloud Run."
                    },
                    "limit": {
                      "description": "Optional. The maximum number of records that should be returned.",
                      "format": "int32",
                      "location": "query",
                      "type": "integer"
                    },
                    "parent": {
                      "required": true,
                      "type": "string",
                      "description": "The namespace from which the revisions should be listed. For Cloud Run (fully managed), replace {namespace} with the project ID or number. It takes the form namespaces/{namespace}. For example: namespaces/PROJECT_ID",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+$"
                    },
                    "labelSelector": {
                      "location": "query",
                      "description": "Allows to filter resources based on a label. Supported operations are =, !=, exists, in, and notIn.",
                      "type": "string"
                    },
                    "resourceVersion": {
                      "location": "query",
                      "description": "The baseline resource version from which the list or watch operation should start. Not currently used by Cloud Run.",
                      "type": "string"
                    },
                    "continue": {
                      "description": "Optional. Encoded string to continue paging.",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/run",
                    "https://www.googleapis.com/auth/run.readonly"
                  ],
                  "response": {
                    "$ref": "ListRevisionsResponse"
                  },
                  "description": "List revisions. Results are sorted by creation time, descending.",
                  "id": "run.projects.locations.revisions.list",
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "parent"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/revisions"
                }
              }
            },
            "services": {
              "methods": {
                "list": {
                  "parameterOrder": [
                    "parent"
                  ],
                  "path": "v1/{+parent}/services",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/services",
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/run",
                    "https://www.googleapis.com/auth/run.readonly"
                  ],
                  "response": {
                    "$ref": "ListServicesResponse"
                  },
                  "description": "Lists services for the given project and region. Results are sorted by creation time, descending.",
                  "id": "run.projects.locations.services.list",
                  "parameters": {
                    "parent": {
                      "description": "Required. The parent from where the resources should be listed. In Cloud Run, it may be one of the following: * `{project_id_or_number}` * `namespaces/{project_id_or_number}` * `namespaces/{project_id_or_number}/services` * `projects/{project_id_or_number}/locations/{region}` * `projects/{project_id_or_number}/regions/{region}`",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true,
                      "type": "string",
                      "location": "path"
                    },
                    "fieldSelector": {
                      "description": "Not supported, and ignored by Cloud Run.",
                      "location": "query",
                      "type": "string"
                    },
                    "limit": {
                      "format": "int32",
                      "description": "The maximum number of records that should be returned.",
                      "type": "integer",
                      "location": "query"
                    },
                    "includeUninitialized": {
                      "description": "Not supported, and ignored by Cloud Run.",
                      "type": "boolean",
                      "location": "query"
                    },
                    "resourceVersion": {
                      "type": "string",
                      "location": "query",
                      "description": "Not supported, and ignored by Cloud Run."
                    },
                    "watch": {
                      "type": "boolean",
                      "location": "query",
                      "description": "Not supported, and ignored by Cloud Run."
                    },
                    "continue": {
                      "location": "query",
                      "description": "Encoded string to continue paging.",
                      "type": "string"
                    },
                    "labelSelector": {
                      "description": "Allows to filter resources based on a label. Supported operations are =, !=, exists, in, and notIn.",
                      "location": "query",
                      "type": "string"
                    }
                  }
                },
                "create": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/run"
                  ],
                  "description": "Creates a new Service. Service creation will trigger a new deployment. Use GetService, and check service.status to determine if the Service is ready.",
                  "parameters": {
                    "dryRun": {
                      "description": "Indicates that the server should validate the request and populate default values without persisting the request. Supported values: `all`",
                      "location": "query",
                      "type": "string"
                    },
                    "parent": {
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "type": "string",
                      "location": "path",
                      "description": "Required. The resource's parent. In Cloud Run, it may be one of the following: * `{project_id_or_number}` * `namespaces/{project_id_or_number}` * `namespaces/{project_id_or_number}/services` * `projects/{project_id_or_number}/locations/{region}` * `projects/{project_id_or_number}/regions/{region}`",
                      "required": true
                    }
                  },
                  "id": "run.projects.locations.services.create",
                  "response": {
                    "$ref": "Service"
                  },
                  "request": {
                    "$ref": "Service"
                  },
                  "path": "v1/{+parent}/services",
                  "parameterOrder": [
                    "parent"
                  ],
                  "httpMethod": "POST",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/services"
                },
                "delete": {
                  "httpMethod": "DELETE",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/run"
                  ],
                  "response": {
                    "$ref": "Status"
                  },
                  "id": "run.projects.locations.services.delete",
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Deletes the provided service. This will cause the Service to stop serving traffic and will delete all associated Revisions.",
                  "parameters": {
                    "kind": {
                      "location": "query",
                      "description": "Not supported, and ignored by Cloud Run.",
                      "type": "string"
                    },
                    "dryRun": {
                      "description": "Indicates that the server should validate the request and populate default values without persisting the request. Supported values: `all`",
                      "type": "string",
                      "location": "query"
                    },
                    "apiVersion": {
                      "description": "Not supported, and ignored by Cloud Run.",
                      "type": "string",
                      "location": "query"
                    },
                    "propagationPolicy": {
                      "type": "string",
                      "location": "query",
                      "description": "Not supported, and ignored by Cloud Run."
                    },
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/services/[^/]+$",
                      "type": "string",
                      "required": true,
                      "description": "Required. The fully qualified name of the service to delete. It can be any of the following forms: * `namespaces/{project_id_or_number}/services/{service_name}` (only when the `endpoint` is regional) * `projects/{project_id_or_number}/locations/{region}/services/{service_name}` * `projects/{project_id_or_number}/regions/{region}/services/{service_name}`",
                      "location": "path"
                    }
                  },
                  "path": "v1/{+name}",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/services/{servicesId}"
                },
                "setIamPolicy": {
                  "parameterOrder": [
                    "resource"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/services/{servicesId}:setIamPolicy",
                  "httpMethod": "POST",
                  "id": "run.projects.locations.services.setIamPolicy",
                  "path": "v1/{+resource}:setIamPolicy",
                  "description": "Sets the IAM Access control policy for the specified Service. Overwrites any existing policy.",
                  "response": {
                    "$ref": "Policy"
                  },
                  "request": {
                    "$ref": "SetIamPolicyRequest"
                  },
                  "parameters": {
                    "resource": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/services/[^/]+$",
                      "location": "path",
                      "type": "string",
                      "required": true,
                      "description": "REQUIRED: The resource for which the policy is being specified. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field."
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/run"
                  ]
                },
                "get": {
                  "parameters": {
                    "name": {
                      "required": true,
                      "description": "Required. The fully qualified name of the service to retrieve. It can be any of the following forms: * `namespaces/{project_id_or_number}/services/{service_name}` (only when the `endpoint` is regional) * `projects/{project_id_or_number}/locations/{region}/services/{service_name}` * `projects/{project_id_or_number}/regions/{region}/services/{service_name}`",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/services/[^/]+$",
                      "location": "path"
                    }
                  },
                  "response": {
                    "$ref": "Service"
                  },
                  "id": "run.projects.locations.services.get",
                  "description": "Gets information about a service.",
                  "path": "v1/{+name}",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/services/{servicesId}",
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/run",
                    "https://www.googleapis.com/auth/run.readonly"
                  ]
                },
                "testIamPermissions": {
                  "id": "run.projects.locations.services.testIamPermissions",
                  "parameters": {
                    "resource": {
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/services/[^/]+$",
                      "type": "string",
                      "description": "REQUIRED: The resource for which the policy detail is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
                      "required": true
                    }
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/services/{servicesId}:testIamPermissions",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/run",
                    "https://www.googleapis.com/auth/run.readonly"
                  ],
                  "path": "v1/{+resource}:testIamPermissions",
                  "httpMethod": "POST",
                  "description": "Returns permissions that a caller has on the specified Project. There are no permissions required for making this API call.",
                  "response": {
                    "$ref": "TestIamPermissionsResponse"
                  },
                  "request": {
                    "$ref": "TestIamPermissionsRequest"
                  },
                  "parameterOrder": [
                    "resource"
                  ]
                },
                "getIamPolicy": {
                  "httpMethod": "GET",
                  "path": "v1/{+resource}:getIamPolicy",
[...]
