{
  "kind": "discovery#restDescription",
  "discoveryVersion": "v1",
  "servicePath": "",
  "name": "run",
  "version_module": true,
  "ownerDomain": "google.com",
  "mtlsRootUrl": "https://run.mtls.googleapis.com/",
  "fullyEncodeReservedExpansion": true,
  "description": "Deploy and manage user provided container images that scale automatically based on incoming requests. The Cloud Run Admin API v1 follows the Knative Serving API specification, while v2 is aligned with Google Cloud AIP-based API standards, as described in https://google.aip.dev/.",
  "canonicalName": "Cloud Run",
  "version": "v1",
  "endpoints": [
    {
      "location": "africa-south1",
      "endpointUrl": "https://africa-south1-run.googleapis.com/",
      "description": "Locational Endpoint"
    },
    {
      "location": "asia-east1",
      "endpointUrl": "https://asia-east1-run.googleapis.com/",
      "description": "Locational Endpoint"
    },
    {
      "endpointUrl": "https://asia-east2-run.googleapis.com/",
      "location": "asia-east2",
      "description": "Locational Endpoint"
    },
    {
      "description": "Locational Endpoint",
      "location": "asia-northeast1",
      "endpointUrl": "https://asia-northeast1-run.googleapis.com/"
    },
    {
      "description": "Locational Endpoint",
      "location": "asia-northeast2",
      "endpointUrl": "https://asia-northeast2-run.googleapis.com/"
    },
    {
      "endpointUrl": "https://asia-northeast3-run.googleapis.com/",
      "location": "asia-northeast3",
      "description": "Locational Endpoint"
    },
    {
      "endpointUrl": "https://asia-south1-run.googleapis.com/",
      "location": "asia-south1",
      "description": "Locational Endpoint"
    },
    {
      "endpointUrl": "https://asia-south2-run.googleapis.com/",
      "description": "Locational Endpoint",
      "location": "asia-south2"
    },
    {
      "description": "Locational Endpoint",
      "location": "asia-southeast1",
      "endpointUrl": "https://asia-southeast1-run.googleapis.com/"
    },
    {
      "description": "Locational Endpoint",
      "location": "asia-southeast2",
      "endpointUrl": "https://asia-southeast2-run.googleapis.com/"
    },
    {
      "endpointUrl": "https://asia-southeast3-run.googleapis.com/",
      "location": "asia-southeast3",
      "description": "Locational Endpoint"
    },
    {
      "endpointUrl": "https://asia-southeast4-run.googleapis.com/",
      "location": "asia-southeast4",
      "description": "Locational Endpoint"
    },
    {
      "location": "australia-southeast1",
      "endpointUrl": "https://australia-southeast1-run.googleapis.com/",
      "description": "Locational Endpoint"
    },
    {
      "endpointUrl": "https://australia-southeast2-run.googleapis.com/",
      "location": "australia-southeast2",
      "description": "Locational Endpoint"
    },
    {
      "endpointUrl": "https://europe-central2-run.googleapis.com/",
      "description": "Locational Endpoint",
      "location": "europe-central2"
    },
    {
      "description": "Locational Endpoint",
      "location": "europe-north1",
      "endpointUrl": "https://europe-north1-run.googleapis.com/"
    },
    {
      "description": "Locational Endpoint",
      "location": "europe-north2",
      "endpointUrl": "https://europe-north2-run.googleapis.com/"
    },
    {
      "description": "Locational Endpoint",
      "location": "europe-southwest1",
      "endpointUrl": "https://europe-southwest1-run.googleapis.com/"
    },
    {
      "description": "Locational Endpoint",
      "endpointUrl": "https://europe-west1-run.googleapis.com/",
      "location": "europe-west1"
    },
    {
      "endpointUrl": "https://europe-west10-run.googleapis.com/",
      "description": "Locational Endpoint",
      "location": "europe-west10"
    },
    {
      "endpointUrl": "https://europe-west12-run.googleapis.com/",
      "description": "Locational Endpoint",
      "location": "europe-west12"
    },
    {
      "description": "Locational Endpoint",
      "location": "europe-west15",
      "endpointUrl": "https://europe-west15-run.googleapis.com/"
    },
    {
      "endpointUrl": "https://europe-west2-run.googleapis.com/",
      "location": "europe-west2",
      "description": "Locational Endpoint"
    },
    {
      "location": "europe-west3",
      "description": "Locational Endpoint",
      "endpointUrl": "https://europe-west3-run.googleapis.com/"
    },
    {
      "description": "Locational Endpoint",
      "location": "europe-west4",
      "endpointUrl": "https://europe-west4-run.googleapis.com/"
    },
    {
      "location": "europe-west6",
      "description": "Locational Endpoint",
      "endpointUrl": "https://europe-west6-run.googleapis.com/"
    },
    {
      "location": "europe-west8",
      "description": "Locational Endpoint",
      "endpointUrl": "https://europe-west8-run.googleapis.com/"
    },
    {
      "location": "europe-west9",
      "description": "Locational Endpoint",
      "endpointUrl": "https://europe-west9-run.googleapis.com/"
    },
    {
      "location": "me-central1",
      "description": "Locational Endpoint",
      "endpointUrl": "https://me-central1-run.googleapis.com/"
    },
    {
      "location": "me-central2",
      "description": "Locational Endpoint",
      "endpointUrl": "https://me-central2-run.googleapis.com/"
    },
    {
      "endpointUrl": "https://me-west1-run.googleapis.com/",
      "location": "me-west1",
      "description": "Locational Endpoint"
    },
    {
      "endpointUrl": "https://northamerica-northeast1-run.googleapis.com/",
      "location": "northamerica-northeast1",
      "description": "Locational Endpoint"
    },
    {
      "description": "Locational Endpoint",
      "endpointUrl": "https://northamerica-northeast2-run.googleapis.com/",
      "location": "northamerica-northeast2"
    },
    {
      "description": "Locational Endpoint",
      "endpointUrl": "https://northamerica-south1-run.googleapis.com/",
      "location": "northamerica-south1"
    },
    {
      "description": "Locational Endpoint",
      "endpointUrl": "https://southamerica-east1-run.googleapis.com/",
      "location": "southamerica-east1"
    },
    {
      "endpointUrl": "https://southamerica-west1-run.googleapis.com/",
      "location": "southamerica-west1",
      "description": "Locational Endpoint"
    },
    {
      "endpointUrl": "https://us-central1-run.googleapis.com/",
      "location": "us-central1",
      "description": "Locational Endpoint"
    },
    {
      "endpointUrl": "https://us-central2-run.googleapis.com/",
      "location": "us-central2",
      "description": "Locational Endpoint"
    },
    {
      "location": "us-east1",
      "endpointUrl": "https://us-east1-run.googleapis.com/",
      "description": "Locational Endpoint"
    },
    {
      "description": "Locational Endpoint",
      "endpointUrl": "https://us-east4-run.googleapis.com/",
      "location": "us-east4"
    },
    {
      "description": "Locational Endpoint",
      "location": "us-east5",
      "endpointUrl": "https://us-east5-run.googleapis.com/"
    },
    {
      "description": "Locational Endpoint",
      "location": "us-east7",
      "endpointUrl": "https://us-east7-run.googleapis.com/"
    },
    {
      "description": "Locational Endpoint",
      "endpointUrl": "https://us-south1-run.googleapis.com/",
      "location": "us-south1"
    },
    {
      "location": "us-west1",
      "endpointUrl": "https://us-west1-run.googleapis.com/",
      "description": "Locational Endpoint"
    },
    {
      "location": "us-west2",
      "endpointUrl": "https://us-west2-run.googleapis.com/",
      "description": "Locational Endpoint"
    },
    {
      "endpointUrl": "https://us-west3-run.googleapis.com/",
      "location": "us-west3",
      "description": "Locational Endpoint"
    },
    {
      "description": "Locational Endpoint",
      "location": "us-west4",
      "endpointUrl": "https://us-west4-run.googleapis.com/"
    },
    {
      "endpointUrl": "https://us-west8-run.googleapis.com/",
      "location": "us-west8",
      "description": "Locational Endpoint"
    },
    {
      "endpointUrl": "https://run.africa-south1.rep.googleapis.com/",
      "location": "africa-south1",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://run.asia-east1.rep.googleapis.com/",
      "location": "asia-east1"
    },
    {
      "description": "Regional Endpoint",
      "location": "asia-east2",
      "endpointUrl": "https://run.asia-east2.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://run.asia-northeast1.rep.googleapis.com/",
      "location": "asia-northeast1",
      "description": "Regional Endpoint"
    },
    {
      "location": "asia-northeast2",
      "endpointUrl": "https://run.asia-northeast2.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "asia-northeast3",
      "description": "Regional Endpoint",
      "endpointUrl": "https://run.asia-northeast3.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://run.asia-south1.rep.googleapis.com/",
      "location": "asia-south1"
    },
    {
      "endpointUrl": "https://run.asia-south2.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "asia-south2"
    },
    {
      "endpointUrl": "https://run.asia-southeast1.rep.googleapis.com/",
      "location": "asia-southeast1",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://run.asia-southeast2.rep.googleapis.com/",
      "location": "asia-southeast2"
    },
    {
      "description": "Regional Endpoint",
      "location": "asia-southeast3",
      "endpointUrl": "https://run.asia-southeast3.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://run.asia-southeast4.rep.googleapis.com/",
      "location": "asia-southeast4"
    },
    {
      "location": "australia-southeast1",
      "description": "Regional Endpoint",
      "endpointUrl": "https://run.australia-southeast1.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "location": "australia-southeast2",
      "endpointUrl": "https://run.australia-southeast2.rep.googleapis.com/"
    },
    {
      "location": "europe-central2",
      "endpointUrl": "https://run.europe-central2.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://run.europe-north1.rep.googleapis.com/",
      "location": "europe-north1",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://run.europe-north2.rep.googleapis.com/",
      "location": "europe-north2",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://run.europe-southwest1.rep.googleapis.com/",
      "location": "europe-southwest1",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "location": "europe-west1",
      "endpointUrl": "https://run.europe-west1.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "location": "europe-west10",
      "endpointUrl": "https://run.europe-west10.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://run.europe-west12.rep.googleapis.com/",
      "location": "europe-west12",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://run.europe-west15.rep.googleapis.com/",
      "location": "europe-west15",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://run.europe-west2.rep.googleapis.com/",
      "location": "europe-west2"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://run.europe-west3.rep.googleapis.com/",
      "location": "europe-west3"
    },
    {
      "endpointUrl": "https://run.europe-west4.rep.googleapis.com/",
      "location": "europe-west4",
      "description": "Regional Endpoint"
    },
    {
      "location": "europe-west6",
      "endpointUrl": "https://run.europe-west6.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://run.europe-west8.rep.googleapis.com/",
      "location": "europe-west8",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://run.europe-west9.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "europe-west9"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://run.me-central1.rep.googleapis.com/",
      "location": "me-central1"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://run.me-central2.rep.googleapis.com/",
      "location": "me-central2"
    },
    {
      "description": "Regional Endpoint",
      "location": "me-west1",
      "endpointUrl": "https://run.me-west1.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://run.northamerica-northeast1.rep.googleapis.com/",
      "location": "northamerica-northeast1"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://run.northamerica-northeast2.rep.googleapis.com/",
      "location": "northamerica-northeast2"
    },
    {
      "description": "Regional Endpoint",
      "location": "northamerica-south1",
      "endpointUrl": "https://run.northamerica-south1.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "location": "southamerica-east1",
      "endpointUrl": "https://run.southamerica-east1.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://run.southamerica-west1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "southamerica-west1"
    },
    {
      "endpointUrl": "https://run.us-central1.rep.googleapis.com/",
      "location": "us-central1",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://run.us-central2.rep.googleapis.com/",
      "location": "us-central2",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://run.us-east1.rep.googleapis.com/",
      "location": "us-east1",
      "description": "Regional Endpoint"
    },
    {
      "location": "us-east4",
      "endpointUrl": "https://run.us-east4.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "location": "us-east5",
      "endpointUrl": "https://run.us-east5.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://run.us-east7.rep.googleapis.com/",
      "location": "us-east7",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://run.us-south1.rep.googleapis.com/",
      "location": "us-south1",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://run.us-west1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "us-west1"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://run.us-west2.rep.googleapis.com/",
      "location": "us-west2"
    },
    {
      "location": "us-west3",
      "description": "Regional Endpoint",
      "endpointUrl": "https://run.us-west3.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://run.us-west4.rep.googleapis.com/",
      "location": "us-west4"
    },
    {
      "location": "us-west8",
      "description": "Regional Endpoint",
      "endpointUrl": "https://run.us-west8.rep.googleapis.com/"
    }
  ],
  "ownerName": "Google",
  "rootUrl": "https://run.googleapis.com/",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/run.readonly": {
          "description": "See your Google Cloud Run data and the email address of your Google Account"
        },
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        },
        "https://www.googleapis.com/auth/run": {
          "description": "See, edit, configure, and delete your Google Cloud Run data and see the email address for your Google Account"
        }
      }
    }
  },
  "schemas": {
    "ContainerPort": {
      "type": "object",
      "id": "ContainerPort",
      "properties": {
        "containerPort": {
          "type": "integer",
          "format": "int32",
          "description": "Port number the container listens on. If present, this must be a valid port number, 0 < x < 65536. If not present, it will default to port 8080. For more information, see https://cloud.google.com/run/docs/container-contract#port"
        },
        "protocol": {
          "type": "string",
          "description": "Protocol for port. Must be \"TCP\". Defaults to \"TCP\"."
        },
        "name": {
          "description": "If specified, used to specify which protocol to use. Allowed values are \"http1\" and \"h2c\".",
          "type": "string"
        }
      },
      "description": "ContainerPort represents a network port in a single container."
    },
    "RouteSpec": {
      "type": "object",
      "properties": {
        "traffic": {
          "items": {
            "$ref": "TrafficTarget"
          },
          "type": "array",
          "description": "Traffic specifies how to distribute traffic over a collection of Knative Revisions and Configurations. Cloud Run currently supports a single configurationName."
        }
      },
      "id": "RouteSpec",
      "description": "RouteSpec holds the desired state of the Route (from the client)."
    },
    "Probe": {
      "id": "Probe",
      "properties": {
        "tcpSocket": {
          "$ref": "TCPSocketAction",
          "description": "TCPSocket specifies an action involving a TCP port."
        },
        "grpc": {
          "description": "GRPCAction specifies an action involving a GRPC port.",
          "$ref": "GRPCAction"
        },
        "failureThreshold": {
          "description": "Minimum consecutive failures for the probe to be considered failed after having succeeded. Defaults to 3. Minimum value is 1.",
          "type": "integer",
          "format": "int32"
        },
        "initialDelaySeconds": {
          "description": "Number of seconds after the container has started before the probe is initiated. Defaults to 0 seconds. Minimum value is 0. Maximum value for liveness probe is 3600. Maximum value for startup probe is 240.",
          "type": "integer",
          "format": "int32"
        },
        "exec": {
          "description": "Not supported by Cloud Run.",
          "$ref": "ExecAction"
        },
        "successThreshold": {
          "type": "integer",
          "format": "int32",
          "description": "Minimum consecutive successes for the probe to be considered successful after having failed. Must be 1 if set."
        },
        "httpGet": {
          "$ref": "HTTPGetAction",
          "description": "HTTPGet specifies the http request to perform."
        },
        "periodSeconds": {
          "format": "int32",
          "type": "integer",
          "description": "How often (in seconds) to perform the probe. Default to 10 seconds. Minimum value is 1. Maximum value for liveness probe is 3600. Maximum value for startup probe is 240. Must be greater or equal than timeout_seconds."
        },
        "timeoutSeconds": {
          "description": "Number of seconds after which the probe times out. Defaults to 1 second. Minimum value is 1. Maximum value is 3600. Must be smaller than period_seconds; if period_seconds is not set, must be less or equal than 10.",
          "type": "integer",
          "format": "int32"
        }
      },
      "type": "object",
      "description": "Probe describes a health check to be performed against a container to determine whether it is alive or ready to receive traffic."
    },
    "ListExecutionsResponse": {
      "id": "ListExecutionsResponse",
      "type": "object",
      "properties": {
        "kind": {
          "type": "string",
          "description": "The kind of this resource, in this case \"ExecutionsList\"."
        },
        "apiVersion": {
          "description": "The API version for this call such as \"run.googleapis.com/v1\".",
          "type": "string"
        },
        "metadata": {
          "$ref": "ListMeta",
          "description": "Metadata associated with this executions list."
        },
        "items": {
          "type": "array",
          "description": "List of Executions.",
          "items": {
            "$ref": "Execution"
          }
        },
        "unreachable": {
          "description": "Locations that could not be reached.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "description": "ListExecutionsResponse is a list of Executions resources."
    },
    "GoogleDevtoolsCloudbuildV1Secret": {
      "id": "GoogleDevtoolsCloudbuildV1Secret",
      "properties": {
        "kmsKeyName": {
          "description": "Cloud KMS key name to use to decrypt these envs.",
          "type": "string"
        },
        "secretEnv": {
          "description": "Map of environment variable name to its encrypted value. Secret environment variables must be unique across all of a build's secrets, and must be used by at least one build step. Values can be at most 64 KB in size. There can be at most 100 secret values across all of a build's secrets.",
          "additionalProperties": {
            "type": "string",
            "format": "byte"
          },
          "type": "object"
        }
      },
      "type": "object",
      "description": "Pairs a set of secret environment variables containing encrypted values with the Cloud KMS key to use to decrypt the value. Note: Use `kmsKeyName` with `available_secrets` instead of using `kmsKeyName` with `secret`. For instructions see: https://cloud.google.com/cloud-build/docs/securing-builds/use-encrypted-credentials."
    },
    "EnvVarSource": {
      "description": "EnvVarSource represents a source for the value of an EnvVar.",
      "id": "EnvVarSource",
      "type": "object",
      "properties": {
        "secretKeyRef": {
          "$ref": "SecretKeySelector",
          "description": "Selects a key (version) of a secret in Secret Manager."
        },
        "configMapKeyRef": {
          "description": "Not supported by Cloud Run. Not supported in Cloud Run.",
          "$ref": "ConfigMapKeySelector"
        }
      }
    },
    "Instance": {
      "id": "Instance",
      "type": "object",
      "description": "An Instance represents the configuration of a single instance that references a container image and runs to completion.",
      "properties": {
        "spec": {
          "$ref": "InstanceSpec",
          "description": "Optional. Specification of the desired behavior of an Instance."
        },
        "status": {
          "description": "Output only. Current status of an Instance.",
          "readOnly": true,
          "$ref": "InstanceStatus"
        },
        "kind": {
          "type": "string",
          "description": "Optional. Kind is a string value representing the REST resource this object represents. Servers may infer this from the endpoint the client submits requests to. Cannot be updated. In CamelCase."
        },
        "apiVersion": {
          "description": "Optional. APIVersion defines the versioned schema of this representation of an object. Servers should convert recognized schemas to the latest internal value, and may reject unrecognized values.",
          "type": "string"
        },
        "metadata": {
          "description": "Optional. Standard object's metadata.",
          "$ref": "ObjectMeta"
        }
      }
    },
    "GoogleDevtoolsCloudbuildV1GitConfig": {
      "properties": {
        "http": {
          "description": "Configuration for HTTP related git operations.",
          "$ref": "GoogleDevtoolsCloudbuildV1HttpConfig"
        }
      },
      "id": "GoogleDevtoolsCloudbuildV1GitConfig",
      "description": "GitConfig is a configuration for git operations.",
      "type": "object"
    },
    "WorkerPoolStatus": {
      "id": "WorkerPoolStatus",
      "properties": {
        "latestReadyRevisionName": {
          "description": "Name of the latest Revision from this WorkerPool's template that has had its `Ready` condition become `True`.",
          "type": "string"
        },
        "instanceSplits": {
          "items": {
            "$ref": "InstanceSplit"
          },
          "description": "Holds the configured workload distribution. These entries will always contain RevisionName references. When ConfigurationName appears in the spec, this will hold the LatestReadyRevisionName that we last observed.",
          "type": "array"
        },
        "latestCreatedRevisionName": {
          "description": "Name of the last revision that was created from this WorkerPool's template. It might not be ready yet, for that use LatestReadyRevisionName.",
          "type": "string"
        },
        "conditions": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudRunV1Condition"
          },
          "description": "Conditions communicate information about ongoing/complete reconciliation processes that bring the `spec` inline with the observed state of the world. * `Ready`: `True` when all underlying resources are ready."
        },
        "observedGeneration": {
          "description": "Returns the generation last seen by the system. Clients polling for completed reconciliation should poll until observedGeneration = metadata.generation and the Ready condition's status is True or False.",
          "format": "int32",
          "type": "integer"
        }
      },
      "description": "The current state of the WorkerPool. Output only.",
      "type": "object"
    },
    "ContainerOverride": {
      "id": "ContainerOverride",
      "properties": {
        "name": {
          "type": "string",
          "description": "The name of the container specified as a DNS_LABEL."
        },
        "clearArgs": {
          "type": "boolean",
          "description": "Optional. Set to True to clear all existing arguments."
        },
        "env": {
          "description": "List of environment variables to set in the container. All specified environment variables are merged with existing environment variables. When the specified environment variables exist, these values override any existing values.",
          "items": {
            "$ref": "EnvVar"
          },
          "type": "array"
        },
        "args": {
          "description": "Arguments to the entrypoint. The specified arguments replace and override any existing entrypoint arguments. Must be empty if `clear_args` is set to true.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "description": "Per container override specification.",
      "type": "object"
    },
    "GoogleDevtoolsCloudbuildV1ApprovalConfig": {
      "type": "object",
      "description": "ApprovalConfig describes configuration for manual approval of a build.",
      "id": "GoogleDevtoolsCloudbuildV1ApprovalConfig",
      "properties": {
        "approvalRequired": {
          "type": "boolean",
          "description": "Whether or not approval is needed. If this is set on a build, it will become pending when created, and will need to be explicitly approved to start."
        }
      }
    },
    "StartInstanceRequest": {
      "id": "StartInstanceRequest",
      "properties": {
        "dryRun": {
          "description": "Optional. Indicates that the server should validate the request and populate default values without persisting the request. Supported values: `all`",
          "type": "string"
        }
      },
      "description": "Request message for starting a stopped Instance.",
      "type": "object"
    },
    "ListWorkerPoolsResponse": {
      "id": "ListWorkerPoolsResponse",
      "properties": {
        "metadata": {
          "$ref": "ListMeta",
          "description": "Metadata associated with this WorkerPool list."
        },
        "unreachable": {
          "description": "For calls against the global endpoint, returns the list of Cloud locations that could not be reached. For regional calls, this field is not used.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "apiVersion": {
          "description": "The API version for this call; returns \"run.googleapis.com/v1\".",
          "type": "string"
        },
        "kind": {
          "description": "The kind of this resource; returns \"WorkerPoolList\".",
          "type": "string"
        },
        "items": {
          "items": {
            "$ref": "WorkerPool"
          },
          "type": "array",
          "description": "List of WorkerPools."
        }
      },
      "type": "object",
      "description": "A list of WorkerPool resources."
    },
    "ExecutionTemplateSpec": {
      "id": "ExecutionTemplateSpec",
      "properties": {
        "metadata": {
          "description": "Optional. Optional metadata for this Execution, including labels and annotations. The following annotation keys set properties of the created execution: * `run.googleapis.com/cloudsql-instances` sets Cloud SQL connections. Multiple values should be comma separated. * `run.googleapis.com/vpc-access-connector` sets a Serverless VPC Access connector. * `run.googleapis.com/vpc-access-egress` sets VPC egress. Supported values are `all-traffic`, `all` (deprecated), and `private-ranges-only`. `all-traffic` and `all` provide the same functionality. `all` is deprecated but will continue to be supported. Prefer `all-traffic`.",
          "$ref": "ObjectMeta"
        },
        "spec": {
          "description": "Required. ExecutionSpec holds the desired configuration for executions of this job.",
          "$ref": "ExecutionSpec"
        }
      },
      "type": "object",
      "description": "ExecutionTemplateSpec describes the metadata and spec an Execution should have when created from a job."
    },
    "TaskAttemptResult": {
      "description": "Result of a task attempt.",
      "id": "TaskAttemptResult",
      "properties": {
        "status": {
          "$ref": "GoogleRpcStatus",
          "description": "Optional. The status of this attempt. If the status code is OK, then the attempt succeeded."
        },
        "exitCode": {
          "type": "integer",
          "format": "int32",
          "description": "Optional. The exit code of this attempt. This may be unset if the container was unable to exit cleanly with a code due to some other failure. See status field for possible failure details. At most one of exit_code or term_signal will be set."
        },
        "termSignal": {
          "format": "int32",
          "type": "integer",
          "description": "Optional. Termination signal of the container. This is set to non-zero if the container is terminated by the system. At most one of exit_code or term_signal will be set."
        }
      },
      "type": "object"
    },
    "GoogleDevtoolsCloudbuildV1Results": {
      "type": "object",
      "id": "GoogleDevtoolsCloudbuildV1Results",
      "description": "Artifacts created by the build pipeline.",
      "properties": {
        "npmPackages": {
          "type": "array",
          "description": "Npm packages uploaded to Artifact Registry at the end of the build.",
          "items": {
            "$ref": "GoogleDevtoolsCloudbuildV1UploadedNpmPackage"
          }
        },
        "buildStepImages": {
          "description": "List of build step digests, in the order corresponding to build step indices.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "artifactTiming": {
          "$ref": "GoogleDevtoolsCloudbuildV1TimeSpan",
          "description": "Time to push all non-container artifacts to Cloud Storage."
        },
        "buildStepOutputs": {
          "description": "List of build step outputs, produced by builder images, in the order corresponding to build step indices. [Cloud Builders](https://cloud.google.com/cloud-build/docs/cloud-builders) can produce this output by writing to `$BUILDER_OUTPUT/output`. Only the first 50KB of data is stored. Note that the `$BUILDER_OUTPUT` variable is read-only and can't be substituted.",
          "type": "array",
          "items": {
            "type": "string",
            "format": "byte"
          }
        },
        "pythonPackages": {
          "description": "Python artifacts uploaded to Artifact Registry at the end of the build.",
          "type": "array",
          "items": {
            "$ref": "GoogleDevtoolsCloudbuildV1UploadedPythonPackage"
          }
        },
        "mavenArtifacts": {
          "type": "array",
          "description": "Maven artifacts uploaded to Artifact Registry at the end of the build.",
          "items": {
            "$ref": "GoogleDevtoolsCloudbuildV1UploadedMavenArtifact"
          }
        },
        "artifactManifest": {
          "description": "Path to the artifact manifest for non-container artifacts uploaded to Cloud Storage. Only populated when artifacts are uploaded to Cloud Storage.",
          "type": "string"
        },
        "genericArtifacts": {
          "readOnly": true,
          "description": "Output only. Generic artifacts uploaded to Artifact Registry at the end of the build.",
          "type": "array",
          "items": {
            "$ref": "GoogleDevtoolsCloudbuildV1UploadedGenericArtifact"
          }
        },
        "goModules": {
          "items": {
            "$ref": "GoogleDevtoolsCloudbuildV1UploadedGoModule"
          },
          "type": "array",
          "description": "Optional. Go module artifacts uploaded to Artifact Registry at the end of the build."
        },
        "buildStepResults": {
          "additionalProperties": {
            "$ref": "GoogleDevtoolsCloudbuildV1BuildStepResults"
          },
          "type": "object",
          "description": "Results for build steps. step_id -> "
        },
        "images": {
          "type": "array",
          "description": "Container images that were built as a part of the build.",
          "items": {
            "$ref": "GoogleDevtoolsCloudbuildV1BuiltImage"
          }
        },
        "numArtifacts": {
          "description": "Number of non-container artifacts uploaded to Cloud Storage. Only populated when artifacts are uploaded to Cloud Storage.",
          "format": "int64",
          "type": "string"
        }
      }
    },
    "GoogleDevtoolsCloudbuildV1DeveloperConnectConfig": {
      "id": "GoogleDevtoolsCloudbuildV1DeveloperConnectConfig",
      "properties": {
        "revision": {
          "type": "string",
          "description": "Required. The revision to fetch from the Git repository such as a branch, a tag, a commit SHA, or any Git ref."
        },
        "gitRepositoryLink": {
          "type": "string",
          "description": "Required. The Developer Connect Git repository link, formatted as `projects/*/locations/*/connections/*/gitRepositoryLink/*`."
        },
        "dir": {
          "type": "string",
          "description": "Required. Directory, relative to the source root, in which to run the build."
        }
      },
      "type": "object",
      "description": "This config defines the location of a source through Developer Connect."
    },
    "KeyToPath": {
      "id": "KeyToPath",
      "type": "object",
      "description": "Maps a string key to a path within a volume.",
      "properties": {
        "mode": {
          "description": "(Optional) Mode bits to use on this file, must be a value between 01 and 0777 (octal). If 0 or not set, the Volume's default mode will be used. Notes * Internally, a umask of 0222 will be applied to any non-zero value. * This is an integer representation of the mode bits. So, the octal integer value should look exactly as the chmod numeric notation with a leading zero. Some examples: for chmod 777 (a=rwx), set to 0777 (octal) or 511 (base-10). For chmod 640 (u=rw,g=r), set to 0640 (octal) or 416 (base-10). For chmod 755 (u=rwx,g=rx,o=rx), set to 0755 (octal) or 493 (base-10). * This might be in conflict with other options that affect the file mode, like fsGroup, and the result can be other mode bits set.",
          "format": "int32",
          "type": "integer"
        },
        "key": {
          "description": "The Cloud Secret Manager secret version. Can be 'latest' for the latest value, or an integer or a secret alias for a specific version. The key to project.",
          "type": "string"
        },
        "path": {
          "type": "string",
          "description": "The relative path of the file to map the key to. May not be an absolute path. May not contain the path element '..'. May not start with the string '..'."
        }
      }
    },
    "Service": {
      "id": "Service",
      "properties": {
        "status": {
          "description": "Communicates the system-controlled state of the Service.",
          "$ref": "ServiceStatus"
        },
        "kind": {
          "type": "string",
          "description": "The kind of resource. It must be \"Service\"."
        },
        "apiVersion": {
          "description": "The API version for this call. It must be \"serving.knative.dev/v1\".",
          "type": "string"
        },
        "metadata": {
          "description": "Metadata associated with this Service, including name, namespace, labels, and annotations. In Cloud Run, annotations with 'run.googleapis.com/' and 'autoscaling.knative.dev' are restricted, and the accepted annotations will be different depending on the resource type. The following Cloud Run-specific annotations are accepted in Service.metadata.annotations. * `run.googleapis.com/base-images` * `run.googleapis.com/binary-authorization-breakglass` * `run.googleapis.com/binary-authorization` * `run.googleapis.com/client-name` * `run.googleapis.com/custom-audiences` * `run.googleapis.com/default-url-disabled` * `run.googleapis.com/description` * `run.googleapis.com/gc-traffic-tags` * `run.googleapis.com/ingress` * `run.googleapis.com/ingress` sets the ingress settings for the Service. See [the ingress settings documentation](/run/docs/securing/ingress) for details on configuring ingress settings. * `run.googleapis.com/ingress-status` is output-only and contains the currently active ingress settings for the Service. `run.googleapis.com/ingress-status` may differ from `run.googleapis.com/ingress` while the system is processing a change to `run.googleapis.com/ingress` or if the system failed to process a change to `run.googleapis.com/ingress`. When the system has processed all changes successfully `run.googleapis.com/ingress-status` and `run.googleapis.com/ingress` are equal.",
          "$ref": "ObjectMeta"
        },
        "spec": {
          "$ref": "ServiceSpec",
          "description": "Holds the desired state of the Service (from the client)."
        }
      },
      "type": "object",
      "description": "Service acts as a top-level container that manages a set of Routes and Configurations which implement a network service. Service exists to provide a singular abstraction which can be access controlled, reasoned about, and which encapsulates software lifecycle decisions such as rollout policy and team resource ownership. Service acts only as an orchestrator of the underlying Routes and Configurations (much as a kubernetes Deployment orchestrates ReplicaSets). The Service's controller will track the statuses of its owned Configuration and Route, reflecting their statuses and conditions as its own."
    },
    "ResourceRequirements": {
      "description": "ResourceRequirements describes the compute resource requirements.",
      "type": "object",
      "id": "ResourceRequirements",
      "properties": {
        "limits": {
          "description": "Limits describes the maximum amount of compute resources allowed. Only 'cpu', 'memory' and 'nvidia.com/gpu' keys are supported. * For supported 'cpu' values, go to https://cloud.google.com/run/docs/configuring/cpu. * For supported 'memory' values and syntax, go to https://cloud.google.com/run/docs/configuring/memory-limits. * The only supported 'nvidia.com/gpu' value is '1'.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "requests": {
          "description": "Requests describes the minimum amount of compute resources required. Only `cpu` and `memory` are supported. If Requests is omitted for a container, it defaults to Limits if that is explicitly specified, otherwise to an implementation-defined value. * For supported 'cpu' values, go to https://cloud.google.com/run/docs/configuring/cpu. * For supported 'memory' values and syntax, go to https://cloud.google.com/run/docs/configuring/memory-limits",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        }
      }
    },
    "GoogleDevtoolsCloudbuildV1ApprovalResult": {
      "description": "ApprovalResult describes the decision and associated metadata of a manual approval of a build.",
      "properties": {
        "approvalTime": {
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. The time when the approval decision was made.",
          "type": "string"
        },
        "url": {
          "type": "string",
          "description": "Optional. An optional URL tied to this manual approval result. This field is essentially the same as comment, except that it will be rendered by the UI differently. An example use case is a link to an external job that approved this Build."
        },
        "comment": {
          "description": "Optional. An optional comment for this manual approval result.",
          "type": "string"
        },
        "approverAccount": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Email of the user that called the ApproveBuild API to approve or reject a build at the time that the API was called."
        },
        "decision": {
          "enum": [
            "DECISION_UNSPECIFIED",
            "APPROVED",
            "REJECTED"
          ],
          "enumDescriptions": [
            "Default enum type. This should not be used.",
            "Build is approved.",
            "Build is rejected."
          ],
          "description": "Required. The decision of this manual approval.",
          "type": "string"
        }
      },
      "id": "GoogleDevtoolsCloudbuildV1ApprovalResult",
      "type": "object"
    },
    "WorkerPoolSpec": {
      "type": "object",
      "description": "WorkerPoolSpec holds the desired state of the WorkerPool's template and instance splits.",
      "properties": {
        "template": {
          "$ref": "RevisionTemplate",
          "description": "Holds the latest specification for the Revision to be stamped out."
        },
        "instanceSplits": {
          "description": "Specifies how to distribute instances over a collection of Revisions.",
          "type": "array",
          "items": {
            "$ref": "InstanceSplit"
          }
        }
      },
      "id": "WorkerPoolSpec"
    },
    "OwnerReference": {
      "id": "OwnerReference",
      "description": "This is not supported or used by Cloud Run.",
      "properties": {
        "controller": {
          "type": "boolean",
          "description": "This is not supported or used by Cloud Run."
        },
        "name": {
          "description": "This is not supported or used by Cloud Run.",
          "type": "string"
        },
        "blockOwnerDeletion": {
          "description": "This is not supported or used by Cloud Run.",
          "type": "boolean"
        },
        "kind": {
          "description": "This is not supported or used by Cloud Run.",
          "type": "string"
        },
        "uid": {
          "type": "string",
          "description": "This is not supported or used by Cloud Run."
        },
        "apiVersion": {
          "description": "This is not supported or used by Cloud Run.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "ExecutionReference": {
      "description": "Reference to an Execution. Use /Executions.GetExecution with the given name to get full execution including the latest status.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Optional. Name of the execution.",
          "type": "string"
        },
        "creationTimestamp": {
          "type": "string",
          "description": "Optional. Creation timestamp of the execution.",
          "format": "google-datetime"
        },
        "completionTimestamp": {
          "type": "string",
          "format": "google-datetime",
          "description": "Optional. Completion timestamp of the execution."
        },
        "deletionTimestamp": {
          "format": "google-datetime",
          "type": "string",
          "description": "Optional. The read-only soft deletion timestamp of the execution."
        },
        "completionStatus": {
          "enum": [
            "COMPLETION_STATUS_UNSPECIFIED",
            "EXECUTION_SUCCEEDED",
            "EXECUTION_FAILED",
            "EXECUTION_RUNNING",
            "EXECUTION_PENDING",
            "EXECUTION_CANCELLED"
          ],
          "description": "Optional. Status for the execution completion.",
          "enumDescriptions": [
            "The default value. This value is used if the state is omitted.",
            "Job execution has succeeded.",
            "Job execution has failed.",
            "Job execution is running normally.",
            "Waiting for backing resources to be provisioned.",
            "Job execution has been cancelled by the user."
          ],
          "type": "string"
        }
      },
      "id": "ExecutionReference"
    },
    "Expr": {
      "description": "Represents a textual expression in the Common Expression Language (CEL) syntax. CEL is a C-like expression language. The syntax and semantics of CEL are documented at https://github.com/google/cel-spec. Example (Comparison): title: \"Summary size limit\" description: \"Determines if a summary is less than 100 chars\" expression: \"document.summary.size() < 100\" Example (Equality): title: \"Requestor is owner\" description: \"Determines if requestor is the document owner\" expression: \"document.owner == request.auth.claims.email\" Example (Logic): title: \"Public documents\" description: \"Determine whether the document should be publicly visible\" expression: \"document.type != 'private' && document.type != 'internal'\" Example (Data Manipulation): title: \"Notification string\" description: \"Create a notification string with a timestamp.\" expression: \"'New message received at ' + string(document.create_time)\" The exact variables and functions that may be referenced within an expression are determined by the service that evaluates it. See the service documentation for additional information.",
      "type": "object",
      "id": "Expr",
      "properties": {
        "location": {
          "type": "string",
          "description": "Optional. String indicating the location of the expression for error reporting, e.g. a file name and a position in the file."
        },
        "expression": {
          "type": "string",
          "description": "Textual representation of an expression in Common Expression Language syntax."
        },
        "description": {
          "type": "string",
          "description": "Optional. Description of the expression. This is a longer text which describes the expression, e.g. when hovered over it in a UI."
        },
        "title": {
          "type": "string",
          "description": "Optional. Title for the expression, i.e. a short string describing its purpose. This can be used e.g. in UIs which allow to enter the expression."
        }
      }
    },
    "StopInstanceRequest": {
      "id": "StopInstanceRequest",
      "properties": {
        "dryRun": {
          "description": "Optional. Indicates that the server should validate the request and populate default values without persisting the request. Supported values: `all`",
          "type": "string"
        }
      },
      "description": "Request message for stopping a running Instance.",
      "type": "object"
    },
    "ListInstancesResponse": {
      "type": "object",
      "id": "ListInstancesResponse",
      "description": "ListInstancesResponse is a list of Instances resources.",
      "properties": {
        "apiVersion": {
          "type": "string",
          "description": "The API version for this call such as \"run.googleapis.com/v1\"."
        },
        "metadata": {
          "description": "Metadata associated with this Instances list.",
          "$ref": "ListMeta"
        },
        "items": {
          "items": {
            "$ref": "Instance"
          },
          "type": "array",
          "description": "List of Instances."
        },
        "kind": {
          "type": "string",
          "description": "The kind of this resource, in this case \"InstancesList\"."
        },
        "unreachable": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Locations that could not be reached."
        }
      }
    },
    "InstanceSplit": {
      "id": "InstanceSplit",
      "description": "Holds a single instance split entry for the Worker. Allocations can be done to a specific Revision name, or pointing to the latest Ready Revision.",
      "type": "object",
      "properties": {
        "latestRevision": {
          "description": "Uses the \"status.latestReadyRevisionName\" to determine the instance split target. When it changes, workloads will automatically migrate from the prior \"latest ready\" revision to the new one.",
          "type": "boolean"
        },
        "percent": {
          "format": "int32",
          "description": "Optional. Specifies percent of the instance split to this Revision. This defaults to zero if unspecified.",
          "type": "integer"
        },
        "revisionName": {
          "type": "string",
          "description": "Revision to which to assign this portion of instances."
        }
      }
    },
    "ServiceSpec": {
      "id": "ServiceSpec",
      "type": "object",
      "properties": {
        "traffic": {
          "items": {
            "$ref": "TrafficTarget"
          },
          "type": "array",
          "description": "Specifies how to distribute traffic over a collection of Knative Revisions and Configurations to the Service's main URL."
        },
        "template": {
          "description": "Holds the latest specification for the Revision to be stamped out.",
          "$ref": "RevisionTemplate"
        }
      },
      "description": "ServiceSpec holds the desired state of the Route (from the client), which is used to manipulate the underlying Route and Configuration(s)."
    },
    "SecretKeySelector": {
      "properties": {
        "optional": {
          "description": "Specify whether the Secret or its key must be defined.",
          "type": "boolean"
        },
        "name": {
          "description": "The name of the secret in Cloud Secret Manager. By default, the secret is assumed to be in the same project. If the secret is in another project, you must define an alias. An alias definition has the form: :projects//secrets/. If multiple alias definitions are needed, they must be separated by commas. The alias definitions must be set on the run.googleapis.com/secrets annotation. The name of the secret in the pod's namespace to select from.",
          "type": "string"
        },
        "localObjectReference": {
          "description": "This field should not be used directly as it is meant to be inlined directly into the message. Use the \"name\" field instead.",
          "deprecated": true,
          "$ref": "LocalObjectReference"
        },
        "key": {
          "description": "Required. A Cloud Secret Manager secret version. Must be 'latest' for the latest version, an integer for a specific version, or a version alias. The key of the secret to select from. Must be a valid secret key.",
          "type": "string"
        }
      },
      "description": "SecretKeySelector selects a key of a Secret.",
      "id": "SecretKeySelector",
      "type": "object"
    },
    "GoogleRpcStatus": {
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "properties": {
        "details": {
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "type": "array",
          "items": {
            "additionalProperties": {
              "description": "Properties of the object. Contains field @type with type URL.",
              "type": "any"
            },
            "type": "object"
          }
        },
        "code": {
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "type": "integer",
          "format": "int32"
        },
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleRpcStatus"
    },
    "RouteStatus": {
      "description": "RouteStatus communicates the observed state of the Route (from the controller).",
      "id": "RouteStatus",
      "type": "object",
      "properties": {
        "url": {
          "type": "string",
          "description": "URL holds the url that will distribute traffic over the provided traffic targets. It generally has the form: `https://{route-hash}-{project-hash}-{cluster-level-suffix}.a.run.app`"
        },
        "address": {
          "$ref": "Addressable",
          "description": "Similar to url, information on where the service is available on HTTP."
        },
        "observedGeneration": {
          "description": "ObservedGeneration is the 'Generation' of the Route that was last processed by the controller. Clients polling for completed reconciliation should poll until observedGeneration = metadata.generation and the Ready condition's status is True or False. Note that providing a TrafficTarget that has latest_revision=True will result in a Route that does not increment either its metadata.generation or its observedGeneration, as new \"latest ready\" revisions from the Configuration are processed without an update to the Route's spec.",
          "type": "integer",
          "format": "int32"
        },
        "conditions": {
          "description": "Conditions communicates information about ongoing/complete reconciliation processes that bring the \"spec\" inline with the observed state of the world.",
          "items": {
            "$ref": "GoogleCloudRunV1Condition"
          },
          "type": "array"
        },
        "traffic": {
          "items": {
            "$ref": "TrafficTarget"
          },
          "type": "array",
          "description": "Traffic holds the configured traffic distribution. These entries will always contain RevisionName references. When ConfigurationName appears in the spec, this will hold the LatestReadyRevisionName that was last observed."
        }
      }
    },
    "Route": {
      "type": "object",
      "id": "Route",
      "description": "Route is responsible for configuring ingress over a collection of Revisions. Some of the Revisions a Route distributes traffic over may be specified by referencing the Configuration responsible for creating them; in these cases the Route is additionally responsible for monitoring the Configuration for \"latest ready\" revision changes, and smoothly rolling out latest revisions. Cloud Run currently supports referencing a single Configuration to automatically deploy the \"latest ready\" Revision from that Configuration.",
      "properties": {
        "kind": {
          "type": "string",
          "description": "The kind of this resource, in this case always \"Route\"."
        },
        "metadata": {
          "description": "Metadata associated with this Route, including name, namespace, labels, and annotations.",
          "$ref": "ObjectMeta"
        },
        "spec": {
          "$ref": "RouteSpec",
          "description": "Spec holds the desired state of the Route (from the client)."
        },
        "status": {
          "$ref": "RouteStatus",
          "description": "Status communicates the observed state of the Route (from the controller)."
        },
        "apiVersion": {
          "type": "string",
          "description": "The API version for this call such as \"serving.knative.dev/v1\"."
        }
      }
    },
    "GoogleDevtoolsCloudbuildV1UploadedNpmPackage": {
      "description": "An npm package uploaded to Artifact Registry using the NpmPackage directive.",
      "type": "object",
      "id": "GoogleDevtoolsCloudbuildV1UploadedNpmPackage",
      "properties": {
        "pushTiming": {
          "readOnly": true,
          "$ref": "GoogleDevtoolsCloudbuildV1TimeSpan",
          "description": "Output only. Stores timing information for pushing the specified artifact."
        },
        "uri": {
          "description": "URI of the uploaded npm package.",
          "type": "string"
        },
        "fileHashes": {
          "description": "Hash types and values of the npm package.",
          "$ref": "GoogleDevtoolsCloudbuildV1FileHashes"
        },
        "artifactRegistryPackage": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Path to the artifact in Artifact Registry."
        }
      }
    },
    "GoogleDevtoolsCloudbuildV1RepoSource": {
      "properties": {
        "tagName": {
          "type": "string",
          "description": "Regex matching tags to build. The syntax of the regular expressions accepted is the syntax accepted by RE2 and described at https://github.com/google/re2/wiki/Syntax"
        },
        "invertRegex": {
          "description": "Optional. Only trigger a build if the revision regex does NOT match the revision regex.",
          "type": "boolean"
        },
        "branchName": {
          "type": "string",
          "description": "Regex matching branches to build. The syntax of the regular expressions accepted is the syntax accepted by RE2 and described at https://github.com/google/re2/wiki/Syntax"
        },
        "repoName": {
          "type": "string",
          "description": "Required. Name of the Cloud Source Repository."
        },
        "dir": {
          "description": "Optional. Directory, relative to the source root, in which to run the build. This must be a relative path. If a step's `dir` is specified and is an absolute path, this value is ignored for that step's execution.",
          "type": "string"
        },
        "projectId": {
          "description": "Optional. ID of the project that owns the Cloud Source Repository. If omitted, the project ID requesting the build is assumed.",
          "type": "string"
        },
        "substitutions": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. Substitutions to use in a triggered build. Should only be used with RunBuildTrigger"
        },
        "commitSha": {
          "description": "Explicit commit SHA to build.",
          "type": "string"
        }
      },
      "id": "GoogleDevtoolsCloudbuildV1RepoSource",
      "description": "Location of the source in a Google Cloud Source Repository.",
      "type": "object"
    },
    "GoogleDevtoolsCloudbuildV1UploadedGoModule": {
      "type": "object",
      "id": "GoogleDevtoolsCloudbuildV1UploadedGoModule",
      "properties": {
        "uri": {
          "type": "string",
          "description": "URI of the uploaded artifact."
        },
        "fileHashes": {
          "description": "Hash types and values of the Go Module Artifact.",
          "$ref": "GoogleDevtoolsCloudbuildV1FileHashes"
        },
        "artifactRegistryPackage": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Path to the artifact in Artifact Registry."
        },
        "pushTiming": {
          "description": "Output only. Stores timing information for pushing the specified artifact.",
          "readOnly": true,
          "$ref": "GoogleDevtoolsCloudbuildV1TimeSpan"
        }
      },
      "description": "A Go module artifact uploaded to Artifact Registry using the GoModule directive."
    },
    "InstanceSpec": {
      "type": "object",
      "properties": {
        "containers": {
          "items": {
            "$ref": "Container"
          },
          "description": "Optional. List of containers belonging to the Instance. We disallow a number of fields on this Container.",
          "type": "array"
        },
        "restartPolicy": {
          "type": "string",
          "description": "Optional. Restart policy for the Instance. Allowable values are 'Always', 'OnFailure', or 'Never'."
        },
        "volumes": {
          "type": "array",
          "items": {
            "$ref": "Volume"
          },
          "description": "Optional. List of volumes that can be mounted by containers belonging to the Instance."
        },
        "nodeSelector": {
          "type": "object",
          "description": "Optional. The Node Selector configuration. Map of selector key to a value which matches a node.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "serviceAccountName": {
          "description": "Optional. Email address of the IAM service account associated with the Instance. The service account represents the identity of the running container, and determines what permissions the Instance has. If not provided, the Instance will use the project's default service account.",
          "type": "string"
        }
      },
      "id": "InstanceSpec",
      "description": "InstanceSpec describes how the Instance will look."
    },
    "Addressable": {
      "id": "Addressable",
      "properties": {
        "url": {
          "type": "string"
        }
      },
      "description": "Information for connecting over HTTP(s).",
      "type": "object"
    },
    "GoogleDevtoolsCloudbuildV1StorageSource": {
      "description": "Location of the source in an archive file in Cloud Storage.",
      "type": "object",
      "properties": {
        "sourceFetcher": {
          "enum": [
            "SOURCE_FETCHER_UNSPECIFIED",
            "GSUTIL",
            "GCS_FETCHER"
          ],
          "description": "Optional. Option to specify the tool to fetch the source file for the build.",
          "enumDescriptions": [
            "Unspecified defaults to GSUTIL.",
            "Use the \"gsutil\" tool to download the source file.",
            "Use the Cloud Storage Fetcher tool to download the source file."
          ],
          "type": "string"
        },
        "object": {
          "type": "string",
          "description": "Required. Cloud Storage object containing the source. This object must be a zipped (`.zip`) or gzipped archive file (`.tar.gz`) containing source to build."
        },
        "bucket": {
          "description": "Cloud Storage bucket containing the source (see [Bucket Name Requirements](https://cloud.google.com/storage/docs/bucket-naming#requirements)).",
          "type": "string"
        },
        "generation": {
          "description": "Optional. Cloud Storage generation for the object. If the generation is omitted, the latest generation will be used.",
          "type": "string",
          "format": "int64"
        }
      },
      "id": "GoogleDevtoolsCloudbuildV1StorageSource"
    },
    "GoogleDevtoolsCloudbuildV1BuiltImage": {
      "description": "An image built by the pipeline.",
      "type": "object",
      "properties": {
        "artifactRegistryPackage": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Path to the artifact in Artifact Registry."
        },
        "digest": {
          "description": "Docker Registry 2.0 digest.",
          "type": "string"
        },
        "pushTiming": {
          "$ref": "GoogleDevtoolsCloudbuildV1TimeSpan",
          "readOnly": true,
          "description": "Output only. Stores timing information for pushing the specified image."
        },
        "ociMediaType": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The OCI media type of the artifact. Non-OCI images, such as Docker images, will have an unspecified value.",
          "enum": [
            "OCI_MEDIA_TYPE_UNSPECIFIED",
            "IMAGE_MANIFEST",
            "IMAGE_INDEX"
          ],
          "enumDescriptions": [
            "Default value.",
            "The artifact is an image manifest, which represents a single image with all its layers.",
            "The artifact is an image index, which can contain a list of image manifests."
          ]
        },
        "name": {
          "type": "string",
          "description": "Name used to push the container image to Google Container Registry, as presented to `docker push`."
        }
      },
      "id": "GoogleDevtoolsCloudbuildV1BuiltImage"
    },
    "HTTPGetAction": {
      "properties": {
        "port": {
          "description": "Port number to access on the container. Number must be in the range 1 to 65535.",
          "format": "int32",
          "type": "integer"
        },
        "path": {
          "description": "Path to access on the HTTP server.",
          "type": "string"
        },
        "httpHeaders": {
          "description": "Custom headers to set in the request. HTTP allows repeated headers.",
          "type": "array",
          "items": {
            "$ref": "HTTPHeader"
          }
        },
        "host": {
          "type": "string",
          "description": "Not supported by Cloud Run."
        },
        "scheme": {
          "description": "Not supported by Cloud Run.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "HTTPGetAction describes an action based on HTTP Get requests.",
      "id": "HTTPGetAction"
    },
    "SecurityContext": {
      "id": "SecurityContext",
      "description": "Not supported by Cloud Run. SecurityContext holds security configuration that will be applied to a container. Some fields are present in both SecurityContext and PodSecurityContext. When both are set, the values in SecurityContext take precedence.",
      "type": "object",
      "properties": {
        "runAsUser": {
          "format": "int32",
          "description": "The UID to run the entrypoint of the container process. Defaults to user specified in image metadata if unspecified. May also be set in PodSecurityContext. If set in both SecurityContext and PodSecurityContext, the value specified in SecurityContext takes precedence.",
          "type": "integer"
        }
      }
    },
    "DomainMapping": {
      "type": "object",
      "id": "DomainMapping",
      "description": "Resource to hold the state and status of a user's domain mapping. NOTE: This resource is currently in Beta.",
      "properties": {
        "status": {
          "$ref": "DomainMappingStatus",
          "description": "The current status of the DomainMapping."
        },
        "kind": {
          "description": "The kind of resource, in this case \"DomainMapping\".",
          "type": "string"
        },
        "apiVersion": {
          "type": "string",
          "description": "The API version for this call such as \"domains.cloudrun.com/v1\"."
        },
        "spec": {
          "description": "The spec for this DomainMapping.",
          "$ref": "DomainMappingSpec"
        },
        "metadata": {
          "$ref": "ObjectMeta",
          "description": "Metadata associated with this BuildTemplate."
        }
      }
    },
    "GoogleDevtoolsCloudbuildV1GitSourceRepository": {
      "type": "object",
      "description": "A repository for a git source.",
      "properties": {
        "developerConnect": {
          "description": "The Developer Connect Git repository link formatted as `projects/*/locations/*/connections/*/gitRepositoryLink/*`",
          "type": "string"
        },
        "url": {
          "type": "string",
          "description": "Location of the Git repository."
        }
      },
      "id": "GoogleDevtoolsCloudbuildV1GitSourceRepository"
    },
    "GoogleDevtoolsCloudbuildV1BuildStep": {
      "description": "A step in the build pipeline.",
      "properties": {
        "id": {
          "description": "Unique identifier for this build step, used in `wait_for` to reference this build step as a dependency.",
          "type": "string"
        },
        "volumes": {
          "items": {
            "$ref": "GoogleDevtoolsCloudbuildV1Volume"
          },
          "type": "array",
          "description": "List of volumes to mount into the build step. Each volume is created as an empty volume prior to execution of the build step. Upon completion of the build, volumes and their contents are discarded. Using a named volume in only one step is not valid as it is indicative of a build request with an incorrect configuration."
        },
        "results": {
          "type": "array",
          "description": "Declaration of results for this build step.",
          "items": {
            "$ref": "GoogleDevtoolsCloudbuildV1StepResult"
          }
        },
        "dir": {
          "type": "string",
          "description": "Working directory to use when running this step's container. If this value is a relative path, it is relative to the build's working directory. If this value is absolute, it may be outside the build's working directory, in which case the contents of the path may not be persisted across build step executions, unless a `volume` for that path is specified. If the build specifies a `RepoSource` with `dir` and a step with a `dir`, which specifies an absolute path, the `RepoSource` `dir` is ignored for the step's execution."
        },
        "automapSubstitutions": {
          "description": "Option to include built-in and custom substitutions as env variables for this build step. This option will override the global option in BuildOption.",
          "type": "boolean"
        },
        "entrypoint": {
          "type": "string",
          "description": "Entrypoint to be used instead of the build step image's default entrypoint. If unset, the image's default entrypoint is used."
        },
        "status": {
          "type": "string",
          "enumDescriptions": [
            "Status of the build is unknown.",
            "Build has been created and is pending execution and queuing. It has not been queued.",
            "Build or step is queued; work has not yet begun.",
            "Build or step is being executed.",
            "Build or step finished successfully.",
            "Build or step failed to complete successfully.",
            "Build or step failed due to an internal cause.",
            "Build or step took longer than was allowed.",
            "Build or step was canceled by a user.",
            "Build was enqueued for longer than the value of `queue_ttl`."
          ],
          "readOnly": true,
          "description": "Output only. Status of the build step. At this time, build step status is only updated on build completion; step status is not updated in real-time as the build progresses.",
          "enum": [
            "STATUS_UNKNOWN",
            "PENDING",
            "QUEUED",
            "WORKING",
            "SUCCESS",
            "FAILURE",
            "INTERNAL_ERROR",
            "TIMEOUT",
            "CANCELLED",
            "EXPIRED"
          ]
        },
        "pullTiming": {
          "description": "Output only. Stores timing information for pulling this build step's builder image only.",
          "readOnly": true,
          "$ref": "GoogleDevtoolsCloudbuildV1TimeSpan"
        },
        "args": {
          "description": "A list of arguments that will be presented to the step when it is started. If the image used to run the step's container has an entrypoint, the `args` are used as arguments to that entrypoint. If the image does not define an entrypoint, the first element in args is used as the entrypoint, and the remainder will be used as arguments.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "exitCode": {
          "type": "integer",
          "description": "Output only. Return code from running the step.",
          "readOnly": true,
          "format": "int32"
        },
        "allowFailure": {
          "type": "boolean",
          "description": "Allow this build step to fail without failing the entire build. If false, the entire build will fail if this step fails. Otherwise, the build will succeed, but this step will still have a failure status. Error information will be reported in the failure_detail field."
        },
        "env": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "A list of environment variable definitions to be used when running a step. The elements are of the form \"KEY=VALUE\" for the environment variable \"KEY\" being given the value \"VALUE\"."
        },
        "timing": {
          "$ref": "GoogleDevtoolsCloudbuildV1TimeSpan",
          "description": "Output only. Stores timing information for executing this build step.",
          "readOnly": true
        },
        "timeout": {
          "format": "google-duration",
          "type": "string",
          "description": "Time limit for executing this build step. If not defined, the step has no time limit and will be allowed to continue to run until either it completes or the build itself times out."
        },
        "secretEnv": {
          "description": "A list of environment variables which are encrypted using a Cloud Key Management Service crypto key. These values must be specified in the build's `Secret`.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "name": {
          "type": "string",
          "description": "Required. The name of the container image that will run this particular build step. If the image is available in the host's Docker daemon's cache, it will be run directly. If not, the host will attempt to pull the image first, using the builder service account's credentials if necessary. The Docker daemon's cache will already have the latest versions of all of the officially supported build steps ([https://github.com/GoogleCloudPlatform/cloud-builders](https://github.com/GoogleCloudPlatform/cloud-builders)). The Docker daemon will also have cached many of the layers for some popular images, like \"ubuntu\", \"debian\", but they will be refreshed at the time you attempt to use them. If you built an image in a previous build step, it will be stored in the host's Docker daemon's cache and is available to use as the name for a later build step."
        },
        "waitFor": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The ID(s) of the step(s) that this build step depends on. This build step will not start until all the build steps in `wait_for` have completed successfully. If `wait_for` is empty, this build step will start when all previous build steps in the `Build.Steps` list have completed successfully."
        },
        "allowExitCodes": {
          "description": "Allow this build step to fail without failing the entire build if and only if the exit code is one of the specified codes. If allow_failure is also specified, this field will take precedence.",
          "type": "array",
          "items": {
            "type": "integer",
            "format": "int32"
          }
        },
        "script": {
          "description": "A shell script to be executed in the step. When script is provided, the user cannot specify the entrypoint or args.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleDevtoolsCloudbuildV1BuildStep"
    },
    "RunJobRequest": {
      "id": "RunJobRequest",
      "description": "Request message for creating a new execution of a job.",
      "properties": {
        "overrides": {
          "$ref": "Overrides",
          "description": "Optional. Overrides existing job configuration for one specific new job execution only, using the specified values to update the job configuration for the new execution."
        }
      },
      "type": "object"
    },
    "GRPCAction": {
      "properties": {
        "service": {
          "description": "Service is the name of the service to place in the gRPC HealthCheckRequest. If this is not specified, the default behavior is defined by gRPC.",
          "type": "string"
        },
        "port": {
          "description": "Port number of the gRPC service. Number must be in the range 1 to 65535.",
          "type": "integer",
          "format": "int32"
        }
      },
      "type": "object",
      "description": "GRPCAction describes an action involving a GRPC port.",
      "id": "GRPCAction"
    },
    "RevisionStatus": {
      "description": "RevisionStatus communicates the observed state of the Revision (from the controller).",
      "type": "object",
      "id": "RevisionStatus",
      "properties": {
        "serviceName": {
          "description": "Not currently used by Cloud Run.",
          "type": "string"
        },
        "imageDigest": {
          "description": "ImageDigest holds the resolved digest for the image specified within .Spec.Container.Image. The digest is resolved during the creation of Revision. This field holds the digest value regardless of whether a tag or digest was originally specified in the Container object.",
          "type": "string"
        },
        "desiredReplicas": {
          "type": "integer",
          "format": "int32",
          "readOnly": true,
          "description": "Output only. The configured number of instances running this revision. For Cloud Run, this only includes instances provisioned using the minScale annotation. It does not include instances created by autoscaling."
        },
        "observedGeneration": {
          "format": "int32",
          "type": "integer",
          "description": "ObservedGeneration is the 'Generation' of the Revision that was last processed by the controller. Clients polling for completed reconciliation should poll until observedGeneration = metadata.generation, and the Ready condition's status is True or False."
        },
        "conditions": {
          "description": "Conditions communicate information about ongoing/complete reconciliation processes that bring the \"spec\" inline with the observed state of the world. As a Revision is being prepared, it will incrementally update conditions. Revision-specific conditions include: * `ResourcesAvailable`: `True` when underlying resources have been provisioned. * `ContainerHealthy`: `True` when the Revision readiness check completes. * `Active`: `True` when the Revision may receive traffic.",
          "items": {
            "$ref": "GoogleCloudRunV1Condition"
          },
          "type": "array"
        },
        "logUrl": {
          "description": "Optional. Specifies the generated logging url for this particular revision based on the revision url template specified in the controller's config.",
          "type": "string"
        }
      }
    },
    "GoogleDevtoolsCloudbuildV1NpmPackage": {
      "type": "object",
      "id": "GoogleDevtoolsCloudbuildV1NpmPackage",
      "description": "Npm package to upload to Artifact Registry upon successful completion of all build steps.",
      "properties": {
        "packagePath": {
          "description": "Optional. Path to the package.json. e.g. workspace/path/to/package Only one of `archive` or `package_path` can be specified.",
          "type": "string"
        },
        "repository": {
          "description": "Artifact Registry repository, in the form \"https://$REGION-npm.pkg.dev/$PROJECT/$REPOSITORY\" Npm package in the workspace specified by path will be zipped and uploaded to Artifact Registry with this location as a prefix.",
          "type": "string"
        }
      }
    },
    "Binding": {
      "description": "Associates `members`, or principals, with a `role`.",
      "id": "Binding",
      "properties": {
        "role": {
          "description": "Role that is assigned to the list of `members`, or principals. For example, `roles/viewer`, `roles/editor`, or `roles/owner`. For an overview of the IAM roles and permissions, see the [IAM documentation](https://cloud.google.com/iam/docs/roles-overview). For a list of the available pre-defined roles, see [here](https://cloud.google.com/iam/docs/understanding-roles).",
          "type": "string"
        },
        "condition": {
          "$ref": "Expr",
          "description": "The condition that is associated with this binding. If the condition evaluates to `true`, then this binding applies to the current request. If the condition evaluates to `false`, then this binding does not apply to the current request. However, a different role binding might grant the same role to one or more of the principals in this binding. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies)."
        },
        "members": {
          "description": "Specifies the principals requesting access for a Google Cloud resource. `members` can have the following values: * `allUsers`: A special identifier that represents anyone who is on the internet; with or without a Google account. * `allAuthenticatedUsers`: A special identifier that represents anyone who is authenticated with a Google account or a service account. Does not include identities that come from external identity providers (IdPs) through identity federation. * `user:{emailid}`: An email address that represents a specific Google account. For example, `alice@example.com` . * `serviceAccount:{emailid}`: An email address that represents a Google service account. For example, `my-other-app@appspot.gserviceaccount.com`. * `serviceAccount:{projectid}.svc.id.goog[{namespace}/{kubernetes-sa}]`: An identifier for a [Kubernetes service account](https://cloud.google.com/kubernetes-engine/docs/how-to/kubernetes-service-accounts). For example, `my-project.svc.id.goog[my-namespace/my-kubernetes-sa]`. * `group:{emailid}`: An email address that represents a Google group. For example, `admins@example.com`. * `domain:{domain}`: The G Suite domain (primary) that represents all the users of that domain. For example, `google.com` or `example.com`. * `principal://iam.googleapis.com/locations/global/workforcePools/{pool_id}/subject/{subject_attribute_value}`: A single identity in a workforce identity pool. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/group/{group_id}`: All workforce identities in a group. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/attribute.{attribute_name}/{attribute_value}`: All workforce identities with a specific attribute value. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/*`: All identities in a workforce identity pool. * `principal://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/subject/{subject_attribute_value}`: A single identity in a workload identity pool. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/group/{group_id}`: A workload identity pool group. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/attribute.{attribute_name}/{attribute_value}`: All identities in a workload identity pool with a certain attribute. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/*`: All identities in a workload identity pool. * `deleted:user:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a user that has been recently deleted. For example, `alice@example.com?uid=123456789012345678901`. If the user is recovered, this value reverts to `user:{emailid}` and the recovered user retains the role in the binding. * `deleted:serviceAccount:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a service account that has been recently deleted. For example, `my-other-app@appspot.gserviceaccount.com?uid=123456789012345678901`. If the service account is undeleted, this value reverts to `serviceAccount:{emailid}` and the undeleted service account retains the role in the binding. * `deleted:group:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a Google group that has been recently deleted. For example, `admins@example.com?uid=123456789012345678901`. If the group is recovered, this value reverts to `group:{emailid}` and the recovered group retains the role in the binding. * `deleted:principal://iam.googleapis.com/locations/global/workforcePools/{pool_id}/subject/{subject_attribute_value}`: Deleted single identity in a workforce identity pool. For example, `deleted:principal://iam.googleapis.com/locations/global/workforcePools/my-pool-id/subject/my-subject-attribute-value`.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object"
    },
    "GoogleDevtoolsCloudbuildV1StepResult": {
      "type": "object",
      "description": "StepResult is the declaration of a result for a build step.",
      "id": "GoogleDevtoolsCloudbuildV1StepResult",
      "properties": {
        "attestationType": {
          "description": "Optional. The type of attestation to be generated.",
          "type": "string"
        },
        "attestationContent": {
          "description": "Optional. The content of the attestation to be generated.",
          "type": "string"
        },
        "name": {
          "description": "Required. The name of the result.",
          "type": "string"
        }
      }
    },
    "CSIVolumeSource": {
      "type": "object",
      "properties": {
        "readOnly": {
          "type": "boolean",
          "description": "If true, mount the volume as read only. Defaults to false."
        },
        "volumeAttributes": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "stores driver specific attributes. For Google Cloud Storage volumes, the following attributes are supported: * bucketName: the name of the Cloud Storage bucket to mount. The Cloud Run Service identity must have access to this bucket. * mountOptions: comma-separated list of mount options to pass to the gcsfuse."
        },
        "driver": {
          "type": "string",
          "description": "name of the CSI driver for the requested storage system. Cloud Run supports the following drivers: * gcsfuse.run.googleapis.com : Mount a Cloud Storage Bucket as a volume."
        }
      },
      "id": "CSIVolumeSource",
      "description": "Storage volume source using the Container Storage Interface."
    },
    "GoogleDevtoolsCloudbuildV1SecretManagerSecret": {
      "id": "GoogleDevtoolsCloudbuildV1SecretManagerSecret",
      "description": "Pairs a secret environment variable with a SecretVersion in Secret Manager.",
      "properties": {
        "versionName": {
          "type": "string",
          "description": "Resource name of the SecretVersion. In format: projects/*/secrets/*/versions/*"
        },
        "env": {
          "description": "Environment variable name to associate with the secret. Secret environment variables must be unique across all of a build's secrets, and must be used by at least one build step.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "Container": {
      "description": "A single application container. This specifies both the container to run, the command to run in the container and the arguments to supply to it. Note that additional arguments may be supplied by the system to the container at runtime.",
      "id": "Container",
      "type": "object",
      "properties": {
        "sandboxLauncher": {
          "type": "boolean",
          "description": "Optional. Indicates that this container can act as a sandbox supervisor and launch sandboxes."
        },
        "args": {
          "description": "Arguments to the entrypoint. The docker image's CMD is used if this is not provided. Variable references are not supported in Cloud Run.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "imagePullPolicy": {
          "description": "Image pull policy. One of Always, Never, IfNotPresent. Defaults to Always if :latest tag is specified, or IfNotPresent otherwise.",
          "type": "string"
        },
        "command": {
          "description": "Entrypoint array. Not executed within a shell. The docker image's ENTRYPOINT is used if this is not provided. Variable references are not supported in Cloud Run.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "name": {
          "description": "Name of the container specified as a DNS_LABEL (RFC 1123).",
          "type": "string"
        },
        "livenessProbe": {
          "description": "Periodic probe of container liveness. Container will be restarted if the probe fails.",
          "$ref": "Probe"
        },
        "image": {
          "description": "Required. Name of the container image in Dockerhub, Google Artifact Registry, or Google Container Registry. If the host is not provided, Dockerhub is assumed.",
          "type": "string"
        },
        "env": {
          "description": "List of environment variables to set in the container. EnvVar with duplicate names are generally allowed; if referencing a secret, the name must be unique for the container. For non-secret EnvVar names, the Container will only get the last-declared one.",
          "items": {
            "$ref": "EnvVar"
          },
          "type": "array"
        },
        "volumeMounts": {
          "description": "Volume to mount into the container's filesystem. Only supports SecretVolumeSources. Pod volumes to mount into the container's filesystem.",
          "items": {
            "$ref": "VolumeMount"
          },
          "type": "array"
        },
        "envFrom": {
          "type": "array",
          "description": "Not supported by Cloud Run.",
          "items": {
            "$ref": "EnvFromSource"
          }
        },
        "ports": {
          "type": "array",
          "items": {
            "$ref": "ContainerPort"
          },
          "description": "List of ports to expose from the container. Only a single port can be specified. The specified ports must be listening on all interfaces (0.0.0.0) within the container to be accessible. If omitted, a port number will be chosen and passed to the container through the PORT environment variable for the container to listen on."
        },
        "workingDir": {
          "description": "Container's working directory. If not specified, the container runtime's default will be used, which might be configured in the container image.",
          "type": "string"
        },
        "resources": {
          "description": "Compute Resources required by this container.",
          "$ref": "ResourceRequirements"
        },
        "terminationMessagePath": {
          "type": "string",
          "description": "Path at which the file to which the container's termination message will be written is mounted into the container's filesystem. Message written is intended to be brief final status, such as an assertion failure message. Will be truncated by the node if greater than 4096 bytes. The total message length across all containers will be limited to 12kb. Defaults to /dev/termination-log."
        },
        "startupProbe": {
          "description": "Startup probe of application within the container. All other probes are disabled if a startup probe is provided, until it succeeds. Container will not receive traffic if the probe fails. If not provided, a default startup probe with TCP socket action is used.",
          "$ref": "Probe"
        },
        "readinessProbe": {
          "description": "Readiness probe to be used for health checks.",
          "$ref": "Probe"
        },
        "terminationMessagePolicy": {
          "type": "string",
          "description": "Indicate how the termination message should be populated. File will use the contents of terminationMessagePath to populate the container status message on both success and failure. FallbackToLogsOnError will use the last chunk of container log output if the termination message file is empty and the container exited with an error. The log output is limited to 2048 bytes or 80 lines, whichever is smaller. Defaults to File. Cannot be updated."
        },
        "securityContext": {
          "$ref": "SecurityContext",
          "description": "Not supported by Cloud Run."
        }
      }
    },
    "ListServicesResponse": {
      "description": "A list of Service resources.",
      "properties": {
        "kind": {
          "type": "string",
          "description": "The kind of this resource; returns \"ServiceList\"."
        },
        "apiVersion": {
          "type": "string",
          "description": "The API version for this call; returns \"serving.knative.dev/v1\"."
        },
        "items": {
          "description": "List of Services.",
          "type": "array",
          "items": {
            "$ref": "Service"
          }
        },
        "metadata": {
          "$ref": "ListMeta",
          "description": "Metadata associated with this Service list."
        },
        "unreachable": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "For calls against the global endpoint, returns the list of Cloud locations that could not be reached. For regional calls, this field is not used."
        }
      },
      "id": "ListServicesResponse",
      "type": "object"
    },
    "GoogleDevtoolsCloudbuildV1GitSource": {
      "description": "Location of the source in any accessible Git repository.",
      "properties": {
        "url": {
          "type": "string",
          "description": "Required. Location of the Git repo to build. This will be used as a `git remote`, see https://git-scm.com/docs/git-remote."
        },
        "revision": {
          "type": "string",
          "description": "Optional. The revision to fetch from the Git repository such as a branch, a tag, a commit SHA, or any Git ref. Cloud Build uses `git fetch` to fetch the revision from the Git repository; therefore make sure that the string you provide for `revision` is parsable by the command. For information on string values accepted by `git fetch`, see https://git-scm.com/docs/gitrevisions#_specifying_revisions. For information on `git fetch`, see https://git-scm.com/docs/git-fetch."
        },
        "dir": {
          "description": "Optional. Directory, relative to the source root, in which to run the build. This must be a relative path. If a step's `dir` is specified and is an absolute path, this value is ignored for that step's execution.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleDevtoolsCloudbuildV1GitSource"
    },
    "RevisionSpec": {
      "properties": {
        "containerConcurrency": {
          "description": "ContainerConcurrency specifies the maximum allowed in-flight (concurrent) requests per container instance of the Revision. If not specified or 0, defaults to 80 when requested CPU >= 1 and defaults to 1 when requested CPU < 1.",
          "format": "int32",
          "type": "integer"
        },
        "runtimeClassName": {
          "description": "Optional. Runtime. Leave unset for default.",
          "type": "string"
        },
        "serviceAccountName": {
          "description": "Email address of the IAM service account associated with the revision of the service. The service account represents the identity of the running revision, and determines what permissions the revision has. If not provided, the revision will use the project's default service account.",
          "type": "string"
        },
        "enableServiceLinks": {
          "description": "Not supported by Cloud Run.",
          "type": "boolean"
        },
        "volumes": {
          "type": "array",
          "items": {
            "$ref": "Volume"
          }
        },
        "nodeSelector": {
          "description": "Optional. The Node Selector configuration. Map of selector key to a value which matches a node.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "imagePullSecrets": {
          "type": "array",
          "items": {
            "$ref": "LocalObjectReference"
          },
          "description": "Not supported by Cloud Run."
        },
        "timeoutSeconds": {
          "description": "Optional. TimeoutSeconds holds the max duration the instance is allowed for responding to a request. Cloud Run: defaults to 300 seconds (5 minutes). Maximum allowed value is 3600 seconds (1 hour).",
          "format": "int32",
          "type": "integer"
        },
        "containers": {
          "items": {
            "$ref": "Container"
          },
          "type": "array",
          "description": "Required. Containers holds the list which define the units of execution for this Revision."
        }
      },
      "description": "RevisionSpec holds the desired state of the Revision (from the client).",
      "type": "object",
      "id": "RevisionSpec"
    },
    "VolumeMount": {
      "properties": {
        "subPath": {
[...]
