{
  "rootUrl": "https://run.googleapis.com/",
  "batchPath": "batch",
  "discoveryVersion": "v1",
  "ownerDomain": "google.com",
  "version_module": true,
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "id": "run:v1",
  "name": "run",
  "endpoints": [
    {
      "description": "Locational Endpoint",
      "location": "africa-south1",
      "endpointUrl": "https://africa-south1-run.googleapis.com/"
    },
    {
      "endpointUrl": "https://asia-east1-run.googleapis.com/",
      "location": "asia-east1",
      "description": "Locational Endpoint"
    },
    {
      "location": "asia-east2",
      "description": "Locational Endpoint",
      "endpointUrl": "https://asia-east2-run.googleapis.com/"
    },
    {
      "endpointUrl": "https://asia-northeast1-run.googleapis.com/",
      "description": "Locational Endpoint",
      "location": "asia-northeast1"
    },
    {
      "location": "asia-northeast2",
      "endpointUrl": "https://asia-northeast2-run.googleapis.com/",
      "description": "Locational Endpoint"
    },
    {
      "endpointUrl": "https://asia-northeast3-run.googleapis.com/",
      "location": "asia-northeast3",
      "description": "Locational Endpoint"
    },
    {
      "description": "Locational Endpoint",
      "endpointUrl": "https://asia-south1-run.googleapis.com/",
      "location": "asia-south1"
    },
    {
      "endpointUrl": "https://asia-south2-run.googleapis.com/",
      "location": "asia-south2",
      "description": "Locational Endpoint"
    },
    {
      "endpointUrl": "https://asia-southeast1-run.googleapis.com/",
      "location": "asia-southeast1",
      "description": "Locational Endpoint"
    },
    {
      "endpointUrl": "https://asia-southeast2-run.googleapis.com/",
      "description": "Locational Endpoint",
      "location": "asia-southeast2"
    },
    {
      "description": "Locational Endpoint",
      "location": "asia-southeast3",
      "endpointUrl": "https://asia-southeast3-run.googleapis.com/"
    },
    {
      "description": "Locational Endpoint",
      "endpointUrl": "https://asia-southeast4-run.googleapis.com/",
      "location": "asia-southeast4"
    },
    {
      "endpointUrl": "https://australia-southeast1-run.googleapis.com/",
      "location": "australia-southeast1",
      "description": "Locational Endpoint"
    },
    {
      "endpointUrl": "https://australia-southeast2-run.googleapis.com/",
      "location": "australia-southeast2",
      "description": "Locational Endpoint"
    },
    {
      "description": "Locational Endpoint",
      "location": "europe-central2",
      "endpointUrl": "https://europe-central2-run.googleapis.com/"
    },
    {
      "location": "europe-north1",
      "description": "Locational Endpoint",
      "endpointUrl": "https://europe-north1-run.googleapis.com/"
    },
    {
      "location": "europe-north2",
      "endpointUrl": "https://europe-north2-run.googleapis.com/",
      "description": "Locational Endpoint"
    },
    {
      "endpointUrl": "https://europe-southwest1-run.googleapis.com/",
      "location": "europe-southwest1",
      "description": "Locational Endpoint"
    },
    {
      "description": "Locational Endpoint",
      "endpointUrl": "https://europe-west1-run.googleapis.com/",
      "location": "europe-west1"
    },
    {
      "description": "Locational Endpoint",
      "endpointUrl": "https://europe-west10-run.googleapis.com/",
      "location": "europe-west10"
    },
    {
      "description": "Locational Endpoint",
      "endpointUrl": "https://europe-west12-run.googleapis.com/",
      "location": "europe-west12"
    },
    {
      "location": "europe-west15",
      "endpointUrl": "https://europe-west15-run.googleapis.com/",
      "description": "Locational Endpoint"
    },
    {
      "location": "europe-west2",
      "description": "Locational Endpoint",
      "endpointUrl": "https://europe-west2-run.googleapis.com/"
    },
    {
      "description": "Locational Endpoint",
      "endpointUrl": "https://europe-west3-run.googleapis.com/",
      "location": "europe-west3"
    },
    {
      "description": "Locational Endpoint",
      "location": "europe-west4",
      "endpointUrl": "https://europe-west4-run.googleapis.com/"
    },
    {
      "description": "Locational Endpoint",
      "location": "europe-west6",
      "endpointUrl": "https://europe-west6-run.googleapis.com/"
    },
    {
      "location": "europe-west8",
      "description": "Locational Endpoint",
      "endpointUrl": "https://europe-west8-run.googleapis.com/"
    },
    {
      "location": "europe-west9",
      "description": "Locational Endpoint",
      "endpointUrl": "https://europe-west9-run.googleapis.com/"
    },
    {
      "description": "Locational Endpoint",
      "location": "me-central1",
      "endpointUrl": "https://me-central1-run.googleapis.com/"
    },
    {
      "endpointUrl": "https://me-central2-run.googleapis.com/",
      "location": "me-central2",
      "description": "Locational Endpoint"
    },
    {
      "endpointUrl": "https://me-west1-run.googleapis.com/",
      "location": "me-west1",
      "description": "Locational Endpoint"
    },
    {
      "description": "Locational Endpoint",
      "location": "northamerica-northeast1",
      "endpointUrl": "https://northamerica-northeast1-run.googleapis.com/"
    },
    {
      "endpointUrl": "https://northamerica-northeast2-run.googleapis.com/",
      "location": "northamerica-northeast2",
      "description": "Locational Endpoint"
    },
    {
      "endpointUrl": "https://northamerica-south1-run.googleapis.com/",
      "location": "northamerica-south1",
      "description": "Locational Endpoint"
    },
    {
      "endpointUrl": "https://southamerica-east1-run.googleapis.com/",
      "description": "Locational Endpoint",
      "location": "southamerica-east1"
    },
    {
      "location": "southamerica-west1",
      "endpointUrl": "https://southamerica-west1-run.googleapis.com/",
      "description": "Locational Endpoint"
    },
    {
      "endpointUrl": "https://us-central1-run.googleapis.com/",
      "location": "us-central1",
      "description": "Locational Endpoint"
    },
    {
      "description": "Locational Endpoint",
      "endpointUrl": "https://us-central2-run.googleapis.com/",
      "location": "us-central2"
    },
    {
      "description": "Locational Endpoint",
      "location": "us-east1",
      "endpointUrl": "https://us-east1-run.googleapis.com/"
    },
    {
      "location": "us-east4",
      "endpointUrl": "https://us-east4-run.googleapis.com/",
      "description": "Locational Endpoint"
    },
    {
      "description": "Locational Endpoint",
      "endpointUrl": "https://us-east5-run.googleapis.com/",
      "location": "us-east5"
    },
    {
      "endpointUrl": "https://us-east7-run.googleapis.com/",
      "location": "us-east7",
      "description": "Locational Endpoint"
    },
    {
      "location": "us-south1",
      "endpointUrl": "https://us-south1-run.googleapis.com/",
      "description": "Locational Endpoint"
    },
    {
      "endpointUrl": "https://us-west1-run.googleapis.com/",
      "location": "us-west1",
      "description": "Locational Endpoint"
    },
    {
      "endpointUrl": "https://us-west2-run.googleapis.com/",
      "location": "us-west2",
      "description": "Locational Endpoint"
    },
    {
      "endpointUrl": "https://us-west3-run.googleapis.com/",
      "location": "us-west3",
      "description": "Locational Endpoint"
    },
    {
      "endpointUrl": "https://us-west4-run.googleapis.com/",
      "location": "us-west4",
      "description": "Locational Endpoint"
    },
    {
      "endpointUrl": "https://us-west8-run.googleapis.com/",
      "description": "Locational Endpoint",
      "location": "us-west8"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://run.africa-south1.rep.googleapis.com/",
      "location": "africa-south1"
    },
    {
      "location": "asia-east1",
      "description": "Regional Endpoint",
      "endpointUrl": "https://run.asia-east1.rep.googleapis.com/"
    },
    {
      "location": "asia-east2",
      "description": "Regional Endpoint",
      "endpointUrl": "https://run.asia-east2.rep.googleapis.com/"
    },
    {
      "location": "asia-northeast1",
      "description": "Regional Endpoint",
      "endpointUrl": "https://run.asia-northeast1.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "location": "asia-northeast2",
      "endpointUrl": "https://run.asia-northeast2.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://run.asia-northeast3.rep.googleapis.com/",
      "location": "asia-northeast3"
    },
    {
      "endpointUrl": "https://run.asia-south1.rep.googleapis.com/",
      "location": "asia-south1",
      "description": "Regional Endpoint"
    },
    {
      "location": "asia-south2",
      "endpointUrl": "https://run.asia-south2.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://run.asia-southeast1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "asia-southeast1"
    },
    {
      "endpointUrl": "https://run.asia-southeast2.rep.googleapis.com/",
      "location": "asia-southeast2",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://run.asia-southeast3.rep.googleapis.com/",
      "location": "asia-southeast3"
    },
    {
      "description": "Regional Endpoint",
      "location": "asia-southeast4",
      "endpointUrl": "https://run.asia-southeast4.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://run.australia-southeast1.rep.googleapis.com/",
      "location": "australia-southeast1"
    },
    {
      "endpointUrl": "https://run.australia-southeast2.rep.googleapis.com/",
      "location": "australia-southeast2",
      "description": "Regional Endpoint"
    },
    {
      "location": "europe-central2",
      "endpointUrl": "https://run.europe-central2.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "europe-north1",
      "description": "Regional Endpoint",
      "endpointUrl": "https://run.europe-north1.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://run.europe-north2.rep.googleapis.com/",
      "location": "europe-north2"
    },
    {
      "description": "Regional Endpoint",
      "location": "europe-southwest1",
      "endpointUrl": "https://run.europe-southwest1.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://run.europe-west1.rep.googleapis.com/",
      "location": "europe-west1"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://run.europe-west10.rep.googleapis.com/",
      "location": "europe-west10"
    },
    {
      "description": "Regional Endpoint",
      "location": "europe-west12",
      "endpointUrl": "https://run.europe-west12.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "location": "europe-west15",
      "endpointUrl": "https://run.europe-west15.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "location": "europe-west2",
      "endpointUrl": "https://run.europe-west2.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://run.europe-west3.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "europe-west3"
    },
    {
      "endpointUrl": "https://run.europe-west4.rep.googleapis.com/",
      "location": "europe-west4",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://run.europe-west6.rep.googleapis.com/",
      "location": "europe-west6",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://run.europe-west8.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "europe-west8"
    },
    {
      "description": "Regional Endpoint",
      "location": "europe-west9",
      "endpointUrl": "https://run.europe-west9.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://run.me-central1.rep.googleapis.com/",
      "location": "me-central1"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://run.me-central2.rep.googleapis.com/",
      "location": "me-central2"
    },
    {
      "endpointUrl": "https://run.me-west1.rep.googleapis.com/",
      "location": "me-west1",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "location": "northamerica-northeast1",
      "endpointUrl": "https://run.northamerica-northeast1.rep.googleapis.com/"
    },
    {
      "location": "northamerica-northeast2",
      "description": "Regional Endpoint",
      "endpointUrl": "https://run.northamerica-northeast2.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://run.northamerica-south1.rep.googleapis.com/",
      "location": "northamerica-south1"
    },
    {
      "description": "Regional Endpoint",
      "location": "southamerica-east1",
      "endpointUrl": "https://run.southamerica-east1.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://run.southamerica-west1.rep.googleapis.com/",
      "location": "southamerica-west1"
    },
    {
      "location": "us-central1",
      "description": "Regional Endpoint",
      "endpointUrl": "https://run.us-central1.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://run.us-central2.rep.googleapis.com/",
      "location": "us-central2",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://run.us-east1.rep.googleapis.com/",
      "location": "us-east1",
      "description": "Regional Endpoint"
    },
    {
      "location": "us-east4",
      "endpointUrl": "https://run.us-east4.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://run.us-east5.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "us-east5"
    },
    {
      "endpointUrl": "https://run.us-east7.rep.googleapis.com/",
      "location": "us-east7",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://run.us-south1.rep.googleapis.com/",
      "location": "us-south1",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://run.us-west1.rep.googleapis.com/",
      "location": "us-west1"
    },
    {
      "location": "us-west2",
      "description": "Regional Endpoint",
      "endpointUrl": "https://run.us-west2.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "location": "us-west3",
      "endpointUrl": "https://run.us-west3.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "location": "us-west4",
      "endpointUrl": "https://run.us-west4.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://run.us-west8.rep.googleapis.com/",
      "location": "us-west8",
      "description": "Regional Endpoint"
    }
  ],
  "basePath": "",
  "canonicalName": "Cloud Run",
  "servicePath": "",
  "fullyEncodeReservedExpansion": true,
  "revision": "20260911",
  "baseUrl": "https://run.googleapis.com/",
  "kind": "discovery#restDescription",
  "documentationLink": "https://cloud.google.com/run/",
  "title": "Cloud Run Admin API",
  "version": "v1",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/run.readonly": {
          "description": "See your Google Cloud Run data and the email address of your Google Account"
        },
        "https://www.googleapis.com/auth/run": {
          "description": "See, edit, configure, and delete your Google Cloud Run data and see the email address for your Google Account"
        },
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "description": "Deploy and manage user provided container images that scale automatically based on incoming requests. The Cloud Run Admin API v1 follows the Knative Serving API specification, while v2 is aligned with Google Cloud AIP-based API standards, as described in https://google.aip.dev/.",
  "ownerName": "Google",
  "parameters": {
    "prettyPrint": {
      "type": "boolean",
      "location": "query",
      "description": "Returns response with indentations and line breaks.",
      "default": "true"
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "$.xgafv": {
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "enum": [
        "1",
        "2"
      ],
      "type": "string",
      "location": "query",
      "description": "V1 error format."
    },
    "alt": {
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "description": "Data format for response.",
      "type": "string",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "default": "json",
      "location": "query"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query",
      "type": "string"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "type": "string",
      "location": "query"
    },
    "key": {
      "type": "string",
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "callback": {
      "location": "query",
      "type": "string",
      "description": "JSONP"
    },
    "uploadType": {
      "type": "string",
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "upload_protocol": {
      "type": "string",
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "access_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth access token."
    }
  },
  "protocol": "rest",
  "resources": {
    "projects": {
      "resources": {
        "authorizeddomains": {
          "methods": {
            "list": {
              "description": "List authorized domains.",
              "httpMethod": "GET",
              "response": {
                "$ref": "ListAuthorizedDomainsResponse"
              },
              "parameterOrder": [
                "parent"
              ],
              "flatPath": "v1/projects/{projectsId}/authorizeddomains",
              "path": "v1/{+parent}/authorizeddomains",
              "id": "run.projects.authorizeddomains.list",
              "parameters": {
                "pageSize": {
                  "location": "query",
                  "format": "int32",
                  "description": "Maximum results to return per page.",
                  "type": "integer"
                },
                "pageToken": {
                  "description": "Continuation token for fetching the next page of results.",
                  "location": "query",
                  "type": "string"
                },
                "parent": {
                  "description": "Name of the parent Project resource. Example: `projects/myproject`.",
                  "type": "string",
                  "required": true,
                  "pattern": "^projects/[^/]+$",
                  "location": "path"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/run",
                "https://www.googleapis.com/auth/run.readonly"
              ]
            }
          }
        },
        "locations": {
          "methods": {
            "list": {
              "description": "Lists information about the supported locations for this service. This method lists locations based on the resource scope provided in the ListLocationsRequest.name field: * **Global locations**: If `name` is empty, the method lists the public locations available to all projects. * **Project-specific locations**: If `name` follows the format `projects/{project}`, the method lists locations visible to that specific project. This includes public, private, or other project-specific locations enabled for the project. For gRPC and client library implementations, the resource name is passed as the `name` field. For direct service calls, the resource name is incorporated into the request path based on the specific service implementation and version.",
              "response": {
                "$ref": "ListLocationsResponse"
              },
              "path": "v1/{+name}/locations",
              "httpMethod": "GET",
              "parameterOrder": [
                "name"
              ],
              "id": "run.projects.locations.list",
              "parameters": {
                "filter": {
                  "location": "query",
                  "description": "A filter to narrow down results to a preferred subset. The filtering language accepts strings like `\"displayName=tokyo\"`, and is documented in more detail in [AIP-160](https://google.aip.dev/160).",
                  "type": "string"
                },
                "extraLocationTypes": {
                  "repeated": true,
                  "description": "Optional. Do not use this field unless explicitly documented otherwise. This is primarily for internal usage.",
                  "type": "string",
                  "location": "query"
                },
                "name": {
                  "location": "path",
                  "type": "string",
                  "pattern": "^projects/[^/]+$",
                  "required": true,
                  "description": "The resource that owns the locations collection, if applicable."
                },
                "pageToken": {
                  "location": "query",
                  "type": "string",
                  "description": "A page token received from the `next_page_token` field in the response. Send that page token to receive the subsequent page."
                },
                "pageSize": {
                  "description": "The maximum number of results to return. If not set, the service selects a default.",
                  "format": "int32",
                  "type": "integer",
                  "location": "query"
                }
              },
              "flatPath": "v1/projects/{projectsId}/locations",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/run",
                "https://www.googleapis.com/auth/run.readonly"
              ]
            }
          },
          "resources": {
            "workerpools": {
              "methods": {
                "getIamPolicy": {
                  "parameters": {
                    "resource": {
                      "required": true,
                      "description": "REQUIRED: The resource for which the policy is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/workerpools/[^/]+$",
                      "location": "path"
                    },
                    "options.requestedPolicyVersion": {
                      "type": "integer",
                      "description": "Optional. The maximum policy version that will be used to format the policy. Valid values are 0, 1, and 3. Requests specifying an invalid value will be rejected. Requests for policies with any conditional role bindings must specify version 3. Policies with no conditional role bindings may specify any valid value or leave the field unset. The policy in the response might use the policy version that you specified, or it might use a lower policy version. For example, if you specify version 3, but the policy has no conditional role bindings, the response uses version 1. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies).",
                      "location": "query",
                      "format": "int32"
                    }
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/workerpools/{workerpoolsId}:getIamPolicy",
                  "path": "v1/{+resource}:getIamPolicy",
                  "response": {
                    "$ref": "Policy"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/run",
                    "https://www.googleapis.com/auth/run.readonly"
                  ],
                  "httpMethod": "GET",
                  "description": "Get the IAM Access Control policy currently in effect for the given worker pool. This result does not include any inherited policies.",
                  "id": "run.projects.locations.workerpools.getIamPolicy",
                  "parameterOrder": [
                    "resource"
                  ]
                },
                "testIamPermissions": {
                  "description": "Returns permissions that a caller has on the specified worker pool. There are no permissions required for making this API call.",
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "TestIamPermissionsRequest"
                  },
                  "path": "v1/{+resource}:testIamPermissions",
                  "response": {
                    "$ref": "TestIamPermissionsResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/run",
                    "https://www.googleapis.com/auth/run.readonly"
                  ],
                  "parameterOrder": [
                    "resource"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/workerpools/{workerpoolsId}:testIamPermissions",
                  "parameters": {
                    "resource": {
                      "description": "REQUIRED: The resource for which the policy detail is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/workerpools/[^/]+$",
                      "type": "string"
                    }
                  },
                  "id": "run.projects.locations.workerpools.testIamPermissions"
                },
                "setIamPolicy": {
                  "request": {
                    "$ref": "SetIamPolicyRequest"
                  },
                  "response": {
                    "$ref": "Policy"
                  },
                  "id": "run.projects.locations.workerpools.setIamPolicy",
                  "parameters": {
                    "resource": {
                      "required": true,
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/workerpools/[^/]+$",
                      "description": "REQUIRED: The resource for which the policy is being specified. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
                      "location": "path"
                    }
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/workerpools/{workerpoolsId}:setIamPolicy",
                  "parameterOrder": [
                    "resource"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/run"
                  ],
                  "description": "Sets the IAM Access control policy for the specified worker pool. Overwrites any existing policy.",
                  "httpMethod": "POST",
                  "path": "v1/{+resource}:setIamPolicy"
                }
              }
            },
            "operations": {
              "methods": {
                "get": {
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}",
                  "path": "v1/{+name}",
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "run.projects.locations.operations.get",
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/run",
                    "https://www.googleapis.com/auth/run.readonly"
                  ],
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "type": "string",
                      "required": true,
                      "description": "The name of the operation resource."
                    }
                  }
                },
                "delete": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/run"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1/{+name}",
                  "description": "Deletes a long-running operation. This method indicates that the client is no longer interested in the operation result. It does not cancel the operation. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`.",
                  "httpMethod": "DELETE",
                  "response": {
                    "$ref": "Empty"
                  },
                  "id": "run.projects.locations.operations.delete",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "required": true,
                      "description": "The name of the operation resource to be deleted."
                    }
                  }
                },
                "list": {
                  "response": {
                    "$ref": "GoogleLongrunningListOperationsResponse"
                  },
                  "path": "v1/{+name}/operations",
                  "parameters": {
                    "pageToken": {
                      "description": "Token identifying which result to start with, which is returned by a previous list call.",
                      "location": "query",
                      "type": "string"
                    },
                    "returnPartialSuccess": {
                      "description": "When set to `true`, operations that are reachable are returned as normal, and those that are unreachable are returned in the ListOperationsResponse.unreachable field. This can only be `true` when reading across collections. For example, when `parent` is set to `\"projects/example/locations/-\"`. This field is not supported by default and will result in an `UNIMPLEMENTED` error if set unless explicitly documented otherwise in service or product specific documentation.",
                      "location": "query",
                      "type": "boolean"
                    },
                    "filter": {
                      "type": "string",
                      "location": "query",
                      "description": "Optional. A filter for matching the completed or in-progress operations. The supported formats of *filter* are: To query for only completed operations: done:true To query for only ongoing operations: done:false Must be empty to query for all of the latest operations for the given parent project."
                    },
                    "name": {
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "description": "Required. To query for all of the operations for a project.",
                      "location": "path",
                      "type": "string"
                    },
                    "pageSize": {
                      "description": "The maximum number of records that should be returned. Requested page size cannot exceed 100. If not set or set to less than or equal to 0, the default page size is 100. .",
                      "location": "query",
                      "format": "int32",
                      "type": "integer"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "GET",
                  "id": "run.projects.locations.operations.list",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations",
                  "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/run",
                    "https://www.googleapis.com/auth/run.readonly"
                  ]
                },
                "wait": {
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "required": true,
                      "location": "path",
                      "type": "string",
                      "description": "The name of the operation resource to wait on."
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "POST",
                  "path": "v1/{+name}:wait",
                  "request": {
                    "$ref": "GoogleLongrunningWaitOperationRequest"
                  },
                  "id": "run.projects.locations.operations.wait",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}:wait",
                  "description": "Waits until the specified long-running operation is done or reaches at most a specified timeout, returning the latest state. If the operation is already done, the latest state is immediately returned. If the timeout specified is greater than the default HTTP/RPC timeout, the HTTP/RPC timeout is used. If the server does not support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Note that this method is on a best-effort basis. It may return the latest state before the specified timeout (including immediately), meaning even an immediate response is no guarantee that the operation is done.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/run",
                    "https://www.googleapis.com/auth/run.readonly"
                  ]
                }
              }
            },
            "domainmappings": {
              "methods": {
                "get": {
                  "parameters": {
                    "name": {
                      "location": "path",
                      "description": "Required. The name of the domain mapping to retrieve. For Cloud Run (fully managed), replace {namespace} with the project ID or number. It takes the form namespaces/{namespace}. For example: namespaces/PROJECT_ID",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/domainmappings/[^/]+$",
                      "required": true
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/run",
                    "https://www.googleapis.com/auth/run.readonly"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/domainmappings/{domainmappingsId}",
                  "description": "Get information about a domain mapping.",
                  "id": "run.projects.locations.domainmappings.get",
                  "response": {
                    "$ref": "DomainMapping"
                  },
                  "httpMethod": "GET",
                  "path": "v1/{+name}"
                },
                "delete": {
                  "id": "run.projects.locations.domainmappings.delete",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/domainmappings/{domainmappingsId}",
                  "httpMethod": "DELETE",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/run"
                  ],
                  "description": "Delete a domain mapping.",
                  "parameters": {
                    "name": {
                      "description": "Required. The name of the domain mapping to delete. For Cloud Run (fully managed), replace {namespace} with the project ID or number. It takes the form namespaces/{namespace}. For example: namespaces/PROJECT_ID",
                      "pattern": "^projects/[^/]+/locations/[^/]+/domainmappings/[^/]+$",
                      "required": true,
                      "location": "path",
                      "type": "string"
                    },
                    "apiVersion": {
                      "type": "string",
                      "description": "Cloud Run currently ignores this parameter.",
                      "location": "query"
                    },
                    "dryRun": {
                      "type": "string",
                      "description": "Indicates that the server should validate the request and populate default values without persisting the request. Supported values: `all`",
                      "location": "query"
                    },
                    "propagationPolicy": {
                      "description": "Specifies the propagation policy of delete. Cloud Run currently ignores this setting, and deletes in the background. Please see kubernetes.io/docs/concepts/architecture/garbage-collection/ for more information.",
                      "location": "query",
                      "type": "string"
                    },
                    "kind": {
                      "location": "query",
                      "type": "string",
                      "description": "Cloud Run currently ignores this parameter."
                    }
                  },
                  "path": "v1/{+name}",
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "Status"
                  }
                },
                "list": {
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "parent"
                  ],
                  "description": "List all domain mappings.",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/domainmappings",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/run",
                    "https://www.googleapis.com/auth/run.readonly"
                  ],
                  "parameters": {
                    "includeUninitialized": {
                      "location": "query",
                      "description": "Not currently used by Cloud Run.",
                      "type": "boolean"
                    },
                    "resourceVersion": {
                      "type": "string",
                      "location": "query",
                      "description": "The baseline resource version from which the list or watch operation should start. Not currently used by Cloud Run."
                    },
                    "labelSelector": {
                      "description": "Allows to filter resources based on a label. Supported operations are =, !=, exists, in, and notIn.",
                      "location": "query",
                      "type": "string"
                    },
                    "watch": {
                      "description": "Flag that indicates that the client expects to watch this resource as well. Not currently used by Cloud Run.",
                      "location": "query",
                      "type": "boolean"
                    },
                    "continue": {
                      "location": "query",
                      "description": "Optional. Encoded string to continue paging.",
                      "type": "string"
                    },
                    "fieldSelector": {
                      "description": "Allows to filter resources based on a specific value for a field name. Send this in a query string format. i.e. 'metadata.name%3Dlorem'. Not currently used by Cloud Run.",
                      "location": "query",
                      "type": "string"
                    },
                    "parent": {
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "type": "string",
                      "description": "Required. The namespace from which the domain mappings should be listed. For Cloud Run (fully managed), replace {namespace} with the project ID or number. It takes the form namespaces/{namespace}. For example: namespaces/PROJECT_ID"
                    },
                    "limit": {
                      "type": "integer",
                      "description": "Optional. The maximum number of records that should be returned.",
                      "location": "query",
                      "format": "int32"
                    }
                  },
                  "response": {
                    "$ref": "ListDomainMappingsResponse"
                  },
                  "path": "v1/{+parent}/domainmappings",
                  "id": "run.projects.locations.domainmappings.list"
                },
                "create": {
                  "id": "run.projects.locations.domainmappings.create",
                  "response": {
                    "$ref": "DomainMapping"
                  },
                  "parameters": {
                    "parent": {
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path",
                      "required": true,
                      "description": "Required. The namespace in which the domain mapping should be created. For Cloud Run (fully managed), replace {namespace} with the project ID or number. It takes the form namespaces/{namespace}. For example: namespaces/PROJECT_ID",
                      "type": "string"
                    },
                    "dryRun": {
                      "location": "query",
                      "type": "string",
                      "description": "Indicates that the server should validate the request and populate default values without persisting the request. Supported values: `all`"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/run"
                  ],
                  "path": "v1/{+parent}/domainmappings",
                  "description": "Create a new domain mapping.",
                  "parameterOrder": [
                    "parent"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/domainmappings",
                  "request": {
                    "$ref": "DomainMapping"
                  },
                  "httpMethod": "POST"
                }
              }
            },
            "services": {
              "methods": {
                "delete": {
                  "path": "v1/{+name}",
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "DELETE",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/services/{servicesId}",
                  "description": "Deletes the provided service. This will cause the Service to stop serving traffic and will delete all associated Revisions.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/run"
                  ],
                  "response": {
                    "$ref": "Status"
                  },
                  "id": "run.projects.locations.services.delete",
                  "parameters": {
                    "kind": {
                      "location": "query",
                      "type": "string",
                      "description": "Not supported, and ignored by Cloud Run."
                    },
                    "dryRun": {
                      "location": "query",
                      "type": "string",
                      "description": "Indicates that the server should validate the request and populate default values without persisting the request. Supported values: `all`"
                    },
                    "name": {
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/services/[^/]+$",
                      "type": "string",
                      "description": "Required. The fully qualified name of the service to delete. It can be any of the following forms: * `namespaces/{project_id_or_number}/services/{service_name}` (only when the `endpoint` is regional) * `projects/{project_id_or_number}/locations/{region}/services/{service_name}` * `projects/{project_id_or_number}/regions/{region}/services/{service_name}`"
                    },
                    "apiVersion": {
                      "type": "string",
                      "description": "Not supported, and ignored by Cloud Run.",
                      "location": "query"
                    },
                    "propagationPolicy": {
                      "location": "query",
                      "description": "Not supported, and ignored by Cloud Run.",
                      "type": "string"
                    }
                  }
                },
                "setIamPolicy": {
                  "httpMethod": "POST",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/services/{servicesId}:setIamPolicy",
                  "request": {
                    "$ref": "SetIamPolicyRequest"
                  },
                  "path": "v1/{+resource}:setIamPolicy",
                  "id": "run.projects.locations.services.setIamPolicy",
                  "description": "Sets the IAM Access control policy for the specified Service. Overwrites any existing policy.",
                  "parameters": {
                    "resource": {
                      "type": "string",
                      "description": "REQUIRED: The resource for which the policy is being specified. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/services/[^/]+$",
                      "location": "path"
                    }
                  },
                  "response": {
                    "$ref": "Policy"
                  },
                  "parameterOrder": [
                    "resource"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/run"
                  ]
                },
                "replaceService": {
                  "parameters": {
                    "name": {
                      "required": true,
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/services/[^/]+$",
                      "description": "Required. The fully qualified name of the service to replace. It can be any of the following forms: * `namespaces/{project_id_or_number}/services/{service_name}` (only when the `endpoint` is regional) * `projects/{project_id_or_number}/locations/{region}/services/{service_name}` * `projects/{project_id_or_number}/regions/{region}/services/{service_name}`",
                      "location": "path"
                    },
                    "dryRun": {
                      "type": "string",
                      "location": "query",
                      "description": "Indicates that the server should validate the request and populate default values without persisting the request. Supported values: `all`"
                    }
                  },
                  "path": "v1/{+name}",
                  "description": "Replaces a service. Only the spec and metadata labels and annotations are modifiable. After the Update request, Cloud Run will work to make the 'status' match the requested 'spec'. May provide metadata.resourceVersion to enforce update from last read for optimistic concurrency control.",
                  "response": {
                    "$ref": "Service"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/run"
                  ],
                  "id": "run.projects.locations.services.replaceService",
                  "httpMethod": "PUT",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/services/{servicesId}",
                  "parameterOrder": [
                    "name"
                  ],
                  "request": {
                    "$ref": "Service"
                  }
                },
                "testIamPermissions": {
                  "httpMethod": "POST",
                  "response": {
                    "$ref": "TestIamPermissionsResponse"
                  },
                  "id": "run.projects.locations.services.testIamPermissions",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/run",
                    "https://www.googleapis.com/auth/run.readonly"
                  ],
                  "description": "Returns permissions that a caller has on the specified Project. There are no permissions required for making this API call.",
                  "request": {
                    "$ref": "TestIamPermissionsRequest"
                  },
                  "path": "v1/{+resource}:testIamPermissions",
                  "parameters": {
                    "resource": {
                      "required": true,
                      "description": "REQUIRED: The resource for which the policy detail is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/services/[^/]+$",
                      "location": "path"
                    }
                  },
                  "parameterOrder": [
                    "resource"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/services/{servicesId}:testIamPermissions"
                },
                "create": {
                  "parameterOrder": [
                    "parent"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/run"
                  ],
                  "httpMethod": "POST",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/services",
                  "path": "v1/{+parent}/services",
                  "request": {
                    "$ref": "Service"
                  },
                  "id": "run.projects.locations.services.create",
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "type": "string",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "description": "Required. The resource's parent. In Cloud Run, it may be one of the following: * `{project_id_or_number}` * `namespaces/{project_id_or_number}` * `namespaces/{project_id_or_number}/services` * `projects/{project_id_or_number}/locations/{region}` * `projects/{project_id_or_number}/regions/{region}`"
                    },
                    "dryRun": {
                      "type": "string",
                      "description": "Indicates that the server should validate the request and populate default values without persisting the request. Supported values: `all`",
                      "location": "query"
                    }
                  },
                  "description": "Creates a new Service. Service creation will trigger a new deployment. Use GetService, and check service.status to determine if the Service is ready.",
                  "response": {
                    "$ref": "Service"
                  }
                },
                "list": {
                  "id": "run.projects.locations.services.list",
                  "description": "Lists services for the given project and region. Results are sorted by creation time, descending.",
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "ListServicesResponse"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/services",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/run",
                    "https://www.googleapis.com/auth/run.readonly"
                  ],
                  "path": "v1/{+parent}/services",
                  "parameters": {
                    "includeUninitialized": {
                      "location": "query",
                      "description": "Not supported, and ignored by Cloud Run.",
                      "type": "boolean"
                    },
                    "labelSelector": {
                      "description": "Allows to filter resources based on a label. Supported operations are =, !=, exists, in, and notIn.",
                      "type": "string",
                      "location": "query"
                    },
                    "continue": {
                      "location": "query",
                      "type": "string",
                      "description": "Encoded string to continue paging."
                    },
                    "fieldSelector": {
                      "description": "Not supported, and ignored by Cloud Run.",
                      "location": "query",
                      "type": "string"
                    },
                    "parent": {
                      "description": "Required. The parent from where the resources should be listed. In Cloud Run, it may be one of the following: * `{project_id_or_number}` * `namespaces/{project_id_or_number}` * `namespaces/{project_id_or_number}/services` * `projects/{project_id_or_number}/locations/{region}` * `projects/{project_id_or_number}/regions/{region}`",
                      "type": "string",
                      "required": true,
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+$"
                    },
                    "watch": {
                      "location": "query",
                      "type": "boolean",
                      "description": "Not supported, and ignored by Cloud Run."
                    },
                    "resourceVersion": {
                      "location": "query",
                      "description": "Not supported, and ignored by Cloud Run.",
                      "type": "string"
                    },
                    "limit": {
                      "location": "query",
                      "description": "The maximum number of records that should be returned.",
                      "type": "integer",
                      "format": "int32"
                    }
                  }
                },
                "get": {
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/run",
                    "https://www.googleapis.com/auth/run.readonly"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/services/{servicesId}",
                  "description": "Gets information about a service.",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/services/[^/]+$",
                      "description": "Required. The fully qualified name of the service to retrieve. It can be any of the following forms: * `namespaces/{project_id_or_number}/services/{service_name}` (only when the `endpoint` is regional) * `projects/{project_id_or_number}/locations/{region}/services/{service_name}` * `projects/{project_id_or_number}/regions/{region}/services/{service_name}`",
                      "required": true
                    }
                  },
                  "response": {
                    "$ref": "Service"
                  },
                  "id": "run.projects.locations.services.get",
                  "path": "v1/{+name}",
                  "parameterOrder": [
                    "name"
                  ]
                },
                "getIamPolicy": {
                  "path": "v1/{+resource}:getIamPolicy",
                  "id": "run.projects.locations.services.getIamPolicy",
                  "parameterOrder": [
                    "resource"
                  ],
                  "parameters": {
                    "resource": {
                      "required": true,
                      "type": "string",
                      "description": "REQUIRED: The resource for which the policy is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/services/[^/]+$",
                      "location": "path"
                    },
                    "options.requestedPolicyVersion": {
                      "description": "Optional. The maximum policy version that will be used to format the policy. Valid values are 0, 1, and 3. Requests specifying an invalid value will be rejected. Requests for policies with any conditional role bindings must specify version 3. Policies with no conditional role bindings may specify any valid value or leave the field unset. The policy in the response might use the policy version that you specified, or it might use a lower policy version. For example, if you specify version 3, but the policy has no conditional role bindings, the response uses version 1. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies).",
                      "type": "integer",
                      "location": "query",
                      "format": "int32"
                    }
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/services/{servicesId}:getIamPolicy",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/run",
                    "https://www.googleapis.com/auth/run.readonly"
                  ],
                  "response": {
                    "$ref": "Policy"
                  },
                  "httpMethod": "GET",
                  "description": "Gets the IAM Access Control policy currently in effect for the given Cloud Run service. This result does not include any inherited policies."
                }
              }
            },
            "instances": {
              "methods": {
                "getIamPolicy": {
                  "response": {
                    "$ref": "Policy"
                  },
                  "id": "run.projects.locations.instances.getIamPolicy",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/run",
                    "https://www.googleapis.com/auth/run.readonly"
                  ],
                  "parameterOrder": [
                    "resource"
                  ],
                  "description": "Gets the IAM Access Control policy currently in effect for the given instance. This result does not include any inherited policies.",
                  "httpMethod": "GET",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/instances/{instancesId}:getIamPolicy",
                  "path": "v1/{+resource}:getIamPolicy",
                  "parameters": {
                    "resource": {
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/instances/[^/]+$",
                      "type": "string",
                      "description": "REQUIRED: The resource for which the policy is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
                      "required": true
                    },
                    "options.requestedPolicyVersion": {
                      "location": "query",
                      "type": "integer",
                      "format": "int32",
                      "description": "Optional. The maximum policy version that will be used to format the policy. Valid values are 0, 1, and 3. Requests specifying an invalid value will be rejected. Requests for policies with any conditional role bindings must specify version 3. Policies with no conditional role bindings may specify any valid value or leave the field unset. The policy in the response might use the policy version that you specified, or it might use a lower policy version. For example, if you specify version 3, but the policy has no conditional role bindings, the response uses version 1. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies)."
                    }
                  }
                },
                "testIamPermissions": {
                  "id": "run.projects.locations.instances.testIamPermissions",
                  "path": "v1/{+resource}:testIamPermissions",
                  "response": {
                    "$ref": "TestIamPermissionsResponse"
                  },
                  "request": {
                    "$ref": "TestIamPermissionsRequest"
                  },
                  "parameters": {
                    "resource": {
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/instances/[^/]+$",
                      "type": "string",
                      "description": "REQUIRED: The resource for which the policy detail is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
                      "required": true
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/run",
                    "https://www.googleapis.com/auth/run.readonly"
                  ],
                  "parameterOrder": [
                    "resource"
                  ],
                  "httpMethod": "POST",
                  "description": "Returns permissions that a caller has on the specified instance. There are no permissions required for making this API call.",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/instances/{instancesId}:testIamPermissions"
                },
                "setIamPolicy": {
                  "response": {
                    "$ref": "Policy"
                  },
                  "parameterOrder": [
                    "resource"
                  ],
                  "httpMethod": "POST",
                  "description": "Sets the IAM Access control policy for the specified instance. Overwrites any existing policy.",
                  "id": "run.projects.locations.instances.setIamPolicy",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/run"
                  ],
                  "path": "v1/{+resource}:setIamPolicy",
                  "request": {
                    "$ref": "SetIamPolicyRequest"
                  },
                  "parameters": {
                    "resource": {
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/instances/[^/]+$",
                      "description": "REQUIRED: The resource for which the policy is being specified. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
                      "location": "path",
                      "required": true
                    }
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/instances/{instancesId}:setIamPolicy"
                }
              }
            },
            "configurations": {
              "methods": {
                "get": {
                  "response": {
                    "$ref": "Configuration"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/run",
                    "https://www.googleapis.com/auth/run.readonly"
                  ],
                  "parameters": {
                    "name": {
                      "required": true,
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/configurations/[^/]+$",
                      "description": "The name of the configuration to retrieve. For Cloud Run, replace {namespace_id} with the project ID or number.",
                      "location": "path"
                    }
                  },
                  "path": "v1/{+name}",
                  "id": "run.projects.locations.configurations.get",
                  "httpMethod": "GET",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/configurations/{configurationsId}",
                  "description": "Get information about a configuration."
                },
                "list": {
                  "parameters": {
                    "limit": {
                      "format": "int32",
                      "description": "Optional. The maximum number of the records that should be returned.",
                      "location": "query",
                      "type": "integer"
                    },
                    "resourceVersion": {
                      "type": "string",
                      "description": "Not supported by Cloud Run.",
                      "location": "query"
                    },
                    "continue": {
                      "description": "Optional. Encoded string to continue paging.",
                      "type": "string",
                      "location": "query"
                    },
                    "watch": {
                      "description": "Not supported by Cloud Run.",
                      "location": "query",
                      "type": "boolean"
                    },
                    "fieldSelector": {
                      "location": "query",
                      "type": "string",
                      "description": "Not supported by Cloud Run."
                    },
                    "labelSelector": {
                      "description": "Allows to filter resources based on a label. Supported operations are =, !=, exists, in, and notIn.",
                      "type": "string",
                      "location": "query"
                    },
                    "includeUninitialized": {
                      "description": "Not supported by Cloud Run.",
                      "type": "boolean",
                      "location": "query"
                    },
                    "parent": {
                      "type": "string",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "description": "The namespace from which the configurations should be listed. For Cloud Run, replace {namespace_id} with the project ID or number.",
                      "required": true
                    }
                  },
                  "description": "List configurations. Results are sorted by creation time, descending.",
                  "path": "v1/{+parent}/configurations",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/configurations",
                  "response": {
                    "$ref": "ListConfigurationsResponse"
                  },
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/run",
                    "https://www.googleapis.com/auth/run.readonly"
                  ],
                  "id": "run.projects.locations.configurations.list",
                  "parameterOrder": [
                    "parent"
                  ]
                }
              }
            },
            "revisions": {
              "methods": {
                "get": {
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "Revision"
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/revisions/{revisionsId}",
                  "description": "Get information about a revision.",
                  "path": "v1/{+name}",
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/revisions/[^/]+$",
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "description": "The name of the revision to retrieve. For Cloud Run (fully managed), replace {namespace} with the project ID or number. It takes the form namespaces/{namespace}. For example: namespaces/PROJECT_ID"
                    }
                  },
                  "id": "run.projects.locations.revisions.get",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/run",
                    "https://www.googleapis.com/auth/run.readonly"
                  ]
                },
                "list": {
                  "id": "run.projects.locations.revisions.list",
                  "httpMethod": "GET",
                  "path": "v1/{+parent}/revisions",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/revisions",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/run",
                    "https://www.googleapis.com/auth/run.readonly"
                  ],
                  "parameters": {
                    "fieldSelector": {
                      "type": "string",
                      "description": "Allows to filter resources based on a specific value for a field name. Send this in a query string format. i.e. 'metadata.name%3Dlorem'. Not currently used by Cloud Run.",
                      "location": "query"
                    },
                    "limit": {
                      "type": "integer",
                      "location": "query",
                      "format": "int32",
                      "description": "Optional. The maximum number of records that should be returned."
                    },
                    "labelSelector": {
                      "description": "Allows to filter resources based on a label. Supported operations are =, !=, exists, in, and notIn.",
                      "location": "query",
                      "type": "string"
                    },
                    "includeUninitialized": {
                      "description": "Not currently used by Cloud Run.",
                      "type": "boolean",
                      "location": "query"
                    },
                    "watch": {
                      "location": "query",
                      "type": "boolean",
                      "description": "Flag that indicates that the client expects to watch this resource as well. Not currently used by Cloud Run."
                    },
                    "continue": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. Encoded string to continue paging."
                    },
                    "resourceVersion": {
                      "location": "query",
                      "type": "string",
                      "description": "The baseline resource version from which the list or watch operation should start. Not currently used by Cloud Run."
                    },
                    "parent": {
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "type": "string",
                      "description": "The namespace from which the revisions should be listed. For Cloud Run (fully managed), replace {namespace} with the project ID or number. It takes the form namespaces/{namespace}. For example: namespaces/PROJECT_ID",
                      "required": true
                    }
                  },
                  "response": {
                    "$ref": "ListRevisionsResponse"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "description": "List revisions. Results are sorted by creation time, descending."
                },
                "delete": {
                  "response": {
                    "$ref": "Status"
                  },
                  "httpMethod": "DELETE",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/run"
                  ],
                  "path": "v1/{+name}",
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Delete a revision.",
                  "id": "run.projects.locations.revisions.delete",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/revisions/{revisionsId}",
                  "parameters": {
                    "kind": {
                      "type": "string",
                      "location": "query",
                      "description": "Cloud Run currently ignores this parameter."
                    },
                    "dryRun": {
                      "description": "Indicates that the server should validate the request and populate default values without persisting the request. Supported values: `all`",
                      "type": "string",
                      "location": "query"
                    },
                    "apiVersion": {
                      "type": "string",
                      "location": "query",
                      "description": "Cloud Run currently ignores this parameter."
                    },
                    "propagationPolicy": {
                      "type": "string",
                      "description": "Specifies the propagation policy of delete. Cloud Run currently ignores this setting, and deletes in the background.",
                      "location": "query"
                    },
                    "name": {
                      "required": true,
                      "type": "string",
                      "description": "The name of the revision to delete. For Cloud Run (fully managed), replace {namespace} with the project ID or number. It takes the form namespaces/{namespace}. For example: namespaces/PROJECT_ID",
                      "pattern": "^projects/[^/]+/locations/[^/]+/revisions/[^/]+$",
                      "location": "path"
                    }
                  }
                }
              }
            },
            "routes": {
              "methods": {
                "list": {
                  "response": {
                    "$ref": "ListRoutesResponse"
                  },
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/run",
                    "https://www.googleapis.com/auth/run.readonly"
                  ],
                  "path": "v1/{+parent}/routes",
                  "parameterOrder": [
                    "parent"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/routes",
                  "id": "run.projects.locations.routes.list",
                  "parameters": {
                    "includeUninitialized": {
                      "type": "boolean",
                      "description": "Not currently used by Cloud Run.",
                      "location": "query"
                    },
                    "resourceVersion": {
                      "description": "The baseline resource version from which the list or watch operation should start. Not currently used by Cloud Run.",
                      "location": "query",
                      "type": "string"
                    },
                    "parent": {
                      "location": "path",
                      "description": "The namespace from which the routes should be listed. For Cloud Run (fully managed), replace {namespace} with the project ID or number. It takes the form namespaces/{namespace}. For example: namespaces/PROJECT_ID",
                      "type": "string",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+$"
                    },
                    "limit": {
                      "description": "Optional. The maximum number of records that should be returned.",
                      "format": "int32",
                      "type": "integer",
                      "location": "query"
                    },
                    "continue": {
                      "description": "Optional. Encoded string to continue paging.",
                      "location": "query",
                      "type": "string"
                    },
                    "fieldSelector": {
                      "type": "string",
                      "description": "Allows to filter resources based on a specific value for a field name. Send this in a query string format. i.e. 'metadata.name%3Dlorem'. Not currently used by Cloud Run.",
                      "location": "query"
                    },
                    "watch": {
                      "location": "query",
                      "description": "Flag that indicates that the client expects to watch this resource as well. Not currently used by Cloud Run.",
                      "type": "boolean"
                    },
                    "labelSelector": {
                      "location": "query",
                      "type": "string",
                      "description": "Allows to filter resources based on a label. Supported operations are =, !=, exists, in, and notIn."
                    }
                  },
                  "description": "List routes. Results are sorted by creation time, descending."
                },
                "get": {
                  "parameters": {
                    "name": {
                      "description": "The name of the route to retrieve. For Cloud Run (fully managed), replace {namespace} with the project ID or number. It takes the form namespaces/{namespace}. For example: namespaces/PROJECT_ID",
                      "type": "string",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/routes/[^/]+$",
                      "location": "path"
                    }
                  },
                  "path": "v1/{+name}",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/routes/{routesId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/run",
                    "https://www.googleapis.com/auth/run.readonly"
                  ],
                  "id": "run.projects.locations.routes.get",
                  "response": {
                    "$ref": "Route"
                  },
                  "httpMethod": "GET",
                  "description": "Get information about a route.",
                  "parameterOrder": [
                    "name"
                  ]
                }
              }
            },
            "jobs": {
              "methods": {
                "getIamPolicy": {
                  "description": "Get the IAM Access Control policy currently in effect for the given job. This result does not include any inherited policies.",
                  "httpMethod": "GET",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/jobs/{jobsId}:getIamPolicy",
                  "id": "run.projects.locations.jobs.getIamPolicy",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/run",
                    "https://www.googleapis.com/auth/run.readonly"
                  ],
                  "parameterOrder": [
                    "resource"
                  ],
                  "response": {
                    "$ref": "Policy"
                  },
                  "parameters": {
                    "options.requestedPolicyVersion": {
                      "location": "query",
                      "format": "int32",
                      "description": "Optional. The maximum policy version that will be used to format the policy. Valid values are 0, 1, and 3. Requests specifying an invalid value will be rejected. Requests for policies with any conditional role bindings must specify version 3. Policies with no conditional role bindings may specify any valid value or leave the field unset. The policy in the response might use the policy version that you specified, or it might use a lower policy version. For example, if you specify version 3, but the policy has no conditional role bindings, the response uses version 1. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies).",
                      "type": "integer"
                    },
                    "resource": {
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/jobs/[^/]+$",
                      "description": "REQUIRED: The resource for which the policy is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field."
                    }
                  },
                  "path": "v1/{+resource}:getIamPolicy"
                },
                "testIamPermissions": {
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/jobs/{jobsId}:testIamPermissions",
                  "description": "Returns permissions that a caller has on the specified job. There are no permissions required for making this API call.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/run",
                    "https://www.googleapis.com/auth/run.readonly"
                  ],
                  "httpMethod": "POST",
                  "path": "v1/{+resource}:testIamPermissions",
                  "parameters": {
                    "resource": {
                      "type": "string",
                      "location": "path",
                      "description": "REQUIRED: The resource for which the policy detail is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/jobs/[^/]+$"
                    }
                  },
                  "id": "run.projects.locations.jobs.testIamPermissions",
                  "parameterOrder": [
                    "resource"
                  ],
                  "response": {
                    "$ref": "TestIamPermissionsResponse"
                  },
                  "request": {
                    "$ref": "TestIamPermissionsRequest"
                  }
                },
                "setIamPolicy": {
                  "response": {
                    "$ref": "Policy"
                  },
                  "parameters": {
                    "resource": {
                      "type": "string",
                      "description": "REQUIRED: The resource for which the policy is being specified. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/jobs/[^/]+$"
                    }
                  },
                  "request": {
                    "$ref": "SetIamPolicyRequest"
                  },
                  "description": "Sets the IAM Access control policy for the specified job. Overwrites any existing policy.",
                  "id": "run.projects.locations.jobs.setIamPolicy",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/run"
                  ],
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "resource"
                  ],
                  "path": "v1/{+resource}:setIamPolicy",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/jobs/{jobsId}:setIamPolicy"
                }
              }
            },
            "authorizeddomains": {
              "methods": {
                "list": {
                  "response": {
                    "$ref": "ListAuthorizedDomainsResponse"
                  },
                  "parameters": {
                    "pageToken": {
                      "description": "Continuation token for fetching the next page of results.",
                      "type": "string",
                      "location": "query"
                    },
                    "parent": {
                      "description": "Name of the parent Project resource. Example: `projects/myproject`.",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path",
                      "type": "string"
                    },
                    "pageSize": {
                      "format": "int32",
                      "location": "query",
                      "description": "Maximum results to return per page.",
                      "type": "integer"
                    }
                  },
                  "description": "List authorized domains.",
                  "path": "v1/{+parent}/authorizeddomains",
                  "parameterOrder": [
                    "parent"
                  ],
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/run",
                    "https://www.googleapis.com/auth/run.readonly"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/authorizeddomains",
                  "id": "run.projects.locations.authorizeddomains.list"
                }
              }
            }
          }
        }
      }
    },
    "namespaces": {
      "resources": {
        "tasks": {
          "methods": {
            "list": {
              "flatPath": "apis/run.googleapis.com/v1/namespaces/{namespacesId}/tasks",
              "httpMethod": "GET",
              "id": "run.namespaces.tasks.list",
              "parameterOrder": [
                "parent"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/run",
                "https://www.googleapis.com/auth/run.readonly"
              ],
              "description": "List tasks.",
              "path": "apis/run.googleapis.com/v1/{+parent}/tasks",
              "parameters": {
                "limit": {
                  "location": "query",
                  "format": "int32",
                  "type": "integer",
                  "description": "Optional. The maximum number of records that should be returned."
                },
                "continue": {
                  "description": "Optional. Optional encoded string to continue paging.",
                  "type": "string",
                  "location": "query"
                },
                "parent": {
                  "location": "path",
                  "pattern": "^namespaces/[^/]+$",
                  "type": "string",
                  "required": true,
                  "description": "Required. The namespace from which the tasks should be listed. Replace {namespace} with the project ID or number. It takes the form namespaces/{namespace}. For example: namespaces/PROJECT_ID"
                },
                "watch": {
                  "description": "Optional. Not supported by Cloud Run.",
                  "location": "query",
                  "type": "boolean"
                },
                "resourceVersion": {
                  "description": "Optional. Not supported by Cloud Run.",
                  "location": "query",
                  "type": "string"
                },
                "labelSelector": {
                  "location": "query",
                  "description": "Optional. Allows to filter resources based on a label. Supported operations are =, !=, exists, in, and notIn. For example, to list all tasks of execution \"foo\" in succeeded state: `run.googleapis.com/execution=foo,run.googleapis.com/runningState=Succeeded`. Supported states are: * `Pending`: Initial state of all tasks. The task has not yet started but eventually will. * `Running`: Container instances for this task are running or will be running shortly. * `Succeeded`: No more container instances to run for the task, and the last attempt succeeded. * `Failed`: No more container instances to run for the task, and the last attempt failed. This task has run out of retry attempts. * `Cancelled`: Task was running but got stopped because its parent execution has been aborted. * `Abandoned`: The task has not yet started and never will because its parent execution has been aborted.",
                  "type": "string"
                },
                "fieldSelector": {
                  "description": "Optional. Not supported by Cloud Run.",
                  "type": "string",
                  "location": "query"
                },
                "includeUninitialized": {
                  "location": "query",
                  "description": "Optional. Not supported by Cloud Run.",
                  "type": "boolean"
                }
              },
              "response": {
                "$ref": "ListTasksResponse"
              }
            },
            "get": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/run",
                "https://www.googleapis.com/auth/run.readonly"
              ],
              "path": "apis/run.googleapis.com/v1/{+name}",
              "flatPath": "apis/run.googleapis.com/v1/namespaces/{namespacesId}/tasks/{tasksId}",
              "httpMethod": "GET",
              "id": "run.namespaces.tasks.get",
              "description": "Get information about a task.",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "description": "Required. The name of the task to retrieve. Replace {namespace} with the project ID or number. It takes the form namespaces/{namespace}. For example: namespaces/PROJECT_ID",
                  "pattern": "^namespaces/[^/]+/tasks/[^/]+$"
                }
              },
              "response": {
                "$ref": "Task"
              }
            }
          }
        },
        "revisions": {
          "methods": {
            "list": {
              "flatPath": "apis/serving.knative.dev/v1/namespaces/{namespacesId}/revisions",
              "parameterOrder": [
                "parent"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/run",
                "https://www.googleapis.com/auth/run.readonly"
              ],
              "httpMethod": "GET",
              "parameters": {
                "continue": {
                  "description": "Optional. Encoded string to continue paging.",
                  "type": "string",
                  "location": "query"
                },
                "limit": {
                  "location": "query",
                  "type": "integer",
                  "description": "Optional. The maximum number of records that should be returned.",
                  "format": "int32"
                },
                "includeUninitialized": {
                  "type": "boolean",
                  "location": "query",
                  "description": "Not currently used by Cloud Run."
                },
                "resourceVersion": {
                  "location": "query",
                  "description": "The baseline resource version from which the list or watch operation should start. Not currently used by Cloud Run.",
                  "type": "string"
                },
                "watch": {
                  "description": "Flag that indicates that the client expects to watch this resource as well. Not currently used by Cloud Run.",
                  "location": "query",
                  "type": "boolean"
                },
                "labelSelector": {
                  "type": "string",
                  "location": "query",
                  "description": "Allows to filter resources based on a label. Supported operations are =, !=, exists, in, and notIn."
                },
                "parent": {
                  "description": "The namespace from which the revisions should be listed. For Cloud Run (fully managed), replace {namespace} with the project ID or number. It takes the form namespaces/{namespace}. For example: namespaces/PROJECT_ID",
                  "location": "path",
                  "type": "string",
                  "pattern": "^namespaces/[^/]+$",
                  "required": true
                },
                "fieldSelector": {
                  "type": "string",
                  "location": "query",
                  "description": "Allows to filter resources based on a specific value for a field name. Send this in a query string format. i.e. 'metadata.name%3Dlorem'. Not currently used by Cloud Run."
                }
              },
              "path": "apis/serving.knative.dev/v1/{+parent}/revisions",
[...]
