{
  "basePath": "",
  "servicePath": "",
  "id": "run:v2",
  "protocol": "rest",
  "revision": "20260828",
  "ownerName": "Google",
  "fullyEncodeReservedExpansion": true,
  "description": "Deploy and manage user provided container images that scale automatically based on incoming requests. The Cloud Run Admin API v1 follows the Knative Serving API specification, while v2 is aligned with Google Cloud AIP-based API standards, as described in https://google.aip.dev/.",
  "kind": "discovery#restDescription",
  "version": "v2",
  "discoveryVersion": "v1",
  "rootUrl": "https://run.googleapis.com/",
  "mtlsRootUrl": "https://run.mtls.googleapis.com/",
  "schemas": {
    "GoogleCloudRunV2UploadSourceResponse": {
      "type": "object",
      "properties": {
        "cloudStorageSource": {
          "$ref": "GoogleCloudRunV2CloudStorageSource",
          "description": "The Cloud Storage object path the source archive is uploaded to."
        }
      },
      "id": "GoogleCloudRunV2UploadSourceResponse",
      "description": "The response message for the UploadSource method."
    },
    "GoogleCloudRunV2CloudSqlInstance": {
      "type": "object",
      "description": "Represents a set of Cloud SQL instances. Each one will be available under /cloudsql/[instance]. Visit https://cloud.google.com/sql/docs/mysql/connect-run for more information on how to connect Cloud SQL and Cloud Run.",
      "properties": {
        "instances": {
          "type": "array",
          "description": "A list of Cloud SQL instance connection names. Cloud Run uses these to establish connections to the specified Cloud SQL instances. While the SQL instance name itself is unique within a project, the full connection name requires the location for proper routing. Format: `{project}:{location}:{instance}` Example: `my-project:us-central1:my-instance` You can find this value on the instance's **Overview** page in the Google Cloud console or by using the following `gcloud` command: ```sh gcloud sql instances describe INSTANCE_NAME \\ --format='value(connectionName)' ``` Visit https://cloud.google.com/sql/docs/mysql/connect-run for more information on how to connect Cloud SQL and Cloud Run.",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "GoogleCloudRunV2CloudSqlInstance"
    },
    "GoogleCloudRunV2Metadata": {
      "properties": {
        "metadata": {
          "description": "JSON encoded Google-generated Customer Metadata for a given resource/project.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudRunV2Metadata",
      "description": "Metadata represents the JSON encoded generated customer metadata."
    },
    "GoogleCloudRunV2ExportImageResponse": {
      "type": "object",
      "description": "ExportImageResponse contains an operation Id to track the image export operation.",
      "properties": {
        "operationId": {
          "type": "string",
          "description": "An operation ID used to track the status of image exports tied to the original pod ID in the request."
        }
      },
      "id": "GoogleCloudRunV2ExportImageResponse"
    },
    "GoogleDevtoolsCloudbuildV1InlineSecret": {
      "properties": {
        "kmsKeyName": {
          "description": "Resource name of Cloud KMS crypto key to decrypt the encrypted value. In format: projects/*/locations/*/keyRings/*/cryptoKeys/*",
          "type": "string"
        },
        "envMap": {
          "additionalProperties": {
            "format": "byte",
            "type": "string"
          },
          "description": "Map of environment variable name to its encrypted value. Secret environment variables must be unique across all of a build's secrets, and must be used by at least one build step. Values can be at most 64 KB in size. There can be at most 100 secret values across all of a build's secrets.",
          "type": "object"
        }
      },
      "type": "object",
      "id": "GoogleDevtoolsCloudbuildV1InlineSecret",
      "description": "Pairs a set of secret environment variables mapped to encrypted values with the Cloud KMS key to use to decrypt the value."
    },
    "GoogleCloudRunV2InstanceSplitStatus": {
      "type": "object",
      "description": "Represents the observed state of a single `InstanceSplit` entry.",
      "properties": {
        "revision": {
          "description": "Revision to which this instance split is assigned.",
          "type": "string"
        },
        "percent": {
          "description": "Specifies percent of the instance split to this Revision.",
          "format": "int32",
          "type": "integer"
        },
        "type": {
          "description": "The allocation type for this instance split.",
          "enum": [
            "INSTANCE_SPLIT_ALLOCATION_TYPE_UNSPECIFIED",
            "INSTANCE_SPLIT_ALLOCATION_TYPE_LATEST",
            "INSTANCE_SPLIT_ALLOCATION_TYPE_REVISION"
          ],
          "enumDescriptions": [
            "Unspecified instance allocation type.",
            "Allocates instances to the Service's latest ready Revision.",
            "Allocates instances to a Revision by name."
          ],
          "type": "string"
        }
      },
      "id": "GoogleCloudRunV2InstanceSplitStatus"
    },
    "GoogleDevtoolsCloudbuildV1Secrets": {
      "type": "object",
      "properties": {
        "inline": {
          "type": "array",
          "items": {
            "$ref": "GoogleDevtoolsCloudbuildV1InlineSecret"
          },
          "description": "Secrets encrypted with KMS key and the associated secret environment variable."
        },
        "secretManager": {
          "description": "Secrets in Secret Manager and associated secret environment variable.",
          "type": "array",
          "items": {
            "$ref": "GoogleDevtoolsCloudbuildV1SecretManagerSecret"
          }
        }
      },
      "description": "Secrets and secret environment variables.",
      "id": "GoogleDevtoolsCloudbuildV1Secrets"
    },
    "GoogleDevtoolsCloudbuildV1GitSourceDependency": {
      "type": "object",
      "id": "GoogleDevtoolsCloudbuildV1GitSourceDependency",
      "description": "Represents a git repository as a build dependency.",
      "properties": {
        "destPath": {
          "type": "string",
          "description": "Required. Where should the files be placed on the worker."
        },
        "repository": {
          "description": "Required. The kind of repo (url or dev connect).",
          "$ref": "GoogleDevtoolsCloudbuildV1GitSourceRepository"
        },
        "recurseSubmodules": {
          "description": "Optional. True if submodules should be fetched too (default false).",
          "type": "boolean"
        },
        "revision": {
          "description": "Required. The revision that we will fetch the repo at.",
          "type": "string"
        },
        "depth": {
          "format": "int64",
          "description": "Optional. How much history should be fetched for the build (default 1, -1 for all history).",
          "type": "string"
        },
        "fetchTags": {
          "type": "boolean",
          "description": "Optional. True if remote tags should be fetched too (default false). Note: when depth is 1 (default), git fetch only retrieves tags pointing to commits within the shallow boundary. Set depth to -1 to fetch all historical tags."
        }
      }
    },
    "GoogleCloudRunV2HTTPHeader": {
      "description": "HTTPHeader describes a custom header to be used in HTTP probes",
      "properties": {
        "value": {
          "description": "Optional. The header field value",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Required. The header field name"
        }
      },
      "type": "object",
      "id": "GoogleCloudRunV2HTTPHeader"
    },
    "GoogleCloudRunV2TrafficTarget": {
      "description": "Holds a single traffic routing entry for the Service. Allocations can be done to a specific Revision name, or pointing to the latest Ready Revision.",
      "type": "object",
      "properties": {
        "tag": {
          "description": "Indicates a string to be part of the URI to exclusively reference this target.",
          "type": "string"
        },
        "type": {
          "enumDescriptions": [
            "Unspecified instance allocation type.",
            "Allocates instances to the Service's latest ready Revision.",
            "Allocates instances to a Revision by name."
          ],
          "enum": [
            "TRAFFIC_TARGET_ALLOCATION_TYPE_UNSPECIFIED",
            "TRAFFIC_TARGET_ALLOCATION_TYPE_LATEST",
            "TRAFFIC_TARGET_ALLOCATION_TYPE_REVISION"
          ],
          "description": "The allocation type for this traffic target.",
          "type": "string"
        },
        "revision": {
          "type": "string",
          "description": "Revision to which to send this portion of traffic, if traffic allocation is by revision."
        },
        "percent": {
          "type": "integer",
          "description": "Specifies percent of the traffic to this Revision. This defaults to zero if unspecified.",
          "format": "int32"
        }
      },
      "id": "GoogleCloudRunV2TrafficTarget"
    },
    "GoogleCloudRunV2RevisionTemplate": {
      "id": "GoogleCloudRunV2RevisionTemplate",
      "properties": {
        "maxInstanceRequestConcurrency": {
          "type": "integer",
          "description": "Optional. Sets the maximum number of requests that each serving instance can receive. If not specified or 0, concurrency defaults to 80 when requested `CPU >= 1` and defaults to 1 when requested `CPU < 1`.",
          "format": "int32"
        },
        "clientVersion": {
          "description": "Optional. Arbitrary version identifier for the API client.",
          "type": "string"
        },
        "timeout": {
          "format": "google-duration",
          "description": "Optional. Max allowed time for an instance to respond to a request.",
          "type": "string"
        },
        "gpuZonalRedundancyDisabled": {
          "description": "Optional. True if GPU zonal redundancy is disabled on this revision.",
          "type": "boolean"
        },
        "revision": {
          "description": "Optional. The unique name for the revision. If this field is omitted, it will be automatically generated based on the Service name.",
          "type": "string"
        },
        "labels": {
          "description": "Optional. Unstructured key value map that can be used to organize and categorize objects. User-provided labels are shared with Google's billing system, so they can be used to filter, or break down billing charges by team, component, environment, state, etc. For more information, visit https://cloud.google.com/resource-manager/docs/creating-managing-labels or https://cloud.google.com/run/docs/configuring/labels. Cloud Run API v2 does not support labels with `run.googleapis.com`, `cloud.googleapis.com`, `serving.knative.dev`, or `autoscaling.knative.dev` namespaces, and they will be rejected. All system labels in v1 now have a corresponding field in v2 RevisionTemplate.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "serviceAccount": {
          "description": "Optional. Email address of the IAM service account associated with the revision of the service. The service account represents the identity of the running revision, and determines what permissions the revision has. If not provided, the revision will use the project's default service account.",
          "type": "string"
        },
        "encryptionKey": {
          "type": "string",
          "description": "A reference to a customer managed encryption key (CMEK) to use to encrypt this container image. For more information, go to https://cloud.google.com/run/docs/securing/using-cmek"
        },
        "scaling": {
          "description": "Optional. Scaling settings for this Revision.",
          "$ref": "GoogleCloudRunV2RevisionScaling"
        },
        "volumes": {
          "items": {
            "$ref": "GoogleCloudRunV2Volume"
          },
          "description": "Optional. A list of Volumes to make available to containers.",
          "type": "array"
        },
        "serviceMesh": {
          "description": "Optional. Enables service mesh connectivity.",
          "$ref": "GoogleCloudRunV2ServiceMesh"
        },
        "client": {
          "description": "Optional. Arbitrary identifier for the API client.",
          "type": "string"
        },
        "sessionAffinity": {
          "type": "boolean",
          "description": "Optional. Enable session affinity."
        },
        "encryptionKeyShutdownDuration": {
          "type": "string",
          "format": "google-duration",
          "description": "Optional. If encryption_key_revocation_action is SHUTDOWN, the duration before shutting down all instances. The minimum increment is 1 hour."
        },
        "executionEnvironment": {
          "description": "Optional. The sandbox environment to host this Revision.",
          "enum": [
            "EXECUTION_ENVIRONMENT_UNSPECIFIED",
            "EXECUTION_ENVIRONMENT_GEN1",
            "EXECUTION_ENVIRONMENT_GEN2"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unspecified",
            "Uses the First Generation environment.",
            "Uses Second Generation environment."
          ]
        },
        "encryptionKeyRevocationAction": {
          "description": "Optional. The action to take if the encryption key is revoked.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified",
            "Prevents the creation of new instances.",
            "Shuts down existing instances, and prevents creation of new ones."
          ],
          "enum": [
            "ENCRYPTION_KEY_REVOCATION_ACTION_UNSPECIFIED",
            "PREVENT_NEW",
            "SHUTDOWN"
          ]
        },
        "nodeSelector": {
          "description": "Optional. The node selector for the revision template.",
          "$ref": "GoogleCloudRunV2NodeSelector"
        },
        "healthCheckDisabled": {
          "type": "boolean",
          "description": "Optional. Disables health checking containers during deployment."
        },
        "vpcAccess": {
          "description": "Optional. VPC Access configuration to use for this Revision. For more information, visit https://cloud.google.com/run/docs/configuring/connecting-vpc.",
          "$ref": "GoogleCloudRunV2VpcAccess"
        },
        "annotations": {
          "type": "object",
          "description": "Optional. Unstructured key value map that may be set by external tools to store and arbitrary metadata. They are not queryable and should be preserved when modifying objects. Cloud Run API v2 does not support annotations with `run.googleapis.com`, `cloud.googleapis.com`, `serving.knative.dev`, or `autoscaling.knative.dev` namespaces, and they will be rejected. All system annotations in v1 now have a corresponding field in v2 RevisionTemplate. This field follows Kubernetes annotations' namespacing, limits, and rules.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "containers": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudRunV2Container"
          },
          "description": "Holds the list which define the units of execution for this Revision."
        }
      },
      "type": "object",
      "description": "RevisionTemplate describes the data a revision should have when created from a template."
    },
    "GoogleCloudRunV2NFSVolumeSource": {
      "description": "Represents an NFS mount.",
      "type": "object",
      "properties": {
        "path": {
          "type": "string",
          "description": "Path that is exported by the NFS server."
        },
        "readOnly": {
          "description": "If true, the volume will be mounted as read only for all mounts.",
          "type": "boolean"
        },
        "server": {
          "description": "Hostname or IP address of the NFS server",
          "type": "string"
        }
      },
      "id": "GoogleCloudRunV2NFSVolumeSource"
    },
    "GoogleCloudRunV2ListExecutionsResponse": {
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "A token indicating there are more items than page_size. Use it in the next ListExecutions request to continue.",
          "type": "string"
        },
        "executions": {
          "items": {
            "$ref": "GoogleCloudRunV2Execution"
          },
          "description": "The resulting list of Executions.",
          "type": "array"
        }
      },
      "description": "Response message containing a list of Executions.",
      "id": "GoogleCloudRunV2ListExecutionsResponse"
    },
    "GoogleRpcStatus": {
      "properties": {
        "code": {
          "type": "integer",
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "format": "int32"
        },
        "message": {
          "type": "string",
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client."
        },
        "details": {
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "type": "array",
          "items": {
            "type": "object",
            "additionalProperties": {
              "description": "Properties of the object. Contains field @type with type URL.",
              "type": "any"
            }
          }
        }
      },
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "type": "object",
      "id": "GoogleRpcStatus"
    },
    "GoogleCloudRunV2EmptyDirVolumeSource": {
      "type": "object",
      "properties": {
        "sizeLimit": {
          "type": "string",
          "description": "Limit on the storage usable by this EmptyDir volume. The size limit is also applicable for memory medium. The maximum usage on memory medium EmptyDir would be the minimum value between the SizeLimit specified here and the sum of memory limits of all containers. The default is nil which means that the limit is undefined. More info: https://cloud.google.com/run/docs/configuring/in-memory-volumes#configure-volume. Info in Kubernetes: https://kubernetes.io/docs/concepts/storage/volumes/#emptydir"
        },
        "medium": {
          "enum": [
            "MEDIUM_UNSPECIFIED",
            "MEMORY",
            "DISK"
          ],
          "enumDescriptions": [
            "When not specified, falls back to the default implementation which is currently in memory (this may change over time).",
            "Explicitly set the EmptyDir to be in memory. Uses tmpfs.",
            "Explicitly sets the EmptyDir to be a disk."
          ],
          "type": "string",
          "description": "The medium on which the data is stored. Acceptable values today is only MEMORY or none. When none, the default will currently be backed by memory but could change over time. +optional"
        }
      },
      "id": "GoogleCloudRunV2EmptyDirVolumeSource",
      "description": "In memory (tmpfs) ephemeral storage. It is ephemeral in the sense that when the sandbox is taken down, the data is destroyed with it (it does not persist across sandbox runs)."
    },
    "GoogleCloudRunV2Service": {
      "type": "object",
      "description": "Service acts as a top-level container that manages a set of configurations and revision templates which implement a network service. Service exists to provide a singular abstraction which can be access controlled, reasoned about, and which encapsulates software lifecycle decisions such as rollout policy and team resource ownership.",
      "id": "GoogleCloudRunV2Service",
      "properties": {
        "updateTime": {
          "type": "string",
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. The last-modified time."
        },
        "invokerIamDisabled": {
          "type": "boolean",
          "description": "Optional. Disables IAM permission check for run.routes.invoke for callers of this service. For more information, visit https://cloud.google.com/run/docs/securing/managing-access#invoker_check."
        },
        "buildConfig": {
          "description": "Optional. Configuration for building a Cloud Run function.",
          "$ref": "GoogleCloudRunV2BuildConfig"
        },
        "name": {
          "description": "Identifier. The fully qualified name of this Service. In CreateServiceRequest, this field is ignored, and instead composed from CreateServiceRequest.parent and CreateServiceRequest.service_id. Format: projects/{project}/locations/{location}/services/{service_id}",
          "type": "string"
        },
        "sshEnabled": {
          "type": "boolean",
          "description": "Optional. Enables SSH access to the Service."
        },
        "reconciling": {
          "readOnly": true,
          "description": "Output only. Returns true if the Service is currently being acted upon by the system to bring it into the desired state. When a new Service is created, or an existing one is updated, Cloud Run will asynchronously perform all necessary steps to bring the Service to the desired serving state. This process is called reconciliation. While reconciliation is in process, `observed_generation`, `latest_ready_revision`, `traffic_statuses`, and `uri` will have transient values that might mismatch the intended state: Once reconciliation is over (and this field is false), there are two possible outcomes: reconciliation succeeded and the serving state matches the Service, or there was an error, and reconciliation failed. This state can be found in `terminal_condition.state`. If reconciliation succeeded, the following fields will match: `traffic` and `traffic_statuses`, `observed_generation` and `generation`, `latest_ready_revision` and `latest_created_revision`. If reconciliation failed, `traffic_statuses`, `observed_generation`, and `latest_ready_revision` will have the state of the last serving revision, or empty for newly created Services. Additional information on the failure can be found in `terminal_condition` and `conditions`.",
          "type": "boolean"
        },
        "iapEnabled": {
          "description": "Optional. IAP settings on the Service.",
          "type": "boolean"
        },
        "traffic": {
          "items": {
            "$ref": "GoogleCloudRunV2TrafficTarget"
          },
          "description": "Optional. Specifies how to distribute traffic over a collection of Revisions belonging to the Service. If traffic is empty or not provided, defaults to 100% traffic to the latest `Ready` Revision.",
          "type": "array"
        },
        "uri": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The main URI in which this Service is serving traffic."
        },
        "scaling": {
          "description": "Optional. Specifies service-level scaling settings",
          "$ref": "GoogleCloudRunV2ServiceScaling"
        },
        "multiRegionSettings": {
          "$ref": "GoogleCloudRunV2MultiRegionSettings",
          "description": "Optional. Settings for multi-region deployment."
        },
        "expireTime": {
          "type": "string",
          "description": "Output only. For a deleted resource, the time after which it will be permanently deleted.",
          "format": "google-datetime",
          "readOnly": true
        },
        "threatDetectionEnabled": {
          "type": "boolean",
          "description": "Output only. True if Cloud Run Threat Detection monitoring is enabled for the parent project of this Service.",
          "readOnly": true
        },
        "createTime": {
          "description": "Output only. The creation time.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "description": {
          "description": "User-provided description of the Service. This field currently has a 512-character limit.",
          "type": "string"
        },
        "creator": {
          "description": "Output only. Email address of the authenticated creator.",
          "type": "string",
          "readOnly": true
        },
        "defaultUriDisabled": {
          "description": "Optional. Disables public resolution of the default URI of this service.",
          "type": "boolean"
        },
        "customAudiences": {
          "description": "One or more custom audiences that you want this service to support. Specify each custom audience as the full URL in a string. The custom audiences are encoded in the token and used to authenticate requests. For more information, see https://cloud.google.com/run/docs/configuring/custom-audiences.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "clientVersion": {
          "description": "Arbitrary version identifier for the API client.",
          "type": "string"
        },
        "annotations": {
          "description": "Optional. Unstructured key value map that may be set by external tools to store and arbitrary metadata. They are not queryable and should be preserved when modifying objects. Cloud Run API v2 does not support annotations with `run.googleapis.com`, `cloud.googleapis.com`, `serving.knative.dev`, or `autoscaling.knative.dev` namespaces, and they will be rejected in new resources. All system annotations in v1 now have a corresponding field in v2 Service. This field follows Kubernetes annotations' namespacing, limits, and rules.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "template": {
          "$ref": "GoogleCloudRunV2RevisionTemplate",
          "description": "Required. The template used to create revisions for this Service."
        },
        "observedGeneration": {
          "readOnly": true,
          "type": "string",
          "format": "int64",
          "description": "Output only. The generation of this Service currently serving traffic. See comments in `reconciling` for additional information on reconciliation process in Cloud Run. Please note that unlike v1, this is an int64 value. As with most Google APIs, its JSON representation will be a `string` instead of an `integer`."
        },
        "client": {
          "description": "Arbitrary identifier for the API client.",
          "type": "string"
        },
        "deleteTime": {
          "readOnly": true,
          "description": "Output only. The deletion time. It is only populated as a response to a Delete request.",
          "type": "string",
          "format": "google-datetime"
        },
        "labels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. Unstructured key value map that can be used to organize and categorize objects. User-provided labels are shared with Google's billing system, so they can be used to filter, or break down billing charges by team, component, environment, state, etc. For more information, visit https://cloud.google.com/resource-manager/docs/creating-managing-labels or https://cloud.google.com/run/docs/configuring/labels. Cloud Run API v2 does not support labels with `run.googleapis.com`, `cloud.googleapis.com`, `serving.knative.dev`, or `autoscaling.knative.dev` namespaces, and they will be rejected. All system labels in v1 now have a corresponding field in v2 Service."
        },
        "generation": {
          "type": "string",
          "readOnly": true,
          "format": "int64",
          "description": "Output only. A number that monotonically increases every time the user modifies the desired state. Please note that unlike v1, this is an int64 value. As with most Google APIs, its JSON representation will be a `string` instead of an `integer`."
        },
        "latestCreatedRevision": {
          "description": "Output only. Name of the last created revision. See comments in `reconciling` for additional information on reconciliation process in Cloud Run.",
          "readOnly": true,
          "type": "string"
        },
        "ingress": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified",
            "All inbound traffic is allowed.",
            "Only internal traffic is allowed.",
            "Both internal and Google Cloud Load Balancer traffic is allowed.",
            "No ingress traffic is allowed."
          ],
          "description": "Optional. Provides the ingress settings for this Service. On output, returns the currently observed ingress settings, or INGRESS_TRAFFIC_UNSPECIFIED if no revision is active.",
          "enum": [
            "INGRESS_TRAFFIC_UNSPECIFIED",
            "INGRESS_TRAFFIC_ALL",
            "INGRESS_TRAFFIC_INTERNAL_ONLY",
            "INGRESS_TRAFFIC_INTERNAL_LOAD_BALANCER",
            "INGRESS_TRAFFIC_NONE"
          ]
        },
        "latestReadyRevision": {
          "description": "Output only. Name of the latest revision that is serving traffic. See comments in `reconciling` for additional information on reconciliation process in Cloud Run.",
          "type": "string",
          "readOnly": true
        },
        "terminalCondition": {
          "$ref": "GoogleCloudRunV2Condition",
          "readOnly": true,
          "description": "Output only. The Condition of this Service, containing its readiness status, and detailed error information in case it did not reach a serving state. See comments in `reconciling` for additional information on reconciliation process in Cloud Run."
        },
        "trafficStatuses": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudRunV2TrafficTargetStatus"
          },
          "readOnly": true,
          "description": "Output only. Detailed status information for corresponding traffic targets. See comments in `reconciling` for additional information on reconciliation process in Cloud Run."
        },
        "conditions": {
          "type": "array",
          "description": "Output only. The Conditions of all other associated sub-resources. They contain additional diagnostics information in case the Service does not reach its Serving state. See comments in `reconciling` for additional information on reconciliation process in Cloud Run.",
          "items": {
            "$ref": "GoogleCloudRunV2Condition"
          },
          "readOnly": true
        },
        "satisfiesPzs": {
          "type": "boolean",
          "readOnly": true,
          "description": "Output only. Reserved for future use."
        },
        "launchStage": {
          "type": "string",
          "description": "Optional. The launch stage as defined by [Google Cloud Platform Launch Stages](https://cloud.google.com/terms/launch-stages). Cloud Run supports `ALPHA`, `BETA`, and `GA`. If no value is specified, GA is assumed. Set the launch stage to a preview stage on input to allow use of preview features in that stage. On read (or output), describes whether the resource uses preview features. For example, if ALPHA is provided as input, but only BETA and GA-level features are used, this field will be BETA on output.",
          "enumDescriptions": [
            "Do not use this default value.",
            "The feature is not yet implemented. Users can not use it.",
            "Prelaunch features are hidden from users and are only visible internally.",
            "Early Access features are limited to a closed group of testers. To use these features, you must sign up in advance and sign a Trusted Tester agreement (which includes confidentiality provisions). These features may be unstable, changed in backward-incompatible ways, and are not guaranteed to be released.",
            "Alpha is a limited availability test for releases before they are cleared for widespread use. By Alpha, all significant design issues are resolved and we are in the process of verifying functionality. Alpha customers need to apply for access, agree to applicable terms, and have their projects allowlisted. Alpha releases don't have to be feature complete, no SLAs are provided, and there are no technical support obligations, but they will be far enough along that customers can actually use them in test environments or for limited-use tests -- just like they would in normal production cases.",
            "Beta is the point at which we are ready to open a release for any customer to use. There are no SLA or technical support obligations in a Beta release. Products will be complete from a feature perspective, but may have some open outstanding issues. Beta releases are suitable for limited production use cases.",
            "GA features are open to all developers and are considered stable and fully qualified for production use.",
            "Deprecated features are scheduled to be shut down and removed. For more information, see the \"Deprecation Policy\" section of our [Terms of Service](https://cloud.google.com/terms/) and the [Google Cloud Platform Subject to the Deprecation Policy](https://cloud.google.com/terms/deprecation) documentation."
          ],
          "enum": [
            "LAUNCH_STAGE_UNSPECIFIED",
            "UNIMPLEMENTED",
            "PRELAUNCH",
            "EARLY_ACCESS",
            "ALPHA",
            "BETA",
            "GA",
            "DEPRECATED"
          ]
        },
        "binaryAuthorization": {
          "description": "Optional. Settings for the Binary Authorization feature.",
          "$ref": "GoogleCloudRunV2BinaryAuthorization"
        },
        "uid": {
          "description": "Output only. Server assigned unique identifier for the trigger. The value is a UUID4 string and guaranteed to remain unchanged until the resource is deleted.",
          "readOnly": true,
          "type": "string"
        },
        "lastModifier": {
          "type": "string",
          "description": "Output only. Email address of the last authenticated modifier.",
          "readOnly": true
        },
        "etag": {
          "description": "Optional. A system-generated fingerprint for this version of the resource. May be used to detect modification conflict during updates.",
          "type": "string"
        },
        "urls": {
          "readOnly": true,
          "description": "Output only. All URLs serving traffic for this Service.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      }
    },
    "GoogleIamV1TestIamPermissionsResponse": {
      "id": "GoogleIamV1TestIamPermissionsResponse",
      "description": "Response message for `TestIamPermissions` method.",
      "type": "object",
      "properties": {
        "permissions": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "A subset of `TestPermissionsRequest.permissions` that the caller is allowed."
        }
      }
    },
    "GoogleCloudRunV2Volume": {
      "type": "object",
      "properties": {
        "cloudSqlInstance": {
          "description": "For Cloud SQL volumes, contains the specific instances that should be mounted. Visit https://cloud.google.com/sql/docs/mysql/connect-run for more information on how to connect Cloud SQL and Cloud Run.",
          "$ref": "GoogleCloudRunV2CloudSqlInstance"
        },
        "secret": {
          "$ref": "GoogleCloudRunV2SecretVolumeSource",
          "description": "Secret represents a secret that should populate this volume."
        },
        "nfs": {
          "$ref": "GoogleCloudRunV2NFSVolumeSource",
          "description": "For NFS Voumes, contains the path to the nfs Volume"
        },
        "name": {
          "description": "Required. Volume's name.",
          "type": "string"
        },
        "gcs": {
          "description": "Persistent storage backed by a Google Cloud Storage bucket.",
          "$ref": "GoogleCloudRunV2GCSVolumeSource"
        },
        "emptyDir": {
          "$ref": "GoogleCloudRunV2EmptyDirVolumeSource",
          "description": "Ephemeral storage used as a shared volume."
        }
      },
      "description": "Volume represents a named volume in a container.",
      "id": "GoogleCloudRunV2Volume"
    },
    "GoogleCloudRunV2ResourceRequirements": {
      "properties": {
        "cpuIdle": {
          "description": "Determines whether CPU is only allocated during requests (true by default). However, if ResourceRequirements is set, the caller must explicitly set this field to true to preserve the default behavior.",
          "type": "boolean"
        },
        "limits": {
          "type": "object",
          "description": "Only `memory`, `cpu` and `nvidia.com/gpu` keys in the map are supported. Notes: * The only supported values for CPU are '1', '2', '4', and '8'. Setting 4 CPU requires at least 2Gi of memory. For more information, go to https://cloud.google.com/run/docs/configuring/cpu. * For supported 'memory' values and syntax, go to https://cloud.google.com/run/docs/configuring/memory-limits * The only supported 'nvidia.com/gpu' value is '1'.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "startupCpuBoost": {
          "type": "boolean",
          "description": "Determines whether CPU should be boosted on startup of a new container instance above the requested CPU threshold, this can help reduce cold-start latency."
        }
      },
      "description": "ResourceRequirements describes the compute resource requirements.",
      "id": "GoogleCloudRunV2ResourceRequirements",
      "type": "object"
    },
    "UtilStatusProto": {
      "properties": {
        "message": {
          "type": "string",
          "description": "Detail message copybara:strip_begin(b/383363683) copybara:strip_end_and_replace optional string message = 3;"
        },
        "canonicalCode": {
          "format": "int32",
          "description": "copybara:strip_begin(b/383363683) copybara:strip_end_and_replace optional int32 canonical_code = 6;",
          "type": "integer"
        },
        "space": {
          "description": "copybara:strip_begin(b/383363683) Space to which this status belongs copybara:strip_end_and_replace optional string space = 2; // Space to which this status belongs",
          "type": "string"
        },
        "code": {
          "type": "integer",
          "format": "int32",
          "description": "Numeric code drawn from the space specified below. Often, this is the canonical error space, and code is drawn from google3/util/task/codes.proto copybara:strip_begin(b/383363683) copybara:strip_end_and_replace optional int32 code = 1;"
        },
        "messageSet": {
          "$ref": "Proto2BridgeMessageSet",
          "description": "message_set associates an arbitrary proto message with the status. copybara:strip_begin(b/383363683) copybara:strip_end_and_replace optional proto2.bridge.MessageSet message_set = 5;"
        }
      },
      "description": "Wire-format for a Status object",
      "id": "UtilStatusProto",
      "type": "object"
    },
    "GoogleCloudRunV2Execution": {
      "description": "Execution represents the configuration of a single execution. A execution an immutable resource that references a container image which is run to completion.",
      "properties": {
        "retriedCount": {
          "type": "integer",
          "readOnly": true,
          "description": "Output only. The number of tasks which have retried at least once.",
          "format": "int32"
        },
        "updateTime": {
          "readOnly": true,
          "description": "Output only. The last-modified time.",
          "type": "string",
          "format": "google-datetime"
        },
        "completionTime": {
          "description": "Output only. Represents time when the execution was completed. It is not guaranteed to be set in happens-before order across separate operations.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "failedCount": {
          "description": "Output only. The number of tasks which reached phase Failed.",
          "format": "int32",
          "readOnly": true,
          "type": "integer"
        },
        "createTime": {
          "description": "Output only. Represents time when the execution was acknowledged by the execution controller. It is not guaranteed to be set in happens-before order across separate operations.",
          "format": "google-datetime",
          "type": "string",
          "readOnly": true
        },
        "launchStage": {
          "description": "The least stable launch stage needed to create this resource, as defined by [Google Cloud Platform Launch Stages](https://cloud.google.com/terms/launch-stages). Cloud Run supports `ALPHA`, `BETA`, and `GA`. Note that this value might not be what was used as input. For example, if ALPHA was provided as input in the parent resource, but only BETA and GA-level features are used, this field will be BETA.",
          "type": "string",
          "enum": [
            "LAUNCH_STAGE_UNSPECIFIED",
            "UNIMPLEMENTED",
            "PRELAUNCH",
            "EARLY_ACCESS",
            "ALPHA",
            "BETA",
            "GA",
            "DEPRECATED"
          ],
          "enumDescriptions": [
            "Do not use this default value.",
            "The feature is not yet implemented. Users can not use it.",
            "Prelaunch features are hidden from users and are only visible internally.",
            "Early Access features are limited to a closed group of testers. To use these features, you must sign up in advance and sign a Trusted Tester agreement (which includes confidentiality provisions). These features may be unstable, changed in backward-incompatible ways, and are not guaranteed to be released.",
            "Alpha is a limited availability test for releases before they are cleared for widespread use. By Alpha, all significant design issues are resolved and we are in the process of verifying functionality. Alpha customers need to apply for access, agree to applicable terms, and have their projects allowlisted. Alpha releases don't have to be feature complete, no SLAs are provided, and there are no technical support obligations, but they will be far enough along that customers can actually use them in test environments or for limited-use tests -- just like they would in normal production cases.",
            "Beta is the point at which we are ready to open a release for any customer to use. There are no SLA or technical support obligations in a Beta release. Products will be complete from a feature perspective, but may have some open outstanding issues. Beta releases are suitable for limited production use cases.",
            "GA features are open to all developers and are considered stable and fully qualified for production use.",
            "Deprecated features are scheduled to be shut down and removed. For more information, see the \"Deprecation Policy\" section of our [Terms of Service](https://cloud.google.com/terms/) and the [Google Cloud Platform Subject to the Deprecation Policy](https://cloud.google.com/terms/deprecation) documentation."
          ]
        },
        "expireTime": {
          "format": "google-datetime",
          "description": "Output only. For a deleted resource, the time after which it will be permamently deleted. It is only populated as a response to a Delete request.",
          "type": "string",
          "readOnly": true
        },
        "clientVersion": {
          "description": "Output only. Arbitrary version identifier for the API client.",
          "type": "string",
          "readOnly": true
        },
        "succeededCount": {
          "type": "integer",
          "format": "int32",
          "description": "Output only. The number of tasks which reached phase Succeeded.",
          "readOnly": true
        },
        "parallelism": {
          "format": "int32",
          "description": "Output only. Specifies the maximum desired number of tasks the execution should run at any given time. Must be <= task_count. The actual number of tasks running in steady state will be less than this number when ((.spec.task_count - .status.successful) < .spec.parallelism), i.e. when the work left to do is less than max parallelism.",
          "readOnly": true,
          "type": "integer"
        },
        "name": {
          "description": "Output only. The unique name of this Execution.",
          "readOnly": true,
          "type": "string"
        },
        "deleteTime": {
          "description": "Output only. For a deleted resource, the deletion time. It is only populated as a response to a Delete request.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "satisfiesPzs": {
          "type": "boolean",
          "readOnly": true,
          "description": "Output only. Reserved for future use."
        },
        "generation": {
          "type": "string",
          "format": "int64",
          "description": "Output only. A number that monotonically increases every time the user modifies the desired state.",
          "readOnly": true
        },
        "reconciling": {
          "readOnly": true,
          "description": "Output only. Indicates whether the resource's reconciliation is still in progress. See comments in `Job.reconciling` for additional information on reconciliation process in Cloud Run.",
          "type": "boolean"
        },
        "etag": {
          "readOnly": true,
          "description": "Output only. A system-generated fingerprint for this version of the resource. May be used to detect modification conflict during updates.",
          "type": "string"
        },
        "taskCount": {
          "format": "int32",
          "description": "Output only. Specifies the desired number of tasks the execution should run. Setting to 1 means that parallelism is limited to 1 and the success of that task signals the success of the execution.",
          "readOnly": true,
          "type": "integer"
        },
        "conditions": {
          "items": {
            "$ref": "GoogleCloudRunV2Condition"
          },
          "type": "array",
          "description": "Output only. The Condition of this Execution, containing its readiness status, and detailed error information in case it did not reach the desired state.",
          "readOnly": true
        },
        "observedGeneration": {
          "readOnly": true,
          "type": "string",
          "format": "int64",
          "description": "Output only. The generation of this Execution. See comments in `reconciling` for additional information on reconciliation process in Cloud Run."
        },
        "logUri": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. URI where logs for this execution can be found in Cloud Console."
        },
        "job": {
          "readOnly": true,
          "description": "Output only. The name of the parent Job.",
          "type": "string"
        },
        "labels": {
          "description": "Output only. Unstructured key value map that can be used to organize and categorize objects. User-provided labels are shared with Google's billing system, so they can be used to filter, or break down billing charges by team, component, environment, state, etc. For more information, visit https://cloud.google.com/resource-manager/docs/creating-managing-labels or https://cloud.google.com/run/docs/configuring/labels",
          "type": "object",
          "readOnly": true,
          "additionalProperties": {
            "type": "string"
          }
        },
        "creator": {
          "description": "Output only. Email address of the authenticated creator.",
          "readOnly": true,
          "type": "string"
        },
        "cancelledCount": {
          "description": "Output only. The number of tasks which reached phase Cancelled.",
          "format": "int32",
          "type": "integer",
          "readOnly": true
        },
        "client": {
          "description": "Output only. Arbitrary identifier for the API client.",
          "readOnly": true,
          "type": "string"
        },
        "startTime": {
          "type": "string",
          "description": "Output only. Represents time when the execution started to run. It is not guaranteed to be set in happens-before order across separate operations.",
          "readOnly": true,
          "format": "google-datetime"
        },
        "template": {
          "readOnly": true,
          "description": "Output only. The template used to create tasks for this execution.",
          "$ref": "GoogleCloudRunV2TaskTemplate"
        },
        "annotations": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Output only. Unstructured key value map that may be set by external tools to store and arbitrary metadata. They are not queryable and should be preserved when modifying objects.",
          "type": "object",
          "readOnly": true
        },
        "runningCount": {
          "description": "Output only. The number of actively running tasks.",
          "type": "integer",
          "format": "int32",
          "readOnly": true
        },
        "uid": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Server assigned unique identifier for the Execution. The value is a UUID4 string and guaranteed to remain unchanged until the resource is deleted."
        }
      },
      "id": "GoogleCloudRunV2Execution",
      "type": "object"
    },
    "GoogleCloudRunV2VersionToPath": {
      "properties": {
        "mode": {
          "description": "Integer octal mode bits to use on this file, must be a value between 01 and 0777 (octal). If 0 or not set, the Volume's default mode will be used. Notes * Internally, a umask of 0222 will be applied to any non-zero value. * This is an integer representation of the mode bits. So, the octal integer value should look exactly as the chmod numeric notation with a leading zero. Some examples: for chmod 640 (u=rw,g=r), set to 0640 (octal) or 416 (base-10). For chmod 755 (u=rwx,g=rx,o=rx), set to 0755 (octal) or 493 (base-10). * This might be in conflict with other options that affect the file mode, like fsGroup, and the result can be other mode bits set.",
          "format": "int32",
          "type": "integer"
        },
        "path": {
          "type": "string",
          "description": "Required. The relative path of the secret in the container."
        },
        "version": {
          "description": "The Cloud Secret Manager secret version. Can be 'latest' for the latest value, or an integer or a secret alias for a specific version.",
          "type": "string"
        }
      },
      "id": "GoogleCloudRunV2VersionToPath",
      "type": "object",
      "description": "VersionToPath maps a specific version of a secret to a relative file to mount to, relative to VolumeMount's mount_path."
    },
    "GoogleDevtoolsCloudbuildV1HttpConfig": {
      "id": "GoogleDevtoolsCloudbuildV1HttpConfig",
      "description": "HttpConfig is a configuration for HTTP related git operations.",
      "type": "object",
      "properties": {
        "proxySecretVersionName": {
          "type": "string",
          "description": "SecretVersion resource of the HTTP proxy URL. The Service Account used in the build (either the default Service Account or user-specified Service Account) should have `secretmanager.versions.access` permissions on this secret. The proxy URL should be in format `protocol://@]proxyhost[:port]`."
        }
      }
    },
    "GoogleDevtoolsCloudbuildV1Volume": {
      "description": "Volume describes a Docker container volume which is mounted into build steps in order to persist files across build step execution.",
      "type": "object",
      "id": "GoogleDevtoolsCloudbuildV1Volume",
      "properties": {
        "name": {
          "type": "string",
          "description": "Name of the volume to mount. Volume names must be unique per build step and must be valid names for Docker volumes. Each named volume must be used by at least two build steps."
        },
        "path": {
          "type": "string",
          "description": "Path at which to mount the volume. Paths must be absolute and cannot conflict with other volume paths on the same build step or with certain reserved volume paths."
        }
      }
    },
    "GoogleDevtoolsCloudbuildV1GitSource": {
      "id": "GoogleDevtoolsCloudbuildV1GitSource",
      "properties": {
        "dir": {
          "type": "string",
          "description": "Optional. Directory, relative to the source root, in which to run the build. This must be a relative path. If a step's `dir` is specified and is an absolute path, this value is ignored for that step's execution."
        },
        "url": {
          "description": "Required. Location of the Git repo to build. This will be used as a `git remote`, see https://git-scm.com/docs/git-remote.",
          "type": "string"
        },
        "revision": {
          "description": "Optional. The revision to fetch from the Git repository such as a branch, a tag, a commit SHA, or any Git ref. Cloud Build uses `git fetch` to fetch the revision from the Git repository; therefore make sure that the string you provide for `revision` is parsable by the command. For information on string values accepted by `git fetch`, see https://git-scm.com/docs/gitrevisions#_specifying_revisions. For information on `git fetch`, see https://git-scm.com/docs/git-fetch.",
          "type": "string"
        }
      },
      "description": "Location of the source in any accessible Git repository.",
      "type": "object"
    },
    "GoogleDevtoolsCloudbuildV1BuildApproval": {
      "properties": {
        "config": {
          "readOnly": true,
          "$ref": "GoogleDevtoolsCloudbuildV1ApprovalConfig",
          "description": "Output only. Configuration for manual approval of this build."
        },
        "result": {
          "description": "Output only. Result of manual approval for this Build.",
          "readOnly": true,
          "$ref": "GoogleDevtoolsCloudbuildV1ApprovalResult"
        },
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "PENDING",
            "APPROVED",
            "REJECTED",
            "CANCELLED"
          ],
          "type": "string",
          "readOnly": true,
          "description": "Output only. The state of this build's approval.",
          "enumDescriptions": [
            "Default enum type. This should not be used.",
            "Build approval is pending.",
            "Build approval has been approved.",
            "Build approval has been rejected.",
            "Build was cancelled while it was still pending approval."
          ]
        }
      },
      "description": "BuildApproval describes a build's approval configuration, state, and result.",
      "type": "object",
      "id": "GoogleDevtoolsCloudbuildV1BuildApproval"
    },
    "GoogleCloudRunV2Job": {
      "properties": {
        "launchStage": {
          "type": "string",
          "description": "The launch stage as defined by [Google Cloud Platform Launch Stages](https://cloud.google.com/terms/launch-stages). Cloud Run supports `ALPHA`, `BETA`, and `GA`. If no value is specified, GA is assumed. Set the launch stage to a preview stage on input to allow use of preview features in that stage. On read (or output), describes whether the resource uses preview features. For example, if ALPHA is provided as input, but only BETA and GA-level features are used, this field will be BETA on output.",
          "enum": [
            "LAUNCH_STAGE_UNSPECIFIED",
            "UNIMPLEMENTED",
            "PRELAUNCH",
            "EARLY_ACCESS",
            "ALPHA",
            "BETA",
            "GA",
            "DEPRECATED"
          ],
          "enumDescriptions": [
            "Do not use this default value.",
            "The feature is not yet implemented. Users can not use it.",
            "Prelaunch features are hidden from users and are only visible internally.",
            "Early Access features are limited to a closed group of testers. To use these features, you must sign up in advance and sign a Trusted Tester agreement (which includes confidentiality provisions). These features may be unstable, changed in backward-incompatible ways, and are not guaranteed to be released.",
            "Alpha is a limited availability test for releases before they are cleared for widespread use. By Alpha, all significant design issues are resolved and we are in the process of verifying functionality. Alpha customers need to apply for access, agree to applicable terms, and have their projects allowlisted. Alpha releases don't have to be feature complete, no SLAs are provided, and there are no technical support obligations, but they will be far enough along that customers can actually use them in test environments or for limited-use tests -- just like they would in normal production cases.",
            "Beta is the point at which we are ready to open a release for any customer to use. There are no SLA or technical support obligations in a Beta release. Products will be complete from a feature perspective, but may have some open outstanding issues. Beta releases are suitable for limited production use cases.",
            "GA features are open to all developers and are considered stable and fully qualified for production use.",
            "Deprecated features are scheduled to be shut down and removed. For more information, see the \"Deprecation Policy\" section of our [Terms of Service](https://cloud.google.com/terms/) and the [Google Cloud Platform Subject to the Deprecation Policy](https://cloud.google.com/terms/deprecation) documentation."
          ]
        },
        "clientVersion": {
          "description": "Arbitrary version identifier for the API client.",
          "type": "string"
        },
        "observedGeneration": {
          "description": "Output only. The generation of this Job. See comments in `reconciling` for additional information on reconciliation process in Cloud Run.",
          "readOnly": true,
          "format": "int64",
          "type": "string"
        },
        "etag": {
          "description": "Optional. A system-generated fingerprint for this version of the resource. May be used to detect modification conflict during updates.",
          "type": "string"
        },
        "startExecutionToken": {
          "type": "string",
          "description": "A unique string used as a suffix creating a new execution. The Job will become ready when the execution is successfully started. The sum of job name and token length must be fewer than 63 characters."
        },
        "generation": {
          "readOnly": true,
          "description": "Output only. A number that monotonically increases every time the user modifies the desired state.",
          "format": "int64",
          "type": "string"
        },
        "template": {
          "description": "Required. The template used to create executions for this Job.",
          "$ref": "GoogleCloudRunV2ExecutionTemplate"
        },
        "binaryAuthorization": {
          "description": "Settings for the Binary Authorization feature.",
          "$ref": "GoogleCloudRunV2BinaryAuthorization"
        },
        "runExecutionToken": {
          "type": "string",
          "description": "A unique string used as a suffix for creating a new execution. The Job will become ready when the execution is successfully completed. The sum of job name and token length must be fewer than 63 characters."
        },
        "deleteTime": {
          "description": "Output only. The deletion time. It is only populated as a response to a Delete request.",
          "format": "google-datetime",
          "type": "string",
          "readOnly": true
        },
        "conditions": {
          "items": {
            "$ref": "GoogleCloudRunV2Condition"
          },
          "description": "Output only. The Conditions of all other associated sub-resources. They contain additional diagnostics information in case the Job does not reach its desired state. See comments in `reconciling` for additional information on reconciliation process in Cloud Run.",
          "type": "array",
          "readOnly": true
        },
        "creator": {
          "description": "Output only. Email address of the authenticated creator.",
          "type": "string",
          "readOnly": true
        },
        "expireTime": {
          "description": "Output only. For a deleted resource, the time after which it will be permamently deleted.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "latestCreatedExecution": {
          "$ref": "GoogleCloudRunV2ExecutionReference",
          "description": "Output only. Name of the last created execution.",
          "readOnly": true
        },
        "createTime": {
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. The creation time.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "The fully qualified name of this Job. Format: projects/{project}/locations/{location}/jobs/{job}"
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Unstructured key value map that can be used to organize and categorize objects. User-provided labels are shared with Google's billing system, so they can be used to filter, or break down billing charges by team, component, environment, state, etc. For more information, visit https://cloud.google.com/resource-manager/docs/creating-managing-labels or https://cloud.google.com/run/docs/configuring/labels. Cloud Run API v2 does not support labels with `run.googleapis.com`, `cloud.googleapis.com`, `serving.knative.dev`, or `autoscaling.knative.dev` namespaces, and they will be rejected. All system labels in v1 now have a corresponding field in v2 Job.",
          "type": "object"
        },
        "annotations": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Unstructured key value map that may be set by external tools to store and arbitrary metadata. They are not queryable and should be preserved when modifying objects. Cloud Run API v2 does not support annotations with `run.googleapis.com`, `cloud.googleapis.com`, `serving.knative.dev`, or `autoscaling.knative.dev` namespaces, and they will be rejected on new resources. All system annotations in v1 now have a corresponding field in v2 Job. This field follows Kubernetes annotations' namespacing, limits, and rules.",
          "type": "object"
        },
        "client": {
          "description": "Arbitrary identifier for the API client.",
          "type": "string"
        },
        "satisfiesPzs": {
          "type": "boolean",
          "readOnly": true,
          "description": "Output only. Reserved for future use."
        },
        "updateTime": {
          "readOnly": true,
          "description": "Output only. The last-modified time.",
          "type": "string",
          "format": "google-datetime"
        },
        "reconciling": {
          "description": "Output only. Returns true if the Job is currently being acted upon by the system to bring it into the desired state. When a new Job is created, or an existing one is updated, Cloud Run will asynchronously perform all necessary steps to bring the Job to the desired state. This process is called reconciliation. While reconciliation is in process, `observed_generation` and `latest_succeeded_execution`, will have transient values that might mismatch the intended state: Once reconciliation is over (and this field is false), there are two possible outcomes: reconciliation succeeded and the state matches the Job, or there was an error, and reconciliation failed. This state can be found in `terminal_condition.state`. If reconciliation succeeded, the following fields will match: `observed_generation` and `generation`, `latest_succeeded_execution` and `latest_created_execution`. If reconciliation failed, `observed_generation` and `latest_succeeded_execution` will have the state of the last succeeded execution or empty for newly created Job. Additional information on the failure can be found in `terminal_condition` and `conditions`.",
          "type": "boolean",
          "readOnly": true
        },
        "lastModifier": {
          "type": "string",
          "description": "Output only. Email address of the last authenticated modifier.",
          "readOnly": true
        },
        "terminalCondition": {
          "readOnly": true,
          "description": "Output only. The Condition of this Job, containing its readiness status, and detailed error information in case it did not reach the desired state.",
          "$ref": "GoogleCloudRunV2Condition"
        },
        "uid": {
          "type": "string",
          "description": "Output only. Server assigned unique identifier for the Execution. The value is a UUID4 string and guaranteed to remain unchanged until the resource is deleted.",
          "readOnly": true
        },
        "executionCount": {
          "description": "Output only. Number of executions created for this job.",
          "readOnly": true,
          "type": "integer",
          "format": "int32"
        }
      },
      "id": "GoogleCloudRunV2Job",
      "description": "Job represents the configuration of a single job, which references a container image that is run to completion.",
      "type": "object"
    },
    "GoogleDevtoolsCloudbuildV1Hash": {
      "properties": {
        "value": {
          "format": "byte",
          "type": "string",
          "description": "The hash value."
        },
        "type": {
          "enum": [
            "NONE",
            "SHA256",
            "MD5",
            "GO_MODULE_H1",
            "SHA512",
            "DIRSUM_SHA256"
          ],
          "enumDescriptions": [
            "No hash requested.",
            "Use a sha256 hash.",
            "Use a md5 hash.",
            "Dirhash of a Go module's source code which is then hex-encoded.",
            "Use a sha512 hash.",
            "Use a dirsum_sha256 hash."
          ],
          "type": "string",
          "description": "The type of hash that was performed."
        }
      },
      "description": "Container message for hash values.",
      "type": "object",
      "id": "GoogleDevtoolsCloudbuildV1Hash"
    },
    "GoogleDevtoolsCloudbuildV1RepoSource": {
      "description": "Location of the source in a Google Cloud Source Repository.",
      "properties": {
        "commitSha": {
          "type": "string",
          "description": "Explicit commit SHA to build."
        },
        "dir": {
          "description": "Optional. Directory, relative to the source root, in which to run the build. This must be a relative path. If a step's `dir` is specified and is an absolute path, this value is ignored for that step's execution.",
          "type": "string"
        },
        "tagName": {
          "description": "Regex matching tags to build. The syntax of the regular expressions accepted is the syntax accepted by RE2 and described at https://github.com/google/re2/wiki/Syntax",
          "type": "string"
        },
        "projectId": {
          "description": "Optional. ID of the project that owns the Cloud Source Repository. If omitted, the project ID requesting the build is assumed.",
          "type": "string"
        },
        "repoName": {
          "type": "string",
          "description": "Required. Name of the Cloud Source Repository."
        },
        "invertRegex": {
          "type": "boolean",
          "description": "Optional. Only trigger a build if the revision regex does NOT match the revision regex."
        },
        "branchName": {
          "type": "string",
          "description": "Regex matching branches to build. The syntax of the regular expressions accepted is the syntax accepted by RE2 and described at https://github.com/google/re2/wiki/Syntax"
        },
        "substitutions": {
          "description": "Optional. Substitutions to use in a triggered build. Should only be used with RunBuildTrigger",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        }
      },
      "type": "object",
      "id": "GoogleDevtoolsCloudbuildV1RepoSource"
    },
    "GoogleDevtoolsCloudbuildV1Secret": {
      "id": "GoogleDevtoolsCloudbuildV1Secret",
      "properties": {
        "kmsKeyName": {
          "description": "Cloud KMS key name to use to decrypt these envs.",
          "type": "string"
        },
        "secretEnv": {
          "additionalProperties": {
            "type": "string",
            "format": "byte"
          },
          "description": "Map of environment variable name to its encrypted value. Secret environment variables must be unique across all of a build's secrets, and must be used by at least one build step. Values can be at most 64 KB in size. There can be at most 100 secret values across all of a build's secrets.",
          "type": "object"
        }
      },
      "description": "Pairs a set of secret environment variables containing encrypted values with the Cloud KMS key to use to decrypt the value. Note: Use `kmsKeyName` with `available_secrets` instead of using `kmsKeyName` with `secret`. For instructions see: https://cloud.google.com/cloud-build/docs/securing-builds/use-encrypted-credentials.",
      "type": "object"
    },
    "GoogleCloudRunV2TCPSocketAction": {
      "properties": {
        "port": {
          "type": "integer",
          "format": "int32",
          "description": "Optional. Port number to access on the container. Must be in the range 1 to 65535. If not specified, defaults to the exposed port of the container, which is the value of container.ports[0].containerPort."
        }
      },
      "description": "TCPSocketAction describes an action based on opening a socket",
      "id": "GoogleCloudRunV2TCPSocketAction",
      "type": "object"
    },
    "GoogleCloudRunV2NetworkInterface": {
      "type": "object",
      "id": "GoogleCloudRunV2NetworkInterface",
      "description": "Direct VPC egress settings.",
      "properties": {
        "tags": {
          "type": "array",
          "description": "Optional. Network tags applied to this Cloud Run resource.",
          "items": {
            "type": "string"
          }
        },
        "network": {
          "description": "Optional. The VPC network that the Cloud Run resource will be able to send traffic to. At least one of network or subnetwork must be specified. If both network and subnetwork are specified, the given VPC subnetwork must belong to the given VPC network. If network is not specified, it will be looked up from the subnetwork.",
          "type": "string"
        },
        "subnetwork": {
          "description": "Optional. The VPC subnetwork that the Cloud Run resource will get IPs from. At least one of network or subnetwork must be specified. If both network and subnetwork are specified, the given VPC subnetwork must belong to the given VPC network. If subnetwork is not specified, the subnetwork with the same name with the network will be used.",
          "type": "string"
        }
      }
    },
    "GoogleDevtoolsCloudbuildV1UploadedPythonPackage": {
      "description": "Artifact uploaded using the PythonPackage directive.",
      "type": "object",
      "id": "GoogleDevtoolsCloudbuildV1UploadedPythonPackage",
      "properties": {
        "fileHashes": {
          "$ref": "GoogleDevtoolsCloudbuildV1FileHashes",
          "description": "Hash types and values of the Python Artifact."
        },
        "pushTiming": {
          "description": "Output only. Stores timing information for pushing the specified artifact.",
          "readOnly": true,
          "$ref": "GoogleDevtoolsCloudbuildV1TimeSpan"
        },
        "uri": {
          "description": "URI of the uploaded artifact.",
          "type": "string"
        },
        "artifactRegistryPackage": {
          "readOnly": true,
          "description": "Output only. Path to the artifact in Artifact Registry.",
          "type": "string"
        }
      }
    },
    "GoogleCloudRunV2ListRevisionsResponse": {
      "id": "GoogleCloudRunV2ListRevisionsResponse",
      "description": "Response message containing a list of Revisions.",
      "type": "object",
      "properties": {
        "revisions": {
          "description": "The resulting list of Revisions.",
          "items": {
            "$ref": "GoogleCloudRunV2Revision"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token indicating there are more items than page_size. Use it in the next ListRevisions request to continue.",
          "type": "string"
        }
      }
    },
    "GoogleDevtoolsCloudbuildV1Build": {
      "description": "A build resource in the Cloud Build API. At a high level, a `Build` describes where to find source code, how to build it (for example, the builder image to run on the source), and where to store the built artifacts. Fields can include the following variables, which will be expanded when the build is created: - $PROJECT_ID: the project ID of the build. - $PROJECT_NUMBER: the project number of the build. - $LOCATION: the location/region of the build. - $BUILD_ID: the autogenerated ID of the build. - $REPO_NAME: the source repository name specified by RepoSource. - $BRANCH_NAME: the branch name specified by RepoSource. - $TAG_NAME: the tag name specified by RepoSource. - $REVISION_ID or $COMMIT_SHA: the commit SHA specified by RepoSource or resolved from the specified branch or tag. - $SHORT_SHA: first 7 characters of $REVISION_ID or $COMMIT_SHA.",
      "type": "object",
      "properties": {
        "secrets": {
          "items": {
            "$ref": "GoogleDevtoolsCloudbuildV1Secret"
          },
          "type": "array",
          "description": "Secrets to decrypt using Cloud Key Management Service. Note: Secret Manager is the recommended technique for managing sensitive data with Cloud Build. Use `available_secrets` to configure builds to access secrets from Secret Manager. For instructions, see: https://cloud.google.com/cloud-build/docs/securing-builds/use-secrets"
        },
        "logUrl": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. URL to logs for this build in Google Cloud Console."
        },
        "id": {
          "description": "Output only. Unique identifier of the build.",
          "readOnly": true,
          "type": "string"
        },
        "createTime": {
          "description": "Output only. Time at which the request to create the build was received.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "status": {
          "description": "Output only. Status of the build.",
          "type": "string",
          "enum": [
            "STATUS_UNKNOWN",
            "PENDING",
            "QUEUED",
            "WORKING",
            "SUCCESS",
            "FAILURE",
            "INTERNAL_ERROR",
            "TIMEOUT",
            "CANCELLED",
            "EXPIRED"
          ],
          "readOnly": true,
          "enumDescriptions": [
            "Status of the build is unknown.",
            "Build has been created and is pending execution and queuing. It has not been queued.",
            "Build or step is queued; work has not yet begun.",
            "Build or step is being executed.",
            "Build or step finished successfully.",
            "Build or step failed to complete successfully.",
            "Build or step failed due to an internal cause.",
            "Build or step took longer than was allowed.",
            "Build or step was canceled by a user.",
            "Build was enqueued for longer than the value of `queue_ttl`."
          ]
        },
        "finishTime": {
          "format": "google-datetime",
          "description": "Output only. Time at which execution of the build was finished. The difference between finish_time and start_time is the duration of the build's execution.",
          "readOnly": true,
          "type": "string"
        },
        "results": {
          "readOnly": true,
          "$ref": "GoogleDevtoolsCloudbuildV1Results",
          "description": "Output only. Results of the build."
        },
        "dependencies": {
          "items": {
            "$ref": "GoogleDevtoolsCloudbuildV1Dependency"
          },
          "type": "array",
          "description": "Optional. Dependencies that the Cloud Build worker will fetch before executing user steps."
        },
        "name": {
          "type": "string",
          "description": "Output only. The 'Build' name with format: `projects/{project}/locations/{location}/builds/{build}`, where {build} is a unique identifier generated by the service.",
          "readOnly": true
        },
        "artifacts": {
          "description": "Artifacts produced by the build that should be uploaded upon successful completion of all build steps.",
          "$ref": "GoogleDevtoolsCloudbuildV1Artifacts"
        },
        "queueTtl": {
          "format": "google-duration",
          "description": "TTL in queue for this build. If provided and the build is enqueued longer than this value, the build will expire and the build status will be `EXPIRED`. The TTL starts ticking from create_time.",
          "type": "string"
        },
        "buildTriggerId": {
          "type": "string",
          "description": "Output only. The ID of the `BuildTrigger` that triggered this build, if it was triggered automatically.",
          "readOnly": true
        },
        "options": {
          "description": "Special options for this build.",
          "$ref": "GoogleDevtoolsCloudbuildV1BuildOptions"
        },
        "substitutions": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Substitutions data for `Build` resource."
        },
        "warnings": {
          "description": "Output only. Non-fatal problems encountered during the execution of the build.",
          "readOnly": true,
          "items": {
            "$ref": "GoogleDevtoolsCloudbuildV1Warning"
          },
          "type": "array"
        },
        "gitConfig": {
          "description": "Optional. Configuration for git operations.",
          "$ref": "GoogleDevtoolsCloudbuildV1GitConfig"
        },
        "logsBucket": {
          "type": "string",
          "description": "Cloud Storage bucket where logs should be written (see [Bucket Name Requirements](https://cloud.google.com/storage/docs/bucket-naming#requirements)). Logs file names will be of the format `${logs_bucket}/log-${build_id}.txt`."
        },
        "source": {
          "description": "Optional. The location of the source files to build.",
          "$ref": "GoogleDevtoolsCloudbuildV1Source"
        },
        "steps": {
          "items": {
            "$ref": "GoogleDevtoolsCloudbuildV1BuildStep"
          },
          "description": "Required. The operations to be performed on the workspace.",
          "type": "array"
        },
        "images": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "A list of images to be pushed upon the successful completion of all build steps. The images are pushed using the builder service account's credentials. The digests of the pushed images will be stored in the `Build` resource's results field. If any of the images fail to be pushed, the build status is marked `FAILURE`."
        },
        "statusDetail": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Customer-readable message about the current status."
        },
        "sourceProvenance": {
          "readOnly": true,
          "$ref": "GoogleDevtoolsCloudbuildV1SourceProvenance",
          "description": "Output only. A permanent fixed identifier for source."
        },
        "projectId": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. ID of the project."
        },
        "approval": {
          "readOnly": true,
          "$ref": "GoogleDevtoolsCloudbuildV1BuildApproval",
          "description": "Output only. Describes this build's approval configuration, status, and result."
        },
        "serviceAccount": {
          "description": "IAM service account whose credentials will be used at build runtime. Must be of the format `projects/{PROJECT_ID}/serviceAccounts/{ACCOUNT}`. ACCOUNT can be email address or uniqueId of the service account. ",
          "type": "string"
        },
        "timing": {
          "additionalProperties": {
            "$ref": "GoogleDevtoolsCloudbuildV1TimeSpan"
          },
          "description": "Output only. Stores timing information for phases of the build. Valid keys are: * BUILD: time to execute all build steps. * PUSH: time to push all artifacts including docker images and non docker artifacts. * FETCHSOURCE: time to fetch source. * SETUPBUILD: time to set up build. If the build does not specify source or images, these keys will not be included.",
          "readOnly": true,
          "type": "object"
        },
        "startTime": {
          "description": "Output only. Time at which execution of the build was started.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "failureInfo": {
          "$ref": "GoogleDevtoolsCloudbuildV1FailureInfo",
          "description": "Output only. Contains information about the build when status=FAILURE.",
          "readOnly": true
        },
        "timeout": {
          "type": "string",
          "format": "google-duration",
          "description": "Amount of time that this build should be allowed to run, to second granularity. If this amount of time elapses, work on the build will cease and the build status will be `TIMEOUT`. `timeout` starts ticking from `startTime`. Default time is 60 minutes."
        },
        "availableSecrets": {
          "description": "Secrets and secret environment variables.",
          "$ref": "GoogleDevtoolsCloudbuildV1Secrets"
        },
        "tags": {
          "description": "Tags for annotation of a `Build`. These are not docker tags.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "id": "GoogleDevtoolsCloudbuildV1Build"
    },
    "GoogleDevtoolsCloudbuildV1SecretManagerSecret": {
      "description": "Pairs a secret environment variable with a SecretVersion in Secret Manager.",
      "type": "object",
      "properties": {
        "env": {
          "description": "Environment variable name to associate with the secret. Secret environment variables must be unique across all of a build's secrets, and must be used by at least one build step.",
          "type": "string"
        },
        "versionName": {
          "type": "string",
          "description": "Resource name of the SecretVersion. In format: projects/*/secrets/*/versions/*"
        }
      },
      "id": "GoogleDevtoolsCloudbuildV1SecretManagerSecret"
    },
    "GoogleCloudRunV2InstanceSplit": {
      "id": "GoogleCloudRunV2InstanceSplit",
      "description": "Holds a single instance split entry for the Worker. Allocations can be done to a specific Revision name, or pointing to the latest Ready Revision.",
      "properties": {
        "revision": {
          "description": "Revision to which to assign this portion of instances, if split allocation is by revision.",
          "type": "string"
        },
        "type": {
          "description": "The allocation type for this instance split.",
          "enum": [
            "INSTANCE_SPLIT_ALLOCATION_TYPE_UNSPECIFIED",
            "INSTANCE_SPLIT_ALLOCATION_TYPE_LATEST",
            "INSTANCE_SPLIT_ALLOCATION_TYPE_REVISION"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unspecified instance allocation type.",
            "Allocates instances to the Service's latest ready Revision.",
            "Allocates instances to a Revision by name."
          ]
        },
        "percent": {
          "description": "Specifies percent of the instance split to this Revision. This defaults to zero if unspecified.",
          "format": "int32",
          "type": "integer"
        }
      },
      "type": "object"
    },
    "GoogleDevtoolsCloudbuildV1ArtifactObjects": {
      "description": "Files in the workspace to upload to Cloud Storage upon successful completion of all build steps.",
      "type": "object",
      "properties": {
        "timing": {
          "description": "Output only. Stores timing information for pushing all artifact objects.",
          "$ref": "GoogleDevtoolsCloudbuildV1TimeSpan",
          "readOnly": true
        },
        "location": {
          "type": "string",
          "description": "Cloud Storage bucket and optional object path, in the form \"gs://bucket/path/to/somewhere/\". (see [Bucket Name Requirements](https://cloud.google.com/storage/docs/bucket-naming#requirements)). Files in the workspace matching any path pattern will be uploaded to Cloud Storage with this location as a prefix."
        },
        "paths": {
          "description": "Path globs used to match files in the build's workspace.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "GoogleDevtoolsCloudbuildV1ArtifactObjects"
    },
    "GoogleCloudRunV2CancelExecutionRequest": {
      "type": "object",
      "id": "GoogleCloudRunV2CancelExecutionRequest",
      "properties": {
        "etag": {
          "description": "A system-generated fingerprint for this version of the resource. This may be used to detect modification conflict during updates.",
          "type": "string"
        },
        "validateOnly": {
          "description": "Indicates that the request should be validated without actually cancelling any resources.",
          "type": "boolean"
        }
      },
      "description": "Request message for deleting an Execution."
    },
    "GoogleDevtoolsCloudbuildV1NpmPackage": {
      "type": "object",
      "id": "GoogleDevtoolsCloudbuildV1NpmPackage",
      "properties": {
        "packagePath": {
          "type": "string",
          "description": "Optional. Path to the package.json. e.g. workspace/path/to/package Only one of `archive` or `package_path` can be specified."
        },
        "repository": {
          "description": "Artifact Registry repository, in the form \"https://$REGION-npm.pkg.dev/$PROJECT/$REPOSITORY\" Npm package in the workspace specified by path will be zipped and uploaded to Artifact Registry with this location as a prefix.",
          "type": "string"
        }
      },
      "description": "Npm package to upload to Artifact Registry upon successful completion of all build steps."
    },
    "GoogleCloudRunV2ImageExportStatus": {
      "type": "object",
      "properties": {
        "exportedImageDigest": {
          "description": "The exported image ID as it will appear in Artifact Registry.",
          "type": "string"
        },
        "status": {
          "description": "The status of the export task if done.",
          "$ref": "UtilStatusProto"
        },
        "exportJobState": {
          "readOnly": true,
          "enumDescriptions": [
            "State unspecified.",
            "Job still in progress.",
            "Job finished."
          ],
          "enum": [
            "EXPORT_JOB_STATE_UNSPECIFIED",
            "IN_PROGRESS",
            "FINISHED"
          ],
          "description": "Output only. Has the image export job finished (regardless of successful or failure).",
          "type": "string"
        },
        "tag": {
          "type": "string",
          "description": "The image tag as it will appear in Artifact Registry."
        }
      },
      "id": "GoogleCloudRunV2ImageExportStatus",
      "description": "The status of an image export job."
    },
    "GoogleDevtoolsCloudbuildV1ApprovalResult": {
      "properties": {
        "url": {
          "description": "Optional. An optional URL tied to this manual approval result. This field is essentially the same as comment, except that it will be rendered by the UI differently. An example use case is a link to an external job that approved this Build.",
          "type": "string"
        },
        "approvalTime": {
          "description": "Output only. The time when the approval decision was made.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "approverAccount": {
          "readOnly": true,
          "description": "Output only. Email of the user that called the ApproveBuild API to approve or reject a build at the time that the API was called.",
          "type": "string"
        },
        "decision": {
          "description": "Required. The decision of this manual approval.",
          "enumDescriptions": [
            "Default enum type. This should not be used.",
            "Build is approved.",
            "Build is rejected."
          ],
          "type": "string",
          "enum": [
            "DECISION_UNSPECIFIED",
            "APPROVED",
            "REJECTED"
          ]
        },
        "comment": {
          "type": "string",
          "description": "Optional. An optional comment for this manual approval result."
        }
      },
      "type": "object",
      "description": "ApprovalResult describes the decision and associated metadata of a manual approval of a build.",
      "id": "GoogleDevtoolsCloudbuildV1ApprovalResult"
    },
    "GoogleDevtoolsCloudbuildV1UploadedMavenArtifact": {
      "id": "GoogleDevtoolsCloudbuildV1UploadedMavenArtifact",
      "type": "object",
      "description": "A Maven artifact uploaded using the MavenArtifact directive.",
      "properties": {
        "fileHashes": {
          "$ref": "GoogleDevtoolsCloudbuildV1FileHashes",
          "description": "Hash types and values of the Maven Artifact."
        },
        "uri": {
          "description": "URI of the uploaded artifact.",
          "type": "string"
        },
        "artifactRegistryPackage": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Path to the artifact in Artifact Registry."
        },
        "pushTiming": {
          "$ref": "GoogleDevtoolsCloudbuildV1TimeSpan",
          "readOnly": true,
          "description": "Output only. Stores timing information for pushing the specified artifact."
        }
      }
    },
    "GoogleDevtoolsCloudbuildV1BuildOptions": {
      "description": "Optional arguments to enable specific features of builds.",
      "type": "object",
      "id": "GoogleDevtoolsCloudbuildV1BuildOptions",
      "properties": {
        "requestedVerifyOption": {
          "enumDescriptions": [
            "Not a verifiable build (the default).",
            "Build must be verified."
          ],
          "enum": [
            "NOT_VERIFIED",
            "VERIFIED"
          ],
          "type": "string",
          "description": "Requested verifiability options."
        },
        "dynamicSubstitutions": {
          "description": "Option to specify whether or not to apply bash style string operations to the substitutions. NOTE: this is always enabled for triggered builds and cannot be overridden in the build configuration file.",
          "type": "boolean"
        },
        "diskSizeGb": {
          "format": "int64",
          "type": "string",
          "description": "Requested disk size for the VM that runs the build. Note that this is *NOT* \"disk free\"; some of the space will be used by the operating system and build utilities. Also note that this is the minimum disk size that will be allocated for the build -- the build may run with a larger disk than requested. At present, the maximum disk size is 4000GB; builds that request more than the maximum are rejected with an error."
        },
        "volumes": {
          "items": {
            "$ref": "GoogleDevtoolsCloudbuildV1Volume"
          },
          "description": "Global list of volumes to mount for ALL build steps Each volume is created as an empty volume prior to starting the build process. Upon completion of the build, volumes and their contents are discarded. Global volume names and paths cannot conflict with the volumes defined a build step. Using a global volume in a build with only one step is not valid as it is indicative of a build request with an incorrect configuration.",
          "type": "array"
        },
        "pubsubTopic": {
          "description": "Optional. Option to specify the Pub/Sub topic to receive build status updates.",
          "type": "string"
        },
        "workerPool": {
          "type": "string",
          "description": "This field deprecated; please use `pool.name` instead.",
          "deprecated": true
        },
        "substitutionOption": {
          "type": "string",
          "description": "Option to specify behavior when there is an error in the substitution checks. NOTE: this is always set to ALLOW_LOOSE for triggered builds and cannot be overridden in the build configuration file.",
          "enum": [
            "MUST_MATCH",
            "ALLOW_LOOSE"
          ],
          "enumDescriptions": [
            "Fails the build if error in substitutions checks, like missing a substitution in the template or in the map.",
            "Do not fail the build if error in substitutions checks."
          ]
        },
        "logStreamingOption": {
          "type": "string",
          "description": "Option to define build log streaming behavior to Cloud Storage.",
          "enum": [
            "STREAM_DEFAULT",
            "STREAM_ON",
            "STREAM_OFF"
          ],
          "enumDescriptions": [
            "Service may automatically determine build log streaming behavior.",
            "Build logs should be streamed to Cloud Storage.",
            "Build logs should not be streamed to Cloud Storage; they will be written when the build is completed."
          ]
        },
        "pool": {
          "description": "Optional. Specification for execution on a `WorkerPool`. See [running builds in a private pool](https://cloud.google.com/build/docs/private-pools/run-builds-in-private-pool) for more information.",
          "$ref": "GoogleDevtoolsCloudbuildV1PoolOption"
        },
        "defaultLogsBucketBehavior": {
          "enum": [
            "DEFAULT_LOGS_BUCKET_BEHAVIOR_UNSPECIFIED",
            "REGIONAL_USER_OWNED_BUCKET",
            "LEGACY_BUCKET"
          ],
          "enumDescriptions": [
            "Unspecified.",
            "Bucket is located in user-owned project in the same region as the build. The builder service account must have access to create and write to Cloud Storage buckets in the build project.",
            "Bucket is located in a Google-owned project and is not regionalized."
          ],
          "description": "Optional. Option to specify how default logs buckets are setup.",
          "type": "string"
        },
        "enableStructuredLogging": {
          "type": "boolean",
          "description": "Optional. Option to specify whether structured logging is enabled. If true, JSON-formatted logs are parsed as structured logs."
        },
        "automapSubstitutions": {
          "type": "boolean",
          "description": "Option to include built-in and custom substitutions as env variables for all build steps."
        },
        "secretEnv": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "A list of global environment variables, which are encrypted using a Cloud Key Management Service crypto key. These values must be specified in the build's `Secret`. These variables will be available to all build steps in this build."
        },
        "sourceProvenanceHash": {
          "description": "Requested hash for SourceProvenance.",
          "type": "array",
          "items": {
            "enum": [
              "NONE",
              "SHA256",
              "MD5",
              "GO_MODULE_H1",
              "SHA512",
              "DIRSUM_SHA256"
            ],
            "enumDescriptions": [
              "No hash requested.",
              "Use a sha256 hash.",
              "Use a md5 hash.",
              "Dirhash of a Go module's source code which is then hex-encoded.",
              "Use a sha512 hash.",
              "Use a dirsum_sha256 hash."
            ],
            "type": "string"
          }
        },
        "logging": {
          "description": "Option to specify the logging mode, which determines if and where build logs are stored.",
          "enumDescriptions": [
            "The service determines the logging mode. The default is `LEGACY`. Do not rely on the default logging behavior as it may change in the future.",
            "Build logs are stored in Cloud Logging and Cloud Storage.",
            "Build logs are stored in Cloud Storage.",
            "This option is the same as CLOUD_LOGGING_ONLY.",
            "Build logs are stored in Cloud Logging. Selecting this option will not allow [logs streaming](https://cloud.google.com/sdk/gcloud/reference/builds/log).",
            "Turn off all logging. No build logs will be captured."
          ],
          "enum": [
            "LOGGING_UNSPECIFIED",
            "LEGACY",
            "GCS_ONLY",
            "STACKDRIVER_ONLY",
            "CLOUD_LOGGING_ONLY",
            "NONE"
          ],
          "enumDeprecated": [
            false,
            false,
            false,
            true,
            false,
            false
          ],
          "type": "string"
        },
        "machineType": {
          "enumDescriptions": [
            "Standard machine type.",
            "Highcpu machine with 8 CPUs.",
[...]
