{
  "fullyEncodeReservedExpansion": true,
  "documentationLink": "https://cloud.google.com/run/",
  "discoveryVersion": "v1",
  "description": "Deploy and manage user provided container images that scale automatically based on incoming requests. The Cloud Run Admin API v1 follows the Knative Serving API specification, while v2 is aligned with Google Cloud AIP-based API standards, as described in https://google.aip.dev/.",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "baseUrl": "https://run.googleapis.com/",
  "parameters": {
    "$.xgafv": {
      "type": "string",
      "enum": [
        "1",
        "2"
      ],
      "description": "V1 error format.",
      "location": "query",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ]
    },
    "alt": {
      "description": "Data format for response.",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "default": "json",
      "location": "query",
      "type": "string"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string",
      "location": "query"
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "prettyPrint": {
      "type": "boolean",
      "default": "true",
      "description": "Returns response with indentations and line breaks.",
      "location": "query"
    },
    "fields": {
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string"
    },
    "oauth_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth 2.0 token for the current user."
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "access_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth access token."
    },
    "key": {
      "location": "query",
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    }
  },
  "kind": "discovery#restDescription",
  "basePath": "",
  "version": "v1",
  "version_module": true,
  "protocol": "rest",
  "title": "Cloud Run Admin API",
  "rootUrl": "https://run.googleapis.com/",
  "id": "run:v1",
  "canonicalName": "Cloud Run",
  "schemas": {
    "Probe": {
      "description": "Probe describes a health check to be performed against a container to determine whether it is alive or ready to receive traffic.",
      "type": "object",
      "id": "Probe",
      "properties": {
        "exec": {
          "description": "Not supported by Cloud Run.",
          "$ref": "ExecAction"
        },
        "tcpSocket": {
          "description": "TCPSocket specifies an action involving a TCP port.",
          "$ref": "TCPSocketAction"
        },
        "failureThreshold": {
          "description": "Minimum consecutive failures for the probe to be considered failed after having succeeded. Defaults to 3. Minimum value is 1.",
          "format": "int32",
          "type": "integer"
        },
        "successThreshold": {
          "format": "int32",
          "description": "Minimum consecutive successes for the probe to be considered successful after having failed. Must be 1 if set.",
          "type": "integer"
        },
        "grpc": {
          "description": "GRPCAction specifies an action involving a GRPC port.",
          "$ref": "GRPCAction"
        },
        "periodSeconds": {
          "type": "integer",
          "format": "int32",
          "description": "How often (in seconds) to perform the probe. Default to 10 seconds. Minimum value is 1. Maximum value for liveness probe is 3600. Maximum value for startup probe is 240. Must be greater or equal than timeout_seconds."
        },
        "httpGet": {
          "description": "HTTPGet specifies the http request to perform.",
          "$ref": "HTTPGetAction"
        },
        "timeoutSeconds": {
          "description": "Number of seconds after which the probe times out. Defaults to 1 second. Minimum value is 1. Maximum value is 3600. Must be smaller than period_seconds; if period_seconds is not set, must be less or equal than 10.",
          "type": "integer",
          "format": "int32"
        },
        "initialDelaySeconds": {
          "type": "integer",
          "description": "Number of seconds after the container has started before the probe is initiated. Defaults to 0 seconds. Minimum value is 0. Maximum value for liveness probe is 3600. Maximum value for startup probe is 240.",
          "format": "int32"
        }
      }
    },
    "Configuration": {
      "properties": {
        "apiVersion": {
          "description": "The API version for this call such as \"serving.knative.dev/v1\".",
          "type": "string"
        },
        "spec": {
          "description": "Spec holds the desired state of the Configuration (from the client).",
          "$ref": "ConfigurationSpec"
        },
        "metadata": {
          "description": "Metadata associated with this Configuration, including name, namespace, labels, and annotations.",
          "$ref": "ObjectMeta"
        },
        "kind": {
          "type": "string",
          "description": "The kind of resource, in this case always \"Configuration\"."
        },
        "status": {
          "description": "Status communicates the observed state of the Configuration (from the controller).",
          "$ref": "ConfigurationStatus"
        }
      },
      "description": "Configuration represents the \"floating HEAD\" of a linear history of Revisions, and optionally how the containers those revisions reference are built. Users create new Revisions by updating the Configuration's spec. The \"latest created\" revision's name is available under status, as is the \"latest ready\" revision's name.",
      "type": "object",
      "id": "Configuration"
    },
    "RouteSpec": {
      "id": "RouteSpec",
      "type": "object",
      "description": "RouteSpec holds the desired state of the Route (from the client).",
      "properties": {
        "traffic": {
          "items": {
            "$ref": "TrafficTarget"
          },
          "description": "Traffic specifies how to distribute traffic over a collection of Knative Revisions and Configurations. Cloud Run currently supports a single configurationName.",
          "type": "array"
        }
      }
    },
    "Status": {
      "id": "Status",
      "type": "object",
      "description": "Status is a return value for calls that don't return other objects.",
      "properties": {
        "metadata": {
          "description": "Standard list metadata.",
          "$ref": "ListMeta"
        },
        "status": {
          "type": "string",
          "description": "Status of the operation. One of: \"Success\" or \"Failure\"."
        },
        "reason": {
          "type": "string",
          "description": "A machine-readable description of why this operation is in the \"Failure\" status. If this value is empty there is no information available. A Reason clarifies an HTTP status code but does not override it."
        },
        "details": {
          "$ref": "StatusDetails",
          "description": "Extended data associated with the reason. Each reason may define its own extended details. This field is optional and the data returned is not guaranteed to conform to any schema except that defined by the reason type."
        },
        "message": {
          "description": "A human-readable description of the status of this operation.",
          "type": "string"
        },
        "code": {
          "description": "Suggested HTTP return code for this status, 0 if not set.",
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "GoogleDevtoolsCloudbuildV1DeveloperConnectConfig": {
      "id": "GoogleDevtoolsCloudbuildV1DeveloperConnectConfig",
      "type": "object",
      "description": "This config defines the location of a source through Developer Connect.",
      "properties": {
        "dir": {
          "type": "string",
          "description": "Required. Directory, relative to the source root, in which to run the build."
        },
        "revision": {
          "description": "Required. The revision to fetch from the Git repository such as a branch, a tag, a commit SHA, or any Git ref.",
          "type": "string"
        },
        "gitRepositoryLink": {
          "description": "Required. The Developer Connect Git repository link, formatted as `projects/*/locations/*/connections/*/gitRepositoryLink/*`.",
          "type": "string"
        }
      }
    },
    "GoogleDevtoolsCloudbuildV1GenericArtifactDependency": {
      "type": "object",
      "properties": {
        "destPath": {
          "type": "string",
          "description": "Required. Where the artifact files should be placed on the worker."
        },
        "resource": {
          "description": "Required. The location to download the artifact files from. Ex: projects/p1/locations/us/repositories/r1/packages/p1/versions/v1",
          "type": "string"
        }
      },
      "description": "Represents a generic artifact as a build dependency.",
      "id": "GoogleDevtoolsCloudbuildV1GenericArtifactDependency"
    },
    "GoogleDevtoolsCloudbuildV1GenericArtifact": {
      "id": "GoogleDevtoolsCloudbuildV1GenericArtifact",
      "type": "object",
      "properties": {
        "registryPath": {
          "type": "string",
          "description": "Required. Registry path to upload the generic artifact to, in the form projects/$PROJECT/locations/$LOCATION/repositories/$REPO/packages/$PACKAGE/versions/$VERSION"
        },
        "folder": {
          "description": "Required. Path to the generic artifact in the build's workspace to be uploaded to Artifact Registry.",
          "type": "string"
        }
      },
      "description": "Generic artifact to upload to Artifact Registry upon successful completion of all build steps."
    },
    "ListServicesResponse": {
      "properties": {
        "apiVersion": {
          "description": "The API version for this call; returns \"serving.knative.dev/v1\".",
          "type": "string"
        },
        "unreachable": {
          "type": "array",
          "description": "For calls against the global endpoint, returns the list of Cloud locations that could not be reached. For regional calls, this field is not used.",
          "items": {
            "type": "string"
          }
        },
        "metadata": {
          "description": "Metadata associated with this Service list.",
          "$ref": "ListMeta"
        },
        "items": {
          "type": "array",
          "description": "List of Services.",
          "items": {
            "$ref": "Service"
          }
        },
        "kind": {
          "type": "string",
          "description": "The kind of this resource; returns \"ServiceList\"."
        }
      },
      "description": "A list of Service resources.",
      "type": "object",
      "id": "ListServicesResponse"
    },
    "JobSpec": {
      "description": "JobSpec describes how the job will look.",
      "type": "object",
      "id": "JobSpec",
      "properties": {
        "runExecutionToken": {
          "type": "string",
          "description": "A unique string used as a suffix for creating a new execution. The Job will become ready when the execution is successfully completed. The sum of job name and token length must be fewer than 63 characters."
        },
        "template": {
          "description": "Optional. Describes the execution that will be created when running a job.",
          "$ref": "ExecutionTemplateSpec"
        },
        "startExecutionToken": {
          "type": "string",
          "description": "A unique string used as a suffix for creating a new execution. The Job will become ready when the execution is successfully started. The sum of job name and token length must be fewer than 63 characters."
        }
      }
    },
    "TaskStatus": {
      "id": "TaskStatus",
      "properties": {
        "lastAttemptResult": {
          "$ref": "TaskAttemptResult",
          "description": "Optional. Result of the last attempt of this task."
        },
        "retried": {
          "description": "Optional. The number of times this task was retried. Instances are retried when they fail up to the maxRetries limit.",
          "type": "integer",
          "format": "int32"
        },
        "startTime": {
          "type": "string",
          "description": "Optional. Represents time when the task started to run. It is not guaranteed to be set in happens-before order across separate operations. It is represented in RFC3339 form and is in UTC.",
          "format": "google-datetime"
        },
        "logUri": {
          "description": "Optional. URI where logs for this task can be found in Cloud Console.",
          "type": "string"
        },
        "index": {
          "type": "integer",
          "description": "Required. Index of the task, unique per execution, and beginning at 0.",
          "format": "int32"
        },
        "conditions": {
          "description": "Optional. Conditions communicate information about ongoing/complete reconciliation processes that bring the \"spec\" inline with the observed state of the world. Task-specific conditions include: * `Started`: `True` when the task has started to execute. * `Completed`: `True` when the task has succeeded. `False` when the task has failed.",
          "items": {
            "$ref": "GoogleCloudRunV1Condition"
          },
          "type": "array"
        },
        "observedGeneration": {
          "type": "integer",
          "description": "Optional. The 'generation' of the task that was last processed by the controller.",
          "format": "int32"
        },
        "completionTime": {
          "description": "Optional. Represents time when the task was completed. It is not guaranteed to be set in happens-before order across separate operations. It is represented in RFC3339 form and is in UTC.",
          "type": "string",
          "format": "google-datetime"
        }
      },
      "description": "TaskStatus represents the status of a task.",
      "type": "object"
    },
    "InstanceSplit": {
      "description": "Holds a single instance split entry for the Worker. Allocations can be done to a specific Revision name, or pointing to the latest Ready Revision.",
      "type": "object",
      "id": "InstanceSplit",
      "properties": {
        "latestRevision": {
          "description": "Uses the \"status.latestReadyRevisionName\" to determine the instance split target. When it changes, workloads will automatically migrate from the prior \"latest ready\" revision to the new one.",
          "type": "boolean"
        },
        "percent": {
          "type": "integer",
          "description": "Optional. Specifies percent of the instance split to this Revision. This defaults to zero if unspecified.",
          "format": "int32"
        },
        "revisionName": {
          "description": "Revision to which to assign this portion of instances.",
          "type": "string"
        }
      }
    },
    "NFSVolumeSource": {
      "description": "Represents a persistent volume that will be mounted using NFS. This volume will be shared between all instances of the resource and data will not be deleted when the instance is shut down.",
      "type": "object",
      "properties": {
        "server": {
          "type": "string",
          "description": "Hostname or IP address of the NFS server."
        },
        "readOnly": {
          "description": "If true, mount the NFS volume as read only. Defaults to false.",
          "type": "boolean"
        },
        "path": {
          "type": "string",
          "description": "Path that is exported by the NFS server."
        }
      },
      "id": "NFSVolumeSource"
    },
    "GoogleCloudRunV1Condition": {
      "id": "GoogleCloudRunV1Condition",
      "properties": {
        "message": {
          "description": "Optional. Human readable message indicating details about the current status.",
          "type": "string"
        },
        "type": {
          "type": "string",
          "description": "type is used to communicate the status of the reconciliation process. Types common to all resources include: * \"Ready\" or \"Completed\": True when the Resource is ready."
        },
        "severity": {
          "description": "Optional. How to interpret this condition. One of Error, Warning, or Info. Conditions of severity Info do not contribute to resource readiness.",
          "type": "string"
        },
        "status": {
          "type": "string",
          "description": "Status of the condition, one of True, False, Unknown."
        },
        "reason": {
          "type": "string",
          "description": "Optional. One-word CamelCase reason for the condition's last transition. These are intended to be stable, unique values which the client may use to trigger error handling logic, whereas messages which may be changed later by the server."
        },
        "lastTransitionTime": {
          "type": "string",
          "description": "Optional. Last time the condition transitioned from one status to another.",
          "format": "google-datetime"
        }
      },
      "type": "object",
      "description": "Conditions show the status of reconciliation progress on a given resource. Most resource use a top-level condition type \"Ready\" or \"Completed\" to show overall status with other conditions to checkpoint each stage of reconciliation. Note that if metadata.Generation does not equal status.ObservedGeneration, the conditions shown may not be relevant for the current spec."
    },
    "SecretEnvSource": {
      "description": "Not supported by Cloud Run. SecretEnvSource selects a Secret to populate the environment variables with. The contents of the target Secret's Data field will represent the key-value pairs as environment variables.",
      "properties": {
        "name": {
          "description": "The Secret to select from.",
          "type": "string"
        },
        "optional": {
          "description": "Specify whether the Secret must be defined",
          "type": "boolean"
        },
        "localObjectReference": {
          "description": "This field should not be used directly as it is meant to be inlined directly into the message. Use the \"name\" field instead.",
          "$ref": "LocalObjectReference",
          "deprecated": true
        }
      },
      "id": "SecretEnvSource",
      "type": "object"
    },
    "Job": {
      "description": "Job represents the configuration of a single job, which references a container image which is run to completion.",
      "id": "Job",
      "properties": {
        "apiVersion": {
          "type": "string",
          "description": "Optional. APIVersion defines the versioned schema of this representation of an object. Servers should convert recognized schemas to the latest internal value, and may reject unrecognized values."
        },
        "spec": {
          "$ref": "JobSpec",
          "description": "Optional. Specification of the desired behavior of a job."
        },
        "metadata": {
          "description": "Optional. Standard object's metadata.",
          "$ref": "ObjectMeta"
        },
        "kind": {
          "type": "string",
          "description": "Optional. Kind is a string value representing the REST resource this object represents. Servers may infer this from the endpoint the client submits requests to. Cannot be updated. In CamelCase."
        },
        "status": {
          "$ref": "JobStatus",
          "readOnly": true,
          "description": "Output only. Current status of a job."
        }
      },
      "type": "object"
    },
    "GoogleDevtoolsCloudbuildV1Secrets": {
      "properties": {
        "secretManager": {
          "type": "array",
          "items": {
            "$ref": "GoogleDevtoolsCloudbuildV1SecretManagerSecret"
          },
          "description": "Secrets in Secret Manager and associated secret environment variable."
        },
        "inline": {
          "description": "Secrets encrypted with KMS key and the associated secret environment variable.",
          "items": {
            "$ref": "GoogleDevtoolsCloudbuildV1InlineSecret"
          },
          "type": "array"
        }
      },
      "id": "GoogleDevtoolsCloudbuildV1Secrets",
      "description": "Secrets and secret environment variables.",
      "type": "object"
    },
    "RunJobRequest": {
      "description": "Request message for creating a new execution of a job.",
      "type": "object",
      "properties": {
        "overrides": {
          "description": "Optional. Overrides existing job configuration for one specific new job execution only, using the specified values to update the job configuration for the new execution.",
          "$ref": "Overrides"
        }
      },
      "id": "RunJobRequest"
    },
    "OwnerReference": {
      "description": "This is not supported or used by Cloud Run.",
      "type": "object",
      "id": "OwnerReference",
      "properties": {
        "controller": {
          "description": "This is not supported or used by Cloud Run.",
          "type": "boolean"
        },
        "uid": {
          "type": "string",
          "description": "This is not supported or used by Cloud Run."
        },
        "blockOwnerDeletion": {
          "description": "This is not supported or used by Cloud Run.",
          "type": "boolean"
        },
        "kind": {
          "type": "string",
          "description": "This is not supported or used by Cloud Run."
        },
        "apiVersion": {
          "description": "This is not supported or used by Cloud Run.",
          "type": "string"
        },
        "name": {
          "description": "This is not supported or used by Cloud Run.",
          "type": "string"
        }
      }
    },
    "DomainMappingStatus": {
      "properties": {
        "conditions": {
          "items": {
            "$ref": "GoogleCloudRunV1Condition"
          },
          "type": "array",
          "description": "Array of observed DomainMappingConditions, indicating the current state of the DomainMapping."
        },
        "resourceRecords": {
          "type": "array",
          "description": "The resource records required to configure this domain mapping. These records must be added to the domain's DNS configuration in order to serve the application via this domain mapping.",
          "items": {
            "$ref": "ResourceRecord"
          }
        },
        "mappedRouteName": {
          "type": "string",
          "description": "The name of the route that the mapping currently points to."
        },
        "observedGeneration": {
          "format": "int32",
          "description": "ObservedGeneration is the 'Generation' of the DomainMapping that was last processed by the controller. Clients polling for completed reconciliation should poll until observedGeneration = metadata.generation and the Ready condition's status is True or False.",
          "type": "integer"
        },
        "url": {
          "description": "Optional. Not supported by Cloud Run.",
          "type": "string"
        }
      },
      "id": "DomainMappingStatus",
      "description": "The current state of the Domain Mapping.",
      "type": "object"
    },
    "ObjectMeta": {
      "properties": {
        "resourceVersion": {
          "type": "string",
          "description": "Opaque, system-generated value that represents the internal version of this object that can be used by clients to determine when objects have changed. May be used for optimistic concurrency, change detection, and the watch operation on a resource or set of resources. Clients must treat these values as opaque and passed unmodified back to the server or omit the value to disable conflict-detection."
        },
        "deletionTimestamp": {
          "format": "google-datetime",
          "description": "The read-only soft deletion timestamp for this resource. In Cloud Run, users are not able to set this field. Instead, they must call the corresponding Delete API.",
          "type": "string"
        },
        "namespace": {
          "type": "string",
          "description": "Required. Defines the space within each name must be unique within a Cloud Run region. In Cloud Run, it must be project ID or number."
        },
        "name": {
          "description": "Optional. The name of the resource. A name for creating top-level resources (Service, Job, WorkerPool). Must be unique within a Cloud Run project/region, and cannot be changed once created. If omitted, a default name will be generated.",
          "type": "string"
        },
        "clusterName": {
          "type": "string",
          "description": "Not supported by Cloud Run"
        },
        "deletionGracePeriodSeconds": {
          "format": "int32",
          "type": "integer",
          "description": "Not supported by Cloud Run"
        },
        "uid": {
          "type": "string",
          "description": "Unique, system-generated identifier for this resource."
        },
        "creationTimestamp": {
          "description": "UTC timestamp representing the server time when this object was created.",
          "format": "google-datetime",
          "type": "string"
        },
        "generateName": {
          "type": "string",
          "description": "Optional. A prefix for the resource name if not provided in the create request. Must be less than 31 characters to allow for a random suffix."
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Map of string keys and values that can be used to organize and categorize (scope and select) objects. May match selectors of replication controllers and routes.",
          "type": "object"
        },
        "annotations": {
          "type": "object",
          "description": "Unstructured key value map stored with a resource that may be set by external tools to store and retrieve arbitrary metadata. They are not queryable and should be preserved when modifying objects. In Cloud Run, annotations with 'run.googleapis.com/' and 'autoscaling.knative.dev' are restricted, and the accepted annotations will be different depending on the resource type. * `autoscaling.knative.dev/maxScale`: Revision. * `autoscaling.knative.dev/minScale`: Revision. * `run.googleapis.com/base-images`: Service, Revision. * `run.googleapis.com/binary-authorization-breakglass`: Service, Job, * `run.googleapis.com/binary-authorization`: Service, Job, Execution. * `run.googleapis.com/build-base-image`: Service. * `run.googleapis.com/build-enable-automatic-updates`: Service. * `run.googleapis.com/build-environment-variables`: Service. * `run.googleapis.com/build-function-target`: Service, Revision. * `run.googleapis.com/build-id`: Service, Revision. * `run.googleapis.com/build-image-uri`: Service. * `run.googleapis.com/build-name`: Service. * `run.googleapis.com/build-service-account`: Service. * `run.googleapis.com/build-source-location`: Service, Revision. * `run.googleapis.com/build-worker-pool`: Service. * `run.googleapis.com/client-name`: All resources. * `run.googleapis.com/cloudsql-instances`: Revision, Execution, Instance. * `run.googleapis.com/container-dependencies`: Revision, Instance. * `run.googleapis.com/cpu-throttling`: Revision. * `run.googleapis.com/custom-audiences`: Service. * `run.googleapis.com/default-url-disabled`: Service. * `run.googleapis.com/description`: Service. * `run.googleapis.com/encryption-key-shutdown-hours`: Revision * `run.googleapis.com/encryption-key`: Revision, Execution, Instance. * `run.googleapis.com/execution-environment`: Revision, Execution. * `run.googleapis.com/gc-traffic-tags`: Service. * `run.googleapis.com/gpu-zonal-redundancy-disabled`: Revision. * `run.googleapis.com/health-check-disabled`: Revision. * `run.googleapis.com/ingress`: Service, Instance. * `run.googleapis.com/invoker-iam-disabled`: Service, Instance. * `run.googleapis.com/launch-stage`: Service, Job. * `run.googleapis.com/minScale`: Service. * `run.googleapis.com/maxScale`: Service. * `run.googleapis.com/manualInstanceCount`: Service. * `run.googleapis.com/network-interfaces`: Revision, Execution, Instance. * `run.googleapis.com/post-key-revocation-action-type`: Revision. * `run.googleapis.com/scalingMode`: Service. * `run.googleapis.com/secrets`: Revision, Execution. * `run.googleapis.com/secure-session-agent`: Revision. * `run.googleapis.com/sessionAffinity`: Revision. * `run.googleapis.com/startup-cpu-boost`: Revision. * `run.googleapis.com/vpc-access-connector`: Revision, Execution. * `run.googleapis.com/vpc-access-egress`: Revision, Execution, Instance.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "generation": {
          "format": "int32",
          "description": "A system-provided sequence number representing a specific generation of the desired state.",
          "type": "integer"
        },
        "finalizers": {
          "items": {
            "type": "string"
          },
          "description": "Not supported by Cloud Run",
          "type": "array"
        },
        "selfLink": {
          "description": "URL representing this object.",
          "type": "string"
        },
        "ownerReferences": {
          "description": "Not supported by Cloud Run",
          "items": {
            "$ref": "OwnerReference"
          },
          "type": "array"
        }
      },
      "type": "object",
      "description": "google.cloud.run.meta.v1.ObjectMeta is metadata that all persisted resources must have, which includes all objects users must create.",
      "id": "ObjectMeta"
    },
    "InstanceSpec": {
      "properties": {
        "serviceAccountName": {
          "description": "Optional. Email address of the IAM service account associated with the Instance. The service account represents the identity of the running container, and determines what permissions the Instance has. If not provided, the Instance will use the project's default service account.",
          "type": "string"
        },
        "nodeSelector": {
          "type": "object",
          "description": "Optional. The Node Selector configuration. Map of selector key to a value which matches a node.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "restartPolicy": {
          "type": "string",
          "description": "Optional. Restart policy for the Instance. Allowable values are 'Always', 'OnFailure', or 'Never'."
        },
        "volumes": {
          "description": "Optional. List of volumes that can be mounted by containers belonging to the Instance.",
          "type": "array",
          "items": {
            "$ref": "Volume"
          }
        },
        "containers": {
          "description": "Optional. List of containers belonging to the Instance. We disallow a number of fields on this Container.",
          "items": {
            "$ref": "Container"
          },
          "type": "array"
        }
      },
      "id": "InstanceSpec",
      "description": "InstanceSpec describes how the Instance will look.",
      "type": "object"
    },
    "GoogleDevtoolsCloudbuildV1FileHashes": {
      "type": "object",
      "properties": {
        "fileHash": {
          "items": {
            "$ref": "GoogleDevtoolsCloudbuildV1Hash"
          },
          "description": "Collection of file hashes.",
          "type": "array"
        }
      },
      "id": "GoogleDevtoolsCloudbuildV1FileHashes",
      "description": "Container message for hashes of byte content of files, used in SourceProvenance messages to verify integrity of source input to the build."
    },
    "ConfigurationStatus": {
      "description": "ConfigurationStatus communicates the observed state of the Configuration (from the controller).",
      "id": "ConfigurationStatus",
      "type": "object",
      "properties": {
        "latestReadyRevisionName": {
          "type": "string",
          "description": "LatestReadyRevisionName holds the name of the latest Revision stamped out from this Configuration that has had its \"Ready\" condition become \"True\"."
        },
        "conditions": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudRunV1Condition"
          },
          "description": "Conditions communicate information about ongoing/complete reconciliation processes that bring the \"spec\" inline with the observed state of the world."
        },
        "latestCreatedRevisionName": {
          "description": "LatestCreatedRevisionName is the last revision that was created from this Configuration. It might not be ready yet, so for the latest ready revision, use LatestReadyRevisionName.",
          "type": "string"
        },
        "observedGeneration": {
          "description": "ObservedGeneration is the 'Generation' of the Configuration that was last processed by the controller. The observed generation is updated even if the controller failed to process the spec and create the Revision. Clients polling for completed reconciliation should poll until observedGeneration = metadata.generation, and the Ready condition's status is True or False.",
          "format": "int32",
          "type": "integer"
        }
      }
    },
    "EnvVarSource": {
      "type": "object",
      "id": "EnvVarSource",
      "description": "EnvVarSource represents a source for the value of an EnvVar.",
      "properties": {
        "secretKeyRef": {
          "description": "Selects a key (version) of a secret in Secret Manager.",
          "$ref": "SecretKeySelector"
        },
        "configMapKeyRef": {
          "description": "Not supported by Cloud Run. Not supported in Cloud Run.",
          "$ref": "ConfigMapKeySelector"
        }
      }
    },
    "Execution": {
      "description": "Execution represents the configuration of a single execution. An execution is an immutable resource that references a container image which is run to completion.",
      "id": "Execution",
      "properties": {
        "kind": {
          "type": "string",
          "description": "Optional. Kind is a string value representing the REST resource this object represents. Servers may infer this from the endpoint the client submits requests to. Cannot be updated. In CamelCase."
        },
        "apiVersion": {
          "type": "string",
          "description": "Optional. APIVersion defines the versioned schema of this representation of an object. Servers should convert recognized schemas to the latest internal value, and may reject unrecognized values."
        },
        "status": {
          "$ref": "ExecutionStatus",
          "description": "Output only. Current status of an execution.",
          "readOnly": true
        },
        "spec": {
          "description": "Optional. Specification of the desired behavior of an execution.",
          "$ref": "ExecutionSpec"
        },
        "metadata": {
          "$ref": "ObjectMeta",
          "description": "Optional. Standard object's metadata."
        }
      },
      "type": "object"
    },
    "Volume": {
      "properties": {
        "emptyDir": {
          "$ref": "EmptyDirVolumeSource",
          "description": "Ephemeral storage used as a shared volume."
        },
        "csi": {
          "$ref": "CSIVolumeSource",
          "description": "Volume specified by the Container Storage Interface driver"
        },
        "secret": {
          "description": "The secret's value will be presented as the content of a file whose name is defined in the item path. If no items are defined, the name of the file is the secretName.",
          "$ref": "SecretVolumeSource"
        },
        "configMap": {
          "$ref": "ConfigMapVolumeSource",
          "description": "Not supported in Cloud Run."
        },
        "nfs": {
          "$ref": "NFSVolumeSource"
        },
        "name": {
          "description": "Volume's name. In Cloud Run Fully Managed, the name 'cloudsql' is reserved.",
          "type": "string"
        }
      },
      "description": "Volume represents a named volume in a container.",
      "id": "Volume",
      "type": "object"
    },
    "ListWorkerPoolsResponse": {
      "id": "ListWorkerPoolsResponse",
      "description": "A list of WorkerPool resources.",
      "properties": {
        "kind": {
          "type": "string",
          "description": "The kind of this resource; returns \"WorkerPoolList\"."
        },
        "items": {
          "description": "List of WorkerPools.",
          "type": "array",
          "items": {
            "$ref": "WorkerPool"
          }
        },
        "metadata": {
          "description": "Metadata associated with this WorkerPool list.",
          "$ref": "ListMeta"
        },
        "unreachable": {
          "items": {
            "type": "string"
          },
          "description": "For calls against the global endpoint, returns the list of Cloud locations that could not be reached. For regional calls, this field is not used.",
          "type": "array"
        },
        "apiVersion": {
          "type": "string",
          "description": "The API version for this call; returns \"run.googleapis.com/v1\"."
        }
      },
      "type": "object"
    },
    "GoogleDevtoolsCloudbuildV1FailureInfo": {
      "id": "GoogleDevtoolsCloudbuildV1FailureInfo",
      "description": "A fatal problem encountered during the execution of the build.",
      "properties": {
        "type": {
          "description": "The name of the failure.",
          "enumDescriptions": [
            "Type unspecified",
            "Unable to push the image to the repository.",
            "Final image not found.",
            "Unauthorized push of the final image.",
            "Backend logging failures. Should retry.",
            "A build step has failed.",
            "The source fetching has failed."
          ],
          "enum": [
            "FAILURE_TYPE_UNSPECIFIED",
            "PUSH_FAILED",
            "PUSH_IMAGE_NOT_FOUND",
            "PUSH_NOT_AUTHORIZED",
            "LOGGING_FAILURE",
            "USER_BUILD_STEP",
            "FETCH_SOURCE_FAILED"
          ],
          "type": "string"
        },
        "detail": {
          "description": "Explains the failure issue in more detail using hard-coded text.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "SecretVolumeSource": {
      "description": "A volume representing a secret stored in Google Secret Manager. The secret's value will be presented as the content of a file whose name is defined in the item path. If no items are defined, the name of the file is the secret_name. The contents of the target Secret's Data field will be presented in a volume as files using the keys in the Data field as the file names.",
      "id": "SecretVolumeSource",
      "type": "object",
      "properties": {
        "items": {
          "description": "A list of secret versions to mount in the volume. If no items are specified, the volume will expose a file with the same name as the secret name. The contents of the file will be the data in the latest version of the secret. If items are specified, the key will be used as the version to fetch from Cloud Secret Manager and the path will be the name of the file exposed in the volume. When items are defined, they must specify both a key and a path.",
          "items": {
            "$ref": "KeyToPath"
          },
          "type": "array"
        },
        "optional": {
          "description": "Not supported by Cloud Run.",
          "type": "boolean"
        },
        "defaultMode": {
          "description": "Integer representation of mode bits to use on created files by default. Must be a value between 01 and 0777 (octal). If 0 or not set, it will default to 0444. Directories within the path are not affected by this setting. Notes * Internally, a umask of 0222 will be applied to any non-zero value. * This is an integer representation of the mode bits. So, the octal integer value should look exactly as the chmod numeric notation with a leading zero. Some examples: for chmod 777 (a=rwx), set to 0777 (octal) or 511 (base-10). For chmod 640 (u=rw,g=r), set to 0640 (octal) or 416 (base-10). For chmod 755 (u=rwx,g=rx,o=rx), set to 0755 (octal) or 493 (base-10). * This might be in conflict with other options that affect the file mode, like fsGroup, and the result can be other mode bits set.",
          "type": "integer",
          "format": "int32"
        },
        "secretName": {
          "description": "The name of the secret in Cloud Secret Manager. By default, the secret is assumed to be in the same project. If the secret is in another project, you must define an alias. An alias definition has the form: :projects//secrets/. If multiple alias definitions are needed, they must be separated by commas. The alias definitions must be set on the run.googleapis.com/secrets annotation. Name of the secret in the container's namespace to use.",
          "type": "string"
        }
      }
    },
    "ExecutionTemplateSpec": {
      "type": "object",
      "description": "ExecutionTemplateSpec describes the metadata and spec an Execution should have when created from a job.",
      "id": "ExecutionTemplateSpec",
      "properties": {
        "spec": {
          "$ref": "ExecutionSpec",
          "description": "Required. ExecutionSpec holds the desired configuration for executions of this job."
        },
        "metadata": {
          "description": "Optional. Optional metadata for this Execution, including labels and annotations. The following annotation keys set properties of the created execution: * `run.googleapis.com/cloudsql-instances` sets Cloud SQL connections. Multiple values should be comma separated. * `run.googleapis.com/vpc-access-connector` sets a Serverless VPC Access connector. * `run.googleapis.com/vpc-access-egress` sets VPC egress. Supported values are `all-traffic`, `all` (deprecated), and `private-ranges-only`. `all-traffic` and `all` provide the same functionality. `all` is deprecated but will continue to be supported. Prefer `all-traffic`.",
          "$ref": "ObjectMeta"
        }
      }
    },
    "GoogleDevtoolsCloudbuildV1SecretManagerSecret": {
      "properties": {
        "env": {
          "type": "string",
          "description": "Environment variable name to associate with the secret. Secret environment variables must be unique across all of a build's secrets, and must be used by at least one build step."
        },
        "versionName": {
          "type": "string",
          "description": "Resource name of the SecretVersion. In format: projects/*/secrets/*/versions/*"
        }
      },
      "id": "GoogleDevtoolsCloudbuildV1SecretManagerSecret",
      "description": "Pairs a secret environment variable with a SecretVersion in Secret Manager.",
      "type": "object"
    },
    "ListTasksResponse": {
      "type": "object",
      "properties": {
        "metadata": {
          "description": "Metadata associated with this tasks list.",
          "$ref": "ListMeta"
        },
        "unreachable": {
          "description": "Locations that could not be reached.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "items": {
          "type": "array",
          "description": "List of Tasks.",
          "items": {
            "$ref": "Task"
          }
        },
        "apiVersion": {
          "description": "The API version for this call such as \"run.googleapis.com/v1\".",
          "type": "string"
        },
        "kind": {
          "description": "The kind of this resource, in this case \"TasksList\".",
          "type": "string"
        }
      },
      "id": "ListTasksResponse",
      "description": "ListTasksResponse is a list of Tasks resources."
    },
    "GoogleDevtoolsCloudbuildV1PoolOption": {
      "properties": {
        "name": {
          "type": "string",
          "description": "The `WorkerPool` resource to execute the build on. You must have `cloudbuild.workerpools.use` on the project hosting the WorkerPool. Format projects/{project}/locations/{location}/workerPools/{workerPoolId}"
        }
      },
      "description": "Details about how a build should be executed on a `WorkerPool`. See [running builds in a private pool](https://cloud.google.com/build/docs/private-pools/run-builds-in-private-pool) for more information.",
      "id": "GoogleDevtoolsCloudbuildV1PoolOption",
      "type": "object"
    },
    "GoogleDevtoolsCloudbuildV1Warning": {
      "id": "GoogleDevtoolsCloudbuildV1Warning",
      "description": "A non-fatal problem encountered during the execution of the build.",
      "properties": {
        "text": {
          "description": "Explanation of the warning generated.",
          "type": "string"
        },
        "priority": {
          "enum": [
            "PRIORITY_UNSPECIFIED",
            "INFO",
            "WARNING",
            "ALERT"
          ],
          "description": "The priority for this warning.",
          "type": "string",
          "enumDescriptions": [
            "Should not be used.",
            "e.g. deprecation warnings and alternative feature highlights.",
            "e.g. automated detection of possible issues with the build.",
            "e.g. alerts that a feature used in the build is pending removal"
          ]
        }
      },
      "type": "object"
    },
    "ExecAction": {
      "properties": {
        "command": {
          "type": "array",
          "description": "Command is the command line to execute inside the container, the working directory for the command is root ('/') in the container's filesystem. The command is simply exec'd, it is not run inside a shell, so traditional shell instructions ('|', etc) won't work. To use a shell, you need to explicitly call out to that shell. Exit status of 0 is treated as live/healthy and non-zero is unhealthy.",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "ExecAction",
      "type": "object",
      "description": "Not supported by Cloud Run. ExecAction describes a \"run in container\" action."
    },
    "GoogleDevtoolsCloudbuildV1GitSourceRepository": {
      "description": "A repository for a git source.",
      "id": "GoogleDevtoolsCloudbuildV1GitSourceRepository",
      "properties": {
        "url": {
          "description": "Location of the Git repository.",
          "type": "string"
        },
        "developerConnect": {
          "description": "The Developer Connect Git repository link formatted as `projects/*/locations/*/connections/*/gitRepositoryLink/*`",
          "type": "string"
        }
      },
      "type": "object"
    },
    "ListExecutionsResponse": {
      "description": "ListExecutionsResponse is a list of Executions resources.",
      "id": "ListExecutionsResponse",
      "type": "object",
      "properties": {
        "kind": {
          "description": "The kind of this resource, in this case \"ExecutionsList\".",
          "type": "string"
        },
        "items": {
          "type": "array",
          "description": "List of Executions.",
          "items": {
            "$ref": "Execution"
          }
        },
        "apiVersion": {
          "type": "string",
          "description": "The API version for this call such as \"run.googleapis.com/v1\"."
        },
        "metadata": {
          "$ref": "ListMeta",
          "description": "Metadata associated with this executions list."
        },
        "unreachable": {
          "items": {
            "type": "string"
          },
          "description": "Locations that could not be reached.",
          "type": "array"
        }
      }
    },
    "GoogleDevtoolsCloudbuildV1BuildStep": {
      "type": "object",
      "description": "A step in the build pipeline.",
      "properties": {
        "dir": {
          "type": "string",
          "description": "Working directory to use when running this step's container. If this value is a relative path, it is relative to the build's working directory. If this value is absolute, it may be outside the build's working directory, in which case the contents of the path may not be persisted across build step executions, unless a `volume` for that path is specified. If the build specifies a `RepoSource` with `dir` and a step with a `dir`, which specifies an absolute path, the `RepoSource` `dir` is ignored for the step's execution."
        },
        "results": {
          "description": "Declaration of results for this build step.",
          "type": "array",
          "items": {
            "$ref": "GoogleDevtoolsCloudbuildV1StepResult"
          }
        },
        "volumes": {
          "description": "List of volumes to mount into the build step. Each volume is created as an empty volume prior to execution of the build step. Upon completion of the build, volumes and their contents are discarded. Using a named volume in only one step is not valid as it is indicative of a build request with an incorrect configuration.",
          "type": "array",
          "items": {
            "$ref": "GoogleDevtoolsCloudbuildV1Volume"
          }
        },
        "env": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "A list of environment variable definitions to be used when running a step. The elements are of the form \"KEY=VALUE\" for the environment variable \"KEY\" being given the value \"VALUE\"."
        },
        "timing": {
          "description": "Output only. Stores timing information for executing this build step.",
          "$ref": "GoogleDevtoolsCloudbuildV1TimeSpan",
          "readOnly": true
        },
        "pullTiming": {
          "description": "Output only. Stores timing information for pulling this build step's builder image only.",
          "$ref": "GoogleDevtoolsCloudbuildV1TimeSpan",
          "readOnly": true
        },
        "exitCode": {
          "readOnly": true,
          "type": "integer",
          "format": "int32",
          "description": "Output only. Return code from running the step."
        },
        "name": {
          "description": "Required. The name of the container image that will run this particular build step. If the image is available in the host's Docker daemon's cache, it will be run directly. If not, the host will attempt to pull the image first, using the builder service account's credentials if necessary. The Docker daemon's cache will already have the latest versions of all of the officially supported build steps ([https://github.com/GoogleCloudPlatform/cloud-builders](https://github.com/GoogleCloudPlatform/cloud-builders)). The Docker daemon will also have cached many of the layers for some popular images, like \"ubuntu\", \"debian\", but they will be refreshed at the time you attempt to use them. If you built an image in a previous build step, it will be stored in the host's Docker daemon's cache and is available to use as the name for a later build step.",
          "type": "string"
        },
        "script": {
          "description": "A shell script to be executed in the step. When script is provided, the user cannot specify the entrypoint or args.",
          "type": "string"
        },
        "status": {
          "type": "string",
          "enumDescriptions": [
            "Status of the build is unknown.",
            "Build has been created and is pending execution and queuing. It has not been queued.",
            "Build or step is queued; work has not yet begun.",
            "Build or step is being executed.",
            "Build or step finished successfully.",
            "Build or step failed to complete successfully.",
            "Build or step failed due to an internal cause.",
            "Build or step took longer than was allowed.",
            "Build or step was canceled by a user.",
            "Build was enqueued for longer than the value of `queue_ttl`."
          ],
          "enum": [
            "STATUS_UNKNOWN",
            "PENDING",
            "QUEUED",
            "WORKING",
            "SUCCESS",
            "FAILURE",
            "INTERNAL_ERROR",
            "TIMEOUT",
            "CANCELLED",
            "EXPIRED"
          ],
          "description": "Output only. Status of the build step. At this time, build step status is only updated on build completion; step status is not updated in real-time as the build progresses.",
          "readOnly": true
        },
        "timeout": {
          "type": "string",
          "description": "Time limit for executing this build step. If not defined, the step has no time limit and will be allowed to continue to run until either it completes or the build itself times out.",
          "format": "google-duration"
        },
        "args": {
          "description": "A list of arguments that will be presented to the step when it is started. If the image used to run the step's container has an entrypoint, the `args` are used as arguments to that entrypoint. If the image does not define an entrypoint, the first element in args is used as the entrypoint, and the remainder will be used as arguments.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "automapSubstitutions": {
          "type": "boolean",
          "description": "Option to include built-in and custom substitutions as env variables for this build step. This option will override the global option in BuildOption."
        },
        "secretEnv": {
          "type": "array",
          "description": "A list of environment variables which are encrypted using a Cloud Key Management Service crypto key. These values must be specified in the build's `Secret`.",
          "items": {
            "type": "string"
          }
        },
        "id": {
          "description": "Unique identifier for this build step, used in `wait_for` to reference this build step as a dependency.",
          "type": "string"
        },
        "allowFailure": {
          "description": "Allow this build step to fail without failing the entire build. If false, the entire build will fail if this step fails. Otherwise, the build will succeed, but this step will still have a failure status. Error information will be reported in the failure_detail field.",
          "type": "boolean"
        },
        "waitFor": {
          "items": {
            "type": "string"
          },
          "description": "The ID(s) of the step(s) that this build step depends on. This build step will not start until all the build steps in `wait_for` have completed successfully. If `wait_for` is empty, this build step will start when all previous build steps in the `Build.Steps` list have completed successfully.",
          "type": "array"
        },
        "allowExitCodes": {
          "description": "Allow this build step to fail without failing the entire build if and only if the exit code is one of the specified codes. If allow_failure is also specified, this field will take precedence.",
          "items": {
            "format": "int32",
            "type": "integer"
          },
          "type": "array"
        },
        "entrypoint": {
          "description": "Entrypoint to be used instead of the build step image's default entrypoint. If unset, the image's default entrypoint is used.",
          "type": "string"
        }
      },
      "id": "GoogleDevtoolsCloudbuildV1BuildStep"
    },
    "Service": {
      "id": "Service",
      "description": "Service acts as a top-level container that manages a set of Routes and Configurations which implement a network service. Service exists to provide a singular abstraction which can be access controlled, reasoned about, and which encapsulates software lifecycle decisions such as rollout policy and team resource ownership. Service acts only as an orchestrator of the underlying Routes and Configurations (much as a kubernetes Deployment orchestrates ReplicaSets). The Service's controller will track the statuses of its owned Configuration and Route, reflecting their statuses and conditions as its own.",
      "type": "object",
      "properties": {
        "spec": {
          "description": "Holds the desired state of the Service (from the client).",
          "$ref": "ServiceSpec"
        },
        "metadata": {
          "description": "Metadata associated with this Service, including name, namespace, labels, and annotations. In Cloud Run, annotations with 'run.googleapis.com/' and 'autoscaling.knative.dev' are restricted, and the accepted annotations will be different depending on the resource type. The following Cloud Run-specific annotations are accepted in Service.metadata.annotations. * `run.googleapis.com/base-images` * `run.googleapis.com/binary-authorization-breakglass` * `run.googleapis.com/binary-authorization` * `run.googleapis.com/client-name` * `run.googleapis.com/custom-audiences` * `run.googleapis.com/default-url-disabled` * `run.googleapis.com/description` * `run.googleapis.com/gc-traffic-tags` * `run.googleapis.com/ingress` * `run.googleapis.com/ingress` sets the ingress settings for the Service. See [the ingress settings documentation](/run/docs/securing/ingress) for details on configuring ingress settings. * `run.googleapis.com/ingress-status` is output-only and contains the currently active ingress settings for the Service. `run.googleapis.com/ingress-status` may differ from `run.googleapis.com/ingress` while the system is processing a change to `run.googleapis.com/ingress` or if the system failed to process a change to `run.googleapis.com/ingress`. When the system has processed all changes successfully `run.googleapis.com/ingress-status` and `run.googleapis.com/ingress` are equal.",
          "$ref": "ObjectMeta"
        },
        "kind": {
          "description": "The kind of resource. It must be \"Service\".",
          "type": "string"
        },
        "apiVersion": {
          "description": "The API version for this call. It must be \"serving.knative.dev/v1\".",
          "type": "string"
        },
        "status": {
          "description": "Communicates the system-controlled state of the Service.",
          "$ref": "ServiceStatus"
        }
      }
    },
    "TrafficTarget": {
      "type": "object",
      "id": "TrafficTarget",
      "description": "TrafficTarget holds a single entry of the routing table for a Route.",
      "properties": {
        "percent": {
          "description": "Percent specifies percent of the traffic to this Revision or Configuration. This defaults to zero if unspecified.",
          "format": "int32",
          "type": "integer"
        },
        "url": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. URL displays the URL for accessing tagged traffic targets. URL is displayed in status, and is disallowed on spec. URL must contain a scheme (e.g. https://) and a hostname, but may not contain anything else (e.g. basic auth, url path, etc.)"
        },
        "configurationName": {
          "deprecated": true,
          "description": "[Deprecated] Not supported in Cloud Run. It must be empty.",
          "type": "string"
        },
        "latestRevision": {
          "type": "boolean",
          "description": "Uses the \"status.latestReadyRevisionName\" of the Service to determine the traffic target. When it changes, traffic will automatically migrate from the prior \"latest ready\" revision to the new one. This field must be false if RevisionName is set. This field defaults to true otherwise. If the field is set to true on Status, this means that the Revision was resolved from the Service's latest ready revision."
        },
        "tag": {
          "type": "string",
          "description": "Tag is used to expose a dedicated url for referencing this target exclusively."
        },
        "revisionName": {
          "type": "string",
          "description": "Points this traffic target to a specific Revision. This field is mutually exclusive with latest_revision."
        }
      }
    },
    "GoogleDevtoolsCloudbuildV1MavenArtifact": {
      "id": "GoogleDevtoolsCloudbuildV1MavenArtifact",
      "description": "A Maven artifact to upload to Artifact Registry upon successful completion of all build steps.",
      "type": "object",
      "properties": {
        "repository": {
          "type": "string",
          "description": "Artifact Registry repository, in the form \"https://$REGION-maven.pkg.dev/$PROJECT/$REPOSITORY\" Artifact in the workspace specified by path will be uploaded to Artifact Registry with this location as a prefix."
        },
        "artifactId": {
          "type": "string",
          "description": "Maven `artifactId` value used when uploading the artifact to Artifact Registry."
        },
        "groupId": {
          "description": "Maven `groupId` value used when uploading the artifact to Artifact Registry.",
          "type": "string"
        },
        "deployFolder": {
          "description": "Optional. Path to a folder containing the files to upload to Artifact Registry. This can be either an absolute path, e.g. `/workspace/my-app/target/`, or a relative path from /workspace, e.g. `my-app/target/`. This field is mutually exclusive with the `path` field.",
          "type": "string"
        },
        "version": {
          "description": "Maven `version` value used when uploading the artifact to Artifact Registry.",
          "type": "string"
        },
        "path": {
          "description": "Optional. Path to an artifact in the build's workspace to be uploaded to Artifact Registry. This can be either an absolute path, e.g. /workspace/my-app/target/my-app-1.0.SNAPSHOT.jar or a relative path from /workspace, e.g. my-app/target/my-app-1.0.SNAPSHOT.jar.",
          "type": "string"
        }
      }
    },
    "AuditConfig": {
      "type": "object",
      "description": "Specifies the audit configuration for a service. The configuration determines which permission types are logged, and what identities, if any, are exempted from logging. An AuditConfig must have one or more AuditLogConfigs. If there are AuditConfigs for both `allServices` and a specific service, the union of the two AuditConfigs is used for that service: the log_types specified in each AuditConfig are enabled, and the exempted_members in each AuditLogConfig are exempted. Example Policy with multiple AuditConfigs: { \"audit_configs\": [ { \"service\": \"allServices\", \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\", \"exempted_members\": [ \"user:jose@example.com\" ] }, { \"log_type\": \"DATA_WRITE\" }, { \"log_type\": \"ADMIN_READ\" } ] }, { \"service\": \"sampleservice.googleapis.com\", \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\" }, { \"log_type\": \"DATA_WRITE\", \"exempted_members\": [ \"user:aliya@example.com\" ] } ] } ] } For sampleservice, this policy enables DATA_READ, DATA_WRITE and ADMIN_READ logging. It also exempts `jose@example.com` from DATA_READ logging, and `aliya@example.com` from DATA_WRITE logging.",
      "properties": {
        "service": {
          "type": "string",
          "description": "Specifies a service that will be enabled for audit logging. For example, `storage.googleapis.com`, `cloudsql.googleapis.com`. `allServices` is a special value that covers all services."
        },
        "auditLogConfigs": {
          "items": {
            "$ref": "AuditLogConfig"
          },
          "type": "array",
          "description": "The configuration for logging of each type of permission."
        }
      },
      "id": "AuditConfig"
    },
    "GoogleDevtoolsCloudbuildV1ApprovalConfig": {
      "properties": {
        "approvalRequired": {
          "description": "Whether or not approval is needed. If this is set on a build, it will become pending when created, and will need to be explicitly approved to start.",
          "type": "boolean"
        }
      },
      "description": "ApprovalConfig describes configuration for manual approval of a build.",
      "id": "GoogleDevtoolsCloudbuildV1ApprovalConfig",
      "type": "object"
    },
    "ConfigMapVolumeSource": {
      "id": "ConfigMapVolumeSource",
      "description": "Not supported by Cloud Run. Adapts a ConfigMap into a volume. The contents of the target ConfigMap's Data field will be presented in a volume as files using the keys in the Data field as the file names, unless the items element is populated with specific mappings of keys to paths.",
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "Name of the config."
        },
        "optional": {
          "type": "boolean",
          "description": "(Optional) Specify whether the Secret or its keys must be defined."
        },
        "defaultMode": {
          "type": "integer",
          "format": "int32",
          "description": "(Optional) Integer representation of mode bits to use on created files by default. Must be a value between 01 and 0777 (octal). If 0 or not set, it will default to 0644. Directories within the path are not affected by this setting. Notes * Internally, a umask of 0222 will be applied to any non-zero value. * This is an integer representation of the mode bits. So, the octal integer value should look exactly as the chmod numeric notation with a leading zero. Some examples: for chmod 777 (a=rwx), set to 0777 (octal) or 511 (base-10). For chmod 640 (u=rw,g=r), set to 0640 (octal) or 416 (base-10). For chmod 755 (u=rwx,g=rx,o=rx), set to 0755 (octal) or 493 (base-10). * This might be in conflict with other options that affect the file mode, like fsGroup, and the result can be other mode bits set."
        },
        "items": {
          "type": "array",
          "description": "(Optional) If unspecified, each key-value pair in the Data field of the referenced Secret will be projected into the volume as a file whose name is the key and content is the value. If specified, the listed keys will be projected into the specified paths, and unlisted keys will not be present. If a key is specified that is not present in the Secret, the volume setup will error unless it is marked optional.",
          "items": {
            "$ref": "KeyToPath"
          }
        }
      }
    },
    "GoogleDevtoolsCloudbuildV1ConnectedRepository": {
      "id": "GoogleDevtoolsCloudbuildV1ConnectedRepository",
      "properties": {
        "repository": {
          "type": "string",
          "description": "Required. Name of the Google Cloud Build repository, formatted as `projects/*/locations/*/connections/*/repositories/*`."
        },
        "dir": {
          "type": "string",
          "description": "Optional. Directory, relative to the source root, in which to run the build."
        },
        "revision": {
          "description": "Required. The revision to fetch from the Git repository such as a branch, a tag, a commit SHA, or any Git ref.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Location of the source in a 2nd-gen Google Cloud Build repository resource."
    },
    "ListInstancesResponse": {
      "id": "ListInstancesResponse",
      "description": "ListInstancesResponse is a list of Instances resources.",
      "type": "object",
      "properties": {
        "unreachable": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Locations that could not be reached."
        },
        "apiVersion": {
          "type": "string",
          "description": "The API version for this call such as \"run.googleapis.com/v1\"."
        },
        "metadata": {
          "$ref": "ListMeta",
          "description": "Metadata associated with this Instances list."
        },
        "kind": {
          "description": "The kind of this resource, in this case \"InstancesList\".",
          "type": "string"
        },
        "items": {
          "items": {
            "$ref": "Instance"
          },
          "description": "List of Instances.",
          "type": "array"
        }
      }
    },
    "TaskSpec": {
      "description": "TaskSpec is a description of a task.",
      "type": "object",
      "id": "TaskSpec",
      "properties": {
        "volumes": {
          "type": "array",
          "description": "Optional. List of volumes that can be mounted by containers belonging to the task.",
          "items": {
            "$ref": "Volume"
          }
        },
        "maxRetries": {
          "description": "Optional. Number of retries allowed per task, before marking this job failed. Defaults to 3.",
          "type": "integer",
          "format": "int32"
        },
        "serviceAccountName": {
          "type": "string",
          "description": "Optional. Email address of the IAM service account associated with the task of a job execution. The service account represents the identity of the running task, and determines what permissions the task has. If not provided, the task will use the project's default service account."
        },
        "timeoutSeconds": {
          "format": "int64",
          "description": "Optional. Duration in seconds the task may be active before the system will actively try to mark it failed and kill associated containers. This applies per attempt of a task, meaning each retry can run for the full timeout. Defaults to 600 seconds.",
          "type": "string"
        },
        "containers": {
          "items": {
            "$ref": "Container"
          },
          "description": "Optional. List of containers belonging to the task. We disallow a number of fields on this Container.",
          "type": "array"
        },
        "nodeSelector": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. The Node Selector configuration. Map of selector key to a value which matches a node.",
          "type": "object"
        }
      }
    },
    "GoogleDevtoolsCloudbuildV1BuildStepResults": {
      "properties": {
        "results": {
          "type": "object",
          "description": "Results for a build step.",
          "additionalProperties": {
            "type": "string"
          }
        }
      },
      "description": "Results for a build step.",
      "id": "GoogleDevtoolsCloudbuildV1BuildStepResults",
      "type": "object"
    },
    "SetIamPolicyRequest": {
      "properties": {
        "policy": {
          "description": "REQUIRED: The complete policy to be applied to the `resource`. The size of the policy is limited to a few 10s of KB. An empty policy is a valid policy but certain Google Cloud services (such as Projects) might reject them.",
          "$ref": "Policy"
        },
        "updateMask": {
          "format": "google-fieldmask",
          "description": "OPTIONAL: A FieldMask specifying which fields of the policy to modify. Only the fields in the mask will be modified. If no mask is provided, the following default mask is used: `paths: \"bindings, etag\"`",
          "type": "string"
        }
      },
      "id": "SetIamPolicyRequest",
      "type": "object",
      "description": "Request message for `SetIamPolicy` method."
    },
    "RevisionStatus": {
      "id": "RevisionStatus",
      "description": "RevisionStatus communicates the observed state of the Revision (from the controller).",
      "properties": {
        "desiredReplicas": {
          "description": "Output only. The configured number of instances running this revision. For Cloud Run, this only includes instances provisioned using the minScale annotation. It does not include instances created by autoscaling.",
          "type": "integer",
          "readOnly": true,
          "format": "int32"
        },
        "observedGeneration": {
          "format": "int32",
          "description": "ObservedGeneration is the 'Generation' of the Revision that was last processed by the controller. Clients polling for completed reconciliation should poll until observedGeneration = metadata.generation, and the Ready condition's status is True or False.",
          "type": "integer"
        },
        "logUrl": {
          "type": "string",
          "description": "Optional. Specifies the generated logging url for this particular revision based on the revision url template specified in the controller's config."
        },
        "serviceName": {
          "description": "Not currently used by Cloud Run.",
          "type": "string"
        },
        "imageDigest": {
          "type": "string",
          "description": "ImageDigest holds the resolved digest for the image specified within .Spec.Container.Image. The digest is resolved during the creation of Revision. This field holds the digest value regardless of whether a tag or digest was originally specified in the Container object."
        },
        "conditions": {
          "items": {
            "$ref": "GoogleCloudRunV1Condition"
          },
          "description": "Conditions communicate information about ongoing/complete reconciliation processes that bring the \"spec\" inline with the observed state of the world. As a Revision is being prepared, it will incrementally update conditions. Revision-specific conditions include: * `ResourcesAvailable`: `True` when underlying resources have been provisioned. * `ContainerHealthy`: `True` when the Revision readiness check completes. * `Active`: `True` when the Revision may receive traffic.",
          "type": "array"
        }
      },
      "type": "object"
    },
    "GoogleDevtoolsCloudbuildV1BuildOperationMetadata": {
      "description": "Metadata for build operations.",
      "id": "GoogleDevtoolsCloudbuildV1BuildOperationMetadata",
      "properties": {
        "build": {
          "description": "The build that the operation is tracking.",
          "$ref": "GoogleDevtoolsCloudbuildV1Build"
        }
      },
      "type": "object"
    },
    "AuthorizedDomain": {
      "id": "AuthorizedDomain",
      "description": "A domain that a user has been authorized to administer. To authorize use of a domain, verify ownership via [Search Console](https://search.google.com/search-console/welcome).",
      "properties": {
        "id": {
          "description": "Relative name of the domain authorized for use. Example: `example.com`.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "deprecated": true,
          "description": "Deprecated Read only. Full path to the `AuthorizedDomain` resource in the API. Example: `projects/myproject/authorizedDomains/example.com`."
        }
      },
      "type": "object"
    },
    "StatusCause": {
      "properties": {
        "field": {
          "description": "The field of the resource that has caused this error, as named by its JSON serialization. May include dot and postfix notation for nested attributes. Arrays are zero-indexed. Fields may appear more than once in an array of causes due to fields having multiple errors. Examples: \"name\" - the field \"name\" on the current resource \"items[0].name\" - the field \"name\" on the first array entry in \"items\"",
          "type": "string"
        },
        "reason": {
          "type": "string",
          "description": "A machine-readable description of the cause of the error. If this value is empty there is no information available."
        },
        "message": {
          "description": "A human-readable description of the cause of the error. This field may be presented as-is to a reader.",
          "type": "string"
        }
      },
      "description": "StatusCause provides more information about an api.Status failure, including cases when multiple errors are encountered.",
      "type": "object",
      "id": "StatusCause"
    },
    "ListConfigurationsResponse": {
      "properties": {
        "kind": {
          "type": "string",
          "description": "The kind of this resource, in this case \"ConfigurationList\"."
        },
        "unreachable": {
          "items": {
            "type": "string"
          },
          "description": "Locations that could not be reached.",
          "type": "array"
        },
        "items": {
          "description": "List of Configurations.",
          "items": {
            "$ref": "Configuration"
          },
          "type": "array"
        },
        "apiVersion": {
          "description": "The API version for this call such as \"serving.knative.dev/v1\".",
          "type": "string"
        },
        "metadata": {
          "$ref": "ListMeta",
          "description": "Metadata associated with this Configuration list."
        }
      },
      "description": "ListConfigurationsResponse is a list of Configuration resources.",
      "id": "ListConfigurationsResponse",
      "type": "object"
    },
    "GoogleDevtoolsCloudbuildV1InlineSecret": {
      "properties": {
        "kmsKeyName": {
          "description": "Resource name of Cloud KMS crypto key to decrypt the encrypted value. In format: projects/*/locations/*/keyRings/*/cryptoKeys/*",
          "type": "string"
        },
        "envMap": {
          "type": "object",
          "additionalProperties": {
            "format": "byte",
            "type": "string"
          },
          "description": "Map of environment variable name to its encrypted value. Secret environment variables must be unique across all of a build's secrets, and must be used by at least one build step. Values can be at most 64 KB in size. There can be at most 100 secret values across all of a build's secrets."
        }
      },
      "description": "Pairs a set of secret environment variables mapped to encrypted values with the Cloud KMS key to use to decrypt the value.",
      "type": "object",
      "id": "GoogleDevtoolsCloudbuildV1InlineSecret"
    },
    "GoogleDevtoolsCloudbuildV1BuildApproval": {
      "properties": {
        "state": {
          "description": "Output only. The state of this build's approval.",
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "PENDING",
            "APPROVED",
            "REJECTED",
            "CANCELLED"
          ],
          "enumDescriptions": [
            "Default enum type. This should not be used.",
            "Build approval is pending.",
            "Build approval has been approved.",
            "Build approval has been rejected.",
            "Build was cancelled while it was still pending approval."
          ],
          "readOnly": true
        },
        "config": {
          "readOnly": true,
          "$ref": "GoogleDevtoolsCloudbuildV1ApprovalConfig",
          "description": "Output only. Configuration for manual approval of this build."
        },
        "result": {
          "$ref": "GoogleDevtoolsCloudbuildV1ApprovalResult",
          "readOnly": true,
          "description": "Output only. Result of manual approval for this Build."
        }
      },
      "id": "GoogleDevtoolsCloudbuildV1BuildApproval",
      "description": "BuildApproval describes a build's approval configuration, state, and result.",
      "type": "object"
    },
    "TestIamPermissionsRequest": {
      "properties": {
        "permissions": {
          "items": {
            "type": "string"
          },
          "description": "The set of permissions to check for the `resource`. Permissions with wildcards (such as `*` or `storage.*`) are not allowed. For more information see [IAM Overview](https://cloud.google.com/iam/docs/overview#permissions).",
          "type": "array"
        }
      },
      "type": "object",
      "id": "TestIamPermissionsRequest",
      "description": "Request message for `TestIamPermissions` method."
    },
    "GoogleLongrunningListOperationsResponse": {
      "type": "object",
      "id": "GoogleLongrunningListOperationsResponse",
      "description": "The response message for Operations.ListOperations.",
      "properties": {
        "operations": {
          "items": {
            "$ref": "GoogleLongrunningOperation"
          },
          "description": "A list of operations that matches the specified filter in the request.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        },
        "unreachable": {
          "description": "Unordered list. Unreachable resources. Populated when the request sets `ListOperationsRequest.return_partial_success` and reads across collections. For example, when attempting to list all resources across all supported locations.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      }
    },
    "GoogleDevtoolsCloudbuildV1UploadedGoModule": {
      "id": "GoogleDevtoolsCloudbuildV1UploadedGoModule",
      "description": "A Go module artifact uploaded to Artifact Registry using the GoModule directive.",
      "type": "object",
      "properties": {
        "fileHashes": {
          "$ref": "GoogleDevtoolsCloudbuildV1FileHashes",
          "description": "Hash types and values of the Go Module Artifact."
        },
        "pushTiming": {
          "readOnly": true,
          "$ref": "GoogleDevtoolsCloudbuildV1TimeSpan",
          "description": "Output only. Stores timing information for pushing the specified artifact."
        },
        "uri": {
          "description": "URI of the uploaded artifact.",
          "type": "string"
        },
        "artifactRegistryPackage": {
          "readOnly": true,
          "description": "Output only. Path to the artifact in Artifact Registry.",
          "type": "string"
        }
      }
    },
    "Revision": {
      "id": "Revision",
      "type": "object",
      "description": "Revision is an immutable snapshot of code and configuration. A revision references one or more container images. Revisions are created by updates to a Service.",
      "properties": {
        "metadata": {
          "$ref": "ObjectMeta",
          "description": "Metadata associated with this Revision, including name, namespace, labels, and annotations."
        },
        "spec": {
          "description": "Spec holds the desired state of the Revision (from the client).",
          "$ref": "RevisionSpec"
        },
        "apiVersion": {
          "description": "The API version for this call such as \"serving.knative.dev/v1\".",
          "type": "string"
        },
        "status": {
          "description": "Status communicates the observed state of the Revision (from the controller).",
          "$ref": "RevisionStatus"
        },
        "kind": {
          "type": "string",
          "description": "The kind of this resource, in this case \"Revision\"."
        }
      }
    },
    "ServiceStatus": {
      "properties": {
        "latestReadyRevisionName": {
          "description": "Name of the latest Revision from this Service's Configuration that has had its `Ready` condition become `True`.",
          "type": "string"
        },
        "latestCreatedRevisionName": {
          "description": "Name of the last revision that was created from this Service's Configuration. It might not be ready yet, for that use LatestReadyRevisionName.",
          "type": "string"
        },
        "url": {
          "description": "URL that will distribute traffic over the provided traffic targets. It generally has the form `https://{route-hash}-{project-hash}-{cluster-level-suffix}.a.run.app`",
          "type": "string"
        },
        "observedGeneration": {
          "format": "int32",
          "description": "Returns the generation last seen by the system. Clients polling for completed reconciliation should poll until observedGeneration = metadata.generation and the Ready condition's status is True or False.",
          "type": "integer"
        },
        "address": {
          "$ref": "Addressable",
          "description": "Similar to url, information on where the service is available on HTTP."
        },
        "conditions": {
          "description": "Conditions communicate information about ongoing/complete reconciliation processes that bring the `spec` inline with the observed state of the world. Service-specific conditions include: * `ConfigurationsReady`: `True` when the underlying Configuration is ready. * `RoutesReady`: `True` when the underlying Route is ready. * `Ready`: `True` when all underlying resources are ready.",
          "items": {
            "$ref": "GoogleCloudRunV1Condition"
          },
          "type": "array"
        },
        "traffic": {
          "items": {
            "$ref": "TrafficTarget"
          },
          "description": "Holds the configured traffic distribution. These entries will always contain RevisionName references. When ConfigurationName appears in the spec, this will hold the LatestReadyRevisionName that we last observed.",
          "type": "array"
        }
      },
      "id": "ServiceStatus",
      "description": "The current state of the Service. Output only.",
      "type": "object"
    },
    "GoogleDevtoolsCloudbuildV1Hash": {
      "id": "GoogleDevtoolsCloudbuildV1Hash",
      "properties": {
        "type": {
          "enumDescriptions": [
            "No hash requested.",
            "Use a sha256 hash.",
            "Use a md5 hash.",
            "Dirhash of a Go module's source code which is then hex-encoded.",
            "Use a sha512 hash.",
            "Use a dirsum_sha256 hash."
          ],
          "enum": [
            "NONE",
            "SHA256",
            "MD5",
            "GO_MODULE_H1",
            "SHA512",
            "DIRSUM_SHA256"
          ],
          "description": "The type of hash that was performed.",
          "type": "string"
        },
        "value": {
          "description": "The hash value.",
          "format": "byte",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Container message for hash values."
    },
    "Policy": {
      "properties": {
        "etag": {
          "type": "string",
          "description": "`etag` is used for optimistic concurrency control as a way to help prevent simultaneous updates of a policy from overwriting each other. It is strongly suggested that systems make use of the `etag` in the read-modify-write cycle to perform policy updates in order to avoid race conditions: An `etag` is returned in the response to `getIamPolicy`, and systems are expected to put that etag in the request to `setIamPolicy` to ensure that their change will be applied to the same version of the policy. **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost.",
          "format": "byte"
        },
        "version": {
          "description": "Specifies the format of the policy. Valid values are `0`, `1`, and `3`. Requests that specify an invalid value are rejected. Any operation that affects conditional role bindings must specify version `3`. This requirement applies to the following operations: * Getting a policy that includes a conditional role binding * Adding a conditional role binding to a policy * Changing a conditional role binding in a policy * Removing any role binding, with or without a condition, from a policy that includes conditions **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost. If a policy does not include any conditions, operations on that policy may specify any valid version or leave the field unset. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies).",
          "format": "int32",
          "type": "integer"
        },
        "auditConfigs": {
          "description": "Specifies cloud audit logging configuration for this policy.",
          "type": "array",
          "items": {
            "$ref": "AuditConfig"
          }
        },
        "bindings": {
          "items": {
            "$ref": "Binding"
          },
          "description": "Associates a list of `members`, or principals, with a `role`. Optionally, may specify a `condition` that determines how and when the `bindings` are applied. Each of the `bindings` must contain at least one principal. The `bindings` in a `Policy` can refer to up to 1,500 principals; up to 250 of these principals can be Google groups. Each occurrence of a principal counts towards these limits. For example, if the `bindings` grant 50 different roles to `user:alice@example.com`, and not to any other principal, then you can add another 1,450 principals to the `bindings` in the `Policy`.",
          "type": "array"
        }
      },
      "id": "Policy",
      "type": "object",
      "description": "An Identity and Access Management (IAM) policy, which specifies access controls for Google Cloud resources. A `Policy` is a collection of `bindings`. A `binding` binds one or more `members`, or principals, to a single `role`. Principals can be user accounts, service accounts, Google groups, and domains (such as G Suite). A `role` is a named list of permissions; each `role` can be an IAM predefined role or a user-created custom role. For some types of Google Cloud resources, a `binding` can also specify a `condition`, which is a logical expression that allows access to a resource only if the expression evaluates to `true`. A condition can add constraints based on attributes of the request, the resource, or both. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies). **JSON example:** ``` { \"bindings\": [ { \"role\": \"roles/resourcemanager.organizationAdmin\", \"members\": [ \"user:mike@example.com\", \"group:admins@example.com\", \"domain:google.com\", \"serviceAccount:my-project-id@appspot.gserviceaccount.com\" ] }, { \"role\": \"roles/resourcemanager.organizationViewer\", \"members\": [ \"user:eve@example.com\" ], \"condition\": { \"title\": \"expirable access\", \"description\": \"Does not grant access after Sep 2020\", \"expression\": \"request.time < timestamp('2020-10-01T00:00:00.000Z')\", } } ], \"etag\": \"BwWWja0YfJA=\", \"version\": 3 } ``` **YAML example:** ``` bindings: - members: - user:mike@example.com - group:admins@example.com - domain:google.com - serviceAccount:my-project-id@appspot.gserviceaccount.com role: roles/resourcemanager.organizationAdmin - members: - user:eve@example.com role: roles/resourcemanager.organizationViewer condition: title: expirable access description: Does not grant access after Sep 2020 expression: request.time < timestamp('2020-10-01T00:00:00.000Z') etag: BwWWja0YfJA= version: 3 ``` For a description of IAM and its features, see the [IAM documentation](https://cloud.google.com/iam/docs/)."
    },
    "GoogleDevtoolsCloudbuildV1UploadedGenericArtifact": {
      "id": "GoogleDevtoolsCloudbuildV1UploadedGenericArtifact",
      "type": "object",
      "description": "A generic artifact uploaded to Artifact Registry using the GenericArtifact directive.",
      "properties": {
        "uri": {
          "type": "string",
          "description": "Output only. URI of the uploaded artifact. Ex: projects/p1/locations/us/repositories/r1/packages/p1/versions/v1",
          "readOnly": true
        },
        "artifactFingerprint": {
          "$ref": "GoogleDevtoolsCloudbuildV1FileHashes",
          "readOnly": true,
          "description": "Output only. The hash of the whole artifact."
        },
        "pushTiming": {
          "$ref": "GoogleDevtoolsCloudbuildV1TimeSpan",
          "description": "Output only. Stores timing information for pushing the specified artifact.",
          "readOnly": true
        },
        "artifactRegistryPackage": {
          "readOnly": true,
          "description": "Output only. Path to the artifact in Artifact Registry.",
          "type": "string"
        },
        "fileHashes": {
          "description": "Output only. The file hashes that make up the generic artifact.",
          "additionalProperties": {
            "$ref": "GoogleDevtoolsCloudbuildV1FileHashes"
          },
          "readOnly": true,
          "type": "object"
        }
      }
    },
    "WorkerPoolStatus": {
      "description": "The current state of the WorkerPool. Output only.",
      "id": "WorkerPoolStatus",
      "properties": {
        "latestReadyRevisionName": {
          "description": "Name of the latest Revision from this WorkerPool's template that has had its `Ready` condition become `True`.",
          "type": "string"
        },
        "observedGeneration": {
          "description": "Returns the generation last seen by the system. Clients polling for completed reconciliation should poll until observedGeneration = metadata.generation and the Ready condition's status is True or False.",
          "type": "integer",
          "format": "int32"
        },
        "conditions": {
          "type": "array",
          "description": "Conditions communicate information about ongoing/complete reconciliation processes that bring the `spec` inline with the observed state of the world. * `Ready`: `True` when all underlying resources are ready.",
          "items": {
            "$ref": "GoogleCloudRunV1Condition"
          }
        },
        "latestCreatedRevisionName": {
          "type": "string",
          "description": "Name of the last revision that was created from this WorkerPool's template. It might not be ready yet, for that use LatestReadyRevisionName."
        },
        "instanceSplits": {
          "items": {
            "$ref": "InstanceSplit"
          },
          "description": "Holds the configured workload distribution. These entries will always contain RevisionName references. When ConfigurationName appears in the spec, this will hold the LatestReadyRevisionName that we last observed.",
          "type": "array"
        }
      },
      "type": "object"
    },
    "VolumeMount": {
      "type": "object",
      "id": "VolumeMount",
      "properties": {
        "mountPath": {
          "type": "string",
          "description": "Required. Path within the container at which the volume should be mounted. Must not contain ':'."
        },
        "readOnly": {
          "description": "Sets the mount to be read-only or read-write. Not used by Cloud Run.",
          "type": "boolean"
        },
        "name": {
          "description": "Required. The name of the volume. There must be a corresponding Volume with the same name.",
          "type": "string"
        },
        "subPath": {
          "type": "string",
          "description": "Path within the volume from which the container's volume should be mounted. Defaults to \"\" (volume's root). This field is currently rejected in Secret volume mounts."
        }
      },
      "description": "VolumeMount describes a mounting of a Volume within a container."
    },
    "DomainMapping": {
      "type": "object",
      "description": "Resource to hold the state and status of a user's domain mapping. NOTE: This resource is currently in Beta.",
      "id": "DomainMapping",
      "properties": {
        "spec": {
          "$ref": "DomainMappingSpec",
          "description": "The spec for this DomainMapping."
        },
        "status": {
          "$ref": "DomainMappingStatus",
          "description": "The current status of the DomainMapping."
        },
        "kind": {
          "description": "The kind of resource, in this case \"DomainMapping\".",
          "type": "string"
        },
        "metadata": {
          "$ref": "ObjectMeta",
          "description": "Metadata associated with this BuildTemplate."
        },
        "apiVersion": {
          "description": "The API version for this call such as \"domains.cloudrun.com/v1\".",
          "type": "string"
        }
      }
    },
    "ListDomainMappingsResponse": {
      "type": "object",
      "properties": {
        "apiVersion": {
          "description": "The API version for this call such as \"domains.cloudrun.com/v1\".",
          "type": "string"
        },
        "metadata": {
          "$ref": "ListMeta",
          "description": "Metadata associated with this DomainMapping list."
        },
        "unreachable": {
          "description": "Locations that could not be reached.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "kind": {
          "type": "string",
          "description": "The kind of this resource, in this case \"DomainMappingList\"."
        },
        "items": {
          "items": {
            "$ref": "DomainMapping"
          },
          "description": "List of DomainMappings.",
          "type": "array"
        }
      },
      "description": "ListDomainMappingsResponse is a list of DomainMapping resources.",
      "id": "ListDomainMappingsResponse"
    },
    "ListRoutesResponse": {
      "id": "ListRoutesResponse",
      "description": "ListRoutesResponse is a list of Route resources.",
      "type": "object",
      "properties": {
        "kind": {
          "description": "The kind of this resource, in this case always \"RouteList\".",
          "type": "string"
        },
        "metadata": {
          "description": "Metadata associated with this Route list.",
          "$ref": "ListMeta"
        },
        "unreachable": {
          "description": "Locations that could not be reached.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "apiVersion": {
          "description": "The API version for this call such as \"serving.knative.dev/v1\".",
          "type": "string"
        },
        "items": {
          "description": "List of Routes.",
          "items": {
            "$ref": "Route"
          },
          "type": "array"
        }
      }
    },
    "GoogleRpcStatus": {
      "type": "object",
[...]
