{
  "version": "v1",
  "fullyEncodeReservedExpansion": true,
  "discoveryVersion": "v1",
  "title": "Cloud Run Admin API",
  "ownerName": "Google",
  "documentationLink": "https://cloud.google.com/run/",
  "revision": "20260904",
  "endpoints": [
    {
      "endpointUrl": "https://africa-south1-run.googleapis.com/",
      "location": "africa-south1",
      "description": "Locational Endpoint"
    },
    {
      "description": "Locational Endpoint",
      "endpointUrl": "https://asia-east1-run.googleapis.com/",
      "location": "asia-east1"
    },
    {
      "endpointUrl": "https://asia-east2-run.googleapis.com/",
      "description": "Locational Endpoint",
      "location": "asia-east2"
    },
    {
      "location": "asia-northeast1",
      "description": "Locational Endpoint",
      "endpointUrl": "https://asia-northeast1-run.googleapis.com/"
    },
    {
      "location": "asia-northeast2",
      "description": "Locational Endpoint",
      "endpointUrl": "https://asia-northeast2-run.googleapis.com/"
    },
    {
      "description": "Locational Endpoint",
      "endpointUrl": "https://asia-northeast3-run.googleapis.com/",
      "location": "asia-northeast3"
    },
    {
      "endpointUrl": "https://asia-south1-run.googleapis.com/",
      "description": "Locational Endpoint",
      "location": "asia-south1"
    },
    {
      "endpointUrl": "https://asia-south2-run.googleapis.com/",
      "description": "Locational Endpoint",
      "location": "asia-south2"
    },
    {
      "location": "asia-southeast1",
      "description": "Locational Endpoint",
      "endpointUrl": "https://asia-southeast1-run.googleapis.com/"
    },
    {
      "description": "Locational Endpoint",
      "endpointUrl": "https://asia-southeast2-run.googleapis.com/",
      "location": "asia-southeast2"
    },
    {
      "location": "asia-southeast3",
      "endpointUrl": "https://asia-southeast3-run.googleapis.com/",
      "description": "Locational Endpoint"
    },
    {
      "location": "asia-southeast4",
      "endpointUrl": "https://asia-southeast4-run.googleapis.com/",
      "description": "Locational Endpoint"
    },
    {
      "location": "australia-southeast1",
      "description": "Locational Endpoint",
      "endpointUrl": "https://australia-southeast1-run.googleapis.com/"
    },
    {
      "location": "australia-southeast2",
      "endpointUrl": "https://australia-southeast2-run.googleapis.com/",
      "description": "Locational Endpoint"
    },
    {
      "location": "europe-central2",
      "description": "Locational Endpoint",
      "endpointUrl": "https://europe-central2-run.googleapis.com/"
    },
    {
      "endpointUrl": "https://europe-north1-run.googleapis.com/",
      "location": "europe-north1",
      "description": "Locational Endpoint"
    },
    {
      "endpointUrl": "https://europe-north2-run.googleapis.com/",
      "description": "Locational Endpoint",
      "location": "europe-north2"
    },
    {
      "description": "Locational Endpoint",
      "location": "europe-southwest1",
      "endpointUrl": "https://europe-southwest1-run.googleapis.com/"
    },
    {
      "location": "europe-west1",
      "description": "Locational Endpoint",
      "endpointUrl": "https://europe-west1-run.googleapis.com/"
    },
    {
      "location": "europe-west10",
      "description": "Locational Endpoint",
      "endpointUrl": "https://europe-west10-run.googleapis.com/"
    },
    {
      "description": "Locational Endpoint",
      "endpointUrl": "https://europe-west12-run.googleapis.com/",
      "location": "europe-west12"
    },
    {
      "endpointUrl": "https://europe-west15-run.googleapis.com/",
      "location": "europe-west15",
      "description": "Locational Endpoint"
    },
    {
      "description": "Locational Endpoint",
      "endpointUrl": "https://europe-west2-run.googleapis.com/",
      "location": "europe-west2"
    },
    {
      "endpointUrl": "https://europe-west3-run.googleapis.com/",
      "description": "Locational Endpoint",
      "location": "europe-west3"
    },
    {
      "endpointUrl": "https://europe-west4-run.googleapis.com/",
      "description": "Locational Endpoint",
      "location": "europe-west4"
    },
    {
      "description": "Locational Endpoint",
      "endpointUrl": "https://europe-west6-run.googleapis.com/",
      "location": "europe-west6"
    },
    {
      "location": "europe-west8",
      "description": "Locational Endpoint",
      "endpointUrl": "https://europe-west8-run.googleapis.com/"
    },
    {
      "endpointUrl": "https://europe-west9-run.googleapis.com/",
      "description": "Locational Endpoint",
      "location": "europe-west9"
    },
    {
      "description": "Locational Endpoint",
      "location": "me-central1",
      "endpointUrl": "https://me-central1-run.googleapis.com/"
    },
    {
      "location": "me-central2",
      "description": "Locational Endpoint",
      "endpointUrl": "https://me-central2-run.googleapis.com/"
    },
    {
      "location": "me-west1",
      "endpointUrl": "https://me-west1-run.googleapis.com/",
      "description": "Locational Endpoint"
    },
    {
      "location": "northamerica-northeast1",
      "description": "Locational Endpoint",
      "endpointUrl": "https://northamerica-northeast1-run.googleapis.com/"
    },
    {
      "description": "Locational Endpoint",
      "location": "northamerica-northeast2",
      "endpointUrl": "https://northamerica-northeast2-run.googleapis.com/"
    },
    {
      "description": "Locational Endpoint",
      "endpointUrl": "https://northamerica-south1-run.googleapis.com/",
      "location": "northamerica-south1"
    },
    {
      "location": "southamerica-east1",
      "description": "Locational Endpoint",
      "endpointUrl": "https://southamerica-east1-run.googleapis.com/"
    },
    {
      "endpointUrl": "https://southamerica-west1-run.googleapis.com/",
      "location": "southamerica-west1",
      "description": "Locational Endpoint"
    },
    {
      "endpointUrl": "https://us-central1-run.googleapis.com/",
      "description": "Locational Endpoint",
      "location": "us-central1"
    },
    {
      "description": "Locational Endpoint",
      "endpointUrl": "https://us-central2-run.googleapis.com/",
      "location": "us-central2"
    },
    {
      "description": "Locational Endpoint",
      "endpointUrl": "https://us-east1-run.googleapis.com/",
      "location": "us-east1"
    },
    {
      "endpointUrl": "https://us-east4-run.googleapis.com/",
      "description": "Locational Endpoint",
      "location": "us-east4"
    },
    {
      "location": "us-east5",
      "endpointUrl": "https://us-east5-run.googleapis.com/",
      "description": "Locational Endpoint"
    },
    {
      "location": "us-east7",
      "description": "Locational Endpoint",
      "endpointUrl": "https://us-east7-run.googleapis.com/"
    },
    {
      "description": "Locational Endpoint",
      "endpointUrl": "https://us-south1-run.googleapis.com/",
      "location": "us-south1"
    },
    {
      "location": "us-west1",
      "endpointUrl": "https://us-west1-run.googleapis.com/",
      "description": "Locational Endpoint"
    },
    {
      "endpointUrl": "https://us-west2-run.googleapis.com/",
      "location": "us-west2",
      "description": "Locational Endpoint"
    },
    {
      "description": "Locational Endpoint",
      "location": "us-west3",
      "endpointUrl": "https://us-west3-run.googleapis.com/"
    },
    {
      "endpointUrl": "https://us-west4-run.googleapis.com/",
      "location": "us-west4",
      "description": "Locational Endpoint"
    },
    {
      "location": "us-west8",
      "description": "Locational Endpoint",
      "endpointUrl": "https://us-west8-run.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://run.africa-south1.rep.googleapis.com/",
      "location": "africa-south1"
    },
    {
      "endpointUrl": "https://run.asia-east1.rep.googleapis.com/",
      "location": "asia-east1",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://run.asia-east2.rep.googleapis.com/",
      "location": "asia-east2"
    },
    {
      "endpointUrl": "https://run.asia-northeast1.rep.googleapis.com/",
      "location": "asia-northeast1",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://run.asia-northeast2.rep.googleapis.com/",
      "location": "asia-northeast2",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "location": "asia-northeast3",
      "endpointUrl": "https://run.asia-northeast3.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://run.asia-south1.rep.googleapis.com/",
      "location": "asia-south1"
    },
    {
      "endpointUrl": "https://run.asia-south2.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "asia-south2"
    },
    {
      "location": "asia-southeast1",
      "endpointUrl": "https://run.asia-southeast1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "asia-southeast2",
      "endpointUrl": "https://run.asia-southeast2.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "location": "asia-southeast3",
      "endpointUrl": "https://run.asia-southeast3.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://run.asia-southeast4.rep.googleapis.com/",
      "location": "asia-southeast4",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://run.australia-southeast1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "australia-southeast1"
    },
    {
      "endpointUrl": "https://run.australia-southeast2.rep.googleapis.com/",
      "location": "australia-southeast2",
      "description": "Regional Endpoint"
    },
    {
      "location": "europe-central2",
      "description": "Regional Endpoint",
      "endpointUrl": "https://run.europe-central2.rep.googleapis.com/"
    },
    {
      "location": "europe-north1",
      "endpointUrl": "https://run.europe-north1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "europe-north2",
      "description": "Regional Endpoint",
      "endpointUrl": "https://run.europe-north2.rep.googleapis.com/"
    },
    {
      "location": "europe-southwest1",
      "description": "Regional Endpoint",
      "endpointUrl": "https://run.europe-southwest1.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://run.europe-west1.rep.googleapis.com/",
      "location": "europe-west1"
    },
    {
      "endpointUrl": "https://run.europe-west10.rep.googleapis.com/",
      "location": "europe-west10",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://run.europe-west12.rep.googleapis.com/",
      "location": "europe-west12",
      "description": "Regional Endpoint"
    },
    {
      "location": "europe-west15",
      "description": "Regional Endpoint",
      "endpointUrl": "https://run.europe-west15.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://run.europe-west2.rep.googleapis.com/",
      "location": "europe-west2",
      "description": "Regional Endpoint"
    },
    {
      "location": "europe-west3",
      "description": "Regional Endpoint",
      "endpointUrl": "https://run.europe-west3.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://run.europe-west4.rep.googleapis.com/",
      "location": "europe-west4"
    },
    {
      "endpointUrl": "https://run.europe-west6.rep.googleapis.com/",
      "location": "europe-west6",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "location": "europe-west8",
      "endpointUrl": "https://run.europe-west8.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://run.europe-west9.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "europe-west9"
    },
    {
      "location": "me-central1",
      "description": "Regional Endpoint",
      "endpointUrl": "https://run.me-central1.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://run.me-central2.rep.googleapis.com/",
      "location": "me-central2",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://run.me-west1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "me-west1"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://run.northamerica-northeast1.rep.googleapis.com/",
      "location": "northamerica-northeast1"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://run.northamerica-northeast2.rep.googleapis.com/",
      "location": "northamerica-northeast2"
    },
    {
      "endpointUrl": "https://run.northamerica-south1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "northamerica-south1"
    },
    {
      "location": "southamerica-east1",
      "endpointUrl": "https://run.southamerica-east1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://run.southamerica-west1.rep.googleapis.com/",
      "location": "southamerica-west1"
    },
    {
      "location": "us-central1",
      "endpointUrl": "https://run.us-central1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "us-central2",
      "endpointUrl": "https://run.us-central2.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "us-east1",
      "description": "Regional Endpoint",
      "endpointUrl": "https://run.us-east1.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://run.us-east4.rep.googleapis.com/",
      "location": "us-east4"
    },
    {
      "endpointUrl": "https://run.us-east5.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "us-east5"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://run.us-east7.rep.googleapis.com/",
      "location": "us-east7"
    },
    {
      "endpointUrl": "https://run.us-south1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "us-south1"
    },
    {
      "location": "us-west1",
      "endpointUrl": "https://run.us-west1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "location": "us-west2",
      "endpointUrl": "https://run.us-west2.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://run.us-west3.rep.googleapis.com/",
      "location": "us-west3"
    },
    {
      "description": "Regional Endpoint",
      "location": "us-west4",
      "endpointUrl": "https://run.us-west4.rep.googleapis.com/"
    },
    {
      "location": "us-west8",
      "description": "Regional Endpoint",
      "endpointUrl": "https://run.us-west8.rep.googleapis.com/"
    }
  ],
  "description": "Deploy and manage user provided container images that scale automatically based on incoming requests. The Cloud Run Admin API v1 follows the Knative Serving API specification, while v2 is aligned with Google Cloud AIP-based API standards, as described in https://google.aip.dev/.",
  "id": "run:v1",
  "mtlsRootUrl": "https://run.mtls.googleapis.com/",
  "baseUrl": "https://run.googleapis.com/",
  "name": "run",
  "ownerDomain": "google.com",
  "kind": "discovery#restDescription",
  "batchPath": "batch",
  "rootUrl": "https://run.googleapis.com/",
  "protocol": "rest",
  "parameters": {
    "alt": {
      "type": "string",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "description": "Data format for response.",
      "location": "query"
    },
    "callback": {
      "description": "JSONP",
      "location": "query",
      "type": "string"
    },
    "quotaUser": {
      "type": "string",
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "location": "query",
      "type": "boolean",
      "default": "true"
    },
    "fields": {
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "type": "string",
      "location": "query"
    },
    "$.xgafv": {
      "location": "query",
      "enum": [
        "1",
        "2"
      ],
      "type": "string",
      "description": "V1 error format.",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ]
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "uploadType": {
      "type": "string",
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "access_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth access token."
    },
    "key": {
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string"
    }
  },
  "basePath": "",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "servicePath": "",
  "resources": {
    "namespaces": {
      "resources": {
        "services": {
          "methods": {
            "list": {
              "path": "apis/serving.knative.dev/v1/{+parent}/services",
              "description": "Lists services for the given project and region. Results are sorted by creation time, descending.",
              "id": "run.namespaces.services.list",
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/run",
                "https://www.googleapis.com/auth/run.readonly"
              ],
              "parameters": {
                "fieldSelector": {
                  "description": "Not supported, and ignored by Cloud Run.",
                  "location": "query",
                  "type": "string"
                },
                "includeUninitialized": {
                  "location": "query",
                  "description": "Not supported, and ignored by Cloud Run.",
                  "type": "boolean"
                },
                "resourceVersion": {
                  "type": "string",
                  "location": "query",
                  "description": "Not supported, and ignored by Cloud Run."
                },
                "labelSelector": {
                  "location": "query",
                  "description": "Allows to filter resources based on a label. Supported operations are =, !=, exists, in, and notIn.",
                  "type": "string"
                },
                "watch": {
                  "description": "Not supported, and ignored by Cloud Run.",
                  "location": "query",
                  "type": "boolean"
                },
                "parent": {
                  "required": true,
                  "type": "string",
                  "pattern": "^namespaces/[^/]+$",
                  "description": "Required. The parent from where the resources should be listed. In Cloud Run, it may be one of the following: * `{project_id_or_number}` * `namespaces/{project_id_or_number}` * `namespaces/{project_id_or_number}/services` * `projects/{project_id_or_number}/locations/{region}` * `projects/{project_id_or_number}/regions/{region}`",
                  "location": "path"
                },
                "limit": {
                  "type": "integer",
                  "description": "The maximum number of records that should be returned.",
                  "format": "int32",
                  "location": "query"
                },
                "continue": {
                  "description": "Encoded string to continue paging.",
                  "location": "query",
                  "type": "string"
                }
              },
              "flatPath": "apis/serving.knative.dev/v1/namespaces/{namespacesId}/services",
              "response": {
                "$ref": "ListServicesResponse"
              },
              "parameterOrder": [
                "parent"
              ]
            },
            "get": {
              "path": "apis/serving.knative.dev/v1/{+name}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/run",
                "https://www.googleapis.com/auth/run.readonly"
              ],
              "httpMethod": "GET",
              "flatPath": "apis/serving.knative.dev/v1/namespaces/{namespacesId}/services/{servicesId}",
              "response": {
                "$ref": "Service"
              },
              "description": "Gets information about a service.",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "pattern": "^namespaces/[^/]+/services/[^/]+$",
                  "type": "string",
                  "location": "path",
                  "description": "Required. The fully qualified name of the service to retrieve. It can be any of the following forms: * `namespaces/{project_id_or_number}/services/{service_name}` (only when the `endpoint` is regional) * `projects/{project_id_or_number}/locations/{region}/services/{service_name}` * `projects/{project_id_or_number}/regions/{region}/services/{service_name}`",
                  "required": true
                }
              },
              "id": "run.namespaces.services.get"
            },
            "replaceService": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/run"
              ],
              "flatPath": "apis/serving.knative.dev/v1/namespaces/{namespacesId}/services/{servicesId}",
              "response": {
                "$ref": "Service"
              },
              "description": "Replaces a service. Only the spec and metadata labels and annotations are modifiable. After the Update request, Cloud Run will work to make the 'status' match the requested 'spec'. May provide metadata.resourceVersion to enforce update from last read for optimistic concurrency control.",
              "parameterOrder": [
                "name"
              ],
              "request": {
                "$ref": "Service"
              },
              "path": "apis/serving.knative.dev/v1/{+name}",
              "parameters": {
                "dryRun": {
                  "description": "Indicates that the server should validate the request and populate default values without persisting the request. Supported values: `all`",
                  "location": "query",
                  "type": "string"
                },
                "name": {
                  "pattern": "^namespaces/[^/]+/services/[^/]+$",
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "description": "Required. The fully qualified name of the service to replace. It can be any of the following forms: * `namespaces/{project_id_or_number}/services/{service_name}` (only when the `endpoint` is regional) * `projects/{project_id_or_number}/locations/{region}/services/{service_name}` * `projects/{project_id_or_number}/regions/{region}/services/{service_name}`"
                }
              },
              "id": "run.namespaces.services.replaceService",
              "httpMethod": "PUT"
            },
            "create": {
              "request": {
                "$ref": "Service"
              },
              "parameters": {
                "parent": {
                  "pattern": "^namespaces/[^/]+$",
                  "description": "Required. The resource's parent. In Cloud Run, it may be one of the following: * `{project_id_or_number}` * `namespaces/{project_id_or_number}` * `namespaces/{project_id_or_number}/services` * `projects/{project_id_or_number}/locations/{region}` * `projects/{project_id_or_number}/regions/{region}`",
                  "type": "string",
                  "location": "path",
                  "required": true
                },
                "dryRun": {
                  "location": "query",
                  "description": "Indicates that the server should validate the request and populate default values without persisting the request. Supported values: `all`",
                  "type": "string"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/run"
              ],
              "flatPath": "apis/serving.knative.dev/v1/namespaces/{namespacesId}/services",
              "response": {
                "$ref": "Service"
              },
              "description": "Creates a new Service. Service creation will trigger a new deployment. Use GetService, and check service.status to determine if the Service is ready.",
              "httpMethod": "POST",
              "id": "run.namespaces.services.create",
              "parameterOrder": [
                "parent"
              ],
              "path": "apis/serving.knative.dev/v1/{+parent}/services"
            },
            "delete": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/run"
              ],
              "parameters": {
                "kind": {
                  "location": "query",
                  "description": "Not supported, and ignored by Cloud Run.",
                  "type": "string"
                },
                "dryRun": {
                  "type": "string",
                  "location": "query",
                  "description": "Indicates that the server should validate the request and populate default values without persisting the request. Supported values: `all`"
                },
                "apiVersion": {
                  "description": "Not supported, and ignored by Cloud Run.",
                  "type": "string",
                  "location": "query"
                },
                "name": {
                  "location": "path",
                  "description": "Required. The fully qualified name of the service to delete. It can be any of the following forms: * `namespaces/{project_id_or_number}/services/{service_name}` (only when the `endpoint` is regional) * `projects/{project_id_or_number}/locations/{region}/services/{service_name}` * `projects/{project_id_or_number}/regions/{region}/services/{service_name}`",
                  "type": "string",
                  "required": true,
                  "pattern": "^namespaces/[^/]+/services/[^/]+$"
                },
                "propagationPolicy": {
                  "type": "string",
                  "location": "query",
                  "description": "Not supported, and ignored by Cloud Run."
                }
              },
              "id": "run.namespaces.services.delete",
              "description": "Deletes the provided service. This will cause the Service to stop serving traffic and will delete all associated Revisions.",
              "flatPath": "apis/serving.knative.dev/v1/namespaces/{namespacesId}/services/{servicesId}",
              "response": {
                "$ref": "Status"
              },
              "httpMethod": "DELETE",
              "parameterOrder": [
                "name"
              ],
              "path": "apis/serving.knative.dev/v1/{+name}"
            }
          }
        },
        "executions": {
          "methods": {
            "list": {
              "httpMethod": "GET",
              "id": "run.namespaces.executions.list",
              "parameterOrder": [
                "parent"
              ],
              "description": "List executions. Results are sorted by creation time, descending.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/run",
                "https://www.googleapis.com/auth/run.readonly"
              ],
              "parameters": {
                "labelSelector": {
                  "location": "query",
                  "type": "string",
                  "description": "Optional. Allows to filter resources based on a label. Supported operations are =, !=, exists, in, and notIn."
                },
                "resourceVersion": {
                  "description": "Optional. Not supported by Cloud Run.",
                  "type": "string",
                  "location": "query"
                },
                "fieldSelector": {
                  "location": "query",
                  "description": "Optional. Not supported by Cloud Run.",
                  "type": "string"
                },
                "includeUninitialized": {
                  "description": "Optional. Not supported by Cloud Run.",
                  "type": "boolean",
                  "location": "query"
                },
                "watch": {
                  "location": "query",
                  "description": "Optional. Not supported by Cloud Run.",
                  "type": "boolean"
                },
                "continue": {
                  "location": "query",
                  "description": "Optional. Optional encoded string to continue paging.",
                  "type": "string"
                },
                "parent": {
                  "type": "string",
                  "required": true,
                  "location": "path",
                  "description": "Required. The namespace from which the executions should be listed. Replace {namespace} with the project ID or number. It takes the form namespaces/{namespace}. For example: namespaces/PROJECT_ID",
                  "pattern": "^namespaces/[^/]+$"
                },
                "limit": {
                  "type": "integer",
                  "location": "query",
                  "format": "int32",
                  "description": "Optional. The maximum number of the records that should be returned."
                }
              },
              "path": "apis/run.googleapis.com/v1/{+parent}/executions",
              "flatPath": "apis/run.googleapis.com/v1/namespaces/{namespacesId}/executions",
              "response": {
                "$ref": "ListExecutionsResponse"
              }
            },
            "get": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/run",
                "https://www.googleapis.com/auth/run.readonly"
              ],
              "description": "Get information about an execution.",
              "path": "apis/run.googleapis.com/v1/{+name}",
              "parameters": {
                "name": {
                  "required": true,
                  "type": "string",
                  "description": "Required. The name of the execution to retrieve. Replace {namespace} with the project ID or number. It takes the form namespaces/{namespace}. For example: namespaces/PROJECT_ID",
                  "pattern": "^namespaces/[^/]+/executions/[^/]+$",
                  "location": "path"
                }
              },
              "id": "run.namespaces.executions.get",
              "flatPath": "apis/run.googleapis.com/v1/namespaces/{namespacesId}/executions/{executionsId}",
              "response": {
                "$ref": "Execution"
              },
              "httpMethod": "GET",
              "parameterOrder": [
                "name"
              ]
            },
            "delete": {
              "description": "Delete an execution.",
              "path": "apis/run.googleapis.com/v1/{+name}",
              "parameters": {
                "propagationPolicy": {
                  "description": "Optional. Specifies the propagation policy of delete. Cloud Run currently ignores this setting.",
                  "location": "query",
                  "type": "string"
                },
                "apiVersion": {
                  "description": "Optional. Cloud Run currently ignores this parameter.",
                  "type": "string",
                  "location": "query"
                },
                "kind": {
                  "description": "Optional. Cloud Run currently ignores this parameter.",
                  "type": "string",
                  "location": "query"
                },
                "name": {
                  "required": true,
                  "description": "Required. The name of the execution to delete. Replace {namespace} with the project ID or number. It takes the form namespaces/{namespace}. For example: namespaces/PROJECT_ID",
                  "pattern": "^namespaces/[^/]+/executions/[^/]+$",
                  "type": "string",
                  "location": "path"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "flatPath": "apis/run.googleapis.com/v1/namespaces/{namespacesId}/executions/{executionsId}",
              "response": {
                "$ref": "Status"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/run"
              ],
              "id": "run.namespaces.executions.delete",
              "httpMethod": "DELETE"
            },
            "cancel": {
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "POST",
              "description": "Cancel an execution.",
              "parameters": {
                "name": {
                  "type": "string",
                  "location": "path",
                  "pattern": "^namespaces/[^/]+/executions/[^/]+$",
                  "required": true,
                  "description": "Required. The name of the execution to cancel. Replace {namespace} with the project ID or number. It takes the form namespaces/{namespace}. For example: namespaces/PROJECT_ID"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/run"
              ],
              "flatPath": "apis/run.googleapis.com/v1/namespaces/{namespacesId}/executions/{executionsId}:cancel",
              "response": {
                "$ref": "Execution"
              },
              "id": "run.namespaces.executions.cancel",
              "request": {
                "$ref": "CancelExecutionRequest"
              },
              "path": "apis/run.googleapis.com/v1/{+name}:cancel"
            }
          }
        },
        "tasks": {
          "methods": {
            "list": {
              "flatPath": "apis/run.googleapis.com/v1/namespaces/{namespacesId}/tasks",
              "response": {
                "$ref": "ListTasksResponse"
              },
              "id": "run.namespaces.tasks.list",
              "description": "List tasks.",
              "httpMethod": "GET",
              "parameterOrder": [
                "parent"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/run",
                "https://www.googleapis.com/auth/run.readonly"
              ],
              "parameters": {
                "watch": {
                  "location": "query",
                  "type": "boolean",
                  "description": "Optional. Not supported by Cloud Run."
                },
                "labelSelector": {
                  "location": "query",
                  "description": "Optional. Allows to filter resources based on a label. Supported operations are =, !=, exists, in, and notIn. For example, to list all tasks of execution \"foo\" in succeeded state: `run.googleapis.com/execution=foo,run.googleapis.com/runningState=Succeeded`. Supported states are: * `Pending`: Initial state of all tasks. The task has not yet started but eventually will. * `Running`: Container instances for this task are running or will be running shortly. * `Succeeded`: No more container instances to run for the task, and the last attempt succeeded. * `Failed`: No more container instances to run for the task, and the last attempt failed. This task has run out of retry attempts. * `Cancelled`: Task was running but got stopped because its parent execution has been aborted. * `Abandoned`: The task has not yet started and never will because its parent execution has been aborted.",
                  "type": "string"
                },
                "parent": {
                  "location": "path",
                  "pattern": "^namespaces/[^/]+$",
                  "required": true,
                  "type": "string",
                  "description": "Required. The namespace from which the tasks should be listed. Replace {namespace} with the project ID or number. It takes the form namespaces/{namespace}. For example: namespaces/PROJECT_ID"
                },
                "limit": {
                  "format": "int32",
                  "description": "Optional. The maximum number of records that should be returned.",
                  "type": "integer",
                  "location": "query"
                },
                "resourceVersion": {
                  "description": "Optional. Not supported by Cloud Run.",
                  "location": "query",
                  "type": "string"
                },
                "fieldSelector": {
                  "description": "Optional. Not supported by Cloud Run.",
                  "type": "string",
                  "location": "query"
                },
                "includeUninitialized": {
                  "location": "query",
                  "description": "Optional. Not supported by Cloud Run.",
                  "type": "boolean"
                },
                "continue": {
                  "location": "query",
                  "type": "string",
                  "description": "Optional. Optional encoded string to continue paging."
                }
              },
              "path": "apis/run.googleapis.com/v1/{+parent}/tasks"
            },
            "get": {
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/run",
                "https://www.googleapis.com/auth/run.readonly"
              ],
              "description": "Get information about a task.",
              "id": "run.namespaces.tasks.get",
              "flatPath": "apis/run.googleapis.com/v1/namespaces/{namespacesId}/tasks/{tasksId}",
              "response": {
                "$ref": "Task"
              },
              "parameters": {
                "name": {
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "description": "Required. The name of the task to retrieve. Replace {namespace} with the project ID or number. It takes the form namespaces/{namespace}. For example: namespaces/PROJECT_ID",
                  "pattern": "^namespaces/[^/]+/tasks/[^/]+$"
                }
              },
              "path": "apis/run.googleapis.com/v1/{+name}",
              "httpMethod": "GET"
            }
          }
        },
        "revisions": {
          "methods": {
            "delete": {
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "pattern": "^namespaces/[^/]+/revisions/[^/]+$",
                  "description": "The name of the revision to delete. For Cloud Run (fully managed), replace {namespace} with the project ID or number. It takes the form namespaces/{namespace}. For example: namespaces/PROJECT_ID",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "dryRun": {
                  "description": "Indicates that the server should validate the request and populate default values without persisting the request. Supported values: `all`",
                  "type": "string",
                  "location": "query"
                },
                "kind": {
                  "location": "query",
                  "type": "string",
                  "description": "Cloud Run currently ignores this parameter."
                },
                "apiVersion": {
                  "description": "Cloud Run currently ignores this parameter.",
                  "location": "query",
                  "type": "string"
                },
                "propagationPolicy": {
                  "description": "Specifies the propagation policy of delete. Cloud Run currently ignores this setting, and deletes in the background.",
                  "type": "string",
                  "location": "query"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/run"
              ],
              "path": "apis/serving.knative.dev/v1/{+name}",
              "description": "Delete a revision.",
              "httpMethod": "DELETE",
              "id": "run.namespaces.revisions.delete",
              "flatPath": "apis/serving.knative.dev/v1/namespaces/{namespacesId}/revisions/{revisionsId}",
              "response": {
                "$ref": "Status"
              }
            },
            "list": {
              "id": "run.namespaces.revisions.list",
              "description": "List revisions. Results are sorted by creation time, descending.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/run",
                "https://www.googleapis.com/auth/run.readonly"
              ],
              "parameters": {
                "watch": {
                  "description": "Flag that indicates that the client expects to watch this resource as well. Not currently used by Cloud Run.",
                  "type": "boolean",
                  "location": "query"
                },
                "continue": {
                  "type": "string",
                  "description": "Optional. Encoded string to continue paging.",
                  "location": "query"
                },
                "fieldSelector": {
                  "description": "Allows to filter resources based on a specific value for a field name. Send this in a query string format. i.e. 'metadata.name%3Dlorem'. Not currently used by Cloud Run.",
                  "location": "query",
                  "type": "string"
                },
                "includeUninitialized": {
                  "description": "Not currently used by Cloud Run.",
                  "location": "query",
                  "type": "boolean"
                },
                "limit": {
                  "description": "Optional. The maximum number of records that should be returned.",
                  "type": "integer",
                  "location": "query",
                  "format": "int32"
                },
                "resourceVersion": {
                  "type": "string",
                  "location": "query",
                  "description": "The baseline resource version from which the list or watch operation should start. Not currently used by Cloud Run."
                },
                "parent": {
                  "type": "string",
                  "location": "path",
                  "description": "The namespace from which the revisions should be listed. For Cloud Run (fully managed), replace {namespace} with the project ID or number. It takes the form namespaces/{namespace}. For example: namespaces/PROJECT_ID",
                  "pattern": "^namespaces/[^/]+$",
                  "required": true
                },
                "labelSelector": {
                  "type": "string",
                  "description": "Allows to filter resources based on a label. Supported operations are =, !=, exists, in, and notIn.",
                  "location": "query"
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "httpMethod": "GET",
              "flatPath": "apis/serving.knative.dev/v1/namespaces/{namespacesId}/revisions",
              "response": {
                "$ref": "ListRevisionsResponse"
              },
              "path": "apis/serving.knative.dev/v1/{+parent}/revisions"
            },
            "get": {
              "httpMethod": "GET",
              "description": "Get information about a revision.",
              "parameterOrder": [
                "name"
              ],
              "flatPath": "apis/serving.knative.dev/v1/namespaces/{namespacesId}/revisions/{revisionsId}",
              "response": {
                "$ref": "Revision"
              },
              "id": "run.namespaces.revisions.get",
              "path": "apis/serving.knative.dev/v1/{+name}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/run",
                "https://www.googleapis.com/auth/run.readonly"
              ],
              "parameters": {
                "name": {
                  "location": "path",
                  "type": "string",
                  "description": "The name of the revision to retrieve. For Cloud Run (fully managed), replace {namespace} with the project ID or number. It takes the form namespaces/{namespace}. For example: namespaces/PROJECT_ID",
                  "required": true,
                  "pattern": "^namespaces/[^/]+/revisions/[^/]+$"
                }
              }
            }
          }
        },
        "routes": {
          "methods": {
            "list": {
              "path": "apis/serving.knative.dev/v1/{+parent}/routes",
              "httpMethod": "GET",
              "description": "List routes. Results are sorted by creation time, descending.",
              "parameterOrder": [
                "parent"
              ],
              "flatPath": "apis/serving.knative.dev/v1/namespaces/{namespacesId}/routes",
              "response": {
                "$ref": "ListRoutesResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/run",
                "https://www.googleapis.com/auth/run.readonly"
              ],
              "id": "run.namespaces.routes.list",
              "parameters": {
                "limit": {
                  "format": "int32",
                  "description": "Optional. The maximum number of records that should be returned.",
                  "location": "query",
                  "type": "integer"
                },
                "labelSelector": {
                  "description": "Allows to filter resources based on a label. Supported operations are =, !=, exists, in, and notIn.",
                  "type": "string",
                  "location": "query"
                },
                "continue": {
                  "description": "Optional. Encoded string to continue paging.",
                  "location": "query",
                  "type": "string"
                },
                "watch": {
                  "description": "Flag that indicates that the client expects to watch this resource as well. Not currently used by Cloud Run.",
                  "type": "boolean",
                  "location": "query"
                },
                "fieldSelector": {
                  "location": "query",
                  "description": "Allows to filter resources based on a specific value for a field name. Send this in a query string format. i.e. 'metadata.name%3Dlorem'. Not currently used by Cloud Run.",
                  "type": "string"
                },
                "resourceVersion": {
                  "type": "string",
                  "description": "The baseline resource version from which the list or watch operation should start. Not currently used by Cloud Run.",
                  "location": "query"
                },
                "parent": {
                  "type": "string",
                  "required": true,
                  "location": "path",
                  "description": "The namespace from which the routes should be listed. For Cloud Run (fully managed), replace {namespace} with the project ID or number. It takes the form namespaces/{namespace}. For example: namespaces/PROJECT_ID",
                  "pattern": "^namespaces/[^/]+$"
                },
                "includeUninitialized": {
                  "description": "Not currently used by Cloud Run.",
                  "location": "query",
                  "type": "boolean"
                }
              }
            },
            "get": {
              "flatPath": "apis/serving.knative.dev/v1/namespaces/{namespacesId}/routes/{routesId}",
              "response": {
                "$ref": "Route"
              },
              "id": "run.namespaces.routes.get",
              "httpMethod": "GET",
              "parameters": {
                "name": {
                  "required": true,
                  "description": "The name of the route to retrieve. For Cloud Run (fully managed), replace {namespace} with the project ID or number. It takes the form namespaces/{namespace}. For example: namespaces/PROJECT_ID",
                  "pattern": "^namespaces/[^/]+/routes/[^/]+$",
                  "location": "path",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "description": "Get information about a route.",
              "path": "apis/serving.knative.dev/v1/{+name}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/run",
                "https://www.googleapis.com/auth/run.readonly"
              ]
            }
          }
        },
        "instances": {
          "methods": {
            "stop": {
              "description": "Stop an Instance that is running.",
              "parameters": {
                "name": {
                  "description": "Required. The name of the Instance to run. Replace {namespace} with the project ID or number. It takes the form namespaces/{namespace}. For example: namespaces/PROJECT_ID",
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "pattern": "^namespaces/[^/]+/instances/[^/]+$"
                }
              },
              "flatPath": "apis/run.googleapis.com/v1/namespaces/{namespacesId}/instances/{instancesId}:stop",
              "response": {
                "$ref": "Instance"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/run"
              ],
              "request": {
                "$ref": "StopInstanceRequest"
              },
              "path": "apis/run.googleapis.com/v1/{+name}:stop",
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "POST",
              "id": "run.namespaces.instances.stop"
            },
            "list": {
              "parameters": {
                "fieldSelector": {
                  "type": "string",
                  "location": "query",
                  "description": "Optional. Not supported by Cloud Run."
                },
                "limit": {
                  "type": "integer",
                  "location": "query",
                  "description": "Optional. The maximum number of records that should be returned.",
                  "format": "int32"
                },
                "resourceVersion": {
                  "location": "query",
                  "description": "Optional. Not supported by Cloud Run.",
                  "type": "string"
                },
                "watch": {
                  "type": "boolean",
                  "location": "query",
                  "description": "Optional. Not supported by Cloud Run."
                },
                "includeUninitialized": {
                  "type": "boolean",
                  "location": "query",
                  "description": "Optional. Not supported by Cloud Run."
                },
                "continue": {
                  "location": "query",
                  "type": "string",
                  "description": "Optional. Optional encoded string to continue paging."
                },
                "labelSelector": {
                  "description": "Optional. Allows to filter resources based on a label. Supported operations are =, !=, exists, in, and notIn.",
                  "location": "query",
                  "type": "string"
                },
                "parent": {
                  "required": true,
                  "pattern": "^namespaces/[^/]+$",
                  "type": "string",
                  "description": "Required. The parent from where the resources should be listed. In Cloud Run, it may be one of the following: * `{project_id_or_number}` * `namespaces/{project_id_or_number}` * `namespaces/{project_id_or_number}/instances` * `projects/{project_id_or_number}/locations/{region}` * `projects/{project_id_or_number}/regions/{region}` Parent resource namespace.",
                  "location": "path"
                }
              },
              "path": "apis/run.googleapis.com/v1/{+parent}/instances",
              "parameterOrder": [
                "parent"
              ],
              "description": "List Instances. Results are sorted by creation time, descending.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/run",
                "https://www.googleapis.com/auth/run.readonly"
              ],
              "id": "run.namespaces.instances.list",
              "flatPath": "apis/run.googleapis.com/v1/namespaces/{namespacesId}/instances",
              "response": {
                "$ref": "ListInstancesResponse"
              },
              "httpMethod": "GET"
            },
            "start": {
              "httpMethod": "POST",
              "description": "Start an Instance which has been stopped.",
              "parameterOrder": [
                "name"
              ],
              "id": "run.namespaces.instances.start",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/run"
              ],
              "flatPath": "apis/run.googleapis.com/v1/namespaces/{namespacesId}/instances/{instancesId}:start",
              "response": {
                "$ref": "Instance"
              },
              "request": {
                "$ref": "StartInstanceRequest"
              },
              "path": "apis/run.googleapis.com/v1/{+name}:start",
              "parameters": {
                "name": {
                  "description": "Required. The name of the Instance to run. Replace {namespace} with the project ID or number. It takes the form namespaces/{namespace}. For example: namespaces/PROJECT_ID",
                  "pattern": "^namespaces/[^/]+/instances/[^/]+$",
                  "location": "path",
                  "type": "string",
                  "required": true
                }
              }
            },
            "create": {
              "request": {
                "$ref": "Instance"
              },
              "flatPath": "apis/run.googleapis.com/v1/namespaces/{namespacesId}/instances",
              "response": {
                "$ref": "Instance"
              },
              "httpMethod": "POST",
              "parameterOrder": [
                "parent"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/run"
              ],
              "parameters": {
                "parent": {
                  "type": "string",
                  "pattern": "^namespaces/[^/]+$",
                  "location": "path",
                  "required": true,
                  "description": "Required. The resource's parent. In Cloud Run, it may be one of the following: * `{project_id_or_number}` * `namespaces/{project_id_or_number}` * `namespaces/{project_id_or_number}/instances` * `projects/{project_id_or_number}/locations/{region}` * `projects/{project_id_or_number}/regions/{region}` Parent resource namespace."
                },
                "dryRun": {
                  "type": "string",
                  "location": "query",
                  "description": "Optional. Indicates that the server should validate the request and populate default values without persisting the request. Supported values: `all`"
                }
              },
              "id": "run.namespaces.instances.create",
              "path": "apis/run.googleapis.com/v1/{+parent}/instances",
              "description": "Create an Instance."
            },
            "get": {
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/run",
                "https://www.googleapis.com/auth/run.readonly"
              ],
              "flatPath": "apis/run.googleapis.com/v1/namespaces/{namespacesId}/instances/{instancesId}",
              "response": {
                "$ref": "Instance"
              },
              "parameters": {
                "name": {
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "pattern": "^namespaces/[^/]+/instances/[^/]+$",
                  "description": "Required. The fully qualified name of the Instance to retrieve. It can be any of the following forms: * `namespaces/{project_id_or_number}/instances/{instance_name}` (only when the `endpoint` is regional) * `projects/{project_id_or_number}/locations/{region}/instances/{instance_name}` * `projects/{project_id_or_number}/regions/{region}/instances/{instance_name}` Parent resource namespace."
                }
              },
              "id": "run.namespaces.instances.get",
              "description": "Get an Instance.",
              "path": "apis/run.googleapis.com/v1/{+name}"
            },
            "delete": {
              "description": "Delete an Instance.",
              "flatPath": "apis/run.googleapis.com/v1/namespaces/{namespacesId}/instances/{instancesId}",
              "response": {
                "$ref": "Status"
              },
              "httpMethod": "DELETE",
              "parameters": {
                "name": {
                  "type": "string",
                  "description": "Required. The fully qualified name of the Instance to delete. It can be any of the following forms: * `namespaces/{project_id_or_number}/instances/{instance_name}` (only when the `endpoint` is regional) * `projects/{project_id_or_number}/locations/{region}/instances/{instance_name}` * `projects/{project_id_or_number}/regions/{region}/instances/{instance_name}` Parent resource namespace.",
                  "location": "path",
                  "pattern": "^namespaces/[^/]+/instances/[^/]+$",
                  "required": true
                },
                "apiVersion": {
                  "description": "Optional. Cloud Run currently ignores this parameter.",
                  "type": "string",
                  "location": "query"
                },
                "kind": {
                  "description": "Optional. Cloud Run currently ignores this parameter.",
                  "type": "string",
                  "location": "query"
                },
                "propagationPolicy": {
                  "description": "Optional. Specifies the propagation policy of delete. Cloud Run currently ignores this setting, and deletes in the background. Please see kubernetes.io/docs/concepts/workloads/controllers/garbage-collection/ for more information.",
                  "location": "query",
                  "type": "string"
                },
                "dryRun": {
                  "location": "query",
                  "description": "Optional. Indicates that the server should validate the request and populate default values without persisting the request. Supported values: `all`",
                  "type": "string"
                }
              },
              "path": "apis/run.googleapis.com/v1/{+name}",
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/run"
              ],
              "id": "run.namespaces.instances.delete"
            },
            "replaceInstance": {
              "request": {
                "$ref": "Instance"
              },
              "flatPath": "apis/run.googleapis.com/v1/namespaces/{namespacesId}/instances/{instancesId}",
              "response": {
                "$ref": "Instance"
              },
              "parameters": {
                "dryRun": {
                  "location": "query",
                  "type": "string",
                  "description": "Optional. Indicates that the server should validate the request and populate default values without persisting the request. Supported values: `all`"
                },
                "name": {
                  "description": "Required. The fully qualified name of the Instance being replaced. It can be any of the following forms: * `namespaces/{project_id_or_number}/instances/{instance_name}` (only when the `endpoint` is regional) * `projects/{project_id_or_number}/locations/{region}/instances/{instance_name}` * `projects/{project_id_or_number}/regions/{region}/instances/{instance_name}` Parent resource namespace.",
                  "required": true,
                  "type": "string",
                  "pattern": "^namespaces/[^/]+/instances/[^/]+$",
                  "location": "path"
                }
              },
              "path": "apis/run.googleapis.com/v1/{+name}",
              "description": "Replace an Instance.",
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "PUT",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/run"
              ],
              "id": "run.namespaces.instances.replaceInstance"
            }
          }
        },
        "authorizeddomains": {
          "methods": {
            "list": {
              "flatPath": "apis/domains.cloudrun.com/v1/namespaces/{namespacesId}/authorizeddomains",
              "response": {
                "$ref": "ListAuthorizedDomainsResponse"
              },
              "httpMethod": "GET",
              "path": "apis/domains.cloudrun.com/v1/{+parent}/authorizeddomains",
              "parameterOrder": [
                "parent"
              ],
              "parameters": {
                "parent": {
                  "pattern": "^namespaces/[^/]+$",
                  "required": true,
                  "description": "Name of the parent Project resource. Example: `projects/myproject`.",
                  "type": "string",
                  "location": "path"
                },
                "pageSize": {
                  "description": "Maximum results to return per page.",
                  "format": "int32",
                  "type": "integer",
                  "location": "query"
                },
                "pageToken": {
                  "type": "string",
                  "location": "query",
                  "description": "Continuation token for fetching the next page of results."
                }
              },
              "id": "run.namespaces.authorizeddomains.list",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/run",
                "https://www.googleapis.com/auth/run.readonly"
              ],
              "description": "List authorized domains."
            }
          }
        },
        "jobs": {
          "methods": {
            "replaceJob": {
              "parameters": {
                "dryRun": {
                  "location": "query",
                  "description": "Optional. Indicates that the server should validate the request and populate default values without persisting the request. Supported values: `all`",
                  "type": "string"
                },
                "name": {
                  "location": "path",
                  "type": "string",
                  "description": "Required. The name of the job being replaced. Replace {namespace} with the project ID or number. It takes the form namespaces/{namespace}. For example: namespaces/PROJECT_ID",
                  "pattern": "^namespaces/[^/]+/jobs/[^/]+$",
                  "required": true
                }
              },
              "flatPath": "apis/run.googleapis.com/v1/namespaces/{namespacesId}/jobs/{jobsId}",
              "response": {
                "$ref": "Job"
              },
              "id": "run.namespaces.jobs.replaceJob",
              "request": {
                "$ref": "Job"
              },
              "httpMethod": "PUT",
              "description": "Replace a job. Only the spec and metadata labels and annotations are modifiable. After the Replace request, Cloud Run will work to make the 'status' match the requested 'spec'. May provide metadata.resourceVersion to enforce update from last read for optimistic concurrency control.",
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/run"
              ],
              "path": "apis/run.googleapis.com/v1/{+name}"
            },
            "delete": {
              "id": "run.namespaces.jobs.delete",
              "httpMethod": "DELETE",
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/run"
              ],
              "parameters": {
                "dryRun": {
                  "location": "query",
                  "description": "Optional. Indicates that the server should validate the request and populate default values without persisting the request. Supported values: `all`",
                  "type": "string"
                },
                "propagationPolicy": {
                  "type": "string",
                  "description": "Optional. Specifies the propagation policy of delete. Cloud Run currently ignores this setting, and deletes in the background. Please see kubernetes.io/docs/concepts/workloads/controllers/garbage-collection/ for more information.",
                  "location": "query"
                },
                "apiVersion": {
                  "description": "Optional. Cloud Run currently ignores this parameter.",
                  "location": "query",
                  "type": "string"
                },
                "kind": {
                  "description": "Optional. Cloud Run currently ignores this parameter.",
                  "location": "query",
                  "type": "string"
                },
                "name": {
                  "pattern": "^namespaces/[^/]+/jobs/[^/]+$",
                  "required": true,
                  "type": "string",
                  "description": "Required. The name of the job to delete. Replace {namespace} with the project ID or number. It takes the form namespaces/{namespace}. For example: namespaces/PROJECT_ID",
                  "location": "path"
                }
              },
              "description": "Delete a job.",
              "flatPath": "apis/run.googleapis.com/v1/namespaces/{namespacesId}/jobs/{jobsId}",
              "response": {
                "$ref": "Status"
              },
              "path": "apis/run.googleapis.com/v1/{+name}"
            },
            "run": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/run"
              ],
              "flatPath": "apis/run.googleapis.com/v1/namespaces/{namespacesId}/jobs/{jobsId}:run",
              "response": {
                "$ref": "Execution"
              },
              "id": "run.namespaces.jobs.run",
              "parameters": {
                "name": {
                  "required": true,
                  "description": "Required. The name of the job to run. Replace {namespace} with the project ID or number. It takes the form namespaces/{namespace}. For example: namespaces/PROJECT_ID",
                  "pattern": "^namespaces/[^/]+/jobs/[^/]+$",
                  "location": "path",
                  "type": "string"
                }
              },
              "description": "Trigger creation of a new execution of this job.",
              "request": {
                "$ref": "RunJobRequest"
              },
              "httpMethod": "POST",
              "path": "apis/run.googleapis.com/v1/{+name}:run",
              "parameterOrder": [
                "name"
              ]
            },
            "create": {
              "parameters": {
                "parent": {
                  "pattern": "^namespaces/[^/]+$",
                  "required": true,
                  "description": "Required. The namespace in which the job should be created. Replace {namespace} with the project ID or number. It takes the form namespaces/{namespace}. For example: namespaces/PROJECT_ID",
                  "type": "string",
                  "location": "path"
                },
                "dryRun": {
                  "description": "Optional. Indicates that the server should validate the request and populate default values without persisting the request. Supported values: `all`",
                  "location": "query",
                  "type": "string"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/run"
              ],
              "request": {
                "$ref": "Job"
              },
              "id": "run.namespaces.jobs.create",
              "path": "apis/run.googleapis.com/v1/{+parent}/jobs",
              "parameterOrder": [
                "parent"
              ],
              "description": "Create a job.",
              "flatPath": "apis/run.googleapis.com/v1/namespaces/{namespacesId}/jobs",
              "response": {
                "$ref": "Job"
              },
              "httpMethod": "POST"
            },
            "list": {
              "httpMethod": "GET",
              "parameterOrder": [
                "parent"
              ],
              "flatPath": "apis/run.googleapis.com/v1/namespaces/{namespacesId}/jobs",
              "response": {
                "$ref": "ListJobsResponse"
              },
              "path": "apis/run.googleapis.com/v1/{+parent}/jobs",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/run",
                "https://www.googleapis.com/auth/run.readonly"
              ],
              "description": "List jobs. Results are sorted by creation time, descending.",
              "parameters": {
                "includeUninitialized": {
                  "location": "query",
                  "description": "Optional. Not supported by Cloud Run.",
                  "type": "boolean"
                },
                "labelSelector": {
                  "location": "query",
                  "description": "Optional. Allows to filter resources based on a label. Supported operations are =, !=, exists, in, and notIn.",
                  "type": "string"
                },
                "parent": {
                  "required": true,
                  "description": "Required. The namespace from which the jobs should be listed. Replace {namespace} with the project ID or number. It takes the form namespaces/{namespace}. For example: namespaces/PROJECT_ID",
                  "pattern": "^namespaces/[^/]+$",
                  "location": "path",
                  "type": "string"
                },
                "watch": {
                  "location": "query",
                  "description": "Optional. Not supported by Cloud Run.",
                  "type": "boolean"
                },
                "resourceVersion": {
                  "location": "query",
                  "type": "string",
                  "description": "Optional. Not supported by Cloud Run."
                },
                "continue": {
                  "description": "Optional. Optional encoded string to continue paging.",
                  "location": "query",
                  "type": "string"
                },
                "fieldSelector": {
                  "type": "string",
                  "description": "Optional. Not supported by Cloud Run.",
                  "location": "query"
                },
                "limit": {
                  "format": "int32",
                  "type": "integer",
                  "location": "query",
                  "description": "Optional. The maximum number of records that should be returned."
                }
              },
              "id": "run.namespaces.jobs.list"
            },
            "get": {
              "description": "Get information about a job.",
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/run",
                "https://www.googleapis.com/auth/run.readonly"
              ],
              "path": "apis/run.googleapis.com/v1/{+name}",
              "parameters": {
                "name": {
                  "required": true,
                  "pattern": "^namespaces/[^/]+/jobs/[^/]+$",
                  "location": "path",
                  "type": "string",
                  "description": "Required. The name of the job to retrieve. It takes the form namespaces/{namespace}/jobs/{job_name} and the `endpoint` must be regional. Replace {namespace} with the project ID or number."
                }
              },
              "flatPath": "apis/run.googleapis.com/v1/namespaces/{namespacesId}/jobs/{jobsId}",
              "response": {
                "$ref": "Job"
              },
              "httpMethod": "GET",
              "id": "run.namespaces.jobs.get"
            }
          }
        },
        "workerpools": {
          "methods": {
            "replaceWorkerPool": {
              "parameters": {
                "dryRun": {
                  "location": "query",
                  "description": "Indicates that the server should validate the request and populate default values without persisting the request. Supported values: `all`",
                  "type": "string"
                },
                "name": {
                  "type": "string",
                  "required": true,
                  "location": "path",
                  "description": "Required. The fully qualified name of the worker pool to replace. It can be any of the following forms: * `namespaces/{project_id_or_number}/workerpools/{worker_pool_name}` (only when the `endpoint` is regional) * `projects/{project_id_or_number}/locations/{region}/workerpools/{worker_pool_name}` * `projects/{project_id_or_number}/regions/{region}/workerpools/{worker_pool_name}`",
                  "pattern": "^namespaces/[^/]+/workerpools/[^/]+$"
                }
              },
              "request": {
                "$ref": "WorkerPool"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/run"
              ],
              "parameterOrder": [
                "name"
              ],
              "id": "run.namespaces.workerpools.replaceWorkerPool",
              "flatPath": "apis/run.googleapis.com/v1/namespaces/{namespacesId}/workerpools/{workerpoolsId}",
              "response": {
                "$ref": "WorkerPool"
              },
              "path": "apis/run.googleapis.com/v1/{+name}",
              "description": "Replaces a worker pool. Only the spec and metadata labels and annotations are modifiable. After the Update request, Cloud Run will work to make the 'status' match the requested 'spec'. May provide metadata.resourceVersion to enforce update from last read for optimistic concurrency control.",
              "httpMethod": "PUT"
            },
            "delete": {
              "description": "Deletes the provided worker pool. This will cause the WorkerPool to stop all instances and will delete all associated WorkerPoolRevisions.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/run"
              ],
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "required": true,
                  "description": "Required. The fully qualified name of the worker pool to delete. It can be any of the following forms: * `namespaces/{project_id_or_number}/workerpools/{worker_pool_name}` (only when the `endpoint` is regional) * `projects/{project_id_or_number}/locations/{region}/workerpools/{worker_pool_name}` * `projects/{project_id_or_number}/regions/{region}/workerpools/{worker_pool_name}`",
                  "pattern": "^namespaces/[^/]+/workerpools/[^/]+$",
                  "type": "string",
                  "location": "path"
                },
                "dryRun": {
                  "type": "string",
                  "location": "query",
                  "description": "Indicates that the server should validate the request and populate default values without persisting the request. Supported values: `all`"
                }
              },
              "flatPath": "apis/run.googleapis.com/v1/namespaces/{namespacesId}/workerpools/{workerpoolsId}",
              "response": {
                "$ref": "Status"
              },
              "httpMethod": "DELETE",
              "path": "apis/run.googleapis.com/v1/{+name}",
              "id": "run.namespaces.workerpools.delete"
            },
            "get": {
              "parameterOrder": [
                "name"
              ],
              "path": "apis/run.googleapis.com/v1/{+name}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/run",
                "https://www.googleapis.com/auth/run.readonly"
              ],
              "parameters": {
                "name": {
                  "pattern": "^namespaces/[^/]+/workerpools/[^/]+$",
                  "description": "Required. The fully qualified name of the worker pool to retrieve. It can be any of the following forms: * `namespaces/{project_id_or_number}/workerpools/{worker_pool_name}` (only when the `endpoint` is regional) * `projects/{project_id_or_number}/locations/{region}/workerpools/{worker_pool_name}` * `projects/{project_id_or_number}/regions/{region}/workerpools/{worker_pool_name}`",
                  "location": "path",
                  "type": "string",
                  "required": true
                }
              },
              "description": "Gets information about a worker pool.",
              "flatPath": "apis/run.googleapis.com/v1/namespaces/{namespacesId}/workerpools/{workerpoolsId}",
              "response": {
                "$ref": "WorkerPool"
              },
              "id": "run.namespaces.workerpools.get",
              "httpMethod": "GET"
            },
            "create": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/run"
              ],
              "request": {
                "$ref": "WorkerPool"
              },
              "id": "run.namespaces.workerpools.create",
              "parameterOrder": [
                "parent"
              ],
              "path": "apis/run.googleapis.com/v1/{+parent}/workerpools",
              "httpMethod": "POST",
              "parameters": {
                "dryRun": {
                  "description": "Indicates that the server should validate the request and populate default values without persisting the request. Supported values: `all`",
                  "type": "string",
                  "location": "query"
                },
                "parent": {
                  "type": "string",
                  "required": true,
                  "pattern": "^namespaces/[^/]+$",
                  "description": "Required. The resource's parent. In Cloud Run, it may be one of the following: * `{project_id_or_number}` * `namespaces/{project_id_or_number}` * `namespaces/{project_id_or_number}/workerpools` * `projects/{project_id_or_number}/locations/{region}` * `projects/{project_id_or_number}/regions/{region}`",
                  "location": "path"
                }
              },
              "flatPath": "apis/run.googleapis.com/v1/namespaces/{namespacesId}/workerpools",
              "response": {
                "$ref": "WorkerPool"
              },
              "description": "Creates a new WorkerPool. WorkerPool creation will trigger a new deployment. Use GetWorkerPool, and check worker_pool.status to determine if the WorkerPool is ready."
            },
            "list": {
              "parameters": {
                "parent": {
                  "description": "Required. The parent from where the resources should be listed. In Cloud Run, it may be one of the following: * `{project_id_or_number}` * `namespaces/{project_id_or_number}` * `namespaces/{project_id_or_number}/workerpools` * `projects/{project_id_or_number}/locations/{region}` * `projects/{project_id_or_number}/regions/{region}`",
                  "pattern": "^namespaces/[^/]+$",
                  "location": "path",
                  "type": "string",
                  "required": true
                },
                "labelSelector": {
                  "type": "string",
                  "location": "query",
                  "description": "=, !=, exists, in, and notIn."
                },
                "continue": {
                  "location": "query",
                  "description": "Encoded string to continue paging.",
                  "type": "string"
                },
                "limit": {
                  "location": "query",
                  "description": "The maximum number of records that should be returned.",
                  "format": "int32",
                  "type": "integer"
                }
              },
              "flatPath": "apis/run.googleapis.com/v1/namespaces/{namespacesId}/workerpools",
              "response": {
                "$ref": "ListWorkerPoolsResponse"
              },
              "description": "Lists worker pools for the given project and region. Results are sorted by creation time, descending.",
              "parameterOrder": [
                "parent"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/run",
                "https://www.googleapis.com/auth/run.readonly"
              ],
              "path": "apis/run.googleapis.com/v1/{+parent}/workerpools",
              "id": "run.namespaces.workerpools.list",
              "httpMethod": "GET"
            }
          }
        },
        "configurations": {
          "methods": {
            "list": {
              "flatPath": "apis/serving.knative.dev/v1/namespaces/{namespacesId}/configurations",
              "response": {
                "$ref": "ListConfigurationsResponse"
              },
              "path": "apis/serving.knative.dev/v1/{+parent}/configurations",
              "parameters": {
                "limit": {
                  "type": "integer",
                  "location": "query",
                  "description": "Optional. The maximum number of the records that should be returned.",
                  "format": "int32"
                },
                "labelSelector": {
                  "location": "query",
                  "type": "string",
                  "description": "Allows to filter resources based on a label. Supported operations are =, !=, exists, in, and notIn."
                },
                "watch": {
                  "location": "query",
                  "description": "Not supported by Cloud Run.",
                  "type": "boolean"
                },
                "resourceVersion": {
                  "description": "Not supported by Cloud Run.",
                  "location": "query",
                  "type": "string"
                },
                "includeUninitialized": {
                  "type": "boolean",
                  "description": "Not supported by Cloud Run.",
                  "location": "query"
                },
                "parent": {
                  "pattern": "^namespaces/[^/]+$",
                  "required": true,
                  "description": "The namespace from which the configurations should be listed. For Cloud Run, replace {namespace_id} with the project ID or number.",
                  "type": "string",
                  "location": "path"
                },
                "continue": {
                  "description": "Optional. Encoded string to continue paging.",
                  "type": "string",
                  "location": "query"
                },
                "fieldSelector": {
                  "location": "query",
                  "type": "string",
                  "description": "Not supported by Cloud Run."
                }
              },
              "description": "List configurations. Results are sorted by creation time, descending.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/run",
                "https://www.googleapis.com/auth/run.readonly"
              ],
              "httpMethod": "GET",
              "parameterOrder": [
                "parent"
              ],
              "id": "run.namespaces.configurations.list"
            },
            "get": {
              "httpMethod": "GET",
              "description": "Get information about a configuration.",
              "flatPath": "apis/serving.knative.dev/v1/namespaces/{namespacesId}/configurations/{configurationsId}",
              "response": {
                "$ref": "Configuration"
              },
              "path": "apis/serving.knative.dev/v1/{+name}",
              "id": "run.namespaces.configurations.get",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/run",
                "https://www.googleapis.com/auth/run.readonly"
              ],
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "location": "path",
                  "description": "The name of the configuration to retrieve. For Cloud Run, replace {namespace_id} with the project ID or number.",
                  "pattern": "^namespaces/[^/]+/configurations/[^/]+$",
                  "required": true,
                  "type": "string"
                }
              }
            }
          }
        },
        "domainmappings": {
          "methods": {
            "get": {
              "id": "run.namespaces.domainmappings.get",
              "httpMethod": "GET",
              "parameterOrder": [
                "name"
              ],
              "description": "Get information about a domain mapping.",
              "path": "apis/domains.cloudrun.com/v1/{+name}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/run",
                "https://www.googleapis.com/auth/run.readonly"
              ],
              "parameters": {
                "name": {
                  "type": "string",
                  "description": "Required. The name of the domain mapping to retrieve. For Cloud Run (fully managed), replace {namespace} with the project ID or number. It takes the form namespaces/{namespace}. For example: namespaces/PROJECT_ID",
                  "required": true,
                  "location": "path",
                  "pattern": "^namespaces/[^/]+/domainmappings/[^/]+$"
                }
              },
              "flatPath": "apis/domains.cloudrun.com/v1/namespaces/{namespacesId}/domainmappings/{domainmappingsId}",
              "response": {
                "$ref": "DomainMapping"
              }
            },
            "delete": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/run"
              ],
              "description": "Delete a domain mapping.",
              "httpMethod": "DELETE",
              "id": "run.namespaces.domainmappings.delete",
              "parameters": {
                "propagationPolicy": {
                  "type": "string",
                  "description": "Specifies the propagation policy of delete. Cloud Run currently ignores this setting, and deletes in the background. Please see kubernetes.io/docs/concepts/architecture/garbage-collection/ for more information.",
                  "location": "query"
                },
                "apiVersion": {
                  "description": "Cloud Run currently ignores this parameter.",
                  "location": "query",
                  "type": "string"
                },
                "dryRun": {
                  "description": "Indicates that the server should validate the request and populate default values without persisting the request. Supported values: `all`",
                  "location": "query",
                  "type": "string"
                },
                "kind": {
                  "type": "string",
                  "description": "Cloud Run currently ignores this parameter.",
                  "location": "query"
                },
                "name": {
                  "description": "Required. The name of the domain mapping to delete. For Cloud Run (fully managed), replace {namespace} with the project ID or number. It takes the form namespaces/{namespace}. For example: namespaces/PROJECT_ID",
                  "location": "path",
                  "type": "string",
                  "pattern": "^namespaces/[^/]+/domainmappings/[^/]+$",
                  "required": true
                }
              },
              "path": "apis/domains.cloudrun.com/v1/{+name}",
              "parameterOrder": [
                "name"
              ],
              "flatPath": "apis/domains.cloudrun.com/v1/namespaces/{namespacesId}/domainmappings/{domainmappingsId}",
              "response": {
                "$ref": "Status"
              }
            },
            "list": {
              "id": "run.namespaces.domainmappings.list",
              "parameterOrder": [
                "parent"
              ],
              "parameters": {
                "watch": {
                  "description": "Flag that indicates that the client expects to watch this resource as well. Not currently used by Cloud Run.",
                  "location": "query",
                  "type": "boolean"
                },
                "fieldSelector": {
                  "location": "query",
                  "type": "string",
                  "description": "Allows to filter resources based on a specific value for a field name. Send this in a query string format. i.e. 'metadata.name%3Dlorem'. Not currently used by Cloud Run."
                },
                "limit": {
                  "location": "query",
                  "description": "Optional. The maximum number of records that should be returned.",
                  "format": "int32",
                  "type": "integer"
                },
                "includeUninitialized": {
                  "description": "Not currently used by Cloud Run.",
                  "type": "boolean",
                  "location": "query"
                },
                "labelSelector": {
                  "description": "Allows to filter resources based on a label. Supported operations are =, !=, exists, in, and notIn.",
                  "location": "query",
                  "type": "string"
                },
                "resourceVersion": {
                  "description": "The baseline resource version from which the list or watch operation should start. Not currently used by Cloud Run.",
                  "location": "query",
                  "type": "string"
                },
                "continue": {
                  "location": "query",
                  "type": "string",
                  "description": "Optional. Encoded string to continue paging."
                },
                "parent": {
                  "description": "Required. The namespace from which the domain mappings should be listed. For Cloud Run (fully managed), replace {namespace} with the project ID or number. It takes the form namespaces/{namespace}. For example: namespaces/PROJECT_ID",
                  "location": "path",
                  "type": "string",
                  "pattern": "^namespaces/[^/]+$",
                  "required": true
                }
              },
              "flatPath": "apis/domains.cloudrun.com/v1/namespaces/{namespacesId}/domainmappings",
              "response": {
                "$ref": "ListDomainMappingsResponse"
              },
              "path": "apis/domains.cloudrun.com/v1/{+parent}/domainmappings",
              "httpMethod": "GET",
              "description": "List all domain mappings.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/run",
                "https://www.googleapis.com/auth/run.readonly"
              ]
            },
            "create": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/run"
              ],
              "parameters": {
                "dryRun": {
                  "description": "Indicates that the server should validate the request and populate default values without persisting the request. Supported values: `all`",
                  "location": "query",
                  "type": "string"
                },
                "parent": {
                  "pattern": "^namespaces/[^/]+$",
                  "required": true,
                  "description": "Required. The namespace in which the domain mapping should be created. For Cloud Run (fully managed), replace {namespace} with the project ID or number. It takes the form namespaces/{namespace}. For example: namespaces/PROJECT_ID",
                  "type": "string",
                  "location": "path"
                }
              },
              "description": "Create a new domain mapping.",
              "request": {
                "$ref": "DomainMapping"
              },
              "path": "apis/domains.cloudrun.com/v1/{+parent}/domainmappings",
              "parameterOrder": [
                "parent"
              ],
              "httpMethod": "POST",
              "flatPath": "apis/domains.cloudrun.com/v1/namespaces/{namespacesId}/domainmappings",
              "response": {
                "$ref": "DomainMapping"
              },
              "id": "run.namespaces.domainmappings.create"
            }
          }
        }
      }
    },
    "projects": {
      "resources": {
        "authorizeddomains": {
          "methods": {
            "list": {
              "httpMethod": "GET",
              "id": "run.projects.authorizeddomains.list",
              "parameterOrder": [
                "parent"
              ],
              "path": "v1/{+parent}/authorizeddomains",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/run",
                "https://www.googleapis.com/auth/run.readonly"
              ],
              "flatPath": "v1/projects/{projectsId}/authorizeddomains",
              "response": {
                "$ref": "ListAuthorizedDomainsResponse"
              },
              "description": "List authorized domains.",
              "parameters": {
                "parent": {
                  "pattern": "^projects/[^/]+$",
                  "location": "path",
                  "type": "string",
                  "description": "Name of the parent Project resource. Example: `projects/myproject`.",
                  "required": true
                },
                "pageSize": {
                  "description": "Maximum results to return per page.",
                  "type": "integer",
[...]
