{
  "rootUrl": "https://run.googleapis.com/",
  "discoveryVersion": "v1",
  "version_module": true,
  "documentationLink": "https://cloud.google.com/run/",
  "fullyEncodeReservedExpansion": true,
  "endpoints": [
    {
      "endpointUrl": "https://africa-south1-run.googleapis.com/",
      "description": "Locational Endpoint",
      "location": "africa-south1"
    },
    {
      "endpointUrl": "https://asia-east1-run.googleapis.com/",
      "description": "Locational Endpoint",
      "location": "asia-east1"
    },
    {
      "description": "Locational Endpoint",
      "endpointUrl": "https://asia-east2-run.googleapis.com/",
      "location": "asia-east2"
    },
    {
      "location": "asia-northeast1",
      "description": "Locational Endpoint",
      "endpointUrl": "https://asia-northeast1-run.googleapis.com/"
    },
    {
      "location": "asia-northeast2",
      "description": "Locational Endpoint",
      "endpointUrl": "https://asia-northeast2-run.googleapis.com/"
    },
    {
      "location": "asia-northeast3",
      "endpointUrl": "https://asia-northeast3-run.googleapis.com/",
      "description": "Locational Endpoint"
    },
    {
      "endpointUrl": "https://asia-south1-run.googleapis.com/",
      "location": "asia-south1",
      "description": "Locational Endpoint"
    },
    {
      "description": "Locational Endpoint",
      "endpointUrl": "https://asia-south2-run.googleapis.com/",
      "location": "asia-south2"
    },
    {
      "endpointUrl": "https://asia-southeast1-run.googleapis.com/",
      "description": "Locational Endpoint",
      "location": "asia-southeast1"
    },
    {
      "location": "asia-southeast2",
      "endpointUrl": "https://asia-southeast2-run.googleapis.com/",
      "description": "Locational Endpoint"
    },
    {
      "location": "asia-southeast3",
      "description": "Locational Endpoint",
      "endpointUrl": "https://asia-southeast3-run.googleapis.com/"
    },
    {
      "location": "asia-southeast4",
      "endpointUrl": "https://asia-southeast4-run.googleapis.com/",
      "description": "Locational Endpoint"
    },
    {
      "endpointUrl": "https://australia-southeast1-run.googleapis.com/",
      "description": "Locational Endpoint",
      "location": "australia-southeast1"
    },
    {
      "description": "Locational Endpoint",
      "endpointUrl": "https://australia-southeast2-run.googleapis.com/",
      "location": "australia-southeast2"
    },
    {
      "location": "europe-central2",
      "description": "Locational Endpoint",
      "endpointUrl": "https://europe-central2-run.googleapis.com/"
    },
    {
      "location": "europe-north1",
      "endpointUrl": "https://europe-north1-run.googleapis.com/",
      "description": "Locational Endpoint"
    },
    {
      "location": "europe-north2",
      "description": "Locational Endpoint",
      "endpointUrl": "https://europe-north2-run.googleapis.com/"
    },
    {
      "description": "Locational Endpoint",
      "endpointUrl": "https://europe-southwest1-run.googleapis.com/",
      "location": "europe-southwest1"
    },
    {
      "description": "Locational Endpoint",
      "location": "europe-west1",
      "endpointUrl": "https://europe-west1-run.googleapis.com/"
    },
    {
      "endpointUrl": "https://europe-west10-run.googleapis.com/",
      "description": "Locational Endpoint",
      "location": "europe-west10"
    },
    {
      "endpointUrl": "https://europe-west12-run.googleapis.com/",
      "description": "Locational Endpoint",
      "location": "europe-west12"
    },
    {
      "location": "europe-west15",
      "description": "Locational Endpoint",
      "endpointUrl": "https://europe-west15-run.googleapis.com/"
    },
    {
      "location": "europe-west2",
      "description": "Locational Endpoint",
      "endpointUrl": "https://europe-west2-run.googleapis.com/"
    },
    {
      "endpointUrl": "https://europe-west3-run.googleapis.com/",
      "description": "Locational Endpoint",
      "location": "europe-west3"
    },
    {
      "location": "europe-west4",
      "description": "Locational Endpoint",
      "endpointUrl": "https://europe-west4-run.googleapis.com/"
    },
    {
      "endpointUrl": "https://europe-west6-run.googleapis.com/",
      "description": "Locational Endpoint",
      "location": "europe-west6"
    },
    {
      "location": "europe-west8",
      "endpointUrl": "https://europe-west8-run.googleapis.com/",
      "description": "Locational Endpoint"
    },
    {
      "description": "Locational Endpoint",
      "endpointUrl": "https://europe-west9-run.googleapis.com/",
      "location": "europe-west9"
    },
    {
      "location": "me-central1",
      "description": "Locational Endpoint",
      "endpointUrl": "https://me-central1-run.googleapis.com/"
    },
    {
      "location": "me-central2",
      "endpointUrl": "https://me-central2-run.googleapis.com/",
      "description": "Locational Endpoint"
    },
    {
      "location": "me-west1",
      "description": "Locational Endpoint",
      "endpointUrl": "https://me-west1-run.googleapis.com/"
    },
    {
      "endpointUrl": "https://northamerica-northeast1-run.googleapis.com/",
      "description": "Locational Endpoint",
      "location": "northamerica-northeast1"
    },
    {
      "description": "Locational Endpoint",
      "endpointUrl": "https://northamerica-northeast2-run.googleapis.com/",
      "location": "northamerica-northeast2"
    },
    {
      "location": "northamerica-south1",
      "description": "Locational Endpoint",
      "endpointUrl": "https://northamerica-south1-run.googleapis.com/"
    },
    {
      "location": "southamerica-east1",
      "endpointUrl": "https://southamerica-east1-run.googleapis.com/",
      "description": "Locational Endpoint"
    },
    {
      "description": "Locational Endpoint",
      "endpointUrl": "https://southamerica-west1-run.googleapis.com/",
      "location": "southamerica-west1"
    },
    {
      "location": "us-central1",
      "description": "Locational Endpoint",
      "endpointUrl": "https://us-central1-run.googleapis.com/"
    },
    {
      "description": "Locational Endpoint",
      "endpointUrl": "https://us-central2-run.googleapis.com/",
      "location": "us-central2"
    },
    {
      "endpointUrl": "https://us-east1-run.googleapis.com/",
      "description": "Locational Endpoint",
      "location": "us-east1"
    },
    {
      "location": "us-east4",
      "endpointUrl": "https://us-east4-run.googleapis.com/",
      "description": "Locational Endpoint"
    },
    {
      "description": "Locational Endpoint",
      "location": "us-east5",
      "endpointUrl": "https://us-east5-run.googleapis.com/"
    },
    {
      "location": "us-east7",
      "endpointUrl": "https://us-east7-run.googleapis.com/",
      "description": "Locational Endpoint"
    },
    {
      "description": "Locational Endpoint",
      "endpointUrl": "https://us-south1-run.googleapis.com/",
      "location": "us-south1"
    },
    {
      "description": "Locational Endpoint",
      "endpointUrl": "https://us-west1-run.googleapis.com/",
      "location": "us-west1"
    },
    {
      "endpointUrl": "https://us-west2-run.googleapis.com/",
      "description": "Locational Endpoint",
      "location": "us-west2"
    },
    {
      "location": "us-west3",
      "description": "Locational Endpoint",
      "endpointUrl": "https://us-west3-run.googleapis.com/"
    },
    {
      "endpointUrl": "https://us-west4-run.googleapis.com/",
      "description": "Locational Endpoint",
      "location": "us-west4"
    },
    {
      "location": "us-west8",
      "endpointUrl": "https://us-west8-run.googleapis.com/",
      "description": "Locational Endpoint"
    },
    {
      "location": "africa-south1",
      "description": "Regional Endpoint",
      "endpointUrl": "https://run.africa-south1.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://run.asia-east1.rep.googleapis.com/",
      "location": "asia-east1"
    },
    {
      "endpointUrl": "https://run.asia-east2.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "asia-east2"
    },
    {
      "location": "asia-northeast1",
      "endpointUrl": "https://run.asia-northeast1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "asia-northeast2",
      "description": "Regional Endpoint",
      "endpointUrl": "https://run.asia-northeast2.rep.googleapis.com/"
    },
    {
      "location": "asia-northeast3",
      "endpointUrl": "https://run.asia-northeast3.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "asia-south1",
      "description": "Regional Endpoint",
      "endpointUrl": "https://run.asia-south1.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://run.asia-south2.rep.googleapis.com/",
      "location": "asia-south2",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "location": "asia-southeast1",
      "endpointUrl": "https://run.asia-southeast1.rep.googleapis.com/"
    },
    {
      "location": "asia-southeast2",
      "description": "Regional Endpoint",
      "endpointUrl": "https://run.asia-southeast2.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://run.asia-southeast3.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "asia-southeast3"
    },
    {
      "endpointUrl": "https://run.asia-southeast4.rep.googleapis.com/",
      "location": "asia-southeast4",
      "description": "Regional Endpoint"
    },
    {
      "location": "australia-southeast1",
      "endpointUrl": "https://run.australia-southeast1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://run.australia-southeast2.rep.googleapis.com/",
      "location": "australia-southeast2",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://run.europe-central2.rep.googleapis.com/",
      "location": "europe-central2",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "location": "europe-north1",
      "endpointUrl": "https://run.europe-north1.rep.googleapis.com/"
    },
    {
      "location": "europe-north2",
      "description": "Regional Endpoint",
      "endpointUrl": "https://run.europe-north2.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://run.europe-southwest1.rep.googleapis.com/",
      "location": "europe-southwest1"
    },
    {
      "location": "europe-west1",
      "description": "Regional Endpoint",
      "endpointUrl": "https://run.europe-west1.rep.googleapis.com/"
    },
    {
      "location": "europe-west10",
      "endpointUrl": "https://run.europe-west10.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "europe-west12",
      "endpointUrl": "https://run.europe-west12.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://run.europe-west15.rep.googleapis.com/",
      "location": "europe-west15"
    },
    {
      "location": "europe-west2",
      "description": "Regional Endpoint",
      "endpointUrl": "https://run.europe-west2.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://run.europe-west3.rep.googleapis.com/",
      "location": "europe-west3",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "location": "europe-west4",
      "endpointUrl": "https://run.europe-west4.rep.googleapis.com/"
    },
    {
      "location": "europe-west6",
      "endpointUrl": "https://run.europe-west6.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://run.europe-west8.rep.googleapis.com/",
      "location": "europe-west8"
    },
    {
      "location": "europe-west9",
      "endpointUrl": "https://run.europe-west9.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "me-central1",
      "endpointUrl": "https://run.me-central1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "me-central2",
      "description": "Regional Endpoint",
      "endpointUrl": "https://run.me-central2.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "location": "me-west1",
      "endpointUrl": "https://run.me-west1.rep.googleapis.com/"
    },
    {
      "location": "northamerica-northeast1",
      "description": "Regional Endpoint",
      "endpointUrl": "https://run.northamerica-northeast1.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://run.northamerica-northeast2.rep.googleapis.com/",
      "location": "northamerica-northeast2"
    },
    {
      "location": "northamerica-south1",
      "description": "Regional Endpoint",
      "endpointUrl": "https://run.northamerica-south1.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://run.southamerica-east1.rep.googleapis.com/",
      "location": "southamerica-east1"
    },
    {
      "location": "southamerica-west1",
      "description": "Regional Endpoint",
      "endpointUrl": "https://run.southamerica-west1.rep.googleapis.com/"
    },
    {
      "location": "us-central1",
      "description": "Regional Endpoint",
      "endpointUrl": "https://run.us-central1.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://run.us-central2.rep.googleapis.com/",
      "location": "us-central2",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://run.us-east1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "us-east1"
    },
    {
      "location": "us-east4",
      "description": "Regional Endpoint",
      "endpointUrl": "https://run.us-east4.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://run.us-east5.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "us-east5"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://run.us-east7.rep.googleapis.com/",
      "location": "us-east7"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://run.us-south1.rep.googleapis.com/",
      "location": "us-south1"
    },
    {
      "location": "us-west1",
      "endpointUrl": "https://run.us-west1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "us-west2",
      "endpointUrl": "https://run.us-west2.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://run.us-west3.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "us-west3"
    },
    {
      "endpointUrl": "https://run.us-west4.rep.googleapis.com/",
      "location": "us-west4",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://run.us-west8.rep.googleapis.com/",
      "location": "us-west8"
    }
  ],
  "canonicalName": "Cloud Run",
  "kind": "discovery#restDescription",
  "id": "run:v1",
  "ownerDomain": "google.com",
  "protocol": "rest",
  "title": "Cloud Run Admin API",
  "mtlsRootUrl": "https://run.mtls.googleapis.com/",
  "basePath": "",
  "batchPath": "batch",
  "schemas": {
    "SecretVolumeSource": {
      "id": "SecretVolumeSource",
      "description": "A volume representing a secret stored in Google Secret Manager. The secret's value will be presented as the content of a file whose name is defined in the item path. If no items are defined, the name of the file is the secret_name. The contents of the target Secret's Data field will be presented in a volume as files using the keys in the Data field as the file names.",
      "properties": {
        "defaultMode": {
          "type": "integer",
          "format": "int32",
          "description": "Integer representation of mode bits to use on created files by default. Must be a value between 01 and 0777 (octal). If 0 or not set, it will default to 0444. Directories within the path are not affected by this setting. Notes * Internally, a umask of 0222 will be applied to any non-zero value. * This is an integer representation of the mode bits. So, the octal integer value should look exactly as the chmod numeric notation with a leading zero. Some examples: for chmod 777 (a=rwx), set to 0777 (octal) or 511 (base-10). For chmod 640 (u=rw,g=r), set to 0640 (octal) or 416 (base-10). For chmod 755 (u=rwx,g=rx,o=rx), set to 0755 (octal) or 493 (base-10). * This might be in conflict with other options that affect the file mode, like fsGroup, and the result can be other mode bits set."
        },
        "secretName": {
          "type": "string",
          "description": "The name of the secret in Cloud Secret Manager. By default, the secret is assumed to be in the same project. If the secret is in another project, you must define an alias. An alias definition has the form: :projects//secrets/. If multiple alias definitions are needed, they must be separated by commas. The alias definitions must be set on the run.googleapis.com/secrets annotation. Name of the secret in the container's namespace to use."
        },
        "items": {
          "description": "A list of secret versions to mount in the volume. If no items are specified, the volume will expose a file with the same name as the secret name. The contents of the file will be the data in the latest version of the secret. If items are specified, the key will be used as the version to fetch from Cloud Secret Manager and the path will be the name of the file exposed in the volume. When items are defined, they must specify both a key and a path.",
          "type": "array",
          "items": {
            "$ref": "KeyToPath"
          }
        },
        "optional": {
          "type": "boolean",
          "description": "Not supported by Cloud Run."
        }
      },
      "type": "object"
    },
    "RouteSpec": {
      "type": "object",
      "id": "RouteSpec",
      "properties": {
        "traffic": {
          "items": {
            "$ref": "TrafficTarget"
          },
          "type": "array",
          "description": "Traffic specifies how to distribute traffic over a collection of Knative Revisions and Configurations. Cloud Run currently supports a single configurationName."
        }
      },
      "description": "RouteSpec holds the desired state of the Route (from the client)."
    },
    "ExecutionSpec": {
      "type": "object",
      "properties": {
        "taskCount": {
          "description": "Optional. Specifies the desired number of tasks the execution should run. Setting to 1 means that parallelism is limited to 1 and the success of that task signals the success of the execution. Defaults to 1.",
          "type": "integer",
          "format": "int32"
        },
        "template": {
          "description": "Optional. The template used to create tasks for this execution.",
          "$ref": "TaskTemplateSpec"
        },
        "delayExecution": {
          "type": "boolean",
          "description": "Optional. If true, the system will start the execution within the next 12 hours depending on available capacity."
        },
        "parallelism": {
          "description": "Optional. Specifies the maximum desired number of tasks the execution should run at given time. When the job is run, if this field is 0 or unset, the maximum possible value will be used for that execution. The actual number of tasks running in steady state will be less than this number when there are fewer tasks waiting to be completed, i.e. when the work left to do is less than max parallelism.",
          "type": "integer",
          "format": "int32"
        }
      },
      "id": "ExecutionSpec",
      "description": "ExecutionSpec describes how the execution will look."
    },
    "ListExecutionsResponse": {
      "id": "ListExecutionsResponse",
      "properties": {
        "unreachable": {
          "description": "Locations that could not be reached.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "metadata": {
          "$ref": "ListMeta",
          "description": "Metadata associated with this executions list."
        },
        "items": {
          "description": "List of Executions.",
          "type": "array",
          "items": {
            "$ref": "Execution"
          }
        },
        "kind": {
          "description": "The kind of this resource, in this case \"ExecutionsList\".",
          "type": "string"
        },
        "apiVersion": {
          "description": "The API version for this call such as \"run.googleapis.com/v1\".",
          "type": "string"
        }
      },
      "description": "ListExecutionsResponse is a list of Executions resources.",
      "type": "object"
    },
    "ServiceStatus": {
      "type": "object",
      "id": "ServiceStatus",
      "description": "The current state of the Service. Output only.",
      "properties": {
        "observedGeneration": {
          "type": "integer",
          "description": "Returns the generation last seen by the system. Clients polling for completed reconciliation should poll until observedGeneration = metadata.generation and the Ready condition's status is True or False.",
          "format": "int32"
        },
        "url": {
          "type": "string",
          "description": "URL that will distribute traffic over the provided traffic targets. It generally has the form `https://{route-hash}-{project-hash}-{cluster-level-suffix}.a.run.app`"
        },
        "latestCreatedRevisionName": {
          "type": "string",
          "description": "Name of the last revision that was created from this Service's Configuration. It might not be ready yet, for that use LatestReadyRevisionName."
        },
        "latestReadyRevisionName": {
          "type": "string",
          "description": "Name of the latest Revision from this Service's Configuration that has had its `Ready` condition become `True`."
        },
        "traffic": {
          "items": {
            "$ref": "TrafficTarget"
          },
          "description": "Holds the configured traffic distribution. These entries will always contain RevisionName references. When ConfigurationName appears in the spec, this will hold the LatestReadyRevisionName that we last observed.",
          "type": "array"
        },
        "address": {
          "description": "Similar to url, information on where the service is available on HTTP.",
          "$ref": "Addressable"
        },
        "conditions": {
          "type": "array",
          "description": "Conditions communicate information about ongoing/complete reconciliation processes that bring the `spec` inline with the observed state of the world. Service-specific conditions include: * `ConfigurationsReady`: `True` when the underlying Configuration is ready. * `RoutesReady`: `True` when the underlying Route is ready. * `Ready`: `True` when all underlying resources are ready.",
          "items": {
            "$ref": "GoogleCloudRunV1Condition"
          }
        }
      }
    },
    "KeyToPath": {
      "properties": {
        "path": {
          "description": "The relative path of the file to map the key to. May not be an absolute path. May not contain the path element '..'. May not start with the string '..'.",
          "type": "string"
        },
        "mode": {
          "format": "int32",
          "description": "(Optional) Mode bits to use on this file, must be a value between 01 and 0777 (octal). If 0 or not set, the Volume's default mode will be used. Notes * Internally, a umask of 0222 will be applied to any non-zero value. * This is an integer representation of the mode bits. So, the octal integer value should look exactly as the chmod numeric notation with a leading zero. Some examples: for chmod 777 (a=rwx), set to 0777 (octal) or 511 (base-10). For chmod 640 (u=rw,g=r), set to 0640 (octal) or 416 (base-10). For chmod 755 (u=rwx,g=rx,o=rx), set to 0755 (octal) or 493 (base-10). * This might be in conflict with other options that affect the file mode, like fsGroup, and the result can be other mode bits set.",
          "type": "integer"
        },
        "key": {
          "type": "string",
          "description": "The Cloud Secret Manager secret version. Can be 'latest' for the latest value, or an integer or a secret alias for a specific version. The key to project."
        }
      },
      "type": "object",
      "description": "Maps a string key to a path within a volume.",
      "id": "KeyToPath"
    },
    "GoogleDevtoolsCloudbuildV1BuildApproval": {
      "type": "object",
      "description": "BuildApproval describes a build's approval configuration, state, and result.",
      "id": "GoogleDevtoolsCloudbuildV1BuildApproval",
      "properties": {
        "result": {
          "$ref": "GoogleDevtoolsCloudbuildV1ApprovalResult",
          "readOnly": true,
          "description": "Output only. Result of manual approval for this Build."
        },
        "state": {
          "type": "string",
          "description": "Output only. The state of this build's approval.",
          "enum": [
            "STATE_UNSPECIFIED",
            "PENDING",
            "APPROVED",
            "REJECTED",
            "CANCELLED"
          ],
          "readOnly": true,
          "enumDescriptions": [
            "Default enum type. This should not be used.",
            "Build approval is pending.",
            "Build approval has been approved.",
            "Build approval has been rejected.",
            "Build was cancelled while it was still pending approval."
          ]
        },
        "config": {
          "$ref": "GoogleDevtoolsCloudbuildV1ApprovalConfig",
          "readOnly": true,
          "description": "Output only. Configuration for manual approval of this build."
        }
      }
    },
    "GoogleDevtoolsCloudbuildV1GitSourceDependency": {
      "properties": {
        "recurseSubmodules": {
          "description": "Optional. True if submodules should be fetched too (default false).",
          "type": "boolean"
        },
        "destPath": {
          "type": "string",
          "description": "Required. Where should the files be placed on the worker."
        },
        "depth": {
          "type": "string",
          "format": "int64",
          "description": "Optional. How much history should be fetched for the build (default 1, -1 for all history)."
        },
        "revision": {
          "description": "Required. The revision that we will fetch the repo at.",
          "type": "string"
        },
        "repository": {
          "$ref": "GoogleDevtoolsCloudbuildV1GitSourceRepository",
          "description": "Required. The kind of repo (url or dev connect)."
        },
        "fetchTags": {
          "description": "Optional. True if remote tags should be fetched too (default false). Note: when depth is 1 (default), git fetch only retrieves tags pointing to commits within the shallow boundary. Set depth to -1 to fetch all historical tags.",
          "type": "boolean"
        }
      },
      "type": "object",
      "id": "GoogleDevtoolsCloudbuildV1GitSourceDependency",
      "description": "Represents a git repository as a build dependency."
    },
    "GoogleDevtoolsCloudbuildV1BuildOperationMetadata": {
      "properties": {
        "build": {
          "description": "The build that the operation is tracking.",
          "$ref": "GoogleDevtoolsCloudbuildV1Build"
        }
      },
      "description": "Metadata for build operations.",
      "type": "object",
      "id": "GoogleDevtoolsCloudbuildV1BuildOperationMetadata"
    },
    "GoogleDevtoolsCloudbuildV1Volume": {
      "type": "object",
      "properties": {
        "path": {
          "description": "Path at which to mount the volume. Paths must be absolute and cannot conflict with other volume paths on the same build step or with certain reserved volume paths.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Name of the volume to mount. Volume names must be unique per build step and must be valid names for Docker volumes. Each named volume must be used by at least two build steps."
        }
      },
      "id": "GoogleDevtoolsCloudbuildV1Volume",
      "description": "Volume describes a Docker container volume which is mounted into build steps in order to persist files across build step execution."
    },
    "GoogleDevtoolsCloudbuildV1PythonPackage": {
      "id": "GoogleDevtoolsCloudbuildV1PythonPackage",
      "type": "object",
      "properties": {
        "repository": {
          "type": "string",
          "description": "Artifact Registry repository, in the form \"https://$REGION-python.pkg.dev/$PROJECT/$REPOSITORY\" Files in the workspace matching any path pattern will be uploaded to Artifact Registry with this location as a prefix."
        },
        "paths": {
          "description": "Path globs used to match files in the build's workspace. For Python/ Twine, this is usually `dist/*`, and sometimes additionally an `.asc` file.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "Python package to upload to Artifact Registry upon successful completion of all build steps. A package can encapsulate multiple objects to be uploaded to a single repository."
    },
    "EmptyDirVolumeSource": {
      "properties": {
        "medium": {
          "description": "The medium on which the data is stored. The default is \"\" which means to use the node's default medium. Must be an empty string (default) or Memory. More info: https://kubernetes.io/docs/concepts/storage/volumes#emptydir",
          "type": "string"
        },
        "sizeLimit": {
          "description": "Limit on the storage usable by this EmptyDir volume. The size limit is also applicable for memory medium. The maximum usage on memory medium EmptyDir would be the minimum value between the SizeLimit specified here and the sum of memory limits of all containers. The default is nil which means that the limit is undefined. More info: https://cloud.google.com/run/docs/configuring/in-memory-volumes#configure-volume. Info in Kubernetes: https://kubernetes.io/docs/concepts/storage/volumes/#emptydir",
          "type": "string"
        }
      },
      "id": "EmptyDirVolumeSource",
      "description": "In memory (tmpfs) ephemeral storage. It is ephemeral in the sense that when the sandbox is taken down, the data is destroyed with it (it does not persist across sandbox runs).",
      "type": "object"
    },
    "JobStatus": {
      "description": "JobStatus represents the current state of a Job.",
      "type": "object",
      "properties": {
        "conditions": {
          "description": "Conditions communicate information about ongoing/complete reconciliation processes that bring the \"spec\" inline with the observed state of the world. Job-specific conditions include: * `Ready`: `True` when the job is ready to be executed.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudRunV1Condition"
          }
        },
        "observedGeneration": {
          "description": "The 'generation' of the job that was last processed by the controller.",
          "type": "integer",
          "format": "int32"
        },
        "executionCount": {
          "description": "Number of executions created for this job.",
          "type": "integer",
          "format": "int32"
        },
        "latestCreatedExecution": {
          "description": "A pointer to the most recently created execution for this job. This is set regardless of the eventual state of the execution.",
          "$ref": "ExecutionReference"
        }
      },
      "id": "JobStatus"
    },
    "Instance": {
      "id": "Instance",
      "properties": {
        "status": {
          "$ref": "InstanceStatus",
          "description": "Output only. Current status of an Instance.",
          "readOnly": true
        },
        "metadata": {
          "description": "Optional. Standard object's metadata.",
          "$ref": "ObjectMeta"
        },
        "kind": {
          "description": "Optional. Kind is a string value representing the REST resource this object represents. Servers may infer this from the endpoint the client submits requests to. Cannot be updated. In CamelCase.",
          "type": "string"
        },
        "spec": {
          "description": "Optional. Specification of the desired behavior of an Instance.",
          "$ref": "InstanceSpec"
        },
        "apiVersion": {
          "type": "string",
          "description": "Optional. APIVersion defines the versioned schema of this representation of an object. Servers should convert recognized schemas to the latest internal value, and may reject unrecognized values."
        }
      },
      "type": "object",
      "description": "An Instance represents the configuration of a single instance that references a container image and runs to completion."
    },
    "CancelExecutionRequest": {
      "properties": {},
      "type": "object",
      "description": "Request message for cancelling an execution.",
      "id": "CancelExecutionRequest"
    },
    "ExecAction": {
      "type": "object",
      "id": "ExecAction",
      "description": "Not supported by Cloud Run. ExecAction describes a \"run in container\" action.",
      "properties": {
        "command": {
          "description": "Command is the command line to execute inside the container, the working directory for the command is root ('/') in the container's filesystem. The command is simply exec'd, it is not run inside a shell, so traditional shell instructions ('|', etc) won't work. To use a shell, you need to explicitly call out to that shell. Exit status of 0 is treated as live/healthy and non-zero is unhealthy.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "GoogleDevtoolsCloudbuildV1Results": {
      "description": "Artifacts created by the build pipeline.",
      "properties": {
        "buildStepResults": {
          "type": "object",
          "additionalProperties": {
            "$ref": "GoogleDevtoolsCloudbuildV1BuildStepResults"
          },
          "description": "Results for build steps. step_id -> "
        },
        "mavenArtifacts": {
          "type": "array",
          "items": {
            "$ref": "GoogleDevtoolsCloudbuildV1UploadedMavenArtifact"
          },
          "description": "Maven artifacts uploaded to Artifact Registry at the end of the build."
        },
        "genericArtifacts": {
          "items": {
            "$ref": "GoogleDevtoolsCloudbuildV1UploadedGenericArtifact"
          },
          "description": "Output only. Generic artifacts uploaded to Artifact Registry at the end of the build.",
          "type": "array",
          "readOnly": true
        },
        "artifactTiming": {
          "$ref": "GoogleDevtoolsCloudbuildV1TimeSpan",
          "description": "Time to push all non-container artifacts to Cloud Storage."
        },
        "buildStepOutputs": {
          "type": "array",
          "description": "List of build step outputs, produced by builder images, in the order corresponding to build step indices. [Cloud Builders](https://cloud.google.com/cloud-build/docs/cloud-builders) can produce this output by writing to `$BUILDER_OUTPUT/output`. Only the first 50KB of data is stored. Note that the `$BUILDER_OUTPUT` variable is read-only and can't be substituted.",
          "items": {
            "type": "string",
            "format": "byte"
          }
        },
        "goModules": {
          "type": "array",
          "description": "Optional. Go module artifacts uploaded to Artifact Registry at the end of the build.",
          "items": {
            "$ref": "GoogleDevtoolsCloudbuildV1UploadedGoModule"
          }
        },
        "pythonPackages": {
          "items": {
            "$ref": "GoogleDevtoolsCloudbuildV1UploadedPythonPackage"
          },
          "type": "array",
          "description": "Python artifacts uploaded to Artifact Registry at the end of the build."
        },
        "npmPackages": {
          "items": {
            "$ref": "GoogleDevtoolsCloudbuildV1UploadedNpmPackage"
          },
          "type": "array",
          "description": "Npm packages uploaded to Artifact Registry at the end of the build."
        },
        "images": {
          "description": "Container images that were built as a part of the build.",
          "type": "array",
          "items": {
            "$ref": "GoogleDevtoolsCloudbuildV1BuiltImage"
          }
        },
        "numArtifacts": {
          "description": "Number of non-container artifacts uploaded to Cloud Storage. Only populated when artifacts are uploaded to Cloud Storage.",
          "type": "string",
          "format": "int64"
        },
        "artifactManifest": {
          "description": "Path to the artifact manifest for non-container artifacts uploaded to Cloud Storage. Only populated when artifacts are uploaded to Cloud Storage.",
          "type": "string"
        },
        "buildStepImages": {
          "items": {
            "type": "string"
          },
          "description": "List of build step digests, in the order corresponding to build step indices.",
          "type": "array"
        }
      },
      "id": "GoogleDevtoolsCloudbuildV1Results",
      "type": "object"
    },
    "HTTPHeader": {
      "description": "HTTPHeader describes a custom header to be used in HTTP probes",
      "type": "object",
      "id": "HTTPHeader",
      "properties": {
        "name": {
          "description": "Required. The header field name",
          "type": "string"
        },
        "value": {
          "type": "string",
          "description": "The header field value"
        }
      }
    },
    "Job": {
      "id": "Job",
      "description": "Job represents the configuration of a single job, which references a container image which is run to completion.",
      "type": "object",
      "properties": {
        "status": {
          "description": "Output only. Current status of a job.",
          "readOnly": true,
          "$ref": "JobStatus"
        },
        "metadata": {
          "description": "Optional. Standard object's metadata.",
          "$ref": "ObjectMeta"
        },
        "apiVersion": {
          "type": "string",
          "description": "Optional. APIVersion defines the versioned schema of this representation of an object. Servers should convert recognized schemas to the latest internal value, and may reject unrecognized values."
        },
        "kind": {
          "type": "string",
          "description": "Optional. Kind is a string value representing the REST resource this object represents. Servers may infer this from the endpoint the client submits requests to. Cannot be updated. In CamelCase."
        },
        "spec": {
          "description": "Optional. Specification of the desired behavior of a job.",
          "$ref": "JobSpec"
        }
      }
    },
    "ExecutionTemplateSpec": {
      "description": "ExecutionTemplateSpec describes the metadata and spec an Execution should have when created from a job.",
      "type": "object",
      "id": "ExecutionTemplateSpec",
      "properties": {
        "spec": {
          "description": "Required. ExecutionSpec holds the desired configuration for executions of this job.",
          "$ref": "ExecutionSpec"
        },
        "metadata": {
          "description": "Optional. Optional metadata for this Execution, including labels and annotations. The following annotation keys set properties of the created execution: * `run.googleapis.com/cloudsql-instances` sets Cloud SQL connections. Multiple values should be comma separated. * `run.googleapis.com/vpc-access-connector` sets a Serverless VPC Access connector. * `run.googleapis.com/vpc-access-egress` sets VPC egress. Supported values are `all-traffic`, `all` (deprecated), and `private-ranges-only`. `all-traffic` and `all` provide the same functionality. `all` is deprecated but will continue to be supported. Prefer `all-traffic`.",
          "$ref": "ObjectMeta"
        }
      }
    },
    "ConfigurationSpec": {
      "description": "ConfigurationSpec holds the desired state of the Configuration (from the client).",
      "id": "ConfigurationSpec",
      "type": "object",
      "properties": {
        "template": {
          "description": "Template holds the latest specification for the Revision to be stamped out.",
          "$ref": "RevisionTemplate"
        }
      }
    },
    "ExecutionStatus": {
      "description": "ExecutionStatus represents the current state of an Execution.",
      "id": "ExecutionStatus",
      "type": "object",
      "properties": {
        "completionTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Optional. Represents the time that the execution was completed. It is not guaranteed to be set in happens-before order across separate operations. It is represented in RFC3339 form and is in UTC. +optional"
        },
        "succeededCount": {
          "type": "integer",
          "description": "Optional. The number of tasks which reached phase Succeeded.",
          "format": "int32"
        },
        "failedCount": {
          "type": "integer",
          "format": "int32",
          "description": "Optional. The number of tasks which reached phase Failed."
        },
        "retriedCount": {
          "format": "int32",
          "type": "integer",
          "description": "Optional. The number of tasks which have retried at least once."
        },
        "observedGeneration": {
          "format": "int32",
          "description": "Optional. The 'generation' of the execution that was last processed by the controller.",
          "type": "integer"
        },
        "cancelledCount": {
          "description": "Optional. The number of tasks which reached phase Cancelled.",
          "format": "int32",
          "type": "integer"
        },
        "logUri": {
          "description": "Optional. URI where logs for this execution can be found in Cloud Console.",
          "type": "string"
        },
        "conditions": {
          "description": "Optional. Conditions communicate information about ongoing/complete reconciliation processes that bring the \"spec\" inline with the observed state of the world. Execution-specific conditions include: * `ResourcesAvailable`: `True` when underlying resources have been provisioned. * `Started`: `True` when the execution has started to execute. * `Completed`: `True` when the execution has succeeded. `False` when the execution has failed.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudRunV1Condition"
          }
        },
        "runningCount": {
          "type": "integer",
          "format": "int32",
          "description": "Optional. The number of actively running tasks."
        },
        "startTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Optional. Represents the time that the execution started to run. It is not guaranteed to be set in happens-before order across separate operations. It is represented in RFC3339 form and is in UTC."
        }
      }
    },
    "GoogleDevtoolsCloudbuildV1StepResult": {
      "type": "object",
      "description": "StepResult is the declaration of a result for a build step.",
      "id": "GoogleDevtoolsCloudbuildV1StepResult",
      "properties": {
        "attestationType": {
          "description": "Optional. The type of attestation to be generated.",
          "type": "string"
        },
        "attestationContent": {
          "type": "string",
          "description": "Optional. The content of the attestation to be generated."
        },
        "name": {
          "type": "string",
          "description": "Required. The name of the result."
        }
      }
    },
    "GoogleDevtoolsCloudbuildV1NpmPackage": {
      "type": "object",
      "properties": {
        "packagePath": {
          "description": "Optional. Path to the package.json. e.g. workspace/path/to/package Only one of `archive` or `package_path` can be specified.",
          "type": "string"
        },
        "repository": {
          "description": "Artifact Registry repository, in the form \"https://$REGION-npm.pkg.dev/$PROJECT/$REPOSITORY\" Npm package in the workspace specified by path will be zipped and uploaded to Artifact Registry with this location as a prefix.",
          "type": "string"
        }
      },
      "description": "Npm package to upload to Artifact Registry upon successful completion of all build steps.",
      "id": "GoogleDevtoolsCloudbuildV1NpmPackage"
    },
    "DomainMappingStatus": {
      "properties": {
        "conditions": {
          "items": {
            "$ref": "GoogleCloudRunV1Condition"
          },
          "description": "Array of observed DomainMappingConditions, indicating the current state of the DomainMapping.",
          "type": "array"
        },
        "url": {
          "description": "Optional. Not supported by Cloud Run.",
          "type": "string"
        },
        "observedGeneration": {
          "type": "integer",
          "format": "int32",
          "description": "ObservedGeneration is the 'Generation' of the DomainMapping that was last processed by the controller. Clients polling for completed reconciliation should poll until observedGeneration = metadata.generation and the Ready condition's status is True or False."
        },
        "resourceRecords": {
          "items": {
            "$ref": "ResourceRecord"
          },
          "description": "The resource records required to configure this domain mapping. These records must be added to the domain's DNS configuration in order to serve the application via this domain mapping.",
          "type": "array"
        },
        "mappedRouteName": {
          "type": "string",
          "description": "The name of the route that the mapping currently points to."
        }
      },
      "id": "DomainMappingStatus",
      "type": "object",
      "description": "The current state of the Domain Mapping."
    },
    "AuditLogConfig": {
      "type": "object",
      "description": "Provides the configuration for logging a type of permissions. Example: { \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\", \"exempted_members\": [ \"user:jose@example.com\" ] }, { \"log_type\": \"DATA_WRITE\" } ] } This enables 'DATA_READ' and 'DATA_WRITE' logging, while exempting jose@example.com from DATA_READ logging.",
      "properties": {
        "exemptedMembers": {
          "items": {
            "type": "string"
          },
          "description": "Specifies the identities that do not cause logging for this type of permission. Follows the same format of Binding.members.",
          "type": "array"
        },
        "logType": {
          "description": "The log type that this config enables.",
          "type": "string",
          "enum": [
            "LOG_TYPE_UNSPECIFIED",
            "ADMIN_READ",
            "DATA_WRITE",
            "DATA_READ"
          ],
          "enumDescriptions": [
            "Default case. Should never be this.",
            "Admin reads. Example: CloudIAM getIamPolicy",
            "Data writes. Example: CloudSQL Users create",
            "Data reads. Example: CloudSQL Users list"
          ]
        }
      },
      "id": "AuditLogConfig"
    },
    "Status": {
      "description": "Status is a return value for calls that don't return other objects.",
      "type": "object",
      "id": "Status",
      "properties": {
        "metadata": {
          "$ref": "ListMeta",
          "description": "Standard list metadata."
        },
        "code": {
          "description": "Suggested HTTP return code for this status, 0 if not set.",
          "format": "int32",
          "type": "integer"
        },
        "message": {
          "description": "A human-readable description of the status of this operation.",
          "type": "string"
        },
        "details": {
          "$ref": "StatusDetails",
          "description": "Extended data associated with the reason. Each reason may define its own extended details. This field is optional and the data returned is not guaranteed to conform to any schema except that defined by the reason type."
        },
        "reason": {
          "description": "A machine-readable description of why this operation is in the \"Failure\" status. If this value is empty there is no information available. A Reason clarifies an HTTP status code but does not override it.",
          "type": "string"
        },
        "status": {
          "type": "string",
          "description": "Status of the operation. One of: \"Success\" or \"Failure\"."
        }
      }
    },
    "Configuration": {
      "properties": {
        "kind": {
          "description": "The kind of resource, in this case always \"Configuration\".",
          "type": "string"
        },
        "spec": {
          "$ref": "ConfigurationSpec",
          "description": "Spec holds the desired state of the Configuration (from the client)."
        },
        "status": {
          "$ref": "ConfigurationStatus",
          "description": "Status communicates the observed state of the Configuration (from the controller)."
        },
        "apiVersion": {
          "type": "string",
          "description": "The API version for this call such as \"serving.knative.dev/v1\"."
        },
        "metadata": {
          "description": "Metadata associated with this Configuration, including name, namespace, labels, and annotations.",
          "$ref": "ObjectMeta"
        }
      },
      "id": "Configuration",
      "type": "object",
      "description": "Configuration represents the \"floating HEAD\" of a linear history of Revisions, and optionally how the containers those revisions reference are built. Users create new Revisions by updating the Configuration's spec. The \"latest created\" revision's name is available under status, as is the \"latest ready\" revision's name."
    },
    "Container": {
      "id": "Container",
      "type": "object",
      "description": "A single application container. This specifies both the container to run, the command to run in the container and the arguments to supply to it. Note that additional arguments may be supplied by the system to the container at runtime.",
      "properties": {
        "resources": {
          "$ref": "ResourceRequirements",
          "description": "Compute Resources required by this container."
        },
        "readinessProbe": {
          "description": "Readiness probe to be used for health checks.",
          "$ref": "Probe"
        },
        "args": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Arguments to the entrypoint. The docker image's CMD is used if this is not provided. Variable references are not supported in Cloud Run."
        },
        "livenessProbe": {
          "description": "Periodic probe of container liveness. Container will be restarted if the probe fails.",
          "$ref": "Probe"
        },
        "image": {
          "type": "string",
          "description": "Required. Name of the container image in Dockerhub, Google Artifact Registry, or Google Container Registry. If the host is not provided, Dockerhub is assumed."
        },
        "terminationMessagePolicy": {
          "description": "Indicate how the termination message should be populated. File will use the contents of terminationMessagePath to populate the container status message on both success and failure. FallbackToLogsOnError will use the last chunk of container log output if the termination message file is empty and the container exited with an error. The log output is limited to 2048 bytes or 80 lines, whichever is smaller. Defaults to File. Cannot be updated.",
          "type": "string"
        },
        "env": {
          "items": {
            "$ref": "EnvVar"
          },
          "description": "List of environment variables to set in the container. EnvVar with duplicate names are generally allowed; if referencing a secret, the name must be unique for the container. For non-secret EnvVar names, the Container will only get the last-declared one.",
          "type": "array"
        },
        "command": {
          "description": "Entrypoint array. Not executed within a shell. The docker image's ENTRYPOINT is used if this is not provided. Variable references are not supported in Cloud Run.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "name": {
          "type": "string",
          "description": "Name of the container specified as a DNS_LABEL (RFC 1123)."
        },
        "startupProbe": {
          "$ref": "Probe",
          "description": "Startup probe of application within the container. All other probes are disabled if a startup probe is provided, until it succeeds. Container will not receive traffic if the probe fails. If not provided, a default startup probe with TCP socket action is used."
        },
        "terminationMessagePath": {
          "description": "Path at which the file to which the container's termination message will be written is mounted into the container's filesystem. Message written is intended to be brief final status, such as an assertion failure message. Will be truncated by the node if greater than 4096 bytes. The total message length across all containers will be limited to 12kb. Defaults to /dev/termination-log.",
          "type": "string"
        },
        "ports": {
          "description": "List of ports to expose from the container. Only a single port can be specified. The specified ports must be listening on all interfaces (0.0.0.0) within the container to be accessible. If omitted, a port number will be chosen and passed to the container through the PORT environment variable for the container to listen on.",
          "type": "array",
          "items": {
            "$ref": "ContainerPort"
          }
        },
        "imagePullPolicy": {
          "type": "string",
          "description": "Image pull policy. One of Always, Never, IfNotPresent. Defaults to Always if :latest tag is specified, or IfNotPresent otherwise."
        },
        "volumeMounts": {
          "description": "Volume to mount into the container's filesystem. Only supports SecretVolumeSources. Pod volumes to mount into the container's filesystem.",
          "items": {
            "$ref": "VolumeMount"
          },
          "type": "array"
        },
        "workingDir": {
          "type": "string",
          "description": "Container's working directory. If not specified, the container runtime's default will be used, which might be configured in the container image."
        },
        "securityContext": {
          "$ref": "SecurityContext",
          "description": "Not supported by Cloud Run."
        },
        "sandboxLauncher": {
          "description": "Optional. Indicates that this container can act as a sandbox supervisor and launch sandboxes.",
          "type": "boolean"
        },
        "envFrom": {
          "items": {
            "$ref": "EnvFromSource"
          },
          "type": "array",
          "description": "Not supported by Cloud Run."
        }
      }
    },
    "StartInstanceRequest": {
      "description": "Request message for starting a stopped Instance.",
      "id": "StartInstanceRequest",
      "properties": {
        "dryRun": {
          "description": "Optional. Indicates that the server should validate the request and populate default values without persisting the request. Supported values: `all`",
          "type": "string"
        }
      },
      "type": "object"
    },
    "RouteStatus": {
      "description": "RouteStatus communicates the observed state of the Route (from the controller).",
      "id": "RouteStatus",
      "type": "object",
      "properties": {
        "traffic": {
          "type": "array",
          "items": {
            "$ref": "TrafficTarget"
          },
          "description": "Traffic holds the configured traffic distribution. These entries will always contain RevisionName references. When ConfigurationName appears in the spec, this will hold the LatestReadyRevisionName that was last observed."
        },
        "address": {
          "$ref": "Addressable",
          "description": "Similar to url, information on where the service is available on HTTP."
        },
        "url": {
          "type": "string",
          "description": "URL holds the url that will distribute traffic over the provided traffic targets. It generally has the form: `https://{route-hash}-{project-hash}-{cluster-level-suffix}.a.run.app`"
        },
        "conditions": {
          "items": {
            "$ref": "GoogleCloudRunV1Condition"
          },
          "description": "Conditions communicates information about ongoing/complete reconciliation processes that bring the \"spec\" inline with the observed state of the world.",
          "type": "array"
        },
        "observedGeneration": {
          "format": "int32",
          "description": "ObservedGeneration is the 'Generation' of the Route that was last processed by the controller. Clients polling for completed reconciliation should poll until observedGeneration = metadata.generation and the Ready condition's status is True or False. Note that providing a TrafficTarget that has latest_revision=True will result in a Route that does not increment either its metadata.generation or its observedGeneration, as new \"latest ready\" revisions from the Configuration are processed without an update to the Route's spec.",
          "type": "integer"
        }
      }
    },
    "RevisionSpec": {
      "description": "RevisionSpec holds the desired state of the Revision (from the client).",
      "id": "RevisionSpec",
      "properties": {
        "containerConcurrency": {
          "format": "int32",
          "description": "ContainerConcurrency specifies the maximum allowed in-flight (concurrent) requests per container instance of the Revision. If not specified or 0, defaults to 80 when requested CPU >= 1 and defaults to 1 when requested CPU < 1.",
          "type": "integer"
        },
        "serviceAccountName": {
          "description": "Email address of the IAM service account associated with the revision of the service. The service account represents the identity of the running revision, and determines what permissions the revision has. If not provided, the revision will use the project's default service account.",
          "type": "string"
        },
        "enableServiceLinks": {
          "description": "Not supported by Cloud Run.",
          "type": "boolean"
        },
        "containers": {
          "items": {
            "$ref": "Container"
          },
          "type": "array",
          "description": "Required. Containers holds the list which define the units of execution for this Revision."
        },
        "runtimeClassName": {
          "description": "Optional. Runtime. Leave unset for default.",
          "type": "string"
        },
        "nodeSelector": {
          "type": "object",
          "description": "Optional. The Node Selector configuration. Map of selector key to a value which matches a node.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "timeoutSeconds": {
          "description": "Optional. TimeoutSeconds holds the max duration the instance is allowed for responding to a request. Cloud Run: defaults to 300 seconds (5 minutes). Maximum allowed value is 3600 seconds (1 hour).",
          "type": "integer",
          "format": "int32"
        },
        "volumes": {
          "type": "array",
          "items": {
            "$ref": "Volume"
          }
        },
        "imagePullSecrets": {
          "items": {
            "$ref": "LocalObjectReference"
          },
          "type": "array",
          "description": "Not supported by Cloud Run."
        }
      },
      "type": "object"
    },
    "ContainerOverride": {
      "description": "Per container override specification.",
      "type": "object",
      "id": "ContainerOverride",
      "properties": {
        "clearArgs": {
          "description": "Optional. Set to True to clear all existing arguments.",
          "type": "boolean"
        },
        "args": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Arguments to the entrypoint. The specified arguments replace and override any existing entrypoint arguments. Must be empty if `clear_args` is set to true."
        },
        "env": {
          "description": "List of environment variables to set in the container. All specified environment variables are merged with existing environment variables. When the specified environment variables exist, these values override any existing values.",
          "type": "array",
          "items": {
            "$ref": "EnvVar"
          }
        },
        "name": {
          "type": "string",
          "description": "The name of the container specified as a DNS_LABEL."
        }
      }
    },
    "TaskAttemptResult": {
      "properties": {
        "termSignal": {
          "type": "integer",
          "description": "Optional. Termination signal of the container. This is set to non-zero if the container is terminated by the system. At most one of exit_code or term_signal will be set.",
          "format": "int32"
        },
        "status": {
          "$ref": "GoogleRpcStatus",
          "description": "Optional. The status of this attempt. If the status code is OK, then the attempt succeeded."
        },
        "exitCode": {
          "format": "int32",
          "type": "integer",
          "description": "Optional. The exit code of this attempt. This may be unset if the container was unable to exit cleanly with a code due to some other failure. See status field for possible failure details. At most one of exit_code or term_signal will be set."
        }
      },
      "type": "object",
      "id": "TaskAttemptResult",
      "description": "Result of a task attempt."
    },
    "GoogleDevtoolsCloudbuildV1GoModule": {
      "properties": {
        "sourcePath": {
          "description": "Optional. Source path of the go.mod file in the build's workspace. If not specified, this will default to the current directory. e.g. ~/code/go/mypackage",
          "type": "string"
        },
        "repositoryName": {
          "description": "Optional. Artifact Registry repository name. Specified Go modules will be zipped and uploaded to Artifact Registry with this location as a prefix. e.g. my-go-repo",
          "type": "string"
        },
        "moduleVersion": {
          "description": "Optional. The Go module's semantic version in the form vX.Y.Z. e.g. v0.1.1 Pre-release identifiers can also be added by appending a dash and dot separated ASCII alphanumeric characters and hyphens. e.g. v0.2.3-alpha.x.12m.5",
          "type": "string"
        },
        "modulePath": {
          "description": "Optional. The Go module's \"module path\". e.g. example.com/foo/v2",
          "type": "string"
        },
        "repositoryLocation": {
          "description": "Optional. Location of the Artifact Registry repository. i.e. us-east1 Defaults to the build’s location.",
          "type": "string"
        },
        "repositoryProjectId": {
          "description": "Optional. Project ID of the Artifact Registry repository. Defaults to the build project.",
          "type": "string"
        }
      },
      "id": "GoogleDevtoolsCloudbuildV1GoModule",
      "description": "Go module to upload to Artifact Registry upon successful completion of all build steps. A module refers to all dependencies in a go.mod file.",
      "type": "object"
    },
    "TCPSocketAction": {
      "id": "TCPSocketAction",
      "properties": {
        "host": {
          "type": "string",
          "description": "Not supported by Cloud Run."
        },
        "port": {
          "type": "integer",
          "description": "Port number to access on the container. Number must be in the range 1 to 65535.",
          "format": "int32"
        }
      },
      "type": "object",
      "description": "TCPSocketAction describes an action based on opening a socket"
    },
    "GoogleDevtoolsCloudbuildV1UploadedMavenArtifact": {
      "description": "A Maven artifact uploaded using the MavenArtifact directive.",
      "type": "object",
      "id": "GoogleDevtoolsCloudbuildV1UploadedMavenArtifact",
      "properties": {
        "artifactRegistryPackage": {
          "readOnly": true,
          "description": "Output only. Path to the artifact in Artifact Registry.",
          "type": "string"
        },
        "uri": {
          "type": "string",
          "description": "URI of the uploaded artifact."
        },
        "pushTiming": {
          "description": "Output only. Stores timing information for pushing the specified artifact.",
          "readOnly": true,
          "$ref": "GoogleDevtoolsCloudbuildV1TimeSpan"
        },
        "fileHashes": {
          "$ref": "GoogleDevtoolsCloudbuildV1FileHashes",
          "description": "Hash types and values of the Maven Artifact."
        }
      }
    },
    "CSIVolumeSource": {
      "description": "Storage volume source using the Container Storage Interface.",
      "id": "CSIVolumeSource",
      "properties": {
        "readOnly": {
          "description": "If true, mount the volume as read only. Defaults to false.",
          "type": "boolean"
        },
        "driver": {
          "description": "name of the CSI driver for the requested storage system. Cloud Run supports the following drivers: * gcsfuse.run.googleapis.com : Mount a Cloud Storage Bucket as a volume.",
          "type": "string"
        },
        "volumeAttributes": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "stores driver specific attributes. For Google Cloud Storage volumes, the following attributes are supported: * bucketName: the name of the Cloud Storage bucket to mount. The Cloud Run Service identity must have access to this bucket. * mountOptions: comma-separated list of mount options to pass to the gcsfuse."
        }
      },
      "type": "object"
    },
    "GoogleDevtoolsCloudbuildV1Oci": {
      "id": "GoogleDevtoolsCloudbuildV1Oci",
      "description": "OCI image to upload to Artifact Registry upon successful completion of all build steps.",
      "type": "object",
      "properties": {
        "file": {
          "description": "Required. Path on the local file system where to find the container to upload. e.g. /workspace/my-image.tar",
          "type": "string"
        },
        "registryPath": {
          "description": "Required. Registry path to upload the container to. e.g. us-east1-docker.pkg.dev/my-project/my-repo/my-image",
          "type": "string"
        },
        "tags": {
          "items": {
            "type": "string"
          },
          "description": "Optional. Tags to apply to the uploaded image. e.g. latest, 1.0.0",
          "type": "array"
        }
      }
    },
    "RevisionTemplate": {
      "properties": {
        "metadata": {
          "description": "Optional metadata for this Revision, including labels and annotations. Name will be generated by the Configuration. The following annotation keys set properties of the created revision: * `autoscaling.knative.dev/minScale` sets the minimum number of instances. * `autoscaling.knative.dev/maxScale` sets the maximum number of instances. * `run.googleapis.com/cloudsql-instances` sets Cloud SQL connections. Multiple values should be comma separated. * `run.googleapis.com/health-check-disabled`: if true, deploy-time startup probes will not run for this revision. * `run.googleapis.com/vpc-access-connector` sets a Serverless VPC Access connector. * `run.googleapis.com/vpc-access-egress` sets VPC egress. Supported values are `all-traffic`, `all` (deprecated), and `private-ranges-only`. `all-traffic` and `all` provide the same functionality. `all` is deprecated but will continue to be supported. Prefer `all-traffic`.",
          "$ref": "ObjectMeta"
        },
        "spec": {
          "description": "RevisionSpec holds the desired state of the Revision (from the client).",
          "$ref": "RevisionSpec"
        }
      },
      "description": "RevisionTemplateSpec describes the data a revision should have when created from a template.",
      "type": "object",
      "id": "RevisionTemplate"
    },
    "ConfigMapVolumeSource": {
      "description": "Not supported by Cloud Run. Adapts a ConfigMap into a volume. The contents of the target ConfigMap's Data field will be presented in a volume as files using the keys in the Data field as the file names, unless the items element is populated with specific mappings of keys to paths.",
      "id": "ConfigMapVolumeSource",
      "type": "object",
      "properties": {
        "name": {
          "description": "Name of the config.",
          "type": "string"
        },
        "defaultMode": {
          "description": "(Optional) Integer representation of mode bits to use on created files by default. Must be a value between 01 and 0777 (octal). If 0 or not set, it will default to 0644. Directories within the path are not affected by this setting. Notes * Internally, a umask of 0222 will be applied to any non-zero value. * This is an integer representation of the mode bits. So, the octal integer value should look exactly as the chmod numeric notation with a leading zero. Some examples: for chmod 777 (a=rwx), set to 0777 (octal) or 511 (base-10). For chmod 640 (u=rw,g=r), set to 0640 (octal) or 416 (base-10). For chmod 755 (u=rwx,g=rx,o=rx), set to 0755 (octal) or 493 (base-10). * This might be in conflict with other options that affect the file mode, like fsGroup, and the result can be other mode bits set.",
          "type": "integer",
          "format": "int32"
        },
        "optional": {
          "description": "(Optional) Specify whether the Secret or its keys must be defined.",
          "type": "boolean"
        },
        "items": {
          "items": {
            "$ref": "KeyToPath"
          },
          "description": "(Optional) If unspecified, each key-value pair in the Data field of the referenced Secret will be projected into the volume as a file whose name is the key and content is the value. If specified, the listed keys will be projected into the specified paths, and unlisted keys will not be present. If a key is specified that is not present in the Secret, the volume setup will error unless it is marked optional.",
          "type": "array"
        }
      }
    },
    "ConfigMapKeySelector": {
      "id": "ConfigMapKeySelector",
      "properties": {
        "name": {
          "type": "string",
          "description": "Required. Not supported by Cloud Run."
        },
        "key": {
          "description": "Required. Not supported by Cloud Run.",
          "type": "string"
        },
        "localObjectReference": {
          "description": "Not supported by Cloud Run.",
          "deprecated": true,
          "$ref": "LocalObjectReference"
        },
        "optional": {
          "type": "boolean",
          "description": "Not supported by Cloud Run."
        }
      },
      "description": "Not supported by Cloud Run.",
      "type": "object"
    },
    "GoogleLongrunningListOperationsResponse": {
      "id": "GoogleLongrunningListOperationsResponse",
      "description": "The response message for Operations.ListOperations.",
      "type": "object",
      "properties": {
        "operations": {
          "type": "array",
          "items": {
            "$ref": "GoogleLongrunningOperation"
          },
          "description": "A list of operations that matches the specified filter in the request."
        },
        "unreachable": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Unordered list. Unreachable resources. Populated when the request sets `ListOperationsRequest.return_partial_success` and reads across collections. For example, when attempting to list all resources across all supported locations."
        },
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        }
      }
    },
    "EnvFromSource": {
      "description": "Not supported by Cloud Run. EnvFromSource represents the source of a set of ConfigMaps",
      "type": "object",
      "properties": {
        "secretRef": {
          "$ref": "SecretEnvSource",
          "description": "The Secret to select from"
        },
        "configMapRef": {
          "description": "The ConfigMap to select from",
          "$ref": "ConfigMapEnvSource"
        },
        "prefix": {
          "description": "An optional identifier to prepend to each key in the ConfigMap. Must be a C_IDENTIFIER.",
          "type": "string"
        }
      },
      "id": "EnvFromSource"
    },
    "GoogleDevtoolsCloudbuildV1TimeSpan": {
      "id": "GoogleDevtoolsCloudbuildV1TimeSpan",
      "description": "Start and end times for a build execution phase.",
      "type": "object",
      "properties": {
        "startTime": {
          "type": "string",
          "description": "Start of time span.",
          "format": "google-datetime"
        },
        "endTime": {
          "description": "End of time span.",
          "format": "google-datetime",
          "type": "string"
        }
      }
    },
    "ListMeta": {
      "properties": {
        "resourceVersion": {
          "type": "string",
          "description": "Opaque string that identifies the server's internal version of this object. It can be used by clients to determine when objects have changed. If the message is passed back to the server, it must be left unmodified."
        },
        "selfLink": {
          "description": "URL representing this object.",
          "type": "string"
        },
        "continue": {
          "type": "string",
          "description": "Continuation token is a value emitted when the count of items is larger than the user/system limit. To retrieve the next page of items, pass the value of `continue` as the next request's `page_token`."
        }
      },
      "id": "ListMeta",
      "type": "object",
      "description": "Metadata for synthetic resources like List. In Cloud Run, all List Resources Responses will have a ListMeta instead of ObjectMeta."
    },
    "JobSpec": {
      "properties": {
        "startExecutionToken": {
          "type": "string",
          "description": "A unique string used as a suffix for creating a new execution. The Job will become ready when the execution is successfully started. The sum of job name and token length must be fewer than 63 characters."
        },
        "template": {
          "description": "Optional. Describes the execution that will be created when running a job.",
          "$ref": "ExecutionTemplateSpec"
        },
        "runExecutionToken": {
          "type": "string",
          "description": "A unique string used as a suffix for creating a new execution. The Job will become ready when the execution is successfully completed. The sum of job name and token length must be fewer than 63 characters."
        }
      },
      "type": "object",
      "description": "JobSpec describes how the job will look.",
      "id": "JobSpec"
    },
    "GoogleDevtoolsCloudbuildV1ApprovalConfig": {
      "id": "GoogleDevtoolsCloudbuildV1ApprovalConfig",
      "properties": {
        "approvalRequired": {
          "type": "boolean",
          "description": "Whether or not approval is needed. If this is set on a build, it will become pending when created, and will need to be explicitly approved to start."
        }
      },
      "type": "object",
      "description": "ApprovalConfig describes configuration for manual approval of a build."
    },
    "TestIamPermissionsResponse": {
      "description": "Response message for `TestIamPermissions` method.",
      "type": "object",
      "id": "TestIamPermissionsResponse",
      "properties": {
        "permissions": {
          "type": "array",
          "description": "A subset of `TestPermissionsRequest.permissions` that the caller is allowed.",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "Revision": {
      "type": "object",
      "properties": {
        "metadata": {
          "description": "Metadata associated with this Revision, including name, namespace, labels, and annotations.",
          "$ref": "ObjectMeta"
        },
        "kind": {
          "type": "string",
          "description": "The kind of this resource, in this case \"Revision\"."
        },
        "spec": {
          "$ref": "RevisionSpec",
          "description": "Spec holds the desired state of the Revision (from the client)."
        },
        "status": {
          "description": "Status communicates the observed state of the Revision (from the controller).",
          "$ref": "RevisionStatus"
        },
        "apiVersion": {
          "type": "string",
          "description": "The API version for this call such as \"serving.knative.dev/v1\"."
        }
      },
      "description": "Revision is an immutable snapshot of code and configuration. A revision references one or more container images. Revisions are created by updates to a Service.",
      "id": "Revision"
    },
    "ContainerPort": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "If specified, used to specify which protocol to use. Allowed values are \"http1\" and \"h2c\"."
        },
        "containerPort": {
          "type": "integer",
          "description": "Port number the container listens on. If present, this must be a valid port number, 0 < x < 65536. If not present, it will default to port 8080. For more information, see https://cloud.google.com/run/docs/container-contract#port",
          "format": "int32"
        },
        "protocol": {
          "type": "string",
          "description": "Protocol for port. Must be \"TCP\". Defaults to \"TCP\"."
        }
      },
      "description": "ContainerPort represents a network port in a single container.",
      "id": "ContainerPort"
    },
    "GoogleDevtoolsCloudbuildV1Build": {
      "id": "GoogleDevtoolsCloudbuildV1Build",
      "description": "A build resource in the Cloud Build API. At a high level, a `Build` describes where to find source code, how to build it (for example, the builder image to run on the source), and where to store the built artifacts. Fields can include the following variables, which will be expanded when the build is created: - $PROJECT_ID: the project ID of the build. - $PROJECT_NUMBER: the project number of the build. - $LOCATION: the location/region of the build. - $BUILD_ID: the autogenerated ID of the build. - $REPO_NAME: the source repository name specified by RepoSource. - $BRANCH_NAME: the branch name specified by RepoSource. - $TAG_NAME: the tag name specified by RepoSource. - $REVISION_ID or $COMMIT_SHA: the commit SHA specified by RepoSource or resolved from the specified branch or tag. - $SHORT_SHA: first 7 characters of $REVISION_ID or $COMMIT_SHA.",
      "type": "object",
      "properties": {
        "gitConfig": {
          "$ref": "GoogleDevtoolsCloudbuildV1GitConfig",
          "description": "Optional. Configuration for git operations."
        },
        "startTime": {
          "description": "Output only. Time at which execution of the build was started.",
          "format": "google-datetime",
          "type": "string",
          "readOnly": true
        },
        "approval": {
          "description": "Output only. Describes this build's approval configuration, status, and result.",
          "readOnly": true,
          "$ref": "GoogleDevtoolsCloudbuildV1BuildApproval"
        },
        "failureInfo": {
          "description": "Output only. Contains information about the build when status=FAILURE.",
          "readOnly": true,
          "$ref": "GoogleDevtoolsCloudbuildV1FailureInfo"
        },
        "warnings": {
          "description": "Output only. Non-fatal problems encountered during the execution of the build.",
          "type": "array",
          "items": {
            "$ref": "GoogleDevtoolsCloudbuildV1Warning"
          },
          "readOnly": true
        },
        "createTime": {
          "type": "string",
          "description": "Output only. Time at which the request to create the build was received.",
          "format": "google-datetime",
          "readOnly": true
        },
        "logsBucket": {
          "description": "Cloud Storage bucket where logs should be written (see [Bucket Name Requirements](https://cloud.google.com/storage/docs/bucket-naming#requirements)). Logs file names will be of the format `${logs_bucket}/log-${build_id}.txt`.",
          "type": "string"
        },
        "logUrl": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. URL to logs for this build in Google Cloud Console."
        },
        "timeout": {
          "format": "google-duration",
          "type": "string",
          "description": "Amount of time that this build should be allowed to run, to second granularity. If this amount of time elapses, work on the build will cease and the build status will be `TIMEOUT`. `timeout` starts ticking from `startTime`. Default time is 60 minutes."
        },
        "substitutions": {
          "description": "Substitutions data for `Build` resource.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "options": {
          "$ref": "GoogleDevtoolsCloudbuildV1BuildOptions",
          "description": "Special options for this build."
        },
        "name": {
          "description": "Output only. The 'Build' name with format: `projects/{project}/locations/{location}/builds/{build}`, where {build} is a unique identifier generated by the service.",
          "type": "string",
          "readOnly": true
        },
        "id": {
          "description": "Output only. Unique identifier of the build.",
          "readOnly": true,
          "type": "string"
        },
        "images": {
          "items": {
            "type": "string"
          },
          "description": "A list of images to be pushed upon the successful completion of all build steps. The images are pushed using the builder service account's credentials. The digests of the pushed images will be stored in the `Build` resource's results field. If any of the images fail to be pushed, the build status is marked `FAILURE`.",
          "type": "array"
        },
        "statusDetail": {
          "readOnly": true,
          "description": "Output only. Customer-readable message about the current status.",
          "type": "string"
        },
        "serviceAccount": {
          "type": "string",
          "description": "IAM service account whose credentials will be used at build runtime. Must be of the format `projects/{PROJECT_ID}/serviceAccounts/{ACCOUNT}`. ACCOUNT can be email address or uniqueId of the service account. "
        },
        "tags": {
          "description": "Tags for annotation of a `Build`. These are not docker tags.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "buildTriggerId": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The ID of the `BuildTrigger` that triggered this build, if it was triggered automatically."
        },
        "results": {
          "readOnly": true,
          "$ref": "GoogleDevtoolsCloudbuildV1Results",
          "description": "Output only. Results of the build."
        },
        "projectId": {
          "description": "Output only. ID of the project.",
          "readOnly": true,
          "type": "string"
        },
        "steps": {
          "type": "array",
          "items": {
            "$ref": "GoogleDevtoolsCloudbuildV1BuildStep"
          },
          "description": "Required. The operations to be performed on the workspace."
        },
        "timing": {
          "description": "Output only. Stores timing information for phases of the build. Valid keys are: * BUILD: time to execute all build steps. * PUSH: time to push all artifacts including docker images and non docker artifacts. * FETCHSOURCE: time to fetch source. * SETUPBUILD: time to set up build. If the build does not specify source or images, these keys will not be included.",
          "type": "object",
          "additionalProperties": {
            "$ref": "GoogleDevtoolsCloudbuildV1TimeSpan"
          },
          "readOnly": true
        },
        "availableSecrets": {
          "description": "Secrets and secret environment variables.",
          "$ref": "GoogleDevtoolsCloudbuildV1Secrets"
        },
        "finishTime": {
          "format": "google-datetime",
          "type": "string",
          "readOnly": true,
          "description": "Output only. Time at which execution of the build was finished. The difference between finish_time and start_time is the duration of the build's execution."
        },
        "queueTtl": {
          "type": "string",
          "description": "TTL in queue for this build. If provided and the build is enqueued longer than this value, the build will expire and the build status will be `EXPIRED`. The TTL starts ticking from create_time.",
          "format": "google-duration"
        },
        "dependencies": {
          "description": "Optional. Dependencies that the Cloud Build worker will fetch before executing user steps.",
          "type": "array",
          "items": {
            "$ref": "GoogleDevtoolsCloudbuildV1Dependency"
          }
        },
        "status": {
          "readOnly": true,
          "enum": [
            "STATUS_UNKNOWN",
            "PENDING",
            "QUEUED",
            "WORKING",
            "SUCCESS",
            "FAILURE",
            "INTERNAL_ERROR",
            "TIMEOUT",
            "CANCELLED",
            "EXPIRED"
          ],
          "enumDescriptions": [
            "Status of the build is unknown.",
            "Build has been created and is pending execution and queuing. It has not been queued.",
            "Build or step is queued; work has not yet begun.",
            "Build or step is being executed.",
            "Build or step finished successfully.",
            "Build or step failed to complete successfully.",
            "Build or step failed due to an internal cause.",
            "Build or step took longer than was allowed.",
            "Build or step was canceled by a user.",
            "Build was enqueued for longer than the value of `queue_ttl`."
          ],
          "type": "string",
          "description": "Output only. Status of the build."
        },
        "sourceProvenance": {
          "$ref": "GoogleDevtoolsCloudbuildV1SourceProvenance",
          "readOnly": true,
          "description": "Output only. A permanent fixed identifier for source."
        },
        "source": {
          "$ref": "GoogleDevtoolsCloudbuildV1Source",
          "description": "Optional. The location of the source files to build."
        },
        "secrets": {
          "items": {
            "$ref": "GoogleDevtoolsCloudbuildV1Secret"
          },
          "type": "array",
          "description": "Secrets to decrypt using Cloud Key Management Service. Note: Secret Manager is the recommended technique for managing sensitive data with Cloud Build. Use `available_secrets` to configure builds to access secrets from Secret Manager. For instructions, see: https://cloud.google.com/cloud-build/docs/securing-builds/use-secrets"
        },
        "artifacts": {
          "description": "Artifacts produced by the build that should be uploaded upon successful completion of all build steps.",
          "$ref": "GoogleDevtoolsCloudbuildV1Artifacts"
        }
      }
    },
    "Probe": {
      "id": "Probe",
      "type": "object",
      "properties": {
        "failureThreshold": {
          "description": "Minimum consecutive failures for the probe to be considered failed after having succeeded. Defaults to 3. Minimum value is 1.",
          "format": "int32",
          "type": "integer"
        },
        "initialDelaySeconds": {
          "type": "integer",
          "format": "int32",
          "description": "Number of seconds after the container has started before the probe is initiated. Defaults to 0 seconds. Minimum value is 0. Maximum value for liveness probe is 3600. Maximum value for startup probe is 240."
        },
        "timeoutSeconds": {
          "description": "Number of seconds after which the probe times out. Defaults to 1 second. Minimum value is 1. Maximum value is 3600. Must be smaller than period_seconds; if period_seconds is not set, must be less or equal than 10.",
          "type": "integer",
          "format": "int32"
        },
        "grpc": {
          "$ref": "GRPCAction",
          "description": "GRPCAction specifies an action involving a GRPC port."
        },
        "exec": {
          "description": "Not supported by Cloud Run.",
          "$ref": "ExecAction"
        },
        "tcpSocket": {
          "$ref": "TCPSocketAction",
          "description": "TCPSocket specifies an action involving a TCP port."
        },
        "periodSeconds": {
          "description": "How often (in seconds) to perform the probe. Default to 10 seconds. Minimum value is 1. Maximum value for liveness probe is 3600. Maximum value for startup probe is 240. Must be greater or equal than timeout_seconds.",
          "format": "int32",
          "type": "integer"
        },
        "httpGet": {
          "description": "HTTPGet specifies the http request to perform.",
          "$ref": "HTTPGetAction"
        },
        "successThreshold": {
          "format": "int32",
          "description": "Minimum consecutive successes for the probe to be considered successful after having failed. Must be 1 if set.",
          "type": "integer"
        }
      },
      "description": "Probe describes a health check to be performed against a container to determine whether it is alive or ready to receive traffic."
    },
    "InstanceSplit": {
      "properties": {
        "revisionName": {
          "type": "string",
          "description": "Revision to which to assign this portion of instances."
        },
        "latestRevision": {
          "description": "Uses the \"status.latestReadyRevisionName\" to determine the instance split target. When it changes, workloads will automatically migrate from the prior \"latest ready\" revision to the new one.",
          "type": "boolean"
        },
        "percent": {
          "format": "int32",
          "type": "integer",
          "description": "Optional. Specifies percent of the instance split to this Revision. This defaults to zero if unspecified."
        }
      },
      "id": "InstanceSplit",
      "description": "Holds a single instance split entry for the Worker. Allocations can be done to a specific Revision name, or pointing to the latest Ready Revision.",
      "type": "object"
    },
    "TestIamPermissionsRequest": {
      "type": "object",
      "id": "TestIamPermissionsRequest",
      "properties": {
        "permissions": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The set of permissions to check for the `resource`. Permissions with wildcards (such as `*` or `storage.*`) are not allowed. For more information see [IAM Overview](https://cloud.google.com/iam/docs/overview#permissions)."
        }
      },
      "description": "Request message for `TestIamPermissions` method."
    },
    "GoogleDevtoolsCloudbuildV1SecretManagerSecret": {
      "type": "object",
      "properties": {
        "env": {
          "type": "string",
          "description": "Environment variable name to associate with the secret. Secret environment variables must be unique across all of a build's secrets, and must be used by at least one build step."
        },
        "versionName": {
          "description": "Resource name of the SecretVersion. In format: projects/*/secrets/*/versions/*",
          "type": "string"
        }
      },
      "description": "Pairs a secret environment variable with a SecretVersion in Secret Manager.",
      "id": "GoogleDevtoolsCloudbuildV1SecretManagerSecret"
    },
    "ListRevisionsResponse": {
      "properties": {
        "metadata": {
          "description": "Metadata associated with this revision list.",
          "$ref": "ListMeta"
        },
        "apiVersion": {
          "type": "string",
          "description": "The API version for this call such as \"serving.knative.dev/v1\"."
        },
        "unreachable": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Locations that could not be reached."
        },
        "items": {
          "description": "List of Revisions.",
          "type": "array",
          "items": {
            "$ref": "Revision"
          }
        },
        "kind": {
          "type": "string",
          "description": "The kind of this resource, in this case \"RevisionList\"."
        }
      },
      "id": "ListRevisionsResponse",
      "type": "object",
      "description": "ListRevisionsResponse is a list of Revision resources."
    },
    "InstanceStatus": {
      "id": "InstanceStatus",
      "type": "object",
      "description": "InstanceStatus represents the current state of an Instance.",
      "properties": {
        "logUri": {
          "description": "Optional. URI where logs for this execution can be found in Cloud Console.",
          "type": "string"
        },
        "urls": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "readOnly": true,
          "description": "Output only. All URLs serving traffic for this Instance."
        },
        "observedGeneration": {
          "type": "integer",
          "description": "Output only. The 'generation' of the Instance that was last processed by the controller.",
          "format": "int32",
          "readOnly": true
        },
        "conditions": {
          "type": "array",
          "description": "Output only. Conditions communicate information about ongoing/complete reconciliation processes that bring the \"spec\" inline with the observed state of the world. Instance-specific conditions include: * `Ready`: `True` when the Instance is ready to be executed.",
          "readOnly": true,
          "items": {
            "$ref": "GoogleCloudRunV1Condition"
          }
        }
      }
    },
    "GoogleDevtoolsCloudbuildV1InlineSecret": {
      "id": "GoogleDevtoolsCloudbuildV1InlineSecret",
      "type": "object",
      "properties": {
        "kmsKeyName": {
          "type": "string",
          "description": "Resource name of Cloud KMS crypto key to decrypt the encrypted value. In format: projects/*/locations/*/keyRings/*/cryptoKeys/*"
        },
        "envMap": {
          "description": "Map of environment variable name to its encrypted value. Secret environment variables must be unique across all of a build's secrets, and must be used by at least one build step. Values can be at most 64 KB in size. There can be at most 100 secret values across all of a build's secrets.",
          "type": "object",
          "additionalProperties": {
            "type": "string",
            "format": "byte"
          }
        }
      },
      "description": "Pairs a set of secret environment variables mapped to encrypted values with the Cloud KMS key to use to decrypt the value."
    },
    "GoogleDevtoolsCloudbuildV1UploadedPythonPackage": {
      "description": "Artifact uploaded using the PythonPackage directive.",
      "properties": {
        "fileHashes": {
          "$ref": "GoogleDevtoolsCloudbuildV1FileHashes",
          "description": "Hash types and values of the Python Artifact."
        },
        "artifactRegistryPackage": {
          "type": "string",
          "description": "Output only. Path to the artifact in Artifact Registry.",
          "readOnly": true
        },
        "uri": {
          "description": "URI of the uploaded artifact.",
          "type": "string"
        },
        "pushTiming": {
          "readOnly": true,
          "$ref": "GoogleDevtoolsCloudbuildV1TimeSpan",
          "description": "Output only. Stores timing information for pushing the specified artifact."
        }
      },
      "type": "object",
      "id": "GoogleDevtoolsCloudbuildV1UploadedPythonPackage"
    },
    "GoogleDevtoolsCloudbuildV1Source": {
      "type": "object",
      "id": "GoogleDevtoolsCloudbuildV1Source",
      "properties": {
        "developerConnectConfig": {
          "description": "If provided, get the source from this Developer Connect config.",
          "$ref": "GoogleDevtoolsCloudbuildV1DeveloperConnectConfig"
        },
        "gitSource": {
          "$ref": "GoogleDevtoolsCloudbuildV1GitSource",
          "description": "If provided, get the source from this Git repository."
        },
        "storageSourceManifest": {
          "description": "If provided, get the source from this manifest in Cloud Storage. This feature is in Preview; see description [here](https://github.com/GoogleCloudPlatform/cloud-builders/tree/master/gcs-fetcher).",
          "$ref": "GoogleDevtoolsCloudbuildV1StorageSourceManifest"
        },
        "repoSource": {
          "description": "If provided, get the source from this location in a Cloud Source Repository.",
          "$ref": "GoogleDevtoolsCloudbuildV1RepoSource"
        },
        "connectedRepository": {
          "$ref": "GoogleDevtoolsCloudbuildV1ConnectedRepository",
          "description": "Optional. If provided, get the source from this 2nd-gen Google Cloud Build repository resource."
        },
        "storageSource": {
          "$ref": "GoogleDevtoolsCloudbuildV1StorageSource",
          "description": "If provided, get the source from this location in Cloud Storage."
        }
      },
      "description": "Location of the source in a supported storage service."
    },
    "GoogleDevtoolsCloudbuildV1Secret": {
[...]
