{
  "rootUrl": "https://saasservicemgmt.googleapis.com/",
  "parameters": {
    "alt": {
      "default": "json",
      "location": "query",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "description": "Data format for response.",
      "type": "string"
    },
    "callback": {
      "type": "string",
      "location": "query",
      "description": "JSONP"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "prettyPrint": {
      "type": "boolean",
      "default": "true",
      "description": "Returns response with indentations and line breaks.",
      "location": "query"
    },
    "$.xgafv": {
      "description": "V1 error format.",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "enum": [
        "1",
        "2"
      ],
      "type": "string",
      "location": "query"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string",
      "location": "query"
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string",
      "location": "query"
    },
    "oauth_token": {
      "location": "query",
      "description": "OAuth 2.0 token for the current user.",
      "type": "string"
    },
    "access_token": {
      "description": "OAuth access token.",
      "type": "string",
      "location": "query"
    }
  },
  "version_module": true,
  "protocol": "rest",
  "revision": "20260824",
  "discoveryVersion": "v1",
  "description": "Model, deploy, and operate your SaaS at scale. ",
  "documentationLink": "https://cloud.google.com/saas-runtime/docs",
  "canonicalName": "SaaS Service Management",
  "schemas": {
    "FlagRelease": {
      "id": "FlagRelease",
      "properties": {
        "flagNamesRelease": {
          "$ref": "FlagNameList",
          "description": "Optional. Immutable. Specifies the release consisting of a list of flags."
        },
        "name": {
          "type": "string",
          "description": "Identifier. The resource name (full URI of the resource) following the standard naming scheme: \"projects/{project}/locations/{location}/flagReleases/{flag_release_id}\""
        },
        "effectiveFlagRevisions": {
          "items": {
            "type": "string"
          },
          "readOnly": true,
          "type": "array",
          "description": "Output only. An OUTPUT_ONLY field that contains FlagRevisions to be rolled out. This is the ultimate source of truth of what a Rollout or a UnitOperation carries."
        },
        "updateTime": {
          "format": "google-datetime",
          "type": "string",
          "readOnly": true,
          "description": "Output only. The timestamp when the resource was last updated. Any change to the resource made by users must refresh this value. Changes to a resource made by the service should refresh this value."
        },
        "flagSetsRelease": {
          "description": "Optional. Immutable. Specifies the release consisting of a list of flag sets.",
          "$ref": "FlagSetList"
        },
        "etag": {
          "description": "Output only. An opaque value that uniquely identifies a version or generation of a resource. It can be used to confirm that the client and server agree on the ordering of a resource being written.",
          "readOnly": true,
          "type": "string"
        },
        "allFlags": {
          "description": "Optional. Immutable. DEPRECATED: Use all_flags_release instead. Rollout all flags in the provided UnitKind. Only one of flag_revisions, all_flags, or flag_sets can be set.",
          "deprecated": true,
          "type": "boolean"
        },
        "allFlagsRelease": {
          "description": "Optional. Immutable. Specifies the release includes all flags.",
          "type": "boolean"
        },
        "flagSets": {
          "type": "array",
          "description": "Optional. Immutable. DEPRECATED: Use flag_sets_release instead. Flag sets to be rolled out. Only one of flag_revisions, all_flags, or flag_sets can be set.",
          "deprecated": true,
          "items": {
            "type": "string"
          }
        },
        "uid": {
          "description": "Output only. The unique identifier of the resource. UID is unique in the time and space for this resource within the scope of the service. It is typically generated by the server on successful creation of a resource and must not be changed. UID is used to uniquely identify resources with resource name reuses. This should be a UUID4.",
          "type": "string",
          "readOnly": true
        },
        "unitKind": {
          "description": "Required. Immutable. The UnitKind this FlagRelease applies to.",
          "type": "string"
        },
        "obsoleteFlags": {
          "deprecated": true,
          "items": {
            "type": "string"
          },
          "description": "Optional. Immutable. Deprecated: Use the 'state' field in the 'Flag' resource to manage the cleanup of flag lifecycles including removal from UnitKind and Units. Flags to be removed from given UnitKind and all related Units. If Flag is provided here, its FlagRevisions will be removed from UnitKind and Units.",
          "type": "array"
        },
        "labels": {
          "type": "object",
          "description": "Optional. The labels on the resource, which can be used for categorization. similar to Kubernetes resource labels.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "annotations": {
          "type": "object",
          "description": "Optional. Annotations is an unstructured key-value map stored with a resource that may be set by external tools to store and retrieve arbitrary metadata. They are not queryable and should be preserved when modifying objects. More info: https://kubernetes.io/docs/user-guide/annotations",
          "additionalProperties": {
            "type": "string"
          }
        },
        "createTime": {
          "format": "google-datetime",
          "description": "Output only. The timestamp when the resource was created.",
          "readOnly": true,
          "type": "string"
        },
        "flagRevisionsRelease": {
          "description": "Optional. Immutable. Specifies the release consisting of a list of flag revisions.",
          "$ref": "FlagRevisionList"
        },
        "flagRevisions": {
          "items": {
            "type": "string"
          },
          "description": "Optional. Immutable. DEPRECATED: Use flag_revisions_release instead. FlagRevisions to be rolled out. Only one of flag_revisions, all_flags, or flag_sets can be set. It used to be the ultimate source to truth and has been moved to effective_flag_revisions.",
          "type": "array",
          "deprecated": true
        }
      },
      "type": "object",
      "description": "A collection of FlagRevisions."
    },
    "Dependency": {
      "description": "Dependency represent a single dependency with another unit kind by alias.",
      "id": "Dependency",
      "type": "object",
      "properties": {
        "unitKind": {
          "type": "string",
          "description": "Required. Immutable. The unit kind of the dependency."
        },
        "alias": {
          "type": "string",
          "description": "Required. An alias for the dependency. Used for input variable mapping."
        }
      }
    },
    "EvaluationSpec": {
      "description": "EvaluationSpec holds rules for evaluating the value of a flag.",
      "id": "EvaluationSpec",
      "properties": {
        "variants": {
          "deprecated": true,
          "type": "array",
          "items": {
            "$ref": "Variant"
          },
          "description": "Optional. A list of variants."
        },
        "rules": {
          "description": "Optional. Evaluation rules define the logic for evaluating the flag against a given context. The rules are evaluated sequentially in their specified order.",
          "type": "array",
          "items": {
            "$ref": "EvaluationRule"
          }
        },
        "attributes": {
          "items": {
            "type": "string"
          },
          "description": "Optional. Names of the context attributes that are used in the evaluation rules and allocations.",
          "type": "array"
        },
        "allocations": {
          "description": "Optional. A list of allocations.",
          "items": {
            "$ref": "Allocation"
          },
          "type": "array"
        },
        "defaultTarget": {
          "deprecated": true,
          "type": "string",
          "description": "Optional. Deprecated: Use `base_target` instead. Default variant or allocation of the flag."
        }
      },
      "type": "object"
    },
    "Unit": {
      "properties": {
        "tenant": {
          "type": "string",
          "description": "Optional. Reference to the Saas Tenant resource this unit belongs to. This for example informs the maintenance policies to use for scheduling future updates on a unit. (optional and immutable once created)"
        },
        "annotations": {
          "type": "object",
          "description": "Optional. Annotations is an unstructured key-value map stored with a resource that may be set by external tools to store and retrieve arbitrary metadata. They are not queryable and should be preserved when modifying objects. More info: https://kubernetes.io/docs/user-guide/annotations",
          "additionalProperties": {
            "type": "string"
          }
        },
        "conditions": {
          "readOnly": true,
          "items": {
            "$ref": "UnitCondition"
          },
          "type": "array",
          "description": "Optional. Output only. A set of conditions which indicate the various conditions this resource can have."
        },
        "satisfiesPzi": {
          "description": "Output only. Reserved for future use.",
          "type": "boolean",
          "readOnly": true
        },
        "unitKind": {
          "description": "Optional. Reference to the UnitKind this Unit belongs to. Immutable once set.",
          "type": "string"
        },
        "flagRevisions": {
          "items": {
            "type": "string"
          },
          "description": "Optional. Output only. Flag revisions used by this Unit.",
          "type": "array",
          "readOnly": true
        },
        "application": {
          "description": "Optional. Reference to the AppHub Application this unit belongs to. All resources deployed in this Unit will be associated with the specified Application.",
          "type": "string"
        },
        "createTime": {
          "readOnly": true,
          "description": "Output only. The timestamp when the resource was created.",
          "type": "string",
          "format": "google-datetime"
        },
        "uid": {
          "description": "Output only. The unique identifier of the resource. UID is unique in the time and space for this resource within the scope of the service. It is typically generated by the server on successful creation of a resource and must not be changed. UID is used to uniquely identify resources with resource name reuses. This should be a UUID4.",
          "readOnly": true,
          "type": "string"
        },
        "state": {
          "enumDescriptions": [
            "Unspecified state.",
            "Unit is not provisioned.",
            "Unit is being provisioned.",
            "Unit is being updated. This is typically when a unit is being upgraded to a new release or some of the input variables on the Unit is being changed. Certain kinds of updates may cause the Unit to become unusable while the update is in progress.",
            "Unit is being deleted.",
            "Unit has been provisioned and is ready for use",
            "Unit has error, when it is not ready and some error operation"
          ],
          "enum": [
            "UNIT_STATE_UNSPECIFIED",
            "UNIT_STATE_NOT_PROVISIONED",
            "UNIT_STATE_PROVISIONING",
            "UNIT_STATE_UPDATING",
            "UNIT_STATE_DEPROVISIONING",
            "UNIT_STATE_READY",
            "UNIT_STATE_ERROR"
          ],
          "description": "Optional. Output only. Current lifecycle state of the resource (e.g. if it's being created or ready to use).",
          "readOnly": true,
          "type": "string"
        },
        "dependencies": {
          "type": "array",
          "items": {
            "$ref": "UnitDependency"
          },
          "readOnly": true,
          "description": "Optional. Output only. Set of dependencies for this unit. Maximum 10."
        },
        "etag": {
          "type": "string",
          "description": "Output only. An opaque value that uniquely identifies a version or generation of a resource. It can be used to confirm that the client and server agree on the ordering of a resource being written.",
          "readOnly": true
        },
        "systemCleanupAt": {
          "format": "google-datetime",
          "type": "string",
          "description": "Optional. Output only. If set, indicates the time when the system will start removing the unit.",
          "readOnly": true
        },
        "release": {
          "description": "Optional. Output only. The current Release object for this Unit.",
          "readOnly": true,
          "type": "string"
        },
        "unitGroup": {
          "type": "string",
          "description": "Optional. Output only. Reference to the UnitGroup this unit belongs to.",
          "readOnly": true
        },
        "systemManagedState": {
          "description": "Optional. Output only. Indicates the system managed state of the unit.",
          "readOnly": true,
          "enum": [
            "SYSTEM_MANAGED_STATE_UNSPECIFIED",
            "SYSTEM_MANAGED_STATE_ACTIVE",
            "SYSTEM_MANAGED_STATE_INACTIVE",
            "SYSTEM_MANAGED_STATE_DECOMMISSIONED"
          ],
          "enumDescriptions": [
            "Unspecified system managed state.",
            "Unit has dependents attached.",
            "Unit has no dependencies attached, but attachment is allowed.",
            "Unit has no dependencies attached, and attachment is not allowed."
          ],
          "type": "string"
        },
        "pendingOperations": {
          "readOnly": true,
          "description": "Optional. Output only. List of pending (wait to be executed) UnitOperations for this unit.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "maintenance": {
          "description": "Optional. Captures requested directives for performing future maintenance on the unit. This includes a request for the unit to skip maintenance for a period of time and remain pinned to its current release as well as controls for postponing maintenance scheduled in future.",
          "$ref": "MaintenanceSettings"
        },
        "satisfiesPzs": {
          "type": "boolean",
          "readOnly": true,
          "description": "Output only. Indicates whether the resource location satisfies Zone Separation constraints. This is false by default."
        },
        "inputVariables": {
          "readOnly": true,
          "items": {
            "$ref": "UnitVariable"
          },
          "type": "array",
          "description": "Optional. Output only. Indicates the current input variables deployed by the unit"
        },
        "flagConfigName": {
          "description": "Output only. This field stores the unique identifier for the flag configuration to be used by this Unit.",
          "type": "string",
          "readOnly": true
        },
        "updateTime": {
          "description": "Output only. The timestamp when the resource was last updated. Any change to the resource made by users must refresh this value. Changes to a resource made by the service should refresh this value.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "outputVariables": {
          "description": "Optional. Output only. Set of key/value pairs corresponding to output variables from execution of actuation templates. The variables are declared in actuation configs (e.g in helm chart or terraform) and the values are fetched and returned by the actuation engine upon completion of execution.",
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "UnitVariable"
          }
        },
        "managementMode": {
          "description": "Optional. Immutable. Indicates whether the Unit life cycle is controlled by the user or by the system. Immutable once created.",
          "type": "string",
          "enum": [
            "MANAGEMENT_MODE_UNSPECIFIED",
            "MANAGEMENT_MODE_USER",
            "MANAGEMENT_MODE_SYSTEM"
          ],
          "enumDescriptions": [
            "Unspecified management mode.",
            "Unit's lifecycle is managed by the user.",
            "The system will decide when to deprovision and delete the unit. User still can deprovision or delete the unit manually."
          ]
        },
        "name": {
          "type": "string",
          "description": "Identifier. The resource name (full URI of the resource) following the standard naming scheme: \"projects/{project}/locations/{location}/units/{unit}\""
        },
        "scheduledOperations": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "readOnly": true,
          "description": "Optional. Output only. List of scheduled UnitOperations for this unit."
        },
        "ongoingOperations": {
          "description": "Optional. Output only. List of concurrent UnitOperations that are operating on this Unit.",
          "readOnly": true,
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Optional. The labels on the resource, which can be used for categorization. similar to Kubernetes resource labels."
        },
        "dependents": {
          "items": {
            "$ref": "UnitDependency"
          },
          "type": "array",
          "readOnly": true,
          "description": "Optional. Output only. List of Units that depend on this unit. Unit can only be deprovisioned if this list is empty. Maximum 1000."
        }
      },
      "type": "object",
      "description": "A unit of deployment that has its lifecycle via a CRUD API using an actuation engine under the hood (e.g. based on Terraform, Helm or a custom implementation provided by a service producer). A building block of a SaaS Tenant.",
      "id": "Unit"
    },
    "SaasRelease": {
      "id": "SaasRelease",
      "properties": {
        "uid": {
          "description": "Output only. The unique identifier of the resource. UID is unique in the time and space for this resource within the scope of the service. It is typically generated by the server on successful creation of a resource and must not be changed. UID is used to uniquely identify resources with resource name reuses. This should be a UUID4.",
          "type": "string",
          "readOnly": true
        },
        "updateTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The timestamp when the resource was last updated. Any change to the resource made by users must refresh this value. Changes to a resource made by the service should refresh this value.",
          "readOnly": true
        },
        "name": {
          "description": "Identifier. The resource name (full URI of the resource) following the standard naming scheme: \"projects/{project}/locations/{location}/saasReleases/{saasRelease}\"",
          "type": "string"
        },
        "annotations": {
          "description": "Optional. Annotations is an unstructured key-value map stored with a resource that may be set by external tools to store and retrieve arbitrary metadata. They are not queryable and should be preserved when modifying objects. More info: https://kubernetes.io/docs/user-guide/annotations",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "labels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. The labels on the resource, which can be used for categorization. similar to Kubernetes resource labels."
        },
        "createTime": {
          "format": "google-datetime",
          "description": "Output only. The timestamp when the resource was created.",
          "readOnly": true,
          "type": "string"
        },
        "etag": {
          "type": "string",
          "description": "Output only. An opaque value that uniquely identifies a version or generation of a resource. It can be used to confirm that the client and server agree on the ordering of a resource being written.",
          "readOnly": true
        }
      },
      "description": "SaasRelease is a collection of Releases that are assigned to a UnitGroup. It allows provisioning and updates of UnitGroup, which contains multiple Units of different UnitKinds.",
      "type": "object"
    },
    "ListRolloutsResponse": {
      "type": "object",
      "description": "The response structure for the ListRollouts method.",
      "properties": {
        "nextPageToken": {
          "description": "If present, the next page token can be provided to a subsequent ListRollouts call to list the next page. If empty, there are no more pages.",
          "type": "string"
        },
        "unreachable": {
          "items": {
            "type": "string"
          },
          "description": "Locations that could not be reached.",
          "type": "array"
        },
        "rollouts": {
          "items": {
            "$ref": "Rollout"
          },
          "description": "The resulting rollouts.",
          "type": "array"
        }
      },
      "id": "ListRolloutsResponse"
    },
    "UnitKind": {
      "description": "Definition of a Unit. Units belonging to the same UnitKind are managed together; for example they follow the same release model (blueprints, versions etc.) and are typically rolled out together.",
      "properties": {
        "defaultRelease": {
          "type": "string",
          "description": "Optional. A reference to the Release object to use as default for creating new units of this UnitKind (optional). If not specified, a new unit must explicitly reference which release to use for its creation."
        },
        "createTime": {
          "description": "Output only. The timestamp when the resource was created.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "dependencies": {
          "description": "Optional. Immutable. List of other unit kinds that this release will depend on. Dependencies will be automatically provisioned if not found. Maximum 10.",
          "items": {
            "$ref": "Dependency"
          },
          "type": "array"
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. The labels on the resource, which can be used for categorization. similar to Kubernetes resource labels.",
          "type": "object"
        },
        "applicationTemplateComponent": {
          "description": "Optional. Reference to component and revision in a composite ApplicationTemplate.",
          "$ref": "ComponentRef"
        },
        "saas": {
          "description": "Required. Immutable. A reference to the Saas that defines the product (managed service) that the producer wants to manage with App Lifecycle Manager. Part of the App Lifecycle Manager common data model. Immutable once set.",
          "type": "string"
        },
        "inputVariableMappings": {
          "type": "array",
          "items": {
            "$ref": "VariableMapping"
          },
          "description": "Optional. List of inputVariables for this release that will either be retrieved from a dependency's outputVariables, or will be passed on to a dependency's inputVariables. Maximum 100."
        },
        "boundaryType": {
          "enum": [
            "BOUNDARY_TYPE_UNSPECIFIED",
            "BOUNDARY_TYPE_TENANT_PROJECT",
            "BOUNDARY_TYPE_MANAGED_PROJECT"
          ],
          "readOnly": true,
          "description": "Optional. Output only. BoundaryType describes the type of boundary the Unit Kind represents.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified boundary type.",
            "Tenant project boundary.",
            "Managed project boundary."
          ]
        },
        "outputVariableMappings": {
          "description": "Optional. List of outputVariables for this unit kind will be passed to this unit's outputVariables. Maximum 100.",
          "type": "array",
          "items": {
            "$ref": "VariableMapping"
          }
        },
        "etag": {
          "description": "Output only. An opaque value that uniquely identifies a version or generation of a resource. It can be used to confirm that the client and server agree on the ordering of a resource being written.",
          "readOnly": true,
          "type": "string"
        },
        "annotations": {
          "description": "Optional. Annotations is an unstructured key-value map stored with a resource that may be set by external tools to store and retrieve arbitrary metadata. They are not queryable and should be preserved when modifying objects. More info: https://kubernetes.io/docs/user-guide/annotations",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "name": {
          "type": "string",
          "description": "Identifier. The resource name (full URI of the resource) following the standard naming scheme: \"projects/{project}/locations/{location}/unitKinds/{unitKind}\""
        },
        "appParams": {
          "$ref": "AppParams",
          "description": "Optional. AppParams contains the parameters for creating an AppHub Application."
        },
        "updateTime": {
          "format": "google-datetime",
          "readOnly": true,
          "type": "string",
          "description": "Output only. The timestamp when the resource was last updated. Any change to the resource made by users must refresh this value. Changes to a resource made by the service should refresh this value."
        },
        "uid": {
          "type": "string",
          "description": "Output only. The unique identifier of the resource. UID is unique in the time and space for this resource within the scope of the service. It is typically generated by the server on successful creation of a resource and must not be changed. UID is used to uniquely identify resources with resource name reuses. This should be a UUID4.",
          "readOnly": true
        },
        "defaultFlagRevisions": {
          "items": {
            "type": "string"
          },
          "description": "Optional. Default revisions of flags for this UnitKind. Newly created units will use the flag default_flag_revisions present at the time of creation.",
          "type": "array"
        }
      },
      "id": "UnitKind",
      "type": "object"
    },
    "UnitOperationCondition": {
      "type": "object",
      "description": "UnitOperationCondition describes the status of an Unit Operation. UnitOperationCondition is individual components that contribute to an overall state.",
      "id": "UnitOperationCondition",
      "properties": {
        "reason": {
          "description": "Required. Brief reason for the condition's last transition.",
          "type": "string"
        },
        "status": {
          "description": "Required. Status of the condition.",
          "enumDescriptions": [
            "Condition status is unspecified.",
            "Condition is unknown.",
            "Condition is true.",
            "Condition is false."
          ],
          "type": "string",
          "enum": [
            "STATUS_UNSPECIFIED",
            "STATUS_UNKNOWN",
            "STATUS_TRUE",
            "STATUS_FALSE"
          ]
        },
        "message": {
          "type": "string",
          "description": "Required. Human readable message indicating details about the last transition."
        },
        "type": {
          "description": "Required. Type of the condition.",
          "enumDescriptions": [
            "Condition type is unspecified.",
            "Condition type is scheduled.",
            "Condition type is running.",
            "Condition type is succeeded.",
            "Condition type is cancelled.",
            "Indicates if AppHub app has been created.",
            "Indicates if services and workloads have been registered with AppHub.",
            "Indicates if the UnitOperation's core workload execution completed successfully. The workload is the core execution operation performed for a UnitOperation (e.g., provisioning, updating, or deprovisioning resources) excluding post-operation checks."
          ],
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "TYPE_SCHEDULED",
            "TYPE_RUNNING",
            "TYPE_SUCCEEDED",
            "TYPE_CANCELLED",
            "TYPE_APP_CREATED",
            "TYPE_APP_COMPONENTS_REGISTERED",
            "TYPE_WORKLOAD_SUCCEEDED"
          ]
        },
        "lastTransitionTime": {
          "description": "Required. Last time the condition transited from one status to another.",
          "format": "google-datetime",
          "type": "string"
        }
      }
    },
    "FlagUpdate": {
      "type": "object",
      "description": "FlagUpdate is a UnitOperation that pushes new flag values to Units.",
      "properties": {
        "flagRelease": {
          "type": "string",
          "description": "Required. Flag release being applied by UnitOperation."
        }
      },
      "id": "FlagUpdate"
    },
    "Tenant": {
      "type": "object",
      "properties": {
        "labels": {
          "description": "Optional. The labels on the resource, which can be used for categorization. similar to Kubernetes resource labels.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The timestamp when the resource was created."
        },
        "saas": {
          "description": "Required. Immutable. A reference to the Saas that defines the product (managed service) that the producer wants to manage with App Lifecycle Manager. Part of the App Lifecycle Manager common data model.",
          "type": "string"
        },
        "etag": {
          "type": "string",
          "description": "Output only. An opaque value that uniquely identifies a version or generation of a resource. It can be used to confirm that the client and server agree on the ordering of a resource being written.",
          "readOnly": true
        },
        "annotations": {
          "description": "Optional. Annotations is an unstructured key-value map stored with a resource that may be set by external tools to store and retrieve arbitrary metadata. They are not queryable and should be preserved when modifying objects. More info: https://kubernetes.io/docs/user-guide/annotations",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "uid": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The unique identifier of the resource. UID is unique in the time and space for this resource within the scope of the service. It is typically generated by the server on successful creation of a resource and must not be changed. UID is used to uniquely identify resources with resource name reuses. This should be a UUID4."
        },
        "name": {
          "type": "string",
          "description": "Identifier. The resource name (full URI of the resource) following the standard naming scheme: \"projects/{project}/locations/{location}/tenants/{tenant}\""
        },
        "consumerResource": {
          "type": "string",
          "description": "Optional. Immutable. A reference to the consumer resource this SaaS Tenant is representing. The relationship with a consumer resource can be used by App Lifecycle Manager for retrieving consumer-defined settings and policies such as maintenance policies (using Unified Maintenance Policy API)."
        },
        "updateTime": {
          "readOnly": true,
          "description": "Output only. The timestamp when the resource was last updated. Any change to the resource made by users must refresh this value. Changes to a resource made by the service should refresh this value.",
          "format": "google-datetime",
          "type": "string"
        }
      },
      "id": "Tenant",
      "description": "Tenant represents the service producer side of an instance of the service created based on a request from a consumer. In a typical scenario a Tenant has a one-to-one mapping with a resource given out to a service consumer. Example: tenant: name: \"projects/svc1/locations/loc/tenants/inst-068afff8\" consumer_resource: \"projects/gshoe/locations/loc/shoes/black-shoe\""
    },
    "ListFlagAttributesResponse": {
      "id": "ListFlagAttributesResponse",
      "description": "The response structure for the ListFlagAttributes method.",
      "properties": {
        "flagAttributes": {
          "items": {
            "$ref": "FlagAttribute"
          },
          "type": "array",
          "description": "The resulting flag attributes."
        },
        "nextPageToken": {
          "description": "If present, the next page token can be provided to a subsequent ListFlagAttributes call to list the next page. If empty, there are no more pages.",
          "type": "string"
        },
        "unreachable": {
          "type": "array",
          "description": "Locations that could not be reached.",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object"
    },
    "Empty": {
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "type": "object",
      "id": "Empty",
      "properties": {}
    },
    "Release": {
      "id": "Release",
      "type": "object",
      "properties": {
        "applicationTemplateComponent": {
          "$ref": "ComponentRef",
          "readOnly": true,
          "description": "Output only. Reference to component and revision in a composite ApplicationTemplate."
        },
        "inputVariableDefaults": {
          "description": "Optional. Mapping of input variables to default values. Maximum 100",
          "items": {
            "$ref": "UnitVariable"
          },
          "type": "array"
        },
        "annotations": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. Annotations is an unstructured key-value map stored with a resource that may be set by external tools to store and retrieve arbitrary metadata. They are not queryable and should be preserved when modifying objects. More info: https://kubernetes.io/docs/user-guide/annotations"
        },
        "unitKind": {
          "type": "string",
          "description": "Required. Immutable. Reference to the UnitKind this Release corresponds to (required and immutable once created)."
        },
        "name": {
          "type": "string",
          "description": "Identifier. The resource name (full URI of the resource) following the standard naming scheme: \"projects/{project}/locations/{location}/releases/{release}\""
        },
        "etag": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. An opaque value that uniquely identifies a version or generation of a resource. It can be used to confirm that the client and server agree on the ordering of a resource being written."
        },
        "createTime": {
          "format": "google-datetime",
          "readOnly": true,
          "type": "string",
          "description": "Output only. The timestamp when the resource was created."
        },
        "uid": {
          "readOnly": true,
          "description": "Output only. The unique identifier of the resource. UID is unique in the time and space for this resource within the scope of the service. It is typically generated by the server on successful creation of a resource and must not be changed. UID is used to uniquely identify resources with resource name reuses. This should be a UUID4.",
          "type": "string"
        },
        "releaseRequirements": {
          "description": "Optional. Set of requirements to be fulfilled on the Unit when using this Release.",
          "$ref": "ReleaseRequirements"
        },
        "labels": {
          "type": "object",
          "description": "Optional. The labels on the resource, which can be used for categorization. similar to Kubernetes resource labels.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "blueprint": {
          "$ref": "Blueprint",
          "description": "Optional. Blueprints are OCI Images that contain all of the artifacts needed to provision a unit."
        },
        "outputVariables": {
          "items": {
            "$ref": "UnitVariable"
          },
          "readOnly": true,
          "description": "Optional. Output only. List of output variables declared on the blueprint and can be present with their values on the unit status",
          "type": "array"
        },
        "updateTime": {
          "format": "google-datetime",
          "description": "Output only. The timestamp when the resource was last updated. Any change to the resource made by users must refresh this value. Changes to a resource made by the service should refresh this value.",
          "type": "string",
          "readOnly": true
        },
        "inputVariables": {
          "type": "array",
          "items": {
            "$ref": "UnitVariable"
          },
          "description": "Optional. Output only. List of input variables declared on the blueprint and can be present with their values on the unit spec",
          "readOnly": true
        }
      },
      "description": "A new version to be propagated and deployed to units. This includes pointers to packaged blueprints for actuation (e.g Helm or Terraform configuration packages) via artifact registry."
    },
    "Status": {
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "properties": {
        "details": {
          "items": {
            "additionalProperties": {
              "description": "Properties of the object. Contains field @type with type URL.",
              "type": "any"
            },
            "type": "object"
          },
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "type": "array"
        },
        "code": {
          "format": "int32",
          "type": "integer",
          "description": "The status code, which should be an enum value of google.rpc.Code."
        },
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        }
      },
      "id": "Status",
      "type": "object"
    },
    "GoogleCloudLocationLocation": {
      "description": "A resource that represents a Google Cloud location.",
      "type": "object",
      "properties": {
        "displayName": {
          "description": "The friendly name for this location, typically a nearby city name. For example, \"Tokyo\".",
          "type": "string"
        },
        "labels": {
          "description": "Cross-service attributes for the location. For example {\"cloud.googleapis.com/region\": \"us-east1\"}",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "locationId": {
          "type": "string",
          "description": "The canonical id for this location. For example: `\"us-east1\"`."
        },
        "name": {
          "description": "Resource name for the location, which may vary between implementations. For example: `\"projects/example-project/locations/us-east1\"`",
          "type": "string"
        },
        "metadata": {
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "description": "Service-specific metadata. For example the available capacity at the given location.",
          "type": "object"
        }
      },
      "id": "GoogleCloudLocationLocation"
    },
    "FlagRevision": {
      "properties": {
        "snapshot": {
          "$ref": "Flag",
          "readOnly": true,
          "description": "Output only. Immutable. Snapshot of the Flag."
        },
        "updateTime": {
          "format": "google-datetime",
          "readOnly": true,
          "type": "string",
          "description": "Output only. The timestamp when the resource was last updated. Any change to the resource made by users must refresh this value. Changes to a resource made by the service should refresh this value."
        },
        "flag": {
          "description": "Required. Immutable. Name of the Flag this is a revision of.",
          "type": "string"
        },
        "annotations": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. Annotations is an unstructured key-value map stored with a resource that may be set by external tools to store and retrieve arbitrary metadata. They are not queryable and should be preserved when modifying objects. More info: https://kubernetes.io/docs/user-guide/annotations",
          "type": "object"
        },
        "etag": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. An opaque value that uniquely identifies a version or generation of a resource. It can be used to confirm that the client and server agree on the ordering of a resource being written."
        },
        "uid": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The unique identifier of the resource. UID is unique in the time and space for this resource within the scope of the service. It is typically generated by the server on successful creation of a resource and must not be changed. UID is used to uniquely identify resources with resource name reuses. This should be a UUID4."
        },
        "name": {
          "description": "Identifier. The resource name (full URI of the resource) following the standard naming scheme: \"projects/{project}/locations/{location}/flagRevisions/{flag_revision_id}\"",
          "type": "string"
        },
        "evaluationSpec": {
          "$ref": "EvaluationSpec",
          "readOnly": true,
          "description": "Output only. Immutable. Snapshot of the EvaluationSpec for the flag. DEPRECATED: Use snapshot instead.",
          "deprecated": true
        },
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "readOnly": true,
          "description": "Output only. The timestamp when the resource was created."
        },
        "labels": {
          "type": "object",
          "description": "Optional. The labels on the resource, which can be used for categorization. similar to Kubernetes resource labels.",
          "additionalProperties": {
            "type": "string"
          }
        }
      },
      "description": "A snapshot of the EvaluationSpec for the Flag.",
      "id": "FlagRevision",
      "type": "object"
    },
    "ListUnitGroupOperationsResponse": {
      "description": "The response structure for the ListUnitGroupOperations method.",
      "properties": {
        "unitGroupOperations": {
          "description": "The resulting unit group operations.",
          "type": "array",
          "items": {
            "$ref": "UnitGroupOperation"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "If present, the next page token can be provided to a subsequent ListUnitGroupOperations call to list the next page. If empty, there are no more pages."
        },
        "unreachable": {
          "description": "Locations that could not be reached.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "id": "ListUnitGroupOperationsResponse",
      "type": "object"
    },
    "Scope": {
      "type": "object",
      "description": "Scope of an application.",
      "properties": {
        "type": {
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "TYPE_REGIONAL",
            "TYPE_GLOBAL"
          ],
          "description": "Required. Scope Type.",
          "enumDescriptions": [
            "Unspecified type.",
            "Regional type.",
            "Global type."
          ]
        }
      },
      "id": "Scope"
    },
    "ListFlagRevisionsResponse": {
      "description": "The response structure for the ListFlagRevisions method.",
      "type": "object",
      "properties": {
        "unreachable": {
          "description": "Locations that could not be reached.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "If present, the next page token can be provided to a subsequent ListFlagRevisions call to list the next page. If empty, there are no more pages."
        },
        "flagRevisions": {
          "items": {
            "$ref": "FlagRevision"
          },
          "description": "The resulting flag revisions.",
          "type": "array"
        }
      },
      "id": "ListFlagRevisionsResponse"
    },
    "Aggregate": {
      "id": "Aggregate",
      "type": "object",
      "description": "Represents the aggregation of a set of population of like records by a certain group. For example, a collection of unit counts can be aggregated and grouped by their state.",
      "properties": {
        "count": {
          "description": "Required. Number of records in the group.",
          "format": "int32",
          "type": "integer"
        },
        "group": {
          "description": "Required. Group by which to aggregate.",
          "type": "string"
        }
      }
    },
    "UnitGroup": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "Identifier. The resource name (full URI of the resource) following the standard naming scheme: \"projects/{project}/locations/{location}/unitGroups/{unitGroup}\""
        },
        "annotations": {
          "type": "object",
          "description": "Optional. Annotations is an unstructured key-value map stored with a resource that may be set by external tools to store and retrieve arbitrary metadata. They are not queryable and should be preserved when modifying objects. More info: https://kubernetes.io/docs/user-guide/annotations",
          "additionalProperties": {
            "type": "string"
          }
        },
        "createTime": {
          "type": "string",
          "description": "Output only. The timestamp when the resource was created.",
          "format": "google-datetime",
          "readOnly": true
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. The labels on the resource, which can be used for categorization. similar to Kubernetes resource labels.",
          "type": "object"
        },
        "etag": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. An opaque value that uniquely identifies a version or generation of a resource. It can be used to confirm that the client and server agree on the ordering of a resource being written."
        },
        "updateTime": {
          "type": "string",
          "description": "Output only. The timestamp when the resource was last updated. Any change to the resource made by users must refresh this value. Changes to a resource made by the service should refresh this value.",
          "readOnly": true,
          "format": "google-datetime"
        },
        "uid": {
          "type": "string",
          "description": "Output only. The unique identifier of the resource. UID is unique in the time and space for this resource within the scope of the service. It is typically generated by the server on successful creation of a resource and must not be changed. UID is used to uniquely identify resources with resource name reuses. This should be a UUID4.",
          "readOnly": true
        }
      },
      "id": "UnitGroup",
      "description": "UnitGroup represents a set of Units to be used by a Tenant. In pooling scenarios, the UnitGroup may be created and provisioned before the Tenant is created."
    },
    "RolloutControl": {
      "properties": {
        "action": {
          "description": "Required. Action to be performed on the Rollout. The default behavior is to run the rollout until it naturally reaches a terminal state.",
          "type": "string",
          "enum": [
            "ROLLOUT_ACTION_UNSPECIFIED",
            "ROLLOUT_ACTION_RUN",
            "ROLLOUT_ACTION_PAUSE",
            "ROLLOUT_ACTION_CANCEL"
          ],
          "enumDescriptions": [
            "Unspecified action, will be treated as RUN by default.",
            "Run the Rollout until it naturally reaches a terminal state. A rollout requested to run will progress through all natural Rollout States (such as RUNNING -> SUCCEEDED or RUNNING -> FAILED). If retriable errors are encountered during the rollout, the rollout will paused by default and can be resumed by re-requesting this RUN action.",
            "Pause the Rollout until it is resumed (i.e. RUN is requested).",
            "Cancel the Rollout permanently."
          ]
        },
        "runParams": {
          "$ref": "RunRolloutActionParams",
          "description": "Optional. Parameters for the RUN action. It is an error to specify this if the RolloutAction is not set to RUN. By default, the rollout will retry failed operations when resumed."
        }
      },
      "description": "RolloutControl provides a way to request a change to the execution of a Rollout by pausing or canceling it.",
      "id": "RolloutControl",
      "type": "object"
    },
    "Flag": {
      "properties": {
        "evaluationSpec": {
          "$ref": "EvaluationSpec",
          "description": "Optional. Specification of how the flag value should be evaluated. If a bool flag is created without an evaluation_spec specified, two default variants, \"Enabled\" (with bool_value = true) and \"Disabled\" (with bool_value = false), are created by default, and \"Disabled\" is set as the default_target."
        },
        "unitKind": {
          "description": "Required. Immutable. UnitKind that can consume this flag.",
          "type": "string"
        },
        "variants": {
          "description": "Optional. A list of variants.",
          "type": "array",
          "items": {
            "$ref": "FlagVariant"
          }
        },
        "uid": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The unique identifier of the resource. UID is unique in the time and space for this resource within the scope of the service. It is typically generated by the server on successful creation of a resource and must not be changed. UID is used to uniquely identify resources with resource name reuses. This should be a UUID4."
        },
        "flagSet": {
          "description": "Optional. Flag set this flag belongs to.",
          "type": "string"
        },
        "description": {
          "description": "Optional. Description of the flag. Max length: 500 bytes.",
          "type": "string"
        },
        "valueType": {
          "enum": [
            "FLAG_VALUE_TYPE_UNSPECIFIED",
            "FLAG_VALUE_TYPE_BOOL",
            "FLAG_VALUE_TYPE_INT",
            "FLAG_VALUE_TYPE_STRING",
            "FLAG_VALUE_TYPE_DOUBLE"
          ],
          "enumDescriptions": [
            "",
            "Boolean flag value type.",
            "Integer flag value type.",
            "String flag value type.",
            "Double flag type."
          ],
          "deprecated": true,
          "type": "string",
          "description": "Optional. Immutable. Deprecated: Use `flag_value_type` instead. Flag value type."
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. The timestamp when the resource was created."
        },
        "labels": {
          "type": "object",
          "description": "Optional. The labels on the resource, which can be used for categorization. similar to Kubernetes resource labels.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "state": {
          "enumDescriptions": [
            "Flag state is unspecified.",
            "Flag is in development state.",
            "Flag is in active state.",
            "Flag is in deprecated state.",
            "Flag is in cleanup state."
          ],
          "description": "Optional. Current state of the flag.",
          "type": "string",
          "enum": [
            "FLAG_STATE_UNSPECIFIED",
            "FLAG_STATE_IN_DEVELOPMENT",
            "FLAG_STATE_ACTIVE",
            "FLAG_STATE_SUNSETTING",
            "FLAG_STATE_CLEANUP"
          ]
        },
        "annotations": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. Annotations is an unstructured key-value map stored with a resource that may be set by external tools to store and retrieve arbitrary metadata. They are not queryable and should be preserved when modifying objects. More info: https://kubernetes.io/docs/user-guide/annotations"
        },
        "flagValueType": {
          "description": "Optional. Immutable. Flag value type.",
          "type": "string",
          "enum": [
            "FLAG_VALUE_TYPE_UNSPECIFIED",
            "FLAG_VALUE_TYPE_BOOLEAN",
            "FLAG_VALUE_TYPE_INTEGER",
            "FLAG_VALUE_TYPE_STRING",
            "FLAG_VALUE_TYPE_DOUBLE"
          ],
          "enumDescriptions": [
            "Unspecified flag value type.",
            "Boolean flag value type.",
            "Integer flag value type.",
            "String flag value type.",
            "Double flag value type."
          ]
        },
        "etag": {
          "type": "string",
          "description": "Output only. An opaque value that uniquely identifies a version or generation of a resource. It can be used to confirm that the client and server agree on the ordering of a resource being written.",
          "readOnly": true
        },
        "name": {
          "description": "Identifier. The resource name (full URI of the resource) following the standard naming scheme: \"projects/{project}/locations/{location}/flags/{flag_id}\"",
          "type": "string"
        },
        "key": {
          "description": "Required. Immutable. Flag key used in runtime evaluation APIs (OpenFeature). Max length: 256 bytes.",
          "type": "string"
        },
        "updateTime": {
          "type": "string",
          "description": "Output only. The timestamp when the resource was last updated. Any change to the resource made by users must refresh this value. Changes to a resource made by the service should refresh this value.",
          "format": "google-datetime",
          "readOnly": true
        }
      },
      "id": "Flag",
      "type": "object",
      "description": "Represents a single Flag."
    },
    "Schedule": {
      "type": "object",
      "properties": {
        "startTime": {
          "type": "string",
          "description": "Optional. Start of operation. If not set, will be set to the start of the next window. (optional)",
          "format": "google-datetime"
        }
      },
      "id": "Schedule",
      "description": "A time specification to schedule the maintenance."
    },
    "Upgrade": {
      "properties": {
        "release": {
          "type": "string",
          "description": "Optional. Reference to the Release object to use for the Unit. (optional)."
        },
        "inputVariables": {
          "items": {
            "$ref": "UnitVariable"
          },
          "description": "Optional. Set of input variables. Maximum 100. (optional)",
          "type": "array"
        }
      },
      "type": "object",
      "description": "Upgrade is the unit operation that upgrades a provisioned unit, which may also include the underlying resources represented by a Unit. Can only execute if the Unit is currently provisioned.",
      "id": "Upgrade"
    },
    "ListUnitGroupsResponse": {
      "type": "object",
      "id": "ListUnitGroupsResponse",
      "properties": {
        "unitGroups": {
          "type": "array",
          "description": "The resulting unit groups.",
          "items": {
            "$ref": "UnitGroup"
          }
        },
        "unreachable": {
          "description": "Locations that could not be reached.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "If present, the next page token can be provided to a subsequent ListUnitGroups call to list the next page. If empty, there are no more pages."
        }
      },
      "description": "The response structure for the ListUnitGroups method."
    },
    "Saas": {
      "description": "Saas is a representation of a SaaS service managed by the Producer.",
      "id": "Saas",
      "properties": {
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. The labels on the resource, which can be used for categorization. similar to Kubernetes resource labels.",
          "type": "object"
        },
        "uid": {
          "type": "string",
          "description": "Output only. The unique identifier of the resource. UID is unique in the time and space for this resource within the scope of the service. It is typically generated by the server on successful creation of a resource and must not be changed. UID is used to uniquely identify resources with resource name reuses. This should be a UUID4.",
          "readOnly": true
        },
        "name": {
          "description": "Identifier. The resource name (full URI of the resource) following the standard naming scheme: \"projects/{project}/locations/{location}/saas/{saas}\"",
          "type": "string"
        },
        "applicationTemplate": {
          "description": "Reference to composite ApplicationTemplate. When specified, the template components will be imported into their equivalent UnitKind, Release and Blueprint resources. Deleted references will not delete imported resources. Should only be specified on source regions, and be unspecified on replica regions.",
          "$ref": "CompositeRef"
        },
        "etag": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. An opaque value that uniquely identifies a version or generation of a resource. It can be used to confirm that the client and server agree on the ordering of a resource being written."
        },
        "updateTime": {
          "description": "Output only. The timestamp when the resource was last updated. Any change to the resource made by users must refresh this value. Changes to a resource made by the service should refresh this value.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "createTime": {
          "description": "Output only. The timestamp when the resource was created.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "error": {
          "$ref": "Status",
          "readOnly": true,
          "description": "Output only. If the state is FAILED, the corresponding error code and message. Defaults to code=OK for all other states."
        },
        "locations": {
          "items": {
            "$ref": "Location"
          },
          "type": "array",
          "description": "Optional. List of locations that the service is available in. Rollout refers to the list to generate a rollout plan."
        },
        "conditions": {
          "type": "array",
          "items": {
            "$ref": "SaasCondition"
          },
          "readOnly": true,
          "description": "Output only. A set of conditions which indicate the various conditions this resource can have."
        },
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "STATE_TYPE_UNSPECIFIED",
            "STATE_ACTIVE",
            "STATE_RUNNING",
            "STATE_FAILED"
          ],
          "enumDeprecated": [
            false,
            true,
            false,
            false,
            false
          ],
          "readOnly": true,
          "enumDescriptions": [
            "State is unspecified.",
            "State type is unspecified. Deprecated: Use STATE_UNSPECIFIED instead.",
            "The Saas is ready",
            "In the process of importing, synchronizing or replicating ApplicationTemplates",
            "Failure during process of importing, synchronizing or replicating ApplicationTemplate processing"
          ],
          "type": "string",
          "description": "Output only. State of the Saas. It is always in STATE_ACTIVE state if the application_template is empty."
        },
        "blueprintRepo": {
          "description": "Output only. Name of repository in Artifact Registry for system-generated Blueprints, eg. Blueprints of imported ApplicationTemplates.",
          "readOnly": true,
          "type": "string"
        },
        "annotations": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. Annotations is an unstructured key-value map stored with a resource that may be set by external tools to store and retrieve arbitrary metadata. They are not queryable and should be preserved when modifying objects. More info: https://kubernetes.io/docs/user-guide/annotations"
        }
      },
      "type": "object"
    },
    "UnitDependency": {
      "properties": {
        "unit": {
          "description": "Output only. A reference to the Unit object.",
          "type": "string",
          "readOnly": true
        },
        "alias": {
          "type": "string",
          "description": "Output only. Alias for the name of the dependency.",
          "readOnly": true
        }
      },
      "type": "object",
      "id": "UnitDependency",
      "description": "Set of dependencies for this unit. Maximum 10."
    },
    "UnitUpdatePacing": {
      "properties": {
        "maxConcurrentOperationsPercent": {
          "$ref": "Decimal",
          "description": "Optional. The maximum percentage of total units in the scope that can be in-flight. Example: 10.5 for 10.5%. If both percent and count are provided, the system uses the MINIMUM (most restrictive)."
        },
        "maxConcurrentOperationsCount": {
          "format": "int32",
          "type": "integer",
          "description": "Optional. An absolute cap on concurrent units operations. If both percent and count are provided, the system uses the MINIMUM (most restrictive)."
        }
      },
      "id": "UnitUpdatePacing",
      "type": "object",
      "description": "UnitUpdatePacing defines the policy for the maximum number of unit operations that can run for a rollout in parallel in a single region."
    },
    "FromMapping": {
      "id": "FromMapping",
      "type": "object",
      "description": "Output variables whose values will be passed on to dependencies",
      "properties": {
        "dependency": {
          "type": "string",
          "description": "Required. Alias of the dependency that the outputVariable will pass its value to"
        },
        "outputVariable": {
          "type": "string",
          "description": "Required. Name of the outputVariable on the dependency"
        }
      }
    },
    "Blueprint": {
      "description": "Blueprints are OCI Images that contain all of the artifacts needed to provision a unit. Metadata such as, type of the engine used to actuate the blueprint (e.g. terraform, helm etc) and version will come from the image manifest. If the hostname is omitted, it will be assumed to be the regional path to Artifact Registry (eg. us-east1-docker.pkg.dev).",
      "id": "Blueprint",
      "type": "object",
      "properties": {
        "package": {
          "type": "string",
          "description": "Optional. Immutable. URI to a blueprint used by the Unit (required unless unitKind or release is set)."
        },
        "engine": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Type of the engine used to actuate the blueprint. e.g. terraform, helm etc."
        },
        "version": {
          "type": "string",
          "description": "Output only. Version metadata if present on the blueprint.",
          "readOnly": true
        }
      }
    },
    "UnitCondition": {
      "type": "object",
      "properties": {
        "reason": {
          "type": "string",
          "description": "Required. Brief reason for the condition's last transition."
        },
        "status": {
          "enumDescriptions": [
            "Condition status is unspecified.",
            "Condition is unknown.",
            "Condition is true.",
            "Condition is false."
          ],
          "description": "Required. Status of the condition.",
          "type": "string",
          "enum": [
            "STATUS_UNSPECIFIED",
            "STATUS_UNKNOWN",
            "STATUS_TRUE",
            "STATUS_FALSE"
          ]
        },
        "message": {
          "type": "string",
          "description": "Required. Human readable message indicating details about the last transition."
        },
        "lastTransitionTime": {
          "type": "string",
          "description": "Required. Last time the condition transited from one status to another.",
          "format": "google-datetime"
        },
        "type": {
          "description": "Required. Type of the condition.",
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "TYPE_READY",
            "TYPE_UPDATING",
            "TYPE_PROVISIONED",
            "TYPE_OPERATION_ERROR",
            "TYPE_FLAGS_CONFIG_INITIALIZED",
            "TYPE_APP_CREATED_OR_ALREADY_EXISTS",
            "TYPE_APP_COMPONENTS_REGISTERED"
          ],
          "enumDescriptions": [
            "Condition type is unspecified.",
            "Condition type is ready.",
            "Condition type is updating.",
            "Condition type is provisioned.",
            "Condition type is operationError. True when the last unit operation fails with a non-ignorable error.",
            "Condition type is flagsConfigInitialized. True when the flags configuration is synchronized and ready to be served.",
            "Indicates if AppHub app has been created or if Apphub app has already existed.",
            "Indicates if services and workloads have been registered with AppHub."
          ]
        }
      },
      "description": "UnitCondition describes the status of an Unit. UnitCondition is individual components that contribute to an overall state.",
      "id": "UnitCondition"
    },
    "FlagRevisionList": {
      "id": "FlagRevisionList",
      "type": "object",
      "description": "Wrapper for a list of flag revisions.",
      "properties": {
        "revisions": {
          "description": "Required. FlagRevisions to be rolled out.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      }
    },
    "FlagSetList": {
      "id": "FlagSetList",
      "description": "Wrapper for a list of flag sets.",
      "properties": {
        "sets": {
          "items": {
            "type": "string"
          },
          "description": "Required. Flag sets to be rolled out.",
          "type": "array"
        }
      },
      "type": "object"
    },
    "ListFlagReleasesResponse": {
      "type": "object",
      "id": "ListFlagReleasesResponse",
      "description": "The response structure for the ListFlagReleases method.",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "If present, the next page token can be provided to a subsequent ListFlagReleases call to list the next page. If empty, there are no more pages."
        },
        "flagReleases": {
          "type": "array",
          "description": "The resulting flag releases.",
          "items": {
            "$ref": "FlagRelease"
          }
        },
        "unreachable": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Locations that could not be reached."
        }
      }
    },
    "RunRolloutActionParams": {
      "description": "Parameters for the RUN action controlling the behavior of the rollout when it is resumed from a PAUSED state.",
      "properties": {
        "retryFailedOperations": {
          "description": "Required. If true, the rollout will retry failed operations when resumed. This is applicable only the current state of the Rollout is PAUSED and the requested action is RUN.",
          "type": "boolean"
        }
      },
      "id": "RunRolloutActionParams",
      "type": "object"
    },
    "ListSaasResponse": {
      "properties": {
        "unreachable": {
          "description": "Locations that could not be reached.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "saas": {
          "items": {
            "$ref": "Saas"
          },
          "type": "array",
          "description": "The resulting saas."
        },
        "nextPageToken": {
          "description": "If present, the next page token can be provided to a subsequent ListSaas call to list the next page. If empty, there are no more pages.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "The response structure for the ListSaas method.",
      "id": "ListSaasResponse"
    },
    "FlagVariant": {
      "description": "Variant is an identifier for a value (name assigned to a value).",
      "type": "object",
      "id": "FlagVariant",
      "properties": {
        "integerValue": {
          "type": "string",
          "description": "Optional. Integer variant value.",
          "format": "int64"
        },
        "doubleValue": {
          "format": "double",
          "description": "Optional. Double variant value.",
          "type": "number"
        },
        "trackingId": {
          "description": "Optional. trackingId is unique depending on name and value of the variant within the scope of the service. It is typically generated by the server and must not be changed. trackingId is used to uniquely identify and track variants.",
          "type": "string"
        },
        "booleanValue": {
          "description": "Optional. Boolean variant value.",
          "type": "boolean"
        },
        "description": {
          "type": "string",
          "description": "Optional. A human-readable description of what this variant does or represents."
        },
        "id": {
          "type": "string",
          "description": "Required. Variant ID. Max length: 128 bytes."
        },
        "stringValue": {
          "type": "string",
          "description": "Optional. String variant value."
        }
      }
    },
    "ListFlagsResponse": {
      "id": "ListFlagsResponse",
      "description": "The response structure for the ListFlags method.",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "If present, the next page token can be provided to a subsequent ListFlags call to list the next page. If empty, there are no more pages.",
          "type": "string"
        },
        "flags": {
          "items": {
            "$ref": "Flag"
          },
          "description": "The resulting flags.",
          "type": "array"
        },
        "unreachable": {
          "description": "Locations that could not be reached.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "Provision": {
      "type": "object",
      "description": "Provision is the unit operation that provision the underlying resources represented by a Unit. Can only execute if the Unit is not currently provisioned.",
      "id": "Provision",
      "properties": {
        "inputVariables": {
          "type": "array",
          "description": "Optional. Set of input variables. Maximum 100. (optional)",
          "items": {
            "$ref": "UnitVariable"
          }
        },
        "release": {
          "type": "string",
          "description": "Optional. Reference to the Release object to use for the Unit. (optional)."
        }
      }
    },
    "UnitGroupOperation": {
      "type": "object",
      "properties": {
        "etag": {
          "description": "Output only. An opaque value that uniquely identifies a version or generation of a resource. It can be used to confirm that the client and server agree on the ordering of a resource being written.",
          "type": "string",
          "readOnly": true
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The timestamp when the resource was created."
        },
        "uid": {
          "description": "Output only. The unique identifier of the resource. UID is unique in the time and space for this resource within the scope of the service. It is typically generated by the server on successful creation of a resource and must not be changed. UID is used to uniquely identify resources with resource name reuses. This should be a UUID4.",
          "readOnly": true,
          "type": "string"
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Optional. The labels on the resource, which can be used for categorization. similar to Kubernetes resource labels."
        },
        "annotations": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. Annotations is an unstructured key-value map stored with a resource that may be set by external tools to store and retrieve arbitrary metadata. They are not queryable and should be preserved when modifying objects. More info: https://kubernetes.io/docs/user-guide/annotations"
        },
        "updateTime": {
          "type": "string",
          "description": "Output only. The timestamp when the resource was last updated. Any change to the resource made by users must refresh this value. Changes to a resource made by the service should refresh this value.",
          "readOnly": true,
          "format": "google-datetime"
        },
        "name": {
          "type": "string",
          "description": "Identifier. The resource name (full URI of the resource) following the standard naming scheme: \"projects/{project}/locations/{location}/unitGroupOperations/{unitGroupOperation}\""
        }
      },
      "id": "UnitGroupOperation",
      "description": "UnitGroupOperation represents an operation on a UnitGroup."
    },
    "VariableMapping": {
      "properties": {
        "from": {
          "$ref": "FromMapping",
          "description": "Optional. Output variables which will get their values from dependencies"
        },
        "variable": {
          "description": "Required. name of the variable",
          "type": "string"
        },
        "to": {
          "description": "Optional. Input variables whose values will be passed on to dependencies.",
          "$ref": "ToMapping"
        }
      },
      "description": "Mapping of input variables to their respective output variable for depedenencies",
      "type": "object",
      "id": "VariableMapping"
    },
    "SaasCondition": {
      "description": "SaasCondition describes the status of a Saas.",
      "type": "object",
      "properties": {
        "reason": {
          "description": "Required. Brief reason for the condition's last transition.",
          "type": "string"
        },
        "status": {
          "description": "Required. Status of the condition.",
          "enumDescriptions": [
            "Condition status is unspecified.",
            "Condition is unknown.",
            "Condition is true.",
            "Condition is false."
          ],
          "type": "string",
          "enum": [
            "STATUS_UNSPECIFIED",
            "STATUS_UNKNOWN",
            "STATUS_TRUE",
            "STATUS_FALSE"
          ]
        },
        "message": {
          "description": "Required. Human readable message indicating details about the last transition.",
          "type": "string"
        },
        "lastTransitionTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Required. Last time the condition transited from one status to another."
        },
        "type": {
          "enumDescriptions": [
            "Condition type is unspecified.",
            "Condition type is ready.",
            "Condition type is synchronized."
          ],
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "TYPE_READY",
            "TYPE_SYNCHRONIZED"
          ],
          "description": "Required. Type of the condition."
        }
      },
      "id": "SaasCondition"
    },
    "ListLocationsResponse": {
      "properties": {
        "locations": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudLocationLocation"
          },
          "description": "A list of locations that matches the specified filter in the request."
        },
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        }
      },
      "id": "ListLocationsResponse",
      "type": "object",
      "description": "The response message for Locations.ListLocations."
    },
    "EvaluationRule": {
      "type": "object",
      "properties": {
        "condition": {
          "description": "Required. A Common Expression Language (CEL) expression that evaluates to a boolean. The expression is evaluated against the provided context. If it returns true, the rule's target is applied.",
          "type": "string"
        },
        "id": {
          "description": "Required. Evaluation rule ID. Max length: 128 bytes.",
          "type": "string"
        },
        "variantId": {
          "description": "Optional. The name of a variant to target.",
          "type": "string"
        },
        "allocationId": {
          "type": "string",
          "description": "Optional. The ID of an allocation to target."
        },
        "target": {
          "type": "string",
          "description": "Optional. Deprecated: Use `rule_target` instead. The target variant or allocation to apply if the condition is met. This should match the name of a defined variant or allocation's ID.",
          "deprecated": true
        }
      },
      "id": "EvaluationRule",
      "description": "EvaluationRule defines a single rule for evaluating a feature flag. A rule consists of a condition that, if met, assigns a specific variant or allocation to the user."
    },
    "ListTenantsResponse": {
      "type": "object",
      "id": "ListTenantsResponse",
      "description": "The response structure for the ListTenants method.",
      "properties": {
        "tenants": {
          "type": "array",
          "items": {
            "$ref": "Tenant"
          },
          "description": "The resulting tenants."
        },
        "unreachable": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Locations that could not be reached."
        },
        "nextPageToken": {
          "description": "If present, the next page token can be provided to a subsequent ListTenants call to list the next page. If empty, there are no more pages.",
          "type": "string"
        }
      }
    },
    "Deprovision": {
      "properties": {},
      "type": "object",
      "id": "Deprovision",
      "description": "Deprovision is the unit operation that deprovision the underlying resources represented by a Unit. Can only execute if the Unit is currently provisioned."
    },
    "UnitVariable": {
      "description": "UnitVariable describes a parameter for a Unit.",
      "type": "object",
      "id": "UnitVariable",
      "properties": {
        "type": {
          "enumDescriptions": [
            "Variable type is unspecified.",
            "Variable type is string.",
            "Variable type is int.",
            "Variable type is bool.",
            "Variable type is struct.",
            "Variable type is list."
          ],
          "description": "Optional. Immutable. Name of a supported variable type. Supported types are string, int, bool.",
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "STRING",
            "INT",
            "BOOL",
            "STRUCT",
            "LIST"
          ]
        },
        "value": {
          "description": "Optional. String encoded value for the variable.",
          "type": "string"
        },
        "variable": {
          "type": "string",
          "description": "Required. Immutable. Name of the variable from actuation configs."
        }
      }
    },
    "FlagAttribute": {
      "description": "FlagAttribute defines a custom property in the evaluation context.",
      "id": "FlagAttribute",
      "properties": {
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. The labels on the resource, which can be used for categorization. similar to Kubernetes resource labels.",
          "type": "object"
        },
        "attributeValueType": {
          "enumDescriptions": [
            "Unspecified flag attribute value type.",
            "Boolean flag attribute value type.",
            "Integer flag attribute value type.",
            "String flag attribute value type.",
            "Double flag attribute value type."
          ],
          "type": "string",
          "enum": [
            "FLAG_ATTRIBUTE_VALUE_TYPE_UNSPECIFIED",
            "FLAG_ATTRIBUTE_VALUE_TYPE_BOOLEAN",
            "FLAG_ATTRIBUTE_VALUE_TYPE_INTEGER",
            "FLAG_ATTRIBUTE_VALUE_TYPE_STRING",
            "FLAG_ATTRIBUTE_VALUE_TYPE_DOUBLE"
          ],
          "description": "Optional. Immutable. Type of the attribute."
        },
        "updateTime": {
          "readOnly": true,
          "description": "Output only. The timestamp when the resource was last updated. Any change to the resource made by users must refresh this value. Changes to a resource made by the service should refresh this value.",
          "format": "google-datetime",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Identifier. The resource name (full URI of the resource) following the standard naming scheme: \"projects/{project}/locations/{location}/flagAttributes/{flag_attribute_id}\""
        },
        "key": {
          "type": "string",
          "description": "Required. Immutable. The identifier for the attribute, used as the key in the evaluation context. The attribute key is referenced in the evaluation rules and used in the OpenFeature evaluation API to specify the attribute context."
        },
        "etag": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. An opaque value that uniquely identifies a version or generation of a resource. It can be used to confirm that the client and server agree on the ordering of a resource being written."
        },
        "uid": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The unique identifier of the resource. UID is unique in the time and space for this resource within the scope of the service. It is typically generated by the server on successful creation of a resource and must not be changed. UID is used to uniquely identify resources with resource name reuses. This should be a UUID4."
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The timestamp when the resource was created."
        },
        "annotations": {
          "type": "object",
          "description": "Optional. Annotations is an unstructured key-value map stored with a resource that may be set by external tools to store and retrieve arbitrary metadata. They are not queryable and should be preserved when modifying objects. More info: https://kubernetes.io/docs/user-guide/annotations",
          "additionalProperties": {
            "type": "string"
          }
        },
        "valueType": {
          "description": "Optional. Immutable. Deprecated: Use `attribute_value_type` instead. Type of the attribute.",
          "enum": [
            "FLAG_ATTRIBUTE_VALUE_TYPE_UNSPECIFIED",
            "BOOLEAN",
            "INTEGER",
            "STRING",
            "DOUBLE"
          ],
          "deprecated": true,
          "type": "string",
          "enumDescriptions": [
            "Unspecified flag attribute value type.",
            "Boolean flag attribute value type.",
            "Integer flag attribute value type.",
            "String flag attribute value type.",
            "Double flag attribute value type."
          ]
        }
      },
      "type": "object"
    },
    "AllocationSlot": {
      "description": "AllocationSlot specifies a variant and the proportion of traffic allocated to it.",
      "properties": {
        "variant": {
          "type": "string",
          "description": "Required. Variant of the allocation slot."
        },
        "weight": {
          "description": "Required. Weight defines the proportion of traffic to allocate to the variant, relative to other slots in the same allocation.",
          "format": "int32",
          "type": "integer"
        }
      },
      "type": "object",
      "id": "AllocationSlot"
    },
    "Location": {
      "description": "Location information that the service is available in.",
      "id": "Location",
      "properties": {
        "name": {
          "description": "Optional. Name of location.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "ListReleasesResponse": {
      "id": "ListReleasesResponse",
      "properties": {
        "unreachable": {
          "description": "Locations that could not be reached.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "releases": {
          "description": "The resulting releases.",
          "items": {
            "$ref": "Release"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "If present, the next page token can be provided to a subsequent ListReleases call to list the next page. If empty, there are no more pages.",
          "type": "string"
        }
      },
      "description": "The response structure for the ListReleases method.",
      "type": "object"
    },
    "ListRolloutKindsResponse": {
      "description": "The response structure for the ListRolloutKinds method.",
      "id": "ListRolloutKindsResponse",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "If present, the next page token can be provided to a subsequent ListRolloutKinds call to list the next page. If empty, there are no more pages."
        },
        "rolloutKinds": {
          "items": {
            "$ref": "RolloutKind"
          },
          "description": "The resulting rollout kinds.",
          "type": "array"
        },
        "unreachable": {
          "description": "Locations that could not be reached.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "ListUnitOperationsResponse": {
      "description": "The response structure for the ListUnitOperations method.",
      "type": "object",
      "id": "ListUnitOperationsResponse",
      "properties": {
        "unitOperations": {
          "items": {
            "$ref": "UnitOperation"
          },
          "type": "array",
          "description": "The resulting unit operations."
        },
        "nextPageToken": {
          "description": "If present, the next page token can be provided to a subsequent ListUnitOperations call to list the next page. If empty, there are no more pages.",
          "type": "string"
        },
        "unreachable": {
          "type": "array",
          "description": "Locations that could not be reached.",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "ErrorBudget": {
      "description": "The configuration for error budget. If the number of failed units exceeds max(allowed_count, allowed_ratio * total_units), the rollout will be paused.",
      "properties": {
        "allowedPercentage": {
          "format": "int32",
          "description": "Optional. The maximum percentage of units allowed to fail (0, 100] within a location without pausing the rollout.",
          "type": "integer"
        },
        "allowedCount": {
          "description": "Optional. The maximum number of failed units allowed in a location without pausing the rollout.",
          "type": "integer",
          "format": "int32"
        }
      },
      "type": "object",
      "id": "ErrorBudget"
    },
    "Rollout": {
      "properties": {
        "endTime": {
          "format": "google-datetime",
          "description": "Optional. Output only. The time when the rollout finished execution (regardless of success, failure, or cancellation). Will be empty if the rollout hasn't finished yet. Once set, the rollout is in terminal state and all the results are final.",
          "readOnly": true,
          "type": "string"
        },
        "uid": {
          "description": "Output only. The unique identifier of the resource. UID is unique in the time and space for this resource within the scope of the service. It is typically generated by the server on successful creation of a resource and must not be changed. UID is used to uniquely identify resources with resource name reuses. This should be a UUID4.",
          "readOnly": true,
          "type": "string"
        },
        "rolloutOrchestrationStrategy": {
          "description": "Optional. The strategy used for executing this Rollout. This strategy will override whatever strategy is specified in the RolloutKind. If not specified on creation, the strategy from RolloutKind will be used. There are two supported values strategies which are used to control - \"Google.Cloud.Simple.AllAtOnce\" - \"Google.Cloud.Simple.OneLocationAtATime\" A rollout with one of these simple strategies will rollout across all locations defined in the targeted UnitKind's Saas Locations.",
          "type": "string"
        },
        "createTime": {
          "type": "string",
          "description": "Output only. The timestamp when the resource was created.",
          "format": "google-datetime",
          "readOnly": true
        },
        "flagRelease": {
          "type": "string",
          "description": "Optional. Immutable. Name of the FlagRelease to be rolled out to the target Units. Release and FlagRelease are mutually exclusive. Note: `release` comment needs to be adjusted to mention that \"Release and FlagRelease are mutually exclusive\" when visibility restriction will be lifted."
        },
        "stateTransitionTime": {
          "description": "Optional. Output only. The time when the rollout transitioned into its current state.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "state": {
          "enumDescriptions": [
            "Unspecified state.",
            "Rollout is in progress.",
            "Rollout has been paused.",
            "Rollout completed successfully.",
            "Rollout has failed.",
            "Rollout has been canceled.",
            "Rollout is waiting for some condition to be met before starting.",
            "Rollout is being canceled.",
            "Rollout is being resumed.",
            "Rollout is being paused."
          ],
          "readOnly": true,
          "type": "string",
          "description": "Output only. Current state of the rollout.",
          "enum": [
            "ROLLOUT_STATE_UNSPECIFIED",
            "ROLLOUT_STATE_RUNNING",
            "ROLLOUT_STATE_PAUSED",
            "ROLLOUT_STATE_SUCCEEDED",
            "ROLLOUT_STATE_FAILED",
            "ROLLOUT_STATE_CANCELLED",
            "ROLLOUT_STATE_WAITING",
            "ROLLOUT_STATE_CANCELLING",
            "ROLLOUT_STATE_RESUMING",
            "ROLLOUT_STATE_PAUSING"
          ]
        },
        "rolloutKind": {
          "type": "string",
          "description": "Required. Immutable. Name of the RolloutKind this rollout is stemming from and adhering to."
        },
        "stats": {
          "$ref": "RolloutStats",
          "readOnly": true,
          "description": "Optional. Output only. Details about the progress of the rollout."
        },
        "stateMessage": {
          "description": "Output only. Human readable message indicating details about the last state transition.",
          "readOnly": true,
          "type": "string"
        },
        "rootRollout": {
          "readOnly": true,
          "type": "string",
          "description": "Optional. Output only. The root rollout that this rollout is stemming from. The resource name (full URI of the resource) following the standard naming scheme: \"projects/{project}/locations/{location}/rollouts/{rollout_id}\""
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. The labels on the resource, which can be used for categorization. similar to Kubernetes resource labels.",
          "type": "object"
        },
        "name": {
          "description": "Identifier. The resource name (full URI of the resource) following the standard naming scheme: \"projects/{project}/locations/{location}/rollout/{rollout_id}\"",
          "type": "string"
        },
        "deleteTime": {
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. The timestamp when the resource was marked for deletion (deletion is an asynchronous operation).",
          "type": "string"
        },
        "parentRollout": {
          "readOnly": true,
          "type": "string",
          "description": "Optional. Output only. The direct parent rollout that this rollout is stemming from. The resource name (full URI of the resource) following the standard naming scheme: \"projects/{project}/locations/{location}/rollouts/{rollout_id}\""
        },
        "control": {
          "description": "Optional. Requested change to the execution of this rollout. Default RolloutControl.action is ROLLOUT_ACTION_RUN meaning the rollout will be executed to completion while progressing through all natural Rollout States (such as RUNNING -> SUCCEEDED or RUNNING -> FAILED). Requests can only be made when the Rollout is in a non-terminal state.",
          "$ref": "RolloutControl"
        },
        "effectiveUnitFilter": {
          "type": "string",
          "description": "Optional. Output only. Output only snapshot of the effective unit filter at Rollout start time. Contains a CEL(https://github.com/google/cel-spec) expression consisting of a conjunction of Rollout.unit_filter and RolloutKind.unit_filter. This field captures the filter applied by the Rollout to determine the Unit population. If the associated RolloutKind's unit_filter is modified after the rollout is started, it will not be updated here.",
[...]
