{
  "rootUrl": "https://saasservicemgmt.googleapis.com/",
  "kind": "discovery#restDescription",
  "baseUrl": "https://saasservicemgmt.googleapis.com/",
  "mtlsRootUrl": "https://saasservicemgmt.mtls.googleapis.com/",
  "description": "Model, deploy, and operate your SaaS at scale. ",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "discoveryVersion": "v1",
  "parameters": {
    "access_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth access token."
    },
    "oauth_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth 2.0 token for the current user."
    },
    "quotaUser": {
      "type": "string",
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "prettyPrint": {
      "type": "boolean",
      "default": "true",
      "location": "query",
      "description": "Returns response with indentations and line breaks."
    },
    "alt": {
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "type": "string",
      "default": "json",
      "location": "query",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "description": "Data format for response."
    },
    "callback": {
      "type": "string",
      "location": "query",
      "description": "JSONP"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string",
      "location": "query"
    },
    "key": {
      "type": "string",
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "$.xgafv": {
      "enum": [
        "1",
        "2"
      ],
      "type": "string",
      "location": "query",
      "description": "V1 error format.",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ]
    }
  },
  "name": "saasservicemgmt",
  "basePath": "",
  "revision": "20260819",
  "title": "App Lifecycle Manager API",
  "version_module": true,
  "ownerDomain": "google.com",
  "version": "v1",
  "documentationLink": "https://cloud.google.com/saas-runtime/docs",
  "batchPath": "batch",
  "protocol": "rest",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        },
        "https://www.googleapis.com/auth/saasservicemgmt.readonly": {
          "description": "See your Google Cloud App Lifecycle Management data and the email address of your Google Account"
        },
        "https://www.googleapis.com/auth/saasservicemgmt.read-write": {
          "description": "See, edit, configure, and delete your Google Cloud App Lifecycle Management data and see the email address for your Google Account"
        }
      }
    }
  },
  "ownerName": "Google",
  "id": "saasservicemgmt:v1",
  "schemas": {
    "Rollout": {
      "properties": {
        "stateMessage": {
          "description": "Output only. Human readable message indicating details about the last state transition.",
          "type": "string",
          "readOnly": true
        },
        "updateTime": {
          "description": "Output only. The timestamp when the resource was last updated. Any change to the resource made by users must refresh this value. Changes to a resource made by the service should refresh this value.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "parentRollout": {
          "type": "string",
          "readOnly": true,
          "description": "Optional. Output only. The direct parent rollout that this rollout is stemming from. The resource name (full URI of the resource) following the standard naming scheme: \"projects/{project}/locations/{location}/rollouts/{rollout_id}\""
        },
        "rolloutOrchestrationStrategy": {
          "description": "Optional. The strategy used for executing this Rollout. This strategy will override whatever strategy is specified in the RolloutKind. If not specified on creation, the strategy from RolloutKind will be used. There are two supported values strategies which are used to control - \"Google.Cloud.Simple.AllAtOnce\" - \"Google.Cloud.Simple.OneLocationAtATime\" A rollout with one of these simple strategies will rollout across all locations defined in the targeted UnitKind's Saas Locations.",
          "type": "string"
        },
        "name": {
          "description": "Identifier. The resource name (full URI of the resource) following the standard naming scheme: \"projects/{project}/locations/{location}/rollout/{rollout_id}\"",
          "type": "string"
        },
        "uid": {
          "description": "Output only. The unique identifier of the resource. UID is unique in the time and space for this resource within the scope of the service. It is typically generated by the server on successful creation of a resource and must not be changed. UID is used to uniquely identify resources with resource name reuses. This should be a UUID4.",
          "type": "string",
          "readOnly": true
        },
        "unitFilter": {
          "type": "string",
          "description": "Optional. CEL(https://github.com/google/cel-spec) formatted filter string against Unit. The filter will be applied to determine the eligible unit population. This filter can only reduce, but not expand the scope of the rollout. If not provided, the unit_filter from the RolloutKind will be used."
        },
        "startTime": {
          "type": "string",
          "format": "google-datetime",
          "readOnly": true,
          "description": "Optional. Output only. The time when the rollout started executing. Will be empty if the rollout hasn't started yet."
        },
        "state": {
          "enumDescriptions": [
            "Unspecified state.",
            "Rollout is in progress.",
            "Rollout has been paused.",
            "Rollout completed successfully.",
            "Rollout has failed.",
            "Rollout has been canceled.",
            "Rollout is waiting for some condition to be met before starting.",
            "Rollout is being canceled.",
            "Rollout is being resumed.",
            "Rollout is being paused."
          ],
          "description": "Output only. Current state of the rollout.",
          "readOnly": true,
          "enum": [
            "ROLLOUT_STATE_UNSPECIFIED",
            "ROLLOUT_STATE_RUNNING",
            "ROLLOUT_STATE_PAUSED",
            "ROLLOUT_STATE_SUCCEEDED",
            "ROLLOUT_STATE_FAILED",
            "ROLLOUT_STATE_CANCELLED",
            "ROLLOUT_STATE_WAITING",
            "ROLLOUT_STATE_CANCELLING",
            "ROLLOUT_STATE_RESUMING",
            "ROLLOUT_STATE_PAUSING"
          ],
          "type": "string"
        },
        "labels": {
          "type": "object",
          "description": "Optional. The labels on the resource, which can be used for categorization. similar to Kubernetes resource labels.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "control": {
          "description": "Optional. Requested change to the execution of this rollout. Default RolloutControl.action is ROLLOUT_ACTION_RUN meaning the rollout will be executed to completion while progressing through all natural Rollout States (such as RUNNING -> SUCCEEDED or RUNNING -> FAILED). Requests can only be made when the Rollout is in a non-terminal state.",
          "$ref": "RolloutControl"
        },
        "stateTransitionTime": {
          "description": "Optional. Output only. The time when the rollout transitioned into its current state.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "deleteTime": {
          "type": "string",
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. The timestamp when the resource was marked for deletion (deletion is an asynchronous operation)."
        },
        "createTime": {
          "description": "Output only. The timestamp when the resource was created.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "release": {
          "description": "Optional. Immutable. Name of the Release that gets rolled out to target Units. Required if no other type of release is specified.",
          "type": "string"
        },
        "flagRelease": {
          "type": "string",
          "description": "Optional. Immutable. Name of the FlagRelease to be rolled out to the target Units. Release and FlagRelease are mutually exclusive. Note: `release` comment needs to be adjusted to mention that \"Release and FlagRelease are mutually exclusive\" when visibility restriction will be lifted."
        },
        "etag": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. An opaque value that uniquely identifies a version or generation of a resource. It can be used to confirm that the client and server agree on the ordering of a resource being written."
        },
        "rootRollout": {
          "description": "Optional. Output only. The root rollout that this rollout is stemming from. The resource name (full URI of the resource) following the standard naming scheme: \"projects/{project}/locations/{location}/rollouts/{rollout_id}\"",
          "type": "string",
          "readOnly": true
        },
        "endTime": {
          "description": "Optional. Output only. The time when the rollout finished execution (regardless of success, failure, or cancellation). Will be empty if the rollout hasn't finished yet. Once set, the rollout is in terminal state and all the results are final.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "annotations": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. Annotations is an unstructured key-value map stored with a resource that may be set by external tools to store and retrieve arbitrary metadata. They are not queryable and should be preserved when modifying objects. More info: https://kubernetes.io/docs/user-guide/annotations",
          "type": "object"
        },
        "stats": {
          "$ref": "RolloutStats",
          "readOnly": true,
          "description": "Optional. Output only. Details about the progress of the rollout."
        },
        "rolloutKind": {
          "description": "Required. Immutable. Name of the RolloutKind this rollout is stemming from and adhering to.",
          "type": "string"
        },
        "effectiveUnitFilter": {
          "readOnly": true,
          "type": "string",
          "description": "Optional. Output only. Output only snapshot of the effective unit filter at Rollout start time. Contains a CEL(https://github.com/google/cel-spec) expression consisting of a conjunction of Rollout.unit_filter and RolloutKind.unit_filter. This field captures the filter applied by the Rollout to determine the Unit population. If the associated RolloutKind's unit_filter is modified after the rollout is started, it will not be updated here."
        }
      },
      "type": "object",
      "id": "Rollout",
      "description": "Represents a single rollout execution and its results"
    },
    "VariableMapping": {
      "id": "VariableMapping",
      "description": "Mapping of input variables to their respective output variable for depedenencies",
      "type": "object",
      "properties": {
        "from": {
          "$ref": "FromMapping",
          "description": "Optional. Output variables which will get their values from dependencies"
        },
        "to": {
          "description": "Optional. Input variables whose values will be passed on to dependencies.",
          "$ref": "ToMapping"
        },
        "variable": {
          "description": "Required. name of the variable",
          "type": "string"
        }
      }
    },
    "UnitOperationCondition": {
      "type": "object",
      "properties": {
        "type": {
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "TYPE_SCHEDULED",
            "TYPE_RUNNING",
            "TYPE_SUCCEEDED",
            "TYPE_CANCELLED",
            "TYPE_APP_CREATED",
            "TYPE_APP_COMPONENTS_REGISTERED",
            "TYPE_WORKLOAD_SUCCEEDED"
          ],
          "enumDescriptions": [
            "Condition type is unspecified.",
            "Condition type is scheduled.",
            "Condition type is running.",
            "Condition type is succeeded.",
            "Condition type is cancelled.",
            "Indicates if AppHub app has been created.",
            "Indicates if services and workloads have been registered with AppHub.",
            "Indicates if the UnitOperation's core workload execution completed successfully. The workload is the core execution operation performed for a UnitOperation (e.g., provisioning, updating, or deprovisioning resources) excluding post-operation checks."
          ],
          "description": "Required. Type of the condition."
        },
        "lastTransitionTime": {
          "description": "Required. Last time the condition transited from one status to another.",
          "type": "string",
          "format": "google-datetime"
        },
        "status": {
          "type": "string",
          "enum": [
            "STATUS_UNSPECIFIED",
            "STATUS_UNKNOWN",
            "STATUS_TRUE",
            "STATUS_FALSE"
          ],
          "enumDescriptions": [
            "Condition status is unspecified.",
            "Condition is unknown.",
            "Condition is true.",
            "Condition is false."
          ],
          "description": "Required. Status of the condition."
        },
        "message": {
          "description": "Required. Human readable message indicating details about the last transition.",
          "type": "string"
        },
        "reason": {
          "description": "Required. Brief reason for the condition's last transition.",
          "type": "string"
        }
      },
      "id": "UnitOperationCondition",
      "description": "UnitOperationCondition describes the status of an Unit Operation. UnitOperationCondition is individual components that contribute to an overall state."
    },
    "FromMapping": {
      "properties": {
        "dependency": {
          "type": "string",
          "description": "Required. Alias of the dependency that the outputVariable will pass its value to"
        },
        "outputVariable": {
          "type": "string",
          "description": "Required. Name of the outputVariable on the dependency"
        }
      },
      "type": "object",
      "id": "FromMapping",
      "description": "Output variables whose values will be passed on to dependencies"
    },
    "UnitVariable": {
      "type": "object",
      "properties": {
        "variable": {
          "description": "Required. Immutable. Name of the variable from actuation configs.",
          "type": "string"
        },
        "value": {
          "description": "Optional. String encoded value for the variable.",
          "type": "string"
        },
        "type": {
          "enumDescriptions": [
            "Variable type is unspecified.",
            "Variable type is string.",
            "Variable type is int.",
            "Variable type is bool.",
            "Variable type is struct.",
            "Variable type is list."
          ],
          "description": "Optional. Immutable. Name of a supported variable type. Supported types are string, int, bool.",
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "STRING",
            "INT",
            "BOOL",
            "STRUCT",
            "LIST"
          ]
        }
      },
      "id": "UnitVariable",
      "description": "UnitVariable describes a parameter for a Unit."
    },
    "ListTenantsResponse": {
      "properties": {
        "unreachable": {
          "description": "Locations that could not be reached.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "If present, the next page token can be provided to a subsequent ListTenants call to list the next page. If empty, there are no more pages.",
          "type": "string"
        },
        "tenants": {
          "type": "array",
          "description": "The resulting tenants.",
          "items": {
            "$ref": "Tenant"
          }
        }
      },
      "type": "object",
      "id": "ListTenantsResponse",
      "description": "The response structure for the ListTenants method."
    },
    "UnitKind": {
      "type": "object",
      "properties": {
        "dependencies": {
          "type": "array",
          "description": "Optional. Immutable. List of other unit kinds that this release will depend on. Dependencies will be automatically provisioned if not found. Maximum 10.",
          "items": {
            "$ref": "Dependency"
          }
        },
        "saas": {
          "type": "string",
          "description": "Required. Immutable. A reference to the Saas that defines the product (managed service) that the producer wants to manage with App Lifecycle Manager. Part of the App Lifecycle Manager common data model. Immutable once set."
        },
        "annotations": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. Annotations is an unstructured key-value map stored with a resource that may be set by external tools to store and retrieve arbitrary metadata. They are not queryable and should be preserved when modifying objects. More info: https://kubernetes.io/docs/user-guide/annotations",
          "type": "object"
        },
        "outputVariableMappings": {
          "description": "Optional. List of outputVariables for this unit kind will be passed to this unit's outputVariables. Maximum 100.",
          "items": {
            "$ref": "VariableMapping"
          },
          "type": "array"
        },
        "boundaryType": {
          "enumDescriptions": [
            "Unspecified boundary type.",
            "Tenant project boundary.",
            "Managed project boundary."
          ],
          "description": "Optional. Output only. BoundaryType describes the type of boundary the Unit Kind represents.",
          "type": "string",
          "readOnly": true,
          "enum": [
            "BOUNDARY_TYPE_UNSPECIFIED",
            "BOUNDARY_TYPE_TENANT_PROJECT",
            "BOUNDARY_TYPE_MANAGED_PROJECT"
          ]
        },
        "labels": {
          "description": "Optional. The labels on the resource, which can be used for categorization. similar to Kubernetes resource labels.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "inputVariableMappings": {
          "description": "Optional. List of inputVariables for this release that will either be retrieved from a dependency's outputVariables, or will be passed on to a dependency's inputVariables. Maximum 100.",
          "items": {
            "$ref": "VariableMapping"
          },
          "type": "array"
        },
        "etag": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. An opaque value that uniquely identifies a version or generation of a resource. It can be used to confirm that the client and server agree on the ordering of a resource being written."
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The timestamp when the resource was created."
        },
        "name": {
          "description": "Identifier. The resource name (full URI of the resource) following the standard naming scheme: \"projects/{project}/locations/{location}/unitKinds/{unitKind}\"",
          "type": "string"
        },
        "uid": {
          "description": "Output only. The unique identifier of the resource. UID is unique in the time and space for this resource within the scope of the service. It is typically generated by the server on successful creation of a resource and must not be changed. UID is used to uniquely identify resources with resource name reuses. This should be a UUID4.",
          "type": "string",
          "readOnly": true
        },
        "defaultFlagRevisions": {
          "type": "array",
          "description": "Optional. Default revisions of flags for this UnitKind. Newly created units will use the flag default_flag_revisions present at the time of creation.",
          "items": {
            "type": "string"
          }
        },
        "updateTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The timestamp when the resource was last updated. Any change to the resource made by users must refresh this value. Changes to a resource made by the service should refresh this value."
        },
        "defaultRelease": {
          "type": "string",
          "description": "Optional. A reference to the Release object to use as default for creating new units of this UnitKind (optional). If not specified, a new unit must explicitly reference which release to use for its creation."
        }
      },
      "id": "UnitKind",
      "description": "Definition of a Unit. Units belonging to the same UnitKind are managed together; for example they follow the same release model (blueprints, versions etc.) and are typically rolled out together."
    },
    "UnitUpdatePacing": {
      "id": "UnitUpdatePacing",
      "description": "UnitUpdatePacing defines the policy for the maximum number of unit operations that can run for a rollout in parallel in a single region.",
      "properties": {
        "maxConcurrentOperationsPercent": {
          "description": "Optional. The maximum percentage of total units in the scope that can be in-flight. Example: 10.5 for 10.5%. If both percent and count are provided, the system uses the MINIMUM (most restrictive).",
          "$ref": "Decimal"
        },
        "maxConcurrentOperationsCount": {
          "type": "integer",
          "format": "int32",
          "description": "Optional. An absolute cap on concurrent units operations. If both percent and count are provided, the system uses the MINIMUM (most restrictive)."
        }
      },
      "type": "object"
    },
    "Blueprint": {
      "properties": {
        "package": {
          "description": "Optional. Immutable. URI to a blueprint used by the Unit (required unless unitKind or release is set).",
          "type": "string"
        },
        "engine": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Type of the engine used to actuate the blueprint. e.g. terraform, helm etc."
        },
        "version": {
          "description": "Output only. Version metadata if present on the blueprint.",
          "type": "string",
          "readOnly": true
        }
      },
      "type": "object",
      "id": "Blueprint",
      "description": "Blueprints are OCI Images that contain all of the artifacts needed to provision a unit. Metadata such as, type of the engine used to actuate the blueprint (e.g. terraform, helm etc) and version will come from the image manifest. If the hostname is omitted, it will be assumed to be the regional path to Artifact Registry (eg. us-east1-docker.pkg.dev)."
    },
    "Release": {
      "id": "Release",
      "description": "A new version to be propagated and deployed to units. This includes pointers to packaged blueprints for actuation (e.g Helm or Terraform configuration packages) via artifact registry.",
      "properties": {
        "unitKind": {
          "description": "Required. Immutable. Reference to the UnitKind this Release corresponds to (required and immutable once created).",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Identifier. The resource name (full URI of the resource) following the standard naming scheme: \"projects/{project}/locations/{location}/releases/{release}\""
        },
        "uid": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The unique identifier of the resource. UID is unique in the time and space for this resource within the scope of the service. It is typically generated by the server on successful creation of a resource and must not be changed. UID is used to uniquely identify resources with resource name reuses. This should be a UUID4."
        },
        "inputVariables": {
          "type": "array",
          "readOnly": true,
          "description": "Optional. Output only. List of input variables declared on the blueprint and can be present with their values on the unit spec",
          "items": {
            "$ref": "UnitVariable"
          }
        },
        "inputVariableDefaults": {
          "type": "array",
          "description": "Optional. Mapping of input variables to default values. Maximum 100",
          "items": {
            "$ref": "UnitVariable"
          }
        },
        "updateTime": {
          "type": "string",
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. The timestamp when the resource was last updated. Any change to the resource made by users must refresh this value. Changes to a resource made by the service should refresh this value."
        },
        "annotations": {
          "description": "Optional. Annotations is an unstructured key-value map stored with a resource that may be set by external tools to store and retrieve arbitrary metadata. They are not queryable and should be preserved when modifying objects. More info: https://kubernetes.io/docs/user-guide/annotations",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "outputVariables": {
          "type": "array",
          "readOnly": true,
          "description": "Optional. Output only. List of output variables declared on the blueprint and can be present with their values on the unit status",
          "items": {
            "$ref": "UnitVariable"
          }
        },
        "releaseRequirements": {
          "description": "Optional. Set of requirements to be fulfilled on the Unit when using this Release.",
          "$ref": "ReleaseRequirements"
        },
        "labels": {
          "description": "Optional. The labels on the resource, which can be used for categorization. similar to Kubernetes resource labels.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "blueprint": {
          "description": "Optional. Blueprints are OCI Images that contain all of the artifacts needed to provision a unit.",
          "$ref": "Blueprint"
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. The timestamp when the resource was created."
        },
        "etag": {
          "description": "Output only. An opaque value that uniquely identifies a version or generation of a resource. It can be used to confirm that the client and server agree on the ordering of a resource being written.",
          "readOnly": true,
          "type": "string"
        }
      },
      "type": "object"
    },
    "SaasCondition": {
      "properties": {
        "status": {
          "enumDescriptions": [
            "Condition status is unspecified.",
            "Condition is unknown.",
            "Condition is true.",
            "Condition is false."
          ],
          "description": "Required. Status of the condition.",
          "type": "string",
          "enum": [
            "STATUS_UNSPECIFIED",
            "STATUS_UNKNOWN",
            "STATUS_TRUE",
            "STATUS_FALSE"
          ]
        },
        "type": {
          "enumDescriptions": [
            "Condition type is unspecified.",
            "Condition type is ready.",
            "Condition type is synchronized."
          ],
          "description": "Required. Type of the condition.",
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "TYPE_READY",
            "TYPE_SYNCHRONIZED"
          ]
        },
        "lastTransitionTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Required. Last time the condition transited from one status to another."
        },
        "message": {
          "type": "string",
          "description": "Required. Human readable message indicating details about the last transition."
        },
        "reason": {
          "description": "Required. Brief reason for the condition's last transition.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "SaasCondition",
      "description": "SaasCondition describes the status of a Saas."
    },
    "ListUnitOperationsResponse": {
      "id": "ListUnitOperationsResponse",
      "description": "The response structure for the ListUnitOperations method.",
      "type": "object",
      "properties": {
        "unreachable": {
          "description": "Locations that could not be reached.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "unitOperations": {
          "description": "The resulting unit operations.",
          "items": {
            "$ref": "UnitOperation"
          },
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "If present, the next page token can be provided to a subsequent ListUnitOperations call to list the next page. If empty, there are no more pages."
        }
      }
    },
    "Empty": {
      "properties": {},
      "type": "object",
      "id": "Empty",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }"
    },
    "Status": {
      "type": "object",
      "properties": {
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        },
        "code": {
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "type": "integer",
          "format": "int32"
        },
        "details": {
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "items": {
            "type": "object",
            "additionalProperties": {
              "description": "Properties of the object. Contains field @type with type URL.",
              "type": "any"
            }
          },
          "type": "array"
        }
      },
      "id": "Status",
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors)."
    },
    "UnitCondition": {
      "id": "UnitCondition",
      "description": "UnitCondition describes the status of an Unit. UnitCondition is individual components that contribute to an overall state.",
      "properties": {
        "type": {
          "enumDescriptions": [
            "Condition type is unspecified.",
            "Condition type is ready.",
            "Condition type is updating.",
            "Condition type is provisioned.",
            "Condition type is operationError. True when the last unit operation fails with a non-ignorable error.",
            "Condition type is flagsConfigInitialized. True when the flags configuration is synchronized and ready to be served.",
            "Indicates if AppHub app has been created or if Apphub app has already existed.",
            "Indicates if services and workloads have been registered with AppHub."
          ],
          "description": "Required. Type of the condition.",
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "TYPE_READY",
            "TYPE_UPDATING",
            "TYPE_PROVISIONED",
            "TYPE_OPERATION_ERROR",
            "TYPE_FLAGS_CONFIG_INITIALIZED",
            "TYPE_APP_CREATED_OR_ALREADY_EXISTS",
            "TYPE_APP_COMPONENTS_REGISTERED"
          ]
        },
        "lastTransitionTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Required. Last time the condition transited from one status to another."
        },
        "status": {
          "enum": [
            "STATUS_UNSPECIFIED",
            "STATUS_UNKNOWN",
            "STATUS_TRUE",
            "STATUS_FALSE"
          ],
          "type": "string",
          "description": "Required. Status of the condition.",
          "enumDescriptions": [
            "Condition status is unspecified.",
            "Condition is unknown.",
            "Condition is true.",
            "Condition is false."
          ]
        },
        "message": {
          "type": "string",
          "description": "Required. Human readable message indicating details about the last transition."
        },
        "reason": {
          "description": "Required. Brief reason for the condition's last transition.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "RolloutStats": {
      "id": "RolloutStats",
      "description": "RolloutStats contains information about the progress of a rollout.",
      "properties": {
        "operationsByState": {
          "description": "Optional. Output only. Unordered list. A breakdown of the progress of operations triggered by the rollout. Provides a count of Operations by their state. This can be used to determine the number of units which have been updated, or are scheduled to be updated. There will be at most one entry per group. Possible values for operation groups are: - \"SCHEDULED\" - \"PENDING\" - \"RUNNING\" - \"SUCCEEDED\" - \"FAILED\" - \"CANCELLED\"",
          "items": {
            "$ref": "Aggregate"
          },
          "readOnly": true,
          "type": "array"
        },
        "estimatedTotalUnitCount": {
          "type": "string",
          "format": "int64",
          "readOnly": true,
          "description": "Optional. Output only. Estimated number of units based. The estimation is computed upon creation of the rollout."
        }
      },
      "type": "object"
    },
    "RolloutKind": {
      "type": "object",
      "properties": {
        "createTime": {
          "description": "Output only. The timestamp when the resource was created.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "etag": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. An opaque value that uniquely identifies a version or generation of a resource. It can be used to confirm that the client and server agree on the ordering of a resource being written."
        },
        "unitUpdatePacing": {
          "$ref": "UnitUpdatePacing",
          "description": "Optional. Settings for controlling the pacing of rollouts i.e. the number of units to be rolled out in parallel in a region."
        },
        "labels": {
          "type": "object",
          "description": "Optional. The labels on the resource, which can be used for categorization. similar to Kubernetes resource labels.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "annotations": {
          "description": "Optional. Annotations is an unstructured key-value map stored with a resource that may be set by external tools to store and retrieve arbitrary metadata. They are not queryable and should be preserved when modifying objects. More info: https://kubernetes.io/docs/user-guide/annotations",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "updateTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The timestamp when the resource was last updated. Any change to the resource made by users must refresh this value. Changes to a resource made by the service should refresh this value."
        },
        "updateUnitKindStrategy": {
          "enum": [
            "UPDATE_UNIT_KIND_STRATEGY_UNSPECIFIED",
            "UPDATE_UNIT_KIND_STRATEGY_ON_START",
            "UPDATE_UNIT_KIND_STRATEGY_NEVER"
          ],
          "type": "string",
          "description": "Optional. The config for updating the unit kind. By default, the unit kind will be updated on the rollout start.",
          "enumDescriptions": [
            "Strategy unspecified.",
            "Update the unit kind strategy on the rollout start.",
            "Never update the unit kind."
          ]
        },
        "unitKind": {
          "type": "string",
          "description": "Required. Immutable. UnitKind that this rollout kind corresponds to. Rollouts stemming from this rollout kind will target the units of this unit kind. In other words, this defines the population of target units to be upgraded by rollouts."
        },
        "rolloutOrchestrationStrategy": {
          "type": "string",
          "description": "Optional. The strategy used for executing a Rollout. This is a required field. There are two supported values strategies which are used to control - \"Google.Cloud.Simple.AllAtOnce\" - \"Google.Cloud.Simple.OneLocationAtATime\" A rollout with one of these simple strategies will rollout across all locations defined in the associated UnitKind's Saas Locations."
        },
        "name": {
          "type": "string",
          "description": "Identifier. The resource name (full URI of the resource) following the standard naming scheme: \"projects/{project}/locations/{location}/rolloutKinds/{rollout_kind_id}\""
        },
        "errorBudget": {
          "$ref": "ErrorBudget",
          "description": "Optional. The configuration for error budget. If the number of failed units exceeds max(allowed_count, allowed_ratio * total_units), the rollout will be paused. If not set, all units will be attempted to be updated regardless of the number of failures encountered."
        },
        "uid": {
          "description": "Output only. The unique identifier of the resource. UID is unique in the time and space for this resource within the scope of the service. It is typically generated by the server on successful creation of a resource and must not be changed. UID is used to uniquely identify resources with resource name reuses. This should be a UUID4.",
          "readOnly": true,
          "type": "string"
        },
        "unitFilter": {
          "description": "Optional. CEL(https://github.com/google/cel-spec) formatted filter string against Unit. The filter will be applied to determine the eligible unit population. This filter can only reduce, but not expand the scope of the rollout.",
          "type": "string"
        }
      },
      "id": "RolloutKind",
      "description": "An object that describes various settings of Rollout execution. Includes built-in and customizable policies."
    },
    "Deprovision": {
      "type": "object",
      "properties": {},
      "id": "Deprovision",
      "description": "Deprovision is the unit operation that deprovision the underlying resources represented by a Unit. Can only execute if the Unit is currently provisioned."
    },
    "ToMapping": {
      "type": "object",
      "properties": {
        "inputVariable": {
          "description": "Required. Name of the inputVariable on the dependency",
          "type": "string"
        },
        "dependency": {
          "description": "Required. Alias of the dependency that the inputVariable will pass its value to",
          "type": "string"
        },
        "ignoreForLookup": {
          "description": "Optional. Tells App Lifecycle Manager if this mapping should be used during lookup or not",
          "type": "boolean"
        }
      },
      "id": "ToMapping",
      "description": "Input variables whose values will be passed on to dependencies"
    },
    "MaintenanceSettings": {
      "id": "MaintenanceSettings",
      "description": "Captures requested directives for performing future maintenance on the unit. This includes a request for the unit to skip maintenance for a period of time and remain pinned to its current release as well as controls for postponing maintenance scheduled in future.",
      "type": "object",
      "properties": {
        "pinnedUntilTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Optional. If present, it fixes the release on the unit until the given time; i.e. changes to the release field will be rejected. Rollouts should and will also respect this by not requesting an upgrade in the first place."
        }
      }
    },
    "RolloutControl": {
      "type": "object",
      "properties": {
        "runParams": {
          "description": "Optional. Parameters for the RUN action. It is an error to specify this if the RolloutAction is not set to RUN. By default, the rollout will retry failed operations when resumed.",
          "$ref": "RunRolloutActionParams"
        },
        "action": {
          "type": "string",
          "enum": [
            "ROLLOUT_ACTION_UNSPECIFIED",
            "ROLLOUT_ACTION_RUN",
            "ROLLOUT_ACTION_PAUSE",
            "ROLLOUT_ACTION_CANCEL"
          ],
          "enumDescriptions": [
            "Unspecified action, will be treated as RUN by default.",
            "Run the Rollout until it naturally reaches a terminal state. A rollout requested to run will progress through all natural Rollout States (such as RUNNING -> SUCCEEDED or RUNNING -> FAILED). If retriable errors are encountered during the rollout, the rollout will paused by default and can be resumed by re-requesting this RUN action.",
            "Pause the Rollout until it is resumed (i.e. RUN is requested).",
            "Cancel the Rollout permanently."
          ],
          "description": "Required. Action to be performed on the Rollout. The default behavior is to run the rollout until it naturally reaches a terminal state."
        }
      },
      "id": "RolloutControl",
      "description": "RolloutControl provides a way to request a change to the execution of a Rollout by pausing or canceling it."
    },
    "Location": {
      "id": "Location",
      "description": "Location information that the service is available in.",
      "properties": {
        "name": {
          "type": "string",
          "description": "Optional. Name of location."
        }
      },
      "type": "object"
    },
    "Schedule": {
      "type": "object",
      "properties": {
        "startTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Optional. Start of operation. If not set, will be set to the start of the next window. (optional)"
        }
      },
      "id": "Schedule",
      "description": "A time specification to schedule the maintenance."
    },
    "ListRolloutKindsResponse": {
      "properties": {
        "rolloutKinds": {
          "type": "array",
          "description": "The resulting rollout kinds.",
          "items": {
            "$ref": "RolloutKind"
          }
        },
        "unreachable": {
          "description": "Locations that could not be reached.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "If present, the next page token can be provided to a subsequent ListRolloutKinds call to list the next page. If empty, there are no more pages."
        }
      },
      "type": "object",
      "id": "ListRolloutKindsResponse",
      "description": "The response structure for the ListRolloutKinds method."
    },
    "UnitDependency": {
      "id": "UnitDependency",
      "description": "Set of dependencies for this unit. Maximum 10.",
      "properties": {
        "alias": {
          "description": "Output only. Alias for the name of the dependency.",
          "readOnly": true,
          "type": "string"
        },
        "unit": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. A reference to the Unit object."
        }
      },
      "type": "object"
    },
    "Upgrade": {
      "id": "Upgrade",
      "description": "Upgrade is the unit operation that upgrades a provisioned unit, which may also include the underlying resources represented by a Unit. Can only execute if the Unit is currently provisioned.",
      "type": "object",
      "properties": {
        "inputVariables": {
          "description": "Optional. Set of input variables. Maximum 100. (optional)",
          "items": {
            "$ref": "UnitVariable"
          },
          "type": "array"
        },
        "release": {
          "type": "string",
          "description": "Optional. Reference to the Release object to use for the Unit. (optional)."
        }
      }
    },
    "ListSaasResponse": {
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "If present, the next page token can be provided to a subsequent ListSaas call to list the next page. If empty, there are no more pages."
        },
        "saas": {
          "type": "array",
          "description": "The resulting saas.",
          "items": {
            "$ref": "Saas"
          }
        },
        "unreachable": {
          "type": "array",
          "description": "Locations that could not be reached.",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object",
      "id": "ListSaasResponse",
      "description": "The response structure for the ListSaas method."
    },
    "GoogleCloudLocationLocation": {
      "properties": {
        "locationId": {
          "description": "The canonical id for this location. For example: `\"us-east1\"`.",
          "type": "string"
        },
        "displayName": {
          "description": "The friendly name for this location, typically a nearby city name. For example, \"Tokyo\".",
          "type": "string"
        },
        "metadata": {
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "description": "Service-specific metadata. For example the available capacity at the given location.",
          "type": "object"
        },
        "name": {
          "type": "string",
          "description": "Resource name for the location, which may vary between implementations. For example: `\"projects/example-project/locations/us-east1\"`"
        },
        "labels": {
          "type": "object",
          "description": "Cross-service attributes for the location. For example {\"cloud.googleapis.com/region\": \"us-east1\"}",
          "additionalProperties": {
            "type": "string"
          }
        }
      },
      "type": "object",
      "id": "GoogleCloudLocationLocation",
      "description": "A resource that represents a Google Cloud location."
    },
    "Dependency": {
      "id": "Dependency",
      "description": "Dependency represent a single dependency with another unit kind by alias.",
      "properties": {
        "alias": {
          "description": "Required. An alias for the dependency. Used for input variable mapping.",
          "type": "string"
        },
        "unitKind": {
          "type": "string",
          "description": "Required. Immutable. The unit kind of the dependency."
        }
      },
      "type": "object"
    },
    "Saas": {
      "properties": {
        "etag": {
          "description": "Output only. An opaque value that uniquely identifies a version or generation of a resource. It can be used to confirm that the client and server agree on the ordering of a resource being written.",
          "readOnly": true,
          "type": "string"
        },
        "locations": {
          "description": "Optional. List of locations that the service is available in. Rollout refers to the list to generate a rollout plan.",
          "items": {
            "$ref": "Location"
          },
          "type": "array"
        },
        "conditions": {
          "type": "array",
          "readOnly": true,
          "description": "Output only. A set of conditions which indicate the various conditions this resource can have.",
          "items": {
            "$ref": "SaasCondition"
          }
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The timestamp when the resource was created."
        },
        "updateTime": {
          "description": "Output only. The timestamp when the resource was last updated. Any change to the resource made by users must refresh this value. Changes to a resource made by the service should refresh this value.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "state": {
          "enumDescriptions": [
            "State is unspecified.",
            "State type is unspecified. Deprecated: Use STATE_UNSPECIFIED instead.",
            "The Saas is ready",
            "In the process of importing, synchronizing or replicating ApplicationTemplates",
            "Failure during process of importing, synchronizing or replicating ApplicationTemplate processing"
          ],
          "enumDeprecated": [
            false,
            true,
            false,
            false,
            false
          ],
          "description": "Output only. State of the Saas. It is always in STATE_ACTIVE state if the application_template is empty.",
          "type": "string",
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "STATE_TYPE_UNSPECIFIED",
            "STATE_ACTIVE",
            "STATE_RUNNING",
            "STATE_FAILED"
          ]
        },
        "labels": {
          "description": "Optional. The labels on the resource, which can be used for categorization. similar to Kubernetes resource labels.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "annotations": {
          "description": "Optional. Annotations is an unstructured key-value map stored with a resource that may be set by external tools to store and retrieve arbitrary metadata. They are not queryable and should be preserved when modifying objects. More info: https://kubernetes.io/docs/user-guide/annotations",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "name": {
          "description": "Identifier. The resource name (full URI of the resource) following the standard naming scheme: \"projects/{project}/locations/{location}/saas/{saas}\"",
          "type": "string"
        },
        "error": {
          "readOnly": true,
          "$ref": "Status",
          "description": "Output only. If the state is FAILED, the corresponding error code and message. Defaults to code=OK for all other states."
        },
        "uid": {
          "description": "Output only. The unique identifier of the resource. UID is unique in the time and space for this resource within the scope of the service. It is typically generated by the server on successful creation of a resource and must not be changed. UID is used to uniquely identify resources with resource name reuses. This should be a UUID4.",
          "readOnly": true,
          "type": "string"
        }
      },
      "type": "object",
      "id": "Saas",
      "description": "Saas is a representation of a SaaS service managed by the Producer."
    },
    "ListUnitsResponse": {
      "id": "ListUnitsResponse",
      "description": "The response structure for the ListUnits method.",
      "properties": {
        "units": {
          "description": "The resulting units.",
          "items": {
            "$ref": "Unit"
          },
          "type": "array"
        },
        "unreachable": {
          "type": "array",
          "description": "Locations that could not be reached.",
          "items": {
            "type": "string"
          }
        },
        "nextPageToken": {
          "description": "If present, the next page token can be provided to a subsequent ListUnits call to list the next page. If empty, there are no more pages.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "Decimal": {
      "id": "Decimal",
      "description": "A representation of a decimal value, such as 2.5. Clients may convert values into language-native decimal formats, such as Java's [BigDecimal](https://docs.oracle.com/en/java/javase/11/docs/api/java.base/java/math/BigDecimal.html) or Python's [decimal.Decimal](https://docs.python.org/3/library/decimal.html).",
      "type": "object",
      "properties": {
        "value": {
          "description": "The decimal value, as a string. The string representation consists of an optional sign, `+` (`U+002B`) or `-` (`U+002D`), followed by a sequence of zero or more decimal digits (\"the integer\"), optionally followed by a fraction, optionally followed by an exponent. An empty string **should** be interpreted as `0`. The fraction consists of a decimal point followed by zero or more decimal digits. The string must contain at least one digit in either the integer or the fraction. The number formed by the sign, the integer and the fraction is referred to as the significand. The exponent consists of the character `e` (`U+0065`) or `E` (`U+0045`) followed by one or more decimal digits. Services **should** normalize decimal values before storing them by: - Removing an explicitly-provided `+` sign (`+2.5` -> `2.5`). - Replacing a zero-length integer value with `0` (`.5` -> `0.5`). - Coercing the exponent character to upper-case, with explicit sign (`2.5e8` -> `2.5E+8`). - Removing an explicitly-provided zero exponent (`2.5E0` -> `2.5`). Services **may** perform additional normalization based on its own needs and the internal decimal implementation selected, such as shifting the decimal point and exponent value together (example: `2.5E-1` <-> `0.25`). Additionally, services **may** preserve trailing zeroes in the fraction to indicate increased precision, but are not required to do so. Note that only the `.` character is supported to divide the integer and the fraction; `,` **should not** be supported regardless of locale. Additionally, thousand separators **should not** be supported. If a service does support them, values **must** be normalized. The ENBF grammar is: DecimalString = '' | [Sign] Significand [Exponent]; Sign = '+' | '-'; Significand = Digits '.' | [Digits] '.' Digits; Exponent = ('e' | 'E') [Sign] Digits; Digits = { '0' | '1' | '2' | '3' | '4' | '5' | '6' | '7' | '8' | '9' }; Services **should** clearly document the range of supported values, the maximum supported precision (total number of digits), and, if applicable, the scale (number of digits after the decimal point), as well as how it behaves when receiving out-of-bounds values. Services **may** choose to accept values passed as input even when the value has a higher precision or scale than the service supports, and **should** round the value to fit the supported scale. Alternatively, the service **may** error with `400 Bad Request` (`INVALID_ARGUMENT` in gRPC) if precision would be lost. Services **should** error with `400 Bad Request` (`INVALID_ARGUMENT` in gRPC) if the service receives a value outside of the supported range.",
          "type": "string"
        }
      }
    },
    "Provision": {
      "id": "Provision",
      "description": "Provision is the unit operation that provision the underlying resources represented by a Unit. Can only execute if the Unit is not currently provisioned.",
      "properties": {
        "release": {
          "type": "string",
          "description": "Optional. Reference to the Release object to use for the Unit. (optional)."
        },
        "inputVariables": {
          "description": "Optional. Set of input variables. Maximum 100. (optional)",
          "items": {
            "$ref": "UnitVariable"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "FlagUpdate": {
      "type": "object",
      "properties": {
        "flagRelease": {
          "type": "string",
          "description": "Required. Flag release being applied by UnitOperation."
        }
      },
      "id": "FlagUpdate",
      "description": "FlagUpdate is a UnitOperation that pushes new flag values to Units."
    },
    "ListReleasesResponse": {
      "properties": {
        "nextPageToken": {
          "description": "If present, the next page token can be provided to a subsequent ListReleases call to list the next page. If empty, there are no more pages.",
          "type": "string"
        },
        "releases": {
          "description": "The resulting releases.",
          "items": {
            "$ref": "Release"
          },
          "type": "array"
        },
        "unreachable": {
          "description": "Locations that could not be reached.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "type": "object",
      "id": "ListReleasesResponse",
      "description": "The response structure for the ListReleases method."
    },
    "Aggregate": {
      "id": "Aggregate",
      "description": "Represents the aggregation of a set of population of like records by a certain group. For example, a collection of unit counts can be aggregated and grouped by their state.",
      "type": "object",
      "properties": {
        "group": {
          "description": "Required. Group by which to aggregate.",
          "type": "string"
        },
        "count": {
          "type": "integer",
          "format": "int32",
          "description": "Required. Number of records in the group."
        }
      }
    },
    "ListRolloutsResponse": {
      "id": "ListRolloutsResponse",
      "description": "The response structure for the ListRollouts method.",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "If present, the next page token can be provided to a subsequent ListRollouts call to list the next page. If empty, there are no more pages.",
          "type": "string"
        },
        "unreachable": {
          "type": "array",
          "description": "Locations that could not be reached.",
          "items": {
            "type": "string"
          }
        },
        "rollouts": {
          "description": "The resulting rollouts.",
          "items": {
            "$ref": "Rollout"
          },
          "type": "array"
        }
      }
    },
    "ErrorBudget": {
      "properties": {
        "allowedCount": {
          "description": "Optional. The maximum number of failed units allowed in a location without pausing the rollout.",
          "type": "integer",
          "format": "int32"
        },
        "allowedPercentage": {
          "description": "Optional. The maximum percentage of units allowed to fail (0, 100] within a location without pausing the rollout.",
          "type": "integer",
          "format": "int32"
        }
      },
      "type": "object",
      "id": "ErrorBudget",
      "description": "The configuration for error budget. If the number of failed units exceeds max(allowed_count, allowed_ratio * total_units), the rollout will be paused."
    },
    "ReleaseRequirements": {
      "id": "ReleaseRequirements",
      "description": "Set of requirements to be fulfilled on the Unit when using this Release.",
      "type": "object",
      "properties": {
        "upgradeableFromReleases": {
          "description": "Optional. A list of releases from which a unit can be upgraded to this one (optional). If left empty no constraints will be applied. When provided, unit upgrade requests to this release will check and enforce this constraint.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      }
    },
    "ListUnitKindsResponse": {
      "properties": {
        "unreachable": {
          "type": "array",
          "description": "Locations that could not be reached.",
          "items": {
            "type": "string"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "If present, the next page token can be provided to a subsequent ListUnitKinds call to list the next page. If empty, there are no more pages."
        },
        "unitKinds": {
          "description": "The resulting unit kinds.",
          "items": {
            "$ref": "UnitKind"
          },
          "type": "array"
        }
      },
      "type": "object",
      "id": "ListUnitKindsResponse",
      "description": "The response structure for the ListUnitKinds method."
    },
    "UnitOperation": {
      "id": "UnitOperation",
      "description": "UnitOperation encapsulates the intent of changing/interacting with the service component represented by the specific Unit. Multiple UnitOperations can be created (requested) and scheduled in the future, however only one will be allowed to execute at a time (that can change in the future for non-mutating operations). UnitOperations allow different actors interacting with the same unit to focus only on the change they have requested. This is a base object that contains the common fields in all unit operations. Next: 22",
      "properties": {
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. The timestamp when the resource was created."
        },
        "deprovision": {
          "description": "Optional. Deprovision operation.",
          "$ref": "Deprovision"
        },
        "parentUnitOperation": {
          "type": "string",
          "description": "Optional. Reference to parent resource: UnitOperation. If an operation needs to create other operations as part of its workflow, each of the child operations should have this field set to the parent. This can be used for tracing. (Optional)"
        },
        "cancel": {
          "type": "boolean",
          "description": "Optional. When true, attempt to cancel the operation. Cancellation may fail if the operation is already executing. (Optional)"
        },
        "etag": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. An opaque value that uniquely identifies a version or generation of a resource. It can be used to confirm that the client and server agree on the ordering of a resource being written."
        },
        "provision": {
          "description": "Optional. Provision operation.",
          "$ref": "Provision"
        },
        "rollout": {
          "type": "string",
          "description": "Optional. Specifies which rollout created this Unit Operation. This cannot be modified and is used for filtering purposes only. If a dependent unit and unit operation are created as part of another unit operation, they will use the same rolloutId."
        },
        "state": {
          "type": "string",
          "readOnly": true,
          "enum": [
            "UNIT_OPERATION_STATE_UNKNOWN",
            "UNIT_OPERATION_STATE_PENDING",
            "UNIT_OPERATION_STATE_SCHEDULED",
            "UNIT_OPERATION_STATE_RUNNING",
            "UNIT_OPERATION_STATE_SUCCEEDED",
            "UNIT_OPERATION_STATE_FAILED",
            "UNIT_OPERATION_STATE_CANCELLED"
          ],
          "description": "Optional. Output only. UnitOperationState describes the current state of the unit operation.",
          "enumDescriptions": [
            "Unit operation state is unknown.",
            "Unit operation is accepted but not ready to run.",
            "Unit operation is accepted and scheduled.",
            "Unit operation is running.",
            "Unit operation has completed successfully.",
            "Unit operation has failed.",
            "Unit operation was cancelled."
          ]
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. The labels on the resource, which can be used for categorization. similar to Kubernetes resource labels.",
          "type": "object"
        },
        "unit": {
          "type": "string",
          "description": "Required. Immutable. The Unit a given UnitOperation will act upon."
        },
        "schedule": {
          "$ref": "Schedule",
          "description": "Optional. When to schedule this operation."
        },
        "deleteTime": {
          "description": "Output only. The timestamp when the resource was marked for deletion (deletion is an asynchronous operation).",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "annotations": {
          "description": "Optional. Annotations is an unstructured key-value map stored with a resource that may be set by external tools to store and retrieve arbitrary metadata. They are not queryable and should be preserved when modifying objects. More info: https://kubernetes.io/docs/user-guide/annotations",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "engineState": {
          "description": "Optional. Output only. The engine state for on-going deployment engine operation(s). This field is opaque for external usage.",
          "readOnly": true,
          "type": "string"
        },
        "flagUpdate": {
          "description": "Optional. Flag update operation.",
          "$ref": "FlagUpdate"
        },
        "conditions": {
          "readOnly": true,
          "type": "array",
          "description": "Optional. Output only. A set of conditions which indicate the various conditions this resource can have.",
          "items": {
            "$ref": "UnitOperationCondition"
          }
        },
        "updateTime": {
          "description": "Output only. The timestamp when the resource was last updated. Any change to the resource made by users must refresh this value. Changes to a resource made by the service should refresh this value.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "upgrade": {
          "description": "Optional. Upgrade operation.",
          "$ref": "Upgrade"
        },
        "name": {
          "type": "string",
          "description": "Identifier. The resource name (full URI of the resource) following the standard naming scheme: \"projects/{project}/locations/{location}/unitOperations/{unitOperation}\""
        },
        "uid": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The unique identifier of the resource. UID is unique in the time and space for this resource within the scope of the service. It is typically generated by the server on successful creation of a resource and must not be changed. UID is used to uniquely identify resources with resource name reuses. This should be a UUID4."
        },
        "errorCategory": {
          "enumDescriptions": [
            "Unit operation error category is unspecified",
            "Unit operation error category is not applicable, or it is not an error",
            "Unit operation error category is fatal",
            "Unit operation error category is retriable",
            "Unit operation error category is ignorable",
            "Unit operation error category is standard, counts towards Rollout error budget"
          ],
          "type": "string",
          "readOnly": true,
          "enum": [
            "UNIT_OPERATION_ERROR_CATEGORY_UNSPECIFIED",
            "NOT_APPLICABLE",
            "FATAL",
            "RETRIABLE",
            "IGNORABLE",
            "STANDARD"
          ],
          "description": "Optional. Output only. UnitOperationErrorCategory describe the error category."
        }
      },
      "type": "object"
    },
    "RunRolloutActionParams": {
      "properties": {
        "retryFailedOperations": {
          "type": "boolean",
          "description": "Required. If true, the rollout will retry failed operations when resumed. This is applicable only the current state of the Rollout is PAUSED and the requested action is RUN."
        }
      },
      "type": "object",
      "id": "RunRolloutActionParams",
      "description": "Parameters for the RUN action controlling the behavior of the rollout when it is resumed from a PAUSED state."
    },
    "Unit": {
      "type": "object",
      "properties": {
        "maintenance": {
          "$ref": "MaintenanceSettings",
          "description": "Optional. Captures requested directives for performing future maintenance on the unit. This includes a request for the unit to skip maintenance for a period of time and remain pinned to its current release as well as controls for postponing maintenance scheduled in future."
        },
        "dependents": {
          "type": "array",
          "readOnly": true,
          "description": "Optional. Output only. List of Units that depend on this unit. Unit can only be deprovisioned if this list is empty. Maximum 1000.",
          "items": {
            "$ref": "UnitDependency"
          }
        },
        "conditions": {
          "readOnly": true,
          "type": "array",
          "description": "Optional. Output only. A set of conditions which indicate the various conditions this resource can have.",
          "items": {
            "$ref": "UnitCondition"
          }
        },
        "unitKind": {
          "type": "string",
          "description": "Optional. Reference to the UnitKind this Unit belongs to. Immutable once set."
        },
        "pendingOperations": {
          "description": "Optional. Output only. List of pending (wait to be executed) UnitOperations for this unit.",
          "items": {
            "type": "string"
          },
          "readOnly": true,
          "type": "array"
        },
        "inputVariables": {
          "readOnly": true,
          "type": "array",
          "description": "Optional. Output only. Indicates the current input variables deployed by the unit",
          "items": {
            "$ref": "UnitVariable"
          }
        },
        "managementMode": {
          "enum": [
            "MANAGEMENT_MODE_UNSPECIFIED",
            "MANAGEMENT_MODE_USER",
            "MANAGEMENT_MODE_SYSTEM"
          ],
          "type": "string",
          "description": "Optional. Immutable. Indicates whether the Unit life cycle is controlled by the user or by the system. Immutable once created.",
          "enumDescriptions": [
            "Unspecified management mode.",
            "Unit's lifecycle is managed by the user.",
            "The system will decide when to deprovision and delete the unit. User still can deprovision or delete the unit manually."
          ]
        },
        "systemManagedState": {
          "type": "string",
          "readOnly": true,
          "enum": [
            "SYSTEM_MANAGED_STATE_UNSPECIFIED",
            "SYSTEM_MANAGED_STATE_ACTIVE",
            "SYSTEM_MANAGED_STATE_INACTIVE",
            "SYSTEM_MANAGED_STATE_DECOMMISSIONED"
          ],
          "description": "Optional. Output only. Indicates the system managed state of the unit.",
          "enumDescriptions": [
            "Unspecified system managed state.",
            "Unit has dependents attached.",
            "Unit has no dependencies attached, but attachment is allowed.",
            "Unit has no dependencies attached, and attachment is not allowed."
          ]
        },
        "systemCleanupAt": {
          "type": "string",
          "format": "google-datetime",
          "readOnly": true,
          "description": "Optional. Output only. If set, indicates the time when the system will start removing the unit."
        },
        "satisfiesPzs": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. Indicates whether the resource location satisfies Zone Separation constraints. This is false by default."
        },
        "updateTime": {
          "description": "Output only. The timestamp when the resource was last updated. Any change to the resource made by users must refresh this value. Changes to a resource made by the service should refresh this value.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "name": {
          "type": "string",
          "description": "Identifier. The resource name (full URI of the resource) following the standard naming scheme: \"projects/{project}/locations/{location}/units/{unit}\""
        },
        "uid": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The unique identifier of the resource. UID is unique in the time and space for this resource within the scope of the service. It is typically generated by the server on successful creation of a resource and must not be changed. UID is used to uniquely identify resources with resource name reuses. This should be a UUID4."
        },
        "state": {
          "enumDescriptions": [
            "Unspecified state.",
            "Unit is not provisioned.",
            "Unit is being provisioned.",
            "Unit is being updated. This is typically when a unit is being upgraded to a new release or some of the input variables on the Unit is being changed. Certain kinds of updates may cause the Unit to become unusable while the update is in progress.",
            "Unit is being deleted.",
            "Unit has been provisioned and is ready for use",
            "Unit has error, when it is not ready and some error operation"
          ],
          "type": "string",
          "readOnly": true,
          "enum": [
            "UNIT_STATE_UNSPECIFIED",
            "UNIT_STATE_NOT_PROVISIONED",
            "UNIT_STATE_PROVISIONING",
            "UNIT_STATE_UPDATING",
            "UNIT_STATE_DEPROVISIONING",
            "UNIT_STATE_READY",
            "UNIT_STATE_ERROR"
          ],
          "description": "Optional. Output only. Current lifecycle state of the resource (e.g. if it's being created or ready to use)."
        },
        "labels": {
          "type": "object",
          "description": "Optional. The labels on the resource, which can be used for categorization. similar to Kubernetes resource labels.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "tenant": {
          "description": "Optional. Reference to the Saas Tenant resource this unit belongs to. This for example informs the maintenance policies to use for scheduling future updates on a unit. (optional and immutable once created)",
          "type": "string"
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The timestamp when the resource was created."
        },
        "release": {
          "type": "string",
          "readOnly": true,
          "description": "Optional. Output only. The current Release object for this Unit."
        },
        "satisfiesPzi": {
          "type": "boolean",
          "readOnly": true,
          "description": "Output only. Reserved for future use."
        },
        "flagRevisions": {
          "readOnly": true,
          "type": "array",
          "description": "Optional. Output only. Flag revisions used by this Unit.",
          "items": {
            "type": "string"
          }
        },
        "etag": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. An opaque value that uniquely identifies a version or generation of a resource. It can be used to confirm that the client and server agree on the ordering of a resource being written."
        },
        "scheduledOperations": {
          "type": "array",
          "readOnly": true,
          "description": "Optional. Output only. List of scheduled UnitOperations for this unit.",
          "items": {
            "type": "string"
          }
        },
        "dependencies": {
          "readOnly": true,
          "type": "array",
          "description": "Optional. Output only. Set of dependencies for this unit. Maximum 10.",
          "items": {
            "$ref": "UnitDependency"
          }
        },
        "annotations": {
          "type": "object",
          "description": "Optional. Annotations is an unstructured key-value map stored with a resource that may be set by external tools to store and retrieve arbitrary metadata. They are not queryable and should be preserved when modifying objects. More info: https://kubernetes.io/docs/user-guide/annotations",
          "additionalProperties": {
            "type": "string"
          }
        },
        "ongoingOperations": {
          "readOnly": true,
          "type": "array",
          "description": "Optional. Output only. List of concurrent UnitOperations that are operating on this Unit.",
          "items": {
            "type": "string"
          }
        },
        "outputVariables": {
          "description": "Optional. Output only. Set of key/value pairs corresponding to output variables from execution of actuation templates. The variables are declared in actuation configs (e.g in helm chart or terraform) and the values are fetched and returned by the actuation engine upon completion of execution.",
          "items": {
            "$ref": "UnitVariable"
          },
          "readOnly": true,
          "type": "array"
        }
      },
      "id": "Unit",
      "description": "A unit of deployment that has its lifecycle via a CRUD API using an actuation engine under the hood (e.g. based on Terraform, Helm or a custom implementation provided by a service producer). A building block of a SaaS Tenant."
    },
    "Tenant": {
      "properties": {
        "consumerResource": {
          "description": "Optional. Immutable. A reference to the consumer resource this SaaS Tenant is representing. The relationship with a consumer resource can be used by App Lifecycle Manager for retrieving consumer-defined settings and policies such as maintenance policies (using Unified Maintenance Policy API).",
          "type": "string"
        },
        "labels": {
          "description": "Optional. The labels on the resource, which can be used for categorization. similar to Kubernetes resource labels.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "updateTime": {
          "description": "Output only. The timestamp when the resource was last updated. Any change to the resource made by users must refresh this value. Changes to a resource made by the service should refresh this value.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "createTime": {
          "description": "Output only. The timestamp when the resource was created.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "etag": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. An opaque value that uniquely identifies a version or generation of a resource. It can be used to confirm that the client and server agree on the ordering of a resource being written."
        },
        "name": {
          "description": "Identifier. The resource name (full URI of the resource) following the standard naming scheme: \"projects/{project}/locations/{location}/tenants/{tenant}\"",
          "type": "string"
        },
        "saas": {
          "description": "Required. Immutable. A reference to the Saas that defines the product (managed service) that the producer wants to manage with App Lifecycle Manager. Part of the App Lifecycle Manager common data model.",
          "type": "string"
        },
        "uid": {
          "description": "Output only. The unique identifier of the resource. UID is unique in the time and space for this resource within the scope of the service. It is typically generated by the server on successful creation of a resource and must not be changed. UID is used to uniquely identify resources with resource name reuses. This should be a UUID4.",
          "readOnly": true,
          "type": "string"
        },
        "annotations": {
          "type": "object",
          "description": "Optional. Annotations is an unstructured key-value map stored with a resource that may be set by external tools to store and retrieve arbitrary metadata. They are not queryable and should be preserved when modifying objects. More info: https://kubernetes.io/docs/user-guide/annotations",
          "additionalProperties": {
            "type": "string"
          }
        }
      },
      "type": "object",
      "id": "Tenant",
      "description": "Tenant represents the service producer side of an instance of the service created based on a request from a consumer. In a typical scenario a Tenant has a one-to-one mapping with a resource given out to a service consumer. Example: tenant: name: \"projects/svc1/locations/loc/tenants/inst-068afff8\" consumer_resource: \"projects/gshoe/locations/loc/shoes/black-shoe\""
    },
    "ListLocationsResponse": {
      "id": "ListLocationsResponse",
      "description": "The response message for Locations.ListLocations.",
      "properties": {
        "locations": {
          "description": "A list of locations that matches the specified filter in the request.",
          "items": {
            "$ref": "GoogleCloudLocationLocation"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        }
      },
      "type": "object"
    }
  },
  "servicePath": "",
  "fullyEncodeReservedExpansion": true,
  "canonicalName": "SaaS Service Management",
  "resources": {
    "projects": {
      "resources": {
        "locations": {
          "methods": {
            "list": {
              "parameters": {
                "filter": {
                  "description": "A filter to narrow down results to a preferred subset. The filtering language accepts strings like `\"displayName=tokyo\"`, and is documented in more detail in [AIP-160](https://google.aip.dev/160).",
                  "location": "query",
                  "type": "string"
                },
                "pageSize": {
                  "description": "The maximum number of results to return. If not set, the service selects a default.",
                  "location": "query",
                  "type": "integer",
                  "format": "int32"
                },
                "extraLocationTypes": {
                  "location": "query",
                  "type": "string",
                  "description": "Optional. Do not use this field unless explicitly documented otherwise. This is primarily for internal usage.",
                  "repeated": true
                },
                "name": {
                  "pattern": "^projects/[^/]+$",
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "description": "The resource that owns the locations collection, if applicable."
                },
                "pageToken": {
                  "location": "query",
                  "type": "string",
                  "description": "A page token received from the `next_page_token` field in the response. Send that page token to receive the subsequent page."
                }
              },
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "saasservicemgmt.projects.locations.list",
              "path": "v1/{+name}/locations",
              "description": "Lists information about the supported locations for this service. This method lists locations based on the resource scope provided in the ListLocationsRequest.name field: * **Global locations**: If `name` is empty, the method lists the public locations available to all projects. * **Project-specific locations**: If `name` follows the format `projects/{project}`, the method lists locations visible to that specific project. This includes public, private, or other project-specific locations enabled for the project. For gRPC and client library implementations, the resource name is passed as the `name` field. For direct service calls, the resource name is incorporated into the request path based on the specific service implementation and version.",
              "flatPath": "v1/projects/{projectsId}/locations",
              "response": {
                "$ref": "ListLocationsResponse"
              },
              "httpMethod": "GET"
            },
            "get": {
              "id": "saasservicemgmt.projects.locations.get",
              "path": "v1/{+name}",
              "parameters": {
                "name": {
                  "pattern": "^projects/[^/]+/locations/[^/]+$",
                  "required": true,
                  "description": "Resource name for the location.",
                  "location": "path",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "flatPath": "v1/projects/{projectsId}/locations/{locationsId}",
              "response": {
                "$ref": "GoogleCloudLocationLocation"
              },
              "httpMethod": "GET",
              "description": "Gets information about a location."
            }
          },
          "resources": {
            "saas": {
              "methods": {
                "delete": {
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/saas/{saasId}",
                  "response": {
                    "$ref": "Empty"
                  },
                  "httpMethod": "DELETE",
                  "description": "Delete a single saas.",
                  "id": "saasservicemgmt.projects.locations.saas.delete",
                  "path": "v1/{+name}",
                  "parameters": {
                    "validateOnly": {
                      "location": "query",
                      "type": "boolean",
                      "description": "If \"validate_only\" is set to true, the service will try to validate that this request would succeed, but will not actually make changes."
                    },
                    "name": {
                      "location": "path",
                      "type": "string",
                      "description": "Required. The resource name of the resource within a service.",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/saas/[^/]+$"
                    },
                    "etag": {
                      "location": "query",
                      "type": "string",
                      "description": "The etag known to the client for the expected state of the saas. This is used with state-changing methods to prevent accidental overwrites when multiple user agents might be acting in parallel on the same resource. An etag wildcard provide optimistic concurrency based on the expected existence of the saas. The Any wildcard (`*`) requires that the resource must already exists, and the Not Any wildcard (`!*`) requires that it must not."
                    },
                    "requestId": {
                      "location": "query",
                      "type": "string",
                      "description": "An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000)."
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/saasservicemgmt.read-write"
                  ],
                  "parameterOrder": [
                    "name"
                  ]
                },
                "get": {
                  "httpMethod": "GET",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/saas/{saasId}",
                  "response": {
                    "$ref": "Saas"
                  },
                  "description": "Retrieve a single saas.",
                  "id": "saasservicemgmt.projects.locations.saas.get",
                  "path": "v1/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/saasservicemgmt.read-write",
                    "https://www.googleapis.com/auth/saasservicemgmt.readonly"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/saas/[^/]+$",
                      "location": "path",
                      "type": "string",
                      "description": "Required. The resource name of the resource within a service."
                    }
                  }
                },
                "create": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/saasservicemgmt.read-write"
                  ],
                  "parameterOrder": [
                    "parent"
                  ],
                  "parameters": {
                    "parent": {
                      "description": "Required. The parent of the saas.",
                      "location": "path",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true
                    },
                    "saasId": {
                      "location": "query",
                      "type": "string",
                      "description": "Required. The ID value for the new saas."
                    },
                    "validateOnly": {
                      "description": "If \"validate_only\" is set to true, the service will try to validate that this request would succeed, but will not actually make changes.",
                      "location": "query",
                      "type": "boolean"
                    },
                    "requestId": {
                      "description": "An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "id": "saasservicemgmt.projects.locations.saas.create",
                  "path": "v1/{+parent}/saas",
                  "description": "Create a new saas.",
                  "request": {
                    "$ref": "Saas"
                  },
                  "httpMethod": "POST",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/saas",
                  "response": {
                    "$ref": "Saas"
                  }
                },
                "list": {
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/saas",
                  "response": {
                    "$ref": "ListSaasResponse"
                  },
                  "httpMethod": "GET",
                  "description": "Retrieve a collection of saas.",
                  "id": "saasservicemgmt.projects.locations.saas.list",
                  "path": "v1/{+parent}/saas",
                  "parameters": {
                    "pageSize": {
                      "location": "query",
                      "type": "integer",
                      "format": "int32",
                      "description": "The maximum number of saas to send per page."
                    },
                    "filter": {
                      "description": "Filter the list as specified in https://google.aip.dev/160.",
                      "location": "query",
                      "type": "string"
                    },
                    "parent": {
                      "description": "Required. The parent of the saas.",
                      "location": "path",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true
                    },
                    "pageToken": {
                      "location": "query",
                      "type": "string",
                      "description": "The page token: If the next_page_token from a previous response is provided, this request will send the subsequent page."
                    },
                    "orderBy": {
                      "location": "query",
                      "type": "string",
                      "description": "Order results as specified in https://google.aip.dev/132."
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/saasservicemgmt.read-write",
                    "https://www.googleapis.com/auth/saasservicemgmt.readonly"
                  ],
                  "parameterOrder": [
                    "parent"
                  ]
                },
                "patch": {
                  "httpMethod": "PATCH",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/saas/{saasId}",
                  "response": {
                    "$ref": "Saas"
                  },
                  "description": "Update a single saas.",
                  "request": {
                    "$ref": "Saas"
                  },
                  "id": "saasservicemgmt.projects.locations.saas.patch",
                  "path": "v1/{+name}",
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/saasservicemgmt.read-write"
                  ],
                  "parameters": {
                    "name": {
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/saas/[^/]+$",
                      "description": "Identifier. The resource name (full URI of the resource) following the standard naming scheme: \"projects/{project}/locations/{location}/saas/{saas}\"",
                      "location": "path",
                      "type": "string"
                    },
                    "requestId": {
                      "location": "query",
                      "type": "string",
[...]
