{
  "baseUrl": "https://saasservicemgmt.googleapis.com/",
  "servicePath": "",
  "version": "v1beta1",
  "parameters": {
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query",
      "type": "string"
    },
    "$.xgafv": {
      "description": "V1 error format.",
      "location": "query",
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "enum": [
        "1",
        "2"
      ]
    },
    "alt": {
      "description": "Data format for response.",
      "type": "string",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "default": "json",
      "location": "query",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ]
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string",
      "location": "query"
    },
    "prettyPrint": {
      "type": "boolean",
      "location": "query",
      "description": "Returns response with indentations and line breaks.",
      "default": "true"
    },
    "oauth_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth 2.0 token for the current user."
    },
    "callback": {
      "location": "query",
      "type": "string",
      "description": "JSONP"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string",
      "location": "query"
    },
    "upload_protocol": {
      "type": "string",
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "access_token": {
      "location": "query",
      "description": "OAuth access token.",
      "type": "string"
    }
  },
  "discoveryVersion": "v1",
  "description": "Model, deploy, and operate your SaaS at scale. ",
  "documentationLink": "https://cloud.google.com/saas-runtime/docs",
  "rootUrl": "https://saasservicemgmt.googleapis.com/",
  "canonicalName": "SaaS Service Management",
  "mtlsRootUrl": "https://saasservicemgmt.mtls.googleapis.com/",
  "title": "App Lifecycle Manager API",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/saasservicemgmt.read-write": {
          "description": "See, edit, configure, and delete your Google Cloud App Lifecycle Management data and see the email address for your Google Account"
        },
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        },
        "https://www.googleapis.com/auth/saasservicemgmt.readonly": {
          "description": "See your Google Cloud App Lifecycle Management data and the email address of your Google Account"
        }
      }
    }
  },
  "basePath": "",
  "protocol": "rest",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "fullyEncodeReservedExpansion": true,
  "schemas": {
    "SaasRelease": {
      "description": "SaasRelease is a collection of Releases that are assigned to a UnitGroup. It allows provisioning and updates of UnitGroup, which contains multiple Units of different UnitKinds.",
      "type": "object",
      "properties": {
        "uid": {
          "readOnly": true,
          "description": "Output only. The unique identifier of the resource. UID is unique in the time and space for this resource within the scope of the service. It is typically generated by the server on successful creation of a resource and must not be changed. UID is used to uniquely identify resources with resource name reuses. This should be a UUID4.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Identifier. The resource name (full URI of the resource) following the standard naming scheme: \"projects/{project}/locations/{location}/saasReleases/{saasRelease}\""
        },
        "updateTime": {
          "description": "Output only. The timestamp when the resource was last updated. Any change to the resource made by users must refresh this value. Changes to a resource made by the service should refresh this value.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "labels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. The labels on the resource, which can be used for categorization. similar to Kubernetes resource labels."
        },
        "etag": {
          "description": "Output only. An opaque value that uniquely identifies a version or generation of a resource. It can be used to confirm that the client and server agree on the ordering of a resource being written.",
          "type": "string",
          "readOnly": true
        },
        "annotations": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Optional. Annotations is an unstructured key-value map stored with a resource that may be set by external tools to store and retrieve arbitrary metadata. They are not queryable and should be preserved when modifying objects. More info: https://kubernetes.io/docs/user-guide/annotations"
        },
        "createTime": {
          "description": "Output only. The timestamp when the resource was created.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        }
      },
      "id": "SaasRelease"
    },
    "FlagRevision": {
      "type": "object",
      "description": "A snapshot of the EvaluationSpec for the Flag.",
      "properties": {
        "createTime": {
          "readOnly": true,
          "description": "Output only. The timestamp when the resource was created.",
          "type": "string",
          "format": "google-datetime"
        },
        "etag": {
          "description": "Output only. An opaque value that uniquely identifies a version or generation of a resource. It can be used to confirm that the client and server agree on the ordering of a resource being written.",
          "readOnly": true,
          "type": "string"
        },
        "updateTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The timestamp when the resource was last updated. Any change to the resource made by users must refresh this value. Changes to a resource made by the service should refresh this value."
        },
        "labels": {
          "description": "Optional. The labels on the resource, which can be used for categorization. similar to Kubernetes resource labels.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "evaluationSpec": {
          "description": "Output only. Immutable. Snapshot of the EvaluationSpec for the flag. DEPRECATED: Use snapshot instead.",
          "$ref": "EvaluationSpec",
          "readOnly": true,
          "deprecated": true
        },
        "name": {
          "type": "string",
          "description": "Identifier. The resource name (full URI of the resource) following the standard naming scheme: \"projects/{project}/locations/{location}/flagRevisions/{flag_revision_id}\""
        },
        "snapshot": {
          "readOnly": true,
          "$ref": "Flag",
          "description": "Output only. Immutable. Snapshot of the Flag."
        },
        "flag": {
          "description": "Required. Immutable. Name of the Flag this is a revision of.",
          "type": "string"
        },
        "annotations": {
          "description": "Optional. Annotations is an unstructured key-value map stored with a resource that may be set by external tools to store and retrieve arbitrary metadata. They are not queryable and should be preserved when modifying objects. More info: https://kubernetes.io/docs/user-guide/annotations",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "uid": {
          "description": "Output only. The unique identifier of the resource. UID is unique in the time and space for this resource within the scope of the service. It is typically generated by the server on successful creation of a resource and must not be changed. UID is used to uniquely identify resources with resource name reuses. This should be a UUID4.",
          "readOnly": true,
          "type": "string"
        }
      },
      "id": "FlagRevision"
    },
    "FlagUpdate": {
      "type": "object",
      "id": "FlagUpdate",
      "properties": {
        "flagRelease": {
          "description": "Required. Flag release being applied by UnitOperation.",
          "type": "string"
        }
      },
      "description": "FlagUpdate is a UnitOperation that pushes new flag values to Units."
    },
    "Location": {
      "properties": {
        "name": {
          "type": "string",
          "description": "Optional. Name of location."
        }
      },
      "description": "Location information that the service is available in.",
      "type": "object",
      "id": "Location"
    },
    "Schedule": {
      "id": "Schedule",
      "properties": {
        "startTime": {
          "description": "Optional. Start of operation. If not set, will be set to the start of the next window. (optional)",
          "type": "string",
          "format": "google-datetime"
        }
      },
      "type": "object",
      "description": "A time specification to schedule the maintenance."
    },
    "UnitKind": {
      "description": "Definition of a Unit. Units belonging to the same UnitKind are managed together; for example they follow the same release model (blueprints, versions etc.) and are typically rolled out together.",
      "type": "object",
      "id": "UnitKind",
      "properties": {
        "saas": {
          "description": "Required. Immutable. A reference to the Saas that defines the product (managed service) that the producer wants to manage with App Lifecycle Manager. Part of the App Lifecycle Manager common data model. Immutable once set.",
          "type": "string"
        },
        "annotations": {
          "description": "Optional. Annotations is an unstructured key-value map stored with a resource that may be set by external tools to store and retrieve arbitrary metadata. They are not queryable and should be preserved when modifying objects. More info: https://kubernetes.io/docs/user-guide/annotations",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "dependencies": {
          "description": "Optional. Immutable. List of other unit kinds that this release will depend on. Dependencies will be automatically provisioned if not found. Maximum 10.",
          "items": {
            "$ref": "Dependency"
          },
          "type": "array"
        },
        "uid": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The unique identifier of the resource. UID is unique in the time and space for this resource within the scope of the service. It is typically generated by the server on successful creation of a resource and must not be changed. UID is used to uniquely identify resources with resource name reuses. This should be a UUID4."
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Optional. The labels on the resource, which can be used for categorization. similar to Kubernetes resource labels."
        },
        "applicationTemplateComponent": {
          "$ref": "ComponentRef",
          "description": "Optional. Reference to component and revision in a composite ApplicationTemplate."
        },
        "inputVariableMappings": {
          "description": "Optional. List of inputVariables for this release that will either be retrieved from a dependency's outputVariables, or will be passed on to a dependency's inputVariables. Maximum 100.",
          "items": {
            "$ref": "VariableMapping"
          },
          "type": "array"
        },
        "defaultFlagRevisions": {
          "description": "Optional. Default revisions of flags for this UnitKind. Newly created units will use the flag default_flag_revisions present at the time of creation.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "defaultRelease": {
          "type": "string",
          "description": "Optional. A reference to the Release object to use as default for creating new units of this UnitKind (optional). If not specified, a new unit must explicitly reference which release to use for its creation."
        },
        "etag": {
          "description": "Output only. An opaque value that uniquely identifies a version or generation of a resource. It can be used to confirm that the client and server agree on the ordering of a resource being written.",
          "readOnly": true,
          "type": "string"
        },
        "outputVariableMappings": {
          "description": "Optional. List of outputVariables for this unit kind will be passed to this unit's outputVariables. Maximum 100.",
          "items": {
            "$ref": "VariableMapping"
          },
          "type": "array"
        },
        "name": {
          "description": "Identifier. The resource name (full URI of the resource) following the standard naming scheme: \"projects/{project}/locations/{location}/unitKinds/{unitKind}\"",
          "type": "string"
        },
        "boundaryType": {
          "readOnly": true,
          "enum": [
            "BOUNDARY_TYPE_UNSPECIFIED",
            "BOUNDARY_TYPE_TENANT_PROJECT",
            "BOUNDARY_TYPE_MANAGED_PROJECT"
          ],
          "type": "string",
          "description": "Optional. Output only. BoundaryType describes the type of boundary the Unit Kind represents.",
          "enumDescriptions": [
            "Unspecified boundary type.",
            "Tenant project boundary.",
            "Managed project boundary."
          ]
        },
        "createTime": {
          "type": "string",
          "description": "Output only. The timestamp when the resource was created.",
          "format": "google-datetime",
          "readOnly": true
        },
        "appParams": {
          "description": "Optional. AppParams contains the parameters for creating an AppHub Application.",
          "$ref": "AppParams"
        },
        "updateTime": {
          "description": "Output only. The timestamp when the resource was last updated. Any change to the resource made by users must refresh this value. Changes to a resource made by the service should refresh this value.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "UnitUpdatePacing": {
      "type": "object",
      "description": "UnitUpdatePacing defines the policy for the maximum number of unit operations that can run for a rollout in parallel in a single region.",
      "id": "UnitUpdatePacing",
      "properties": {
        "maxConcurrentOperationsCount": {
          "type": "integer",
          "format": "int32",
          "description": "Optional. An absolute cap on concurrent units operations. If both percent and count are provided, the system uses the MINIMUM (most restrictive)."
        },
        "maxConcurrentOperationsPercent": {
          "$ref": "Decimal",
          "description": "Optional. The maximum percentage of total units in the scope that can be in-flight. Example: 10.5 for 10.5%. If both percent and count are provided, the system uses the MINIMUM (most restrictive)."
        }
      }
    },
    "ListUnitGroupOperationsResponse": {
      "properties": {
        "unreachable": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Locations that could not be reached."
        },
        "unitGroupOperations": {
          "description": "The resulting unit group operations.",
          "type": "array",
          "items": {
            "$ref": "UnitGroupOperation"
          }
        },
        "nextPageToken": {
          "description": "If present, the next page token can be provided to a subsequent ListUnitGroupOperations call to list the next page. If empty, there are no more pages.",
          "type": "string"
        }
      },
      "description": "The response structure for the ListUnitGroupOperations method.",
      "id": "ListUnitGroupOperationsResponse",
      "type": "object"
    },
    "FlagAttribute": {
      "properties": {
        "updateTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The timestamp when the resource was last updated. Any change to the resource made by users must refresh this value. Changes to a resource made by the service should refresh this value.",
          "format": "google-datetime"
        },
        "uid": {
          "description": "Output only. The unique identifier of the resource. UID is unique in the time and space for this resource within the scope of the service. It is typically generated by the server on successful creation of a resource and must not be changed. UID is used to uniquely identify resources with resource name reuses. This should be a UUID4.",
          "type": "string",
          "readOnly": true
        },
        "createTime": {
          "description": "Output only. The timestamp when the resource was created.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. The labels on the resource, which can be used for categorization. similar to Kubernetes resource labels.",
          "type": "object"
        },
        "name": {
          "description": "Identifier. The resource name (full URI of the resource) following the standard naming scheme: \"projects/{project}/locations/{location}/flagAttributes/{flag_attribute_id}\"",
          "type": "string"
        },
        "attributeValueType": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified flag attribute value type.",
            "Boolean flag attribute value type.",
            "Integer flag attribute value type.",
            "String flag attribute value type.",
            "Double flag attribute value type."
          ],
          "description": "Optional. Immutable. Type of the attribute.",
          "enum": [
            "FLAG_ATTRIBUTE_VALUE_TYPE_UNSPECIFIED",
            "FLAG_ATTRIBUTE_VALUE_TYPE_BOOLEAN",
            "FLAG_ATTRIBUTE_VALUE_TYPE_INTEGER",
            "FLAG_ATTRIBUTE_VALUE_TYPE_STRING",
            "FLAG_ATTRIBUTE_VALUE_TYPE_DOUBLE"
          ]
        },
        "annotations": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Optional. Annotations is an unstructured key-value map stored with a resource that may be set by external tools to store and retrieve arbitrary metadata. They are not queryable and should be preserved when modifying objects. More info: https://kubernetes.io/docs/user-guide/annotations"
        },
        "valueType": {
          "description": "Optional. Immutable. Deprecated: Use `attribute_value_type` instead. Type of the attribute.",
          "enumDescriptions": [
            "Unspecified flag attribute value type.",
            "Boolean flag attribute value type.",
            "Integer flag attribute value type.",
            "String flag attribute value type.",
            "Double flag attribute value type."
          ],
          "type": "string",
          "enum": [
            "FLAG_ATTRIBUTE_VALUE_TYPE_UNSPECIFIED",
            "BOOLEAN",
            "INTEGER",
            "STRING",
            "DOUBLE"
          ],
          "deprecated": true
        },
        "etag": {
          "type": "string",
          "description": "Output only. An opaque value that uniquely identifies a version or generation of a resource. It can be used to confirm that the client and server agree on the ordering of a resource being written.",
          "readOnly": true
        },
        "key": {
          "description": "Required. Immutable. The identifier for the attribute, used as the key in the evaluation context. The attribute key is referenced in the evaluation rules and used in the OpenFeature evaluation API to specify the attribute context.",
          "type": "string"
        }
      },
      "description": "FlagAttribute defines a custom property in the evaluation context.",
      "type": "object",
      "id": "FlagAttribute"
    },
    "EvaluationRule": {
      "id": "EvaluationRule",
      "description": "EvaluationRule defines a single rule for evaluating a feature flag. A rule consists of a condition that, if met, assigns a specific variant or allocation to the user.",
      "properties": {
        "condition": {
          "type": "string",
          "description": "Required. A Common Expression Language (CEL) expression that evaluates to a boolean. The expression is evaluated against the provided context. If it returns true, the rule's target is applied."
        },
        "allocationId": {
          "description": "Optional. The ID of an allocation to target.",
          "type": "string"
        },
        "id": {
          "description": "Required. Evaluation rule ID. Max length: 128 bytes.",
          "type": "string"
        },
        "target": {
          "type": "string",
          "deprecated": true,
          "description": "Optional. Deprecated: Use `rule_target` instead. The target variant or allocation to apply if the condition is met. This should match the name of a defined variant or allocation's ID."
        },
        "variantId": {
          "type": "string",
          "description": "Optional. The name of a variant to target."
        }
      },
      "type": "object"
    },
    "ReleaseRequirements": {
      "properties": {
        "upgradeableFromReleases": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. A list of releases from which a unit can be upgraded to this one (optional). If left empty no constraints will be applied. When provided, unit upgrade requests to this release will check and enforce this constraint."
        }
      },
      "id": "ReleaseRequirements",
      "type": "object",
      "description": "Set of requirements to be fulfilled on the Unit when using this Release."
    },
    "ListUnitsResponse": {
      "properties": {
        "unreachable": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Locations that could not be reached."
        },
        "units": {
          "items": {
            "$ref": "Unit"
          },
          "type": "array",
          "description": "The resulting units."
        },
        "nextPageToken": {
          "description": "If present, the next page token can be provided to a subsequent ListUnits call to list the next page. If empty, there are no more pages.",
          "type": "string"
        }
      },
      "description": "The response structure for the ListUnits method.",
      "id": "ListUnitsResponse",
      "type": "object"
    },
    "Release": {
      "id": "Release",
      "description": "A new version to be propagated and deployed to units. This includes pointers to packaged blueprints for actuation (e.g Helm or Terraform configuration packages) via artifact registry.",
      "type": "object",
      "properties": {
        "inputVariableDefaults": {
          "type": "array",
          "items": {
            "$ref": "UnitVariable"
          },
          "description": "Optional. Mapping of input variables to default values. Maximum 100"
        },
        "blueprint": {
          "description": "Optional. Blueprints are OCI Images that contain all of the artifacts needed to provision a unit.",
          "$ref": "Blueprint"
        },
        "etag": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. An opaque value that uniquely identifies a version or generation of a resource. It can be used to confirm that the client and server agree on the ordering of a resource being written."
        },
        "unitKind": {
          "description": "Required. Immutable. Reference to the UnitKind this Release corresponds to (required and immutable once created).",
          "type": "string"
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Optional. The labels on the resource, which can be used for categorization. similar to Kubernetes resource labels."
        },
        "uid": {
          "description": "Output only. The unique identifier of the resource. UID is unique in the time and space for this resource within the scope of the service. It is typically generated by the server on successful creation of a resource and must not be changed. UID is used to uniquely identify resources with resource name reuses. This should be a UUID4.",
          "type": "string",
          "readOnly": true
        },
        "updateTime": {
          "format": "google-datetime",
          "readOnly": true,
          "type": "string",
          "description": "Output only. The timestamp when the resource was last updated. Any change to the resource made by users must refresh this value. Changes to a resource made by the service should refresh this value."
        },
        "applicationTemplateComponent": {
          "readOnly": true,
          "description": "Output only. Reference to component and revision in a composite ApplicationTemplate.",
          "$ref": "ComponentRef"
        },
        "releaseRequirements": {
          "description": "Optional. Set of requirements to be fulfilled on the Unit when using this Release.",
          "$ref": "ReleaseRequirements"
        },
        "annotations": {
          "type": "object",
          "description": "Optional. Annotations is an unstructured key-value map stored with a resource that may be set by external tools to store and retrieve arbitrary metadata. They are not queryable and should be preserved when modifying objects. More info: https://kubernetes.io/docs/user-guide/annotations",
          "additionalProperties": {
            "type": "string"
          }
        },
        "name": {
          "type": "string",
          "description": "Identifier. The resource name (full URI of the resource) following the standard naming scheme: \"projects/{project}/locations/{location}/releases/{release}\""
        },
        "createTime": {
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. The timestamp when the resource was created.",
          "type": "string"
        },
        "outputVariables": {
          "items": {
            "$ref": "UnitVariable"
          },
          "readOnly": true,
          "description": "Optional. Output only. List of output variables declared on the blueprint and can be present with their values on the unit status",
          "type": "array"
        },
        "inputVariables": {
          "readOnly": true,
          "description": "Optional. Output only. List of input variables declared on the blueprint and can be present with their values on the unit spec",
          "type": "array",
          "items": {
            "$ref": "UnitVariable"
          }
        }
      }
    },
    "FlagRevisionList": {
      "description": "Wrapper for a list of flag revisions.",
      "properties": {
        "revisions": {
          "items": {
            "type": "string"
          },
          "description": "Required. FlagRevisions to be rolled out.",
          "type": "array"
        }
      },
      "id": "FlagRevisionList",
      "type": "object"
    },
    "UnitGroupOperation": {
      "id": "UnitGroupOperation",
      "type": "object",
      "description": "UnitGroupOperation represents an operation on a UnitGroup.",
      "properties": {
        "uid": {
          "description": "Output only. The unique identifier of the resource. UID is unique in the time and space for this resource within the scope of the service. It is typically generated by the server on successful creation of a resource and must not be changed. UID is used to uniquely identify resources with resource name reuses. This should be a UUID4.",
          "readOnly": true,
          "type": "string"
        },
        "createTime": {
          "description": "Output only. The timestamp when the resource was created.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "etag": {
          "readOnly": true,
          "description": "Output only. An opaque value that uniquely identifies a version or generation of a resource. It can be used to confirm that the client and server agree on the ordering of a resource being written.",
          "type": "string"
        },
        "labels": {
          "description": "Optional. The labels on the resource, which can be used for categorization. similar to Kubernetes resource labels.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "annotations": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Optional. Annotations is an unstructured key-value map stored with a resource that may be set by external tools to store and retrieve arbitrary metadata. They are not queryable and should be preserved when modifying objects. More info: https://kubernetes.io/docs/user-guide/annotations"
        },
        "name": {
          "type": "string",
          "description": "Identifier. The resource name (full URI of the resource) following the standard naming scheme: \"projects/{project}/locations/{location}/unitGroupOperations/{unitGroupOperation}\""
        },
        "updateTime": {
          "type": "string",
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. The timestamp when the resource was last updated. Any change to the resource made by users must refresh this value. Changes to a resource made by the service should refresh this value."
        },
        "deleteTime": {
          "format": "google-datetime",
          "description": "Output only. The timestamp when the resource was marked for deletion (deletion is an asynchronous operation).",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "AppParams": {
      "id": "AppParams",
      "type": "object",
      "properties": {
        "scope": {
          "$ref": "Scope",
          "description": "Optional. Corresponds to the scope in the ADC composite ApplicationTemplate. Defaults to TYPE_REGIONAL."
        },
        "group": {
          "description": "Optional. Grouping used to construct the name of the AppHub Application. Multiple UnitKinds can specify the same group to use the same Application across their respective units. Corresponds to the app_boundary_id in the ADC composite ApplicationTemplate. Defaults to UnitKind.name",
          "type": "string"
        }
      },
      "description": "AppParams contains the parameters for creating an AppHub Application."
    },
    "Upgrade": {
      "description": "Upgrade is the unit operation that upgrades a provisioned unit, which may also include the underlying resources represented by a Unit. Can only execute if the Unit is currently provisioned.",
      "properties": {
        "inputVariables": {
          "type": "array",
          "items": {
            "$ref": "UnitVariable"
          },
          "description": "Optional. Set of input variables. Maximum 100. (optional)"
        },
        "release": {
          "type": "string",
          "description": "Optional. Reference to the Release object to use for the Unit. (optional)."
        }
      },
      "id": "Upgrade",
      "type": "object"
    },
    "UnitOperation": {
      "properties": {
        "conditions": {
          "type": "array",
          "items": {
            "$ref": "UnitOperationCondition"
          },
          "readOnly": true,
          "description": "Optional. Output only. A set of conditions which indicate the various conditions this resource can have."
        },
        "deprovision": {
          "description": "Optional. Deprovision operation.",
          "$ref": "Deprovision"
        },
        "parentUnitOperation": {
          "description": "Optional. Reference to parent resource: UnitOperation. If an operation needs to create other operations as part of its workflow, each of the child operations should have this field set to the parent. This can be used for tracing. (Optional)",
          "type": "string"
        },
        "unit": {
          "description": "Required. Immutable. The Unit a given UnitOperation will act upon.",
          "type": "string"
        },
        "flagUpdate": {
          "description": "Optional. Flag update operation.",
          "$ref": "FlagUpdate"
        },
        "createTime": {
          "description": "Output only. The timestamp when the resource was created.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "name": {
          "description": "Identifier. The resource name (full URI of the resource) following the standard naming scheme: \"projects/{project}/locations/{location}/unitOperations/{unitOperation}\"",
          "type": "string"
        },
        "state": {
          "description": "Optional. Output only. UnitOperationState describes the current state of the unit operation.",
          "readOnly": true,
          "enum": [
            "UNIT_OPERATION_STATE_UNKNOWN",
            "UNIT_OPERATION_STATE_PENDING",
            "UNIT_OPERATION_STATE_SCHEDULED",
            "UNIT_OPERATION_STATE_RUNNING",
            "UNIT_OPERATION_STATE_SUCCEEDED",
            "UNIT_OPERATION_STATE_FAILED",
            "UNIT_OPERATION_STATE_CANCELLED"
          ],
          "enumDescriptions": [
            "Unit operation state is unknown.",
            "Unit operation is accepted but not ready to run.",
            "Unit operation is accepted and scheduled.",
            "Unit operation is running.",
            "Unit operation has completed successfully.",
            "Unit operation has failed.",
            "Unit operation was cancelled."
          ],
          "type": "string"
        },
        "rollout": {
          "type": "string",
          "description": "Optional. Specifies which rollout created this Unit Operation. This cannot be modified and is used for filtering purposes only. If a dependent unit and unit operation are created as part of another unit operation, they will use the same rolloutId."
        },
        "annotations": {
          "type": "object",
          "description": "Optional. Annotations is an unstructured key-value map stored with a resource that may be set by external tools to store and retrieve arbitrary metadata. They are not queryable and should be preserved when modifying objects. More info: https://kubernetes.io/docs/user-guide/annotations",
          "additionalProperties": {
            "type": "string"
          }
        },
        "updateTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The timestamp when the resource was last updated. Any change to the resource made by users must refresh this value. Changes to a resource made by the service should refresh this value."
        },
        "errorCategory": {
          "type": "string",
          "readOnly": true,
          "enumDescriptions": [
            "Unit operation error category is unspecified",
            "Unit operation error category is not applicable, or it is not an error",
            "Unit operation error category is fatal",
            "Unit operation error category is retriable",
            "Unit operation error category is ignorable",
            "Unit operation error category is standard, counts towards Rollout error budget"
          ],
          "enum": [
            "UNIT_OPERATION_ERROR_CATEGORY_UNSPECIFIED",
            "NOT_APPLICABLE",
            "FATAL",
            "RETRIABLE",
            "IGNORABLE",
            "STANDARD"
          ],
          "description": "Optional. Output only. UnitOperationErrorCategory describe the error category."
        },
        "schedule": {
          "$ref": "Schedule",
          "description": "Optional. When to schedule this operation."
        },
        "engineState": {
          "readOnly": true,
          "type": "string",
          "description": "Optional. Output only. The engine state for on-going deployment engine operation(s). This field is opaque for external usage."
        },
        "upgrade": {
          "description": "Optional. Upgrade operation.",
          "$ref": "Upgrade"
        },
        "deleteTime": {
          "type": "string",
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. The timestamp when the resource was marked for deletion (deletion is an asynchronous operation)."
        },
        "etag": {
          "description": "Output only. An opaque value that uniquely identifies a version or generation of a resource. It can be used to confirm that the client and server agree on the ordering of a resource being written.",
          "type": "string",
          "readOnly": true
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. The labels on the resource, which can be used for categorization. similar to Kubernetes resource labels.",
          "type": "object"
        },
        "provision": {
          "$ref": "Provision",
          "description": "Optional. Provision operation."
        },
        "cancel": {
          "description": "Optional. When true, attempt to cancel the operation. Cancellation may fail if the operation is already executing. (Optional)",
          "type": "boolean"
        },
        "uid": {
          "description": "Output only. The unique identifier of the resource. UID is unique in the time and space for this resource within the scope of the service. It is typically generated by the server on successful creation of a resource and must not be changed. UID is used to uniquely identify resources with resource name reuses. This should be a UUID4.",
          "type": "string",
          "readOnly": true
        }
      },
      "id": "UnitOperation",
      "type": "object",
      "description": "UnitOperation encapsulates the intent of changing/interacting with the service component represented by the specific Unit. Multiple UnitOperations can be created (requested) and scheduled in the future, however only one will be allowed to execute at a time (that can change in the future for non-mutating operations). UnitOperations allow different actors interacting with the same unit to focus only on the change they have requested. This is a base object that contains the common fields in all unit operations. Next: 22"
    },
    "ListFlagRevisionsResponse": {
      "id": "ListFlagRevisionsResponse",
      "description": "The response structure for the ListFlagRevisions method.",
      "properties": {
        "flagRevisions": {
          "items": {
            "$ref": "FlagRevision"
          },
          "description": "The resulting flag revisions.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "If present, the next page token can be provided to a subsequent ListFlagRevisions call to list the next page. If empty, there are no more pages.",
          "type": "string"
        },
        "unreachable": {
          "type": "array",
          "description": "Locations that could not be reached.",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object"
    },
    "Dependency": {
      "properties": {
        "unitKind": {
          "type": "string",
          "description": "Required. Immutable. The unit kind of the dependency."
        },
        "alias": {
          "type": "string",
          "description": "Required. An alias for the dependency. Used for input variable mapping."
        }
      },
      "id": "Dependency",
      "description": "Dependency represent a single dependency with another unit kind by alias.",
      "type": "object"
    },
    "RolloutKind": {
      "properties": {
        "labels": {
          "description": "Optional. The labels on the resource, which can be used for categorization. similar to Kubernetes resource labels.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "errorBudget": {
          "description": "Optional. The configuration for error budget. If the number of failed units exceeds max(allowed_count, allowed_ratio * total_units), the rollout will be paused. If not set, all units will be attempted to be updated regardless of the number of failures encountered.",
          "$ref": "ErrorBudget"
        },
        "unitUpdatePacing": {
          "$ref": "UnitUpdatePacing",
          "description": "Optional. Settings for controlling the pacing of rollouts i.e. the number of units to be rolled out in parallel in a region."
        },
        "etag": {
          "type": "string",
          "description": "Output only. An opaque value that uniquely identifies a version or generation of a resource. It can be used to confirm that the client and server agree on the ordering of a resource being written.",
          "readOnly": true
        },
        "annotations": {
          "description": "Optional. Annotations is an unstructured key-value map stored with a resource that may be set by external tools to store and retrieve arbitrary metadata. They are not queryable and should be preserved when modifying objects. More info: https://kubernetes.io/docs/user-guide/annotations",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "createTime": {
          "format": "google-datetime",
          "description": "Output only. The timestamp when the resource was created.",
          "type": "string",
          "readOnly": true
        },
        "unitKind": {
          "type": "string",
          "description": "Optional. Immutable. UnitKind that this rollout kind corresponds to. Rollouts stemming from this rollout kind will target the units of this unit kind. In other words, this defines the population of target units to be upgraded by rollouts."
        },
        "unitFilter": {
          "type": "string",
          "description": "Optional. CEL(https://github.com/google/cel-spec) formatted filter string against Unit. The filter will be applied to determine the eligible unit population. This filter can only reduce, but not expand the scope of the rollout."
        },
        "updateTime": {
          "description": "Output only. The timestamp when the resource was last updated. Any change to the resource made by users must refresh this value. Changes to a resource made by the service should refresh this value.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "updateUnitKindStrategy": {
          "enumDescriptions": [
            "Strategy unspecified.",
            "Update the unit kind strategy on the rollout start.",
            "Never update the unit kind."
          ],
          "enum": [
            "UPDATE_UNIT_KIND_STRATEGY_UNSPECIFIED",
            "UPDATE_UNIT_KIND_STRATEGY_ON_START",
            "UPDATE_UNIT_KIND_STRATEGY_NEVER"
          ],
          "type": "string",
          "description": "Optional. The config for updating the unit kind. By default, the unit kind will be updated on the rollout start."
        },
        "name": {
          "description": "Identifier. The resource name (full URI of the resource) following the standard naming scheme: \"projects/{project}/locations/{location}/rolloutKinds/{rollout_kind_id}\"",
          "type": "string"
        },
        "rolloutOrchestrationStrategy": {
          "type": "string",
          "description": "Optional. The strategy used for executing a Rollout. This is a required field. There are two supported values strategies which are used to control - \"Google.Cloud.Simple.AllAtOnce\" - \"Google.Cloud.Simple.OneLocationAtATime\" A rollout with one of these simple strategies will rollout across all locations defined in the associated UnitKind's Saas Locations."
        },
        "uid": {
          "description": "Output only. The unique identifier of the resource. UID is unique in the time and space for this resource within the scope of the service. It is typically generated by the server on successful creation of a resource and must not be changed. UID is used to uniquely identify resources with resource name reuses. This should be a UUID4.",
          "readOnly": true,
          "type": "string"
        }
      },
      "type": "object",
      "id": "RolloutKind",
      "description": "An object that describes various settings of Rollout execution. Includes built-in and customizable policies."
    },
    "ListUnitKindsResponse": {
      "type": "object",
      "description": "The response structure for the ListUnitKinds method.",
      "properties": {
        "unreachable": {
          "type": "array",
          "description": "Locations that could not be reached.",
          "items": {
            "type": "string"
          }
        },
        "unitKinds": {
          "type": "array",
          "description": "The resulting unit kinds.",
          "items": {
            "$ref": "UnitKind"
          }
        },
        "nextPageToken": {
          "description": "If present, the next page token can be provided to a subsequent ListUnitKinds call to list the next page. If empty, there are no more pages.",
          "type": "string"
        }
      },
      "id": "ListUnitKindsResponse"
    },
    "ListLocationsResponse": {
      "id": "ListLocationsResponse",
      "properties": {
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        },
        "locations": {
          "items": {
            "$ref": "GoogleCloudLocationLocation"
          },
          "type": "array",
          "description": "A list of locations that matches the specified filter in the request."
        }
      },
      "description": "The response message for Locations.ListLocations.",
      "type": "object"
    },
    "ListUnitOperationsResponse": {
      "description": "The response structure for the ListUnitOperations method.",
      "id": "ListUnitOperationsResponse",
      "type": "object",
      "properties": {
        "unitOperations": {
          "description": "The resulting unit operations.",
          "type": "array",
          "items": {
            "$ref": "UnitOperation"
          }
        },
        "unreachable": {
          "type": "array",
          "description": "Locations that could not be reached.",
          "items": {
            "type": "string"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "If present, the next page token can be provided to a subsequent ListUnitOperations call to list the next page. If empty, there are no more pages."
        }
      }
    },
    "ListFlagReleasesResponse": {
      "description": "The response structure for the ListFlagReleases method.",
      "id": "ListFlagReleasesResponse",
      "type": "object",
      "properties": {
        "flagReleases": {
          "description": "The resulting flag releases.",
          "type": "array",
          "items": {
            "$ref": "FlagRelease"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "If present, the next page token can be provided to a subsequent ListFlagReleases call to list the next page. If empty, there are no more pages."
        },
        "unreachable": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Locations that could not be reached."
        }
      }
    },
    "RolloutStats": {
      "description": "RolloutStats contains information about the progress of a rollout.",
      "type": "object",
      "id": "RolloutStats",
      "properties": {
        "estimatedTotalUnitCount": {
          "type": "string",
          "readOnly": true,
          "description": "Optional. Output only. Estimated number of units based. The estimation is computed upon creation of the rollout.",
          "format": "int64"
        },
        "operationsByState": {
          "items": {
            "$ref": "Aggregate"
          },
          "description": "Optional. Output only. Unordered list. A breakdown of the progress of operations triggered by the rollout. Provides a count of Operations by their state. This can be used to determine the number of units which have been updated, or are scheduled to be updated. There will be at most one entry per group. Possible values for operation groups are: - \"SCHEDULED\" - \"PENDING\" - \"RUNNING\" - \"SUCCEEDED\" - \"FAILED\" - \"CANCELLED\"",
          "readOnly": true,
          "type": "array"
        }
      }
    },
    "Allocation": {
      "properties": {
        "randomizedOn": {
          "description": "Required. Key of the context attribute that is used for traffic splitting.",
          "type": "string"
        },
        "description": {
          "type": "string",
          "description": "Optional. Description of the allocation. Max length: 500 bytes."
        },
        "slots": {
          "items": {
            "$ref": "AllocationSlot"
          },
          "description": "Required. Slots defines the weighted distribution of variants.",
          "type": "array"
        },
        "id": {
          "description": "Required. Allocation ID. Max length: 128 bytes.",
          "type": "string"
        }
      },
      "description": "Allocation defines a set of weighted flag variants, specifying how traffic is split based on the randomization unit.",
      "id": "Allocation",
      "type": "object"
    },
    "Provision": {
      "id": "Provision",
      "description": "Provision is the unit operation that provision the underlying resources represented by a Unit. Can only execute if the Unit is not currently provisioned.",
      "properties": {
        "release": {
          "description": "Optional. Reference to the Release object to use for the Unit. (optional).",
          "type": "string"
        },
        "inputVariables": {
          "description": "Optional. Set of input variables. Maximum 100. (optional)",
          "type": "array",
          "items": {
            "$ref": "UnitVariable"
          }
        }
      },
      "type": "object"
    },
    "EvaluationSpec": {
      "description": "EvaluationSpec holds rules for evaluating the value of a flag.",
      "id": "EvaluationSpec",
      "type": "object",
      "properties": {
        "attributes": {
          "description": "Optional. Names of the context attributes that are used in the evaluation rules and allocations.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "defaultTarget": {
          "description": "Optional. Deprecated: Use `base_target` instead. Default variant or allocation of the flag.",
          "deprecated": true,
          "type": "string"
        },
        "variants": {
          "items": {
            "$ref": "Variant"
          },
          "type": "array",
          "deprecated": true,
          "description": "Optional. A list of variants."
        },
        "allocations": {
          "type": "array",
          "description": "Optional. A list of allocations.",
          "items": {
            "$ref": "Allocation"
          }
        },
        "rules": {
          "items": {
            "$ref": "EvaluationRule"
          },
          "type": "array",
          "description": "Optional. Evaluation rules define the logic for evaluating the flag against a given context. The rules are evaluated sequentially in their specified order."
        }
      }
    },
    "FlagVariant": {
      "type": "object",
      "properties": {
        "integerValue": {
          "format": "int64",
          "description": "Optional. Integer variant value.",
          "type": "string"
        },
        "id": {
          "type": "string",
          "description": "Required. Variant ID. Max length: 128 bytes."
        },
        "doubleValue": {
          "type": "number",
          "format": "double",
          "description": "Optional. Double variant value."
        },
        "booleanValue": {
          "type": "boolean",
          "description": "Optional. Boolean variant value."
        },
        "trackingId": {
          "description": "Optional. trackingId is unique depending on name and value of the variant within the scope of the service. It is typically generated by the server and must not be changed. trackingId is used to uniquely identify and track variants.",
          "type": "string"
        },
        "stringValue": {
          "description": "Optional. String variant value.",
          "type": "string"
        },
        "description": {
          "description": "Optional. A human-readable description of what this variant does or represents.",
          "type": "string"
        }
      },
      "description": "Variant is an identifier for a value (name assigned to a value).",
      "id": "FlagVariant"
    },
    "VariableMapping": {
      "properties": {
        "variable": {
          "description": "Required. name of the variable",
          "type": "string"
        },
        "from": {
          "description": "Optional. Output variables which will get their values from dependencies",
          "$ref": "FromMapping"
        },
        "to": {
          "description": "Optional. Input variables whose values will be passed on to dependencies.",
          "$ref": "ToMapping"
        }
      },
      "type": "object",
      "id": "VariableMapping",
      "description": "Mapping of input variables to their respective output variable for depedenencies"
    },
    "ListTenantsResponse": {
      "type": "object",
      "properties": {
        "tenants": {
          "type": "array",
          "description": "The resulting tenants.",
          "items": {
            "$ref": "Tenant"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "If present, the next page token can be provided to a subsequent ListTenants call to list the next page. If empty, there are no more pages."
        },
        "unreachable": {
          "description": "Locations that could not be reached.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "description": "The response structure for the ListTenants method.",
      "id": "ListTenantsResponse"
    },
    "MaintenanceSettings": {
      "type": "object",
      "properties": {
        "pinnedUntilTime": {
          "description": "Optional. If present, it fixes the release on the unit until the given time; i.e. changes to the release field will be rejected. Rollouts should and will also respect this by not requesting an upgrade in the first place.",
          "format": "google-datetime",
          "type": "string"
        }
      },
      "description": "Captures requested directives for performing future maintenance on the unit. This includes a request for the unit to skip maintenance for a period of time and remain pinned to its current release as well as controls for postponing maintenance scheduled in future.",
      "id": "MaintenanceSettings"
    },
    "ListUnitGroupsResponse": {
      "id": "ListUnitGroupsResponse",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "If present, the next page token can be provided to a subsequent ListUnitGroups call to list the next page. If empty, there are no more pages.",
          "type": "string"
        },
        "unreachable": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Locations that could not be reached."
        },
        "unitGroups": {
          "type": "array",
          "description": "The resulting unit groups.",
          "items": {
            "$ref": "UnitGroup"
          }
        }
      },
      "description": "The response structure for the ListUnitGroups method."
    },
    "FlagRelease": {
      "type": "object",
      "description": "A collection of FlagRevisions.",
      "id": "FlagRelease",
      "properties": {
        "effectiveFlagRevisions": {
          "description": "Output only. An OUTPUT_ONLY field that contains FlagRevisions to be rolled out. This is the ultimate source of truth of what a Rollout or a UnitOperation carries.",
          "readOnly": true,
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "unitKind": {
          "type": "string",
          "description": "Required. Immutable. The UnitKind this FlagRelease applies to."
        },
        "allFlags": {
          "deprecated": true,
          "description": "Optional. Immutable. DEPRECATED: Use all_flags_release instead. Rollout all flags in the provided UnitKind. Only one of flag_revisions, all_flags, or flag_sets can be set.",
          "type": "boolean"
        },
        "name": {
          "description": "Identifier. The resource name (full URI of the resource) following the standard naming scheme: \"projects/{project}/locations/{location}/flagReleases/{flag_release_id}\"",
          "type": "string"
        },
        "updateTime": {
          "format": "google-datetime",
          "type": "string",
          "readOnly": true,
          "description": "Output only. The timestamp when the resource was last updated. Any change to the resource made by users must refresh this value. Changes to a resource made by the service should refresh this value."
        },
        "createTime": {
          "type": "string",
          "description": "Output only. The timestamp when the resource was created.",
          "format": "google-datetime",
          "readOnly": true
        },
        "uid": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The unique identifier of the resource. UID is unique in the time and space for this resource within the scope of the service. It is typically generated by the server on successful creation of a resource and must not be changed. UID is used to uniquely identify resources with resource name reuses. This should be a UUID4."
        },
        "flagRevisionsRelease": {
          "$ref": "FlagRevisionList",
          "description": "Optional. Immutable. Specifies the release consisting of a list of flag revisions."
        },
        "obsoleteFlags": {
          "description": "Optional. Immutable. Deprecated: Use the 'state' field in the 'Flag' resource to manage the cleanup of flag lifecycles including removal from UnitKind and Units. Flags to be removed from given UnitKind and all related Units. If Flag is provided here, its FlagRevisions will be removed from UnitKind and Units.",
          "type": "array",
          "deprecated": true,
          "items": {
            "type": "string"
          }
        },
        "annotations": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. Annotations is an unstructured key-value map stored with a resource that may be set by external tools to store and retrieve arbitrary metadata. They are not queryable and should be preserved when modifying objects. More info: https://kubernetes.io/docs/user-guide/annotations"
        },
        "flagRevisions": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "deprecated": true,
          "description": "Optional. Immutable. DEPRECATED: Use flag_revisions_release instead. FlagRevisions to be rolled out. Only one of flag_revisions, all_flags, or flag_sets can be set. It used to be the ultimate source to truth and has been moved to effective_flag_revisions."
        },
        "allFlagsRelease": {
          "type": "boolean",
          "description": "Optional. Immutable. Specifies the release includes all flags."
        },
        "flagNamesRelease": {
          "$ref": "FlagNameList",
          "description": "Optional. Immutable. Specifies the release consisting of a list of flags."
        },
        "etag": {
          "description": "Output only. An opaque value that uniquely identifies a version or generation of a resource. It can be used to confirm that the client and server agree on the ordering of a resource being written.",
          "type": "string",
          "readOnly": true
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. The labels on the resource, which can be used for categorization. similar to Kubernetes resource labels.",
          "type": "object"
        },
        "flagSetsRelease": {
          "$ref": "FlagSetList",
          "description": "Optional. Immutable. Specifies the release consisting of a list of flag sets."
        },
        "flagSets": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. Immutable. DEPRECATED: Use flag_sets_release instead. Flag sets to be rolled out. Only one of flag_revisions, all_flags, or flag_sets can be set.",
          "deprecated": true
        }
      }
    },
    "ToMapping": {
      "id": "ToMapping",
      "description": "Input variables whose values will be passed on to dependencies",
      "type": "object",
      "properties": {
        "inputVariable": {
          "type": "string",
          "description": "Required. Name of the inputVariable on the dependency"
        },
        "ignoreForLookup": {
          "description": "Optional. Tells App Lifecycle Manager if this mapping should be used during lookup or not",
          "type": "boolean"
        },
        "dependency": {
          "type": "string",
          "description": "Required. Alias of the dependency that the inputVariable will pass its value to"
        }
      }
    },
    "RolloutControl": {
      "id": "RolloutControl",
      "properties": {
        "runParams": {
          "$ref": "RunRolloutActionParams",
          "description": "Optional. Parameters for the RUN action. It is an error to specify this if the RolloutAction is not set to RUN. By default, the rollout will retry failed operations when resumed."
        },
        "action": {
          "enumDescriptions": [
            "Unspecified action, will be treated as RUN by default.",
            "Run the Rollout until it naturally reaches a terminal state. A rollout requested to run will progress through all natural Rollout States (such as RUNNING -> SUCCEEDED or RUNNING -> FAILED). If retriable errors are encountered during the rollout, the rollout will paused by default and can be resumed by re-requesting this RUN action.",
            "Pause the Rollout until it is resumed (i.e. RUN is requested).",
            "Cancel the Rollout permanently."
          ],
          "type": "string",
          "description": "Required. Action to be performed on the Rollout. The default behavior is to run the rollout until it naturally reaches a terminal state.",
          "enum": [
            "ROLLOUT_ACTION_UNSPECIFIED",
            "ROLLOUT_ACTION_RUN",
            "ROLLOUT_ACTION_PAUSE",
            "ROLLOUT_ACTION_CANCEL"
          ]
        }
      },
      "description": "RolloutControl provides a way to request a change to the execution of a Rollout by pausing or canceling it.",
      "type": "object"
    },
    "ListFlagsResponse": {
      "description": "The response structure for the ListFlags method.",
      "type": "object",
      "properties": {
        "unreachable": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Locations that could not be reached."
        },
        "nextPageToken": {
          "type": "string",
          "description": "If present, the next page token can be provided to a subsequent ListFlags call to list the next page. If empty, there are no more pages."
        },
        "flags": {
          "description": "The resulting flags.",
          "type": "array",
          "items": {
            "$ref": "Flag"
          }
        }
      },
      "id": "ListFlagsResponse"
    },
    "Status": {
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "id": "Status",
      "type": "object",
      "properties": {
        "details": {
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "items": {
            "additionalProperties": {
              "description": "Properties of the object. Contains field @type with type URL.",
              "type": "any"
            },
            "type": "object"
          },
          "type": "array"
        },
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        },
        "code": {
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "ListRolloutKindsResponse": {
      "description": "The response structure for the ListRolloutKinds method.",
      "properties": {
        "unreachable": {
          "description": "Locations that could not be reached.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "rolloutKinds": {
          "description": "The resulting rollout kinds.",
          "type": "array",
          "items": {
            "$ref": "RolloutKind"
          }
        },
        "nextPageToken": {
          "description": "If present, the next page token can be provided to a subsequent ListRolloutKinds call to list the next page. If empty, there are no more pages.",
          "type": "string"
        }
      },
      "id": "ListRolloutKindsResponse",
      "type": "object"
    },
    "Variant": {
      "description": "Variant is an identifier for a value (name assigned to a value). DEPRECATED: Use Flag.Variants instead.",
      "id": "Variant",
      "properties": {
        "intValue": {
          "format": "int64",
          "type": "string",
          "description": "Optional. Integer flag value."
        },
        "doubleValue": {
          "description": "Optional. Double flag value.",
          "format": "double",
          "type": "number"
        },
        "name": {
          "description": "Required. Name of the variant. Max length: 128 bytes.",
          "type": "string"
        },
        "boolValue": {
          "type": "boolean",
          "description": "Optional. Boolean flag value."
        },
        "stringValue": {
          "description": "Optional. String flag value.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "FlagSetList": {
      "type": "object",
      "id": "FlagSetList",
      "properties": {
        "sets": {
          "items": {
            "type": "string"
          },
          "description": "Required. Flag sets to be rolled out.",
          "type": "array"
        }
      },
      "description": "Wrapper for a list of flag sets."
    },
    "Saas": {
      "id": "Saas",
      "description": "Saas is a representation of a SaaS service managed by the Producer.",
      "type": "object",
      "properties": {
        "createTime": {
          "description": "Output only. The timestamp when the resource was created.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "applicationTemplate": {
          "$ref": "CompositeRef",
          "description": "Reference to composite ApplicationTemplate. When specified, the template components will be imported into their equivalent UnitKind, Release and Blueprint resources. Deleted references will not delete imported resources. Should only be specified on source regions, and be unspecified on replica regions."
        },
        "error": {
          "$ref": "Status",
          "description": "Output only. If the state is FAILED, the corresponding error code and message. Defaults to code=OK for all other states.",
          "readOnly": true
        },
        "name": {
          "description": "Identifier. The resource name (full URI of the resource) following the standard naming scheme: \"projects/{project}/locations/{location}/saas/{saas}\"",
          "type": "string"
        },
        "updateTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The timestamp when the resource was last updated. Any change to the resource made by users must refresh this value. Changes to a resource made by the service should refresh this value.",
          "readOnly": true
        },
        "conditions": {
          "readOnly": true,
          "type": "array",
          "description": "Output only. A set of conditions which indicate the various conditions this resource can have.",
          "items": {
            "$ref": "SaasCondition"
          }
        },
        "uid": {
          "description": "Output only. The unique identifier of the resource. UID is unique in the time and space for this resource within the scope of the service. It is typically generated by the server on successful creation of a resource and must not be changed. UID is used to uniquely identify resources with resource name reuses. This should be a UUID4.",
          "type": "string",
          "readOnly": true
        },
        "state": {
          "type": "string",
          "enumDeprecated": [
            false,
            true,
            false,
            false,
            false
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "STATE_TYPE_UNSPECIFIED",
            "STATE_ACTIVE",
            "STATE_RUNNING",
            "STATE_FAILED"
          ],
          "description": "Output only. State of the Saas. It is always in STATE_ACTIVE state if the application_template is empty.",
          "enumDescriptions": [
            "State is unspecified.",
            "State type is unspecified. Deprecated: Use STATE_UNSPECIFIED instead.",
            "The Saas is ready",
            "In the process of importing, synchronizing or replicating ApplicationTemplates",
            "Failure during process of importing, synchronizing or replicating ApplicationTemplate processing"
          ],
          "readOnly": true
        },
        "annotations": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. Annotations is an unstructured key-value map stored with a resource that may be set by external tools to store and retrieve arbitrary metadata. They are not queryable and should be preserved when modifying objects. More info: https://kubernetes.io/docs/user-guide/annotations",
          "type": "object"
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. The labels on the resource, which can be used for categorization. similar to Kubernetes resource labels.",
          "type": "object"
        },
        "blueprintRepo": {
          "type": "string",
          "description": "Output only. Name of repository in Artifact Registry for system-generated Blueprints, eg. Blueprints of imported ApplicationTemplates.",
          "readOnly": true
        },
        "locations": {
          "items": {
            "$ref": "Location"
          },
          "description": "Optional. List of locations that the service is available in. Rollout refers to the list to generate a rollout plan.",
          "type": "array"
        },
        "etag": {
          "type": "string",
          "description": "Output only. An opaque value that uniquely identifies a version or generation of a resource. It can be used to confirm that the client and server agree on the ordering of a resource being written.",
          "readOnly": true
        }
      }
    },
    "Empty": {
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "type": "object",
      "id": "Empty",
      "properties": {}
    },
    "ListFlagAttributesResponse": {
      "type": "object",
      "description": "The response structure for the ListFlagAttributes method.",
      "id": "ListFlagAttributesResponse",
      "properties": {
        "unreachable": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Locations that could not be reached."
        },
        "flagAttributes": {
          "items": {
            "$ref": "FlagAttribute"
          },
          "description": "The resulting flag attributes.",
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "If present, the next page token can be provided to a subsequent ListFlagAttributes call to list the next page. If empty, there are no more pages."
        }
      }
    },
    "GoogleCloudLocationLocation": {
      "properties": {
        "locationId": {
          "description": "The canonical id for this location. For example: `\"us-east1\"`.",
          "type": "string"
        },
        "name": {
          "description": "Resource name for the location, which may vary between implementations. For example: `\"projects/example-project/locations/us-east1\"`",
          "type": "string"
        },
        "labels": {
          "description": "Cross-service attributes for the location. For example {\"cloud.googleapis.com/region\": \"us-east1\"}",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "displayName": {
          "type": "string",
          "description": "The friendly name for this location, typically a nearby city name. For example, \"Tokyo\"."
        },
        "metadata": {
          "type": "object",
          "description": "Service-specific metadata. For example the available capacity at the given location.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        }
      },
      "type": "object",
      "description": "A resource that represents a Google Cloud location.",
      "id": "GoogleCloudLocationLocation"
    },
    "FlagNameList": {
      "type": "object",
      "description": "Wrapper for a list of flags.",
      "id": "FlagNameList",
      "properties": {
        "flags": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Required. Flags to be rolled out."
        }
      }
    },
    "Unit": {
      "id": "Unit",
      "properties": {
        "state": {
          "enum": [
            "UNIT_STATE_UNSPECIFIED",
            "UNIT_STATE_NOT_PROVISIONED",
            "UNIT_STATE_PROVISIONING",
            "UNIT_STATE_UPDATING",
            "UNIT_STATE_DEPROVISIONING",
            "UNIT_STATE_READY",
            "UNIT_STATE_ERROR"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unspecified state.",
            "Unit is not provisioned.",
            "Unit is being provisioned.",
            "Unit is being updated. This is typically when a unit is being upgraded to a new release or some of the input variables on the Unit is being changed. Certain kinds of updates may cause the Unit to become unusable while the update is in progress.",
            "Unit is being deleted.",
            "Unit has been provisioned and is ready for use",
            "Unit has error, when it is not ready and some error operation"
          ],
          "readOnly": true,
          "description": "Optional. Output only. Current lifecycle state of the resource (e.g. if it's being created or ready to use)."
        },
        "dependents": {
          "type": "array",
          "readOnly": true,
          "description": "Optional. Output only. List of Units that depend on this unit. Unit can only be deprovisioned if this list is empty. Maximum 1000.",
          "items": {
            "$ref": "UnitDependency"
          }
        },
        "dependencies": {
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "UnitDependency"
          },
          "description": "Optional. Output only. Set of dependencies for this unit. Maximum 10."
        },
        "flagConfigName": {
          "readOnly": true,
          "description": "Output only. This field stores the unique identifier for the flag configuration to be used by this Unit.",
          "type": "string"
        },
        "tenant": {
          "description": "Optional. Reference to the Saas Tenant resource this unit belongs to. This for example informs the maintenance policies to use for scheduling future updates on a unit. (optional and immutable once created)",
          "type": "string"
        },
        "ongoingOperations": {
          "description": "Optional. Output only. List of concurrent UnitOperations that are operating on this Unit.",
          "readOnly": true,
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "outputVariables": {
          "type": "array",
          "description": "Optional. Output only. Set of key/value pairs corresponding to output variables from execution of actuation templates. The variables are declared in actuation configs (e.g in helm chart or terraform) and the values are fetched and returned by the actuation engine upon completion of execution.",
          "items": {
            "$ref": "UnitVariable"
          },
          "readOnly": true
        },
        "maintenance": {
          "description": "Optional. Captures requested directives for performing future maintenance on the unit. This includes a request for the unit to skip maintenance for a period of time and remain pinned to its current release as well as controls for postponing maintenance scheduled in future.",
          "$ref": "MaintenanceSettings"
        },
        "updateTime": {
          "description": "Output only. The timestamp when the resource was last updated. Any change to the resource made by users must refresh this value. Changes to a resource made by the service should refresh this value.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "annotations": {
          "type": "object",
          "description": "Optional. Annotations is an unstructured key-value map stored with a resource that may be set by external tools to store and retrieve arbitrary metadata. They are not queryable and should be preserved when modifying objects. More info: https://kubernetes.io/docs/user-guide/annotations",
          "additionalProperties": {
            "type": "string"
          }
        },
        "pendingOperations": {
          "readOnly": true,
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. Output only. List of pending (wait to be executed) UnitOperations for this unit."
        },
        "name": {
          "type": "string",
          "description": "Identifier. The resource name (full URI of the resource) following the standard naming scheme: \"projects/{project}/locations/{location}/units/{unit}\""
        },
        "unitKind": {
          "type": "string",
          "description": "Optional. Reference to the UnitKind this Unit belongs to. Immutable once set."
        },
        "uid": {
          "description": "Output only. The unique identifier of the resource. UID is unique in the time and space for this resource within the scope of the service. It is typically generated by the server on successful creation of a resource and must not be changed. UID is used to uniquely identify resources with resource name reuses. This should be a UUID4.",
          "type": "string",
          "readOnly": true
        },
        "satisfiesPzs": {
          "readOnly": true,
          "description": "Output only. Indicates whether the resource location satisfies Zone Separation constraints. This is false by default.",
          "type": "boolean"
        },
        "unitGroup": {
          "description": "Optional. Output only. Reference to the UnitGroup this unit belongs to.",
          "type": "string",
          "readOnly": true
        },
        "systemManagedState": {
          "enumDescriptions": [
            "Unspecified system managed state.",
            "Unit has dependents attached.",
            "Unit has no dependencies attached, but attachment is allowed.",
            "Unit has no dependencies attached, and attachment is not allowed."
          ],
          "readOnly": true,
          "enum": [
            "SYSTEM_MANAGED_STATE_UNSPECIFIED",
            "SYSTEM_MANAGED_STATE_ACTIVE",
            "SYSTEM_MANAGED_STATE_INACTIVE",
            "SYSTEM_MANAGED_STATE_DECOMMISSIONED"
          ],
          "description": "Optional. Output only. Indicates the system managed state of the unit.",
          "type": "string"
        },
        "inputVariables": {
          "description": "Optional. Output only. Indicates the current input variables deployed by the unit",
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "UnitVariable"
          }
        },
        "flagRevisions": {
          "type": "array",
          "readOnly": true,
          "description": "Optional. Output only. Flag revisions used by this Unit.",
          "items": {
            "type": "string"
          }
        },
        "conditions": {
          "readOnly": true,
          "description": "Optional. Output only. A set of conditions which indicate the various conditions this resource can have.",
          "type": "array",
          "items": {
            "$ref": "UnitCondition"
          }
        },
        "labels": {
          "description": "Optional. The labels on the resource, which can be used for categorization. similar to Kubernetes resource labels.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "release": {
          "description": "Optional. Output only. The current Release object for this Unit.",
          "type": "string",
          "readOnly": true
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. The timestamp when the resource was created."
        },
        "systemCleanupAt": {
          "readOnly": true,
          "type": "string",
          "description": "Optional. Output only. If set, indicates the time when the system will start removing the unit.",
          "format": "google-datetime"
        },
        "scheduledOperations": {
          "type": "array",
          "description": "Optional. Output only. List of scheduled UnitOperations for this unit.",
          "items": {
            "type": "string"
          },
          "readOnly": true
        },
        "etag": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. An opaque value that uniquely identifies a version or generation of a resource. It can be used to confirm that the client and server agree on the ordering of a resource being written."
        },
        "satisfiesPzi": {
          "readOnly": true,
          "description": "Output only. Reserved for future use.",
          "type": "boolean"
        },
        "managementMode": {
          "enumDescriptions": [
            "Unspecified management mode.",
            "Unit's lifecycle is managed by the user.",
            "The system will decide when to deprovision and delete the unit. User still can deprovision or delete the unit manually."
          ],
          "description": "Optional. Immutable. Indicates whether the Unit life cycle is controlled by the user or by the system. Immutable once created.",
          "enum": [
            "MANAGEMENT_MODE_UNSPECIFIED",
            "MANAGEMENT_MODE_USER",
            "MANAGEMENT_MODE_SYSTEM"
          ],
          "type": "string"
        },
        "application": {
          "description": "Optional. Reference to the AppHub Application this unit belongs to. All resources deployed in this Unit will be associated with the specified Application.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "A unit of deployment that has its lifecycle via a CRUD API using an actuation engine under the hood (e.g. based on Terraform, Helm or a custom implementation provided by a service producer). A building block of a SaaS Tenant."
    },
    "Aggregate": {
      "description": "Represents the aggregation of a set of population of like records by a certain group. For example, a collection of unit counts can be aggregated and grouped by their state.",
      "id": "Aggregate",
      "type": "object",
      "properties": {
        "count": {
          "type": "integer",
          "format": "int32",
          "description": "Required. Number of records in the group."
        },
        "group": {
          "description": "Required. Group by which to aggregate.",
          "type": "string"
        }
      }
    },
    "Deprovision": {
      "properties": {},
      "description": "Deprovision is the unit operation that deprovision the underlying resources represented by a Unit. Can only execute if the Unit is currently provisioned.",
      "type": "object",
      "id": "Deprovision"
    },
    "Flag": {
      "description": "Represents a single Flag.",
      "id": "Flag",
      "type": "object",
      "properties": {
        "state": {
          "description": "Optional. Current state of the flag.",
          "enumDescriptions": [
            "Flag state is unspecified.",
            "Flag is in development state.",
            "Flag is in active state.",
            "Flag is in deprecated state.",
            "Flag is in cleanup state."
          ],
          "enum": [
            "FLAG_STATE_UNSPECIFIED",
            "FLAG_STATE_IN_DEVELOPMENT",
            "FLAG_STATE_ACTIVE",
            "FLAG_STATE_SUNSETTING",
            "FLAG_STATE_CLEANUP"
          ],
          "type": "string"
        },
        "valueType": {
          "type": "string",
          "enum": [
            "FLAG_VALUE_TYPE_UNSPECIFIED",
            "FLAG_VALUE_TYPE_BOOL",
            "FLAG_VALUE_TYPE_INT",
            "FLAG_VALUE_TYPE_STRING",
            "FLAG_VALUE_TYPE_DOUBLE"
          ],
          "deprecated": true,
          "description": "Optional. Immutable. Deprecated: Use `flag_value_type` instead. Flag value type.",
          "enumDescriptions": [
            "",
            "Boolean flag value type.",
            "Integer flag value type.",
            "String flag value type.",
            "Double flag type."
          ]
        },
        "labels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. The labels on the resource, which can be used for categorization. similar to Kubernetes resource labels."
        },
        "flagSet": {
          "description": "Optional. Flag set this flag belongs to.",
          "type": "string"
        },
        "etag": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. An opaque value that uniquely identifies a version or generation of a resource. It can be used to confirm that the client and server agree on the ordering of a resource being written."
        },
        "unitKind": {
          "description": "Required. Immutable. UnitKind that can consume this flag.",
          "type": "string"
        },
        "evaluationSpec": {
          "description": "Optional. Specification of how the flag value should be evaluated. If a bool flag is created without an evaluation_spec specified, two default variants, \"Enabled\" (with bool_value = true) and \"Disabled\" (with bool_value = false), are created by default, and \"Disabled\" is set as the default_target.",
          "$ref": "EvaluationSpec"
        },
        "variants": {
          "type": "array",
          "items": {
            "$ref": "FlagVariant"
          },
          "description": "Optional. A list of variants."
        },
        "flagValueType": {
          "enum": [
            "FLAG_VALUE_TYPE_UNSPECIFIED",
            "FLAG_VALUE_TYPE_BOOLEAN",
            "FLAG_VALUE_TYPE_INTEGER",
            "FLAG_VALUE_TYPE_STRING",
            "FLAG_VALUE_TYPE_DOUBLE"
          ],
          "enumDescriptions": [
            "Unspecified flag value type.",
            "Boolean flag value type.",
            "Integer flag value type.",
            "String flag value type.",
            "Double flag value type."
          ],
          "description": "Optional. Immutable. Flag value type.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Identifier. The resource name (full URI of the resource) following the standard naming scheme: \"projects/{project}/locations/{location}/flags/{flag_id}\""
        },
        "uid": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The unique identifier of the resource. UID is unique in the time and space for this resource within the scope of the service. It is typically generated by the server on successful creation of a resource and must not be changed. UID is used to uniquely identify resources with resource name reuses. This should be a UUID4."
        },
        "updateTime": {
          "type": "string",
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. The timestamp when the resource was last updated. Any change to the resource made by users must refresh this value. Changes to a resource made by the service should refresh this value."
        },
        "annotations": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. Annotations is an unstructured key-value map stored with a resource that may be set by external tools to store and retrieve arbitrary metadata. They are not queryable and should be preserved when modifying objects. More info: https://kubernetes.io/docs/user-guide/annotations",
          "type": "object"
        },
        "key": {
          "type": "string",
          "description": "Required. Immutable. Flag key used in runtime evaluation APIs (OpenFeature). Max length: 256 bytes."
        },
        "createTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The timestamp when the resource was created."
        },
        "description": {
          "description": "Optional. Description of the flag. Max length: 500 bytes.",
          "type": "string"
        }
      }
    },
    "ListSaasResponse": {
      "description": "The response structure for the ListSaas method.",
      "type": "object",
      "properties": {
        "saas": {
          "items": {
            "$ref": "Saas"
          },
          "type": "array",
          "description": "The resulting saas."
        },
        "nextPageToken": {
          "type": "string",
          "description": "If present, the next page token can be provided to a subsequent ListSaas call to list the next page. If empty, there are no more pages."
        },
        "unreachable": {
          "description": "Locations that could not be reached.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "ListSaasResponse"
    },
    "Tenant": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "Identifier. The resource name (full URI of the resource) following the standard naming scheme: \"projects/{project}/locations/{location}/tenants/{tenant}\""
        },
        "annotations": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. Annotations is an unstructured key-value map stored with a resource that may be set by external tools to store and retrieve arbitrary metadata. They are not queryable and should be preserved when modifying objects. More info: https://kubernetes.io/docs/user-guide/annotations"
        },
        "createTime": {
          "description": "Output only. The timestamp when the resource was created.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "saas": {
          "type": "string",
          "description": "Required. Immutable. A reference to the Saas that defines the product (managed service) that the producer wants to manage with App Lifecycle Manager. Part of the App Lifecycle Manager common data model."
        },
        "uid": {
          "readOnly": true,
          "description": "Output only. The unique identifier of the resource. UID is unique in the time and space for this resource within the scope of the service. It is typically generated by the server on successful creation of a resource and must not be changed. UID is used to uniquely identify resources with resource name reuses. This should be a UUID4.",
          "type": "string"
        },
        "updateTime": {
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. The timestamp when the resource was last updated. Any change to the resource made by users must refresh this value. Changes to a resource made by the service should refresh this value.",
          "type": "string"
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. The labels on the resource, which can be used for categorization. similar to Kubernetes resource labels.",
          "type": "object"
        },
        "consumerResource": {
          "type": "string",
          "description": "Optional. Immutable. A reference to the consumer resource this SaaS Tenant is representing. The relationship with a consumer resource can be used by App Lifecycle Manager for retrieving consumer-defined settings and policies such as maintenance policies (using Unified Maintenance Policy API)."
        },
        "etag": {
          "readOnly": true,
          "description": "Output only. An opaque value that uniquely identifies a version or generation of a resource. It can be used to confirm that the client and server agree on the ordering of a resource being written.",
          "type": "string"
        }
      },
      "description": "Tenant represents the service producer side of an instance of the service created based on a request from a consumer. In a typical scenario a Tenant has a one-to-one mapping with a resource given out to a service consumer. Example: tenant: name: \"projects/svc1/locations/loc/tenants/inst-068afff8\" consumer_resource: \"projects/gshoe/locations/loc/shoes/black-shoe\"",
      "id": "Tenant"
    },
    "RunRolloutActionParams": {
      "description": "Parameters for the RUN action controlling the behavior of the rollout when it is resumed from a PAUSED state.",
      "type": "object",
      "properties": {
        "retryFailedOperations": {
          "description": "Required. If true, the rollout will retry failed operations when resumed. This is applicable only the current state of the Rollout is PAUSED and the requested action is RUN.",
          "type": "boolean"
        }
      },
      "id": "RunRolloutActionParams"
    },
    "FromMapping": {
      "description": "Output variables whose values will be passed on to dependencies",
      "id": "FromMapping",
      "properties": {
        "outputVariable": {
          "type": "string",
          "description": "Required. Name of the outputVariable on the dependency"
        },
        "dependency": {
          "description": "Required. Alias of the dependency that the outputVariable will pass its value to",
          "type": "string"
        }
      },
      "type": "object"
    },
    "AllocationSlot": {
      "id": "AllocationSlot",
      "type": "object",
      "properties": {
        "variant": {
          "type": "string",
          "description": "Required. Variant of the allocation slot."
        },
        "weight": {
[...]
