{
  "id": "saasservicemgmt:v1",
  "discoveryVersion": "v1",
  "parameters": {
    "access_token": {
      "description": "OAuth access token.",
      "location": "query",
      "type": "string"
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string",
      "location": "query"
    },
    "fields": {
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string"
    },
    "callback": {
      "description": "JSONP",
      "location": "query",
      "type": "string"
    },
    "prettyPrint": {
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "location": "query",
      "default": "true"
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "alt": {
      "type": "string",
      "location": "query",
      "description": "Data format for response.",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "default": "json",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ]
    },
    "$.xgafv": {
      "location": "query",
      "description": "V1 error format.",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "enum": [
        "1",
        "2"
      ],
      "type": "string"
    },
    "oauth_token": {
      "location": "query",
      "description": "OAuth 2.0 token for the current user.",
      "type": "string"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string",
      "location": "query"
    }
  },
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        },
        "https://www.googleapis.com/auth/saasservicemgmt.read-write": {
          "description": "See, edit, configure, and delete your Google Cloud App Lifecycle Management data and see the email address for your Google Account"
        },
        "https://www.googleapis.com/auth/saasservicemgmt.readonly": {
          "description": "See your Google Cloud App Lifecycle Management data and the email address of your Google Account"
        }
      }
    }
  },
  "servicePath": "",
  "name": "saasservicemgmt",
  "basePath": "",
  "canonicalName": "SaaS Service Management",
  "kind": "discovery#restDescription",
  "title": "App Lifecycle Manager API",
  "baseUrl": "https://saasservicemgmt.googleapis.com/",
  "schemas": {
    "ToMapping": {
      "description": "Input variables whose values will be passed on to dependencies",
      "id": "ToMapping",
      "properties": {
        "ignoreForLookup": {
          "description": "Optional. Tells App Lifecycle Manager if this mapping should be used during lookup or not",
          "type": "boolean"
        },
        "dependency": {
          "type": "string",
          "description": "Required. Alias of the dependency that the inputVariable will pass its value to"
        },
        "inputVariable": {
          "type": "string",
          "description": "Required. Name of the inputVariable on the dependency"
        }
      },
      "type": "object"
    },
    "Release": {
      "properties": {
        "annotations": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. Annotations is an unstructured key-value map stored with a resource that may be set by external tools to store and retrieve arbitrary metadata. They are not queryable and should be preserved when modifying objects. More info: https://kubernetes.io/docs/user-guide/annotations"
        },
        "inputVariables": {
          "items": {
            "$ref": "UnitVariable"
          },
          "type": "array",
          "readOnly": true,
          "description": "Optional. Output only. List of input variables declared on the blueprint and can be present with their values on the unit spec"
        },
        "blueprint": {
          "description": "Optional. Blueprints are OCI Images that contain all of the artifacts needed to provision a unit.",
          "$ref": "Blueprint"
        },
        "uid": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The unique identifier of the resource. UID is unique in the time and space for this resource within the scope of the service. It is typically generated by the server on successful creation of a resource and must not be changed. UID is used to uniquely identify resources with resource name reuses. This should be a UUID4."
        },
        "name": {
          "type": "string",
          "description": "Identifier. The resource name (full URI of the resource) following the standard naming scheme: \"projects/{project}/locations/{location}/releases/{release}\""
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. The labels on the resource, which can be used for categorization. similar to Kubernetes resource labels.",
          "type": "object"
        },
        "etag": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. An opaque value that uniquely identifies a version or generation of a resource. It can be used to confirm that the client and server agree on the ordering of a resource being written."
        },
        "updateTime": {
          "description": "Output only. The timestamp when the resource was last updated. Any change to the resource made by users must refresh this value. Changes to a resource made by the service should refresh this value.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "createTime": {
          "description": "Output only. The timestamp when the resource was created.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "unitKind": {
          "description": "Required. Immutable. Reference to the UnitKind this Release corresponds to (required and immutable once created).",
          "type": "string"
        },
        "inputVariableDefaults": {
          "type": "array",
          "items": {
            "$ref": "UnitVariable"
          },
          "description": "Optional. Mapping of input variables to default values. Maximum 100"
        },
        "outputVariables": {
          "description": "Optional. Output only. List of output variables declared on the blueprint and can be present with their values on the unit status",
          "readOnly": true,
          "items": {
            "$ref": "UnitVariable"
          },
          "type": "array"
        },
        "releaseRequirements": {
          "$ref": "ReleaseRequirements",
          "description": "Optional. Set of requirements to be fulfilled on the Unit when using this Release."
        }
      },
      "description": "A new version to be propagated and deployed to units. This includes pointers to packaged blueprints for actuation (e.g Helm or Terraform configuration packages) via artifact registry.",
      "type": "object",
      "id": "Release"
    },
    "VariableMapping": {
      "type": "object",
      "description": "Mapping of input variables to their respective output variable for depedenencies",
      "id": "VariableMapping",
      "properties": {
        "variable": {
          "description": "Required. name of the variable",
          "type": "string"
        },
        "from": {
          "description": "Optional. Output variables which will get their values from dependencies",
          "$ref": "FromMapping"
        },
        "to": {
          "description": "Optional. Input variables whose values will be passed on to dependencies.",
          "$ref": "ToMapping"
        }
      }
    },
    "UnitKind": {
      "id": "UnitKind",
      "type": "object",
      "description": "Definition of a Unit. Units belonging to the same UnitKind are managed together; for example they follow the same release model (blueprints, versions etc.) and are typically rolled out together.",
      "properties": {
        "uid": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The unique identifier of the resource. UID is unique in the time and space for this resource within the scope of the service. It is typically generated by the server on successful creation of a resource and must not be changed. UID is used to uniquely identify resources with resource name reuses. This should be a UUID4."
        },
        "etag": {
          "readOnly": true,
          "description": "Output only. An opaque value that uniquely identifies a version or generation of a resource. It can be used to confirm that the client and server agree on the ordering of a resource being written.",
          "type": "string"
        },
        "boundaryType": {
          "description": "Optional. Output only. BoundaryType describes the type of boundary the Unit Kind represents.",
          "type": "string",
          "readOnly": true,
          "enum": [
            "BOUNDARY_TYPE_UNSPECIFIED",
            "BOUNDARY_TYPE_TENANT_PROJECT",
            "BOUNDARY_TYPE_MANAGED_PROJECT"
          ],
          "enumDescriptions": [
            "Unspecified boundary type.",
            "Tenant project boundary.",
            "Managed project boundary."
          ]
        },
        "annotations": {
          "type": "object",
          "description": "Optional. Annotations is an unstructured key-value map stored with a resource that may be set by external tools to store and retrieve arbitrary metadata. They are not queryable and should be preserved when modifying objects. More info: https://kubernetes.io/docs/user-guide/annotations",
          "additionalProperties": {
            "type": "string"
          }
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The timestamp when the resource was created.",
          "readOnly": true
        },
        "defaultRelease": {
          "description": "Optional. A reference to the Release object to use as default for creating new units of this UnitKind (optional). If not specified, a new unit must explicitly reference which release to use for its creation.",
          "type": "string"
        },
        "updateTime": {
          "description": "Output only. The timestamp when the resource was last updated. Any change to the resource made by users must refresh this value. Changes to a resource made by the service should refresh this value.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "inputVariableMappings": {
          "type": "array",
          "items": {
            "$ref": "VariableMapping"
          },
          "description": "Optional. List of inputVariables for this release that will either be retrieved from a dependency's outputVariables, or will be passed on to a dependency's inputVariables. Maximum 100."
        },
        "outputVariableMappings": {
          "description": "Optional. List of outputVariables for this unit kind will be passed to this unit's outputVariables. Maximum 100.",
          "items": {
            "$ref": "VariableMapping"
          },
          "type": "array"
        },
        "dependencies": {
          "items": {
            "$ref": "Dependency"
          },
          "type": "array",
          "description": "Optional. Immutable. List of other unit kinds that this release will depend on. Dependencies will be automatically provisioned if not found. Maximum 10."
        },
        "labels": {
          "description": "Optional. The labels on the resource, which can be used for categorization. similar to Kubernetes resource labels.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "saas": {
          "description": "Required. Immutable. A reference to the Saas that defines the product (managed service) that the producer wants to manage with App Lifecycle Manager. Part of the App Lifecycle Manager common data model. Immutable once set.",
          "type": "string"
        },
        "name": {
          "description": "Identifier. The resource name (full URI of the resource) following the standard naming scheme: \"projects/{project}/locations/{location}/unitKinds/{unitKind}\"",
          "type": "string"
        },
        "defaultFlagRevisions": {
          "type": "array",
          "description": "Optional. Default revisions of flags for this UnitKind. Newly created units will use the flag default_flag_revisions present at the time of creation.",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "UnitVariable": {
      "type": "object",
      "description": "UnitVariable describes a parameter for a Unit.",
      "properties": {
        "type": {
          "enumDescriptions": [
            "Variable type is unspecified.",
            "Variable type is string.",
            "Variable type is int.",
            "Variable type is bool.",
            "Variable type is struct.",
            "Variable type is list."
          ],
          "description": "Optional. Immutable. Name of a supported variable type. Supported types are string, int, bool.",
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "STRING",
            "INT",
            "BOOL",
            "STRUCT",
            "LIST"
          ]
        },
        "variable": {
          "type": "string",
          "description": "Required. Immutable. Name of the variable from actuation configs."
        },
        "value": {
          "description": "Optional. String encoded value for the variable.",
          "type": "string"
        }
      },
      "id": "UnitVariable"
    },
    "Aggregate": {
      "type": "object",
      "description": "Represents the aggregation of a set of population of like records by a certain group. For example, a collection of unit counts can be aggregated and grouped by their state.",
      "id": "Aggregate",
      "properties": {
        "group": {
          "type": "string",
          "description": "Required. Group by which to aggregate."
        },
        "count": {
          "type": "integer",
          "format": "int32",
          "description": "Required. Number of records in the group."
        }
      }
    },
    "UnitUpdatePacing": {
      "properties": {
        "maxConcurrentOperationsPercent": {
          "$ref": "Decimal",
          "description": "Optional. The maximum percentage of total units in the scope that can be in-flight. Example: 10.5 for 10.5%. If both percent and count are provided, the system uses the MINIMUM (most restrictive)."
        },
        "maxConcurrentOperationsCount": {
          "format": "int32",
          "type": "integer",
          "description": "Optional. An absolute cap on concurrent units operations. If both percent and count are provided, the system uses the MINIMUM (most restrictive)."
        }
      },
      "type": "object",
      "description": "UnitUpdatePacing defines the policy for the maximum number of unit operations that can run for a rollout in parallel in a single region.",
      "id": "UnitUpdatePacing"
    },
    "Schedule": {
      "description": "A time specification to schedule the maintenance.",
      "id": "Schedule",
      "properties": {
        "startTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Optional. Start of operation. If not set, will be set to the start of the next window. (optional)"
        }
      },
      "type": "object"
    },
    "RunRolloutActionParams": {
      "description": "Parameters for the RUN action controlling the behavior of the rollout when it is resumed from a PAUSED state.",
      "type": "object",
      "properties": {
        "retryFailedOperations": {
          "description": "Required. If true, the rollout will retry failed operations when resumed. This is applicable only the current state of the Rollout is PAUSED and the requested action is RUN.",
          "type": "boolean"
        }
      },
      "id": "RunRolloutActionParams"
    },
    "Blueprint": {
      "description": "Blueprints are OCI Images that contain all of the artifacts needed to provision a unit. Metadata such as, type of the engine used to actuate the blueprint (e.g. terraform, helm etc) and version will come from the image manifest. If the hostname is omitted, it will be assumed to be the regional path to Artifact Registry (eg. us-east1-docker.pkg.dev).",
      "properties": {
        "engine": {
          "readOnly": true,
          "description": "Output only. Type of the engine used to actuate the blueprint. e.g. terraform, helm etc.",
          "type": "string"
        },
        "version": {
          "readOnly": true,
          "description": "Output only. Version metadata if present on the blueprint.",
          "type": "string"
        },
        "package": {
          "type": "string",
          "description": "Optional. Immutable. URI to a blueprint used by the Unit (required unless unitKind or release is set)."
        }
      },
      "id": "Blueprint",
      "type": "object"
    },
    "GoogleCloudLocationLocation": {
      "properties": {
        "name": {
          "description": "Resource name for the location, which may vary between implementations. For example: `\"projects/example-project/locations/us-east1\"`",
          "type": "string"
        },
        "locationId": {
          "type": "string",
          "description": "The canonical id for this location. For example: `\"us-east1\"`."
        },
        "displayName": {
          "description": "The friendly name for this location, typically a nearby city name. For example, \"Tokyo\".",
          "type": "string"
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Cross-service attributes for the location. For example {\"cloud.googleapis.com/region\": \"us-east1\"}"
        },
        "metadata": {
          "description": "Service-specific metadata. For example the available capacity at the given location.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        }
      },
      "id": "GoogleCloudLocationLocation",
      "type": "object",
      "description": "A resource that represents a Google Cloud location."
    },
    "Unit": {
      "type": "object",
      "properties": {
        "uid": {
          "type": "string",
          "description": "Output only. The unique identifier of the resource. UID is unique in the time and space for this resource within the scope of the service. It is typically generated by the server on successful creation of a resource and must not be changed. UID is used to uniquely identify resources with resource name reuses. This should be a UUID4.",
          "readOnly": true
        },
        "satisfiesPzi": {
          "type": "boolean",
          "description": "Output only. Reserved for future use.",
          "readOnly": true
        },
        "scheduledOperations": {
          "type": "array",
          "description": "Optional. Output only. List of scheduled UnitOperations for this unit.",
          "readOnly": true,
          "items": {
            "type": "string"
          }
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. The labels on the resource, which can be used for categorization. similar to Kubernetes resource labels.",
          "type": "object"
        },
        "managementMode": {
          "enumDescriptions": [
            "Unspecified management mode.",
            "Unit's lifecycle is managed by the user.",
            "The system will decide when to deprovision and delete the unit. User still can deprovision or delete the unit manually."
          ],
          "description": "Optional. Immutable. Indicates whether the Unit life cycle is controlled by the user or by the system. Immutable once created.",
          "enum": [
            "MANAGEMENT_MODE_UNSPECIFIED",
            "MANAGEMENT_MODE_USER",
            "MANAGEMENT_MODE_SYSTEM"
          ],
          "type": "string"
        },
        "conditions": {
          "items": {
            "$ref": "UnitCondition"
          },
          "description": "Optional. Output only. A set of conditions which indicate the various conditions this resource can have.",
          "type": "array",
          "readOnly": true
        },
        "ongoingOperations": {
          "items": {
            "type": "string"
          },
          "description": "Optional. Output only. List of concurrent UnitOperations that are operating on this Unit.",
          "type": "array",
          "readOnly": true
        },
        "annotations": {
          "description": "Optional. Annotations is an unstructured key-value map stored with a resource that may be set by external tools to store and retrieve arbitrary metadata. They are not queryable and should be preserved when modifying objects. More info: https://kubernetes.io/docs/user-guide/annotations",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "dependents": {
          "items": {
            "$ref": "UnitDependency"
          },
          "description": "Optional. Output only. List of Units that depend on this unit. Unit can only be deprovisioned if this list is empty. Maximum 1000.",
          "type": "array",
          "readOnly": true
        },
        "unitKind": {
          "type": "string",
          "description": "Optional. Reference to the UnitKind this Unit belongs to. Immutable once set."
        },
        "tenant": {
          "description": "Optional. Reference to the Saas Tenant resource this unit belongs to. This for example informs the maintenance policies to use for scheduling future updates on a unit. (optional and immutable once created)",
          "type": "string"
        },
        "inputVariables": {
          "items": {
            "$ref": "UnitVariable"
          },
          "readOnly": true,
          "description": "Optional. Output only. Indicates the current input variables deployed by the unit",
          "type": "array"
        },
        "pendingOperations": {
          "items": {
            "type": "string"
          },
          "description": "Optional. Output only. List of pending (wait to be executed) UnitOperations for this unit.",
          "readOnly": true,
          "type": "array"
        },
        "maintenance": {
          "description": "Optional. Captures requested directives for performing future maintenance on the unit. This includes a request for the unit to skip maintenance for a period of time and remain pinned to its current release as well as controls for postponing maintenance scheduled in future.",
          "$ref": "MaintenanceSettings"
        },
        "release": {
          "type": "string",
          "readOnly": true,
          "description": "Optional. Output only. The current Release object for this Unit."
        },
        "name": {
          "type": "string",
          "description": "Identifier. The resource name (full URI of the resource) following the standard naming scheme: \"projects/{project}/locations/{location}/units/{unit}\""
        },
        "state": {
          "description": "Optional. Output only. Current lifecycle state of the resource (e.g. if it's being created or ready to use).",
          "enum": [
            "UNIT_STATE_UNSPECIFIED",
            "UNIT_STATE_NOT_PROVISIONED",
            "UNIT_STATE_PROVISIONING",
            "UNIT_STATE_UPDATING",
            "UNIT_STATE_DEPROVISIONING",
            "UNIT_STATE_READY",
            "UNIT_STATE_ERROR"
          ],
          "enumDescriptions": [
            "Unspecified state.",
            "Unit is not provisioned.",
            "Unit is being provisioned.",
            "Unit is being updated. This is typically when a unit is being upgraded to a new release or some of the input variables on the Unit is being changed. Certain kinds of updates may cause the Unit to become unusable while the update is in progress.",
            "Unit is being deleted.",
            "Unit has been provisioned and is ready for use",
            "Unit has error, when it is not ready and some error operation"
          ],
          "readOnly": true,
          "type": "string"
        },
        "etag": {
          "description": "Output only. An opaque value that uniquely identifies a version or generation of a resource. It can be used to confirm that the client and server agree on the ordering of a resource being written.",
          "readOnly": true,
          "type": "string"
        },
        "outputVariables": {
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "UnitVariable"
          },
          "description": "Optional. Output only. Set of key/value pairs corresponding to output variables from execution of actuation templates. The variables are declared in actuation configs (e.g in helm chart or terraform) and the values are fetched and returned by the actuation engine upon completion of execution."
        },
        "createTime": {
          "format": "google-datetime",
          "description": "Output only. The timestamp when the resource was created.",
          "readOnly": true,
          "type": "string"
        },
        "updateTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The timestamp when the resource was last updated. Any change to the resource made by users must refresh this value. Changes to a resource made by the service should refresh this value.",
          "readOnly": true
        },
        "dependencies": {
          "description": "Optional. Output only. Set of dependencies for this unit. Maximum 10.",
          "items": {
            "$ref": "UnitDependency"
          },
          "readOnly": true,
          "type": "array"
        },
        "satisfiesPzs": {
          "description": "Output only. Indicates whether the resource location satisfies Zone Separation constraints. This is false by default.",
          "readOnly": true,
          "type": "boolean"
        },
        "systemManagedState": {
          "description": "Optional. Output only. Indicates the system managed state of the unit.",
          "type": "string",
          "enum": [
            "SYSTEM_MANAGED_STATE_UNSPECIFIED",
            "SYSTEM_MANAGED_STATE_ACTIVE",
            "SYSTEM_MANAGED_STATE_INACTIVE",
            "SYSTEM_MANAGED_STATE_DECOMMISSIONED"
          ],
          "enumDescriptions": [
            "Unspecified system managed state.",
            "Unit has dependents attached.",
            "Unit has no dependencies attached, but attachment is allowed.",
            "Unit has no dependencies attached, and attachment is not allowed."
          ],
          "readOnly": true
        },
        "flagRevisions": {
          "readOnly": true,
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. Output only. Flag revisions used by this Unit."
        },
        "systemCleanupAt": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string",
          "description": "Optional. Output only. If set, indicates the time when the system will start removing the unit."
        }
      },
      "id": "Unit",
      "description": "A unit of deployment that has its lifecycle via a CRUD API using an actuation engine under the hood (e.g. based on Terraform, Helm or a custom implementation provided by a service producer). A building block of a SaaS Tenant."
    },
    "ListUnitOperationsResponse": {
      "type": "object",
      "properties": {
        "unreachable": {
          "description": "Locations that could not be reached.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "unitOperations": {
          "description": "The resulting unit operations.",
          "type": "array",
          "items": {
            "$ref": "UnitOperation"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "If present, the next page token can be provided to a subsequent ListUnitOperations call to list the next page. If empty, there are no more pages."
        }
      },
      "id": "ListUnitOperationsResponse",
      "description": "The response structure for the ListUnitOperations method."
    },
    "ErrorBudget": {
      "properties": {
        "allowedCount": {
          "description": "Optional. The maximum number of failed units allowed in a location without pausing the rollout.",
          "type": "integer",
          "format": "int32"
        },
        "allowedPercentage": {
          "description": "Optional. The maximum percentage of units allowed to fail (0, 100] within a location without pausing the rollout.",
          "type": "integer",
          "format": "int32"
        }
      },
      "id": "ErrorBudget",
      "description": "The configuration for error budget. If the number of failed units exceeds max(allowed_count, allowed_ratio * total_units), the rollout will be paused.",
      "type": "object"
    },
    "Upgrade": {
      "properties": {
        "inputVariables": {
          "items": {
            "$ref": "UnitVariable"
          },
          "type": "array",
          "description": "Optional. Set of input variables. Maximum 100. (optional)"
        },
        "release": {
          "type": "string",
          "description": "Optional. Reference to the Release object to use for the Unit. (optional)."
        }
      },
      "id": "Upgrade",
      "type": "object",
      "description": "Upgrade is the unit operation that upgrades a provisioned unit, which may also include the underlying resources represented by a Unit. Can only execute if the Unit is currently provisioned."
    },
    "FlagUpdate": {
      "description": "FlagUpdate is a UnitOperation that pushes new flag values to Units.",
      "id": "FlagUpdate",
      "type": "object",
      "properties": {
        "flagRelease": {
          "type": "string",
          "description": "Required. Flag release being applied by UnitOperation."
        }
      }
    },
    "UnitCondition": {
      "id": "UnitCondition",
      "properties": {
        "lastTransitionTime": {
          "description": "Required. Last time the condition transited from one status to another.",
          "format": "google-datetime",
          "type": "string"
        },
        "message": {
          "type": "string",
          "description": "Required. Human readable message indicating details about the last transition."
        },
        "status": {
          "description": "Required. Status of the condition.",
          "type": "string",
          "enumDescriptions": [
            "Condition status is unspecified.",
            "Condition is unknown.",
            "Condition is true.",
            "Condition is false."
          ],
          "enum": [
            "STATUS_UNSPECIFIED",
            "STATUS_UNKNOWN",
            "STATUS_TRUE",
            "STATUS_FALSE"
          ]
        },
        "reason": {
          "type": "string",
          "description": "Required. Brief reason for the condition's last transition."
        },
        "type": {
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "TYPE_READY",
            "TYPE_UPDATING",
            "TYPE_PROVISIONED",
            "TYPE_OPERATION_ERROR",
            "TYPE_FLAGS_CONFIG_INITIALIZED",
            "TYPE_APP_CREATED_OR_ALREADY_EXISTS",
            "TYPE_APP_COMPONENTS_REGISTERED"
          ],
          "description": "Required. Type of the condition.",
          "enumDescriptions": [
            "Condition type is unspecified.",
            "Condition type is ready.",
            "Condition type is updating.",
            "Condition type is provisioned.",
            "Condition type is operationError. True when the last unit operation fails with a non-ignorable error.",
            "Condition type is flagsConfigInitialized. True when the flags configuration is synchronized and ready to be served.",
            "Indicates if AppHub app has been created or if Apphub app has already existed.",
            "Indicates if services and workloads have been registered with AppHub."
          ]
        }
      },
      "description": "UnitCondition describes the status of an Unit. UnitCondition is individual components that contribute to an overall state.",
      "type": "object"
    },
    "Decimal": {
      "description": "A representation of a decimal value, such as 2.5. Clients may convert values into language-native decimal formats, such as Java's [BigDecimal](https://docs.oracle.com/en/java/javase/11/docs/api/java.base/java/math/BigDecimal.html) or Python's [decimal.Decimal](https://docs.python.org/3/library/decimal.html).",
      "properties": {
        "value": {
          "type": "string",
          "description": "The decimal value, as a string. The string representation consists of an optional sign, `+` (`U+002B`) or `-` (`U+002D`), followed by a sequence of zero or more decimal digits (\"the integer\"), optionally followed by a fraction, optionally followed by an exponent. An empty string **should** be interpreted as `0`. The fraction consists of a decimal point followed by zero or more decimal digits. The string must contain at least one digit in either the integer or the fraction. The number formed by the sign, the integer and the fraction is referred to as the significand. The exponent consists of the character `e` (`U+0065`) or `E` (`U+0045`) followed by one or more decimal digits. Services **should** normalize decimal values before storing them by: - Removing an explicitly-provided `+` sign (`+2.5` -> `2.5`). - Replacing a zero-length integer value with `0` (`.5` -> `0.5`). - Coercing the exponent character to upper-case, with explicit sign (`2.5e8` -> `2.5E+8`). - Removing an explicitly-provided zero exponent (`2.5E0` -> `2.5`). Services **may** perform additional normalization based on its own needs and the internal decimal implementation selected, such as shifting the decimal point and exponent value together (example: `2.5E-1` <-> `0.25`). Additionally, services **may** preserve trailing zeroes in the fraction to indicate increased precision, but are not required to do so. Note that only the `.` character is supported to divide the integer and the fraction; `,` **should not** be supported regardless of locale. Additionally, thousand separators **should not** be supported. If a service does support them, values **must** be normalized. The ENBF grammar is: DecimalString = '' | [Sign] Significand [Exponent]; Sign = '+' | '-'; Significand = Digits '.' | [Digits] '.' Digits; Exponent = ('e' | 'E') [Sign] Digits; Digits = { '0' | '1' | '2' | '3' | '4' | '5' | '6' | '7' | '8' | '9' }; Services **should** clearly document the range of supported values, the maximum supported precision (total number of digits), and, if applicable, the scale (number of digits after the decimal point), as well as how it behaves when receiving out-of-bounds values. Services **may** choose to accept values passed as input even when the value has a higher precision or scale than the service supports, and **should** round the value to fit the supported scale. Alternatively, the service **may** error with `400 Bad Request` (`INVALID_ARGUMENT` in gRPC) if precision would be lost. Services **should** error with `400 Bad Request` (`INVALID_ARGUMENT` in gRPC) if the service receives a value outside of the supported range."
        }
      },
      "type": "object",
      "id": "Decimal"
    },
    "UnitDependency": {
      "description": "Set of dependencies for this unit. Maximum 10.",
      "type": "object",
      "id": "UnitDependency",
      "properties": {
        "alias": {
          "description": "Output only. Alias for the name of the dependency.",
          "type": "string",
          "readOnly": true
        },
        "unit": {
          "description": "Output only. A reference to the Unit object.",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "ListUnitsResponse": {
      "description": "The response structure for the ListUnits method.",
      "type": "object",
      "properties": {
        "units": {
          "type": "array",
          "items": {
            "$ref": "Unit"
          },
          "description": "The resulting units."
        },
        "nextPageToken": {
          "description": "If present, the next page token can be provided to a subsequent ListUnits call to list the next page. If empty, there are no more pages.",
          "type": "string"
        },
        "unreachable": {
          "type": "array",
          "description": "Locations that could not be reached.",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "ListUnitsResponse"
    },
    "Provision": {
      "properties": {
        "release": {
          "description": "Optional. Reference to the Release object to use for the Unit. (optional).",
          "type": "string"
        },
        "inputVariables": {
          "items": {
            "$ref": "UnitVariable"
          },
          "type": "array",
          "description": "Optional. Set of input variables. Maximum 100. (optional)"
        }
      },
      "id": "Provision",
      "description": "Provision is the unit operation that provision the underlying resources represented by a Unit. Can only execute if the Unit is not currently provisioned.",
      "type": "object"
    },
    "RolloutKind": {
      "id": "RolloutKind",
      "description": "An object that describes various settings of Rollout execution. Includes built-in and customizable policies.",
      "type": "object",
      "properties": {
        "etag": {
          "type": "string",
          "description": "Output only. An opaque value that uniquely identifies a version or generation of a resource. It can be used to confirm that the client and server agree on the ordering of a resource being written.",
          "readOnly": true
        },
        "updateTime": {
          "readOnly": true,
          "description": "Output only. The timestamp when the resource was last updated. Any change to the resource made by users must refresh this value. Changes to a resource made by the service should refresh this value.",
          "type": "string",
          "format": "google-datetime"
        },
        "unitUpdatePacing": {
          "$ref": "UnitUpdatePacing",
          "description": "Optional. Settings for controlling the pacing of rollouts i.e. the number of units to be rolled out in parallel in a region."
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. The timestamp when the resource was created."
        },
        "uid": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The unique identifier of the resource. UID is unique in the time and space for this resource within the scope of the service. It is typically generated by the server on successful creation of a resource and must not be changed. UID is used to uniquely identify resources with resource name reuses. This should be a UUID4."
        },
        "unitKind": {
          "type": "string",
          "description": "Required. Immutable. UnitKind that this rollout kind corresponds to. Rollouts stemming from this rollout kind will target the units of this unit kind. In other words, this defines the population of target units to be upgraded by rollouts."
        },
        "annotations": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. Annotations is an unstructured key-value map stored with a resource that may be set by external tools to store and retrieve arbitrary metadata. They are not queryable and should be preserved when modifying objects. More info: https://kubernetes.io/docs/user-guide/annotations",
          "type": "object"
        },
        "unitFilter": {
          "type": "string",
          "description": "Optional. CEL(https://github.com/google/cel-spec) formatted filter string against Unit. The filter will be applied to determine the eligible unit population. This filter can only reduce, but not expand the scope of the rollout."
        },
        "rolloutOrchestrationStrategy": {
          "description": "Optional. The strategy used for executing a Rollout. This is a required field. There are two supported values strategies which are used to control - \"Google.Cloud.Simple.AllAtOnce\" - \"Google.Cloud.Simple.OneLocationAtATime\" A rollout with one of these simple strategies will rollout across all locations defined in the associated UnitKind's Saas Locations.",
          "type": "string"
        },
        "labels": {
          "description": "Optional. The labels on the resource, which can be used for categorization. similar to Kubernetes resource labels.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "errorBudget": {
          "description": "Optional. The configuration for error budget. If the number of failed units exceeds max(allowed_count, allowed_ratio * total_units), the rollout will be paused. If not set, all units will be attempted to be updated regardless of the number of failures encountered.",
          "$ref": "ErrorBudget"
        },
        "name": {
          "description": "Identifier. The resource name (full URI of the resource) following the standard naming scheme: \"projects/{project}/locations/{location}/rolloutKinds/{rollout_kind_id}\"",
          "type": "string"
        },
        "updateUnitKindStrategy": {
          "description": "Optional. The config for updating the unit kind. By default, the unit kind will be updated on the rollout start.",
          "type": "string",
          "enumDescriptions": [
            "Strategy unspecified.",
            "Update the unit kind strategy on the rollout start.",
            "Never update the unit kind."
          ],
          "enum": [
            "UPDATE_UNIT_KIND_STRATEGY_UNSPECIFIED",
            "UPDATE_UNIT_KIND_STRATEGY_ON_START",
            "UPDATE_UNIT_KIND_STRATEGY_NEVER"
          ]
        }
      }
    },
    "Status": {
      "type": "object",
      "properties": {
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        },
        "details": {
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "items": {
            "additionalProperties": {
              "description": "Properties of the object. Contains field @type with type URL.",
              "type": "any"
            },
            "type": "object"
          },
          "type": "array"
        },
        "code": {
          "format": "int32",
          "type": "integer",
          "description": "The status code, which should be an enum value of google.rpc.Code."
        }
      },
      "id": "Status",
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors)."
    },
    "ListUnitKindsResponse": {
      "id": "ListUnitKindsResponse",
      "properties": {
        "unitKinds": {
          "description": "The resulting unit kinds.",
          "type": "array",
          "items": {
            "$ref": "UnitKind"
          }
        },
        "unreachable": {
          "type": "array",
          "description": "Locations that could not be reached.",
          "items": {
            "type": "string"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "If present, the next page token can be provided to a subsequent ListUnitKinds call to list the next page. If empty, there are no more pages."
        }
      },
      "description": "The response structure for the ListUnitKinds method.",
      "type": "object"
    },
    "ListTenantsResponse": {
      "id": "ListTenantsResponse",
      "type": "object",
      "description": "The response structure for the ListTenants method.",
      "properties": {
        "nextPageToken": {
          "description": "If present, the next page token can be provided to a subsequent ListTenants call to list the next page. If empty, there are no more pages.",
          "type": "string"
        },
        "unreachable": {
          "type": "array",
          "description": "Locations that could not be reached.",
          "items": {
            "type": "string"
          }
        },
        "tenants": {
          "description": "The resulting tenants.",
          "type": "array",
          "items": {
            "$ref": "Tenant"
          }
        }
      }
    },
    "ListSaasResponse": {
      "type": "object",
      "id": "ListSaasResponse",
      "description": "The response structure for the ListSaas method.",
      "properties": {
        "nextPageToken": {
          "description": "If present, the next page token can be provided to a subsequent ListSaas call to list the next page. If empty, there are no more pages.",
          "type": "string"
        },
        "saas": {
          "type": "array",
          "items": {
            "$ref": "Saas"
          },
          "description": "The resulting saas."
        },
        "unreachable": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Locations that could not be reached."
        }
      }
    },
    "Location": {
      "description": "Location information that the service is available in.",
      "id": "Location",
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "Optional. Name of location."
        }
      }
    },
    "ReleaseRequirements": {
      "description": "Set of requirements to be fulfilled on the Unit when using this Release.",
      "type": "object",
      "id": "ReleaseRequirements",
      "properties": {
        "upgradeableFromReleases": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Optional. A list of releases from which a unit can be upgraded to this one (optional). If left empty no constraints will be applied. When provided, unit upgrade requests to this release will check and enforce this constraint."
        }
      }
    },
    "SaasCondition": {
      "id": "SaasCondition",
      "description": "SaasCondition describes the status of a Saas.",
      "type": "object",
      "properties": {
        "type": {
          "enum": [
            "TYPE_UNSPECIFIED",
            "TYPE_READY",
            "TYPE_SYNCHRONIZED"
          ],
          "type": "string",
          "enumDescriptions": [
            "Condition type is unspecified.",
            "Condition type is ready.",
            "Condition type is synchronized."
          ],
          "description": "Required. Type of the condition."
        },
        "status": {
          "description": "Required. Status of the condition.",
          "type": "string",
          "enumDescriptions": [
            "Condition status is unspecified.",
            "Condition is unknown.",
            "Condition is true.",
            "Condition is false."
          ],
          "enum": [
            "STATUS_UNSPECIFIED",
            "STATUS_UNKNOWN",
            "STATUS_TRUE",
            "STATUS_FALSE"
          ]
        },
        "reason": {
          "description": "Required. Brief reason for the condition's last transition.",
          "type": "string"
        },
        "lastTransitionTime": {
          "description": "Required. Last time the condition transited from one status to another.",
          "type": "string",
          "format": "google-datetime"
        },
        "message": {
          "description": "Required. Human readable message indicating details about the last transition.",
          "type": "string"
        }
      }
    },
    "Deprovision": {
      "properties": {},
      "id": "Deprovision",
      "description": "Deprovision is the unit operation that deprovision the underlying resources represented by a Unit. Can only execute if the Unit is currently provisioned.",
      "type": "object"
    },
    "ListLocationsResponse": {
      "description": "The response message for Locations.ListLocations.",
      "properties": {
        "locations": {
          "type": "array",
          "description": "A list of locations that matches the specified filter in the request.",
          "items": {
            "$ref": "GoogleCloudLocationLocation"
          }
        },
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "ListLocationsResponse"
    },
    "UnitOperation": {
      "id": "UnitOperation",
      "type": "object",
      "description": "UnitOperation encapsulates the intent of changing/interacting with the service component represented by the specific Unit. Multiple UnitOperations can be created (requested) and scheduled in the future, however only one will be allowed to execute at a time (that can change in the future for non-mutating operations). UnitOperations allow different actors interacting with the same unit to focus only on the change they have requested. This is a base object that contains the common fields in all unit operations. Next: 22",
      "properties": {
        "conditions": {
          "description": "Optional. Output only. A set of conditions which indicate the various conditions this resource can have.",
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "UnitOperationCondition"
          }
        },
        "provision": {
          "$ref": "Provision",
          "description": "Optional. Provision operation."
        },
        "upgrade": {
          "description": "Optional. Upgrade operation.",
          "$ref": "Upgrade"
        },
        "uid": {
          "description": "Output only. The unique identifier of the resource. UID is unique in the time and space for this resource within the scope of the service. It is typically generated by the server on successful creation of a resource and must not be changed. UID is used to uniquely identify resources with resource name reuses. This should be a UUID4.",
          "type": "string",
          "readOnly": true
        },
        "engineState": {
          "type": "string",
          "readOnly": true,
          "description": "Optional. Output only. The engine state for on-going deployment engine operation(s). This field is opaque for external usage."
        },
        "flagUpdate": {
          "description": "Optional. Flag update operation.",
          "$ref": "FlagUpdate"
        },
        "updateTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The timestamp when the resource was last updated. Any change to the resource made by users must refresh this value. Changes to a resource made by the service should refresh this value.",
          "readOnly": true
        },
        "name": {
          "description": "Identifier. The resource name (full URI of the resource) following the standard naming scheme: \"projects/{project}/locations/{location}/unitOperations/{unitOperation}\"",
          "type": "string"
        },
        "createTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The timestamp when the resource was created."
        },
        "deleteTime": {
          "description": "Output only. The timestamp when the resource was marked for deletion (deletion is an asynchronous operation).",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "unit": {
          "description": "Required. Immutable. The Unit a given UnitOperation will act upon.",
          "type": "string"
        },
        "annotations": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Optional. Annotations is an unstructured key-value map stored with a resource that may be set by external tools to store and retrieve arbitrary metadata. They are not queryable and should be preserved when modifying objects. More info: https://kubernetes.io/docs/user-guide/annotations"
        },
        "schedule": {
          "description": "Optional. When to schedule this operation.",
          "$ref": "Schedule"
        },
        "labels": {
          "description": "Optional. The labels on the resource, which can be used for categorization. similar to Kubernetes resource labels.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "etag": {
          "description": "Output only. An opaque value that uniquely identifies a version or generation of a resource. It can be used to confirm that the client and server agree on the ordering of a resource being written.",
          "type": "string",
          "readOnly": true
        },
        "errorCategory": {
          "type": "string",
          "readOnly": true,
          "enumDescriptions": [
            "Unit operation error category is unspecified",
            "Unit operation error category is not applicable, or it is not an error",
            "Unit operation error category is fatal",
            "Unit operation error category is retriable",
            "Unit operation error category is ignorable",
            "Unit operation error category is standard, counts towards Rollout error budget"
          ],
          "description": "Optional. Output only. UnitOperationErrorCategory describe the error category.",
          "enum": [
            "UNIT_OPERATION_ERROR_CATEGORY_UNSPECIFIED",
            "NOT_APPLICABLE",
            "FATAL",
            "RETRIABLE",
            "IGNORABLE",
            "STANDARD"
          ]
        },
        "deprovision": {
          "description": "Optional. Deprovision operation.",
          "$ref": "Deprovision"
        },
        "parentUnitOperation": {
          "type": "string",
          "description": "Optional. Reference to parent resource: UnitOperation. If an operation needs to create other operations as part of its workflow, each of the child operations should have this field set to the parent. This can be used for tracing. (Optional)"
        },
        "cancel": {
          "description": "Optional. When true, attempt to cancel the operation. Cancellation may fail if the operation is already executing. (Optional)",
          "type": "boolean"
        },
        "rollout": {
          "type": "string",
          "description": "Optional. Specifies which rollout created this Unit Operation. This cannot be modified and is used for filtering purposes only. If a dependent unit and unit operation are created as part of another unit operation, they will use the same rolloutId."
        },
        "state": {
          "readOnly": true,
          "type": "string",
          "enum": [
            "UNIT_OPERATION_STATE_UNKNOWN",
            "UNIT_OPERATION_STATE_PENDING",
            "UNIT_OPERATION_STATE_SCHEDULED",
            "UNIT_OPERATION_STATE_RUNNING",
            "UNIT_OPERATION_STATE_SUCCEEDED",
            "UNIT_OPERATION_STATE_FAILED",
            "UNIT_OPERATION_STATE_CANCELLED"
          ],
          "enumDescriptions": [
            "Unit operation state is unknown.",
            "Unit operation is accepted but not ready to run.",
            "Unit operation is accepted and scheduled.",
            "Unit operation is running.",
            "Unit operation has completed successfully.",
            "Unit operation has failed.",
            "Unit operation was cancelled."
          ],
          "description": "Optional. Output only. UnitOperationState describes the current state of the unit operation."
        }
      }
    },
    "Rollout": {
      "description": "Represents a single rollout execution and its results",
      "properties": {
        "rootRollout": {
          "readOnly": true,
          "description": "Optional. Output only. The root rollout that this rollout is stemming from. The resource name (full URI of the resource) following the standard naming scheme: \"projects/{project}/locations/{location}/rollouts/{rollout_id}\"",
          "type": "string"
        },
        "release": {
          "type": "string",
          "description": "Optional. Immutable. Name of the Release that gets rolled out to target Units. Required if no other type of release is specified."
        },
        "parentRollout": {
          "readOnly": true,
          "description": "Optional. Output only. The direct parent rollout that this rollout is stemming from. The resource name (full URI of the resource) following the standard naming scheme: \"projects/{project}/locations/{location}/rollouts/{rollout_id}\"",
          "type": "string"
        },
        "control": {
          "$ref": "RolloutControl",
          "description": "Optional. Requested change to the execution of this rollout. Default RolloutControl.action is ROLLOUT_ACTION_RUN meaning the rollout will be executed to completion while progressing through all natural Rollout States (such as RUNNING -> SUCCEEDED or RUNNING -> FAILED). Requests can only be made when the Rollout is in a non-terminal state."
        },
        "stateTransitionTime": {
          "type": "string",
          "description": "Optional. Output only. The time when the rollout transitioned into its current state.",
          "readOnly": true,
          "format": "google-datetime"
        },
        "startTime": {
          "format": "google-datetime",
          "readOnly": true,
          "description": "Optional. Output only. The time when the rollout started executing. Will be empty if the rollout hasn't started yet.",
          "type": "string"
        },
        "deleteTime": {
          "type": "string",
          "description": "Output only. The timestamp when the resource was marked for deletion (deletion is an asynchronous operation).",
          "format": "google-datetime",
          "readOnly": true
        },
        "state": {
          "enumDescriptions": [
            "Unspecified state.",
            "Rollout is in progress.",
            "Rollout has been paused.",
            "Rollout completed successfully.",
            "Rollout has failed.",
            "Rollout has been canceled.",
            "Rollout is waiting for some condition to be met before starting.",
            "Rollout is being canceled.",
            "Rollout is being resumed.",
            "Rollout is being paused."
          ],
          "type": "string",
          "readOnly": true,
          "description": "Output only. Current state of the rollout.",
          "enum": [
            "ROLLOUT_STATE_UNSPECIFIED",
            "ROLLOUT_STATE_RUNNING",
            "ROLLOUT_STATE_PAUSED",
            "ROLLOUT_STATE_SUCCEEDED",
            "ROLLOUT_STATE_FAILED",
            "ROLLOUT_STATE_CANCELLED",
            "ROLLOUT_STATE_WAITING",
            "ROLLOUT_STATE_CANCELLING",
            "ROLLOUT_STATE_RESUMING",
            "ROLLOUT_STATE_PAUSING"
          ]
        },
        "updateTime": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The timestamp when the resource was last updated. Any change to the resource made by users must refresh this value. Changes to a resource made by the service should refresh this value.",
          "format": "google-datetime"
        },
        "endTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Optional. Output only. The time when the rollout finished execution (regardless of success, failure, or cancellation). Will be empty if the rollout hasn't finished yet. Once set, the rollout is in terminal state and all the results are final.",
          "readOnly": true
        },
        "stats": {
          "description": "Optional. Output only. Details about the progress of the rollout.",
          "readOnly": true,
          "$ref": "RolloutStats"
        },
        "createTime": {
          "description": "Output only. The timestamp when the resource was created.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "stateMessage": {
          "description": "Output only. Human readable message indicating details about the last state transition.",
          "type": "string",
          "readOnly": true
        },
        "etag": {
          "type": "string",
          "description": "Output only. An opaque value that uniquely identifies a version or generation of a resource. It can be used to confirm that the client and server agree on the ordering of a resource being written.",
          "readOnly": true
        },
        "effectiveUnitFilter": {
          "description": "Optional. Output only. Output only snapshot of the effective unit filter at Rollout start time. Contains a CEL(https://github.com/google/cel-spec) expression consisting of a conjunction of Rollout.unit_filter and RolloutKind.unit_filter. This field captures the filter applied by the Rollout to determine the Unit population. If the associated RolloutKind's unit_filter is modified after the rollout is started, it will not be updated here.",
          "type": "string",
          "readOnly": true
        },
        "rolloutKind": {
          "description": "Required. Immutable. Name of the RolloutKind this rollout is stemming from and adhering to.",
          "type": "string"
        },
        "labels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. The labels on the resource, which can be used for categorization. similar to Kubernetes resource labels."
        },
        "name": {
          "type": "string",
          "description": "Identifier. The resource name (full URI of the resource) following the standard naming scheme: \"projects/{project}/locations/{location}/rollout/{rollout_id}\""
        },
        "rolloutOrchestrationStrategy": {
          "description": "Optional. The strategy used for executing this Rollout. This strategy will override whatever strategy is specified in the RolloutKind. If not specified on creation, the strategy from RolloutKind will be used. There are two supported values strategies which are used to control - \"Google.Cloud.Simple.AllAtOnce\" - \"Google.Cloud.Simple.OneLocationAtATime\" A rollout with one of these simple strategies will rollout across all locations defined in the targeted UnitKind's Saas Locations.",
          "type": "string"
        },
        "flagRelease": {
          "type": "string",
          "description": "Optional. Immutable. Name of the FlagRelease to be rolled out to the target Units. Release and FlagRelease are mutually exclusive. Note: `release` comment needs to be adjusted to mention that \"Release and FlagRelease are mutually exclusive\" when visibility restriction will be lifted."
        },
        "annotations": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. Annotations is an unstructured key-value map stored with a resource that may be set by external tools to store and retrieve arbitrary metadata. They are not queryable and should be preserved when modifying objects. More info: https://kubernetes.io/docs/user-guide/annotations",
          "type": "object"
        },
        "uid": {
          "readOnly": true,
          "description": "Output only. The unique identifier of the resource. UID is unique in the time and space for this resource within the scope of the service. It is typically generated by the server on successful creation of a resource and must not be changed. UID is used to uniquely identify resources with resource name reuses. This should be a UUID4.",
          "type": "string"
        },
        "unitFilter": {
          "description": "Optional. CEL(https://github.com/google/cel-spec) formatted filter string against Unit. The filter will be applied to determine the eligible unit population. This filter can only reduce, but not expand the scope of the rollout. If not provided, the unit_filter from the RolloutKind will be used.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "Rollout"
    },
    "MaintenanceSettings": {
      "id": "MaintenanceSettings",
      "type": "object",
      "properties": {
        "pinnedUntilTime": {
          "description": "Optional. If present, it fixes the release on the unit until the given time; i.e. changes to the release field will be rejected. Rollouts should and will also respect this by not requesting an upgrade in the first place.",
          "format": "google-datetime",
          "type": "string"
        }
      },
      "description": "Captures requested directives for performing future maintenance on the unit. This includes a request for the unit to skip maintenance for a period of time and remain pinned to its current release as well as controls for postponing maintenance scheduled in future."
    },
    "RolloutControl": {
      "id": "RolloutControl",
      "description": "RolloutControl provides a way to request a change to the execution of a Rollout by pausing or canceling it.",
      "type": "object",
      "properties": {
        "action": {
          "enum": [
            "ROLLOUT_ACTION_UNSPECIFIED",
            "ROLLOUT_ACTION_RUN",
            "ROLLOUT_ACTION_PAUSE",
            "ROLLOUT_ACTION_CANCEL"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unspecified action, will be treated as RUN by default.",
            "Run the Rollout until it naturally reaches a terminal state. A rollout requested to run will progress through all natural Rollout States (such as RUNNING -> SUCCEEDED or RUNNING -> FAILED). If retriable errors are encountered during the rollout, the rollout will paused by default and can be resumed by re-requesting this RUN action.",
            "Pause the Rollout until it is resumed (i.e. RUN is requested).",
            "Cancel the Rollout permanently."
          ],
          "description": "Required. Action to be performed on the Rollout. The default behavior is to run the rollout until it naturally reaches a terminal state."
        },
        "runParams": {
          "$ref": "RunRolloutActionParams",
          "description": "Optional. Parameters for the RUN action. It is an error to specify this if the RolloutAction is not set to RUN. By default, the rollout will retry failed operations when resumed."
        }
      }
    },
    "Saas": {
      "type": "object",
      "properties": {
        "updateTime": {
          "format": "google-datetime",
          "type": "string",
          "readOnly": true,
          "description": "Output only. The timestamp when the resource was last updated. Any change to the resource made by users must refresh this value. Changes to a resource made by the service should refresh this value."
        },
        "annotations": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. Annotations is an unstructured key-value map stored with a resource that may be set by external tools to store and retrieve arbitrary metadata. They are not queryable and should be preserved when modifying objects. More info: https://kubernetes.io/docs/user-guide/annotations"
        },
        "createTime": {
          "readOnly": true,
          "description": "Output only. The timestamp when the resource was created.",
          "format": "google-datetime",
          "type": "string"
        },
        "labels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. The labels on the resource, which can be used for categorization. similar to Kubernetes resource labels."
        },
        "error": {
          "description": "Output only. If the state is FAILED, the corresponding error code and message. Defaults to code=OK for all other states.",
          "$ref": "Status",
          "readOnly": true
        },
        "uid": {
          "description": "Output only. The unique identifier of the resource. UID is unique in the time and space for this resource within the scope of the service. It is typically generated by the server on successful creation of a resource and must not be changed. UID is used to uniquely identify resources with resource name reuses. This should be a UUID4.",
          "readOnly": true,
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Identifier. The resource name (full URI of the resource) following the standard naming scheme: \"projects/{project}/locations/{location}/saas/{saas}\""
        },
        "state": {
          "type": "string",
          "description": "Output only. State of the Saas. It is always in STATE_ACTIVE state if the application_template is empty.",
          "enumDescriptions": [
            "State is unspecified.",
            "State type is unspecified. Deprecated: Use STATE_UNSPECIFIED instead.",
            "The Saas is ready",
            "In the process of importing, synchronizing or replicating ApplicationTemplates",
            "Failure during process of importing, synchronizing or replicating ApplicationTemplate processing"
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "STATE_TYPE_UNSPECIFIED",
            "STATE_ACTIVE",
            "STATE_RUNNING",
            "STATE_FAILED"
          ],
          "readOnly": true,
          "enumDeprecated": [
            false,
            true,
            false,
            false,
            false
          ]
        },
        "etag": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. An opaque value that uniquely identifies a version or generation of a resource. It can be used to confirm that the client and server agree on the ordering of a resource being written."
        },
        "conditions": {
          "readOnly": true,
          "items": {
            "$ref": "SaasCondition"
          },
          "type": "array",
          "description": "Output only. A set of conditions which indicate the various conditions this resource can have."
        },
        "locations": {
          "description": "Optional. List of locations that the service is available in. Rollout refers to the list to generate a rollout plan.",
          "items": {
            "$ref": "Location"
          },
          "type": "array"
        }
      },
      "id": "Saas",
      "description": "Saas is a representation of a SaaS service managed by the Producer."
    },
    "ListReleasesResponse": {
      "id": "ListReleasesResponse",
      "description": "The response structure for the ListReleases method.",
      "type": "object",
      "properties": {
        "releases": {
          "items": {
            "$ref": "Release"
          },
          "type": "array",
          "description": "The resulting releases."
        },
        "nextPageToken": {
          "description": "If present, the next page token can be provided to a subsequent ListReleases call to list the next page. If empty, there are no more pages.",
          "type": "string"
        },
        "unreachable": {
          "description": "Locations that could not be reached.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      }
    },
    "Empty": {
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "type": "object",
      "properties": {},
      "id": "Empty"
    },
    "Tenant": {
      "properties": {
        "labels": {
          "description": "Optional. The labels on the resource, which can be used for categorization. similar to Kubernetes resource labels.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "name": {
          "description": "Identifier. The resource name (full URI of the resource) following the standard naming scheme: \"projects/{project}/locations/{location}/tenants/{tenant}\"",
          "type": "string"
        },
        "uid": {
          "type": "string",
          "description": "Output only. The unique identifier of the resource. UID is unique in the time and space for this resource within the scope of the service. It is typically generated by the server on successful creation of a resource and must not be changed. UID is used to uniquely identify resources with resource name reuses. This should be a UUID4.",
          "readOnly": true
        },
        "annotations": {
          "description": "Optional. Annotations is an unstructured key-value map stored with a resource that may be set by external tools to store and retrieve arbitrary metadata. They are not queryable and should be preserved when modifying objects. More info: https://kubernetes.io/docs/user-guide/annotations",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "consumerResource": {
          "description": "Optional. Immutable. A reference to the consumer resource this SaaS Tenant is representing. The relationship with a consumer resource can be used by App Lifecycle Manager for retrieving consumer-defined settings and policies such as maintenance policies (using Unified Maintenance Policy API).",
          "type": "string"
        },
        "saas": {
          "type": "string",
          "description": "Required. Immutable. A reference to the Saas that defines the product (managed service) that the producer wants to manage with App Lifecycle Manager. Part of the App Lifecycle Manager common data model."
        },
        "etag": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. An opaque value that uniquely identifies a version or generation of a resource. It can be used to confirm that the client and server agree on the ordering of a resource being written."
        },
        "updateTime": {
          "format": "google-datetime",
          "type": "string",
          "readOnly": true,
          "description": "Output only. The timestamp when the resource was last updated. Any change to the resource made by users must refresh this value. Changes to a resource made by the service should refresh this value."
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. The timestamp when the resource was created."
        }
      },
      "type": "object",
      "description": "Tenant represents the service producer side of an instance of the service created based on a request from a consumer. In a typical scenario a Tenant has a one-to-one mapping with a resource given out to a service consumer. Example: tenant: name: \"projects/svc1/locations/loc/tenants/inst-068afff8\" consumer_resource: \"projects/gshoe/locations/loc/shoes/black-shoe\"",
      "id": "Tenant"
    },
    "RolloutStats": {
      "type": "object",
      "description": "RolloutStats contains information about the progress of a rollout.",
      "properties": {
        "operationsByState": {
          "description": "Optional. Output only. Unordered list. A breakdown of the progress of operations triggered by the rollout. Provides a count of Operations by their state. This can be used to determine the number of units which have been updated, or are scheduled to be updated. There will be at most one entry per group. Possible values for operation groups are: - \"SCHEDULED\" - \"PENDING\" - \"RUNNING\" - \"SUCCEEDED\" - \"FAILED\" - \"CANCELLED\"",
          "readOnly": true,
          "items": {
            "$ref": "Aggregate"
          },
          "type": "array"
        },
        "estimatedTotalUnitCount": {
          "description": "Optional. Output only. Estimated number of units based. The estimation is computed upon creation of the rollout.",
          "readOnly": true,
          "format": "int64",
          "type": "string"
        }
      },
      "id": "RolloutStats"
    },
    "ListRolloutKindsResponse": {
      "properties": {
        "nextPageToken": {
          "description": "If present, the next page token can be provided to a subsequent ListRolloutKinds call to list the next page. If empty, there are no more pages.",
          "type": "string"
        },
        "unreachable": {
          "description": "Locations that could not be reached.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "rolloutKinds": {
          "type": "array",
          "items": {
            "$ref": "RolloutKind"
          },
          "description": "The resulting rollout kinds."
        }
      },
      "description": "The response structure for the ListRolloutKinds method.",
      "id": "ListRolloutKindsResponse",
      "type": "object"
    },
    "UnitOperationCondition": {
      "type": "object",
      "description": "UnitOperationCondition describes the status of an Unit Operation. UnitOperationCondition is individual components that contribute to an overall state.",
      "id": "UnitOperationCondition",
      "properties": {
        "message": {
          "type": "string",
          "description": "Required. Human readable message indicating details about the last transition."
        },
        "status": {
          "enumDescriptions": [
            "Condition status is unspecified.",
            "Condition is unknown.",
            "Condition is true.",
            "Condition is false."
          ],
          "enum": [
            "STATUS_UNSPECIFIED",
            "STATUS_UNKNOWN",
            "STATUS_TRUE",
            "STATUS_FALSE"
          ],
          "type": "string",
          "description": "Required. Status of the condition."
        },
        "reason": {
          "description": "Required. Brief reason for the condition's last transition.",
          "type": "string"
        },
        "type": {
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "TYPE_SCHEDULED",
            "TYPE_RUNNING",
            "TYPE_SUCCEEDED",
            "TYPE_CANCELLED",
            "TYPE_APP_CREATED",
            "TYPE_APP_COMPONENTS_REGISTERED",
            "TYPE_WORKLOAD_SUCCEEDED"
          ],
          "description": "Required. Type of the condition.",
          "enumDescriptions": [
            "Condition type is unspecified.",
            "Condition type is scheduled.",
            "Condition type is running.",
            "Condition type is succeeded.",
            "Condition type is cancelled.",
            "Indicates if AppHub app has been created.",
            "Indicates if services and workloads have been registered with AppHub.",
            "Indicates if the UnitOperation's core workload execution completed successfully. The workload is the core execution operation performed for a UnitOperation (e.g., provisioning, updating, or deprovisioning resources) excluding post-operation checks."
          ]
        },
        "lastTransitionTime": {
          "description": "Required. Last time the condition transited from one status to another.",
          "type": "string",
          "format": "google-datetime"
        }
      }
    },
    "ListRolloutsResponse": {
      "type": "object",
      "description": "The response structure for the ListRollouts method.",
      "id": "ListRolloutsResponse",
      "properties": {
        "rollouts": {
          "items": {
            "$ref": "Rollout"
          },
          "type": "array",
          "description": "The resulting rollouts."
        },
        "unreachable": {
          "description": "Locations that could not be reached.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "If present, the next page token can be provided to a subsequent ListRollouts call to list the next page. If empty, there are no more pages."
        }
      }
    },
    "FromMapping": {
      "type": "object",
      "description": "Output variables whose values will be passed on to dependencies",
      "properties": {
        "outputVariable": {
          "description": "Required. Name of the outputVariable on the dependency",
          "type": "string"
        },
        "dependency": {
          "description": "Required. Alias of the dependency that the outputVariable will pass its value to",
          "type": "string"
        }
      },
      "id": "FromMapping"
    },
    "Dependency": {
      "type": "object",
      "properties": {
        "alias": {
          "type": "string",
          "description": "Required. An alias for the dependency. Used for input variable mapping."
        },
        "unitKind": {
          "type": "string",
          "description": "Required. Immutable. The unit kind of the dependency."
        }
      },
      "description": "Dependency represent a single dependency with another unit kind by alias.",
      "id": "Dependency"
    }
  },
  "fullyEncodeReservedExpansion": true,
  "version_module": true,
  "version": "v1",
  "ownerDomain": "google.com",
  "protocol": "rest",
  "description": "Model, deploy, and operate your SaaS at scale. ",
  "rootUrl": "https://saasservicemgmt.googleapis.com/",
  "mtlsRootUrl": "https://saasservicemgmt.mtls.googleapis.com/",
  "revision": "20260819",
  "batchPath": "batch",
  "ownerName": "Google",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "resources": {
    "projects": {
      "resources": {
        "locations": {
          "resources": {
            "unitOperations": {
              "methods": {
                "delete": {
                  "path": "v1/{+name}",
                  "parameters": {
                    "etag": {
                      "type": "string",
                      "description": "The etag known to the client for the expected state of the unit operation. This is used with state-changing methods to prevent accidental overwrites when multiple user agents might be acting in parallel on the same resource. An etag wildcard provide optimistic concurrency based on the expected existence of the unit operation. The Any wildcard (`*`) requires that the resource must already exists, and the Not Any wildcard (`!*`) requires that it must not.",
                      "location": "query"
                    },
                    "validateOnly": {
                      "location": "query",
                      "type": "boolean",
                      "description": "If \"validate_only\" is set to true, the service will try to validate that this request would succeed, but will not actually make changes."
                    },
                    "name": {
                      "description": "Required. The resource name of the resource within a service.",
                      "type": "string",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/unitOperations/[^/]+$",
                      "location": "path"
                    },
                    "requestId": {
                      "type": "string",
                      "description": "An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                      "location": "query"
                    }
                  },
                  "response": {
                    "$ref": "Empty"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/saasservicemgmt.read-write"
                  ],
                  "description": "Delete a single unit operation.",
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "saasservicemgmt.projects.locations.unitOperations.delete",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/unitOperations/{unitOperationsId}",
                  "httpMethod": "DELETE"
                },
                "list": {
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/unitOperations",
                  "path": "v1/{+parent}/unitOperations",
                  "id": "saasservicemgmt.projects.locations.unitOperations.list",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/saasservicemgmt.read-write",
                    "https://www.googleapis.com/auth/saasservicemgmt.readonly"
                  ],
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "parent"
                  ],
                  "parameters": {
                    "pageToken": {
                      "location": "query",
                      "description": "The page token: If the next_page_token from a previous response is provided, this request will send the subsequent page.",
                      "type": "string"
                    },
                    "orderBy": {
                      "location": "query",
                      "type": "string",
                      "description": "Order results as specified in https://google.aip.dev/132."
                    },
                    "pageSize": {
                      "format": "int32",
                      "type": "integer",
                      "description": "The maximum number of unit operations to send per page.",
                      "location": "query"
                    },
                    "filter": {
                      "location": "query",
                      "type": "string",
                      "description": "Filter the list as specified in https://google.aip.dev/160."
                    },
                    "parent": {
                      "type": "string",
                      "required": true,
                      "description": "Required. The parent of the unit operation.",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path"
                    }
                  },
                  "response": {
                    "$ref": "ListUnitOperationsResponse"
                  },
                  "description": "Retrieve a collection of unit operations."
                },
                "get": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/saasservicemgmt.read-write",
                    "https://www.googleapis.com/auth/saasservicemgmt.readonly"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1/{+name}",
                  "description": "Retrieve a single unit operation.",
                  "response": {
                    "$ref": "UnitOperation"
                  },
                  "parameters": {
                    "name": {
                      "type": "string",
                      "required": true,
                      "description": "Required. The resource name of the resource within a service.",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/unitOperations/[^/]+$"
                    }
                  },
                  "id": "saasservicemgmt.projects.locations.unitOperations.get",
                  "httpMethod": "GET",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/unitOperations/{unitOperationsId}"
                },
                "create": {
                  "description": "Create a new unit operation.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/saasservicemgmt.read-write"
                  ],
                  "parameters": {
                    "validateOnly": {
                      "description": "If \"validate_only\" is set to true, the service will try to validate that this request would succeed, but will not actually make changes.",
                      "location": "query",
                      "type": "boolean"
                    },
                    "parent": {
                      "location": "path",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true,
                      "description": "Required. The parent of the unit operation."
                    },
                    "unitOperationId": {
                      "location": "query",
                      "type": "string",
                      "description": "Required. The ID value for the new unit operation."
                    },
                    "requestId": {
                      "location": "query",
                      "type": "string",
                      "description": "An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000)."
                    }
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/unitOperations",
                  "response": {
                    "$ref": "UnitOperation"
                  },
                  "path": "v1/{+parent}/unitOperations",
                  "id": "saasservicemgmt.projects.locations.unitOperations.create",
                  "parameterOrder": [
                    "parent"
                  ],
                  "request": {
                    "$ref": "UnitOperation"
                  },
                  "httpMethod": "POST"
                },
                "patch": {
                  "parameters": {
                    "validateOnly": {
                      "description": "If \"validate_only\" is set to true, the service will try to validate that this request would succeed, but will not actually make changes.",
                      "location": "query",
                      "type": "boolean"
                    },
                    "requestId": {
                      "type": "string",
                      "location": "query",
                      "description": "An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000)."
                    },
                    "updateMask": {
                      "location": "query",
                      "format": "google-fieldmask",
                      "type": "string",
                      "description": "Field mask is used to specify the fields to be overwritten in the UnitOperation resource by the update. The fields specified in the update_mask are relative to the resource, not the full request. A field will be overwritten if it is in the mask. If the user does not provide a mask then all fields in the UnitOperation will be overwritten."
                    },
                    "name": {
                      "location": "path",
                      "description": "Identifier. The resource name (full URI of the resource) following the standard naming scheme: \"projects/{project}/locations/{location}/unitOperations/{unitOperation}\"",
                      "type": "string",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/unitOperations/[^/]+$"
                    }
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/unitOperations/{unitOperationsId}",
                  "path": "v1/{+name}",
                  "request": {
                    "$ref": "UnitOperation"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "saasservicemgmt.projects.locations.unitOperations.patch",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/saasservicemgmt.read-write"
                  ],
                  "description": "Update a single unit operation.",
                  "httpMethod": "PATCH",
                  "response": {
                    "$ref": "UnitOperation"
                  }
                }
              }
            },
            "rollouts": {
              "methods": {
                "list": {
                  "description": "Retrieve a collection of rollouts.",
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "parent"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/rollouts",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/saasservicemgmt.read-write",
                    "https://www.googleapis.com/auth/saasservicemgmt.readonly"
                  ],
                  "response": {
                    "$ref": "ListRolloutsResponse"
                  },
                  "parameters": {
                    "pageToken": {
                      "location": "query",
                      "type": "string",
                      "description": "The page token: If the next_page_token from a previous response is provided, this request will send the subsequent page."
                    },
                    "pageSize": {
                      "location": "query",
                      "format": "int32",
                      "description": "The maximum number of rollouts to send per page.",
                      "type": "integer"
                    },
                    "parent": {
                      "description": "Required. The parent of the rollout.",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true,
                      "location": "path"
                    },
                    "orderBy": {
                      "type": "string",
                      "description": "Order results as specified in https://google.aip.dev/132.",
                      "location": "query"
                    },
                    "filter": {
                      "description": "Filter the list as specified in https://google.aip.dev/160.",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "id": "saasservicemgmt.projects.locations.rollouts.list",
[...]
