{
  "mtlsRootUrl": "https://safebrowsing.mtls.googleapis.com/",
  "protocol": "rest",
  "id": "safebrowsing:v5",
  "version_module": true,
  "name": "safebrowsing",
  "baseUrl": "https://safebrowsing.googleapis.com/",
  "basePath": "",
  "rootUrl": "https://safebrowsing.googleapis.com/",
  "fullyEncodeReservedExpansion": true,
  "title": "Safe Browsing API",
  "description": "Enables client applications to check web resources (most commonly URLs) against Google-generated lists of unsafe web resources. The Safe Browsing APIs are for non-commercial use only. If you need to use APIs to detect malicious URLs for commercial purposes – meaning “for sale or revenue-generating purposes” – please refer to the Web Risk API.",
  "batchPath": "batch",
  "version": "v5",
  "discoveryVersion": "v1",
  "resources": {
    "hashList": {
      "methods": {
        "get": {
          "flatPath": "v5/hashList/{name}",
          "description": "Gets the latest contents of a hash list. A hash list may either by a threat list or a non-threat list such as the Global Cache. This is a standard Get method as defined by https://google.aip.dev/131 and the HTTP method is also GET.",
          "path": "v5/hashList/{name}",
          "parameterOrder": [
            "name"
          ],
          "response": {
            "$ref": "GoogleSecuritySafebrowsingV5HashList"
          },
          "httpMethod": "GET",
          "parameters": {
            "version": {
              "description": "The version of the hash list that the client already has. If this is the first time the client is fetching the hash list, this field MUST be left empty. Otherwise, the client SHOULD supply the version previously received from the server. The client MUST NOT manipulate those bytes. **What's new in V5**: in V4 of the API, this was called `states`; it is now renamed to `version` for clarity.",
              "format": "byte",
              "type": "string",
              "location": "query"
            },
            "sizeConstraints.maxUpdateEntries": {
              "format": "int32",
              "location": "query",
              "description": "The maximum size in number of entries. The update will not contain more entries than this value, but it is possible that the update will contain fewer entries than this value. This MUST be at least 1024. If omitted or zero, no update size limit is set.",
              "type": "integer"
            },
            "sizeConstraints.maxDatabaseEntries": {
              "location": "query",
              "format": "int32",
              "description": "Sets the maximum number of entries that the client is willing to have in the local database for the list. (The server MAY cause the client to store less than this number of entries.) If omitted or zero, no database size limit is set.",
              "type": "integer"
            },
            "name": {
              "type": "string",
              "location": "path",
              "required": true,
              "description": "Required. The name of this particular hash list. It may be a threat list, or it may be the Global Cache."
            }
          },
          "id": "safebrowsing.hashList.get"
        }
      }
    },
    "hashLists": {
      "methods": {
        "list": {
          "id": "safebrowsing.hashLists.list",
          "parameterOrder": [],
          "path": "v5/hashLists",
          "httpMethod": "GET",
          "response": {
            "$ref": "GoogleSecuritySafebrowsingV5ListHashListsResponse"
          },
          "flatPath": "v5/hashLists",
          "description": "Lists hash lists. In the V5 API, Google will never remove a hash list that has ever been returned by this method. This enables clients to skip using this method and simply hard-code all hash lists they need. This is a standard List method as defined by https://google.aip.dev/132 and the HTTP method is GET.",
          "parameters": {
            "pageSize": {
              "type": "integer",
              "format": "int32",
              "location": "query",
              "description": "The maximum number of hash lists to return. The service may return fewer than this value. If unspecified, the server will choose a page size, which may be larger than the number of hash lists so that pagination is not necessary."
            },
            "pageToken": {
              "description": "A page token, received from a previous `ListHashLists` call. Provide this to retrieve the subsequent page.",
              "type": "string",
              "location": "query"
            }
          }
        },
        "batchGet": {
          "description": "Gets multiple hash lists at once. It is very common for a client to need to get multiple hash lists. Using this method is preferred over using the regular Get method multiple times. This is a standard batch Get method as defined by https://google.aip.dev/231 and the HTTP method is also GET.",
          "parameterOrder": [],
          "httpMethod": "GET",
          "flatPath": "v5/hashLists:batchGet",
          "parameters": {
            "names": {
              "description": "Required. The names of the particular hash lists. The list MAY be a threat list, or it may be the Global Cache. The names MUST NOT contain duplicates; if they did, the client will get an error.",
              "location": "query",
              "type": "string",
              "repeated": true
            },
            "version": {
              "format": "byte",
              "description": "The versions of the hash list that the client already has. If this is the first time the client is fetching the hash lists, the field should be left empty. Otherwise, the client should supply the versions previously received from the server. The client MUST NOT manipulate those bytes. The client need not send the versions in the same order as the corresponding list names. The client may send fewer or more versions in a request than there are names. However the client MUST NOT send multiple versions that correspond to the same name; if it did, the client will get an error. Historical note: in V4 of the API, this was called `states`; it is now renamed to `version` for clarity.",
              "location": "query",
              "type": "string",
              "repeated": true
            },
            "sizeConstraints.maxUpdateEntries": {
              "location": "query",
              "description": "The maximum size in number of entries. The update will not contain more entries than this value, but it is possible that the update will contain fewer entries than this value. This MUST be at least 1024. If omitted or zero, no update size limit is set.",
              "format": "int32",
              "type": "integer"
            },
            "sizeConstraints.maxDatabaseEntries": {
              "description": "Sets the maximum number of entries that the client is willing to have in the local database for the list. (The server MAY cause the client to store less than this number of entries.) If omitted or zero, no database size limit is set.",
              "type": "integer",
              "location": "query",
              "format": "int32"
            }
          },
          "path": "v5/hashLists:batchGet",
          "response": {
            "$ref": "GoogleSecuritySafebrowsingV5BatchGetHashListsResponse"
          },
          "id": "safebrowsing.hashLists.batchGet"
        }
      }
    },
    "urls": {
      "methods": {
        "search": {
          "response": {
            "$ref": "GoogleSecuritySafebrowsingV5SearchUrlsResponse"
          },
          "description": "Searches for URLs matching known threats. Each URL and it's host-suffix and path-prefix expressions (up to a limited depth) are checked. This means that the response may contain URLs that were not included in the request, but are expressions of the requested URLs.",
          "parameterOrder": [],
          "id": "safebrowsing.urls.search",
          "flatPath": "v5/urls:search",
          "parameters": {
            "urls": {
              "repeated": true,
              "description": "Required. The URLs to be looked up. Clients MUST NOT send more than 50 URLs.",
              "location": "query",
              "type": "string"
            }
          },
          "httpMethod": "GET",
          "path": "v5/urls:search"
        }
      }
    },
    "hashes": {
      "methods": {
        "search": {
          "parameterOrder": [],
          "response": {
            "$ref": "GoogleSecuritySafebrowsingV5SearchHashesResponse"
          },
          "id": "safebrowsing.hashes.search",
          "flatPath": "v5/hashes:search",
          "description": "Searches for full hashes matching the specified prefixes. This is a custom method as defined by https://google.aip.dev/136 (the custom method refers to this method having a custom name within Google's general API development nomenclature; it does not refer to using a custom HTTP method).",
          "parameters": {
            "hashPrefixes": {
              "description": "Required. The hash prefixes to be looked up. Clients MUST NOT send more than 1000 hash prefixes. However, following the URL processing procedure, clients SHOULD NOT need to send more than 30 hash prefixes. Currently each hash prefix is required to be exactly 4 bytes long. This MAY be relaxed in the future.",
              "repeated": true,
              "format": "byte",
              "location": "query",
              "type": "string"
            }
          },
          "httpMethod": "GET",
          "path": "v5/hashes:search"
        }
      }
    }
  },
  "servicePath": "",
  "ownerDomain": "google.com",
  "parameters": {
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "callback": {
      "location": "query",
      "description": "JSONP",
      "type": "string"
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "alt": {
      "default": "json",
      "type": "string",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "description": "Data format for response.",
      "location": "query"
    },
    "prettyPrint": {
      "location": "query",
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean",
      "default": "true"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string",
      "location": "query"
    },
    "key": {
      "type": "string",
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "$.xgafv": {
      "type": "string",
      "enum": [
        "1",
        "2"
      ],
      "description": "V1 error format.",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query"
    },
    "access_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth access token."
    }
  },
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "revision": "20260822",
  "canonicalName": "Safebrowsing",
  "documentationLink": "https://developers.google.com/safe-browsing/",
  "schemas": {
    "GoogleSecuritySafebrowsingV5FullHash": {
      "id": "GoogleSecuritySafebrowsingV5FullHash",
      "type": "object",
      "description": "The full hash identified with one or more matches.",
      "properties": {
        "fullHash": {
          "type": "string",
          "description": "The matching full hash. This is the SHA256 hash. The length will be exactly 32 bytes.",
          "format": "byte"
        },
        "fullHashDetails": {
          "items": {
            "$ref": "GoogleSecuritySafebrowsingV5FullHashFullHashDetail"
          },
          "description": "Unordered list. A repeated field identifying the details relevant to this full hash.",
          "type": "array"
        }
      }
    },
    "GoogleSecuritySafebrowsingV5RiceDeltaEncoded256Bit": {
      "type": "object",
      "id": "GoogleSecuritySafebrowsingV5RiceDeltaEncoded256Bit",
      "properties": {
        "riceParameter": {
          "type": "integer",
          "format": "int32",
          "description": "The Golomb-Rice parameter. This parameter is guaranteed to be between 227 and 254, inclusive."
        },
        "firstValueFirstPart": {
          "type": "string",
          "description": "The first 64 bits of the first entry in the encoded data (hashes). If the field is empty, the first 64 bits are all zero.",
          "format": "uint64"
        },
        "firstValueFourthPart": {
          "description": "The last 64 bits of the first entry in the encoded data (hashes). If the field is empty, the last 64 bits are all zero.",
          "format": "uint64",
          "type": "string"
        },
        "firstValueSecondPart": {
          "format": "uint64",
          "type": "string",
          "description": "The 65 through 128th bits of the first entry in the encoded data (hashes). If the field is empty, the 65 through 128th bits are all zero."
        },
        "entriesCount": {
          "description": "The number of entries that are delta encoded in the encoded data. If only a single integer was encoded, this will be zero and the single value will be stored in `first_value`.",
          "format": "int32",
          "type": "integer"
        },
        "firstValueThirdPart": {
          "type": "string",
          "format": "uint64",
          "description": "The 129 through 192th bits of the first entry in the encoded data (hashes). If the field is empty, the 129 through 192th bits are all zero."
        },
        "encodedData": {
          "format": "byte",
          "description": "The encoded deltas that are encoded using the Golomb-Rice coder.",
          "type": "string"
        }
      },
      "description": "Same as `RiceDeltaEncoded32Bit` except this encodes 256-bit numbers."
    },
    "GoogleSecuritySafebrowsingV5HashListMetadata": {
      "id": "GoogleSecuritySafebrowsingV5HashListMetadata",
      "type": "object",
      "description": "Metadata about a particular hash list.",
      "properties": {
        "threatTypes": {
          "description": "Unordered list. If not empty, this specifies that the hash list is a kind of threat list, and this enumerates the kind of threats associated with hashes or hash prefixes in this hash list. May be empty if the entry does not represent a threat, i.e. in the case that it represents a likely safe type.",
          "items": {
            "enumDescriptions": [
              "Unknown threat type. If this is returned by the server, the client shall disregard the enclosing `FullHashDetail` altogether.",
              "Malware threat type. Malware is any software or mobile application specifically designed to harm a computer, a mobile device, the software it's running, or its users. Malware exhibits malicious behavior that can include installing software without user consent and installing harmful software such as viruses. More information can be found [here](https://developers.google.com/search/docs/monitor-debug/security/malware).",
              "Social engineering threat type. Social engineering pages falsely purport to act on behalf of a third party with the intention of confusing viewers into performing an action with which the viewer would only trust a true agent of that third party. Phishing is a type of social engineering that tricks the viewer into performing the specific action of providing information, such as login credentials. More information can be found [here](https://developers.google.com/search/docs/monitor-debug/security/social-engineering).",
              "Unwanted software threat type. Unwanted software is any software that does not adhere to [Google's Software Principles](https://www.google.com/about/software-principles.html) but isn't malware.",
              "Potentially harmful application threat type [as used by Google Play Protect for the Play Store](https://developers.google.com/android/play-protect/potentially-harmful-applications)."
            ],
            "enum": [
              "THREAT_TYPE_UNSPECIFIED",
              "MALWARE",
              "SOCIAL_ENGINEERING",
              "UNWANTED_SOFTWARE",
              "POTENTIALLY_HARMFUL_APPLICATION"
            ],
            "type": "string"
          },
          "type": "array"
        },
        "description": {
          "description": "A human-readable description about this list. Written in English.",
          "type": "string"
        },
        "hashLength": {
          "enumDescriptions": [
            "Unspecified length.",
            "Each hash is a four-byte prefix.",
            "Each hash is an eight-byte prefix.",
            "Each hash is a sixteen-byte prefix.",
            "Each hash is a thirty-two-byte full hash."
          ],
          "description": "The supported hash length for this hash list. Each hash list will support exactly one length. If a different hash length is introduced for the same set of threat types or safe types, it will be introduced as a separate list with a distinct name and respective hash length set.",
          "enum": [
            "HASH_LENGTH_UNSPECIFIED",
            "FOUR_BYTES",
            "EIGHT_BYTES",
            "SIXTEEN_BYTES",
            "THIRTY_TWO_BYTES"
          ],
          "type": "string"
        },
        "likelySafeTypes": {
          "type": "array",
          "items": {
            "enum": [
              "LIKELY_SAFE_TYPE_UNSPECIFIED",
              "GENERAL_BROWSING",
              "CSD",
              "DOWNLOAD"
            ],
            "enumDescriptions": [
              "Unknown.",
              "This site is likely safe enough for general browsing. This is also known as the global cache.",
              "This site is likely safe enough that there is no need to run Client-Side Detection models or password protection checks.",
              "This site is likely safe enough that downloads from the site need not be checked."
            ],
            "type": "string"
          },
          "description": "Unordered list. If not empty, this specifies that the hash list represents a list of likely safe hashes, and this enumerates the ways they are considered likely safe. This field is mutually exclusive with the threat_types field."
        }
      }
    },
    "GoogleSecuritySafebrowsingV5FullHashFullHashDetail": {
      "properties": {
        "threatType": {
          "enum": [
            "THREAT_TYPE_UNSPECIFIED",
            "MALWARE",
            "SOCIAL_ENGINEERING",
            "UNWANTED_SOFTWARE",
            "POTENTIALLY_HARMFUL_APPLICATION"
          ],
          "description": "The type of threat. This field will never be empty.",
          "type": "string",
          "enumDescriptions": [
            "Unknown threat type. If this is returned by the server, the client shall disregard the enclosing `FullHashDetail` altogether.",
            "Malware threat type. Malware is any software or mobile application specifically designed to harm a computer, a mobile device, the software it's running, or its users. Malware exhibits malicious behavior that can include installing software without user consent and installing harmful software such as viruses. More information can be found [here](https://developers.google.com/search/docs/monitor-debug/security/malware).",
            "Social engineering threat type. Social engineering pages falsely purport to act on behalf of a third party with the intention of confusing viewers into performing an action with which the viewer would only trust a true agent of that third party. Phishing is a type of social engineering that tricks the viewer into performing the specific action of providing information, such as login credentials. More information can be found [here](https://developers.google.com/search/docs/monitor-debug/security/social-engineering).",
            "Unwanted software threat type. Unwanted software is any software that does not adhere to [Google's Software Principles](https://www.google.com/about/software-principles.html) but isn't malware.",
            "Potentially harmful application threat type [as used by Google Play Protect for the Play Store](https://developers.google.com/android/play-protect/potentially-harmful-applications)."
          ]
        },
        "attributes": {
          "description": "Unordered list. Additional attributes about those full hashes. This may be empty.",
          "type": "array",
          "items": {
            "enumDescriptions": [
              "Unknown attribute. If this is returned by the server, the client shall disregard the enclosing `FullHashDetail` altogether.",
              "Indicates that the threat_type should not be used for enforcement.",
              "Indicates that the threat_type should only be used for enforcement on frames."
            ],
            "enum": [
              "THREAT_ATTRIBUTE_UNSPECIFIED",
              "CANARY",
              "FRAME_ONLY"
            ],
            "type": "string"
          }
        }
      },
      "id": "GoogleSecuritySafebrowsingV5FullHashFullHashDetail",
      "description": "Details about a matching full hash. An important note about forward compatibility: new threat types and threat attributes may be added by the server at any time; those additions are considered minor version changes. It is Google's policy not to expose minor version numbers in APIs (see https://cloud.google.com/apis/design/versioning for the versioning policy), so clients MUST be prepared to receive `FullHashDetail` messages containing `ThreatType` enum values or `ThreatAttribute` enum values that are considered invalid by the client. Therefore, it is the client's responsibility to check for the validity of all `ThreatType` and `ThreatAttribute` enum values; if any value is considered invalid, the client MUST disregard the entire `FullHashDetail` message.",
      "type": "object"
    },
    "GoogleSecuritySafebrowsingV5RiceDeltaEncoded32Bit": {
      "id": "GoogleSecuritySafebrowsingV5RiceDeltaEncoded32Bit",
      "properties": {
        "riceParameter": {
          "format": "int32",
          "description": "The Golomb-Rice parameter. This parameter is guaranteed to be between 3 and 30, inclusive.",
          "type": "integer"
        },
        "firstValue": {
          "description": "The first entry in the encoded data (hashes or indices), or, if only a single hash prefix or index was encoded, that entry's value. If the field is empty, the entry is zero.",
          "type": "integer",
          "format": "uint32"
        },
        "entriesCount": {
          "format": "int32",
          "type": "integer",
          "description": "The number of entries that are delta encoded in the encoded data. If only a single integer was encoded, this will be zero and the single value will be stored in `first_value`."
        },
        "encodedData": {
          "format": "byte",
          "type": "string",
          "description": "The encoded deltas that are encoded using the Golomb-Rice coder."
        }
      },
      "type": "object",
      "description": "The Rice-Golomb encoded data. Used for either hashes or removal indices. It is guaranteed that every hash or index here has the same length, and this length is exactly 32 bits. Generally speaking, if we sort all the entries lexicographically, we will find that the higher order bits tend not to change as frequently as lower order bits. This means that if we also take the adjacent difference between entries, the higher order bits have a high probability of being zero. This exploits this high probability of zero by essentially choosing a certain number of bits; all bits more significant than this are likely to be zero so we use unary encoding. See the `rice_parameter` field. Historical note: the Rice-delta encoding was first used in V4 of this API. In V5, two significant improvements were made: firstly, the Rice-delta encoding is now available with hash prefixes longer than 4 bytes; secondly, the encoded data are now treated as big-endian so as to avoid a costly sorting step."
    },
    "GoogleSecuritySafebrowsingV5HashList": {
      "type": "object",
      "description": "A list of hashes identified by its name.",
      "properties": {
        "version": {
          "type": "string",
          "format": "byte",
          "description": "The version of the hash list. The client MUST NOT manipulate those bytes."
        },
        "additionsEightBytes": {
          "description": "The 8-byte additions.",
          "$ref": "GoogleSecuritySafebrowsingV5RiceDeltaEncoded64Bit"
        },
        "partialUpdate": {
          "description": "When true, this is a partial diff containing additions and removals based on what the client already has. When false, this is the complete hash list. When false, the client MUST delete any locally stored version for this hash list. This means that either the version possessed by the client is seriously out-of-date or the client data is believed to be corrupt. The `compressed_removals` field will be empty. When true, the client MUST apply an incremental update by applying removals and then additions.",
          "type": "boolean"
        },
        "additionsSixteenBytes": {
          "description": "The 16-byte additions.",
          "$ref": "GoogleSecuritySafebrowsingV5RiceDeltaEncoded128Bit"
        },
        "sha256Checksum": {
          "format": "byte",
          "type": "string",
          "description": "The sorted list of all hashes, hashed again with SHA256. This is the checksum for the sorted list of all hashes present in the database after applying the provided update. In the case that no updates were provided, the server will omit this field to indicate that the client should use the existing checksum."
        },
        "additionsFourBytes": {
          "$ref": "GoogleSecuritySafebrowsingV5RiceDeltaEncoded32Bit",
          "description": "The 4-byte additions."
        },
        "compressedRemovals": {
          "$ref": "GoogleSecuritySafebrowsingV5RiceDeltaEncoded32Bit",
          "description": "The Rice-delta encoded version of removal indices. Since each hash list definitely has less than 2^32 entries, the indices are treated as 32-bit integers and encoded."
        },
        "metadata": {
          "description": "Metadata about the hash list. This is not populated by the `GetHashList` method, but this is populated by the `ListHashLists` method.",
          "$ref": "GoogleSecuritySafebrowsingV5HashListMetadata"
        },
        "name": {
          "type": "string",
          "description": "The name of the hash list. Note that the Global Cache is also just a hash list and can be referred to here."
        },
        "minimumWaitDuration": {
          "format": "google-duration",
          "description": "Clients should wait at least this long to get the hash list again. If omitted or zero, clients SHOULD fetch immediately because it indicates that the server has an additional update to be sent to the client, but could not due to the client-specified constraints.",
          "type": "string"
        },
        "additionsThirtyTwoBytes": {
          "description": "The 32-byte additions.",
          "$ref": "GoogleSecuritySafebrowsingV5RiceDeltaEncoded256Bit"
        }
      },
      "id": "GoogleSecuritySafebrowsingV5HashList"
    },
    "GoogleSecuritySafebrowsingV5BatchGetHashListsResponse": {
      "type": "object",
      "properties": {
        "hashLists": {
          "items": {
            "$ref": "GoogleSecuritySafebrowsingV5HashList"
          },
          "type": "array",
          "description": "The hash lists in the same order given in the request."
        }
      },
      "description": "The response containing multiple hash lists.",
      "id": "GoogleSecuritySafebrowsingV5BatchGetHashListsResponse"
    },
    "GoogleSecuritySafebrowsingV5ThreatUrl": {
      "properties": {
        "threatTypes": {
          "items": {
            "enumDescriptions": [
              "Unknown threat type. If this is returned by the server, the client shall disregard the enclosing `FullHashDetail` altogether.",
              "Malware threat type. Malware is any software or mobile application specifically designed to harm a computer, a mobile device, the software it's running, or its users. Malware exhibits malicious behavior that can include installing software without user consent and installing harmful software such as viruses. More information can be found [here](https://developers.google.com/search/docs/monitor-debug/security/malware).",
              "Social engineering threat type. Social engineering pages falsely purport to act on behalf of a third party with the intention of confusing viewers into performing an action with which the viewer would only trust a true agent of that third party. Phishing is a type of social engineering that tricks the viewer into performing the specific action of providing information, such as login credentials. More information can be found [here](https://developers.google.com/search/docs/monitor-debug/security/social-engineering).",
              "Unwanted software threat type. Unwanted software is any software that does not adhere to [Google's Software Principles](https://www.google.com/about/software-principles.html) but isn't malware.",
              "Potentially harmful application threat type [as used by Google Play Protect for the Play Store](https://developers.google.com/android/play-protect/potentially-harmful-applications)."
            ],
            "enum": [
              "THREAT_TYPE_UNSPECIFIED",
              "MALWARE",
              "SOCIAL_ENGINEERING",
              "UNWANTED_SOFTWARE",
              "POTENTIALLY_HARMFUL_APPLICATION"
            ],
            "type": "string"
          },
          "type": "array",
          "description": "Unordered list. The unordered list of threat that the URL is classified as."
        },
        "url": {
          "type": "string",
          "description": "The requested URL that was matched by one or more threats."
        }
      },
      "description": "A URL matching one or more threats.",
      "type": "object",
      "id": "GoogleSecuritySafebrowsingV5ThreatUrl"
    },
    "GoogleSecuritySafebrowsingV5SearchHashesResponse": {
      "description": "The response returned after searching threat hashes. If nothing is found, the server will return an OK status (HTTP status code 200) with the `full_hashes` field empty, rather than returning a NOT_FOUND status (HTTP status code 404). **What's new in V5**: There is a separation between `FullHash` and `FullHashDetail`. In the case when a hash represents a site having multiple threats (e.g. both MALWARE and SOCIAL_ENGINEERING), the full hash does not need to be sent twice as in V4. Furthermore, the cache duration has been simplified into a single `cache_duration` field.",
      "id": "GoogleSecuritySafebrowsingV5SearchHashesResponse",
      "type": "object",
      "properties": {
        "cacheDuration": {
          "format": "google-duration",
          "description": "The client-side cache duration. The client MUST add this duration to the current time to determine the expiration time. The expiration time then applies to every hash prefix queried by the client in the request, regardless of how many full hashes are returned in the response. Even if the server returns no full hashes for a particular hash prefix, this fact MUST also be cached by the client. If and only if the field `full_hashes` is empty, the client MAY increase the `cache_duration` to determine a new expiration that is later than that specified by the server. In any case, the increased cache duration must not be longer than 24 hours. Important: the client MUST NOT assume that the server will return the same cache duration for all responses. The server MAY choose different cache durations for different responses depending on the situation.",
          "type": "string"
        },
        "fullHashes": {
          "items": {
            "$ref": "GoogleSecuritySafebrowsingV5FullHash"
          },
          "type": "array",
          "description": "Unordered list. The unordered list of full hashes found."
        }
      }
    },
    "GoogleSecuritySafebrowsingV5RiceDeltaEncoded64Bit": {
      "type": "object",
      "description": "Same as `RiceDeltaEncoded32Bit` except this encodes 64-bit numbers.",
      "properties": {
        "riceParameter": {
          "description": "The Golomb-Rice parameter. This parameter is guaranteed to be between 35 and 62, inclusive.",
          "type": "integer",
          "format": "int32"
        },
        "encodedData": {
          "format": "byte",
          "description": "The encoded deltas that are encoded using the Golomb-Rice coder.",
          "type": "string"
        },
        "firstValue": {
          "type": "string",
          "format": "uint64",
          "description": "The first entry in the encoded data (hashes), or, if only a single hash prefix was encoded, that entry's value. If the field is empty, the entry is zero."
        },
        "entriesCount": {
          "type": "integer",
          "description": "The number of entries that are delta encoded in the encoded data. If only a single integer was encoded, this will be zero and the single value will be stored in `first_value`.",
          "format": "int32"
        }
      },
      "id": "GoogleSecuritySafebrowsingV5RiceDeltaEncoded64Bit"
    },
    "GoogleSecuritySafebrowsingV5SearchUrlsResponse": {
      "properties": {
        "cacheDuration": {
          "description": "The client-side cache duration. The client MUST add this duration to the current time to determine the expiration time. The expiration time then applies to every URL queried by the client in the request, regardless of how many URLs are returned in the response. Even if the server returns no matches for a particular URL, this fact MUST also be cached by the client. If and only if the field `threats` is empty, the client MAY increase the `cache_duration` to determine a new expiration that is later than that specified by the server. In any case, the increased cache duration must not be longer than 24 hours. Important: the client MUST NOT assume that the server will return the same cache duration for all responses. The server MAY choose different cache durations for different responses depending on the situation.",
          "format": "google-duration",
          "type": "string"
        },
        "threats": {
          "description": "Unordered list. The unordered list of threat matches found. Each entry contains a URL and the threat types that were found matching that URL. The list size can be greater than the number of URLs in the request as the all expressions of the URL would've been considered.",
          "items": {
            "$ref": "GoogleSecuritySafebrowsingV5ThreatUrl"
          },
          "type": "array"
        }
      },
      "description": "The response returned after searching threats matching the specified URLs. If nothing is found, the server will return an OK status (HTTP status code 200) with the `threats` field empty, rather than returning a NOT_FOUND status (HTTP status code 404).",
      "type": "object",
      "id": "GoogleSecuritySafebrowsingV5SearchUrlsResponse"
    },
    "GoogleSecuritySafebrowsingV5ListHashListsResponse": {
      "id": "GoogleSecuritySafebrowsingV5ListHashListsResponse",
      "type": "object",
      "description": "The response containing metadata about hash lists.",
      "properties": {
        "hashLists": {
          "description": "The hash lists in an arbitrary order. Only metadata about the hash lists will be included, not the contents.",
          "items": {
            "$ref": "GoogleSecuritySafebrowsingV5HashList"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      }
    },
    "GoogleSecuritySafebrowsingV5RiceDeltaEncoded128Bit": {
      "type": "object",
      "properties": {
        "encodedData": {
          "format": "byte",
          "description": "The encoded deltas that are encoded using the Golomb-Rice coder.",
          "type": "string"
        },
        "riceParameter": {
          "type": "integer",
          "format": "int32",
          "description": "The Golomb-Rice parameter. This parameter is guaranteed to be between 99 and 126, inclusive."
        },
        "firstValueLo": {
          "type": "string",
          "description": "The lower 64 bits of the first entry in the encoded data (hashes). If the field is empty, the lower 64 bits are all zero.",
          "format": "uint64"
        },
        "entriesCount": {
          "type": "integer",
          "description": "The number of entries that are delta encoded in the encoded data. If only a single integer was encoded, this will be zero and the single value will be stored in `first_value`.",
          "format": "int32"
        },
        "firstValueHi": {
          "type": "string",
          "description": "The upper 64 bits of the first entry in the encoded data (hashes). If the field is empty, the upper 64 bits are all zero.",
          "format": "uint64"
        }
      },
      "id": "GoogleSecuritySafebrowsingV5RiceDeltaEncoded128Bit",
      "description": "Same as `RiceDeltaEncoded32Bit` except this encodes 128-bit numbers."
    }
  },
  "kind": "discovery#restDescription",
  "ownerName": "Google"
}