{
  "id": "safebrowsing:v4",
  "rootUrl": "https://safebrowsing.googleapis.com/",
  "title": "Safe Browsing API",
  "basePath": "",
  "resources": {
    "threatLists": {
      "methods": {
        "list": {
          "httpMethod": "GET",
          "path": "v4/threatLists",
          "id": "safebrowsing.threatLists.list",
          "parameterOrder": [],
          "description": "Lists the Safe Browsing threat lists available for download.",
          "parameters": {},
          "response": {
            "$ref": "GoogleSecuritySafebrowsingV4ListThreatListsResponse"
          },
          "flatPath": "v4/threatLists"
        }
      }
    },
    "encodedFullHashes": {
      "methods": {
        "get": {
          "description": "",
          "id": "safebrowsing.encodedFullHashes.get",
          "flatPath": "v4/encodedFullHashes/{encodedRequest}",
          "parameterOrder": [
            "encodedRequest"
          ],
          "path": "v4/encodedFullHashes/{encodedRequest}",
          "parameters": {
            "encodedRequest": {
              "description": "A serialized FindFullHashesRequest proto.",
              "type": "string",
              "location": "path",
              "required": true,
              "format": "byte"
            },
            "clientVersion": {
              "type": "string",
              "location": "query",
              "description": "The version of the client implementation."
            },
            "clientId": {
              "description": "A client ID that (hopefully) uniquely identifies the client implementation of the Safe Browsing API.",
              "location": "query",
              "type": "string"
            }
          },
          "response": {
            "$ref": "GoogleSecuritySafebrowsingV4FindFullHashesResponse"
          },
          "httpMethod": "GET"
        }
      }
    },
    "threatMatches": {
      "methods": {
        "find": {
          "httpMethod": "POST",
          "response": {
            "$ref": "GoogleSecuritySafebrowsingV4FindThreatMatchesResponse"
          },
          "flatPath": "v4/threatMatches:find",
          "id": "safebrowsing.threatMatches.find",
          "description": "Finds the threat entries that match the Safe Browsing lists.",
          "path": "v4/threatMatches:find",
          "parameterOrder": [],
          "parameters": {},
          "request": {
            "$ref": "GoogleSecuritySafebrowsingV4FindThreatMatchesRequest"
          }
        }
      }
    },
    "encodedUpdates": {
      "methods": {
        "get": {
          "parameters": {
            "encodedRequest": {
              "format": "byte",
              "location": "path",
              "required": true,
              "type": "string",
              "description": "A serialized FetchThreatListUpdatesRequest proto."
            },
            "clientId": {
              "type": "string",
              "description": "A client ID that uniquely identifies the client implementation of the Safe Browsing API.",
              "location": "query"
            },
            "clientVersion": {
              "type": "string",
              "location": "query",
              "description": "The version of the client implementation."
            }
          },
          "parameterOrder": [
            "encodedRequest"
          ],
          "description": "",
          "id": "safebrowsing.encodedUpdates.get",
          "path": "v4/encodedUpdates/{encodedRequest}",
          "flatPath": "v4/encodedUpdates/{encodedRequest}",
          "response": {
            "$ref": "GoogleSecuritySafebrowsingV4FetchThreatListUpdatesResponse"
          },
          "httpMethod": "GET"
        }
      }
    },
    "fullHashes": {
      "methods": {
        "find": {
          "id": "safebrowsing.fullHashes.find",
          "httpMethod": "POST",
          "response": {
            "$ref": "GoogleSecuritySafebrowsingV4FindFullHashesResponse"
          },
          "flatPath": "v4/fullHashes:find",
          "parameterOrder": [],
          "parameters": {},
          "description": "Finds the full hashes that match the requested hash prefixes.",
          "path": "v4/fullHashes:find",
          "request": {
            "$ref": "GoogleSecuritySafebrowsingV4FindFullHashesRequest"
          }
        }
      }
    },
    "threatListUpdates": {
      "methods": {
        "fetch": {
          "description": "Fetches the most recent threat list updates. A client can request updates for multiple lists at once.",
          "parameterOrder": [],
          "parameters": {},
          "path": "v4/threatListUpdates:fetch",
          "id": "safebrowsing.threatListUpdates.fetch",
          "request": {
            "$ref": "GoogleSecuritySafebrowsingV4FetchThreatListUpdatesRequest"
          },
          "httpMethod": "POST",
          "response": {
            "$ref": "GoogleSecuritySafebrowsingV4FetchThreatListUpdatesResponse"
          },
          "flatPath": "v4/threatListUpdates:fetch"
        }
      }
    },
    "threatHits": {
      "methods": {
        "create": {
          "parameters": {},
          "path": "v4/threatHits",
          "request": {
            "$ref": "GoogleSecuritySafebrowsingV4ThreatHit"
          },
          "description": "Reports a Safe Browsing threat list hit to Google. Only projects with TRUSTED_REPORTER visibility can use this method.",
          "response": {
            "$ref": "GoogleProtobufEmpty"
          },
          "httpMethod": "POST",
          "flatPath": "v4/threatHits",
          "id": "safebrowsing.threatHits.create",
          "parameterOrder": []
        }
      }
    }
  },
  "canonicalName": "Safebrowsing",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "discoveryVersion": "v1",
  "ownerName": "Google",
  "servicePath": "",
  "revision": "20260822",
  "schemas": {
    "GoogleSecuritySafebrowsingV4RawIndices": {
      "type": "object",
      "id": "GoogleSecuritySafebrowsingV4RawIndices",
      "description": "A set of raw indices to remove from a local list.",
      "properties": {
        "indices": {
          "items": {
            "type": "integer",
            "format": "int32"
          },
          "type": "array",
          "description": "The indices to remove from a lexicographically-sorted local list."
        }
      }
    },
    "GoogleSecuritySafebrowsingV4FetchThreatListUpdatesRequestListUpdateRequest": {
      "properties": {
        "constraints": {
          "description": "The constraints associated with this request.",
          "$ref": "GoogleSecuritySafebrowsingV4FetchThreatListUpdatesRequestListUpdateRequestConstraints"
        },
        "threatEntryType": {
          "enumDescriptions": [
            "Unspecified.",
            "A URL.",
            "An executable program.",
            "An IP range.",
            "Chrome extension.",
            "Filename.",
            "CERT"
          ],
          "type": "string",
          "description": "The types of entries present in the list.",
          "enum": [
            "THREAT_ENTRY_TYPE_UNSPECIFIED",
            "URL",
            "EXECUTABLE",
            "IP_RANGE",
            "CHROME_EXTENSION",
            "FILENAME",
            "CERT"
          ]
        },
        "threatType": {
          "enum": [
            "THREAT_TYPE_UNSPECIFIED",
            "MALWARE",
            "SOCIAL_ENGINEERING",
            "UNWANTED_SOFTWARE",
            "POTENTIALLY_HARMFUL_APPLICATION",
            "SOCIAL_ENGINEERING_INTERNAL",
            "API_ABUSE",
            "MALICIOUS_BINARY",
            "CSD_WHITELIST",
            "CSD_DOWNLOAD_WHITELIST",
            "CLIENT_INCIDENT",
            "CLIENT_INCIDENT_WHITELIST",
            "APK_MALWARE_OFFLINE",
            "SUBRESOURCE_FILTER",
            "SUSPICIOUS",
            "TRICK_TO_BILL",
            "HIGH_CONFIDENCE_ALLOWLIST",
            "ACCURACY_TIPS"
          ],
          "description": "The type of threat posed by entries present in the list.",
          "type": "string",
          "enumDescriptions": [
            "Unknown.",
            "Malware threat type.",
            "Social engineering threat type.",
            "Unwanted software threat type.",
            "Potentially harmful application threat type.",
            "Social engineering threat type for internal use.",
            "API abuse threat type.",
            "Malicious binary threat type.",
            "Client side detection whitelist threat type.",
            "Client side download detection whitelist threat type.",
            "Client incident threat type.",
            "Whitelist used when detecting client incident threats.",
            "List used for offline APK checks in PAM.",
            "Patterns to be used for activating the subresource filter.",
            "Entities that are suspected to present a threat.",
            "Trick-to-bill threat type.",
            "URL expressions that are very likely to be safe.",
            "An experimental threat type related to Jigsaw. See https://jigsaw.google.com/."
          ]
        },
        "platformType": {
          "type": "string",
          "enum": [
            "PLATFORM_TYPE_UNSPECIFIED",
            "WINDOWS",
            "LINUX",
            "ANDROID",
            "OSX",
            "IOS",
            "ANY_PLATFORM",
            "ALL_PLATFORMS",
            "CHROME"
          ],
          "enumDescriptions": [
            "Unknown platform.",
            "Threat posed to Windows.",
            "Threat posed to Linux.",
            "Threat posed to Android.",
            "Threat posed to OS X.",
            "Threat posed to iOS.",
            "Threat posed to at least one of the defined platforms.",
            "Threat posed to all defined platforms.",
            "Threat posed to Chrome."
          ],
          "description": "The type of platform at risk by entries present in the list."
        },
        "state": {
          "description": "The current state of the client for the requested list (the encrypted client state that was received from the last successful list update).",
          "type": "string",
          "format": "byte"
        }
      },
      "description": "A single list update request.",
      "type": "object",
      "id": "GoogleSecuritySafebrowsingV4FetchThreatListUpdatesRequestListUpdateRequest"
    },
    "GoogleSecuritySafebrowsingV4ThreatEntryMetadata": {
      "description": "The metadata associated with a specific threat entry. The client is expected to know the metadata key/value pairs associated with each threat type.",
      "type": "object",
      "properties": {
        "entries": {
          "description": "The metadata entries.",
          "items": {
            "$ref": "GoogleSecuritySafebrowsingV4ThreatEntryMetadataMetadataEntry"
          },
          "type": "array"
        }
      },
      "id": "GoogleSecuritySafebrowsingV4ThreatEntryMetadata"
    },
    "GoogleSecuritySafebrowsingV4RawHashes": {
      "description": "The uncompressed threat entries in hash format of a particular prefix length. Hashes can be anywhere from 4 to 32 bytes in size. A large majority are 4 bytes, but some hashes are lengthened if they collide with the hash of a popular URL. Used for sending ThreatEntrySet to clients that do not support compression, or when sending non-4-byte hashes to clients that do support compression.",
      "id": "GoogleSecuritySafebrowsingV4RawHashes",
      "properties": {
        "prefixSize": {
          "type": "integer",
          "description": "The number of bytes for each prefix encoded below. This field can be anywhere from 4 (shortest prefix) to 32 (full SHA256 hash).",
          "format": "int32"
        },
        "rawHashes": {
          "format": "byte",
          "description": "The hashes, in binary format, concatenated into one long string. Hashes are sorted in lexicographic order. For JSON API users, hashes are base64-encoded.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleSecuritySafebrowsingV4ThreatInfo": {
      "type": "object",
      "id": "GoogleSecuritySafebrowsingV4ThreatInfo",
      "description": "The information regarding one or more threats that a client submits when checking for matches in threat lists.",
      "properties": {
        "threatEntries": {
          "items": {
            "$ref": "GoogleSecuritySafebrowsingV4ThreatEntry"
          },
          "type": "array",
          "description": "The threat entries to be checked."
        },
        "threatTypes": {
          "type": "array",
          "items": {
            "enumDescriptions": [
              "Unknown.",
              "Malware threat type.",
              "Social engineering threat type.",
              "Unwanted software threat type.",
              "Potentially harmful application threat type.",
              "Social engineering threat type for internal use.",
              "API abuse threat type.",
              "Malicious binary threat type.",
              "Client side detection whitelist threat type.",
              "Client side download detection whitelist threat type.",
              "Client incident threat type.",
              "Whitelist used when detecting client incident threats.",
              "List used for offline APK checks in PAM.",
              "Patterns to be used for activating the subresource filter.",
              "Entities that are suspected to present a threat.",
              "Trick-to-bill threat type.",
              "URL expressions that are very likely to be safe.",
              "An experimental threat type related to Jigsaw. See https://jigsaw.google.com/."
            ],
            "type": "string",
            "enum": [
              "THREAT_TYPE_UNSPECIFIED",
              "MALWARE",
              "SOCIAL_ENGINEERING",
              "UNWANTED_SOFTWARE",
              "POTENTIALLY_HARMFUL_APPLICATION",
              "SOCIAL_ENGINEERING_INTERNAL",
              "API_ABUSE",
              "MALICIOUS_BINARY",
              "CSD_WHITELIST",
              "CSD_DOWNLOAD_WHITELIST",
              "CLIENT_INCIDENT",
              "CLIENT_INCIDENT_WHITELIST",
              "APK_MALWARE_OFFLINE",
              "SUBRESOURCE_FILTER",
              "SUSPICIOUS",
              "TRICK_TO_BILL",
              "HIGH_CONFIDENCE_ALLOWLIST",
              "ACCURACY_TIPS"
            ]
          },
          "description": "The threat types to be checked."
        },
        "platformTypes": {
          "description": "The platform types to be checked.",
          "type": "array",
          "items": {
            "type": "string",
            "enum": [
              "PLATFORM_TYPE_UNSPECIFIED",
              "WINDOWS",
              "LINUX",
              "ANDROID",
              "OSX",
              "IOS",
              "ANY_PLATFORM",
              "ALL_PLATFORMS",
              "CHROME"
            ],
            "enumDescriptions": [
              "Unknown platform.",
              "Threat posed to Windows.",
              "Threat posed to Linux.",
              "Threat posed to Android.",
              "Threat posed to OS X.",
              "Threat posed to iOS.",
              "Threat posed to at least one of the defined platforms.",
              "Threat posed to all defined platforms.",
              "Threat posed to Chrome."
            ]
          }
        },
        "threatEntryTypes": {
          "items": {
            "enum": [
              "THREAT_ENTRY_TYPE_UNSPECIFIED",
              "URL",
              "EXECUTABLE",
              "IP_RANGE",
              "CHROME_EXTENSION",
              "FILENAME",
              "CERT"
            ],
            "enumDescriptions": [
              "Unspecified.",
              "A URL.",
              "An executable program.",
              "An IP range.",
              "Chrome extension.",
              "Filename.",
              "CERT"
            ],
            "type": "string"
          },
          "type": "array",
          "description": "The entry types to be checked."
        }
      }
    },
    "GoogleSecuritySafebrowsingV4RiceDeltaEncoding": {
      "properties": {
        "firstValue": {
          "description": "The offset of the first entry in the encoded data, or, if only a single integer was encoded, that single integer's value. If the field is empty or missing, assume zero.",
          "format": "int64",
          "type": "string"
        },
        "numEntries": {
          "description": "The number of entries that are delta encoded in the encoded data. If only a single integer was encoded, this will be zero and the single value will be stored in `first_value`.",
          "type": "integer",
          "format": "int32"
        },
        "riceParameter": {
          "type": "integer",
          "description": "The Golomb-Rice parameter, which is a number between 2 and 28. This field is missing (that is, zero) if `num_entries` is zero.",
          "format": "int32"
        },
        "encodedData": {
          "type": "string",
          "description": "The encoded deltas that are encoded using the Golomb-Rice coder.",
          "format": "byte"
        }
      },
      "description": "The Rice-Golomb encoded data. Used for sending compressed 4-byte hashes or compressed removal indices.",
      "type": "object",
      "id": "GoogleSecuritySafebrowsingV4RiceDeltaEncoding"
    },
    "GoogleSecuritySafebrowsingV4FetchThreatListUpdatesRequestListUpdateRequestConstraints": {
      "id": "GoogleSecuritySafebrowsingV4FetchThreatListUpdatesRequestListUpdateRequestConstraints",
      "properties": {
        "supportedCompressions": {
          "type": "array",
          "description": "The compression types supported by the client.",
          "items": {
            "type": "string",
            "enumDescriptions": [
              "Unknown.",
              "Raw, uncompressed data.",
              "Rice-Golomb encoded data."
            ],
            "enum": [
              "COMPRESSION_TYPE_UNSPECIFIED",
              "RAW",
              "RICE"
            ]
          }
        },
        "maxUpdateEntries": {
          "type": "integer",
          "description": "The maximum size in number of entries. The update will not contain more entries than this value. This should be a power of 2 between 2**10 and 2**20. If zero, no update size limit is set.",
          "format": "int32"
        },
        "language": {
          "type": "string",
          "description": "Requests the lists for a specific language. Expects ISO 639 alpha-2 format."
        },
        "maxDatabaseEntries": {
          "description": "Sets the maximum number of entries that the client is willing to have in the local database for the specified list. This should be a power of 2 between 2**10 and 2**20. If zero, no database size limit is set.",
          "type": "integer",
          "format": "int32"
        },
        "deviceLocation": {
          "type": "string",
          "description": "A client's physical location, expressed as a ISO 31166-1 alpha-2 region code."
        },
        "region": {
          "description": "Requests the list for a specific geographic location. If not set the server may pick that value based on the user's IP address. Expects ISO 3166-1 alpha-2 format.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "The constraints for this update."
    },
    "GoogleSecuritySafebrowsingV4FindFullHashesResponse": {
      "properties": {
        "matches": {
          "items": {
            "$ref": "GoogleSecuritySafebrowsingV4ThreatMatch"
          },
          "description": "The full hashes that matched the requested prefixes.",
          "type": "array"
        },
        "negativeCacheDuration": {
          "description": "For requested entities that did not match the threat list, how long to cache the response.",
          "format": "google-duration",
          "type": "string"
        },
        "minimumWaitDuration": {
          "format": "google-duration",
          "description": "The minimum duration the client must wait before issuing any find hashes request. If this field is not set, clients can issue a request as soon as they want.",
          "type": "string"
        }
      },
      "id": "GoogleSecuritySafebrowsingV4FindFullHashesResponse",
      "type": "object"
    },
    "GoogleSecuritySafebrowsingV4ThreatHitUserInfo": {
      "properties": {
        "userId": {
          "type": "string",
          "description": "Unique user identifier defined by the client.",
          "format": "byte"
        },
        "regionCode": {
          "description": "The UN M.49 region code associated with the user's location.",
          "type": "string"
        }
      },
      "description": "Details about the user that encountered the threat.",
      "type": "object",
      "id": "GoogleSecuritySafebrowsingV4ThreatHitUserInfo"
    },
    "GoogleSecuritySafebrowsingV4FindFullHashesRequest": {
      "properties": {
        "clientStates": {
          "description": "The current client states for each of the client's local threat lists.",
          "type": "array",
          "items": {
            "format": "byte",
            "type": "string"
          }
        },
        "apiClient": {
          "description": "Client metadata associated with callers of higher-level APIs built on top of the client's implementation.",
          "$ref": "GoogleSecuritySafebrowsingV4ClientInfo"
        },
        "client": {
          "description": "The client metadata.",
          "$ref": "GoogleSecuritySafebrowsingV4ClientInfo"
        },
        "threatInfo": {
          "description": "The lists and hashes to be checked.",
          "$ref": "GoogleSecuritySafebrowsingV4ThreatInfo"
        }
      },
      "type": "object",
      "id": "GoogleSecuritySafebrowsingV4FindFullHashesRequest",
      "description": "Request to return full hashes matched by the provided hash prefixes."
    },
    "GoogleSecuritySafebrowsingV4Checksum": {
      "properties": {
        "sha256": {
          "type": "string",
          "format": "byte",
          "description": "The SHA256 hash of the client state; that is, of the sorted list of all hashes present in the database."
        }
      },
      "description": "The expected state of a client's local database.",
      "type": "object",
      "id": "GoogleSecuritySafebrowsingV4Checksum"
    },
    "GoogleProtobufEmpty": {
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "id": "GoogleProtobufEmpty",
      "type": "object",
      "properties": {}
    },
    "GoogleSecuritySafebrowsingV4ClientInfo": {
      "id": "GoogleSecuritySafebrowsingV4ClientInfo",
      "type": "object",
      "description": "The client metadata associated with Safe Browsing API requests.",
      "properties": {
        "clientId": {
          "description": "A client ID that (hopefully) uniquely identifies the client implementation of the Safe Browsing API.",
          "type": "string"
        },
        "clientVersion": {
          "description": "The version of the client implementation.",
          "type": "string"
        }
      }
    },
    "GoogleSecuritySafebrowsingV4ThreatEntryMetadataMetadataEntry": {
      "description": "A single metadata entry.",
      "id": "GoogleSecuritySafebrowsingV4ThreatEntryMetadataMetadataEntry",
      "properties": {
        "key": {
          "format": "byte",
          "type": "string",
          "description": "The metadata entry key. For JSON requests, the key is base64-encoded."
        },
        "value": {
          "format": "byte",
          "description": "The metadata entry value. For JSON requests, the value is base64-encoded.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleSecuritySafebrowsingV4FetchThreatListUpdatesResponse": {
      "type": "object",
      "properties": {
        "listUpdateResponses": {
          "items": {
            "$ref": "GoogleSecuritySafebrowsingV4FetchThreatListUpdatesResponseListUpdateResponse"
          },
          "type": "array",
          "description": "The list updates requested by the clients. The number of responses here may be less than the number of requests sent by clients. This is the case, for example, if the server has no updates for a particular list."
        },
        "minimumWaitDuration": {
          "format": "google-duration",
          "description": "The minimum duration the client must wait before issuing any update request. If this field is not set clients may update as soon as they want.",
          "type": "string"
        }
      },
      "id": "GoogleSecuritySafebrowsingV4FetchThreatListUpdatesResponse"
    },
    "GoogleSecuritySafebrowsingV4FindThreatMatchesResponse": {
      "id": "GoogleSecuritySafebrowsingV4FindThreatMatchesResponse",
      "type": "object",
      "properties": {
        "matches": {
          "type": "array",
          "description": "The threat list matches.",
          "items": {
            "$ref": "GoogleSecuritySafebrowsingV4ThreatMatch"
          }
        }
      }
    },
    "GoogleSecuritySafebrowsingV4ThreatHit": {
      "type": "object",
      "properties": {
        "entry": {
          "$ref": "GoogleSecuritySafebrowsingV4ThreatEntry",
          "description": "The threat entry responsible for the hit. Full hash should be reported for hash-based hits."
        },
        "userInfo": {
          "description": "Details about the user that encountered the threat.",
          "$ref": "GoogleSecuritySafebrowsingV4ThreatHitUserInfo"
        },
        "platformType": {
          "enum": [
            "PLATFORM_TYPE_UNSPECIFIED",
            "WINDOWS",
            "LINUX",
            "ANDROID",
            "OSX",
            "IOS",
            "ANY_PLATFORM",
            "ALL_PLATFORMS",
            "CHROME"
          ],
          "description": "The platform type reported.",
          "enumDescriptions": [
            "Unknown platform.",
            "Threat posed to Windows.",
            "Threat posed to Linux.",
            "Threat posed to Android.",
            "Threat posed to OS X.",
            "Threat posed to iOS.",
            "Threat posed to at least one of the defined platforms.",
            "Threat posed to all defined platforms.",
            "Threat posed to Chrome."
          ],
          "type": "string"
        },
        "resources": {
          "items": {
            "$ref": "GoogleSecuritySafebrowsingV4ThreatHitThreatSource"
          },
          "type": "array",
          "description": "The resources related to the threat hit."
        },
        "clientInfo": {
          "description": "Client-reported identification.",
          "$ref": "GoogleSecuritySafebrowsingV4ClientInfo"
        },
        "threatType": {
          "type": "string",
          "description": "The threat type reported.",
          "enum": [
            "THREAT_TYPE_UNSPECIFIED",
            "MALWARE",
            "SOCIAL_ENGINEERING",
            "UNWANTED_SOFTWARE",
            "POTENTIALLY_HARMFUL_APPLICATION",
            "SOCIAL_ENGINEERING_INTERNAL",
            "API_ABUSE",
            "MALICIOUS_BINARY",
            "CSD_WHITELIST",
            "CSD_DOWNLOAD_WHITELIST",
            "CLIENT_INCIDENT",
            "CLIENT_INCIDENT_WHITELIST",
            "APK_MALWARE_OFFLINE",
            "SUBRESOURCE_FILTER",
            "SUSPICIOUS",
            "TRICK_TO_BILL",
            "HIGH_CONFIDENCE_ALLOWLIST",
            "ACCURACY_TIPS"
          ],
          "enumDescriptions": [
            "Unknown.",
            "Malware threat type.",
            "Social engineering threat type.",
            "Unwanted software threat type.",
            "Potentially harmful application threat type.",
            "Social engineering threat type for internal use.",
            "API abuse threat type.",
            "Malicious binary threat type.",
            "Client side detection whitelist threat type.",
            "Client side download detection whitelist threat type.",
            "Client incident threat type.",
            "Whitelist used when detecting client incident threats.",
            "List used for offline APK checks in PAM.",
            "Patterns to be used for activating the subresource filter.",
            "Entities that are suspected to present a threat.",
            "Trick-to-bill threat type.",
            "URL expressions that are very likely to be safe.",
            "An experimental threat type related to Jigsaw. See https://jigsaw.google.com/."
          ]
        }
      },
      "id": "GoogleSecuritySafebrowsingV4ThreatHit"
    },
    "GoogleSecuritySafebrowsingV4FindThreatMatchesRequest": {
      "type": "object",
      "id": "GoogleSecuritySafebrowsingV4FindThreatMatchesRequest",
      "properties": {
        "threatInfo": {
          "description": "The lists and entries to be checked for matches.",
          "$ref": "GoogleSecuritySafebrowsingV4ThreatInfo"
        },
        "client": {
          "description": "The client metadata.",
          "$ref": "GoogleSecuritySafebrowsingV4ClientInfo"
        }
      },
      "description": "Request to check entries against lists."
    },
    "GoogleSecuritySafebrowsingV4FetchThreatListUpdatesRequest": {
      "description": "Describes a Safe Browsing API update request. Clients can request updates for multiple lists in a single request. The server may not respond to all requests, if the server has no updates for that list. NOTE: Field index 2 is unused. NEXT: 5",
      "type": "object",
      "properties": {
        "listUpdateRequests": {
          "items": {
            "$ref": "GoogleSecuritySafebrowsingV4FetchThreatListUpdatesRequestListUpdateRequest"
          },
          "description": "The requested threat list updates.",
          "type": "array"
        },
        "client": {
          "$ref": "GoogleSecuritySafebrowsingV4ClientInfo",
          "description": "The client metadata."
        }
      },
      "id": "GoogleSecuritySafebrowsingV4FetchThreatListUpdatesRequest"
    },
    "GoogleSecuritySafebrowsingV4FetchThreatListUpdatesResponseListUpdateResponse": {
      "properties": {
        "removals": {
          "type": "array",
          "items": {
            "$ref": "GoogleSecuritySafebrowsingV4ThreatEntrySet"
          },
          "description": "A set of entries to remove from a local threat type's list. In practice, this field is empty or contains exactly one ThreatEntrySet."
        },
        "additions": {
          "description": "A set of entries to add to a local threat type's list. Repeated to allow for a combination of compressed and raw data to be sent in a single response.",
          "items": {
            "$ref": "GoogleSecuritySafebrowsingV4ThreatEntrySet"
          },
          "type": "array"
        },
        "threatEntryType": {
          "enumDescriptions": [
            "Unspecified.",
            "A URL.",
            "An executable program.",
            "An IP range.",
            "Chrome extension.",
            "Filename.",
            "CERT"
          ],
          "type": "string",
          "enum": [
            "THREAT_ENTRY_TYPE_UNSPECIFIED",
            "URL",
            "EXECUTABLE",
            "IP_RANGE",
            "CHROME_EXTENSION",
            "FILENAME",
            "CERT"
          ],
          "description": "The format of the threats."
        },
        "threatType": {
          "enum": [
            "THREAT_TYPE_UNSPECIFIED",
            "MALWARE",
            "SOCIAL_ENGINEERING",
            "UNWANTED_SOFTWARE",
            "POTENTIALLY_HARMFUL_APPLICATION",
            "SOCIAL_ENGINEERING_INTERNAL",
            "API_ABUSE",
            "MALICIOUS_BINARY",
            "CSD_WHITELIST",
            "CSD_DOWNLOAD_WHITELIST",
            "CLIENT_INCIDENT",
            "CLIENT_INCIDENT_WHITELIST",
            "APK_MALWARE_OFFLINE",
            "SUBRESOURCE_FILTER",
            "SUSPICIOUS",
            "TRICK_TO_BILL",
            "HIGH_CONFIDENCE_ALLOWLIST",
            "ACCURACY_TIPS"
          ],
          "enumDescriptions": [
            "Unknown.",
            "Malware threat type.",
            "Social engineering threat type.",
            "Unwanted software threat type.",
            "Potentially harmful application threat type.",
            "Social engineering threat type for internal use.",
            "API abuse threat type.",
            "Malicious binary threat type.",
            "Client side detection whitelist threat type.",
            "Client side download detection whitelist threat type.",
            "Client incident threat type.",
            "Whitelist used when detecting client incident threats.",
            "List used for offline APK checks in PAM.",
            "Patterns to be used for activating the subresource filter.",
            "Entities that are suspected to present a threat.",
            "Trick-to-bill threat type.",
            "URL expressions that are very likely to be safe.",
            "An experimental threat type related to Jigsaw. See https://jigsaw.google.com/."
          ],
          "description": "The threat type for which data is returned.",
          "type": "string"
        },
        "checksum": {
          "description": "The expected SHA256 hash of the client state; that is, of the sorted list of all hashes present in the database after applying the provided update. If the client state doesn't match the expected state, the client must disregard this update and retry later.",
          "$ref": "GoogleSecuritySafebrowsingV4Checksum"
        },
        "platformType": {
          "enumDescriptions": [
            "Unknown platform.",
            "Threat posed to Windows.",
            "Threat posed to Linux.",
            "Threat posed to Android.",
            "Threat posed to OS X.",
            "Threat posed to iOS.",
            "Threat posed to at least one of the defined platforms.",
            "Threat posed to all defined platforms.",
            "Threat posed to Chrome."
          ],
          "enum": [
            "PLATFORM_TYPE_UNSPECIFIED",
            "WINDOWS",
            "LINUX",
            "ANDROID",
            "OSX",
            "IOS",
            "ANY_PLATFORM",
            "ALL_PLATFORMS",
            "CHROME"
          ],
          "type": "string",
          "description": "The platform type for which data is returned."
        },
        "newClientState": {
          "format": "byte",
          "description": "The new client state, in encrypted format. Opaque to clients.",
          "type": "string"
        },
        "responseType": {
          "enumDescriptions": [
            "Unknown.",
            "Partial updates are applied to the client's existing local database.",
            "Full updates replace the client's entire local database. This means that either the client was seriously out-of-date or the client is believed to be corrupt."
          ],
          "enum": [
            "RESPONSE_TYPE_UNSPECIFIED",
            "PARTIAL_UPDATE",
            "FULL_UPDATE"
          ],
          "description": "The type of response. This may indicate that an action is required by the client when the response is received.",
          "type": "string"
        }
      },
      "id": "GoogleSecuritySafebrowsingV4FetchThreatListUpdatesResponseListUpdateResponse",
      "type": "object",
      "description": "An update to an individual list."
    },
    "GoogleSecuritySafebrowsingV4ThreatHitThreatSource": {
      "description": "A single resource related to a threat hit.",
      "id": "GoogleSecuritySafebrowsingV4ThreatHitThreatSource",
      "properties": {
        "type": {
          "enum": [
            "THREAT_SOURCE_TYPE_UNSPECIFIED",
            "MATCHING_URL",
            "TAB_URL",
            "TAB_REDIRECT",
            "TAB_RESOURCE"
          ],
          "description": "The type of source reported.",
          "enumDescriptions": [
            "Unknown.",
            "The URL that matched the threat list (for which GetFullHash returned a valid hash).",
            "The final top-level URL of the tab that the client was browsing when the match occurred.",
            "A redirect URL that was fetched before hitting the final TAB_URL.",
            "A resource loaded within the final TAB_URL."
          ],
          "type": "string"
        },
        "url": {
          "type": "string",
          "description": "The URL of the resource."
        },
        "remoteIp": {
          "description": "The remote IP of the resource in ASCII format. Either IPv4 or IPv6.",
          "type": "string"
        },
        "referrer": {
          "type": "string",
          "description": "Referrer of the resource. Only set if the referrer is available."
        }
      },
      "type": "object"
    },
    "GoogleSecuritySafebrowsingV4ThreatListDescriptor": {
      "type": "object",
      "description": "Describes an individual threat list. A list is defined by three parameters: the type of threat posed, the type of platform targeted by the threat, and the type of entries in the list.",
      "properties": {
        "threatType": {
          "enumDescriptions": [
            "Unknown.",
            "Malware threat type.",
            "Social engineering threat type.",
            "Unwanted software threat type.",
            "Potentially harmful application threat type.",
            "Social engineering threat type for internal use.",
            "API abuse threat type.",
            "Malicious binary threat type.",
            "Client side detection whitelist threat type.",
            "Client side download detection whitelist threat type.",
            "Client incident threat type.",
            "Whitelist used when detecting client incident threats.",
            "List used for offline APK checks in PAM.",
            "Patterns to be used for activating the subresource filter.",
            "Entities that are suspected to present a threat.",
            "Trick-to-bill threat type.",
            "URL expressions that are very likely to be safe.",
            "An experimental threat type related to Jigsaw. See https://jigsaw.google.com/."
          ],
          "type": "string",
          "description": "The threat type posed by the list's entries.",
          "enum": [
            "THREAT_TYPE_UNSPECIFIED",
            "MALWARE",
            "SOCIAL_ENGINEERING",
            "UNWANTED_SOFTWARE",
            "POTENTIALLY_HARMFUL_APPLICATION",
            "SOCIAL_ENGINEERING_INTERNAL",
            "API_ABUSE",
            "MALICIOUS_BINARY",
            "CSD_WHITELIST",
            "CSD_DOWNLOAD_WHITELIST",
            "CLIENT_INCIDENT",
            "CLIENT_INCIDENT_WHITELIST",
            "APK_MALWARE_OFFLINE",
            "SUBRESOURCE_FILTER",
            "SUSPICIOUS",
            "TRICK_TO_BILL",
            "HIGH_CONFIDENCE_ALLOWLIST",
            "ACCURACY_TIPS"
          ]
        },
        "platformType": {
          "enumDescriptions": [
            "Unknown platform.",
            "Threat posed to Windows.",
            "Threat posed to Linux.",
            "Threat posed to Android.",
            "Threat posed to OS X.",
            "Threat posed to iOS.",
            "Threat posed to at least one of the defined platforms.",
            "Threat posed to all defined platforms.",
            "Threat posed to Chrome."
          ],
          "type": "string",
          "description": "The platform type targeted by the list's entries.",
          "enum": [
            "PLATFORM_TYPE_UNSPECIFIED",
            "WINDOWS",
            "LINUX",
            "ANDROID",
            "OSX",
            "IOS",
            "ANY_PLATFORM",
            "ALL_PLATFORMS",
            "CHROME"
          ]
        },
        "threatEntryType": {
          "enumDescriptions": [
            "Unspecified.",
            "A URL.",
            "An executable program.",
            "An IP range.",
            "Chrome extension.",
            "Filename.",
            "CERT"
          ],
          "type": "string",
          "enum": [
            "THREAT_ENTRY_TYPE_UNSPECIFIED",
            "URL",
            "EXECUTABLE",
            "IP_RANGE",
            "CHROME_EXTENSION",
            "FILENAME",
            "CERT"
          ],
          "description": "The entry types contained in the list."
        }
      },
      "id": "GoogleSecuritySafebrowsingV4ThreatListDescriptor"
    },
    "GoogleSecuritySafebrowsingV4ThreatMatch": {
      "description": "A match when checking a threat entry in the Safe Browsing threat lists.",
      "type": "object",
      "id": "GoogleSecuritySafebrowsingV4ThreatMatch",
      "properties": {
        "threatEntryMetadata": {
          "description": "Optional metadata associated with this threat.",
          "$ref": "GoogleSecuritySafebrowsingV4ThreatEntryMetadata"
        },
        "cacheDuration": {
          "description": "The cache lifetime for the returned match. Clients must not cache this response for more than this duration to avoid false positives.",
          "format": "google-duration",
          "type": "string"
        },
        "platformType": {
          "description": "The platform type matching this threat.",
          "enum": [
            "PLATFORM_TYPE_UNSPECIFIED",
            "WINDOWS",
            "LINUX",
            "ANDROID",
            "OSX",
            "IOS",
            "ANY_PLATFORM",
            "ALL_PLATFORMS",
            "CHROME"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unknown platform.",
            "Threat posed to Windows.",
            "Threat posed to Linux.",
            "Threat posed to Android.",
            "Threat posed to OS X.",
            "Threat posed to iOS.",
            "Threat posed to at least one of the defined platforms.",
            "Threat posed to all defined platforms.",
            "Threat posed to Chrome."
          ]
        },
        "threat": {
          "$ref": "GoogleSecuritySafebrowsingV4ThreatEntry",
          "description": "The threat matching this threat."
        },
        "threatEntryType": {
          "enum": [
            "THREAT_ENTRY_TYPE_UNSPECIFIED",
            "URL",
            "EXECUTABLE",
            "IP_RANGE",
            "CHROME_EXTENSION",
            "FILENAME",
            "CERT"
          ],
          "enumDescriptions": [
            "Unspecified.",
            "A URL.",
            "An executable program.",
            "An IP range.",
            "Chrome extension.",
            "Filename.",
            "CERT"
          ],
          "description": "The threat entry type matching this threat.",
          "type": "string"
        },
        "threatType": {
          "type": "string",
          "enumDescriptions": [
            "Unknown.",
            "Malware threat type.",
            "Social engineering threat type.",
            "Unwanted software threat type.",
            "Potentially harmful application threat type.",
            "Social engineering threat type for internal use.",
            "API abuse threat type.",
            "Malicious binary threat type.",
            "Client side detection whitelist threat type.",
            "Client side download detection whitelist threat type.",
            "Client incident threat type.",
            "Whitelist used when detecting client incident threats.",
            "List used for offline APK checks in PAM.",
            "Patterns to be used for activating the subresource filter.",
            "Entities that are suspected to present a threat.",
            "Trick-to-bill threat type.",
            "URL expressions that are very likely to be safe.",
            "An experimental threat type related to Jigsaw. See https://jigsaw.google.com/."
          ],
          "description": "The threat type matching this threat.",
          "enum": [
            "THREAT_TYPE_UNSPECIFIED",
            "MALWARE",
            "SOCIAL_ENGINEERING",
            "UNWANTED_SOFTWARE",
            "POTENTIALLY_HARMFUL_APPLICATION",
            "SOCIAL_ENGINEERING_INTERNAL",
            "API_ABUSE",
            "MALICIOUS_BINARY",
            "CSD_WHITELIST",
            "CSD_DOWNLOAD_WHITELIST",
            "CLIENT_INCIDENT",
            "CLIENT_INCIDENT_WHITELIST",
            "APK_MALWARE_OFFLINE",
            "SUBRESOURCE_FILTER",
            "SUSPICIOUS",
            "TRICK_TO_BILL",
            "HIGH_CONFIDENCE_ALLOWLIST",
            "ACCURACY_TIPS"
          ]
        }
      }
    },
    "GoogleSecuritySafebrowsingV4ThreatEntry": {
      "properties": {
        "hash": {
          "format": "byte",
          "description": "A hash prefix, consisting of the most significant 4-32 bytes of a SHA256 hash. This field is in binary format. For JSON requests, hashes are base64-encoded.",
          "type": "string"
        },
        "digest": {
          "format": "byte",
          "description": "The digest of an executable in SHA256 format. The API supports both binary and hex digests. For JSON requests, digests are base64-encoded.",
          "type": "string"
        },
        "url": {
          "description": "A URL.",
          "type": "string"
        }
      },
      "description": "An individual threat; for example, a malicious URL or its hash representation. Only one of these fields should be set.",
      "id": "GoogleSecuritySafebrowsingV4ThreatEntry",
      "type": "object"
    },
    "GoogleSecuritySafebrowsingV4ListThreatListsResponse": {
      "type": "object",
      "id": "GoogleSecuritySafebrowsingV4ListThreatListsResponse",
      "properties": {
        "threatLists": {
          "items": {
            "$ref": "GoogleSecuritySafebrowsingV4ThreatListDescriptor"
          },
          "type": "array",
          "description": "The lists available for download by the client."
        }
      }
    },
    "GoogleSecuritySafebrowsingV4ThreatEntrySet": {
      "properties": {
        "compressionType": {
          "enumDescriptions": [
            "Unknown.",
            "Raw, uncompressed data.",
            "Rice-Golomb encoded data."
          ],
          "description": "The compression type for the entries in this set.",
          "enum": [
            "COMPRESSION_TYPE_UNSPECIFIED",
            "RAW",
            "RICE"
          ],
          "type": "string"
        },
        "rawIndices": {
          "$ref": "GoogleSecuritySafebrowsingV4RawIndices",
          "description": "The raw removal indices for a local list."
        },
        "riceHashes": {
          "description": "The encoded 4-byte prefixes of SHA256-formatted entries, using a Golomb-Rice encoding. The hashes are converted to uint32, sorted in ascending order, then delta encoded and stored as encoded_data.",
          "$ref": "GoogleSecuritySafebrowsingV4RiceDeltaEncoding"
        },
        "riceIndices": {
          "$ref": "GoogleSecuritySafebrowsingV4RiceDeltaEncoding",
          "description": "The encoded local, lexicographically-sorted list indices, using a Golomb-Rice encoding. Used for sending compressed removal indices. The removal indices (uint32) are sorted in ascending order, then delta encoded and stored as encoded_data."
        },
        "rawHashes": {
          "description": "The raw SHA256-formatted entries.",
          "$ref": "GoogleSecuritySafebrowsingV4RawHashes"
        }
      },
      "id": "GoogleSecuritySafebrowsingV4ThreatEntrySet",
      "type": "object",
      "description": "A set of threats that should be added or removed from a client's local database."
    }
  },
  "batchPath": "batch",
  "fullyEncodeReservedExpansion": true,
  "name": "safebrowsing",
  "mtlsRootUrl": "https://safebrowsing.mtls.googleapis.com/",
  "version": "v4",
  "version_module": true,
  "parameters": {
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query",
      "type": "string"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "type": "string",
      "location": "query"
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "$.xgafv": {
      "type": "string",
      "location": "query",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "enum": [
        "1",
        "2"
      ],
      "description": "V1 error format."
    },
    "uploadType": {
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string"
    },
    "prettyPrint": {
      "location": "query",
      "default": "true",
      "type": "boolean",
      "description": "Returns response with indentations and line breaks."
    },
    "alt": {
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "location": "query",
      "default": "json",
      "type": "string",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "description": "Data format for response."
    },
    "quotaUser": {
      "location": "query",
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "access_token": {
      "location": "query",
      "description": "OAuth access token.",
      "type": "string"
    }
  },
  "baseUrl": "https://safebrowsing.googleapis.com/",
  "protocol": "rest",
  "documentationLink": "https://developers.google.com/safe-browsing/",
  "ownerDomain": "google.com",
  "description": "Enables client applications to check web resources (most commonly URLs) against Google-generated lists of unsafe web resources. The Safe Browsing APIs are for non-commercial use only. If you need to use APIs to detect malicious URLs for commercial purposes – meaning “for sale or revenue-generating purposes” – please refer to the Web Risk API.",
  "kind": "discovery#restDescription"
}