{
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "revision": "20260822",
  "basePath": "",
  "description": "Enables client applications to check web resources (most commonly URLs) against Google-generated lists of unsafe web resources. The Safe Browsing APIs are for non-commercial use only. If you need to use APIs to detect malicious URLs for commercial purposes – meaning “for sale or revenue-generating purposes” – please refer to the Web Risk API.",
  "kind": "discovery#restDescription",
  "baseUrl": "https://safebrowsing.googleapis.com/",
  "version_module": true,
  "discoveryVersion": "v1",
  "batchPath": "batch",
  "canonicalName": "Safebrowsing",
  "version": "v4",
  "ownerName": "Google",
  "servicePath": "",
  "fullyEncodeReservedExpansion": true,
  "protocol": "rest",
  "mtlsRootUrl": "https://safebrowsing.mtls.googleapis.com/",
  "id": "safebrowsing:v4",
  "name": "safebrowsing",
  "title": "Safe Browsing API",
  "rootUrl": "https://safebrowsing.googleapis.com/",
  "ownerDomain": "google.com",
  "schemas": {
    "GoogleSecuritySafebrowsingV4ListThreatListsResponse": {
      "type": "object",
      "properties": {
        "threatLists": {
          "description": "The lists available for download by the client.",
          "items": {
            "$ref": "GoogleSecuritySafebrowsingV4ThreatListDescriptor"
          },
          "type": "array"
        }
      },
      "id": "GoogleSecuritySafebrowsingV4ListThreatListsResponse"
    },
    "GoogleSecuritySafebrowsingV4FindFullHashesResponse": {
      "type": "object",
      "id": "GoogleSecuritySafebrowsingV4FindFullHashesResponse",
      "properties": {
        "matches": {
          "description": "The full hashes that matched the requested prefixes.",
          "type": "array",
          "items": {
            "$ref": "GoogleSecuritySafebrowsingV4ThreatMatch"
          }
        },
        "minimumWaitDuration": {
          "format": "google-duration",
          "description": "The minimum duration the client must wait before issuing any find hashes request. If this field is not set, clients can issue a request as soon as they want.",
          "type": "string"
        },
        "negativeCacheDuration": {
          "description": "For requested entities that did not match the threat list, how long to cache the response.",
          "format": "google-duration",
          "type": "string"
        }
      }
    },
    "GoogleSecuritySafebrowsingV4RawHashes": {
      "properties": {
        "prefixSize": {
          "description": "The number of bytes for each prefix encoded below. This field can be anywhere from 4 (shortest prefix) to 32 (full SHA256 hash).",
          "type": "integer",
          "format": "int32"
        },
        "rawHashes": {
          "format": "byte",
          "description": "The hashes, in binary format, concatenated into one long string. Hashes are sorted in lexicographic order. For JSON API users, hashes are base64-encoded.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleSecuritySafebrowsingV4RawHashes",
      "description": "The uncompressed threat entries in hash format of a particular prefix length. Hashes can be anywhere from 4 to 32 bytes in size. A large majority are 4 bytes, but some hashes are lengthened if they collide with the hash of a popular URL. Used for sending ThreatEntrySet to clients that do not support compression, or when sending non-4-byte hashes to clients that do support compression."
    },
    "GoogleSecuritySafebrowsingV4ThreatHitUserInfo": {
      "properties": {
        "regionCode": {
          "type": "string",
          "description": "The UN M.49 region code associated with the user's location."
        },
        "userId": {
          "type": "string",
          "format": "byte",
          "description": "Unique user identifier defined by the client."
        }
      },
      "description": "Details about the user that encountered the threat.",
      "type": "object",
      "id": "GoogleSecuritySafebrowsingV4ThreatHitUserInfo"
    },
    "GoogleSecuritySafebrowsingV4ThreatInfo": {
      "description": "The information regarding one or more threats that a client submits when checking for matches in threat lists.",
      "id": "GoogleSecuritySafebrowsingV4ThreatInfo",
      "type": "object",
      "properties": {
        "threatEntryTypes": {
          "items": {
            "type": "string",
            "enum": [
              "THREAT_ENTRY_TYPE_UNSPECIFIED",
              "URL",
              "EXECUTABLE",
              "IP_RANGE",
              "CHROME_EXTENSION",
              "FILENAME",
              "CERT"
            ],
            "enumDescriptions": [
              "Unspecified.",
              "A URL.",
              "An executable program.",
              "An IP range.",
              "Chrome extension.",
              "Filename.",
              "CERT"
            ]
          },
          "type": "array",
          "description": "The entry types to be checked."
        },
        "platformTypes": {
          "items": {
            "enumDescriptions": [
              "Unknown platform.",
              "Threat posed to Windows.",
              "Threat posed to Linux.",
              "Threat posed to Android.",
              "Threat posed to OS X.",
              "Threat posed to iOS.",
              "Threat posed to at least one of the defined platforms.",
              "Threat posed to all defined platforms.",
              "Threat posed to Chrome."
            ],
            "enum": [
              "PLATFORM_TYPE_UNSPECIFIED",
              "WINDOWS",
              "LINUX",
              "ANDROID",
              "OSX",
              "IOS",
              "ANY_PLATFORM",
              "ALL_PLATFORMS",
              "CHROME"
            ],
            "type": "string"
          },
          "type": "array",
          "description": "The platform types to be checked."
        },
        "threatEntries": {
          "description": "The threat entries to be checked.",
          "items": {
            "$ref": "GoogleSecuritySafebrowsingV4ThreatEntry"
          },
          "type": "array"
        },
        "threatTypes": {
          "description": "The threat types to be checked.",
          "items": {
            "enumDescriptions": [
              "Unknown.",
              "Malware threat type.",
              "Social engineering threat type.",
              "Unwanted software threat type.",
              "Potentially harmful application threat type.",
              "Social engineering threat type for internal use.",
              "API abuse threat type.",
              "Malicious binary threat type.",
              "Client side detection whitelist threat type.",
              "Client side download detection whitelist threat type.",
              "Client incident threat type.",
              "Whitelist used when detecting client incident threats.",
              "List used for offline APK checks in PAM.",
              "Patterns to be used for activating the subresource filter.",
              "Entities that are suspected to present a threat.",
              "Trick-to-bill threat type.",
              "URL expressions that are very likely to be safe.",
              "An experimental threat type related to Jigsaw. See https://jigsaw.google.com/."
            ],
            "enum": [
              "THREAT_TYPE_UNSPECIFIED",
              "MALWARE",
              "SOCIAL_ENGINEERING",
              "UNWANTED_SOFTWARE",
              "POTENTIALLY_HARMFUL_APPLICATION",
              "SOCIAL_ENGINEERING_INTERNAL",
              "API_ABUSE",
              "MALICIOUS_BINARY",
              "CSD_WHITELIST",
              "CSD_DOWNLOAD_WHITELIST",
              "CLIENT_INCIDENT",
              "CLIENT_INCIDENT_WHITELIST",
              "APK_MALWARE_OFFLINE",
              "SUBRESOURCE_FILTER",
              "SUSPICIOUS",
              "TRICK_TO_BILL",
              "HIGH_CONFIDENCE_ALLOWLIST",
              "ACCURACY_TIPS"
            ],
            "type": "string"
          },
          "type": "array"
        }
      }
    },
    "GoogleSecuritySafebrowsingV4ThreatEntryMetadataMetadataEntry": {
      "properties": {
        "value": {
          "type": "string",
          "format": "byte",
          "description": "The metadata entry value. For JSON requests, the value is base64-encoded."
        },
        "key": {
          "type": "string",
          "format": "byte",
          "description": "The metadata entry key. For JSON requests, the key is base64-encoded."
        }
      },
      "id": "GoogleSecuritySafebrowsingV4ThreatEntryMetadataMetadataEntry",
      "type": "object",
      "description": "A single metadata entry."
    },
    "GoogleSecuritySafebrowsingV4ClientInfo": {
      "description": "The client metadata associated with Safe Browsing API requests.",
      "properties": {
        "clientId": {
          "description": "A client ID that (hopefully) uniquely identifies the client implementation of the Safe Browsing API.",
          "type": "string"
        },
        "clientVersion": {
          "type": "string",
          "description": "The version of the client implementation."
        }
      },
      "id": "GoogleSecuritySafebrowsingV4ClientInfo",
      "type": "object"
    },
    "GoogleSecuritySafebrowsingV4RawIndices": {
      "id": "GoogleSecuritySafebrowsingV4RawIndices",
      "description": "A set of raw indices to remove from a local list.",
      "type": "object",
      "properties": {
        "indices": {
          "type": "array",
          "items": {
            "format": "int32",
            "type": "integer"
          },
          "description": "The indices to remove from a lexicographically-sorted local list."
        }
      }
    },
    "GoogleSecuritySafebrowsingV4ThreatEntry": {
      "properties": {
        "digest": {
          "type": "string",
          "description": "The digest of an executable in SHA256 format. The API supports both binary and hex digests. For JSON requests, digests are base64-encoded.",
          "format": "byte"
        },
        "url": {
          "type": "string",
          "description": "A URL."
        },
        "hash": {
          "description": "A hash prefix, consisting of the most significant 4-32 bytes of a SHA256 hash. This field is in binary format. For JSON requests, hashes are base64-encoded.",
          "format": "byte",
          "type": "string"
        }
      },
      "description": "An individual threat; for example, a malicious URL or its hash representation. Only one of these fields should be set.",
      "type": "object",
      "id": "GoogleSecuritySafebrowsingV4ThreatEntry"
    },
    "GoogleSecuritySafebrowsingV4RiceDeltaEncoding": {
      "id": "GoogleSecuritySafebrowsingV4RiceDeltaEncoding",
      "type": "object",
      "properties": {
        "encodedData": {
          "description": "The encoded deltas that are encoded using the Golomb-Rice coder.",
          "type": "string",
          "format": "byte"
        },
        "firstValue": {
          "description": "The offset of the first entry in the encoded data, or, if only a single integer was encoded, that single integer's value. If the field is empty or missing, assume zero.",
          "type": "string",
          "format": "int64"
        },
        "numEntries": {
          "description": "The number of entries that are delta encoded in the encoded data. If only a single integer was encoded, this will be zero and the single value will be stored in `first_value`.",
          "format": "int32",
          "type": "integer"
        },
        "riceParameter": {
          "description": "The Golomb-Rice parameter, which is a number between 2 and 28. This field is missing (that is, zero) if `num_entries` is zero.",
          "format": "int32",
          "type": "integer"
        }
      },
      "description": "The Rice-Golomb encoded data. Used for sending compressed 4-byte hashes or compressed removal indices."
    },
    "GoogleSecuritySafebrowsingV4ThreatHitThreatSource": {
      "type": "object",
      "description": "A single resource related to a threat hit.",
      "id": "GoogleSecuritySafebrowsingV4ThreatHitThreatSource",
      "properties": {
        "url": {
          "description": "The URL of the resource.",
          "type": "string"
        },
        "type": {
          "enumDescriptions": [
            "Unknown.",
            "The URL that matched the threat list (for which GetFullHash returned a valid hash).",
            "The final top-level URL of the tab that the client was browsing when the match occurred.",
            "A redirect URL that was fetched before hitting the final TAB_URL.",
            "A resource loaded within the final TAB_URL."
          ],
          "description": "The type of source reported.",
          "type": "string",
          "enum": [
            "THREAT_SOURCE_TYPE_UNSPECIFIED",
            "MATCHING_URL",
            "TAB_URL",
            "TAB_REDIRECT",
            "TAB_RESOURCE"
          ]
        },
        "remoteIp": {
          "description": "The remote IP of the resource in ASCII format. Either IPv4 or IPv6.",
          "type": "string"
        },
        "referrer": {
          "description": "Referrer of the resource. Only set if the referrer is available.",
          "type": "string"
        }
      }
    },
    "GoogleSecuritySafebrowsingV4ThreatEntrySet": {
      "properties": {
        "rawHashes": {
          "description": "The raw SHA256-formatted entries.",
          "$ref": "GoogleSecuritySafebrowsingV4RawHashes"
        },
        "compressionType": {
          "description": "The compression type for the entries in this set.",
          "enum": [
            "COMPRESSION_TYPE_UNSPECIFIED",
            "RAW",
            "RICE"
          ],
          "enumDescriptions": [
            "Unknown.",
            "Raw, uncompressed data.",
            "Rice-Golomb encoded data."
          ],
          "type": "string"
        },
        "rawIndices": {
          "$ref": "GoogleSecuritySafebrowsingV4RawIndices",
          "description": "The raw removal indices for a local list."
        },
        "riceHashes": {
          "description": "The encoded 4-byte prefixes of SHA256-formatted entries, using a Golomb-Rice encoding. The hashes are converted to uint32, sorted in ascending order, then delta encoded and stored as encoded_data.",
          "$ref": "GoogleSecuritySafebrowsingV4RiceDeltaEncoding"
        },
        "riceIndices": {
          "$ref": "GoogleSecuritySafebrowsingV4RiceDeltaEncoding",
          "description": "The encoded local, lexicographically-sorted list indices, using a Golomb-Rice encoding. Used for sending compressed removal indices. The removal indices (uint32) are sorted in ascending order, then delta encoded and stored as encoded_data."
        }
      },
      "id": "GoogleSecuritySafebrowsingV4ThreatEntrySet",
      "type": "object",
      "description": "A set of threats that should be added or removed from a client's local database."
    },
    "GoogleSecuritySafebrowsingV4FindThreatMatchesResponse": {
      "type": "object",
      "properties": {
        "matches": {
          "items": {
            "$ref": "GoogleSecuritySafebrowsingV4ThreatMatch"
          },
          "description": "The threat list matches.",
          "type": "array"
        }
      },
      "id": "GoogleSecuritySafebrowsingV4FindThreatMatchesResponse"
    },
    "GoogleSecuritySafebrowsingV4FindFullHashesRequest": {
      "id": "GoogleSecuritySafebrowsingV4FindFullHashesRequest",
      "description": "Request to return full hashes matched by the provided hash prefixes.",
      "properties": {
        "clientStates": {
          "type": "array",
          "items": {
            "format": "byte",
            "type": "string"
          },
          "description": "The current client states for each of the client's local threat lists."
        },
        "apiClient": {
          "$ref": "GoogleSecuritySafebrowsingV4ClientInfo",
          "description": "Client metadata associated with callers of higher-level APIs built on top of the client's implementation."
        },
        "threatInfo": {
          "$ref": "GoogleSecuritySafebrowsingV4ThreatInfo",
          "description": "The lists and hashes to be checked."
        },
        "client": {
          "description": "The client metadata.",
          "$ref": "GoogleSecuritySafebrowsingV4ClientInfo"
        }
      },
      "type": "object"
    },
    "GoogleSecuritySafebrowsingV4FetchThreatListUpdatesRequestListUpdateRequestConstraints": {
      "id": "GoogleSecuritySafebrowsingV4FetchThreatListUpdatesRequestListUpdateRequestConstraints",
      "type": "object",
      "properties": {
        "supportedCompressions": {
          "description": "The compression types supported by the client.",
          "type": "array",
          "items": {
            "enumDescriptions": [
              "Unknown.",
              "Raw, uncompressed data.",
              "Rice-Golomb encoded data."
            ],
            "type": "string",
            "enum": [
              "COMPRESSION_TYPE_UNSPECIFIED",
              "RAW",
              "RICE"
            ]
          }
        },
        "region": {
          "description": "Requests the list for a specific geographic location. If not set the server may pick that value based on the user's IP address. Expects ISO 3166-1 alpha-2 format.",
          "type": "string"
        },
        "deviceLocation": {
          "type": "string",
          "description": "A client's physical location, expressed as a ISO 31166-1 alpha-2 region code."
        },
        "maxUpdateEntries": {
          "format": "int32",
          "type": "integer",
          "description": "The maximum size in number of entries. The update will not contain more entries than this value. This should be a power of 2 between 2**10 and 2**20. If zero, no update size limit is set."
        },
        "language": {
          "description": "Requests the lists for a specific language. Expects ISO 639 alpha-2 format.",
          "type": "string"
        },
        "maxDatabaseEntries": {
          "type": "integer",
          "description": "Sets the maximum number of entries that the client is willing to have in the local database for the specified list. This should be a power of 2 between 2**10 and 2**20. If zero, no database size limit is set.",
          "format": "int32"
        }
      },
      "description": "The constraints for this update."
    },
    "GoogleSecuritySafebrowsingV4FetchThreatListUpdatesResponse": {
      "id": "GoogleSecuritySafebrowsingV4FetchThreatListUpdatesResponse",
      "type": "object",
      "properties": {
        "listUpdateResponses": {
          "type": "array",
          "items": {
            "$ref": "GoogleSecuritySafebrowsingV4FetchThreatListUpdatesResponseListUpdateResponse"
          },
          "description": "The list updates requested by the clients. The number of responses here may be less than the number of requests sent by clients. This is the case, for example, if the server has no updates for a particular list."
        },
        "minimumWaitDuration": {
          "format": "google-duration",
          "type": "string",
          "description": "The minimum duration the client must wait before issuing any update request. If this field is not set clients may update as soon as they want."
        }
      }
    },
    "GoogleSecuritySafebrowsingV4ThreatListDescriptor": {
      "id": "GoogleSecuritySafebrowsingV4ThreatListDescriptor",
      "description": "Describes an individual threat list. A list is defined by three parameters: the type of threat posed, the type of platform targeted by the threat, and the type of entries in the list.",
      "type": "object",
      "properties": {
        "threatEntryType": {
          "description": "The entry types contained in the list.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified.",
            "A URL.",
            "An executable program.",
            "An IP range.",
            "Chrome extension.",
            "Filename.",
            "CERT"
          ],
          "enum": [
            "THREAT_ENTRY_TYPE_UNSPECIFIED",
            "URL",
            "EXECUTABLE",
            "IP_RANGE",
            "CHROME_EXTENSION",
            "FILENAME",
            "CERT"
          ]
        },
        "threatType": {
          "description": "The threat type posed by the list's entries.",
          "type": "string",
          "enum": [
            "THREAT_TYPE_UNSPECIFIED",
            "MALWARE",
            "SOCIAL_ENGINEERING",
            "UNWANTED_SOFTWARE",
            "POTENTIALLY_HARMFUL_APPLICATION",
            "SOCIAL_ENGINEERING_INTERNAL",
            "API_ABUSE",
            "MALICIOUS_BINARY",
            "CSD_WHITELIST",
            "CSD_DOWNLOAD_WHITELIST",
            "CLIENT_INCIDENT",
            "CLIENT_INCIDENT_WHITELIST",
            "APK_MALWARE_OFFLINE",
            "SUBRESOURCE_FILTER",
            "SUSPICIOUS",
            "TRICK_TO_BILL",
            "HIGH_CONFIDENCE_ALLOWLIST",
            "ACCURACY_TIPS"
          ],
          "enumDescriptions": [
            "Unknown.",
            "Malware threat type.",
            "Social engineering threat type.",
            "Unwanted software threat type.",
            "Potentially harmful application threat type.",
            "Social engineering threat type for internal use.",
            "API abuse threat type.",
            "Malicious binary threat type.",
            "Client side detection whitelist threat type.",
            "Client side download detection whitelist threat type.",
            "Client incident threat type.",
            "Whitelist used when detecting client incident threats.",
            "List used for offline APK checks in PAM.",
            "Patterns to be used for activating the subresource filter.",
            "Entities that are suspected to present a threat.",
            "Trick-to-bill threat type.",
            "URL expressions that are very likely to be safe.",
            "An experimental threat type related to Jigsaw. See https://jigsaw.google.com/."
          ]
        },
        "platformType": {
          "enumDescriptions": [
            "Unknown platform.",
            "Threat posed to Windows.",
            "Threat posed to Linux.",
            "Threat posed to Android.",
            "Threat posed to OS X.",
            "Threat posed to iOS.",
            "Threat posed to at least one of the defined platforms.",
            "Threat posed to all defined platforms.",
            "Threat posed to Chrome."
          ],
          "description": "The platform type targeted by the list's entries.",
          "type": "string",
          "enum": [
            "PLATFORM_TYPE_UNSPECIFIED",
            "WINDOWS",
            "LINUX",
            "ANDROID",
            "OSX",
            "IOS",
            "ANY_PLATFORM",
            "ALL_PLATFORMS",
            "CHROME"
          ]
        }
      }
    },
    "GoogleSecuritySafebrowsingV4FindThreatMatchesRequest": {
      "description": "Request to check entries against lists.",
      "properties": {
        "threatInfo": {
          "$ref": "GoogleSecuritySafebrowsingV4ThreatInfo",
          "description": "The lists and entries to be checked for matches."
        },
        "client": {
          "description": "The client metadata.",
          "$ref": "GoogleSecuritySafebrowsingV4ClientInfo"
        }
      },
      "type": "object",
      "id": "GoogleSecuritySafebrowsingV4FindThreatMatchesRequest"
    },
    "GoogleSecuritySafebrowsingV4ThreatHit": {
      "id": "GoogleSecuritySafebrowsingV4ThreatHit",
      "type": "object",
      "properties": {
        "resources": {
          "description": "The resources related to the threat hit.",
          "type": "array",
          "items": {
            "$ref": "GoogleSecuritySafebrowsingV4ThreatHitThreatSource"
          }
        },
        "threatType": {
          "description": "The threat type reported.",
          "type": "string",
          "enumDescriptions": [
            "Unknown.",
            "Malware threat type.",
            "Social engineering threat type.",
            "Unwanted software threat type.",
            "Potentially harmful application threat type.",
            "Social engineering threat type for internal use.",
            "API abuse threat type.",
            "Malicious binary threat type.",
            "Client side detection whitelist threat type.",
            "Client side download detection whitelist threat type.",
            "Client incident threat type.",
            "Whitelist used when detecting client incident threats.",
            "List used for offline APK checks in PAM.",
            "Patterns to be used for activating the subresource filter.",
            "Entities that are suspected to present a threat.",
            "Trick-to-bill threat type.",
            "URL expressions that are very likely to be safe.",
            "An experimental threat type related to Jigsaw. See https://jigsaw.google.com/."
          ],
          "enum": [
            "THREAT_TYPE_UNSPECIFIED",
            "MALWARE",
            "SOCIAL_ENGINEERING",
            "UNWANTED_SOFTWARE",
            "POTENTIALLY_HARMFUL_APPLICATION",
            "SOCIAL_ENGINEERING_INTERNAL",
            "API_ABUSE",
            "MALICIOUS_BINARY",
            "CSD_WHITELIST",
            "CSD_DOWNLOAD_WHITELIST",
            "CLIENT_INCIDENT",
            "CLIENT_INCIDENT_WHITELIST",
            "APK_MALWARE_OFFLINE",
            "SUBRESOURCE_FILTER",
            "SUSPICIOUS",
            "TRICK_TO_BILL",
            "HIGH_CONFIDENCE_ALLOWLIST",
            "ACCURACY_TIPS"
          ]
        },
        "userInfo": {
          "$ref": "GoogleSecuritySafebrowsingV4ThreatHitUserInfo",
          "description": "Details about the user that encountered the threat."
        },
        "entry": {
          "description": "The threat entry responsible for the hit. Full hash should be reported for hash-based hits.",
          "$ref": "GoogleSecuritySafebrowsingV4ThreatEntry"
        },
        "clientInfo": {
          "description": "Client-reported identification.",
          "$ref": "GoogleSecuritySafebrowsingV4ClientInfo"
        },
        "platformType": {
          "enum": [
            "PLATFORM_TYPE_UNSPECIFIED",
            "WINDOWS",
            "LINUX",
            "ANDROID",
            "OSX",
            "IOS",
            "ANY_PLATFORM",
            "ALL_PLATFORMS",
            "CHROME"
          ],
          "type": "string",
          "description": "The platform type reported.",
          "enumDescriptions": [
            "Unknown platform.",
            "Threat posed to Windows.",
            "Threat posed to Linux.",
            "Threat posed to Android.",
            "Threat posed to OS X.",
            "Threat posed to iOS.",
            "Threat posed to at least one of the defined platforms.",
            "Threat posed to all defined platforms.",
            "Threat posed to Chrome."
          ]
        }
      }
    },
    "GoogleSecuritySafebrowsingV4FetchThreatListUpdatesRequest": {
      "type": "object",
      "description": "Describes a Safe Browsing API update request. Clients can request updates for multiple lists in a single request. The server may not respond to all requests, if the server has no updates for that list. NOTE: Field index 2 is unused. NEXT: 5",
      "properties": {
        "listUpdateRequests": {
          "items": {
            "$ref": "GoogleSecuritySafebrowsingV4FetchThreatListUpdatesRequestListUpdateRequest"
          },
          "type": "array",
          "description": "The requested threat list updates."
        },
        "client": {
          "$ref": "GoogleSecuritySafebrowsingV4ClientInfo",
          "description": "The client metadata."
        }
      },
      "id": "GoogleSecuritySafebrowsingV4FetchThreatListUpdatesRequest"
    },
    "GoogleSecuritySafebrowsingV4FetchThreatListUpdatesRequestListUpdateRequest": {
      "description": "A single list update request.",
      "type": "object",
      "properties": {
        "state": {
          "description": "The current state of the client for the requested list (the encrypted client state that was received from the last successful list update).",
          "format": "byte",
          "type": "string"
        },
        "platformType": {
          "enum": [
            "PLATFORM_TYPE_UNSPECIFIED",
            "WINDOWS",
            "LINUX",
            "ANDROID",
            "OSX",
            "IOS",
            "ANY_PLATFORM",
            "ALL_PLATFORMS",
            "CHROME"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unknown platform.",
            "Threat posed to Windows.",
            "Threat posed to Linux.",
            "Threat posed to Android.",
            "Threat posed to OS X.",
            "Threat posed to iOS.",
            "Threat posed to at least one of the defined platforms.",
            "Threat posed to all defined platforms.",
            "Threat posed to Chrome."
          ],
          "description": "The type of platform at risk by entries present in the list."
        },
        "constraints": {
          "description": "The constraints associated with this request.",
          "$ref": "GoogleSecuritySafebrowsingV4FetchThreatListUpdatesRequestListUpdateRequestConstraints"
        },
        "threatType": {
          "enum": [
            "THREAT_TYPE_UNSPECIFIED",
            "MALWARE",
            "SOCIAL_ENGINEERING",
            "UNWANTED_SOFTWARE",
            "POTENTIALLY_HARMFUL_APPLICATION",
            "SOCIAL_ENGINEERING_INTERNAL",
            "API_ABUSE",
            "MALICIOUS_BINARY",
            "CSD_WHITELIST",
            "CSD_DOWNLOAD_WHITELIST",
            "CLIENT_INCIDENT",
            "CLIENT_INCIDENT_WHITELIST",
            "APK_MALWARE_OFFLINE",
            "SUBRESOURCE_FILTER",
            "SUSPICIOUS",
            "TRICK_TO_BILL",
            "HIGH_CONFIDENCE_ALLOWLIST",
            "ACCURACY_TIPS"
          ],
          "description": "The type of threat posed by entries present in the list.",
          "type": "string",
          "enumDescriptions": [
            "Unknown.",
            "Malware threat type.",
            "Social engineering threat type.",
            "Unwanted software threat type.",
            "Potentially harmful application threat type.",
            "Social engineering threat type for internal use.",
            "API abuse threat type.",
            "Malicious binary threat type.",
            "Client side detection whitelist threat type.",
            "Client side download detection whitelist threat type.",
            "Client incident threat type.",
            "Whitelist used when detecting client incident threats.",
            "List used for offline APK checks in PAM.",
            "Patterns to be used for activating the subresource filter.",
            "Entities that are suspected to present a threat.",
            "Trick-to-bill threat type.",
            "URL expressions that are very likely to be safe.",
            "An experimental threat type related to Jigsaw. See https://jigsaw.google.com/."
          ]
        },
        "threatEntryType": {
          "enum": [
            "THREAT_ENTRY_TYPE_UNSPECIFIED",
            "URL",
            "EXECUTABLE",
            "IP_RANGE",
            "CHROME_EXTENSION",
            "FILENAME",
            "CERT"
          ],
          "type": "string",
          "description": "The types of entries present in the list.",
          "enumDescriptions": [
            "Unspecified.",
            "A URL.",
            "An executable program.",
            "An IP range.",
            "Chrome extension.",
            "Filename.",
            "CERT"
          ]
        }
      },
      "id": "GoogleSecuritySafebrowsingV4FetchThreatListUpdatesRequestListUpdateRequest"
    },
    "GoogleSecuritySafebrowsingV4ThreatEntryMetadata": {
      "properties": {
        "entries": {
          "items": {
            "$ref": "GoogleSecuritySafebrowsingV4ThreatEntryMetadataMetadataEntry"
          },
          "type": "array",
          "description": "The metadata entries."
        }
      },
      "description": "The metadata associated with a specific threat entry. The client is expected to know the metadata key/value pairs associated with each threat type.",
      "id": "GoogleSecuritySafebrowsingV4ThreatEntryMetadata",
      "type": "object"
    },
    "GoogleSecuritySafebrowsingV4Checksum": {
      "properties": {
        "sha256": {
          "description": "The SHA256 hash of the client state; that is, of the sorted list of all hashes present in the database.",
          "format": "byte",
          "type": "string"
        }
      },
      "id": "GoogleSecuritySafebrowsingV4Checksum",
      "description": "The expected state of a client's local database.",
      "type": "object"
    },
    "GoogleProtobufEmpty": {
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "properties": {},
      "type": "object",
      "id": "GoogleProtobufEmpty"
    },
    "GoogleSecuritySafebrowsingV4FetchThreatListUpdatesResponseListUpdateResponse": {
      "description": "An update to an individual list.",
      "id": "GoogleSecuritySafebrowsingV4FetchThreatListUpdatesResponseListUpdateResponse",
      "properties": {
        "threatEntryType": {
          "type": "string",
          "enum": [
            "THREAT_ENTRY_TYPE_UNSPECIFIED",
            "URL",
            "EXECUTABLE",
            "IP_RANGE",
            "CHROME_EXTENSION",
            "FILENAME",
            "CERT"
          ],
          "description": "The format of the threats.",
          "enumDescriptions": [
            "Unspecified.",
            "A URL.",
            "An executable program.",
            "An IP range.",
            "Chrome extension.",
            "Filename.",
            "CERT"
          ]
        },
        "additions": {
          "description": "A set of entries to add to a local threat type's list. Repeated to allow for a combination of compressed and raw data to be sent in a single response.",
          "items": {
            "$ref": "GoogleSecuritySafebrowsingV4ThreatEntrySet"
          },
          "type": "array"
        },
        "newClientState": {
          "type": "string",
          "description": "The new client state, in encrypted format. Opaque to clients.",
          "format": "byte"
        },
        "checksum": {
          "$ref": "GoogleSecuritySafebrowsingV4Checksum",
          "description": "The expected SHA256 hash of the client state; that is, of the sorted list of all hashes present in the database after applying the provided update. If the client state doesn't match the expected state, the client must disregard this update and retry later."
        },
        "threatType": {
          "type": "string",
          "enumDescriptions": [
            "Unknown.",
            "Malware threat type.",
            "Social engineering threat type.",
            "Unwanted software threat type.",
            "Potentially harmful application threat type.",
            "Social engineering threat type for internal use.",
            "API abuse threat type.",
            "Malicious binary threat type.",
            "Client side detection whitelist threat type.",
            "Client side download detection whitelist threat type.",
            "Client incident threat type.",
            "Whitelist used when detecting client incident threats.",
            "List used for offline APK checks in PAM.",
            "Patterns to be used for activating the subresource filter.",
            "Entities that are suspected to present a threat.",
            "Trick-to-bill threat type.",
            "URL expressions that are very likely to be safe.",
            "An experimental threat type related to Jigsaw. See https://jigsaw.google.com/."
          ],
          "enum": [
            "THREAT_TYPE_UNSPECIFIED",
            "MALWARE",
            "SOCIAL_ENGINEERING",
            "UNWANTED_SOFTWARE",
            "POTENTIALLY_HARMFUL_APPLICATION",
            "SOCIAL_ENGINEERING_INTERNAL",
            "API_ABUSE",
            "MALICIOUS_BINARY",
            "CSD_WHITELIST",
            "CSD_DOWNLOAD_WHITELIST",
            "CLIENT_INCIDENT",
            "CLIENT_INCIDENT_WHITELIST",
            "APK_MALWARE_OFFLINE",
            "SUBRESOURCE_FILTER",
            "SUSPICIOUS",
            "TRICK_TO_BILL",
            "HIGH_CONFIDENCE_ALLOWLIST",
            "ACCURACY_TIPS"
          ],
          "description": "The threat type for which data is returned."
        },
        "removals": {
          "type": "array",
          "description": "A set of entries to remove from a local threat type's list. In practice, this field is empty or contains exactly one ThreatEntrySet.",
          "items": {
            "$ref": "GoogleSecuritySafebrowsingV4ThreatEntrySet"
          }
        },
        "platformType": {
          "enumDescriptions": [
            "Unknown platform.",
            "Threat posed to Windows.",
            "Threat posed to Linux.",
            "Threat posed to Android.",
            "Threat posed to OS X.",
            "Threat posed to iOS.",
            "Threat posed to at least one of the defined platforms.",
            "Threat posed to all defined platforms.",
            "Threat posed to Chrome."
          ],
          "description": "The platform type for which data is returned.",
          "type": "string",
          "enum": [
            "PLATFORM_TYPE_UNSPECIFIED",
            "WINDOWS",
            "LINUX",
            "ANDROID",
            "OSX",
            "IOS",
            "ANY_PLATFORM",
            "ALL_PLATFORMS",
            "CHROME"
          ]
        },
        "responseType": {
          "description": "The type of response. This may indicate that an action is required by the client when the response is received.",
          "type": "string",
          "enumDescriptions": [
            "Unknown.",
            "Partial updates are applied to the client's existing local database.",
            "Full updates replace the client's entire local database. This means that either the client was seriously out-of-date or the client is believed to be corrupt."
          ],
          "enum": [
            "RESPONSE_TYPE_UNSPECIFIED",
            "PARTIAL_UPDATE",
            "FULL_UPDATE"
          ]
        }
      },
      "type": "object"
    },
    "GoogleSecuritySafebrowsingV4ThreatMatch": {
      "id": "GoogleSecuritySafebrowsingV4ThreatMatch",
      "type": "object",
      "description": "A match when checking a threat entry in the Safe Browsing threat lists.",
      "properties": {
        "threatEntryType": {
          "enum": [
            "THREAT_ENTRY_TYPE_UNSPECIFIED",
            "URL",
            "EXECUTABLE",
            "IP_RANGE",
            "CHROME_EXTENSION",
            "FILENAME",
            "CERT"
          ],
          "type": "string",
          "description": "The threat entry type matching this threat.",
          "enumDescriptions": [
            "Unspecified.",
            "A URL.",
            "An executable program.",
            "An IP range.",
            "Chrome extension.",
            "Filename.",
            "CERT"
          ]
        },
        "threat": {
          "description": "The threat matching this threat.",
          "$ref": "GoogleSecuritySafebrowsingV4ThreatEntry"
        },
        "cacheDuration": {
          "type": "string",
          "format": "google-duration",
          "description": "The cache lifetime for the returned match. Clients must not cache this response for more than this duration to avoid false positives."
        },
        "platformType": {
          "type": "string",
          "enumDescriptions": [
            "Unknown platform.",
            "Threat posed to Windows.",
            "Threat posed to Linux.",
            "Threat posed to Android.",
            "Threat posed to OS X.",
            "Threat posed to iOS.",
            "Threat posed to at least one of the defined platforms.",
            "Threat posed to all defined platforms.",
            "Threat posed to Chrome."
          ],
          "enum": [
            "PLATFORM_TYPE_UNSPECIFIED",
            "WINDOWS",
            "LINUX",
            "ANDROID",
            "OSX",
            "IOS",
            "ANY_PLATFORM",
            "ALL_PLATFORMS",
            "CHROME"
          ],
          "description": "The platform type matching this threat."
        },
        "threatType": {
          "description": "The threat type matching this threat.",
          "type": "string",
          "enumDescriptions": [
            "Unknown.",
            "Malware threat type.",
            "Social engineering threat type.",
            "Unwanted software threat type.",
            "Potentially harmful application threat type.",
            "Social engineering threat type for internal use.",
            "API abuse threat type.",
            "Malicious binary threat type.",
            "Client side detection whitelist threat type.",
            "Client side download detection whitelist threat type.",
            "Client incident threat type.",
            "Whitelist used when detecting client incident threats.",
            "List used for offline APK checks in PAM.",
            "Patterns to be used for activating the subresource filter.",
            "Entities that are suspected to present a threat.",
            "Trick-to-bill threat type.",
            "URL expressions that are very likely to be safe.",
            "An experimental threat type related to Jigsaw. See https://jigsaw.google.com/."
          ],
          "enum": [
            "THREAT_TYPE_UNSPECIFIED",
            "MALWARE",
            "SOCIAL_ENGINEERING",
            "UNWANTED_SOFTWARE",
            "POTENTIALLY_HARMFUL_APPLICATION",
            "SOCIAL_ENGINEERING_INTERNAL",
            "API_ABUSE",
            "MALICIOUS_BINARY",
            "CSD_WHITELIST",
            "CSD_DOWNLOAD_WHITELIST",
            "CLIENT_INCIDENT",
            "CLIENT_INCIDENT_WHITELIST",
            "APK_MALWARE_OFFLINE",
            "SUBRESOURCE_FILTER",
            "SUSPICIOUS",
            "TRICK_TO_BILL",
            "HIGH_CONFIDENCE_ALLOWLIST",
            "ACCURACY_TIPS"
          ]
        },
        "threatEntryMetadata": {
          "description": "Optional metadata associated with this threat.",
          "$ref": "GoogleSecuritySafebrowsingV4ThreatEntryMetadata"
        }
      }
    }
  },
  "documentationLink": "https://developers.google.com/safe-browsing/",
  "resources": {
    "threatHits": {
      "methods": {
        "create": {
          "parameterOrder": [],
          "path": "v4/threatHits",
          "parameters": {},
          "description": "Reports a Safe Browsing threat list hit to Google. Only projects with TRUSTED_REPORTER visibility can use this method.",
          "flatPath": "v4/threatHits",
          "response": {
            "$ref": "GoogleProtobufEmpty"
          },
          "request": {
            "$ref": "GoogleSecuritySafebrowsingV4ThreatHit"
          },
          "httpMethod": "POST",
          "id": "safebrowsing.threatHits.create"
        }
      }
    },
    "fullHashes": {
      "methods": {
        "find": {
          "httpMethod": "POST",
          "id": "safebrowsing.fullHashes.find",
          "request": {
            "$ref": "GoogleSecuritySafebrowsingV4FindFullHashesRequest"
          },
          "parameters": {},
          "path": "v4/fullHashes:find",
          "parameterOrder": [],
          "flatPath": "v4/fullHashes:find",
          "response": {
            "$ref": "GoogleSecuritySafebrowsingV4FindFullHashesResponse"
          },
          "description": "Finds the full hashes that match the requested hash prefixes."
        }
      }
    },
    "encodedFullHashes": {
      "methods": {
        "get": {
          "path": "v4/encodedFullHashes/{encodedRequest}",
          "parameters": {
            "encodedRequest": {
              "type": "string",
              "required": true,
              "location": "path",
              "format": "byte",
              "description": "A serialized FindFullHashesRequest proto."
            },
            "clientId": {
              "description": "A client ID that (hopefully) uniquely identifies the client implementation of the Safe Browsing API.",
              "location": "query",
              "type": "string"
            },
            "clientVersion": {
              "description": "The version of the client implementation.",
              "location": "query",
              "type": "string"
            }
          },
          "id": "safebrowsing.encodedFullHashes.get",
          "parameterOrder": [
            "encodedRequest"
          ],
          "flatPath": "v4/encodedFullHashes/{encodedRequest}",
          "response": {
            "$ref": "GoogleSecuritySafebrowsingV4FindFullHashesResponse"
          },
          "httpMethod": "GET",
          "description": ""
        }
      }
    },
    "encodedUpdates": {
      "methods": {
        "get": {
          "id": "safebrowsing.encodedUpdates.get",
          "httpMethod": "GET",
          "parameterOrder": [
            "encodedRequest"
          ],
          "flatPath": "v4/encodedUpdates/{encodedRequest}",
          "response": {
            "$ref": "GoogleSecuritySafebrowsingV4FetchThreatListUpdatesResponse"
          },
          "parameters": {
            "clientId": {
              "type": "string",
              "description": "A client ID that uniquely identifies the client implementation of the Safe Browsing API.",
              "location": "query"
            },
            "clientVersion": {
              "location": "query",
              "type": "string",
              "description": "The version of the client implementation."
            },
            "encodedRequest": {
              "description": "A serialized FetchThreatListUpdatesRequest proto.",
              "format": "byte",
              "required": true,
              "location": "path",
              "type": "string"
            }
          },
          "path": "v4/encodedUpdates/{encodedRequest}",
          "description": ""
        }
      }
    },
    "threatListUpdates": {
      "methods": {
        "fetch": {
          "parameterOrder": [],
          "description": "Fetches the most recent threat list updates. A client can request updates for multiple lists at once.",
          "path": "v4/threatListUpdates:fetch",
          "id": "safebrowsing.threatListUpdates.fetch",
          "parameters": {},
          "request": {
            "$ref": "GoogleSecuritySafebrowsingV4FetchThreatListUpdatesRequest"
          },
          "flatPath": "v4/threatListUpdates:fetch",
          "response": {
            "$ref": "GoogleSecuritySafebrowsingV4FetchThreatListUpdatesResponse"
          },
          "httpMethod": "POST"
        }
      }
    },
    "threatLists": {
      "methods": {
        "list": {
          "description": "Lists the Safe Browsing threat lists available for download.",
          "path": "v4/threatLists",
          "flatPath": "v4/threatLists",
          "response": {
            "$ref": "GoogleSecuritySafebrowsingV4ListThreatListsResponse"
          },
          "httpMethod": "GET",
          "parameterOrder": [],
          "id": "safebrowsing.threatLists.list",
          "parameters": {}
        }
      }
    },
    "threatMatches": {
      "methods": {
        "find": {
          "flatPath": "v4/threatMatches:find",
          "response": {
            "$ref": "GoogleSecuritySafebrowsingV4FindThreatMatchesResponse"
          },
          "path": "v4/threatMatches:find",
          "httpMethod": "POST",
          "parameterOrder": [],
          "description": "Finds the threat entries that match the Safe Browsing lists.",
          "parameters": {},
          "id": "safebrowsing.threatMatches.find",
          "request": {
            "$ref": "GoogleSecuritySafebrowsingV4FindThreatMatchesRequest"
          }
        }
      }
    }
  },
  "parameters": {
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "quotaUser": {
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string",
      "location": "query"
    },
    "oauth_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth 2.0 token for the current user."
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string",
      "location": "query"
    },
    "alt": {
      "type": "string",
      "default": "json",
      "location": "query",
      "description": "Data format for response.",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ]
    },
    "upload_protocol": {
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string"
    },
    "$.xgafv": {
      "description": "V1 error format.",
      "type": "string",
      "location": "query",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ]
    },
    "callback": {
      "description": "JSONP",
      "type": "string",
      "location": "query"
    },
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "prettyPrint": {
      "default": "true",
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean",
      "location": "query"
    }
  }
}