{
  "discoveryVersion": "v1",
  "name": "sasportal",
  "fullyEncodeReservedExpansion": true,
  "servicePath": "",
  "id": "sasportal:v1alpha1",
  "description": "",
  "version": "v1alpha1",
  "ownerDomain": "google.com",
  "ownerName": "Google",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "batchPath": "batch",
  "rootUrl": "https://sasportal.googleapis.com/",
  "resources": {
    "customers": {
      "methods": {
        "list": {
          "flatPath": "v1alpha1/customers",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sasportal"
          ],
          "parameterOrder": [],
          "response": {
            "$ref": "SasPortalListCustomersResponse"
          },
          "parameters": {
            "pageToken": {
              "description": "A pagination token returned from a previous call to ListCustomers that indicates where this listing should continue from.",
              "location": "query",
              "type": "string"
            },
            "pageSize": {
              "format": "int32",
              "description": "The maximum number of customers to return in the response.",
              "type": "integer",
              "location": "query"
            }
          },
          "id": "sasportal.customers.list",
          "path": "v1alpha1/customers",
          "description": "Returns a list of requested customers.",
          "httpMethod": "GET"
        },
        "get": {
          "description": "Returns a requested customer.",
          "httpMethod": "GET",
          "path": "v1alpha1/{+name}",
          "id": "sasportal.customers.get",
          "parameters": {
            "name": {
              "required": true,
              "description": "Required. The name of the customer.",
              "type": "string",
              "location": "path",
              "pattern": "^customers/[^/]+$"
            }
          },
          "parameterOrder": [
            "name"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sasportal"
          ],
          "response": {
            "$ref": "SasPortalCustomer"
          },
          "flatPath": "v1alpha1/customers/{customersId}"
        },
        "listLegacyOrganizations": {
          "description": "Returns a list of legacy organizations.",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sasportal"
          ],
          "id": "sasportal.customers.listLegacyOrganizations",
          "parameterOrder": [],
          "flatPath": "v1alpha1/customers:listLegacyOrganizations",
          "response": {
            "$ref": "SasPortalListLegacyOrganizationsResponse"
          },
          "parameters": {},
          "path": "v1alpha1/customers:listLegacyOrganizations",
          "httpMethod": "GET"
        },
        "patch": {
          "description": "Updates an existing customer.",
          "httpMethod": "PATCH",
          "request": {
            "$ref": "SasPortalCustomer"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sasportal"
          ],
          "path": "v1alpha1/{+name}",
          "flatPath": "v1alpha1/customers/{customersId}",
          "id": "sasportal.customers.patch",
          "parameters": {
            "name": {
              "required": true,
              "pattern": "^customers/[^/]+$",
              "type": "string",
              "description": "Output only. Resource name of the customer.",
              "location": "path"
            },
            "updateMask": {
              "type": "string",
              "format": "google-fieldmask",
              "description": "Fields to be updated.",
              "location": "query"
            }
          },
          "parameterOrder": [
            "name"
          ],
          "response": {
            "$ref": "SasPortalCustomer"
          }
        },
        "setupSasAnalytics": {
          "path": "v1alpha1/customers:setupSasAnalytics",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sasportal"
          ],
          "parameters": {},
          "parameterOrder": [],
          "flatPath": "v1alpha1/customers:setupSasAnalytics",
          "id": "sasportal.customers.setupSasAnalytics",
          "response": {
            "$ref": "SasPortalOperation"
          },
          "httpMethod": "POST",
          "description": "Setups the a GCP Project to receive SAS Analytics messages via GCP Pub/Sub with a subscription to BigQuery. All the Pub/Sub topics and BigQuery tables are created automatically as part of this service.",
          "request": {
            "$ref": "SasPortalSetupSasAnalyticsRequest"
          }
        },
        "provisionDeployment": {
          "parameterOrder": [],
          "flatPath": "v1alpha1/customers:provisionDeployment",
          "parameters": {},
          "path": "v1alpha1/customers:provisionDeployment",
          "response": {
            "$ref": "SasPortalProvisionDeploymentResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sasportal"
          ],
          "httpMethod": "POST",
          "id": "sasportal.customers.provisionDeployment",
          "request": {
            "$ref": "SasPortalProvisionDeploymentRequest"
          },
          "description": "Creates a new SAS deployment through the GCP workflow. Creates a SAS organization if an organization match is not found."
        },
        "migrateOrganization": {
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sasportal"
          ],
          "parameters": {},
          "flatPath": "v1alpha1/customers:migrateOrganization",
          "id": "sasportal.customers.migrateOrganization",
          "response": {
            "$ref": "SasPortalOperation"
          },
          "description": "Migrates a SAS organization to the cloud. This will create GCP projects for each deployment and associate them. The SAS Organization is linked to the gcp project that called the command. go/sas-legacy-customer-migration",
          "parameterOrder": [],
          "httpMethod": "POST",
          "path": "v1alpha1/customers:migrateOrganization",
          "request": {
            "$ref": "SasPortalMigrateOrganizationRequest"
          }
        },
        "listGcpProjectDeployments": {
          "parameters": {},
          "path": "v1alpha1/customers:listGcpProjectDeployments",
          "parameterOrder": [],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sasportal"
          ],
          "flatPath": "v1alpha1/customers:listGcpProjectDeployments",
          "description": "Returns a list of SAS deployments associated with current GCP project. Includes whether SAS analytics has been enabled or not.",
          "httpMethod": "GET",
          "response": {
            "$ref": "SasPortalListGcpProjectDeploymentsResponse"
          },
          "id": "sasportal.customers.listGcpProjectDeployments"
        }
      },
      "resources": {
        "devices": {
          "methods": {
            "patch": {
              "parameters": {
                "updateMask": {
                  "description": "Fields to be updated.",
                  "type": "string",
                  "location": "query",
                  "format": "google-fieldmask"
                },
                "name": {
                  "pattern": "^customers/[^/]+/devices/[^/]+$",
                  "description": "Output only. The resource path name.",
                  "location": "path",
                  "type": "string",
                  "required": true
                }
              },
              "path": "v1alpha1/{+name}",
              "response": {
                "$ref": "SasPortalDevice"
              },
              "parameterOrder": [
                "name"
              ],
              "request": {
                "$ref": "SasPortalDevice"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/sasportal"
              ],
              "flatPath": "v1alpha1/customers/{customersId}/devices/{devicesId}",
              "httpMethod": "PATCH",
              "description": "Updates a device.",
              "id": "sasportal.customers.devices.patch"
            },
            "updateSigned": {
              "response": {
                "$ref": "SasPortalDevice"
              },
              "description": "Updates a signed device.",
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1alpha1/customers/{customersId}/devices/{devicesId}:updateSigned",
              "httpMethod": "PATCH",
              "path": "v1alpha1/{+name}:updateSigned",
              "request": {
                "$ref": "SasPortalUpdateSignedDeviceRequest"
              },
              "id": "sasportal.customers.devices.updateSigned",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/sasportal"
              ],
              "parameters": {
                "name": {
                  "type": "string",
                  "required": true,
                  "location": "path",
                  "pattern": "^customers/[^/]+/devices/[^/]+$",
                  "description": "Required. The name of the device to update."
                }
              }
            },
            "createSigned": {
              "path": "v1alpha1/{+parent}/devices:createSigned",
              "id": "sasportal.customers.devices.createSigned",
              "description": "Creates a signed device under a node or customer.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/sasportal"
              ],
              "parameters": {
                "parent": {
                  "required": true,
                  "pattern": "^customers/[^/]+$",
                  "description": "Required. The name of the parent resource.",
                  "type": "string",
                  "location": "path"
                }
              },
              "response": {
                "$ref": "SasPortalDevice"
              },
              "request": {
                "$ref": "SasPortalCreateSignedDeviceRequest"
              },
              "flatPath": "v1alpha1/customers/{customersId}/devices:createSigned",
              "httpMethod": "POST",
              "parameterOrder": [
                "parent"
              ]
            },
            "get": {
              "path": "v1alpha1/{+name}",
              "response": {
                "$ref": "SasPortalDevice"
              },
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "GET",
              "id": "sasportal.customers.devices.get",
              "flatPath": "v1alpha1/customers/{customersId}/devices/{devicesId}",
              "description": "Gets details about a device.",
              "parameters": {
                "name": {
                  "description": "Required. The name of the device.",
                  "location": "path",
                  "pattern": "^customers/[^/]+/devices/[^/]+$",
                  "type": "string",
                  "required": true
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/sasportal"
              ]
            },
            "delete": {
              "flatPath": "v1alpha1/customers/{customersId}/devices/{devicesId}",
              "httpMethod": "DELETE",
              "response": {
                "$ref": "SasPortalEmpty"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/sasportal"
              ],
              "path": "v1alpha1/{+name}",
              "id": "sasportal.customers.devices.delete",
              "parameters": {
                "name": {
                  "description": "Required. The name of the device.",
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "pattern": "^customers/[^/]+/devices/[^/]+$"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "description": "Deletes a device."
            },
            "signDevice": {
              "id": "sasportal.customers.devices.signDevice",
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/sasportal"
              ],
              "httpMethod": "POST",
              "description": "Signs a device.",
              "request": {
                "$ref": "SasPortalSignDeviceRequest"
              },
              "path": "v1alpha1/{+name}:signDevice",
              "flatPath": "v1alpha1/customers/{customersId}/devices/{devicesId}:signDevice",
              "parameters": {
                "name": {
                  "type": "string",
                  "description": "Output only. The resource path name.",
                  "required": true,
                  "location": "path",
                  "pattern": "^customers/[^/]+/devices/[^/]+$"
                }
              },
              "response": {
                "$ref": "SasPortalEmpty"
              }
            },
            "create": {
              "path": "v1alpha1/{+parent}/devices",
              "httpMethod": "POST",
              "parameterOrder": [
                "parent"
              ],
              "request": {
                "$ref": "SasPortalDevice"
              },
              "id": "sasportal.customers.devices.create",
              "description": "Creates a device under a node or customer.",
              "flatPath": "v1alpha1/customers/{customersId}/devices",
              "response": {
                "$ref": "SasPortalDevice"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/sasportal"
              ],
              "parameters": {
                "parent": {
                  "type": "string",
                  "description": "Required. The name of the parent resource.",
                  "location": "path",
                  "pattern": "^customers/[^/]+$",
                  "required": true
                }
              }
            },
            "move": {
              "parameterOrder": [
                "name"
              ],
              "path": "v1alpha1/{+name}:move",
              "httpMethod": "POST",
              "request": {
                "$ref": "SasPortalMoveDeviceRequest"
              },
              "id": "sasportal.customers.devices.move",
              "response": {
                "$ref": "SasPortalOperation"
              },
              "description": "Moves a device under another node or customer.",
              "flatPath": "v1alpha1/customers/{customersId}/devices/{devicesId}:move",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/sasportal"
              ],
              "parameters": {
                "name": {
                  "location": "path",
                  "description": "Required. The name of the device to move.",
                  "required": true,
                  "type": "string",
                  "pattern": "^customers/[^/]+/devices/[^/]+$"
                }
              }
            },
            "list": {
              "httpMethod": "GET",
              "description": "Lists devices under a node or customer.",
              "path": "v1alpha1/{+parent}/devices",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/sasportal"
              ],
              "parameterOrder": [
                "parent"
              ],
              "flatPath": "v1alpha1/customers/{customersId}/devices",
              "parameters": {
                "parent": {
                  "location": "path",
                  "description": "Required. The name of the parent resource.",
                  "required": true,
                  "type": "string",
                  "pattern": "^customers/[^/]+$"
                },
                "pageSize": {
                  "type": "integer",
                  "description": "The maximum number of devices to return in the response. If empty or zero, all devices will be listed. Must be in the range [0, 1000].",
                  "location": "query",
                  "format": "int32"
                },
                "pageToken": {
                  "type": "string",
                  "location": "query",
                  "description": "A pagination token returned from a previous call to ListDevices that indicates where this listing should continue from."
                },
                "filter": {
                  "location": "query",
                  "type": "string",
                  "description": "The filter expression. The filter should have one of the following formats: \"sn=123454\" or \"display_name=MyDevice\". sn corresponds to serial number of the device. The filter is case insensitive."
                }
              },
              "response": {
                "$ref": "SasPortalListDevicesResponse"
              },
              "id": "sasportal.customers.devices.list"
            }
          }
        },
        "deployments": {
          "methods": {
            "get": {
              "httpMethod": "GET",
              "response": {
                "$ref": "SasPortalDeployment"
              },
              "path": "v1alpha1/{+name}",
              "flatPath": "v1alpha1/customers/{customersId}/deployments/{deploymentsId}",
              "parameters": {
                "name": {
                  "required": true,
                  "type": "string",
                  "pattern": "^customers/[^/]+/deployments/[^/]+$",
                  "description": "Required. The name of the deployment.",
                  "location": "path"
                }
              },
              "id": "sasportal.customers.deployments.get",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/sasportal"
              ],
              "description": "Returns a requested deployment.",
              "parameterOrder": [
                "name"
              ]
            },
            "patch": {
              "response": {
                "$ref": "SasPortalDeployment"
              },
              "flatPath": "v1alpha1/customers/{customersId}/deployments/{deploymentsId}",
              "parameters": {
                "name": {
                  "location": "path",
                  "type": "string",
                  "pattern": "^customers/[^/]+/deployments/[^/]+$",
                  "required": true,
                  "description": "Output only. Resource name."
                },
                "updateMask": {
                  "format": "google-fieldmask",
                  "description": "Fields to be updated.",
                  "location": "query",
                  "type": "string"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/sasportal"
              ],
              "path": "v1alpha1/{+name}",
              "request": {
                "$ref": "SasPortalDeployment"
              },
              "httpMethod": "PATCH",
              "description": "Updates an existing deployment.",
              "parameterOrder": [
                "name"
              ],
              "id": "sasportal.customers.deployments.patch"
            },
            "delete": {
              "httpMethod": "DELETE",
              "id": "sasportal.customers.deployments.delete",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/sasportal"
              ],
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "SasPortalEmpty"
              },
              "flatPath": "v1alpha1/customers/{customersId}/deployments/{deploymentsId}",
              "path": "v1alpha1/{+name}",
              "parameters": {
                "name": {
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "description": "Required. The name of the deployment.",
                  "pattern": "^customers/[^/]+/deployments/[^/]+$"
                }
              },
              "description": "Deletes a deployment."
            },
            "list": {
              "description": "Lists deployments.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/sasportal"
              ],
              "path": "v1alpha1/{+parent}/deployments",
              "response": {
                "$ref": "SasPortalListDeploymentsResponse"
              },
              "id": "sasportal.customers.deployments.list",
              "parameters": {
                "parent": {
                  "required": true,
                  "description": "Required. The parent resource name, for example, \"nodes/1\", customer/1/nodes/2.",
                  "type": "string",
                  "location": "path",
                  "pattern": "^customers/[^/]+$"
                },
                "filter": {
                  "location": "query",
                  "type": "string",
                  "description": "The filter expression. The filter should have the following format: \"DIRECT_CHILDREN\" or format: \"direct_children\". The filter is case insensitive. If empty, then no deployments are filtered."
                },
                "pageToken": {
                  "type": "string",
                  "description": "A pagination token returned from a previous call to ListDeployments that indicates where this listing should continue from.",
                  "location": "query"
                },
                "pageSize": {
                  "location": "query",
                  "description": "The maximum number of deployments to return in the response.",
                  "type": "integer",
                  "format": "int32"
                }
              },
              "flatPath": "v1alpha1/customers/{customersId}/deployments",
              "parameterOrder": [
                "parent"
              ],
              "httpMethod": "GET"
            },
            "create": {
              "request": {
                "$ref": "SasPortalDeployment"
              },
              "id": "sasportal.customers.deployments.create",
              "parameters": {
                "parent": {
                  "pattern": "^customers/[^/]+$",
                  "location": "path",
                  "description": "Required. The parent resource name where the deployment is to be created.",
                  "type": "string",
                  "required": true
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/sasportal"
              ],
              "path": "v1alpha1/{+parent}/deployments",
              "parameterOrder": [
                "parent"
              ],
              "description": "Creates a new deployment.",
              "response": {
                "$ref": "SasPortalDeployment"
              },
              "httpMethod": "POST",
              "flatPath": "v1alpha1/customers/{customersId}/deployments"
            },
            "move": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/sasportal"
              ],
              "request": {
                "$ref": "SasPortalMoveDeploymentRequest"
              },
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "POST",
              "id": "sasportal.customers.deployments.move",
              "response": {
                "$ref": "SasPortalOperation"
              },
              "description": "Moves a deployment under another node or customer.",
              "path": "v1alpha1/{+name}:move",
              "flatPath": "v1alpha1/customers/{customersId}/deployments/{deploymentsId}:move",
              "parameters": {
                "name": {
                  "type": "string",
                  "location": "path",
                  "pattern": "^customers/[^/]+/deployments/[^/]+$",
                  "required": true,
                  "description": "Required. The name of the deployment to move."
                }
              }
            }
          },
          "resources": {
            "devices": {
              "methods": {
                "list": {
                  "parameters": {
                    "filter": {
                      "location": "query",
                      "description": "The filter expression. The filter should have one of the following formats: \"sn=123454\" or \"display_name=MyDevice\". sn corresponds to serial number of the device. The filter is case insensitive.",
                      "type": "string"
                    },
                    "pageToken": {
                      "description": "A pagination token returned from a previous call to ListDevices that indicates where this listing should continue from.",
                      "type": "string",
                      "location": "query"
                    },
                    "pageSize": {
                      "type": "integer",
                      "description": "The maximum number of devices to return in the response. If empty or zero, all devices will be listed. Must be in the range [0, 1000].",
                      "location": "query",
                      "format": "int32"
                    },
                    "parent": {
                      "type": "string",
                      "required": true,
                      "pattern": "^customers/[^/]+/deployments/[^/]+$",
                      "location": "path",
                      "description": "Required. The name of the parent resource."
                    }
                  },
                  "description": "Lists devices under a node or customer.",
                  "response": {
                    "$ref": "SasPortalListDevicesResponse"
                  },
                  "flatPath": "v1alpha1/customers/{customersId}/deployments/{deploymentsId}/devices",
                  "path": "v1alpha1/{+parent}/devices",
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/sasportal"
                  ],
                  "id": "sasportal.customers.deployments.devices.list",
                  "parameterOrder": [
                    "parent"
                  ]
                },
                "createSigned": {
                  "parameterOrder": [
                    "parent"
                  ],
                  "flatPath": "v1alpha1/customers/{customersId}/deployments/{deploymentsId}/devices:createSigned",
                  "parameters": {
                    "parent": {
                      "required": true,
                      "location": "path",
                      "pattern": "^customers/[^/]+/deployments/[^/]+$",
                      "description": "Required. The name of the parent resource.",
                      "type": "string"
                    }
                  },
                  "response": {
                    "$ref": "SasPortalDevice"
                  },
                  "path": "v1alpha1/{+parent}/devices:createSigned",
                  "description": "Creates a signed device under a node or customer.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/sasportal"
                  ],
                  "id": "sasportal.customers.deployments.devices.createSigned",
                  "request": {
                    "$ref": "SasPortalCreateSignedDeviceRequest"
                  },
                  "httpMethod": "POST"
                },
                "create": {
                  "httpMethod": "POST",
                  "response": {
                    "$ref": "SasPortalDevice"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "flatPath": "v1alpha1/customers/{customersId}/deployments/{deploymentsId}/devices",
                  "path": "v1alpha1/{+parent}/devices",
                  "request": {
                    "$ref": "SasPortalDevice"
                  },
                  "id": "sasportal.customers.deployments.devices.create",
                  "description": "Creates a device under a node or customer.",
                  "parameters": {
                    "parent": {
                      "required": true,
                      "location": "path",
                      "pattern": "^customers/[^/]+/deployments/[^/]+$",
                      "description": "Required. The name of the parent resource.",
                      "type": "string"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/sasportal"
                  ]
                }
              }
            }
          }
        },
        "nodes": {
          "methods": {
            "list": {
              "path": "v1alpha1/{+parent}/nodes",
              "parameters": {
                "pageSize": {
                  "description": "The maximum number of nodes to return in the response.",
                  "location": "query",
                  "format": "int32",
                  "type": "integer"
                },
                "parent": {
                  "pattern": "^customers/[^/]+$",
                  "location": "path",
                  "description": "Required. The parent resource name, for example, \"nodes/1\".",
                  "type": "string",
                  "required": true
                },
                "pageToken": {
                  "description": "A pagination token returned from a previous call to ListNodes that indicates where this listing should continue from.",
                  "location": "query",
                  "type": "string"
                },
                "filter": {
                  "location": "query",
                  "type": "string",
                  "description": "The filter expression. The filter should have the following format: \"DIRECT_CHILDREN\" or format: \"direct_children\". The filter is case insensitive. If empty, then no nodes are filtered."
                }
              },
              "id": "sasportal.customers.nodes.list",
              "flatPath": "v1alpha1/customers/{customersId}/nodes",
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "SasPortalListNodesResponse"
              },
              "description": "Lists nodes.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/sasportal"
              ],
              "httpMethod": "GET"
            },
            "move": {
              "response": {
                "$ref": "SasPortalOperation"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/sasportal"
              ],
              "description": "Moves a node under another node or customer.",
              "flatPath": "v1alpha1/customers/{customersId}/nodes/{nodesId}:move",
              "id": "sasportal.customers.nodes.move",
              "parameters": {
                "name": {
                  "description": "Required. The name of the node to move.",
                  "required": true,
                  "pattern": "^customers/[^/]+/nodes/[^/]+$",
                  "type": "string",
                  "location": "path"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "path": "v1alpha1/{+name}:move",
              "request": {
                "$ref": "SasPortalMoveNodeRequest"
              },
              "httpMethod": "POST"
            },
            "patch": {
              "parameters": {
                "name": {
                  "location": "path",
                  "pattern": "^customers/[^/]+/nodes/[^/]+$",
                  "type": "string",
                  "description": "Output only. Resource name.",
                  "required": true
                },
                "updateMask": {
                  "format": "google-fieldmask",
                  "location": "query",
                  "type": "string",
                  "description": "Fields to be updated."
                }
              },
              "request": {
                "$ref": "SasPortalNode"
              },
              "response": {
                "$ref": "SasPortalNode"
              },
              "flatPath": "v1alpha1/customers/{customersId}/nodes/{nodesId}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/sasportal"
              ],
              "path": "v1alpha1/{+name}",
              "httpMethod": "PATCH",
              "parameterOrder": [
                "name"
              ],
              "id": "sasportal.customers.nodes.patch",
              "description": "Updates an existing node."
            },
            "delete": {
              "flatPath": "v1alpha1/customers/{customersId}/nodes/{nodesId}",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "type": "string",
                  "required": true,
                  "pattern": "^customers/[^/]+/nodes/[^/]+$",
                  "description": "Required. The name of the node.",
                  "location": "path"
                }
              },
              "response": {
                "$ref": "SasPortalEmpty"
              },
              "id": "sasportal.customers.nodes.delete",
              "httpMethod": "DELETE",
              "description": "Deletes a node.",
              "path": "v1alpha1/{+name}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/sasportal"
              ]
            },
            "create": {
              "description": "Creates a new node.",
              "response": {
                "$ref": "SasPortalNode"
              },
              "parameterOrder": [
                "parent"
              ],
              "flatPath": "v1alpha1/customers/{customersId}/nodes",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/sasportal"
              ],
              "id": "sasportal.customers.nodes.create",
              "parameters": {
                "parent": {
                  "location": "path",
                  "description": "Required. The parent resource name where the node is to be created.",
                  "pattern": "^customers/[^/]+$",
                  "required": true,
                  "type": "string"
                }
              },
              "path": "v1alpha1/{+parent}/nodes",
              "request": {
                "$ref": "SasPortalNode"
              },
              "httpMethod": "POST"
            },
            "get": {
              "parameters": {
                "name": {
                  "required": true,
                  "type": "string",
                  "description": "Required. The name of the node.",
                  "location": "path",
                  "pattern": "^customers/[^/]+/nodes/[^/]+$"
                }
              },
              "path": "v1alpha1/{+name}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/sasportal"
              ],
              "id": "sasportal.customers.nodes.get",
              "flatPath": "v1alpha1/customers/{customersId}/nodes/{nodesId}",
              "httpMethod": "GET",
              "response": {
                "$ref": "SasPortalNode"
              },
              "description": "Returns a requested node.",
              "parameterOrder": [
                "name"
              ]
            }
          },
          "resources": {
            "devices": {
              "methods": {
                "list": {
                  "id": "sasportal.customers.nodes.devices.list",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/sasportal"
                  ],
                  "description": "Lists devices under a node or customer.",
                  "parameters": {
                    "pageSize": {
                      "location": "query",
                      "description": "The maximum number of devices to return in the response. If empty or zero, all devices will be listed. Must be in the range [0, 1000].",
                      "type": "integer",
                      "format": "int32"
                    },
                    "parent": {
                      "location": "path",
                      "description": "Required. The name of the parent resource.",
                      "required": true,
                      "pattern": "^customers/[^/]+/nodes/[^/]+$",
                      "type": "string"
                    },
                    "pageToken": {
                      "location": "query",
                      "description": "A pagination token returned from a previous call to ListDevices that indicates where this listing should continue from.",
                      "type": "string"
                    },
                    "filter": {
                      "description": "The filter expression. The filter should have one of the following formats: \"sn=123454\" or \"display_name=MyDevice\". sn corresponds to serial number of the device. The filter is case insensitive.",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "path": "v1alpha1/{+parent}/devices",
                  "response": {
                    "$ref": "SasPortalListDevicesResponse"
                  },
                  "flatPath": "v1alpha1/customers/{customersId}/nodes/{nodesId}/devices",
                  "parameterOrder": [
                    "parent"
                  ],
                  "httpMethod": "GET"
                },
                "create": {
                  "response": {
                    "$ref": "SasPortalDevice"
                  },
                  "flatPath": "v1alpha1/customers/{customersId}/nodes/{nodesId}/devices",
                  "description": "Creates a device under a node or customer.",
                  "parameters": {
                    "parent": {
                      "required": true,
                      "pattern": "^customers/[^/]+/nodes/[^/]+$",
                      "description": "Required. The name of the parent resource.",
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "path": "v1alpha1/{+parent}/devices",
                  "request": {
                    "$ref": "SasPortalDevice"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/sasportal"
                  ],
                  "httpMethod": "POST",
                  "id": "sasportal.customers.nodes.devices.create"
                },
                "createSigned": {
                  "parameters": {
                    "parent": {
                      "type": "string",
                      "required": true,
                      "description": "Required. The name of the parent resource.",
                      "pattern": "^customers/[^/]+/nodes/[^/]+$",
                      "location": "path"
                    }
                  },
                  "description": "Creates a signed device under a node or customer.",
                  "parameterOrder": [
                    "parent"
                  ],
                  "id": "sasportal.customers.nodes.devices.createSigned",
                  "path": "v1alpha1/{+parent}/devices:createSigned",
                  "flatPath": "v1alpha1/customers/{customersId}/nodes/{nodesId}/devices:createSigned",
                  "httpMethod": "POST",
                  "response": {
                    "$ref": "SasPortalDevice"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/sasportal"
                  ],
                  "request": {
                    "$ref": "SasPortalCreateSignedDeviceRequest"
                  }
                }
              }
            },
            "deployments": {
              "methods": {
                "list": {
                  "id": "sasportal.customers.nodes.deployments.list",
                  "path": "v1alpha1/{+parent}/deployments",
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "parent"
                  ],
                  "flatPath": "v1alpha1/customers/{customersId}/nodes/{nodesId}/deployments",
                  "response": {
                    "$ref": "SasPortalListDeploymentsResponse"
                  },
                  "description": "Lists deployments.",
                  "parameters": {
                    "pageToken": {
                      "location": "query",
                      "description": "A pagination token returned from a previous call to ListDeployments that indicates where this listing should continue from.",
                      "type": "string"
                    },
                    "parent": {
                      "location": "path",
                      "description": "Required. The parent resource name, for example, \"nodes/1\", customer/1/nodes/2.",
                      "required": true,
                      "type": "string",
                      "pattern": "^customers/[^/]+/nodes/[^/]+$"
                    },
                    "pageSize": {
                      "location": "query",
                      "type": "integer",
                      "description": "The maximum number of deployments to return in the response.",
                      "format": "int32"
                    },
                    "filter": {
                      "type": "string",
                      "location": "query",
                      "description": "The filter expression. The filter should have the following format: \"DIRECT_CHILDREN\" or format: \"direct_children\". The filter is case insensitive. If empty, then no deployments are filtered."
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/sasportal"
                  ]
                },
                "create": {
                  "response": {
                    "$ref": "SasPortalDeployment"
                  },
                  "request": {
                    "$ref": "SasPortalDeployment"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/sasportal"
                  ],
                  "flatPath": "v1alpha1/customers/{customersId}/nodes/{nodesId}/deployments",
                  "httpMethod": "POST",
                  "description": "Creates a new deployment.",
                  "parameters": {
                    "parent": {
                      "description": "Required. The parent resource name where the deployment is to be created.",
                      "required": true,
                      "pattern": "^customers/[^/]+/nodes/[^/]+$",
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "path": "v1alpha1/{+parent}/deployments",
                  "parameterOrder": [
                    "parent"
                  ],
                  "id": "sasportal.customers.nodes.deployments.create"
                }
              }
            },
            "nodes": {
              "methods": {
                "create": {
                  "flatPath": "v1alpha1/customers/{customersId}/nodes/{nodesId}/nodes",
                  "parameterOrder": [
                    "parent"
                  ],
                  "parameters": {
                    "parent": {
                      "pattern": "^customers/[^/]+/nodes/[^/]+$",
                      "location": "path",
                      "type": "string",
                      "description": "Required. The parent resource name where the node is to be created.",
                      "required": true
                    }
                  },
                  "response": {
                    "$ref": "SasPortalNode"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/sasportal"
                  ],
                  "description": "Creates a new node.",
                  "path": "v1alpha1/{+parent}/nodes",
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "SasPortalNode"
                  },
                  "id": "sasportal.customers.nodes.nodes.create"
                },
                "list": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/sasportal"
                  ],
                  "id": "sasportal.customers.nodes.nodes.list",
                  "parameterOrder": [
                    "parent"
                  ],
                  "parameters": {
                    "pageSize": {
                      "type": "integer",
                      "location": "query",
                      "format": "int32",
                      "description": "The maximum number of nodes to return in the response."
                    },
                    "parent": {
                      "pattern": "^customers/[^/]+/nodes/[^/]+$",
                      "description": "Required. The parent resource name, for example, \"nodes/1\".",
                      "required": true,
                      "location": "path",
                      "type": "string"
                    },
                    "filter": {
                      "location": "query",
                      "type": "string",
                      "description": "The filter expression. The filter should have the following format: \"DIRECT_CHILDREN\" or format: \"direct_children\". The filter is case insensitive. If empty, then no nodes are filtered."
                    },
                    "pageToken": {
                      "description": "A pagination token returned from a previous call to ListNodes that indicates where this listing should continue from.",
                      "type": "string",
                      "location": "query"
                    }
                  },
                  "path": "v1alpha1/{+parent}/nodes",
                  "flatPath": "v1alpha1/customers/{customersId}/nodes/{nodesId}/nodes",
                  "response": {
                    "$ref": "SasPortalListNodesResponse"
                  },
                  "httpMethod": "GET",
                  "description": "Lists nodes."
                }
              }
            }
          }
        }
      }
    },
    "deployments": {
      "resources": {
        "devices": {
          "methods": {
            "get": {
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "pattern": "^deployments/[^/]+/devices/[^/]+$",
                  "location": "path",
                  "type": "string",
                  "description": "Required. The name of the device.",
                  "required": true
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/sasportal"
              ],
              "description": "Gets details about a device.",
              "response": {
                "$ref": "SasPortalDevice"
              },
              "httpMethod": "GET",
              "flatPath": "v1alpha1/deployments/{deploymentsId}/devices/{devicesId}",
              "path": "v1alpha1/{+name}",
              "id": "sasportal.deployments.devices.get"
            },
            "delete": {
              "path": "v1alpha1/{+name}",
              "httpMethod": "DELETE",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/sasportal"
              ],
              "description": "Deletes a device.",
              "id": "sasportal.deployments.devices.delete",
              "parameters": {
                "name": {
                  "required": true,
                  "location": "path",
                  "pattern": "^deployments/[^/]+/devices/[^/]+$",
                  "type": "string",
                  "description": "Required. The name of the device."
                }
              },
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "SasPortalEmpty"
              },
              "flatPath": "v1alpha1/deployments/{deploymentsId}/devices/{devicesId}"
            },
            "updateSigned": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/sasportal"
              ],
              "httpMethod": "PATCH",
              "description": "Updates a signed device.",
              "request": {
                "$ref": "SasPortalUpdateSignedDeviceRequest"
              },
              "flatPath": "v1alpha1/deployments/{deploymentsId}/devices/{devicesId}:updateSigned",
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "SasPortalDevice"
              },
              "id": "sasportal.deployments.devices.updateSigned",
              "parameters": {
                "name": {
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "pattern": "^deployments/[^/]+/devices/[^/]+$",
                  "description": "Required. The name of the device to update."
                }
              },
              "path": "v1alpha1/{+name}:updateSigned"
            },
            "patch": {
              "httpMethod": "PATCH",
              "parameterOrder": [
                "name"
              ],
              "id": "sasportal.deployments.devices.patch",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/sasportal"
              ],
              "description": "Updates a device.",
              "request": {
                "$ref": "SasPortalDevice"
              },
              "flatPath": "v1alpha1/deployments/{deploymentsId}/devices/{devicesId}",
              "response": {
                "$ref": "SasPortalDevice"
              },
              "parameters": {
                "name": {
                  "location": "path",
                  "description": "Output only. The resource path name.",
                  "pattern": "^deployments/[^/]+/devices/[^/]+$",
                  "required": true,
                  "type": "string"
                },
                "updateMask": {
                  "format": "google-fieldmask",
                  "type": "string",
                  "description": "Fields to be updated.",
                  "location": "query"
                }
              },
              "path": "v1alpha1/{+name}"
            },
            "move": {
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/sasportal"
              ],
              "request": {
                "$ref": "SasPortalMoveDeviceRequest"
              },
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1alpha1/deployments/{deploymentsId}/devices/{devicesId}:move",
              "description": "Moves a device under another node or customer.",
              "path": "v1alpha1/{+name}:move",
              "parameters": {
                "name": {
                  "type": "string",
                  "location": "path",
                  "pattern": "^deployments/[^/]+/devices/[^/]+$",
                  "required": true,
                  "description": "Required. The name of the device to move."
                }
              },
              "response": {
                "$ref": "SasPortalOperation"
              },
              "id": "sasportal.deployments.devices.move"
            },
            "signDevice": {
              "flatPath": "v1alpha1/deployments/{deploymentsId}/devices/{devicesId}:signDevice",
              "id": "sasportal.deployments.devices.signDevice",
              "response": {
                "$ref": "SasPortalEmpty"
              },
              "path": "v1alpha1/{+name}:signDevice",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/sasportal"
              ],
              "parameters": {
                "name": {
                  "type": "string",
                  "description": "Output only. The resource path name.",
                  "location": "path",
                  "pattern": "^deployments/[^/]+/devices/[^/]+$",
                  "required": true
                }
              },
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "POST",
              "request": {
                "$ref": "SasPortalSignDeviceRequest"
              },
              "description": "Signs a device."
            }
          }
        }
      },
      "methods": {
        "get": {
          "httpMethod": "GET",
          "id": "sasportal.deployments.get",
          "response": {
            "$ref": "SasPortalDeployment"
          },
          "parameterOrder": [
            "name"
          ],
          "flatPath": "v1alpha1/deployments/{deploymentsId}",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sasportal"
          ],
          "parameters": {
            "name": {
              "required": true,
              "description": "Required. The name of the deployment.",
              "type": "string",
              "location": "path",
              "pattern": "^deployments/[^/]+$"
            }
          },
          "path": "v1alpha1/{+name}",
          "description": "Returns a requested deployment."
        }
      }
    },
    "installer": {
      "methods": {
        "validate": {
          "parameters": {},
          "flatPath": "v1alpha1/installer:validate",
          "path": "v1alpha1/installer:validate",
          "description": "Validates the identity of a Certified Professional Installer (CPI).",
          "id": "sasportal.installer.validate",
          "response": {
            "$ref": "SasPortalValidateInstallerResponse"
          },
          "request": {
            "$ref": "SasPortalValidateInstallerRequest"
          },
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sasportal"
          ],
          "parameterOrder": []
        },
        "generateSecret": {
          "parameterOrder": [],
          "parameters": {},
          "path": "v1alpha1/installer:generateSecret",
          "description": "Generates a secret to be used with the ValidateInstaller.",
          "id": "sasportal.installer.generateSecret",
          "response": {
            "$ref": "SasPortalGenerateSecretResponse"
          },
          "request": {
            "$ref": "SasPortalGenerateSecretRequest"
          },
          "httpMethod": "POST",
          "flatPath": "v1alpha1/installer:generateSecret",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sasportal"
          ]
        }
      }
    },
    "nodes": {
      "resources": {
        "devices": {
          "methods": {
            "move": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/sasportal"
              ],
              "flatPath": "v1alpha1/nodes/{nodesId}/devices/{devicesId}:move",
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "SasPortalOperation"
              },
              "parameters": {
                "name": {
                  "description": "Required. The name of the device to move.",
                  "pattern": "^nodes/[^/]+/devices/[^/]+$",
                  "required": true,
                  "location": "path",
                  "type": "string"
                }
              },
              "id": "sasportal.nodes.devices.move",
              "httpMethod": "POST",
              "request": {
                "$ref": "SasPortalMoveDeviceRequest"
              },
              "description": "Moves a device under another node or customer.",
              "path": "v1alpha1/{+name}:move"
            },
            "list": {
              "path": "v1alpha1/{+parent}/devices",
              "httpMethod": "GET",
              "id": "sasportal.nodes.devices.list",
              "parameters": {
                "pageToken": {
                  "location": "query",
                  "description": "A pagination token returned from a previous call to ListDevices that indicates where this listing should continue from.",
                  "type": "string"
                },
                "parent": {
                  "pattern": "^nodes/[^/]+$",
                  "required": true,
                  "description": "Required. The name of the parent resource.",
                  "type": "string",
                  "location": "path"
                },
                "pageSize": {
                  "type": "integer",
                  "location": "query",
                  "format": "int32",
                  "description": "The maximum number of devices to return in the response. If empty or zero, all devices will be listed. Must be in the range [0, 1000]."
                },
                "filter": {
                  "type": "string",
                  "location": "query",
                  "description": "The filter expression. The filter should have one of the following formats: \"sn=123454\" or \"display_name=MyDevice\". sn corresponds to serial number of the device. The filter is case insensitive."
                }
              },
              "description": "Lists devices under a node or customer.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/sasportal"
              ],
              "flatPath": "v1alpha1/nodes/{nodesId}/devices",
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "SasPortalListDevicesResponse"
              }
            },
            "create": {
              "parameters": {
                "parent": {
                  "pattern": "^nodes/[^/]+$",
                  "type": "string",
                  "required": true,
                  "description": "Required. The name of the parent resource.",
                  "location": "path"
                }
              },
              "flatPath": "v1alpha1/nodes/{nodesId}/devices",
              "id": "sasportal.nodes.devices.create",
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "SasPortalDevice"
              },
              "request": {
                "$ref": "SasPortalDevice"
              },
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/sasportal"
              ],
              "description": "Creates a device under a node or customer.",
              "path": "v1alpha1/{+parent}/devices"
            },
            "signDevice": {
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/sasportal"
              ],
              "id": "sasportal.nodes.devices.signDevice",
              "response": {
                "$ref": "SasPortalEmpty"
              },
              "parameters": {
                "name": {
                  "type": "string",
                  "required": true,
                  "location": "path",
                  "pattern": "^nodes/[^/]+/devices/[^/]+$",
                  "description": "Output only. The resource path name."
                }
              },
              "flatPath": "v1alpha1/nodes/{nodesId}/devices/{devicesId}:signDevice",
              "description": "Signs a device.",
              "request": {
                "$ref": "SasPortalSignDeviceRequest"
              },
              "path": "v1alpha1/{+name}:signDevice",
              "parameterOrder": [
                "name"
              ]
            },
            "updateSigned": {
              "request": {
                "$ref": "SasPortalUpdateSignedDeviceRequest"
              },
              "description": "Updates a signed device.",
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "PATCH",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/sasportal"
              ],
              "path": "v1alpha1/{+name}:updateSigned",
              "id": "sasportal.nodes.devices.updateSigned",
              "flatPath": "v1alpha1/nodes/{nodesId}/devices/{devicesId}:updateSigned",
              "response": {
                "$ref": "SasPortalDevice"
              },
              "parameters": {
                "name": {
                  "type": "string",
                  "location": "path",
                  "description": "Required. The name of the device to update.",
                  "pattern": "^nodes/[^/]+/devices/[^/]+$",
                  "required": true
                }
              }
            },
            "delete": {
              "id": "sasportal.nodes.devices.delete",
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1alpha1/nodes/{nodesId}/devices/{devicesId}",
              "httpMethod": "DELETE",
              "response": {
                "$ref": "SasPortalEmpty"
              },
              "path": "v1alpha1/{+name}",
              "description": "Deletes a device.",
              "parameters": {
                "name": {
                  "required": true,
                  "pattern": "^nodes/[^/]+/devices/[^/]+$",
                  "description": "Required. The name of the device.",
                  "type": "string",
                  "location": "path"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/sasportal"
              ]
            },
            "createSigned": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/sasportal"
              ],
              "flatPath": "v1alpha1/nodes/{nodesId}/devices:createSigned",
              "httpMethod": "POST",
              "response": {
                "$ref": "SasPortalDevice"
              },
              "request": {
                "$ref": "SasPortalCreateSignedDeviceRequest"
              },
              "description": "Creates a signed device under a node or customer.",
              "parameterOrder": [
                "parent"
              ],
              "id": "sasportal.nodes.devices.createSigned",
              "parameters": {
                "parent": {
                  "description": "Required. The name of the parent resource.",
                  "pattern": "^nodes/[^/]+$",
                  "required": true,
                  "type": "string",
                  "location": "path"
                }
              },
              "path": "v1alpha1/{+parent}/devices:createSigned"
            },
            "get": {
              "parameters": {
                "name": {
                  "required": true,
                  "pattern": "^nodes/[^/]+/devices/[^/]+$",
                  "type": "string",
                  "description": "Required. The name of the device.",
                  "location": "path"
                }
              },
              "description": "Gets details about a device.",
              "id": "sasportal.nodes.devices.get",
              "response": {
                "$ref": "SasPortalDevice"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/sasportal"
              ],
              "flatPath": "v1alpha1/nodes/{nodesId}/devices/{devicesId}",
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "GET",
              "path": "v1alpha1/{+name}"
            },
            "patch": {
              "parameters": {
                "name": {
                  "required": true,
                  "pattern": "^nodes/[^/]+/devices/[^/]+$",
                  "description": "Output only. The resource path name.",
                  "location": "path",
                  "type": "string"
                },
                "updateMask": {
                  "type": "string",
                  "description": "Fields to be updated.",
                  "location": "query",
                  "format": "google-fieldmask"
                }
              },
              "description": "Updates a device.",
              "flatPath": "v1alpha1/nodes/{nodesId}/devices/{devicesId}",
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "SasPortalDevice"
              },
              "path": "v1alpha1/{+name}",
              "httpMethod": "PATCH",
              "id": "sasportal.nodes.devices.patch",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/sasportal"
              ],
              "request": {
                "$ref": "SasPortalDevice"
              }
            }
          }
        },
        "nodes": {
          "resources": {
            "deployments": {
              "methods": {
                "create": {
                  "flatPath": "v1alpha1/nodes/{nodesId}/nodes/{nodesId1}/deployments",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/sasportal"
                  ],
                  "httpMethod": "POST",
                  "description": "Creates a new deployment.",
                  "response": {
                    "$ref": "SasPortalDeployment"
                  },
                  "path": "v1alpha1/{+parent}/deployments",
                  "id": "sasportal.nodes.nodes.deployments.create",
                  "parameters": {
                    "parent": {
                      "type": "string",
                      "description": "Required. The parent resource name where the deployment is to be created.",
                      "required": true,
                      "pattern": "^nodes/[^/]+/nodes/[^/]+$",
                      "location": "path"
                    }
                  },
                  "request": {
                    "$ref": "SasPortalDeployment"
                  },
                  "parameterOrder": [
                    "parent"
                  ]
                },
                "list": {
                  "description": "Lists deployments.",
                  "httpMethod": "GET",
                  "path": "v1alpha1/{+parent}/deployments",
                  "response": {
                    "$ref": "SasPortalListDeploymentsResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/sasportal"
                  ],
                  "flatPath": "v1alpha1/nodes/{nodesId}/nodes/{nodesId1}/deployments",
                  "parameters": {
                    "pageSize": {
                      "type": "integer",
                      "location": "query",
                      "description": "The maximum number of deployments to return in the response.",
                      "format": "int32"
                    },
                    "filter": {
                      "location": "query",
                      "type": "string",
                      "description": "The filter expression. The filter should have the following format: \"DIRECT_CHILDREN\" or format: \"direct_children\". The filter is case insensitive. If empty, then no deployments are filtered."
                    },
                    "pageToken": {
                      "type": "string",
                      "location": "query",
                      "description": "A pagination token returned from a previous call to ListDeployments that indicates where this listing should continue from."
                    },
                    "parent": {
                      "type": "string",
                      "pattern": "^nodes/[^/]+/nodes/[^/]+$",
                      "required": true,
                      "location": "path",
                      "description": "Required. The parent resource name, for example, \"nodes/1\", customer/1/nodes/2."
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "id": "sasportal.nodes.nodes.deployments.list"
                }
              }
            },
            "nodes": {
              "methods": {
                "create": {
                  "description": "Creates a new node.",
                  "id": "sasportal.nodes.nodes.nodes.create",
                  "request": {
                    "$ref": "SasPortalNode"
                  },
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "type": "string",
                      "required": true,
                      "description": "Required. The parent resource name where the node is to be created.",
                      "pattern": "^nodes/[^/]+/nodes/[^/]+$"
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "path": "v1alpha1/{+parent}/nodes",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/sasportal"
                  ],
                  "response": {
                    "$ref": "SasPortalNode"
                  },
                  "flatPath": "v1alpha1/nodes/{nodesId}/nodes/{nodesId1}/nodes",
                  "httpMethod": "POST"
                },
                "list": {
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "parent"
                  ],
                  "description": "Lists nodes.",
                  "id": "sasportal.nodes.nodes.nodes.list",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/sasportal"
                  ],
                  "parameters": {
                    "filter": {
                      "description": "The filter expression. The filter should have the following format: \"DIRECT_CHILDREN\" or format: \"direct_children\". The filter is case insensitive. If empty, then no nodes are filtered.",
                      "type": "string",
                      "location": "query"
                    },
                    "pageSize": {
                      "format": "int32",
                      "description": "The maximum number of nodes to return in the response.",
                      "location": "query",
                      "type": "integer"
                    },
                    "parent": {
                      "type": "string",
                      "required": true,
                      "pattern": "^nodes/[^/]+/nodes/[^/]+$",
                      "location": "path",
                      "description": "Required. The parent resource name, for example, \"nodes/1\"."
                    },
                    "pageToken": {
                      "location": "query",
                      "description": "A pagination token returned from a previous call to ListNodes that indicates where this listing should continue from.",
                      "type": "string"
                    }
                  },
                  "response": {
                    "$ref": "SasPortalListNodesResponse"
                  },
                  "path": "v1alpha1/{+parent}/nodes",
                  "flatPath": "v1alpha1/nodes/{nodesId}/nodes/{nodesId1}/nodes"
                }
              }
            },
            "devices": {
              "methods": {
                "list": {
                  "flatPath": "v1alpha1/nodes/{nodesId}/nodes/{nodesId1}/devices",
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "SasPortalListDevicesResponse"
                  },
                  "description": "Lists devices under a node or customer.",
                  "parameterOrder": [
                    "parent"
                  ],
                  "id": "sasportal.nodes.nodes.devices.list",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/sasportal"
                  ],
                  "parameters": {
                    "pageSize": {
                      "location": "query",
                      "type": "integer",
                      "description": "The maximum number of devices to return in the response. If empty or zero, all devices will be listed. Must be in the range [0, 1000].",
                      "format": "int32"
                    },
                    "parent": {
                      "description": "Required. The name of the parent resource.",
                      "location": "path",
                      "type": "string",
                      "required": true,
                      "pattern": "^nodes/[^/]+/nodes/[^/]+$"
                    },
                    "pageToken": {
                      "type": "string",
                      "description": "A pagination token returned from a previous call to ListDevices that indicates where this listing should continue from.",
                      "location": "query"
                    },
                    "filter": {
                      "description": "The filter expression. The filter should have one of the following formats: \"sn=123454\" or \"display_name=MyDevice\". sn corresponds to serial number of the device. The filter is case insensitive.",
                      "type": "string",
                      "location": "query"
                    }
                  },
                  "path": "v1alpha1/{+parent}/devices"
                },
                "createSigned": {
                  "id": "sasportal.nodes.nodes.devices.createSigned",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/sasportal"
                  ],
                  "description": "Creates a signed device under a node or customer.",
                  "response": {
                    "$ref": "SasPortalDevice"
                  },
                  "httpMethod": "POST",
                  "flatPath": "v1alpha1/nodes/{nodesId}/nodes/{nodesId1}/devices:createSigned",
                  "request": {
                    "$ref": "SasPortalCreateSignedDeviceRequest"
                  },
                  "path": "v1alpha1/{+parent}/devices:createSigned",
                  "parameterOrder": [
                    "parent"
                  ],
                  "parameters": {
                    "parent": {
                      "type": "string",
                      "location": "path",
                      "pattern": "^nodes/[^/]+/nodes/[^/]+$",
                      "required": true,
                      "description": "Required. The name of the parent resource."
                    }
                  }
                },
                "create": {
                  "httpMethod": "POST",
                  "description": "Creates a device under a node or customer.",
                  "id": "sasportal.nodes.nodes.devices.create",
                  "request": {
                    "$ref": "SasPortalDevice"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/sasportal"
                  ],
                  "parameters": {
                    "parent": {
                      "description": "Required. The name of the parent resource.",
                      "location": "path",
                      "pattern": "^nodes/[^/]+/nodes/[^/]+$",
                      "type": "string",
                      "required": true
                    }
                  },
                  "flatPath": "v1alpha1/nodes/{nodesId}/nodes/{nodesId1}/devices",
                  "path": "v1alpha1/{+parent}/devices",
                  "response": {
                    "$ref": "SasPortalDevice"
                  }
                }
              }
            }
          },
          "methods": {
            "patch": {
              "parameterOrder": [
                "name"
              ],
              "request": {
                "$ref": "SasPortalNode"
              },
              "httpMethod": "PATCH",
              "response": {
                "$ref": "SasPortalNode"
              },
              "parameters": {
                "updateMask": {
                  "type": "string",
                  "description": "Fields to be updated.",
                  "format": "google-fieldmask",
                  "location": "query"
                },
                "name": {
                  "description": "Output only. Resource name.",
                  "required": true,
                  "type": "string",
                  "pattern": "^nodes/[^/]+/nodes/[^/]+$",
                  "location": "path"
                }
              },
              "flatPath": "v1alpha1/nodes/{nodesId}/nodes/{nodesId1}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/sasportal"
              ],
              "description": "Updates an existing node.",
              "id": "sasportal.nodes.nodes.patch",
              "path": "v1alpha1/{+name}"
            },
            "create": {
              "path": "v1alpha1/{+parent}/nodes",
              "flatPath": "v1alpha1/nodes/{nodesId}/nodes",
              "response": {
                "$ref": "SasPortalNode"
              },
              "parameters": {
                "parent": {
                  "required": true,
                  "description": "Required. The parent resource name where the node is to be created.",
                  "type": "string",
                  "pattern": "^nodes/[^/]+$",
                  "location": "path"
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "id": "sasportal.nodes.nodes.create",
              "request": {
                "$ref": "SasPortalNode"
              },
              "description": "Creates a new node.",
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/sasportal"
              ]
            },
            "list": {
              "path": "v1alpha1/{+parent}/nodes",
              "response": {
                "$ref": "SasPortalListNodesResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/sasportal"
              ],
              "flatPath": "v1alpha1/nodes/{nodesId}/nodes",
              "parameters": {
                "pageSize": {
                  "description": "The maximum number of nodes to return in the response.",
                  "location": "query",
                  "format": "int32",
                  "type": "integer"
                },
                "filter": {
                  "type": "string",
                  "location": "query",
                  "description": "The filter expression. The filter should have the following format: \"DIRECT_CHILDREN\" or format: \"direct_children\". The filter is case insensitive. If empty, then no nodes are filtered."
                },
                "parent": {
                  "description": "Required. The parent resource name, for example, \"nodes/1\".",
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "pattern": "^nodes/[^/]+$"
                },
                "pageToken": {
                  "location": "query",
                  "description": "A pagination token returned from a previous call to ListNodes that indicates where this listing should continue from.",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "description": "Lists nodes.",
              "id": "sasportal.nodes.nodes.list",
              "httpMethod": "GET"
            },
            "move": {
              "flatPath": "v1alpha1/nodes/{nodesId}/nodes/{nodesId1}:move",
              "httpMethod": "POST",
              "response": {
                "$ref": "SasPortalOperation"
              },
              "description": "Moves a node under another node or customer.",
              "request": {
                "$ref": "SasPortalMoveNodeRequest"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/sasportal"
              ],
              "id": "sasportal.nodes.nodes.move",
              "path": "v1alpha1/{+name}:move",
              "parameters": {
                "name": {
                  "pattern": "^nodes/[^/]+/nodes/[^/]+$",
                  "description": "Required. The name of the node to move.",
                  "location": "path",
                  "type": "string",
                  "required": true
                }
              },
              "parameterOrder": [
                "name"
              ]
            },
            "get": {
              "httpMethod": "GET",
              "response": {
                "$ref": "SasPortalNode"
              },
              "path": "v1alpha1/{+name}",
              "flatPath": "v1alpha1/nodes/{nodesId}/nodes/{nodesId1}",
              "parameters": {
                "name": {
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "pattern": "^nodes/[^/]+/nodes/[^/]+$",
                  "description": "Required. The name of the node."
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/sasportal"
              ],
              "parameterOrder": [
                "name"
              ],
              "id": "sasportal.nodes.nodes.get",
              "description": "Returns a requested node."
            },
            "delete": {
              "description": "Deletes a node.",
              "response": {
                "$ref": "SasPortalEmpty"
              },
              "id": "sasportal.nodes.nodes.delete",
              "httpMethod": "DELETE",
              "flatPath": "v1alpha1/nodes/{nodesId}/nodes/{nodesId1}",
              "path": "v1alpha1/{+name}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/sasportal"
              ],
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "description": "Required. The name of the node.",
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "pattern": "^nodes/[^/]+/nodes/[^/]+$"
                }
              }
            }
          }
        },
        "deployments": {
          "methods": {
            "move": {
              "httpMethod": "POST",
              "request": {
                "$ref": "SasPortalMoveDeploymentRequest"
              },
              "id": "sasportal.nodes.deployments.move",
              "flatPath": "v1alpha1/nodes/{nodesId}/deployments/{deploymentsId}:move",
              "response": {
                "$ref": "SasPortalOperation"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/sasportal"
              ],
              "description": "Moves a deployment under another node or customer.",
              "parameters": {
                "name": {
                  "pattern": "^nodes/[^/]+/deployments/[^/]+$",
                  "description": "Required. The name of the deployment to move.",
                  "required": true,
                  "type": "string",
                  "location": "path"
                }
              },
              "path": "v1alpha1/{+name}:move",
              "parameterOrder": [
                "name"
              ]
            },
            "list": {
              "description": "Lists deployments.",
              "httpMethod": "GET",
              "parameterOrder": [
                "parent"
              ],
              "flatPath": "v1alpha1/nodes/{nodesId}/deployments",
              "response": {
                "$ref": "SasPortalListDeploymentsResponse"
              },
              "path": "v1alpha1/{+parent}/deployments",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/sasportal"
              ],
              "id": "sasportal.nodes.deployments.list",
              "parameters": {
                "parent": {
                  "required": true,
                  "type": "string",
                  "pattern": "^nodes/[^/]+$",
                  "description": "Required. The parent resource name, for example, \"nodes/1\", customer/1/nodes/2.",
                  "location": "path"
                },
                "pageSize": {
                  "description": "The maximum number of deployments to return in the response.",
                  "location": "query",
                  "format": "int32",
                  "type": "integer"
                },
                "filter": {
                  "location": "query",
                  "description": "The filter expression. The filter should have the following format: \"DIRECT_CHILDREN\" or format: \"direct_children\". The filter is case insensitive. If empty, then no deployments are filtered.",
                  "type": "string"
                },
                "pageToken": {
                  "description": "A pagination token returned from a previous call to ListDeployments that indicates where this listing should continue from.",
                  "location": "query",
                  "type": "string"
                }
              }
            },
            "delete": {
              "parameters": {
                "name": {
                  "pattern": "^nodes/[^/]+/deployments/[^/]+$",
                  "description": "Required. The name of the deployment.",
                  "location": "path",
                  "type": "string",
                  "required": true
                }
              },
              "description": "Deletes a deployment.",
              "id": "sasportal.nodes.deployments.delete",
              "httpMethod": "DELETE",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/sasportal"
              ],
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "SasPortalEmpty"
              },
              "path": "v1alpha1/{+name}",
              "flatPath": "v1alpha1/nodes/{nodesId}/deployments/{deploymentsId}"
            },
            "get": {
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "pattern": "^nodes/[^/]+/deployments/[^/]+$",
                  "description": "Required. The name of the deployment.",
                  "location": "path",
                  "type": "string",
                  "required": true
                }
              },
              "description": "Returns a requested deployment.",
              "httpMethod": "GET",
              "response": {
                "$ref": "SasPortalDeployment"
              },
              "id": "sasportal.nodes.deployments.get",
              "flatPath": "v1alpha1/nodes/{nodesId}/deployments/{deploymentsId}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/sasportal"
              ],
              "path": "v1alpha1/{+name}"
            },
            "patch": {
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "PATCH",
              "path": "v1alpha1/{+name}",
              "id": "sasportal.nodes.deployments.patch",
              "request": {
                "$ref": "SasPortalDeployment"
              },
              "response": {
                "$ref": "SasPortalDeployment"
              },
              "flatPath": "v1alpha1/nodes/{nodesId}/deployments/{deploymentsId}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/sasportal"
              ],
              "description": "Updates an existing deployment.",
              "parameters": {
                "name": {
                  "pattern": "^nodes/[^/]+/deployments/[^/]+$",
                  "description": "Output only. Resource name.",
                  "location": "path",
                  "type": "string",
                  "required": true
                },
                "updateMask": {
                  "location": "query",
                  "description": "Fields to be updated.",
                  "format": "google-fieldmask",
                  "type": "string"
                }
              }
            }
          },
          "resources": {
            "devices": {
              "methods": {
                "list": {
                  "parameters": {
                    "parent": {
                      "required": true,
                      "description": "Required. The name of the parent resource.",
                      "type": "string",
                      "location": "path",
                      "pattern": "^nodes/[^/]+/deployments/[^/]+$"
                    },
                    "pageToken": {
                      "location": "query",
                      "type": "string",
                      "description": "A pagination token returned from a previous call to ListDevices that indicates where this listing should continue from."
                    },
                    "pageSize": {
                      "location": "query",
                      "format": "int32",
                      "type": "integer",
                      "description": "The maximum number of devices to return in the response. If empty or zero, all devices will be listed. Must be in the range [0, 1000]."
                    },
                    "filter": {
                      "type": "string",
                      "location": "query",
                      "description": "The filter expression. The filter should have one of the following formats: \"sn=123454\" or \"display_name=MyDevice\". sn corresponds to serial number of the device. The filter is case insensitive."
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/sasportal"
                  ],
                  "path": "v1alpha1/{+parent}/devices",
                  "flatPath": "v1alpha1/nodes/{nodesId}/deployments/{deploymentsId}/devices",
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "SasPortalListDevicesResponse"
                  },
                  "description": "Lists devices under a node or customer.",
                  "id": "sasportal.nodes.deployments.devices.list"
                },
                "createSigned": {
                  "flatPath": "v1alpha1/nodes/{nodesId}/deployments/{deploymentsId}/devices:createSigned",
                  "description": "Creates a signed device under a node or customer.",
                  "response": {
                    "$ref": "SasPortalDevice"
                  },
                  "id": "sasportal.nodes.deployments.devices.createSigned",
                  "parameters": {
                    "parent": {
                      "required": true,
                      "pattern": "^nodes/[^/]+/deployments/[^/]+$",
                      "description": "Required. The name of the parent resource.",
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "path": "v1alpha1/{+parent}/devices:createSigned",
                  "parameterOrder": [
                    "parent"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/sasportal"
                  ],
                  "request": {
                    "$ref": "SasPortalCreateSignedDeviceRequest"
                  },
                  "httpMethod": "POST"
                },
                "create": {
                  "id": "sasportal.nodes.deployments.devices.create",
                  "parameterOrder": [
                    "parent"
                  ],
                  "path": "v1alpha1/{+parent}/devices",
                  "parameters": {
                    "parent": {
                      "required": true,
                      "description": "Required. The name of the parent resource.",
                      "type": "string",
                      "location": "path",
                      "pattern": "^nodes/[^/]+/deployments/[^/]+$"
                    }
                  },
                  "flatPath": "v1alpha1/nodes/{nodesId}/deployments/{deploymentsId}/devices",
                  "response": {
                    "$ref": "SasPortalDevice"
                  },
                  "httpMethod": "POST",
                  "description": "Creates a device under a node or customer.",
                  "request": {
                    "$ref": "SasPortalDevice"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/sasportal"
                  ]
                }
              }
            }
          }
        }
      },
      "methods": {
        "get": {
          "id": "sasportal.nodes.get",
          "path": "v1alpha1/{+name}",
          "description": "Returns a requested node.",
          "parameters": {
            "name": {
              "required": true,
              "description": "Required. The name of the node.",
              "type": "string",
              "pattern": "^nodes/[^/]+$",
              "location": "path"
            }
          },
          "scopes": [
[...]
