{
  "documentationLink": "https://developers.google.com/spectrum-access-system/",
  "ownerName": "Google",
  "description": "",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "servicePath": "",
  "ownerDomain": "google.com",
  "title": "SAS Portal API",
  "mtlsRootUrl": "https://sasportal.mtls.googleapis.com/",
  "discoveryVersion": "v1",
  "basePath": "",
  "name": "sasportal",
  "version_module": true,
  "schemas": {
    "SasPortalUpdateSignedDeviceRequest": {
      "properties": {
        "encodedDevice": {
          "description": "Required. The JSON Web Token signed using a CPI private key. Payload must be the JSON encoding of the device. The user_id field must be set.",
          "type": "string",
          "format": "byte"
        },
        "installerId": {
          "type": "string",
          "description": "Required. Unique installer ID (CPI ID) from the Certified Professional Installers database."
        }
      },
      "description": "Request for UpdateSignedDevice.",
      "type": "object",
      "id": "SasPortalUpdateSignedDeviceRequest"
    },
    "SasPortalListLegacyOrganizationsResponse": {
      "id": "SasPortalListLegacyOrganizationsResponse",
      "description": "Response for [ListLegacyOrganizations]. [spectrum.sas.portal.v1alpha1.Provisioning.ListLegacyOrganizations].",
      "type": "object",
      "properties": {
        "organizations": {
          "items": {
            "$ref": "SasPortalOrganization"
          },
          "type": "array",
          "description": "Optional. Legacy SAS organizations."
        }
      }
    },
    "SasPortalGenerateSecretRequest": {
      "type": "object",
      "id": "SasPortalGenerateSecretRequest",
      "properties": {},
      "description": "Request for GenerateSecret."
    },
    "SasPortalCustomer": {
      "type": "object",
      "id": "SasPortalCustomer",
      "description": "Entity representing a SAS customer.",
      "properties": {
        "name": {
          "type": "string",
          "description": "Output only. Resource name of the customer."
        },
        "displayName": {
          "type": "string",
          "description": "Required. Name of the organization that the customer entity represents."
        },
        "sasUserIds": {
          "description": "User IDs used by the devices belonging to this customer.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "SasPortalSignDeviceRequest": {
      "properties": {
        "device": {
          "description": "Required. The device to sign. The device fields name, fcc_id and serial_number must be set. The user_id field must be set.",
          "$ref": "SasPortalDevice"
        }
      },
      "description": "Request for SignDevice.",
      "id": "SasPortalSignDeviceRequest",
      "type": "object"
    },
    "SasPortalTestPermissionsResponse": {
      "id": "SasPortalTestPermissionsResponse",
      "type": "object",
      "properties": {
        "permissions": {
          "description": "A set of permissions that the caller is allowed.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "description": "Response message for `TestPermissions` method."
    },
    "SasPortalListDeploymentsResponse": {
      "type": "object",
      "description": "Response for ListDeployments.",
      "id": "SasPortalListDeploymentsResponse",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A pagination token returned from a previous call to ListDeployments that indicates from where listing should continue. If the field is missing or empty, it means there are no more deployments."
        },
        "deployments": {
          "items": {
            "$ref": "SasPortalDeployment"
          },
          "type": "array",
          "description": "The deployments that match the request."
        }
      }
    },
    "SasPortalGenerateSecretResponse": {
      "id": "SasPortalGenerateSecretResponse",
      "description": "Response for GenerateSecret.",
      "properties": {
        "secret": {
          "description": "The secret generated by the string and used by ValidateInstaller.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "SasPortalDeviceConfig": {
      "id": "SasPortalDeviceConfig",
      "description": "Information about the device configuration.",
      "type": "object",
      "properties": {
        "category": {
          "description": "FCC category of the device.",
          "enumDescriptions": [
            "Unspecified device category.",
            "Category A.",
            "Category B."
          ],
          "enum": [
            "DEVICE_CATEGORY_UNSPECIFIED",
            "DEVICE_CATEGORY_A",
            "DEVICE_CATEGORY_B"
          ],
          "type": "string"
        },
        "callSign": {
          "description": "The call sign of the device operator.",
          "type": "string"
        },
        "measurementCapabilities": {
          "items": {
            "enumDescriptions": [
              "",
              "",
              ""
            ],
            "enum": [
              "MEASUREMENT_CAPABILITY_UNSPECIFIED",
              "MEASUREMENT_CAPABILITY_RECEIVED_POWER_WITH_GRANT",
              "MEASUREMENT_CAPABILITY_RECEIVED_POWER_WITHOUT_GRANT"
            ],
            "type": "string"
          },
          "description": "Measurement reporting capabilities of the device.",
          "type": "array"
        },
        "model": {
          "description": "Information about this device model.",
          "$ref": "SasPortalDeviceModel"
        },
        "state": {
          "enum": [
            "DEVICE_CONFIG_STATE_UNSPECIFIED",
            "DRAFT",
            "FINAL"
          ],
          "description": "State of the configuration.",
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "type": "string"
        },
        "installationParams": {
          "description": "Installation parameters for the device.",
          "$ref": "SasPortalInstallationParams"
        },
        "isSigned": {
          "type": "boolean",
          "description": "Output only. Whether the configuration has been signed by a CPI."
        },
        "updateTime": {
          "format": "google-datetime",
          "description": "Output only. The last time the device configuration was edited.",
          "type": "string"
        },
        "userId": {
          "type": "string",
          "description": "The identifier of a device user."
        },
        "airInterface": {
          "$ref": "SasPortalDeviceAirInterface",
          "description": "Information about this device's air interface."
        }
      }
    },
    "SasPortalChannelWithScore": {
      "properties": {
        "frequencyRange": {
          "$ref": "SasPortalFrequencyRange",
          "description": "The frequency range of the channel."
        },
        "score": {
          "type": "number",
          "description": "The channel score, normalized to be in the range [0,100].",
          "format": "double"
        }
      },
      "description": "The channel with score.",
      "type": "object",
      "id": "SasPortalChannelWithScore"
    },
    "SasPortalTestPermissionsRequest": {
      "properties": {
        "resource": {
          "description": "Required. The resource for which the permissions are being requested.",
          "type": "string"
        },
        "permissions": {
          "description": "The set of permissions to check for the `resource`.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "type": "object",
      "description": "Request message for `TestPermissions` method.",
      "id": "SasPortalTestPermissionsRequest"
    },
    "SasPortalDeviceModel": {
      "properties": {
        "firmwareVersion": {
          "description": "The firmware version of the device.",
          "type": "string"
        },
        "softwareVersion": {
          "description": "The software version of the device.",
          "type": "string"
        },
        "hardwareVersion": {
          "description": "The hardware version of the device.",
          "type": "string"
        },
        "vendor": {
          "type": "string",
          "description": "The name of the device vendor."
        },
        "name": {
          "type": "string",
          "description": "The name of the device model."
        }
      },
      "type": "object",
      "id": "SasPortalDeviceModel",
      "description": "Information about the model of the device."
    },
    "SasPortalGetPolicyRequest": {
      "type": "object",
      "description": "Request message for `GetPolicy` method.",
      "properties": {
        "resource": {
          "description": "Required. The resource for which the policy is being requested.",
          "type": "string"
        }
      },
      "id": "SasPortalGetPolicyRequest"
    },
    "SasPortalDeviceMetadata": {
      "id": "SasPortalDeviceMetadata",
      "type": "object",
      "description": "Device data overridable by both SAS Portal and registration requests.",
      "properties": {
        "interferenceCoordinationGroup": {
          "description": "Interference Coordination Group (ICG). A group of CBSDs that manage their own interference with the group. For more details, see [CBRSA-TS-2001 V3.0.0](https://ongoalliance.org/wp-content/uploads/2020/02/CBRSA-TS-2001-V3.0.0_Approved-for-publication.pdf).",
          "type": "string"
        },
        "commonChannelGroup": {
          "description": "Common Channel Group (CCG). A group of CBSDs in the same ICG requesting a common primary channel assignment. For more details, see [CBRSA-TS-2001 V3.0.0](https://ongoalliance.org/wp-content/uploads/2020/02/CBRSA-TS-2001-V3.0.0_Approved-for-publication.pdf).",
          "type": "string"
        },
        "nrqzValidated": {
          "description": "Output only. Set to `true` if a CPI has validated that they have coordinated with the National Quiet Zone office.",
          "deprecated": true,
          "type": "boolean",
          "readOnly": true
        },
        "antennaModel": {
          "type": "string",
          "description": "If populated, the Antenna Model Pattern to use. Format is: `RecordCreatorId:PatternId`"
        },
        "nrqzValidation": {
          "readOnly": true,
          "description": "Output only. National Radio Quiet Zone validation info.",
          "$ref": "SasPortalNrqzValidation"
        }
      }
    },
    "SasPortalMoveDeploymentRequest": {
      "type": "object",
      "properties": {
        "destination": {
          "type": "string",
          "description": "Required. The name of the new parent resource node or customer to reparent the deployment under."
        }
      },
      "id": "SasPortalMoveDeploymentRequest",
      "description": "Request for MoveDeployment."
    },
    "SasPortalDpaMoveList": {
      "properties": {
        "dpaId": {
          "description": "The ID of the DPA.",
          "type": "string"
        },
        "frequencyRange": {
          "$ref": "SasPortalFrequencyRange",
          "description": "The frequency range that the move list affects."
        }
      },
      "description": "An entry in a DPA's move list.",
      "id": "SasPortalDpaMoveList",
      "type": "object"
    },
    "SasPortalDeploymentAssociation": {
      "id": "SasPortalDeploymentAssociation",
      "properties": {
        "userId": {
          "description": "User id of the deployment.",
          "type": "string"
        },
        "gcpProjectId": {
          "type": "string",
          "description": "GCP project id of the associated project."
        }
      },
      "type": "object",
      "description": "Association between a gcp project and a SAS user id."
    },
    "SasPortalDevice": {
      "id": "SasPortalDevice",
      "properties": {
        "state": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified state.",
            "Device created in the SAS Portal, however, not yet registered with SAS.",
            "Device registered with SAS.",
            "Device de-registered with SAS."
          ],
          "description": "Output only. Device state.",
          "enum": [
            "DEVICE_STATE_UNSPECIFIED",
            "RESERVED",
            "REGISTERED",
            "DEREGISTERED"
          ]
        },
        "grants": {
          "items": {
            "$ref": "SasPortalDeviceGrant"
          },
          "description": "Output only. Grants held by the device.",
          "type": "array"
        },
        "grantRangeAllowlists": {
          "description": "Only ranges that are within the allowlists are available for new grants.",
          "type": "array",
          "items": {
            "$ref": "SasPortalFrequencyRange"
          }
        },
        "deviceMetadata": {
          "$ref": "SasPortalDeviceMetadata",
          "description": "Device parameters that can be overridden by both SAS Portal and SAS registration requests."
        },
        "fccId": {
          "description": "The FCC identifier of the device. Refer to https://www.fcc.gov/oet/ea/fccid for FccID format. Accept underscores and periods because some test-SAS customers use them.",
          "type": "string"
        },
        "preloadedConfig": {
          "description": "Configuration of the device, as specified via SAS Portal API.",
          "$ref": "SasPortalDeviceConfig"
        },
        "name": {
          "description": "Output only. The resource path name.",
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "description": "Device display name."
        },
        "serialNumber": {
          "description": "A serial number assigned to the device by the device manufacturer.",
          "type": "string"
        },
        "activeConfig": {
          "description": "Output only. Current configuration of the device as registered to the SAS.",
          "$ref": "SasPortalDeviceConfig"
        },
        "currentChannels": {
          "deprecated": true,
          "type": "array",
          "readOnly": true,
          "description": "Output only. Current channels with scores.",
          "items": {
            "$ref": "SasPortalChannelWithScore"
          }
        }
      },
      "type": "object"
    },
    "SasPortalInstallationParams": {
      "properties": {
        "antennaDowntilt": {
          "description": "Antenna downtilt in degrees and is an integer with a value between -90 and +90 inclusive; a negative value means the antenna is tilted up (above horizontal). This parameter is optional for Category A devices and conditional for Category B devices.",
          "format": "int32",
          "type": "integer"
        },
        "indoorDeployment": {
          "description": "Whether the device antenna is indoor or not. `true`: indoor. `false`: outdoor.",
          "type": "boolean"
        },
        "eirpCapability": {
          "type": "integer",
          "description": "This parameter is the maximum device EIRP in units of dBm/10MHz and is an integer with a value between -127 and +47 (dBm/10 MHz) inclusive. If not included, SAS interprets it as maximum allowable EIRP in units of dBm/10MHz for device category.",
          "format": "int32"
        },
        "heightType": {
          "enum": [
            "HEIGHT_TYPE_UNSPECIFIED",
            "HEIGHT_TYPE_AGL",
            "HEIGHT_TYPE_AMSL"
          ],
          "enumDescriptions": [
            "Unspecified height type.",
            "AGL height is measured relative to the ground level.",
            "AMSL height is measured relative to the mean sea level."
          ],
          "description": "Specifies how the height is measured.",
          "type": "string"
        },
        "latitude": {
          "format": "double",
          "type": "number",
          "description": "Latitude of the device antenna location in degrees relative to the WGS 84 datum. The allowed range is from -90.000000 to +90.000000. Positive values represent latitudes north of the equator; negative values south of the equator."
        },
        "antennaBeamwidth": {
          "description": "3-dB antenna beamwidth of the antenna in the horizontal-plane in degrees. This parameter is an unsigned integer having a value between 0 and 360 (degrees) inclusive; it is optional for Category A devices and conditional for Category B devices.",
          "format": "int32",
          "type": "integer"
        },
        "antennaAzimuth": {
          "description": "Boresight direction of the horizontal plane of the antenna in degrees with respect to true north. The value of this parameter is an integer with a value between 0 and 359 inclusive. A value of 0 degrees means true north; a value of 90 degrees means east. This parameter is optional for Category A devices and conditional for Category B devices.",
          "format": "int32",
          "type": "integer"
        },
        "verticalAccuracy": {
          "description": "A positive number in meters to indicate accuracy of the device antenna vertical location. This optional parameter should only be present if its value is less than the FCC requirement of 3 meters.",
          "type": "number",
          "format": "double"
        },
        "horizontalAccuracy": {
          "format": "double",
          "description": "A positive number in meters to indicate accuracy of the device antenna horizontal location. This optional parameter should only be present if its value is less than the FCC requirement of 50 meters.",
          "type": "number"
        },
        "longitude": {
          "format": "double",
          "description": "Longitude of the device antenna location in degrees relative to the WGS 84 datum. The allowed range is from -180.000000 to +180.000000. Positive values represent longitudes east of the prime meridian; negative values west of the prime meridian.",
          "type": "number"
        },
        "antennaModel": {
          "type": "string",
          "description": "If an external antenna is used, the antenna model is optionally provided in this field. The string has a maximum length of 128 octets."
        },
        "antennaGain": {
          "description": "Peak antenna gain in dBi. This parameter is a double with a value between -127 and +128 (dBi) inclusive. Part of Release 2 to support floating-point value",
          "type": "number",
          "format": "double"
        },
        "height": {
          "type": "number",
          "description": "Device antenna height in meters. When the `heightType` parameter value is \"AGL\", the antenna height should be given relative to ground level. When the `heightType` parameter value is \"AMSL\", it is given with respect to WGS84 datum.",
          "format": "double"
        },
        "cpeCbsdIndication": {
          "description": "If present, this parameter specifies whether the CBSD is a CPE-CBSD or not.",
          "type": "boolean"
        }
      },
      "id": "SasPortalInstallationParams",
      "description": "Information about the device installation parameters.",
      "type": "object"
    },
    "SasPortalDeviceAirInterface": {
      "id": "SasPortalDeviceAirInterface",
      "type": "object",
      "properties": {
        "radioTechnology": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "description": "Conditional. This field specifies the radio access technology that is used for the CBSD.",
          "enum": [
            "RADIO_TECHNOLOGY_UNSPECIFIED",
            "E_UTRA",
            "CAMBIUM_NETWORKS",
            "FOUR_G_BBW_SAA_1",
            "NR",
            "DOODLE_CBRS",
            "CW",
            "REDLINE",
            "TARANA_WIRELESS",
            "FAROS"
          ]
        },
        "supportedSpec": {
          "description": "Optional. This field is related to the `radioTechnology` and provides the air interface specification that the CBSD is compliant with at the time of registration.",
          "type": "string"
        }
      },
      "description": "Information about the device's air interface."
    },
    "SasPortalDeviceGrant": {
      "properties": {
        "channelType": {
          "enum": [
            "CHANNEL_TYPE_UNSPECIFIED",
            "CHANNEL_TYPE_GAA",
            "CHANNEL_TYPE_PAL"
          ],
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "type": "string",
          "description": "Type of channel used."
        },
        "expireTime": {
          "description": "The expiration time of the grant.",
          "format": "google-datetime",
          "type": "string"
        },
        "lastHeartbeatTransmitExpireTime": {
          "format": "google-datetime",
          "description": "The transmit expiration time of the last heartbeat.",
          "type": "string"
        },
        "maxEirp": {
          "description": "Maximum Equivalent Isotropically Radiated Power (EIRP) permitted by the grant. The maximum EIRP is in units of dBm/MHz. The value of `maxEirp` represents the average (RMS) EIRP that would be measured by the procedure defined in FCC part 96.41(e)(3).",
          "format": "double",
          "type": "number"
        },
        "grantId": {
          "description": "Grant Id.",
          "type": "string"
        },
        "moveList": {
          "items": {
            "$ref": "SasPortalDpaMoveList"
          },
          "description": "The DPA move lists on which this grant appears.",
          "type": "array"
        },
        "state": {
          "enum": [
            "GRANT_STATE_UNSPECIFIED",
            "GRANT_STATE_GRANTED",
            "GRANT_STATE_TERMINATED",
            "GRANT_STATE_SUSPENDED",
            "GRANT_STATE_AUTHORIZED",
            "GRANT_STATE_EXPIRED"
          ],
          "enumDescriptions": [
            "",
            "The grant has been granted but the device is not heartbeating on it.",
            "The grant has been terminated by the SAS.",
            "The grant has been suspended by the SAS.",
            "The device is currently transmitting.",
            "The grant has expired."
          ],
          "description": "State of the grant.",
          "type": "string"
        },
        "suspensionReason": {
          "items": {
            "type": "string"
          },
          "description": "If the grant is suspended, the reason(s) for suspension.",
          "type": "array"
        },
        "frequencyRange": {
          "description": "The transmission frequency range.",
          "$ref": "SasPortalFrequencyRange"
        }
      },
      "description": "Device grant. It is an authorization provided by the Spectrum Access System to a device to transmit using specified operating parameters after a successful heartbeat by the device.",
      "type": "object",
      "id": "SasPortalDeviceGrant"
    },
    "SasPortalProvisionDeploymentResponse": {
      "type": "object",
      "description": "Response for [ProvisionDeployment]. [spectrum.sas.portal.v1alpha1.Provisioning.ProvisionDeployment].",
      "id": "SasPortalProvisionDeploymentResponse",
      "properties": {
        "errorMessage": {
          "type": "string",
          "description": "Optional. Optional error message if the provisioning request is not successful."
        }
      }
    },
    "SasPortalProvisionDeploymentRequest": {
      "id": "SasPortalProvisionDeploymentRequest",
      "properties": {
        "newDeploymentDisplayName": {
          "description": "Optional. If this field is set, and a new SAS Portal Deployment needs to be created, its display name will be set to the value of this field.",
          "type": "string"
        },
        "newOrganizationDisplayName": {
          "description": "Optional. If this field is set, and a new SAS Portal Organization needs to be created, its display name will be set to the value of this field.",
          "type": "string"
        },
        "organizationId": {
          "format": "int64",
          "type": "string",
          "description": "Optional. If this field is set then a new deployment will be created under the organization specified by this id."
        }
      },
      "type": "object",
      "description": "Request for [ProvisionDeployment]. [spectrum.sas.portal.v1alpha1.Provisioning.ProvisionDeployment]. GCP Project, Organization Info, and caller’s GAIA ID should be retrieved from the RPC handler, and used as inputs to create a new SAS organization (if not exists) and a new SAS deployment."
    },
    "SasPortalValidateInstallerRequest": {
      "id": "SasPortalValidateInstallerRequest",
      "type": "object",
      "properties": {
        "secret": {
          "description": "Required. Secret returned by the GenerateSecret.",
          "type": "string"
        },
        "encodedSecret": {
          "description": "Required. JSON Web Token signed using a CPI private key. Payload must include a \"secret\" claim whose value is the secret.",
          "type": "string"
        },
        "installerId": {
          "description": "Required. Unique installer id (CPI ID) from the Certified Professional Installers database.",
          "type": "string"
        }
      },
      "description": "Request for ValidateInstaller."
    },
    "SasPortalPolicy": {
      "description": "Defines an access control policy to the resources.",
      "properties": {
        "etag": {
          "format": "byte",
          "type": "string",
          "description": "The etag is used for optimistic concurrency control as a way to help prevent simultaneous updates of a policy from overwriting each other. It is strongly suggested that systems make use of the etag in the read-modify-write cycle to perform policy updates in order to avoid race conditions: An etag is returned in the response to GetPolicy, and systems are expected to put that etag in the request to SetPolicy to ensure that their change will be applied to the same version of the policy. If no etag is provided in the call to GetPolicy, then the existing policy is overwritten blindly."
        },
        "assignments": {
          "type": "array",
          "description": "List of assignments",
          "items": {
            "$ref": "SasPortalAssignment"
          }
        }
      },
      "type": "object",
      "id": "SasPortalPolicy"
    },
    "SasPortalValidateInstallerResponse": {
      "id": "SasPortalValidateInstallerResponse",
      "properties": {},
      "description": "Response for ValidateInstaller.",
      "type": "object"
    },
    "SasPortalListCustomersResponse": {
      "type": "object",
      "id": "SasPortalListCustomersResponse",
      "properties": {
        "nextPageToken": {
          "description": "A pagination token returned from a previous call to ListCustomers that indicates from where listing should continue. If the field is missing or empty, it means there are no more customers.",
          "type": "string"
        },
        "customers": {
          "items": {
            "$ref": "SasPortalCustomer"
          },
          "type": "array",
          "description": "The list of customers that match the request."
        }
      },
      "description": "Response for `ListCustomers`."
    },
    "SasPortalMigrateOrganizationRequest": {
      "id": "SasPortalMigrateOrganizationRequest",
      "properties": {
        "organizationId": {
          "format": "int64",
          "type": "string",
          "description": "Required. Id of the SAS organization to be migrated."
        }
      },
      "description": "Request for [MigrateOrganization]. [spectrum.sas.portal.v1alpha1.Provisioning.MigrateOrganization]. GCP Project, Organization Info, and caller's GAIA ID should be retrieved from the RPC handler, and used to check authorization on SAS Portal organization and to create GCP Projects.",
      "type": "object"
    },
    "SasPortalNode": {
      "id": "SasPortalNode",
      "type": "object",
      "description": "The Node.",
      "properties": {
        "sasUserIds": {
          "description": "User ids used by the devices belonging to this node.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "displayName": {
          "description": "The node's display name.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Output only. Resource name."
        }
      }
    },
    "SasPortalMoveDeviceRequest": {
      "type": "object",
      "properties": {
        "destination": {
          "type": "string",
          "description": "Required. The name of the new parent resource node or customer to reparent the device under."
        }
      },
      "description": "Request for MoveDevice.",
      "id": "SasPortalMoveDeviceRequest"
    },
    "SasPortalCreateSignedDeviceRequest": {
      "properties": {
        "encodedDevice": {
          "type": "string",
          "description": "Required. JSON Web Token signed using a CPI private key. Payload must be the JSON encoding of the device. The user_id field must be set.",
          "format": "byte"
        },
        "installerId": {
          "type": "string",
          "description": "Required. Unique installer id (CPI ID) from the Certified Professional Installers database."
        }
      },
      "id": "SasPortalCreateSignedDeviceRequest",
      "description": "Request for CreateSignedDevice.",
      "type": "object"
    },
    "SasPortalFrequencyRange": {
      "description": "Frequency range from `low_frequency` to `high_frequency`.",
      "type": "object",
      "id": "SasPortalFrequencyRange",
      "properties": {
        "lowFrequencyMhz": {
          "format": "double",
          "description": "The lowest frequency of the frequency range in MHz.",
          "type": "number"
        },
        "highFrequencyMhz": {
          "format": "double",
          "type": "number",
          "description": "The highest frequency of the frequency range in MHz."
        }
      }
    },
    "SasPortalGcpProjectDeployment": {
      "type": "object",
      "properties": {
        "deployment": {
          "description": "Deployment associated with the GCP project.",
          "$ref": "SasPortalDeployment"
        },
        "hasEnabledAnalytics": {
          "description": "Whether SAS analytics has been enabled.",
          "type": "boolean"
        }
      },
      "description": "Deployment associated with the GCP project. Includes whether SAS analytics has been enabled or not.",
      "id": "SasPortalGcpProjectDeployment"
    },
    "SasPortalAssignment": {
      "description": "Associates `members` with a `role`.",
      "type": "object",
      "properties": {
        "members": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "The identities the role is assigned to. It can have the following values: * `{user_email}`: An email address that represents a specific Google account. For example: `alice@gmail.com`. * `{group_email}`: An email address that represents a Google group. For example, `viewers@gmail.com`."
        },
        "role": {
          "description": "Required. Role that is assigned to `members`.",
          "type": "string"
        }
      },
      "id": "SasPortalAssignment"
    },
    "SasPortalSetupSasAnalyticsRequest": {
      "properties": {
        "userId": {
          "description": "Optional. User id to setup analytics for, if not provided the user id associated with the project is used. optional",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Request for the SetupSasAnalytics rpc.",
      "id": "SasPortalSetupSasAnalyticsRequest"
    },
    "SasPortalStatus": {
      "id": "SasPortalStatus",
      "type": "object",
      "properties": {
        "code": {
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "type": "integer",
          "format": "int32"
        },
        "details": {
          "type": "array",
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "items": {
            "additionalProperties": {
              "description": "Properties of the object. Contains field @type with type URL.",
              "type": "any"
            },
            "type": "object"
          }
        },
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        }
      },
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors)."
    },
    "SasPortalSetupSasAnalyticsResponse": {
      "properties": {},
      "description": "Response returned by the long running operation for the SetupSasAnalytics rpc.",
      "id": "SasPortalSetupSasAnalyticsResponse",
      "type": "object"
    },
    "SasPortalDeployment": {
      "properties": {
        "sasUserIds": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "User ID used by the devices belonging to this deployment. Each deployment should be associated with one unique user ID."
        },
        "name": {
          "readOnly": true,
          "description": "Output only. Resource name.",
          "type": "string"
        },
        "frns": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Output only. The FCC Registration Numbers (FRNs) copied from its direct parent.",
          "readOnly": true
        },
        "displayName": {
          "type": "string",
          "description": "The deployment's display name."
        }
      },
      "description": "The Deployment.",
      "id": "SasPortalDeployment",
      "type": "object"
    },
    "SasPortalListDevicesResponse": {
      "description": "Response for ListDevices.",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "A pagination token returned from a previous call to ListDevices that indicates from where listing should continue. If the field is missing or empty, it means there is no more devices.",
          "type": "string"
        },
        "devices": {
          "description": "The devices that match the request.",
          "items": {
            "$ref": "SasPortalDevice"
          },
          "type": "array"
        }
      },
      "id": "SasPortalListDevicesResponse"
    },
    "SasPortalOperation": {
      "properties": {
        "response": {
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "type": "object"
        },
        "done": {
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available.",
          "type": "boolean"
        },
        "error": {
          "$ref": "SasPortalStatus",
          "description": "The error result of the operation in case of failure or cancellation."
        },
        "name": {
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`.",
          "type": "string"
        },
        "metadata": {
          "type": "object",
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        }
      },
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "id": "SasPortalOperation",
      "type": "object"
    },
    "SasPortalSetPolicyRequest": {
      "description": "Request message for `SetPolicy` method.",
      "type": "object",
      "properties": {
        "disableNotification": {
          "type": "boolean",
          "description": "Optional. Set the field as `true` to disable the onboarding notification."
        },
        "resource": {
          "description": "Required. The resource for which the policy is being specified. This policy replaces any existing policy.",
          "type": "string"
        },
        "policy": {
          "description": "Required. The policy to be applied to the `resource`.",
          "$ref": "SasPortalPolicy"
        }
      },
      "id": "SasPortalSetPolicyRequest"
    },
    "SasPortalOrganization": {
      "type": "object",
      "description": "Organization details.",
      "id": "SasPortalOrganization",
      "properties": {
        "id": {
          "type": "string",
          "format": "int64",
          "description": "Id of organization"
        },
        "displayName": {
          "type": "string",
          "description": "Name of organization"
        }
      }
    },
    "SasPortalListGcpProjectDeploymentsResponse": {
      "description": "Response for [ListGcpProjectDeployments].",
      "type": "object",
      "properties": {
        "deployments": {
          "items": {
            "$ref": "SasPortalGcpProjectDeployment"
          },
          "type": "array",
          "description": "Optional. Deployments associated with the GCP project"
        }
      },
      "id": "SasPortalListGcpProjectDeploymentsResponse"
    },
    "SasPortalMigrateOrganizationMetadata": {
      "type": "object",
      "description": "Long-running operation metadata message returned by the MigrateOrganization.",
      "id": "SasPortalMigrateOrganizationMetadata",
      "properties": {
        "operationState": {
          "type": "string",
          "readOnly": true,
          "enum": [
            "OPERATION_STATE_UNSPECIFIED",
            "OPERATION_STATE_PENDING",
            "OPERATION_STATE_RUNNING",
            "OPERATION_STATE_SUCCEEDED",
            "OPERATION_STATE_FAILED"
          ],
          "description": "Output only. Current operation state",
          "enumDescriptions": [
            "Unspecified.",
            "Pending (Not started).",
            "In-progress.",
            "Done successfully.",
            "Done with errors."
          ]
        }
      }
    },
    "SasPortalListNodesResponse": {
      "description": "Response for ListNodes.",
      "id": "SasPortalListNodesResponse",
      "properties": {
        "nodes": {
          "type": "array",
          "description": "The nodes that match the request.",
          "items": {
            "$ref": "SasPortalNode"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "A pagination token returned from a previous call to ListNodes that indicates from where listing should continue. If the field is missing or empty, it means there is no more nodes."
        }
      },
      "type": "object"
    },
    "SasPortalEmpty": {
      "id": "SasPortalEmpty",
      "properties": {},
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "type": "object"
    },
    "SasPortalSetupSasAnalyticsMetadata": {
      "description": "Metadata returned by the long running operation for the SetupSasAnalytics rpc.",
      "type": "object",
      "properties": {},
      "id": "SasPortalSetupSasAnalyticsMetadata"
    },
    "SasPortalMigrateOrganizationResponse": {
      "id": "SasPortalMigrateOrganizationResponse",
      "properties": {
        "deploymentAssociation": {
          "type": "array",
          "items": {
            "$ref": "SasPortalDeploymentAssociation"
          },
          "description": "Optional. A list of deployment association that were created for the migration, or current associations if they already exist."
        }
      },
      "type": "object",
      "description": "Response for [MigrateOrganization]. [spectrum.sas.portal.v1alpha1.Provisioning.MigrateOrganization]."
    },
    "SasPortalMoveNodeRequest": {
      "id": "SasPortalMoveNodeRequest",
      "properties": {
        "destination": {
          "type": "string",
          "description": "Required. The name of the new parent resource node or customer to reparent the node under."
        }
      },
      "type": "object",
      "description": "Request for MoveNode."
    },
    "SasPortalNrqzValidation": {
      "id": "SasPortalNrqzValidation",
      "description": "Information about National Radio Quiet Zone validation.",
      "type": "object",
      "properties": {
        "latitude": {
          "type": "number",
          "description": "Device latitude that's associated with the validation.",
          "format": "double"
        },
        "cpiId": {
          "description": "CPI who signed the validation.",
          "type": "string"
        },
        "longitude": {
          "description": "Device longitude that's associated with the validation.",
          "type": "number",
          "format": "double"
        },
        "caseId": {
          "description": "Validation case ID.",
          "type": "string"
        },
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "DRAFT",
            "FINAL"
          ],
          "description": "State of the NRQZ validation info.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified state.",
            "Draft state.",
            "Final state."
          ]
        }
      }
    }
  },
  "parameters": {
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "access_token": {
      "description": "OAuth access token.",
      "location": "query",
      "type": "string"
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "fields": {
      "location": "query",
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "callback": {
      "location": "query",
      "description": "JSONP",
      "type": "string"
    },
    "prettyPrint": {
      "type": "boolean",
      "default": "true",
      "location": "query",
      "description": "Returns response with indentations and line breaks."
    },
    "$.xgafv": {
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query",
      "type": "string",
      "description": "V1 error format."
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "oauth_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth 2.0 token for the current user."
    },
    "alt": {
      "location": "query",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "default": "json",
      "description": "Data format for response.",
      "type": "string",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ]
    }
  },
  "revision": "20260911",
  "protocol": "rest",
  "kind": "discovery#restDescription",
  "version": "v1alpha1",
  "baseUrl": "https://sasportal.googleapis.com/",
  "batchPath": "batch",
  "resources": {
    "nodes": {
      "resources": {
        "nodes": {
          "methods": {
            "delete": {
              "response": {
                "$ref": "SasPortalEmpty"
              },
              "flatPath": "v1alpha1/nodes/{nodesId}/nodes/{nodesId1}",
              "path": "v1alpha1/{+name}",
              "httpMethod": "DELETE",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/sasportal"
              ],
              "parameters": {
                "name": {
                  "type": "string",
                  "location": "path",
                  "description": "Required. The name of the node.",
                  "pattern": "^nodes/[^/]+/nodes/[^/]+$",
                  "required": true
                }
              },
              "description": "Deletes a node.",
              "parameterOrder": [
                "name"
              ],
              "id": "sasportal.nodes.nodes.delete"
            },
            "move": {
              "description": "Moves a node under another node or customer.",
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "POST",
              "path": "v1alpha1/{+name}:move",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/sasportal"
              ],
              "flatPath": "v1alpha1/nodes/{nodesId}/nodes/{nodesId1}:move",
              "id": "sasportal.nodes.nodes.move",
              "response": {
                "$ref": "SasPortalOperation"
              },
              "request": {
                "$ref": "SasPortalMoveNodeRequest"
              },
              "parameters": {
                "name": {
                  "pattern": "^nodes/[^/]+/nodes/[^/]+$",
                  "location": "path",
                  "type": "string",
                  "description": "Required. The name of the node to move.",
                  "required": true
                }
              }
            },
            "get": {
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "GET",
              "flatPath": "v1alpha1/nodes/{nodesId}/nodes/{nodesId1}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/sasportal"
              ],
              "description": "Returns a requested node.",
              "parameters": {
                "name": {
                  "description": "Required. The name of the node.",
                  "required": true,
                  "pattern": "^nodes/[^/]+/nodes/[^/]+$",
                  "type": "string",
                  "location": "path"
                }
              },
              "path": "v1alpha1/{+name}",
              "response": {
                "$ref": "SasPortalNode"
              },
              "id": "sasportal.nodes.nodes.get"
            },
            "patch": {
              "path": "v1alpha1/{+name}",
              "parameters": {
                "name": {
                  "description": "Output only. Resource name.",
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "pattern": "^nodes/[^/]+/nodes/[^/]+$"
                },
                "updateMask": {
                  "description": "Fields to be updated.",
                  "location": "query",
                  "type": "string",
                  "format": "google-fieldmask"
                }
              },
              "request": {
                "$ref": "SasPortalNode"
              },
              "response": {
                "$ref": "SasPortalNode"
              },
              "httpMethod": "PATCH",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/sasportal"
              ],
              "flatPath": "v1alpha1/nodes/{nodesId}/nodes/{nodesId1}",
              "id": "sasportal.nodes.nodes.patch",
              "description": "Updates an existing node.",
              "parameterOrder": [
                "name"
              ]
            },
            "create": {
              "parameters": {
                "parent": {
                  "type": "string",
                  "description": "Required. The parent resource name where the node is to be created.",
                  "location": "path",
                  "pattern": "^nodes/[^/]+$",
                  "required": true
                }
              },
              "response": {
                "$ref": "SasPortalNode"
              },
              "id": "sasportal.nodes.nodes.create",
              "request": {
                "$ref": "SasPortalNode"
              },
              "flatPath": "v1alpha1/nodes/{nodesId}/nodes",
              "path": "v1alpha1/{+parent}/nodes",
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/sasportal"
              ],
              "parameterOrder": [
                "parent"
              ],
              "description": "Creates a new node."
            },
            "list": {
              "flatPath": "v1alpha1/nodes/{nodesId}/nodes",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/sasportal"
              ],
              "parameters": {
                "parent": {
                  "location": "path",
                  "pattern": "^nodes/[^/]+$",
                  "description": "Required. The parent resource name, for example, \"nodes/1\".",
                  "required": true,
                  "type": "string"
                },
                "filter": {
                  "description": "The filter expression. The filter should have the following format: \"DIRECT_CHILDREN\" or format: \"direct_children\". The filter is case insensitive. If empty, then no nodes are filtered.",
                  "type": "string",
                  "location": "query"
                },
                "pageToken": {
                  "type": "string",
                  "location": "query",
                  "description": "A pagination token returned from a previous call to ListNodes that indicates where this listing should continue from."
                },
                "pageSize": {
                  "format": "int32",
                  "type": "integer",
                  "location": "query",
                  "description": "The maximum number of nodes to return in the response."
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "description": "Lists nodes.",
              "response": {
                "$ref": "SasPortalListNodesResponse"
              },
              "id": "sasportal.nodes.nodes.list",
              "path": "v1alpha1/{+parent}/nodes",
              "httpMethod": "GET"
            }
          },
          "resources": {
            "devices": {
              "methods": {
                "list": {
                  "path": "v1alpha1/{+parent}/devices",
                  "response": {
                    "$ref": "SasPortalListDevicesResponse"
                  },
                  "parameters": {
                    "parent": {
                      "description": "Required. The name of the parent resource.",
                      "required": true,
                      "pattern": "^nodes/[^/]+/nodes/[^/]+$",
                      "location": "path",
                      "type": "string"
                    },
                    "filter": {
                      "type": "string",
                      "location": "query",
                      "description": "The filter expression. The filter should have one of the following formats: \"sn=123454\" or \"display_name=MyDevice\". sn corresponds to serial number of the device. The filter is case insensitive."
                    },
                    "pageToken": {
                      "description": "A pagination token returned from a previous call to ListDevices that indicates where this listing should continue from.",
                      "type": "string",
                      "location": "query"
                    },
                    "pageSize": {
                      "format": "int32",
                      "location": "query",
                      "description": "The maximum number of devices to return in the response. If empty or zero, all devices will be listed. Must be in the range [0, 1000].",
                      "type": "integer"
                    }
                  },
                  "flatPath": "v1alpha1/nodes/{nodesId}/nodes/{nodesId1}/devices",
                  "parameterOrder": [
                    "parent"
                  ],
                  "httpMethod": "GET",
                  "id": "sasportal.nodes.nodes.devices.list",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/sasportal"
                  ],
                  "description": "Lists devices under a node or customer."
                },
                "create": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/sasportal"
                  ],
                  "parameters": {
                    "parent": {
                      "type": "string",
                      "location": "path",
                      "description": "Required. The name of the parent resource.",
                      "required": true,
                      "pattern": "^nodes/[^/]+/nodes/[^/]+$"
                    }
                  },
                  "response": {
                    "$ref": "SasPortalDevice"
                  },
                  "path": "v1alpha1/{+parent}/devices",
                  "flatPath": "v1alpha1/nodes/{nodesId}/nodes/{nodesId1}/devices",
                  "parameterOrder": [
                    "parent"
                  ],
                  "description": "Creates a device under a node or customer.",
                  "id": "sasportal.nodes.nodes.devices.create",
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "SasPortalDevice"
                  }
                },
                "createSigned": {
                  "description": "Creates a signed device under a node or customer.",
                  "flatPath": "v1alpha1/nodes/{nodesId}/nodes/{nodesId1}/devices:createSigned",
                  "response": {
                    "$ref": "SasPortalDevice"
                  },
                  "id": "sasportal.nodes.nodes.devices.createSigned",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/sasportal"
                  ],
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "SasPortalCreateSignedDeviceRequest"
                  },
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "description": "Required. The name of the parent resource.",
                      "type": "string",
                      "required": true,
                      "pattern": "^nodes/[^/]+/nodes/[^/]+$"
                    }
                  },
                  "path": "v1alpha1/{+parent}/devices:createSigned",
                  "parameterOrder": [
                    "parent"
                  ]
                }
              }
            },
            "deployments": {
              "methods": {
                "create": {
                  "description": "Creates a new deployment.",
                  "flatPath": "v1alpha1/nodes/{nodesId}/nodes/{nodesId1}/deployments",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/sasportal"
                  ],
                  "id": "sasportal.nodes.nodes.deployments.create",
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "SasPortalDeployment"
                  },
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "description": "Required. The parent resource name where the deployment is to be created.",
                      "type": "string",
                      "required": true,
                      "pattern": "^nodes/[^/]+/nodes/[^/]+$"
                    }
                  },
                  "path": "v1alpha1/{+parent}/deployments",
                  "request": {
                    "$ref": "SasPortalDeployment"
                  },
                  "httpMethod": "POST"
                },
                "list": {
                  "parameterOrder": [
                    "parent"
                  ],
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/sasportal"
                  ],
                  "id": "sasportal.nodes.nodes.deployments.list",
                  "response": {
                    "$ref": "SasPortalListDeploymentsResponse"
                  },
                  "parameters": {
                    "pageSize": {
                      "location": "query",
                      "type": "integer",
                      "description": "The maximum number of deployments to return in the response.",
                      "format": "int32"
                    },
                    "pageToken": {
                      "description": "A pagination token returned from a previous call to ListDeployments that indicates where this listing should continue from.",
                      "location": "query",
                      "type": "string"
                    },
                    "parent": {
                      "type": "string",
                      "description": "Required. The parent resource name, for example, \"nodes/1\", customer/1/nodes/2.",
                      "location": "path",
                      "required": true,
                      "pattern": "^nodes/[^/]+/nodes/[^/]+$"
                    },
                    "filter": {
                      "location": "query",
                      "description": "The filter expression. The filter should have the following format: \"DIRECT_CHILDREN\" or format: \"direct_children\". The filter is case insensitive. If empty, then no deployments are filtered.",
                      "type": "string"
                    }
                  },
                  "flatPath": "v1alpha1/nodes/{nodesId}/nodes/{nodesId1}/deployments",
                  "path": "v1alpha1/{+parent}/deployments",
                  "description": "Lists deployments."
                }
              }
            },
            "nodes": {
              "methods": {
                "list": {
                  "id": "sasportal.nodes.nodes.nodes.list",
                  "path": "v1alpha1/{+parent}/nodes",
                  "parameterOrder": [
                    "parent"
                  ],
                  "parameters": {
                    "parent": {
                      "pattern": "^nodes/[^/]+/nodes/[^/]+$",
                      "description": "Required. The parent resource name, for example, \"nodes/1\".",
                      "type": "string",
                      "required": true,
                      "location": "path"
                    },
                    "filter": {
                      "location": "query",
                      "description": "The filter expression. The filter should have the following format: \"DIRECT_CHILDREN\" or format: \"direct_children\". The filter is case insensitive. If empty, then no nodes are filtered.",
                      "type": "string"
                    },
                    "pageSize": {
                      "location": "query",
                      "description": "The maximum number of nodes to return in the response.",
                      "type": "integer",
                      "format": "int32"
                    },
                    "pageToken": {
                      "description": "A pagination token returned from a previous call to ListNodes that indicates where this listing should continue from.",
                      "type": "string",
                      "location": "query"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/sasportal"
                  ],
                  "flatPath": "v1alpha1/nodes/{nodesId}/nodes/{nodesId1}/nodes",
                  "description": "Lists nodes.",
                  "response": {
                    "$ref": "SasPortalListNodesResponse"
                  },
                  "httpMethod": "GET"
                },
                "create": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/sasportal"
                  ],
                  "id": "sasportal.nodes.nodes.nodes.create",
                  "flatPath": "v1alpha1/nodes/{nodesId}/nodes/{nodesId1}/nodes",
                  "path": "v1alpha1/{+parent}/nodes",
                  "httpMethod": "POST",
                  "response": {
                    "$ref": "SasPortalNode"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "description": "Creates a new node.",
                  "request": {
                    "$ref": "SasPortalNode"
                  },
                  "parameters": {
                    "parent": {
                      "type": "string",
                      "pattern": "^nodes/[^/]+/nodes/[^/]+$",
                      "location": "path",
                      "required": true,
                      "description": "Required. The parent resource name where the node is to be created."
                    }
                  }
                }
              }
            }
          }
        },
        "deployments": {
          "methods": {
            "patch": {
              "httpMethod": "PATCH",
              "flatPath": "v1alpha1/nodes/{nodesId}/deployments/{deploymentsId}",
              "id": "sasportal.nodes.deployments.patch",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/sasportal"
              ],
              "response": {
                "$ref": "SasPortalDeployment"
              },
              "description": "Updates an existing deployment.",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "pattern": "^nodes/[^/]+/deployments/[^/]+$",
                  "description": "Output only. Resource name."
                },
                "updateMask": {
                  "type": "string",
                  "format": "google-fieldmask",
                  "description": "Fields to be updated.",
                  "location": "query"
                }
              },
              "path": "v1alpha1/{+name}",
              "request": {
                "$ref": "SasPortalDeployment"
              }
            },
            "list": {
              "description": "Lists deployments.",
              "path": "v1alpha1/{+parent}/deployments",
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/sasportal"
              ],
              "flatPath": "v1alpha1/nodes/{nodesId}/deployments",
              "id": "sasportal.nodes.deployments.list",
              "parameters": {
                "pageToken": {
                  "type": "string",
                  "description": "A pagination token returned from a previous call to ListDeployments that indicates where this listing should continue from.",
                  "location": "query"
                },
                "parent": {
                  "pattern": "^nodes/[^/]+$",
                  "location": "path",
                  "description": "Required. The parent resource name, for example, \"nodes/1\", customer/1/nodes/2.",
                  "type": "string",
                  "required": true
                },
                "filter": {
                  "type": "string",
                  "location": "query",
                  "description": "The filter expression. The filter should have the following format: \"DIRECT_CHILDREN\" or format: \"direct_children\". The filter is case insensitive. If empty, then no deployments are filtered."
                },
                "pageSize": {
                  "type": "integer",
                  "location": "query",
                  "format": "int32",
                  "description": "The maximum number of deployments to return in the response."
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "SasPortalListDeploymentsResponse"
              }
            },
            "get": {
              "response": {
                "$ref": "SasPortalDeployment"
              },
              "httpMethod": "GET",
              "flatPath": "v1alpha1/nodes/{nodesId}/deployments/{deploymentsId}",
              "parameterOrder": [
                "name"
              ],
              "description": "Returns a requested deployment.",
              "id": "sasportal.nodes.deployments.get",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/sasportal"
              ],
              "path": "v1alpha1/{+name}",
              "parameters": {
                "name": {
                  "description": "Required. The name of the deployment.",
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "pattern": "^nodes/[^/]+/deployments/[^/]+$"
                }
              }
            },
            "move": {
              "path": "v1alpha1/{+name}:move",
              "flatPath": "v1alpha1/nodes/{nodesId}/deployments/{deploymentsId}:move",
              "response": {
                "$ref": "SasPortalOperation"
              },
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "description": "Required. The name of the deployment to move.",
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "pattern": "^nodes/[^/]+/deployments/[^/]+$"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/sasportal"
              ],
              "request": {
                "$ref": "SasPortalMoveDeploymentRequest"
              },
              "id": "sasportal.nodes.deployments.move",
              "httpMethod": "POST",
              "description": "Moves a deployment under another node or customer."
            },
            "delete": {
              "description": "Deletes a deployment.",
              "parameters": {
                "name": {
                  "required": true,
                  "description": "Required. The name of the deployment.",
                  "location": "path",
                  "pattern": "^nodes/[^/]+/deployments/[^/]+$",
                  "type": "string"
                }
              },
              "httpMethod": "DELETE",
              "flatPath": "v1alpha1/nodes/{nodesId}/deployments/{deploymentsId}",
              "id": "sasportal.nodes.deployments.delete",
              "path": "v1alpha1/{+name}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/sasportal"
              ],
              "response": {
                "$ref": "SasPortalEmpty"
              },
              "parameterOrder": [
                "name"
              ]
            }
          },
          "resources": {
            "devices": {
              "methods": {
                "createSigned": {
                  "response": {
                    "$ref": "SasPortalDevice"
                  },
                  "path": "v1alpha1/{+parent}/devices:createSigned",
                  "parameterOrder": [
                    "parent"
                  ],
                  "request": {
                    "$ref": "SasPortalCreateSignedDeviceRequest"
                  },
                  "description": "Creates a signed device under a node or customer.",
                  "httpMethod": "POST",
                  "flatPath": "v1alpha1/nodes/{nodesId}/deployments/{deploymentsId}/devices:createSigned",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/sasportal"
                  ],
                  "id": "sasportal.nodes.deployments.devices.createSigned",
                  "parameters": {
                    "parent": {
                      "pattern": "^nodes/[^/]+/deployments/[^/]+$",
                      "type": "string",
                      "required": true,
                      "location": "path",
                      "description": "Required. The name of the parent resource."
                    }
                  }
                },
                "list": {
                  "flatPath": "v1alpha1/nodes/{nodesId}/deployments/{deploymentsId}/devices",
                  "parameterOrder": [
                    "parent"
                  ],
                  "parameters": {
                    "parent": {
                      "description": "Required. The name of the parent resource.",
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "pattern": "^nodes/[^/]+/deployments/[^/]+$"
                    },
                    "filter": {
                      "description": "The filter expression. The filter should have one of the following formats: \"sn=123454\" or \"display_name=MyDevice\". sn corresponds to serial number of the device. The filter is case insensitive.",
                      "location": "query",
                      "type": "string"
                    },
                    "pageSize": {
                      "location": "query",
                      "type": "integer",
                      "format": "int32",
                      "description": "The maximum number of devices to return in the response. If empty or zero, all devices will be listed. Must be in the range [0, 1000]."
                    },
                    "pageToken": {
                      "type": "string",
                      "location": "query",
                      "description": "A pagination token returned from a previous call to ListDevices that indicates where this listing should continue from."
                    }
                  },
                  "response": {
                    "$ref": "SasPortalListDevicesResponse"
                  },
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/sasportal"
                  ],
                  "description": "Lists devices under a node or customer.",
                  "id": "sasportal.nodes.deployments.devices.list",
                  "path": "v1alpha1/{+parent}/devices"
                },
                "create": {
                  "request": {
                    "$ref": "SasPortalDevice"
                  },
                  "id": "sasportal.nodes.deployments.devices.create",
                  "response": {
                    "$ref": "SasPortalDevice"
                  },
                  "parameters": {
                    "parent": {
                      "description": "Required. The name of the parent resource.",
                      "location": "path",
                      "pattern": "^nodes/[^/]+/deployments/[^/]+$",
                      "type": "string",
                      "required": true
                    }
                  },
                  "flatPath": "v1alpha1/nodes/{nodesId}/deployments/{deploymentsId}/devices",
                  "parameterOrder": [
                    "parent"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/sasportal"
                  ],
                  "description": "Creates a device under a node or customer.",
                  "path": "v1alpha1/{+parent}/devices",
                  "httpMethod": "POST"
                }
              }
            }
          }
        },
        "devices": {
          "methods": {
            "list": {
              "flatPath": "v1alpha1/nodes/{nodesId}/devices",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/sasportal"
              ],
              "path": "v1alpha1/{+parent}/devices",
              "description": "Lists devices under a node or customer.",
              "response": {
                "$ref": "SasPortalListDevicesResponse"
              },
              "id": "sasportal.nodes.devices.list",
              "httpMethod": "GET",
              "parameters": {
                "pageToken": {
                  "type": "string",
                  "description": "A pagination token returned from a previous call to ListDevices that indicates where this listing should continue from.",
                  "location": "query"
                },
                "parent": {
                  "location": "path",
                  "pattern": "^nodes/[^/]+$",
                  "description": "Required. The name of the parent resource.",
                  "type": "string",
                  "required": true
                },
                "filter": {
                  "type": "string",
                  "location": "query",
                  "description": "The filter expression. The filter should have one of the following formats: \"sn=123454\" or \"display_name=MyDevice\". sn corresponds to serial number of the device. The filter is case insensitive."
                },
                "pageSize": {
                  "description": "The maximum number of devices to return in the response. If empty or zero, all devices will be listed. Must be in the range [0, 1000].",
                  "location": "query",
                  "type": "integer",
                  "format": "int32"
                }
              },
              "parameterOrder": [
                "parent"
              ]
            },
            "delete": {
              "description": "Deletes a device.",
              "id": "sasportal.nodes.devices.delete",
              "path": "v1alpha1/{+name}",
              "parameters": {
                "name": {
                  "pattern": "^nodes/[^/]+/devices/[^/]+$",
                  "location": "path",
                  "description": "Required. The name of the device.",
                  "type": "string",
                  "required": true
                }
              },
              "flatPath": "v1alpha1/nodes/{nodesId}/devices/{devicesId}",
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/sasportal"
              ],
              "response": {
                "$ref": "SasPortalEmpty"
              },
              "httpMethod": "DELETE"
            },
            "updateSigned": {
              "path": "v1alpha1/{+name}:updateSigned",
              "httpMethod": "PATCH",
              "description": "Updates a signed device.",
              "id": "sasportal.nodes.devices.updateSigned",
              "response": {
                "$ref": "SasPortalDevice"
              },
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/sasportal"
              ],
              "parameters": {
                "name": {
                  "type": "string",
                  "required": true,
                  "description": "Required. The name of the device to update.",
                  "pattern": "^nodes/[^/]+/devices/[^/]+$",
                  "location": "path"
                }
              },
              "flatPath": "v1alpha1/nodes/{nodesId}/devices/{devicesId}:updateSigned",
              "request": {
                "$ref": "SasPortalUpdateSignedDeviceRequest"
              }
            },
            "get": {
              "path": "v1alpha1/{+name}",
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/sasportal"
              ],
              "parameters": {
                "name": {
                  "location": "path",
                  "type": "string",
                  "pattern": "^nodes/[^/]+/devices/[^/]+$",
                  "required": true,
                  "description": "Required. The name of the device."
                }
              },
              "flatPath": "v1alpha1/nodes/{nodesId}/devices/{devicesId}",
              "description": "Gets details about a device.",
              "id": "sasportal.nodes.devices.get",
              "response": {
                "$ref": "SasPortalDevice"
              },
              "httpMethod": "GET"
            },
            "patch": {
              "flatPath": "v1alpha1/nodes/{nodesId}/devices/{devicesId}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/sasportal"
              ],
              "response": {
                "$ref": "SasPortalDevice"
              },
              "parameters": {
                "updateMask": {
                  "description": "Fields to be updated.",
                  "format": "google-fieldmask",
                  "location": "query",
                  "type": "string"
                },
                "name": {
                  "required": true,
                  "description": "Output only. The resource path name.",
                  "type": "string",
                  "location": "path",
                  "pattern": "^nodes/[^/]+/devices/[^/]+$"
                }
              },
              "description": "Updates a device.",
              "path": "v1alpha1/{+name}",
              "parameterOrder": [
                "name"
              ],
              "request": {
                "$ref": "SasPortalDevice"
              },
              "httpMethod": "PATCH",
              "id": "sasportal.nodes.devices.patch"
            },
            "move": {
              "httpMethod": "POST",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "location": "path",
                  "type": "string",
                  "description": "Required. The name of the device to move.",
                  "pattern": "^nodes/[^/]+/devices/[^/]+$",
                  "required": true
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/sasportal"
              ],
              "path": "v1alpha1/{+name}:move",
              "id": "sasportal.nodes.devices.move",
              "flatPath": "v1alpha1/nodes/{nodesId}/devices/{devicesId}:move",
              "request": {
                "$ref": "SasPortalMoveDeviceRequest"
              },
              "description": "Moves a device under another node or customer.",
              "response": {
                "$ref": "SasPortalOperation"
              }
            },
            "createSigned": {
              "id": "sasportal.nodes.devices.createSigned",
              "parameterOrder": [
                "parent"
              ],
              "description": "Creates a signed device under a node or customer.",
              "path": "v1alpha1/{+parent}/devices:createSigned",
              "parameters": {
                "parent": {
                  "location": "path",
                  "pattern": "^nodes/[^/]+$",
                  "type": "string",
                  "description": "Required. The name of the parent resource.",
                  "required": true
                }
              },
              "response": {
                "$ref": "SasPortalDevice"
              },
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/sasportal"
              ],
              "request": {
                "$ref": "SasPortalCreateSignedDeviceRequest"
              },
              "flatPath": "v1alpha1/nodes/{nodesId}/devices:createSigned"
            },
            "create": {
              "description": "Creates a device under a node or customer.",
              "request": {
                "$ref": "SasPortalDevice"
              },
              "id": "sasportal.nodes.devices.create",
              "parameterOrder": [
                "parent"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/sasportal"
              ],
              "httpMethod": "POST",
              "response": {
                "$ref": "SasPortalDevice"
              },
              "path": "v1alpha1/{+parent}/devices",
              "flatPath": "v1alpha1/nodes/{nodesId}/devices",
              "parameters": {
                "parent": {
                  "location": "path",
                  "pattern": "^nodes/[^/]+$",
                  "description": "Required. The name of the parent resource.",
                  "type": "string",
                  "required": true
                }
              }
            },
            "signDevice": {
              "parameterOrder": [
                "name"
              ],
              "path": "v1alpha1/{+name}:signDevice",
              "description": "Signs a device.",
              "request": {
                "$ref": "SasPortalSignDeviceRequest"
              },
              "parameters": {
                "name": {
                  "pattern": "^nodes/[^/]+/devices/[^/]+$",
                  "type": "string",
                  "location": "path",
                  "description": "Output only. The resource path name.",
                  "required": true
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/sasportal"
              ],
              "flatPath": "v1alpha1/nodes/{nodesId}/devices/{devicesId}:signDevice",
              "id": "sasportal.nodes.devices.signDevice",
              "httpMethod": "POST",
              "response": {
                "$ref": "SasPortalEmpty"
              }
            }
          }
        }
      },
      "methods": {
        "get": {
          "flatPath": "v1alpha1/nodes/{nodesId}",
          "parameters": {
            "name": {
              "location": "path",
              "type": "string",
              "required": true,
              "pattern": "^nodes/[^/]+$",
              "description": "Required. The name of the node."
            }
          },
          "response": {
            "$ref": "SasPortalNode"
          },
          "id": "sasportal.nodes.get",
          "description": "Returns a requested node.",
          "parameterOrder": [
            "name"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sasportal"
          ],
          "httpMethod": "GET",
          "path": "v1alpha1/{+name}"
        }
      }
    },
    "installer": {
      "methods": {
        "generateSecret": {
          "request": {
            "$ref": "SasPortalGenerateSecretRequest"
          },
          "parameters": {},
          "parameterOrder": [],
          "description": "Generates a secret to be used with the ValidateInstaller.",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sasportal"
          ],
          "path": "v1alpha1/installer:generateSecret",
          "response": {
            "$ref": "SasPortalGenerateSecretResponse"
          },
          "id": "sasportal.installer.generateSecret",
          "flatPath": "v1alpha1/installer:generateSecret",
          "httpMethod": "POST"
        },
        "validate": {
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sasportal"
          ],
          "parameterOrder": [],
          "request": {
            "$ref": "SasPortalValidateInstallerRequest"
          },
          "parameters": {},
          "id": "sasportal.installer.validate",
          "httpMethod": "POST",
          "response": {
            "$ref": "SasPortalValidateInstallerResponse"
          },
          "flatPath": "v1alpha1/installer:validate",
          "description": "Validates the identity of a Certified Professional Installer (CPI).",
          "path": "v1alpha1/installer:validate"
        }
      }
    },
    "deployments": {
      "methods": {
        "get": {
          "flatPath": "v1alpha1/deployments/{deploymentsId}",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sasportal"
          ],
          "id": "sasportal.deployments.get",
          "parameters": {
            "name": {
              "type": "string",
              "location": "path",
              "description": "Required. The name of the deployment.",
              "pattern": "^deployments/[^/]+$",
              "required": true
            }
          },
          "response": {
            "$ref": "SasPortalDeployment"
          },
          "parameterOrder": [
            "name"
          ],
          "httpMethod": "GET",
          "description": "Returns a requested deployment.",
          "path": "v1alpha1/{+name}"
        }
      },
      "resources": {
        "devices": {
          "methods": {
            "get": {
              "path": "v1alpha1/{+name}",
              "parameters": {
                "name": {
                  "required": true,
                  "pattern": "^deployments/[^/]+/devices/[^/]+$",
                  "location": "path",
                  "description": "Required. The name of the device.",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/sasportal"
              ],
              "response": {
                "$ref": "SasPortalDevice"
              },
              "id": "sasportal.deployments.devices.get",
              "httpMethod": "GET",
              "description": "Gets details about a device.",
              "flatPath": "v1alpha1/deployments/{deploymentsId}/devices/{devicesId}"
            },
            "updateSigned": {
              "id": "sasportal.deployments.devices.updateSigned",
              "response": {
                "$ref": "SasPortalDevice"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/sasportal"
              ],
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1alpha1/deployments/{deploymentsId}/devices/{devicesId}:updateSigned",
              "httpMethod": "PATCH",
              "request": {
                "$ref": "SasPortalUpdateSignedDeviceRequest"
              },
              "description": "Updates a signed device.",
              "parameters": {
                "name": {
                  "location": "path",
                  "pattern": "^deployments/[^/]+/devices/[^/]+$",
                  "required": true,
                  "type": "string",
                  "description": "Required. The name of the device to update."
                }
              },
              "path": "v1alpha1/{+name}:updateSigned"
            },
            "move": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/sasportal"
              ],
              "parameters": {
                "name": {
                  "type": "string",
                  "required": true,
                  "pattern": "^deployments/[^/]+/devices/[^/]+$",
                  "description": "Required. The name of the device to move.",
                  "location": "path"
                }
              },
              "response": {
                "$ref": "SasPortalOperation"
              },
              "path": "v1alpha1/{+name}:move",
              "description": "Moves a device under another node or customer.",
              "flatPath": "v1alpha1/deployments/{deploymentsId}/devices/{devicesId}:move",
              "httpMethod": "POST",
              "request": {
                "$ref": "SasPortalMoveDeviceRequest"
              },
              "id": "sasportal.deployments.devices.move",
              "parameterOrder": [
                "name"
              ]
            },
            "signDevice": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/sasportal"
              ],
              "description": "Signs a device.",
              "httpMethod": "POST",
              "path": "v1alpha1/{+name}:signDevice",
              "request": {
                "$ref": "SasPortalSignDeviceRequest"
              },
              "response": {
                "$ref": "SasPortalEmpty"
              },
              "parameters": {
                "name": {
                  "required": true,
                  "location": "path",
                  "pattern": "^deployments/[^/]+/devices/[^/]+$",
                  "description": "Output only. The resource path name.",
                  "type": "string"
                }
              },
              "flatPath": "v1alpha1/deployments/{deploymentsId}/devices/{devicesId}:signDevice",
              "parameterOrder": [
                "name"
              ],
              "id": "sasportal.deployments.devices.signDevice"
            },
            "delete": {
              "response": {
                "$ref": "SasPortalEmpty"
              },
              "id": "sasportal.deployments.devices.delete",
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1alpha1/deployments/{deploymentsId}/devices/{devicesId}",
              "httpMethod": "DELETE",
              "description": "Deletes a device.",
              "path": "v1alpha1/{+name}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/sasportal"
              ],
              "parameters": {
                "name": {
                  "type": "string",
                  "required": true,
                  "pattern": "^deployments/[^/]+/devices/[^/]+$",
                  "location": "path",
                  "description": "Required. The name of the device."
                }
              }
            },
            "patch": {
              "path": "v1alpha1/{+name}",
              "id": "sasportal.deployments.devices.patch",
              "request": {
                "$ref": "SasPortalDevice"
              },
              "description": "Updates a device.",
              "parameters": {
                "name": {
                  "type": "string",
                  "required": true,
                  "pattern": "^deployments/[^/]+/devices/[^/]+$",
                  "location": "path",
                  "description": "Output only. The resource path name."
                },
                "updateMask": {
                  "format": "google-fieldmask",
                  "location": "query",
                  "description": "Fields to be updated.",
                  "type": "string"
                }
              },
              "flatPath": "v1alpha1/deployments/{deploymentsId}/devices/{devicesId}",
              "httpMethod": "PATCH",
              "response": {
                "$ref": "SasPortalDevice"
              },
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/sasportal"
              ]
            }
          }
        }
      }
    },
    "customers": {
      "methods": {
        "list": {
          "httpMethod": "GET",
          "id": "sasportal.customers.list",
          "response": {
            "$ref": "SasPortalListCustomersResponse"
          },
          "parameterOrder": [],
          "parameters": {
            "pageSize": {
              "location": "query",
              "type": "integer",
              "description": "The maximum number of customers to return in the response.",
              "format": "int32"
            },
            "pageToken": {
              "location": "query",
              "description": "A pagination token returned from a previous call to ListCustomers that indicates where this listing should continue from.",
              "type": "string"
            }
          },
          "description": "Returns a list of requested customers.",
          "flatPath": "v1alpha1/customers",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sasportal"
          ],
          "path": "v1alpha1/customers"
        },
        "get": {
          "id": "sasportal.customers.get",
          "parameters": {
            "name": {
              "pattern": "^customers/[^/]+$",
              "type": "string",
              "required": true,
              "description": "Required. The name of the customer.",
              "location": "path"
            }
          },
          "parameterOrder": [
            "name"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sasportal"
          ],
          "response": {
            "$ref": "SasPortalCustomer"
          },
          "path": "v1alpha1/{+name}",
          "httpMethod": "GET",
          "flatPath": "v1alpha1/customers/{customersId}",
          "description": "Returns a requested customer."
        },
        "setupSasAnalytics": {
          "response": {
            "$ref": "SasPortalOperation"
          },
          "flatPath": "v1alpha1/customers:setupSasAnalytics",
          "parameterOrder": [],
          "httpMethod": "POST",
          "request": {
            "$ref": "SasPortalSetupSasAnalyticsRequest"
          },
          "description": "Setups the a GCP Project to receive SAS Analytics messages via GCP Pub/Sub with a subscription to BigQuery. All the Pub/Sub topics and BigQuery tables are created automatically as part of this service.",
          "id": "sasportal.customers.setupSasAnalytics",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sasportal"
          ],
          "path": "v1alpha1/customers:setupSasAnalytics",
          "parameters": {}
        },
        "patch": {
          "response": {
            "$ref": "SasPortalCustomer"
          },
          "parameters": {
            "name": {
              "location": "path",
              "type": "string",
              "required": true,
              "pattern": "^customers/[^/]+$",
              "description": "Output only. Resource name of the customer."
            },
            "updateMask": {
[...]
