{
  "discoveryVersion": "v1",
  "mtlsRootUrl": "https://sasportal.mtls.googleapis.com/",
  "kind": "discovery#restDescription",
  "ownerName": "Google",
  "servicePath": "",
  "schemas": {
    "SasPortalListDevicesResponse": {
      "id": "SasPortalListDevicesResponse",
      "type": "object",
      "description": "Response for ListDevices.",
      "properties": {
        "devices": {
          "items": {
            "$ref": "SasPortalDevice"
          },
          "description": "The devices that match the request.",
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "A pagination token returned from a previous call to ListDevices that indicates from where listing should continue. If the field is missing or empty, it means there is no more devices."
        }
      }
    },
    "SasPortalOrganization": {
      "id": "SasPortalOrganization",
      "properties": {
        "id": {
          "type": "string",
          "description": "Id of organization",
          "format": "int64"
        },
        "displayName": {
          "description": "Name of organization",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Organization details."
    },
    "SasPortalDeviceModel": {
      "properties": {
        "hardwareVersion": {
          "description": "The hardware version of the device.",
          "type": "string"
        },
        "vendor": {
          "type": "string",
          "description": "The name of the device vendor."
        },
        "firmwareVersion": {
          "type": "string",
          "description": "The firmware version of the device."
        },
        "softwareVersion": {
          "description": "The software version of the device.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "The name of the device model."
        }
      },
      "id": "SasPortalDeviceModel",
      "description": "Information about the model of the device.",
      "type": "object"
    },
    "SasPortalSetupSasAnalyticsRequest": {
      "id": "SasPortalSetupSasAnalyticsRequest",
      "type": "object",
      "description": "Request for the SetupSasAnalytics rpc.",
      "properties": {
        "userId": {
          "type": "string",
          "description": "Optional. User id to setup analytics for, if not provided the user id associated with the project is used. optional"
        }
      }
    },
    "SasPortalNrqzValidation": {
      "description": "Information about National Radio Quiet Zone validation.",
      "type": "object",
      "properties": {
        "latitude": {
          "description": "Device latitude that's associated with the validation.",
          "format": "double",
          "type": "number"
        },
        "cpiId": {
          "type": "string",
          "description": "CPI who signed the validation."
        },
        "state": {
          "description": "State of the NRQZ validation info.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified state.",
            "Draft state.",
            "Final state."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "DRAFT",
            "FINAL"
          ]
        },
        "caseId": {
          "description": "Validation case ID.",
          "type": "string"
        },
        "longitude": {
          "format": "double",
          "type": "number",
          "description": "Device longitude that's associated with the validation."
        }
      },
      "id": "SasPortalNrqzValidation"
    },
    "SasPortalMoveDeviceRequest": {
      "id": "SasPortalMoveDeviceRequest",
      "properties": {
        "destination": {
          "description": "Required. The name of the new parent resource node or customer to reparent the device under.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Request for MoveDevice."
    },
    "SasPortalDpaMoveList": {
      "properties": {
        "dpaId": {
          "type": "string",
          "description": "The ID of the DPA."
        },
        "frequencyRange": {
          "$ref": "SasPortalFrequencyRange",
          "description": "The frequency range that the move list affects."
        }
      },
      "type": "object",
      "description": "An entry in a DPA's move list.",
      "id": "SasPortalDpaMoveList"
    },
    "SasPortalValidateInstallerRequest": {
      "properties": {
        "installerId": {
          "description": "Required. Unique installer id (CPI ID) from the Certified Professional Installers database.",
          "type": "string"
        },
        "encodedSecret": {
          "type": "string",
          "description": "Required. JSON Web Token signed using a CPI private key. Payload must include a \"secret\" claim whose value is the secret."
        },
        "secret": {
          "description": "Required. Secret returned by the GenerateSecret.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Request for ValidateInstaller.",
      "id": "SasPortalValidateInstallerRequest"
    },
    "SasPortalDeviceGrant": {
      "type": "object",
      "properties": {
        "frequencyRange": {
          "$ref": "SasPortalFrequencyRange",
          "description": "The transmission frequency range."
        },
        "maxEirp": {
          "description": "Maximum Equivalent Isotropically Radiated Power (EIRP) permitted by the grant. The maximum EIRP is in units of dBm/MHz. The value of `maxEirp` represents the average (RMS) EIRP that would be measured by the procedure defined in FCC part 96.41(e)(3).",
          "format": "double",
          "type": "number"
        },
        "moveList": {
          "type": "array",
          "description": "The DPA move lists on which this grant appears.",
          "items": {
            "$ref": "SasPortalDpaMoveList"
          }
        },
        "expireTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "The expiration time of the grant."
        },
        "grantId": {
          "description": "Grant Id.",
          "type": "string"
        },
        "suspensionReason": {
          "description": "If the grant is suspended, the reason(s) for suspension.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "lastHeartbeatTransmitExpireTime": {
          "description": "The transmit expiration time of the last heartbeat.",
          "type": "string",
          "format": "google-datetime"
        },
        "state": {
          "enumDescriptions": [
            "",
            "The grant has been granted but the device is not heartbeating on it.",
            "The grant has been terminated by the SAS.",
            "The grant has been suspended by the SAS.",
            "The device is currently transmitting.",
            "The grant has expired."
          ],
          "type": "string",
          "description": "State of the grant.",
          "enum": [
            "GRANT_STATE_UNSPECIFIED",
            "GRANT_STATE_GRANTED",
            "GRANT_STATE_TERMINATED",
            "GRANT_STATE_SUSPENDED",
            "GRANT_STATE_AUTHORIZED",
            "GRANT_STATE_EXPIRED"
          ]
        },
        "channelType": {
          "enum": [
            "CHANNEL_TYPE_UNSPECIFIED",
            "CHANNEL_TYPE_GAA",
            "CHANNEL_TYPE_PAL"
          ],
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "type": "string",
          "description": "Type of channel used."
        }
      },
      "id": "SasPortalDeviceGrant",
      "description": "Device grant. It is an authorization provided by the Spectrum Access System to a device to transmit using specified operating parameters after a successful heartbeat by the device."
    },
    "SasPortalNode": {
      "description": "The Node.",
      "id": "SasPortalNode",
      "properties": {
        "displayName": {
          "description": "The node's display name.",
          "type": "string"
        },
        "name": {
          "description": "Output only. Resource name.",
          "type": "string"
        },
        "sasUserIds": {
          "description": "User ids used by the devices belonging to this node.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object"
    },
    "SasPortalListDeploymentsResponse": {
      "description": "Response for ListDeployments.",
      "properties": {
        "nextPageToken": {
          "description": "A pagination token returned from a previous call to ListDeployments that indicates from where listing should continue. If the field is missing or empty, it means there are no more deployments.",
          "type": "string"
        },
        "deployments": {
          "items": {
            "$ref": "SasPortalDeployment"
          },
          "type": "array",
          "description": "The deployments that match the request."
        }
      },
      "id": "SasPortalListDeploymentsResponse",
      "type": "object"
    },
    "SasPortalAssignment": {
      "description": "Associates `members` with a `role`.",
      "type": "object",
      "properties": {
        "role": {
          "type": "string",
          "description": "Required. Role that is assigned to `members`."
        },
        "members": {
          "description": "The identities the role is assigned to. It can have the following values: * `{user_email}`: An email address that represents a specific Google account. For example: `alice@gmail.com`. * `{group_email}`: An email address that represents a Google group. For example, `viewers@gmail.com`.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "SasPortalAssignment"
    },
    "SasPortalMigrateOrganizationResponse": {
      "properties": {
        "deploymentAssociation": {
          "items": {
            "$ref": "SasPortalDeploymentAssociation"
          },
          "type": "array",
          "description": "Optional. A list of deployment association that were created for the migration, or current associations if they already exist."
        }
      },
      "id": "SasPortalMigrateOrganizationResponse",
      "description": "Response for [MigrateOrganization]. [spectrum.sas.portal.v1alpha1.Provisioning.MigrateOrganization].",
      "type": "object"
    },
    "SasPortalGcpProjectDeployment": {
      "description": "Deployment associated with the GCP project. Includes whether SAS analytics has been enabled or not.",
      "type": "object",
      "properties": {
        "hasEnabledAnalytics": {
          "description": "Whether SAS analytics has been enabled.",
          "type": "boolean"
        },
        "deployment": {
          "description": "Deployment associated with the GCP project.",
          "$ref": "SasPortalDeployment"
        }
      },
      "id": "SasPortalGcpProjectDeployment"
    },
    "SasPortalDeployment": {
      "properties": {
        "sasUserIds": {
          "description": "User ID used by the devices belonging to this deployment. Each deployment should be associated with one unique user ID.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "name": {
          "readOnly": true,
          "description": "Output only. Resource name.",
          "type": "string"
        },
        "frns": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "readOnly": true,
          "description": "Output only. The FCC Registration Numbers (FRNs) copied from its direct parent."
        },
        "displayName": {
          "description": "The deployment's display name.",
          "type": "string"
        }
      },
      "id": "SasPortalDeployment",
      "type": "object",
      "description": "The Deployment."
    },
    "SasPortalGenerateSecretRequest": {
      "type": "object",
      "id": "SasPortalGenerateSecretRequest",
      "properties": {},
      "description": "Request for GenerateSecret."
    },
    "SasPortalDeviceMetadata": {
      "properties": {
        "nrqzValidated": {
          "description": "Output only. Set to `true` if a CPI has validated that they have coordinated with the National Quiet Zone office.",
          "readOnly": true,
          "deprecated": true,
          "type": "boolean"
        },
        "nrqzValidation": {
          "readOnly": true,
          "description": "Output only. National Radio Quiet Zone validation info.",
          "$ref": "SasPortalNrqzValidation"
        },
        "interferenceCoordinationGroup": {
          "type": "string",
          "description": "Interference Coordination Group (ICG). A group of CBSDs that manage their own interference with the group. For more details, see [CBRSA-TS-2001 V3.0.0](https://ongoalliance.org/wp-content/uploads/2020/02/CBRSA-TS-2001-V3.0.0_Approved-for-publication.pdf)."
        },
        "commonChannelGroup": {
          "description": "Common Channel Group (CCG). A group of CBSDs in the same ICG requesting a common primary channel assignment. For more details, see [CBRSA-TS-2001 V3.0.0](https://ongoalliance.org/wp-content/uploads/2020/02/CBRSA-TS-2001-V3.0.0_Approved-for-publication.pdf).",
          "type": "string"
        },
        "antennaModel": {
          "type": "string",
          "description": "If populated, the Antenna Model Pattern to use. Format is: `RecordCreatorId:PatternId`"
        }
      },
      "description": "Device data overridable by both SAS Portal and registration requests.",
      "type": "object",
      "id": "SasPortalDeviceMetadata"
    },
    "SasPortalListLegacyOrganizationsResponse": {
      "description": "Response for [ListLegacyOrganizations]. [spectrum.sas.portal.v1alpha1.Provisioning.ListLegacyOrganizations].",
      "type": "object",
      "id": "SasPortalListLegacyOrganizationsResponse",
      "properties": {
        "organizations": {
          "description": "Optional. Legacy SAS organizations.",
          "items": {
            "$ref": "SasPortalOrganization"
          },
          "type": "array"
        }
      }
    },
    "SasPortalDeviceAirInterface": {
      "id": "SasPortalDeviceAirInterface",
      "properties": {
        "supportedSpec": {
          "type": "string",
          "description": "Optional. This field is related to the `radioTechnology` and provides the air interface specification that the CBSD is compliant with at the time of registration."
        },
        "radioTechnology": {
          "enum": [
            "RADIO_TECHNOLOGY_UNSPECIFIED",
            "E_UTRA",
            "CAMBIUM_NETWORKS",
            "FOUR_G_BBW_SAA_1",
            "NR",
            "DOODLE_CBRS",
            "CW",
            "REDLINE",
            "TARANA_WIRELESS",
            "FAROS"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "description": "Conditional. This field specifies the radio access technology that is used for the CBSD."
        }
      },
      "description": "Information about the device's air interface.",
      "type": "object"
    },
    "SasPortalSetPolicyRequest": {
      "id": "SasPortalSetPolicyRequest",
      "description": "Request message for `SetPolicy` method.",
      "properties": {
        "disableNotification": {
          "description": "Optional. Set the field as `true` to disable the onboarding notification.",
          "type": "boolean"
        },
        "resource": {
          "description": "Required. The resource for which the policy is being specified. This policy replaces any existing policy.",
          "type": "string"
        },
        "policy": {
          "description": "Required. The policy to be applied to the `resource`.",
          "$ref": "SasPortalPolicy"
        }
      },
      "type": "object"
    },
    "SasPortalEmpty": {
      "properties": {},
      "type": "object",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "id": "SasPortalEmpty"
    },
    "SasPortalMigrateOrganizationMetadata": {
      "type": "object",
      "id": "SasPortalMigrateOrganizationMetadata",
      "properties": {
        "operationState": {
          "description": "Output only. Current operation state",
          "enumDescriptions": [
            "Unspecified.",
            "Pending (Not started).",
            "In-progress.",
            "Done successfully.",
            "Done with errors."
          ],
          "enum": [
            "OPERATION_STATE_UNSPECIFIED",
            "OPERATION_STATE_PENDING",
            "OPERATION_STATE_RUNNING",
            "OPERATION_STATE_SUCCEEDED",
            "OPERATION_STATE_FAILED"
          ],
          "type": "string",
          "readOnly": true
        }
      },
      "description": "Long-running operation metadata message returned by the MigrateOrganization."
    },
    "SasPortalSetupSasAnalyticsResponse": {
      "description": "Response returned by the long running operation for the SetupSasAnalytics rpc.",
      "id": "SasPortalSetupSasAnalyticsResponse",
      "properties": {},
      "type": "object"
    },
    "SasPortalPolicy": {
      "properties": {
        "etag": {
          "type": "string",
          "description": "The etag is used for optimistic concurrency control as a way to help prevent simultaneous updates of a policy from overwriting each other. It is strongly suggested that systems make use of the etag in the read-modify-write cycle to perform policy updates in order to avoid race conditions: An etag is returned in the response to GetPolicy, and systems are expected to put that etag in the request to SetPolicy to ensure that their change will be applied to the same version of the policy. If no etag is provided in the call to GetPolicy, then the existing policy is overwritten blindly.",
          "format": "byte"
        },
        "assignments": {
          "type": "array",
          "description": "List of assignments",
          "items": {
            "$ref": "SasPortalAssignment"
          }
        }
      },
      "description": "Defines an access control policy to the resources.",
      "type": "object",
      "id": "SasPortalPolicy"
    },
    "SasPortalValidateInstallerResponse": {
      "type": "object",
      "properties": {},
      "description": "Response for ValidateInstaller.",
      "id": "SasPortalValidateInstallerResponse"
    },
    "SasPortalOperation": {
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "type": "object",
      "properties": {
        "done": {
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available.",
          "type": "boolean"
        },
        "response": {
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "type": "object",
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`."
        },
        "metadata": {
          "type": "object",
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          }
        },
        "name": {
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`.",
          "type": "string"
        },
        "error": {
          "description": "The error result of the operation in case of failure or cancellation.",
          "$ref": "SasPortalStatus"
        }
      },
      "id": "SasPortalOperation"
    },
    "SasPortalInstallationParams": {
      "description": "Information about the device installation parameters.",
      "properties": {
        "height": {
          "description": "Device antenna height in meters. When the `heightType` parameter value is \"AGL\", the antenna height should be given relative to ground level. When the `heightType` parameter value is \"AMSL\", it is given with respect to WGS84 datum.",
          "format": "double",
          "type": "number"
        },
        "antennaAzimuth": {
          "type": "integer",
          "description": "Boresight direction of the horizontal plane of the antenna in degrees with respect to true north. The value of this parameter is an integer with a value between 0 and 359 inclusive. A value of 0 degrees means true north; a value of 90 degrees means east. This parameter is optional for Category A devices and conditional for Category B devices.",
          "format": "int32"
        },
        "antennaGain": {
          "format": "double",
          "type": "number",
          "description": "Peak antenna gain in dBi. This parameter is a double with a value between -127 and +128 (dBi) inclusive. Part of Release 2 to support floating-point value"
        },
        "antennaModel": {
          "type": "string",
          "description": "If an external antenna is used, the antenna model is optionally provided in this field. The string has a maximum length of 128 octets."
        },
        "eirpCapability": {
          "format": "int32",
          "description": "This parameter is the maximum device EIRP in units of dBm/10MHz and is an integer with a value between -127 and +47 (dBm/10 MHz) inclusive. If not included, SAS interprets it as maximum allowable EIRP in units of dBm/10MHz for device category.",
          "type": "integer"
        },
        "heightType": {
          "description": "Specifies how the height is measured.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified height type.",
            "AGL height is measured relative to the ground level.",
            "AMSL height is measured relative to the mean sea level."
          ],
          "enum": [
            "HEIGHT_TYPE_UNSPECIFIED",
            "HEIGHT_TYPE_AGL",
            "HEIGHT_TYPE_AMSL"
          ]
        },
        "antennaBeamwidth": {
          "type": "integer",
          "description": "3-dB antenna beamwidth of the antenna in the horizontal-plane in degrees. This parameter is an unsigned integer having a value between 0 and 360 (degrees) inclusive; it is optional for Category A devices and conditional for Category B devices.",
          "format": "int32"
        },
        "latitude": {
          "format": "double",
          "description": "Latitude of the device antenna location in degrees relative to the WGS 84 datum. The allowed range is from -90.000000 to +90.000000. Positive values represent latitudes north of the equator; negative values south of the equator.",
          "type": "number"
        },
        "horizontalAccuracy": {
          "description": "A positive number in meters to indicate accuracy of the device antenna horizontal location. This optional parameter should only be present if its value is less than the FCC requirement of 50 meters.",
          "format": "double",
          "type": "number"
        },
        "cpeCbsdIndication": {
          "type": "boolean",
          "description": "If present, this parameter specifies whether the CBSD is a CPE-CBSD or not."
        },
        "antennaDowntilt": {
          "format": "int32",
          "description": "Antenna downtilt in degrees and is an integer with a value between -90 and +90 inclusive; a negative value means the antenna is tilted up (above horizontal). This parameter is optional for Category A devices and conditional for Category B devices.",
          "type": "integer"
        },
        "verticalAccuracy": {
          "type": "number",
          "description": "A positive number in meters to indicate accuracy of the device antenna vertical location. This optional parameter should only be present if its value is less than the FCC requirement of 3 meters.",
          "format": "double"
        },
        "longitude": {
          "description": "Longitude of the device antenna location in degrees relative to the WGS 84 datum. The allowed range is from -180.000000 to +180.000000. Positive values represent longitudes east of the prime meridian; negative values west of the prime meridian.",
          "type": "number",
          "format": "double"
        },
        "indoorDeployment": {
          "type": "boolean",
          "description": "Whether the device antenna is indoor or not. `true`: indoor. `false`: outdoor."
        }
      },
      "type": "object",
      "id": "SasPortalInstallationParams"
    },
    "SasPortalChannelWithScore": {
      "properties": {
        "score": {
          "format": "double",
          "description": "The channel score, normalized to be in the range [0,100].",
          "type": "number"
        },
        "frequencyRange": {
          "description": "The frequency range of the channel.",
          "$ref": "SasPortalFrequencyRange"
        }
      },
      "type": "object",
      "description": "The channel with score.",
      "id": "SasPortalChannelWithScore"
    },
    "SasPortalListCustomersResponse": {
      "id": "SasPortalListCustomersResponse",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A pagination token returned from a previous call to ListCustomers that indicates from where listing should continue. If the field is missing or empty, it means there are no more customers."
        },
        "customers": {
          "description": "The list of customers that match the request.",
          "type": "array",
          "items": {
            "$ref": "SasPortalCustomer"
          }
        }
      },
      "description": "Response for `ListCustomers`."
    },
    "SasPortalGetPolicyRequest": {
      "type": "object",
      "id": "SasPortalGetPolicyRequest",
      "properties": {
        "resource": {
          "description": "Required. The resource for which the policy is being requested.",
          "type": "string"
        }
      },
      "description": "Request message for `GetPolicy` method."
    },
    "SasPortalGenerateSecretResponse": {
      "properties": {
        "secret": {
          "type": "string",
          "description": "The secret generated by the string and used by ValidateInstaller."
        }
      },
      "description": "Response for GenerateSecret.",
      "type": "object",
      "id": "SasPortalGenerateSecretResponse"
    },
    "SasPortalDeploymentAssociation": {
      "id": "SasPortalDeploymentAssociation",
      "properties": {
        "userId": {
          "description": "User id of the deployment.",
          "type": "string"
        },
        "gcpProjectId": {
          "type": "string",
          "description": "GCP project id of the associated project."
        }
      },
      "type": "object",
      "description": "Association between a gcp project and a SAS user id."
    },
    "SasPortalListNodesResponse": {
      "description": "Response for ListNodes.",
      "id": "SasPortalListNodesResponse",
      "properties": {
        "nodes": {
          "description": "The nodes that match the request.",
          "items": {
            "$ref": "SasPortalNode"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "A pagination token returned from a previous call to ListNodes that indicates from where listing should continue. If the field is missing or empty, it means there is no more nodes.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "SasPortalCustomer": {
      "properties": {
        "name": {
          "description": "Output only. Resource name of the customer.",
          "type": "string"
        },
        "sasUserIds": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "User IDs used by the devices belonging to this customer."
        },
        "displayName": {
          "description": "Required. Name of the organization that the customer entity represents.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "SasPortalCustomer",
      "description": "Entity representing a SAS customer."
    },
    "SasPortalTestPermissionsRequest": {
      "properties": {
        "permissions": {
          "description": "The set of permissions to check for the `resource`.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "resource": {
          "description": "Required. The resource for which the permissions are being requested.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Request message for `TestPermissions` method.",
      "id": "SasPortalTestPermissionsRequest"
    },
    "SasPortalDevice": {
      "id": "SasPortalDevice",
      "type": "object",
      "properties": {
        "currentChannels": {
          "description": "Output only. Current channels with scores.",
          "items": {
            "$ref": "SasPortalChannelWithScore"
          },
          "deprecated": true,
          "type": "array",
          "readOnly": true
        },
        "deviceMetadata": {
          "description": "Device parameters that can be overridden by both SAS Portal and SAS registration requests.",
          "$ref": "SasPortalDeviceMetadata"
        },
        "grantRangeAllowlists": {
          "type": "array",
          "items": {
            "$ref": "SasPortalFrequencyRange"
          },
          "description": "Only ranges that are within the allowlists are available for new grants."
        },
        "displayName": {
          "description": "Device display name.",
          "type": "string"
        },
        "fccId": {
          "type": "string",
          "description": "The FCC identifier of the device. Refer to https://www.fcc.gov/oet/ea/fccid for FccID format. Accept underscores and periods because some test-SAS customers use them."
        },
        "state": {
          "enumDescriptions": [
            "Unspecified state.",
            "Device created in the SAS Portal, however, not yet registered with SAS.",
            "Device registered with SAS.",
            "Device de-registered with SAS."
          ],
          "enum": [
            "DEVICE_STATE_UNSPECIFIED",
            "RESERVED",
            "REGISTERED",
            "DEREGISTERED"
          ],
          "description": "Output only. Device state.",
          "type": "string"
        },
        "serialNumber": {
          "type": "string",
          "description": "A serial number assigned to the device by the device manufacturer."
        },
        "name": {
          "type": "string",
          "description": "Output only. The resource path name."
        },
        "preloadedConfig": {
          "$ref": "SasPortalDeviceConfig",
          "description": "Configuration of the device, as specified via SAS Portal API."
        },
        "activeConfig": {
          "description": "Output only. Current configuration of the device as registered to the SAS.",
          "$ref": "SasPortalDeviceConfig"
        },
        "grants": {
          "description": "Output only. Grants held by the device.",
          "items": {
            "$ref": "SasPortalDeviceGrant"
          },
          "type": "array"
        }
      }
    },
    "SasPortalSignDeviceRequest": {
      "type": "object",
      "id": "SasPortalSignDeviceRequest",
      "properties": {
        "device": {
          "$ref": "SasPortalDevice",
          "description": "Required. The device to sign. The device fields name, fcc_id and serial_number must be set. The user_id field must be set."
        }
      },
      "description": "Request for SignDevice."
    },
    "SasPortalProvisionDeploymentRequest": {
      "id": "SasPortalProvisionDeploymentRequest",
      "description": "Request for [ProvisionDeployment]. [spectrum.sas.portal.v1alpha1.Provisioning.ProvisionDeployment]. GCP Project, Organization Info, and caller’s GAIA ID should be retrieved from the RPC handler, and used as inputs to create a new SAS organization (if not exists) and a new SAS deployment.",
      "type": "object",
      "properties": {
        "newOrganizationDisplayName": {
          "description": "Optional. If this field is set, and a new SAS Portal Organization needs to be created, its display name will be set to the value of this field.",
          "type": "string"
        },
        "newDeploymentDisplayName": {
          "description": "Optional. If this field is set, and a new SAS Portal Deployment needs to be created, its display name will be set to the value of this field.",
          "type": "string"
        },
        "organizationId": {
          "format": "int64",
          "type": "string",
          "description": "Optional. If this field is set then a new deployment will be created under the organization specified by this id."
        }
      }
    },
    "SasPortalUpdateSignedDeviceRequest": {
      "properties": {
        "installerId": {
          "description": "Required. Unique installer ID (CPI ID) from the Certified Professional Installers database.",
          "type": "string"
        },
        "encodedDevice": {
          "description": "Required. The JSON Web Token signed using a CPI private key. Payload must be the JSON encoding of the device. The user_id field must be set.",
          "type": "string",
          "format": "byte"
        }
      },
      "description": "Request for UpdateSignedDevice.",
      "type": "object",
      "id": "SasPortalUpdateSignedDeviceRequest"
    },
    "SasPortalSetupSasAnalyticsMetadata": {
      "description": "Metadata returned by the long running operation for the SetupSasAnalytics rpc.",
      "type": "object",
      "id": "SasPortalSetupSasAnalyticsMetadata",
      "properties": {}
    },
    "SasPortalMoveDeploymentRequest": {
      "description": "Request for MoveDeployment.",
      "properties": {
        "destination": {
          "description": "Required. The name of the new parent resource node or customer to reparent the deployment under.",
          "type": "string"
        }
      },
      "id": "SasPortalMoveDeploymentRequest",
      "type": "object"
    },
    "SasPortalMigrateOrganizationRequest": {
      "id": "SasPortalMigrateOrganizationRequest",
      "type": "object",
      "description": "Request for [MigrateOrganization]. [spectrum.sas.portal.v1alpha1.Provisioning.MigrateOrganization]. GCP Project, Organization Info, and caller's GAIA ID should be retrieved from the RPC handler, and used to check authorization on SAS Portal organization and to create GCP Projects.",
      "properties": {
        "organizationId": {
          "format": "int64",
          "type": "string",
          "description": "Required. Id of the SAS organization to be migrated."
        }
      }
    },
    "SasPortalDeviceConfig": {
      "properties": {
        "airInterface": {
          "description": "Information about this device's air interface.",
          "$ref": "SasPortalDeviceAirInterface"
        },
        "installationParams": {
          "description": "Installation parameters for the device.",
          "$ref": "SasPortalInstallationParams"
        },
        "isSigned": {
          "type": "boolean",
          "description": "Output only. Whether the configuration has been signed by a CPI."
        },
        "updateTime": {
          "description": "Output only. The last time the device configuration was edited.",
          "type": "string",
          "format": "google-datetime"
        },
        "model": {
          "$ref": "SasPortalDeviceModel",
          "description": "Information about this device model."
        },
        "callSign": {
          "description": "The call sign of the device operator.",
          "type": "string"
        },
        "category": {
          "enum": [
            "DEVICE_CATEGORY_UNSPECIFIED",
            "DEVICE_CATEGORY_A",
            "DEVICE_CATEGORY_B"
          ],
          "description": "FCC category of the device.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified device category.",
            "Category A.",
            "Category B."
          ]
        },
        "userId": {
          "description": "The identifier of a device user.",
          "type": "string"
        },
        "measurementCapabilities": {
          "type": "array",
          "description": "Measurement reporting capabilities of the device.",
          "items": {
            "type": "string",
            "enumDescriptions": [
              "",
              "",
              ""
            ],
            "enum": [
              "MEASUREMENT_CAPABILITY_UNSPECIFIED",
              "MEASUREMENT_CAPABILITY_RECEIVED_POWER_WITH_GRANT",
              "MEASUREMENT_CAPABILITY_RECEIVED_POWER_WITHOUT_GRANT"
            ]
          }
        },
        "state": {
          "description": "State of the configuration.",
          "enum": [
            "DEVICE_CONFIG_STATE_UNSPECIFIED",
            "DRAFT",
            "FINAL"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            ""
          ]
        }
      },
      "description": "Information about the device configuration.",
      "id": "SasPortalDeviceConfig",
      "type": "object"
    },
    "SasPortalStatus": {
      "properties": {
        "details": {
          "type": "array",
          "items": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            }
          },
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use."
        },
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        },
        "code": {
          "format": "int32",
          "type": "integer",
          "description": "The status code, which should be an enum value of google.rpc.Code."
        }
      },
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "type": "object",
      "id": "SasPortalStatus"
    },
    "SasPortalCreateSignedDeviceRequest": {
      "description": "Request for CreateSignedDevice.",
      "type": "object",
      "id": "SasPortalCreateSignedDeviceRequest",
      "properties": {
        "encodedDevice": {
          "format": "byte",
          "description": "Required. JSON Web Token signed using a CPI private key. Payload must be the JSON encoding of the device. The user_id field must be set.",
          "type": "string"
        },
        "installerId": {
          "description": "Required. Unique installer id (CPI ID) from the Certified Professional Installers database.",
          "type": "string"
        }
      }
    },
    "SasPortalTestPermissionsResponse": {
      "description": "Response message for `TestPermissions` method.",
      "properties": {
        "permissions": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "A set of permissions that the caller is allowed."
        }
      },
      "id": "SasPortalTestPermissionsResponse",
      "type": "object"
    },
    "SasPortalListGcpProjectDeploymentsResponse": {
      "id": "SasPortalListGcpProjectDeploymentsResponse",
      "description": "Response for [ListGcpProjectDeployments].",
      "type": "object",
      "properties": {
        "deployments": {
          "description": "Optional. Deployments associated with the GCP project",
          "type": "array",
          "items": {
            "$ref": "SasPortalGcpProjectDeployment"
          }
        }
      }
    },
    "SasPortalMoveNodeRequest": {
      "properties": {
        "destination": {
          "type": "string",
          "description": "Required. The name of the new parent resource node or customer to reparent the node under."
        }
      },
      "id": "SasPortalMoveNodeRequest",
      "type": "object",
      "description": "Request for MoveNode."
    },
    "SasPortalFrequencyRange": {
      "description": "Frequency range from `low_frequency` to `high_frequency`.",
      "type": "object",
      "properties": {
        "lowFrequencyMhz": {
          "format": "double",
          "type": "number",
          "description": "The lowest frequency of the frequency range in MHz."
        },
        "highFrequencyMhz": {
          "format": "double",
          "description": "The highest frequency of the frequency range in MHz.",
          "type": "number"
        }
      },
      "id": "SasPortalFrequencyRange"
    },
    "SasPortalProvisionDeploymentResponse": {
      "type": "object",
      "id": "SasPortalProvisionDeploymentResponse",
      "description": "Response for [ProvisionDeployment]. [spectrum.sas.portal.v1alpha1.Provisioning.ProvisionDeployment].",
      "properties": {
        "errorMessage": {
          "description": "Optional. Optional error message if the provisioning request is not successful.",
          "type": "string"
        }
      }
    }
  },
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/sasportal": {
          "description": "Read, create, update, and delete your SAS Portal data."
        },
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "version": "v1alpha1",
  "description": "",
  "name": "sasportal",
  "ownerDomain": "google.com",
  "resources": {
    "customers": {
      "resources": {
        "devices": {
          "methods": {
            "patch": {
              "description": "Updates a device.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/sasportal"
              ],
              "request": {
                "$ref": "SasPortalDevice"
              },
              "parameters": {
                "updateMask": {
                  "location": "query",
                  "type": "string",
                  "description": "Fields to be updated.",
                  "format": "google-fieldmask"
                },
                "name": {
                  "required": true,
                  "description": "Output only. The resource path name.",
                  "type": "string",
                  "pattern": "^customers/[^/]+/devices/[^/]+$",
                  "location": "path"
                }
              },
              "httpMethod": "PATCH",
              "path": "v1alpha1/{+name}",
              "id": "sasportal.customers.devices.patch",
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1alpha1/customers/{customersId}/devices/{devicesId}",
              "response": {
                "$ref": "SasPortalDevice"
              }
            },
            "createSigned": {
              "parameters": {
                "parent": {
                  "description": "Required. The name of the parent resource.",
                  "pattern": "^customers/[^/]+$",
                  "required": true,
                  "type": "string",
                  "location": "path"
                }
              },
              "httpMethod": "POST",
              "parameterOrder": [
                "parent"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/sasportal"
              ],
              "request": {
                "$ref": "SasPortalCreateSignedDeviceRequest"
              },
              "flatPath": "v1alpha1/customers/{customersId}/devices:createSigned",
              "path": "v1alpha1/{+parent}/devices:createSigned",
              "response": {
                "$ref": "SasPortalDevice"
              },
              "description": "Creates a signed device under a node or customer.",
              "id": "sasportal.customers.devices.createSigned"
            },
            "list": {
              "response": {
                "$ref": "SasPortalListDevicesResponse"
              },
              "parameters": {
                "filter": {
                  "description": "The filter expression. The filter should have one of the following formats: \"sn=123454\" or \"display_name=MyDevice\". sn corresponds to serial number of the device. The filter is case insensitive.",
                  "type": "string",
                  "location": "query"
                },
                "pageSize": {
                  "type": "integer",
                  "location": "query",
                  "description": "The maximum number of devices to return in the response. If empty or zero, all devices will be listed. Must be in the range [0, 1000].",
                  "format": "int32"
                },
                "pageToken": {
                  "location": "query",
                  "description": "A pagination token returned from a previous call to ListDevices that indicates where this listing should continue from.",
                  "type": "string"
                },
                "parent": {
                  "required": true,
                  "pattern": "^customers/[^/]+$",
                  "type": "string",
                  "location": "path",
                  "description": "Required. The name of the parent resource."
                }
              },
              "httpMethod": "GET",
              "parameterOrder": [
                "parent"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/sasportal"
              ],
              "flatPath": "v1alpha1/customers/{customersId}/devices",
              "description": "Lists devices under a node or customer.",
              "path": "v1alpha1/{+parent}/devices",
              "id": "sasportal.customers.devices.list"
            },
            "get": {
              "parameterOrder": [
                "name"
              ],
              "path": "v1alpha1/{+name}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/sasportal"
              ],
              "response": {
                "$ref": "SasPortalDevice"
              },
              "flatPath": "v1alpha1/customers/{customersId}/devices/{devicesId}",
              "httpMethod": "GET",
              "description": "Gets details about a device.",
              "parameters": {
                "name": {
                  "location": "path",
                  "pattern": "^customers/[^/]+/devices/[^/]+$",
                  "required": true,
                  "description": "Required. The name of the device.",
                  "type": "string"
                }
              },
              "id": "sasportal.customers.devices.get"
            },
            "signDevice": {
              "httpMethod": "POST",
              "parameters": {
                "name": {
                  "required": true,
                  "type": "string",
                  "description": "Output only. The resource path name.",
                  "location": "path",
                  "pattern": "^customers/[^/]+/devices/[^/]+$"
                }
              },
              "response": {
                "$ref": "SasPortalEmpty"
              },
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1alpha1/customers/{customersId}/devices/{devicesId}:signDevice",
              "id": "sasportal.customers.devices.signDevice",
              "path": "v1alpha1/{+name}:signDevice",
              "description": "Signs a device.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/sasportal"
              ],
              "request": {
                "$ref": "SasPortalSignDeviceRequest"
              }
            },
            "move": {
              "description": "Moves a device under another node or customer.",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "required": true,
                  "description": "Required. The name of the device to move.",
                  "location": "path",
                  "pattern": "^customers/[^/]+/devices/[^/]+$",
                  "type": "string"
                }
              },
              "path": "v1alpha1/{+name}:move",
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/sasportal"
              ],
              "request": {
                "$ref": "SasPortalMoveDeviceRequest"
              },
              "flatPath": "v1alpha1/customers/{customersId}/devices/{devicesId}:move",
              "response": {
                "$ref": "SasPortalOperation"
              },
              "id": "sasportal.customers.devices.move"
            },
            "delete": {
              "httpMethod": "DELETE",
              "parameters": {
                "name": {
                  "required": true,
                  "pattern": "^customers/[^/]+/devices/[^/]+$",
                  "location": "path",
                  "description": "Required. The name of the device.",
                  "type": "string"
                }
              },
              "id": "sasportal.customers.devices.delete",
              "flatPath": "v1alpha1/customers/{customersId}/devices/{devicesId}",
              "path": "v1alpha1/{+name}",
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "SasPortalEmpty"
              },
              "description": "Deletes a device.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/sasportal"
              ]
            },
            "updateSigned": {
              "parameterOrder": [
                "name"
              ],
              "request": {
                "$ref": "SasPortalUpdateSignedDeviceRequest"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/sasportal"
              ],
              "flatPath": "v1alpha1/customers/{customersId}/devices/{devicesId}:updateSigned",
              "id": "sasportal.customers.devices.updateSigned",
              "parameters": {
                "name": {
                  "required": true,
                  "location": "path",
                  "description": "Required. The name of the device to update.",
                  "pattern": "^customers/[^/]+/devices/[^/]+$",
                  "type": "string"
                }
              },
              "path": "v1alpha1/{+name}:updateSigned",
              "httpMethod": "PATCH",
              "description": "Updates a signed device.",
              "response": {
                "$ref": "SasPortalDevice"
              }
            },
            "create": {
              "response": {
                "$ref": "SasPortalDevice"
              },
              "httpMethod": "POST",
              "parameterOrder": [
                "parent"
              ],
              "request": {
                "$ref": "SasPortalDevice"
              },
              "parameters": {
                "parent": {
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "pattern": "^customers/[^/]+$",
                  "description": "Required. The name of the parent resource."
                }
              },
              "flatPath": "v1alpha1/customers/{customersId}/devices",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/sasportal"
              ],
              "path": "v1alpha1/{+parent}/devices",
              "description": "Creates a device under a node or customer.",
              "id": "sasportal.customers.devices.create"
            }
          }
        },
        "deployments": {
          "resources": {
            "devices": {
              "methods": {
                "create": {
                  "path": "v1alpha1/{+parent}/devices",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/sasportal"
                  ],
                  "request": {
                    "$ref": "SasPortalDevice"
                  },
                  "description": "Creates a device under a node or customer.",
                  "flatPath": "v1alpha1/customers/{customersId}/deployments/{deploymentsId}/devices",
                  "parameterOrder": [
                    "parent"
                  ],
                  "httpMethod": "POST",
                  "parameters": {
                    "parent": {
                      "pattern": "^customers/[^/]+/deployments/[^/]+$",
                      "description": "Required. The name of the parent resource.",
                      "required": true,
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "response": {
                    "$ref": "SasPortalDevice"
                  },
                  "id": "sasportal.customers.deployments.devices.create"
                },
                "list": {
                  "description": "Lists devices under a node or customer.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/sasportal"
                  ],
                  "path": "v1alpha1/{+parent}/devices",
                  "flatPath": "v1alpha1/customers/{customersId}/deployments/{deploymentsId}/devices",
                  "parameterOrder": [
                    "parent"
                  ],
                  "id": "sasportal.customers.deployments.devices.list",
                  "parameters": {
                    "parent": {
                      "required": true,
                      "pattern": "^customers/[^/]+/deployments/[^/]+$",
                      "location": "path",
                      "type": "string",
                      "description": "Required. The name of the parent resource."
                    },
                    "pageToken": {
                      "location": "query",
                      "description": "A pagination token returned from a previous call to ListDevices that indicates where this listing should continue from.",
                      "type": "string"
                    },
                    "pageSize": {
                      "description": "The maximum number of devices to return in the response. If empty or zero, all devices will be listed. Must be in the range [0, 1000].",
                      "format": "int32",
                      "location": "query",
                      "type": "integer"
                    },
                    "filter": {
                      "location": "query",
                      "type": "string",
                      "description": "The filter expression. The filter should have one of the following formats: \"sn=123454\" or \"display_name=MyDevice\". sn corresponds to serial number of the device. The filter is case insensitive."
                    }
                  },
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "SasPortalListDevicesResponse"
                  }
                },
                "createSigned": {
                  "response": {
                    "$ref": "SasPortalDevice"
                  },
                  "request": {
                    "$ref": "SasPortalCreateSignedDeviceRequest"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "description": "Creates a signed device under a node or customer.",
                  "flatPath": "v1alpha1/customers/{customersId}/deployments/{deploymentsId}/devices:createSigned",
                  "path": "v1alpha1/{+parent}/devices:createSigned",
                  "httpMethod": "POST",
                  "parameters": {
                    "parent": {
                      "required": true,
                      "type": "string",
                      "pattern": "^customers/[^/]+/deployments/[^/]+$",
                      "description": "Required. The name of the parent resource.",
                      "location": "path"
                    }
                  },
                  "id": "sasportal.customers.deployments.devices.createSigned",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/sasportal"
                  ]
                }
              }
            }
          },
          "methods": {
            "patch": {
              "parameters": {
                "name": {
                  "pattern": "^customers/[^/]+/deployments/[^/]+$",
                  "description": "Output only. Resource name.",
                  "required": true,
                  "type": "string",
                  "location": "path"
                },
                "updateMask": {
                  "format": "google-fieldmask",
                  "description": "Fields to be updated.",
                  "location": "query",
                  "type": "string"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/sasportal"
              ],
              "httpMethod": "PATCH",
              "id": "sasportal.customers.deployments.patch",
              "request": {
                "$ref": "SasPortalDeployment"
              },
              "path": "v1alpha1/{+name}",
              "description": "Updates an existing deployment.",
              "response": {
                "$ref": "SasPortalDeployment"
              },
              "flatPath": "v1alpha1/customers/{customersId}/deployments/{deploymentsId}",
              "parameterOrder": [
                "name"
              ]
            },
            "get": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/sasportal"
              ],
              "httpMethod": "GET",
              "parameters": {
                "name": {
                  "pattern": "^customers/[^/]+/deployments/[^/]+$",
                  "location": "path",
                  "required": true,
                  "description": "Required. The name of the deployment.",
                  "type": "string"
                }
              },
              "id": "sasportal.customers.deployments.get",
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1alpha1/customers/{customersId}/deployments/{deploymentsId}",
              "path": "v1alpha1/{+name}",
              "response": {
                "$ref": "SasPortalDeployment"
              },
              "description": "Returns a requested deployment."
            },
            "delete": {
              "httpMethod": "DELETE",
              "parameters": {
                "name": {
                  "pattern": "^customers/[^/]+/deployments/[^/]+$",
                  "required": true,
                  "description": "Required. The name of the deployment.",
                  "type": "string",
                  "location": "path"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "description": "Deletes a deployment.",
              "path": "v1alpha1/{+name}",
              "response": {
                "$ref": "SasPortalEmpty"
              },
              "flatPath": "v1alpha1/customers/{customersId}/deployments/{deploymentsId}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/sasportal"
              ],
              "id": "sasportal.customers.deployments.delete"
            },
            "list": {
              "path": "v1alpha1/{+parent}/deployments",
              "id": "sasportal.customers.deployments.list",
              "flatPath": "v1alpha1/customers/{customersId}/deployments",
              "parameterOrder": [
                "parent"
              ],
              "parameters": {
                "parent": {
                  "location": "path",
                  "pattern": "^customers/[^/]+$",
                  "description": "Required. The parent resource name, for example, \"nodes/1\", customer/1/nodes/2.",
                  "type": "string",
                  "required": true
                },
                "pageSize": {
                  "format": "int32",
                  "location": "query",
                  "type": "integer",
                  "description": "The maximum number of deployments to return in the response."
                },
                "pageToken": {
                  "description": "A pagination token returned from a previous call to ListDeployments that indicates where this listing should continue from.",
                  "type": "string",
                  "location": "query"
                },
                "filter": {
                  "type": "string",
                  "location": "query",
                  "description": "The filter expression. The filter should have the following format: \"DIRECT_CHILDREN\" or format: \"direct_children\". The filter is case insensitive. If empty, then no deployments are filtered."
                }
              },
              "description": "Lists deployments.",
              "httpMethod": "GET",
              "response": {
                "$ref": "SasPortalListDeploymentsResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/sasportal"
              ]
            },
            "create": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/sasportal"
              ],
              "response": {
                "$ref": "SasPortalDeployment"
              },
              "path": "v1alpha1/{+parent}/deployments",
              "parameterOrder": [
                "parent"
              ],
              "flatPath": "v1alpha1/customers/{customersId}/deployments",
              "description": "Creates a new deployment.",
              "request": {
                "$ref": "SasPortalDeployment"
              },
              "httpMethod": "POST",
              "id": "sasportal.customers.deployments.create",
              "parameters": {
                "parent": {
                  "pattern": "^customers/[^/]+$",
                  "required": true,
                  "description": "Required. The parent resource name where the deployment is to be created.",
                  "location": "path",
                  "type": "string"
                }
              }
            },
            "move": {
              "id": "sasportal.customers.deployments.move",
              "httpMethod": "POST",
              "parameters": {
                "name": {
                  "location": "path",
                  "type": "string",
                  "description": "Required. The name of the deployment to move.",
                  "pattern": "^customers/[^/]+/deployments/[^/]+$",
                  "required": true
                }
              },
              "description": "Moves a deployment under another node or customer.",
              "response": {
                "$ref": "SasPortalOperation"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/sasportal"
              ],
              "flatPath": "v1alpha1/customers/{customersId}/deployments/{deploymentsId}:move",
              "parameterOrder": [
                "name"
              ],
              "request": {
                "$ref": "SasPortalMoveDeploymentRequest"
              },
              "path": "v1alpha1/{+name}:move"
            }
          }
        },
        "nodes": {
          "resources": {
            "devices": {
              "methods": {
                "create": {
                  "id": "sasportal.customers.nodes.devices.create",
                  "flatPath": "v1alpha1/customers/{customersId}/nodes/{nodesId}/devices",
                  "response": {
                    "$ref": "SasPortalDevice"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "SasPortalDevice"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/sasportal"
                  ],
                  "parameters": {
                    "parent": {
                      "required": true,
                      "description": "Required. The name of the parent resource.",
                      "location": "path",
                      "type": "string",
                      "pattern": "^customers/[^/]+/nodes/[^/]+$"
                    }
                  },
                  "description": "Creates a device under a node or customer.",
                  "path": "v1alpha1/{+parent}/devices"
                },
                "list": {
                  "parameters": {
                    "parent": {
                      "description": "Required. The name of the parent resource.",
                      "required": true,
                      "type": "string",
                      "pattern": "^customers/[^/]+/nodes/[^/]+$",
                      "location": "path"
                    },
                    "pageToken": {
                      "type": "string",
                      "description": "A pagination token returned from a previous call to ListDevices that indicates where this listing should continue from.",
                      "location": "query"
                    },
                    "pageSize": {
                      "location": "query",
                      "description": "The maximum number of devices to return in the response. If empty or zero, all devices will be listed. Must be in the range [0, 1000].",
                      "type": "integer",
                      "format": "int32"
                    },
                    "filter": {
                      "description": "The filter expression. The filter should have one of the following formats: \"sn=123454\" or \"display_name=MyDevice\". sn corresponds to serial number of the device. The filter is case insensitive.",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/sasportal"
                  ],
                  "path": "v1alpha1/{+parent}/devices",
                  "parameterOrder": [
                    "parent"
                  ],
                  "flatPath": "v1alpha1/customers/{customersId}/nodes/{nodesId}/devices",
                  "id": "sasportal.customers.nodes.devices.list",
                  "description": "Lists devices under a node or customer.",
                  "response": {
                    "$ref": "SasPortalListDevicesResponse"
                  }
                },
                "createSigned": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/sasportal"
                  ],
                  "response": {
                    "$ref": "SasPortalDevice"
                  },
                  "httpMethod": "POST",
                  "flatPath": "v1alpha1/customers/{customersId}/nodes/{nodesId}/devices:createSigned",
                  "parameters": {
                    "parent": {
                      "type": "string",
                      "location": "path",
                      "pattern": "^customers/[^/]+/nodes/[^/]+$",
                      "required": true,
                      "description": "Required. The name of the parent resource."
                    }
                  },
                  "request": {
                    "$ref": "SasPortalCreateSignedDeviceRequest"
                  },
                  "description": "Creates a signed device under a node or customer.",
                  "id": "sasportal.customers.nodes.devices.createSigned",
                  "parameterOrder": [
                    "parent"
                  ],
                  "path": "v1alpha1/{+parent}/devices:createSigned"
                }
              }
            },
            "deployments": {
              "methods": {
                "list": {
                  "response": {
                    "$ref": "SasPortalListDeploymentsResponse"
                  },
                  "id": "sasportal.customers.nodes.deployments.list",
                  "flatPath": "v1alpha1/customers/{customersId}/nodes/{nodesId}/deployments",
                  "parameterOrder": [
                    "parent"
                  ],
                  "httpMethod": "GET",
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "description": "Required. The parent resource name, for example, \"nodes/1\", customer/1/nodes/2.",
                      "type": "string",
                      "pattern": "^customers/[^/]+/nodes/[^/]+$",
                      "required": true
                    },
                    "pageToken": {
                      "type": "string",
                      "location": "query",
                      "description": "A pagination token returned from a previous call to ListDeployments that indicates where this listing should continue from."
                    },
                    "pageSize": {
                      "type": "integer",
                      "format": "int32",
                      "location": "query",
                      "description": "The maximum number of deployments to return in the response."
                    },
                    "filter": {
                      "description": "The filter expression. The filter should have the following format: \"DIRECT_CHILDREN\" or format: \"direct_children\". The filter is case insensitive. If empty, then no deployments are filtered.",
                      "type": "string",
                      "location": "query"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/sasportal"
                  ],
                  "path": "v1alpha1/{+parent}/deployments",
                  "description": "Lists deployments."
                },
                "create": {
                  "parameterOrder": [
                    "parent"
                  ],
                  "id": "sasportal.customers.nodes.deployments.create",
                  "request": {
                    "$ref": "SasPortalDeployment"
                  },
                  "flatPath": "v1alpha1/customers/{customersId}/nodes/{nodesId}/deployments",
                  "description": "Creates a new deployment.",
                  "response": {
                    "$ref": "SasPortalDeployment"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/sasportal"
                  ],
                  "path": "v1alpha1/{+parent}/deployments",
                  "parameters": {
                    "parent": {
                      "pattern": "^customers/[^/]+/nodes/[^/]+$",
                      "type": "string",
                      "description": "Required. The parent resource name where the deployment is to be created.",
                      "required": true,
                      "location": "path"
                    }
                  },
                  "httpMethod": "POST"
                }
              }
            },
            "nodes": {
              "methods": {
                "list": {
                  "parameterOrder": [
                    "parent"
                  ],
                  "id": "sasportal.customers.nodes.nodes.list",
                  "path": "v1alpha1/{+parent}/nodes",
                  "response": {
                    "$ref": "SasPortalListNodesResponse"
                  },
                  "description": "Lists nodes.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/sasportal"
                  ],
                  "flatPath": "v1alpha1/customers/{customersId}/nodes/{nodesId}/nodes",
                  "parameters": {
                    "pageToken": {
                      "type": "string",
                      "description": "A pagination token returned from a previous call to ListNodes that indicates where this listing should continue from.",
                      "location": "query"
                    },
                    "filter": {
                      "location": "query",
                      "description": "The filter expression. The filter should have the following format: \"DIRECT_CHILDREN\" or format: \"direct_children\". The filter is case insensitive. If empty, then no nodes are filtered.",
                      "type": "string"
                    },
                    "parent": {
                      "type": "string",
                      "description": "Required. The parent resource name, for example, \"nodes/1\".",
                      "required": true,
                      "location": "path",
                      "pattern": "^customers/[^/]+/nodes/[^/]+$"
                    },
                    "pageSize": {
                      "location": "query",
                      "type": "integer",
                      "format": "int32",
                      "description": "The maximum number of nodes to return in the response."
                    }
                  },
                  "httpMethod": "GET"
                },
                "create": {
                  "id": "sasportal.customers.nodes.nodes.create",
                  "description": "Creates a new node.",
                  "request": {
                    "$ref": "SasPortalNode"
                  },
                  "path": "v1alpha1/{+parent}/nodes",
                  "parameters": {
                    "parent": {
                      "required": true,
                      "description": "Required. The parent resource name where the node is to be created.",
                      "type": "string",
                      "location": "path",
                      "pattern": "^customers/[^/]+/nodes/[^/]+$"
                    }
                  },
                  "httpMethod": "POST",
                  "flatPath": "v1alpha1/customers/{customersId}/nodes/{nodesId}/nodes",
                  "parameterOrder": [
                    "parent"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/sasportal"
                  ],
                  "response": {
                    "$ref": "SasPortalNode"
                  }
                }
              }
            }
          },
          "methods": {
            "list": {
              "response": {
                "$ref": "SasPortalListNodesResponse"
              },
              "parameterOrder": [
                "parent"
              ],
              "path": "v1alpha1/{+parent}/nodes",
              "id": "sasportal.customers.nodes.list",
              "flatPath": "v1alpha1/customers/{customersId}/nodes",
              "parameters": {
                "filter": {
                  "type": "string",
                  "location": "query",
                  "description": "The filter expression. The filter should have the following format: \"DIRECT_CHILDREN\" or format: \"direct_children\". The filter is case insensitive. If empty, then no nodes are filtered."
                },
                "pageSize": {
                  "description": "The maximum number of nodes to return in the response.",
                  "type": "integer",
                  "location": "query",
                  "format": "int32"
                },
                "pageToken": {
                  "location": "query",
                  "type": "string",
                  "description": "A pagination token returned from a previous call to ListNodes that indicates where this listing should continue from."
                },
                "parent": {
                  "pattern": "^customers/[^/]+$",
                  "location": "path",
                  "description": "Required. The parent resource name, for example, \"nodes/1\".",
                  "type": "string",
                  "required": true
                }
              },
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/sasportal"
              ],
              "description": "Lists nodes."
            },
            "create": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/sasportal"
              ],
              "path": "v1alpha1/{+parent}/nodes",
              "id": "sasportal.customers.nodes.create",
              "httpMethod": "POST",
              "parameterOrder": [
                "parent"
              ],
              "parameters": {
                "parent": {
                  "location": "path",
                  "required": true,
                  "description": "Required. The parent resource name where the node is to be created.",
                  "pattern": "^customers/[^/]+$",
                  "type": "string"
                }
              },
              "description": "Creates a new node.",
              "request": {
                "$ref": "SasPortalNode"
              },
              "response": {
                "$ref": "SasPortalNode"
              },
              "flatPath": "v1alpha1/customers/{customersId}/nodes"
            },
            "move": {
              "httpMethod": "POST",
              "parameters": {
                "name": {
                  "pattern": "^customers/[^/]+/nodes/[^/]+$",
                  "description": "Required. The name of the node to move.",
                  "type": "string",
                  "location": "path",
                  "required": true
                }
              },
              "flatPath": "v1alpha1/customers/{customersId}/nodes/{nodesId}:move",
              "response": {
                "$ref": "SasPortalOperation"
              },
              "id": "sasportal.customers.nodes.move",
              "path": "v1alpha1/{+name}:move",
              "description": "Moves a node under another node or customer.",
              "request": {
                "$ref": "SasPortalMoveNodeRequest"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/sasportal"
              ],
              "parameterOrder": [
                "name"
              ]
            },
            "get": {
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "pattern": "^customers/[^/]+/nodes/[^/]+$",
                  "description": "Required. The name of the node.",
                  "required": true,
                  "location": "path",
                  "type": "string"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/sasportal"
              ],
              "httpMethod": "GET",
              "flatPath": "v1alpha1/customers/{customersId}/nodes/{nodesId}",
              "id": "sasportal.customers.nodes.get",
              "response": {
                "$ref": "SasPortalNode"
              },
              "path": "v1alpha1/{+name}",
              "description": "Returns a requested node."
            },
            "patch": {
              "flatPath": "v1alpha1/customers/{customersId}/nodes/{nodesId}",
              "httpMethod": "PATCH",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "updateMask": {
                  "format": "google-fieldmask",
                  "description": "Fields to be updated.",
                  "type": "string",
                  "location": "query"
                },
                "name": {
                  "type": "string",
                  "location": "path",
                  "pattern": "^customers/[^/]+/nodes/[^/]+$",
                  "required": true,
                  "description": "Output only. Resource name."
                }
              },
              "description": "Updates an existing node.",
              "response": {
                "$ref": "SasPortalNode"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/sasportal"
              ],
              "path": "v1alpha1/{+name}",
              "request": {
                "$ref": "SasPortalNode"
              },
              "id": "sasportal.customers.nodes.patch"
            },
            "delete": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/sasportal"
              ],
              "path": "v1alpha1/{+name}",
              "description": "Deletes a node.",
              "httpMethod": "DELETE",
              "response": {
                "$ref": "SasPortalEmpty"
              },
              "parameters": {
                "name": {
                  "required": true,
                  "pattern": "^customers/[^/]+/nodes/[^/]+$",
                  "description": "Required. The name of the node.",
                  "type": "string",
                  "location": "path"
                }
              },
              "id": "sasportal.customers.nodes.delete",
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1alpha1/customers/{customersId}/nodes/{nodesId}"
            }
          }
        }
      },
      "methods": {
        "setupSasAnalytics": {
          "flatPath": "v1alpha1/customers:setupSasAnalytics",
          "id": "sasportal.customers.setupSasAnalytics",
          "response": {
            "$ref": "SasPortalOperation"
          },
          "parameters": {},
          "httpMethod": "POST",
          "description": "Setups the a GCP Project to receive SAS Analytics messages via GCP Pub/Sub with a subscription to BigQuery. All the Pub/Sub topics and BigQuery tables are created automatically as part of this service.",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sasportal"
          ],
          "request": {
            "$ref": "SasPortalSetupSasAnalyticsRequest"
          },
          "parameterOrder": [],
          "path": "v1alpha1/customers:setupSasAnalytics"
        },
        "listGcpProjectDeployments": {
          "id": "sasportal.customers.listGcpProjectDeployments",
          "description": "Returns a list of SAS deployments associated with current GCP project. Includes whether SAS analytics has been enabled or not.",
          "httpMethod": "GET",
          "parameters": {},
          "path": "v1alpha1/customers:listGcpProjectDeployments",
          "response": {
            "$ref": "SasPortalListGcpProjectDeploymentsResponse"
          },
          "parameterOrder": [],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sasportal"
          ],
          "flatPath": "v1alpha1/customers:listGcpProjectDeployments"
        },
        "list": {
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sasportal"
          ],
          "description": "Returns a list of requested customers.",
          "parameterOrder": [],
          "parameters": {
            "pageSize": {
              "location": "query",
              "description": "The maximum number of customers to return in the response.",
              "type": "integer",
              "format": "int32"
            },
            "pageToken": {
              "description": "A pagination token returned from a previous call to ListCustomers that indicates where this listing should continue from.",
              "type": "string",
              "location": "query"
            }
          },
          "response": {
            "$ref": "SasPortalListCustomersResponse"
          },
          "id": "sasportal.customers.list",
          "httpMethod": "GET",
          "path": "v1alpha1/customers",
          "flatPath": "v1alpha1/customers"
        },
        "get": {
          "flatPath": "v1alpha1/customers/{customersId}",
          "description": "Returns a requested customer.",
          "response": {
            "$ref": "SasPortalCustomer"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sasportal"
          ],
          "id": "sasportal.customers.get",
          "parameters": {
            "name": {
              "required": true,
              "description": "Required. The name of the customer.",
              "pattern": "^customers/[^/]+$",
              "type": "string",
              "location": "path"
            }
          },
          "parameterOrder": [
            "name"
          ],
          "httpMethod": "GET",
          "path": "v1alpha1/{+name}"
        },
        "provisionDeployment": {
          "response": {
            "$ref": "SasPortalProvisionDeploymentResponse"
          },
          "flatPath": "v1alpha1/customers:provisionDeployment",
          "parameterOrder": [],
          "httpMethod": "POST",
          "parameters": {},
          "id": "sasportal.customers.provisionDeployment",
          "request": {
            "$ref": "SasPortalProvisionDeploymentRequest"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sasportal"
          ],
          "description": "Creates a new SAS deployment through the GCP workflow. Creates a SAS organization if an organization match is not found.",
          "path": "v1alpha1/customers:provisionDeployment"
        },
        "patch": {
          "parameterOrder": [
            "name"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sasportal"
          ],
          "id": "sasportal.customers.patch",
          "request": {
            "$ref": "SasPortalCustomer"
          },
          "description": "Updates an existing customer.",
          "path": "v1alpha1/{+name}",
          "httpMethod": "PATCH",
          "flatPath": "v1alpha1/customers/{customersId}",
          "parameters": {
            "updateMask": {
              "description": "Fields to be updated.",
              "location": "query",
              "format": "google-fieldmask",
              "type": "string"
            },
            "name": {
              "description": "Output only. Resource name of the customer.",
              "location": "path",
              "type": "string",
              "required": true,
              "pattern": "^customers/[^/]+$"
            }
          },
          "response": {
            "$ref": "SasPortalCustomer"
          }
        },
        "migrateOrganization": {
          "parameterOrder": [],
          "parameters": {},
          "request": {
            "$ref": "SasPortalMigrateOrganizationRequest"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sasportal"
          ],
          "httpMethod": "POST",
          "description": "Migrates a SAS organization to the cloud. This will create GCP projects for each deployment and associate them. The SAS Organization is linked to the gcp project that called the command. go/sas-legacy-customer-migration",
          "id": "sasportal.customers.migrateOrganization",
          "flatPath": "v1alpha1/customers:migrateOrganization",
          "path": "v1alpha1/customers:migrateOrganization",
          "response": {
            "$ref": "SasPortalOperation"
          }
        },
        "listLegacyOrganizations": {
          "parameters": {},
          "description": "Returns a list of legacy organizations.",
          "flatPath": "v1alpha1/customers:listLegacyOrganizations",
          "httpMethod": "GET",
          "response": {
            "$ref": "SasPortalListLegacyOrganizationsResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sasportal"
          ],
          "path": "v1alpha1/customers:listLegacyOrganizations",
          "id": "sasportal.customers.listLegacyOrganizations",
          "parameterOrder": []
        }
      }
    },
    "deployments": {
      "resources": {
        "devices": {
          "methods": {
            "get": {
              "response": {
                "$ref": "SasPortalDevice"
              },
              "httpMethod": "GET",
              "flatPath": "v1alpha1/deployments/{deploymentsId}/devices/{devicesId}",
              "parameters": {
                "name": {
                  "description": "Required. The name of the device.",
                  "required": true,
                  "pattern": "^deployments/[^/]+/devices/[^/]+$",
                  "type": "string",
                  "location": "path"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/sasportal"
              ],
              "id": "sasportal.deployments.devices.get",
              "description": "Gets details about a device.",
              "path": "v1alpha1/{+name}",
              "parameterOrder": [
                "name"
              ]
            },
            "patch": {
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1alpha1/deployments/{deploymentsId}/devices/{devicesId}",
              "parameters": {
                "updateMask": {
                  "type": "string",
                  "format": "google-fieldmask",
                  "description": "Fields to be updated.",
                  "location": "query"
                },
                "name": {
                  "description": "Output only. The resource path name.",
                  "required": true,
                  "pattern": "^deployments/[^/]+/devices/[^/]+$",
                  "type": "string",
                  "location": "path"
                }
              },
              "response": {
                "$ref": "SasPortalDevice"
              },
              "description": "Updates a device.",
              "httpMethod": "PATCH",
              "id": "sasportal.deployments.devices.patch",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/sasportal"
              ],
              "path": "v1alpha1/{+name}",
              "request": {
                "$ref": "SasPortalDevice"
              }
            },
            "updateSigned": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/sasportal"
              ],
              "path": "v1alpha1/{+name}:updateSigned",
              "parameters": {
                "name": {
                  "type": "string",
                  "required": true,
                  "description": "Required. The name of the device to update.",
                  "location": "path",
                  "pattern": "^deployments/[^/]+/devices/[^/]+$"
                }
              },
              "httpMethod": "PATCH",
              "description": "Updates a signed device.",
              "request": {
                "$ref": "SasPortalUpdateSignedDeviceRequest"
              },
              "flatPath": "v1alpha1/deployments/{deploymentsId}/devices/{devicesId}:updateSigned",
              "id": "sasportal.deployments.devices.updateSigned",
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "SasPortalDevice"
              }
            },
            "delete": {
              "id": "sasportal.deployments.devices.delete",
              "path": "v1alpha1/{+name}",
              "response": {
                "$ref": "SasPortalEmpty"
              },
              "description": "Deletes a device.",
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1alpha1/deployments/{deploymentsId}/devices/{devicesId}",
              "httpMethod": "DELETE",
              "parameters": {
                "name": {
                  "type": "string",
                  "pattern": "^deployments/[^/]+/devices/[^/]+$",
                  "required": true,
                  "description": "Required. The name of the device.",
                  "location": "path"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/sasportal"
              ]
            },
            "move": {
              "request": {
                "$ref": "SasPortalMoveDeviceRequest"
              },
              "description": "Moves a device under another node or customer.",
              "response": {
                "$ref": "SasPortalOperation"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/sasportal"
              ],
              "flatPath": "v1alpha1/deployments/{deploymentsId}/devices/{devicesId}:move",
              "httpMethod": "POST",
              "parameters": {
                "name": {
                  "type": "string",
                  "location": "path",
                  "pattern": "^deployments/[^/]+/devices/[^/]+$",
                  "description": "Required. The name of the device to move.",
                  "required": true
                }
              },
              "path": "v1alpha1/{+name}:move",
              "parameterOrder": [
                "name"
              ],
              "id": "sasportal.deployments.devices.move"
            },
            "signDevice": {
              "request": {
                "$ref": "SasPortalSignDeviceRequest"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/sasportal"
              ],
              "response": {
                "$ref": "SasPortalEmpty"
              },
              "httpMethod": "POST",
              "description": "Signs a device.",
              "id": "sasportal.deployments.devices.signDevice",
              "parameters": {
                "name": {
                  "description": "Output only. The resource path name.",
                  "required": true,
                  "type": "string",
                  "pattern": "^deployments/[^/]+/devices/[^/]+$",
                  "location": "path"
                }
              },
              "path": "v1alpha1/{+name}:signDevice",
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1alpha1/deployments/{deploymentsId}/devices/{devicesId}:signDevice"
            }
          }
        }
      },
      "methods": {
        "get": {
[...]
