{
  "version": "v1alpha1",
  "fullyEncodeReservedExpansion": true,
  "name": "sasportal",
  "mtlsRootUrl": "https://sasportal.mtls.googleapis.com/",
  "baseUrl": "https://sasportal.googleapis.com/",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        },
        "https://www.googleapis.com/auth/sasportal": {
          "description": "Read, create, update, and delete your SAS Portal data."
        }
      }
    }
  },
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "title": "SAS Portal API",
  "version_module": true,
  "revision": "20260917",
  "protocol": "rest",
  "id": "sasportal:v1alpha1",
  "kind": "discovery#restDescription",
  "discoveryVersion": "v1",
  "documentationLink": "https://developers.google.com/spectrum-access-system/",
  "schemas": {
    "SasPortalListDevicesResponse": {
      "id": "SasPortalListDevicesResponse",
      "properties": {
        "devices": {
          "items": {
            "$ref": "SasPortalDevice"
          },
          "description": "The devices that match the request.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "A pagination token returned from a previous call to ListDevices that indicates from where listing should continue. If the field is missing or empty, it means there is no more devices.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Response for ListDevices."
    },
    "SasPortalCreateSignedDeviceRequest": {
      "id": "SasPortalCreateSignedDeviceRequest",
      "type": "object",
      "properties": {
        "installerId": {
          "type": "string",
          "description": "Required. Unique installer id (CPI ID) from the Certified Professional Installers database."
        },
        "encodedDevice": {
          "description": "Required. JSON Web Token signed using a CPI private key. Payload must be the JSON encoding of the device. The user_id field must be set.",
          "format": "byte",
          "type": "string"
        }
      },
      "description": "Request for CreateSignedDevice."
    },
    "SasPortalDpaMoveList": {
      "type": "object",
      "description": "An entry in a DPA's move list.",
      "id": "SasPortalDpaMoveList",
      "properties": {
        "frequencyRange": {
          "description": "The frequency range that the move list affects.",
          "$ref": "SasPortalFrequencyRange"
        },
        "dpaId": {
          "description": "The ID of the DPA.",
          "type": "string"
        }
      }
    },
    "SasPortalMoveDeviceRequest": {
      "properties": {
        "destination": {
          "type": "string",
          "description": "Required. The name of the new parent resource node or customer to reparent the device under."
        }
      },
      "id": "SasPortalMoveDeviceRequest",
      "description": "Request for MoveDevice.",
      "type": "object"
    },
    "SasPortalListDeploymentsResponse": {
      "description": "Response for ListDeployments.",
      "id": "SasPortalListDeploymentsResponse",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A pagination token returned from a previous call to ListDeployments that indicates from where listing should continue. If the field is missing or empty, it means there are no more deployments."
        },
        "deployments": {
          "items": {
            "$ref": "SasPortalDeployment"
          },
          "description": "The deployments that match the request.",
          "type": "array"
        }
      },
      "type": "object"
    },
    "SasPortalProvisionDeploymentResponse": {
      "type": "object",
      "properties": {
        "errorMessage": {
          "type": "string",
          "description": "Optional. Optional error message if the provisioning request is not successful."
        }
      },
      "description": "Response for [ProvisionDeployment]. [spectrum.sas.portal.v1alpha1.Provisioning.ProvisionDeployment].",
      "id": "SasPortalProvisionDeploymentResponse"
    },
    "SasPortalGetPolicyRequest": {
      "description": "Request message for `GetPolicy` method.",
      "id": "SasPortalGetPolicyRequest",
      "properties": {
        "resource": {
          "type": "string",
          "description": "Required. The resource for which the policy is being requested."
        }
      },
      "type": "object"
    },
    "SasPortalMigrateOrganizationRequest": {
      "description": "Request for [MigrateOrganization]. [spectrum.sas.portal.v1alpha1.Provisioning.MigrateOrganization]. GCP Project, Organization Info, and caller's GAIA ID should be retrieved from the RPC handler, and used to check authorization on SAS Portal organization and to create GCP Projects.",
      "type": "object",
      "properties": {
        "organizationId": {
          "description": "Required. Id of the SAS organization to be migrated.",
          "format": "int64",
          "type": "string"
        }
      },
      "id": "SasPortalMigrateOrganizationRequest"
    },
    "SasPortalDeviceModel": {
      "properties": {
        "name": {
          "type": "string",
          "description": "The name of the device model."
        },
        "hardwareVersion": {
          "type": "string",
          "description": "The hardware version of the device."
        },
        "softwareVersion": {
          "description": "The software version of the device.",
          "type": "string"
        },
        "firmwareVersion": {
          "type": "string",
          "description": "The firmware version of the device."
        },
        "vendor": {
          "type": "string",
          "description": "The name of the device vendor."
        }
      },
      "type": "object",
      "id": "SasPortalDeviceModel",
      "description": "Information about the model of the device."
    },
    "SasPortalNode": {
      "id": "SasPortalNode",
      "description": "The Node.",
      "properties": {
        "sasUserIds": {
          "description": "User ids used by the devices belonging to this node.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "displayName": {
          "type": "string",
          "description": "The node's display name."
        },
        "name": {
          "type": "string",
          "description": "Output only. Resource name."
        }
      },
      "type": "object"
    },
    "SasPortalDeviceAirInterface": {
      "type": "object",
      "properties": {
        "radioTechnology": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "description": "Conditional. This field specifies the radio access technology that is used for the CBSD.",
          "type": "string",
          "enum": [
            "RADIO_TECHNOLOGY_UNSPECIFIED",
            "E_UTRA",
            "CAMBIUM_NETWORKS",
            "FOUR_G_BBW_SAA_1",
            "NR",
            "DOODLE_CBRS",
            "CW",
            "REDLINE",
            "TARANA_WIRELESS",
            "FAROS"
          ]
        },
        "supportedSpec": {
          "type": "string",
          "description": "Optional. This field is related to the `radioTechnology` and provides the air interface specification that the CBSD is compliant with at the time of registration."
        }
      },
      "description": "Information about the device's air interface.",
      "id": "SasPortalDeviceAirInterface"
    },
    "SasPortalMoveDeploymentRequest": {
      "description": "Request for MoveDeployment.",
      "type": "object",
      "id": "SasPortalMoveDeploymentRequest",
      "properties": {
        "destination": {
          "type": "string",
          "description": "Required. The name of the new parent resource node or customer to reparent the deployment under."
        }
      }
    },
    "SasPortalGenerateSecretRequest": {
      "type": "object",
      "description": "Request for GenerateSecret.",
      "properties": {},
      "id": "SasPortalGenerateSecretRequest"
    },
    "SasPortalListGcpProjectDeploymentsResponse": {
      "properties": {
        "deployments": {
          "description": "Optional. Deployments associated with the GCP project",
          "items": {
            "$ref": "SasPortalGcpProjectDeployment"
          },
          "type": "array"
        }
      },
      "type": "object",
      "id": "SasPortalListGcpProjectDeploymentsResponse",
      "description": "Response for [ListGcpProjectDeployments]."
    },
    "SasPortalMigrateOrganizationMetadata": {
      "properties": {
        "operationState": {
          "description": "Output only. Current operation state",
          "readOnly": true,
          "type": "string",
          "enum": [
            "OPERATION_STATE_UNSPECIFIED",
            "OPERATION_STATE_PENDING",
            "OPERATION_STATE_RUNNING",
            "OPERATION_STATE_SUCCEEDED",
            "OPERATION_STATE_FAILED"
          ],
          "enumDescriptions": [
            "Unspecified.",
            "Pending (Not started).",
            "In-progress.",
            "Done successfully.",
            "Done with errors."
          ]
        }
      },
      "type": "object",
      "description": "Long-running operation metadata message returned by the MigrateOrganization.",
      "id": "SasPortalMigrateOrganizationMetadata"
    },
    "SasPortalValidateInstallerRequest": {
      "description": "Request for ValidateInstaller.",
      "type": "object",
      "properties": {
        "secret": {
          "type": "string",
          "description": "Required. Secret returned by the GenerateSecret."
        },
        "encodedSecret": {
          "type": "string",
          "description": "Required. JSON Web Token signed using a CPI private key. Payload must include a \"secret\" claim whose value is the secret."
        },
        "installerId": {
          "description": "Required. Unique installer id (CPI ID) from the Certified Professional Installers database.",
          "type": "string"
        }
      },
      "id": "SasPortalValidateInstallerRequest"
    },
    "SasPortalDeployment": {
      "properties": {
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Resource name."
        },
        "displayName": {
          "description": "The deployment's display name.",
          "type": "string"
        },
        "sasUserIds": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "User ID used by the devices belonging to this deployment. Each deployment should be associated with one unique user ID."
        },
        "frns": {
          "readOnly": true,
          "type": "array",
          "description": "Output only. The FCC Registration Numbers (FRNs) copied from its direct parent.",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object",
      "description": "The Deployment.",
      "id": "SasPortalDeployment"
    },
    "SasPortalSignDeviceRequest": {
      "id": "SasPortalSignDeviceRequest",
      "type": "object",
      "properties": {
        "device": {
          "$ref": "SasPortalDevice",
          "description": "Required. The device to sign. The device fields name, fcc_id and serial_number must be set. The user_id field must be set."
        }
      },
      "description": "Request for SignDevice."
    },
    "SasPortalOperation": {
      "properties": {
        "response": {
          "type": "object",
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          }
        },
        "done": {
          "type": "boolean",
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available."
        },
        "name": {
          "type": "string",
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`."
        },
        "error": {
          "$ref": "SasPortalStatus",
          "description": "The error result of the operation in case of failure or cancellation."
        },
        "metadata": {
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "type": "object",
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any."
        }
      },
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "type": "object",
      "id": "SasPortalOperation"
    },
    "SasPortalDeviceMetadata": {
      "id": "SasPortalDeviceMetadata",
      "properties": {
        "nrqzValidated": {
          "type": "boolean",
          "readOnly": true,
          "description": "Output only. Set to `true` if a CPI has validated that they have coordinated with the National Quiet Zone office.",
          "deprecated": true
        },
        "interferenceCoordinationGroup": {
          "description": "Interference Coordination Group (ICG). A group of CBSDs that manage their own interference with the group. For more details, see [CBRSA-TS-2001 V3.0.0](https://ongoalliance.org/wp-content/uploads/2020/02/CBRSA-TS-2001-V3.0.0_Approved-for-publication.pdf).",
          "type": "string"
        },
        "commonChannelGroup": {
          "type": "string",
          "description": "Common Channel Group (CCG). A group of CBSDs in the same ICG requesting a common primary channel assignment. For more details, see [CBRSA-TS-2001 V3.0.0](https://ongoalliance.org/wp-content/uploads/2020/02/CBRSA-TS-2001-V3.0.0_Approved-for-publication.pdf)."
        },
        "nrqzValidation": {
          "description": "Output only. National Radio Quiet Zone validation info.",
          "readOnly": true,
          "$ref": "SasPortalNrqzValidation"
        },
        "antennaModel": {
          "description": "If populated, the Antenna Model Pattern to use. Format is: `RecordCreatorId:PatternId`",
          "type": "string"
        }
      },
      "description": "Device data overridable by both SAS Portal and registration requests.",
      "type": "object"
    },
    "SasPortalEmpty": {
      "type": "object",
      "id": "SasPortalEmpty",
      "properties": {},
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }"
    },
    "SasPortalInstallationParams": {
      "type": "object",
      "properties": {
        "verticalAccuracy": {
          "description": "A positive number in meters to indicate accuracy of the device antenna vertical location. This optional parameter should only be present if its value is less than the FCC requirement of 3 meters.",
          "type": "number",
          "format": "double"
        },
        "horizontalAccuracy": {
          "description": "A positive number in meters to indicate accuracy of the device antenna horizontal location. This optional parameter should only be present if its value is less than the FCC requirement of 50 meters.",
          "type": "number",
          "format": "double"
        },
        "antennaBeamwidth": {
          "format": "int32",
          "type": "integer",
          "description": "3-dB antenna beamwidth of the antenna in the horizontal-plane in degrees. This parameter is an unsigned integer having a value between 0 and 360 (degrees) inclusive; it is optional for Category A devices and conditional for Category B devices."
        },
        "antennaDowntilt": {
          "description": "Antenna downtilt in degrees and is an integer with a value between -90 and +90 inclusive; a negative value means the antenna is tilted up (above horizontal). This parameter is optional for Category A devices and conditional for Category B devices.",
          "type": "integer",
          "format": "int32"
        },
        "antennaGain": {
          "type": "number",
          "format": "double",
          "description": "Peak antenna gain in dBi. This parameter is a double with a value between -127 and +128 (dBi) inclusive. Part of Release 2 to support floating-point value"
        },
        "cpeCbsdIndication": {
          "type": "boolean",
          "description": "If present, this parameter specifies whether the CBSD is a CPE-CBSD or not."
        },
        "height": {
          "type": "number",
          "format": "double",
          "description": "Device antenna height in meters. When the `heightType` parameter value is \"AGL\", the antenna height should be given relative to ground level. When the `heightType` parameter value is \"AMSL\", it is given with respect to WGS84 datum."
        },
        "latitude": {
          "format": "double",
          "type": "number",
          "description": "Latitude of the device antenna location in degrees relative to the WGS 84 datum. The allowed range is from -90.000000 to +90.000000. Positive values represent latitudes north of the equator; negative values south of the equator."
        },
        "longitude": {
          "type": "number",
          "description": "Longitude of the device antenna location in degrees relative to the WGS 84 datum. The allowed range is from -180.000000 to +180.000000. Positive values represent longitudes east of the prime meridian; negative values west of the prime meridian.",
          "format": "double"
        },
        "indoorDeployment": {
          "description": "Whether the device antenna is indoor or not. `true`: indoor. `false`: outdoor.",
          "type": "boolean"
        },
        "eirpCapability": {
          "type": "integer",
          "format": "int32",
          "description": "This parameter is the maximum device EIRP in units of dBm/10MHz and is an integer with a value between -127 and +47 (dBm/10 MHz) inclusive. If not included, SAS interprets it as maximum allowable EIRP in units of dBm/10MHz for device category."
        },
        "antennaAzimuth": {
          "type": "integer",
          "description": "Boresight direction of the horizontal plane of the antenna in degrees with respect to true north. The value of this parameter is an integer with a value between 0 and 359 inclusive. A value of 0 degrees means true north; a value of 90 degrees means east. This parameter is optional for Category A devices and conditional for Category B devices.",
          "format": "int32"
        },
        "heightType": {
          "description": "Specifies how the height is measured.",
          "enumDescriptions": [
            "Unspecified height type.",
            "AGL height is measured relative to the ground level.",
            "AMSL height is measured relative to the mean sea level."
          ],
          "type": "string",
          "enum": [
            "HEIGHT_TYPE_UNSPECIFIED",
            "HEIGHT_TYPE_AGL",
            "HEIGHT_TYPE_AMSL"
          ]
        },
        "antennaModel": {
          "type": "string",
          "description": "If an external antenna is used, the antenna model is optionally provided in this field. The string has a maximum length of 128 octets."
        }
      },
      "id": "SasPortalInstallationParams",
      "description": "Information about the device installation parameters."
    },
    "SasPortalValidateInstallerResponse": {
      "id": "SasPortalValidateInstallerResponse",
      "properties": {},
      "type": "object",
      "description": "Response for ValidateInstaller."
    },
    "SasPortalSetupSasAnalyticsRequest": {
      "type": "object",
      "id": "SasPortalSetupSasAnalyticsRequest",
      "description": "Request for the SetupSasAnalytics rpc.",
      "properties": {
        "userId": {
          "description": "Optional. User id to setup analytics for, if not provided the user id associated with the project is used. optional",
          "type": "string"
        }
      }
    },
    "SasPortalDevice": {
      "type": "object",
      "id": "SasPortalDevice",
      "properties": {
        "deviceMetadata": {
          "description": "Device parameters that can be overridden by both SAS Portal and SAS registration requests.",
          "$ref": "SasPortalDeviceMetadata"
        },
        "serialNumber": {
          "type": "string",
          "description": "A serial number assigned to the device by the device manufacturer."
        },
        "currentChannels": {
          "deprecated": true,
          "items": {
            "$ref": "SasPortalChannelWithScore"
          },
          "type": "array",
          "description": "Output only. Current channels with scores.",
          "readOnly": true
        },
        "preloadedConfig": {
          "$ref": "SasPortalDeviceConfig",
          "description": "Configuration of the device, as specified via SAS Portal API."
        },
        "fccId": {
          "description": "The FCC identifier of the device. Refer to https://www.fcc.gov/oet/ea/fccid for FccID format. Accept underscores and periods because some test-SAS customers use them.",
          "type": "string"
        },
        "grants": {
          "items": {
            "$ref": "SasPortalDeviceGrant"
          },
          "description": "Output only. Grants held by the device.",
          "type": "array"
        },
        "state": {
          "enumDescriptions": [
            "Unspecified state.",
            "Device created in the SAS Portal, however, not yet registered with SAS.",
            "Device registered with SAS.",
            "Device de-registered with SAS."
          ],
          "description": "Output only. Device state.",
          "type": "string",
          "enum": [
            "DEVICE_STATE_UNSPECIFIED",
            "RESERVED",
            "REGISTERED",
            "DEREGISTERED"
          ]
        },
        "grantRangeAllowlists": {
          "description": "Only ranges that are within the allowlists are available for new grants.",
          "type": "array",
          "items": {
            "$ref": "SasPortalFrequencyRange"
          }
        },
        "name": {
          "type": "string",
          "description": "Output only. The resource path name."
        },
        "activeConfig": {
          "$ref": "SasPortalDeviceConfig",
          "description": "Output only. Current configuration of the device as registered to the SAS."
        },
        "displayName": {
          "type": "string",
          "description": "Device display name."
        }
      }
    },
    "SasPortalGenerateSecretResponse": {
      "description": "Response for GenerateSecret.",
      "type": "object",
      "properties": {
        "secret": {
          "type": "string",
          "description": "The secret generated by the string and used by ValidateInstaller."
        }
      },
      "id": "SasPortalGenerateSecretResponse"
    },
    "SasPortalProvisionDeploymentRequest": {
      "id": "SasPortalProvisionDeploymentRequest",
      "properties": {
        "newOrganizationDisplayName": {
          "type": "string",
          "description": "Optional. If this field is set, and a new SAS Portal Organization needs to be created, its display name will be set to the value of this field."
        },
        "newDeploymentDisplayName": {
          "description": "Optional. If this field is set, and a new SAS Portal Deployment needs to be created, its display name will be set to the value of this field.",
          "type": "string"
        },
        "organizationId": {
          "format": "int64",
          "description": "Optional. If this field is set then a new deployment will be created under the organization specified by this id.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Request for [ProvisionDeployment]. [spectrum.sas.portal.v1alpha1.Provisioning.ProvisionDeployment]. GCP Project, Organization Info, and caller’s GAIA ID should be retrieved from the RPC handler, and used as inputs to create a new SAS organization (if not exists) and a new SAS deployment."
    },
    "SasPortalCustomer": {
      "properties": {
        "displayName": {
          "type": "string",
          "description": "Required. Name of the organization that the customer entity represents."
        },
        "name": {
          "type": "string",
          "description": "Output only. Resource name of the customer."
        },
        "sasUserIds": {
          "items": {
            "type": "string"
          },
          "description": "User IDs used by the devices belonging to this customer.",
          "type": "array"
        }
      },
      "id": "SasPortalCustomer",
      "description": "Entity representing a SAS customer.",
      "type": "object"
    },
    "SasPortalAssignment": {
      "description": "Associates `members` with a `role`.",
      "id": "SasPortalAssignment",
      "type": "object",
      "properties": {
        "role": {
          "description": "Required. Role that is assigned to `members`.",
          "type": "string"
        },
        "members": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "The identities the role is assigned to. It can have the following values: * `{user_email}`: An email address that represents a specific Google account. For example: `alice@gmail.com`. * `{group_email}`: An email address that represents a Google group. For example, `viewers@gmail.com`."
        }
      }
    },
    "SasPortalDeviceConfig": {
      "id": "SasPortalDeviceConfig",
      "properties": {
        "category": {
          "type": "string",
          "enum": [
            "DEVICE_CATEGORY_UNSPECIFIED",
            "DEVICE_CATEGORY_A",
            "DEVICE_CATEGORY_B"
          ],
          "description": "FCC category of the device.",
          "enumDescriptions": [
            "Unspecified device category.",
            "Category A.",
            "Category B."
          ]
        },
        "model": {
          "description": "Information about this device model.",
          "$ref": "SasPortalDeviceModel"
        },
        "state": {
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "DEVICE_CONFIG_STATE_UNSPECIFIED",
            "DRAFT",
            "FINAL"
          ],
          "description": "State of the configuration."
        },
        "installationParams": {
          "$ref": "SasPortalInstallationParams",
          "description": "Installation parameters for the device."
        },
        "updateTime": {
          "description": "Output only. The last time the device configuration was edited.",
          "type": "string",
          "format": "google-datetime"
        },
        "airInterface": {
          "description": "Information about this device's air interface.",
          "$ref": "SasPortalDeviceAirInterface"
        },
        "isSigned": {
          "type": "boolean",
          "description": "Output only. Whether the configuration has been signed by a CPI."
        },
        "userId": {
          "type": "string",
          "description": "The identifier of a device user."
        },
        "measurementCapabilities": {
          "description": "Measurement reporting capabilities of the device.",
          "items": {
            "type": "string",
            "enum": [
              "MEASUREMENT_CAPABILITY_UNSPECIFIED",
              "MEASUREMENT_CAPABILITY_RECEIVED_POWER_WITH_GRANT",
              "MEASUREMENT_CAPABILITY_RECEIVED_POWER_WITHOUT_GRANT"
            ],
            "enumDescriptions": [
              "",
              "",
              ""
            ]
          },
          "type": "array"
        },
        "callSign": {
          "description": "The call sign of the device operator.",
          "type": "string"
        }
      },
      "description": "Information about the device configuration.",
      "type": "object"
    },
    "SasPortalListNodesResponse": {
      "properties": {
        "nextPageToken": {
          "description": "A pagination token returned from a previous call to ListNodes that indicates from where listing should continue. If the field is missing or empty, it means there is no more nodes.",
          "type": "string"
        },
        "nodes": {
          "description": "The nodes that match the request.",
          "type": "array",
          "items": {
            "$ref": "SasPortalNode"
          }
        }
      },
      "type": "object",
      "id": "SasPortalListNodesResponse",
      "description": "Response for ListNodes."
    },
    "SasPortalMigrateOrganizationResponse": {
      "properties": {
        "deploymentAssociation": {
          "type": "array",
          "description": "Optional. A list of deployment association that were created for the migration, or current associations if they already exist.",
          "items": {
            "$ref": "SasPortalDeploymentAssociation"
          }
        }
      },
      "type": "object",
      "id": "SasPortalMigrateOrganizationResponse",
      "description": "Response for [MigrateOrganization]. [spectrum.sas.portal.v1alpha1.Provisioning.MigrateOrganization]."
    },
    "SasPortalSetupSasAnalyticsMetadata": {
      "id": "SasPortalSetupSasAnalyticsMetadata",
      "properties": {},
      "type": "object",
      "description": "Metadata returned by the long running operation for the SetupSasAnalytics rpc."
    },
    "SasPortalOrganization": {
      "properties": {
        "id": {
          "format": "int64",
          "description": "Id of organization",
          "type": "string"
        },
        "displayName": {
          "description": "Name of organization",
          "type": "string"
        }
      },
      "id": "SasPortalOrganization",
      "description": "Organization details.",
      "type": "object"
    },
    "SasPortalListLegacyOrganizationsResponse": {
      "type": "object",
      "id": "SasPortalListLegacyOrganizationsResponse",
      "description": "Response for [ListLegacyOrganizations]. [spectrum.sas.portal.v1alpha1.Provisioning.ListLegacyOrganizations].",
      "properties": {
        "organizations": {
          "items": {
            "$ref": "SasPortalOrganization"
          },
          "description": "Optional. Legacy SAS organizations.",
          "type": "array"
        }
      }
    },
    "SasPortalFrequencyRange": {
      "properties": {
        "lowFrequencyMhz": {
          "description": "The lowest frequency of the frequency range in MHz.",
          "type": "number",
          "format": "double"
        },
        "highFrequencyMhz": {
          "description": "The highest frequency of the frequency range in MHz.",
          "type": "number",
          "format": "double"
        }
      },
      "type": "object",
      "id": "SasPortalFrequencyRange",
      "description": "Frequency range from `low_frequency` to `high_frequency`."
    },
    "SasPortalListCustomersResponse": {
      "id": "SasPortalListCustomersResponse",
      "properties": {
        "customers": {
          "items": {
            "$ref": "SasPortalCustomer"
          },
          "description": "The list of customers that match the request.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "A pagination token returned from a previous call to ListCustomers that indicates from where listing should continue. If the field is missing or empty, it means there are no more customers.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Response for `ListCustomers`."
    },
    "SasPortalDeploymentAssociation": {
      "properties": {
        "gcpProjectId": {
          "type": "string",
          "description": "GCP project id of the associated project."
        },
        "userId": {
          "type": "string",
          "description": "User id of the deployment."
        }
      },
      "description": "Association between a gcp project and a SAS user id.",
      "type": "object",
      "id": "SasPortalDeploymentAssociation"
    },
    "SasPortalTestPermissionsRequest": {
      "properties": {
        "permissions": {
          "description": "The set of permissions to check for the `resource`.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "resource": {
          "description": "Required. The resource for which the permissions are being requested.",
          "type": "string"
        }
      },
      "description": "Request message for `TestPermissions` method.",
      "type": "object",
      "id": "SasPortalTestPermissionsRequest"
    },
    "SasPortalPolicy": {
      "description": "Defines an access control policy to the resources.",
      "id": "SasPortalPolicy",
      "properties": {
        "assignments": {
          "items": {
            "$ref": "SasPortalAssignment"
          },
          "type": "array",
          "description": "List of assignments"
        },
        "etag": {
          "description": "The etag is used for optimistic concurrency control as a way to help prevent simultaneous updates of a policy from overwriting each other. It is strongly suggested that systems make use of the etag in the read-modify-write cycle to perform policy updates in order to avoid race conditions: An etag is returned in the response to GetPolicy, and systems are expected to put that etag in the request to SetPolicy to ensure that their change will be applied to the same version of the policy. If no etag is provided in the call to GetPolicy, then the existing policy is overwritten blindly.",
          "type": "string",
          "format": "byte"
        }
      },
      "type": "object"
    },
    "SasPortalUpdateSignedDeviceRequest": {
      "id": "SasPortalUpdateSignedDeviceRequest",
      "type": "object",
      "properties": {
        "encodedDevice": {
          "description": "Required. The JSON Web Token signed using a CPI private key. Payload must be the JSON encoding of the device. The user_id field must be set.",
          "type": "string",
          "format": "byte"
        },
        "installerId": {
          "description": "Required. Unique installer ID (CPI ID) from the Certified Professional Installers database.",
          "type": "string"
        }
      },
      "description": "Request for UpdateSignedDevice."
    },
    "SasPortalDeviceGrant": {
      "properties": {
        "state": {
          "type": "string",
          "enum": [
            "GRANT_STATE_UNSPECIFIED",
            "GRANT_STATE_GRANTED",
            "GRANT_STATE_TERMINATED",
            "GRANT_STATE_SUSPENDED",
            "GRANT_STATE_AUTHORIZED",
            "GRANT_STATE_EXPIRED"
          ],
          "enumDescriptions": [
            "",
            "The grant has been granted but the device is not heartbeating on it.",
            "The grant has been terminated by the SAS.",
            "The grant has been suspended by the SAS.",
            "The device is currently transmitting.",
            "The grant has expired."
          ],
          "description": "State of the grant."
        },
        "lastHeartbeatTransmitExpireTime": {
          "description": "The transmit expiration time of the last heartbeat.",
          "type": "string",
          "format": "google-datetime"
        },
        "grantId": {
          "type": "string",
          "description": "Grant Id."
        },
        "channelType": {
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "description": "Type of channel used.",
          "type": "string",
          "enum": [
            "CHANNEL_TYPE_UNSPECIFIED",
            "CHANNEL_TYPE_GAA",
            "CHANNEL_TYPE_PAL"
          ]
        },
        "suspensionReason": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "If the grant is suspended, the reason(s) for suspension."
        },
        "moveList": {
          "items": {
            "$ref": "SasPortalDpaMoveList"
          },
          "description": "The DPA move lists on which this grant appears.",
          "type": "array"
        },
        "frequencyRange": {
          "$ref": "SasPortalFrequencyRange",
          "description": "The transmission frequency range."
        },
        "expireTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "The expiration time of the grant."
        },
        "maxEirp": {
          "description": "Maximum Equivalent Isotropically Radiated Power (EIRP) permitted by the grant. The maximum EIRP is in units of dBm/MHz. The value of `maxEirp` represents the average (RMS) EIRP that would be measured by the procedure defined in FCC part 96.41(e)(3).",
          "type": "number",
          "format": "double"
        }
      },
      "type": "object",
      "description": "Device grant. It is an authorization provided by the Spectrum Access System to a device to transmit using specified operating parameters after a successful heartbeat by the device.",
      "id": "SasPortalDeviceGrant"
    },
    "SasPortalStatus": {
      "id": "SasPortalStatus",
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "type": "object",
      "properties": {
        "message": {
          "type": "string",
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client."
        },
        "details": {
          "type": "array",
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "items": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            }
          }
        },
        "code": {
          "type": "integer",
          "format": "int32",
          "description": "The status code, which should be an enum value of google.rpc.Code."
        }
      }
    },
    "SasPortalSetPolicyRequest": {
      "description": "Request message for `SetPolicy` method.",
      "properties": {
        "policy": {
          "$ref": "SasPortalPolicy",
          "description": "Required. The policy to be applied to the `resource`."
        },
        "disableNotification": {
          "description": "Optional. Set the field as `true` to disable the onboarding notification.",
          "type": "boolean"
        },
        "resource": {
          "description": "Required. The resource for which the policy is being specified. This policy replaces any existing policy.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "SasPortalSetPolicyRequest"
    },
    "SasPortalNrqzValidation": {
      "description": "Information about National Radio Quiet Zone validation.",
      "id": "SasPortalNrqzValidation",
      "type": "object",
      "properties": {
        "state": {
          "description": "State of the NRQZ validation info.",
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "DRAFT",
            "FINAL"
          ],
          "enumDescriptions": [
            "Unspecified state.",
            "Draft state.",
            "Final state."
          ]
        },
        "caseId": {
          "type": "string",
          "description": "Validation case ID."
        },
        "longitude": {
          "format": "double",
          "description": "Device longitude that's associated with the validation.",
          "type": "number"
        },
        "latitude": {
          "type": "number",
          "format": "double",
          "description": "Device latitude that's associated with the validation."
        },
        "cpiId": {
          "description": "CPI who signed the validation.",
          "type": "string"
        }
      }
    },
    "SasPortalSetupSasAnalyticsResponse": {
      "properties": {},
      "description": "Response returned by the long running operation for the SetupSasAnalytics rpc.",
      "id": "SasPortalSetupSasAnalyticsResponse",
      "type": "object"
    },
    "SasPortalMoveNodeRequest": {
      "id": "SasPortalMoveNodeRequest",
      "properties": {
        "destination": {
          "description": "Required. The name of the new parent resource node or customer to reparent the node under.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Request for MoveNode."
    },
    "SasPortalTestPermissionsResponse": {
      "description": "Response message for `TestPermissions` method.",
      "type": "object",
      "id": "SasPortalTestPermissionsResponse",
      "properties": {
        "permissions": {
          "items": {
            "type": "string"
          },
          "description": "A set of permissions that the caller is allowed.",
          "type": "array"
        }
      }
    },
    "SasPortalChannelWithScore": {
      "id": "SasPortalChannelWithScore",
      "description": "The channel with score.",
      "type": "object",
      "properties": {
        "score": {
          "format": "double",
          "description": "The channel score, normalized to be in the range [0,100].",
          "type": "number"
        },
        "frequencyRange": {
          "$ref": "SasPortalFrequencyRange",
          "description": "The frequency range of the channel."
        }
      }
    },
    "SasPortalGcpProjectDeployment": {
      "type": "object",
      "description": "Deployment associated with the GCP project. Includes whether SAS analytics has been enabled or not.",
      "id": "SasPortalGcpProjectDeployment",
      "properties": {
        "hasEnabledAnalytics": {
          "description": "Whether SAS analytics has been enabled.",
          "type": "boolean"
        },
        "deployment": {
          "description": "Deployment associated with the GCP project.",
          "$ref": "SasPortalDeployment"
        }
      }
    }
  },
  "resources": {
    "installer": {
      "methods": {
        "validate": {
          "description": "Validates the identity of a Certified Professional Installer (CPI).",
          "path": "v1alpha1/installer:validate",
          "response": {
            "$ref": "SasPortalValidateInstallerResponse"
          },
          "httpMethod": "POST",
          "request": {
            "$ref": "SasPortalValidateInstallerRequest"
          },
          "parameters": {},
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sasportal"
          ],
          "flatPath": "v1alpha1/installer:validate",
          "id": "sasportal.installer.validate",
          "parameterOrder": []
        },
        "generateSecret": {
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sasportal"
          ],
          "parameters": {},
          "response": {
            "$ref": "SasPortalGenerateSecretResponse"
          },
          "httpMethod": "POST",
          "id": "sasportal.installer.generateSecret",
          "path": "v1alpha1/installer:generateSecret",
          "flatPath": "v1alpha1/installer:generateSecret",
          "parameterOrder": [],
          "request": {
            "$ref": "SasPortalGenerateSecretRequest"
          },
          "description": "Generates a secret to be used with the ValidateInstaller."
        }
      }
    },
    "customers": {
      "resources": {
        "nodes": {
          "resources": {
            "deployments": {
              "methods": {
                "create": {
                  "path": "v1alpha1/{+parent}/deployments",
                  "request": {
                    "$ref": "SasPortalDeployment"
                  },
                  "id": "sasportal.customers.nodes.deployments.create",
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "pattern": "^customers/[^/]+/nodes/[^/]+$",
                      "description": "Required. The parent resource name where the deployment is to be created."
                    }
                  },
                  "flatPath": "v1alpha1/customers/{customersId}/nodes/{nodesId}/deployments",
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "parent"
                  ],
                  "description": "Creates a new deployment.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/sasportal"
                  ],
                  "response": {
                    "$ref": "SasPortalDeployment"
                  }
                },
                "list": {
                  "parameterOrder": [
                    "parent"
                  ],
                  "path": "v1alpha1/{+parent}/deployments",
                  "response": {
                    "$ref": "SasPortalListDeploymentsResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/sasportal"
                  ],
                  "description": "Lists deployments.",
                  "id": "sasportal.customers.nodes.deployments.list",
                  "parameters": {
                    "pageToken": {
                      "type": "string",
                      "description": "A pagination token returned from a previous call to ListDeployments that indicates where this listing should continue from.",
                      "location": "query"
                    },
                    "pageSize": {
                      "location": "query",
                      "type": "integer",
                      "description": "The maximum number of deployments to return in the response.",
                      "format": "int32"
                    },
                    "parent": {
                      "pattern": "^customers/[^/]+/nodes/[^/]+$",
                      "description": "Required. The parent resource name, for example, \"nodes/1\", customer/1/nodes/2.",
                      "required": true,
                      "type": "string",
                      "location": "path"
                    },
                    "filter": {
                      "type": "string",
                      "location": "query",
                      "description": "The filter expression. The filter should have the following format: \"DIRECT_CHILDREN\" or format: \"direct_children\". The filter is case insensitive. If empty, then no deployments are filtered."
                    }
                  },
                  "flatPath": "v1alpha1/customers/{customersId}/nodes/{nodesId}/deployments",
                  "httpMethod": "GET"
                }
              }
            },
            "devices": {
              "methods": {
                "list": {
                  "description": "Lists devices under a node or customer.",
                  "path": "v1alpha1/{+parent}/devices",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/sasportal"
                  ],
                  "flatPath": "v1alpha1/customers/{customersId}/nodes/{nodesId}/devices",
                  "parameters": {
                    "pageToken": {
                      "type": "string",
                      "description": "A pagination token returned from a previous call to ListDevices that indicates where this listing should continue from.",
                      "location": "query"
                    },
                    "parent": {
                      "location": "path",
                      "description": "Required. The name of the parent resource.",
                      "pattern": "^customers/[^/]+/nodes/[^/]+$",
                      "required": true,
                      "type": "string"
                    },
                    "filter": {
                      "type": "string",
                      "location": "query",
                      "description": "The filter expression. The filter should have one of the following formats: \"sn=123454\" or \"display_name=MyDevice\". sn corresponds to serial number of the device. The filter is case insensitive."
                    },
                    "pageSize": {
                      "type": "integer",
                      "location": "query",
                      "description": "The maximum number of devices to return in the response. If empty or zero, all devices will be listed. Must be in the range [0, 1000].",
                      "format": "int32"
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "SasPortalListDevicesResponse"
                  },
                  "id": "sasportal.customers.nodes.devices.list",
                  "httpMethod": "GET"
                },
                "create": {
                  "path": "v1alpha1/{+parent}/devices",
                  "request": {
                    "$ref": "SasPortalDevice"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "flatPath": "v1alpha1/customers/{customersId}/nodes/{nodesId}/devices",
                  "description": "Creates a device under a node or customer.",
                  "httpMethod": "POST",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/sasportal"
                  ],
                  "response": {
                    "$ref": "SasPortalDevice"
                  },
                  "parameters": {
                    "parent": {
                      "type": "string",
                      "location": "path",
                      "pattern": "^customers/[^/]+/nodes/[^/]+$",
                      "required": true,
                      "description": "Required. The name of the parent resource."
                    }
                  },
                  "id": "sasportal.customers.nodes.devices.create"
                },
                "createSigned": {
                  "id": "sasportal.customers.nodes.devices.createSigned",
                  "description": "Creates a signed device under a node or customer.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/sasportal"
                  ],
                  "path": "v1alpha1/{+parent}/devices:createSigned",
                  "parameterOrder": [
                    "parent"
                  ],
                  "flatPath": "v1alpha1/customers/{customersId}/nodes/{nodesId}/devices:createSigned",
                  "parameters": {
                    "parent": {
                      "description": "Required. The name of the parent resource.",
                      "required": true,
                      "type": "string",
                      "pattern": "^customers/[^/]+/nodes/[^/]+$",
                      "location": "path"
                    }
                  },
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "SasPortalCreateSignedDeviceRequest"
                  },
                  "response": {
                    "$ref": "SasPortalDevice"
                  }
                }
              }
            },
            "nodes": {
              "methods": {
                "create": {
                  "flatPath": "v1alpha1/customers/{customersId}/nodes/{nodesId}/nodes",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/sasportal"
                  ],
                  "parameters": {
                    "parent": {
                      "type": "string",
                      "pattern": "^customers/[^/]+/nodes/[^/]+$",
                      "description": "Required. The parent resource name where the node is to be created.",
                      "location": "path",
                      "required": true
                    }
                  },
                  "id": "sasportal.customers.nodes.nodes.create",
                  "httpMethod": "POST",
                  "description": "Creates a new node.",
                  "response": {
                    "$ref": "SasPortalNode"
                  },
                  "path": "v1alpha1/{+parent}/nodes",
                  "request": {
                    "$ref": "SasPortalNode"
                  },
                  "parameterOrder": [
                    "parent"
                  ]
                },
                "list": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/sasportal"
                  ],
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "SasPortalListNodesResponse"
                  },
                  "httpMethod": "GET",
                  "parameters": {
                    "parent": {
                      "pattern": "^customers/[^/]+/nodes/[^/]+$",
                      "location": "path",
                      "description": "Required. The parent resource name, for example, \"nodes/1\".",
                      "required": true,
                      "type": "string"
                    },
                    "filter": {
                      "description": "The filter expression. The filter should have the following format: \"DIRECT_CHILDREN\" or format: \"direct_children\". The filter is case insensitive. If empty, then no nodes are filtered.",
                      "location": "query",
                      "type": "string"
                    },
                    "pageSize": {
                      "format": "int32",
                      "description": "The maximum number of nodes to return in the response.",
                      "location": "query",
                      "type": "integer"
                    },
                    "pageToken": {
                      "description": "A pagination token returned from a previous call to ListNodes that indicates where this listing should continue from.",
                      "type": "string",
                      "location": "query"
                    }
                  },
                  "description": "Lists nodes.",
                  "flatPath": "v1alpha1/customers/{customersId}/nodes/{nodesId}/nodes",
                  "id": "sasportal.customers.nodes.nodes.list",
                  "path": "v1alpha1/{+parent}/nodes"
                }
              }
            }
          },
          "methods": {
            "get": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/sasportal"
              ],
              "response": {
                "$ref": "SasPortalNode"
              },
              "id": "sasportal.customers.nodes.get",
              "httpMethod": "GET",
              "path": "v1alpha1/{+name}",
              "parameters": {
                "name": {
                  "pattern": "^customers/[^/]+/nodes/[^/]+$",
                  "description": "Required. The name of the node.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "flatPath": "v1alpha1/customers/{customersId}/nodes/{nodesId}",
              "parameterOrder": [
                "name"
              ],
              "description": "Returns a requested node."
            },
            "list": {
              "parameterOrder": [
                "parent"
              ],
              "path": "v1alpha1/{+parent}/nodes",
              "flatPath": "v1alpha1/customers/{customersId}/nodes",
              "description": "Lists nodes.",
              "id": "sasportal.customers.nodes.list",
              "parameters": {
                "parent": {
                  "description": "Required. The parent resource name, for example, \"nodes/1\".",
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "pattern": "^customers/[^/]+$"
                },
                "filter": {
                  "type": "string",
                  "description": "The filter expression. The filter should have the following format: \"DIRECT_CHILDREN\" or format: \"direct_children\". The filter is case insensitive. If empty, then no nodes are filtered.",
                  "location": "query"
                },
                "pageSize": {
                  "type": "integer",
                  "format": "int32",
                  "location": "query",
                  "description": "The maximum number of nodes to return in the response."
                },
                "pageToken": {
                  "location": "query",
                  "type": "string",
                  "description": "A pagination token returned from a previous call to ListNodes that indicates where this listing should continue from."
                }
              },
              "response": {
                "$ref": "SasPortalListNodesResponse"
              },
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/sasportal"
              ]
            },
            "move": {
              "id": "sasportal.customers.nodes.move",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/sasportal"
              ],
              "request": {
                "$ref": "SasPortalMoveNodeRequest"
              },
              "path": "v1alpha1/{+name}:move",
              "response": {
                "$ref": "SasPortalOperation"
              },
              "description": "Moves a node under another node or customer.",
              "parameters": {
                "name": {
                  "location": "path",
                  "type": "string",
                  "description": "Required. The name of the node to move.",
                  "required": true,
                  "pattern": "^customers/[^/]+/nodes/[^/]+$"
                }
              },
              "flatPath": "v1alpha1/customers/{customersId}/nodes/{nodesId}:move",
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "POST"
            },
            "create": {
              "parameterOrder": [
                "parent"
              ],
              "flatPath": "v1alpha1/customers/{customersId}/nodes",
              "request": {
                "$ref": "SasPortalNode"
              },
              "description": "Creates a new node.",
              "id": "sasportal.customers.nodes.create",
              "path": "v1alpha1/{+parent}/nodes",
              "parameters": {
                "parent": {
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "description": "Required. The parent resource name where the node is to be created.",
                  "pattern": "^customers/[^/]+$"
                }
              },
              "httpMethod": "POST",
              "response": {
                "$ref": "SasPortalNode"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/sasportal"
              ]
            },
            "delete": {
              "path": "v1alpha1/{+name}",
              "id": "sasportal.customers.nodes.delete",
              "flatPath": "v1alpha1/customers/{customersId}/nodes/{nodesId}",
              "httpMethod": "DELETE",
              "parameters": {
                "name": {
                  "type": "string",
                  "description": "Required. The name of the node.",
                  "required": true,
                  "location": "path",
                  "pattern": "^customers/[^/]+/nodes/[^/]+$"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "description": "Deletes a node.",
              "response": {
                "$ref": "SasPortalEmpty"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/sasportal"
              ]
            },
            "patch": {
              "parameters": {
                "name": {
                  "type": "string",
                  "pattern": "^customers/[^/]+/nodes/[^/]+$",
                  "required": true,
                  "location": "path",
                  "description": "Output only. Resource name."
                },
                "updateMask": {
                  "location": "query",
                  "description": "Fields to be updated.",
                  "format": "google-fieldmask",
                  "type": "string"
                }
              },
              "description": "Updates an existing node.",
              "path": "v1alpha1/{+name}",
              "httpMethod": "PATCH",
              "request": {
                "$ref": "SasPortalNode"
              },
              "id": "sasportal.customers.nodes.patch",
              "response": {
                "$ref": "SasPortalNode"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/sasportal"
              ],
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1alpha1/customers/{customersId}/nodes/{nodesId}"
            }
          }
        },
        "devices": {
          "methods": {
            "patch": {
              "parameters": {
                "name": {
                  "description": "Output only. The resource path name.",
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "pattern": "^customers/[^/]+/devices/[^/]+$"
                },
                "updateMask": {
                  "location": "query",
                  "format": "google-fieldmask",
                  "type": "string",
                  "description": "Fields to be updated."
                }
              },
              "response": {
                "$ref": "SasPortalDevice"
              },
              "httpMethod": "PATCH",
              "request": {
                "$ref": "SasPortalDevice"
              },
              "id": "sasportal.customers.devices.patch",
              "description": "Updates a device.",
              "path": "v1alpha1/{+name}",
              "flatPath": "v1alpha1/customers/{customersId}/devices/{devicesId}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/sasportal"
              ],
              "parameterOrder": [
                "name"
              ]
            },
            "get": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/sasportal"
              ],
              "response": {
                "$ref": "SasPortalDevice"
              },
              "httpMethod": "GET",
              "description": "Gets details about a device.",
              "path": "v1alpha1/{+name}",
              "parameters": {
                "name": {
                  "description": "Required. The name of the device.",
                  "location": "path",
                  "pattern": "^customers/[^/]+/devices/[^/]+$",
                  "required": true,
                  "type": "string"
                }
              },
              "id": "sasportal.customers.devices.get",
              "flatPath": "v1alpha1/customers/{customersId}/devices/{devicesId}",
              "parameterOrder": [
                "name"
              ]
            },
            "createSigned": {
              "flatPath": "v1alpha1/customers/{customersId}/devices:createSigned",
              "id": "sasportal.customers.devices.createSigned",
              "httpMethod": "POST",
              "description": "Creates a signed device under a node or customer.",
              "parameters": {
                "parent": {
                  "description": "Required. The name of the parent resource.",
                  "pattern": "^customers/[^/]+$",
                  "location": "path",
                  "type": "string",
                  "required": true
                }
              },
              "request": {
                "$ref": "SasPortalCreateSignedDeviceRequest"
              },
              "response": {
                "$ref": "SasPortalDevice"
              },
              "parameterOrder": [
                "parent"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/sasportal"
              ],
              "path": "v1alpha1/{+parent}/devices:createSigned"
            },
            "move": {
              "parameterOrder": [
                "name"
              ],
              "request": {
                "$ref": "SasPortalMoveDeviceRequest"
              },
              "description": "Moves a device under another node or customer.",
              "flatPath": "v1alpha1/customers/{customersId}/devices/{devicesId}:move",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/sasportal"
              ],
              "id": "sasportal.customers.devices.move",
              "httpMethod": "POST",
              "parameters": {
                "name": {
                  "pattern": "^customers/[^/]+/devices/[^/]+$",
                  "type": "string",
                  "required": true,
                  "description": "Required. The name of the device to move.",
                  "location": "path"
                }
              },
              "path": "v1alpha1/{+name}:move",
              "response": {
                "$ref": "SasPortalOperation"
              }
            },
            "updateSigned": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/sasportal"
              ],
              "flatPath": "v1alpha1/customers/{customersId}/devices/{devicesId}:updateSigned",
              "parameterOrder": [
                "name"
              ],
              "request": {
                "$ref": "SasPortalUpdateSignedDeviceRequest"
              },
              "response": {
                "$ref": "SasPortalDevice"
              },
              "id": "sasportal.customers.devices.updateSigned",
              "description": "Updates a signed device.",
              "httpMethod": "PATCH",
              "path": "v1alpha1/{+name}:updateSigned",
              "parameters": {
                "name": {
                  "pattern": "^customers/[^/]+/devices/[^/]+$",
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "description": "Required. The name of the device to update."
                }
              }
            },
            "signDevice": {
              "id": "sasportal.customers.devices.signDevice",
              "parameterOrder": [
                "name"
              ],
              "path": "v1alpha1/{+name}:signDevice",
              "flatPath": "v1alpha1/customers/{customersId}/devices/{devicesId}:signDevice",
              "description": "Signs a device.",
              "parameters": {
                "name": {
                  "location": "path",
                  "pattern": "^customers/[^/]+/devices/[^/]+$",
                  "type": "string",
                  "description": "Output only. The resource path name.",
                  "required": true
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/sasportal"
              ],
              "httpMethod": "POST",
              "request": {
                "$ref": "SasPortalSignDeviceRequest"
              },
              "response": {
                "$ref": "SasPortalEmpty"
              }
            },
            "list": {
              "path": "v1alpha1/{+parent}/devices",
              "id": "sasportal.customers.devices.list",
              "httpMethod": "GET",
              "parameters": {
                "pageSize": {
                  "format": "int32",
                  "type": "integer",
                  "location": "query",
                  "description": "The maximum number of devices to return in the response. If empty or zero, all devices will be listed. Must be in the range [0, 1000]."
                },
                "pageToken": {
                  "type": "string",
                  "location": "query",
                  "description": "A pagination token returned from a previous call to ListDevices that indicates where this listing should continue from."
                },
                "parent": {
                  "location": "path",
                  "required": true,
                  "pattern": "^customers/[^/]+$",
                  "description": "Required. The name of the parent resource.",
                  "type": "string"
                },
                "filter": {
                  "type": "string",
                  "description": "The filter expression. The filter should have one of the following formats: \"sn=123454\" or \"display_name=MyDevice\". sn corresponds to serial number of the device. The filter is case insensitive.",
                  "location": "query"
                }
              },
              "flatPath": "v1alpha1/customers/{customersId}/devices",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/sasportal"
              ],
              "response": {
                "$ref": "SasPortalListDevicesResponse"
              },
              "parameterOrder": [
                "parent"
              ],
              "description": "Lists devices under a node or customer."
            },
            "create": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/sasportal"
              ],
              "path": "v1alpha1/{+parent}/devices",
              "request": {
                "$ref": "SasPortalDevice"
              },
              "flatPath": "v1alpha1/customers/{customersId}/devices",
              "parameters": {
                "parent": {
                  "type": "string",
                  "pattern": "^customers/[^/]+$",
                  "location": "path",
                  "description": "Required. The name of the parent resource.",
                  "required": true
                }
              },
              "httpMethod": "POST",
              "parameterOrder": [
                "parent"
              ],
              "id": "sasportal.customers.devices.create",
              "response": {
                "$ref": "SasPortalDevice"
              },
              "description": "Creates a device under a node or customer."
            },
            "delete": {
              "path": "v1alpha1/{+name}",
              "id": "sasportal.customers.devices.delete",
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1alpha1/customers/{customersId}/devices/{devicesId}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/sasportal"
              ],
              "description": "Deletes a device.",
              "response": {
                "$ref": "SasPortalEmpty"
              },
              "httpMethod": "DELETE",
              "parameters": {
                "name": {
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "description": "Required. The name of the device.",
                  "pattern": "^customers/[^/]+/devices/[^/]+$"
                }
              }
            }
          }
        },
        "deployments": {
          "methods": {
            "create": {
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "SasPortalDeployment"
              },
              "description": "Creates a new deployment.",
              "path": "v1alpha1/{+parent}/deployments",
              "request": {
                "$ref": "SasPortalDeployment"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/sasportal"
              ],
              "parameters": {
                "parent": {
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "description": "Required. The parent resource name where the deployment is to be created.",
                  "pattern": "^customers/[^/]+$"
                }
              },
              "flatPath": "v1alpha1/customers/{customersId}/deployments",
              "id": "sasportal.customers.deployments.create",
              "httpMethod": "POST"
            },
            "delete": {
              "id": "sasportal.customers.deployments.delete",
              "path": "v1alpha1/{+name}",
              "httpMethod": "DELETE",
              "flatPath": "v1alpha1/customers/{customersId}/deployments/{deploymentsId}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/sasportal"
              ],
              "parameters": {
                "name": {
                  "description": "Required. The name of the deployment.",
                  "type": "string",
                  "required": true,
                  "pattern": "^customers/[^/]+/deployments/[^/]+$",
                  "location": "path"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "description": "Deletes a deployment.",
              "response": {
                "$ref": "SasPortalEmpty"
              }
            },
            "move": {
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "required": true,
                  "description": "Required. The name of the deployment to move.",
                  "type": "string",
                  "pattern": "^customers/[^/]+/deployments/[^/]+$",
                  "location": "path"
                }
              },
              "httpMethod": "POST",
              "response": {
                "$ref": "SasPortalOperation"
              },
              "path": "v1alpha1/{+name}:move",
              "id": "sasportal.customers.deployments.move",
              "flatPath": "v1alpha1/customers/{customersId}/deployments/{deploymentsId}:move",
              "description": "Moves a deployment under another node or customer.",
              "request": {
                "$ref": "SasPortalMoveDeploymentRequest"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/sasportal"
              ]
            },
            "patch": {
              "request": {
                "$ref": "SasPortalDeployment"
              },
              "response": {
                "$ref": "SasPortalDeployment"
              },
              "description": "Updates an existing deployment.",
              "path": "v1alpha1/{+name}",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "updateMask": {
                  "type": "string",
                  "format": "google-fieldmask",
                  "description": "Fields to be updated.",
                  "location": "query"
                },
                "name": {
                  "pattern": "^customers/[^/]+/deployments/[^/]+$",
                  "type": "string",
                  "location": "path",
                  "description": "Output only. Resource name.",
                  "required": true
                }
              },
              "httpMethod": "PATCH",
              "flatPath": "v1alpha1/customers/{customersId}/deployments/{deploymentsId}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/sasportal"
              ],
              "id": "sasportal.customers.deployments.patch"
            },
            "list": {
              "response": {
                "$ref": "SasPortalListDeploymentsResponse"
              },
              "parameters": {
                "pageSize": {
                  "description": "The maximum number of deployments to return in the response.",
                  "location": "query",
                  "format": "int32",
                  "type": "integer"
                },
                "parent": {
                  "location": "path",
                  "required": true,
                  "pattern": "^customers/[^/]+$",
                  "type": "string",
                  "description": "Required. The parent resource name, for example, \"nodes/1\", customer/1/nodes/2."
                },
                "filter": {
                  "description": "The filter expression. The filter should have the following format: \"DIRECT_CHILDREN\" or format: \"direct_children\". The filter is case insensitive. If empty, then no deployments are filtered.",
                  "type": "string",
                  "location": "query"
                },
                "pageToken": {
                  "location": "query",
                  "description": "A pagination token returned from a previous call to ListDeployments that indicates where this listing should continue from.",
                  "type": "string"
                }
              },
              "description": "Lists deployments.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/sasportal"
              ],
              "httpMethod": "GET",
              "parameterOrder": [
                "parent"
              ],
              "path": "v1alpha1/{+parent}/deployments",
              "id": "sasportal.customers.deployments.list",
              "flatPath": "v1alpha1/customers/{customersId}/deployments"
            },
            "get": {
              "parameterOrder": [
                "name"
              ],
              "description": "Returns a requested deployment.",
              "id": "sasportal.customers.deployments.get",
              "flatPath": "v1alpha1/customers/{customersId}/deployments/{deploymentsId}",
              "httpMethod": "GET",
              "parameters": {
                "name": {
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "description": "Required. The name of the deployment.",
                  "pattern": "^customers/[^/]+/deployments/[^/]+$"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/sasportal"
              ],
              "response": {
                "$ref": "SasPortalDeployment"
              },
              "path": "v1alpha1/{+name}"
            }
          },
          "resources": {
            "devices": {
              "methods": {
                "list": {
                  "path": "v1alpha1/{+parent}/devices",
                  "parameters": {
                    "parent": {
                      "type": "string",
                      "required": true,
                      "description": "Required. The name of the parent resource.",
                      "pattern": "^customers/[^/]+/deployments/[^/]+$",
                      "location": "path"
                    },
                    "filter": {
                      "description": "The filter expression. The filter should have one of the following formats: \"sn=123454\" or \"display_name=MyDevice\". sn corresponds to serial number of the device. The filter is case insensitive.",
                      "type": "string",
                      "location": "query"
                    },
                    "pageToken": {
                      "location": "query",
                      "type": "string",
                      "description": "A pagination token returned from a previous call to ListDevices that indicates where this listing should continue from."
                    },
                    "pageSize": {
                      "description": "The maximum number of devices to return in the response. If empty or zero, all devices will be listed. Must be in the range [0, 1000].",
                      "format": "int32",
                      "location": "query",
                      "type": "integer"
                    }
                  },
                  "flatPath": "v1alpha1/customers/{customersId}/deployments/{deploymentsId}/devices",
                  "httpMethod": "GET",
                  "id": "sasportal.customers.deployments.devices.list",
                  "description": "Lists devices under a node or customer.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/sasportal"
                  ],
                  "response": {
                    "$ref": "SasPortalListDevicesResponse"
                  },
                  "parameterOrder": [
                    "parent"
                  ]
                },
                "createSigned": {
                  "request": {
                    "$ref": "SasPortalCreateSignedDeviceRequest"
                  },
                  "flatPath": "v1alpha1/customers/{customersId}/deployments/{deploymentsId}/devices:createSigned",
                  "id": "sasportal.customers.deployments.devices.createSigned",
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "SasPortalDevice"
                  },
                  "description": "Creates a signed device under a node or customer.",
                  "httpMethod": "POST",
                  "path": "v1alpha1/{+parent}/devices:createSigned",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/sasportal"
                  ],
                  "parameters": {
                    "parent": {
                      "required": true,
                      "location": "path",
                      "description": "Required. The name of the parent resource.",
                      "type": "string",
                      "pattern": "^customers/[^/]+/deployments/[^/]+$"
                    }
                  }
                },
                "create": {
                  "description": "Creates a device under a node or customer.",
                  "path": "v1alpha1/{+parent}/devices",
                  "flatPath": "v1alpha1/customers/{customersId}/deployments/{deploymentsId}/devices",
                  "request": {
                    "$ref": "SasPortalDevice"
                  },
                  "id": "sasportal.customers.deployments.devices.create",
                  "response": {
                    "$ref": "SasPortalDevice"
                  },
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "parent"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/sasportal"
                  ],
                  "parameters": {
                    "parent": {
                      "pattern": "^customers/[^/]+/deployments/[^/]+$",
                      "description": "Required. The name of the parent resource.",
                      "required": true,
                      "type": "string",
                      "location": "path"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "methods": {
        "setupSasAnalytics": {
          "httpMethod": "POST",
          "flatPath": "v1alpha1/customers:setupSasAnalytics",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sasportal"
          ],
          "parameters": {},
          "path": "v1alpha1/customers:setupSasAnalytics",
          "description": "Setups the a GCP Project to receive SAS Analytics messages via GCP Pub/Sub with a subscription to BigQuery. All the Pub/Sub topics and BigQuery tables are created automatically as part of this service.",
          "response": {
            "$ref": "SasPortalOperation"
          },
          "parameterOrder": [],
          "id": "sasportal.customers.setupSasAnalytics",
          "request": {
            "$ref": "SasPortalSetupSasAnalyticsRequest"
          }
        },
        "list": {
          "httpMethod": "GET",
          "flatPath": "v1alpha1/customers",
          "parameters": {
            "pageToken": {
              "description": "A pagination token returned from a previous call to ListCustomers that indicates where this listing should continue from.",
              "location": "query",
              "type": "string"
            },
            "pageSize": {
              "format": "int32",
              "type": "integer",
              "description": "The maximum number of customers to return in the response.",
              "location": "query"
            }
          },
          "id": "sasportal.customers.list",
          "path": "v1alpha1/customers",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sasportal"
          ],
          "parameterOrder": [],
          "description": "Returns a list of requested customers.",
          "response": {
            "$ref": "SasPortalListCustomersResponse"
          }
        },
        "listLegacyOrganizations": {
          "id": "sasportal.customers.listLegacyOrganizations",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sasportal"
          ],
          "response": {
            "$ref": "SasPortalListLegacyOrganizationsResponse"
          },
          "flatPath": "v1alpha1/customers:listLegacyOrganizations",
          "path": "v1alpha1/customers:listLegacyOrganizations",
          "parameters": {},
          "httpMethod": "GET",
          "description": "Returns a list of legacy organizations.",
          "parameterOrder": []
        },
        "provisionDeployment": {
          "path": "v1alpha1/customers:provisionDeployment",
          "response": {
            "$ref": "SasPortalProvisionDeploymentResponse"
          },
          "parameterOrder": [],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sasportal"
          ],
          "parameters": {},
          "flatPath": "v1alpha1/customers:provisionDeployment",
          "httpMethod": "POST",
          "description": "Creates a new SAS deployment through the GCP workflow. Creates a SAS organization if an organization match is not found.",
          "id": "sasportal.customers.provisionDeployment",
          "request": {
            "$ref": "SasPortalProvisionDeploymentRequest"
          }
        },
        "listGcpProjectDeployments": {
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sasportal"
          ],
          "id": "sasportal.customers.listGcpProjectDeployments",
          "response": {
            "$ref": "SasPortalListGcpProjectDeploymentsResponse"
          },
          "path": "v1alpha1/customers:listGcpProjectDeployments",
          "parameterOrder": [],
          "parameters": {},
          "description": "Returns a list of SAS deployments associated with current GCP project. Includes whether SAS analytics has been enabled or not.",
          "flatPath": "v1alpha1/customers:listGcpProjectDeployments",
          "httpMethod": "GET"
        },
        "get": {
          "response": {
            "$ref": "SasPortalCustomer"
          },
          "id": "sasportal.customers.get",
          "parameters": {
            "name": {
              "pattern": "^customers/[^/]+$",
              "description": "Required. The name of the customer.",
              "location": "path",
              "type": "string",
              "required": true
            }
          },
          "description": "Returns a requested customer.",
          "path": "v1alpha1/{+name}",
          "httpMethod": "GET",
          "parameterOrder": [
            "name"
          ],
          "flatPath": "v1alpha1/customers/{customersId}",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sasportal"
          ]
        },
        "migrateOrganization": {
          "id": "sasportal.customers.migrateOrganization",
          "parameterOrder": [],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sasportal"
          ],
          "flatPath": "v1alpha1/customers:migrateOrganization",
          "request": {
            "$ref": "SasPortalMigrateOrganizationRequest"
          },
          "description": "Migrates a SAS organization to the cloud. This will create GCP projects for each deployment and associate them. The SAS Organization is linked to the gcp project that called the command. go/sas-legacy-customer-migration",
          "response": {
            "$ref": "SasPortalOperation"
          },
          "httpMethod": "POST",
          "path": "v1alpha1/customers:migrateOrganization",
          "parameters": {}
        },
        "patch": {
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sasportal"
          ],
          "response": {
            "$ref": "SasPortalCustomer"
          },
          "path": "v1alpha1/{+name}",
          "description": "Updates an existing customer.",
          "parameterOrder": [
            "name"
          ],
          "id": "sasportal.customers.patch",
          "flatPath": "v1alpha1/customers/{customersId}",
          "parameters": {
            "updateMask": {
              "description": "Fields to be updated.",
              "type": "string",
              "location": "query",
              "format": "google-fieldmask"
            },
            "name": {
              "type": "string",
              "description": "Output only. Resource name of the customer.",
              "pattern": "^customers/[^/]+$",
              "required": true,
              "location": "path"
            }
          },
          "request": {
            "$ref": "SasPortalCustomer"
          },
          "httpMethod": "PATCH"
        }
      }
    },
    "nodes": {
      "methods": {
        "get": {
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sasportal"
          ],
          "parameters": {
            "name": {
              "pattern": "^nodes/[^/]+$",
              "location": "path",
              "required": true,
              "type": "string",
              "description": "Required. The name of the node."
            }
          },
          "path": "v1alpha1/{+name}",
          "response": {
            "$ref": "SasPortalNode"
          },
          "id": "sasportal.nodes.get",
          "parameterOrder": [
            "name"
          ],
          "flatPath": "v1alpha1/nodes/{nodesId}",
          "description": "Returns a requested node."
        }
      },
      "resources": {
        "nodes": {
          "methods": {
            "move": {
              "path": "v1alpha1/{+name}:move",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/sasportal"
              ],
              "flatPath": "v1alpha1/nodes/{nodesId}/nodes/{nodesId1}:move",
              "request": {
                "$ref": "SasPortalMoveNodeRequest"
              },
              "httpMethod": "POST",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "description": "Required. The name of the node to move.",
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "pattern": "^nodes/[^/]+/nodes/[^/]+$"
                }
              },
              "description": "Moves a node under another node or customer.",
              "id": "sasportal.nodes.nodes.move",
              "response": {
                "$ref": "SasPortalOperation"
              }
            },
            "get": {
              "path": "v1alpha1/{+name}",
              "response": {
                "$ref": "SasPortalNode"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/sasportal"
              ],
              "parameters": {
                "name": {
                  "required": true,
                  "location": "path",
                  "description": "Required. The name of the node.",
                  "pattern": "^nodes/[^/]+/nodes/[^/]+$",
                  "type": "string"
                }
              },
              "httpMethod": "GET",
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1alpha1/nodes/{nodesId}/nodes/{nodesId1}",
              "description": "Returns a requested node.",
              "id": "sasportal.nodes.nodes.get"
            },
            "list": {
              "parameters": {
                "pageSize": {
                  "type": "integer",
                  "format": "int32",
                  "location": "query",
                  "description": "The maximum number of nodes to return in the response."
                },
                "pageToken": {
                  "type": "string",
                  "location": "query",
                  "description": "A pagination token returned from a previous call to ListNodes that indicates where this listing should continue from."
                },
                "parent": {
                  "pattern": "^nodes/[^/]+$",
                  "type": "string",
                  "required": true,
                  "location": "path",
                  "description": "Required. The parent resource name, for example, \"nodes/1\"."
                },
                "filter": {
                  "type": "string",
                  "description": "The filter expression. The filter should have the following format: \"DIRECT_CHILDREN\" or format: \"direct_children\". The filter is case insensitive. If empty, then no nodes are filtered.",
                  "location": "query"
                }
              },
              "path": "v1alpha1/{+parent}/nodes",
              "httpMethod": "GET",
              "description": "Lists nodes.",
              "flatPath": "v1alpha1/nodes/{nodesId}/nodes",
              "parameterOrder": [
                "parent"
              ],
              "id": "sasportal.nodes.nodes.list",
              "response": {
                "$ref": "SasPortalListNodesResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/sasportal"
              ]
            },
            "create": {
              "parameters": {
                "parent": {
                  "required": true,
                  "type": "string",
[...]
