{
  "documentationLink": "https://developers.google.com/spectrum-access-system/",
  "version_module": true,
  "fullyEncodeReservedExpansion": true,
  "title": "SAS Portal API",
  "rootUrl": "https://sasportal.googleapis.com/",
  "name": "sasportal",
  "description": "",
  "discoveryVersion": "v1",
  "batchPath": "batch",
  "baseUrl": "https://sasportal.googleapis.com/",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        },
        "https://www.googleapis.com/auth/sasportal": {
          "description": "Read, create, update, and delete your SAS Portal data."
        }
      }
    }
  },
  "basePath": "",
  "ownerDomain": "google.com",
  "mtlsRootUrl": "https://sasportal.mtls.googleapis.com/",
  "kind": "discovery#restDescription",
  "schemas": {
    "SasPortalDevice": {
      "properties": {
        "preloadedConfig": {
          "description": "Configuration of the device, as specified via SAS Portal API.",
          "$ref": "SasPortalDeviceConfig"
        },
        "fccId": {
          "type": "string",
          "description": "The FCC identifier of the device. Refer to https://www.fcc.gov/oet/ea/fccid for FccID format. Accept underscores and periods because some test-SAS customers use them."
        },
        "deviceMetadata": {
          "description": "Device parameters that can be overridden by both SAS Portal and SAS registration requests.",
          "$ref": "SasPortalDeviceMetadata"
        },
        "activeConfig": {
          "description": "Output only. Current configuration of the device as registered to the SAS.",
          "$ref": "SasPortalDeviceConfig"
        },
        "grantRangeAllowlists": {
          "type": "array",
          "items": {
            "$ref": "SasPortalFrequencyRange"
          },
          "description": "Only ranges that are within the allowlists are available for new grants."
        },
        "state": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified state.",
            "Device created in the SAS Portal, however, not yet registered with SAS.",
            "Device registered with SAS.",
            "Device de-registered with SAS."
          ],
          "enum": [
            "DEVICE_STATE_UNSPECIFIED",
            "RESERVED",
            "REGISTERED",
            "DEREGISTERED"
          ],
          "description": "Output only. Device state."
        },
        "displayName": {
          "type": "string",
          "description": "Device display name."
        },
        "grants": {
          "items": {
            "$ref": "SasPortalDeviceGrant"
          },
          "description": "Output only. Grants held by the device.",
          "type": "array"
        },
        "name": {
          "type": "string",
          "description": "Output only. The resource path name."
        },
        "serialNumber": {
          "type": "string",
          "description": "A serial number assigned to the device by the device manufacturer."
        },
        "currentChannels": {
          "items": {
            "$ref": "SasPortalChannelWithScore"
          },
          "readOnly": true,
          "deprecated": true,
          "type": "array",
          "description": "Output only. Current channels with scores."
        }
      },
      "type": "object",
      "id": "SasPortalDevice"
    },
    "SasPortalDeviceConfig": {
      "description": "Information about the device configuration.",
      "id": "SasPortalDeviceConfig",
      "properties": {
        "state": {
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "DEVICE_CONFIG_STATE_UNSPECIFIED",
            "DRAFT",
            "FINAL"
          ],
          "type": "string",
          "description": "State of the configuration."
        },
        "callSign": {
          "type": "string",
          "description": "The call sign of the device operator."
        },
        "model": {
          "description": "Information about this device model.",
          "$ref": "SasPortalDeviceModel"
        },
        "measurementCapabilities": {
          "type": "array",
          "description": "Measurement reporting capabilities of the device.",
          "items": {
            "enum": [
              "MEASUREMENT_CAPABILITY_UNSPECIFIED",
              "MEASUREMENT_CAPABILITY_RECEIVED_POWER_WITH_GRANT",
              "MEASUREMENT_CAPABILITY_RECEIVED_POWER_WITHOUT_GRANT"
            ],
            "type": "string",
            "enumDescriptions": [
              "",
              "",
              ""
            ]
          }
        },
        "installationParams": {
          "description": "Installation parameters for the device.",
          "$ref": "SasPortalInstallationParams"
        },
        "airInterface": {
          "$ref": "SasPortalDeviceAirInterface",
          "description": "Information about this device's air interface."
        },
        "updateTime": {
          "type": "string",
          "description": "Output only. The last time the device configuration was edited.",
          "format": "google-datetime"
        },
        "userId": {
          "description": "The identifier of a device user.",
          "type": "string"
        },
        "category": {
          "enumDescriptions": [
            "Unspecified device category.",
            "Category A.",
            "Category B."
          ],
          "enum": [
            "DEVICE_CATEGORY_UNSPECIFIED",
            "DEVICE_CATEGORY_A",
            "DEVICE_CATEGORY_B"
          ],
          "type": "string",
          "description": "FCC category of the device."
        },
        "isSigned": {
          "type": "boolean",
          "description": "Output only. Whether the configuration has been signed by a CPI."
        }
      },
      "type": "object"
    },
    "SasPortalUpdateSignedDeviceRequest": {
      "description": "Request for UpdateSignedDevice.",
      "id": "SasPortalUpdateSignedDeviceRequest",
      "type": "object",
      "properties": {
        "installerId": {
          "description": "Required. Unique installer ID (CPI ID) from the Certified Professional Installers database.",
          "type": "string"
        },
        "encodedDevice": {
          "description": "Required. The JSON Web Token signed using a CPI private key. Payload must be the JSON encoding of the device. The user_id field must be set.",
          "type": "string",
          "format": "byte"
        }
      }
    },
    "SasPortalStatus": {
      "type": "object",
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "id": "SasPortalStatus",
      "properties": {
        "details": {
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "type": "array",
          "items": {
            "type": "object",
            "additionalProperties": {
              "description": "Properties of the object. Contains field @type with type URL.",
              "type": "any"
            }
          }
        },
        "code": {
          "type": "integer",
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "format": "int32"
        },
        "message": {
          "type": "string",
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client."
        }
      }
    },
    "SasPortalSetupSasAnalyticsMetadata": {
      "type": "object",
      "properties": {},
      "id": "SasPortalSetupSasAnalyticsMetadata",
      "description": "Metadata returned by the long running operation for the SetupSasAnalytics rpc."
    },
    "SasPortalInstallationParams": {
      "id": "SasPortalInstallationParams",
      "description": "Information about the device installation parameters.",
      "type": "object",
      "properties": {
        "longitude": {
          "description": "Longitude of the device antenna location in degrees relative to the WGS 84 datum. The allowed range is from -180.000000 to +180.000000. Positive values represent longitudes east of the prime meridian; negative values west of the prime meridian.",
          "type": "number",
          "format": "double"
        },
        "antennaModel": {
          "description": "If an external antenna is used, the antenna model is optionally provided in this field. The string has a maximum length of 128 octets.",
          "type": "string"
        },
        "indoorDeployment": {
          "type": "boolean",
          "description": "Whether the device antenna is indoor or not. `true`: indoor. `false`: outdoor."
        },
        "antennaDowntilt": {
          "format": "int32",
          "type": "integer",
          "description": "Antenna downtilt in degrees and is an integer with a value between -90 and +90 inclusive; a negative value means the antenna is tilted up (above horizontal). This parameter is optional for Category A devices and conditional for Category B devices."
        },
        "verticalAccuracy": {
          "format": "double",
          "description": "A positive number in meters to indicate accuracy of the device antenna vertical location. This optional parameter should only be present if its value is less than the FCC requirement of 3 meters.",
          "type": "number"
        },
        "cpeCbsdIndication": {
          "type": "boolean",
          "description": "If present, this parameter specifies whether the CBSD is a CPE-CBSD or not."
        },
        "antennaAzimuth": {
          "format": "int32",
          "type": "integer",
          "description": "Boresight direction of the horizontal plane of the antenna in degrees with respect to true north. The value of this parameter is an integer with a value between 0 and 359 inclusive. A value of 0 degrees means true north; a value of 90 degrees means east. This parameter is optional for Category A devices and conditional for Category B devices."
        },
        "latitude": {
          "type": "number",
          "description": "Latitude of the device antenna location in degrees relative to the WGS 84 datum. The allowed range is from -90.000000 to +90.000000. Positive values represent latitudes north of the equator; negative values south of the equator.",
          "format": "double"
        },
        "antennaBeamwidth": {
          "description": "3-dB antenna beamwidth of the antenna in the horizontal-plane in degrees. This parameter is an unsigned integer having a value between 0 and 360 (degrees) inclusive; it is optional for Category A devices and conditional for Category B devices.",
          "format": "int32",
          "type": "integer"
        },
        "heightType": {
          "description": "Specifies how the height is measured.",
          "enumDescriptions": [
            "Unspecified height type.",
            "AGL height is measured relative to the ground level.",
            "AMSL height is measured relative to the mean sea level."
          ],
          "type": "string",
          "enum": [
            "HEIGHT_TYPE_UNSPECIFIED",
            "HEIGHT_TYPE_AGL",
            "HEIGHT_TYPE_AMSL"
          ]
        },
        "height": {
          "format": "double",
          "description": "Device antenna height in meters. When the `heightType` parameter value is \"AGL\", the antenna height should be given relative to ground level. When the `heightType` parameter value is \"AMSL\", it is given with respect to WGS84 datum.",
          "type": "number"
        },
        "horizontalAccuracy": {
          "type": "number",
          "description": "A positive number in meters to indicate accuracy of the device antenna horizontal location. This optional parameter should only be present if its value is less than the FCC requirement of 50 meters.",
          "format": "double"
        },
        "eirpCapability": {
          "type": "integer",
          "format": "int32",
          "description": "This parameter is the maximum device EIRP in units of dBm/10MHz and is an integer with a value between -127 and +47 (dBm/10 MHz) inclusive. If not included, SAS interprets it as maximum allowable EIRP in units of dBm/10MHz for device category."
        },
        "antennaGain": {
          "format": "double",
          "type": "number",
          "description": "Peak antenna gain in dBi. This parameter is a double with a value between -127 and +128 (dBi) inclusive. Part of Release 2 to support floating-point value"
        }
      }
    },
    "SasPortalCustomer": {
      "properties": {
        "sasUserIds": {
          "description": "User IDs used by the devices belonging to this customer.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "displayName": {
          "description": "Required. Name of the organization that the customer entity represents.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Output only. Resource name of the customer."
        }
      },
      "description": "Entity representing a SAS customer.",
      "type": "object",
      "id": "SasPortalCustomer"
    },
    "SasPortalSignDeviceRequest": {
      "id": "SasPortalSignDeviceRequest",
      "type": "object",
      "description": "Request for SignDevice.",
      "properties": {
        "device": {
          "$ref": "SasPortalDevice",
          "description": "Required. The device to sign. The device fields name, fcc_id and serial_number must be set. The user_id field must be set."
        }
      }
    },
    "SasPortalProvisionDeploymentResponse": {
      "description": "Response for [ProvisionDeployment]. [spectrum.sas.portal.v1alpha1.Provisioning.ProvisionDeployment].",
      "id": "SasPortalProvisionDeploymentResponse",
      "properties": {
        "errorMessage": {
          "type": "string",
          "description": "Optional. Optional error message if the provisioning request is not successful."
        }
      },
      "type": "object"
    },
    "SasPortalMigrateOrganizationRequest": {
      "description": "Request for [MigrateOrganization]. [spectrum.sas.portal.v1alpha1.Provisioning.MigrateOrganization]. GCP Project, Organization Info, and caller's GAIA ID should be retrieved from the RPC handler, and used to check authorization on SAS Portal organization and to create GCP Projects.",
      "properties": {
        "organizationId": {
          "description": "Required. Id of the SAS organization to be migrated.",
          "format": "int64",
          "type": "string"
        }
      },
      "type": "object",
      "id": "SasPortalMigrateOrganizationRequest"
    },
    "SasPortalGetPolicyRequest": {
      "properties": {
        "resource": {
          "type": "string",
          "description": "Required. The resource for which the policy is being requested."
        }
      },
      "type": "object",
      "description": "Request message for `GetPolicy` method.",
      "id": "SasPortalGetPolicyRequest"
    },
    "SasPortalSetupSasAnalyticsRequest": {
      "description": "Request for the SetupSasAnalytics rpc.",
      "id": "SasPortalSetupSasAnalyticsRequest",
      "type": "object",
      "properties": {
        "userId": {
          "description": "Optional. User id to setup analytics for, if not provided the user id associated with the project is used. optional",
          "type": "string"
        }
      }
    },
    "SasPortalDeviceModel": {
      "type": "object",
      "description": "Information about the model of the device.",
      "id": "SasPortalDeviceModel",
      "properties": {
        "vendor": {
          "description": "The name of the device vendor.",
          "type": "string"
        },
        "name": {
          "description": "The name of the device model.",
          "type": "string"
        },
        "softwareVersion": {
          "description": "The software version of the device.",
          "type": "string"
        },
        "firmwareVersion": {
          "type": "string",
          "description": "The firmware version of the device."
        },
        "hardwareVersion": {
          "type": "string",
          "description": "The hardware version of the device."
        }
      }
    },
    "SasPortalOperation": {
      "id": "SasPortalOperation",
      "properties": {
        "response": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "type": "object"
        },
        "error": {
          "description": "The error result of the operation in case of failure or cancellation.",
          "$ref": "SasPortalStatus"
        },
        "done": {
          "type": "boolean",
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available."
        },
        "name": {
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`.",
          "type": "string"
        },
        "metadata": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "type": "object",
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any."
        }
      },
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "type": "object"
    },
    "SasPortalMoveDeviceRequest": {
      "properties": {
        "destination": {
          "description": "Required. The name of the new parent resource node or customer to reparent the device under.",
          "type": "string"
        }
      },
      "description": "Request for MoveDevice.",
      "id": "SasPortalMoveDeviceRequest",
      "type": "object"
    },
    "SasPortalListDeploymentsResponse": {
      "description": "Response for ListDeployments.",
      "properties": {
        "deployments": {
          "description": "The deployments that match the request.",
          "type": "array",
          "items": {
            "$ref": "SasPortalDeployment"
          }
        },
        "nextPageToken": {
          "description": "A pagination token returned from a previous call to ListDeployments that indicates from where listing should continue. If the field is missing or empty, it means there are no more deployments.",
          "type": "string"
        }
      },
      "id": "SasPortalListDeploymentsResponse",
      "type": "object"
    },
    "SasPortalGenerateSecretRequest": {
      "type": "object",
      "id": "SasPortalGenerateSecretRequest",
      "description": "Request for GenerateSecret.",
      "properties": {}
    },
    "SasPortalTestPermissionsResponse": {
      "properties": {
        "permissions": {
          "description": "A set of permissions that the caller is allowed.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "id": "SasPortalTestPermissionsResponse",
      "type": "object",
      "description": "Response message for `TestPermissions` method."
    },
    "SasPortalAssignment": {
      "id": "SasPortalAssignment",
      "properties": {
        "role": {
          "description": "Required. Role that is assigned to `members`.",
          "type": "string"
        },
        "members": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The identities the role is assigned to. It can have the following values: * `{user_email}`: An email address that represents a specific Google account. For example: `alice@gmail.com`. * `{group_email}`: An email address that represents a Google group. For example, `viewers@gmail.com`."
        }
      },
      "type": "object",
      "description": "Associates `members` with a `role`."
    },
    "SasPortalDeviceMetadata": {
      "properties": {
        "nrqzValidated": {
          "type": "boolean",
          "deprecated": true,
          "description": "Output only. Set to `true` if a CPI has validated that they have coordinated with the National Quiet Zone office.",
          "readOnly": true
        },
        "interferenceCoordinationGroup": {
          "type": "string",
          "description": "Interference Coordination Group (ICG). A group of CBSDs that manage their own interference with the group. For more details, see [CBRSA-TS-2001 V3.0.0](https://ongoalliance.org/wp-content/uploads/2020/02/CBRSA-TS-2001-V3.0.0_Approved-for-publication.pdf)."
        },
        "nrqzValidation": {
          "description": "Output only. National Radio Quiet Zone validation info.",
          "readOnly": true,
          "$ref": "SasPortalNrqzValidation"
        },
        "antennaModel": {
          "description": "If populated, the Antenna Model Pattern to use. Format is: `RecordCreatorId:PatternId`",
          "type": "string"
        },
        "commonChannelGroup": {
          "description": "Common Channel Group (CCG). A group of CBSDs in the same ICG requesting a common primary channel assignment. For more details, see [CBRSA-TS-2001 V3.0.0](https://ongoalliance.org/wp-content/uploads/2020/02/CBRSA-TS-2001-V3.0.0_Approved-for-publication.pdf).",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Device data overridable by both SAS Portal and registration requests.",
      "id": "SasPortalDeviceMetadata"
    },
    "SasPortalMigrateOrganizationMetadata": {
      "id": "SasPortalMigrateOrganizationMetadata",
      "properties": {
        "operationState": {
          "readOnly": true,
          "enum": [
            "OPERATION_STATE_UNSPECIFIED",
            "OPERATION_STATE_PENDING",
            "OPERATION_STATE_RUNNING",
            "OPERATION_STATE_SUCCEEDED",
            "OPERATION_STATE_FAILED"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unspecified.",
            "Pending (Not started).",
            "In-progress.",
            "Done successfully.",
            "Done with errors."
          ],
          "description": "Output only. Current operation state"
        }
      },
      "description": "Long-running operation metadata message returned by the MigrateOrganization.",
      "type": "object"
    },
    "SasPortalDeviceAirInterface": {
      "type": "object",
      "description": "Information about the device's air interface.",
      "properties": {
        "supportedSpec": {
          "type": "string",
          "description": "Optional. This field is related to the `radioTechnology` and provides the air interface specification that the CBSD is compliant with at the time of registration."
        },
        "radioTechnology": {
          "type": "string",
          "enum": [
            "RADIO_TECHNOLOGY_UNSPECIFIED",
            "E_UTRA",
            "CAMBIUM_NETWORKS",
            "FOUR_G_BBW_SAA_1",
            "NR",
            "DOODLE_CBRS",
            "CW",
            "REDLINE",
            "TARANA_WIRELESS",
            "FAROS"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "description": "Conditional. This field specifies the radio access technology that is used for the CBSD."
        }
      },
      "id": "SasPortalDeviceAirInterface"
    },
    "SasPortalSetupSasAnalyticsResponse": {
      "id": "SasPortalSetupSasAnalyticsResponse",
      "description": "Response returned by the long running operation for the SetupSasAnalytics rpc.",
      "properties": {},
      "type": "object"
    },
    "SasPortalMoveDeploymentRequest": {
      "type": "object",
      "description": "Request for MoveDeployment.",
      "id": "SasPortalMoveDeploymentRequest",
      "properties": {
        "destination": {
          "description": "Required. The name of the new parent resource node or customer to reparent the deployment under.",
          "type": "string"
        }
      }
    },
    "SasPortalGcpProjectDeployment": {
      "id": "SasPortalGcpProjectDeployment",
      "description": "Deployment associated with the GCP project. Includes whether SAS analytics has been enabled or not.",
      "type": "object",
      "properties": {
        "deployment": {
          "description": "Deployment associated with the GCP project.",
          "$ref": "SasPortalDeployment"
        },
        "hasEnabledAnalytics": {
          "type": "boolean",
          "description": "Whether SAS analytics has been enabled."
        }
      }
    },
    "SasPortalNrqzValidation": {
      "description": "Information about National Radio Quiet Zone validation.",
      "properties": {
        "longitude": {
          "format": "double",
          "description": "Device longitude that's associated with the validation.",
          "type": "number"
        },
        "cpiId": {
          "description": "CPI who signed the validation.",
          "type": "string"
        },
        "latitude": {
          "format": "double",
          "description": "Device latitude that's associated with the validation.",
          "type": "number"
        },
        "state": {
          "enumDescriptions": [
            "Unspecified state.",
            "Draft state.",
            "Final state."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "DRAFT",
            "FINAL"
          ],
          "type": "string",
          "description": "State of the NRQZ validation info."
        },
        "caseId": {
          "type": "string",
          "description": "Validation case ID."
        }
      },
      "id": "SasPortalNrqzValidation",
      "type": "object"
    },
    "SasPortalMigrateOrganizationResponse": {
      "id": "SasPortalMigrateOrganizationResponse",
      "description": "Response for [MigrateOrganization]. [spectrum.sas.portal.v1alpha1.Provisioning.MigrateOrganization].",
      "properties": {
        "deploymentAssociation": {
          "type": "array",
          "description": "Optional. A list of deployment association that were created for the migration, or current associations if they already exist.",
          "items": {
            "$ref": "SasPortalDeploymentAssociation"
          }
        }
      },
      "type": "object"
    },
    "SasPortalFrequencyRange": {
      "type": "object",
      "description": "Frequency range from `low_frequency` to `high_frequency`.",
      "id": "SasPortalFrequencyRange",
      "properties": {
        "highFrequencyMhz": {
          "description": "The highest frequency of the frequency range in MHz.",
          "type": "number",
          "format": "double"
        },
        "lowFrequencyMhz": {
          "format": "double",
          "description": "The lowest frequency of the frequency range in MHz.",
          "type": "number"
        }
      }
    },
    "SasPortalListLegacyOrganizationsResponse": {
      "type": "object",
      "id": "SasPortalListLegacyOrganizationsResponse",
      "properties": {
        "organizations": {
          "items": {
            "$ref": "SasPortalOrganization"
          },
          "description": "Optional. Legacy SAS organizations.",
          "type": "array"
        }
      },
      "description": "Response for [ListLegacyOrganizations]. [spectrum.sas.portal.v1alpha1.Provisioning.ListLegacyOrganizations]."
    },
    "SasPortalListGcpProjectDeploymentsResponse": {
      "id": "SasPortalListGcpProjectDeploymentsResponse",
      "properties": {
        "deployments": {
          "description": "Optional. Deployments associated with the GCP project",
          "items": {
            "$ref": "SasPortalGcpProjectDeployment"
          },
          "type": "array"
        }
      },
      "type": "object",
      "description": "Response for [ListGcpProjectDeployments]."
    },
    "SasPortalListDevicesResponse": {
      "properties": {
        "devices": {
          "type": "array",
          "items": {
            "$ref": "SasPortalDevice"
          },
          "description": "The devices that match the request."
        },
        "nextPageToken": {
          "type": "string",
          "description": "A pagination token returned from a previous call to ListDevices that indicates from where listing should continue. If the field is missing or empty, it means there is no more devices."
        }
      },
      "description": "Response for ListDevices.",
      "id": "SasPortalListDevicesResponse",
      "type": "object"
    },
    "SasPortalTestPermissionsRequest": {
      "id": "SasPortalTestPermissionsRequest",
      "properties": {
        "permissions": {
          "description": "The set of permissions to check for the `resource`.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "resource": {
          "description": "Required. The resource for which the permissions are being requested.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Request message for `TestPermissions` method."
    },
    "SasPortalListCustomersResponse": {
      "properties": {
        "customers": {
          "description": "The list of customers that match the request.",
          "type": "array",
          "items": {
            "$ref": "SasPortalCustomer"
          }
        },
        "nextPageToken": {
          "description": "A pagination token returned from a previous call to ListCustomers that indicates from where listing should continue. If the field is missing or empty, it means there are no more customers.",
          "type": "string"
        }
      },
      "id": "SasPortalListCustomersResponse",
      "description": "Response for `ListCustomers`.",
      "type": "object"
    },
    "SasPortalDeploymentAssociation": {
      "description": "Association between a gcp project and a SAS user id.",
      "type": "object",
      "properties": {
        "gcpProjectId": {
          "description": "GCP project id of the associated project.",
          "type": "string"
        },
        "userId": {
          "description": "User id of the deployment.",
          "type": "string"
        }
      },
      "id": "SasPortalDeploymentAssociation"
    },
    "SasPortalOrganization": {
      "properties": {
        "displayName": {
          "type": "string",
          "description": "Name of organization"
        },
        "id": {
          "format": "int64",
          "type": "string",
          "description": "Id of organization"
        }
      },
      "type": "object",
      "id": "SasPortalOrganization",
      "description": "Organization details."
    },
    "SasPortalValidateInstallerResponse": {
      "description": "Response for ValidateInstaller.",
      "properties": {},
      "id": "SasPortalValidateInstallerResponse",
      "type": "object"
    },
    "SasPortalPolicy": {
      "type": "object",
      "id": "SasPortalPolicy",
      "description": "Defines an access control policy to the resources.",
      "properties": {
        "assignments": {
          "description": "List of assignments",
          "type": "array",
          "items": {
            "$ref": "SasPortalAssignment"
          }
        },
        "etag": {
          "type": "string",
          "description": "The etag is used for optimistic concurrency control as a way to help prevent simultaneous updates of a policy from overwriting each other. It is strongly suggested that systems make use of the etag in the read-modify-write cycle to perform policy updates in order to avoid race conditions: An etag is returned in the response to GetPolicy, and systems are expected to put that etag in the request to SetPolicy to ensure that their change will be applied to the same version of the policy. If no etag is provided in the call to GetPolicy, then the existing policy is overwritten blindly.",
          "format": "byte"
        }
      }
    },
    "SasPortalProvisionDeploymentRequest": {
      "description": "Request for [ProvisionDeployment]. [spectrum.sas.portal.v1alpha1.Provisioning.ProvisionDeployment]. GCP Project, Organization Info, and caller’s GAIA ID should be retrieved from the RPC handler, and used as inputs to create a new SAS organization (if not exists) and a new SAS deployment.",
      "type": "object",
      "properties": {
        "organizationId": {
          "format": "int64",
          "type": "string",
          "description": "Optional. If this field is set then a new deployment will be created under the organization specified by this id."
        },
        "newDeploymentDisplayName": {
          "description": "Optional. If this field is set, and a new SAS Portal Deployment needs to be created, its display name will be set to the value of this field.",
          "type": "string"
        },
        "newOrganizationDisplayName": {
          "description": "Optional. If this field is set, and a new SAS Portal Organization needs to be created, its display name will be set to the value of this field.",
          "type": "string"
        }
      },
      "id": "SasPortalProvisionDeploymentRequest"
    },
    "SasPortalSetPolicyRequest": {
      "id": "SasPortalSetPolicyRequest",
      "description": "Request message for `SetPolicy` method.",
      "properties": {
        "disableNotification": {
          "description": "Optional. Set the field as `true` to disable the onboarding notification.",
          "type": "boolean"
        },
        "resource": {
          "type": "string",
          "description": "Required. The resource for which the policy is being specified. This policy replaces any existing policy."
        },
        "policy": {
          "$ref": "SasPortalPolicy",
          "description": "Required. The policy to be applied to the `resource`."
        }
      },
      "type": "object"
    },
    "SasPortalDeployment": {
      "properties": {
        "frns": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "readOnly": true,
          "description": "Output only. The FCC Registration Numbers (FRNs) copied from its direct parent."
        },
        "name": {
          "description": "Output only. Resource name.",
          "readOnly": true,
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "description": "The deployment's display name."
        },
        "sasUserIds": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "User ID used by the devices belonging to this deployment. Each deployment should be associated with one unique user ID."
        }
      },
      "type": "object",
      "id": "SasPortalDeployment",
      "description": "The Deployment."
    },
    "SasPortalCreateSignedDeviceRequest": {
      "id": "SasPortalCreateSignedDeviceRequest",
      "properties": {
        "encodedDevice": {
          "format": "byte",
          "type": "string",
          "description": "Required. JSON Web Token signed using a CPI private key. Payload must be the JSON encoding of the device. The user_id field must be set."
        },
        "installerId": {
          "type": "string",
          "description": "Required. Unique installer id (CPI ID) from the Certified Professional Installers database."
        }
      },
      "type": "object",
      "description": "Request for CreateSignedDevice."
    },
    "SasPortalDeviceGrant": {
      "id": "SasPortalDeviceGrant",
      "type": "object",
      "properties": {
        "moveList": {
          "description": "The DPA move lists on which this grant appears.",
          "items": {
            "$ref": "SasPortalDpaMoveList"
          },
          "type": "array"
        },
        "state": {
          "enum": [
            "GRANT_STATE_UNSPECIFIED",
            "GRANT_STATE_GRANTED",
            "GRANT_STATE_TERMINATED",
            "GRANT_STATE_SUSPENDED",
            "GRANT_STATE_AUTHORIZED",
            "GRANT_STATE_EXPIRED"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "The grant has been granted but the device is not heartbeating on it.",
            "The grant has been terminated by the SAS.",
            "The grant has been suspended by the SAS.",
            "The device is currently transmitting.",
            "The grant has expired."
          ],
          "description": "State of the grant."
        },
        "maxEirp": {
          "format": "double",
          "description": "Maximum Equivalent Isotropically Radiated Power (EIRP) permitted by the grant. The maximum EIRP is in units of dBm/MHz. The value of `maxEirp` represents the average (RMS) EIRP that would be measured by the procedure defined in FCC part 96.41(e)(3).",
          "type": "number"
        },
        "suspensionReason": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "If the grant is suspended, the reason(s) for suspension."
        },
        "grantId": {
          "type": "string",
          "description": "Grant Id."
        },
        "frequencyRange": {
          "description": "The transmission frequency range.",
          "$ref": "SasPortalFrequencyRange"
        },
        "expireTime": {
          "type": "string",
          "description": "The expiration time of the grant.",
          "format": "google-datetime"
        },
        "channelType": {
          "enum": [
            "CHANNEL_TYPE_UNSPECIFIED",
            "CHANNEL_TYPE_GAA",
            "CHANNEL_TYPE_PAL"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "description": "Type of channel used."
        },
        "lastHeartbeatTransmitExpireTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "The transmit expiration time of the last heartbeat."
        }
      },
      "description": "Device grant. It is an authorization provided by the Spectrum Access System to a device to transmit using specified operating parameters after a successful heartbeat by the device."
    },
    "SasPortalDpaMoveList": {
      "description": "An entry in a DPA's move list.",
      "id": "SasPortalDpaMoveList",
      "type": "object",
      "properties": {
        "frequencyRange": {
          "$ref": "SasPortalFrequencyRange",
          "description": "The frequency range that the move list affects."
        },
        "dpaId": {
          "type": "string",
          "description": "The ID of the DPA."
        }
      }
    },
    "SasPortalChannelWithScore": {
      "type": "object",
      "id": "SasPortalChannelWithScore",
      "properties": {
        "frequencyRange": {
          "description": "The frequency range of the channel.",
          "$ref": "SasPortalFrequencyRange"
        },
        "score": {
          "description": "The channel score, normalized to be in the range [0,100].",
          "type": "number",
          "format": "double"
        }
      },
      "description": "The channel with score."
    },
    "SasPortalMoveNodeRequest": {
      "properties": {
        "destination": {
          "description": "Required. The name of the new parent resource node or customer to reparent the node under.",
          "type": "string"
        }
      },
      "description": "Request for MoveNode.",
      "type": "object",
      "id": "SasPortalMoveNodeRequest"
    },
    "SasPortalValidateInstallerRequest": {
      "properties": {
        "encodedSecret": {
          "description": "Required. JSON Web Token signed using a CPI private key. Payload must include a \"secret\" claim whose value is the secret.",
          "type": "string"
        },
        "installerId": {
          "type": "string",
          "description": "Required. Unique installer id (CPI ID) from the Certified Professional Installers database."
        },
        "secret": {
          "description": "Required. Secret returned by the GenerateSecret.",
          "type": "string"
        }
      },
      "description": "Request for ValidateInstaller.",
      "id": "SasPortalValidateInstallerRequest",
      "type": "object"
    },
    "SasPortalNode": {
      "description": "The Node.",
      "properties": {
        "displayName": {
          "description": "The node's display name.",
          "type": "string"
        },
        "sasUserIds": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "User ids used by the devices belonging to this node."
        },
        "name": {
          "type": "string",
          "description": "Output only. Resource name."
        }
      },
      "type": "object",
      "id": "SasPortalNode"
    },
    "SasPortalEmpty": {
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "properties": {},
      "type": "object",
      "id": "SasPortalEmpty"
    },
    "SasPortalListNodesResponse": {
      "type": "object",
      "id": "SasPortalListNodesResponse",
      "description": "Response for ListNodes.",
      "properties": {
        "nextPageToken": {
          "description": "A pagination token returned from a previous call to ListNodes that indicates from where listing should continue. If the field is missing or empty, it means there is no more nodes.",
          "type": "string"
        },
        "nodes": {
          "items": {
            "$ref": "SasPortalNode"
          },
          "description": "The nodes that match the request.",
          "type": "array"
        }
      }
    },
    "SasPortalGenerateSecretResponse": {
      "properties": {
        "secret": {
          "description": "The secret generated by the string and used by ValidateInstaller.",
          "type": "string"
        }
      },
      "id": "SasPortalGenerateSecretResponse",
      "description": "Response for GenerateSecret.",
      "type": "object"
    }
  },
  "ownerName": "Google",
  "parameters": {
    "prettyPrint": {
      "default": "true",
      "location": "query",
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean"
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "callback": {
      "location": "query",
      "type": "string",
      "description": "JSONP"
    },
    "oauth_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth 2.0 token for the current user."
    },
    "alt": {
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "type": "string",
      "location": "query",
      "default": "json",
      "description": "Data format for response.",
      "enum": [
        "json",
        "media",
        "proto"
      ]
    },
    "$.xgafv": {
      "type": "string",
      "description": "V1 error format.",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query",
      "enum": [
        "1",
        "2"
      ]
    },
    "access_token": {
      "description": "OAuth access token.",
      "type": "string",
      "location": "query"
    },
    "key": {
      "location": "query",
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "quotaUser": {
      "type": "string",
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string",
      "location": "query"
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    }
  },
  "protocol": "rest",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "resources": {
    "installer": {
      "methods": {
        "validate": {
          "response": {
            "$ref": "SasPortalValidateInstallerResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sasportal"
          ],
          "id": "sasportal.installer.validate",
          "request": {
            "$ref": "SasPortalValidateInstallerRequest"
          },
          "parameterOrder": [],
          "flatPath": "v1alpha1/installer:validate",
          "parameters": {},
          "httpMethod": "POST",
          "description": "Validates the identity of a Certified Professional Installer (CPI).",
          "path": "v1alpha1/installer:validate"
        },
        "generateSecret": {
          "description": "Generates a secret to be used with the ValidateInstaller.",
          "parameters": {},
          "flatPath": "v1alpha1/installer:generateSecret",
          "response": {
            "$ref": "SasPortalGenerateSecretResponse"
          },
          "request": {
            "$ref": "SasPortalGenerateSecretRequest"
          },
          "id": "sasportal.installer.generateSecret",
          "parameterOrder": [],
          "path": "v1alpha1/installer:generateSecret",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sasportal"
          ],
          "httpMethod": "POST"
        }
      }
    },
    "deployments": {
      "methods": {
        "get": {
          "path": "v1alpha1/{+name}",
          "id": "sasportal.deployments.get",
          "parameterOrder": [
            "name"
          ],
          "response": {
            "$ref": "SasPortalDeployment"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sasportal"
          ],
          "parameters": {
            "name": {
              "location": "path",
              "type": "string",
              "description": "Required. The name of the deployment.",
              "pattern": "^deployments/[^/]+$",
              "required": true
            }
          },
          "flatPath": "v1alpha1/deployments/{deploymentsId}",
          "description": "Returns a requested deployment.",
          "httpMethod": "GET"
        }
      },
      "resources": {
        "devices": {
          "methods": {
            "delete": {
              "id": "sasportal.deployments.devices.delete",
              "httpMethod": "DELETE",
              "description": "Deletes a device.",
              "flatPath": "v1alpha1/deployments/{deploymentsId}/devices/{devicesId}",
              "parameters": {
                "name": {
                  "location": "path",
                  "pattern": "^deployments/[^/]+/devices/[^/]+$",
                  "description": "Required. The name of the device.",
                  "type": "string",
                  "required": true
                }
              },
              "path": "v1alpha1/{+name}",
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/sasportal"
              ],
              "response": {
                "$ref": "SasPortalEmpty"
              }
            },
            "patch": {
              "request": {
                "$ref": "SasPortalDevice"
              },
              "response": {
                "$ref": "SasPortalDevice"
              },
              "httpMethod": "PATCH",
              "flatPath": "v1alpha1/deployments/{deploymentsId}/devices/{devicesId}",
              "description": "Updates a device.",
              "parameters": {
                "name": {
                  "pattern": "^deployments/[^/]+/devices/[^/]+$",
                  "required": true,
                  "type": "string",
                  "description": "Output only. The resource path name.",
                  "location": "path"
                },
                "updateMask": {
                  "format": "google-fieldmask",
                  "type": "string",
                  "location": "query",
                  "description": "Fields to be updated."
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/sasportal"
              ],
              "id": "sasportal.deployments.devices.patch",
              "path": "v1alpha1/{+name}",
              "parameterOrder": [
                "name"
              ]
            },
            "updateSigned": {
              "description": "Updates a signed device.",
              "flatPath": "v1alpha1/deployments/{deploymentsId}/devices/{devicesId}:updateSigned",
              "httpMethod": "PATCH",
              "id": "sasportal.deployments.devices.updateSigned",
              "response": {
                "$ref": "SasPortalDevice"
              },
              "request": {
                "$ref": "SasPortalUpdateSignedDeviceRequest"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/sasportal"
              ],
              "path": "v1alpha1/{+name}:updateSigned",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "description": "Required. The name of the device to update.",
                  "pattern": "^deployments/[^/]+/devices/[^/]+$"
                }
              }
            },
            "signDevice": {
              "parameters": {
                "name": {
                  "required": true,
                  "location": "path",
                  "pattern": "^deployments/[^/]+/devices/[^/]+$",
                  "type": "string",
                  "description": "Output only. The resource path name."
                }
              },
              "parameterOrder": [
                "name"
              ],
              "id": "sasportal.deployments.devices.signDevice",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/sasportal"
              ],
              "path": "v1alpha1/{+name}:signDevice",
              "flatPath": "v1alpha1/deployments/{deploymentsId}/devices/{devicesId}:signDevice",
              "request": {
                "$ref": "SasPortalSignDeviceRequest"
              },
              "httpMethod": "POST",
              "description": "Signs a device.",
              "response": {
                "$ref": "SasPortalEmpty"
              }
            },
            "get": {
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "GET",
              "description": "Gets details about a device.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/sasportal"
              ],
              "response": {
                "$ref": "SasPortalDevice"
              },
              "id": "sasportal.deployments.devices.get",
              "parameters": {
                "name": {
                  "required": true,
                  "description": "Required. The name of the device.",
                  "location": "path",
                  "pattern": "^deployments/[^/]+/devices/[^/]+$",
                  "type": "string"
                }
              },
              "path": "v1alpha1/{+name}",
              "flatPath": "v1alpha1/deployments/{deploymentsId}/devices/{devicesId}"
            },
            "move": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/sasportal"
              ],
              "parameters": {
                "name": {
                  "required": true,
                  "location": "path",
                  "description": "Required. The name of the device to move.",
                  "pattern": "^deployments/[^/]+/devices/[^/]+$",
                  "type": "string"
                }
              },
              "request": {
                "$ref": "SasPortalMoveDeviceRequest"
              },
              "id": "sasportal.deployments.devices.move",
              "parameterOrder": [
                "name"
              ],
              "description": "Moves a device under another node or customer.",
              "response": {
                "$ref": "SasPortalOperation"
              },
              "httpMethod": "POST",
              "flatPath": "v1alpha1/deployments/{deploymentsId}/devices/{devicesId}:move",
              "path": "v1alpha1/{+name}:move"
            }
          }
        }
      }
    },
    "customers": {
      "resources": {
        "devices": {
          "methods": {
            "get": {
              "path": "v1alpha1/{+name}",
              "flatPath": "v1alpha1/customers/{customersId}/devices/{devicesId}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/sasportal"
              ],
              "response": {
                "$ref": "SasPortalDevice"
              },
              "parameters": {
                "name": {
                  "type": "string",
                  "description": "Required. The name of the device.",
                  "required": true,
                  "pattern": "^customers/[^/]+/devices/[^/]+$",
                  "location": "path"
                }
              },
              "description": "Gets details about a device.",
              "id": "sasportal.customers.devices.get",
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "GET"
            },
            "patch": {
              "parameters": {
                "name": {
                  "pattern": "^customers/[^/]+/devices/[^/]+$",
                  "type": "string",
                  "description": "Output only. The resource path name.",
                  "location": "path",
                  "required": true
                },
                "updateMask": {
                  "location": "query",
                  "type": "string",
                  "format": "google-fieldmask",
                  "description": "Fields to be updated."
                }
              },
              "flatPath": "v1alpha1/customers/{customersId}/devices/{devicesId}",
              "response": {
                "$ref": "SasPortalDevice"
              },
              "path": "v1alpha1/{+name}",
              "parameterOrder": [
                "name"
              ],
              "description": "Updates a device.",
              "request": {
                "$ref": "SasPortalDevice"
              },
              "id": "sasportal.customers.devices.patch",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/sasportal"
              ],
              "httpMethod": "PATCH"
            },
            "create": {
              "description": "Creates a device under a node or customer.",
              "httpMethod": "POST",
              "request": {
                "$ref": "SasPortalDevice"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/sasportal"
              ],
              "flatPath": "v1alpha1/customers/{customersId}/devices",
              "id": "sasportal.customers.devices.create",
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "SasPortalDevice"
              },
              "path": "v1alpha1/{+parent}/devices",
              "parameters": {
                "parent": {
                  "required": true,
                  "type": "string",
                  "pattern": "^customers/[^/]+$",
                  "location": "path",
                  "description": "Required. The name of the parent resource."
                }
              }
            },
            "updateSigned": {
              "request": {
                "$ref": "SasPortalUpdateSignedDeviceRequest"
              },
              "parameters": {
                "name": {
                  "description": "Required. The name of the device to update.",
                  "required": true,
                  "pattern": "^customers/[^/]+/devices/[^/]+$",
                  "location": "path",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "path": "v1alpha1/{+name}:updateSigned",
              "flatPath": "v1alpha1/customers/{customersId}/devices/{devicesId}:updateSigned",
              "description": "Updates a signed device.",
              "id": "sasportal.customers.devices.updateSigned",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/sasportal"
              ],
              "httpMethod": "PATCH",
              "response": {
                "$ref": "SasPortalDevice"
              }
            },
            "signDevice": {
              "id": "sasportal.customers.devices.signDevice",
              "flatPath": "v1alpha1/customers/{customersId}/devices/{devicesId}:signDevice",
              "httpMethod": "POST",
              "request": {
                "$ref": "SasPortalSignDeviceRequest"
              },
              "path": "v1alpha1/{+name}:signDevice",
              "response": {
                "$ref": "SasPortalEmpty"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/sasportal"
              ],
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "pattern": "^customers/[^/]+/devices/[^/]+$",
                  "description": "Output only. The resource path name.",
                  "required": true,
                  "location": "path",
                  "type": "string"
                }
              },
              "description": "Signs a device."
            },
            "move": {
              "parameters": {
                "name": {
                  "pattern": "^customers/[^/]+/devices/[^/]+$",
                  "required": true,
                  "description": "Required. The name of the device to move.",
                  "type": "string",
                  "location": "path"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/sasportal"
              ],
              "path": "v1alpha1/{+name}:move",
              "description": "Moves a device under another node or customer.",
              "response": {
                "$ref": "SasPortalOperation"
              },
              "httpMethod": "POST",
              "parameterOrder": [
                "name"
              ],
              "id": "sasportal.customers.devices.move",
              "request": {
                "$ref": "SasPortalMoveDeviceRequest"
              },
              "flatPath": "v1alpha1/customers/{customersId}/devices/{devicesId}:move"
            },
            "list": {
              "parameterOrder": [
                "parent"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/sasportal"
              ],
              "description": "Lists devices under a node or customer.",
              "httpMethod": "GET",
              "id": "sasportal.customers.devices.list",
              "response": {
                "$ref": "SasPortalListDevicesResponse"
              },
              "path": "v1alpha1/{+parent}/devices",
              "parameters": {
                "pageSize": {
                  "type": "integer",
                  "format": "int32",
                  "location": "query",
                  "description": "The maximum number of devices to return in the response. If empty or zero, all devices will be listed. Must be in the range [0, 1000]."
                },
                "filter": {
                  "type": "string",
                  "location": "query",
                  "description": "The filter expression. The filter should have one of the following formats: \"sn=123454\" or \"display_name=MyDevice\". sn corresponds to serial number of the device. The filter is case insensitive."
                },
                "parent": {
                  "location": "path",
                  "pattern": "^customers/[^/]+$",
                  "required": true,
                  "description": "Required. The name of the parent resource.",
                  "type": "string"
                },
                "pageToken": {
                  "type": "string",
                  "location": "query",
                  "description": "A pagination token returned from a previous call to ListDevices that indicates where this listing should continue from."
                }
              },
              "flatPath": "v1alpha1/customers/{customersId}/devices"
            },
            "delete": {
              "parameters": {
                "name": {
                  "pattern": "^customers/[^/]+/devices/[^/]+$",
                  "required": true,
                  "description": "Required. The name of the device.",
                  "location": "path",
                  "type": "string"
                }
              },
              "path": "v1alpha1/{+name}",
              "id": "sasportal.customers.devices.delete",
              "parameterOrder": [
                "name"
              ],
              "description": "Deletes a device.",
              "flatPath": "v1alpha1/customers/{customersId}/devices/{devicesId}",
              "response": {
                "$ref": "SasPortalEmpty"
              },
              "httpMethod": "DELETE",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/sasportal"
              ]
            },
            "createSigned": {
              "parameters": {
                "parent": {
                  "description": "Required. The name of the parent resource.",
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "pattern": "^customers/[^/]+$"
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "description": "Creates a signed device under a node or customer.",
              "flatPath": "v1alpha1/customers/{customersId}/devices:createSigned",
              "id": "sasportal.customers.devices.createSigned",
              "response": {
                "$ref": "SasPortalDevice"
              },
              "request": {
                "$ref": "SasPortalCreateSignedDeviceRequest"
              },
              "path": "v1alpha1/{+parent}/devices:createSigned",
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/sasportal"
              ]
            }
          }
        },
        "deployments": {
          "methods": {
            "get": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/sasportal"
              ],
              "parameters": {
                "name": {
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "pattern": "^customers/[^/]+/deployments/[^/]+$",
                  "description": "Required. The name of the deployment."
                }
              },
              "path": "v1alpha1/{+name}",
              "flatPath": "v1alpha1/customers/{customersId}/deployments/{deploymentsId}",
              "parameterOrder": [
                "name"
              ],
              "description": "Returns a requested deployment.",
              "id": "sasportal.customers.deployments.get",
              "httpMethod": "GET",
              "response": {
                "$ref": "SasPortalDeployment"
              }
            },
            "delete": {
              "parameters": {
                "name": {
                  "description": "Required. The name of the deployment.",
                  "required": true,
                  "pattern": "^customers/[^/]+/deployments/[^/]+$",
                  "type": "string",
                  "location": "path"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/sasportal"
              ],
              "id": "sasportal.customers.deployments.delete",
              "description": "Deletes a deployment.",
              "flatPath": "v1alpha1/customers/{customersId}/deployments/{deploymentsId}",
              "path": "v1alpha1/{+name}",
              "httpMethod": "DELETE",
              "response": {
                "$ref": "SasPortalEmpty"
              }
            },
            "move": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/sasportal"
              ],
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "POST",
              "description": "Moves a deployment under another node or customer.",
              "request": {
                "$ref": "SasPortalMoveDeploymentRequest"
              },
              "id": "sasportal.customers.deployments.move",
              "response": {
                "$ref": "SasPortalOperation"
              },
              "path": "v1alpha1/{+name}:move",
              "flatPath": "v1alpha1/customers/{customersId}/deployments/{deploymentsId}:move",
              "parameters": {
                "name": {
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "description": "Required. The name of the deployment to move.",
                  "pattern": "^customers/[^/]+/deployments/[^/]+$"
                }
              }
            },
            "list": {
              "flatPath": "v1alpha1/customers/{customersId}/deployments",
              "description": "Lists deployments.",
              "id": "sasportal.customers.deployments.list",
              "httpMethod": "GET",
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "SasPortalListDeploymentsResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/sasportal"
              ],
              "path": "v1alpha1/{+parent}/deployments",
              "parameters": {
                "parent": {
                  "required": true,
                  "description": "Required. The parent resource name, for example, \"nodes/1\", customer/1/nodes/2.",
                  "location": "path",
                  "type": "string",
                  "pattern": "^customers/[^/]+$"
                },
                "filter": {
                  "type": "string",
                  "description": "The filter expression. The filter should have the following format: \"DIRECT_CHILDREN\" or format: \"direct_children\". The filter is case insensitive. If empty, then no deployments are filtered.",
                  "location": "query"
                },
                "pageSize": {
                  "description": "The maximum number of deployments to return in the response.",
                  "location": "query",
                  "format": "int32",
                  "type": "integer"
                },
                "pageToken": {
                  "description": "A pagination token returned from a previous call to ListDeployments that indicates where this listing should continue from.",
                  "type": "string",
                  "location": "query"
                }
              }
            },
            "create": {
              "httpMethod": "POST",
              "id": "sasportal.customers.deployments.create",
              "parameterOrder": [
                "parent"
              ],
              "parameters": {
                "parent": {
                  "required": true,
                  "type": "string",
                  "description": "Required. The parent resource name where the deployment is to be created.",
                  "pattern": "^customers/[^/]+$",
                  "location": "path"
                }
              },
              "description": "Creates a new deployment.",
              "response": {
                "$ref": "SasPortalDeployment"
              },
              "request": {
                "$ref": "SasPortalDeployment"
              },
              "flatPath": "v1alpha1/customers/{customersId}/deployments",
              "path": "v1alpha1/{+parent}/deployments",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/sasportal"
              ]
            },
            "patch": {
              "parameterOrder": [
                "name"
              ],
              "id": "sasportal.customers.deployments.patch",
              "request": {
                "$ref": "SasPortalDeployment"
              },
              "httpMethod": "PATCH",
              "parameters": {
                "updateMask": {
                  "format": "google-fieldmask",
                  "description": "Fields to be updated.",
                  "type": "string",
                  "location": "query"
                },
                "name": {
                  "description": "Output only. Resource name.",
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "pattern": "^customers/[^/]+/deployments/[^/]+$"
                }
              },
              "flatPath": "v1alpha1/customers/{customersId}/deployments/{deploymentsId}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/sasportal"
              ],
              "description": "Updates an existing deployment.",
              "path": "v1alpha1/{+name}",
              "response": {
                "$ref": "SasPortalDeployment"
              }
            }
          },
          "resources": {
            "devices": {
              "methods": {
                "list": {
                  "flatPath": "v1alpha1/customers/{customersId}/deployments/{deploymentsId}/devices",
                  "path": "v1alpha1/{+parent}/devices",
                  "response": {
                    "$ref": "SasPortalListDevicesResponse"
                  },
                  "description": "Lists devices under a node or customer.",
                  "httpMethod": "GET",
                  "id": "sasportal.customers.deployments.devices.list",
                  "parameters": {
                    "pageSize": {
                      "description": "The maximum number of devices to return in the response. If empty or zero, all devices will be listed. Must be in the range [0, 1000].",
                      "location": "query",
                      "type": "integer",
                      "format": "int32"
                    },
                    "parent": {
                      "description": "Required. The name of the parent resource.",
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "pattern": "^customers/[^/]+/deployments/[^/]+$"
                    },
                    "pageToken": {
                      "description": "A pagination token returned from a previous call to ListDevices that indicates where this listing should continue from.",
                      "type": "string",
                      "location": "query"
                    },
                    "filter": {
                      "type": "string",
                      "description": "The filter expression. The filter should have one of the following formats: \"sn=123454\" or \"display_name=MyDevice\". sn corresponds to serial number of the device. The filter is case insensitive.",
                      "location": "query"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/sasportal"
                  ],
                  "parameterOrder": [
                    "parent"
                  ]
                },
                "createSigned": {
                  "httpMethod": "POST",
                  "path": "v1alpha1/{+parent}/devices:createSigned",
                  "id": "sasportal.customers.deployments.devices.createSigned",
                  "response": {
                    "$ref": "SasPortalDevice"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "request": {
                    "$ref": "SasPortalCreateSignedDeviceRequest"
                  },
                  "description": "Creates a signed device under a node or customer.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/sasportal"
                  ],
                  "flatPath": "v1alpha1/customers/{customersId}/deployments/{deploymentsId}/devices:createSigned",
                  "parameters": {
                    "parent": {
                      "pattern": "^customers/[^/]+/deployments/[^/]+$",
                      "required": true,
                      "type": "string",
                      "description": "Required. The name of the parent resource.",
                      "location": "path"
                    }
                  }
                },
                "create": {
                  "parameterOrder": [
                    "parent"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/sasportal"
                  ],
                  "request": {
                    "$ref": "SasPortalDevice"
                  },
                  "flatPath": "v1alpha1/customers/{customersId}/deployments/{deploymentsId}/devices",
                  "id": "sasportal.customers.deployments.devices.create",
                  "path": "v1alpha1/{+parent}/devices",
                  "description": "Creates a device under a node or customer.",
                  "httpMethod": "POST",
                  "response": {
                    "$ref": "SasPortalDevice"
                  },
                  "parameters": {
                    "parent": {
                      "required": true,
                      "type": "string",
                      "description": "Required. The name of the parent resource.",
                      "pattern": "^customers/[^/]+/deployments/[^/]+$",
                      "location": "path"
                    }
                  }
                }
              }
            }
          }
        },
        "nodes": {
          "resources": {
            "nodes": {
              "methods": {
                "list": {
                  "description": "Lists nodes.",
                  "parameterOrder": [
                    "parent"
                  ],
                  "flatPath": "v1alpha1/customers/{customersId}/nodes/{nodesId}/nodes",
                  "parameters": {
                    "pageSize": {
                      "location": "query",
                      "type": "integer",
                      "format": "int32",
                      "description": "The maximum number of nodes to return in the response."
                    },
                    "filter": {
                      "description": "The filter expression. The filter should have the following format: \"DIRECT_CHILDREN\" or format: \"direct_children\". The filter is case insensitive. If empty, then no nodes are filtered.",
                      "location": "query",
                      "type": "string"
                    },
                    "pageToken": {
                      "location": "query",
                      "description": "A pagination token returned from a previous call to ListNodes that indicates where this listing should continue from.",
                      "type": "string"
                    },
                    "parent": {
                      "location": "path",
                      "description": "Required. The parent resource name, for example, \"nodes/1\".",
                      "type": "string",
                      "required": true,
                      "pattern": "^customers/[^/]+/nodes/[^/]+$"
                    }
                  },
                  "response": {
                    "$ref": "SasPortalListNodesResponse"
                  },
                  "id": "sasportal.customers.nodes.nodes.list",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/sasportal"
                  ],
                  "httpMethod": "GET",
                  "path": "v1alpha1/{+parent}/nodes"
                },
                "create": {
                  "httpMethod": "POST",
                  "flatPath": "v1alpha1/customers/{customersId}/nodes/{nodesId}/nodes",
                  "id": "sasportal.customers.nodes.nodes.create",
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "SasPortalNode"
                  },
                  "path": "v1alpha1/{+parent}/nodes",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/sasportal"
                  ],
                  "request": {
                    "$ref": "SasPortalNode"
                  },
                  "description": "Creates a new node.",
                  "parameters": {
                    "parent": {
                      "pattern": "^customers/[^/]+/nodes/[^/]+$",
                      "description": "Required. The parent resource name where the node is to be created.",
                      "required": true,
                      "type": "string",
                      "location": "path"
                    }
                  }
                }
              }
            },
            "deployments": {
              "methods": {
                "list": {
                  "id": "sasportal.customers.nodes.deployments.list",
                  "httpMethod": "GET",
                  "description": "Lists deployments.",
                  "flatPath": "v1alpha1/customers/{customersId}/nodes/{nodesId}/deployments",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/sasportal"
                  ],
                  "parameters": {
                    "pageSize": {
                      "format": "int32",
                      "description": "The maximum number of deployments to return in the response.",
                      "location": "query",
                      "type": "integer"
                    },
                    "pageToken": {
                      "type": "string",
                      "location": "query",
                      "description": "A pagination token returned from a previous call to ListDeployments that indicates where this listing should continue from."
                    },
                    "filter": {
                      "location": "query",
                      "type": "string",
                      "description": "The filter expression. The filter should have the following format: \"DIRECT_CHILDREN\" or format: \"direct_children\". The filter is case insensitive. If empty, then no deployments are filtered."
                    },
                    "parent": {
                      "location": "path",
                      "description": "Required. The parent resource name, for example, \"nodes/1\", customer/1/nodes/2.",
                      "type": "string",
                      "required": true,
                      "pattern": "^customers/[^/]+/nodes/[^/]+$"
                    }
                  },
                  "path": "v1alpha1/{+parent}/deployments",
                  "response": {
                    "$ref": "SasPortalListDeploymentsResponse"
                  },
                  "parameterOrder": [
                    "parent"
                  ]
                },
                "create": {
                  "response": {
                    "$ref": "SasPortalDeployment"
                  },
                  "flatPath": "v1alpha1/customers/{customersId}/nodes/{nodesId}/deployments",
                  "id": "sasportal.customers.nodes.deployments.create",
                  "parameters": {
                    "parent": {
                      "description": "Required. The parent resource name where the deployment is to be created.",
                      "location": "path",
                      "type": "string",
                      "pattern": "^customers/[^/]+/nodes/[^/]+$",
                      "required": true
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/sasportal"
                  ],
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "SasPortalDeployment"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "description": "Creates a new deployment.",
                  "path": "v1alpha1/{+parent}/deployments"
                }
              }
            },
            "devices": {
              "methods": {
                "create": {
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "parent"
                  ],
                  "request": {
                    "$ref": "SasPortalDevice"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/sasportal"
                  ],
                  "flatPath": "v1alpha1/customers/{customersId}/nodes/{nodesId}/devices",
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "pattern": "^customers/[^/]+/nodes/[^/]+$",
                      "description": "Required. The name of the parent resource.",
                      "type": "string",
                      "required": true
                    }
                  },
                  "response": {
                    "$ref": "SasPortalDevice"
                  },
                  "path": "v1alpha1/{+parent}/devices",
                  "id": "sasportal.customers.nodes.devices.create",
                  "description": "Creates a device under a node or customer."
                },
                "list": {
                  "parameterOrder": [
                    "parent"
                  ],
                  "id": "sasportal.customers.nodes.devices.list",
                  "httpMethod": "GET",
                  "description": "Lists devices under a node or customer.",
                  "parameters": {
                    "pageSize": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The maximum number of devices to return in the response. If empty or zero, all devices will be listed. Must be in the range [0, 1000].",
                      "location": "query"
                    },
                    "parent": {
                      "required": true,
                      "description": "Required. The name of the parent resource.",
                      "type": "string",
                      "location": "path",
                      "pattern": "^customers/[^/]+/nodes/[^/]+$"
                    },
                    "pageToken": {
                      "description": "A pagination token returned from a previous call to ListDevices that indicates where this listing should continue from.",
                      "location": "query",
                      "type": "string"
                    },
                    "filter": {
                      "type": "string",
                      "description": "The filter expression. The filter should have one of the following formats: \"sn=123454\" or \"display_name=MyDevice\". sn corresponds to serial number of the device. The filter is case insensitive.",
                      "location": "query"
                    }
                  },
                  "response": {
                    "$ref": "SasPortalListDevicesResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/sasportal"
                  ],
                  "path": "v1alpha1/{+parent}/devices",
                  "flatPath": "v1alpha1/customers/{customersId}/nodes/{nodesId}/devices"
                },
                "createSigned": {
                  "parameters": {
                    "parent": {
                      "type": "string",
                      "pattern": "^customers/[^/]+/nodes/[^/]+$",
                      "location": "path",
                      "description": "Required. The name of the parent resource.",
                      "required": true
                    }
                  },
                  "id": "sasportal.customers.nodes.devices.createSigned",
                  "request": {
                    "$ref": "SasPortalCreateSignedDeviceRequest"
                  },
                  "description": "Creates a signed device under a node or customer.",
                  "parameterOrder": [
                    "parent"
                  ],
                  "flatPath": "v1alpha1/customers/{customersId}/nodes/{nodesId}/devices:createSigned",
                  "path": "v1alpha1/{+parent}/devices:createSigned",
                  "response": {
                    "$ref": "SasPortalDevice"
                  },
                  "httpMethod": "POST",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/sasportal"
                  ]
                }
              }
            }
          },
          "methods": {
            "delete": {
              "response": {
                "$ref": "SasPortalEmpty"
              },
              "description": "Deletes a node.",
              "parameters": {
                "name": {
                  "location": "path",
                  "type": "string",
                  "description": "Required. The name of the node.",
                  "required": true,
                  "pattern": "^customers/[^/]+/nodes/[^/]+$"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1alpha1/customers/{customersId}/nodes/{nodesId}",
              "httpMethod": "DELETE",
              "path": "v1alpha1/{+name}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/sasportal"
              ],
              "id": "sasportal.customers.nodes.delete"
            },
            "patch": {
              "httpMethod": "PATCH",
              "id": "sasportal.customers.nodes.patch",
              "flatPath": "v1alpha1/customers/{customersId}/nodes/{nodesId}",
              "path": "v1alpha1/{+name}",
              "request": {
                "$ref": "SasPortalNode"
              },
              "response": {
                "$ref": "SasPortalNode"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/sasportal"
              ],
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "pattern": "^customers/[^/]+/nodes/[^/]+$",
                  "description": "Output only. Resource name.",
                  "required": true,
                  "type": "string",
                  "location": "path"
                },
                "updateMask": {
                  "type": "string",
                  "location": "query",
                  "format": "google-fieldmask",
                  "description": "Fields to be updated."
                }
              },
              "description": "Updates an existing node."
            },
            "move": {
              "description": "Moves a node under another node or customer.",
              "flatPath": "v1alpha1/customers/{customersId}/nodes/{nodesId}:move",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/sasportal"
              ],
              "response": {
                "$ref": "SasPortalOperation"
              },
              "httpMethod": "POST",
              "parameters": {
                "name": {
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "description": "Required. The name of the node to move.",
                  "pattern": "^customers/[^/]+/nodes/[^/]+$"
                }
              },
              "id": "sasportal.customers.nodes.move",
              "path": "v1alpha1/{+name}:move",
              "parameterOrder": [
                "name"
              ],
              "request": {
                "$ref": "SasPortalMoveNodeRequest"
              }
            },
            "get": {
              "parameterOrder": [
                "name"
              ],
              "path": "v1alpha1/{+name}",
              "parameters": {
                "name": {
                  "location": "path",
                  "description": "Required. The name of the node.",
                  "required": true,
                  "type": "string",
                  "pattern": "^customers/[^/]+/nodes/[^/]+$"
                }
              },
              "id": "sasportal.customers.nodes.get",
              "httpMethod": "GET",
              "description": "Returns a requested node.",
              "flatPath": "v1alpha1/customers/{customersId}/nodes/{nodesId}",
              "response": {
                "$ref": "SasPortalNode"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/sasportal"
              ]
            },
            "list": {
              "id": "sasportal.customers.nodes.list",
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/sasportal"
              ],
              "flatPath": "v1alpha1/customers/{customersId}/nodes",
              "path": "v1alpha1/{+parent}/nodes",
              "description": "Lists nodes.",
              "parameterOrder": [
                "parent"
              ],
              "parameters": {
                "pageSize": {
                  "description": "The maximum number of nodes to return in the response.",
                  "format": "int32",
                  "location": "query",
                  "type": "integer"
                },
                "pageToken": {
                  "description": "A pagination token returned from a previous call to ListNodes that indicates where this listing should continue from.",
                  "type": "string",
                  "location": "query"
                },
                "parent": {
                  "description": "Required. The parent resource name, for example, \"nodes/1\".",
                  "required": true,
                  "pattern": "^customers/[^/]+$",
                  "type": "string",
                  "location": "path"
                },
                "filter": {
                  "description": "The filter expression. The filter should have the following format: \"DIRECT_CHILDREN\" or format: \"direct_children\". The filter is case insensitive. If empty, then no nodes are filtered.",
                  "type": "string",
                  "location": "query"
                }
              },
              "response": {
                "$ref": "SasPortalListNodesResponse"
              }
            },
            "create": {
              "path": "v1alpha1/{+parent}/nodes",
              "response": {
                "$ref": "SasPortalNode"
              },
              "parameters": {
                "parent": {
                  "description": "Required. The parent resource name where the node is to be created.",
                  "pattern": "^customers/[^/]+$",
                  "required": true,
                  "type": "string",
                  "location": "path"
                }
              },
              "id": "sasportal.customers.nodes.create",
              "flatPath": "v1alpha1/customers/{customersId}/nodes",
              "description": "Creates a new node.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/sasportal"
              ],
              "parameterOrder": [
                "parent"
              ],
              "httpMethod": "POST",
              "request": {
                "$ref": "SasPortalNode"
              }
            }
          }
        }
      },
      "methods": {
        "patch": {
          "parameterOrder": [
            "name"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sasportal"
          ],
          "response": {
            "$ref": "SasPortalCustomer"
          },
          "parameters": {
            "updateMask": {
              "format": "google-fieldmask",
              "description": "Fields to be updated.",
              "location": "query",
              "type": "string"
            },
            "name": {
              "description": "Output only. Resource name of the customer.",
              "required": true,
              "pattern": "^customers/[^/]+$",
              "type": "string",
              "location": "path"
            }
          },
          "path": "v1alpha1/{+name}",
          "flatPath": "v1alpha1/customers/{customersId}",
          "description": "Updates an existing customer.",
          "httpMethod": "PATCH",
          "request": {
            "$ref": "SasPortalCustomer"
          },
          "id": "sasportal.customers.patch"
        },
        "setupSasAnalytics": {
          "path": "v1alpha1/customers:setupSasAnalytics",
          "httpMethod": "POST",
          "description": "Setups the a GCP Project to receive SAS Analytics messages via GCP Pub/Sub with a subscription to BigQuery. All the Pub/Sub topics and BigQuery tables are created automatically as part of this service.",
          "response": {
            "$ref": "SasPortalOperation"
          },
          "parameters": {},
          "parameterOrder": [],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sasportal"
          ],
          "id": "sasportal.customers.setupSasAnalytics",
          "flatPath": "v1alpha1/customers:setupSasAnalytics",
          "request": {
            "$ref": "SasPortalSetupSasAnalyticsRequest"
          }
        },
[...]
