{
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/script.projects": {
          "description": "Create and update Google Apps Script projects"
        },
        "https://www.googleapis.com/auth/admin.directory.user": {
          "description": "View and manage the provisioning of users on your domain"
        },
        "https://www.googleapis.com/auth/drive": {
          "description": "See, edit, create, and delete all of your Google Drive files"
        },
        "https://www.googleapis.com/auth/script.deployments": {
          "description": "Create and update Google Apps Script deployments"
        },
        "https://www.googleapis.com/auth/documents": {
          "description": "See, edit, create, and delete all your Google Docs documents"
        },
        "https://www.googleapis.com/auth/script.deployments.readonly": {
          "description": "View Google Apps Script deployments"
        },
        "https://www.googleapis.com/auth/admin.directory.group": {
          "description": "View and manage the provisioning of groups on your domain"
        },
        "https://www.googleapis.com/auth/forms": {
          "description": "View and manage your forms in Google Drive"
        },
        "https://www.googleapis.com/auth/spreadsheets": {
          "description": "See, edit, create, and delete all your Google Sheets spreadsheets"
        },
        "https://www.googleapis.com/auth/script.metrics": {
          "description": "View Google Apps Script project's metrics"
        },
        "https://www.googleapis.com/auth/script.processes": {
          "description": "View Google Apps Script processes"
        },
        "https://www.googleapis.com/auth/script.projects.readonly": {
          "description": "View Google Apps Script projects"
        },
        "https://www.google.com/m8/feeds": {
          "description": "See, edit, download, and permanently delete your contacts"
        },
        "https://mail.google.com/": {
          "description": "Read, compose, send, and permanently delete all your email from Gmail"
        },
        "https://www.googleapis.com/auth/groups": {
          "description": "View and manage your Google Groups"
        },
        "https://www.google.com/calendar/feeds": {
          "description": "See, edit, share, and permanently delete all the calendars you can access using Google Calendar"
        },
        "https://www.googleapis.com/auth/userinfo.email": {
          "description": "See your primary Google Account email address"
        },
        "https://www.googleapis.com/auth/forms.currentonly": {
          "description": "View and manage forms that this application has been installed in"
        }
      }
    }
  },
  "version": "v1",
  "description": "Manages and executes Google Apps Script projects. ",
  "documentationLink": "https://developers.google.com/apps-script/api/",
  "name": "script",
  "batchPath": "batch",
  "rootUrl": "https://script.googleapis.com/",
  "protocol": "rest",
  "parameters": {
    "callback": {
      "type": "string",
      "location": "query",
      "description": "JSONP"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "alt": {
      "default": "json",
      "location": "query",
      "type": "string",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "description": "Data format for response."
    },
    "fields": {
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string"
    },
    "oauth_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth 2.0 token for the current user."
    },
    "$.xgafv": {
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format.",
      "type": "string",
      "enum": [
        "1",
        "2"
      ],
      "location": "query"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "access_token": {
      "description": "OAuth access token.",
      "type": "string",
      "location": "query"
    },
    "prettyPrint": {
      "default": "true",
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "location": "query"
    },
    "quotaUser": {
      "location": "query",
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    }
  },
  "fullyEncodeReservedExpansion": true,
  "mtlsRootUrl": "https://script.mtls.googleapis.com/",
  "discoveryVersion": "v1",
  "title": "Apps Script API",
  "baseUrl": "https://script.googleapis.com/",
  "id": "script:v1",
  "ownerName": "Google",
  "servicePath": "",
  "kind": "discovery#restDescription",
  "revision": "20260906",
  "canonicalName": "Script",
  "resources": {
    "scripts": {
      "methods": {
        "run": {
          "parameterOrder": [
            "scriptId"
          ],
          "parameters": {
            "scriptId": {
              "description": "The script ID of the script to be executed. Find the script ID on the **Project settings** page under \"IDs.\" As multiple executable APIs can be deployed in new IDE for same script, this field should be populated with DeploymentID generated while deploying in new IDE instead of script ID.",
              "type": "string",
              "location": "path",
              "required": true
            }
          },
          "flatPath": "v1/scripts/{scriptId}:run",
          "scopes": [
            "https://mail.google.com/",
            "https://www.google.com/calendar/feeds",
            "https://www.google.com/m8/feeds",
            "https://www.googleapis.com/auth/admin.directory.group",
            "https://www.googleapis.com/auth/admin.directory.user",
            "https://www.googleapis.com/auth/documents",
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/forms",
            "https://www.googleapis.com/auth/forms.currentonly",
            "https://www.googleapis.com/auth/groups",
            "https://www.googleapis.com/auth/spreadsheets",
            "https://www.googleapis.com/auth/userinfo.email"
          ],
          "httpMethod": "POST",
          "id": "script.scripts.run",
          "path": "v1/scripts/{scriptId}:run",
          "description": "",
          "request": {
            "$ref": "ExecutionRequest"
          },
          "response": {
            "$ref": "Operation"
          }
        }
      }
    },
    "projects": {
      "resources": {
        "deployments": {
          "methods": {
            "update": {
              "request": {
                "$ref": "UpdateDeploymentRequest"
              },
              "response": {
                "$ref": "Deployment"
              },
              "path": "v1/projects/{scriptId}/deployments/{deploymentId}",
              "description": "Updates a deployment of an Apps Script project.",
              "scopes": [
                "https://www.googleapis.com/auth/script.deployments"
              ],
              "id": "script.projects.deployments.update",
              "parameterOrder": [
                "scriptId",
                "deploymentId"
              ],
              "flatPath": "v1/projects/{scriptId}/deployments/{deploymentId}",
              "parameters": {
                "deploymentId": {
                  "type": "string",
                  "description": "The deployment ID for this deployment.",
                  "required": true,
                  "location": "path"
                },
                "scriptId": {
                  "location": "path",
                  "required": true,
                  "description": "The script project's Drive ID.",
                  "type": "string"
                }
              },
              "httpMethod": "PUT"
            },
            "get": {
              "flatPath": "v1/projects/{scriptId}/deployments/{deploymentId}",
              "scopes": [
                "https://www.googleapis.com/auth/script.deployments",
                "https://www.googleapis.com/auth/script.deployments.readonly"
              ],
              "path": "v1/projects/{scriptId}/deployments/{deploymentId}",
              "httpMethod": "GET",
              "description": "Gets a deployment of an Apps Script project.",
              "parameters": {
                "deploymentId": {
                  "description": "The deployment ID.",
                  "type": "string",
                  "location": "path",
                  "required": true
                },
                "scriptId": {
                  "description": "The script project's Drive ID.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "id": "script.projects.deployments.get",
              "parameterOrder": [
                "scriptId",
                "deploymentId"
              ],
              "response": {
                "$ref": "Deployment"
              }
            },
            "list": {
              "parameterOrder": [
                "scriptId"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/script.deployments",
                "https://www.googleapis.com/auth/script.deployments.readonly"
              ],
              "parameters": {
                "scriptId": {
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "description": "The script project's Drive ID."
                },
                "pageSize": {
                  "description": "The maximum number of deployments on each returned page. Defaults to 50.",
                  "location": "query",
                  "type": "integer",
                  "format": "int32"
                },
                "pageToken": {
                  "location": "query",
                  "description": "The token for continuing a previous list request on the next page. This should be set to the value of `nextPageToken` from a previous response.",
                  "type": "string"
                }
              },
              "httpMethod": "GET",
              "description": "Lists the deployments of an Apps Script project.",
              "id": "script.projects.deployments.list",
              "flatPath": "v1/projects/{scriptId}/deployments",
              "path": "v1/projects/{scriptId}/deployments",
              "response": {
                "$ref": "ListDeploymentsResponse"
              }
            },
            "delete": {
              "parameters": {
                "scriptId": {
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "description": "The script project's Drive ID."
                },
                "deploymentId": {
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "description": "The deployment ID to be undeployed."
                }
              },
              "httpMethod": "DELETE",
              "id": "script.projects.deployments.delete",
              "response": {
                "$ref": "Empty"
              },
              "scopes": [
                "https://www.googleapis.com/auth/script.deployments"
              ],
              "description": "Deletes a deployment of an Apps Script project.",
              "parameterOrder": [
                "scriptId",
                "deploymentId"
              ],
              "path": "v1/projects/{scriptId}/deployments/{deploymentId}",
              "flatPath": "v1/projects/{scriptId}/deployments/{deploymentId}"
            },
            "create": {
              "parameters": {
                "scriptId": {
                  "required": true,
                  "type": "string",
                  "description": "The script project's Drive ID.",
                  "location": "path"
                }
              },
              "httpMethod": "POST",
              "parameterOrder": [
                "scriptId"
              ],
              "path": "v1/projects/{scriptId}/deployments",
              "response": {
                "$ref": "Deployment"
              },
              "scopes": [
                "https://www.googleapis.com/auth/script.deployments"
              ],
              "description": "Creates a deployment of an Apps Script project.",
              "flatPath": "v1/projects/{scriptId}/deployments",
              "id": "script.projects.deployments.create",
              "request": {
                "$ref": "DeploymentConfig"
              }
            }
          }
        },
        "versions": {
          "methods": {
            "get": {
              "path": "v1/projects/{scriptId}/versions/{versionNumber}",
              "id": "script.projects.versions.get",
              "flatPath": "v1/projects/{scriptId}/versions/{versionNumber}",
              "scopes": [
                "https://www.googleapis.com/auth/script.projects",
                "https://www.googleapis.com/auth/script.projects.readonly"
              ],
              "response": {
                "$ref": "Version"
              },
              "httpMethod": "GET",
              "parameters": {
                "scriptId": {
                  "description": "The script project's Drive ID.",
                  "required": true,
                  "location": "path",
                  "type": "string"
                },
                "versionNumber": {
                  "type": "integer",
                  "required": true,
                  "format": "int32",
                  "description": "The version number.",
                  "location": "path"
                }
              },
              "parameterOrder": [
                "scriptId",
                "versionNumber"
              ],
              "description": "Gets a version of a script project."
            },
            "create": {
              "scopes": [
                "https://www.googleapis.com/auth/script.projects"
              ],
              "description": "Creates a new immutable version using the current code, with a unique version number.",
              "id": "script.projects.versions.create",
              "path": "v1/projects/{scriptId}/versions",
              "response": {
                "$ref": "Version"
              },
              "parameters": {
                "scriptId": {
                  "required": true,
                  "description": "The script project's Drive ID.",
                  "location": "path",
                  "type": "string"
                }
              },
              "httpMethod": "POST",
              "parameterOrder": [
                "scriptId"
              ],
              "request": {
                "$ref": "Version"
              },
              "flatPath": "v1/projects/{scriptId}/versions"
            },
            "list": {
              "parameterOrder": [
                "scriptId"
              ],
              "parameters": {
                "pageToken": {
                  "location": "query",
                  "description": "The token for continuing a previous list request on the next page. This should be set to the value of `nextPageToken` from a previous response.",
                  "type": "string"
                },
                "scriptId": {
                  "location": "path",
                  "description": "The script project's Drive ID.",
                  "required": true,
                  "type": "string"
                },
                "pageSize": {
                  "location": "query",
                  "description": "The maximum number of versions on each returned page. Defaults to 50.",
                  "type": "integer",
                  "format": "int32"
                }
              },
              "httpMethod": "GET",
              "description": "List the versions of a script project.",
              "id": "script.projects.versions.list",
              "response": {
                "$ref": "ListVersionsResponse"
              },
              "path": "v1/projects/{scriptId}/versions",
              "scopes": [
                "https://www.googleapis.com/auth/script.projects",
                "https://www.googleapis.com/auth/script.projects.readonly"
              ],
              "flatPath": "v1/projects/{scriptId}/versions"
            }
          }
        }
      },
      "methods": {
        "get": {
          "httpMethod": "GET",
          "parameters": {
            "scriptId": {
              "description": "The script project's Drive ID.",
              "required": true,
              "location": "path",
              "type": "string"
            }
          },
          "response": {
            "$ref": "Project"
          },
          "description": "Gets a script project's metadata.",
          "parameterOrder": [
            "scriptId"
          ],
          "id": "script.projects.get",
          "path": "v1/projects/{scriptId}",
          "flatPath": "v1/projects/{scriptId}",
          "scopes": [
            "https://www.googleapis.com/auth/script.projects",
            "https://www.googleapis.com/auth/script.projects.readonly"
          ]
        },
        "create": {
          "request": {
            "$ref": "CreateProjectRequest"
          },
          "flatPath": "v1/projects",
          "path": "v1/projects",
          "parameterOrder": [],
          "id": "script.projects.create",
          "scopes": [
            "https://www.googleapis.com/auth/script.projects"
          ],
          "description": "Creates a new, empty script project with no script files and a base manifest file.",
          "parameters": {},
          "response": {
            "$ref": "Project"
          },
          "httpMethod": "POST"
        },
        "getContent": {
          "parameterOrder": [
            "scriptId"
          ],
          "response": {
            "$ref": "Content"
          },
          "path": "v1/projects/{scriptId}/content",
          "description": "Gets the content of the script project, including the code source and metadata for each script file.",
          "httpMethod": "GET",
          "parameters": {
            "scriptId": {
              "type": "string",
              "description": "The script project's Drive ID.",
              "required": true,
              "location": "path"
            },
            "versionNumber": {
              "description": "The version number of the project to retrieve. If not provided, the project's HEAD version is returned.",
              "format": "int32",
              "type": "integer",
              "location": "query"
            }
          },
          "flatPath": "v1/projects/{scriptId}/content",
          "id": "script.projects.getContent",
          "scopes": [
            "https://www.googleapis.com/auth/script.projects",
            "https://www.googleapis.com/auth/script.projects.readonly"
          ]
        },
        "getMetrics": {
          "response": {
            "$ref": "Metrics"
          },
          "id": "script.projects.getMetrics",
          "path": "v1/projects/{scriptId}/metrics",
          "parameterOrder": [
            "scriptId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/script.metrics"
          ],
          "flatPath": "v1/projects/{scriptId}/metrics",
          "parameters": {
            "metricsGranularity": {
              "enumDescriptions": [
                "Default metric granularity used to query no metrics.",
                "Represents weekly metrics.",
                "Represents daily metrics over a period of 7 days."
              ],
              "enum": [
                "UNSPECIFIED_GRANULARITY",
                "WEEKLY",
                "DAILY"
              ],
              "location": "query",
              "type": "string",
              "description": "Required field indicating what granularity of metrics are returned."
            },
            "metricsFilter.deploymentId": {
              "location": "query",
              "description": "Optional field indicating a specific deployment to retrieve metrics from.",
              "type": "string"
            },
            "scriptId": {
              "description": "Required field indicating the script to get metrics for.",
              "type": "string",
              "location": "path",
              "required": true
            }
          },
          "httpMethod": "GET",
          "description": "Get metrics data for scripts, such as number of executions and active users."
        },
        "updateContent": {
          "flatPath": "v1/projects/{scriptId}/content",
          "request": {
            "$ref": "Content"
          },
          "description": "Updates the content of the specified script project. This content is stored as the HEAD version, and is used when the script is executed as a trigger, in the script editor, in add-on preview mode, or as a web app or Apps Script API in development mode. This clears all the existing files in the project.",
          "scopes": [
            "https://www.googleapis.com/auth/script.projects"
          ],
          "parameters": {
            "scriptId": {
              "location": "path",
              "description": "The script project's Drive ID.",
              "required": true,
              "type": "string"
            }
          },
          "httpMethod": "PUT",
          "response": {
            "$ref": "Content"
          },
          "path": "v1/projects/{scriptId}/content",
          "id": "script.projects.updateContent",
          "parameterOrder": [
            "scriptId"
          ]
        }
      }
    },
    "processes": {
      "methods": {
        "list": {
          "flatPath": "v1/processes",
          "scopes": [
            "https://www.googleapis.com/auth/script.processes"
          ],
          "description": "List information about processes made by or on behalf of a user, such as process type and current status.",
          "parameters": {
            "userProcessFilter.statuses": {
              "enum": [
                "PROCESS_STATUS_UNSPECIFIED",
                "RUNNING",
                "PAUSED",
                "COMPLETED",
                "CANCELED",
                "FAILED",
                "TIMED_OUT",
                "UNKNOWN",
                "DELAYED",
                "EXECUTION_DISABLED"
              ],
              "enumDescriptions": [
                "Unspecified status.",
                "The process is currently running.",
                "The process has paused.",
                "The process has completed.",
                "The process was cancelled.",
                "The process failed.",
                "The process timed out.",
                "Process status unknown.",
                "The process is delayed, waiting for quota.",
                "AppsScript executions are disabled by Admin."
              ],
              "location": "query",
              "description": "Optional field used to limit returned processes to those having one of the specified process statuses.",
              "repeated": true,
              "type": "string"
            },
            "userProcessFilter.startTime": {
              "location": "query",
              "type": "string",
              "description": "Optional field used to limit returned processes to those that were started on or after the given timestamp.",
              "format": "google-datetime"
            },
            "pageToken": {
              "location": "query",
              "type": "string",
              "description": "The token for continuing a previous list request on the next page. This should be set to the value of `nextPageToken` from a previous response."
            },
            "pageSize": {
              "format": "int32",
              "type": "integer",
              "description": "The maximum number of returned processes per page of results. Defaults to 50.",
              "location": "query"
            },
            "userProcessFilter.functionName": {
              "type": "string",
              "location": "query",
              "description": "Optional field used to limit returned processes to those originating from a script function with the given function name."
            },
            "userProcessFilter.deploymentId": {
              "location": "query",
              "type": "string",
              "description": "Optional field used to limit returned processes to those originating from projects with a specific deployment ID."
            },
            "userProcessFilter.scriptId": {
              "description": "Optional field used to limit returned processes to those originating from projects with a specific script ID.",
              "location": "query",
              "type": "string"
            },
            "userProcessFilter.projectName": {
              "type": "string",
              "description": "Optional field used to limit returned processes to those originating from projects with project names containing a specific string.",
              "location": "query"
            },
            "userProcessFilter.endTime": {
              "format": "google-datetime",
              "description": "Optional field used to limit returned processes to those that completed on or before the given timestamp.",
              "type": "string",
              "location": "query"
            },
            "userProcessFilter.types": {
              "repeated": true,
              "type": "string",
              "enumDescriptions": [
                "Unspecified type.",
                "The process was started from an add-on entry point.",
                "The process was started using the Apps Script API.",
                "The process was started from a time-based trigger.",
                "The process was started from an event-based trigger.",
                "The process was started from a web app entry point.",
                "The process was started using the Apps Script IDE.",
                "The process was started from a G Suite simple trigger.",
                "The process was started from a G Suite menu item.",
                "The process was started as a task in a batch job."
              ],
              "location": "query",
              "description": "Optional field used to limit returned processes to those having one of the specified process types.",
              "enum": [
                "PROCESS_TYPE_UNSPECIFIED",
                "ADD_ON",
                "EXECUTION_API",
                "TIME_DRIVEN",
                "TRIGGER",
                "WEBAPP",
                "EDITOR",
                "SIMPLE_TRIGGER",
                "MENU",
                "BATCH_TASK"
              ]
            },
            "userProcessFilter.userAccessLevels": {
              "type": "string",
              "location": "query",
              "description": "Optional field used to limit returned processes to those having one of the specified user access levels.",
              "repeated": true,
              "enum": [
                "USER_ACCESS_LEVEL_UNSPECIFIED",
                "NONE",
                "READ",
                "WRITE",
                "OWNER"
              ],
              "enumDescriptions": [
                "User access level unspecified",
                "The user has no access.",
                "The user has read-only access.",
                "The user has write access.",
                "The user is an owner."
              ]
            }
          },
          "httpMethod": "GET",
          "id": "script.processes.list",
          "response": {
            "$ref": "ListUserProcessesResponse"
          },
          "path": "v1/processes",
          "parameterOrder": []
        },
        "listScriptProcesses": {
          "parameterOrder": [],
          "flatPath": "v1/processes:listScriptProcesses",
          "id": "script.processes.listScriptProcesses",
          "scopes": [
            "https://www.googleapis.com/auth/script.processes"
          ],
          "path": "v1/processes:listScriptProcesses",
          "response": {
            "$ref": "ListScriptProcessesResponse"
          },
          "httpMethod": "GET",
          "parameters": {
            "pageToken": {
              "description": "The token for continuing a previous list request on the next page. This should be set to the value of `nextPageToken` from a previous response.",
              "type": "string",
              "location": "query"
            },
            "scriptProcessFilter.statuses": {
              "location": "query",
              "type": "string",
              "description": "Optional field used to limit returned processes to those having one of the specified process statuses.",
              "repeated": true,
              "enum": [
                "PROCESS_STATUS_UNSPECIFIED",
                "RUNNING",
                "PAUSED",
                "COMPLETED",
                "CANCELED",
                "FAILED",
                "TIMED_OUT",
                "UNKNOWN",
                "DELAYED",
                "EXECUTION_DISABLED"
              ],
              "enumDescriptions": [
                "Unspecified status.",
                "The process is currently running.",
                "The process has paused.",
                "The process has completed.",
                "The process was cancelled.",
                "The process failed.",
                "The process timed out.",
                "Process status unknown.",
                "The process is delayed, waiting for quota.",
                "AppsScript executions are disabled by Admin."
              ]
            },
            "scriptProcessFilter.deploymentId": {
              "description": "Optional field used to limit returned processes to those originating from projects with a specific deployment ID.",
              "type": "string",
              "location": "query"
            },
            "scriptProcessFilter.startTime": {
              "location": "query",
              "type": "string",
              "description": "Optional field used to limit returned processes to those that were started on or after the given timestamp.",
              "format": "google-datetime"
            },
            "pageSize": {
              "description": "The maximum number of returned processes per page of results. Defaults to 50.",
              "location": "query",
              "format": "int32",
              "type": "integer"
            },
            "scriptId": {
              "description": "The script ID of the project whose processes are listed.",
              "location": "query",
              "type": "string"
            },
            "scriptProcessFilter.userAccessLevels": {
              "enum": [
                "USER_ACCESS_LEVEL_UNSPECIFIED",
                "NONE",
                "READ",
                "WRITE",
                "OWNER"
              ],
              "repeated": true,
              "description": "Optional field used to limit returned processes to those having one of the specified user access levels.",
              "enumDescriptions": [
                "User access level unspecified",
                "The user has no access.",
                "The user has read-only access.",
                "The user has write access.",
                "The user is an owner."
              ],
              "location": "query",
              "type": "string"
            },
            "scriptProcessFilter.functionName": {
              "type": "string",
              "description": "Optional field used to limit returned processes to those originating from a script function with the given function name.",
              "location": "query"
            },
            "scriptProcessFilter.endTime": {
              "description": "Optional field used to limit returned processes to those that completed on or before the given timestamp.",
              "format": "google-datetime",
              "location": "query",
              "type": "string"
            },
            "scriptProcessFilter.types": {
              "type": "string",
              "repeated": true,
              "enum": [
                "PROCESS_TYPE_UNSPECIFIED",
                "ADD_ON",
                "EXECUTION_API",
                "TIME_DRIVEN",
                "TRIGGER",
                "WEBAPP",
                "EDITOR",
                "SIMPLE_TRIGGER",
                "MENU",
                "BATCH_TASK"
              ],
              "description": "Optional field used to limit returned processes to those having one of the specified process types.",
              "enumDescriptions": [
                "Unspecified type.",
                "The process was started from an add-on entry point.",
                "The process was started using the Apps Script API.",
                "The process was started from a time-based trigger.",
                "The process was started from an event-based trigger.",
                "The process was started from a web app entry point.",
                "The process was started using the Apps Script IDE.",
                "The process was started from a G Suite simple trigger.",
                "The process was started from a G Suite menu item.",
                "The process was started as a task in a batch job."
              ],
              "location": "query"
            }
          },
          "description": "List information about a script's executed processes, such as process type and current status."
        }
      }
    }
  },
  "schemas": {
    "Empty": {
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "properties": {},
      "id": "Empty",
      "type": "object"
    },
    "ScriptStackTraceElement": {
      "type": "object",
      "id": "ScriptStackTraceElement",
      "description": "A stack trace through the script that shows where the execution failed.",
      "properties": {
        "function": {
          "description": "The name of the function that failed.",
          "type": "string"
        },
        "lineNumber": {
          "format": "int32",
          "type": "integer",
          "description": "The line number where the script failed."
        }
      }
    },
    "GoogleAppsScriptTypeProcess": {
      "id": "GoogleAppsScriptTypeProcess",
      "type": "object",
      "properties": {
        "runtimeVersion": {
          "enum": [
            "RUNTIME_VERSION_UNSPECIFIED",
            "DEPRECATED_ES5",
            "V8"
          ],
          "description": "Which version of maestro to use to execute the script.",
          "enumDescriptions": [
            "Runtime version unset / unknown.",
            "Legacy rhino version of the Apps script runtime",
            "Current default V8 version of the apps script runtime."
          ],
          "type": "string"
        },
        "functionName": {
          "type": "string",
          "description": "Name of the function the started the execution."
        },
        "processType": {
          "enum": [
            "PROCESS_TYPE_UNSPECIFIED",
            "ADD_ON",
            "EXECUTION_API",
            "TIME_DRIVEN",
            "TRIGGER",
            "WEBAPP",
            "EDITOR",
            "SIMPLE_TRIGGER",
            "MENU",
            "BATCH_TASK"
          ],
          "enumDescriptions": [
            "Unspecified type.",
            "The process was started from an add-on entry point.",
            "The process was started using the Apps Script API.",
            "The process was started from a time-based trigger.",
            "The process was started from an event-based trigger.",
            "The process was started from a web app entry point.",
            "The process was started using the Apps Script IDE.",
            "The process was started from a G Suite simple trigger.",
            "The process was started from a G Suite menu item.",
            "The process was started as a task in a batch job."
          ],
          "type": "string",
          "description": "The executions type."
        },
        "projectName": {
          "description": "Name of the script being executed.",
          "type": "string"
        },
        "processStatus": {
          "enumDescriptions": [
            "Unspecified status.",
            "The process is currently running.",
            "The process has paused.",
            "The process has completed.",
            "The process was cancelled.",
            "The process failed.",
            "The process timed out.",
            "Process status unknown.",
            "The process is delayed, waiting for quota.",
            "AppsScript executions are disabled by Admin."
          ],
          "type": "string",
          "description": "The executions status.",
          "enum": [
            "PROCESS_STATUS_UNSPECIFIED",
            "RUNNING",
            "PAUSED",
            "COMPLETED",
            "CANCELED",
            "FAILED",
            "TIMED_OUT",
            "UNKNOWN",
            "DELAYED",
            "EXECUTION_DISABLED"
          ]
        },
        "userAccessLevel": {
          "enum": [
            "USER_ACCESS_LEVEL_UNSPECIFIED",
            "NONE",
            "READ",
            "WRITE",
            "OWNER"
          ],
          "type": "string",
          "enumDescriptions": [
            "User access level unspecified",
            "The user has no access.",
            "The user has read-only access.",
            "The user has write access.",
            "The user is an owner."
          ],
          "description": "The executing users access level to the script."
        },
        "duration": {
          "description": "Duration the execution spent executing.",
          "format": "google-duration",
          "type": "string"
        },
        "startTime": {
          "description": "Time the execution started.",
          "type": "string",
          "format": "google-datetime"
        }
      },
      "description": "Representation of a single script process execution that was started from the script editor, a trigger, an application, or using the Apps Script API. This is distinct from the `Operation` resource, which only represents executions started via the Apps Script API."
    },
    "ListScriptProcessesResponse": {
      "description": "Response with the list of Process resources.",
      "properties": {
        "nextPageToken": {
          "description": "Token for the next page of results. If empty, there are no more pages remaining.",
          "type": "string"
        },
        "processes": {
          "type": "array",
          "items": {
            "$ref": "GoogleAppsScriptTypeProcess"
          },
          "description": "List of processes matching request parameters."
        }
      },
      "id": "ListScriptProcessesResponse",
      "type": "object"
    },
    "GoogleAppsScriptTypeFunctionSet": {
      "id": "GoogleAppsScriptTypeFunctionSet",
      "description": "A set of functions. No duplicates are permitted.",
      "type": "object",
      "properties": {
        "values": {
          "type": "array",
          "description": "A list of functions composing the set.",
          "items": {
            "$ref": "GoogleAppsScriptTypeFunction"
          }
        }
      }
    },
    "Version": {
      "id": "Version",
      "properties": {
        "scriptId": {
          "description": "The script project's Drive ID.",
          "type": "string"
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "When the version was created."
        },
        "versionNumber": {
          "description": "The incremental ID that is created by Apps Script when a version is created. This is system assigned number and is immutable once created.",
          "format": "int32",
          "type": "integer"
        },
        "description": {
          "description": "The description for this version.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "A resource representing a script project version. A version is a \"snapshot\" of a script project and is similar to a read-only branched release. When creating deployments, the version to use must be specified."
    },
    "GoogleAppsScriptTypeWebAppConfig": {
      "description": "Web app entry point configuration.",
      "id": "GoogleAppsScriptTypeWebAppConfig",
      "properties": {
        "executeAs": {
          "enumDescriptions": [
            "Default value, should not be used.",
            "The script runs as the user accessing the web app.",
            "The script runs as the user who deployed the web app. Note that this is not necessarily the owner of the script project."
          ],
          "enum": [
            "UNKNOWN_EXECUTE_AS",
            "USER_ACCESSING",
            "USER_DEPLOYING"
          ],
          "type": "string",
          "description": "Who to execute the web app as."
        },
        "access": {
          "type": "string",
          "description": "Who has permission to run the web app.",
          "enum": [
            "UNKNOWN_ACCESS",
            "MYSELF",
            "DOMAIN",
            "ANYONE",
            "ANYONE_ANONYMOUS"
          ],
          "enumDescriptions": [
            "Default value, should not be used.",
            "Only the user who deployed the web app or executable can access it. Note that this is not necessarily the owner of the script project.",
            "Only users in the same domain as the user who deployed the web app or executable can access it.",
            "Any logged in user can access the web app or executable.",
            "Any user, logged in or not, can access the web app or executable."
          ]
        }
      },
      "type": "object"
    },
    "ExecutionRequest": {
      "properties": {
        "sessionState": {
          "type": "string",
          "description": "*Deprecated*. For use with Android add-ons only. An ID that represents the user's current session in the Android app for Google Docs or Sheets, included as extra data in the [Intent](https://developer.android.com/guide/components/intents-filters.html) that launches the add-on. When an Android add-on is run with a session state, it gains the privileges of a [bound](https://developers.google.com/apps-script/guides/bound) script—that is, it can access information like the user's current cursor position (in Docs) or selected cell (in Sheets). To retrieve the state, call `Intent.getStringExtra(\"com.google.android.apps.docs.addons.SessionState\")`. Optional."
        },
        "function": {
          "description": "The name of the function to execute in the given script. The name does not include parentheses or parameters. It can reference a function in an included library such as `Library.libFunction1`.",
          "type": "string"
        },
        "devMode": {
          "description": "If `true` and the user is an owner of the script, the script runs at the most recently saved version rather than the version deployed for use with the Apps Script API. Optional; default is `false`.",
          "type": "boolean"
        },
        "parameters": {
          "description": "The parameters to be passed to the function being executed. The object type for each parameter should match the expected type in Apps Script. Parameters cannot be Apps Script-specific object types (such as a `Document` or a `Calendar`); they can only be primitive types such as `string`, `number`, `array`, `object`, or `boolean`. Optional.",
          "type": "array",
          "items": {
            "type": "any"
          }
        }
      },
      "description": "A request to run the function in a script. The script is identified by the specified `script_id`. Executing a function on a script returns results based on the implementation of the script.",
      "id": "ExecutionRequest",
      "type": "object"
    },
    "EntryPoint": {
      "description": "A configuration that defines how a deployment is accessed externally.",
      "id": "EntryPoint",
      "type": "object",
      "properties": {
        "webApp": {
          "description": "An entry point specification for web apps.",
          "$ref": "GoogleAppsScriptTypeWebAppEntryPoint"
        },
        "executionApi": {
          "description": "An entry point specification for Apps Script API execution calls.",
          "$ref": "GoogleAppsScriptTypeExecutionApiEntryPoint"
        },
        "addOn": {
          "description": "Add-on properties.",
          "$ref": "GoogleAppsScriptTypeAddOnEntryPoint"
        },
        "entryPointType": {
          "enum": [
            "ENTRY_POINT_TYPE_UNSPECIFIED",
            "WEB_APP",
            "EXECUTION_API",
            "ADD_ON"
          ],
          "type": "string",
          "enumDescriptions": [
            "An unspecified entry point.",
            "A web application entry point.",
            "An API executable entry point.",
            "An Add-On entry point."
          ],
          "description": "The type of the entry point."
        }
      }
    },
    "MetricsValue": {
      "id": "MetricsValue",
      "type": "object",
      "properties": {
        "startTime": {
          "description": "Required field indicating the start time of the interval.",
          "type": "string",
          "format": "google-datetime"
        },
        "endTime": {
          "type": "string",
          "description": "Required field indicating the end time of the interval.",
          "format": "google-datetime"
        },
        "value": {
          "description": "Indicates the number of executions counted.",
          "type": "string",
          "format": "uint64"
        }
      },
      "description": "Metrics value that holds number of executions counted."
    },
    "CreateProjectRequest": {
      "description": "Request to create a script project.",
      "id": "CreateProjectRequest",
      "properties": {
        "title": {
          "description": "The title for the project.",
          "type": "string"
        },
        "parentId": {
          "description": "The Drive ID of a parent file that the created script project is bound to. This is usually the ID of a Google Doc, Google Sheet, Google Form, or Google Slides file. If not set, a standalone script project is created.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleAppsScriptTypeExecutionApiEntryPoint": {
      "id": "GoogleAppsScriptTypeExecutionApiEntryPoint",
      "description": "An API executable entry point.",
      "type": "object",
      "properties": {
        "entryPointConfig": {
          "description": "The entry point's configuration.",
          "$ref": "GoogleAppsScriptTypeExecutionApiConfig"
        }
      }
    },
    "GoogleAppsScriptTypeUser": {
      "properties": {
        "name": {
          "description": "The user's display name.",
          "type": "string"
        },
        "domain": {
          "type": "string",
          "description": "The user's domain."
        },
        "email": {
          "description": "The user's identifying email address.",
          "type": "string"
        },
        "photoUrl": {
          "description": "The user's photo.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "A simple user profile resource.",
      "id": "GoogleAppsScriptTypeUser"
    },
    "ExecutionResponse": {
      "properties": {
        "result": {
          "description": "The return value of the script function. The type matches the object type returned in Apps Script. Functions called using the Apps Script API cannot return Apps Script-specific objects (such as a `Document` or a `Calendar`); they can only return primitive types such as a `string`, `number`, `array`, `object`, or `boolean`.",
          "type": "any"
        }
      },
      "description": "An object that provides the return value of a function executed using the Apps Script API. If the script function returns successfully, the response body's response field contains this `ExecutionResponse` object.",
      "id": "ExecutionResponse",
      "type": "object"
    },
    "ListUserProcessesResponse": {
      "description": "Response with the list of Process resources.",
      "type": "object",
      "properties": {
        "processes": {
          "type": "array",
          "description": "List of processes matching request parameters.",
          "items": {
            "$ref": "GoogleAppsScriptTypeProcess"
          }
        },
        "nextPageToken": {
          "description": "Token for the next page of results. If empty, there are no more pages remaining.",
          "type": "string"
        }
      },
      "id": "ListUserProcessesResponse"
    },
    "GoogleAppsScriptTypeAddOnEntryPoint": {
      "id": "GoogleAppsScriptTypeAddOnEntryPoint",
      "properties": {
        "helpUrl": {
          "description": "The add-on's optional help URL.",
          "type": "string"
        },
        "description": {
          "description": "The add-on's optional description.",
          "type": "string"
        },
        "reportIssueUrl": {
          "description": "The add-on's optional report issue URL.",
          "type": "string"
        },
        "addOnType": {
          "enum": [
            "UNKNOWN_ADDON_TYPE",
            "GMAIL",
            "DATA_STUDIO"
          ],
          "type": "string",
          "enumDescriptions": [
            "Default value, unknown add-on type.",
            "Add-on type for Gmail.",
            "Add-on type for Data Studio."
          ],
          "description": "The add-on's required list of supported container types."
        },
        "postInstallTipUrl": {
          "description": "The add-on's required post install tip URL.",
          "type": "string"
        },
        "title": {
          "description": "The add-on's required title.",
          "type": "string"
        }
      },
      "description": "An add-on entry point.",
      "type": "object"
    },
    "GoogleAppsScriptTypeWebAppEntryPoint": {
      "properties": {
        "entryPointConfig": {
          "description": "The entry point's configuration.",
          "$ref": "GoogleAppsScriptTypeWebAppConfig"
        },
        "url": {
          "type": "string",
          "description": "The URL for the web application."
        }
      },
      "description": "A web application entry point.",
      "type": "object",
      "id": "GoogleAppsScriptTypeWebAppEntryPoint"
    },
    "ListDeploymentsResponse": {
      "id": "ListDeploymentsResponse",
      "description": "Response with the list of deployments for the specified Apps Script project.",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "The token that can be used in the next call to get the next page of results."
        },
        "deployments": {
          "items": {
            "$ref": "Deployment"
          },
          "type": "array",
          "description": "The list of deployments."
        }
      },
      "type": "object"
    },
    "Operation": {
      "properties": {
        "error": {
          "$ref": "Status",
          "description": "If a `run` call succeeds but the script function (or Apps Script itself) throws an exception, this field contains a Status object. The `Status` object's `details` field contains an array with a single ExecutionError object that provides information about the nature of the error."
        },
        "response": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "type": "object",
          "description": "If the script function returns successfully, this field contains an ExecutionResponse object with the function's return value."
        },
        "done": {
          "description": "This field indicates whether the script execution has completed. A completed execution has a populated `response` field containing the ExecutionResponse from function that was executed.",
          "type": "boolean"
        }
      },
      "type": "object",
      "id": "Operation",
      "description": "A representation of an execution of an Apps Script function started with run. The execution response does not arrive until the function finishes executing. The maximum execution runtime is listed in the [Apps Script quotas guide](/apps-script/guides/services/quotas#current_limitations). After execution has started, it can have one of four outcomes: - If the script function returns successfully, the response field contains an ExecutionResponse object with the function's return value in the object's `result` field. - If the script function (or Apps Script itself) throws an exception, the error field contains a Status object. The `Status` object's `details` field contains an array with a single ExecutionError object that provides information about the nature of the error. - If the execution has not yet completed, the done field is `false` and the neither the `response` nor `error` fields are present. - If the `run` call itself fails (for example, because of a malformed request or an authorization error), the method returns an HTTP response code in the 4XX range with a different format for the response body. Client libraries automatically convert a 4XX response into an exception class. "
    },
    "Status": {
      "description": "If a `run` call succeeds but the script function (or Apps Script itself) throws an exception, the response body's error field contains this `Status` object.",
      "type": "object",
      "properties": {
        "details": {
          "description": "An array that contains a single ExecutionError object that provides information about the nature of the error.",
          "items": {
            "additionalProperties": {
              "description": "Properties of the object. Contains field @type with type URL.",
              "type": "any"
            },
            "type": "object"
          },
          "type": "array"
        },
        "code": {
          "description": "The status code. For this API, this value either: - 10, indicating a `SCRIPT_TIMEOUT` error, - 3, indicating an `INVALID_ARGUMENT` error, or - 1, indicating a `CANCELLED` execution. ",
          "format": "int32",
          "type": "integer"
        },
        "message": {
          "description": "A developer-facing error message, which is in English. Any user-facing error message is localized and sent in the details field, or localized by the client.",
          "type": "string"
        }
      },
      "id": "Status"
    },
    "GoogleAppsScriptTypeFunction": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "The function name in the script project."
        },
        "parameters": {
          "description": "The ordered list of parameter names of the function in the script project.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "GoogleAppsScriptTypeFunction",
      "description": "Represents a function in a script project."
    },
    "UpdateDeploymentRequest": {
      "id": "UpdateDeploymentRequest",
      "type": "object",
      "description": "Request with deployment information to update an existing deployment.",
      "properties": {
        "deploymentConfig": {
          "description": "The deployment configuration.",
          "$ref": "DeploymentConfig"
        }
      }
    },
    "Metrics": {
      "id": "Metrics",
      "description": "Resource containing usage stats for a given script, based on the supplied filter and mask present in the request.",
      "properties": {
        "failedExecutions": {
          "description": "Number of failed executions.",
          "type": "array",
          "items": {
            "$ref": "MetricsValue"
          }
        },
        "totalExecutions": {
          "description": "Number of total executions.",
          "items": {
            "$ref": "MetricsValue"
          },
          "type": "array"
        },
        "activeUsers": {
          "items": {
            "$ref": "MetricsValue"
          },
          "type": "array",
          "description": "Number of active users."
        }
      },
      "type": "object"
    },
    "ExecutionError": {
      "properties": {
        "errorType": {
          "type": "string",
          "description": "The error type, for example `TypeError` or `ReferenceError`. If the error type is unavailable, this field is not included."
        },
        "errorMessage": {
          "type": "string",
          "description": "The error message thrown by Apps Script, usually localized into the user's language."
        },
        "scriptStackTraceElements": {
          "type": "array",
          "description": "An array of objects that provide a stack trace through the script to show where the execution failed, with the deepest call first.",
          "items": {
            "$ref": "ScriptStackTraceElement"
          }
        }
      },
      "id": "ExecutionError",
      "description": "An object that provides information about the nature of an error resulting from an attempted execution of a script function using the Apps Script API. If a run call succeeds but the script function (or Apps Script itself) throws an exception, the response body's error field contains a Status object. The `Status` object's `details` field contains an array with a single one of these `ExecutionError` objects.",
      "type": "object"
    },
    "Content": {
      "id": "Content",
      "properties": {
        "scriptId": {
          "description": "The script project's Drive ID.",
          "type": "string"
        },
        "files": {
          "type": "array",
          "description": "The list of script project files. One of the files is a script manifest; it must be named \"appsscript\", must have type of JSON, and include the manifest configurations for the project.",
          "items": {
            "$ref": "File"
          }
        }
      },
      "type": "object",
      "description": "The Content resource."
    },
    "Deployment": {
      "properties": {
        "entryPoints": {
          "items": {
            "$ref": "EntryPoint"
          },
          "description": "The deployment's entry points.",
          "type": "array"
        },
        "deploymentConfig": {
          "$ref": "DeploymentConfig",
          "description": "The deployment configuration."
        },
        "updateTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Last modified date time stamp."
        },
        "deploymentId": {
          "type": "string",
          "description": "The deployment ID for this deployment."
        }
      },
      "description": "Representation of a single script deployment.",
      "id": "Deployment",
      "type": "object"
    },
    "DeploymentConfig": {
      "description": "Metadata the defines how a deployment is configured.",
      "type": "object",
      "properties": {
        "versionNumber": {
          "type": "integer",
          "description": "The version number on which this deployment is based.",
          "format": "int32"
        },
        "scriptId": {
          "type": "string",
          "description": "The script project's Drive ID."
        },
        "description": {
          "type": "string",
          "description": "The description for this deployment."
        },
        "manifestFileName": {
          "type": "string",
          "description": "The manifest file name for this deployment."
        }
      },
      "id": "DeploymentConfig"
    },
    "File": {
      "description": "An individual file within a script project. A file is a third-party source code created by one or more developers. It can be a server-side JS code, HTML, or a configuration file. Each script project can contain multiple files.",
      "properties": {
        "updateTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Last modified date timestamp."
        },
        "name": {
          "description": "The name of the file. The file extension is not part of the file name, which can be identified from the type field.",
          "type": "string"
        },
        "type": {
          "enumDescriptions": [
            "Undetermined file type; never actually used.",
            "An Apps Script server-side code file.",
            "A file containing client-side HTML.",
            "A file in JSON format. This type is only used for the script project's manifest. The manifest file content must match the structure of a valid [ScriptManifest](/apps-script/concepts/manifests)"
          ],
          "type": "string",
          "description": "The type of the file.",
          "enum": [
            "ENUM_TYPE_UNSPECIFIED",
            "SERVER_JS",
            "HTML",
            "JSON"
          ]
        },
        "functionSet": {
          "$ref": "GoogleAppsScriptTypeFunctionSet",
          "description": "The defined set of functions in the script file, if any."
        },
        "source": {
          "type": "string",
          "description": "The file content."
        },
        "createTime": {
          "format": "google-datetime",
          "description": "Creation date timestamp.",
          "type": "string"
        },
        "lastModifyUser": {
          "$ref": "GoogleAppsScriptTypeUser",
          "description": "The user who modified the file most recently. The details visible in this object are controlled by the profile visibility settings of the last modifying user."
        }
      },
      "type": "object",
      "id": "File"
    },
    "Project": {
      "properties": {
        "lastModifyUser": {
          "$ref": "GoogleAppsScriptTypeUser",
          "description": "User who last modified the script."
        },
        "createTime": {
          "description": "When the script was created.",
          "type": "string",
          "format": "google-datetime"
        },
        "creator": {
          "description": "User who originally created the script.",
          "$ref": "GoogleAppsScriptTypeUser"
        },
        "scriptId": {
          "description": "The script project's Drive ID.",
          "type": "string"
        },
        "updateTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "When the script was last updated."
        },
        "title": {
          "type": "string",
          "description": "The title for the project."
        },
        "parentId": {
          "description": "The parent's Drive ID that the script will be attached to. This is usually the ID of a Google Document or Google Sheet. This field is optional, and if not set, a stand-alone script will be created.",
          "type": "string"
        }
      },
      "description": "The script project resource.",
      "id": "Project",
      "type": "object"
    },
    "GoogleAppsScriptTypeExecutionApiConfig": {
      "description": "API executable entry point configuration.",
      "properties": {
        "access": {
          "enumDescriptions": [
            "Default value, should not be used.",
            "Only the user who deployed the web app or executable can access it. Note that this is not necessarily the owner of the script project.",
            "Only users in the same domain as the user who deployed the web app or executable can access it.",
            "Any logged in user can access the web app or executable.",
            "Any user, logged in or not, can access the web app or executable."
          ],
          "type": "string",
          "description": "Who has permission to run the API executable.",
          "enum": [
            "UNKNOWN_ACCESS",
            "MYSELF",
            "DOMAIN",
            "ANYONE",
            "ANYONE_ANONYMOUS"
          ]
        }
      },
      "id": "GoogleAppsScriptTypeExecutionApiConfig",
      "type": "object"
    },
    "ListVersionsResponse": {
      "description": "Response with the list of the versions for the specified script project.",
      "id": "ListVersionsResponse",
      "properties": {
        "versions": {
          "type": "array",
          "description": "The list of versions.",
          "items": {
            "$ref": "Version"
          }
        },
        "nextPageToken": {
          "description": "The token use to fetch the next page of records. if not exist in the response, that means no more versions to list.",
          "type": "string"
        }
      },
      "type": "object"
    }
  },
  "ownerDomain": "google.com",
  "basePath": ""
}