{
  "parameters": {
    "callback": {
      "description": "JSONP",
      "location": "query",
      "type": "string"
    },
    "$.xgafv": {
      "location": "query",
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string"
    },
    "quotaUser": {
      "type": "string",
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "oauth_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth 2.0 token for the current user."
    },
    "access_token": {
      "description": "OAuth access token.",
      "type": "string",
      "location": "query"
    },
    "prettyPrint": {
      "type": "boolean",
      "location": "query",
      "description": "Returns response with indentations and line breaks.",
      "default": "true"
    },
    "alt": {
      "description": "Data format for response.",
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "location": "query",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "type": "string"
    },
    "upload_protocol": {
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string"
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    }
  },
  "servicePath": "",
  "discoveryVersion": "v1",
  "ownerDomain": "google.com",
  "baseUrl": "https://script.googleapis.com/",
  "ownerName": "Google",
  "protocol": "rest",
  "title": "Apps Script API",
  "revision": "20260823",
  "rootUrl": "https://script.googleapis.com/",
  "description": "Manages and executes Google Apps Script projects. ",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/script.deployments.readonly": {
          "description": "View Google Apps Script deployments"
        },
        "https://www.google.com/m8/feeds": {
          "description": "See, edit, download, and permanently delete your contacts"
        },
        "https://www.googleapis.com/auth/drive": {
          "description": "See, edit, create, and delete all of your Google Drive files"
        },
        "https://www.googleapis.com/auth/script.projects.readonly": {
          "description": "View Google Apps Script projects"
        },
        "https://mail.google.com/": {
          "description": "Read, compose, send, and permanently delete all your email from Gmail"
        },
        "https://www.google.com/calendar/feeds": {
          "description": "See, edit, share, and permanently delete all the calendars you can access using Google Calendar"
        },
        "https://www.googleapis.com/auth/spreadsheets": {
          "description": "See, edit, create, and delete all your Google Sheets spreadsheets"
        },
        "https://www.googleapis.com/auth/script.processes": {
          "description": "View Google Apps Script processes"
        },
        "https://www.googleapis.com/auth/admin.directory.user": {
          "description": "View and manage the provisioning of users on your domain"
        },
        "https://www.googleapis.com/auth/forms.currentonly": {
          "description": "View and manage forms that this application has been installed in"
        },
        "https://www.googleapis.com/auth/documents": {
          "description": "See, edit, create, and delete all your Google Docs documents"
        },
        "https://www.googleapis.com/auth/groups": {
          "description": "View and manage your Google Groups"
        },
        "https://www.googleapis.com/auth/script.deployments": {
          "description": "Create and update Google Apps Script deployments"
        },
        "https://www.googleapis.com/auth/script.projects": {
          "description": "Create and update Google Apps Script projects"
        },
        "https://www.googleapis.com/auth/forms": {
          "description": "View and manage your forms in Google Drive"
        },
        "https://www.googleapis.com/auth/admin.directory.group": {
          "description": "View and manage the provisioning of groups on your domain"
        },
        "https://www.googleapis.com/auth/userinfo.email": {
          "description": "See your primary Google Account email address"
        },
        "https://www.googleapis.com/auth/script.metrics": {
          "description": "View Google Apps Script project's metrics"
        }
      }
    }
  },
  "fullyEncodeReservedExpansion": true,
  "mtlsRootUrl": "https://script.mtls.googleapis.com/",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "canonicalName": "Script",
  "version": "v1",
  "schemas": {
    "File": {
      "id": "File",
      "properties": {
        "source": {
          "description": "The file content.",
          "type": "string"
        },
        "functionSet": {
          "$ref": "GoogleAppsScriptTypeFunctionSet",
          "description": "The defined set of functions in the script file, if any."
        },
        "type": {
          "enum": [
            "ENUM_TYPE_UNSPECIFIED",
            "SERVER_JS",
            "HTML",
            "JSON"
          ],
          "enumDescriptions": [
            "Undetermined file type; never actually used.",
            "An Apps Script server-side code file.",
            "A file containing client-side HTML.",
            "A file in JSON format. This type is only used for the script project's manifest. The manifest file content must match the structure of a valid [ScriptManifest](/apps-script/concepts/manifests)"
          ],
          "description": "The type of the file.",
          "type": "string"
        },
        "createTime": {
          "format": "google-datetime",
          "description": "Creation date timestamp.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "The name of the file. The file extension is not part of the file name, which can be identified from the type field."
        },
        "updateTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Last modified date timestamp."
        },
        "lastModifyUser": {
          "$ref": "GoogleAppsScriptTypeUser",
          "description": "The user who modified the file most recently. The details visible in this object are controlled by the profile visibility settings of the last modifying user."
        }
      },
      "description": "An individual file within a script project. A file is a third-party source code created by one or more developers. It can be a server-side JS code, HTML, or a configuration file. Each script project can contain multiple files.",
      "type": "object"
    },
    "EntryPoint": {
      "type": "object",
      "properties": {
        "addOn": {
          "description": "Add-on properties.",
          "$ref": "GoogleAppsScriptTypeAddOnEntryPoint"
        },
        "webApp": {
          "$ref": "GoogleAppsScriptTypeWebAppEntryPoint",
          "description": "An entry point specification for web apps."
        },
        "executionApi": {
          "$ref": "GoogleAppsScriptTypeExecutionApiEntryPoint",
          "description": "An entry point specification for Apps Script API execution calls."
        },
        "entryPointType": {
          "type": "string",
          "enumDescriptions": [
            "An unspecified entry point.",
            "A web application entry point.",
            "An API executable entry point.",
            "An Add-On entry point."
          ],
          "description": "The type of the entry point.",
          "enum": [
            "ENTRY_POINT_TYPE_UNSPECIFIED",
            "WEB_APP",
            "EXECUTION_API",
            "ADD_ON"
          ]
        }
      },
      "id": "EntryPoint",
      "description": "A configuration that defines how a deployment is accessed externally."
    },
    "GoogleAppsScriptTypeFunction": {
      "id": "GoogleAppsScriptTypeFunction",
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "The function name in the script project."
        },
        "parameters": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The ordered list of parameter names of the function in the script project."
        }
      },
      "description": "Represents a function in a script project."
    },
    "GoogleAppsScriptTypeUser": {
      "type": "object",
      "id": "GoogleAppsScriptTypeUser",
      "description": "A simple user profile resource.",
      "properties": {
        "photoUrl": {
          "description": "The user's photo.",
          "type": "string"
        },
        "email": {
          "type": "string",
          "description": "The user's identifying email address."
        },
        "name": {
          "type": "string",
          "description": "The user's display name."
        },
        "domain": {
          "type": "string",
          "description": "The user's domain."
        }
      }
    },
    "DeploymentConfig": {
      "type": "object",
      "id": "DeploymentConfig",
      "properties": {
        "manifestFileName": {
          "type": "string",
          "description": "The manifest file name for this deployment."
        },
        "scriptId": {
          "type": "string",
          "description": "The script project's Drive ID."
        },
        "versionNumber": {
          "description": "The version number on which this deployment is based.",
          "type": "integer",
          "format": "int32"
        },
        "description": {
          "type": "string",
          "description": "The description for this deployment."
        }
      },
      "description": "Metadata the defines how a deployment is configured."
    },
    "Metrics": {
      "type": "object",
      "id": "Metrics",
      "description": "Resource containing usage stats for a given script, based on the supplied filter and mask present in the request.",
      "properties": {
        "totalExecutions": {
          "description": "Number of total executions.",
          "type": "array",
          "items": {
            "$ref": "MetricsValue"
          }
        },
        "failedExecutions": {
          "type": "array",
          "description": "Number of failed executions.",
          "items": {
            "$ref": "MetricsValue"
          }
        },
        "activeUsers": {
          "items": {
            "$ref": "MetricsValue"
          },
          "description": "Number of active users.",
          "type": "array"
        }
      }
    },
    "ListDeploymentsResponse": {
      "type": "object",
      "properties": {
        "deployments": {
          "description": "The list of deployments.",
          "type": "array",
          "items": {
            "$ref": "Deployment"
          }
        },
        "nextPageToken": {
          "description": "The token that can be used in the next call to get the next page of results.",
          "type": "string"
        }
      },
      "description": "Response with the list of deployments for the specified Apps Script project.",
      "id": "ListDeploymentsResponse"
    },
    "Version": {
      "id": "Version",
      "description": "A resource representing a script project version. A version is a \"snapshot\" of a script project and is similar to a read-only branched release. When creating deployments, the version to use must be specified.",
      "type": "object",
      "properties": {
        "description": {
          "type": "string",
          "description": "The description for this version."
        },
        "createTime": {
          "type": "string",
          "description": "When the version was created.",
          "format": "google-datetime"
        },
        "scriptId": {
          "description": "The script project's Drive ID.",
          "type": "string"
        },
        "versionNumber": {
          "type": "integer",
          "format": "int32",
          "description": "The incremental ID that is created by Apps Script when a version is created. This is system assigned number and is immutable once created."
        }
      }
    },
    "GoogleAppsScriptTypeExecutionApiConfig": {
      "id": "GoogleAppsScriptTypeExecutionApiConfig",
      "properties": {
        "access": {
          "description": "Who has permission to run the API executable.",
          "enumDescriptions": [
            "Default value, should not be used.",
            "Only the user who deployed the web app or executable can access it. Note that this is not necessarily the owner of the script project.",
            "Only users in the same domain as the user who deployed the web app or executable can access it.",
            "Any logged in user can access the web app or executable.",
            "Any user, logged in or not, can access the web app or executable."
          ],
          "enum": [
            "UNKNOWN_ACCESS",
            "MYSELF",
            "DOMAIN",
            "ANYONE",
            "ANYONE_ANONYMOUS"
          ],
          "type": "string"
        }
      },
      "type": "object",
      "description": "API executable entry point configuration."
    },
    "ListUserProcessesResponse": {
      "description": "Response with the list of Process resources.",
      "id": "ListUserProcessesResponse",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "Token for the next page of results. If empty, there are no more pages remaining."
        },
        "processes": {
          "description": "List of processes matching request parameters.",
          "type": "array",
          "items": {
            "$ref": "GoogleAppsScriptTypeProcess"
          }
        }
      }
    },
    "Content": {
      "description": "The Content resource.",
      "type": "object",
      "properties": {
        "scriptId": {
          "description": "The script project's Drive ID.",
          "type": "string"
        },
        "files": {
          "items": {
            "$ref": "File"
          },
          "type": "array",
          "description": "The list of script project files. One of the files is a script manifest; it must be named \"appsscript\", must have type of JSON, and include the manifest configurations for the project."
        }
      },
      "id": "Content"
    },
    "GoogleAppsScriptTypeWebAppConfig": {
      "properties": {
        "access": {
          "type": "string",
          "description": "Who has permission to run the web app.",
          "enumDescriptions": [
            "Default value, should not be used.",
            "Only the user who deployed the web app or executable can access it. Note that this is not necessarily the owner of the script project.",
            "Only users in the same domain as the user who deployed the web app or executable can access it.",
            "Any logged in user can access the web app or executable.",
            "Any user, logged in or not, can access the web app or executable."
          ],
          "enum": [
            "UNKNOWN_ACCESS",
            "MYSELF",
            "DOMAIN",
            "ANYONE",
            "ANYONE_ANONYMOUS"
          ]
        },
        "executeAs": {
          "description": "Who to execute the web app as.",
          "enum": [
            "UNKNOWN_EXECUTE_AS",
            "USER_ACCESSING",
            "USER_DEPLOYING"
          ],
          "type": "string",
          "enumDescriptions": [
            "Default value, should not be used.",
            "The script runs as the user accessing the web app.",
            "The script runs as the user who deployed the web app. Note that this is not necessarily the owner of the script project."
          ]
        }
      },
      "type": "object",
      "description": "Web app entry point configuration.",
      "id": "GoogleAppsScriptTypeWebAppConfig"
    },
    "UpdateDeploymentRequest": {
      "id": "UpdateDeploymentRequest",
      "description": "Request with deployment information to update an existing deployment.",
      "type": "object",
      "properties": {
        "deploymentConfig": {
          "description": "The deployment configuration.",
          "$ref": "DeploymentConfig"
        }
      }
    },
    "GoogleAppsScriptTypeFunctionSet": {
      "id": "GoogleAppsScriptTypeFunctionSet",
      "description": "A set of functions. No duplicates are permitted.",
      "type": "object",
      "properties": {
        "values": {
          "items": {
            "$ref": "GoogleAppsScriptTypeFunction"
          },
          "type": "array",
          "description": "A list of functions composing the set."
        }
      }
    },
    "ListScriptProcessesResponse": {
      "properties": {
        "nextPageToken": {
          "description": "Token for the next page of results. If empty, there are no more pages remaining.",
          "type": "string"
        },
        "processes": {
          "description": "List of processes matching request parameters.",
          "type": "array",
          "items": {
            "$ref": "GoogleAppsScriptTypeProcess"
          }
        }
      },
      "id": "ListScriptProcessesResponse",
      "description": "Response with the list of Process resources.",
      "type": "object"
    },
    "ScriptStackTraceElement": {
      "description": "A stack trace through the script that shows where the execution failed.",
      "properties": {
        "function": {
          "description": "The name of the function that failed.",
          "type": "string"
        },
        "lineNumber": {
          "format": "int32",
          "type": "integer",
          "description": "The line number where the script failed."
        }
      },
      "type": "object",
      "id": "ScriptStackTraceElement"
    },
    "ExecutionRequest": {
      "description": "A request to run the function in a script. The script is identified by the specified `script_id`. Executing a function on a script returns results based on the implementation of the script.",
      "type": "object",
      "properties": {
        "parameters": {
          "type": "array",
          "items": {
            "type": "any"
          },
          "description": "The parameters to be passed to the function being executed. The object type for each parameter should match the expected type in Apps Script. Parameters cannot be Apps Script-specific object types (such as a `Document` or a `Calendar`); they can only be primitive types such as `string`, `number`, `array`, `object`, or `boolean`. Optional."
        },
        "devMode": {
          "description": "If `true` and the user is an owner of the script, the script runs at the most recently saved version rather than the version deployed for use with the Apps Script API. Optional; default is `false`.",
          "type": "boolean"
        },
        "sessionState": {
          "description": "*Deprecated*. For use with Android add-ons only. An ID that represents the user's current session in the Android app for Google Docs or Sheets, included as extra data in the [Intent](https://developer.android.com/guide/components/intents-filters.html) that launches the add-on. When an Android add-on is run with a session state, it gains the privileges of a [bound](https://developers.google.com/apps-script/guides/bound) script—that is, it can access information like the user's current cursor position (in Docs) or selected cell (in Sheets). To retrieve the state, call `Intent.getStringExtra(\"com.google.android.apps.docs.addons.SessionState\")`. Optional.",
          "type": "string"
        },
        "function": {
          "description": "The name of the function to execute in the given script. The name does not include parentheses or parameters. It can reference a function in an included library such as `Library.libFunction1`.",
          "type": "string"
        }
      },
      "id": "ExecutionRequest"
    },
    "GoogleAppsScriptTypeProcess": {
      "id": "GoogleAppsScriptTypeProcess",
      "type": "object",
      "properties": {
        "functionName": {
          "type": "string",
          "description": "Name of the function the started the execution."
        },
        "processStatus": {
          "description": "The executions status.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified status.",
            "The process is currently running.",
            "The process has paused.",
            "The process has completed.",
            "The process was cancelled.",
            "The process failed.",
            "The process timed out.",
            "Process status unknown.",
            "The process is delayed, waiting for quota.",
            "AppsScript executions are disabled by Admin."
          ],
          "enum": [
            "PROCESS_STATUS_UNSPECIFIED",
            "RUNNING",
            "PAUSED",
            "COMPLETED",
            "CANCELED",
            "FAILED",
            "TIMED_OUT",
            "UNKNOWN",
            "DELAYED",
            "EXECUTION_DISABLED"
          ]
        },
        "processType": {
          "description": "The executions type.",
          "enumDescriptions": [
            "Unspecified type.",
            "The process was started from an add-on entry point.",
            "The process was started using the Apps Script API.",
            "The process was started from a time-based trigger.",
            "The process was started from an event-based trigger.",
            "The process was started from a web app entry point.",
            "The process was started using the Apps Script IDE.",
            "The process was started from a G Suite simple trigger.",
            "The process was started from a G Suite menu item.",
            "The process was started as a task in a batch job."
          ],
          "enum": [
            "PROCESS_TYPE_UNSPECIFIED",
            "ADD_ON",
            "EXECUTION_API",
            "TIME_DRIVEN",
            "TRIGGER",
            "WEBAPP",
            "EDITOR",
            "SIMPLE_TRIGGER",
            "MENU",
            "BATCH_TASK"
          ],
          "type": "string"
        },
        "runtimeVersion": {
          "enum": [
            "RUNTIME_VERSION_UNSPECIFIED",
            "DEPRECATED_ES5",
            "V8"
          ],
          "description": "Which version of maestro to use to execute the script.",
          "type": "string",
          "enumDescriptions": [
            "Runtime version unset / unknown.",
            "Legacy rhino version of the Apps script runtime",
            "Current default V8 version of the apps script runtime."
          ]
        },
        "userAccessLevel": {
          "description": "The executing users access level to the script.",
          "type": "string",
          "enumDescriptions": [
            "User access level unspecified",
            "The user has no access.",
            "The user has read-only access.",
            "The user has write access.",
            "The user is an owner."
          ],
          "enum": [
            "USER_ACCESS_LEVEL_UNSPECIFIED",
            "NONE",
            "READ",
            "WRITE",
            "OWNER"
          ]
        },
        "startTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Time the execution started."
        },
        "projectName": {
          "description": "Name of the script being executed.",
          "type": "string"
        },
        "duration": {
          "description": "Duration the execution spent executing.",
          "type": "string",
          "format": "google-duration"
        }
      },
      "description": "Representation of a single script process execution that was started from the script editor, a trigger, an application, or using the Apps Script API. This is distinct from the `Operation` resource, which only represents executions started via the Apps Script API."
    },
    "Empty": {
      "id": "Empty",
      "type": "object",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "properties": {}
    },
    "Status": {
      "properties": {
        "code": {
          "description": "The status code. For this API, this value either: - 10, indicating a `SCRIPT_TIMEOUT` error, - 3, indicating an `INVALID_ARGUMENT` error, or - 1, indicating a `CANCELLED` execution. ",
          "type": "integer",
          "format": "int32"
        },
        "message": {
          "description": "A developer-facing error message, which is in English. Any user-facing error message is localized and sent in the details field, or localized by the client.",
          "type": "string"
        },
        "details": {
          "items": {
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            },
            "type": "object"
          },
          "description": "An array that contains a single ExecutionError object that provides information about the nature of the error.",
          "type": "array"
        }
      },
      "id": "Status",
      "description": "If a `run` call succeeds but the script function (or Apps Script itself) throws an exception, the response body's error field contains this `Status` object.",
      "type": "object"
    },
    "ListVersionsResponse": {
      "type": "object",
      "properties": {
        "versions": {
          "items": {
            "$ref": "Version"
          },
          "description": "The list of versions.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "The token use to fetch the next page of records. if not exist in the response, that means no more versions to list.",
          "type": "string"
        }
      },
      "description": "Response with the list of the versions for the specified script project.",
      "id": "ListVersionsResponse"
    },
    "ExecutionError": {
      "description": "An object that provides information about the nature of an error resulting from an attempted execution of a script function using the Apps Script API. If a run call succeeds but the script function (or Apps Script itself) throws an exception, the response body's error field contains a Status object. The `Status` object's `details` field contains an array with a single one of these `ExecutionError` objects.",
      "properties": {
        "errorMessage": {
          "description": "The error message thrown by Apps Script, usually localized into the user's language.",
          "type": "string"
        },
        "scriptStackTraceElements": {
          "items": {
            "$ref": "ScriptStackTraceElement"
          },
          "type": "array",
          "description": "An array of objects that provide a stack trace through the script to show where the execution failed, with the deepest call first."
        },
        "errorType": {
          "description": "The error type, for example `TypeError` or `ReferenceError`. If the error type is unavailable, this field is not included.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "ExecutionError"
    },
    "Project": {
      "properties": {
        "title": {
          "type": "string",
          "description": "The title for the project."
        },
        "createTime": {
          "type": "string",
          "description": "When the script was created.",
          "format": "google-datetime"
        },
        "parentId": {
          "description": "The parent's Drive ID that the script will be attached to. This is usually the ID of a Google Document or Google Sheet. This field is optional, and if not set, a stand-alone script will be created.",
          "type": "string"
        },
        "updateTime": {
          "description": "When the script was last updated.",
          "type": "string",
          "format": "google-datetime"
        },
        "creator": {
          "$ref": "GoogleAppsScriptTypeUser",
          "description": "User who originally created the script."
        },
        "lastModifyUser": {
          "description": "User who last modified the script.",
          "$ref": "GoogleAppsScriptTypeUser"
        },
        "scriptId": {
          "description": "The script project's Drive ID.",
          "type": "string"
        }
      },
      "id": "Project",
      "type": "object",
      "description": "The script project resource."
    },
    "ExecutionResponse": {
      "id": "ExecutionResponse",
      "type": "object",
      "description": "An object that provides the return value of a function executed using the Apps Script API. If the script function returns successfully, the response body's response field contains this `ExecutionResponse` object.",
      "properties": {
        "result": {
          "description": "The return value of the script function. The type matches the object type returned in Apps Script. Functions called using the Apps Script API cannot return Apps Script-specific objects (such as a `Document` or a `Calendar`); they can only return primitive types such as a `string`, `number`, `array`, `object`, or `boolean`.",
          "type": "any"
        }
      }
    },
    "GoogleAppsScriptTypeWebAppEntryPoint": {
      "properties": {
        "entryPointConfig": {
          "description": "The entry point's configuration.",
          "$ref": "GoogleAppsScriptTypeWebAppConfig"
        },
        "url": {
          "description": "The URL for the web application.",
          "type": "string"
        }
      },
      "id": "GoogleAppsScriptTypeWebAppEntryPoint",
      "description": "A web application entry point.",
      "type": "object"
    },
    "GoogleAppsScriptTypeExecutionApiEntryPoint": {
      "id": "GoogleAppsScriptTypeExecutionApiEntryPoint",
      "description": "An API executable entry point.",
      "type": "object",
      "properties": {
        "entryPointConfig": {
          "$ref": "GoogleAppsScriptTypeExecutionApiConfig",
          "description": "The entry point's configuration."
        }
      }
    },
    "MetricsValue": {
      "id": "MetricsValue",
      "description": "Metrics value that holds number of executions counted.",
      "properties": {
        "endTime": {
          "format": "google-datetime",
          "description": "Required field indicating the end time of the interval.",
          "type": "string"
        },
        "startTime": {
          "type": "string",
          "description": "Required field indicating the start time of the interval.",
          "format": "google-datetime"
        },
        "value": {
          "type": "string",
          "format": "uint64",
          "description": "Indicates the number of executions counted."
        }
      },
      "type": "object"
    },
    "Operation": {
      "description": "A representation of an execution of an Apps Script function started with run. The execution response does not arrive until the function finishes executing. The maximum execution runtime is listed in the [Apps Script quotas guide](/apps-script/guides/services/quotas#current_limitations). After execution has started, it can have one of four outcomes: - If the script function returns successfully, the response field contains an ExecutionResponse object with the function's return value in the object's `result` field. - If the script function (or Apps Script itself) throws an exception, the error field contains a Status object. The `Status` object's `details` field contains an array with a single ExecutionError object that provides information about the nature of the error. - If the execution has not yet completed, the done field is `false` and the neither the `response` nor `error` fields are present. - If the `run` call itself fails (for example, because of a malformed request or an authorization error), the method returns an HTTP response code in the 4XX range with a different format for the response body. Client libraries automatically convert a 4XX response into an exception class. ",
      "properties": {
        "done": {
          "description": "This field indicates whether the script execution has completed. A completed execution has a populated `response` field containing the ExecutionResponse from function that was executed.",
          "type": "boolean"
        },
        "error": {
          "description": "If a `run` call succeeds but the script function (or Apps Script itself) throws an exception, this field contains a Status object. The `Status` object's `details` field contains an array with a single ExecutionError object that provides information about the nature of the error.",
          "$ref": "Status"
        },
        "response": {
          "description": "If the script function returns successfully, this field contains an ExecutionResponse object with the function's return value.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "type": "object"
        }
      },
      "type": "object",
      "id": "Operation"
    },
    "Deployment": {
      "description": "Representation of a single script deployment.",
      "properties": {
        "deploymentConfig": {
          "$ref": "DeploymentConfig",
          "description": "The deployment configuration."
        },
        "entryPoints": {
          "items": {
            "$ref": "EntryPoint"
          },
          "description": "The deployment's entry points.",
          "type": "array"
        },
        "deploymentId": {
          "description": "The deployment ID for this deployment.",
          "type": "string"
        },
        "updateTime": {
          "type": "string",
          "description": "Last modified date time stamp.",
          "format": "google-datetime"
        }
      },
      "type": "object",
      "id": "Deployment"
    },
    "CreateProjectRequest": {
      "properties": {
        "title": {
          "type": "string",
          "description": "The title for the project."
        },
        "parentId": {
          "description": "The Drive ID of a parent file that the created script project is bound to. This is usually the ID of a Google Doc, Google Sheet, Google Form, or Google Slides file. If not set, a standalone script project is created.",
          "type": "string"
        }
      },
      "id": "CreateProjectRequest",
      "type": "object",
      "description": "Request to create a script project."
    },
    "GoogleAppsScriptTypeAddOnEntryPoint": {
      "description": "An add-on entry point.",
      "properties": {
        "postInstallTipUrl": {
          "type": "string",
          "description": "The add-on's required post install tip URL."
        },
        "helpUrl": {
          "type": "string",
          "description": "The add-on's optional help URL."
        },
        "addOnType": {
          "type": "string",
          "enumDescriptions": [
            "Default value, unknown add-on type.",
            "Add-on type for Gmail.",
            "Add-on type for Data Studio."
          ],
          "description": "The add-on's required list of supported container types.",
          "enum": [
            "UNKNOWN_ADDON_TYPE",
            "GMAIL",
            "DATA_STUDIO"
          ]
        },
        "description": {
          "description": "The add-on's optional description.",
          "type": "string"
        },
        "reportIssueUrl": {
          "description": "The add-on's optional report issue URL.",
          "type": "string"
        },
        "title": {
          "type": "string",
          "description": "The add-on's required title."
        }
      },
      "id": "GoogleAppsScriptTypeAddOnEntryPoint",
      "type": "object"
    }
  },
  "batchPath": "batch",
  "documentationLink": "https://developers.google.com/apps-script/api/",
  "id": "script:v1",
  "resources": {
    "scripts": {
      "methods": {
        "run": {
          "id": "script.scripts.run",
          "parameterOrder": [
            "scriptId"
          ],
          "httpMethod": "POST",
          "description": "",
          "response": {
            "$ref": "Operation"
          },
          "flatPath": "v1/scripts/{scriptId}:run",
          "request": {
            "$ref": "ExecutionRequest"
          },
          "scopes": [
            "https://mail.google.com/",
            "https://www.google.com/calendar/feeds",
            "https://www.google.com/m8/feeds",
            "https://www.googleapis.com/auth/admin.directory.group",
            "https://www.googleapis.com/auth/admin.directory.user",
            "https://www.googleapis.com/auth/documents",
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/forms",
            "https://www.googleapis.com/auth/forms.currentonly",
            "https://www.googleapis.com/auth/groups",
            "https://www.googleapis.com/auth/spreadsheets",
            "https://www.googleapis.com/auth/userinfo.email"
          ],
          "path": "v1/scripts/{scriptId}:run",
          "parameters": {
            "scriptId": {
              "required": true,
              "type": "string",
              "description": "The script ID of the script to be executed. Find the script ID on the **Project settings** page under \"IDs.\" As multiple executable APIs can be deployed in new IDE for same script, this field should be populated with DeploymentID generated while deploying in new IDE instead of script ID.",
              "location": "path"
            }
          }
        }
      }
    },
    "processes": {
      "methods": {
        "list": {
          "parameters": {
            "pageSize": {
              "location": "query",
              "format": "int32",
              "type": "integer",
              "description": "The maximum number of returned processes per page of results. Defaults to 50."
            },
            "userProcessFilter.functionName": {
              "location": "query",
              "description": "Optional field used to limit returned processes to those originating from a script function with the given function name.",
              "type": "string"
            },
            "userProcessFilter.scriptId": {
              "description": "Optional field used to limit returned processes to those originating from projects with a specific script ID.",
              "location": "query",
              "type": "string"
            },
            "userProcessFilter.deploymentId": {
              "type": "string",
              "description": "Optional field used to limit returned processes to those originating from projects with a specific deployment ID.",
              "location": "query"
            },
            "userProcessFilter.endTime": {
              "location": "query",
              "type": "string",
              "description": "Optional field used to limit returned processes to those that completed on or before the given timestamp.",
              "format": "google-datetime"
            },
            "userProcessFilter.statuses": {
              "enum": [
                "PROCESS_STATUS_UNSPECIFIED",
                "RUNNING",
                "PAUSED",
                "COMPLETED",
                "CANCELED",
                "FAILED",
                "TIMED_OUT",
                "UNKNOWN",
                "DELAYED",
                "EXECUTION_DISABLED"
              ],
              "type": "string",
              "description": "Optional field used to limit returned processes to those having one of the specified process statuses.",
              "location": "query",
              "repeated": true,
              "enumDescriptions": [
                "Unspecified status.",
                "The process is currently running.",
                "The process has paused.",
                "The process has completed.",
                "The process was cancelled.",
                "The process failed.",
                "The process timed out.",
                "Process status unknown.",
                "The process is delayed, waiting for quota.",
                "AppsScript executions are disabled by Admin."
              ]
            },
            "userProcessFilter.userAccessLevels": {
              "description": "Optional field used to limit returned processes to those having one of the specified user access levels.",
              "location": "query",
              "repeated": true,
              "enumDescriptions": [
                "User access level unspecified",
                "The user has no access.",
                "The user has read-only access.",
                "The user has write access.",
                "The user is an owner."
              ],
              "enum": [
                "USER_ACCESS_LEVEL_UNSPECIFIED",
                "NONE",
                "READ",
                "WRITE",
                "OWNER"
              ],
              "type": "string"
            },
            "userProcessFilter.types": {
              "description": "Optional field used to limit returned processes to those having one of the specified process types.",
              "type": "string",
              "enumDescriptions": [
                "Unspecified type.",
                "The process was started from an add-on entry point.",
                "The process was started using the Apps Script API.",
                "The process was started from a time-based trigger.",
                "The process was started from an event-based trigger.",
                "The process was started from a web app entry point.",
                "The process was started using the Apps Script IDE.",
                "The process was started from a G Suite simple trigger.",
                "The process was started from a G Suite menu item.",
                "The process was started as a task in a batch job."
              ],
              "location": "query",
              "repeated": true,
              "enum": [
                "PROCESS_TYPE_UNSPECIFIED",
                "ADD_ON",
                "EXECUTION_API",
                "TIME_DRIVEN",
                "TRIGGER",
                "WEBAPP",
                "EDITOR",
                "SIMPLE_TRIGGER",
                "MENU",
                "BATCH_TASK"
              ]
            },
            "pageToken": {
              "location": "query",
              "type": "string",
              "description": "The token for continuing a previous list request on the next page. This should be set to the value of `nextPageToken` from a previous response."
            },
            "userProcessFilter.projectName": {
              "location": "query",
              "type": "string",
              "description": "Optional field used to limit returned processes to those originating from projects with project names containing a specific string."
            },
            "userProcessFilter.startTime": {
              "format": "google-datetime",
              "description": "Optional field used to limit returned processes to those that were started on or after the given timestamp.",
              "location": "query",
              "type": "string"
            }
          },
          "parameterOrder": [],
          "scopes": [
            "https://www.googleapis.com/auth/script.processes"
          ],
          "httpMethod": "GET",
          "path": "v1/processes",
          "description": "List information about processes made by or on behalf of a user, such as process type and current status.",
          "id": "script.processes.list",
          "response": {
            "$ref": "ListUserProcessesResponse"
          },
          "flatPath": "v1/processes"
        },
        "listScriptProcesses": {
          "description": "List information about a script's executed processes, such as process type and current status.",
          "httpMethod": "GET",
          "parameterOrder": [],
          "parameters": {
            "scriptProcessFilter.deploymentId": {
              "type": "string",
              "description": "Optional field used to limit returned processes to those originating from projects with a specific deployment ID.",
              "location": "query"
            },
            "scriptId": {
              "description": "The script ID of the project whose processes are listed.",
              "location": "query",
              "type": "string"
            },
            "scriptProcessFilter.types": {
              "type": "string",
              "enum": [
                "PROCESS_TYPE_UNSPECIFIED",
                "ADD_ON",
                "EXECUTION_API",
                "TIME_DRIVEN",
                "TRIGGER",
                "WEBAPP",
                "EDITOR",
                "SIMPLE_TRIGGER",
                "MENU",
                "BATCH_TASK"
              ],
              "description": "Optional field used to limit returned processes to those having one of the specified process types.",
              "enumDescriptions": [
                "Unspecified type.",
                "The process was started from an add-on entry point.",
                "The process was started using the Apps Script API.",
                "The process was started from a time-based trigger.",
                "The process was started from an event-based trigger.",
                "The process was started from a web app entry point.",
                "The process was started using the Apps Script IDE.",
                "The process was started from a G Suite simple trigger.",
                "The process was started from a G Suite menu item.",
                "The process was started as a task in a batch job."
              ],
              "location": "query",
              "repeated": true
            },
            "scriptProcessFilter.statuses": {
              "location": "query",
              "repeated": true,
              "description": "Optional field used to limit returned processes to those having one of the specified process statuses.",
              "type": "string",
              "enumDescriptions": [
                "Unspecified status.",
                "The process is currently running.",
                "The process has paused.",
                "The process has completed.",
                "The process was cancelled.",
                "The process failed.",
                "The process timed out.",
                "Process status unknown.",
                "The process is delayed, waiting for quota.",
                "AppsScript executions are disabled by Admin."
              ],
              "enum": [
                "PROCESS_STATUS_UNSPECIFIED",
                "RUNNING",
                "PAUSED",
                "COMPLETED",
                "CANCELED",
                "FAILED",
                "TIMED_OUT",
                "UNKNOWN",
                "DELAYED",
                "EXECUTION_DISABLED"
              ]
            },
            "pageToken": {
              "location": "query",
              "description": "The token for continuing a previous list request on the next page. This should be set to the value of `nextPageToken` from a previous response.",
              "type": "string"
            },
            "scriptProcessFilter.startTime": {
              "description": "Optional field used to limit returned processes to those that were started on or after the given timestamp.",
              "location": "query",
              "type": "string",
              "format": "google-datetime"
            },
            "pageSize": {
              "description": "The maximum number of returned processes per page of results. Defaults to 50.",
              "type": "integer",
              "format": "int32",
              "location": "query"
            },
            "scriptProcessFilter.functionName": {
              "description": "Optional field used to limit returned processes to those originating from a script function with the given function name.",
              "type": "string",
              "location": "query"
            },
            "scriptProcessFilter.userAccessLevels": {
              "description": "Optional field used to limit returned processes to those having one of the specified user access levels.",
              "enum": [
                "USER_ACCESS_LEVEL_UNSPECIFIED",
                "NONE",
                "READ",
                "WRITE",
                "OWNER"
              ],
              "type": "string",
              "enumDescriptions": [
                "User access level unspecified",
                "The user has no access.",
                "The user has read-only access.",
                "The user has write access.",
                "The user is an owner."
              ],
              "location": "query",
              "repeated": true
            },
            "scriptProcessFilter.endTime": {
              "format": "google-datetime",
              "location": "query",
              "type": "string",
              "description": "Optional field used to limit returned processes to those that completed on or before the given timestamp."
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/script.processes"
          ],
          "flatPath": "v1/processes:listScriptProcesses",
          "id": "script.processes.listScriptProcesses",
          "response": {
            "$ref": "ListScriptProcessesResponse"
          },
          "path": "v1/processes:listScriptProcesses"
        }
      }
    },
    "projects": {
      "resources": {
        "deployments": {
          "methods": {
            "get": {
              "parameterOrder": [
                "scriptId",
                "deploymentId"
              ],
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/script.deployments",
                "https://www.googleapis.com/auth/script.deployments.readonly"
              ],
              "description": "Gets a deployment of an Apps Script project.",
              "flatPath": "v1/projects/{scriptId}/deployments/{deploymentId}",
              "path": "v1/projects/{scriptId}/deployments/{deploymentId}",
              "response": {
                "$ref": "Deployment"
              },
              "parameters": {
                "scriptId": {
                  "type": "string",
                  "required": true,
                  "location": "path",
                  "description": "The script project's Drive ID."
                },
                "deploymentId": {
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "description": "The deployment ID."
                }
              },
              "id": "script.projects.deployments.get"
            },
            "list": {
              "response": {
                "$ref": "ListDeploymentsResponse"
              },
              "path": "v1/projects/{scriptId}/deployments",
              "flatPath": "v1/projects/{scriptId}/deployments",
              "scopes": [
                "https://www.googleapis.com/auth/script.deployments",
                "https://www.googleapis.com/auth/script.deployments.readonly"
              ],
              "parameters": {
                "scriptId": {
                  "type": "string",
                  "location": "path",
                  "description": "The script project's Drive ID.",
                  "required": true
                },
                "pageToken": {
                  "location": "query",
                  "type": "string",
                  "description": "The token for continuing a previous list request on the next page. This should be set to the value of `nextPageToken` from a previous response."
                },
                "pageSize": {
                  "format": "int32",
                  "description": "The maximum number of deployments on each returned page. Defaults to 50.",
                  "type": "integer",
                  "location": "query"
                }
              },
              "parameterOrder": [
                "scriptId"
              ],
              "description": "Lists the deployments of an Apps Script project.",
              "id": "script.projects.deployments.list",
              "httpMethod": "GET"
            },
            "delete": {
              "id": "script.projects.deployments.delete",
              "path": "v1/projects/{scriptId}/deployments/{deploymentId}",
              "scopes": [
                "https://www.googleapis.com/auth/script.deployments"
              ],
              "parameterOrder": [
                "scriptId",
                "deploymentId"
              ],
              "parameters": {
                "scriptId": {
                  "required": true,
                  "type": "string",
                  "description": "The script project's Drive ID.",
                  "location": "path"
                },
                "deploymentId": {
                  "location": "path",
                  "description": "The deployment ID to be undeployed.",
                  "required": true,
                  "type": "string"
                }
              },
              "description": "Deletes a deployment of an Apps Script project.",
              "response": {
                "$ref": "Empty"
              },
              "httpMethod": "DELETE",
              "flatPath": "v1/projects/{scriptId}/deployments/{deploymentId}"
            },
            "update": {
              "parameters": {
                "deploymentId": {
                  "type": "string",
                  "required": true,
                  "description": "The deployment ID for this deployment.",
                  "location": "path"
                },
                "scriptId": {
                  "location": "path",
                  "required": true,
                  "description": "The script project's Drive ID.",
                  "type": "string"
                }
              },
              "path": "v1/projects/{scriptId}/deployments/{deploymentId}",
              "request": {
                "$ref": "UpdateDeploymentRequest"
              },
              "parameterOrder": [
                "scriptId",
                "deploymentId"
              ],
              "flatPath": "v1/projects/{scriptId}/deployments/{deploymentId}",
              "response": {
                "$ref": "Deployment"
              },
              "description": "Updates a deployment of an Apps Script project.",
              "httpMethod": "PUT",
              "id": "script.projects.deployments.update",
              "scopes": [
                "https://www.googleapis.com/auth/script.deployments"
              ]
            },
            "create": {
              "description": "Creates a deployment of an Apps Script project.",
              "flatPath": "v1/projects/{scriptId}/deployments",
              "request": {
                "$ref": "DeploymentConfig"
              },
              "response": {
                "$ref": "Deployment"
              },
              "parameterOrder": [
                "scriptId"
              ],
              "parameters": {
                "scriptId": {
                  "location": "path",
                  "description": "The script project's Drive ID.",
                  "type": "string",
                  "required": true
                }
              },
              "path": "v1/projects/{scriptId}/deployments",
              "id": "script.projects.deployments.create",
              "scopes": [
                "https://www.googleapis.com/auth/script.deployments"
              ],
              "httpMethod": "POST"
            }
          }
        },
        "versions": {
          "methods": {
            "create": {
              "parameters": {
                "scriptId": {
                  "type": "string",
                  "required": true,
                  "location": "path",
                  "description": "The script project's Drive ID."
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/script.projects"
              ],
              "description": "Creates a new immutable version using the current code, with a unique version number.",
              "response": {
                "$ref": "Version"
              },
              "flatPath": "v1/projects/{scriptId}/versions",
              "parameterOrder": [
                "scriptId"
              ],
              "httpMethod": "POST",
              "id": "script.projects.versions.create",
              "path": "v1/projects/{scriptId}/versions",
              "request": {
                "$ref": "Version"
              }
            },
            "get": {
              "httpMethod": "GET",
              "path": "v1/projects/{scriptId}/versions/{versionNumber}",
              "description": "Gets a version of a script project.",
              "parameterOrder": [
                "scriptId",
                "versionNumber"
              ],
              "parameters": {
                "versionNumber": {
                  "format": "int32",
                  "description": "The version number.",
                  "location": "path",
                  "type": "integer",
                  "required": true
                },
                "scriptId": {
                  "required": true,
                  "description": "The script project's Drive ID.",
                  "type": "string",
                  "location": "path"
                }
              },
              "response": {
                "$ref": "Version"
              },
              "scopes": [
                "https://www.googleapis.com/auth/script.projects",
                "https://www.googleapis.com/auth/script.projects.readonly"
              ],
              "flatPath": "v1/projects/{scriptId}/versions/{versionNumber}",
              "id": "script.projects.versions.get"
            },
            "list": {
              "description": "List the versions of a script project.",
              "path": "v1/projects/{scriptId}/versions",
              "scopes": [
                "https://www.googleapis.com/auth/script.projects",
                "https://www.googleapis.com/auth/script.projects.readonly"
              ],
              "flatPath": "v1/projects/{scriptId}/versions",
              "httpMethod": "GET",
              "response": {
                "$ref": "ListVersionsResponse"
              },
              "parameterOrder": [
                "scriptId"
              ],
              "id": "script.projects.versions.list",
              "parameters": {
                "scriptId": {
                  "type": "string",
                  "description": "The script project's Drive ID.",
                  "required": true,
                  "location": "path"
                },
                "pageToken": {
                  "location": "query",
                  "description": "The token for continuing a previous list request on the next page. This should be set to the value of `nextPageToken` from a previous response.",
                  "type": "string"
                },
                "pageSize": {
                  "description": "The maximum number of versions on each returned page. Defaults to 50.",
                  "format": "int32",
                  "location": "query",
                  "type": "integer"
                }
              }
            }
          }
        }
      },
      "methods": {
        "create": {
          "scopes": [
            "https://www.googleapis.com/auth/script.projects"
          ],
          "parameterOrder": [],
          "request": {
            "$ref": "CreateProjectRequest"
          },
          "path": "v1/projects",
          "description": "Creates a new, empty script project with no script files and a base manifest file.",
          "parameters": {},
          "response": {
            "$ref": "Project"
          },
          "id": "script.projects.create",
          "flatPath": "v1/projects",
          "httpMethod": "POST"
        },
        "getContent": {
          "parameterOrder": [
            "scriptId"
          ],
          "description": "Gets the content of the script project, including the code source and metadata for each script file.",
          "parameters": {
            "versionNumber": {
              "description": "The version number of the project to retrieve. If not provided, the project's HEAD version is returned.",
              "format": "int32",
              "type": "integer",
              "location": "query"
            },
            "scriptId": {
              "description": "The script project's Drive ID.",
              "location": "path",
              "type": "string",
              "required": true
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/script.projects",
            "https://www.googleapis.com/auth/script.projects.readonly"
          ],
          "response": {
            "$ref": "Content"
          },
          "httpMethod": "GET",
          "flatPath": "v1/projects/{scriptId}/content",
          "path": "v1/projects/{scriptId}/content",
          "id": "script.projects.getContent"
        },
        "get": {
          "flatPath": "v1/projects/{scriptId}",
          "parameters": {
            "scriptId": {
              "type": "string",
              "location": "path",
              "description": "The script project's Drive ID.",
              "required": true
            }
          },
          "response": {
            "$ref": "Project"
          },
          "parameterOrder": [
            "scriptId"
          ],
          "path": "v1/projects/{scriptId}",
          "description": "Gets a script project's metadata.",
          "id": "script.projects.get",
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/script.projects",
            "https://www.googleapis.com/auth/script.projects.readonly"
          ]
        },
        "getMetrics": {
          "response": {
            "$ref": "Metrics"
          },
          "path": "v1/projects/{scriptId}/metrics",
          "flatPath": "v1/projects/{scriptId}/metrics",
          "id": "script.projects.getMetrics",
          "scopes": [
            "https://www.googleapis.com/auth/script.metrics"
          ],
          "httpMethod": "GET",
          "description": "Get metrics data for scripts, such as number of executions and active users.",
          "parameters": {
            "metricsFilter.deploymentId": {
              "description": "Optional field indicating a specific deployment to retrieve metrics from.",
              "type": "string",
              "location": "query"
            },
            "scriptId": {
              "location": "path",
              "description": "Required field indicating the script to get metrics for.",
              "type": "string",
              "required": true
            },
            "metricsGranularity": {
              "type": "string",
              "enum": [
                "UNSPECIFIED_GRANULARITY",
                "WEEKLY",
                "DAILY"
              ],
              "description": "Required field indicating what granularity of metrics are returned.",
              "location": "query",
              "enumDescriptions": [
                "Default metric granularity used to query no metrics.",
                "Represents weekly metrics.",
                "Represents daily metrics over a period of 7 days."
              ]
            }
          },
          "parameterOrder": [
            "scriptId"
          ]
        },
        "updateContent": {
          "scopes": [
            "https://www.googleapis.com/auth/script.projects"
          ],
          "parameters": {
            "scriptId": {
              "location": "path",
              "type": "string",
              "required": true,
              "description": "The script project's Drive ID."
            }
          },
          "path": "v1/projects/{scriptId}/content",
          "response": {
            "$ref": "Content"
          },
          "parameterOrder": [
            "scriptId"
          ],
          "description": "Updates the content of the specified script project. This content is stored as the HEAD version, and is used when the script is executed as a trigger, in the script editor, in add-on preview mode, or as a web app or Apps Script API in development mode. This clears all the existing files in the project.",
          "flatPath": "v1/projects/{scriptId}/content",
          "id": "script.projects.updateContent",
          "request": {
            "$ref": "Content"
          },
          "httpMethod": "PUT"
        }
      }
    }
  },
  "basePath": "",
  "name": "script",
  "kind": "discovery#restDescription"
}