{
  "fullyEncodeReservedExpansion": true,
  "parameters": {
    "alt": {
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "type": "string",
      "description": "Data format for response.",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query"
    },
    "quotaUser": {
      "type": "string",
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "oauth_token": {
      "location": "query",
      "description": "OAuth 2.0 token for the current user.",
      "type": "string"
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query",
      "type": "string"
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean",
      "location": "query",
      "default": "true"
    },
    "access_token": {
      "description": "OAuth access token.",
      "location": "query",
      "type": "string"
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "uploadType": {
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string"
    },
    "$.xgafv": {
      "enum": [
        "1",
        "2"
      ],
      "description": "V1 error format.",
      "location": "query",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string"
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    }
  },
  "discoveryVersion": "v1",
  "ownerName": "Google",
  "revision": "20260830",
  "version": "v1",
  "rootUrl": "https://script.googleapis.com/",
  "resources": {
    "projects": {
      "resources": {
        "versions": {
          "methods": {
            "create": {
              "response": {
                "$ref": "Version"
              },
              "parameters": {
                "scriptId": {
                  "required": true,
                  "description": "The script project's Drive ID.",
                  "type": "string",
                  "location": "path"
                }
              },
              "path": "v1/projects/{scriptId}/versions",
              "flatPath": "v1/projects/{scriptId}/versions",
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/script.projects"
              ],
              "description": "Creates a new immutable version using the current code, with a unique version number.",
              "parameterOrder": [
                "scriptId"
              ],
              "id": "script.projects.versions.create",
              "request": {
                "$ref": "Version"
              }
            },
            "get": {
              "parameters": {
                "versionNumber": {
                  "required": true,
                  "description": "The version number.",
                  "location": "path",
                  "format": "int32",
                  "type": "integer"
                },
                "scriptId": {
                  "required": true,
                  "type": "string",
                  "description": "The script project's Drive ID.",
                  "location": "path"
                }
              },
              "response": {
                "$ref": "Version"
              },
              "path": "v1/projects/{scriptId}/versions/{versionNumber}",
              "flatPath": "v1/projects/{scriptId}/versions/{versionNumber}",
              "id": "script.projects.versions.get",
              "scopes": [
                "https://www.googleapis.com/auth/script.projects",
                "https://www.googleapis.com/auth/script.projects.readonly"
              ],
              "httpMethod": "GET",
              "description": "Gets a version of a script project.",
              "parameterOrder": [
                "scriptId",
                "versionNumber"
              ]
            },
            "list": {
              "parameters": {
                "scriptId": {
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "description": "The script project's Drive ID."
                },
                "pageToken": {
                  "location": "query",
                  "description": "The token for continuing a previous list request on the next page. This should be set to the value of `nextPageToken` from a previous response.",
                  "type": "string"
                },
                "pageSize": {
                  "type": "integer",
                  "format": "int32",
                  "location": "query",
                  "description": "The maximum number of versions on each returned page. Defaults to 50."
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/script.projects",
                "https://www.googleapis.com/auth/script.projects.readonly"
              ],
              "httpMethod": "GET",
              "parameterOrder": [
                "scriptId"
              ],
              "id": "script.projects.versions.list",
              "path": "v1/projects/{scriptId}/versions",
              "flatPath": "v1/projects/{scriptId}/versions",
              "description": "List the versions of a script project.",
              "response": {
                "$ref": "ListVersionsResponse"
              }
            }
          }
        },
        "deployments": {
          "methods": {
            "get": {
              "httpMethod": "GET",
              "id": "script.projects.deployments.get",
              "path": "v1/projects/{scriptId}/deployments/{deploymentId}",
              "parameters": {
                "deploymentId": {
                  "description": "The deployment ID.",
                  "location": "path",
                  "type": "string",
                  "required": true
                },
                "scriptId": {
                  "description": "The script project's Drive ID.",
                  "location": "path",
                  "type": "string",
                  "required": true
                }
              },
              "parameterOrder": [
                "scriptId",
                "deploymentId"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/script.deployments",
                "https://www.googleapis.com/auth/script.deployments.readonly"
              ],
              "flatPath": "v1/projects/{scriptId}/deployments/{deploymentId}",
              "response": {
                "$ref": "Deployment"
              },
              "description": "Gets a deployment of an Apps Script project."
            },
            "create": {
              "scopes": [
                "https://www.googleapis.com/auth/script.deployments"
              ],
              "path": "v1/projects/{scriptId}/deployments",
              "httpMethod": "POST",
              "flatPath": "v1/projects/{scriptId}/deployments",
              "response": {
                "$ref": "Deployment"
              },
              "id": "script.projects.deployments.create",
              "description": "Creates a deployment of an Apps Script project.",
              "parameterOrder": [
                "scriptId"
              ],
              "parameters": {
                "scriptId": {
                  "description": "The script project's Drive ID.",
                  "required": true,
                  "type": "string",
                  "location": "path"
                }
              },
              "request": {
                "$ref": "DeploymentConfig"
              }
            },
            "list": {
              "id": "script.projects.deployments.list",
              "description": "Lists the deployments of an Apps Script project.",
              "parameterOrder": [
                "scriptId"
              ],
              "response": {
                "$ref": "ListDeploymentsResponse"
              },
              "path": "v1/projects/{scriptId}/deployments",
              "flatPath": "v1/projects/{scriptId}/deployments",
              "parameters": {
                "scriptId": {
                  "description": "The script project's Drive ID.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "pageToken": {
                  "type": "string",
                  "location": "query",
                  "description": "The token for continuing a previous list request on the next page. This should be set to the value of `nextPageToken` from a previous response."
                },
                "pageSize": {
                  "description": "The maximum number of deployments on each returned page. Defaults to 50.",
                  "type": "integer",
                  "format": "int32",
                  "location": "query"
                }
              },
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/script.deployments",
                "https://www.googleapis.com/auth/script.deployments.readonly"
              ]
            },
            "delete": {
              "scopes": [
                "https://www.googleapis.com/auth/script.deployments"
              ],
              "flatPath": "v1/projects/{scriptId}/deployments/{deploymentId}",
              "description": "Deletes a deployment of an Apps Script project.",
              "response": {
                "$ref": "Empty"
              },
              "parameters": {
                "scriptId": {
                  "location": "path",
                  "type": "string",
                  "description": "The script project's Drive ID.",
                  "required": true
                },
                "deploymentId": {
                  "required": true,
                  "type": "string",
                  "description": "The deployment ID to be undeployed.",
                  "location": "path"
                }
              },
              "parameterOrder": [
                "scriptId",
                "deploymentId"
              ],
              "path": "v1/projects/{scriptId}/deployments/{deploymentId}",
              "id": "script.projects.deployments.delete",
              "httpMethod": "DELETE"
            },
            "update": {
              "parameterOrder": [
                "scriptId",
                "deploymentId"
              ],
              "description": "Updates a deployment of an Apps Script project.",
              "flatPath": "v1/projects/{scriptId}/deployments/{deploymentId}",
              "response": {
                "$ref": "Deployment"
              },
              "scopes": [
                "https://www.googleapis.com/auth/script.deployments"
              ],
              "path": "v1/projects/{scriptId}/deployments/{deploymentId}",
              "parameters": {
                "scriptId": {
                  "type": "string",
                  "description": "The script project's Drive ID.",
                  "required": true,
                  "location": "path"
                },
                "deploymentId": {
                  "description": "The deployment ID for this deployment.",
                  "required": true,
                  "type": "string",
                  "location": "path"
                }
              },
              "id": "script.projects.deployments.update",
              "httpMethod": "PUT",
              "request": {
                "$ref": "UpdateDeploymentRequest"
              }
            }
          }
        }
      },
      "methods": {
        "create": {
          "description": "Creates a new, empty script project with no script files and a base manifest file.",
          "httpMethod": "POST",
          "id": "script.projects.create",
          "parameters": {},
          "request": {
            "$ref": "CreateProjectRequest"
          },
          "path": "v1/projects",
          "scopes": [
            "https://www.googleapis.com/auth/script.projects"
          ],
          "parameterOrder": [],
          "response": {
            "$ref": "Project"
          },
          "flatPath": "v1/projects"
        },
        "getMetrics": {
          "scopes": [
            "https://www.googleapis.com/auth/script.metrics"
          ],
          "path": "v1/projects/{scriptId}/metrics",
          "description": "Get metrics data for scripts, such as number of executions and active users.",
          "flatPath": "v1/projects/{scriptId}/metrics",
          "id": "script.projects.getMetrics",
          "parameterOrder": [
            "scriptId"
          ],
          "response": {
            "$ref": "Metrics"
          },
          "parameters": {
            "metricsGranularity": {
              "enum": [
                "UNSPECIFIED_GRANULARITY",
                "WEEKLY",
                "DAILY"
              ],
              "description": "Required field indicating what granularity of metrics are returned.",
              "location": "query",
              "type": "string",
              "enumDescriptions": [
                "Default metric granularity used to query no metrics.",
                "Represents weekly metrics.",
                "Represents daily metrics over a period of 7 days."
              ]
            },
            "scriptId": {
              "location": "path",
              "description": "Required field indicating the script to get metrics for.",
              "required": true,
              "type": "string"
            },
            "metricsFilter.deploymentId": {
              "description": "Optional field indicating a specific deployment to retrieve metrics from.",
              "type": "string",
              "location": "query"
            }
          },
          "httpMethod": "GET"
        },
        "updateContent": {
          "parameters": {
            "scriptId": {
              "type": "string",
              "description": "The script project's Drive ID.",
              "location": "path",
              "required": true
            }
          },
          "request": {
            "$ref": "Content"
          },
          "httpMethod": "PUT",
          "description": "Updates the content of the specified script project. This content is stored as the HEAD version, and is used when the script is executed as a trigger, in the script editor, in add-on preview mode, or as a web app or Apps Script API in development mode. This clears all the existing files in the project.",
          "scopes": [
            "https://www.googleapis.com/auth/script.projects"
          ],
          "path": "v1/projects/{scriptId}/content",
          "id": "script.projects.updateContent",
          "flatPath": "v1/projects/{scriptId}/content",
          "response": {
            "$ref": "Content"
          },
          "parameterOrder": [
            "scriptId"
          ]
        },
        "get": {
          "flatPath": "v1/projects/{scriptId}",
          "httpMethod": "GET",
          "response": {
            "$ref": "Project"
          },
          "description": "Gets a script project's metadata.",
          "id": "script.projects.get",
          "path": "v1/projects/{scriptId}",
          "scopes": [
            "https://www.googleapis.com/auth/script.projects",
            "https://www.googleapis.com/auth/script.projects.readonly"
          ],
          "parameters": {
            "scriptId": {
              "description": "The script project's Drive ID.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "parameterOrder": [
            "scriptId"
          ]
        },
        "getContent": {
          "parameterOrder": [
            "scriptId"
          ],
          "httpMethod": "GET",
          "path": "v1/projects/{scriptId}/content",
          "id": "script.projects.getContent",
          "parameters": {
            "scriptId": {
              "type": "string",
              "location": "path",
              "required": true,
              "description": "The script project's Drive ID."
            },
            "versionNumber": {
              "type": "integer",
              "format": "int32",
              "location": "query",
              "description": "The version number of the project to retrieve. If not provided, the project's HEAD version is returned."
            }
          },
          "response": {
            "$ref": "Content"
          },
          "flatPath": "v1/projects/{scriptId}/content",
          "scopes": [
            "https://www.googleapis.com/auth/script.projects",
            "https://www.googleapis.com/auth/script.projects.readonly"
          ],
          "description": "Gets the content of the script project, including the code source and metadata for each script file."
        }
      }
    },
    "processes": {
      "methods": {
        "list": {
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/script.processes"
          ],
          "response": {
            "$ref": "ListUserProcessesResponse"
          },
          "parameterOrder": [],
          "description": "List information about processes made by or on behalf of a user, such as process type and current status.",
          "parameters": {
            "userProcessFilter.statuses": {
              "type": "string",
              "location": "query",
              "enum": [
                "PROCESS_STATUS_UNSPECIFIED",
                "RUNNING",
                "PAUSED",
                "COMPLETED",
                "CANCELED",
                "FAILED",
                "TIMED_OUT",
                "UNKNOWN",
                "DELAYED",
                "EXECUTION_DISABLED"
              ],
              "repeated": true,
              "description": "Optional field used to limit returned processes to those having one of the specified process statuses.",
              "enumDescriptions": [
                "Unspecified status.",
                "The process is currently running.",
                "The process has paused.",
                "The process has completed.",
                "The process was cancelled.",
                "The process failed.",
                "The process timed out.",
                "Process status unknown.",
                "The process is delayed, waiting for quota.",
                "AppsScript executions are disabled by Admin."
              ]
            },
            "pageToken": {
              "type": "string",
              "description": "The token for continuing a previous list request on the next page. This should be set to the value of `nextPageToken` from a previous response.",
              "location": "query"
            },
            "userProcessFilter.endTime": {
              "format": "google-datetime",
              "type": "string",
              "location": "query",
              "description": "Optional field used to limit returned processes to those that completed on or before the given timestamp."
            },
            "userProcessFilter.startTime": {
              "location": "query",
              "description": "Optional field used to limit returned processes to those that were started on or after the given timestamp.",
              "type": "string",
              "format": "google-datetime"
            },
            "userProcessFilter.functionName": {
              "type": "string",
              "description": "Optional field used to limit returned processes to those originating from a script function with the given function name.",
              "location": "query"
            },
            "userProcessFilter.projectName": {
              "description": "Optional field used to limit returned processes to those originating from projects with project names containing a specific string.",
              "location": "query",
              "type": "string"
            },
            "userProcessFilter.types": {
              "repeated": true,
              "enumDescriptions": [
                "Unspecified type.",
                "The process was started from an add-on entry point.",
                "The process was started using the Apps Script API.",
                "The process was started from a time-based trigger.",
                "The process was started from an event-based trigger.",
                "The process was started from a web app entry point.",
                "The process was started using the Apps Script IDE.",
                "The process was started from a G Suite simple trigger.",
                "The process was started from a G Suite menu item.",
                "The process was started as a task in a batch job."
              ],
              "type": "string",
              "description": "Optional field used to limit returned processes to those having one of the specified process types.",
              "enum": [
                "PROCESS_TYPE_UNSPECIFIED",
                "ADD_ON",
                "EXECUTION_API",
                "TIME_DRIVEN",
                "TRIGGER",
                "WEBAPP",
                "EDITOR",
                "SIMPLE_TRIGGER",
                "MENU",
                "BATCH_TASK"
              ],
              "location": "query"
            },
            "userProcessFilter.scriptId": {
              "description": "Optional field used to limit returned processes to those originating from projects with a specific script ID.",
              "type": "string",
              "location": "query"
            },
            "userProcessFilter.deploymentId": {
              "description": "Optional field used to limit returned processes to those originating from projects with a specific deployment ID.",
              "location": "query",
              "type": "string"
            },
            "pageSize": {
              "type": "integer",
              "description": "The maximum number of returned processes per page of results. Defaults to 50.",
              "location": "query",
              "format": "int32"
            },
            "userProcessFilter.userAccessLevels": {
              "type": "string",
              "location": "query",
              "enumDescriptions": [
                "User access level unspecified",
                "The user has no access.",
                "The user has read-only access.",
                "The user has write access.",
                "The user is an owner."
              ],
              "repeated": true,
              "enum": [
                "USER_ACCESS_LEVEL_UNSPECIFIED",
                "NONE",
                "READ",
                "WRITE",
                "OWNER"
              ],
              "description": "Optional field used to limit returned processes to those having one of the specified user access levels."
            }
          },
          "id": "script.processes.list",
          "flatPath": "v1/processes",
          "path": "v1/processes"
        },
        "listScriptProcesses": {
          "parameterOrder": [],
          "scopes": [
            "https://www.googleapis.com/auth/script.processes"
          ],
          "response": {
            "$ref": "ListScriptProcessesResponse"
          },
          "flatPath": "v1/processes:listScriptProcesses",
          "path": "v1/processes:listScriptProcesses",
          "httpMethod": "GET",
          "id": "script.processes.listScriptProcesses",
          "parameters": {
            "scriptProcessFilter.endTime": {
              "location": "query",
              "description": "Optional field used to limit returned processes to those that completed on or before the given timestamp.",
              "type": "string",
              "format": "google-datetime"
            },
            "scriptProcessFilter.deploymentId": {
              "type": "string",
              "location": "query",
              "description": "Optional field used to limit returned processes to those originating from projects with a specific deployment ID."
            },
            "pageSize": {
              "location": "query",
              "format": "int32",
              "description": "The maximum number of returned processes per page of results. Defaults to 50.",
              "type": "integer"
            },
            "scriptProcessFilter.userAccessLevels": {
              "location": "query",
              "enum": [
                "USER_ACCESS_LEVEL_UNSPECIFIED",
                "NONE",
                "READ",
                "WRITE",
                "OWNER"
              ],
              "description": "Optional field used to limit returned processes to those having one of the specified user access levels.",
              "type": "string",
              "enumDescriptions": [
                "User access level unspecified",
                "The user has no access.",
                "The user has read-only access.",
                "The user has write access.",
                "The user is an owner."
              ],
              "repeated": true
            },
            "scriptProcessFilter.functionName": {
              "location": "query",
              "description": "Optional field used to limit returned processes to those originating from a script function with the given function name.",
              "type": "string"
            },
            "scriptProcessFilter.types": {
              "enum": [
                "PROCESS_TYPE_UNSPECIFIED",
                "ADD_ON",
                "EXECUTION_API",
                "TIME_DRIVEN",
                "TRIGGER",
                "WEBAPP",
                "EDITOR",
                "SIMPLE_TRIGGER",
                "MENU",
                "BATCH_TASK"
              ],
              "enumDescriptions": [
                "Unspecified type.",
                "The process was started from an add-on entry point.",
                "The process was started using the Apps Script API.",
                "The process was started from a time-based trigger.",
                "The process was started from an event-based trigger.",
                "The process was started from a web app entry point.",
                "The process was started using the Apps Script IDE.",
                "The process was started from a G Suite simple trigger.",
                "The process was started from a G Suite menu item.",
                "The process was started as a task in a batch job."
              ],
              "repeated": true,
              "location": "query",
              "type": "string",
              "description": "Optional field used to limit returned processes to those having one of the specified process types."
            },
            "scriptId": {
              "location": "query",
              "type": "string",
              "description": "The script ID of the project whose processes are listed."
            },
            "scriptProcessFilter.startTime": {
              "location": "query",
              "description": "Optional field used to limit returned processes to those that were started on or after the given timestamp.",
              "type": "string",
              "format": "google-datetime"
            },
            "pageToken": {
              "description": "The token for continuing a previous list request on the next page. This should be set to the value of `nextPageToken` from a previous response.",
              "location": "query",
              "type": "string"
            },
            "scriptProcessFilter.statuses": {
              "type": "string",
              "enumDescriptions": [
                "Unspecified status.",
                "The process is currently running.",
                "The process has paused.",
                "The process has completed.",
                "The process was cancelled.",
                "The process failed.",
                "The process timed out.",
                "Process status unknown.",
                "The process is delayed, waiting for quota.",
                "AppsScript executions are disabled by Admin."
              ],
              "location": "query",
              "description": "Optional field used to limit returned processes to those having one of the specified process statuses.",
              "repeated": true,
              "enum": [
                "PROCESS_STATUS_UNSPECIFIED",
                "RUNNING",
                "PAUSED",
                "COMPLETED",
                "CANCELED",
                "FAILED",
                "TIMED_OUT",
                "UNKNOWN",
                "DELAYED",
                "EXECUTION_DISABLED"
              ]
            }
          },
          "description": "List information about a script's executed processes, such as process type and current status."
        }
      }
    },
    "scripts": {
      "methods": {
        "run": {
          "parameters": {
            "scriptId": {
              "location": "path",
              "description": "The script ID of the script to be executed. Find the script ID on the **Project settings** page under \"IDs.\" As multiple executable APIs can be deployed in new IDE for same script, this field should be populated with DeploymentID generated while deploying in new IDE instead of script ID.",
              "type": "string",
              "required": true
            }
          },
          "parameterOrder": [
            "scriptId"
          ],
          "httpMethod": "POST",
          "flatPath": "v1/scripts/{scriptId}:run",
          "request": {
            "$ref": "ExecutionRequest"
          },
          "path": "v1/scripts/{scriptId}:run",
          "response": {
            "$ref": "Operation"
          },
          "description": "",
          "scopes": [
            "https://mail.google.com/",
            "https://www.google.com/calendar/feeds",
            "https://www.google.com/m8/feeds",
            "https://www.googleapis.com/auth/admin.directory.group",
            "https://www.googleapis.com/auth/admin.directory.user",
            "https://www.googleapis.com/auth/documents",
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/forms",
            "https://www.googleapis.com/auth/forms.currentonly",
            "https://www.googleapis.com/auth/groups",
            "https://www.googleapis.com/auth/spreadsheets",
            "https://www.googleapis.com/auth/userinfo.email"
          ],
          "id": "script.scripts.run"
        }
      }
    }
  },
  "name": "script",
  "batchPath": "batch",
  "title": "Apps Script API",
  "basePath": "",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/userinfo.email": {
          "description": "See your primary Google Account email address"
        },
        "https://www.googleapis.com/auth/script.deployments.readonly": {
          "description": "View Google Apps Script deployments"
        },
        "https://www.googleapis.com/auth/admin.directory.user": {
          "description": "View and manage the provisioning of users on your domain"
        },
        "https://www.googleapis.com/auth/groups": {
          "description": "View and manage your Google Groups"
        },
        "https://www.googleapis.com/auth/forms.currentonly": {
          "description": "View and manage forms that this application has been installed in"
        },
        "https://www.googleapis.com/auth/script.projects": {
          "description": "Create and update Google Apps Script projects"
        },
        "https://mail.google.com/": {
          "description": "Read, compose, send, and permanently delete all your email from Gmail"
        },
        "https://www.google.com/calendar/feeds": {
          "description": "See, edit, share, and permanently delete all the calendars you can access using Google Calendar"
        },
        "https://www.google.com/m8/feeds": {
          "description": "See, edit, download, and permanently delete your contacts"
        },
        "https://www.googleapis.com/auth/spreadsheets": {
          "description": "See, edit, create, and delete all your Google Sheets spreadsheets"
        },
        "https://www.googleapis.com/auth/script.deployments": {
          "description": "Create and update Google Apps Script deployments"
        },
        "https://www.googleapis.com/auth/drive": {
          "description": "See, edit, create, and delete all of your Google Drive files"
        },
        "https://www.googleapis.com/auth/forms": {
          "description": "View and manage your forms in Google Drive"
        },
        "https://www.googleapis.com/auth/script.projects.readonly": {
          "description": "View Google Apps Script projects"
        },
        "https://www.googleapis.com/auth/admin.directory.group": {
          "description": "View and manage the provisioning of groups on your domain"
        },
        "https://www.googleapis.com/auth/script.processes": {
          "description": "View Google Apps Script processes"
        },
        "https://www.googleapis.com/auth/documents": {
          "description": "See, edit, create, and delete all your Google Docs documents"
        },
        "https://www.googleapis.com/auth/script.metrics": {
          "description": "View Google Apps Script project's metrics"
        }
      }
    }
  },
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "baseUrl": "https://script.googleapis.com/",
  "id": "script:v1",
  "mtlsRootUrl": "https://script.mtls.googleapis.com/",
  "servicePath": "",
  "canonicalName": "Script",
  "schemas": {
    "GoogleAppsScriptTypeExecutionApiConfig": {
      "id": "GoogleAppsScriptTypeExecutionApiConfig",
      "description": "API executable entry point configuration.",
      "type": "object",
      "properties": {
        "access": {
          "description": "Who has permission to run the API executable.",
          "type": "string",
          "enum": [
            "UNKNOWN_ACCESS",
            "MYSELF",
            "DOMAIN",
            "ANYONE",
            "ANYONE_ANONYMOUS"
          ],
          "enumDescriptions": [
            "Default value, should not be used.",
            "Only the user who deployed the web app or executable can access it. Note that this is not necessarily the owner of the script project.",
            "Only users in the same domain as the user who deployed the web app or executable can access it.",
            "Any logged in user can access the web app or executable.",
            "Any user, logged in or not, can access the web app or executable."
          ]
        }
      }
    },
    "UpdateDeploymentRequest": {
      "id": "UpdateDeploymentRequest",
      "properties": {
        "deploymentConfig": {
          "description": "The deployment configuration.",
          "$ref": "DeploymentConfig"
        }
      },
      "description": "Request with deployment information to update an existing deployment.",
      "type": "object"
    },
    "GoogleAppsScriptTypeProcess": {
      "properties": {
        "userAccessLevel": {
          "type": "string",
          "enum": [
            "USER_ACCESS_LEVEL_UNSPECIFIED",
            "NONE",
            "READ",
            "WRITE",
            "OWNER"
          ],
          "enumDescriptions": [
            "User access level unspecified",
            "The user has no access.",
            "The user has read-only access.",
            "The user has write access.",
            "The user is an owner."
          ],
          "description": "The executing users access level to the script."
        },
        "functionName": {
          "description": "Name of the function the started the execution.",
          "type": "string"
        },
        "processStatus": {
          "type": "string",
          "enum": [
            "PROCESS_STATUS_UNSPECIFIED",
            "RUNNING",
            "PAUSED",
            "COMPLETED",
            "CANCELED",
            "FAILED",
            "TIMED_OUT",
            "UNKNOWN",
            "DELAYED",
            "EXECUTION_DISABLED"
          ],
          "enumDescriptions": [
            "Unspecified status.",
            "The process is currently running.",
            "The process has paused.",
            "The process has completed.",
            "The process was cancelled.",
            "The process failed.",
            "The process timed out.",
            "Process status unknown.",
            "The process is delayed, waiting for quota.",
            "AppsScript executions are disabled by Admin."
          ],
          "description": "The executions status."
        },
        "startTime": {
          "format": "google-datetime",
          "description": "Time the execution started.",
          "type": "string"
        },
        "duration": {
          "format": "google-duration",
          "description": "Duration the execution spent executing.",
          "type": "string"
        },
        "projectName": {
          "type": "string",
          "description": "Name of the script being executed."
        },
        "runtimeVersion": {
          "enumDescriptions": [
            "Runtime version unset / unknown.",
            "Legacy rhino version of the Apps script runtime",
            "Current default V8 version of the apps script runtime."
          ],
          "description": "Which version of maestro to use to execute the script.",
          "type": "string",
          "enum": [
            "RUNTIME_VERSION_UNSPECIFIED",
            "DEPRECATED_ES5",
            "V8"
          ]
        },
        "processType": {
          "description": "The executions type.",
          "enumDescriptions": [
            "Unspecified type.",
            "The process was started from an add-on entry point.",
            "The process was started using the Apps Script API.",
            "The process was started from a time-based trigger.",
            "The process was started from an event-based trigger.",
            "The process was started from a web app entry point.",
            "The process was started using the Apps Script IDE.",
            "The process was started from a G Suite simple trigger.",
            "The process was started from a G Suite menu item.",
            "The process was started as a task in a batch job."
          ],
          "type": "string",
          "enum": [
            "PROCESS_TYPE_UNSPECIFIED",
            "ADD_ON",
            "EXECUTION_API",
            "TIME_DRIVEN",
            "TRIGGER",
            "WEBAPP",
            "EDITOR",
            "SIMPLE_TRIGGER",
            "MENU",
            "BATCH_TASK"
          ]
        }
      },
      "id": "GoogleAppsScriptTypeProcess",
      "description": "Representation of a single script process execution that was started from the script editor, a trigger, an application, or using the Apps Script API. This is distinct from the `Operation` resource, which only represents executions started via the Apps Script API.",
      "type": "object"
    },
    "Empty": {
      "id": "Empty",
      "type": "object",
      "properties": {},
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }"
    },
    "EntryPoint": {
      "properties": {
        "addOn": {
          "$ref": "GoogleAppsScriptTypeAddOnEntryPoint",
          "description": "Add-on properties."
        },
        "webApp": {
          "$ref": "GoogleAppsScriptTypeWebAppEntryPoint",
          "description": "An entry point specification for web apps."
        },
        "entryPointType": {
          "description": "The type of the entry point.",
          "type": "string",
          "enum": [
            "ENTRY_POINT_TYPE_UNSPECIFIED",
            "WEB_APP",
            "EXECUTION_API",
            "ADD_ON"
          ],
          "enumDescriptions": [
            "An unspecified entry point.",
            "A web application entry point.",
            "An API executable entry point.",
            "An Add-On entry point."
          ]
        },
        "executionApi": {
          "$ref": "GoogleAppsScriptTypeExecutionApiEntryPoint",
          "description": "An entry point specification for Apps Script API execution calls."
        }
      },
      "type": "object",
      "description": "A configuration that defines how a deployment is accessed externally.",
      "id": "EntryPoint"
    },
    "GoogleAppsScriptTypeWebAppEntryPoint": {
      "description": "A web application entry point.",
      "id": "GoogleAppsScriptTypeWebAppEntryPoint",
      "properties": {
        "entryPointConfig": {
          "description": "The entry point's configuration.",
          "$ref": "GoogleAppsScriptTypeWebAppConfig"
        },
        "url": {
          "description": "The URL for the web application.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleAppsScriptTypeFunctionSet": {
      "description": "A set of functions. No duplicates are permitted.",
      "id": "GoogleAppsScriptTypeFunctionSet",
      "properties": {
        "values": {
          "items": {
            "$ref": "GoogleAppsScriptTypeFunction"
          },
          "type": "array",
          "description": "A list of functions composing the set."
        }
      },
      "type": "object"
    },
    "ExecutionError": {
      "type": "object",
      "id": "ExecutionError",
      "description": "An object that provides information about the nature of an error resulting from an attempted execution of a script function using the Apps Script API. If a run call succeeds but the script function (or Apps Script itself) throws an exception, the response body's error field contains a Status object. The `Status` object's `details` field contains an array with a single one of these `ExecutionError` objects.",
      "properties": {
        "errorType": {
          "description": "The error type, for example `TypeError` or `ReferenceError`. If the error type is unavailable, this field is not included.",
          "type": "string"
        },
        "scriptStackTraceElements": {
          "description": "An array of objects that provide a stack trace through the script to show where the execution failed, with the deepest call first.",
          "type": "array",
          "items": {
            "$ref": "ScriptStackTraceElement"
          }
        },
        "errorMessage": {
          "description": "The error message thrown by Apps Script, usually localized into the user's language.",
          "type": "string"
        }
      }
    },
    "Project": {
      "id": "Project",
      "description": "The script project resource.",
      "type": "object",
      "properties": {
        "lastModifyUser": {
          "description": "User who last modified the script.",
          "$ref": "GoogleAppsScriptTypeUser"
        },
        "scriptId": {
          "description": "The script project's Drive ID.",
          "type": "string"
        },
        "title": {
          "description": "The title for the project.",
          "type": "string"
        },
        "parentId": {
          "type": "string",
          "description": "The parent's Drive ID that the script will be attached to. This is usually the ID of a Google Document or Google Sheet. This field is optional, and if not set, a stand-alone script will be created."
        },
        "updateTime": {
          "description": "When the script was last updated.",
          "format": "google-datetime",
          "type": "string"
        },
        "creator": {
          "description": "User who originally created the script.",
          "$ref": "GoogleAppsScriptTypeUser"
        },
        "createTime": {
          "description": "When the script was created.",
          "type": "string",
          "format": "google-datetime"
        }
      }
    },
    "Content": {
      "id": "Content",
      "description": "The Content resource.",
      "type": "object",
      "properties": {
        "scriptId": {
          "description": "The script project's Drive ID.",
          "type": "string"
        },
        "files": {
          "description": "The list of script project files. One of the files is a script manifest; it must be named \"appsscript\", must have type of JSON, and include the manifest configurations for the project.",
          "items": {
            "$ref": "File"
          },
          "type": "array"
        }
      }
    },
    "ListVersionsResponse": {
      "id": "ListVersionsResponse",
      "type": "object",
      "properties": {
        "versions": {
          "description": "The list of versions.",
          "type": "array",
          "items": {
            "$ref": "Version"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "The token use to fetch the next page of records. if not exist in the response, that means no more versions to list."
        }
      },
      "description": "Response with the list of the versions for the specified script project."
    },
    "ListUserProcessesResponse": {
      "properties": {
        "nextPageToken": {
          "description": "Token for the next page of results. If empty, there are no more pages remaining.",
          "type": "string"
        },
        "processes": {
          "description": "List of processes matching request parameters.",
          "items": {
            "$ref": "GoogleAppsScriptTypeProcess"
          },
          "type": "array"
        }
      },
      "id": "ListUserProcessesResponse",
      "type": "object",
      "description": "Response with the list of Process resources."
    },
    "ListDeploymentsResponse": {
      "description": "Response with the list of deployments for the specified Apps Script project.",
      "type": "object",
      "properties": {
        "deployments": {
          "items": {
            "$ref": "Deployment"
          },
          "type": "array",
          "description": "The list of deployments."
        },
        "nextPageToken": {
          "type": "string",
          "description": "The token that can be used in the next call to get the next page of results."
        }
      },
      "id": "ListDeploymentsResponse"
    },
    "ExecutionResponse": {
      "properties": {
        "result": {
          "type": "any",
          "description": "The return value of the script function. The type matches the object type returned in Apps Script. Functions called using the Apps Script API cannot return Apps Script-specific objects (such as a `Document` or a `Calendar`); they can only return primitive types such as a `string`, `number`, `array`, `object`, or `boolean`."
        }
      },
      "type": "object",
      "id": "ExecutionResponse",
      "description": "An object that provides the return value of a function executed using the Apps Script API. If the script function returns successfully, the response body's response field contains this `ExecutionResponse` object."
    },
    "GoogleAppsScriptTypeExecutionApiEntryPoint": {
      "properties": {
        "entryPointConfig": {
          "$ref": "GoogleAppsScriptTypeExecutionApiConfig",
          "description": "The entry point's configuration."
        }
      },
      "id": "GoogleAppsScriptTypeExecutionApiEntryPoint",
      "description": "An API executable entry point.",
      "type": "object"
    },
    "ExecutionRequest": {
      "id": "ExecutionRequest",
      "description": "A request to run the function in a script. The script is identified by the specified `script_id`. Executing a function on a script returns results based on the implementation of the script.",
      "properties": {
        "function": {
          "description": "The name of the function to execute in the given script. The name does not include parentheses or parameters. It can reference a function in an included library such as `Library.libFunction1`.",
          "type": "string"
        },
        "parameters": {
          "type": "array",
          "description": "The parameters to be passed to the function being executed. The object type for each parameter should match the expected type in Apps Script. Parameters cannot be Apps Script-specific object types (such as a `Document` or a `Calendar`); they can only be primitive types such as `string`, `number`, `array`, `object`, or `boolean`. Optional.",
          "items": {
            "type": "any"
          }
        },
        "sessionState": {
          "type": "string",
          "description": "*Deprecated*. For use with Android add-ons only. An ID that represents the user's current session in the Android app for Google Docs or Sheets, included as extra data in the [Intent](https://developer.android.com/guide/components/intents-filters.html) that launches the add-on. When an Android add-on is run with a session state, it gains the privileges of a [bound](https://developers.google.com/apps-script/guides/bound) script—that is, it can access information like the user's current cursor position (in Docs) or selected cell (in Sheets). To retrieve the state, call `Intent.getStringExtra(\"com.google.android.apps.docs.addons.SessionState\")`. Optional."
        },
        "devMode": {
          "description": "If `true` and the user is an owner of the script, the script runs at the most recently saved version rather than the version deployed for use with the Apps Script API. Optional; default is `false`.",
          "type": "boolean"
        }
      },
      "type": "object"
    },
    "Version": {
      "description": "A resource representing a script project version. A version is a \"snapshot\" of a script project and is similar to a read-only branched release. When creating deployments, the version to use must be specified.",
      "type": "object",
      "id": "Version",
      "properties": {
        "createTime": {
          "description": "When the version was created.",
          "format": "google-datetime",
          "type": "string"
        },
        "scriptId": {
          "description": "The script project's Drive ID.",
          "type": "string"
        },
        "versionNumber": {
          "type": "integer",
          "description": "The incremental ID that is created by Apps Script when a version is created. This is system assigned number and is immutable once created.",
          "format": "int32"
        },
        "description": {
          "type": "string",
          "description": "The description for this version."
        }
      }
    },
    "GoogleAppsScriptTypeAddOnEntryPoint": {
      "type": "object",
      "description": "An add-on entry point.",
      "id": "GoogleAppsScriptTypeAddOnEntryPoint",
      "properties": {
        "description": {
          "type": "string",
          "description": "The add-on's optional description."
        },
        "addOnType": {
          "type": "string",
          "enum": [
            "UNKNOWN_ADDON_TYPE",
            "GMAIL",
            "DATA_STUDIO"
          ],
          "enumDescriptions": [
            "Default value, unknown add-on type.",
            "Add-on type for Gmail.",
            "Add-on type for Data Studio."
          ],
          "description": "The add-on's required list of supported container types."
        },
        "reportIssueUrl": {
          "description": "The add-on's optional report issue URL.",
          "type": "string"
        },
        "helpUrl": {
          "description": "The add-on's optional help URL.",
          "type": "string"
        },
        "postInstallTipUrl": {
          "description": "The add-on's required post install tip URL.",
          "type": "string"
        },
        "title": {
          "description": "The add-on's required title.",
          "type": "string"
        }
      }
    },
    "ListScriptProcessesResponse": {
      "description": "Response with the list of Process resources.",
      "id": "ListScriptProcessesResponse",
      "properties": {
        "processes": {
          "description": "List of processes matching request parameters.",
          "items": {
            "$ref": "GoogleAppsScriptTypeProcess"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "Token for the next page of results. If empty, there are no more pages remaining.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "Metrics": {
      "properties": {
        "activeUsers": {
          "items": {
            "$ref": "MetricsValue"
          },
          "type": "array",
          "description": "Number of active users."
        },
        "totalExecutions": {
          "description": "Number of total executions.",
          "type": "array",
          "items": {
            "$ref": "MetricsValue"
          }
        },
        "failedExecutions": {
          "description": "Number of failed executions.",
          "items": {
            "$ref": "MetricsValue"
          },
          "type": "array"
        }
      },
      "id": "Metrics",
      "type": "object",
      "description": "Resource containing usage stats for a given script, based on the supplied filter and mask present in the request."
    },
    "File": {
      "properties": {
        "lastModifyUser": {
          "description": "The user who modified the file most recently. The details visible in this object are controlled by the profile visibility settings of the last modifying user.",
          "$ref": "GoogleAppsScriptTypeUser"
        },
        "name": {
          "description": "The name of the file. The file extension is not part of the file name, which can be identified from the type field.",
          "type": "string"
        },
        "functionSet": {
          "description": "The defined set of functions in the script file, if any.",
          "$ref": "GoogleAppsScriptTypeFunctionSet"
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Creation date timestamp."
        },
        "updateTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Last modified date timestamp."
        },
        "source": {
          "description": "The file content.",
          "type": "string"
        },
        "type": {
          "description": "The type of the file.",
          "type": "string",
          "enum": [
            "ENUM_TYPE_UNSPECIFIED",
            "SERVER_JS",
            "HTML",
            "JSON"
          ],
          "enumDescriptions": [
            "Undetermined file type; never actually used.",
            "An Apps Script server-side code file.",
            "A file containing client-side HTML.",
            "A file in JSON format. This type is only used for the script project's manifest. The manifest file content must match the structure of a valid [ScriptManifest](/apps-script/concepts/manifests)"
          ]
        }
      },
      "description": "An individual file within a script project. A file is a third-party source code created by one or more developers. It can be a server-side JS code, HTML, or a configuration file. Each script project can contain multiple files.",
      "id": "File",
      "type": "object"
    },
    "GoogleAppsScriptTypeUser": {
      "id": "GoogleAppsScriptTypeUser",
      "description": "A simple user profile resource.",
      "type": "object",
      "properties": {
        "photoUrl": {
          "description": "The user's photo.",
          "type": "string"
        },
        "domain": {
          "type": "string",
          "description": "The user's domain."
        },
        "name": {
          "type": "string",
          "description": "The user's display name."
        },
        "email": {
          "description": "The user's identifying email address.",
          "type": "string"
        }
      }
    },
    "Status": {
      "properties": {
        "message": {
          "description": "A developer-facing error message, which is in English. Any user-facing error message is localized and sent in the details field, or localized by the client.",
          "type": "string"
        },
        "code": {
          "description": "The status code. For this API, this value either: - 10, indicating a `SCRIPT_TIMEOUT` error, - 3, indicating an `INVALID_ARGUMENT` error, or - 1, indicating a `CANCELLED` execution. ",
          "type": "integer",
          "format": "int32"
        },
        "details": {
          "type": "array",
          "description": "An array that contains a single ExecutionError object that provides information about the nature of the error.",
          "items": {
            "additionalProperties": {
              "description": "Properties of the object. Contains field @type with type URL.",
              "type": "any"
            },
            "type": "object"
          }
        }
      },
      "type": "object",
      "id": "Status",
      "description": "If a `run` call succeeds but the script function (or Apps Script itself) throws an exception, the response body's error field contains this `Status` object."
    },
    "Deployment": {
      "properties": {
        "deploymentConfig": {
          "description": "The deployment configuration.",
          "$ref": "DeploymentConfig"
        },
        "deploymentId": {
          "description": "The deployment ID for this deployment.",
          "type": "string"
        },
        "updateTime": {
          "description": "Last modified date time stamp.",
          "type": "string",
          "format": "google-datetime"
        },
        "entryPoints": {
          "items": {
            "$ref": "EntryPoint"
          },
          "type": "array",
          "description": "The deployment's entry points."
        }
      },
      "description": "Representation of a single script deployment.",
      "id": "Deployment",
      "type": "object"
    },
    "GoogleAppsScriptTypeWebAppConfig": {
      "type": "object",
      "id": "GoogleAppsScriptTypeWebAppConfig",
      "properties": {
        "executeAs": {
          "description": "Who to execute the web app as.",
          "enumDescriptions": [
            "Default value, should not be used.",
            "The script runs as the user accessing the web app.",
            "The script runs as the user who deployed the web app. Note that this is not necessarily the owner of the script project."
          ],
          "type": "string",
          "enum": [
            "UNKNOWN_EXECUTE_AS",
            "USER_ACCESSING",
            "USER_DEPLOYING"
          ]
        },
        "access": {
          "type": "string",
          "enum": [
            "UNKNOWN_ACCESS",
            "MYSELF",
            "DOMAIN",
            "ANYONE",
            "ANYONE_ANONYMOUS"
          ],
          "enumDescriptions": [
            "Default value, should not be used.",
            "Only the user who deployed the web app or executable can access it. Note that this is not necessarily the owner of the script project.",
            "Only users in the same domain as the user who deployed the web app or executable can access it.",
            "Any logged in user can access the web app or executable.",
            "Any user, logged in or not, can access the web app or executable."
          ],
          "description": "Who has permission to run the web app."
        }
      },
      "description": "Web app entry point configuration."
    },
    "ScriptStackTraceElement": {
      "description": "A stack trace through the script that shows where the execution failed.",
      "type": "object",
      "id": "ScriptStackTraceElement",
      "properties": {
        "function": {
          "description": "The name of the function that failed.",
          "type": "string"
        },
        "lineNumber": {
          "format": "int32",
          "description": "The line number where the script failed.",
          "type": "integer"
        }
      }
    },
    "MetricsValue": {
      "type": "object",
      "id": "MetricsValue",
      "description": "Metrics value that holds number of executions counted.",
      "properties": {
        "value": {
          "type": "string",
          "format": "uint64",
          "description": "Indicates the number of executions counted."
        },
        "startTime": {
          "format": "google-datetime",
          "description": "Required field indicating the start time of the interval.",
          "type": "string"
        },
        "endTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Required field indicating the end time of the interval."
        }
      }
    },
    "GoogleAppsScriptTypeFunction": {
      "id": "GoogleAppsScriptTypeFunction",
      "properties": {
        "name": {
          "type": "string",
          "description": "The function name in the script project."
        },
        "parameters": {
          "description": "The ordered list of parameter names of the function in the script project.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "Represents a function in a script project.",
      "type": "object"
    },
    "Operation": {
      "description": "A representation of an execution of an Apps Script function started with run. The execution response does not arrive until the function finishes executing. The maximum execution runtime is listed in the [Apps Script quotas guide](/apps-script/guides/services/quotas#current_limitations). After execution has started, it can have one of four outcomes: - If the script function returns successfully, the response field contains an ExecutionResponse object with the function's return value in the object's `result` field. - If the script function (or Apps Script itself) throws an exception, the error field contains a Status object. The `Status` object's `details` field contains an array with a single ExecutionError object that provides information about the nature of the error. - If the execution has not yet completed, the done field is `false` and the neither the `response` nor `error` fields are present. - If the `run` call itself fails (for example, because of a malformed request or an authorization error), the method returns an HTTP response code in the 4XX range with a different format for the response body. Client libraries automatically convert a 4XX response into an exception class. ",
      "id": "Operation",
      "type": "object",
      "properties": {
        "done": {
          "description": "This field indicates whether the script execution has completed. A completed execution has a populated `response` field containing the ExecutionResponse from function that was executed.",
          "type": "boolean"
        },
        "response": {
          "description": "If the script function returns successfully, this field contains an ExecutionResponse object with the function's return value.",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "type": "object"
        },
        "error": {
          "description": "If a `run` call succeeds but the script function (or Apps Script itself) throws an exception, this field contains a Status object. The `Status` object's `details` field contains an array with a single ExecutionError object that provides information about the nature of the error.",
          "$ref": "Status"
        }
      }
    },
    "DeploymentConfig": {
      "properties": {
        "manifestFileName": {
          "type": "string",
          "description": "The manifest file name for this deployment."
        },
        "versionNumber": {
          "format": "int32",
          "type": "integer",
          "description": "The version number on which this deployment is based."
        },
        "description": {
          "description": "The description for this deployment.",
          "type": "string"
        },
        "scriptId": {
          "description": "The script project's Drive ID.",
          "type": "string"
        }
      },
      "id": "DeploymentConfig",
      "type": "object",
      "description": "Metadata the defines how a deployment is configured."
    },
    "CreateProjectRequest": {
      "type": "object",
      "properties": {
        "title": {
          "description": "The title for the project.",
          "type": "string"
        },
        "parentId": {
          "description": "The Drive ID of a parent file that the created script project is bound to. This is usually the ID of a Google Doc, Google Sheet, Google Form, or Google Slides file. If not set, a standalone script project is created.",
          "type": "string"
        }
      },
      "id": "CreateProjectRequest",
      "description": "Request to create a script project."
    }
  },
  "kind": "discovery#restDescription",
  "documentationLink": "https://developers.google.com/apps-script/api/",
  "ownerDomain": "google.com",
  "description": "Manages and executes Google Apps Script projects. ",
  "protocol": "rest"
}