{
  "parameters": {
    "uploadType": {
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string"
    },
    "access_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth access token."
    },
    "callback": {
      "type": "string",
      "location": "query",
      "description": "JSONP"
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "oauth_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth 2.0 token for the current user."
    },
    "quotaUser": {
      "type": "string",
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "alt": {
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "default": "json",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "type": "string",
      "description": "Data format for response.",
      "location": "query"
    },
    "upload_protocol": {
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string"
    },
    "prettyPrint": {
      "default": "true",
      "location": "query",
      "type": "boolean",
      "description": "Returns response with indentations and line breaks."
    },
    "$.xgafv": {
      "location": "query",
      "description": "V1 error format.",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string",
      "enum": [
        "1",
        "2"
      ]
    }
  },
  "discoveryVersion": "v1",
  "version_module": true,
  "ownerDomain": "google.com",
  "kind": "discovery#restDescription",
  "ownerName": "Google",
  "basePath": "",
  "name": "searchconsole",
  "mtlsRootUrl": "https://searchconsole.mtls.googleapis.com/",
  "fullyEncodeReservedExpansion": true,
  "description": "The Search Console API provides access to both Search Console data (verified users only) and to public information on an URL basis (anyone)",
  "id": "searchconsole:v1",
  "batchPath": "batch",
  "rootUrl": "https://searchconsole.googleapis.com/",
  "baseUrl": "https://searchconsole.googleapis.com/",
  "servicePath": "",
  "resources": {
    "sitemaps": {
      "methods": {
        "list": {
          "httpMethod": "GET",
          "path": "webmasters/v3/sites/{siteUrl}/sitemaps",
          "response": {
            "$ref": "SitemapsListResponse"
          },
          "parameters": {
            "siteUrl": {
              "location": "path",
              "required": true,
              "description": "The site's URL, including protocol. For example: `http://www.example.com/`.",
              "type": "string"
            },
            "sitemapIndex": {
              "type": "string",
              "description": " A URL of a site's sitemap index. For example: `http://www.example.com/sitemapindex.xml`.",
              "location": "query"
            }
          },
          "flatPath": "webmasters/v3/sites/{siteUrl}/sitemaps",
          "parameterOrder": [
            "siteUrl"
          ],
          "description": " Lists the [sitemaps-entries](/webmaster-tools/v3/sitemaps) submitted for this site, or included in the sitemap index file (if `sitemapIndex` is specified in the request).",
          "scopes": [
            "https://www.googleapis.com/auth/webmasters",
            "https://www.googleapis.com/auth/webmasters.readonly"
          ],
          "id": "webmasters.sitemaps.list"
        },
        "delete": {
          "path": "webmasters/v3/sites/{siteUrl}/sitemaps/{feedpath}",
          "description": "Deletes a sitemap from the Sitemaps report. Does not stop Google from crawling this sitemap or the URLs that were previously crawled in the deleted sitemap.",
          "id": "webmasters.sitemaps.delete",
          "flatPath": "webmasters/v3/sites/{siteUrl}/sitemaps/{feedpath}",
          "httpMethod": "DELETE",
          "parameterOrder": [
            "siteUrl",
            "feedpath"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/webmasters"
          ],
          "parameters": {
            "siteUrl": {
              "type": "string",
              "location": "path",
              "required": true,
              "description": "The site's URL, including protocol. For example: `http://www.example.com/`."
            },
            "feedpath": {
              "location": "path",
              "required": true,
              "description": "The URL of the actual sitemap. For example: `http://www.example.com/sitemap.xml`.",
              "type": "string"
            }
          }
        },
        "get": {
          "path": "webmasters/v3/sites/{siteUrl}/sitemaps/{feedpath}",
          "description": "Retrieves information about a specific sitemap.",
          "parameterOrder": [
            "siteUrl",
            "feedpath"
          ],
          "response": {
            "$ref": "WmxSitemap"
          },
          "flatPath": "webmasters/v3/sites/{siteUrl}/sitemaps/{feedpath}",
          "scopes": [
            "https://www.googleapis.com/auth/webmasters",
            "https://www.googleapis.com/auth/webmasters.readonly"
          ],
          "id": "webmasters.sitemaps.get",
          "httpMethod": "GET",
          "parameters": {
            "siteUrl": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "The site's URL, including protocol. For example: `http://www.example.com/`."
            },
            "feedpath": {
              "description": "The URL of the actual sitemap. For example: `http://www.example.com/sitemap.xml`.",
              "type": "string",
              "location": "path",
              "required": true
            }
          }
        },
        "submit": {
          "flatPath": "webmasters/v3/sites/{siteUrl}/sitemaps/{feedpath}",
          "scopes": [
            "https://www.googleapis.com/auth/webmasters"
          ],
          "parameters": {
            "siteUrl": {
              "type": "string",
              "location": "path",
              "required": true,
              "description": "The site's URL, including protocol. For example: `http://www.example.com/`."
            },
            "feedpath": {
              "type": "string",
              "description": "The URL of the actual sitemap. For example: `http://www.example.com/sitemap.xml`.",
              "location": "path",
              "required": true
            }
          },
          "parameterOrder": [
            "siteUrl",
            "feedpath"
          ],
          "httpMethod": "PUT",
          "path": "webmasters/v3/sites/{siteUrl}/sitemaps/{feedpath}",
          "description": "Submits a sitemap for a site.",
          "id": "webmasters.sitemaps.submit"
        }
      }
    },
    "urlInspection": {
      "resources": {
        "index": {
          "methods": {
            "inspect": {
              "httpMethod": "POST",
              "response": {
                "$ref": "InspectUrlIndexResponse"
              },
              "parameters": {},
              "id": "searchconsole.urlInspection.index.inspect",
              "flatPath": "v1/urlInspection/index:inspect",
              "scopes": [
                "https://www.googleapis.com/auth/webmasters",
                "https://www.googleapis.com/auth/webmasters.readonly"
              ],
              "description": "Index inspection.",
              "request": {
                "$ref": "InspectUrlIndexRequest"
              },
              "path": "v1/urlInspection/index:inspect",
              "parameterOrder": []
            }
          }
        }
      }
    },
    "urlTestingTools": {
      "resources": {
        "mobileFriendlyTest": {
          "methods": {
            "run": {
              "parameters": {},
              "description": "Runs Mobile-Friendly Test for a given URL.",
              "path": "v1/urlTestingTools/mobileFriendlyTest:run",
              "httpMethod": "POST",
              "id": "searchconsole.urlTestingTools.mobileFriendlyTest.run",
              "parameterOrder": [],
              "request": {
                "$ref": "RunMobileFriendlyTestRequest"
              },
              "response": {
                "$ref": "RunMobileFriendlyTestResponse"
              },
              "flatPath": "v1/urlTestingTools/mobileFriendlyTest:run"
            }
          }
        }
      }
    },
    "sites": {
      "methods": {
        "list": {
          "scopes": [
            "https://www.googleapis.com/auth/webmasters",
            "https://www.googleapis.com/auth/webmasters.readonly"
          ],
          "parameters": {},
          "parameterOrder": [],
          "id": "webmasters.sites.list",
          "httpMethod": "GET",
          "path": "webmasters/v3/sites",
          "response": {
            "$ref": "SitesListResponse"
          },
          "description": " Lists the user's Search Console sites.",
          "flatPath": "webmasters/v3/sites"
        },
        "add": {
          "httpMethod": "PUT",
          "description": " Adds a site to the set of the user's sites in Search Console.",
          "scopes": [
            "https://www.googleapis.com/auth/webmasters"
          ],
          "flatPath": "webmasters/v3/sites/{siteUrl}",
          "parameters": {
            "siteUrl": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "The URL of the site to add."
            }
          },
          "path": "webmasters/v3/sites/{siteUrl}",
          "id": "webmasters.sites.add",
          "parameterOrder": [
            "siteUrl"
          ]
        },
        "get": {
          "parameters": {
            "siteUrl": {
              "type": "string",
              "location": "path",
              "required": true,
              "description": "The URI of the property as defined in Search Console. **Examples:** `http://www.example.com/` or `sc-domain:example.com`."
            }
          },
          "httpMethod": "GET",
          "id": "webmasters.sites.get",
          "description": " Retrieves information about specific site.",
          "scopes": [
            "https://www.googleapis.com/auth/webmasters",
            "https://www.googleapis.com/auth/webmasters.readonly"
          ],
          "parameterOrder": [
            "siteUrl"
          ],
          "path": "webmasters/v3/sites/{siteUrl}",
          "flatPath": "webmasters/v3/sites/{siteUrl}",
          "response": {
            "$ref": "WmxSite"
          }
        },
        "delete": {
          "parameterOrder": [
            "siteUrl"
          ],
          "parameters": {
            "siteUrl": {
              "location": "path",
              "required": true,
              "description": "The URI of the property as defined in Search Console. **Examples:** `http://www.example.com/` or `sc-domain:example.com`.",
              "type": "string"
            }
          },
          "flatPath": "webmasters/v3/sites/{siteUrl}",
          "path": "webmasters/v3/sites/{siteUrl}",
          "httpMethod": "DELETE",
          "id": "webmasters.sites.delete",
          "description": " Removes a site from the set of the user's Search Console sites.",
          "scopes": [
            "https://www.googleapis.com/auth/webmasters"
          ]
        }
      }
    },
    "searchanalytics": {
      "methods": {
        "query": {
          "scopes": [
            "https://www.googleapis.com/auth/webmasters",
            "https://www.googleapis.com/auth/webmasters.readonly"
          ],
          "httpMethod": "POST",
          "path": "webmasters/v3/sites/{siteUrl}/searchAnalytics/query",
          "parameters": {
            "siteUrl": {
              "type": "string",
              "description": "The site's URL, including protocol. For example: `http://www.example.com/`.",
              "location": "path",
              "required": true
            }
          },
          "request": {
            "$ref": "SearchAnalyticsQueryRequest"
          },
          "description": "Query your data with filters and parameters that you define. Returns zero or more rows grouped by the row keys that you define. You must define a date range of one or more days. When date is one of the group by values, any days without data are omitted from the result list. If you need to know which days have data, issue a broad date range query grouped by date for any metric, and see which day rows are returned.",
          "id": "webmasters.searchanalytics.query",
          "response": {
            "$ref": "SearchAnalyticsQueryResponse"
          },
          "parameterOrder": [
            "siteUrl"
          ],
          "flatPath": "webmasters/v3/sites/{siteUrl}/searchAnalytics/query"
        }
      }
    }
  },
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "schemas": {
    "SitesListResponse": {
      "description": "List of sites with access level information.",
      "properties": {
        "siteEntry": {
          "description": "Contains permission level information about a Search Console site. For more information, see [Permissions in Search Console](https://support.google.com/webmasters/answer/2451999).",
          "items": {
            "$ref": "WmxSite"
          },
          "type": "array"
        }
      },
      "id": "SitesListResponse",
      "type": "object"
    },
    "TestStatus": {
      "properties": {
        "status": {
          "enum": [
            "TEST_STATUS_UNSPECIFIED",
            "COMPLETE",
            "INTERNAL_ERROR",
            "PAGE_UNREACHABLE"
          ],
          "type": "string",
          "description": "Status of the test.",
          "enumDescriptions": [
            "Internal error when running this test. Please try running the test again.",
            "Inspection has completed without errors.",
            "Inspection terminated in an error state. This indicates a problem in Google's infrastructure, not a user error. Please try again later.",
            "Google can not access the URL because of a user error such as a robots.txt blockage, a 403 or 500 code etc. Please make sure that the URL provided is accessible by Googlebot and is not password protected."
          ]
        },
        "details": {
          "description": "Error details if applicable.",
          "type": "string"
        }
      },
      "description": "Final state of the test, including error details if necessary.",
      "type": "object",
      "id": "TestStatus"
    },
    "MobileUsabilityIssue": {
      "type": "object",
      "description": "Mobile-usability issue.",
      "id": "MobileUsabilityIssue",
      "properties": {
        "issueType": {
          "description": "Mobile-usability issue type.",
          "enum": [
            "MOBILE_USABILITY_ISSUE_TYPE_UNSPECIFIED",
            "USES_INCOMPATIBLE_PLUGINS",
            "CONFIGURE_VIEWPORT",
            "FIXED_WIDTH_VIEWPORT",
            "SIZE_CONTENT_TO_VIEWPORT",
            "USE_LEGIBLE_FONT_SIZES",
            "TAP_TARGETS_TOO_CLOSE"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unknown issue. Sorry, we don't have any description for the rule that was broken.",
            "Plugins incompatible with mobile devices are being used. [Learn more] (https://support.google.com/webmasters/answer/6352293#flash_usage#error-list).",
            "Viewport is not specified using the meta viewport tag. [Learn more] (https://support.google.com/webmasters/answer/6352293#viewport_not_configured#error-list).",
            "Viewport defined to a fixed width. [Learn more] (https://support.google.com/webmasters/answer/6352293#fixed-width_viewport#error-list).",
            "Content not sized to viewport. [Learn more] (https://support.google.com/webmasters/answer/6352293#content_not_sized_to_viewport#error-list).",
            "Font size is too small for easy reading on a small screen. [Learn More] (https://support.google.com/webmasters/answer/6352293#small_font_size#error-list).",
            "Touch elements are too close to each other. [Learn more] (https://support.google.com/webmasters/answer/6352293#touch_elements_too_close#error-list)."
          ]
        },
        "message": {
          "description": "Additional information regarding the issue.",
          "type": "string"
        },
        "severity": {
          "type": "string",
          "description": "Not returned; reserved for future use.",
          "enum": [
            "SEVERITY_UNSPECIFIED",
            "WARNING",
            "ERROR"
          ],
          "enumDescriptions": [
            "Unknown severity.",
            "Warning.",
            "Error."
          ]
        }
      }
    },
    "InspectUrlIndexResponse": {
      "type": "object",
      "properties": {
        "inspectionResult": {
          "description": "URL inspection results.",
          "$ref": "UrlInspectionResult"
        }
      },
      "description": "Index-Status inspection response.",
      "id": "InspectUrlIndexResponse"
    },
    "ResourceIssue": {
      "properties": {
        "blockedResource": {
          "$ref": "BlockedResource",
          "description": "Describes a blocked resource issue."
        }
      },
      "id": "ResourceIssue",
      "type": "object",
      "description": "Information about a resource with issue."
    },
    "MobileFriendlyIssue": {
      "type": "object",
      "description": "Mobile-friendly issue.",
      "id": "MobileFriendlyIssue",
      "properties": {
        "rule": {
          "enumDescriptions": [
            "Unknown rule. Sorry, we don't have any description for the rule that was broken.",
            "Plugins incompatible with mobile devices are being used. [Learn more] (https://support.google.com/webmasters/answer/6352293#flash_usage).",
            "Viewport is not specified using the meta viewport tag. [Learn more] (https://support.google.com/webmasters/answer/6352293#viewport_not_configured).",
            "Viewport defined to a fixed width. [Learn more] (https://support.google.com/webmasters/answer/6352293#fixed-width_viewport).",
            "Content not sized to viewport. [Learn more] (https://support.google.com/webmasters/answer/6352293#content_not_sized_to_viewport).",
            "Font size is too small for easy reading on a small screen. [Learn More] (https://support.google.com/webmasters/answer/6352293#small_font_size).",
            "Touch elements are too close to each other. [Learn more] (https://support.google.com/webmasters/answer/6352293#touch_elements_too_close)."
          ],
          "description": "Rule violated.",
          "enum": [
            "MOBILE_FRIENDLY_RULE_UNSPECIFIED",
            "USES_INCOMPATIBLE_PLUGINS",
            "CONFIGURE_VIEWPORT",
            "FIXED_WIDTH_VIEWPORT",
            "SIZE_CONTENT_TO_VIEWPORT",
            "USE_LEGIBLE_FONT_SIZES",
            "TAP_TARGETS_TOO_CLOSE"
          ],
          "type": "string"
        }
      }
    },
    "MobileUsabilityInspectionResult": {
      "id": "MobileUsabilityInspectionResult",
      "description": "Mobile-usability inspection results.",
      "type": "object",
      "properties": {
        "verdict": {
          "type": "string",
          "enum": [
            "VERDICT_UNSPECIFIED",
            "PASS",
            "PARTIAL",
            "FAIL",
            "NEUTRAL"
          ],
          "enumDescriptions": [
            "Unknown verdict.",
            "Equivalent to \"Valid\" for the page or item in Search Console.",
            "Reserved, no longer in use.",
            "Equivalent to \"Error\" or \"Invalid\" for the page or item in Search Console.",
            "Equivalent to \"Excluded\" for the page or item in Search Console."
          ],
          "description": "High-level mobile-usability inspection result for this URL."
        },
        "issues": {
          "type": "array",
          "description": "A list of zero or more mobile-usability issues detected for this URL.",
          "items": {
            "$ref": "MobileUsabilityIssue"
          }
        }
      }
    },
    "AmpIssue": {
      "type": "object",
      "description": "AMP issue.",
      "properties": {
        "severity": {
          "enumDescriptions": [
            "Unknown severity.",
            "Warning.",
            "Error."
          ],
          "type": "string",
          "description": "Severity of this issue: WARNING or ERROR.",
          "enum": [
            "SEVERITY_UNSPECIFIED",
            "WARNING",
            "ERROR"
          ]
        },
        "issueMessage": {
          "description": "Brief description of this issue.",
          "type": "string"
        }
      },
      "id": "AmpIssue"
    },
    "WmxSitemapContent": {
      "type": "object",
      "id": "WmxSitemapContent",
      "properties": {
        "type": {
          "enum": [
            "WEB",
            "IMAGE",
            "VIDEO",
            "NEWS",
            "MOBILE",
            "ANDROID_APP",
            "PATTERN",
            "IOS_APP",
            "DATA_FEED_ELEMENT"
          ],
          "description": "The specific type of content in this sitemap. For example: `web`.",
          "enumDeprecated": [
            false,
            false,
            false,
            false,
            false,
            false,
            true,
            false,
            true
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "Unsupported content type.",
            "",
            "Unsupported content type."
          ]
        },
        "indexed": {
          "type": "string",
          "description": "*Deprecated; do not use.*",
          "deprecated": true,
          "format": "int64"
        },
        "submitted": {
          "description": "The number of URLs in the sitemap (of the content type).",
          "format": "int64",
          "type": "string"
        }
      },
      "description": "Information about the various content types in the sitemap."
    },
    "WmxSite": {
      "id": "WmxSite",
      "properties": {
        "permissionLevel": {
          "description": "The user's permission level for the site.",
          "type": "string",
          "enumDescriptions": [
            "",
            "Owner has complete access to the site.",
            "Full users can access all data, and perform most of the operations.",
            "Restricted users can access most of the data, and perform some operations.",
            "Unverified user has no access to site's data."
          ],
          "enum": [
            "SITE_PERMISSION_LEVEL_UNSPECIFIED",
            "SITE_OWNER",
            "SITE_FULL_USER",
            "SITE_RESTRICTED_USER",
            "SITE_UNVERIFIED_USER"
          ]
        },
        "siteUrl": {
          "description": "The URL of the site.",
          "type": "string"
        }
      },
      "description": "Contains permission level information about a Search Console site. For more information, see [Permissions in Search Console](https://support.google.com/webmasters/answer/2451999).",
      "type": "object"
    },
    "RichResultsInspectionResult": {
      "type": "object",
      "id": "RichResultsInspectionResult",
      "description": "Rich-Results inspection result, including any rich results found at this URL.",
      "properties": {
        "detectedItems": {
          "type": "array",
          "description": "A list of zero or more rich results detected on this page. Rich results that cannot even be parsed due to syntactic issues will not be listed here.",
          "items": {
            "$ref": "DetectedItems"
          }
        },
        "verdict": {
          "enumDescriptions": [
            "Unknown verdict.",
            "Equivalent to \"Valid\" for the page or item in Search Console.",
            "Reserved, no longer in use.",
            "Equivalent to \"Error\" or \"Invalid\" for the page or item in Search Console.",
            "Equivalent to \"Excluded\" for the page or item in Search Console."
          ],
          "description": "High-level rich results inspection result for this URL.",
          "enum": [
            "VERDICT_UNSPECIFIED",
            "PASS",
            "PARTIAL",
            "FAIL",
            "NEUTRAL"
          ],
          "type": "string"
        }
      }
    },
    "WmxSitemap": {
      "type": "object",
      "description": "Contains detailed information about a specific URL submitted as a [sitemap](https://support.google.com/webmasters/answer/156184).",
      "id": "WmxSitemap",
      "properties": {
        "isPending": {
          "type": "boolean",
          "description": "If true, the sitemap has not been processed."
        },
        "warnings": {
          "format": "int64",
          "type": "string",
          "description": "Number of warnings for the sitemap. These are generally non-critical issues with URLs in the sitemaps."
        },
        "errors": {
          "format": "int64",
          "type": "string",
          "description": "Number of errors in the sitemap. These are issues with the sitemap itself that need to be fixed before it can be processed correctly."
        },
        "contents": {
          "items": {
            "$ref": "WmxSitemapContent"
          },
          "type": "array",
          "description": "The various content types in the sitemap."
        },
        "type": {
          "enum": [
            "NOT_SITEMAP",
            "URL_LIST",
            "SITEMAP",
            "RSS_FEED",
            "ATOM_FEED",
            "PATTERN_SITEMAP",
            "OCEANFRONT"
          ],
          "description": "The type of the sitemap. For example: `rssFeed`.",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "Unsupported sitemap types.",
            ""
          ],
          "type": "string",
          "enumDeprecated": [
            false,
            false,
            false,
            false,
            false,
            true,
            true
          ]
        },
        "path": {
          "description": "The url of the sitemap.",
          "type": "string"
        },
        "lastDownloaded": {
          "description": "Date & time in which this sitemap was last downloaded. Date format is in RFC 3339 format (yyyy-mm-dd).",
          "type": "string",
          "format": "google-datetime"
        },
        "lastSubmitted": {
          "format": "google-datetime",
          "description": "Date & time in which this sitemap was submitted. Date format is in RFC 3339 format (yyyy-mm-dd).",
          "type": "string"
        },
        "isSitemapsIndex": {
          "type": "boolean",
          "description": "If true, the sitemap is a collection of sitemaps."
        }
      }
    },
    "BlockedResource": {
      "type": "object",
      "description": "Blocked resource.",
      "id": "BlockedResource",
      "properties": {
        "url": {
          "type": "string",
          "description": "URL of the blocked resource."
        }
      }
    },
    "RunMobileFriendlyTestResponse": {
      "type": "object",
      "description": "Mobile-friendly test response, including mobile-friendly issues and resource issues.",
      "properties": {
        "screenshot": {
          "$ref": "Image",
          "description": "Screenshot of the requested URL."
        },
        "testStatus": {
          "description": "Final state of the test, can be either complete or an error.",
          "$ref": "TestStatus"
        },
        "mobileFriendlyIssues": {
          "items": {
            "$ref": "MobileFriendlyIssue"
          },
          "type": "array",
          "description": "List of mobile-usability issues."
        },
        "resourceIssues": {
          "items": {
            "$ref": "ResourceIssue"
          },
          "description": "Information about embedded resources issues.",
          "type": "array"
        },
        "mobileFriendliness": {
          "type": "string",
          "enum": [
            "MOBILE_FRIENDLY_TEST_RESULT_UNSPECIFIED",
            "MOBILE_FRIENDLY",
            "NOT_MOBILE_FRIENDLY"
          ],
          "enumDescriptions": [
            "Internal error when running this test. Please try running the test again.",
            "The page is mobile friendly.",
            "The page is not mobile friendly."
          ],
          "description": "Test verdict, whether the page is mobile friendly or not."
        }
      },
      "id": "RunMobileFriendlyTestResponse"
    },
    "UrlInspectionResult": {
      "id": "UrlInspectionResult",
      "description": "URL inspection result, including all inspection results.",
      "type": "object",
      "properties": {
        "richResultsResult": {
          "description": "Result of the Rich Results analysis. Absent if there are no rich results found.",
          "$ref": "RichResultsInspectionResult"
        },
        "mobileUsabilityResult": {
          "deprecated": true,
          "description": "Result of the Mobile usability analysis.",
          "$ref": "MobileUsabilityInspectionResult"
        },
        "indexStatusResult": {
          "$ref": "IndexStatusInspectionResult",
          "description": "Result of the index status analysis."
        },
        "ampResult": {
          "description": "Result of the AMP analysis. Absent if the page is not an AMP page.",
          "$ref": "AmpInspectionResult"
        },
        "inspectionResultLink": {
          "description": "Link to Search Console URL inspection.",
          "type": "string"
        }
      }
    },
    "ApiDimensionFilter": {
      "properties": {
        "operator": {
          "enum": [
            "EQUALS",
            "NOT_EQUALS",
            "CONTAINS",
            "NOT_CONTAINS",
            "INCLUDING_REGEX",
            "EXCLUDING_REGEX"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            ""
          ]
        },
        "expression": {
          "type": "string"
        },
        "dimension": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "QUERY",
            "PAGE",
            "COUNTRY",
            "DEVICE",
            "SEARCH_APPEARANCE"
          ]
        }
      },
      "type": "object",
      "description": "A filter test to be applied to each row in the data set, where a match can return the row. Filters are string comparisons, and values and dimension names are not case-sensitive. Individual filters are either AND'ed or OR'ed within their parent filter group, according to the group's group type. You do not need to group by a specified dimension to filter against it.",
      "id": "ApiDimensionFilter"
    },
    "Metadata": {
      "id": "Metadata",
      "properties": {
        "firstIncompleteDate": {
          "description": "The first date for which the data is still being collected and processed, presented in `YYYY-MM-DD` format (ISO-8601 extended local date format). This field is populated only when the request's `dataState` is \"`all`\", data is grouped by \"`DATE`\", and the requested date range contains incomplete data points. All values after the `first_incomplete_date` may still change noticeably.",
          "type": "string"
        },
        "firstIncompleteHour": {
          "type": "string",
          "description": "The first hour for which the data is still being collected and processed, presented in `YYYY-MM-DDThh:mm:ss[+|-]hh:mm` format (ISO-8601 extended offset date-time format). This field is populated only when the request's `dataState` is \"`hourly_all`\", data is grouped by \"`HOUR`\" and the requested date range contains incomplete data points. All values after the `first_incomplete_hour` may still change noticeably."
        }
      },
      "type": "object",
      "description": "An object that may be returned with your query results, providing context about the state of the data. When you request recent data (using `all` or `hourly_all` for `dataState`), some of the rows returned may represent data that is incomplete, which means that the data is still being collected and processed. This metadata object helps you identify exactly when this starts and ends. All dates and times provided in this object are in the `America/Los_Angeles` time zone. The specific field returned within this object depends on how you've grouped your data in the request. See details in inner fields."
    },
    "ApiDataRow": {
      "id": "ApiDataRow",
      "type": "object",
      "properties": {
        "impressions": {
          "type": "number",
          "format": "double"
        },
        "position": {
          "type": "number",
          "format": "double"
        },
        "keys": {
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "clicks": {
          "type": "number",
          "format": "double"
        },
        "ctr": {
          "format": "double",
          "type": "number"
        }
      }
    },
    "InspectUrlIndexRequest": {
      "id": "InspectUrlIndexRequest",
      "properties": {
        "inspectionUrl": {
          "type": "string",
          "description": "Required. URL to inspect. Must be under the property specified in \"site_url\"."
        },
        "siteUrl": {
          "description": "Required. The URL of the property as defined in Search Console. **Examples:** `http://www.example.com/` for a URL-prefix property, or `sc-domain:example.com` for a Domain property.",
          "type": "string"
        },
        "languageCode": {
          "type": "string",
          "description": "Optional. An [IETF BCP-47](https://en.wikipedia.org/wiki/IETF_language_tag) language code representing the requested language for translated issue messages, e.g. \"en-US\", \"or \"de-CH\". Default value is \"en-US\"."
        }
      },
      "type": "object",
      "description": "Index inspection request."
    },
    "Item": {
      "description": "A specific rich result found on the page.",
      "id": "Item",
      "properties": {
        "name": {
          "description": "The user-provided name of this item.",
          "type": "string"
        },
        "issues": {
          "items": {
            "$ref": "RichResultsIssue"
          },
          "description": "A list of zero or more rich result issues found for this instance.",
          "type": "array"
        }
      },
      "type": "object"
    },
    "SearchAnalyticsQueryResponse": {
      "description": "A list of rows, one per result, grouped by key. Metrics in each row are aggregated for all data grouped by that key either by page or property, as specified by the aggregation type parameter.",
      "type": "object",
      "properties": {
        "metadata": {
          "$ref": "Metadata",
          "description": "An object that may be returned with your query results, providing context about the state of the data. See details in Metadata object documentation."
        },
        "rows": {
          "description": "A list of rows grouped by the key values in the order given in the query.",
          "items": {
            "$ref": "ApiDataRow"
          },
          "type": "array"
        },
        "responseAggregationType": {
          "type": "string",
          "description": "How the results were aggregated.",
          "enum": [
            "AUTO",
            "BY_PROPERTY",
            "BY_PAGE",
            "BY_NEWS_SHOWCASE_PANEL"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ]
        }
      },
      "id": "SearchAnalyticsQueryResponse"
    },
    "RichResultsIssue": {
      "description": "Severity and status of a single issue affecting a single rich result instance on a page.",
      "properties": {
        "issueMessage": {
          "description": "Rich Results issue type.",
          "type": "string"
        },
        "severity": {
          "type": "string",
          "enum": [
            "SEVERITY_UNSPECIFIED",
            "WARNING",
            "ERROR"
          ],
          "enumDescriptions": [
            "Unknown severity.",
            "Warning.",
            "Error."
          ],
          "description": "Severity of this issue: WARNING, or ERROR. Items with an issue of status ERROR cannot appear with rich result features in Google Search results."
        }
      },
      "type": "object",
      "id": "RichResultsIssue"
    },
    "AmpInspectionResult": {
      "type": "object",
      "id": "AmpInspectionResult",
      "description": "AMP inspection result of the live page or the current information from Google's index, depending on whether you requested a live inspection or not.",
      "properties": {
        "verdict": {
          "type": "string",
          "enumDescriptions": [
            "Unknown verdict.",
            "Equivalent to \"Valid\" for the page or item in Search Console.",
            "Reserved, no longer in use.",
            "Equivalent to \"Error\" or \"Invalid\" for the page or item in Search Console.",
            "Equivalent to \"Excluded\" for the page or item in Search Console."
          ],
          "description": "The status of the most severe error on the page. If a page has both warnings and errors, the page status is error. Error status means the page cannot be shown in Search results.",
          "enum": [
            "VERDICT_UNSPECIFIED",
            "PASS",
            "PARTIAL",
            "FAIL",
            "NEUTRAL"
          ]
        },
        "robotsTxtState": {
          "enumDescriptions": [
            "Unknown robots.txt state, typically because the page wasn't fetched or found, or because robots.txt itself couldn't be reached.",
            "Crawl allowed by robots.txt.",
            "Crawl blocked by robots.txt."
          ],
          "type": "string",
          "enum": [
            "ROBOTS_TXT_STATE_UNSPECIFIED",
            "ALLOWED",
            "DISALLOWED"
          ],
          "description": "Whether or not the page is blocked to Google by a robots.txt rule."
        },
        "indexingState": {
          "enum": [
            "AMP_INDEXING_STATE_UNSPECIFIED",
            "AMP_INDEXING_ALLOWED",
            "BLOCKED_DUE_TO_NOINDEX",
            "BLOCKED_DUE_TO_EXPIRED_UNAVAILABLE_AFTER"
          ],
          "description": "Whether or not the page blocks indexing through a noindex rule.",
          "type": "string",
          "enumDescriptions": [
            "Unknown indexing status.",
            "Indexing allowed.",
            "Indexing not allowed, 'noindex' detected.",
            "Indexing not allowed, 'unavailable_after' date expired."
          ]
        },
        "lastCrawlTime": {
          "type": "string",
          "description": "Last time this AMP version was crawled by Google. Absent if the URL was never crawled successfully.",
          "format": "google-datetime"
        },
        "pageFetchState": {
          "enum": [
            "PAGE_FETCH_STATE_UNSPECIFIED",
            "SUCCESSFUL",
            "SOFT_404",
            "BLOCKED_ROBOTS_TXT",
            "NOT_FOUND",
            "ACCESS_DENIED",
            "SERVER_ERROR",
            "REDIRECT_ERROR",
            "ACCESS_FORBIDDEN",
            "BLOCKED_4XX",
            "INTERNAL_CRAWL_ERROR",
            "INVALID_URL"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unknown fetch state.",
            "Successful fetch.",
            "Soft 404.",
            "Blocked by robots.txt.",
            "Not found (404).",
            "Blocked due to unauthorized request (401).",
            "Server error (5xx).",
            "Redirection error.",
            "Blocked due to access forbidden (403).",
            "Blocked due to other 4xx issue (not 403, 404).",
            "Internal error.",
            "Invalid URL."
          ],
          "description": "Whether or not Google could fetch the AMP."
        },
        "ampUrl": {
          "type": "string",
          "description": "URL of the AMP that was inspected. If the submitted URL is a desktop page that refers to an AMP version, the AMP version will be inspected."
        },
        "ampIndexStatusVerdict": {
          "description": "Index status of the AMP URL.",
          "enumDescriptions": [
            "Unknown verdict.",
            "Equivalent to \"Valid\" for the page or item in Search Console.",
            "Reserved, no longer in use.",
            "Equivalent to \"Error\" or \"Invalid\" for the page or item in Search Console.",
            "Equivalent to \"Excluded\" for the page or item in Search Console."
          ],
          "type": "string",
          "enum": [
            "VERDICT_UNSPECIFIED",
            "PASS",
            "PARTIAL",
            "FAIL",
            "NEUTRAL"
          ]
        },
        "issues": {
          "items": {
            "$ref": "AmpIssue"
          },
          "type": "array",
          "description": "A list of zero or more AMP issues found for the inspected URL."
        }
      }
    },
    "IndexStatusInspectionResult": {
      "description": "Results of index status inspection for either the live page or the version in Google's index, depending on whether you requested a live inspection or not. For more information, see the [Index coverage report documentation](https://support.google.com/webmasters/answer/7440203).",
      "id": "IndexStatusInspectionResult",
      "properties": {
        "coverageState": {
          "description": "Could Google find and index the page. More details about page indexing appear in 'indexing_state'.",
          "type": "string"
        },
        "userCanonical": {
          "description": "The URL that your page or site [declares as canonical](https://developers.google.com/search/docs/advanced/crawling/consolidate-duplicate-urls?#define-canonical). If you did not declare a canonical URL, this field is absent.",
          "type": "string"
        },
        "referringUrls": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "URLs that link to the inspected URL, directly and indirectly."
        },
        "sitemap": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Any sitemaps that this URL was listed in, as known by Google. Not guaranteed to be an exhaustive list, especially if Google did not discover this URL through a sitemap. Absent if no sitemaps were found."
        },
        "robotsTxtState": {
          "enum": [
            "ROBOTS_TXT_STATE_UNSPECIFIED",
            "ALLOWED",
            "DISALLOWED"
          ],
          "type": "string",
          "description": "Whether or not the page is blocked to Google by a robots.txt rule.",
          "enumDescriptions": [
            "Unknown robots.txt state, typically because the page wasn't fetched or found, or because robots.txt itself couldn't be reached.",
            "Crawl allowed by robots.txt.",
            "Crawl blocked by robots.txt."
          ]
        },
        "verdict": {
          "description": "High level verdict about whether the URL *is* indexed (indexed status), or *can be* indexed (live inspection).",
          "type": "string",
          "enum": [
            "VERDICT_UNSPECIFIED",
            "PASS",
            "PARTIAL",
            "FAIL",
            "NEUTRAL"
          ],
          "enumDescriptions": [
            "Unknown verdict.",
            "Equivalent to \"Valid\" for the page or item in Search Console.",
            "Reserved, no longer in use.",
            "Equivalent to \"Error\" or \"Invalid\" for the page or item in Search Console.",
            "Equivalent to \"Excluded\" for the page or item in Search Console."
          ]
        },
        "googleCanonical": {
          "description": "The URL of the page that Google selected as canonical. If the page was not indexed, this field is absent.",
          "type": "string"
        },
        "pageFetchState": {
          "description": "Whether or not Google could retrieve the page from your server. Equivalent to [\"page fetch\"](https://support.google.com/webmasters/answer/9012289#index_coverage) in the URL inspection report.",
          "enum": [
            "PAGE_FETCH_STATE_UNSPECIFIED",
            "SUCCESSFUL",
            "SOFT_404",
            "BLOCKED_ROBOTS_TXT",
            "NOT_FOUND",
            "ACCESS_DENIED",
            "SERVER_ERROR",
            "REDIRECT_ERROR",
            "ACCESS_FORBIDDEN",
            "BLOCKED_4XX",
            "INTERNAL_CRAWL_ERROR",
            "INVALID_URL"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unknown fetch state.",
            "Successful fetch.",
            "Soft 404.",
            "Blocked by robots.txt.",
            "Not found (404).",
            "Blocked due to unauthorized request (401).",
            "Server error (5xx).",
            "Redirection error.",
            "Blocked due to access forbidden (403).",
            "Blocked due to other 4xx issue (not 403, 404).",
            "Internal error.",
            "Invalid URL."
          ]
        },
        "crawledAs": {
          "enumDescriptions": [
            "Unknown user agent.",
            "Desktop user agent.",
            "Mobile user agent."
          ],
          "type": "string",
          "enum": [
            "CRAWLING_USER_AGENT_UNSPECIFIED",
            "DESKTOP",
            "MOBILE"
          ],
          "description": "Primary crawler that was used by Google to crawl your site."
        },
        "indexingState": {
          "description": "Whether or not the page blocks indexing through a noindex rule.",
          "enum": [
            "INDEXING_STATE_UNSPECIFIED",
            "INDEXING_ALLOWED",
            "BLOCKED_BY_META_TAG",
            "BLOCKED_BY_HTTP_HEADER",
            "BLOCKED_BY_ROBOTS_TXT"
          ],
          "enumDescriptions": [
            "Unknown indexing status.",
            "Indexing allowed.",
            "Indexing not allowed, 'noindex' detected in 'robots' meta tag.",
            "Indexing not allowed, 'noindex' detected in 'X-Robots-Tag' http header.",
            "Reserved, no longer in use."
          ],
          "type": "string"
        },
        "lastCrawlTime": {
          "description": "Last time this URL was crawled by Google using the [primary crawler](https://support.google.com/webmasters/answer/7440203#primary_crawler). Absent if the URL was never crawled successfully.",
          "type": "string",
          "format": "google-datetime"
        }
      },
      "type": "object"
    },
    "SitemapsListResponse": {
      "id": "SitemapsListResponse",
      "type": "object",
      "properties": {
        "sitemap": {
          "type": "array",
          "description": "Contains detailed information about a specific URL submitted as a [sitemap](https://support.google.com/webmasters/answer/156184).",
          "items": {
            "$ref": "WmxSitemap"
          }
        }
      },
      "description": "List of sitemaps."
    },
    "Image": {
      "type": "object",
      "description": "Describe image data.",
      "properties": {
        "data": {
          "description": "Image data in format determined by the mime type. Currently, the format will always be \"image/png\", but this might change in the future.",
          "format": "byte",
          "type": "string"
        },
        "mimeType": {
          "description": "The mime-type of the image data.",
          "type": "string"
        }
      },
      "id": "Image"
    },
    "RunMobileFriendlyTestRequest": {
      "description": "Mobile-friendly test request.",
      "id": "RunMobileFriendlyTestRequest",
      "type": "object",
      "properties": {
        "requestScreenshot": {
          "description": "Whether or not screenshot is requested. Default is false.",
          "type": "boolean"
        },
        "url": {
          "type": "string",
          "description": "URL for inspection."
        }
      }
    },
    "ApiDimensionFilterGroup": {
      "description": "A set of `dimension` value filters to test against each row. Only rows that pass all filter groups will be returned. All results within a filter group are either AND'ed or OR'ed together, depending on the group type selected. All filter groups are AND'ed together.",
      "id": "ApiDimensionFilterGroup",
      "type": "object",
      "properties": {
        "filters": {
          "type": "array",
          "description": "Optional. A list of single-value filters in this group.",
          "items": {
            "$ref": "ApiDimensionFilter"
          }
        },
        "groupType": {
          "enum": [
            "AND"
          ],
          "type": "string",
          "description": "Optional. The logic operator between filters of the same group.",
          "enumDescriptions": [
            ""
          ]
        }
      }
    },
    "DetectedItems": {
      "properties": {
        "items": {
          "description": "List of Rich Results items.",
          "items": {
            "$ref": "Item"
          },
          "type": "array"
        },
        "richResultType": {
          "description": "Rich Results type",
          "type": "string"
        }
      },
      "type": "object",
      "id": "DetectedItems",
      "description": "Rich Results items grouped by type."
    },
    "SearchAnalyticsQueryRequest": {
      "type": "object",
      "properties": {
        "rowLimit": {
          "description": "[Optional; Default is 1000] The maximum number of rows to return. Must be a number from 1 to 25,000 (inclusive).",
          "type": "integer",
          "format": "int32"
        },
        "dimensions": {
          "type": "array",
          "description": "[Optional] Zero or more dimensions to group results by. Dimensions are the group-by values in the Search Analytics page. Dimensions are combined to create a unique row key for each row. Results are grouped in the order that you supply these dimensions.",
          "items": {
            "enum": [
              "DATE",
              "QUERY",
              "PAGE",
              "COUNTRY",
              "DEVICE",
              "SEARCH_APPEARANCE",
              "HOUR"
            ],
            "type": "string",
            "enumDescriptions": [
              "Group by date, which is returned in YYYY-MM-DD format, in PT time (UTC - 7:00/8:00).",
              "Group by query string.",
              "Group by page, a URI string.",
              "Group by country, specified by 3-letter country code ([ISO 3166-1 alpha-3](https://en.wikipedia.org/wiki/ISO_3166-1_alpha-3)).",
              "Group by device type (DESKTOP, MOBILE and TABLET).",
              "Group by search result feature.",
              "Group by hour, which is returned in YYYY-MM-DDThh:mm:ss[+|-]hh:mm format (ISO-8601 extended offset date-time format) in PT time (UTC - 7:00/8:00). Data is available up to 10 days. Requires setting the dataState to HOURLY_ALL."
            ]
          }
        },
        "dataState": {
          "enumDescriptions": [
            "Default value, should not be used.",
            "Include full final data only, without partial.",
            "Include all data, full and partial.",
            "Include hourly data, full and partial. Required when grouping by HOUR."
          ],
          "type": "string",
          "description": "The data state to be fetched, can be full or all, the latter including full and partial data.",
          "enum": [
            "DATA_STATE_UNSPECIFIED",
            "FINAL",
            "ALL",
            "HOURLY_ALL"
          ]
        },
        "endDate": {
          "description": "[Required] End date of the requested date range, in YYYY-MM-DD format, in PST (UTC - 8:00). Must be greater than or equal to the start date. This value is included in the range.",
          "type": "string"
        },
        "dimensionFilterGroups": {
          "description": "[Optional] Zero or more filters to apply to the dimension grouping values; for example, 'query contains \\\"buy\\\"' to see only data where the query string contains the substring \\\"buy\\\" (not case-sensitive). You can filter by a dimension without grouping by it.",
          "items": {
            "$ref": "ApiDimensionFilterGroup"
          },
          "type": "array"
        },
        "startRow": {
          "format": "int32",
          "type": "integer",
          "description": "[Optional; Default is 0] Zero-based index of the first row in the response. Must be a non-negative number."
        },
        "type": {
          "type": "string",
          "description": "Optional. [Optional; Default is \\\"web\\\"] Type of report: search type, or either Discover or Gnews.",
          "enumDescriptions": [
            "",
            "",
            "",
            "News tab in search.",
            "Discover.",
            "Google News (news.google.com or mobile app)."
          ],
          "enum": [
            "WEB",
            "IMAGE",
            "VIDEO",
            "NEWS",
            "DISCOVER",
            "GOOGLE_NEWS"
          ]
        },
        "startDate": {
          "type": "string",
          "description": " [Required] Start date of the requested date range, in YYYY-MM-DD format, in PST time (UTC - 8:00). Must be less than or equal to the end date. This value is included in the range."
        },
        "aggregationType": {
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "description": "[Optional; Default is \\\"auto\\\"] How data is aggregated. If aggregated by property, all data for the same property is aggregated; if aggregated by page, all data is aggregated by canonical URI. If you filter or group by page, choose AUTO; otherwise you can aggregate either by property or by page, depending on how you want your data calculated; see the help documentation to learn how data is calculated differently by site versus by page. **Note:** If you group or filter by page, you cannot aggregate by property. If you specify any value other than AUTO, the aggregation type in the result will match the requested type, or if you request an invalid type, you will get an error. The API will never change your aggregation type if the requested type is invalid.",
          "enum": [
            "AUTO",
            "BY_PROPERTY",
            "BY_PAGE",
            "BY_NEWS_SHOWCASE_PANEL"
          ],
          "type": "string"
        },
        "searchType": {
          "enum": [
            "WEB",
            "IMAGE",
            "VIDEO",
            "NEWS",
            "DISCOVER",
            "GOOGLE_NEWS"
          ],
          "description": "[Optional; Default is \\\"web\\\"] The search type to filter for.",
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "News tab in search.",
            "Discover.",
            "Google News (news.google.com or mobile app)."
          ]
        }
      },
      "id": "SearchAnalyticsQueryRequest"
    }
  },
  "canonicalName": "Search Console",
  "revision": "20260923",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/webmasters.readonly": {
          "description": "View Search Console data for your verified sites"
        },
        "https://www.googleapis.com/auth/webmasters": {
          "description": "View and manage Search Console data for your verified sites"
        }
      }
    }
  },
  "documentationLink": "https://developers.google.com/webmaster-tools/about",
  "title": "Google Search Console API",
  "version": "v1",
  "protocol": "rest"
}