{
  "protocol": "rest",
  "ownerName": "Google",
  "documentationLink": "https://developers.google.com/search-ads/reporting",
  "discoveryVersion": "v1",
  "title": "Search Ads 360 Reporting API",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/doubleclicksearch": {
          "description": "View and manage your advertising data in DoubleClick Search"
        }
      }
    }
  },
  "kind": "discovery#restDescription",
  "ownerDomain": "google.com",
  "resources": {
    "searchAds360Fields": {
      "methods": {
        "get": {
          "id": "searchads360.searchAds360Fields.get",
          "parameterOrder": [
            "resourceName"
          ],
          "response": {
            "$ref": "GoogleAdsSearchads360V23Resources__SearchAds360Field"
          },
          "flatPath": "v23/searchAds360Fields/{searchAds360FieldsId}",
          "parameters": {
            "resourceName": {
              "location": "path",
              "required": true,
              "description": "Required. The resource name of the field to get.",
              "pattern": "^searchAds360Fields/[^/]+$",
              "type": "string"
            }
          },
          "path": "v23/{+resourceName}",
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ],
          "description": "Returns just the requested field. List of thrown errors: [AuthenticationError]() [AuthorizationError]() [HeaderError]() [InternalError]() [QuotaError]() [RequestError]()",
          "httpMethod": "GET"
        },
        "search": {
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ],
          "parameters": {},
          "response": {
            "$ref": "GoogleAdsSearchads360V23Services__SearchSearchAds360FieldsResponse"
          },
          "parameterOrder": [],
          "request": {
            "$ref": "GoogleAdsSearchads360V23Services__SearchSearchAds360FieldsRequest"
          },
          "flatPath": "v23/searchAds360Fields:search",
          "description": "Returns all fields that match the search [query](/search-ads/reporting/concepts/field-service#use_a_query_to_get_field_details). List of thrown errors: [AuthenticationError]() [AuthorizationError]() [HeaderError]() [InternalError]() [QueryError]() [QuotaError]() [RequestError]()",
          "id": "searchads360.searchAds360Fields.search",
          "path": "v23/searchAds360Fields:search"
        }
      }
    },
    "audienceInsights": {
      "methods": {
        "listInsightsEligibleDates": {
          "httpMethod": "POST",
          "path": "v23/audienceInsights:listInsightsEligibleDates",
          "request": {
            "$ref": "GoogleAdsSearchads360V23Services__ListInsightsEligibleDatesRequest"
          },
          "id": "searchads360.audienceInsights.listInsightsEligibleDates",
          "parameters": {},
          "response": {
            "$ref": "GoogleAdsSearchads360V23Services__ListInsightsEligibleDatesResponse"
          },
          "parameterOrder": [],
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ],
          "flatPath": "v23/audienceInsights:listInsightsEligibleDates",
          "description": "Lists date ranges for which audience insights data can be requested. List of thrown errors: [AuthenticationError]() [AuthorizationError]() [FieldError]() [HeaderError]() [InternalError]() [QuotaError]() [RangeError]() [RequestError]()"
        }
      }
    },
    "keywordThemeConstants": {
      "methods": {
        "suggest": {
          "parameters": {},
          "response": {
            "$ref": "GoogleAdsSearchads360V23Services__SuggestKeywordThemeConstantsResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ],
          "httpMethod": "POST",
          "description": "Returns KeywordThemeConstant suggestions by keyword themes. List of thrown errors: [AuthenticationError]() [AuthorizationError]() [HeaderError]() [InternalError]() [QuotaError]() [RequestError]()",
          "parameterOrder": [],
          "request": {
            "$ref": "GoogleAdsSearchads360V23Services__SuggestKeywordThemeConstantsRequest"
          },
          "path": "v23/keywordThemeConstants:suggest",
          "id": "searchads360.keywordThemeConstants.suggest",
          "flatPath": "v23/keywordThemeConstants:suggest"
        }
      }
    },
    "geoTargetConstants": {
      "methods": {
        "suggest": {
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ],
          "id": "searchads360.geoTargetConstants.suggest",
          "description": "Returns GeoTargetConstant suggestions by location name or by resource name. List of thrown errors: [AuthenticationError]() [AuthorizationError]() [GeoTargetConstantSuggestionError]() [HeaderError]() [InternalError]() [QuotaError]() [RequestError]()",
          "request": {
            "$ref": "GoogleAdsSearchads360V23Services__SuggestGeoTargetConstantsRequest"
          },
          "response": {
            "$ref": "GoogleAdsSearchads360V23Services__SuggestGeoTargetConstantsResponse"
          },
          "parameters": {},
          "flatPath": "v23/geoTargetConstants:suggest",
          "path": "v23/geoTargetConstants:suggest",
          "parameterOrder": [],
          "httpMethod": "POST"
        }
      }
    },
    "v23": {
      "methods": {
        "listPlannableProducts": {
          "parameters": {},
          "description": "Returns the list of per-location plannable YouTube ad formats with allowed targeting. List of thrown errors: [AuthenticationError]() [AuthorizationError]() [HeaderError]() [InternalError]() [QuotaError]() [RequestError]()",
          "flatPath": "v23:listPlannableProducts",
          "request": {
            "$ref": "GoogleAdsSearchads360V23Services__ListPlannableProductsRequest"
          },
          "path": "v23:listPlannableProducts",
          "httpMethod": "POST",
          "parameterOrder": [],
          "id": "searchads360.listPlannableProducts",
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ],
          "response": {
            "$ref": "GoogleAdsSearchads360V23Services__ListPlannableProductsResponse"
          }
        },
        "listPlannableUserInterests": {
          "description": "Returns the list of plannable user interests. A plannable user interest is one that can be targeted in a reach forecast using ReachPlanService.GenerateReachForecast. List of thrown errors: [AuthenticationError]() [AuthorizationError]() [FieldError]() [HeaderError]() [InternalError]() [ListOperationError]() [QuotaError]() [RequestError]() [StringLengthError]()",
          "response": {
            "$ref": "GoogleAdsSearchads360V23Services__ListPlannableUserInterestsResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ],
          "path": "v23:listPlannableUserInterests",
          "parameterOrder": [],
          "parameters": {},
          "id": "searchads360.listPlannableUserInterests",
          "httpMethod": "POST",
          "flatPath": "v23:listPlannableUserInterests",
          "request": {
            "$ref": "GoogleAdsSearchads360V23Services__ListPlannableUserInterestsRequest"
          }
        },
        "listBenchmarksProducts": {
          "id": "searchads360.listBenchmarksProducts",
          "parameterOrder": [],
          "flatPath": "v23:listBenchmarksProducts",
          "description": "Returns the list of products that supports benchmarks. List of thrown errors: [AuthenticationError]() [AuthorizationError]() [FieldError]() [HeaderError]() [InternalError]() [QuotaError]() [RequestError]()",
          "response": {
            "$ref": "GoogleAdsSearchads360V23Services__ListBenchmarksProductsResponse"
          },
          "parameters": {},
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ],
          "path": "v23:listBenchmarksProducts",
          "request": {
            "$ref": "GoogleAdsSearchads360V23Services__ListBenchmarksProductsRequest"
          },
          "httpMethod": "POST"
        },
        "listBenchmarksAvailableDates": {
          "httpMethod": "POST",
          "flatPath": "v23:listBenchmarksAvailableDates",
          "description": "Returns a date range that supports benchmarks. List of thrown errors: [AuthenticationError]() [AuthorizationError]() [FieldError]() [HeaderError]() [InternalError]() [QuotaError]() [RequestError]()",
          "request": {
            "$ref": "GoogleAdsSearchads360V23Services__ListBenchmarksAvailableDatesRequest"
          },
          "id": "searchads360.listBenchmarksAvailableDates",
          "parameterOrder": [],
          "parameters": {},
          "path": "v23:listBenchmarksAvailableDates",
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ],
          "response": {
            "$ref": "GoogleAdsSearchads360V23Services__ListBenchmarksAvailableDatesResponse"
          }
        },
        "listBenchmarksLocations": {
          "response": {
            "$ref": "GoogleAdsSearchads360V23Services__ListBenchmarksLocationsResponse"
          },
          "parameters": {},
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ],
          "path": "v23:listBenchmarksLocations",
          "request": {
            "$ref": "GoogleAdsSearchads360V23Services__ListBenchmarksLocationsRequest"
          },
          "parameterOrder": [],
          "id": "searchads360.listBenchmarksLocations",
          "description": "Returns the list of locations that support benchmarks (for example, countries). List of thrown errors: [AuthenticationError]() [AuthorizationError]() [FieldError]() [HeaderError]() [InternalError]() [QuotaError]() [RequestError]()",
          "flatPath": "v23:listBenchmarksLocations",
          "httpMethod": "POST"
        },
        "listPlannableLocations": {
          "path": "v23:listPlannableLocations",
          "request": {
            "$ref": "GoogleAdsSearchads360V23Services__ListPlannableLocationsRequest"
          },
          "flatPath": "v23:listPlannableLocations",
          "httpMethod": "POST",
          "id": "searchads360.listPlannableLocations",
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ],
          "description": "Returns the list of plannable locations (for example, countries). List of thrown errors: [AuthenticationError]() [AuthorizationError]() [HeaderError]() [InternalError]() [QuotaError]() [RequestError]()",
          "parameterOrder": [],
          "response": {
            "$ref": "GoogleAdsSearchads360V23Services__ListPlannableLocationsResponse"
          },
          "parameters": {}
        },
        "listPlannableUserLists": {
          "request": {
            "$ref": "GoogleAdsSearchads360V23Services__ListPlannableUserListsRequest"
          },
          "httpMethod": "POST",
          "description": "Returns the list of plannable user lists with their plannable status. User lists may not be plannable for a number of reasons, including: - They are less than 10 days old. - They have a membership lifespan that is less than 30 days - They have less than 10,000 or more than 700,000 users. List of thrown errors: [AuthenticationError]() [AuthorizationError]() [FieldError]() [HeaderError]() [InternalError]() [QuotaError]() [RangeError]() [ReachPlanError]() [RequestError]()",
          "id": "searchads360.listPlannableUserLists",
          "parameters": {},
          "parameterOrder": [],
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ],
          "response": {
            "$ref": "GoogleAdsSearchads360V23Services__ListPlannableUserListsResponse"
          },
          "flatPath": "v23:listPlannableUserLists",
          "path": "v23:listPlannableUserLists"
        },
        "generateConversionRates": {
          "path": "v23:generateConversionRates",
          "description": "Returns a collection of conversion rate suggestions for supported plannable products. List of thrown errors: [AuthenticationError]() [AuthorizationError]() [HeaderError]() [InternalError]() [QuotaError]() [RequestError]()",
          "parameters": {},
          "request": {
            "$ref": "GoogleAdsSearchads360V23Services__GenerateConversionRatesRequest"
          },
          "response": {
            "$ref": "GoogleAdsSearchads360V23Services__GenerateConversionRatesResponse"
          },
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ],
          "flatPath": "v23:generateConversionRates",
          "id": "searchads360.generateConversionRates",
          "parameterOrder": []
        },
        "listBenchmarksSources": {
          "flatPath": "v23:listBenchmarksSources",
          "request": {
            "$ref": "GoogleAdsSearchads360V23Services__ListBenchmarksSourcesRequest"
          },
          "id": "searchads360.listBenchmarksSources",
          "parameterOrder": [],
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ],
          "path": "v23:listBenchmarksSources",
          "parameters": {},
          "httpMethod": "POST",
          "description": "Returns the list of benchmarks sources (for example, Industry Verticals). List of thrown errors: [AuthenticationError]() [AuthorizationError]() [FieldError]() [HeaderError]() [InternalError]() [QuotaError]() [RequestError]()",
          "response": {
            "$ref": "GoogleAdsSearchads360V23Services__ListBenchmarksSourcesResponse"
          }
        }
      }
    },
    "customers": {
      "methods": {
        "getIdentityVerification": {
          "response": {
            "$ref": "GoogleAdsSearchads360V23Services__GetIdentityVerificationResponse"
          },
          "parameterOrder": [
            "customerId"
          ],
          "id": "searchads360.customers.getIdentityVerification",
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ],
          "httpMethod": "GET",
          "parameters": {
            "customerId": {
              "type": "string",
              "pattern": "^[^/]+$",
              "location": "path",
              "required": true,
              "description": "Required. The ID of the customer for whom we are requesting verification information."
            }
          },
          "path": "v23/customers/{+customerId}/getIdentityVerification",
          "flatPath": "v23/customers/{customersId}/getIdentityVerification",
          "description": "Returns Identity Verification information. List of thrown errors: [AuthenticationError]() [AuthorizationError]() [HeaderError]() [InternalError]() [QuotaError]() [RequestError]()"
        },
        "generateReachForecast": {
          "parameters": {
            "customerId": {
              "pattern": "^[^/]+$",
              "description": "Required. The ID of the customer.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "description": "Generates a reach forecast for a given targeting / product mix. List of thrown errors: [AuthenticationError]() [AuthorizationError]() [FieldError]() [HeaderError]() [InternalError]() [QuotaError]() [RangeError]() [ReachPlanError]() [RequestError]()",
          "response": {
            "$ref": "GoogleAdsSearchads360V23Services__GenerateReachForecastResponse"
          },
          "request": {
            "$ref": "GoogleAdsSearchads360V23Services__GenerateReachForecastRequest"
          },
          "id": "searchads360.customers.generateReachForecast",
          "httpMethod": "POST",
          "path": "v23/customers/{+customerId}:generateReachForecast",
          "flatPath": "v23/customers/{customersId}:generateReachForecast",
          "parameterOrder": [
            "customerId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ]
        },
        "suggestSmartCampaignAd": {
          "response": {
            "$ref": "GoogleAdsSearchads360V23Services__SuggestSmartCampaignAdResponse"
          },
          "request": {
            "$ref": "GoogleAdsSearchads360V23Services__SuggestSmartCampaignAdRequest"
          },
          "httpMethod": "POST",
          "description": "Suggests a Smart campaign ad compatible with the Ad family of resources, based on data points such as targeting and the business to advertise.",
          "path": "v23/customers/{+customerId}:suggestSmartCampaignAd",
          "id": "searchads360.customers.suggestSmartCampaignAd",
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ],
          "parameters": {
            "customerId": {
              "location": "path",
              "required": true,
              "type": "string",
              "pattern": "^[^/]+$",
              "description": "Required. The ID of the customer."
            }
          },
          "parameterOrder": [
            "customerId"
          ],
          "flatPath": "v23/customers/{customersId}:suggestSmartCampaignAd"
        },
        "generateAudienceDefinition": {
          "description": "Returns a collection of audience attributes using generative AI based on the provided audience description. List of thrown errors: [AudienceInsightsError]() [AuthenticationError]() [AuthorizationError]() [FieldError]() [HeaderError]() [InternalError]() [QuotaError]() [RequestError]()",
          "flatPath": "v23/customers/{customersId}:generateAudienceDefinition",
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ],
          "request": {
            "$ref": "GoogleAdsSearchads360V23Services__GenerateAudienceDefinitionRequest"
          },
          "parameters": {
            "customerId": {
              "description": "Required. The ID of the customer.",
              "location": "path",
              "required": true,
              "pattern": "^[^/]+$",
              "type": "string"
            }
          },
          "httpMethod": "POST",
          "id": "searchads360.customers.generateAudienceDefinition",
          "response": {
            "$ref": "GoogleAdsSearchads360V23Services__GenerateAudienceDefinitionResponse"
          },
          "parameterOrder": [
            "customerId"
          ],
          "path": "v23/customers/{+customerId}:generateAudienceDefinition"
        },
        "createCustomerClient": {
          "response": {
            "$ref": "GoogleAdsSearchads360V23Services__CreateCustomerClientResponse"
          },
          "description": "Creates a new client under manager. The new client customer is returned. List of thrown errors: [AccessInvitationError]() [AuthenticationError]() [AuthorizationError]() [CurrencyCodeError]() [HeaderError]() [InternalError]() [ManagerLinkError]() [QuotaError]() [RequestError]() [StringLengthError]() [TimeZoneError]()",
          "parameterOrder": [
            "customerId"
          ],
          "request": {
            "$ref": "GoogleAdsSearchads360V23Services__CreateCustomerClientRequest"
          },
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ],
          "parameters": {
            "customerId": {
              "description": "Required. The ID of the Manager under whom client customer is being created.",
              "pattern": "^[^/]+$",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "flatPath": "v23/customers/{customersId}:createCustomerClient",
          "path": "v23/customers/{+customerId}:createCustomerClient",
          "id": "searchads360.customers.createCustomerClient",
          "httpMethod": "POST"
        },
        "removeCampaignAutomaticallyCreatedAsset": {
          "flatPath": "v23/customers/{customersId}:removeCampaignAutomaticallyCreatedAsset",
          "request": {
            "$ref": "GoogleAdsSearchads360V23Services__RemoveCampaignAutomaticallyCreatedAssetRequest"
          },
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ],
          "path": "v23/customers/{+customerId}:removeCampaignAutomaticallyCreatedAsset",
          "httpMethod": "POST",
          "parameters": {
            "customerId": {
              "pattern": "^[^/]+$",
              "type": "string",
              "description": "Required. The ID of the customer whose assets are being removed.",
              "location": "path",
              "required": true
            }
          },
          "response": {
            "$ref": "GoogleAdsSearchads360V23Services__RemoveCampaignAutomaticallyCreatedAssetResponse"
          },
          "id": "searchads360.customers.removeCampaignAutomaticallyCreatedAsset",
          "description": "Removes automatically created assets from a campaign. List of thrown errors: [AuthenticationError]() [AuthorizationError]() [ContextError]() [FieldError]() [InternalError]() [MutateError]() [PartialFailureError]() [QuotaError]() [RequestError]()",
          "parameterOrder": [
            "customerId"
          ]
        },
        "generateKeywordHistoricalMetrics": {
          "response": {
            "$ref": "GoogleAdsSearchads360V23Services__GenerateKeywordHistoricalMetricsResponse"
          },
          "parameterOrder": [
            "customerId"
          ],
          "request": {
            "$ref": "GoogleAdsSearchads360V23Services__GenerateKeywordHistoricalMetricsRequest"
          },
          "id": "searchads360.customers.generateKeywordHistoricalMetrics",
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ],
          "description": "Returns a list of keyword historical metrics. List of thrown errors: [AuthenticationError]() [AuthorizationError]() [CollectionSizeError]() [HeaderError]() [InternalError]() [QuotaError]() [RequestError]()",
          "flatPath": "v23/customers/{customersId}:generateKeywordHistoricalMetrics",
          "parameters": {
            "customerId": {
              "pattern": "^[^/]+$",
              "type": "string",
              "description": "The ID of the customer with the recommendation.",
              "location": "path",
              "required": true
            }
          },
          "path": "v23/customers/{+customerId}:generateKeywordHistoricalMetrics"
        },
        "uploadCallConversions": {
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ],
          "description": "Processes the given call conversions. List of thrown errors: [AuthenticationError]() [AuthorizationError]() [HeaderError]() [InternalError]() [PartialFailureError]() [QuotaError]() [RequestError]()",
          "response": {
            "$ref": "GoogleAdsSearchads360V23Services__UploadCallConversionsResponse"
          },
          "path": "v23/customers/{+customerId}:uploadCallConversions",
          "request": {
            "$ref": "GoogleAdsSearchads360V23Services__UploadCallConversionsRequest"
          },
          "id": "searchads360.customers.uploadCallConversions",
          "flatPath": "v23/customers/{customersId}:uploadCallConversions",
          "parameters": {
            "customerId": {
              "type": "string",
              "pattern": "^[^/]+$",
              "description": "Required. The ID of the customer performing the upload.",
              "location": "path",
              "required": true
            }
          },
          "httpMethod": "POST",
          "parameterOrder": [
            "customerId"
          ]
        },
        "uploadConversionAdjustments": {
          "id": "searchads360.customers.uploadConversionAdjustments",
          "path": "v23/customers/{+customerId}:uploadConversionAdjustments",
          "response": {
            "$ref": "GoogleAdsSearchads360V23Services__UploadConversionAdjustmentsResponse"
          },
          "parameterOrder": [
            "customerId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ],
          "httpMethod": "POST",
          "request": {
            "$ref": "GoogleAdsSearchads360V23Services__UploadConversionAdjustmentsRequest"
          },
          "parameters": {
            "customerId": {
              "description": "Required. The ID of the customer performing the upload.",
              "pattern": "^[^/]+$",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "description": "Processes the given conversion adjustments. List of thrown errors: [AuthenticationError]() [AuthorizationError]() [HeaderError]() [InternalError]() [PartialFailureError]() [QuotaError]() [RequestError]()",
          "flatPath": "v23/customers/{customersId}:uploadConversionAdjustments"
        },
        "generateAudienceOverlapInsights": {
          "httpMethod": "POST",
          "flatPath": "v23/customers/{customersId}:generateAudienceOverlapInsights",
          "parameters": {
            "customerId": {
              "type": "string",
              "pattern": "^[^/]+$",
              "description": "Required. The ID of the customer.",
              "location": "path",
              "required": true
            }
          },
          "request": {
            "$ref": "GoogleAdsSearchads360V23Services__GenerateAudienceOverlapInsightsRequest"
          },
          "description": "Returns a collection of audience attributes along with estimates of the overlap between their potential YouTube reach and that of a given input attribute. List of thrown errors: [AudienceInsightsError]() [AuthenticationError]() [AuthorizationError]() [FieldError]() [HeaderError]() [InternalError]() [QuotaError]() [RangeError]() [RequestError]()",
          "id": "searchads360.customers.generateAudienceOverlapInsights",
          "response": {
            "$ref": "GoogleAdsSearchads360V23Services__GenerateAudienceOverlapInsightsResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ],
          "parameterOrder": [
            "customerId"
          ],
          "path": "v23/customers/{+customerId}:generateAudienceOverlapInsights"
        },
        "searchAudienceInsightsAttributes": {
          "httpMethod": "POST",
          "path": "v23/customers/{+customerId}:searchAudienceInsightsAttributes",
          "request": {
            "$ref": "GoogleAdsSearchads360V23Services__ListAudienceInsightsAttributesRequest"
          },
          "response": {
            "$ref": "GoogleAdsSearchads360V23Services__ListAudienceInsightsAttributesResponse"
          },
          "parameters": {
            "customerId": {
              "location": "path",
              "required": true,
              "pattern": "^[^/]+$",
              "type": "string",
              "description": "Required. The ID of the customer."
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ],
          "flatPath": "v23/customers/{customersId}:searchAudienceInsightsAttributes",
          "parameterOrder": [
            "customerId"
          ],
          "description": "Searches for audience attributes that can be used to generate insights. List of thrown errors: [AuthenticationError]() [AuthorizationError]() [FieldError]() [HeaderError]() [InternalError]() [QuotaError]() [RangeError]() [RequestError]()",
          "id": "searchads360.customers.searchAudienceInsightsAttributes"
        },
        "generateKeywordForecastMetrics": {
          "description": "Returns metrics (such as impressions, clicks, total cost) of a keyword forecast for the given campaign. List of thrown errors: [AuthenticationError]() [AuthorizationError]() [CollectionSizeError]() [HeaderError]() [InternalError]() [QuotaError]() [RequestError]()",
          "flatPath": "v23/customers/{customersId}:generateKeywordForecastMetrics",
          "parameterOrder": [
            "customerId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ],
          "path": "v23/customers/{+customerId}:generateKeywordForecastMetrics",
          "parameters": {
            "customerId": {
              "type": "string",
              "pattern": "^[^/]+$",
              "location": "path",
              "required": true,
              "description": "The ID of the customer."
            }
          },
          "httpMethod": "POST",
          "response": {
            "$ref": "GoogleAdsSearchads360V23Services__GenerateKeywordForecastMetricsResponse"
          },
          "id": "searchads360.customers.generateKeywordForecastMetrics",
          "request": {
            "$ref": "GoogleAdsSearchads360V23Services__GenerateKeywordForecastMetricsRequest"
          }
        },
        "mutate": {
          "parameters": {
            "customerId": {
              "description": "Required. The ID of the customer being modified.",
              "pattern": "^[^/]+$",
              "type": "string",
              "location": "path",
              "required": true
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ],
          "path": "v23/customers/{+customerId}:mutate",
          "response": {
            "$ref": "GoogleAdsSearchads360V23Services__MutateCustomerResponse"
          },
          "httpMethod": "POST",
          "request": {
            "$ref": "GoogleAdsSearchads360V23Services__MutateCustomerRequest"
          },
          "id": "searchads360.customers.mutate",
          "flatPath": "v23/customers/{customersId}:mutate",
          "parameterOrder": [
            "customerId"
          ],
          "description": "Updates a customer. Operation statuses are returned. List of thrown errors: [AuthenticationError]() [AuthorizationError]() [DatabaseError]() [FieldMaskError]() [HeaderError]() [InternalError]() [QuotaError]() [RequestError]() [UrlFieldError]()"
        },
        "listAccessibleCustomers": {
          "flatPath": "v23/customers:listAccessibleCustomers",
          "parameterOrder": [],
          "description": "Returns resource names of customers directly accessible by the user authenticating the call. List of thrown errors: [AuthenticationError]() [AuthorizationError]() [HeaderError]() [InternalError]() [QuotaError]() [RequestError]()",
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ],
          "httpMethod": "GET",
          "parameters": {},
          "response": {
            "$ref": "GoogleAdsSearchads360V23Services__ListAccessibleCustomersResponse"
          },
          "path": "v23/customers:listAccessibleCustomers",
          "id": "searchads360.customers.listAccessibleCustomers"
        },
        "startIdentityVerification": {
          "response": {
            "$ref": "GoogleProtobuf__Empty"
          },
          "id": "searchads360.customers.startIdentityVerification",
          "request": {
            "$ref": "GoogleAdsSearchads360V23Services__StartIdentityVerificationRequest"
          },
          "description": "Starts Identity Verification for a given verification program type. Statuses are returned. List of thrown errors: [AuthenticationError]() [AuthorizationError]() [HeaderError]() [InternalError]() [QuotaError]() [RequestError]()",
          "path": "v23/customers/{+customerId}:startIdentityVerification",
          "parameterOrder": [
            "customerId"
          ],
          "parameters": {
            "customerId": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "Required. The Id of the customer for whom we are creating this verification.",
              "pattern": "^[^/]+$"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ],
          "flatPath": "v23/customers/{customersId}:startIdentityVerification",
          "httpMethod": "POST"
        },
        "uploadUserData": {
          "id": "searchads360.customers.uploadUserData",
          "description": "Uploads the given user data. List of thrown errors: [AuthenticationError]() [AuthorizationError]() [CollectionSizeError]() [FieldError]() [HeaderError]() [InternalError]() [MutateError]() [OfflineUserDataJobError]() [QuotaError]() [RequestError]() [UserDataError]()",
          "response": {
            "$ref": "GoogleAdsSearchads360V23Services__UploadUserDataResponse"
          },
          "httpMethod": "POST",
          "path": "v23/customers/{+customerId}:uploadUserData",
          "parameters": {
            "customerId": {
              "pattern": "^[^/]+$",
              "description": "Required. The ID of the customer for which to update the user data.",
              "type": "string",
              "location": "path",
              "required": true
            }
          },
          "parameterOrder": [
            "customerId"
          ],
          "request": {
            "$ref": "GoogleAdsSearchads360V23Services__UploadUserDataRequest"
          },
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ],
          "flatPath": "v23/customers/{customersId}:uploadUserData"
        },
        "suggestKeywordThemes": {
          "request": {
            "$ref": "GoogleAdsSearchads360V23Services__SuggestKeywordThemesRequest"
          },
          "response": {
            "$ref": "GoogleAdsSearchads360V23Services__SuggestKeywordThemesResponse"
          },
          "path": "v23/customers/{+customerId}:suggestKeywordThemes",
          "description": "Suggests keyword themes to advertise on.",
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ],
          "httpMethod": "POST",
          "parameters": {
            "customerId": {
              "description": "Required. The ID of the customer.",
              "location": "path",
              "required": true,
              "pattern": "^[^/]+$",
              "type": "string"
            }
          },
          "id": "searchads360.customers.suggestKeywordThemes",
          "parameterOrder": [
            "customerId"
          ],
          "flatPath": "v23/customers/{customersId}:suggestKeywordThemes"
        },
        "generateAdGroupThemes": {
          "response": {
            "$ref": "GoogleAdsSearchads360V23Services__GenerateAdGroupThemesResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ],
          "id": "searchads360.customers.generateAdGroupThemes",
          "parameterOrder": [
            "customerId"
          ],
          "request": {
            "$ref": "GoogleAdsSearchads360V23Services__GenerateAdGroupThemesRequest"
          },
          "description": "Returns a list of suggested AdGroups and suggested modifications (text, match type) for the given keywords. List of thrown errors: [AuthenticationError]() [AuthorizationError]() [CollectionSizeError]() [HeaderError]() [InternalError]() [QuotaError]() [RequestError]()",
          "httpMethod": "POST",
          "path": "v23/customers/{+customerId}:generateAdGroupThemes",
          "parameters": {
            "customerId": {
              "description": "Required. The ID of the customer.",
              "type": "string",
              "location": "path",
              "required": true,
              "pattern": "^[^/]+$"
            }
          },
          "flatPath": "v23/customers/{customersId}:generateAdGroupThemes"
        },
        "generateKeywordIdeas": {
          "description": "Returns a list of keyword ideas. List of thrown errors: [AuthenticationError]() [AuthorizationError]() [CollectionSizeError]() [HeaderError]() [InternalError]() [KeywordPlanIdeaError]() [QuotaError]() [RequestError]()",
          "httpMethod": "POST",
          "path": "v23/customers/{+customerId}:generateKeywordIdeas",
          "flatPath": "v23/customers/{customersId}:generateKeywordIdeas",
          "parameters": {
            "customerId": {
              "location": "path",
              "required": true,
              "description": "The ID of the customer with the recommendation.",
              "pattern": "^[^/]+$",
              "type": "string"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ],
          "response": {
            "$ref": "GoogleAdsSearchads360V23Services__GenerateKeywordIdeaResponse"
          },
          "id": "searchads360.customers.generateKeywordIdeas",
          "request": {
            "$ref": "GoogleAdsSearchads360V23Services__GenerateKeywordIdeasRequest"
          },
          "parameterOrder": [
            "customerId"
          ]
        },
        "uploadClickConversions": {
          "request": {
            "$ref": "GoogleAdsSearchads360V23Services__UploadClickConversionsRequest"
          },
          "flatPath": "v23/customers/{customersId}:uploadClickConversions",
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ],
          "httpMethod": "POST",
          "parameters": {
            "customerId": {
              "description": "Required. The ID of the customer performing the upload.",
              "pattern": "^[^/]+$",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "path": "v23/customers/{+customerId}:uploadClickConversions",
          "parameterOrder": [
            "customerId"
          ],
          "response": {
            "$ref": "GoogleAdsSearchads360V23Services__UploadClickConversionsResponse"
          },
          "id": "searchads360.customers.uploadClickConversions",
          "description": "Processes the given click conversions. List of thrown errors: [AuthenticationError]() [AuthorizationError]() [ConversionUploadError]() [HeaderError]() [InternalError]() [PartialFailureError]() [QuotaError]() [RequestError]()"
        },
        "generateBenchmarksMetrics": {
          "request": {
            "$ref": "GoogleAdsSearchads360V23Services__GenerateBenchmarksMetricsRequest"
          },
          "description": "Returns YouTube advertisement metrics for the given client against industry benchmarks. List of thrown errors: [AuthenticationError]() [AuthorizationError]() [BenchmarksError]() [FieldError]() [HeaderError]() [InternalError]() [QuotaError]() [RangeError]() [RequestError]()",
          "flatPath": "v23/customers/{customersId}:generateBenchmarksMetrics",
          "path": "v23/customers/{+customerId}:generateBenchmarksMetrics",
          "parameters": {
            "customerId": {
              "location": "path",
              "required": true,
              "type": "string",
              "pattern": "^[^/]+$",
              "description": "Required. The ID of the customer. Supply a client customer ID to generate metrics for the customer. A manager account customer ID will not return customer metrics since it does not have any associated direct ad campaigns."
            }
          },
          "id": "searchads360.customers.generateBenchmarksMetrics",
          "parameterOrder": [
            "customerId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ],
          "httpMethod": "POST",
          "response": {
            "$ref": "GoogleAdsSearchads360V23Services__GenerateBenchmarksMetricsResponse"
          }
        },
        "generateInsightsFinderReport": {
          "flatPath": "v23/customers/{customersId}:generateInsightsFinderReport",
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ],
          "description": "Creates a saved report that can be viewed in the Insights Finder tool. List of thrown errors: [AuthenticationError]() [AuthorizationError]() [FieldError]() [HeaderError]() [InternalError]() [QuotaError]() [RangeError]() [RequestError]()",
          "id": "searchads360.customers.generateInsightsFinderReport",
          "path": "v23/customers/{+customerId}:generateInsightsFinderReport",
          "parameters": {
            "customerId": {
              "pattern": "^[^/]+$",
              "description": "Required. The ID of the customer.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "parameterOrder": [
            "customerId"
          ],
          "response": {
            "$ref": "GoogleAdsSearchads360V23Services__GenerateInsightsFinderReportResponse"
          },
          "request": {
            "$ref": "GoogleAdsSearchads360V23Services__GenerateInsightsFinderReportRequest"
          },
          "httpMethod": "POST"
        },
        "generateSuggestedTargetingInsights": {
          "flatPath": "v23/customers/{customersId}:generateSuggestedTargetingInsights",
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ],
          "description": "Returns a collection of targeting insights (e.g. targetable audiences) that are relevant to the requested audience. List of thrown errors: [AudienceInsightsError]() [AuthenticationError]() [AuthorizationError]() [FieldError]() [HeaderError]() [InternalError]() [QuotaError]() [RangeError]() [RequestError]()",
          "path": "v23/customers/{+customerId}:generateSuggestedTargetingInsights",
          "request": {
            "$ref": "GoogleAdsSearchads360V23Services__GenerateSuggestedTargetingInsightsRequest"
          },
          "id": "searchads360.customers.generateSuggestedTargetingInsights",
          "parameters": {
            "customerId": {
              "description": "Required. The ID of the customer.",
              "location": "path",
              "required": true,
              "type": "string",
              "pattern": "^[^/]+$"
            }
          },
          "response": {
            "$ref": "GoogleAdsSearchads360V23Services__GenerateSuggestedTargetingInsightsResponse"
          },
          "httpMethod": "POST",
          "parameterOrder": [
            "customerId"
          ]
        },
        "suggestTravelAssets": {
          "parameterOrder": [
            "customerId"
          ],
          "description": "Returns Travel Asset suggestions. Asset suggestions are returned on a best-effort basis. There are no guarantees that all possible asset types will be returned for any given hotel property.",
          "parameters": {
            "customerId": {
              "type": "string",
              "pattern": "^[^/]+$",
              "description": "Required. The ID of the customer.",
              "location": "path",
              "required": true
            }
          },
          "flatPath": "v23/customers/{customersId}:suggestTravelAssets",
          "path": "v23/customers/{+customerId}:suggestTravelAssets",
          "id": "searchads360.customers.suggestTravelAssets",
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ],
          "request": {
            "$ref": "GoogleAdsSearchads360V23Services__SuggestTravelAssetsRequest"
          },
          "response": {
            "$ref": "GoogleAdsSearchads360V23Services__SuggestTravelAssetsResponse"
          }
        },
        "suggestSmartCampaignBudgetOptions": {
          "response": {
            "$ref": "GoogleAdsSearchads360V23Services__SuggestSmartCampaignBudgetOptionsResponse"
          },
          "request": {
            "$ref": "GoogleAdsSearchads360V23Services__SuggestSmartCampaignBudgetOptionsRequest"
          },
          "path": "v23/customers/{+customerId}:suggestSmartCampaignBudgetOptions",
          "parameterOrder": [
            "customerId"
          ],
          "id": "searchads360.customers.suggestSmartCampaignBudgetOptions",
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ],
          "description": "Returns BudgetOption suggestions.",
          "flatPath": "v23/customers/{customersId}:suggestSmartCampaignBudgetOptions",
          "parameters": {
            "customerId": {
              "pattern": "^[^/]+$",
              "description": "Required. The ID of the customer whose budget options are to be suggested.",
              "type": "string",
              "location": "path",
              "required": true
            }
          }
        },
        "generateAudienceCompositionInsights": {
          "request": {
            "$ref": "GoogleAdsSearchads360V23Services__GenerateAudienceCompositionInsightsRequest"
          },
          "httpMethod": "POST",
          "parameters": {
            "customerId": {
              "type": "string",
              "location": "path",
              "required": true,
              "pattern": "^[^/]+$",
              "description": "Required. The ID of the customer."
            }
          },
          "description": "Returns a collection of attributes that are represented in an audience of interest, with metrics that compare each attribute's share of the audience with its share of a baseline audience. List of thrown errors: [AudienceInsightsError]() [AuthenticationError]() [AuthorizationError]() [FieldError]() [HeaderError]() [InternalError]() [QuotaError]() [RangeError]() [RequestError]()",
          "flatPath": "v23/customers/{customersId}:generateAudienceCompositionInsights",
          "response": {
            "$ref": "GoogleAdsSearchads360V23Services__GenerateAudienceCompositionInsightsResponse"
          },
          "parameterOrder": [
            "customerId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ],
          "path": "v23/customers/{+customerId}:generateAudienceCompositionInsights",
          "id": "searchads360.customers.generateAudienceCompositionInsights"
        },
        "generateTargetingSuggestionMetrics": {
          "path": "v23/customers/{+customerId}:generateTargetingSuggestionMetrics",
          "response": {
            "$ref": "GoogleAdsSearchads360V23Services__GenerateTargetingSuggestionMetricsResponse"
          },
          "parameterOrder": [
            "customerId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ],
          "request": {
            "$ref": "GoogleAdsSearchads360V23Services__GenerateTargetingSuggestionMetricsRequest"
          },
          "httpMethod": "POST",
          "id": "searchads360.customers.generateTargetingSuggestionMetrics",
          "parameters": {
            "customerId": {
              "location": "path",
              "required": true,
              "description": "Required. The ID of the customer.",
              "pattern": "^[^/]+$",
              "type": "string"
            }
          },
          "flatPath": "v23/customers/{customersId}:generateTargetingSuggestionMetrics",
          "description": "Returns potential reach metrics for targetable audiences. This method helps answer questions like \"How many Men aged 18+ interested in Camping can be reached on YouTube?\" List of thrown errors: [AudienceInsightsError]() [AuthenticationError]() [AuthorizationError]() [FieldError]() [HeaderError]() [InternalError]() [QuotaError]() [RangeError]() [RequestError]()"
        }
      },
      "resources": {
        "adGroupAds": {
          "methods": {
            "mutate": {
              "request": {
                "$ref": "GoogleAdsSearchads360V23Services__MutateAdGroupAdsRequest"
              },
              "id": "searchads360.customers.adGroupAds.mutate",
              "path": "v23/customers/{+customerId}/adGroupAds:mutate",
              "description": "Creates, updates, or removes ads. Operation statuses are returned. List of thrown errors: [AdCustomizerError]() [AdError]() [AdGroupAdError]() [AdSharingError]() [AdxError]() [AssetError]() [AssetLinkError]() [AuthenticationError]() [AuthorizationError]() [CollectionSizeError]() [ContextError]() [DatabaseError]() [DateError]() [DistinctError]() [FeedAttributeReferenceError]() [FieldError]() [FieldMaskError]() [FunctionError]() [FunctionParsingError]() [HeaderError]() [IdError]() [ImageError]() [InternalError]() [ListOperationError]() [MediaBundleError]() [MediaFileError]() [MutateError]() [NewResourceCreationError]() [NotEmptyError]() [NullError]() [OperationAccessDeniedError]() [OperatorError]() [PolicyFindingError]() [PolicyValidationParameterError]() [PolicyViolationError]() [QuotaError]() [RangeError]() [RequestError]() [ResourceCountLimitExceededError]() [SizeLimitError]() [StringFormatError]() [StringLengthError]() [UrlFieldError]()",
              "scopes": [
                "https://www.googleapis.com/auth/doubleclicksearch"
              ],
              "response": {
                "$ref": "GoogleAdsSearchads360V23Services__MutateAdGroupAdsResponse"
              },
              "parameters": {
                "customerId": {
                  "pattern": "^[^/]+$",
                  "type": "string",
                  "description": "Required. The ID of the customer whose ads are being modified.",
                  "location": "path",
                  "required": true
                }
              },
              "flatPath": "v23/customers/{customersId}/adGroupAds:mutate",
              "httpMethod": "POST",
              "parameterOrder": [
                "customerId"
              ]
            },
            "removeAutomaticallyCreatedAssets": {
              "flatPath": "v23/customers/{customersId}/adGroupAds/{adGroupAdsId}:removeAutomaticallyCreatedAssets",
              "parameterOrder": [
                "adGroupAd"
              ],
              "id": "searchads360.customers.adGroupAds.removeAutomaticallyCreatedAssets",
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/doubleclicksearch"
              ],
              "response": {
                "$ref": "GoogleProtobuf__Empty"
              },
              "description": "Remove automatically created assets from an ad. List of thrown errors: [AdError]() [AuthenticationError]() [AuthorizationError]() [AutomaticallyCreatedAssetRemovalError]() [HeaderError]() [InternalError]() [MutateError]() [QuotaError]() [RequestError]()",
              "request": {
                "$ref": "GoogleAdsSearchads360V23Services__RemoveAutomaticallyCreatedAssetsRequest"
              },
              "path": "v23/{+adGroupAd}:removeAutomaticallyCreatedAssets",
              "parameters": {
                "adGroupAd": {
                  "location": "path",
                  "required": true,
                  "pattern": "^customers/[^/]+/adGroupAds/[^/]+$",
                  "type": "string",
                  "description": "Required. The resource name of the AdGroupAd from which to remove automatically created assets."
                }
              }
            }
          }
        },
        "invoices": {
          "methods": {
            "list": {
              "scopes": [
                "https://www.googleapis.com/auth/doubleclicksearch"
              ],
              "parameters": {
                "billingSetup": {
                  "description": "Required. The billing setup resource name of the requested invoices. `customers/{customer_id}/billingSetups/{billing_setup_id}`",
                  "type": "string",
                  "location": "query"
                },
                "customerId": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "pattern": "^[^/]+$",
                  "description": "Required. The ID of the customer to fetch invoices for."
                },
                "includeGranularLevelInvoiceDetails": {
                  "type": "boolean",
                  "description": "Optional. When true, the response will include more granular level invoice details such as campaign level cost breakdown, itemized regulatory costs and adjustments. The default value is false.",
                  "location": "query"
                },
                "issueYear": {
                  "description": "Required. The issue year to retrieve invoices, in yyyy format. Only invoices issued in 2019 or later can be retrieved.",
                  "type": "string",
                  "location": "query"
                },
                "issueMonth": {
                  "description": "Required. The issue month to retrieve invoices.",
                  "location": "query",
                  "type": "string",
                  "enum": [
                    "UNSPECIFIED",
                    "UNKNOWN",
                    "JANUARY",
                    "FEBRUARY",
                    "MARCH",
                    "APRIL",
                    "MAY",
                    "JUNE",
                    "JULY",
                    "AUGUST",
                    "SEPTEMBER",
                    "OCTOBER",
                    "NOVEMBER",
                    "DECEMBER"
                  ],
                  "enumDescriptions": [
                    "Not specified.",
                    "The value is unknown in this version.",
                    "January.",
                    "February.",
                    "March.",
                    "April.",
                    "May.",
                    "June.",
                    "July.",
                    "August.",
                    "September.",
                    "October.",
                    "November.",
                    "December."
                  ]
                }
              },
              "id": "searchads360.customers.invoices.list",
              "flatPath": "v23/customers/{customersId}/invoices",
              "path": "v23/customers/{+customerId}/invoices",
              "httpMethod": "GET",
              "description": "Returns all invoices associated with a billing setup, for a given month. List of thrown errors: [AuthenticationError]() [AuthorizationError]() [FieldError]() [HeaderError]() [InternalError]() [InvoiceError]() [QuotaError]() [RequestError]()",
              "response": {
                "$ref": "GoogleAdsSearchads360V23Services__ListInvoicesResponse"
              },
              "parameterOrder": [
                "customerId"
              ]
            }
          }
        },
        "campaignLifecycleGoal": {
          "methods": {
            "configureCampaignLifecycleGoals": {
              "request": {
                "$ref": "GoogleAdsSearchads360V23Services__ConfigureCampaignLifecycleGoalsRequest"
              },
              "scopes": [
                "https://www.googleapis.com/auth/doubleclicksearch"
              ],
              "parameters": {
                "customerId": {
                  "pattern": "^[^/]+$",
                  "location": "path",
                  "required": true,
                  "description": "Required. The ID of the customer performing the upload.",
                  "type": "string"
                }
              },
              "response": {
                "$ref": "GoogleAdsSearchads360V23Services__ConfigureCampaignLifecycleGoalsResponse"
              },
              "id": "searchads360.customers.campaignLifecycleGoal.configureCampaignLifecycleGoals",
              "httpMethod": "POST",
              "path": "v23/customers/{+customerId}/campaignLifecycleGoal:configureCampaignLifecycleGoals",
              "flatPath": "v23/customers/{customersId}/campaignLifecycleGoal:configureCampaignLifecycleGoals",
              "description": "Process the given campaign lifecycle configurations. List of thrown errors: [AuthenticationError]() [AuthorizationError]() [CampaignLifecycleGoalConfigError]() [HeaderError]() [InternalError]() [QuotaError]() [RequestError]()",
              "parameterOrder": [
                "customerId"
              ]
            }
          }
        },
        "keywordPlanAdGroupKeywords": {
          "methods": {
            "mutate": {
              "parameterOrder": [
                "customerId"
              ],
              "parameters": {
                "customerId": {
                  "description": "Required. The ID of the customer whose Keyword Plan ad group keywords are being modified.",
                  "type": "string",
                  "pattern": "^[^/]+$",
                  "location": "path",
                  "required": true
                }
              },
              "response": {
                "$ref": "GoogleAdsSearchads360V23Services__MutateKeywordPlanAdGroupKeywordsResponse"
              },
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/doubleclicksearch"
              ],
              "description": "Creates, updates, or removes Keyword Plan ad group keywords. Operation statuses are returned. List of thrown errors: [AuthenticationError]() [AuthorizationError]() [DatabaseError]() [FieldError]() [HeaderError]() [InternalError]() [KeywordPlanAdGroupKeywordError]() [KeywordPlanError]() [MutateError]() [QuotaError]() [RequestError]() [ResourceCountLimitExceededError]()",
              "request": {
                "$ref": "GoogleAdsSearchads360V23Services__MutateKeywordPlanAdGroupKeywordsRequest"
              },
              "path": "v23/customers/{+customerId}/keywordPlanAdGroupKeywords:mutate",
              "id": "searchads360.customers.keywordPlanAdGroupKeywords.mutate",
              "flatPath": "v23/customers/{customersId}/keywordPlanAdGroupKeywords:mutate"
            }
          }
        },
        "recommendations": {
          "methods": {
            "dismiss": {
              "flatPath": "v23/customers/{customersId}/recommendations:dismiss",
              "parameters": {
                "customerId": {
                  "pattern": "^[^/]+$",
                  "description": "Required. The ID of the customer with the recommendation.",
                  "type": "string",
                  "location": "path",
                  "required": true
                }
              },
              "httpMethod": "POST",
              "description": "Dismisses given recommendations. List of thrown errors: [AuthenticationError]() [AuthorizationError]() [HeaderError]() [InternalError]() [QuotaError]() [RecommendationError]() [RequestError]()",
              "parameterOrder": [
                "customerId"
              ],
              "path": "v23/customers/{+customerId}/recommendations:dismiss",
              "request": {
                "$ref": "GoogleAdsSearchads360V23Services__DismissRecommendationRequest"
              },
              "scopes": [
                "https://www.googleapis.com/auth/doubleclicksearch"
              ],
              "response": {
                "$ref": "GoogleAdsSearchads360V23Services__DismissRecommendationResponse"
              },
              "id": "searchads360.customers.recommendations.dismiss"
            },
            "apply": {
              "description": "Applies given recommendations with corresponding apply parameters. List of thrown errors: [AuthenticationError]() [AuthorizationError]() [DatabaseError]() [FieldError]() [HeaderError]() [InternalError]() [MutateError]() [QuotaError]() [RecommendationError]() [RequestError]() [UrlFieldError]()",
              "parameterOrder": [
                "customerId"
              ],
              "response": {
                "$ref": "GoogleAdsSearchads360V23Services__ApplyRecommendationResponse"
              },
              "path": "v23/customers/{+customerId}/recommendations:apply",
              "request": {
                "$ref": "GoogleAdsSearchads360V23Services__ApplyRecommendationRequest"
              },
              "flatPath": "v23/customers/{customersId}/recommendations:apply",
              "httpMethod": "POST",
              "id": "searchads360.customers.recommendations.apply",
              "scopes": [
                "https://www.googleapis.com/auth/doubleclicksearch"
              ],
              "parameters": {
                "customerId": {
                  "type": "string",
                  "pattern": "^[^/]+$",
                  "description": "Required. The ID of the customer with the recommendation.",
                  "location": "path",
                  "required": true
                }
              }
            },
            "generate": {
              "parameters": {
                "customerId": {
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "pattern": "^[^/]+$",
                  "description": "Required. The ID of the customer generating recommendations."
                }
              },
              "path": "v23/customers/{+customerId}/recommendations:generate",
              "flatPath": "v23/customers/{customersId}/recommendations:generate",
              "id": "searchads360.customers.recommendations.generate",
              "httpMethod": "POST",
              "response": {
                "$ref": "GoogleAdsSearchads360V23Services__GenerateRecommendationsResponse"
              },
              "parameterOrder": [
                "customerId"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/doubleclicksearch"
              ],
              "description": "Generates Recommendations based off the requested recommendation_types. List of thrown errors: [AuthenticationError]() [AuthorizationError]() [HeaderError]() [InternalError]() [QuotaError]() [RecommendationError]() [RequestError]()",
              "request": {
                "$ref": "GoogleAdsSearchads360V23Services__GenerateRecommendationsRequest"
              }
            }
          }
        },
        "recommendationSubscriptions": {
          "methods": {
            "mutateRecommendationSubscription": {
              "path": "v23/customers/{+customerId}/recommendationSubscriptions:mutateRecommendationSubscription",
              "scopes": [
                "https://www.googleapis.com/auth/doubleclicksearch"
              ],
              "parameterOrder": [
                "customerId"
              ],
              "response": {
                "$ref": "GoogleAdsSearchads360V23Services__MutateRecommendationSubscriptionResponse"
              },
              "request": {
                "$ref": "GoogleAdsSearchads360V23Services__MutateRecommendationSubscriptionRequest"
              },
              "httpMethod": "POST",
              "flatPath": "v23/customers/{customersId}/recommendationSubscriptions:mutateRecommendationSubscription",
              "id": "searchads360.customers.recommendationSubscriptions.mutateRecommendationSubscription",
              "description": "Mutates given subscription with corresponding apply parameters. List of thrown errors: [AuthenticationError]() [AuthorizationError]() [DatabaseError]() [FieldError]() [HeaderError]() [InternalError]() [MutateError]() [QuotaError]() [RecommendationError]() [RecommendationSubscriptionError]() [RequestError]() [UrlFieldError]()",
              "parameters": {
                "customerId": {
                  "pattern": "^[^/]+$",
                  "description": "Required. The ID of the subscribing customer.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              }
            }
          }
        },
        "batchJobs": {
          "methods": {
            "mutate": {
              "id": "searchads360.customers.batchJobs.mutate",
              "request": {
                "$ref": "GoogleAdsSearchads360V23Services__MutateBatchJobRequest"
              },
              "parameterOrder": [
                "customerId"
              ],
              "response": {
                "$ref": "GoogleAdsSearchads360V23Services__MutateBatchJobResponse"
              },
              "parameters": {
                "customerId": {
                  "type": "string",
                  "pattern": "^[^/]+$",
                  "description": "Required. The ID of the customer for which to create a batch job.",
                  "location": "path",
                  "required": true
                }
              },
              "flatPath": "v23/customers/{customersId}/batchJobs:mutate",
              "description": "Mutates a batch job. List of thrown errors: [AuthenticationError]() [AuthorizationError]() [HeaderError]() [InternalError]() [QuotaError]() [RequestError]() [ResourceCountLimitExceededError]()",
              "path": "v23/customers/{+customerId}/batchJobs:mutate",
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/doubleclicksearch"
              ]
            },
            "addOperations": {
              "response": {
                "$ref": "GoogleAdsSearchads360V23Services__AddBatchJobOperationsResponse"
              },
              "description": "Add operations to the batch job. List of thrown errors: [AuthenticationError]() [AuthorizationError]() [BatchJobError]() [HeaderError]() [InternalError]() [QuotaError]() [RequestError]() [ResourceCountLimitExceededError]()",
              "id": "searchads360.customers.batchJobs.addOperations",
              "parameters": {
                "resourceName": {
                  "type": "string",
                  "description": "Required. The resource name of the batch job.",
                  "pattern": "^customers/[^/]+/batchJobs/[^/]+$",
                  "location": "path",
                  "required": true
                }
              },
              "flatPath": "v23/customers/{customersId}/batchJobs/{batchJobsId}:addOperations",
              "path": "v23/{+resourceName}:addOperations",
              "parameterOrder": [
                "resourceName"
              ],
              "request": {
                "$ref": "GoogleAdsSearchads360V23Services__AddBatchJobOperationsRequest"
              },
              "scopes": [
                "https://www.googleapis.com/auth/doubleclicksearch"
              ],
              "httpMethod": "POST"
            },
            "listResults": {
              "flatPath": "v23/customers/{customersId}/batchJobs/{batchJobsId}:listResults",
              "description": "Returns the results of the batch job. The job must be done. Supports standard list paging. List of thrown errors: [AuthenticationError]() [AuthorizationError]() [BatchJobError]() [HeaderError]() [InternalError]() [QuotaError]() [RequestError]()",
              "parameterOrder": [
                "resourceName"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/doubleclicksearch"
              ],
              "path": "v23/{+resourceName}:listResults",
              "httpMethod": "GET",
              "parameters": {
                "pageToken": {
                  "type": "string",
                  "location": "query",
                  "description": "Token of the page to retrieve. If not specified, the first page of results will be returned. Use the value obtained from `next_page_token` in the previous response in order to request the next page of results."
                },
                "pageSize": {
                  "format": "int32",
                  "type": "integer",
                  "location": "query"
                },
                "responseContentType": {
                  "location": "query",
                  "enumDescriptions": [
                    "Not specified. Will return the resource name only in the response.",
                    "The mutate response will be the resource name.",
                    "The mutate response will contain the resource name and the resource with mutable fields if possible. Otherwise, only the resource name will be returned."
                  ],
                  "type": "string",
                  "enum": [
                    "UNSPECIFIED",
                    "RESOURCE_NAME_ONLY",
                    "MUTABLE_RESOURCE"
                  ],
                  "description": "The response content type setting. Determines whether the mutable resource or just the resource name should be returned."
                },
                "resourceName": {
                  "description": "Required. The resource name of the batch job whose results are being listed.",
                  "pattern": "^customers/[^/]+/batchJobs/[^/]+$",
                  "type": "string",
                  "location": "path",
                  "required": true
                }
              },
              "response": {
                "$ref": "GoogleAdsSearchads360V23Services__ListBatchJobResultsResponse"
              },
              "id": "searchads360.customers.batchJobs.listResults"
            },
            "run": {
              "id": "searchads360.customers.batchJobs.run",
              "parameters": {
                "resourceName": {
                  "pattern": "^customers/[^/]+/batchJobs/[^/]+$",
                  "type": "string",
                  "description": "Required. The resource name of the BatchJob to run.",
                  "location": "path",
                  "required": true
                }
              },
              "flatPath": "v23/customers/{customersId}/batchJobs/{batchJobsId}:run",
              "request": {
                "$ref": "GoogleAdsSearchads360V23Services__RunBatchJobRequest"
              },
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/doubleclicksearch"
              ],
              "path": "v23/{+resourceName}:run",
              "description": "Runs the batch job. The Operation.metadata field type is BatchJobMetadata. When finished, the long running operation will not contain errors or a response. Instead, use ListBatchJobResults to get the results of the job. List of thrown errors: [AuthenticationError]() [AuthorizationError]() [BatchJobError]() [HeaderError]() [InternalError]() [QuotaError]() [RequestError]()",
              "parameterOrder": [
                "resourceName"
              ],
              "response": {
                "$ref": "GoogleLongrunning__Operation"
              }
            }
          }
        },
        "accountLinks": {
          "methods": {
            "mutate": {
              "scopes": [
                "https://www.googleapis.com/auth/doubleclicksearch"
              ],
              "request": {
                "$ref": "GoogleAdsSearchads360V23Services__MutateAccountLinkRequest"
              },
              "flatPath": "v23/customers/{customersId}/accountLinks:mutate",
              "description": "Creates or removes an account link. From V5, create is not supported through AccountLinkService.MutateAccountLink. Use AccountLinkService.CreateAccountLink instead. List of thrown errors: [AccountLinkError]() [AuthenticationError]() [AuthorizationError]() [FieldMaskError]() [HeaderError]() [InternalError]() [MutateError]() [QuotaError]() [RequestError]()",
              "id": "searchads360.customers.accountLinks.mutate",
              "parameters": {
                "customerId": {
                  "pattern": "^[^/]+$",
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "description": "Required. The ID of the customer being modified."
                }
              },
              "httpMethod": "POST",
              "path": "v23/customers/{+customerId}/accountLinks:mutate",
              "parameterOrder": [
                "customerId"
              ],
              "response": {
                "$ref": "GoogleAdsSearchads360V23Services__MutateAccountLinkResponse"
              }
            },
            "create": {
              "flatPath": "v23/customers/{customersId}/accountLinks:create",
              "scopes": [
                "https://www.googleapis.com/auth/doubleclicksearch"
              ],
              "httpMethod": "POST",
              "id": "searchads360.customers.accountLinks.create",
              "path": "v23/customers/{+customerId}/accountLinks:create",
              "response": {
                "$ref": "GoogleAdsSearchads360V23Services__CreateAccountLinkResponse"
              },
              "description": "Creates an account link. List of thrown errors: [AuthenticationError]() [AuthorizationError]() [DatabaseError]() [FieldError]() [HeaderError]() [InternalError]() [MutateError]() [QuotaError]() [RequestError]() [ThirdPartyAppAnalyticsLinkError]()",
              "parameters": {
                "customerId": {
                  "type": "string",
                  "pattern": "^[^/]+$",
                  "description": "Required. The ID of the customer for which the account link is created.",
                  "location": "path",
                  "required": true
                }
              },
              "parameterOrder": [
                "customerId"
              ],
              "request": {
                "$ref": "GoogleAdsSearchads360V23Services__CreateAccountLinkRequest"
              }
            }
          }
        },
        "campaignCriteria": {
          "methods": {
            "mutate": {
              "request": {
                "$ref": "GoogleAdsSearchads360V23Services__MutateCampaignCriteriaRequest"
              },
              "httpMethod": "POST",
              "description": "Creates, updates, or removes criteria. Operation statuses are returned. List of thrown errors: [AdxError]() [AuthenticationError]() [AuthorizationError]() [CampaignCriterionError]() [CollectionSizeError]() [ContextError]() [CriterionError]() [DatabaseError]() [DistinctError]() [FieldError]() [FieldMaskError]() [FunctionError]() [HeaderError]() [IdError]() [InternalError]() [MutateError]() [NewResourceCreationError]() [NotEmptyError]() [NullError]() [OperationAccessDeniedError]() [OperatorError]() [QuotaError]() [RangeError]() [RegionCodeError]() [RequestError]() [ResourceCountLimitExceededError]() [SizeLimitError]() [StringFormatError]() [StringLengthError]()",
              "parameters": {
                "customerId": {
                  "pattern": "^[^/]+$",
                  "type": "string",
                  "description": "Required. The ID of the customer whose criteria are being modified.",
                  "location": "path",
                  "required": true
                }
              },
              "flatPath": "v23/customers/{customersId}/campaignCriteria:mutate",
              "scopes": [
                "https://www.googleapis.com/auth/doubleclicksearch"
              ],
              "response": {
                "$ref": "GoogleAdsSearchads360V23Services__MutateCampaignCriteriaResponse"
              },
              "path": "v23/customers/{+customerId}/campaignCriteria:mutate",
              "parameterOrder": [
                "customerId"
              ],
              "id": "searchads360.customers.campaignCriteria.mutate"
            }
          }
        },
        "customerClientLinks": {
          "methods": {
            "mutate": {
              "request": {
                "$ref": "GoogleAdsSearchads360V23Services__MutateCustomerClientLinkRequest"
              },
              "httpMethod": "POST",
              "parameterOrder": [
                "customerId"
              ],
              "response": {
                "$ref": "GoogleAdsSearchads360V23Services__MutateCustomerClientLinkResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/doubleclicksearch"
              ],
              "parameters": {
                "customerId": {
                  "pattern": "^[^/]+$",
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "Required. The ID of the customer whose customer link are being modified."
                }
              },
              "path": "v23/customers/{+customerId}/customerClientLinks:mutate",
              "id": "searchads360.customers.customerClientLinks.mutate",
              "description": "Creates or updates a customer client link. Operation statuses are returned. List of thrown errors: [AuthenticationError]() [AuthorizationError]() [DatabaseError]() [FieldError]() [FieldMaskError]() [HeaderError]() [InternalError]() [ManagerLinkError]() [MutateError]() [NewResourceCreationError]() [QuotaError]() [RequestError]()",
              "flatPath": "v23/customers/{customersId}/customerClientLinks:mutate"
            }
          }
        },
        "campaignSharedSets": {
          "methods": {
            "mutate": {
              "response": {
                "$ref": "GoogleAdsSearchads360V23Services__MutateCampaignSharedSetsResponse"
              },
              "path": "v23/customers/{+customerId}/campaignSharedSets:mutate",
              "description": "Creates or removes campaign shared sets. Operation statuses are returned. List of thrown errors: [AuthenticationError]() [AuthorizationError]() [CampaignSharedSetError]() [ContextError]() [DatabaseError]() [DateError]() [DistinctError]() [FieldError]() [HeaderError]() [IdError]() [InternalError]() [MutateError]() [NewResourceCreationError]() [NotEmptyError]() [NullError]() [OperatorError]() [QuotaError]() [RangeError]() [RequestError]() [SizeLimitError]() [StringFormatError]() [StringLengthError]()",
              "id": "searchads360.customers.campaignSharedSets.mutate",
              "scopes": [
                "https://www.googleapis.com/auth/doubleclicksearch"
              ],
              "parameters": {
                "customerId": {
                  "description": "Required. The ID of the customer whose campaign shared sets are being modified.",
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "pattern": "^[^/]+$"
                }
              },
              "request": {
                "$ref": "GoogleAdsSearchads360V23Services__MutateCampaignSharedSetsRequest"
              },
              "flatPath": "v23/customers/{customersId}/campaignSharedSets:mutate",
              "parameterOrder": [
                "customerId"
              ],
              "httpMethod": "POST"
            }
          }
        },
        "adGroupCustomizers": {
          "methods": {
            "mutate": {
              "parameters": {
                "customerId": {
                  "type": "string",
                  "pattern": "^[^/]+$",
                  "description": "Required. The ID of the customer whose ad group customizers are being modified.",
                  "location": "path",
                  "required": true
                }
              },
              "id": "searchads360.customers.adGroupCustomizers.mutate",
              "flatPath": "v23/customers/{customersId}/adGroupCustomizers:mutate",
              "httpMethod": "POST",
              "parameterOrder": [
                "customerId"
              ],
              "description": "Creates, updates or removes ad group customizers. Operation statuses are returned.",
              "response": {
                "$ref": "GoogleAdsSearchads360V23Services__MutateAdGroupCustomizersResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/doubleclicksearch"
              ],
              "request": {
                "$ref": "GoogleAdsSearchads360V23Services__MutateAdGroupCustomizersRequest"
              },
              "path": "v23/customers/{+customerId}/adGroupCustomizers:mutate"
            }
          }
        },
        "conversionActions": {
          "methods": {
            "mutate": {
              "parameters": {
                "customerId": {
                  "description": "Required. The ID of the customer whose conversion actions are being modified.",
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "pattern": "^[^/]+$"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/doubleclicksearch"
              ],
              "request": {
                "$ref": "GoogleAdsSearchads360V23Services__MutateConversionActionsRequest"
              },
              "path": "v23/customers/{+customerId}/conversionActions:mutate",
              "id": "searchads360.customers.conversionActions.mutate",
              "httpMethod": "POST",
              "response": {
                "$ref": "GoogleAdsSearchads360V23Services__MutateConversionActionsResponse"
              },
              "parameterOrder": [
                "customerId"
              ],
              "flatPath": "v23/customers/{customersId}/conversionActions:mutate",
              "description": "Creates, updates or removes conversion actions. Operation statuses are returned. List of thrown errors: [AuthenticationError]() [AuthorizationError]() [ConversionActionError]() [CurrencyCodeError]() [DatabaseError]() [FieldError]() [FieldMaskError]() [HeaderError]() [InternalError]() [MutateError]() [NewResourceCreationError]() [QuotaError]() [RangeError]() [RequestError]() [ResourceCountLimitExceededError]() [StringLengthError]()"
            }
          }
        },
        "assetGroupListingGroupFilters": {
          "methods": {
            "mutate": {
              "scopes": [
                "https://www.googleapis.com/auth/doubleclicksearch"
              ],
              "path": "v23/customers/{+customerId}/assetGroupListingGroupFilters:mutate",
              "flatPath": "v23/customers/{customersId}/assetGroupListingGroupFilters:mutate",
              "description": "Creates, updates or removes asset group listing group filters. Operation statuses are returned.",
              "httpMethod": "POST",
              "parameterOrder": [
                "customerId"
              ],
              "parameters": {
                "customerId": {
                  "description": "Required. The ID of the customer whose asset group listing group filters are being modified.",
                  "type": "string",
                  "pattern": "^[^/]+$",
                  "location": "path",
                  "required": true
                }
              },
              "request": {
                "$ref": "GoogleAdsSearchads360V23Services__MutateAssetGroupListingGroupFiltersRequest"
              },
              "id": "searchads360.customers.assetGroupListingGroupFilters.mutate",
              "response": {
                "$ref": "GoogleAdsSearchads360V23Services__MutateAssetGroupListingGroupFiltersResponse"
              }
            }
          }
        },
        "campaignAssets": {
          "methods": {
            "mutate": {
              "scopes": [
                "https://www.googleapis.com/auth/doubleclicksearch"
              ],
              "description": "Creates or removes campaign assets. Operation statuses are returned. List of thrown errors: [AssetLinkError]() [AuthenticationError]() [AuthorizationError]() [ContextError]() [DatabaseError]() [FieldError]() [HeaderError]() [InternalError]() [MutateError]() [NotAllowlistedError]() [QuotaError]() [RequestError]()",
              "response": {
                "$ref": "GoogleAdsSearchads360V23Services__MutateCampaignAssetsResponse"
              },
              "path": "v23/customers/{+customerId}/campaignAssets:mutate",
              "parameterOrder": [
                "customerId"
              ],
              "request": {
                "$ref": "GoogleAdsSearchads360V23Services__MutateCampaignAssetsRequest"
              },
              "parameters": {
                "customerId": {
                  "type": "string",
                  "description": "Required. The ID of the customer whose campaign assets are being modified.",
                  "location": "path",
                  "required": true,
                  "pattern": "^[^/]+$"
                }
              },
              "httpMethod": "POST",
              "id": "searchads360.customers.campaignAssets.mutate",
              "flatPath": "v23/customers/{customersId}/campaignAssets:mutate"
            }
          }
        },
        "audiences": {
          "methods": {
            "mutate": {
              "scopes": [
                "https://www.googleapis.com/auth/doubleclicksearch"
              ],
              "description": "Creates audiences. Operation statuses are returned. List of thrown errors: [AudienceError]()",
              "flatPath": "v23/customers/{customersId}/audiences:mutate",
              "parameters": {
                "customerId": {
                  "description": "Required. The ID of the customer whose audiences are being modified.",
                  "type": "string",
                  "pattern": "^[^/]+$",
                  "location": "path",
                  "required": true
                }
              },
              "id": "searchads360.customers.audiences.mutate",
              "path": "v23/customers/{+customerId}/audiences:mutate",
              "response": {
                "$ref": "GoogleAdsSearchads360V23Services__MutateAudiencesResponse"
              },
              "request": {
                "$ref": "GoogleAdsSearchads360V23Services__MutateAudiencesRequest"
              },
              "parameterOrder": [
                "customerId"
              ],
              "httpMethod": "POST"
            }
          }
        },
        "customerManagerLinks": {
          "methods": {
            "mutate": {
              "scopes": [
                "https://www.googleapis.com/auth/doubleclicksearch"
              ],
              "flatPath": "v23/customers/{customersId}/customerManagerLinks:mutate",
              "id": "searchads360.customers.customerManagerLinks.mutate",
              "description": "Updates customer manager links. Operation statuses are returned. List of thrown errors: [AuthenticationError]() [AuthorizationError]() [DatabaseError]() [FieldError]() [FieldMaskError]() [HeaderError]() [InternalError]() [ManagerLinkError]() [MutateError]() [QuotaError]() [RequestError]()",
              "parameters": {
                "customerId": {
                  "pattern": "^[^/]+$",
                  "type": "string",
                  "description": "Required. The ID of the customer whose customer manager links are being modified.",
                  "location": "path",
                  "required": true
                }
              },
              "request": {
                "$ref": "GoogleAdsSearchads360V23Services__MutateCustomerManagerLinkRequest"
              },
              "parameterOrder": [
                "customerId"
              ],
              "path": "v23/customers/{+customerId}/customerManagerLinks:mutate",
              "httpMethod": "POST",
              "response": {
                "$ref": "GoogleAdsSearchads360V23Services__MutateCustomerManagerLinkResponse"
              }
            },
            "moveManagerLink": {
              "scopes": [
                "https://www.googleapis.com/auth/doubleclicksearch"
              ],
              "description": "Moves a client customer to a new manager customer. This simplifies the complex request that requires two operations to move a client customer to a new manager, for example: 1. Update operation with Status INACTIVE (previous manager) and, 2. Update operation with Status ACTIVE (new manager). List of thrown errors: [AuthenticationError]() [AuthorizationError]() [DatabaseError]() [FieldError]() [HeaderError]() [InternalError]() [MutateError]() [QuotaError]() [RequestError]()",
              "parameters": {
                "customerId": {
                  "description": "Required. The ID of the client customer that is being moved.",
                  "pattern": "^[^/]+$",
                  "type": "string",
                  "location": "path",
                  "required": true
                }
              },
              "request": {
                "$ref": "GoogleAdsSearchads360V23Services__MoveManagerLinkRequest"
              },
              "httpMethod": "POST",
              "response": {
                "$ref": "GoogleAdsSearchads360V23Services__MoveManagerLinkResponse"
              },
              "path": "v23/customers/{+customerId}/customerManagerLinks:moveManagerLink",
              "flatPath": "v23/customers/{customersId}/customerManagerLinks:moveManagerLink",
              "id": "searchads360.customers.customerManagerLinks.moveManagerLink",
              "parameterOrder": [
                "customerId"
              ]
            }
          }
        },
        "CustomerCustomizers": {
          "methods": {
            "mutate": {
              "path": "v23/customers/{+customerId}/CustomerCustomizers:mutate",
              "parameterOrder": [
                "customerId"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/doubleclicksearch"
              ],
              "id": "searchads360.customers.CustomerCustomizers.mutate",
              "description": "Creates, updates or removes customer customizers. Operation statuses are returned.",
              "response": {
                "$ref": "GoogleAdsSearchads360V23Services__MutateCustomerCustomizersResponse"
              },
              "request": {
                "$ref": "GoogleAdsSearchads360V23Services__MutateCustomerCustomizersRequest"
              },
              "flatPath": "v23/customers/{customersId}/CustomerCustomizers:mutate",
              "parameters": {
                "customerId": {
                  "description": "Required. The ID of the customer whose customer customizers are being modified.",
                  "pattern": "^[^/]+$",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "httpMethod": "POST"
            }
          }
        },
        "customInterests": {
          "methods": {
            "mutate": {
              "id": "searchads360.customers.customInterests.mutate",
              "scopes": [
                "https://www.googleapis.com/auth/doubleclicksearch"
              ],
              "response": {
                "$ref": "GoogleAdsSearchads360V23Services__MutateCustomInterestsResponse"
              },
              "description": "Creates or updates custom interests. Operation statuses are returned. List of thrown errors: [AuthenticationError]() [AuthorizationError]() [CriterionError]() [CustomInterestError]() [HeaderError]() [InternalError]() [MutateError]() [PolicyViolationError]() [QuotaError]() [RequestError]() [StringLengthError]()",
              "request": {
                "$ref": "GoogleAdsSearchads360V23Services__MutateCustomInterestsRequest"
              },
              "path": "v23/customers/{+customerId}/customInterests:mutate",
              "flatPath": "v23/customers/{customersId}/customInterests:mutate",
              "parameters": {
                "customerId": {
                  "pattern": "^[^/]+$",
                  "description": "Required. The ID of the customer whose custom interests are being modified.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "httpMethod": "POST",
              "parameterOrder": [
                "customerId"
              ]
            }
          }
        },
        "customerSkAdNetworkConversionValueSchemas": {
          "methods": {
            "mutate": {
              "flatPath": "v23/customers/{customersId}/customerSkAdNetworkConversionValueSchemas:mutate",
              "httpMethod": "POST",
              "description": "Creates or updates the CustomerSkAdNetworkConversionValueSchema. List of thrown errors: [AuthenticationError]() [AuthorizationError]() [FieldError]() [InternalError]() [MutateError]()",
              "request": {
                "$ref": "GoogleAdsSearchads360V23Services__MutateCustomerSkAdNetworkConversionValueSchemaRequest"
              },
              "parameters": {
                "customerId": {
                  "description": "The ID of the customer whose shared sets are being modified.",
                  "pattern": "^[^/]+$",
                  "type": "string",
                  "location": "path",
                  "required": true
                }
              },
              "path": "v23/customers/{+customerId}/customerSkAdNetworkConversionValueSchemas:mutate",
              "parameterOrder": [
                "customerId"
              ],
              "id": "searchads360.customers.customerSkAdNetworkConversionValueSchemas.mutate",
              "scopes": [
                "https://www.googleapis.com/auth/doubleclicksearch"
              ],
              "response": {
                "$ref": "GoogleAdsSearchads360V23Services__MutateCustomerSkAdNetworkConversionValueSchemaResponse"
              }
            }
          }
        },
        "customerUserAccessInvitations": {
          "methods": {
            "mutate": {
              "path": "v23/customers/{+customerId}/customerUserAccessInvitations:mutate",
              "flatPath": "v23/customers/{customersId}/customerUserAccessInvitations:mutate",
              "description": "Creates or removes an access invitation. List of thrown errors: [AccessInvitationError]() [AuthenticationError]() [AuthorizationError]() [HeaderError]() [InternalError]() [QuotaError]() [RequestError]()",
              "scopes": [
                "https://www.googleapis.com/auth/doubleclicksearch"
              ],
              "parameters": {
                "customerId": {
                  "type": "string",
                  "description": "Required. The ID of the customer whose access invitation is being modified.",
                  "location": "path",
                  "required": true,
                  "pattern": "^[^/]+$"
                }
              },
              "response": {
                "$ref": "GoogleAdsSearchads360V23Services__MutateCustomerUserAccessInvitationResponse"
              },
              "id": "searchads360.customers.customerUserAccessInvitations.mutate",
              "parameterOrder": [
                "customerId"
              ],
              "request": {
                "$ref": "GoogleAdsSearchads360V23Services__MutateCustomerUserAccessInvitationRequest"
              },
              "httpMethod": "POST"
            }
          }
        },
        "experiments": {
          "methods": {
            "mutate": {
              "id": "searchads360.customers.experiments.mutate",
              "path": "v23/customers/{+customerId}/experiments:mutate",
              "parameterOrder": [
                "customerId"
              ],
              "flatPath": "v23/customers/{customersId}/experiments:mutate",
              "description": "Creates, updates, or removes experiments. Operation statuses are returned. List of thrown errors: [AuthenticationError]() [AuthorizationError]() [ExperimentError]() [HeaderError]() [InternalError]() [QuotaError]() [RequestError]()",
              "response": {
                "$ref": "GoogleAdsSearchads360V23Services__MutateExperimentsResponse"
              },
              "parameters": {
                "customerId": {
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "description": "Required. The ID of the customer whose experiments are being modified.",
                  "pattern": "^[^/]+$"
                }
              },
              "request": {
                "$ref": "GoogleAdsSearchads360V23Services__MutateExperimentsRequest"
              },
              "scopes": [
                "https://www.googleapis.com/auth/doubleclicksearch"
              ],
              "httpMethod": "POST"
            },
            "scheduleExperiment": {
              "scopes": [
                "https://www.googleapis.com/auth/doubleclicksearch"
              ],
              "flatPath": "v23/customers/{customersId}/experiments/{experimentsId}:scheduleExperiment",
              "request": {
                "$ref": "GoogleAdsSearchads360V23Services__ScheduleExperimentRequest"
              },
              "parameters": {
                "resourceName": {
                  "pattern": "^customers/[^/]+/experiments/[^/]+$",
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "Required. The scheduled experiment."
                }
              },
              "parameterOrder": [
                "resourceName"
              ],
              "httpMethod": "POST",
              "id": "searchads360.customers.experiments.scheduleExperiment",
              "path": "v23/{+resourceName}:scheduleExperiment",
              "description": "Schedule an experiment. The in design campaign will be converted into a real campaign (called the experiment campaign) that will begin serving ads if successfully created. The experiment is scheduled immediately with status INITIALIZING. This method returns a long running operation that tracks the forking of the in design campaign. If the forking fails, a list of errors can be retrieved using the ListExperimentAsyncErrors method. The operation's metadata will be a string containing the resource name of the created experiment. List of thrown errors: [AuthenticationError]() [AuthorizationError]() [ExperimentError]() [DatabaseError]() [DateError]() [DateRangeError]() [FieldError]() [HeaderError]() [InternalError]() [QuotaError]() [RangeError]() [RequestError]()",
              "response": {
                "$ref": "GoogleLongrunning__Operation"
              }
            },
            "endExperiment": {
              "id": "searchads360.customers.experiments.endExperiment",
              "path": "v23/{+experiment}:endExperiment",
              "flatPath": "v23/customers/{customersId}/experiments/{experimentsId}:endExperiment",
              "description": "Immediately ends an experiment, changing the experiment's scheduled end date and without waiting for end of day. End date is updated to be the time of the request. List of thrown errors: [AuthenticationError]() [AuthorizationError]() [ExperimentError]() [HeaderError]() [InternalError]() [QuotaError]() [RequestError]()",
              "request": {
                "$ref": "GoogleAdsSearchads360V23Services__EndExperimentRequest"
              },
              "parameterOrder": [
                "experiment"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/doubleclicksearch"
              ],
              "httpMethod": "POST",
              "parameters": {
                "experiment": {
[...]
