{
  "protocol": "rest",
  "basePath": "",
  "ownerDomain": "google.com",
  "discoveryVersion": "v1",
  "servicePath": "",
  "name": "searchads360",
  "baseUrl": "https://searchads360.googleapis.com/",
  "resources": {
    "incentives": {
      "methods": {
        "fetchIncentive": {
          "parameters": {
            "type": {
              "type": "string",
              "enum": [
                "UNSPECIFIED",
                "UNKNOWN",
                "ACQUISITION"
              ],
              "description": "Optional. The type of incentive to get. Defaults to ACQUISITION.",
              "enumDescriptions": [
                "Not specified.",
                "Unknown incentive type. Should not be used as a value explicitly.",
                "An acquisition incentive."
              ],
              "location": "query"
            },
            "countryCode": {
              "location": "query",
              "description": "Optional. User's country code. If not provided, the server will default to \"US\". Possible country codes: https://developers.google.com/google-ads/api/data/codes-formats#country_codes",
              "type": "string"
            },
            "email": {
              "location": "query",
              "type": "string",
              "description": "Optional. Email of the user that the requested incentive is meant for. Will be used for channel partners who do NOT use OAuth to authenticate on behalf of user."
            },
            "languageCode": {
              "description": "Optional. User's language code. If not provided, the server will default to \"en\". Possible language codes: https://developers.google.com/google-ads/api/data/codes-formats#languages",
              "type": "string",
              "location": "query"
            }
          },
          "response": {
            "$ref": "GoogleAdsSearchads360V23Services__FetchIncentiveResponse"
          },
          "path": "v23/incentives:fetchIncentive",
          "flatPath": "v23/incentives:fetchIncentive",
          "id": "searchads360.incentives.fetchIncentive",
          "description": "Returns incentives for a given user.",
          "parameterOrder": [],
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ],
          "httpMethod": "GET"
        }
      }
    },
    "v23": {
      "methods": {
        "listBenchmarksSources": {
          "parameterOrder": [],
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ],
          "path": "v23:listBenchmarksSources",
          "request": {
            "$ref": "GoogleAdsSearchads360V23Services__ListBenchmarksSourcesRequest"
          },
          "id": "searchads360.listBenchmarksSources",
          "parameters": {},
          "description": "Returns the list of benchmarks sources (for example, Industry Verticals). List of thrown errors: [AuthenticationError]() [AuthorizationError]() [FieldError]() [HeaderError]() [InternalError]() [QuotaError]() [RequestError]()",
          "flatPath": "v23:listBenchmarksSources",
          "response": {
            "$ref": "GoogleAdsSearchads360V23Services__ListBenchmarksSourcesResponse"
          }
        },
        "listBenchmarksAvailableDates": {
          "parameterOrder": [],
          "path": "v23:listBenchmarksAvailableDates",
          "request": {
            "$ref": "GoogleAdsSearchads360V23Services__ListBenchmarksAvailableDatesRequest"
          },
          "parameters": {},
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ],
          "httpMethod": "POST",
          "id": "searchads360.listBenchmarksAvailableDates",
          "flatPath": "v23:listBenchmarksAvailableDates",
          "description": "Returns a date range that supports benchmarks. List of thrown errors: [AuthenticationError]() [AuthorizationError]() [FieldError]() [HeaderError]() [InternalError]() [QuotaError]() [RequestError]()",
          "response": {
            "$ref": "GoogleAdsSearchads360V23Services__ListBenchmarksAvailableDatesResponse"
          }
        },
        "listPlannableUserLists": {
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ],
          "description": "Returns the list of plannable user lists with their plannable status. User lists may not be plannable for a number of reasons, including: - They are less than 10 days old. - They have a membership lifespan that is less than 30 days - They have less than 10,000 or more than 700,000 users. List of thrown errors: [AuthenticationError]() [AuthorizationError]() [FieldError]() [HeaderError]() [InternalError]() [QuotaError]() [RangeError]() [ReachPlanError]() [RequestError]()",
          "httpMethod": "POST",
          "request": {
            "$ref": "GoogleAdsSearchads360V23Services__ListPlannableUserListsRequest"
          },
          "id": "searchads360.listPlannableUserLists",
          "path": "v23:listPlannableUserLists",
          "parameters": {},
          "response": {
            "$ref": "GoogleAdsSearchads360V23Services__ListPlannableUserListsResponse"
          },
          "parameterOrder": [],
          "flatPath": "v23:listPlannableUserLists"
        },
        "listBenchmarksLocations": {
          "flatPath": "v23:listBenchmarksLocations",
          "description": "Returns the list of locations that support benchmarks (for example, countries). List of thrown errors: [AuthenticationError]() [AuthorizationError]() [FieldError]() [HeaderError]() [InternalError]() [QuotaError]() [RequestError]()",
          "response": {
            "$ref": "GoogleAdsSearchads360V23Services__ListBenchmarksLocationsResponse"
          },
          "request": {
            "$ref": "GoogleAdsSearchads360V23Services__ListBenchmarksLocationsRequest"
          },
          "parameters": {},
          "httpMethod": "POST",
          "path": "v23:listBenchmarksLocations",
          "id": "searchads360.listBenchmarksLocations",
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ],
          "parameterOrder": []
        },
        "listPlannableProducts": {
          "description": "Returns the list of per-location plannable YouTube ad formats with allowed targeting. List of thrown errors: [AuthenticationError]() [AuthorizationError]() [HeaderError]() [InternalError]() [QuotaError]() [RequestError]()",
          "parameters": {},
          "request": {
            "$ref": "GoogleAdsSearchads360V23Services__ListPlannableProductsRequest"
          },
          "id": "searchads360.listPlannableProducts",
          "parameterOrder": [],
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ],
          "flatPath": "v23:listPlannableProducts",
          "response": {
            "$ref": "GoogleAdsSearchads360V23Services__ListPlannableProductsResponse"
          },
          "path": "v23:listPlannableProducts",
          "httpMethod": "POST"
        },
        "listBenchmarksProducts": {
          "path": "v23:listBenchmarksProducts",
          "parameterOrder": [],
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ],
          "parameters": {},
          "flatPath": "v23:listBenchmarksProducts",
          "httpMethod": "POST",
          "response": {
            "$ref": "GoogleAdsSearchads360V23Services__ListBenchmarksProductsResponse"
          },
          "id": "searchads360.listBenchmarksProducts",
          "description": "Returns the list of products that supports benchmarks. List of thrown errors: [AuthenticationError]() [AuthorizationError]() [FieldError]() [HeaderError]() [InternalError]() [QuotaError]() [RequestError]()",
          "request": {
            "$ref": "GoogleAdsSearchads360V23Services__ListBenchmarksProductsRequest"
          }
        },
        "listPlannableLocations": {
          "path": "v23:listPlannableLocations",
          "parameters": {},
          "description": "Returns the list of plannable locations (for example, countries). List of thrown errors: [AuthenticationError]() [AuthorizationError]() [HeaderError]() [InternalError]() [QuotaError]() [RequestError]()",
          "request": {
            "$ref": "GoogleAdsSearchads360V23Services__ListPlannableLocationsRequest"
          },
          "parameterOrder": [],
          "flatPath": "v23:listPlannableLocations",
          "response": {
            "$ref": "GoogleAdsSearchads360V23Services__ListPlannableLocationsResponse"
          },
          "id": "searchads360.listPlannableLocations",
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ],
          "httpMethod": "POST"
        },
        "generateConversionRates": {
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ],
          "parameters": {},
          "parameterOrder": [],
          "flatPath": "v23:generateConversionRates",
          "path": "v23:generateConversionRates",
          "response": {
            "$ref": "GoogleAdsSearchads360V23Services__GenerateConversionRatesResponse"
          },
          "description": "Returns a collection of conversion rate suggestions for supported plannable products. List of thrown errors: [AuthenticationError]() [AuthorizationError]() [HeaderError]() [InternalError]() [QuotaError]() [RequestError]()",
          "request": {
            "$ref": "GoogleAdsSearchads360V23Services__GenerateConversionRatesRequest"
          },
          "id": "searchads360.generateConversionRates",
          "httpMethod": "POST"
        },
        "listPlannableUserInterests": {
          "id": "searchads360.listPlannableUserInterests",
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ],
          "parameters": {},
          "parameterOrder": [],
          "request": {
            "$ref": "GoogleAdsSearchads360V23Services__ListPlannableUserInterestsRequest"
          },
          "description": "Returns the list of plannable user interests. A plannable user interest is one that can be targeted in a reach forecast using ReachPlanService.GenerateReachForecast. List of thrown errors: [AuthenticationError]() [AuthorizationError]() [FieldError]() [HeaderError]() [InternalError]() [ListOperationError]() [QuotaError]() [RequestError]() [StringLengthError]()",
          "path": "v23:listPlannableUserInterests",
          "flatPath": "v23:listPlannableUserInterests",
          "httpMethod": "POST",
          "response": {
            "$ref": "GoogleAdsSearchads360V23Services__ListPlannableUserInterestsResponse"
          }
        }
      }
    },
    "searchAds360Fields": {
      "methods": {
        "search": {
          "response": {
            "$ref": "GoogleAdsSearchads360V23Services__SearchSearchAds360FieldsResponse"
          },
          "flatPath": "v23/searchAds360Fields:search",
          "httpMethod": "POST",
          "description": "Returns all fields that match the search [query](/search-ads/reporting/concepts/field-service#use_a_query_to_get_field_details). List of thrown errors: [AuthenticationError]() [AuthorizationError]() [HeaderError]() [InternalError]() [QueryError]() [QuotaError]() [RequestError]()",
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ],
          "id": "searchads360.searchAds360Fields.search",
          "request": {
            "$ref": "GoogleAdsSearchads360V23Services__SearchSearchAds360FieldsRequest"
          },
          "parameters": {},
          "parameterOrder": [],
          "path": "v23/searchAds360Fields:search"
        },
        "get": {
          "httpMethod": "GET",
          "description": "Returns just the requested field. List of thrown errors: [AuthenticationError]() [AuthorizationError]() [HeaderError]() [InternalError]() [QuotaError]() [RequestError]()",
          "parameters": {
            "resourceName": {
              "location": "path",
              "required": true,
              "description": "Required. The resource name of the field to get.",
              "pattern": "^searchAds360Fields/[^/]+$",
              "type": "string"
            }
          },
          "path": "v23/{+resourceName}",
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ],
          "id": "searchads360.searchAds360Fields.get",
          "response": {
            "$ref": "GoogleAdsSearchads360V23Resources__SearchAds360Field"
          },
          "parameterOrder": [
            "resourceName"
          ],
          "flatPath": "v23/searchAds360Fields/{searchAds360FieldsId}"
        }
      }
    },
    "customers": {
      "methods": {
        "suggestTravelAssets": {
          "httpMethod": "POST",
          "id": "searchads360.customers.suggestTravelAssets",
          "request": {
            "$ref": "GoogleAdsSearchads360V23Services__SuggestTravelAssetsRequest"
          },
          "parameterOrder": [
            "customerId"
          ],
          "response": {
            "$ref": "GoogleAdsSearchads360V23Services__SuggestTravelAssetsResponse"
          },
          "parameters": {
            "customerId": {
              "description": "Required. The ID of the customer.",
              "required": true,
              "location": "path",
              "pattern": "^[^/]+$",
              "type": "string"
            }
          },
          "flatPath": "v23/customers/{customersId}:suggestTravelAssets",
          "description": "Returns Travel Asset suggestions. Asset suggestions are returned on a best-effort basis. There are no guarantees that all possible asset types will be returned for any given hotel property.",
          "path": "v23/customers/{+customerId}:suggestTravelAssets",
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ]
        },
        "suggestSmartCampaignAd": {
          "parameters": {
            "customerId": {
              "type": "string",
              "location": "path",
              "required": true,
              "pattern": "^[^/]+$",
              "description": "Required. The ID of the customer."
            }
          },
          "request": {
            "$ref": "GoogleAdsSearchads360V23Services__SuggestSmartCampaignAdRequest"
          },
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ],
          "description": "Suggests a Smart campaign ad compatible with the Ad family of resources, based on data points such as targeting and the business to advertise.",
          "path": "v23/customers/{+customerId}:suggestSmartCampaignAd",
          "response": {
            "$ref": "GoogleAdsSearchads360V23Services__SuggestSmartCampaignAdResponse"
          },
          "id": "searchads360.customers.suggestSmartCampaignAd",
          "flatPath": "v23/customers/{customersId}:suggestSmartCampaignAd",
          "httpMethod": "POST",
          "parameterOrder": [
            "customerId"
          ]
        },
        "generateAudienceCompositionInsights": {
          "response": {
            "$ref": "GoogleAdsSearchads360V23Services__GenerateAudienceCompositionInsightsResponse"
          },
          "description": "Returns a collection of attributes that are represented in an audience of interest, with metrics that compare each attribute's share of the audience with its share of a baseline audience. List of thrown errors: [AudienceInsightsError]() [AuthenticationError]() [AuthorizationError]() [FieldError]() [HeaderError]() [InternalError]() [QuotaError]() [RangeError]() [RequestError]()",
          "flatPath": "v23/customers/{customersId}:generateAudienceCompositionInsights",
          "httpMethod": "POST",
          "parameterOrder": [
            "customerId"
          ],
          "parameters": {
            "customerId": {
              "type": "string",
              "description": "Required. The ID of the customer.",
              "location": "path",
              "required": true,
              "pattern": "^[^/]+$"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ],
          "request": {
            "$ref": "GoogleAdsSearchads360V23Services__GenerateAudienceCompositionInsightsRequest"
          },
          "path": "v23/customers/{+customerId}:generateAudienceCompositionInsights",
          "id": "searchads360.customers.generateAudienceCompositionInsights"
        },
        "createCustomerClient": {
          "response": {
            "$ref": "GoogleAdsSearchads360V23Services__CreateCustomerClientResponse"
          },
          "flatPath": "v23/customers/{customersId}:createCustomerClient",
          "id": "searchads360.customers.createCustomerClient",
          "parameterOrder": [
            "customerId"
          ],
          "description": "Creates a new client under manager. The new client customer is returned. List of thrown errors: [AccessInvitationError]() [AuthenticationError]() [AuthorizationError]() [CurrencyCodeError]() [HeaderError]() [InternalError]() [ManagerLinkError]() [QuotaError]() [RequestError]() [StringLengthError]() [TimeZoneError]()",
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ],
          "request": {
            "$ref": "GoogleAdsSearchads360V23Services__CreateCustomerClientRequest"
          },
          "parameters": {
            "customerId": {
              "pattern": "^[^/]+$",
              "location": "path",
              "type": "string",
              "description": "Required. The ID of the Manager under whom client customer is being created.",
              "required": true
            }
          },
          "path": "v23/customers/{+customerId}:createCustomerClient"
        },
        "generateTargetingSuggestionMetrics": {
          "description": "Returns potential reach metrics for targetable audiences. This method helps answer questions like \"How many Men aged 18+ interested in Camping can be reached on YouTube?\" List of thrown errors: [AudienceInsightsError]() [AuthenticationError]() [AuthorizationError]() [FieldError]() [HeaderError]() [InternalError]() [QuotaError]() [RangeError]() [RequestError]()",
          "parameters": {
            "customerId": {
              "pattern": "^[^/]+$",
              "type": "string",
              "location": "path",
              "required": true,
              "description": "Required. The ID of the customer."
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ],
          "path": "v23/customers/{+customerId}:generateTargetingSuggestionMetrics",
          "request": {
            "$ref": "GoogleAdsSearchads360V23Services__GenerateTargetingSuggestionMetricsRequest"
          },
          "id": "searchads360.customers.generateTargetingSuggestionMetrics",
          "httpMethod": "POST",
          "flatPath": "v23/customers/{customersId}:generateTargetingSuggestionMetrics",
          "response": {
            "$ref": "GoogleAdsSearchads360V23Services__GenerateTargetingSuggestionMetricsResponse"
          },
          "parameterOrder": [
            "customerId"
          ]
        },
        "listAccessibleCustomers": {
          "path": "v23/customers:listAccessibleCustomers",
          "response": {
            "$ref": "GoogleAdsSearchads360V23Services__ListAccessibleCustomersResponse"
          },
          "flatPath": "v23/customers:listAccessibleCustomers",
          "httpMethod": "GET",
          "id": "searchads360.customers.listAccessibleCustomers",
          "parameters": {},
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ],
          "description": "Returns resource names of customers directly accessible by the user authenticating the call. List of thrown errors: [AuthenticationError]() [AuthorizationError]() [HeaderError]() [InternalError]() [QuotaError]() [RequestError]()",
          "parameterOrder": []
        },
        "uploadConversionAdjustments": {
          "description": "Processes the given conversion adjustments. List of thrown errors: [AuthenticationError]() [AuthorizationError]() [HeaderError]() [InternalError]() [PartialFailureError]() [QuotaError]() [RequestError]()",
          "parameters": {
            "customerId": {
              "description": "Required. The ID of the customer performing the upload.",
              "required": true,
              "location": "path",
              "pattern": "^[^/]+$",
              "type": "string"
            }
          },
          "flatPath": "v23/customers/{customersId}:uploadConversionAdjustments",
          "response": {
            "$ref": "GoogleAdsSearchads360V23Services__UploadConversionAdjustmentsResponse"
          },
          "parameterOrder": [
            "customerId"
          ],
          "request": {
            "$ref": "GoogleAdsSearchads360V23Services__UploadConversionAdjustmentsRequest"
          },
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ],
          "path": "v23/customers/{+customerId}:uploadConversionAdjustments",
          "id": "searchads360.customers.uploadConversionAdjustments",
          "httpMethod": "POST"
        },
        "generateInsightsFinderReport": {
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ],
          "parameterOrder": [
            "customerId"
          ],
          "parameters": {
            "customerId": {
              "location": "path",
              "type": "string",
              "pattern": "^[^/]+$",
              "description": "Required. The ID of the customer.",
              "required": true
            }
          },
          "description": "Creates a saved report that can be viewed in the Insights Finder tool. List of thrown errors: [AuthenticationError]() [AuthorizationError]() [FieldError]() [HeaderError]() [InternalError]() [QuotaError]() [RangeError]() [RequestError]()",
          "request": {
            "$ref": "GoogleAdsSearchads360V23Services__GenerateInsightsFinderReportRequest"
          },
          "path": "v23/customers/{+customerId}:generateInsightsFinderReport",
          "response": {
            "$ref": "GoogleAdsSearchads360V23Services__GenerateInsightsFinderReportResponse"
          },
          "flatPath": "v23/customers/{customersId}:generateInsightsFinderReport",
          "httpMethod": "POST",
          "id": "searchads360.customers.generateInsightsFinderReport"
        },
        "uploadUserData": {
          "response": {
            "$ref": "GoogleAdsSearchads360V23Services__UploadUserDataResponse"
          },
          "flatPath": "v23/customers/{customersId}:uploadUserData",
          "request": {
            "$ref": "GoogleAdsSearchads360V23Services__UploadUserDataRequest"
          },
          "httpMethod": "POST",
          "id": "searchads360.customers.uploadUserData",
          "path": "v23/customers/{+customerId}:uploadUserData",
          "description": "Uploads the given user data. List of thrown errors: [AuthenticationError]() [AuthorizationError]() [CollectionSizeError]() [FieldError]() [HeaderError]() [InternalError]() [MutateError]() [OfflineUserDataJobError]() [QuotaError]() [RequestError]() [UserDataError]()",
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ],
          "parameters": {
            "customerId": {
              "required": true,
              "location": "path",
              "type": "string",
              "description": "Required. The ID of the customer for which to update the user data.",
              "pattern": "^[^/]+$"
            }
          },
          "parameterOrder": [
            "customerId"
          ]
        },
        "removeCampaignAutomaticallyCreatedAsset": {
          "parameterOrder": [
            "customerId"
          ],
          "httpMethod": "POST",
          "id": "searchads360.customers.removeCampaignAutomaticallyCreatedAsset",
          "request": {
            "$ref": "GoogleAdsSearchads360V23Services__RemoveCampaignAutomaticallyCreatedAssetRequest"
          },
          "path": "v23/customers/{+customerId}:removeCampaignAutomaticallyCreatedAsset",
          "description": "Removes automatically created assets from a campaign. List of thrown errors: [AuthenticationError]() [AuthorizationError]() [ContextError]() [FieldError]() [InternalError]() [MutateError]() [PartialFailureError]() [QuotaError]() [RequestError]()",
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ],
          "parameters": {
            "customerId": {
              "pattern": "^[^/]+$",
              "type": "string",
              "description": "Required. The ID of the customer whose assets are being removed.",
              "location": "path",
              "required": true
            }
          },
          "flatPath": "v23/customers/{customersId}:removeCampaignAutomaticallyCreatedAsset",
          "response": {
            "$ref": "GoogleAdsSearchads360V23Services__RemoveCampaignAutomaticallyCreatedAssetResponse"
          }
        },
        "uploadCallConversions": {
          "path": "v23/customers/{+customerId}:uploadCallConversions",
          "httpMethod": "POST",
          "description": "Processes the given call conversions. List of thrown errors: [AuthenticationError]() [AuthorizationError]() [HeaderError]() [InternalError]() [PartialFailureError]() [QuotaError]() [RequestError]()",
          "parameters": {
            "customerId": {
              "description": "Required. The ID of the customer performing the upload.",
              "pattern": "^[^/]+$",
              "type": "string",
              "required": true,
              "location": "path"
            }
          },
          "response": {
            "$ref": "GoogleAdsSearchads360V23Services__UploadCallConversionsResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ],
          "flatPath": "v23/customers/{customersId}:uploadCallConversions",
          "id": "searchads360.customers.uploadCallConversions",
          "request": {
            "$ref": "GoogleAdsSearchads360V23Services__UploadCallConversionsRequest"
          },
          "parameterOrder": [
            "customerId"
          ]
        },
        "generateReachForecast": {
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ],
          "response": {
            "$ref": "GoogleAdsSearchads360V23Services__GenerateReachForecastResponse"
          },
          "httpMethod": "POST",
          "flatPath": "v23/customers/{customersId}:generateReachForecast",
          "parameters": {
            "customerId": {
              "location": "path",
              "required": true,
              "pattern": "^[^/]+$",
              "type": "string",
              "description": "Required. The ID of the customer."
            }
          },
          "request": {
            "$ref": "GoogleAdsSearchads360V23Services__GenerateReachForecastRequest"
          },
          "path": "v23/customers/{+customerId}:generateReachForecast",
          "description": "Generates a reach forecast for a given targeting / product mix. List of thrown errors: [AuthenticationError]() [AuthorizationError]() [FieldError]() [HeaderError]() [InternalError]() [QuotaError]() [RangeError]() [ReachPlanError]() [RequestError]()",
          "parameterOrder": [
            "customerId"
          ],
          "id": "searchads360.customers.generateReachForecast"
        },
        "generateKeywordForecastMetrics": {
          "request": {
            "$ref": "GoogleAdsSearchads360V23Services__GenerateKeywordForecastMetricsRequest"
          },
          "flatPath": "v23/customers/{customersId}:generateKeywordForecastMetrics",
          "id": "searchads360.customers.generateKeywordForecastMetrics",
          "response": {
            "$ref": "GoogleAdsSearchads360V23Services__GenerateKeywordForecastMetricsResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ],
          "httpMethod": "POST",
          "path": "v23/customers/{+customerId}:generateKeywordForecastMetrics",
          "parameterOrder": [
            "customerId"
          ],
          "parameters": {
            "customerId": {
              "required": true,
              "location": "path",
              "type": "string",
              "description": "The ID of the customer.",
              "pattern": "^[^/]+$"
            }
          },
          "description": "Returns metrics (such as impressions, clicks, total cost) of a keyword forecast for the given campaign. List of thrown errors: [AuthenticationError]() [AuthorizationError]() [CollectionSizeError]() [HeaderError]() [InternalError]() [QuotaError]() [RequestError]()"
        },
        "generateKeywordHistoricalMetrics": {
          "id": "searchads360.customers.generateKeywordHistoricalMetrics",
          "flatPath": "v23/customers/{customersId}:generateKeywordHistoricalMetrics",
          "response": {
            "$ref": "GoogleAdsSearchads360V23Services__GenerateKeywordHistoricalMetricsResponse"
          },
          "httpMethod": "POST",
          "description": "Returns a list of keyword historical metrics. List of thrown errors: [AuthenticationError]() [AuthorizationError]() [CollectionSizeError]() [HeaderError]() [InternalError]() [QuotaError]() [RequestError]()",
          "parameters": {
            "customerId": {
              "description": "The ID of the customer with the recommendation.",
              "required": true,
              "location": "path",
              "type": "string",
              "pattern": "^[^/]+$"
            }
          },
          "path": "v23/customers/{+customerId}:generateKeywordHistoricalMetrics",
          "parameterOrder": [
            "customerId"
          ],
          "request": {
            "$ref": "GoogleAdsSearchads360V23Services__GenerateKeywordHistoricalMetricsRequest"
          },
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ]
        },
        "generateAudienceDefinition": {
          "flatPath": "v23/customers/{customersId}:generateAudienceDefinition",
          "httpMethod": "POST",
          "path": "v23/customers/{+customerId}:generateAudienceDefinition",
          "parameterOrder": [
            "customerId"
          ],
          "response": {
            "$ref": "GoogleAdsSearchads360V23Services__GenerateAudienceDefinitionResponse"
          },
          "description": "Returns a collection of audience attributes using generative AI based on the provided audience description. List of thrown errors: [AudienceInsightsError]() [AuthenticationError]() [AuthorizationError]() [FieldError]() [HeaderError]() [InternalError]() [QuotaError]() [RequestError]()",
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ],
          "request": {
            "$ref": "GoogleAdsSearchads360V23Services__GenerateAudienceDefinitionRequest"
          },
          "id": "searchads360.customers.generateAudienceDefinition",
          "parameters": {
            "customerId": {
              "required": true,
              "location": "path",
              "description": "Required. The ID of the customer.",
              "type": "string",
              "pattern": "^[^/]+$"
            }
          }
        },
        "suggestSmartCampaignBudgetOptions": {
          "path": "v23/customers/{+customerId}:suggestSmartCampaignBudgetOptions",
          "parameterOrder": [
            "customerId"
          ],
          "httpMethod": "POST",
          "description": "Returns BudgetOption suggestions.",
          "id": "searchads360.customers.suggestSmartCampaignBudgetOptions",
          "request": {
            "$ref": "GoogleAdsSearchads360V23Services__SuggestSmartCampaignBudgetOptionsRequest"
          },
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ],
          "flatPath": "v23/customers/{customersId}:suggestSmartCampaignBudgetOptions",
          "parameters": {
            "customerId": {
              "description": "Required. The ID of the customer whose budget options are to be suggested.",
              "type": "string",
              "required": true,
              "location": "path",
              "pattern": "^[^/]+$"
            }
          },
          "response": {
            "$ref": "GoogleAdsSearchads360V23Services__SuggestSmartCampaignBudgetOptionsResponse"
          }
        },
        "suggestKeywordThemes": {
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ],
          "flatPath": "v23/customers/{customersId}:suggestKeywordThemes",
          "parameterOrder": [
            "customerId"
          ],
          "response": {
            "$ref": "GoogleAdsSearchads360V23Services__SuggestKeywordThemesResponse"
          },
          "request": {
            "$ref": "GoogleAdsSearchads360V23Services__SuggestKeywordThemesRequest"
          },
          "id": "searchads360.customers.suggestKeywordThemes",
          "parameters": {
            "customerId": {
              "pattern": "^[^/]+$",
              "type": "string",
              "location": "path",
              "description": "Required. The ID of the customer.",
              "required": true
            }
          },
          "description": "Suggests keyword themes to advertise on.",
          "path": "v23/customers/{+customerId}:suggestKeywordThemes"
        },
        "generateAudienceOverlapInsights": {
          "flatPath": "v23/customers/{customersId}:generateAudienceOverlapInsights",
          "parameters": {
            "customerId": {
              "type": "string",
              "required": true,
              "location": "path",
              "description": "Required. The ID of the customer.",
              "pattern": "^[^/]+$"
            }
          },
          "response": {
            "$ref": "GoogleAdsSearchads360V23Services__GenerateAudienceOverlapInsightsResponse"
          },
          "description": "Returns a collection of audience attributes along with estimates of the overlap between their potential YouTube reach and that of a given input attribute. List of thrown errors: [AudienceInsightsError]() [AuthenticationError]() [AuthorizationError]() [FieldError]() [HeaderError]() [InternalError]() [QuotaError]() [RangeError]() [RequestError]()",
          "request": {
            "$ref": "GoogleAdsSearchads360V23Services__GenerateAudienceOverlapInsightsRequest"
          },
          "path": "v23/customers/{+customerId}:generateAudienceOverlapInsights",
          "parameterOrder": [
            "customerId"
          ],
          "id": "searchads360.customers.generateAudienceOverlapInsights",
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ]
        },
        "searchAudienceInsightsAttributes": {
          "request": {
            "$ref": "GoogleAdsSearchads360V23Services__ListAudienceInsightsAttributesRequest"
          },
          "response": {
            "$ref": "GoogleAdsSearchads360V23Services__ListAudienceInsightsAttributesResponse"
          },
          "parameters": {
            "customerId": {
              "type": "string",
              "pattern": "^[^/]+$",
              "location": "path",
              "description": "Required. The ID of the customer.",
              "required": true
            }
          },
          "flatPath": "v23/customers/{customersId}:searchAudienceInsightsAttributes",
          "path": "v23/customers/{+customerId}:searchAudienceInsightsAttributes",
          "httpMethod": "POST",
          "description": "Searches for audience attributes that can be used to generate insights. List of thrown errors: [AuthenticationError]() [AuthorizationError]() [FieldError]() [HeaderError]() [InternalError]() [QuotaError]() [RangeError]() [RequestError]()",
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ],
          "parameterOrder": [
            "customerId"
          ],
          "id": "searchads360.customers.searchAudienceInsightsAttributes"
        },
        "uploadClickConversions": {
          "parameterOrder": [
            "customerId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ],
          "description": "Processes the given click conversions. List of thrown errors: [AuthenticationError]() [AuthorizationError]() [ConversionUploadError]() [HeaderError]() [InternalError]() [PartialFailureError]() [QuotaError]() [RequestError]()",
          "request": {
            "$ref": "GoogleAdsSearchads360V23Services__UploadClickConversionsRequest"
          },
          "parameters": {
            "customerId": {
              "required": true,
              "type": "string",
              "location": "path",
              "description": "Required. The ID of the customer performing the upload.",
              "pattern": "^[^/]+$"
            }
          },
          "flatPath": "v23/customers/{customersId}:uploadClickConversions",
          "response": {
            "$ref": "GoogleAdsSearchads360V23Services__UploadClickConversionsResponse"
          },
          "id": "searchads360.customers.uploadClickConversions",
          "httpMethod": "POST",
          "path": "v23/customers/{+customerId}:uploadClickConversions"
        },
        "generateKeywordIdeas": {
          "parameterOrder": [
            "customerId"
          ],
          "httpMethod": "POST",
          "description": "Returns a list of keyword ideas. List of thrown errors: [AuthenticationError]() [AuthorizationError]() [CollectionSizeError]() [HeaderError]() [InternalError]() [KeywordPlanIdeaError]() [QuotaError]() [RequestError]()",
          "id": "searchads360.customers.generateKeywordIdeas",
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ],
          "flatPath": "v23/customers/{customersId}:generateKeywordIdeas",
          "parameters": {
            "customerId": {
              "type": "string",
              "pattern": "^[^/]+$",
              "description": "The ID of the customer with the recommendation.",
              "required": true,
              "location": "path"
            }
          },
          "response": {
            "$ref": "GoogleAdsSearchads360V23Services__GenerateKeywordIdeaResponse"
          },
          "request": {
            "$ref": "GoogleAdsSearchads360V23Services__GenerateKeywordIdeasRequest"
          },
          "path": "v23/customers/{+customerId}:generateKeywordIdeas"
        },
        "generateSuggestedTargetingInsights": {
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ],
          "flatPath": "v23/customers/{customersId}:generateSuggestedTargetingInsights",
          "path": "v23/customers/{+customerId}:generateSuggestedTargetingInsights",
          "id": "searchads360.customers.generateSuggestedTargetingInsights",
          "response": {
            "$ref": "GoogleAdsSearchads360V23Services__GenerateSuggestedTargetingInsightsResponse"
          },
          "parameters": {
            "customerId": {
              "required": true,
              "description": "Required. The ID of the customer.",
              "location": "path",
              "type": "string",
              "pattern": "^[^/]+$"
            }
          },
          "httpMethod": "POST",
          "request": {
            "$ref": "GoogleAdsSearchads360V23Services__GenerateSuggestedTargetingInsightsRequest"
          },
          "parameterOrder": [
            "customerId"
          ],
          "description": "Returns a collection of targeting insights (e.g. targetable audiences) that are relevant to the requested audience. List of thrown errors: [AudienceInsightsError]() [AuthenticationError]() [AuthorizationError]() [FieldError]() [HeaderError]() [InternalError]() [QuotaError]() [RangeError]() [RequestError]()"
        },
        "generateBenchmarksMetrics": {
          "request": {
            "$ref": "GoogleAdsSearchads360V23Services__GenerateBenchmarksMetricsRequest"
          },
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ],
          "description": "Returns YouTube advertisement metrics for the given client against industry benchmarks. List of thrown errors: [AuthenticationError]() [AuthorizationError]() [BenchmarksError]() [FieldError]() [HeaderError]() [InternalError]() [QuotaError]() [RangeError]() [RequestError]()",
          "id": "searchads360.customers.generateBenchmarksMetrics",
          "parameterOrder": [
            "customerId"
          ],
          "path": "v23/customers/{+customerId}:generateBenchmarksMetrics",
          "parameters": {
            "customerId": {
              "required": true,
              "description": "Required. The ID of the customer. Supply a client customer ID to generate metrics for the customer. A manager account customer ID will not return customer metrics since it does not have any associated direct ad campaigns.",
              "location": "path",
              "type": "string",
              "pattern": "^[^/]+$"
            }
          },
          "flatPath": "v23/customers/{customersId}:generateBenchmarksMetrics",
          "response": {
            "$ref": "GoogleAdsSearchads360V23Services__GenerateBenchmarksMetricsResponse"
          }
        },
        "generateAdGroupThemes": {
          "parameterOrder": [
            "customerId"
          ],
          "request": {
            "$ref": "GoogleAdsSearchads360V23Services__GenerateAdGroupThemesRequest"
          },
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ],
          "id": "searchads360.customers.generateAdGroupThemes",
          "description": "Returns a list of suggested AdGroups and suggested modifications (text, match type) for the given keywords. List of thrown errors: [AuthenticationError]() [AuthorizationError]() [CollectionSizeError]() [HeaderError]() [InternalError]() [QuotaError]() [RequestError]()",
          "path": "v23/customers/{+customerId}:generateAdGroupThemes",
          "parameters": {
            "customerId": {
              "pattern": "^[^/]+$",
              "location": "path",
              "description": "Required. The ID of the customer.",
              "type": "string",
              "required": true
            }
          },
          "response": {
            "$ref": "GoogleAdsSearchads360V23Services__GenerateAdGroupThemesResponse"
          },
          "httpMethod": "POST",
          "flatPath": "v23/customers/{customersId}:generateAdGroupThemes"
        },
        "mutate": {
          "httpMethod": "POST",
          "path": "v23/customers/{+customerId}:mutate",
          "parameterOrder": [
            "customerId"
          ],
          "description": "Updates a customer. Operation statuses are returned. List of thrown errors: [AuthenticationError]() [AuthorizationError]() [DatabaseError]() [FieldMaskError]() [HeaderError]() [InternalError]() [QuotaError]() [RequestError]() [UrlFieldError]()",
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ],
          "request": {
            "$ref": "GoogleAdsSearchads360V23Services__MutateCustomerRequest"
          },
          "id": "searchads360.customers.mutate",
          "response": {
            "$ref": "GoogleAdsSearchads360V23Services__MutateCustomerResponse"
          },
          "flatPath": "v23/customers/{customersId}:mutate",
          "parameters": {
            "customerId": {
              "required": true,
              "location": "path",
              "type": "string",
              "description": "Required. The ID of the customer being modified.",
              "pattern": "^[^/]+$"
            }
          }
        },
        "getIdentityVerification": {
          "httpMethod": "GET",
          "id": "searchads360.customers.getIdentityVerification",
          "response": {
            "$ref": "GoogleAdsSearchads360V23Services__GetIdentityVerificationResponse"
          },
          "parameterOrder": [
            "customerId"
          ],
          "flatPath": "v23/customers/{customersId}/getIdentityVerification",
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ],
          "path": "v23/customers/{+customerId}/getIdentityVerification",
          "description": "Returns Identity Verification information. List of thrown errors: [AuthenticationError]() [AuthorizationError]() [HeaderError]() [InternalError]() [QuotaError]() [RequestError]()",
          "parameters": {
            "customerId": {
              "pattern": "^[^/]+$",
              "required": true,
              "type": "string",
              "description": "Required. The ID of the customer for whom we are requesting verification information.",
              "location": "path"
            }
          }
        },
        "startIdentityVerification": {
          "response": {
            "$ref": "GoogleProtobuf__Empty"
          },
          "flatPath": "v23/customers/{customersId}:startIdentityVerification",
          "parameters": {
            "customerId": {
              "type": "string",
              "required": true,
              "location": "path",
              "description": "Required. The Id of the customer for whom we are creating this verification.",
              "pattern": "^[^/]+$"
            }
          },
          "path": "v23/customers/{+customerId}:startIdentityVerification",
          "request": {
            "$ref": "GoogleAdsSearchads360V23Services__StartIdentityVerificationRequest"
          },
          "httpMethod": "POST",
          "id": "searchads360.customers.startIdentityVerification",
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ],
          "description": "Starts Identity Verification for a given verification program type. Statuses are returned. List of thrown errors: [AuthenticationError]() [AuthorizationError]() [HeaderError]() [InternalError]() [QuotaError]() [RequestError]()",
          "parameterOrder": [
            "customerId"
          ]
        }
      },
      "resources": {
        "customizerAttributes": {
          "methods": {
            "mutate": {
              "httpMethod": "POST",
              "parameterOrder": [
                "customerId"
              ],
              "request": {
                "$ref": "GoogleAdsSearchads360V23Services__MutateCustomizerAttributesRequest"
              },
              "description": "Creates, updates or removes customizer attributes. Operation statuses are returned.",
              "scopes": [
                "https://www.googleapis.com/auth/doubleclicksearch"
              ],
              "path": "v23/customers/{+customerId}/customizerAttributes:mutate",
              "parameters": {
                "customerId": {
                  "type": "string",
                  "location": "path",
                  "pattern": "^[^/]+$",
                  "required": true,
                  "description": "Required. The ID of the customer whose customizer attributes are being modified."
                }
              },
              "id": "searchads360.customers.customizerAttributes.mutate",
              "flatPath": "v23/customers/{customersId}/customizerAttributes:mutate",
              "response": {
                "$ref": "GoogleAdsSearchads360V23Services__MutateCustomizerAttributesResponse"
              }
            }
          }
        },
        "customerLifecycleGoal": {
          "methods": {
            "configureCustomerLifecycleGoals": {
              "response": {
                "$ref": "GoogleAdsSearchads360V23Services__ConfigureCustomerLifecycleGoalsResponse"
              },
              "id": "searchads360.customers.customerLifecycleGoal.configureCustomerLifecycleGoals",
              "flatPath": "v23/customers/{customersId}/customerLifecycleGoal:configureCustomerLifecycleGoals",
              "httpMethod": "POST",
              "parameterOrder": [
                "customerId"
              ],
              "parameters": {
                "customerId": {
                  "description": "Required. The ID of the customer performing the upload.",
                  "required": true,
                  "pattern": "^[^/]+$",
                  "type": "string",
                  "location": "path"
                }
              },
              "request": {
                "$ref": "GoogleAdsSearchads360V23Services__ConfigureCustomerLifecycleGoalsRequest"
              },
              "description": "Process the given customer lifecycle configurations. List of thrown errors: [AuthenticationError]() [AuthorizationError]() [CustomerLifecycleGoalConfigError]() [HeaderError]() [InternalError]() [QuotaError]() [RequestError]()",
              "path": "v23/customers/{+customerId}/customerLifecycleGoal:configureCustomerLifecycleGoals",
              "scopes": [
                "https://www.googleapis.com/auth/doubleclicksearch"
              ]
            }
          }
        },
        "biddingStrategies": {
          "methods": {
            "mutate": {
              "path": "v23/customers/{+customerId}/biddingStrategies:mutate",
              "parameters": {
                "customerId": {
                  "pattern": "^[^/]+$",
                  "location": "path",
                  "description": "Required. The ID of the customer whose bidding strategies are being modified.",
                  "required": true,
                  "type": "string"
                }
              },
              "id": "searchads360.customers.biddingStrategies.mutate",
              "scopes": [
                "https://www.googleapis.com/auth/doubleclicksearch"
              ],
              "description": "Creates, updates, or removes bidding strategies. Operation statuses are returned. List of thrown errors: [AdxError]() [AuthenticationError]() [AuthorizationError]() [BiddingError]() [BiddingStrategyError]() [ContextError]() [DatabaseError]() [DateError]() [DistinctError]() [FieldError]() [FieldMaskError]() [HeaderError]() [IdError]() [InternalError]() [MutateError]() [NewResourceCreationError]() [NotEmptyError]() [NullError]() [OperationAccessDeniedError]() [OperatorError]() [QuotaError]() [RangeError]() [RequestError]() [SizeLimitError]() [StringFormatError]() [StringLengthError]()",
              "request": {
                "$ref": "GoogleAdsSearchads360V23Services__MutateBiddingStrategiesRequest"
              },
              "parameterOrder": [
                "customerId"
              ],
              "httpMethod": "POST",
              "flatPath": "v23/customers/{customersId}/biddingStrategies:mutate",
              "response": {
                "$ref": "GoogleAdsSearchads360V23Services__MutateBiddingStrategiesResponse"
              }
            }
          }
        },
        "dataLinks": {
          "methods": {
            "update": {
              "httpMethod": "POST",
              "description": "Update a data link. List of thrown errors: [AuthenticationError]() [AuthorizationError]() [DatabaseError]() [DataLinkError]() [FieldError]() [HeaderError]() [InternalError]() [MutateError]() [QuotaError]() [RequestError]()",
              "path": "v23/customers/{+customerId}/dataLinks:update",
              "request": {
                "$ref": "GoogleAdsSearchads360V23Services__UpdateDataLinkRequest"
              },
              "id": "searchads360.customers.dataLinks.update",
              "flatPath": "v23/customers/{customersId}/dataLinks:update",
              "scopes": [
                "https://www.googleapis.com/auth/doubleclicksearch"
              ],
              "response": {
                "$ref": "GoogleAdsSearchads360V23Services__UpdateDataLinkResponse"
              },
              "parameterOrder": [
                "customerId"
              ],
              "parameters": {
                "customerId": {
                  "required": true,
                  "location": "path",
                  "description": "Required. The ID of the customer for which the data link is created.",
                  "pattern": "^[^/]+$",
                  "type": "string"
                }
              }
            },
            "remove": {
              "description": "Remove a data link. List of thrown errors: [AuthenticationError]() [AuthorizationError]() [DatabaseError]() [DataLinkError]() [FieldError]() [HeaderError]() [InternalError]() [MutateError]() [QuotaError]() [RequestError]()",
              "scopes": [
                "https://www.googleapis.com/auth/doubleclicksearch"
              ],
              "parameters": {
                "customerId": {
                  "location": "path",
                  "required": true,
                  "pattern": "^[^/]+$",
                  "type": "string",
                  "description": "Required. The ID of the customer for which the data link is updated."
                }
              },
              "request": {
                "$ref": "GoogleAdsSearchads360V23Services__RemoveDataLinkRequest"
              },
              "flatPath": "v23/customers/{customersId}/dataLinks:remove",
              "id": "searchads360.customers.dataLinks.remove",
              "response": {
                "$ref": "GoogleAdsSearchads360V23Services__RemoveDataLinkResponse"
              },
              "parameterOrder": [
                "customerId"
              ],
              "path": "v23/customers/{+customerId}/dataLinks:remove",
              "httpMethod": "POST"
            },
            "create": {
              "response": {
                "$ref": "GoogleAdsSearchads360V23Services__CreateDataLinkResponse"
              },
              "path": "v23/customers/{+customerId}/dataLinks:create",
              "parameters": {
                "customerId": {
                  "pattern": "^[^/]+$",
                  "type": "string",
                  "location": "path",
                  "description": "Required. The ID of the customer for which the data link is created.",
                  "required": true
                }
              },
              "id": "searchads360.customers.dataLinks.create",
              "flatPath": "v23/customers/{customersId}/dataLinks:create",
              "httpMethod": "POST",
              "description": "Creates a data link. The requesting Google Ads account name and account ID will be shared with the third party (such as YouTube creators for video links) to whom you are creating the link with. Only customers on the allow-list can create data links. List of thrown errors: [AuthenticationError]() [AuthorizationError]() [DatabaseError]() [DataLinkError]() [FieldError]() [HeaderError]() [InternalError]() [MutateError]() [QuotaError]() [RequestError]()",
              "parameterOrder": [
                "customerId"
              ],
              "request": {
                "$ref": "GoogleAdsSearchads360V23Services__CreateDataLinkRequest"
              },
              "scopes": [
                "https://www.googleapis.com/auth/doubleclicksearch"
              ]
            }
          }
        },
        "assetGroups": {
          "methods": {
            "mutate": {
              "request": {
                "$ref": "GoogleAdsSearchads360V23Services__MutateAssetGroupsRequest"
              },
              "id": "searchads360.customers.assetGroups.mutate",
              "flatPath": "v23/customers/{customersId}/assetGroups:mutate",
              "scopes": [
                "https://www.googleapis.com/auth/doubleclicksearch"
              ],
              "httpMethod": "POST",
              "response": {
                "$ref": "GoogleAdsSearchads360V23Services__MutateAssetGroupsResponse"
              },
              "description": "Creates, updates or removes asset groups. Operation statuses are returned.",
              "path": "v23/customers/{+customerId}/assetGroups:mutate",
              "parameters": {
                "customerId": {
                  "description": "Required. The ID of the customer whose asset groups are being modified.",
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "pattern": "^[^/]+$"
                }
              },
              "parameterOrder": [
                "customerId"
              ]
            }
          }
        },
        "campaignAssetSets": {
          "methods": {
            "mutate": {
              "request": {
                "$ref": "GoogleAdsSearchads360V23Services__MutateCampaignAssetSetsRequest"
              },
              "parameters": {
                "customerId": {
                  "location": "path",
                  "pattern": "^[^/]+$",
                  "required": true,
                  "description": "Required. The ID of the customer whose campaign asset sets are being modified.",
                  "type": "string"
                }
              },
              "httpMethod": "POST",
              "parameterOrder": [
                "customerId"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/doubleclicksearch"
              ],
              "description": "Creates, updates or removes campaign asset sets. Operation statuses are returned.",
              "response": {
                "$ref": "GoogleAdsSearchads360V23Services__MutateCampaignAssetSetsResponse"
              },
              "path": "v23/customers/{+customerId}/campaignAssetSets:mutate",
              "flatPath": "v23/customers/{customersId}/campaignAssetSets:mutate",
              "id": "searchads360.customers.campaignAssetSets.mutate"
            }
          }
        },
        "localServicesLeads": {
          "methods": {
            "provideLeadFeedback": {
              "parameters": {
                "resourceName": {
                  "description": "Required. The resource name of the local services lead that for which the feedback is being provided.",
                  "type": "string",
                  "required": true,
                  "pattern": "^customers/[^/]+/localServicesLeads/[^/]+$",
                  "location": "path"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/doubleclicksearch"
              ],
              "response": {
                "$ref": "GoogleAdsSearchads360V23Services__ProvideLeadFeedbackResponse"
              },
              "parameterOrder": [
                "resourceName"
              ],
              "request": {
                "$ref": "GoogleAdsSearchads360V23Services__ProvideLeadFeedbackRequest"
              },
              "path": "v23/{+resourceName}:provideLeadFeedback",
              "flatPath": "v23/customers/{customersId}/localServicesLeads/{localServicesLeadsId}:provideLeadFeedback",
              "httpMethod": "POST",
              "description": "RPC to provide feedback on Local Services Lead resources.",
              "id": "searchads360.customers.localServicesLeads.provideLeadFeedback"
            }
          }
        },
        "campaignLifecycleGoal": {
          "methods": {
            "configureCampaignLifecycleGoals": {
              "parameters": {
                "customerId": {
                  "required": true,
                  "location": "path",
                  "description": "Required. The ID of the customer performing the upload.",
                  "pattern": "^[^/]+$",
                  "type": "string"
                }
              },
              "description": "Process the given campaign lifecycle configurations. List of thrown errors: [AuthenticationError]() [AuthorizationError]() [CampaignLifecycleGoalConfigError]() [HeaderError]() [InternalError]() [QuotaError]() [RequestError]()",
              "parameterOrder": [
                "customerId"
              ],
              "request": {
                "$ref": "GoogleAdsSearchads360V23Services__ConfigureCampaignLifecycleGoalsRequest"
              },
              "path": "v23/customers/{+customerId}/campaignLifecycleGoal:configureCampaignLifecycleGoals",
              "id": "searchads360.customers.campaignLifecycleGoal.configureCampaignLifecycleGoals",
              "scopes": [
                "https://www.googleapis.com/auth/doubleclicksearch"
              ],
              "response": {
                "$ref": "GoogleAdsSearchads360V23Services__ConfigureCampaignLifecycleGoalsResponse"
              },
              "flatPath": "v23/customers/{customersId}/campaignLifecycleGoal:configureCampaignLifecycleGoals",
              "httpMethod": "POST"
            }
          }
        },
        "conversionGoalCampaignConfigs": {
          "methods": {
            "mutate": {
              "request": {
                "$ref": "GoogleAdsSearchads360V23Services__MutateConversionGoalCampaignConfigsRequest"
              },
              "httpMethod": "POST",
              "path": "v23/customers/{+customerId}/conversionGoalCampaignConfigs:mutate",
              "description": "Creates, updates or removes conversion goal campaign config. Operation statuses are returned.",
              "parameters": {
                "customerId": {
                  "location": "path",
                  "pattern": "^[^/]+$",
                  "type": "string",
                  "required": true,
                  "description": "Required. The ID of the customer whose custom conversion goals are being modified."
                }
              },
              "id": "searchads360.customers.conversionGoalCampaignConfigs.mutate",
              "response": {
                "$ref": "GoogleAdsSearchads360V23Services__MutateConversionGoalCampaignConfigsResponse"
              },
              "parameterOrder": [
                "customerId"
              ],
              "flatPath": "v23/customers/{customersId}/conversionGoalCampaignConfigs:mutate",
              "scopes": [
                "https://www.googleapis.com/auth/doubleclicksearch"
              ]
            }
          }
        },
        "keywordPlanCampaigns": {
          "methods": {
            "mutate": {
              "path": "v23/customers/{+customerId}/keywordPlanCampaigns:mutate",
              "description": "Creates, updates, or removes Keyword Plan campaigns. Operation statuses are returned. List of thrown errors: [AuthenticationError]() [AuthorizationError]() [DatabaseError]() [FieldError]() [FieldMaskError]() [HeaderError]() [InternalError]() [KeywordPlanCampaignError]() [KeywordPlanError]() [ListOperationError]() [MutateError]() [QuotaError]() [RangeError]() [RequestError]() [ResourceCountLimitExceededError]()",
              "request": {
                "$ref": "GoogleAdsSearchads360V23Services__MutateKeywordPlanCampaignsRequest"
              },
              "scopes": [
                "https://www.googleapis.com/auth/doubleclicksearch"
              ],
              "response": {
                "$ref": "GoogleAdsSearchads360V23Services__MutateKeywordPlanCampaignsResponse"
              },
              "httpMethod": "POST",
              "flatPath": "v23/customers/{customersId}/keywordPlanCampaigns:mutate",
              "parameterOrder": [
                "customerId"
              ],
              "parameters": {
                "customerId": {
                  "location": "path",
                  "required": true,
                  "description": "Required. The ID of the customer whose Keyword Plan campaigns are being modified.",
                  "type": "string",
                  "pattern": "^[^/]+$"
                }
              },
              "id": "searchads360.customers.keywordPlanCampaigns.mutate"
            }
          }
        },
        "ads": {
          "methods": {
            "mutate": {
              "flatPath": "v23/customers/{customersId}/ads:mutate",
              "scopes": [
                "https://www.googleapis.com/auth/doubleclicksearch"
              ],
              "httpMethod": "POST",
              "response": {
                "$ref": "GoogleAdsSearchads360V23Services__MutateAdsResponse"
              },
              "id": "searchads360.customers.ads.mutate",
              "path": "v23/customers/{+customerId}/ads:mutate",
              "description": "Updates ads. Operation statuses are returned. Updating ads is not supported for TextAd, ExpandedDynamicSearchAd, GmailAd and ImageAd. List of thrown errors: [AdCustomizerError]() [AdError]() [AdSharingError]() [AdxError]() [AssetError]() [AssetLinkError]() [AuthenticationError]() [AuthorizationError]() [CollectionSizeError]() [DatabaseError]() [DateError]() [DistinctError]() [FeedAttributeReferenceError]() [FieldError]() [FieldMaskError]() [FunctionError]() [FunctionParsingError]() [HeaderError]() [IdError]() [ImageError]() [InternalError]() [ListOperationError]() [MediaBundleError]() [MediaFileError]() [MutateError]() [NewResourceCreationError]() [NotEmptyError]() [NullError]() [OperatorError]() [PolicyFindingError]() [PolicyViolationError]() [QuotaError]() [RangeError]() [RequestError]() [SizeLimitError]() [StringFormatError]() [StringLengthError]() [UrlFieldError]()",
              "request": {
                "$ref": "GoogleAdsSearchads360V23Services__MutateAdsRequest"
              },
              "parameters": {
                "customerId": {
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "description": "Required. The ID of the customer whose ads are being modified.",
                  "pattern": "^[^/]+$"
                }
              },
              "parameterOrder": [
                "customerId"
              ]
            }
          }
        },
        "conversionActions": {
          "methods": {
            "mutate": {
              "parameters": {
                "customerId": {
                  "type": "string",
                  "description": "Required. The ID of the customer whose conversion actions are being modified.",
                  "required": true,
                  "location": "path",
                  "pattern": "^[^/]+$"
                }
              },
              "id": "searchads360.customers.conversionActions.mutate",
              "description": "Creates, updates or removes conversion actions. Operation statuses are returned. List of thrown errors: [AuthenticationError]() [AuthorizationError]() [ConversionActionError]() [CurrencyCodeError]() [DatabaseError]() [FieldError]() [FieldMaskError]() [HeaderError]() [InternalError]() [MutateError]() [NewResourceCreationError]() [QuotaError]() [RangeError]() [RequestError]() [ResourceCountLimitExceededError]() [StringLengthError]()",
              "request": {
                "$ref": "GoogleAdsSearchads360V23Services__MutateConversionActionsRequest"
              },
              "parameterOrder": [
                "customerId"
              ],
              "response": {
                "$ref": "GoogleAdsSearchads360V23Services__MutateConversionActionsResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/doubleclicksearch"
              ],
              "flatPath": "v23/customers/{customersId}/conversionActions:mutate",
              "path": "v23/customers/{+customerId}/conversionActions:mutate",
              "httpMethod": "POST"
            }
          }
        },
        "smartCampaignSettings": {
          "methods": {
            "getSmartCampaignStatus": {
              "description": "Returns the status of the requested Smart campaign.",
              "parameters": {
                "resourceName": {
                  "required": true,
                  "pattern": "^customers/[^/]+/smartCampaignSettings/[^/]+$",
                  "type": "string",
                  "location": "path",
                  "description": "Required. The resource name of the Smart campaign setting belonging to the Smart campaign to fetch the status of."
                }
              },
              "parameterOrder": [
                "resourceName"
              ],
              "path": "v23/{+resourceName}:getSmartCampaignStatus",
              "httpMethod": "GET",
              "id": "searchads360.customers.smartCampaignSettings.getSmartCampaignStatus",
              "response": {
                "$ref": "GoogleAdsSearchads360V23Services__GetSmartCampaignStatusResponse"
              },
              "flatPath": "v23/customers/{customersId}/smartCampaignSettings/{smartCampaignSettingsId}:getSmartCampaignStatus",
              "scopes": [
                "https://www.googleapis.com/auth/doubleclicksearch"
              ]
            },
            "mutate": {
              "response": {
                "$ref": "GoogleAdsSearchads360V23Services__MutateSmartCampaignSettingsResponse"
              },
              "path": "v23/customers/{+customerId}/smartCampaignSettings:mutate",
              "flatPath": "v23/customers/{customersId}/smartCampaignSettings:mutate",
              "id": "searchads360.customers.smartCampaignSettings.mutate",
              "httpMethod": "POST",
              "description": "Updates Smart campaign settings for campaigns.",
              "parameters": {
                "customerId": {
                  "type": "string",
                  "pattern": "^[^/]+$",
                  "location": "path",
                  "description": "Required. The ID of the customer whose Smart campaign settings are being modified.",
                  "required": true
                }
              },
              "request": {
                "$ref": "GoogleAdsSearchads360V23Services__MutateSmartCampaignSettingsRequest"
              },
              "scopes": [
                "https://www.googleapis.com/auth/doubleclicksearch"
              ],
              "parameterOrder": [
                "customerId"
              ]
            }
          }
        },
        "billingSetups": {
          "methods": {
            "mutate": {
              "id": "searchads360.customers.billingSetups.mutate",
              "httpMethod": "POST",
              "parameterOrder": [
                "customerId"
              ],
              "request": {
                "$ref": "GoogleAdsSearchads360V23Services__MutateBillingSetupRequest"
              },
              "scopes": [
                "https://www.googleapis.com/auth/doubleclicksearch"
              ],
              "description": "Creates a billing setup, or cancels an existing billing setup. List of thrown errors: [AuthenticationError]() [AuthorizationError]() [BillingSetupError]() [DateError]() [FieldError]() [HeaderError]() [InternalError]() [MutateError]() [QuotaError]() [RequestError]()",
              "path": "v23/customers/{+customerId}/billingSetups:mutate",
              "flatPath": "v23/customers/{customersId}/billingSetups:mutate",
              "response": {
                "$ref": "GoogleAdsSearchads360V23Services__MutateBillingSetupResponse"
              },
              "parameters": {
                "customerId": {
                  "location": "path",
                  "required": true,
                  "pattern": "^[^/]+$",
                  "type": "string",
                  "description": "Required. Id of the customer to apply the billing setup mutate operation to."
                }
              }
            }
          }
        },
        "labels": {
          "methods": {
            "mutate": {
              "description": "Creates, updates, or removes labels. Operation statuses are returned. List of thrown errors: [AuthenticationError]() [AuthorizationError]() [DatabaseError]() [DateError]() [DistinctError]() [FieldError]() [FieldMaskError]() [HeaderError]() [IdError]() [InternalError]() [LabelError]() [MutateError]() [NewResourceCreationError]() [NotEmptyError]() [NullError]() [OperatorError]() [QuotaError]() [RangeError]() [RequestError]() [ResourceCountLimitExceededError]() [SizeLimitError]() [StringFormatError]() [StringLengthError]()",
              "path": "v23/customers/{+customerId}/labels:mutate",
              "parameters": {
                "customerId": {
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "description": "Required. ID of the customer whose labels are being modified.",
                  "pattern": "^[^/]+$"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/doubleclicksearch"
              ],
              "response": {
                "$ref": "GoogleAdsSearchads360V23Services__MutateLabelsResponse"
              },
              "id": "searchads360.customers.labels.mutate",
              "request": {
                "$ref": "GoogleAdsSearchads360V23Services__MutateLabelsRequest"
              },
              "flatPath": "v23/customers/{customersId}/labels:mutate",
              "httpMethod": "POST",
              "parameterOrder": [
                "customerId"
              ]
            }
          }
        },
        "campaignConversionGoals": {
          "methods": {
            "mutate": {
              "request": {
                "$ref": "GoogleAdsSearchads360V23Services__MutateCampaignConversionGoalsRequest"
              },
              "description": "Creates, updates or removes campaign conversion goals. Operation statuses are returned.",
              "path": "v23/customers/{+customerId}/campaignConversionGoals:mutate",
              "scopes": [
                "https://www.googleapis.com/auth/doubleclicksearch"
              ],
              "response": {
                "$ref": "GoogleAdsSearchads360V23Services__MutateCampaignConversionGoalsResponse"
              },
              "parameterOrder": [
                "customerId"
              ],
              "httpMethod": "POST",
              "flatPath": "v23/customers/{customersId}/campaignConversionGoals:mutate",
              "parameters": {
                "customerId": {
                  "type": "string",
                  "pattern": "^[^/]+$",
                  "location": "path",
                  "required": true,
                  "description": "Required. The ID of the customer whose campaign conversion goals are being modified."
                }
              },
              "id": "searchads360.customers.campaignConversionGoals.mutate"
            }
          }
        },
        "customerManagerLinks": {
          "methods": {
            "moveManagerLink": {
              "httpMethod": "POST",
              "id": "searchads360.customers.customerManagerLinks.moveManagerLink",
              "scopes": [
                "https://www.googleapis.com/auth/doubleclicksearch"
              ],
              "response": {
                "$ref": "GoogleAdsSearchads360V23Services__MoveManagerLinkResponse"
              },
              "flatPath": "v23/customers/{customersId}/customerManagerLinks:moveManagerLink",
              "request": {
                "$ref": "GoogleAdsSearchads360V23Services__MoveManagerLinkRequest"
              },
              "path": "v23/customers/{+customerId}/customerManagerLinks:moveManagerLink",
              "parameters": {
                "customerId": {
                  "pattern": "^[^/]+$",
                  "type": "string",
                  "description": "Required. The ID of the client customer that is being moved.",
                  "location": "path",
                  "required": true
                }
              },
              "description": "Moves a client customer to a new manager customer. This simplifies the complex request that requires two operations to move a client customer to a new manager, for example: 1. Update operation with Status INACTIVE (previous manager) and, 2. Update operation with Status ACTIVE (new manager). List of thrown errors: [AuthenticationError]() [AuthorizationError]() [DatabaseError]() [FieldError]() [HeaderError]() [InternalError]() [MutateError]() [QuotaError]() [RequestError]()",
              "parameterOrder": [
                "customerId"
              ]
            },
            "mutate": {
              "parameters": {
                "customerId": {
                  "required": true,
                  "description": "Required. The ID of the customer whose customer manager links are being modified.",
                  "location": "path",
                  "pattern": "^[^/]+$",
                  "type": "string"
                }
              },
              "id": "searchads360.customers.customerManagerLinks.mutate",
              "description": "Updates customer manager links. Operation statuses are returned. List of thrown errors: [AuthenticationError]() [AuthorizationError]() [DatabaseError]() [FieldError]() [FieldMaskError]() [HeaderError]() [InternalError]() [ManagerLinkError]() [MutateError]() [QuotaError]() [RequestError]()",
              "scopes": [
                "https://www.googleapis.com/auth/doubleclicksearch"
              ],
              "httpMethod": "POST",
              "path": "v23/customers/{+customerId}/customerManagerLinks:mutate",
              "flatPath": "v23/customers/{customersId}/customerManagerLinks:mutate",
              "request": {
                "$ref": "GoogleAdsSearchads360V23Services__MutateCustomerManagerLinkRequest"
              },
              "parameterOrder": [
                "customerId"
              ],
              "response": {
                "$ref": "GoogleAdsSearchads360V23Services__MutateCustomerManagerLinkResponse"
              }
            }
          }
        },
        "campaigns": {
          "methods": {
            "enablePMaxBrandGuidelines": {
              "id": "searchads360.customers.campaigns.enablePMaxBrandGuidelines",
              "httpMethod": "POST",
              "description": "Enables Brand Guidelines for Performance Max campaigns. List of thrown errors: [AuthenticationError]() [AssetError]() [AssetLinkError]() [AuthorizationError]() [BrandGuidelinesMigrationError]() [CampaignError]() [HeaderError]() [InternalError]() [MutateError]() [QuotaError]() [RequestError]() [ResourceCountLimitExceededError]()",
              "flatPath": "v23/customers/{customersId}/campaigns:enablePMaxBrandGuidelines",
              "parameters": {
                "customerId": {
                  "description": "Required. The ID of the customer whose campaigns are being enabled.",
                  "pattern": "^[^/]+$",
                  "location": "path",
                  "type": "string",
                  "required": true
                }
              },
              "response": {
                "$ref": "GoogleAdsSearchads360V23Services__EnablePMaxBrandGuidelinesResponse"
              },
              "request": {
                "$ref": "GoogleAdsSearchads360V23Services__EnablePMaxBrandGuidelinesRequest"
              },
              "path": "v23/customers/{+customerId}/campaigns:enablePMaxBrandGuidelines",
              "parameterOrder": [
                "customerId"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/doubleclicksearch"
              ]
            },
            "mutate": {
              "httpMethod": "POST",
              "flatPath": "v23/customers/{customersId}/campaigns:mutate",
              "response": {
                "$ref": "GoogleAdsSearchads360V23Services__MutateCampaignsResponse"
              },
              "id": "searchads360.customers.campaigns.mutate",
              "description": "Creates, updates, or removes campaigns. Operation statuses are returned. List of thrown errors: [AdxError]() [AuthenticationError]() [AuthorizationError]() [BiddingError]() [BiddingStrategyError]() [CampaignBudgetError]() [CampaignError]() [ContextError]() [DatabaseError]() [DateError]() [DateRangeError]() [DistinctError]() [FieldError]() [FieldMaskError]() [HeaderError]() [IdError]() [InternalError]() [ListOperationError]() [MutateError]() [NewResourceCreationError]() [NotAllowlistedError]() [NotEmptyError]() [NullError]() [OperationAccessDeniedError]() [OperatorError]() [QuotaError]() [RangeError]() [RegionCodeError]() [RequestError]() [ResourceCountLimitExceededError]() [SettingError]() [SizeLimitError]() [StringFormatError]() [StringLengthError]() [UrlFieldError]()",
              "scopes": [
                "https://www.googleapis.com/auth/doubleclicksearch"
              ],
              "path": "v23/customers/{+customerId}/campaigns:mutate",
              "request": {
                "$ref": "GoogleAdsSearchads360V23Services__MutateCampaignsRequest"
              },
              "parameterOrder": [
                "customerId"
              ],
              "parameters": {
                "customerId": {
                  "description": "Required. The ID of the customer whose campaigns are being modified.",
                  "required": true,
                  "location": "path",
                  "pattern": "^[^/]+$",
                  "type": "string"
                }
              }
            }
          }
        },
        "incentives": {
          "methods": {
            "applyIncentive": {
              "path": "v23/customers/{+customerId}/incentives/{+selectedIncentiveId}:applyIncentive",
              "request": {
                "$ref": "GoogleAdsSearchads360V23Services__ApplyIncentiveRequest"
              },
              "parameters": {
                "selectedIncentiveId": {
                  "format": "int64",
                  "description": "The incentive ID of this incentive. This is used to identify which incentive is selected by the user in the CYO flow.",
                  "pattern": "^[^/]+$",
                  "location": "path",
                  "type": "string",
                  "required": true
                },
                "customerId": {
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "pattern": "^[^/]+$",
                  "description": "The customer ID of the account that the incentive is being applied to."
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/doubleclicksearch"
              ],
              "flatPath": "v23/customers/{customersId}/incentives/{incentivesId}:applyIncentive",
              "response": {
                "$ref": "GoogleAdsSearchads360V23Services__ApplyIncentiveResponse"
              },
              "parameterOrder": [
                "customerId",
                "selectedIncentiveId"
              ],
              "id": "searchads360.customers.incentives.applyIncentive",
              "description": "Applies the incentive for the ads customer.",
              "httpMethod": "POST"
            }
          }
        },
        "recommendationSubscriptions": {
          "methods": {
            "mutateRecommendationSubscription": {
              "flatPath": "v23/customers/{customersId}/recommendationSubscriptions:mutateRecommendationSubscription",
              "response": {
                "$ref": "GoogleAdsSearchads360V23Services__MutateRecommendationSubscriptionResponse"
              },
              "parameters": {
                "customerId": {
                  "pattern": "^[^/]+$",
                  "location": "path",
                  "description": "Required. The ID of the subscribing customer.",
                  "type": "string",
                  "required": true
                }
              },
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/doubleclicksearch"
              ],
              "path": "v23/customers/{+customerId}/recommendationSubscriptions:mutateRecommendationSubscription",
              "parameterOrder": [
                "customerId"
              ],
              "id": "searchads360.customers.recommendationSubscriptions.mutateRecommendationSubscription",
              "request": {
                "$ref": "GoogleAdsSearchads360V23Services__MutateRecommendationSubscriptionRequest"
              },
              "description": "Mutates given subscription with corresponding apply parameters. List of thrown errors: [AuthenticationError]() [AuthorizationError]() [DatabaseError]() [FieldError]() [HeaderError]() [InternalError]() [MutateError]() [QuotaError]() [RecommendationError]() [RecommendationSubscriptionError]() [RequestError]() [UrlFieldError]()"
            }
          }
        },
        "conversionCustomVariables": {
          "methods": {
            "mutate": {
              "parameters": {
                "customerId": {
                  "pattern": "^[^/]+$",
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "description": "Required. The ID of the customer whose conversion custom variables are being modified."
                }
              },
              "description": "Creates or updates conversion custom variables. Operation statuses are returned. List of thrown errors: [AuthenticationError]() [AuthorizationError]() [ConversionCustomVariableError]() [DatabaseError]() [HeaderError]() [InternalError]() [QuotaError]() [RequestError]()",
              "scopes": [
                "https://www.googleapis.com/auth/doubleclicksearch"
              ],
              "path": "v23/customers/{+customerId}/conversionCustomVariables:mutate",
              "id": "searchads360.customers.conversionCustomVariables.mutate",
              "parameterOrder": [
                "customerId"
              ],
              "httpMethod": "POST",
              "request": {
                "$ref": "GoogleAdsSearchads360V23Services__MutateConversionCustomVariablesRequest"
              },
              "flatPath": "v23/customers/{customersId}/conversionCustomVariables:mutate",
              "response": {
                "$ref": "GoogleAdsSearchads360V23Services__MutateConversionCustomVariablesResponse"
              }
            }
          }
        },
        "assetSets": {
          "methods": {
            "mutate": {
              "response": {
                "$ref": "GoogleAdsSearchads360V23Services__MutateAssetSetsResponse"
              },
              "path": "v23/customers/{+customerId}/assetSets:mutate",
              "parameterOrder": [
                "customerId"
              ],
              "flatPath": "v23/customers/{customersId}/assetSets:mutate",
              "scopes": [
                "https://www.googleapis.com/auth/doubleclicksearch"
              ],
              "parameters": {
                "customerId": {
                  "location": "path",
                  "type": "string",
                  "pattern": "^[^/]+$",
                  "required": true,
                  "description": "Required. The ID of the customer whose asset sets are being modified."
                }
              },
              "request": {
                "$ref": "GoogleAdsSearchads360V23Services__MutateAssetSetsRequest"
              },
              "httpMethod": "POST",
              "description": "Creates, updates or removes asset sets. Operation statuses are returned.",
              "id": "searchads360.customers.assetSets.mutate"
            }
          }
        },
        "adGroupAssetSets": {
          "methods": {
            "mutate": {
              "request": {
                "$ref": "GoogleAdsSearchads360V23Services__MutateAdGroupAssetSetsRequest"
              },
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/doubleclicksearch"
              ],
              "description": "Creates, or removes ad group asset sets. Operation statuses are returned.",
              "parameters": {
                "customerId": {
                  "description": "Required. The ID of the customer whose ad group asset sets are being modified.",
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "pattern": "^[^/]+$"
                }
              },
              "id": "searchads360.customers.adGroupAssetSets.mutate",
              "response": {
                "$ref": "GoogleAdsSearchads360V23Services__MutateAdGroupAssetSetsResponse"
              },
              "parameterOrder": [
                "customerId"
              ],
              "path": "v23/customers/{+customerId}/adGroupAssetSets:mutate",
              "flatPath": "v23/customers/{customersId}/adGroupAssetSets:mutate"
            }
          }
        },
        "adGroupCustomizers": {
          "methods": {
            "mutate": {
              "parameterOrder": [
                "customerId"
              ],
              "path": "v23/customers/{+customerId}/adGroupCustomizers:mutate",
              "httpMethod": "POST",
              "flatPath": "v23/customers/{customersId}/adGroupCustomizers:mutate",
              "parameters": {
                "customerId": {
                  "required": true,
                  "location": "path",
                  "description": "Required. The ID of the customer whose ad group customizers are being modified.",
                  "pattern": "^[^/]+$",
                  "type": "string"
                }
              },
              "response": {
                "$ref": "GoogleAdsSearchads360V23Services__MutateAdGroupCustomizersResponse"
              },
              "id": "searchads360.customers.adGroupCustomizers.mutate",
              "description": "Creates, updates or removes ad group customizers. Operation statuses are returned.",
              "scopes": [
                "https://www.googleapis.com/auth/doubleclicksearch"
              ],
              "request": {
                "$ref": "GoogleAdsSearchads360V23Services__MutateAdGroupCustomizersRequest"
              }
            }
          }
        },
        "keywordPlanCampaignKeywords": {
          "methods": {
            "mutate": {
              "httpMethod": "POST",
              "description": "Creates, updates, or removes Keyword Plan campaign keywords. Operation statuses are returned. List of thrown errors: [AuthenticationError]() [AuthorizationError]() [DatabaseError]() [FieldError]() [HeaderError]() [InternalError]() [KeywordPlanAdGroupKeywordError]() [KeywordPlanCampaignKeywordError]() [QuotaError]() [RequestError]() [ResourceCountLimitExceededError]()",
              "id": "searchads360.customers.keywordPlanCampaignKeywords.mutate",
              "parameterOrder": [
                "customerId"
              ],
              "parameters": {
                "customerId": {
                  "type": "string",
                  "description": "Required. The ID of the customer whose campaign keywords are being modified.",
                  "required": true,
                  "location": "path",
                  "pattern": "^[^/]+$"
                }
              },
              "flatPath": "v23/customers/{customersId}/keywordPlanCampaignKeywords:mutate",
              "path": "v23/customers/{+customerId}/keywordPlanCampaignKeywords:mutate",
              "response": {
                "$ref": "GoogleAdsSearchads360V23Services__MutateKeywordPlanCampaignKeywordsResponse"
              },
              "request": {
                "$ref": "GoogleAdsSearchads360V23Services__MutateKeywordPlanCampaignKeywordsRequest"
              },
              "scopes": [
                "https://www.googleapis.com/auth/doubleclicksearch"
              ]
            }
          }
        },
        "assets": {
          "methods": {
            "mutate": {
              "scopes": [
                "https://www.googleapis.com/auth/doubleclicksearch"
              ],
              "id": "searchads360.customers.assets.mutate",
              "flatPath": "v23/customers/{customersId}/assets:mutate",
              "response": {
                "$ref": "GoogleAdsSearchads360V23Services__MutateAssetsResponse"
              },
              "parameterOrder": [
                "customerId"
              ],
              "parameters": {
                "customerId": {
                  "description": "Required. The ID of the customer whose assets are being modified.",
                  "pattern": "^[^/]+$",
                  "type": "string",
                  "location": "path",
                  "required": true
                }
              },
              "path": "v23/customers/{+customerId}/assets:mutate",
              "description": "Creates assets. Operation statuses are returned. List of thrown errors: [AssetError]() [AuthenticationError]() [AuthorizationError]() [CollectionSizeError]() [CurrencyCodeError]() [DatabaseError]() [DateError]() [DistinctError]() [FieldError]() [FieldMaskError]() [HeaderError]() [IdError]() [InternalError]() [ListOperationError]() [MediaUploadError]() [MutateError]() [NotAllowlistedError]() [NotEmptyError]() [OperatorError]() [QuotaError]() [RangeError]() [RequestError]() [SizeLimitError]() [StringFormatError]() [StringLengthError]() [UrlFieldError]() [YoutubeVideoRegistrationError]()",
              "httpMethod": "POST",
              "request": {
                "$ref": "GoogleAdsSearchads360V23Services__MutateAssetsRequest"
              }
            }
          }
        },
        "biddingSeasonalityAdjustments": {
          "methods": {
            "mutate": {
              "parameters": {
                "customerId": {
                  "type": "string",
                  "location": "path",
                  "pattern": "^[^/]+$",
                  "required": true,
                  "description": "Required. ID of the customer whose seasonality adjustments are being modified."
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/doubleclicksearch"
              ],
              "response": {
                "$ref": "GoogleAdsSearchads360V23Services__MutateBiddingSeasonalityAdjustmentsResponse"
              },
              "flatPath": "v23/customers/{customersId}/biddingSeasonalityAdjustments:mutate",
              "id": "searchads360.customers.biddingSeasonalityAdjustments.mutate",
              "path": "v23/customers/{+customerId}/biddingSeasonalityAdjustments:mutate",
              "parameterOrder": [
                "customerId"
              ],
              "description": "Creates, updates, or removes seasonality adjustments. Operation statuses are returned.",
              "request": {
                "$ref": "GoogleAdsSearchads360V23Services__MutateBiddingSeasonalityAdjustmentsRequest"
              },
              "httpMethod": "POST"
            }
          }
        },
        "paymentsAccounts": {
          "methods": {
            "list": {
              "description": "Returns all payments accounts associated with all managers between the login customer ID and specified serving customer in the hierarchy, inclusive. List of thrown errors: [AuthenticationError]() [AuthorizationError]() [HeaderError]() [InternalError]() [PaymentsAccountError]() [QuotaError]() [RequestError]()",
              "parameters": {
                "customerId": {
                  "description": "Required. The ID of the customer to apply the PaymentsAccount list operation to.",
                  "pattern": "^[^/]+$",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "flatPath": "v23/customers/{customersId}/paymentsAccounts",
              "scopes": [
                "https://www.googleapis.com/auth/doubleclicksearch"
              ],
              "response": {
                "$ref": "GoogleAdsSearchads360V23Services__ListPaymentsAccountsResponse"
              },
              "id": "searchads360.customers.paymentsAccounts.list",
              "parameterOrder": [
                "customerId"
              ],
              "path": "v23/customers/{+customerId}/paymentsAccounts",
              "httpMethod": "GET"
            }
          }
        },
        "customerUserAccessInvitations": {
          "methods": {
            "mutate": {
              "flatPath": "v23/customers/{customersId}/customerUserAccessInvitations:mutate",
              "parameters": {
                "customerId": {
                  "type": "string",
                  "required": true,
                  "location": "path",
                  "description": "Required. The ID of the customer whose access invitation is being modified.",
                  "pattern": "^[^/]+$"
                }
              },
              "response": {
                "$ref": "GoogleAdsSearchads360V23Services__MutateCustomerUserAccessInvitationResponse"
              },
              "description": "Creates or removes an access invitation. List of thrown errors: [AccessInvitationError]() [AuthenticationError]() [AuthorizationError]() [HeaderError]() [InternalError]() [QuotaError]() [RequestError]()",
              "id": "searchads360.customers.customerUserAccessInvitations.mutate",
              "scopes": [
                "https://www.googleapis.com/auth/doubleclicksearch"
              ],
              "request": {
                "$ref": "GoogleAdsSearchads360V23Services__MutateCustomerUserAccessInvitationRequest"
              },
              "parameterOrder": [
                "customerId"
              ],
              "path": "v23/customers/{+customerId}/customerUserAccessInvitations:mutate",
              "httpMethod": "POST"
            }
          }
        },
        "localServices": {
          "methods": {
            "appendLeadConversation": {
              "parameters": {
                "customerId": {
                  "description": "Required. The Id of the customer which owns the leads onto which the conversations will be appended.",
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "pattern": "^[^/]+$"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/doubleclicksearch"
              ],
              "parameterOrder": [
                "customerId"
              ],
              "path": "v23/customers/{+customerId}/localServices:appendLeadConversation",
              "id": "searchads360.customers.localServices.appendLeadConversation",
              "description": "RPC to append Local Services Lead Conversation resources to Local Services Lead resources.",
              "httpMethod": "POST",
              "flatPath": "v23/customers/{customersId}/localServices:appendLeadConversation",
              "response": {
                "$ref": "GoogleAdsSearchads360V23Services__AppendLeadConversationResponse"
              },
[...]
