{
  "baseUrl": "https://searchads360.googleapis.com/",
  "discoveryVersion": "v1",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "description": "The Search Ads 360 API allows developers to automate downloading reports from Search Ads 360.",
  "servicePath": "",
  "basePath": "",
  "kind": "discovery#restDescription",
  "id": "searchads360:v23",
  "version": "v23",
  "rootUrl": "https://searchads360.googleapis.com/",
  "title": "Search Ads 360 Reporting API",
  "ownerName": "Google",
  "fullyEncodeReservedExpansion": true,
  "version_module": true,
  "mtlsRootUrl": "https://searchads360.mtls.googleapis.com/",
  "documentationLink": "https://developers.google.com/search-ads/reporting",
  "protocol": "rest",
  "revision": "20260820",
  "batchPath": "batch",
  "resources": {
    "customers": {
      "methods": {
        "uploadClickConversions": {
          "flatPath": "v23/customers/{customersId}:uploadClickConversions",
          "parameters": {
            "customerId": {
              "location": "path",
              "required": true,
              "type": "string",
              "pattern": "^[^/]+$",
              "description": "Required. The ID of the customer performing the upload."
            }
          },
          "description": "Processes the given click conversions. List of thrown errors: [AuthenticationError]() [AuthorizationError]() [ConversionUploadError]() [HeaderError]() [InternalError]() [PartialFailureError]() [QuotaError]() [RequestError]()",
          "id": "searchads360.customers.uploadClickConversions",
          "path": "v23/customers/{+customerId}:uploadClickConversions",
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ],
          "httpMethod": "POST",
          "parameterOrder": [
            "customerId"
          ],
          "response": {
            "$ref": "GoogleAdsSearchads360V23Services__UploadClickConversionsResponse"
          },
          "request": {
            "$ref": "GoogleAdsSearchads360V23Services__UploadClickConversionsRequest"
          }
        },
        "listAccessibleCustomers": {
          "description": "Returns resource names of customers directly accessible by the user authenticating the call. List of thrown errors: [AuthenticationError]() [AuthorizationError]() [HeaderError]() [InternalError]() [QuotaError]() [RequestError]()",
          "flatPath": "v23/customers:listAccessibleCustomers",
          "httpMethod": "GET",
          "parameterOrder": [],
          "parameters": {},
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ],
          "id": "searchads360.customers.listAccessibleCustomers",
          "response": {
            "$ref": "GoogleAdsSearchads360V23Services__ListAccessibleCustomersResponse"
          },
          "path": "v23/customers:listAccessibleCustomers"
        },
        "generateAudienceOverlapInsights": {
          "httpMethod": "POST",
          "parameterOrder": [
            "customerId"
          ],
          "path": "v23/customers/{+customerId}:generateAudienceOverlapInsights",
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ],
          "id": "searchads360.customers.generateAudienceOverlapInsights",
          "flatPath": "v23/customers/{customersId}:generateAudienceOverlapInsights",
          "request": {
            "$ref": "GoogleAdsSearchads360V23Services__GenerateAudienceOverlapInsightsRequest"
          },
          "response": {
            "$ref": "GoogleAdsSearchads360V23Services__GenerateAudienceOverlapInsightsResponse"
          },
          "parameters": {
            "customerId": {
              "pattern": "^[^/]+$",
              "description": "Required. The ID of the customer.",
              "type": "string",
              "location": "path",
              "required": true
            }
          },
          "description": "Returns a collection of audience attributes along with estimates of the overlap between their potential YouTube reach and that of a given input attribute. List of thrown errors: [AudienceInsightsError]() [AuthenticationError]() [AuthorizationError]() [FieldError]() [HeaderError]() [InternalError]() [QuotaError]() [RangeError]() [RequestError]()"
        },
        "createCustomerClient": {
          "id": "searchads360.customers.createCustomerClient",
          "description": "Creates a new client under manager. The new client customer is returned. List of thrown errors: [AccessInvitationError]() [AuthenticationError]() [AuthorizationError]() [CurrencyCodeError]() [HeaderError]() [InternalError]() [ManagerLinkError]() [QuotaError]() [RequestError]() [StringLengthError]() [TimeZoneError]()",
          "httpMethod": "POST",
          "flatPath": "v23/customers/{customersId}:createCustomerClient",
          "request": {
            "$ref": "GoogleAdsSearchads360V23Services__CreateCustomerClientRequest"
          },
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ],
          "path": "v23/customers/{+customerId}:createCustomerClient",
          "parameterOrder": [
            "customerId"
          ],
          "parameters": {
            "customerId": {
              "pattern": "^[^/]+$",
              "location": "path",
              "required": true,
              "description": "Required. The ID of the Manager under whom client customer is being created.",
              "type": "string"
            }
          },
          "response": {
            "$ref": "GoogleAdsSearchads360V23Services__CreateCustomerClientResponse"
          }
        },
        "suggestSmartCampaignBudgetOptions": {
          "response": {
            "$ref": "GoogleAdsSearchads360V23Services__SuggestSmartCampaignBudgetOptionsResponse"
          },
          "parameters": {
            "customerId": {
              "pattern": "^[^/]+$",
              "description": "Required. The ID of the customer whose budget options are to be suggested.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "description": "Returns BudgetOption suggestions.",
          "id": "searchads360.customers.suggestSmartCampaignBudgetOptions",
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ],
          "path": "v23/customers/{+customerId}:suggestSmartCampaignBudgetOptions",
          "request": {
            "$ref": "GoogleAdsSearchads360V23Services__SuggestSmartCampaignBudgetOptionsRequest"
          },
          "parameterOrder": [
            "customerId"
          ],
          "flatPath": "v23/customers/{customersId}:suggestSmartCampaignBudgetOptions",
          "httpMethod": "POST"
        },
        "suggestTravelAssets": {
          "request": {
            "$ref": "GoogleAdsSearchads360V23Services__SuggestTravelAssetsRequest"
          },
          "id": "searchads360.customers.suggestTravelAssets",
          "parameterOrder": [
            "customerId"
          ],
          "parameters": {
            "customerId": {
              "description": "Required. The ID of the customer.",
              "pattern": "^[^/]+$",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "flatPath": "v23/customers/{customersId}:suggestTravelAssets",
          "description": "Returns Travel Asset suggestions. Asset suggestions are returned on a best-effort basis. There are no guarantees that all possible asset types will be returned for any given hotel property.",
          "path": "v23/customers/{+customerId}:suggestTravelAssets",
          "response": {
            "$ref": "GoogleAdsSearchads360V23Services__SuggestTravelAssetsResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ],
          "httpMethod": "POST"
        },
        "generateInsightsFinderReport": {
          "flatPath": "v23/customers/{customersId}:generateInsightsFinderReport",
          "parameters": {
            "customerId": {
              "description": "Required. The ID of the customer.",
              "type": "string",
              "location": "path",
              "required": true,
              "pattern": "^[^/]+$"
            }
          },
          "id": "searchads360.customers.generateInsightsFinderReport",
          "path": "v23/customers/{+customerId}:generateInsightsFinderReport",
          "parameterOrder": [
            "customerId"
          ],
          "description": "Creates a saved report that can be viewed in the Insights Finder tool. List of thrown errors: [AuthenticationError]() [AuthorizationError]() [FieldError]() [HeaderError]() [InternalError]() [QuotaError]() [RangeError]() [RequestError]()",
          "request": {
            "$ref": "GoogleAdsSearchads360V23Services__GenerateInsightsFinderReportRequest"
          },
          "httpMethod": "POST",
          "response": {
            "$ref": "GoogleAdsSearchads360V23Services__GenerateInsightsFinderReportResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ]
        },
        "suggestKeywordThemes": {
          "response": {
            "$ref": "GoogleAdsSearchads360V23Services__SuggestKeywordThemesResponse"
          },
          "parameterOrder": [
            "customerId"
          ],
          "request": {
            "$ref": "GoogleAdsSearchads360V23Services__SuggestKeywordThemesRequest"
          },
          "id": "searchads360.customers.suggestKeywordThemes",
          "parameters": {
            "customerId": {
              "description": "Required. The ID of the customer.",
              "pattern": "^[^/]+$",
              "type": "string",
              "location": "path",
              "required": true
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ],
          "path": "v23/customers/{+customerId}:suggestKeywordThemes",
          "httpMethod": "POST",
          "description": "Suggests keyword themes to advertise on.",
          "flatPath": "v23/customers/{customersId}:suggestKeywordThemes"
        },
        "generateReachForecast": {
          "id": "searchads360.customers.generateReachForecast",
          "httpMethod": "POST",
          "response": {
            "$ref": "GoogleAdsSearchads360V23Services__GenerateReachForecastResponse"
          },
          "parameters": {
            "customerId": {
              "type": "string",
              "location": "path",
              "required": true,
              "description": "Required. The ID of the customer.",
              "pattern": "^[^/]+$"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ],
          "flatPath": "v23/customers/{customersId}:generateReachForecast",
          "path": "v23/customers/{+customerId}:generateReachForecast",
          "description": "Generates a reach forecast for a given targeting / product mix. List of thrown errors: [AuthenticationError]() [AuthorizationError]() [FieldError]() [HeaderError]() [InternalError]() [QuotaError]() [RangeError]() [ReachPlanError]() [RequestError]()",
          "request": {
            "$ref": "GoogleAdsSearchads360V23Services__GenerateReachForecastRequest"
          },
          "parameterOrder": [
            "customerId"
          ]
        },
        "mutate": {
          "flatPath": "v23/customers/{customersId}:mutate",
          "parameterOrder": [
            "customerId"
          ],
          "path": "v23/customers/{+customerId}:mutate",
          "httpMethod": "POST",
          "description": "Updates a customer. Operation statuses are returned. List of thrown errors: [AuthenticationError]() [AuthorizationError]() [DatabaseError]() [FieldMaskError]() [HeaderError]() [InternalError]() [QuotaError]() [RequestError]() [UrlFieldError]()",
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ],
          "id": "searchads360.customers.mutate",
          "request": {
            "$ref": "GoogleAdsSearchads360V23Services__MutateCustomerRequest"
          },
          "parameters": {
            "customerId": {
              "type": "string",
              "description": "Required. The ID of the customer being modified.",
              "pattern": "^[^/]+$",
              "location": "path",
              "required": true
            }
          },
          "response": {
            "$ref": "GoogleAdsSearchads360V23Services__MutateCustomerResponse"
          }
        },
        "uploadCallConversions": {
          "description": "Processes the given call conversions. List of thrown errors: [AuthenticationError]() [AuthorizationError]() [HeaderError]() [InternalError]() [PartialFailureError]() [QuotaError]() [RequestError]()",
          "request": {
            "$ref": "GoogleAdsSearchads360V23Services__UploadCallConversionsRequest"
          },
          "parameterOrder": [
            "customerId"
          ],
          "response": {
            "$ref": "GoogleAdsSearchads360V23Services__UploadCallConversionsResponse"
          },
          "httpMethod": "POST",
          "path": "v23/customers/{+customerId}:uploadCallConversions",
          "id": "searchads360.customers.uploadCallConversions",
          "flatPath": "v23/customers/{customersId}:uploadCallConversions",
          "parameters": {
            "customerId": {
              "location": "path",
              "required": true,
              "description": "Required. The ID of the customer performing the upload.",
              "type": "string",
              "pattern": "^[^/]+$"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ]
        },
        "getIdentityVerification": {
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ],
          "response": {
            "$ref": "GoogleAdsSearchads360V23Services__GetIdentityVerificationResponse"
          },
          "id": "searchads360.customers.getIdentityVerification",
          "flatPath": "v23/customers/{customersId}/getIdentityVerification",
          "description": "Returns Identity Verification information. List of thrown errors: [AuthenticationError]() [AuthorizationError]() [HeaderError]() [InternalError]() [QuotaError]() [RequestError]()",
          "path": "v23/customers/{+customerId}/getIdentityVerification",
          "parameterOrder": [
            "customerId"
          ],
          "parameters": {
            "customerId": {
              "location": "path",
              "required": true,
              "pattern": "^[^/]+$",
              "description": "Required. The ID of the customer for whom we are requesting verification information.",
              "type": "string"
            }
          }
        },
        "generateAdGroupThemes": {
          "id": "searchads360.customers.generateAdGroupThemes",
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ],
          "httpMethod": "POST",
          "path": "v23/customers/{+customerId}:generateAdGroupThemes",
          "flatPath": "v23/customers/{customersId}:generateAdGroupThemes",
          "description": "Returns a list of suggested AdGroups and suggested modifications (text, match type) for the given keywords. List of thrown errors: [AuthenticationError]() [AuthorizationError]() [CollectionSizeError]() [HeaderError]() [InternalError]() [QuotaError]() [RequestError]()",
          "parameters": {
            "customerId": {
              "type": "string",
              "description": "Required. The ID of the customer.",
              "pattern": "^[^/]+$",
              "location": "path",
              "required": true
            }
          },
          "response": {
            "$ref": "GoogleAdsSearchads360V23Services__GenerateAdGroupThemesResponse"
          },
          "parameterOrder": [
            "customerId"
          ],
          "request": {
            "$ref": "GoogleAdsSearchads360V23Services__GenerateAdGroupThemesRequest"
          }
        },
        "generateTargetingSuggestionMetrics": {
          "parameterOrder": [
            "customerId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ],
          "flatPath": "v23/customers/{customersId}:generateTargetingSuggestionMetrics",
          "id": "searchads360.customers.generateTargetingSuggestionMetrics",
          "parameters": {
            "customerId": {
              "pattern": "^[^/]+$",
              "location": "path",
              "required": true,
              "description": "Required. The ID of the customer.",
              "type": "string"
            }
          },
          "description": "Returns potential reach metrics for targetable audiences. This method helps answer questions like \"How many Men aged 18+ interested in Camping can be reached on YouTube?\" List of thrown errors: [AudienceInsightsError]() [AuthenticationError]() [AuthorizationError]() [FieldError]() [HeaderError]() [InternalError]() [QuotaError]() [RangeError]() [RequestError]()",
          "request": {
            "$ref": "GoogleAdsSearchads360V23Services__GenerateTargetingSuggestionMetricsRequest"
          },
          "response": {
            "$ref": "GoogleAdsSearchads360V23Services__GenerateTargetingSuggestionMetricsResponse"
          },
          "path": "v23/customers/{+customerId}:generateTargetingSuggestionMetrics",
          "httpMethod": "POST"
        },
        "removeCampaignAutomaticallyCreatedAsset": {
          "description": "Removes automatically created assets from a campaign. List of thrown errors: [AuthenticationError]() [AuthorizationError]() [ContextError]() [FieldError]() [InternalError]() [MutateError]() [PartialFailureError]() [QuotaError]() [RequestError]()",
          "flatPath": "v23/customers/{customersId}:removeCampaignAutomaticallyCreatedAsset",
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ],
          "path": "v23/customers/{+customerId}:removeCampaignAutomaticallyCreatedAsset",
          "request": {
            "$ref": "GoogleAdsSearchads360V23Services__RemoveCampaignAutomaticallyCreatedAssetRequest"
          },
          "parameters": {
            "customerId": {
              "pattern": "^[^/]+$",
              "description": "Required. The ID of the customer whose assets are being removed.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "parameterOrder": [
            "customerId"
          ],
          "id": "searchads360.customers.removeCampaignAutomaticallyCreatedAsset",
          "response": {
            "$ref": "GoogleAdsSearchads360V23Services__RemoveCampaignAutomaticallyCreatedAssetResponse"
          }
        },
        "generateAudienceDefinition": {
          "description": "Returns a collection of audience attributes using generative AI based on the provided audience description. List of thrown errors: [AudienceInsightsError]() [AuthenticationError]() [AuthorizationError]() [FieldError]() [HeaderError]() [InternalError]() [QuotaError]() [RequestError]()",
          "response": {
            "$ref": "GoogleAdsSearchads360V23Services__GenerateAudienceDefinitionResponse"
          },
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ],
          "flatPath": "v23/customers/{customersId}:generateAudienceDefinition",
          "request": {
            "$ref": "GoogleAdsSearchads360V23Services__GenerateAudienceDefinitionRequest"
          },
          "id": "searchads360.customers.generateAudienceDefinition",
          "path": "v23/customers/{+customerId}:generateAudienceDefinition",
          "parameters": {
            "customerId": {
              "type": "string",
              "pattern": "^[^/]+$",
              "description": "Required. The ID of the customer.",
              "location": "path",
              "required": true
            }
          },
          "parameterOrder": [
            "customerId"
          ]
        },
        "generateKeywordForecastMetrics": {
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ],
          "id": "searchads360.customers.generateKeywordForecastMetrics",
          "flatPath": "v23/customers/{customersId}:generateKeywordForecastMetrics",
          "parameters": {
            "customerId": {
              "type": "string",
              "pattern": "^[^/]+$",
              "description": "The ID of the customer.",
              "location": "path",
              "required": true
            }
          },
          "path": "v23/customers/{+customerId}:generateKeywordForecastMetrics",
          "request": {
            "$ref": "GoogleAdsSearchads360V23Services__GenerateKeywordForecastMetricsRequest"
          },
          "response": {
            "$ref": "GoogleAdsSearchads360V23Services__GenerateKeywordForecastMetricsResponse"
          },
          "httpMethod": "POST",
          "parameterOrder": [
            "customerId"
          ],
          "description": "Returns metrics (such as impressions, clicks, total cost) of a keyword forecast for the given campaign. List of thrown errors: [AuthenticationError]() [AuthorizationError]() [CollectionSizeError]() [HeaderError]() [InternalError]() [QuotaError]() [RequestError]()"
        },
        "generateBenchmarksMetrics": {
          "id": "searchads360.customers.generateBenchmarksMetrics",
          "flatPath": "v23/customers/{customersId}:generateBenchmarksMetrics",
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ],
          "parameters": {
            "customerId": {
              "type": "string",
              "description": "Required. The ID of the customer. Supply a client customer ID to generate metrics for the customer. A manager account customer ID will not return customer metrics since it does not have any associated direct ad campaigns.",
              "location": "path",
              "required": true,
              "pattern": "^[^/]+$"
            }
          },
          "path": "v23/customers/{+customerId}:generateBenchmarksMetrics",
          "request": {
            "$ref": "GoogleAdsSearchads360V23Services__GenerateBenchmarksMetricsRequest"
          },
          "parameterOrder": [
            "customerId"
          ],
          "response": {
            "$ref": "GoogleAdsSearchads360V23Services__GenerateBenchmarksMetricsResponse"
          },
          "description": "Returns YouTube advertisement metrics for the given client against industry benchmarks. List of thrown errors: [AuthenticationError]() [AuthorizationError]() [BenchmarksError]() [FieldError]() [HeaderError]() [InternalError]() [QuotaError]() [RangeError]() [RequestError]()",
          "httpMethod": "POST"
        },
        "generateAudienceCompositionInsights": {
          "description": "Returns a collection of attributes that are represented in an audience of interest, with metrics that compare each attribute's share of the audience with its share of a baseline audience. List of thrown errors: [AudienceInsightsError]() [AuthenticationError]() [AuthorizationError]() [FieldError]() [HeaderError]() [InternalError]() [QuotaError]() [RangeError]() [RequestError]()",
          "response": {
            "$ref": "GoogleAdsSearchads360V23Services__GenerateAudienceCompositionInsightsResponse"
          },
          "request": {
            "$ref": "GoogleAdsSearchads360V23Services__GenerateAudienceCompositionInsightsRequest"
          },
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ],
          "parameters": {
            "customerId": {
              "description": "Required. The ID of the customer.",
              "location": "path",
              "required": true,
              "pattern": "^[^/]+$",
              "type": "string"
            }
          },
          "path": "v23/customers/{+customerId}:generateAudienceCompositionInsights",
          "httpMethod": "POST",
          "flatPath": "v23/customers/{customersId}:generateAudienceCompositionInsights",
          "id": "searchads360.customers.generateAudienceCompositionInsights",
          "parameterOrder": [
            "customerId"
          ]
        },
        "uploadConversionAdjustments": {
          "httpMethod": "POST",
          "flatPath": "v23/customers/{customersId}:uploadConversionAdjustments",
          "parameters": {
            "customerId": {
              "description": "Required. The ID of the customer performing the upload.",
              "location": "path",
              "required": true,
              "type": "string",
              "pattern": "^[^/]+$"
            }
          },
          "parameterOrder": [
            "customerId"
          ],
          "description": "Processes the given conversion adjustments. List of thrown errors: [AuthenticationError]() [AuthorizationError]() [HeaderError]() [InternalError]() [PartialFailureError]() [QuotaError]() [RequestError]()",
          "request": {
            "$ref": "GoogleAdsSearchads360V23Services__UploadConversionAdjustmentsRequest"
          },
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ],
          "response": {
            "$ref": "GoogleAdsSearchads360V23Services__UploadConversionAdjustmentsResponse"
          },
          "path": "v23/customers/{+customerId}:uploadConversionAdjustments",
          "id": "searchads360.customers.uploadConversionAdjustments"
        },
        "generateSuggestedTargetingInsights": {
          "description": "Returns a collection of targeting insights (e.g. targetable audiences) that are relevant to the requested audience. List of thrown errors: [AudienceInsightsError]() [AuthenticationError]() [AuthorizationError]() [FieldError]() [HeaderError]() [InternalError]() [QuotaError]() [RangeError]() [RequestError]()",
          "flatPath": "v23/customers/{customersId}:generateSuggestedTargetingInsights",
          "parameterOrder": [
            "customerId"
          ],
          "parameters": {
            "customerId": {
              "pattern": "^[^/]+$",
              "location": "path",
              "required": true,
              "description": "Required. The ID of the customer.",
              "type": "string"
            }
          },
          "id": "searchads360.customers.generateSuggestedTargetingInsights",
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ],
          "path": "v23/customers/{+customerId}:generateSuggestedTargetingInsights",
          "response": {
            "$ref": "GoogleAdsSearchads360V23Services__GenerateSuggestedTargetingInsightsResponse"
          },
          "request": {
            "$ref": "GoogleAdsSearchads360V23Services__GenerateSuggestedTargetingInsightsRequest"
          }
        },
        "searchAudienceInsightsAttributes": {
          "request": {
            "$ref": "GoogleAdsSearchads360V23Services__ListAudienceInsightsAttributesRequest"
          },
          "flatPath": "v23/customers/{customersId}:searchAudienceInsightsAttributes",
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ],
          "parameterOrder": [
            "customerId"
          ],
          "description": "Searches for audience attributes that can be used to generate insights. List of thrown errors: [AuthenticationError]() [AuthorizationError]() [FieldError]() [HeaderError]() [InternalError]() [QuotaError]() [RangeError]() [RequestError]()",
          "parameters": {
            "customerId": {
              "pattern": "^[^/]+$",
              "description": "Required. The ID of the customer.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "id": "searchads360.customers.searchAudienceInsightsAttributes",
          "path": "v23/customers/{+customerId}:searchAudienceInsightsAttributes",
          "response": {
            "$ref": "GoogleAdsSearchads360V23Services__ListAudienceInsightsAttributesResponse"
          },
          "httpMethod": "POST"
        },
        "generateKeywordIdeas": {
          "parameterOrder": [
            "customerId"
          ],
          "description": "Returns a list of keyword ideas. List of thrown errors: [AuthenticationError]() [AuthorizationError]() [CollectionSizeError]() [HeaderError]() [InternalError]() [KeywordPlanIdeaError]() [QuotaError]() [RequestError]()",
          "path": "v23/customers/{+customerId}:generateKeywordIdeas",
          "response": {
            "$ref": "GoogleAdsSearchads360V23Services__GenerateKeywordIdeaResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ],
          "parameters": {
            "customerId": {
              "description": "The ID of the customer with the recommendation.",
              "location": "path",
              "required": true,
              "pattern": "^[^/]+$",
              "type": "string"
            }
          },
          "id": "searchads360.customers.generateKeywordIdeas",
          "flatPath": "v23/customers/{customersId}:generateKeywordIdeas",
          "request": {
            "$ref": "GoogleAdsSearchads360V23Services__GenerateKeywordIdeasRequest"
          },
          "httpMethod": "POST"
        },
        "generateKeywordHistoricalMetrics": {
          "flatPath": "v23/customers/{customersId}:generateKeywordHistoricalMetrics",
          "request": {
            "$ref": "GoogleAdsSearchads360V23Services__GenerateKeywordHistoricalMetricsRequest"
          },
          "path": "v23/customers/{+customerId}:generateKeywordHistoricalMetrics",
          "parameters": {
            "customerId": {
              "description": "The ID of the customer with the recommendation.",
              "pattern": "^[^/]+$",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "description": "Returns a list of keyword historical metrics. List of thrown errors: [AuthenticationError]() [AuthorizationError]() [CollectionSizeError]() [HeaderError]() [InternalError]() [QuotaError]() [RequestError]()",
          "id": "searchads360.customers.generateKeywordHistoricalMetrics",
          "parameterOrder": [
            "customerId"
          ],
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ],
          "response": {
            "$ref": "GoogleAdsSearchads360V23Services__GenerateKeywordHistoricalMetricsResponse"
          }
        },
        "suggestSmartCampaignAd": {
          "parameters": {
            "customerId": {
              "pattern": "^[^/]+$",
              "description": "Required. The ID of the customer.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "flatPath": "v23/customers/{customersId}:suggestSmartCampaignAd",
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ],
          "request": {
            "$ref": "GoogleAdsSearchads360V23Services__SuggestSmartCampaignAdRequest"
          },
          "parameterOrder": [
            "customerId"
          ],
          "httpMethod": "POST",
          "description": "Suggests a Smart campaign ad compatible with the Ad family of resources, based on data points such as targeting and the business to advertise.",
          "response": {
            "$ref": "GoogleAdsSearchads360V23Services__SuggestSmartCampaignAdResponse"
          },
          "id": "searchads360.customers.suggestSmartCampaignAd",
          "path": "v23/customers/{+customerId}:suggestSmartCampaignAd"
        },
        "startIdentityVerification": {
          "path": "v23/customers/{+customerId}:startIdentityVerification",
          "parameterOrder": [
            "customerId"
          ],
          "httpMethod": "POST",
          "flatPath": "v23/customers/{customersId}:startIdentityVerification",
          "request": {
            "$ref": "GoogleAdsSearchads360V23Services__StartIdentityVerificationRequest"
          },
          "response": {
            "$ref": "GoogleProtobuf__Empty"
          },
          "description": "Starts Identity Verification for a given verification program type. Statuses are returned. List of thrown errors: [AuthenticationError]() [AuthorizationError]() [HeaderError]() [InternalError]() [QuotaError]() [RequestError]()",
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ],
          "id": "searchads360.customers.startIdentityVerification",
          "parameters": {
            "customerId": {
              "description": "Required. The Id of the customer for whom we are creating this verification.",
              "location": "path",
              "required": true,
              "type": "string",
              "pattern": "^[^/]+$"
            }
          }
        },
        "uploadUserData": {
          "httpMethod": "POST",
          "parameterOrder": [
            "customerId"
          ],
          "flatPath": "v23/customers/{customersId}:uploadUserData",
          "description": "Uploads the given user data. List of thrown errors: [AuthenticationError]() [AuthorizationError]() [CollectionSizeError]() [FieldError]() [HeaderError]() [InternalError]() [MutateError]() [OfflineUserDataJobError]() [QuotaError]() [RequestError]() [UserDataError]()",
          "path": "v23/customers/{+customerId}:uploadUserData",
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ],
          "id": "searchads360.customers.uploadUserData",
          "parameters": {
            "customerId": {
              "description": "Required. The ID of the customer for which to update the user data.",
              "location": "path",
              "required": true,
              "pattern": "^[^/]+$",
              "type": "string"
            }
          },
          "response": {
            "$ref": "GoogleAdsSearchads360V23Services__UploadUserDataResponse"
          },
          "request": {
            "$ref": "GoogleAdsSearchads360V23Services__UploadUserDataRequest"
          }
        }
      },
      "resources": {
        "adGroupBidModifiers": {
          "methods": {
            "mutate": {
              "flatPath": "v23/customers/{customersId}/adGroupBidModifiers:mutate",
              "parameterOrder": [
                "customerId"
              ],
              "path": "v23/customers/{+customerId}/adGroupBidModifiers:mutate",
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/doubleclicksearch"
              ],
              "description": "Creates, updates, or removes ad group bid modifiers. Operation statuses are returned. List of thrown errors: [AdGroupBidModifierError]() [AuthenticationError]() [AuthorizationError]() [ContextError]() [CriterionError]() [DatabaseError]() [DistinctError]() [FieldError]() [FieldMaskError]() [HeaderError]() [IdError]() [InternalError]() [MutateError]() [NewResourceCreationError]() [NotEmptyError]() [OperatorError]() [QuotaError]() [RangeError]() [RequestError]() [ResourceCountLimitExceededError]() [SizeLimitError]() [StringFormatError]() [StringLengthError]()",
              "request": {
                "$ref": "GoogleAdsSearchads360V23Services__MutateAdGroupBidModifiersRequest"
              },
              "id": "searchads360.customers.adGroupBidModifiers.mutate",
              "response": {
                "$ref": "GoogleAdsSearchads360V23Services__MutateAdGroupBidModifiersResponse"
              },
              "parameters": {
                "customerId": {
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "description": "Required. ID of the customer whose ad group bid modifiers are being modified.",
                  "pattern": "^[^/]+$"
                }
              }
            }
          }
        },
        "biddingDataExclusions": {
          "methods": {
            "mutate": {
              "description": "Creates, updates, or removes data exclusions. Operation statuses are returned.",
              "parameters": {
                "customerId": {
                  "description": "Required. ID of the customer whose data exclusions are being modified.",
                  "type": "string",
                  "pattern": "^[^/]+$",
                  "location": "path",
                  "required": true
                }
              },
              "response": {
                "$ref": "GoogleAdsSearchads360V23Services__MutateBiddingDataExclusionsResponse"
              },
              "path": "v23/customers/{+customerId}/biddingDataExclusions:mutate",
              "id": "searchads360.customers.biddingDataExclusions.mutate",
              "request": {
                "$ref": "GoogleAdsSearchads360V23Services__MutateBiddingDataExclusionsRequest"
              },
              "flatPath": "v23/customers/{customersId}/biddingDataExclusions:mutate",
              "scopes": [
                "https://www.googleapis.com/auth/doubleclicksearch"
              ],
              "parameterOrder": [
                "customerId"
              ],
              "httpMethod": "POST"
            }
          }
        },
        "ads": {
          "methods": {
            "mutate": {
              "httpMethod": "POST",
              "description": "Updates ads. Operation statuses are returned. Updating ads is not supported for TextAd, ExpandedDynamicSearchAd, GmailAd and ImageAd. List of thrown errors: [AdCustomizerError]() [AdError]() [AdSharingError]() [AdxError]() [AssetError]() [AssetLinkError]() [AuthenticationError]() [AuthorizationError]() [CollectionSizeError]() [DatabaseError]() [DateError]() [DistinctError]() [FeedAttributeReferenceError]() [FieldError]() [FieldMaskError]() [FunctionError]() [FunctionParsingError]() [HeaderError]() [IdError]() [ImageError]() [InternalError]() [ListOperationError]() [MediaBundleError]() [MediaFileError]() [MutateError]() [NewResourceCreationError]() [NotEmptyError]() [NullError]() [OperatorError]() [PolicyFindingError]() [PolicyViolationError]() [QuotaError]() [RangeError]() [RequestError]() [SizeLimitError]() [StringFormatError]() [StringLengthError]() [UrlFieldError]()",
              "scopes": [
                "https://www.googleapis.com/auth/doubleclicksearch"
              ],
              "flatPath": "v23/customers/{customersId}/ads:mutate",
              "response": {
                "$ref": "GoogleAdsSearchads360V23Services__MutateAdsResponse"
              },
              "id": "searchads360.customers.ads.mutate",
              "parameterOrder": [
                "customerId"
              ],
              "parameters": {
                "customerId": {
                  "location": "path",
                  "required": true,
                  "description": "Required. The ID of the customer whose ads are being modified.",
                  "pattern": "^[^/]+$",
                  "type": "string"
                }
              },
              "path": "v23/customers/{+customerId}/ads:mutate",
              "request": {
                "$ref": "GoogleAdsSearchads360V23Services__MutateAdsRequest"
              }
            }
          }
        },
        "localServicesLeads": {
          "methods": {
            "provideLeadFeedback": {
              "parameters": {
                "resourceName": {
                  "location": "path",
                  "required": true,
                  "pattern": "^customers/[^/]+/localServicesLeads/[^/]+$",
                  "description": "Required. The resource name of the local services lead that for which the feedback is being provided.",
                  "type": "string"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/doubleclicksearch"
              ],
              "description": "RPC to provide feedback on Local Services Lead resources.",
              "parameterOrder": [
                "resourceName"
              ],
              "response": {
                "$ref": "GoogleAdsSearchads360V23Services__ProvideLeadFeedbackResponse"
              },
              "flatPath": "v23/customers/{customersId}/localServicesLeads/{localServicesLeadsId}:provideLeadFeedback",
              "httpMethod": "POST",
              "path": "v23/{+resourceName}:provideLeadFeedback",
              "id": "searchads360.customers.localServicesLeads.provideLeadFeedback",
              "request": {
                "$ref": "GoogleAdsSearchads360V23Services__ProvideLeadFeedbackRequest"
              }
            }
          }
        },
        "experiments": {
          "methods": {
            "scheduleExperiment": {
              "flatPath": "v23/customers/{customersId}/experiments/{experimentsId}:scheduleExperiment",
              "path": "v23/{+resourceName}:scheduleExperiment",
              "id": "searchads360.customers.experiments.scheduleExperiment",
              "scopes": [
                "https://www.googleapis.com/auth/doubleclicksearch"
              ],
              "httpMethod": "POST",
              "parameters": {
                "resourceName": {
                  "type": "string",
                  "pattern": "^customers/[^/]+/experiments/[^/]+$",
                  "location": "path",
                  "required": true,
                  "description": "Required. The scheduled experiment."
                }
              },
              "request": {
                "$ref": "GoogleAdsSearchads360V23Services__ScheduleExperimentRequest"
              },
              "description": "Schedule an experiment. The in design campaign will be converted into a real campaign (called the experiment campaign) that will begin serving ads if successfully created. The experiment is scheduled immediately with status INITIALIZING. This method returns a long running operation that tracks the forking of the in design campaign. If the forking fails, a list of errors can be retrieved using the ListExperimentAsyncErrors method. The operation's metadata will be a string containing the resource name of the created experiment. List of thrown errors: [AuthenticationError]() [AuthorizationError]() [ExperimentError]() [DatabaseError]() [DateError]() [DateRangeError]() [FieldError]() [HeaderError]() [InternalError]() [QuotaError]() [RangeError]() [RequestError]()",
              "parameterOrder": [
                "resourceName"
              ],
              "response": {
                "$ref": "GoogleLongrunning__Operation"
              }
            },
            "listExperimentAsyncErrors": {
              "flatPath": "v23/customers/{customersId}/experiments/{experimentsId}:listExperimentAsyncErrors",
              "path": "v23/{+resourceName}:listExperimentAsyncErrors",
              "parameters": {
                "pageSize": {
                  "description": "Number of elements to retrieve in a single page. When a page request is too large, the server may decide to further limit the number of returned resources. The maximum page size is 1000.",
                  "format": "int32",
                  "type": "integer",
                  "location": "query"
                },
                "pageToken": {
                  "description": "Token of the page to retrieve. If not specified, the first page of results will be returned. Use the value obtained from `next_page_token` in the previous response in order to request the next page of results.",
                  "type": "string",
                  "location": "query"
                },
                "resourceName": {
                  "location": "path",
                  "required": true,
                  "description": "Required. The name of the experiment from which to retrieve the async errors.",
                  "type": "string",
                  "pattern": "^customers/[^/]+/experiments/[^/]+$"
                }
              },
              "parameterOrder": [
                "resourceName"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/doubleclicksearch"
              ],
              "description": "Returns all errors that occurred during the last Experiment update (either scheduling or promotion). Supports standard list paging. List of thrown errors: [AuthenticationError]() [AuthorizationError]() [HeaderError]() [InternalError]() [QuotaError]() [RequestError]()",
              "id": "searchads360.customers.experiments.listExperimentAsyncErrors",
              "httpMethod": "GET",
              "response": {
                "$ref": "GoogleAdsSearchads360V23Services__ListExperimentAsyncErrorsResponse"
              }
            },
            "graduateExperiment": {
              "id": "searchads360.customers.experiments.graduateExperiment",
              "path": "v23/{+experiment}:graduateExperiment",
              "parameterOrder": [
                "experiment"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/doubleclicksearch"
              ],
              "request": {
                "$ref": "GoogleAdsSearchads360V23Services__GraduateExperimentRequest"
              },
              "parameters": {
                "experiment": {
                  "pattern": "^customers/[^/]+/experiments/[^/]+$",
                  "description": "Required. The experiment to be graduated.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "response": {
                "$ref": "GoogleProtobuf__Empty"
              },
              "description": "Graduates an experiment to a full campaign. List of thrown errors: [AuthenticationError]() [AuthorizationError]() [ExperimentError]() [HeaderError]() [InternalError]() [MutateError]() [QuotaError]() [RequestError]()",
              "flatPath": "v23/customers/{customersId}/experiments/{experimentsId}:graduateExperiment",
              "httpMethod": "POST"
            },
            "promoteExperiment": {
              "httpMethod": "POST",
              "id": "searchads360.customers.experiments.promoteExperiment",
              "scopes": [
                "https://www.googleapis.com/auth/doubleclicksearch"
              ],
              "flatPath": "v23/customers/{customersId}/experiments/{experimentsId}:promoteExperiment",
              "path": "v23/{+resourceName}:promoteExperiment",
              "response": {
                "$ref": "GoogleLongrunning__Operation"
              },
              "parameters": {
                "resourceName": {
                  "description": "Required. The resource name of the experiment to promote.",
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "pattern": "^customers/[^/]+/experiments/[^/]+$"
                }
              },
              "description": "Promotes the trial campaign thus applying changes in the trial campaign to the base campaign. This method returns a long running operation that tracks the promotion of the experiment campaign. If it fails, a list of errors can be retrieved using the ListExperimentAsyncErrors method. The operation's metadata will be a string containing the resource name of the created experiment. List of thrown errors: [AuthenticationError]() [AuthorizationError]() [ExperimentError]() [HeaderError]() [InternalError]() [QuotaError]() [RequestError]()",
              "request": {
                "$ref": "GoogleAdsSearchads360V23Services__PromoteExperimentRequest"
              },
              "parameterOrder": [
                "resourceName"
              ]
            },
            "mutate": {
              "response": {
                "$ref": "GoogleAdsSearchads360V23Services__MutateExperimentsResponse"
              },
              "httpMethod": "POST",
              "id": "searchads360.customers.experiments.mutate",
              "request": {
                "$ref": "GoogleAdsSearchads360V23Services__MutateExperimentsRequest"
              },
              "scopes": [
                "https://www.googleapis.com/auth/doubleclicksearch"
              ],
              "description": "Creates, updates, or removes experiments. Operation statuses are returned. List of thrown errors: [AuthenticationError]() [AuthorizationError]() [ExperimentError]() [HeaderError]() [InternalError]() [QuotaError]() [RequestError]()",
              "flatPath": "v23/customers/{customersId}/experiments:mutate",
              "path": "v23/customers/{+customerId}/experiments:mutate",
              "parameters": {
                "customerId": {
                  "location": "path",
                  "required": true,
                  "pattern": "^[^/]+$",
                  "type": "string",
                  "description": "Required. The ID of the customer whose experiments are being modified."
                }
              },
              "parameterOrder": [
                "customerId"
              ]
            },
            "endExperiment": {
              "httpMethod": "POST",
              "description": "Immediately ends an experiment, changing the experiment's scheduled end date and without waiting for end of day. End date is updated to be the time of the request. List of thrown errors: [AuthenticationError]() [AuthorizationError]() [ExperimentError]() [HeaderError]() [InternalError]() [QuotaError]() [RequestError]()",
              "response": {
                "$ref": "GoogleProtobuf__Empty"
              },
              "request": {
                "$ref": "GoogleAdsSearchads360V23Services__EndExperimentRequest"
              },
              "scopes": [
                "https://www.googleapis.com/auth/doubleclicksearch"
              ],
              "parameterOrder": [
                "experiment"
              ],
              "parameters": {
                "experiment": {
                  "type": "string",
                  "pattern": "^customers/[^/]+/experiments/[^/]+$",
                  "location": "path",
                  "required": true,
                  "description": "Required. The resource name of the campaign experiment to end."
                }
              },
              "flatPath": "v23/customers/{customersId}/experiments/{experimentsId}:endExperiment",
              "id": "searchads360.customers.experiments.endExperiment",
              "path": "v23/{+experiment}:endExperiment"
            }
          }
        },
        "biddingStrategies": {
          "methods": {
            "mutate": {
              "parameterOrder": [
                "customerId"
              ],
              "request": {
                "$ref": "GoogleAdsSearchads360V23Services__MutateBiddingStrategiesRequest"
              },
              "description": "Creates, updates, or removes bidding strategies. Operation statuses are returned. List of thrown errors: [AdxError]() [AuthenticationError]() [AuthorizationError]() [BiddingError]() [BiddingStrategyError]() [ContextError]() [DatabaseError]() [DateError]() [DistinctError]() [FieldError]() [FieldMaskError]() [HeaderError]() [IdError]() [InternalError]() [MutateError]() [NewResourceCreationError]() [NotEmptyError]() [NullError]() [OperationAccessDeniedError]() [OperatorError]() [QuotaError]() [RangeError]() [RequestError]() [SizeLimitError]() [StringFormatError]() [StringLengthError]()",
              "parameters": {
                "customerId": {
                  "pattern": "^[^/]+$",
                  "description": "Required. The ID of the customer whose bidding strategies are being modified.",
                  "type": "string",
                  "location": "path",
                  "required": true
                }
              },
              "flatPath": "v23/customers/{customersId}/biddingStrategies:mutate",
              "response": {
                "$ref": "GoogleAdsSearchads360V23Services__MutateBiddingStrategiesResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/doubleclicksearch"
              ],
              "httpMethod": "POST",
              "id": "searchads360.customers.biddingStrategies.mutate",
              "path": "v23/customers/{+customerId}/biddingStrategies:mutate"
            }
          }
        },
        "customerLifecycleGoal": {
          "methods": {
            "configureCustomerLifecycleGoals": {
              "parameterOrder": [
                "customerId"
              ],
              "response": {
                "$ref": "GoogleAdsSearchads360V23Services__ConfigureCustomerLifecycleGoalsResponse"
              },
              "parameters": {
                "customerId": {
                  "type": "string",
                  "pattern": "^[^/]+$",
                  "location": "path",
                  "required": true,
                  "description": "Required. The ID of the customer performing the upload."
                }
              },
              "path": "v23/customers/{+customerId}/customerLifecycleGoal:configureCustomerLifecycleGoals",
              "scopes": [
                "https://www.googleapis.com/auth/doubleclicksearch"
              ],
              "request": {
                "$ref": "GoogleAdsSearchads360V23Services__ConfigureCustomerLifecycleGoalsRequest"
              },
              "flatPath": "v23/customers/{customersId}/customerLifecycleGoal:configureCustomerLifecycleGoals",
              "httpMethod": "POST",
              "description": "Process the given customer lifecycle configurations. List of thrown errors: [AuthenticationError]() [AuthorizationError]() [CustomerLifecycleGoalConfigError]() [HeaderError]() [InternalError]() [QuotaError]() [RequestError]()",
              "id": "searchads360.customers.customerLifecycleGoal.configureCustomerLifecycleGoals"
            }
          }
        },
        "campaignGroups": {
          "methods": {
            "mutate": {
              "httpMethod": "POST",
              "request": {
                "$ref": "GoogleAdsSearchads360V23Services__MutateCampaignGroupsRequest"
              },
              "description": "Creates, updates, or removes campaign groups. Operation statuses are returned.",
              "parameterOrder": [
                "customerId"
              ],
              "flatPath": "v23/customers/{customersId}/campaignGroups:mutate",
              "id": "searchads360.customers.campaignGroups.mutate",
              "scopes": [
                "https://www.googleapis.com/auth/doubleclicksearch"
              ],
              "response": {
                "$ref": "GoogleAdsSearchads360V23Services__MutateCampaignGroupsResponse"
              },
              "path": "v23/customers/{+customerId}/campaignGroups:mutate",
              "parameters": {
                "customerId": {
                  "pattern": "^[^/]+$",
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "Required. The ID of the customer whose campaign groups are being modified."
                }
              }
            }
          }
        },
        "assetGroupAssets": {
          "methods": {
            "mutate": {
              "request": {
                "$ref": "GoogleAdsSearchads360V23Services__MutateAssetGroupAssetsRequest"
              },
              "description": "Creates, updates or removes asset group assets. Operation statuses are returned.",
              "id": "searchads360.customers.assetGroupAssets.mutate",
              "response": {
                "$ref": "GoogleAdsSearchads360V23Services__MutateAssetGroupAssetsResponse"
              },
              "parameters": {
                "customerId": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "Required. The ID of the customer whose asset group assets are being modified.",
                  "pattern": "^[^/]+$"
                }
              },
              "parameterOrder": [
                "customerId"
              ],
              "flatPath": "v23/customers/{customersId}/assetGroupAssets:mutate",
              "path": "v23/customers/{+customerId}/assetGroupAssets:mutate",
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/doubleclicksearch"
              ]
            }
          }
        },
        "assets": {
          "methods": {
            "mutate": {
              "flatPath": "v23/customers/{customersId}/assets:mutate",
              "request": {
                "$ref": "GoogleAdsSearchads360V23Services__MutateAssetsRequest"
              },
              "parameters": {
                "customerId": {
                  "location": "path",
                  "required": true,
                  "description": "Required. The ID of the customer whose assets are being modified.",
                  "pattern": "^[^/]+$",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "customerId"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/doubleclicksearch"
              ],
              "path": "v23/customers/{+customerId}/assets:mutate",
              "id": "searchads360.customers.assets.mutate",
              "response": {
                "$ref": "GoogleAdsSearchads360V23Services__MutateAssetsResponse"
              },
              "description": "Creates assets. Operation statuses are returned. List of thrown errors: [AssetError]() [AuthenticationError]() [AuthorizationError]() [CollectionSizeError]() [CurrencyCodeError]() [DatabaseError]() [DateError]() [DistinctError]() [FieldError]() [FieldMaskError]() [HeaderError]() [IdError]() [InternalError]() [ListOperationError]() [MediaUploadError]() [MutateError]() [NotAllowlistedError]() [NotEmptyError]() [OperatorError]() [QuotaError]() [RangeError]() [RequestError]() [SizeLimitError]() [StringFormatError]() [StringLengthError]() [UrlFieldError]() [YoutubeVideoRegistrationError]()",
              "httpMethod": "POST"
            }
          }
        },
        "campaignLifecycleGoal": {
          "methods": {
            "configureCampaignLifecycleGoals": {
              "parameterOrder": [
                "customerId"
              ],
              "flatPath": "v23/customers/{customersId}/campaignLifecycleGoal:configureCampaignLifecycleGoals",
              "description": "Process the given campaign lifecycle configurations. List of thrown errors: [AuthenticationError]() [AuthorizationError]() [CampaignLifecycleGoalConfigError]() [HeaderError]() [InternalError]() [QuotaError]() [RequestError]()",
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/doubleclicksearch"
              ],
              "response": {
                "$ref": "GoogleAdsSearchads360V23Services__ConfigureCampaignLifecycleGoalsResponse"
              },
              "path": "v23/customers/{+customerId}/campaignLifecycleGoal:configureCampaignLifecycleGoals",
              "request": {
                "$ref": "GoogleAdsSearchads360V23Services__ConfigureCampaignLifecycleGoalsRequest"
              },
              "parameters": {
                "customerId": {
                  "description": "Required. The ID of the customer performing the upload.",
                  "pattern": "^[^/]+$",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "id": "searchads360.customers.campaignLifecycleGoal.configureCampaignLifecycleGoals"
            }
          }
        },
        "customerAssetSets": {
          "methods": {
            "mutate": {
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/doubleclicksearch"
              ],
              "id": "searchads360.customers.customerAssetSets.mutate",
              "description": "Creates, or removes customer asset sets. Operation statuses are returned.",
              "parameterOrder": [
                "customerId"
              ],
              "flatPath": "v23/customers/{customersId}/customerAssetSets:mutate",
              "path": "v23/customers/{+customerId}/customerAssetSets:mutate",
              "request": {
                "$ref": "GoogleAdsSearchads360V23Services__MutateCustomerAssetSetsRequest"
              },
              "parameters": {
                "customerId": {
                  "location": "path",
                  "required": true,
                  "description": "Required. The ID of the customer whose customer asset sets are being modified.",
                  "type": "string",
                  "pattern": "^[^/]+$"
                }
              },
              "response": {
                "$ref": "GoogleAdsSearchads360V23Services__MutateCustomerAssetSetsResponse"
              }
            }
          }
        },
        "assetSetAssets": {
          "methods": {
            "mutate": {
              "path": "v23/customers/{+customerId}/assetSetAssets:mutate",
              "id": "searchads360.customers.assetSetAssets.mutate",
              "parameters": {
                "customerId": {
                  "pattern": "^[^/]+$",
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "Required. The ID of the customer whose asset set assets are being modified."
                }
              },
              "description": "Creates, updates or removes asset set assets. Operation statuses are returned.",
              "response": {
                "$ref": "GoogleAdsSearchads360V23Services__MutateAssetSetAssetsResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/doubleclicksearch"
              ],
              "httpMethod": "POST",
              "flatPath": "v23/customers/{customersId}/assetSetAssets:mutate",
              "parameterOrder": [
                "customerId"
              ],
              "request": {
                "$ref": "GoogleAdsSearchads360V23Services__MutateAssetSetAssetsRequest"
              }
            }
          }
        },
        "adGroupCustomizers": {
          "methods": {
            "mutate": {
              "description": "Creates, updates or removes ad group customizers. Operation statuses are returned.",
              "path": "v23/customers/{+customerId}/adGroupCustomizers:mutate",
              "request": {
                "$ref": "GoogleAdsSearchads360V23Services__MutateAdGroupCustomizersRequest"
              },
              "response": {
                "$ref": "GoogleAdsSearchads360V23Services__MutateAdGroupCustomizersResponse"
              },
              "id": "searchads360.customers.adGroupCustomizers.mutate",
              "httpMethod": "POST",
              "parameterOrder": [
                "customerId"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/doubleclicksearch"
              ],
              "flatPath": "v23/customers/{customersId}/adGroupCustomizers:mutate",
              "parameters": {
                "customerId": {
                  "location": "path",
                  "required": true,
                  "pattern": "^[^/]+$",
                  "type": "string",
                  "description": "Required. The ID of the customer whose ad group customizers are being modified."
                }
              }
            }
          }
        },
        "adGroups": {
          "methods": {
            "mutate": {
              "description": "Creates, updates, or removes ad groups. Operation statuses are returned. List of thrown errors: [AdGroupError]() [AdxError]() [AuthenticationError]() [AuthorizationError]() [BiddingError]() [BiddingStrategyError]() [DatabaseError]() [DateError]() [DistinctError]() [FieldError]() [FieldMaskError]() [HeaderError]() [IdError]() [InternalError]() [ListOperationError]() [MultiplierError]() [MutateError]() [NewResourceCreationError]() [NotEmptyError]() [NullError]() [OperationAccessDeniedError]() [OperatorError]() [QuotaError]() [RangeError]() [RequestError]() [ResourceCountLimitExceededError]() [SettingError]() [SizeLimitError]() [StringFormatError]() [StringLengthError]() [UrlFieldError]()",
              "parameters": {
                "customerId": {
                  "description": "Required. The ID of the customer whose ad groups are being modified.",
                  "pattern": "^[^/]+$",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/doubleclicksearch"
              ],
              "flatPath": "v23/customers/{customersId}/adGroups:mutate",
              "id": "searchads360.customers.adGroups.mutate",
              "path": "v23/customers/{+customerId}/adGroups:mutate",
              "parameterOrder": [
                "customerId"
              ],
              "httpMethod": "POST",
              "request": {
                "$ref": "GoogleAdsSearchads360V23Services__MutateAdGroupsRequest"
              },
              "response": {
                "$ref": "GoogleAdsSearchads360V23Services__MutateAdGroupsResponse"
              }
            }
          }
        },
        "sharedSets": {
          "methods": {
            "mutate": {
              "description": "Creates, updates, or removes shared sets. Operation statuses are returned. List of thrown errors: [AuthenticationError]() [AuthorizationError]() [DatabaseError]() [DateError]() [DistinctError]() [FieldError]() [FieldMaskError]() [HeaderError]() [IdError]() [InternalError]() [MutateError]() [NewResourceCreationError]() [NotEmptyError]() [NullError]() [OperatorError]() [QuotaError]() [RangeError]() [RequestError]() [ResourceCountLimitExceededError]() [SharedSetError]() [SizeLimitError]() [StringFormatError]() [StringLengthError]()",
              "flatPath": "v23/customers/{customersId}/sharedSets:mutate",
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/doubleclicksearch"
              ],
              "request": {
                "$ref": "GoogleAdsSearchads360V23Services__MutateSharedSetsRequest"
              },
              "id": "searchads360.customers.sharedSets.mutate",
              "response": {
                "$ref": "GoogleAdsSearchads360V23Services__MutateSharedSetsResponse"
              },
              "parameters": {
                "customerId": {
                  "type": "string",
                  "pattern": "^[^/]+$",
                  "location": "path",
                  "required": true,
                  "description": "Required. The ID of the customer whose shared sets are being modified."
                }
              },
              "path": "v23/customers/{+customerId}/sharedSets:mutate",
              "parameterOrder": [
                "customerId"
              ]
            }
          }
        },
        "keywordPlanAdGroupKeywords": {
          "methods": {
            "mutate": {
              "id": "searchads360.customers.keywordPlanAdGroupKeywords.mutate",
              "path": "v23/customers/{+customerId}/keywordPlanAdGroupKeywords:mutate",
              "parameters": {
                "customerId": {
                  "pattern": "^[^/]+$",
                  "location": "path",
                  "required": true,
                  "description": "Required. The ID of the customer whose Keyword Plan ad group keywords are being modified.",
                  "type": "string"
                }
              },
              "description": "Creates, updates, or removes Keyword Plan ad group keywords. Operation statuses are returned. List of thrown errors: [AuthenticationError]() [AuthorizationError]() [DatabaseError]() [FieldError]() [HeaderError]() [InternalError]() [KeywordPlanAdGroupKeywordError]() [KeywordPlanError]() [MutateError]() [QuotaError]() [RequestError]() [ResourceCountLimitExceededError]()",
              "scopes": [
                "https://www.googleapis.com/auth/doubleclicksearch"
              ],
              "response": {
                "$ref": "GoogleAdsSearchads360V23Services__MutateKeywordPlanAdGroupKeywordsResponse"
              },
              "flatPath": "v23/customers/{customersId}/keywordPlanAdGroupKeywords:mutate",
              "parameterOrder": [
                "customerId"
              ],
              "request": {
                "$ref": "GoogleAdsSearchads360V23Services__MutateKeywordPlanAdGroupKeywordsRequest"
              },
              "httpMethod": "POST"
            }
          }
        },
        "recommendations": {
          "methods": {
            "generate": {
              "flatPath": "v23/customers/{customersId}/recommendations:generate",
              "parameters": {
                "customerId": {
                  "pattern": "^[^/]+$",
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "Required. The ID of the customer generating recommendations."
                }
              },
              "request": {
                "$ref": "GoogleAdsSearchads360V23Services__GenerateRecommendationsRequest"
              },
              "parameterOrder": [
                "customerId"
              ],
              "id": "searchads360.customers.recommendations.generate",
              "description": "Generates Recommendations based off the requested recommendation_types. List of thrown errors: [AuthenticationError]() [AuthorizationError]() [HeaderError]() [InternalError]() [QuotaError]() [RecommendationError]() [RequestError]()",
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/doubleclicksearch"
              ],
              "path": "v23/customers/{+customerId}/recommendations:generate",
              "response": {
                "$ref": "GoogleAdsSearchads360V23Services__GenerateRecommendationsResponse"
              }
            },
            "apply": {
              "path": "v23/customers/{+customerId}/recommendations:apply",
              "response": {
                "$ref": "GoogleAdsSearchads360V23Services__ApplyRecommendationResponse"
              },
              "parameters": {
                "customerId": {
                  "pattern": "^[^/]+$",
                  "type": "string",
                  "description": "Required. The ID of the customer with the recommendation.",
                  "location": "path",
                  "required": true
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/doubleclicksearch"
              ],
              "id": "searchads360.customers.recommendations.apply",
              "description": "Applies given recommendations with corresponding apply parameters. List of thrown errors: [AuthenticationError]() [AuthorizationError]() [DatabaseError]() [FieldError]() [HeaderError]() [InternalError]() [MutateError]() [QuotaError]() [RecommendationError]() [RequestError]() [UrlFieldError]()",
              "flatPath": "v23/customers/{customersId}/recommendations:apply",
              "request": {
                "$ref": "GoogleAdsSearchads360V23Services__ApplyRecommendationRequest"
              },
              "parameterOrder": [
                "customerId"
              ],
              "httpMethod": "POST"
            },
            "dismiss": {
              "response": {
                "$ref": "GoogleAdsSearchads360V23Services__DismissRecommendationResponse"
              },
              "id": "searchads360.customers.recommendations.dismiss",
              "parameterOrder": [
                "customerId"
              ],
              "parameters": {
                "customerId": {
                  "pattern": "^[^/]+$",
                  "description": "Required. The ID of the customer with the recommendation.",
                  "type": "string",
                  "location": "path",
                  "required": true
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/doubleclicksearch"
              ],
              "path": "v23/customers/{+customerId}/recommendations:dismiss",
              "request": {
                "$ref": "GoogleAdsSearchads360V23Services__DismissRecommendationRequest"
              },
              "description": "Dismisses given recommendations. List of thrown errors: [AuthenticationError]() [AuthorizationError]() [HeaderError]() [InternalError]() [QuotaError]() [RecommendationError]() [RequestError]()",
              "httpMethod": "POST",
              "flatPath": "v23/customers/{customersId}/recommendations:dismiss"
            }
          }
        },
        "searchAds360Campaigns": {
          "methods": {
            "mutate": {
              "path": "v23/customers/{+customerId}/searchAds360Campaigns:mutate",
              "flatPath": "v23/customers/{customersId}/searchAds360Campaigns:mutate",
              "parameterOrder": [
                "customerId"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/doubleclicksearch"
              ],
              "id": "searchads360.customers.searchAds360Campaigns.mutate",
              "httpMethod": "POST",
              "description": "Updates Search Ads 360 campaigns. Operation statuses are returned. List of thrown errors: [AuthenticationError]() [AuthorizationError]() [HeaderError]() [InternalError]() [MutateError]() [QuotaError]() [RequestError]()",
              "parameters": {
                "customerId": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "Required. The ID of the customer whose Search Ads 360 campaigns are being modified.",
                  "pattern": "^[^/]+$"
                }
              },
              "response": {
                "$ref": "GoogleAdsSearchads360V23Services__MutateSearchAds360CampaignsResponse"
              },
              "request": {
                "$ref": "GoogleAdsSearchads360V23Services__MutateSearchAds360CampaignsRequest"
              }
            }
          }
        },
        "adParameters": {
          "methods": {
            "mutate": {
              "httpMethod": "POST",
              "flatPath": "v23/customers/{customersId}/adParameters:mutate",
              "parameterOrder": [
                "customerId"
              ],
              "path": "v23/customers/{+customerId}/adParameters:mutate",
              "description": "Creates, updates, or removes ad parameters. Operation statuses are returned. List of thrown errors: [AdParameterError]() [AuthenticationError]() [AuthorizationError]() [ContextError]() [DatabaseError]() [FieldError]() [FieldMaskError]() [HeaderError]() [InternalError]() [MutateError]() [QuotaError]() [RequestError]()",
              "parameters": {
                "customerId": {
                  "pattern": "^[^/]+$",
                  "description": "Required. The ID of the customer whose ad parameters are being modified.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "request": {
                "$ref": "GoogleAdsSearchads360V23Services__MutateAdParametersRequest"
              },
              "scopes": [
                "https://www.googleapis.com/auth/doubleclicksearch"
              ],
              "id": "searchads360.customers.adParameters.mutate",
              "response": {
                "$ref": "GoogleAdsSearchads360V23Services__MutateAdParametersResponse"
              }
            }
          }
        },
        "audiences": {
          "methods": {
            "mutate": {
              "flatPath": "v23/customers/{customersId}/audiences:mutate",
              "description": "Creates audiences. Operation statuses are returned. List of thrown errors: [AudienceError]()",
              "id": "searchads360.customers.audiences.mutate",
              "parameters": {
                "customerId": {
                  "pattern": "^[^/]+$",
                  "location": "path",
                  "required": true,
                  "description": "Required. The ID of the customer whose audiences are being modified.",
                  "type": "string"
                }
              },
              "path": "v23/customers/{+customerId}/audiences:mutate",
              "parameterOrder": [
                "customerId"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/doubleclicksearch"
              ],
              "httpMethod": "POST",
              "response": {
                "$ref": "GoogleAdsSearchads360V23Services__MutateAudiencesResponse"
              },
              "request": {
                "$ref": "GoogleAdsSearchads360V23Services__MutateAudiencesRequest"
              }
            }
          }
        },
        "localServices": {
          "methods": {
            "appendLeadConversation": {
              "response": {
                "$ref": "GoogleAdsSearchads360V23Services__AppendLeadConversationResponse"
              },
              "id": "searchads360.customers.localServices.appendLeadConversation",
              "parameterOrder": [
                "customerId"
              ],
              "parameters": {
                "customerId": {
                  "pattern": "^[^/]+$",
                  "location": "path",
                  "required": true,
                  "description": "Required. The Id of the customer which owns the leads onto which the conversations will be appended.",
                  "type": "string"
                }
              },
              "request": {
                "$ref": "GoogleAdsSearchads360V23Services__AppendLeadConversationRequest"
              },
              "scopes": [
                "https://www.googleapis.com/auth/doubleclicksearch"
              ],
              "description": "RPC to append Local Services Lead Conversation resources to Local Services Lead resources.",
              "httpMethod": "POST",
              "path": "v23/customers/{+customerId}/localServices:appendLeadConversation",
              "flatPath": "v23/customers/{customersId}/localServices:appendLeadConversation"
            }
          }
        },
        "recommendationSubscriptions": {
          "methods": {
            "mutateRecommendationSubscription": {
              "parameterOrder": [
                "customerId"
              ],
              "response": {
                "$ref": "GoogleAdsSearchads360V23Services__MutateRecommendationSubscriptionResponse"
              },
              "parameters": {
                "customerId": {
                  "type": "string",
                  "description": "Required. The ID of the subscribing customer.",
                  "location": "path",
                  "required": true,
                  "pattern": "^[^/]+$"
                }
              },
              "id": "searchads360.customers.recommendationSubscriptions.mutateRecommendationSubscription",
              "scopes": [
                "https://www.googleapis.com/auth/doubleclicksearch"
              ],
              "description": "Mutates given subscription with corresponding apply parameters. List of thrown errors: [AuthenticationError]() [AuthorizationError]() [DatabaseError]() [FieldError]() [HeaderError]() [InternalError]() [MutateError]() [QuotaError]() [RecommendationError]() [RecommendationSubscriptionError]() [RequestError]() [UrlFieldError]()",
              "flatPath": "v23/customers/{customersId}/recommendationSubscriptions:mutateRecommendationSubscription",
              "httpMethod": "POST",
              "request": {
                "$ref": "GoogleAdsSearchads360V23Services__MutateRecommendationSubscriptionRequest"
              },
              "path": "v23/customers/{+customerId}/recommendationSubscriptions:mutateRecommendationSubscription"
            }
          }
        },
        "keywordPlanCampaigns": {
          "methods": {
            "mutate": {
              "path": "v23/customers/{+customerId}/keywordPlanCampaigns:mutate",
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/doubleclicksearch"
              ],
              "flatPath": "v23/customers/{customersId}/keywordPlanCampaigns:mutate",
              "id": "searchads360.customers.keywordPlanCampaigns.mutate",
              "parameters": {
                "customerId": {
                  "description": "Required. The ID of the customer whose Keyword Plan campaigns are being modified.",
                  "type": "string",
                  "pattern": "^[^/]+$",
                  "location": "path",
                  "required": true
                }
              },
              "request": {
                "$ref": "GoogleAdsSearchads360V23Services__MutateKeywordPlanCampaignsRequest"
              },
              "response": {
                "$ref": "GoogleAdsSearchads360V23Services__MutateKeywordPlanCampaignsResponse"
              },
              "parameterOrder": [
                "customerId"
              ],
              "description": "Creates, updates, or removes Keyword Plan campaigns. Operation statuses are returned. List of thrown errors: [AuthenticationError]() [AuthorizationError]() [DatabaseError]() [FieldError]() [FieldMaskError]() [HeaderError]() [InternalError]() [KeywordPlanCampaignError]() [KeywordPlanError]() [ListOperationError]() [MutateError]() [QuotaError]() [RangeError]() [RequestError]() [ResourceCountLimitExceededError]()"
            }
          }
        },
        "keywordPlanCampaignKeywords": {
          "methods": {
            "mutate": {
              "flatPath": "v23/customers/{customersId}/keywordPlanCampaignKeywords:mutate",
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/doubleclicksearch"
              ],
              "path": "v23/customers/{+customerId}/keywordPlanCampaignKeywords:mutate",
              "request": {
                "$ref": "GoogleAdsSearchads360V23Services__MutateKeywordPlanCampaignKeywordsRequest"
              },
              "parameterOrder": [
                "customerId"
              ],
              "description": "Creates, updates, or removes Keyword Plan campaign keywords. Operation statuses are returned. List of thrown errors: [AuthenticationError]() [AuthorizationError]() [DatabaseError]() [FieldError]() [HeaderError]() [InternalError]() [KeywordPlanAdGroupKeywordError]() [KeywordPlanCampaignKeywordError]() [QuotaError]() [RequestError]() [ResourceCountLimitExceededError]()",
              "id": "searchads360.customers.keywordPlanCampaignKeywords.mutate",
              "response": {
                "$ref": "GoogleAdsSearchads360V23Services__MutateKeywordPlanCampaignKeywordsResponse"
              },
              "parameters": {
                "customerId": {
                  "description": "Required. The ID of the customer whose campaign keywords are being modified.",
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "pattern": "^[^/]+$"
                }
              }
            }
          }
        },
        "campaignBidModifiers": {
          "methods": {
            "mutate": {
              "description": "Creates, updates, or removes campaign bid modifiers. Operation statuses are returned. List of thrown errors: [AuthenticationError]() [AuthorizationError]() [ContextError]() [CriterionError]() [DatabaseError]() [DateError]() [DistinctError]() [FieldError]() [HeaderError]() [IdError]() [InternalError]() [MutateError]() [NewResourceCreationError]() [NotEmptyError]() [NullError]() [OperatorError]() [QuotaError]() [RangeError]() [RequestError]() [SizeLimitError]() [StringFormatError]() [StringLengthError]()",
              "scopes": [
                "https://www.googleapis.com/auth/doubleclicksearch"
              ],
              "id": "searchads360.customers.campaignBidModifiers.mutate",
              "request": {
                "$ref": "GoogleAdsSearchads360V23Services__MutateCampaignBidModifiersRequest"
              },
              "httpMethod": "POST",
              "flatPath": "v23/customers/{customersId}/campaignBidModifiers:mutate",
              "response": {
                "$ref": "GoogleAdsSearchads360V23Services__MutateCampaignBidModifiersResponse"
              },
              "path": "v23/customers/{+customerId}/campaignBidModifiers:mutate",
              "parameterOrder": [
                "customerId"
              ],
              "parameters": {
                "customerId": {
                  "description": "Required. ID of the customer whose campaign bid modifiers are being modified.",
                  "location": "path",
                  "required": true,
                  "pattern": "^[^/]+$",
                  "type": "string"
                }
              }
            }
          }
        },
        "incentives": {
          "methods": {
            "applyIncentive": {
              "httpMethod": "POST",
              "parameterOrder": [
                "customerId",
                "selectedIncentiveId"
              ],
              "request": {
                "$ref": "GoogleAdsSearchads360V23Services__ApplyIncentiveRequest"
              },
              "response": {
                "$ref": "GoogleAdsSearchads360V23Services__ApplyIncentiveResponse"
              },
              "path": "v23/customers/{+customerId}/incentives/{+selectedIncentiveId}:applyIncentive",
              "description": "Applies the incentive for the ads customer.",
              "id": "searchads360.customers.incentives.applyIncentive",
              "scopes": [
                "https://www.googleapis.com/auth/doubleclicksearch"
              ],
              "parameters": {
                "selectedIncentiveId": {
                  "location": "path",
                  "required": true,
                  "description": "The incentive ID of this incentive. This is used to identify which incentive is selected by the user in the CYO flow.",
                  "format": "int64",
                  "pattern": "^[^/]+$",
                  "type": "string"
                },
                "customerId": {
                  "pattern": "^[^/]+$",
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "The customer ID of the account that the incentive is being applied to."
                }
              },
              "flatPath": "v23/customers/{customersId}/incentives/{incentivesId}:applyIncentive"
            }
          }
        },
        "billingSetups": {
          "methods": {
            "mutate": {
              "parameters": {
                "customerId": {
                  "location": "path",
                  "required": true,
                  "pattern": "^[^/]+$",
                  "description": "Required. Id of the customer to apply the billing setup mutate operation to.",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "customerId"
              ],
              "path": "v23/customers/{+customerId}/billingSetups:mutate",
              "response": {
                "$ref": "GoogleAdsSearchads360V23Services__MutateBillingSetupResponse"
              },
              "id": "searchads360.customers.billingSetups.mutate",
              "flatPath": "v23/customers/{customersId}/billingSetups:mutate",
              "description": "Creates a billing setup, or cancels an existing billing setup. List of thrown errors: [AuthenticationError]() [AuthorizationError]() [BillingSetupError]() [DateError]() [FieldError]() [HeaderError]() [InternalError]() [MutateError]() [QuotaError]() [RequestError]()",
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/doubleclicksearch"
              ],
              "request": {
                "$ref": "GoogleAdsSearchads360V23Services__MutateBillingSetupRequest"
              }
            }
          }
        },
        "adGroupCriterionLabels": {
          "methods": {
            "mutate": {
              "request": {
                "$ref": "GoogleAdsSearchads360V23Services__MutateAdGroupCriterionLabelsRequest"
              },
              "id": "searchads360.customers.adGroupCriterionLabels.mutate",
              "parameterOrder": [
                "customerId"
              ],
              "path": "v23/customers/{+customerId}/adGroupCriterionLabels:mutate",
              "parameters": {
                "customerId": {
                  "pattern": "^[^/]+$",
                  "description": "Required. ID of the customer whose ad group criterion labels are being modified.",
                  "type": "string",
                  "location": "path",
                  "required": true
                }
              },
              "description": "Creates and removes ad group criterion labels. Operation statuses are returned. List of thrown errors: [AuthenticationError]() [AuthorizationError]() [DatabaseError]() [FieldError]() [HeaderError]() [InternalError]() [QuotaError]() [RequestError]()",
              "response": {
                "$ref": "GoogleAdsSearchads360V23Services__MutateAdGroupCriterionLabelsResponse"
              },
              "flatPath": "v23/customers/{customersId}/adGroupCriterionLabels:mutate",
              "scopes": [
                "https://www.googleapis.com/auth/doubleclicksearch"
              ],
              "httpMethod": "POST"
            }
          }
        },
        "offlineUserDataJobs": {
          "methods": {
            "create": {
              "request": {
                "$ref": "GoogleAdsSearchads360V23Services__CreateOfflineUserDataJobRequest"
              },
              "httpMethod": "POST",
              "parameterOrder": [
                "customerId"
              ],
              "flatPath": "v23/customers/{customersId}/offlineUserDataJobs:create",
              "response": {
                "$ref": "GoogleAdsSearchads360V23Services__CreateOfflineUserDataJobResponse"
              },
              "parameters": {
                "customerId": {
                  "description": "Required. The ID of the customer for which to create an offline user data job.",
                  "type": "string",
                  "pattern": "^[^/]+$",
                  "location": "path",
                  "required": true
                }
              },
              "path": "v23/customers/{+customerId}/offlineUserDataJobs:create",
              "id": "searchads360.customers.offlineUserDataJobs.create",
              "description": "Creates an offline user data job. List of thrown errors: [AuthenticationError]() [AuthorizationError]() [DatabaseError]() [FieldError]() [HeaderError]() [InternalError]() [NotAllowlistedError]() [OfflineUserDataJobError]() [QuotaError]() [RequestError]()",
              "scopes": [
                "https://www.googleapis.com/auth/doubleclicksearch"
              ]
            },
            "addOperations": {
              "id": "searchads360.customers.offlineUserDataJobs.addOperations",
              "response": {
                "$ref": "GoogleAdsSearchads360V23Services__AddOfflineUserDataJobOperationsResponse"
              },
              "request": {
                "$ref": "GoogleAdsSearchads360V23Services__AddOfflineUserDataJobOperationsRequest"
              },
              "scopes": [
                "https://www.googleapis.com/auth/doubleclicksearch"
              ],
              "parameters": {
                "resourceName": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "pattern": "^customers/[^/]+/offlineUserDataJobs/[^/]+$",
                  "description": "Required. The resource name of the OfflineUserDataJob."
                }
              },
              "path": "v23/{+resourceName}:addOperations",
              "flatPath": "v23/customers/{customersId}/offlineUserDataJobs/{offlineUserDataJobsId}:addOperations",
              "httpMethod": "POST",
              "parameterOrder": [
                "resourceName"
              ],
              "description": "Adds operations to the offline user data job. List of thrown errors: [AuthenticationError]() [AuthorizationError]() [DatabaseError]() [FieldError]() [HeaderError]() [InternalError]() [MutateError]() [OfflineUserDataJobError]() [QuotaError]() [RequestError]()"
            },
            "run": {
              "scopes": [
                "https://www.googleapis.com/auth/doubleclicksearch"
              ],
              "id": "searchads360.customers.offlineUserDataJobs.run",
              "flatPath": "v23/customers/{customersId}/offlineUserDataJobs/{offlineUserDataJobsId}:run",
              "parameters": {
                "resourceName": {
                  "pattern": "^customers/[^/]+/offlineUserDataJobs/[^/]+$",
                  "description": "Required. The resource name of the OfflineUserDataJob to run.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "path": "v23/{+resourceName}:run",
              "parameterOrder": [
                "resourceName"
              ],
              "httpMethod": "POST",
              "response": {
                "$ref": "GoogleLongrunning__Operation"
              },
              "description": "Runs the offline user data job. When finished, the long running operation will contain the processing result or failure information, if any. List of thrown errors: [AuthenticationError]() [AuthorizationError]() [DatabaseError]() [HeaderError]() [InternalError]() [OfflineUserDataJobError]() [QuotaError]() [RequestError]()",
              "request": {
                "$ref": "GoogleAdsSearchads360V23Services__RunOfflineUserDataJobRequest"
              }
            }
          }
        },
        "customerSkAdNetworkConversionValueSchemas": {
          "methods": {
            "mutate": {
              "path": "v23/customers/{+customerId}/customerSkAdNetworkConversionValueSchemas:mutate",
              "parameterOrder": [
                "customerId"
              ],
              "id": "searchads360.customers.customerSkAdNetworkConversionValueSchemas.mutate",
              "description": "Creates or updates the CustomerSkAdNetworkConversionValueSchema. List of thrown errors: [AuthenticationError]() [AuthorizationError]() [FieldError]() [InternalError]() [MutateError]()",
              "request": {
                "$ref": "GoogleAdsSearchads360V23Services__MutateCustomerSkAdNetworkConversionValueSchemaRequest"
              },
              "httpMethod": "POST",
              "flatPath": "v23/customers/{customersId}/customerSkAdNetworkConversionValueSchemas:mutate",
              "response": {
                "$ref": "GoogleAdsSearchads360V23Services__MutateCustomerSkAdNetworkConversionValueSchemaResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/doubleclicksearch"
              ],
              "parameters": {
                "customerId": {
                  "pattern": "^[^/]+$",
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "description": "The ID of the customer whose shared sets are being modified."
                }
              }
            }
          }
        },
        "customizerAttributes": {
          "methods": {
            "mutate": {
              "request": {
                "$ref": "GoogleAdsSearchads360V23Services__MutateCustomizerAttributesRequest"
              },
              "parameterOrder": [
                "customerId"
              ],
              "response": {
                "$ref": "GoogleAdsSearchads360V23Services__MutateCustomizerAttributesResponse"
              },
              "parameters": {
                "customerId": {
                  "pattern": "^[^/]+$",
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "description": "Required. The ID of the customer whose customizer attributes are being modified."
                }
              },
              "flatPath": "v23/customers/{customersId}/customizerAttributes:mutate",
              "scopes": [
                "https://www.googleapis.com/auth/doubleclicksearch"
              ],
              "httpMethod": "POST",
              "id": "searchads360.customers.customizerAttributes.mutate",
              "path": "v23/customers/{+customerId}/customizerAttributes:mutate",
              "description": "Creates, updates or removes customizer attributes. Operation statuses are returned."
            }
          }
        },
        "customerUserAccessInvitations": {
          "methods": {
            "mutate": {
              "parameters": {
                "customerId": {
                  "pattern": "^[^/]+$",
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "Required. The ID of the customer whose access invitation is being modified."
                }
              },
              "path": "v23/customers/{+customerId}/customerUserAccessInvitations:mutate",
              "request": {
                "$ref": "GoogleAdsSearchads360V23Services__MutateCustomerUserAccessInvitationRequest"
              },
              "parameterOrder": [
                "customerId"
              ],
              "flatPath": "v23/customers/{customersId}/customerUserAccessInvitations:mutate",
              "id": "searchads360.customers.customerUserAccessInvitations.mutate",
[...]
