{
  "discoveryVersion": "v1",
  "resources": {
    "searchAds360Fields": {
      "methods": {
        "search": {
          "path": "v23/searchAds360Fields:search",
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ],
          "parameterOrder": [],
          "response": {
            "$ref": "GoogleAdsSearchads360V23Services__SearchSearchAds360FieldsResponse"
          },
          "request": {
            "$ref": "GoogleAdsSearchads360V23Services__SearchSearchAds360FieldsRequest"
          },
          "parameters": {},
          "id": "searchads360.searchAds360Fields.search",
          "flatPath": "v23/searchAds360Fields:search",
          "description": "Returns all fields that match the search [query](/search-ads/reporting/concepts/field-service#use_a_query_to_get_field_details). List of thrown errors: [AuthenticationError]() [AuthorizationError]() [HeaderError]() [InternalError]() [QueryError]() [QuotaError]() [RequestError]()"
        },
        "get": {
          "path": "v23/{+resourceName}",
          "response": {
            "$ref": "GoogleAdsSearchads360V23Resources__SearchAds360Field"
          },
          "httpMethod": "GET",
          "description": "Returns just the requested field. List of thrown errors: [AuthenticationError]() [AuthorizationError]() [HeaderError]() [InternalError]() [QuotaError]() [RequestError]()",
          "flatPath": "v23/searchAds360Fields/{searchAds360FieldsId}",
          "id": "searchads360.searchAds360Fields.get",
          "parameterOrder": [
            "resourceName"
          ],
          "parameters": {
            "resourceName": {
              "type": "string",
              "description": "Required. The resource name of the field to get.",
              "pattern": "^searchAds360Fields/[^/]+$",
              "location": "path",
              "required": true
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ]
        }
      }
    },
    "incentives": {
      "methods": {
        "fetchIncentive": {
          "path": "v23/incentives:fetchIncentive",
          "flatPath": "v23/incentives:fetchIncentive",
          "parameters": {
            "email": {
              "location": "query",
              "type": "string",
              "description": "Optional. Email of the user that the requested incentive is meant for. Will be used for channel partners who do NOT use OAuth to authenticate on behalf of user."
            },
            "countryCode": {
              "location": "query",
              "description": "Optional. User's country code. If not provided, the server will default to \"US\". Possible country codes: https://developers.google.com/google-ads/api/data/codes-formats#country_codes",
              "type": "string"
            },
            "type": {
              "enumDescriptions": [
                "Not specified.",
                "Unknown incentive type. Should not be used as a value explicitly.",
                "An acquisition incentive."
              ],
              "description": "Optional. The type of incentive to get. Defaults to ACQUISITION.",
              "location": "query",
              "type": "string",
              "enum": [
                "UNSPECIFIED",
                "UNKNOWN",
                "ACQUISITION"
              ]
            },
            "languageCode": {
              "description": "Optional. User's language code. If not provided, the server will default to \"en\". Possible language codes: https://developers.google.com/google-ads/api/data/codes-formats#languages",
              "location": "query",
              "type": "string"
            }
          },
          "id": "searchads360.incentives.fetchIncentive",
          "response": {
            "$ref": "GoogleAdsSearchads360V23Services__FetchIncentiveResponse"
          },
          "httpMethod": "GET",
          "description": "Returns incentives for a given user.",
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ],
          "parameterOrder": []
        }
      }
    },
    "audienceInsights": {
      "methods": {
        "listInsightsEligibleDates": {
          "id": "searchads360.audienceInsights.listInsightsEligibleDates",
          "description": "Lists date ranges for which audience insights data can be requested. List of thrown errors: [AuthenticationError]() [AuthorizationError]() [FieldError]() [HeaderError]() [InternalError]() [QuotaError]() [RangeError]() [RequestError]()",
          "flatPath": "v23/audienceInsights:listInsightsEligibleDates",
          "parameters": {},
          "path": "v23/audienceInsights:listInsightsEligibleDates",
          "parameterOrder": [],
          "response": {
            "$ref": "GoogleAdsSearchads360V23Services__ListInsightsEligibleDatesResponse"
          },
          "request": {
            "$ref": "GoogleAdsSearchads360V23Services__ListInsightsEligibleDatesRequest"
          },
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ],
          "httpMethod": "POST"
        }
      }
    },
    "v23": {
      "methods": {
        "listPlannableLocations": {
          "parameters": {},
          "path": "v23:listPlannableLocations",
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ],
          "response": {
            "$ref": "GoogleAdsSearchads360V23Services__ListPlannableLocationsResponse"
          },
          "id": "searchads360.listPlannableLocations",
          "parameterOrder": [],
          "httpMethod": "POST",
          "description": "Returns the list of plannable locations (for example, countries). List of thrown errors: [AuthenticationError]() [AuthorizationError]() [HeaderError]() [InternalError]() [QuotaError]() [RequestError]()",
          "request": {
            "$ref": "GoogleAdsSearchads360V23Services__ListPlannableLocationsRequest"
          },
          "flatPath": "v23:listPlannableLocations"
        },
        "listBenchmarksAvailableDates": {
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ],
          "parameters": {},
          "response": {
            "$ref": "GoogleAdsSearchads360V23Services__ListBenchmarksAvailableDatesResponse"
          },
          "flatPath": "v23:listBenchmarksAvailableDates",
          "path": "v23:listBenchmarksAvailableDates",
          "request": {
            "$ref": "GoogleAdsSearchads360V23Services__ListBenchmarksAvailableDatesRequest"
          },
          "httpMethod": "POST",
          "parameterOrder": [],
          "id": "searchads360.listBenchmarksAvailableDates",
          "description": "Returns a date range that supports benchmarks. List of thrown errors: [AuthenticationError]() [AuthorizationError]() [FieldError]() [HeaderError]() [InternalError]() [QuotaError]() [RequestError]()"
        },
        "listBenchmarksLocations": {
          "parameters": {},
          "parameterOrder": [],
          "id": "searchads360.listBenchmarksLocations",
          "flatPath": "v23:listBenchmarksLocations",
          "request": {
            "$ref": "GoogleAdsSearchads360V23Services__ListBenchmarksLocationsRequest"
          },
          "path": "v23:listBenchmarksLocations",
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ],
          "httpMethod": "POST",
          "description": "Returns the list of locations that support benchmarks (for example, countries). List of thrown errors: [AuthenticationError]() [AuthorizationError]() [FieldError]() [HeaderError]() [InternalError]() [QuotaError]() [RequestError]()",
          "response": {
            "$ref": "GoogleAdsSearchads360V23Services__ListBenchmarksLocationsResponse"
          }
        },
        "listPlannableUserInterests": {
          "flatPath": "v23:listPlannableUserInterests",
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ],
          "request": {
            "$ref": "GoogleAdsSearchads360V23Services__ListPlannableUserInterestsRequest"
          },
          "response": {
            "$ref": "GoogleAdsSearchads360V23Services__ListPlannableUserInterestsResponse"
          },
          "parameters": {},
          "path": "v23:listPlannableUserInterests",
          "parameterOrder": [],
          "id": "searchads360.listPlannableUserInterests",
          "description": "Returns the list of plannable user interests. A plannable user interest is one that can be targeted in a reach forecast using ReachPlanService.GenerateReachForecast. List of thrown errors: [AuthenticationError]() [AuthorizationError]() [FieldError]() [HeaderError]() [InternalError]() [ListOperationError]() [QuotaError]() [RequestError]() [StringLengthError]()",
          "httpMethod": "POST"
        },
        "listBenchmarksProducts": {
          "description": "Returns the list of products that supports benchmarks. List of thrown errors: [AuthenticationError]() [AuthorizationError]() [FieldError]() [HeaderError]() [InternalError]() [QuotaError]() [RequestError]()",
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ],
          "parameterOrder": [],
          "response": {
            "$ref": "GoogleAdsSearchads360V23Services__ListBenchmarksProductsResponse"
          },
          "id": "searchads360.listBenchmarksProducts",
          "path": "v23:listBenchmarksProducts",
          "request": {
            "$ref": "GoogleAdsSearchads360V23Services__ListBenchmarksProductsRequest"
          },
          "parameters": {},
          "flatPath": "v23:listBenchmarksProducts"
        },
        "listPlannableUserLists": {
          "parameters": {},
          "id": "searchads360.listPlannableUserLists",
          "description": "Returns the list of plannable user lists with their plannable status. User lists may not be plannable for a number of reasons, including: - They are less than 10 days old. - They have a membership lifespan that is less than 30 days - They have less than 10,000 or more than 700,000 users. List of thrown errors: [AuthenticationError]() [AuthorizationError]() [FieldError]() [HeaderError]() [InternalError]() [QuotaError]() [RangeError]() [ReachPlanError]() [RequestError]()",
          "request": {
            "$ref": "GoogleAdsSearchads360V23Services__ListPlannableUserListsRequest"
          },
          "httpMethod": "POST",
          "flatPath": "v23:listPlannableUserLists",
          "path": "v23:listPlannableUserLists",
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ],
          "response": {
            "$ref": "GoogleAdsSearchads360V23Services__ListPlannableUserListsResponse"
          },
          "parameterOrder": []
        },
        "listPlannableProducts": {
          "flatPath": "v23:listPlannableProducts",
          "parameterOrder": [],
          "request": {
            "$ref": "GoogleAdsSearchads360V23Services__ListPlannableProductsRequest"
          },
          "description": "Returns the list of per-location plannable YouTube ad formats with allowed targeting. List of thrown errors: [AuthenticationError]() [AuthorizationError]() [HeaderError]() [InternalError]() [QuotaError]() [RequestError]()",
          "path": "v23:listPlannableProducts",
          "response": {
            "$ref": "GoogleAdsSearchads360V23Services__ListPlannableProductsResponse"
          },
          "parameters": {},
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ],
          "id": "searchads360.listPlannableProducts",
          "httpMethod": "POST"
        },
        "generateConversionRates": {
          "flatPath": "v23:generateConversionRates",
          "request": {
            "$ref": "GoogleAdsSearchads360V23Services__GenerateConversionRatesRequest"
          },
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ],
          "parameters": {},
          "path": "v23:generateConversionRates",
          "id": "searchads360.generateConversionRates",
          "response": {
            "$ref": "GoogleAdsSearchads360V23Services__GenerateConversionRatesResponse"
          },
          "description": "Returns a collection of conversion rate suggestions for supported plannable products. List of thrown errors: [AuthenticationError]() [AuthorizationError]() [HeaderError]() [InternalError]() [QuotaError]() [RequestError]()",
          "httpMethod": "POST",
          "parameterOrder": []
        },
        "listBenchmarksSources": {
          "parameterOrder": [],
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ],
          "id": "searchads360.listBenchmarksSources",
          "parameters": {},
          "description": "Returns the list of benchmarks sources (for example, Industry Verticals). List of thrown errors: [AuthenticationError]() [AuthorizationError]() [FieldError]() [HeaderError]() [InternalError]() [QuotaError]() [RequestError]()",
          "request": {
            "$ref": "GoogleAdsSearchads360V23Services__ListBenchmarksSourcesRequest"
          },
          "response": {
            "$ref": "GoogleAdsSearchads360V23Services__ListBenchmarksSourcesResponse"
          },
          "httpMethod": "POST",
          "flatPath": "v23:listBenchmarksSources",
          "path": "v23:listBenchmarksSources"
        }
      }
    },
    "customers": {
      "resources": {
        "campaignConversionGoals": {
          "methods": {
            "mutate": {
              "flatPath": "v23/customers/{customersId}/campaignConversionGoals:mutate",
              "request": {
                "$ref": "GoogleAdsSearchads360V23Services__MutateCampaignConversionGoalsRequest"
              },
              "parameters": {
                "customerId": {
                  "pattern": "^[^/]+$",
                  "type": "string",
                  "description": "Required. The ID of the customer whose campaign conversion goals are being modified.",
                  "required": true,
                  "location": "path"
                }
              },
              "response": {
                "$ref": "GoogleAdsSearchads360V23Services__MutateCampaignConversionGoalsResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/doubleclicksearch"
              ],
              "path": "v23/customers/{+customerId}/campaignConversionGoals:mutate",
              "id": "searchads360.customers.campaignConversionGoals.mutate",
              "description": "Creates, updates or removes campaign conversion goals. Operation statuses are returned.",
              "parameterOrder": [
                "customerId"
              ],
              "httpMethod": "POST"
            }
          }
        },
        "AdGroupCriterionCustomizers": {
          "methods": {
            "mutate": {
              "flatPath": "v23/customers/{customersId}/AdGroupCriterionCustomizers:mutate",
              "request": {
                "$ref": "GoogleAdsSearchads360V23Services__MutateAdGroupCriterionCustomizersRequest"
              },
              "httpMethod": "POST",
              "description": "Creates, updates or removes ad group criterion customizers. Operation statuses are returned.",
              "id": "searchads360.customers.AdGroupCriterionCustomizers.mutate",
              "parameterOrder": [
                "customerId"
              ],
              "response": {
                "$ref": "GoogleAdsSearchads360V23Services__MutateAdGroupCriterionCustomizersResponse"
              },
              "parameters": {
                "customerId": {
                  "description": "Required. The ID of the customer whose ad group criterion customizers are being modified.",
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "pattern": "^[^/]+$"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/doubleclicksearch"
              ],
              "path": "v23/customers/{+customerId}/AdGroupCriterionCustomizers:mutate"
            }
          }
        },
        "customerLabels": {
          "methods": {
            "mutate": {
              "httpMethod": "POST",
              "request": {
                "$ref": "GoogleAdsSearchads360V23Services__MutateCustomerLabelsRequest"
              },
              "scopes": [
                "https://www.googleapis.com/auth/doubleclicksearch"
              ],
              "description": "Creates and removes customer-label relationships. Operation statuses are returned. List of thrown errors: [AuthenticationError]() [AuthorizationError]() [DatabaseError]() [HeaderError]() [InternalError]() [LabelError]() [MutateError]() [QuotaError]() [RequestError]()",
              "parameters": {
                "customerId": {
                  "description": "Required. ID of the customer whose customer-label relationships are being modified.",
                  "required": true,
                  "pattern": "^[^/]+$",
                  "location": "path",
                  "type": "string"
                }
              },
              "flatPath": "v23/customers/{customersId}/customerLabels:mutate",
              "id": "searchads360.customers.customerLabels.mutate",
              "parameterOrder": [
                "customerId"
              ],
              "path": "v23/customers/{+customerId}/customerLabels:mutate",
              "response": {
                "$ref": "GoogleAdsSearchads360V23Services__MutateCustomerLabelsResponse"
              }
            }
          }
        },
        "thirdPartyAppAnalyticsLinks": {
          "methods": {
            "regenerateShareableLinkId": {
              "id": "searchads360.customers.thirdPartyAppAnalyticsLinks.regenerateShareableLinkId",
              "request": {
                "$ref": "GoogleAdsSearchads360V23Services__RegenerateShareableLinkIdRequest"
              },
              "parameters": {
                "resourceName": {
                  "pattern": "^customers/[^/]+/thirdPartyAppAnalyticsLinks/[^/]+$",
                  "description": "Resource name of the third party app analytics link.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "description": "Regenerate ThirdPartyAppAnalyticsLink.shareable_link_id that should be provided to the third party when setting up app analytics. List of thrown errors: [AuthenticationError]() [AuthorizationError]() [HeaderError]() [InternalError]() [QuotaError]() [RequestError]()",
              "flatPath": "v23/customers/{customersId}/thirdPartyAppAnalyticsLinks/{thirdPartyAppAnalyticsLinksId}:regenerateShareableLinkId",
              "parameterOrder": [
                "resourceName"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/doubleclicksearch"
              ],
              "httpMethod": "POST",
              "path": "v23/{+resourceName}:regenerateShareableLinkId",
              "response": {
                "$ref": "GoogleAdsSearchads360V23Services__RegenerateShareableLinkIdResponse"
              }
            }
          }
        },
        "billingSetups": {
          "methods": {
            "mutate": {
              "path": "v23/customers/{+customerId}/billingSetups:mutate",
              "httpMethod": "POST",
              "flatPath": "v23/customers/{customersId}/billingSetups:mutate",
              "response": {
                "$ref": "GoogleAdsSearchads360V23Services__MutateBillingSetupResponse"
              },
              "id": "searchads360.customers.billingSetups.mutate",
              "request": {
                "$ref": "GoogleAdsSearchads360V23Services__MutateBillingSetupRequest"
              },
              "parameters": {
                "customerId": {
                  "pattern": "^[^/]+$",
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "description": "Required. Id of the customer to apply the billing setup mutate operation to."
                }
              },
              "parameterOrder": [
                "customerId"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/doubleclicksearch"
              ],
              "description": "Creates a billing setup, or cancels an existing billing setup. List of thrown errors: [AuthenticationError]() [AuthorizationError]() [BillingSetupError]() [DateError]() [FieldError]() [HeaderError]() [InternalError]() [MutateError]() [QuotaError]() [RequestError]()"
            }
          }
        },
        "recommendations": {
          "methods": {
            "generate": {
              "request": {
                "$ref": "GoogleAdsSearchads360V23Services__GenerateRecommendationsRequest"
              },
              "id": "searchads360.customers.recommendations.generate",
              "parameters": {
                "customerId": {
                  "pattern": "^[^/]+$",
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "description": "Required. The ID of the customer generating recommendations."
                }
              },
              "path": "v23/customers/{+customerId}/recommendations:generate",
              "description": "Generates Recommendations based off the requested recommendation_types. List of thrown errors: [AuthenticationError]() [AuthorizationError]() [HeaderError]() [InternalError]() [QuotaError]() [RecommendationError]() [RequestError]()",
              "parameterOrder": [
                "customerId"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/doubleclicksearch"
              ],
              "flatPath": "v23/customers/{customersId}/recommendations:generate",
              "httpMethod": "POST",
              "response": {
                "$ref": "GoogleAdsSearchads360V23Services__GenerateRecommendationsResponse"
              }
            },
            "dismiss": {
              "response": {
                "$ref": "GoogleAdsSearchads360V23Services__DismissRecommendationResponse"
              },
              "parameterOrder": [
                "customerId"
              ],
              "id": "searchads360.customers.recommendations.dismiss",
              "parameters": {
                "customerId": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "pattern": "^[^/]+$",
                  "description": "Required. The ID of the customer with the recommendation."
                }
              },
              "flatPath": "v23/customers/{customersId}/recommendations:dismiss",
              "path": "v23/customers/{+customerId}/recommendations:dismiss",
              "scopes": [
                "https://www.googleapis.com/auth/doubleclicksearch"
              ],
              "description": "Dismisses given recommendations. List of thrown errors: [AuthenticationError]() [AuthorizationError]() [HeaderError]() [InternalError]() [QuotaError]() [RecommendationError]() [RequestError]()",
              "request": {
                "$ref": "GoogleAdsSearchads360V23Services__DismissRecommendationRequest"
              },
              "httpMethod": "POST"
            },
            "apply": {
              "response": {
                "$ref": "GoogleAdsSearchads360V23Services__ApplyRecommendationResponse"
              },
              "request": {
                "$ref": "GoogleAdsSearchads360V23Services__ApplyRecommendationRequest"
              },
              "flatPath": "v23/customers/{customersId}/recommendations:apply",
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/doubleclicksearch"
              ],
              "description": "Applies given recommendations with corresponding apply parameters. List of thrown errors: [AuthenticationError]() [AuthorizationError]() [DatabaseError]() [FieldError]() [HeaderError]() [InternalError]() [MutateError]() [QuotaError]() [RecommendationError]() [RequestError]() [UrlFieldError]()",
              "path": "v23/customers/{+customerId}/recommendations:apply",
              "id": "searchads360.customers.recommendations.apply",
              "parameterOrder": [
                "customerId"
              ],
              "parameters": {
                "customerId": {
                  "description": "Required. The ID of the customer with the recommendation.",
                  "type": "string",
                  "location": "path",
                  "pattern": "^[^/]+$",
                  "required": true
                }
              }
            }
          }
        },
        "customerAssetSets": {
          "methods": {
            "mutate": {
              "scopes": [
                "https://www.googleapis.com/auth/doubleclicksearch"
              ],
              "parameters": {
                "customerId": {
                  "type": "string",
                  "required": true,
                  "location": "path",
                  "pattern": "^[^/]+$",
                  "description": "Required. The ID of the customer whose customer asset sets are being modified."
                }
              },
              "id": "searchads360.customers.customerAssetSets.mutate",
              "flatPath": "v23/customers/{customersId}/customerAssetSets:mutate",
              "request": {
                "$ref": "GoogleAdsSearchads360V23Services__MutateCustomerAssetSetsRequest"
              },
              "response": {
                "$ref": "GoogleAdsSearchads360V23Services__MutateCustomerAssetSetsResponse"
              },
              "httpMethod": "POST",
              "path": "v23/customers/{+customerId}/customerAssetSets:mutate",
              "description": "Creates, or removes customer asset sets. Operation statuses are returned.",
              "parameterOrder": [
                "customerId"
              ]
            }
          }
        },
        "invoices": {
          "methods": {
            "list": {
              "scopes": [
                "https://www.googleapis.com/auth/doubleclicksearch"
              ],
              "response": {
                "$ref": "GoogleAdsSearchads360V23Services__ListInvoicesResponse"
              },
              "description": "Returns all invoices associated with a billing setup, for a given month. List of thrown errors: [AuthenticationError]() [AuthorizationError]() [FieldError]() [HeaderError]() [InternalError]() [InvoiceError]() [QuotaError]() [RequestError]()",
              "flatPath": "v23/customers/{customersId}/invoices",
              "httpMethod": "GET",
              "path": "v23/customers/{+customerId}/invoices",
              "parameterOrder": [
                "customerId"
              ],
              "id": "searchads360.customers.invoices.list",
              "parameters": {
                "issueYear": {
                  "location": "query",
                  "type": "string",
                  "description": "Required. The issue year to retrieve invoices, in yyyy format. Only invoices issued in 2019 or later can be retrieved."
                },
                "billingSetup": {
                  "description": "Required. The billing setup resource name of the requested invoices. `customers/{customer_id}/billingSetups/{billing_setup_id}`",
                  "location": "query",
                  "type": "string"
                },
                "customerId": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "Required. The ID of the customer to fetch invoices for.",
                  "pattern": "^[^/]+$"
                },
                "issueMonth": {
                  "enumDescriptions": [
                    "Not specified.",
                    "The value is unknown in this version.",
                    "January.",
                    "February.",
                    "March.",
                    "April.",
                    "May.",
                    "June.",
                    "July.",
                    "August.",
                    "September.",
                    "October.",
                    "November.",
                    "December."
                  ],
                  "type": "string",
                  "enum": [
                    "UNSPECIFIED",
                    "UNKNOWN",
                    "JANUARY",
                    "FEBRUARY",
                    "MARCH",
                    "APRIL",
                    "MAY",
                    "JUNE",
                    "JULY",
                    "AUGUST",
                    "SEPTEMBER",
                    "OCTOBER",
                    "NOVEMBER",
                    "DECEMBER"
                  ],
                  "description": "Required. The issue month to retrieve invoices.",
                  "location": "query"
                },
                "includeGranularLevelInvoiceDetails": {
                  "location": "query",
                  "description": "Optional. When true, the response will include more granular level invoice details such as campaign level cost breakdown, itemized regulatory costs and adjustments. The default value is false.",
                  "type": "boolean"
                }
              }
            }
          }
        },
        "conversionGoalCampaignConfigs": {
          "methods": {
            "mutate": {
              "response": {
                "$ref": "GoogleAdsSearchads360V23Services__MutateConversionGoalCampaignConfigsResponse"
              },
              "path": "v23/customers/{+customerId}/conversionGoalCampaignConfigs:mutate",
              "id": "searchads360.customers.conversionGoalCampaignConfigs.mutate",
              "parameters": {
                "customerId": {
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "pattern": "^[^/]+$",
                  "description": "Required. The ID of the customer whose custom conversion goals are being modified."
                }
              },
              "description": "Creates, updates or removes conversion goal campaign config. Operation statuses are returned.",
              "flatPath": "v23/customers/{customersId}/conversionGoalCampaignConfigs:mutate",
              "scopes": [
                "https://www.googleapis.com/auth/doubleclicksearch"
              ],
              "request": {
                "$ref": "GoogleAdsSearchads360V23Services__MutateConversionGoalCampaignConfigsRequest"
              },
              "httpMethod": "POST",
              "parameterOrder": [
                "customerId"
              ]
            }
          }
        },
        "customerConversionGoals": {
          "methods": {
            "mutate": {
              "request": {
                "$ref": "GoogleAdsSearchads360V23Services__MutateCustomerConversionGoalsRequest"
              },
              "parameters": {
                "customerId": {
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "description": "Required. The ID of the customer whose customer conversion goals are being modified.",
                  "pattern": "^[^/]+$"
                }
              },
              "parameterOrder": [
                "customerId"
              ],
              "id": "searchads360.customers.customerConversionGoals.mutate",
              "path": "v23/customers/{+customerId}/customerConversionGoals:mutate",
              "scopes": [
                "https://www.googleapis.com/auth/doubleclicksearch"
              ],
              "flatPath": "v23/customers/{customersId}/customerConversionGoals:mutate",
              "httpMethod": "POST",
              "description": "Creates, updates or removes customer conversion goals. Operation statuses are returned.",
              "response": {
                "$ref": "GoogleAdsSearchads360V23Services__MutateCustomerConversionGoalsResponse"
              }
            }
          }
        },
        "keywordPlanCampaignKeywords": {
          "methods": {
            "mutate": {
              "flatPath": "v23/customers/{customersId}/keywordPlanCampaignKeywords:mutate",
              "request": {
                "$ref": "GoogleAdsSearchads360V23Services__MutateKeywordPlanCampaignKeywordsRequest"
              },
              "description": "Creates, updates, or removes Keyword Plan campaign keywords. Operation statuses are returned. List of thrown errors: [AuthenticationError]() [AuthorizationError]() [DatabaseError]() [FieldError]() [HeaderError]() [InternalError]() [KeywordPlanAdGroupKeywordError]() [KeywordPlanCampaignKeywordError]() [QuotaError]() [RequestError]() [ResourceCountLimitExceededError]()",
              "scopes": [
                "https://www.googleapis.com/auth/doubleclicksearch"
              ],
              "httpMethod": "POST",
              "response": {
                "$ref": "GoogleAdsSearchads360V23Services__MutateKeywordPlanCampaignKeywordsResponse"
              },
              "id": "searchads360.customers.keywordPlanCampaignKeywords.mutate",
              "parameters": {
                "customerId": {
                  "type": "string",
                  "pattern": "^[^/]+$",
                  "required": true,
                  "location": "path",
                  "description": "Required. The ID of the customer whose campaign keywords are being modified."
                }
              },
              "path": "v23/customers/{+customerId}/keywordPlanCampaignKeywords:mutate",
              "parameterOrder": [
                "customerId"
              ]
            }
          }
        },
        "adGroups": {
          "methods": {
            "mutate": {
              "description": "Creates, updates, or removes ad groups. Operation statuses are returned. List of thrown errors: [AdGroupError]() [AdxError]() [AuthenticationError]() [AuthorizationError]() [BiddingError]() [BiddingStrategyError]() [DatabaseError]() [DateError]() [DistinctError]() [FieldError]() [FieldMaskError]() [HeaderError]() [IdError]() [InternalError]() [ListOperationError]() [MultiplierError]() [MutateError]() [NewResourceCreationError]() [NotEmptyError]() [NullError]() [OperationAccessDeniedError]() [OperatorError]() [QuotaError]() [RangeError]() [RequestError]() [ResourceCountLimitExceededError]() [SettingError]() [SizeLimitError]() [StringFormatError]() [StringLengthError]() [UrlFieldError]()",
              "id": "searchads360.customers.adGroups.mutate",
              "parameters": {
                "customerId": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "Required. The ID of the customer whose ad groups are being modified.",
                  "pattern": "^[^/]+$"
                }
              },
              "path": "v23/customers/{+customerId}/adGroups:mutate",
              "scopes": [
                "https://www.googleapis.com/auth/doubleclicksearch"
              ],
              "request": {
                "$ref": "GoogleAdsSearchads360V23Services__MutateAdGroupsRequest"
              },
              "parameterOrder": [
                "customerId"
              ],
              "response": {
                "$ref": "GoogleAdsSearchads360V23Services__MutateAdGroupsResponse"
              },
              "flatPath": "v23/customers/{customersId}/adGroups:mutate",
              "httpMethod": "POST"
            }
          }
        },
        "adGroupCriterionLabels": {
          "methods": {
            "mutate": {
              "parameters": {
                "customerId": {
                  "description": "Required. ID of the customer whose ad group criterion labels are being modified.",
                  "location": "path",
                  "type": "string",
                  "pattern": "^[^/]+$",
                  "required": true
                }
              },
              "description": "Creates and removes ad group criterion labels. Operation statuses are returned. List of thrown errors: [AuthenticationError]() [AuthorizationError]() [DatabaseError]() [FieldError]() [HeaderError]() [InternalError]() [QuotaError]() [RequestError]()",
              "scopes": [
                "https://www.googleapis.com/auth/doubleclicksearch"
              ],
              "flatPath": "v23/customers/{customersId}/adGroupCriterionLabels:mutate",
              "httpMethod": "POST",
              "path": "v23/customers/{+customerId}/adGroupCriterionLabels:mutate",
              "parameterOrder": [
                "customerId"
              ],
              "request": {
                "$ref": "GoogleAdsSearchads360V23Services__MutateAdGroupCriterionLabelsRequest"
              },
              "id": "searchads360.customers.adGroupCriterionLabels.mutate",
              "response": {
                "$ref": "GoogleAdsSearchads360V23Services__MutateAdGroupCriterionLabelsResponse"
              }
            }
          }
        },
        "audiences": {
          "methods": {
            "mutate": {
              "flatPath": "v23/customers/{customersId}/audiences:mutate",
              "parameters": {
                "customerId": {
                  "required": true,
                  "pattern": "^[^/]+$",
                  "description": "Required. The ID of the customer whose audiences are being modified.",
                  "location": "path",
                  "type": "string"
                }
              },
              "path": "v23/customers/{+customerId}/audiences:mutate",
              "request": {
                "$ref": "GoogleAdsSearchads360V23Services__MutateAudiencesRequest"
              },
              "response": {
                "$ref": "GoogleAdsSearchads360V23Services__MutateAudiencesResponse"
              },
              "description": "Creates audiences. Operation statuses are returned. List of thrown errors: [AudienceError]()",
              "scopes": [
                "https://www.googleapis.com/auth/doubleclicksearch"
              ],
              "parameterOrder": [
                "customerId"
              ],
              "id": "searchads360.customers.audiences.mutate",
              "httpMethod": "POST"
            }
          }
        },
        "remarketingActions": {
          "methods": {
            "mutate": {
              "parameterOrder": [
                "customerId"
              ],
              "request": {
                "$ref": "GoogleAdsSearchads360V23Services__MutateRemarketingActionsRequest"
              },
              "path": "v23/customers/{+customerId}/remarketingActions:mutate",
              "description": "Creates or updates remarketing actions. Operation statuses are returned. List of thrown errors: [AuthenticationError]() [AuthorizationError]() [ConversionActionError]() [HeaderError]() [InternalError]() [QuotaError]() [RequestError]()",
              "httpMethod": "POST",
              "flatPath": "v23/customers/{customersId}/remarketingActions:mutate",
              "scopes": [
                "https://www.googleapis.com/auth/doubleclicksearch"
              ],
              "id": "searchads360.customers.remarketingActions.mutate",
              "parameters": {
                "customerId": {
                  "type": "string",
                  "pattern": "^[^/]+$",
                  "required": true,
                  "description": "Required. The ID of the customer whose remarketing actions are being modified.",
                  "location": "path"
                }
              },
              "response": {
                "$ref": "GoogleAdsSearchads360V23Services__MutateRemarketingActionsResponse"
              }
            }
          }
        },
        "campaignAssets": {
          "methods": {
            "mutate": {
              "httpMethod": "POST",
              "parameters": {
                "customerId": {
                  "type": "string",
                  "required": true,
                  "pattern": "^[^/]+$",
                  "location": "path",
                  "description": "Required. The ID of the customer whose campaign assets are being modified."
                }
              },
              "id": "searchads360.customers.campaignAssets.mutate",
              "request": {
                "$ref": "GoogleAdsSearchads360V23Services__MutateCampaignAssetsRequest"
              },
              "description": "Creates or removes campaign assets. Operation statuses are returned. List of thrown errors: [AssetLinkError]() [AuthenticationError]() [AuthorizationError]() [ContextError]() [DatabaseError]() [FieldError]() [HeaderError]() [InternalError]() [MutateError]() [NotAllowlistedError]() [QuotaError]() [RequestError]()",
              "flatPath": "v23/customers/{customersId}/campaignAssets:mutate",
              "response": {
                "$ref": "GoogleAdsSearchads360V23Services__MutateCampaignAssetsResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/doubleclicksearch"
              ],
              "path": "v23/customers/{+customerId}/campaignAssets:mutate",
              "parameterOrder": [
                "customerId"
              ]
            }
          }
        },
        "customInterests": {
          "methods": {
            "mutate": {
              "parameters": {
                "customerId": {
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "pattern": "^[^/]+$",
                  "description": "Required. The ID of the customer whose custom interests are being modified."
                }
              },
              "description": "Creates or updates custom interests. Operation statuses are returned. List of thrown errors: [AuthenticationError]() [AuthorizationError]() [CriterionError]() [CustomInterestError]() [HeaderError]() [InternalError]() [MutateError]() [PolicyViolationError]() [QuotaError]() [RequestError]() [StringLengthError]()",
              "path": "v23/customers/{+customerId}/customInterests:mutate",
              "request": {
                "$ref": "GoogleAdsSearchads360V23Services__MutateCustomInterestsRequest"
              },
              "flatPath": "v23/customers/{customersId}/customInterests:mutate",
              "id": "searchads360.customers.customInterests.mutate",
              "parameterOrder": [
                "customerId"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/doubleclicksearch"
              ],
              "httpMethod": "POST",
              "response": {
                "$ref": "GoogleAdsSearchads360V23Services__MutateCustomInterestsResponse"
              }
            }
          }
        },
        "adGroupAssetSets": {
          "methods": {
            "mutate": {
              "parameterOrder": [
                "customerId"
              ],
              "id": "searchads360.customers.adGroupAssetSets.mutate",
              "parameters": {
                "customerId": {
                  "description": "Required. The ID of the customer whose ad group asset sets are being modified.",
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "pattern": "^[^/]+$"
                }
              },
              "flatPath": "v23/customers/{customersId}/adGroupAssetSets:mutate",
              "description": "Creates, or removes ad group asset sets. Operation statuses are returned.",
              "path": "v23/customers/{+customerId}/adGroupAssetSets:mutate",
              "request": {
                "$ref": "GoogleAdsSearchads360V23Services__MutateAdGroupAssetSetsRequest"
              },
              "scopes": [
                "https://www.googleapis.com/auth/doubleclicksearch"
              ],
              "response": {
                "$ref": "GoogleAdsSearchads360V23Services__MutateAdGroupAssetSetsResponse"
              },
              "httpMethod": "POST"
            }
          }
        },
        "smartCampaignSettings": {
          "methods": {
            "mutate": {
              "request": {
                "$ref": "GoogleAdsSearchads360V23Services__MutateSmartCampaignSettingsRequest"
              },
              "parameterOrder": [
                "customerId"
              ],
              "response": {
                "$ref": "GoogleAdsSearchads360V23Services__MutateSmartCampaignSettingsResponse"
              },
              "httpMethod": "POST",
              "flatPath": "v23/customers/{customersId}/smartCampaignSettings:mutate",
              "id": "searchads360.customers.smartCampaignSettings.mutate",
              "description": "Updates Smart campaign settings for campaigns.",
              "scopes": [
                "https://www.googleapis.com/auth/doubleclicksearch"
              ],
              "path": "v23/customers/{+customerId}/smartCampaignSettings:mutate",
              "parameters": {
                "customerId": {
                  "required": true,
                  "pattern": "^[^/]+$",
                  "location": "path",
                  "description": "Required. The ID of the customer whose Smart campaign settings are being modified.",
                  "type": "string"
                }
              }
            },
            "getSmartCampaignStatus": {
              "scopes": [
                "https://www.googleapis.com/auth/doubleclicksearch"
              ],
              "httpMethod": "GET",
              "flatPath": "v23/customers/{customersId}/smartCampaignSettings/{smartCampaignSettingsId}:getSmartCampaignStatus",
              "response": {
                "$ref": "GoogleAdsSearchads360V23Services__GetSmartCampaignStatusResponse"
              },
              "description": "Returns the status of the requested Smart campaign.",
              "id": "searchads360.customers.smartCampaignSettings.getSmartCampaignStatus",
              "parameters": {
                "resourceName": {
                  "pattern": "^customers/[^/]+/smartCampaignSettings/[^/]+$",
                  "type": "string",
                  "description": "Required. The resource name of the Smart campaign setting belonging to the Smart campaign to fetch the status of.",
                  "required": true,
                  "location": "path"
                }
              },
              "parameterOrder": [
                "resourceName"
              ],
              "path": "v23/{+resourceName}:getSmartCampaignStatus"
            }
          }
        },
        "assetSets": {
          "methods": {
            "mutate": {
              "httpMethod": "POST",
              "response": {
                "$ref": "GoogleAdsSearchads360V23Services__MutateAssetSetsResponse"
              },
              "parameters": {
                "customerId": {
                  "type": "string",
                  "location": "path",
                  "pattern": "^[^/]+$",
                  "description": "Required. The ID of the customer whose asset sets are being modified.",
                  "required": true
                }
              },
              "parameterOrder": [
                "customerId"
              ],
              "description": "Creates, updates or removes asset sets. Operation statuses are returned.",
              "request": {
                "$ref": "GoogleAdsSearchads360V23Services__MutateAssetSetsRequest"
              },
              "scopes": [
                "https://www.googleapis.com/auth/doubleclicksearch"
              ],
              "id": "searchads360.customers.assetSets.mutate",
              "path": "v23/customers/{+customerId}/assetSets:mutate",
              "flatPath": "v23/customers/{customersId}/assetSets:mutate"
            }
          }
        },
        "assetGroups": {
          "methods": {
            "mutate": {
              "flatPath": "v23/customers/{customersId}/assetGroups:mutate",
              "request": {
                "$ref": "GoogleAdsSearchads360V23Services__MutateAssetGroupsRequest"
              },
              "httpMethod": "POST",
              "parameterOrder": [
                "customerId"
              ],
              "response": {
                "$ref": "GoogleAdsSearchads360V23Services__MutateAssetGroupsResponse"
              },
              "description": "Creates, updates or removes asset groups. Operation statuses are returned.",
              "scopes": [
                "https://www.googleapis.com/auth/doubleclicksearch"
              ],
              "parameters": {
                "customerId": {
                  "required": true,
                  "pattern": "^[^/]+$",
                  "location": "path",
                  "description": "Required. The ID of the customer whose asset groups are being modified.",
                  "type": "string"
                }
              },
              "path": "v23/customers/{+customerId}/assetGroups:mutate",
              "id": "searchads360.customers.assetGroups.mutate"
            }
          }
        },
        "campaignAssetSets": {
          "methods": {
            "mutate": {
              "parameterOrder": [
                "customerId"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/doubleclicksearch"
              ],
              "parameters": {
                "customerId": {
                  "pattern": "^[^/]+$",
                  "location": "path",
                  "description": "Required. The ID of the customer whose campaign asset sets are being modified.",
                  "type": "string",
                  "required": true
                }
              },
              "description": "Creates, updates or removes campaign asset sets. Operation statuses are returned.",
              "response": {
                "$ref": "GoogleAdsSearchads360V23Services__MutateCampaignAssetSetsResponse"
              },
              "httpMethod": "POST",
              "request": {
                "$ref": "GoogleAdsSearchads360V23Services__MutateCampaignAssetSetsRequest"
              },
              "id": "searchads360.customers.campaignAssetSets.mutate",
              "path": "v23/customers/{+customerId}/campaignAssetSets:mutate",
              "flatPath": "v23/customers/{customersId}/campaignAssetSets:mutate"
            }
          }
        },
        "localServices": {
          "methods": {
            "appendLeadConversation": {
              "flatPath": "v23/customers/{customersId}/localServices:appendLeadConversation",
              "request": {
                "$ref": "GoogleAdsSearchads360V23Services__AppendLeadConversationRequest"
              },
              "parameters": {
                "customerId": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "Required. The Id of the customer which owns the leads onto which the conversations will be appended.",
                  "pattern": "^[^/]+$"
                }
              },
              "parameterOrder": [
                "customerId"
              ],
              "response": {
                "$ref": "GoogleAdsSearchads360V23Services__AppendLeadConversationResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/doubleclicksearch"
              ],
              "description": "RPC to append Local Services Lead Conversation resources to Local Services Lead resources.",
              "httpMethod": "POST",
              "id": "searchads360.customers.localServices.appendLeadConversation",
              "path": "v23/customers/{+customerId}/localServices:appendLeadConversation"
            }
          }
        },
        "experimentArms": {
          "methods": {
            "mutate": {
              "parameterOrder": [
                "customerId"
              ],
              "id": "searchads360.customers.experimentArms.mutate",
              "request": {
                "$ref": "GoogleAdsSearchads360V23Services__MutateExperimentArmsRequest"
              },
              "parameters": {
                "customerId": {
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "pattern": "^[^/]+$",
                  "description": "Required. The ID of the customer whose experiments are being modified."
                }
              },
              "path": "v23/customers/{+customerId}/experimentArms:mutate",
              "scopes": [
                "https://www.googleapis.com/auth/doubleclicksearch"
              ],
              "response": {
                "$ref": "GoogleAdsSearchads360V23Services__MutateExperimentArmsResponse"
              },
              "description": "Creates, updates, or removes experiment arms. Operation statuses are returned. List of thrown errors: [AuthenticationError]() [AuthorizationError]() [ExperimentArmError]() [HeaderError]() [InternalError]() [QuotaError]() [RequestError]()",
              "httpMethod": "POST",
              "flatPath": "v23/customers/{customersId}/experimentArms:mutate"
            }
          }
        },
        "adGroupBidModifiers": {
          "methods": {
            "mutate": {
              "id": "searchads360.customers.adGroupBidModifiers.mutate",
              "parameters": {
                "customerId": {
                  "location": "path",
                  "description": "Required. ID of the customer whose ad group bid modifiers are being modified.",
                  "required": true,
                  "type": "string",
                  "pattern": "^[^/]+$"
                }
              },
              "path": "v23/customers/{+customerId}/adGroupBidModifiers:mutate",
              "scopes": [
                "https://www.googleapis.com/auth/doubleclicksearch"
              ],
              "request": {
                "$ref": "GoogleAdsSearchads360V23Services__MutateAdGroupBidModifiersRequest"
              },
              "response": {
                "$ref": "GoogleAdsSearchads360V23Services__MutateAdGroupBidModifiersResponse"
              },
              "description": "Creates, updates, or removes ad group bid modifiers. Operation statuses are returned. List of thrown errors: [AdGroupBidModifierError]() [AuthenticationError]() [AuthorizationError]() [ContextError]() [CriterionError]() [DatabaseError]() [DistinctError]() [FieldError]() [FieldMaskError]() [HeaderError]() [IdError]() [InternalError]() [MutateError]() [NewResourceCreationError]() [NotEmptyError]() [OperatorError]() [QuotaError]() [RangeError]() [RequestError]() [ResourceCountLimitExceededError]() [SizeLimitError]() [StringFormatError]() [StringLengthError]()",
              "flatPath": "v23/customers/{customersId}/adGroupBidModifiers:mutate",
              "parameterOrder": [
                "customerId"
              ],
              "httpMethod": "POST"
            }
          }
        },
        "sharedSets": {
          "methods": {
            "mutate": {
              "path": "v23/customers/{+customerId}/sharedSets:mutate",
              "flatPath": "v23/customers/{customersId}/sharedSets:mutate",
              "scopes": [
                "https://www.googleapis.com/auth/doubleclicksearch"
              ],
              "httpMethod": "POST",
              "parameterOrder": [
                "customerId"
              ],
              "response": {
                "$ref": "GoogleAdsSearchads360V23Services__MutateSharedSetsResponse"
              },
              "description": "Creates, updates, or removes shared sets. Operation statuses are returned. List of thrown errors: [AuthenticationError]() [AuthorizationError]() [DatabaseError]() [DateError]() [DistinctError]() [FieldError]() [FieldMaskError]() [HeaderError]() [IdError]() [InternalError]() [MutateError]() [NewResourceCreationError]() [NotEmptyError]() [NullError]() [OperatorError]() [QuotaError]() [RangeError]() [RequestError]() [ResourceCountLimitExceededError]() [SharedSetError]() [SizeLimitError]() [StringFormatError]() [StringLengthError]()",
              "request": {
                "$ref": "GoogleAdsSearchads360V23Services__MutateSharedSetsRequest"
              },
              "parameters": {
                "customerId": {
                  "location": "path",
                  "pattern": "^[^/]+$",
                  "required": true,
                  "description": "Required. The ID of the customer whose shared sets are being modified.",
                  "type": "string"
                }
              },
              "id": "searchads360.customers.sharedSets.mutate"
            }
          }
        },
        "campaignCriteria": {
          "methods": {
            "mutate": {
              "parameterOrder": [
                "customerId"
              ],
              "description": "Creates, updates, or removes criteria. Operation statuses are returned. List of thrown errors: [AdxError]() [AuthenticationError]() [AuthorizationError]() [CampaignCriterionError]() [CollectionSizeError]() [ContextError]() [CriterionError]() [DatabaseError]() [DistinctError]() [FieldError]() [FieldMaskError]() [FunctionError]() [HeaderError]() [IdError]() [InternalError]() [MutateError]() [NewResourceCreationError]() [NotEmptyError]() [NullError]() [OperationAccessDeniedError]() [OperatorError]() [QuotaError]() [RangeError]() [RegionCodeError]() [RequestError]() [ResourceCountLimitExceededError]() [SizeLimitError]() [StringFormatError]() [StringLengthError]()",
              "response": {
                "$ref": "GoogleAdsSearchads360V23Services__MutateCampaignCriteriaResponse"
              },
              "flatPath": "v23/customers/{customersId}/campaignCriteria:mutate",
              "scopes": [
                "https://www.googleapis.com/auth/doubleclicksearch"
              ],
              "httpMethod": "POST",
              "path": "v23/customers/{+customerId}/campaignCriteria:mutate",
              "request": {
                "$ref": "GoogleAdsSearchads360V23Services__MutateCampaignCriteriaRequest"
              },
              "id": "searchads360.customers.campaignCriteria.mutate",
              "parameters": {
                "customerId": {
                  "pattern": "^[^/]+$",
                  "type": "string",
                  "required": true,
                  "description": "Required. The ID of the customer whose criteria are being modified.",
                  "location": "path"
                }
              }
            }
          }
        },
        "assetGroupAssets": {
          "methods": {
            "mutate": {
              "flatPath": "v23/customers/{customersId}/assetGroupAssets:mutate",
              "request": {
                "$ref": "GoogleAdsSearchads360V23Services__MutateAssetGroupAssetsRequest"
              },
              "response": {
                "$ref": "GoogleAdsSearchads360V23Services__MutateAssetGroupAssetsResponse"
              },
              "parameters": {
                "customerId": {
                  "type": "string",
                  "pattern": "^[^/]+$",
                  "required": true,
                  "description": "Required. The ID of the customer whose asset group assets are being modified.",
                  "location": "path"
                }
              },
              "id": "searchads360.customers.assetGroupAssets.mutate",
              "scopes": [
                "https://www.googleapis.com/auth/doubleclicksearch"
              ],
              "path": "v23/customers/{+customerId}/assetGroupAssets:mutate",
              "description": "Creates, updates or removes asset group assets. Operation statuses are returned.",
              "parameterOrder": [
                "customerId"
              ],
              "httpMethod": "POST"
            }
          }
        },
        "conversionValueRuleSets": {
          "methods": {
            "mutate": {
              "response": {
                "$ref": "GoogleAdsSearchads360V23Services__MutateConversionValueRuleSetsResponse"
              },
              "path": "v23/customers/{+customerId}/conversionValueRuleSets:mutate",
              "httpMethod": "POST",
              "flatPath": "v23/customers/{customersId}/conversionValueRuleSets:mutate",
              "description": "Creates, updates or removes conversion value rule sets. Operation statuses are returned.",
              "parameters": {
                "customerId": {
                  "description": "Required. The ID of the customer whose conversion value rule sets are being modified.",
                  "pattern": "^[^/]+$",
                  "type": "string",
                  "required": true,
                  "location": "path"
                }
              },
              "id": "searchads360.customers.conversionValueRuleSets.mutate",
              "request": {
                "$ref": "GoogleAdsSearchads360V23Services__MutateConversionValueRuleSetsRequest"
              },
              "parameterOrder": [
                "customerId"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/doubleclicksearch"
              ]
            }
          }
        },
        "assetGroupListingGroupFilters": {
          "methods": {
            "mutate": {
              "scopes": [
                "https://www.googleapis.com/auth/doubleclicksearch"
              ],
              "parameters": {
                "customerId": {
                  "type": "string",
                  "pattern": "^[^/]+$",
                  "description": "Required. The ID of the customer whose asset group listing group filters are being modified.",
                  "required": true,
                  "location": "path"
                }
              },
              "id": "searchads360.customers.assetGroupListingGroupFilters.mutate",
              "path": "v23/customers/{+customerId}/assetGroupListingGroupFilters:mutate",
              "flatPath": "v23/customers/{customersId}/assetGroupListingGroupFilters:mutate",
              "parameterOrder": [
                "customerId"
              ],
              "request": {
                "$ref": "GoogleAdsSearchads360V23Services__MutateAssetGroupListingGroupFiltersRequest"
              },
              "description": "Creates, updates or removes asset group listing group filters. Operation statuses are returned.",
              "response": {
                "$ref": "GoogleAdsSearchads360V23Services__MutateAssetGroupListingGroupFiltersResponse"
              },
              "httpMethod": "POST"
            }
          }
        },
        "adGroupCustomizers": {
          "methods": {
            "mutate": {
              "flatPath": "v23/customers/{customersId}/adGroupCustomizers:mutate",
              "request": {
                "$ref": "GoogleAdsSearchads360V23Services__MutateAdGroupCustomizersRequest"
              },
              "scopes": [
                "https://www.googleapis.com/auth/doubleclicksearch"
              ],
              "path": "v23/customers/{+customerId}/adGroupCustomizers:mutate",
              "parameterOrder": [
                "customerId"
              ],
              "description": "Creates, updates or removes ad group customizers. Operation statuses are returned.",
              "response": {
                "$ref": "GoogleAdsSearchads360V23Services__MutateAdGroupCustomizersResponse"
              },
              "id": "searchads360.customers.adGroupCustomizers.mutate",
              "httpMethod": "POST",
              "parameters": {
                "customerId": {
                  "pattern": "^[^/]+$",
                  "type": "string",
                  "required": true,
                  "location": "path",
                  "description": "Required. The ID of the customer whose ad group customizers are being modified."
                }
              }
            }
          }
        },
        "CampaignGoalConfigs": {
          "methods": {
            "mutate": {
              "parameters": {
                "customerId": {
                  "pattern": "^[^/]+$",
                  "required": true,
                  "description": "Required. The ID of the customer whose campaign goal configs are being modified.",
                  "type": "string",
                  "location": "path"
                }
              },
              "parameterOrder": [
                "customerId"
              ],
              "id": "searchads360.customers.CampaignGoalConfigs.mutate",
              "response": {
                "$ref": "GoogleAdsSearchads360V23Services__MutateCampaignGoalConfigsResponse"
              },
              "path": "v23/customers/{+customerId}/CampaignGoalConfigs:mutate",
              "httpMethod": "POST",
              "request": {
                "$ref": "GoogleAdsSearchads360V23Services__MutateCampaignGoalConfigsRequest"
              },
              "description": "Create or update campaign goal configs. List of thrown errors: [AuthenticationError]() [AuthorizationError]() [HeaderError]() [InternalError]() [QuotaError]() [RequestError]() [CampaignGoalConfigError]() [GoalServicesError]()",
              "flatPath": "v23/customers/{customersId}/CampaignGoalConfigs:mutate",
              "scopes": [
                "https://www.googleapis.com/auth/doubleclicksearch"
              ]
            }
          }
        },
        "localServicesLeads": {
          "methods": {
            "provideLeadFeedback": {
              "id": "searchads360.customers.localServicesLeads.provideLeadFeedback",
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/doubleclicksearch"
              ],
              "description": "RPC to provide feedback on Local Services Lead resources.",
              "path": "v23/{+resourceName}:provideLeadFeedback",
              "parameters": {
                "resourceName": {
                  "pattern": "^customers/[^/]+/localServicesLeads/[^/]+$",
                  "description": "Required. The resource name of the local services lead that for which the feedback is being provided.",
                  "required": true,
                  "location": "path",
                  "type": "string"
                }
              },
              "flatPath": "v23/customers/{customersId}/localServicesLeads/{localServicesLeadsId}:provideLeadFeedback",
              "response": {
                "$ref": "GoogleAdsSearchads360V23Services__ProvideLeadFeedbackResponse"
              },
              "request": {
                "$ref": "GoogleAdsSearchads360V23Services__ProvideLeadFeedbackRequest"
              },
              "parameterOrder": [
                "resourceName"
              ]
            }
          }
        },
        "campaignBudgets": {
          "methods": {
            "mutate": {
              "parameterOrder": [
                "customerId"
              ],
              "flatPath": "v23/customers/{customersId}/campaignBudgets:mutate",
              "request": {
                "$ref": "GoogleAdsSearchads360V23Services__MutateCampaignBudgetsRequest"
              },
              "scopes": [
                "https://www.googleapis.com/auth/doubleclicksearch"
              ],
              "response": {
                "$ref": "GoogleAdsSearchads360V23Services__MutateCampaignBudgetsResponse"
              },
              "httpMethod": "POST",
              "description": "Creates, updates, or removes campaign budgets. Operation statuses are returned. List of thrown errors: [AuthenticationError]() [AuthorizationError]() [CampaignBudgetError]() [DatabaseError]() [DistinctError]() [FieldError]() [FieldMaskError]() [HeaderError]() [InternalError]() [MutateError]() [NewResourceCreationError]() [OperationAccessDeniedError]() [QuotaError]() [RangeError]() [RequestError]() [ResourceCountLimitExceededError]() [StringLengthError]()",
              "id": "searchads360.customers.campaignBudgets.mutate",
              "path": "v23/customers/{+customerId}/campaignBudgets:mutate",
              "parameters": {
                "customerId": {
                  "type": "string",
                  "location": "path",
                  "description": "Required. The ID of the customer whose campaign budgets are being modified.",
                  "required": true,
                  "pattern": "^[^/]+$"
                }
              }
            }
          }
        },
        "keywordPlanCampaigns": {
          "methods": {
            "mutate": {
              "parameters": {
                "customerId": {
                  "description": "Required. The ID of the customer whose Keyword Plan campaigns are being modified.",
                  "pattern": "^[^/]+$",
                  "type": "string",
                  "required": true,
                  "location": "path"
                }
              },
              "id": "searchads360.customers.keywordPlanCampaigns.mutate",
              "flatPath": "v23/customers/{customersId}/keywordPlanCampaigns:mutate",
              "response": {
                "$ref": "GoogleAdsSearchads360V23Services__MutateKeywordPlanCampaignsResponse"
              },
              "description": "Creates, updates, or removes Keyword Plan campaigns. Operation statuses are returned. List of thrown errors: [AuthenticationError]() [AuthorizationError]() [DatabaseError]() [FieldError]() [FieldMaskError]() [HeaderError]() [InternalError]() [KeywordPlanCampaignError]() [KeywordPlanError]() [ListOperationError]() [MutateError]() [QuotaError]() [RangeError]() [RequestError]() [ResourceCountLimitExceededError]()",
              "path": "v23/customers/{+customerId}/keywordPlanCampaigns:mutate",
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/doubleclicksearch"
              ],
              "parameterOrder": [
                "customerId"
              ],
              "request": {
                "$ref": "GoogleAdsSearchads360V23Services__MutateKeywordPlanCampaignsRequest"
              }
            }
          }
        },
        "biddingDataExclusions": {
          "methods": {
            "mutate": {
              "parameters": {
                "customerId": {
                  "description": "Required. ID of the customer whose data exclusions are being modified.",
                  "location": "path",
                  "pattern": "^[^/]+$",
                  "type": "string",
                  "required": true
                }
              },
              "flatPath": "v23/customers/{customersId}/biddingDataExclusions:mutate",
              "response": {
                "$ref": "GoogleAdsSearchads360V23Services__MutateBiddingDataExclusionsResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/doubleclicksearch"
              ],
              "httpMethod": "POST",
              "request": {
                "$ref": "GoogleAdsSearchads360V23Services__MutateBiddingDataExclusionsRequest"
              },
              "description": "Creates, updates, or removes data exclusions. Operation statuses are returned.",
              "parameterOrder": [
                "customerId"
              ],
              "path": "v23/customers/{+customerId}/biddingDataExclusions:mutate",
              "id": "searchads360.customers.biddingDataExclusions.mutate"
            }
          }
        },
        "customerSkAdNetworkConversionValueSchemas": {
          "methods": {
            "mutate": {
              "request": {
                "$ref": "GoogleAdsSearchads360V23Services__MutateCustomerSkAdNetworkConversionValueSchemaRequest"
              },
              "path": "v23/customers/{+customerId}/customerSkAdNetworkConversionValueSchemas:mutate",
              "id": "searchads360.customers.customerSkAdNetworkConversionValueSchemas.mutate",
              "parameters": {
                "customerId": {
                  "pattern": "^[^/]+$",
                  "required": true,
                  "description": "The ID of the customer whose shared sets are being modified.",
                  "location": "path",
                  "type": "string"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/doubleclicksearch"
              ],
              "parameterOrder": [
                "customerId"
              ],
              "flatPath": "v23/customers/{customersId}/customerSkAdNetworkConversionValueSchemas:mutate",
              "response": {
                "$ref": "GoogleAdsSearchads360V23Services__MutateCustomerSkAdNetworkConversionValueSchemaResponse"
              },
              "httpMethod": "POST",
              "description": "Creates or updates the CustomerSkAdNetworkConversionValueSchema. List of thrown errors: [AuthenticationError]() [AuthorizationError]() [FieldError]() [InternalError]() [MutateError]()"
            }
          }
        },
        "customColumns": {
          "methods": {
            "get": {
              "parameters": {
                "resourceName": {
                  "type": "string",
                  "description": "Required. The resource name of the custom column to fetch.",
                  "pattern": "^customers/[^/]+/customColumns/[^/]+$",
                  "required": true,
                  "location": "path"
                }
              },
              "response": {
                "$ref": "GoogleAdsSearchads360V23Resources__CustomColumn"
              },
              "scopes": [
                "https://www.googleapis.com/auth/doubleclicksearch"
              ],
              "httpMethod": "GET",
              "path": "v23/{+resourceName}",
              "parameterOrder": [
                "resourceName"
              ],
              "id": "searchads360.customers.customColumns.get",
              "description": "Returns the requested custom column in full detail.",
              "flatPath": "v23/customers/{customersId}/customColumns/{customColumnsId}"
            },
            "list": {
              "scopes": [
                "https://www.googleapis.com/auth/doubleclicksearch"
              ],
              "httpMethod": "GET",
              "path": "v23/customers/{+customerId}/customColumns",
              "description": "Returns all the custom columns associated with the customer in full detail.",
              "response": {
                "$ref": "GoogleAdsSearchads360V23Services__ListCustomColumnsResponse"
              },
              "id": "searchads360.customers.customColumns.list",
              "flatPath": "v23/customers/{customersId}/customColumns",
              "parameters": {
                "customerId": {
                  "pattern": "^[^/]+$",
                  "required": true,
                  "location": "path",
                  "description": "Required. The ID of the customer to apply the CustomColumn list operation to.",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "customerId"
              ]
            }
          }
        },
        "offlineUserDataJobs": {
          "methods": {
            "addOperations": {
              "request": {
                "$ref": "GoogleAdsSearchads360V23Services__AddOfflineUserDataJobOperationsRequest"
              },
              "response": {
                "$ref": "GoogleAdsSearchads360V23Services__AddOfflineUserDataJobOperationsResponse"
              },
              "description": "Adds operations to the offline user data job. List of thrown errors: [AuthenticationError]() [AuthorizationError]() [DatabaseError]() [FieldError]() [HeaderError]() [InternalError]() [MutateError]() [OfflineUserDataJobError]() [QuotaError]() [RequestError]()",
              "parameterOrder": [
                "resourceName"
              ],
              "path": "v23/{+resourceName}:addOperations",
              "httpMethod": "POST",
              "flatPath": "v23/customers/{customersId}/offlineUserDataJobs/{offlineUserDataJobsId}:addOperations",
              "id": "searchads360.customers.offlineUserDataJobs.addOperations",
              "scopes": [
                "https://www.googleapis.com/auth/doubleclicksearch"
              ],
              "parameters": {
                "resourceName": {
                  "pattern": "^customers/[^/]+/offlineUserDataJobs/[^/]+$",
                  "description": "Required. The resource name of the OfflineUserDataJob.",
                  "required": true,
                  "location": "path",
                  "type": "string"
                }
              }
            },
            "create": {
              "parameters": {
                "customerId": {
                  "pattern": "^[^/]+$",
                  "type": "string",
                  "required": true,
                  "location": "path",
                  "description": "Required. The ID of the customer for which to create an offline user data job."
                }
              },
              "path": "v23/customers/{+customerId}/offlineUserDataJobs:create",
              "httpMethod": "POST",
              "request": {
                "$ref": "GoogleAdsSearchads360V23Services__CreateOfflineUserDataJobRequest"
              },
              "parameterOrder": [
                "customerId"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/doubleclicksearch"
              ],
              "description": "Creates an offline user data job. List of thrown errors: [AuthenticationError]() [AuthorizationError]() [DatabaseError]() [FieldError]() [HeaderError]() [InternalError]() [NotAllowlistedError]() [OfflineUserDataJobError]() [QuotaError]() [RequestError]()",
              "response": {
                "$ref": "GoogleAdsSearchads360V23Services__CreateOfflineUserDataJobResponse"
              },
              "flatPath": "v23/customers/{customersId}/offlineUserDataJobs:create",
              "id": "searchads360.customers.offlineUserDataJobs.create"
            },
            "run": {
              "scopes": [
                "https://www.googleapis.com/auth/doubleclicksearch"
              ],
              "parameters": {
                "resourceName": {
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "pattern": "^customers/[^/]+/offlineUserDataJobs/[^/]+$",
                  "description": "Required. The resource name of the OfflineUserDataJob to run."
                }
              },
              "description": "Runs the offline user data job. When finished, the long running operation will contain the processing result or failure information, if any. List of thrown errors: [AuthenticationError]() [AuthorizationError]() [DatabaseError]() [HeaderError]() [InternalError]() [OfflineUserDataJobError]() [QuotaError]() [RequestError]()",
              "request": {
                "$ref": "GoogleAdsSearchads360V23Services__RunOfflineUserDataJobRequest"
              },
              "parameterOrder": [
                "resourceName"
              ],
              "path": "v23/{+resourceName}:run",
              "httpMethod": "POST",
              "flatPath": "v23/customers/{customersId}/offlineUserDataJobs/{offlineUserDataJobsId}:run",
              "response": {
                "$ref": "GoogleLongrunning__Operation"
              },
              "id": "searchads360.customers.offlineUserDataJobs.run"
            }
          }
        },
        "adGroupLabels": {
          "methods": {
            "mutate": {
              "parameters": {
                "customerId": {
                  "type": "string",
                  "required": true,
                  "location": "path",
                  "pattern": "^[^/]+$",
                  "description": "Required. ID of the customer whose ad group labels are being modified."
                }
              },
              "response": {
                "$ref": "GoogleAdsSearchads360V23Services__MutateAdGroupLabelsResponse"
              },
              "path": "v23/customers/{+customerId}/adGroupLabels:mutate",
              "description": "Creates and removes ad group labels. Operation statuses are returned. List of thrown errors: [AuthenticationError]() [AuthorizationError]() [DatabaseError]() [FieldError]() [HeaderError]() [InternalError]() [LabelError]() [MutateError]() [NewResourceCreationError]() [QuotaError]() [RequestError]()",
              "flatPath": "v23/customers/{customersId}/adGroupLabels:mutate",
              "scopes": [
                "https://www.googleapis.com/auth/doubleclicksearch"
              ],
              "httpMethod": "POST",
              "request": {
                "$ref": "GoogleAdsSearchads360V23Services__MutateAdGroupLabelsRequest"
              },
              "id": "searchads360.customers.adGroupLabels.mutate",
              "parameterOrder": [
                "customerId"
              ]
            }
          }
        },
        "biddingStrategies": {
          "methods": {
            "mutate": {
              "parameterOrder": [
                "customerId"
              ],
              "httpMethod": "POST",
              "response": {
                "$ref": "GoogleAdsSearchads360V23Services__MutateBiddingStrategiesResponse"
              },
              "description": "Creates, updates, or removes bidding strategies. Operation statuses are returned. List of thrown errors: [AdxError]() [AuthenticationError]() [AuthorizationError]() [BiddingError]() [BiddingStrategyError]() [ContextError]() [DatabaseError]() [DateError]() [DistinctError]() [FieldError]() [FieldMaskError]() [HeaderError]() [IdError]() [InternalError]() [MutateError]() [NewResourceCreationError]() [NotEmptyError]() [NullError]() [OperationAccessDeniedError]() [OperatorError]() [QuotaError]() [RangeError]() [RequestError]() [SizeLimitError]() [StringFormatError]() [StringLengthError]()",
              "request": {
                "$ref": "GoogleAdsSearchads360V23Services__MutateBiddingStrategiesRequest"
              },
              "id": "searchads360.customers.biddingStrategies.mutate",
              "scopes": [
                "https://www.googleapis.com/auth/doubleclicksearch"
              ],
              "parameters": {
                "customerId": {
                  "location": "path",
                  "type": "string",
                  "description": "Required. The ID of the customer whose bidding strategies are being modified.",
                  "required": true,
                  "pattern": "^[^/]+$"
                }
              },
              "flatPath": "v23/customers/{customersId}/biddingStrategies:mutate",
              "path": "v23/customers/{+customerId}/biddingStrategies:mutate"
            }
          }
        },
        "conversionValueRules": {
          "methods": {
            "mutate": {
              "parameters": {
                "customerId": {
                  "description": "Required. The ID of the customer whose conversion value rules are being modified.",
                  "type": "string",
                  "required": true,
                  "pattern": "^[^/]+$",
                  "location": "path"
                }
              },
              "parameterOrder": [
                "customerId"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/doubleclicksearch"
              ],
              "request": {
                "$ref": "GoogleAdsSearchads360V23Services__MutateConversionValueRulesRequest"
              },
              "path": "v23/customers/{+customerId}/conversionValueRules:mutate",
              "response": {
                "$ref": "GoogleAdsSearchads360V23Services__MutateConversionValueRulesResponse"
              },
              "flatPath": "v23/customers/{customersId}/conversionValueRules:mutate",
              "description": "Creates, updates, or removes conversion value rules. Operation statuses are returned.",
              "httpMethod": "POST",
              "id": "searchads360.customers.conversionValueRules.mutate"
            }
          }
        },
        "adGroupAdLabels": {
          "methods": {
            "mutate": {
              "parameters": {
                "customerId": {
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "pattern": "^[^/]+$",
                  "description": "Required. ID of the customer whose ad group ad labels are being modified."
                }
              },
              "response": {
                "$ref": "GoogleAdsSearchads360V23Services__MutateAdGroupAdLabelsResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/doubleclicksearch"
              ],
              "id": "searchads360.customers.adGroupAdLabels.mutate",
              "path": "v23/customers/{+customerId}/adGroupAdLabels:mutate",
              "httpMethod": "POST",
              "request": {
                "$ref": "GoogleAdsSearchads360V23Services__MutateAdGroupAdLabelsRequest"
              },
              "parameterOrder": [
                "customerId"
              ],
              "description": "Creates and removes ad group ad labels. Operation statuses are returned. List of thrown errors: [AuthenticationError]() [AuthorizationError]() [DatabaseError]() [HeaderError]() [InternalError]() [LabelError]() [MutateError]() [NewResourceCreationError]() [QuotaError]() [RequestError]()",
              "flatPath": "v23/customers/{customersId}/adGroupAdLabels:mutate"
            }
          }
        },
        "labels": {
          "methods": {
            "mutate": {
              "parameters": {
                "customerId": {
                  "type": "string",
                  "pattern": "^[^/]+$",
                  "description": "Required. ID of the customer whose labels are being modified.",
                  "location": "path",
                  "required": true
                }
              },
              "response": {
                "$ref": "GoogleAdsSearchads360V23Services__MutateLabelsResponse"
              },
              "flatPath": "v23/customers/{customersId}/labels:mutate",
              "scopes": [
                "https://www.googleapis.com/auth/doubleclicksearch"
              ],
              "path": "v23/customers/{+customerId}/labels:mutate",
              "parameterOrder": [
                "customerId"
              ],
              "httpMethod": "POST",
              "request": {
                "$ref": "GoogleAdsSearchads360V23Services__MutateLabelsRequest"
              },
              "id": "searchads360.customers.labels.mutate",
              "description": "Creates, updates, or removes labels. Operation statuses are returned. List of thrown errors: [AuthenticationError]() [AuthorizationError]() [DatabaseError]() [DateError]() [DistinctError]() [FieldError]() [FieldMaskError]() [HeaderError]() [IdError]() [InternalError]() [LabelError]() [MutateError]() [NewResourceCreationError]() [NotEmptyError]() [NullError]() [OperatorError]() [QuotaError]() [RangeError]() [RequestError]() [ResourceCountLimitExceededError]() [SizeLimitError]() [StringFormatError]() [StringLengthError]()"
            }
          }
        },
        "assets": {
          "methods": {
            "mutate": {
              "httpMethod": "POST",
              "path": "v23/customers/{+customerId}/assets:mutate",
              "request": {
                "$ref": "GoogleAdsSearchads360V23Services__MutateAssetsRequest"
              },
              "id": "searchads360.customers.assets.mutate",
              "description": "Creates assets. Operation statuses are returned. List of thrown errors: [AssetError]() [AuthenticationError]() [AuthorizationError]() [CollectionSizeError]() [CurrencyCodeError]() [DatabaseError]() [DateError]() [DistinctError]() [FieldError]() [FieldMaskError]() [HeaderError]() [IdError]() [InternalError]() [ListOperationError]() [MediaUploadError]() [MutateError]() [NotAllowlistedError]() [NotEmptyError]() [OperatorError]() [QuotaError]() [RangeError]() [RequestError]() [SizeLimitError]() [StringFormatError]() [StringLengthError]() [UrlFieldError]() [YoutubeVideoRegistrationError]()",
              "scopes": [
                "https://www.googleapis.com/auth/doubleclicksearch"
              ],
              "response": {
                "$ref": "GoogleAdsSearchads360V23Services__MutateAssetsResponse"
              },
              "flatPath": "v23/customers/{customersId}/assets:mutate",
              "parameters": {
                "customerId": {
                  "description": "Required. The ID of the customer whose assets are being modified.",
                  "pattern": "^[^/]+$",
                  "required": true,
                  "location": "path",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "customerId"
              ]
            }
          }
        },
        "searchAds360Campaigns": {
          "methods": {
            "mutate": {
              "httpMethod": "POST",
              "parameterOrder": [
                "customerId"
              ],
              "id": "searchads360.customers.searchAds360Campaigns.mutate",
              "flatPath": "v23/customers/{customersId}/searchAds360Campaigns:mutate",
              "path": "v23/customers/{+customerId}/searchAds360Campaigns:mutate",
              "request": {
                "$ref": "GoogleAdsSearchads360V23Services__MutateSearchAds360CampaignsRequest"
              },
              "scopes": [
                "https://www.googleapis.com/auth/doubleclicksearch"
              ],
              "description": "Updates Search Ads 360 campaigns. Operation statuses are returned. List of thrown errors: [AuthenticationError]() [AuthorizationError]() [HeaderError]() [InternalError]() [MutateError]() [QuotaError]() [RequestError]()",
              "parameters": {
                "customerId": {
                  "description": "Required. The ID of the customer whose Search Ads 360 campaigns are being modified.",
                  "type": "string",
                  "pattern": "^[^/]+$",
                  "required": true,
                  "location": "path"
                }
              },
              "response": {
                "$ref": "GoogleAdsSearchads360V23Services__MutateSearchAds360CampaignsResponse"
              }
            }
          }
        },
        "experiments": {
          "methods": {
            "graduateExperiment": {
              "path": "v23/{+experiment}:graduateExperiment",
              "id": "searchads360.customers.experiments.graduateExperiment",
              "response": {
                "$ref": "GoogleProtobuf__Empty"
              },
              "httpMethod": "POST",
              "flatPath": "v23/customers/{customersId}/experiments/{experimentsId}:graduateExperiment",
              "description": "Graduates an experiment to a full campaign. List of thrown errors: [AuthenticationError]() [AuthorizationError]() [ExperimentError]() [HeaderError]() [InternalError]() [MutateError]() [QuotaError]() [RequestError]()",
              "scopes": [
                "https://www.googleapis.com/auth/doubleclicksearch"
              ],
              "parameterOrder": [
                "experiment"
              ],
              "parameters": {
                "experiment": {
                  "pattern": "^customers/[^/]+/experiments/[^/]+$",
                  "required": true,
                  "description": "Required. The experiment to be graduated.",
                  "type": "string",
                  "location": "path"
                }
              },
              "request": {
                "$ref": "GoogleAdsSearchads360V23Services__GraduateExperimentRequest"
              }
            },
            "scheduleExperiment": {
              "httpMethod": "POST",
              "description": "Schedule an experiment. The in design campaign will be converted into a real campaign (called the experiment campaign) that will begin serving ads if successfully created. The experiment is scheduled immediately with status INITIALIZING. This method returns a long running operation that tracks the forking of the in design campaign. If the forking fails, a list of errors can be retrieved using the ListExperimentAsyncErrors method. The operation's metadata will be a string containing the resource name of the created experiment. List of thrown errors: [AuthenticationError]() [AuthorizationError]() [ExperimentError]() [DatabaseError]() [DateError]() [DateRangeError]() [FieldError]() [HeaderError]() [InternalError]() [QuotaError]() [RangeError]() [RequestError]()",
              "parameterOrder": [
                "resourceName"
              ],
              "flatPath": "v23/customers/{customersId}/experiments/{experimentsId}:scheduleExperiment",
              "response": {
                "$ref": "GoogleLongrunning__Operation"
              },
              "scopes": [
                "https://www.googleapis.com/auth/doubleclicksearch"
              ],
              "parameters": {
                "resourceName": {
                  "type": "string",
                  "description": "Required. The scheduled experiment.",
                  "location": "path",
                  "required": true,
                  "pattern": "^customers/[^/]+/experiments/[^/]+$"
                }
              },
              "id": "searchads360.customers.experiments.scheduleExperiment",
              "path": "v23/{+resourceName}:scheduleExperiment",
              "request": {
                "$ref": "GoogleAdsSearchads360V23Services__ScheduleExperimentRequest"
              }
            },
            "mutate": {
              "parameters": {
                "customerId": {
                  "location": "path",
                  "description": "Required. The ID of the customer whose experiments are being modified.",
                  "required": true,
                  "pattern": "^[^/]+$",
                  "type": "string"
                }
              },
              "description": "Creates, updates, or removes experiments. Operation statuses are returned. List of thrown errors: [AuthenticationError]() [AuthorizationError]() [ExperimentError]() [HeaderError]() [InternalError]() [QuotaError]() [RequestError]()",
              "request": {
                "$ref": "GoogleAdsSearchads360V23Services__MutateExperimentsRequest"
              },
              "id": "searchads360.customers.experiments.mutate",
              "parameterOrder": [
                "customerId"
              ],
              "httpMethod": "POST",
              "flatPath": "v23/customers/{customersId}/experiments:mutate",
              "scopes": [
                "https://www.googleapis.com/auth/doubleclicksearch"
              ],
              "path": "v23/customers/{+customerId}/experiments:mutate",
              "response": {
                "$ref": "GoogleAdsSearchads360V23Services__MutateExperimentsResponse"
              }
            },
            "endExperiment": {
              "parameters": {
                "experiment": {
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "description": "Required. The resource name of the campaign experiment to end.",
                  "pattern": "^customers/[^/]+/experiments/[^/]+$"
                }
              },
              "request": {
                "$ref": "GoogleAdsSearchads360V23Services__EndExperimentRequest"
              },
              "response": {
                "$ref": "GoogleProtobuf__Empty"
              },
              "flatPath": "v23/customers/{customersId}/experiments/{experimentsId}:endExperiment",
              "parameterOrder": [
                "experiment"
              ],
              "description": "Immediately ends an experiment, changing the experiment's scheduled end date and without waiting for end of day. End date is updated to be the time of the request. List of thrown errors: [AuthenticationError]() [AuthorizationError]() [ExperimentError]() [HeaderError]() [InternalError]() [QuotaError]() [RequestError]()",
              "path": "v23/{+experiment}:endExperiment",
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/doubleclicksearch"
              ],
              "id": "searchads360.customers.experiments.endExperiment"
            },
            "listExperimentAsyncErrors": {
              "flatPath": "v23/customers/{customersId}/experiments/{experimentsId}:listExperimentAsyncErrors",
              "path": "v23/{+resourceName}:listExperimentAsyncErrors",
              "parameterOrder": [
                "resourceName"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/doubleclicksearch"
              ],
              "httpMethod": "GET",
              "id": "searchads360.customers.experiments.listExperimentAsyncErrors",
              "response": {
                "$ref": "GoogleAdsSearchads360V23Services__ListExperimentAsyncErrorsResponse"
              },
              "parameters": {
                "resourceName": {
                  "description": "Required. The name of the experiment from which to retrieve the async errors.",
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "pattern": "^customers/[^/]+/experiments/[^/]+$"
                },
                "pageSize": {
                  "format": "int32",
                  "type": "integer",
                  "location": "query",
                  "description": "Number of elements to retrieve in a single page. When a page request is too large, the server may decide to further limit the number of returned resources. The maximum page size is 1000."
                },
                "pageToken": {
                  "description": "Token of the page to retrieve. If not specified, the first page of results will be returned. Use the value obtained from `next_page_token` in the previous response in order to request the next page of results.",
                  "location": "query",
                  "type": "string"
                }
              },
[...]
