{
  "discoveryVersion": "v1",
  "batchPath": "batch",
  "version": "v23",
  "resources": {
    "keywordThemeConstants": {
      "methods": {
        "suggest": {
          "httpMethod": "POST",
          "parameters": {},
          "flatPath": "v23/keywordThemeConstants:suggest",
          "response": {
            "$ref": "GoogleAdsSearchads360V23Services__SuggestKeywordThemeConstantsResponse"
          },
          "description": "Returns KeywordThemeConstant suggestions by keyword themes. List of thrown errors: [AuthenticationError]() [AuthorizationError]() [HeaderError]() [InternalError]() [QuotaError]() [RequestError]()",
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ],
          "parameterOrder": [],
          "request": {
            "$ref": "GoogleAdsSearchads360V23Services__SuggestKeywordThemeConstantsRequest"
          },
          "path": "v23/keywordThemeConstants:suggest",
          "id": "searchads360.keywordThemeConstants.suggest"
        }
      }
    },
    "geoTargetConstants": {
      "methods": {
        "suggest": {
          "response": {
            "$ref": "GoogleAdsSearchads360V23Services__SuggestGeoTargetConstantsResponse"
          },
          "path": "v23/geoTargetConstants:suggest",
          "httpMethod": "POST",
          "parameters": {},
          "flatPath": "v23/geoTargetConstants:suggest",
          "id": "searchads360.geoTargetConstants.suggest",
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ],
          "request": {
            "$ref": "GoogleAdsSearchads360V23Services__SuggestGeoTargetConstantsRequest"
          },
          "parameterOrder": [],
          "description": "Returns GeoTargetConstant suggestions by location name or by resource name. List of thrown errors: [AuthenticationError]() [AuthorizationError]() [GeoTargetConstantSuggestionError]() [HeaderError]() [InternalError]() [QuotaError]() [RequestError]()"
        }
      }
    },
    "incentives": {
      "methods": {
        "fetchIncentive": {
          "parameterOrder": [],
          "id": "searchads360.incentives.fetchIncentive",
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ],
          "description": "Returns incentives for a given user.",
          "path": "v23/incentives:fetchIncentive",
          "httpMethod": "GET",
          "parameters": {
            "email": {
              "location": "query",
              "type": "string",
              "description": "Optional. Email of the user that the requested incentive is meant for. Will be used for channel partners who do NOT use OAuth to authenticate on behalf of user."
            },
            "languageCode": {
              "location": "query",
              "description": "Optional. User's language code. If not provided, the server will default to \"en\". Possible language codes: https://developers.google.com/google-ads/api/data/codes-formats#languages",
              "type": "string"
            },
            "countryCode": {
              "location": "query",
              "description": "Optional. User's country code. If not provided, the server will default to \"US\". Possible country codes: https://developers.google.com/google-ads/api/data/codes-formats#country_codes",
              "type": "string"
            },
            "type": {
              "type": "string",
              "location": "query",
              "description": "Optional. The type of incentive to get. Defaults to ACQUISITION.",
              "enum": [
                "UNSPECIFIED",
                "UNKNOWN",
                "ACQUISITION"
              ],
              "enumDescriptions": [
                "Not specified.",
                "Unknown incentive type. Should not be used as a value explicitly.",
                "An acquisition incentive."
              ]
            }
          },
          "flatPath": "v23/incentives:fetchIncentive",
          "response": {
            "$ref": "GoogleAdsSearchads360V23Services__FetchIncentiveResponse"
          }
        }
      }
    },
    "customers": {
      "methods": {
        "searchAudienceInsightsAttributes": {
          "flatPath": "v23/customers/{customersId}:searchAudienceInsightsAttributes",
          "path": "v23/customers/{+customerId}:searchAudienceInsightsAttributes",
          "httpMethod": "POST",
          "parameters": {
            "customerId": {
              "required": true,
              "location": "path",
              "pattern": "^[^/]+$",
              "description": "Required. The ID of the customer.",
              "type": "string"
            }
          },
          "response": {
            "$ref": "GoogleAdsSearchads360V23Services__ListAudienceInsightsAttributesResponse"
          },
          "request": {
            "$ref": "GoogleAdsSearchads360V23Services__ListAudienceInsightsAttributesRequest"
          },
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ],
          "id": "searchads360.customers.searchAudienceInsightsAttributes",
          "parameterOrder": [
            "customerId"
          ],
          "description": "Searches for audience attributes that can be used to generate insights. List of thrown errors: [AuthenticationError]() [AuthorizationError]() [FieldError]() [HeaderError]() [InternalError]() [QuotaError]() [RangeError]() [RequestError]()"
        },
        "uploadClickConversions": {
          "id": "searchads360.customers.uploadClickConversions",
          "description": "Processes the given click conversions. List of thrown errors: [AuthenticationError]() [AuthorizationError]() [ConversionUploadError]() [HeaderError]() [InternalError]() [PartialFailureError]() [QuotaError]() [RequestError]()",
          "path": "v23/customers/{+customerId}:uploadClickConversions",
          "request": {
            "$ref": "GoogleAdsSearchads360V23Services__UploadClickConversionsRequest"
          },
          "flatPath": "v23/customers/{customersId}:uploadClickConversions",
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ],
          "httpMethod": "POST",
          "parameters": {
            "customerId": {
              "type": "string",
              "location": "path",
              "required": true,
              "description": "Required. The ID of the customer performing the upload.",
              "pattern": "^[^/]+$"
            }
          },
          "response": {
            "$ref": "GoogleAdsSearchads360V23Services__UploadClickConversionsResponse"
          },
          "parameterOrder": [
            "customerId"
          ]
        },
        "uploadCallConversions": {
          "httpMethod": "POST",
          "parameters": {
            "customerId": {
              "required": true,
              "location": "path",
              "description": "Required. The ID of the customer performing the upload.",
              "pattern": "^[^/]+$",
              "type": "string"
            }
          },
          "flatPath": "v23/customers/{customersId}:uploadCallConversions",
          "path": "v23/customers/{+customerId}:uploadCallConversions",
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ],
          "parameterOrder": [
            "customerId"
          ],
          "response": {
            "$ref": "GoogleAdsSearchads360V23Services__UploadCallConversionsResponse"
          },
          "description": "Processes the given call conversions. List of thrown errors: [AuthenticationError]() [AuthorizationError]() [HeaderError]() [InternalError]() [PartialFailureError]() [QuotaError]() [RequestError]()",
          "id": "searchads360.customers.uploadCallConversions",
          "request": {
            "$ref": "GoogleAdsSearchads360V23Services__UploadCallConversionsRequest"
          }
        },
        "uploadUserData": {
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ],
          "httpMethod": "POST",
          "parameters": {
            "customerId": {
              "location": "path",
              "description": "Required. The ID of the customer for which to update the user data.",
              "required": true,
              "type": "string",
              "pattern": "^[^/]+$"
            }
          },
          "description": "Uploads the given user data. List of thrown errors: [AuthenticationError]() [AuthorizationError]() [CollectionSizeError]() [FieldError]() [HeaderError]() [InternalError]() [MutateError]() [OfflineUserDataJobError]() [QuotaError]() [RequestError]() [UserDataError]()",
          "request": {
            "$ref": "GoogleAdsSearchads360V23Services__UploadUserDataRequest"
          },
          "parameterOrder": [
            "customerId"
          ],
          "flatPath": "v23/customers/{customersId}:uploadUserData",
          "id": "searchads360.customers.uploadUserData",
          "path": "v23/customers/{+customerId}:uploadUserData",
          "response": {
            "$ref": "GoogleAdsSearchads360V23Services__UploadUserDataResponse"
          }
        },
        "suggestSmartCampaignAd": {
          "request": {
            "$ref": "GoogleAdsSearchads360V23Services__SuggestSmartCampaignAdRequest"
          },
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ],
          "parameterOrder": [
            "customerId"
          ],
          "flatPath": "v23/customers/{customersId}:suggestSmartCampaignAd",
          "httpMethod": "POST",
          "parameters": {
            "customerId": {
              "type": "string",
              "location": "path",
              "required": true,
              "description": "Required. The ID of the customer.",
              "pattern": "^[^/]+$"
            }
          },
          "description": "Suggests a Smart campaign ad compatible with the Ad family of resources, based on data points such as targeting and the business to advertise.",
          "path": "v23/customers/{+customerId}:suggestSmartCampaignAd",
          "id": "searchads360.customers.suggestSmartCampaignAd",
          "response": {
            "$ref": "GoogleAdsSearchads360V23Services__SuggestSmartCampaignAdResponse"
          }
        },
        "generateReachForecast": {
          "path": "v23/customers/{+customerId}:generateReachForecast",
          "httpMethod": "POST",
          "parameters": {
            "customerId": {
              "type": "string",
              "description": "Required. The ID of the customer.",
              "required": true,
              "location": "path",
              "pattern": "^[^/]+$"
            }
          },
          "response": {
            "$ref": "GoogleAdsSearchads360V23Services__GenerateReachForecastResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ],
          "flatPath": "v23/customers/{customersId}:generateReachForecast",
          "description": "Generates a reach forecast for a given targeting / product mix. List of thrown errors: [AuthenticationError]() [AuthorizationError]() [FieldError]() [HeaderError]() [InternalError]() [QuotaError]() [RangeError]() [ReachPlanError]() [RequestError]()",
          "id": "searchads360.customers.generateReachForecast",
          "request": {
            "$ref": "GoogleAdsSearchads360V23Services__GenerateReachForecastRequest"
          },
          "parameterOrder": [
            "customerId"
          ]
        },
        "generateSuggestedTargetingInsights": {
          "request": {
            "$ref": "GoogleAdsSearchads360V23Services__GenerateSuggestedTargetingInsightsRequest"
          },
          "id": "searchads360.customers.generateSuggestedTargetingInsights",
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ],
          "httpMethod": "POST",
          "parameters": {
            "customerId": {
              "pattern": "^[^/]+$",
              "location": "path",
              "type": "string",
              "required": true,
              "description": "Required. The ID of the customer."
            }
          },
          "description": "Returns a collection of targeting insights (e.g. targetable audiences) that are relevant to the requested audience. List of thrown errors: [AudienceInsightsError]() [AuthenticationError]() [AuthorizationError]() [FieldError]() [HeaderError]() [InternalError]() [QuotaError]() [RangeError]() [RequestError]()",
          "flatPath": "v23/customers/{customersId}:generateSuggestedTargetingInsights",
          "path": "v23/customers/{+customerId}:generateSuggestedTargetingInsights",
          "response": {
            "$ref": "GoogleAdsSearchads360V23Services__GenerateSuggestedTargetingInsightsResponse"
          },
          "parameterOrder": [
            "customerId"
          ]
        },
        "createCustomerClient": {
          "description": "Creates a new client under manager. The new client customer is returned. List of thrown errors: [AccessInvitationError]() [AuthenticationError]() [AuthorizationError]() [CurrencyCodeError]() [HeaderError]() [InternalError]() [ManagerLinkError]() [QuotaError]() [RequestError]() [StringLengthError]() [TimeZoneError]()",
          "id": "searchads360.customers.createCustomerClient",
          "path": "v23/customers/{+customerId}:createCustomerClient",
          "request": {
            "$ref": "GoogleAdsSearchads360V23Services__CreateCustomerClientRequest"
          },
          "response": {
            "$ref": "GoogleAdsSearchads360V23Services__CreateCustomerClientResponse"
          },
          "httpMethod": "POST",
          "parameters": {
            "customerId": {
              "pattern": "^[^/]+$",
              "description": "Required. The ID of the Manager under whom client customer is being created.",
              "type": "string",
              "location": "path",
              "required": true
            }
          },
          "parameterOrder": [
            "customerId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ],
          "flatPath": "v23/customers/{customersId}:createCustomerClient"
        },
        "suggestSmartCampaignBudgetOptions": {
          "flatPath": "v23/customers/{customersId}:suggestSmartCampaignBudgetOptions",
          "parameterOrder": [
            "customerId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ],
          "response": {
            "$ref": "GoogleAdsSearchads360V23Services__SuggestSmartCampaignBudgetOptionsResponse"
          },
          "httpMethod": "POST",
          "parameters": {
            "customerId": {
              "pattern": "^[^/]+$",
              "location": "path",
              "type": "string",
              "required": true,
              "description": "Required. The ID of the customer whose budget options are to be suggested."
            }
          },
          "path": "v23/customers/{+customerId}:suggestSmartCampaignBudgetOptions",
          "id": "searchads360.customers.suggestSmartCampaignBudgetOptions",
          "request": {
            "$ref": "GoogleAdsSearchads360V23Services__SuggestSmartCampaignBudgetOptionsRequest"
          },
          "description": "Returns BudgetOption suggestions."
        },
        "mutate": {
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ],
          "httpMethod": "POST",
          "parameters": {
            "customerId": {
              "pattern": "^[^/]+$",
              "description": "Required. The ID of the customer being modified.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "path": "v23/customers/{+customerId}:mutate",
          "request": {
            "$ref": "GoogleAdsSearchads360V23Services__MutateCustomerRequest"
          },
          "id": "searchads360.customers.mutate",
          "parameterOrder": [
            "customerId"
          ],
          "response": {
            "$ref": "GoogleAdsSearchads360V23Services__MutateCustomerResponse"
          },
          "description": "Updates a customer. Operation statuses are returned. List of thrown errors: [AuthenticationError]() [AuthorizationError]() [DatabaseError]() [FieldMaskError]() [HeaderError]() [InternalError]() [QuotaError]() [RequestError]() [UrlFieldError]()",
          "flatPath": "v23/customers/{customersId}:mutate"
        },
        "suggestTravelAssets": {
          "path": "v23/customers/{+customerId}:suggestTravelAssets",
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ],
          "httpMethod": "POST",
          "parameters": {
            "customerId": {
              "location": "path",
              "required": true,
              "pattern": "^[^/]+$",
              "description": "Required. The ID of the customer.",
              "type": "string"
            }
          },
          "description": "Returns Travel Asset suggestions. Asset suggestions are returned on a best-effort basis. There are no guarantees that all possible asset types will be returned for any given hotel property.",
          "id": "searchads360.customers.suggestTravelAssets",
          "request": {
            "$ref": "GoogleAdsSearchads360V23Services__SuggestTravelAssetsRequest"
          },
          "response": {
            "$ref": "GoogleAdsSearchads360V23Services__SuggestTravelAssetsResponse"
          },
          "parameterOrder": [
            "customerId"
          ],
          "flatPath": "v23/customers/{customersId}:suggestTravelAssets"
        },
        "generateKeywordHistoricalMetrics": {
          "parameterOrder": [
            "customerId"
          ],
          "request": {
            "$ref": "GoogleAdsSearchads360V23Services__GenerateKeywordHistoricalMetricsRequest"
          },
          "id": "searchads360.customers.generateKeywordHistoricalMetrics",
          "description": "Returns a list of keyword historical metrics. List of thrown errors: [AuthenticationError]() [AuthorizationError]() [CollectionSizeError]() [HeaderError]() [InternalError]() [QuotaError]() [RequestError]()",
          "flatPath": "v23/customers/{customersId}:generateKeywordHistoricalMetrics",
          "response": {
            "$ref": "GoogleAdsSearchads360V23Services__GenerateKeywordHistoricalMetricsResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ],
          "path": "v23/customers/{+customerId}:generateKeywordHistoricalMetrics",
          "httpMethod": "POST",
          "parameters": {
            "customerId": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "The ID of the customer with the recommendation.",
              "pattern": "^[^/]+$"
            }
          }
        },
        "generateAudienceOverlapInsights": {
          "path": "v23/customers/{+customerId}:generateAudienceOverlapInsights",
          "flatPath": "v23/customers/{customersId}:generateAudienceOverlapInsights",
          "httpMethod": "POST",
          "parameters": {
            "customerId": {
              "description": "Required. The ID of the customer.",
              "type": "string",
              "required": true,
              "pattern": "^[^/]+$",
              "location": "path"
            }
          },
          "request": {
            "$ref": "GoogleAdsSearchads360V23Services__GenerateAudienceOverlapInsightsRequest"
          },
          "id": "searchads360.customers.generateAudienceOverlapInsights",
          "description": "Returns a collection of audience attributes along with estimates of the overlap between their potential YouTube reach and that of a given input attribute. List of thrown errors: [AudienceInsightsError]() [AuthenticationError]() [AuthorizationError]() [FieldError]() [HeaderError]() [InternalError]() [QuotaError]() [RangeError]() [RequestError]()",
          "parameterOrder": [
            "customerId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ],
          "response": {
            "$ref": "GoogleAdsSearchads360V23Services__GenerateAudienceOverlapInsightsResponse"
          }
        },
        "removeCampaignAutomaticallyCreatedAsset": {
          "response": {
            "$ref": "GoogleAdsSearchads360V23Services__RemoveCampaignAutomaticallyCreatedAssetResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ],
          "httpMethod": "POST",
          "parameters": {
            "customerId": {
              "location": "path",
              "required": true,
              "pattern": "^[^/]+$",
              "type": "string",
              "description": "Required. The ID of the customer whose assets are being removed."
            }
          },
          "request": {
            "$ref": "GoogleAdsSearchads360V23Services__RemoveCampaignAutomaticallyCreatedAssetRequest"
          },
          "path": "v23/customers/{+customerId}:removeCampaignAutomaticallyCreatedAsset",
          "id": "searchads360.customers.removeCampaignAutomaticallyCreatedAsset",
          "flatPath": "v23/customers/{customersId}:removeCampaignAutomaticallyCreatedAsset",
          "description": "Removes automatically created assets from a campaign. List of thrown errors: [AuthenticationError]() [AuthorizationError]() [ContextError]() [FieldError]() [InternalError]() [MutateError]() [PartialFailureError]() [QuotaError]() [RequestError]()",
          "parameterOrder": [
            "customerId"
          ]
        },
        "generateKeywordForecastMetrics": {
          "parameterOrder": [
            "customerId"
          ],
          "request": {
            "$ref": "GoogleAdsSearchads360V23Services__GenerateKeywordForecastMetricsRequest"
          },
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ],
          "response": {
            "$ref": "GoogleAdsSearchads360V23Services__GenerateKeywordForecastMetricsResponse"
          },
          "id": "searchads360.customers.generateKeywordForecastMetrics",
          "httpMethod": "POST",
          "parameters": {
            "customerId": {
              "pattern": "^[^/]+$",
              "type": "string",
              "description": "The ID of the customer.",
              "required": true,
              "location": "path"
            }
          },
          "flatPath": "v23/customers/{customersId}:generateKeywordForecastMetrics",
          "path": "v23/customers/{+customerId}:generateKeywordForecastMetrics",
          "description": "Returns metrics (such as impressions, clicks, total cost) of a keyword forecast for the given campaign. List of thrown errors: [AuthenticationError]() [AuthorizationError]() [CollectionSizeError]() [HeaderError]() [InternalError]() [QuotaError]() [RequestError]()"
        },
        "listAccessibleCustomers": {
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ],
          "flatPath": "v23/customers:listAccessibleCustomers",
          "response": {
            "$ref": "GoogleAdsSearchads360V23Services__ListAccessibleCustomersResponse"
          },
          "id": "searchads360.customers.listAccessibleCustomers",
          "parameterOrder": [],
          "path": "v23/customers:listAccessibleCustomers",
          "description": "Returns resource names of customers directly accessible by the user authenticating the call. List of thrown errors: [AuthenticationError]() [AuthorizationError]() [HeaderError]() [InternalError]() [QuotaError]() [RequestError]()",
          "httpMethod": "GET",
          "parameters": {}
        },
        "generateTargetingSuggestionMetrics": {
          "request": {
            "$ref": "GoogleAdsSearchads360V23Services__GenerateTargetingSuggestionMetricsRequest"
          },
          "id": "searchads360.customers.generateTargetingSuggestionMetrics",
          "path": "v23/customers/{+customerId}:generateTargetingSuggestionMetrics",
          "httpMethod": "POST",
          "parameters": {
            "customerId": {
              "required": true,
              "description": "Required. The ID of the customer.",
              "type": "string",
              "pattern": "^[^/]+$",
              "location": "path"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ],
          "response": {
            "$ref": "GoogleAdsSearchads360V23Services__GenerateTargetingSuggestionMetricsResponse"
          },
          "description": "Returns potential reach metrics for targetable audiences. This method helps answer questions like \"How many Men aged 18+ interested in Camping can be reached on YouTube?\" List of thrown errors: [AudienceInsightsError]() [AuthenticationError]() [AuthorizationError]() [FieldError]() [HeaderError]() [InternalError]() [QuotaError]() [RangeError]() [RequestError]()",
          "flatPath": "v23/customers/{customersId}:generateTargetingSuggestionMetrics",
          "parameterOrder": [
            "customerId"
          ]
        },
        "generateAudienceCompositionInsights": {
          "description": "Returns a collection of attributes that are represented in an audience of interest, with metrics that compare each attribute's share of the audience with its share of a baseline audience. List of thrown errors: [AudienceInsightsError]() [AuthenticationError]() [AuthorizationError]() [FieldError]() [HeaderError]() [InternalError]() [QuotaError]() [RangeError]() [RequestError]()",
          "parameterOrder": [
            "customerId"
          ],
          "flatPath": "v23/customers/{customersId}:generateAudienceCompositionInsights",
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ],
          "response": {
            "$ref": "GoogleAdsSearchads360V23Services__GenerateAudienceCompositionInsightsResponse"
          },
          "id": "searchads360.customers.generateAudienceCompositionInsights",
          "httpMethod": "POST",
          "parameters": {
            "customerId": {
              "required": true,
              "location": "path",
              "pattern": "^[^/]+$",
              "description": "Required. The ID of the customer.",
              "type": "string"
            }
          },
          "path": "v23/customers/{+customerId}:generateAudienceCompositionInsights",
          "request": {
            "$ref": "GoogleAdsSearchads360V23Services__GenerateAudienceCompositionInsightsRequest"
          }
        },
        "generateKeywordIdeas": {
          "request": {
            "$ref": "GoogleAdsSearchads360V23Services__GenerateKeywordIdeasRequest"
          },
          "id": "searchads360.customers.generateKeywordIdeas",
          "description": "Returns a list of keyword ideas. List of thrown errors: [AuthenticationError]() [AuthorizationError]() [CollectionSizeError]() [HeaderError]() [InternalError]() [KeywordPlanIdeaError]() [QuotaError]() [RequestError]()",
          "httpMethod": "POST",
          "parameters": {
            "customerId": {
              "type": "string",
              "required": true,
              "location": "path",
              "description": "The ID of the customer with the recommendation.",
              "pattern": "^[^/]+$"
            }
          },
          "path": "v23/customers/{+customerId}:generateKeywordIdeas",
          "response": {
            "$ref": "GoogleAdsSearchads360V23Services__GenerateKeywordIdeaResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ],
          "flatPath": "v23/customers/{customersId}:generateKeywordIdeas",
          "parameterOrder": [
            "customerId"
          ]
        },
        "getIdentityVerification": {
          "httpMethod": "GET",
          "parameters": {
            "customerId": {
              "location": "path",
              "description": "Required. The ID of the customer for whom we are requesting verification information.",
              "required": true,
              "type": "string",
              "pattern": "^[^/]+$"
            }
          },
          "description": "Returns Identity Verification information. List of thrown errors: [AuthenticationError]() [AuthorizationError]() [HeaderError]() [InternalError]() [QuotaError]() [RequestError]()",
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ],
          "parameterOrder": [
            "customerId"
          ],
          "flatPath": "v23/customers/{customersId}/getIdentityVerification",
          "response": {
            "$ref": "GoogleAdsSearchads360V23Services__GetIdentityVerificationResponse"
          },
          "id": "searchads360.customers.getIdentityVerification",
          "path": "v23/customers/{+customerId}/getIdentityVerification"
        },
        "suggestKeywordThemes": {
          "response": {
            "$ref": "GoogleAdsSearchads360V23Services__SuggestKeywordThemesResponse"
          },
          "parameterOrder": [
            "customerId"
          ],
          "description": "Suggests keyword themes to advertise on.",
          "id": "searchads360.customers.suggestKeywordThemes",
          "request": {
            "$ref": "GoogleAdsSearchads360V23Services__SuggestKeywordThemesRequest"
          },
          "flatPath": "v23/customers/{customersId}:suggestKeywordThemes",
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ],
          "path": "v23/customers/{+customerId}:suggestKeywordThemes",
          "httpMethod": "POST",
          "parameters": {
            "customerId": {
              "pattern": "^[^/]+$",
              "type": "string",
              "required": true,
              "description": "Required. The ID of the customer.",
              "location": "path"
            }
          }
        },
        "generateInsightsFinderReport": {
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ],
          "path": "v23/customers/{+customerId}:generateInsightsFinderReport",
          "flatPath": "v23/customers/{customersId}:generateInsightsFinderReport",
          "httpMethod": "POST",
          "parameters": {
            "customerId": {
              "location": "path",
              "required": true,
              "type": "string",
              "pattern": "^[^/]+$",
              "description": "Required. The ID of the customer."
            }
          },
          "id": "searchads360.customers.generateInsightsFinderReport",
          "description": "Creates a saved report that can be viewed in the Insights Finder tool. List of thrown errors: [AuthenticationError]() [AuthorizationError]() [FieldError]() [HeaderError]() [InternalError]() [QuotaError]() [RangeError]() [RequestError]()",
          "response": {
            "$ref": "GoogleAdsSearchads360V23Services__GenerateInsightsFinderReportResponse"
          },
          "request": {
            "$ref": "GoogleAdsSearchads360V23Services__GenerateInsightsFinderReportRequest"
          },
          "parameterOrder": [
            "customerId"
          ]
        },
        "generateBenchmarksMetrics": {
          "flatPath": "v23/customers/{customersId}:generateBenchmarksMetrics",
          "parameterOrder": [
            "customerId"
          ],
          "description": "Returns YouTube advertisement metrics for the given client against industry benchmarks. List of thrown errors: [AuthenticationError]() [AuthorizationError]() [BenchmarksError]() [FieldError]() [HeaderError]() [InternalError]() [QuotaError]() [RangeError]() [RequestError]()",
          "id": "searchads360.customers.generateBenchmarksMetrics",
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ],
          "response": {
            "$ref": "GoogleAdsSearchads360V23Services__GenerateBenchmarksMetricsResponse"
          },
          "httpMethod": "POST",
          "parameters": {
            "customerId": {
              "description": "Required. The ID of the customer. Supply a client customer ID to generate metrics for the customer. A manager account customer ID will not return customer metrics since it does not have any associated direct ad campaigns.",
              "type": "string",
              "required": true,
              "location": "path",
              "pattern": "^[^/]+$"
            }
          },
          "path": "v23/customers/{+customerId}:generateBenchmarksMetrics",
          "request": {
            "$ref": "GoogleAdsSearchads360V23Services__GenerateBenchmarksMetricsRequest"
          }
        },
        "generateAudienceDefinition": {
          "request": {
            "$ref": "GoogleAdsSearchads360V23Services__GenerateAudienceDefinitionRequest"
          },
          "path": "v23/customers/{+customerId}:generateAudienceDefinition",
          "id": "searchads360.customers.generateAudienceDefinition",
          "flatPath": "v23/customers/{customersId}:generateAudienceDefinition",
          "description": "Returns a collection of audience attributes using generative AI based on the provided audience description. List of thrown errors: [AudienceInsightsError]() [AuthenticationError]() [AuthorizationError]() [FieldError]() [HeaderError]() [InternalError]() [QuotaError]() [RequestError]()",
          "parameterOrder": [
            "customerId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ],
          "httpMethod": "POST",
          "parameters": {
            "customerId": {
              "pattern": "^[^/]+$",
              "location": "path",
              "description": "Required. The ID of the customer.",
              "required": true,
              "type": "string"
            }
          },
          "response": {
            "$ref": "GoogleAdsSearchads360V23Services__GenerateAudienceDefinitionResponse"
          }
        },
        "generateAdGroupThemes": {
          "parameterOrder": [
            "customerId"
          ],
          "response": {
            "$ref": "GoogleAdsSearchads360V23Services__GenerateAdGroupThemesResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ],
          "id": "searchads360.customers.generateAdGroupThemes",
          "path": "v23/customers/{+customerId}:generateAdGroupThemes",
          "request": {
            "$ref": "GoogleAdsSearchads360V23Services__GenerateAdGroupThemesRequest"
          },
          "flatPath": "v23/customers/{customersId}:generateAdGroupThemes",
          "description": "Returns a list of suggested AdGroups and suggested modifications (text, match type) for the given keywords. List of thrown errors: [AuthenticationError]() [AuthorizationError]() [CollectionSizeError]() [HeaderError]() [InternalError]() [QuotaError]() [RequestError]()",
          "httpMethod": "POST",
          "parameters": {
            "customerId": {
              "pattern": "^[^/]+$",
              "description": "Required. The ID of the customer.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          }
        },
        "uploadConversionAdjustments": {
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ],
          "parameterOrder": [
            "customerId"
          ],
          "description": "Processes the given conversion adjustments. List of thrown errors: [AuthenticationError]() [AuthorizationError]() [HeaderError]() [InternalError]() [PartialFailureError]() [QuotaError]() [RequestError]()",
          "id": "searchads360.customers.uploadConversionAdjustments",
          "request": {
            "$ref": "GoogleAdsSearchads360V23Services__UploadConversionAdjustmentsRequest"
          },
          "response": {
            "$ref": "GoogleAdsSearchads360V23Services__UploadConversionAdjustmentsResponse"
          },
          "flatPath": "v23/customers/{customersId}:uploadConversionAdjustments",
          "path": "v23/customers/{+customerId}:uploadConversionAdjustments",
          "httpMethod": "POST",
          "parameters": {
            "customerId": {
              "type": "string",
              "description": "Required. The ID of the customer performing the upload.",
              "pattern": "^[^/]+$",
              "required": true,
              "location": "path"
            }
          }
        },
        "startIdentityVerification": {
          "parameterOrder": [
            "customerId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ],
          "path": "v23/customers/{+customerId}:startIdentityVerification",
          "request": {
            "$ref": "GoogleAdsSearchads360V23Services__StartIdentityVerificationRequest"
          },
          "id": "searchads360.customers.startIdentityVerification",
          "flatPath": "v23/customers/{customersId}:startIdentityVerification",
          "response": {
            "$ref": "GoogleProtobuf__Empty"
          },
          "description": "Starts Identity Verification for a given verification program type. Statuses are returned. List of thrown errors: [AuthenticationError]() [AuthorizationError]() [HeaderError]() [InternalError]() [QuotaError]() [RequestError]()",
          "httpMethod": "POST",
          "parameters": {
            "customerId": {
              "type": "string",
              "required": true,
              "location": "path",
              "pattern": "^[^/]+$",
              "description": "Required. The Id of the customer for whom we are creating this verification."
            }
          }
        }
      },
      "resources": {
        "customerManagerLinks": {
          "methods": {
            "moveManagerLink": {
              "path": "v23/customers/{+customerId}/customerManagerLinks:moveManagerLink",
              "scopes": [
                "https://www.googleapis.com/auth/doubleclicksearch"
              ],
              "flatPath": "v23/customers/{customersId}/customerManagerLinks:moveManagerLink",
              "description": "Moves a client customer to a new manager customer. This simplifies the complex request that requires two operations to move a client customer to a new manager, for example: 1. Update operation with Status INACTIVE (previous manager) and, 2. Update operation with Status ACTIVE (new manager). List of thrown errors: [AuthenticationError]() [AuthorizationError]() [DatabaseError]() [FieldError]() [HeaderError]() [InternalError]() [MutateError]() [QuotaError]() [RequestError]()",
              "id": "searchads360.customers.customerManagerLinks.moveManagerLink",
              "parameterOrder": [
                "customerId"
              ],
              "httpMethod": "POST",
              "parameters": {
                "customerId": {
                  "required": true,
                  "pattern": "^[^/]+$",
                  "type": "string",
                  "location": "path",
                  "description": "Required. The ID of the client customer that is being moved."
                }
              },
              "response": {
                "$ref": "GoogleAdsSearchads360V23Services__MoveManagerLinkResponse"
              },
              "request": {
                "$ref": "GoogleAdsSearchads360V23Services__MoveManagerLinkRequest"
              }
            },
            "mutate": {
              "id": "searchads360.customers.customerManagerLinks.mutate",
              "response": {
                "$ref": "GoogleAdsSearchads360V23Services__MutateCustomerManagerLinkResponse"
              },
              "parameterOrder": [
                "customerId"
              ],
              "flatPath": "v23/customers/{customersId}/customerManagerLinks:mutate",
              "path": "v23/customers/{+customerId}/customerManagerLinks:mutate",
              "httpMethod": "POST",
              "parameters": {
                "customerId": {
                  "pattern": "^[^/]+$",
                  "required": true,
                  "location": "path",
                  "description": "Required. The ID of the customer whose customer manager links are being modified.",
                  "type": "string"
                }
              },
              "request": {
                "$ref": "GoogleAdsSearchads360V23Services__MutateCustomerManagerLinkRequest"
              },
              "scopes": [
                "https://www.googleapis.com/auth/doubleclicksearch"
              ],
              "description": "Updates customer manager links. Operation statuses are returned. List of thrown errors: [AuthenticationError]() [AuthorizationError]() [DatabaseError]() [FieldError]() [FieldMaskError]() [HeaderError]() [InternalError]() [ManagerLinkError]() [MutateError]() [QuotaError]() [RequestError]()"
            }
          }
        },
        "audiences": {
          "methods": {
            "mutate": {
              "httpMethod": "POST",
              "parameters": {
                "customerId": {
                  "description": "Required. The ID of the customer whose audiences are being modified.",
                  "type": "string",
                  "required": true,
                  "location": "path",
                  "pattern": "^[^/]+$"
                }
              },
              "description": "Creates audiences. Operation statuses are returned. List of thrown errors: [AudienceError]()",
              "flatPath": "v23/customers/{customersId}/audiences:mutate",
              "response": {
                "$ref": "GoogleAdsSearchads360V23Services__MutateAudiencesResponse"
              },
              "request": {
                "$ref": "GoogleAdsSearchads360V23Services__MutateAudiencesRequest"
              },
              "id": "searchads360.customers.audiences.mutate",
              "scopes": [
                "https://www.googleapis.com/auth/doubleclicksearch"
              ],
              "parameterOrder": [
                "customerId"
              ],
              "path": "v23/customers/{+customerId}/audiences:mutate"
            }
          }
        },
        "campaigns": {
          "methods": {
            "enablePMaxBrandGuidelines": {
              "flatPath": "v23/customers/{customersId}/campaigns:enablePMaxBrandGuidelines",
              "scopes": [
                "https://www.googleapis.com/auth/doubleclicksearch"
              ],
              "path": "v23/customers/{+customerId}/campaigns:enablePMaxBrandGuidelines",
              "request": {
                "$ref": "GoogleAdsSearchads360V23Services__EnablePMaxBrandGuidelinesRequest"
              },
              "description": "Enables Brand Guidelines for Performance Max campaigns. List of thrown errors: [AuthenticationError]() [AssetError]() [AssetLinkError]() [AuthorizationError]() [BrandGuidelinesMigrationError]() [CampaignError]() [HeaderError]() [InternalError]() [MutateError]() [QuotaError]() [RequestError]() [ResourceCountLimitExceededError]()",
              "parameterOrder": [
                "customerId"
              ],
              "id": "searchads360.customers.campaigns.enablePMaxBrandGuidelines",
              "response": {
                "$ref": "GoogleAdsSearchads360V23Services__EnablePMaxBrandGuidelinesResponse"
              },
              "httpMethod": "POST",
              "parameters": {
                "customerId": {
                  "required": true,
                  "location": "path",
                  "pattern": "^[^/]+$",
                  "type": "string",
                  "description": "Required. The ID of the customer whose campaigns are being enabled."
                }
              }
            },
            "mutate": {
              "response": {
                "$ref": "GoogleAdsSearchads360V23Services__MutateCampaignsResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/doubleclicksearch"
              ],
              "path": "v23/customers/{+customerId}/campaigns:mutate",
              "flatPath": "v23/customers/{customersId}/campaigns:mutate",
              "request": {
                "$ref": "GoogleAdsSearchads360V23Services__MutateCampaignsRequest"
              },
              "httpMethod": "POST",
              "parameters": {
                "customerId": {
                  "description": "Required. The ID of the customer whose campaigns are being modified.",
                  "type": "string",
                  "pattern": "^[^/]+$",
                  "location": "path",
                  "required": true
                }
              },
              "id": "searchads360.customers.campaigns.mutate",
              "parameterOrder": [
                "customerId"
              ],
              "description": "Creates, updates, or removes campaigns. Operation statuses are returned. List of thrown errors: [AdxError]() [AuthenticationError]() [AuthorizationError]() [BiddingError]() [BiddingStrategyError]() [CampaignBudgetError]() [CampaignError]() [ContextError]() [DatabaseError]() [DateError]() [DateRangeError]() [DistinctError]() [FieldError]() [FieldMaskError]() [HeaderError]() [IdError]() [InternalError]() [ListOperationError]() [MutateError]() [NewResourceCreationError]() [NotAllowlistedError]() [NotEmptyError]() [NullError]() [OperationAccessDeniedError]() [OperatorError]() [QuotaError]() [RangeError]() [RegionCodeError]() [RequestError]() [ResourceCountLimitExceededError]() [SettingError]() [SizeLimitError]() [StringFormatError]() [StringLengthError]() [UrlFieldError]()"
            }
          }
        },
        "customerUserAccesses": {
          "methods": {
            "mutate": {
              "scopes": [
                "https://www.googleapis.com/auth/doubleclicksearch"
              ],
              "description": "Updates, removes permission of a user on a given customer. Operation statuses are returned. List of thrown errors: [AuthenticationError]() [AuthorizationError]() [CustomerUserAccessError]() [FieldMaskError]() [HeaderError]() [InternalError]() [MutateError]() [QuotaError]() [RequestError]()",
              "path": "v23/customers/{+customerId}/customerUserAccesses:mutate",
              "parameterOrder": [
                "customerId"
              ],
              "httpMethod": "POST",
              "parameters": {
                "customerId": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "Required. The ID of the customer being modified.",
                  "pattern": "^[^/]+$"
                }
              },
              "request": {
                "$ref": "GoogleAdsSearchads360V23Services__MutateCustomerUserAccessRequest"
              },
              "response": {
                "$ref": "GoogleAdsSearchads360V23Services__MutateCustomerUserAccessResponse"
              },
              "id": "searchads360.customers.customerUserAccesses.mutate",
              "flatPath": "v23/customers/{customersId}/customerUserAccesses:mutate"
            }
          }
        },
        "userLists": {
          "methods": {
            "mutate": {
              "scopes": [
                "https://www.googleapis.com/auth/doubleclicksearch"
              ],
              "response": {
                "$ref": "GoogleAdsSearchads360V23Services__MutateUserListsResponse"
              },
              "description": "Creates or updates user lists. Operation statuses are returned. List of thrown errors: [AuthenticationError]() [AuthorizationError]() [CollectionSizeError]() [DatabaseError]() [DistinctError]() [FieldError]() [FieldMaskError]() [HeaderError]() [InternalError]() [MutateError]() [NewResourceCreationError]() [NotAllowlistedError]() [NotEmptyError]() [OperationAccessDeniedError]() [QuotaError]() [RangeError]() [RequestError]() [StringFormatError]() [StringLengthError]() [UserListError]()",
              "flatPath": "v23/customers/{customersId}/userLists:mutate",
              "path": "v23/customers/{+customerId}/userLists:mutate",
              "id": "searchads360.customers.userLists.mutate",
              "request": {
                "$ref": "GoogleAdsSearchads360V23Services__MutateUserListsRequest"
              },
              "parameterOrder": [
                "customerId"
              ],
              "httpMethod": "POST",
              "parameters": {
                "customerId": {
                  "location": "path",
                  "pattern": "^[^/]+$",
                  "required": true,
                  "type": "string",
                  "description": "Required. The ID of the customer whose user lists are being modified."
                }
              }
            }
          }
        },
        "adParameters": {
          "methods": {
            "mutate": {
              "httpMethod": "POST",
              "parameters": {
                "customerId": {
                  "pattern": "^[^/]+$",
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "Required. The ID of the customer whose ad parameters are being modified."
                }
              },
              "parameterOrder": [
                "customerId"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/doubleclicksearch"
              ],
              "path": "v23/customers/{+customerId}/adParameters:mutate",
              "request": {
                "$ref": "GoogleAdsSearchads360V23Services__MutateAdParametersRequest"
              },
              "response": {
                "$ref": "GoogleAdsSearchads360V23Services__MutateAdParametersResponse"
              },
              "id": "searchads360.customers.adParameters.mutate",
              "description": "Creates, updates, or removes ad parameters. Operation statuses are returned. List of thrown errors: [AdParameterError]() [AuthenticationError]() [AuthorizationError]() [ContextError]() [DatabaseError]() [FieldError]() [FieldMaskError]() [HeaderError]() [InternalError]() [MutateError]() [QuotaError]() [RequestError]()",
              "flatPath": "v23/customers/{customersId}/adParameters:mutate"
            }
          }
        },
        "customAudiences": {
          "methods": {
            "mutate": {
              "scopes": [
                "https://www.googleapis.com/auth/doubleclicksearch"
              ],
              "response": {
                "$ref": "GoogleAdsSearchads360V23Services__MutateCustomAudiencesResponse"
              },
              "flatPath": "v23/customers/{customersId}/customAudiences:mutate",
              "id": "searchads360.customers.customAudiences.mutate",
              "parameterOrder": [
                "customerId"
              ],
              "httpMethod": "POST",
              "parameters": {
                "customerId": {
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "pattern": "^[^/]+$",
                  "description": "Required. The ID of the customer whose custom audiences are being modified."
                }
              },
              "request": {
                "$ref": "GoogleAdsSearchads360V23Services__MutateCustomAudiencesRequest"
              },
              "description": "Creates or updates custom audiences. Operation statuses are returned. List of thrown errors: [AuthenticationError]() [AuthorizationError]() [CustomAudienceError]() [CustomInterestError]() [FieldError]() [FieldMaskError]() [HeaderError]() [InternalError]() [MutateError]() [OperationAccessDeniedError]() [PolicyViolationError]() [QuotaError]() [RequestError]()",
              "path": "v23/customers/{+customerId}/customAudiences:mutate"
            }
          }
        },
        "conversionValueRules": {
          "methods": {
            "mutate": {
              "flatPath": "v23/customers/{customersId}/conversionValueRules:mutate",
              "request": {
                "$ref": "GoogleAdsSearchads360V23Services__MutateConversionValueRulesRequest"
              },
              "id": "searchads360.customers.conversionValueRules.mutate",
              "httpMethod": "POST",
              "parameters": {
                "customerId": {
                  "location": "path",
                  "required": true,
                  "description": "Required. The ID of the customer whose conversion value rules are being modified.",
                  "type": "string",
                  "pattern": "^[^/]+$"
                }
              },
              "response": {
                "$ref": "GoogleAdsSearchads360V23Services__MutateConversionValueRulesResponse"
              },
              "parameterOrder": [
                "customerId"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/doubleclicksearch"
              ],
              "description": "Creates, updates, or removes conversion value rules. Operation statuses are returned.",
              "path": "v23/customers/{+customerId}/conversionValueRules:mutate"
            }
          }
        },
        "customerClientLinks": {
          "methods": {
            "mutate": {
              "parameterOrder": [
                "customerId"
              ],
              "flatPath": "v23/customers/{customersId}/customerClientLinks:mutate",
              "path": "v23/customers/{+customerId}/customerClientLinks:mutate",
              "request": {
                "$ref": "GoogleAdsSearchads360V23Services__MutateCustomerClientLinkRequest"
              },
              "response": {
                "$ref": "GoogleAdsSearchads360V23Services__MutateCustomerClientLinkResponse"
              },
              "httpMethod": "POST",
              "parameters": {
                "customerId": {
                  "description": "Required. The ID of the customer whose customer link are being modified.",
                  "type": "string",
                  "pattern": "^[^/]+$",
                  "location": "path",
                  "required": true
                }
              },
              "id": "searchads360.customers.customerClientLinks.mutate",
              "scopes": [
                "https://www.googleapis.com/auth/doubleclicksearch"
              ],
              "description": "Creates or updates a customer client link. Operation statuses are returned. List of thrown errors: [AuthenticationError]() [AuthorizationError]() [DatabaseError]() [FieldError]() [FieldMaskError]() [HeaderError]() [InternalError]() [ManagerLinkError]() [MutateError]() [NewResourceCreationError]() [QuotaError]() [RequestError]()"
            }
          }
        },
        "dataLinks": {
          "methods": {
            "remove": {
              "httpMethod": "POST",
              "parameters": {
                "customerId": {
                  "description": "Required. The ID of the customer for which the data link is updated.",
                  "type": "string",
                  "required": true,
                  "location": "path",
                  "pattern": "^[^/]+$"
                }
              },
              "request": {
                "$ref": "GoogleAdsSearchads360V23Services__RemoveDataLinkRequest"
              },
              "scopes": [
                "https://www.googleapis.com/auth/doubleclicksearch"
              ],
              "flatPath": "v23/customers/{customersId}/dataLinks:remove",
              "parameterOrder": [
                "customerId"
              ],
              "description": "Remove a data link. List of thrown errors: [AuthenticationError]() [AuthorizationError]() [DatabaseError]() [DataLinkError]() [FieldError]() [HeaderError]() [InternalError]() [MutateError]() [QuotaError]() [RequestError]()",
              "path": "v23/customers/{+customerId}/dataLinks:remove",
              "id": "searchads360.customers.dataLinks.remove",
              "response": {
                "$ref": "GoogleAdsSearchads360V23Services__RemoveDataLinkResponse"
              }
            },
            "update": {
              "parameterOrder": [
                "customerId"
              ],
              "description": "Update a data link. List of thrown errors: [AuthenticationError]() [AuthorizationError]() [DatabaseError]() [DataLinkError]() [FieldError]() [HeaderError]() [InternalError]() [MutateError]() [QuotaError]() [RequestError]()",
              "scopes": [
                "https://www.googleapis.com/auth/doubleclicksearch"
              ],
              "flatPath": "v23/customers/{customersId}/dataLinks:update",
              "response": {
                "$ref": "GoogleAdsSearchads360V23Services__UpdateDataLinkResponse"
              },
              "httpMethod": "POST",
              "parameters": {
                "customerId": {
                  "location": "path",
                  "required": true,
                  "description": "Required. The ID of the customer for which the data link is created.",
                  "pattern": "^[^/]+$",
                  "type": "string"
                }
              },
              "path": "v23/customers/{+customerId}/dataLinks:update",
              "request": {
                "$ref": "GoogleAdsSearchads360V23Services__UpdateDataLinkRequest"
              },
              "id": "searchads360.customers.dataLinks.update"
            },
            "create": {
              "flatPath": "v23/customers/{customersId}/dataLinks:create",
              "path": "v23/customers/{+customerId}/dataLinks:create",
              "response": {
                "$ref": "GoogleAdsSearchads360V23Services__CreateDataLinkResponse"
              },
              "httpMethod": "POST",
              "parameters": {
                "customerId": {
                  "type": "string",
                  "description": "Required. The ID of the customer for which the data link is created.",
                  "pattern": "^[^/]+$",
                  "location": "path",
                  "required": true
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/doubleclicksearch"
              ],
              "request": {
                "$ref": "GoogleAdsSearchads360V23Services__CreateDataLinkRequest"
              },
              "description": "Creates a data link. The requesting Google Ads account name and account ID will be shared with the third party (such as YouTube creators for video links) to whom you are creating the link with. Only customers on the allow-list can create data links. List of thrown errors: [AuthenticationError]() [AuthorizationError]() [DatabaseError]() [DataLinkError]() [FieldError]() [HeaderError]() [InternalError]() [MutateError]() [QuotaError]() [RequestError]()",
              "id": "searchads360.customers.dataLinks.create",
              "parameterOrder": [
                "customerId"
              ]
            }
          }
        },
        "biddingDataExclusions": {
          "methods": {
            "mutate": {
              "scopes": [
                "https://www.googleapis.com/auth/doubleclicksearch"
              ],
              "path": "v23/customers/{+customerId}/biddingDataExclusions:mutate",
              "id": "searchads360.customers.biddingDataExclusions.mutate",
              "description": "Creates, updates, or removes data exclusions. Operation statuses are returned.",
              "request": {
                "$ref": "GoogleAdsSearchads360V23Services__MutateBiddingDataExclusionsRequest"
              },
              "response": {
                "$ref": "GoogleAdsSearchads360V23Services__MutateBiddingDataExclusionsResponse"
              },
              "httpMethod": "POST",
              "parameters": {
                "customerId": {
                  "pattern": "^[^/]+$",
                  "type": "string",
                  "required": true,
                  "description": "Required. ID of the customer whose data exclusions are being modified.",
                  "location": "path"
                }
              },
              "flatPath": "v23/customers/{customersId}/biddingDataExclusions:mutate",
              "parameterOrder": [
                "customerId"
              ]
            }
          }
        },
        "assetGroups": {
          "methods": {
            "mutate": {
              "request": {
                "$ref": "GoogleAdsSearchads360V23Services__MutateAssetGroupsRequest"
              },
              "response": {
                "$ref": "GoogleAdsSearchads360V23Services__MutateAssetGroupsResponse"
              },
              "flatPath": "v23/customers/{customersId}/assetGroups:mutate",
              "description": "Creates, updates or removes asset groups. Operation statuses are returned.",
              "scopes": [
                "https://www.googleapis.com/auth/doubleclicksearch"
              ],
              "httpMethod": "POST",
              "parameters": {
                "customerId": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "pattern": "^[^/]+$",
                  "description": "Required. The ID of the customer whose asset groups are being modified."
                }
              },
              "path": "v23/customers/{+customerId}/assetGroups:mutate",
              "parameterOrder": [
                "customerId"
              ],
              "id": "searchads360.customers.assetGroups.mutate"
            }
          }
        },
        "adGroupCustomizers": {
          "methods": {
            "mutate": {
              "response": {
                "$ref": "GoogleAdsSearchads360V23Services__MutateAdGroupCustomizersResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/doubleclicksearch"
              ],
              "request": {
                "$ref": "GoogleAdsSearchads360V23Services__MutateAdGroupCustomizersRequest"
              },
              "flatPath": "v23/customers/{customersId}/adGroupCustomizers:mutate",
              "path": "v23/customers/{+customerId}/adGroupCustomizers:mutate",
              "httpMethod": "POST",
              "parameters": {
                "customerId": {
                  "description": "Required. The ID of the customer whose ad group customizers are being modified.",
                  "pattern": "^[^/]+$",
                  "type": "string",
                  "required": true,
                  "location": "path"
                }
              },
              "description": "Creates, updates or removes ad group customizers. Operation statuses are returned.",
              "id": "searchads360.customers.adGroupCustomizers.mutate",
              "parameterOrder": [
                "customerId"
              ]
            }
          }
        },
        "ads": {
          "methods": {
            "mutate": {
              "httpMethod": "POST",
              "parameters": {
                "customerId": {
                  "type": "string",
                  "pattern": "^[^/]+$",
                  "required": true,
                  "location": "path",
                  "description": "Required. The ID of the customer whose ads are being modified."
                }
              },
              "flatPath": "v23/customers/{customersId}/ads:mutate",
              "scopes": [
                "https://www.googleapis.com/auth/doubleclicksearch"
              ],
              "response": {
                "$ref": "GoogleAdsSearchads360V23Services__MutateAdsResponse"
              },
              "parameterOrder": [
                "customerId"
              ],
              "request": {
                "$ref": "GoogleAdsSearchads360V23Services__MutateAdsRequest"
              },
              "path": "v23/customers/{+customerId}/ads:mutate",
              "id": "searchads360.customers.ads.mutate",
              "description": "Updates ads. Operation statuses are returned. Updating ads is not supported for TextAd, ExpandedDynamicSearchAd, GmailAd and ImageAd. List of thrown errors: [AdCustomizerError]() [AdError]() [AdSharingError]() [AdxError]() [AssetError]() [AssetLinkError]() [AuthenticationError]() [AuthorizationError]() [CollectionSizeError]() [DatabaseError]() [DateError]() [DistinctError]() [FeedAttributeReferenceError]() [FieldError]() [FieldMaskError]() [FunctionError]() [FunctionParsingError]() [HeaderError]() [IdError]() [ImageError]() [InternalError]() [ListOperationError]() [MediaBundleError]() [MediaFileError]() [MutateError]() [NewResourceCreationError]() [NotEmptyError]() [NullError]() [OperatorError]() [PolicyFindingError]() [PolicyViolationError]() [QuotaError]() [RangeError]() [RequestError]() [SizeLimitError]() [StringFormatError]() [StringLengthError]() [UrlFieldError]()"
            }
          }
        },
        "adGroupAds": {
          "methods": {
            "mutate": {
              "parameterOrder": [
                "customerId"
              ],
              "description": "Creates, updates, or removes ads. Operation statuses are returned. List of thrown errors: [AdCustomizerError]() [AdError]() [AdGroupAdError]() [AdSharingError]() [AdxError]() [AssetError]() [AssetLinkError]() [AuthenticationError]() [AuthorizationError]() [CollectionSizeError]() [ContextError]() [DatabaseError]() [DateError]() [DistinctError]() [FeedAttributeReferenceError]() [FieldError]() [FieldMaskError]() [FunctionError]() [FunctionParsingError]() [HeaderError]() [IdError]() [ImageError]() [InternalError]() [ListOperationError]() [MediaBundleError]() [MediaFileError]() [MutateError]() [NewResourceCreationError]() [NotEmptyError]() [NullError]() [OperationAccessDeniedError]() [OperatorError]() [PolicyFindingError]() [PolicyValidationParameterError]() [PolicyViolationError]() [QuotaError]() [RangeError]() [RequestError]() [ResourceCountLimitExceededError]() [SizeLimitError]() [StringFormatError]() [StringLengthError]() [UrlFieldError]()",
              "flatPath": "v23/customers/{customersId}/adGroupAds:mutate",
              "response": {
                "$ref": "GoogleAdsSearchads360V23Services__MutateAdGroupAdsResponse"
              },
              "request": {
                "$ref": "GoogleAdsSearchads360V23Services__MutateAdGroupAdsRequest"
              },
              "path": "v23/customers/{+customerId}/adGroupAds:mutate",
              "scopes": [
                "https://www.googleapis.com/auth/doubleclicksearch"
              ],
              "id": "searchads360.customers.adGroupAds.mutate",
              "httpMethod": "POST",
              "parameters": {
                "customerId": {
                  "location": "path",
                  "required": true,
                  "pattern": "^[^/]+$",
                  "description": "Required. The ID of the customer whose ads are being modified.",
                  "type": "string"
                }
              }
            },
            "removeAutomaticallyCreatedAssets": {
              "httpMethod": "POST",
              "parameters": {
                "adGroupAd": {
                  "pattern": "^customers/[^/]+/adGroupAds/[^/]+$",
                  "description": "Required. The resource name of the AdGroupAd from which to remove automatically created assets.",
                  "type": "string",
                  "location": "path",
                  "required": true
                }
              },
              "parameterOrder": [
                "adGroupAd"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/doubleclicksearch"
              ],
              "request": {
                "$ref": "GoogleAdsSearchads360V23Services__RemoveAutomaticallyCreatedAssetsRequest"
              },
              "description": "Remove automatically created assets from an ad. List of thrown errors: [AdError]() [AuthenticationError]() [AuthorizationError]() [AutomaticallyCreatedAssetRemovalError]() [HeaderError]() [InternalError]() [MutateError]() [QuotaError]() [RequestError]()",
              "id": "searchads360.customers.adGroupAds.removeAutomaticallyCreatedAssets",
              "path": "v23/{+adGroupAd}:removeAutomaticallyCreatedAssets",
              "flatPath": "v23/customers/{customersId}/adGroupAds/{adGroupAdsId}:removeAutomaticallyCreatedAssets",
              "response": {
                "$ref": "GoogleProtobuf__Empty"
              }
            }
          }
        },
        "assetGroupSignals": {
          "methods": {
            "mutate": {
              "request": {
                "$ref": "GoogleAdsSearchads360V23Services__MutateAssetGroupSignalsRequest"
              },
              "scopes": [
                "https://www.googleapis.com/auth/doubleclicksearch"
              ],
              "httpMethod": "POST",
              "parameters": {
                "customerId": {
                  "type": "string",
                  "description": "Required. The ID of the customer whose asset group signals are being modified.",
                  "pattern": "^[^/]+$",
                  "location": "path",
                  "required": true
                }
              },
              "description": "Creates or removes asset group signals. Operation statuses are returned.",
              "flatPath": "v23/customers/{customersId}/assetGroupSignals:mutate",
              "parameterOrder": [
                "customerId"
              ],
              "path": "v23/customers/{+customerId}/assetGroupSignals:mutate",
              "id": "searchads360.customers.assetGroupSignals.mutate",
              "response": {
                "$ref": "GoogleAdsSearchads360V23Services__MutateAssetGroupSignalsResponse"
              }
            }
          }
        },
        "adGroupBidModifiers": {
          "methods": {
            "mutate": {
              "flatPath": "v23/customers/{customersId}/adGroupBidModifiers:mutate",
              "response": {
                "$ref": "GoogleAdsSearchads360V23Services__MutateAdGroupBidModifiersResponse"
              },
              "path": "v23/customers/{+customerId}/adGroupBidModifiers:mutate",
              "httpMethod": "POST",
              "parameters": {
                "customerId": {
                  "pattern": "^[^/]+$",
                  "type": "string",
                  "description": "Required. ID of the customer whose ad group bid modifiers are being modified.",
                  "required": true,
                  "location": "path"
                }
              },
              "parameterOrder": [
                "customerId"
              ],
              "request": {
                "$ref": "GoogleAdsSearchads360V23Services__MutateAdGroupBidModifiersRequest"
              },
              "description": "Creates, updates, or removes ad group bid modifiers. Operation statuses are returned. List of thrown errors: [AdGroupBidModifierError]() [AuthenticationError]() [AuthorizationError]() [ContextError]() [CriterionError]() [DatabaseError]() [DistinctError]() [FieldError]() [FieldMaskError]() [HeaderError]() [IdError]() [InternalError]() [MutateError]() [NewResourceCreationError]() [NotEmptyError]() [OperatorError]() [QuotaError]() [RangeError]() [RequestError]() [ResourceCountLimitExceededError]() [SizeLimitError]() [StringFormatError]() [StringLengthError]()",
              "id": "searchads360.customers.adGroupBidModifiers.mutate",
              "scopes": [
                "https://www.googleapis.com/auth/doubleclicksearch"
              ]
            }
          }
        },
        "accountBudgetProposals": {
          "methods": {
            "mutate": {
              "request": {
                "$ref": "GoogleAdsSearchads360V23Services__MutateAccountBudgetProposalRequest"
              },
              "description": "Creates, updates, or removes account budget proposals. Operation statuses are returned. List of thrown errors: [AccountBudgetProposalError]() [AuthenticationError]() [AuthorizationError]() [DatabaseError]() [DateError]() [FieldError]() [FieldMaskError]() [HeaderError]() [InternalError]() [MutateError]() [QuotaError]() [RequestError]() [StringLengthError]()",
              "id": "searchads360.customers.accountBudgetProposals.mutate",
              "flatPath": "v23/customers/{customersId}/accountBudgetProposals:mutate",
              "path": "v23/customers/{+customerId}/accountBudgetProposals:mutate",
              "parameterOrder": [
                "customerId"
              ],
              "httpMethod": "POST",
              "parameters": {
                "customerId": {
                  "pattern": "^[^/]+$",
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "Required. The ID of the customer."
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/doubleclicksearch"
              ],
              "response": {
                "$ref": "GoogleAdsSearchads360V23Services__MutateAccountBudgetProposalResponse"
              }
            }
          }
        },
        "AdGroupCriterionCustomizers": {
          "methods": {
            "mutate": {
              "path": "v23/customers/{+customerId}/AdGroupCriterionCustomizers:mutate",
              "scopes": [
                "https://www.googleapis.com/auth/doubleclicksearch"
              ],
              "response": {
                "$ref": "GoogleAdsSearchads360V23Services__MutateAdGroupCriterionCustomizersResponse"
              },
              "description": "Creates, updates or removes ad group criterion customizers. Operation statuses are returned.",
              "request": {
                "$ref": "GoogleAdsSearchads360V23Services__MutateAdGroupCriterionCustomizersRequest"
              },
              "flatPath": "v23/customers/{customersId}/AdGroupCriterionCustomizers:mutate",
              "id": "searchads360.customers.AdGroupCriterionCustomizers.mutate",
              "parameterOrder": [
                "customerId"
              ],
              "httpMethod": "POST",
              "parameters": {
                "customerId": {
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "description": "Required. The ID of the customer whose ad group criterion customizers are being modified.",
                  "pattern": "^[^/]+$"
                }
              }
            }
          }
        },
        "searchAds360": {
          "methods": {
            "search": {
              "flatPath": "v23/customers/{customersId}/searchAds360:search",
              "request": {
                "$ref": "GoogleAdsSearchads360V23Services__SearchSearchAds360Request"
              },
              "description": "Returns all rows that match the search query. List of thrown errors: [AuthenticationError]() [AuthorizationError]() [ChangeEventError]() [ChangeStatusError]() [ClickViewError]() [HeaderError]() [InternalError]() [QueryError]() [QuotaError]() [RequestError]()",
              "scopes": [
                "https://www.googleapis.com/auth/doubleclicksearch"
              ],
              "id": "searchads360.customers.searchAds360.search",
              "response": {
                "$ref": "GoogleAdsSearchads360V23Services__SearchSearchAds360Response"
              },
              "parameterOrder": [
                "customerId"
              ],
              "httpMethod": "POST",
              "parameters": {
                "customerId": {
                  "location": "path",
                  "required": true,
                  "description": "Required. The ID of the customer being queried.",
                  "pattern": "^[^/]+$",
                  "type": "string"
                }
              },
              "path": "v23/customers/{+customerId}/searchAds360:search"
            },
            "mutate": {
              "path": "v23/customers/{+customerId}/searchAds360:mutate",
              "id": "searchads360.customers.searchAds360.mutate",
              "description": "This method is essentially a wrapper around a series of mutate methods. The only features it offers over calling those methods directly are: - Atomic transactions - Temp resource names (described below) - Somewhat reduced latency over making a series of mutate calls Note: Only resources that support atomic transactions are included, so this method can't replace all calls to individual services. ## Atomic Transaction Benefits Atomicity makes error handling much easier. If you're making a series of changes and one fails, it can leave your account in an inconsistent state. With atomicity, you either reach the chosen state directly, or the request fails and you can retry. ## Temp Resource Names Temp resource names are a special type of resource name used to create a resource and reference that resource in the same request. For example, if a is created with `resource_name` equal to ``, that resource name can be reused in the `` field in the same request. That way, the two resources are created and linked atomically. To create a temp resource name, put a negative number in the part of the name that the server would normally allocate. Note: - Resources must be created with a temp name before the name can be reused. For example, the previous example would fail if the mutate order was reversed. - Temp names are not remembered across requests. - There's no limit to the number of temp names in a request. - Each temp name must use a unique negative number, even if the resource types differ. ## Latency It's important to group mutates by resource type or the request may time out and fail. Latency is roughly equal to a series of calls to individual mutate methods, where each change in resource type is a new call. For example, mutating is like 2 calls, while mutating is like 4 calls. List of thrown errors: [AdCustomizerError]() [AdError]() [AdGroupAdError]() [AdGroupCriterionError]() [AdGroupError]() [AssetError]() [AuthenticationError]() [AuthorizationError]() [BiddingError]() [CampaignBudgetError]() [CampaignCriterionError]() [CampaignError]() [CampaignExperimentError]() [CampaignSharedSetError]() [CollectionSizeError]() [ContextError]() [ConversionActionError]() [CriterionError]() [CustomerFeedError]() [DatabaseError]() [DateError]() [DateRangeError]() [DistinctError]() [ExtensionFeedItemError]() [ExtensionSettingError]() [FeedAttributeReferenceError]() [FeedError]() [FeedItemError]() [FeedItemSetError]() [FieldError]() [FieldMaskError]() [FunctionParsingError]() [HeaderError]() [ImageError]() [InternalError]() [KeywordPlanAdGroupKeywordError]() [KeywordPlanCampaignError]() [KeywordPlanError]() [LabelError]() [ListOperationError]() [MediaUploadError]() [MutateError]() [NewResourceCreationError]() [NullError]() [OperationAccessDeniedError]() [PolicyFindingError]() [PolicyViolationError]() [QuotaError]() [RangeError]() [RequestError]() [ResourceCountLimitExceededError]() [SettingError]() [SharedSetError]() [SizeLimitError]() [StringFormatError]() [StringLengthError]() [UrlFieldError]() [UserListError]() [YoutubeVideoRegistrationError]()",
              "response": {
                "$ref": "GoogleAdsSearchads360V23Services__MutateSearchAds360Response"
              },
              "httpMethod": "POST",
              "parameters": {
                "customerId": {
                  "required": true,
                  "pattern": "^[^/]+$",
                  "location": "path",
                  "type": "string",
                  "description": "Required. The ID of the customer whose resources are being modified."
                }
              },
              "parameterOrder": [
                "customerId"
              ],
              "request": {
                "$ref": "GoogleAdsSearchads360V23Services__MutateSearchAds360Request"
              },
              "flatPath": "v23/customers/{customersId}/searchAds360:mutate",
              "scopes": [
                "https://www.googleapis.com/auth/doubleclicksearch"
              ]
            }
          }
        },
        "biddingSeasonalityAdjustments": {
          "methods": {
            "mutate": {
              "request": {
                "$ref": "GoogleAdsSearchads360V23Services__MutateBiddingSeasonalityAdjustmentsRequest"
              },
              "description": "Creates, updates, or removes seasonality adjustments. Operation statuses are returned.",
              "parameterOrder": [
                "customerId"
              ],
              "response": {
                "$ref": "GoogleAdsSearchads360V23Services__MutateBiddingSeasonalityAdjustmentsResponse"
              },
              "path": "v23/customers/{+customerId}/biddingSeasonalityAdjustments:mutate",
              "flatPath": "v23/customers/{customersId}/biddingSeasonalityAdjustments:mutate",
              "scopes": [
                "https://www.googleapis.com/auth/doubleclicksearch"
              ],
              "id": "searchads360.customers.biddingSeasonalityAdjustments.mutate",
              "httpMethod": "POST",
              "parameters": {
                "customerId": {
                  "required": true,
                  "location": "path",
                  "description": "Required. ID of the customer whose seasonality adjustments are being modified.",
                  "type": "string",
                  "pattern": "^[^/]+$"
                }
              }
            }
          }
        },
        "conversionGoalCampaignConfigs": {
          "methods": {
            "mutate": {
              "request": {
                "$ref": "GoogleAdsSearchads360V23Services__MutateConversionGoalCampaignConfigsRequest"
              },
              "parameterOrder": [
                "customerId"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/doubleclicksearch"
              ],
              "id": "searchads360.customers.conversionGoalCampaignConfigs.mutate",
              "response": {
                "$ref": "GoogleAdsSearchads360V23Services__MutateConversionGoalCampaignConfigsResponse"
              },
              "description": "Creates, updates or removes conversion goal campaign config. Operation statuses are returned.",
              "flatPath": "v23/customers/{customersId}/conversionGoalCampaignConfigs:mutate",
              "path": "v23/customers/{+customerId}/conversionGoalCampaignConfigs:mutate",
              "httpMethod": "POST",
              "parameters": {
                "customerId": {
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "description": "Required. The ID of the customer whose custom conversion goals are being modified.",
                  "pattern": "^[^/]+$"
                }
              }
            }
          }
        },
        "customerLifecycleGoal": {
          "methods": {
            "configureCustomerLifecycleGoals": {
              "parameterOrder": [
                "customerId"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/doubleclicksearch"
              ],
              "path": "v23/customers/{+customerId}/customerLifecycleGoal:configureCustomerLifecycleGoals",
              "description": "Process the given customer lifecycle configurations. List of thrown errors: [AuthenticationError]() [AuthorizationError]() [CustomerLifecycleGoalConfigError]() [HeaderError]() [InternalError]() [QuotaError]() [RequestError]()",
              "request": {
                "$ref": "GoogleAdsSearchads360V23Services__ConfigureCustomerLifecycleGoalsRequest"
              },
              "response": {
                "$ref": "GoogleAdsSearchads360V23Services__ConfigureCustomerLifecycleGoalsResponse"
              },
              "httpMethod": "POST",
              "parameters": {
                "customerId": {
                  "pattern": "^[^/]+$",
                  "description": "Required. The ID of the customer performing the upload.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "id": "searchads360.customers.customerLifecycleGoal.configureCustomerLifecycleGoals",
              "flatPath": "v23/customers/{customersId}/customerLifecycleGoal:configureCustomerLifecycleGoals"
            }
          }
        },
        "campaignConversionGoals": {
          "methods": {
            "mutate": {
              "flatPath": "v23/customers/{customersId}/campaignConversionGoals:mutate",
              "scopes": [
                "https://www.googleapis.com/auth/doubleclicksearch"
              ],
              "request": {
                "$ref": "GoogleAdsSearchads360V23Services__MutateCampaignConversionGoalsRequest"
              },
              "response": {
                "$ref": "GoogleAdsSearchads360V23Services__MutateCampaignConversionGoalsResponse"
              },
              "parameterOrder": [
                "customerId"
              ],
              "id": "searchads360.customers.campaignConversionGoals.mutate",
              "path": "v23/customers/{+customerId}/campaignConversionGoals:mutate",
              "description": "Creates, updates or removes campaign conversion goals. Operation statuses are returned.",
              "httpMethod": "POST",
              "parameters": {
                "customerId": {
                  "type": "string",
                  "location": "path",
                  "description": "Required. The ID of the customer whose campaign conversion goals are being modified.",
                  "required": true,
                  "pattern": "^[^/]+$"
                }
              }
            }
          }
        },
        "biddingStrategies": {
          "methods": {
            "mutate": {
              "id": "searchads360.customers.biddingStrategies.mutate",
              "request": {
                "$ref": "GoogleAdsSearchads360V23Services__MutateBiddingStrategiesRequest"
              },
              "httpMethod": "POST",
              "parameters": {
                "customerId": {
                  "location": "path",
                  "description": "Required. The ID of the customer whose bidding strategies are being modified.",
                  "required": true,
                  "type": "string",
                  "pattern": "^[^/]+$"
                }
              },
              "description": "Creates, updates, or removes bidding strategies. Operation statuses are returned. List of thrown errors: [AdxError]() [AuthenticationError]() [AuthorizationError]() [BiddingError]() [BiddingStrategyError]() [ContextError]() [DatabaseError]() [DateError]() [DistinctError]() [FieldError]() [FieldMaskError]() [HeaderError]() [IdError]() [InternalError]() [MutateError]() [NewResourceCreationError]() [NotEmptyError]() [NullError]() [OperationAccessDeniedError]() [OperatorError]() [QuotaError]() [RangeError]() [RequestError]() [SizeLimitError]() [StringFormatError]() [StringLengthError]()",
              "response": {
                "$ref": "GoogleAdsSearchads360V23Services__MutateBiddingStrategiesResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/doubleclicksearch"
              ],
              "path": "v23/customers/{+customerId}/biddingStrategies:mutate",
              "flatPath": "v23/customers/{customersId}/biddingStrategies:mutate",
              "parameterOrder": [
                "customerId"
              ]
            }
          }
        },
        "customerAssets": {
          "methods": {
            "mutate": {
              "path": "v23/customers/{+customerId}/customerAssets:mutate",
              "description": "Creates, updates, or removes customer assets. Operation statuses are returned. List of thrown errors: [AssetLinkError]() [AuthenticationError]() [AuthorizationError]() [FieldError]() [HeaderError]() [InternalError]() [MutateError]() [QuotaError]() [RequestError]()",
              "response": {
                "$ref": "GoogleAdsSearchads360V23Services__MutateCustomerAssetsResponse"
              },
              "id": "searchads360.customers.customerAssets.mutate",
              "httpMethod": "POST",
              "parameters": {
                "customerId": {
                  "description": "Required. The ID of the customer whose customer assets are being modified.",
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "pattern": "^[^/]+$"
                }
              },
              "request": {
                "$ref": "GoogleAdsSearchads360V23Services__MutateCustomerAssetsRequest"
              },
              "scopes": [
                "https://www.googleapis.com/auth/doubleclicksearch"
              ],
              "flatPath": "v23/customers/{customersId}/customerAssets:mutate",
              "parameterOrder": [
                "customerId"
              ]
            }
          }
        },
        "keywordPlanAdGroups": {
          "methods": {
            "mutate": {
              "flatPath": "v23/customers/{customersId}/keywordPlanAdGroups:mutate",
              "parameterOrder": [
                "customerId"
              ],
              "id": "searchads360.customers.keywordPlanAdGroups.mutate",
              "httpMethod": "POST",
              "parameters": {
                "customerId": {
                  "pattern": "^[^/]+$",
                  "type": "string",
                  "location": "path",
                  "description": "Required. The ID of the customer whose Keyword Plan ad groups are being modified.",
                  "required": true
                }
              },
              "description": "Creates, updates, or removes Keyword Plan ad groups. Operation statuses are returned. List of thrown errors: [AuthenticationError]() [AuthorizationError]() [DatabaseError]() [FieldError]() [FieldMaskError]() [HeaderError]() [InternalError]() [KeywordPlanAdGroupError]() [KeywordPlanError]() [MutateError]() [NewResourceCreationError]() [QuotaError]() [RequestError]() [ResourceCountLimitExceededError]()",
              "response": {
                "$ref": "GoogleAdsSearchads360V23Services__MutateKeywordPlanAdGroupsResponse"
              },
              "request": {
                "$ref": "GoogleAdsSearchads360V23Services__MutateKeywordPlanAdGroupsRequest"
              },
              "scopes": [
                "https://www.googleapis.com/auth/doubleclicksearch"
              ],
              "path": "v23/customers/{+customerId}/keywordPlanAdGroups:mutate"
            }
          }
        },
        "keywordPlanCampaigns": {
          "methods": {
            "mutate": {
              "response": {
                "$ref": "GoogleAdsSearchads360V23Services__MutateKeywordPlanCampaignsResponse"
              },
              "description": "Creates, updates, or removes Keyword Plan campaigns. Operation statuses are returned. List of thrown errors: [AuthenticationError]() [AuthorizationError]() [DatabaseError]() [FieldError]() [FieldMaskError]() [HeaderError]() [InternalError]() [KeywordPlanCampaignError]() [KeywordPlanError]() [ListOperationError]() [MutateError]() [QuotaError]() [RangeError]() [RequestError]() [ResourceCountLimitExceededError]()",
              "flatPath": "v23/customers/{customersId}/keywordPlanCampaigns:mutate",
              "id": "searchads360.customers.keywordPlanCampaigns.mutate",
              "path": "v23/customers/{+customerId}/keywordPlanCampaigns:mutate",
              "request": {
                "$ref": "GoogleAdsSearchads360V23Services__MutateKeywordPlanCampaignsRequest"
              },
              "httpMethod": "POST",
              "parameters": {
                "customerId": {
                  "required": true,
                  "location": "path",
                  "description": "Required. The ID of the customer whose Keyword Plan campaigns are being modified.",
                  "pattern": "^[^/]+$",
                  "type": "string"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/doubleclicksearch"
              ],
              "parameterOrder": [
                "customerId"
              ]
            }
          }
        },
        "customColumns": {
          "methods": {
            "list": {
              "path": "v23/customers/{+customerId}/customColumns",
              "parameterOrder": [
                "customerId"
              ],
              "response": {
                "$ref": "GoogleAdsSearchads360V23Services__ListCustomColumnsResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/doubleclicksearch"
              ],
              "flatPath": "v23/customers/{customersId}/customColumns",
              "id": "searchads360.customers.customColumns.list",
              "description": "Returns all the custom columns associated with the customer in full detail.",
              "httpMethod": "GET",
              "parameters": {
                "customerId": {
                  "location": "path",
                  "pattern": "^[^/]+$",
                  "required": true,
                  "description": "Required. The ID of the customer to apply the CustomColumn list operation to.",
                  "type": "string"
                }
              }
            },
            "get": {
              "httpMethod": "GET",
              "parameters": {
                "resourceName": {
                  "type": "string",
                  "description": "Required. The resource name of the custom column to fetch.",
                  "required": true,
                  "location": "path",
                  "pattern": "^customers/[^/]+/customColumns/[^/]+$"
                }
              },
              "parameterOrder": [
                "resourceName"
              ],
              "path": "v23/{+resourceName}",
              "scopes": [
                "https://www.googleapis.com/auth/doubleclicksearch"
              ],
              "flatPath": "v23/customers/{customersId}/customColumns/{customColumnsId}",
              "description": "Returns the requested custom column in full detail.",
              "response": {
                "$ref": "GoogleAdsSearchads360V23Resources__CustomColumn"
              },
              "id": "searchads360.customers.customColumns.get"
            }
          }
        },
        "campaignAssetSets": {
          "methods": {
            "mutate": {
              "response": {
                "$ref": "GoogleAdsSearchads360V23Services__MutateCampaignAssetSetsResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/doubleclicksearch"
              ],
              "httpMethod": "POST",
              "parameters": {
                "customerId": {
                  "pattern": "^[^/]+$",
                  "description": "Required. The ID of the customer whose campaign asset sets are being modified.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "flatPath": "v23/customers/{customersId}/campaignAssetSets:mutate",
              "id": "searchads360.customers.campaignAssetSets.mutate",
              "description": "Creates, updates or removes campaign asset sets. Operation statuses are returned.",
              "parameterOrder": [
                "customerId"
              ],
              "path": "v23/customers/{+customerId}/campaignAssetSets:mutate",
              "request": {
                "$ref": "GoogleAdsSearchads360V23Services__MutateCampaignAssetSetsRequest"
              }
            }
          }
        },
        "adGroupCriterionLabels": {
          "methods": {
            "mutate": {
              "flatPath": "v23/customers/{customersId}/adGroupCriterionLabels:mutate",
              "response": {
                "$ref": "GoogleAdsSearchads360V23Services__MutateAdGroupCriterionLabelsResponse"
              },
              "httpMethod": "POST",
              "parameters": {
                "customerId": {
                  "pattern": "^[^/]+$",
                  "type": "string",
                  "description": "Required. ID of the customer whose ad group criterion labels are being modified.",
                  "location": "path",
                  "required": true
                }
              },
              "request": {
                "$ref": "GoogleAdsSearchads360V23Services__MutateAdGroupCriterionLabelsRequest"
              },
              "scopes": [
                "https://www.googleapis.com/auth/doubleclicksearch"
              ],
              "id": "searchads360.customers.adGroupCriterionLabels.mutate",
              "path": "v23/customers/{+customerId}/adGroupCriterionLabels:mutate",
              "parameterOrder": [
                "customerId"
              ],
              "description": "Creates and removes ad group criterion labels. Operation statuses are returned. List of thrown errors: [AuthenticationError]() [AuthorizationError]() [DatabaseError]() [FieldError]() [HeaderError]() [InternalError]() [QuotaError]() [RequestError]()"
            }
          }
        },
        "campaignGroups": {
          "methods": {
            "mutate": {
              "httpMethod": "POST",
              "parameters": {
                "customerId": {
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "description": "Required. The ID of the customer whose campaign groups are being modified.",
                  "pattern": "^[^/]+$"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/doubleclicksearch"
              ],
              "request": {
                "$ref": "GoogleAdsSearchads360V23Services__MutateCampaignGroupsRequest"
              },
              "id": "searchads360.customers.campaignGroups.mutate",
              "description": "Creates, updates, or removes campaign groups. Operation statuses are returned.",
              "parameterOrder": [
                "customerId"
              ],
              "path": "v23/customers/{+customerId}/campaignGroups:mutate",
              "response": {
                "$ref": "GoogleAdsSearchads360V23Services__MutateCampaignGroupsResponse"
              },
              "flatPath": "v23/customers/{customersId}/campaignGroups:mutate"
            }
          }
        },
        "adGroupAssets": {
          "methods": {
            "mutate": {
              "httpMethod": "POST",
              "parameters": {
[...]
