{
  "baseUrl": "https://searchads360.googleapis.com/",
  "version": "v23",
  "parameters": {
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query",
      "type": "string"
    },
    "quotaUser": {
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query",
      "type": "string"
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean",
      "default": "true",
      "location": "query"
    },
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "$.xgafv": {
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format.",
      "location": "query",
      "enum": [
        "1",
        "2"
      ]
    },
    "alt": {
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "type": "string",
      "default": "json",
      "description": "Data format for response.",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "location": "query"
    },
    "callback": {
      "location": "query",
      "type": "string",
      "description": "JSONP"
    },
    "uploadType": {
      "type": "string",
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "oauth_token": {
      "location": "query",
      "description": "OAuth 2.0 token for the current user.",
      "type": "string"
    }
  },
  "ownerDomain": "google.com",
  "version_module": true,
  "servicePath": "",
  "revision": "20260820",
  "protocol": "rest",
  "kind": "discovery#restDescription",
  "canonicalName": "SA360",
  "discoveryVersion": "v1",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "schemas": {
    "GoogleAdsSearchads360V23Resources__ParentalStatusView": {
      "description": "A parental status view.",
      "id": "GoogleAdsSearchads360V23Resources__ParentalStatusView",
      "properties": {
        "resourceName": {
          "type": "string",
          "description": "Output only. The resource name of the parental status view. Parental Status view resource names have the form: `customers/{customer_id}/parentalStatusViews/{ad_group_id}~{criterion_id}`",
          "readOnly": true
        }
      },
      "type": "object"
    },
    "GoogleAdsSearchads360V23Services__CreateAccountLinkRequest": {
      "description": "Request message for AccountLinkService.CreateAccountLink.",
      "properties": {
        "accountLink": {
          "$ref": "GoogleAdsSearchads360V23Resources__AccountLink",
          "description": "Required. The account link to be created."
        }
      },
      "id": "GoogleAdsSearchads360V23Services__CreateAccountLinkRequest",
      "type": "object"
    },
    "GoogleAdsSearchads360V23Resources_ListingGroupFilterDimension_ProductItemId": {
      "type": "object",
      "description": "Item id of a product offer.",
      "id": "GoogleAdsSearchads360V23Resources_ListingGroupFilterDimension_ProductItemId",
      "properties": {
        "value": {
          "description": "Value of the id.",
          "type": "string"
        }
      }
    },
    "GoogleAdsSearchads360V23Resources__DoubleClickCampaignManagerSetting": {
      "properties": {
        "networkId": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. ID of the Campaign Manager network associated with this customer.",
          "format": "int64"
        },
        "advertiserId": {
          "description": "Output only. ID of the Campaign Manager advertiser associated with this customer.",
          "format": "int64",
          "readOnly": true,
          "type": "string"
        },
        "timeZone": {
          "readOnly": true,
          "description": "Output only. Time zone of the Campaign Manager network associated with this customer in IANA Time Zone Database format, such as America/New_York.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "DoubleClick Campaign Manager (DCM) setting for a manager customer.",
      "id": "GoogleAdsSearchads360V23Resources__DoubleClickCampaignManagerSetting"
    },
    "GoogleAdsSearchads360V23Services__AudienceCompositionAttributeCluster": {
      "description": "A collection of related attributes, with metadata and metrics, in an audience composition insights report.",
      "type": "object",
      "id": "GoogleAdsSearchads360V23Services__AudienceCompositionAttributeCluster",
      "properties": {
        "clusterDisplayName": {
          "description": "The name of this cluster of attributes",
          "type": "string"
        },
        "clusterMetrics": {
          "description": "If the dimension associated with this cluster is YOUTUBE_CHANNEL, then cluster_metrics are metrics associated with the cluster as a whole. For other dimensions, this field is unset.",
          "$ref": "GoogleAdsSearchads360V23Services__AudienceCompositionMetrics"
        },
        "attributes": {
          "description": "The individual attributes that make up this cluster, with metadata and metrics.",
          "type": "array",
          "items": {
            "$ref": "GoogleAdsSearchads360V23Services__AudienceCompositionAttribute"
          }
        }
      }
    },
    "GoogleAdsSearchads360V23Resources__OfflineUserDataJob": {
      "id": "GoogleAdsSearchads360V23Resources__OfflineUserDataJob",
      "properties": {
        "failureReason": {
          "enum": [
            "UNSPECIFIED",
            "UNKNOWN",
            "INSUFFICIENT_MATCHED_TRANSACTIONS",
            "INSUFFICIENT_TRANSACTIONS",
            "HIGH_AVERAGE_TRANSACTION_VALUE",
            "LOW_AVERAGE_TRANSACTION_VALUE",
            "NEWLY_OBSERVED_CURRENCY_CODE"
          ],
          "readOnly": true,
          "enumDescriptions": [
            "Not specified.",
            "Used for return value only. Represents value unknown in this version.",
            "The matched transactions are insufficient.",
            "The uploaded transactions are insufficient.",
            "The average transaction value is unusually high for your account. If this is intended, contact support to request an exception. Learn more at https://support.google.com/google-ads/answer/10018944#transaction_value",
            "The average transaction value is unusually low for your account. If this is intended, contact support to request an exception. Learn more at https://support.google.com/google-ads/answer/10018944#transaction_value",
            "There's a currency code that you haven't used before in your uploads. If this is intended, contact support to request an exception. Learn more at https://support.google.com/google-ads/answer/10018944#Unrecognized_currency"
          ],
          "type": "string",
          "description": "Output only. Reason for the processing failure, if status is FAILED."
        },
        "resourceName": {
          "description": "Immutable. The resource name of the offline user data job. Offline user data job resource names have the form: `customers/{customer_id}/offlineUserDataJobs/{offline_user_data_job_id}`",
          "type": "string"
        },
        "operationMetadata": {
          "$ref": "GoogleAdsSearchads360V23Resources__OfflineUserDataJobMetadata",
          "description": "Output only. Metadata of offline user data job depicting match rate range.",
          "readOnly": true
        },
        "type": {
          "enumDescriptions": [
            "Not specified.",
            "Used for return value only. Represents value unknown in this version.",
            "Store Sales Direct data for self service.",
            "Store Sales Direct data for third party.",
            "Customer Match user list data.",
            "Customer Match with attribute data."
          ],
          "type": "string",
          "enum": [
            "UNSPECIFIED",
            "UNKNOWN",
            "STORE_SALES_UPLOAD_FIRST_PARTY",
            "STORE_SALES_UPLOAD_THIRD_PARTY",
            "CUSTOMER_MATCH_USER_LIST",
            "CUSTOMER_MATCH_WITH_ATTRIBUTES"
          ],
          "description": "Immutable. Type of the job."
        },
        "storeSalesMetadata": {
          "$ref": "GoogleAdsSearchads360V23Common__StoreSalesMetadata",
          "description": "Immutable. Metadata for store sales data update."
        },
        "status": {
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "Not specified.",
            "Used for return value only. Represents value unknown in this version.",
            "The job has been successfully created and pending for uploading.",
            "Upload(s) have been accepted and data is being processed.",
            "Uploaded data has been successfully processed. The job might have no operations, which can happen if the job was run without any operations added, or if all operations failed validation individually when attempting to add them to the job.",
            "Uploaded data has failed to be processed. Some operations may have been successfully processed."
          ],
          "description": "Output only. Status of the job.",
          "enum": [
            "UNSPECIFIED",
            "UNKNOWN",
            "PENDING",
            "RUNNING",
            "SUCCESS",
            "FAILED"
          ]
        },
        "customerMatchUserListMetadata": {
          "description": "Immutable. Metadata for data updates to a CRM-based user list.",
          "$ref": "GoogleAdsSearchads360V23Common__CustomerMatchUserListMetadata"
        },
        "id": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. ID of this offline user data job.",
          "format": "int64"
        },
        "externalId": {
          "format": "int64",
          "type": "string",
          "description": "Immutable. User specified job ID."
        }
      },
      "type": "object",
      "description": "A job containing offline user data of store visitors, or user list members that will be processed asynchronously. The uploaded data isn't readable and the processing results of the job can only be read using"
    },
    "GoogleAdsSearchads360V23Resources__Label": {
      "type": "object",
      "description": "A label.",
      "id": "GoogleAdsSearchads360V23Resources__Label",
      "properties": {
        "id": {
          "description": "Output only. ID of the label. Read only.",
          "readOnly": true,
          "type": "string",
          "format": "int64"
        },
        "textLabel": {
          "$ref": "GoogleAdsSearchads360V23Common__TextLabel",
          "description": "A type of label displaying text on a colored background."
        },
        "status": {
          "enumDescriptions": [
            "Not specified.",
            "Used for return value only. Represents value unknown in this version.",
            "Label is enabled.",
            "Label is removed."
          ],
          "readOnly": true,
          "type": "string",
          "description": "Output only. Status of the label. Read only.",
          "enum": [
            "UNSPECIFIED",
            "UNKNOWN",
            "ENABLED",
            "REMOVED"
          ]
        },
        "resourceName": {
          "description": "Immutable. Name of the resource. Label resource names have the form: `customers/{owner_customer_id}/labels/{label_id}`",
          "type": "string"
        },
        "name": {
          "description": "The name of the label. This field is required and should not be empty when creating a new label. The length of this string should be between 1 and 80, inclusive.",
          "type": "string"
        }
      }
    },
    "GoogleAdsSearchads360V23Services__KeywordAndUrlSeed": {
      "properties": {
        "url": {
          "description": "The URL to crawl in order to generate keyword ideas.",
          "type": "string"
        },
        "keywords": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Requires at least one keyword and no more than 20 keywords."
        }
      },
      "description": "Keyword And Url Seed",
      "id": "GoogleAdsSearchads360V23Services__KeywordAndUrlSeed",
      "type": "object"
    },
    "GoogleAdsSearchads360V23Services__UploadConversionAdjustmentsResponse": {
      "properties": {
        "partialFailureError": {
          "description": "Errors that pertain to conversion adjustment failures in the partial failure mode. Returned when all errors occur inside the adjustments. If any errors occur outside the adjustments (for example, auth errors), we return an RPC level error. See https://developers.google.com/google-ads/api/docs/best-practices/partial-failures for more information about partial failure.",
          "$ref": "GoogleRpc__Status"
        },
        "results": {
          "type": "array",
          "description": "Returned for successfully processed conversion adjustments. Proto will be empty for rows that received an error. Results are not returned when validate_only is true.",
          "items": {
            "$ref": "GoogleAdsSearchads360V23Services__ConversionAdjustmentResult"
          }
        },
        "jobId": {
          "type": "string",
          "description": "Job ID for the upload batch.",
          "format": "int64"
        }
      },
      "id": "GoogleAdsSearchads360V23Services__UploadConversionAdjustmentsResponse",
      "description": "Response message for ConversionAdjustmentUploadService.UploadConversionAdjustments.",
      "type": "object"
    },
    "GoogleAdsSearchads360V23Services__MutateAdGroupResult": {
      "id": "GoogleAdsSearchads360V23Services__MutateAdGroupResult",
      "type": "object",
      "description": "The result for the ad group mutate.",
      "properties": {
        "resourceName": {
          "type": "string",
          "description": "Returned for successful operations."
        },
        "adGroup": {
          "$ref": "GoogleAdsSearchads360V23Resources__AdGroup",
          "description": "The mutated ad group with only mutable fields after mutate. The field will only be returned when response_content_type is set to \"MUTABLE_RESOURCE\"."
        }
      }
    },
    "GoogleAdsSearchads360V23Common__ProductLabelsInfo": {
      "type": "object",
      "description": "Labels of a product offer. This listing dimension is deprecated and it is supported only in Display campaigns.",
      "id": "GoogleAdsSearchads360V23Common__ProductLabelsInfo",
      "properties": {
        "value": {
          "description": "String value of the product labels.",
          "type": "string"
        }
      }
    },
    "GoogleAdsSearchads360V23Services__MutateAssetSetResult": {
      "properties": {
        "resourceName": {
          "type": "string",
          "description": "Returned for successful operations."
        },
        "assetSet": {
          "$ref": "GoogleAdsSearchads360V23Resources__AssetSet",
          "description": "The mutated asset set with only mutable fields after mutate. The field will only be returned when response_content_type is set to \"MUTABLE_RESOURCE\"."
        }
      },
      "description": "The result for the asset set mutate.",
      "id": "GoogleAdsSearchads360V23Services__MutateAssetSetResult",
      "type": "object"
    },
    "GoogleAdsSearchads360V23Resources__RecommendationSubscription": {
      "description": "Recommendation Subscription resource",
      "id": "GoogleAdsSearchads360V23Resources__RecommendationSubscription",
      "type": "object",
      "properties": {
        "modifyDateTime": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Contains the time in microseconds, when the Recommendation Subscription was last updated. The datetime is in the customer's time zone and in \"yyyy-MM-dd HH:mm:ss.ssssss\" format."
        },
        "createDateTime": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Time in seconds when the subscription was first created. The datetime is in the customer's time zone and in \"yyyy-MM-dd HH:mm:ss\" format."
        },
        "type": {
          "enumDescriptions": [
            "Not specified.",
            "Used for return value only. Represents value unknown in this version.",
            "Provides optimized budget recommendations for campaigns.",
            "Keyword recommendation.",
            "Recommendation to add a new text ad.",
            "Recommendation to update a campaign to use a Target CPA bidding strategy.",
            "Recommendation to update a campaign to use the Maximize Conversions bidding strategy.",
            "Recommendation to enable Enhanced Cost Per Click for a campaign.",
            "Recommendation to start showing your campaign's ads on Google Search Partners Websites.",
            "Recommendation to update a campaign to use a Maximize Clicks bidding strategy.",
            "Recommendation to start using the \"Optimize\" ad rotation setting for the given ad group.",
            "Recommendation to change an existing keyword from one match type to a broader match type.",
            "Recommendation to move unused budget from one budget to a constrained budget.",
            "Budget recommendation for campaigns that are expected to become budget-constrained in the future (as opposed to the CAMPAIGN_BUDGET recommendation, which applies to campaigns that are currently budget-constrained).",
            "Recommendation to update a campaign to use a Target ROAS bidding strategy.",
            "Recommendation to add a new responsive search ad.",
            "Budget recommendation for campaigns whose ROI is predicted to increase with a budget adjustment.",
            "Recommendation to add broad match versions of keywords for fully automated conversion-based bidding campaigns.",
            "Recommendation to add new responsive search ad assets.",
            "Recommendation to upgrade a Smart Shopping campaign to a Performance Max campaign.",
            "Recommendation to improve strength of responsive search ad.",
            "Recommendation to update a campaign to use Display Expansion.",
            "Recommendation to upgrade a Local campaign to a Performance Max campaign.",
            "Recommendation to raise target CPA when it is too low and there are very few or no conversions. It is applied asynchronously and can take minutes depending on the number of ad groups there are in the related campaign.",
            "Recommendation to raise the budget in advance of a seasonal event that is forecasted to increase traffic, and change bidding strategy from maximize conversion value to target ROAS.",
            "Recommendation to add callout assets to campaign or customer level.",
            "Recommendation to add sitelink assets to campaign or customer level.",
            "Recommendation to add call assets to campaign or customer level.",
            "Recommendation to add the age group attribute to offers that are demoted because of a missing age group.",
            "Recommendation to add a color to offers that are demoted because of a missing color.",
            "Recommendation to add a gender to offers that are demoted because of a missing gender.",
            "Recommendation to add a GTIN (Global Trade Item Number) to offers that are demoted because of a missing GTIN.",
            "Recommendation to add more identifiers to offers that are demoted because of missing identifiers.",
            "Recommendation to add the size to offers that are demoted because of a missing size.",
            "Recommendation informing a customer about a campaign that cannot serve because no products are being targeted.",
            "The shopping recommendation informing a customer about campaign with a high percentage of disapproved products.",
            "Recommendation to create a catch-all campaign that targets all offers.",
            "Recommendation to fix Merchant Center account suspension issues.",
            "Recommendation to fix Merchant Center account suspension warning issues.",
            "Recommendation to migrate offers targeted by Regular Shopping Campaigns to existing Performance Max campaigns.",
            "Recommendation to enable dynamic image extensions on the account, allowing Google to find the best images from ad landing pages and complement text ads.",
            "Recommendation to raise Target CPA based on Google predictions modeled from past conversions. It is applied asynchronously and can take minutes depending on the number of ad groups there are in the related campaign.",
            "Recommendation to lower Target ROAS.",
            "Recommendation to opt into Performance Max campaigns.",
            "Recommendation to improve the asset group strength of a Performance Max campaign to an \"Excellent\" rating.",
            "Recommendation to migrate Dynamic Search Ads to Performance Max campaigns.",
            "Recommendation to set a target CPA for campaigns that do not have one specified, in advance of a seasonal event that is forecasted to increase traffic.",
            "Recommendation to set a target CPA for campaigns that do not have one specified.",
            "Recommendation to set a target ROAS for campaigns that do not have one specified.",
            "Recommendation to update a campaign to use the Maximize Conversion Value bidding strategy.",
            "Recommendation to deploy Google Tag on more pages.",
            "Recommendation to turn on Final URL expansion for your Performance Max campaigns.",
            "Recommendation to update a customer list that hasn't been updated in the last 90 days.",
            "Recommendation to create a custom audience.",
            "Recommendation to add lead form assets to campaign or customer level.",
            "Recommendation to improve the strength of ads in Demand Gen campaigns."
          ],
          "type": "string",
          "enum": [
            "UNSPECIFIED",
            "UNKNOWN",
            "CAMPAIGN_BUDGET",
            "KEYWORD",
            "TEXT_AD",
            "TARGET_CPA_OPT_IN",
            "MAXIMIZE_CONVERSIONS_OPT_IN",
            "ENHANCED_CPC_OPT_IN",
            "SEARCH_PARTNERS_OPT_IN",
            "MAXIMIZE_CLICKS_OPT_IN",
            "OPTIMIZE_AD_ROTATION",
            "KEYWORD_MATCH_TYPE",
            "MOVE_UNUSED_BUDGET",
            "FORECASTING_CAMPAIGN_BUDGET",
            "TARGET_ROAS_OPT_IN",
            "RESPONSIVE_SEARCH_AD",
            "MARGINAL_ROI_CAMPAIGN_BUDGET",
            "USE_BROAD_MATCH_KEYWORD",
            "RESPONSIVE_SEARCH_AD_ASSET",
            "UPGRADE_SMART_SHOPPING_CAMPAIGN_TO_PERFORMANCE_MAX",
            "RESPONSIVE_SEARCH_AD_IMPROVE_AD_STRENGTH",
            "DISPLAY_EXPANSION_OPT_IN",
            "UPGRADE_LOCAL_CAMPAIGN_TO_PERFORMANCE_MAX",
            "RAISE_TARGET_CPA_BID_TOO_LOW",
            "FORECASTING_SET_TARGET_ROAS",
            "CALLOUT_ASSET",
            "SITELINK_ASSET",
            "CALL_ASSET",
            "SHOPPING_ADD_AGE_GROUP",
            "SHOPPING_ADD_COLOR",
            "SHOPPING_ADD_GENDER",
            "SHOPPING_ADD_GTIN",
            "SHOPPING_ADD_MORE_IDENTIFIERS",
            "SHOPPING_ADD_SIZE",
            "SHOPPING_ADD_PRODUCTS_TO_CAMPAIGN",
            "SHOPPING_FIX_DISAPPROVED_PRODUCTS",
            "SHOPPING_TARGET_ALL_OFFERS",
            "SHOPPING_FIX_SUSPENDED_MERCHANT_CENTER_ACCOUNT",
            "SHOPPING_FIX_MERCHANT_CENTER_ACCOUNT_SUSPENSION_WARNING",
            "SHOPPING_MIGRATE_REGULAR_SHOPPING_CAMPAIGN_OFFERS_TO_PERFORMANCE_MAX",
            "DYNAMIC_IMAGE_EXTENSION_OPT_IN",
            "RAISE_TARGET_CPA",
            "LOWER_TARGET_ROAS",
            "PERFORMANCE_MAX_OPT_IN",
            "IMPROVE_PERFORMANCE_MAX_AD_STRENGTH",
            "MIGRATE_DYNAMIC_SEARCH_ADS_CAMPAIGN_TO_PERFORMANCE_MAX",
            "FORECASTING_SET_TARGET_CPA",
            "SET_TARGET_CPA",
            "SET_TARGET_ROAS",
            "MAXIMIZE_CONVERSION_VALUE_OPT_IN",
            "IMPROVE_GOOGLE_TAG_COVERAGE",
            "PERFORMANCE_MAX_FINAL_URL_OPT_IN",
            "REFRESH_CUSTOMER_MATCH_LIST",
            "CUSTOM_AUDIENCE_OPT_IN",
            "LEAD_FORM_ASSET",
            "IMPROVE_DEMAND_GEN_AD_STRENGTH"
          ],
          "description": "Required. Immutable. The type of recommendation subscribed to."
        },
        "resourceName": {
          "type": "string",
          "description": "Immutable. The resource name of the recommendation subscription. `customers/{customer_id}/recommendationSubscriptions/{recommendation_type}`"
        },
        "status": {
          "type": "string",
          "enum": [
            "UNSPECIFIED",
            "UNKNOWN",
            "ENABLED",
            "PAUSED"
          ],
          "description": "Required. Status of the subscription, either enabled or paused.",
          "enumDescriptions": [
            "Not specified.",
            "Output-only. Represents a format not yet defined in this enum.",
            "A subscription in the enabled state will automatically apply any recommendations of that type.",
            "Recommendations of the relevant type will not be automatically applied. Subscriptions cannot be deleted. Once created, they can only move between enabled and paused states."
          ]
        }
      }
    },
    "GoogleAdsSearchads360V23Services_ApplyRecommendationOperation_ResponsiveSearchAdParameters": {
      "properties": {
        "ad": {
          "description": "Required. New ad to add to recommended ad group.",
          "$ref": "GoogleAdsSearchads360V23Resources__Ad"
        }
      },
      "id": "GoogleAdsSearchads360V23Services_ApplyRecommendationOperation_ResponsiveSearchAdParameters",
      "type": "object",
      "description": "Parameters to use when applying a responsive search ad recommendation."
    },
    "GoogleAdsSearchads360V0Errors__ErrorDetails": {
      "description": "Additional error details.",
      "type": "object",
      "properties": {
        "unpublishedErrorCode": {
          "description": "The error code that should have been returned, but wasn't. This is used when the error code is not published in the client specified version.",
          "type": "string"
        },
        "quotaErrorDetails": {
          "description": "Details on the quota error, including the scope (account or developer), the rate bucket name and the retry delay.",
          "$ref": "GoogleAdsSearchads360V0Errors__QuotaErrorDetails"
        }
      },
      "id": "GoogleAdsSearchads360V0Errors__ErrorDetails"
    },
    "GoogleAdsSearchads360V23Resources_AdGroupDemandGenAdGroupSettingsDemandGenChannelControls_DemandGenSelectedChannels": {
      "description": "Explicitly selected channels for channel controls in Demand Gen ad groups.",
      "id": "GoogleAdsSearchads360V23Resources_AdGroupDemandGenAdGroupSettingsDemandGenChannelControls_DemandGenSelectedChannels",
      "type": "object",
      "properties": {
        "gmail": {
          "description": "Whether to enable ads on the Gmail channel.",
          "type": "boolean"
        },
        "display": {
          "description": "Whether to enable ads on the Display channel.",
          "type": "boolean"
        },
        "youtubeInFeed": {
          "type": "boolean",
          "description": "Whether to enable ads on the YouTube In-Feed channel."
        },
        "youtubeShorts": {
          "type": "boolean",
          "description": "Whether to enable ads on the YouTube Shorts channel."
        },
        "youtubeInStream": {
          "type": "boolean",
          "description": "Whether to enable ads on the YouTube In-Stream channel."
        },
        "discover": {
          "type": "boolean",
          "description": "Whether to enable ads on the Discover channel."
        }
      }
    },
    "GoogleAdsSearchads360V23Common__AssetDisapproved": {
      "type": "object",
      "description": "Details related to AssetLinkPrimaryStatusReasonPB.ASSET_DISAPPROVED",
      "id": "GoogleAdsSearchads360V23Common__AssetDisapproved",
      "properties": {
        "offlineEvaluationErrorReasons": {
          "description": "Provides the quality evaluation disapproval reason of an asset.",
          "items": {
            "type": "string",
            "enum": [
              "UNSPECIFIED",
              "UNKNOWN",
              "PRICE_ASSET_DESCRIPTION_REPEATS_ROW_HEADER",
              "PRICE_ASSET_REPETITIVE_HEADERS",
              "PRICE_ASSET_HEADER_INCOMPATIBLE_WITH_PRICE_TYPE",
              "PRICE_ASSET_DESCRIPTION_INCOMPATIBLE_WITH_ITEM_HEADER",
              "PRICE_ASSET_DESCRIPTION_HAS_PRICE_QUALIFIER",
              "PRICE_ASSET_UNSUPPORTED_LANGUAGE",
              "PRICE_ASSET_OTHER_ERROR"
            ],
            "enumDescriptions": [
              "Not specified.",
              "Used for return value only. Represents value unknown in this version.",
              "One or more descriptions repeats its corresponding row header.",
              "Price asset contains repetitive headers.",
              "Price item header is not relevant to the price type.",
              "Price item description is not relevant to the item header.",
              "Price asset has a price qualifier in a description.",
              "Unsupported language for price assets",
              "Human raters identified an issue with the price asset that isn't captured by other error reasons. The primary purpose of this value is to represent legacy FeedItem disapprovals that are no longer produced."
            ]
          },
          "type": "array"
        }
      }
    },
    "GoogleAdsSearchads360V23Services__MoveManagerLinkResponse": {
      "id": "GoogleAdsSearchads360V23Services__MoveManagerLinkResponse",
      "properties": {
        "resourceName": {
          "type": "string",
          "description": "Returned for successful operations. Represents a CustomerManagerLink resource of the newly created link between client customer and new manager customer."
        }
      },
      "description": "Response message for a CustomerManagerLink moveManagerLink.",
      "type": "object"
    },
    "GoogleAdsSearchads360V23Resources_Recommendation_UpgradeSmartShoppingCampaignToPerformanceMaxRecommendation": {
      "description": "The upgrade a Smart Shopping campaign to a Performance Max campaign recommendation.",
      "properties": {
        "merchantId": {
          "description": "Output only. ID of Merchant Center account.",
          "format": "int64",
          "readOnly": true,
          "type": "string"
        },
        "salesCountryCode": {
          "description": "Output only. Country whose products from merchant's inventory should be included.",
          "type": "string",
          "readOnly": true
        }
      },
      "id": "GoogleAdsSearchads360V23Resources_Recommendation_UpgradeSmartShoppingCampaignToPerformanceMaxRecommendation",
      "type": "object"
    },
    "GoogleAdsSearchads360V23Services__MutateCampaignBudgetsRequest": {
      "id": "GoogleAdsSearchads360V23Services__MutateCampaignBudgetsRequest",
      "description": "Request message for CampaignBudgetService.MutateCampaignBudgets.",
      "properties": {
        "validateOnly": {
          "description": "If true, the request is validated but not executed. Only errors are returned, not results.",
          "type": "boolean"
        },
        "operations": {
          "description": "Required. The list of operations to perform on individual campaign budgets.",
          "items": {
            "$ref": "GoogleAdsSearchads360V23Services__CampaignBudgetOperation"
          },
          "type": "array"
        },
        "partialFailure": {
          "type": "boolean",
          "description": "If true, successful operations will be carried out and invalid operations will return errors. If false, all operations will be carried out in one transaction if and only if they are all valid. Default is false."
        },
        "responseContentType": {
          "type": "string",
          "enum": [
            "UNSPECIFIED",
            "RESOURCE_NAME_ONLY",
            "MUTABLE_RESOURCE"
          ],
          "enumDescriptions": [
            "Not specified. Will return the resource name only in the response.",
            "The mutate response will be the resource name.",
            "The mutate response will contain the resource name and the resource with mutable fields if possible. Otherwise, only the resource name will be returned."
          ],
          "description": "The response content type setting. Determines whether the mutable resource or just the resource name should be returned post mutation."
        }
      },
      "type": "object"
    },
    "GoogleAdsSearchads360V23Services__GetSmartCampaignStatusResponse": {
      "type": "object",
      "properties": {
        "endedDetails": {
          "description": "Details related to Smart campaigns that have ended.",
          "$ref": "GoogleAdsSearchads360V23Services__SmartCampaignEndedDetails"
        },
        "pausedDetails": {
          "$ref": "GoogleAdsSearchads360V23Services__SmartCampaignPausedDetails",
          "description": "Details related to paused Smart campaigns."
        },
        "smartCampaignStatus": {
          "enumDescriptions": [
            "The status has not been specified.",
            "The received value is not known in this version. This is a response-only value.",
            "The campaign was paused.",
            "The campaign is not eligible to serve and has issues that may require intervention.",
            "The campaign is pending the approval of at least one ad.",
            "The campaign is eligible to serve.",
            "The campaign has been removed.",
            "The campaign has ended."
          ],
          "description": "The status of this Smart campaign.",
          "type": "string",
          "enum": [
            "UNSPECIFIED",
            "UNKNOWN",
            "PAUSED",
            "NOT_ELIGIBLE",
            "PENDING",
            "ELIGIBLE",
            "REMOVED",
            "ENDED"
          ]
        },
        "eligibleDetails": {
          "description": "Details related to Smart campaigns that are eligible to serve.",
          "$ref": "GoogleAdsSearchads360V23Services__SmartCampaignEligibleDetails"
        },
        "notEligibleDetails": {
          "$ref": "GoogleAdsSearchads360V23Services__SmartCampaignNotEligibleDetails",
          "description": "Details related to Smart campaigns that are ineligible to serve."
        },
        "removedDetails": {
          "description": "Details related to removed Smart campaigns.",
          "$ref": "GoogleAdsSearchads360V23Services__SmartCampaignRemovedDetails"
        }
      },
      "id": "GoogleAdsSearchads360V23Services__GetSmartCampaignStatusResponse",
      "description": "Response message for SmartCampaignSettingService.GetSmartCampaignStatus."
    },
    "GoogleAdsSearchads360V23Services__CampaignBudgetMapping": {
      "type": "object",
      "properties": {
        "experimentCampaign": {
          "description": "Required. The experiment campaign to graduate.",
          "type": "string"
        },
        "campaignBudget": {
          "type": "string",
          "description": "Required. The budget that should be attached to the graduating experiment campaign."
        }
      },
      "description": "The mapping of experiment campaign and budget to be graduated.",
      "id": "GoogleAdsSearchads360V23Services__CampaignBudgetMapping"
    },
    "GoogleAdsSearchads360V23Resources__AdGroupCustomizer": {
      "properties": {
        "customizerAttribute": {
          "description": "Required. Immutable. The customizer attribute which is linked to the ad group.",
          "type": "string"
        },
        "status": {
          "description": "Output only. The status of the ad group customizer.",
          "enum": [
            "UNSPECIFIED",
            "UNKNOWN",
            "ENABLED",
            "REMOVED"
          ],
          "enumDescriptions": [
            "The status has not been specified.",
            "The received value is not known in this version.",
            "The customizer value is enabled.",
            "The customizer value is removed."
          ],
          "type": "string",
          "readOnly": true
        },
        "adGroup": {
          "type": "string",
          "description": "Immutable. The ad group to which the customizer attribute is linked."
        },
        "resourceName": {
          "type": "string",
          "description": "Immutable. The resource name of the ad group customizer. Ad group customizer resource names have the form: `customers/{customer_id}/adGroupCustomizers/{ad_group_id}~{customizer_attribute_id}`"
        },
        "value": {
          "description": "Required. The value to associate with the customizer attribute at this level. The value must be of the type specified for the CustomizerAttribute.",
          "$ref": "GoogleAdsSearchads360V23Common__CustomizerValue"
        }
      },
      "id": "GoogleAdsSearchads360V23Resources__AdGroupCustomizer",
      "description": "A customizer value for the associated CustomizerAttribute at the AdGroup level.",
      "type": "object"
    },
    "GoogleAdsSearchads360V23Common__Metrics": {
      "id": "GoogleAdsSearchads360V23Common__Metrics",
      "description": "Metrics data.",
      "type": "object",
      "properties": {
        "averageCost": {
          "type": "number",
          "description": "The average amount you pay per interaction. This amount is the total cost of your ads divided by the total number of interactions.",
          "format": "double"
        },
        "historicalQualityScore": {
          "description": "The historical quality score.",
          "type": "string",
          "format": "int64"
        },
        "conversionsValueByConversionDate": {
          "type": "number",
          "description": "The sum of biddable conversions value by conversion date. When this column is selected with date, the values in date column means the conversion date.",
          "format": "double"
        },
        "searchRankLostAbsoluteTopImpressionShare": {
          "format": "double",
          "type": "number",
          "description": "The number estimating how often your ad wasn't the very first ad among the top ads in the search results due to poor Ad Rank. Note: Search rank lost absolute top impression share is reported in the range of 0 to 0.9. Any value above 0.9 is reported as 0.9001."
        },
        "absoluteTopImpressionPercentage": {
          "format": "double",
          "description": "Search absolute top impression share is the percentage of your Search ad impressions that are shown in the most prominent Search position.",
          "type": "number"
        },
        "allConversionsFromDirections": {
          "type": "number",
          "format": "double",
          "description": "The number of times people clicked a \"Get directions\" button to navigate to a business after clicking an ad. This metric applies to feed items only."
        },
        "historicalSearchPredictedCtr": {
          "type": "string",
          "enum": [
            "UNSPECIFIED",
            "UNKNOWN",
            "BELOW_AVERAGE",
            "AVERAGE",
            "ABOVE_AVERAGE"
          ],
          "description": "The historical search predicted click through rate (CTR).",
          "enumDescriptions": [
            "Not specified.",
            "Used for return value only. Represents value unknown in this version.",
            "Quality of the creative is below average.",
            "Quality of the creative is average.",
            "Quality of the creative is above average."
          ]
        },
        "impressions": {
          "description": "Count of how often your ad has appeared on a search results page or website on the Google Network.",
          "type": "string",
          "format": "int64"
        },
        "valuePerAllConversionsByConversionDate": {
          "description": "The value of all conversions divided by the number of all conversions. When this column is selected with date, the values in date column means the conversion date. Details for the `by_conversion_date` columns are available at [About the \"All conversions\" column](https://support.google.com/sa360/answer/9250611).",
          "format": "double",
          "type": "number"
        },
        "allConversionsFromInteractionsRate": {
          "format": "double",
          "type": "number",
          "description": "All conversions from interactions (as oppose to view through conversions) divided by the number of ad interactions."
        },
        "conversionsByConversionDate": {
          "description": "The sum of conversions by conversion date for biddable conversion types. Can be fractional due to attribution modeling. When this column is selected with date, the values in the date column mean the conversion date.",
          "type": "number",
          "format": "double"
        },
        "averageOrderValueMicros": {
          "type": "string",
          "format": "int64",
          "description": "Average order value is the average revenue you made per order attributed to your ads. How it works: You report conversions with cart data for completed purchases on your website. Average order value is the total revenue from your orders divided by the total number of orders. Example: You received 3 orders which made $10, $15 and $20 worth of revenue. The average order value is $15 = ($10 + $15 + $20)/3. This metric is only available if you report conversions with cart data."
        },
        "conversionsFromInteractionsValuePerInteraction": {
          "type": "number",
          "description": "The value of conversions from interactions divided by the number of ad interactions. This only includes conversion actions which `include_in_conversions_metric` attribute is set to `true`. If you use conversion-based bidding, your bid strategies will optimize for these conversions.",
          "format": "double"
        },
        "grossProfitMargin": {
          "format": "double",
          "description": "Gross profit margin is the percentage gross profit you made from orders attributed to your ads, after taking out the cost of goods sold (COGS). How it works: You report conversions with cart data for completed purchases on your website. Gross profit margin is the gross profit you made divided by your total revenue and multiplied by 100%. Gross profit margin calculations only include products that have a cost of goods sold value in Merchant Center. Example: Someone bought a hat and a shirt in an order on your website. The hat is priced $10 and has a cost of goods sold value of $3. The shirt is priced $20 but has no cost of goods sold value. Gross profit margin for this order will only take into account the hat because it has a cost of goods sold value, so it's 70% = ($10 - $3)/$10 x 100%. This metric is only available if you report conversions with cart data.",
          "type": "number"
        },
        "interactionRate": {
          "type": "number",
          "description": "How often people interact with your ad after it is shown to them. This is the number of interactions divided by the number of times your ad is shown.",
          "format": "double"
        },
        "searchAbsoluteTopImpressionShare": {
          "description": "The percentage of the customer's Shopping or Search ad impressions that are shown in the most prominent Shopping position. See [About top and absolute top metrics](https://support.google.com/sa360/answer/9566729) for details. Any value below 0.1 is reported as 0.0999.",
          "type": "number",
          "format": "double"
        },
        "grossProfitMicros": {
          "type": "string",
          "format": "int64",
          "description": "Gross profit is the profit you made from orders attributed to your ads minus the cost of goods sold (COGS). How it works: Gross profit is the revenue you made from sales attributed to your ads minus cost of goods sold. Gross profit calculations only include products that have a cost of goods sold value in Merchant Center. Example: Someone clicked on a Shopping ad for a hat then bought the same hat and a shirt in an order from your website. The hat is priced $10 and the shirt is priced $20. The hat has a cost of goods sold value of $3, but the shirt has no cost of goods sold value. Gross profit for this order will only take into account the hat, so it's $7 = $10 - $3. This metric is only available if you report conversions with cart data."
        },
        "clientAccountConversions": {
          "description": "The number of client account conversions. This only includes conversion actions which `include_in_client_account_conversions_metric` attribute is set to `true`. If you use conversion-based bidding, your bid strategies will optimize for these conversions.",
          "format": "double",
          "type": "number"
        },
        "allConversionsFromOrder": {
          "description": "The number of times people placed an order at a business after clicking an ad. This metric applies to feed items only.",
          "format": "double",
          "type": "number"
        },
        "valuePerConversionsByConversionDate": {
          "description": "Biddable conversions value by conversion date divided by biddable conversions by conversion date. Shows how much, on average, each of the biddable conversions is worth (by conversion date). When this column is selected with date, the values in date column means the conversion date.",
          "type": "number",
          "format": "double"
        },
        "clientAccountLeadGrossProfitMicros": {
          "description": "Client account lead gross profit is the profit you made from products sold as a result of advertising the same product, minus cost of goods sold (COGS). How it works: You report conversions with cart data for completed purchases on your website. If the ad that was interacted with before the purchase has an associated product (see Shopping Ads) then this product is considered the advertised product. Any product included in the order the customer places is a sold product. If the advertised and sold products match, then the revenue you made from these sales minus the cost of goods sold is your lead gross profit. Example: Someone clicked on a Shopping ad for a hat then bought the same hat and a shirt. The hat is priced $10 and has a cost of goods sold value of $3. The lead gross profit of this order is $7 = $10 - $3. This metric is only available if you report conversions with cart data. This metric is a monetary value and returned in the customer's currency by default. See the `metrics_currency` parameter at [PARAMETERS clause](https://developers.google.com/search-ads/reporting/query/query-structure#parameters_clause).",
          "type": "string",
          "format": "int64"
        },
        "historicalCreativeQualityScore": {
          "description": "The creative historical quality score.",
          "type": "string",
          "enum": [
            "UNSPECIFIED",
            "UNKNOWN",
            "BELOW_AVERAGE",
            "AVERAGE",
            "ABOVE_AVERAGE"
          ],
          "enumDescriptions": [
            "Not specified.",
            "Used for return value only. Represents value unknown in this version.",
            "Quality of the creative is below average.",
            "Quality of the creative is average.",
            "Quality of the creative is above average."
          ]
        },
        "crossDeviceConversionsValue": {
          "format": "double",
          "type": "number",
          "description": "The sum of the value of cross-device conversions."
        },
        "clientAccountLeadCostOfGoodsSoldMicros": {
          "format": "int64",
          "type": "string",
          "description": "Client account lead cost of goods sold (COGS) is the total cost of products sold as a result of advertising the same product. How it works: You report conversions with cart data for completed purchases on your website. If the ad that was interacted with has an associated product (see Shopping Ads) then this product is considered the advertised product. Any product included in the order the customer places is a sold product. If the advertised and sold products match, then the cost of these goods is counted under lead cost of goods sold. Example: Someone clicked on a Shopping ad for a hat then bought the same hat and a shirt. The hat has a cost of goods sold value of $3, the shirt has a cost of goods sold value of $5. The lead cost of goods sold for this order is $3. This metric is only available if you report conversions with cart data. This metric is a monetary value and returned in the customer's currency by default. See the `metrics_currency` parameter at [PARAMETERS clause](https://developers.google.com/search-ads/reporting/query/query-structure#parameters_clause)."
        },
        "costPerAllConversions": {
          "description": "The cost of ad interactions divided by all conversions.",
          "format": "double",
          "type": "number"
        },
        "clientAccountCrossSellCostOfGoodsSoldMicros": {
          "type": "string",
          "description": "Client account cross-sell cost of goods sold (COGS) is the total cost of products sold as a result of advertising a different product. How it works: You report conversions with cart data for completed purchases on your website. If the ad that was interacted with before the purchase has an associated product (see Shopping Ads) then this product is considered the advertised product. Any product included in the order the customer places is a sold product. If these products don't match then this is considered cross-sell. Cross-sell cost of goods sold is the total cost of the products sold that weren't advertised. Example: Someone clicked on a Shopping ad for a hat then bought the same hat and a shirt. The hat has a cost of goods sold value of $3, the shirt has a cost of goods sold value of $5. The cross-sell cost of goods sold for this order is $5. This metric is only available if you report conversions with cart data. This metric is a monetary value and returned in the customer's currency by default. See the `metrics_currency` parameter at [PARAMETERS clause](https://developers.google.com/search-ads/reporting/query/query-structure#parameters_clause).",
          "format": "int64"
        },
        "crossSellUnitsSold": {
          "format": "double",
          "type": "number",
          "description": "Cross-sell units sold is the total number of products sold as a result of advertising a different product. How it works: You report conversions with cart data for completed purchases on your website. If the ad that was interacted with before the purchase has an associated product (see Shopping Ads) then this product is considered the advertised product. Any product included in the order the customer places is a sold product. If these products don't match then this is considered cross-sell. Cross-sell units sold is the total number of cross-sold products from all orders attributed to your ads. Example: Someone clicked on a Shopping ad for a hat then bought the same hat, a shirt and a jacket. The cross-sell units sold in this order is 2. This metric is only available if you report conversions with cart data."
        },
        "searchBudgetLostTopImpressionShare": {
          "type": "number",
          "format": "double",
          "description": "The estimated percent of times that your ad didn't show adjacent to the top organic search results due to a low budget. Note: Search budget lost top impression share is reported in the range of 0 to 0.9. Any value above 0.9 is reported as 0.9001."
        },
        "allConversions": {
          "description": "The total number of conversions. This includes all conversions regardless of the value of include_in_conversions_metric.",
          "type": "number",
          "format": "double"
        },
        "visits": {
          "type": "number",
          "format": "double",
          "description": "Clicks that Search Ads 360 has successfully recorded and forwarded to an advertiser's landing page."
        },
        "costMicros": {
          "format": "int64",
          "type": "string",
          "description": "The sum of your cost-per-click (CPC) and cost-per-thousand impressions (CPM) costs during this period. This metric is a monetary value and returned in the customer's currency by default. See the `metrics_currency` parameter at [PARAMETERS clause](https://developers.google.com/search-ads/reporting/query/query-structure#parameters_clause) for more details."
        },
        "conversionsValuePerCost": {
          "description": "The value of biddable conversion divided by the total cost of conversion eligible interactions.",
          "format": "double",
          "type": "number"
        },
        "clicks": {
          "description": "The number of clicks.",
          "type": "string",
          "format": "int64"
        },
        "unitsSold": {
          "type": "number",
          "format": "double",
          "description": "Units sold is the total number of products sold from orders attributed to your ads. How it works: You report conversions with cart data for completed purchases on your website. Units sold is the total number of products sold from all orders attributed to your ads. Example: Someone clicked on a Shopping ad for a hat then bought the same hat, a shirt and a jacket. The units sold in this order is 3. This metric is only available if you report conversions with cart data."
        },
        "clientAccountConversionsValue": {
          "description": "The value of client account conversions. This only includes conversion actions which `include_in_client_account_conversions_metric` attribute is set to `true`. If you use conversion-based bidding, your bid strategies will optimize for these conversions.",
          "type": "number",
          "format": "double"
        },
        "generalInvalidClicks": {
          "description": "Number of general invalid clicks. These are a subset of your invalid clicks that are detected through routine means of filtration (such as known invalid data-center traffic, bots and spiders or other crawlers, irregular patterns, etc.). You're not charged for them, and they don't affect your account statistics. See [Filtering invalid traffic to ensure quality](https://support.google.com/campaignmanager/answer/6076504).",
          "type": "string",
          "format": "int64"
        },
        "crossDeviceConversionsValueByConversionDate": {
          "type": "number",
          "format": "double",
          "description": "The sum of cross-device conversions value by conversion date. Details for the `by_conversion_date` columns are available at [About the \"All conversions\" column](https://support.google.com/sa360/answer/9250611)"
        },
        "searchRankLostTopImpressionShare": {
          "description": "The number estimating how often your ad didn't show adjacent to the top organic search results due to poor Ad Rank. Note: Search rank lost top impression share is reported in the range of 0 to 0.9. Any value above 0.9 is reported as 0.9001.",
          "type": "number",
          "format": "double"
        },
        "interactionEventTypes": {
          "type": "array",
          "items": {
            "enumDescriptions": [
              "Not specified.",
              "Used for return value only. Represents value unknown in this version.",
              "Click to site. In most cases, this interaction navigates to an external location, usually the advertiser's landing page. This is also the default InteractionEventType for click events.",
              "The user's expressed intent to engage with the ad in-place.",
              "User viewed a video ad.",
              "The default InteractionEventType for ad conversion events. This is used when an ad conversion row does NOT indicate that the free interactions (for example, the ad conversions) should be 'promoted' and reported as part of the core metrics. These are simply other (ad) conversions."
            ],
            "type": "string",
            "enum": [
              "UNSPECIFIED",
              "UNKNOWN",
              "CLICK",
              "ENGAGEMENT",
              "VIDEO_VIEW",
              "NONE"
            ]
          },
          "description": "The types of payable and free interactions."
        },
        "valuePerConversion": {
          "description": "The value of biddable conversion divided by the number of biddable conversions. Shows how much, on average, each of the biddable conversions is worth.",
          "format": "double",
          "type": "number"
        },
        "contentImpressionShare": {
          "description": "The impressions you've received on the Display Network divided by the estimated number of impressions you were eligible to receive. Note: Content impression share is reported in the range of 0.1 to 1. Any value below 0.1 is reported as 0.0999.",
          "format": "double",
          "type": "number"
        },
        "allConversionsFromClickToCall": {
          "description": "The number of times people clicked the \"Call\" button to call a business during or after clicking an ad. This number doesn't include whether or not calls were connected, or the duration of any calls. This metric applies to feed items only.",
          "type": "number",
          "format": "double"
        },
        "averageImpressionFrequencyPerUser": {
          "type": "number",
          "description": "The average number of times a unique user saw your ad during the requested time period. This metric cannot be aggregated, and can only be requested for date ranges of 92 days or less. This metric is available for following campaign types - Display, Video, Discovery and App.",
          "format": "double"
        },
        "clientAccountLeadRevenueMicros": {
          "description": "Client account lead revenue is the total amount you made from products sold as a result of advertising the same product. How it works: You report conversions with cart data for completed purchases on your website. If the ad that was interacted with before the purchase has an associated product (see Shopping Ads) then this product is considered the advertised product. Any product included in the order the customer places is a sold product. If the advertised and sold products match, then the total value you made from the sales of these products is shown under lead revenue. Example: Someone clicked on a Shopping ad for a hat then bought the same hat and a shirt. The hat is priced $10 and the shirt is priced $20. The lead revenue of this order is $10. This metric is only available if you report conversions with cart data. This metric is a monetary value and returned in the customer's currency by default. See the `metrics_currency` parameter at [PARAMETERS clause](https://developers.google.com/search-ads/reporting/query/query-structure#parameters_clause).",
          "type": "string",
          "format": "int64"
        },
        "averageCartSize": {
          "description": "Average cart size is the average number of products in each order attributed to your ads. How it works: You report conversions with cart data for completed purchases on your website. Average cart size is the total number of products sold divided by the total number of orders you received. Example: You received 2 orders, the first included 3 products and the second included 2. The average cart size is 2.5 products = (3+2)/2. This metric is only available if you report conversions with cart data.",
          "type": "number",
          "format": "double"
        },
        "averageQualityScore": {
          "type": "number",
          "description": "The average quality score.",
          "format": "double"
        },
        "invalidClicks": {
          "description": "Number of clicks Google considers illegitimate and doesn't charge you for.",
          "format": "int64",
          "type": "string"
        },
        "searchRankLostImpressionShare": {
          "format": "double",
          "description": "The estimated percentage of impressions on the Search Network that your ads didn't receive due to poor Ad Rank. Note: Search rank lost impression share is reported in the range of 0 to 0.9. Any value above 0.9 is reported as 0.9001.",
          "type": "number"
        },
        "contentRankLostImpressionShare": {
          "description": "The estimated percentage of impressions on the Display Network that your ads didn't receive due to poor Ad Rank. Note: Content rank lost impression share is reported in the range of 0 to 0.9. Any value above 0.9 is reported as 0.9001.",
          "type": "number",
          "format": "double"
        },
        "leadUnitsSold": {
          "format": "double",
          "type": "number",
          "description": "Lead units sold is the total number of products sold as a result of advertising the same product. How it works: You report conversions with cart data for completed purchases on your website. If the ad that was interacted with before the purchase has an associated product (see Shopping Ads) then this product is considered the advertised product. Any product included in the order the customer places is a sold product. If the advertised and sold products match, then the total number of these products sold is shown under lead units sold. Example: Someone clicked on a Shopping ad for a hat then bought the same hat, a shirt and a jacket. The lead units sold in this order is 1. This metric is only available if you report conversions with cart data."
        },
        "revenueMicros": {
          "format": "int64",
          "description": "Revenue is the total amount you made from orders attributed to your ads. How it works: You report conversions with cart data for completed purchases on your website. Revenue is the total value of all the orders you received attributed to your ads, minus any discount. Example: Someone clicked on a Shopping ad for a hat then bought the same hat and a shirt in an order from your website. The hat is priced $10 and the shirt is priced $20. The entire order has a $5 discount. The revenue from this order is $25 = ($10 + $20) - $5. This metric is only available if you report conversions with cart data.",
          "type": "string"
        },
        "generalInvalidClickRate": {
          "description": "The percentage of clicks that have been filtered out of your total number of clicks (filtered + non-filtered clicks) due to being general invalid clicks. These are clicks Google considers illegitimate that are detected through routine means of filtration (that is, known invalid data-center traffic, bots and spiders or other crawlers, irregular patterns, etc). You're not charged for them, and they don't affect your account statistics. See [Filtering invalid traffic to ensure quality](https://support.google.com/campaignmanager/answer/6076504).",
          "type": "number",
          "format": "double"
        },
        "allConversionsFromInteractionsValuePerInteraction": {
          "format": "double",
          "description": "The value of all conversions from interactions divided by the total number of interactions.",
          "type": "number"
        },
        "searchImpressionShare": {
          "description": "The impressions you've received on the Search Network divided by the estimated number of impressions you were eligible to receive. Note: Search impression share is reported in the range of 0.1 to 1. Any value below 0.1 is reported as 0.0999.",
          "type": "number",
          "format": "double"
        },
        "allConversionsFromMenu": {
          "type": "number",
          "description": "The number of times people clicked a link to view a business's menu after clicking an ad. This metric applies to feed items only.",
          "format": "double"
        },
        "averageCpc": {
          "description": "The total cost of all clicks divided by the total number of clicks received. This metric is a monetary value and returned in the customer's currency by default. See the `metrics_currency` parameter at [PARAMETERS clause](https://developers.google.com/search-ads/reporting/query/query-structure#parameters_clause).",
          "format": "double",
          "type": "number"
        },
        "invalidClickRate": {
          "description": "The percentage of clicks filtered out of your total number of clicks (filtered + non-filtered clicks) during the reporting period.",
          "format": "double",
          "type": "number"
        },
        "searchClickShare": {
          "format": "double",
          "type": "number",
          "description": "The number of clicks you've received on the Search Network divided by the estimated number of clicks you were eligible to receive. Note: Search click share is reported in the range of 0.1 to 1. Any value below 0.1 is reported as 0.0999."
        },
        "clientAccountCrossSellUnitsSold": {
          "description": "Client account cross-sell units sold is the total number of products sold as a result of advertising a different product. How it works: You report conversions with cart data for completed purchases on your website. If the ad that was interacted with before the purchase has an associated product (see Shopping Ads) then this product is considered the advertised product. Any product included in the order the customer places is a sold product. If these products don't match then this is considered cross-sell. Cross-sell units sold is the total number of cross-sold products from all orders attributed to your ads. Example: Someone clicked on a Shopping ad for a hat then bought the same hat, a shirt and a jacket. The cross-sell units sold in this order is 2. This metric is only available if you report conversions with cart data.",
          "type": "number",
          "format": "double"
        },
        "historicalLandingPageQualityScore": {
          "type": "string",
          "enum": [
            "UNSPECIFIED",
            "UNKNOWN",
            "BELOW_AVERAGE",
            "AVERAGE",
            "ABOVE_AVERAGE"
          ],
          "description": "The quality of historical landing page experience.",
          "enumDescriptions": [
            "Not specified.",
            "Used for return value only. Represents value unknown in this version.",
            "Quality of the creative is below average.",
            "Quality of the creative is average.",
            "Quality of the creative is above average."
          ]
        },
        "leadRevenueMicros": {
          "type": "string",
          "description": "Lead revenue is the total amount you made from products sold as a result of advertising the same product. How it works: You report conversions with cart data for completed purchases on your website. If the ad that was interacted with before the purchase has an associated product (see Shopping Ads) then this product is considered the advertised product. Any product included in the order the customer places is a sold product. If the advertised and sold products match, then the total value you made from the sales of these products is shown under lead revenue. Example: Someone clicked on a Shopping ad for a hat then bought the same hat and a shirt. The hat is priced $10 and the shirt is priced $20. The lead revenue of this order is $10. This metric is only available if you report conversions with cart data. This metric is a monetary value and returned in the customer's currency by default. See the `metrics_currency` parameter at [PARAMETERS clause](https://developers.google.com/search-ads/reporting/query/query-structure#parameters_clause).",
          "format": "int64"
        },
        "clientAccountCrossSellRevenueMicros": {
          "description": "Client account cross-sell revenue is the total amount you made from products sold as a result of advertising a different product. How it works: You report conversions with cart data for completed purchases on your website. If the ad that was interacted with before the purchase has an associated product (see Shopping Ads) then this product is considered the advertised product. Any product included in the order the customer places is a sold product. If these products don't match then this is considered cross-sell. Cross-sell revenue is the total value you made from cross-sell attributed to your ads. Example: Someone clicked on a Shopping ad for a hat then bought the same hat and a shirt. The hat is priced $10 and the shirt is priced $20. The cross-sell revenue of this order is $20. This metric is only available if you report conversions with cart data. This metric is a monetary value and returned in the customer's currency by default. See the `metrics_currency` parameter at [PARAMETERS clause](https://developers.google.com/search-ads/reporting/query/query-structure#parameters_clause).",
          "type": "string",
          "format": "int64"
        },
        "leadCostOfGoodsSoldMicros": {
          "format": "int64",
          "type": "string",
          "description": "Lead cost of goods sold (COGS) is the total cost of products sold as a result of advertising the same product. How it works: You report conversions with cart data for completed purchases on your website. If the ad that was interacted with has an associated product (see Shopping Ads) then this product is considered the advertised product. Any product included in the order the customer places is a sold product. If the advertised and sold products match, then the cost of these goods is counted under lead cost of goods sold. Example: Someone clicked on a Shopping ad for a hat then bought the same hat and a shirt. The hat has a cost of goods sold value of $3, the shirt has a cost of goods sold value of $5. The lead cost of goods sold for this order is $3. This metric is only available if you report conversions with cart data. This metric is a monetary value and returned in the customer's currency by default. See the `metrics_currency` parameter at [PARAMETERS clause](https://developers.google.com/search-ads/reporting/query/query-structure#parameters_clause)."
        },
        "searchBudgetLostImpressionShare": {
          "format": "double",
          "type": "number",
          "description": "The estimated percent of times that your ad was eligible to show on the Search Network but didn't because your budget was too low. Note: Search budget lost impression share is reported in the range of 0 to 0.9. Any value above 0.9 is reported as 0.9001."
        },
        "allConversionsFromStoreWebsite": {
          "type": "number",
          "description": "The number of times that people were taken to a business's URL after clicking an ad. This metric applies to feed items only.",
          "format": "double"
        },
        "topImpressionPercentage": {
          "format": "double",
          "type": "number",
          "description": "The percent of your ad impressions that are shown adjacent to the top organic search results."
        },
        "clientAccountViewThroughConversions": {
          "type": "string",
          "format": "int64",
          "description": "The total number of view-through conversions. These happen when a customer sees an image or rich media ad, then later completes a conversion on your site without interacting with (for example, clicking on) another ad."
        },
        "costPerConversion": {
          "type": "number",
          "description": "Average conversion eligible cost per biddable conversion.",
          "format": "double"
        },
        "allConversionsValuePerCost": {
          "description": "The value of all conversions divided by the total cost of ad interactions (such as clicks for text ads or views for video ads).",
          "format": "double",
          "type": "number"
        },
        "allConversionsByConversionDate": {
          "format": "double",
          "type": "number",
          "description": "The total number of conversions. This includes all conversions regardless of the value of include_in_conversions_metric. When this column is selected with date, the values in date column means the conversion date. Details for the `by_conversion_date` columns are available at [About the \"All conversions\" column](https://support.google.com/sa360/answer/9250611)."
        },
        "searchBudgetLostAbsoluteTopImpressionShare": {
          "format": "double",
          "type": "number",
          "description": "The number estimating how often your ad wasn't the very first ad among the top ads in the search results due to a low budget. Note: Search budget lost absolute top impression share is reported in the range of 0 to 0.9. Any value above 0.9 is reported as 0.9001."
        },
        "crossDeviceConversions": {
          "format": "double",
          "description": "Conversions from when a customer clicks on an ad on one device, then converts on a different device or browser. Cross-device conversions are already included in `all_conversions`.",
          "type": "number"
        },
        "costOfGoodsSoldMicros": {
          "format": "int64",
          "type": "string",
          "description": "Cost of goods sold (COGS) is the total cost of the products you sold in orders attributed to your ads. How it works: You can add a cost of goods sold value to every product in Merchant Center. If you report conversions with cart data, the products you sold are matched with their cost of goods sold value and this can be used to calculate the gross profit you made on each order. Example: Someone clicked on a Shopping ad for a hat then bought the same hat and a shirt. The hat has a cost of goods sold value of $3, the shirt has a cost of goods sold value of $5. The cost of goods sold for this order is $8 = $3 + $5. This metric is only available if you report conversions with cart data."
        },
        "costPerCurrentModelAttributedConversion": {
          "description": "The cost of ad interactions divided by current model attributed conversions. This only includes conversion actions which `include_in_conversions_metric` attribute is set to `true`. If you use conversion-based bidding, your bid strategies will optimize for these conversions.",
          "format": "double",
          "type": "number"
        },
        "ctr": {
          "type": "number",
          "description": "The number of clicks your ad receives (Clicks) divided by the number of times your ad is shown (Impressions).",
          "format": "double"
        },
        "valuePerAllConversions": {
          "type": "number",
          "description": "The value of all conversions divided by the number of all conversions.",
          "format": "double"
        },
        "crossDeviceConversionsByConversionDate": {
          "description": "The number of cross-device conversions by conversion date. Details for the `by_conversion_date` columns are available at [About the \"All conversions\" column](https://support.google.com/sa360/answer/9250611)",
          "type": "number",
          "format": "double"
        },
        "contentBudgetLostImpressionShare": {
          "description": "The estimated percent of times that your ad was eligible to show on the Display Network but didn't because your budget was too low. Note: Content budget lost impression share is reported in the range of 0 to 0.9. Any value above 0.9 is reported as 0.9001.",
          "format": "double",
          "type": "number"
        },
        "searchTopImpressionShare": {
          "description": "The impressions you've received among the top ads compared to the estimated number of impressions you were eligible to receive among the top ads. Note: Search top impression share is reported in the range of 0.1 to 1. Any value below 0.1 is reported as 0.0999. Top ads are generally above the top organic results, although they may show below the top organic results on certain queries.",
          "type": "number",
          "format": "double"
        },
        "allConversionsFromStoreVisit": {
          "format": "double",
          "type": "number",
          "description": "Estimated number of times people visited a business after clicking an ad. This metric applies to feed items only."
        },
        "clientAccountCrossSellGrossProfitMicros": {
          "type": "string",
          "format": "int64",
          "description": "Client account cross-sell gross profit is the profit you made from products sold as a result of advertising a different product, minus cost of goods sold (COGS). How it works: You report conversions with cart data for completed purchases on your website. If the ad that was interacted with before the purchase has an associated product (see Shopping Ads) then this product is considered the advertised product. Any product included in the purchase is a sold product. If these products don't match then this is considered cross-sell. Cross-sell gross profit is the revenue you made from cross-sell attributed to your ads minus the cost of the goods sold. Example: Someone clicked on a Shopping ad for a hat then bought the same hat and a shirt. The shirt is priced $20 and has a cost of goods sold value of $5. The cross-sell gross profit of this order is $15 = $20 - $5. This metric is only available if you report conversions with cart data. This metric is a monetary value and returned in the customer's currency by default. See the `metrics_currency` parameter at [PARAMETERS clause](https://developers.google.com/search-ads/reporting/query/query-structure#parameters_clause)."
        },
        "conversionsValue": {
          "description": "The sum of conversion values for the conversions included in the \"conversions\" field. This metric is useful only if you entered a value for your conversion actions.",
          "format": "double",
          "type": "number"
        },
        "mobileFriendlyClicksPercentage": {
          "description": "The percentage of mobile clicks that go to a mobile-friendly page.",
          "type": "number",
          "format": "double"
        },
        "conversionCustomMetrics": {
          "type": "array",
          "description": "The conversion custom metrics.",
          "items": {
            "$ref": "GoogleAdsSearchads360V23Common__Value"
          }
        },
        "leadGrossProfitMicros": {
          "description": "Lead gross profit is the profit you made from products sold as a result of advertising the same product, minus cost of goods sold (COGS). How it works: You report conversions with cart data for completed purchases on your website. If the ad that was interacted with before the purchase has an associated product (see Shopping Ads) then this product is considered the advertised product. Any product included in the order the customer places is a sold product. If the advertised and sold products match, then the revenue you made from these sales minus the cost of goods sold is your lead gross profit. Example: Someone clicked on a Shopping ad for a hat then bought the same hat and a shirt. The hat is priced $10 and has a cost of goods sold value of $3. The lead gross profit of this order is $7 = $10 - $3. This metric is only available if you report conversions with cart data. This metric is a monetary value and returned in the customer's currency by default. See the `metrics_currency` parameter at [PARAMETERS clause](https://developers.google.com/search-ads/reporting/query/query-structure#parameters_clause).",
          "format": "int64",
          "type": "string"
        },
        "orders": {
          "description": "Orders is the total number of purchase conversions you received attributed to your ads. How it works: You report conversions with cart data for completed purchases on your website. If a conversion is attributed to previous interactions with your ads (clicks for text or Shopping ads, views for video ads etc.) it's counted as an order. Example: Someone clicked on a Shopping ad for a hat then bought the same hat and a shirt in an order on your website. Even though they bought 2 products, this would count as 1 order. This metric is only available if you report conversions with cart data.",
          "format": "double",
          "type": "number"
        },
        "clientAccountLeadUnitsSold": {
          "type": "number",
          "description": "Client account lead units sold is the total number of products sold as a result of advertising the same product. How it works: You report conversions with cart data for completed purchases on your website. If the ad that was interacted with before the purchase has an associated product (see Shopping Ads) then this product is considered the advertised product. Any product included in the order the customer places is a sold product. If the advertised and sold products match, then the total number of these products sold is shown under lead units sold. Example: Someone clicked on a Shopping ad for a hat then bought the same hat, a shirt and a jacket. The lead units sold in this order is 1. This metric is only available if you report conversions with cart data.",
          "format": "double"
        },
        "rawEventConversionMetrics": {
          "items": {
            "$ref": "GoogleAdsSearchads360V23Common__Value"
          },
          "type": "array",
          "description": "The raw event conversion metrics."
        },
        "uniqueUsers": {
          "format": "int64",
          "type": "string",
          "description": "The number of unique users who saw your ad during the requested time period. This metric cannot be aggregated, and can only be requested for date ranges of 92 days or less. This metric is available for following campaign types - Display, Video, Discovery and App."
        },
        "crossSellGrossProfitMicros": {
          "description": "Cross-sell gross profit is the profit you made from products sold as a result of advertising a different product, minus cost of goods sold (COGS). How it works: You report conversions with cart data for completed purchases on your website. If the ad that was interacted with before the purchase has an associated product (see Shopping Ads) then this product is considered the advertised product. Any product included in the purchase is a sold product. If these products don't match then this is considered cross-sell. Cross-sell gross profit is the revenue you made from cross-sell attributed to your ads minus the cost of the goods sold. Example: Someone clicked on a Shopping ad for a hat then bought the same hat and a shirt. The shirt is priced $20 and has a cost of goods sold value of $5. The cross-sell gross profit of this order is $15 = $20 - $5. This metric is only available if you report conversions with cart data. This metric is a monetary value and returned in the customer's currency by default. See the `metrics_currency` parameter at [PARAMETERS clause](https://developers.google.com/search-ads/reporting/query/query-structure#parameters_clause).",
          "type": "string",
          "format": "int64"
        },
        "crossSellCostOfGoodsSoldMicros": {
          "type": "string",
          "format": "int64",
          "description": "Cross-sell cost of goods sold (COGS) is the total cost of products sold as a result of advertising a different product. How it works: You report conversions with cart data for completed purchases on your website. If the ad that was interacted with before the purchase has an associated product (see Shopping Ads) then this product is considered the advertised product. Any product included in the order the customer places is a sold product. If these products don't match then this is considered cross-sell. Cross-sell cost of goods sold is the total cost of the products sold that weren't advertised. Example: Someone clicked on a Shopping ad for a hat then bought the same hat and a shirt. The hat has a cost of goods sold value of $3, the shirt has a cost of goods sold value of $5. The cross-sell cost of goods sold for this order is $5. This metric is only available if you report conversions with cart data. This metric is a monetary value and returned in the customer's currency by default. See the `metrics_currency` parameter at [PARAMETERS clause](https://developers.google.com/search-ads/reporting/query/query-structure#parameters_clause)."
        },
        "searchExactMatchImpressionShare": {
          "description": "The impressions you've received divided by the estimated number of impressions you were eligible to receive on the Search Network for search terms that matched your keywords exactly (or were close variants of your keyword), regardless of your keyword match types. Note: Search exact match impression share is reported in the range of 0.1 to 1. Any value below 0.1 is reported as 0.0999.",
          "type": "number",
          "format": "double"
        },
        "allConversionsValueByConversionDate": {
          "format": "double",
          "type": "number",
          "description": "The value of all conversions. When this column is selected with date, the values in date column means the conversion date. Details for the `by_conversion_date` columns are available at [About the \"All conversions\" column](https://support.google.com/sa360/answer/9250611)."
        },
        "averageCpm": {
          "type": "number",
          "format": "double",
          "description": "Average cost-per-thousand impressions (CPM). This metric is a monetary value and returned in the customer's currency by default. See the `metrics_currency` parameter at [PARAMETERS clause](https://developers.google.com/search-ads/reporting/query/query-structure#parameters_clause)."
        },
        "crossSellRevenueMicros": {
          "description": "Cross-sell revenue is the total amount you made from products sold as a result of advertising a different product. How it works: You report conversions with cart data for completed purchases on your website. If the ad that was interacted with before the purchase has an associated product (see Shopping Ads) then this product is considered the advertised product. Any product included in the order the customer places is a sold product. If these products don't match then this is considered cross-sell. Cross-sell revenue is the total value you made from cross-sell attributed to your ads. Example: Someone clicked on a Shopping ad for a hat then bought the same hat and a shirt. The hat is priced $10 and the shirt is priced $20. The cross-sell revenue of this order is $20. This metric is only available if you report conversions with cart data. This metric is a monetary value and returned in the customer's currency by default. See the `metrics_currency` parameter at [PARAMETERS clause](https://developers.google.com/search-ads/reporting/query/query-structure#parameters_clause).",
          "format": "int64",
          "type": "string"
        },
        "interactions": {
          "format": "int64",
          "description": "The number of interactions. An interaction is the main user action associated with an ad format-clicks for text and shopping ads, views for video ads, and so on.",
          "type": "string"
        },
        "conversions": {
          "format": "double",
          "description": "The number of conversions. This only includes conversion actions which include_in_conversions_metric attribute is set to true. If you use conversion-based bidding, your bid strategies will optimize for these conversions.",
          "type": "number"
        },
        "conversionsFromInteractionsRate": {
          "description": "Average biddable conversions (from interaction) per conversion eligible interaction. Shows how often, on average, an ad interaction leads to a biddable conversion.",
          "type": "number",
          "format": "double"
        },
        "allConversionsFromOtherEngagement": {
          "format": "double",
          "type": "number",
          "description": "The number of other conversions (for example, posting a review or saving a location for a business) that occurred after people clicked an ad. This metric applies to feed items only."
        },
        "allConversionsValue": {
          "description": "The value of all conversions.",
          "type": "number",
          "format": "double"
        }
      }
    },
    "GoogleAdsSearchads360V23Services__MutateOperation": {
      "description": "A single operation (create, update, remove) on a resource.",
      "type": "object",
      "properties": {
        "adGroupCriterionOperation": {
          "description": "An ad group criterion mutate operation.",
          "$ref": "GoogleAdsSearchads360V23Services__AdGroupCriterionOperation"
        },
        "searchAds360CampaignOperation": {
          "$ref": "GoogleAdsSearchads360V23Services__SearchAds360CampaignOperation",
          "description": "A Search Ads 360 campaign mutate operation."
        },
        "customizerAttributeOperation": {
          "$ref": "GoogleAdsSearchads360V23Services__CustomizerAttributeOperation",
          "description": "A customizer attribute mutate operation."
        },
        "experimentArmOperation": {
          "description": "An experiment arm mutate operation.",
          "$ref": "GoogleAdsSearchads360V23Services__ExperimentArmOperation"
        },
        "labelOperation": {
          "description": "A label mutate operation.",
          "$ref": "GoogleAdsSearchads360V23Services__LabelOperation"
        },
        "userListOperation": {
          "$ref": "GoogleAdsSearchads360V23Services__UserListOperation",
          "description": "A user list mutate operation."
        },
        "adGroupAssetOperation": {
          "description": "An ad group asset mutate operation.",
          "$ref": "GoogleAdsSearchads360V23Services__AdGroupAssetOperation"
        },
        "customerNegativeCriterionOperation": {
          "description": "A customer negative criterion mutate operation.",
          "$ref": "GoogleAdsSearchads360V23Services__CustomerNegativeCriterionOperation"
        },
        "campaignBudgetOperation": {
          "description": "A campaign budget mutate operation.",
          "$ref": "GoogleAdsSearchads360V23Services__CampaignBudgetOperation"
        },
        "customerOperation": {
          "$ref": "GoogleAdsSearchads360V23Services__CustomerOperation",
          "description": "A customer mutate operation."
        },
        "adGroupAdLabelOperation": {
          "description": "An ad group ad label mutate operation.",
          "$ref": "GoogleAdsSearchads360V23Services__AdGroupAdLabelOperation"
        },
        "sharedCriterionOperation": {
          "description": "A shared criterion mutate operation.",
          "$ref": "GoogleAdsSearchads360V23Services__SharedCriterionOperation"
        },
        "smartCampaignSettingOperation": {
          "$ref": "GoogleAdsSearchads360V23Services__SmartCampaignSettingOperation",
          "description": "A Smart campaign setting mutate operation."
        },
        "campaignGroupOperation": {
          "$ref": "GoogleAdsSearchads360V23Services__CampaignGroupOperation",
          "description": "A campaign group mutate operation."
        },
        "campaignCustomizerOperation": {
          "description": "A campaign customizer mutate operation.",
          "$ref": "GoogleAdsSearchads360V23Services__CampaignCustomizerOperation"
        },
        "campaignAssetSetOperation": {
          "description": "A campaign asset mutate operation.",
          "$ref": "GoogleAdsSearchads360V23Services__CampaignAssetSetOperation"
        },
        "keywordPlanOperation": {
          "description": "A keyword plan operation.",
          "$ref": "GoogleAdsSearchads360V23Services__KeywordPlanOperation"
        },
        "remarketingActionOperation": {
          "description": "A remarketing action mutate operation.",
          "$ref": "GoogleAdsSearchads360V23Services__RemarketingActionOperation"
        },
        "conversionGoalCampaignConfigOperation": {
          "description": "A conversion goal campaign config mutate operation.",
          "$ref": "GoogleAdsSearchads360V23Services__ConversionGoalCampaignConfigOperation"
        },
        "assetGroupListingGroupFilterOperation": {
          "description": "An asset group listing group filter mutate operation.",
          "$ref": "GoogleAdsSearchads360V23Services__AssetGroupListingGroupFilterOperation"
        },
        "adGroupCriterionCustomizerOperation": {
          "description": "An ad group criterion customizer mutate operation.",
          "$ref": "GoogleAdsSearchads360V23Services__AdGroupCriterionCustomizerOperation"
        },
        "experimentOperation": {
          "description": "An experiment mutate operation.",
          "$ref": "GoogleAdsSearchads360V23Services__ExperimentOperation"
        },
        "biddingSeasonalityAdjustmentOperation": {
          "$ref": "GoogleAdsSearchads360V23Services__BiddingSeasonalityAdjustmentOperation",
          "description": "A bidding seasonality adjustment mutate operation."
        },
        "assetOperation": {
          "description": "An asset mutate operation.",
          "$ref": "GoogleAdsSearchads360V23Services__AssetOperation"
        },
        "campaignLabelOperation": {
          "$ref": "GoogleAdsSearchads360V23Services__CampaignLabelOperation",
          "description": "A campaign label mutate operation."
        },
        "biddingStrategyOperation": {
          "description": "A bidding strategy mutate operation.",
          "$ref": "GoogleAdsSearchads360V23Services__BiddingStrategyOperation"
        },
        "adGroupBidModifierOperation": {
          "$ref": "GoogleAdsSearchads360V23Services__AdGroupBidModifierOperation",
          "description": "An ad group bid modifier mutate operation."
        },
        "adGroupCriterionLabelOperation": {
          "$ref": "GoogleAdsSearchads360V23Services__AdGroupCriterionLabelOperation",
          "description": "An ad group criterion label mutate operation."
        },
        "adParameterOperation": {
          "description": "An ad parameter mutate operation.",
          "$ref": "GoogleAdsSearchads360V23Services__AdParameterOperation"
        },
        "assetGroupAssetOperation": {
          "$ref": "GoogleAdsSearchads360V23Services__AssetGroupAssetOperation",
          "description": "An asset group asset mutate operation."
        },
        "conversionActionOperation": {
          "description": "A conversion action mutate operation.",
          "$ref": "GoogleAdsSearchads360V23Services__ConversionActionOperation"
        },
        "adOperation": {
          "description": "An ad mutate operation.",
          "$ref": "GoogleAdsSearchads360V23Services__AdOperation"
        },
        "assetGroupSignalOperation": {
          "description": "An asset group signal mutate operation.",
          "$ref": "GoogleAdsSearchads360V23Services__AssetGroupSignalOperation"
        },
        "campaignBidModifierOperation": {
          "description": "A campaign bid modifier mutate operation.",
          "$ref": "GoogleAdsSearchads360V23Services__CampaignBidModifierOperation"
        },
        "adGroupOperation": {
          "$ref": "GoogleAdsSearchads360V23Services__AdGroupOperation",
          "description": "An ad group mutate operation."
        },
        "recommendationSubscriptionOperation": {
          "$ref": "GoogleAdsSearchads360V23Services__RecommendationSubscriptionOperation",
          "description": "A recommendation subscription mutate operation."
        },
        "keywordPlanAdGroupKeywordOperation": {
          "description": "A keyword plan ad group keyword operation.",
          "$ref": "GoogleAdsSearchads360V23Services__KeywordPlanAdGroupKeywordOperation"
        },
        "conversionValueRuleSetOperation": {
          "description": "A conversion value rule set mutate operation.",
          "$ref": "GoogleAdsSearchads360V23Services__ConversionValueRuleSetOperation"
        },
        "campaignOperation": {
          "description": "A campaign mutate operation.",
          "$ref": "GoogleAdsSearchads360V23Services__CampaignOperation"
        },
        "assetSetAssetOperation": {
          "$ref": "GoogleAdsSearchads360V23Services__AssetSetAssetOperation",
          "description": "An asset set asset mutate operation."
        },
        "customerCustomizerOperation": {
          "$ref": "GoogleAdsSearchads360V23Services__CustomerCustomizerOperation",
          "description": "A customer customizer mutate operation."
        },
        "customerLabelOperation": {
          "$ref": "GoogleAdsSearchads360V23Services__CustomerLabelOperation",
          "description": "A customer label mutate operation."
        },
        "sharedSetOperation": {
          "$ref": "GoogleAdsSearchads360V23Services__SharedSetOperation",
          "description": "A shared set mutate operation."
        },
        "keywordPlanAdGroupOperation": {
          "description": "A keyword plan ad group operation.",
          "$ref": "GoogleAdsSearchads360V23Services__KeywordPlanAdGroupOperation"
        },
        "campaignGoalConfigOperation": {
          "$ref": "GoogleAdsSearchads360V23Services__CampaignGoalConfigOperation",
          "description": "A campaign goal config mutate operation."
        },
        "campaignAssetOperation": {
          "$ref": "GoogleAdsSearchads360V23Services__CampaignAssetOperation",
          "description": "A campaign asset mutate operation."
        },
        "audienceOperation": {
          "description": "An audience mutate operation.",
          "$ref": "GoogleAdsSearchads360V23Services__AudienceOperation"
        },
        "campaignConversionGoalOperation": {
          "$ref": "GoogleAdsSearchads360V23Services__CampaignConversionGoalOperation",
          "description": "A campaign conversion goal mutate operation."
        },
        "keywordPlanCampaignOperation": {
          "$ref": "GoogleAdsSearchads360V23Services__KeywordPlanCampaignOperation",
          "description": "A keyword plan campaign operation."
        },
        "conversionValueRuleOperation": {
          "$ref": "GoogleAdsSearchads360V23Services__ConversionValueRuleOperation",
          "description": "A conversion value rule mutate operation."
        },
        "customerAssetOperation": {
[...]
