{
  "ownerName": "Google",
  "discoveryVersion": "v1",
  "resources": {
    "projects": {
      "resources": {
        "secrets": {
          "methods": {
            "enableManagedRotation": {
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "SecretVersion"
              },
              "httpMethod": "POST",
              "id": "secretmanager.projects.secrets.enableManagedRotation",
              "flatPath": "v1/projects/{projectsId}/secrets/{secretsId}:enableManagedRotation",
              "parameters": {
                "parent": {
                  "type": "string",
                  "description": "Required. The resource name of the Secret to associate with the SecretVersion in the format `projects/*/secrets/*` or `projects/*/locations/*/secrets/*`.",
                  "required": true,
                  "pattern": "^projects/[^/]+/secrets/[^/]+$",
                  "location": "path"
                }
              },
              "request": {
                "$ref": "EnableManagedRotationRequest"
              },
              "path": "v1/{+parent}:enableManagedRotation",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Enables the managed rotation feature for a Secret. This method can only be triggered once for a secret. In order to do further rotations, RotateSecret should be used. This method will add a secret version and update the password in Cloud SQL."
            },
            "create": {
              "path": "v1/{+parent}/secrets",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Creates a new Secret containing no SecretVersions.",
              "parameters": {
                "parent": {
                  "pattern": "^projects/[^/]+$",
                  "location": "path",
                  "description": "Required. The resource name of the project to associate with the Secret, in the format `projects/*` or `projects/*/locations/*`.",
                  "required": true,
                  "type": "string"
                },
                "secretId": {
                  "location": "query",
                  "type": "string",
                  "description": "Required. This must be unique within the project. A secret ID is a string with a maximum length of 255 characters and can contain uppercase and lowercase letters, numerals, and the hyphen (`-`) and underscore (`_`) characters."
                }
              },
              "request": {
                "$ref": "Secret"
              },
              "flatPath": "v1/projects/{projectsId}/secrets",
              "id": "secretmanager.projects.secrets.create",
              "httpMethod": "POST",
              "response": {
                "$ref": "Secret"
              },
              "parameterOrder": [
                "parent"
              ]
            },
            "patch": {
              "httpMethod": "PATCH",
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "Secret"
              },
              "path": "v1/{+name}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Updates metadata of an existing Secret.",
              "flatPath": "v1/projects/{projectsId}/secrets/{secretsId}",
              "parameters": {
                "name": {
                  "pattern": "^projects/[^/]+/secrets/[^/]+$",
                  "location": "path",
                  "type": "string",
                  "description": "Output only. The resource name of the Secret in the format `projects/*/secrets/*`.",
                  "required": true
                },
                "updateMask": {
                  "format": "google-fieldmask",
                  "location": "query",
                  "type": "string",
                  "description": "Required. Specifies the fields to be updated."
                }
              },
              "request": {
                "$ref": "Secret"
              },
              "id": "secretmanager.projects.secrets.patch"
            },
            "addVersion": {
              "id": "secretmanager.projects.secrets.addVersion",
              "parameters": {
                "parent": {
                  "pattern": "^projects/[^/]+/secrets/[^/]+$",
                  "location": "path",
                  "description": "Required. The resource name of the Secret to associate with the SecretVersion in the format `projects/*/secrets/*` or `projects/*/locations/*/secrets/*`.",
                  "required": true,
                  "type": "string"
                }
              },
              "request": {
                "$ref": "AddSecretVersionRequest"
              },
              "flatPath": "v1/projects/{projectsId}/secrets/{secretsId}:addVersion",
              "path": "v1/{+parent}:addVersion",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Creates a new SecretVersion containing secret data and attaches it to an existing Secret.",
              "response": {
                "$ref": "SecretVersion"
              },
              "parameterOrder": [
                "parent"
              ],
              "httpMethod": "POST"
            },
            "testIamPermissions": {
              "httpMethod": "POST",
              "parameterOrder": [
                "resource"
              ],
              "response": {
                "$ref": "TestIamPermissionsResponse"
              },
              "flatPath": "v1/projects/{projectsId}/secrets/{secretsId}:testIamPermissions",
              "parameters": {
                "resource": {
                  "type": "string",
                  "description": "REQUIRED: The resource for which the policy detail is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
                  "required": true,
                  "pattern": "^projects/[^/]+/secrets/[^/]+$",
                  "location": "path"
                }
              },
              "request": {
                "$ref": "TestIamPermissionsRequest"
              },
              "id": "secretmanager.projects.secrets.testIamPermissions",
              "path": "v1/{+resource}:testIamPermissions",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Returns permissions that a caller has for the specified secret. If the secret does not exist, this call returns an empty set of permissions, not a NOT_FOUND error. Note: This operation is designed to be used for building permission-aware UIs and command-line tools, not for authorization checking. This operation may \"fail open\" without warning."
            },
            "rotateSecret": {
              "httpMethod": "POST",
              "response": {
                "$ref": "SecretVersion"
              },
              "parameterOrder": [
                "parent"
              ],
              "path": "v1/{+parent}:rotateSecret",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Do a managed rotation for a Secret. This can only be triggered after Managed rotation has been enabled. This method will add a secret version and update the password in Cloud SQL.",
              "parameters": {
                "parent": {
                  "description": "Required. The resource name of the Secret to associate with the SecretVersion in the format `projects/*/secrets/*` or `projects/*/locations/*/secrets/*`.",
                  "required": true,
                  "type": "string",
                  "pattern": "^projects/[^/]+/secrets/[^/]+$",
                  "location": "path"
                }
              },
              "request": {
                "$ref": "RotateSecretRequest"
              },
              "flatPath": "v1/projects/{projectsId}/secrets/{secretsId}:rotateSecret",
              "id": "secretmanager.projects.secrets.rotateSecret"
            },
            "list": {
              "httpMethod": "GET",
              "response": {
                "$ref": "ListSecretsResponse"
              },
              "parameterOrder": [
                "parent"
              ],
              "path": "v1/{+parent}/secrets",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Lists Secrets.",
              "parameters": {
                "pageSize": {
                  "description": "Optional. The maximum number of results to be returned in a single page. If set to 0, the server decides the number of results to return. If the number is greater than 25000, it is capped at 25000.",
                  "format": "int32",
                  "location": "query",
                  "type": "integer"
                },
                "parent": {
                  "type": "string",
                  "description": "Required. The resource name of the project associated with the Secrets, in the format `projects/*` or `projects/*/locations/*`",
                  "required": true,
                  "pattern": "^projects/[^/]+$",
                  "location": "path"
                },
                "pageToken": {
                  "description": "Optional. Pagination token, returned earlier via ListSecretsResponse.next_page_token.",
                  "location": "query",
                  "type": "string"
                },
                "filter": {
                  "location": "query",
                  "type": "string",
                  "description": "Optional. Filter string, adhering to the rules in [List-operation filtering](https://cloud.google.com/secret-manager/docs/filtering). List only secrets matching the filter. If filter is empty, all secrets are listed."
                }
              },
              "flatPath": "v1/projects/{projectsId}/secrets",
              "id": "secretmanager.projects.secrets.list"
            },
            "get": {
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "Secret"
              },
              "httpMethod": "GET",
              "id": "secretmanager.projects.secrets.get",
              "flatPath": "v1/projects/{projectsId}/secrets/{secretsId}",
              "parameters": {
                "name": {
                  "type": "string",
                  "description": "Required. The resource name of the Secret, in the format `projects/*/secrets/*` or `projects/*/locations/*/secrets/*`.",
                  "required": true,
                  "pattern": "^projects/[^/]+/secrets/[^/]+$",
                  "location": "path"
                }
              },
              "path": "v1/{+name}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Gets metadata for a given Secret."
            },
            "setIamPolicy": {
              "path": "v1/{+resource}:setIamPolicy",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Sets the access control policy on the specified secret. Replaces any existing policy. Permissions on SecretVersions are enforced according to the policy set on the associated Secret.",
              "parameters": {
                "resource": {
                  "pattern": "^projects/[^/]+/secrets/[^/]+$",
                  "location": "path",
                  "description": "REQUIRED: The resource for which the policy is being specified. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
                  "required": true,
                  "type": "string"
                }
              },
              "request": {
                "$ref": "SetIamPolicyRequest"
              },
              "flatPath": "v1/projects/{projectsId}/secrets/{secretsId}:setIamPolicy",
              "id": "secretmanager.projects.secrets.setIamPolicy",
              "httpMethod": "POST",
              "response": {
                "$ref": "Policy"
              },
              "parameterOrder": [
                "resource"
              ]
            },
            "getIamPolicy": {
              "httpMethod": "GET",
              "response": {
                "$ref": "Policy"
              },
              "parameterOrder": [
                "resource"
              ],
              "path": "v1/{+resource}:getIamPolicy",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Gets the access control policy for a secret. Returns empty policy if the secret exists and does not have a policy set.",
              "parameters": {
                "resource": {
                  "type": "string",
                  "description": "REQUIRED: The resource for which the policy is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
                  "required": true,
                  "pattern": "^projects/[^/]+/secrets/[^/]+$",
                  "location": "path"
                },
                "options.requestedPolicyVersion": {
                  "description": "Optional. The maximum policy version that will be used to format the policy. Valid values are 0, 1, and 3. Requests specifying an invalid value will be rejected. Requests for policies with any conditional role bindings must specify version 3. Policies with no conditional role bindings may specify any valid value or leave the field unset. The policy in the response might use the policy version that you specified, or it might use a lower policy version. For example, if you specify version 3, but the policy has no conditional role bindings, the response uses version 1. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies).",
                  "location": "query",
                  "type": "integer",
                  "format": "int32"
                }
              },
              "flatPath": "v1/projects/{projectsId}/secrets/{secretsId}:getIamPolicy",
              "id": "secretmanager.projects.secrets.getIamPolicy"
            },
            "delete": {
              "path": "v1/{+name}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Deletes a Secret.",
              "id": "secretmanager.projects.secrets.delete",
              "parameters": {
                "name": {
                  "pattern": "^projects/[^/]+/secrets/[^/]+$",
                  "location": "path",
                  "type": "string",
                  "description": "Required. The resource name of the Secret to delete in the format `projects/*/secrets/*`.",
                  "required": true
                },
                "etag": {
                  "description": "Optional. Etag of the Secret. The request succeeds if it matches the etag of the currently stored secret object. If the etag is omitted, the request succeeds.",
                  "location": "query",
                  "type": "string"
                }
              },
              "flatPath": "v1/projects/{projectsId}/secrets/{secretsId}",
              "response": {
                "$ref": "Empty"
              },
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "DELETE"
            }
          },
          "resources": {
            "versions": {
              "methods": {
                "access": {
                  "id": "secretmanager.projects.secrets.versions.access",
                  "flatPath": "v1/projects/{projectsId}/secrets/{secretsId}/versions/{versionsId}:access",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "description": "Required. The resource name of the SecretVersion in the format `projects/*/secrets/*/versions/*` or `projects/*/locations/*/secrets/*/versions/*`. `projects/*/secrets/*/versions/latest` or `projects/*/locations/*/secrets/*/versions/latest` is an alias to the most recently created SecretVersion.",
                      "required": true,
                      "pattern": "^projects/[^/]+/secrets/[^/]+/versions/[^/]+$",
                      "location": "path"
                    }
                  },
                  "path": "v1/{+name}:access",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Accesses a SecretVersion. This call returns the secret data. `projects/*/secrets/*/versions/latest` is an alias to the most recently created SecretVersion.",
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "AccessSecretVersionResponse"
                  },
                  "httpMethod": "GET"
                },
                "destroy": {
                  "path": "v1/{+name}:destroy",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Destroys a SecretVersion. Sets the state of the SecretVersion to DESTROYED and irrevocably destroys the secret data.",
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/secrets/[^/]+/versions/[^/]+$",
                      "location": "path",
                      "type": "string",
                      "description": "Required. The resource name of the SecretVersion to destroy in the format `projects/*/secrets/*/versions/*` or `projects/*/locations/*/secrets/*/versions/*`.",
                      "required": true
                    }
                  },
                  "request": {
                    "$ref": "DestroySecretVersionRequest"
                  },
                  "flatPath": "v1/projects/{projectsId}/secrets/{secretsId}/versions/{versionsId}:destroy",
                  "id": "secretmanager.projects.secrets.versions.destroy",
                  "httpMethod": "POST",
                  "response": {
                    "$ref": "SecretVersion"
                  },
                  "parameterOrder": [
                    "name"
                  ]
                },
                "disable": {
                  "path": "v1/{+name}:disable",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Disables a SecretVersion. Sets the state of the SecretVersion to DISABLED.",
                  "id": "secretmanager.projects.secrets.versions.disable",
                  "flatPath": "v1/projects/{projectsId}/secrets/{secretsId}/versions/{versionsId}:disable",
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/secrets/[^/]+/versions/[^/]+$",
                      "location": "path",
                      "type": "string",
                      "description": "Required. The resource name of the SecretVersion to disable in the format `projects/*/secrets/*/versions/*` or `projects/*/locations/*/secrets/*/versions/*`.",
                      "required": true
                    }
                  },
                  "request": {
                    "$ref": "DisableSecretVersionRequest"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "SecretVersion"
                  },
                  "httpMethod": "POST"
                },
                "list": {
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "ListSecretVersionsResponse"
                  },
                  "path": "v1/{+parent}/versions",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Lists SecretVersions. This call does not return secret data.",
                  "flatPath": "v1/projects/{projectsId}/secrets/{secretsId}/versions",
                  "parameters": {
                    "parent": {
                      "pattern": "^projects/[^/]+/secrets/[^/]+$",
                      "location": "path",
                      "description": "Required. The resource name of the Secret associated with the SecretVersions to list, in the format `projects/*/secrets/*` or `projects/*/locations/*/secrets/*`.",
                      "required": true,
                      "type": "string"
                    },
                    "pageToken": {
                      "description": "Optional. Pagination token, returned earlier via ListSecretVersionsResponse.next_page_token][].",
                      "location": "query",
                      "type": "string"
                    },
                    "filter": {
                      "description": "Optional. Filter string, adhering to the rules in [List-operation filtering](https://cloud.google.com/secret-manager/docs/filtering). List only secret versions matching the filter. If filter is empty, all secret versions are listed.",
                      "location": "query",
                      "type": "string"
                    },
                    "pageSize": {
                      "location": "query",
                      "type": "integer",
                      "format": "int32",
                      "description": "Optional. The maximum number of results to be returned in a single page. If set to 0, the server decides the number of results to return. If the number is greater than 25000, it is capped at 25000."
                    }
                  },
                  "id": "secretmanager.projects.secrets.versions.list"
                },
                "enable": {
                  "response": {
                    "$ref": "SecretVersion"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "POST",
                  "id": "secretmanager.projects.secrets.versions.enable",
                  "parameters": {
                    "name": {
                      "description": "Required. The resource name of the SecretVersion to enable in the format `projects/*/secrets/*/versions/*` or `projects/*/locations/*/secrets/*/versions/*`.",
                      "required": true,
                      "type": "string",
                      "pattern": "^projects/[^/]+/secrets/[^/]+/versions/[^/]+$",
                      "location": "path"
                    }
                  },
                  "request": {
                    "$ref": "EnableSecretVersionRequest"
                  },
                  "flatPath": "v1/projects/{projectsId}/secrets/{secretsId}/versions/{versionsId}:enable",
                  "path": "v1/{+name}:enable",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Enables a SecretVersion. Sets the state of the SecretVersion to ENABLED."
                },
                "get": {
                  "flatPath": "v1/projects/{projectsId}/secrets/{secretsId}/versions/{versionsId}",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "description": "Required. The resource name of the SecretVersion in the format `projects/*/secrets/*/versions/*` or `projects/*/locations/*/secrets/*/versions/*`. `projects/*/secrets/*/versions/latest` or `projects/*/locations/*/secrets/*/versions/latest` is an alias to the most recently created SecretVersion.",
                      "required": true,
                      "pattern": "^projects/[^/]+/secrets/[^/]+/versions/[^/]+$",
                      "location": "path"
                    }
                  },
                  "id": "secretmanager.projects.secrets.versions.get",
                  "path": "v1/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Gets metadata for a SecretVersion. `projects/*/secrets/*/versions/latest` is an alias to the most recently created SecretVersion.",
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "SecretVersion"
                  }
                }
              }
            }
          }
        },
        "locations": {
          "methods": {
            "list": {
              "parameters": {
                "filter": {
                  "description": "A filter to narrow down results to a preferred subset. The filtering language accepts strings like `\"displayName=tokyo\"`, and is documented in more detail in [AIP-160](https://google.aip.dev/160).",
                  "location": "query",
                  "type": "string"
                },
                "name": {
                  "pattern": "^projects/[^/]+$",
                  "location": "path",
                  "description": "The resource that owns the locations collection, if applicable.",
                  "required": true,
                  "type": "string"
                },
                "pageSize": {
                  "location": "query",
                  "type": "integer",
                  "format": "int32",
                  "description": "The maximum number of results to return. If not set, the service selects a default."
                },
                "extraLocationTypes": {
                  "description": "Optional. Do not use this field unless explicitly documented otherwise. This is primarily for internal usage.",
                  "location": "query",
                  "type": "string",
                  "repeated": true
                },
                "pageToken": {
                  "location": "query",
                  "type": "string",
                  "description": "A page token received from the `next_page_token` field in the response. Send that page token to receive the subsequent page."
                }
              },
              "flatPath": "v1/projects/{projectsId}/locations",
              "id": "secretmanager.projects.locations.list",
              "path": "v1/{+name}/locations",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Lists information about the supported locations for this service. This method lists locations based on the resource scope provided in the ListLocationsRequest.name field: * **Global locations**: If `name` is empty, the method lists the public locations available to all projects. * **Project-specific locations**: If `name` follows the format `projects/{project}`, the method lists locations visible to that specific project. This includes public, private, or other project-specific locations enabled for the project. For gRPC and client library implementations, the resource name is passed as the `name` field. For direct service calls, the resource name is incorporated into the request path based on the specific service implementation and version.",
              "httpMethod": "GET",
              "response": {
                "$ref": "ListLocationsResponse"
              },
              "parameterOrder": [
                "name"
              ]
            },
            "get": {
              "id": "secretmanager.projects.locations.get",
              "parameters": {
                "name": {
                  "pattern": "^projects/[^/]+/locations/[^/]+$",
                  "location": "path",
                  "description": "Resource name for the location.",
                  "required": true,
                  "type": "string"
                }
              },
              "flatPath": "v1/projects/{projectsId}/locations/{locationsId}",
              "path": "v1/{+name}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Gets information about a location.",
              "response": {
                "$ref": "Location"
              },
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "GET"
            }
          },
          "resources": {
            "secrets": {
              "methods": {
                "patch": {
                  "path": "v1/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Updates metadata of an existing Secret.",
                  "id": "secretmanager.projects.locations.secrets.patch",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "description": "Output only. The resource name of the Secret in the format `projects/*/secrets/*`.",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/secrets/[^/]+$",
                      "location": "path"
                    },
                    "updateMask": {
                      "format": "google-fieldmask",
                      "location": "query",
                      "type": "string",
                      "description": "Required. Specifies the fields to be updated."
                    }
                  },
                  "request": {
                    "$ref": "Secret"
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/secrets/{secretsId}",
                  "response": {
                    "$ref": "Secret"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "PATCH"
                },
                "addVersion": {
                  "id": "secretmanager.projects.locations.secrets.addVersion",
                  "parameters": {
                    "parent": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/secrets/[^/]+$",
                      "location": "path",
                      "type": "string",
                      "description": "Required. The resource name of the Secret to associate with the SecretVersion in the format `projects/*/secrets/*` or `projects/*/locations/*/secrets/*`.",
                      "required": true
                    }
                  },
                  "request": {
                    "$ref": "AddSecretVersionRequest"
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/secrets/{secretsId}:addVersion",
                  "path": "v1/{+parent}:addVersion",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Creates a new SecretVersion containing secret data and attaches it to an existing Secret.",
                  "response": {
                    "$ref": "SecretVersion"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "httpMethod": "POST"
                },
                "testIamPermissions": {
                  "httpMethod": "POST",
                  "response": {
                    "$ref": "TestIamPermissionsResponse"
                  },
                  "parameterOrder": [
                    "resource"
                  ],
                  "parameters": {
                    "resource": {
                      "description": "REQUIRED: The resource for which the policy detail is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
                      "required": true,
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/secrets/[^/]+$",
                      "location": "path"
                    }
                  },
                  "request": {
                    "$ref": "TestIamPermissionsRequest"
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/secrets/{secretsId}:testIamPermissions",
                  "id": "secretmanager.projects.locations.secrets.testIamPermissions",
                  "path": "v1/{+resource}:testIamPermissions",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Returns permissions that a caller has for the specified secret. If the secret does not exist, this call returns an empty set of permissions, not a NOT_FOUND error. Note: This operation is designed to be used for building permission-aware UIs and command-line tools, not for authorization checking. This operation may \"fail open\" without warning."
                },
                "rotateSecret": {
                  "path": "v1/{+parent}:rotateSecret",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Do a managed rotation for a Secret. This can only be triggered after Managed rotation has been enabled. This method will add a secret version and update the password in Cloud SQL.",
                  "parameters": {
                    "parent": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/secrets/[^/]+$",
                      "location": "path",
                      "type": "string",
                      "description": "Required. The resource name of the Secret to associate with the SecretVersion in the format `projects/*/secrets/*` or `projects/*/locations/*/secrets/*`.",
                      "required": true
                    }
                  },
                  "request": {
                    "$ref": "RotateSecretRequest"
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/secrets/{secretsId}:rotateSecret",
                  "id": "secretmanager.projects.locations.secrets.rotateSecret",
                  "httpMethod": "POST",
                  "response": {
                    "$ref": "SecretVersion"
                  },
                  "parameterOrder": [
                    "parent"
                  ]
                },
                "enableManagedRotation": {
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "SecretVersion"
                  },
                  "httpMethod": "POST",
                  "id": "secretmanager.projects.locations.secrets.enableManagedRotation",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/secrets/{secretsId}:enableManagedRotation",
                  "parameters": {
                    "parent": {
                      "description": "Required. The resource name of the Secret to associate with the SecretVersion in the format `projects/*/secrets/*` or `projects/*/locations/*/secrets/*`.",
                      "required": true,
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/secrets/[^/]+$",
                      "location": "path"
                    }
                  },
                  "request": {
                    "$ref": "EnableManagedRotationRequest"
                  },
                  "path": "v1/{+parent}:enableManagedRotation",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Enables the managed rotation feature for a Secret. This method can only be triggered once for a secret. In order to do further rotations, RotateSecret should be used. This method will add a secret version and update the password in Cloud SQL."
                },
                "create": {
                  "id": "secretmanager.projects.locations.secrets.create",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/secrets",
                  "parameters": {
                    "parent": {
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path",
                      "type": "string",
                      "description": "Required. The resource name of the project to associate with the Secret, in the format `projects/*` or `projects/*/locations/*`.",
                      "required": true
                    },
                    "secretId": {
                      "description": "Required. This must be unique within the project. A secret ID is a string with a maximum length of 255 characters and can contain uppercase and lowercase letters, numerals, and the hyphen (`-`) and underscore (`_`) characters.",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "request": {
                    "$ref": "Secret"
                  },
                  "path": "v1/{+parent}/secrets",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Creates a new Secret containing no SecretVersions.",
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "Secret"
                  },
                  "httpMethod": "POST"
                },
                "getIamPolicy": {
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "Policy"
                  },
                  "parameterOrder": [
                    "resource"
                  ],
                  "path": "v1/{+resource}:getIamPolicy",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Gets the access control policy for a secret. Returns empty policy if the secret exists and does not have a policy set.",
                  "parameters": {
                    "resource": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/secrets/[^/]+$",
                      "location": "path",
                      "description": "REQUIRED: The resource for which the policy is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
                      "required": true,
                      "type": "string"
                    },
                    "options.requestedPolicyVersion": {
                      "location": "query",
                      "type": "integer",
                      "format": "int32",
                      "description": "Optional. The maximum policy version that will be used to format the policy. Valid values are 0, 1, and 3. Requests specifying an invalid value will be rejected. Requests for policies with any conditional role bindings must specify version 3. Policies with no conditional role bindings may specify any valid value or leave the field unset. The policy in the response might use the policy version that you specified, or it might use a lower policy version. For example, if you specify version 3, but the policy has no conditional role bindings, the response uses version 1. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies)."
                    }
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/secrets/{secretsId}:getIamPolicy",
                  "id": "secretmanager.projects.locations.secrets.getIamPolicy"
                },
                "delete": {
                  "httpMethod": "DELETE",
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "Empty"
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/secrets/{secretsId}",
                  "parameters": {
                    "etag": {
                      "description": "Optional. Etag of the Secret. The request succeeds if it matches the etag of the currently stored secret object. If the etag is omitted, the request succeeds.",
                      "location": "query",
                      "type": "string"
                    },
                    "name": {
                      "description": "Required. The resource name of the Secret to delete in the format `projects/*/secrets/*`.",
                      "required": true,
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/secrets/[^/]+$",
                      "location": "path"
                    }
                  },
                  "id": "secretmanager.projects.locations.secrets.delete",
                  "path": "v1/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Deletes a Secret."
                },
                "get": {
                  "response": {
                    "$ref": "Secret"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "GET",
                  "path": "v1/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Gets metadata for a given Secret.",
                  "id": "secretmanager.projects.locations.secrets.get",
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/secrets/[^/]+$",
                      "location": "path",
                      "description": "Required. The resource name of the Secret, in the format `projects/*/secrets/*` or `projects/*/locations/*/secrets/*`.",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/secrets/{secretsId}"
                },
                "setIamPolicy": {
                  "httpMethod": "POST",
                  "response": {
                    "$ref": "Policy"
                  },
                  "parameterOrder": [
                    "resource"
                  ],
                  "parameters": {
                    "resource": {
                      "type": "string",
                      "description": "REQUIRED: The resource for which the policy is being specified. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/secrets/[^/]+$",
                      "location": "path"
                    }
                  },
                  "request": {
                    "$ref": "SetIamPolicyRequest"
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/secrets/{secretsId}:setIamPolicy",
                  "id": "secretmanager.projects.locations.secrets.setIamPolicy",
                  "path": "v1/{+resource}:setIamPolicy",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Sets the access control policy on the specified secret. Replaces any existing policy. Permissions on SecretVersions are enforced according to the policy set on the associated Secret."
                },
                "list": {
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "ListSecretsResponse"
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/secrets",
                  "parameters": {
                    "parent": {
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path",
                      "type": "string",
                      "description": "Required. The resource name of the project associated with the Secrets, in the format `projects/*` or `projects/*/locations/*`",
                      "required": true
                    },
                    "pageToken": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. Pagination token, returned earlier via ListSecretsResponse.next_page_token."
                    },
                    "filter": {
                      "description": "Optional. Filter string, adhering to the rules in [List-operation filtering](https://cloud.google.com/secret-manager/docs/filtering). List only secrets matching the filter. If filter is empty, all secrets are listed.",
                      "location": "query",
                      "type": "string"
                    },
                    "pageSize": {
                      "description": "Optional. The maximum number of results to be returned in a single page. If set to 0, the server decides the number of results to return. If the number is greater than 25000, it is capped at 25000.",
                      "format": "int32",
                      "location": "query",
                      "type": "integer"
                    }
                  },
                  "id": "secretmanager.projects.locations.secrets.list",
                  "path": "v1/{+parent}/secrets",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Lists Secrets."
                }
              },
              "resources": {
                "versions": {
                  "methods": {
                    "access": {
                      "httpMethod": "GET",
                      "parameterOrder": [
                        "name"
                      ],
                      "response": {
                        "$ref": "AccessSecretVersionResponse"
                      },
                      "path": "v1/{+name}:access",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "description": "Accesses a SecretVersion. This call returns the secret data. `projects/*/secrets/*/versions/latest` is an alias to the most recently created SecretVersion.",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/secrets/{secretsId}/versions/{versionsId}:access",
                      "parameters": {
                        "name": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/secrets/[^/]+/versions/[^/]+$",
                          "location": "path",
                          "description": "Required. The resource name of the SecretVersion in the format `projects/*/secrets/*/versions/*` or `projects/*/locations/*/secrets/*/versions/*`. `projects/*/secrets/*/versions/latest` or `projects/*/locations/*/secrets/*/versions/latest` is an alias to the most recently created SecretVersion.",
                          "required": true,
                          "type": "string"
                        }
                      },
                      "id": "secretmanager.projects.locations.secrets.versions.access"
                    },
                    "destroy": {
                      "parameterOrder": [
                        "name"
                      ],
                      "response": {
                        "$ref": "SecretVersion"
                      },
                      "httpMethod": "POST",
                      "id": "secretmanager.projects.locations.secrets.versions.destroy",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/secrets/{secretsId}/versions/{versionsId}:destroy",
                      "parameters": {
                        "name": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/secrets/[^/]+/versions/[^/]+$",
                          "location": "path",
                          "description": "Required. The resource name of the SecretVersion to destroy in the format `projects/*/secrets/*/versions/*` or `projects/*/locations/*/secrets/*/versions/*`.",
                          "required": true,
                          "type": "string"
                        }
                      },
                      "request": {
                        "$ref": "DestroySecretVersionRequest"
                      },
                      "path": "v1/{+name}:destroy",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "description": "Destroys a SecretVersion. Sets the state of the SecretVersion to DESTROYED and irrevocably destroys the secret data."
                    },
                    "get": {
                      "path": "v1/{+name}",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "description": "Gets metadata for a SecretVersion. `projects/*/secrets/*/versions/latest` is an alias to the most recently created SecretVersion.",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/secrets/{secretsId}/versions/{versionsId}",
                      "parameters": {
                        "name": {
                          "type": "string",
                          "description": "Required. The resource name of the SecretVersion in the format `projects/*/secrets/*/versions/*` or `projects/*/locations/*/secrets/*/versions/*`. `projects/*/secrets/*/versions/latest` or `projects/*/locations/*/secrets/*/versions/latest` is an alias to the most recently created SecretVersion.",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/secrets/[^/]+/versions/[^/]+$",
                          "location": "path"
                        }
                      },
                      "id": "secretmanager.projects.locations.secrets.versions.get",
                      "httpMethod": "GET",
                      "parameterOrder": [
                        "name"
                      ],
                      "response": {
                        "$ref": "SecretVersion"
                      }
                    },
                    "list": {
                      "httpMethod": "GET",
                      "response": {
                        "$ref": "ListSecretVersionsResponse"
                      },
                      "parameterOrder": [
                        "parent"
                      ],
                      "path": "v1/{+parent}/versions",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "description": "Lists SecretVersions. This call does not return secret data.",
                      "parameters": {
                        "parent": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/secrets/[^/]+$",
                          "location": "path",
                          "type": "string",
                          "description": "Required. The resource name of the Secret associated with the SecretVersions to list, in the format `projects/*/secrets/*` or `projects/*/locations/*/secrets/*`.",
                          "required": true
                        },
                        "pageToken": {
                          "location": "query",
                          "type": "string",
                          "description": "Optional. Pagination token, returned earlier via ListSecretVersionsResponse.next_page_token][]."
                        },
                        "filter": {
                          "description": "Optional. Filter string, adhering to the rules in [List-operation filtering](https://cloud.google.com/secret-manager/docs/filtering). List only secret versions matching the filter. If filter is empty, all secret versions are listed.",
                          "location": "query",
                          "type": "string"
                        },
                        "pageSize": {
                          "description": "Optional. The maximum number of results to be returned in a single page. If set to 0, the server decides the number of results to return. If the number is greater than 25000, it is capped at 25000.",
                          "location": "query",
                          "type": "integer",
                          "format": "int32"
                        }
                      },
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/secrets/{secretsId}/versions",
                      "id": "secretmanager.projects.locations.secrets.versions.list"
                    },
                    "enable": {
                      "path": "v1/{+name}:enable",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "description": "Enables a SecretVersion. Sets the state of the SecretVersion to ENABLED.",
                      "id": "secretmanager.projects.locations.secrets.versions.enable",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/secrets/{secretsId}/versions/{versionsId}:enable",
                      "parameters": {
                        "name": {
                          "description": "Required. The resource name of the SecretVersion to enable in the format `projects/*/secrets/*/versions/*` or `projects/*/locations/*/secrets/*/versions/*`.",
                          "required": true,
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/secrets/[^/]+/versions/[^/]+$",
                          "location": "path"
                        }
                      },
                      "request": {
                        "$ref": "EnableSecretVersionRequest"
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "response": {
                        "$ref": "SecretVersion"
                      },
                      "httpMethod": "POST"
                    },
                    "disable": {
                      "path": "v1/{+name}:disable",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "description": "Disables a SecretVersion. Sets the state of the SecretVersion to DISABLED.",
                      "parameters": {
                        "name": {
                          "description": "Required. The resource name of the SecretVersion to disable in the format `projects/*/secrets/*/versions/*` or `projects/*/locations/*/secrets/*/versions/*`.",
                          "required": true,
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/secrets/[^/]+/versions/[^/]+$",
                          "location": "path"
                        }
                      },
                      "request": {
                        "$ref": "DisableSecretVersionRequest"
                      },
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/secrets/{secretsId}/versions/{versionsId}:disable",
                      "id": "secretmanager.projects.locations.secrets.versions.disable",
                      "httpMethod": "POST",
                      "response": {
                        "$ref": "SecretVersion"
                      },
                      "parameterOrder": [
                        "name"
                      ]
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "batchPath": "batch",
  "basePath": "",
  "fullyEncodeReservedExpansion": true,
  "protocol": "rest",
  "version": "v1",
  "revision": "20260731",
  "description": "Stores sensitive data such as API keys, passwords, and certificates. Provides convenience while improving security. ",
  "endpoints": [
    {
      "location": "me-central2",
      "endpointUrl": "https://secretmanager.me-central2.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://secretmanager.africa-south1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "africa-south1"
    },
    {
      "endpointUrl": "https://secretmanager.asia-east1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "asia-east1"
    },
    {
      "endpointUrl": "https://secretmanager.asia-east2.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "asia-east2"
    },
    {
      "location": "asia-northeast1",
      "endpointUrl": "https://secretmanager.asia-northeast1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "asia-northeast2",
      "endpointUrl": "https://secretmanager.asia-northeast2.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://secretmanager.asia-northeast3.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "asia-northeast3"
    },
    {
      "endpointUrl": "https://secretmanager.asia-south1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "asia-south1"
    },
    {
      "endpointUrl": "https://secretmanager.asia-south2.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "asia-south2"
    },
    {
      "location": "asia-southeast1",
      "endpointUrl": "https://secretmanager.asia-southeast1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://secretmanager.asia-southeast2.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "asia-southeast2"
    },
    {
      "endpointUrl": "https://secretmanager.asia-southeast3.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "asia-southeast3"
    },
    {
      "location": "australia-southeast1",
      "endpointUrl": "https://secretmanager.australia-southeast1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "australia-southeast2",
      "endpointUrl": "https://secretmanager.australia-southeast2.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "europe-central2",
      "endpointUrl": "https://secretmanager.europe-central2.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "europe-north1",
      "endpointUrl": "https://secretmanager.europe-north1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://secretmanager.europe-north2.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "europe-north2"
    },
    {
      "location": "europe-southwest1",
      "endpointUrl": "https://secretmanager.europe-southwest1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://secretmanager.europe-west1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "europe-west1"
    },
    {
      "endpointUrl": "https://secretmanager.europe-west10.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "europe-west10"
    },
    {
      "location": "europe-west12",
      "endpointUrl": "https://secretmanager.europe-west12.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://secretmanager.europe-west15.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "europe-west15"
    },
    {
      "endpointUrl": "https://secretmanager.europe-west2.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "europe-west2"
    },
    {
      "location": "europe-west3",
      "endpointUrl": "https://secretmanager.europe-west3.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://secretmanager.europe-west4.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "europe-west4"
    },
    {
      "location": "europe-west6",
      "endpointUrl": "https://secretmanager.europe-west6.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "europe-west8",
      "endpointUrl": "https://secretmanager.europe-west8.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "europe-west9",
      "endpointUrl": "https://secretmanager.europe-west9.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "me-central1",
      "endpointUrl": "https://secretmanager.me-central1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "me-west1",
      "endpointUrl": "https://secretmanager.me-west1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://secretmanager.northamerica-northeast1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "northamerica-northeast1"
    },
    {
      "endpointUrl": "https://secretmanager.northamerica-northeast2.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "northamerica-northeast2"
    },
    {
      "location": "northamerica-south1",
      "endpointUrl": "https://secretmanager.northamerica-south1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "southamerica-east1",
      "endpointUrl": "https://secretmanager.southamerica-east1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://secretmanager.southamerica-west1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "southamerica-west1"
    },
    {
      "location": "us-central1",
      "endpointUrl": "https://secretmanager.us-central1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://secretmanager.us-central2.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "us-central2"
    },
    {
      "endpointUrl": "https://secretmanager.us-east1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "us-east1"
    },
    {
      "location": "us-east4",
      "endpointUrl": "https://secretmanager.us-east4.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://secretmanager.us-east5.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "us-east5"
    },
    {
      "location": "us-east7",
      "endpointUrl": "https://secretmanager.us-east7.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "us-south1",
      "endpointUrl": "https://secretmanager.us-south1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://secretmanager.us-west1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "us-west1"
    },
    {
      "endpointUrl": "https://secretmanager.us-west2.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "us-west2"
    },
    {
      "endpointUrl": "https://secretmanager.us-west3.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "us-west3"
    },
    {
      "location": "us-west4",
      "endpointUrl": "https://secretmanager.us-west4.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "us",
      "endpointUrl": "https://secretmanager.us.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "eu",
      "endpointUrl": "https://secretmanager.eu.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://secretmanager.ca.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "ca"
    },
    {
      "location": "in",
      "endpointUrl": "https://secretmanager.in.rep.googleapis.com/",
      "description": "Regional Endpoint"
    }
  ],
  "schemas": {
    "AuditConfig": {
      "type": "object",
      "id": "AuditConfig",
      "description": "Specifies the audit configuration for a service. The configuration determines which permission types are logged, and what identities, if any, are exempted from logging. An AuditConfig must have one or more AuditLogConfigs. If there are AuditConfigs for both `allServices` and a specific service, the union of the two AuditConfigs is used for that service: the log_types specified in each AuditConfig are enabled, and the exempted_members in each AuditLogConfig are exempted. Example Policy with multiple AuditConfigs: { \"audit_configs\": [ { \"service\": \"allServices\", \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\", \"exempted_members\": [ \"user:jose@example.com\" ] }, { \"log_type\": \"DATA_WRITE\" }, { \"log_type\": \"ADMIN_READ\" } ] }, { \"service\": \"sampleservice.googleapis.com\", \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\" }, { \"log_type\": \"DATA_WRITE\", \"exempted_members\": [ \"user:aliya@example.com\" ] } ] } ] } For sampleservice, this policy enables DATA_READ, DATA_WRITE and ADMIN_READ logging. It also exempts `jose@example.com` from DATA_READ logging, and `aliya@example.com` from DATA_WRITE logging.",
      "properties": {
        "service": {
          "description": "Specifies a service that will be enabled for audit logging. For example, `storage.googleapis.com`, `cloudsql.googleapis.com`. `allServices` is a special value that covers all services.",
          "type": "string"
        },
        "auditLogConfigs": {
          "description": "The configuration for logging of each type of permission.",
          "type": "array",
          "items": {
            "$ref": "AuditLogConfig"
          }
        }
      }
    },
    "Operation": {
      "id": "Operation",
      "type": "object",
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "properties": {
        "error": {
          "description": "The error result of the operation in case of failure or cancellation.",
          "$ref": "Status"
        },
        "done": {
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available.",
          "type": "boolean"
        },
        "name": {
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`.",
          "type": "string"
        },
        "response": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "type": "object"
        },
        "metadata": {
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "type": "object"
        }
      }
    },
    "ListSecretsResponse": {
      "type": "object",
      "id": "ListSecretsResponse",
      "description": "Response message for SecretManagerService.ListSecrets.",
      "properties": {
        "nextPageToken": {
          "description": "A token to retrieve the next page of results. Pass this value in ListSecretsRequest.page_token to retrieve the next page.",
          "type": "string"
        },
        "totalSize": {
          "type": "integer",
          "format": "int32",
          "description": "The total number of Secrets but 0 when the ListSecretsRequest.filter field is set."
        },
        "secrets": {
          "description": "The list of Secrets sorted in reverse by create_time (newest first).",
          "type": "array",
          "items": {
            "$ref": "Secret"
          }
        }
      }
    },
    "Replication": {
      "type": "object",
      "id": "Replication",
      "description": "A policy that defines the replication and encryption configuration of data.",
      "properties": {
        "automatic": {
          "description": "The Secret will automatically be replicated without any restrictions.",
          "$ref": "Automatic"
        },
        "userManaged": {
          "description": "The Secret will only be replicated into the locations specified.",
          "$ref": "UserManaged"
        }
      }
    },
    "Rotation": {
      "description": "The rotation time and period for a Secret. At next_rotation_time, Secret Manager will send a Pub/Sub notification to the topics configured on the Secret. Secret.topics must be set to configure rotation.",
      "properties": {
        "rotationPeriod": {
          "description": "Input only. The Duration between rotation notifications. Must be in seconds and at least 3600s (1h) and at most 3153600000s (100 years). If rotation_period is set, next_rotation_time must be set. next_rotation_time will be advanced by this period when the service automatically sends rotation notifications.",
          "type": "string",
          "format": "google-duration"
        },
        "managedRotationStatus": {
          "description": "Output only. The current status of the managed rotation. This field is only applicable to Typed Secrets. This field is set by the service and cannot be set by the user.",
          "$ref": "ManagedRotationStatus",
          "readOnly": true
        },
        "nextRotationTime": {
          "description": "Optional. Timestamp in UTC at which the Secret is scheduled to rotate. Cannot be set to less than 300s (5 min) in the future and at most 3153600000s (100 years). next_rotation_time MUST be set if rotation_period is set.",
          "format": "google-datetime",
          "type": "string"
        }
      },
      "id": "Rotation",
      "type": "object"
    },
    "UserManagedStatus": {
      "type": "object",
      "id": "UserManagedStatus",
      "description": "The replication status of a SecretVersion using user-managed replication. Only populated if the parent Secret has a user-managed replication policy.",
      "properties": {
        "replicas": {
          "description": "Output only. The list of replica statuses for the SecretVersion.",
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "ReplicaStatus"
          }
        }
      }
    },
    "Empty": {
      "type": "object",
      "id": "Empty",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "properties": {}
    },
    "DestroySecretVersionRequest": {
      "description": "Request message for SecretManagerService.DestroySecretVersion.",
      "properties": {
        "etag": {
          "description": "Optional. Etag of the SecretVersion. The request succeeds if it matches the etag of the currently stored secret version object. If the etag is omitted, the request succeeds.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "DestroySecretVersionRequest"
    },
    "Binding": {
      "description": "Associates `members`, or principals, with a `role`.",
      "properties": {
        "role": {
          "description": "Role that is assigned to the list of `members`, or principals. For example, `roles/viewer`, `roles/editor`, or `roles/owner`. For an overview of the IAM roles and permissions, see the [IAM documentation](https://cloud.google.com/iam/docs/roles-overview). For a list of the available pre-defined roles, see [here](https://cloud.google.com/iam/docs/understanding-roles).",
          "type": "string"
        },
        "condition": {
          "description": "The condition that is associated with this binding. If the condition evaluates to `true`, then this binding applies to the current request. If the condition evaluates to `false`, then this binding does not apply to the current request. However, a different role binding might grant the same role to one or more of the principals in this binding. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies).",
          "$ref": "Expr"
        },
        "members": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Specifies the principals requesting access for a Google Cloud resource. `members` can have the following values: * `allUsers`: A special identifier that represents anyone who is on the internet; with or without a Google account. * `allAuthenticatedUsers`: A special identifier that represents anyone who is authenticated with a Google account or a service account. Does not include identities that come from external identity providers (IdPs) through identity federation. * `user:{emailid}`: An email address that represents a specific Google account. For example, `alice@example.com` . * `serviceAccount:{emailid}`: An email address that represents a Google service account. For example, `my-other-app@appspot.gserviceaccount.com`. * `serviceAccount:{projectid}.svc.id.goog[{namespace}/{kubernetes-sa}]`: An identifier for a [Kubernetes service account](https://cloud.google.com/kubernetes-engine/docs/how-to/kubernetes-service-accounts). For example, `my-project.svc.id.goog[my-namespace/my-kubernetes-sa]`. * `group:{emailid}`: An email address that represents a Google group. For example, `admins@example.com`. * `domain:{domain}`: The G Suite domain (primary) that represents all the users of that domain. For example, `google.com` or `example.com`. * `principal://iam.googleapis.com/locations/global/workforcePools/{pool_id}/subject/{subject_attribute_value}`: A single identity in a workforce identity pool. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/group/{group_id}`: All workforce identities in a group. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/attribute.{attribute_name}/{attribute_value}`: All workforce identities with a specific attribute value. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/*`: All identities in a workforce identity pool. * `principal://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/subject/{subject_attribute_value}`: A single identity in a workload identity pool. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/group/{group_id}`: A workload identity pool group. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/attribute.{attribute_name}/{attribute_value}`: All identities in a workload identity pool with a certain attribute. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/*`: All identities in a workload identity pool. * `deleted:user:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a user that has been recently deleted. For example, `alice@example.com?uid=123456789012345678901`. If the user is recovered, this value reverts to `user:{emailid}` and the recovered user retains the role in the binding. * `deleted:serviceAccount:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a service account that has been recently deleted. For example, `my-other-app@appspot.gserviceaccount.com?uid=123456789012345678901`. If the service account is undeleted, this value reverts to `serviceAccount:{emailid}` and the undeleted service account retains the role in the binding. * `deleted:group:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a Google group that has been recently deleted. For example, `admins@example.com?uid=123456789012345678901`. If the group is recovered, this value reverts to `group:{emailid}` and the recovered group retains the role in the binding. * `deleted:principal://iam.googleapis.com/locations/global/workforcePools/{pool_id}/subject/{subject_attribute_value}`: Deleted single identity in a workforce identity pool. For example, `deleted:principal://iam.googleapis.com/locations/global/workforcePools/my-pool-id/subject/my-subject-attribute-value`."
        }
      },
      "type": "object",
      "id": "Binding"
    },
    "ListLocationsResponse": {
      "description": "The response message for Locations.ListLocations.",
      "properties": {
        "locations": {
          "description": "A list of locations that matches the specified filter in the request.",
          "type": "array",
          "items": {
            "$ref": "Location"
          }
        },
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "ListLocationsResponse"
    },
    "Automatic": {
      "id": "Automatic",
      "type": "object",
      "description": "A replication policy that replicates the Secret payload without any restrictions.",
      "properties": {
        "customerManagedEncryption": {
          "description": "Optional. The customer-managed encryption configuration of the Secret. If no configuration is provided, Google-managed default encryption is used. Updates to the Secret encryption configuration only apply to SecretVersions added afterwards. They do not apply retroactively to existing SecretVersions.",
          "$ref": "CustomerManagedEncryption"
        }
      }
    },
    "TestIamPermissionsRequest": {
      "id": "TestIamPermissionsRequest",
      "type": "object",
      "description": "Request message for `TestIamPermissions` method.",
      "properties": {
        "permissions": {
          "description": "The set of permissions to check for the `resource`. Permissions with wildcards (such as `*` or `storage.*`) are not allowed. For more information see [IAM Overview](https://cloud.google.com/iam/docs/overview#permissions).",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "Progress": {
      "type": "object",
      "id": "Progress",
      "description": "Represents progress information for operations involving multiple secret versions.",
      "properties": {
        "failedVersionCount": {
          "description": "Output only. Number of secret versions that failed to process.",
          "readOnly": true,
          "type": "integer",
          "format": "int32"
        },
        "totalVersionCount": {
          "description": "Output only. Provides the total number of secret versions to be processed by the operation.",
          "readOnly": true,
          "type": "integer",
          "format": "int32"
        },
        "completedVersionCount": {
          "description": "Output only. Number of secret versions that have been successfully processed so far.",
          "readOnly": true,
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "Topic": {
      "description": "A Pub/Sub topic which Secret Manager will publish to when control plane events occur on this secret.",
      "properties": {
        "name": {
          "description": "Identifier. The resource name of the Pub/Sub topic that will be published to, in the following format: `projects/*/topics/*`. For publication to succeed, the Secret Manager service agent must have the `pubsub.topic.publish` permission on the topic. The Pub/Sub Publisher role (`roles/pubsub.publisher`) includes this permission.",
          "type": "string"
        }
      },
      "id": "Topic",
      "type": "object"
    },
    "AuditLogConfig": {
      "id": "AuditLogConfig",
      "type": "object",
      "description": "Provides the configuration for logging a type of permissions. Example: { \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\", \"exempted_members\": [ \"user:jose@example.com\" ] }, { \"log_type\": \"DATA_WRITE\" } ] } This enables 'DATA_READ' and 'DATA_WRITE' logging, while exempting jose@example.com from DATA_READ logging.",
      "properties": {
        "logType": {
          "type": "string",
          "enum": [
            "LOG_TYPE_UNSPECIFIED",
            "ADMIN_READ",
            "DATA_WRITE",
            "DATA_READ"
          ],
          "enumDescriptions": [
            "Default case. Should never be this.",
            "Admin reads. Example: CloudIAM getIamPolicy",
            "Data writes. Example: CloudSQL Users create",
            "Data reads. Example: CloudSQL Users list"
          ],
          "description": "The log type that this config enables."
        },
        "exemptedMembers": {
          "description": "Specifies the identities that do not cause logging for this type of permission. Follows the same format of Binding.members.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "UserManaged": {
      "description": "A replication policy that replicates the Secret payload into the locations specified in Replication.UserManaged.replicas",
      "properties": {
        "replicas": {
          "description": "Required. The list of Replicas for this Secret. Cannot be empty.",
          "type": "array",
          "items": {
            "$ref": "Replica"
          }
        }
      },
      "id": "UserManaged",
      "type": "object"
    },
    "ReplicaStatus": {
      "description": "Describes the status of a user-managed replica for the SecretVersion.",
      "properties": {
        "location": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The canonical ID of the replica location. For example: `\"us-east1\"`."
        },
        "customerManagedEncryption": {
          "readOnly": true,
          "description": "Output only. The customer-managed encryption status of the SecretVersion. Only populated if customer-managed encryption is used.",
          "$ref": "CustomerManagedEncryptionStatus"
        }
      },
      "type": "object",
      "id": "ReplicaStatus"
    },
    "EnableSecretVersionRequest": {
      "description": "Request message for SecretManagerService.EnableSecretVersion.",
      "properties": {
        "etag": {
          "description": "Optional. Etag of the SecretVersion. The request succeeds if it matches the etag of the currently stored secret version object. If the etag is omitted, the request succeeds.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "EnableSecretVersionRequest"
    },
    "Secret": {
      "type": "object",
      "id": "Secret",
      "description": "A Secret is a logical secret whose value and versions can be accessed. A Secret is made up of zero or more SecretVersions that represent the secret data.",
      "properties": {
        "expireTime": {
          "description": "Optional. Timestamp in UTC when the Secret is scheduled to expire. This is always provided on output, regardless of what was sent on input.",
          "type": "string",
          "format": "google-datetime"
        },
        "etag": {
          "description": "Optional. Etag of the currently stored Secret.",
          "type": "string"
        },
        "annotations": {
          "description": "Optional. Custom metadata about the secret. Annotations are distinct from various forms of labels. Annotations exist to allow client tools to store their own state information without requiring a database. Annotation keys must be between 1 and 63 characters long, have a UTF-8 encoding of maximum 128 bytes, begin and end with an alphanumeric character ([a-z0-9A-Z]), and may have dashes (-), underscores (_), dots (.), and alphanumerics in between these symbols. The total size of annotation keys and values must be less than 16KiB.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "ttl": {
          "description": "Input only. The TTL for the Secret.",
          "type": "string",
          "format": "google-duration"
        },
        "replication": {
          "description": "Optional. Immutable. The replication policy of the secret data attached to the Secret. The replication policy cannot be changed after the Secret has been created.",
          "$ref": "Replication"
        },
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The resource name of the Secret in the format `projects/*/secrets/*`."
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "The labels assigned to this Secret. Label keys must be between 1 and 63 characters long, have a UTF-8 encoding of maximum 128 bytes, and must conform to the following PCRE regular expression: `\\p{Ll}\\p{Lo}{0,62}` Label values must be between 0 and 63 characters long, have a UTF-8 encoding of maximum 128 bytes, and must conform to the following PCRE regular expression: `[\\p{Ll}\\p{Lo}\\p{N}_-]{0,63}` No more than 64 labels can be assigned to a given resource.",
          "type": "object"
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The time at which the Secret was created.",
          "readOnly": true
        },
        "policyMember": {
          "description": "Output only. Defines the policy member for the secret. This will be used to check if the caller has the permission to perform certain operations on the typed secret.",
          "$ref": "ResourcePolicyMember",
          "readOnly": true
        },
        "secretType": {
          "enumDescriptions": [
            "Applicable to all secrets which do not have any restriction on the SecretVersions.",
            "Applicable to secrets which are used for the managed rotation feature for Cloud SQL Single User.",
            "Applicable to secrets where the payload contains an access key.",
            "Applicable to secrets where the payload contains a certificate.",
            "Applicable to secrets where the payload contains database credentials.",
            "Applicable to secrets whose type doesn't belong to any of the above defined types."
          ],
          "type": "string",
          "enum": [
            "SECRET_TYPE_UNSPECIFIED",
            "CLOUD_SQL_DB_CREDENTIALS",
            "ACCESS_KEY",
            "CERTIFICATE",
            "OTHER_DB_CREDENTIALS",
            "OTHER"
          ],
          "description": "Optional. Immutable. This defines the type of the secret. Enforces certain structural requirements on the SecretVersions. For secret of type UNSPECIFIED, the SecretVersions can be of any type."
        },
        "topics": {
          "type": "array",
          "items": {
            "$ref": "Topic"
          },
          "description": "Optional. A list of up to 10 Pub/Sub topics to which messages are published when control plane operations are called on the secret or its versions."
        },
        "versionAliases": {
          "type": "object",
          "additionalProperties": {
            "format": "int64",
            "type": "string"
          },
          "description": "Optional. Mapping from version alias to version name. A version alias is a string with a maximum length of 63 characters and can contain uppercase and lowercase letters, numerals, and the hyphen (`-`) and underscore ('_') characters. An alias string must start with a letter and cannot be the string 'latest' or 'NEW'. No more than 50 aliases can be assigned to a given secret. Version-Alias pairs will be viewable via GetSecret and modifiable via UpdateSecret. Access by alias is only be supported on GetSecretVersion and AccessSecretVersion."
        },
        "rotation": {
          "description": "Optional. Rotation policy attached to the Secret. May be excluded if there is no rotation policy.",
          "$ref": "Rotation"
        },
        "tags": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. Input only. Immutable. Mapping of Tag keys/values directly bound to this resource. For example: \"123/environment\": \"production\", \"123/costCenter\": \"marketing\" Tags are used to organize and group resources. Tags can be used to control policy evaluation for the resource."
        },
        "versionDestroyTtl": {
          "format": "google-duration",
          "type": "string",
          "description": "Optional. Secret Version TTL after destruction request This is a part of the Delayed secret version destroy feature. For secret with TTL>0, version destruction doesn't happen immediately on calling destroy instead the version goes to a disabled state and destruction happens after the TTL expires."
        },
        "customerManagedEncryption": {
          "description": "Optional. The customer-managed encryption configuration of the regionalized secrets. If no configuration is provided, Google-managed default encryption is used. Updates to the Secret encryption configuration only apply to SecretVersions added afterwards. They do not apply retroactively to existing SecretVersions.",
          "$ref": "CustomerManagedEncryption"
        }
      }
    },
    "ListSecretVersionsResponse": {
      "type": "object",
      "id": "ListSecretVersionsResponse",
      "description": "Response message for SecretManagerService.ListSecretVersions.",
      "properties": {
        "versions": {
          "description": "The list of SecretVersions sorted in reverse by create_time (newest first).",
          "type": "array",
          "items": {
            "$ref": "SecretVersion"
          }
        },
        "nextPageToken": {
          "description": "A token to retrieve the next page of results. Pass this value in ListSecretVersionsRequest.page_token to retrieve the next page.",
          "type": "string"
        },
        "totalSize": {
          "description": "The total number of SecretVersions but 0 when the ListSecretsRequest.filter field is set.",
          "format": "int32",
          "type": "integer"
        }
      }
    },
    "SecretVersion": {
      "id": "SecretVersion",
      "type": "object",
      "description": "A secret version resource in the Secret Manager API.",
      "properties": {
        "destroyTime": {
          "readOnly": true,
          "description": "Output only. The time this SecretVersion was destroyed. Only present if state is DESTROYED.",
          "format": "google-datetime",
          "type": "string"
        },
        "etag": {
          "readOnly": true,
          "description": "Output only. Etag of the currently stored SecretVersion.",
          "type": "string"
        },
        "clientSpecifiedPayloadChecksum": {
          "description": "Output only. True if payload checksum specified in SecretPayload object has been received by SecretManagerService on SecretManagerService.AddSecretVersion.",
          "readOnly": true,
          "type": "boolean"
        },
        "scheduledDestroyTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Optional. Output only. Scheduled destroy time for secret version. This is a part of the Delayed secret version destroy feature. For a Secret with a valid version destroy TTL, when a secert version is destroyed, version is moved to disabled state and it is scheduled for destruction Version is destroyed only after the scheduled_destroy_time.",
          "readOnly": true
        },
        "state": {
          "description": "Output only. The current state of the SecretVersion.",
          "type": "string",
          "readOnly": true,
          "enumDescriptions": [
            "Not specified. This value is unused and invalid.",
            "The SecretVersion may be accessed.",
            "The SecretVersion may not be accessed, but the secret data is still available and can be placed back into the ENABLED state.",
            "The SecretVersion is destroyed and the secret data is no longer stored. A version may not leave this state once entered."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "ENABLED",
            "DISABLED",
            "DESTROYED"
          ]
        },
        "replicationStatus": {
          "description": "The replication status of the SecretVersion.",
          "$ref": "ReplicationStatus"
        },
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The resource name of the SecretVersion in the format `projects/*/secrets/*/versions/*`. SecretVersion IDs in a Secret start at 1 and are incremented for each subsequent version of the secret."
        },
        "customerManagedEncryption": {
          "description": "Output only. The customer-managed encryption status of the SecretVersion. Only populated if customer-managed encryption is used and Secret is a regionalized secret.",
          "$ref": "CustomerManagedEncryptionStatus",
          "readOnly": true
        },
        "createTime": {
          "description": "Output only. The time at which the SecretVersion was created.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        }
      }
    },
    "ManagedRotationStatus": {
      "description": "Represents the status of a managed rotation. This is applicable only to Typed Secrets. It indicates whether the rotation is active and any errors that may have occurred during the asynchronous managed rotation.",
      "properties": {
        "state": {
          "type": "string",
          "description": "Output only. Indicates whether the Managed Rotation is active or not.",
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "INACTIVE"
          ],
          "enumDescriptions": [
            "Not specified. This value is unused and invalid.",
            "Indicates that the Managed rotation is ACTIVE.",
            "Indicates that the Managed rotation is INACTIVE."
          ],
          "readOnly": true
        },
        "error": {
          "description": "Output only. Displays customer-facing issues that occurred during an asynchronous managed rotation. For example, if there are some permission errors.",
          "$ref": "Status",
          "readOnly": true
        }
      },
      "id": "ManagedRotationStatus",
      "type": "object"
    },
    "ResourcePolicyMember": {
      "description": "Output-only policy member strings of a Google Cloud resource's built-in identity.",
      "properties": {
        "iamPolicyNamePrincipal": {
          "type": "string",
          "description": "Output only. IAM policy binding member referring to a Google Cloud resource by user-assigned name (https://google.aip.dev/122). If a resource is deleted and recreated with the same name, the binding will be applicable to the new resource. Example: `principal://parametermanager.googleapis.com/projects/12345/name/locations/us-central1-a/parameters/my-parameter`",
          "readOnly": true
        },
        "iamPolicyUidPrincipal": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. IAM policy binding member referring to a Google Cloud resource by system-assigned unique identifier (https://google.aip.dev/148#uid). If a resource is deleted and recreated with the same name, the binding will not be applicable to the new resource Example: `principal://parametermanager.googleapis.com/projects/12345/uid/locations/us-central1-a/parameters/a918fed5`"
        }
      },
      "type": "object",
      "id": "ResourcePolicyMember"
    },
    "AccessSecretVersionResponse": {
      "description": "Response message for SecretManagerService.AccessSecretVersion.",
      "properties": {
        "name": {
[...]
