{
  "discoveryVersion": "v1",
  "ownerDomain": "google.com",
  "version_module": true,
  "mtlsRootUrl": "https://securesourcemanager.mtls.googleapis.com/",
  "rootUrl": "https://securesourcemanager.googleapis.com/",
  "protocol": "rest",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "description": "Regionally deployed, single-tenant managed source code repository hosted on Google Cloud.",
  "servicePath": "",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        },
        "https://www.googleapis.com/auth/securesourcemanager.read-write": {
          "description": "See, edit, configure, and delete your Google Cloud Secure Source Manager data and see the email address for your Google Account"
        }
      }
    }
  },
  "kind": "discovery#restDescription",
  "endpoints": [
    {
      "location": "asia-east1",
      "description": "Regional Endpoint",
      "endpointUrl": "https://securesourcemanager.asia-east1.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "location": "asia-northeast1",
      "endpointUrl": "https://securesourcemanager.asia-northeast1.rep.googleapis.com/"
    },
    {
      "location": "asia-northeast3",
      "endpointUrl": "https://securesourcemanager.asia-northeast3.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "australia-southeast1",
      "endpointUrl": "https://securesourcemanager.australia-southeast1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "europe-west2",
      "description": "Regional Endpoint",
      "endpointUrl": "https://securesourcemanager.europe-west2.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://securesourcemanager.europe-west4.rep.googleapis.com/",
      "location": "europe-west4"
    },
    {
      "location": "me-central2",
      "description": "Regional Endpoint",
      "endpointUrl": "https://securesourcemanager.me-central2.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "location": "me-west1",
      "endpointUrl": "https://securesourcemanager.me-west1.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://securesourcemanager.northamerica-northeast1.rep.googleapis.com/",
      "location": "northamerica-northeast1",
      "description": "Regional Endpoint"
    },
    {
      "location": "us-central1",
      "endpointUrl": "https://securesourcemanager.us-central1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "us-east1",
      "description": "Regional Endpoint",
      "endpointUrl": "https://securesourcemanager.us-east1.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://securesourcemanager.us-east4.rep.googleapis.com/",
      "location": "us-east4"
    },
    {
      "endpointUrl": "https://securesourcemanager.us-east7.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "us-east7"
    },
    {
      "endpointUrl": "https://securesourcemanager.us-west2.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "us-west2"
    }
  ],
  "documentationLink": "https://cloud.google.com/secure-source-manager",
  "name": "securesourcemanager",
  "title": "Secure Source Manager API",
  "version": "v1",
  "revision": "0",
  "baseUrl": "https://securesourcemanager.googleapis.com/",
  "fullyEncodeReservedExpansion": true,
  "batchPath": "batch",
  "schemas": {
    "OpenIssueRequest": {
      "description": "The request to open an issue.",
      "type": "object",
      "properties": {
        "etag": {
          "type": "string",
          "description": "Optional. The current etag of the issue. If the etag is provided and does not match the current etag of the issue, opening will be blocked and an ABORTED error will be returned."
        }
      },
      "id": "OpenIssueRequest"
    },
    "Comment": {
      "id": "Comment",
      "properties": {
        "body": {
          "type": "string",
          "description": "Required. The comment body."
        }
      },
      "description": "The general pull request comment.",
      "type": "object"
    },
    "CloseIssueRequest": {
      "id": "CloseIssueRequest",
      "description": "The request to close an issue.",
      "type": "object",
      "properties": {
        "etag": {
          "type": "string",
          "description": "Optional. The current etag of the issue. If the etag is provided and does not match the current etag of the issue, closing will be blocked and an ABORTED error will be returned."
        }
      }
    },
    "CancelOperationRequest": {
      "id": "CancelOperationRequest",
      "description": "The request message for Operations.CancelOperation.",
      "type": "object",
      "properties": {}
    },
    "PushOption": {
      "type": "object",
      "properties": {
        "branchFilter": {
          "description": "Optional. Trigger hook for matching branches only. Specified as glob pattern. If empty or *, events for all branches are reported. Examples: main, {main,release*}. See https://pkg.go.dev/github.com/gobwas/glob documentation.",
          "type": "string"
        }
      },
      "id": "PushOption"
    },
    "Repository": {
      "properties": {
        "etag": {
          "description": "Optional. This checksum is computed by the server based on the value of other fields, and may be sent on update and delete requests to ensure the client has an up-to-date value before proceeding.",
          "type": "string"
        },
        "instance": {
          "type": "string",
          "description": "Optional. The name of the instance in which the repository is hosted, formatted as `projects/{project_number}/locations/{location_id}/instances/{instance_id}` When creating repository via securesourcemanager.googleapis.com, this field is used as input. When creating repository via *.sourcemanager.dev, this field is output only."
        },
        "initialConfig": {
          "$ref": "InitialConfig",
          "description": "Input only. Initial configurations for the repository."
        },
        "serviceAccount": {
          "description": "Optional. Repository level service account (BYOSA).",
          "type": "string"
        },
        "createTime": {
          "description": "Output only. Create timestamp.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "uris": {
          "readOnly": true,
          "description": "Output only. URIs for the repository.",
          "$ref": "URIs"
        },
        "uid": {
          "description": "Output only. Unique identifier of the repository.",
          "type": "string",
          "readOnly": true
        },
        "updateTime": {
          "description": "Output only. Update timestamp.",
          "format": "google-datetime",
          "type": "string",
          "readOnly": true
        },
        "scanConfig": {
          "$ref": "ScanConfig",
          "description": "Optional. Provides configuration for scanning."
        },
        "description": {
          "description": "Optional. Description of the repository, which cannot exceed 500 characters.",
          "type": "string"
        },
        "name": {
          "description": "Identifier. A unique identifier for a repository. The name should be of the format: `projects/{project}/locations/{location_id}/repositories/{repository_id}`",
          "type": "string"
        }
      },
      "id": "Repository",
      "type": "object",
      "description": "Metadata of a Secure Source Manager repository."
    },
    "TestIamPermissionsRequest": {
      "description": "Request message for `TestIamPermissions` method.",
      "type": "object",
      "properties": {
        "permissions": {
          "type": "array",
          "description": "The set of permissions to check for the `resource`. Permissions with wildcards (such as `*` or `storage.*`) are not allowed. For more information see [IAM Overview](https://cloud.google.com/iam/docs/overview#permissions).",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "TestIamPermissionsRequest"
    },
    "AuditConfig": {
      "type": "object",
      "id": "AuditConfig",
      "properties": {
        "auditLogConfigs": {
          "type": "array",
          "items": {
            "$ref": "AuditLogConfig"
          },
          "description": "The configuration for logging of each type of permission."
        },
        "service": {
          "description": "Specifies a service that will be enabled for audit logging. For example, `storage.googleapis.com`, `cloudsql.googleapis.com`. `allServices` is a special value that covers all services.",
          "type": "string"
        }
      },
      "description": "Specifies the audit configuration for a service. The configuration determines which permission types are logged, and what identities, if any, are exempted from logging. An AuditConfig must have one or more AuditLogConfigs. If there are AuditConfigs for both `allServices` and a specific service, the union of the two AuditConfigs is used for that service: the log_types specified in each AuditConfig are enabled, and the exempted_members in each AuditLogConfig are exempted. Example Policy with multiple AuditConfigs: { \"audit_configs\": [ { \"service\": \"allServices\", \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\", \"exempted_members\": [ \"user:jose@example.com\" ] }, { \"log_type\": \"DATA_WRITE\" }, { \"log_type\": \"ADMIN_READ\" } ] }, { \"service\": \"sampleservice.googleapis.com\", \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\" }, { \"log_type\": \"DATA_WRITE\", \"exempted_members\": [ \"user:aliya@example.com\" ] } ] } ] } For sampleservice, this policy enables DATA_READ, DATA_WRITE and ADMIN_READ logging. It also exempts `jose@example.com` from DATA_READ logging, and `aliya@example.com` from DATA_WRITE logging."
    },
    "BatchCreatePullRequestCommentsRequest": {
      "id": "BatchCreatePullRequestCommentsRequest",
      "type": "object",
      "properties": {
        "requests": {
          "description": "Required. The request message specifying the resources to create. There should be exactly one CreatePullRequestCommentRequest with CommentDetail being REVIEW in the list, and no more than 100 CreatePullRequestCommentRequests with CommentDetail being CODE in the list",
          "items": {
            "$ref": "CreatePullRequestCommentRequest"
          },
          "type": "array"
        }
      },
      "description": "The request to batch create pull request comments."
    },
    "CreatePullRequestCommentRequest": {
      "description": "The request to create a pull request comment.",
      "id": "CreatePullRequestCommentRequest",
      "type": "object",
      "properties": {
        "pullRequestComment": {
          "$ref": "PullRequestComment",
          "description": "Required. The pull request comment to create."
        },
        "parent": {
          "description": "Required. The pull request in which to create the pull request comment. Format: `projects/{project_number}/locations/{location_id}/repositories/{repository_id}/pullRequests/{pull_request_id}`",
          "type": "string"
        }
      }
    },
    "Status": {
      "type": "object",
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "id": "Status",
      "properties": {
        "message": {
          "type": "string",
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client."
        },
        "details": {
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "type": "array",
          "items": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            }
          }
        },
        "code": {
          "format": "int32",
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "type": "integer"
        }
      }
    },
    "OperationMetadata": {
      "properties": {
        "target": {
          "description": "Output only. Server-defined resource path for the target of the operation.",
          "readOnly": true,
          "type": "string"
        },
        "requestedCancellation": {
          "readOnly": true,
          "description": "Output only. Identifies whether the user has requested cancellation of the operation. Operations that have successfully been cancelled have Operation.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`.",
          "type": "boolean"
        },
        "statusMessage": {
          "description": "Output only. Human-readable status of the operation, if any.",
          "type": "string",
          "readOnly": true
        },
        "verb": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Name of the verb executed by the operation."
        },
        "endTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The time the operation finished running.",
          "readOnly": true
        },
        "createTime": {
          "type": "string",
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. The time the operation was created."
        },
        "apiVersion": {
          "readOnly": true,
          "description": "Output only. API version used to start the operation.",
          "type": "string"
        }
      },
      "id": "OperationMetadata",
      "type": "object",
      "description": "Represents the metadata of the long-running operation."
    },
    "Ref": {
      "id": "Ref",
      "properties": {
        "type": {
          "readOnly": true,
          "description": "Output only. The type of the reference.",
          "enumDescriptions": [
            "Unspecified ref type.",
            "Represents a branch.",
            "Represents a tag."
          ],
          "enum": [
            "REF_TYPE_UNSPECIFIED",
            "REF_TYPE_BRANCH",
            "REF_TYPE_TAG"
          ],
          "type": "string"
        },
        "target": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The target of the reference, which is a commit SHA."
        },
        "name": {
          "type": "string",
          "description": "Identifier. Name of the git reference (e.g., 'refs/heads/foo' or 'refs/tags/v1.0')."
        }
      },
      "type": "object",
      "description": "Ref represents a git reference within a repository."
    },
    "OpenPullRequestRequest": {
      "id": "OpenPullRequestRequest",
      "properties": {},
      "type": "object",
      "description": "OpenPullRequestRequest is the request to open a pull request."
    },
    "Review": {
      "type": "object",
      "id": "Review",
      "properties": {
        "body": {
          "description": "Optional. The comment body.",
          "type": "string"
        },
        "effectiveCommitSha": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The effective commit sha this review is pointing to."
        },
        "actionType": {
          "description": "Required. The review action type.",
          "enum": [
            "ACTION_TYPE_UNSPECIFIED",
            "COMMENT",
            "CHANGE_REQUESTED",
            "APPROVED"
          ],
          "enumDescriptions": [
            "Unspecified.",
            "A general review comment.",
            "Change required from this review.",
            "Change approved from this review."
          ],
          "type": "string"
        }
      },
      "description": "The review summary comment."
    },
    "FetchRefsResponse": {
      "id": "FetchRefsResponse",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token identifying a page of results the server should return."
        },
        "refs": {
          "type": "array",
          "description": "The list of git references.",
          "items": {
            "$ref": "Ref"
          }
        }
      },
      "description": "Response message containing a list of git references."
    },
    "PullRequestComment": {
      "type": "object",
      "properties": {
        "review": {
          "$ref": "Review",
          "description": "Optional. The review summary comment."
        },
        "updateTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. Last updated timestamp.",
          "readOnly": true
        },
        "createTime": {
          "description": "Output only. Creation timestamp.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "code": {
          "description": "Optional. The comment on a code line.",
          "$ref": "Code"
        },
        "name": {
          "type": "string",
          "description": "Identifier. Unique identifier for the pull request comment. The comment id is generated by the server. Format: `projects/{project}/locations/{location}/repositories/{repository}/pullRequests/{pull_request}/pullRequestComments/{comment_id}`"
        },
        "comment": {
          "$ref": "Comment",
          "description": "Optional. The general pull request comment."
        }
      },
      "id": "PullRequestComment",
      "description": "PullRequestComment represents a comment on a pull request."
    },
    "FileDiff": {
      "type": "object",
      "description": "Metadata of a FileDiff. FileDiff represents a single file diff in a pull request.",
      "id": "FileDiff",
      "properties": {
        "sha": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The commit pointing to the file changes."
        },
        "action": {
          "description": "Output only. The action taken on the file (eg. added, modified, deleted).",
          "enumDescriptions": [
            "Unspecified.",
            "The file was added.",
            "The file was modified.",
            "The file was deleted."
          ],
          "type": "string",
          "readOnly": true,
          "enum": [
            "ACTION_UNSPECIFIED",
            "ADDED",
            "MODIFIED",
            "DELETED"
          ]
        },
        "patch": {
          "description": "Output only. The git patch containing the file changes.",
          "readOnly": true,
          "type": "string"
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The name of the file."
        }
      }
    },
    "URIs": {
      "id": "URIs",
      "description": "URIs for the repository.",
      "properties": {
        "api": {
          "type": "string",
          "description": "Output only. API is the URI for API access.",
          "readOnly": true
        },
        "gitHttps": {
          "type": "string",
          "description": "Output only. git_https is the git HTTPS URI for git operations.",
          "readOnly": true
        },
        "html": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. HTML is the URI for user to view the repository in a browser."
        }
      },
      "type": "object"
    },
    "SetIamPolicyRequest": {
      "properties": {
        "policy": {
          "$ref": "Policy",
          "description": "REQUIRED: The complete policy to be applied to the `resource`. The size of the policy is limited to a few 10s of KB. An empty policy is a valid policy but certain Google Cloud services (such as Projects) might reject them."
        },
        "updateMask": {
          "description": "OPTIONAL: A FieldMask specifying which fields of the policy to modify. Only the fields in the mask will be modified. If no mask is provided, the following default mask is used: `paths: \"bindings, etag\"`",
          "type": "string",
          "format": "google-fieldmask"
        }
      },
      "id": "SetIamPolicyRequest",
      "type": "object",
      "description": "Request message for `SetIamPolicy` method."
    },
    "Policy": {
      "type": "object",
      "description": "An Identity and Access Management (IAM) policy, which specifies access controls for Google Cloud resources. A `Policy` is a collection of `bindings`. A `binding` binds one or more `members`, or principals, to a single `role`. Principals can be user accounts, service accounts, Google groups, and domains (such as G Suite). A `role` is a named list of permissions; each `role` can be an IAM predefined role or a user-created custom role. For some types of Google Cloud resources, a `binding` can also specify a `condition`, which is a logical expression that allows access to a resource only if the expression evaluates to `true`. A condition can add constraints based on attributes of the request, the resource, or both. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies). **JSON example:** ``` { \"bindings\": [ { \"role\": \"roles/resourcemanager.organizationAdmin\", \"members\": [ \"user:mike@example.com\", \"group:admins@example.com\", \"domain:google.com\", \"serviceAccount:my-project-id@appspot.gserviceaccount.com\" ] }, { \"role\": \"roles/resourcemanager.organizationViewer\", \"members\": [ \"user:eve@example.com\" ], \"condition\": { \"title\": \"expirable access\", \"description\": \"Does not grant access after Sep 2020\", \"expression\": \"request.time < timestamp('2020-10-01T00:00:00.000Z')\", } } ], \"etag\": \"BwWWja0YfJA=\", \"version\": 3 } ``` **YAML example:** ``` bindings: - members: - user:mike@example.com - group:admins@example.com - domain:google.com - serviceAccount:my-project-id@appspot.gserviceaccount.com role: roles/resourcemanager.organizationAdmin - members: - user:eve@example.com role: roles/resourcemanager.organizationViewer condition: title: expirable access description: Does not grant access after Sep 2020 expression: request.time < timestamp('2020-10-01T00:00:00.000Z') etag: BwWWja0YfJA= version: 3 ``` For a description of IAM and its features, see the [IAM documentation](https://cloud.google.com/iam/docs/).",
      "id": "Policy",
      "properties": {
        "version": {
          "description": "Specifies the format of the policy. Valid values are `0`, `1`, and `3`. Requests that specify an invalid value are rejected. Any operation that affects conditional role bindings must specify version `3`. This requirement applies to the following operations: * Getting a policy that includes a conditional role binding * Adding a conditional role binding to a policy * Changing a conditional role binding in a policy * Removing any role binding, with or without a condition, from a policy that includes conditions **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost. If a policy does not include any conditions, operations on that policy may specify any valid version or leave the field unset. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies).",
          "format": "int32",
          "type": "integer"
        },
        "auditConfigs": {
          "type": "array",
          "items": {
            "$ref": "AuditConfig"
          },
          "description": "Specifies cloud audit logging configuration for this policy."
        },
        "etag": {
          "type": "string",
          "format": "byte",
          "description": "`etag` is used for optimistic concurrency control as a way to help prevent simultaneous updates of a policy from overwriting each other. It is strongly suggested that systems make use of the `etag` in the read-modify-write cycle to perform policy updates in order to avoid race conditions: An `etag` is returned in the response to `getIamPolicy`, and systems are expected to put that etag in the request to `setIamPolicy` to ensure that their change will be applied to the same version of the policy. **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost."
        },
        "bindings": {
          "description": "Associates a list of `members`, or principals, with a `role`. Optionally, may specify a `condition` that determines how and when the `bindings` are applied. Each of the `bindings` must contain at least one principal. The `bindings` in a `Policy` can refer to up to 1,500 principals; up to 250 of these principals can be Google groups. Each occurrence of a principal counts towards these limits. For example, if the `bindings` grant 50 different roles to `user:alice@example.com`, and not to any other principal, then you can add another 1,450 principals to the `bindings` in the `Policy`.",
          "items": {
            "$ref": "Binding"
          },
          "type": "array"
        }
      }
    },
    "MergePullRequestRequest": {
      "properties": {},
      "description": "MergePullRequestRequest is the request to merge a pull request.",
      "id": "MergePullRequestRequest",
      "type": "object"
    },
    "PrivateConfig": {
      "id": "PrivateConfig",
      "description": "PrivateConfig includes settings for private instance.",
      "type": "object",
      "properties": {
        "isPrivate": {
          "description": "Required. Immutable. Indicate if it's private instance.",
          "type": "boolean"
        },
        "customHostConfig": {
          "description": "Optional. Custom host config for the instance.",
          "$ref": "CustomHostConfig"
        },
        "httpServiceAttachment": {
          "description": "Output only. Service Attachment for HTTP, resource is in the format of `projects/{project}/regions/{region}/serviceAttachments/{service_attachment}`.",
          "type": "string",
          "readOnly": true
        },
        "sshServiceAttachment": {
          "description": "Output only. Service Attachment for SSH, resource is in the format of `projects/{project}/regions/{region}/serviceAttachments/{service_attachment}`.",
          "type": "string",
          "readOnly": true
        },
        "caPool": {
          "description": "Optional. Immutable. CA pool resource, resource must in the format of `projects/{project}/locations/{location}/caPools/{ca_pool}`.",
          "type": "string"
        },
        "pscAllowedProjects": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. Additional allowed projects for setting up PSC connections. Instance host project is automatically allowed and does not need to be included in this list."
        }
      }
    },
    "ResolvePullRequestCommentsRequest": {
      "id": "ResolvePullRequestCommentsRequest",
      "description": "The request to resolve multiple pull request comments.",
      "properties": {
        "names": {
          "description": "Required. The names of the pull request comments to resolve. Format: `projects/{project_number}/locations/{location_id}/repositories/{repository_id}/pullRequests/{pull_request_id}/pullRequestComments/{comment_id}` Only comments from the same threads are allowed in the same request.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "autoFill": {
          "type": "boolean",
          "description": "Optional. If set, at least one comment in a thread is required, rest of the comments in the same thread will be automatically updated to resolved. If unset, all comments in the same thread need be present."
        }
      },
      "type": "object"
    },
    "BatchCreatePullRequestCommentsResponse": {
      "type": "object",
      "description": "The response to batch create pull request comments.",
      "properties": {
        "pullRequestComments": {
          "items": {
            "$ref": "PullRequestComment"
          },
          "type": "array",
          "description": "The list of pull request comments created."
        }
      },
      "id": "BatchCreatePullRequestCommentsResponse"
    },
    "Expr": {
      "type": "object",
      "description": "Represents a textual expression in the Common Expression Language (CEL) syntax. CEL is a C-like expression language. The syntax and semantics of CEL are documented at https://github.com/google/cel-spec. Example (Comparison): title: \"Summary size limit\" description: \"Determines if a summary is less than 100 chars\" expression: \"document.summary.size() < 100\" Example (Equality): title: \"Requestor is owner\" description: \"Determines if requestor is the document owner\" expression: \"document.owner == request.auth.claims.email\" Example (Logic): title: \"Public documents\" description: \"Determine whether the document should be publicly visible\" expression: \"document.type != 'private' && document.type != 'internal'\" Example (Data Manipulation): title: \"Notification string\" description: \"Create a notification string with a timestamp.\" expression: \"'New message received at ' + string(document.create_time)\" The exact variables and functions that may be referenced within an expression are determined by the service that evaluates it. See the service documentation for additional information.",
      "id": "Expr",
      "properties": {
        "expression": {
          "type": "string",
          "description": "Textual representation of an expression in Common Expression Language syntax."
        },
        "description": {
          "description": "Optional. Description of the expression. This is a longer text which describes the expression, e.g. when hovered over it in a UI.",
          "type": "string"
        },
        "title": {
          "description": "Optional. Title for the expression, i.e. a short string describing its purpose. This can be used e.g. in UIs which allow to enter the expression.",
          "type": "string"
        },
        "location": {
          "description": "Optional. String indicating the location of the expression for error reporting, e.g. a file name and a position in the file.",
          "type": "string"
        }
      }
    },
    "Hook": {
      "properties": {
        "targetUri": {
          "type": "string",
          "description": "Required. The target URI to which the payloads will be delivered."
        },
        "uid": {
          "readOnly": true,
          "description": "Output only. Unique identifier of the hook.",
          "type": "string"
        },
        "createTime": {
          "description": "Output only. Create timestamp.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "sensitiveQueryString": {
          "description": "Optional. The sensitive query string to be appended to the target URI.",
          "type": "string"
        },
        "updateTime": {
          "format": "google-datetime",
          "type": "string",
          "readOnly": true,
          "description": "Output only. Update timestamp."
        },
        "disabled": {
          "type": "boolean",
          "description": "Optional. Determines if the hook disabled or not. Set to true to stop sending traffic."
        },
        "pushOption": {
          "description": "Optional. The trigger option for push events.",
          "$ref": "PushOption"
        },
        "events": {
          "type": "array",
          "items": {
            "enumDescriptions": [
              "Unspecified.",
              "Push events are triggered when pushing to the repository.",
              "Pull request events are triggered when a pull request is opened, closed, reopened, or edited.",
              "Triggers when a general comment is added, edited, or deleted on a pull request."
            ],
            "type": "string",
            "enum": [
              "UNSPECIFIED",
              "PUSH",
              "PULL_REQUEST",
              "PULL_REQUEST_COMMENT"
            ]
          },
          "description": "Optional. The events that trigger hook on."
        },
        "name": {
          "description": "Identifier. A unique identifier for a Hook. The name should be of the format: `projects/{project}/locations/{location_id}/repositories/{repository_id}/hooks/{hook_id}`",
          "type": "string"
        }
      },
      "description": "Metadata of a Secure Source Manager Hook.",
      "id": "Hook",
      "type": "object"
    },
    "FetchTreeResponse": {
      "type": "object",
      "description": "Response message containing a list of TreeEntry objects.",
      "id": "FetchTreeResponse",
      "properties": {
        "treeEntries": {
          "type": "array",
          "description": "The list of TreeEntry objects.",
          "items": {
            "$ref": "TreeEntry"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token identifying a page of results the server should return."
        }
      }
    },
    "Check": {
      "properties": {
        "context": {
          "description": "Required. The context of the check.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Check is a type for status check.",
      "id": "Check"
    },
    "HostConfig": {
      "properties": {
        "gitHttp": {
          "readOnly": true,
          "description": "Output only. Git HTTP hostname.",
          "type": "string"
        },
        "html": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. HTML hostname."
        },
        "gitSsh": {
          "description": "Output only. Git SSH hostname.",
          "type": "string",
          "readOnly": true
        },
        "api": {
          "readOnly": true,
          "description": "Output only. API hostname.",
          "type": "string"
        }
      },
      "id": "HostConfig",
      "type": "object",
      "description": "HostConfig has different instance endpoints."
    },
    "FetchBlobResponse": {
      "type": "object",
      "description": "Response message containing the content of a blob.",
      "properties": {
        "content": {
          "description": "The content of the blob, encoded as base64.",
          "type": "string"
        },
        "sha": {
          "description": "The SHA-1 hash of the blob.",
          "type": "string"
        }
      },
      "id": "FetchBlobResponse"
    },
    "CustomHostConfig": {
      "description": "Custom host config for the instance.",
      "type": "object",
      "properties": {
        "gitSsh": {
          "description": "Required. The custom git ssh hostname for the instance, e.g., \"ssh.source.internal.mycompany.com\"",
          "type": "string"
        },
        "gitHttp": {
          "description": "Required. The custom git http hostname for the instance, e.g., \"git.source.internal.mycompany.com\"",
          "type": "string"
        },
        "api": {
          "type": "string",
          "description": "Required. The custom API hostname for the instance, e.g., \"api.source.internal.mycompany.com\""
        },
        "html": {
          "type": "string",
          "description": "Required. The custom UI hostname for the instance, e.g., \"git.source.internal.mycompany.com\""
        }
      },
      "id": "CustomHostConfig"
    },
    "WorkforceIdentityFederationConfig": {
      "description": "WorkforceIdentityFederationConfig allows this instance to support users from external identity providers.",
      "id": "WorkforceIdentityFederationConfig",
      "type": "object",
      "properties": {
        "enabled": {
          "description": "Optional. Immutable. Whether Workforce Identity Federation is enabled.",
          "type": "boolean"
        }
      }
    },
    "TestIamPermissionsResponse": {
      "properties": {
        "permissions": {
          "items": {
            "type": "string"
          },
          "description": "A subset of `TestPermissionsRequest.permissions` that the caller is allowed.",
          "type": "array"
        }
      },
      "id": "TestIamPermissionsResponse",
      "description": "Response message for `TestIamPermissions` method.",
      "type": "object"
    },
    "ClosePullRequestRequest": {
      "properties": {},
      "id": "ClosePullRequestRequest",
      "type": "object",
      "description": "ClosePullRequestRequest is the request to close a pull request."
    },
    "PullRequest": {
      "description": "Metadata of a PullRequest. PullRequest is the request from a user to merge a branch (head) into another branch (base).",
      "type": "object",
      "properties": {
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "OPEN",
            "CLOSED",
            "MERGED"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unspecified.",
            "An open pull request.",
            "A closed pull request.",
            "A merged pull request."
          ],
          "description": "Output only. State of the pull request (open, closed or merged).",
          "readOnly": true
        },
        "closeTime": {
          "type": "string",
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. Close timestamp (if closed or merged). Cleared when pull request is re-opened."
        },
        "base": {
          "$ref": "Branch",
          "description": "Required. The branch to merge changes in."
        },
        "body": {
          "description": "Optional. The pull request body. Provides a detailed description of the changes.",
          "type": "string"
        },
        "head": {
          "description": "Immutable. The branch containing the changes to be merged.",
          "$ref": "Branch"
        },
        "name": {
          "description": "Output only. Identifier. A unique identifier for a PullRequest. The number appended at the end is generated by the server. Format: `projects/{project}/locations/{location}/repositories/{repository}/pullRequests/{pull_request_id}`",
          "readOnly": true,
          "type": "string"
        },
        "updateTime": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Last updated timestamp.",
          "format": "google-datetime"
        },
        "title": {
          "type": "string",
          "description": "Required. The pull request title."
        },
        "createTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. Creation timestamp."
        }
      },
      "id": "PullRequest"
    },
    "Position": {
      "description": "The position of the code comment.",
      "id": "Position",
      "properties": {
        "path": {
          "description": "Required. The path of the file.",
          "type": "string"
        },
        "line": {
          "format": "int64",
          "description": "Required. The line number of the comment. Positive value means it's on the new side of the diff, negative value means it's on the old side.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "ScanConfig": {
      "id": "ScanConfig",
      "description": "Configuration for scanning.",
      "properties": {
        "secretScanConfig": {
          "$ref": "SecretScanConfig",
          "description": "Optional. Configuration for secret scanning."
        }
      },
      "type": "object"
    },
    "ListPullRequestCommentsResponse": {
      "id": "ListPullRequestCommentsResponse",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token to set as page_token to retrieve the next page. If this field is omitted, there are no subsequent pages."
        },
        "pullRequestComments": {
          "description": "The list of pull request comments.",
          "items": {
            "$ref": "PullRequestComment"
          },
          "type": "array"
        }
      },
      "type": "object",
      "description": "The response to list pull request comments."
    },
    "Empty": {
      "id": "Empty",
      "properties": {},
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "type": "object"
    },
    "ListIssueCommentsResponse": {
      "type": "object",
      "description": "The response to list issue comments.",
      "id": "ListIssueCommentsResponse",
      "properties": {
        "issueComments": {
          "items": {
            "$ref": "IssueComment"
          },
          "type": "array",
          "description": "The list of issue comments."
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token identifying a page of results the server should return."
        }
      }
    },
    "InitialConfig": {
      "type": "object",
      "id": "InitialConfig",
      "description": "Repository initialization configuration.",
      "properties": {
        "license": {
          "type": "string",
          "description": "License template name user can choose from. Valid values: license-0bsd, license-389-exception, aal, abstyles, adobe-2006, adobe-glyph, adsl, afl-1-1, afl-1-2, afl-2-0, afl-2-1, afl-3-0, afmparse, agpl-1-0, agpl-1-0-only, agpl-1-0-or-later, agpl-3-0-only, agpl-3-0-or-later, aladdin, amdplpa, aml, ampas, antlr-pd, antlr-pd-fallback, apache-1-0, apache-1-1, apache-2-0, apafml, apl-1-0, apsl-1-0, apsl-1-1, apsl-1-2, apsl-2-0, artistic-1-0, artistic-1-0-cl8, artistic-1-0-perl, artistic-2-0, autoconf-exception-2-0, autoconf-exception-3-0, bahyph, barr, beerware, bison-exception-2-2, bittorrent-1-0, bittorrent-1-1, blessing, blueoak-1-0-0, bootloader-exception, borceux, bsd-1-clause, bsd-2-clause, bsd-2-clause-freebsd, bsd-2-clause-netbsd, bsd-2-clause-patent, bsd-2-clause-views, bsd-3-clause, bsd-3-clause-attribution, bsd-3-clause-clear, bsd-3-clause-lbnl, bsd-3-clause-modification, bsd-3-clause-no-nuclear-license, bsd-3-clause-no-nuclear-license-2014, bsd-3-clause-no-nuclear-warranty, bsd-3-clause-open-mpi, bsd-4-clause, bsd-4-clause-shortened, bsd-4-clause-uc, bsd-protection, bsd-source-code, bsl-1-0, busl-1-1, cal-1-0, cal-1-0-combined-work-exception, caldera, catosl-1-1, cc0-1-0, cc-by-1-0, cc-by-2-0, cc-by-3-0, cc-by-3-0-at, cc-by-3-0-us, cc-by-4-0, cc-by-nc-1-0, cc-by-nc-2-0, cc-by-nc-3-0, cc-by-nc-4-0, cc-by-nc-nd-1-0, cc-by-nc-nd-2-0, cc-by-nc-nd-3-0, cc-by-nc-nd-3-0-igo, cc-by-nc-nd-4-0, cc-by-nc-sa-1-0, cc-by-nc-sa-2-0, cc-by-nc-sa-3-0, cc-by-nc-sa-4-0, cc-by-nd-1-0, cc-by-nd-2-0, cc-by-nd-3-0, cc-by-nd-4-0, cc-by-sa-1-0, cc-by-sa-2-0, cc-by-sa-2-0-uk, cc-by-sa-2-1-jp, cc-by-sa-3-0, cc-by-sa-3-0-at, cc-by-sa-4-0, cc-pddc, cddl-1-0, cddl-1-1, cdla-permissive-1-0, cdla-sharing-1-0, cecill-1-0, cecill-1-1, cecill-2-0, cecill-2-1, cecill-b, cecill-c, cern-ohl-1-1, cern-ohl-1-2, cern-ohl-p-2-0, cern-ohl-s-2-0, cern-ohl-w-2-0, clartistic, classpath-exception-2-0, clisp-exception-2-0, cnri-jython, cnri-python, cnri-python-gpl-compatible, condor-1-1, copyleft-next-0-3-0, copyleft-next-0-3-1, cpal-1-0, cpl-1-0, cpol-1-02, crossword, crystal-stacker, cua-opl-1-0, cube, c-uda-1-0, curl, d-fsl-1-0, diffmark, digirule-foss-exception, doc, dotseqn, drl-1-0, dsdp, dvipdfm, ecl-1-0, ecl-2-0, ecos-exception-2-0, efl-1-0, efl-2-0, egenix, entessa, epics, epl-1-0, epl-2-0, erlpl-1-1, etalab-2-0, eu-datagrid, eupl-1-0, eupl-1-1, eupl-1-2, eurosym, fair, fawkes-runtime-exception, fltk-exception, font-exception-2-0, frameworx-1-0, freebsd-doc, freeimage, freertos-exception-2-0, fsfap, fsful, fsfullr, ftl, gcc-exception-2-0, gcc-exception-3-1, gd, gfdl-1-1-invariants-only, gfdl-1-1-invariants-or-later, gfdl-1-1-no-invariants-only, gfdl-1-1-no-invariants-or-later, gfdl-1-1-only, gfdl-1-1-or-later, gfdl-1-2-invariants-only, gfdl-1-2-invariants-or-later, gfdl-1-2-no-invariants-only, gfdl-1-2-no-invariants-or-later, gfdl-1-2-only, gfdl-1-2-or-later, gfdl-1-3-invariants-only, gfdl-1-3-invariants-or-later, gfdl-1-3-no-invariants-only, gfdl-1-3-no-invariants-or-later, gfdl-1-3-only, gfdl-1-3-or-later, giftware, gl2ps, glide, glulxe, glwtpl, gnu-javamail-exception, gnuplot, gpl-1-0-only, gpl-1-0-or-later, gpl-2-0-only, gpl-2-0-or-later, gpl-3-0-linking-exception, gpl-3-0-linking-source-exception, gpl-3-0-only, gpl-3-0-or-later, gpl-cc-1-0, gsoap-1-3b, haskell-report, hippocratic-2-1, hpnd, hpnd-sell-variant, htmltidy, i2p-gpl-java-exception, ibm-pibs, icu, ijg, image-magick, imatix, imlib2, info-zip, intel, intel-acpi, interbase-1-0, ipa, ipl-1-0, isc, jasper-2-0, jpnic, json, lal-1-2, lal-1-3, latex2e, leptonica, lgpl-2-0-only, lgpl-2-0-or-later, lgpl-2-1-only, lgpl-2-1-or-later, lgpl-3-0-linking-exception, lgpl-3-0-only, lgpl-3-0-or-later, lgpllr, libpng, libpng-2-0, libselinux-1-0, libtiff, libtool-exception, liliq-p-1-1, liliq-r-1-1, liliq-rplus-1-1, linux-openib, linux-syscall-note, llvm-exception, lpl-1-0, lpl-1-02, lppl-1-0, lppl-1-1, lppl-1-2, lppl-1-3a, lppl-1-3c, lzma-exception, make-index, mif-exception, miros, mit, mit-0, mit-advertising, mit-cmu, mit-enna, mit-feh, mit-modern-variant, mitnfa, mit-open-group, motosoto, mpich2, mpl-1-0, mpl-1-1, mpl-2-0, mpl-2-0-no-copyleft-exception, ms-pl, ms-rl, mtll, mulanpsl-1-0, mulanpsl-2-0, multics, mup, naist-2003, nasa-1-3, naumen, nbpl-1-0, ncgl-uk-2-0, ncsa, netcdf, net-snmp, newsletr, ngpl, nist-pd, nist-pd-fallback, nlod-1-0, nlpl, nokia, nokia-qt-exception-1-1, nosl, noweb, npl-1-0, npl-1-1, nposl-3-0, nrl, ntp, ntp-0, ocaml-lgpl-linking-exception, occt-exception-1-0, occt-pl, oclc-2-0, odbl-1-0, odc-by-1-0, ofl-1-0, ofl-1-0-no-rfn, ofl-1-0-rfn, ofl-1-1, ofl-1-1-no-rfn, ofl-1-1-rfn, ogc-1-0, ogdl-taiwan-1-0, ogl-canada-2-0, ogl-uk-1-0, ogl-uk-2-0, ogl-uk-3-0, ogtsl, oldap-1-1, oldap-1-2, oldap-1-3, oldap-1-4, oldap-2-0, oldap-2-0-1, oldap-2-1, oldap-2-2, oldap-2-2-1, oldap-2-2-2, oldap-2-3, oldap-2-4, oldap-2-7, oml, openjdk-assembly-exception-1-0, openssl, openvpn-openssl-exception, opl-1-0, oset-pl-2-1, osl-1-0, osl-1-1, osl-2-0, osl-2-1, osl-3-0, o-uda-1-0, parity-6-0-0, parity-7-0-0, pddl-1-0, php-3-0, php-3-01, plexus, polyform-noncommercial-1-0-0, polyform-small-business-1-0-0, postgresql, psf-2-0, psfrag, ps-or-pdf-font-exception-20170817, psutils, python-2-0, qhull, qpl-1-0, qt-gpl-exception-1-0, qt-lgpl-exception-1-1, qwt-exception-1-0, rdisc, rhecos-1-1, rpl-1-1, rpsl-1-0, rsa-md, rscpl, ruby, saxpath, sax-pd, scea, sendmail, sendmail-8-23, sgi-b-1-0, sgi-b-1-1, sgi-b-2-0, shl-0-51, shl-2-0, shl-2-1, simpl-2-0, sissl, sissl-1-2, sleepycat, smlnj, smppl, snia, spencer-86, spencer-94, spencer-99, spl-1-0, ssh-openssh, ssh-short, sspl-1-0, sugarcrm-1-1-3, swift-exception, swl, tapr-ohl-1-0, tcl, tcp-wrappers, tmate, torque-1-1, tosl, tu-berlin-1-0, tu-berlin-2-0, u-boot-exception-2-0, ucl-1-0, unicode-dfs-2015, unicode-dfs-2016, unicode-tou, universal-foss-exception-1-0, unlicense, upl-1-0, vim, vostrom, vsl-1-0, w3c, w3c-19980720, w3c-20150513, watcom-1-0, wsuipa, wtfpl, wxwindows-exception-3-1, x11, xerox, xfree86-1-1, xinetd, xnet, xpp, xskat, ypl-1-0, ypl-1-1, zed, zend-2-0, zimbra-1-3, zimbra-1-4, zlib, zlib-acknowledgement, zpl-1-1, zpl-2-0, zpl-2-1."
        },
        "defaultBranch": {
          "description": "Default branch name of the repository.",
          "type": "string"
        },
        "readme": {
          "type": "string",
          "description": "README template name. Valid template name(s) are: default."
        },
        "gitignores": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "List of gitignore template names user can choose from. Valid values: actionscript, ada, agda, android, anjuta, ansible, appcelerator-titanium, app-engine, archives, arch-linux-packages, atmel-studio, autotools, backup, bazaar, bazel, bitrix, bricx-cc, c, cake-php, calabash, cf-wheels, chef-cookbook, clojure, cloud9, c-make, code-igniter, code-kit, code-sniffer, common-lisp, composer, concrete5, coq, cordova, cpp, craft-cms, cuda, cvs, d, dart, dart-editor, delphi, diff, dm, dreamweaver, dropbox, drupal, drupal-7, eagle, eclipse, eiffel-studio, elisp, elixir, elm, emacs, ensime, epi-server, erlang, esp-idf, espresso, exercism, expression-engine, ext-js, fancy, finale, flex-builder, force-dot-com, fortran, fuel-php, gcov, git-book, gnome-shell-extension, go, godot, gpg, gradle, grails, gwt, haskell, hugo, iar-ewarm, idris, igor-pro, images, infor-cms, java, jboss, jboss-4, jboss-6, jdeveloper, jekyll, jenkins-home, jenv, jet-brains, jigsaw, joomla, julia, jupyter-notebooks, kate, kdevelop4, kentico, ki-cad, kohana, kotlin, lab-view, laravel, lazarus, leiningen, lemon-stand, libre-office, lilypond, linux, lithium, logtalk, lua, lyx, mac-os, magento, magento-1, magento-2, matlab, maven, mercurial, mercury, metals, meta-programming-system, meteor, microsoft-office, model-sim, momentics, mono-develop, nanoc, net-beans, nikola, nim, ninja, node, notepad-pp, nwjs, objective--c, ocaml, octave, opa, open-cart, openssl, oracle-forms, otto, packer, patch, perl, perl6, phalcon, phoenix, pimcore, play-framework, plone, prestashop, processing, psoc-creator, puppet, pure-script, putty, python, qooxdoo, qt, r, racket, rails, raku, red, redcar, redis, rhodes-rhomobile, ros, ruby, rust, sam, sass, sbt, scala, scheme, scons, scrivener, sdcc, seam-gen, sketch-up, slick-edit, smalltalk, snap, splunk, stata, stella, sublime-text, sugar-crm, svn, swift, symfony, symphony-cms, synopsys-vcs, tags, terraform, tex, text-mate, textpattern, think-php, tortoise-git, turbo-gears-2, typo3, umbraco, unity, unreal-engine, vagrant, vim, virtual-env, virtuoso, visual-studio, visual-studio-code, vue, vvvv, waf, web-methods, windows, word-press, xcode, xilinx, xilinx-ise, xojo, yeoman, yii, zend-framework, zephir."
        }
      }
    },
    "ResolvePullRequestCommentsResponse": {
      "type": "object",
      "id": "ResolvePullRequestCommentsResponse",
      "description": "The response to resolve multiple pull request comments.",
      "properties": {
        "pullRequestComments": {
          "items": {
            "$ref": "PullRequestComment"
          },
          "type": "array",
          "description": "The list of pull request comments resolved."
        }
      }
    },
    "Location": {
      "id": "Location",
      "type": "object",
      "description": "A resource that represents a Google Cloud location.",
      "properties": {
        "locationId": {
          "description": "The canonical id for this location. For example: `\"us-east1\"`.",
          "type": "string"
        },
        "name": {
          "description": "Resource name for the location, which may vary between implementations. For example: `\"projects/example-project/locations/us-east1\"`",
          "type": "string"
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Cross-service attributes for the location. For example {\"cloud.googleapis.com/region\": \"us-east1\"}"
        },
        "displayName": {
          "description": "The friendly name for this location, typically a nearby city name. For example, \"Tokyo\".",
          "type": "string"
        },
        "metadata": {
          "description": "Service-specific metadata. For example the available capacity at the given location.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "type": "object"
        }
      }
    },
    "SecretScanConfig": {
      "id": "SecretScanConfig",
      "properties": {
        "enabled": {
          "description": "Optional. Enables secret scanning for the repository.",
          "type": "boolean"
        },
        "inspectTemplate": {
          "description": "Optional. The DLP inspect template to use for secret scanning.",
          "type": "string"
        }
      },
      "description": "Configuration for secret scanning.",
      "type": "object"
    },
    "ListPullRequestFileDiffsResponse": {
      "description": "ListPullRequestFileDiffsResponse is the response containing file diffs returned from ListPullRequestFileDiffs.",
      "type": "object",
      "id": "ListPullRequestFileDiffsResponse",
      "properties": {
        "fileDiffs": {
          "description": "The list of pull request file diffs.",
          "items": {
            "$ref": "FileDiff"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return.",
          "type": "string"
        }
      }
    },
    "TreeEntry": {
      "properties": {
        "mode": {
          "readOnly": true,
          "description": "Output only. The file mode as a string (e.g., \"100644\"). Indicates file type. Output-only.",
          "type": "string"
        },
        "sha": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The SHA-1 hash of the object (unique identifier). Output-only."
        },
        "size": {
          "readOnly": true,
          "description": "Output only. The size of the object in bytes (only for blobs). Output-only.",
          "format": "int64",
          "type": "string"
        },
        "type": {
          "description": "Output only. The type of the object (TREE, BLOB, COMMIT). Output-only.",
          "type": "string",
          "enumDescriptions": [
            "Default value, indicating the object type is unspecified.",
            "Represents a directory (folder).",
            "Represents a file (contains file data).",
            "Represents a pointer to another repository (submodule)."
          ],
          "enum": [
            "OBJECT_TYPE_UNSPECIFIED",
            "TREE",
            "BLOB",
            "COMMIT"
          ],
          "readOnly": true
        },
        "path": {
          "description": "Output only. The path of the file or directory within the tree (e.g., \"src/main/java/MyClass.java\"). Output-only.",
          "readOnly": true,
          "type": "string"
        }
      },
      "id": "TreeEntry",
      "type": "object",
      "description": "Represents an entry within a tree structure (like a Git tree)."
    },
    "Code": {
      "description": "The comment on a code line.",
      "id": "Code",
      "type": "object",
      "properties": {
        "effectiveRootComment": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The root comment of the conversation, derived from the reply field."
        },
        "position": {
          "$ref": "Position",
          "description": "Optional. The position of the comment."
        },
        "reply": {
          "description": "Optional. Input only. The PullRequestComment resource name that this comment is replying to.",
          "type": "string"
        },
        "effectiveCommitSha": {
          "description": "Output only. The effective commit sha this code comment is pointing to.",
          "readOnly": true,
          "type": "string"
        },
        "body": {
          "description": "Required. The comment body.",
          "type": "string"
        },
        "resolved": {
          "description": "Output only. Boolean indicator if the comment is resolved.",
          "type": "boolean",
          "readOnly": true
        }
      }
    },
    "ListHooksResponse": {
      "properties": {
        "hooks": {
          "type": "array",
          "description": "The list of hooks.",
          "items": {
            "$ref": "Hook"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token identifying a page of results the server should return."
        }
      },
      "id": "ListHooksResponse",
      "description": "ListHooksResponse is response to list hooks.",
      "type": "object"
    },
    "Binding": {
      "id": "Binding",
      "type": "object",
      "description": "Associates `members`, or principals, with a `role`.",
      "properties": {
        "role": {
          "description": "Role that is assigned to the list of `members`, or principals. For example, `roles/viewer`, `roles/editor`, or `roles/owner`. For an overview of the IAM roles and permissions, see the [IAM documentation](https://cloud.google.com/iam/docs/roles-overview). For a list of the available pre-defined roles, see [here](https://cloud.google.com/iam/docs/understanding-roles).",
          "type": "string"
        },
        "condition": {
          "$ref": "Expr",
          "description": "The condition that is associated with this binding. If the condition evaluates to `true`, then this binding applies to the current request. If the condition evaluates to `false`, then this binding does not apply to the current request. However, a different role binding might grant the same role to one or more of the principals in this binding. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies)."
        },
        "members": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Specifies the principals requesting access for a Google Cloud resource. `members` can have the following values: * `allUsers`: A special identifier that represents anyone who is on the internet; with or without a Google account. * `allAuthenticatedUsers`: A special identifier that represents anyone who is authenticated with a Google account or a service account. Does not include identities that come from external identity providers (IdPs) through identity federation. * `user:{emailid}`: An email address that represents a specific Google account. For example, `alice@example.com` . * `serviceAccount:{emailid}`: An email address that represents a Google service account. For example, `my-other-app@appspot.gserviceaccount.com`. * `serviceAccount:{projectid}.svc.id.goog[{namespace}/{kubernetes-sa}]`: An identifier for a [Kubernetes service account](https://cloud.google.com/kubernetes-engine/docs/how-to/kubernetes-service-accounts). For example, `my-project.svc.id.goog[my-namespace/my-kubernetes-sa]`. * `group:{emailid}`: An email address that represents a Google group. For example, `admins@example.com`. * `domain:{domain}`: The G Suite domain (primary) that represents all the users of that domain. For example, `google.com` or `example.com`. * `principal://iam.googleapis.com/locations/global/workforcePools/{pool_id}/subject/{subject_attribute_value}`: A single identity in a workforce identity pool. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/group/{group_id}`: All workforce identities in a group. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/attribute.{attribute_name}/{attribute_value}`: All workforce identities with a specific attribute value. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/*`: All identities in a workforce identity pool. * `principal://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/subject/{subject_attribute_value}`: A single identity in a workload identity pool. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/group/{group_id}`: A workload identity pool group. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/attribute.{attribute_name}/{attribute_value}`: All identities in a workload identity pool with a certain attribute. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/*`: All identities in a workload identity pool. * `deleted:user:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a user that has been recently deleted. For example, `alice@example.com?uid=123456789012345678901`. If the user is recovered, this value reverts to `user:{emailid}` and the recovered user retains the role in the binding. * `deleted:serviceAccount:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a service account that has been recently deleted. For example, `my-other-app@appspot.gserviceaccount.com?uid=123456789012345678901`. If the service account is undeleted, this value reverts to `serviceAccount:{emailid}` and the undeleted service account retains the role in the binding. * `deleted:group:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a Google group that has been recently deleted. For example, `admins@example.com?uid=123456789012345678901`. If the group is recovered, this value reverts to `group:{emailid}` and the recovered group retains the role in the binding. * `deleted:principal://iam.googleapis.com/locations/global/workforcePools/{pool_id}/subject/{subject_attribute_value}`: Deleted single identity in a workforce identity pool. For example, `deleted:principal://iam.googleapis.com/locations/global/workforcePools/my-pool-id/subject/my-subject-attribute-value`."
        }
      }
    },
    "BranchRule": {
      "id": "BranchRule",
      "description": "Metadata of a BranchRule. BranchRule is the protection rule to enforce pre-defined rules on designated branches within a repository.",
      "type": "object",
      "properties": {
        "requiredStatusChecks": {
          "items": {
            "$ref": "Check"
          },
          "description": "Optional. List of required status checks before merging to the branch.",
          "type": "array"
        },
        "requireCodeOwnerApproval": {
          "description": "Optional. Determines if code owners must approve before merging to the branch.",
          "type": "boolean"
        },
        "includePattern": {
          "type": "string",
          "description": "Optional. The pattern of the branch that can match to this BranchRule. Specified as regex. .* for all branches. Examples: main, (main|release.*). Current MVP phase only support `.*` for wildcard."
        },
        "requireLinearHistory": {
          "type": "boolean",
          "description": "Optional. Determines if require linear history before merging to the branch."
        },
        "etag": {
          "type": "string",
          "description": "Optional. This checksum is computed by the server based on the value of other fields, and may be sent on update and delete requests to ensure the client has an up-to-date value before proceeding."
        },
        "minimumReviewsCount": {
          "description": "Optional. The minimum number of reviews required for the branch rule to be matched.",
          "type": "integer",
          "format": "int32"
        },
        "allowStaleReviews": {
          "description": "Optional. Determines if allow stale reviews or approvals before merging to the branch.",
          "type": "boolean"
        },
        "minimumApprovalsCount": {
          "type": "integer",
          "format": "int32",
          "description": "Optional. The minimum number of approvals required for the branch rule to be matched."
        },
        "annotations": {
          "description": "Optional. User annotations. These attributes can only be set and used by the user. See https://google.aip.dev/128#annotations for more details such as format and size limitations.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "createTime": {
          "description": "Output only. Create timestamp.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "requirePullRequest": {
          "description": "Optional. Determines if the branch rule requires a pull request or not.",
          "type": "boolean"
        },
        "name": {
          "type": "string",
          "description": "Identifier. A unique identifier for a BranchRule. The name should be of the format: `projects/{project}/locations/{location}/repositories/{repository}/branchRules/{branch_rule}`"
        },
        "updateTime": {
          "type": "string",
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. Update timestamp."
        },
        "requireCommentsResolved": {
          "type": "boolean",
          "description": "Optional. Determines if require comments resolved before merging to the branch."
        },
        "uid": {
          "description": "Output only. Unique identifier of the repository.",
          "type": "string",
          "readOnly": true
        },
        "disabled": {
          "description": "Optional. Determines if the branch rule is disabled or not.",
          "type": "boolean"
        }
      }
    },
    "ListOperationsResponse": {
      "properties": {
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        },
        "operations": {
          "items": {
            "$ref": "Operation"
          },
          "description": "A list of operations that matches the specified filter in the request.",
          "type": "array"
        },
        "unreachable": {
          "description": "Unordered list. Unreachable resources. Populated when the request sets `ListOperationsRequest.return_partial_success` and reads across collections. For example, when attempting to list all resources across all supported locations.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "id": "ListOperationsResponse",
      "type": "object",
      "description": "The response message for Operations.ListOperations."
    },
    "Issue": {
      "id": "Issue",
      "properties": {
        "title": {
          "type": "string",
          "description": "Required. Issue title."
        },
        "body": {
          "type": "string",
          "description": "Optional. Issue body. Provides a detailed description of the issue."
        },
        "closeTime": {
          "format": "google-datetime",
          "description": "Output only. Close timestamp (if closed). Cleared when is re-opened.",
          "type": "string",
          "readOnly": true
        },
        "name": {
          "type": "string",
          "description": "Identifier. Unique identifier for an issue. The issue id is generated by the server. Format: `projects/{project}/locations/{location}/repositories/{repository}/issues/{issue_id}`"
        },
        "updateTime": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Last updated timestamp.",
          "format": "google-datetime"
        },
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "OPEN",
            "CLOSED"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unspecified.",
            "An open issue.",
            "A closed issue."
          ],
          "description": "Output only. State of the issue.",
          "readOnly": true
        },
        "etag": {
          "description": "Optional. This checksum is computed by the server based on the value of other fields, and may be sent on update and delete requests to ensure the client has an up-to-date value before proceeding.",
          "type": "string"
        },
        "createTime": {
          "description": "Output only. Creation timestamp.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        }
      },
      "description": "Metadata of an Issue.",
      "type": "object"
    },
    "UnresolvePullRequestCommentsResponse": {
      "id": "UnresolvePullRequestCommentsResponse",
      "description": "The response to unresolve multiple pull request comments.",
      "type": "object",
      "properties": {
        "pullRequestComments": {
          "items": {
            "$ref": "PullRequestComment"
          },
          "type": "array",
          "description": "The list of pull request comments unresolved."
        }
      }
    },
    "AuditLogConfig": {
      "properties": {
        "exemptedMembers": {
          "type": "array",
          "description": "Specifies the identities that do not cause logging for this type of permission. Follows the same format of Binding.members.",
          "items": {
            "type": "string"
          }
        },
        "logType": {
          "type": "string",
          "enumDescriptions": [
            "Default case. Should never be this.",
            "Admin reads. Example: CloudIAM getIamPolicy",
            "Data writes. Example: CloudSQL Users create",
            "Data reads. Example: CloudSQL Users list"
          ],
          "enum": [
            "LOG_TYPE_UNSPECIFIED",
            "ADMIN_READ",
            "DATA_WRITE",
            "DATA_READ"
          ],
          "description": "The log type that this config enables."
        }
      },
      "id": "AuditLogConfig",
      "type": "object",
      "description": "Provides the configuration for logging a type of permissions. Example: { \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\", \"exempted_members\": [ \"user:jose@example.com\" ] }, { \"log_type\": \"DATA_WRITE\" } ] } This enables 'DATA_READ' and 'DATA_WRITE' logging, while exempting jose@example.com from DATA_READ logging."
    },
    "ListRepositoriesResponse": {
      "properties": {
        "repositories": {
          "type": "array",
          "items": {
            "$ref": "Repository"
          },
          "description": "The list of repositories."
        },
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "ListRepositoriesResponse"
    },
    "ListIssuesResponse": {
      "id": "ListIssuesResponse",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token identifying a page of results the server should return."
        },
        "issues": {
          "description": "The list of issues.",
          "type": "array",
          "items": {
            "$ref": "Issue"
          }
        }
      },
      "description": "The response to list issues.",
      "type": "object"
    },
    "UnresolvePullRequestCommentsRequest": {
      "properties": {
        "autoFill": {
          "type": "boolean",
          "description": "Optional. If set, at least one comment in a thread is required, rest of the comments in the same thread will be automatically updated to unresolved. If unset, all comments in the same thread need be present."
        },
        "names": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Required. The names of the pull request comments to unresolve. Format: `projects/{project_number}/locations/{location_id}/repositories/{repository_id}/pullRequests/{pull_request_id}/pullRequestComments/{comment_id}` Only comments from the same threads are allowed in the same request."
        }
      },
      "description": "The request to unresolve multiple pull request comments.",
      "type": "object",
      "id": "UnresolvePullRequestCommentsRequest"
    },
    "ListLocationsResponse": {
      "id": "ListLocationsResponse",
      "properties": {
        "locations": {
          "description": "A list of locations that matches the specified filter in the request.",
          "items": {
            "$ref": "Location"
          },
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "The standard List next-page token."
        }
      },
      "description": "The response message for Locations.ListLocations.",
      "type": "object"
    },
    "IssueComment": {
      "type": "object",
      "description": "IssueComment represents a comment on an issue.",
      "id": "IssueComment",
      "properties": {
        "createTime": {
          "description": "Output only. Creation timestamp.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "body": {
          "description": "Required. The comment body.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Identifier. Unique identifier for an issue comment. The comment id is generated by the server. Format: `projects/{project}/locations/{location}/repositories/{repository}/issues/{issue}/issueComments/{comment_id}`"
        },
        "updateTime": {
          "description": "Output only. Last updated timestamp.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        }
      }
    },
    "ListPullRequestsResponse": {
      "description": "ListPullRequestsResponse is the response to list pull requests.",
      "type": "object",
      "id": "ListPullRequestsResponse",
      "properties": {
        "pullRequests": {
          "type": "array",
          "description": "The list of pull requests.",
          "items": {
            "$ref": "PullRequest"
          }
        },
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return.",
          "type": "string"
        }
      }
    },
    "Operation": {
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "properties": {
        "error": {
          "description": "The error result of the operation in case of failure or cancellation.",
          "$ref": "Status"
        },
        "done": {
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available.",
          "type": "boolean"
        },
        "name": {
          "type": "string",
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`."
        },
        "metadata": {
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "type": "object"
        },
        "response": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`."
        }
      },
      "id": "Operation",
      "type": "object"
    },
    "Branch": {
      "description": "Branch represents a branch involved in a pull request.",
      "id": "Branch",
      "type": "object",
      "properties": {
        "ref": {
          "description": "Required. Name of the branch.",
          "type": "string"
        },
        "sha": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The commit at the tip of the branch."
        }
      }
    },
    "ListInstancesResponse": {
      "properties": {
        "instances": {
          "items": {
            "$ref": "Instance"
          },
          "description": "The list of instances.",
          "type": "array"
        },
        "unreachable": {
          "description": "Locations that could not be reached.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token identifying a page of results the server should return."
        }
      },
      "type": "object",
      "id": "ListInstancesResponse"
    },
    "ListBranchRulesResponse": {
      "type": "object",
      "id": "ListBranchRulesResponse",
      "properties": {
        "branchRules": {
          "type": "array",
          "description": "The list of branch rules.",
          "items": {
            "$ref": "BranchRule"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token identifying a page of results the server should return."
        }
      },
      "description": "ListBranchRulesResponse is the response to listing branchRules."
    },
    "Instance": {
      "description": "A resource that represents a Secure Source Manager instance.",
      "properties": {
        "kmsKey": {
          "type": "string",
          "description": "Optional. Immutable. Customer-managed encryption key name, in the format projects/*/locations/*/keyRings/*/cryptoKeys/*."
        },
        "hostConfig": {
          "readOnly": true,
          "description": "Output only. A list of hostnames for this instance.",
          "$ref": "HostConfig"
        },
        "createTime": {
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. Create timestamp.",
          "type": "string"
        },
        "name": {
          "description": "Identifier. A unique identifier for an instance. The name should be of the format: `projects/{project_number}/locations/{location_id}/instances/{instance_id}` `project_number`: Maps to a unique int64 id assigned to each project. `location_id`: Refers to the region where the instance will be deployed. Since Secure Source Manager is a regional service, it must be one of the valid GCP regions. `instance_id`: User provided name for the instance, must be unique for a project_number and location_id combination.",
          "type": "string"
        },
        "updateTime": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Update timestamp.",
          "format": "google-datetime"
        },
        "privateConfig": {
          "$ref": "PrivateConfig",
          "description": "Optional. Private settings for private instance."
        },
        "satisfiesPzi": {
          "type": "boolean",
          "readOnly": true,
          "description": "Output only. Reserved for future use."
        },
        "workforceIdentityFederationConfig": {
          "$ref": "WorkforceIdentityFederationConfig",
          "description": "Optional. Configuration for Workforce Identity Federation to support third party identity provider. If unset, defaults to the Google OIDC IdP."
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Optional. Labels as key value pairs. Keys and values can contain only lowercase letters, numeric characters, underscores, and dashes. For more information, see [Requirements for labels](https://cloud.google.com/resource-manager/docs/best-practices-labels#label_encoding)."
        },
        "state": {
          "enumDescriptions": [
            "Not set. This should only be the case for incoming requests.",
            "Instance is being created.",
            "Instance is ready.",
            "Instance is being deleted.",
            "Instance is paused.",
            "Instance is unknown, we are not sure if it's functioning."
          ],
          "description": "Output only. Current state of the instance.",
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "ACTIVE",
            "DELETING",
            "PAUSED",
            "UNKNOWN"
          ],
          "type": "string"
        },
        "stateNote": {
          "type": "string",
          "enumDeprecated": [
            false,
            false,
            true
          ],
          "enum": [
            "STATE_NOTE_UNSPECIFIED",
            "PAUSED_CMEK_UNAVAILABLE",
            "INSTANCE_RESUMING"
          ],
          "description": "Output only. An optional field providing information about the current instance state.",
          "enumDescriptions": [
            "STATE_NOTE_UNSPECIFIED as the first value of State.",
            "CMEK access is unavailable.",
            "INSTANCE_RESUMING indicates that the instance was previously paused and is under the process of being brought back."
          ],
          "readOnly": true
        },
        "satisfiesPzs": {
          "type": "boolean",
          "description": "Output only. Reserved for future use.",
          "readOnly": true
        }
      },
      "id": "Instance",
      "type": "object"
    }
  },
  "id": "securesourcemanager:v1",
  "basePath": "",
  "parameters": {
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "location": "query",
      "type": "boolean"
    },
    "fields": {
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string"
    },
    "key": {
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string"
    },
    "$.xgafv": {
      "enum": [
        "1",
        "2"
      ],
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format.",
      "location": "query"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "uploadType": {
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string"
    },
    "oauth_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth 2.0 token for the current user."
    },
    "alt": {
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "description": "Data format for response.",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "location": "query",
      "type": "string",
      "default": "json"
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "access_token": {
      "description": "OAuth access token.",
      "location": "query",
      "type": "string"
    }
  },
  "resources": {
    "projects": {
      "resources": {
        "locations": {
          "resources": {
            "repositories": {
              "resources": {
                "hooks": {
                  "methods": {
                    "patch": {
                      "request": {
                        "$ref": "Hook"
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "httpMethod": "PATCH",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/securesourcemanager.read-write"
                      ],
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/repositories/{repositoriesId}/hooks/{hooksId}",
                      "description": "Updates the metadata of a hook.",
                      "response": {
                        "$ref": "Operation"
                      },
                      "parameters": {
                        "updateMask": {
                          "type": "string",
                          "format": "google-fieldmask",
                          "location": "query",
                          "description": "Optional. Field mask is used to specify the fields to be overwritten in the hook resource by the update. The fields specified in the update_mask are relative to the resource, not the full request. A field will be overwritten if it is in the mask. The special value \"*\" means full replacement."
                        },
                        "name": {
                          "description": "Identifier. A unique identifier for a Hook. The name should be of the format: `projects/{project}/locations/{location_id}/repositories/{repository_id}/hooks/{hook_id}`",
                          "pattern": "^projects/[^/]+/locations/[^/]+/repositories/[^/]+/hooks/[^/]+$",
                          "location": "path",
                          "type": "string",
                          "required": true
                        }
                      },
                      "id": "securesourcemanager.projects.locations.repositories.hooks.patch",
                      "path": "v1/{+name}"
                    },
                    "list": {
                      "parameterOrder": [
                        "parent"
                      ],
                      "parameters": {
                        "pageToken": {
                          "location": "query",
                          "description": "Optional. A token identifying a page of results the server should return.",
                          "type": "string"
                        },
                        "parent": {
                          "description": "Required. Parent value for ListHooksRequest.",
                          "required": true,
                          "location": "path",
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/repositories/[^/]+$"
                        },
                        "pageSize": {
                          "location": "query",
                          "type": "integer",
                          "format": "int32",
                          "description": "Optional. Requested page size. If unspecified, a default size of 30 will be used. The maximum value is 100; values above 100 will be coerced to 100."
                        }
                      },
                      "path": "v1/{+parent}/hooks",
                      "description": "Lists hooks in a given repository.",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/securesourcemanager.read-write"
                      ],
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/repositories/{repositoriesId}/hooks",
                      "httpMethod": "GET",
                      "response": {
                        "$ref": "ListHooksResponse"
                      },
                      "id": "securesourcemanager.projects.locations.repositories.hooks.list"
                    },
                    "get": {
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/repositories/{repositoriesId}/hooks/{hooksId}",
                      "response": {
                        "$ref": "Hook"
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "parameters": {
                        "name": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/repositories/[^/]+/hooks/[^/]+$",
                          "location": "path",
                          "required": true,
                          "description": "Required. Name of the hook to retrieve. The format is `projects/{project_number}/locations/{location_id}/repositories/{repository_id}/hooks/{hook_id}`.",
                          "type": "string"
                        }
                      },
                      "description": "Gets metadata of a hook.",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/securesourcemanager.read-write"
                      ],
                      "path": "v1/{+name}",
                      "httpMethod": "GET",
                      "id": "securesourcemanager.projects.locations.repositories.hooks.get"
                    },
                    "create": {
                      "response": {
                        "$ref": "Operation"
                      },
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/repositories/{repositoriesId}/hooks",
                      "httpMethod": "POST",
                      "description": "Creates a new hook in a given repository.",
                      "path": "v1/{+parent}/hooks",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/securesourcemanager.read-write"
                      ],
                      "id": "securesourcemanager.projects.locations.repositories.hooks.create",
                      "parameters": {
                        "parent": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/repositories/[^/]+$",
                          "location": "path",
                          "description": "Required. The repository in which to create the hook. Values are of the form `projects/{project_number}/locations/{location_id}/repositories/{repository_id}`",
                          "required": true,
                          "type": "string"
                        },
                        "hookId": {
                          "location": "query",
                          "description": "Required. The ID to use for the hook, which will become the final component of the hook's resource name. This value restricts to lower-case letters, numbers, and hyphen, with the first character a letter, the last a letter or a number, and a 63 character maximum.",
                          "type": "string"
                        }
                      },
                      "parameterOrder": [
                        "parent"
                      ],
                      "request": {
                        "$ref": "Hook"
                      }
                    },
                    "delete": {
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/securesourcemanager.read-write"
                      ],
                      "parameters": {
                        "name": {
                          "description": "Required. Name of the hook to delete. The format is `projects/{project_number}/locations/{location_id}/repositories/{repository_id}/hooks/{hook_id}`.",
                          "location": "path",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/repositories/[^/]+/hooks/[^/]+$",
                          "type": "string"
                        }
                      },
                      "path": "v1/{+name}",
                      "id": "securesourcemanager.projects.locations.repositories.hooks.delete",
                      "description": "Deletes a Hook.",
                      "httpMethod": "DELETE",
                      "parameterOrder": [
                        "name"
                      ],
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/repositories/{repositoriesId}/hooks/{hooksId}",
                      "response": {
                        "$ref": "Operation"
                      }
                    }
                  }
                },
                "pullRequests": {
                  "resources": {
                    "pullRequestComments": {
                      "methods": {
                        "unresolve": {
                          "description": "Unresolves pull request comments. A list of PullRequestComment names must be provided. The PullRequestComment names must be in the same conversation thread. If auto_fill is set, all comments in the conversation thread will be unresolved.",
                          "parameters": {
                            "parent": {
                              "type": "string",
                              "description": "Required. The pull request in which to resolve the pull request comments. Format: `projects/{project_number}/locations/{location_id}/repositories/{repository_id}/pullRequests/{pull_request_id}`",
                              "location": "path",
                              "pattern": "^projects/[^/]+/locations/[^/]+/repositories/[^/]+/pullRequests/[^/]+$",
                              "required": true
                            }
                          },
                          "id": "securesourcemanager.projects.locations.repositories.pullRequests.pullRequestComments.unresolve",
                          "parameterOrder": [
                            "parent"
                          ],
                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/repositories/{repositoriesId}/pullRequests/{pullRequestsId}/pullRequestComments:unresolve",
                          "httpMethod": "POST",
                          "response": {
                            "$ref": "Operation"
                          },
                          "request": {
                            "$ref": "UnresolvePullRequestCommentsRequest"
                          },
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform",
                            "https://www.googleapis.com/auth/securesourcemanager.read-write"
                          ],
                          "path": "v1/{+parent}/pullRequestComments:unresolve"
                        },
                        "list": {
                          "path": "v1/{+parent}/pullRequestComments",
                          "parameters": {
                            "pageToken": {
                              "description": "Optional. A token identifying a page of results the server should return.",
                              "type": "string",
                              "location": "query"
                            },
                            "pageSize": {
                              "description": "Optional. Requested page size. If unspecified, a default size of 30 will be used. The maximum value is 100; values above 100 will be coerced to 100.",
                              "format": "int32",
                              "location": "query",
                              "type": "integer"
                            },
                            "parent": {
                              "location": "path",
                              "pattern": "^projects/[^/]+/locations/[^/]+/repositories/[^/]+/pullRequests/[^/]+$",
                              "description": "Required. The pull request in which to list pull request comments. Format: `projects/{project_number}/locations/{location_id}/repositories/{repository_id}/pullRequests/{pull_request_id}`",
                              "type": "string",
                              "required": true
                            }
                          },
                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/repositories/{repositoriesId}/pullRequests/{pullRequestsId}/pullRequestComments",
                          "response": {
                            "$ref": "ListPullRequestCommentsResponse"
                          },
                          "id": "securesourcemanager.projects.locations.repositories.pullRequests.pullRequestComments.list",
                          "httpMethod": "GET",
                          "description": "Lists pull request comments.",
                          "parameterOrder": [
                            "parent"
                          ],
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform",
                            "https://www.googleapis.com/auth/securesourcemanager.read-write"
                          ]
                        },
                        "create": {
                          "request": {
                            "$ref": "PullRequestComment"
                          },
[...]
