{
  "ownerDomain": "google.com",
  "fullyEncodeReservedExpansion": true,
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "kind": "discovery#restDescription",
  "baseUrl": "https://securitycenter.googleapis.com/",
  "batchPath": "batch",
  "name": "securitycenter",
  "revision": "20261005",
  "basePath": "",
  "id": "securitycenter:v1",
  "discoveryVersion": "v1",
  "resources": {
    "folders": {
      "resources": {
        "sources": {
          "methods": {
            "list": {
              "httpMethod": "GET",
              "path": "v1/{+parent}/sources",
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "ListSourcesResponse"
              },
              "description": "",
              "flatPath": "v1/folders/{foldersId}/sources",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/securitycenter"
              ],
              "parameters": {
                "parent": {
                  "pattern": "^folders/[^/]+$",
                  "location": "path",
                  "type": "string",
                  "required": true
                },
                "pageSize": {
                  "format": "int32",
                  "type": "integer",
                  "location": "query"
                },
                "pageToken": {
                  "location": "query",
                  "type": "string"
                }
              },
              "id": "securitycenter.folders.sources.list"
            }
          },
          "resources": {
            "findings": {
              "methods": {
                "updateSecurityMarks": {
                  "request": {
                    "$ref": "SecurityMarks"
                  },
                  "flatPath": "v1/folders/{foldersId}/sources/{sourcesId}/findings/{findingsId}/securityMarks",
                  "response": {
                    "$ref": "SecurityMarks"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "PATCH",
                  "path": "v1/{+name}",
                  "parameters": {
                    "startTime": {
                      "format": "google-datetime",
                      "type": "string",
                      "location": "query"
                    },
                    "updateMask": {
                      "format": "google-fieldmask",
                      "type": "string",
                      "location": "query"
                    },
                    "name": {
                      "location": "path",
                      "pattern": "^folders/[^/]+/sources/[^/]+/findings/[^/]+/securityMarks$",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "description": "",
                  "id": "securitycenter.folders.sources.findings.updateSecurityMarks",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/securitycenter"
                  ]
                },
                "list": {
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "ListFindingsResponse"
                  },
                  "flatPath": "v1/folders/{foldersId}/sources/{sourcesId}/findings",
                  "parameters": {
                    "fieldMask": {
                      "format": "google-fieldmask",
                      "location": "query",
                      "type": "string"
                    },
                    "compareDuration": {
                      "deprecated": true,
                      "type": "string",
                      "format": "google-duration",
                      "location": "query"
                    },
                    "parent": {
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "pattern": "^folders/[^/]+/sources/[^/]+$"
                    },
                    "orderBy": {
                      "location": "query",
                      "type": "string"
                    },
                    "readTime": {
                      "type": "string",
                      "format": "google-datetime",
                      "location": "query",
                      "deprecated": true
                    },
                    "pageSize": {
                      "type": "integer",
                      "format": "int32",
                      "location": "query"
                    },
                    "filter": {
                      "location": "query",
                      "type": "string"
                    },
                    "pageToken": {
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "path": "v1/{+parent}/findings",
                  "httpMethod": "GET",
                  "description": "",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/securitycenter"
                  ],
                  "id": "securitycenter.folders.sources.findings.list"
                },
                "group": {
                  "httpMethod": "POST",
                  "flatPath": "v1/folders/{foldersId}/sources/{sourcesId}/findings:group",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/securitycenter"
                  ],
                  "response": {
                    "$ref": "GroupFindingsResponse"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "id": "securitycenter.folders.sources.findings.group",
                  "description": "",
                  "path": "v1/{+parent}/findings:group",
                  "request": {
                    "$ref": "GroupFindingsRequest"
                  },
                  "parameters": {
                    "parent": {
                      "pattern": "^folders/[^/]+/sources/[^/]+$",
                      "type": "string",
                      "location": "path",
                      "required": true
                    }
                  }
                },
                "setState": {
                  "parameters": {
                    "name": {
                      "location": "path",
                      "required": true,
                      "pattern": "^folders/[^/]+/sources/[^/]+/findings/[^/]+$",
                      "type": "string"
                    }
                  },
                  "id": "securitycenter.folders.sources.findings.setState",
                  "response": {
                    "$ref": "Finding"
                  },
                  "description": "",
                  "path": "v1/{+name}:setState",
                  "flatPath": "v1/folders/{foldersId}/sources/{sourcesId}/findings/{findingsId}:setState",
                  "request": {
                    "$ref": "SetFindingStateRequest"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/securitycenter"
                  ],
                  "httpMethod": "POST"
                },
                "patch": {
                  "httpMethod": "PATCH",
                  "id": "securitycenter.folders.sources.findings.patch",
                  "request": {
                    "$ref": "Finding"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/securitycenter"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1/folders/{foldersId}/sources/{sourcesId}/findings/{findingsId}",
                  "parameters": {
                    "name": {
                      "required": true,
                      "location": "path",
                      "pattern": "^folders/[^/]+/sources/[^/]+/findings/[^/]+$",
                      "type": "string"
                    },
                    "updateMask": {
                      "type": "string",
                      "format": "google-fieldmask",
                      "location": "query"
                    }
                  },
                  "path": "v1/{+name}",
                  "response": {
                    "$ref": "Finding"
                  },
                  "description": ""
                },
                "setMute": {
                  "httpMethod": "POST",
                  "path": "v1/{+name}:setMute",
                  "id": "securitycenter.folders.sources.findings.setMute",
                  "description": "",
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "Finding"
                  },
                  "request": {
                    "$ref": "SetMuteRequest"
                  },
                  "parameters": {
                    "name": {
                      "required": true,
                      "location": "path",
                      "type": "string",
                      "pattern": "^folders/[^/]+/sources/[^/]+/findings/[^/]+$"
                    }
                  },
                  "flatPath": "v1/folders/{foldersId}/sources/{sourcesId}/findings/{findingsId}:setMute",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/securitycenter"
                  ]
                }
              },
              "resources": {
                "externalSystems": {
                  "methods": {
                    "patch": {
                      "response": {
                        "$ref": "GoogleCloudSecuritycenterV1ExternalSystem"
                      },
                      "path": "v1/{+name}",
                      "flatPath": "v1/folders/{foldersId}/sources/{sourcesId}/findings/{findingsId}/externalSystems/{externalSystemsId}",
                      "description": "",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/securitycenter"
                      ],
                      "parameters": {
                        "updateMask": {
                          "type": "string",
                          "format": "google-fieldmask",
                          "location": "query"
                        },
                        "name": {
                          "location": "path",
                          "required": true,
                          "type": "string",
                          "pattern": "^folders/[^/]+/sources/[^/]+/findings/[^/]+/externalSystems/[^/]+$"
                        }
                      },
                      "id": "securitycenter.folders.sources.findings.externalSystems.patch",
                      "httpMethod": "PATCH",
                      "parameterOrder": [
                        "name"
                      ],
                      "request": {
                        "$ref": "GoogleCloudSecuritycenterV1ExternalSystem"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "muteConfigs": {
          "methods": {
            "list": {
              "httpMethod": "GET",
              "path": "v1/{+parent}/muteConfigs",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/securitycenter"
              ],
              "response": {
                "$ref": "ListMuteConfigsResponse"
              },
              "flatPath": "v1/folders/{foldersId}/muteConfigs",
              "parameterOrder": [
                "parent"
              ],
              "description": "",
              "parameters": {
                "parent": {
                  "type": "string",
                  "pattern": "^folders/[^/]+$",
                  "location": "path",
                  "required": true
                },
                "pageToken": {
                  "location": "query",
                  "type": "string"
                },
                "pageSize": {
                  "type": "integer",
                  "format": "int32",
                  "location": "query"
                }
              },
              "id": "securitycenter.folders.muteConfigs.list"
            },
            "get": {
              "path": "v1/{+name}",
              "flatPath": "v1/folders/{foldersId}/muteConfigs/{muteConfigsId}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/securitycenter"
              ],
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "GET",
              "response": {
                "$ref": "GoogleCloudSecuritycenterV1MuteConfig"
              },
              "id": "securitycenter.folders.muteConfigs.get",
              "parameters": {
                "name": {
                  "pattern": "^folders/[^/]+/muteConfigs/[^/]+$",
                  "type": "string",
                  "location": "path",
                  "required": true
                }
              },
              "description": ""
            },
            "delete": {
              "id": "securitycenter.folders.muteConfigs.delete",
              "description": "",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/securitycenter"
              ],
              "parameters": {
                "name": {
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "pattern": "^folders/[^/]+/muteConfigs/[^/]+$"
                }
              },
              "path": "v1/{+name}",
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "DELETE",
              "response": {
                "$ref": "Empty"
              },
              "flatPath": "v1/folders/{foldersId}/muteConfigs/{muteConfigsId}"
            },
            "patch": {
              "id": "securitycenter.folders.muteConfigs.patch",
              "request": {
                "$ref": "GoogleCloudSecuritycenterV1MuteConfig"
              },
              "path": "v1/{+name}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/securitycenter"
              ],
              "httpMethod": "PATCH",
              "description": "",
              "parameters": {
                "name": {
                  "location": "path",
                  "pattern": "^folders/[^/]+/muteConfigs/[^/]+$",
                  "required": true,
                  "type": "string"
                },
                "updateMask": {
                  "format": "google-fieldmask",
                  "location": "query",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1/folders/{foldersId}/muteConfigs/{muteConfigsId}",
              "response": {
                "$ref": "GoogleCloudSecuritycenterV1MuteConfig"
              }
            },
            "create": {
              "request": {
                "$ref": "GoogleCloudSecuritycenterV1MuteConfig"
              },
              "description": "",
              "id": "securitycenter.folders.muteConfigs.create",
              "httpMethod": "POST",
              "parameterOrder": [
                "parent"
              ],
              "parameters": {
                "parent": {
                  "type": "string",
                  "location": "path",
                  "pattern": "^folders/[^/]+$",
                  "required": true
                },
                "muteConfigId": {
                  "type": "string",
                  "location": "query"
                }
              },
              "path": "v1/{+parent}/muteConfigs",
              "flatPath": "v1/folders/{foldersId}/muteConfigs",
              "response": {
                "$ref": "GoogleCloudSecuritycenterV1MuteConfig"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/securitycenter"
              ]
            }
          }
        },
        "notificationConfigs": {
          "methods": {
            "patch": {
              "httpMethod": "PATCH",
              "description": "",
              "response": {
                "$ref": "NotificationConfig"
              },
              "id": "securitycenter.folders.notificationConfigs.patch",
              "flatPath": "v1/folders/{foldersId}/notificationConfigs/{notificationConfigsId}",
              "request": {
                "$ref": "NotificationConfig"
              },
              "path": "v1/{+name}",
              "parameters": {
                "name": {
                  "location": "path",
                  "required": true,
                  "pattern": "^folders/[^/]+/notificationConfigs/[^/]+$",
                  "type": "string"
                },
                "updateMask": {
                  "type": "string",
                  "format": "google-fieldmask",
                  "location": "query"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/securitycenter"
              ]
            },
            "get": {
              "response": {
                "$ref": "NotificationConfig"
              },
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1/folders/{foldersId}/notificationConfigs/{notificationConfigsId}",
              "parameters": {
                "name": {
                  "type": "string",
                  "pattern": "^folders/[^/]+/notificationConfigs/[^/]+$",
                  "location": "path",
                  "required": true
                }
              },
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/securitycenter"
              ],
              "id": "securitycenter.folders.notificationConfigs.get",
              "path": "v1/{+name}",
              "description": ""
            },
            "delete": {
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/securitycenter"
              ],
              "httpMethod": "DELETE",
              "parameters": {
                "name": {
                  "type": "string",
                  "pattern": "^folders/[^/]+/notificationConfigs/[^/]+$",
                  "required": true,
                  "location": "path"
                }
              },
              "description": "",
              "path": "v1/{+name}",
              "flatPath": "v1/folders/{foldersId}/notificationConfigs/{notificationConfigsId}",
              "response": {
                "$ref": "Empty"
              },
              "id": "securitycenter.folders.notificationConfigs.delete"
            },
            "create": {
              "parameters": {
                "parent": {
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "pattern": "^folders/[^/]+$"
                },
                "configId": {
                  "type": "string",
                  "location": "query"
                }
              },
              "request": {
                "$ref": "NotificationConfig"
              },
              "path": "v1/{+parent}/notificationConfigs",
              "parameterOrder": [
                "parent"
              ],
              "description": "",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/securitycenter"
              ],
              "id": "securitycenter.folders.notificationConfigs.create",
              "response": {
                "$ref": "NotificationConfig"
              },
              "httpMethod": "POST",
              "flatPath": "v1/folders/{foldersId}/notificationConfigs"
            },
            "list": {
              "parameterOrder": [
                "parent"
              ],
              "httpMethod": "GET",
              "response": {
                "$ref": "ListNotificationConfigsResponse"
              },
              "parameters": {
                "pageToken": {
                  "location": "query",
                  "type": "string"
                },
                "parent": {
                  "pattern": "^folders/[^/]+$",
                  "location": "path",
                  "type": "string",
                  "required": true
                },
                "pageSize": {
                  "type": "integer",
                  "format": "int32",
                  "location": "query"
                }
              },
              "path": "v1/{+parent}/notificationConfigs",
              "flatPath": "v1/folders/{foldersId}/notificationConfigs",
              "description": "",
              "id": "securitycenter.folders.notificationConfigs.list",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/securitycenter"
              ]
            }
          }
        },
        "bigQueryExports": {
          "methods": {
            "get": {
              "path": "v1/{+name}",
              "id": "securitycenter.folders.bigQueryExports.get",
              "flatPath": "v1/folders/{foldersId}/bigQueryExports/{bigQueryExportsId}",
              "response": {
                "$ref": "GoogleCloudSecuritycenterV1BigQueryExport"
              },
              "parameters": {
                "name": {
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "pattern": "^folders/[^/]+/bigQueryExports/[^/]+$"
                }
              },
              "httpMethod": "GET",
              "description": "",
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/securitycenter"
              ]
            },
            "list": {
              "description": "",
              "response": {
                "$ref": "ListBigQueryExportsResponse"
              },
              "httpMethod": "GET",
              "flatPath": "v1/folders/{foldersId}/bigQueryExports",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/securitycenter"
              ],
              "id": "securitycenter.folders.bigQueryExports.list",
              "parameterOrder": [
                "parent"
              ],
              "parameters": {
                "parent": {
                  "type": "string",
                  "location": "path",
                  "pattern": "^folders/[^/]+$",
                  "required": true
                },
                "pageSize": {
                  "location": "query",
                  "type": "integer",
                  "format": "int32"
                },
                "pageToken": {
                  "location": "query",
                  "type": "string"
                }
              },
              "path": "v1/{+parent}/bigQueryExports"
            },
            "patch": {
              "id": "securitycenter.folders.bigQueryExports.patch",
              "parameters": {
                "name": {
                  "required": true,
                  "type": "string",
                  "pattern": "^folders/[^/]+/bigQueryExports/[^/]+$",
                  "location": "path"
                },
                "updateMask": {
                  "type": "string",
                  "location": "query",
                  "format": "google-fieldmask"
                }
              },
              "request": {
                "$ref": "GoogleCloudSecuritycenterV1BigQueryExport"
              },
              "description": "",
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1/folders/{foldersId}/bigQueryExports/{bigQueryExportsId}",
              "response": {
                "$ref": "GoogleCloudSecuritycenterV1BigQueryExport"
              },
              "httpMethod": "PATCH",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/securitycenter"
              ],
              "path": "v1/{+name}"
            },
            "delete": {
              "httpMethod": "DELETE",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/securitycenter"
              ],
              "response": {
                "$ref": "Empty"
              },
              "path": "v1/{+name}",
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1/folders/{foldersId}/bigQueryExports/{bigQueryExportsId}",
              "id": "securitycenter.folders.bigQueryExports.delete",
              "parameters": {
                "name": {
                  "type": "string",
                  "pattern": "^folders/[^/]+/bigQueryExports/[^/]+$",
                  "required": true,
                  "location": "path"
                }
              },
              "description": ""
            },
            "create": {
              "id": "securitycenter.folders.bigQueryExports.create",
              "parameterOrder": [
                "parent"
              ],
              "request": {
                "$ref": "GoogleCloudSecuritycenterV1BigQueryExport"
              },
              "parameters": {
                "bigQueryExportId": {
                  "type": "string",
                  "location": "query"
                },
                "parent": {
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "pattern": "^folders/[^/]+$"
                }
              },
              "httpMethod": "POST",
              "description": "",
              "response": {
                "$ref": "GoogleCloudSecuritycenterV1BigQueryExport"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/securitycenter"
              ],
              "flatPath": "v1/folders/{foldersId}/bigQueryExports",
              "path": "v1/{+parent}/bigQueryExports"
            }
          }
        },
        "locations": {
          "resources": {
            "muteConfigs": {
              "methods": {
                "patch": {
                  "path": "v1/{+name}",
                  "httpMethod": "PATCH",
                  "response": {
                    "$ref": "GoogleCloudSecuritycenterV1MuteConfig"
                  },
                  "request": {
                    "$ref": "GoogleCloudSecuritycenterV1MuteConfig"
                  },
                  "description": "",
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1/folders/{foldersId}/locations/{locationsId}/muteConfigs/{muteConfigsId}",
                  "id": "securitycenter.folders.locations.muteConfigs.patch",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/securitycenter"
                  ],
                  "parameters": {
                    "name": {
                      "required": true,
                      "location": "path",
                      "type": "string",
                      "pattern": "^folders/[^/]+/locations/[^/]+/muteConfigs/[^/]+$"
                    },
                    "updateMask": {
                      "type": "string",
                      "format": "google-fieldmask",
                      "location": "query"
                    }
                  }
                },
                "get": {
                  "id": "securitycenter.folders.locations.muteConfigs.get",
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/securitycenter"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "",
                  "parameters": {
                    "name": {
                      "pattern": "^folders/[^/]+/locations/[^/]+/muteConfigs/[^/]+$",
                      "type": "string",
                      "location": "path",
                      "required": true
                    }
                  },
                  "path": "v1/{+name}",
                  "response": {
                    "$ref": "GoogleCloudSecuritycenterV1MuteConfig"
                  },
                  "flatPath": "v1/folders/{foldersId}/locations/{locationsId}/muteConfigs/{muteConfigsId}"
                },
                "delete": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/securitycenter"
                  ],
                  "flatPath": "v1/folders/{foldersId}/locations/{locationsId}/muteConfigs/{muteConfigsId}",
                  "response": {
                    "$ref": "Empty"
                  },
                  "path": "v1/{+name}",
                  "httpMethod": "DELETE",
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "",
                  "parameters": {
                    "name": {
                      "pattern": "^folders/[^/]+/locations/[^/]+/muteConfigs/[^/]+$",
                      "type": "string",
                      "location": "path",
                      "required": true
                    }
                  },
                  "id": "securitycenter.folders.locations.muteConfigs.delete"
                }
              }
            }
          }
        },
        "eventThreatDetectionSettings": {
          "resources": {
            "customModules": {
              "methods": {
                "create": {
                  "flatPath": "v1/folders/{foldersId}/eventThreatDetectionSettings/customModules",
                  "response": {
                    "$ref": "EventThreatDetectionCustomModule"
                  },
                  "parameters": {
                    "parent": {
                      "required": true,
                      "type": "string",
                      "pattern": "^folders/[^/]+/eventThreatDetectionSettings$",
                      "location": "path"
                    }
                  },
                  "description": "",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/securitycenter"
                  ],
                  "request": {
                    "$ref": "EventThreatDetectionCustomModule"
                  },
                  "path": "v1/{+parent}/customModules",
                  "parameterOrder": [
                    "parent"
                  ],
                  "id": "securitycenter.folders.eventThreatDetectionSettings.customModules.create",
                  "httpMethod": "POST"
                },
                "patch": {
                  "request": {
                    "$ref": "EventThreatDetectionCustomModule"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1/{+name}",
                  "flatPath": "v1/folders/{foldersId}/eventThreatDetectionSettings/customModules/{customModulesId}",
                  "response": {
                    "$ref": "EventThreatDetectionCustomModule"
                  },
                  "parameters": {
                    "name": {
                      "required": true,
                      "location": "path",
                      "type": "string",
                      "pattern": "^folders/[^/]+/eventThreatDetectionSettings/customModules/[^/]+$"
                    },
                    "updateMask": {
                      "location": "query",
                      "format": "google-fieldmask",
                      "type": "string"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/securitycenter"
                  ],
                  "httpMethod": "PATCH",
                  "description": "",
                  "id": "securitycenter.folders.eventThreatDetectionSettings.customModules.patch"
                },
                "list": {
                  "response": {
                    "$ref": "ListEventThreatDetectionCustomModulesResponse"
                  },
                  "path": "v1/{+parent}/customModules",
                  "flatPath": "v1/folders/{foldersId}/eventThreatDetectionSettings/customModules",
                  "parameters": {
                    "parent": {
                      "type": "string",
                      "pattern": "^folders/[^/]+/eventThreatDetectionSettings$",
                      "required": true,
                      "location": "path"
                    },
                    "pageToken": {
                      "location": "query",
                      "type": "string"
                    },
                    "pageSize": {
                      "type": "integer",
                      "format": "int32",
                      "location": "query"
                    }
                  },
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/securitycenter"
                  ],
                  "parameterOrder": [
                    "parent"
                  ],
                  "description": "",
                  "id": "securitycenter.folders.eventThreatDetectionSettings.customModules.list"
                },
                "delete": {
                  "parameters": {
                    "name": {
                      "pattern": "^folders/[^/]+/eventThreatDetectionSettings/customModules/[^/]+$",
                      "type": "string",
                      "required": true,
                      "location": "path"
                    }
                  },
                  "path": "v1/{+name}",
                  "description": "",
                  "response": {
                    "$ref": "Empty"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1/folders/{foldersId}/eventThreatDetectionSettings/customModules/{customModulesId}",
                  "id": "securitycenter.folders.eventThreatDetectionSettings.customModules.delete",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/securitycenter"
                  ],
                  "httpMethod": "DELETE"
                },
                "get": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/securitycenter"
                  ],
                  "id": "securitycenter.folders.eventThreatDetectionSettings.customModules.get",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "pattern": "^folders/[^/]+/eventThreatDetectionSettings/customModules/[^/]+$",
                      "required": true,
                      "location": "path"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "GET",
                  "path": "v1/{+name}",
                  "description": "",
                  "flatPath": "v1/folders/{foldersId}/eventThreatDetectionSettings/customModules/{customModulesId}",
                  "response": {
                    "$ref": "EventThreatDetectionCustomModule"
                  }
                },
                "listDescendant": {
                  "httpMethod": "GET",
                  "flatPath": "v1/folders/{foldersId}/eventThreatDetectionSettings/customModules:listDescendant",
                  "description": "",
                  "response": {
                    "$ref": "ListDescendantEventThreatDetectionCustomModulesResponse"
                  },
                  "path": "v1/{+parent}/customModules:listDescendant",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/securitycenter"
                  ],
                  "parameterOrder": [
                    "parent"
                  ],
                  "id": "securitycenter.folders.eventThreatDetectionSettings.customModules.listDescendant",
                  "parameters": {
                    "pageSize": {
                      "format": "int32",
                      "location": "query",
                      "type": "integer"
                    },
                    "pageToken": {
                      "location": "query",
                      "type": "string"
                    },
                    "parent": {
                      "type": "string",
                      "required": true,
                      "pattern": "^folders/[^/]+/eventThreatDetectionSettings$",
                      "location": "path"
                    }
                  }
                }
              }
            },
            "effectiveCustomModules": {
              "methods": {
                "list": {
                  "id": "securitycenter.folders.eventThreatDetectionSettings.effectiveCustomModules.list",
                  "parameters": {
                    "parent": {
                      "pattern": "^folders/[^/]+/eventThreatDetectionSettings$",
                      "type": "string",
                      "location": "path",
                      "required": true
                    },
                    "pageToken": {
                      "type": "string",
                      "location": "query"
                    },
                    "pageSize": {
                      "type": "integer",
                      "format": "int32",
                      "location": "query"
                    }
                  },
                  "description": "",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/securitycenter"
                  ],
                  "flatPath": "v1/folders/{foldersId}/eventThreatDetectionSettings/effectiveCustomModules",
                  "response": {
                    "$ref": "ListEffectiveEventThreatDetectionCustomModulesResponse"
                  },
                  "path": "v1/{+parent}/effectiveCustomModules",
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "parent"
                  ]
                },
                "get": {
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1/folders/{foldersId}/eventThreatDetectionSettings/effectiveCustomModules/{effectiveCustomModulesId}",
                  "response": {
                    "$ref": "EffectiveEventThreatDetectionCustomModule"
                  },
                  "description": "",
                  "path": "v1/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/securitycenter"
                  ],
                  "parameters": {
                    "name": {
                      "pattern": "^folders/[^/]+/eventThreatDetectionSettings/effectiveCustomModules/[^/]+$",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "id": "securitycenter.folders.eventThreatDetectionSettings.effectiveCustomModules.get"
                }
              }
            }
          },
          "methods": {
            "validateCustomModule": {
              "parameterOrder": [
                "parent"
              ],
              "flatPath": "v1/folders/{foldersId}/eventThreatDetectionSettings:validateCustomModule",
              "httpMethod": "POST",
              "response": {
                "$ref": "ValidateEventThreatDetectionCustomModuleResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/securitycenter"
              ],
              "request": {
                "$ref": "ValidateEventThreatDetectionCustomModuleRequest"
              },
              "id": "securitycenter.folders.eventThreatDetectionSettings.validateCustomModule",
              "path": "v1/{+parent}:validateCustomModule",
              "parameters": {
                "parent": {
                  "location": "path",
                  "pattern": "^folders/[^/]+/eventThreatDetectionSettings$",
                  "required": true,
                  "type": "string"
                }
              },
              "description": ""
            }
          }
        },
        "findings": {
          "methods": {
            "bulkMute": {
              "parameterOrder": [
                "parent"
              ],
              "flatPath": "v1/folders/{foldersId}/findings:bulkMute",
              "response": {
                "$ref": "Operation"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/securitycenter"
              ],
              "path": "v1/{+parent}/findings:bulkMute",
              "parameters": {
                "parent": {
                  "pattern": "^folders/[^/]+$",
                  "required": true,
                  "location": "path",
                  "type": "string"
                }
              },
              "request": {
                "$ref": "BulkMuteFindingsRequest"
              },
              "httpMethod": "POST",
              "id": "securitycenter.folders.findings.bulkMute",
              "description": ""
            }
          }
        },
        "securityHealthAnalyticsSettings": {
          "resources": {
            "effectiveCustomModules": {
              "methods": {
                "list": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/securitycenter"
                  ],
                  "description": "",
                  "parameterOrder": [
                    "parent"
                  ],
                  "httpMethod": "GET",
                  "flatPath": "v1/folders/{foldersId}/securityHealthAnalyticsSettings/effectiveCustomModules",
                  "path": "v1/{+parent}/effectiveCustomModules",
                  "parameters": {
                    "pageSize": {
                      "format": "int32",
                      "type": "integer",
                      "location": "query"
                    },
                    "parent": {
                      "required": true,
                      "location": "path",
                      "type": "string",
                      "pattern": "^folders/[^/]+/securityHealthAnalyticsSettings$"
                    },
                    "pageToken": {
                      "type": "string",
                      "location": "query"
                    }
                  },
                  "response": {
                    "$ref": "ListEffectiveSecurityHealthAnalyticsCustomModulesResponse"
                  },
                  "id": "securitycenter.folders.securityHealthAnalyticsSettings.effectiveCustomModules.list"
                },
                "get": {
                  "path": "v1/{+name}",
                  "response": {
                    "$ref": "GoogleCloudSecuritycenterV1EffectiveSecurityHealthAnalyticsCustomModule"
                  },
                  "flatPath": "v1/folders/{foldersId}/securityHealthAnalyticsSettings/effectiveCustomModules/{effectiveCustomModulesId}",
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/securitycenter"
                  ],
                  "id": "securitycenter.folders.securityHealthAnalyticsSettings.effectiveCustomModules.get",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "pattern": "^folders/[^/]+/securityHealthAnalyticsSettings/effectiveCustomModules/[^/]+$"
                    }
                  },
                  "description": "",
                  "parameterOrder": [
                    "name"
                  ]
                }
              }
            },
            "customModules": {
              "methods": {
                "list": {
                  "httpMethod": "GET",
                  "description": "",
                  "flatPath": "v1/folders/{foldersId}/securityHealthAnalyticsSettings/customModules",
                  "response": {
                    "$ref": "ListSecurityHealthAnalyticsCustomModulesResponse"
                  },
                  "id": "securitycenter.folders.securityHealthAnalyticsSettings.customModules.list",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/securitycenter"
                  ],
                  "parameters": {
                    "pageSize": {
                      "type": "integer",
                      "format": "int32",
                      "location": "query"
                    },
                    "pageToken": {
                      "type": "string",
                      "location": "query"
                    },
                    "parent": {
                      "type": "string",
                      "pattern": "^folders/[^/]+/securityHealthAnalyticsSettings$",
                      "location": "path",
                      "required": true
                    }
                  },
                  "path": "v1/{+parent}/customModules",
                  "parameterOrder": [
                    "parent"
                  ]
                },
                "delete": {
                  "id": "securitycenter.folders.securityHealthAnalyticsSettings.customModules.delete",
                  "response": {
                    "$ref": "Empty"
                  },
                  "flatPath": "v1/folders/{foldersId}/securityHealthAnalyticsSettings/customModules/{customModulesId}",
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "DELETE",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/securitycenter"
                  ],
                  "parameters": {
                    "name": {
                      "pattern": "^folders/[^/]+/securityHealthAnalyticsSettings/customModules/[^/]+$",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "path": "v1/{+name}",
                  "description": ""
                },
                "simulate": {
                  "parameterOrder": [
                    "parent"
                  ],
                  "parameters": {
                    "parent": {
                      "type": "string",
                      "required": true,
                      "pattern": "^folders/[^/]+/securityHealthAnalyticsSettings$",
                      "location": "path"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/securitycenter"
                  ],
                  "path": "v1/{+parent}/customModules:simulate",
                  "response": {
                    "$ref": "SimulateSecurityHealthAnalyticsCustomModuleResponse"
                  },
                  "flatPath": "v1/folders/{foldersId}/securityHealthAnalyticsSettings/customModules:simulate",
                  "request": {
                    "$ref": "SimulateSecurityHealthAnalyticsCustomModuleRequest"
                  },
                  "id": "securitycenter.folders.securityHealthAnalyticsSettings.customModules.simulate",
                  "description": "",
                  "httpMethod": "POST"
                },
                "create": {
                  "httpMethod": "POST",
                  "id": "securitycenter.folders.securityHealthAnalyticsSettings.customModules.create",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/securitycenter"
                  ],
                  "path": "v1/{+parent}/customModules",
                  "response": {
                    "$ref": "GoogleCloudSecuritycenterV1SecurityHealthAnalyticsCustomModule"
                  },
                  "description": "",
                  "flatPath": "v1/folders/{foldersId}/securityHealthAnalyticsSettings/customModules",
                  "parameterOrder": [
                    "parent"
                  ],
                  "parameters": {
                    "parent": {
                      "pattern": "^folders/[^/]+/securityHealthAnalyticsSettings$",
                      "location": "path",
                      "type": "string",
                      "required": true
                    }
                  },
                  "request": {
                    "$ref": "GoogleCloudSecuritycenterV1SecurityHealthAnalyticsCustomModule"
                  }
                },
                "get": {
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/securitycenter"
                  ],
                  "description": "",
                  "response": {
                    "$ref": "GoogleCloudSecuritycenterV1SecurityHealthAnalyticsCustomModule"
                  },
                  "httpMethod": "GET",
                  "flatPath": "v1/folders/{foldersId}/securityHealthAnalyticsSettings/customModules/{customModulesId}",
                  "parameters": {
                    "name": {
                      "required": true,
                      "location": "path",
                      "type": "string",
                      "pattern": "^folders/[^/]+/securityHealthAnalyticsSettings/customModules/[^/]+$"
                    }
                  },
                  "path": "v1/{+name}",
                  "id": "securitycenter.folders.securityHealthAnalyticsSettings.customModules.get"
                },
                "patch": {
                  "httpMethod": "PATCH",
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1/{+name}",
                  "description": "",
                  "response": {
                    "$ref": "GoogleCloudSecuritycenterV1SecurityHealthAnalyticsCustomModule"
                  },
                  "id": "securitycenter.folders.securityHealthAnalyticsSettings.customModules.patch",
                  "flatPath": "v1/folders/{foldersId}/securityHealthAnalyticsSettings/customModules/{customModulesId}",
                  "request": {
                    "$ref": "GoogleCloudSecuritycenterV1SecurityHealthAnalyticsCustomModule"
                  },
                  "parameters": {
                    "name": {
                      "type": "string",
                      "pattern": "^folders/[^/]+/securityHealthAnalyticsSettings/customModules/[^/]+$",
                      "location": "path",
                      "required": true
                    },
                    "updateMask": {
                      "type": "string",
                      "format": "google-fieldmask",
                      "location": "query"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/securitycenter"
                  ]
                },
                "listDescendant": {
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "parent"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/securitycenter"
                  ],
                  "description": "",
                  "flatPath": "v1/folders/{foldersId}/securityHealthAnalyticsSettings/customModules:listDescendant",
                  "path": "v1/{+parent}/customModules:listDescendant",
                  "id": "securitycenter.folders.securityHealthAnalyticsSettings.customModules.listDescendant",
                  "response": {
                    "$ref": "ListDescendantSecurityHealthAnalyticsCustomModulesResponse"
                  },
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "pattern": "^folders/[^/]+/securityHealthAnalyticsSettings$",
                      "required": true,
                      "type": "string"
                    },
                    "pageToken": {
                      "location": "query",
                      "type": "string"
                    },
                    "pageSize": {
                      "format": "int32",
                      "type": "integer",
                      "location": "query"
                    }
                  }
                }
              }
            }
          }
        },
        "assets": {
          "methods": {
            "updateSecurityMarks": {
              "id": "securitycenter.folders.assets.updateSecurityMarks",
              "response": {
                "$ref": "SecurityMarks"
              },
              "flatPath": "v1/folders/{foldersId}/assets/{assetsId}/securityMarks",
              "parameters": {
                "name": {
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "pattern": "^folders/[^/]+/assets/[^/]+/securityMarks$"
                },
                "updateMask": {
                  "location": "query",
                  "format": "google-fieldmask",
                  "type": "string"
                },
                "startTime": {
                  "location": "query",
                  "type": "string",
                  "format": "google-datetime"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/securitycenter"
              ],
              "httpMethod": "PATCH",
              "description": "",
              "path": "v1/{+name}",
              "request": {
                "$ref": "SecurityMarks"
              }
            },
            "list": {
              "description": "",
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "ListAssetsResponse"
              },
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/securitycenter"
              ],
              "flatPath": "v1/folders/{foldersId}/assets",
              "id": "securitycenter.folders.assets.list",
              "parameters": {
                "pageToken": {
                  "type": "string",
                  "location": "query"
                },
                "readTime": {
                  "location": "query",
                  "type": "string",
                  "format": "google-datetime"
                },
                "pageSize": {
                  "format": "int32",
                  "location": "query",
                  "type": "integer"
                },
                "parent": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "pattern": "^folders/[^/]+$"
                },
                "compareDuration": {
                  "format": "google-duration",
                  "type": "string",
                  "location": "query"
                },
                "orderBy": {
                  "location": "query",
                  "type": "string"
                },
                "filter": {
                  "location": "query",
                  "type": "string"
                },
                "fieldMask": {
                  "format": "google-fieldmask",
                  "type": "string",
                  "location": "query"
                }
              },
              "deprecated": true,
              "path": "v1/{+parent}/assets"
            },
            "group": {
              "description": "",
              "path": "v1/{+parent}/assets:group",
              "id": "securitycenter.folders.assets.group",
              "flatPath": "v1/folders/{foldersId}/assets:group",
              "deprecated": true,
              "response": {
                "$ref": "GroupAssetsResponse"
              },
              "parameters": {
                "parent": {
                  "location": "path",
                  "pattern": "^folders/[^/]+$",
                  "type": "string",
                  "required": true
                }
              },
              "request": {
                "$ref": "GroupAssetsRequest"
              },
              "httpMethod": "POST",
              "parameterOrder": [
                "parent"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/securitycenter"
              ]
            }
          }
        }
      }
    },
    "organizations": {
      "methods": {
        "getOrganizationSettings": {
          "description": "",
          "path": "v1/{+name}",
          "response": {
            "$ref": "OrganizationSettings"
          },
          "httpMethod": "GET",
          "flatPath": "v1/organizations/{organizationsId}/organizationSettings",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/securitycenter"
          ],
          "id": "securitycenter.organizations.getOrganizationSettings",
          "parameterOrder": [
            "name"
          ],
          "parameters": {
            "name": {
              "pattern": "^organizations/[^/]+/organizationSettings$",
              "type": "string",
              "location": "path",
              "required": true
            }
          }
        },
        "updateOrganizationSettings": {
          "parameterOrder": [
            "name"
          ],
          "response": {
            "$ref": "OrganizationSettings"
          },
          "description": "",
          "flatPath": "v1/organizations/{organizationsId}/organizationSettings",
          "parameters": {
            "name": {
              "type": "string",
              "pattern": "^organizations/[^/]+/organizationSettings$",
              "required": true,
              "location": "path"
            },
            "updateMask": {
              "type": "string",
              "location": "query",
              "format": "google-fieldmask"
            }
          },
          "deprecated": true,
          "path": "v1/{+name}",
          "request": {
            "$ref": "OrganizationSettings"
          },
          "httpMethod": "PATCH",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/securitycenter"
          ],
          "id": "securitycenter.organizations.updateOrganizationSettings"
        }
      },
      "resources": {
        "eventThreatDetectionSettings": {
          "resources": {
            "customModules": {
              "methods": {
                "get": {
                  "id": "securitycenter.organizations.eventThreatDetectionSettings.customModules.get",
                  "description": "",
                  "path": "v1/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/securitycenter"
                  ],
                  "flatPath": "v1/organizations/{organizationsId}/eventThreatDetectionSettings/customModules/{customModulesId}",
                  "response": {
                    "$ref": "EventThreatDetectionCustomModule"
                  },
                  "parameters": {
                    "name": {
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "pattern": "^organizations/[^/]+/eventThreatDetectionSettings/customModules/[^/]+$"
                    }
                  },
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "name"
                  ]
                },
                "list": {
                  "parameters": {
                    "parent": {
                      "type": "string",
                      "required": true,
                      "location": "path",
                      "pattern": "^organizations/[^/]+/eventThreatDetectionSettings$"
                    },
                    "pageSize": {
                      "format": "int32",
                      "type": "integer",
                      "location": "query"
                    },
                    "pageToken": {
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "flatPath": "v1/organizations/{organizationsId}/eventThreatDetectionSettings/customModules",
                  "response": {
                    "$ref": "ListEventThreatDetectionCustomModulesResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/securitycenter"
                  ],
                  "description": "",
                  "id": "securitycenter.organizations.eventThreatDetectionSettings.customModules.list",
                  "path": "v1/{+parent}/customModules",
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "parent"
                  ]
                },
                "patch": {
                  "description": "",
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "updateMask": {
                      "type": "string",
                      "location": "query",
                      "format": "google-fieldmask"
                    },
                    "name": {
                      "required": true,
                      "location": "path",
                      "type": "string",
                      "pattern": "^organizations/[^/]+/eventThreatDetectionSettings/customModules/[^/]+$"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/securitycenter"
                  ],
                  "path": "v1/{+name}",
                  "request": {
                    "$ref": "EventThreatDetectionCustomModule"
                  },
                  "httpMethod": "PATCH",
                  "response": {
                    "$ref": "EventThreatDetectionCustomModule"
                  },
                  "flatPath": "v1/organizations/{organizationsId}/eventThreatDetectionSettings/customModules/{customModulesId}",
                  "id": "securitycenter.organizations.eventThreatDetectionSettings.customModules.patch"
                },
                "create": {
                  "id": "securitycenter.organizations.eventThreatDetectionSettings.customModules.create",
                  "description": "",
                  "parameters": {
                    "parent": {
                      "required": true,
                      "location": "path",
                      "type": "string",
                      "pattern": "^organizations/[^/]+/eventThreatDetectionSettings$"
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "EventThreatDetectionCustomModule"
                  },
                  "path": "v1/{+parent}/customModules",
                  "flatPath": "v1/organizations/{organizationsId}/eventThreatDetectionSettings/customModules",
                  "request": {
                    "$ref": "EventThreatDetectionCustomModule"
                  },
                  "httpMethod": "POST",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/securitycenter"
                  ]
                },
                "listDescendant": {
                  "path": "v1/{+parent}/customModules:listDescendant",
                  "parameters": {
                    "pageToken": {
                      "type": "string",
                      "location": "query"
                    },
                    "parent": {
                      "pattern": "^organizations/[^/]+/eventThreatDetectionSettings$",
                      "location": "path",
                      "type": "string",
                      "required": true
                    },
                    "pageSize": {
                      "format": "int32",
                      "type": "integer",
                      "location": "query"
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "description": "",
                  "id": "securitycenter.organizations.eventThreatDetectionSettings.customModules.listDescendant",
                  "response": {
                    "$ref": "ListDescendantEventThreatDetectionCustomModulesResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/securitycenter"
                  ],
                  "flatPath": "v1/organizations/{organizationsId}/eventThreatDetectionSettings/customModules:listDescendant",
                  "httpMethod": "GET"
                },
                "delete": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/securitycenter"
                  ],
                  "id": "securitycenter.organizations.eventThreatDetectionSettings.customModules.delete",
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1/organizations/{organizationsId}/eventThreatDetectionSettings/customModules/{customModulesId}",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "type": "string",
                      "required": true,
                      "pattern": "^organizations/[^/]+/eventThreatDetectionSettings/customModules/[^/]+$"
                    }
                  },
                  "response": {
                    "$ref": "Empty"
                  },
                  "httpMethod": "DELETE",
                  "description": "",
                  "path": "v1/{+name}"
                }
              }
            },
            "effectiveCustomModules": {
              "methods": {
                "list": {
                  "description": "",
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/securitycenter"
                  ],
                  "parameterOrder": [
                    "parent"
                  ],
                  "parameters": {
                    "pageSize": {
                      "format": "int32",
                      "location": "query",
                      "type": "integer"
                    },
                    "parent": {
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "pattern": "^organizations/[^/]+/eventThreatDetectionSettings$"
                    },
                    "pageToken": {
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "path": "v1/{+parent}/effectiveCustomModules",
                  "flatPath": "v1/organizations/{organizationsId}/eventThreatDetectionSettings/effectiveCustomModules",
                  "response": {
                    "$ref": "ListEffectiveEventThreatDetectionCustomModulesResponse"
                  },
                  "id": "securitycenter.organizations.eventThreatDetectionSettings.effectiveCustomModules.list"
                },
                "get": {
                  "httpMethod": "GET",
                  "flatPath": "v1/organizations/{organizationsId}/eventThreatDetectionSettings/effectiveCustomModules/{effectiveCustomModulesId}",
                  "id": "securitycenter.organizations.eventThreatDetectionSettings.effectiveCustomModules.get",
                  "response": {
                    "$ref": "EffectiveEventThreatDetectionCustomModule"
                  },
                  "path": "v1/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/securitycenter"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "pattern": "^organizations/[^/]+/eventThreatDetectionSettings/effectiveCustomModules/[^/]+$"
                    }
                  },
                  "description": ""
                }
              }
            }
          },
          "methods": {
            "validateCustomModule": {
              "parameters": {
                "parent": {
                  "required": true,
                  "location": "path",
                  "pattern": "^organizations/[^/]+/eventThreatDetectionSettings$",
                  "type": "string"
                }
              },
              "description": "",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/securitycenter"
              ],
              "request": {
                "$ref": "ValidateEventThreatDetectionCustomModuleRequest"
              },
              "flatPath": "v1/organizations/{organizationsId}/eventThreatDetectionSettings:validateCustomModule",
              "id": "securitycenter.organizations.eventThreatDetectionSettings.validateCustomModule",
              "path": "v1/{+parent}:validateCustomModule",
              "response": {
                "$ref": "ValidateEventThreatDetectionCustomModuleResponse"
              },
              "parameterOrder": [
                "parent"
              ],
              "httpMethod": "POST"
            }
          }
        },
        "muteConfigs": {
          "methods": {
            "get": {
              "flatPath": "v1/organizations/{organizationsId}/muteConfigs/{muteConfigsId}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/securitycenter"
              ],
              "response": {
                "$ref": "GoogleCloudSecuritycenterV1MuteConfig"
              },
              "parameters": {
                "name": {
                  "type": "string",
                  "required": true,
                  "location": "path",
                  "pattern": "^organizations/[^/]+/muteConfigs/[^/]+$"
                }
              },
              "id": "securitycenter.organizations.muteConfigs.get",
              "description": "",
              "path": "v1/{+name}",
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "GET"
            },
            "delete": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/securitycenter"
              ],
              "parameterOrder": [
                "name"
              ],
              "description": "",
              "parameters": {
                "name": {
                  "required": true,
                  "location": "path",
                  "pattern": "^organizations/[^/]+/muteConfigs/[^/]+$",
                  "type": "string"
                }
              },
              "path": "v1/{+name}",
              "httpMethod": "DELETE",
              "id": "securitycenter.organizations.muteConfigs.delete",
              "response": {
                "$ref": "Empty"
              },
              "flatPath": "v1/organizations/{organizationsId}/muteConfigs/{muteConfigsId}"
            },
            "list": {
              "httpMethod": "GET",
              "path": "v1/{+parent}/muteConfigs",
              "id": "securitycenter.organizations.muteConfigs.list",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/securitycenter"
              ],
              "description": "",
              "flatPath": "v1/organizations/{organizationsId}/muteConfigs",
              "response": {
                "$ref": "ListMuteConfigsResponse"
              },
              "parameters": {
                "pageToken": {
                  "type": "string",
                  "location": "query"
                },
                "pageSize": {
                  "location": "query",
                  "format": "int32",
                  "type": "integer"
                },
                "parent": {
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "pattern": "^organizations/[^/]+$"
                }
              },
              "parameterOrder": [
                "parent"
              ]
            },
            "patch": {
              "httpMethod": "PATCH",
              "path": "v1/{+name}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/securitycenter"
              ],
              "request": {
                "$ref": "GoogleCloudSecuritycenterV1MuteConfig"
              },
              "id": "securitycenter.organizations.muteConfigs.patch",
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "GoogleCloudSecuritycenterV1MuteConfig"
              },
              "description": "",
              "flatPath": "v1/organizations/{organizationsId}/muteConfigs/{muteConfigsId}",
              "parameters": {
                "updateMask": {
                  "type": "string",
                  "format": "google-fieldmask",
                  "location": "query"
                },
                "name": {
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "pattern": "^organizations/[^/]+/muteConfigs/[^/]+$"
                }
              }
            },
            "create": {
              "response": {
                "$ref": "GoogleCloudSecuritycenterV1MuteConfig"
              },
              "flatPath": "v1/organizations/{organizationsId}/muteConfigs",
              "httpMethod": "POST",
              "parameterOrder": [
                "parent"
              ],
              "parameters": {
                "parent": {
                  "required": true,
                  "pattern": "^organizations/[^/]+$",
                  "location": "path",
                  "type": "string"
                },
                "muteConfigId": {
                  "location": "query",
                  "type": "string"
                }
              },
              "request": {
                "$ref": "GoogleCloudSecuritycenterV1MuteConfig"
              },
              "path": "v1/{+parent}/muteConfigs",
              "id": "securitycenter.organizations.muteConfigs.create",
              "description": "",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/securitycenter"
              ]
            }
          }
        },
        "findings": {
          "methods": {
            "bulkMute": {
              "httpMethod": "POST",
              "parameterOrder": [
                "parent"
              ],
              "id": "securitycenter.organizations.findings.bulkMute",
              "description": "",
              "path": "v1/{+parent}/findings:bulkMute",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/securitycenter"
              ],
              "parameters": {
                "parent": {
                  "required": true,
                  "location": "path",
                  "pattern": "^organizations/[^/]+$",
                  "type": "string"
                }
              },
              "response": {
                "$ref": "Operation"
              },
              "request": {
                "$ref": "BulkMuteFindingsRequest"
              },
              "flatPath": "v1/organizations/{organizationsId}/findings:bulkMute"
            }
          }
        },
        "simulations": {
          "methods": {
            "get": {
              "parameters": {
                "name": {
                  "required": true,
                  "type": "string",
                  "pattern": "^organizations/[^/]+/simulations/[^/]+$",
                  "location": "path"
                }
              },
              "path": "v1/{+name}",
              "httpMethod": "GET",
              "description": "",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/securitycenter"
              ],
              "flatPath": "v1/organizations/{organizationsId}/simulations/{simulationsId}",
              "response": {
                "$ref": "Simulation"
              },
              "parameterOrder": [
                "name"
              ],
              "id": "securitycenter.organizations.simulations.get"
            }
          },
          "resources": {
            "valuedResources": {
              "resources": {
                "attackPaths": {
                  "methods": {
                    "list": {
                      "id": "securitycenter.organizations.simulations.valuedResources.attackPaths.list",
                      "response": {
                        "$ref": "ListAttackPathsResponse"
                      },
                      "parameters": {
                        "pageToken": {
                          "location": "query",
                          "type": "string"
                        },
                        "pageSize": {
                          "location": "query",
                          "type": "integer",
                          "format": "int32"
                        },
                        "parent": {
                          "pattern": "^organizations/[^/]+/simulations/[^/]+/valuedResources/[^/]+$",
                          "required": true,
                          "location": "path",
                          "type": "string"
                        },
                        "filter": {
                          "location": "query",
                          "type": "string"
                        }
                      },
                      "flatPath": "v1/organizations/{organizationsId}/simulations/{simulationsId}/valuedResources/{valuedResourcesId}/attackPaths",
                      "parameterOrder": [
                        "parent"
                      ],
                      "httpMethod": "GET",
                      "path": "v1/{+parent}/attackPaths",
                      "description": "",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/securitycenter"
                      ]
                    }
                  }
                }
              },
              "methods": {
                "list": {
                  "httpMethod": "GET",
                  "id": "securitycenter.organizations.simulations.valuedResources.list",
                  "path": "v1/{+parent}/valuedResources",
                  "description": "",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/securitycenter"
                  ],
                  "response": {
                    "$ref": "ListValuedResourcesResponse"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "flatPath": "v1/organizations/{organizationsId}/simulations/{simulationsId}/valuedResources",
                  "parameters": {
                    "orderBy": {
                      "type": "string",
                      "location": "query"
                    },
                    "parent": {
                      "required": true,
                      "location": "path",
                      "pattern": "^organizations/[^/]+/simulations/[^/]+$",
                      "type": "string"
                    },
                    "pageToken": {
                      "location": "query",
                      "type": "string"
                    },
                    "pageSize": {
                      "format": "int32",
                      "location": "query",
                      "type": "integer"
                    },
                    "filter": {
                      "type": "string",
                      "location": "query"
                    }
                  }
                },
                "get": {
                  "description": "",
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1/organizations/{organizationsId}/simulations/{simulationsId}/valuedResources/{valuedResourcesId}",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "pattern": "^organizations/[^/]+/simulations/[^/]+/valuedResources/[^/]+$",
                      "location": "path",
                      "required": true
                    }
                  },
                  "response": {
                    "$ref": "ValuedResource"
                  },
                  "httpMethod": "GET",
                  "id": "securitycenter.organizations.simulations.valuedResources.get",
                  "path": "v1/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/securitycenter"
                  ]
                }
              }
            },
            "attackPaths": {
              "methods": {
                "list": {
                  "httpMethod": "GET",
                  "flatPath": "v1/organizations/{organizationsId}/simulations/{simulationsId}/attackPaths",
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "ListAttackPathsResponse"
                  },
                  "path": "v1/{+parent}/attackPaths",
                  "id": "securitycenter.organizations.simulations.attackPaths.list",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/securitycenter"
                  ],
                  "description": "",
                  "parameters": {
                    "pageToken": {
                      "location": "query",
                      "type": "string"
                    },
                    "parent": {
                      "pattern": "^organizations/[^/]+/simulations/[^/]+$",
                      "type": "string",
                      "location": "path",
                      "required": true
                    },
                    "filter": {
                      "type": "string",
                      "location": "query"
                    },
                    "pageSize": {
                      "type": "integer",
                      "format": "int32",
                      "location": "query"
                    }
                  }
                }
              }
            },
            "attackExposureResults": {
              "resources": {
                "valuedResources": {
                  "methods": {
                    "list": {
                      "httpMethod": "GET",
                      "flatPath": "v1/organizations/{organizationsId}/simulations/{simulationsId}/attackExposureResults/{attackExposureResultsId}/valuedResources",
                      "parameterOrder": [
                        "parent"
                      ],
                      "response": {
                        "$ref": "ListValuedResourcesResponse"
                      },
                      "path": "v1/{+parent}/valuedResources",
                      "description": "",
                      "parameters": {
                        "pageToken": {
                          "location": "query",
                          "type": "string"
                        },
                        "pageSize": {
                          "type": "integer",
                          "format": "int32",
                          "location": "query"
                        },
                        "filter": {
                          "type": "string",
                          "location": "query"
                        },
                        "orderBy": {
                          "location": "query",
                          "type": "string"
                        },
                        "parent": {
                          "required": true,
                          "type": "string",
                          "location": "path",
                          "pattern": "^organizations/[^/]+/simulations/[^/]+/attackExposureResults/[^/]+$"
                        }
                      },
                      "id": "securitycenter.organizations.simulations.attackExposureResults.valuedResources.list",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/securitycenter"
                      ]
                    }
                  }
                },
                "attackPaths": {
                  "methods": {
                    "list": {
                      "id": "securitycenter.organizations.simulations.attackExposureResults.attackPaths.list",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/securitycenter"
                      ],
                      "flatPath": "v1/organizations/{organizationsId}/simulations/{simulationsId}/attackExposureResults/{attackExposureResultsId}/attackPaths",
                      "httpMethod": "GET",
                      "response": {
                        "$ref": "ListAttackPathsResponse"
                      },
                      "parameters": {
                        "parent": {
                          "required": true,
                          "type": "string",
                          "location": "path",
                          "pattern": "^organizations/[^/]+/simulations/[^/]+/attackExposureResults/[^/]+$"
                        },
                        "filter": {
                          "type": "string",
                          "location": "query"
                        },
                        "pageSize": {
                          "location": "query",
                          "format": "int32",
                          "type": "integer"
                        },
                        "pageToken": {
                          "type": "string",
                          "location": "query"
                        }
                      },
                      "description": "",
                      "path": "v1/{+parent}/attackPaths",
                      "parameterOrder": [
                        "parent"
                      ]
                    }
                  }
                }
              }
            }
          }
        },
        "locations": {
          "resources": {
            "muteConfigs": {
              "methods": {
                "patch": {
                  "id": "securitycenter.organizations.locations.muteConfigs.patch",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "pattern": "^organizations/[^/]+/locations/[^/]+/muteConfigs/[^/]+$",
                      "location": "path",
                      "required": true
                    },
                    "updateMask": {
                      "location": "query",
                      "format": "google-fieldmask",
                      "type": "string"
                    }
                  },
                  "flatPath": "v1/organizations/{organizationsId}/locations/{locationsId}/muteConfigs/{muteConfigsId}",
                  "description": "",
                  "httpMethod": "PATCH",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/securitycenter"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "GoogleCloudSecuritycenterV1MuteConfig"
                  },
                  "request": {
                    "$ref": "GoogleCloudSecuritycenterV1MuteConfig"
                  },
                  "path": "v1/{+name}"
                },
                "delete": {
                  "response": {
                    "$ref": "Empty"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1/organizations/{organizationsId}/locations/{locationsId}/muteConfigs/{muteConfigsId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/securitycenter"
                  ],
                  "httpMethod": "DELETE",
                  "id": "securitycenter.organizations.locations.muteConfigs.delete",
                  "description": "",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "location": "path",
                      "pattern": "^organizations/[^/]+/locations/[^/]+/muteConfigs/[^/]+$",
                      "required": true
                    }
                  },
                  "path": "v1/{+name}"
                },
                "get": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/securitycenter"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "GET",
                  "flatPath": "v1/organizations/{organizationsId}/locations/{locationsId}/muteConfigs/{muteConfigsId}",
                  "id": "securitycenter.organizations.locations.muteConfigs.get",
                  "description": "",
                  "response": {
                    "$ref": "GoogleCloudSecuritycenterV1MuteConfig"
                  },
                  "path": "v1/{+name}",
                  "parameters": {
                    "name": {
                      "required": true,
                      "location": "path",
                      "type": "string",
                      "pattern": "^organizations/[^/]+/locations/[^/]+/muteConfigs/[^/]+$"
                    }
                  }
                }
              }
            }
          }
        },
        "assets": {
          "methods": {
            "list": {
              "id": "securitycenter.organizations.assets.list",
              "httpMethod": "GET",
              "parameterOrder": [
                "parent"
              ],
              "description": "",
              "response": {
                "$ref": "ListAssetsResponse"
              },
              "flatPath": "v1/organizations/{organizationsId}/assets",
              "deprecated": true,
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/securitycenter"
              ],
              "path": "v1/{+parent}/assets",
              "parameters": {
                "pageToken": {
                  "type": "string",
                  "location": "query"
                },
                "filter": {
                  "location": "query",
                  "type": "string"
                },
                "readTime": {
                  "format": "google-datetime",
                  "type": "string",
                  "location": "query"
                },
                "pageSize": {
                  "type": "integer",
                  "format": "int32",
                  "location": "query"
                },
                "compareDuration": {
                  "location": "query",
                  "type": "string",
                  "format": "google-duration"
                },
                "parent": {
                  "type": "string",
                  "required": true,
                  "pattern": "^organizations/[^/]+$",
                  "location": "path"
                },
                "orderBy": {
                  "location": "query",
                  "type": "string"
                },
                "fieldMask": {
                  "format": "google-fieldmask",
                  "location": "query",
                  "type": "string"
                }
              }
            },
            "group": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/securitycenter"
              ],
              "path": "v1/{+parent}/assets:group",
              "httpMethod": "POST",
              "parameters": {
                "parent": {
                  "type": "string",
                  "pattern": "^organizations/[^/]+$",
                  "location": "path",
                  "required": true
                }
              },
              "description": "",
              "id": "securitycenter.organizations.assets.group",
              "deprecated": true,
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "GroupAssetsResponse"
              },
              "flatPath": "v1/organizations/{organizationsId}/assets:group",
              "request": {
                "$ref": "GroupAssetsRequest"
              }
            },
            "updateSecurityMarks": {
              "id": "securitycenter.organizations.assets.updateSecurityMarks",
              "httpMethod": "PATCH",
              "parameterOrder": [
                "name"
              ],
              "request": {
                "$ref": "SecurityMarks"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/securitycenter"
[...]
