{
  "title": "Security Command Center API",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        },
        "https://www.googleapis.com/auth/securitycenter": {
          "description": "See, edit, configure, and delete your Google Cloud Security Command Center data and see the email address for your Google Account"
        }
      }
    }
  },
  "protocol": "rest",
  "discoveryVersion": "v1",
  "parameters": {
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "location": "query",
      "type": "boolean"
    },
    "callback": {
      "type": "string",
      "location": "query",
      "description": "JSONP"
    },
    "alt": {
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "location": "query",
      "default": "json",
      "type": "string",
      "description": "Data format for response.",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ]
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "$.xgafv": {
      "enum": [
        "1",
        "2"
      ],
      "location": "query",
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format."
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "location": "query",
      "type": "string"
    },
    "fields": {
      "type": "string",
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "access_token": {
      "location": "query",
      "description": "OAuth access token.",
      "type": "string"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    }
  },
  "version_module": true,
  "resources": {
    "organizations": {
      "methods": {
        "updateOrganizationSettings": {
          "flatPath": "v1beta1/organizations/{organizationsId}/organizationSettings",
          "response": {
            "$ref": "OrganizationSettings"
          },
          "parameters": {
            "updateMask": {
              "location": "query",
              "format": "google-fieldmask",
              "type": "string"
            },
            "name": {
              "required": true,
              "pattern": "^organizations/[^/]+/organizationSettings$",
              "location": "path",
              "type": "string"
            }
          },
          "id": "securitycenter.organizations.updateOrganizationSettings",
          "httpMethod": "PATCH",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/securitycenter"
          ],
          "description": "",
          "path": "v1beta1/{+name}",
          "request": {
            "$ref": "OrganizationSettings"
          },
          "parameterOrder": [
            "name"
          ],
          "deprecated": true
        },
        "getOrganizationSettings": {
          "description": "",
          "flatPath": "v1beta1/organizations/{organizationsId}/organizationSettings",
          "response": {
            "$ref": "OrganizationSettings"
          },
          "parameterOrder": [
            "name"
          ],
          "path": "v1beta1/{+name}",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/securitycenter"
          ],
          "parameters": {
            "name": {
              "location": "path",
              "required": true,
              "type": "string",
              "pattern": "^organizations/[^/]+/organizationSettings$"
            }
          },
          "id": "securitycenter.organizations.getOrganizationSettings",
          "httpMethod": "GET"
        }
      },
      "resources": {
        "assets": {
          "methods": {
            "list": {
              "flatPath": "v1beta1/organizations/{organizationsId}/assets",
              "response": {
                "$ref": "ListAssetsResponse"
              },
              "path": "v1beta1/{+parent}/assets",
              "description": "",
              "id": "securitycenter.organizations.assets.list",
              "parameterOrder": [
                "parent"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/securitycenter"
              ],
              "httpMethod": "GET",
              "parameters": {
                "compareDuration": {
                  "type": "string",
                  "location": "query",
                  "format": "google-duration"
                },
                "parent": {
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "pattern": "^organizations/[^/]+$"
                },
                "pageSize": {
                  "format": "int32",
                  "location": "query",
                  "type": "integer"
                },
                "fieldMask": {
                  "format": "google-fieldmask",
                  "location": "query",
                  "type": "string"
                },
                "pageToken": {
                  "location": "query",
                  "type": "string"
                },
                "filter": {
                  "location": "query",
                  "type": "string"
                },
                "readTime": {
                  "format": "google-datetime",
                  "type": "string",
                  "location": "query"
                },
                "orderBy": {
                  "location": "query",
                  "type": "string"
                }
              }
            },
            "updateSecurityMarks": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/securitycenter"
              ],
              "httpMethod": "PATCH",
              "request": {
                "$ref": "GoogleCloudSecuritycenterV1beta1SecurityMarks"
              },
              "description": "",
              "id": "securitycenter.organizations.assets.updateSecurityMarks",
              "parameters": {
                "updateMask": {
                  "location": "query",
                  "type": "string",
                  "format": "google-fieldmask"
                },
                "name": {
                  "type": "string",
                  "pattern": "^organizations/[^/]+/assets/[^/]+/securityMarks$",
                  "location": "path",
                  "required": true
                },
                "startTime": {
                  "location": "query",
                  "type": "string",
                  "format": "google-datetime"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "path": "v1beta1/{+name}",
              "flatPath": "v1beta1/organizations/{organizationsId}/assets/{assetsId}/securityMarks",
              "response": {
                "$ref": "GoogleCloudSecuritycenterV1beta1SecurityMarks"
              }
            },
            "group": {
              "httpMethod": "POST",
              "description": "",
              "path": "v1beta1/{+parent}/assets:group",
              "parameters": {
                "parent": {
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "pattern": "^organizations/[^/]+$"
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "request": {
                "$ref": "GroupAssetsRequest"
              },
              "flatPath": "v1beta1/organizations/{organizationsId}/assets:group",
              "response": {
                "$ref": "GroupAssetsResponse"
              },
              "id": "securitycenter.organizations.assets.group",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/securitycenter"
              ]
            },
            "runDiscovery": {
              "request": {
                "$ref": "RunAssetDiscoveryRequest"
              },
              "httpMethod": "POST",
              "parameters": {
                "parent": {
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "pattern": "^organizations/[^/]+$"
                }
              },
              "description": "",
              "flatPath": "v1beta1/organizations/{organizationsId}/assets:runDiscovery",
              "response": {
                "$ref": "Operation"
              },
              "id": "securitycenter.organizations.assets.runDiscovery",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/securitycenter"
              ],
              "path": "v1beta1/{+parent}/assets:runDiscovery",
              "parameterOrder": [
                "parent"
              ]
            }
          }
        },
        "sources": {
          "resources": {
            "findings": {
              "methods": {
                "patch": {
                  "path": "v1beta1/{+name}",
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "securitycenter.organizations.sources.findings.patch",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/securitycenter"
                  ],
                  "parameters": {
                    "name": {
                      "location": "path",
                      "type": "string",
                      "pattern": "^organizations/[^/]+/sources/[^/]+/findings/[^/]+$",
                      "required": true
                    },
                    "updateMask": {
                      "location": "query",
                      "type": "string",
                      "format": "google-fieldmask"
                    }
                  },
                  "request": {
                    "$ref": "GoogleCloudSecuritycenterV1beta1Finding"
                  },
                  "flatPath": "v1beta1/organizations/{organizationsId}/sources/{sourcesId}/findings/{findingsId}",
                  "response": {
                    "$ref": "GoogleCloudSecuritycenterV1beta1Finding"
                  },
                  "description": "",
                  "httpMethod": "PATCH"
                },
                "setState": {
                  "path": "v1beta1/{+name}:setState",
                  "httpMethod": "POST",
                  "description": "",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "required": true,
                      "location": "path",
                      "pattern": "^organizations/[^/]+/sources/[^/]+/findings/[^/]+$"
                    }
                  },
                  "id": "securitycenter.organizations.sources.findings.setState",
                  "flatPath": "v1beta1/organizations/{organizationsId}/sources/{sourcesId}/findings/{findingsId}:setState",
                  "response": {
                    "$ref": "GoogleCloudSecuritycenterV1beta1Finding"
                  },
                  "request": {
                    "$ref": "SetFindingStateRequest"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/securitycenter"
                  ]
                },
                "group": {
                  "path": "v1beta1/{+parent}/findings:group",
                  "description": "",
                  "parameters": {
                    "parent": {
                      "pattern": "^organizations/[^/]+/sources/[^/]+$",
                      "type": "string",
                      "required": true,
                      "location": "path"
                    }
                  },
                  "httpMethod": "POST",
                  "id": "securitycenter.organizations.sources.findings.group",
                  "flatPath": "v1beta1/organizations/{organizationsId}/sources/{sourcesId}/findings:group",
                  "response": {
                    "$ref": "GroupFindingsResponse"
                  },
                  "request": {
                    "$ref": "GroupFindingsRequest"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/securitycenter"
                  ],
                  "parameterOrder": [
                    "parent"
                  ]
                },
                "updateSecurityMarks": {
                  "parameterOrder": [
                    "name"
                  ],
                  "request": {
                    "$ref": "GoogleCloudSecuritycenterV1beta1SecurityMarks"
                  },
                  "httpMethod": "PATCH",
                  "flatPath": "v1beta1/organizations/{organizationsId}/sources/{sourcesId}/findings/{findingsId}/securityMarks",
                  "response": {
                    "$ref": "GoogleCloudSecuritycenterV1beta1SecurityMarks"
                  },
                  "parameters": {
                    "name": {
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "pattern": "^organizations/[^/]+/sources/[^/]+/findings/[^/]+/securityMarks$"
                    },
                    "updateMask": {
                      "format": "google-fieldmask",
                      "type": "string",
                      "location": "query"
                    },
                    "startTime": {
                      "location": "query",
                      "format": "google-datetime",
                      "type": "string"
                    }
                  },
                  "description": "",
                  "path": "v1beta1/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/securitycenter"
                  ],
                  "id": "securitycenter.organizations.sources.findings.updateSecurityMarks"
                },
                "create": {
                  "httpMethod": "POST",
                  "parameters": {
                    "findingId": {
                      "location": "query",
                      "type": "string"
                    },
                    "parent": {
                      "required": true,
                      "type": "string",
                      "pattern": "^organizations/[^/]+/sources/[^/]+$",
                      "location": "path"
                    }
                  },
                  "flatPath": "v1beta1/organizations/{organizationsId}/sources/{sourcesId}/findings",
                  "response": {
                    "$ref": "GoogleCloudSecuritycenterV1beta1Finding"
                  },
                  "path": "v1beta1/{+parent}/findings",
                  "parameterOrder": [
                    "parent"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/securitycenter"
                  ],
                  "request": {
                    "$ref": "GoogleCloudSecuritycenterV1beta1Finding"
                  },
                  "id": "securitycenter.organizations.sources.findings.create",
                  "description": ""
                },
                "list": {
                  "flatPath": "v1beta1/organizations/{organizationsId}/sources/{sourcesId}/findings",
                  "response": {
                    "$ref": "ListFindingsResponse"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "httpMethod": "GET",
                  "id": "securitycenter.organizations.sources.findings.list",
                  "path": "v1beta1/{+parent}/findings",
                  "parameters": {
                    "readTime": {
                      "location": "query",
                      "format": "google-datetime",
                      "type": "string"
                    },
                    "parent": {
                      "pattern": "^organizations/[^/]+/sources/[^/]+$",
                      "required": true,
                      "location": "path",
                      "type": "string"
                    },
                    "fieldMask": {
                      "type": "string",
                      "location": "query",
                      "format": "google-fieldmask"
                    },
                    "pageToken": {
                      "location": "query",
                      "type": "string"
                    },
                    "orderBy": {
                      "type": "string",
                      "location": "query"
                    },
                    "pageSize": {
                      "type": "integer",
                      "location": "query",
                      "format": "int32"
                    },
                    "filter": {
                      "type": "string",
                      "location": "query"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/securitycenter"
                  ],
                  "description": ""
                }
              }
            }
          },
          "methods": {
            "create": {
              "id": "securitycenter.organizations.sources.create",
              "httpMethod": "POST",
              "parameterOrder": [
                "parent"
              ],
              "parameters": {
                "parent": {
                  "required": true,
                  "type": "string",
                  "pattern": "^organizations/[^/]+$",
                  "location": "path"
                }
              },
              "request": {
                "$ref": "Source"
              },
              "flatPath": "v1beta1/organizations/{organizationsId}/sources",
              "response": {
                "$ref": "Source"
              },
              "path": "v1beta1/{+parent}/sources",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/securitycenter"
              ],
              "description": ""
            },
            "getIamPolicy": {
              "request": {
                "$ref": "GetIamPolicyRequest"
              },
              "parameterOrder": [
                "resource"
              ],
              "id": "securitycenter.organizations.sources.getIamPolicy",
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/securitycenter"
              ],
              "parameters": {
                "resource": {
                  "required": true,
                  "pattern": "^organizations/[^/]+/sources/[^/]+$",
                  "location": "path",
                  "type": "string"
                }
              },
              "path": "v1beta1/{+resource}:getIamPolicy",
              "description": "",
              "flatPath": "v1beta1/organizations/{organizationsId}/sources/{sourcesId}:getIamPolicy",
              "response": {
                "$ref": "Policy"
              }
            },
            "setIamPolicy": {
              "path": "v1beta1/{+resource}:setIamPolicy",
              "parameterOrder": [
                "resource"
              ],
              "request": {
                "$ref": "SetIamPolicyRequest"
              },
              "httpMethod": "POST",
              "flatPath": "v1beta1/organizations/{organizationsId}/sources/{sourcesId}:setIamPolicy",
              "response": {
                "$ref": "Policy"
              },
              "id": "securitycenter.organizations.sources.setIamPolicy",
              "parameters": {
                "resource": {
                  "pattern": "^organizations/[^/]+/sources/[^/]+$",
                  "required": true,
                  "location": "path",
                  "type": "string"
                }
              },
              "description": "",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/securitycenter"
              ]
            },
            "get": {
              "path": "v1beta1/{+name}",
              "description": "",
              "httpMethod": "GET",
              "id": "securitycenter.organizations.sources.get",
              "parameters": {
                "name": {
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "pattern": "^organizations/[^/]+/sources/[^/]+$"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/securitycenter"
              ],
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1beta1/organizations/{organizationsId}/sources/{sourcesId}",
              "response": {
                "$ref": "Source"
              }
            },
            "list": {
              "description": "",
              "parameterOrder": [
                "parent"
              ],
              "flatPath": "v1beta1/organizations/{organizationsId}/sources",
              "response": {
                "$ref": "ListSourcesResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/securitycenter"
              ],
              "httpMethod": "GET",
              "path": "v1beta1/{+parent}/sources",
              "parameters": {
                "parent": {
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "pattern": "^organizations/[^/]+$"
                },
                "pageSize": {
                  "location": "query",
                  "format": "int32",
                  "type": "integer"
                },
                "pageToken": {
                  "type": "string",
                  "location": "query"
                }
              },
              "id": "securitycenter.organizations.sources.list"
            },
            "testIamPermissions": {
              "flatPath": "v1beta1/organizations/{organizationsId}/sources/{sourcesId}:testIamPermissions",
              "response": {
                "$ref": "TestIamPermissionsResponse"
              },
              "id": "securitycenter.organizations.sources.testIamPermissions",
              "parameters": {
                "resource": {
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "pattern": "^organizations/[^/]+/sources/[^/]+$"
                }
              },
              "httpMethod": "POST",
              "path": "v1beta1/{+resource}:testIamPermissions",
              "parameterOrder": [
                "resource"
              ],
              "request": {
                "$ref": "TestIamPermissionsRequest"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/securitycenter"
              ],
              "description": ""
            },
            "patch": {
              "flatPath": "v1beta1/organizations/{organizationsId}/sources/{sourcesId}",
              "response": {
                "$ref": "Source"
              },
              "httpMethod": "PATCH",
              "parameters": {
                "name": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "pattern": "^organizations/[^/]+/sources/[^/]+$"
                },
                "updateMask": {
                  "type": "string",
                  "location": "query",
                  "format": "google-fieldmask"
                }
              },
              "path": "v1beta1/{+name}",
              "description": "",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/securitycenter"
              ],
              "id": "securitycenter.organizations.sources.patch",
              "request": {
                "$ref": "Source"
              },
              "parameterOrder": [
                "name"
              ]
            }
          }
        },
        "operations": {
          "methods": {
            "get": {
              "flatPath": "v1beta1/organizations/{organizationsId}/operations/{operationsId}",
              "response": {
                "$ref": "Operation"
              },
              "parameters": {
                "name": {
                  "type": "string",
                  "pattern": "^organizations/[^/]+/operations/[^/]+$",
                  "required": true,
                  "location": "path"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/securitycenter"
              ],
              "description": "",
              "httpMethod": "GET",
              "path": "v1beta1/{+name}",
              "id": "securitycenter.organizations.operations.get"
            },
            "list": {
              "description": "",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/securitycenter"
              ],
              "parameterOrder": [
                "name"
              ],
              "path": "v1beta1/{+name}",
              "id": "securitycenter.organizations.operations.list",
              "flatPath": "v1beta1/organizations/{organizationsId}/operations",
              "response": {
                "$ref": "ListOperationsResponse"
              },
              "httpMethod": "GET",
              "parameters": {
                "pageToken": {
                  "location": "query",
                  "type": "string"
                },
                "filter": {
                  "type": "string",
                  "location": "query"
                },
                "name": {
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "pattern": "^organizations/[^/]+/operations$"
                },
                "returnPartialSuccess": {
                  "type": "boolean",
                  "location": "query"
                },
                "pageSize": {
                  "type": "integer",
                  "location": "query",
                  "format": "int32"
                }
              }
            },
            "delete": {
              "parameters": {
                "name": {
                  "pattern": "^organizations/[^/]+/operations/[^/]+$",
                  "location": "path",
                  "type": "string",
                  "required": true
                }
              },
              "path": "v1beta1/{+name}",
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "DELETE",
              "description": "",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/securitycenter"
              ],
              "flatPath": "v1beta1/organizations/{organizationsId}/operations/{operationsId}",
              "response": {
                "$ref": "Empty"
              },
              "id": "securitycenter.organizations.operations.delete"
            },
            "cancel": {
              "description": "",
              "httpMethod": "POST",
              "parameters": {
                "name": {
                  "pattern": "^organizations/[^/]+/operations/[^/]+$",
                  "location": "path",
                  "type": "string",
                  "required": true
                }
              },
              "request": {
                "$ref": "CancelOperationRequest"
              },
              "id": "securitycenter.organizations.operations.cancel",
              "path": "v1beta1/{+name}:cancel",
              "flatPath": "v1beta1/organizations/{organizationsId}/operations/{operationsId}:cancel",
              "response": {
                "$ref": "Empty"
              },
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/securitycenter"
              ]
            }
          }
        }
      }
    }
  },
  "kind": "discovery#restDescription",
  "id": "securitycenter:v1beta1",
  "version": "v1beta1",
  "mtlsRootUrl": "https://securitycenter.mtls.googleapis.com/",
  "revision": "20260925",
  "baseUrl": "https://securitycenter.googleapis.com/",
  "name": "securitycenter",
  "canonicalName": "Security Command Center",
  "servicePath": "",
  "endpoints": [
    {
      "description": "Regional Endpoint",
      "location": "me-central2",
      "endpointUrl": "https://securitycenter.me-central2.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://securitycenter.us.rep.googleapis.com/",
      "location": "us",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://securitycenter.eu.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "eu"
    }
  ],
  "batchPath": "batch",
  "ownerName": "Google",
  "documentationLink": "https://cloud.google.com/security-command-center",
  "basePath": "",
  "ownerDomain": "google.com",
  "description": "Security Command Center API provides access to temporal views of assets and findings within an organization.",
  "rootUrl": "https://securitycenter.googleapis.com/",
  "schemas": {
    "GoogleCloudSecuritycenterV2AwsAccount": {
      "properties": {
        "id": {
          "type": "string"
        },
        "name": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2AwsAccount"
    },
    "GoogleCloudSecuritycenterV2Object": {
      "id": "GoogleCloudSecuritycenterV2Object",
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        },
        "group": {
          "type": "string"
        },
        "containers": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2Container"
          }
        },
        "kind": {
          "type": "string"
        },
        "ns": {
          "type": "string"
        }
      }
    },
    "DiskPath": {
      "id": "DiskPath",
      "properties": {
        "relativePath": {
          "type": "string"
        },
        "partitionUuid": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "RunAssetDiscoveryRequest": {
      "id": "RunAssetDiscoveryRequest",
      "type": "object",
      "properties": {}
    },
    "DataFlowEvent": {
      "id": "DataFlowEvent",
      "type": "object",
      "properties": {
        "operation": {
          "type": "string",
          "enum": [
            "OPERATION_UNSPECIFIED",
            "READ",
            "MOVE",
            "COPY"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ]
        },
        "principalEmail": {
          "type": "string"
        },
        "violatedLocation": {
          "type": "string"
        },
        "eventId": {
          "type": "string"
        },
        "eventTime": {
          "type": "string",
          "format": "google-datetime"
        }
      }
    },
    "GoogleCloudSecuritycenterV2GroupMembership": {
      "type": "object",
      "properties": {
        "groupType": {
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "GROUP_TYPE_UNSPECIFIED",
            "GROUP_TYPE_TOXIC_COMBINATION",
            "GROUP_TYPE_CHOKEPOINT"
          ]
        },
        "groupId": {
          "type": "string"
        }
      },
      "id": "GoogleCloudSecuritycenterV2GroupMembership"
    },
    "GcpMetadata": {
      "properties": {
        "parent": {
          "type": "string"
        },
        "organization": {
          "type": "string"
        },
        "projectDisplayName": {
          "type": "string"
        },
        "parentDisplayName": {
          "type": "string"
        },
        "project": {
          "type": "string"
        },
        "folders": {
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2Folder"
          },
          "readOnly": true,
          "type": "array"
        }
      },
      "type": "object",
      "id": "GcpMetadata"
    },
    "GoogleCloudSecuritycenterV2Database": {
      "type": "object",
      "properties": {
        "displayName": {
          "type": "string"
        },
        "grantees": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "query": {
          "type": "string"
        },
        "userName": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "version": {
          "type": "string"
        }
      },
      "id": "GoogleCloudSecuritycenterV2Database"
    },
    "Allowed": {
      "properties": {
        "ipRules": {
          "items": {
            "$ref": "IpRule"
          },
          "type": "array"
        }
      },
      "id": "Allowed",
      "type": "object"
    },
    "Asset": {
      "id": "Asset",
      "type": "object",
      "properties": {
        "updateTime": {
          "format": "google-datetime",
          "type": "string"
        },
        "resourceProperties": {
          "type": "object",
          "additionalProperties": {
            "type": "any"
          }
        },
        "securityMarks": {
          "$ref": "GoogleCloudSecuritycenterV1beta1SecurityMarks"
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime"
        },
        "name": {
          "type": "string"
        },
        "securityCenterProperties": {
          "$ref": "SecurityCenterProperties"
        }
      }
    },
    "Job": {
      "id": "Job",
      "type": "object",
      "properties": {
        "state": {
          "enum": [
            "JOB_STATE_UNSPECIFIED",
            "PENDING",
            "RUNNING",
            "SUCCEEDED",
            "FAILED"
          ],
          "type": "string",
          "readOnly": true,
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ]
        },
        "name": {
          "type": "string"
        },
        "location": {
          "type": "string"
        },
        "errorCode": {
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "GoogleCloudSecuritycenterV2IssueResourceAzureMetadata": {
      "properties": {
        "subscription": {
          "$ref": "GoogleCloudSecuritycenterV2IssueResourceAzureMetadataAzureSubscription"
        }
      },
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2IssueResourceAzureMetadata"
    },
    "Contact": {
      "type": "object",
      "id": "Contact",
      "properties": {
        "email": {
          "type": "string"
        }
      }
    },
    "GoogleCloudSecuritycenterV2AdcSharedTemplateRevision": {
      "id": "GoogleCloudSecuritycenterV2AdcSharedTemplateRevision",
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        }
      }
    },
    "ListFindingsResponse": {
      "properties": {
        "nextPageToken": {
          "type": "string"
        },
        "totalSize": {
          "format": "int32",
          "type": "integer"
        },
        "readTime": {
          "type": "string",
          "format": "google-datetime"
        },
        "findings": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV1beta1Finding"
          }
        }
      },
      "id": "ListFindingsResponse",
      "type": "object"
    },
    "GoogleCloudSecuritycenterV1beta1Finding": {
      "id": "GoogleCloudSecuritycenterV1beta1Finding",
      "type": "object",
      "properties": {
        "eventTime": {
          "type": "string",
          "format": "google-datetime"
        },
        "name": {
          "type": "string"
        },
        "securityMarks": {
          "$ref": "GoogleCloudSecuritycenterV1beta1SecurityMarks",
          "readOnly": true
        },
        "state": {
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "INACTIVE"
          ],
          "enumDescriptions": [
            "",
            "",
            ""
          ]
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime"
        },
        "parent": {
          "type": "string"
        },
        "externalUri": {
          "type": "string"
        },
        "sourceProperties": {
          "type": "object",
          "additionalProperties": {
            "type": "any"
          }
        },
        "category": {
          "type": "string"
        },
        "resourceName": {
          "type": "string"
        }
      }
    },
    "SecurityMarks": {
      "properties": {
        "marks": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "canonicalName": {
          "type": "string"
        },
        "name": {
          "type": "string"
        }
      },
      "id": "SecurityMarks",
      "type": "object"
    },
    "GoogleCloudSecuritycenterV1p1beta1Folder": {
      "id": "GoogleCloudSecuritycenterV1p1beta1Folder",
      "properties": {
        "resourceFolderDisplayName": {
          "type": "string"
        },
        "resourceFolder": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2Framework": {
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2Framework",
      "properties": {
        "displayName": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "type": {
          "enum": [
            "FRAMEWORK_TYPE_UNSPECIFIED",
            "FRAMEWORK_TYPE_BUILT_IN",
            "FRAMEWORK_TYPE_CUSTOM"
          ],
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "type": "string"
        },
        "category": {
          "items": {
            "type": "string",
            "enum": [
              "FRAMEWORK_CATEGORY_UNSPECIFIED",
              "SECURITY_BENCHMARKS",
              "ASSURED_WORKLOADS",
              "DATA_SECURITY",
              "GOOGLE_BEST_PRACTICES",
              "CUSTOM_FRAMEWORK"
            ],
            "enumDescriptions": [
              "",
              "",
              "",
              "",
              "",
              ""
            ]
          },
          "type": "array"
        },
        "controls": {
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2Control"
          },
          "type": "array"
        }
      }
    },
    "CloudControl": {
      "id": "CloudControl",
      "properties": {
        "version": {
          "format": "int32",
          "type": "integer"
        },
        "cloudControlName": {
          "type": "string"
        },
        "type": {
          "type": "string",
          "enum": [
            "CLOUD_CONTROL_TYPE_UNSPECIFIED",
            "BUILT_IN",
            "CUSTOM"
          ],
          "enumDescriptions": [
            "",
            "",
            ""
          ]
        },
        "policyType": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "Policy": {
      "properties": {
        "auditConfigs": {
          "type": "array",
          "items": {
            "$ref": "AuditConfig"
          }
        },
        "version": {
          "type": "integer",
          "format": "int32"
        },
        "bindings": {
          "type": "array",
          "items": {
            "$ref": "Binding"
          }
        },
        "etag": {
          "format": "byte",
          "type": "string"
        }
      },
      "type": "object",
      "id": "Policy"
    },
    "GoogleCloudSecuritycenterV2InfoType": {
      "id": "GoogleCloudSecuritycenterV2InfoType",
      "properties": {
        "sensitivityScore": {
          "$ref": "GoogleCloudSecuritycenterV2SensitivityScore"
        },
        "name": {
          "type": "string"
        },
        "version": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2IssueSecurityContext": {
      "id": "GoogleCloudSecuritycenterV2IssueSecurityContext",
      "type": "object",
      "properties": {
        "context": {
          "$ref": "GoogleCloudSecuritycenterV2IssueSecurityContextContext"
        },
        "aggregatedCount": {
          "$ref": "GoogleCloudSecuritycenterV2IssueSecurityContextAggregatedCount"
        }
      }
    },
    "ResourcePath": {
      "properties": {
        "nodes": {
          "type": "array",
          "items": {
            "$ref": "ResourcePathNode"
          }
        }
      },
      "id": "ResourcePath",
      "type": "object"
    },
    "AdcSharedTemplateRevision": {
      "properties": {
        "name": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "AdcSharedTemplateRevision"
    },
    "InfoType": {
      "type": "object",
      "id": "InfoType",
      "properties": {
        "sensitivityScore": {
          "$ref": "SensitivityScore"
        },
        "name": {
          "type": "string"
        },
        "version": {
          "type": "string"
        }
      }
    },
    "Pipeline": {
      "id": "Pipeline",
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        },
        "displayName": {
          "type": "string"
        }
      }
    },
    "StaticMute": {
      "properties": {
        "state": {
          "enum": [
            "MUTE_UNSPECIFIED",
            "MUTED",
            "UNMUTED",
            "UNDEFINED"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "type": "string"
        },
        "applyTime": {
          "type": "string",
          "format": "google-datetime"
        }
      },
      "type": "object",
      "id": "StaticMute"
    },
    "SetFindingStateRequest": {
      "properties": {
        "startTime": {
          "type": "string",
          "format": "google-datetime"
        },
        "state": {
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "INACTIVE"
          ]
        }
      },
      "id": "SetFindingStateRequest",
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2Requests": {
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2Requests",
      "properties": {
        "longTermAllowed": {
          "format": "int32",
          "type": "integer"
        },
        "longTermDenied": {
          "type": "integer",
          "format": "int32"
        },
        "ratio": {
          "format": "double",
          "type": "number"
        },
        "shortTermAllowed": {
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "GoogleCloudSecuritycenterV1MuteConfig": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        },
        "filter": {
          "type": "string"
        },
        "mostRecentEditor": {
          "type": "string",
          "readOnly": true
        },
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "readOnly": true
        },
        "type": {
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "MUTE_CONFIG_TYPE_UNSPECIFIED",
            "STATIC",
            "DYNAMIC"
          ]
        },
        "description": {
          "type": "string"
        },
        "updateTime": {
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "expiryTime": {
          "type": "string",
          "format": "google-datetime"
        },
        "displayName": {
          "deprecated": true,
          "type": "string"
        }
      },
      "id": "GoogleCloudSecuritycenterV1MuteConfig"
    },
    "Vulnerability": {
      "id": "Vulnerability",
      "type": "object",
      "properties": {
        "cve": {
          "$ref": "Cve"
        },
        "cwes": {
          "type": "array",
          "items": {
            "$ref": "Cwe"
          }
        },
        "offendingPackage": {
          "$ref": "Package"
        },
        "providerRiskScore": {
          "format": "int64",
          "type": "string"
        },
        "reachable": {
          "type": "boolean"
        },
        "securityBulletin": {
          "$ref": "SecurityBulletin"
        },
        "fixedPackage": {
          "$ref": "Package"
        }
      }
    },
    "GoogleCloudSecuritycenterV2Connection": {
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2Connection",
      "properties": {
        "sourcePort": {
          "format": "int32",
          "type": "integer"
        },
        "destinationPort": {
          "format": "int32",
          "type": "integer"
        },
        "sourceIp": {
          "type": "string"
        },
        "destinationIp": {
          "type": "string"
        },
        "protocol": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "PROTOCOL_UNSPECIFIED",
            "ICMP",
            "TCP",
            "UDP",
            "GRE",
            "ESP"
          ]
        }
      }
    },
    "AdaptiveProtection": {
      "type": "object",
      "id": "AdaptiveProtection",
      "properties": {
        "confidence": {
          "type": "number",
          "format": "double"
        }
      }
    },
    "GoogleCloudSecuritycenterV2Role": {
      "properties": {
        "ns": {
          "type": "string"
        },
        "kind": {
          "enum": [
            "KIND_UNSPECIFIED",
            "ROLE",
            "CLUSTER_ROLE"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            ""
          ]
        },
        "name": {
          "type": "string"
        }
      },
      "id": "GoogleCloudSecuritycenterV2Role",
      "type": "object"
    },
    "AuditConfig": {
      "type": "object",
      "id": "AuditConfig",
      "properties": {
        "service": {
          "type": "string"
        },
        "auditLogConfigs": {
          "type": "array",
          "items": {
            "$ref": "AuditLogConfig"
          }
        }
      }
    },
    "GoogleCloudSecuritycenterV2ArtifactGuardPolicy": {
      "id": "GoogleCloudSecuritycenterV2ArtifactGuardPolicy",
      "type": "object",
      "properties": {
        "type": {
          "type": "string",
          "enum": [
            "ARTIFACT_GUARD_POLICY_TYPE_UNSPECIFIED",
            "VULNERABILITY"
          ],
          "enumDescriptions": [
            "",
            ""
          ]
        },
        "failureReason": {
          "type": "string"
        },
        "policyId": {
          "type": "string"
        }
      }
    },
    "GoogleCloudSecuritycenterV2AzureTenant": {
      "id": "GoogleCloudSecuritycenterV2AzureTenant",
      "properties": {
        "id": {
          "type": "string"
        },
        "displayName": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "Chokepoint": {
      "type": "object",
      "id": "Chokepoint",
      "properties": {
        "relatedFindings": {
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      }
    },
    "Empty": {
      "properties": {},
      "id": "Empty",
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2NodePool": {
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2NodePool",
      "properties": {
        "name": {
          "type": "string"
        },
        "nodes": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2Node"
          }
        }
      }
    },
    "GoogleCloudSecuritycenterV2Node": {
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2Node",
      "properties": {
        "name": {
          "type": "string"
        }
      }
    },
    "GoogleCloudSecuritycenterV1p1beta1Resource": {
      "properties": {
        "name": {
          "type": "string"
        },
        "parent": {
          "type": "string"
        },
        "project": {
          "type": "string"
        },
        "parentDisplayName": {
          "type": "string"
        },
        "folders": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV1p1beta1Folder"
          },
          "readOnly": true
        },
        "projectDisplayName": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudSecuritycenterV1p1beta1Resource"
    },
    "Control": {
      "id": "Control",
      "type": "object",
      "properties": {
        "controlName": {
          "type": "string"
        },
        "displayName": {
          "type": "string"
        }
      }
    },
    "PortRange": {
      "id": "PortRange",
      "type": "object",
      "properties": {
        "min": {
          "format": "int64",
          "type": "string"
        },
        "max": {
          "format": "int64",
          "type": "string"
        }
      }
    },
    "AzureManagementGroup": {
      "id": "AzureManagementGroup",
      "type": "object",
      "properties": {
        "id": {
          "type": "string"
        },
        "displayName": {
          "type": "string"
        }
      }
    },
    "SecretFilePath": {
      "type": "object",
      "id": "SecretFilePath",
      "properties": {
        "path": {
          "type": "string"
        }
      }
    },
    "GoogleCloudSecuritycenterV2CloudLoggingEntry": {
      "type": "object",
      "properties": {
        "insertId": {
          "type": "string"
        },
        "resourceContainer": {
          "type": "string"
        },
        "logId": {
          "type": "string"
        },
        "timestamp": {
          "format": "google-datetime",
          "type": "string"
        }
      },
      "id": "GoogleCloudSecuritycenterV2CloudLoggingEntry"
    },
    "GoogleCloudSecuritycenterV2IamRolePermission": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        },
        "role": {
          "type": "string"
        }
      },
      "id": "GoogleCloudSecuritycenterV2IamRolePermission"
    },
    "GoogleCloudSecuritycenterV1IamDetails": {
      "properties": {
        "iamRolePermissions": {
          "items": {
            "$ref": "GoogleCloudSecuritycenterV1IamRolePermission"
          },
          "type": "array"
        }
      },
      "type": "object",
      "id": "GoogleCloudSecuritycenterV1IamDetails"
    },
    "Dataset": {
      "type": "object",
      "properties": {
        "displayName": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "source": {
          "type": "string"
        }
      },
      "id": "Dataset"
    },
    "GoogleCloudSecuritycenterV2LoadBalancer": {
      "properties": {
        "name": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2LoadBalancer"
    },
    "Detection": {
      "id": "Detection",
      "properties": {
        "binary": {
          "type": "string"
        },
        "percentPagesMatched": {
          "type": "number",
          "format": "double"
        }
      },
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2SecurityPolicy": {
      "id": "GoogleCloudSecuritycenterV2SecurityPolicy",
      "properties": {
        "name": {
          "type": "string"
        },
        "type": {
          "type": "string"
        },
        "preview": {
          "type": "boolean"
        }
      },
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2PolicyViolationSummary": {
      "properties": {
        "policyViolationsCount": {
          "format": "int64",
          "type": "string"
        },
        "conformantResourcesCount": {
          "format": "int64",
          "type": "string"
        },
        "evaluationErrorsCount": {
          "type": "string",
          "format": "int64"
        },
        "outOfScopeResourcesCount": {
          "format": "int64",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2PolicyViolationSummary"
    },
    "GoogleCloudSecuritycenterV2AwsOrganization": {
      "id": "GoogleCloudSecuritycenterV2AwsOrganization",
      "properties": {
        "id": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2ResourceApplicationAttributesEnvironment": {
      "id": "GoogleCloudSecuritycenterV2ResourceApplicationAttributesEnvironment",
      "type": "object",
      "properties": {
        "type": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "ENVIRONMENT_TYPE_UNSPECIFIED",
            "PRODUCTION",
            "STAGING",
            "TEST",
            "DEVELOPMENT"
          ]
        }
      }
    },
    "Indicator": {
      "properties": {
        "ipAddresses": {
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "signatures": {
          "type": "array",
          "items": {
            "$ref": "ProcessSignature"
          }
        },
        "domains": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "uris": {
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "type": "object",
      "id": "Indicator"
    },
    "Notebook": {
      "type": "object",
      "id": "Notebook",
      "properties": {
        "notebookUpdateTime": {
          "format": "google-datetime",
          "type": "string"
        },
        "service": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "lastAuthor": {
          "type": "string"
        }
      }
    },
    "GoogleCloudSecuritycenterV2Indicator": {
      "id": "GoogleCloudSecuritycenterV2Indicator",
      "type": "object",
      "properties": {
        "ipAddresses": {
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "signatures": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2ProcessSignature"
          }
        },
        "uris": {
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "domains": {
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "GoogleCloudSecuritycenterV2Resource": {
      "id": "GoogleCloudSecuritycenterV2Resource",
      "type": "object",
      "properties": {
        "awsMetadata": {
          "$ref": "GoogleCloudSecuritycenterV2AwsMetadata"
        },
        "type": {
          "type": "string"
        },
        "service": {
          "type": "string"
        },
        "location": {
          "type": "string"
        },
        "displayName": {
          "type": "string"
        },
        "resourcePathString": {
          "type": "string"
        },
        "adcApplication": {
          "$ref": "GoogleCloudSecuritycenterV2AdcApplication"
        },
        "resourcePath": {
          "$ref": "GoogleCloudSecuritycenterV2ResourcePath"
        },
        "cloudProvider": {
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "CLOUD_PROVIDER_UNSPECIFIED",
            "GOOGLE_CLOUD_PLATFORM",
            "AMAZON_WEB_SERVICES",
            "MICROSOFT_AZURE"
          ],
          "type": "string"
        },
        "application": {
          "$ref": "GoogleCloudSecuritycenterV2ResourceApplication"
        },
        "azureMetadata": {
          "$ref": "GoogleCloudSecuritycenterV2AzureMetadata"
        },
        "adcSharedTemplate": {
          "$ref": "GoogleCloudSecuritycenterV2AdcSharedTemplateRevision"
        },
        "adcApplicationTemplate": {
          "$ref": "GoogleCloudSecuritycenterV2AdcApplicationTemplateRevision"
        },
        "name": {
          "type": "string"
        },
        "gcpMetadata": {
          "$ref": "GcpMetadata"
        }
      }
    },
    "LogEntry": {
      "properties": {
        "cloudLoggingEntry": {
          "$ref": "CloudLoggingEntry"
        }
      },
      "type": "object",
      "id": "LogEntry"
    },
    "Source": {
      "type": "object",
      "id": "Source",
      "properties": {
        "name": {
          "type": "string"
        },
        "description": {
          "type": "string"
        },
        "displayName": {
          "type": "string"
        }
      }
    },
    "GoogleCloudSecuritycenterV2Vulnerability": {
      "id": "GoogleCloudSecuritycenterV2Vulnerability",
      "properties": {
        "fixedPackage": {
          "$ref": "GoogleCloudSecuritycenterV2Package"
        },
        "providerRiskScore": {
          "format": "int64",
          "type": "string"
        },
        "reachable": {
          "type": "boolean"
        },
        "cve": {
          "$ref": "GoogleCloudSecuritycenterV2Cve"
        },
        "offendingPackage": {
          "$ref": "GoogleCloudSecuritycenterV2Package"
        },
        "cwes": {
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2Cwe"
          },
          "type": "array"
        },
        "securityBulletin": {
          "$ref": "GoogleCloudSecuritycenterV2SecurityBulletin"
        }
      },
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2ResourceValueConfig": {
      "id": "GoogleCloudSecuritycenterV2ResourceValueConfig",
      "type": "object",
      "properties": {
        "createTime": {
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "sensitiveDataProtectionMapping": {
          "$ref": "GoogleCloudSecuritycenterV2SensitiveDataProtectionMapping"
        },
        "tagValues": {
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "resourceType": {
          "type": "string"
        },
        "resourceLabelsSelector": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "cloudProvider": {
          "enum": [
            "CLOUD_PROVIDER_UNSPECIFIED",
            "GOOGLE_CLOUD_PLATFORM",
            "AMAZON_WEB_SERVICES",
            "MICROSOFT_AZURE"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "type": "string"
        },
        "resourceValue": {
          "enum": [
            "RESOURCE_VALUE_UNSPECIFIED",
            "HIGH",
            "MEDIUM",
            "LOW",
            "NONE"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ],
          "type": "string"
        },
        "description": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "scope": {
          "type": "string"
        },
        "updateTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        }
      }
    },
    "GoogleCloudSecuritycenterV2IssueResourceAdcApplicationTemplateRevision": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        }
      },
      "id": "GoogleCloudSecuritycenterV2IssueResourceAdcApplicationTemplateRevision"
    },
    "GoogleCloudSecuritycenterV2YaraRuleSignature": {
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2YaraRuleSignature",
      "properties": {
        "yaraRule": {
          "type": "string"
        }
      }
    },
    "GoogleCloudSecuritycenterV2SecretEnvironmentVariable": {
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2SecretEnvironmentVariable",
      "properties": {
        "key": {
          "type": "string"
        }
      }
    },
    "GoogleCloudSecuritycenterV2DataRetentionDeletionEvent": {
      "type": "object",
      "properties": {
        "maxRetentionAllowed": {
          "type": "string",
          "format": "google-duration"
        },
        "eventDetectionTime": {
          "format": "google-datetime",
          "type": "string"
        },
        "minRetentionAllowed": {
          "format": "google-duration",
          "type": "string"
        },
        "dataObjectCount": {
          "type": "string",
          "format": "int64"
        },
        "eventType": {
          "type": "string",
          "enumDeprecated": [
            false,
            true,
            false,
            false,
            false
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "EVENT_TYPE_UNSPECIFIED",
            "EVENT_TYPE_MAX_TTL_EXCEEDED",
            "EVENT_TYPE_MAX_TTL_FROM_CREATION",
            "EVENT_TYPE_MAX_TTL_FROM_LAST_MODIFICATION",
            "EVENT_TYPE_MIN_TTL_FROM_CREATION"
          ]
        }
      },
      "id": "GoogleCloudSecuritycenterV2DataRetentionDeletionEvent"
    },
    "GoogleCloudSecuritycenterV2ResourcePathNode": {
      "id": "GoogleCloudSecuritycenterV2ResourcePathNode",
      "type": "object",
      "properties": {
        "displayName": {
          "type": "string"
        },
        "id": {
          "type": "string"
        },
        "nodeType": {
          "type": "string",
          "enum": [
            "RESOURCE_PATH_NODE_TYPE_UNSPECIFIED",
            "GCP_ORGANIZATION",
            "GCP_FOLDER",
            "GCP_PROJECT",
            "AWS_ORGANIZATION",
            "AWS_ORGANIZATIONAL_UNIT",
            "AWS_ACCOUNT",
            "AZURE_MANAGEMENT_GROUP",
            "AZURE_SUBSCRIPTION",
            "AZURE_RESOURCE_GROUP"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ]
        }
      }
    },
    "SecurityBulletin": {
      "type": "object",
      "properties": {
        "suggestedUpgradeVersion": {
          "type": "string"
        },
        "bulletinId": {
          "type": "string"
        },
        "submissionTime": {
          "type": "string",
          "format": "google-datetime"
        }
      },
      "id": "SecurityBulletin"
    },
    "SecurityCenterProperties": {
      "id": "SecurityCenterProperties",
      "properties": {
        "resourceOwners": {
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "resourceName": {
          "type": "string"
        },
        "resourceParent": {
          "type": "string"
        },
        "resourceProject": {
          "type": "string"
        },
        "resourceType": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2LogEntry": {
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2LogEntry",
      "properties": {
        "cloudLoggingEntry": {
          "$ref": "GoogleCloudSecuritycenterV2CloudLoggingEntry"
        }
      }
    },
    "GoogleCloudSecuritycenterV2ContactDetails": {
      "properties": {
        "contacts": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2Contact"
          }
        }
      },
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2ContactDetails"
    },
    "GoogleCloudSecuritycenterV2Attack": {
      "properties": {
        "classification": {
          "type": "string"
        },
        "volumeBpsLong": {
          "format": "int64",
          "type": "string"
        },
        "volumePps": {
          "deprecated": true,
          "type": "integer",
          "format": "int32"
        },
        "volumeBps": {
          "deprecated": true,
          "type": "integer",
          "format": "int32"
        },
        "volumePpsLong": {
          "type": "string",
          "format": "int64"
        }
      },
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2Attack"
    },
    "AzureResourceGroup": {
      "id": "AzureResourceGroup",
      "properties": {
        "id": {
          "type": "string"
        },
        "name": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudSecuritycenterV1beta1SecurityMarks": {
      "properties": {
        "name": {
          "type": "string"
        },
        "marks": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        }
      },
      "type": "object",
      "id": "GoogleCloudSecuritycenterV1beta1SecurityMarks"
    },
    "GoogleCloudSecuritycenterV2AzureManagementGroup": {
      "id": "GoogleCloudSecuritycenterV2AzureManagementGroup",
      "type": "object",
      "properties": {
        "displayName": {
          "type": "string"
        },
        "id": {
          "type": "string"
        }
      }
    },
    "GoogleCloudSecuritycenterV2ArtifactGuardPolicies": {
      "properties": {
        "resourceId": {
          "type": "string"
        },
        "failingPolicies": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2ArtifactGuardPolicy"
          }
        }
      },
      "id": "GoogleCloudSecuritycenterV2ArtifactGuardPolicies",
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2Agent": {
      "properties": {
        "displayName": {
          "type": "string"
        },
        "id": {
          "type": "string"
        }
      },
      "id": "GoogleCloudSecuritycenterV2Agent",
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2DetectorReference": {
      "id": "GoogleCloudSecuritycenterV2DetectorReference",
      "type": "object",
      "properties": {
        "explanation": {
          "type": "string"
        },
        "recommendation": {
          "type": "string"
        },
        "detectorId": {
          "type": "string"
        },
        "displayName": {
          "type": "string"
        },
        "severity": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "SEVERITY_UNSPECIFIED",
            "CRITICAL",
            "HIGH",
            "MEDIUM",
            "LOW"
          ],
          "type": "string"
        }
      }
    },
    "GoogleCloudSecuritycenterV2IamBinding": {
      "type": "object",
      "properties": {
        "action": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "ACTION_UNSPECIFIED",
            "ADD",
            "REMOVE"
          ]
        },
        "member": {
          "type": "string"
        },
        "role": {
          "type": "string"
        }
      },
      "id": "GoogleCloudSecuritycenterV2IamBinding"
    },
    "GoogleCloudSecuritycenterV2ProcessSignature": {
      "type": "object",
      "properties": {
        "yaraRuleSignature": {
          "$ref": "GoogleCloudSecuritycenterV2YaraRuleSignature"
        },
        "signatureType": {
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "SIGNATURE_TYPE_UNSPECIFIED",
            "SIGNATURE_TYPE_PROCESS",
            "SIGNATURE_TYPE_FILE"
          ],
          "type": "string"
        },
        "memoryHashSignature": {
          "$ref": "GoogleCloudSecuritycenterV2MemoryHashSignature"
        }
      },
      "id": "GoogleCloudSecuritycenterV2ProcessSignature"
    },
    "GoogleCloudSecuritycenterV2SecurityMarks": {
      "id": "GoogleCloudSecuritycenterV2SecurityMarks",
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        },
        "canonicalName": {
          "type": "string"
        },
        "marks": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        }
      }
    },
    "GoogleCloudSecuritycenterV1SensitiveDataProtectionMapping": {
      "id": "GoogleCloudSecuritycenterV1SensitiveDataProtectionMapping",
      "type": "object",
      "properties": {
        "highSensitivityMapping": {
          "enum": [
            "RESOURCE_VALUE_UNSPECIFIED",
            "HIGH",
            "MEDIUM",
            "LOW",
            "NONE"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ]
        },
        "mediumSensitivityMapping": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "RESOURCE_VALUE_UNSPECIFIED",
            "HIGH",
            "MEDIUM",
            "LOW",
            "NONE"
          ]
        }
      }
    },
    "GoogleCloudSecuritycenterV1RunAssetDiscoveryResponse": {
      "properties": {
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "COMPLETED",
            "SUPERSEDED",
            "TERMINATED"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "type": "string"
        },
        "duration": {
          "type": "string",
          "format": "google-duration"
        }
      },
      "id": "GoogleCloudSecuritycenterV1RunAssetDiscoveryResponse",
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2AccessReview": {
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2AccessReview",
      "properties": {
        "group": {
          "type": "string"
        },
        "resource": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "subresource": {
          "type": "string"
        },
        "ns": {
          "type": "string"
        },
        "version": {
          "type": "string"
        },
        "verb": {
          "type": "string"
        }
      }
    },
    "GoogleCloudSecuritycenterV1Binding": {
      "id": "GoogleCloudSecuritycenterV1Binding",
      "properties": {
        "role": {
          "$ref": "Role"
        },
        "ns": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "subjects": {
          "type": "array",
          "items": {
            "$ref": "Subject"
          }
        }
      },
      "type": "object"
    },
    "OrgPolicy": {
      "properties": {
        "name": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "OrgPolicy"
    },
    "IpRule": {
      "type": "object",
      "properties": {
        "protocol": {
          "type": "string"
        },
        "portRanges": {
          "items": {
            "$ref": "PortRange"
          },
          "type": "array"
        }
      },
      "id": "IpRule"
    },
    "GoogleCloudSecuritycenterV2AzureMetadata": {
      "properties": {
        "resourceGroup": {
          "$ref": "GoogleCloudSecuritycenterV2AzureResourceGroup"
        },
        "managementGroups": {
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2AzureManagementGroup"
          },
          "type": "array"
        },
        "tenant": {
          "$ref": "GoogleCloudSecuritycenterV2AzureTenant"
        },
        "subscription": {
          "$ref": "GoogleCloudSecuritycenterV2AzureSubscription"
        }
      },
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2AzureMetadata"
    },
    "GoogleCloudSecuritycenterV2IssueResourceAwsMetadata": {
      "type": "object",
      "properties": {
        "account": {
          "$ref": "GoogleCloudSecuritycenterV2IssueResourceAwsMetadataAwsAccount"
        }
      },
      "id": "GoogleCloudSecuritycenterV2IssueResourceAwsMetadata"
    },
    "AwsOrganization": {
      "id": "AwsOrganization",
      "properties": {
        "id": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "Node": {
      "id": "Node",
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        }
      }
    },
    "GetIamPolicyRequest": {
      "type": "object",
      "id": "GetIamPolicyRequest",
      "properties": {
        "options": {
          "$ref": "GetPolicyOptions"
        }
      }
    },
    "ComplianceDetails": {
      "type": "object",
      "id": "ComplianceDetails",
      "properties": {
        "frameworks": {
          "type": "array",
          "items": {
            "$ref": "Framework"
          }
        },
        "cloudControlDeploymentNames": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "cloudControl": {
          "$ref": "CloudControl"
        }
      }
    },
    "AdcApplicationTemplateRevision": {
      "properties": {
        "name": {
          "type": "string"
        }
      },
      "id": "AdcApplicationTemplateRevision",
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2Issue": {
      "id": "GoogleCloudSecuritycenterV2Issue",
      "properties": {
        "detection": {
          "type": "string"
        },
        "issueType": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "ISSUE_TYPE_UNSPECIFIED",
            "CHOKEPOINT",
            "TOXIC_COMBINATION",
            "INSIGHT"
          ]
        },
        "secondaryResources": {
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2IssueResource"
          },
          "type": "array"
        },
        "securityContexts": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2IssueSecurityContext"
          }
        },
        "description": {
          "type": "string"
        },
        "lastObservationTime": {
          "type": "string",
          "format": "google-datetime"
        },
        "relatedFindings": {
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2IssueFinding"
          },
          "type": "array"
        },
        "domains": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2IssueDomain"
          }
        },
        "updateTime": {
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "mute": {
          "$ref": "GoogleCloudSecuritycenterV2IssueMute"
        },
        "exposureScore": {
          "type": "number",
          "format": "double"
        },
        "primaryResource": {
          "$ref": "GoogleCloudSecuritycenterV2IssueResource"
        },
        "createTime": {
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "remediations": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "severity": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "SEVERITY_UNSPECIFIED",
            "CRITICAL",
            "HIGH",
            "MEDIUM",
            "LOW"
          ]
        },
        "state": {
          "readOnly": true,
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "INACTIVE"
          ],
          "enumDescriptions": [
            "",
            "",
            ""
          ]
        },
        "name": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2DiskPath": {
      "id": "GoogleCloudSecuritycenterV2DiskPath",
      "type": "object",
      "properties": {
        "partitionUuid": {
          "type": "string"
        },
        "relativePath": {
          "type": "string"
        }
      }
    },
    "GoogleCloudSecuritycenterV2Access": {
      "id": "GoogleCloudSecuritycenterV2Access",
      "type": "object",
      "properties": {
        "methodName": {
          "type": "string"
        },
        "userAgent": {
          "type": "string"
        },
        "principalSubject": {
          "type": "string"
        },
        "principalEmail": {
          "type": "string"
        },
        "serviceAccountKeyName": {
          "type": "string"
        },
        "serviceName": {
          "type": "string"
        },
        "userAgentFamily": {
          "type": "string"
        },
        "callerIpGeo": {
          "$ref": "GoogleCloudSecuritycenterV2Geolocation"
        },
        "callerIp": {
          "type": "string"
        },
        "userName": {
          "type": "string"
        },
        "serviceAccountDelegationInfo": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2ServiceAccountDelegationInfo"
          }
        }
      }
    },
    "GoogleCloudSecuritycenterV1p1beta1NotificationMessage": {
      "properties": {
        "notificationConfigName": {
          "type": "string"
        },
        "resource": {
          "$ref": "GoogleCloudSecuritycenterV1p1beta1Resource"
        },
        "finding": {
          "$ref": "GoogleCloudSecuritycenterV1p1beta1Finding"
        }
      },
      "id": "GoogleCloudSecuritycenterV1p1beta1NotificationMessage",
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2IssueDomain": {
      "id": "GoogleCloudSecuritycenterV2IssueDomain",
      "type": "object",
      "properties": {
        "domainCategory": {
          "enum": [
            "DOMAIN_CATEGORY_UNSPECIFIED",
            "AI",
            "CODE",
            "CONTAINER",
            "DATA",
            "IDENTITY_AND_ACCESS",
            "VULNERABILITY",
            "THREAT"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ]
        }
      }
    },
    "GoogleCloudSecuritycenterV2Denied": {
      "id": "GoogleCloudSecuritycenterV2Denied",
      "type": "object",
      "properties": {
        "ipRules": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2IpRule"
          }
        }
      }
    },
    "GoogleCloudSecuritycenterV2Exfiltration": {
      "properties": {
        "sources": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2ExfilResource"
          }
        },
        "targets": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2ExfilResource"
          }
        },
        "totalExfiltratedBytes": {
          "format": "int64",
          "type": "string"
        }
      },
      "id": "GoogleCloudSecuritycenterV2Exfiltration",
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2AgentSession": {
      "properties": {
        "sessionId": {
          "type": "string"
        }
      },
      "id": "GoogleCloudSecuritycenterV2AgentSession",
      "type": "object"
    },
    "DataRetentionDeletionEvent": {
      "id": "DataRetentionDeletionEvent",
      "properties": {
        "minRetentionAllowed": {
          "type": "string",
          "format": "google-duration"
        },
        "maxRetentionAllowed": {
          "format": "google-duration",
          "type": "string"
        },
        "eventDetectionTime": {
          "type": "string",
          "format": "google-datetime"
        },
        "eventType": {
          "enum": [
            "EVENT_TYPE_UNSPECIFIED",
            "EVENT_TYPE_MAX_TTL_EXCEEDED",
            "EVENT_TYPE_MAX_TTL_FROM_CREATION",
            "EVENT_TYPE_MAX_TTL_FROM_LAST_MODIFICATION",
            "EVENT_TYPE_MIN_TTL_FROM_CREATION"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ],
          "enumDeprecated": [
            false,
            true,
            false,
            false,
            false
          ]
        },
        "dataObjectCount": {
          "format": "int64",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2Job": {
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2Job",
      "properties": {
        "state": {
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "JOB_STATE_UNSPECIFIED",
            "PENDING",
            "RUNNING",
            "SUCCEEDED",
            "FAILED"
          ]
        },
        "errorCode": {
          "type": "integer",
          "format": "int32"
        },
        "location": {
          "type": "string"
        },
        "name": {
          "type": "string"
        }
      }
    },
    "GoogleCloudSecuritycenterV2BigQueryExport": {
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2BigQueryExport",
      "properties": {
        "principal": {
          "readOnly": true,
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "updateTime": {
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "cryptoKeyName": {
          "readOnly": true,
          "type": "string"
        },
        "description": {
          "type": "string"
        },
        "createTime": {
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "dataset": {
          "type": "string"
        },
        "mostRecentEditor": {
          "readOnly": true,
          "type": "string"
        },
        "filter": {
          "type": "string"
        }
      }
    },
    "ListAssetsResult": {
      "id": "ListAssetsResult",
      "properties": {
        "asset": {
          "$ref": "Asset"
        },
        "state": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "UNUSED",
            "ADDED",
            "REMOVED",
            "ACTIVE"
          ]
        }
      },
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2IssueSecurityContextContext": {
      "properties": {
        "values": {
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "type": {
          "type": "string"
        }
      },
      "id": "GoogleCloudSecuritycenterV2IssueSecurityContextContext",
      "type": "object"
    },
    "OrganizationSettings": {
      "type": "object",
      "properties": {
        "enableAssetDiscovery": {
          "type": "boolean"
        },
        "assetDiscoveryConfig": {
          "$ref": "AssetDiscoveryConfig"
        },
        "name": {
          "type": "string"
        }
      },
      "id": "OrganizationSettings"
    },
    "GoogleCloudSecuritycenterV1CustomConfig": {
      "type": "object",
      "id": "GoogleCloudSecuritycenterV1CustomConfig",
      "properties": {
        "customOutput": {
          "$ref": "GoogleCloudSecuritycenterV1CustomOutputSpec"
        },
        "severity": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "SEVERITY_UNSPECIFIED",
            "CRITICAL",
            "HIGH",
            "MEDIUM",
            "LOW"
          ]
        },
        "recommendation": {
          "type": "string"
        },
        "predicate": {
          "$ref": "Expr"
        },
        "resourceSelector": {
          "$ref": "GoogleCloudSecuritycenterV1ResourceSelector"
        },
        "description": {
          "type": "string"
        }
      }
    },
    "PolicyViolationSummary": {
      "type": "object",
      "id": "PolicyViolationSummary",
      "properties": {
        "evaluationErrorsCount": {
          "type": "string",
          "format": "int64"
        },
        "outOfScopeResourcesCount": {
          "type": "string",
          "format": "int64"
        },
        "policyViolationsCount": {
          "format": "int64",
          "type": "string"
        },
        "conformantResourcesCount": {
          "type": "string",
          "format": "int64"
        }
      }
    },
    "GoogleCloudSecuritycenterV1p1beta1RunAssetDiscoveryResponse": {
      "type": "object",
      "id": "GoogleCloudSecuritycenterV1p1beta1RunAssetDiscoveryResponse",
      "properties": {
        "duration": {
          "format": "google-duration",
          "type": "string"
        },
        "state": {
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "COMPLETED",
            "SUPERSEDED",
            "TERMINATED"
          ]
        }
      }
    },
    "GoogleCloudSecuritycenterV2SensitiveDataProtectionMapping": {
      "id": "GoogleCloudSecuritycenterV2SensitiveDataProtectionMapping",
      "type": "object",
      "properties": {
        "mediumSensitivityMapping": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "RESOURCE_VALUE_UNSPECIFIED",
            "HIGH",
            "MEDIUM",
            "LOW",
            "NONE"
          ]
        },
        "highSensitivityMapping": {
          "enum": [
            "RESOURCE_VALUE_UNSPECIFIED",
            "HIGH",
            "MEDIUM",
            "LOW",
            "NONE"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ],
          "type": "string"
        }
      }
    },
    "GoogleCloudSecuritycenterV1Resource": {
      "properties": {
        "parent": {
          "type": "string"
        },
        "application": {
          "$ref": "GoogleCloudSecuritycenterV1ResourceApplication"
        },
        "adcSharedTemplate": {
          "$ref": "AdcSharedTemplateRevision"
        },
        "parentDisplayName": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "adcApplicationTemplate": {
          "$ref": "AdcApplicationTemplateRevision"
        },
        "service": {
          "type": "string"
        },
        "resourcePath": {
          "$ref": "ResourcePath"
        },
        "awsMetadata": {
          "$ref": "AwsMetadata"
        },
        "location": {
          "type": "string"
        },
        "organization": {
          "type": "string"
        },
        "azureMetadata": {
          "$ref": "AzureMetadata"
        },
        "resourcePathString": {
          "type": "string"
        },
        "displayName": {
          "type": "string"
        },
        "cloudProvider": {
          "enum": [
            "CLOUD_PROVIDER_UNSPECIFIED",
            "GOOGLE_CLOUD_PLATFORM",
            "AMAZON_WEB_SERVICES",
            "MICROSOFT_AZURE"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ]
        },
        "type": {
          "type": "string"
        },
        "adcApplication": {
          "$ref": "AdcApplication"
        },
        "project": {
          "type": "string"
        },
        "projectDisplayName": {
          "type": "string"
        },
        "folders": {
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "Folder"
          }
        }
      },
      "type": "object",
      "id": "GoogleCloudSecuritycenterV1Resource"
    },
    "Container": {
      "id": "Container",
      "properties": {
        "createTime": {
          "format": "google-datetime",
          "type": "string"
        },
        "imageId": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "uri": {
          "type": "string"
        },
        "labels": {
          "type": "array",
          "items": {
            "$ref": "Label"
          }
        }
      },
      "type": "object"
    },
    "GoogleCloudSecuritycenterV1ResourceApplicationAttributesEnvironment": {
      "id": "GoogleCloudSecuritycenterV1ResourceApplicationAttributesEnvironment",
      "properties": {
        "type": {
          "type": "string",
          "enum": [
            "ENVIRONMENT_TYPE_UNSPECIFIED",
            "PRODUCTION",
            "STAGING",
            "TEST",
            "DEVELOPMENT"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ]
        }
      },
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2BulkMuteFindingsResponse": {
      "id": "GoogleCloudSecuritycenterV2BulkMuteFindingsResponse",
      "type": "object",
      "properties": {}
    },
    "GoogleCloudSecuritycenterV2BackupDisasterRecovery": {
      "type": "object",
      "properties": {
        "backupType": {
          "type": "string"
        },
        "host": {
          "type": "string"
        },
        "backupCreateTime": {
          "type": "string",
          "format": "google-datetime"
        },
        "appliance": {
          "type": "string"
        },
        "applications": {
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "profile": {
          "type": "string"
        },
        "policyOptions": {
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "storagePool": {
          "type": "string"
        },
        "backupTemplate": {
          "type": "string"
        },
        "policies": {
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "id": "GoogleCloudSecuritycenterV2BackupDisasterRecovery"
    },
    "GroupFindingsResponse": {
      "properties": {
        "nextPageToken": {
          "type": "string"
        },
        "groupByResults": {
          "type": "array",
          "items": {
            "$ref": "GroupResult"
          }
        },
        "readTime": {
          "type": "string",
          "format": "google-datetime"
        }
      },
      "type": "object",
      "id": "GroupFindingsResponse"
    },
    "BackupDisasterRecovery": {
      "properties": {
        "host": {
          "type": "string"
        },
        "applications": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "backupType": {
          "type": "string"
        },
        "backupCreateTime": {
          "type": "string",
          "format": "google-datetime"
        },
        "policies": {
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "profile": {
          "type": "string"
        },
        "backupTemplate": {
          "type": "string"
        },
        "storagePool": {
          "type": "string"
        },
        "appliance": {
          "type": "string"
        },
        "policyOptions": {
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "type": "object",
      "id": "BackupDisasterRecovery"
    },
    "GoogleCloudSecuritycenterV2KernelRootkit": {
      "properties": {
        "unexpectedProcessesInRunqueue": {
          "type": "boolean"
        },
        "unexpectedKprobeHandler": {
          "type": "boolean"
        },
        "unexpectedCodeModification": {
          "type": "boolean"
        },
        "unexpectedFtraceHandler": {
          "type": "boolean"
        },
        "name": {
          "type": "string"
        },
        "unexpectedKernelCodePages": {
          "type": "boolean"
        },
        "unexpectedInterruptHandler": {
          "type": "boolean"
        },
        "unexpectedReadOnlyDataModification": {
          "type": "boolean"
        },
        "unexpectedSystemCallHandler": {
          "type": "boolean"
        }
      },
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2KernelRootkit"
    },
    "GoogleCloudSecuritycenterV2AdcApplicationTemplateRevision": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        }
      },
      "id": "GoogleCloudSecuritycenterV2AdcApplicationTemplateRevision"
    },
    "GoogleCloudSecuritycenterV2File": {
      "type": "object",
      "properties": {
        "contents": {
          "type": "string"
        },
        "path": {
          "type": "string"
        },
        "partiallyHashed": {
          "type": "boolean"
        },
        "sha256": {
          "type": "string"
        },
        "operations": {
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2FileOperation"
          },
          "type": "array"
        },
        "hashedSize": {
          "type": "string",
          "format": "int64"
        },
        "size": {
          "type": "string",
          "format": "int64"
        },
        "fileLoadState": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "FILE_LOAD_STATE_UNSPECIFIED",
            "LOADED_BY_PROCESS",
            "NOT_LOADED_BY_PROCESS"
          ]
        },
        "diskPath": {
          "$ref": "GoogleCloudSecuritycenterV2DiskPath"
        }
      },
      "id": "GoogleCloudSecuritycenterV2File"
    },
    "VulnerabilitySnapshot": {
      "properties": {
        "snapshotTime": {
          "format": "google-datetime",
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "findingCount": {
          "$ref": "VulnerabilityCountBySeverity"
        },
        "cloudProvider": {
          "type": "string",
          "enum": [
            "CLOUD_PROVIDER_UNSPECIFIED",
            "GOOGLE_CLOUD_PLATFORM",
            "AMAZON_WEB_SERVICES",
            "MICROSOFT_AZURE"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ]
        }
      },
      "type": "object",
      "id": "VulnerabilitySnapshot"
    },
    "ListOperationsResponse": {
      "id": "ListOperationsResponse",
      "properties": {
        "unreachable": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "operations": {
          "items": {
            "$ref": "Operation"
          },
          "type": "array"
        },
        "nextPageToken": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2Control": {
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2Control",
      "properties": {
        "controlName": {
          "type": "string"
        },
        "displayName": {
          "type": "string"
        }
      }
    },
    "AttackExposure": {
      "id": "AttackExposure",
      "type": "object",
      "properties": {
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
[...]
