{
  "servicePath": "",
  "rootUrl": "https://securitycenter.googleapis.com/",
  "name": "securitycenter",
  "discoveryVersion": "v1",
  "protocol": "rest",
  "title": "Security Command Center API",
  "kind": "discovery#restDescription",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "ownerName": "Google",
  "parameters": {
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string",
      "location": "query"
    },
    "upload_protocol": {
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query",
      "type": "string"
    },
    "key": {
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string"
    },
    "callback": {
      "description": "JSONP",
      "location": "query",
      "type": "string"
    },
    "$.xgafv": {
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format.",
      "location": "query",
      "enum": [
        "1",
        "2"
      ]
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "location": "query",
      "type": "boolean",
      "default": "true"
    },
    "oauth_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth 2.0 token for the current user."
    },
    "alt": {
      "default": "json",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "description": "Data format for response.",
      "type": "string",
      "location": "query",
      "enum": [
        "json",
        "media",
        "proto"
      ]
    },
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query",
      "type": "string"
    }
  },
  "canonicalName": "Security Command Center",
  "version_module": true,
  "ownerDomain": "google.com",
  "mtlsRootUrl": "https://securitycenter.mtls.googleapis.com/",
  "baseUrl": "https://securitycenter.googleapis.com/",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        },
        "https://www.googleapis.com/auth/securitycenter": {
          "description": "See, edit, configure, and delete your Google Cloud Security Command Center data and see the email address for your Google Account"
        }
      }
    }
  },
  "batchPath": "batch",
  "basePath": "",
  "id": "securitycenter:v1",
  "documentationLink": "https://cloud.google.com/security-command-center",
  "description": "Security Command Center API provides access to temporal views of assets and findings within an organization.",
  "resources": {
    "projects": {
      "resources": {
        "notificationConfigs": {
          "methods": {
            "get": {
              "flatPath": "v1/projects/{projectsId}/notificationConfigs/{notificationConfigsId}",
              "id": "securitycenter.projects.notificationConfigs.get",
              "description": "",
              "httpMethod": "GET",
              "path": "v1/{+name}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/securitycenter"
              ],
              "response": {
                "$ref": "NotificationConfig"
              },
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "required": true,
                  "type": "string",
                  "pattern": "^projects/[^/]+/notificationConfigs/[^/]+$",
                  "location": "path"
                }
              }
            },
            "delete": {
              "httpMethod": "DELETE",
              "description": "",
              "id": "securitycenter.projects.notificationConfigs.delete",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/securitycenter"
              ],
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1/projects/{projectsId}/notificationConfigs/{notificationConfigsId}",
              "parameters": {
                "name": {
                  "pattern": "^projects/[^/]+/notificationConfigs/[^/]+$",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "response": {
                "$ref": "Empty"
              },
              "path": "v1/{+name}"
            },
            "list": {
              "parameters": {
                "pageToken": {
                  "type": "string",
                  "location": "query"
                },
                "parent": {
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "pattern": "^projects/[^/]+$"
                },
                "pageSize": {
                  "location": "query",
                  "type": "integer",
                  "format": "int32"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/securitycenter"
              ],
              "description": "",
              "httpMethod": "GET",
              "response": {
                "$ref": "ListNotificationConfigsResponse"
              },
              "parameterOrder": [
                "parent"
              ],
              "path": "v1/{+parent}/notificationConfigs",
              "flatPath": "v1/projects/{projectsId}/notificationConfigs",
              "id": "securitycenter.projects.notificationConfigs.list"
            },
            "patch": {
              "flatPath": "v1/projects/{projectsId}/notificationConfigs/{notificationConfigsId}",
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "NotificationConfig"
              },
              "httpMethod": "PATCH",
              "request": {
                "$ref": "NotificationConfig"
              },
              "parameters": {
                "name": {
                  "required": true,
                  "type": "string",
                  "pattern": "^projects/[^/]+/notificationConfigs/[^/]+$",
                  "location": "path"
                },
                "updateMask": {
                  "format": "google-fieldmask",
                  "type": "string",
                  "location": "query"
                }
              },
              "description": "",
              "id": "securitycenter.projects.notificationConfigs.patch",
              "path": "v1/{+name}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/securitycenter"
              ]
            },
            "create": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/securitycenter"
              ],
              "request": {
                "$ref": "NotificationConfig"
              },
              "description": "",
              "parameterOrder": [
                "parent"
              ],
              "parameters": {
                "parent": {
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "pattern": "^projects/[^/]+$"
                },
                "configId": {
                  "location": "query",
                  "type": "string"
                }
              },
              "path": "v1/{+parent}/notificationConfigs",
              "flatPath": "v1/projects/{projectsId}/notificationConfigs",
              "id": "securitycenter.projects.notificationConfigs.create",
              "httpMethod": "POST",
              "response": {
                "$ref": "NotificationConfig"
              }
            }
          }
        },
        "sources": {
          "methods": {
            "list": {
              "parameterOrder": [
                "parent"
              ],
              "id": "securitycenter.projects.sources.list",
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/securitycenter"
              ],
              "description": "",
              "path": "v1/{+parent}/sources",
              "flatPath": "v1/projects/{projectsId}/sources",
              "parameters": {
                "pageSize": {
                  "type": "integer",
                  "format": "int32",
                  "location": "query"
                },
                "parent": {
                  "location": "path",
                  "type": "string",
                  "pattern": "^projects/[^/]+$",
                  "required": true
                },
                "pageToken": {
                  "location": "query",
                  "type": "string"
                }
              },
              "response": {
                "$ref": "ListSourcesResponse"
              }
            }
          },
          "resources": {
            "findings": {
              "resources": {
                "externalSystems": {
                  "methods": {
                    "patch": {
                      "response": {
                        "$ref": "GoogleCloudSecuritycenterV1ExternalSystem"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/securitycenter"
                      ],
                      "parameters": {
                        "name": {
                          "location": "path",
                          "type": "string",
                          "required": true,
                          "pattern": "^projects/[^/]+/sources/[^/]+/findings/[^/]+/externalSystems/[^/]+$"
                        },
                        "updateMask": {
                          "type": "string",
                          "location": "query",
                          "format": "google-fieldmask"
                        }
                      },
                      "flatPath": "v1/projects/{projectsId}/sources/{sourcesId}/findings/{findingsId}/externalSystems/{externalSystemsId}",
                      "path": "v1/{+name}",
                      "id": "securitycenter.projects.sources.findings.externalSystems.patch",
                      "httpMethod": "PATCH",
                      "parameterOrder": [
                        "name"
                      ],
                      "request": {
                        "$ref": "GoogleCloudSecuritycenterV1ExternalSystem"
                      },
                      "description": ""
                    }
                  }
                }
              },
              "methods": {
                "setMute": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/securitycenter"
                  ],
                  "path": "v1/{+name}:setMute",
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "Finding"
                  },
                  "parameters": {
                    "name": {
                      "required": true,
                      "type": "string",
                      "pattern": "^projects/[^/]+/sources/[^/]+/findings/[^/]+$",
                      "location": "path"
                    }
                  },
                  "flatPath": "v1/projects/{projectsId}/sources/{sourcesId}/findings/{findingsId}:setMute",
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "SetMuteRequest"
                  },
                  "description": "",
                  "id": "securitycenter.projects.sources.findings.setMute"
                },
                "group": {
                  "request": {
                    "$ref": "GroupFindingsRequest"
                  },
                  "httpMethod": "POST",
                  "description": "",
                  "flatPath": "v1/projects/{projectsId}/sources/{sourcesId}/findings:group",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/securitycenter"
                  ],
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "GroupFindingsResponse"
                  },
                  "id": "securitycenter.projects.sources.findings.group",
                  "path": "v1/{+parent}/findings:group",
                  "parameters": {
                    "parent": {
                      "required": true,
                      "type": "string",
                      "pattern": "^projects/[^/]+/sources/[^/]+$",
                      "location": "path"
                    }
                  }
                },
                "setState": {
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "SetFindingStateRequest"
                  },
                  "response": {
                    "$ref": "Finding"
                  },
                  "flatPath": "v1/projects/{projectsId}/sources/{sourcesId}/findings/{findingsId}:setState",
                  "path": "v1/{+name}:setState",
                  "description": "",
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/sources/[^/]+/findings/[^/]+$",
                      "required": true,
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "id": "securitycenter.projects.sources.findings.setState",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/securitycenter"
                  ]
                },
                "list": {
                  "response": {
                    "$ref": "ListFindingsResponse"
                  },
                  "httpMethod": "GET",
                  "flatPath": "v1/projects/{projectsId}/sources/{sourcesId}/findings",
                  "id": "securitycenter.projects.sources.findings.list",
                  "parameterOrder": [
                    "parent"
                  ],
                  "path": "v1/{+parent}/findings",
                  "description": "",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/securitycenter"
                  ],
                  "parameters": {
                    "compareDuration": {
                      "type": "string",
                      "format": "google-duration",
                      "deprecated": true,
                      "location": "query"
                    },
                    "parent": {
                      "required": true,
                      "pattern": "^projects/[^/]+/sources/[^/]+$",
                      "type": "string",
                      "location": "path"
                    },
                    "orderBy": {
                      "location": "query",
                      "type": "string"
                    },
                    "fieldMask": {
                      "location": "query",
                      "type": "string",
                      "format": "google-fieldmask"
                    },
                    "pageSize": {
                      "format": "int32",
                      "type": "integer",
                      "location": "query"
                    },
                    "filter": {
                      "location": "query",
                      "type": "string"
                    },
                    "pageToken": {
                      "type": "string",
                      "location": "query"
                    },
                    "readTime": {
                      "format": "google-datetime",
                      "type": "string",
                      "deprecated": true,
                      "location": "query"
                    }
                  }
                },
                "patch": {
                  "parameters": {
                    "updateMask": {
                      "format": "google-fieldmask",
                      "location": "query",
                      "type": "string"
                    },
                    "name": {
                      "pattern": "^projects/[^/]+/sources/[^/]+/findings/[^/]+$",
                      "required": true,
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "flatPath": "v1/projects/{projectsId}/sources/{sourcesId}/findings/{findingsId}",
                  "path": "v1/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/securitycenter"
                  ],
                  "response": {
                    "$ref": "Finding"
                  },
                  "id": "securitycenter.projects.sources.findings.patch",
                  "httpMethod": "PATCH",
                  "request": {
                    "$ref": "Finding"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "description": ""
                },
                "updateSecurityMarks": {
                  "parameters": {
                    "startTime": {
                      "location": "query",
                      "format": "google-datetime",
                      "type": "string"
                    },
                    "name": {
                      "type": "string",
                      "required": true,
                      "pattern": "^projects/[^/]+/sources/[^/]+/findings/[^/]+/securityMarks$",
                      "location": "path"
                    },
                    "updateMask": {
                      "location": "query",
                      "format": "google-fieldmask",
                      "type": "string"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/securitycenter"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1/{+name}",
                  "request": {
                    "$ref": "SecurityMarks"
                  },
                  "id": "securitycenter.projects.sources.findings.updateSecurityMarks",
                  "response": {
                    "$ref": "SecurityMarks"
                  },
                  "description": "",
                  "flatPath": "v1/projects/{projectsId}/sources/{sourcesId}/findings/{findingsId}/securityMarks",
                  "httpMethod": "PATCH"
                }
              }
            }
          }
        },
        "findings": {
          "methods": {
            "bulkMute": {
              "id": "securitycenter.projects.findings.bulkMute",
              "parameters": {
                "parent": {
                  "required": true,
                  "pattern": "^projects/[^/]+$",
                  "location": "path",
                  "type": "string"
                }
              },
              "request": {
                "$ref": "BulkMuteFindingsRequest"
              },
              "parameterOrder": [
                "parent"
              ],
              "flatPath": "v1/projects/{projectsId}/findings:bulkMute",
              "httpMethod": "POST",
              "response": {
                "$ref": "Operation"
              },
              "path": "v1/{+parent}/findings:bulkMute",
              "description": "",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/securitycenter"
              ]
            }
          }
        },
        "bigQueryExports": {
          "methods": {
            "delete": {
              "parameters": {
                "name": {
                  "pattern": "^projects/[^/]+/bigQueryExports/[^/]+$",
                  "location": "path",
                  "type": "string",
                  "required": true
                }
              },
              "parameterOrder": [
                "name"
              ],
              "id": "securitycenter.projects.bigQueryExports.delete",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/securitycenter"
              ],
              "httpMethod": "DELETE",
              "description": "",
              "flatPath": "v1/projects/{projectsId}/bigQueryExports/{bigQueryExportsId}",
              "path": "v1/{+name}",
              "response": {
                "$ref": "Empty"
              }
            },
            "patch": {
              "flatPath": "v1/projects/{projectsId}/bigQueryExports/{bigQueryExportsId}",
              "description": "",
              "parameters": {
                "name": {
                  "location": "path",
                  "pattern": "^projects/[^/]+/bigQueryExports/[^/]+$",
                  "type": "string",
                  "required": true
                },
                "updateMask": {
                  "type": "string",
                  "format": "google-fieldmask",
                  "location": "query"
                }
              },
              "request": {
                "$ref": "GoogleCloudSecuritycenterV1BigQueryExport"
              },
              "response": {
                "$ref": "GoogleCloudSecuritycenterV1BigQueryExport"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/securitycenter"
              ],
              "httpMethod": "PATCH",
              "parameterOrder": [
                "name"
              ],
              "path": "v1/{+name}",
              "id": "securitycenter.projects.bigQueryExports.patch"
            },
            "list": {
              "flatPath": "v1/projects/{projectsId}/bigQueryExports",
              "httpMethod": "GET",
              "description": "",
              "path": "v1/{+parent}/bigQueryExports",
              "response": {
                "$ref": "ListBigQueryExportsResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/securitycenter"
              ],
              "parameters": {
                "pageSize": {
                  "type": "integer",
                  "format": "int32",
                  "location": "query"
                },
                "parent": {
                  "location": "path",
                  "pattern": "^projects/[^/]+$",
                  "type": "string",
                  "required": true
                },
                "pageToken": {
                  "location": "query",
                  "type": "string"
                }
              },
              "id": "securitycenter.projects.bigQueryExports.list",
              "parameterOrder": [
                "parent"
              ]
            },
            "create": {
              "response": {
                "$ref": "GoogleCloudSecuritycenterV1BigQueryExport"
              },
              "id": "securitycenter.projects.bigQueryExports.create",
              "flatPath": "v1/projects/{projectsId}/bigQueryExports",
              "description": "",
              "parameters": {
                "bigQueryExportId": {
                  "location": "query",
                  "type": "string"
                },
                "parent": {
                  "location": "path",
                  "pattern": "^projects/[^/]+$",
                  "type": "string",
                  "required": true
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/securitycenter"
              ],
              "parameterOrder": [
                "parent"
              ],
              "request": {
                "$ref": "GoogleCloudSecuritycenterV1BigQueryExport"
              },
              "path": "v1/{+parent}/bigQueryExports",
              "httpMethod": "POST"
            },
            "get": {
              "parameters": {
                "name": {
                  "required": true,
                  "pattern": "^projects/[^/]+/bigQueryExports/[^/]+$",
                  "location": "path",
                  "type": "string"
                }
              },
              "description": "",
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "GoogleCloudSecuritycenterV1BigQueryExport"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/securitycenter"
              ],
              "httpMethod": "GET",
              "id": "securitycenter.projects.bigQueryExports.get",
              "flatPath": "v1/projects/{projectsId}/bigQueryExports/{bigQueryExportsId}",
              "path": "v1/{+name}"
            }
          }
        },
        "assets": {
          "methods": {
            "group": {
              "id": "securitycenter.projects.assets.group",
              "parameters": {
                "parent": {
                  "required": true,
                  "pattern": "^projects/[^/]+$",
                  "type": "string",
                  "location": "path"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/securitycenter"
              ],
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "GroupAssetsResponse"
              },
              "description": "",
              "flatPath": "v1/projects/{projectsId}/assets:group",
              "request": {
                "$ref": "GroupAssetsRequest"
              },
              "deprecated": true,
              "path": "v1/{+parent}/assets:group",
              "httpMethod": "POST"
            },
            "updateSecurityMarks": {
              "httpMethod": "PATCH",
              "flatPath": "v1/projects/{projectsId}/assets/{assetsId}/securityMarks",
              "description": "",
              "id": "securitycenter.projects.assets.updateSecurityMarks",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/securitycenter"
              ],
              "parameterOrder": [
                "name"
              ],
              "request": {
                "$ref": "SecurityMarks"
              },
              "response": {
                "$ref": "SecurityMarks"
              },
              "path": "v1/{+name}",
              "parameters": {
                "startTime": {
                  "type": "string",
                  "format": "google-datetime",
                  "location": "query"
                },
                "name": {
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "pattern": "^projects/[^/]+/assets/[^/]+/securityMarks$"
                },
                "updateMask": {
                  "format": "google-fieldmask",
                  "type": "string",
                  "location": "query"
                }
              }
            },
            "list": {
              "id": "securitycenter.projects.assets.list",
              "path": "v1/{+parent}/assets",
              "parameters": {
                "readTime": {
                  "format": "google-datetime",
                  "location": "query",
                  "type": "string"
                },
                "pageSize": {
                  "format": "int32",
                  "location": "query",
                  "type": "integer"
                },
                "filter": {
                  "location": "query",
                  "type": "string"
                },
                "parent": {
                  "required": true,
                  "pattern": "^projects/[^/]+$",
                  "location": "path",
                  "type": "string"
                },
                "pageToken": {
                  "type": "string",
                  "location": "query"
                },
                "compareDuration": {
                  "location": "query",
                  "type": "string",
                  "format": "google-duration"
                },
                "fieldMask": {
                  "location": "query",
                  "format": "google-fieldmask",
                  "type": "string"
                },
                "orderBy": {
                  "location": "query",
                  "type": "string"
                }
              },
              "flatPath": "v1/projects/{projectsId}/assets",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/securitycenter"
              ],
              "response": {
                "$ref": "ListAssetsResponse"
              },
              "parameterOrder": [
                "parent"
              ],
              "httpMethod": "GET",
              "description": "",
              "deprecated": true
            }
          }
        },
        "eventThreatDetectionSettings": {
          "methods": {
            "validateCustomModule": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/securitycenter"
              ],
              "response": {
                "$ref": "ValidateEventThreatDetectionCustomModuleResponse"
              },
              "parameterOrder": [
                "parent"
              ],
              "flatPath": "v1/projects/{projectsId}/eventThreatDetectionSettings:validateCustomModule",
              "httpMethod": "POST",
              "id": "securitycenter.projects.eventThreatDetectionSettings.validateCustomModule",
              "path": "v1/{+parent}:validateCustomModule",
              "parameters": {
                "parent": {
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "pattern": "^projects/[^/]+/eventThreatDetectionSettings$"
                }
              },
              "description": "",
              "request": {
                "$ref": "ValidateEventThreatDetectionCustomModuleRequest"
              }
            }
          },
          "resources": {
            "customModules": {
              "methods": {
                "list": {
                  "flatPath": "v1/projects/{projectsId}/eventThreatDetectionSettings/customModules",
                  "parameters": {
                    "pageSize": {
                      "type": "integer",
                      "location": "query",
                      "format": "int32"
                    },
                    "parent": {
                      "required": true,
                      "pattern": "^projects/[^/]+/eventThreatDetectionSettings$",
                      "location": "path",
                      "type": "string"
                    },
                    "pageToken": {
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "response": {
                    "$ref": "ListEventThreatDetectionCustomModulesResponse"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "id": "securitycenter.projects.eventThreatDetectionSettings.customModules.list",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/securitycenter"
                  ],
                  "description": "",
                  "httpMethod": "GET",
                  "path": "v1/{+parent}/customModules"
                },
                "create": {
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "pattern": "^projects/[^/]+/eventThreatDetectionSettings$",
                      "type": "string",
                      "required": true
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "httpMethod": "POST",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/securitycenter"
                  ],
                  "response": {
                    "$ref": "EventThreatDetectionCustomModule"
                  },
                  "request": {
                    "$ref": "EventThreatDetectionCustomModule"
                  },
                  "path": "v1/{+parent}/customModules",
                  "description": "",
                  "id": "securitycenter.projects.eventThreatDetectionSettings.customModules.create",
                  "flatPath": "v1/projects/{projectsId}/eventThreatDetectionSettings/customModules"
                },
                "listDescendant": {
                  "path": "v1/{+parent}/customModules:listDescendant",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/securitycenter"
                  ],
                  "parameters": {
                    "pageSize": {
                      "format": "int32",
                      "location": "query",
                      "type": "integer"
                    },
                    "pageToken": {
                      "location": "query",
                      "type": "string"
                    },
                    "parent": {
                      "pattern": "^projects/[^/]+/eventThreatDetectionSettings$",
                      "location": "path",
                      "type": "string",
                      "required": true
                    }
                  },
                  "description": "",
                  "response": {
                    "$ref": "ListDescendantEventThreatDetectionCustomModulesResponse"
                  },
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "parent"
                  ],
                  "flatPath": "v1/projects/{projectsId}/eventThreatDetectionSettings/customModules:listDescendant",
                  "id": "securitycenter.projects.eventThreatDetectionSettings.customModules.listDescendant"
                },
                "delete": {
                  "flatPath": "v1/projects/{projectsId}/eventThreatDetectionSettings/customModules/{customModulesId}",
                  "path": "v1/{+name}",
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/eventThreatDetectionSettings/customModules/[^/]+$",
                      "required": true,
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/securitycenter"
                  ],
                  "response": {
                    "$ref": "Empty"
                  },
                  "description": "",
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "securitycenter.projects.eventThreatDetectionSettings.customModules.delete",
                  "httpMethod": "DELETE"
                },
                "patch": {
                  "id": "securitycenter.projects.eventThreatDetectionSettings.customModules.patch",
                  "parameters": {
                    "name": {
                      "required": true,
                      "pattern": "^projects/[^/]+/eventThreatDetectionSettings/customModules/[^/]+$",
                      "type": "string",
                      "location": "path"
                    },
                    "updateMask": {
                      "format": "google-fieldmask",
                      "type": "string",
                      "location": "query"
                    }
                  },
                  "response": {
                    "$ref": "EventThreatDetectionCustomModule"
                  },
                  "description": "",
                  "flatPath": "v1/projects/{projectsId}/eventThreatDetectionSettings/customModules/{customModulesId}",
                  "request": {
                    "$ref": "EventThreatDetectionCustomModule"
                  },
                  "httpMethod": "PATCH",
                  "path": "v1/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/securitycenter"
                  ],
                  "parameterOrder": [
                    "name"
                  ]
                },
                "get": {
                  "flatPath": "v1/projects/{projectsId}/eventThreatDetectionSettings/customModules/{customModulesId}",
                  "httpMethod": "GET",
                  "id": "securitycenter.projects.eventThreatDetectionSettings.customModules.get",
                  "path": "v1/{+name}",
                  "response": {
                    "$ref": "EventThreatDetectionCustomModule"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/securitycenter"
                  ],
                  "parameters": {
                    "name": {
                      "required": true,
                      "type": "string",
                      "pattern": "^projects/[^/]+/eventThreatDetectionSettings/customModules/[^/]+$",
                      "location": "path"
                    }
                  },
                  "description": "",
                  "parameterOrder": [
                    "name"
                  ]
                }
              }
            },
            "effectiveCustomModules": {
              "methods": {
                "list": {
                  "description": "",
                  "parameters": {
                    "pageSize": {
                      "type": "integer",
                      "format": "int32",
                      "location": "query"
                    },
                    "pageToken": {
                      "type": "string",
                      "location": "query"
                    },
                    "parent": {
                      "type": "string",
                      "required": true,
                      "location": "path",
                      "pattern": "^projects/[^/]+/eventThreatDetectionSettings$"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/securitycenter"
                  ],
                  "flatPath": "v1/projects/{projectsId}/eventThreatDetectionSettings/effectiveCustomModules",
                  "id": "securitycenter.projects.eventThreatDetectionSettings.effectiveCustomModules.list",
                  "parameterOrder": [
                    "parent"
                  ],
                  "path": "v1/{+parent}/effectiveCustomModules",
                  "response": {
                    "$ref": "ListEffectiveEventThreatDetectionCustomModulesResponse"
                  },
                  "httpMethod": "GET"
                },
                "get": {
                  "id": "securitycenter.projects.eventThreatDetectionSettings.effectiveCustomModules.get",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "required": true,
                      "location": "path",
                      "pattern": "^projects/[^/]+/eventThreatDetectionSettings/effectiveCustomModules/[^/]+$"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/securitycenter"
                  ],
                  "flatPath": "v1/projects/{projectsId}/eventThreatDetectionSettings/effectiveCustomModules/{effectiveCustomModulesId}",
                  "httpMethod": "GET",
                  "path": "v1/{+name}",
                  "response": {
                    "$ref": "EffectiveEventThreatDetectionCustomModule"
                  }
                }
              }
            }
          }
        },
        "locations": {
          "resources": {
            "muteConfigs": {
              "methods": {
                "delete": {
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/muteConfigs/{muteConfigsId}",
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "securitycenter.projects.locations.muteConfigs.delete",
                  "path": "v1/{+name}",
                  "parameters": {
                    "name": {
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/muteConfigs/[^/]+$",
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "response": {
                    "$ref": "Empty"
                  },
                  "description": "",
                  "httpMethod": "DELETE",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/securitycenter"
                  ]
                },
                "get": {
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/muteConfigs/{muteConfigsId}",
                  "response": {
                    "$ref": "GoogleCloudSecuritycenterV1MuteConfig"
                  },
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/muteConfigs/[^/]+$",
                      "type": "string",
                      "required": true,
                      "location": "path"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/securitycenter"
                  ],
                  "description": "",
                  "path": "v1/{+name}",
                  "id": "securitycenter.projects.locations.muteConfigs.get",
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "name"
                  ]
                },
                "patch": {
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1/{+name}",
                  "description": "",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/securitycenter"
                  ],
                  "httpMethod": "PATCH",
                  "response": {
                    "$ref": "GoogleCloudSecuritycenterV1MuteConfig"
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/muteConfigs/{muteConfigsId}",
                  "request": {
                    "$ref": "GoogleCloudSecuritycenterV1MuteConfig"
                  },
                  "parameters": {
                    "updateMask": {
                      "type": "string",
                      "location": "query",
                      "format": "google-fieldmask"
                    },
                    "name": {
                      "location": "path",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/muteConfigs/[^/]+$",
                      "required": true
                    }
                  },
                  "id": "securitycenter.projects.locations.muteConfigs.patch"
                }
              }
            }
          }
        },
        "securityHealthAnalyticsSettings": {
          "resources": {
            "customModules": {
              "methods": {
                "delete": {
                  "description": "",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/securitycenter"
                  ],
                  "response": {
                    "$ref": "Empty"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1/projects/{projectsId}/securityHealthAnalyticsSettings/customModules/{customModulesId}",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "pattern": "^projects/[^/]+/securityHealthAnalyticsSettings/customModules/[^/]+$",
                      "type": "string",
                      "required": true
                    }
                  },
                  "id": "securitycenter.projects.securityHealthAnalyticsSettings.customModules.delete",
                  "httpMethod": "DELETE",
                  "path": "v1/{+name}"
                },
                "list": {
                  "parameters": {
                    "parent": {
                      "required": true,
                      "type": "string",
                      "pattern": "^projects/[^/]+/securityHealthAnalyticsSettings$",
                      "location": "path"
                    },
                    "pageSize": {
                      "location": "query",
                      "format": "int32",
                      "type": "integer"
                    },
                    "pageToken": {
                      "type": "string",
                      "location": "query"
                    }
                  },
                  "response": {
                    "$ref": "ListSecurityHealthAnalyticsCustomModulesResponse"
                  },
                  "id": "securitycenter.projects.securityHealthAnalyticsSettings.customModules.list",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/securitycenter"
                  ],
                  "description": "",
                  "parameterOrder": [
                    "parent"
                  ],
                  "flatPath": "v1/projects/{projectsId}/securityHealthAnalyticsSettings/customModules",
                  "path": "v1/{+parent}/customModules",
                  "httpMethod": "GET"
                },
                "simulate": {
                  "id": "securitycenter.projects.securityHealthAnalyticsSettings.customModules.simulate",
                  "description": "",
                  "parameterOrder": [
                    "parent"
                  ],
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "SimulateSecurityHealthAnalyticsCustomModuleRequest"
                  },
                  "path": "v1/{+parent}/customModules:simulate",
                  "flatPath": "v1/projects/{projectsId}/securityHealthAnalyticsSettings/customModules:simulate",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/securitycenter"
                  ],
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "type": "string",
                      "pattern": "^projects/[^/]+/securityHealthAnalyticsSettings$",
                      "required": true
                    }
                  },
                  "response": {
                    "$ref": "SimulateSecurityHealthAnalyticsCustomModuleResponse"
                  }
                },
                "get": {
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "GET",
                  "description": "",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/securitycenter"
                  ],
                  "response": {
                    "$ref": "GoogleCloudSecuritycenterV1SecurityHealthAnalyticsCustomModule"
                  },
                  "path": "v1/{+name}",
                  "id": "securitycenter.projects.securityHealthAnalyticsSettings.customModules.get",
                  "flatPath": "v1/projects/{projectsId}/securityHealthAnalyticsSettings/customModules/{customModulesId}",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "required": true,
                      "location": "path",
                      "pattern": "^projects/[^/]+/securityHealthAnalyticsSettings/customModules/[^/]+$"
                    }
                  }
                },
                "patch": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/securitycenter"
                  ],
                  "flatPath": "v1/projects/{projectsId}/securityHealthAnalyticsSettings/customModules/{customModulesId}",
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "securitycenter.projects.securityHealthAnalyticsSettings.customModules.patch",
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/securityHealthAnalyticsSettings/customModules/[^/]+$",
                      "required": true,
                      "type": "string",
                      "location": "path"
                    },
                    "updateMask": {
                      "location": "query",
                      "format": "google-fieldmask",
                      "type": "string"
                    }
                  },
                  "request": {
                    "$ref": "GoogleCloudSecuritycenterV1SecurityHealthAnalyticsCustomModule"
                  },
                  "description": "",
                  "response": {
                    "$ref": "GoogleCloudSecuritycenterV1SecurityHealthAnalyticsCustomModule"
                  },
                  "path": "v1/{+name}",
                  "httpMethod": "PATCH"
                },
                "listDescendant": {
                  "parameters": {
                    "parent": {
                      "pattern": "^projects/[^/]+/securityHealthAnalyticsSettings$",
                      "location": "path",
                      "type": "string",
                      "required": true
                    },
                    "pageToken": {
                      "type": "string",
                      "location": "query"
                    },
                    "pageSize": {
                      "format": "int32",
                      "location": "query",
                      "type": "integer"
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/securitycenter"
                  ],
                  "flatPath": "v1/projects/{projectsId}/securityHealthAnalyticsSettings/customModules:listDescendant",
                  "httpMethod": "GET",
                  "path": "v1/{+parent}/customModules:listDescendant",
                  "description": "",
                  "id": "securitycenter.projects.securityHealthAnalyticsSettings.customModules.listDescendant",
                  "response": {
                    "$ref": "ListDescendantSecurityHealthAnalyticsCustomModulesResponse"
                  }
                },
                "create": {
                  "path": "v1/{+parent}/customModules",
                  "request": {
                    "$ref": "GoogleCloudSecuritycenterV1SecurityHealthAnalyticsCustomModule"
                  },
                  "parameters": {
                    "parent": {
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "pattern": "^projects/[^/]+/securityHealthAnalyticsSettings$"
                    }
                  },
                  "id": "securitycenter.projects.securityHealthAnalyticsSettings.customModules.create",
                  "flatPath": "v1/projects/{projectsId}/securityHealthAnalyticsSettings/customModules",
                  "description": "",
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "GoogleCloudSecuritycenterV1SecurityHealthAnalyticsCustomModule"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/securitycenter"
                  ],
                  "httpMethod": "POST"
                }
              }
            },
            "effectiveCustomModules": {
              "methods": {
                "list": {
                  "response": {
                    "$ref": "ListEffectiveSecurityHealthAnalyticsCustomModulesResponse"
                  },
                  "flatPath": "v1/projects/{projectsId}/securityHealthAnalyticsSettings/effectiveCustomModules",
                  "description": "",
                  "id": "securitycenter.projects.securityHealthAnalyticsSettings.effectiveCustomModules.list",
                  "httpMethod": "GET",
                  "path": "v1/{+parent}/effectiveCustomModules",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/securitycenter"
                  ],
                  "parameterOrder": [
                    "parent"
                  ],
                  "parameters": {
                    "pageToken": {
                      "location": "query",
                      "type": "string"
                    },
                    "parent": {
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/securityHealthAnalyticsSettings$"
                    },
                    "pageSize": {
                      "location": "query",
                      "type": "integer",
                      "format": "int32"
                    }
                  }
                },
                "get": {
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/securityHealthAnalyticsSettings/effectiveCustomModules/[^/]+$",
                      "location": "path",
                      "type": "string",
                      "required": true
                    }
                  },
                  "id": "securitycenter.projects.securityHealthAnalyticsSettings.effectiveCustomModules.get",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/securitycenter"
                  ],
                  "flatPath": "v1/projects/{projectsId}/securityHealthAnalyticsSettings/effectiveCustomModules/{effectiveCustomModulesId}",
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1/{+name}",
                  "response": {
                    "$ref": "GoogleCloudSecuritycenterV1EffectiveSecurityHealthAnalyticsCustomModule"
                  },
                  "description": "",
                  "httpMethod": "GET"
                }
              }
            }
          }
        },
        "muteConfigs": {
          "methods": {
            "list": {
              "parameterOrder": [
                "parent"
              ],
              "httpMethod": "GET",
              "id": "securitycenter.projects.muteConfigs.list",
              "description": "",
              "parameters": {
                "parent": {
                  "required": true,
                  "type": "string",
                  "pattern": "^projects/[^/]+$",
                  "location": "path"
                },
                "pageToken": {
                  "location": "query",
                  "type": "string"
                },
                "pageSize": {
                  "type": "integer",
                  "format": "int32",
                  "location": "query"
                }
              },
              "path": "v1/{+parent}/muteConfigs",
              "response": {
                "$ref": "ListMuteConfigsResponse"
              },
              "flatPath": "v1/projects/{projectsId}/muteConfigs",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/securitycenter"
              ]
            },
            "delete": {
              "id": "securitycenter.projects.muteConfigs.delete",
              "path": "v1/{+name}",
              "parameters": {
                "name": {
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "pattern": "^projects/[^/]+/muteConfigs/[^/]+$"
                }
              },
              "flatPath": "v1/projects/{projectsId}/muteConfigs/{muteConfigsId}",
              "description": "",
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "Empty"
              },
              "httpMethod": "DELETE",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/securitycenter"
              ]
            },
            "get": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/securitycenter"
              ],
              "response": {
                "$ref": "GoogleCloudSecuritycenterV1MuteConfig"
              },
              "httpMethod": "GET",
              "id": "securitycenter.projects.muteConfigs.get",
              "flatPath": "v1/projects/{projectsId}/muteConfigs/{muteConfigsId}",
              "description": "",
              "parameterOrder": [
                "name"
              ],
              "path": "v1/{+name}",
              "parameters": {
                "name": {
                  "type": "string",
                  "pattern": "^projects/[^/]+/muteConfigs/[^/]+$",
                  "required": true,
                  "location": "path"
                }
              }
            },
            "patch": {
              "response": {
                "$ref": "GoogleCloudSecuritycenterV1MuteConfig"
              },
              "httpMethod": "PATCH",
              "flatPath": "v1/projects/{projectsId}/muteConfigs/{muteConfigsId}",
              "path": "v1/{+name}",
              "id": "securitycenter.projects.muteConfigs.patch",
              "parameters": {
                "name": {
                  "required": true,
                  "type": "string",
                  "pattern": "^projects/[^/]+/muteConfigs/[^/]+$",
                  "location": "path"
                },
                "updateMask": {
                  "location": "query",
                  "type": "string",
                  "format": "google-fieldmask"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/securitycenter"
              ],
              "parameterOrder": [
                "name"
              ],
              "request": {
                "$ref": "GoogleCloudSecuritycenterV1MuteConfig"
              },
              "description": ""
            },
            "create": {
              "flatPath": "v1/projects/{projectsId}/muteConfigs",
              "httpMethod": "POST",
              "response": {
                "$ref": "GoogleCloudSecuritycenterV1MuteConfig"
              },
              "path": "v1/{+parent}/muteConfigs",
              "parameterOrder": [
                "parent"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/securitycenter"
              ],
              "id": "securitycenter.projects.muteConfigs.create",
              "description": "",
              "parameters": {
                "parent": {
                  "pattern": "^projects/[^/]+$",
                  "required": true,
                  "location": "path",
                  "type": "string"
                },
                "muteConfigId": {
                  "location": "query",
                  "type": "string"
                }
              },
              "request": {
                "$ref": "GoogleCloudSecuritycenterV1MuteConfig"
              }
            }
          }
        }
      }
    },
    "organizations": {
      "methods": {
        "getOrganizationSettings": {
          "response": {
            "$ref": "OrganizationSettings"
          },
          "parameters": {
            "name": {
              "location": "path",
              "pattern": "^organizations/[^/]+/organizationSettings$",
              "required": true,
              "type": "string"
            }
          },
          "parameterOrder": [
            "name"
          ],
          "id": "securitycenter.organizations.getOrganizationSettings",
          "flatPath": "v1/organizations/{organizationsId}/organizationSettings",
          "httpMethod": "GET",
          "description": "",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/securitycenter"
          ],
          "path": "v1/{+name}"
        },
        "updateOrganizationSettings": {
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/securitycenter"
          ],
          "parameters": {
            "name": {
              "location": "path",
              "pattern": "^organizations/[^/]+/organizationSettings$",
              "required": true,
              "type": "string"
            },
            "updateMask": {
              "location": "query",
              "format": "google-fieldmask",
              "type": "string"
            }
          },
          "parameterOrder": [
            "name"
          ],
          "description": "",
          "id": "securitycenter.organizations.updateOrganizationSettings",
          "response": {
            "$ref": "OrganizationSettings"
          },
          "path": "v1/{+name}",
          "deprecated": true,
          "request": {
            "$ref": "OrganizationSettings"
          },
          "flatPath": "v1/organizations/{organizationsId}/organizationSettings",
          "httpMethod": "PATCH"
        }
      },
      "resources": {
        "valuedResources": {
          "methods": {
            "list": {
              "path": "v1/{+parent}/valuedResources",
              "id": "securitycenter.organizations.valuedResources.list",
              "response": {
                "$ref": "ListValuedResourcesResponse"
              },
              "parameterOrder": [
                "parent"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/securitycenter"
              ],
              "parameters": {
                "pageSize": {
                  "location": "query",
                  "type": "integer",
                  "format": "int32"
                },
                "parent": {
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "pattern": "^organizations/[^/]+$"
                },
                "pageToken": {
                  "type": "string",
                  "location": "query"
                },
                "orderBy": {
                  "type": "string",
                  "location": "query"
                },
                "filter": {
                  "type": "string",
                  "location": "query"
                }
              },
              "flatPath": "v1/organizations/{organizationsId}/valuedResources",
              "description": "",
              "httpMethod": "GET"
            }
          }
        },
        "securityHealthAnalyticsSettings": {
          "resources": {
            "effectiveCustomModules": {
              "methods": {
                "list": {
                  "parameterOrder": [
                    "parent"
                  ],
                  "flatPath": "v1/organizations/{organizationsId}/securityHealthAnalyticsSettings/effectiveCustomModules",
                  "path": "v1/{+parent}/effectiveCustomModules",
                  "parameters": {
                    "parent": {
                      "pattern": "^organizations/[^/]+/securityHealthAnalyticsSettings$",
                      "required": true,
                      "type": "string",
                      "location": "path"
                    },
                    "pageSize": {
                      "format": "int32",
                      "type": "integer",
                      "location": "query"
                    },
                    "pageToken": {
                      "type": "string",
                      "location": "query"
                    }
                  },
                  "response": {
                    "$ref": "ListEffectiveSecurityHealthAnalyticsCustomModulesResponse"
                  },
                  "description": "",
                  "id": "securitycenter.organizations.securityHealthAnalyticsSettings.effectiveCustomModules.list",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/securitycenter"
                  ],
                  "httpMethod": "GET"
                },
                "get": {
                  "flatPath": "v1/organizations/{organizationsId}/securityHealthAnalyticsSettings/effectiveCustomModules/{effectiveCustomModulesId}",
                  "path": "v1/{+name}",
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "",
                  "response": {
                    "$ref": "GoogleCloudSecuritycenterV1EffectiveSecurityHealthAnalyticsCustomModule"
                  },
                  "parameters": {
                    "name": {
                      "required": true,
                      "type": "string",
                      "pattern": "^organizations/[^/]+/securityHealthAnalyticsSettings/effectiveCustomModules/[^/]+$",
                      "location": "path"
                    }
                  },
                  "id": "securitycenter.organizations.securityHealthAnalyticsSettings.effectiveCustomModules.get",
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/securitycenter"
                  ]
                }
              }
            },
            "customModules": {
              "methods": {
                "list": {
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/securitycenter"
                  ],
                  "id": "securitycenter.organizations.securityHealthAnalyticsSettings.customModules.list",
                  "parameters": {
                    "parent": {
                      "required": true,
                      "type": "string",
                      "pattern": "^organizations/[^/]+/securityHealthAnalyticsSettings$",
                      "location": "path"
                    },
                    "pageSize": {
                      "location": "query",
                      "format": "int32",
                      "type": "integer"
                    },
                    "pageToken": {
                      "type": "string",
                      "location": "query"
                    }
                  },
                  "response": {
                    "$ref": "ListSecurityHealthAnalyticsCustomModulesResponse"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "path": "v1/{+parent}/customModules",
                  "flatPath": "v1/organizations/{organizationsId}/securityHealthAnalyticsSettings/customModules",
                  "description": ""
                },
                "get": {
                  "response": {
                    "$ref": "GoogleCloudSecuritycenterV1SecurityHealthAnalyticsCustomModule"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1/organizations/{organizationsId}/securityHealthAnalyticsSettings/customModules/{customModulesId}",
                  "parameters": {
                    "name": {
                      "pattern": "^organizations/[^/]+/securityHealthAnalyticsSettings/customModules/[^/]+$",
                      "required": true,
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/securitycenter"
                  ],
                  "id": "securitycenter.organizations.securityHealthAnalyticsSettings.customModules.get",
                  "description": "",
                  "httpMethod": "GET",
                  "path": "v1/{+name}"
                },
                "create": {
                  "path": "v1/{+parent}/customModules",
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "parent"
                  ],
                  "id": "securitycenter.organizations.securityHealthAnalyticsSettings.customModules.create",
                  "request": {
                    "$ref": "GoogleCloudSecuritycenterV1SecurityHealthAnalyticsCustomModule"
                  },
                  "flatPath": "v1/organizations/{organizationsId}/securityHealthAnalyticsSettings/customModules",
                  "parameters": {
                    "parent": {
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "pattern": "^organizations/[^/]+/securityHealthAnalyticsSettings$"
                    }
                  },
                  "response": {
                    "$ref": "GoogleCloudSecuritycenterV1SecurityHealthAnalyticsCustomModule"
                  },
                  "description": "",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/securitycenter"
                  ]
                },
                "simulate": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/securitycenter"
                  ],
                  "flatPath": "v1/organizations/{organizationsId}/securityHealthAnalyticsSettings/customModules:simulate",
                  "description": "",
                  "parameterOrder": [
                    "parent"
                  ],
                  "parameters": {
                    "parent": {
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "pattern": "^organizations/[^/]+/securityHealthAnalyticsSettings$"
                    }
                  },
                  "response": {
                    "$ref": "SimulateSecurityHealthAnalyticsCustomModuleResponse"
                  },
                  "id": "securitycenter.organizations.securityHealthAnalyticsSettings.customModules.simulate",
                  "path": "v1/{+parent}/customModules:simulate",
                  "request": {
                    "$ref": "SimulateSecurityHealthAnalyticsCustomModuleRequest"
                  },
                  "httpMethod": "POST"
                },
                "listDescendant": {
                  "path": "v1/{+parent}/customModules:listDescendant",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/securitycenter"
                  ],
                  "id": "securitycenter.organizations.securityHealthAnalyticsSettings.customModules.listDescendant",
                  "parameters": {
                    "pageSize": {
                      "location": "query",
                      "type": "integer",
                      "format": "int32"
                    },
                    "pageToken": {
                      "location": "query",
                      "type": "string"
                    },
                    "parent": {
                      "location": "path",
                      "type": "string",
                      "required": true,
                      "pattern": "^organizations/[^/]+/securityHealthAnalyticsSettings$"
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "ListDescendantSecurityHealthAnalyticsCustomModulesResponse"
                  },
                  "description": "",
                  "flatPath": "v1/organizations/{organizationsId}/securityHealthAnalyticsSettings/customModules:listDescendant",
                  "httpMethod": "GET"
                },
                "delete": {
                  "httpMethod": "DELETE",
                  "response": {
                    "$ref": "Empty"
                  },
                  "flatPath": "v1/organizations/{organizationsId}/securityHealthAnalyticsSettings/customModules/{customModulesId}",
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "",
                  "path": "v1/{+name}",
                  "parameters": {
                    "name": {
                      "required": true,
                      "pattern": "^organizations/[^/]+/securityHealthAnalyticsSettings/customModules/[^/]+$",
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "id": "securitycenter.organizations.securityHealthAnalyticsSettings.customModules.delete",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/securitycenter"
                  ]
                },
                "patch": {
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1/organizations/{organizationsId}/securityHealthAnalyticsSettings/customModules/{customModulesId}",
                  "description": "",
                  "path": "v1/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/securitycenter"
                  ],
                  "response": {
                    "$ref": "GoogleCloudSecuritycenterV1SecurityHealthAnalyticsCustomModule"
                  },
                  "parameters": {
                    "updateMask": {
                      "format": "google-fieldmask",
                      "type": "string",
                      "location": "query"
                    },
                    "name": {
                      "type": "string",
                      "pattern": "^organizations/[^/]+/securityHealthAnalyticsSettings/customModules/[^/]+$",
                      "required": true,
                      "location": "path"
                    }
                  },
                  "id": "securitycenter.organizations.securityHealthAnalyticsSettings.customModules.patch",
                  "request": {
                    "$ref": "GoogleCloudSecuritycenterV1SecurityHealthAnalyticsCustomModule"
                  },
                  "httpMethod": "PATCH"
                }
              }
            }
          }
        },
        "locations": {
          "resources": {
            "muteConfigs": {
              "methods": {
                "get": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/securitycenter"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "GET",
                  "id": "securitycenter.organizations.locations.muteConfigs.get",
                  "response": {
                    "$ref": "GoogleCloudSecuritycenterV1MuteConfig"
                  },
                  "path": "v1/{+name}",
                  "description": "",
                  "flatPath": "v1/organizations/{organizationsId}/locations/{locationsId}/muteConfigs/{muteConfigsId}",
                  "parameters": {
                    "name": {
                      "required": true,
                      "location": "path",
                      "type": "string",
                      "pattern": "^organizations/[^/]+/locations/[^/]+/muteConfigs/[^/]+$"
                    }
                  }
                },
                "patch": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/securitycenter"
                  ],
                  "path": "v1/{+name}",
                  "request": {
                    "$ref": "GoogleCloudSecuritycenterV1MuteConfig"
                  },
                  "httpMethod": "PATCH",
                  "description": "",
                  "flatPath": "v1/organizations/{organizationsId}/locations/{locationsId}/muteConfigs/{muteConfigsId}",
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "updateMask": {
                      "format": "google-fieldmask",
                      "location": "query",
                      "type": "string"
                    },
                    "name": {
                      "pattern": "^organizations/[^/]+/locations/[^/]+/muteConfigs/[^/]+$",
                      "required": true,
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "response": {
                    "$ref": "GoogleCloudSecuritycenterV1MuteConfig"
                  },
                  "id": "securitycenter.organizations.locations.muteConfigs.patch"
                },
                "delete": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/securitycenter"
                  ],
                  "parameters": {
                    "name": {
                      "location": "path",
                      "pattern": "^organizations/[^/]+/locations/[^/]+/muteConfigs/[^/]+$",
                      "type": "string",
                      "required": true
                    }
                  },
                  "description": "",
                  "flatPath": "v1/organizations/{organizationsId}/locations/{locationsId}/muteConfigs/{muteConfigsId}",
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "securitycenter.organizations.locations.muteConfigs.delete",
                  "path": "v1/{+name}",
                  "httpMethod": "DELETE",
                  "response": {
                    "$ref": "Empty"
                  }
                }
              }
            }
          }
        },
        "eventThreatDetectionSettings": {
          "resources": {
            "effectiveCustomModules": {
              "methods": {
                "get": {
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "pattern": "^organizations/[^/]+/eventThreatDetectionSettings/effectiveCustomModules/[^/]+$"
                    }
                  },
                  "id": "securitycenter.organizations.eventThreatDetectionSettings.effectiveCustomModules.get",
                  "path": "v1/{+name}",
                  "response": {
                    "$ref": "EffectiveEventThreatDetectionCustomModule"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/securitycenter"
                  ],
                  "httpMethod": "GET",
                  "flatPath": "v1/organizations/{organizationsId}/eventThreatDetectionSettings/effectiveCustomModules/{effectiveCustomModulesId}",
                  "description": ""
                },
                "list": {
                  "description": "",
                  "response": {
                    "$ref": "ListEffectiveEventThreatDetectionCustomModulesResponse"
                  },
                  "parameters": {
                    "parent": {
                      "pattern": "^organizations/[^/]+/eventThreatDetectionSettings$",
                      "type": "string",
                      "required": true,
                      "location": "path"
                    },
                    "pageToken": {
                      "type": "string",
                      "location": "query"
                    },
                    "pageSize": {
                      "location": "query",
                      "format": "int32",
                      "type": "integer"
                    }
                  },
                  "path": "v1/{+parent}/effectiveCustomModules",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/securitycenter"
                  ],
                  "flatPath": "v1/organizations/{organizationsId}/eventThreatDetectionSettings/effectiveCustomModules",
                  "parameterOrder": [
                    "parent"
                  ],
                  "httpMethod": "GET",
                  "id": "securitycenter.organizations.eventThreatDetectionSettings.effectiveCustomModules.list"
                }
              }
            },
            "customModules": {
              "methods": {
                "listDescendant": {
                  "flatPath": "v1/organizations/{organizationsId}/eventThreatDetectionSettings/customModules:listDescendant",
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "ListDescendantEventThreatDetectionCustomModulesResponse"
                  },
                  "id": "securitycenter.organizations.eventThreatDetectionSettings.customModules.listDescendant",
                  "parameters": {
                    "pageToken": {
                      "location": "query",
                      "type": "string"
                    },
                    "parent": {
                      "type": "string",
                      "pattern": "^organizations/[^/]+/eventThreatDetectionSettings$",
                      "required": true,
                      "location": "path"
                    },
                    "pageSize": {
                      "type": "integer",
                      "format": "int32",
                      "location": "query"
                    }
                  },
                  "description": "",
                  "parameterOrder": [
                    "parent"
                  ],
                  "path": "v1/{+parent}/customModules:listDescendant",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/securitycenter"
                  ]
                },
                "create": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/securitycenter"
                  ],
                  "httpMethod": "POST",
                  "description": "",
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "EventThreatDetectionCustomModule"
                  },
                  "id": "securitycenter.organizations.eventThreatDetectionSettings.customModules.create",
                  "path": "v1/{+parent}/customModules",
                  "flatPath": "v1/organizations/{organizationsId}/eventThreatDetectionSettings/customModules",
                  "request": {
                    "$ref": "EventThreatDetectionCustomModule"
                  },
                  "parameters": {
                    "parent": {
                      "pattern": "^organizations/[^/]+/eventThreatDetectionSettings$",
                      "type": "string",
                      "required": true,
                      "location": "path"
                    }
                  }
                },
                "patch": {
                  "flatPath": "v1/organizations/{organizationsId}/eventThreatDetectionSettings/customModules/{customModulesId}",
                  "httpMethod": "PATCH",
                  "response": {
                    "$ref": "EventThreatDetectionCustomModule"
                  },
                  "description": "",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "location": "path",
                      "pattern": "^organizations/[^/]+/eventThreatDetectionSettings/customModules/[^/]+$",
                      "required": true
                    },
                    "updateMask": {
                      "location": "query",
                      "format": "google-fieldmask",
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "request": {
                    "$ref": "EventThreatDetectionCustomModule"
                  },
                  "path": "v1/{+name}",
                  "id": "securitycenter.organizations.eventThreatDetectionSettings.customModules.patch",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/securitycenter"
                  ]
                },
                "get": {
                  "path": "v1/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/securitycenter"
                  ],
                  "httpMethod": "GET",
                  "id": "securitycenter.organizations.eventThreatDetectionSettings.customModules.get",
                  "description": "",
                  "parameters": {
                    "name": {
                      "required": true,
                      "type": "string",
                      "pattern": "^organizations/[^/]+/eventThreatDetectionSettings/customModules/[^/]+$",
                      "location": "path"
                    }
                  },
                  "flatPath": "v1/organizations/{organizationsId}/eventThreatDetectionSettings/customModules/{customModulesId}",
                  "response": {
                    "$ref": "EventThreatDetectionCustomModule"
                  },
                  "parameterOrder": [
                    "name"
                  ]
                },
                "delete": {
                  "httpMethod": "DELETE",
                  "id": "securitycenter.organizations.eventThreatDetectionSettings.customModules.delete",
                  "response": {
                    "$ref": "Empty"
                  },
                  "parameters": {
                    "name": {
                      "type": "string",
                      "location": "path",
                      "pattern": "^organizations/[^/]+/eventThreatDetectionSettings/customModules/[^/]+$",
                      "required": true
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1/organizations/{organizationsId}/eventThreatDetectionSettings/customModules/{customModulesId}",
                  "path": "v1/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/securitycenter"
                  ],
                  "description": ""
                },
                "list": {
                  "path": "v1/{+parent}/customModules",
                  "httpMethod": "GET",
                  "id": "securitycenter.organizations.eventThreatDetectionSettings.customModules.list",
                  "parameters": {
                    "parent": {
                      "pattern": "^organizations/[^/]+/eventThreatDetectionSettings$",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    },
                    "pageSize": {
                      "format": "int32",
                      "location": "query",
                      "type": "integer"
                    },
                    "pageToken": {
                      "type": "string",
                      "location": "query"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/securitycenter"
                  ],
                  "parameterOrder": [
                    "parent"
                  ],
                  "description": "",
                  "flatPath": "v1/organizations/{organizationsId}/eventThreatDetectionSettings/customModules",
                  "response": {
                    "$ref": "ListEventThreatDetectionCustomModulesResponse"
                  }
                }
              }
            }
          },
          "methods": {
            "validateCustomModule": {
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/securitycenter"
              ],
              "request": {
                "$ref": "ValidateEventThreatDetectionCustomModuleRequest"
              },
              "path": "v1/{+parent}:validateCustomModule",
              "description": "",
              "parameterOrder": [
                "parent"
              ],
              "flatPath": "v1/organizations/{organizationsId}/eventThreatDetectionSettings:validateCustomModule",
              "parameters": {
                "parent": {
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "pattern": "^organizations/[^/]+/eventThreatDetectionSettings$"
                }
              },
              "response": {
                "$ref": "ValidateEventThreatDetectionCustomModuleResponse"
              },
              "id": "securitycenter.organizations.eventThreatDetectionSettings.validateCustomModule"
            }
          }
        },
        "sources": {
          "resources": {
            "findings": {
              "methods": {
                "create": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/securitycenter"
                  ],
                  "description": "",
                  "parameters": {
                    "findingId": {
                      "type": "string",
                      "location": "query"
                    },
                    "parent": {
                      "location": "path",
                      "pattern": "^organizations/[^/]+/sources/[^/]+$",
                      "type": "string",
                      "required": true
                    }
                  },
                  "request": {
                    "$ref": "Finding"
                  },
                  "id": "securitycenter.organizations.sources.findings.create",
                  "flatPath": "v1/organizations/{organizationsId}/sources/{sourcesId}/findings",
                  "httpMethod": "POST",
                  "response": {
                    "$ref": "Finding"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "path": "v1/{+parent}/findings"
                },
                "updateSecurityMarks": {
                  "httpMethod": "PATCH",
                  "response": {
                    "$ref": "SecurityMarks"
                  },
                  "flatPath": "v1/organizations/{organizationsId}/sources/{sourcesId}/findings/{findingsId}/securityMarks",
                  "parameterOrder": [
                    "name"
                  ],
                  "request": {
                    "$ref": "SecurityMarks"
                  },
                  "parameters": {
                    "updateMask": {
                      "format": "google-fieldmask",
                      "location": "query",
                      "type": "string"
                    },
                    "name": {
                      "required": true,
                      "pattern": "^organizations/[^/]+/sources/[^/]+/findings/[^/]+/securityMarks$",
                      "location": "path",
                      "type": "string"
                    },
                    "startTime": {
                      "location": "query",
                      "format": "google-datetime",
                      "type": "string"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/securitycenter"
                  ],
                  "id": "securitycenter.organizations.sources.findings.updateSecurityMarks",
                  "path": "v1/{+name}",
                  "description": ""
                },
                "setState": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/securitycenter"
                  ],
                  "path": "v1/{+name}:setState",
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "SetFindingStateRequest"
                  },
                  "flatPath": "v1/organizations/{organizationsId}/sources/{sourcesId}/findings/{findingsId}:setState",
                  "id": "securitycenter.organizations.sources.findings.setState",
                  "description": "",
                  "response": {
                    "$ref": "Finding"
                  },
                  "parameters": {
                    "name": {
                      "location": "path",
                      "type": "string",
                      "pattern": "^organizations/[^/]+/sources/[^/]+/findings/[^/]+$",
                      "required": true
                    }
                  }
                },
                "patch": {
                  "httpMethod": "PATCH",
[...]
