{
  "discoveryVersion": "v1",
  "canonicalName": "Security Command Center",
  "endpoints": [
    {
      "endpointUrl": "https://securitycenter.me-central2.rep.googleapis.com/",
      "location": "me-central2",
      "description": "Regional Endpoint"
    },
    {
      "location": "us",
      "description": "Regional Endpoint",
      "endpointUrl": "https://securitycenter.us.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://securitycenter.eu.rep.googleapis.com/",
      "location": "eu"
    }
  ],
  "fullyEncodeReservedExpansion": true,
  "rootUrl": "https://securitycenter.googleapis.com/",
  "protocol": "rest",
  "description": "Security Command Center API provides access to temporal views of assets and findings within an organization.",
  "servicePath": "",
  "batchPath": "batch",
  "version": "v1beta2",
  "name": "securitycenter",
  "kind": "discovery#restDescription",
  "ownerDomain": "google.com",
  "version_module": true,
  "schemas": {
    "DiskPath": {
      "type": "object",
      "properties": {
        "partitionUuid": {
          "type": "string"
        },
        "relativePath": {
          "type": "string"
        }
      },
      "id": "DiskPath"
    },
    "GoogleCloudSecuritycenterV2Pod": {
      "properties": {
        "ns": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "containers": {
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2Container"
          },
          "type": "array"
        },
        "labels": {
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2Label"
          },
          "type": "array"
        }
      },
      "id": "GoogleCloudSecuritycenterV2Pod",
      "type": "object"
    },
    "GoogleCloudSecuritycenterV1p1beta1NotificationMessage": {
      "properties": {
        "notificationConfigName": {
          "type": "string"
        },
        "resource": {
          "$ref": "GoogleCloudSecuritycenterV1p1beta1Resource"
        },
        "finding": {
          "$ref": "GoogleCloudSecuritycenterV1p1beta1Finding"
        }
      },
      "id": "GoogleCloudSecuritycenterV1p1beta1NotificationMessage",
      "type": "object"
    },
    "CloudDlpInspection": {
      "id": "CloudDlpInspection",
      "properties": {
        "inspectJob": {
          "type": "string"
        },
        "fullScan": {
          "type": "boolean"
        },
        "infoType": {
          "type": "string"
        },
        "infoTypeCount": {
          "type": "string",
          "format": "int64"
        }
      },
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2CloudArmor": {
      "properties": {
        "threatVector": {
          "type": "string"
        },
        "securityPolicy": {
          "$ref": "GoogleCloudSecuritycenterV2SecurityPolicy"
        },
        "requests": {
          "$ref": "GoogleCloudSecuritycenterV2Requests"
        },
        "duration": {
          "format": "google-duration",
          "type": "string"
        },
        "attack": {
          "$ref": "GoogleCloudSecuritycenterV2Attack"
        },
        "adaptiveProtection": {
          "$ref": "GoogleCloudSecuritycenterV2AdaptiveProtection"
        }
      },
      "id": "GoogleCloudSecuritycenterV2CloudArmor",
      "type": "object"
    },
    "ContactDetails": {
      "id": "ContactDetails",
      "type": "object",
      "properties": {
        "contacts": {
          "type": "array",
          "items": {
            "$ref": "Contact"
          }
        }
      }
    },
    "GoogleCloudSecuritycenterV2IssueSecurityContextContext": {
      "id": "GoogleCloudSecuritycenterV2IssueSecurityContextContext",
      "properties": {
        "type": {
          "type": "string"
        },
        "values": {
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "File": {
      "id": "File",
      "type": "object",
      "properties": {
        "contents": {
          "type": "string"
        },
        "fileLoadState": {
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "FILE_LOAD_STATE_UNSPECIFIED",
            "LOADED_BY_PROCESS",
            "NOT_LOADED_BY_PROCESS"
          ]
        },
        "path": {
          "type": "string"
        },
        "operations": {
          "items": {
            "$ref": "FileOperation"
          },
          "type": "array"
        },
        "size": {
          "type": "string",
          "format": "int64"
        },
        "diskPath": {
          "$ref": "DiskPath"
        },
        "partiallyHashed": {
          "type": "boolean"
        },
        "sha256": {
          "type": "string"
        },
        "hashedSize": {
          "format": "int64",
          "type": "string"
        }
      }
    },
    "NodePool": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        },
        "nodes": {
          "items": {
            "$ref": "Node"
          },
          "type": "array"
        }
      },
      "id": "NodePool"
    },
    "GoogleCloudSecuritycenterV2Access": {
      "id": "GoogleCloudSecuritycenterV2Access",
      "type": "object",
      "properties": {
        "serviceAccountKeyName": {
          "type": "string"
        },
        "callerIpGeo": {
          "$ref": "GoogleCloudSecuritycenterV2Geolocation"
        },
        "serviceName": {
          "type": "string"
        },
        "userAgentFamily": {
          "type": "string"
        },
        "serviceAccountDelegationInfo": {
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2ServiceAccountDelegationInfo"
          },
          "type": "array"
        },
        "principalEmail": {
          "type": "string"
        },
        "userAgent": {
          "type": "string"
        },
        "callerIp": {
          "type": "string"
        },
        "userName": {
          "type": "string"
        },
        "principalSubject": {
          "type": "string"
        },
        "methodName": {
          "type": "string"
        }
      }
    },
    "AwsMetadata": {
      "properties": {
        "organization": {
          "$ref": "AwsOrganization"
        },
        "organizationalUnits": {
          "type": "array",
          "items": {
            "$ref": "AwsOrganizationalUnit"
          }
        },
        "account": {
          "$ref": "AwsAccount"
        }
      },
      "type": "object",
      "id": "AwsMetadata"
    },
    "GoogleCloudSecuritycenterV2AdcApplicationTemplateRevision": {
      "properties": {
        "name": {
          "type": "string"
        }
      },
      "id": "GoogleCloudSecuritycenterV2AdcApplicationTemplateRevision",
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2SecurityPosture": {
      "id": "GoogleCloudSecuritycenterV2SecurityPosture",
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        },
        "revisionId": {
          "type": "string"
        },
        "policy": {
          "type": "string"
        },
        "changedPolicy": {
          "type": "string"
        },
        "policySet": {
          "type": "string"
        },
        "postureDeployment": {
          "type": "string"
        },
        "postureDeploymentResource": {
          "type": "string"
        },
        "policyDriftDetails": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2PolicyDriftDetails"
          }
        }
      }
    },
    "Subscription": {
      "id": "Subscription",
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        },
        "tier": {
          "type": "string",
          "enum": [
            "TIER_UNSPECIFIED",
            "STANDARD",
            "PREMIUM",
            "ENTERPRISE",
            "ENTERPRISE_MC"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ]
        },
        "details": {
          "$ref": "Details"
        }
      }
    },
    "GoogleCloudSecuritycenterV1IamDetails": {
      "type": "object",
      "id": "GoogleCloudSecuritycenterV1IamDetails",
      "properties": {
        "iamRolePermissions": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV1IamRolePermission"
          }
        }
      }
    },
    "VulnerabilitySnapshot": {
      "properties": {
        "findingCount": {
          "$ref": "VulnerabilityCountBySeverity"
        },
        "cloudProvider": {
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "CLOUD_PROVIDER_UNSPECIFIED",
            "GOOGLE_CLOUD_PLATFORM",
            "AMAZON_WEB_SERVICES",
            "MICROSOFT_AZURE"
          ]
        },
        "snapshotTime": {
          "type": "string",
          "format": "google-datetime"
        },
        "name": {
          "type": "string"
        }
      },
      "id": "VulnerabilitySnapshot",
      "type": "object"
    },
    "AwsOrganization": {
      "id": "AwsOrganization",
      "type": "object",
      "properties": {
        "id": {
          "type": "string"
        }
      }
    },
    "Secret": {
      "id": "Secret",
      "type": "object",
      "properties": {
        "status": {
          "$ref": "SecretStatus"
        },
        "filePath": {
          "$ref": "SecretFilePath"
        },
        "environmentVariable": {
          "$ref": "SecretEnvironmentVariable"
        },
        "type": {
          "type": "string"
        }
      }
    },
    "GoogleCloudSecuritycenterV2IpRules": {
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2IpRules",
      "properties": {
        "allowed": {
          "$ref": "GoogleCloudSecuritycenterV2Allowed"
        },
        "direction": {
          "type": "string",
          "enum": [
            "DIRECTION_UNSPECIFIED",
            "INGRESS",
            "EGRESS"
          ],
          "enumDescriptions": [
            "",
            "",
            ""
          ]
        },
        "exposedServices": {
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "denied": {
          "$ref": "GoogleCloudSecuritycenterV2Denied"
        },
        "destinationIpRanges": {
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "sourceIpRanges": {
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "GoogleCloudSecuritycenterV2DetectorReference": {
      "properties": {
        "recommendation": {
          "type": "string"
        },
        "severity": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "SEVERITY_UNSPECIFIED",
            "CRITICAL",
            "HIGH",
            "MEDIUM",
            "LOW"
          ]
        },
        "detectorId": {
          "type": "string"
        },
        "displayName": {
          "type": "string"
        },
        "explanation": {
          "type": "string"
        }
      },
      "id": "GoogleCloudSecuritycenterV2DetectorReference",
      "type": "object"
    },
    "GoogleCloudSecuritycenterV1p1beta1SecurityMarks": {
      "properties": {
        "marks": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "name": {
          "type": "string"
        },
        "canonicalName": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudSecuritycenterV1p1beta1SecurityMarks"
    },
    "Package": {
      "id": "Package",
      "properties": {
        "packageVersion": {
          "type": "string"
        },
        "cpeUri": {
          "type": "string"
        },
        "packageType": {
          "type": "string"
        },
        "packageName": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2ArtifactGuardPolicy": {
      "type": "object",
      "properties": {
        "policyId": {
          "type": "string"
        },
        "failureReason": {
          "type": "string"
        },
        "type": {
          "enumDescriptions": [
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "ARTIFACT_GUARD_POLICY_TYPE_UNSPECIFIED",
            "VULNERABILITY"
          ]
        }
      },
      "id": "GoogleCloudSecuritycenterV2ArtifactGuardPolicy"
    },
    "AzureManagementGroup": {
      "type": "object",
      "properties": {
        "displayName": {
          "type": "string"
        },
        "id": {
          "type": "string"
        }
      },
      "id": "AzureManagementGroup"
    },
    "GoogleCloudSecuritycenterV2Job": {
      "properties": {
        "name": {
          "type": "string"
        },
        "location": {
          "type": "string"
        },
        "state": {
          "readOnly": true,
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "JOB_STATE_UNSPECIFIED",
            "PENDING",
            "RUNNING",
            "SUCCEEDED",
            "FAILED"
          ]
        },
        "errorCode": {
          "format": "int32",
          "type": "integer"
        }
      },
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2Job"
    },
    "GoogleCloudSecuritycenterV2Cwe": {
      "id": "GoogleCloudSecuritycenterV2Cwe",
      "type": "object",
      "properties": {
        "id": {
          "type": "string"
        },
        "references": {
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2Reference"
          },
          "type": "array"
        }
      }
    },
    "GoogleCloudSecuritycenterV1CustomOutputSpec": {
      "id": "GoogleCloudSecuritycenterV1CustomOutputSpec",
      "properties": {
        "properties": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV1Property"
          }
        }
      },
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2PolicyViolationSummary": {
      "properties": {
        "policyViolationsCount": {
          "format": "int64",
          "type": "string"
        },
        "evaluationErrorsCount": {
          "format": "int64",
          "type": "string"
        },
        "conformantResourcesCount": {
          "type": "string",
          "format": "int64"
        },
        "outOfScopeResourcesCount": {
          "type": "string",
          "format": "int64"
        }
      },
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2PolicyViolationSummary"
    },
    "GoogleCloudSecuritycenterV2Resource": {
      "properties": {
        "adcSharedTemplate": {
          "$ref": "GoogleCloudSecuritycenterV2AdcSharedTemplateRevision"
        },
        "name": {
          "type": "string"
        },
        "type": {
          "type": "string"
        },
        "awsMetadata": {
          "$ref": "GoogleCloudSecuritycenterV2AwsMetadata"
        },
        "resourcePath": {
          "$ref": "GoogleCloudSecuritycenterV2ResourcePath"
        },
        "resourcePathString": {
          "type": "string"
        },
        "service": {
          "type": "string"
        },
        "adcApplicationTemplate": {
          "$ref": "GoogleCloudSecuritycenterV2AdcApplicationTemplateRevision"
        },
        "adcApplication": {
          "$ref": "GoogleCloudSecuritycenterV2AdcApplication"
        },
        "location": {
          "type": "string"
        },
        "gcpMetadata": {
          "$ref": "GcpMetadata"
        },
        "cloudProvider": {
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "CLOUD_PROVIDER_UNSPECIFIED",
            "GOOGLE_CLOUD_PLATFORM",
            "AMAZON_WEB_SERVICES",
            "MICROSOFT_AZURE"
          ]
        },
        "azureMetadata": {
          "$ref": "GoogleCloudSecuritycenterV2AzureMetadata"
        },
        "application": {
          "$ref": "GoogleCloudSecuritycenterV2ResourceApplication"
        },
        "displayName": {
          "type": "string"
        }
      },
      "id": "GoogleCloudSecuritycenterV2Resource",
      "type": "object"
    },
    "Compliance": {
      "type": "object",
      "id": "Compliance",
      "properties": {
        "ids": {
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "standard": {
          "type": "string"
        },
        "version": {
          "type": "string"
        }
      }
    },
    "VirtualMachineThreatDetectionSettings": {
      "id": "VirtualMachineThreatDetectionSettings",
      "type": "object",
      "properties": {
        "serviceEnablementState": {
          "type": "string",
          "enum": [
            "ENABLEMENT_STATE_UNSPECIFIED",
            "INHERITED",
            "ENABLED",
            "DISABLED"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ]
        },
        "name": {
          "type": "string"
        },
        "serviceAccount": {
          "readOnly": true,
          "type": "string"
        },
        "modules": {
          "additionalProperties": {
            "$ref": "Config"
          },
          "type": "object"
        },
        "updateTime": {
          "format": "google-datetime",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "GoogleCloudSecuritycenterV2Notebook": {
      "type": "object",
      "properties": {
        "lastAuthor": {
          "type": "string"
        },
        "service": {
          "type": "string"
        },
        "notebookUpdateTime": {
          "format": "google-datetime",
          "type": "string"
        },
        "name": {
          "type": "string"
        }
      },
      "id": "GoogleCloudSecuritycenterV2Notebook"
    },
    "GoogleCloudSecuritycenterV2ToxicCombination": {
      "properties": {
        "attackExposureScore": {
          "type": "number",
          "format": "double"
        },
        "relatedFindings": {
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "id": "GoogleCloudSecuritycenterV2ToxicCombination",
      "type": "object"
    },
    "IpRules": {
      "type": "object",
      "id": "IpRules",
      "properties": {
        "denied": {
          "$ref": "Denied"
        },
        "destinationIpRanges": {
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "allowed": {
          "$ref": "Allowed"
        },
        "exposedServices": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "sourceIpRanges": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "direction": {
          "type": "string",
          "enum": [
            "DIRECTION_UNSPECIFIED",
            "INGRESS",
            "EGRESS"
          ],
          "enumDescriptions": [
            "",
            "",
            ""
          ]
        }
      }
    },
    "GoogleCloudSecuritycenterV2InvocationReference": {
      "id": "GoogleCloudSecuritycenterV2InvocationReference",
      "type": "object",
      "properties": {
        "invocationId": {
          "type": "string"
        }
      }
    },
    "GoogleCloudSecuritycenterV2IssueResourceApplication": {
      "properties": {
        "attributes": {
          "$ref": "GoogleCloudSecuritycenterV2IssueResourceApplicationAttributes"
        },
        "name": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2IssueResourceApplication"
    },
    "WebSecurityScannerSettings": {
      "properties": {
        "modules": {
          "additionalProperties": {
            "$ref": "Config"
          },
          "type": "object"
        },
        "serviceEnablementState": {
          "type": "string",
          "enum": [
            "ENABLEMENT_STATE_UNSPECIFIED",
            "INHERITED",
            "ENABLED",
            "DISABLED"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ]
        },
        "updateTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "name": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "WebSecurityScannerSettings"
    },
    "SecretStatus": {
      "properties": {
        "lastUpdatedTime": {
          "type": "string",
          "format": "google-datetime"
        },
        "validity": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "SECRET_VALIDITY_UNSPECIFIED",
            "SECRET_VALIDITY_UNSUPPORTED",
            "SECRET_VALIDITY_FAILED",
            "SECRET_VALIDITY_INVALID",
            "SECRET_VALIDITY_VALID"
          ]
        }
      },
      "id": "SecretStatus",
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2IamDetails": {
      "properties": {
        "iamRolePermissions": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2IamRolePermission"
          }
        }
      },
      "id": "GoogleCloudSecuritycenterV2IamDetails",
      "type": "object"
    },
    "GoogleCloudSecuritycenterV1EffectiveSecurityHealthAnalyticsCustomModule": {
      "properties": {
        "displayName": {
          "readOnly": true,
          "type": "string"
        },
        "customConfig": {
          "readOnly": true,
          "$ref": "GoogleCloudSecuritycenterV1CustomConfig"
        },
        "enablementState": {
          "readOnly": true,
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "ENABLEMENT_STATE_UNSPECIFIED",
            "ENABLED",
            "DISABLED"
          ]
        },
        "cloudProvider": {
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "CLOUD_PROVIDER_UNSPECIFIED",
            "GOOGLE_CLOUD_PLATFORM",
            "AMAZON_WEB_SERVICES",
            "MICROSOFT_AZURE"
          ]
        },
        "name": {
          "type": "string",
          "readOnly": true
        }
      },
      "id": "GoogleCloudSecuritycenterV1EffectiveSecurityHealthAnalyticsCustomModule",
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2AdaptiveProtection": {
      "id": "GoogleCloudSecuritycenterV2AdaptiveProtection",
      "type": "object",
      "properties": {
        "confidence": {
          "format": "double",
          "type": "number"
        }
      }
    },
    "EventThreatDetectionSettings": {
      "id": "EventThreatDetectionSettings",
      "type": "object",
      "properties": {
        "modules": {
          "additionalProperties": {
            "$ref": "Config"
          },
          "type": "object"
        },
        "name": {
          "type": "string"
        },
        "serviceEnablementState": {
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "ENABLEMENT_STATE_UNSPECIFIED",
            "INHERITED",
            "ENABLED",
            "DISABLED"
          ]
        },
        "updateTime": {
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        }
      }
    },
    "StaticMute": {
      "id": "StaticMute",
      "properties": {
        "applyTime": {
          "format": "google-datetime",
          "type": "string"
        },
        "state": {
          "type": "string",
          "enum": [
            "MUTE_UNSPECIFIED",
            "MUTED",
            "UNMUTED",
            "UNDEFINED"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ]
        }
      },
      "type": "object"
    },
    "GoogleCloudSecuritycenterV1IamRolePermission": {
      "id": "GoogleCloudSecuritycenterV1IamRolePermission",
      "properties": {
        "name": {
          "type": "string"
        },
        "role": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "CloudLoggingEntry": {
      "id": "CloudLoggingEntry",
      "type": "object",
      "properties": {
        "logId": {
          "type": "string"
        },
        "timestamp": {
          "format": "google-datetime",
          "type": "string"
        },
        "resourceContainer": {
          "type": "string"
        },
        "insertId": {
          "type": "string"
        }
      }
    },
    "AgentDataAccessEvent": {
      "properties": {
        "operation": {
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "OPERATION_UNSPECIFIED",
            "READ",
            "MOVE",
            "COPY"
          ]
        },
        "eventTime": {
          "type": "string",
          "format": "google-datetime"
        },
        "eventId": {
          "type": "string"
        },
        "principalSubject": {
          "type": "string"
        }
      },
      "id": "AgentDataAccessEvent",
      "type": "object"
    },
    "GoogleCloudSecuritycenterV1CustomConfig": {
      "properties": {
        "recommendation": {
          "type": "string"
        },
        "customOutput": {
          "$ref": "GoogleCloudSecuritycenterV1CustomOutputSpec"
        },
        "description": {
          "type": "string"
        },
        "severity": {
          "type": "string",
          "enum": [
            "SEVERITY_UNSPECIFIED",
            "CRITICAL",
            "HIGH",
            "MEDIUM",
            "LOW"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ]
        },
        "resourceSelector": {
          "$ref": "GoogleCloudSecuritycenterV1ResourceSelector"
        },
        "predicate": {
          "$ref": "Expr"
        }
      },
      "id": "GoogleCloudSecuritycenterV1CustomConfig",
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2IssueResourceAdcSharedTemplateRevision": {
      "id": "GoogleCloudSecuritycenterV2IssueResourceAdcSharedTemplateRevision",
      "properties": {
        "name": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "Disk": {
      "id": "Disk",
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        }
      }
    },
    "GoogleCloudSecuritycenterV2IamRolePermission": {
      "properties": {
        "name": {
          "type": "string"
        },
        "role": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2IamRolePermission"
    },
    "AgentSession": {
      "id": "AgentSession",
      "properties": {
        "sessionId": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "Folder": {
      "id": "Folder",
      "properties": {
        "resourceFolderDisplayName": {
          "type": "string"
        },
        "resourceFolder": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "Denied": {
      "properties": {
        "ipRules": {
          "items": {
            "$ref": "IpRule"
          },
          "type": "array"
        }
      },
      "type": "object",
      "id": "Denied"
    },
    "ContainerThreatDetectionSettings": {
      "id": "ContainerThreatDetectionSettings",
      "type": "object",
      "properties": {
        "serviceEnablementState": {
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "ENABLEMENT_STATE_UNSPECIFIED",
            "INHERITED",
            "ENABLED",
            "DISABLED"
          ]
        },
        "updateTime": {
          "format": "google-datetime",
          "type": "string",
          "readOnly": true
        },
        "serviceAccount": {
          "readOnly": true,
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "modules": {
          "type": "object",
          "additionalProperties": {
            "$ref": "Config"
          }
        }
      }
    },
    "Config": {
      "properties": {
        "moduleEnablementState": {
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "ENABLEMENT_STATE_UNSPECIFIED",
            "INHERITED",
            "ENABLED",
            "DISABLED"
          ]
        },
        "value": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "type": "object"
        }
      },
      "id": "Config",
      "type": "object"
    },
    "HttpResponse": {
      "id": "HttpResponse",
      "type": "object",
      "properties": {
        "statusCode": {
          "type": "string"
        },
        "path": {
          "type": "string"
        }
      }
    },
    "GoogleCloudSecuritycenterV1RunAssetDiscoveryResponse": {
      "type": "object",
      "id": "GoogleCloudSecuritycenterV1RunAssetDiscoveryResponse",
      "properties": {
        "state": {
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "COMPLETED",
            "SUPERSEDED",
            "TERMINATED"
          ]
        },
        "duration": {
          "format": "google-duration",
          "type": "string"
        }
      }
    },
    "Cvssv3": {
      "properties": {
        "userInteraction": {
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "USER_INTERACTION_UNSPECIFIED",
            "USER_INTERACTION_NONE",
            "USER_INTERACTION_REQUIRED"
          ]
        },
        "attackVector": {
          "type": "string",
          "enum": [
            "ATTACK_VECTOR_UNSPECIFIED",
            "ATTACK_VECTOR_NETWORK",
            "ATTACK_VECTOR_ADJACENT",
            "ATTACK_VECTOR_LOCAL",
            "ATTACK_VECTOR_PHYSICAL"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ]
        },
        "baseScore": {
          "format": "double",
          "type": "number"
        },
        "privilegesRequired": {
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "PRIVILEGES_REQUIRED_UNSPECIFIED",
            "PRIVILEGES_REQUIRED_NONE",
            "PRIVILEGES_REQUIRED_LOW",
            "PRIVILEGES_REQUIRED_HIGH"
          ]
        },
        "integrityImpact": {
          "type": "string",
          "enum": [
            "IMPACT_UNSPECIFIED",
            "IMPACT_HIGH",
            "IMPACT_LOW",
            "IMPACT_NONE"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ]
        },
        "confidentialityImpact": {
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "IMPACT_UNSPECIFIED",
            "IMPACT_HIGH",
            "IMPACT_LOW",
            "IMPACT_NONE"
          ]
        },
        "scope": {
          "type": "string",
          "enum": [
            "SCOPE_UNSPECIFIED",
            "SCOPE_UNCHANGED",
            "SCOPE_CHANGED"
          ],
          "enumDescriptions": [
            "",
            "",
            ""
          ]
        },
        "attackComplexity": {
          "type": "string",
          "enum": [
            "ATTACK_COMPLEXITY_UNSPECIFIED",
            "ATTACK_COMPLEXITY_LOW",
            "ATTACK_COMPLEXITY_HIGH"
          ],
          "enumDescriptions": [
            "",
            "",
            ""
          ]
        },
        "availabilityImpact": {
          "type": "string",
          "enum": [
            "IMPACT_UNSPECIFIED",
            "IMPACT_HIGH",
            "IMPACT_LOW",
            "IMPACT_NONE"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ]
        }
      },
      "type": "object",
      "id": "Cvssv3"
    },
    "GoogleCloudSecuritycenterV2ResourcePath": {
      "id": "GoogleCloudSecuritycenterV2ResourcePath",
      "properties": {
        "nodes": {
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2ResourcePathNode"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2DiscoveredWorkload": {
      "id": "GoogleCloudSecuritycenterV2DiscoveredWorkload",
      "properties": {
        "detectedRelevantPackages": {
          "type": "boolean"
        },
        "detectedRelevantKeywords": {
          "type": "boolean"
        },
        "confidence": {
          "enumDescriptions": [
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "CONFIDENCE_UNSPECIFIED",
            "CONFIDENCE_HIGH"
          ]
        },
        "workloadType": {
          "type": "string",
          "enum": [
            "WORKLOAD_TYPE_UNSPECIFIED",
            "MCP_SERVER",
            "AI_INFERENCE",
            "AGENT"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ]
        },
        "detectedRelevantHardware": {
          "type": "boolean"
        }
      },
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2MuteInfo": {
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2MuteInfo",
      "properties": {
        "dynamicMuteRecords": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2DynamicMuteRecord"
          }
        },
        "staticMute": {
          "$ref": "GoogleCloudSecuritycenterV2StaticMute"
        }
      }
    },
    "GoogleCloudSecuritycenterV2Framework": {
      "type": "object",
      "properties": {
        "type": {
          "type": "string",
          "enum": [
            "FRAMEWORK_TYPE_UNSPECIFIED",
            "FRAMEWORK_TYPE_BUILT_IN",
            "FRAMEWORK_TYPE_CUSTOM"
          ],
          "enumDescriptions": [
            "",
            "",
            ""
          ]
        },
        "category": {
          "type": "array",
          "items": {
            "enumDescriptions": [
              "",
              "",
              "",
              "",
              "",
              ""
            ],
            "type": "string",
            "enum": [
              "FRAMEWORK_CATEGORY_UNSPECIFIED",
              "SECURITY_BENCHMARKS",
              "ASSURED_WORKLOADS",
              "DATA_SECURITY",
              "GOOGLE_BEST_PRACTICES",
              "CUSTOM_FRAMEWORK"
            ]
          }
        },
        "name": {
          "type": "string"
        },
        "controls": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2Control"
          }
        },
        "displayName": {
          "type": "string"
        }
      },
      "id": "GoogleCloudSecuritycenterV2Framework"
    },
    "Cve": {
      "properties": {
        "upstreamFixAvailable": {
          "type": "boolean"
        },
        "firstExploitationDate": {
          "format": "google-datetime",
          "type": "string"
        },
        "id": {
          "type": "string"
        },
        "zeroDay": {
          "type": "boolean"
        },
        "cvssv3": {
          "$ref": "Cvssv3"
        },
        "observedInTheWild": {
          "type": "boolean"
        },
        "exploitationActivity": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "EXPLOITATION_ACTIVITY_UNSPECIFIED",
            "WIDE",
            "CONFIRMED",
            "AVAILABLE",
            "ANTICIPATED",
            "NO_KNOWN"
          ]
        },
        "exploitReleaseDate": {
          "type": "string",
          "format": "google-datetime"
        },
        "references": {
          "items": {
            "$ref": "Reference"
          },
          "type": "array"
        },
        "impact": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "RISK_RATING_UNSPECIFIED",
            "LOW",
            "MEDIUM",
            "HIGH",
            "CRITICAL"
          ]
        }
      },
      "type": "object",
      "id": "Cve"
    },
    "OrgPolicy": {
      "properties": {
        "name": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "OrgPolicy"
    },
    "Access": {
      "id": "Access",
      "properties": {
        "userName": {
          "type": "string"
        },
        "principalSubject": {
          "type": "string"
        },
        "serviceAccountDelegationInfo": {
          "items": {
            "$ref": "ServiceAccountDelegationInfo"
          },
          "type": "array"
        },
        "userAgentFamily": {
          "type": "string"
        },
        "methodName": {
          "type": "string"
        },
        "callerIpGeo": {
          "$ref": "Geolocation"
        },
        "principalEmail": {
          "type": "string"
        },
        "serviceAccountKeyName": {
          "type": "string"
        },
        "userAgent": {
          "type": "string"
        },
        "callerIp": {
          "type": "string"
        },
        "serviceName": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2IssueResource": {
      "id": "GoogleCloudSecuritycenterV2IssueResource",
      "type": "object",
      "properties": {
        "displayName": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "application": {
          "$ref": "GoogleCloudSecuritycenterV2IssueResourceApplication"
        },
        "type": {
          "type": "string"
        },
        "awsMetadata": {
          "$ref": "GoogleCloudSecuritycenterV2IssueResourceAwsMetadata"
        },
        "googleCloudMetadata": {
          "$ref": "GoogleCloudSecuritycenterV2IssueResourceGoogleCloudMetadata"
        },
        "adcSharedTemplate": {
          "$ref": "GoogleCloudSecuritycenterV2IssueResourceAdcSharedTemplateRevision"
        },
        "azureMetadata": {
          "$ref": "GoogleCloudSecuritycenterV2IssueResourceAzureMetadata"
        },
        "adcApplicationTemplate": {
          "$ref": "GoogleCloudSecuritycenterV2IssueResourceAdcApplicationTemplateRevision"
        },
        "cloudProvider": {
          "type": "string",
          "enum": [
            "CLOUD_PROVIDER_UNSPECIFIED",
            "GOOGLE_CLOUD",
            "AMAZON_WEB_SERVICES",
            "MICROSOFT_AZURE"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ]
        },
        "adcApplication": {
          "$ref": "GoogleCloudSecuritycenterV2IssueResourceAdcApplication"
        }
      }
    },
    "SecurityPosture": {
      "id": "SecurityPosture",
      "type": "object",
      "properties": {
        "postureDeploymentResource": {
          "type": "string"
        },
        "revisionId": {
          "type": "string"
        },
        "policy": {
          "type": "string"
        },
        "changedPolicy": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "postureDeployment": {
          "type": "string"
        },
        "policySet": {
          "type": "string"
        },
        "policyDriftDetails": {
          "type": "array",
          "items": {
            "$ref": "PolicyDriftDetails"
          }
        }
      }
    },
    "GoogleCloudSecuritycenterV1SensitiveDataProtectionMapping": {
      "type": "object",
      "id": "GoogleCloudSecuritycenterV1SensitiveDataProtectionMapping",
      "properties": {
        "highSensitivityMapping": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "RESOURCE_VALUE_UNSPECIFIED",
            "HIGH",
            "MEDIUM",
            "LOW",
            "NONE"
          ]
        },
        "mediumSensitivityMapping": {
          "type": "string",
          "enum": [
            "RESOURCE_VALUE_UNSPECIFIED",
            "HIGH",
            "MEDIUM",
            "LOW",
            "NONE"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ]
        }
      }
    },
    "GoogleCloudSecuritycenterV1ResourceApplicationAttributesContactInfo": {
      "id": "GoogleCloudSecuritycenterV1ResourceApplicationAttributesContactInfo",
      "type": "object",
      "properties": {
        "email": {
          "type": "string"
        }
      }
    },
    "LoadBalancer": {
      "id": "LoadBalancer",
      "properties": {
        "name": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2Pipeline": {
      "properties": {
        "name": {
          "type": "string"
        },
        "displayName": {
          "type": "string"
        }
      },
      "id": "GoogleCloudSecuritycenterV2Pipeline",
      "type": "object"
    },
    "SecurityPolicy": {
      "properties": {
        "type": {
          "type": "string"
        },
        "preview": {
          "type": "boolean"
        },
        "name": {
          "type": "string"
        }
      },
      "id": "SecurityPolicy",
      "type": "object"
    },
    "SecurityHealthAnalyticsSettings": {
      "id": "SecurityHealthAnalyticsSettings",
      "properties": {
        "modules": {
          "type": "object",
          "additionalProperties": {
            "$ref": "Config"
          }
        },
        "updateTime": {
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "serviceAccount": {
          "readOnly": true,
          "type": "string"
        },
        "serviceEnablementState": {
          "type": "string",
          "enum": [
            "ENABLEMENT_STATE_UNSPECIFIED",
            "INHERITED",
            "ENABLED",
            "DISABLED"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ]
        },
        "name": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "IamBinding": {
      "id": "IamBinding",
      "type": "object",
      "properties": {
        "member": {
          "type": "string"
        },
        "role": {
          "type": "string"
        },
        "action": {
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "ACTION_UNSPECIFIED",
            "ADD",
            "REMOVE"
          ]
        }
      }
    },
    "AdaptiveProtection": {
      "id": "AdaptiveProtection",
      "type": "object",
      "properties": {
        "confidence": {
          "type": "number",
          "format": "double"
        }
      }
    },
    "Dataset": {
      "id": "Dataset",
      "properties": {
        "source": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "displayName": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "ProcessSignature": {
      "id": "ProcessSignature",
      "properties": {
        "memoryHashSignature": {
          "$ref": "MemoryHashSignature"
        },
        "signatureType": {
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "SIGNATURE_TYPE_UNSPECIFIED",
            "SIGNATURE_TYPE_PROCESS",
            "SIGNATURE_TYPE_FILE"
          ]
        },
        "yaraRuleSignature": {
          "$ref": "YaraRuleSignature"
        }
      },
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2Connection": {
      "id": "GoogleCloudSecuritycenterV2Connection",
      "type": "object",
      "properties": {
        "destinationPort": {
          "type": "integer",
          "format": "int32"
        },
        "destinationIp": {
          "type": "string"
        },
        "sourcePort": {
          "format": "int32",
          "type": "integer"
        },
        "sourceIp": {
          "type": "string"
        },
        "protocol": {
          "type": "string",
          "enum": [
            "PROTOCOL_UNSPECIFIED",
            "ICMP",
            "TCP",
            "UDP",
            "GRE",
            "ESP"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            ""
          ]
        }
      }
    },
    "AiModel": {
      "type": "object",
      "properties": {
        "deploymentPlatform": {
          "type": "string",
          "enum": [
            "DEPLOYMENT_PLATFORM_UNSPECIFIED",
            "VERTEX_AI",
            "GKE",
            "GCE",
            "FINE_TUNED_MODEL"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ]
        },
        "usageCategory": {
          "type": "string"
        },
        "domain": {
          "type": "string"
        },
        "publisher": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "location": {
          "type": "string"
        },
        "library": {
          "type": "string"
        },
        "displayName": {
          "type": "string"
        }
      },
      "id": "AiModel"
    },
    "GoogleCloudSecuritycenterV2Dataset": {
      "properties": {
        "displayName": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "source": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2Dataset"
    },
    "Label": {
      "id": "Label",
      "type": "object",
      "properties": {
        "value": {
          "type": "string"
        },
        "name": {
          "type": "string"
        }
      }
    },
    "GoogleCloudSecuritycenterV2YaraRuleSignature": {
      "type": "object",
      "properties": {
        "yaraRule": {
          "type": "string"
        }
      },
      "id": "GoogleCloudSecuritycenterV2YaraRuleSignature"
    },
    "GoogleCloudSecuritycenterV2Attack": {
      "properties": {
        "volumeBpsLong": {
          "format": "int64",
          "type": "string"
        },
        "volumeBps": {
          "format": "int32",
          "deprecated": true,
          "type": "integer"
        },
        "volumePps": {
          "format": "int32",
          "type": "integer",
          "deprecated": true
        },
        "classification": {
          "type": "string"
        },
        "volumePpsLong": {
          "format": "int64",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2Attack"
    },
    "GoogleCloudSecuritycenterV1BigQueryExport": {
      "id": "GoogleCloudSecuritycenterV1BigQueryExport",
      "properties": {
        "description": {
          "type": "string"
        },
        "mostRecentEditor": {
          "type": "string",
          "readOnly": true
        },
        "updateTime": {
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "dataset": {
          "type": "string"
        },
        "principal": {
          "readOnly": true,
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "filter": {
          "type": "string"
        },
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "readOnly": true
        }
      },
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2GroupMembership": {
      "properties": {
        "groupId": {
          "type": "string"
        },
        "groupType": {
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "GROUP_TYPE_UNSPECIFIED",
            "GROUP_TYPE_TOXIC_COMBINATION",
            "GROUP_TYPE_CHOKEPOINT"
          ]
        }
      },
      "id": "GoogleCloudSecuritycenterV2GroupMembership",
      "type": "object"
    },
    "KernelRootkit": {
      "id": "KernelRootkit",
      "type": "object",
      "properties": {
        "unexpectedReadOnlyDataModification": {
          "type": "boolean"
        },
        "unexpectedSystemCallHandler": {
          "type": "boolean"
        },
        "unexpectedKernelCodePages": {
          "type": "boolean"
        },
        "name": {
          "type": "string"
        },
        "unexpectedProcessesInRunqueue": {
          "type": "boolean"
        },
        "unexpectedInterruptHandler": {
          "type": "boolean"
        },
        "unexpectedKprobeHandler": {
          "type": "boolean"
        },
        "unexpectedCodeModification": {
          "type": "boolean"
        },
        "unexpectedFtraceHandler": {
          "type": "boolean"
        }
      }
    },
    "AzureSubscription": {
      "type": "object",
      "properties": {
        "displayName": {
          "type": "string"
        },
        "id": {
          "type": "string"
        }
      },
      "id": "AzureSubscription"
    },
    "GoogleCloudSecuritycenterV2CloudDlpDataProfile": {
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2CloudDlpDataProfile",
      "properties": {
        "dataProfile": {
          "type": "string"
        },
        "parentType": {
          "type": "string",
          "enum": [
            "PARENT_TYPE_UNSPECIFIED",
            "ORGANIZATION",
            "PROJECT"
          ],
          "enumDescriptions": [
            "",
            "",
            ""
          ]
        },
        "infoTypes": {
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2InfoType"
          },
          "type": "array"
        }
      }
    },
    "GoogleCloudSecuritycenterV1Binding": {
      "id": "GoogleCloudSecuritycenterV1Binding",
      "properties": {
        "ns": {
          "type": "string"
        },
        "role": {
          "$ref": "Role"
        },
        "subjects": {
          "items": {
            "$ref": "Subject"
          },
          "type": "array"
        },
        "name": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "PortRange": {
      "type": "object",
      "properties": {
        "max": {
          "type": "string",
          "format": "int64"
        },
        "min": {
          "type": "string",
          "format": "int64"
        }
      },
      "id": "PortRange"
    },
    "AdcSharedTemplateRevision": {
      "type": "object",
      "id": "AdcSharedTemplateRevision",
      "properties": {
        "name": {
          "type": "string"
        }
      }
    },
    "GoogleCloudSecuritycenterV2IpRule": {
      "properties": {
        "portRanges": {
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2PortRange"
          },
          "type": "array"
        },
        "protocol": {
          "type": "string"
        }
      },
      "id": "GoogleCloudSecuritycenterV2IpRule",
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2ExternalExposure": {
      "type": "object",
      "properties": {
        "exposedEndpoint": {
          "type": "string"
        },
        "publicIpAddress": {
          "type": "string"
        },
        "networkIngressFirewallPolicy": {
          "type": "string"
        },
        "hostnameUri": {
          "type": "string"
        },
        "networkPathInsightsGenerationTime": {
          "type": "string",
          "format": "google-datetime"
        },
        "backendService": {
          "type": "string"
        },
        "privatePort": {
          "type": "string"
        },
        "instanceGroup": {
          "type": "string"
        },
        "httpResponse": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2HttpResponse"
          }
        },
        "privateIpAddress": {
          "type": "string"
        },
        "exposedApplication": {
          "type": "string"
        },
        "networkEndpointGroup": {
          "type": "string"
        },
        "publicPort": {
          "type": "string"
        },
        "internalBackendService": {
          "type": "string"
        },
        "loadBalancerFirewallPolicy": {
          "type": "string"
        },
        "serviceFirewallPolicy": {
          "type": "string"
        },
        "exposedService": {
          "type": "string"
        },
        "forwardingRule": {
          "type": "string"
        },
        "pscServiceAttachment": {
          "type": "string"
        },
        "pscNetworkAttachment": {
          "type": "string"
        },
        "backendBucket": {
          "type": "string"
        }
      },
      "id": "GoogleCloudSecuritycenterV2ExternalExposure"
    },
    "GoogleCloudSecuritycenterV2Issue": {
      "properties": {
        "description": {
          "type": "string"
        },
        "primaryResource": {
          "$ref": "GoogleCloudSecuritycenterV2IssueResource"
        },
        "securityContexts": {
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2IssueSecurityContext"
          },
          "type": "array"
        },
        "mute": {
          "$ref": "GoogleCloudSecuritycenterV2IssueMute"
        },
        "domains": {
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2IssueDomain"
          },
          "type": "array"
        },
        "updateTime": {
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "exposureScore": {
          "format": "double",
          "type": "number"
        },
        "relatedFindings": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2IssueFinding"
          }
        },
        "state": {
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "INACTIVE"
          ],
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "readOnly": true
        },
        "issueType": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "ISSUE_TYPE_UNSPECIFIED",
            "CHOKEPOINT",
            "TOXIC_COMBINATION",
            "INSIGHT"
          ]
        },
        "name": {
          "type": "string"
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "detection": {
          "type": "string"
        },
        "remediations": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "severity": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "SEVERITY_UNSPECIFIED",
            "CRITICAL",
            "HIGH",
            "MEDIUM",
            "LOW"
          ]
        },
        "secondaryResources": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2IssueResource"
          }
        },
        "lastObservationTime": {
          "format": "google-datetime",
          "type": "string"
        }
      },
      "id": "GoogleCloudSecuritycenterV2Issue",
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2IssueFinding": {
      "id": "GoogleCloudSecuritycenterV2IssueFinding",
      "type": "object",
      "properties": {
        "cve": {
          "$ref": "GoogleCloudSecuritycenterV2IssueFindingCve"
        },
        "name": {
          "type": "string"
        },
        "securityBulletin": {
          "$ref": "GoogleCloudSecuritycenterV2IssueFindingSecurityBulletin"
        }
      }
    },
    "GoogleCloudSecuritycenterV2IssueResourceApplicationAttributesEnvironment": {
      "id": "GoogleCloudSecuritycenterV2IssueResourceApplicationAttributesEnvironment",
      "type": "object",
      "properties": {
        "type": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "ENVIRONMENT_TYPE_UNSPECIFIED",
            "PRODUCTION",
            "STAGING",
            "TEST",
            "DEVELOPMENT"
          ]
        }
      }
    },
    "AwsOrganizationalUnit": {
      "id": "AwsOrganizationalUnit",
      "properties": {
        "id": {
          "type": "string"
        },
        "name": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudSecuritycenterV1ResourceApplication": {
      "id": "GoogleCloudSecuritycenterV1ResourceApplication",
      "properties": {
        "name": {
          "type": "string"
        },
        "attributes": {
          "$ref": "GoogleCloudSecuritycenterV1ResourceApplicationAttributes"
        }
      },
      "type": "object"
    },
    "AwsAccount": {
      "type": "object",
      "id": "AwsAccount",
      "properties": {
        "name": {
          "type": "string"
        },
        "id": {
          "type": "string"
        }
      }
    },
    "GoogleCloudSecuritycenterV2BigQueryExport": {
      "properties": {
        "name": {
          "type": "string"
        },
        "principal": {
          "readOnly": true,
          "type": "string"
        },
        "mostRecentEditor": {
          "readOnly": true,
          "type": "string"
        },
        "cryptoKeyName": {
          "readOnly": true,
          "type": "string"
        },
        "dataset": {
          "type": "string"
        },
        "filter": {
          "type": "string"
        },
        "updateTime": {
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "description": {
          "type": "string"
        }
      },
      "id": "GoogleCloudSecuritycenterV2BigQueryExport",
      "type": "object"
    },
    "AccessReview": {
      "type": "object",
      "id": "AccessReview",
      "properties": {
        "group": {
          "type": "string"
        },
        "resource": {
          "type": "string"
        },
        "version": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "ns": {
          "type": "string"
        },
        "verb": {
          "type": "string"
        },
        "subresource": {
          "type": "string"
        }
      }
    },
    "GoogleCloudSecuritycenterV2Secret": {
      "type": "object",
      "properties": {
        "status": {
          "$ref": "GoogleCloudSecuritycenterV2SecretStatus"
        },
        "environmentVariable": {
          "$ref": "GoogleCloudSecuritycenterV2SecretEnvironmentVariable"
        },
        "type": {
          "type": "string"
        },
        "filePath": {
          "$ref": "GoogleCloudSecuritycenterV2SecretFilePath"
        }
      },
      "id": "GoogleCloudSecuritycenterV2Secret"
    },
    "GoogleCloudSecuritycenterV2DataFlowEvent": {
      "properties": {
        "eventId": {
          "type": "string"
        },
        "operation": {
          "type": "string",
          "enum": [
            "OPERATION_UNSPECIFIED",
            "READ",
            "MOVE",
            "COPY"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ]
        },
        "violatedLocation": {
          "type": "string"
        },
        "principalEmail": {
          "type": "string"
        },
        "eventTime": {
          "type": "string",
          "format": "google-datetime"
        }
      },
      "id": "GoogleCloudSecuritycenterV2DataFlowEvent",
      "type": "object"
    },
    "AdcApplication": {
      "properties": {
        "attributes": {
          "$ref": "GoogleCloudSecuritycenterV1ResourceApplicationAttributes"
        },
        "name": {
          "type": "string"
        }
      },
      "id": "AdcApplication",
      "type": "object"
    },
    "Container": {
      "type": "object",
      "id": "Container",
      "properties": {
        "uri": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "createTime": {
          "format": "google-datetime",
          "type": "string"
        },
        "labels": {
          "items": {
            "$ref": "Label"
          },
          "type": "array"
        },
        "imageId": {
          "type": "string"
        }
      }
    },
    "GoogleCloudSecuritycenterV2CloudLoggingEntry": {
      "type": "object",
      "properties": {
        "resourceContainer": {
          "type": "string"
        },
        "insertId": {
          "type": "string"
        },
        "timestamp": {
          "type": "string",
          "format": "google-datetime"
        },
        "logId": {
          "type": "string"
        }
      },
      "id": "GoogleCloudSecuritycenterV2CloudLoggingEntry"
    },
    "DataAccessEvent": {
      "type": "object",
      "properties": {
        "eventId": {
          "type": "string"
        },
        "principalEmail": {
          "type": "string"
        },
        "operation": {
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "OPERATION_UNSPECIFIED",
            "READ",
            "MOVE",
            "COPY"
          ]
        },
        "eventTime": {
          "type": "string",
          "format": "google-datetime"
        }
      },
      "id": "DataAccessEvent"
    },
    "GoogleCloudSecuritycenterV2SecretEnvironmentVariable": {
      "id": "GoogleCloudSecuritycenterV2SecretEnvironmentVariable",
      "type": "object",
      "properties": {
        "key": {
          "type": "string"
        }
      }
    },
    "GoogleCloudSecuritycenterV2ExfilResource": {
      "properties": {
        "components": {
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "name": {
          "type": "string"
        }
      },
      "id": "GoogleCloudSecuritycenterV2ExfilResource",
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2Database": {
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2Database",
      "properties": {
        "version": {
          "type": "string"
        },
        "displayName": {
          "type": "string"
        },
        "userName": {
          "type": "string"
        },
        "grantees": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "name": {
          "type": "string"
        },
        "query": {
          "type": "string"
        }
      }
    },
    "GoogleCloudSecuritycenterV1Property": {
      "type": "object",
      "id": "GoogleCloudSecuritycenterV1Property",
      "properties": {
        "valueExpression": {
          "$ref": "Expr"
        },
        "name": {
          "type": "string"
        }
      }
    },
    "ToxicCombination": {
      "id": "ToxicCombination",
      "type": "object",
      "properties": {
        "relatedFindings": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "attackExposureScore": {
          "format": "double",
          "type": "number"
        }
      }
    },
    "Role": {
      "type": "object",
      "id": "Role",
      "properties": {
        "ns": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "kind": {
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "KIND_UNSPECIFIED",
            "ROLE",
            "CLUSTER_ROLE"
          ]
        }
      }
    },
    "Framework": {
      "id": "Framework",
      "type": "object",
      "properties": {
        "displayName": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "controls": {
          "items": {
            "$ref": "Control"
          },
          "type": "array"
        },
        "type": {
          "type": "string",
          "enum": [
            "FRAMEWORK_TYPE_UNSPECIFIED",
            "FRAMEWORK_TYPE_BUILT_IN",
            "FRAMEWORK_TYPE_CUSTOM"
          ],
          "enumDescriptions": [
            "",
            "",
            ""
          ]
        },
        "category": {
          "type": "array",
          "items": {
            "enumDescriptions": [
              "",
              "",
              "",
              "",
              "",
              ""
            ],
            "type": "string",
            "enum": [
              "FRAMEWORK_CATEGORY_UNSPECIFIED",
              "SECURITY_BENCHMARKS",
              "ASSURED_WORKLOADS",
              "DATA_SECURITY",
              "GOOGLE_BEST_PRACTICES",
              "CUSTOM_FRAMEWORK"
            ]
          }
        }
      }
    },
    "GoogleCloudSecuritycenterV1ResourceApplicationAttributesCriticality": {
      "type": "object",
      "id": "GoogleCloudSecuritycenterV1ResourceApplicationAttributesCriticality",
      "properties": {
        "type": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "CRITICALITY_TYPE_UNSPECIFIED",
            "MISSION_CRITICAL",
            "HIGH",
            "MEDIUM",
            "LOW"
          ]
        }
      }
    },
    "AgentAnomaly": {
      "properties": {
        "detectorReferences": {
          "type": "array",
          "items": {
            "$ref": "DetectorReference"
          }
        },
        "invocationReferences": {
          "items": {
            "$ref": "InvocationReference"
          },
          "type": "array"
        },
        "confidenceScore": {
          "type": "number",
          "format": "double"
        }
      },
      "type": "object",
      "id": "AgentAnomaly"
    },
    "GoogleCloudSecuritycenterV2BulkMuteFindingsResponse": {
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2BulkMuteFindingsResponse",
      "properties": {}
    },
    "SecurityMarks": {
      "id": "SecurityMarks",
      "type": "object",
      "properties": {
        "marks": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "canonicalName": {
          "type": "string"
        },
        "name": {
          "type": "string"
        }
      }
    },
    "Application": {
      "type": "object",
      "properties": {
        "baseUri": {
          "type": "string"
        },
        "fullUri": {
          "type": "string"
        }
      },
      "id": "Application"
    },
    "MitreAttack": {
      "type": "object",
      "id": "MitreAttack",
      "properties": {
        "additionalTechniques": {
          "type": "array",
          "items": {
            "type": "string",
            "enum": [
              "TECHNIQUE_UNSPECIFIED",
              "DATA_OBFUSCATION",
              "DATA_OBFUSCATION_STEGANOGRAPHY",
              "OS_CREDENTIAL_DUMPING",
              "OS_CREDENTIAL_DUMPING_PROC_FILESYSTEM",
              "OS_CREDENTIAL_DUMPING_ETC_PASSWORD_AND_ETC_SHADOW",
              "DATA_FROM_LOCAL_SYSTEM",
              "AUTOMATED_EXFILTRATION",
              "OBFUSCATED_FILES_OR_INFO",
              "STEGANOGRAPHY",
              "COMPILE_AFTER_DELIVERY",
              "COMMAND_OBFUSCATION",
              "SCHEDULED_TRANSFER",
              "SYSTEM_OWNER_USER_DISCOVERY",
              "MASQUERADING",
              "MATCH_LEGITIMATE_NAME_OR_LOCATION",
              "BOOT_OR_LOGON_INITIALIZATION_SCRIPTS",
              "STARTUP_ITEMS",
              "NETWORK_SERVICE_DISCOVERY",
              "SCHEDULED_TASK_JOB",
              "SCHEDULED_TASK_JOB_CRON",
              "CONTAINER_ORCHESTRATION_JOB",
              "PROCESS_INJECTION",
              "INPUT_CAPTURE",
              "INPUT_CAPTURE_KEYLOGGING",
              "PROCESS_DISCOVERY",
              "COMMAND_AND_SCRIPTING_INTERPRETER",
              "UNIX_SHELL",
              "PYTHON",
              "EXPLOITATION_FOR_PRIVILEGE_ESCALATION",
              "PERMISSION_GROUPS_DISCOVERY",
              "CLOUD_GROUPS",
              "INDICATOR_REMOVAL",
              "INDICATOR_REMOVAL_CLEAR_LINUX_OR_MAC_SYSTEM_LOGS",
              "INDICATOR_REMOVAL_CLEAR_COMMAND_HISTORY",
              "INDICATOR_REMOVAL_FILE_DELETION",
              "INDICATOR_REMOVAL_TIMESTOMP",
              "INDICATOR_REMOVAL_CLEAR_MAILBOX_DATA",
              "APPLICATION_LAYER_PROTOCOL",
              "DNS",
              "SOFTWARE_DEPLOYMENT_TOOLS",
              "VALID_ACCOUNTS",
              "DEFAULT_ACCOUNTS",
              "LOCAL_ACCOUNTS",
              "CLOUD_ACCOUNTS",
              "FILE_AND_DIRECTORY_DISCOVERY",
              "ACCOUNT_DISCOVERY_LOCAL_ACCOUNT",
              "PROXY",
              "EXTERNAL_PROXY",
              "MULTI_HOP_PROXY",
              "ACCOUNT_MANIPULATION",
              "ADDITIONAL_CLOUD_CREDENTIALS",
              "ADDITIONAL_CLOUD_ROLES",
              "SSH_AUTHORIZED_KEYS",
              "ADDITIONAL_CONTAINER_CLUSTER_ROLES",
              "MULTI_STAGE_CHANNELS",
              "INGRESS_TOOL_TRANSFER",
              "NATIVE_API",
              "BRUTE_FORCE",
              "AUTOMATED_COLLECTION",
              "SHARED_MODULES",
              "DATA_ENCODING",
              "STANDARD_ENCODING",
              "ACCESS_TOKEN_MANIPULATION",
              "TOKEN_IMPERSONATION_OR_THEFT",
              "CREATE_ACCOUNT",
              "LOCAL_ACCOUNT",
              "DEOBFUSCATE_DECODE_FILES_OR_INFO",
              "EXPLOIT_PUBLIC_FACING_APPLICATION",
              "SUPPLY_CHAIN_COMPROMISE",
              "COMPROMISE_SOFTWARE_DEPENDENCIES_AND_DEVELOPMENT_TOOLS",
              "EXPLOITATION_FOR_CLIENT_EXECUTION",
              "USER_EXECUTION",
              "EXPLOITATION_FOR_CREDENTIAL_ACCESS",
              "LINUX_AND_MAC_FILE_AND_DIRECTORY_PERMISSIONS_MODIFICATION",
              "DOMAIN_POLICY_MODIFICATION",
              "DATA_DESTRUCTION",
              "DATA_ENCRYPTED_FOR_IMPACT",
              "SERVICE_STOP",
              "INHIBIT_SYSTEM_RECOVERY",
              "FIRMWARE_CORRUPTION",
              "RESOURCE_HIJACKING",
              "NETWORK_DENIAL_OF_SERVICE",
              "CLOUD_SERVICE_DISCOVERY",
              "STEAL_APPLICATION_ACCESS_TOKEN",
              "ACCOUNT_ACCESS_REMOVAL",
              "TRANSFER_DATA_TO_CLOUD_ACCOUNT",
              "STEAL_WEB_SESSION_COOKIE",
              "CREATE_OR_MODIFY_SYSTEM_PROCESS",
              "EVENT_TRIGGERED_EXECUTION",
              "BOOT_OR_LOGON_AUTOSTART_EXECUTION",
              "KERNEL_MODULES_AND_EXTENSIONS",
              "SHORTCUT_MODIFICATION",
              "ABUSE_ELEVATION_CONTROL_MECHANISM",
              "ABUSE_ELEVATION_CONTROL_MECHANISM_SETUID_AND_SETGID",
              "ABUSE_ELEVATION_CONTROL_MECHANISM_SUDO_AND_SUDO_CACHING",
              "UNSECURED_CREDENTIALS",
              "CREDENTIALS_IN_FILES",
              "BASH_HISTORY",
              "PRIVATE_KEYS",
              "SUBVERT_TRUST_CONTROL",
              "INSTALL_ROOT_CERTIFICATE",
              "COMPROMISE_HOST_SOFTWARE_BINARY",
              "CREDENTIALS_FROM_PASSWORD_STORES",
              "MODIFY_AUTHENTICATION_PROCESS",
              "PLUGGABLE_AUTHENTICATION_MODULES",
              "MULTI_FACTOR_AUTHENTICATION",
              "IMPAIR_DEFENSES",
              "DISABLE_OR_MODIFY_TOOLS",
              "INDICATOR_BLOCKING",
              "DISABLE_OR_MODIFY_LINUX_AUDIT_SYSTEM",
              "HIDE_ARTIFACTS",
              "HIDDEN_FILES_AND_DIRECTORIES",
              "HIDDEN_USERS",
              "EXFILTRATION_OVER_WEB_SERVICE",
              "EXFILTRATION_TO_CLOUD_STORAGE",
              "DYNAMIC_RESOLUTION",
              "LATERAL_TOOL_TRANSFER",
              "HIJACK_EXECUTION_FLOW",
              "HIJACK_EXECUTION_FLOW_DYNAMIC_LINKER_HIJACKING",
              "MODIFY_CLOUD_COMPUTE_INFRASTRUCTURE",
              "CREATE_SNAPSHOT",
              "CLOUD_INFRASTRUCTURE_DISCOVERY",
              "DEVELOP_CAPABILITIES",
              "DEVELOP_CAPABILITIES_MALWARE",
              "OBTAIN_CAPABILITIES",
              "OBTAIN_CAPABILITIES_MALWARE",
              "OBTAIN_CAPABILITIES_VULNERABILITIES",
              "ACTIVE_SCANNING",
              "SCANNING_IP_BLOCKS",
              "STAGE_CAPABILITIES",
              "UPLOAD_MALWARE",
              "CONTAINER_ADMINISTRATION_COMMAND",
              "DEPLOY_CONTAINER",
              "ESCAPE_TO_HOST",
              "CONTAINER_AND_RESOURCE_DISCOVERY",
              "REFLECTIVE_CODE_LOADING",
              "STEAL_OR_FORGE_AUTHENTICATION_CERTIFICATES",
              "FINANCIAL_THEFT"
            ],
            "enumDescriptions": [
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              ""
            ]
          }
        },
        "primaryTechniques": {
          "items": {
            "enumDescriptions": [
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              ""
            ],
            "type": "string",
            "enum": [
              "TECHNIQUE_UNSPECIFIED",
              "DATA_OBFUSCATION",
              "DATA_OBFUSCATION_STEGANOGRAPHY",
              "OS_CREDENTIAL_DUMPING",
              "OS_CREDENTIAL_DUMPING_PROC_FILESYSTEM",
              "OS_CREDENTIAL_DUMPING_ETC_PASSWORD_AND_ETC_SHADOW",
              "DATA_FROM_LOCAL_SYSTEM",
              "AUTOMATED_EXFILTRATION",
              "OBFUSCATED_FILES_OR_INFO",
              "STEGANOGRAPHY",
              "COMPILE_AFTER_DELIVERY",
              "COMMAND_OBFUSCATION",
              "SCHEDULED_TRANSFER",
              "SYSTEM_OWNER_USER_DISCOVERY",
              "MASQUERADING",
              "MATCH_LEGITIMATE_NAME_OR_LOCATION",
              "BOOT_OR_LOGON_INITIALIZATION_SCRIPTS",
              "STARTUP_ITEMS",
              "NETWORK_SERVICE_DISCOVERY",
              "SCHEDULED_TASK_JOB",
              "SCHEDULED_TASK_JOB_CRON",
              "CONTAINER_ORCHESTRATION_JOB",
              "PROCESS_INJECTION",
              "INPUT_CAPTURE",
              "INPUT_CAPTURE_KEYLOGGING",
              "PROCESS_DISCOVERY",
              "COMMAND_AND_SCRIPTING_INTERPRETER",
              "UNIX_SHELL",
              "PYTHON",
              "EXPLOITATION_FOR_PRIVILEGE_ESCALATION",
              "PERMISSION_GROUPS_DISCOVERY",
              "CLOUD_GROUPS",
              "INDICATOR_REMOVAL",
              "INDICATOR_REMOVAL_CLEAR_LINUX_OR_MAC_SYSTEM_LOGS",
              "INDICATOR_REMOVAL_CLEAR_COMMAND_HISTORY",
              "INDICATOR_REMOVAL_FILE_DELETION",
              "INDICATOR_REMOVAL_TIMESTOMP",
              "INDICATOR_REMOVAL_CLEAR_MAILBOX_DATA",
              "APPLICATION_LAYER_PROTOCOL",
              "DNS",
              "SOFTWARE_DEPLOYMENT_TOOLS",
              "VALID_ACCOUNTS",
              "DEFAULT_ACCOUNTS",
              "LOCAL_ACCOUNTS",
              "CLOUD_ACCOUNTS",
              "FILE_AND_DIRECTORY_DISCOVERY",
              "ACCOUNT_DISCOVERY_LOCAL_ACCOUNT",
              "PROXY",
              "EXTERNAL_PROXY",
              "MULTI_HOP_PROXY",
              "ACCOUNT_MANIPULATION",
              "ADDITIONAL_CLOUD_CREDENTIALS",
              "ADDITIONAL_CLOUD_ROLES",
              "SSH_AUTHORIZED_KEYS",
              "ADDITIONAL_CONTAINER_CLUSTER_ROLES",
              "MULTI_STAGE_CHANNELS",
              "INGRESS_TOOL_TRANSFER",
              "NATIVE_API",
              "BRUTE_FORCE",
              "AUTOMATED_COLLECTION",
              "SHARED_MODULES",
              "DATA_ENCODING",
              "STANDARD_ENCODING",
              "ACCESS_TOKEN_MANIPULATION",
              "TOKEN_IMPERSONATION_OR_THEFT",
              "CREATE_ACCOUNT",
              "LOCAL_ACCOUNT",
              "DEOBFUSCATE_DECODE_FILES_OR_INFO",
              "EXPLOIT_PUBLIC_FACING_APPLICATION",
              "SUPPLY_CHAIN_COMPROMISE",
              "COMPROMISE_SOFTWARE_DEPENDENCIES_AND_DEVELOPMENT_TOOLS",
              "EXPLOITATION_FOR_CLIENT_EXECUTION",
              "USER_EXECUTION",
              "EXPLOITATION_FOR_CREDENTIAL_ACCESS",
              "LINUX_AND_MAC_FILE_AND_DIRECTORY_PERMISSIONS_MODIFICATION",
              "DOMAIN_POLICY_MODIFICATION",
              "DATA_DESTRUCTION",
              "DATA_ENCRYPTED_FOR_IMPACT",
              "SERVICE_STOP",
              "INHIBIT_SYSTEM_RECOVERY",
              "FIRMWARE_CORRUPTION",
              "RESOURCE_HIJACKING",
              "NETWORK_DENIAL_OF_SERVICE",
              "CLOUD_SERVICE_DISCOVERY",
              "STEAL_APPLICATION_ACCESS_TOKEN",
              "ACCOUNT_ACCESS_REMOVAL",
              "TRANSFER_DATA_TO_CLOUD_ACCOUNT",
              "STEAL_WEB_SESSION_COOKIE",
              "CREATE_OR_MODIFY_SYSTEM_PROCESS",
              "EVENT_TRIGGERED_EXECUTION",
              "BOOT_OR_LOGON_AUTOSTART_EXECUTION",
              "KERNEL_MODULES_AND_EXTENSIONS",
              "SHORTCUT_MODIFICATION",
              "ABUSE_ELEVATION_CONTROL_MECHANISM",
              "ABUSE_ELEVATION_CONTROL_MECHANISM_SETUID_AND_SETGID",
              "ABUSE_ELEVATION_CONTROL_MECHANISM_SUDO_AND_SUDO_CACHING",
              "UNSECURED_CREDENTIALS",
              "CREDENTIALS_IN_FILES",
              "BASH_HISTORY",
              "PRIVATE_KEYS",
              "SUBVERT_TRUST_CONTROL",
              "INSTALL_ROOT_CERTIFICATE",
              "COMPROMISE_HOST_SOFTWARE_BINARY",
              "CREDENTIALS_FROM_PASSWORD_STORES",
              "MODIFY_AUTHENTICATION_PROCESS",
              "PLUGGABLE_AUTHENTICATION_MODULES",
              "MULTI_FACTOR_AUTHENTICATION",
              "IMPAIR_DEFENSES",
              "DISABLE_OR_MODIFY_TOOLS",
              "INDICATOR_BLOCKING",
              "DISABLE_OR_MODIFY_LINUX_AUDIT_SYSTEM",
              "HIDE_ARTIFACTS",
              "HIDDEN_FILES_AND_DIRECTORIES",
              "HIDDEN_USERS",
              "EXFILTRATION_OVER_WEB_SERVICE",
              "EXFILTRATION_TO_CLOUD_STORAGE",
              "DYNAMIC_RESOLUTION",
              "LATERAL_TOOL_TRANSFER",
              "HIJACK_EXECUTION_FLOW",
              "HIJACK_EXECUTION_FLOW_DYNAMIC_LINKER_HIJACKING",
              "MODIFY_CLOUD_COMPUTE_INFRASTRUCTURE",
              "CREATE_SNAPSHOT",
              "CLOUD_INFRASTRUCTURE_DISCOVERY",
              "DEVELOP_CAPABILITIES",
              "DEVELOP_CAPABILITIES_MALWARE",
              "OBTAIN_CAPABILITIES",
              "OBTAIN_CAPABILITIES_MALWARE",
              "OBTAIN_CAPABILITIES_VULNERABILITIES",
              "ACTIVE_SCANNING",
              "SCANNING_IP_BLOCKS",
              "STAGE_CAPABILITIES",
              "UPLOAD_MALWARE",
              "CONTAINER_ADMINISTRATION_COMMAND",
              "DEPLOY_CONTAINER",
              "ESCAPE_TO_HOST",
              "CONTAINER_AND_RESOURCE_DISCOVERY",
              "REFLECTIVE_CODE_LOADING",
              "STEAL_OR_FORGE_AUTHENTICATION_CERTIFICATES",
              "FINANCIAL_THEFT"
            ]
          },
          "type": "array"
        },
        "additionalTactics": {
          "items": {
            "type": "string",
            "enum": [
              "TACTIC_UNSPECIFIED",
              "RECONNAISSANCE",
              "RESOURCE_DEVELOPMENT",
              "INITIAL_ACCESS",
              "EXECUTION",
              "PERSISTENCE",
              "PRIVILEGE_ESCALATION",
              "DEFENSE_EVASION",
              "CREDENTIAL_ACCESS",
              "DISCOVERY",
              "LATERAL_MOVEMENT",
              "COLLECTION",
              "COMMAND_AND_CONTROL",
              "EXFILTRATION",
              "IMPACT"
            ],
            "enumDescriptions": [
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              ""
            ]
          },
          "type": "array"
        },
        "version": {
          "type": "string"
        },
        "primaryTactic": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "TACTIC_UNSPECIFIED",
            "RECONNAISSANCE",
            "RESOURCE_DEVELOPMENT",
            "INITIAL_ACCESS",
            "EXECUTION",
            "PERSISTENCE",
            "PRIVILEGE_ESCALATION",
            "DEFENSE_EVASION",
            "CREDENTIAL_ACCESS",
            "DISCOVERY",
            "LATERAL_MOVEMENT",
            "COLLECTION",
            "COMMAND_AND_CONTROL",
            "EXFILTRATION",
            "IMPACT"
          ]
        }
      }
    },
    "GoogleCloudSecuritycenterV2IssueResourceApplicationAttributes": {
      "id": "GoogleCloudSecuritycenterV2IssueResourceApplicationAttributes",
      "properties": {
        "operatorOwners": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2IssueResourceApplicationAttributesContactInfo"
          }
        },
        "environment": {
          "$ref": "GoogleCloudSecuritycenterV2IssueResourceApplicationAttributesEnvironment"
        },
        "developerOwners": {
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2IssueResourceApplicationAttributesContactInfo"
          },
          "type": "array"
        },
        "businessOwners": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2IssueResourceApplicationAttributesContactInfo"
          }
        },
        "criticality": {
          "$ref": "GoogleCloudSecuritycenterV2IssueResourceApplicationAttributesCriticality"
        }
      },
      "type": "object"
    },
    "Reference": {
      "properties": {
        "source": {
          "type": "string"
        },
        "uri": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "Reference"
    },
    "GoogleCloudSecuritycenterV2ResourceApplication": {
      "id": "GoogleCloudSecuritycenterV2ResourceApplication",
      "properties": {
        "name": {
          "type": "string"
        },
        "attributes": {
          "$ref": "GoogleCloudSecuritycenterV2ResourceApplicationAttributes"
        }
      },
      "type": "object"
    },
    "Notebook": {
      "properties": {
        "name": {
          "type": "string"
        },
        "service": {
          "type": "string"
        },
        "notebookUpdateTime": {
          "format": "google-datetime",
          "type": "string"
        },
        "lastAuthor": {
          "type": "string"
        }
      },
      "id": "Notebook",
      "type": "object"
    },
    "GoogleCloudSecuritycenterV1ResourceApplicationAttributesEnvironment": {
      "properties": {
        "type": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "ENVIRONMENT_TYPE_UNSPECIFIED",
            "PRODUCTION",
            "STAGING",
            "TEST",
            "DEVELOPMENT"
          ]
        }
      },
      "id": "GoogleCloudSecuritycenterV1ResourceApplicationAttributesEnvironment",
      "type": "object"
    },
    "Vulnerability": {
      "id": "Vulnerability",
      "type": "object",
      "properties": {
        "reachable": {
          "type": "boolean"
        },
        "securityBulletin": {
          "$ref": "SecurityBulletin"
        },
        "cwes": {
          "type": "array",
          "items": {
            "$ref": "Cwe"
          }
        },
        "fixedPackage": {
          "$ref": "Package"
        },
        "offendingPackage": {
          "$ref": "Package"
        },
        "providerRiskScore": {
          "type": "string",
          "format": "int64"
        },
        "cve": {
          "$ref": "Cve"
        }
      }
    },
    "GcpMetadata": {
      "properties": {
        "parent": {
          "type": "string"
        },
        "folders": {
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2Folder"
          },
          "readOnly": true,
          "type": "array"
        },
        "project": {
          "type": "string"
        },
        "organization": {
          "type": "string"
        },
        "projectDisplayName": {
          "type": "string"
        },
        "parentDisplayName": {
          "type": "string"
        }
      },
      "id": "GcpMetadata",
      "type": "object"
    },
    "Pipeline": {
      "type": "object",
      "id": "Pipeline",
      "properties": {
        "name": {
          "type": "string"
        },
        "displayName": {
          "type": "string"
        }
      }
    },
    "GoogleCloudSecuritycenterV2Role": {
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2Role",
      "properties": {
        "name": {
          "type": "string"
        },
        "ns": {
          "type": "string"
        },
        "kind": {
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "KIND_UNSPECIFIED",
            "ROLE",
            "CLUSTER_ROLE"
          ]
        }
      }
    },
    "Database": {
      "id": "Database",
      "properties": {
        "userName": {
          "type": "string"
        },
        "version": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "displayName": {
          "type": "string"
        },
        "query": {
          "type": "string"
        },
        "grantees": {
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object"
    },
    "MuteInfo": {
      "id": "MuteInfo",
      "type": "object",
      "properties": {
        "dynamicMuteRecords": {
          "items": {
            "$ref": "DynamicMuteRecord"
          },
          "type": "array"
        },
        "staticMute": {
          "$ref": "StaticMute"
        }
      }
    },
    "DetectorReference": {
      "id": "DetectorReference",
      "type": "object",
      "properties": {
        "recommendation": {
          "type": "string"
        },
        "detectorId": {
          "type": "string"
        },
        "displayName": {
          "type": "string"
        },
        "explanation": {
          "type": "string"
        },
        "severity": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "SEVERITY_UNSPECIFIED",
            "CRITICAL",
            "HIGH",
            "MEDIUM",
            "LOW"
          ]
        }
      }
    },
    "GoogleCloudSecuritycenterV2IssueResourceApplicationAttributesCriticality": {
      "properties": {
        "type": {
          "type": "string",
          "enum": [
            "CRITICALITY_TYPE_UNSPECIFIED",
            "MISSION_CRITICAL",
            "HIGH",
            "MEDIUM",
            "LOW"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ]
        }
      },
      "id": "GoogleCloudSecuritycenterV2IssueResourceApplicationAttributesCriticality",
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2LogEntry": {
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2LogEntry",
      "properties": {
        "cloudLoggingEntry": {
          "$ref": "GoogleCloudSecuritycenterV2CloudLoggingEntry"
        }
      }
    },
    "GoogleCloudSecuritycenterV2IssueResourceAwsMetadataAwsAccount": {
      "properties": {
        "name": {
          "type": "string"
        },
        "id": {
          "type": "string"
        }
      },
      "id": "GoogleCloudSecuritycenterV2IssueResourceAwsMetadataAwsAccount",
      "type": "object"
    },
    "Geolocation": {
      "id": "Geolocation",
      "type": "object",
      "properties": {
        "regionCode": {
          "type": "string"
        }
      }
    },
    "GoogleCloudSecuritycenterV2IssueResourceAzureMetadataAzureSubscription": {
      "properties": {
        "id": {
          "type": "string"
        },
        "displayName": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2IssueResourceAzureMetadataAzureSubscription"
    },
    "GoogleCloudSecuritycenterV2MitreAttack": {
      "id": "GoogleCloudSecuritycenterV2MitreAttack",
      "properties": {
        "primaryTactic": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "TACTIC_UNSPECIFIED",
            "RECONNAISSANCE",
            "RESOURCE_DEVELOPMENT",
            "INITIAL_ACCESS",
            "EXECUTION",
            "PERSISTENCE",
            "PRIVILEGE_ESCALATION",
            "DEFENSE_EVASION",
            "CREDENTIAL_ACCESS",
            "DISCOVERY",
            "LATERAL_MOVEMENT",
            "COLLECTION",
            "COMMAND_AND_CONTROL",
            "EXFILTRATION",
            "IMPACT"
          ]
        },
        "primaryTechniques": {
          "type": "array",
          "items": {
            "type": "string",
            "enum": [
              "TECHNIQUE_UNSPECIFIED",
              "DATA_OBFUSCATION",
              "DATA_OBFUSCATION_STEGANOGRAPHY",
              "OS_CREDENTIAL_DUMPING",
              "OS_CREDENTIAL_DUMPING_PROC_FILESYSTEM",
              "OS_CREDENTIAL_DUMPING_ETC_PASSWORD_AND_ETC_SHADOW",
              "DATA_FROM_LOCAL_SYSTEM",
              "AUTOMATED_EXFILTRATION",
              "OBFUSCATED_FILES_OR_INFO",
              "STEGANOGRAPHY",
              "COMPILE_AFTER_DELIVERY",
              "COMMAND_OBFUSCATION",
              "SCHEDULED_TRANSFER",
              "SYSTEM_OWNER_USER_DISCOVERY",
              "MASQUERADING",
              "MATCH_LEGITIMATE_NAME_OR_LOCATION",
              "BOOT_OR_LOGON_INITIALIZATION_SCRIPTS",
              "STARTUP_ITEMS",
              "NETWORK_SERVICE_DISCOVERY",
              "SCHEDULED_TASK_JOB",
              "SCHEDULED_TASK_JOB_CRON",
              "CONTAINER_ORCHESTRATION_JOB",
              "PROCESS_INJECTION",
              "INPUT_CAPTURE",
              "INPUT_CAPTURE_KEYLOGGING",
              "PROCESS_DISCOVERY",
              "COMMAND_AND_SCRIPTING_INTERPRETER",
              "UNIX_SHELL",
              "PYTHON",
              "EXPLOITATION_FOR_PRIVILEGE_ESCALATION",
              "PERMISSION_GROUPS_DISCOVERY",
              "CLOUD_GROUPS",
              "INDICATOR_REMOVAL",
              "INDICATOR_REMOVAL_CLEAR_LINUX_OR_MAC_SYSTEM_LOGS",
              "INDICATOR_REMOVAL_CLEAR_COMMAND_HISTORY",
              "INDICATOR_REMOVAL_FILE_DELETION",
              "INDICATOR_REMOVAL_TIMESTOMP",
              "INDICATOR_REMOVAL_CLEAR_MAILBOX_DATA",
              "APPLICATION_LAYER_PROTOCOL",
              "DNS",
              "SOFTWARE_DEPLOYMENT_TOOLS",
              "VALID_ACCOUNTS",
              "DEFAULT_ACCOUNTS",
              "LOCAL_ACCOUNTS",
              "CLOUD_ACCOUNTS",
              "FILE_AND_DIRECTORY_DISCOVERY",
              "ACCOUNT_DISCOVERY_LOCAL_ACCOUNT",
              "PROXY",
              "EXTERNAL_PROXY",
              "MULTI_HOP_PROXY",
              "ACCOUNT_MANIPULATION",
              "ADDITIONAL_CLOUD_CREDENTIALS",
              "ADDITIONAL_CLOUD_ROLES",
              "SSH_AUTHORIZED_KEYS",
              "ADDITIONAL_CONTAINER_CLUSTER_ROLES",
              "MULTI_STAGE_CHANNELS",
              "INGRESS_TOOL_TRANSFER",
              "NATIVE_API",
              "BRUTE_FORCE",
              "AUTOMATED_COLLECTION",
              "SHARED_MODULES",
              "DATA_ENCODING",
              "STANDARD_ENCODING",
              "ACCESS_TOKEN_MANIPULATION",
[...]
