{
  "version_module": true,
  "kind": "discovery#restDescription",
  "endpoints": [
    {
      "endpointUrl": "https://securitycenter.me-central2.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "me-central2"
    },
    {
      "endpointUrl": "https://securitycenter.us.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "us"
    },
    {
      "endpointUrl": "https://securitycenter.eu.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "eu"
    }
  ],
  "basePath": "",
  "name": "securitycenter",
  "version": "v1beta1",
  "parameters": {
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "fields": {
      "location": "query",
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "key": {
      "location": "query",
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "$.xgafv": {
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "enum": [
        "1",
        "2"
      ],
      "location": "query",
      "description": "V1 error format."
    },
    "alt": {
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "default": "json",
      "description": "Data format for response.",
      "location": "query",
      "type": "string",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ]
    },
    "uploadType": {
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string"
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "prettyPrint": {
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "location": "query",
      "default": "true"
    },
    "quotaUser": {
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string"
    },
    "access_token": {
      "description": "OAuth access token.",
      "type": "string",
      "location": "query"
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    }
  },
  "protocol": "rest",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        },
        "https://www.googleapis.com/auth/securitycenter": {
          "description": "See, edit, configure, and delete your Google Cloud Security Command Center data and see the email address for your Google Account"
        }
      }
    }
  },
  "revision": "20260911",
  "id": "securitycenter:v1beta1",
  "rootUrl": "https://securitycenter.googleapis.com/",
  "mtlsRootUrl": "https://securitycenter.mtls.googleapis.com/",
  "servicePath": "",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "fullyEncodeReservedExpansion": true,
  "title": "Security Command Center API",
  "ownerDomain": "google.com",
  "discoveryVersion": "v1",
  "batchPath": "batch",
  "baseUrl": "https://securitycenter.googleapis.com/",
  "resources": {
    "organizations": {
      "resources": {
        "operations": {
          "methods": {
            "delete": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/securitycenter"
              ],
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "Empty"
              },
              "flatPath": "v1beta1/organizations/{organizationsId}/operations/{operationsId}",
              "httpMethod": "DELETE",
              "parameters": {
                "name": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "pattern": "^organizations/[^/]+/operations/[^/]+$"
                }
              },
              "description": "",
              "path": "v1beta1/{+name}",
              "id": "securitycenter.organizations.operations.delete"
            },
            "get": {
              "description": "",
              "parameters": {
                "name": {
                  "location": "path",
                  "required": true,
                  "pattern": "^organizations/[^/]+/operations/[^/]+$",
                  "type": "string"
                }
              },
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/securitycenter"
              ],
              "id": "securitycenter.organizations.operations.get",
              "flatPath": "v1beta1/organizations/{organizationsId}/operations/{operationsId}",
              "response": {
                "$ref": "Operation"
              },
              "path": "v1beta1/{+name}",
              "parameterOrder": [
                "name"
              ]
            },
            "list": {
              "httpMethod": "GET",
              "response": {
                "$ref": "ListOperationsResponse"
              },
              "id": "securitycenter.organizations.operations.list",
              "parameters": {
                "filter": {
                  "type": "string",
                  "location": "query"
                },
                "name": {
                  "type": "string",
                  "pattern": "^organizations/[^/]+/operations$",
                  "location": "path",
                  "required": true
                },
                "pageSize": {
                  "type": "integer",
                  "format": "int32",
                  "location": "query"
                },
                "returnPartialSuccess": {
                  "type": "boolean",
                  "location": "query"
                },
                "pageToken": {
                  "location": "query",
                  "type": "string"
                }
              },
              "description": "",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/securitycenter"
              ],
              "parameterOrder": [
                "name"
              ],
              "path": "v1beta1/{+name}",
              "flatPath": "v1beta1/organizations/{organizationsId}/operations"
            },
            "cancel": {
              "id": "securitycenter.organizations.operations.cancel",
              "flatPath": "v1beta1/organizations/{organizationsId}/operations/{operationsId}:cancel",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/securitycenter"
              ],
              "request": {
                "$ref": "CancelOperationRequest"
              },
              "description": "",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "pattern": "^organizations/[^/]+/operations/[^/]+$",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "httpMethod": "POST",
              "response": {
                "$ref": "Empty"
              },
              "path": "v1beta1/{+name}:cancel"
            }
          }
        },
        "sources": {
          "methods": {
            "testIamPermissions": {
              "description": "",
              "parameterOrder": [
                "resource"
              ],
              "request": {
                "$ref": "TestIamPermissionsRequest"
              },
              "httpMethod": "POST",
              "flatPath": "v1beta1/organizations/{organizationsId}/sources/{sourcesId}:testIamPermissions",
              "id": "securitycenter.organizations.sources.testIamPermissions",
              "parameters": {
                "resource": {
                  "pattern": "^organizations/[^/]+/sources/[^/]+$",
                  "type": "string",
                  "location": "path",
                  "required": true
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/securitycenter"
              ],
              "response": {
                "$ref": "TestIamPermissionsResponse"
              },
              "path": "v1beta1/{+resource}:testIamPermissions"
            },
            "create": {
              "id": "securitycenter.organizations.sources.create",
              "flatPath": "v1beta1/organizations/{organizationsId}/sources",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/securitycenter"
              ],
              "path": "v1beta1/{+parent}/sources",
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "Source"
              },
              "httpMethod": "POST",
              "request": {
                "$ref": "Source"
              },
              "description": "",
              "parameters": {
                "parent": {
                  "type": "string",
                  "pattern": "^organizations/[^/]+$",
                  "location": "path",
                  "required": true
                }
              }
            },
            "getIamPolicy": {
              "parameterOrder": [
                "resource"
              ],
              "httpMethod": "POST",
              "parameters": {
                "resource": {
                  "type": "string",
                  "pattern": "^organizations/[^/]+/sources/[^/]+$",
                  "location": "path",
                  "required": true
                }
              },
              "flatPath": "v1beta1/organizations/{organizationsId}/sources/{sourcesId}:getIamPolicy",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/securitycenter"
              ],
              "path": "v1beta1/{+resource}:getIamPolicy",
              "id": "securitycenter.organizations.sources.getIamPolicy",
              "description": "",
              "request": {
                "$ref": "GetIamPolicyRequest"
              },
              "response": {
                "$ref": "Policy"
              }
            },
            "get": {
              "flatPath": "v1beta1/organizations/{organizationsId}/sources/{sourcesId}",
              "parameters": {
                "name": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "pattern": "^organizations/[^/]+/sources/[^/]+$"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/securitycenter"
              ],
              "id": "securitycenter.organizations.sources.get",
              "httpMethod": "GET",
              "parameterOrder": [
                "name"
              ],
              "description": "",
              "response": {
                "$ref": "Source"
              },
              "path": "v1beta1/{+name}"
            },
            "patch": {
              "id": "securitycenter.organizations.sources.patch",
              "request": {
                "$ref": "Source"
              },
              "parameters": {
                "name": {
                  "location": "path",
                  "required": true,
                  "pattern": "^organizations/[^/]+/sources/[^/]+$",
                  "type": "string"
                },
                "updateMask": {
                  "format": "google-fieldmask",
                  "type": "string",
                  "location": "query"
                }
              },
              "httpMethod": "PATCH",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/securitycenter"
              ],
              "flatPath": "v1beta1/organizations/{organizationsId}/sources/{sourcesId}",
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "Source"
              },
              "description": "",
              "path": "v1beta1/{+name}"
            },
            "setIamPolicy": {
              "description": "",
              "id": "securitycenter.organizations.sources.setIamPolicy",
              "httpMethod": "POST",
              "parameters": {
                "resource": {
                  "type": "string",
                  "pattern": "^organizations/[^/]+/sources/[^/]+$",
                  "location": "path",
                  "required": true
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/securitycenter"
              ],
              "flatPath": "v1beta1/organizations/{organizationsId}/sources/{sourcesId}:setIamPolicy",
              "response": {
                "$ref": "Policy"
              },
              "request": {
                "$ref": "SetIamPolicyRequest"
              },
              "path": "v1beta1/{+resource}:setIamPolicy",
              "parameterOrder": [
                "resource"
              ]
            },
            "list": {
              "response": {
                "$ref": "ListSourcesResponse"
              },
              "path": "v1beta1/{+parent}/sources",
              "parameters": {
                "parent": {
                  "type": "string",
                  "pattern": "^organizations/[^/]+$",
                  "location": "path",
                  "required": true
                },
                "pageToken": {
                  "location": "query",
                  "type": "string"
                },
                "pageSize": {
                  "location": "query",
                  "type": "integer",
                  "format": "int32"
                }
              },
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/securitycenter"
              ],
              "id": "securitycenter.organizations.sources.list",
              "parameterOrder": [
                "parent"
              ],
              "description": "",
              "flatPath": "v1beta1/organizations/{organizationsId}/sources"
            }
          },
          "resources": {
            "findings": {
              "methods": {
                "updateSecurityMarks": {
                  "id": "securitycenter.organizations.sources.findings.updateSecurityMarks",
                  "httpMethod": "PATCH",
                  "parameters": {
                    "startTime": {
                      "format": "google-datetime",
                      "type": "string",
                      "location": "query"
                    },
                    "name": {
                      "location": "path",
                      "required": true,
                      "pattern": "^organizations/[^/]+/sources/[^/]+/findings/[^/]+/securityMarks$",
                      "type": "string"
                    },
                    "updateMask": {
                      "location": "query",
                      "type": "string",
                      "format": "google-fieldmask"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/securitycenter"
                  ],
                  "response": {
                    "$ref": "GoogleCloudSecuritycenterV1beta1SecurityMarks"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1beta1/organizations/{organizationsId}/sources/{sourcesId}/findings/{findingsId}/securityMarks",
                  "request": {
                    "$ref": "GoogleCloudSecuritycenterV1beta1SecurityMarks"
                  },
                  "path": "v1beta1/{+name}",
                  "description": ""
                },
                "patch": {
                  "request": {
                    "$ref": "GoogleCloudSecuritycenterV1beta1Finding"
                  },
                  "response": {
                    "$ref": "GoogleCloudSecuritycenterV1beta1Finding"
                  },
                  "parameters": {
                    "updateMask": {
                      "location": "query",
                      "format": "google-fieldmask",
                      "type": "string"
                    },
                    "name": {
                      "pattern": "^organizations/[^/]+/sources/[^/]+/findings/[^/]+$",
                      "type": "string",
                      "location": "path",
                      "required": true
                    }
                  },
                  "httpMethod": "PATCH",
                  "path": "v1beta1/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/securitycenter"
                  ],
                  "description": "",
                  "id": "securitycenter.organizations.sources.findings.patch",
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1beta1/organizations/{organizationsId}/sources/{sourcesId}/findings/{findingsId}"
                },
                "create": {
                  "flatPath": "v1beta1/organizations/{organizationsId}/sources/{sourcesId}/findings",
                  "description": "",
                  "parameterOrder": [
                    "parent"
                  ],
                  "parameters": {
                    "parent": {
                      "pattern": "^organizations/[^/]+/sources/[^/]+$",
                      "type": "string",
                      "location": "path",
                      "required": true
                    },
                    "findingId": {
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "id": "securitycenter.organizations.sources.findings.create",
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "GoogleCloudSecuritycenterV1beta1Finding"
                  },
                  "response": {
                    "$ref": "GoogleCloudSecuritycenterV1beta1Finding"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/securitycenter"
                  ],
                  "path": "v1beta1/{+parent}/findings"
                },
                "setState": {
                  "response": {
                    "$ref": "GoogleCloudSecuritycenterV1beta1Finding"
                  },
                  "description": "",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "pattern": "^organizations/[^/]+/sources/[^/]+/findings/[^/]+$"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "POST",
                  "id": "securitycenter.organizations.sources.findings.setState",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/securitycenter"
                  ],
                  "flatPath": "v1beta1/organizations/{organizationsId}/sources/{sourcesId}/findings/{findingsId}:setState",
                  "path": "v1beta1/{+name}:setState",
                  "request": {
                    "$ref": "SetFindingStateRequest"
                  }
                },
                "list": {
                  "path": "v1beta1/{+parent}/findings",
                  "id": "securitycenter.organizations.sources.findings.list",
                  "response": {
                    "$ref": "ListFindingsResponse"
                  },
                  "description": "",
                  "parameterOrder": [
                    "parent"
                  ],
                  "flatPath": "v1beta1/organizations/{organizationsId}/sources/{sourcesId}/findings",
                  "httpMethod": "GET",
                  "parameters": {
                    "orderBy": {
                      "location": "query",
                      "type": "string"
                    },
                    "pageSize": {
                      "type": "integer",
                      "location": "query",
                      "format": "int32"
                    },
                    "fieldMask": {
                      "location": "query",
                      "type": "string",
                      "format": "google-fieldmask"
                    },
                    "filter": {
                      "type": "string",
                      "location": "query"
                    },
                    "pageToken": {
                      "type": "string",
                      "location": "query"
                    },
                    "parent": {
                      "location": "path",
                      "required": true,
                      "pattern": "^organizations/[^/]+/sources/[^/]+$",
                      "type": "string"
                    },
                    "readTime": {
                      "type": "string",
                      "location": "query",
                      "format": "google-datetime"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/securitycenter"
                  ]
                },
                "group": {
                  "description": "",
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "GroupFindingsRequest"
                  },
                  "flatPath": "v1beta1/organizations/{organizationsId}/sources/{sourcesId}/findings:group",
                  "parameterOrder": [
                    "parent"
                  ],
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "required": true,
                      "pattern": "^organizations/[^/]+/sources/[^/]+$",
                      "type": "string"
                    }
                  },
                  "path": "v1beta1/{+parent}/findings:group",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/securitycenter"
                  ],
                  "response": {
                    "$ref": "GroupFindingsResponse"
                  },
                  "id": "securitycenter.organizations.sources.findings.group"
                }
              }
            }
          }
        },
        "assets": {
          "methods": {
            "runDiscovery": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/securitycenter"
              ],
              "response": {
                "$ref": "Operation"
              },
              "id": "securitycenter.organizations.assets.runDiscovery",
              "parameterOrder": [
                "parent"
              ],
              "httpMethod": "POST",
              "path": "v1beta1/{+parent}/assets:runDiscovery",
              "description": "",
              "parameters": {
                "parent": {
                  "location": "path",
                  "required": true,
                  "pattern": "^organizations/[^/]+$",
                  "type": "string"
                }
              },
              "flatPath": "v1beta1/organizations/{organizationsId}/assets:runDiscovery",
              "request": {
                "$ref": "RunAssetDiscoveryRequest"
              }
            },
            "updateSecurityMarks": {
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/securitycenter"
              ],
              "request": {
                "$ref": "GoogleCloudSecuritycenterV1beta1SecurityMarks"
              },
              "response": {
                "$ref": "GoogleCloudSecuritycenterV1beta1SecurityMarks"
              },
              "path": "v1beta1/{+name}",
              "flatPath": "v1beta1/organizations/{organizationsId}/assets/{assetsId}/securityMarks",
              "parameters": {
                "startTime": {
                  "format": "google-datetime",
                  "location": "query",
                  "type": "string"
                },
                "updateMask": {
                  "type": "string",
                  "format": "google-fieldmask",
                  "location": "query"
                },
                "name": {
                  "location": "path",
                  "required": true,
                  "pattern": "^organizations/[^/]+/assets/[^/]+/securityMarks$",
                  "type": "string"
                }
              },
              "id": "securitycenter.organizations.assets.updateSecurityMarks",
              "description": "",
              "httpMethod": "PATCH"
            },
            "list": {
              "flatPath": "v1beta1/organizations/{organizationsId}/assets",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/securitycenter"
              ],
              "parameters": {
                "compareDuration": {
                  "format": "google-duration",
                  "type": "string",
                  "location": "query"
                },
                "pageSize": {
                  "location": "query",
                  "type": "integer",
                  "format": "int32"
                },
                "fieldMask": {
                  "type": "string",
                  "format": "google-fieldmask",
                  "location": "query"
                },
                "parent": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "pattern": "^organizations/[^/]+$"
                },
                "orderBy": {
                  "type": "string",
                  "location": "query"
                },
                "pageToken": {
                  "type": "string",
                  "location": "query"
                },
                "filter": {
                  "type": "string",
                  "location": "query"
                },
                "readTime": {
                  "type": "string",
                  "location": "query",
                  "format": "google-datetime"
                }
              },
              "description": "",
              "id": "securitycenter.organizations.assets.list",
              "path": "v1beta1/{+parent}/assets",
              "httpMethod": "GET",
              "response": {
                "$ref": "ListAssetsResponse"
              },
              "parameterOrder": [
                "parent"
              ]
            },
            "group": {
              "httpMethod": "POST",
              "parameterOrder": [
                "parent"
              ],
              "request": {
                "$ref": "GroupAssetsRequest"
              },
              "parameters": {
                "parent": {
                  "location": "path",
                  "required": true,
                  "pattern": "^organizations/[^/]+$",
                  "type": "string"
                }
              },
              "flatPath": "v1beta1/organizations/{organizationsId}/assets:group",
              "id": "securitycenter.organizations.assets.group",
              "description": "",
              "path": "v1beta1/{+parent}/assets:group",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/securitycenter"
              ],
              "response": {
                "$ref": "GroupAssetsResponse"
              }
            }
          }
        }
      },
      "methods": {
        "getOrganizationSettings": {
          "flatPath": "v1beta1/organizations/{organizationsId}/organizationSettings",
          "description": "",
          "path": "v1beta1/{+name}",
          "parameters": {
            "name": {
              "type": "string",
              "location": "path",
              "required": true,
              "pattern": "^organizations/[^/]+/organizationSettings$"
            }
          },
          "response": {
            "$ref": "OrganizationSettings"
          },
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/securitycenter"
          ],
          "parameterOrder": [
            "name"
          ],
          "id": "securitycenter.organizations.getOrganizationSettings"
        },
        "updateOrganizationSettings": {
          "path": "v1beta1/{+name}",
          "request": {
            "$ref": "OrganizationSettings"
          },
          "parameters": {
            "name": {
              "location": "path",
              "required": true,
              "type": "string",
              "pattern": "^organizations/[^/]+/organizationSettings$"
            },
            "updateMask": {
              "format": "google-fieldmask",
              "type": "string",
              "location": "query"
            }
          },
          "deprecated": true,
          "httpMethod": "PATCH",
          "parameterOrder": [
            "name"
          ],
          "flatPath": "v1beta1/organizations/{organizationsId}/organizationSettings",
          "description": "",
          "response": {
            "$ref": "OrganizationSettings"
          },
          "id": "securitycenter.organizations.updateOrganizationSettings",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/securitycenter"
          ]
        }
      }
    }
  },
  "documentationLink": "https://cloud.google.com/security-command-center",
  "schemas": {
    "GoogleCloudSecuritycenterV2Pod": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        },
        "containers": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2Container"
          }
        },
        "ns": {
          "type": "string"
        },
        "labels": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2Label"
          }
        }
      },
      "id": "GoogleCloudSecuritycenterV2Pod"
    },
    "GoogleCloudSecuritycenterV2IssueResourceGoogleCloudMetadata": {
      "properties": {
        "projectId": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2IssueResourceGoogleCloudMetadata"
    },
    "GoogleCloudSecuritycenterV2AttackExposure": {
      "id": "GoogleCloudSecuritycenterV2AttackExposure",
      "properties": {
        "attackExposureResult": {
          "type": "string"
        },
        "exposedMediumValueResourcesCount": {
          "format": "int32",
          "type": "integer"
        },
        "exposedHighValueResourcesCount": {
          "type": "integer",
          "format": "int32"
        },
        "exposedLowValueResourcesCount": {
          "format": "int32",
          "type": "integer"
        },
        "state": {
          "readOnly": true,
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "CALCULATED",
            "NOT_CALCULATED"
          ]
        },
        "latestCalculationTime": {
          "type": "string",
          "format": "google-datetime"
        },
        "score": {
          "format": "double",
          "type": "number"
        }
      },
      "type": "object"
    },
    "Node": {
      "properties": {
        "name": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "Node"
    },
    "IamBinding": {
      "type": "object",
      "properties": {
        "action": {
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "ACTION_UNSPECIFIED",
            "ADD",
            "REMOVE"
          ]
        },
        "member": {
          "type": "string"
        },
        "role": {
          "type": "string"
        }
      },
      "id": "IamBinding"
    },
    "GoogleCloudSecuritycenterV2IssueResourceApplication": {
      "id": "GoogleCloudSecuritycenterV2IssueResourceApplication",
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        },
        "attributes": {
          "$ref": "GoogleCloudSecuritycenterV2IssueResourceApplicationAttributes"
        }
      }
    },
    "AzureManagementGroup": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string"
        },
        "displayName": {
          "type": "string"
        }
      },
      "id": "AzureManagementGroup"
    },
    "GoogleCloudSecuritycenterV2DynamicMuteRecord": {
      "properties": {
        "matchTime": {
          "format": "google-datetime",
          "type": "string"
        },
        "muteConfig": {
          "type": "string"
        }
      },
      "id": "GoogleCloudSecuritycenterV2DynamicMuteRecord",
      "type": "object"
    },
    "SecretFilePath": {
      "id": "SecretFilePath",
      "type": "object",
      "properties": {
        "path": {
          "type": "string"
        }
      }
    },
    "GoogleCloudSecuritycenterV1ResourceSelector": {
      "properties": {
        "resourceTypes": {
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "type": "object",
      "id": "GoogleCloudSecuritycenterV1ResourceSelector"
    },
    "GoogleCloudSecuritycenterV2CloudDlpDataProfile": {
      "id": "GoogleCloudSecuritycenterV2CloudDlpDataProfile",
      "type": "object",
      "properties": {
        "infoTypes": {
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2InfoType"
          },
          "type": "array"
        },
        "parentType": {
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "PARENT_TYPE_UNSPECIFIED",
            "ORGANIZATION",
            "PROJECT"
          ]
        },
        "dataProfile": {
          "type": "string"
        }
      }
    },
    "GoogleCloudSecuritycenterV2IssueResourceAwsMetadataAwsAccount": {
      "properties": {
        "id": {
          "type": "string"
        },
        "name": {
          "type": "string"
        }
      },
      "id": "GoogleCloudSecuritycenterV2IssueResourceAwsMetadataAwsAccount",
      "type": "object"
    },
    "LoadBalancer": {
      "properties": {
        "name": {
          "type": "string"
        }
      },
      "id": "LoadBalancer",
      "type": "object"
    },
    "FileOperation": {
      "id": "FileOperation",
      "type": "object",
      "properties": {
        "type": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "OPERATION_TYPE_UNSPECIFIED",
            "OPEN",
            "READ",
            "RENAME",
            "WRITE",
            "EXECUTE"
          ]
        }
      }
    },
    "GoogleCloudSecuritycenterV2ServiceAccountDelegationInfo": {
      "properties": {
        "principalSubject": {
          "type": "string"
        },
        "principalEmail": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2ServiceAccountDelegationInfo"
    },
    "GoogleCloudSecuritycenterV2IpRules": {
      "properties": {
        "sourceIpRanges": {
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "exposedServices": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "destinationIpRanges": {
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "direction": {
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "DIRECTION_UNSPECIFIED",
            "INGRESS",
            "EGRESS"
          ]
        },
        "allowed": {
          "$ref": "GoogleCloudSecuritycenterV2Allowed"
        },
        "denied": {
          "$ref": "GoogleCloudSecuritycenterV2Denied"
        }
      },
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2IpRules"
    },
    "GoogleCloudSecuritycenterV2Kubernetes": {
      "id": "GoogleCloudSecuritycenterV2Kubernetes",
      "type": "object",
      "properties": {
        "bindings": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2Binding"
          }
        },
        "nodePools": {
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2NodePool"
          },
          "type": "array"
        },
        "roles": {
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2Role"
          },
          "type": "array"
        },
        "accessReviews": {
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2AccessReview"
          },
          "type": "array"
        },
        "objects": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2Object"
          }
        },
        "pods": {
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2Pod"
          },
          "type": "array"
        },
        "nodes": {
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2Node"
          },
          "type": "array"
        }
      }
    },
    "AdcApplicationTemplateRevision": {
      "type": "object",
      "id": "AdcApplicationTemplateRevision",
      "properties": {
        "name": {
          "type": "string"
        }
      }
    },
    "Connection": {
      "id": "Connection",
      "type": "object",
      "properties": {
        "destinationPort": {
          "format": "int32",
          "type": "integer"
        },
        "protocol": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "PROTOCOL_UNSPECIFIED",
            "ICMP",
            "TCP",
            "UDP",
            "GRE",
            "ESP"
          ]
        },
        "sourcePort": {
          "type": "integer",
          "format": "int32"
        },
        "sourceIp": {
          "type": "string"
        },
        "destinationIp": {
          "type": "string"
        }
      }
    },
    "GoogleCloudSecuritycenterV2NotificationMessage": {
      "id": "GoogleCloudSecuritycenterV2NotificationMessage",
      "type": "object",
      "properties": {
        "notificationConfigName": {
          "type": "string"
        },
        "finding": {
          "$ref": "GoogleCloudSecuritycenterV2Finding"
        },
        "resource": {
          "$ref": "GoogleCloudSecuritycenterV2Resource"
        }
      }
    },
    "GoogleCloudSecuritycenterV2Finding": {
      "properties": {
        "securityMarks": {
          "readOnly": true,
          "$ref": "GoogleCloudSecuritycenterV2SecurityMarks"
        },
        "agentSessions": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2AgentSession"
          }
        },
        "database": {
          "$ref": "GoogleCloudSecuritycenterV2Database"
        },
        "kubernetes": {
          "$ref": "GoogleCloudSecuritycenterV2Kubernetes"
        },
        "dataAccessEvents": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2DataAccessEvent"
          }
        },
        "externalUri": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "state": {
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "readOnly": true,
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "INACTIVE"
          ]
        },
        "findingClass": {
          "type": "string",
          "enum": [
            "FINDING_CLASS_UNSPECIFIED",
            "THREAT",
            "VULNERABILITY",
            "MISCONFIGURATION",
            "OBSERVATION",
            "SCC_ERROR",
            "POSTURE_VIOLATION",
            "TOXIC_COMBINATION",
            "SENSITIVE_DATA_RISK",
            "CHOKEPOINT",
            "EXTERNAL_EXPOSURE",
            "SECRET"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ]
        },
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "readOnly": true
        },
        "agentDataAccessEvents": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2AgentDataAccessEvent"
          }
        },
        "description": {
          "type": "string"
        },
        "dataRetentionDeletionEvents": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2DataRetentionDeletionEvent"
          }
        },
        "job": {
          "$ref": "GoogleCloudSecuritycenterV2Job"
        },
        "orgPolicies": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2OrgPolicy"
          }
        },
        "category": {
          "type": "string"
        },
        "indicator": {
          "$ref": "GoogleCloudSecuritycenterV2Indicator"
        },
        "muteInitiator": {
          "type": "string"
        },
        "parentDisplayName": {
          "type": "string",
          "readOnly": true
        },
        "backupDisasterRecovery": {
          "$ref": "GoogleCloudSecuritycenterV2BackupDisasterRecovery"
        },
        "cloudDlpInspection": {
          "$ref": "GoogleCloudSecuritycenterV2CloudDlpInspection"
        },
        "processes": {
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2Process"
          },
          "type": "array"
        },
        "access": {
          "$ref": "GoogleCloudSecuritycenterV2Access"
        },
        "kernelRootkit": {
          "$ref": "GoogleCloudSecuritycenterV2KernelRootkit"
        },
        "nextSteps": {
          "type": "string"
        },
        "groupMemberships": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2GroupMembership"
          }
        },
        "iamBindings": {
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2IamBinding"
          },
          "type": "array"
        },
        "severity": {
          "type": "string",
          "enum": [
            "SEVERITY_UNSPECIFIED",
            "CRITICAL",
            "HIGH",
            "MEDIUM",
            "LOW"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ]
        },
        "agentAnomaly": {
          "$ref": "GoogleCloudSecuritycenterV2AgentAnomaly"
        },
        "dataFlowEvents": {
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2DataFlowEvent"
          },
          "type": "array"
        },
        "externalExposure": {
          "$ref": "GoogleCloudSecuritycenterV2ExternalExposure"
        },
        "ipRules": {
          "$ref": "GoogleCloudSecuritycenterV2IpRules"
        },
        "toxicCombination": {
          "$ref": "GoogleCloudSecuritycenterV2ToxicCombination"
        },
        "muteInfo": {
          "$ref": "GoogleCloudSecuritycenterV2MuteInfo",
          "readOnly": true
        },
        "loadBalancers": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2LoadBalancer"
          }
        },
        "notebook": {
          "$ref": "GoogleCloudSecuritycenterV2Notebook"
        },
        "securityPosture": {
          "$ref": "GoogleCloudSecuritycenterV2SecurityPosture"
        },
        "canonicalName": {
          "readOnly": true,
          "type": "string"
        },
        "agent": {
          "$ref": "GoogleCloudSecuritycenterV2Agent"
        },
        "iamDetails": {
          "$ref": "GoogleCloudSecuritycenterV2IamDetails"
        },
        "vulnerability": {
          "$ref": "GoogleCloudSecuritycenterV2Vulnerability"
        },
        "affectedResources": {
          "$ref": "GoogleCloudSecuritycenterV2AffectedResources"
        },
        "chokepoint": {
          "$ref": "GoogleCloudSecuritycenterV2Chokepoint"
        },
        "secret": {
          "$ref": "GoogleCloudSecuritycenterV2Secret"
        },
        "moduleName": {
          "type": "string"
        },
        "cloudDlpDataProfile": {
          "$ref": "GoogleCloudSecuritycenterV2CloudDlpDataProfile"
        },
        "eventTime": {
          "type": "string",
          "format": "google-datetime"
        },
        "artifactGuardPolicies": {
          "$ref": "GoogleCloudSecuritycenterV2ArtifactGuardPolicies"
        },
        "discoveredWorkload": {
          "$ref": "GoogleCloudSecuritycenterV2DiscoveredWorkload"
        },
        "exfiltration": {
          "$ref": "GoogleCloudSecuritycenterV2Exfiltration"
        },
        "disk": {
          "$ref": "GoogleCloudSecuritycenterV2Disk"
        },
        "attackExposure": {
          "$ref": "GoogleCloudSecuritycenterV2AttackExposure"
        },
        "logEntries": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2LogEntry"
          }
        },
        "mitreAttack": {
          "$ref": "GoogleCloudSecuritycenterV2MitreAttack"
        },
        "compliances": {
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2Compliance"
          },
          "type": "array"
        },
        "containers": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2Container"
          }
        },
        "contacts": {
          "additionalProperties": {
            "$ref": "GoogleCloudSecuritycenterV2ContactDetails"
          },
          "readOnly": true,
          "type": "object"
        },
        "aiModel": {
          "$ref": "GoogleCloudSecuritycenterV2AiModel"
        },
        "muteUpdateTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "files": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2File"
          }
        },
        "cryptoKeyName": {
          "readOnly": true,
          "type": "string"
        },
        "policyViolationSummary": {
          "$ref": "GoogleCloudSecuritycenterV2PolicyViolationSummary"
        },
        "resourceName": {
          "type": "string"
        },
        "parent": {
          "type": "string"
        },
        "mute": {
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "MUTE_UNSPECIFIED",
            "MUTED",
            "UNMUTED",
            "UNDEFINED"
          ]
        },
        "cloudArmor": {
          "$ref": "GoogleCloudSecuritycenterV2CloudArmor"
        },
        "complianceDetails": {
          "$ref": "GoogleCloudSecuritycenterV2ComplianceDetails"
        },
        "sourceProperties": {
          "type": "object",
          "additionalProperties": {
            "type": "any"
          }
        },
        "networks": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2Network"
          }
        },
        "vertexAi": {
          "$ref": "GoogleCloudSecuritycenterV2VertexAi"
        },
        "connections": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2Connection"
          }
        },
        "application": {
          "$ref": "GoogleCloudSecuritycenterV2Application"
        },
        "externalSystems": {
          "additionalProperties": {
            "$ref": "GoogleCloudSecuritycenterV2ExternalSystem"
          },
          "readOnly": true,
          "type": "object"
        }
      },
      "id": "GoogleCloudSecuritycenterV2Finding",
      "type": "object"
    },
    "IpRules": {
      "type": "object",
      "id": "IpRules",
      "properties": {
        "direction": {
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "DIRECTION_UNSPECIFIED",
            "INGRESS",
            "EGRESS"
          ]
        },
        "denied": {
          "$ref": "Denied"
        },
        "sourceIpRanges": {
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "exposedServices": {
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "allowed": {
          "$ref": "Allowed"
        },
        "destinationIpRanges": {
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "GoogleCloudSecuritycenterV2Exfiltration": {
      "id": "GoogleCloudSecuritycenterV2Exfiltration",
      "properties": {
        "sources": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2ExfilResource"
          }
        },
        "targets": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2ExfilResource"
          }
        },
        "totalExfiltratedBytes": {
          "type": "string",
          "format": "int64"
        }
      },
      "type": "object"
    },
    "AzureSubscription": {
      "id": "AzureSubscription",
      "type": "object",
      "properties": {
        "id": {
          "type": "string"
        },
        "displayName": {
          "type": "string"
        }
      }
    },
    "Pipeline": {
      "type": "object",
      "properties": {
        "displayName": {
          "type": "string"
        },
        "name": {
          "type": "string"
        }
      },
      "id": "Pipeline"
    },
    "GoogleCloudSecuritycenterV2IssueResourceAdcApplicationTemplateRevision": {
      "id": "GoogleCloudSecuritycenterV2IssueResourceAdcApplicationTemplateRevision",
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        }
      }
    },
    "Control": {
      "id": "Control",
      "properties": {
        "displayName": {
          "type": "string"
        },
        "controlName": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2OrgPolicy": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        }
      },
      "id": "GoogleCloudSecuritycenterV2OrgPolicy"
    },
    "AzureMetadata": {
      "type": "object",
      "properties": {
        "tenant": {
          "$ref": "AzureTenant"
        },
        "subscription": {
          "$ref": "AzureSubscription"
        },
        "resourceGroup": {
          "$ref": "AzureResourceGroup"
        },
        "managementGroups": {
          "type": "array",
          "items": {
            "$ref": "AzureManagementGroup"
          }
        }
      },
      "id": "AzureMetadata"
    },
    "Asset": {
      "type": "object",
      "id": "Asset",
      "properties": {
        "securityCenterProperties": {
          "$ref": "SecurityCenterProperties"
        },
        "name": {
          "type": "string"
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime"
        },
        "resourceProperties": {
          "additionalProperties": {
            "type": "any"
          },
          "type": "object"
        },
        "securityMarks": {
          "$ref": "GoogleCloudSecuritycenterV1beta1SecurityMarks"
        },
        "updateTime": {
          "type": "string",
          "format": "google-datetime"
        }
      }
    },
    "GetPolicyOptions": {
      "properties": {
        "requestedPolicyVersion": {
          "type": "integer",
          "format": "int32"
        }
      },
      "type": "object",
      "id": "GetPolicyOptions"
    },
    "ResourcePathNode": {
      "id": "ResourcePathNode",
      "type": "object",
      "properties": {
        "displayName": {
          "type": "string"
        },
        "id": {
          "type": "string"
        },
        "nodeType": {
          "type": "string",
          "enum": [
            "RESOURCE_PATH_NODE_TYPE_UNSPECIFIED",
            "GCP_ORGANIZATION",
            "GCP_FOLDER",
            "GCP_PROJECT",
            "AWS_ORGANIZATION",
            "AWS_ORGANIZATIONAL_UNIT",
            "AWS_ACCOUNT",
            "AZURE_MANAGEMENT_GROUP",
            "AZURE_SUBSCRIPTION",
            "AZURE_RESOURCE_GROUP"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ]
        }
      }
    },
    "GoogleCloudSecuritycenterV1MuteConfig": {
      "properties": {
        "expiryTime": {
          "format": "google-datetime",
          "type": "string"
        },
        "type": {
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "MUTE_CONFIG_TYPE_UNSPECIFIED",
            "STATIC",
            "DYNAMIC"
          ]
        },
        "displayName": {
          "type": "string",
          "deprecated": true
        },
        "description": {
          "type": "string"
        },
        "createTime": {
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "filter": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "updateTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "mostRecentEditor": {
          "type": "string",
          "readOnly": true
        }
      },
      "type": "object",
      "id": "GoogleCloudSecuritycenterV1MuteConfig"
    },
    "SetFindingStateRequest": {
      "type": "object",
      "id": "SetFindingStateRequest",
      "properties": {
        "state": {
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "INACTIVE"
          ],
          "enumDescriptions": [
            "",
            "",
            ""
          ]
        },
        "startTime": {
          "format": "google-datetime",
          "type": "string"
        }
      }
    },
    "GoogleCloudSecuritycenterV2AwsMetadata": {
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2AwsMetadata",
      "properties": {
        "organization": {
          "$ref": "GoogleCloudSecuritycenterV2AwsOrganization"
        },
        "account": {
          "$ref": "GoogleCloudSecuritycenterV2AwsAccount"
        },
        "organizationalUnits": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2AwsOrganizationalUnit"
          }
        }
      }
    },
    "RunAssetDiscoveryRequest": {
      "type": "object",
      "id": "RunAssetDiscoveryRequest",
      "properties": {}
    },
    "GoogleCloudSecuritycenterV2Cwe": {
      "id": "GoogleCloudSecuritycenterV2Cwe",
      "properties": {
        "id": {
          "type": "string"
        },
        "references": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2Reference"
          }
        }
      },
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2Process": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        },
        "pid": {
          "type": "string",
          "format": "int64"
        },
        "argumentsTruncated": {
          "type": "boolean"
        },
        "envVariables": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2EnvironmentVariable"
          }
        },
        "envVariablesTruncated": {
          "type": "boolean"
        },
        "libraries": {
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2File"
          },
          "type": "array"
        },
        "args": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "parentPid": {
          "type": "string",
          "format": "int64"
        },
        "binary": {
          "$ref": "GoogleCloudSecuritycenterV2File"
        },
        "userId": {
          "type": "string",
          "format": "int64"
        },
        "script": {
          "$ref": "GoogleCloudSecuritycenterV2File"
        }
      },
      "id": "GoogleCloudSecuritycenterV2Process"
    },
    "CloudDlpDataProfile": {
      "id": "CloudDlpDataProfile",
      "properties": {
        "parentType": {
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "PARENT_TYPE_UNSPECIFIED",
            "ORGANIZATION",
            "PROJECT"
          ]
        },
        "infoTypes": {
          "items": {
            "$ref": "InfoType"
          },
          "type": "array"
        },
        "dataProfile": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2ArtifactGuardPolicy": {
      "type": "object",
      "properties": {
        "failureReason": {
          "type": "string"
        },
        "policyId": {
          "type": "string"
        },
        "type": {
          "enumDescriptions": [
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "ARTIFACT_GUARD_POLICY_TYPE_UNSPECIFIED",
            "VULNERABILITY"
          ]
        }
      },
      "id": "GoogleCloudSecuritycenterV2ArtifactGuardPolicy"
    },
    "GoogleCloudSecuritycenterV2Node": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        }
      },
      "id": "GoogleCloudSecuritycenterV2Node"
    },
    "TestIamPermissionsRequest": {
      "id": "TestIamPermissionsRequest",
      "type": "object",
      "properties": {
        "permissions": {
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "GoogleCloudSecuritycenterV2LoadBalancer": {
      "properties": {
        "name": {
          "type": "string"
        }
      },
      "id": "GoogleCloudSecuritycenterV2LoadBalancer",
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2IssueResourceApplicationAttributesCriticality": {
      "properties": {
        "type": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "CRITICALITY_TYPE_UNSPECIFIED",
            "MISSION_CRITICAL",
            "HIGH",
            "MEDIUM",
            "LOW"
          ]
        }
      },
      "id": "GoogleCloudSecuritycenterV2IssueResourceApplicationAttributesCriticality",
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2AgentDataAccessEvent": {
      "properties": {
        "eventTime": {
          "type": "string",
          "format": "google-datetime"
        },
        "eventId": {
          "type": "string"
        },
        "principalSubject": {
          "type": "string"
        },
        "operation": {
          "type": "string",
          "enum": [
            "OPERATION_UNSPECIFIED",
            "READ",
            "MOVE",
            "COPY"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ]
        }
      },
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2AgentDataAccessEvent"
    },
    "GoogleCloudSecuritycenterV2ArtifactGuardPolicies": {
      "type": "object",
      "properties": {
        "resourceId": {
          "type": "string"
        },
        "failingPolicies": {
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2ArtifactGuardPolicy"
          },
          "type": "array"
        }
      },
      "id": "GoogleCloudSecuritycenterV2ArtifactGuardPolicies"
    },
    "GoogleCloudSecuritycenterV1ResourceValueConfig": {
      "id": "GoogleCloudSecuritycenterV1ResourceValueConfig",
      "type": "object",
      "properties": {
        "createTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "resourceLabelsSelector": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "updateTime": {
          "format": "google-datetime",
          "type": "string",
          "readOnly": true
        },
        "cloudProvider": {
          "type": "string",
          "enum": [
            "CLOUD_PROVIDER_UNSPECIFIED",
            "GOOGLE_CLOUD_PLATFORM",
            "AMAZON_WEB_SERVICES",
            "MICROSOFT_AZURE"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ]
        },
        "scope": {
          "type": "string"
        },
        "tagValues": {
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "sensitiveDataProtectionMapping": {
          "$ref": "GoogleCloudSecuritycenterV1SensitiveDataProtectionMapping"
        },
        "description": {
          "type": "string"
        },
        "resourceType": {
          "type": "string"
        },
        "resourceValue": {
          "type": "string",
          "enum": [
            "RESOURCE_VALUE_UNSPECIFIED",
            "HIGH",
            "MEDIUM",
            "LOW",
            "NONE"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ]
        },
        "name": {
          "type": "string"
        }
      }
    },
    "ExportFindingsMetadata": {
      "id": "ExportFindingsMetadata",
      "type": "object",
      "properties": {
        "exportStartTime": {
          "format": "google-datetime",
          "type": "string"
        },
        "bigQueryDestination": {
          "$ref": "BigQueryDestination"
        }
      }
    },
    "TestIamPermissionsResponse": {
      "properties": {
        "permissions": {
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "id": "TestIamPermissionsResponse",
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2AzureTenant": {
      "properties": {
        "id": {
          "type": "string"
        },
        "displayName": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2AzureTenant"
    },
    "Dataset": {
      "properties": {
        "name": {
          "type": "string"
        },
        "source": {
          "type": "string"
        },
        "displayName": {
          "type": "string"
        }
      },
      "id": "Dataset",
      "type": "object"
    },
    "Compliance": {
      "properties": {
        "standard": {
          "type": "string"
        },
        "ids": {
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "version": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "Compliance"
    },
    "PolicyDriftDetails": {
      "type": "object",
      "id": "PolicyDriftDetails",
      "properties": {
        "expectedValue": {
          "type": "string"
        },
        "detectedValue": {
          "type": "string"
        },
        "field": {
          "type": "string"
        }
      }
    },
    "GoogleCloudSecuritycenterV1Resource": {
      "properties": {
        "awsMetadata": {
          "$ref": "AwsMetadata"
        },
        "name": {
          "type": "string"
        },
        "parentDisplayName": {
          "type": "string"
        },
        "resourcePath": {
          "$ref": "ResourcePath"
        },
        "cloudProvider": {
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "CLOUD_PROVIDER_UNSPECIFIED",
            "GOOGLE_CLOUD_PLATFORM",
            "AMAZON_WEB_SERVICES",
            "MICROSOFT_AZURE"
          ]
        },
        "adcApplication": {
          "$ref": "AdcApplication"
        },
        "adcApplicationTemplate": {
          "$ref": "AdcApplicationTemplateRevision"
        },
        "displayName": {
          "type": "string"
        },
        "resourcePathString": {
          "type": "string"
        },
        "azureMetadata": {
          "$ref": "AzureMetadata"
        },
        "projectDisplayName": {
          "type": "string"
        },
        "organization": {
          "type": "string"
        },
        "project": {
          "type": "string"
        },
        "service": {
          "type": "string"
        },
        "type": {
          "type": "string"
        },
        "parent": {
          "type": "string"
        },
        "location": {
          "type": "string"
        },
        "application": {
          "$ref": "GoogleCloudSecuritycenterV1ResourceApplication"
        },
        "folders": {
          "type": "array",
          "items": {
            "$ref": "Folder"
          },
          "readOnly": true
        },
        "adcSharedTemplate": {
          "$ref": "AdcSharedTemplateRevision"
        }
      },
      "type": "object",
      "id": "GoogleCloudSecuritycenterV1Resource"
    },
    "GoogleCloudSecuritycenterV2Role": {
      "type": "object",
      "properties": {
        "kind": {
          "type": "string",
          "enum": [
            "KIND_UNSPECIFIED",
            "ROLE",
            "CLUSTER_ROLE"
          ],
          "enumDescriptions": [
            "",
            "",
            ""
          ]
        },
        "name": {
          "type": "string"
        },
        "ns": {
          "type": "string"
        }
      },
      "id": "GoogleCloudSecuritycenterV2Role"
    },
    "GoogleCloudSecuritycenterV1BulkMuteFindingsResponse": {
      "properties": {},
      "id": "GoogleCloudSecuritycenterV1BulkMuteFindingsResponse",
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2EnvironmentVariable": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        },
        "val": {
          "type": "string"
        }
      },
      "id": "GoogleCloudSecuritycenterV2EnvironmentVariable"
    },
    "CloudControl": {
      "properties": {
        "type": {
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "CLOUD_CONTROL_TYPE_UNSPECIFIED",
            "BUILT_IN",
            "CUSTOM"
          ]
        },
        "policyType": {
          "type": "string"
        },
        "version": {
          "format": "int32",
          "type": "integer"
        },
        "cloudControlName": {
          "type": "string"
        }
      },
      "id": "CloudControl",
      "type": "object"
    },
    "KernelRootkit": {
      "properties": {
        "name": {
          "type": "string"
        },
        "unexpectedInterruptHandler": {
          "type": "boolean"
        },
        "unexpectedFtraceHandler": {
          "type": "boolean"
        },
        "unexpectedSystemCallHandler": {
          "type": "boolean"
        },
        "unexpectedKprobeHandler": {
          "type": "boolean"
        },
        "unexpectedKernelCodePages": {
          "type": "boolean"
        },
        "unexpectedCodeModification": {
          "type": "boolean"
        },
        "unexpectedReadOnlyDataModification": {
          "type": "boolean"
        },
        "unexpectedProcessesInRunqueue": {
          "type": "boolean"
        }
      },
      "type": "object",
      "id": "KernelRootkit"
    },
    "ArtifactGuardPolicies": {
      "id": "ArtifactGuardPolicies",
      "properties": {
        "failingPolicies": {
          "items": {
            "$ref": "ArtifactGuardPolicy"
          },
          "type": "array"
        },
        "resourceId": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2IssueResourceApplicationAttributesContactInfo": {
      "properties": {
        "email": {
          "type": "string"
        }
      },
      "id": "GoogleCloudSecuritycenterV2IssueResourceApplicationAttributesContactInfo",
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2AdcApplicationTemplateRevision": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        }
      },
      "id": "GoogleCloudSecuritycenterV2AdcApplicationTemplateRevision"
    },
    "GoogleCloudSecuritycenterV2InvocationReference": {
      "properties": {
        "invocationId": {
          "type": "string"
        }
      },
      "id": "GoogleCloudSecuritycenterV2InvocationReference",
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2Requests": {
      "properties": {
        "longTermDenied": {
          "type": "integer",
          "format": "int32"
        },
        "longTermAllowed": {
          "format": "int32",
          "type": "integer"
        },
        "shortTermAllowed": {
          "format": "int32",
          "type": "integer"
        },
        "ratio": {
          "type": "number",
          "format": "double"
        }
      },
      "id": "GoogleCloudSecuritycenterV2Requests",
      "type": "object"
    },
    "GoogleCloudSecuritycenterV1ResourceApplicationAttributesEnvironment": {
      "properties": {
        "type": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "ENVIRONMENT_TYPE_UNSPECIFIED",
            "PRODUCTION",
            "STAGING",
            "TEST",
            "DEVELOPMENT"
          ]
        }
      },
      "type": "object",
      "id": "GoogleCloudSecuritycenterV1ResourceApplicationAttributesEnvironment"
    },
    "GoogleCloudSecuritycenterV2Container": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        },
        "imageId": {
          "type": "string"
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime"
        },
        "labels": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2Label"
          }
        },
        "uri": {
          "type": "string"
        }
      },
      "id": "GoogleCloudSecuritycenterV2Container"
    },
    "GoogleCloudSecuritycenterV2ResourceApplication": {
      "id": "GoogleCloudSecuritycenterV2ResourceApplication",
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        },
        "attributes": {
          "$ref": "GoogleCloudSecuritycenterV2ResourceApplicationAttributes"
        }
      }
    },
    "AgentAnomaly": {
      "type": "object",
      "properties": {
        "detectorReferences": {
          "type": "array",
          "items": {
            "$ref": "DetectorReference"
          }
        },
        "confidenceScore": {
          "format": "double",
          "type": "number"
        },
        "invocationReferences": {
          "type": "array",
          "items": {
            "$ref": "InvocationReference"
          }
        }
      },
      "id": "AgentAnomaly"
    },
    "GoogleCloudSecuritycenterV2ContactDetails": {
      "id": "GoogleCloudSecuritycenterV2ContactDetails",
      "type": "object",
      "properties": {
        "contacts": {
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2Contact"
          },
          "type": "array"
        }
      }
    },
    "GoogleCloudSecuritycenterV2SecretFilePath": {
      "properties": {
        "path": {
          "type": "string"
        }
      },
      "id": "GoogleCloudSecuritycenterV2SecretFilePath",
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2IssueFinding": {
      "properties": {
        "cve": {
          "$ref": "GoogleCloudSecuritycenterV2IssueFindingCve"
        },
        "name": {
          "type": "string"
        },
        "securityBulletin": {
          "$ref": "GoogleCloudSecuritycenterV2IssueFindingSecurityBulletin"
        }
      },
      "id": "GoogleCloudSecuritycenterV2IssueFinding",
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2ResourcePath": {
      "id": "GoogleCloudSecuritycenterV2ResourcePath",
      "type": "object",
      "properties": {
        "nodes": {
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2ResourcePathNode"
          },
          "type": "array"
        }
      }
    },
    "GoogleCloudSecuritycenterV2IssueResourceAwsMetadata": {
      "properties": {
        "account": {
          "$ref": "GoogleCloudSecuritycenterV2IssueResourceAwsMetadataAwsAccount"
        }
      },
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2IssueResourceAwsMetadata"
    },
    "Vulnerability": {
      "type": "object",
      "properties": {
        "cwes": {
          "items": {
            "$ref": "Cwe"
          },
          "type": "array"
        },
        "offendingPackage": {
          "$ref": "Package"
        },
        "securityBulletin": {
          "$ref": "SecurityBulletin"
        },
        "cve": {
          "$ref": "Cve"
        },
        "providerRiskScore": {
          "type": "string",
          "format": "int64"
        },
        "fixedPackage": {
          "$ref": "Package"
        },
        "reachable": {
          "type": "boolean"
        }
      },
      "id": "Vulnerability"
    },
    "GoogleCloudSecuritycenterV2SecurityMarks": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        },
        "canonicalName": {
          "type": "string"
        },
        "marks": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        }
      },
      "id": "GoogleCloudSecuritycenterV2SecurityMarks"
    },
    "GoogleCloudSecuritycenterV2ExfilResource": {
      "properties": {
        "name": {
          "type": "string"
        },
        "components": {
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2ExfilResource"
    },
    "GoogleCloudSecuritycenterV2LogEntry": {
      "id": "GoogleCloudSecuritycenterV2LogEntry",
      "type": "object",
      "properties": {
        "cloudLoggingEntry": {
          "$ref": "GoogleCloudSecuritycenterV2CloudLoggingEntry"
        }
      }
    },
    "GoogleCloudSecuritycenterV2Object": {
      "id": "GoogleCloudSecuritycenterV2Object",
      "type": "object",
      "properties": {
        "containers": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2Container"
          }
        },
        "name": {
          "type": "string"
        },
        "kind": {
          "type": "string"
        },
        "group": {
          "type": "string"
        },
        "ns": {
          "type": "string"
        }
      }
    },
    "ArtifactGuardPolicy": {
      "properties": {
        "type": {
          "type": "string",
          "enum": [
            "ARTIFACT_GUARD_POLICY_TYPE_UNSPECIFIED",
            "VULNERABILITY"
          ],
          "enumDescriptions": [
            "",
            ""
          ]
        },
        "policyId": {
          "type": "string"
        },
        "failureReason": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "ArtifactGuardPolicy"
    },
    "GoogleCloudSecuritycenterV2Package": {
      "id": "GoogleCloudSecuritycenterV2Package",
      "type": "object",
      "properties": {
        "packageName": {
          "type": "string"
        },
        "packageVersion": {
          "type": "string"
        },
        "cpeUri": {
          "type": "string"
        },
        "packageType": {
          "type": "string"
        }
      }
    },
    "Requests": {
      "properties": {
        "shortTermAllowed": {
          "format": "int32",
          "type": "integer"
        },
        "ratio": {
          "type": "number",
          "format": "double"
        },
        "longTermAllowed": {
          "type": "integer",
          "format": "int32"
        },
        "longTermDenied": {
          "format": "int32",
          "type": "integer"
        }
      },
      "id": "Requests",
      "type": "object"
    },
    "AwsOrganizationalUnit": {
      "type": "object",
      "id": "AwsOrganizationalUnit",
      "properties": {
        "id": {
          "type": "string"
        },
        "name": {
          "type": "string"
        }
      }
    },
    "Binding": {
      "id": "Binding",
      "type": "object",
      "properties": {
        "condition": {
          "$ref": "Expr"
        },
        "role": {
          "type": "string"
        },
        "members": {
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "GoogleCloudSecuritycenterV2DetectorReference": {
      "properties": {
        "explanation": {
          "type": "string"
        },
        "severity": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "SEVERITY_UNSPECIFIED",
            "CRITICAL",
            "HIGH",
            "MEDIUM",
            "LOW"
          ]
        },
        "detectorId": {
          "type": "string"
        },
        "displayName": {
          "type": "string"
        },
        "recommendation": {
          "type": "string"
        }
      },
      "id": "GoogleCloudSecuritycenterV2DetectorReference",
      "type": "object"
    },
    "GcpMetadata": {
      "id": "GcpMetadata",
      "properties": {
        "organization": {
          "type": "string"
        },
        "parentDisplayName": {
          "type": "string"
        },
        "projectDisplayName": {
          "type": "string"
        },
        "project": {
          "type": "string"
        },
        "folders": {
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2Folder"
          },
          "type": "array",
          "readOnly": true
        },
        "parent": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2IssueSecurityContextAggregatedCount": {
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2IssueSecurityContextAggregatedCount",
      "properties": {
        "key": {
          "type": "string"
        },
        "value": {
          "format": "int32",
          "type": "integer"
        }
      }
    },
    "GoogleCloudSecuritycenterV2File": {
      "properties": {
        "size": {
          "format": "int64",
          "type": "string"
        },
        "diskPath": {
          "$ref": "GoogleCloudSecuritycenterV2DiskPath"
        },
        "hashedSize": {
          "format": "int64",
          "type": "string"
        },
        "contents": {
          "type": "string"
        },
        "sha256": {
          "type": "string"
        },
        "operations": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2FileOperation"
          }
        },
        "fileLoadState": {
          "type": "string",
          "enum": [
            "FILE_LOAD_STATE_UNSPECIFIED",
            "LOADED_BY_PROCESS",
            "NOT_LOADED_BY_PROCESS"
          ],
          "enumDescriptions": [
            "",
            "",
            ""
          ]
        },
        "partiallyHashed": {
          "type": "boolean"
        },
        "path": {
          "type": "string"
        }
      },
      "id": "GoogleCloudSecuritycenterV2File",
      "type": "object"
    },
    "SecurityMarks": {
      "properties": {
        "marks": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "canonicalName": {
          "type": "string"
        },
        "name": {
          "type": "string"
        }
      },
      "id": "SecurityMarks",
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2PolicyViolationSummary": {
      "properties": {
        "outOfScopeResourcesCount": {
          "format": "int64",
          "type": "string"
        },
        "conformantResourcesCount": {
          "format": "int64",
          "type": "string"
        },
        "policyViolationsCount": {
          "type": "string",
          "format": "int64"
        },
        "evaluationErrorsCount": {
          "format": "int64",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2PolicyViolationSummary"
    },
    "GoogleCloudSecuritycenterV2AdcSharedTemplateRevision": {
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2AdcSharedTemplateRevision",
      "properties": {
        "name": {
          "type": "string"
        }
      }
    },
    "GoogleCloudSecuritycenterV2YaraRuleSignature": {
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2YaraRuleSignature",
      "properties": {
        "yaraRule": {
          "type": "string"
        }
      }
    },
    "ListFindingsResponse": {
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string"
        },
        "totalSize": {
          "type": "integer",
          "format": "int32"
        },
        "findings": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV1beta1Finding"
          }
        },
        "readTime": {
          "format": "google-datetime",
          "type": "string"
        }
      },
      "id": "ListFindingsResponse"
    },
    "GoogleCloudSecuritycenterV2Agent": {
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2Agent",
      "properties": {
        "id": {
          "type": "string"
        },
        "displayName": {
          "type": "string"
        }
      }
    },
    "GoogleCloudSecuritycenterV2MitreAttack": {
      "id": "GoogleCloudSecuritycenterV2MitreAttack",
      "properties": {
        "additionalTechniques": {
          "items": {
            "type": "string",
            "enum": [
              "TECHNIQUE_UNSPECIFIED",
              "DATA_OBFUSCATION",
              "DATA_OBFUSCATION_STEGANOGRAPHY",
              "OS_CREDENTIAL_DUMPING",
              "OS_CREDENTIAL_DUMPING_PROC_FILESYSTEM",
              "OS_CREDENTIAL_DUMPING_ETC_PASSWORD_AND_ETC_SHADOW",
              "DATA_FROM_LOCAL_SYSTEM",
              "AUTOMATED_EXFILTRATION",
              "OBFUSCATED_FILES_OR_INFO",
              "STEGANOGRAPHY",
              "COMPILE_AFTER_DELIVERY",
              "COMMAND_OBFUSCATION",
              "SCHEDULED_TRANSFER",
              "SYSTEM_OWNER_USER_DISCOVERY",
              "MASQUERADING",
              "MATCH_LEGITIMATE_NAME_OR_LOCATION",
              "BOOT_OR_LOGON_INITIALIZATION_SCRIPTS",
              "STARTUP_ITEMS",
              "NETWORK_SERVICE_DISCOVERY",
              "SCHEDULED_TASK_JOB",
              "SCHEDULED_TASK_JOB_CRON",
              "CONTAINER_ORCHESTRATION_JOB",
              "PROCESS_INJECTION",
              "INPUT_CAPTURE",
              "INPUT_CAPTURE_KEYLOGGING",
              "PROCESS_DISCOVERY",
              "COMMAND_AND_SCRIPTING_INTERPRETER",
              "UNIX_SHELL",
              "PYTHON",
              "EXPLOITATION_FOR_PRIVILEGE_ESCALATION",
              "PERMISSION_GROUPS_DISCOVERY",
              "CLOUD_GROUPS",
              "INDICATOR_REMOVAL",
              "INDICATOR_REMOVAL_CLEAR_LINUX_OR_MAC_SYSTEM_LOGS",
              "INDICATOR_REMOVAL_CLEAR_COMMAND_HISTORY",
              "INDICATOR_REMOVAL_FILE_DELETION",
              "INDICATOR_REMOVAL_TIMESTOMP",
              "INDICATOR_REMOVAL_CLEAR_MAILBOX_DATA",
              "APPLICATION_LAYER_PROTOCOL",
              "DNS",
              "SOFTWARE_DEPLOYMENT_TOOLS",
              "VALID_ACCOUNTS",
              "DEFAULT_ACCOUNTS",
              "LOCAL_ACCOUNTS",
              "CLOUD_ACCOUNTS",
              "FILE_AND_DIRECTORY_DISCOVERY",
              "ACCOUNT_DISCOVERY_LOCAL_ACCOUNT",
              "PROXY",
              "EXTERNAL_PROXY",
              "MULTI_HOP_PROXY",
              "ACCOUNT_MANIPULATION",
              "ADDITIONAL_CLOUD_CREDENTIALS",
              "ADDITIONAL_CLOUD_ROLES",
              "SSH_AUTHORIZED_KEYS",
              "ADDITIONAL_CONTAINER_CLUSTER_ROLES",
              "MULTI_STAGE_CHANNELS",
              "INGRESS_TOOL_TRANSFER",
              "NATIVE_API",
              "BRUTE_FORCE",
              "AUTOMATED_COLLECTION",
              "SHARED_MODULES",
              "DATA_ENCODING",
              "STANDARD_ENCODING",
              "ACCESS_TOKEN_MANIPULATION",
              "TOKEN_IMPERSONATION_OR_THEFT",
              "CREATE_ACCOUNT",
              "LOCAL_ACCOUNT",
              "DEOBFUSCATE_DECODE_FILES_OR_INFO",
              "EXPLOIT_PUBLIC_FACING_APPLICATION",
              "SUPPLY_CHAIN_COMPROMISE",
              "COMPROMISE_SOFTWARE_DEPENDENCIES_AND_DEVELOPMENT_TOOLS",
              "EXPLOITATION_FOR_CLIENT_EXECUTION",
              "USER_EXECUTION",
              "EXPLOITATION_FOR_CREDENTIAL_ACCESS",
              "LINUX_AND_MAC_FILE_AND_DIRECTORY_PERMISSIONS_MODIFICATION",
              "DOMAIN_POLICY_MODIFICATION",
              "DATA_DESTRUCTION",
              "DATA_ENCRYPTED_FOR_IMPACT",
              "SERVICE_STOP",
              "INHIBIT_SYSTEM_RECOVERY",
              "FIRMWARE_CORRUPTION",
              "RESOURCE_HIJACKING",
              "NETWORK_DENIAL_OF_SERVICE",
              "CLOUD_SERVICE_DISCOVERY",
              "STEAL_APPLICATION_ACCESS_TOKEN",
              "ACCOUNT_ACCESS_REMOVAL",
              "TRANSFER_DATA_TO_CLOUD_ACCOUNT",
              "STEAL_WEB_SESSION_COOKIE",
              "CREATE_OR_MODIFY_SYSTEM_PROCESS",
              "EVENT_TRIGGERED_EXECUTION",
              "BOOT_OR_LOGON_AUTOSTART_EXECUTION",
              "KERNEL_MODULES_AND_EXTENSIONS",
              "SHORTCUT_MODIFICATION",
              "ABUSE_ELEVATION_CONTROL_MECHANISM",
              "ABUSE_ELEVATION_CONTROL_MECHANISM_SETUID_AND_SETGID",
              "ABUSE_ELEVATION_CONTROL_MECHANISM_SUDO_AND_SUDO_CACHING",
              "UNSECURED_CREDENTIALS",
              "CREDENTIALS_IN_FILES",
              "BASH_HISTORY",
              "PRIVATE_KEYS",
              "SUBVERT_TRUST_CONTROL",
              "INSTALL_ROOT_CERTIFICATE",
              "COMPROMISE_HOST_SOFTWARE_BINARY",
              "CREDENTIALS_FROM_PASSWORD_STORES",
              "MODIFY_AUTHENTICATION_PROCESS",
              "PLUGGABLE_AUTHENTICATION_MODULES",
              "MULTI_FACTOR_AUTHENTICATION",
              "IMPAIR_DEFENSES",
              "DISABLE_OR_MODIFY_TOOLS",
              "INDICATOR_BLOCKING",
              "DISABLE_OR_MODIFY_LINUX_AUDIT_SYSTEM",
              "HIDE_ARTIFACTS",
              "HIDDEN_FILES_AND_DIRECTORIES",
              "HIDDEN_USERS",
              "EXFILTRATION_OVER_WEB_SERVICE",
              "EXFILTRATION_TO_CLOUD_STORAGE",
              "DYNAMIC_RESOLUTION",
              "LATERAL_TOOL_TRANSFER",
              "HIJACK_EXECUTION_FLOW",
              "HIJACK_EXECUTION_FLOW_DYNAMIC_LINKER_HIJACKING",
              "MODIFY_CLOUD_COMPUTE_INFRASTRUCTURE",
              "CREATE_SNAPSHOT",
              "CLOUD_INFRASTRUCTURE_DISCOVERY",
              "DEVELOP_CAPABILITIES",
              "DEVELOP_CAPABILITIES_MALWARE",
              "OBTAIN_CAPABILITIES",
              "OBTAIN_CAPABILITIES_MALWARE",
              "OBTAIN_CAPABILITIES_VULNERABILITIES",
              "ACTIVE_SCANNING",
              "SCANNING_IP_BLOCKS",
              "STAGE_CAPABILITIES",
              "UPLOAD_MALWARE",
              "CONTAINER_ADMINISTRATION_COMMAND",
              "DEPLOY_CONTAINER",
              "ESCAPE_TO_HOST",
              "CONTAINER_AND_RESOURCE_DISCOVERY",
              "REFLECTIVE_CODE_LOADING",
              "STEAL_OR_FORGE_AUTHENTICATION_CERTIFICATES",
              "FINANCIAL_THEFT"
            ],
            "enumDescriptions": [
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              ""
            ]
          },
          "type": "array"
        },
        "primaryTactic": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "TACTIC_UNSPECIFIED",
            "RECONNAISSANCE",
            "RESOURCE_DEVELOPMENT",
            "INITIAL_ACCESS",
            "EXECUTION",
            "PERSISTENCE",
            "PRIVILEGE_ESCALATION",
            "DEFENSE_EVASION",
            "CREDENTIAL_ACCESS",
            "DISCOVERY",
            "LATERAL_MOVEMENT",
            "COLLECTION",
            "COMMAND_AND_CONTROL",
            "EXFILTRATION",
            "IMPACT"
          ]
        },
        "primaryTechniques": {
          "items": {
            "enumDescriptions": [
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              ""
            ],
            "type": "string",
            "enum": [
              "TECHNIQUE_UNSPECIFIED",
              "DATA_OBFUSCATION",
              "DATA_OBFUSCATION_STEGANOGRAPHY",
              "OS_CREDENTIAL_DUMPING",
              "OS_CREDENTIAL_DUMPING_PROC_FILESYSTEM",
              "OS_CREDENTIAL_DUMPING_ETC_PASSWORD_AND_ETC_SHADOW",
              "DATA_FROM_LOCAL_SYSTEM",
              "AUTOMATED_EXFILTRATION",
              "OBFUSCATED_FILES_OR_INFO",
              "STEGANOGRAPHY",
              "COMPILE_AFTER_DELIVERY",
              "COMMAND_OBFUSCATION",
              "SCHEDULED_TRANSFER",
              "SYSTEM_OWNER_USER_DISCOVERY",
              "MASQUERADING",
              "MATCH_LEGITIMATE_NAME_OR_LOCATION",
              "BOOT_OR_LOGON_INITIALIZATION_SCRIPTS",
              "STARTUP_ITEMS",
              "NETWORK_SERVICE_DISCOVERY",
              "SCHEDULED_TASK_JOB",
              "SCHEDULED_TASK_JOB_CRON",
              "CONTAINER_ORCHESTRATION_JOB",
              "PROCESS_INJECTION",
              "INPUT_CAPTURE",
              "INPUT_CAPTURE_KEYLOGGING",
              "PROCESS_DISCOVERY",
              "COMMAND_AND_SCRIPTING_INTERPRETER",
              "UNIX_SHELL",
              "PYTHON",
              "EXPLOITATION_FOR_PRIVILEGE_ESCALATION",
              "PERMISSION_GROUPS_DISCOVERY",
              "CLOUD_GROUPS",
              "INDICATOR_REMOVAL",
              "INDICATOR_REMOVAL_CLEAR_LINUX_OR_MAC_SYSTEM_LOGS",
              "INDICATOR_REMOVAL_CLEAR_COMMAND_HISTORY",
              "INDICATOR_REMOVAL_FILE_DELETION",
              "INDICATOR_REMOVAL_TIMESTOMP",
              "INDICATOR_REMOVAL_CLEAR_MAILBOX_DATA",
              "APPLICATION_LAYER_PROTOCOL",
              "DNS",
              "SOFTWARE_DEPLOYMENT_TOOLS",
              "VALID_ACCOUNTS",
              "DEFAULT_ACCOUNTS",
              "LOCAL_ACCOUNTS",
              "CLOUD_ACCOUNTS",
              "FILE_AND_DIRECTORY_DISCOVERY",
              "ACCOUNT_DISCOVERY_LOCAL_ACCOUNT",
              "PROXY",
[...]
