{
  "parameters": {
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "location": "query",
      "type": "string"
    },
    "key": {
      "location": "query",
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "uploadType": {
      "type": "string",
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "$.xgafv": {
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "type": "string",
      "location": "query"
    },
    "alt": {
      "location": "query",
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "description": "Data format for response.",
      "type": "string",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ]
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "prettyPrint": {
      "default": "true",
      "description": "Returns response with indentations and line breaks.",
      "location": "query",
      "type": "boolean"
    },
    "access_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth access token."
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "callback": {
      "location": "query",
      "description": "JSONP",
      "type": "string"
    }
  },
  "fullyEncodeReservedExpansion": true,
  "revision": "20260817",
  "documentationLink": "https://cloud.google.com/security-command-center",
  "discoveryVersion": "v1",
  "title": "Security Posture API",
  "mtlsRootUrl": "https://securityposture.mtls.googleapis.com/",
  "ownerDomain": "google.com",
  "version_module": true,
  "canonicalName": "Security Posture",
  "schemas": {
    "Operation": {
      "properties": {
        "done": {
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available.",
          "type": "boolean"
        },
        "name": {
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`.",
          "type": "string"
        },
        "error": {
          "description": "The error result of the operation in case of failure or cancellation.",
          "$ref": "Status"
        },
        "metadata": {
          "type": "object",
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        },
        "response": {
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          }
        }
      },
      "id": "Operation",
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "type": "object"
    },
    "Empty": {
      "properties": {},
      "id": "Empty",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "type": "object"
    },
    "Status": {
      "type": "object",
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "id": "Status",
      "properties": {
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        },
        "details": {
          "items": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            }
          },
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "type": "array"
        },
        "code": {
          "type": "integer",
          "format": "int32",
          "description": "The status code, which should be an enum value of google.rpc.Code."
        }
      }
    },
    "OrgPolicyConstraintCustom": {
      "properties": {
        "policyRules": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritypostureV1PolicyRule"
          },
          "description": "Required. The rules enforced by the constraint."
        },
        "customConstraint": {
          "description": "Required. Metadata for the constraint.",
          "$ref": "GoogleCloudSecuritypostureV1CustomConstraint"
        }
      },
      "id": "OrgPolicyConstraintCustom",
      "description": "A custom organization policy constraint.",
      "type": "object"
    },
    "ResourceSelector": {
      "type": "object",
      "description": "A selector for the resource types to run the detector on.",
      "properties": {
        "resourceTypes": {
          "description": "Required. The resource types to run the detector on. Each custom module can specify up to 5 resource types.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "ResourceSelector"
    },
    "CustomConfig": {
      "type": "object",
      "id": "CustomConfig",
      "description": "A custom module configuration for Security Health Analytics. Use `CustomConfig` to create custom detectors that generate custom findings for resources that you specify.",
      "properties": {
        "recommendation": {
          "description": "Required. An explanation of the steps that security teams can take to resolve the detected issue. The explanation appears in each finding.",
          "type": "string"
        },
        "customOutput": {
          "description": "Optional. Definitions of custom source properties to include in findings.",
          "$ref": "CustomOutputSpec"
        },
        "resourceSelector": {
          "description": "Required. The resource types that the custom module operates on.",
          "$ref": "ResourceSelector"
        },
        "predicate": {
          "$ref": "Expr",
          "description": "Required. The Common Expression Language (CEL) expression to evaluate. When the expression evaluates to `true` for a resource, a finding is generated."
        },
        "description": {
          "description": "Optional. A description of the vulnerability or misconfiguration that the custom module detects. The description appears in each finding. Provide enough information to help an investigator understand the finding. The value must be enclosed in quotation marks.",
          "type": "string"
        },
        "severity": {
          "enumDescriptions": [
            "Default value. This value is unused.",
            "Critical severity.",
            "High severity.",
            "Medium severity.",
            "Low severity."
          ],
          "description": "Required. The severity of findings generated by the custom module.",
          "type": "string",
          "enum": [
            "SEVERITY_UNSPECIFIED",
            "CRITICAL",
            "HIGH",
            "MEDIUM",
            "LOW"
          ]
        }
      }
    },
    "PostureDeployment": {
      "type": "object",
      "properties": {
        "etag": {
          "description": "Optional. An opaque identifier for the current version of the posture deployment. To prevent concurrent updates from overwriting each other, always provide the `etag` when you update a posture deployment. You can also provide the `etag` when you delete a posture deployment, to help ensure that you're deleting the intended posture deployment.",
          "type": "string"
        },
        "createTime": {
          "readOnly": true,
          "description": "Output only. The time at which the posture deployment was created.",
          "type": "string",
          "format": "google-datetime"
        },
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "DELETING",
            "UPDATING",
            "ACTIVE",
            "CREATE_FAILED",
            "UPDATE_FAILED",
            "DELETE_FAILED"
          ],
          "description": "Output only. The state of the posture deployment.",
          "type": "string",
          "readOnly": true,
          "enumDescriptions": [
            "Default value. This value is unused.",
            "The posture deployment is being created.",
            "The posture deployment is being deleted.",
            "The posture deployment is being updated.",
            "The posture deployment is active and in use.",
            "The posture deployment could not be created.",
            "The posture deployment could not be updated.",
            "The posture deployment could not be deleted."
          ]
        },
        "annotations": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Optional. The user-specified annotations for the posture deployment. For details about the values you can use in an annotation, see [AIP-148: Standard fields](https://google.aip.dev/148#annotations)."
        },
        "categories": {
          "type": "array",
          "items": {
            "enumDescriptions": [
              "Default value. This value is unused.",
              "Artificial intelligence (AI).",
              "Amazon Web Services (AWS) policies.",
              "Google Cloud policies.",
              "Microsoft Azure policies."
            ],
            "type": "string",
            "enum": [
              "CATEGORY_UNSPECIFIED",
              "AI",
              "AWS",
              "GCP",
              "AZURE"
            ]
          },
          "readOnly": true,
          "description": "Output only. The categories that the posture deployment belongs to, as determined by the Security Posture API."
        },
        "description": {
          "description": "Optional. A description of the posture deployment.",
          "type": "string"
        },
        "updateTime": {
          "format": "google-datetime",
          "description": "Output only. The time at which the posture deployment was last updated.",
          "readOnly": true,
          "type": "string"
        },
        "reconciling": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. Whether the posture deployment is in the process of being updated."
        },
        "targetResource": {
          "type": "string",
          "description": "Required. The organization, folder, or project where the posture is deployed. Uses one of the following formats: * `organizations/{organization_number}` * `folders/{folder_number}` * `projects/{project_number}`"
        },
        "failureMessage": {
          "description": "Output only. A description of why the posture deployment failed. Present only if the deployment is in a failed state.",
          "type": "string",
          "readOnly": true
        },
        "postureId": {
          "type": "string",
          "description": "Required. The posture used in the deployment, in the format `organizations/{organization}/locations/global/postures/{posture_id}`."
        },
        "desiredPostureId": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The posture ID that was specified for the deployment. Present only if the posture deployment is in a failed state."
        },
        "name": {
          "description": "Required. Identifier. The name of the posture deployment, in the format `organizations/{organization}/locations/global/postureDeployments/{deployment_id}`.",
          "type": "string"
        },
        "postureRevisionId": {
          "description": "Required. The revision ID of the posture used in the deployment.",
          "type": "string"
        },
        "desiredPostureRevisionId": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The revision ID of the posture that was specified for the deployment. Present only if the deployment is in a failed state."
        }
      },
      "id": "PostureDeployment",
      "description": "Details for a Posture deployment on an organization, folder, or project. You can deploy at most one posture to each organization, folder, or project. The parent resource for a posture deployment is always the organization, even if the deployment applies to a folder or project."
    },
    "ListReportsResponse": {
      "properties": {
        "reports": {
          "type": "array",
          "description": "The list of Report resources.",
          "items": {
            "$ref": "Report"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "A pagination token. To retrieve the next page of results, call the method again with this token."
        },
        "unreachable": {
          "type": "array",
          "description": "Locations that were temporarily unavailable and could not be reached.",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object",
      "description": "Response message for ListReports.",
      "id": "ListReportsResponse"
    },
    "CustomOutputSpec": {
      "type": "object",
      "description": "Definitions of custom source properties that can appear in findings.",
      "id": "CustomOutputSpec",
      "properties": {
        "properties": {
          "description": "Optional. The custom source properties that can appear in findings.",
          "type": "array",
          "items": {
            "$ref": "Property"
          }
        }
      }
    },
    "CreateIaCValidationReportRequest": {
      "type": "object",
      "id": "CreateIaCValidationReportRequest",
      "description": "Request message for CreateIaCValidationReport.",
      "properties": {
        "iac": {
          "$ref": "IaC",
          "description": "Required. The infrastructure-as-code (IaC) configuration to validate."
        }
      }
    },
    "SecurityHealthAnalyticsCustomModule": {
      "id": "SecurityHealthAnalyticsCustomModule",
      "description": "A custom module for Security Health Analytics.",
      "type": "object",
      "properties": {
        "config": {
          "$ref": "CustomConfig",
          "description": "Required. Configuration settings for the custom module."
        },
        "id": {
          "readOnly": true,
          "description": "Output only. Immutable. The unique identifier for the custom module. Contains 1 to 20 digits.",
          "type": "string"
        },
        "displayName": {
          "description": "Optional. The display name of the custom module. This value is used as the finding category for all the asset violation findings that the custom module returns. The display name must contain between 1 and 128 alphanumeric characters or underscores, and it must start with a lowercase letter.",
          "type": "string"
        },
        "moduleEnablementState": {
          "description": "Whether the custom module is enabled at a specified level of the resource hierarchy.",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "The detector or custom module is enabled.",
            "The detector or custom module is disabled."
          ],
          "type": "string",
          "enum": [
            "ENABLEMENT_STATE_UNSPECIFIED",
            "ENABLED",
            "DISABLED"
          ]
        }
      }
    },
    "ResourceTypes": {
      "description": "Set multiple resource types for one policy, for example: ``` resourceTypes: included: - compute.googleapis.com/Instance - compute.googleapis.com/Disk ``` Constraint definition contains an empty resource type in order to support multiple resource types in the policy. Only supports managed constraints. Method type is `GOVERN_TAGS`.",
      "id": "ResourceTypes",
      "properties": {
        "included": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. The resource types we support."
        }
      },
      "type": "object"
    },
    "GoogleCloudSecuritypostureV1PolicyRuleStringValues": {
      "properties": {
        "deniedValues": {
          "items": {
            "type": "string"
          },
          "description": "The denied values for the constraint.",
          "type": "array"
        },
        "allowedValues": {
          "items": {
            "type": "string"
          },
          "description": "The allowed values for the constraint.",
          "type": "array"
        }
      },
      "id": "GoogleCloudSecuritypostureV1PolicyRuleStringValues",
      "type": "object",
      "description": "The allowed and denied values for a list constraint. For all constraints, these fields can contain literal values. Optionally, you can add the `is:` prefix to these values. If the value contains a colon (`:`), then the `is:` prefix is required. Some constraints allow you to specify a portion of the resource hierarchy, known as a [_hierarchy subtree_](https://cloud.google.com/resource-manager/help/organization-policy/hierarchy-subtree), that the constraint applies to. To specify a hierarchy subtree, use the `under:` prefix, followed by a value with one of these formats: - `projects/{project_id}` (for example, `projects/tokyo-rain-123`) - `folders/{folder_id}` (for example, `folders/1234567890123`) - `organizations/{organization_id}` (for example, `organizations/123456789012`) A constraint's `supports_under` field indicates whether you can specify a hierarchy subtree. To learn which predefined constraints let you specify a hierarchy subtree, see the [constraints reference](https://cloud.google.com/resource-manager/help/organization-policy/constraints/reference)."
    },
    "GoogleCloudSecuritypostureV1PolicyRule": {
      "description": "A rule that defines the allowed and denied values for an organization policy constraint.",
      "type": "object",
      "properties": {
        "values": {
          "description": "The allowed and denied values for a list constraint. Valid only for list constraints.",
          "$ref": "GoogleCloudSecuritypostureV1PolicyRuleStringValues"
        },
        "condition": {
          "$ref": "Expr",
          "description": "A condition that determines whether this rule is used to evaluate the policy. When set, the google.type.Expr.expression field must contain 1 to 10 subexpressions, joined by the `||` or `&&` operators. Each subexpression must use the `resource.matchTag()`, `resource.matchTagId()`, `resource.hasTagKey()`, or `resource.hasTagKeyId()` Common Expression Language (CEL) function. The `resource.matchTag()` function takes the following arguments: * `key_name`: the namespaced name of the tag key, with the organization ID and a slash (`/`) as a prefix; for example, `123456789012/environment` * `value_name`: the short name of the tag value For example: `resource.matchTag('123456789012/environment, 'prod')` The `resource.matchTagId()` function takes the following arguments: * `key_id`: the permanent ID of the tag key; for example, `tagKeys/123456789012` * `value_id`: the permanent ID of the tag value; for example, `tagValues/567890123456` For example: `resource.matchTagId('tagKeys/123456789012', 'tagValues/567890123456')` The `resource.hasTagKey()` function takes the following argument: * `key_name`: the namespaced name of the tag key, with the organization ID and a slash (`/`) as a prefix; for example, `123456789012/environment` For example: `resource.hasTagKey('123456789012/environment')` The `resource.hasTagKeyId()` function takes the following arguments: * `key_id`: the permanent ID of the tag key; for example, `tagKeys/123456789012` For example: `resource.hasTagKeyId('tagKeys/123456789012')`"
        },
        "resourceTypes": {
          "$ref": "ResourceTypes",
          "description": "Optional. The resource types policies can support, only used for managed constraints. Method type is `GOVERN_TAGS`."
        },
        "allowAll": {
          "description": "Whether to allow any value for a list constraint. Valid only for list constraints.",
          "type": "boolean"
        },
        "denyAll": {
          "description": "Whether to deny all values for a list constraint. Valid only for list constraints.",
          "type": "boolean"
        },
        "enforce": {
          "type": "boolean",
          "description": "Whether to enforce the constraint. Valid only for boolean constraints."
        },
        "parameters": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "description": "Optional. Required for managed constraints if parameters are defined. Passes parameter values when policy enforcement is enabled. Ensure that parameter value types match those defined in the constraint definition. For example: ``` { \"allowedLocations\": [\"us-east1\", \"us-west1\"], \"allowAll\": true } ```",
          "type": "object"
        }
      },
      "id": "GoogleCloudSecuritypostureV1PolicyRule"
    },
    "IaCValidationReport": {
      "description": "Details of an infrastructure-as-code (IaC) validation report.",
      "type": "object",
      "properties": {
        "note": {
          "type": "string",
          "description": "Additional information about the report."
        },
        "violations": {
          "items": {
            "$ref": "Violation"
          },
          "description": "A list of every Violation found in the IaC configuration.",
          "type": "array"
        }
      },
      "id": "IaCValidationReport"
    },
    "PostureDetails": {
      "description": "Details of a posture deployment.",
      "type": "object",
      "id": "PostureDetails",
      "properties": {
        "postureDeployment": {
          "type": "string",
          "description": "The name of the posture deployment, in the format `organizations/{organization}/locations/global/postureDeployments/{deployment_id}`."
        },
        "postureRevisionId": {
          "type": "string",
          "description": "The revision ID of the posture used in the deployment."
        },
        "postureDeploymentTargetResource": {
          "type": "string",
          "description": "The organization, folder, or project where the posture is deployed. Uses one of the following formats: * `organizations/{organization_number}` * `folders/{folder_number}` * `projects/{project_number}`"
        },
        "posture": {
          "type": "string",
          "description": "The posture used in the deployment, in the format `organizations/{organization}/locations/global/postures/{posture_id}`."
        },
        "policySet": {
          "description": "The identifier for the PolicySet that the relevant policy belongs to.",
          "type": "string"
        }
      }
    },
    "GoogleCloudSecuritypostureV1CustomConstraint": {
      "description": "A custom, user-defined constraint. You can apply the constraint only to the resource types specified in the constraint, and only within the organization where the constraint is defined. _When you create a custom constraint, it is not enforced automatically._ You must use an organization policy to [enforce the constraint](https://cloud.google.com/resource-manager/help/organization-policy/constraints/enforce).",
      "properties": {
        "methodTypes": {
          "items": {
            "enum": [
              "METHOD_TYPE_UNSPECIFIED",
              "CREATE",
              "UPDATE",
              "DELETE"
            ],
            "enumDescriptions": [
              "Default value. This value is unused.",
              "Constraint applied when creating the resource.",
              "Constraint applied when updating the resource.",
              "Not supported. Constraint applied when deleting the resource."
            ],
            "type": "string"
          },
          "description": "The types of operations that the constraint applies to.",
          "type": "array"
        },
        "resourceTypes": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Immutable. The resource type that the constraint applies to, in the format `{canonical_service_name}/{resource_type_name}`. For example, `compute.googleapis.com/Instance`."
        },
        "description": {
          "description": "A description of the constraint. The maximum length is 2000 characters.",
          "type": "string"
        },
        "name": {
          "description": "Immutable. The name of the constraint, in the format `organizations/{organization_id}/customConstraints/custom.{custom_constraint_id}`. For example, `organizations/123456789012/customConstraints/custom.createOnlyE2TypeVms`. Must contain 1 to 62 characters, excluding the prefix `organizations/{organization_id}/customConstraints/custom.`.",
          "type": "string"
        },
        "displayName": {
          "description": "A display name for the constraint. The maximum length is 200 characters.",
          "type": "string"
        },
        "updateTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The last time at which the constraint was updated or created.",
          "readOnly": true
        },
        "actionType": {
          "type": "string",
          "enum": [
            "ACTION_TYPE_UNSPECIFIED",
            "ALLOW",
            "DENY"
          ],
          "description": "Whether to allow or deny the action.",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "Allow the action.",
            "Deny the action."
          ]
        },
        "condition": {
          "description": "A Common Expression Language (CEL) condition expression that must evaluate to `true` for the constraint to be enforced. The maximum length is 1000 characters. For example: + `resource.instanceName.matches('(production|test)_(.+_)?[\\d]+')`: Evaluates to `true` if the resource's `instanceName` attribute contains the following: + The prefix `production` or `test` + An underscore (`_`) + Optional: One or more characters, followed by an underscore (`_`) + One or more digits + `resource.management.auto_upgrade == true`: Evaluates to `true` if the resource's `management.auto_upgrade` attribute is `true`.",
          "type": "string"
        }
      },
      "id": "GoogleCloudSecuritypostureV1CustomConstraint",
      "type": "object"
    },
    "Location": {
      "type": "object",
      "id": "Location",
      "properties": {
        "name": {
          "description": "Resource name for the location, which may vary between implementations. For example: `\"projects/example-project/locations/us-east1\"`",
          "type": "string"
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Cross-service attributes for the location. For example {\"cloud.googleapis.com/region\": \"us-east1\"}"
        },
        "displayName": {
          "type": "string",
          "description": "The friendly name for this location, typically a nearby city name. For example, \"Tokyo\"."
        },
        "locationId": {
          "description": "The canonical id for this location. For example: `\"us-east1\"`.",
          "type": "string"
        },
        "metadata": {
          "description": "Service-specific metadata. For example the available capacity at the given location.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "type": "object"
        }
      },
      "description": "A resource that represents a Google Cloud location."
    },
    "CancelOperationRequest": {
      "type": "object",
      "properties": {},
      "description": "The request message for Operations.CancelOperation.",
      "id": "CancelOperationRequest"
    },
    "OrgPolicyConstraint": {
      "description": "A predefined organization policy constraint.",
      "id": "OrgPolicyConstraint",
      "type": "object",
      "properties": {
        "cannedConstraintId": {
          "type": "string",
          "description": "Required. A unique identifier for the constraint."
        },
        "policyRules": {
          "description": "Required. The rules enforced by the constraint.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritypostureV1PolicyRule"
          }
        }
      }
    },
    "ComplianceStandard": {
      "id": "ComplianceStandard",
      "description": "Information about a compliance standard that the policy helps enforce.",
      "type": "object",
      "properties": {
        "standard": {
          "type": "string",
          "description": "Optional. The compliance standard that the policy helps enforce. For example, `NIST SP 800-53`."
        },
        "control": {
          "description": "Optional. The control in the compliance standard that the policy helps enforce. For example, `AC-3`.",
          "type": "string"
        }
      }
    },
    "Violation": {
      "id": "Violation",
      "description": "Details of a violation.",
      "type": "object",
      "properties": {
        "assetId": {
          "type": "string",
          "description": "The full resource name of the asset that caused the violation. For details about the format of the full resource name for each asset type, see [Resource name format](https://cloud.google.com/asset-inventory/docs/resource-name-format)."
        },
        "nextSteps": {
          "description": "A description of the steps that you can take to fix the violation.",
          "type": "string"
        },
        "violatedAsset": {
          "description": "Details of the Cloud Asset Inventory asset that caused the violation.",
          "$ref": "AssetDetails"
        },
        "violatedPosture": {
          "description": "Details for the posture that was violated. This field is present only if the violated policy belongs to a deployed posture.",
          "$ref": "PostureDetails"
        },
        "violatedPolicy": {
          "description": "Details of the policy that was violated.",
          "$ref": "PolicyDetails"
        },
        "policyId": {
          "description": "The policy that was violated.",
          "type": "string"
        },
        "severity": {
          "enum": [
            "SEVERITY_UNSPECIFIED",
            "CRITICAL",
            "HIGH",
            "MEDIUM",
            "LOW"
          ],
          "type": "string",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "Critical severity.",
            "High severity.",
            "Medium severity.",
            "Low severity."
          ],
          "description": "The severity of the violation."
        }
      }
    },
    "Constraint": {
      "id": "Constraint",
      "properties": {
        "orgPolicyConstraintCustom": {
          "description": "Optional. A custom organization policy constraint.",
          "$ref": "OrgPolicyConstraintCustom"
        },
        "orgPolicyConstraint": {
          "$ref": "OrgPolicyConstraint",
          "description": "Optional. A predefined organization policy constraint."
        },
        "securityHealthAnalyticsModule": {
          "description": "Optional. A built-in detector for Security Health Analytics.",
          "$ref": "SecurityHealthAnalyticsModule"
        },
        "securityHealthAnalyticsCustomModule": {
          "description": "Optional. A custom module for Security Health Analytics.",
          "$ref": "SecurityHealthAnalyticsCustomModule"
        }
      },
      "description": "Metadata for a constraint in a Policy.",
      "type": "object"
    },
    "Policy": {
      "type": "object",
      "id": "Policy",
      "properties": {
        "constraint": {
          "$ref": "Constraint",
          "description": "Required. The constraints that the policy includes."
        },
        "description": {
          "description": "Optional. A description of the policy.",
          "type": "string"
        },
        "policyId": {
          "type": "string",
          "description": "Required. A user-specified identifier for the policy. In a PolicySet, each policy must have a unique identifier."
        },
        "complianceStandards": {
          "description": "Optional. The compliance standards that the policy helps enforce.",
          "items": {
            "$ref": "ComplianceStandard"
          },
          "type": "array"
        }
      },
      "description": "The details of a policy, including the constraints that it includes."
    },
    "Report": {
      "id": "Report",
      "properties": {
        "name": {
          "description": "Required. The name of the report, in the format `organizations/{organization}/locations/global/reports/{report_id}`.",
          "type": "string"
        },
        "createTime": {
          "description": "Output only. The time at which the report was created.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "updateTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The time at which the report was last updated.",
          "format": "google-datetime"
        },
        "iacValidationReport": {
          "description": "Output only. An infrastructure-as-code (IaC) validation report.",
          "$ref": "IaCValidationReport",
          "readOnly": true
        }
      },
      "description": "Details of a report.",
      "type": "object"
    },
    "Posture": {
      "type": "object",
      "properties": {
        "updateTime": {
          "format": "google-datetime",
          "type": "string",
          "readOnly": true,
          "description": "Output only. The time at which the posture was last updated."
        },
        "etag": {
          "type": "string",
          "description": "Optional. An opaque identifier for the current version of the posture at the specified `revision_id`. To prevent concurrent updates from overwriting each other, always provide the `etag` when you update a posture. You can also provide the `etag` when you delete a posture, to help ensure that you're deleting the intended version of the posture."
        },
        "reconciling": {
          "readOnly": true,
          "description": "Output only. Whether the posture is in the process of being updated.",
          "type": "boolean"
        },
        "revisionId": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Immutable. An opaque eight-character string that identifies the revision of the posture. A posture can have multiple revisions; when you deploy a posture, you deploy a specific revision of the posture."
        },
        "categories": {
          "readOnly": true,
          "items": {
            "enum": [
              "CATEGORY_UNSPECIFIED",
              "AI",
              "AWS",
              "GCP",
              "AZURE"
            ],
            "type": "string",
            "enumDescriptions": [
              "Default value. This value is unused.",
              "Artificial intelligence (AI).",
              "Amazon Web Services (AWS) policies.",
              "Google Cloud policies.",
              "Microsoft Azure policies."
            ]
          },
          "type": "array",
          "description": "Output only. The categories that the posture belongs to, as determined by the Security Posture API."
        },
        "policySets": {
          "type": "array",
          "description": "Required. The PolicySet resources that the posture includes.",
          "items": {
            "$ref": "PolicySet"
          }
        },
        "state": {
          "description": "Required. The state of the posture at the specified `revision_id`.",
          "enum": [
            "STATE_UNSPECIFIED",
            "DEPRECATED",
            "DRAFT",
            "ACTIVE"
          ],
          "type": "string",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "The posture is deprecated and can no longer be deployed.",
            "The posture is a draft and is not ready to deploy.",
            "The posture is complete and ready to deploy."
          ]
        },
        "annotations": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Optional. The user-specified annotations for the posture. For details about the values you can use in an annotation, see [AIP-148: Standard fields](https://google.aip.dev/148#annotations)."
        },
        "description": {
          "type": "string",
          "description": "Optional. A description of the posture."
        },
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "readOnly": true,
          "description": "Output only. The time at which the posture was created."
        },
        "name": {
          "description": "Required. Identifier. The name of the posture, in the format `organizations/{organization}/locations/global/postures/{posture_id}`.",
          "type": "string"
        }
      },
      "id": "Posture",
      "description": "The details of a posture."
    },
    "PostureTemplate": {
      "description": "The details of a posture template.",
      "id": "PostureTemplate",
      "type": "object",
      "properties": {
        "categories": {
          "type": "array",
          "description": "Output only. The categories that the posture template belongs to, as determined by the Security Posture API.",
          "readOnly": true,
          "items": {
            "enumDescriptions": [
              "Default value. This value is unused.",
              "Artificial intelligence (AI).",
              "Amazon Web Services (AWS) policies.",
              "Google Cloud policies.",
              "Microsoft Azure policies."
            ],
            "type": "string",
            "enum": [
              "CATEGORY_UNSPECIFIED",
              "AI",
              "AWS",
              "GCP",
              "AZURE"
            ]
          }
        },
        "policySets": {
          "readOnly": true,
          "description": "Output only. The PolicySet resources that the posture template includes.",
          "type": "array",
          "items": {
            "$ref": "PolicySet"
          }
        },
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "DEPRECATED"
          ],
          "type": "string",
          "readOnly": true,
          "enumDescriptions": [
            "Default value. This value is unused.",
            "The posture template follows the latest controls and standards.",
            "The posture template uses outdated controls and standards. We recommend that you use a newer revision of the posture template."
          ],
          "description": "Output only. The state of the posture template at the specified `revision_id`."
        },
        "description": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. A description of the posture template."
        },
        "name": {
          "type": "string",
          "description": "Output only. Identifier. The name of the posture template, in the format `organizations/{organization}/locations/global/postureTemplates/{posture_template}`.",
          "readOnly": true
        },
        "revisionId": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. A string that identifies the revision of the posture template."
        }
      }
    },
    "Property": {
      "type": "object",
      "id": "Property",
      "description": "A name-value pair used as a custom source property.",
      "properties": {
        "valueExpression": {
          "description": "Optional. The CEL expression for the value of the custom source property. For resource properties, you can return the value of the property or a string enclosed in quotation marks.",
          "$ref": "Expr"
        },
        "name": {
          "description": "Required. The name of the custom source property.",
          "type": "string"
        }
      }
    },
    "SecurityHealthAnalyticsModule": {
      "type": "object",
      "description": "A built-in detector for Security Health Analytics.",
      "id": "SecurityHealthAnalyticsModule",
      "properties": {
        "moduleEnablementState": {
          "enum": [
            "ENABLEMENT_STATE_UNSPECIFIED",
            "ENABLED",
            "DISABLED"
          ],
          "type": "string",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "The detector or custom module is enabled.",
            "The detector or custom module is disabled."
          ],
          "description": "Whether the detector is enabled at a specified level of the resource hierarchy."
        },
        "moduleName": {
          "type": "string",
          "description": "Required. The name of the detector. For example, `BIGQUERY_TABLE_CMEK_DISABLED`. This field is also used as the finding category for all the asset violation findings that the detector returns."
        }
      }
    },
    "OperationMetadata": {
      "properties": {
        "statusMessage": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The status of the operation, if any."
        },
        "createTime": {
          "description": "Output only. The time at which the operation was created.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "target": {
          "description": "Output only. The server-defined resource path for the target of the operation.",
          "readOnly": true,
          "type": "string"
        },
        "endTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The time at which the operation finished running.",
          "format": "google-datetime"
        },
        "verb": {
          "description": "Output only. The name of the action executed by the operation.",
          "type": "string",
          "readOnly": true
        },
        "errorMessage": {
          "description": "Output only. An error message. Returned when a PostureDeployment enters a failure state like UPDATE_FAILED.",
          "type": "string",
          "readOnly": true
        },
        "requestedCancellation": {
          "description": "Output only. Whether a request to cancel the operation has been received. For operations that have been cancelled successfully, the Operation.error field contains the error code CANCELLED.",
          "type": "boolean",
          "readOnly": true
        },
        "apiVersion": {
          "type": "string",
          "description": "Output only. The API version used to start the operation.",
          "readOnly": true
        }
      },
      "type": "object",
      "description": "Metadata for an Operation.",
      "id": "OperationMetadata"
    },
    "ListPosturesResponse": {
      "id": "ListPosturesResponse",
      "properties": {
        "postures": {
          "items": {
            "$ref": "Posture"
          },
          "type": "array",
          "description": "The list of Posture resources."
        },
        "unreachable": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Locations that were temporarily unavailable and could not be reached."
        },
        "nextPageToken": {
          "type": "string",
          "description": "A pagination token. To retrieve the next page of results, call the method again with this token."
        }
      },
      "type": "object",
      "description": "Response message for ListPostures."
    },
    "AssetDetails": {
      "description": "Details of a Cloud Asset Inventory asset that caused a violation.",
      "type": "object",
      "id": "AssetDetails",
      "properties": {
        "asset": {
          "type": "string",
          "description": "Information about the Cloud Asset Inventory asset that violated a policy. The format of this information can change at any time without prior notice. Your application must not depend on this information in any way."
        },
        "assetType": {
          "description": "The type of Cloud Asset Inventory asset. For a list of asset types, see [Supported asset types](https://cloud.google.com/asset-inventory/docs/supported-asset-types).",
          "type": "string"
        }
      }
    },
    "PolicySet": {
      "type": "object",
      "description": "A group of one or more Policy resources.",
      "id": "PolicySet",
      "properties": {
        "policySetId": {
          "type": "string",
          "description": "Required. An identifier for the policy set."
        },
        "policies": {
          "description": "Required. The Policy resources in the policy set. Each policy must have a policy_id that's unique within the policy set.",
          "type": "array",
          "items": {
            "$ref": "Policy"
          }
        },
        "description": {
          "description": "Optional. A description of the policy set.",
          "type": "string"
        }
      }
    },
    "ListPostureDeploymentsResponse": {
      "type": "object",
      "description": "Response message for ListPostureDeployments.",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A pagination token. To retrieve the next page of results, call the method again with this token."
        },
        "unreachable": {
          "description": "Locations that were temporarily unavailable and could not be reached.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "postureDeployments": {
          "type": "array",
          "items": {
            "$ref": "PostureDeployment"
          },
          "description": "The list of PostureDeployment resources."
        }
      },
      "id": "ListPostureDeploymentsResponse"
    },
    "Expr": {
      "id": "Expr",
      "properties": {
        "expression": {
          "description": "Textual representation of an expression in Common Expression Language syntax.",
          "type": "string"
        },
        "title": {
          "description": "Optional. Title for the expression, i.e. a short string describing its purpose. This can be used e.g. in UIs which allow to enter the expression.",
          "type": "string"
        },
        "description": {
          "description": "Optional. Description of the expression. This is a longer text which describes the expression, e.g. when hovered over it in a UI.",
          "type": "string"
        },
        "location": {
          "description": "Optional. String indicating the location of the expression for error reporting, e.g. a file name and a position in the file.",
          "type": "string"
        }
      },
      "description": "Represents a textual expression in the Common Expression Language (CEL) syntax. CEL is a C-like expression language. The syntax and semantics of CEL are documented at https://github.com/google/cel-spec. Example (Comparison): title: \"Summary size limit\" description: \"Determines if a summary is less than 100 chars\" expression: \"document.summary.size() < 100\" Example (Equality): title: \"Requestor is owner\" description: \"Determines if requestor is the document owner\" expression: \"document.owner == request.auth.claims.email\" Example (Logic): title: \"Public documents\" description: \"Determine whether the document should be publicly visible\" expression: \"document.type != 'private' && document.type != 'internal'\" Example (Data Manipulation): title: \"Notification string\" description: \"Create a notification string with a timestamp.\" expression: \"'New message received at ' + string(document.create_time)\" The exact variables and functions that may be referenced within an expression are determined by the service that evaluates it. See the service documentation for additional information.",
      "type": "object"
    },
    "IaC": {
      "id": "IaC",
      "description": "Details of an infrastructure-as-code (IaC) configuration.",
      "type": "object",
      "properties": {
        "tfPlan": {
          "description": "Optional. A Terraform plan file, formatted as a stringified JSON object. To learn how to generate a Terraform plan file in JSON format, see [JSON output format](https://developer.hashicorp.com/terraform/internals/json-format) in the Terraform documentation.",
          "format": "byte",
          "type": "string"
        }
      }
    },
    "ListPostureTemplatesResponse": {
      "properties": {
        "postureTemplates": {
          "type": "array",
          "description": "The list of PostureTemplate resources.",
          "items": {
            "$ref": "PostureTemplate"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "A pagination token. To retrieve the next page of results, call the method again with this token."
        }
      },
      "type": "object",
      "id": "ListPostureTemplatesResponse",
      "description": "Response message for ListPostureTemplates."
    },
    "ListLocationsResponse": {
      "type": "object",
      "id": "ListLocationsResponse",
      "description": "The response message for Locations.ListLocations.",
      "properties": {
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        },
        "locations": {
          "items": {
            "$ref": "Location"
          },
          "description": "A list of locations that matches the specified filter in the request.",
          "type": "array"
        }
      }
    },
    "ExtractPostureRequest": {
      "type": "object",
      "description": "Request message for ExtractPosture.",
      "id": "ExtractPostureRequest",
      "properties": {
        "postureId": {
          "description": "Required. An identifier for the posture.",
          "type": "string"
        },
        "workload": {
          "type": "string",
          "description": "Required. The organization, folder, or project from which policies are extracted. Must be within the organization defined in parent. Use one of the following formats: * `organization/{organization_number}` * `folder/{folder_number}` * `project/{project_number}`"
        }
      }
    },
    "ListPostureRevisionsResponse": {
      "type": "object",
      "properties": {
        "revisions": {
          "description": "The list of revisions for the Posture.",
          "type": "array",
          "items": {
            "$ref": "Posture"
          }
        },
        "nextPageToken": {
          "description": "A pagination token. To retrieve the next page of results, call the method again with this token.",
          "type": "string"
        }
      },
      "id": "ListPostureRevisionsResponse",
      "description": "Response message for ListPostureRevisions."
    },
    "PolicyDetails": {
      "id": "PolicyDetails",
      "type": "object",
      "description": "Details of a policy that was violated.",
      "properties": {
        "complianceStandards": {
          "description": "The compliance standards that the policy maps to. For example, `CIS-2.0 1.15`.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "description": {
          "description": "A description of the policy.",
          "type": "string"
        },
        "constraintType": {
          "description": "The type of constraint that was violated.",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "A custom module for Security Health Analytics.",
            "A custom organization policy constraint.",
            "A built-in detector for Security Health Analytics.",
            "A predefined organization policy constraint.",
            "A custom rego policy constraint."
          ],
          "type": "string",
          "enum": [
            "CONSTRAINT_TYPE_UNSPECIFIED",
            "SECURITY_HEALTH_ANALYTICS_CUSTOM_MODULE",
            "ORG_POLICY_CUSTOM",
            "SECURITY_HEALTH_ANALYTICS_MODULE",
            "ORG_POLICY",
            "REGO_POLICY"
          ]
        },
        "constraint": {
          "description": "Information about the constraint that was violated. The format of this information can change at any time without prior notice. Your application must not depend on this information in any way.",
          "type": "string"
        }
      }
    },
    "ListOperationsResponse": {
      "type": "object",
      "description": "The response message for Operations.ListOperations.",
      "properties": {
        "operations": {
          "items": {
            "$ref": "Operation"
          },
          "type": "array",
          "description": "A list of operations that matches the specified filter in the request."
        },
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        },
        "unreachable": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Unordered list. Unreachable resources. Populated when the request sets `ListOperationsRequest.return_partial_success` and reads across collections. For example, when attempting to list all resources across all supported locations."
        }
      },
      "id": "ListOperationsResponse"
    }
  },
  "resources": {
    "organizations": {
      "resources": {
        "locations": {
          "resources": {
            "operations": {
              "methods": {
                "delete": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "securityposture.organizations.locations.operations.delete",
                  "flatPath": "v1/organizations/{organizationsId}/locations/{locationsId}/operations/{operationsId}",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "location": "path",
                      "description": "The name of the operation resource to be deleted.",
                      "required": true,
                      "pattern": "^organizations/[^/]+/locations/[^/]+/operations/[^/]+$"
                    }
                  },
                  "response": {
                    "$ref": "Empty"
                  },
                  "path": "v1/{+name}",
                  "description": "Deletes a long-running operation. This method indicates that the client is no longer interested in the operation result. It does not cancel the operation. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`.",
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "DELETE"
                },
                "list": {
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1/organizations/{organizationsId}/locations/{locationsId}/operations",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`.",
                  "path": "v1/{+name}/operations",
                  "response": {
                    "$ref": "ListOperationsResponse"
                  },
                  "httpMethod": "GET",
                  "id": "securityposture.organizations.locations.operations.list",
                  "parameters": {
                    "filter": {
                      "type": "string",
                      "location": "query",
                      "description": "The standard list filter."
                    },
                    "returnPartialSuccess": {
                      "type": "boolean",
                      "location": "query",
                      "description": "When set to `true`, operations that are reachable are returned as normal, and those that are unreachable are returned in the ListOperationsResponse.unreachable field. This can only be `true` when reading across collections. For example, when `parent` is set to `\"projects/example/locations/-\"`. This field is not supported by default and will result in an `UNIMPLEMENTED` error if set unless explicitly documented otherwise in service or product specific documentation."
                    },
                    "pageSize": {
                      "format": "int32",
                      "location": "query",
                      "description": "The standard list page size.",
                      "type": "integer"
                    },
                    "pageToken": {
                      "type": "string",
                      "location": "query",
                      "description": "The standard list page token."
                    },
                    "name": {
                      "location": "path",
                      "pattern": "^organizations/[^/]+/locations/[^/]+$",
                      "description": "The name of the operation's parent resource.",
                      "type": "string",
                      "required": true
                    }
                  }
                },
                "cancel": {
                  "response": {
                    "$ref": "Empty"
                  },
                  "request": {
                    "$ref": "CancelOperationRequest"
                  },
                  "id": "securityposture.organizations.locations.operations.cancel",
                  "parameters": {
                    "name": {
                      "required": true,
                      "description": "The name of the operation resource to be cancelled.",
                      "pattern": "^organizations/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "path": "v1/{+name}:cancel",
                  "flatPath": "v1/organizations/{organizationsId}/locations/{locationsId}/operations/{operationsId}:cancel",
                  "description": "Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`.",
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "POST",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "get": {
                  "flatPath": "v1/organizations/{organizationsId}/locations/{locationsId}/operations/{operationsId}",
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "Operation"
                  },
                  "id": "securityposture.organizations.locations.operations.get",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "type": "string",
                      "description": "The name of the operation resource.",
                      "required": true,
                      "pattern": "^organizations/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "location": "path"
                    }
                  },
                  "path": "v1/{+name}"
                }
              }
            },
            "reports": {
              "methods": {
                "createIaCValidationReport": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "parent"
                  ],
                  "path": "v1/{+parent}/reports:createIaCValidationReport",
                  "id": "securityposture.organizations.locations.reports.createIaCValidationReport",
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "CreateIaCValidationReportRequest"
                  },
                  "description": "Validates a specified infrastructure-as-code (IaC) configuration, and creates a Report with the validation results. Only Terraform configurations are supported. Only modified assets are validated.",
                  "flatPath": "v1/organizations/{organizationsId}/locations/{locationsId}/reports:createIaCValidationReport",
                  "parameters": {
                    "parent": {
                      "type": "string",
                      "description": "Required. The parent resource name, in the format `organizations/{organization}/locations/global`.",
                      "location": "path",
                      "pattern": "^organizations/[^/]+/locations/[^/]+$",
                      "required": true
                    }
                  },
                  "response": {
                    "$ref": "Operation"
                  }
                },
                "list": {
                  "id": "securityposture.organizations.locations.reports.list",
                  "description": "Lists every Report in a given organization and location.",
                  "parameterOrder": [
                    "parent"
                  ],
                  "path": "v1/{+parent}/reports",
                  "parameters": {
                    "parent": {
                      "required": true,
                      "type": "string",
                      "description": "Required. The parent resource name, in the format `organizations/{organization}/locations/global`.",
                      "pattern": "^organizations/[^/]+/locations/[^/]+$",
                      "location": "path"
                    },
                    "filter": {
                      "description": "Optional. A filter to apply to the list of reports, in the format defined in [AIP-160: Filtering](https://google.aip.dev/160).",
                      "location": "query",
                      "type": "string"
                    },
                    "pageSize": {
                      "type": "integer",
                      "location": "query",
                      "format": "int32",
                      "description": "Optional. The maximum number of reports to return. The default value is `500`. If you exceed the maximum value of `1000`, then the service uses the maximum value."
                    },
                    "pageToken": {
                      "description": "Optional. A pagination token returned from a previous request to list reports. Provide this token to retrieve the next page of results.",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "httpMethod": "GET",
                  "flatPath": "v1/organizations/{organizationsId}/locations/{locationsId}/reports",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "ListReportsResponse"
                  }
                },
                "get": {
                  "path": "v1/{+name}",
                  "httpMethod": "GET",
                  "description": "Gets details for a Report.",
                  "flatPath": "v1/organizations/{organizationsId}/locations/{locationsId}/reports/{reportsId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "Report"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "securityposture.organizations.locations.reports.get",
                  "parameters": {
                    "name": {
                      "required": true,
                      "location": "path",
                      "type": "string",
                      "pattern": "^organizations/[^/]+/locations/[^/]+/reports/[^/]+$",
                      "description": "Required. The name of the report, in the format `organizations/{organization}/locations/global/reports/{report_id}`."
                    }
                  }
                }
              }
            },
            "postures": {
              "methods": {
                "listRevisions": {
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "securityposture.organizations.locations.postures.listRevisions",
                  "httpMethod": "GET",
                  "description": "Lists all revisions of a single Posture.",
                  "parameters": {
                    "pageSize": {
                      "location": "query",
                      "format": "int32",
                      "type": "integer",
                      "description": "Optional. The maximum number of posture revisions to return. The default value is `500`. If you exceed the maximum value of `1000`, then the service uses the maximum value."
                    },
                    "name": {
                      "type": "string",
                      "description": "Required. The name of the Posture, in the format `organizations/{organization}/locations/global/postures/{posture_id}`.",
                      "required": true,
                      "pattern": "^organizations/[^/]+/locations/[^/]+/postures/[^/]+$",
                      "location": "path"
                    },
                    "pageToken": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. A pagination token from a previous request to list posture revisions. Provide this token to retrieve the next page of results."
                    }
                  },
                  "path": "v1/{+name}:listRevisions",
                  "response": {
                    "$ref": "ListPostureRevisionsResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1/organizations/{organizationsId}/locations/{locationsId}/postures/{posturesId}:listRevisions"
                },
                "create": {
                  "path": "v1/{+parent}/postures",
                  "httpMethod": "POST",
                  "description": "Creates a new Posture.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1/organizations/{organizationsId}/locations/{locationsId}/postures",
                  "parameterOrder": [
                    "parent"
                  ],
                  "request": {
                    "$ref": "Posture"
                  },
                  "parameters": {
                    "parent": {
                      "type": "string",
                      "description": "Required. The parent resource name, in the format `organizations/{organization}/locations/global`.",
                      "required": true,
                      "pattern": "^organizations/[^/]+/locations/[^/]+$",
                      "location": "path"
                    },
                    "postureId": {
                      "description": "Required. An identifier for the posture.",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "response": {
                    "$ref": "Operation"
                  },
                  "id": "securityposture.organizations.locations.postures.create"
                },
                "patch": {
                  "flatPath": "v1/organizations/{organizationsId}/locations/{locationsId}/postures/{posturesId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "securityposture.organizations.locations.postures.patch",
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "revisionId": {
                      "description": "Required. The revision ID of the posture to update. If the posture revision that you update is currently deployed, then a new revision of the posture is created.",
                      "type": "string",
                      "location": "query"
                    },
                    "updateMask": {
                      "description": "Required. The fields in the Posture to update. You can update only the following fields: * Posture.description * Posture.policy_sets * Posture.state",
                      "format": "google-fieldmask",
                      "type": "string",
                      "location": "query"
                    },
                    "name": {
                      "location": "path",
                      "type": "string",
                      "required": true,
                      "description": "Required. Identifier. The name of the posture, in the format `organizations/{organization}/locations/global/postures/{posture_id}`.",
                      "pattern": "^organizations/[^/]+/locations/[^/]+/postures/[^/]+$"
                    }
                  },
                  "response": {
                    "$ref": "Operation"
                  },
                  "path": "v1/{+name}",
                  "description": "Updates a revision of an existing Posture. If the posture revision that you update is currently deployed, then a new revision of the posture is created. To prevent concurrent updates from overwriting each other, always follow the read-modify-write pattern when you update a posture: 1. Call GetPosture to get the current version of the posture. 2. Update the fields in the posture as needed. 3. Call UpdatePosture to update the posture. Ensure that your request includes the `etag` value from the GetPosture response. **Important:** If you omit the `etag` when you call UpdatePosture, then the updated posture unconditionally overwrites the existing posture.",
                  "request": {
                    "$ref": "Posture"
                  },
                  "httpMethod": "PATCH"
                },
                "delete": {
                  "description": "Deletes all revisions of a Posture. You can only delete a posture if none of its revisions are deployed.",
                  "path": "v1/{+name}",
                  "httpMethod": "DELETE",
                  "id": "securityposture.organizations.locations.postures.delete",
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "required": true,
                      "pattern": "^organizations/[^/]+/locations/[^/]+/postures/[^/]+$",
                      "location": "path",
                      "type": "string",
                      "description": "Required. The name of the Posture, in the format `organizations/{organization}/locations/global/postures/{posture_id}`."
                    },
                    "etag": {
                      "type": "string",
                      "location": "query",
                      "description": "Optional. An opaque identifier for the current version of the posture. If you provide this value, then it must match the existing value. If the values don't match, then the request fails with an ABORTED error. If you omit this value, then the posture is deleted regardless of its current `etag` value."
                    }
                  },
                  "flatPath": "v1/organizations/{organizationsId}/locations/{locationsId}/postures/{posturesId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "Operation"
                  }
                },
                "extract": {
                  "description": "Extracts existing policies from an organization, folder, or project, and applies them to another organization, folder, or project as a Posture. If the other organization, folder, or project already has a posture, then the result of the long-running operation is an ALREADY_EXISTS error.",
                  "flatPath": "v1/organizations/{organizationsId}/locations/{locationsId}/postures:extract",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "parent": {
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "pattern": "^organizations/[^/]+/locations/[^/]+$",
                      "description": "Required. The parent resource name, in the format `organizations/{organization}/locations/global`."
                    }
                  },
                  "response": {
                    "$ref": "Operation"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "id": "securityposture.organizations.locations.postures.extract",
                  "request": {
                    "$ref": "ExtractPostureRequest"
                  },
                  "path": "v1/{+parent}/postures:extract",
                  "httpMethod": "POST"
                },
                "list": {
                  "parameters": {
                    "parent": {
                      "required": true,
                      "pattern": "^organizations/[^/]+/locations/[^/]+$",
                      "type": "string",
                      "description": "Required. The parent resource name, in the format `organizations/{organization}/locations/global`.",
                      "location": "path"
                    },
                    "filter": {
                      "description": "Optional. A filter to apply to the list of postures, in the format defined in [AIP-160: Filtering](https://google.aip.dev/160).",
                      "location": "query",
                      "type": "string"
                    },
                    "pageSize": {
                      "type": "integer",
                      "description": "The maximum number of postures to return. The default value is `500`. If you exceed the maximum value of `1000`, then the service uses the maximum value.",
                      "format": "int32",
                      "location": "query"
                    },
                    "pageToken": {
                      "location": "query",
                      "type": "string",
                      "description": "A pagination token returned from a previous request to list postures. Provide this token to retrieve the next page of results."
                    }
                  },
                  "description": "Lists the most recent revisions of all Posture resources in a specified organization and location.",
                  "response": {
                    "$ref": "ListPosturesResponse"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "id": "securityposture.organizations.locations.postures.list",
                  "path": "v1/{+parent}/postures",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "GET",
                  "flatPath": "v1/organizations/{organizationsId}/locations/{locationsId}/postures"
                },
                "get": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "name": {
                      "required": true,
                      "pattern": "^organizations/[^/]+/locations/[^/]+/postures/[^/]+$",
                      "description": "Required. The name of the Posture, in the format `organizations/{organization}/locations/global/postures/{posture_id}`.",
                      "location": "path",
                      "type": "string"
                    },
                    "revisionId": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. The posture revision to retrieve. If not specified, the most recently updated revision is retrieved."
                    }
                  },
                  "path": "v1/{+name}",
                  "id": "securityposture.organizations.locations.postures.get",
                  "description": "Gets a single revision of a Posture.",
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1/organizations/{organizationsId}/locations/{locationsId}/postures/{posturesId}",
                  "response": {
                    "$ref": "Posture"
                  },
                  "httpMethod": "GET"
                }
              }
            },
            "postureDeployments": {
              "methods": {
                "delete": {
                  "description": "Deletes a PostureDeployment.",
                  "httpMethod": "DELETE",
                  "parameters": {
                    "name": {
                      "pattern": "^organizations/[^/]+/locations/[^/]+/postureDeployments/[^/]+$",
                      "required": true,
                      "description": "Required. The name of the posture deployment, in the format `organizations/{organization}/locations/global/postureDeployments/{posture_id}`.",
                      "location": "path",
                      "type": "string"
                    },
                    "etag": {
                      "description": "Optional. An opaque identifier for the current version of the posture deployment. If you provide this value, then it must match the existing value. If the values don't match, then the request fails with an ABORTED error. If you omit this value, then the posture deployment is deleted regardless of its current `etag` value.",
                      "type": "string",
                      "location": "query"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "Operation"
                  },
                  "path": "v1/{+name}",
                  "id": "securityposture.organizations.locations.postureDeployments.delete",
                  "flatPath": "v1/organizations/{organizationsId}/locations/{locationsId}/postureDeployments/{postureDeploymentsId}",
                  "parameterOrder": [
                    "name"
                  ]
                },
                "list": {
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "ListPostureDeploymentsResponse"
                  },
                  "parameters": {
                    "pageToken": {
                      "type": "string",
                      "location": "query",
                      "description": "Optional. A pagination token returned from a previous request to list posture deployments. Provide this token to retrieve the next page of results."
                    },
                    "parent": {
                      "required": true,
                      "description": "Required. The parent resource name, in the format `organizations/{organization}/locations/global`.",
                      "type": "string",
                      "location": "path",
                      "pattern": "^organizations/[^/]+/locations/[^/]+$"
                    },
                    "filter": {
                      "type": "string",
                      "location": "query",
                      "description": "Optional. A filter to apply to the list of postures, in the format defined in [AIP-160: Filtering](https://google.aip.dev/160)."
                    },
                    "pageSize": {
                      "description": "Optional. The maximum number of posture deployments to return. The default value is `500`. If you exceed the maximum value of `1000`, then the service uses the maximum value.",
                      "type": "integer",
                      "format": "int32",
                      "location": "query"
                    }
                  },
                  "path": "v1/{+parent}/postureDeployments",
                  "id": "securityposture.organizations.locations.postureDeployments.list",
                  "flatPath": "v1/organizations/{organizationsId}/locations/{locationsId}/postureDeployments",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "GET",
                  "description": "Lists every PostureDeployment in a project and location."
                },
                "patch": {
                  "response": {
                    "$ref": "Operation"
                  },
                  "request": {
                    "$ref": "PostureDeployment"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "PATCH",
                  "description": "Updates an existing PostureDeployment. To prevent concurrent updates from overwriting each other, always follow the read-modify-write pattern when you update a posture deployment: 1. Call GetPostureDeployment to get the current version of the deployment. 2. Update the fields in the deployment as needed. 3. Call UpdatePostureDeployment to update the deployment. Ensure that your request includes the `etag` value from the GetPostureDeployment response. **Important:** If you omit the `etag` when you call UpdatePostureDeployment, then the updated deployment unconditionally overwrites the existing deployment.",
                  "flatPath": "v1/organizations/{organizationsId}/locations/{locationsId}/postureDeployments/{postureDeploymentsId}",
                  "path": "v1/{+name}",
                  "id": "securityposture.organizations.locations.postureDeployments.patch",
                  "parameters": {
                    "updateMask": {
                      "location": "query",
                      "description": "Required. The fields in the PostureDeployment to update. You can update only the following fields: * PostureDeployment.posture_id * PostureDeployment.posture_revision_id",
                      "format": "google-fieldmask",
                      "type": "string"
                    },
                    "name": {
                      "description": "Required. Identifier. The name of the posture deployment, in the format `organizations/{organization}/locations/global/postureDeployments/{deployment_id}`.",
                      "location": "path",
                      "type": "string",
                      "pattern": "^organizations/[^/]+/locations/[^/]+/postureDeployments/[^/]+$",
                      "required": true
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "get": {
                  "description": "Gets details for a PostureDeployment.",
                  "parameters": {
                    "name": {
                      "pattern": "^organizations/[^/]+/locations/[^/]+/postureDeployments/[^/]+$",
                      "location": "path",
                      "type": "string",
                      "required": true,
                      "description": "Required. The name of the PostureDeployment, in the format `organizations/{organization}/locations/global/postureDeployments/{posture_deployment_id}`."
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "PostureDeployment"
                  },
                  "id": "securityposture.organizations.locations.postureDeployments.get",
                  "path": "v1/{+name}",
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1/organizations/{organizationsId}/locations/{locationsId}/postureDeployments/{postureDeploymentsId}",
                  "httpMethod": "GET"
                },
                "create": {
                  "response": {
                    "$ref": "Operation"
                  },
                  "description": "Creates a new PostureDeployment in a given project and location.",
                  "path": "v1/{+parent}/postureDeployments",
                  "id": "securityposture.organizations.locations.postureDeployments.create",
                  "httpMethod": "POST",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1/organizations/{organizationsId}/locations/{locationsId}/postureDeployments",
                  "parameterOrder": [
                    "parent"
                  ],
                  "parameters": {
                    "parent": {
                      "type": "string",
                      "required": true,
                      "pattern": "^organizations/[^/]+/locations/[^/]+$",
                      "location": "path",
                      "description": "Required. The parent resource name, in the format `organizations/{organization}/locations/global`."
                    },
                    "postureDeploymentId": {
                      "type": "string",
                      "description": "Required. An identifier for the posture deployment.",
                      "location": "query"
                    }
                  },
                  "request": {
                    "$ref": "PostureDeployment"
                  }
                }
              }
            },
            "postureTemplates": {
              "methods": {
                "list": {
                  "path": "v1/{+parent}/postureTemplates",
                  "parameters": {
                    "pageSize": {
                      "type": "integer",
                      "location": "query",
                      "format": "int32",
                      "description": "Optional. The maximum number of posture templates to return. The default value is `500`. If you exceed the maximum value of `1000`, then the service uses the maximum value."
                    },
                    "pageToken": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. A pagination token returned from a previous request to list posture templates. Provide this token to retrieve the next page of results."
                    },
                    "parent": {
                      "type": "string",
                      "location": "path",
                      "description": "Required. The parent resource name, in the format `organizations/{organization}/locations/global`.",
                      "required": true,
                      "pattern": "^organizations/[^/]+/locations/[^/]+$"
                    },
                    "filter": {
                      "type": "string",
                      "description": "Optional. A filter to apply to the list of postures, in the format defined in [AIP-160: Filtering](https://google.aip.dev/160).",
                      "location": "query"
                    }
                  },
                  "description": "Lists every PostureTemplate in a given organization and location.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "ListPostureTemplatesResponse"
                  },
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "parent"
                  ],
                  "flatPath": "v1/organizations/{organizationsId}/locations/{locationsId}/postureTemplates",
                  "id": "securityposture.organizations.locations.postureTemplates.list"
                },
                "get": {
                  "parameters": {
                    "revisionId": {
                      "type": "string",
                      "location": "query",
                      "description": "Optional. The posture template revision to retrieve. If not specified, the most recently updated revision is retrieved."
                    },
                    "name": {
                      "required": true,
                      "type": "string",
                      "pattern": "^organizations/[^/]+/locations/[^/]+/postureTemplates/[^/]+$",
                      "location": "path",
                      "description": "Required. The name of the PostureTemplate, in the format `organizations/{organization}/locations/global/postureTemplates/{posture_template}`."
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Gets a single revision of a PostureTemplate.",
                  "response": {
                    "$ref": "PostureTemplate"
                  },
                  "httpMethod": "GET",
                  "path": "v1/{+name}",
                  "flatPath": "v1/organizations/{organizationsId}/locations/{locationsId}/postureTemplates/{postureTemplatesId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "securityposture.organizations.locations.postureTemplates.get"
                }
              }
            }
          },
          "methods": {
            "list": {
              "path": "v1/{+name}/locations",
              "httpMethod": "GET",
              "id": "securityposture.organizations.locations.list",
              "description": "Lists information about the supported locations for this service. This method lists locations based on the resource scope provided in the ListLocationsRequest.name field: * **Global locations**: If `name` is empty, the method lists the public locations available to all projects. * **Project-specific locations**: If `name` follows the format `projects/{project}`, the method lists locations visible to that specific project. This includes public, private, or other project-specific locations enabled for the project. For gRPC and client library implementations, the resource name is passed as the `name` field. For direct service calls, the resource name is incorporated into the request path based on the specific service implementation and version.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1/organizations/{organizationsId}/locations",
              "response": {
                "$ref": "ListLocationsResponse"
              },
              "parameters": {
                "name": {
                  "type": "string",
                  "required": true,
                  "description": "The resource that owns the locations collection, if applicable.",
                  "pattern": "^organizations/[^/]+$",
                  "location": "path"
                },
                "extraLocationTypes": {
                  "location": "query",
                  "description": "Optional. Do not use this field unless explicitly documented otherwise. This is primarily for internal usage.",
                  "repeated": true,
                  "type": "string"
                },
                "pageToken": {
                  "location": "query",
                  "type": "string",
                  "description": "A page token received from the `next_page_token` field in the response. Send that page token to receive the subsequent page."
                },
                "filter": {
                  "location": "query",
                  "type": "string",
                  "description": "A filter to narrow down results to a preferred subset. The filtering language accepts strings like `\"displayName=tokyo\"`, and is documented in more detail in [AIP-160](https://google.aip.dev/160)."
                },
                "pageSize": {
                  "format": "int32",
                  "location": "query",
                  "description": "The maximum number of results to return. If not set, the service selects a default.",
                  "type": "integer"
                }
              }
            },
            "get": {
              "id": "securityposture.organizations.locations.get",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "path": "v1/{+name}",
              "description": "Gets information about a location.",
              "parameters": {
                "name": {
                  "location": "path",
                  "pattern": "^organizations/[^/]+/locations/[^/]+$",
                  "description": "Resource name for the location.",
                  "required": true,
                  "type": "string"
                }
              },
              "response": {
                "$ref": "Location"
              },
              "httpMethod": "GET",
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1/organizations/{organizationsId}/locations/{locationsId}"
            }
          }
        }
      }
    }
  },
  "id": "securityposture:v1",
  "kind": "discovery#restDescription",
  "baseUrl": "https://securityposture.googleapis.com/",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "basePath": "",
  "ownerName": "Google",
  "protocol": "rest",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "batchPath": "batch",
  "description": "Defines, assesses, and monitors the overall status of your security in Google Cloud. You can use security postures to evaluate your current cloud security against defined benchmarks and help maintain the level of security that your organization requires. ",
  "servicePath": "",
  "rootUrl": "https://securityposture.googleapis.com/",
  "name": "securityposture",
  "version": "v1"
}