{
  "version": "v1beta2",
  "documentationLink": "https://cloud.google.com/security-command-center",
  "discoveryVersion": "v1",
  "batchPath": "batch",
  "canonicalName": "Security Command Center",
  "kind": "discovery#restDescription",
  "description": "Security Command Center API provides access to temporal views of assets and findings within an organization.",
  "baseUrl": "https://securitycenter.googleapis.com/",
  "parameters": {
    "upload_protocol": {
      "location": "query",
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "prettyPrint": {
      "location": "query",
      "default": "true",
      "type": "boolean",
      "description": "Returns response with indentations and line breaks."
    },
    "fields": {
      "type": "string",
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "quotaUser": {
      "type": "string",
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "uploadType": {
      "location": "query",
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "oauth_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth 2.0 token for the current user."
    },
    "access_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth access token."
    },
    "$.xgafv": {
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query"
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "alt": {
      "default": "json",
      "type": "string",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "description": "Data format for response.",
      "location": "query"
    },
    "key": {
      "location": "query",
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    }
  },
  "basePath": "",
  "rootUrl": "https://securitycenter.googleapis.com/",
  "mtlsRootUrl": "https://securitycenter.mtls.googleapis.com/",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "servicePath": "",
  "version_module": true,
  "protocol": "rest",
  "ownerDomain": "google.com",
  "schemas": {
    "GoogleCloudSecuritycenterV2IssueMute": {
      "properties": {
        "muteInitiator": {
          "type": "string"
        },
        "muteState": {
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "MUTE_STATE_UNSPECIFIED",
            "NOT_MUTED",
            "MUTED"
          ]
        },
        "muteUpdateTime": {
          "type": "string",
          "format": "google-datetime"
        },
        "muteReason": {
          "type": "string"
        }
      },
      "id": "GoogleCloudSecuritycenterV2IssueMute",
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2ContactDetails": {
      "properties": {
        "contacts": {
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2Contact"
          },
          "type": "array"
        }
      },
      "id": "GoogleCloudSecuritycenterV2ContactDetails",
      "type": "object"
    },
    "CloudDlpDataProfile": {
      "id": "CloudDlpDataProfile",
      "properties": {
        "dataProfile": {
          "type": "string"
        },
        "infoTypes": {
          "type": "array",
          "items": {
            "$ref": "InfoType"
          }
        },
        "parentType": {
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "PARENT_TYPE_UNSPECIFIED",
            "ORGANIZATION",
            "PROJECT"
          ]
        }
      },
      "type": "object"
    },
    "Contact": {
      "properties": {
        "email": {
          "type": "string"
        }
      },
      "id": "Contact",
      "type": "object"
    },
    "AiModel": {
      "id": "AiModel",
      "type": "object",
      "properties": {
        "publisher": {
          "type": "string"
        },
        "deploymentPlatform": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "DEPLOYMENT_PLATFORM_UNSPECIFIED",
            "VERTEX_AI",
            "GKE",
            "GCE",
            "FINE_TUNED_MODEL"
          ]
        },
        "usageCategory": {
          "type": "string"
        },
        "library": {
          "type": "string"
        },
        "location": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "displayName": {
          "type": "string"
        },
        "domain": {
          "type": "string"
        }
      }
    },
    "GoogleCloudSecuritycenterV2SecretEnvironmentVariable": {
      "properties": {
        "key": {
          "type": "string"
        }
      },
      "id": "GoogleCloudSecuritycenterV2SecretEnvironmentVariable",
      "type": "object"
    },
    "Notebook": {
      "type": "object",
      "id": "Notebook",
      "properties": {
        "service": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "notebookUpdateTime": {
          "format": "google-datetime",
          "type": "string"
        },
        "lastAuthor": {
          "type": "string"
        }
      }
    },
    "GoogleCloudSecuritycenterV2FileOperation": {
      "properties": {
        "type": {
          "type": "string",
          "enum": [
            "OPERATION_TYPE_UNSPECIFIED",
            "OPEN",
            "READ",
            "RENAME",
            "WRITE",
            "EXECUTE"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            ""
          ]
        }
      },
      "id": "GoogleCloudSecuritycenterV2FileOperation",
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2Finding": {
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2Finding",
      "properties": {
        "processes": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2Process"
          }
        },
        "job": {
          "$ref": "GoogleCloudSecuritycenterV2Job"
        },
        "agentSessions": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2AgentSession"
          }
        },
        "iamBindings": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2IamBinding"
          }
        },
        "affectedResources": {
          "$ref": "GoogleCloudSecuritycenterV2AffectedResources"
        },
        "muteInitiator": {
          "type": "string"
        },
        "logEntries": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2LogEntry"
          }
        },
        "canonicalName": {
          "readOnly": true,
          "type": "string"
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "agent": {
          "$ref": "GoogleCloudSecuritycenterV2Agent"
        },
        "orgPolicies": {
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2OrgPolicy"
          },
          "type": "array"
        },
        "compliances": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2Compliance"
          }
        },
        "backupDisasterRecovery": {
          "$ref": "GoogleCloudSecuritycenterV2BackupDisasterRecovery"
        },
        "discoveredWorkload": {
          "$ref": "GoogleCloudSecuritycenterV2DiscoveredWorkload"
        },
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "INACTIVE"
          ],
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            ""
          ]
        },
        "secret": {
          "$ref": "GoogleCloudSecuritycenterV2Secret"
        },
        "attackExposure": {
          "$ref": "GoogleCloudSecuritycenterV2AttackExposure"
        },
        "application": {
          "$ref": "GoogleCloudSecuritycenterV2Application"
        },
        "toxicCombination": {
          "$ref": "GoogleCloudSecuritycenterV2ToxicCombination"
        },
        "nextSteps": {
          "type": "string"
        },
        "findingClass": {
          "type": "string",
          "enum": [
            "FINDING_CLASS_UNSPECIFIED",
            "THREAT",
            "VULNERABILITY",
            "MISCONFIGURATION",
            "OBSERVATION",
            "SCC_ERROR",
            "POSTURE_VIOLATION",
            "TOXIC_COMBINATION",
            "SENSITIVE_DATA_RISK",
            "CHOKEPOINT",
            "EXTERNAL_EXPOSURE",
            "SECRET"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ]
        },
        "aiModel": {
          "$ref": "GoogleCloudSecuritycenterV2AiModel"
        },
        "files": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2File"
          }
        },
        "iamDetails": {
          "$ref": "GoogleCloudSecuritycenterV2IamDetails"
        },
        "disk": {
          "$ref": "GoogleCloudSecuritycenterV2Disk"
        },
        "dataFlowEvents": {
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2DataFlowEvent"
          },
          "type": "array"
        },
        "parent": {
          "type": "string"
        },
        "muteInfo": {
          "readOnly": true,
          "$ref": "GoogleCloudSecuritycenterV2MuteInfo"
        },
        "securityPosture": {
          "$ref": "GoogleCloudSecuritycenterV2SecurityPosture"
        },
        "vulnerability": {
          "$ref": "GoogleCloudSecuritycenterV2Vulnerability"
        },
        "externalExposure": {
          "$ref": "GoogleCloudSecuritycenterV2ExternalExposure"
        },
        "parentDisplayName": {
          "type": "string",
          "readOnly": true
        },
        "agentAnomaly": {
          "$ref": "GoogleCloudSecuritycenterV2AgentAnomaly"
        },
        "database": {
          "$ref": "GoogleCloudSecuritycenterV2Database"
        },
        "loadBalancers": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2LoadBalancer"
          }
        },
        "exfiltration": {
          "$ref": "GoogleCloudSecuritycenterV2Exfiltration"
        },
        "externalSystems": {
          "readOnly": true,
          "type": "object",
          "additionalProperties": {
            "$ref": "GoogleCloudSecuritycenterV2ExternalSystem"
          }
        },
        "chokepoint": {
          "$ref": "GoogleCloudSecuritycenterV2Chokepoint"
        },
        "cloudDlpDataProfile": {
          "$ref": "GoogleCloudSecuritycenterV2CloudDlpDataProfile"
        },
        "mute": {
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "MUTE_UNSPECIFIED",
            "MUTED",
            "UNMUTED",
            "UNDEFINED"
          ]
        },
        "mitreAttack": {
          "$ref": "GoogleCloudSecuritycenterV2MitreAttack"
        },
        "cloudArmor": {
          "$ref": "GoogleCloudSecuritycenterV2CloudArmor"
        },
        "externalUri": {
          "type": "string"
        },
        "artifactGuardPolicies": {
          "$ref": "GoogleCloudSecuritycenterV2ArtifactGuardPolicies"
        },
        "moduleName": {
          "type": "string"
        },
        "networks": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2Network"
          }
        },
        "vertexAi": {
          "$ref": "GoogleCloudSecuritycenterV2VertexAi"
        },
        "policyViolationSummary": {
          "$ref": "GoogleCloudSecuritycenterV2PolicyViolationSummary"
        },
        "sourceProperties": {
          "additionalProperties": {
            "type": "any"
          },
          "type": "object"
        },
        "securityMarks": {
          "readOnly": true,
          "$ref": "GoogleCloudSecuritycenterV2SecurityMarks"
        },
        "kubernetes": {
          "$ref": "GoogleCloudSecuritycenterV2Kubernetes"
        },
        "eventTime": {
          "type": "string",
          "format": "google-datetime"
        },
        "ipRules": {
          "$ref": "GoogleCloudSecuritycenterV2IpRules"
        },
        "description": {
          "type": "string"
        },
        "dataRetentionDeletionEvents": {
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2DataRetentionDeletionEvent"
          },
          "type": "array"
        },
        "agentDataAccessEvents": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2AgentDataAccessEvent"
          }
        },
        "muteUpdateTime": {
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "containers": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2Container"
          }
        },
        "cloudDlpInspection": {
          "$ref": "GoogleCloudSecuritycenterV2CloudDlpInspection"
        },
        "groupMemberships": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2GroupMembership"
          }
        },
        "indicator": {
          "$ref": "GoogleCloudSecuritycenterV2Indicator"
        },
        "contacts": {
          "additionalProperties": {
            "$ref": "GoogleCloudSecuritycenterV2ContactDetails"
          },
          "type": "object",
          "readOnly": true
        },
        "connections": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2Connection"
          }
        },
        "resourceName": {
          "type": "string"
        },
        "cryptoKeyName": {
          "readOnly": true,
          "type": "string"
        },
        "access": {
          "$ref": "GoogleCloudSecuritycenterV2Access"
        },
        "dataAccessEvents": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2DataAccessEvent"
          }
        },
        "severity": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "SEVERITY_UNSPECIFIED",
            "CRITICAL",
            "HIGH",
            "MEDIUM",
            "LOW"
          ]
        },
        "kernelRootkit": {
          "$ref": "GoogleCloudSecuritycenterV2KernelRootkit"
        },
        "name": {
          "type": "string"
        },
        "notebook": {
          "$ref": "GoogleCloudSecuritycenterV2Notebook"
        },
        "complianceDetails": {
          "$ref": "GoogleCloudSecuritycenterV2ComplianceDetails"
        },
        "category": {
          "type": "string"
        }
      }
    },
    "GoogleCloudSecuritycenterV2Cvssv3": {
      "type": "object",
      "properties": {
        "attackComplexity": {
          "enum": [
            "ATTACK_COMPLEXITY_UNSPECIFIED",
            "ATTACK_COMPLEXITY_LOW",
            "ATTACK_COMPLEXITY_HIGH"
          ],
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "type": "string"
        },
        "integrityImpact": {
          "enum": [
            "IMPACT_UNSPECIFIED",
            "IMPACT_HIGH",
            "IMPACT_LOW",
            "IMPACT_NONE"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "type": "string"
        },
        "privilegesRequired": {
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "PRIVILEGES_REQUIRED_UNSPECIFIED",
            "PRIVILEGES_REQUIRED_NONE",
            "PRIVILEGES_REQUIRED_LOW",
            "PRIVILEGES_REQUIRED_HIGH"
          ]
        },
        "confidentialityImpact": {
          "enum": [
            "IMPACT_UNSPECIFIED",
            "IMPACT_HIGH",
            "IMPACT_LOW",
            "IMPACT_NONE"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ]
        },
        "scope": {
          "enum": [
            "SCOPE_UNSPECIFIED",
            "SCOPE_UNCHANGED",
            "SCOPE_CHANGED"
          ],
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "type": "string"
        },
        "availabilityImpact": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "IMPACT_UNSPECIFIED",
            "IMPACT_HIGH",
            "IMPACT_LOW",
            "IMPACT_NONE"
          ]
        },
        "attackVector": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "ATTACK_VECTOR_UNSPECIFIED",
            "ATTACK_VECTOR_NETWORK",
            "ATTACK_VECTOR_ADJACENT",
            "ATTACK_VECTOR_LOCAL",
            "ATTACK_VECTOR_PHYSICAL"
          ]
        },
        "baseScore": {
          "type": "number",
          "format": "double"
        },
        "userInteraction": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "USER_INTERACTION_UNSPECIFIED",
            "USER_INTERACTION_NONE",
            "USER_INTERACTION_REQUIRED"
          ]
        }
      },
      "id": "GoogleCloudSecuritycenterV2Cvssv3"
    },
    "Subject": {
      "id": "Subject",
      "properties": {
        "ns": {
          "type": "string"
        },
        "kind": {
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "AUTH_TYPE_UNSPECIFIED",
            "USER",
            "SERVICEACCOUNT",
            "GROUP"
          ]
        },
        "name": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2Attack": {
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2Attack",
      "properties": {
        "volumePps": {
          "type": "integer",
          "deprecated": true,
          "format": "int32"
        },
        "volumeBpsLong": {
          "format": "int64",
          "type": "string"
        },
        "classification": {
          "type": "string"
        },
        "volumeBps": {
          "format": "int32",
          "deprecated": true,
          "type": "integer"
        },
        "volumePpsLong": {
          "format": "int64",
          "type": "string"
        }
      }
    },
    "HttpResponse": {
      "type": "object",
      "properties": {
        "statusCode": {
          "type": "string"
        },
        "path": {
          "type": "string"
        }
      },
      "id": "HttpResponse"
    },
    "ExportFindingsResponse": {
      "type": "object",
      "id": "ExportFindingsResponse",
      "properties": {}
    },
    "GoogleCloudSecuritycenterV2AffectedResources": {
      "id": "GoogleCloudSecuritycenterV2AffectedResources",
      "type": "object",
      "properties": {
        "count": {
          "format": "int64",
          "type": "string"
        }
      }
    },
    "KernelRootkit": {
      "properties": {
        "unexpectedReadOnlyDataModification": {
          "type": "boolean"
        },
        "unexpectedKprobeHandler": {
          "type": "boolean"
        },
        "unexpectedCodeModification": {
          "type": "boolean"
        },
        "name": {
          "type": "string"
        },
        "unexpectedProcessesInRunqueue": {
          "type": "boolean"
        },
        "unexpectedSystemCallHandler": {
          "type": "boolean"
        },
        "unexpectedFtraceHandler": {
          "type": "boolean"
        },
        "unexpectedKernelCodePages": {
          "type": "boolean"
        },
        "unexpectedInterruptHandler": {
          "type": "boolean"
        }
      },
      "id": "KernelRootkit",
      "type": "object"
    },
    "AccessReview": {
      "properties": {
        "subresource": {
          "type": "string"
        },
        "resource": {
          "type": "string"
        },
        "version": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "group": {
          "type": "string"
        },
        "verb": {
          "type": "string"
        },
        "ns": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "AccessReview"
    },
    "AwsAccount": {
      "type": "object",
      "id": "AwsAccount",
      "properties": {
        "id": {
          "type": "string"
        },
        "name": {
          "type": "string"
        }
      }
    },
    "LogEntry": {
      "type": "object",
      "id": "LogEntry",
      "properties": {
        "cloudLoggingEntry": {
          "$ref": "CloudLoggingEntry"
        }
      }
    },
    "SecurityMarks": {
      "id": "SecurityMarks",
      "type": "object",
      "properties": {
        "marks": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "name": {
          "type": "string"
        },
        "canonicalName": {
          "type": "string"
        }
      }
    },
    "Container": {
      "id": "Container",
      "properties": {
        "uri": {
          "type": "string"
        },
        "imageId": {
          "type": "string"
        },
        "labels": {
          "type": "array",
          "items": {
            "$ref": "Label"
          }
        },
        "createTime": {
          "format": "google-datetime",
          "type": "string"
        },
        "name": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudSecuritycenterV1Resource": {
      "properties": {
        "displayName": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "adcSharedTemplate": {
          "$ref": "AdcSharedTemplateRevision"
        },
        "cloudProvider": {
          "enum": [
            "CLOUD_PROVIDER_UNSPECIFIED",
            "GOOGLE_CLOUD_PLATFORM",
            "AMAZON_WEB_SERVICES",
            "MICROSOFT_AZURE"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "type": "string"
        },
        "adcApplication": {
          "$ref": "AdcApplication"
        },
        "location": {
          "type": "string"
        },
        "service": {
          "type": "string"
        },
        "azureMetadata": {
          "$ref": "AzureMetadata"
        },
        "parentDisplayName": {
          "type": "string"
        },
        "project": {
          "type": "string"
        },
        "type": {
          "type": "string"
        },
        "folders": {
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "Folder"
          }
        },
        "resourcePathString": {
          "type": "string"
        },
        "parent": {
          "type": "string"
        },
        "resourcePath": {
          "$ref": "ResourcePath"
        },
        "projectDisplayName": {
          "type": "string"
        },
        "organization": {
          "type": "string"
        },
        "adcApplicationTemplate": {
          "$ref": "AdcApplicationTemplateRevision"
        },
        "application": {
          "$ref": "GoogleCloudSecuritycenterV1ResourceApplication"
        },
        "awsMetadata": {
          "$ref": "AwsMetadata"
        }
      },
      "type": "object",
      "id": "GoogleCloudSecuritycenterV1Resource"
    },
    "GoogleCloudSecuritycenterV2Vulnerability": {
      "properties": {
        "offendingPackage": {
          "$ref": "GoogleCloudSecuritycenterV2Package"
        },
        "securityBulletin": {
          "$ref": "GoogleCloudSecuritycenterV2SecurityBulletin"
        },
        "cwes": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2Cwe"
          }
        },
        "fixedPackage": {
          "$ref": "GoogleCloudSecuritycenterV2Package"
        },
        "cve": {
          "$ref": "GoogleCloudSecuritycenterV2Cve"
        },
        "providerRiskScore": {
          "type": "string",
          "format": "int64"
        },
        "reachable": {
          "type": "boolean"
        }
      },
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2Vulnerability"
    },
    "GoogleCloudSecuritycenterV2OrgPolicy": {
      "id": "GoogleCloudSecuritycenterV2OrgPolicy",
      "properties": {
        "name": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "Requests": {
      "properties": {
        "shortTermAllowed": {
          "type": "integer",
          "format": "int32"
        },
        "ratio": {
          "type": "number",
          "format": "double"
        },
        "longTermDenied": {
          "type": "integer",
          "format": "int32"
        },
        "longTermAllowed": {
          "type": "integer",
          "format": "int32"
        }
      },
      "id": "Requests",
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2Container": {
      "id": "GoogleCloudSecuritycenterV2Container",
      "properties": {
        "imageId": {
          "type": "string"
        },
        "uri": {
          "type": "string"
        },
        "labels": {
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2Label"
          },
          "type": "array"
        },
        "name": {
          "type": "string"
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime"
        }
      },
      "type": "object"
    },
    "SecretEnvironmentVariable": {
      "properties": {
        "key": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "SecretEnvironmentVariable"
    },
    "GoogleCloudSecuritycenterV1SecurityHealthAnalyticsCustomModule": {
      "properties": {
        "cloudProvider": {
          "enum": [
            "CLOUD_PROVIDER_UNSPECIFIED",
            "GOOGLE_CLOUD_PLATFORM",
            "AMAZON_WEB_SERVICES",
            "MICROSOFT_AZURE"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ]
        },
        "lastEditor": {
          "readOnly": true,
          "type": "string"
        },
        "enablementState": {
          "enum": [
            "ENABLEMENT_STATE_UNSPECIFIED",
            "ENABLED",
            "DISABLED",
            "INHERITED"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "updateTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "customConfig": {
          "$ref": "GoogleCloudSecuritycenterV1CustomConfig"
        },
        "ancestorModule": {
          "readOnly": true,
          "type": "string"
        },
        "displayName": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudSecuritycenterV1SecurityHealthAnalyticsCustomModule"
    },
    "CloudLoggingEntry": {
      "type": "object",
      "properties": {
        "insertId": {
          "type": "string"
        },
        "logId": {
          "type": "string"
        },
        "timestamp": {
          "type": "string",
          "format": "google-datetime"
        },
        "resourceContainer": {
          "type": "string"
        }
      },
      "id": "CloudLoggingEntry"
    },
    "GoogleCloudSecuritycenterV2AwsMetadata": {
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2AwsMetadata",
      "properties": {
        "organization": {
          "$ref": "GoogleCloudSecuritycenterV2AwsOrganization"
        },
        "organizationalUnits": {
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2AwsOrganizationalUnit"
          },
          "type": "array"
        },
        "account": {
          "$ref": "GoogleCloudSecuritycenterV2AwsAccount"
        }
      }
    },
    "Cwe": {
      "id": "Cwe",
      "type": "object",
      "properties": {
        "id": {
          "type": "string"
        },
        "references": {
          "items": {
            "$ref": "Reference"
          },
          "type": "array"
        }
      }
    },
    "SecurityPolicy": {
      "id": "SecurityPolicy",
      "properties": {
        "name": {
          "type": "string"
        },
        "type": {
          "type": "string"
        },
        "preview": {
          "type": "boolean"
        }
      },
      "type": "object"
    },
    "ToxicCombination": {
      "properties": {
        "relatedFindings": {
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "attackExposureScore": {
          "type": "number",
          "format": "double"
        }
      },
      "type": "object",
      "id": "ToxicCombination"
    },
    "GoogleCloudSecuritycenterV2Issue": {
      "id": "GoogleCloudSecuritycenterV2Issue",
      "properties": {
        "domains": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2IssueDomain"
          }
        },
        "createTime": {
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "updateTime": {
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "securityContexts": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2IssueSecurityContext"
          }
        },
        "detection": {
          "type": "string"
        },
        "description": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "secondaryResources": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2IssueResource"
          }
        },
        "severity": {
          "enum": [
            "SEVERITY_UNSPECIFIED",
            "CRITICAL",
            "HIGH",
            "MEDIUM",
            "LOW"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ],
          "type": "string"
        },
        "state": {
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "type": "string",
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "INACTIVE"
          ]
        },
        "exposureScore": {
          "format": "double",
          "type": "number"
        },
        "primaryResource": {
          "$ref": "GoogleCloudSecuritycenterV2IssueResource"
        },
        "lastObservationTime": {
          "format": "google-datetime",
          "type": "string"
        },
        "remediations": {
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "mute": {
          "$ref": "GoogleCloudSecuritycenterV2IssueMute"
        },
        "issueType": {
          "enum": [
            "ISSUE_TYPE_UNSPECIFIED",
            "CHOKEPOINT",
            "TOXIC_COMBINATION",
            "INSIGHT"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "type": "string"
        },
        "relatedFindings": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2IssueFinding"
          }
        }
      },
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2Control": {
      "properties": {
        "displayName": {
          "type": "string"
        },
        "controlName": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2Control"
    },
    "GoogleCloudSecuritycenterV2Node": {
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2Node",
      "properties": {
        "name": {
          "type": "string"
        }
      }
    },
    "ResourcePath": {
      "id": "ResourcePath",
      "type": "object",
      "properties": {
        "nodes": {
          "items": {
            "$ref": "ResourcePathNode"
          },
          "type": "array"
        }
      }
    },
    "GoogleCloudSecuritycenterV2ResourceApplicationAttributes": {
      "properties": {
        "criticality": {
          "$ref": "GoogleCloudSecuritycenterV2ResourceApplicationAttributesCriticality"
        },
        "operatorOwners": {
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2ResourceApplicationAttributesContactInfo"
          },
          "type": "array"
        },
        "businessOwners": {
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2ResourceApplicationAttributesContactInfo"
          },
          "type": "array"
        },
        "developerOwners": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2ResourceApplicationAttributesContactInfo"
          }
        },
        "environment": {
          "$ref": "GoogleCloudSecuritycenterV2ResourceApplicationAttributesEnvironment"
        }
      },
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2ResourceApplicationAttributes"
    },
    "DataAccessEvent": {
      "properties": {
        "principalEmail": {
          "type": "string"
        },
        "eventId": {
          "type": "string"
        },
        "operation": {
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "OPERATION_UNSPECIFIED",
            "READ",
            "MOVE",
            "COPY"
          ],
          "type": "string"
        },
        "eventTime": {
          "format": "google-datetime",
          "type": "string"
        }
      },
      "type": "object",
      "id": "DataAccessEvent"
    },
    "GoogleCloudSecuritycenterV2StaticMute": {
      "properties": {
        "applyTime": {
          "format": "google-datetime",
          "type": "string"
        },
        "state": {
          "enum": [
            "MUTE_UNSPECIFIED",
            "MUTED",
            "UNMUTED",
            "UNDEFINED"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ]
        }
      },
      "id": "GoogleCloudSecuritycenterV2StaticMute",
      "type": "object"
    },
    "Details": {
      "properties": {
        "startTime": {
          "format": "google-datetime",
          "type": "string"
        },
        "type": {
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "STANDARD",
            "TRIAL",
            "ALPHA",
            "DEMO",
            "PAY_AS_YOU_GO",
            "SUBSCRIPTION",
            "SUB_FIXED",
            "SUB_BASE_OVERAGE"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ]
        },
        "endTime": {
          "format": "google-datetime",
          "type": "string"
        }
      },
      "type": "object",
      "id": "Details"
    },
    "GoogleCloudSecuritycenterV2Requests": {
      "id": "GoogleCloudSecuritycenterV2Requests",
      "type": "object",
      "properties": {
        "longTermDenied": {
          "format": "int32",
          "type": "integer"
        },
        "shortTermAllowed": {
          "format": "int32",
          "type": "integer"
        },
        "ratio": {
          "type": "number",
          "format": "double"
        },
        "longTermAllowed": {
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "IpRules": {
      "id": "IpRules",
      "properties": {
        "allowed": {
          "$ref": "Allowed"
        },
        "destinationIpRanges": {
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "direction": {
          "enum": [
            "DIRECTION_UNSPECIFIED",
            "INGRESS",
            "EGRESS"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            ""
          ]
        },
        "denied": {
          "$ref": "Denied"
        },
        "sourceIpRanges": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "exposedServices": {
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2PolicyViolationSummary": {
      "id": "GoogleCloudSecuritycenterV2PolicyViolationSummary",
      "properties": {
        "evaluationErrorsCount": {
          "type": "string",
          "format": "int64"
        },
        "outOfScopeResourcesCount": {
          "type": "string",
          "format": "int64"
        },
        "conformantResourcesCount": {
          "type": "string",
          "format": "int64"
        },
        "policyViolationsCount": {
          "type": "string",
          "format": "int64"
        }
      },
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2Object": {
      "type": "object",
      "properties": {
        "kind": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "containers": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2Container"
          }
        },
        "ns": {
          "type": "string"
        },
        "group": {
          "type": "string"
        }
      },
      "id": "GoogleCloudSecuritycenterV2Object"
    },
    "GoogleCloudSecuritycenterV1MuteConfig": {
      "properties": {
        "expiryTime": {
          "format": "google-datetime",
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "deprecated": true
        },
        "type": {
          "enum": [
            "MUTE_CONFIG_TYPE_UNSPECIFIED",
            "STATIC",
            "DYNAMIC"
          ],
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "type": "string"
        },
        "description": {
          "type": "string"
        },
        "filter": {
          "type": "string"
        },
        "mostRecentEditor": {
          "type": "string",
          "readOnly": true
        },
        "updateTime": {
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "createTime": {
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        }
      },
      "id": "GoogleCloudSecuritycenterV1MuteConfig",
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2Role": {
      "id": "GoogleCloudSecuritycenterV2Role",
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        },
        "ns": {
          "type": "string"
        },
        "kind": {
          "enum": [
            "KIND_UNSPECIFIED",
            "ROLE",
            "CLUSTER_ROLE"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            ""
          ]
        }
      }
    },
    "GoogleCloudSecuritycenterV1BigQueryExport": {
      "type": "object",
      "id": "GoogleCloudSecuritycenterV1BigQueryExport",
      "properties": {
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "filter": {
          "type": "string"
        },
        "mostRecentEditor": {
          "type": "string",
          "readOnly": true
        },
        "updateTime": {
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "principal": {
          "type": "string",
          "readOnly": true
        },
        "description": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "dataset": {
          "type": "string"
        }
      }
    },
    "GcpMetadata": {
      "properties": {
        "parent": {
          "type": "string"
        },
        "project": {
          "type": "string"
        },
        "parentDisplayName": {
          "type": "string"
        },
        "folders": {
          "readOnly": true,
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2Folder"
          },
          "type": "array"
        },
        "projectDisplayName": {
          "type": "string"
        },
        "organization": {
          "type": "string"
        }
      },
      "id": "GcpMetadata",
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2ExternalSystem": {
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2ExternalSystem",
      "properties": {
        "externalUid": {
          "type": "string"
        },
        "assignees": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "casePriority": {
          "type": "string"
        },
        "ticketInfo": {
          "$ref": "GoogleCloudSecuritycenterV2TicketInfo"
        },
        "caseCloseTime": {
          "format": "google-datetime",
          "type": "string"
        },
        "caseCreateTime": {
          "type": "string",
          "format": "google-datetime"
        },
        "externalSystemUpdateTime": {
          "format": "google-datetime",
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "caseSla": {
          "type": "string",
          "format": "google-datetime"
        },
        "caseUri": {
          "type": "string"
        },
        "status": {
          "type": "string"
        }
      }
    },
    "GoogleCloudSecuritycenterV1p1beta1NotificationMessage": {
      "type": "object",
      "properties": {
        "finding": {
          "$ref": "GoogleCloudSecuritycenterV1p1beta1Finding"
        },
        "resource": {
          "$ref": "GoogleCloudSecuritycenterV1p1beta1Resource"
        },
        "notificationConfigName": {
          "type": "string"
        }
      },
      "id": "GoogleCloudSecuritycenterV1p1beta1NotificationMessage"
    },
    "Job": {
      "properties": {
        "errorCode": {
          "type": "integer",
          "format": "int32"
        },
        "name": {
          "type": "string"
        },
        "location": {
          "type": "string"
        },
        "state": {
          "readOnly": true,
          "type": "string",
          "enum": [
            "JOB_STATE_UNSPECIFIED",
            "PENDING",
            "RUNNING",
            "SUCCEEDED",
            "FAILED"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ]
        }
      },
      "id": "Job",
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2Reference": {
      "properties": {
        "source": {
          "type": "string"
        },
        "uri": {
          "type": "string"
        }
      },
      "id": "GoogleCloudSecuritycenterV2Reference",
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2Database": {
      "id": "GoogleCloudSecuritycenterV2Database",
      "type": "object",
      "properties": {
        "grantees": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "displayName": {
          "type": "string"
        },
        "query": {
          "type": "string"
        },
        "version": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "userName": {
          "type": "string"
        }
      }
    },
    "Process": {
      "properties": {
        "argumentsTruncated": {
          "type": "boolean"
        },
        "pid": {
          "type": "string",
          "format": "int64"
        },
        "userId": {
          "type": "string",
          "format": "int64"
        },
        "envVariables": {
          "items": {
            "$ref": "EnvironmentVariable"
          },
          "type": "array"
        },
        "parentPid": {
          "type": "string",
          "format": "int64"
        },
        "script": {
          "$ref": "File"
        },
        "args": {
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "envVariablesTruncated": {
          "type": "boolean"
        },
        "name": {
          "type": "string"
        },
        "binary": {
          "$ref": "File"
        },
        "libraries": {
          "type": "array",
          "items": {
            "$ref": "File"
          }
        }
      },
      "type": "object",
      "id": "Process"
    },
    "BackupDisasterRecovery": {
      "properties": {
        "backupType": {
          "type": "string"
        },
        "applications": {
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "policies": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "profile": {
          "type": "string"
        },
        "storagePool": {
          "type": "string"
        },
        "appliance": {
          "type": "string"
        },
        "backupCreateTime": {
          "format": "google-datetime",
          "type": "string"
        },
        "host": {
          "type": "string"
        },
        "policyOptions": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "backupTemplate": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "BackupDisasterRecovery"
    },
    "GoogleCloudSecuritycenterV2IssueResourceAdcApplication": {
      "type": "object",
      "properties": {
        "attributes": {
          "$ref": "GoogleCloudSecuritycenterV2IssueResourceApplicationAttributes"
        },
        "name": {
          "type": "string"
        }
      },
      "id": "GoogleCloudSecuritycenterV2IssueResourceAdcApplication"
    },
    "YaraRuleSignature": {
      "id": "YaraRuleSignature",
      "type": "object",
      "properties": {
        "yaraRule": {
          "type": "string"
        }
      }
    },
    "FileOperation": {
      "type": "object",
      "properties": {
        "type": {
          "enum": [
            "OPERATION_TYPE_UNSPECIFIED",
            "OPEN",
            "READ",
            "RENAME",
            "WRITE",
            "EXECUTE"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "type": "string"
        }
      },
      "id": "FileOperation"
    },
    "InvocationReference": {
      "properties": {
        "invocationId": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "InvocationReference"
    },
    "GoogleCloudSecuritycenterV2Notebook": {
      "properties": {
        "lastAuthor": {
          "type": "string"
        },
        "service": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "notebookUpdateTime": {
          "format": "google-datetime",
          "type": "string"
        }
      },
      "id": "GoogleCloudSecuritycenterV2Notebook",
      "type": "object"
    },
    "MemoryHashSignature": {
      "id": "MemoryHashSignature",
      "type": "object",
      "properties": {
        "binaryFamily": {
          "type": "string"
        },
        "detections": {
          "type": "array",
          "items": {
            "$ref": "Detection"
          }
        }
      }
    },
    "Disk": {
      "id": "Disk",
      "properties": {
        "name": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2AzureManagementGroup": {
      "id": "GoogleCloudSecuritycenterV2AzureManagementGroup",
      "type": "object",
      "properties": {
        "id": {
          "type": "string"
        },
        "displayName": {
          "type": "string"
        }
      }
    },
    "GoogleCloudSecuritycenterV1IamDetails": {
      "properties": {
        "iamRolePermissions": {
          "items": {
            "$ref": "GoogleCloudSecuritycenterV1IamRolePermission"
          },
          "type": "array"
        }
      },
      "type": "object",
      "id": "GoogleCloudSecuritycenterV1IamDetails"
    },
    "ExfilResource": {
      "type": "object",
      "properties": {
        "components": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "name": {
          "type": "string"
        }
      },
      "id": "ExfilResource"
    },
    "GoogleCloudSecuritycenterV2DataAccessEvent": {
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2DataAccessEvent",
      "properties": {
        "eventId": {
          "type": "string"
        },
        "operation": {
          "enum": [
            "OPERATION_UNSPECIFIED",
            "READ",
            "MOVE",
            "COPY"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "type": "string"
        },
        "principalEmail": {
          "type": "string"
        },
        "eventTime": {
          "type": "string",
          "format": "google-datetime"
        }
      }
    },
    "GoogleCloudSecuritycenterV1Property": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        },
        "valueExpression": {
          "$ref": "Expr"
        }
      },
      "id": "GoogleCloudSecuritycenterV1Property"
    },
    "GoogleCloudSecuritycenterV2ArtifactGuardPolicy": {
      "id": "GoogleCloudSecuritycenterV2ArtifactGuardPolicy",
      "type": "object",
      "properties": {
        "failureReason": {
          "type": "string"
        },
        "policyId": {
          "type": "string"
        },
        "type": {
          "enumDescriptions": [
            "",
            ""
          ],
          "enum": [
            "ARTIFACT_GUARD_POLICY_TYPE_UNSPECIFIED",
            "VULNERABILITY"
          ],
          "type": "string"
        }
      }
    },
    "GoogleCloudSecuritycenterV2Chokepoint": {
      "id": "GoogleCloudSecuritycenterV2Chokepoint",
      "properties": {
        "relatedFindings": {
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object"
    },
    "SensitivityScore": {
      "id": "SensitivityScore",
      "type": "object",
      "properties": {
        "score": {
          "type": "string",
          "enum": [
            "SENSITIVITY_SCORE_LEVEL_UNSPECIFIED",
            "SENSITIVITY_LOW",
            "SENSITIVITY_UNKNOWN",
            "SENSITIVITY_MODERATE",
            "SENSITIVITY_HIGH"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ]
        }
      }
    },
    "GoogleCloudSecuritycenterV2IssueSecurityContextContext": {
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2IssueSecurityContextContext",
      "properties": {
        "type": {
          "type": "string"
        },
        "values": {
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "GoogleCloudSecuritycenterV2AdaptiveProtection": {
      "id": "GoogleCloudSecuritycenterV2AdaptiveProtection",
      "type": "object",
      "properties": {
        "confidence": {
          "format": "double",
          "type": "number"
        }
      }
    },
    "GoogleCloudSecuritycenterV2IssueSecurityContextAggregatedCount": {
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2IssueSecurityContextAggregatedCount",
      "properties": {
        "value": {
          "type": "integer",
          "format": "int32"
        },
        "key": {
          "type": "string"
        }
      }
    },
    "ContactDetails": {
      "id": "ContactDetails",
      "type": "object",
      "properties": {
        "contacts": {
          "items": {
            "$ref": "Contact"
          },
          "type": "array"
        }
      }
    },
    "GoogleCloudSecuritycenterV2IssueResourceAwsMetadata": {
      "id": "GoogleCloudSecuritycenterV2IssueResourceAwsMetadata",
      "properties": {
        "account": {
          "$ref": "GoogleCloudSecuritycenterV2IssueResourceAwsMetadataAwsAccount"
        }
      },
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2AwsAccount": {
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2AwsAccount",
      "properties": {
        "name": {
          "type": "string"
        },
        "id": {
          "type": "string"
        }
      }
    },
    "AgentSession": {
      "id": "AgentSession",
      "properties": {
        "sessionId": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2ResourceApplicationAttributesContactInfo": {
      "id": "GoogleCloudSecuritycenterV2ResourceApplicationAttributesContactInfo",
      "type": "object",
      "properties": {
        "email": {
          "type": "string"
        }
      }
    },
    "GoogleCloudSecuritycenterV2BigQueryExport": {
      "properties": {
        "name": {
          "type": "string"
        },
        "description": {
          "type": "string"
        },
        "filter": {
          "type": "string"
        },
        "cryptoKeyName": {
          "readOnly": true,
          "type": "string"
        },
        "dataset": {
          "type": "string"
        },
        "mostRecentEditor": {
          "type": "string",
          "readOnly": true
        },
        "principal": {
          "readOnly": true,
          "type": "string"
        },
        "updateTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "createTime": {
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        }
      },
      "id": "GoogleCloudSecuritycenterV2BigQueryExport",
      "type": "object"
    },
    "Cve": {
      "properties": {
        "impact": {
          "enum": [
            "RISK_RATING_UNSPECIFIED",
            "LOW",
            "MEDIUM",
            "HIGH",
            "CRITICAL"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ],
          "type": "string"
        },
        "references": {
          "type": "array",
          "items": {
            "$ref": "Reference"
          }
        },
        "upstreamFixAvailable": {
          "type": "boolean"
        },
        "firstExploitationDate": {
          "format": "google-datetime",
          "type": "string"
        },
        "zeroDay": {
          "type": "boolean"
        },
        "exploitReleaseDate": {
          "type": "string",
          "format": "google-datetime"
        },
        "id": {
          "type": "string"
        },
        "cvssv3": {
          "$ref": "Cvssv3"
        },
        "exploitationActivity": {
          "enum": [
            "EXPLOITATION_ACTIVITY_UNSPECIFIED",
            "WIDE",
            "CONFIRMED",
            "AVAILABLE",
            "ANTICIPATED",
            "NO_KNOWN"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            ""
          ]
        },
        "observedInTheWild": {
          "type": "boolean"
        }
      },
      "id": "Cve",
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2SecretStatus": {
      "properties": {
        "validity": {
          "type": "string",
          "enum": [
            "SECRET_VALIDITY_UNSPECIFIED",
            "SECRET_VALIDITY_UNSUPPORTED",
            "SECRET_VALIDITY_FAILED",
            "SECRET_VALIDITY_INVALID",
            "SECRET_VALIDITY_VALID"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ]
        },
        "lastUpdatedTime": {
          "type": "string",
          "format": "google-datetime"
        }
      },
      "id": "GoogleCloudSecuritycenterV2SecretStatus",
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2AwsOrganization": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string"
        }
      },
      "id": "GoogleCloudSecuritycenterV2AwsOrganization"
    },
    "SecurityPosture": {
      "id": "SecurityPosture",
      "properties": {
        "postureDeploymentResource": {
          "type": "string"
        },
        "policyDriftDetails": {
          "items": {
            "$ref": "PolicyDriftDetails"
          },
          "type": "array"
        },
        "name": {
          "type": "string"
        },
        "changedPolicy": {
          "type": "string"
        },
        "revisionId": {
          "type": "string"
        },
        "policySet": {
          "type": "string"
        },
        "policy": {
          "type": "string"
        },
        "postureDeployment": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "Finding": {
      "properties": {
        "state": {
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "INACTIVE"
          ],
          "enumDescriptions": [
            "",
            "",
            ""
          ]
        },
        "kernelRootkit": {
          "$ref": "KernelRootkit"
        },
        "cloudDlpInspection": {
          "$ref": "CloudDlpInspection"
        },
        "compliances": {
          "type": "array",
          "items": {
            "$ref": "Compliance"
          }
        },
        "orgPolicies": {
          "type": "array",
          "items": {
            "$ref": "OrgPolicy"
          }
        },
        "mute": {
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "MUTE_UNSPECIFIED",
            "MUTED",
            "UNMUTED",
            "UNDEFINED"
          ]
        },
        "parentDisplayName": {
          "readOnly": true,
          "type": "string"
        },
        "artifactGuardPolicies": {
          "$ref": "ArtifactGuardPolicies"
        },
        "iamBindings": {
          "type": "array",
          "items": {
            "$ref": "IamBinding"
          }
        },
        "files": {
          "type": "array",
          "items": {
            "$ref": "File"
          }
        },
        "eventTime": {
          "type": "string",
          "format": "google-datetime"
        },
        "sourceProperties": {
          "additionalProperties": {
            "type": "any"
          },
          "type": "object"
        },
        "muteUpdateTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime"
        },
        "application": {
          "$ref": "Application"
        },
        "agent": {
          "$ref": "Agent"
        },
        "logEntries": {
          "type": "array",
          "items": {
            "$ref": "LogEntry"
          }
        },
        "resourceName": {
          "type": "string"
        },
        "securityMarks": {
          "readOnly": true,
          "$ref": "SecurityMarks"
        },
        "agentDataAccessEvents": {
          "type": "array",
          "items": {
            "$ref": "AgentDataAccessEvent"
          }
        },
        "groupMemberships": {
          "items": {
            "$ref": "GroupMembership"
          },
          "type": "array"
        },
        "database": {
          "$ref": "Database"
        },
        "indicator": {
          "$ref": "Indicator"
        },
        "job": {
          "$ref": "Job"
        },
        "access": {
          "$ref": "Access"
        },
        "externalSystems": {
          "type": "object",
          "readOnly": true,
          "additionalProperties": {
            "$ref": "GoogleCloudSecuritycenterV1ExternalSystem"
          }
        },
        "name": {
          "type": "string"
        },
        "muteInfo": {
          "$ref": "MuteInfo",
          "readOnly": true
        },
        "policyViolationSummary": {
          "$ref": "PolicyViolationSummary"
        },
        "dataAccessEvents": {
          "items": {
            "$ref": "DataAccessEvent"
          },
          "type": "array"
        },
        "affectedResources": {
          "$ref": "AffectedResources"
        },
        "ipRules": {
          "$ref": "IpRules"
        },
        "iamDetails": {
          "$ref": "GoogleCloudSecuritycenterV1IamDetails"
        },
        "complianceDetails": {
          "$ref": "ComplianceDetails"
        },
        "kubernetes": {
          "$ref": "Kubernetes"
        },
        "aiModel": {
          "$ref": "AiModel"
        },
        "loadBalancers": {
          "items": {
            "$ref": "LoadBalancer"
          },
          "type": "array"
        },
        "externalUri": {
          "type": "string"
        },
        "mitreAttack": {
          "$ref": "MitreAttack"
        },
        "securityPosture": {
          "$ref": "SecurityPosture"
        },
        "cloudDlpDataProfile": {
          "$ref": "CloudDlpDataProfile"
        },
        "agentAnomaly": {
          "$ref": "AgentAnomaly"
        },
        "networks": {
          "type": "array",
          "items": {
            "$ref": "Network"
          }
        },
        "vulnerability": {
          "$ref": "Vulnerability"
        },
        "exfiltration": {
          "$ref": "Exfiltration"
        },
        "moduleName": {
          "type": "string"
        },
        "processes": {
          "items": {
            "$ref": "Process"
          },
          "type": "array"
        },
        "vertexAi": {
          "$ref": "VertexAi"
        },
        "dataFlowEvents": {
          "type": "array",
          "items": {
            "$ref": "DataFlowEvent"
          }
        },
        "secret": {
          "$ref": "Secret"
        },
        "toxicCombination": {
          "$ref": "ToxicCombination"
        },
        "cloudArmor": {
          "$ref": "CloudArmor"
        },
        "nextSteps": {
          "type": "string"
        },
        "chokepoint": {
          "$ref": "Chokepoint"
        },
        "parent": {
          "type": "string"
        },
        "severity": {
          "enum": [
            "SEVERITY_UNSPECIFIED",
            "CRITICAL",
            "HIGH",
            "MEDIUM",
            "LOW"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ],
          "type": "string"
        },
        "connections": {
          "type": "array",
          "items": {
            "$ref": "Connection"
          }
        },
        "notebook": {
          "$ref": "Notebook"
        },
        "attackExposure": {
          "$ref": "AttackExposure"
        },
        "category": {
          "type": "string"
        },
        "description": {
          "type": "string"
        },
        "findingClass": {
          "enum": [
            "FINDING_CLASS_UNSPECIFIED",
            "THREAT",
            "VULNERABILITY",
            "MISCONFIGURATION",
            "OBSERVATION",
            "SCC_ERROR",
            "POSTURE_VIOLATION",
            "TOXIC_COMBINATION",
            "SENSITIVE_DATA_RISK",
            "CHOKEPOINT",
            "EXTERNAL_EXPOSURE",
            "SECRET"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ]
        },
        "disk": {
          "$ref": "Disk"
        },
        "backupDisasterRecovery": {
          "$ref": "BackupDisasterRecovery"
        },
        "containers": {
          "type": "array",
          "items": {
            "$ref": "Container"
          }
        },
        "dataRetentionDeletionEvents": {
          "items": {
            "$ref": "DataRetentionDeletionEvent"
          },
          "type": "array"
        },
        "contacts": {
          "readOnly": true,
          "additionalProperties": {
            "$ref": "ContactDetails"
          },
          "type": "object"
        },
        "agentSessions": {
          "type": "array",
          "items": {
            "$ref": "AgentSession"
          }
        },
        "externalExposure": {
          "$ref": "ExternalExposure"
        },
        "discoveredWorkload": {
          "$ref": "DiscoveredWorkload"
        },
        "canonicalName": {
          "type": "string"
        },
        "muteInitiator": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "Finding"
    },
    "AttackExposure": {
      "id": "AttackExposure",
      "type": "object",
      "properties": {
        "exposedMediumValueResourcesCount": {
          "format": "int32",
          "type": "integer"
        },
        "latestCalculationTime": {
          "type": "string",
          "format": "google-datetime"
        },
        "exposedLowValueResourcesCount": {
          "format": "int32",
          "type": "integer"
        },
        "state": {
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "CALCULATED",
            "NOT_CALCULATED"
          ],
          "type": "string"
        },
        "exposedHighValueResourcesCount": {
          "format": "int32",
          "type": "integer"
        },
        "attackExposureResult": {
          "type": "string"
        },
        "score": {
          "format": "double",
          "type": "number"
        }
      }
    },
    "GoogleCloudSecuritycenterV2PortRange": {
      "properties": {
        "min": {
          "type": "string",
          "format": "int64"
        },
        "max": {
          "type": "string",
          "format": "int64"
        }
      },
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2PortRange"
    },
    "AwsOrganization": {
      "id": "AwsOrganization",
      "type": "object",
      "properties": {
        "id": {
          "type": "string"
        }
      }
    },
    "CloudArmor": {
      "type": "object",
      "id": "CloudArmor",
      "properties": {
        "requests": {
          "$ref": "Requests"
        },
        "adaptiveProtection": {
          "$ref": "AdaptiveProtection"
        },
        "attack": {
          "$ref": "Attack"
        },
        "securityPolicy": {
          "$ref": "SecurityPolicy"
        },
        "threatVector": {
          "type": "string"
        },
        "duration": {
          "format": "google-duration",
          "type": "string"
        }
      }
    },
    "Role": {
      "type": "object",
      "id": "Role",
      "properties": {
        "ns": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "kind": {
          "enum": [
            "KIND_UNSPECIFIED",
            "ROLE",
            "CLUSTER_ROLE"
          ],
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "type": "string"
        }
      }
    },
    "Exfiltration": {
      "type": "object",
      "id": "Exfiltration",
      "properties": {
        "sources": {
          "type": "array",
          "items": {
            "$ref": "ExfilResource"
          }
        },
        "targets": {
          "type": "array",
          "items": {
            "$ref": "ExfilResource"
          }
        },
        "totalExfiltratedBytes": {
          "type": "string",
          "format": "int64"
        }
      }
    },
    "Package": {
      "properties": {
        "packageName": {
          "type": "string"
        },
        "cpeUri": {
          "type": "string"
        },
        "packageVersion": {
          "type": "string"
        },
        "packageType": {
          "type": "string"
        }
      },
      "id": "Package",
      "type": "object"
    },
    "DynamicMuteRecord": {
      "properties": {
        "matchTime": {
          "type": "string",
          "format": "google-datetime"
        },
        "muteConfig": {
          "type": "string"
        }
      },
      "id": "DynamicMuteRecord",
      "type": "object"
    },
    "AdcApplicationTemplateRevision": {
      "properties": {
        "name": {
          "type": "string"
        }
      },
      "id": "AdcApplicationTemplateRevision",
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2ProcessSignature": {
      "type": "object",
      "properties": {
        "memoryHashSignature": {
          "$ref": "GoogleCloudSecuritycenterV2MemoryHashSignature"
        },
        "signatureType": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "SIGNATURE_TYPE_UNSPECIFIED",
            "SIGNATURE_TYPE_PROCESS",
            "SIGNATURE_TYPE_FILE"
          ]
        },
        "yaraRuleSignature": {
          "$ref": "GoogleCloudSecuritycenterV2YaraRuleSignature"
        }
      },
      "id": "GoogleCloudSecuritycenterV2ProcessSignature"
    },
    "GoogleCloudSecuritycenterV2ResourceApplicationAttributesEnvironment": {
      "type": "object",
      "properties": {
        "type": {
          "enum": [
            "ENVIRONMENT_TYPE_UNSPECIFIED",
            "PRODUCTION",
            "STAGING",
            "TEST",
            "DEVELOPMENT"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ]
        }
      },
      "id": "GoogleCloudSecuritycenterV2ResourceApplicationAttributesEnvironment"
    },
    "GoogleCloudSecuritycenterV2ComplianceDetails": {
      "id": "GoogleCloudSecuritycenterV2ComplianceDetails",
      "properties": {
        "cloudControlDeploymentNames": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "cloudControl": {
          "$ref": "GoogleCloudSecuritycenterV2CloudControl"
        },
        "frameworks": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2Framework"
          }
        }
      },
      "type": "object"
    },
    "IamBinding": {
      "properties": {
        "member": {
          "type": "string"
        },
        "action": {
          "enum": [
            "ACTION_UNSPECIFIED",
            "ADD",
            "REMOVE"
          ],
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "type": "string"
        },
        "role": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "IamBinding"
    },
    "DetectorReference": {
      "type": "object",
      "id": "DetectorReference",
      "properties": {
        "detectorId": {
          "type": "string"
        },
        "severity": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "SEVERITY_UNSPECIFIED",
            "CRITICAL",
            "HIGH",
            "MEDIUM",
            "LOW"
          ]
        },
        "displayName": {
          "type": "string"
        },
        "explanation": {
          "type": "string"
        },
        "recommendation": {
          "type": "string"
        }
      }
    },
    "GoogleCloudSecuritycenterV2AttackExposure": {
      "properties": {
        "attackExposureResult": {
          "type": "string"
        },
        "score": {
          "type": "number",
          "format": "double"
        },
        "exposedLowValueResourcesCount": {
          "format": "int32",
          "type": "integer"
        },
        "latestCalculationTime": {
          "type": "string",
          "format": "google-datetime"
        },
        "exposedHighValueResourcesCount": {
          "type": "integer",
          "format": "int32"
        },
        "exposedMediumValueResourcesCount": {
          "format": "int32",
          "type": "integer"
        },
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "CALCULATED",
            "NOT_CALCULATED"
          ],
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "readOnly": true,
          "type": "string"
        }
      },
      "id": "GoogleCloudSecuritycenterV2AttackExposure",
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2CloudArmor": {
      "properties": {
        "duration": {
          "format": "google-duration",
          "type": "string"
        },
        "attack": {
          "$ref": "GoogleCloudSecuritycenterV2Attack"
        },
        "securityPolicy": {
          "$ref": "GoogleCloudSecuritycenterV2SecurityPolicy"
        },
        "adaptiveProtection": {
          "$ref": "GoogleCloudSecuritycenterV2AdaptiveProtection"
        },
        "threatVector": {
          "type": "string"
        },
        "requests": {
          "$ref": "GoogleCloudSecuritycenterV2Requests"
        }
      },
      "id": "GoogleCloudSecuritycenterV2CloudArmor",
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2CloudControl": {
      "properties": {
        "type": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "CLOUD_CONTROL_TYPE_UNSPECIFIED",
            "BUILT_IN",
            "CUSTOM"
          ]
        },
        "policyType": {
          "type": "string"
        },
        "version": {
          "type": "integer",
          "format": "int32"
        },
        "cloudControlName": {
          "type": "string"
        }
      },
      "id": "GoogleCloudSecuritycenterV2CloudControl",
      "type": "object"
    },
    "GoogleCloudSecuritycenterV1IamRolePermission": {
      "type": "object",
      "id": "GoogleCloudSecuritycenterV1IamRolePermission",
      "properties": {
        "role": {
          "type": "string"
        },
        "name": {
          "type": "string"
        }
      }
    },
    "GoogleCloudSecuritycenterV2Job": {
      "id": "GoogleCloudSecuritycenterV2Job",
      "type": "object",
      "properties": {
        "state": {
          "enum": [
            "JOB_STATE_UNSPECIFIED",
            "PENDING",
            "RUNNING",
            "SUCCEEDED",
            "FAILED"
          ],
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ]
        },
        "location": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "errorCode": {
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "AzureMetadata": {
      "type": "object",
      "id": "AzureMetadata",
      "properties": {
        "subscription": {
          "$ref": "AzureSubscription"
        },
        "resourceGroup": {
          "$ref": "AzureResourceGroup"
        },
        "tenant": {
          "$ref": "AzureTenant"
        },
        "managementGroups": {
          "type": "array",
          "items": {
            "$ref": "AzureManagementGroup"
          }
        }
      }
    },
    "LoadBalancer": {
      "properties": {
        "name": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "LoadBalancer"
    },
    "GoogleCloudSecuritycenterV2Cve": {
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2Cve",
      "properties": {
        "exploitReleaseDate": {
          "type": "string",
          "format": "google-datetime"
        },
        "cvssv3": {
          "$ref": "GoogleCloudSecuritycenterV2Cvssv3"
        },
        "firstExploitationDate": {
          "type": "string",
          "format": "google-datetime"
        },
        "references": {
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2Reference"
          },
          "type": "array"
        },
        "upstreamFixAvailable": {
          "type": "boolean"
        },
        "observedInTheWild": {
          "type": "boolean"
        },
        "impact": {
          "enum": [
            "RISK_RATING_UNSPECIFIED",
            "LOW",
            "MEDIUM",
            "HIGH",
            "CRITICAL"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ],
          "type": "string"
        },
        "id": {
          "type": "string"
        },
        "zeroDay": {
          "type": "boolean"
        },
        "exploitationActivity": {
          "type": "string",
          "enum": [
            "EXPLOITATION_ACTIVITY_UNSPECIFIED",
            "WIDE",
            "CONFIRMED",
            "AVAILABLE",
            "ANTICIPATED",
            "NO_KNOWN"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            ""
          ]
        }
      }
    },
    "GoogleCloudSecuritycenterV1ResourceApplicationAttributes": {
      "type": "object",
      "id": "GoogleCloudSecuritycenterV1ResourceApplicationAttributes",
      "properties": {
        "developerOwners": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV1ResourceApplicationAttributesContactInfo"
          }
        },
        "environment": {
          "$ref": "GoogleCloudSecuritycenterV1ResourceApplicationAttributesEnvironment"
        },
        "operatorOwners": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV1ResourceApplicationAttributesContactInfo"
          }
        },
        "businessOwners": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV1ResourceApplicationAttributesContactInfo"
          }
        },
        "criticality": {
          "$ref": "GoogleCloudSecuritycenterV1ResourceApplicationAttributesCriticality"
        }
      }
    },
    "GoogleCloudSecuritycenterV2ExternalExposure": {
      "id": "GoogleCloudSecuritycenterV2ExternalExposure",
      "type": "object",
      "properties": {
        "internalBackendService": {
          "type": "string"
        },
        "networkPathInsightsGenerationTime": {
          "type": "string",
          "format": "google-datetime"
        },
        "forwardingRule": {
          "type": "string"
        },
        "backendService": {
          "type": "string"
        },
        "privateIpAddress": {
          "type": "string"
        },
        "privatePort": {
          "type": "string"
        },
        "exposedEndpoint": {
          "type": "string"
        },
        "pscServiceAttachment": {
          "type": "string"
        },
        "exposedService": {
          "type": "string"
        },
        "pscNetworkAttachment": {
          "type": "string"
        },
        "backendBucket": {
          "type": "string"
        },
        "hostnameUri": {
          "type": "string"
        },
        "serviceFirewallPolicy": {
          "type": "string"
        },
        "exposedApplication": {
          "type": "string"
        },
        "publicPort": {
          "type": "string"
        },
        "networkIngressFirewallPolicy": {
          "type": "string"
        },
        "instanceGroup": {
          "type": "string"
        },
        "httpResponse": {
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2HttpResponse"
          },
          "type": "array"
        },
        "networkEndpointGroup": {
          "type": "string"
        },
        "loadBalancerFirewallPolicy": {
          "type": "string"
        },
        "publicIpAddress": {
          "type": "string"
        }
      }
    },
    "GoogleCloudSecuritycenterV2BackupDisasterRecovery": {
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2BackupDisasterRecovery",
      "properties": {
        "host": {
          "type": "string"
        },
        "policyOptions": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "appliance": {
          "type": "string"
        },
        "backupTemplate": {
          "type": "string"
        },
        "backupType": {
          "type": "string"
        },
        "applications": {
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "profile": {
          "type": "string"
        },
        "storagePool": {
          "type": "string"
        },
        "backupCreateTime": {
          "type": "string",
          "format": "google-datetime"
        },
        "policies": {
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "OrgPolicy": {
      "properties": {
        "name": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "OrgPolicy"
    },
    "GoogleCloudSecuritycenterV2ServiceAccountDelegationInfo": {
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2ServiceAccountDelegationInfo",
      "properties": {
        "principalSubject": {
          "type": "string"
        },
        "principalEmail": {
          "type": "string"
        }
      }
    },
    "GoogleCloudSecuritycenterV2MuteInfo": {
      "properties": {
        "staticMute": {
          "$ref": "GoogleCloudSecuritycenterV2StaticMute"
        },
        "dynamicMuteRecords": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2DynamicMuteRecord"
          }
        }
      },
      "id": "GoogleCloudSecuritycenterV2MuteInfo",
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2Process": {
      "properties": {
        "userId": {
          "format": "int64",
          "type": "string"
        },
        "argumentsTruncated": {
          "type": "boolean"
        },
        "script": {
          "$ref": "GoogleCloudSecuritycenterV2File"
        },
        "args": {
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "envVariables": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2EnvironmentVariable"
          }
        },
        "parentPid": {
          "type": "string",
          "format": "int64"
        },
        "libraries": {
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2File"
          },
          "type": "array"
        },
        "name": {
          "type": "string"
        },
        "pid": {
          "format": "int64",
          "type": "string"
        },
        "binary": {
          "$ref": "GoogleCloudSecuritycenterV2File"
        },
        "envVariablesTruncated": {
          "type": "boolean"
        }
      },
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2Process"
    },
    "GoogleCloudSecuritycenterV2AgentAnomaly": {
      "type": "object",
      "properties": {
        "confidenceScore": {
          "type": "number",
          "format": "double"
        },
        "detectorReferences": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2DetectorReference"
          }
        },
        "invocationReferences": {
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2InvocationReference"
          },
          "type": "array"
        }
      },
      "id": "GoogleCloudSecuritycenterV2AgentAnomaly"
    },
    "SecurityHealthAnalyticsSettings": {
      "id": "SecurityHealthAnalyticsSettings",
      "properties": {
        "updateTime": {
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "modules": {
          "type": "object",
          "additionalProperties": {
            "$ref": "Config"
          }
        },
        "serviceEnablementState": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "ENABLEMENT_STATE_UNSPECIFIED",
            "INHERITED",
            "ENABLED",
            "DISABLED"
          ]
        },
        "name": {
          "type": "string"
        },
        "serviceAccount": {
          "type": "string",
          "readOnly": true
        }
      },
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2File": {
      "properties": {
        "hashedSize": {
          "type": "string",
          "format": "int64"
        },
        "sha256": {
          "type": "string"
        },
        "fileLoadState": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "FILE_LOAD_STATE_UNSPECIFIED",
            "LOADED_BY_PROCESS",
            "NOT_LOADED_BY_PROCESS"
          ]
        },
        "path": {
          "type": "string"
        },
        "contents": {
          "type": "string"
        },
        "size": {
          "format": "int64",
          "type": "string"
        },
        "operations": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2FileOperation"
          }
        },
        "diskPath": {
          "$ref": "GoogleCloudSecuritycenterV2DiskPath"
        },
        "partiallyHashed": {
          "type": "boolean"
        }
      },
      "id": "GoogleCloudSecuritycenterV2File",
      "type": "object"
    },
    "Cvssv3": {
      "id": "Cvssv3",
      "type": "object",
      "properties": {
        "confidentialityImpact": {
          "enum": [
            "IMPACT_UNSPECIFIED",
            "IMPACT_HIGH",
            "IMPACT_LOW",
            "IMPACT_NONE"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "type": "string"
        },
        "attackComplexity": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "ATTACK_COMPLEXITY_UNSPECIFIED",
            "ATTACK_COMPLEXITY_LOW",
            "ATTACK_COMPLEXITY_HIGH"
          ]
        },
        "privilegesRequired": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "PRIVILEGES_REQUIRED_UNSPECIFIED",
            "PRIVILEGES_REQUIRED_NONE",
            "PRIVILEGES_REQUIRED_LOW",
            "PRIVILEGES_REQUIRED_HIGH"
          ]
        },
        "baseScore": {
          "type": "number",
          "format": "double"
        },
        "attackVector": {
          "enum": [
            "ATTACK_VECTOR_UNSPECIFIED",
            "ATTACK_VECTOR_NETWORK",
            "ATTACK_VECTOR_ADJACENT",
            "ATTACK_VECTOR_LOCAL",
            "ATTACK_VECTOR_PHYSICAL"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ]
        },
        "scope": {
          "enum": [
            "SCOPE_UNSPECIFIED",
            "SCOPE_UNCHANGED",
            "SCOPE_CHANGED"
          ],
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "type": "string"
        },
        "userInteraction": {
          "type": "string",
          "enum": [
            "USER_INTERACTION_UNSPECIFIED",
            "USER_INTERACTION_NONE",
            "USER_INTERACTION_REQUIRED"
          ],
          "enumDescriptions": [
            "",
            "",
            ""
          ]
        },
        "integrityImpact": {
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "IMPACT_UNSPECIFIED",
            "IMPACT_HIGH",
            "IMPACT_LOW",
            "IMPACT_NONE"
          ]
        },
        "availabilityImpact": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "IMPACT_UNSPECIFIED",
            "IMPACT_HIGH",
            "IMPACT_LOW",
            "IMPACT_NONE"
          ]
        }
      }
    },
    "Kubernetes": {
      "type": "object",
      "id": "Kubernetes",
      "properties": {
        "accessReviews": {
          "type": "array",
          "items": {
            "$ref": "AccessReview"
          }
        },
        "bindings": {
          "items": {
            "$ref": "GoogleCloudSecuritycenterV1Binding"
          },
          "type": "array"
        },
        "pods": {
          "type": "array",
          "items": {
            "$ref": "Pod"
          }
        },
        "roles": {
          "type": "array",
          "items": {
            "$ref": "Role"
          }
        },
        "nodePools": {
          "items": {
            "$ref": "NodePool"
          },
          "type": "array"
        },
        "nodes": {
          "type": "array",
          "items": {
            "$ref": "Node"
          }
        },
        "objects": {
          "type": "array",
          "items": {
            "$ref": "Object"
          }
        }
      }
    },
    "AdcApplication": {
      "properties": {
        "attributes": {
          "$ref": "GoogleCloudSecuritycenterV1ResourceApplicationAttributes"
        },
        "name": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "AdcApplication"
    },
    "AzureResourceGroup": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string"
        },
        "name": {
          "type": "string"
        }
      },
      "id": "AzureResourceGroup"
    },
    "ExportFindingsMetadata": {
      "id": "ExportFindingsMetadata",
      "type": "object",
      "properties": {
        "exportStartTime": {
          "type": "string",
          "format": "google-datetime"
        },
        "bigQueryDestination": {
          "$ref": "BigQueryDestination"
        }
      }
    },
    "GoogleCloudSecuritycenterV1CustomConfig": {
      "id": "GoogleCloudSecuritycenterV1CustomConfig",
      "properties": {
        "description": {
          "type": "string"
        },
        "recommendation": {
          "type": "string"
        },
        "severity": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "SEVERITY_UNSPECIFIED",
            "CRITICAL",
            "HIGH",
            "MEDIUM",
            "LOW"
          ]
        },
        "customOutput": {
          "$ref": "GoogleCloudSecuritycenterV1CustomOutputSpec"
        },
        "resourceSelector": {
          "$ref": "GoogleCloudSecuritycenterV1ResourceSelector"
        },
        "predicate": {
          "$ref": "Expr"
        }
      },
      "type": "object"
    },
    "GoogleCloudSecuritycenterV1CustomOutputSpec": {
      "properties": {
        "properties": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV1Property"
          }
        }
      },
      "type": "object",
      "id": "GoogleCloudSecuritycenterV1CustomOutputSpec"
    },
    "Pod": {
      "properties": {
        "name": {
          "type": "string"
        },
        "labels": {
          "items": {
            "$ref": "Label"
          },
          "type": "array"
        },
        "containers": {
          "type": "array",
          "items": {
            "$ref": "Container"
          }
        },
        "ns": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "Pod"
    },
    "GoogleCloudSecuritycenterV1ResourceApplicationAttributesCriticality": {
      "properties": {
        "type": {
          "enum": [
            "CRITICALITY_TYPE_UNSPECIFIED",
            "MISSION_CRITICAL",
            "HIGH",
            "MEDIUM",
            "LOW"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ],
          "type": "string"
        }
      },
      "id": "GoogleCloudSecuritycenterV1ResourceApplicationAttributesCriticality",
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2IssueFindingSecurityBulletin": {
      "properties": {
        "name": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2IssueFindingSecurityBulletin"
    },
    "StaticMute": {
      "type": "object",
      "id": "StaticMute",
      "properties": {
        "state": {
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "MUTE_UNSPECIFIED",
            "MUTED",
            "UNMUTED",
            "UNDEFINED"
          ]
        },
        "applyTime": {
          "type": "string",
          "format": "google-datetime"
        }
      }
    },
    "Pipeline": {
      "properties": {
        "name": {
          "type": "string"
        },
        "displayName": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "Pipeline"
    },
    "WebSecurityScannerSettings": {
      "type": "object",
      "id": "WebSecurityScannerSettings",
      "properties": {
        "modules": {
          "type": "object",
          "additionalProperties": {
            "$ref": "Config"
          }
        },
        "serviceEnablementState": {
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "ENABLEMENT_STATE_UNSPECIFIED",
            "INHERITED",
            "ENABLED",
            "DISABLED"
          ],
          "type": "string"
        },
        "updateTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "name": {
          "type": "string"
        }
      }
    },
    "GoogleCloudSecuritycenterV2DetectorReference": {
      "id": "GoogleCloudSecuritycenterV2DetectorReference",
      "properties": {
        "detectorId": {
          "type": "string"
        },
        "displayName": {
          "type": "string"
        },
        "explanation": {
          "type": "string"
        },
        "severity": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "SEVERITY_UNSPECIFIED",
            "CRITICAL",
            "HIGH",
            "MEDIUM",
            "LOW"
          ]
        },
        "recommendation": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "MuteInfo": {
      "id": "MuteInfo",
      "type": "object",
      "properties": {
        "dynamicMuteRecords": {
          "items": {
            "$ref": "DynamicMuteRecord"
          },
          "type": "array"
        },
        "staticMute": {
          "$ref": "StaticMute"
        }
      }
    },
    "GoogleCloudSecuritycenterV2Application": {
      "id": "GoogleCloudSecuritycenterV2Application",
      "properties": {
        "baseUri": {
          "type": "string"
        },
        "fullUri": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2NotificationMessage": {
      "id": "GoogleCloudSecuritycenterV2NotificationMessage",
      "type": "object",
      "properties": {
        "resource": {
          "$ref": "GoogleCloudSecuritycenterV2Resource"
        },
        "finding": {
          "$ref": "GoogleCloudSecuritycenterV2Finding"
        },
        "notificationConfigName": {
          "type": "string"
        }
      }
    },
    "GoogleCloudSecuritycenterV2ResourceValueConfig": {
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2ResourceValueConfig",
      "properties": {
        "resourceType": {
          "type": "string"
        },
        "resourceValue": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "RESOURCE_VALUE_UNSPECIFIED",
            "HIGH",
            "MEDIUM",
            "LOW",
[...]
