{
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "discoveryVersion": "v1",
  "parameters": {
    "$.xgafv": {
      "enum": [
        "1",
        "2"
      ],
      "location": "query",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string",
      "description": "V1 error format."
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query",
      "type": "string"
    },
    "prettyPrint": {
      "location": "query",
      "default": "true",
      "type": "boolean",
      "description": "Returns response with indentations and line breaks."
    },
    "upload_protocol": {
      "type": "string",
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "oauth_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth 2.0 token for the current user."
    },
    "uploadType": {
      "type": "string",
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "alt": {
      "location": "query",
      "default": "json",
      "description": "Data format for response.",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "type": "string",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ]
    },
    "quotaUser": {
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string"
    },
    "callback": {
      "location": "query",
      "type": "string",
      "description": "JSONP"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query",
      "type": "string"
    }
  },
  "canonicalName": "Security Command Center",
  "name": "securitycenter",
  "batchPath": "batch",
  "rootUrl": "https://securitycenter.googleapis.com/",
  "ownerDomain": "google.com",
  "ownerName": "Google",
  "version": "v1beta2",
  "title": "Security Command Center API",
  "description": "Security Command Center API provides access to temporal views of assets and findings within an organization.",
  "id": "securitycenter:v1beta2",
  "servicePath": "",
  "endpoints": [
    {
      "endpointUrl": "https://securitycenter.me-central2.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "me-central2"
    },
    {
      "location": "us",
      "endpointUrl": "https://securitycenter.us.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://securitycenter.eu.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "eu"
    }
  ],
  "baseUrl": "https://securitycenter.googleapis.com/",
  "mtlsRootUrl": "https://securitycenter.mtls.googleapis.com/",
  "fullyEncodeReservedExpansion": true,
  "basePath": "",
  "resources": {
    "organizations": {
      "resources": {
        "webSecurityScannerSettings": {
          "methods": {
            "calculate": {
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/securitycenter"
              ],
              "id": "securitycenter.organizations.webSecurityScannerSettings.calculate",
              "httpMethod": "GET",
              "path": "v1beta2/{+name}:calculate",
              "response": {
                "$ref": "WebSecurityScannerSettings"
              },
              "flatPath": "v1beta2/organizations/{organizationsId}/webSecurityScannerSettings:calculate",
              "parameters": {
                "name": {
                  "required": true,
                  "type": "string",
                  "pattern": "^organizations/[^/]+/webSecurityScannerSettings$",
                  "location": "path"
                },
                "showEligibleModulesOnly": {
                  "location": "query",
                  "type": "boolean"
                }
              },
              "description": ""
            }
          }
        },
        "securityHealthAnalyticsSettings": {
          "methods": {
            "calculate": {
              "path": "v1beta2/{+name}:calculate",
              "parameters": {
                "name": {
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "pattern": "^organizations/[^/]+/securityHealthAnalyticsSettings$"
                },
                "showEligibleModulesOnly": {
                  "location": "query",
                  "type": "boolean"
                }
              },
              "response": {
                "$ref": "SecurityHealthAnalyticsSettings"
              },
              "flatPath": "v1beta2/organizations/{organizationsId}/securityHealthAnalyticsSettings:calculate",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/securitycenter"
              ],
              "httpMethod": "GET",
              "parameterOrder": [
                "name"
              ],
              "id": "securitycenter.organizations.securityHealthAnalyticsSettings.calculate",
              "description": ""
            }
          }
        },
        "rapidVulnerabilityDetectionSettings": {
          "methods": {
            "calculate": {
              "flatPath": "v1beta2/organizations/{organizationsId}/rapidVulnerabilityDetectionSettings:calculate",
              "response": {
                "$ref": "RapidVulnerabilityDetectionSettings"
              },
              "path": "v1beta2/{+name}:calculate",
              "description": "",
              "httpMethod": "GET",
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/securitycenter"
              ],
              "parameters": {
                "name": {
                  "pattern": "^organizations/[^/]+/rapidVulnerabilityDetectionSettings$",
                  "required": true,
                  "type": "string",
                  "location": "path"
                }
              },
              "id": "securitycenter.organizations.rapidVulnerabilityDetectionSettings.calculate"
            }
          }
        },
        "virtualMachineThreatDetectionSettings": {
          "methods": {
            "calculate": {
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/securitycenter"
              ],
              "response": {
                "$ref": "VirtualMachineThreatDetectionSettings"
              },
              "flatPath": "v1beta2/organizations/{organizationsId}/virtualMachineThreatDetectionSettings:calculate",
              "path": "v1beta2/{+name}:calculate",
              "id": "securitycenter.organizations.virtualMachineThreatDetectionSettings.calculate",
              "parameters": {
                "name": {
                  "location": "path",
                  "pattern": "^organizations/[^/]+/virtualMachineThreatDetectionSettings$",
                  "type": "string",
                  "required": true
                },
                "showEligibleModulesOnly": {
                  "type": "boolean",
                  "location": "query"
                }
              },
              "description": ""
            }
          }
        },
        "containerThreatDetectionSettings": {
          "methods": {
            "calculate": {
              "parameters": {
                "name": {
                  "location": "path",
                  "pattern": "^organizations/[^/]+/containerThreatDetectionSettings$",
                  "type": "string",
                  "required": true
                },
                "showEligibleModulesOnly": {
                  "location": "query",
                  "type": "boolean"
                }
              },
              "httpMethod": "GET",
              "flatPath": "v1beta2/organizations/{organizationsId}/containerThreatDetectionSettings:calculate",
              "description": "",
              "response": {
                "$ref": "ContainerThreatDetectionSettings"
              },
              "parameterOrder": [
                "name"
              ],
              "id": "securitycenter.organizations.containerThreatDetectionSettings.calculate",
              "path": "v1beta2/{+name}:calculate",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/securitycenter"
              ]
            }
          }
        },
        "eventThreatDetectionSettings": {
          "methods": {
            "calculate": {
              "httpMethod": "GET",
              "flatPath": "v1beta2/organizations/{organizationsId}/eventThreatDetectionSettings:calculate",
              "response": {
                "$ref": "EventThreatDetectionSettings"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/securitycenter"
              ],
              "path": "v1beta2/{+name}:calculate",
              "id": "securitycenter.organizations.eventThreatDetectionSettings.calculate",
              "description": "",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "pattern": "^organizations/[^/]+/eventThreatDetectionSettings$",
                  "required": true,
                  "type": "string",
                  "location": "path"
                },
                "showEligibleModulesOnly": {
                  "type": "boolean",
                  "location": "query"
                }
              }
            }
          }
        }
      },
      "methods": {
        "updateSecurityHealthAnalyticsSettings": {
          "id": "securitycenter.organizations.updateSecurityHealthAnalyticsSettings",
          "description": "",
          "parameters": {
            "updateMask": {
              "format": "google-fieldmask",
              "location": "query",
              "type": "string"
            },
            "name": {
              "type": "string",
              "pattern": "^organizations/[^/]+/securityHealthAnalyticsSettings$",
              "required": true,
              "location": "path"
            }
          },
          "path": "v1beta2/{+name}",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/securitycenter"
          ],
          "parameterOrder": [
            "name"
          ],
          "request": {
            "$ref": "SecurityHealthAnalyticsSettings"
          },
          "flatPath": "v1beta2/organizations/{organizationsId}/securityHealthAnalyticsSettings",
          "response": {
            "$ref": "SecurityHealthAnalyticsSettings"
          },
          "httpMethod": "PATCH"
        },
        "updateVirtualMachineThreatDetectionSettings": {
          "parameters": {
            "updateMask": {
              "location": "query",
              "type": "string",
              "format": "google-fieldmask"
            },
            "name": {
              "pattern": "^organizations/[^/]+/virtualMachineThreatDetectionSettings$",
              "required": true,
              "type": "string",
              "location": "path"
            }
          },
          "flatPath": "v1beta2/organizations/{organizationsId}/virtualMachineThreatDetectionSettings",
          "response": {
            "$ref": "VirtualMachineThreatDetectionSettings"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/securitycenter"
          ],
          "parameterOrder": [
            "name"
          ],
          "path": "v1beta2/{+name}",
          "id": "securitycenter.organizations.updateVirtualMachineThreatDetectionSettings",
          "description": "",
          "httpMethod": "PATCH",
          "request": {
            "$ref": "VirtualMachineThreatDetectionSettings"
          }
        },
        "getRapidVulnerabilityDetectionSettings": {
          "path": "v1beta2/{+name}",
          "id": "securitycenter.organizations.getRapidVulnerabilityDetectionSettings",
          "parameters": {
            "name": {
              "type": "string",
              "location": "path",
              "required": true,
              "pattern": "^organizations/[^/]+/rapidVulnerabilityDetectionSettings$"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/securitycenter"
          ],
          "description": "",
          "parameterOrder": [
            "name"
          ],
          "flatPath": "v1beta2/organizations/{organizationsId}/rapidVulnerabilityDetectionSettings",
          "response": {
            "$ref": "RapidVulnerabilityDetectionSettings"
          },
          "httpMethod": "GET"
        },
        "updateWebSecurityScannerSettings": {
          "httpMethod": "PATCH",
          "response": {
            "$ref": "WebSecurityScannerSettings"
          },
          "flatPath": "v1beta2/organizations/{organizationsId}/webSecurityScannerSettings",
          "request": {
            "$ref": "WebSecurityScannerSettings"
          },
          "parameterOrder": [
            "name"
          ],
          "description": "",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/securitycenter"
          ],
          "path": "v1beta2/{+name}",
          "id": "securitycenter.organizations.updateWebSecurityScannerSettings",
          "parameters": {
            "name": {
              "pattern": "^organizations/[^/]+/webSecurityScannerSettings$",
              "required": true,
              "location": "path",
              "type": "string"
            },
            "updateMask": {
              "location": "query",
              "type": "string",
              "format": "google-fieldmask"
            }
          }
        },
        "getSubscription": {
          "description": "",
          "response": {
            "$ref": "Subscription"
          },
          "parameters": {
            "name": {
              "location": "path",
              "type": "string",
              "required": true,
              "pattern": "^organizations/[^/]+/subscription$"
            }
          },
          "flatPath": "v1beta2/organizations/{organizationsId}/subscription",
          "id": "securitycenter.organizations.getSubscription",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/securitycenter"
          ],
          "httpMethod": "GET",
          "path": "v1beta2/{+name}",
          "parameterOrder": [
            "name"
          ]
        },
        "updateEventThreatDetectionSettings": {
          "id": "securitycenter.organizations.updateEventThreatDetectionSettings",
          "path": "v1beta2/{+name}",
          "httpMethod": "PATCH",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/securitycenter"
          ],
          "request": {
            "$ref": "EventThreatDetectionSettings"
          },
          "parameterOrder": [
            "name"
          ],
          "flatPath": "v1beta2/organizations/{organizationsId}/eventThreatDetectionSettings",
          "parameters": {
            "name": {
              "required": true,
              "type": "string",
              "location": "path",
              "pattern": "^organizations/[^/]+/eventThreatDetectionSettings$"
            },
            "updateMask": {
              "format": "google-fieldmask",
              "type": "string",
              "location": "query"
            }
          },
          "response": {
            "$ref": "EventThreatDetectionSettings"
          },
          "description": ""
        },
        "getSecurityHealthAnalyticsSettings": {
          "flatPath": "v1beta2/organizations/{organizationsId}/securityHealthAnalyticsSettings",
          "response": {
            "$ref": "SecurityHealthAnalyticsSettings"
          },
          "path": "v1beta2/{+name}",
          "id": "securitycenter.organizations.getSecurityHealthAnalyticsSettings",
          "httpMethod": "GET",
          "parameterOrder": [
            "name"
          ],
          "description": "",
          "parameters": {
            "name": {
              "required": true,
              "type": "string",
              "location": "path",
              "pattern": "^organizations/[^/]+/securityHealthAnalyticsSettings$"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/securitycenter"
          ]
        },
        "getContainerThreatDetectionSettings": {
          "httpMethod": "GET",
          "id": "securitycenter.organizations.getContainerThreatDetectionSettings",
          "path": "v1beta2/{+name}",
          "flatPath": "v1beta2/organizations/{organizationsId}/containerThreatDetectionSettings",
          "response": {
            "$ref": "ContainerThreatDetectionSettings"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/securitycenter"
          ],
          "parameters": {
            "name": {
              "location": "path",
              "type": "string",
              "pattern": "^organizations/[^/]+/containerThreatDetectionSettings$",
              "required": true
            }
          },
          "description": "",
          "parameterOrder": [
            "name"
          ]
        },
        "getEventThreatDetectionSettings": {
          "httpMethod": "GET",
          "description": "",
          "path": "v1beta2/{+name}",
          "parameterOrder": [
            "name"
          ],
          "flatPath": "v1beta2/organizations/{organizationsId}/eventThreatDetectionSettings",
          "id": "securitycenter.organizations.getEventThreatDetectionSettings",
          "response": {
            "$ref": "EventThreatDetectionSettings"
          },
          "parameters": {
            "name": {
              "location": "path",
              "type": "string",
              "required": true,
              "pattern": "^organizations/[^/]+/eventThreatDetectionSettings$"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/securitycenter"
          ]
        },
        "getWebSecurityScannerSettings": {
          "parameters": {
            "name": {
              "pattern": "^organizations/[^/]+/webSecurityScannerSettings$",
              "location": "path",
              "type": "string",
              "required": true
            }
          },
          "parameterOrder": [
            "name"
          ],
          "httpMethod": "GET",
          "description": "",
          "id": "securitycenter.organizations.getWebSecurityScannerSettings",
          "flatPath": "v1beta2/organizations/{organizationsId}/webSecurityScannerSettings",
          "path": "v1beta2/{+name}",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/securitycenter"
          ],
          "response": {
            "$ref": "WebSecurityScannerSettings"
          }
        },
        "updateContainerThreatDetectionSettings": {
          "request": {
            "$ref": "ContainerThreatDetectionSettings"
          },
          "parameterOrder": [
            "name"
          ],
          "httpMethod": "PATCH",
          "description": "",
          "response": {
            "$ref": "ContainerThreatDetectionSettings"
          },
          "flatPath": "v1beta2/organizations/{organizationsId}/containerThreatDetectionSettings",
          "path": "v1beta2/{+name}",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/securitycenter"
          ],
          "id": "securitycenter.organizations.updateContainerThreatDetectionSettings",
          "parameters": {
            "name": {
              "pattern": "^organizations/[^/]+/containerThreatDetectionSettings$",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "updateMask": {
              "format": "google-fieldmask",
              "location": "query",
              "type": "string"
            }
          }
        },
        "updateRapidVulnerabilityDetectionSettings": {
          "request": {
            "$ref": "RapidVulnerabilityDetectionSettings"
          },
          "parameterOrder": [
            "name"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/securitycenter"
          ],
          "httpMethod": "PATCH",
          "response": {
            "$ref": "RapidVulnerabilityDetectionSettings"
          },
          "flatPath": "v1beta2/organizations/{organizationsId}/rapidVulnerabilityDetectionSettings",
          "id": "securitycenter.organizations.updateRapidVulnerabilityDetectionSettings",
          "parameters": {
            "updateMask": {
              "format": "google-fieldmask",
              "type": "string",
              "location": "query"
            },
            "name": {
              "location": "path",
              "required": true,
              "type": "string",
              "pattern": "^organizations/[^/]+/rapidVulnerabilityDetectionSettings$"
            }
          },
          "path": "v1beta2/{+name}",
          "description": ""
        },
        "getVirtualMachineThreatDetectionSettings": {
          "path": "v1beta2/{+name}",
          "parameters": {
            "name": {
              "required": true,
              "pattern": "^organizations/[^/]+/virtualMachineThreatDetectionSettings$",
              "location": "path",
              "type": "string"
            }
          },
          "description": "",
          "parameterOrder": [
            "name"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/securitycenter"
          ],
          "response": {
            "$ref": "VirtualMachineThreatDetectionSettings"
          },
          "flatPath": "v1beta2/organizations/{organizationsId}/virtualMachineThreatDetectionSettings",
          "id": "securitycenter.organizations.getVirtualMachineThreatDetectionSettings",
          "httpMethod": "GET"
        },
        "getSecurityCenterSettings": {
          "description": "",
          "parameterOrder": [
            "name"
          ],
          "parameters": {
            "name": {
              "pattern": "^organizations/[^/]+/securityCenterSettings$",
              "required": true,
              "location": "path",
              "type": "string"
            }
          },
          "response": {
            "$ref": "SecurityCenterSettings"
          },
          "flatPath": "v1beta2/organizations/{organizationsId}/securityCenterSettings",
          "httpMethod": "GET",
          "id": "securitycenter.organizations.getSecurityCenterSettings",
          "path": "v1beta2/{+name}",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/securitycenter"
          ]
        }
      }
    },
    "folders": {
      "resources": {
        "virtualMachineThreatDetectionSettings": {
          "methods": {
            "calculate": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/securitycenter"
              ],
              "id": "securitycenter.folders.virtualMachineThreatDetectionSettings.calculate",
              "flatPath": "v1beta2/folders/{foldersId}/virtualMachineThreatDetectionSettings:calculate",
              "response": {
                "$ref": "VirtualMachineThreatDetectionSettings"
              },
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "GET",
              "parameters": {
                "showEligibleModulesOnly": {
                  "location": "query",
                  "type": "boolean"
                },
                "name": {
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "pattern": "^folders/[^/]+/virtualMachineThreatDetectionSettings$"
                }
              },
              "path": "v1beta2/{+name}:calculate",
              "description": ""
            }
          }
        },
        "eventThreatDetectionSettings": {
          "methods": {
            "calculate": {
              "path": "v1beta2/{+name}:calculate",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/securitycenter"
              ],
              "parameters": {
                "showEligibleModulesOnly": {
                  "type": "boolean",
                  "location": "query"
                },
                "name": {
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "pattern": "^folders/[^/]+/eventThreatDetectionSettings$"
                }
              },
              "description": "",
              "parameterOrder": [
                "name"
              ],
              "id": "securitycenter.folders.eventThreatDetectionSettings.calculate",
              "flatPath": "v1beta2/folders/{foldersId}/eventThreatDetectionSettings:calculate",
              "response": {
                "$ref": "EventThreatDetectionSettings"
              },
              "httpMethod": "GET"
            }
          }
        },
        "securityHealthAnalyticsSettings": {
          "methods": {
            "calculate": {
              "httpMethod": "GET",
              "parameterOrder": [
                "name"
              ],
              "path": "v1beta2/{+name}:calculate",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/securitycenter"
              ],
              "parameters": {
                "name": {
                  "pattern": "^folders/[^/]+/securityHealthAnalyticsSettings$",
                  "type": "string",
                  "required": true,
                  "location": "path"
                },
                "showEligibleModulesOnly": {
                  "location": "query",
                  "type": "boolean"
                }
              },
              "description": "",
              "id": "securitycenter.folders.securityHealthAnalyticsSettings.calculate",
              "response": {
                "$ref": "SecurityHealthAnalyticsSettings"
              },
              "flatPath": "v1beta2/folders/{foldersId}/securityHealthAnalyticsSettings:calculate"
            }
          }
        },
        "webSecurityScannerSettings": {
          "methods": {
            "calculate": {
              "parameters": {
                "showEligibleModulesOnly": {
                  "location": "query",
                  "type": "boolean"
                },
                "name": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "pattern": "^folders/[^/]+/webSecurityScannerSettings$"
                }
              },
              "description": "",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/securitycenter"
              ],
              "path": "v1beta2/{+name}:calculate",
              "flatPath": "v1beta2/folders/{foldersId}/webSecurityScannerSettings:calculate",
              "id": "securitycenter.folders.webSecurityScannerSettings.calculate",
              "response": {
                "$ref": "WebSecurityScannerSettings"
              },
              "httpMethod": "GET",
              "parameterOrder": [
                "name"
              ]
            }
          }
        },
        "containerThreatDetectionSettings": {
          "methods": {
            "calculate": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/securitycenter"
              ],
              "parameters": {
                "name": {
                  "type": "string",
                  "location": "path",
                  "pattern": "^folders/[^/]+/containerThreatDetectionSettings$",
                  "required": true
                },
                "showEligibleModulesOnly": {
                  "location": "query",
                  "type": "boolean"
                }
              },
              "path": "v1beta2/{+name}:calculate",
              "response": {
                "$ref": "ContainerThreatDetectionSettings"
              },
              "httpMethod": "GET",
              "flatPath": "v1beta2/folders/{foldersId}/containerThreatDetectionSettings:calculate",
              "description": "",
              "id": "securitycenter.folders.containerThreatDetectionSettings.calculate",
              "parameterOrder": [
                "name"
              ]
            }
          }
        },
        "rapidVulnerabilityDetectionSettings": {
          "methods": {
            "calculate": {
              "id": "securitycenter.folders.rapidVulnerabilityDetectionSettings.calculate",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "pattern": "^folders/[^/]+/rapidVulnerabilityDetectionSettings$",
                  "required": true,
                  "type": "string",
                  "location": "path"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/securitycenter"
              ],
              "path": "v1beta2/{+name}:calculate",
              "flatPath": "v1beta2/folders/{foldersId}/rapidVulnerabilityDetectionSettings:calculate",
              "response": {
                "$ref": "RapidVulnerabilityDetectionSettings"
              },
              "description": "",
              "httpMethod": "GET"
            }
          }
        }
      },
      "methods": {
        "updateVirtualMachineThreatDetectionSettings": {
          "description": "",
          "parameterOrder": [
            "name"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/securitycenter"
          ],
          "parameters": {
            "name": {
              "location": "path",
              "type": "string",
              "required": true,
              "pattern": "^folders/[^/]+/virtualMachineThreatDetectionSettings$"
            },
            "updateMask": {
              "type": "string",
              "format": "google-fieldmask",
              "location": "query"
            }
          },
          "request": {
            "$ref": "VirtualMachineThreatDetectionSettings"
          },
          "httpMethod": "PATCH",
          "id": "securitycenter.folders.updateVirtualMachineThreatDetectionSettings",
          "path": "v1beta2/{+name}",
          "response": {
            "$ref": "VirtualMachineThreatDetectionSettings"
          },
          "flatPath": "v1beta2/folders/{foldersId}/virtualMachineThreatDetectionSettings"
        },
        "getWebSecurityScannerSettings": {
          "path": "v1beta2/{+name}",
          "parameters": {
            "name": {
              "pattern": "^folders/[^/]+/webSecurityScannerSettings$",
              "type": "string",
              "location": "path",
              "required": true
            }
          },
          "id": "securitycenter.folders.getWebSecurityScannerSettings",
          "parameterOrder": [
            "name"
          ],
          "httpMethod": "GET",
          "description": "",
          "flatPath": "v1beta2/folders/{foldersId}/webSecurityScannerSettings",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/securitycenter"
          ],
          "response": {
            "$ref": "WebSecurityScannerSettings"
          }
        },
        "updateSecurityHealthAnalyticsSettings": {
          "id": "securitycenter.folders.updateSecurityHealthAnalyticsSettings",
          "request": {
            "$ref": "SecurityHealthAnalyticsSettings"
          },
          "parameters": {
            "updateMask": {
              "format": "google-fieldmask",
              "type": "string",
              "location": "query"
            },
            "name": {
              "type": "string",
              "location": "path",
              "pattern": "^folders/[^/]+/securityHealthAnalyticsSettings$",
              "required": true
            }
          },
          "response": {
            "$ref": "SecurityHealthAnalyticsSettings"
          },
          "flatPath": "v1beta2/folders/{foldersId}/securityHealthAnalyticsSettings",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/securitycenter"
          ],
          "description": "",
          "parameterOrder": [
            "name"
          ],
          "httpMethod": "PATCH",
          "path": "v1beta2/{+name}"
        },
        "updateContainerThreatDetectionSettings": {
          "parameters": {
            "updateMask": {
              "type": "string",
              "format": "google-fieldmask",
              "location": "query"
            },
            "name": {
              "pattern": "^folders/[^/]+/containerThreatDetectionSettings$",
              "location": "path",
              "type": "string",
              "required": true
            }
          },
          "path": "v1beta2/{+name}",
          "description": "",
          "parameterOrder": [
            "name"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/securitycenter"
          ],
          "request": {
            "$ref": "ContainerThreatDetectionSettings"
          },
          "response": {
            "$ref": "ContainerThreatDetectionSettings"
          },
          "httpMethod": "PATCH",
          "flatPath": "v1beta2/folders/{foldersId}/containerThreatDetectionSettings",
          "id": "securitycenter.folders.updateContainerThreatDetectionSettings"
        },
        "updateRapidVulnerabilityDetectionSettings": {
          "request": {
            "$ref": "RapidVulnerabilityDetectionSettings"
          },
          "httpMethod": "PATCH",
          "parameterOrder": [
            "name"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/securitycenter"
          ],
          "response": {
            "$ref": "RapidVulnerabilityDetectionSettings"
          },
          "flatPath": "v1beta2/folders/{foldersId}/rapidVulnerabilityDetectionSettings",
          "id": "securitycenter.folders.updateRapidVulnerabilityDetectionSettings",
          "path": "v1beta2/{+name}",
          "description": "",
          "parameters": {
            "name": {
              "type": "string",
              "required": true,
              "location": "path",
              "pattern": "^folders/[^/]+/rapidVulnerabilityDetectionSettings$"
            },
            "updateMask": {
              "location": "query",
              "format": "google-fieldmask",
              "type": "string"
            }
          }
        },
        "getEventThreatDetectionSettings": {
          "response": {
            "$ref": "EventThreatDetectionSettings"
          },
          "flatPath": "v1beta2/folders/{foldersId}/eventThreatDetectionSettings",
          "path": "v1beta2/{+name}",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/securitycenter"
          ],
          "id": "securitycenter.folders.getEventThreatDetectionSettings",
          "httpMethod": "GET",
          "parameterOrder": [
            "name"
          ],
          "parameters": {
            "name": {
              "type": "string",
              "location": "path",
              "required": true,
              "pattern": "^folders/[^/]+/eventThreatDetectionSettings$"
            }
          },
          "description": ""
        },
        "updateEventThreatDetectionSettings": {
          "request": {
            "$ref": "EventThreatDetectionSettings"
          },
          "httpMethod": "PATCH",
          "id": "securitycenter.folders.updateEventThreatDetectionSettings",
          "description": "",
          "flatPath": "v1beta2/folders/{foldersId}/eventThreatDetectionSettings",
          "path": "v1beta2/{+name}",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/securitycenter"
          ],
          "response": {
            "$ref": "EventThreatDetectionSettings"
          },
          "parameterOrder": [
            "name"
          ],
          "parameters": {
            "name": {
              "type": "string",
              "required": true,
              "pattern": "^folders/[^/]+/eventThreatDetectionSettings$",
              "location": "path"
            },
            "updateMask": {
              "type": "string",
              "format": "google-fieldmask",
              "location": "query"
            }
          }
        },
        "getSecurityHealthAnalyticsSettings": {
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/securitycenter"
          ],
          "id": "securitycenter.folders.getSecurityHealthAnalyticsSettings",
          "parameterOrder": [
            "name"
          ],
          "httpMethod": "GET",
          "path": "v1beta2/{+name}",
          "response": {
            "$ref": "SecurityHealthAnalyticsSettings"
          },
          "flatPath": "v1beta2/folders/{foldersId}/securityHealthAnalyticsSettings",
          "parameters": {
            "name": {
              "location": "path",
              "type": "string",
              "required": true,
              "pattern": "^folders/[^/]+/securityHealthAnalyticsSettings$"
            }
          },
          "description": ""
        },
        "getRapidVulnerabilityDetectionSettings": {
          "response": {
            "$ref": "RapidVulnerabilityDetectionSettings"
          },
          "path": "v1beta2/{+name}",
          "flatPath": "v1beta2/folders/{foldersId}/rapidVulnerabilityDetectionSettings",
          "parameters": {
            "name": {
              "required": true,
              "pattern": "^folders/[^/]+/rapidVulnerabilityDetectionSettings$",
              "location": "path",
              "type": "string"
            }
          },
          "description": "",
          "parameterOrder": [
            "name"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/securitycenter"
          ],
          "id": "securitycenter.folders.getRapidVulnerabilityDetectionSettings",
          "httpMethod": "GET"
        },
        "getVirtualMachineThreatDetectionSettings": {
          "id": "securitycenter.folders.getVirtualMachineThreatDetectionSettings",
          "path": "v1beta2/{+name}",
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/securitycenter"
          ],
          "flatPath": "v1beta2/folders/{foldersId}/virtualMachineThreatDetectionSettings",
          "parameters": {
            "name": {
              "pattern": "^folders/[^/]+/virtualMachineThreatDetectionSettings$",
              "type": "string",
              "required": true,
              "location": "path"
            }
          },
          "response": {
            "$ref": "VirtualMachineThreatDetectionSettings"
          },
          "description": "",
          "parameterOrder": [
            "name"
          ]
        },
        "updateWebSecurityScannerSettings": {
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/securitycenter"
          ],
          "parameters": {
            "name": {
              "location": "path",
              "required": true,
              "pattern": "^folders/[^/]+/webSecurityScannerSettings$",
              "type": "string"
            },
            "updateMask": {
              "type": "string",
              "location": "query",
              "format": "google-fieldmask"
            }
          },
          "description": "",
          "request": {
            "$ref": "WebSecurityScannerSettings"
          },
          "httpMethod": "PATCH",
          "parameterOrder": [
            "name"
          ],
          "id": "securitycenter.folders.updateWebSecurityScannerSettings",
          "response": {
            "$ref": "WebSecurityScannerSettings"
          },
          "flatPath": "v1beta2/folders/{foldersId}/webSecurityScannerSettings",
          "path": "v1beta2/{+name}"
        },
        "getContainerThreatDetectionSettings": {
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/securitycenter"
          ],
          "path": "v1beta2/{+name}",
          "httpMethod": "GET",
          "parameterOrder": [
            "name"
          ],
          "flatPath": "v1beta2/folders/{foldersId}/containerThreatDetectionSettings",
          "id": "securitycenter.folders.getContainerThreatDetectionSettings",
          "response": {
            "$ref": "ContainerThreatDetectionSettings"
          },
          "parameters": {
            "name": {
              "type": "string",
              "location": "path",
              "pattern": "^folders/[^/]+/containerThreatDetectionSettings$",
              "required": true
            }
          },
          "description": ""
        },
        "getSecurityCenterSettings": {
          "flatPath": "v1beta2/folders/{foldersId}/securityCenterSettings",
          "response": {
            "$ref": "SecurityCenterSettings"
          },
          "id": "securitycenter.folders.getSecurityCenterSettings",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/securitycenter"
          ],
          "parameters": {
            "name": {
              "pattern": "^folders/[^/]+/securityCenterSettings$",
              "type": "string",
              "required": true,
              "location": "path"
            }
          },
          "path": "v1beta2/{+name}",
          "httpMethod": "GET",
          "parameterOrder": [
            "name"
          ],
          "description": ""
        }
      }
    },
    "projects": {
      "resources": {
        "containerThreatDetectionSettings": {
          "methods": {
            "calculate": {
              "flatPath": "v1beta2/projects/{projectsId}/containerThreatDetectionSettings:calculate",
              "response": {
                "$ref": "ContainerThreatDetectionSettings"
              },
              "parameters": {
                "showEligibleModulesOnly": {
                  "type": "boolean",
                  "location": "query"
                },
                "name": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "pattern": "^projects/[^/]+/containerThreatDetectionSettings$"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/securitycenter"
              ],
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "GET",
              "description": "",
              "id": "securitycenter.projects.containerThreatDetectionSettings.calculate",
              "path": "v1beta2/{+name}:calculate"
            }
          }
        },
        "securityHealthAnalyticsSettings": {
          "methods": {
            "calculate": {
              "parameters": {
                "showEligibleModulesOnly": {
                  "type": "boolean",
                  "location": "query"
                },
                "name": {
                  "required": true,
                  "pattern": "^projects/[^/]+/securityHealthAnalyticsSettings$",
                  "location": "path",
                  "type": "string"
                }
              },
              "id": "securitycenter.projects.securityHealthAnalyticsSettings.calculate",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/securitycenter"
              ],
              "path": "v1beta2/{+name}:calculate",
              "flatPath": "v1beta2/projects/{projectsId}/securityHealthAnalyticsSettings:calculate",
              "response": {
                "$ref": "SecurityHealthAnalyticsSettings"
              },
              "httpMethod": "GET",
              "parameterOrder": [
                "name"
              ],
              "description": ""
            }
          }
        },
        "webSecurityScannerSettings": {
          "methods": {
            "calculate": {
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "location": "path",
                  "required": true,
                  "pattern": "^projects/[^/]+/webSecurityScannerSettings$",
                  "type": "string"
                },
                "showEligibleModulesOnly": {
                  "location": "query",
                  "type": "boolean"
                }
              },
              "id": "securitycenter.projects.webSecurityScannerSettings.calculate",
              "response": {
                "$ref": "WebSecurityScannerSettings"
              },
              "description": "",
              "flatPath": "v1beta2/projects/{projectsId}/webSecurityScannerSettings:calculate",
              "path": "v1beta2/{+name}:calculate",
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/securitycenter"
              ]
            }
          }
        },
        "rapidVulnerabilityDetectionSettings": {
          "methods": {
            "calculate": {
              "description": "",
              "path": "v1beta2/{+name}:calculate",
              "parameters": {
                "name": {
                  "pattern": "^projects/[^/]+/rapidVulnerabilityDetectionSettings$",
                  "required": true,
                  "location": "path",
                  "type": "string"
                }
              },
              "flatPath": "v1beta2/projects/{projectsId}/rapidVulnerabilityDetectionSettings:calculate",
              "response": {
                "$ref": "RapidVulnerabilityDetectionSettings"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/securitycenter"
              ],
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "GET",
              "id": "securitycenter.projects.rapidVulnerabilityDetectionSettings.calculate"
            }
          }
        },
        "eventThreatDetectionSettings": {
          "methods": {
            "calculate": {
              "httpMethod": "GET",
              "flatPath": "v1beta2/projects/{projectsId}/eventThreatDetectionSettings:calculate",
              "response": {
                "$ref": "EventThreatDetectionSettings"
              },
              "parameterOrder": [
                "name"
              ],
              "path": "v1beta2/{+name}:calculate",
              "id": "securitycenter.projects.eventThreatDetectionSettings.calculate",
              "parameters": {
                "name": {
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "pattern": "^projects/[^/]+/eventThreatDetectionSettings$"
                },
                "showEligibleModulesOnly": {
                  "type": "boolean",
                  "location": "query"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/securitycenter"
              ],
              "description": ""
            }
          }
        },
        "virtualMachineThreatDetectionSettings": {
          "methods": {
            "calculate": {
              "parameters": {
                "showEligibleModulesOnly": {
                  "location": "query",
                  "type": "boolean"
                },
                "name": {
                  "pattern": "^projects/[^/]+/virtualMachineThreatDetectionSettings$",
                  "required": true,
                  "location": "path",
                  "type": "string"
                }
              },
              "flatPath": "v1beta2/projects/{projectsId}/virtualMachineThreatDetectionSettings:calculate",
              "response": {
                "$ref": "VirtualMachineThreatDetectionSettings"
              },
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/securitycenter"
              ],
              "id": "securitycenter.projects.virtualMachineThreatDetectionSettings.calculate",
              "path": "v1beta2/{+name}:calculate",
              "description": "",
              "httpMethod": "GET"
            }
          }
        },
        "locations": {
          "resources": {
            "clusters": {
              "resources": {
                "containerThreatDetectionSettings": {
                  "methods": {
                    "calculate": {
                      "flatPath": "v1beta2/projects/{projectsId}/locations/{locationsId}/clusters/{clustersId}/containerThreatDetectionSettings:calculate",
                      "response": {
                        "$ref": "ContainerThreatDetectionSettings"
                      },
                      "description": "",
                      "path": "v1beta2/{+name}:calculate",
                      "parameterOrder": [
                        "name"
                      ],
                      "httpMethod": "GET",
                      "parameters": {
                        "name": {
                          "location": "path",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/clusters/[^/]+/containerThreatDetectionSettings$",
                          "type": "string"
                        },
                        "showEligibleModulesOnly": {
                          "type": "boolean",
                          "location": "query"
                        }
                      },
                      "id": "securitycenter.projects.locations.clusters.containerThreatDetectionSettings.calculate",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/securitycenter"
                      ]
                    }
                  }
                }
              },
              "methods": {
                "updateContainerThreatDetectionSettings": {
                  "request": {
                    "$ref": "ContainerThreatDetectionSettings"
                  },
                  "parameters": {
                    "name": {
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/clusters/[^/]+/containerThreatDetectionSettings$",
                      "required": true,
                      "location": "path"
                    },
                    "updateMask": {
                      "format": "google-fieldmask",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "path": "v1beta2/{+name}",
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/securitycenter"
                  ],
                  "response": {
                    "$ref": "ContainerThreatDetectionSettings"
                  },
                  "flatPath": "v1beta2/projects/{projectsId}/locations/{locationsId}/clusters/{clustersId}/containerThreatDetectionSettings",
                  "id": "securitycenter.projects.locations.clusters.updateContainerThreatDetectionSettings",
                  "httpMethod": "PATCH"
                },
                "getContainerThreatDetectionSettings": {
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "ContainerThreatDetectionSettings"
                  },
                  "flatPath": "v1beta2/projects/{projectsId}/locations/{locationsId}/clusters/{clustersId}/containerThreatDetectionSettings",
                  "id": "securitycenter.projects.locations.clusters.getContainerThreatDetectionSettings",
                  "description": "",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/clusters/[^/]+/containerThreatDetectionSettings$"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/securitycenter"
                  ],
                  "path": "v1beta2/{+name}"
                }
              }
            }
          }
        }
      },
      "methods": {
        "updateRapidVulnerabilityDetectionSettings": {
          "httpMethod": "PATCH",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/securitycenter"
          ],
          "id": "securitycenter.projects.updateRapidVulnerabilityDetectionSettings",
          "description": "",
          "request": {
            "$ref": "RapidVulnerabilityDetectionSettings"
          },
          "response": {
            "$ref": "RapidVulnerabilityDetectionSettings"
          },
          "flatPath": "v1beta2/projects/{projectsId}/rapidVulnerabilityDetectionSettings",
          "parameters": {
            "updateMask": {
              "location": "query",
              "format": "google-fieldmask",
              "type": "string"
            },
            "name": {
              "pattern": "^projects/[^/]+/rapidVulnerabilityDetectionSettings$",
              "required": true,
              "type": "string",
              "location": "path"
            }
          },
          "path": "v1beta2/{+name}",
          "parameterOrder": [
            "name"
          ]
        },
        "getVirtualMachineThreatDetectionSettings": {
          "path": "v1beta2/{+name}",
          "parameterOrder": [
            "name"
          ],
          "response": {
            "$ref": "VirtualMachineThreatDetectionSettings"
          },
          "parameters": {
            "name": {
              "type": "string",
              "location": "path",
              "pattern": "^projects/[^/]+/virtualMachineThreatDetectionSettings$",
              "required": true
            }
          },
          "flatPath": "v1beta2/projects/{projectsId}/virtualMachineThreatDetectionSettings",
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/securitycenter"
          ],
          "id": "securitycenter.projects.getVirtualMachineThreatDetectionSettings",
          "description": ""
        },
        "getSecurityCenterSettings": {
          "path": "v1beta2/{+name}",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/securitycenter"
          ],
          "description": "",
          "httpMethod": "GET",
          "flatPath": "v1beta2/projects/{projectsId}/securityCenterSettings",
          "response": {
            "$ref": "SecurityCenterSettings"
          },
          "parameters": {
            "name": {
              "location": "path",
              "type": "string",
              "required": true,
              "pattern": "^projects/[^/]+/securityCenterSettings$"
            }
          },
          "parameterOrder": [
            "name"
          ],
          "id": "securitycenter.projects.getSecurityCenterSettings"
        },
        "getEventThreatDetectionSettings": {
          "httpMethod": "GET",
          "path": "v1beta2/{+name}",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/securitycenter"
          ],
          "description": "",
          "parameters": {
            "name": {
              "pattern": "^projects/[^/]+/eventThreatDetectionSettings$",
              "required": true,
              "type": "string",
              "location": "path"
            }
          },
          "parameterOrder": [
            "name"
          ],
          "response": {
            "$ref": "EventThreatDetectionSettings"
          },
          "flatPath": "v1beta2/projects/{projectsId}/eventThreatDetectionSettings",
          "id": "securitycenter.projects.getEventThreatDetectionSettings"
        },
        "getRapidVulnerabilityDetectionSettings": {
          "path": "v1beta2/{+name}",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/securitycenter"
          ],
          "response": {
            "$ref": "RapidVulnerabilityDetectionSettings"
          },
          "flatPath": "v1beta2/projects/{projectsId}/rapidVulnerabilityDetectionSettings",
          "parameterOrder": [
            "name"
          ],
          "httpMethod": "GET",
          "parameters": {
            "name": {
              "location": "path",
              "required": true,
              "type": "string",
              "pattern": "^projects/[^/]+/rapidVulnerabilityDetectionSettings$"
            }
          },
          "id": "securitycenter.projects.getRapidVulnerabilityDetectionSettings",
          "description": ""
        },
        "updateWebSecurityScannerSettings": {
          "id": "securitycenter.projects.updateWebSecurityScannerSettings",
          "parameterOrder": [
            "name"
          ],
          "flatPath": "v1beta2/projects/{projectsId}/webSecurityScannerSettings",
          "response": {
            "$ref": "WebSecurityScannerSettings"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/securitycenter"
          ],
          "description": "",
          "httpMethod": "PATCH",
          "parameters": {
            "updateMask": {
              "type": "string",
              "format": "google-fieldmask",
              "location": "query"
            },
            "name": {
              "pattern": "^projects/[^/]+/webSecurityScannerSettings$",
              "required": true,
              "type": "string",
              "location": "path"
            }
          },
          "path": "v1beta2/{+name}",
          "request": {
            "$ref": "WebSecurityScannerSettings"
          }
        },
        "updateEventThreatDetectionSettings": {
          "parameterOrder": [
            "name"
          ],
          "parameters": {
            "updateMask": {
              "format": "google-fieldmask",
              "type": "string",
              "location": "query"
            },
            "name": {
              "required": true,
              "location": "path",
              "pattern": "^projects/[^/]+/eventThreatDetectionSettings$",
              "type": "string"
            }
          },
          "request": {
            "$ref": "EventThreatDetectionSettings"
          },
          "id": "securitycenter.projects.updateEventThreatDetectionSettings",
          "httpMethod": "PATCH",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/securitycenter"
          ],
          "path": "v1beta2/{+name}",
          "response": {
            "$ref": "EventThreatDetectionSettings"
          },
          "flatPath": "v1beta2/projects/{projectsId}/eventThreatDetectionSettings",
          "description": ""
        },
        "getSecurityHealthAnalyticsSettings": {
          "parameters": {
            "name": {
              "pattern": "^projects/[^/]+/securityHealthAnalyticsSettings$",
              "required": true,
              "type": "string",
              "location": "path"
            }
          },
          "path": "v1beta2/{+name}",
          "response": {
            "$ref": "SecurityHealthAnalyticsSettings"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/securitycenter"
          ],
          "flatPath": "v1beta2/projects/{projectsId}/securityHealthAnalyticsSettings",
          "id": "securitycenter.projects.getSecurityHealthAnalyticsSettings",
          "description": "",
          "parameterOrder": [
            "name"
          ],
          "httpMethod": "GET"
        },
        "updateContainerThreatDetectionSettings": {
          "path": "v1beta2/{+name}",
          "parameterOrder": [
            "name"
          ],
          "parameters": {
            "updateMask": {
              "location": "query",
              "format": "google-fieldmask",
              "type": "string"
            },
            "name": {
              "type": "string",
              "pattern": "^projects/[^/]+/containerThreatDetectionSettings$",
              "required": true,
              "location": "path"
            }
          },
          "response": {
            "$ref": "ContainerThreatDetectionSettings"
          },
          "flatPath": "v1beta2/projects/{projectsId}/containerThreatDetectionSettings",
          "description": "",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/securitycenter"
          ],
          "httpMethod": "PATCH",
          "id": "securitycenter.projects.updateContainerThreatDetectionSettings",
          "request": {
            "$ref": "ContainerThreatDetectionSettings"
          }
        },
        "updateSecurityHealthAnalyticsSettings": {
          "path": "v1beta2/{+name}",
          "description": "",
          "parameters": {
            "name": {
              "required": true,
              "type": "string",
              "location": "path",
              "pattern": "^projects/[^/]+/securityHealthAnalyticsSettings$"
            },
            "updateMask": {
              "location": "query",
              "type": "string",
              "format": "google-fieldmask"
            }
          },
          "id": "securitycenter.projects.updateSecurityHealthAnalyticsSettings",
          "httpMethod": "PATCH",
          "response": {
            "$ref": "SecurityHealthAnalyticsSettings"
          },
          "flatPath": "v1beta2/projects/{projectsId}/securityHealthAnalyticsSettings",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/securitycenter"
          ],
          "request": {
            "$ref": "SecurityHealthAnalyticsSettings"
          },
          "parameterOrder": [
            "name"
          ]
        },
        "updateVirtualMachineThreatDetectionSettings": {
          "httpMethod": "PATCH",
          "path": "v1beta2/{+name}",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/securitycenter"
          ],
          "flatPath": "v1beta2/projects/{projectsId}/virtualMachineThreatDetectionSettings",
          "response": {
            "$ref": "VirtualMachineThreatDetectionSettings"
          },
          "request": {
            "$ref": "VirtualMachineThreatDetectionSettings"
          },
          "parameterOrder": [
            "name"
          ],
          "description": "",
          "parameters": {
            "name": {
              "type": "string",
              "location": "path",
              "pattern": "^projects/[^/]+/virtualMachineThreatDetectionSettings$",
              "required": true
            },
            "updateMask": {
              "type": "string",
              "format": "google-fieldmask",
              "location": "query"
            }
          },
          "id": "securitycenter.projects.updateVirtualMachineThreatDetectionSettings"
        },
        "getWebSecurityScannerSettings": {
          "id": "securitycenter.projects.getWebSecurityScannerSettings",
          "response": {
            "$ref": "WebSecurityScannerSettings"
          },
          "path": "v1beta2/{+name}",
          "flatPath": "v1beta2/projects/{projectsId}/webSecurityScannerSettings",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/securitycenter"
          ],
          "parameterOrder": [
            "name"
          ],
          "httpMethod": "GET",
          "parameters": {
            "name": {
              "location": "path",
              "pattern": "^projects/[^/]+/webSecurityScannerSettings$",
              "required": true,
              "type": "string"
            }
          },
          "description": ""
        },
        "getContainerThreatDetectionSettings": {
          "httpMethod": "GET",
          "parameterOrder": [
            "name"
          ],
          "response": {
            "$ref": "ContainerThreatDetectionSettings"
          },
          "description": "",
          "path": "v1beta2/{+name}",
          "flatPath": "v1beta2/projects/{projectsId}/containerThreatDetectionSettings",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/securitycenter"
          ],
          "id": "securitycenter.projects.getContainerThreatDetectionSettings",
          "parameters": {
            "name": {
              "required": true,
              "location": "path",
              "pattern": "^projects/[^/]+/containerThreatDetectionSettings$",
              "type": "string"
            }
          }
        }
      }
    }
  },
  "revision": "20260911",
  "schemas": {
    "DataAccessEvent": {
      "id": "DataAccessEvent",
      "type": "object",
      "properties": {
        "eventTime": {
          "type": "string",
          "format": "google-datetime"
        },
        "principalEmail": {
          "type": "string"
        },
        "operation": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "OPERATION_UNSPECIFIED",
            "READ",
            "MOVE",
            "COPY"
          ]
        },
        "eventId": {
          "type": "string"
        }
      }
    },
    "GoogleCloudSecuritycenterV2Exfiltration": {
      "id": "GoogleCloudSecuritycenterV2Exfiltration",
      "type": "object",
      "properties": {
        "targets": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2ExfilResource"
          }
        },
        "totalExfiltratedBytes": {
          "format": "int64",
          "type": "string"
        },
        "sources": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2ExfilResource"
          }
        }
      }
    },
    "VirtualMachineThreatDetectionSettings": {
      "properties": {
        "serviceEnablementState": {
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "ENABLEMENT_STATE_UNSPECIFIED",
            "INHERITED",
            "ENABLED",
            "DISABLED"
          ]
        },
        "serviceAccount": {
          "readOnly": true,
          "type": "string"
        },
        "updateTime": {
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "modules": {
          "type": "object",
          "additionalProperties": {
            "$ref": "Config"
          }
        }
      },
      "id": "VirtualMachineThreatDetectionSettings",
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2IssueSecurityContextAggregatedCount": {
      "id": "GoogleCloudSecuritycenterV2IssueSecurityContextAggregatedCount",
      "properties": {
        "value": {
          "type": "integer",
          "format": "int32"
        },
        "key": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "CloudLoggingEntry": {
      "properties": {
        "insertId": {
          "type": "string"
        },
        "resourceContainer": {
          "type": "string"
        },
        "logId": {
          "type": "string"
        },
        "timestamp": {
          "format": "google-datetime",
          "type": "string"
        }
      },
      "type": "object",
      "id": "CloudLoggingEntry"
    },
    "GoogleCloudSecuritycenterV1BigQueryExport": {
      "id": "GoogleCloudSecuritycenterV1BigQueryExport",
      "type": "object",
      "properties": {
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "updateTime": {
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "dataset": {
          "type": "string"
        },
        "mostRecentEditor": {
          "type": "string",
          "readOnly": true
        },
        "principal": {
          "readOnly": true,
          "type": "string"
        },
        "description": {
          "type": "string"
        },
        "filter": {
          "type": "string"
        },
        "name": {
          "type": "string"
        }
      }
    },
    "GoogleCloudSecuritycenterV2CloudArmor": {
      "properties": {
        "securityPolicy": {
          "$ref": "GoogleCloudSecuritycenterV2SecurityPolicy"
        },
        "requests": {
          "$ref": "GoogleCloudSecuritycenterV2Requests"
        },
        "duration": {
          "type": "string",
          "format": "google-duration"
        },
        "threatVector": {
          "type": "string"
        },
        "attack": {
          "$ref": "GoogleCloudSecuritycenterV2Attack"
        },
        "adaptiveProtection": {
          "$ref": "GoogleCloudSecuritycenterV2AdaptiveProtection"
        }
      },
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2CloudArmor"
    },
    "DiskPath": {
      "id": "DiskPath",
      "type": "object",
      "properties": {
        "partitionUuid": {
          "type": "string"
        },
        "relativePath": {
          "type": "string"
        }
      }
    },
    "GoogleCloudSecuritycenterV2IssueResourceApplicationAttributesContactInfo": {
      "id": "GoogleCloudSecuritycenterV2IssueResourceApplicationAttributesContactInfo",
      "type": "object",
      "properties": {
        "email": {
          "type": "string"
        }
      }
    },
    "Dataset": {
      "id": "Dataset",
      "type": "object",
      "properties": {
        "displayName": {
          "type": "string"
        },
        "source": {
          "type": "string"
        },
        "name": {
          "type": "string"
        }
      }
    },
    "GcpMetadata": {
      "id": "GcpMetadata",
      "properties": {
        "projectDisplayName": {
          "type": "string"
        },
        "organization": {
          "type": "string"
        },
        "project": {
          "type": "string"
        },
        "folders": {
          "readOnly": true,
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2Folder"
          },
          "type": "array"
        },
        "parent": {
          "type": "string"
        },
        "parentDisplayName": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2IssueResourceApplicationAttributesCriticality": {
      "properties": {
        "type": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "CRITICALITY_TYPE_UNSPECIFIED",
            "MISSION_CRITICAL",
            "HIGH",
            "MEDIUM",
            "LOW"
          ],
          "type": "string"
        }
      },
      "id": "GoogleCloudSecuritycenterV2IssueResourceApplicationAttributesCriticality",
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2Pipeline": {
      "id": "GoogleCloudSecuritycenterV2Pipeline",
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        },
        "displayName": {
          "type": "string"
        }
      }
    },
    "GoogleCloudSecuritycenterV2AdaptiveProtection": {
      "id": "GoogleCloudSecuritycenterV2AdaptiveProtection",
      "properties": {
        "confidence": {
          "type": "number",
          "format": "double"
        }
      },
      "type": "object"
    },
    "MuteInfo": {
      "id": "MuteInfo",
      "properties": {
        "staticMute": {
          "$ref": "StaticMute"
        },
        "dynamicMuteRecords": {
          "type": "array",
          "items": {
            "$ref": "DynamicMuteRecord"
          }
        }
      },
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2CloudLoggingEntry": {
      "type": "object",
      "properties": {
        "resourceContainer": {
          "type": "string"
        },
        "timestamp": {
          "format": "google-datetime",
          "type": "string"
        },
        "insertId": {
          "type": "string"
        },
        "logId": {
          "type": "string"
        }
      },
      "id": "GoogleCloudSecuritycenterV2CloudLoggingEntry"
    },
    "GoogleCloudSecuritycenterV2AzureResourceGroup": {
      "id": "GoogleCloudSecuritycenterV2AzureResourceGroup",
      "properties": {
        "name": {
          "type": "string"
        },
        "id": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudSecuritycenterV1ResourceValueConfig": {
      "id": "GoogleCloudSecuritycenterV1ResourceValueConfig",
      "properties": {
        "sensitiveDataProtectionMapping": {
          "$ref": "GoogleCloudSecuritycenterV1SensitiveDataProtectionMapping"
        },
        "cloudProvider": {
          "type": "string",
          "enum": [
            "CLOUD_PROVIDER_UNSPECIFIED",
            "GOOGLE_CLOUD_PLATFORM",
            "AMAZON_WEB_SERVICES",
            "MICROSOFT_AZURE"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ]
        },
        "tagValues": {
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "createTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "scope": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "description": {
          "type": "string"
        },
        "resourceLabelsSelector": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "updateTime": {
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "resourceType": {
          "type": "string"
        },
        "resourceValue": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "RESOURCE_VALUE_UNSPECIFIED",
            "HIGH",
            "MEDIUM",
            "LOW",
            "NONE"
          ]
        }
      },
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2Framework": {
      "properties": {
        "name": {
          "type": "string"
        },
        "type": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "FRAMEWORK_TYPE_UNSPECIFIED",
            "FRAMEWORK_TYPE_BUILT_IN",
            "FRAMEWORK_TYPE_CUSTOM"
          ]
        },
        "category": {
          "items": {
            "enum": [
              "FRAMEWORK_CATEGORY_UNSPECIFIED",
              "SECURITY_BENCHMARKS",
              "ASSURED_WORKLOADS",
              "DATA_SECURITY",
              "GOOGLE_BEST_PRACTICES",
              "CUSTOM_FRAMEWORK"
            ],
            "enumDescriptions": [
              "",
              "",
              "",
              "",
              "",
              ""
            ],
            "type": "string"
          },
          "type": "array"
        },
        "displayName": {
          "type": "string"
        },
        "controls": {
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2Control"
          },
          "type": "array"
        }
      },
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2Framework"
    },
    "GoogleCloudSecuritycenterV2ResourceApplicationAttributes": {
      "id": "GoogleCloudSecuritycenterV2ResourceApplicationAttributes",
      "properties": {
        "developerOwners": {
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2ResourceApplicationAttributesContactInfo"
          },
          "type": "array"
        },
        "environment": {
          "$ref": "GoogleCloudSecuritycenterV2ResourceApplicationAttributesEnvironment"
        },
        "operatorOwners": {
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2ResourceApplicationAttributesContactInfo"
          },
          "type": "array"
        },
        "businessOwners": {
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2ResourceApplicationAttributesContactInfo"
          },
          "type": "array"
        },
        "criticality": {
          "$ref": "GoogleCloudSecuritycenterV2ResourceApplicationAttributesCriticality"
        }
      },
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2IssueResourceAwsMetadata": {
      "id": "GoogleCloudSecuritycenterV2IssueResourceAwsMetadata",
      "properties": {
        "account": {
          "$ref": "GoogleCloudSecuritycenterV2IssueResourceAwsMetadataAwsAccount"
        }
      },
      "type": "object"
    },
    "AwsOrganizationalUnit": {
      "type": "object",
      "id": "AwsOrganizationalUnit",
      "properties": {
        "id": {
          "type": "string"
        },
        "name": {
          "type": "string"
        }
      }
    },
    "GoogleCloudSecuritycenterV2AzureManagementGroup": {
      "id": "GoogleCloudSecuritycenterV2AzureManagementGroup",
      "properties": {
        "displayName": {
          "type": "string"
        },
        "id": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2Requests": {
      "id": "GoogleCloudSecuritycenterV2Requests",
      "properties": {
        "longTermAllowed": {
          "type": "integer",
          "format": "int32"
        },
        "longTermDenied": {
          "format": "int32",
          "type": "integer"
        },
        "shortTermAllowed": {
          "type": "integer",
          "format": "int32"
        },
        "ratio": {
          "format": "double",
          "type": "number"
        }
      },
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2Denied": {
      "properties": {
        "ipRules": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2IpRule"
          }
        }
      },
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2Denied"
    },
    "GoogleCloudSecuritycenterV2DiscoveredWorkload": {
      "id": "GoogleCloudSecuritycenterV2DiscoveredWorkload",
      "properties": {
        "workloadType": {
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "WORKLOAD_TYPE_UNSPECIFIED",
            "MCP_SERVER",
            "AI_INFERENCE",
            "AGENT"
          ]
        },
        "confidence": {
          "type": "string",
          "enumDescriptions": [
            "",
            ""
          ],
          "enum": [
            "CONFIDENCE_UNSPECIFIED",
            "CONFIDENCE_HIGH"
          ]
        },
        "detectedRelevantHardware": {
          "type": "boolean"
        },
        "detectedRelevantPackages": {
          "type": "boolean"
        },
        "detectedRelevantKeywords": {
          "type": "boolean"
        }
      },
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2AgentDataAccessEvent": {
      "id": "GoogleCloudSecuritycenterV2AgentDataAccessEvent",
      "type": "object",
      "properties": {
        "operation": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "OPERATION_UNSPECIFIED",
            "READ",
            "MOVE",
            "COPY"
          ]
        },
        "eventTime": {
          "type": "string",
          "format": "google-datetime"
        },
        "principalSubject": {
          "type": "string"
        },
        "eventId": {
          "type": "string"
        }
      }
    },
    "GoogleCloudSecuritycenterV2Cwe": {
      "type": "object",
      "properties": {
        "references": {
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2Reference"
          },
          "type": "array"
        },
        "id": {
          "type": "string"
        }
      },
      "id": "GoogleCloudSecuritycenterV2Cwe"
    },
    "GoogleCloudSecuritycenterV2Disk": {
      "properties": {
        "name": {
          "type": "string"
        }
      },
      "id": "GoogleCloudSecuritycenterV2Disk",
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2IssueResourceApplicationAttributes": {
      "properties": {
        "criticality": {
          "$ref": "GoogleCloudSecuritycenterV2IssueResourceApplicationAttributesCriticality"
        },
        "developerOwners": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2IssueResourceApplicationAttributesContactInfo"
          }
        },
        "operatorOwners": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2IssueResourceApplicationAttributesContactInfo"
          }
        },
        "businessOwners": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2IssueResourceApplicationAttributesContactInfo"
          }
        },
        "environment": {
          "$ref": "GoogleCloudSecuritycenterV2IssueResourceApplicationAttributesEnvironment"
        }
      },
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2IssueResourceApplicationAttributes"
    },
    "GoogleCloudSecuritycenterV2Geolocation": {
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2Geolocation",
      "properties": {
        "regionCode": {
          "type": "string"
        }
      }
    },
    "LoadBalancer": {
      "type": "object",
      "id": "LoadBalancer",
      "properties": {
        "name": {
          "type": "string"
        }
      }
    },
    "Kubernetes": {
      "type": "object",
      "properties": {
        "bindings": {
          "items": {
            "$ref": "GoogleCloudSecuritycenterV1Binding"
          },
          "type": "array"
        },
        "accessReviews": {
          "type": "array",
          "items": {
            "$ref": "AccessReview"
          }
        },
        "objects": {
          "items": {
            "$ref": "Object"
          },
          "type": "array"
        },
        "pods": {
          "type": "array",
          "items": {
            "$ref": "Pod"
          }
        },
        "roles": {
          "type": "array",
          "items": {
            "$ref": "Role"
          }
        },
        "nodes": {
          "items": {
            "$ref": "Node"
          },
          "type": "array"
        },
        "nodePools": {
          "items": {
            "$ref": "NodePool"
          },
          "type": "array"
        }
      },
      "id": "Kubernetes"
    },
    "GoogleCloudSecuritycenterV2CloudDlpInspection": {
      "properties": {
        "infoType": {
          "type": "string"
        },
        "inspectJob": {
          "type": "string"
        },
        "infoTypeCount": {
          "type": "string",
          "format": "int64"
        },
        "fullScan": {
          "type": "boolean"
        }
      },
      "id": "GoogleCloudSecuritycenterV2CloudDlpInspection",
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2Resource": {
      "type": "object",
      "properties": {
        "application": {
          "$ref": "GoogleCloudSecuritycenterV2ResourceApplication"
        },
        "resourcePath": {
          "$ref": "GoogleCloudSecuritycenterV2ResourcePath"
        },
        "adcApplication": {
          "$ref": "GoogleCloudSecuritycenterV2AdcApplication"
        },
        "adcApplicationTemplate": {
          "$ref": "GoogleCloudSecuritycenterV2AdcApplicationTemplateRevision"
        },
        "displayName": {
          "type": "string"
        },
        "awsMetadata": {
          "$ref": "GoogleCloudSecuritycenterV2AwsMetadata"
        },
        "service": {
          "type": "string"
        },
        "cloudProvider": {
          "enum": [
            "CLOUD_PROVIDER_UNSPECIFIED",
            "GOOGLE_CLOUD_PLATFORM",
            "AMAZON_WEB_SERVICES",
            "MICROSOFT_AZURE"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "type": "string"
        },
        "azureMetadata": {
          "$ref": "GoogleCloudSecuritycenterV2AzureMetadata"
        },
        "resourcePathString": {
          "type": "string"
        },
        "adcSharedTemplate": {
          "$ref": "GoogleCloudSecuritycenterV2AdcSharedTemplateRevision"
        },
        "type": {
          "type": "string"
        },
        "location": {
          "type": "string"
        },
        "gcpMetadata": {
          "$ref": "GcpMetadata"
        },
        "name": {
          "type": "string"
        }
      },
      "id": "GoogleCloudSecuritycenterV2Resource"
    },
    "Process": {
      "type": "object",
      "id": "Process",
      "properties": {
        "envVariables": {
          "type": "array",
          "items": {
            "$ref": "EnvironmentVariable"
          }
        },
        "parentPid": {
          "type": "string",
          "format": "int64"
        },
        "userId": {
          "format": "int64",
          "type": "string"
        },
        "args": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "name": {
          "type": "string"
        },
        "binary": {
          "$ref": "File"
        },
        "argumentsTruncated": {
          "type": "boolean"
        },
        "envVariablesTruncated": {
          "type": "boolean"
        },
        "pid": {
          "format": "int64",
          "type": "string"
        },
        "script": {
          "$ref": "File"
        },
        "libraries": {
          "items": {
            "$ref": "File"
          },
          "type": "array"
        }
      }
    },
    "GoogleCloudSecuritycenterV2ProcessSignature": {
      "properties": {
        "signatureType": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "SIGNATURE_TYPE_UNSPECIFIED",
            "SIGNATURE_TYPE_PROCESS",
            "SIGNATURE_TYPE_FILE"
          ]
        },
        "memoryHashSignature": {
          "$ref": "GoogleCloudSecuritycenterV2MemoryHashSignature"
        },
        "yaraRuleSignature": {
          "$ref": "GoogleCloudSecuritycenterV2YaraRuleSignature"
        }
      },
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2ProcessSignature"
    },
    "GoogleCloudSecuritycenterV2Label": {
      "id": "GoogleCloudSecuritycenterV2Label",
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        },
        "value": {
          "type": "string"
        }
      }
    },
    "OrgPolicy": {
      "properties": {
        "name": {
          "type": "string"
        }
      },
      "id": "OrgPolicy",
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2AzureMetadata": {
      "id": "GoogleCloudSecuritycenterV2AzureMetadata",
      "type": "object",
      "properties": {
        "tenant": {
          "$ref": "GoogleCloudSecuritycenterV2AzureTenant"
        },
        "managementGroups": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2AzureManagementGroup"
          }
        },
        "subscription": {
          "$ref": "GoogleCloudSecuritycenterV2AzureSubscription"
        },
        "resourceGroup": {
          "$ref": "GoogleCloudSecuritycenterV2AzureResourceGroup"
        }
      }
    },
    "GoogleCloudSecuritycenterV2IssueResourceApplication": {
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2IssueResourceApplication",
      "properties": {
        "name": {
          "type": "string"
        },
        "attributes": {
          "$ref": "GoogleCloudSecuritycenterV2IssueResourceApplicationAttributes"
        }
      }
    },
    "GoogleCloudSecuritycenterV1p1beta1RunAssetDiscoveryResponse": {
      "type": "object",
      "properties": {
        "state": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "COMPLETED",
            "SUPERSEDED",
            "TERMINATED"
          ]
        },
        "duration": {
          "type": "string",
          "format": "google-duration"
        }
      },
      "id": "GoogleCloudSecuritycenterV1p1beta1RunAssetDiscoveryResponse"
    },
    "Detection": {
      "type": "object",
      "properties": {
        "binary": {
          "type": "string"
        },
        "percentPagesMatched": {
          "format": "double",
          "type": "number"
        }
      },
      "id": "Detection"
    },
    "Compliance": {
      "properties": {
        "version": {
          "type": "string"
        },
        "ids": {
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "standard": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "Compliance"
    },
    "CloudDlpDataProfile": {
      "type": "object",
      "id": "CloudDlpDataProfile",
      "properties": {
        "infoTypes": {
          "type": "array",
          "items": {
            "$ref": "InfoType"
          }
        },
        "parentType": {
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "PARENT_TYPE_UNSPECIFIED",
            "ORGANIZATION",
            "PROJECT"
          ]
        },
        "dataProfile": {
          "type": "string"
        }
      }
    },
    "GoogleCloudSecuritycenterV2BulkMuteFindingsResponse": {
      "type": "object",
      "properties": {},
      "id": "GoogleCloudSecuritycenterV2BulkMuteFindingsResponse"
    },
    "GoogleCloudSecuritycenterV1IamDetails": {
      "properties": {
        "iamRolePermissions": {
          "items": {
            "$ref": "GoogleCloudSecuritycenterV1IamRolePermission"
          },
          "type": "array"
        }
      },
      "type": "object",
      "id": "GoogleCloudSecuritycenterV1IamDetails"
    },
    "GoogleCloudSecuritycenterV2MuteConfig": {
      "properties": {
        "cryptoKeyName": {
          "readOnly": true,
          "type": "string"
        },
        "description": {
          "type": "string"
        },
        "createTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "expiryTime": {
          "format": "google-datetime",
          "type": "string"
        },
        "mostRecentEditor": {
          "type": "string",
          "readOnly": true
        },
        "name": {
          "type": "string"
        },
        "updateTime": {
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "filter": {
          "type": "string"
        },
        "type": {
          "type": "string",
          "enum": [
            "MUTE_CONFIG_TYPE_UNSPECIFIED",
            "STATIC",
            "DYNAMIC"
          ],
          "enumDescriptions": [
            "",
            "",
            ""
          ]
        }
      },
      "id": "GoogleCloudSecuritycenterV2MuteConfig",
      "type": "object"
    },
    "EventThreatDetectionSettings": {
      "type": "object",
      "id": "EventThreatDetectionSettings",
      "properties": {
        "modules": {
          "additionalProperties": {
            "$ref": "Config"
          },
          "type": "object"
        },
        "updateTime": {
          "format": "google-datetime",
          "type": "string",
          "readOnly": true
        },
        "serviceEnablementState": {
          "enum": [
            "ENABLEMENT_STATE_UNSPECIFIED",
            "INHERITED",
            "ENABLED",
            "DISABLED"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ]
        },
        "name": {
          "type": "string"
        }
      }
    },
    "Network": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        }
      },
      "id": "Network"
    },
    "PolicyViolationSummary": {
      "id": "PolicyViolationSummary",
      "properties": {
        "outOfScopeResourcesCount": {
          "type": "string",
          "format": "int64"
        },
        "conformantResourcesCount": {
          "format": "int64",
          "type": "string"
        },
        "evaluationErrorsCount": {
          "format": "int64",
          "type": "string"
        },
        "policyViolationsCount": {
          "format": "int64",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2SecurityPosture": {
      "type": "object",
      "properties": {
        "policy": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "policySet": {
          "type": "string"
        },
        "policyDriftDetails": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2PolicyDriftDetails"
          }
        },
        "postureDeploymentResource": {
          "type": "string"
        },
        "changedPolicy": {
          "type": "string"
        },
        "postureDeployment": {
          "type": "string"
        },
        "revisionId": {
          "type": "string"
        }
      },
      "id": "GoogleCloudSecuritycenterV2SecurityPosture"
    },
    "ResourcePath": {
      "type": "object",
      "properties": {
        "nodes": {
          "type": "array",
          "items": {
            "$ref": "ResourcePathNode"
          }
        }
      },
      "id": "ResourcePath"
    },
    "GoogleCloudSecuritycenterV2InfoType": {
      "id": "GoogleCloudSecuritycenterV2InfoType",
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        },
        "version": {
          "type": "string"
        },
        "sensitivityScore": {
          "$ref": "GoogleCloudSecuritycenterV2SensitivityScore"
        }
      }
    },
    "GoogleCloudSecuritycenterV2Connection": {
      "id": "GoogleCloudSecuritycenterV2Connection",
      "type": "object",
      "properties": {
        "protocol": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            ""
[...]
