{
  "mtlsRootUrl": "https://securitycenter.mtls.googleapis.com/",
  "servicePath": "",
  "description": "Security Command Center API provides access to temporal views of assets and findings within an organization.",
  "discoveryVersion": "v1",
  "ownerName": "Google",
  "rootUrl": "https://securitycenter.googleapis.com/",
  "version_module": true,
  "id": "securitycenter:v1",
  "documentationLink": "https://cloud.google.com/security-command-center",
  "schemas": {
    "GoogleCloudSecuritycenterV2Object": {
      "id": "GoogleCloudSecuritycenterV2Object",
      "type": "object",
      "properties": {
        "ns": {
          "type": "string"
        },
        "containers": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2Container"
          }
        },
        "name": {
          "type": "string"
        },
        "group": {
          "type": "string"
        },
        "kind": {
          "type": "string"
        }
      }
    },
    "VertexAi": {
      "properties": {
        "datasets": {
          "type": "array",
          "items": {
            "$ref": "Dataset"
          }
        },
        "pipelines": {
          "items": {
            "$ref": "Pipeline"
          },
          "type": "array"
        }
      },
      "id": "VertexAi",
      "type": "object"
    },
    "ListMuteConfigsResponse": {
      "type": "object",
      "properties": {
        "muteConfigs": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV1MuteConfig"
          }
        },
        "nextPageToken": {
          "type": "string"
        }
      },
      "id": "ListMuteConfigsResponse"
    },
    "GoogleCloudSecuritycenterV2IssueDomain": {
      "properties": {
        "domainCategory": {
          "type": "string",
          "enum": [
            "DOMAIN_CATEGORY_UNSPECIFIED",
            "AI",
            "CODE",
            "CONTAINER",
            "DATA",
            "IDENTITY_AND_ACCESS",
            "VULNERABILITY",
            "THREAT"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ]
        }
      },
      "id": "GoogleCloudSecuritycenterV2IssueDomain",
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2Binding": {
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2Binding",
      "properties": {
        "name": {
          "type": "string"
        },
        "role": {
          "$ref": "GoogleCloudSecuritycenterV2Role"
        },
        "subjects": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2Subject"
          }
        },
        "ns": {
          "type": "string"
        }
      }
    },
    "GoogleCloudSecuritycenterV2Dataset": {
      "properties": {
        "displayName": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "source": {
          "type": "string"
        }
      },
      "id": "GoogleCloudSecuritycenterV2Dataset",
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2ResourceApplicationAttributesCriticality": {
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2ResourceApplicationAttributesCriticality",
      "properties": {
        "type": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "CRITICALITY_TYPE_UNSPECIFIED",
            "MISSION_CRITICAL",
            "HIGH",
            "MEDIUM",
            "LOW"
          ]
        }
      }
    },
    "ServiceAccountDelegationInfo": {
      "id": "ServiceAccountDelegationInfo",
      "type": "object",
      "properties": {
        "principalEmail": {
          "type": "string"
        },
        "principalSubject": {
          "type": "string"
        }
      }
    },
    "Secret": {
      "properties": {
        "environmentVariable": {
          "$ref": "SecretEnvironmentVariable"
        },
        "type": {
          "type": "string"
        },
        "filePath": {
          "$ref": "SecretFilePath"
        },
        "status": {
          "$ref": "SecretStatus"
        }
      },
      "type": "object",
      "id": "Secret"
    },
    "ExportFindingsMetadata": {
      "id": "ExportFindingsMetadata",
      "type": "object",
      "properties": {
        "exportStartTime": {
          "type": "string",
          "format": "google-datetime"
        },
        "bigQueryDestination": {
          "$ref": "BigQueryDestination"
        }
      }
    },
    "ListAssetsResult": {
      "id": "ListAssetsResult",
      "type": "object",
      "properties": {
        "asset": {
          "$ref": "Asset"
        },
        "stateChange": {
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "UNUSED",
            "ADDED",
            "REMOVED",
            "ACTIVE"
          ]
        }
      }
    },
    "GoogleCloudSecuritycenterV2CloudControl": {
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2CloudControl",
      "properties": {
        "version": {
          "type": "integer",
          "format": "int32"
        },
        "type": {
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "CLOUD_CONTROL_TYPE_UNSPECIFIED",
            "BUILT_IN",
            "CUSTOM"
          ]
        },
        "policyType": {
          "type": "string"
        },
        "cloudControlName": {
          "type": "string"
        }
      }
    },
    "CloudDlpDataProfile": {
      "type": "object",
      "properties": {
        "infoTypes": {
          "type": "array",
          "items": {
            "$ref": "InfoType"
          }
        },
        "dataProfile": {
          "type": "string"
        },
        "parentType": {
          "type": "string",
          "enum": [
            "PARENT_TYPE_UNSPECIFIED",
            "ORGANIZATION",
            "PROJECT"
          ],
          "enumDescriptions": [
            "",
            "",
            ""
          ]
        }
      },
      "id": "CloudDlpDataProfile"
    },
    "VulnerabilitySnapshot": {
      "properties": {
        "findingCount": {
          "$ref": "VulnerabilityCountBySeverity"
        },
        "cloudProvider": {
          "type": "string",
          "enum": [
            "CLOUD_PROVIDER_UNSPECIFIED",
            "GOOGLE_CLOUD_PLATFORM",
            "AMAZON_WEB_SERVICES",
            "MICROSOFT_AZURE"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ]
        },
        "name": {
          "type": "string"
        },
        "snapshotTime": {
          "type": "string",
          "format": "google-datetime"
        }
      },
      "id": "VulnerabilitySnapshot",
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2AgentAnomaly": {
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2AgentAnomaly",
      "properties": {
        "detectorReferences": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2DetectorReference"
          }
        },
        "invocationReferences": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2InvocationReference"
          }
        },
        "confidenceScore": {
          "format": "double",
          "type": "number"
        }
      }
    },
    "GoogleCloudSecuritycenterV2IssueResourceAdcApplication": {
      "id": "GoogleCloudSecuritycenterV2IssueResourceAdcApplication",
      "properties": {
        "name": {
          "type": "string"
        },
        "attributes": {
          "$ref": "GoogleCloudSecuritycenterV2IssueResourceApplicationAttributes"
        }
      },
      "type": "object"
    },
    "Object": {
      "properties": {
        "name": {
          "type": "string"
        },
        "ns": {
          "type": "string"
        },
        "kind": {
          "type": "string"
        },
        "group": {
          "type": "string"
        },
        "containers": {
          "items": {
            "$ref": "Container"
          },
          "type": "array"
        }
      },
      "type": "object",
      "id": "Object"
    },
    "GoogleCloudSecuritycenterV1ResourceApplicationAttributesEnvironment": {
      "id": "GoogleCloudSecuritycenterV1ResourceApplicationAttributesEnvironment",
      "properties": {
        "type": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "ENVIRONMENT_TYPE_UNSPECIFIED",
            "PRODUCTION",
            "STAGING",
            "TEST",
            "DEVELOPMENT"
          ]
        }
      },
      "type": "object"
    },
    "BulkMuteFindingsRequest": {
      "type": "object",
      "id": "BulkMuteFindingsRequest",
      "properties": {
        "muteState": {
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "MUTE_STATE_UNSPECIFIED",
            "MUTED",
            "UNDEFINED"
          ]
        },
        "muteAnnotation": {
          "deprecated": true,
          "type": "string"
        },
        "filter": {
          "type": "string"
        }
      }
    },
    "GoogleCloudSecuritycenterV2YaraRuleSignature": {
      "type": "object",
      "properties": {
        "yaraRule": {
          "type": "string"
        }
      },
      "id": "GoogleCloudSecuritycenterV2YaraRuleSignature"
    },
    "GoogleCloudSecuritycenterV2AdaptiveProtection": {
      "type": "object",
      "properties": {
        "confidence": {
          "format": "double",
          "type": "number"
        }
      },
      "id": "GoogleCloudSecuritycenterV2AdaptiveProtection"
    },
    "Geolocation": {
      "id": "Geolocation",
      "properties": {
        "regionCode": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2IamRolePermission": {
      "id": "GoogleCloudSecuritycenterV2IamRolePermission",
      "properties": {
        "name": {
          "type": "string"
        },
        "role": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2ExternalExposure": {
      "type": "object",
      "properties": {
        "backendBucket": {
          "type": "string"
        },
        "hostnameUri": {
          "type": "string"
        },
        "networkEndpointGroup": {
          "type": "string"
        },
        "pscNetworkAttachment": {
          "type": "string"
        },
        "exposedEndpoint": {
          "type": "string"
        },
        "internalBackendService": {
          "type": "string"
        },
        "networkIngressFirewallPolicy": {
          "type": "string"
        },
        "backendService": {
          "type": "string"
        },
        "publicIpAddress": {
          "type": "string"
        },
        "instanceGroup": {
          "type": "string"
        },
        "pscServiceAttachment": {
          "type": "string"
        },
        "privatePort": {
          "type": "string"
        },
        "forwardingRule": {
          "type": "string"
        },
        "serviceFirewallPolicy": {
          "type": "string"
        },
        "networkPathInsightsGenerationTime": {
          "format": "google-datetime",
          "type": "string"
        },
        "httpResponse": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2HttpResponse"
          }
        },
        "exposedService": {
          "type": "string"
        },
        "privateIpAddress": {
          "type": "string"
        },
        "publicPort": {
          "type": "string"
        },
        "exposedApplication": {
          "type": "string"
        },
        "loadBalancerFirewallPolicy": {
          "type": "string"
        }
      },
      "id": "GoogleCloudSecuritycenterV2ExternalExposure"
    },
    "GoogleCloudSecuritycenterV1ResourceApplicationAttributesCriticality": {
      "type": "object",
      "properties": {
        "type": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "CRITICALITY_TYPE_UNSPECIFIED",
            "MISSION_CRITICAL",
            "HIGH",
            "MEDIUM",
            "LOW"
          ]
        }
      },
      "id": "GoogleCloudSecuritycenterV1ResourceApplicationAttributesCriticality"
    },
    "AdcApplicationTemplateRevision": {
      "id": "AdcApplicationTemplateRevision",
      "properties": {
        "name": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "PolicyViolationSummary": {
      "type": "object",
      "id": "PolicyViolationSummary",
      "properties": {
        "policyViolationsCount": {
          "type": "string",
          "format": "int64"
        },
        "evaluationErrorsCount": {
          "format": "int64",
          "type": "string"
        },
        "outOfScopeResourcesCount": {
          "type": "string",
          "format": "int64"
        },
        "conformantResourcesCount": {
          "type": "string",
          "format": "int64"
        }
      }
    },
    "GoogleCloudSecuritycenterV2AdcApplicationTemplateRevision": {
      "properties": {
        "name": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2AdcApplicationTemplateRevision"
    },
    "Database": {
      "properties": {
        "query": {
          "type": "string"
        },
        "grantees": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "version": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "userName": {
          "type": "string"
        },
        "displayName": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "Database"
    },
    "Expr": {
      "type": "object",
      "properties": {
        "title": {
          "type": "string"
        },
        "location": {
          "type": "string"
        },
        "expression": {
          "type": "string"
        },
        "description": {
          "type": "string"
        }
      },
      "id": "Expr"
    },
    "ToxicCombination": {
      "id": "ToxicCombination",
      "properties": {
        "relatedFindings": {
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "attackExposureScore": {
          "format": "double",
          "type": "number"
        }
      },
      "type": "object"
    },
    "MuteInfo": {
      "properties": {
        "staticMute": {
          "$ref": "StaticMute"
        },
        "dynamicMuteRecords": {
          "type": "array",
          "items": {
            "$ref": "DynamicMuteRecord"
          }
        }
      },
      "type": "object",
      "id": "MuteInfo"
    },
    "GoogleCloudSecuritycenterV2Node": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        }
      },
      "id": "GoogleCloudSecuritycenterV2Node"
    },
    "AuditConfig": {
      "type": "object",
      "id": "AuditConfig",
      "properties": {
        "auditLogConfigs": {
          "items": {
            "$ref": "AuditLogConfig"
          },
          "type": "array"
        },
        "service": {
          "type": "string"
        }
      }
    },
    "EventThreatDetectionCustomModule": {
      "id": "EventThreatDetectionCustomModule",
      "type": "object",
      "properties": {
        "ancestorModule": {
          "readOnly": true,
          "type": "string"
        },
        "lastEditor": {
          "type": "string",
          "readOnly": true
        },
        "type": {
          "type": "string"
        },
        "config": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "type": "object"
        },
        "displayName": {
          "type": "string"
        },
        "description": {
          "type": "string"
        },
        "updateTime": {
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "enablementState": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "ENABLEMENT_STATE_UNSPECIFIED",
            "ENABLED",
            "DISABLED",
            "INHERITED"
          ]
        },
        "name": {
          "type": "string"
        },
        "cloudProvider": {
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "CLOUD_PROVIDER_UNSPECIFIED",
            "GOOGLE_CLOUD_PLATFORM",
            "AMAZON_WEB_SERVICES",
            "MICROSOFT_AZURE"
          ]
        }
      }
    },
    "GoogleCloudSecuritycenterV2AttackExposure": {
      "type": "object",
      "properties": {
        "attackExposureResult": {
          "type": "string"
        },
        "exposedMediumValueResourcesCount": {
          "format": "int32",
          "type": "integer"
        },
        "score": {
          "format": "double",
          "type": "number"
        },
        "state": {
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "CALCULATED",
            "NOT_CALCULATED"
          ],
          "readOnly": true,
          "enumDescriptions": [
            "",
            "",
            ""
          ]
        },
        "exposedLowValueResourcesCount": {
          "format": "int32",
          "type": "integer"
        },
        "latestCalculationTime": {
          "type": "string",
          "format": "google-datetime"
        },
        "exposedHighValueResourcesCount": {
          "format": "int32",
          "type": "integer"
        }
      },
      "id": "GoogleCloudSecuritycenterV2AttackExposure"
    },
    "GoogleCloudSecuritycenterV2IssueResourceAzureMetadataAzureSubscription": {
      "id": "GoogleCloudSecuritycenterV2IssueResourceAzureMetadataAzureSubscription",
      "properties": {
        "displayName": {
          "type": "string"
        },
        "id": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "Network": {
      "properties": {
        "name": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "Network"
    },
    "GoogleCloudSecuritycenterV2AccessReview": {
      "id": "GoogleCloudSecuritycenterV2AccessReview",
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        },
        "version": {
          "type": "string"
        },
        "group": {
          "type": "string"
        },
        "ns": {
          "type": "string"
        },
        "verb": {
          "type": "string"
        },
        "resource": {
          "type": "string"
        },
        "subresource": {
          "type": "string"
        }
      }
    },
    "OrganizationSettings": {
      "properties": {
        "name": {
          "type": "string"
        },
        "enableAssetDiscovery": {
          "type": "boolean"
        },
        "assetDiscoveryConfig": {
          "$ref": "AssetDiscoveryConfig"
        }
      },
      "type": "object",
      "id": "OrganizationSettings"
    },
    "ListDescendantEventThreatDetectionCustomModulesResponse": {
      "type": "object",
      "properties": {
        "eventThreatDetectionCustomModules": {
          "items": {
            "$ref": "EventThreatDetectionCustomModule"
          },
          "type": "array"
        },
        "nextPageToken": {
          "type": "string"
        }
      },
      "id": "ListDescendantEventThreatDetectionCustomModulesResponse"
    },
    "CloudLoggingEntry": {
      "properties": {
        "resourceContainer": {
          "type": "string"
        },
        "insertId": {
          "type": "string"
        },
        "logId": {
          "type": "string"
        },
        "timestamp": {
          "type": "string",
          "format": "google-datetime"
        }
      },
      "type": "object",
      "id": "CloudLoggingEntry"
    },
    "DiskPath": {
      "properties": {
        "relativePath": {
          "type": "string"
        },
        "partitionUuid": {
          "type": "string"
        }
      },
      "id": "DiskPath",
      "type": "object"
    },
    "ResourceValueConfigMetadata": {
      "type": "object",
      "id": "ResourceValueConfigMetadata",
      "properties": {
        "name": {
          "type": "string"
        }
      }
    },
    "AzureMetadata": {
      "type": "object",
      "properties": {
        "resourceGroup": {
          "$ref": "AzureResourceGroup"
        },
        "tenant": {
          "$ref": "AzureTenant"
        },
        "managementGroups": {
          "type": "array",
          "items": {
            "$ref": "AzureManagementGroup"
          }
        },
        "subscription": {
          "$ref": "AzureSubscription"
        }
      },
      "id": "AzureMetadata"
    },
    "GoogleCloudSecuritycenterV2IamDetails": {
      "id": "GoogleCloudSecuritycenterV2IamDetails",
      "properties": {
        "iamRolePermissions": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2IamRolePermission"
          }
        }
      },
      "type": "object"
    },
    "IpRule": {
      "id": "IpRule",
      "type": "object",
      "properties": {
        "protocol": {
          "type": "string"
        },
        "portRanges": {
          "items": {
            "$ref": "PortRange"
          },
          "type": "array"
        }
      }
    },
    "GoogleCloudSecuritycenterV2BigQueryExport": {
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2BigQueryExport",
      "properties": {
        "mostRecentEditor": {
          "type": "string",
          "readOnly": true
        },
        "name": {
          "type": "string"
        },
        "createTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "dataset": {
          "type": "string"
        },
        "description": {
          "type": "string"
        },
        "updateTime": {
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "cryptoKeyName": {
          "type": "string",
          "readOnly": true
        },
        "principal": {
          "readOnly": true,
          "type": "string"
        },
        "filter": {
          "type": "string"
        }
      }
    },
    "Finding": {
      "id": "Finding",
      "properties": {
        "processes": {
          "items": {
            "$ref": "Process"
          },
          "type": "array"
        },
        "orgPolicies": {
          "type": "array",
          "items": {
            "$ref": "OrgPolicy"
          }
        },
        "createTime": {
          "format": "google-datetime",
          "type": "string"
        },
        "chokepoint": {
          "$ref": "Chokepoint"
        },
        "name": {
          "type": "string"
        },
        "dataFlowEvents": {
          "type": "array",
          "items": {
            "$ref": "DataFlowEvent"
          }
        },
        "state": {
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "INACTIVE"
          ],
          "enumDescriptions": [
            "",
            "",
            ""
          ]
        },
        "secret": {
          "$ref": "Secret"
        },
        "database": {
          "$ref": "Database"
        },
        "toxicCombination": {
          "$ref": "ToxicCombination"
        },
        "groupMemberships": {
          "type": "array",
          "items": {
            "$ref": "GroupMembership"
          }
        },
        "contacts": {
          "type": "object",
          "additionalProperties": {
            "$ref": "ContactDetails"
          },
          "readOnly": true
        },
        "severity": {
          "type": "string",
          "enum": [
            "SEVERITY_UNSPECIFIED",
            "CRITICAL",
            "HIGH",
            "MEDIUM",
            "LOW"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ]
        },
        "artifactGuardPolicies": {
          "$ref": "ArtifactGuardPolicies"
        },
        "indicator": {
          "$ref": "Indicator"
        },
        "nextSteps": {
          "type": "string"
        },
        "backupDisasterRecovery": {
          "$ref": "BackupDisasterRecovery"
        },
        "kubernetes": {
          "$ref": "Kubernetes"
        },
        "disk": {
          "$ref": "Disk"
        },
        "description": {
          "type": "string"
        },
        "kernelRootkit": {
          "$ref": "KernelRootkit"
        },
        "parent": {
          "type": "string"
        },
        "category": {
          "type": "string"
        },
        "resourceName": {
          "type": "string"
        },
        "muteUpdateTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "aiModel": {
          "$ref": "AiModel"
        },
        "application": {
          "$ref": "Application"
        },
        "notebook": {
          "$ref": "Notebook"
        },
        "securityPosture": {
          "$ref": "SecurityPosture"
        },
        "eventTime": {
          "format": "google-datetime",
          "type": "string"
        },
        "sourceProperties": {
          "type": "object",
          "additionalProperties": {
            "type": "any"
          }
        },
        "moduleName": {
          "type": "string"
        },
        "files": {
          "items": {
            "$ref": "File"
          },
          "type": "array"
        },
        "job": {
          "$ref": "Job"
        },
        "externalUri": {
          "type": "string"
        },
        "connections": {
          "items": {
            "$ref": "Connection"
          },
          "type": "array"
        },
        "compliances": {
          "type": "array",
          "items": {
            "$ref": "Compliance"
          }
        },
        "access": {
          "$ref": "Access"
        },
        "iamDetails": {
          "$ref": "GoogleCloudSecuritycenterV1IamDetails"
        },
        "mitreAttack": {
          "$ref": "MitreAttack"
        },
        "canonicalName": {
          "type": "string"
        },
        "iamBindings": {
          "type": "array",
          "items": {
            "$ref": "IamBinding"
          }
        },
        "logEntries": {
          "items": {
            "$ref": "LogEntry"
          },
          "type": "array"
        },
        "agentAnomaly": {
          "$ref": "AgentAnomaly"
        },
        "exfiltration": {
          "$ref": "Exfiltration"
        },
        "attackExposure": {
          "$ref": "AttackExposure"
        },
        "complianceDetails": {
          "$ref": "ComplianceDetails"
        },
        "networks": {
          "items": {
            "$ref": "Network"
          },
          "type": "array"
        },
        "vertexAi": {
          "$ref": "VertexAi"
        },
        "agentDataAccessEvents": {
          "items": {
            "$ref": "AgentDataAccessEvent"
          },
          "type": "array"
        },
        "cloudArmor": {
          "$ref": "CloudArmor"
        },
        "parentDisplayName": {
          "readOnly": true,
          "type": "string"
        },
        "containers": {
          "items": {
            "$ref": "Container"
          },
          "type": "array"
        },
        "externalExposure": {
          "$ref": "ExternalExposure"
        },
        "agent": {
          "$ref": "Agent"
        },
        "loadBalancers": {
          "type": "array",
          "items": {
            "$ref": "LoadBalancer"
          }
        },
        "muteInitiator": {
          "type": "string"
        },
        "ipRules": {
          "$ref": "IpRules"
        },
        "muteInfo": {
          "$ref": "MuteInfo",
          "readOnly": true
        },
        "agentSessions": {
          "items": {
            "$ref": "AgentSession"
          },
          "type": "array"
        },
        "dataRetentionDeletionEvents": {
          "type": "array",
          "items": {
            "$ref": "DataRetentionDeletionEvent"
          }
        },
        "securityMarks": {
          "readOnly": true,
          "$ref": "SecurityMarks"
        },
        "policyViolationSummary": {
          "$ref": "PolicyViolationSummary"
        },
        "cloudDlpInspection": {
          "$ref": "CloudDlpInspection"
        },
        "findingClass": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "FINDING_CLASS_UNSPECIFIED",
            "THREAT",
            "VULNERABILITY",
            "MISCONFIGURATION",
            "OBSERVATION",
            "SCC_ERROR",
            "POSTURE_VIOLATION",
            "TOXIC_COMBINATION",
            "SENSITIVE_DATA_RISK",
            "CHOKEPOINT",
            "EXTERNAL_EXPOSURE",
            "SECRET"
          ]
        },
        "dataAccessEvents": {
          "items": {
            "$ref": "DataAccessEvent"
          },
          "type": "array"
        },
        "mute": {
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "MUTE_UNSPECIFIED",
            "MUTED",
            "UNMUTED",
            "UNDEFINED"
          ]
        },
        "vulnerability": {
          "$ref": "Vulnerability"
        },
        "affectedResources": {
          "$ref": "AffectedResources"
        },
        "discoveredWorkload": {
          "$ref": "DiscoveredWorkload"
        },
        "externalSystems": {
          "type": "object",
          "additionalProperties": {
            "$ref": "GoogleCloudSecuritycenterV1ExternalSystem"
          },
          "readOnly": true
        },
        "cloudDlpDataProfile": {
          "$ref": "CloudDlpDataProfile"
        }
      },
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2ResourceApplicationAttributes": {
      "id": "GoogleCloudSecuritycenterV2ResourceApplicationAttributes",
      "properties": {
        "criticality": {
          "$ref": "GoogleCloudSecuritycenterV2ResourceApplicationAttributesCriticality"
        },
        "environment": {
          "$ref": "GoogleCloudSecuritycenterV2ResourceApplicationAttributesEnvironment"
        },
        "developerOwners": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2ResourceApplicationAttributesContactInfo"
          }
        },
        "businessOwners": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2ResourceApplicationAttributesContactInfo"
          }
        },
        "operatorOwners": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2ResourceApplicationAttributesContactInfo"
          }
        }
      },
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2SecretEnvironmentVariable": {
      "type": "object",
      "properties": {
        "key": {
          "type": "string"
        }
      },
      "id": "GoogleCloudSecuritycenterV2SecretEnvironmentVariable"
    },
    "GoogleCloudSecuritycenterV2Subject": {
      "id": "GoogleCloudSecuritycenterV2Subject",
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        },
        "kind": {
          "type": "string",
          "enum": [
            "AUTH_TYPE_UNSPECIFIED",
            "USER",
            "SERVICEACCOUNT",
            "GROUP"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ]
        },
        "ns": {
          "type": "string"
        }
      }
    },
    "GoogleCloudSecuritycenterV2IssueResourceAdcApplicationTemplateRevision": {
      "properties": {
        "name": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2IssueResourceAdcApplicationTemplateRevision"
    },
    "SetIamPolicyRequest": {
      "type": "object",
      "properties": {
        "updateMask": {
          "type": "string",
          "format": "google-fieldmask"
        },
        "policy": {
          "$ref": "Policy"
        }
      },
      "id": "SetIamPolicyRequest"
    },
    "GoogleCloudSecuritycenterV1ResourceApplicationAttributes": {
      "id": "GoogleCloudSecuritycenterV1ResourceApplicationAttributes",
      "type": "object",
      "properties": {
        "developerOwners": {
          "items": {
            "$ref": "GoogleCloudSecuritycenterV1ResourceApplicationAttributesContactInfo"
          },
          "type": "array"
        },
        "operatorOwners": {
          "items": {
            "$ref": "GoogleCloudSecuritycenterV1ResourceApplicationAttributesContactInfo"
          },
          "type": "array"
        },
        "criticality": {
          "$ref": "GoogleCloudSecuritycenterV1ResourceApplicationAttributesCriticality"
        },
        "environment": {
          "$ref": "GoogleCloudSecuritycenterV1ResourceApplicationAttributesEnvironment"
        },
        "businessOwners": {
          "items": {
            "$ref": "GoogleCloudSecuritycenterV1ResourceApplicationAttributesContactInfo"
          },
          "type": "array"
        }
      }
    },
    "GroupFindingsResponse": {
      "id": "GroupFindingsResponse",
      "properties": {
        "nextPageToken": {
          "type": "string"
        },
        "readTime": {
          "format": "google-datetime",
          "type": "string"
        },
        "groupByResults": {
          "type": "array",
          "items": {
            "$ref": "GroupResult"
          }
        },
        "totalSize": {
          "type": "integer",
          "format": "int32"
        }
      },
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2MuteConfig": {
      "type": "object",
      "properties": {
        "description": {
          "type": "string"
        },
        "filter": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "cryptoKeyName": {
          "type": "string",
          "readOnly": true
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "type": {
          "type": "string",
          "enum": [
            "MUTE_CONFIG_TYPE_UNSPECIFIED",
            "STATIC",
            "DYNAMIC"
          ],
          "enumDescriptions": [
            "",
            "",
            ""
          ]
        },
        "mostRecentEditor": {
          "readOnly": true,
          "type": "string"
        },
        "expiryTime": {
          "type": "string",
          "format": "google-datetime"
        },
        "updateTime": {
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        }
      },
      "id": "GoogleCloudSecuritycenterV2MuteConfig"
    },
    "YaraRuleSignature": {
      "properties": {
        "yaraRule": {
          "type": "string"
        }
      },
      "id": "YaraRuleSignature",
      "type": "object"
    },
    "SecretStatus": {
      "type": "object",
      "id": "SecretStatus",
      "properties": {
        "lastUpdatedTime": {
          "type": "string",
          "format": "google-datetime"
        },
        "validity": {
          "type": "string",
          "enum": [
            "SECRET_VALIDITY_UNSPECIFIED",
            "SECRET_VALIDITY_UNSUPPORTED",
            "SECRET_VALIDITY_FAILED",
            "SECRET_VALIDITY_INVALID",
            "SECRET_VALIDITY_VALID"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ]
        }
      }
    },
    "GoogleCloudSecuritycenterV2IssueResourceApplication": {
      "id": "GoogleCloudSecuritycenterV2IssueResourceApplication",
      "type": "object",
      "properties": {
        "attributes": {
          "$ref": "GoogleCloudSecuritycenterV2IssueResourceApplicationAttributes"
        },
        "name": {
          "type": "string"
        }
      }
    },
    "GoogleCloudSecuritycenterV2Requests": {
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2Requests",
      "properties": {
        "longTermDenied": {
          "type": "integer",
          "format": "int32"
        },
        "ratio": {
          "type": "number",
          "format": "double"
        },
        "longTermAllowed": {
          "format": "int32",
          "type": "integer"
        },
        "shortTermAllowed": {
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "SimulateSecurityHealthAnalyticsCustomModuleRequest": {
      "id": "SimulateSecurityHealthAnalyticsCustomModuleRequest",
      "type": "object",
      "properties": {
        "customConfig": {
          "$ref": "GoogleCloudSecuritycenterV1CustomConfig"
        },
        "resource": {
          "$ref": "SimulatedResource"
        }
      }
    },
    "AuditLogConfig": {
      "id": "AuditLogConfig",
      "properties": {
        "logType": {
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "LOG_TYPE_UNSPECIFIED",
            "ADMIN_READ",
            "DATA_WRITE",
            "DATA_READ"
          ]
        },
        "exemptedMembers": {
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object"
    },
    "Connection": {
      "properties": {
        "protocol": {
          "type": "string",
          "enum": [
            "PROTOCOL_UNSPECIFIED",
            "ICMP",
            "TCP",
            "UDP",
            "GRE",
            "ESP"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            ""
          ]
        },
        "sourcePort": {
          "type": "integer",
          "format": "int32"
        },
        "destinationPort": {
          "type": "integer",
          "format": "int32"
        },
        "sourceIp": {
          "type": "string"
        },
        "destinationIp": {
          "type": "string"
        }
      },
      "id": "Connection",
      "type": "object"
    },
    "ListSecurityHealthAnalyticsCustomModulesResponse": {
      "properties": {
        "securityHealthAnalyticsCustomModules": {
          "items": {
            "$ref": "GoogleCloudSecuritycenterV1SecurityHealthAnalyticsCustomModule"
          },
          "type": "array"
        },
        "nextPageToken": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "ListSecurityHealthAnalyticsCustomModulesResponse"
    },
    "GoogleCloudSecuritycenterV1BigQueryExport": {
      "properties": {
        "mostRecentEditor": {
          "readOnly": true,
          "type": "string"
        },
        "principal": {
          "type": "string",
          "readOnly": true
        },
        "createTime": {
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "dataset": {
          "type": "string"
        },
        "filter": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "description": {
          "type": "string"
        },
        "updateTime": {
          "format": "google-datetime",
          "type": "string",
          "readOnly": true
        }
      },
      "id": "GoogleCloudSecuritycenterV1BigQueryExport",
      "type": "object"
    },
    "ListFindingsResponse": {
      "type": "object",
      "id": "ListFindingsResponse",
      "properties": {
        "listFindingsResults": {
          "items": {
            "$ref": "ListFindingsResult"
          },
          "type": "array"
        },
        "readTime": {
          "format": "google-datetime",
          "type": "string"
        },
        "nextPageToken": {
          "type": "string"
        },
        "totalSize": {
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "GoogleCloudSecuritycenterV1SensitiveDataProtectionMapping": {
      "properties": {
        "highSensitivityMapping": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "RESOURCE_VALUE_UNSPECIFIED",
            "HIGH",
            "MEDIUM",
            "LOW",
            "NONE"
          ]
        },
        "mediumSensitivityMapping": {
          "type": "string",
          "enum": [
            "RESOURCE_VALUE_UNSPECIFIED",
            "HIGH",
            "MEDIUM",
            "LOW",
            "NONE"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ]
        }
      },
      "type": "object",
      "id": "GoogleCloudSecuritycenterV1SensitiveDataProtectionMapping"
    },
    "Requests": {
      "id": "Requests",
      "properties": {
        "longTermDenied": {
          "format": "int32",
          "type": "integer"
        },
        "ratio": {
          "type": "number",
          "format": "double"
        },
        "shortTermAllowed": {
          "type": "integer",
          "format": "int32"
        },
        "longTermAllowed": {
          "type": "integer",
          "format": "int32"
        }
      },
      "type": "object"
    },
    "DataRetentionDeletionEvent": {
      "type": "object",
      "id": "DataRetentionDeletionEvent",
      "properties": {
        "maxRetentionAllowed": {
          "format": "google-duration",
          "type": "string"
        },
        "minRetentionAllowed": {
          "type": "string",
          "format": "google-duration"
        },
        "eventType": {
          "type": "string",
          "enum": [
            "EVENT_TYPE_UNSPECIFIED",
            "EVENT_TYPE_MAX_TTL_EXCEEDED",
            "EVENT_TYPE_MAX_TTL_FROM_CREATION",
            "EVENT_TYPE_MAX_TTL_FROM_LAST_MODIFICATION",
            "EVENT_TYPE_MIN_TTL_FROM_CREATION"
          ],
          "enumDeprecated": [
            false,
            true,
            false,
            false,
            false
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ]
        },
        "eventDetectionTime": {
          "type": "string",
          "format": "google-datetime"
        },
        "dataObjectCount": {
          "format": "int64",
          "type": "string"
        }
      }
    },
    "OrgPolicy": {
      "properties": {
        "name": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "OrgPolicy"
    },
    "GoogleCloudSecuritycenterV1IamDetails": {
      "id": "GoogleCloudSecuritycenterV1IamDetails",
      "type": "object",
      "properties": {
        "iamRolePermissions": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV1IamRolePermission"
          }
        }
      }
    },
    "GoogleCloudSecuritycenterV2HttpResponse": {
      "properties": {
        "path": {
          "type": "string"
        },
        "statusCode": {
          "type": "string"
        }
      },
      "id": "GoogleCloudSecuritycenterV2HttpResponse",
      "type": "object"
    },
    "CloudArmor": {
      "type": "object",
      "properties": {
        "threatVector": {
          "type": "string"
        },
        "duration": {
          "format": "google-duration",
          "type": "string"
        },
        "attack": {
          "$ref": "Attack"
        },
        "requests": {
          "$ref": "Requests"
        },
        "adaptiveProtection": {
          "$ref": "AdaptiveProtection"
        },
        "securityPolicy": {
          "$ref": "SecurityPolicy"
        }
      },
      "id": "CloudArmor"
    },
    "GoogleCloudSecuritycenterV2Secret": {
      "id": "GoogleCloudSecuritycenterV2Secret",
      "type": "object",
      "properties": {
        "environmentVariable": {
          "$ref": "GoogleCloudSecuritycenterV2SecretEnvironmentVariable"
        },
        "status": {
          "$ref": "GoogleCloudSecuritycenterV2SecretStatus"
        },
        "filePath": {
          "$ref": "GoogleCloudSecuritycenterV2SecretFilePath"
        },
        "type": {
          "type": "string"
        }
      }
    },
    "GoogleCloudSecuritycenterV2DynamicMuteRecord": {
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2DynamicMuteRecord",
      "properties": {
        "matchTime": {
          "type": "string",
          "format": "google-datetime"
        },
        "muteConfig": {
          "type": "string"
        }
      }
    },
    "ListEffectiveSecurityHealthAnalyticsCustomModulesResponse": {
      "id": "ListEffectiveSecurityHealthAnalyticsCustomModulesResponse",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string"
        },
        "effectiveSecurityHealthAnalyticsCustomModules": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV1EffectiveSecurityHealthAnalyticsCustomModule"
          }
        }
      }
    },
    "GoogleCloudSecuritycenterV2Package": {
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2Package",
      "properties": {
        "packageName": {
          "type": "string"
        },
        "packageType": {
          "type": "string"
        },
        "packageVersion": {
          "type": "string"
        },
        "cpeUri": {
          "type": "string"
        }
      }
    },
    "GoogleCloudSecuritycenterV2IssueResourceAwsMetadataAwsAccount": {
      "properties": {
        "id": {
          "type": "string"
        },
        "name": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2IssueResourceAwsMetadataAwsAccount"
    },
    "GoogleCloudSecuritycenterV2IssueResourceGoogleCloudMetadata": {
      "type": "object",
      "properties": {
        "projectId": {
          "type": "string"
        }
      },
      "id": "GoogleCloudSecuritycenterV2IssueResourceGoogleCloudMetadata"
    },
    "Denied": {
      "type": "object",
      "id": "Denied",
      "properties": {
        "ipRules": {
          "items": {
            "$ref": "IpRule"
          },
          "type": "array"
        }
      }
    },
    "LoadBalancer": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        }
      },
      "id": "LoadBalancer"
    },
    "Detection": {
      "properties": {
        "binary": {
          "type": "string"
        },
        "percentPagesMatched": {
          "format": "double",
          "type": "number"
        }
      },
      "id": "Detection",
      "type": "object"
    },
    "ComplianceDetails": {
      "id": "ComplianceDetails",
      "properties": {
        "frameworks": {
          "items": {
            "$ref": "Framework"
          },
          "type": "array"
        },
        "cloudControlDeploymentNames": {
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "cloudControl": {
          "$ref": "CloudControl"
        }
      },
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2SecurityBulletin": {
      "properties": {
        "bulletinId": {
          "type": "string"
        },
        "suggestedUpgradeVersion": {
          "type": "string"
        },
        "submissionTime": {
          "type": "string",
          "format": "google-datetime"
        }
      },
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2SecurityBulletin"
    },
    "GoogleCloudSecuritycenterV2Indicator": {
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2Indicator",
      "properties": {
        "signatures": {
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2ProcessSignature"
          },
          "type": "array"
        },
        "uris": {
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "domains": {
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "ipAddresses": {
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      }
    },
    "GoogleCloudSecuritycenterV2AzureTenant": {
      "properties": {
        "id": {
          "type": "string"
        },
        "displayName": {
          "type": "string"
        }
      },
      "id": "GoogleCloudSecuritycenterV2AzureTenant",
      "type": "object"
    },
    "BackupDisasterRecovery": {
      "type": "object",
      "properties": {
        "storagePool": {
          "type": "string"
        },
        "applications": {
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "host": {
          "type": "string"
        },
        "policies": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "backupTemplate": {
          "type": "string"
        },
        "backupType": {
          "type": "string"
        },
        "policyOptions": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "profile": {
          "type": "string"
        },
        "appliance": {
          "type": "string"
        },
        "backupCreateTime": {
          "type": "string",
          "format": "google-datetime"
        }
      },
      "id": "BackupDisasterRecovery"
    },
    "GoogleCloudSecuritycenterV2InvocationReference": {
      "properties": {
        "invocationId": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2InvocationReference"
    },
    "ExfilResource": {
      "type": "object",
      "id": "ExfilResource",
      "properties": {
        "components": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "name": {
          "type": "string"
        }
      }
    },
    "GoogleCloudSecuritycenterV1BulkMuteFindingsResponse": {
      "properties": {},
      "id": "GoogleCloudSecuritycenterV1BulkMuteFindingsResponse",
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2MemoryHashSignature": {
      "id": "GoogleCloudSecuritycenterV2MemoryHashSignature",
      "properties": {
        "binaryFamily": {
          "type": "string"
        },
        "detections": {
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2Detection"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2Label": {
      "id": "GoogleCloudSecuritycenterV2Label",
      "properties": {
        "name": {
          "type": "string"
        },
        "value": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2AdcApplication": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        },
        "attributes": {
          "$ref": "GoogleCloudSecuritycenterV2ResourceApplicationAttributes"
        }
      },
      "id": "GoogleCloudSecuritycenterV2AdcApplication"
    },
    "GoogleCloudSecuritycenterV2ResourcePathNode": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string"
        },
        "displayName": {
          "type": "string"
        },
        "nodeType": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "RESOURCE_PATH_NODE_TYPE_UNSPECIFIED",
            "GCP_ORGANIZATION",
            "GCP_FOLDER",
            "GCP_PROJECT",
            "AWS_ORGANIZATION",
            "AWS_ORGANIZATIONAL_UNIT",
            "AWS_ACCOUNT",
            "AZURE_MANAGEMENT_GROUP",
            "AZURE_SUBSCRIPTION",
            "AZURE_RESOURCE_GROUP"
          ]
        }
      },
      "id": "GoogleCloudSecuritycenterV2ResourcePathNode"
    },
    "GoogleCloudSecuritycenterV1p1beta1Finding": {
      "type": "object",
      "id": "GoogleCloudSecuritycenterV1p1beta1Finding",
      "properties": {
        "sourceProperties": {
          "type": "object",
          "additionalProperties": {
            "type": "any"
          }
        },
        "parent": {
          "type": "string"
        },
        "canonicalName": {
          "type": "string"
        },
        "severity": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "SEVERITY_UNSPECIFIED",
            "CRITICAL",
            "HIGH",
            "MEDIUM",
            "LOW"
          ]
        },
        "securityMarks": {
          "readOnly": true,
          "$ref": "GoogleCloudSecuritycenterV1p1beta1SecurityMarks"
        },
        "category": {
          "type": "string"
        },
        "resourceName": {
          "type": "string"
        },
        "eventTime": {
          "format": "google-datetime",
          "type": "string"
        },
        "state": {
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "INACTIVE"
          ]
        },
        "name": {
          "type": "string"
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime"
        },
        "externalUri": {
          "type": "string"
        }
      }
    },
    "GoogleCloudSecuritycenterV2AwsMetadata": {
      "id": "GoogleCloudSecuritycenterV2AwsMetadata",
      "type": "object",
      "properties": {
        "organizationalUnits": {
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2AwsOrganizationalUnit"
          },
          "type": "array"
        },
        "account": {
          "$ref": "GoogleCloudSecuritycenterV2AwsAccount"
        },
        "organization": {
          "$ref": "GoogleCloudSecuritycenterV2AwsOrganization"
        }
      }
    },
    "Package": {
      "type": "object",
      "properties": {
        "packageVersion": {
          "type": "string"
        },
        "cpeUri": {
          "type": "string"
        },
        "packageName": {
          "type": "string"
        },
        "packageType": {
          "type": "string"
        }
      },
      "id": "Package"
    },
    "AttackExposure": {
      "id": "AttackExposure",
      "properties": {
        "exposedMediumValueResourcesCount": {
          "type": "integer",
          "format": "int32"
        },
        "exposedHighValueResourcesCount": {
          "format": "int32",
          "type": "integer"
        },
        "score": {
          "format": "double",
          "type": "number"
        },
        "exposedLowValueResourcesCount": {
          "format": "int32",
          "type": "integer"
        },
        "state": {
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "CALCULATED",
            "NOT_CALCULATED"
          ]
        },
        "attackExposureResult": {
          "type": "string"
        },
        "latestCalculationTime": {
          "type": "string",
          "format": "google-datetime"
        }
      },
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2Network": {
      "id": "GoogleCloudSecuritycenterV2Network",
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        }
      }
    },
    "GoogleCloudSecuritycenterV2SensitiveDataProtectionMapping": {
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2SensitiveDataProtectionMapping",
      "properties": {
        "highSensitivityMapping": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "RESOURCE_VALUE_UNSPECIFIED",
            "HIGH",
            "MEDIUM",
            "LOW",
            "NONE"
          ]
        },
        "mediumSensitivityMapping": {
          "type": "string",
          "enum": [
            "RESOURCE_VALUE_UNSPECIFIED",
            "HIGH",
            "MEDIUM",
            "LOW",
            "NONE"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ]
        }
      }
    },
    "ValidateEventThreatDetectionCustomModuleResponse": {
      "type": "object",
      "id": "ValidateEventThreatDetectionCustomModuleResponse",
      "properties": {
        "errors": {
          "$ref": "CustomModuleValidationErrors"
        }
      }
    },
    "Allowed": {
      "properties": {
        "ipRules": {
          "type": "array",
          "items": {
            "$ref": "IpRule"
          }
        }
      },
      "id": "Allowed",
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2IssueSecurityContextAggregatedCount": {
      "id": "GoogleCloudSecuritycenterV2IssueSecurityContextAggregatedCount",
      "properties": {
        "key": {
          "type": "string"
        },
        "value": {
          "type": "integer",
          "format": "int32"
        }
      },
      "type": "object"
    },
    "MemoryHashSignature": {
      "id": "MemoryHashSignature",
      "type": "object",
      "properties": {
        "binaryFamily": {
          "type": "string"
        },
        "detections": {
          "type": "array",
          "items": {
            "$ref": "Detection"
          }
        }
      }
    },
    "CreateResourceValueConfigRequest": {
      "properties": {
        "parent": {
          "type": "string"
        },
        "resourceValueConfig": {
          "$ref": "GoogleCloudSecuritycenterV1ResourceValueConfig"
        }
      },
      "type": "object",
      "id": "CreateResourceValueConfigRequest"
    },
    "RunAssetDiscoveryRequest": {
      "properties": {},
      "type": "object",
      "id": "RunAssetDiscoveryRequest"
    },
    "ListSourcesResponse": {
      "id": "ListSourcesResponse",
      "properties": {
        "sources": {
          "type": "array",
          "items": {
            "$ref": "Source"
          }
        },
        "nextPageToken": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudSecuritycenterV1CustomConfig": {
      "type": "object",
      "id": "GoogleCloudSecuritycenterV1CustomConfig",
      "properties": {
        "severity": {
          "type": "string",
          "enum": [
            "SEVERITY_UNSPECIFIED",
            "CRITICAL",
            "HIGH",
            "MEDIUM",
            "LOW"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ]
        },
        "customOutput": {
          "$ref": "GoogleCloudSecuritycenterV1CustomOutputSpec"
        },
        "description": {
          "type": "string"
        },
        "predicate": {
          "$ref": "Expr"
        },
        "resourceSelector": {
          "$ref": "GoogleCloudSecuritycenterV1ResourceSelector"
        },
        "recommendation": {
          "type": "string"
        }
      }
    },
    "ContactDetails": {
      "id": "ContactDetails",
      "properties": {
        "contacts": {
          "type": "array",
          "items": {
            "$ref": "Contact"
          }
        }
      },
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2LogEntry": {
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2LogEntry",
      "properties": {
        "cloudLoggingEntry": {
          "$ref": "GoogleCloudSecuritycenterV2CloudLoggingEntry"
        }
      }
    },
    "DiscoveredWorkload": {
      "id": "DiscoveredWorkload",
      "type": "object",
      "properties": {
        "workloadType": {
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "WORKLOAD_TYPE_UNSPECIFIED",
            "MCP_SERVER",
            "AI_INFERENCE",
            "AGENT"
          ]
        },
        "detectedRelevantPackages": {
          "type": "boolean"
        },
        "detectedRelevantHardware": {
          "type": "boolean"
        },
        "detectedRelevantKeywords": {
          "type": "boolean"
        },
        "confidence": {
          "type": "string",
          "enum": [
            "CONFIDENCE_UNSPECIFIED",
            "CONFIDENCE_HIGH"
          ],
          "enumDescriptions": [
            "",
            ""
          ]
        }
      }
    },
    "AwsOrganizationalUnit": {
      "id": "AwsOrganizationalUnit",
      "type": "object",
      "properties": {
        "id": {
          "type": "string"
        },
        "name": {
          "type": "string"
        }
      }
    },
    "GoogleCloudSecuritycenterV2BackupDisasterRecovery": {
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2BackupDisasterRecovery",
      "properties": {
        "backupTemplate": {
          "type": "string"
        },
        "applications": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "host": {
          "type": "string"
        },
        "storagePool": {
          "type": "string"
        },
        "appliance": {
          "type": "string"
        },
        "backupType": {
          "type": "string"
        },
        "profile": {
          "type": "string"
        },
        "policies": {
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "backupCreateTime": {
          "type": "string",
          "format": "google-datetime"
        },
        "policyOptions": {
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      }
    },
    "GoogleCloudSecuritycenterV2AzureMetadata": {
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2AzureMetadata",
      "properties": {
        "tenant": {
          "$ref": "GoogleCloudSecuritycenterV2AzureTenant"
        },
        "resourceGroup": {
          "$ref": "GoogleCloudSecuritycenterV2AzureResourceGroup"
        },
        "subscription": {
          "$ref": "GoogleCloudSecuritycenterV2AzureSubscription"
        },
        "managementGroups": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2AzureManagementGroup"
          }
        }
      }
    },
    "GoogleCloudSecuritycenterV2ToxicCombination": {
      "properties": {
        "relatedFindings": {
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "attackExposureScore": {
          "format": "double",
          "type": "number"
        }
      },
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2ToxicCombination"
    },
    "GoogleCloudSecuritycenterV2SecurityMarks": {
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2SecurityMarks",
      "properties": {
        "marks": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "name": {
          "type": "string"
        },
        "canonicalName": {
          "type": "string"
        }
      }
    },
    "Empty": {
      "type": "object",
      "properties": {},
      "id": "Empty"
    },
    "Compliance": {
      "properties": {
        "ids": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "version": {
          "type": "string"
        },
        "standard": {
          "type": "string"
        }
      },
      "id": "Compliance",
      "type": "object"
    },
    "Access": {
      "type": "object",
      "id": "Access",
      "properties": {
        "callerIp": {
          "type": "string"
        },
        "serviceAccountDelegationInfo": {
          "type": "array",
          "items": {
            "$ref": "ServiceAccountDelegationInfo"
          }
        },
        "principalSubject": {
          "type": "string"
        },
        "callerIpGeo": {
          "$ref": "Geolocation"
        },
        "methodName": {
          "type": "string"
        },
        "userName": {
          "type": "string"
        },
        "principalEmail": {
          "type": "string"
        },
        "userAgent": {
          "type": "string"
        },
        "userAgentFamily": {
          "type": "string"
        },
        "serviceName": {
          "type": "string"
        },
        "serviceAccountKeyName": {
          "type": "string"
        }
      }
    },
    "AwsMetadata": {
      "type": "object",
      "properties": {
        "account": {
          "$ref": "AwsAccount"
        },
        "organizationalUnits": {
          "type": "array",
          "items": {
            "$ref": "AwsOrganizationalUnit"
          }
        },
        "organization": {
          "$ref": "AwsOrganization"
        }
      },
      "id": "AwsMetadata"
    },
    "Exfiltration": {
      "id": "Exfiltration",
      "properties": {
        "totalExfiltratedBytes": {
          "type": "string",
          "format": "int64"
        },
        "targets": {
          "type": "array",
          "items": {
            "$ref": "ExfilResource"
          }
        },
        "sources": {
          "type": "array",
          "items": {
            "$ref": "ExfilResource"
          }
        }
      },
      "type": "object"
    },
    "GoogleCloudSecuritycenterV1p1beta1Resource": {
      "properties": {
        "project": {
          "type": "string"
        },
        "projectDisplayName": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "folders": {
          "items": {
            "$ref": "GoogleCloudSecuritycenterV1p1beta1Folder"
          },
          "type": "array",
          "readOnly": true
        },
        "parentDisplayName": {
          "type": "string"
        },
        "parent": {
          "type": "string"
        }
      },
      "id": "GoogleCloudSecuritycenterV1p1beta1Resource",
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2IssueResourceAwsMetadata": {
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2IssueResourceAwsMetadata",
      "properties": {
        "account": {
          "$ref": "GoogleCloudSecuritycenterV2IssueResourceAwsMetadataAwsAccount"
        }
      }
    },
    "GoogleCloudSecuritycenterV1IamRolePermission": {
      "properties": {
        "name": {
          "type": "string"
        },
        "role": {
          "type": "string"
        }
      },
      "id": "GoogleCloudSecuritycenterV1IamRolePermission",
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2AiModel": {
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2AiModel",
      "properties": {
        "library": {
          "type": "string"
        },
        "domain": {
          "type": "string"
        },
        "usageCategory": {
          "type": "string"
        },
        "displayName": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "deploymentPlatform": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "DEPLOYMENT_PLATFORM_UNSPECIFIED",
            "VERTEX_AI",
            "GKE",
            "GCE",
            "FINE_TUNED_MODEL"
          ]
        },
        "location": {
          "type": "string"
        },
        "publisher": {
          "type": "string"
        }
      }
    },
    "GoogleCloudSecuritycenterV2IssueResource": {
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2IssueResource",
      "properties": {
        "name": {
          "type": "string"
        },
        "adcApplication": {
          "$ref": "GoogleCloudSecuritycenterV2IssueResourceAdcApplication"
        },
        "azureMetadata": {
          "$ref": "GoogleCloudSecuritycenterV2IssueResourceAzureMetadata"
        },
        "awsMetadata": {
          "$ref": "GoogleCloudSecuritycenterV2IssueResourceAwsMetadata"
        },
        "googleCloudMetadata": {
          "$ref": "GoogleCloudSecuritycenterV2IssueResourceGoogleCloudMetadata"
        },
        "cloudProvider": {
          "type": "string",
          "enum": [
            "CLOUD_PROVIDER_UNSPECIFIED",
            "GOOGLE_CLOUD",
            "AMAZON_WEB_SERVICES",
            "MICROSOFT_AZURE"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ]
        },
        "application": {
          "$ref": "GoogleCloudSecuritycenterV2IssueResourceApplication"
        },
        "adcApplicationTemplate": {
          "$ref": "GoogleCloudSecuritycenterV2IssueResourceAdcApplicationTemplateRevision"
        },
        "type": {
          "type": "string"
        },
        "adcSharedTemplate": {
          "$ref": "GoogleCloudSecuritycenterV2IssueResourceAdcSharedTemplateRevision"
        },
        "displayName": {
          "type": "string"
        }
      }
    },
    "TestIamPermissionsResponse": {
      "properties": {
        "permissions": {
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "type": "object",
      "id": "TestIamPermissionsResponse"
    },
    "SecurityCenterProperties": {
      "properties": {
        "resourceOwners": {
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "resourceParent": {
          "type": "string"
        },
        "resourceProjectDisplayName": {
          "type": "string"
        },
        "resourceParentDisplayName": {
          "type": "string"
        },
        "resourceProject": {
          "type": "string"
        },
        "folders": {
          "type": "array",
          "items": {
            "$ref": "Folder"
          }
        },
        "resourceName": {
          "type": "string"
        },
        "resourceType": {
          "type": "string"
        },
        "resourceDisplayName": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "SecurityCenterProperties"
    },
    "StreamingConfig": {
      "type": "object",
      "properties": {
        "filter": {
          "type": "string"
        }
      },
      "id": "StreamingConfig"
    },
    "GoogleCloudSecuritycenterV1ResourceSelector": {
      "properties": {
        "resourceTypes": {
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object",
      "id": "GoogleCloudSecuritycenterV1ResourceSelector"
    },
    "GroupResult": {
      "id": "GroupResult",
      "properties": {
        "properties": {
          "type": "object",
          "additionalProperties": {
            "type": "any"
          }
        },
        "count": {
          "format": "int64",
          "type": "string"
        }
      },
      "type": "object"
    },
    "SecurityMarks": {
      "id": "SecurityMarks",
      "properties": {
        "marks": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "canonicalName": {
          "type": "string"
        },
        "name": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GcpMetadata": {
      "properties": {
        "folders": {
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2Folder"
          },
          "type": "array",
          "readOnly": true
        },
        "organization": {
          "type": "string"
        },
        "projectDisplayName": {
          "type": "string"
        },
        "parentDisplayName": {
          "type": "string"
        },
        "parent": {
          "type": "string"
        },
        "project": {
          "type": "string"
        }
      },
      "id": "GcpMetadata",
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2Connection": {
      "type": "object",
      "properties": {
        "protocol": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "PROTOCOL_UNSPECIFIED",
            "ICMP",
            "TCP",
            "UDP",
            "GRE",
            "ESP"
          ]
        },
        "destinationPort": {
          "type": "integer",
          "format": "int32"
        },
        "sourceIp": {
          "type": "string"
        },
        "sourcePort": {
          "type": "integer",
          "format": "int32"
        },
        "destinationIp": {
          "type": "string"
        }
      },
      "id": "GoogleCloudSecuritycenterV2Connection"
    },
    "GoogleCloudSecuritycenterV2Cvssv3": {
      "id": "GoogleCloudSecuritycenterV2Cvssv3",
      "type": "object",
      "properties": {
        "scope": {
          "type": "string",
          "enum": [
            "SCOPE_UNSPECIFIED",
            "SCOPE_UNCHANGED",
            "SCOPE_CHANGED"
          ],
          "enumDescriptions": [
            "",
            "",
            ""
          ]
        },
        "availabilityImpact": {
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "IMPACT_UNSPECIFIED",
            "IMPACT_HIGH",
            "IMPACT_LOW",
            "IMPACT_NONE"
          ]
        },
        "baseScore": {
          "type": "number",
          "format": "double"
        },
        "userInteraction": {
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "USER_INTERACTION_UNSPECIFIED",
            "USER_INTERACTION_NONE",
            "USER_INTERACTION_REQUIRED"
          ]
        },
        "attackVector": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "ATTACK_VECTOR_UNSPECIFIED",
            "ATTACK_VECTOR_NETWORK",
            "ATTACK_VECTOR_ADJACENT",
            "ATTACK_VECTOR_LOCAL",
            "ATTACK_VECTOR_PHYSICAL"
          ]
        },
        "integrityImpact": {
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "IMPACT_UNSPECIFIED",
            "IMPACT_HIGH",
            "IMPACT_LOW",
            "IMPACT_NONE"
          ]
        },
        "confidentialityImpact": {
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "IMPACT_UNSPECIFIED",
            "IMPACT_HIGH",
            "IMPACT_LOW",
            "IMPACT_NONE"
          ]
        },
        "attackComplexity": {
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "ATTACK_COMPLEXITY_UNSPECIFIED",
            "ATTACK_COMPLEXITY_LOW",
            "ATTACK_COMPLEXITY_HIGH"
          ]
        },
        "privilegesRequired": {
          "type": "string",
          "enum": [
            "PRIVILEGES_REQUIRED_UNSPECIFIED",
            "PRIVILEGES_REQUIRED_NONE",
            "PRIVILEGES_REQUIRED_LOW",
            "PRIVILEGES_REQUIRED_HIGH"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ]
        }
      }
    },
    "AttackPathEdge": {
      "id": "AttackPathEdge",
      "properties": {
        "source": {
          "type": "string"
        },
        "destination": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "CustomModuleValidationErrors": {
      "properties": {
        "errors": {
          "type": "array",
          "items": {
            "$ref": "CustomModuleValidationError"
          }
        }
      },
      "type": "object",
      "id": "CustomModuleValidationErrors"
    },
    "InvocationReference": {
      "properties": {
        "invocationId": {
          "type": "string"
        }
      },
      "id": "InvocationReference",
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2NodePool": {
      "type": "object",
      "properties": {
        "nodes": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2Node"
          }
        },
        "name": {
          "type": "string"
        }
      },
      "id": "GoogleCloudSecuritycenterV2NodePool"
    },
    "GoogleCloudSecuritycenterV2Folder": {
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2Folder",
      "properties": {
        "resourceFolderDisplayName": {
          "type": "string"
        },
        "resourceFolder": {
          "type": "string"
        }
      }
    },
    "GoogleCloudSecuritycenterV2AgentDataAccessEvent": {
      "properties": {
        "principalSubject": {
          "type": "string"
        },
        "operation": {
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "OPERATION_UNSPECIFIED",
            "READ",
            "MOVE",
            "COPY"
          ]
        },
        "eventId": {
          "type": "string"
        },
        "eventTime": {
          "type": "string",
          "format": "google-datetime"
        }
      },
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2AgentDataAccessEvent"
    },
    "SecretFilePath": {
      "id": "SecretFilePath",
      "properties": {
        "path": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "AzureSubscription": {
      "type": "object",
      "id": "AzureSubscription",
      "properties": {
        "id": {
          "type": "string"
        },
        "displayName": {
          "type": "string"
        }
      }
    },
    "SecurityPosture": {
      "id": "SecurityPosture",
      "type": "object",
      "properties": {
        "postureDeploymentResource": {
          "type": "string"
        },
        "revisionId": {
          "type": "string"
        },
        "changedPolicy": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "postureDeployment": {
          "type": "string"
        },
        "policy": {
          "type": "string"
        },
        "policyDriftDetails": {
          "items": {
            "$ref": "PolicyDriftDetails"
          },
          "type": "array"
        },
        "policySet": {
          "type": "string"
        }
      }
    },
    "GoogleCloudSecuritycenterV2Container": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        },
        "uri": {
          "type": "string"
        },
        "labels": {
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2Label"
          },
          "type": "array"
        },
        "imageId": {
          "type": "string"
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime"
        }
      },
      "id": "GoogleCloudSecuritycenterV2Container"
    },
    "DynamicMuteRecord": {
      "type": "object",
      "id": "DynamicMuteRecord",
      "properties": {
        "matchTime": {
          "type": "string",
          "format": "google-datetime"
        },
        "muteConfig": {
          "type": "string"
        }
      }
    },
    "GoogleCloudSecuritycenterV2IpRule": {
      "properties": {
        "protocol": {
          "type": "string"
        },
        "portRanges": {
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2PortRange"
          },
          "type": "array"
        }
      },
      "id": "GoogleCloudSecuritycenterV2IpRule",
      "type": "object"
    },
    "IpRules": {
      "properties": {
        "sourceIpRanges": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "direction": {
          "type": "string",
          "enum": [
            "DIRECTION_UNSPECIFIED",
            "INGRESS",
            "EGRESS"
          ],
          "enumDescriptions": [
            "",
            "",
            ""
          ]
        },
        "exposedServices": {
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "denied": {
          "$ref": "Denied"
        },
        "allowed": {
          "$ref": "Allowed"
        },
        "destinationIpRanges": {
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object",
      "id": "IpRules"
    },
    "GoogleCloudSecuritycenterV2OrgPolicy": {
      "id": "GoogleCloudSecuritycenterV2OrgPolicy",
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        }
      }
    },
    "MitreAttack": {
      "id": "MitreAttack",
      "properties": {
        "primaryTechniques": {
          "items": {
            "type": "string",
            "enum": [
              "TECHNIQUE_UNSPECIFIED",
              "DATA_OBFUSCATION",
              "DATA_OBFUSCATION_STEGANOGRAPHY",
              "OS_CREDENTIAL_DUMPING",
              "OS_CREDENTIAL_DUMPING_PROC_FILESYSTEM",
              "OS_CREDENTIAL_DUMPING_ETC_PASSWORD_AND_ETC_SHADOW",
              "DATA_FROM_LOCAL_SYSTEM",
              "AUTOMATED_EXFILTRATION",
              "OBFUSCATED_FILES_OR_INFO",
              "STEGANOGRAPHY",
              "COMPILE_AFTER_DELIVERY",
              "COMMAND_OBFUSCATION",
              "SCHEDULED_TRANSFER",
              "SYSTEM_OWNER_USER_DISCOVERY",
              "MASQUERADING",
              "MATCH_LEGITIMATE_NAME_OR_LOCATION",
              "BOOT_OR_LOGON_INITIALIZATION_SCRIPTS",
              "STARTUP_ITEMS",
              "NETWORK_SERVICE_DISCOVERY",
              "SCHEDULED_TASK_JOB",
              "SCHEDULED_TASK_JOB_CRON",
              "CONTAINER_ORCHESTRATION_JOB",
              "PROCESS_INJECTION",
              "INPUT_CAPTURE",
              "INPUT_CAPTURE_KEYLOGGING",
              "PROCESS_DISCOVERY",
              "COMMAND_AND_SCRIPTING_INTERPRETER",
              "UNIX_SHELL",
              "PYTHON",
              "EXPLOITATION_FOR_PRIVILEGE_ESCALATION",
              "PERMISSION_GROUPS_DISCOVERY",
              "CLOUD_GROUPS",
              "INDICATOR_REMOVAL",
              "INDICATOR_REMOVAL_CLEAR_LINUX_OR_MAC_SYSTEM_LOGS",
              "INDICATOR_REMOVAL_CLEAR_COMMAND_HISTORY",
              "INDICATOR_REMOVAL_FILE_DELETION",
              "INDICATOR_REMOVAL_TIMESTOMP",
              "INDICATOR_REMOVAL_CLEAR_MAILBOX_DATA",
              "APPLICATION_LAYER_PROTOCOL",
              "DNS",
              "SOFTWARE_DEPLOYMENT_TOOLS",
              "VALID_ACCOUNTS",
              "DEFAULT_ACCOUNTS",
              "LOCAL_ACCOUNTS",
              "CLOUD_ACCOUNTS",
              "FILE_AND_DIRECTORY_DISCOVERY",
              "ACCOUNT_DISCOVERY_LOCAL_ACCOUNT",
              "PROXY",
              "EXTERNAL_PROXY",
              "MULTI_HOP_PROXY",
              "ACCOUNT_MANIPULATION",
              "ADDITIONAL_CLOUD_CREDENTIALS",
              "ADDITIONAL_CLOUD_ROLES",
              "SSH_AUTHORIZED_KEYS",
              "ADDITIONAL_CONTAINER_CLUSTER_ROLES",
              "MULTI_STAGE_CHANNELS",
              "INGRESS_TOOL_TRANSFER",
              "NATIVE_API",
              "BRUTE_FORCE",
              "AUTOMATED_COLLECTION",
              "SHARED_MODULES",
              "DATA_ENCODING",
              "STANDARD_ENCODING",
              "ACCESS_TOKEN_MANIPULATION",
              "TOKEN_IMPERSONATION_OR_THEFT",
              "CREATE_ACCOUNT",
              "LOCAL_ACCOUNT",
              "DEOBFUSCATE_DECODE_FILES_OR_INFO",
              "EXPLOIT_PUBLIC_FACING_APPLICATION",
              "SUPPLY_CHAIN_COMPROMISE",
              "COMPROMISE_SOFTWARE_DEPENDENCIES_AND_DEVELOPMENT_TOOLS",
              "EXPLOITATION_FOR_CLIENT_EXECUTION",
              "USER_EXECUTION",
              "EXPLOITATION_FOR_CREDENTIAL_ACCESS",
              "LINUX_AND_MAC_FILE_AND_DIRECTORY_PERMISSIONS_MODIFICATION",
              "DOMAIN_POLICY_MODIFICATION",
              "DATA_DESTRUCTION",
              "DATA_ENCRYPTED_FOR_IMPACT",
              "SERVICE_STOP",
              "INHIBIT_SYSTEM_RECOVERY",
              "FIRMWARE_CORRUPTION",
              "RESOURCE_HIJACKING",
              "NETWORK_DENIAL_OF_SERVICE",
              "CLOUD_SERVICE_DISCOVERY",
              "STEAL_APPLICATION_ACCESS_TOKEN",
              "ACCOUNT_ACCESS_REMOVAL",
              "TRANSFER_DATA_TO_CLOUD_ACCOUNT",
              "STEAL_WEB_SESSION_COOKIE",
              "CREATE_OR_MODIFY_SYSTEM_PROCESS",
              "EVENT_TRIGGERED_EXECUTION",
              "BOOT_OR_LOGON_AUTOSTART_EXECUTION",
              "KERNEL_MODULES_AND_EXTENSIONS",
              "SHORTCUT_MODIFICATION",
              "ABUSE_ELEVATION_CONTROL_MECHANISM",
              "ABUSE_ELEVATION_CONTROL_MECHANISM_SETUID_AND_SETGID",
              "ABUSE_ELEVATION_CONTROL_MECHANISM_SUDO_AND_SUDO_CACHING",
              "UNSECURED_CREDENTIALS",
              "CREDENTIALS_IN_FILES",
              "BASH_HISTORY",
              "PRIVATE_KEYS",
              "SUBVERT_TRUST_CONTROL",
              "INSTALL_ROOT_CERTIFICATE",
              "COMPROMISE_HOST_SOFTWARE_BINARY",
              "CREDENTIALS_FROM_PASSWORD_STORES",
              "MODIFY_AUTHENTICATION_PROCESS",
              "PLUGGABLE_AUTHENTICATION_MODULES",
              "MULTI_FACTOR_AUTHENTICATION",
              "IMPAIR_DEFENSES",
              "DISABLE_OR_MODIFY_TOOLS",
              "INDICATOR_BLOCKING",
              "DISABLE_OR_MODIFY_LINUX_AUDIT_SYSTEM",
              "HIDE_ARTIFACTS",
              "HIDDEN_FILES_AND_DIRECTORIES",
              "HIDDEN_USERS",
              "EXFILTRATION_OVER_WEB_SERVICE",
              "EXFILTRATION_TO_CLOUD_STORAGE",
              "DYNAMIC_RESOLUTION",
              "LATERAL_TOOL_TRANSFER",
              "HIJACK_EXECUTION_FLOW",
              "HIJACK_EXECUTION_FLOW_DYNAMIC_LINKER_HIJACKING",
              "MODIFY_CLOUD_COMPUTE_INFRASTRUCTURE",
              "CREATE_SNAPSHOT",
              "CLOUD_INFRASTRUCTURE_DISCOVERY",
              "DEVELOP_CAPABILITIES",
              "DEVELOP_CAPABILITIES_MALWARE",
              "OBTAIN_CAPABILITIES",
              "OBTAIN_CAPABILITIES_MALWARE",
              "OBTAIN_CAPABILITIES_VULNERABILITIES",
              "ACTIVE_SCANNING",
              "SCANNING_IP_BLOCKS",
              "STAGE_CAPABILITIES",
              "UPLOAD_MALWARE",
              "CONTAINER_ADMINISTRATION_COMMAND",
              "DEPLOY_CONTAINER",
              "ESCAPE_TO_HOST",
              "CONTAINER_AND_RESOURCE_DISCOVERY",
              "REFLECTIVE_CODE_LOADING",
              "STEAL_OR_FORGE_AUTHENTICATION_CERTIFICATES",
              "FINANCIAL_THEFT"
            ],
            "enumDescriptions": [
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              ""
            ]
          },
          "type": "array"
        },
        "additionalTactics": {
          "type": "array",
          "items": {
            "enumDescriptions": [
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              ""
            ],
            "type": "string",
            "enum": [
              "TACTIC_UNSPECIFIED",
              "RECONNAISSANCE",
              "RESOURCE_DEVELOPMENT",
              "INITIAL_ACCESS",
              "EXECUTION",
              "PERSISTENCE",
              "PRIVILEGE_ESCALATION",
              "DEFENSE_EVASION",
              "CREDENTIAL_ACCESS",
              "DISCOVERY",
              "LATERAL_MOVEMENT",
              "COLLECTION",
              "COMMAND_AND_CONTROL",
              "EXFILTRATION",
              "IMPACT"
            ]
          }
        },
        "primaryTactic": {
          "type": "string",
          "enum": [
            "TACTIC_UNSPECIFIED",
            "RECONNAISSANCE",
            "RESOURCE_DEVELOPMENT",
            "INITIAL_ACCESS",
            "EXECUTION",
            "PERSISTENCE",
            "PRIVILEGE_ESCALATION",
            "DEFENSE_EVASION",
            "CREDENTIAL_ACCESS",
            "DISCOVERY",
            "LATERAL_MOVEMENT",
            "COLLECTION",
            "COMMAND_AND_CONTROL",
            "EXFILTRATION",
            "IMPACT"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ]
        },
        "additionalTechniques": {
          "items": {
            "enumDescriptions": [
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              ""
            ],
            "type": "string",
            "enum": [
              "TECHNIQUE_UNSPECIFIED",
              "DATA_OBFUSCATION",
              "DATA_OBFUSCATION_STEGANOGRAPHY",
              "OS_CREDENTIAL_DUMPING",
              "OS_CREDENTIAL_DUMPING_PROC_FILESYSTEM",
              "OS_CREDENTIAL_DUMPING_ETC_PASSWORD_AND_ETC_SHADOW",
              "DATA_FROM_LOCAL_SYSTEM",
              "AUTOMATED_EXFILTRATION",
              "OBFUSCATED_FILES_OR_INFO",
              "STEGANOGRAPHY",
              "COMPILE_AFTER_DELIVERY",
              "COMMAND_OBFUSCATION",
              "SCHEDULED_TRANSFER",
              "SYSTEM_OWNER_USER_DISCOVERY",
              "MASQUERADING",
              "MATCH_LEGITIMATE_NAME_OR_LOCATION",
              "BOOT_OR_LOGON_INITIALIZATION_SCRIPTS",
              "STARTUP_ITEMS",
              "NETWORK_SERVICE_DISCOVERY",
              "SCHEDULED_TASK_JOB",
              "SCHEDULED_TASK_JOB_CRON",
              "CONTAINER_ORCHESTRATION_JOB",
              "PROCESS_INJECTION",
              "INPUT_CAPTURE",
              "INPUT_CAPTURE_KEYLOGGING",
              "PROCESS_DISCOVERY",
              "COMMAND_AND_SCRIPTING_INTERPRETER",
              "UNIX_SHELL",
              "PYTHON",
              "EXPLOITATION_FOR_PRIVILEGE_ESCALATION",
              "PERMISSION_GROUPS_DISCOVERY",
              "CLOUD_GROUPS",
              "INDICATOR_REMOVAL",
              "INDICATOR_REMOVAL_CLEAR_LINUX_OR_MAC_SYSTEM_LOGS",
              "INDICATOR_REMOVAL_CLEAR_COMMAND_HISTORY",
              "INDICATOR_REMOVAL_FILE_DELETION",
              "INDICATOR_REMOVAL_TIMESTOMP",
              "INDICATOR_REMOVAL_CLEAR_MAILBOX_DATA",
              "APPLICATION_LAYER_PROTOCOL",
              "DNS",
              "SOFTWARE_DEPLOYMENT_TOOLS",
              "VALID_ACCOUNTS",
              "DEFAULT_ACCOUNTS",
              "LOCAL_ACCOUNTS",
              "CLOUD_ACCOUNTS",
              "FILE_AND_DIRECTORY_DISCOVERY",
              "ACCOUNT_DISCOVERY_LOCAL_ACCOUNT",
              "PROXY",
              "EXTERNAL_PROXY",
              "MULTI_HOP_PROXY",
              "ACCOUNT_MANIPULATION",
              "ADDITIONAL_CLOUD_CREDENTIALS",
              "ADDITIONAL_CLOUD_ROLES",
              "SSH_AUTHORIZED_KEYS",
              "ADDITIONAL_CONTAINER_CLUSTER_ROLES",
              "MULTI_STAGE_CHANNELS",
              "INGRESS_TOOL_TRANSFER",
              "NATIVE_API",
              "BRUTE_FORCE",
              "AUTOMATED_COLLECTION",
              "SHARED_MODULES",
              "DATA_ENCODING",
              "STANDARD_ENCODING",
              "ACCESS_TOKEN_MANIPULATION",
              "TOKEN_IMPERSONATION_OR_THEFT",
              "CREATE_ACCOUNT",
              "LOCAL_ACCOUNT",
              "DEOBFUSCATE_DECODE_FILES_OR_INFO",
              "EXPLOIT_PUBLIC_FACING_APPLICATION",
              "SUPPLY_CHAIN_COMPROMISE",
              "COMPROMISE_SOFTWARE_DEPENDENCIES_AND_DEVELOPMENT_TOOLS",
              "EXPLOITATION_FOR_CLIENT_EXECUTION",
              "USER_EXECUTION",
              "EXPLOITATION_FOR_CREDENTIAL_ACCESS",
              "LINUX_AND_MAC_FILE_AND_DIRECTORY_PERMISSIONS_MODIFICATION",
              "DOMAIN_POLICY_MODIFICATION",
              "DATA_DESTRUCTION",
              "DATA_ENCRYPTED_FOR_IMPACT",
              "SERVICE_STOP",
              "INHIBIT_SYSTEM_RECOVERY",
              "FIRMWARE_CORRUPTION",
              "RESOURCE_HIJACKING",
              "NETWORK_DENIAL_OF_SERVICE",
              "CLOUD_SERVICE_DISCOVERY",
              "STEAL_APPLICATION_ACCESS_TOKEN",
[...]
