{
  "title": "Security Command Center API",
  "id": "securitycenter:v1beta2",
  "servicePath": "",
  "batchPath": "batch",
  "rootUrl": "https://securitycenter.googleapis.com/",
  "version_module": true,
  "name": "securitycenter",
  "kind": "discovery#restDescription",
  "revision": "20260820",
  "baseUrl": "https://securitycenter.googleapis.com/",
  "protocol": "rest",
  "basePath": "",
  "fullyEncodeReservedExpansion": true,
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        },
        "https://www.googleapis.com/auth/securitycenter": {
          "description": "See, edit, configure, and delete your Google Cloud Security Command Center data and see the email address for your Google Account"
        }
      }
    }
  },
  "version": "v1beta2",
  "parameters": {
    "quotaUser": {
      "type": "string",
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "callback": {
      "description": "JSONP",
      "type": "string",
      "location": "query"
    },
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "$.xgafv": {
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query",
      "type": "string",
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ]
    },
    "alt": {
      "location": "query",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "description": "Data format for response.",
      "type": "string"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string",
      "location": "query"
    },
    "upload_protocol": {
      "type": "string",
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "prettyPrint": {
      "location": "query",
      "type": "boolean",
      "default": "true",
      "description": "Returns response with indentations and line breaks."
    }
  },
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "mtlsRootUrl": "https://securitycenter.mtls.googleapis.com/",
  "discoveryVersion": "v1",
  "ownerDomain": "google.com",
  "schemas": {
    "GoogleCloudSecuritycenterV2TicketInfo": {
      "id": "GoogleCloudSecuritycenterV2TicketInfo",
      "properties": {
        "status": {
          "type": "string"
        },
        "assignee": {
          "type": "string"
        },
        "uri": {
          "type": "string"
        },
        "updateTime": {
          "type": "string",
          "format": "google-datetime"
        },
        "id": {
          "type": "string"
        },
        "description": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "Details": {
      "type": "object",
      "properties": {
        "type": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "TYPE_UNSPECIFIED",
            "STANDARD",
            "TRIAL",
            "ALPHA",
            "DEMO",
            "PAY_AS_YOU_GO",
            "SUBSCRIPTION",
            "SUB_FIXED",
            "SUB_BASE_OVERAGE"
          ]
        },
        "endTime": {
          "format": "google-datetime",
          "type": "string"
        },
        "startTime": {
          "type": "string",
          "format": "google-datetime"
        }
      },
      "id": "Details"
    },
    "GoogleCloudSecuritycenterV2ToxicCombination": {
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2ToxicCombination",
      "properties": {
        "attackExposureScore": {
          "format": "double",
          "type": "number"
        },
        "relatedFindings": {
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "GoogleCloudSecuritycenterV2SensitivityScore": {
      "properties": {
        "score": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "SENSITIVITY_SCORE_LEVEL_UNSPECIFIED",
            "SENSITIVITY_LOW",
            "SENSITIVITY_UNKNOWN",
            "SENSITIVITY_MODERATE",
            "SENSITIVITY_HIGH"
          ]
        }
      },
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2SensitivityScore"
    },
    "GoogleCloudSecuritycenterV2DynamicMuteRecord": {
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2DynamicMuteRecord",
      "properties": {
        "matchTime": {
          "type": "string",
          "format": "google-datetime"
        },
        "muteConfig": {
          "type": "string"
        }
      }
    },
    "LoadBalancer": {
      "type": "object",
      "id": "LoadBalancer",
      "properties": {
        "name": {
          "type": "string"
        }
      }
    },
    "GoogleCloudSecuritycenterV2Vulnerability": {
      "properties": {
        "fixedPackage": {
          "$ref": "GoogleCloudSecuritycenterV2Package"
        },
        "securityBulletin": {
          "$ref": "GoogleCloudSecuritycenterV2SecurityBulletin"
        },
        "offendingPackage": {
          "$ref": "GoogleCloudSecuritycenterV2Package"
        },
        "cve": {
          "$ref": "GoogleCloudSecuritycenterV2Cve"
        },
        "providerRiskScore": {
          "format": "int64",
          "type": "string"
        },
        "reachable": {
          "type": "boolean"
        },
        "cwes": {
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2Cwe"
          },
          "type": "array"
        }
      },
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2Vulnerability"
    },
    "GoogleCloudSecuritycenterV2InvocationReference": {
      "properties": {
        "invocationId": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2InvocationReference"
    },
    "Cwe": {
      "type": "object",
      "id": "Cwe",
      "properties": {
        "id": {
          "type": "string"
        },
        "references": {
          "type": "array",
          "items": {
            "$ref": "Reference"
          }
        }
      }
    },
    "GoogleCloudSecuritycenterV2Pod": {
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2Pod",
      "properties": {
        "ns": {
          "type": "string"
        },
        "containers": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2Container"
          }
        },
        "name": {
          "type": "string"
        },
        "labels": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2Label"
          }
        }
      }
    },
    "IamBinding": {
      "id": "IamBinding",
      "properties": {
        "role": {
          "type": "string"
        },
        "member": {
          "type": "string"
        },
        "action": {
          "enum": [
            "ACTION_UNSPECIFIED",
            "ADD",
            "REMOVE"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            ""
          ]
        }
      },
      "type": "object"
    },
    "DataFlowEvent": {
      "id": "DataFlowEvent",
      "properties": {
        "violatedLocation": {
          "type": "string"
        },
        "operation": {
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "OPERATION_UNSPECIFIED",
            "READ",
            "MOVE",
            "COPY"
          ],
          "type": "string"
        },
        "eventId": {
          "type": "string"
        },
        "eventTime": {
          "type": "string",
          "format": "google-datetime"
        },
        "principalEmail": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudSecuritycenterV1MuteConfig": {
      "properties": {
        "type": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "MUTE_CONFIG_TYPE_UNSPECIFIED",
            "STATIC",
            "DYNAMIC"
          ]
        },
        "updateTime": {
          "format": "google-datetime",
          "type": "string",
          "readOnly": true
        },
        "name": {
          "type": "string"
        },
        "expiryTime": {
          "format": "google-datetime",
          "type": "string"
        },
        "mostRecentEditor": {
          "readOnly": true,
          "type": "string"
        },
        "filter": {
          "type": "string"
        },
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "readOnly": true
        },
        "description": {
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "deprecated": true
        }
      },
      "id": "GoogleCloudSecuritycenterV1MuteConfig",
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2Issue": {
      "properties": {
        "updateTime": {
          "format": "google-datetime",
          "type": "string",
          "readOnly": true
        },
        "detection": {
          "type": "string"
        },
        "securityContexts": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2IssueSecurityContext"
          }
        },
        "issueType": {
          "type": "string",
          "enum": [
            "ISSUE_TYPE_UNSPECIFIED",
            "CHOKEPOINT",
            "TOXIC_COMBINATION",
            "INSIGHT"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ]
        },
        "lastObservationTime": {
          "type": "string",
          "format": "google-datetime"
        },
        "severity": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "SEVERITY_UNSPECIFIED",
            "CRITICAL",
            "HIGH",
            "MEDIUM",
            "LOW"
          ]
        },
        "description": {
          "type": "string"
        },
        "secondaryResources": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2IssueResource"
          }
        },
        "createTime": {
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "remediations": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "exposureScore": {
          "type": "number",
          "format": "double"
        },
        "mute": {
          "$ref": "GoogleCloudSecuritycenterV2IssueMute"
        },
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "INACTIVE"
          ],
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            ""
          ]
        },
        "domains": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2IssueDomain"
          }
        },
        "relatedFindings": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2IssueFinding"
          }
        },
        "primaryResource": {
          "$ref": "GoogleCloudSecuritycenterV2IssueResource"
        }
      },
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2Issue"
    },
    "GoogleCloudSecuritycenterV1CustomConfig": {
      "type": "object",
      "properties": {
        "description": {
          "type": "string"
        },
        "predicate": {
          "$ref": "Expr"
        },
        "customOutput": {
          "$ref": "GoogleCloudSecuritycenterV1CustomOutputSpec"
        },
        "severity": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "SEVERITY_UNSPECIFIED",
            "CRITICAL",
            "HIGH",
            "MEDIUM",
            "LOW"
          ],
          "type": "string"
        },
        "resourceSelector": {
          "$ref": "GoogleCloudSecuritycenterV1ResourceSelector"
        },
        "recommendation": {
          "type": "string"
        }
      },
      "id": "GoogleCloudSecuritycenterV1CustomConfig"
    },
    "GoogleCloudSecuritycenterV2MitreAttack": {
      "type": "object",
      "properties": {
        "primaryTactic": {
          "enum": [
            "TACTIC_UNSPECIFIED",
            "RECONNAISSANCE",
            "RESOURCE_DEVELOPMENT",
            "INITIAL_ACCESS",
            "EXECUTION",
            "PERSISTENCE",
            "PRIVILEGE_ESCALATION",
            "DEFENSE_EVASION",
            "CREDENTIAL_ACCESS",
            "DISCOVERY",
            "LATERAL_MOVEMENT",
            "COLLECTION",
            "COMMAND_AND_CONTROL",
            "EXFILTRATION",
            "IMPACT"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ]
        },
        "additionalTactics": {
          "items": {
            "type": "string",
            "enumDescriptions": [
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              ""
            ],
            "enum": [
              "TACTIC_UNSPECIFIED",
              "RECONNAISSANCE",
              "RESOURCE_DEVELOPMENT",
              "INITIAL_ACCESS",
              "EXECUTION",
              "PERSISTENCE",
              "PRIVILEGE_ESCALATION",
              "DEFENSE_EVASION",
              "CREDENTIAL_ACCESS",
              "DISCOVERY",
              "LATERAL_MOVEMENT",
              "COLLECTION",
              "COMMAND_AND_CONTROL",
              "EXFILTRATION",
              "IMPACT"
            ]
          },
          "type": "array"
        },
        "additionalTechniques": {
          "type": "array",
          "items": {
            "type": "string",
            "enum": [
              "TECHNIQUE_UNSPECIFIED",
              "DATA_OBFUSCATION",
              "DATA_OBFUSCATION_STEGANOGRAPHY",
              "OS_CREDENTIAL_DUMPING",
              "OS_CREDENTIAL_DUMPING_PROC_FILESYSTEM",
              "OS_CREDENTIAL_DUMPING_ETC_PASSWORD_AND_ETC_SHADOW",
              "DATA_FROM_LOCAL_SYSTEM",
              "AUTOMATED_EXFILTRATION",
              "OBFUSCATED_FILES_OR_INFO",
              "STEGANOGRAPHY",
              "COMPILE_AFTER_DELIVERY",
              "COMMAND_OBFUSCATION",
              "SCHEDULED_TRANSFER",
              "SYSTEM_OWNER_USER_DISCOVERY",
              "MASQUERADING",
              "MATCH_LEGITIMATE_NAME_OR_LOCATION",
              "BOOT_OR_LOGON_INITIALIZATION_SCRIPTS",
              "STARTUP_ITEMS",
              "NETWORK_SERVICE_DISCOVERY",
              "SCHEDULED_TASK_JOB",
              "SCHEDULED_TASK_JOB_CRON",
              "CONTAINER_ORCHESTRATION_JOB",
              "PROCESS_INJECTION",
              "INPUT_CAPTURE",
              "INPUT_CAPTURE_KEYLOGGING",
              "PROCESS_DISCOVERY",
              "COMMAND_AND_SCRIPTING_INTERPRETER",
              "UNIX_SHELL",
              "PYTHON",
              "EXPLOITATION_FOR_PRIVILEGE_ESCALATION",
              "PERMISSION_GROUPS_DISCOVERY",
              "CLOUD_GROUPS",
              "INDICATOR_REMOVAL",
              "INDICATOR_REMOVAL_CLEAR_LINUX_OR_MAC_SYSTEM_LOGS",
              "INDICATOR_REMOVAL_CLEAR_COMMAND_HISTORY",
              "INDICATOR_REMOVAL_FILE_DELETION",
              "INDICATOR_REMOVAL_TIMESTOMP",
              "INDICATOR_REMOVAL_CLEAR_MAILBOX_DATA",
              "APPLICATION_LAYER_PROTOCOL",
              "DNS",
              "SOFTWARE_DEPLOYMENT_TOOLS",
              "VALID_ACCOUNTS",
              "DEFAULT_ACCOUNTS",
              "LOCAL_ACCOUNTS",
              "CLOUD_ACCOUNTS",
              "FILE_AND_DIRECTORY_DISCOVERY",
              "ACCOUNT_DISCOVERY_LOCAL_ACCOUNT",
              "PROXY",
              "EXTERNAL_PROXY",
              "MULTI_HOP_PROXY",
              "ACCOUNT_MANIPULATION",
              "ADDITIONAL_CLOUD_CREDENTIALS",
              "ADDITIONAL_CLOUD_ROLES",
              "SSH_AUTHORIZED_KEYS",
              "ADDITIONAL_CONTAINER_CLUSTER_ROLES",
              "MULTI_STAGE_CHANNELS",
              "INGRESS_TOOL_TRANSFER",
              "NATIVE_API",
              "BRUTE_FORCE",
              "AUTOMATED_COLLECTION",
              "SHARED_MODULES",
              "DATA_ENCODING",
              "STANDARD_ENCODING",
              "ACCESS_TOKEN_MANIPULATION",
              "TOKEN_IMPERSONATION_OR_THEFT",
              "CREATE_ACCOUNT",
              "LOCAL_ACCOUNT",
              "DEOBFUSCATE_DECODE_FILES_OR_INFO",
              "EXPLOIT_PUBLIC_FACING_APPLICATION",
              "SUPPLY_CHAIN_COMPROMISE",
              "COMPROMISE_SOFTWARE_DEPENDENCIES_AND_DEVELOPMENT_TOOLS",
              "EXPLOITATION_FOR_CLIENT_EXECUTION",
              "USER_EXECUTION",
              "EXPLOITATION_FOR_CREDENTIAL_ACCESS",
              "LINUX_AND_MAC_FILE_AND_DIRECTORY_PERMISSIONS_MODIFICATION",
              "DOMAIN_POLICY_MODIFICATION",
              "DATA_DESTRUCTION",
              "DATA_ENCRYPTED_FOR_IMPACT",
              "SERVICE_STOP",
              "INHIBIT_SYSTEM_RECOVERY",
              "FIRMWARE_CORRUPTION",
              "RESOURCE_HIJACKING",
              "NETWORK_DENIAL_OF_SERVICE",
              "CLOUD_SERVICE_DISCOVERY",
              "STEAL_APPLICATION_ACCESS_TOKEN",
              "ACCOUNT_ACCESS_REMOVAL",
              "TRANSFER_DATA_TO_CLOUD_ACCOUNT",
              "STEAL_WEB_SESSION_COOKIE",
              "CREATE_OR_MODIFY_SYSTEM_PROCESS",
              "EVENT_TRIGGERED_EXECUTION",
              "BOOT_OR_LOGON_AUTOSTART_EXECUTION",
              "KERNEL_MODULES_AND_EXTENSIONS",
              "SHORTCUT_MODIFICATION",
              "ABUSE_ELEVATION_CONTROL_MECHANISM",
              "ABUSE_ELEVATION_CONTROL_MECHANISM_SETUID_AND_SETGID",
              "ABUSE_ELEVATION_CONTROL_MECHANISM_SUDO_AND_SUDO_CACHING",
              "UNSECURED_CREDENTIALS",
              "CREDENTIALS_IN_FILES",
              "BASH_HISTORY",
              "PRIVATE_KEYS",
              "SUBVERT_TRUST_CONTROL",
              "INSTALL_ROOT_CERTIFICATE",
              "COMPROMISE_HOST_SOFTWARE_BINARY",
              "CREDENTIALS_FROM_PASSWORD_STORES",
              "MODIFY_AUTHENTICATION_PROCESS",
              "PLUGGABLE_AUTHENTICATION_MODULES",
              "MULTI_FACTOR_AUTHENTICATION",
              "IMPAIR_DEFENSES",
              "DISABLE_OR_MODIFY_TOOLS",
              "INDICATOR_BLOCKING",
              "DISABLE_OR_MODIFY_LINUX_AUDIT_SYSTEM",
              "HIDE_ARTIFACTS",
              "HIDDEN_FILES_AND_DIRECTORIES",
              "HIDDEN_USERS",
              "EXFILTRATION_OVER_WEB_SERVICE",
              "EXFILTRATION_TO_CLOUD_STORAGE",
              "DYNAMIC_RESOLUTION",
              "LATERAL_TOOL_TRANSFER",
              "HIJACK_EXECUTION_FLOW",
              "HIJACK_EXECUTION_FLOW_DYNAMIC_LINKER_HIJACKING",
              "MODIFY_CLOUD_COMPUTE_INFRASTRUCTURE",
              "CREATE_SNAPSHOT",
              "CLOUD_INFRASTRUCTURE_DISCOVERY",
              "DEVELOP_CAPABILITIES",
              "DEVELOP_CAPABILITIES_MALWARE",
              "OBTAIN_CAPABILITIES",
              "OBTAIN_CAPABILITIES_MALWARE",
              "OBTAIN_CAPABILITIES_VULNERABILITIES",
              "ACTIVE_SCANNING",
              "SCANNING_IP_BLOCKS",
              "STAGE_CAPABILITIES",
              "UPLOAD_MALWARE",
              "CONTAINER_ADMINISTRATION_COMMAND",
              "DEPLOY_CONTAINER",
              "ESCAPE_TO_HOST",
              "CONTAINER_AND_RESOURCE_DISCOVERY",
              "REFLECTIVE_CODE_LOADING",
              "STEAL_OR_FORGE_AUTHENTICATION_CERTIFICATES",
              "FINANCIAL_THEFT"
            ],
            "enumDescriptions": [
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              ""
            ]
          }
        },
        "primaryTechniques": {
          "items": {
            "type": "string",
            "enumDescriptions": [
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              ""
            ],
            "enum": [
              "TECHNIQUE_UNSPECIFIED",
              "DATA_OBFUSCATION",
              "DATA_OBFUSCATION_STEGANOGRAPHY",
              "OS_CREDENTIAL_DUMPING",
              "OS_CREDENTIAL_DUMPING_PROC_FILESYSTEM",
              "OS_CREDENTIAL_DUMPING_ETC_PASSWORD_AND_ETC_SHADOW",
              "DATA_FROM_LOCAL_SYSTEM",
              "AUTOMATED_EXFILTRATION",
              "OBFUSCATED_FILES_OR_INFO",
              "STEGANOGRAPHY",
              "COMPILE_AFTER_DELIVERY",
              "COMMAND_OBFUSCATION",
              "SCHEDULED_TRANSFER",
              "SYSTEM_OWNER_USER_DISCOVERY",
              "MASQUERADING",
              "MATCH_LEGITIMATE_NAME_OR_LOCATION",
              "BOOT_OR_LOGON_INITIALIZATION_SCRIPTS",
              "STARTUP_ITEMS",
              "NETWORK_SERVICE_DISCOVERY",
              "SCHEDULED_TASK_JOB",
              "SCHEDULED_TASK_JOB_CRON",
              "CONTAINER_ORCHESTRATION_JOB",
              "PROCESS_INJECTION",
              "INPUT_CAPTURE",
              "INPUT_CAPTURE_KEYLOGGING",
              "PROCESS_DISCOVERY",
              "COMMAND_AND_SCRIPTING_INTERPRETER",
              "UNIX_SHELL",
              "PYTHON",
              "EXPLOITATION_FOR_PRIVILEGE_ESCALATION",
              "PERMISSION_GROUPS_DISCOVERY",
              "CLOUD_GROUPS",
              "INDICATOR_REMOVAL",
              "INDICATOR_REMOVAL_CLEAR_LINUX_OR_MAC_SYSTEM_LOGS",
              "INDICATOR_REMOVAL_CLEAR_COMMAND_HISTORY",
              "INDICATOR_REMOVAL_FILE_DELETION",
              "INDICATOR_REMOVAL_TIMESTOMP",
              "INDICATOR_REMOVAL_CLEAR_MAILBOX_DATA",
              "APPLICATION_LAYER_PROTOCOL",
              "DNS",
              "SOFTWARE_DEPLOYMENT_TOOLS",
              "VALID_ACCOUNTS",
              "DEFAULT_ACCOUNTS",
              "LOCAL_ACCOUNTS",
              "CLOUD_ACCOUNTS",
              "FILE_AND_DIRECTORY_DISCOVERY",
              "ACCOUNT_DISCOVERY_LOCAL_ACCOUNT",
              "PROXY",
              "EXTERNAL_PROXY",
              "MULTI_HOP_PROXY",
              "ACCOUNT_MANIPULATION",
              "ADDITIONAL_CLOUD_CREDENTIALS",
              "ADDITIONAL_CLOUD_ROLES",
              "SSH_AUTHORIZED_KEYS",
              "ADDITIONAL_CONTAINER_CLUSTER_ROLES",
              "MULTI_STAGE_CHANNELS",
              "INGRESS_TOOL_TRANSFER",
              "NATIVE_API",
              "BRUTE_FORCE",
              "AUTOMATED_COLLECTION",
              "SHARED_MODULES",
              "DATA_ENCODING",
              "STANDARD_ENCODING",
              "ACCESS_TOKEN_MANIPULATION",
              "TOKEN_IMPERSONATION_OR_THEFT",
              "CREATE_ACCOUNT",
              "LOCAL_ACCOUNT",
              "DEOBFUSCATE_DECODE_FILES_OR_INFO",
              "EXPLOIT_PUBLIC_FACING_APPLICATION",
              "SUPPLY_CHAIN_COMPROMISE",
              "COMPROMISE_SOFTWARE_DEPENDENCIES_AND_DEVELOPMENT_TOOLS",
              "EXPLOITATION_FOR_CLIENT_EXECUTION",
              "USER_EXECUTION",
              "EXPLOITATION_FOR_CREDENTIAL_ACCESS",
              "LINUX_AND_MAC_FILE_AND_DIRECTORY_PERMISSIONS_MODIFICATION",
              "DOMAIN_POLICY_MODIFICATION",
              "DATA_DESTRUCTION",
              "DATA_ENCRYPTED_FOR_IMPACT",
              "SERVICE_STOP",
              "INHIBIT_SYSTEM_RECOVERY",
              "FIRMWARE_CORRUPTION",
              "RESOURCE_HIJACKING",
              "NETWORK_DENIAL_OF_SERVICE",
              "CLOUD_SERVICE_DISCOVERY",
              "STEAL_APPLICATION_ACCESS_TOKEN",
              "ACCOUNT_ACCESS_REMOVAL",
              "TRANSFER_DATA_TO_CLOUD_ACCOUNT",
              "STEAL_WEB_SESSION_COOKIE",
              "CREATE_OR_MODIFY_SYSTEM_PROCESS",
              "EVENT_TRIGGERED_EXECUTION",
              "BOOT_OR_LOGON_AUTOSTART_EXECUTION",
              "KERNEL_MODULES_AND_EXTENSIONS",
              "SHORTCUT_MODIFICATION",
              "ABUSE_ELEVATION_CONTROL_MECHANISM",
              "ABUSE_ELEVATION_CONTROL_MECHANISM_SETUID_AND_SETGID",
              "ABUSE_ELEVATION_CONTROL_MECHANISM_SUDO_AND_SUDO_CACHING",
              "UNSECURED_CREDENTIALS",
              "CREDENTIALS_IN_FILES",
              "BASH_HISTORY",
              "PRIVATE_KEYS",
              "SUBVERT_TRUST_CONTROL",
              "INSTALL_ROOT_CERTIFICATE",
              "COMPROMISE_HOST_SOFTWARE_BINARY",
              "CREDENTIALS_FROM_PASSWORD_STORES",
              "MODIFY_AUTHENTICATION_PROCESS",
              "PLUGGABLE_AUTHENTICATION_MODULES",
              "MULTI_FACTOR_AUTHENTICATION",
              "IMPAIR_DEFENSES",
              "DISABLE_OR_MODIFY_TOOLS",
              "INDICATOR_BLOCKING",
              "DISABLE_OR_MODIFY_LINUX_AUDIT_SYSTEM",
              "HIDE_ARTIFACTS",
              "HIDDEN_FILES_AND_DIRECTORIES",
              "HIDDEN_USERS",
              "EXFILTRATION_OVER_WEB_SERVICE",
              "EXFILTRATION_TO_CLOUD_STORAGE",
              "DYNAMIC_RESOLUTION",
              "LATERAL_TOOL_TRANSFER",
              "HIJACK_EXECUTION_FLOW",
              "HIJACK_EXECUTION_FLOW_DYNAMIC_LINKER_HIJACKING",
              "MODIFY_CLOUD_COMPUTE_INFRASTRUCTURE",
              "CREATE_SNAPSHOT",
              "CLOUD_INFRASTRUCTURE_DISCOVERY",
              "DEVELOP_CAPABILITIES",
              "DEVELOP_CAPABILITIES_MALWARE",
              "OBTAIN_CAPABILITIES",
              "OBTAIN_CAPABILITIES_MALWARE",
              "OBTAIN_CAPABILITIES_VULNERABILITIES",
              "ACTIVE_SCANNING",
              "SCANNING_IP_BLOCKS",
              "STAGE_CAPABILITIES",
              "UPLOAD_MALWARE",
              "CONTAINER_ADMINISTRATION_COMMAND",
              "DEPLOY_CONTAINER",
              "ESCAPE_TO_HOST",
              "CONTAINER_AND_RESOURCE_DISCOVERY",
              "REFLECTIVE_CODE_LOADING",
              "STEAL_OR_FORGE_AUTHENTICATION_CERTIFICATES",
              "FINANCIAL_THEFT"
            ]
          },
          "type": "array"
        },
        "version": {
          "type": "string"
        }
      },
      "id": "GoogleCloudSecuritycenterV2MitreAttack"
    },
    "SecurityPolicy": {
      "id": "SecurityPolicy",
      "properties": {
        "type": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "preview": {
          "type": "boolean"
        }
      },
      "type": "object"
    },
    "LogEntry": {
      "type": "object",
      "properties": {
        "cloudLoggingEntry": {
          "$ref": "CloudLoggingEntry"
        }
      },
      "id": "LogEntry"
    },
    "GoogleCloudSecuritycenterV2IssueSecurityContextAggregatedCount": {
      "id": "GoogleCloudSecuritycenterV2IssueSecurityContextAggregatedCount",
      "type": "object",
      "properties": {
        "key": {
          "type": "string"
        },
        "value": {
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "ContainerThreatDetectionSettings": {
      "id": "ContainerThreatDetectionSettings",
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        },
        "serviceEnablementState": {
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "ENABLEMENT_STATE_UNSPECIFIED",
            "INHERITED",
            "ENABLED",
            "DISABLED"
          ],
          "type": "string"
        },
        "serviceAccount": {
          "readOnly": true,
          "type": "string"
        },
        "updateTime": {
          "format": "google-datetime",
          "type": "string",
          "readOnly": true
        },
        "modules": {
          "additionalProperties": {
            "$ref": "Config"
          },
          "type": "object"
        }
      }
    },
    "GoogleCloudSecuritycenterV2DiskPath": {
      "properties": {
        "relativePath": {
          "type": "string"
        },
        "partitionUuid": {
          "type": "string"
        }
      },
      "id": "GoogleCloudSecuritycenterV2DiskPath",
      "type": "object"
    },
    "Connection": {
      "type": "object",
      "properties": {
        "destinationIp": {
          "type": "string"
        },
        "sourcePort": {
          "format": "int32",
          "type": "integer"
        },
        "protocol": {
          "type": "string",
          "enum": [
            "PROTOCOL_UNSPECIFIED",
            "ICMP",
            "TCP",
            "UDP",
            "GRE",
            "ESP"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            ""
          ]
        },
        "destinationPort": {
          "format": "int32",
          "type": "integer"
        },
        "sourceIp": {
          "type": "string"
        }
      },
      "id": "Connection"
    },
    "GoogleCloudSecuritycenterV2AgentDataAccessEvent": {
      "id": "GoogleCloudSecuritycenterV2AgentDataAccessEvent",
      "properties": {
        "operation": {
          "enum": [
            "OPERATION_UNSPECIFIED",
            "READ",
            "MOVE",
            "COPY"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ]
        },
        "eventId": {
          "type": "string"
        },
        "principalSubject": {
          "type": "string"
        },
        "eventTime": {
          "type": "string",
          "format": "google-datetime"
        }
      },
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2IssueResourceGoogleCloudMetadata": {
      "id": "GoogleCloudSecuritycenterV2IssueResourceGoogleCloudMetadata",
      "properties": {
        "projectId": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudSecuritycenterV1RunAssetDiscoveryResponse": {
      "properties": {
        "duration": {
          "type": "string",
          "format": "google-duration"
        },
        "state": {
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "COMPLETED",
            "SUPERSEDED",
            "TERMINATED"
          ]
        }
      },
      "id": "GoogleCloudSecuritycenterV1RunAssetDiscoveryResponse",
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2AzureSubscription": {
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2AzureSubscription",
      "properties": {
        "displayName": {
          "type": "string"
        },
        "id": {
          "type": "string"
        }
      }
    },
    "GoogleCloudSecuritycenterV2AwsMetadata": {
      "properties": {
        "account": {
          "$ref": "GoogleCloudSecuritycenterV2AwsAccount"
        },
        "organizationalUnits": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2AwsOrganizationalUnit"
          }
        },
        "organization": {
          "$ref": "GoogleCloudSecuritycenterV2AwsOrganization"
        }
      },
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2AwsMetadata"
    },
    "GoogleCloudSecuritycenterV2IamDetails": {
      "id": "GoogleCloudSecuritycenterV2IamDetails",
      "type": "object",
      "properties": {
        "iamRolePermissions": {
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2IamRolePermission"
          },
          "type": "array"
        }
      }
    },
    "GoogleCloudSecuritycenterV2Label": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        },
        "value": {
          "type": "string"
        }
      },
      "id": "GoogleCloudSecuritycenterV2Label"
    },
    "GoogleCloudSecuritycenterV2IssueResourceAwsMetadataAwsAccount": {
      "id": "GoogleCloudSecuritycenterV2IssueResourceAwsMetadataAwsAccount",
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        },
        "id": {
          "type": "string"
        }
      }
    },
    "InfoType": {
      "properties": {
        "sensitivityScore": {
          "$ref": "SensitivityScore"
        },
        "version": {
          "type": "string"
        },
        "name": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "InfoType"
    },
    "GoogleCloudSecuritycenterV2HttpResponse": {
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2HttpResponse",
      "properties": {
        "path": {
          "type": "string"
        },
        "statusCode": {
          "type": "string"
        }
      }
    },
    "GoogleCloudSecuritycenterV2CloudDlpInspection": {
      "id": "GoogleCloudSecuritycenterV2CloudDlpInspection",
      "type": "object",
      "properties": {
        "infoType": {
          "type": "string"
        },
        "inspectJob": {
          "type": "string"
        },
        "infoTypeCount": {
          "type": "string",
          "format": "int64"
        },
        "fullScan": {
          "type": "boolean"
        }
      }
    },
    "ExfilResource": {
      "id": "ExfilResource",
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        },
        "components": {
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      }
    },
    "GoogleCloudSecuritycenterV1ResourceValueConfig": {
      "type": "object",
      "id": "GoogleCloudSecuritycenterV1ResourceValueConfig",
      "properties": {
        "tagValues": {
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "resourceValue": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "RESOURCE_VALUE_UNSPECIFIED",
            "HIGH",
            "MEDIUM",
            "LOW",
            "NONE"
          ]
        },
        "createTime": {
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "resourceType": {
          "type": "string"
        },
        "updateTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "cloudProvider": {
          "enum": [
            "CLOUD_PROVIDER_UNSPECIFIED",
            "GOOGLE_CLOUD_PLATFORM",
            "AMAZON_WEB_SERVICES",
            "MICROSOFT_AZURE"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ]
        },
        "scope": {
          "type": "string"
        },
        "resourceLabelsSelector": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "name": {
          "type": "string"
        },
        "sensitiveDataProtectionMapping": {
          "$ref": "GoogleCloudSecuritycenterV1SensitiveDataProtectionMapping"
        },
        "description": {
          "type": "string"
        }
      }
    },
    "DataAccessEvent": {
      "id": "DataAccessEvent",
      "properties": {
        "operation": {
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "OPERATION_UNSPECIFIED",
            "READ",
            "MOVE",
            "COPY"
          ]
        },
        "eventTime": {
          "type": "string",
          "format": "google-datetime"
        },
        "eventId": {
          "type": "string"
        },
        "principalEmail": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2IpRules": {
      "id": "GoogleCloudSecuritycenterV2IpRules",
      "type": "object",
      "properties": {
        "denied": {
          "$ref": "GoogleCloudSecuritycenterV2Denied"
        },
        "direction": {
          "enum": [
            "DIRECTION_UNSPECIFIED",
            "INGRESS",
            "EGRESS"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            ""
          ]
        },
        "exposedServices": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "allowed": {
          "$ref": "GoogleCloudSecuritycenterV2Allowed"
        },
        "destinationIpRanges": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "sourceIpRanges": {
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "SecretEnvironmentVariable": {
      "id": "SecretEnvironmentVariable",
      "type": "object",
      "properties": {
        "key": {
          "type": "string"
        }
      }
    },
    "Agent": {
      "properties": {
        "id": {
          "type": "string"
        },
        "displayName": {
          "type": "string"
        }
      },
      "id": "Agent",
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2AccessReview": {
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2AccessReview",
      "properties": {
        "resource": {
          "type": "string"
        },
        "ns": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "subresource": {
          "type": "string"
        },
        "group": {
          "type": "string"
        },
        "verb": {
          "type": "string"
        },
        "version": {
          "type": "string"
        }
      }
    },
    "GoogleCloudSecuritycenterV2ProcessSignature": {
      "properties": {
        "memoryHashSignature": {
          "$ref": "GoogleCloudSecuritycenterV2MemoryHashSignature"
        },
        "signatureType": {
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "SIGNATURE_TYPE_UNSPECIFIED",
            "SIGNATURE_TYPE_PROCESS",
            "SIGNATURE_TYPE_FILE"
          ],
          "type": "string"
        },
        "yaraRuleSignature": {
          "$ref": "GoogleCloudSecuritycenterV2YaraRuleSignature"
        }
      },
      "id": "GoogleCloudSecuritycenterV2ProcessSignature",
      "type": "object"
    },
    "GoogleCloudSecuritycenterV1Resource": {
      "id": "GoogleCloudSecuritycenterV1Resource",
      "properties": {
        "projectDisplayName": {
          "type": "string"
        },
        "resourcePathString": {
          "type": "string"
        },
        "displayName": {
          "type": "string"
        },
        "project": {
          "type": "string"
        },
        "resourcePath": {
          "$ref": "ResourcePath"
        },
        "service": {
          "type": "string"
        },
        "application": {
          "$ref": "GoogleCloudSecuritycenterV1ResourceApplication"
        },
        "adcApplicationTemplate": {
          "$ref": "AdcApplicationTemplateRevision"
        },
        "cloudProvider": {
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "CLOUD_PROVIDER_UNSPECIFIED",
            "GOOGLE_CLOUD_PLATFORM",
            "AMAZON_WEB_SERVICES",
            "MICROSOFT_AZURE"
          ],
          "type": "string"
        },
        "azureMetadata": {
          "$ref": "AzureMetadata"
        },
        "awsMetadata": {
          "$ref": "AwsMetadata"
        },
        "organization": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "location": {
          "type": "string"
        },
        "parent": {
          "type": "string"
        },
        "adcApplication": {
          "$ref": "AdcApplication"
        },
        "parentDisplayName": {
          "type": "string"
        },
        "adcSharedTemplate": {
          "$ref": "AdcSharedTemplateRevision"
        },
        "folders": {
          "items": {
            "$ref": "Folder"
          },
          "readOnly": true,
          "type": "array"
        },
        "type": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "Chokepoint": {
      "type": "object",
      "id": "Chokepoint",
      "properties": {
        "relatedFindings": {
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "Label": {
      "type": "object",
      "id": "Label",
      "properties": {
        "name": {
          "type": "string"
        },
        "value": {
          "type": "string"
        }
      }
    },
    "GoogleCloudSecuritycenterV2SensitiveDataProtectionMapping": {
      "id": "GoogleCloudSecuritycenterV2SensitiveDataProtectionMapping",
      "properties": {
        "mediumSensitivityMapping": {
          "type": "string",
          "enum": [
            "RESOURCE_VALUE_UNSPECIFIED",
            "HIGH",
            "MEDIUM",
            "LOW",
            "NONE"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ]
        },
        "highSensitivityMapping": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "RESOURCE_VALUE_UNSPECIFIED",
            "HIGH",
            "MEDIUM",
            "LOW",
            "NONE"
          ]
        }
      },
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2KernelRootkit": {
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2KernelRootkit",
      "properties": {
        "unexpectedProcessesInRunqueue": {
          "type": "boolean"
        },
        "unexpectedInterruptHandler": {
          "type": "boolean"
        },
        "unexpectedFtraceHandler": {
          "type": "boolean"
        },
        "name": {
          "type": "string"
        },
        "unexpectedSystemCallHandler": {
          "type": "boolean"
        },
        "unexpectedKprobeHandler": {
          "type": "boolean"
        },
        "unexpectedReadOnlyDataModification": {
          "type": "boolean"
        },
        "unexpectedKernelCodePages": {
          "type": "boolean"
        },
        "unexpectedCodeModification": {
          "type": "boolean"
        }
      }
    },
    "Node": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        }
      },
      "id": "Node"
    },
    "CloudDlpDataProfile": {
      "type": "object",
      "properties": {
        "parentType": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "PARENT_TYPE_UNSPECIFIED",
            "ORGANIZATION",
            "PROJECT"
          ]
        },
        "dataProfile": {
          "type": "string"
        },
        "infoTypes": {
          "items": {
            "$ref": "InfoType"
          },
          "type": "array"
        }
      },
      "id": "CloudDlpDataProfile"
    },
    "GoogleCloudSecuritycenterV2Allowed": {
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2Allowed",
      "properties": {
        "ipRules": {
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2IpRule"
          },
          "type": "array"
        }
      }
    },
    "GoogleCloudSecuritycenterV2Role": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        },
        "ns": {
          "type": "string"
        },
        "kind": {
          "enum": [
            "KIND_UNSPECIFIED",
            "ROLE",
            "CLUSTER_ROLE"
          ],
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "type": "string"
        }
      },
      "id": "GoogleCloudSecuritycenterV2Role"
    },
    "AwsOrganization": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string"
        }
      },
      "id": "AwsOrganization"
    },
    "GoogleCloudSecuritycenterV2Attack": {
      "type": "object",
      "properties": {
        "volumeBpsLong": {
          "type": "string",
          "format": "int64"
        },
        "volumePps": {
          "format": "int32",
          "type": "integer",
          "deprecated": true
        },
        "volumePpsLong": {
          "format": "int64",
          "type": "string"
        },
        "classification": {
          "type": "string"
        },
        "volumeBps": {
          "deprecated": true,
          "format": "int32",
          "type": "integer"
        }
      },
      "id": "GoogleCloudSecuritycenterV2Attack"
    },
    "GoogleCloudSecuritycenterV2ExternalExposure": {
      "properties": {
        "serviceFirewallPolicy": {
          "type": "string"
        },
        "exposedService": {
          "type": "string"
        },
        "networkPathInsightsGenerationTime": {
          "format": "google-datetime",
          "type": "string"
        },
        "exposedEndpoint": {
          "type": "string"
        },
        "privateIpAddress": {
          "type": "string"
        },
        "forwardingRule": {
          "type": "string"
        },
        "publicIpAddress": {
          "type": "string"
        },
        "backendBucket": {
          "type": "string"
        },
        "hostnameUri": {
          "type": "string"
        },
        "internalBackendService": {
          "type": "string"
        },
        "exposedApplication": {
          "type": "string"
        },
        "networkEndpointGroup": {
          "type": "string"
        },
        "privatePort": {
          "type": "string"
        },
        "pscServiceAttachment": {
          "type": "string"
        },
        "httpResponse": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2HttpResponse"
          }
        },
        "instanceGroup": {
          "type": "string"
        },
        "backendService": {
          "type": "string"
        },
        "pscNetworkAttachment": {
          "type": "string"
        },
        "loadBalancerFirewallPolicy": {
          "type": "string"
        },
        "publicPort": {
          "type": "string"
        },
        "networkIngressFirewallPolicy": {
          "type": "string"
        }
      },
      "id": "GoogleCloudSecuritycenterV2ExternalExposure",
      "type": "object"
    },
    "VertexAi": {
      "properties": {
        "datasets": {
          "type": "array",
          "items": {
            "$ref": "Dataset"
          }
        },
        "pipelines": {
          "type": "array",
          "items": {
            "$ref": "Pipeline"
          }
        }
      },
      "type": "object",
      "id": "VertexAi"
    },
    "Role": {
      "properties": {
        "kind": {
          "enum": [
            "KIND_UNSPECIFIED",
            "ROLE",
            "CLUSTER_ROLE"
          ],
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "type": "string"
        },
        "ns": {
          "type": "string"
        },
        "name": {
          "type": "string"
        }
      },
      "id": "Role",
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2Disk": {
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2Disk",
      "properties": {
        "name": {
          "type": "string"
        }
      }
    },
    "GoogleCloudSecuritycenterV2ResourceApplicationAttributesContactInfo": {
      "properties": {
        "email": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2ResourceApplicationAttributesContactInfo"
    },
    "GoogleCloudSecuritycenterV2IssueResourceApplicationAttributesCriticality": {
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2IssueResourceApplicationAttributesCriticality",
      "properties": {
        "type": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "CRITICALITY_TYPE_UNSPECIFIED",
            "MISSION_CRITICAL",
            "HIGH",
            "MEDIUM",
            "LOW"
          ]
        }
      }
    },
    "ArtifactGuardPolicy": {
      "id": "ArtifactGuardPolicy",
      "properties": {
        "failureReason": {
          "type": "string"
        },
        "policyId": {
          "type": "string"
        },
        "type": {
          "enum": [
            "ARTIFACT_GUARD_POLICY_TYPE_UNSPECIFIED",
            "VULNERABILITY"
          ],
          "enumDescriptions": [
            "",
            ""
          ],
          "type": "string"
        }
      },
      "type": "object"
    },
    "DiscoveredWorkload": {
      "properties": {
        "detectedRelevantHardware": {
          "type": "boolean"
        },
        "confidence": {
          "enum": [
            "CONFIDENCE_UNSPECIFIED",
            "CONFIDENCE_HIGH"
          ],
          "enumDescriptions": [
            "",
            ""
          ],
          "type": "string"
        },
        "detectedRelevantKeywords": {
          "type": "boolean"
        },
        "workloadType": {
          "enum": [
            "WORKLOAD_TYPE_UNSPECIFIED",
            "MCP_SERVER",
            "AI_INFERENCE",
            "AGENT"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "type": "string"
        },
        "detectedRelevantPackages": {
          "type": "boolean"
        }
      },
      "id": "DiscoveredWorkload",
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2File": {
      "type": "object",
      "properties": {
        "size": {
          "format": "int64",
          "type": "string"
        },
        "diskPath": {
          "$ref": "GoogleCloudSecuritycenterV2DiskPath"
        },
        "sha256": {
          "type": "string"
        },
        "contents": {
          "type": "string"
        },
        "path": {
          "type": "string"
        },
        "partiallyHashed": {
          "type": "boolean"
        },
        "hashedSize": {
          "format": "int64",
          "type": "string"
        },
        "operations": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2FileOperation"
          }
        },
        "fileLoadState": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "FILE_LOAD_STATE_UNSPECIFIED",
            "LOADED_BY_PROCESS",
            "NOT_LOADED_BY_PROCESS"
          ]
        }
      },
      "id": "GoogleCloudSecuritycenterV2File"
    },
    "Database": {
      "id": "Database",
      "properties": {
        "userName": {
          "type": "string"
        },
        "grantees": {
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "version": {
          "type": "string"
        },
        "query": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "displayName": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "ServiceAccountDelegationInfo": {
      "id": "ServiceAccountDelegationInfo",
      "type": "object",
      "properties": {
        "principalEmail": {
          "type": "string"
        },
        "principalSubject": {
          "type": "string"
        }
      }
    },
    "GoogleCloudSecuritycenterV2IssueDomain": {
      "id": "GoogleCloudSecuritycenterV2IssueDomain",
      "properties": {
        "domainCategory": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "DOMAIN_CATEGORY_UNSPECIFIED",
            "AI",
            "CODE",
            "CONTAINER",
            "DATA",
            "IDENTITY_AND_ACCESS",
            "VULNERABILITY",
            "THREAT"
          ],
          "type": "string"
        }
      },
      "type": "object"
    },
    "TicketInfo": {
      "type": "object",
      "properties": {
        "assignee": {
          "type": "string"
        },
        "updateTime": {
          "type": "string",
          "format": "google-datetime"
        },
        "uri": {
          "type": "string"
        },
        "description": {
          "type": "string"
        },
        "id": {
          "type": "string"
        },
        "status": {
          "type": "string"
        }
      },
      "id": "TicketInfo"
    },
    "GoogleCloudSecuritycenterV2BackupDisasterRecovery": {
      "properties": {
        "appliance": {
          "type": "string"
        },
        "backupType": {
          "type": "string"
        },
        "host": {
          "type": "string"
        },
        "applications": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "storagePool": {
          "type": "string"
        },
        "policyOptions": {
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "policies": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "backupTemplate": {
          "type": "string"
        },
        "backupCreateTime": {
          "format": "google-datetime",
          "type": "string"
        },
        "profile": {
          "type": "string"
        }
      },
      "id": "GoogleCloudSecuritycenterV2BackupDisasterRecovery",
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2Folder": {
      "type": "object",
      "properties": {
        "resourceFolder": {
          "type": "string"
        },
        "resourceFolderDisplayName": {
          "type": "string"
        }
      },
      "id": "GoogleCloudSecuritycenterV2Folder"
    },
    "GoogleCloudSecuritycenterV2IssueFinding": {
      "properties": {
        "cve": {
          "$ref": "GoogleCloudSecuritycenterV2IssueFindingCve"
        },
        "name": {
          "type": "string"
        },
        "securityBulletin": {
          "$ref": "GoogleCloudSecuritycenterV2IssueFindingSecurityBulletin"
        }
      },
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2IssueFinding"
    },
    "AzureResourceGroup": {
      "properties": {
        "name": {
          "type": "string"
        },
        "id": {
          "type": "string"
        }
      },
      "id": "AzureResourceGroup",
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2DetectorReference": {
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2DetectorReference",
      "properties": {
        "displayName": {
          "type": "string"
        },
        "severity": {
          "enum": [
            "SEVERITY_UNSPECIFIED",
            "CRITICAL",
            "HIGH",
            "MEDIUM",
            "LOW"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ],
          "type": "string"
        },
        "detectorId": {
          "type": "string"
        },
        "explanation": {
          "type": "string"
        },
        "recommendation": {
          "type": "string"
        }
      }
    },
    "GoogleCloudSecuritycenterV2Secret": {
      "type": "object",
      "properties": {
        "type": {
          "type": "string"
        },
        "environmentVariable": {
          "$ref": "GoogleCloudSecuritycenterV2SecretEnvironmentVariable"
        },
        "status": {
          "$ref": "GoogleCloudSecuritycenterV2SecretStatus"
        },
        "filePath": {
          "$ref": "GoogleCloudSecuritycenterV2SecretFilePath"
        }
      },
      "id": "GoogleCloudSecuritycenterV2Secret"
    },
    "GoogleCloudSecuritycenterV2Container": {
      "properties": {
        "createTime": {
          "type": "string",
          "format": "google-datetime"
        },
        "name": {
          "type": "string"
        },
        "uri": {
          "type": "string"
        },
        "labels": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2Label"
          }
        },
        "imageId": {
          "type": "string"
        }
      },
      "id": "GoogleCloudSecuritycenterV2Container",
      "type": "object"
    },
    "DataRetentionDeletionEvent": {
      "type": "object",
      "properties": {
        "eventDetectionTime": {
          "type": "string",
          "format": "google-datetime"
        },
        "maxRetentionAllowed": {
          "type": "string",
          "format": "google-duration"
        },
        "minRetentionAllowed": {
          "format": "google-duration",
          "type": "string"
        },
        "dataObjectCount": {
          "type": "string",
          "format": "int64"
        },
        "eventType": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "EVENT_TYPE_UNSPECIFIED",
            "EVENT_TYPE_MAX_TTL_EXCEEDED",
            "EVENT_TYPE_MAX_TTL_FROM_CREATION",
            "EVENT_TYPE_MAX_TTL_FROM_LAST_MODIFICATION",
            "EVENT_TYPE_MIN_TTL_FROM_CREATION"
          ],
          "enumDeprecated": [
            false,
            true,
            false,
            false,
            false
          ]
        }
      },
      "id": "DataRetentionDeletionEvent"
    },
    "GoogleCloudSecuritycenterV2VertexAi": {
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2VertexAi",
      "properties": {
        "pipelines": {
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2Pipeline"
          },
          "type": "array"
        },
        "datasets": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2Dataset"
          }
        }
      }
    },
    "GoogleCloudSecuritycenterV2SecretFilePath": {
      "properties": {
        "path": {
          "type": "string"
        }
      },
      "id": "GoogleCloudSecuritycenterV2SecretFilePath",
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2IssueResourceApplication": {
      "type": "object",
      "properties": {
        "attributes": {
          "$ref": "GoogleCloudSecuritycenterV2IssueResourceApplicationAttributes"
        },
        "name": {
          "type": "string"
        }
      },
      "id": "GoogleCloudSecuritycenterV2IssueResourceApplication"
    },
    "ExportFindingsMetadata": {
      "properties": {
        "exportStartTime": {
          "format": "google-datetime",
          "type": "string"
        },
        "bigQueryDestination": {
          "$ref": "BigQueryDestination"
        }
      },
      "type": "object",
      "id": "ExportFindingsMetadata"
    },
    "GoogleCloudSecuritycenterV2Subject": {
      "id": "GoogleCloudSecuritycenterV2Subject",
      "properties": {
        "kind": {
          "enum": [
            "AUTH_TYPE_UNSPECIFIED",
            "USER",
            "SERVICEACCOUNT",
            "GROUP"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "type": "string"
        },
        "ns": {
          "type": "string"
        },
        "name": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2Denied": {
      "id": "GoogleCloudSecuritycenterV2Denied",
      "properties": {
        "ipRules": {
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2IpRule"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2AgentSession": {
      "id": "GoogleCloudSecuritycenterV2AgentSession",
      "type": "object",
      "properties": {
        "sessionId": {
          "type": "string"
        }
      }
    },
    "GoogleCloudSecuritycenterV2Object": {
      "type": "object",
      "properties": {
        "kind": {
          "type": "string"
        },
        "containers": {
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2Container"
          },
          "type": "array"
        },
        "ns": {
          "type": "string"
        },
        "group": {
          "type": "string"
        },
        "name": {
          "type": "string"
        }
      },
      "id": "GoogleCloudSecuritycenterV2Object"
    },
    "GoogleCloudSecuritycenterV2AiModel": {
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2AiModel",
      "properties": {
        "displayName": {
          "type": "string"
        },
        "domain": {
          "type": "string"
        },
        "library": {
          "type": "string"
        },
        "deploymentPlatform": {
          "enum": [
            "DEPLOYMENT_PLATFORM_UNSPECIFIED",
            "VERTEX_AI",
            "GKE",
            "GCE",
            "FINE_TUNED_MODEL"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ]
        },
        "publisher": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "location": {
          "type": "string"
        },
        "usageCategory": {
          "type": "string"
        }
      }
    },
    "GoogleCloudSecuritycenterV2MuteConfig": {
      "id": "GoogleCloudSecuritycenterV2MuteConfig",
      "type": "object",
      "properties": {
        "createTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "filter": {
          "type": "string"
        },
        "type": {
          "enum": [
            "MUTE_CONFIG_TYPE_UNSPECIFIED",
            "STATIC",
            "DYNAMIC"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            ""
          ]
        },
        "description": {
          "type": "string"
        },
        "expiryTime": {
          "type": "string",
          "format": "google-datetime"
        },
        "updateTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "cryptoKeyName": {
          "readOnly": true,
          "type": "string"
        },
        "mostRecentEditor": {
          "readOnly": true,
          "type": "string"
        },
        "name": {
          "type": "string"
        }
      }
    },
    "GoogleCloudSecuritycenterV2Chokepoint": {
      "type": "object",
      "properties": {
        "relatedFindings": {
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "GoogleCloudSecuritycenterV2Chokepoint"
    },
    "Contact": {
      "id": "Contact",
      "type": "object",
      "properties": {
        "email": {
          "type": "string"
        }
      }
    },
    "Cve": {
      "type": "object",
      "id": "Cve",
      "properties": {
        "exploitationActivity": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "EXPLOITATION_ACTIVITY_UNSPECIFIED",
            "WIDE",
            "CONFIRMED",
            "AVAILABLE",
            "ANTICIPATED",
            "NO_KNOWN"
          ],
          "type": "string"
        },
        "cvssv3": {
          "$ref": "Cvssv3"
        },
        "firstExploitationDate": {
          "format": "google-datetime",
          "type": "string"
        },
        "references": {
          "type": "array",
          "items": {
            "$ref": "Reference"
          }
        },
        "zeroDay": {
          "type": "boolean"
        },
        "id": {
          "type": "string"
        },
        "impact": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "RISK_RATING_UNSPECIFIED",
            "LOW",
            "MEDIUM",
            "HIGH",
            "CRITICAL"
          ],
          "type": "string"
        },
        "observedInTheWild": {
          "type": "boolean"
        },
        "exploitReleaseDate": {
          "type": "string",
          "format": "google-datetime"
        },
        "upstreamFixAvailable": {
          "type": "boolean"
        }
      }
    },
    "GoogleCloudSecuritycenterV1p1beta1SecurityMarks": {
      "properties": {
        "name": {
          "type": "string"
        },
        "marks": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "canonicalName": {
          "type": "string"
        }
      },
      "id": "GoogleCloudSecuritycenterV1p1beta1SecurityMarks",
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2DataFlowEvent": {
      "properties": {
        "operation": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "OPERATION_UNSPECIFIED",
            "READ",
            "MOVE",
            "COPY"
          ]
        },
        "eventTime": {
          "type": "string",
          "format": "google-datetime"
        },
        "principalEmail": {
          "type": "string"
        },
        "violatedLocation": {
          "type": "string"
        },
        "eventId": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2DataFlowEvent"
    },
    "EnvironmentVariable": {
      "id": "EnvironmentVariable",
      "properties": {
        "name": {
          "type": "string"
        },
        "val": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2AzureTenant": {
      "properties": {
        "displayName": {
          "type": "string"
        },
        "id": {
          "type": "string"
        }
      },
      "id": "GoogleCloudSecuritycenterV2AzureTenant",
      "type": "object"
    },
    "AiModel": {
      "id": "AiModel",
      "type": "object",
      "properties": {
        "library": {
          "type": "string"
        },
        "usageCategory": {
          "type": "string"
        },
        "publisher": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "deploymentPlatform": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "DEPLOYMENT_PLATFORM_UNSPECIFIED",
            "VERTEX_AI",
            "GKE",
            "GCE",
            "FINE_TUNED_MODEL"
          ]
        },
        "location": {
          "type": "string"
        },
        "displayName": {
          "type": "string"
        },
        "domain": {
          "type": "string"
        }
      }
    },
    "GoogleCloudSecuritycenterV2Compliance": {
      "properties": {
        "ids": {
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "version": {
          "type": "string"
        },
        "standard": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2Compliance"
    },
    "DynamicMuteRecord": {
      "type": "object",
      "properties": {
        "muteConfig": {
          "type": "string"
        },
        "matchTime": {
          "type": "string",
          "format": "google-datetime"
        }
      },
      "id": "DynamicMuteRecord"
    },
    "GoogleCloudSecuritycenterV2ResourceValueConfig": {
      "properties": {
        "resourceType": {
          "type": "string"
        },
        "updateTime": {
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "sensitiveDataProtectionMapping": {
          "$ref": "GoogleCloudSecuritycenterV2SensitiveDataProtectionMapping"
        },
        "resourceValue": {
          "enum": [
            "RESOURCE_VALUE_UNSPECIFIED",
            "HIGH",
            "MEDIUM",
            "LOW",
            "NONE"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ]
        },
        "description": {
          "type": "string"
        },
        "tagValues": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "createTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "scope": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "cloudProvider": {
          "enum": [
            "CLOUD_PROVIDER_UNSPECIFIED",
            "GOOGLE_CLOUD_PLATFORM",
            "AMAZON_WEB_SERVICES",
            "MICROSOFT_AZURE"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "type": "string"
        },
        "resourceLabelsSelector": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        }
      },
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2ResourceValueConfig"
    },
    "GoogleCloudSecuritycenterV2ExfilResource": {
      "properties": {
        "components": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "name": {
          "type": "string"
        }
      },
      "id": "GoogleCloudSecuritycenterV2ExfilResource",
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2Cvssv3": {
      "properties": {
        "integrityImpact": {
          "enum": [
            "IMPACT_UNSPECIFIED",
            "IMPACT_HIGH",
            "IMPACT_LOW",
            "IMPACT_NONE"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "type": "string"
        },
        "availabilityImpact": {
          "enum": [
            "IMPACT_UNSPECIFIED",
            "IMPACT_HIGH",
            "IMPACT_LOW",
            "IMPACT_NONE"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "type": "string"
        },
        "userInteraction": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "USER_INTERACTION_UNSPECIFIED",
            "USER_INTERACTION_NONE",
            "USER_INTERACTION_REQUIRED"
          ]
        },
        "baseScore": {
          "format": "double",
          "type": "number"
        },
        "attackVector": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "ATTACK_VECTOR_UNSPECIFIED",
            "ATTACK_VECTOR_NETWORK",
            "ATTACK_VECTOR_ADJACENT",
            "ATTACK_VECTOR_LOCAL",
            "ATTACK_VECTOR_PHYSICAL"
          ]
        },
        "confidentialityImpact": {
          "enum": [
            "IMPACT_UNSPECIFIED",
            "IMPACT_HIGH",
            "IMPACT_LOW",
            "IMPACT_NONE"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ]
        },
        "attackComplexity": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "ATTACK_COMPLEXITY_UNSPECIFIED",
            "ATTACK_COMPLEXITY_LOW",
            "ATTACK_COMPLEXITY_HIGH"
          ]
        },
        "scope": {
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "SCOPE_UNSPECIFIED",
            "SCOPE_UNCHANGED",
            "SCOPE_CHANGED"
          ]
        },
        "privilegesRequired": {
          "type": "string",
          "enum": [
            "PRIVILEGES_REQUIRED_UNSPECIFIED",
            "PRIVILEGES_REQUIRED_NONE",
            "PRIVILEGES_REQUIRED_LOW",
            "PRIVILEGES_REQUIRED_HIGH"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ]
        }
      },
      "id": "GoogleCloudSecuritycenterV2Cvssv3",
      "type": "object"
    },
    "Process": {
      "id": "Process",
      "properties": {
        "script": {
          "$ref": "File"
        },
        "envVariablesTruncated": {
          "type": "boolean"
        },
        "parentPid": {
          "type": "string",
          "format": "int64"
        },
        "pid": {
          "type": "string",
          "format": "int64"
        },
        "userId": {
          "type": "string",
          "format": "int64"
        },
        "libraries": {
          "type": "array",
          "items": {
            "$ref": "File"
          }
        },
        "name": {
          "type": "string"
        },
        "envVariables": {
          "type": "array",
          "items": {
            "$ref": "EnvironmentVariable"
          }
        },
        "binary": {
          "$ref": "File"
        },
        "argumentsTruncated": {
          "type": "boolean"
        },
        "args": {
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "GoogleCloudSecuritycenterV1ResourceApplicationAttributesContactInfo": {
      "type": "object",
      "id": "GoogleCloudSecuritycenterV1ResourceApplicationAttributesContactInfo",
      "properties": {
        "email": {
          "type": "string"
        }
      }
    },
    "GoogleCloudSecuritycenterV1ResourceApplicationAttributesEnvironment": {
      "id": "GoogleCloudSecuritycenterV1ResourceApplicationAttributesEnvironment",
      "type": "object",
      "properties": {
        "type": {
          "enum": [
            "ENVIRONMENT_TYPE_UNSPECIFIED",
            "PRODUCTION",
            "STAGING",
            "TEST",
            "DEVELOPMENT"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ],
          "type": "string"
        }
      }
    },
    "GoogleCloudSecuritycenterV2SecretStatus": {
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2SecretStatus",
      "properties": {
        "lastUpdatedTime": {
          "type": "string",
          "format": "google-datetime"
        },
        "validity": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "SECRET_VALIDITY_UNSPECIFIED",
            "SECRET_VALIDITY_UNSUPPORTED",
            "SECRET_VALIDITY_FAILED",
            "SECRET_VALIDITY_INVALID",
            "SECRET_VALIDITY_VALID"
          ],
          "type": "string"
        }
      }
    },
    "PolicyDriftDetails": {
      "type": "object",
      "properties": {
        "field": {
          "type": "string"
        },
        "detectedValue": {
          "type": "string"
        },
        "expectedValue": {
          "type": "string"
        }
      },
      "id": "PolicyDriftDetails"
    },
    "Expr": {
      "id": "Expr",
      "properties": {
        "location": {
          "type": "string"
        },
        "expression": {
          "type": "string"
        },
        "title": {
          "type": "string"
        },
        "description": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2Indicator": {
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2Indicator",
      "properties": {
        "uris": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "ipAddresses": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "signatures": {
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2ProcessSignature"
          },
          "type": "array"
        },
        "domains": {
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "GcpMetadata": {
      "type": "object",
      "properties": {
        "organization": {
          "type": "string"
        },
        "projectDisplayName": {
          "type": "string"
        },
        "folders": {
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2Folder"
          }
        },
        "parent": {
          "type": "string"
        },
        "parentDisplayName": {
          "type": "string"
        },
        "project": {
          "type": "string"
        }
      },
      "id": "GcpMetadata"
    },
    "HttpResponse": {
      "type": "object",
      "properties": {
        "path": {
          "type": "string"
        },
        "statusCode": {
          "type": "string"
        }
      },
      "id": "HttpResponse"
    },
    "GoogleCloudSecuritycenterV2Kubernetes": {
      "properties": {
        "roles": {
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2Role"
          },
          "type": "array"
        },
        "nodePools": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2NodePool"
          }
        },
        "accessReviews": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2AccessReview"
          }
        },
        "nodes": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2Node"
          }
        },
        "objects": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2Object"
          }
        },
        "bindings": {
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2Binding"
          },
          "type": "array"
        },
        "pods": {
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2Pod"
          },
          "type": "array"
        }
      },
      "id": "GoogleCloudSecuritycenterV2Kubernetes",
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2DiscoveredWorkload": {
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2DiscoveredWorkload",
      "properties": {
        "workloadType": {
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "WORKLOAD_TYPE_UNSPECIFIED",
            "MCP_SERVER",
            "AI_INFERENCE",
            "AGENT"
          ]
        },
        "detectedRelevantHardware": {
          "type": "boolean"
        },
        "detectedRelevantPackages": {
          "type": "boolean"
        },
        "confidence": {
          "enum": [
            "CONFIDENCE_UNSPECIFIED",
            "CONFIDENCE_HIGH"
          ],
          "enumDescriptions": [
            "",
            ""
          ],
          "type": "string"
        },
        "detectedRelevantKeywords": {
          "type": "boolean"
        }
      }
    },
    "GoogleCloudSecuritycenterV2Cve": {
      "properties": {
        "upstreamFixAvailable": {
          "type": "boolean"
        },
        "id": {
          "type": "string"
        },
        "cvssv3": {
          "$ref": "GoogleCloudSecuritycenterV2Cvssv3"
        },
        "references": {
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2Reference"
          },
          "type": "array"
        },
        "observedInTheWild": {
          "type": "boolean"
        },
        "firstExploitationDate": {
          "format": "google-datetime",
          "type": "string"
        },
        "exploitReleaseDate": {
          "format": "google-datetime",
          "type": "string"
        },
        "zeroDay": {
          "type": "boolean"
        },
        "exploitationActivity": {
          "enum": [
            "EXPLOITATION_ACTIVITY_UNSPECIFIED",
            "WIDE",
            "CONFIRMED",
            "AVAILABLE",
            "ANTICIPATED",
            "NO_KNOWN"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "type": "string"
        },
        "impact": {
          "enum": [
            "RISK_RATING_UNSPECIFIED",
            "LOW",
            "MEDIUM",
            "HIGH",
            "CRITICAL"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ]
        }
      },
      "id": "GoogleCloudSecuritycenterV2Cve",
      "type": "object"
    },
    "Exfiltration": {
      "id": "Exfiltration",
      "type": "object",
      "properties": {
        "totalExfiltratedBytes": {
          "type": "string",
          "format": "int64"
        },
        "sources": {
          "items": {
            "$ref": "ExfilResource"
          },
          "type": "array"
        },
        "targets": {
          "type": "array",
          "items": {
            "$ref": "ExfilResource"
          }
        }
      }
    },
    "GoogleCloudSecuritycenterV2SecurityPosture": {
      "properties": {
        "postureDeploymentResource": {
          "type": "string"
        },
        "policySet": {
          "type": "string"
        },
        "changedPolicy": {
          "type": "string"
        },
        "policyDriftDetails": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2PolicyDriftDetails"
          }
        },
        "name": {
          "type": "string"
        },
        "policy": {
          "type": "string"
        },
        "revisionId": {
          "type": "string"
        },
        "postureDeployment": {
          "type": "string"
        }
      },
      "id": "GoogleCloudSecuritycenterV2SecurityPosture",
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2AzureResourceGroup": {
      "properties": {
        "id": {
          "type": "string"
        },
        "name": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2AzureResourceGroup"
    },
    "Denied": {
      "type": "object",
      "properties": {
        "ipRules": {
          "items": {
            "$ref": "IpRule"
          },
          "type": "array"
        }
      },
      "id": "Denied"
    },
    "AgentAnomaly": {
      "properties": {
        "confidenceScore": {
          "format": "double",
          "type": "number"
        },
        "detectorReferences": {
          "items": {
            "$ref": "DetectorReference"
          },
          "type": "array"
        },
        "invocationReferences": {
          "items": {
            "$ref": "InvocationReference"
          },
          "type": "array"
        }
      },
      "type": "object",
      "id": "AgentAnomaly"
    },
    "GoogleCloudSecuritycenterV2DataRetentionDeletionEvent": {
      "properties": {
        "minRetentionAllowed": {
          "type": "string",
          "format": "google-duration"
        },
        "eventDetectionTime": {
          "format": "google-datetime",
          "type": "string"
        },
        "dataObjectCount": {
          "type": "string",
          "format": "int64"
        },
        "eventType": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "EVENT_TYPE_UNSPECIFIED",
            "EVENT_TYPE_MAX_TTL_EXCEEDED",
            "EVENT_TYPE_MAX_TTL_FROM_CREATION",
            "EVENT_TYPE_MAX_TTL_FROM_LAST_MODIFICATION",
            "EVENT_TYPE_MIN_TTL_FROM_CREATION"
          ],
          "enumDeprecated": [
            false,
            true,
            false,
            false,
            false
          ],
          "type": "string"
        },
        "maxRetentionAllowed": {
          "type": "string",
          "format": "google-duration"
        }
      },
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2DataRetentionDeletionEvent"
    },
    "Application": {
      "type": "object",
      "properties": {
        "baseUri": {
          "type": "string"
        },
        "fullUri": {
          "type": "string"
        }
      },
      "id": "Application"
    },
    "GoogleCloudSecuritycenterV2IssueResourceAwsMetadata": {
      "properties": {
        "account": {
          "$ref": "GoogleCloudSecuritycenterV2IssueResourceAwsMetadataAwsAccount"
        }
      },
      "id": "GoogleCloudSecuritycenterV2IssueResourceAwsMetadata",
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2Pipeline": {
      "type": "object",
      "properties": {
        "displayName": {
          "type": "string"
        },
        "name": {
          "type": "string"
        }
      },
      "id": "GoogleCloudSecuritycenterV2Pipeline"
    },
    "GoogleCloudSecuritycenterV2GroupMembership": {
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2GroupMembership",
      "properties": {
        "groupType": {
          "enum": [
            "GROUP_TYPE_UNSPECIFIED",
            "GROUP_TYPE_TOXIC_COMBINATION",
            "GROUP_TYPE_CHOKEPOINT"
          ],
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "type": "string"
        },
        "groupId": {
          "type": "string"
        }
      }
    },
    "GoogleCloudSecuritycenterV2Dataset": {
      "properties": {
        "source": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "displayName": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2Dataset"
    },
    "Network": {
      "type": "object",
      "id": "Network",
      "properties": {
        "name": {
          "type": "string"
        }
      }
    },
    "GoogleCloudSecuritycenterV2SecurityBulletin": {
      "id": "GoogleCloudSecuritycenterV2SecurityBulletin",
      "type": "object",
      "properties": {
        "bulletinId": {
          "type": "string"
        },
        "submissionTime": {
          "type": "string",
          "format": "google-datetime"
        },
        "suggestedUpgradeVersion": {
          "type": "string"
        }
      }
    },
    "GoogleCloudSecuritycenterV2Framework": {
      "type": "object",
      "properties": {
        "category": {
          "type": "array",
          "items": {
            "type": "string",
            "enumDescriptions": [
              "",
              "",
              "",
              "",
              "",
              ""
            ],
            "enum": [
              "FRAMEWORK_CATEGORY_UNSPECIFIED",
              "SECURITY_BENCHMARKS",
              "ASSURED_WORKLOADS",
              "DATA_SECURITY",
              "GOOGLE_BEST_PRACTICES",
              "CUSTOM_FRAMEWORK"
            ]
          }
        },
        "type": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "FRAMEWORK_TYPE_UNSPECIFIED",
            "FRAMEWORK_TYPE_BUILT_IN",
            "FRAMEWORK_TYPE_CUSTOM"
          ]
        },
        "controls": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2Control"
          }
        },
        "name": {
          "type": "string"
        },
        "displayName": {
          "type": "string"
        }
      },
      "id": "GoogleCloudSecuritycenterV2Framework"
    },
    "GoogleCloudSecuritycenterV2MuteInfo": {
      "id": "GoogleCloudSecuritycenterV2MuteInfo",
      "properties": {
        "dynamicMuteRecords": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2DynamicMuteRecord"
          }
        },
        "staticMute": {
          "$ref": "GoogleCloudSecuritycenterV2StaticMute"
        }
      },
      "type": "object"
    },
    "AgentDataAccessEvent": {
      "type": "object",
      "properties": {
        "operation": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "OPERATION_UNSPECIFIED",
            "READ",
            "MOVE",
            "COPY"
          ]
        },
        "eventId": {
          "type": "string"
        },
        "principalSubject": {
          "type": "string"
        },
        "eventTime": {
          "type": "string",
          "format": "google-datetime"
        }
      },
      "id": "AgentDataAccessEvent"
    },
    "ComplianceDetails": {
      "properties": {
        "frameworks": {
          "items": {
            "$ref": "Framework"
          },
          "type": "array"
        },
        "cloudControlDeploymentNames": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "cloudControl": {
          "$ref": "CloudControl"
        }
      },
      "id": "ComplianceDetails",
      "type": "object"
    },
    "RapidVulnerabilityDetectionSettings": {
      "type": "object",
      "properties": {
        "modules": {
          "additionalProperties": {
            "$ref": "Config"
          },
          "type": "object"
        },
        "serviceEnablementState": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "ENABLEMENT_STATE_UNSPECIFIED",
            "INHERITED",
            "ENABLED",
            "DISABLED"
          ]
        },
        "updateTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "name": {
          "type": "string"
        }
      },
      "id": "RapidVulnerabilityDetectionSettings"
    },
    "GoogleCloudSecuritycenterV1p1beta1RunAssetDiscoveryResponse": {
      "properties": {
        "duration": {
          "type": "string",
          "format": "google-duration"
        },
        "state": {
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "COMPLETED",
            "SUPERSEDED",
            "TERMINATED"
          ],
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudSecuritycenterV1p1beta1RunAssetDiscoveryResponse"
    },
    "Indicator": {
      "id": "Indicator",
      "properties": {
        "signatures": {
          "type": "array",
          "items": {
            "$ref": "ProcessSignature"
          }
        },
        "domains": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "ipAddresses": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "uris": {
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2Process": {
      "id": "GoogleCloudSecuritycenterV2Process",
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        },
        "envVariablesTruncated": {
          "type": "boolean"
        },
[...]
