{
  "revision": "20260828",
  "name": "securitycenter",
  "discoveryVersion": "v1",
  "description": "Security Command Center API provides access to temporal views of assets and findings within an organization.",
  "version": "v1",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        },
        "https://www.googleapis.com/auth/securitycenter": {
          "description": "See, edit, configure, and delete your Google Cloud Security Command Center data and see the email address for your Google Account"
        }
      }
    }
  },
  "ownerName": "Google",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "servicePath": "",
  "endpoints": [
    {
      "description": "Regional Endpoint",
      "location": "me-central2",
      "endpointUrl": "https://securitycenter.me-central2.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://securitycenter.us.rep.googleapis.com/",
      "location": "us",
      "description": "Regional Endpoint"
    },
    {
      "location": "eu",
      "endpointUrl": "https://securitycenter.eu.rep.googleapis.com/",
      "description": "Regional Endpoint"
    }
  ],
  "rootUrl": "https://securitycenter.googleapis.com/",
  "basePath": "",
  "resources": {
    "projects": {
      "resources": {
        "eventThreatDetectionSettings": {
          "methods": {
            "validateCustomModule": {
              "description": "",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/securitycenter"
              ],
              "parameterOrder": [
                "parent"
              ],
              "parameters": {
                "parent": {
                  "location": "path",
                  "pattern": "^projects/[^/]+/eventThreatDetectionSettings$",
                  "type": "string",
                  "required": true
                }
              },
              "flatPath": "v1/projects/{projectsId}/eventThreatDetectionSettings:validateCustomModule",
              "httpMethod": "POST",
              "response": {
                "$ref": "ValidateEventThreatDetectionCustomModuleResponse"
              },
              "request": {
                "$ref": "ValidateEventThreatDetectionCustomModuleRequest"
              },
              "path": "v1/{+parent}:validateCustomModule",
              "id": "securitycenter.projects.eventThreatDetectionSettings.validateCustomModule"
            }
          },
          "resources": {
            "effectiveCustomModules": {
              "methods": {
                "list": {
                  "flatPath": "v1/projects/{projectsId}/eventThreatDetectionSettings/effectiveCustomModules",
                  "response": {
                    "$ref": "ListEffectiveEventThreatDetectionCustomModulesResponse"
                  },
                  "path": "v1/{+parent}/effectiveCustomModules",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/securitycenter"
                  ],
                  "id": "securitycenter.projects.eventThreatDetectionSettings.effectiveCustomModules.list",
                  "httpMethod": "GET",
                  "description": "",
                  "parameters": {
                    "pageToken": {
                      "type": "string",
                      "location": "query"
                    },
                    "pageSize": {
                      "location": "query",
                      "format": "int32",
                      "type": "integer"
                    },
                    "parent": {
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/eventThreatDetectionSettings$"
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ]
                },
                "get": {
                  "response": {
                    "$ref": "EffectiveEventThreatDetectionCustomModule"
                  },
                  "flatPath": "v1/projects/{projectsId}/eventThreatDetectionSettings/effectiveCustomModules/{effectiveCustomModulesId}",
                  "path": "v1/{+name}",
                  "httpMethod": "GET",
                  "id": "securitycenter.projects.eventThreatDetectionSettings.effectiveCustomModules.get",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/securitycenter"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/eventThreatDetectionSettings/effectiveCustomModules/[^/]+$"
                    }
                  }
                }
              }
            },
            "customModules": {
              "methods": {
                "create": {
                  "response": {
                    "$ref": "EventThreatDetectionCustomModule"
                  },
                  "path": "v1/{+parent}/customModules",
                  "description": "",
                  "flatPath": "v1/projects/{projectsId}/eventThreatDetectionSettings/customModules",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/securitycenter"
                  ],
                  "request": {
                    "$ref": "EventThreatDetectionCustomModule"
                  },
                  "id": "securitycenter.projects.eventThreatDetectionSettings.customModules.create",
                  "parameters": {
                    "parent": {
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/eventThreatDetectionSettings$"
                    }
                  },
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "parent"
                  ]
                },
                "delete": {
                  "httpMethod": "DELETE",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/securitycenter"
                  ],
                  "parameters": {
                    "name": {
                      "required": true,
                      "pattern": "^projects/[^/]+/eventThreatDetectionSettings/customModules/[^/]+$",
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "description": "",
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1/projects/{projectsId}/eventThreatDetectionSettings/customModules/{customModulesId}",
                  "response": {
                    "$ref": "Empty"
                  },
                  "id": "securitycenter.projects.eventThreatDetectionSettings.customModules.delete",
                  "path": "v1/{+name}"
                },
                "listDescendant": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/securitycenter"
                  ],
                  "path": "v1/{+parent}/customModules:listDescendant",
                  "id": "securitycenter.projects.eventThreatDetectionSettings.customModules.listDescendant",
                  "response": {
                    "$ref": "ListDescendantEventThreatDetectionCustomModulesResponse"
                  },
                  "httpMethod": "GET",
                  "description": "",
                  "flatPath": "v1/projects/{projectsId}/eventThreatDetectionSettings/customModules:listDescendant",
                  "parameters": {
                    "pageSize": {
                      "format": "int32",
                      "type": "integer",
                      "location": "query"
                    },
                    "parent": {
                      "required": true,
                      "type": "string",
                      "pattern": "^projects/[^/]+/eventThreatDetectionSettings$",
                      "location": "path"
                    },
                    "pageToken": {
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ]
                },
                "get": {
                  "httpMethod": "GET",
                  "flatPath": "v1/projects/{projectsId}/eventThreatDetectionSettings/customModules/{customModulesId}",
                  "response": {
                    "$ref": "EventThreatDetectionCustomModule"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/securitycenter"
                  ],
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/eventThreatDetectionSettings/customModules/[^/]+$",
                      "required": true,
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "path": "v1/{+name}",
                  "description": "",
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "securitycenter.projects.eventThreatDetectionSettings.customModules.get"
                },
                "patch": {
                  "request": {
                    "$ref": "EventThreatDetectionCustomModule"
                  },
                  "parameters": {
                    "updateMask": {
                      "location": "query",
                      "type": "string",
                      "format": "google-fieldmask"
                    },
                    "name": {
                      "required": true,
                      "type": "string",
                      "pattern": "^projects/[^/]+/eventThreatDetectionSettings/customModules/[^/]+$",
                      "location": "path"
                    }
                  },
                  "flatPath": "v1/projects/{projectsId}/eventThreatDetectionSettings/customModules/{customModulesId}",
                  "description": "",
                  "response": {
                    "$ref": "EventThreatDetectionCustomModule"
                  },
                  "path": "v1/{+name}",
                  "httpMethod": "PATCH",
                  "id": "securitycenter.projects.eventThreatDetectionSettings.customModules.patch",
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/securitycenter"
                  ]
                },
                "list": {
                  "parameterOrder": [
                    "parent"
                  ],
                  "id": "securitycenter.projects.eventThreatDetectionSettings.customModules.list",
                  "path": "v1/{+parent}/customModules",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/securitycenter"
                  ],
                  "description": "",
                  "flatPath": "v1/projects/{projectsId}/eventThreatDetectionSettings/customModules",
                  "response": {
                    "$ref": "ListEventThreatDetectionCustomModulesResponse"
                  },
                  "httpMethod": "GET",
                  "parameters": {
                    "parent": {
                      "required": true,
                      "pattern": "^projects/[^/]+/eventThreatDetectionSettings$",
                      "type": "string",
                      "location": "path"
                    },
                    "pageSize": {
                      "location": "query",
                      "type": "integer",
                      "format": "int32"
                    },
                    "pageToken": {
                      "location": "query",
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "notificationConfigs": {
          "methods": {
            "create": {
              "parameters": {
                "configId": {
                  "type": "string",
                  "location": "query"
                },
                "parent": {
                  "required": true,
                  "pattern": "^projects/[^/]+$",
                  "location": "path",
                  "type": "string"
                }
              },
              "response": {
                "$ref": "NotificationConfig"
              },
              "path": "v1/{+parent}/notificationConfigs",
              "parameterOrder": [
                "parent"
              ],
              "flatPath": "v1/projects/{projectsId}/notificationConfigs",
              "httpMethod": "POST",
              "id": "securitycenter.projects.notificationConfigs.create",
              "request": {
                "$ref": "NotificationConfig"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/securitycenter"
              ],
              "description": ""
            },
            "delete": {
              "id": "securitycenter.projects.notificationConfigs.delete",
              "httpMethod": "DELETE",
              "parameters": {
                "name": {
                  "type": "string",
                  "required": true,
                  "pattern": "^projects/[^/]+/notificationConfigs/[^/]+$",
                  "location": "path"
                }
              },
              "path": "v1/{+name}",
              "response": {
                "$ref": "Empty"
              },
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1/projects/{projectsId}/notificationConfigs/{notificationConfigsId}",
              "description": "",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/securitycenter"
              ]
            },
            "patch": {
              "request": {
                "$ref": "NotificationConfig"
              },
              "parameters": {
                "name": {
                  "location": "path",
                  "required": true,
                  "pattern": "^projects/[^/]+/notificationConfigs/[^/]+$",
                  "type": "string"
                },
                "updateMask": {
                  "type": "string",
                  "format": "google-fieldmask",
                  "location": "query"
                }
              },
              "description": "",
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "NotificationConfig"
              },
              "httpMethod": "PATCH",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/securitycenter"
              ],
              "flatPath": "v1/projects/{projectsId}/notificationConfigs/{notificationConfigsId}",
              "id": "securitycenter.projects.notificationConfigs.patch",
              "path": "v1/{+name}"
            },
            "get": {
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/securitycenter"
              ],
              "id": "securitycenter.projects.notificationConfigs.get",
              "parameters": {
                "name": {
                  "required": true,
                  "pattern": "^projects/[^/]+/notificationConfigs/[^/]+$",
                  "type": "string",
                  "location": "path"
                }
              },
              "description": "",
              "response": {
                "$ref": "NotificationConfig"
              },
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1/projects/{projectsId}/notificationConfigs/{notificationConfigsId}",
              "path": "v1/{+name}"
            },
            "list": {
              "parameterOrder": [
                "parent"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/securitycenter"
              ],
              "id": "securitycenter.projects.notificationConfigs.list",
              "response": {
                "$ref": "ListNotificationConfigsResponse"
              },
              "flatPath": "v1/projects/{projectsId}/notificationConfigs",
              "parameters": {
                "pageSize": {
                  "format": "int32",
                  "location": "query",
                  "type": "integer"
                },
                "pageToken": {
                  "type": "string",
                  "location": "query"
                },
                "parent": {
                  "location": "path",
                  "pattern": "^projects/[^/]+$",
                  "type": "string",
                  "required": true
                }
              },
              "path": "v1/{+parent}/notificationConfigs",
              "description": "",
              "httpMethod": "GET"
            }
          }
        },
        "assets": {
          "methods": {
            "updateSecurityMarks": {
              "path": "v1/{+name}",
              "flatPath": "v1/projects/{projectsId}/assets/{assetsId}/securityMarks",
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "SecurityMarks"
              },
              "id": "securitycenter.projects.assets.updateSecurityMarks",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/securitycenter"
              ],
              "httpMethod": "PATCH",
              "request": {
                "$ref": "SecurityMarks"
              },
              "description": "",
              "parameters": {
                "name": {
                  "location": "path",
                  "required": true,
                  "pattern": "^projects/[^/]+/assets/[^/]+/securityMarks$",
                  "type": "string"
                },
                "startTime": {
                  "type": "string",
                  "format": "google-datetime",
                  "location": "query"
                },
                "updateMask": {
                  "type": "string",
                  "location": "query",
                  "format": "google-fieldmask"
                }
              }
            },
            "list": {
              "description": "",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/securitycenter"
              ],
              "deprecated": true,
              "id": "securitycenter.projects.assets.list",
              "flatPath": "v1/projects/{projectsId}/assets",
              "httpMethod": "GET",
              "response": {
                "$ref": "ListAssetsResponse"
              },
              "parameters": {
                "compareDuration": {
                  "format": "google-duration",
                  "location": "query",
                  "type": "string"
                },
                "pageSize": {
                  "type": "integer",
                  "format": "int32",
                  "location": "query"
                },
                "orderBy": {
                  "location": "query",
                  "type": "string"
                },
                "pageToken": {
                  "location": "query",
                  "type": "string"
                },
                "fieldMask": {
                  "format": "google-fieldmask",
                  "type": "string",
                  "location": "query"
                },
                "readTime": {
                  "format": "google-datetime",
                  "type": "string",
                  "location": "query"
                },
                "filter": {
                  "type": "string",
                  "location": "query"
                },
                "parent": {
                  "location": "path",
                  "pattern": "^projects/[^/]+$",
                  "required": true,
                  "type": "string"
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "path": "v1/{+parent}/assets"
            },
            "group": {
              "parameterOrder": [
                "parent"
              ],
              "httpMethod": "POST",
              "request": {
                "$ref": "GroupAssetsRequest"
              },
              "parameters": {
                "parent": {
                  "type": "string",
                  "location": "path",
                  "pattern": "^projects/[^/]+$",
                  "required": true
                }
              },
              "response": {
                "$ref": "GroupAssetsResponse"
              },
              "path": "v1/{+parent}/assets:group",
              "flatPath": "v1/projects/{projectsId}/assets:group",
              "id": "securitycenter.projects.assets.group",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/securitycenter"
              ],
              "description": "",
              "deprecated": true
            }
          }
        },
        "muteConfigs": {
          "methods": {
            "patch": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/securitycenter"
              ],
              "httpMethod": "PATCH",
              "request": {
                "$ref": "GoogleCloudSecuritycenterV1MuteConfig"
              },
              "flatPath": "v1/projects/{projectsId}/muteConfigs/{muteConfigsId}",
              "parameters": {
                "name": {
                  "location": "path",
                  "pattern": "^projects/[^/]+/muteConfigs/[^/]+$",
                  "required": true,
                  "type": "string"
                },
                "updateMask": {
                  "type": "string",
                  "format": "google-fieldmask",
                  "location": "query"
                }
              },
              "response": {
                "$ref": "GoogleCloudSecuritycenterV1MuteConfig"
              },
              "description": "",
              "path": "v1/{+name}",
              "parameterOrder": [
                "name"
              ],
              "id": "securitycenter.projects.muteConfigs.patch"
            },
            "list": {
              "parameterOrder": [
                "parent"
              ],
              "path": "v1/{+parent}/muteConfigs",
              "description": "",
              "parameters": {
                "pageSize": {
                  "type": "integer",
                  "format": "int32",
                  "location": "query"
                },
                "pageToken": {
                  "type": "string",
                  "location": "query"
                },
                "parent": {
                  "location": "path",
                  "pattern": "^projects/[^/]+$",
                  "required": true,
                  "type": "string"
                }
              },
              "response": {
                "$ref": "ListMuteConfigsResponse"
              },
              "id": "securitycenter.projects.muteConfigs.list",
              "httpMethod": "GET",
              "flatPath": "v1/projects/{projectsId}/muteConfigs",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/securitycenter"
              ]
            },
            "create": {
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/securitycenter"
              ],
              "parameters": {
                "muteConfigId": {
                  "location": "query",
                  "type": "string"
                },
                "parent": {
                  "required": true,
                  "pattern": "^projects/[^/]+$",
                  "type": "string",
                  "location": "path"
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "path": "v1/{+parent}/muteConfigs",
              "id": "securitycenter.projects.muteConfigs.create",
              "request": {
                "$ref": "GoogleCloudSecuritycenterV1MuteConfig"
              },
              "response": {
                "$ref": "GoogleCloudSecuritycenterV1MuteConfig"
              },
              "description": "",
              "flatPath": "v1/projects/{projectsId}/muteConfigs"
            },
            "delete": {
              "httpMethod": "DELETE",
              "description": "",
              "flatPath": "v1/projects/{projectsId}/muteConfigs/{muteConfigsId}",
              "id": "securitycenter.projects.muteConfigs.delete",
              "parameters": {
                "name": {
                  "location": "path",
                  "type": "string",
                  "pattern": "^projects/[^/]+/muteConfigs/[^/]+$",
                  "required": true
                }
              },
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/securitycenter"
              ],
              "response": {
                "$ref": "Empty"
              },
              "path": "v1/{+name}"
            },
            "get": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/securitycenter"
              ],
              "id": "securitycenter.projects.muteConfigs.get",
              "description": "",
              "parameters": {
                "name": {
                  "required": true,
                  "pattern": "^projects/[^/]+/muteConfigs/[^/]+$",
                  "type": "string",
                  "location": "path"
                }
              },
              "path": "v1/{+name}",
              "httpMethod": "GET",
              "flatPath": "v1/projects/{projectsId}/muteConfigs/{muteConfigsId}",
              "response": {
                "$ref": "GoogleCloudSecuritycenterV1MuteConfig"
              },
              "parameterOrder": [
                "name"
              ]
            }
          }
        },
        "bigQueryExports": {
          "methods": {
            "list": {
              "parameterOrder": [
                "parent"
              ],
              "id": "securitycenter.projects.bigQueryExports.list",
              "path": "v1/{+parent}/bigQueryExports",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/securitycenter"
              ],
              "parameters": {
                "parent": {
                  "location": "path",
                  "pattern": "^projects/[^/]+$",
                  "type": "string",
                  "required": true
                },
                "pageSize": {
                  "type": "integer",
                  "format": "int32",
                  "location": "query"
                },
                "pageToken": {
                  "location": "query",
                  "type": "string"
                }
              },
              "description": "",
              "httpMethod": "GET",
              "flatPath": "v1/projects/{projectsId}/bigQueryExports",
              "response": {
                "$ref": "ListBigQueryExportsResponse"
              }
            },
            "patch": {
              "httpMethod": "PATCH",
              "parameters": {
                "name": {
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "pattern": "^projects/[^/]+/bigQueryExports/[^/]+$"
                },
                "updateMask": {
                  "location": "query",
                  "type": "string",
                  "format": "google-fieldmask"
                }
              },
              "path": "v1/{+name}",
              "request": {
                "$ref": "GoogleCloudSecuritycenterV1BigQueryExport"
              },
              "id": "securitycenter.projects.bigQueryExports.patch",
              "description": "",
              "flatPath": "v1/projects/{projectsId}/bigQueryExports/{bigQueryExportsId}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/securitycenter"
              ],
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "GoogleCloudSecuritycenterV1BigQueryExport"
              }
            },
            "create": {
              "parameters": {
                "bigQueryExportId": {
                  "type": "string",
                  "location": "query"
                },
                "parent": {
                  "required": true,
                  "pattern": "^projects/[^/]+$",
                  "type": "string",
                  "location": "path"
                }
              },
              "id": "securitycenter.projects.bigQueryExports.create",
              "httpMethod": "POST",
              "parameterOrder": [
                "parent"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/securitycenter"
              ],
              "flatPath": "v1/projects/{projectsId}/bigQueryExports",
              "path": "v1/{+parent}/bigQueryExports",
              "request": {
                "$ref": "GoogleCloudSecuritycenterV1BigQueryExport"
              },
              "response": {
                "$ref": "GoogleCloudSecuritycenterV1BigQueryExport"
              },
              "description": ""
            },
            "delete": {
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "location": "path",
                  "pattern": "^projects/[^/]+/bigQueryExports/[^/]+$",
                  "type": "string",
                  "required": true
                }
              },
              "response": {
                "$ref": "Empty"
              },
              "flatPath": "v1/projects/{projectsId}/bigQueryExports/{bigQueryExportsId}",
              "path": "v1/{+name}",
              "description": "",
              "httpMethod": "DELETE",
              "id": "securitycenter.projects.bigQueryExports.delete",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/securitycenter"
              ]
            },
            "get": {
              "httpMethod": "GET",
              "flatPath": "v1/projects/{projectsId}/bigQueryExports/{bigQueryExportsId}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/securitycenter"
              ],
              "id": "securitycenter.projects.bigQueryExports.get",
              "response": {
                "$ref": "GoogleCloudSecuritycenterV1BigQueryExport"
              },
              "parameters": {
                "name": {
                  "pattern": "^projects/[^/]+/bigQueryExports/[^/]+$",
                  "location": "path",
                  "type": "string",
                  "required": true
                }
              },
              "parameterOrder": [
                "name"
              ],
              "description": "",
              "path": "v1/{+name}"
            }
          }
        },
        "findings": {
          "methods": {
            "bulkMute": {
              "parameterOrder": [
                "parent"
              ],
              "path": "v1/{+parent}/findings:bulkMute",
              "httpMethod": "POST",
              "flatPath": "v1/projects/{projectsId}/findings:bulkMute",
              "id": "securitycenter.projects.findings.bulkMute",
              "response": {
                "$ref": "Operation"
              },
              "parameters": {
                "parent": {
                  "pattern": "^projects/[^/]+$",
                  "required": true,
                  "type": "string",
                  "location": "path"
                }
              },
              "description": "",
              "request": {
                "$ref": "BulkMuteFindingsRequest"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/securitycenter"
              ]
            }
          }
        },
        "locations": {
          "resources": {
            "muteConfigs": {
              "methods": {
                "patch": {
                  "parameters": {
                    "name": {
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/muteConfigs/[^/]+$",
                      "type": "string",
                      "location": "path"
                    },
                    "updateMask": {
                      "location": "query",
                      "type": "string",
                      "format": "google-fieldmask"
                    }
                  },
                  "response": {
                    "$ref": "GoogleCloudSecuritycenterV1MuteConfig"
                  },
                  "id": "securitycenter.projects.locations.muteConfigs.patch",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/muteConfigs/{muteConfigsId}",
                  "request": {
                    "$ref": "GoogleCloudSecuritycenterV1MuteConfig"
                  },
                  "httpMethod": "PATCH",
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/securitycenter"
                  ],
                  "description": ""
                },
                "get": {
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/muteConfigs/{muteConfigsId}",
                  "httpMethod": "GET",
                  "path": "v1/{+name}",
                  "response": {
                    "$ref": "GoogleCloudSecuritycenterV1MuteConfig"
                  },
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/muteConfigs/[^/]+$",
                      "location": "path",
                      "type": "string",
                      "required": true
                    }
                  },
                  "id": "securitycenter.projects.locations.muteConfigs.get",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/securitycenter"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "description": ""
                },
                "delete": {
                  "path": "v1/{+name}",
                  "httpMethod": "DELETE",
                  "description": "",
                  "response": {
                    "$ref": "Empty"
                  },
                  "parameters": {
                    "name": {
                      "required": true,
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/muteConfigs/[^/]+$",
                      "location": "path"
                    }
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/muteConfigs/{muteConfigsId}",
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/securitycenter"
                  ],
                  "id": "securitycenter.projects.locations.muteConfigs.delete"
                }
              }
            }
          }
        },
        "sources": {
          "methods": {
            "list": {
              "parameters": {
                "parent": {
                  "required": true,
                  "type": "string",
                  "pattern": "^projects/[^/]+$",
                  "location": "path"
                },
                "pageToken": {
                  "type": "string",
                  "location": "query"
                },
                "pageSize": {
                  "format": "int32",
                  "location": "query",
                  "type": "integer"
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "httpMethod": "GET",
              "description": "",
              "path": "v1/{+parent}/sources",
              "id": "securitycenter.projects.sources.list",
              "response": {
                "$ref": "ListSourcesResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/securitycenter"
              ],
              "flatPath": "v1/projects/{projectsId}/sources"
            }
          },
          "resources": {
            "findings": {
              "methods": {
                "updateSecurityMarks": {
                  "parameters": {
                    "updateMask": {
                      "format": "google-fieldmask",
                      "location": "query",
                      "type": "string"
                    },
                    "startTime": {
                      "format": "google-datetime",
                      "location": "query",
                      "type": "string"
                    },
                    "name": {
                      "location": "path",
                      "pattern": "^projects/[^/]+/sources/[^/]+/findings/[^/]+/securityMarks$",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "path": "v1/{+name}",
                  "response": {
                    "$ref": "SecurityMarks"
                  },
                  "httpMethod": "PATCH",
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1/projects/{projectsId}/sources/{sourcesId}/findings/{findingsId}/securityMarks",
                  "id": "securitycenter.projects.sources.findings.updateSecurityMarks",
                  "request": {
                    "$ref": "SecurityMarks"
                  },
                  "description": "",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/securitycenter"
                  ]
                },
                "group": {
                  "response": {
                    "$ref": "GroupFindingsResponse"
                  },
                  "id": "securitycenter.projects.sources.findings.group",
                  "httpMethod": "POST",
                  "flatPath": "v1/projects/{projectsId}/sources/{sourcesId}/findings:group",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/securitycenter"
                  ],
                  "parameterOrder": [
                    "parent"
                  ],
                  "description": "",
                  "parameters": {
                    "parent": {
                      "required": true,
                      "pattern": "^projects/[^/]+/sources/[^/]+$",
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "path": "v1/{+parent}/findings:group",
                  "request": {
                    "$ref": "GroupFindingsRequest"
                  }
                },
                "patch": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/securitycenter"
                  ],
                  "parameters": {
                    "updateMask": {
                      "format": "google-fieldmask",
                      "location": "query",
                      "type": "string"
                    },
                    "name": {
                      "type": "string",
                      "required": true,
                      "pattern": "^projects/[^/]+/sources/[^/]+/findings/[^/]+$",
                      "location": "path"
                    }
                  },
                  "path": "v1/{+name}",
                  "response": {
                    "$ref": "Finding"
                  },
                  "flatPath": "v1/projects/{projectsId}/sources/{sourcesId}/findings/{findingsId}",
                  "httpMethod": "PATCH",
                  "parameterOrder": [
                    "name"
                  ],
                  "request": {
                    "$ref": "Finding"
                  },
                  "id": "securitycenter.projects.sources.findings.patch",
                  "description": ""
                },
                "setState": {
                  "request": {
                    "$ref": "SetFindingStateRequest"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "required": true,
                      "type": "string",
                      "pattern": "^projects/[^/]+/sources/[^/]+/findings/[^/]+$",
                      "location": "path"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/securitycenter"
                  ],
                  "httpMethod": "POST",
                  "response": {
                    "$ref": "Finding"
                  },
                  "flatPath": "v1/projects/{projectsId}/sources/{sourcesId}/findings/{findingsId}:setState",
                  "path": "v1/{+name}:setState",
                  "description": "",
                  "id": "securitycenter.projects.sources.findings.setState"
                },
                "list": {
                  "description": "",
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "ListFindingsResponse"
                  },
                  "id": "securitycenter.projects.sources.findings.list",
                  "path": "v1/{+parent}/findings",
                  "flatPath": "v1/projects/{projectsId}/sources/{sourcesId}/findings",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/securitycenter"
                  ],
                  "httpMethod": "GET",
                  "parameters": {
                    "orderBy": {
                      "type": "string",
                      "location": "query"
                    },
                    "readTime": {
                      "format": "google-datetime",
                      "location": "query",
                      "deprecated": true,
                      "type": "string"
                    },
                    "pageToken": {
                      "type": "string",
                      "location": "query"
                    },
                    "fieldMask": {
                      "format": "google-fieldmask",
                      "location": "query",
                      "type": "string"
                    },
                    "compareDuration": {
                      "type": "string",
                      "location": "query",
                      "deprecated": true,
                      "format": "google-duration"
                    },
                    "filter": {
                      "type": "string",
                      "location": "query"
                    },
                    "pageSize": {
                      "location": "query",
                      "format": "int32",
                      "type": "integer"
                    },
                    "parent": {
                      "location": "path",
                      "pattern": "^projects/[^/]+/sources/[^/]+$",
                      "type": "string",
                      "required": true
                    }
                  }
                },
                "setMute": {
                  "description": "",
                  "httpMethod": "POST",
                  "path": "v1/{+name}:setMute",
                  "id": "securitycenter.projects.sources.findings.setMute",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "type": "string",
                      "required": true,
                      "pattern": "^projects/[^/]+/sources/[^/]+/findings/[^/]+$"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/securitycenter"
                  ],
                  "request": {
                    "$ref": "SetMuteRequest"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1/projects/{projectsId}/sources/{sourcesId}/findings/{findingsId}:setMute",
                  "response": {
                    "$ref": "Finding"
                  }
                }
              },
              "resources": {
                "externalSystems": {
                  "methods": {
                    "patch": {
                      "flatPath": "v1/projects/{projectsId}/sources/{sourcesId}/findings/{findingsId}/externalSystems/{externalSystemsId}",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/securitycenter"
                      ],
                      "response": {
                        "$ref": "GoogleCloudSecuritycenterV1ExternalSystem"
                      },
                      "httpMethod": "PATCH",
                      "parameterOrder": [
                        "name"
                      ],
                      "id": "securitycenter.projects.sources.findings.externalSystems.patch",
                      "request": {
                        "$ref": "GoogleCloudSecuritycenterV1ExternalSystem"
                      },
                      "parameters": {
                        "updateMask": {
                          "type": "string",
                          "location": "query",
                          "format": "google-fieldmask"
                        },
                        "name": {
                          "location": "path",
                          "pattern": "^projects/[^/]+/sources/[^/]+/findings/[^/]+/externalSystems/[^/]+$",
                          "type": "string",
                          "required": true
                        }
                      },
                      "path": "v1/{+name}",
                      "description": ""
                    }
                  }
                }
              }
            }
          }
        },
        "securityHealthAnalyticsSettings": {
          "resources": {
            "effectiveCustomModules": {
              "methods": {
                "get": {
                  "parameters": {
                    "name": {
                      "location": "path",
                      "type": "string",
                      "required": true,
                      "pattern": "^projects/[^/]+/securityHealthAnalyticsSettings/effectiveCustomModules/[^/]+$"
                    }
                  },
                  "flatPath": "v1/projects/{projectsId}/securityHealthAnalyticsSettings/effectiveCustomModules/{effectiveCustomModulesId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/securitycenter"
                  ],
                  "response": {
                    "$ref": "GoogleCloudSecuritycenterV1EffectiveSecurityHealthAnalyticsCustomModule"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "securitycenter.projects.securityHealthAnalyticsSettings.effectiveCustomModules.get",
                  "httpMethod": "GET",
                  "description": "",
                  "path": "v1/{+name}"
                },
                "list": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/securitycenter"
                  ],
                  "description": "",
                  "parameterOrder": [
                    "parent"
                  ],
                  "parameters": {
                    "parent": {
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "pattern": "^projects/[^/]+/securityHealthAnalyticsSettings$"
                    },
                    "pageSize": {
                      "location": "query",
                      "type": "integer",
                      "format": "int32"
                    },
                    "pageToken": {
                      "type": "string",
                      "location": "query"
                    }
                  },
                  "path": "v1/{+parent}/effectiveCustomModules",
                  "id": "securitycenter.projects.securityHealthAnalyticsSettings.effectiveCustomModules.list",
                  "response": {
                    "$ref": "ListEffectiveSecurityHealthAnalyticsCustomModulesResponse"
                  },
                  "httpMethod": "GET",
                  "flatPath": "v1/projects/{projectsId}/securityHealthAnalyticsSettings/effectiveCustomModules"
                }
              }
            },
            "customModules": {
              "methods": {
                "patch": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/securitycenter"
                  ],
                  "flatPath": "v1/projects/{projectsId}/securityHealthAnalyticsSettings/customModules/{customModulesId}",
                  "response": {
                    "$ref": "GoogleCloudSecuritycenterV1SecurityHealthAnalyticsCustomModule"
                  },
                  "parameters": {
                    "updateMask": {
                      "type": "string",
                      "location": "query",
                      "format": "google-fieldmask"
                    },
                    "name": {
                      "required": true,
                      "type": "string",
                      "pattern": "^projects/[^/]+/securityHealthAnalyticsSettings/customModules/[^/]+$",
                      "location": "path"
                    }
                  },
                  "description": "",
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "PATCH",
                  "request": {
                    "$ref": "GoogleCloudSecuritycenterV1SecurityHealthAnalyticsCustomModule"
                  },
                  "id": "securitycenter.projects.securityHealthAnalyticsSettings.customModules.patch",
                  "path": "v1/{+name}"
                },
                "create": {
                  "response": {
                    "$ref": "GoogleCloudSecuritycenterV1SecurityHealthAnalyticsCustomModule"
                  },
                  "description": "",
                  "flatPath": "v1/projects/{projectsId}/securityHealthAnalyticsSettings/customModules",
                  "id": "securitycenter.projects.securityHealthAnalyticsSettings.customModules.create",
                  "path": "v1/{+parent}/customModules",
                  "request": {
                    "$ref": "GoogleCloudSecuritycenterV1SecurityHealthAnalyticsCustomModule"
                  },
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "parent"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/securitycenter"
                  ],
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "pattern": "^projects/[^/]+/securityHealthAnalyticsSettings$",
                      "type": "string",
                      "required": true
                    }
                  }
                },
                "delete": {
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/securitycenter"
                  ],
                  "description": "",
                  "parameters": {
                    "name": {
                      "required": true,
                      "type": "string",
                      "pattern": "^projects/[^/]+/securityHealthAnalyticsSettings/customModules/[^/]+$",
                      "location": "path"
                    }
                  },
                  "flatPath": "v1/projects/{projectsId}/securityHealthAnalyticsSettings/customModules/{customModulesId}",
                  "path": "v1/{+name}",
                  "id": "securitycenter.projects.securityHealthAnalyticsSettings.customModules.delete",
                  "response": {
                    "$ref": "Empty"
                  },
                  "httpMethod": "DELETE"
                },
                "listDescendant": {
                  "path": "v1/{+parent}/customModules:listDescendant",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/securitycenter"
                  ],
                  "parameterOrder": [
                    "parent"
                  ],
                  "description": "",
                  "parameters": {
                    "pageSize": {
                      "type": "integer",
                      "format": "int32",
                      "location": "query"
                    },
                    "pageToken": {
                      "location": "query",
                      "type": "string"
                    },
                    "parent": {
                      "pattern": "^projects/[^/]+/securityHealthAnalyticsSettings$",
                      "required": true,
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "flatPath": "v1/projects/{projectsId}/securityHealthAnalyticsSettings/customModules:listDescendant",
                  "response": {
                    "$ref": "ListDescendantSecurityHealthAnalyticsCustomModulesResponse"
                  },
                  "id": "securitycenter.projects.securityHealthAnalyticsSettings.customModules.listDescendant",
                  "httpMethod": "GET"
                },
                "get": {
                  "response": {
                    "$ref": "GoogleCloudSecuritycenterV1SecurityHealthAnalyticsCustomModule"
                  },
                  "path": "v1/{+name}",
                  "flatPath": "v1/projects/{projectsId}/securityHealthAnalyticsSettings/customModules/{customModulesId}",
                  "httpMethod": "GET",
                  "id": "securitycenter.projects.securityHealthAnalyticsSettings.customModules.get",
                  "description": "",
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "type": "string",
                      "required": true,
                      "pattern": "^projects/[^/]+/securityHealthAnalyticsSettings/customModules/[^/]+$",
                      "location": "path"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/securitycenter"
                  ]
                },
                "list": {
                  "response": {
                    "$ref": "ListSecurityHealthAnalyticsCustomModulesResponse"
                  },
                  "httpMethod": "GET",
                  "flatPath": "v1/projects/{projectsId}/securityHealthAnalyticsSettings/customModules",
                  "id": "securitycenter.projects.securityHealthAnalyticsSettings.customModules.list",
                  "path": "v1/{+parent}/customModules",
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/securityHealthAnalyticsSettings$",
                      "type": "string"
                    },
                    "pageToken": {
                      "type": "string",
                      "location": "query"
                    },
                    "pageSize": {
                      "format": "int32",
                      "location": "query",
                      "type": "integer"
                    }
                  },
                  "description": "",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/securitycenter"
                  ],
                  "parameterOrder": [
                    "parent"
                  ]
                },
                "simulate": {
                  "path": "v1/{+parent}/customModules:simulate",
                  "id": "securitycenter.projects.securityHealthAnalyticsSettings.customModules.simulate",
                  "request": {
                    "$ref": "SimulateSecurityHealthAnalyticsCustomModuleRequest"
                  },
                  "flatPath": "v1/projects/{projectsId}/securityHealthAnalyticsSettings/customModules:simulate",
                  "response": {
                    "$ref": "SimulateSecurityHealthAnalyticsCustomModuleResponse"
                  },
                  "description": "",
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "type": "string",
                      "required": true,
                      "pattern": "^projects/[^/]+/securityHealthAnalyticsSettings$"
                    }
                  },
                  "httpMethod": "POST",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/securitycenter"
                  ],
                  "parameterOrder": [
                    "parent"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "organizations": {
      "resources": {
        "bigQueryExports": {
          "methods": {
            "patch": {
              "response": {
                "$ref": "GoogleCloudSecuritycenterV1BigQueryExport"
              },
              "request": {
                "$ref": "GoogleCloudSecuritycenterV1BigQueryExport"
              },
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1/organizations/{organizationsId}/bigQueryExports/{bigQueryExportsId}",
              "path": "v1/{+name}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/securitycenter"
              ],
              "httpMethod": "PATCH",
              "id": "securitycenter.organizations.bigQueryExports.patch",
              "parameters": {
                "updateMask": {
                  "format": "google-fieldmask",
                  "location": "query",
                  "type": "string"
                },
                "name": {
                  "location": "path",
                  "pattern": "^organizations/[^/]+/bigQueryExports/[^/]+$",
                  "type": "string",
                  "required": true
                }
              },
              "description": ""
            },
            "list": {
              "id": "securitycenter.organizations.bigQueryExports.list",
              "parameterOrder": [
                "parent"
              ],
              "description": "",
              "path": "v1/{+parent}/bigQueryExports",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/securitycenter"
              ],
              "response": {
                "$ref": "ListBigQueryExportsResponse"
              },
              "httpMethod": "GET",
              "flatPath": "v1/organizations/{organizationsId}/bigQueryExports",
              "parameters": {
                "pageSize": {
                  "location": "query",
                  "type": "integer",
                  "format": "int32"
                },
                "parent": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "pattern": "^organizations/[^/]+$"
                },
                "pageToken": {
                  "location": "query",
                  "type": "string"
                }
              }
            },
            "create": {
              "parameterOrder": [
                "parent"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/securitycenter"
              ],
              "id": "securitycenter.organizations.bigQueryExports.create",
              "request": {
                "$ref": "GoogleCloudSecuritycenterV1BigQueryExport"
              },
              "parameters": {
                "parent": {
                  "pattern": "^organizations/[^/]+$",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "bigQueryExportId": {
                  "type": "string",
                  "location": "query"
                }
              },
              "httpMethod": "POST",
              "response": {
                "$ref": "GoogleCloudSecuritycenterV1BigQueryExport"
              },
              "flatPath": "v1/organizations/{organizationsId}/bigQueryExports",
              "path": "v1/{+parent}/bigQueryExports",
              "description": ""
            },
            "delete": {
              "httpMethod": "DELETE",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "pattern": "^organizations/[^/]+/bigQueryExports/[^/]+$"
                }
              },
              "id": "securitycenter.organizations.bigQueryExports.delete",
              "flatPath": "v1/organizations/{organizationsId}/bigQueryExports/{bigQueryExportsId}",
              "description": "",
              "response": {
                "$ref": "Empty"
              },
              "path": "v1/{+name}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/securitycenter"
              ]
            },
            "get": {
              "parameterOrder": [
                "name"
              ],
              "path": "v1/{+name}",
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/securitycenter"
              ],
              "parameters": {
                "name": {
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "pattern": "^organizations/[^/]+/bigQueryExports/[^/]+$"
                }
              },
              "description": "",
              "response": {
                "$ref": "GoogleCloudSecuritycenterV1BigQueryExport"
              },
              "id": "securitycenter.organizations.bigQueryExports.get",
              "flatPath": "v1/organizations/{organizationsId}/bigQueryExports/{bigQueryExportsId}"
            }
          }
        },
        "muteConfigs": {
          "methods": {
            "patch": {
              "description": "",
              "id": "securitycenter.organizations.muteConfigs.patch",
              "httpMethod": "PATCH",
              "path": "v1/{+name}",
              "parameters": {
                "name": {
                  "pattern": "^organizations/[^/]+/muteConfigs/[^/]+$",
                  "required": true,
                  "type": "string",
                  "location": "path"
                },
                "updateMask": {
                  "location": "query",
                  "type": "string",
                  "format": "google-fieldmask"
                }
              },
              "request": {
                "$ref": "GoogleCloudSecuritycenterV1MuteConfig"
              },
              "response": {
                "$ref": "GoogleCloudSecuritycenterV1MuteConfig"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/securitycenter"
              ],
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1/organizations/{organizationsId}/muteConfigs/{muteConfigsId}"
            },
            "create": {
              "description": "",
              "parameterOrder": [
                "parent"
              ],
              "parameters": {
                "parent": {
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "pattern": "^organizations/[^/]+$"
                },
                "muteConfigId": {
                  "location": "query",
                  "type": "string"
                }
              },
              "httpMethod": "POST",
              "request": {
                "$ref": "GoogleCloudSecuritycenterV1MuteConfig"
              },
              "path": "v1/{+parent}/muteConfigs",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/securitycenter"
              ],
              "response": {
                "$ref": "GoogleCloudSecuritycenterV1MuteConfig"
              },
              "id": "securitycenter.organizations.muteConfigs.create",
              "flatPath": "v1/organizations/{organizationsId}/muteConfigs"
            },
            "delete": {
              "id": "securitycenter.organizations.muteConfigs.delete",
              "flatPath": "v1/organizations/{organizationsId}/muteConfigs/{muteConfigsId}",
              "description": "",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/securitycenter"
              ],
              "response": {
                "$ref": "Empty"
              },
              "httpMethod": "DELETE",
              "path": "v1/{+name}",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "location": "path",
                  "pattern": "^organizations/[^/]+/muteConfigs/[^/]+$",
                  "type": "string",
                  "required": true
                }
              }
            },
            "get": {
              "httpMethod": "GET",
              "id": "securitycenter.organizations.muteConfigs.get",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "pattern": "^organizations/[^/]+/muteConfigs/[^/]+$",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "path": "v1/{+name}",
              "description": "",
              "flatPath": "v1/organizations/{organizationsId}/muteConfigs/{muteConfigsId}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/securitycenter"
              ],
              "response": {
                "$ref": "GoogleCloudSecuritycenterV1MuteConfig"
              }
            },
            "list": {
              "path": "v1/{+parent}/muteConfigs",
              "description": "",
              "id": "securitycenter.organizations.muteConfigs.list",
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "ListMuteConfigsResponse"
              },
              "httpMethod": "GET",
              "flatPath": "v1/organizations/{organizationsId}/muteConfigs",
              "parameters": {
                "pageToken": {
                  "location": "query",
                  "type": "string"
                },
                "pageSize": {
                  "type": "integer",
                  "location": "query",
                  "format": "int32"
                },
                "parent": {
                  "required": true,
                  "pattern": "^organizations/[^/]+$",
                  "type": "string",
                  "location": "path"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/securitycenter"
              ]
            }
          }
        },
        "eventThreatDetectionSettings": {
          "resources": {
            "effectiveCustomModules": {
              "methods": {
                "list": {
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "parent"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/securitycenter"
                  ],
                  "response": {
                    "$ref": "ListEffectiveEventThreatDetectionCustomModulesResponse"
                  },
                  "parameters": {
                    "pageSize": {
                      "location": "query",
                      "format": "int32",
                      "type": "integer"
                    },
                    "pageToken": {
                      "type": "string",
                      "location": "query"
                    },
                    "parent": {
                      "location": "path",
                      "pattern": "^organizations/[^/]+/eventThreatDetectionSettings$",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "description": "",
                  "flatPath": "v1/organizations/{organizationsId}/eventThreatDetectionSettings/effectiveCustomModules",
                  "path": "v1/{+parent}/effectiveCustomModules",
                  "id": "securitycenter.organizations.eventThreatDetectionSettings.effectiveCustomModules.list"
                },
                "get": {
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "EffectiveEventThreatDetectionCustomModule"
                  },
                  "id": "securitycenter.organizations.eventThreatDetectionSettings.effectiveCustomModules.get",
                  "flatPath": "v1/organizations/{organizationsId}/eventThreatDetectionSettings/effectiveCustomModules/{effectiveCustomModulesId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/securitycenter"
                  ],
                  "description": "",
                  "parameters": {
                    "name": {
                      "required": true,
                      "pattern": "^organizations/[^/]+/eventThreatDetectionSettings/effectiveCustomModules/[^/]+$",
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "path": "v1/{+name}",
                  "parameterOrder": [
                    "name"
                  ]
                }
              }
            },
            "customModules": {
              "methods": {
                "list": {
                  "id": "securitycenter.organizations.eventThreatDetectionSettings.customModules.list",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/securitycenter"
                  ],
                  "parameterOrder": [
                    "parent"
                  ],
                  "description": "",
                  "path": "v1/{+parent}/customModules",
                  "flatPath": "v1/organizations/{organizationsId}/eventThreatDetectionSettings/customModules",
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "ListEventThreatDetectionCustomModulesResponse"
                  },
                  "parameters": {
                    "pageSize": {
                      "location": "query",
                      "type": "integer",
                      "format": "int32"
                    },
                    "parent": {
                      "location": "path",
                      "required": true,
                      "pattern": "^organizations/[^/]+/eventThreatDetectionSettings$",
                      "type": "string"
                    },
                    "pageToken": {
                      "location": "query",
                      "type": "string"
                    }
                  }
                },
                "create": {
                  "response": {
                    "$ref": "EventThreatDetectionCustomModule"
                  },
                  "flatPath": "v1/organizations/{organizationsId}/eventThreatDetectionSettings/customModules",
                  "description": "",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/securitycenter"
                  ],
                  "path": "v1/{+parent}/customModules",
                  "id": "securitycenter.organizations.eventThreatDetectionSettings.customModules.create",
                  "parameters": {
                    "parent": {
                      "type": "string",
                      "pattern": "^organizations/[^/]+/eventThreatDetectionSettings$",
                      "required": true,
                      "location": "path"
                    }
                  },
                  "request": {
                    "$ref": "EventThreatDetectionCustomModule"
                  },
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "parent"
                  ]
                },
                "delete": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/securitycenter"
                  ],
                  "path": "v1/{+name}",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "location": "path",
                      "pattern": "^organizations/[^/]+/eventThreatDetectionSettings/customModules/[^/]+$",
                      "required": true
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "",
                  "flatPath": "v1/organizations/{organizationsId}/eventThreatDetectionSettings/customModules/{customModulesId}",
                  "httpMethod": "DELETE",
                  "id": "securitycenter.organizations.eventThreatDetectionSettings.customModules.delete",
                  "response": {
                    "$ref": "Empty"
                  }
                },
                "get": {
                  "description": "",
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "GET",
                  "path": "v1/{+name}",
                  "response": {
                    "$ref": "EventThreatDetectionCustomModule"
                  },
                  "parameters": {
                    "name": {
                      "location": "path",
                      "type": "string",
                      "required": true,
                      "pattern": "^organizations/[^/]+/eventThreatDetectionSettings/customModules/[^/]+$"
                    }
                  },
                  "id": "securitycenter.organizations.eventThreatDetectionSettings.customModules.get",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/securitycenter"
                  ],
                  "flatPath": "v1/organizations/{organizationsId}/eventThreatDetectionSettings/customModules/{customModulesId}"
                },
                "listDescendant": {
                  "description": "",
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "type": "string",
                      "pattern": "^organizations/[^/]+/eventThreatDetectionSettings$",
                      "required": true
                    },
                    "pageSize": {
                      "type": "integer",
                      "format": "int32",
                      "location": "query"
                    },
                    "pageToken": {
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "id": "securitycenter.organizations.eventThreatDetectionSettings.customModules.listDescendant",
                  "httpMethod": "GET",
                  "path": "v1/{+parent}/customModules:listDescendant",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/securitycenter"
                  ],
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "ListDescendantEventThreatDetectionCustomModulesResponse"
                  },
                  "flatPath": "v1/organizations/{organizationsId}/eventThreatDetectionSettings/customModules:listDescendant"
                },
                "patch": {
                  "flatPath": "v1/organizations/{organizationsId}/eventThreatDetectionSettings/customModules/{customModulesId}",
                  "parameters": {
                    "updateMask": {
                      "location": "query",
                      "type": "string",
                      "format": "google-fieldmask"
                    },
                    "name": {
                      "pattern": "^organizations/[^/]+/eventThreatDetectionSettings/customModules/[^/]+$",
                      "required": true,
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "response": {
                    "$ref": "EventThreatDetectionCustomModule"
                  },
                  "request": {
                    "$ref": "EventThreatDetectionCustomModule"
                  },
                  "httpMethod": "PATCH",
                  "path": "v1/{+name}",
                  "id": "securitycenter.organizations.eventThreatDetectionSettings.customModules.patch",
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/securitycenter"
                  ]
                }
              }
            }
          },
          "methods": {
            "validateCustomModule": {
              "parameterOrder": [
                "parent"
              ],
              "flatPath": "v1/organizations/{organizationsId}/eventThreatDetectionSettings:validateCustomModule",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/securitycenter"
              ],
              "response": {
                "$ref": "ValidateEventThreatDetectionCustomModuleResponse"
              },
              "httpMethod": "POST",
              "description": "",
              "request": {
                "$ref": "ValidateEventThreatDetectionCustomModuleRequest"
              },
              "parameters": {
                "parent": {
                  "type": "string",
                  "pattern": "^organizations/[^/]+/eventThreatDetectionSettings$",
                  "required": true,
                  "location": "path"
                }
              },
              "id": "securitycenter.organizations.eventThreatDetectionSettings.validateCustomModule",
              "path": "v1/{+parent}:validateCustomModule"
            }
          }
        },
        "findings": {
          "methods": {
            "bulkMute": {
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/securitycenter"
              ],
              "request": {
                "$ref": "BulkMuteFindingsRequest"
              },
              "path": "v1/{+parent}/findings:bulkMute",
              "parameters": {
                "parent": {
                  "required": true,
                  "pattern": "^organizations/[^/]+$",
                  "type": "string",
                  "location": "path"
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "Operation"
              },
              "flatPath": "v1/organizations/{organizationsId}/findings:bulkMute",
              "id": "securitycenter.organizations.findings.bulkMute",
              "description": ""
            }
          }
        },
        "locations": {
          "resources": {
            "muteConfigs": {
              "methods": {
                "patch": {
                  "request": {
                    "$ref": "GoogleCloudSecuritycenterV1MuteConfig"
                  },
                  "response": {
                    "$ref": "GoogleCloudSecuritycenterV1MuteConfig"
                  },
                  "id": "securitycenter.organizations.locations.muteConfigs.patch",
                  "flatPath": "v1/organizations/{organizationsId}/locations/{locationsId}/muteConfigs/{muteConfigsId}",
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "updateMask": {
                      "location": "query",
                      "type": "string",
                      "format": "google-fieldmask"
                    },
                    "name": {
                      "pattern": "^organizations/[^/]+/locations/[^/]+/muteConfigs/[^/]+$",
                      "type": "string",
                      "required": true,
                      "location": "path"
                    }
                  },
                  "description": "",
                  "httpMethod": "PATCH",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/securitycenter"
                  ],
                  "path": "v1/{+name}"
                },
                "get": {
                  "flatPath": "v1/organizations/{organizationsId}/locations/{locationsId}/muteConfigs/{muteConfigsId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/securitycenter"
                  ],
                  "response": {
                    "$ref": "GoogleCloudSecuritycenterV1MuteConfig"
                  },
                  "id": "securitycenter.organizations.locations.muteConfigs.get",
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "GET",
                  "path": "v1/{+name}",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "type": "string",
                      "required": true,
                      "pattern": "^organizations/[^/]+/locations/[^/]+/muteConfigs/[^/]+$"
                    }
                  },
                  "description": ""
                },
                "delete": {
                  "description": "",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/securitycenter"
                  ],
                  "httpMethod": "DELETE",
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1/{+name}",
                  "response": {
                    "$ref": "Empty"
                  },
                  "parameters": {
                    "name": {
                      "pattern": "^organizations/[^/]+/locations/[^/]+/muteConfigs/[^/]+$",
                      "required": true,
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "flatPath": "v1/organizations/{organizationsId}/locations/{locationsId}/muteConfigs/{muteConfigsId}",
                  "id": "securitycenter.organizations.locations.muteConfigs.delete"
                }
              }
            }
          }
        },
        "assets": {
          "methods": {
            "group": {
              "deprecated": true,
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/securitycenter"
              ],
              "parameterOrder": [
                "parent"
              ],
              "description": "",
              "parameters": {
                "parent": {
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "pattern": "^organizations/[^/]+$"
                }
              },
              "request": {
                "$ref": "GroupAssetsRequest"
              },
              "path": "v1/{+parent}/assets:group",
              "id": "securitycenter.organizations.assets.group",
              "flatPath": "v1/organizations/{organizationsId}/assets:group",
              "httpMethod": "POST",
              "response": {
                "$ref": "GroupAssetsResponse"
              }
            },
            "runDiscovery": {
              "deprecated": true,
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/securitycenter"
              ],
              "parameterOrder": [
                "parent"
              ],
              "description": "",
              "request": {
                "$ref": "RunAssetDiscoveryRequest"
              },
              "parameters": {
                "parent": {
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "pattern": "^organizations/[^/]+$"
                }
              },
              "response": {
                "$ref": "Operation"
              },
              "flatPath": "v1/organizations/{organizationsId}/assets:runDiscovery",
              "httpMethod": "POST",
              "id": "securitycenter.organizations.assets.runDiscovery",
              "path": "v1/{+parent}/assets:runDiscovery"
            },
            "updateSecurityMarks": {
              "flatPath": "v1/organizations/{organizationsId}/assets/{assetsId}/securityMarks",
              "response": {
                "$ref": "SecurityMarks"
              },
              "id": "securitycenter.organizations.assets.updateSecurityMarks",
              "path": "v1/{+name}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/securitycenter"
              ],
              "parameters": {
                "startTime": {
                  "location": "query",
                  "format": "google-datetime",
                  "type": "string"
                },
                "name": {
                  "pattern": "^organizations/[^/]+/assets/[^/]+/securityMarks$",
                  "required": true,
                  "type": "string",
                  "location": "path"
                },
                "updateMask": {
                  "format": "google-fieldmask",
                  "type": "string",
                  "location": "query"
                }
              },
              "description": "",
              "request": {
                "$ref": "SecurityMarks"
              },
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "PATCH"
            },
            "list": {
              "parameters": {
                "filter": {
                  "type": "string",
                  "location": "query"
                },
                "readTime": {
                  "location": "query",
                  "format": "google-datetime",
                  "type": "string"
                },
                "pageToken": {
                  "location": "query",
                  "type": "string"
                },
                "parent": {
                  "pattern": "^organizations/[^/]+$",
                  "required": true,
                  "location": "path",
                  "type": "string"
                },
                "fieldMask": {
                  "format": "google-fieldmask",
                  "type": "string",
                  "location": "query"
                },
                "pageSize": {
                  "type": "integer",
                  "location": "query",
                  "format": "int32"
                },
                "orderBy": {
                  "location": "query",
                  "type": "string"
                },
                "compareDuration": {
                  "format": "google-duration",
                  "type": "string",
                  "location": "query"
                }
              },
              "response": {
                "$ref": "ListAssetsResponse"
              },
              "httpMethod": "GET",
              "parameterOrder": [
                "parent"
              ],
              "flatPath": "v1/organizations/{organizationsId}/assets",
              "path": "v1/{+parent}/assets",
              "description": "",
              "deprecated": true,
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/securitycenter"
              ],
              "id": "securitycenter.organizations.assets.list"
            }
          }
        },
        "notificationConfigs": {
          "methods": {
            "list": {
              "id": "securitycenter.organizations.notificationConfigs.list",
              "parameters": {
                "parent": {
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "pattern": "^organizations/[^/]+$"
                },
                "pageSize": {
                  "location": "query",
                  "type": "integer",
                  "format": "int32"
                },
                "pageToken": {
                  "location": "query",
                  "type": "string"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/securitycenter"
              ],
              "httpMethod": "GET",
              "parameterOrder": [
                "parent"
              ],
              "flatPath": "v1/organizations/{organizationsId}/notificationConfigs",
              "response": {
                "$ref": "ListNotificationConfigsResponse"
              },
              "description": "",
              "path": "v1/{+parent}/notificationConfigs"
            },
            "create": {
              "parameters": {
                "parent": {
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "pattern": "^organizations/[^/]+$"
                },
                "configId": {
                  "location": "query",
                  "type": "string"
                }
              },
              "httpMethod": "POST",
              "request": {
                "$ref": "NotificationConfig"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/securitycenter"
              ],
              "path": "v1/{+parent}/notificationConfigs",
              "flatPath": "v1/organizations/{organizationsId}/notificationConfigs",
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "NotificationConfig"
              },
              "id": "securitycenter.organizations.notificationConfigs.create",
              "description": ""
            },
            "delete": {
              "response": {
                "$ref": "Empty"
              },
              "parameterOrder": [
                "name"
              ],
              "path": "v1/{+name}",
              "flatPath": "v1/organizations/{organizationsId}/notificationConfigs/{notificationConfigsId}",
              "httpMethod": "DELETE",
              "description": "",
              "parameters": {
                "name": {
                  "type": "string",
                  "location": "path",
                  "pattern": "^organizations/[^/]+/notificationConfigs/[^/]+$",
                  "required": true
                }
              },
              "id": "securitycenter.organizations.notificationConfigs.delete",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/securitycenter"
              ]
            },
            "get": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/securitycenter"
              ],
              "httpMethod": "GET",
              "response": {
                "$ref": "NotificationConfig"
              },
              "path": "v1/{+name}",
              "parameters": {
                "name": {
                  "required": true,
                  "pattern": "^organizations/[^/]+/notificationConfigs/[^/]+$",
                  "location": "path",
                  "type": "string"
                }
              },
              "description": "",
              "flatPath": "v1/organizations/{organizationsId}/notificationConfigs/{notificationConfigsId}",
              "id": "securitycenter.organizations.notificationConfigs.get",
              "parameterOrder": [
                "name"
              ]
            },
            "patch": {
              "description": "",
              "response": {
                "$ref": "NotificationConfig"
              },
              "path": "v1/{+name}",
              "flatPath": "v1/organizations/{organizationsId}/notificationConfigs/{notificationConfigsId}",
[...]
