{
  "discoveryVersion": "v1",
  "revision": "20261005",
  "endpoints": [
    {
      "description": "Regional Endpoint",
      "location": "me-central2",
      "endpointUrl": "https://securitycenter.me-central2.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://securitycenter.us.rep.googleapis.com/",
      "location": "us"
    },
    {
      "endpointUrl": "https://securitycenter.eu.rep.googleapis.com/",
      "location": "eu",
      "description": "Regional Endpoint"
    }
  ],
  "canonicalName": "Security Command Center",
  "version": "v1",
  "kind": "discovery#restDescription",
  "fullyEncodeReservedExpansion": true,
  "schemas": {
    "ListSecurityHealthAnalyticsCustomModulesResponse": {
      "properties": {
        "nextPageToken": {
          "type": "string"
        },
        "securityHealthAnalyticsCustomModules": {
          "items": {
            "$ref": "GoogleCloudSecuritycenterV1SecurityHealthAnalyticsCustomModule"
          },
          "type": "array"
        }
      },
      "id": "ListSecurityHealthAnalyticsCustomModulesResponse",
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2GroupMembership": {
      "type": "object",
      "properties": {
        "groupType": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "GROUP_TYPE_UNSPECIFIED",
            "GROUP_TYPE_TOXIC_COMBINATION",
            "GROUP_TYPE_CHOKEPOINT"
          ]
        },
        "groupId": {
          "type": "string"
        }
      },
      "id": "GoogleCloudSecuritycenterV2GroupMembership"
    },
    "AuditLogConfig": {
      "properties": {
        "logType": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "LOG_TYPE_UNSPECIFIED",
            "ADMIN_READ",
            "DATA_WRITE",
            "DATA_READ"
          ]
        },
        "exemptedMembers": {
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object",
      "id": "AuditLogConfig"
    },
    "TestIamPermissionsRequest": {
      "id": "TestIamPermissionsRequest",
      "properties": {
        "permissions": {
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "SimulatedResult": {
      "id": "SimulatedResult",
      "type": "object",
      "properties": {
        "finding": {
          "$ref": "Finding"
        },
        "error": {
          "$ref": "Status"
        },
        "noViolation": {
          "$ref": "Empty"
        }
      }
    },
    "CustomModuleValidationErrors": {
      "id": "CustomModuleValidationErrors",
      "properties": {
        "errors": {
          "items": {
            "$ref": "CustomModuleValidationError"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "ArtifactGuardPolicies": {
      "properties": {
        "resourceId": {
          "type": "string"
        },
        "failingPolicies": {
          "type": "array",
          "items": {
            "$ref": "ArtifactGuardPolicy"
          }
        }
      },
      "type": "object",
      "id": "ArtifactGuardPolicies"
    },
    "GroupAssetsRequest": {
      "properties": {
        "readTime": {
          "format": "google-datetime",
          "type": "string"
        },
        "pageSize": {
          "type": "integer",
          "format": "int32"
        },
        "pageToken": {
          "type": "string"
        },
        "filter": {
          "type": "string"
        },
        "groupBy": {
          "type": "string"
        },
        "compareDuration": {
          "type": "string",
          "format": "google-duration"
        }
      },
      "type": "object",
      "id": "GroupAssetsRequest"
    },
    "GoogleCloudSecuritycenterV2AwsAccount": {
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2AwsAccount",
      "properties": {
        "name": {
          "type": "string"
        },
        "id": {
          "type": "string"
        }
      }
    },
    "ListResourceValueConfigsResponse": {
      "properties": {
        "nextPageToken": {
          "type": "string"
        },
        "resourceValueConfigs": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV1ResourceValueConfig"
          }
        }
      },
      "id": "ListResourceValueConfigsResponse",
      "type": "object"
    },
    "CreateResourceValueConfigRequest": {
      "id": "CreateResourceValueConfigRequest",
      "properties": {
        "parent": {
          "type": "string"
        },
        "resourceValueConfig": {
          "$ref": "GoogleCloudSecuritycenterV1ResourceValueConfig"
        }
      },
      "type": "object"
    },
    "Network": {
      "id": "Network",
      "properties": {
        "name": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "SimulatedResource": {
      "properties": {
        "resourceType": {
          "type": "string"
        },
        "iamPolicyData": {
          "$ref": "Policy"
        },
        "resourceData": {
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "type": "object"
        }
      },
      "id": "SimulatedResource",
      "type": "object"
    },
    "DynamicMuteRecord": {
      "properties": {
        "matchTime": {
          "type": "string",
          "format": "google-datetime"
        },
        "muteConfig": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "DynamicMuteRecord"
    },
    "Contact": {
      "id": "Contact",
      "type": "object",
      "properties": {
        "email": {
          "type": "string"
        }
      }
    },
    "GoogleCloudSecuritycenterV2CloudControl": {
      "id": "GoogleCloudSecuritycenterV2CloudControl",
      "properties": {
        "policyType": {
          "type": "string"
        },
        "cloudControlName": {
          "type": "string"
        },
        "type": {
          "enum": [
            "CLOUD_CONTROL_TYPE_UNSPECIFIED",
            "BUILT_IN",
            "CUSTOM"
          ],
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "type": "string"
        },
        "version": {
          "format": "int32",
          "type": "integer"
        }
      },
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2YaraRuleSignature": {
      "properties": {
        "yaraRule": {
          "type": "string"
        }
      },
      "id": "GoogleCloudSecuritycenterV2YaraRuleSignature",
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2ResourcePath": {
      "id": "GoogleCloudSecuritycenterV2ResourcePath",
      "type": "object",
      "properties": {
        "nodes": {
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2ResourcePathNode"
          },
          "type": "array"
        }
      }
    },
    "GoogleCloudSecuritycenterV1p1beta1SecurityMarks": {
      "properties": {
        "canonicalName": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "marks": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        }
      },
      "type": "object",
      "id": "GoogleCloudSecuritycenterV1p1beta1SecurityMarks"
    },
    "AdcApplicationTemplateRevision": {
      "properties": {
        "name": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "AdcApplicationTemplateRevision"
    },
    "GoogleCloudSecuritycenterV1beta1RunAssetDiscoveryResponse": {
      "properties": {
        "state": {
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "COMPLETED",
            "SUPERSEDED",
            "TERMINATED"
          ],
          "type": "string"
        },
        "duration": {
          "type": "string",
          "format": "google-duration"
        }
      },
      "id": "GoogleCloudSecuritycenterV1beta1RunAssetDiscoveryResponse",
      "type": "object"
    },
    "Status": {
      "type": "object",
      "properties": {
        "code": {
          "format": "int32",
          "type": "integer"
        },
        "message": {
          "type": "string"
        },
        "details": {
          "type": "array",
          "items": {
            "type": "object",
            "additionalProperties": {
              "description": "Properties of the object. Contains field @type with type URL.",
              "type": "any"
            }
          }
        }
      },
      "id": "Status"
    },
    "ListMuteConfigsResponse": {
      "id": "ListMuteConfigsResponse",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string"
        },
        "muteConfigs": {
          "items": {
            "$ref": "GoogleCloudSecuritycenterV1MuteConfig"
          },
          "type": "array"
        }
      }
    },
    "ResourceValueConfigMetadata": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        }
      },
      "id": "ResourceValueConfigMetadata"
    },
    "GoogleCloudSecuritycenterV2Database": {
      "id": "GoogleCloudSecuritycenterV2Database",
      "properties": {
        "version": {
          "type": "string"
        },
        "userName": {
          "type": "string"
        },
        "query": {
          "type": "string"
        },
        "displayName": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "grantees": {
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2Job": {
      "id": "GoogleCloudSecuritycenterV2Job",
      "properties": {
        "location": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "errorCode": {
          "type": "integer",
          "format": "int32"
        },
        "state": {
          "enum": [
            "JOB_STATE_UNSPECIFIED",
            "PENDING",
            "RUNNING",
            "SUCCEEDED",
            "FAILED"
          ],
          "type": "string",
          "readOnly": true,
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ]
        }
      },
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2Indicator": {
      "properties": {
        "domains": {
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "ipAddresses": {
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "uris": {
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "signatures": {
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2ProcessSignature"
          },
          "type": "array"
        }
      },
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2Indicator"
    },
    "ServiceAccountDelegationInfo": {
      "properties": {
        "principalEmail": {
          "type": "string"
        },
        "principalSubject": {
          "type": "string"
        }
      },
      "id": "ServiceAccountDelegationInfo",
      "type": "object"
    },
    "Asset": {
      "id": "Asset",
      "properties": {
        "securityMarks": {
          "$ref": "SecurityMarks"
        },
        "canonicalName": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "securityCenterProperties": {
          "$ref": "SecurityCenterProperties"
        },
        "resourceProperties": {
          "type": "object",
          "additionalProperties": {
            "type": "any"
          }
        },
        "updateTime": {
          "format": "google-datetime",
          "type": "string"
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime"
        },
        "iamPolicy": {
          "$ref": "IamPolicy"
        }
      },
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2CloudArmor": {
      "properties": {
        "securityPolicy": {
          "$ref": "GoogleCloudSecuritycenterV2SecurityPolicy"
        },
        "requests": {
          "$ref": "GoogleCloudSecuritycenterV2Requests"
        },
        "duration": {
          "type": "string",
          "format": "google-duration"
        },
        "threatVector": {
          "type": "string"
        },
        "adaptiveProtection": {
          "$ref": "GoogleCloudSecuritycenterV2AdaptiveProtection"
        },
        "attack": {
          "$ref": "GoogleCloudSecuritycenterV2Attack"
        }
      },
      "id": "GoogleCloudSecuritycenterV2CloudArmor",
      "type": "object"
    },
    "SecurityPosture": {
      "id": "SecurityPosture",
      "type": "object",
      "properties": {
        "changedPolicy": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "policy": {
          "type": "string"
        },
        "revisionId": {
          "type": "string"
        },
        "policySet": {
          "type": "string"
        },
        "postureDeployment": {
          "type": "string"
        },
        "postureDeploymentResource": {
          "type": "string"
        },
        "policyDriftDetails": {
          "items": {
            "$ref": "PolicyDriftDetails"
          },
          "type": "array"
        }
      }
    },
    "GoogleCloudSecuritycenterV2Control": {
      "id": "GoogleCloudSecuritycenterV2Control",
      "type": "object",
      "properties": {
        "displayName": {
          "type": "string"
        },
        "controlName": {
          "type": "string"
        }
      }
    },
    "SetMuteRequest": {
      "properties": {
        "mute": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "MUTE_UNSPECIFIED",
            "MUTED",
            "UNMUTED",
            "UNDEFINED"
          ]
        }
      },
      "type": "object",
      "id": "SetMuteRequest"
    },
    "GoogleCloudSecuritycenterV2Binding": {
      "properties": {
        "role": {
          "$ref": "GoogleCloudSecuritycenterV2Role"
        },
        "name": {
          "type": "string"
        },
        "subjects": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2Subject"
          }
        },
        "ns": {
          "type": "string"
        }
      },
      "id": "GoogleCloudSecuritycenterV2Binding",
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2AiModel": {
      "id": "GoogleCloudSecuritycenterV2AiModel",
      "properties": {
        "displayName": {
          "type": "string"
        },
        "usageCategory": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "location": {
          "type": "string"
        },
        "deploymentPlatform": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "DEPLOYMENT_PLATFORM_UNSPECIFIED",
            "VERTEX_AI",
            "GKE",
            "GCE",
            "FINE_TUNED_MODEL"
          ],
          "type": "string"
        },
        "publisher": {
          "type": "string"
        },
        "domain": {
          "type": "string"
        },
        "library": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "Position": {
      "properties": {
        "lineNumber": {
          "format": "int32",
          "type": "integer"
        },
        "columnNumber": {
          "type": "integer",
          "format": "int32"
        }
      },
      "type": "object",
      "id": "Position"
    },
    "GoogleCloudSecuritycenterV2Object": {
      "properties": {
        "group": {
          "type": "string"
        },
        "ns": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "containers": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2Container"
          }
        },
        "kind": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2Object"
    },
    "Attack": {
      "id": "Attack",
      "type": "object",
      "properties": {
        "volumePpsLong": {
          "type": "string",
          "format": "int64"
        },
        "volumeBps": {
          "type": "integer",
          "format": "int32",
          "deprecated": true
        },
        "classification": {
          "type": "string"
        },
        "volumeBpsLong": {
          "format": "int64",
          "type": "string"
        },
        "volumePps": {
          "format": "int32",
          "deprecated": true,
          "type": "integer"
        }
      }
    },
    "GoogleCloudSecuritycenterV2AwsOrganizationalUnit": {
      "properties": {
        "id": {
          "type": "string"
        },
        "name": {
          "type": "string"
        }
      },
      "id": "GoogleCloudSecuritycenterV2AwsOrganizationalUnit",
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2Vulnerability": {
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2Vulnerability",
      "properties": {
        "securityBulletin": {
          "$ref": "GoogleCloudSecuritycenterV2SecurityBulletin"
        },
        "reachable": {
          "type": "boolean"
        },
        "offendingPackage": {
          "$ref": "GoogleCloudSecuritycenterV2Package"
        },
        "fixedPackage": {
          "$ref": "GoogleCloudSecuritycenterV2Package"
        },
        "providerRiskScore": {
          "format": "int64",
          "type": "string"
        },
        "cwes": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2Cwe"
          }
        },
        "cve": {
          "$ref": "GoogleCloudSecuritycenterV2Cve"
        }
      }
    },
    "GoogleCloudSecuritycenterV1ResourceSelector": {
      "properties": {
        "resourceTypes": {
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "type": "object",
      "id": "GoogleCloudSecuritycenterV1ResourceSelector"
    },
    "GoogleCloudSecuritycenterV2ProcessSignature": {
      "id": "GoogleCloudSecuritycenterV2ProcessSignature",
      "properties": {
        "signatureType": {
          "enum": [
            "SIGNATURE_TYPE_UNSPECIFIED",
            "SIGNATURE_TYPE_PROCESS",
            "SIGNATURE_TYPE_FILE"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            ""
          ]
        },
        "yaraRuleSignature": {
          "$ref": "GoogleCloudSecuritycenterV2YaraRuleSignature"
        },
        "memoryHashSignature": {
          "$ref": "GoogleCloudSecuritycenterV2MemoryHashSignature"
        }
      },
      "type": "object"
    },
    "DataAccessEvent": {
      "type": "object",
      "id": "DataAccessEvent",
      "properties": {
        "principalEmail": {
          "type": "string"
        },
        "eventTime": {
          "type": "string",
          "format": "google-datetime"
        },
        "eventId": {
          "type": "string"
        },
        "operation": {
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "OPERATION_UNSPECIFIED",
            "READ",
            "MOVE",
            "COPY"
          ],
          "type": "string"
        }
      }
    },
    "GoogleCloudSecuritycenterV2AwsOrganization": {
      "properties": {
        "id": {
          "type": "string"
        }
      },
      "id": "GoogleCloudSecuritycenterV2AwsOrganization",
      "type": "object"
    },
    "Folder": {
      "properties": {
        "resourceFolder": {
          "type": "string"
        },
        "resourceFolderDisplayName": {
          "type": "string"
        }
      },
      "id": "Folder",
      "type": "object"
    },
    "FileOperation": {
      "id": "FileOperation",
      "type": "object",
      "properties": {
        "type": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "OPERATION_TYPE_UNSPECIFIED",
            "OPEN",
            "READ",
            "RENAME",
            "WRITE",
            "EXECUTE"
          ]
        }
      }
    },
    "EnvironmentVariable": {
      "type": "object",
      "id": "EnvironmentVariable",
      "properties": {
        "val": {
          "type": "string"
        },
        "name": {
          "type": "string"
        }
      }
    },
    "AttackPath": {
      "id": "AttackPath",
      "type": "object",
      "properties": {
        "pathNodes": {
          "type": "array",
          "items": {
            "$ref": "AttackPathNode"
          }
        },
        "name": {
          "type": "string"
        },
        "edges": {
          "items": {
            "$ref": "AttackPathEdge"
          },
          "type": "array"
        }
      }
    },
    "AwsMetadata": {
      "properties": {
        "organization": {
          "$ref": "AwsOrganization"
        },
        "organizationalUnits": {
          "type": "array",
          "items": {
            "$ref": "AwsOrganizationalUnit"
          }
        },
        "account": {
          "$ref": "AwsAccount"
        }
      },
      "id": "AwsMetadata",
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2SecurityMarks": {
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2SecurityMarks",
      "properties": {
        "marks": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "name": {
          "type": "string"
        },
        "canonicalName": {
          "type": "string"
        }
      }
    },
    "GoogleCloudSecuritycenterV2Subject": {
      "properties": {
        "name": {
          "type": "string"
        },
        "kind": {
          "enum": [
            "AUTH_TYPE_UNSPECIFIED",
            "USER",
            "SERVICEACCOUNT",
            "GROUP"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "type": "string"
        },
        "ns": {
          "type": "string"
        }
      },
      "id": "GoogleCloudSecuritycenterV2Subject",
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2IssueResourceApplicationAttributesContactInfo": {
      "type": "object",
      "properties": {
        "email": {
          "type": "string"
        }
      },
      "id": "GoogleCloudSecuritycenterV2IssueResourceApplicationAttributesContactInfo"
    },
    "SecurityBulletin": {
      "properties": {
        "submissionTime": {
          "type": "string",
          "format": "google-datetime"
        },
        "suggestedUpgradeVersion": {
          "type": "string"
        },
        "bulletinId": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "SecurityBulletin"
    },
    "GoogleCloudSecuritycenterV2NodePool": {
      "properties": {
        "nodes": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2Node"
          }
        },
        "name": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2NodePool"
    },
    "GoogleCloudSecuritycenterV2SensitivityScore": {
      "properties": {
        "score": {
          "enum": [
            "SENSITIVITY_SCORE_LEVEL_UNSPECIFIED",
            "SENSITIVITY_LOW",
            "SENSITIVITY_UNKNOWN",
            "SENSITIVITY_MODERATE",
            "SENSITIVITY_HIGH"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ],
          "type": "string"
        }
      },
      "id": "GoogleCloudSecuritycenterV2SensitivityScore",
      "type": "object"
    },
    "PolicyDriftDetails": {
      "id": "PolicyDriftDetails",
      "type": "object",
      "properties": {
        "expectedValue": {
          "type": "string"
        },
        "detectedValue": {
          "type": "string"
        },
        "field": {
          "type": "string"
        }
      }
    },
    "GoogleCloudSecuritycenterV2IssueMute": {
      "properties": {
        "muteState": {
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "MUTE_STATE_UNSPECIFIED",
            "NOT_MUTED",
            "MUTED"
          ],
          "readOnly": true,
          "type": "string"
        },
        "muteInitiator": {
          "type": "string"
        },
        "muteReason": {
          "type": "string"
        },
        "muteUpdateTime": {
          "type": "string",
          "format": "google-datetime"
        }
      },
      "id": "GoogleCloudSecuritycenterV2IssueMute",
      "type": "object"
    },
    "ValidateEventThreatDetectionCustomModuleResponse": {
      "id": "ValidateEventThreatDetectionCustomModuleResponse",
      "type": "object",
      "properties": {
        "errors": {
          "$ref": "CustomModuleValidationErrors"
        }
      }
    },
    "GoogleCloudSecuritycenterV2IpRule": {
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2IpRule",
      "properties": {
        "protocol": {
          "type": "string"
        },
        "portRanges": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2PortRange"
          }
        }
      }
    },
    "Job": {
      "properties": {
        "name": {
          "type": "string"
        },
        "state": {
          "enum": [
            "JOB_STATE_UNSPECIFIED",
            "PENDING",
            "RUNNING",
            "SUCCEEDED",
            "FAILED"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "readOnly": true
        },
        "location": {
          "type": "string"
        },
        "errorCode": {
          "format": "int32",
          "type": "integer"
        }
      },
      "id": "Job",
      "type": "object"
    },
    "Notebook": {
      "properties": {
        "name": {
          "type": "string"
        },
        "notebookUpdateTime": {
          "type": "string",
          "format": "google-datetime"
        },
        "lastAuthor": {
          "type": "string"
        },
        "service": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "Notebook"
    },
    "ListSourcesResponse": {
      "properties": {
        "nextPageToken": {
          "type": "string"
        },
        "sources": {
          "type": "array",
          "items": {
            "$ref": "Source"
          }
        }
      },
      "type": "object",
      "id": "ListSourcesResponse"
    },
    "SecretEnvironmentVariable": {
      "type": "object",
      "properties": {
        "key": {
          "type": "string"
        }
      },
      "id": "SecretEnvironmentVariable"
    },
    "GoogleCloudSecuritycenterV2AccessReview": {
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2AccessReview",
      "properties": {
        "version": {
          "type": "string"
        },
        "verb": {
          "type": "string"
        },
        "resource": {
          "type": "string"
        },
        "subresource": {
          "type": "string"
        },
        "ns": {
          "type": "string"
        },
        "group": {
          "type": "string"
        },
        "name": {
          "type": "string"
        }
      }
    },
    "Compliance": {
      "type": "object",
      "id": "Compliance",
      "properties": {
        "ids": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "standard": {
          "type": "string"
        },
        "version": {
          "type": "string"
        }
      }
    },
    "GoogleCloudSecuritycenterV2ArtifactGuardPolicies": {
      "properties": {
        "resourceId": {
          "type": "string"
        },
        "failingPolicies": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2ArtifactGuardPolicy"
          }
        }
      },
      "id": "GoogleCloudSecuritycenterV2ArtifactGuardPolicies",
      "type": "object"
    },
    "SetIamPolicyRequest": {
      "type": "object",
      "properties": {
        "policy": {
          "$ref": "Policy"
        },
        "updateMask": {
          "format": "google-fieldmask",
          "type": "string"
        }
      },
      "id": "SetIamPolicyRequest"
    },
    "GoogleCloudSecuritycenterV2MemoryHashSignature": {
      "properties": {
        "binaryFamily": {
          "type": "string"
        },
        "detections": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2Detection"
          }
        }
      },
      "id": "GoogleCloudSecuritycenterV2MemoryHashSignature",
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2IssueResourceAzureMetadataAzureSubscription": {
      "properties": {
        "id": {
          "type": "string"
        },
        "displayName": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2IssueResourceAzureMetadataAzureSubscription"
    },
    "GoogleCloudSecuritycenterV1NotificationMessage": {
      "id": "GoogleCloudSecuritycenterV1NotificationMessage",
      "type": "object",
      "properties": {
        "notificationConfigName": {
          "type": "string"
        },
        "finding": {
          "$ref": "Finding"
        },
        "deletedFinding": {
          "type": "boolean"
        },
        "resource": {
          "$ref": "GoogleCloudSecuritycenterV1Resource"
        }
      }
    },
    "GoogleCloudSecuritycenterV2IssueResourceAdcApplication": {
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2IssueResourceAdcApplication",
      "properties": {
        "name": {
          "type": "string"
        },
        "attributes": {
          "$ref": "GoogleCloudSecuritycenterV2IssueResourceApplicationAttributes"
        }
      }
    },
    "ResourcePathNode": {
      "id": "ResourcePathNode",
      "properties": {
        "nodeType": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "RESOURCE_PATH_NODE_TYPE_UNSPECIFIED",
            "GCP_ORGANIZATION",
            "GCP_FOLDER",
            "GCP_PROJECT",
            "AWS_ORGANIZATION",
            "AWS_ORGANIZATIONAL_UNIT",
            "AWS_ACCOUNT",
            "AZURE_MANAGEMENT_GROUP",
            "AZURE_SUBSCRIPTION",
            "AZURE_RESOURCE_GROUP"
          ]
        },
        "displayName": {
          "type": "string"
        },
        "id": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "Cve": {
      "properties": {
        "exploitReleaseDate": {
          "type": "string",
          "format": "google-datetime"
        },
        "impact": {
          "type": "string",
          "enum": [
            "RISK_RATING_UNSPECIFIED",
            "LOW",
            "MEDIUM",
            "HIGH",
            "CRITICAL"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ]
        },
        "exploitationActivity": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "EXPLOITATION_ACTIVITY_UNSPECIFIED",
            "WIDE",
            "CONFIRMED",
            "AVAILABLE",
            "ANTICIPATED",
            "NO_KNOWN"
          ],
          "type": "string"
        },
        "zeroDay": {
          "type": "boolean"
        },
        "firstExploitationDate": {
          "format": "google-datetime",
          "type": "string"
        },
        "upstreamFixAvailable": {
          "type": "boolean"
        },
        "observedInTheWild": {
          "type": "boolean"
        },
        "id": {
          "type": "string"
        },
        "cvssv3": {
          "$ref": "Cvssv3"
        },
        "references": {
          "type": "array",
          "items": {
            "$ref": "Reference"
          }
        }
      },
      "id": "Cve",
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2AgentDataAccessEvent": {
      "type": "object",
      "properties": {
        "eventTime": {
          "type": "string",
          "format": "google-datetime"
        },
        "eventId": {
          "type": "string"
        },
        "principalSubject": {
          "type": "string"
        },
        "operation": {
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "OPERATION_UNSPECIFIED",
            "READ",
            "MOVE",
            "COPY"
          ],
          "type": "string"
        }
      },
      "id": "GoogleCloudSecuritycenterV2AgentDataAccessEvent"
    },
    "GoogleCloudSecuritycenterV1SensitiveDataProtectionMapping": {
      "properties": {
        "highSensitivityMapping": {
          "type": "string",
          "enum": [
            "RESOURCE_VALUE_UNSPECIFIED",
            "HIGH",
            "MEDIUM",
            "LOW",
            "NONE"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ]
        },
        "mediumSensitivityMapping": {
          "enum": [
            "RESOURCE_VALUE_UNSPECIFIED",
            "HIGH",
            "MEDIUM",
            "LOW",
            "NONE"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ],
          "type": "string"
        }
      },
      "id": "GoogleCloudSecuritycenterV1SensitiveDataProtectionMapping",
      "type": "object"
    },
    "GoogleCloudSecuritycenterV1p1beta1Folder": {
      "properties": {
        "resourceFolderDisplayName": {
          "type": "string"
        },
        "resourceFolder": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudSecuritycenterV1p1beta1Folder"
    },
    "GoogleCloudSecuritycenterV2Cwe": {
      "properties": {
        "id": {
          "type": "string"
        },
        "references": {
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2Reference"
          },
          "type": "array"
        }
      },
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2Cwe"
    },
    "GoogleCloudSecuritycenterV2KernelRootkit": {
      "properties": {
        "unexpectedKprobeHandler": {
          "type": "boolean"
        },
        "unexpectedProcessesInRunqueue": {
          "type": "boolean"
        },
        "unexpectedReadOnlyDataModification": {
          "type": "boolean"
        },
        "name": {
          "type": "string"
        },
        "unexpectedInterruptHandler": {
          "type": "boolean"
        },
        "unexpectedKernelCodePages": {
          "type": "boolean"
        },
        "unexpectedFtraceHandler": {
          "type": "boolean"
        },
        "unexpectedSystemCallHandler": {
          "type": "boolean"
        },
        "unexpectedCodeModification": {
          "type": "boolean"
        }
      },
      "id": "GoogleCloudSecuritycenterV2KernelRootkit",
      "type": "object"
    },
    "ListEffectiveSecurityHealthAnalyticsCustomModulesResponse": {
      "id": "ListEffectiveSecurityHealthAnalyticsCustomModulesResponse",
      "properties": {
        "nextPageToken": {
          "type": "string"
        },
        "effectiveSecurityHealthAnalyticsCustomModules": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV1EffectiveSecurityHealthAnalyticsCustomModule"
          }
        }
      },
      "type": "object"
    },
    "Cvssv3": {
      "properties": {
        "privilegesRequired": {
          "enum": [
            "PRIVILEGES_REQUIRED_UNSPECIFIED",
            "PRIVILEGES_REQUIRED_NONE",
            "PRIVILEGES_REQUIRED_LOW",
            "PRIVILEGES_REQUIRED_HIGH"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ]
        },
        "attackComplexity": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "ATTACK_COMPLEXITY_UNSPECIFIED",
            "ATTACK_COMPLEXITY_LOW",
            "ATTACK_COMPLEXITY_HIGH"
          ]
        },
        "availabilityImpact": {
          "enum": [
            "IMPACT_UNSPECIFIED",
            "IMPACT_HIGH",
            "IMPACT_LOW",
            "IMPACT_NONE"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "type": "string"
        },
        "userInteraction": {
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "USER_INTERACTION_UNSPECIFIED",
            "USER_INTERACTION_NONE",
            "USER_INTERACTION_REQUIRED"
          ],
          "type": "string"
        },
        "confidentialityImpact": {
          "enum": [
            "IMPACT_UNSPECIFIED",
            "IMPACT_HIGH",
            "IMPACT_LOW",
            "IMPACT_NONE"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "type": "string"
        },
        "scope": {
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "SCOPE_UNSPECIFIED",
            "SCOPE_UNCHANGED",
            "SCOPE_CHANGED"
          ],
          "type": "string"
        },
        "attackVector": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "ATTACK_VECTOR_UNSPECIFIED",
            "ATTACK_VECTOR_NETWORK",
            "ATTACK_VECTOR_ADJACENT",
            "ATTACK_VECTOR_LOCAL",
            "ATTACK_VECTOR_PHYSICAL"
          ]
        },
        "integrityImpact": {
          "type": "string",
          "enum": [
            "IMPACT_UNSPECIFIED",
            "IMPACT_HIGH",
            "IMPACT_LOW",
            "IMPACT_NONE"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ]
        },
        "baseScore": {
          "type": "number",
          "format": "double"
        }
      },
      "type": "object",
      "id": "Cvssv3"
    },
    "AwsAccount": {
      "properties": {
        "name": {
          "type": "string"
        },
        "id": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "AwsAccount"
    },
    "GoogleCloudSecuritycenterV2ResourceApplicationAttributesEnvironment": {
      "type": "object",
      "properties": {
        "type": {
          "type": "string",
          "enum": [
            "ENVIRONMENT_TYPE_UNSPECIFIED",
            "PRODUCTION",
            "STAGING",
            "TEST",
            "DEVELOPMENT"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ]
        }
      },
      "id": "GoogleCloudSecuritycenterV2ResourceApplicationAttributesEnvironment"
    },
    "GroupFindingsRequest": {
      "id": "GroupFindingsRequest",
      "properties": {
        "groupBy": {
          "type": "string"
        },
        "filter": {
          "type": "string"
        },
        "compareDuration": {
          "format": "google-duration",
          "deprecated": true,
          "type": "string"
        },
        "readTime": {
          "type": "string",
          "deprecated": true,
          "format": "google-datetime"
        },
        "pageSize": {
          "type": "integer",
          "format": "int32"
        },
        "pageToken": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2Pod": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        },
        "containers": {
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2Container"
          },
          "type": "array"
        },
        "labels": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2Label"
          }
        },
        "ns": {
          "type": "string"
        }
      },
      "id": "GoogleCloudSecuritycenterV2Pod"
    },
    "GoogleCloudSecuritycenterV1CustomConfig": {
      "type": "object",
      "id": "GoogleCloudSecuritycenterV1CustomConfig",
      "properties": {
        "predicate": {
          "$ref": "Expr"
        },
        "resourceSelector": {
          "$ref": "GoogleCloudSecuritycenterV1ResourceSelector"
        },
        "description": {
          "type": "string"
        },
        "customOutput": {
          "$ref": "GoogleCloudSecuritycenterV1CustomOutputSpec"
        },
        "severity": {
          "enum": [
            "SEVERITY_UNSPECIFIED",
            "CRITICAL",
            "HIGH",
            "MEDIUM",
            "LOW"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ],
          "type": "string"
        },
        "recommendation": {
          "type": "string"
        }
      }
    },
    "GoogleCloudSecuritycenterV1p1beta1RunAssetDiscoveryResponse": {
      "type": "object",
      "id": "GoogleCloudSecuritycenterV1p1beta1RunAssetDiscoveryResponse",
      "properties": {
        "duration": {
          "format": "google-duration",
          "type": "string"
        },
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "COMPLETED",
            "SUPERSEDED",
            "TERMINATED"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ]
        }
      }
    },
    "GetIamPolicyRequest": {
      "id": "GetIamPolicyRequest",
      "properties": {
        "options": {
          "$ref": "GetPolicyOptions"
        }
      },
      "type": "object"
    },
    "Geolocation": {
      "type": "object",
      "properties": {
        "regionCode": {
          "type": "string"
        }
      },
      "id": "Geolocation"
    },
    "CloudArmor": {
      "properties": {
        "adaptiveProtection": {
          "$ref": "AdaptiveProtection"
        },
        "attack": {
          "$ref": "Attack"
        },
        "securityPolicy": {
          "$ref": "SecurityPolicy"
        },
        "requests": {
          "$ref": "Requests"
        },
        "duration": {
          "type": "string",
          "format": "google-duration"
        },
        "threatVector": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "CloudArmor"
    },
    "GoogleCloudSecuritycenterV2ExternalSystem": {
      "properties": {
        "casePriority": {
          "type": "string"
        },
        "caseCreateTime": {
          "type": "string",
          "format": "google-datetime"
        },
        "caseCloseTime": {
          "type": "string",
          "format": "google-datetime"
        },
        "name": {
          "type": "string"
        },
        "assignees": {
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "caseUri": {
          "type": "string"
        },
        "externalUid": {
          "type": "string"
        },
        "externalSystemUpdateTime": {
          "type": "string",
          "format": "google-datetime"
        },
        "ticketInfo": {
          "$ref": "GoogleCloudSecuritycenterV2TicketInfo"
        },
        "status": {
          "type": "string"
        },
        "caseSla": {
          "format": "google-datetime",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2ExternalSystem"
    },
    "ListEventThreatDetectionCustomModulesResponse": {
      "type": "object",
      "properties": {
        "eventThreatDetectionCustomModules": {
          "items": {
            "$ref": "EventThreatDetectionCustomModule"
          },
          "type": "array"
        },
        "nextPageToken": {
          "type": "string"
        }
      },
      "id": "ListEventThreatDetectionCustomModulesResponse"
    },
    "GoogleCloudSecuritycenterV1MuteConfig": {
      "type": "object",
      "properties": {
        "updateTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "name": {
          "type": "string"
        },
        "mostRecentEditor": {
          "readOnly": true,
          "type": "string"
        },
        "type": {
          "enum": [
            "MUTE_CONFIG_TYPE_UNSPECIFIED",
            "STATIC",
            "DYNAMIC"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            ""
          ]
        },
        "createTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "description": {
          "type": "string"
        },
        "expiryTime": {
          "type": "string",
          "format": "google-datetime"
        },
        "displayName": {
          "type": "string",
          "deprecated": true
        },
        "filter": {
          "type": "string"
        }
      },
      "id": "GoogleCloudSecuritycenterV1MuteConfig"
    },
    "GoogleCloudSecuritycenterV2ContactDetails": {
      "id": "GoogleCloudSecuritycenterV2ContactDetails",
      "properties": {
        "contacts": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2Contact"
          }
        }
      },
      "type": "object"
    },
    "GoogleCloudSecuritycenterV1ResourceApplication": {
      "type": "object",
      "id": "GoogleCloudSecuritycenterV1ResourceApplication",
      "properties": {
        "name": {
          "type": "string"
        },
        "attributes": {
          "$ref": "GoogleCloudSecuritycenterV1ResourceApplicationAttributes"
        }
      }
    },
    "VertexAi": {
      "properties": {
        "pipelines": {
          "items": {
            "$ref": "Pipeline"
          },
          "type": "array"
        },
        "datasets": {
          "type": "array",
          "items": {
            "$ref": "Dataset"
          }
        }
      },
      "id": "VertexAi",
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2Label": {
      "properties": {
        "value": {
          "type": "string"
        },
        "name": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2Label"
    },
    "AgentSession": {
      "id": "AgentSession",
      "properties": {
        "sessionId": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "SecurityMarks": {
      "properties": {
        "name": {
          "type": "string"
        },
        "canonicalName": {
          "type": "string"
        },
        "marks": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        }
      },
      "id": "SecurityMarks",
      "type": "object"
    },
    "GoogleCloudSecuritycenterV1ExternalSystem": {
      "type": "object",
      "properties": {
        "externalSystemUpdateTime": {
          "format": "google-datetime",
          "type": "string"
        },
        "ticketInfo": {
          "$ref": "TicketInfo"
        },
        "caseCloseTime": {
          "type": "string",
          "format": "google-datetime"
        },
        "name": {
          "type": "string"
        },
        "caseCreateTime": {
          "format": "google-datetime",
          "type": "string"
        },
        "assignees": {
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "caseUri": {
          "type": "string"
        },
        "caseSla": {
          "type": "string",
          "format": "google-datetime"
        },
        "casePriority": {
          "type": "string"
        },
        "status": {
          "type": "string"
        },
        "externalUid": {
          "type": "string"
        }
      },
      "id": "GoogleCloudSecuritycenterV1ExternalSystem"
    },
    "GoogleCloudSecuritycenterV2BigQueryExport": {
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2BigQueryExport",
      "properties": {
        "createTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "updateTime": {
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "mostRecentEditor": {
          "readOnly": true,
          "type": "string"
        },
        "filter": {
          "type": "string"
        },
        "deletionNotificationsEnabled": {
          "type": "boolean"
        },
        "principal": {
          "type": "string",
          "readOnly": true
        },
        "cryptoKeyName": {
          "readOnly": true,
          "type": "string"
        },
        "dataset": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "description": {
          "type": "string"
        }
      }
    },
    "GoogleCloudSecuritycenterV2Application": {
      "id": "GoogleCloudSecuritycenterV2Application",
      "properties": {
        "baseUri": {
          "type": "string"
        },
        "fullUri": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudSecuritycenterV1ResourceApplicationAttributesCriticality": {
      "type": "object",
      "id": "GoogleCloudSecuritycenterV1ResourceApplicationAttributesCriticality",
      "properties": {
        "type": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "CRITICALITY_TYPE_UNSPECIFIED",
            "MISSION_CRITICAL",
            "HIGH",
            "MEDIUM",
            "LOW"
          ]
        }
      }
    },
    "ValuedResource": {
      "id": "ValuedResource",
      "properties": {
        "name": {
          "type": "string"
        },
        "resourceType": {
          "type": "string"
        },
        "resourceValue": {
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "RESOURCE_VALUE_UNSPECIFIED",
            "RESOURCE_VALUE_LOW",
            "RESOURCE_VALUE_MEDIUM",
            "RESOURCE_VALUE_HIGH"
          ],
          "type": "string"
        },
        "resourceValueConfigsUsed": {
          "type": "array",
          "items": {
            "$ref": "ResourceValueConfigMetadata"
          }
        },
        "exposedScore": {
          "format": "double",
          "type": "number"
        },
        "displayName": {
          "type": "string"
        },
        "resource": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "VulnerabilitySnapshot": {
      "id": "VulnerabilitySnapshot",
      "type": "object",
      "properties": {
        "findingCount": {
          "$ref": "VulnerabilityCountBySeverity"
        },
        "cloudProvider": {
          "type": "string",
          "enum": [
            "CLOUD_PROVIDER_UNSPECIFIED",
            "GOOGLE_CLOUD_PLATFORM",
            "AMAZON_WEB_SERVICES",
            "MICROSOFT_AZURE"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ]
        },
        "name": {
          "type": "string"
        },
        "snapshotTime": {
          "type": "string",
          "format": "google-datetime"
        }
      }
    },
    "GoogleCloudSecuritycenterV2IamDetails": {
      "properties": {
        "iamRolePermissions": {
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2IamRolePermission"
          },
          "type": "array"
        }
      },
      "id": "GoogleCloudSecuritycenterV2IamDetails",
      "type": "object"
    },
    "ResourcePath": {
      "id": "ResourcePath",
      "properties": {
        "nodes": {
          "type": "array",
          "items": {
            "$ref": "ResourcePathNode"
          }
        }
      },
      "type": "object"
    },
    "NotificationConfig": {
      "properties": {
        "description": {
          "type": "string"
        },
        "pubsubTopic": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "deletionNotificationsEnabled": {
          "type": "boolean"
        },
        "streamingConfig": {
          "$ref": "StreamingConfig"
        },
        "serviceAccount": {
          "readOnly": true,
          "type": "string"
        }
      },
      "id": "NotificationConfig",
      "type": "object"
    },
    "Secret": {
      "id": "Secret",
      "properties": {
        "status": {
          "$ref": "SecretStatus"
        },
        "filePath": {
          "$ref": "SecretFilePath"
        },
        "type": {
          "type": "string"
        },
        "environmentVariable": {
          "$ref": "SecretEnvironmentVariable"
        }
      },
      "type": "object"
    },
    "Policy": {
      "properties": {
        "auditConfigs": {
          "items": {
            "$ref": "AuditConfig"
          },
          "type": "array"
        },
        "version": {
          "format": "int32",
          "type": "integer"
        },
        "bindings": {
          "items": {
            "$ref": "Binding"
          },
          "type": "array"
        },
        "etag": {
          "format": "byte",
          "type": "string"
        }
      },
      "type": "object",
      "id": "Policy"
    },
    "BatchCreateResourceValueConfigsRequest": {
      "id": "BatchCreateResourceValueConfigsRequest",
      "type": "object",
      "properties": {
        "requests": {
          "items": {
            "$ref": "CreateResourceValueConfigRequest"
          },
          "type": "array"
        }
      }
    },
    "InfoType": {
      "type": "object",
      "id": "InfoType",
      "properties": {
        "sensitivityScore": {
          "$ref": "SensitivityScore"
        },
        "version": {
          "type": "string"
        },
        "name": {
          "type": "string"
        }
      }
    },
    "GoogleCloudSecuritycenterV2File": {
      "properties": {
        "path": {
          "type": "string"
        },
        "size": {
          "format": "int64",
          "type": "string"
        },
        "hashedSize": {
          "type": "string",
          "format": "int64"
        },
        "partiallyHashed": {
          "type": "boolean"
        },
        "operations": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2FileOperation"
          }
        },
        "sha256": {
          "type": "string"
        },
        "diskPath": {
          "$ref": "GoogleCloudSecuritycenterV2DiskPath"
        },
        "contents": {
          "type": "string"
        },
        "fileLoadState": {
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "FILE_LOAD_STATE_UNSPECIFIED",
            "LOADED_BY_PROCESS",
            "NOT_LOADED_BY_PROCESS"
          ]
        }
      },
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2File"
    },
    "GoogleCloudSecuritycenterV2Network": {
      "id": "GoogleCloudSecuritycenterV2Network",
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        }
      }
    },
    "ListNotificationConfigsResponse": {
      "id": "ListNotificationConfigsResponse",
      "properties": {
        "nextPageToken": {
          "type": "string"
        },
        "notificationConfigs": {
          "type": "array",
          "items": {
            "$ref": "NotificationConfig"
          }
        }
      },
      "type": "object"
    },
    "OrganizationSettings": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        },
        "enableAssetDiscovery": {
          "type": "boolean"
        },
        "assetDiscoveryConfig": {
          "$ref": "AssetDiscoveryConfig"
        }
      },
      "id": "OrganizationSettings"
    },
    "AffectedResources": {
      "properties": {
        "count": {
          "type": "string",
          "format": "int64"
        }
      },
      "type": "object",
      "id": "AffectedResources"
    },
    "AzureSubscription": {
      "id": "AzureSubscription",
      "type": "object",
      "properties": {
        "displayName": {
          "type": "string"
        },
        "id": {
          "type": "string"
        }
      }
    },
    "Vulnerability": {
      "type": "object",
      "properties": {
        "cwes": {
          "items": {
            "$ref": "Cwe"
          },
          "type": "array"
        },
        "providerRiskScore": {
          "type": "string",
          "format": "int64"
        },
        "reachable": {
          "type": "boolean"
        },
        "offendingPackage": {
          "$ref": "Package"
        },
        "fixedPackage": {
          "$ref": "Package"
        },
        "cve": {
          "$ref": "Cve"
        },
        "securityBulletin": {
          "$ref": "SecurityBulletin"
        }
      },
      "id": "Vulnerability"
    },
    "ExfilResource": {
      "properties": {
        "name": {
          "type": "string"
        },
        "components": {
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "ExfilResource",
      "type": "object"
    },
    "AzureTenant": {
      "properties": {
        "displayName": {
          "type": "string"
        },
        "id": {
          "type": "string"
        }
      },
      "id": "AzureTenant",
      "type": "object"
    },
    "AzureResourceGroup": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string"
        },
        "name": {
          "type": "string"
        }
      },
      "id": "AzureResourceGroup"
    },
    "GoogleCloudSecuritycenterV2Reference": {
      "type": "object",
      "properties": {
        "uri": {
          "type": "string"
        },
        "source": {
          "type": "string"
        }
      },
      "id": "GoogleCloudSecuritycenterV2Reference"
    },
    "GoogleCloudSecuritycenterV2Finding": {
      "id": "GoogleCloudSecuritycenterV2Finding",
      "type": "object",
      "properties": {
        "disk": {
          "$ref": "GoogleCloudSecuritycenterV2Disk"
        },
        "agentAnomaly": {
          "$ref": "GoogleCloudSecuritycenterV2AgentAnomaly"
        },
        "artifactGuardPolicies": {
          "$ref": "GoogleCloudSecuritycenterV2ArtifactGuardPolicies"
        },
        "externalUri": {
          "type": "string"
        },
        "application": {
          "$ref": "GoogleCloudSecuritycenterV2Application"
        },
        "database": {
          "$ref": "GoogleCloudSecuritycenterV2Database"
        },
        "compliances": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2Compliance"
          }
        },
        "vertexAi": {
          "$ref": "GoogleCloudSecuritycenterV2VertexAi"
        },
        "parentDisplayName": {
          "type": "string",
          "readOnly": true
        },
        "cloudDlpDataProfile": {
          "$ref": "GoogleCloudSecuritycenterV2CloudDlpDataProfile"
        },
        "iamDetails": {
          "$ref": "GoogleCloudSecuritycenterV2IamDetails"
        },
        "loadBalancers": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2LoadBalancer"
          }
        },
        "backupDisasterRecovery": {
          "$ref": "GoogleCloudSecuritycenterV2BackupDisasterRecovery"
        },
        "severity": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "SEVERITY_UNSPECIFIED",
            "CRITICAL",
            "HIGH",
            "MEDIUM",
            "LOW"
          ]
        },
        "logEntries": {
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2LogEntry"
          },
          "type": "array"
        },
        "access": {
          "$ref": "GoogleCloudSecuritycenterV2Access"
        },
        "iamBindings": {
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2IamBinding"
          },
          "type": "array"
        },
        "files": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2File"
          }
        },
        "muteUpdateTime": {
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "mute": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "MUTE_UNSPECIFIED",
            "MUTED",
            "UNMUTED",
            "UNDEFINED"
          ]
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "externalSystems": {
          "additionalProperties": {
            "$ref": "GoogleCloudSecuritycenterV2ExternalSystem"
          },
          "type": "object",
          "readOnly": true
        },
        "securityPosture": {
          "$ref": "GoogleCloudSecuritycenterV2SecurityPosture"
        },
        "attackExposure": {
          "$ref": "GoogleCloudSecuritycenterV2AttackExposure"
        },
        "muteInitiator": {
          "type": "string"
        },
        "toxicCombination": {
          "$ref": "GoogleCloudSecuritycenterV2ToxicCombination"
        },
        "description": {
          "type": "string"
        },
        "agent": {
          "$ref": "GoogleCloudSecuritycenterV2Agent"
        },
        "agentDataAccessEvents": {
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2AgentDataAccessEvent"
          },
          "type": "array"
        },
        "resourceName": {
          "type": "string"
        },
        "discoveredWorkload": {
          "$ref": "GoogleCloudSecuritycenterV2DiscoveredWorkload"
        },
        "exfiltration": {
          "$ref": "GoogleCloudSecuritycenterV2Exfiltration"
        },
        "job": {
          "$ref": "GoogleCloudSecuritycenterV2Job"
        },
        "nextSteps": {
          "type": "string"
        },
        "sourceProperties": {
          "additionalProperties": {
            "type": "any"
          },
          "type": "object"
        },
        "networks": {
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2Network"
          },
          "type": "array"
        },
        "category": {
          "type": "string"
        },
        "affectedResources": {
          "$ref": "GoogleCloudSecuritycenterV2AffectedResources"
        },
        "dataFlowEvents": {
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2DataFlowEvent"
          },
          "type": "array"
        },
        "kernelRootkit": {
          "$ref": "GoogleCloudSecuritycenterV2KernelRootkit"
        },
        "indicator": {
          "$ref": "GoogleCloudSecuritycenterV2Indicator"
        },
        "cloudDlpInspection": {
          "$ref": "GoogleCloudSecuritycenterV2CloudDlpInspection"
        },
        "cloudArmor": {
          "$ref": "GoogleCloudSecuritycenterV2CloudArmor"
        },
        "cryptoKeyName": {
          "type": "string",
          "readOnly": true
        },
        "containers": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2Container"
          }
        },
        "groupMemberships": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2GroupMembership"
          }
        },
        "parent": {
          "type": "string"
        },
        "secret": {
          "$ref": "GoogleCloudSecuritycenterV2Secret"
        },
        "chokepoint": {
          "$ref": "GoogleCloudSecuritycenterV2Chokepoint"
        },
        "notebook": {
          "$ref": "GoogleCloudSecuritycenterV2Notebook"
        },
        "name": {
          "type": "string"
        },
        "securityMarks": {
          "readOnly": true,
          "$ref": "GoogleCloudSecuritycenterV2SecurityMarks"
        },
        "vulnerability": {
          "$ref": "GoogleCloudSecuritycenterV2Vulnerability"
        },
        "complianceDetails": {
          "$ref": "GoogleCloudSecuritycenterV2ComplianceDetails"
        },
        "findingClass": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "FINDING_CLASS_UNSPECIFIED",
            "THREAT",
            "VULNERABILITY",
            "MISCONFIGURATION",
            "OBSERVATION",
            "SCC_ERROR",
            "POSTURE_VIOLATION",
            "TOXIC_COMBINATION",
            "SENSITIVE_DATA_RISK",
            "CHOKEPOINT",
            "EXTERNAL_EXPOSURE",
            "SECRET"
          ]
        },
        "connections": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2Connection"
          }
        },
        "canonicalName": {
          "type": "string",
          "readOnly": true
        },
        "kubernetes": {
          "$ref": "GoogleCloudSecuritycenterV2Kubernetes"
        },
        "agentSessions": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2AgentSession"
          }
        },
        "dataAccessEvents": {
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2DataAccessEvent"
          },
          "type": "array"
        },
        "state": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "INACTIVE"
          ]
        },
        "dataRetentionDeletionEvents": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2DataRetentionDeletionEvent"
          }
        },
        "muteInfo": {
          "$ref": "GoogleCloudSecuritycenterV2MuteInfo",
          "readOnly": true
        },
        "contacts": {
          "additionalProperties": {
            "$ref": "GoogleCloudSecuritycenterV2ContactDetails"
          },
          "type": "object",
          "readOnly": true
        },
        "orgPolicies": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2OrgPolicy"
          }
        },
        "policyViolationSummary": {
          "$ref": "GoogleCloudSecuritycenterV2PolicyViolationSummary"
        },
        "moduleName": {
          "type": "string"
        },
        "eventTime": {
          "type": "string",
          "format": "google-datetime"
        },
        "processes": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2Process"
          }
        },
        "ipRules": {
          "$ref": "GoogleCloudSecuritycenterV2IpRules"
        },
        "aiModel": {
          "$ref": "GoogleCloudSecuritycenterV2AiModel"
        },
        "externalExposure": {
          "$ref": "GoogleCloudSecuritycenterV2ExternalExposure"
        },
        "mitreAttack": {
          "$ref": "GoogleCloudSecuritycenterV2MitreAttack"
        }
      }
    },
    "MitreAttack": {
      "type": "object",
      "properties": {
        "version": {
          "type": "string"
        },
        "primaryTechniques": {
          "type": "array",
          "items": {
            "enum": [
              "TECHNIQUE_UNSPECIFIED",
              "DATA_OBFUSCATION",
              "DATA_OBFUSCATION_STEGANOGRAPHY",
              "OS_CREDENTIAL_DUMPING",
              "OS_CREDENTIAL_DUMPING_PROC_FILESYSTEM",
              "OS_CREDENTIAL_DUMPING_ETC_PASSWORD_AND_ETC_SHADOW",
              "DATA_FROM_LOCAL_SYSTEM",
              "AUTOMATED_EXFILTRATION",
              "OBFUSCATED_FILES_OR_INFO",
              "STEGANOGRAPHY",
              "COMPILE_AFTER_DELIVERY",
              "COMMAND_OBFUSCATION",
              "SCHEDULED_TRANSFER",
              "SYSTEM_OWNER_USER_DISCOVERY",
              "MASQUERADING",
              "MATCH_LEGITIMATE_NAME_OR_LOCATION",
              "BOOT_OR_LOGON_INITIALIZATION_SCRIPTS",
              "STARTUP_ITEMS",
              "NETWORK_SERVICE_DISCOVERY",
              "SCHEDULED_TASK_JOB",
              "SCHEDULED_TASK_JOB_CRON",
              "CONTAINER_ORCHESTRATION_JOB",
              "PROCESS_INJECTION",
              "INPUT_CAPTURE",
              "INPUT_CAPTURE_KEYLOGGING",
              "PROCESS_DISCOVERY",
              "COMMAND_AND_SCRIPTING_INTERPRETER",
              "UNIX_SHELL",
              "PYTHON",
              "EXPLOITATION_FOR_PRIVILEGE_ESCALATION",
              "PERMISSION_GROUPS_DISCOVERY",
              "CLOUD_GROUPS",
              "INDICATOR_REMOVAL",
              "INDICATOR_REMOVAL_CLEAR_LINUX_OR_MAC_SYSTEM_LOGS",
              "INDICATOR_REMOVAL_CLEAR_COMMAND_HISTORY",
              "INDICATOR_REMOVAL_FILE_DELETION",
              "INDICATOR_REMOVAL_TIMESTOMP",
              "INDICATOR_REMOVAL_CLEAR_MAILBOX_DATA",
              "APPLICATION_LAYER_PROTOCOL",
              "DNS",
              "SOFTWARE_DEPLOYMENT_TOOLS",
              "VALID_ACCOUNTS",
              "DEFAULT_ACCOUNTS",
              "LOCAL_ACCOUNTS",
              "CLOUD_ACCOUNTS",
              "FILE_AND_DIRECTORY_DISCOVERY",
              "ACCOUNT_DISCOVERY_LOCAL_ACCOUNT",
              "PROXY",
              "EXTERNAL_PROXY",
              "MULTI_HOP_PROXY",
              "ACCOUNT_MANIPULATION",
              "ADDITIONAL_CLOUD_CREDENTIALS",
              "ADDITIONAL_CLOUD_ROLES",
              "SSH_AUTHORIZED_KEYS",
              "ADDITIONAL_CONTAINER_CLUSTER_ROLES",
              "MULTI_STAGE_CHANNELS",
              "INGRESS_TOOL_TRANSFER",
              "NATIVE_API",
              "BRUTE_FORCE",
              "AUTOMATED_COLLECTION",
              "SHARED_MODULES",
              "DATA_ENCODING",
              "STANDARD_ENCODING",
              "ACCESS_TOKEN_MANIPULATION",
              "TOKEN_IMPERSONATION_OR_THEFT",
              "CREATE_ACCOUNT",
              "LOCAL_ACCOUNT",
              "DEOBFUSCATE_DECODE_FILES_OR_INFO",
              "EXPLOIT_PUBLIC_FACING_APPLICATION",
              "SUPPLY_CHAIN_COMPROMISE",
              "COMPROMISE_SOFTWARE_DEPENDENCIES_AND_DEVELOPMENT_TOOLS",
              "EXPLOITATION_FOR_CLIENT_EXECUTION",
              "USER_EXECUTION",
              "EXPLOITATION_FOR_CREDENTIAL_ACCESS",
              "LINUX_AND_MAC_FILE_AND_DIRECTORY_PERMISSIONS_MODIFICATION",
              "DOMAIN_POLICY_MODIFICATION",
              "DATA_DESTRUCTION",
              "DATA_ENCRYPTED_FOR_IMPACT",
              "SERVICE_STOP",
              "INHIBIT_SYSTEM_RECOVERY",
              "FIRMWARE_CORRUPTION",
              "RESOURCE_HIJACKING",
              "NETWORK_DENIAL_OF_SERVICE",
              "CLOUD_SERVICE_DISCOVERY",
              "STEAL_APPLICATION_ACCESS_TOKEN",
              "ACCOUNT_ACCESS_REMOVAL",
              "TRANSFER_DATA_TO_CLOUD_ACCOUNT",
              "STEAL_WEB_SESSION_COOKIE",
              "CREATE_OR_MODIFY_SYSTEM_PROCESS",
              "EVENT_TRIGGERED_EXECUTION",
              "BOOT_OR_LOGON_AUTOSTART_EXECUTION",
              "KERNEL_MODULES_AND_EXTENSIONS",
              "SHORTCUT_MODIFICATION",
              "ABUSE_ELEVATION_CONTROL_MECHANISM",
              "ABUSE_ELEVATION_CONTROL_MECHANISM_SETUID_AND_SETGID",
              "ABUSE_ELEVATION_CONTROL_MECHANISM_SUDO_AND_SUDO_CACHING",
              "UNSECURED_CREDENTIALS",
              "CREDENTIALS_IN_FILES",
              "BASH_HISTORY",
              "PRIVATE_KEYS",
              "SUBVERT_TRUST_CONTROL",
              "INSTALL_ROOT_CERTIFICATE",
              "COMPROMISE_HOST_SOFTWARE_BINARY",
              "CREDENTIALS_FROM_PASSWORD_STORES",
              "MODIFY_AUTHENTICATION_PROCESS",
              "PLUGGABLE_AUTHENTICATION_MODULES",
              "MULTI_FACTOR_AUTHENTICATION",
              "IMPAIR_DEFENSES",
              "DISABLE_OR_MODIFY_TOOLS",
              "INDICATOR_BLOCKING",
              "DISABLE_OR_MODIFY_LINUX_AUDIT_SYSTEM",
              "HIDE_ARTIFACTS",
              "HIDDEN_FILES_AND_DIRECTORIES",
              "HIDDEN_USERS",
              "EXFILTRATION_OVER_WEB_SERVICE",
              "EXFILTRATION_TO_CLOUD_STORAGE",
              "DYNAMIC_RESOLUTION",
              "LATERAL_TOOL_TRANSFER",
              "HIJACK_EXECUTION_FLOW",
              "HIJACK_EXECUTION_FLOW_DYNAMIC_LINKER_HIJACKING",
              "MODIFY_CLOUD_COMPUTE_INFRASTRUCTURE",
              "CREATE_SNAPSHOT",
              "CLOUD_INFRASTRUCTURE_DISCOVERY",
              "DEVELOP_CAPABILITIES",
              "DEVELOP_CAPABILITIES_MALWARE",
              "OBTAIN_CAPABILITIES",
              "OBTAIN_CAPABILITIES_MALWARE",
              "OBTAIN_CAPABILITIES_VULNERABILITIES",
              "ACTIVE_SCANNING",
              "SCANNING_IP_BLOCKS",
              "STAGE_CAPABILITIES",
              "UPLOAD_MALWARE",
              "CONTAINER_ADMINISTRATION_COMMAND",
              "DEPLOY_CONTAINER",
              "ESCAPE_TO_HOST",
              "CONTAINER_AND_RESOURCE_DISCOVERY",
              "REFLECTIVE_CODE_LOADING",
              "STEAL_OR_FORGE_AUTHENTICATION_CERTIFICATES",
              "FINANCIAL_THEFT"
            ],
            "type": "string",
            "enumDescriptions": [
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              ""
            ]
          }
        },
        "primaryTactic": {
          "enum": [
            "TACTIC_UNSPECIFIED",
            "RECONNAISSANCE",
            "RESOURCE_DEVELOPMENT",
            "INITIAL_ACCESS",
            "EXECUTION",
            "PERSISTENCE",
            "PRIVILEGE_ESCALATION",
            "DEFENSE_EVASION",
            "CREDENTIAL_ACCESS",
            "DISCOVERY",
            "LATERAL_MOVEMENT",
            "COLLECTION",
            "COMMAND_AND_CONTROL",
            "EXFILTRATION",
            "IMPACT"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "type": "string"
        },
        "additionalTechniques": {
          "type": "array",
          "items": {
            "enum": [
              "TECHNIQUE_UNSPECIFIED",
              "DATA_OBFUSCATION",
              "DATA_OBFUSCATION_STEGANOGRAPHY",
              "OS_CREDENTIAL_DUMPING",
              "OS_CREDENTIAL_DUMPING_PROC_FILESYSTEM",
              "OS_CREDENTIAL_DUMPING_ETC_PASSWORD_AND_ETC_SHADOW",
              "DATA_FROM_LOCAL_SYSTEM",
              "AUTOMATED_EXFILTRATION",
              "OBFUSCATED_FILES_OR_INFO",
              "STEGANOGRAPHY",
              "COMPILE_AFTER_DELIVERY",
              "COMMAND_OBFUSCATION",
              "SCHEDULED_TRANSFER",
              "SYSTEM_OWNER_USER_DISCOVERY",
              "MASQUERADING",
              "MATCH_LEGITIMATE_NAME_OR_LOCATION",
              "BOOT_OR_LOGON_INITIALIZATION_SCRIPTS",
              "STARTUP_ITEMS",
              "NETWORK_SERVICE_DISCOVERY",
              "SCHEDULED_TASK_JOB",
              "SCHEDULED_TASK_JOB_CRON",
              "CONTAINER_ORCHESTRATION_JOB",
              "PROCESS_INJECTION",
              "INPUT_CAPTURE",
              "INPUT_CAPTURE_KEYLOGGING",
              "PROCESS_DISCOVERY",
              "COMMAND_AND_SCRIPTING_INTERPRETER",
              "UNIX_SHELL",
              "PYTHON",
              "EXPLOITATION_FOR_PRIVILEGE_ESCALATION",
              "PERMISSION_GROUPS_DISCOVERY",
              "CLOUD_GROUPS",
              "INDICATOR_REMOVAL",
              "INDICATOR_REMOVAL_CLEAR_LINUX_OR_MAC_SYSTEM_LOGS",
              "INDICATOR_REMOVAL_CLEAR_COMMAND_HISTORY",
              "INDICATOR_REMOVAL_FILE_DELETION",
              "INDICATOR_REMOVAL_TIMESTOMP",
              "INDICATOR_REMOVAL_CLEAR_MAILBOX_DATA",
              "APPLICATION_LAYER_PROTOCOL",
              "DNS",
              "SOFTWARE_DEPLOYMENT_TOOLS",
              "VALID_ACCOUNTS",
              "DEFAULT_ACCOUNTS",
              "LOCAL_ACCOUNTS",
              "CLOUD_ACCOUNTS",
              "FILE_AND_DIRECTORY_DISCOVERY",
              "ACCOUNT_DISCOVERY_LOCAL_ACCOUNT",
              "PROXY",
              "EXTERNAL_PROXY",
              "MULTI_HOP_PROXY",
              "ACCOUNT_MANIPULATION",
              "ADDITIONAL_CLOUD_CREDENTIALS",
              "ADDITIONAL_CLOUD_ROLES",
              "SSH_AUTHORIZED_KEYS",
              "ADDITIONAL_CONTAINER_CLUSTER_ROLES",
              "MULTI_STAGE_CHANNELS",
              "INGRESS_TOOL_TRANSFER",
              "NATIVE_API",
              "BRUTE_FORCE",
              "AUTOMATED_COLLECTION",
              "SHARED_MODULES",
              "DATA_ENCODING",
              "STANDARD_ENCODING",
              "ACCESS_TOKEN_MANIPULATION",
              "TOKEN_IMPERSONATION_OR_THEFT",
              "CREATE_ACCOUNT",
              "LOCAL_ACCOUNT",
              "DEOBFUSCATE_DECODE_FILES_OR_INFO",
              "EXPLOIT_PUBLIC_FACING_APPLICATION",
              "SUPPLY_CHAIN_COMPROMISE",
              "COMPROMISE_SOFTWARE_DEPENDENCIES_AND_DEVELOPMENT_TOOLS",
              "EXPLOITATION_FOR_CLIENT_EXECUTION",
              "USER_EXECUTION",
              "EXPLOITATION_FOR_CREDENTIAL_ACCESS",
              "LINUX_AND_MAC_FILE_AND_DIRECTORY_PERMISSIONS_MODIFICATION",
              "DOMAIN_POLICY_MODIFICATION",
              "DATA_DESTRUCTION",
              "DATA_ENCRYPTED_FOR_IMPACT",
              "SERVICE_STOP",
              "INHIBIT_SYSTEM_RECOVERY",
              "FIRMWARE_CORRUPTION",
              "RESOURCE_HIJACKING",
              "NETWORK_DENIAL_OF_SERVICE",
              "CLOUD_SERVICE_DISCOVERY",
              "STEAL_APPLICATION_ACCESS_TOKEN",
              "ACCOUNT_ACCESS_REMOVAL",
              "TRANSFER_DATA_TO_CLOUD_ACCOUNT",
              "STEAL_WEB_SESSION_COOKIE",
              "CREATE_OR_MODIFY_SYSTEM_PROCESS",
              "EVENT_TRIGGERED_EXECUTION",
              "BOOT_OR_LOGON_AUTOSTART_EXECUTION",
              "KERNEL_MODULES_AND_EXTENSIONS",
              "SHORTCUT_MODIFICATION",
              "ABUSE_ELEVATION_CONTROL_MECHANISM",
              "ABUSE_ELEVATION_CONTROL_MECHANISM_SETUID_AND_SETGID",
              "ABUSE_ELEVATION_CONTROL_MECHANISM_SUDO_AND_SUDO_CACHING",
              "UNSECURED_CREDENTIALS",
              "CREDENTIALS_IN_FILES",
              "BASH_HISTORY",
              "PRIVATE_KEYS",
              "SUBVERT_TRUST_CONTROL",
              "INSTALL_ROOT_CERTIFICATE",
              "COMPROMISE_HOST_SOFTWARE_BINARY",
              "CREDENTIALS_FROM_PASSWORD_STORES",
              "MODIFY_AUTHENTICATION_PROCESS",
              "PLUGGABLE_AUTHENTICATION_MODULES",
              "MULTI_FACTOR_AUTHENTICATION",
              "IMPAIR_DEFENSES",
              "DISABLE_OR_MODIFY_TOOLS",
              "INDICATOR_BLOCKING",
              "DISABLE_OR_MODIFY_LINUX_AUDIT_SYSTEM",
              "HIDE_ARTIFACTS",
              "HIDDEN_FILES_AND_DIRECTORIES",
              "HIDDEN_USERS",
              "EXFILTRATION_OVER_WEB_SERVICE",
              "EXFILTRATION_TO_CLOUD_STORAGE",
              "DYNAMIC_RESOLUTION",
              "LATERAL_TOOL_TRANSFER",
              "HIJACK_EXECUTION_FLOW",
              "HIJACK_EXECUTION_FLOW_DYNAMIC_LINKER_HIJACKING",
              "MODIFY_CLOUD_COMPUTE_INFRASTRUCTURE",
              "CREATE_SNAPSHOT",
              "CLOUD_INFRASTRUCTURE_DISCOVERY",
              "DEVELOP_CAPABILITIES",
              "DEVELOP_CAPABILITIES_MALWARE",
              "OBTAIN_CAPABILITIES",
              "OBTAIN_CAPABILITIES_MALWARE",
              "OBTAIN_CAPABILITIES_VULNERABILITIES",
              "ACTIVE_SCANNING",
              "SCANNING_IP_BLOCKS",
              "STAGE_CAPABILITIES",
              "UPLOAD_MALWARE",
              "CONTAINER_ADMINISTRATION_COMMAND",
              "DEPLOY_CONTAINER",
              "ESCAPE_TO_HOST",
              "CONTAINER_AND_RESOURCE_DISCOVERY",
              "REFLECTIVE_CODE_LOADING",
              "STEAL_OR_FORGE_AUTHENTICATION_CERTIFICATES",
              "FINANCIAL_THEFT"
            ],
            "type": "string",
            "enumDescriptions": [
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              ""
            ]
          }
        },
        "additionalTactics": {
          "type": "array",
          "items": {
            "enum": [
              "TACTIC_UNSPECIFIED",
              "RECONNAISSANCE",
              "RESOURCE_DEVELOPMENT",
              "INITIAL_ACCESS",
              "EXECUTION",
              "PERSISTENCE",
              "PRIVILEGE_ESCALATION",
              "DEFENSE_EVASION",
              "CREDENTIAL_ACCESS",
              "DISCOVERY",
              "LATERAL_MOVEMENT",
              "COLLECTION",
              "COMMAND_AND_CONTROL",
              "EXFILTRATION",
              "IMPACT"
            ],
            "enumDescriptions": [
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              ""
            ],
            "type": "string"
          }
        }
      },
      "id": "MitreAttack"
    },
    "GoogleCloudSecuritycenterV2MitreAttack": {
      "type": "object",
      "properties": {
        "primaryTechniques": {
          "type": "array",
          "items": {
            "enumDescriptions": [
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              ""
            ],
            "enum": [
              "TECHNIQUE_UNSPECIFIED",
              "DATA_OBFUSCATION",
              "DATA_OBFUSCATION_STEGANOGRAPHY",
              "OS_CREDENTIAL_DUMPING",
              "OS_CREDENTIAL_DUMPING_PROC_FILESYSTEM",
              "OS_CREDENTIAL_DUMPING_ETC_PASSWORD_AND_ETC_SHADOW",
              "DATA_FROM_LOCAL_SYSTEM",
              "AUTOMATED_EXFILTRATION",
              "OBFUSCATED_FILES_OR_INFO",
              "STEGANOGRAPHY",
              "COMPILE_AFTER_DELIVERY",
              "COMMAND_OBFUSCATION",
              "SCHEDULED_TRANSFER",
              "SYSTEM_OWNER_USER_DISCOVERY",
              "MASQUERADING",
              "MATCH_LEGITIMATE_NAME_OR_LOCATION",
              "BOOT_OR_LOGON_INITIALIZATION_SCRIPTS",
              "STARTUP_ITEMS",
              "NETWORK_SERVICE_DISCOVERY",
              "SCHEDULED_TASK_JOB",
              "SCHEDULED_TASK_JOB_CRON",
              "CONTAINER_ORCHESTRATION_JOB",
              "PROCESS_INJECTION",
              "INPUT_CAPTURE",
              "INPUT_CAPTURE_KEYLOGGING",
              "PROCESS_DISCOVERY",
              "COMMAND_AND_SCRIPTING_INTERPRETER",
              "UNIX_SHELL",
              "PYTHON",
              "EXPLOITATION_FOR_PRIVILEGE_ESCALATION",
              "PERMISSION_GROUPS_DISCOVERY",
              "CLOUD_GROUPS",
              "INDICATOR_REMOVAL",
              "INDICATOR_REMOVAL_CLEAR_LINUX_OR_MAC_SYSTEM_LOGS",
              "INDICATOR_REMOVAL_CLEAR_COMMAND_HISTORY",
              "INDICATOR_REMOVAL_FILE_DELETION",
              "INDICATOR_REMOVAL_TIMESTOMP",
              "INDICATOR_REMOVAL_CLEAR_MAILBOX_DATA",
              "APPLICATION_LAYER_PROTOCOL",
              "DNS",
              "SOFTWARE_DEPLOYMENT_TOOLS",
              "VALID_ACCOUNTS",
              "DEFAULT_ACCOUNTS",
              "LOCAL_ACCOUNTS",
              "CLOUD_ACCOUNTS",
              "FILE_AND_DIRECTORY_DISCOVERY",
              "ACCOUNT_DISCOVERY_LOCAL_ACCOUNT",
              "PROXY",
              "EXTERNAL_PROXY",
              "MULTI_HOP_PROXY",
              "ACCOUNT_MANIPULATION",
              "ADDITIONAL_CLOUD_CREDENTIALS",
              "ADDITIONAL_CLOUD_ROLES",
              "SSH_AUTHORIZED_KEYS",
              "ADDITIONAL_CONTAINER_CLUSTER_ROLES",
              "MULTI_STAGE_CHANNELS",
              "INGRESS_TOOL_TRANSFER",
              "NATIVE_API",
              "BRUTE_FORCE",
              "AUTOMATED_COLLECTION",
              "SHARED_MODULES",
              "DATA_ENCODING",
              "STANDARD_ENCODING",
              "ACCESS_TOKEN_MANIPULATION",
              "TOKEN_IMPERSONATION_OR_THEFT",
              "CREATE_ACCOUNT",
              "LOCAL_ACCOUNT",
              "DEOBFUSCATE_DECODE_FILES_OR_INFO",
              "EXPLOIT_PUBLIC_FACING_APPLICATION",
              "SUPPLY_CHAIN_COMPROMISE",
              "COMPROMISE_SOFTWARE_DEPENDENCIES_AND_DEVELOPMENT_TOOLS",
              "EXPLOITATION_FOR_CLIENT_EXECUTION",
              "USER_EXECUTION",
              "EXPLOITATION_FOR_CREDENTIAL_ACCESS",
              "LINUX_AND_MAC_FILE_AND_DIRECTORY_PERMISSIONS_MODIFICATION",
              "DOMAIN_POLICY_MODIFICATION",
              "DATA_DESTRUCTION",
              "DATA_ENCRYPTED_FOR_IMPACT",
              "SERVICE_STOP",
              "INHIBIT_SYSTEM_RECOVERY",
              "FIRMWARE_CORRUPTION",
              "RESOURCE_HIJACKING",
              "NETWORK_DENIAL_OF_SERVICE",
              "CLOUD_SERVICE_DISCOVERY",
              "STEAL_APPLICATION_ACCESS_TOKEN",
              "ACCOUNT_ACCESS_REMOVAL",
              "TRANSFER_DATA_TO_CLOUD_ACCOUNT",
              "STEAL_WEB_SESSION_COOKIE",
              "CREATE_OR_MODIFY_SYSTEM_PROCESS",
              "EVENT_TRIGGERED_EXECUTION",
              "BOOT_OR_LOGON_AUTOSTART_EXECUTION",
              "KERNEL_MODULES_AND_EXTENSIONS",
              "SHORTCUT_MODIFICATION",
              "ABUSE_ELEVATION_CONTROL_MECHANISM",
              "ABUSE_ELEVATION_CONTROL_MECHANISM_SETUID_AND_SETGID",
              "ABUSE_ELEVATION_CONTROL_MECHANISM_SUDO_AND_SUDO_CACHING",
              "UNSECURED_CREDENTIALS",
              "CREDENTIALS_IN_FILES",
              "BASH_HISTORY",
              "PRIVATE_KEYS",
              "SUBVERT_TRUST_CONTROL",
              "INSTALL_ROOT_CERTIFICATE",
              "COMPROMISE_HOST_SOFTWARE_BINARY",
              "CREDENTIALS_FROM_PASSWORD_STORES",
              "MODIFY_AUTHENTICATION_PROCESS",
              "PLUGGABLE_AUTHENTICATION_MODULES",
              "MULTI_FACTOR_AUTHENTICATION",
              "IMPAIR_DEFENSES",
              "DISABLE_OR_MODIFY_TOOLS",
              "INDICATOR_BLOCKING",
              "DISABLE_OR_MODIFY_LINUX_AUDIT_SYSTEM",
              "HIDE_ARTIFACTS",
              "HIDDEN_FILES_AND_DIRECTORIES",
              "HIDDEN_USERS",
              "EXFILTRATION_OVER_WEB_SERVICE",
              "EXFILTRATION_TO_CLOUD_STORAGE",
              "DYNAMIC_RESOLUTION",
              "LATERAL_TOOL_TRANSFER",
              "HIJACK_EXECUTION_FLOW",
              "HIJACK_EXECUTION_FLOW_DYNAMIC_LINKER_HIJACKING",
              "MODIFY_CLOUD_COMPUTE_INFRASTRUCTURE",
              "CREATE_SNAPSHOT",
              "CLOUD_INFRASTRUCTURE_DISCOVERY",
              "DEVELOP_CAPABILITIES",
              "DEVELOP_CAPABILITIES_MALWARE",
              "OBTAIN_CAPABILITIES",
              "OBTAIN_CAPABILITIES_MALWARE",
              "OBTAIN_CAPABILITIES_VULNERABILITIES",
              "ACTIVE_SCANNING",
              "SCANNING_IP_BLOCKS",
              "STAGE_CAPABILITIES",
              "UPLOAD_MALWARE",
              "CONTAINER_ADMINISTRATION_COMMAND",
              "DEPLOY_CONTAINER",
              "ESCAPE_TO_HOST",
              "CONTAINER_AND_RESOURCE_DISCOVERY",
              "REFLECTIVE_CODE_LOADING",
              "STEAL_OR_FORGE_AUTHENTICATION_CERTIFICATES",
              "FINANCIAL_THEFT"
            ],
            "type": "string"
          }
        },
        "version": {
          "type": "string"
        },
        "primaryTactic": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "TACTIC_UNSPECIFIED",
            "RECONNAISSANCE",
            "RESOURCE_DEVELOPMENT",
            "INITIAL_ACCESS",
            "EXECUTION",
            "PERSISTENCE",
            "PRIVILEGE_ESCALATION",
            "DEFENSE_EVASION",
            "CREDENTIAL_ACCESS",
            "DISCOVERY",
            "LATERAL_MOVEMENT",
            "COLLECTION",
            "COMMAND_AND_CONTROL",
            "EXFILTRATION",
            "IMPACT"
          ]
        },
        "additionalTactics": {
          "type": "array",
          "items": {
            "enum": [
              "TACTIC_UNSPECIFIED",
              "RECONNAISSANCE",
              "RESOURCE_DEVELOPMENT",
              "INITIAL_ACCESS",
              "EXECUTION",
              "PERSISTENCE",
              "PRIVILEGE_ESCALATION",
              "DEFENSE_EVASION",
              "CREDENTIAL_ACCESS",
              "DISCOVERY",
              "LATERAL_MOVEMENT",
              "COLLECTION",
              "COMMAND_AND_CONTROL",
              "EXFILTRATION",
              "IMPACT"
            ],
            "enumDescriptions": [
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              ""
            ],
            "type": "string"
          }
        },
        "additionalTechniques": {
          "items": {
            "enumDescriptions": [
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
[...]
