{
  "protocol": "rest",
  "fullyEncodeReservedExpansion": true,
  "rootUrl": "https://securesourcemanager.googleapis.com/",
  "version_module": true,
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        },
        "https://www.googleapis.com/auth/securesourcemanager.read-write": {
          "description": "See, edit, configure, and delete your Google Cloud Secure Source Manager data and see the email address for your Google Account"
        }
      }
    }
  },
  "version": "v1",
  "documentationLink": "https://cloud.google.com/secure-source-manager",
  "parameters": {
    "alt": {
      "description": "Data format for response.",
      "location": "query",
      "default": "json",
      "type": "string",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ]
    },
    "callback": {
      "type": "string",
      "location": "query",
      "description": "JSONP"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "upload_protocol": {
      "type": "string",
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "access_token": {
      "location": "query",
      "description": "OAuth access token.",
      "type": "string"
    },
    "quotaUser": {
      "location": "query",
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "fields": {
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string"
    },
    "oauth_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth 2.0 token for the current user."
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "location": "query",
      "type": "boolean",
      "default": "true"
    },
    "key": {
      "type": "string",
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "$.xgafv": {
      "description": "V1 error format.",
      "location": "query",
      "type": "string",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ]
    }
  },
  "title": "Secure Source Manager API",
  "ownerName": "Google",
  "discoveryVersion": "v1",
  "schemas": {
    "CloseIssueRequest": {
      "id": "CloseIssueRequest",
      "type": "object",
      "description": "The request to close an issue.",
      "properties": {
        "etag": {
          "description": "Optional. The current etag of the issue. If the etag is provided and does not match the current etag of the issue, closing will be blocked and an ABORTED error will be returned.",
          "type": "string"
        }
      }
    },
    "URIs": {
      "id": "URIs",
      "type": "object",
      "description": "URIs for the repository.",
      "properties": {
        "api": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. API is the URI for API access."
        },
        "html": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. HTML is the URI for user to view the repository in a browser."
        },
        "gitHttps": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. git_https is the git HTTPS URI for git operations."
        }
      }
    },
    "Branch": {
      "description": "Branch represents a branch involved in a pull request.",
      "id": "Branch",
      "properties": {
        "sha": {
          "readOnly": true,
          "description": "Output only. The commit at the tip of the branch.",
          "type": "string"
        },
        "ref": {
          "type": "string",
          "description": "Required. Name of the branch."
        }
      },
      "type": "object"
    },
    "Binding": {
      "id": "Binding",
      "type": "object",
      "description": "Associates `members`, or principals, with a `role`.",
      "properties": {
        "condition": {
          "description": "The condition that is associated with this binding. If the condition evaluates to `true`, then this binding applies to the current request. If the condition evaluates to `false`, then this binding does not apply to the current request. However, a different role binding might grant the same role to one or more of the principals in this binding. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies).",
          "$ref": "Expr"
        },
        "role": {
          "description": "Role that is assigned to the list of `members`, or principals. For example, `roles/viewer`, `roles/editor`, or `roles/owner`. For an overview of the IAM roles and permissions, see the [IAM documentation](https://cloud.google.com/iam/docs/roles-overview). For a list of the available pre-defined roles, see [here](https://cloud.google.com/iam/docs/understanding-roles).",
          "type": "string"
        },
        "members": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Specifies the principals requesting access for a Google Cloud resource. `members` can have the following values: * `allUsers`: A special identifier that represents anyone who is on the internet; with or without a Google account. * `allAuthenticatedUsers`: A special identifier that represents anyone who is authenticated with a Google account or a service account. Does not include identities that come from external identity providers (IdPs) through identity federation. * `user:{emailid}`: An email address that represents a specific Google account. For example, `alice@example.com` . * `serviceAccount:{emailid}`: An email address that represents a Google service account. For example, `my-other-app@appspot.gserviceaccount.com`. * `serviceAccount:{projectid}.svc.id.goog[{namespace}/{kubernetes-sa}]`: An identifier for a [Kubernetes service account](https://cloud.google.com/kubernetes-engine/docs/how-to/kubernetes-service-accounts). For example, `my-project.svc.id.goog[my-namespace/my-kubernetes-sa]`. * `group:{emailid}`: An email address that represents a Google group. For example, `admins@example.com`. * `domain:{domain}`: The G Suite domain (primary) that represents all the users of that domain. For example, `google.com` or `example.com`. * `principal://iam.googleapis.com/locations/global/workforcePools/{pool_id}/subject/{subject_attribute_value}`: A single identity in a workforce identity pool. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/group/{group_id}`: All workforce identities in a group. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/attribute.{attribute_name}/{attribute_value}`: All workforce identities with a specific attribute value. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/*`: All identities in a workforce identity pool. * `principal://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/subject/{subject_attribute_value}`: A single identity in a workload identity pool. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/group/{group_id}`: A workload identity pool group. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/attribute.{attribute_name}/{attribute_value}`: All identities in a workload identity pool with a certain attribute. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/*`: All identities in a workload identity pool. * `deleted:user:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a user that has been recently deleted. For example, `alice@example.com?uid=123456789012345678901`. If the user is recovered, this value reverts to `user:{emailid}` and the recovered user retains the role in the binding. * `deleted:serviceAccount:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a service account that has been recently deleted. For example, `my-other-app@appspot.gserviceaccount.com?uid=123456789012345678901`. If the service account is undeleted, this value reverts to `serviceAccount:{emailid}` and the undeleted service account retains the role in the binding. * `deleted:group:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a Google group that has been recently deleted. For example, `admins@example.com?uid=123456789012345678901`. If the group is recovered, this value reverts to `group:{emailid}` and the recovered group retains the role in the binding. * `deleted:principal://iam.googleapis.com/locations/global/workforcePools/{pool_id}/subject/{subject_attribute_value}`: Deleted single identity in a workforce identity pool. For example, `deleted:principal://iam.googleapis.com/locations/global/workforcePools/my-pool-id/subject/my-subject-attribute-value`."
        }
      }
    },
    "ListBranchRulesResponse": {
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token identifying a page of results the server should return."
        },
        "branchRules": {
          "description": "The list of branch rules.",
          "type": "array",
          "items": {
            "$ref": "BranchRule"
          }
        }
      },
      "description": "ListBranchRulesResponse is the response to listing branchRules.",
      "id": "ListBranchRulesResponse",
      "type": "object"
    },
    "CreatePullRequestCommentRequest": {
      "properties": {
        "pullRequestComment": {
          "description": "Required. The pull request comment to create.",
          "$ref": "PullRequestComment"
        },
        "parent": {
          "type": "string",
          "description": "Required. The pull request in which to create the pull request comment. Format: `projects/{project_number}/locations/{location_id}/repositories/{repository_id}/pullRequests/{pull_request_id}`"
        }
      },
      "description": "The request to create a pull request comment.",
      "id": "CreatePullRequestCommentRequest",
      "type": "object"
    },
    "PushOption": {
      "type": "object",
      "properties": {
        "branchFilter": {
          "type": "string",
          "description": "Optional. Trigger hook for matching branches only. Specified as glob pattern. If empty or *, events for all branches are reported. Examples: main, {main,release*}. See https://pkg.go.dev/github.com/gobwas/glob documentation."
        }
      },
      "id": "PushOption"
    },
    "ResolvePullRequestCommentsResponse": {
      "type": "object",
      "properties": {
        "pullRequestComments": {
          "type": "array",
          "items": {
            "$ref": "PullRequestComment"
          },
          "description": "The list of pull request comments resolved."
        }
      },
      "description": "The response to resolve multiple pull request comments.",
      "id": "ResolvePullRequestCommentsResponse"
    },
    "Operation": {
      "properties": {
        "error": {
          "description": "The error result of the operation in case of failure or cancellation.",
          "$ref": "Status"
        },
        "response": {
          "type": "object",
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          }
        },
        "metadata": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "type": "object"
        },
        "name": {
          "type": "string",
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`."
        },
        "done": {
          "type": "boolean",
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available."
        }
      },
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "id": "Operation",
      "type": "object"
    },
    "PullRequest": {
      "type": "object",
      "description": "Metadata of a PullRequest. PullRequest is the request from a user to merge a branch (head) into another branch (base).",
      "properties": {
        "title": {
          "type": "string",
          "description": "Required. The pull request title."
        },
        "body": {
          "description": "Optional. The pull request body. Provides a detailed description of the changes.",
          "type": "string"
        },
        "updateTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. Last updated timestamp.",
          "readOnly": true
        },
        "base": {
          "description": "Required. The branch to merge changes in.",
          "$ref": "Branch"
        },
        "name": {
          "readOnly": true,
          "description": "Output only. Identifier. A unique identifier for a PullRequest. The number appended at the end is generated by the server. Format: `projects/{project}/locations/{location}/repositories/{repository}/pullRequests/{pull_request_id}`",
          "type": "string"
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Creation timestamp.",
          "format": "google-datetime"
        },
        "closeTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. Close timestamp (if closed or merged). Cleared when pull request is re-opened."
        },
        "state": {
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "OPEN",
            "CLOSED",
            "MERGED"
          ],
          "description": "Output only. State of the pull request (open, closed or merged).",
          "enumDescriptions": [
            "Unspecified.",
            "An open pull request.",
            "A closed pull request.",
            "A merged pull request."
          ],
          "readOnly": true
        },
        "head": {
          "description": "Immutable. The branch containing the changes to be merged.",
          "$ref": "Branch"
        }
      },
      "id": "PullRequest"
    },
    "Ref": {
      "description": "Ref represents a git reference within a repository.",
      "id": "Ref",
      "properties": {
        "target": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The target of the reference, which is a commit SHA."
        },
        "type": {
          "enumDescriptions": [
            "Unspecified ref type.",
            "Represents a branch.",
            "Represents a tag."
          ],
          "description": "Output only. The type of the reference.",
          "readOnly": true,
          "type": "string",
          "enum": [
            "REF_TYPE_UNSPECIFIED",
            "REF_TYPE_BRANCH",
            "REF_TYPE_TAG"
          ]
        },
        "name": {
          "type": "string",
          "description": "Identifier. Name of the git reference (e.g., 'refs/heads/foo' or 'refs/tags/v1.0')."
        }
      },
      "type": "object"
    },
    "MergePullRequestRequest": {
      "properties": {},
      "id": "MergePullRequestRequest",
      "type": "object",
      "description": "MergePullRequestRequest is the request to merge a pull request."
    },
    "CustomHostConfig": {
      "type": "object",
      "description": "Custom host config for the instance.",
      "properties": {
        "gitHttp": {
          "description": "Required. The custom git http hostname for the instance, e.g., \"git.source.internal.mycompany.com\"",
          "type": "string"
        },
        "gitSsh": {
          "description": "Required. The custom git ssh hostname for the instance, e.g., \"ssh.source.internal.mycompany.com\"",
          "type": "string"
        },
        "html": {
          "description": "Required. The custom UI hostname for the instance, e.g., \"git.source.internal.mycompany.com\"",
          "type": "string"
        },
        "api": {
          "description": "Required. The custom API hostname for the instance, e.g., \"api.source.internal.mycompany.com\"",
          "type": "string"
        }
      },
      "id": "CustomHostConfig"
    },
    "ListPullRequestCommentsResponse": {
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "A token to set as page_token to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "pullRequestComments": {
          "type": "array",
          "items": {
            "$ref": "PullRequestComment"
          },
          "description": "The list of pull request comments."
        }
      },
      "description": "The response to list pull request comments.",
      "id": "ListPullRequestCommentsResponse"
    },
    "SecretScanConfig": {
      "type": "object",
      "id": "SecretScanConfig",
      "description": "Configuration for secret scanning.",
      "properties": {
        "enabled": {
          "description": "Optional. Enables secret scanning for the repository.",
          "type": "boolean"
        },
        "inspectTemplate": {
          "description": "Optional. The DLP inspect template to use for secret scanning.",
          "type": "string"
        }
      }
    },
    "InitialConfig": {
      "type": "object",
      "properties": {
        "defaultBranch": {
          "type": "string",
          "description": "Default branch name of the repository."
        },
        "readme": {
          "description": "README template name. Valid template name(s) are: default.",
          "type": "string"
        },
        "license": {
          "description": "License template name user can choose from. Valid values: license-0bsd, license-389-exception, aal, abstyles, adobe-2006, adobe-glyph, adsl, afl-1-1, afl-1-2, afl-2-0, afl-2-1, afl-3-0, afmparse, agpl-1-0, agpl-1-0-only, agpl-1-0-or-later, agpl-3-0-only, agpl-3-0-or-later, aladdin, amdplpa, aml, ampas, antlr-pd, antlr-pd-fallback, apache-1-0, apache-1-1, apache-2-0, apafml, apl-1-0, apsl-1-0, apsl-1-1, apsl-1-2, apsl-2-0, artistic-1-0, artistic-1-0-cl8, artistic-1-0-perl, artistic-2-0, autoconf-exception-2-0, autoconf-exception-3-0, bahyph, barr, beerware, bison-exception-2-2, bittorrent-1-0, bittorrent-1-1, blessing, blueoak-1-0-0, bootloader-exception, borceux, bsd-1-clause, bsd-2-clause, bsd-2-clause-freebsd, bsd-2-clause-netbsd, bsd-2-clause-patent, bsd-2-clause-views, bsd-3-clause, bsd-3-clause-attribution, bsd-3-clause-clear, bsd-3-clause-lbnl, bsd-3-clause-modification, bsd-3-clause-no-nuclear-license, bsd-3-clause-no-nuclear-license-2014, bsd-3-clause-no-nuclear-warranty, bsd-3-clause-open-mpi, bsd-4-clause, bsd-4-clause-shortened, bsd-4-clause-uc, bsd-protection, bsd-source-code, bsl-1-0, busl-1-1, cal-1-0, cal-1-0-combined-work-exception, caldera, catosl-1-1, cc0-1-0, cc-by-1-0, cc-by-2-0, cc-by-3-0, cc-by-3-0-at, cc-by-3-0-us, cc-by-4-0, cc-by-nc-1-0, cc-by-nc-2-0, cc-by-nc-3-0, cc-by-nc-4-0, cc-by-nc-nd-1-0, cc-by-nc-nd-2-0, cc-by-nc-nd-3-0, cc-by-nc-nd-3-0-igo, cc-by-nc-nd-4-0, cc-by-nc-sa-1-0, cc-by-nc-sa-2-0, cc-by-nc-sa-3-0, cc-by-nc-sa-4-0, cc-by-nd-1-0, cc-by-nd-2-0, cc-by-nd-3-0, cc-by-nd-4-0, cc-by-sa-1-0, cc-by-sa-2-0, cc-by-sa-2-0-uk, cc-by-sa-2-1-jp, cc-by-sa-3-0, cc-by-sa-3-0-at, cc-by-sa-4-0, cc-pddc, cddl-1-0, cddl-1-1, cdla-permissive-1-0, cdla-sharing-1-0, cecill-1-0, cecill-1-1, cecill-2-0, cecill-2-1, cecill-b, cecill-c, cern-ohl-1-1, cern-ohl-1-2, cern-ohl-p-2-0, cern-ohl-s-2-0, cern-ohl-w-2-0, clartistic, classpath-exception-2-0, clisp-exception-2-0, cnri-jython, cnri-python, cnri-python-gpl-compatible, condor-1-1, copyleft-next-0-3-0, copyleft-next-0-3-1, cpal-1-0, cpl-1-0, cpol-1-02, crossword, crystal-stacker, cua-opl-1-0, cube, c-uda-1-0, curl, d-fsl-1-0, diffmark, digirule-foss-exception, doc, dotseqn, drl-1-0, dsdp, dvipdfm, ecl-1-0, ecl-2-0, ecos-exception-2-0, efl-1-0, efl-2-0, egenix, entessa, epics, epl-1-0, epl-2-0, erlpl-1-1, etalab-2-0, eu-datagrid, eupl-1-0, eupl-1-1, eupl-1-2, eurosym, fair, fawkes-runtime-exception, fltk-exception, font-exception-2-0, frameworx-1-0, freebsd-doc, freeimage, freertos-exception-2-0, fsfap, fsful, fsfullr, ftl, gcc-exception-2-0, gcc-exception-3-1, gd, gfdl-1-1-invariants-only, gfdl-1-1-invariants-or-later, gfdl-1-1-no-invariants-only, gfdl-1-1-no-invariants-or-later, gfdl-1-1-only, gfdl-1-1-or-later, gfdl-1-2-invariants-only, gfdl-1-2-invariants-or-later, gfdl-1-2-no-invariants-only, gfdl-1-2-no-invariants-or-later, gfdl-1-2-only, gfdl-1-2-or-later, gfdl-1-3-invariants-only, gfdl-1-3-invariants-or-later, gfdl-1-3-no-invariants-only, gfdl-1-3-no-invariants-or-later, gfdl-1-3-only, gfdl-1-3-or-later, giftware, gl2ps, glide, glulxe, glwtpl, gnu-javamail-exception, gnuplot, gpl-1-0-only, gpl-1-0-or-later, gpl-2-0-only, gpl-2-0-or-later, gpl-3-0-linking-exception, gpl-3-0-linking-source-exception, gpl-3-0-only, gpl-3-0-or-later, gpl-cc-1-0, gsoap-1-3b, haskell-report, hippocratic-2-1, hpnd, hpnd-sell-variant, htmltidy, i2p-gpl-java-exception, ibm-pibs, icu, ijg, image-magick, imatix, imlib2, info-zip, intel, intel-acpi, interbase-1-0, ipa, ipl-1-0, isc, jasper-2-0, jpnic, json, lal-1-2, lal-1-3, latex2e, leptonica, lgpl-2-0-only, lgpl-2-0-or-later, lgpl-2-1-only, lgpl-2-1-or-later, lgpl-3-0-linking-exception, lgpl-3-0-only, lgpl-3-0-or-later, lgpllr, libpng, libpng-2-0, libselinux-1-0, libtiff, libtool-exception, liliq-p-1-1, liliq-r-1-1, liliq-rplus-1-1, linux-openib, linux-syscall-note, llvm-exception, lpl-1-0, lpl-1-02, lppl-1-0, lppl-1-1, lppl-1-2, lppl-1-3a, lppl-1-3c, lzma-exception, make-index, mif-exception, miros, mit, mit-0, mit-advertising, mit-cmu, mit-enna, mit-feh, mit-modern-variant, mitnfa, mit-open-group, motosoto, mpich2, mpl-1-0, mpl-1-1, mpl-2-0, mpl-2-0-no-copyleft-exception, ms-pl, ms-rl, mtll, mulanpsl-1-0, mulanpsl-2-0, multics, mup, naist-2003, nasa-1-3, naumen, nbpl-1-0, ncgl-uk-2-0, ncsa, netcdf, net-snmp, newsletr, ngpl, nist-pd, nist-pd-fallback, nlod-1-0, nlpl, nokia, nokia-qt-exception-1-1, nosl, noweb, npl-1-0, npl-1-1, nposl-3-0, nrl, ntp, ntp-0, ocaml-lgpl-linking-exception, occt-exception-1-0, occt-pl, oclc-2-0, odbl-1-0, odc-by-1-0, ofl-1-0, ofl-1-0-no-rfn, ofl-1-0-rfn, ofl-1-1, ofl-1-1-no-rfn, ofl-1-1-rfn, ogc-1-0, ogdl-taiwan-1-0, ogl-canada-2-0, ogl-uk-1-0, ogl-uk-2-0, ogl-uk-3-0, ogtsl, oldap-1-1, oldap-1-2, oldap-1-3, oldap-1-4, oldap-2-0, oldap-2-0-1, oldap-2-1, oldap-2-2, oldap-2-2-1, oldap-2-2-2, oldap-2-3, oldap-2-4, oldap-2-7, oml, openjdk-assembly-exception-1-0, openssl, openvpn-openssl-exception, opl-1-0, oset-pl-2-1, osl-1-0, osl-1-1, osl-2-0, osl-2-1, osl-3-0, o-uda-1-0, parity-6-0-0, parity-7-0-0, pddl-1-0, php-3-0, php-3-01, plexus, polyform-noncommercial-1-0-0, polyform-small-business-1-0-0, postgresql, psf-2-0, psfrag, ps-or-pdf-font-exception-20170817, psutils, python-2-0, qhull, qpl-1-0, qt-gpl-exception-1-0, qt-lgpl-exception-1-1, qwt-exception-1-0, rdisc, rhecos-1-1, rpl-1-1, rpsl-1-0, rsa-md, rscpl, ruby, saxpath, sax-pd, scea, sendmail, sendmail-8-23, sgi-b-1-0, sgi-b-1-1, sgi-b-2-0, shl-0-51, shl-2-0, shl-2-1, simpl-2-0, sissl, sissl-1-2, sleepycat, smlnj, smppl, snia, spencer-86, spencer-94, spencer-99, spl-1-0, ssh-openssh, ssh-short, sspl-1-0, sugarcrm-1-1-3, swift-exception, swl, tapr-ohl-1-0, tcl, tcp-wrappers, tmate, torque-1-1, tosl, tu-berlin-1-0, tu-berlin-2-0, u-boot-exception-2-0, ucl-1-0, unicode-dfs-2015, unicode-dfs-2016, unicode-tou, universal-foss-exception-1-0, unlicense, upl-1-0, vim, vostrom, vsl-1-0, w3c, w3c-19980720, w3c-20150513, watcom-1-0, wsuipa, wtfpl, wxwindows-exception-3-1, x11, xerox, xfree86-1-1, xinetd, xnet, xpp, xskat, ypl-1-0, ypl-1-1, zed, zend-2-0, zimbra-1-3, zimbra-1-4, zlib, zlib-acknowledgement, zpl-1-1, zpl-2-0, zpl-2-1.",
          "type": "string"
        },
        "gitignores": {
          "items": {
            "type": "string"
          },
          "description": "List of gitignore template names user can choose from. Valid values: actionscript, ada, agda, android, anjuta, ansible, appcelerator-titanium, app-engine, archives, arch-linux-packages, atmel-studio, autotools, backup, bazaar, bazel, bitrix, bricx-cc, c, cake-php, calabash, cf-wheels, chef-cookbook, clojure, cloud9, c-make, code-igniter, code-kit, code-sniffer, common-lisp, composer, concrete5, coq, cordova, cpp, craft-cms, cuda, cvs, d, dart, dart-editor, delphi, diff, dm, dreamweaver, dropbox, drupal, drupal-7, eagle, eclipse, eiffel-studio, elisp, elixir, elm, emacs, ensime, epi-server, erlang, esp-idf, espresso, exercism, expression-engine, ext-js, fancy, finale, flex-builder, force-dot-com, fortran, fuel-php, gcov, git-book, gnome-shell-extension, go, godot, gpg, gradle, grails, gwt, haskell, hugo, iar-ewarm, idris, igor-pro, images, infor-cms, java, jboss, jboss-4, jboss-6, jdeveloper, jekyll, jenkins-home, jenv, jet-brains, jigsaw, joomla, julia, jupyter-notebooks, kate, kdevelop4, kentico, ki-cad, kohana, kotlin, lab-view, laravel, lazarus, leiningen, lemon-stand, libre-office, lilypond, linux, lithium, logtalk, lua, lyx, mac-os, magento, magento-1, magento-2, matlab, maven, mercurial, mercury, metals, meta-programming-system, meteor, microsoft-office, model-sim, momentics, mono-develop, nanoc, net-beans, nikola, nim, ninja, node, notepad-pp, nwjs, objective--c, ocaml, octave, opa, open-cart, openssl, oracle-forms, otto, packer, patch, perl, perl6, phalcon, phoenix, pimcore, play-framework, plone, prestashop, processing, psoc-creator, puppet, pure-script, putty, python, qooxdoo, qt, r, racket, rails, raku, red, redcar, redis, rhodes-rhomobile, ros, ruby, rust, sam, sass, sbt, scala, scheme, scons, scrivener, sdcc, seam-gen, sketch-up, slick-edit, smalltalk, snap, splunk, stata, stella, sublime-text, sugar-crm, svn, swift, symfony, symphony-cms, synopsys-vcs, tags, terraform, tex, text-mate, textpattern, think-php, tortoise-git, turbo-gears-2, typo3, umbraco, unity, unreal-engine, vagrant, vim, virtual-env, virtuoso, visual-studio, visual-studio-code, vue, vvvv, waf, web-methods, windows, word-press, xcode, xilinx, xilinx-ise, xojo, yeoman, yii, zend-framework, zephir.",
          "type": "array"
        }
      },
      "description": "Repository initialization configuration.",
      "id": "InitialConfig"
    },
    "Position": {
      "description": "The position of the code comment.",
      "properties": {
        "path": {
          "type": "string",
          "description": "Required. The path of the file."
        },
        "line": {
          "format": "int64",
          "type": "string",
          "description": "Required. The line number of the comment. Positive value means it's on the new side of the diff, negative value means it's on the old side."
        }
      },
      "type": "object",
      "id": "Position"
    },
    "OpenIssueRequest": {
      "description": "The request to open an issue.",
      "type": "object",
      "properties": {
        "etag": {
          "description": "Optional. The current etag of the issue. If the etag is provided and does not match the current etag of the issue, opening will be blocked and an ABORTED error will be returned.",
          "type": "string"
        }
      },
      "id": "OpenIssueRequest"
    },
    "FileDiff": {
      "properties": {
        "name": {
          "description": "Output only. The name of the file.",
          "type": "string",
          "readOnly": true
        },
        "action": {
          "enumDescriptions": [
            "Unspecified.",
            "The file was added.",
            "The file was modified.",
            "The file was deleted."
          ],
          "readOnly": true,
          "description": "Output only. The action taken on the file (eg. added, modified, deleted).",
          "type": "string",
          "enum": [
            "ACTION_UNSPECIFIED",
            "ADDED",
            "MODIFIED",
            "DELETED"
          ]
        },
        "patch": {
          "type": "string",
          "description": "Output only. The git patch containing the file changes.",
          "readOnly": true
        },
        "sha": {
          "readOnly": true,
          "description": "Output only. The commit pointing to the file changes.",
          "type": "string"
        }
      },
      "id": "FileDiff",
      "type": "object",
      "description": "Metadata of a FileDiff. FileDiff represents a single file diff in a pull request."
    },
    "Policy": {
      "id": "Policy",
      "description": "An Identity and Access Management (IAM) policy, which specifies access controls for Google Cloud resources. A `Policy` is a collection of `bindings`. A `binding` binds one or more `members`, or principals, to a single `role`. Principals can be user accounts, service accounts, Google groups, and domains (such as G Suite). A `role` is a named list of permissions; each `role` can be an IAM predefined role or a user-created custom role. For some types of Google Cloud resources, a `binding` can also specify a `condition`, which is a logical expression that allows access to a resource only if the expression evaluates to `true`. A condition can add constraints based on attributes of the request, the resource, or both. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies). **JSON example:** ``` { \"bindings\": [ { \"role\": \"roles/resourcemanager.organizationAdmin\", \"members\": [ \"user:mike@example.com\", \"group:admins@example.com\", \"domain:google.com\", \"serviceAccount:my-project-id@appspot.gserviceaccount.com\" ] }, { \"role\": \"roles/resourcemanager.organizationViewer\", \"members\": [ \"user:eve@example.com\" ], \"condition\": { \"title\": \"expirable access\", \"description\": \"Does not grant access after Sep 2020\", \"expression\": \"request.time < timestamp('2020-10-01T00:00:00.000Z')\", } } ], \"etag\": \"BwWWja0YfJA=\", \"version\": 3 } ``` **YAML example:** ``` bindings: - members: - user:mike@example.com - group:admins@example.com - domain:google.com - serviceAccount:my-project-id@appspot.gserviceaccount.com role: roles/resourcemanager.organizationAdmin - members: - user:eve@example.com role: roles/resourcemanager.organizationViewer condition: title: expirable access description: Does not grant access after Sep 2020 expression: request.time < timestamp('2020-10-01T00:00:00.000Z') etag: BwWWja0YfJA= version: 3 ``` For a description of IAM and its features, see the [IAM documentation](https://cloud.google.com/iam/docs/).",
      "type": "object",
      "properties": {
        "version": {
          "type": "integer",
          "description": "Specifies the format of the policy. Valid values are `0`, `1`, and `3`. Requests that specify an invalid value are rejected. Any operation that affects conditional role bindings must specify version `3`. This requirement applies to the following operations: * Getting a policy that includes a conditional role binding * Adding a conditional role binding to a policy * Changing a conditional role binding in a policy * Removing any role binding, with or without a condition, from a policy that includes conditions **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost. If a policy does not include any conditions, operations on that policy may specify any valid version or leave the field unset. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies).",
          "format": "int32"
        },
        "etag": {
          "type": "string",
          "format": "byte",
          "description": "`etag` is used for optimistic concurrency control as a way to help prevent simultaneous updates of a policy from overwriting each other. It is strongly suggested that systems make use of the `etag` in the read-modify-write cycle to perform policy updates in order to avoid race conditions: An `etag` is returned in the response to `getIamPolicy`, and systems are expected to put that etag in the request to `setIamPolicy` to ensure that their change will be applied to the same version of the policy. **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost."
        },
        "auditConfigs": {
          "description": "Specifies cloud audit logging configuration for this policy.",
          "type": "array",
          "items": {
            "$ref": "AuditConfig"
          }
        },
        "bindings": {
          "type": "array",
          "description": "Associates a list of `members`, or principals, with a `role`. Optionally, may specify a `condition` that determines how and when the `bindings` are applied. Each of the `bindings` must contain at least one principal. The `bindings` in a `Policy` can refer to up to 1,500 principals; up to 250 of these principals can be Google groups. Each occurrence of a principal counts towards these limits. For example, if the `bindings` grant 50 different roles to `user:alice@example.com`, and not to any other principal, then you can add another 1,450 principals to the `bindings` in the `Policy`.",
          "items": {
            "$ref": "Binding"
          }
        }
      }
    },
    "Code": {
      "type": "object",
      "description": "The comment on a code line.",
      "id": "Code",
      "properties": {
        "effectiveRootComment": {
          "description": "Output only. The root comment of the conversation, derived from the reply field.",
          "readOnly": true,
          "type": "string"
        },
        "resolved": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. Boolean indicator if the comment is resolved."
        },
        "reply": {
          "description": "Optional. Input only. The PullRequestComment resource name that this comment is replying to.",
          "type": "string"
        },
        "effectiveCommitSha": {
          "type": "string",
          "description": "Output only. The effective commit sha this code comment is pointing to.",
          "readOnly": true
        },
        "position": {
          "$ref": "Position",
          "description": "Optional. The position of the comment."
        },
        "body": {
          "description": "Required. The comment body.",
          "type": "string"
        }
      }
    },
    "FetchRefsResponse": {
      "type": "object",
      "id": "FetchRefsResponse",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token identifying a page of results the server should return."
        },
        "refs": {
          "type": "array",
          "description": "The list of git references.",
          "items": {
            "$ref": "Ref"
          }
        }
      },
      "description": "Response message containing a list of git references."
    },
    "ClosePullRequestRequest": {
      "description": "ClosePullRequestRequest is the request to close a pull request.",
      "type": "object",
      "id": "ClosePullRequestRequest",
      "properties": {}
    },
    "SetIamPolicyRequest": {
      "type": "object",
      "properties": {
        "updateMask": {
          "description": "OPTIONAL: A FieldMask specifying which fields of the policy to modify. Only the fields in the mask will be modified. If no mask is provided, the following default mask is used: `paths: \"bindings, etag\"`",
          "format": "google-fieldmask",
          "type": "string"
        },
        "policy": {
          "description": "REQUIRED: The complete policy to be applied to the `resource`. The size of the policy is limited to a few 10s of KB. An empty policy is a valid policy but certain Google Cloud services (such as Projects) might reject them.",
          "$ref": "Policy"
        }
      },
      "description": "Request message for `SetIamPolicy` method.",
      "id": "SetIamPolicyRequest"
    },
    "UnresolvePullRequestCommentsResponse": {
      "id": "UnresolvePullRequestCommentsResponse",
      "properties": {
        "pullRequestComments": {
          "description": "The list of pull request comments unresolved.",
          "type": "array",
          "items": {
            "$ref": "PullRequestComment"
          }
        }
      },
      "type": "object",
      "description": "The response to unresolve multiple pull request comments."
    },
    "BatchCreatePullRequestCommentsRequest": {
      "description": "The request to batch create pull request comments.",
      "type": "object",
      "id": "BatchCreatePullRequestCommentsRequest",
      "properties": {
        "requests": {
          "description": "Required. The request message specifying the resources to create. There should be exactly one CreatePullRequestCommentRequest with CommentDetail being REVIEW in the list, and no more than 100 CreatePullRequestCommentRequests with CommentDetail being CODE in the list",
          "type": "array",
          "items": {
            "$ref": "CreatePullRequestCommentRequest"
          }
        }
      }
    },
    "HostConfig": {
      "description": "HostConfig has different instance endpoints.",
      "id": "HostConfig",
      "properties": {
        "gitSsh": {
          "readOnly": true,
          "description": "Output only. Git SSH hostname.",
          "type": "string"
        },
        "api": {
          "description": "Output only. API hostname.",
          "readOnly": true,
          "type": "string"
        },
        "html": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. HTML hostname."
        },
        "gitHttp": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Git HTTP hostname."
        }
      },
      "type": "object"
    },
    "AuditConfig": {
      "properties": {
        "service": {
          "description": "Specifies a service that will be enabled for audit logging. For example, `storage.googleapis.com`, `cloudsql.googleapis.com`. `allServices` is a special value that covers all services.",
          "type": "string"
        },
        "auditLogConfigs": {
          "type": "array",
          "items": {
            "$ref": "AuditLogConfig"
          },
          "description": "The configuration for logging of each type of permission."
        }
      },
      "id": "AuditConfig",
      "type": "object",
      "description": "Specifies the audit configuration for a service. The configuration determines which permission types are logged, and what identities, if any, are exempted from logging. An AuditConfig must have one or more AuditLogConfigs. If there are AuditConfigs for both `allServices` and a specific service, the union of the two AuditConfigs is used for that service: the log_types specified in each AuditConfig are enabled, and the exempted_members in each AuditLogConfig are exempted. Example Policy with multiple AuditConfigs: { \"audit_configs\": [ { \"service\": \"allServices\", \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\", \"exempted_members\": [ \"user:jose@example.com\" ] }, { \"log_type\": \"DATA_WRITE\" }, { \"log_type\": \"ADMIN_READ\" } ] }, { \"service\": \"sampleservice.googleapis.com\", \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\" }, { \"log_type\": \"DATA_WRITE\", \"exempted_members\": [ \"user:aliya@example.com\" ] } ] } ] } For sampleservice, this policy enables DATA_READ, DATA_WRITE and ADMIN_READ logging. It also exempts `jose@example.com` from DATA_READ logging, and `aliya@example.com` from DATA_WRITE logging."
    },
    "AuditLogConfig": {
      "type": "object",
      "description": "Provides the configuration for logging a type of permissions. Example: { \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\", \"exempted_members\": [ \"user:jose@example.com\" ] }, { \"log_type\": \"DATA_WRITE\" } ] } This enables 'DATA_READ' and 'DATA_WRITE' logging, while exempting jose@example.com from DATA_READ logging.",
      "id": "AuditLogConfig",
      "properties": {
        "exemptedMembers": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Specifies the identities that do not cause logging for this type of permission. Follows the same format of Binding.members."
        },
        "logType": {
          "type": "string",
          "enum": [
            "LOG_TYPE_UNSPECIFIED",
            "ADMIN_READ",
            "DATA_WRITE",
            "DATA_READ"
          ],
          "description": "The log type that this config enables.",
          "enumDescriptions": [
            "Default case. Should never be this.",
            "Admin reads. Example: CloudIAM getIamPolicy",
            "Data writes. Example: CloudSQL Users create",
            "Data reads. Example: CloudSQL Users list"
          ]
        }
      }
    },
    "OperationMetadata": {
      "id": "OperationMetadata",
      "properties": {
        "statusMessage": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Human-readable status of the operation, if any."
        },
        "verb": {
          "description": "Output only. Name of the verb executed by the operation.",
          "readOnly": true,
          "type": "string"
        },
        "target": {
          "type": "string",
          "description": "Output only. Server-defined resource path for the target of the operation.",
          "readOnly": true
        },
        "createTime": {
          "readOnly": true,
          "description": "Output only. The time the operation was created.",
          "format": "google-datetime",
          "type": "string"
        },
        "requestedCancellation": {
          "readOnly": true,
          "description": "Output only. Identifies whether the user has requested cancellation of the operation. Operations that have successfully been cancelled have Operation.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`.",
          "type": "boolean"
        },
        "endTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The time the operation finished running.",
          "readOnly": true
        },
        "apiVersion": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. API version used to start the operation."
        }
      },
      "description": "Represents the metadata of the long-running operation.",
      "type": "object"
    },
    "ListPullRequestFileDiffsResponse": {
      "description": "ListPullRequestFileDiffsResponse is the response containing file diffs returned from ListPullRequestFileDiffs.",
      "properties": {
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return.",
          "type": "string"
        },
        "fileDiffs": {
          "description": "The list of pull request file diffs.",
          "type": "array",
          "items": {
            "$ref": "FileDiff"
          }
        }
      },
      "type": "object",
      "id": "ListPullRequestFileDiffsResponse"
    },
    "BatchCreatePullRequestCommentsResponse": {
      "type": "object",
      "description": "The response to batch create pull request comments.",
      "id": "BatchCreatePullRequestCommentsResponse",
      "properties": {
        "pullRequestComments": {
          "items": {
            "$ref": "PullRequestComment"
          },
          "description": "The list of pull request comments created.",
          "type": "array"
        }
      }
    },
    "ScanConfig": {
      "description": "Configuration for scanning.",
      "type": "object",
      "properties": {
        "secretScanConfig": {
          "description": "Optional. Configuration for secret scanning.",
          "$ref": "SecretScanConfig"
        }
      },
      "id": "ScanConfig"
    },
    "PrivateConfig": {
      "type": "object",
      "description": "PrivateConfig includes settings for private instance.",
      "id": "PrivateConfig",
      "properties": {
        "sshServiceAttachment": {
          "description": "Output only. Service Attachment for SSH, resource is in the format of `projects/{project}/regions/{region}/serviceAttachments/{service_attachment}`.",
          "readOnly": true,
          "type": "string"
        },
        "httpServiceAttachment": {
          "description": "Output only. Service Attachment for HTTP, resource is in the format of `projects/{project}/regions/{region}/serviceAttachments/{service_attachment}`.",
          "type": "string",
          "readOnly": true
        },
        "pscAllowedProjects": {
          "items": {
            "type": "string"
          },
          "description": "Optional. Additional allowed projects for setting up PSC connections. Instance host project is automatically allowed and does not need to be included in this list.",
          "type": "array"
        },
        "customHostConfig": {
          "description": "Optional. Custom host config for the instance.",
          "$ref": "CustomHostConfig"
        },
        "isPrivate": {
          "type": "boolean",
          "description": "Required. Immutable. Indicate if it's private instance."
        },
        "caPool": {
          "description": "Optional. Immutable. CA pool resource, resource must in the format of `projects/{project}/locations/{location}/caPools/{ca_pool}`.",
          "type": "string"
        }
      }
    },
    "ListIssueCommentsResponse": {
      "properties": {
        "issueComments": {
          "items": {
            "$ref": "IssueComment"
          },
          "type": "array",
          "description": "The list of issue comments."
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token identifying a page of results the server should return."
        }
      },
      "description": "The response to list issue comments.",
      "id": "ListIssueCommentsResponse",
      "type": "object"
    },
    "IssueComment": {
      "description": "IssueComment represents a comment on an issue.",
      "id": "IssueComment",
      "properties": {
        "name": {
          "type": "string",
          "description": "Identifier. Unique identifier for an issue comment. The comment id is generated by the server. Format: `projects/{project}/locations/{location}/repositories/{repository}/issues/{issue}/issueComments/{comment_id}`"
        },
        "updateTime": {
          "format": "google-datetime",
          "description": "Output only. Last updated timestamp.",
          "type": "string",
          "readOnly": true
        },
        "body": {
          "type": "string",
          "description": "Required. The comment body."
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. Creation timestamp."
        }
      },
      "type": "object"
    },
    "ListHooksResponse": {
      "properties": {
        "hooks": {
          "type": "array",
          "items": {
            "$ref": "Hook"
          },
          "description": "The list of hooks."
        },
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return.",
          "type": "string"
        }
      },
      "description": "ListHooksResponse is response to list hooks.",
      "type": "object",
      "id": "ListHooksResponse"
    },
    "ListPullRequestsResponse": {
      "type": "object",
      "description": "ListPullRequestsResponse is the response to list pull requests.",
      "id": "ListPullRequestsResponse",
      "properties": {
        "pullRequests": {
          "description": "The list of pull requests.",
          "items": {
            "$ref": "PullRequest"
          },
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token identifying a page of results the server should return."
        }
      }
    },
    "ListInstancesResponse": {
      "id": "ListInstancesResponse",
      "type": "object",
      "properties": {
        "unreachable": {
          "description": "Locations that could not be reached.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "instances": {
          "type": "array",
          "description": "The list of instances.",
          "items": {
            "$ref": "Instance"
          }
        },
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return.",
          "type": "string"
        }
      }
    },
    "BranchRule": {
      "id": "BranchRule",
      "description": "Metadata of a BranchRule. BranchRule is the protection rule to enforce pre-defined rules on designated branches within a repository.",
      "type": "object",
      "properties": {
        "requiredStatusChecks": {
          "description": "Optional. List of required status checks before merging to the branch.",
          "type": "array",
          "items": {
            "$ref": "Check"
          }
        },
        "requireCodeOwnerApproval": {
          "description": "Optional. Determines if code owners must approve before merging to the branch.",
          "type": "boolean"
        },
        "minimumReviewsCount": {
          "type": "integer",
          "format": "int32",
          "description": "Optional. The minimum number of reviews required for the branch rule to be matched."
        },
        "requireCommentsResolved": {
          "type": "boolean",
          "description": "Optional. Determines if require comments resolved before merging to the branch."
        },
        "includePattern": {
          "description": "Optional. The pattern of the branch that can match to this BranchRule. Specified as regex. .* for all branches. Examples: main, (main|release.*). Current MVP phase only support `.*` for wildcard.",
          "type": "string"
        },
        "requirePullRequest": {
          "description": "Optional. Determines if the branch rule requires a pull request or not.",
          "type": "boolean"
        },
        "allowStaleReviews": {
          "type": "boolean",
          "description": "Optional. Determines if allow stale reviews or approvals before merging to the branch."
        },
        "minimumApprovalsCount": {
          "type": "integer",
          "description": "Optional. The minimum number of approvals required for the branch rule to be matched.",
          "format": "int32"
        },
        "annotations": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. User annotations. These attributes can only be set and used by the user. See https://google.aip.dev/128#annotations for more details such as format and size limitations."
        },
        "etag": {
          "type": "string",
          "description": "Optional. This checksum is computed by the server based on the value of other fields, and may be sent on update and delete requests to ensure the client has an up-to-date value before proceeding."
        },
        "uid": {
          "readOnly": true,
          "description": "Output only. Unique identifier of the repository.",
          "type": "string"
        },
        "createTime": {
          "type": "string",
          "description": "Output only. Create timestamp.",
          "format": "google-datetime",
          "readOnly": true
        },
        "requireLinearHistory": {
          "type": "boolean",
          "description": "Optional. Determines if require linear history before merging to the branch."
        },
        "name": {
          "description": "Identifier. A unique identifier for a BranchRule. The name should be of the format: `projects/{project}/locations/{location}/repositories/{repository}/branchRules/{branch_rule}`",
          "type": "string"
        },
        "disabled": {
          "description": "Optional. Determines if the branch rule is disabled or not.",
          "type": "boolean"
        },
        "updateTime": {
          "format": "google-datetime",
          "description": "Output only. Update timestamp.",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "ListOperationsResponse": {
      "id": "ListOperationsResponse",
      "properties": {
        "unreachable": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Unordered list. Unreachable resources. Populated when the request sets `ListOperationsRequest.return_partial_success` and reads across collections. For example, when attempting to list all resources across all supported locations."
        },
        "operations": {
          "description": "A list of operations that matches the specified filter in the request.",
          "type": "array",
          "items": {
            "$ref": "Operation"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "The standard List next-page token."
        }
      },
      "description": "The response message for Operations.ListOperations.",
      "type": "object"
    },
    "Status": {
      "properties": {
        "code": {
          "format": "int32",
          "type": "integer",
          "description": "The status code, which should be an enum value of google.rpc.Code."
        },
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        },
        "details": {
          "type": "array",
          "items": {
            "additionalProperties": {
              "description": "Properties of the object. Contains field @type with type URL.",
              "type": "any"
            },
            "type": "object"
          },
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use."
        }
      },
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "type": "object",
      "id": "Status"
    },
    "TestIamPermissionsResponse": {
      "type": "object",
      "description": "Response message for `TestIamPermissions` method.",
      "id": "TestIamPermissionsResponse",
      "properties": {
        "permissions": {
          "items": {
            "type": "string"
          },
          "description": "A subset of `TestPermissionsRequest.permissions` that the caller is allowed.",
          "type": "array"
        }
      }
    },
    "Comment": {
      "id": "Comment",
      "properties": {
        "body": {
          "description": "Required. The comment body.",
          "type": "string"
        }
      },
      "description": "The general pull request comment.",
      "type": "object"
    },
    "FetchBlobResponse": {
      "id": "FetchBlobResponse",
      "description": "Response message containing the content of a blob.",
      "properties": {
        "content": {
          "type": "string",
          "description": "The content of the blob, encoded as base64."
        },
        "sha": {
          "description": "The SHA-1 hash of the blob.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "ResolvePullRequestCommentsRequest": {
      "properties": {
        "autoFill": {
          "description": "Optional. If set, at least one comment in a thread is required, rest of the comments in the same thread will be automatically updated to resolved. If unset, all comments in the same thread need be present.",
          "type": "boolean"
        },
        "names": {
          "items": {
            "type": "string"
          },
          "description": "Required. The names of the pull request comments to resolve. Format: `projects/{project_number}/locations/{location_id}/repositories/{repository_id}/pullRequests/{pull_request_id}/pullRequestComments/{comment_id}` Only comments from the same threads are allowed in the same request.",
          "type": "array"
        }
      },
      "id": "ResolvePullRequestCommentsRequest",
      "description": "The request to resolve multiple pull request comments.",
      "type": "object"
    },
    "TreeEntry": {
      "id": "TreeEntry",
      "type": "object",
      "description": "Represents an entry within a tree structure (like a Git tree).",
      "properties": {
        "path": {
          "type": "string",
          "description": "Output only. The path of the file or directory within the tree (e.g., \"src/main/java/MyClass.java\"). Output-only.",
          "readOnly": true
        },
        "type": {
          "enumDescriptions": [
            "Default value, indicating the object type is unspecified.",
            "Represents a directory (folder).",
            "Represents a file (contains file data).",
            "Represents a pointer to another repository (submodule)."
          ],
          "readOnly": true,
          "type": "string",
          "enum": [
            "OBJECT_TYPE_UNSPECIFIED",
            "TREE",
            "BLOB",
            "COMMIT"
          ],
          "description": "Output only. The type of the object (TREE, BLOB, COMMIT). Output-only."
        },
        "sha": {
          "type": "string",
          "description": "Output only. The SHA-1 hash of the object (unique identifier). Output-only.",
          "readOnly": true
        },
        "mode": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The file mode as a string (e.g., \"100644\"). Indicates file type. Output-only."
        },
        "size": {
          "type": "string",
          "format": "int64",
          "description": "Output only. The size of the object in bytes (only for blobs). Output-only.",
          "readOnly": true
        }
      }
    },
    "Check": {
      "properties": {
        "context": {
          "description": "Required. The context of the check.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "Check",
      "description": "Check is a type for status check."
    },
    "Instance": {
      "type": "object",
      "description": "A resource that represents a Secure Source Manager instance.",
      "id": "Instance",
      "properties": {
        "privateConfig": {
          "description": "Optional. Private settings for private instance.",
          "$ref": "PrivateConfig"
        },
        "stateNote": {
          "enumDescriptions": [
            "STATE_NOTE_UNSPECIFIED as the first value of State.",
            "CMEK access is unavailable.",
            "INSTANCE_RESUMING indicates that the instance was previously paused and is under the process of being brought back."
          ],
          "readOnly": true,
          "type": "string",
          "enum": [
            "STATE_NOTE_UNSPECIFIED",
            "PAUSED_CMEK_UNAVAILABLE",
            "INSTANCE_RESUMING"
          ],
          "enumDeprecated": [
            false,
            false,
            true
          ],
          "description": "Output only. An optional field providing information about the current instance state."
        },
        "name": {
          "description": "Identifier. A unique identifier for an instance. The name should be of the format: `projects/{project_number}/locations/{location_id}/instances/{instance_id}` `project_number`: Maps to a unique int64 id assigned to each project. `location_id`: Refers to the region where the instance will be deployed. Since Secure Source Manager is a regional service, it must be one of the valid GCP regions. `instance_id`: User provided name for the instance, must be unique for a project_number and location_id combination.",
          "type": "string"
        },
        "workforceIdentityFederationConfig": {
          "$ref": "WorkforceIdentityFederationConfig",
          "description": "Optional. Configuration for Workforce Identity Federation to support third party identity provider. If unset, defaults to the Google OIDC IdP."
        },
        "satisfiesPzi": {
          "readOnly": true,
          "description": "Output only. Reserved for future use.",
          "type": "boolean"
        },
        "state": {
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "ACTIVE",
            "DELETING",
            "PAUSED",
            "UNKNOWN"
          ],
          "enumDescriptions": [
            "Not set. This should only be the case for incoming requests.",
            "Instance is being created.",
            "Instance is ready.",
            "Instance is being deleted.",
            "Instance is paused.",
            "Instance is unknown, we are not sure if it's functioning."
          ],
          "description": "Output only. Current state of the instance.",
          "readOnly": true
        },
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. Create timestamp.",
          "readOnly": true
        },
        "satisfiesPzs": {
          "description": "Output only. Reserved for future use.",
          "type": "boolean",
          "readOnly": true
        },
        "labels": {
          "type": "object",
          "description": "Optional. Labels as key value pairs. Keys and values can contain only lowercase letters, numeric characters, underscores, and dashes. For more information, see [Requirements for labels](https://cloud.google.com/resource-manager/docs/best-practices-labels#label_encoding).",
          "additionalProperties": {
            "type": "string"
          }
        },
        "hostConfig": {
          "description": "Output only. A list of hostnames for this instance.",
          "$ref": "HostConfig",
          "readOnly": true
        },
        "kmsKey": {
          "type": "string",
          "description": "Optional. Immutable. Customer-managed encryption key name, in the format projects/*/locations/*/keyRings/*/cryptoKeys/*."
        },
        "updateTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. Update timestamp.",
          "readOnly": true
        }
      }
    },
    "TestIamPermissionsRequest": {
      "id": "TestIamPermissionsRequest",
      "type": "object",
      "description": "Request message for `TestIamPermissions` method.",
      "properties": {
        "permissions": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "The set of permissions to check for the `resource`. Permissions with wildcards (such as `*` or `storage.*`) are not allowed. For more information see [IAM Overview](https://cloud.google.com/iam/docs/overview#permissions)."
        }
      }
    },
    "Location": {
      "description": "A resource that represents a Google Cloud location.",
      "id": "Location",
      "properties": {
        "displayName": {
          "description": "The friendly name for this location, typically a nearby city name. For example, \"Tokyo\".",
          "type": "string"
        },
        "metadata": {
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "type": "object",
          "description": "Service-specific metadata. For example the available capacity at the given location."
        },
        "locationId": {
          "type": "string",
          "description": "The canonical id for this location. For example: `\"us-east1\"`."
        },
        "name": {
          "description": "Resource name for the location, which may vary between implementations. For example: `\"projects/example-project/locations/us-east1\"`",
          "type": "string"
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Cross-service attributes for the location. For example {\"cloud.googleapis.com/region\": \"us-east1\"}"
        }
      },
      "type": "object"
    },
    "PullRequestComment": {
      "id": "PullRequestComment",
      "description": "PullRequestComment represents a comment on a pull request.",
      "type": "object",
      "properties": {
        "review": {
          "description": "Optional. The review summary comment.",
          "$ref": "Review"
        },
        "code": {
          "description": "Optional. The comment on a code line.",
          "$ref": "Code"
        },
        "comment": {
          "description": "Optional. The general pull request comment.",
          "$ref": "Comment"
        },
        "updateTime": {
          "description": "Output only. Last updated timestamp.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "name": {
          "type": "string",
          "description": "Identifier. Unique identifier for the pull request comment. The comment id is generated by the server. Format: `projects/{project}/locations/{location}/repositories/{repository}/pullRequests/{pull_request}/pullRequestComments/{comment_id}`"
        },
        "createTime": {
          "description": "Output only. Creation timestamp.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "Expr": {
      "properties": {
        "description": {
          "type": "string",
          "description": "Optional. Description of the expression. This is a longer text which describes the expression, e.g. when hovered over it in a UI."
        },
        "title": {
          "type": "string",
          "description": "Optional. Title for the expression, i.e. a short string describing its purpose. This can be used e.g. in UIs which allow to enter the expression."
        },
        "location": {
          "description": "Optional. String indicating the location of the expression for error reporting, e.g. a file name and a position in the file.",
          "type": "string"
        },
        "expression": {
          "description": "Textual representation of an expression in Common Expression Language syntax.",
          "type": "string"
        }
      },
      "description": "Represents a textual expression in the Common Expression Language (CEL) syntax. CEL is a C-like expression language. The syntax and semantics of CEL are documented at https://github.com/google/cel-spec. Example (Comparison): title: \"Summary size limit\" description: \"Determines if a summary is less than 100 chars\" expression: \"document.summary.size() < 100\" Example (Equality): title: \"Requestor is owner\" description: \"Determines if requestor is the document owner\" expression: \"document.owner == request.auth.claims.email\" Example (Logic): title: \"Public documents\" description: \"Determine whether the document should be publicly visible\" expression: \"document.type != 'private' && document.type != 'internal'\" Example (Data Manipulation): title: \"Notification string\" description: \"Create a notification string with a timestamp.\" expression: \"'New message received at ' + string(document.create_time)\" The exact variables and functions that may be referenced within an expression are determined by the service that evaluates it. See the service documentation for additional information.",
      "type": "object",
      "id": "Expr"
    },
    "Hook": {
      "id": "Hook",
      "description": "Metadata of a Secure Source Manager Hook.",
      "properties": {
        "sensitiveQueryString": {
          "type": "string",
          "description": "Optional. The sensitive query string to be appended to the target URI."
        },
        "updateTime": {
          "type": "string",
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. Update timestamp."
        },
        "name": {
          "type": "string",
          "description": "Identifier. A unique identifier for a Hook. The name should be of the format: `projects/{project}/locations/{location_id}/repositories/{repository_id}/hooks/{hook_id}`"
        },
        "targetUri": {
          "description": "Required. The target URI to which the payloads will be delivered.",
          "type": "string"
        },
        "disabled": {
          "type": "boolean",
          "description": "Optional. Determines if the hook disabled or not. Set to true to stop sending traffic."
        },
        "pushOption": {
          "description": "Optional. The trigger option for push events.",
          "$ref": "PushOption"
        },
        "uid": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Unique identifier of the hook."
        },
        "events": {
          "type": "array",
          "description": "Optional. The events that trigger hook on.",
          "items": {
            "type": "string",
            "enum": [
              "UNSPECIFIED",
              "PUSH",
              "PULL_REQUEST",
              "PULL_REQUEST_COMMENT"
            ],
            "enumDescriptions": [
              "Unspecified.",
              "Push events are triggered when pushing to the repository.",
              "Pull request events are triggered when a pull request is opened, closed, reopened, or edited.",
              "Triggers when a general comment is added, edited, or deleted on a pull request."
            ]
          }
        },
        "createTime": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Create timestamp.",
          "format": "google-datetime"
        }
      },
      "type": "object"
    },
    "Empty": {
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "id": "Empty",
      "type": "object",
      "properties": {}
    },
    "UnresolvePullRequestCommentsRequest": {
      "type": "object",
      "properties": {
        "autoFill": {
          "type": "boolean",
          "description": "Optional. If set, at least one comment in a thread is required, rest of the comments in the same thread will be automatically updated to unresolved. If unset, all comments in the same thread need be present."
        },
        "names": {
          "type": "array",
          "description": "Required. The names of the pull request comments to unresolve. Format: `projects/{project_number}/locations/{location_id}/repositories/{repository_id}/pullRequests/{pull_request_id}/pullRequestComments/{comment_id}` Only comments from the same threads are allowed in the same request.",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "The request to unresolve multiple pull request comments.",
      "id": "UnresolvePullRequestCommentsRequest"
    },
    "CancelOperationRequest": {
      "id": "CancelOperationRequest",
      "properties": {},
      "description": "The request message for Operations.CancelOperation.",
      "type": "object"
    },
    "ListLocationsResponse": {
      "properties": {
        "locations": {
          "items": {
            "$ref": "Location"
          },
          "description": "A list of locations that matches the specified filter in the request.",
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "The standard List next-page token."
        }
      },
      "description": "The response message for Locations.ListLocations.",
      "id": "ListLocationsResponse",
      "type": "object"
    },
    "Issue": {
      "description": "Metadata of an Issue.",
      "properties": {
        "state": {
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "OPEN",
            "CLOSED"
          ],
          "enumDescriptions": [
            "Unspecified.",
            "An open issue.",
            "A closed issue."
          ],
          "description": "Output only. State of the issue.",
          "readOnly": true
        },
        "name": {
          "description": "Identifier. Unique identifier for an issue. The issue id is generated by the server. Format: `projects/{project}/locations/{location}/repositories/{repository}/issues/{issue_id}`",
          "type": "string"
        },
        "closeTime": {
          "format": "google-datetime",
          "description": "Output only. Close timestamp (if closed). Cleared when is re-opened.",
          "readOnly": true,
          "type": "string"
        },
        "updateTime": {
          "type": "string",
          "description": "Output only. Last updated timestamp.",
          "readOnly": true,
          "format": "google-datetime"
        },
        "body": {
          "description": "Optional. Issue body. Provides a detailed description of the issue.",
          "type": "string"
        },
        "etag": {
          "description": "Optional. This checksum is computed by the server based on the value of other fields, and may be sent on update and delete requests to ensure the client has an up-to-date value before proceeding.",
          "type": "string"
        },
        "createTime": {
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. Creation timestamp.",
          "type": "string"
        },
        "title": {
          "description": "Required. Issue title.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "Issue"
    },
    "OpenPullRequestRequest": {
      "properties": {},
      "id": "OpenPullRequestRequest",
      "description": "OpenPullRequestRequest is the request to open a pull request.",
      "type": "object"
    },
    "ListIssuesResponse": {
      "properties": {
        "issues": {
          "description": "The list of issues.",
          "type": "array",
          "items": {
            "$ref": "Issue"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token identifying a page of results the server should return."
        }
      },
      "description": "The response to list issues.",
      "id": "ListIssuesResponse",
      "type": "object"
    },
    "Repository": {
      "properties": {
        "uid": {
          "description": "Output only. Unique identifier of the repository.",
          "readOnly": true,
          "type": "string"
        },
        "updateTime": {
          "description": "Output only. Update timestamp.",
          "format": "google-datetime",
          "type": "string",
          "readOnly": true
        },
        "initialConfig": {
          "$ref": "InitialConfig",
          "description": "Input only. Initial configurations for the repository."
        },
        "etag": {
          "description": "Optional. This checksum is computed by the server based on the value of other fields, and may be sent on update and delete requests to ensure the client has an up-to-date value before proceeding.",
          "type": "string"
        },
        "createTime": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Create timestamp.",
          "format": "google-datetime"
        },
        "name": {
          "description": "Identifier. A unique identifier for a repository. The name should be of the format: `projects/{project}/locations/{location_id}/repositories/{repository_id}`",
          "type": "string"
        },
        "uris": {
          "readOnly": true,
          "$ref": "URIs",
          "description": "Output only. URIs for the repository."
        },
        "description": {
          "type": "string",
          "description": "Optional. Description of the repository, which cannot exceed 500 characters."
        },
        "serviceAccount": {
          "type": "string",
          "description": "Optional. Repository level service account (BYOSA)."
        },
        "instance": {
          "description": "Optional. The name of the instance in which the repository is hosted, formatted as `projects/{project_number}/locations/{location_id}/instances/{instance_id}` When creating repository via securesourcemanager.googleapis.com, this field is used as input. When creating repository via *.sourcemanager.dev, this field is output only.",
          "type": "string"
        },
        "scanConfig": {
          "$ref": "ScanConfig",
          "description": "Optional. Provides configuration for scanning."
        }
      },
      "id": "Repository",
      "description": "Metadata of a Secure Source Manager repository.",
      "type": "object"
    },
    "ListRepositoriesResponse": {
      "type": "object",
      "id": "ListRepositoriesResponse",
      "properties": {
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return.",
          "type": "string"
        },
        "repositories": {
          "description": "The list of repositories.",
          "items": {
            "$ref": "Repository"
          },
          "type": "array"
        }
      }
    },
    "FetchTreeResponse": {
      "id": "FetchTreeResponse",
      "type": "object",
      "properties": {
        "treeEntries": {
          "description": "The list of TreeEntry objects.",
          "items": {
            "$ref": "TreeEntry"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return.",
          "type": "string"
        }
      },
      "description": "Response message containing a list of TreeEntry objects."
    },
    "Review": {
      "description": "The review summary comment.",
      "type": "object",
      "id": "Review",
      "properties": {
        "actionType": {
          "enumDescriptions": [
            "Unspecified.",
            "A general review comment.",
            "Change required from this review.",
            "Change approved from this review."
          ],
          "type": "string",
          "enum": [
            "ACTION_TYPE_UNSPECIFIED",
            "COMMENT",
            "CHANGE_REQUESTED",
            "APPROVED"
          ],
          "description": "Required. The review action type."
        },
        "effectiveCommitSha": {
          "description": "Output only. The effective commit sha this review is pointing to.",
          "type": "string",
          "readOnly": true
        },
        "body": {
          "description": "Optional. The comment body.",
          "type": "string"
        }
      }
    },
    "WorkforceIdentityFederationConfig": {
      "id": "WorkforceIdentityFederationConfig",
      "type": "object",
      "properties": {
        "enabled": {
          "type": "boolean",
          "description": "Optional. Immutable. Whether Workforce Identity Federation is enabled."
        }
      },
      "description": "WorkforceIdentityFederationConfig allows this instance to support users from external identity providers."
    }
  },
  "kind": "discovery#restDescription",
  "resources": {
    "projects": {
      "resources": {
        "locations": {
          "methods": {
            "get": {
              "parameters": {
                "name": {
                  "location": "path",
                  "description": "Resource name for the location.",
                  "type": "string",
                  "pattern": "^projects/[^/]+/locations/[^/]+$",
                  "required": true
                }
              },
              "flatPath": "v1/projects/{projectsId}/locations/{locationsId}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/securesourcemanager.read-write"
              ],
              "response": {
                "$ref": "Location"
              },
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "GET",
              "description": "Gets information about a location.",
              "path": "v1/{+name}",
              "id": "securesourcemanager.projects.locations.get"
            },
            "list": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/securesourcemanager.read-write"
              ],
              "httpMethod": "GET",
              "response": {
                "$ref": "ListLocationsResponse"
              },
              "id": "securesourcemanager.projects.locations.list",
              "path": "v1/{+name}/locations",
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1/projects/{projectsId}/locations",
              "description": "Lists information about the supported locations for this service. This method lists locations based on the resource scope provided in the ListLocationsRequest.name field: * **Global locations**: If `name` is empty, the method lists the public locations available to all projects. * **Project-specific locations**: If `name` follows the format `projects/{project}`, the method lists locations visible to that specific project. This includes public, private, or other project-specific locations enabled for the project. For gRPC and client library implementations, the resource name is passed as the `name` field. For direct service calls, the resource name is incorporated into the request path based on the specific service implementation and version.",
              "parameters": {
                "pageSize": {
                  "type": "integer",
                  "format": "int32",
                  "location": "query",
                  "description": "The maximum number of results to return. If not set, the service selects a default."
                },
                "name": {
                  "pattern": "^projects/[^/]+$",
                  "type": "string",
                  "description": "The resource that owns the locations collection, if applicable.",
                  "required": true,
                  "location": "path"
                },
                "filter": {
                  "type": "string",
                  "description": "A filter to narrow down results to a preferred subset. The filtering language accepts strings like `\"displayName=tokyo\"`, and is documented in more detail in [AIP-160](https://google.aip.dev/160).",
                  "location": "query"
                },
                "extraLocationTypes": {
                  "location": "query",
                  "repeated": true,
                  "description": "Optional. Do not use this field unless explicitly documented otherwise. This is primarily for internal usage.",
                  "type": "string"
                },
                "pageToken": {
                  "location": "query",
                  "description": "A page token received from the `next_page_token` field in the response. Send that page token to receive the subsequent page.",
                  "type": "string"
                }
              }
            }
          },
          "resources": {
            "instances": {
              "methods": {
                "setIamPolicy": {
                  "id": "securesourcemanager.projects.locations.instances.setIamPolicy",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/instances/{instancesId}:setIamPolicy",
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "resource"
                  ],
                  "path": "v1/{+resource}:setIamPolicy",
                  "description": "Sets the access control policy on the specified resource. Replaces any existing policy. Can return `NOT_FOUND`, `INVALID_ARGUMENT`, and `PERMISSION_DENIED` errors.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/securesourcemanager.read-write"
                  ],
                  "parameters": {
                    "resource": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/instances/[^/]+$",
                      "location": "path",
                      "description": "REQUIRED: The resource for which the policy is being specified. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
                      "type": "string",
                      "required": true
                    }
                  },
                  "request": {
                    "$ref": "SetIamPolicyRequest"
                  },
                  "response": {
                    "$ref": "Policy"
                  }
                },
                "getIamPolicy": {
                  "parameterOrder": [
                    "resource"
                  ],
                  "description": "Gets the access control policy for a resource. Returns an empty policy if the resource exists and does not have a policy set.",
                  "path": "v1/{+resource}:getIamPolicy",
                  "httpMethod": "GET",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/instances/{instancesId}:getIamPolicy",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/securesourcemanager.read-write"
                  ],
                  "id": "securesourcemanager.projects.locations.instances.getIamPolicy",
                  "response": {
                    "$ref": "Policy"
                  },
                  "parameters": {
                    "options.requestedPolicyVersion": {
                      "format": "int32",
                      "description": "Optional. The maximum policy version that will be used to format the policy. Valid values are 0, 1, and 3. Requests specifying an invalid value will be rejected. Requests for policies with any conditional role bindings must specify version 3. Policies with no conditional role bindings may specify any valid value or leave the field unset. The policy in the response might use the policy version that you specified, or it might use a lower policy version. For example, if you specify version 3, but the policy has no conditional role bindings, the response uses version 1. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies).",
                      "location": "query",
                      "type": "integer"
                    },
                    "resource": {
                      "description": "REQUIRED: The resource for which the policy is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/instances/[^/]+$",
                      "required": true,
                      "type": "string",
                      "location": "path"
                    }
                  }
                },
                "create": {
                  "path": "v1/{+parent}/instances",
                  "response": {
                    "$ref": "Operation"
                  },
                  "id": "securesourcemanager.projects.locations.instances.create",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/securesourcemanager.read-write"
                  ],
                  "httpMethod": "POST",
                  "parameters": {
                    "parent": {
                      "description": "Required. Value for parent.",
                      "location": "path",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true
                    },
                    "instanceId": {
                      "location": "query",
                      "type": "string",
                      "description": "Required. ID of the instance to be created."
                    },
                    "requestId": {
                      "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "request": {
                    "$ref": "Instance"
                  },
                  "description": "Creates a new instance in a given project and location.",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/instances",
                  "parameterOrder": [
                    "parent"
                  ]
                },
                "delete": {
                  "path": "v1/{+name}",
                  "httpMethod": "DELETE",
                  "description": "Deletes a single instance.",
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/instances/{instancesId}",
                  "parameters": {
                    "requestId": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes after the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000)."
                    },
                    "name": {
                      "description": "Required. Name of the resource.",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/instances/[^/]+$",
                      "type": "string",
                      "location": "path"
                    },
                    "force": {
                      "description": "Optional. If set to true, will force the deletion of the instance.",
                      "type": "boolean",
                      "location": "query"
                    }
                  },
                  "response": {
                    "$ref": "Operation"
                  },
                  "id": "securesourcemanager.projects.locations.instances.delete",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/securesourcemanager.read-write"
                  ]
                },
                "get": {
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/instances/{instancesId}",
                  "id": "securesourcemanager.projects.locations.instances.get",
                  "path": "v1/{+name}",
                  "httpMethod": "GET",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "required": true,
                      "description": "Required. Name of the resource.",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/instances/[^/]+$"
                    }
                  },
                  "response": {
                    "$ref": "Instance"
                  },
                  "description": "Gets details of a single instance.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/securesourcemanager.read-write"
                  ]
                },
                "list": {
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "ListInstancesResponse"
                  },
                  "description": "Lists Instances in a given project and location.",
                  "id": "securesourcemanager.projects.locations.instances.list",
                  "httpMethod": "GET",
                  "parameters": {
                    "pageSize": {
                      "format": "int32",
                      "description": "Optional. Requested page size. Server may return fewer items than requested. If unspecified, server will pick an appropriate default.",
                      "location": "query",
                      "type": "integer"
                    },
                    "pageToken": {
                      "location": "query",
                      "description": "Optional. A token identifying a page of results the server should return.",
                      "type": "string"
                    },
                    "filter": {
                      "location": "query",
                      "description": "Optional. Filter for filtering results.",
                      "type": "string"
                    },
                    "orderBy": {
                      "description": "Optional. Hint for how to order the results.",
                      "location": "query",
                      "type": "string"
                    },
                    "parent": {
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "description": "Required. Parent value for ListInstancesRequest.",
                      "pattern": "^projects/[^/]+/locations/[^/]+$"
                    }
                  },
                  "path": "v1/{+parent}/instances",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/instances",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/securesourcemanager.read-write"
                  ]
                },
                "testIamPermissions": {
                  "path": "v1/{+resource}:testIamPermissions",
                  "description": "Returns permissions that a caller has on the specified resource. If the resource does not exist, this will return an empty set of permissions, not a `NOT_FOUND` error. Note: This operation is designed to be used for building permission-aware UIs and command-line tools, not for authorization checking. This operation may \"fail open\" without warning.",
[...]
