{
  "basePath": "",
  "description": "Security Command Center API provides access to temporal views of assets and findings within an organization.",
  "mtlsRootUrl": "https://securitycenter.mtls.googleapis.com/",
  "fullyEncodeReservedExpansion": true,
  "servicePath": "",
  "discoveryVersion": "v1",
  "rootUrl": "https://securitycenter.googleapis.com/",
  "kind": "discovery#restDescription",
  "documentationLink": "https://cloud.google.com/security-command-center",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        },
        "https://www.googleapis.com/auth/securitycenter": {
          "description": "See, edit, configure, and delete your Google Cloud Security Command Center data and see the email address for your Google Account"
        }
      }
    }
  },
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "name": "securitycenter",
  "endpoints": [
    {
      "location": "me-central2",
      "endpointUrl": "https://securitycenter.me-central2.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "us",
      "endpointUrl": "https://securitycenter.us.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://securitycenter.eu.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "eu"
    }
  ],
  "schemas": {
    "GoogleCloudSecuritycenterV1IamDetails": {
      "type": "object",
      "id": "GoogleCloudSecuritycenterV1IamDetails",
      "properties": {
        "iamRolePermissions": {
          "items": {
            "$ref": "GoogleCloudSecuritycenterV1IamRolePermission"
          },
          "type": "array"
        }
      }
    },
    "GoogleCloudSecuritycenterV2Network": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        }
      },
      "id": "GoogleCloudSecuritycenterV2Network"
    },
    "Compliance": {
      "properties": {
        "ids": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "standard": {
          "type": "string"
        },
        "version": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "Compliance"
    },
    "GoogleCloudSecuritycenterV2Requests": {
      "id": "GoogleCloudSecuritycenterV2Requests",
      "properties": {
        "shortTermAllowed": {
          "type": "integer",
          "format": "int32"
        },
        "longTermDenied": {
          "format": "int32",
          "type": "integer"
        },
        "ratio": {
          "format": "double",
          "type": "number"
        },
        "longTermAllowed": {
          "format": "int32",
          "type": "integer"
        }
      },
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2BackupDisasterRecovery": {
      "properties": {
        "applications": {
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "backupCreateTime": {
          "format": "google-datetime",
          "type": "string"
        },
        "backupType": {
          "type": "string"
        },
        "profile": {
          "type": "string"
        },
        "backupTemplate": {
          "type": "string"
        },
        "appliance": {
          "type": "string"
        },
        "policyOptions": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "policies": {
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "host": {
          "type": "string"
        },
        "storagePool": {
          "type": "string"
        }
      },
      "id": "GoogleCloudSecuritycenterV2BackupDisasterRecovery",
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2ExfilResource": {
      "properties": {
        "components": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "name": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2ExfilResource"
    },
    "GoogleCloudSecuritycenterV2CloudLoggingEntry": {
      "id": "GoogleCloudSecuritycenterV2CloudLoggingEntry",
      "type": "object",
      "properties": {
        "logId": {
          "type": "string"
        },
        "insertId": {
          "type": "string"
        },
        "resourceContainer": {
          "type": "string"
        },
        "timestamp": {
          "format": "google-datetime",
          "type": "string"
        }
      }
    },
    "TestIamPermissionsRequest": {
      "properties": {
        "permissions": {
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "id": "TestIamPermissionsRequest",
      "type": "object"
    },
    "AdcSharedTemplateRevision": {
      "id": "AdcSharedTemplateRevision",
      "properties": {
        "name": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "LogEntry": {
      "type": "object",
      "id": "LogEntry",
      "properties": {
        "cloudLoggingEntry": {
          "$ref": "CloudLoggingEntry"
        }
      }
    },
    "ExportFindingsMetadata": {
      "properties": {
        "exportStartTime": {
          "format": "google-datetime",
          "type": "string"
        },
        "bigQueryDestination": {
          "$ref": "BigQueryDestination"
        }
      },
      "id": "ExportFindingsMetadata",
      "type": "object"
    },
    "PolicyViolationSummary": {
      "id": "PolicyViolationSummary",
      "properties": {
        "conformantResourcesCount": {
          "type": "string",
          "format": "int64"
        },
        "outOfScopeResourcesCount": {
          "type": "string",
          "format": "int64"
        },
        "policyViolationsCount": {
          "type": "string",
          "format": "int64"
        },
        "evaluationErrorsCount": {
          "type": "string",
          "format": "int64"
        }
      },
      "type": "object"
    },
    "AzureSubscription": {
      "id": "AzureSubscription",
      "type": "object",
      "properties": {
        "id": {
          "type": "string"
        },
        "displayName": {
          "type": "string"
        }
      }
    },
    "GoogleCloudSecuritycenterV2ResourceApplicationAttributesContactInfo": {
      "properties": {
        "email": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2ResourceApplicationAttributesContactInfo"
    },
    "DiscoveredWorkload": {
      "type": "object",
      "id": "DiscoveredWorkload",
      "properties": {
        "confidence": {
          "type": "string",
          "enum": [
            "CONFIDENCE_UNSPECIFIED",
            "CONFIDENCE_HIGH"
          ],
          "enumDescriptions": [
            "",
            ""
          ]
        },
        "detectedRelevantPackages": {
          "type": "boolean"
        },
        "detectedRelevantHardware": {
          "type": "boolean"
        },
        "workloadType": {
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "WORKLOAD_TYPE_UNSPECIFIED",
            "MCP_SERVER",
            "AI_INFERENCE",
            "AGENT"
          ]
        },
        "detectedRelevantKeywords": {
          "type": "boolean"
        }
      }
    },
    "GoogleCloudSecuritycenterV2Agent": {
      "properties": {
        "id": {
          "type": "string"
        },
        "displayName": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2Agent"
    },
    "EnvironmentVariable": {
      "properties": {
        "name": {
          "type": "string"
        },
        "val": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "EnvironmentVariable"
    },
    "Access": {
      "properties": {
        "serviceName": {
          "type": "string"
        },
        "userAgentFamily": {
          "type": "string"
        },
        "serviceAccountKeyName": {
          "type": "string"
        },
        "principalEmail": {
          "type": "string"
        },
        "serviceAccountDelegationInfo": {
          "items": {
            "$ref": "ServiceAccountDelegationInfo"
          },
          "type": "array"
        },
        "callerIp": {
          "type": "string"
        },
        "methodName": {
          "type": "string"
        },
        "userAgent": {
          "type": "string"
        },
        "callerIpGeo": {
          "$ref": "Geolocation"
        },
        "userName": {
          "type": "string"
        },
        "principalSubject": {
          "type": "string"
        }
      },
      "id": "Access",
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2Attack": {
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2Attack",
      "properties": {
        "volumePps": {
          "type": "integer",
          "deprecated": true,
          "format": "int32"
        },
        "volumeBps": {
          "format": "int32",
          "type": "integer",
          "deprecated": true
        },
        "volumeBpsLong": {
          "type": "string",
          "format": "int64"
        },
        "classification": {
          "type": "string"
        },
        "volumePpsLong": {
          "type": "string",
          "format": "int64"
        }
      }
    },
    "NodePool": {
      "id": "NodePool",
      "type": "object",
      "properties": {
        "nodes": {
          "items": {
            "$ref": "Node"
          },
          "type": "array"
        },
        "name": {
          "type": "string"
        }
      }
    },
    "DynamicMuteRecord": {
      "id": "DynamicMuteRecord",
      "properties": {
        "muteConfig": {
          "type": "string"
        },
        "matchTime": {
          "format": "google-datetime",
          "type": "string"
        }
      },
      "type": "object"
    },
    "Job": {
      "id": "Job",
      "properties": {
        "name": {
          "type": "string"
        },
        "state": {
          "readOnly": true,
          "type": "string",
          "enum": [
            "JOB_STATE_UNSPECIFIED",
            "PENDING",
            "RUNNING",
            "SUCCEEDED",
            "FAILED"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ]
        },
        "errorCode": {
          "format": "int32",
          "type": "integer"
        },
        "location": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "Exfiltration": {
      "properties": {
        "totalExfiltratedBytes": {
          "format": "int64",
          "type": "string"
        },
        "targets": {
          "items": {
            "$ref": "ExfilResource"
          },
          "type": "array"
        },
        "sources": {
          "type": "array",
          "items": {
            "$ref": "ExfilResource"
          }
        }
      },
      "id": "Exfiltration",
      "type": "object"
    },
    "GoogleCloudSecuritycenterV1EffectiveSecurityHealthAnalyticsCustomModule": {
      "properties": {
        "displayName": {
          "readOnly": true,
          "type": "string"
        },
        "customConfig": {
          "readOnly": true,
          "$ref": "GoogleCloudSecuritycenterV1CustomConfig"
        },
        "cloudProvider": {
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "CLOUD_PROVIDER_UNSPECIFIED",
            "GOOGLE_CLOUD_PLATFORM",
            "AMAZON_WEB_SERVICES",
            "MICROSOFT_AZURE"
          ]
        },
        "name": {
          "type": "string",
          "readOnly": true
        },
        "enablementState": {
          "readOnly": true,
          "type": "string",
          "enum": [
            "ENABLEMENT_STATE_UNSPECIFIED",
            "ENABLED",
            "DISABLED"
          ],
          "enumDescriptions": [
            "",
            "",
            ""
          ]
        }
      },
      "id": "GoogleCloudSecuritycenterV1EffectiveSecurityHealthAnalyticsCustomModule",
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2DataFlowEvent": {
      "id": "GoogleCloudSecuritycenterV2DataFlowEvent",
      "properties": {
        "operation": {
          "type": "string",
          "enum": [
            "OPERATION_UNSPECIFIED",
            "READ",
            "MOVE",
            "COPY"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ]
        },
        "eventId": {
          "type": "string"
        },
        "principalEmail": {
          "type": "string"
        },
        "eventTime": {
          "type": "string",
          "format": "google-datetime"
        },
        "violatedLocation": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2Package": {
      "type": "object",
      "properties": {
        "cpeUri": {
          "type": "string"
        },
        "packageVersion": {
          "type": "string"
        },
        "packageName": {
          "type": "string"
        },
        "packageType": {
          "type": "string"
        }
      },
      "id": "GoogleCloudSecuritycenterV2Package"
    },
    "GoogleCloudSecuritycenterV2ResourceApplicationAttributes": {
      "properties": {
        "developerOwners": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2ResourceApplicationAttributesContactInfo"
          }
        },
        "operatorOwners": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2ResourceApplicationAttributesContactInfo"
          }
        },
        "businessOwners": {
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2ResourceApplicationAttributesContactInfo"
          },
          "type": "array"
        },
        "criticality": {
          "$ref": "GoogleCloudSecuritycenterV2ResourceApplicationAttributesCriticality"
        },
        "environment": {
          "$ref": "GoogleCloudSecuritycenterV2ResourceApplicationAttributesEnvironment"
        }
      },
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2ResourceApplicationAttributes"
    },
    "GoogleCloudSecuritycenterV2MitreAttack": {
      "id": "GoogleCloudSecuritycenterV2MitreAttack",
      "properties": {
        "primaryTechniques": {
          "type": "array",
          "items": {
            "enumDescriptions": [
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              ""
            ],
            "type": "string",
            "enum": [
              "TECHNIQUE_UNSPECIFIED",
              "DATA_OBFUSCATION",
              "DATA_OBFUSCATION_STEGANOGRAPHY",
              "OS_CREDENTIAL_DUMPING",
              "OS_CREDENTIAL_DUMPING_PROC_FILESYSTEM",
              "OS_CREDENTIAL_DUMPING_ETC_PASSWORD_AND_ETC_SHADOW",
              "DATA_FROM_LOCAL_SYSTEM",
              "AUTOMATED_EXFILTRATION",
              "OBFUSCATED_FILES_OR_INFO",
              "STEGANOGRAPHY",
              "COMPILE_AFTER_DELIVERY",
              "COMMAND_OBFUSCATION",
              "SCHEDULED_TRANSFER",
              "SYSTEM_OWNER_USER_DISCOVERY",
              "MASQUERADING",
              "MATCH_LEGITIMATE_NAME_OR_LOCATION",
              "BOOT_OR_LOGON_INITIALIZATION_SCRIPTS",
              "STARTUP_ITEMS",
              "NETWORK_SERVICE_DISCOVERY",
              "SCHEDULED_TASK_JOB",
              "SCHEDULED_TASK_JOB_CRON",
              "CONTAINER_ORCHESTRATION_JOB",
              "PROCESS_INJECTION",
              "INPUT_CAPTURE",
              "INPUT_CAPTURE_KEYLOGGING",
              "PROCESS_DISCOVERY",
              "COMMAND_AND_SCRIPTING_INTERPRETER",
              "UNIX_SHELL",
              "PYTHON",
              "EXPLOITATION_FOR_PRIVILEGE_ESCALATION",
              "PERMISSION_GROUPS_DISCOVERY",
              "CLOUD_GROUPS",
              "INDICATOR_REMOVAL",
              "INDICATOR_REMOVAL_CLEAR_LINUX_OR_MAC_SYSTEM_LOGS",
              "INDICATOR_REMOVAL_CLEAR_COMMAND_HISTORY",
              "INDICATOR_REMOVAL_FILE_DELETION",
              "INDICATOR_REMOVAL_TIMESTOMP",
              "INDICATOR_REMOVAL_CLEAR_MAILBOX_DATA",
              "APPLICATION_LAYER_PROTOCOL",
              "DNS",
              "SOFTWARE_DEPLOYMENT_TOOLS",
              "VALID_ACCOUNTS",
              "DEFAULT_ACCOUNTS",
              "LOCAL_ACCOUNTS",
              "CLOUD_ACCOUNTS",
              "FILE_AND_DIRECTORY_DISCOVERY",
              "ACCOUNT_DISCOVERY_LOCAL_ACCOUNT",
              "PROXY",
              "EXTERNAL_PROXY",
              "MULTI_HOP_PROXY",
              "ACCOUNT_MANIPULATION",
              "ADDITIONAL_CLOUD_CREDENTIALS",
              "ADDITIONAL_CLOUD_ROLES",
              "SSH_AUTHORIZED_KEYS",
              "ADDITIONAL_CONTAINER_CLUSTER_ROLES",
              "MULTI_STAGE_CHANNELS",
              "INGRESS_TOOL_TRANSFER",
              "NATIVE_API",
              "BRUTE_FORCE",
              "AUTOMATED_COLLECTION",
              "SHARED_MODULES",
              "DATA_ENCODING",
              "STANDARD_ENCODING",
              "ACCESS_TOKEN_MANIPULATION",
              "TOKEN_IMPERSONATION_OR_THEFT",
              "CREATE_ACCOUNT",
              "LOCAL_ACCOUNT",
              "DEOBFUSCATE_DECODE_FILES_OR_INFO",
              "EXPLOIT_PUBLIC_FACING_APPLICATION",
              "SUPPLY_CHAIN_COMPROMISE",
              "COMPROMISE_SOFTWARE_DEPENDENCIES_AND_DEVELOPMENT_TOOLS",
              "EXPLOITATION_FOR_CLIENT_EXECUTION",
              "USER_EXECUTION",
              "EXPLOITATION_FOR_CREDENTIAL_ACCESS",
              "LINUX_AND_MAC_FILE_AND_DIRECTORY_PERMISSIONS_MODIFICATION",
              "DOMAIN_POLICY_MODIFICATION",
              "DATA_DESTRUCTION",
              "DATA_ENCRYPTED_FOR_IMPACT",
              "SERVICE_STOP",
              "INHIBIT_SYSTEM_RECOVERY",
              "FIRMWARE_CORRUPTION",
              "RESOURCE_HIJACKING",
              "NETWORK_DENIAL_OF_SERVICE",
              "CLOUD_SERVICE_DISCOVERY",
              "STEAL_APPLICATION_ACCESS_TOKEN",
              "ACCOUNT_ACCESS_REMOVAL",
              "TRANSFER_DATA_TO_CLOUD_ACCOUNT",
              "STEAL_WEB_SESSION_COOKIE",
              "CREATE_OR_MODIFY_SYSTEM_PROCESS",
              "EVENT_TRIGGERED_EXECUTION",
              "BOOT_OR_LOGON_AUTOSTART_EXECUTION",
              "KERNEL_MODULES_AND_EXTENSIONS",
              "SHORTCUT_MODIFICATION",
              "ABUSE_ELEVATION_CONTROL_MECHANISM",
              "ABUSE_ELEVATION_CONTROL_MECHANISM_SETUID_AND_SETGID",
              "ABUSE_ELEVATION_CONTROL_MECHANISM_SUDO_AND_SUDO_CACHING",
              "UNSECURED_CREDENTIALS",
              "CREDENTIALS_IN_FILES",
              "BASH_HISTORY",
              "PRIVATE_KEYS",
              "SUBVERT_TRUST_CONTROL",
              "INSTALL_ROOT_CERTIFICATE",
              "COMPROMISE_HOST_SOFTWARE_BINARY",
              "CREDENTIALS_FROM_PASSWORD_STORES",
              "MODIFY_AUTHENTICATION_PROCESS",
              "PLUGGABLE_AUTHENTICATION_MODULES",
              "MULTI_FACTOR_AUTHENTICATION",
              "IMPAIR_DEFENSES",
              "DISABLE_OR_MODIFY_TOOLS",
              "INDICATOR_BLOCKING",
              "DISABLE_OR_MODIFY_LINUX_AUDIT_SYSTEM",
              "HIDE_ARTIFACTS",
              "HIDDEN_FILES_AND_DIRECTORIES",
              "HIDDEN_USERS",
              "EXFILTRATION_OVER_WEB_SERVICE",
              "EXFILTRATION_TO_CLOUD_STORAGE",
              "DYNAMIC_RESOLUTION",
              "LATERAL_TOOL_TRANSFER",
              "HIJACK_EXECUTION_FLOW",
              "HIJACK_EXECUTION_FLOW_DYNAMIC_LINKER_HIJACKING",
              "MODIFY_CLOUD_COMPUTE_INFRASTRUCTURE",
              "CREATE_SNAPSHOT",
              "CLOUD_INFRASTRUCTURE_DISCOVERY",
              "DEVELOP_CAPABILITIES",
              "DEVELOP_CAPABILITIES_MALWARE",
              "OBTAIN_CAPABILITIES",
              "OBTAIN_CAPABILITIES_MALWARE",
              "OBTAIN_CAPABILITIES_VULNERABILITIES",
              "ACTIVE_SCANNING",
              "SCANNING_IP_BLOCKS",
              "STAGE_CAPABILITIES",
              "UPLOAD_MALWARE",
              "CONTAINER_ADMINISTRATION_COMMAND",
              "DEPLOY_CONTAINER",
              "ESCAPE_TO_HOST",
              "CONTAINER_AND_RESOURCE_DISCOVERY",
              "REFLECTIVE_CODE_LOADING",
              "STEAL_OR_FORGE_AUTHENTICATION_CERTIFICATES",
              "FINANCIAL_THEFT"
            ]
          }
        },
        "primaryTactic": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "TACTIC_UNSPECIFIED",
            "RECONNAISSANCE",
            "RESOURCE_DEVELOPMENT",
            "INITIAL_ACCESS",
            "EXECUTION",
            "PERSISTENCE",
            "PRIVILEGE_ESCALATION",
            "DEFENSE_EVASION",
            "CREDENTIAL_ACCESS",
            "DISCOVERY",
            "LATERAL_MOVEMENT",
            "COLLECTION",
            "COMMAND_AND_CONTROL",
            "EXFILTRATION",
            "IMPACT"
          ]
        },
        "version": {
          "type": "string"
        },
        "additionalTactics": {
          "type": "array",
          "items": {
            "enumDescriptions": [
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              ""
            ],
            "type": "string",
            "enum": [
              "TACTIC_UNSPECIFIED",
              "RECONNAISSANCE",
              "RESOURCE_DEVELOPMENT",
              "INITIAL_ACCESS",
              "EXECUTION",
              "PERSISTENCE",
              "PRIVILEGE_ESCALATION",
              "DEFENSE_EVASION",
              "CREDENTIAL_ACCESS",
              "DISCOVERY",
              "LATERAL_MOVEMENT",
              "COLLECTION",
              "COMMAND_AND_CONTROL",
              "EXFILTRATION",
              "IMPACT"
            ]
          }
        },
        "additionalTechniques": {
          "items": {
            "enumDescriptions": [
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              ""
            ],
            "type": "string",
            "enum": [
              "TECHNIQUE_UNSPECIFIED",
              "DATA_OBFUSCATION",
              "DATA_OBFUSCATION_STEGANOGRAPHY",
              "OS_CREDENTIAL_DUMPING",
              "OS_CREDENTIAL_DUMPING_PROC_FILESYSTEM",
              "OS_CREDENTIAL_DUMPING_ETC_PASSWORD_AND_ETC_SHADOW",
              "DATA_FROM_LOCAL_SYSTEM",
              "AUTOMATED_EXFILTRATION",
              "OBFUSCATED_FILES_OR_INFO",
              "STEGANOGRAPHY",
              "COMPILE_AFTER_DELIVERY",
              "COMMAND_OBFUSCATION",
              "SCHEDULED_TRANSFER",
              "SYSTEM_OWNER_USER_DISCOVERY",
              "MASQUERADING",
              "MATCH_LEGITIMATE_NAME_OR_LOCATION",
              "BOOT_OR_LOGON_INITIALIZATION_SCRIPTS",
              "STARTUP_ITEMS",
              "NETWORK_SERVICE_DISCOVERY",
              "SCHEDULED_TASK_JOB",
              "SCHEDULED_TASK_JOB_CRON",
              "CONTAINER_ORCHESTRATION_JOB",
              "PROCESS_INJECTION",
              "INPUT_CAPTURE",
              "INPUT_CAPTURE_KEYLOGGING",
              "PROCESS_DISCOVERY",
              "COMMAND_AND_SCRIPTING_INTERPRETER",
              "UNIX_SHELL",
              "PYTHON",
              "EXPLOITATION_FOR_PRIVILEGE_ESCALATION",
              "PERMISSION_GROUPS_DISCOVERY",
              "CLOUD_GROUPS",
              "INDICATOR_REMOVAL",
              "INDICATOR_REMOVAL_CLEAR_LINUX_OR_MAC_SYSTEM_LOGS",
              "INDICATOR_REMOVAL_CLEAR_COMMAND_HISTORY",
              "INDICATOR_REMOVAL_FILE_DELETION",
              "INDICATOR_REMOVAL_TIMESTOMP",
              "INDICATOR_REMOVAL_CLEAR_MAILBOX_DATA",
              "APPLICATION_LAYER_PROTOCOL",
              "DNS",
              "SOFTWARE_DEPLOYMENT_TOOLS",
              "VALID_ACCOUNTS",
              "DEFAULT_ACCOUNTS",
              "LOCAL_ACCOUNTS",
              "CLOUD_ACCOUNTS",
              "FILE_AND_DIRECTORY_DISCOVERY",
              "ACCOUNT_DISCOVERY_LOCAL_ACCOUNT",
              "PROXY",
              "EXTERNAL_PROXY",
              "MULTI_HOP_PROXY",
              "ACCOUNT_MANIPULATION",
              "ADDITIONAL_CLOUD_CREDENTIALS",
              "ADDITIONAL_CLOUD_ROLES",
              "SSH_AUTHORIZED_KEYS",
              "ADDITIONAL_CONTAINER_CLUSTER_ROLES",
              "MULTI_STAGE_CHANNELS",
              "INGRESS_TOOL_TRANSFER",
              "NATIVE_API",
              "BRUTE_FORCE",
              "AUTOMATED_COLLECTION",
              "SHARED_MODULES",
              "DATA_ENCODING",
              "STANDARD_ENCODING",
              "ACCESS_TOKEN_MANIPULATION",
              "TOKEN_IMPERSONATION_OR_THEFT",
              "CREATE_ACCOUNT",
              "LOCAL_ACCOUNT",
              "DEOBFUSCATE_DECODE_FILES_OR_INFO",
              "EXPLOIT_PUBLIC_FACING_APPLICATION",
              "SUPPLY_CHAIN_COMPROMISE",
              "COMPROMISE_SOFTWARE_DEPENDENCIES_AND_DEVELOPMENT_TOOLS",
              "EXPLOITATION_FOR_CLIENT_EXECUTION",
              "USER_EXECUTION",
              "EXPLOITATION_FOR_CREDENTIAL_ACCESS",
              "LINUX_AND_MAC_FILE_AND_DIRECTORY_PERMISSIONS_MODIFICATION",
              "DOMAIN_POLICY_MODIFICATION",
              "DATA_DESTRUCTION",
              "DATA_ENCRYPTED_FOR_IMPACT",
              "SERVICE_STOP",
              "INHIBIT_SYSTEM_RECOVERY",
              "FIRMWARE_CORRUPTION",
              "RESOURCE_HIJACKING",
              "NETWORK_DENIAL_OF_SERVICE",
              "CLOUD_SERVICE_DISCOVERY",
              "STEAL_APPLICATION_ACCESS_TOKEN",
              "ACCOUNT_ACCESS_REMOVAL",
              "TRANSFER_DATA_TO_CLOUD_ACCOUNT",
              "STEAL_WEB_SESSION_COOKIE",
              "CREATE_OR_MODIFY_SYSTEM_PROCESS",
              "EVENT_TRIGGERED_EXECUTION",
              "BOOT_OR_LOGON_AUTOSTART_EXECUTION",
              "KERNEL_MODULES_AND_EXTENSIONS",
              "SHORTCUT_MODIFICATION",
              "ABUSE_ELEVATION_CONTROL_MECHANISM",
              "ABUSE_ELEVATION_CONTROL_MECHANISM_SETUID_AND_SETGID",
              "ABUSE_ELEVATION_CONTROL_MECHANISM_SUDO_AND_SUDO_CACHING",
              "UNSECURED_CREDENTIALS",
              "CREDENTIALS_IN_FILES",
              "BASH_HISTORY",
              "PRIVATE_KEYS",
              "SUBVERT_TRUST_CONTROL",
              "INSTALL_ROOT_CERTIFICATE",
              "COMPROMISE_HOST_SOFTWARE_BINARY",
              "CREDENTIALS_FROM_PASSWORD_STORES",
              "MODIFY_AUTHENTICATION_PROCESS",
              "PLUGGABLE_AUTHENTICATION_MODULES",
              "MULTI_FACTOR_AUTHENTICATION",
              "IMPAIR_DEFENSES",
              "DISABLE_OR_MODIFY_TOOLS",
              "INDICATOR_BLOCKING",
              "DISABLE_OR_MODIFY_LINUX_AUDIT_SYSTEM",
              "HIDE_ARTIFACTS",
              "HIDDEN_FILES_AND_DIRECTORIES",
              "HIDDEN_USERS",
              "EXFILTRATION_OVER_WEB_SERVICE",
              "EXFILTRATION_TO_CLOUD_STORAGE",
              "DYNAMIC_RESOLUTION",
              "LATERAL_TOOL_TRANSFER",
              "HIJACK_EXECUTION_FLOW",
              "HIJACK_EXECUTION_FLOW_DYNAMIC_LINKER_HIJACKING",
              "MODIFY_CLOUD_COMPUTE_INFRASTRUCTURE",
              "CREATE_SNAPSHOT",
              "CLOUD_INFRASTRUCTURE_DISCOVERY",
              "DEVELOP_CAPABILITIES",
              "DEVELOP_CAPABILITIES_MALWARE",
              "OBTAIN_CAPABILITIES",
              "OBTAIN_CAPABILITIES_MALWARE",
              "OBTAIN_CAPABILITIES_VULNERABILITIES",
              "ACTIVE_SCANNING",
              "SCANNING_IP_BLOCKS",
              "STAGE_CAPABILITIES",
              "UPLOAD_MALWARE",
              "CONTAINER_ADMINISTRATION_COMMAND",
              "DEPLOY_CONTAINER",
              "ESCAPE_TO_HOST",
              "CONTAINER_AND_RESOURCE_DISCOVERY",
              "REFLECTIVE_CODE_LOADING",
              "STEAL_OR_FORGE_AUTHENTICATION_CERTIFICATES",
              "FINANCIAL_THEFT"
            ]
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2ExternalExposure": {
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2ExternalExposure",
      "properties": {
        "backendService": {
          "type": "string"
        },
        "hostnameUri": {
          "type": "string"
        },
        "internalBackendService": {
          "type": "string"
        },
        "loadBalancerFirewallPolicy": {
          "type": "string"
        },
        "privateIpAddress": {
          "type": "string"
        },
        "httpResponse": {
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2HttpResponse"
          },
          "type": "array"
        },
        "networkPathInsightsGenerationTime": {
          "type": "string",
          "format": "google-datetime"
        },
        "exposedService": {
          "type": "string"
        },
        "networkEndpointGroup": {
          "type": "string"
        },
        "publicIpAddress": {
          "type": "string"
        },
        "pscNetworkAttachment": {
          "type": "string"
        },
        "exposedApplication": {
          "type": "string"
        },
        "privatePort": {
          "type": "string"
        },
        "backendBucket": {
          "type": "string"
        },
        "instanceGroup": {
          "type": "string"
        },
        "networkIngressFirewallPolicy": {
          "type": "string"
        },
        "forwardingRule": {
          "type": "string"
        },
        "serviceFirewallPolicy": {
          "type": "string"
        },
        "exposedEndpoint": {
          "type": "string"
        },
        "pscServiceAttachment": {
          "type": "string"
        },
        "publicPort": {
          "type": "string"
        }
      }
    },
    "SecurityPolicy": {
      "type": "object",
      "properties": {
        "preview": {
          "type": "boolean"
        },
        "name": {
          "type": "string"
        },
        "type": {
          "type": "string"
        }
      },
      "id": "SecurityPolicy"
    },
    "GoogleCloudSecuritycenterV2Indicator": {
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2Indicator",
      "properties": {
        "uris": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "signatures": {
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2ProcessSignature"
          },
          "type": "array"
        },
        "ipAddresses": {
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "domains": {
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      }
    },
    "PortRange": {
      "id": "PortRange",
      "properties": {
        "min": {
          "type": "string",
          "format": "int64"
        },
        "max": {
          "type": "string",
          "format": "int64"
        }
      },
      "type": "object"
    },
    "Subject": {
      "type": "object",
      "properties": {
        "kind": {
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "AUTH_TYPE_UNSPECIFIED",
            "USER",
            "SERVICEACCOUNT",
            "GROUP"
          ]
        },
        "name": {
          "type": "string"
        },
        "ns": {
          "type": "string"
        }
      },
      "id": "Subject"
    },
    "GoogleCloudSecuritycenterV1ResourceApplicationAttributes": {
      "type": "object",
      "properties": {
        "operatorOwners": {
          "items": {
            "$ref": "GoogleCloudSecuritycenterV1ResourceApplicationAttributesContactInfo"
          },
          "type": "array"
        },
        "criticality": {
          "$ref": "GoogleCloudSecuritycenterV1ResourceApplicationAttributesCriticality"
        },
        "environment": {
          "$ref": "GoogleCloudSecuritycenterV1ResourceApplicationAttributesEnvironment"
        },
        "developerOwners": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV1ResourceApplicationAttributesContactInfo"
          }
        },
        "businessOwners": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV1ResourceApplicationAttributesContactInfo"
          }
        }
      },
      "id": "GoogleCloudSecuritycenterV1ResourceApplicationAttributes"
    },
    "ExfilResource": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        },
        "components": {
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "id": "ExfilResource"
    },
    "GoogleCloudSecuritycenterV2Pod": {
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2Pod",
      "properties": {
        "name": {
          "type": "string"
        },
        "containers": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2Container"
          }
        },
        "labels": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2Label"
          }
        },
        "ns": {
          "type": "string"
        }
      }
    },
    "SecretEnvironmentVariable": {
      "id": "SecretEnvironmentVariable",
      "type": "object",
      "properties": {
        "key": {
          "type": "string"
        }
      }
    },
    "GoogleCloudSecuritycenterV2IssueResourceApplicationAttributesEnvironment": {
      "properties": {
        "type": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "ENVIRONMENT_TYPE_UNSPECIFIED",
            "PRODUCTION",
            "STAGING",
            "TEST",
            "DEVELOPMENT"
          ]
        }
      },
      "id": "GoogleCloudSecuritycenterV2IssueResourceApplicationAttributesEnvironment",
      "type": "object"
    },
    "TestIamPermissionsResponse": {
      "properties": {
        "permissions": {
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "type": "object",
      "id": "TestIamPermissionsResponse"
    },
    "Operation": {
      "properties": {
        "response": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "type": "object"
        },
        "error": {
          "$ref": "Status"
        },
        "done": {
          "type": "boolean"
        },
        "metadata": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "type": "object"
        },
        "name": {
          "type": "string"
        }
      },
      "id": "Operation",
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2Geolocation": {
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2Geolocation",
      "properties": {
        "regionCode": {
          "type": "string"
        }
      }
    },
    "AzureMetadata": {
      "type": "object",
      "id": "AzureMetadata",
      "properties": {
        "managementGroups": {
          "type": "array",
          "items": {
            "$ref": "AzureManagementGroup"
          }
        },
        "resourceGroup": {
          "$ref": "AzureResourceGroup"
        },
        "tenant": {
          "$ref": "AzureTenant"
        },
        "subscription": {
          "$ref": "AzureSubscription"
        }
      }
    },
    "GoogleCloudSecuritycenterV2InvocationReference": {
      "id": "GoogleCloudSecuritycenterV2InvocationReference",
      "properties": {
        "invocationId": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2MemoryHashSignature": {
      "id": "GoogleCloudSecuritycenterV2MemoryHashSignature",
      "type": "object",
      "properties": {
        "detections": {
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2Detection"
          },
          "type": "array"
        },
        "binaryFamily": {
          "type": "string"
        }
      }
    },
    "SecurityCenterProperties": {
      "id": "SecurityCenterProperties",
      "type": "object",
      "properties": {
        "resourceOwners": {
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "resourceParent": {
          "type": "string"
        },
        "resourceType": {
          "type": "string"
        },
        "resourceProject": {
          "type": "string"
        },
        "resourceName": {
          "type": "string"
        }
      }
    },
    "GoogleCloudSecuritycenterV2ToxicCombination": {
      "type": "object",
      "properties": {
        "attackExposureScore": {
          "format": "double",
          "type": "number"
        },
        "relatedFindings": {
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "GoogleCloudSecuritycenterV2ToxicCombination"
    },
    "GoogleCloudSecuritycenterV2Subject": {
      "id": "GoogleCloudSecuritycenterV2Subject",
      "type": "object",
      "properties": {
        "ns": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "kind": {
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "AUTH_TYPE_UNSPECIFIED",
            "USER",
            "SERVICEACCOUNT",
            "GROUP"
          ]
        }
      }
    },
    "GoogleCloudSecuritycenterV2LogEntry": {
      "properties": {
        "cloudLoggingEntry": {
          "$ref": "GoogleCloudSecuritycenterV2CloudLoggingEntry"
        }
      },
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2LogEntry"
    },
    "GoogleCloudSecuritycenterV2IssueResourceAdcSharedTemplateRevision": {
      "properties": {
        "name": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2IssueResourceAdcSharedTemplateRevision"
    },
    "GroupFindingsRequest": {
      "properties": {
        "readTime": {
          "type": "string",
          "format": "google-datetime"
        },
        "pageSize": {
          "type": "integer",
          "format": "int32"
        },
        "groupBy": {
          "type": "string"
        },
        "pageToken": {
          "type": "string"
        },
        "filter": {
          "type": "string"
        }
      },
      "id": "GroupFindingsRequest",
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2Cve": {
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2Cve",
      "properties": {
        "zeroDay": {
          "type": "boolean"
        },
        "exploitReleaseDate": {
          "format": "google-datetime",
          "type": "string"
        },
        "firstExploitationDate": {
          "type": "string",
          "format": "google-datetime"
        },
        "id": {
          "type": "string"
        },
        "upstreamFixAvailable": {
          "type": "boolean"
        },
        "observedInTheWild": {
          "type": "boolean"
        },
        "references": {
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2Reference"
          },
          "type": "array"
        },
        "impact": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "RISK_RATING_UNSPECIFIED",
            "LOW",
            "MEDIUM",
            "HIGH",
            "CRITICAL"
          ]
        },
        "exploitationActivity": {
          "type": "string",
          "enum": [
            "EXPLOITATION_ACTIVITY_UNSPECIFIED",
            "WIDE",
            "CONFIRMED",
            "AVAILABLE",
            "ANTICIPATED",
            "NO_KNOWN"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            ""
          ]
        },
        "cvssv3": {
          "$ref": "GoogleCloudSecuritycenterV2Cvssv3"
        }
      }
    },
    "Container": {
      "type": "object",
      "properties": {
        "labels": {
          "items": {
            "$ref": "Label"
          },
          "type": "array"
        },
        "imageId": {
          "type": "string"
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime"
        },
        "name": {
          "type": "string"
        },
        "uri": {
          "type": "string"
        }
      },
      "id": "Container"
    },
    "GoogleCloudSecuritycenterV2Folder": {
      "id": "GoogleCloudSecuritycenterV2Folder",
      "properties": {
        "resourceFolder": {
          "type": "string"
        },
        "resourceFolderDisplayName": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "BackupDisasterRecovery": {
      "id": "BackupDisasterRecovery",
      "type": "object",
      "properties": {
        "applications": {
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "backupCreateTime": {
          "format": "google-datetime",
          "type": "string"
        },
        "profile": {
          "type": "string"
        },
        "policyOptions": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "host": {
          "type": "string"
        },
        "storagePool": {
          "type": "string"
        },
        "policies": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "backupType": {
          "type": "string"
        },
        "backupTemplate": {
          "type": "string"
        },
        "appliance": {
          "type": "string"
        }
      }
    },
    "GoogleCloudSecuritycenterV2ResourcePathNode": {
      "properties": {
        "displayName": {
          "type": "string"
        },
        "id": {
          "type": "string"
        },
        "nodeType": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "RESOURCE_PATH_NODE_TYPE_UNSPECIFIED",
            "GCP_ORGANIZATION",
            "GCP_FOLDER",
            "GCP_PROJECT",
            "AWS_ORGANIZATION",
            "AWS_ORGANIZATIONAL_UNIT",
            "AWS_ACCOUNT",
            "AZURE_MANAGEMENT_GROUP",
            "AZURE_SUBSCRIPTION",
            "AZURE_RESOURCE_GROUP"
          ]
        }
      },
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2ResourcePathNode"
    },
    "GoogleCloudSecuritycenterV2Cvssv3": {
      "id": "GoogleCloudSecuritycenterV2Cvssv3",
      "type": "object",
      "properties": {
        "attackVector": {
          "type": "string",
          "enum": [
            "ATTACK_VECTOR_UNSPECIFIED",
            "ATTACK_VECTOR_NETWORK",
            "ATTACK_VECTOR_ADJACENT",
            "ATTACK_VECTOR_LOCAL",
            "ATTACK_VECTOR_PHYSICAL"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ]
        },
        "attackComplexity": {
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "ATTACK_COMPLEXITY_UNSPECIFIED",
            "ATTACK_COMPLEXITY_LOW",
            "ATTACK_COMPLEXITY_HIGH"
          ]
        },
        "scope": {
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "SCOPE_UNSPECIFIED",
            "SCOPE_UNCHANGED",
            "SCOPE_CHANGED"
          ]
        },
        "baseScore": {
          "format": "double",
          "type": "number"
        },
        "availabilityImpact": {
          "type": "string",
          "enum": [
            "IMPACT_UNSPECIFIED",
            "IMPACT_HIGH",
            "IMPACT_LOW",
            "IMPACT_NONE"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ]
        },
        "userInteraction": {
          "type": "string",
          "enum": [
            "USER_INTERACTION_UNSPECIFIED",
            "USER_INTERACTION_NONE",
            "USER_INTERACTION_REQUIRED"
          ],
          "enumDescriptions": [
            "",
            "",
            ""
          ]
        },
        "confidentialityImpact": {
          "type": "string",
          "enum": [
            "IMPACT_UNSPECIFIED",
            "IMPACT_HIGH",
            "IMPACT_LOW",
            "IMPACT_NONE"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ]
        },
        "integrityImpact": {
          "type": "string",
          "enum": [
            "IMPACT_UNSPECIFIED",
            "IMPACT_HIGH",
            "IMPACT_LOW",
            "IMPACT_NONE"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ]
        },
        "privilegesRequired": {
          "type": "string",
          "enum": [
            "PRIVILEGES_REQUIRED_UNSPECIFIED",
            "PRIVILEGES_REQUIRED_NONE",
            "PRIVILEGES_REQUIRED_LOW",
            "PRIVILEGES_REQUIRED_HIGH"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ]
        }
      }
    },
    "GoogleCloudSecuritycenterV2IssueResourceApplicationAttributesContactInfo": {
      "properties": {
        "email": {
          "type": "string"
        }
      },
      "id": "GoogleCloudSecuritycenterV2IssueResourceApplicationAttributesContactInfo",
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2DetectorReference": {
      "type": "object",
      "properties": {
        "detectorId": {
          "type": "string"
        },
        "explanation": {
          "type": "string"
        },
        "displayName": {
          "type": "string"
        },
        "recommendation": {
          "type": "string"
        },
        "severity": {
          "type": "string",
          "enum": [
            "SEVERITY_UNSPECIFIED",
            "CRITICAL",
            "HIGH",
            "MEDIUM",
            "LOW"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ]
        }
      },
      "id": "GoogleCloudSecuritycenterV2DetectorReference"
    },
    "GoogleCloudSecuritycenterV2IssueResourceApplicationAttributesCriticality": {
      "properties": {
        "type": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "CRITICALITY_TYPE_UNSPECIFIED",
            "MISSION_CRITICAL",
            "HIGH",
            "MEDIUM",
            "LOW"
          ]
        }
      },
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2IssueResourceApplicationAttributesCriticality"
    },
    "GoogleCloudSecuritycenterV2IamDetails": {
      "properties": {
        "iamRolePermissions": {
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2IamRolePermission"
          },
          "type": "array"
        }
      },
      "id": "GoogleCloudSecuritycenterV2IamDetails",
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2Binding": {
      "properties": {
        "name": {
          "type": "string"
        },
        "role": {
          "$ref": "GoogleCloudSecuritycenterV2Role"
        },
        "subjects": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2Subject"
          }
        },
        "ns": {
          "type": "string"
        }
      },
      "id": "GoogleCloudSecuritycenterV2Binding",
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2Dataset": {
      "id": "GoogleCloudSecuritycenterV2Dataset",
      "properties": {
        "source": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "displayName": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2SecurityBulletin": {
      "properties": {
        "bulletinId": {
          "type": "string"
        },
        "suggestedUpgradeVersion": {
          "type": "string"
        },
        "submissionTime": {
          "format": "google-datetime",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2SecurityBulletin"
    },
    "GoogleCloudSecuritycenterV2ExternalSystem": {
      "id": "GoogleCloudSecuritycenterV2ExternalSystem",
      "properties": {
        "caseUri": {
          "type": "string"
        },
        "caseCreateTime": {
          "format": "google-datetime",
          "type": "string"
        },
        "casePriority": {
          "type": "string"
        },
        "externalSystemUpdateTime": {
          "type": "string",
          "format": "google-datetime"
        },
        "caseSla": {
          "type": "string",
          "format": "google-datetime"
        },
        "ticketInfo": {
          "$ref": "GoogleCloudSecuritycenterV2TicketInfo"
        },
        "status": {
          "type": "string"
        },
        "caseCloseTime": {
          "format": "google-datetime",
          "type": "string"
        },
        "assignees": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "name": {
          "type": "string"
        },
        "externalUid": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "InvocationReference": {
      "properties": {
        "invocationId": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "InvocationReference"
    },
    "GoogleCloudSecuritycenterV2IpRule": {
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2IpRule",
      "properties": {
        "protocol": {
          "type": "string"
        },
        "portRanges": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2PortRange"
          }
        }
      }
    },
    "Indicator": {
      "properties": {
        "ipAddresses": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "domains": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "signatures": {
          "type": "array",
          "items": {
            "$ref": "ProcessSignature"
          }
        },
        "uris": {
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "type": "object",
      "id": "Indicator"
    },
    "Reference": {
      "type": "object",
      "properties": {
        "uri": {
          "type": "string"
        },
        "source": {
          "type": "string"
        }
      },
      "id": "Reference"
    },
    "SensitivityScore": {
      "id": "SensitivityScore",
      "type": "object",
      "properties": {
        "score": {
          "type": "string",
          "enum": [
            "SENSITIVITY_SCORE_LEVEL_UNSPECIFIED",
            "SENSITIVITY_LOW",
            "SENSITIVITY_UNKNOWN",
            "SENSITIVITY_MODERATE",
            "SENSITIVITY_HIGH"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ]
        }
      }
    },
    "Cvssv3": {
      "properties": {
        "confidentialityImpact": {
          "type": "string",
          "enum": [
            "IMPACT_UNSPECIFIED",
            "IMPACT_HIGH",
            "IMPACT_LOW",
            "IMPACT_NONE"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ]
        },
        "attackVector": {
          "type": "string",
          "enum": [
            "ATTACK_VECTOR_UNSPECIFIED",
            "ATTACK_VECTOR_NETWORK",
            "ATTACK_VECTOR_ADJACENT",
            "ATTACK_VECTOR_LOCAL",
            "ATTACK_VECTOR_PHYSICAL"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ]
        },
        "scope": {
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "SCOPE_UNSPECIFIED",
            "SCOPE_UNCHANGED",
            "SCOPE_CHANGED"
          ]
        },
        "availabilityImpact": {
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "IMPACT_UNSPECIFIED",
            "IMPACT_HIGH",
            "IMPACT_LOW",
            "IMPACT_NONE"
          ]
        },
        "attackComplexity": {
          "type": "string",
          "enum": [
            "ATTACK_COMPLEXITY_UNSPECIFIED",
            "ATTACK_COMPLEXITY_LOW",
            "ATTACK_COMPLEXITY_HIGH"
          ],
          "enumDescriptions": [
            "",
            "",
            ""
          ]
        },
        "userInteraction": {
          "type": "string",
          "enum": [
            "USER_INTERACTION_UNSPECIFIED",
            "USER_INTERACTION_NONE",
            "USER_INTERACTION_REQUIRED"
          ],
          "enumDescriptions": [
            "",
            "",
            ""
          ]
        },
        "integrityImpact": {
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "IMPACT_UNSPECIFIED",
            "IMPACT_HIGH",
            "IMPACT_LOW",
            "IMPACT_NONE"
          ]
        },
        "privilegesRequired": {
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "PRIVILEGES_REQUIRED_UNSPECIFIED",
            "PRIVILEGES_REQUIRED_NONE",
            "PRIVILEGES_REQUIRED_LOW",
            "PRIVILEGES_REQUIRED_HIGH"
          ]
        },
        "baseScore": {
          "format": "double",
          "type": "number"
        }
      },
      "id": "Cvssv3",
      "type": "object"
    },
    "SecretFilePath": {
      "type": "object",
      "properties": {
        "path": {
          "type": "string"
        }
      },
      "id": "SecretFilePath"
    },
    "InfoType": {
      "id": "InfoType",
      "properties": {
        "version": {
          "type": "string"
        },
        "sensitivityScore": {
          "$ref": "SensitivityScore"
        },
        "name": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "TicketInfo": {
      "properties": {
        "assignee": {
          "type": "string"
        },
        "status": {
          "type": "string"
        },
        "id": {
          "type": "string"
        },
        "uri": {
          "type": "string"
        },
        "description": {
          "type": "string"
        },
        "updateTime": {
          "type": "string",
          "format": "google-datetime"
        }
      },
      "id": "TicketInfo",
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2Vulnerability": {
      "properties": {
        "reachable": {
          "type": "boolean"
        },
        "offendingPackage": {
          "$ref": "GoogleCloudSecuritycenterV2Package"
        },
        "providerRiskScore": {
          "type": "string",
          "format": "int64"
        },
        "securityBulletin": {
          "$ref": "GoogleCloudSecuritycenterV2SecurityBulletin"
        },
        "cwes": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2Cwe"
          }
        },
        "fixedPackage": {
          "$ref": "GoogleCloudSecuritycenterV2Package"
        },
        "cve": {
          "$ref": "GoogleCloudSecuritycenterV2Cve"
        }
      },
      "id": "GoogleCloudSecuritycenterV2Vulnerability",
      "type": "object"
    },
    "GoogleCloudSecuritycenterV1beta1Finding": {
      "type": "object",
      "id": "GoogleCloudSecuritycenterV1beta1Finding",
      "properties": {
        "category": {
          "type": "string"
        },
        "resourceName": {
          "type": "string"
        },
        "sourceProperties": {
          "type": "object",
          "additionalProperties": {
            "type": "any"
          }
        },
        "parent": {
          "type": "string"
        },
        "securityMarks": {
          "$ref": "GoogleCloudSecuritycenterV1beta1SecurityMarks",
          "readOnly": true
        },
        "name": {
          "type": "string"
        },
        "eventTime": {
          "format": "google-datetime",
          "type": "string"
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime"
        },
        "externalUri": {
          "type": "string"
        },
        "state": {
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "INACTIVE"
          ],
          "enumDescriptions": [
            "",
            "",
            ""
          ]
        }
      }
    },
    "AssetDiscoveryConfig": {
      "id": "AssetDiscoveryConfig",
      "type": "object",
      "properties": {
        "projectIds": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "inclusionMode": {
          "type": "string",
          "enum": [
            "INCLUSION_MODE_UNSPECIFIED",
            "INCLUDE_ONLY",
            "EXCLUDE"
          ],
          "enumDescriptions": [
            "",
            "",
            ""
          ]
        }
      }
    },
    "Process": {
      "properties": {
        "pid": {
          "type": "string",
          "format": "int64"
        },
        "binary": {
          "$ref": "File"
        },
        "name": {
          "type": "string"
        },
        "argumentsTruncated": {
          "type": "boolean"
        },
        "userId": {
          "type": "string",
          "format": "int64"
        },
        "script": {
          "$ref": "File"
        },
        "envVariables": {
          "type": "array",
          "items": {
            "$ref": "EnvironmentVariable"
          }
        },
        "args": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "libraries": {
          "items": {
            "$ref": "File"
          },
          "type": "array"
        },
        "envVariablesTruncated": {
          "type": "boolean"
        },
        "parentPid": {
          "type": "string",
          "format": "int64"
        }
      },
      "type": "object",
      "id": "Process"
    },
    "GoogleCloudSecuritycenterV2AzureResourceGroup": {
      "id": "GoogleCloudSecuritycenterV2AzureResourceGroup",
      "properties": {
        "id": {
          "type": "string"
        },
        "name": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "ArtifactGuardPolicies": {
      "type": "object",
      "properties": {
        "resourceId": {
          "type": "string"
        },
        "failingPolicies": {
          "items": {
            "$ref": "ArtifactGuardPolicy"
          },
          "type": "array"
        }
      },
      "id": "ArtifactGuardPolicies"
    },
    "AffectedResources": {
      "type": "object",
      "properties": {
        "count": {
          "format": "int64",
          "type": "string"
        }
      },
      "id": "AffectedResources"
    },
    "File": {
      "properties": {
        "partiallyHashed": {
          "type": "boolean"
        },
        "diskPath": {
          "$ref": "DiskPath"
        },
        "hashedSize": {
          "type": "string",
          "format": "int64"
        },
        "fileLoadState": {
          "type": "string",
          "enum": [
            "FILE_LOAD_STATE_UNSPECIFIED",
            "LOADED_BY_PROCESS",
            "NOT_LOADED_BY_PROCESS"
          ],
          "enumDescriptions": [
            "",
            "",
            ""
          ]
        },
        "contents": {
          "type": "string"
        },
        "path": {
          "type": "string"
        },
        "sha256": {
          "type": "string"
        },
        "size": {
          "format": "int64",
          "type": "string"
        },
        "operations": {
          "items": {
            "$ref": "FileOperation"
          },
          "type": "array"
        }
      },
      "id": "File",
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2MuteConfig": {
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2MuteConfig",
      "properties": {
        "updateTime": {
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "name": {
          "type": "string"
        },
        "expiryTime": {
          "format": "google-datetime",
          "type": "string"
        },
        "filter": {
          "type": "string"
        },
        "createTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "description": {
          "type": "string"
        },
        "type": {
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "MUTE_CONFIG_TYPE_UNSPECIFIED",
            "STATIC",
            "DYNAMIC"
          ]
        },
        "cryptoKeyName": {
          "readOnly": true,
          "type": "string"
        },
        "mostRecentEditor": {
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "GoogleCloudSecuritycenterV2BulkMuteFindingsResponse": {
      "properties": {},
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2BulkMuteFindingsResponse"
    },
    "ExternalExposure": {
      "properties": {
        "backendBucket": {
          "type": "string"
        },
        "backendService": {
          "type": "string"
        },
        "publicIpAddress": {
          "type": "string"
        },
        "pscNetworkAttachment": {
          "type": "string"
        },
        "networkEndpointGroup": {
          "type": "string"
        },
        "exposedApplication": {
          "type": "string"
        },
        "serviceFirewallPolicy": {
          "type": "string"
        },
        "pscServiceAttachment": {
          "type": "string"
        },
        "instanceGroup": {
          "type": "string"
        },
        "networkIngressFirewallPolicy": {
          "type": "string"
        },
        "loadBalancerFirewallPolicy": {
          "type": "string"
        },
        "hostnameUri": {
          "type": "string"
        },
        "exposedEndpoint": {
          "type": "string"
        },
        "internalBackendService": {
          "type": "string"
        },
        "privateIpAddress": {
          "type": "string"
        },
        "publicPort": {
          "type": "string"
        },
        "exposedService": {
          "type": "string"
        },
        "networkPathInsightsGenerationTime": {
          "format": "google-datetime",
          "type": "string"
        },
        "privatePort": {
          "type": "string"
        },
        "httpResponse": {
          "items": {
            "$ref": "HttpResponse"
          },
          "type": "array"
        },
        "forwardingRule": {
          "type": "string"
        }
      },
      "id": "ExternalExposure",
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2Secret": {
      "id": "GoogleCloudSecuritycenterV2Secret",
      "properties": {
        "type": {
          "type": "string"
        },
        "environmentVariable": {
          "$ref": "GoogleCloudSecuritycenterV2SecretEnvironmentVariable"
        },
        "status": {
          "$ref": "GoogleCloudSecuritycenterV2SecretStatus"
        },
        "filePath": {
          "$ref": "GoogleCloudSecuritycenterV2SecretFilePath"
        }
      },
      "type": "object"
    },
    "YaraRuleSignature": {
      "id": "YaraRuleSignature",
      "type": "object",
      "properties": {
        "yaraRule": {
          "type": "string"
        }
      }
    },
    "Binding": {
      "id": "Binding",
      "properties": {
        "members": {
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "role": {
          "type": "string"
        },
        "condition": {
          "$ref": "Expr"
        }
      },
      "type": "object"
    },
    "GetPolicyOptions": {
      "properties": {
        "requestedPolicyVersion": {
          "format": "int32",
          "type": "integer"
        }
      },
      "id": "GetPolicyOptions",
      "type": "object"
    },
    "SecurityBulletin": {
      "properties": {
        "submissionTime": {
          "format": "google-datetime",
          "type": "string"
        },
        "suggestedUpgradeVersion": {
          "type": "string"
        },
        "bulletinId": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "SecurityBulletin"
    },
    "GoogleCloudSecuritycenterV2DiskPath": {
      "id": "GoogleCloudSecuritycenterV2DiskPath",
      "properties": {
        "relativePath": {
          "type": "string"
        },
        "partitionUuid": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "ResourcePathNode": {
      "type": "object",
      "id": "ResourcePathNode",
      "properties": {
        "displayName": {
          "type": "string"
        },
        "nodeType": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "RESOURCE_PATH_NODE_TYPE_UNSPECIFIED",
            "GCP_ORGANIZATION",
            "GCP_FOLDER",
            "GCP_PROJECT",
            "AWS_ORGANIZATION",
            "AWS_ORGANIZATIONAL_UNIT",
            "AWS_ACCOUNT",
            "AZURE_MANAGEMENT_GROUP",
            "AZURE_SUBSCRIPTION",
            "AZURE_RESOURCE_GROUP"
          ]
        },
        "id": {
          "type": "string"
        }
      }
    },
    "ListSourcesResponse": {
      "id": "ListSourcesResponse",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string"
        },
        "sources": {
          "items": {
            "$ref": "Source"
          },
          "type": "array"
        }
      }
    },
    "GoogleCloudSecuritycenterV2AwsAccount": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string"
        },
        "name": {
          "type": "string"
        }
      },
      "id": "GoogleCloudSecuritycenterV2AwsAccount"
    },
    "GoogleCloudSecuritycenterV1beta1RunAssetDiscoveryResponse": {
      "type": "object",
      "id": "GoogleCloudSecuritycenterV1beta1RunAssetDiscoveryResponse",
      "properties": {
        "duration": {
          "format": "google-duration",
          "type": "string"
        },
        "state": {
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "COMPLETED",
            "SUPERSEDED",
            "TERMINATED"
          ]
        }
      }
    },
    "ListAssetsResponse": {
      "type": "object",
      "properties": {
        "totalSize": {
          "type": "integer",
          "format": "int32"
        },
        "readTime": {
          "type": "string",
          "format": "google-datetime"
        },
        "nextPageToken": {
          "type": "string"
        },
        "listAssetsResults": {
          "type": "array",
          "items": {
            "$ref": "ListAssetsResult"
          }
        }
      },
      "id": "ListAssetsResponse"
    },
    "CloudLoggingEntry": {
      "type": "object",
      "id": "CloudLoggingEntry",
      "properties": {
        "timestamp": {
          "type": "string",
          "format": "google-datetime"
        },
        "resourceContainer": {
          "type": "string"
        },
        "logId": {
          "type": "string"
        },
        "insertId": {
          "type": "string"
        }
      }
    },
    "GoogleCloudSecuritycenterV2Issue": {
      "properties": {
        "remediations": {
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "relatedFindings": {
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2IssueFinding"
          },
          "type": "array"
        },
        "primaryResource": {
          "$ref": "GoogleCloudSecuritycenterV2IssueResource"
        },
        "detection": {
          "type": "string"
        },
        "domains": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2IssueDomain"
          }
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "severity": {
          "type": "string",
          "enum": [
            "SEVERITY_UNSPECIFIED",
            "CRITICAL",
            "HIGH",
            "MEDIUM",
            "LOW"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ]
        },
        "description": {
          "type": "string"
        },
        "issueType": {
          "type": "string",
          "enum": [
            "ISSUE_TYPE_UNSPECIFIED",
            "CHOKEPOINT",
            "TOXIC_COMBINATION",
            "INSIGHT"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ]
        },
        "name": {
          "type": "string"
        },
        "exposureScore": {
          "format": "double",
          "type": "number"
        },
        "secondaryResources": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2IssueResource"
          }
        },
        "updateTime": {
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "state": {
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "INACTIVE"
          ],
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "readOnly": true
        },
        "mute": {
          "$ref": "GoogleCloudSecuritycenterV2IssueMute"
        },
        "lastObservationTime": {
          "type": "string",
          "format": "google-datetime"
        },
        "securityContexts": {
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2IssueSecurityContext"
          },
          "type": "array"
        }
      },
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2Issue"
    },
    "MemoryHashSignature": {
      "type": "object",
      "id": "MemoryHashSignature",
      "properties": {
        "detections": {
          "items": {
            "$ref": "Detection"
          },
          "type": "array"
        },
        "binaryFamily": {
          "type": "string"
        }
      }
    },
    "Framework": {
      "type": "object",
      "properties": {
        "category": {
          "items": {
            "type": "string",
            "enum": [
              "FRAMEWORK_CATEGORY_UNSPECIFIED",
              "SECURITY_BENCHMARKS",
              "ASSURED_WORKLOADS",
              "DATA_SECURITY",
              "GOOGLE_BEST_PRACTICES",
              "CUSTOM_FRAMEWORK"
            ],
            "enumDescriptions": [
              "",
              "",
              "",
              "",
              "",
              ""
            ]
          },
          "type": "array"
        },
        "type": {
          "type": "string",
          "enum": [
            "FRAMEWORK_TYPE_UNSPECIFIED",
            "FRAMEWORK_TYPE_BUILT_IN",
            "FRAMEWORK_TYPE_CUSTOM"
          ],
          "enumDescriptions": [
            "",
            "",
            ""
          ]
        },
        "displayName": {
          "type": "string"
        },
        "controls": {
          "items": {
            "$ref": "Control"
          },
          "type": "array"
        },
        "name": {
          "type": "string"
        }
      },
      "id": "Framework"
    },
    "GoogleCloudSecuritycenterV2CloudControl": {
      "properties": {
        "cloudControlName": {
          "type": "string"
        },
        "version": {
          "type": "integer",
          "format": "int32"
        },
        "type": {
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "CLOUD_CONTROL_TYPE_UNSPECIFIED",
            "BUILT_IN",
            "CUSTOM"
          ]
        },
        "policyType": {
          "type": "string"
        }
      },
      "id": "GoogleCloudSecuritycenterV2CloudControl",
      "type": "object"
    },
    "Object": {
      "type": "object",
      "properties": {
        "group": {
          "type": "string"
        },
        "containers": {
          "type": "array",
          "items": {
            "$ref": "Container"
          }
        },
        "kind": {
          "type": "string"
        },
        "ns": {
          "type": "string"
        },
        "name": {
          "type": "string"
        }
      },
      "id": "Object"
    },
    "SecretStatus": {
      "type": "object",
      "properties": {
        "lastUpdatedTime": {
          "format": "google-datetime",
          "type": "string"
        },
        "validity": {
          "type": "string",
          "enum": [
            "SECRET_VALIDITY_UNSPECIFIED",
            "SECRET_VALIDITY_UNSUPPORTED",
            "SECRET_VALIDITY_FAILED",
            "SECRET_VALIDITY_INVALID",
            "SECRET_VALIDITY_VALID"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ]
        }
      },
      "id": "SecretStatus"
    },
    "GoogleCloudSecuritycenterV2AgentAnomaly": {
      "id": "GoogleCloudSecuritycenterV2AgentAnomaly",
      "properties": {
        "invocationReferences": {
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2InvocationReference"
          },
          "type": "array"
        },
        "detectorReferences": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2DetectorReference"
          }
        },
        "confidenceScore": {
          "format": "double",
          "type": "number"
        }
      },
      "type": "object"
    },
    "Secret": {
      "properties": {
        "environmentVariable": {
          "$ref": "SecretEnvironmentVariable"
        },
        "type": {
          "type": "string"
        },
        "status": {
          "$ref": "SecretStatus"
        },
        "filePath": {
          "$ref": "SecretFilePath"
        }
      },
      "type": "object",
      "id": "Secret"
    },
    "GoogleCloudSecuritycenterV2Database": {
      "type": "object",
      "properties": {
        "version": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "grantees": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "query": {
          "type": "string"
        },
        "userName": {
          "type": "string"
        },
        "displayName": {
          "type": "string"
        }
      },
      "id": "GoogleCloudSecuritycenterV2Database"
    },
    "GoogleCloudSecuritycenterV1BigQueryExport": {
      "properties": {
        "principal": {
          "readOnly": true,
          "type": "string"
        },
        "description": {
          "type": "string"
        },
        "dataset": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "mostRecentEditor": {
          "readOnly": true,
          "type": "string"
        },
        "createTime": {
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "filter": {
          "type": "string"
        },
        "updateTime": {
          "format": "google-datetime",
          "type": "string",
          "readOnly": true
        }
      },
      "id": "GoogleCloudSecuritycenterV1BigQueryExport",
      "type": "object"
    },
    "AwsOrganization": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string"
        }
      },
      "id": "AwsOrganization"
    },
    "GoogleCloudSecuritycenterV1ResourceSelector": {
      "type": "object",
      "id": "GoogleCloudSecuritycenterV1ResourceSelector",
      "properties": {
        "resourceTypes": {
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      }
    },
    "GroupMembership": {
      "properties": {
        "groupType": {
          "type": "string",
          "enum": [
            "GROUP_TYPE_UNSPECIFIED",
            "GROUP_TYPE_TOXIC_COMBINATION",
            "GROUP_TYPE_CHOKEPOINT"
          ],
          "enumDescriptions": [
            "",
            "",
            ""
          ]
        },
        "groupId": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "GroupMembership"
    },
    "Role": {
      "properties": {
        "name": {
          "type": "string"
        },
        "kind": {
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "KIND_UNSPECIFIED",
            "ROLE",
            "CLUSTER_ROLE"
          ]
        },
        "ns": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "Role"
    },
    "GoogleCloudSecuritycenterV2IssueMute": {
      "type": "object",
      "properties": {
        "muteUpdateTime": {
          "type": "string",
          "format": "google-datetime"
        },
        "muteState": {
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "MUTE_STATE_UNSPECIFIED",
            "NOT_MUTED",
            "MUTED"
          ],
          "readOnly": true
        },
        "muteReason": {
          "type": "string"
        },
        "muteInitiator": {
          "type": "string"
        }
      },
      "id": "GoogleCloudSecuritycenterV2IssueMute"
    },
    "GoogleCloudSecuritycenterV2AffectedResources": {
      "properties": {
        "count": {
          "type": "string",
          "format": "int64"
        }
      },
      "id": "GoogleCloudSecuritycenterV2AffectedResources",
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2IssueResourceAdcApplicationTemplateRevision": {
      "properties": {
        "name": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2IssueResourceAdcApplicationTemplateRevision"
    },
    "GoogleCloudSecuritycenterV2KernelRootkit": {
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2KernelRootkit",
      "properties": {
        "unexpectedReadOnlyDataModification": {
          "type": "boolean"
        },
        "unexpectedSystemCallHandler": {
          "type": "boolean"
        },
        "unexpectedCodeModification": {
          "type": "boolean"
        },
        "unexpectedKprobeHandler": {
          "type": "boolean"
        },
        "unexpectedKernelCodePages": {
          "type": "boolean"
        },
        "unexpectedFtraceHandler": {
          "type": "boolean"
        },
        "name": {
          "type": "string"
        },
        "unexpectedInterruptHandler": {
          "type": "boolean"
        },
        "unexpectedProcessesInRunqueue": {
          "type": "boolean"
        }
      }
    },
    "GoogleCloudSecuritycenterV2NodePool": {
      "properties": {
        "name": {
          "type": "string"
        },
        "nodes": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2Node"
          }
        }
      },
      "id": "GoogleCloudSecuritycenterV2NodePool",
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2AgentDataAccessEvent": {
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2AgentDataAccessEvent",
      "properties": {
        "eventTime": {
          "format": "google-datetime",
          "type": "string"
        },
        "eventId": {
          "type": "string"
        },
        "principalSubject": {
          "type": "string"
        },
        "operation": {
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "OPERATION_UNSPECIFIED",
            "READ",
            "MOVE",
            "COPY"
          ]
        }
      }
    },
    "GoogleCloudSecuritycenterV2IssueSecurityContextContext": {
      "type": "object",
      "properties": {
        "values": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "type": {
          "type": "string"
        }
      },
      "id": "GoogleCloudSecuritycenterV2IssueSecurityContextContext"
    },
    "AttackExposure": {
      "properties": {
        "exposedMediumValueResourcesCount": {
          "format": "int32",
          "type": "integer"
        },
        "state": {
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "CALCULATED",
            "NOT_CALCULATED"
          ],
          "enumDescriptions": [
            "",
            "",
            ""
          ]
        },
        "score": {
          "format": "double",
          "type": "number"
        },
        "latestCalculationTime": {
          "format": "google-datetime",
          "type": "string"
        },
        "exposedLowValueResourcesCount": {
          "format": "int32",
          "type": "integer"
        },
        "attackExposureResult": {
          "type": "string"
        },
        "exposedHighValueResourcesCount": {
          "type": "integer",
          "format": "int32"
        }
      },
      "type": "object",
      "id": "AttackExposure"
    },
    "IpRule": {
      "id": "IpRule",
      "type": "object",
      "properties": {
        "protocol": {
          "type": "string"
        },
        "portRanges": {
          "type": "array",
          "items": {
            "$ref": "PortRange"
          }
        }
      }
    },
    "GoogleCloudSecuritycenterV2AccessReview": {
      "id": "GoogleCloudSecuritycenterV2AccessReview",
      "type": "object",
      "properties": {
        "version": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "resource": {
          "type": "string"
        },
        "ns": {
          "type": "string"
        },
        "verb": {
          "type": "string"
        },
        "group": {
          "type": "string"
        },
        "subresource": {
          "type": "string"
        }
      }
    },
    "RunAssetDiscoveryRequest": {
      "properties": {},
      "type": "object",
      "id": "RunAssetDiscoveryRequest"
    },
    "AzureTenant": {
      "properties": {
        "id": {
          "type": "string"
        },
        "displayName": {
          "type": "string"
        }
      },
      "id": "AzureTenant",
      "type": "object"
    },
    "GoogleCloudSecuritycenterV1p1beta1Finding": {
      "type": "object",
      "id": "GoogleCloudSecuritycenterV1p1beta1Finding",
      "properties": {
        "resourceName": {
          "type": "string"
        },
        "createTime": {
          "format": "google-datetime",
          "type": "string"
        },
        "eventTime": {
          "format": "google-datetime",
          "type": "string"
        },
        "securityMarks": {
          "readOnly": true,
          "$ref": "GoogleCloudSecuritycenterV1p1beta1SecurityMarks"
        },
        "canonicalName": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "parent": {
          "type": "string"
        },
        "externalUri": {
          "type": "string"
        },
        "sourceProperties": {
          "type": "object",
          "additionalProperties": {
            "type": "any"
          }
        },
        "category": {
          "type": "string"
        },
        "state": {
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "INACTIVE"
          ],
          "enumDescriptions": [
            "",
            "",
            ""
          ]
        },
        "severity": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "SEVERITY_UNSPECIFIED",
            "CRITICAL",
            "HIGH",
            "MEDIUM",
            "LOW"
          ]
        }
      }
    },
    "GoogleCloudSecuritycenterV2PolicyViolationSummary": {
      "type": "object",
      "properties": {
        "conformantResourcesCount": {
          "type": "string",
          "format": "int64"
        },
        "evaluationErrorsCount": {
          "format": "int64",
          "type": "string"
        },
        "outOfScopeResourcesCount": {
          "type": "string",
          "format": "int64"
        },
        "policyViolationsCount": {
          "type": "string",
          "format": "int64"
        }
      },
      "id": "GoogleCloudSecuritycenterV2PolicyViolationSummary"
    },
    "GoogleCloudSecuritycenterV2IssueResourceAzureMetadataAzureSubscription": {
      "properties": {
        "id": {
          "type": "string"
        },
        "displayName": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2IssueResourceAzureMetadataAzureSubscription"
    },
    "Connection": {
      "id": "Connection",
      "properties": {
        "sourcePort": {
          "type": "integer",
          "format": "int32"
        },
        "protocol": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "PROTOCOL_UNSPECIFIED",
            "ICMP",
            "TCP",
            "UDP",
            "GRE",
            "ESP"
          ]
        },
        "destinationPort": {
          "type": "integer",
          "format": "int32"
        },
        "sourceIp": {
          "type": "string"
        },
        "destinationIp": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2AdcApplication": {
      "properties": {
        "name": {
          "type": "string"
        },
        "attributes": {
          "$ref": "GoogleCloudSecuritycenterV2ResourceApplicationAttributes"
        }
      },
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2AdcApplication"
    },
    "ContactDetails": {
      "properties": {
        "contacts": {
          "type": "array",
          "items": {
            "$ref": "Contact"
          }
        }
      },
      "id": "ContactDetails",
      "type": "object"
    },
    "GoogleCloudSecuritycenterV1p1beta1RunAssetDiscoveryResponse": {
      "properties": {
        "duration": {
          "type": "string",
          "format": "google-duration"
        },
        "state": {
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "COMPLETED",
            "SUPERSEDED",
            "TERMINATED"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ]
        }
      },
      "type": "object",
      "id": "GoogleCloudSecuritycenterV1p1beta1RunAssetDiscoveryResponse"
    },
    "GoogleCloudSecuritycenterV2Job": {
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2Job",
      "properties": {
        "state": {
          "readOnly": true,
          "type": "string",
          "enum": [
            "JOB_STATE_UNSPECIFIED",
            "PENDING",
            "RUNNING",
            "SUCCEEDED",
            "FAILED"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ]
        },
        "errorCode": {
          "type": "integer",
          "format": "int32"
        },
        "name": {
          "type": "string"
        },
        "location": {
          "type": "string"
        }
      }
    },
    "GoogleCloudSecuritycenterV2ComplianceDetails": {
      "type": "object",
      "properties": {
        "cloudControlDeploymentNames": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "cloudControl": {
          "$ref": "GoogleCloudSecuritycenterV2CloudControl"
        },
        "frameworks": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2Framework"
          }
        }
      },
      "id": "GoogleCloudSecuritycenterV2ComplianceDetails"
    },
    "GoogleCloudSecuritycenterV2CloudDlpDataProfile": {
      "properties": {
        "infoTypes": {
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2InfoType"
          },
          "type": "array"
        },
        "dataProfile": {
          "type": "string"
        },
        "parentType": {
          "type": "string",
          "enum": [
            "PARENT_TYPE_UNSPECIFIED",
            "ORGANIZATION",
            "PROJECT"
          ],
          "enumDescriptions": [
            "",
            "",
            ""
          ]
        }
      },
      "id": "GoogleCloudSecuritycenterV2CloudDlpDataProfile",
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2SecretEnvironmentVariable": {
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2SecretEnvironmentVariable",
      "properties": {
        "key": {
          "type": "string"
        }
      }
    },
    "GoogleCloudSecuritycenterV2IssueResourceApplicationAttributes": {
      "id": "GoogleCloudSecuritycenterV2IssueResourceApplicationAttributes",
      "type": "object",
      "properties": {
        "developerOwners": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2IssueResourceApplicationAttributesContactInfo"
          }
        },
        "operatorOwners": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2IssueResourceApplicationAttributesContactInfo"
          }
        },
        "criticality": {
          "$ref": "GoogleCloudSecuritycenterV2IssueResourceApplicationAttributesCriticality"
        },
        "environment": {
          "$ref": "GoogleCloudSecuritycenterV2IssueResourceApplicationAttributesEnvironment"
        },
        "businessOwners": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2IssueResourceApplicationAttributesContactInfo"
          }
        }
      }
    },
    "GoogleCloudSecuritycenterV2Container": {
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2Container",
      "properties": {
        "labels": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2Label"
          }
        },
        "createTime": {
          "format": "google-datetime",
          "type": "string"
        },
        "uri": {
          "type": "string"
        },
        "imageId": {
          "type": "string"
        },
        "name": {
          "type": "string"
        }
      }
    },
    "GoogleCloudSecuritycenterV2FileOperation": {
      "type": "object",
      "properties": {
        "type": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "OPERATION_TYPE_UNSPECIFIED",
            "OPEN",
            "READ",
            "RENAME",
            "WRITE",
            "EXECUTE"
          ]
        }
      },
      "id": "GoogleCloudSecuritycenterV2FileOperation"
    },
    "CloudArmor": {
[...]
