{
  "rootUrl": "https://securityposture.googleapis.com/",
  "discoveryVersion": "v1",
  "fullyEncodeReservedExpansion": true,
  "revision": "20260817",
  "protocol": "rest",
  "title": "Security Posture API",
  "parameters": {
    "quotaUser": {
      "type": "string",
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "access_token": {
      "description": "OAuth access token.",
      "type": "string",
      "location": "query"
    },
    "callback": {
      "description": "JSONP",
      "location": "query",
      "type": "string"
    },
    "alt": {
      "type": "string",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "description": "Data format for response.",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query",
      "default": "json"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "location": "query",
      "type": "string"
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "location": "query",
      "default": "true",
      "type": "boolean"
    },
    "$.xgafv": {
      "description": "V1 error format.",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query",
      "type": "string",
      "enum": [
        "1",
        "2"
      ]
    },
    "fields": {
      "location": "query",
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "upload_protocol": {
      "location": "query",
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "key": {
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query",
      "type": "string"
    }
  },
  "canonicalName": "Security Posture",
  "kind": "discovery#restDescription",
  "documentationLink": "https://cloud.google.com/security-command-center",
  "mtlsRootUrl": "https://securityposture.mtls.googleapis.com/",
  "resources": {
    "organizations": {
      "resources": {
        "locations": {
          "methods": {
            "get": {
              "parameters": {
                "name": {
                  "type": "string",
                  "pattern": "^organizations/[^/]+/locations/[^/]+$",
                  "description": "Resource name for the location.",
                  "location": "path",
                  "required": true
                }
              },
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "GET",
              "response": {
                "$ref": "Location"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "path": "v1/{+name}",
              "id": "securityposture.organizations.locations.get",
              "description": "Gets information about a location.",
              "flatPath": "v1/organizations/{organizationsId}/locations/{locationsId}"
            },
            "list": {
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "ListLocationsResponse"
              },
              "description": "Lists information about the supported locations for this service. This method lists locations based on the resource scope provided in the ListLocationsRequest.name field: * **Global locations**: If `name` is empty, the method lists the public locations available to all projects. * **Project-specific locations**: If `name` follows the format `projects/{project}`, the method lists locations visible to that specific project. This includes public, private, or other project-specific locations enabled for the project. For gRPC and client library implementations, the resource name is passed as the `name` field. For direct service calls, the resource name is incorporated into the request path based on the specific service implementation and version.",
              "parameters": {
                "extraLocationTypes": {
                  "description": "Optional. Do not use this field unless explicitly documented otherwise. This is primarily for internal usage.",
                  "repeated": true,
                  "location": "query",
                  "type": "string"
                },
                "name": {
                  "description": "The resource that owns the locations collection, if applicable.",
                  "pattern": "^organizations/[^/]+$",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "filter": {
                  "description": "A filter to narrow down results to a preferred subset. The filtering language accepts strings like `\"displayName=tokyo\"`, and is documented in more detail in [AIP-160](https://google.aip.dev/160).",
                  "type": "string",
                  "location": "query"
                },
                "pageSize": {
                  "format": "int32",
                  "location": "query",
                  "type": "integer",
                  "description": "The maximum number of results to return. If not set, the service selects a default."
                },
                "pageToken": {
                  "type": "string",
                  "description": "A page token received from the `next_page_token` field in the response. Send that page token to receive the subsequent page.",
                  "location": "query"
                }
              },
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "path": "v1/{+name}/locations",
              "flatPath": "v1/organizations/{organizationsId}/locations",
              "id": "securityposture.organizations.locations.list"
            }
          },
          "resources": {
            "postureDeployments": {
              "methods": {
                "patch": {
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1/organizations/{organizationsId}/locations/{locationsId}/postureDeployments/{postureDeploymentsId}",
                  "id": "securityposture.organizations.locations.postureDeployments.patch",
                  "path": "v1/{+name}",
                  "response": {
                    "$ref": "Operation"
                  },
                  "request": {
                    "$ref": "PostureDeployment"
                  },
                  "description": "Updates an existing PostureDeployment. To prevent concurrent updates from overwriting each other, always follow the read-modify-write pattern when you update a posture deployment: 1. Call GetPostureDeployment to get the current version of the deployment. 2. Update the fields in the deployment as needed. 3. Call UpdatePostureDeployment to update the deployment. Ensure that your request includes the `etag` value from the GetPostureDeployment response. **Important:** If you omit the `etag` when you call UpdatePostureDeployment, then the updated deployment unconditionally overwrites the existing deployment.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "PATCH",
                  "parameters": {
                    "updateMask": {
                      "type": "string",
                      "location": "query",
                      "description": "Required. The fields in the PostureDeployment to update. You can update only the following fields: * PostureDeployment.posture_id * PostureDeployment.posture_revision_id",
                      "format": "google-fieldmask"
                    },
                    "name": {
                      "description": "Required. Identifier. The name of the posture deployment, in the format `organizations/{organization}/locations/global/postureDeployments/{deployment_id}`.",
                      "type": "string",
                      "pattern": "^organizations/[^/]+/locations/[^/]+/postureDeployments/[^/]+$",
                      "location": "path",
                      "required": true
                    }
                  }
                },
                "create": {
                  "id": "securityposture.organizations.locations.postureDeployments.create",
                  "httpMethod": "POST",
                  "parameters": {
                    "postureDeploymentId": {
                      "location": "query",
                      "description": "Required. An identifier for the posture deployment.",
                      "type": "string"
                    },
                    "parent": {
                      "type": "string",
                      "pattern": "^organizations/[^/]+/locations/[^/]+$",
                      "location": "path",
                      "required": true,
                      "description": "Required. The parent resource name, in the format `organizations/{organization}/locations/global`."
                    }
                  },
                  "response": {
                    "$ref": "Operation"
                  },
                  "request": {
                    "$ref": "PostureDeployment"
                  },
                  "path": "v1/{+parent}/postureDeployments",
                  "description": "Creates a new PostureDeployment in a given project and location.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1/organizations/{organizationsId}/locations/{locationsId}/postureDeployments",
                  "parameterOrder": [
                    "parent"
                  ]
                },
                "list": {
                  "parameterOrder": [
                    "parent"
                  ],
                  "parameters": {
                    "pageToken": {
                      "description": "Optional. A pagination token returned from a previous request to list posture deployments. Provide this token to retrieve the next page of results.",
                      "location": "query",
                      "type": "string"
                    },
                    "pageSize": {
                      "description": "Optional. The maximum number of posture deployments to return. The default value is `500`. If you exceed the maximum value of `1000`, then the service uses the maximum value.",
                      "format": "int32",
                      "type": "integer",
                      "location": "query"
                    },
                    "filter": {
                      "location": "query",
                      "description": "Optional. A filter to apply to the list of postures, in the format defined in [AIP-160: Filtering](https://google.aip.dev/160).",
                      "type": "string"
                    },
                    "parent": {
                      "pattern": "^organizations/[^/]+/locations/[^/]+$",
                      "description": "Required. The parent resource name, in the format `organizations/{organization}/locations/global`.",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "ListPostureDeploymentsResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "securityposture.organizations.locations.postureDeployments.list",
                  "path": "v1/{+parent}/postureDeployments",
                  "description": "Lists every PostureDeployment in a project and location.",
                  "flatPath": "v1/organizations/{organizationsId}/locations/{locationsId}/postureDeployments"
                },
                "delete": {
                  "response": {
                    "$ref": "Operation"
                  },
                  "description": "Deletes a PostureDeployment.",
                  "id": "securityposture.organizations.locations.postureDeployments.delete",
                  "parameters": {
                    "name": {
                      "pattern": "^organizations/[^/]+/locations/[^/]+/postureDeployments/[^/]+$",
                      "location": "path",
                      "required": true,
                      "description": "Required. The name of the posture deployment, in the format `organizations/{organization}/locations/global/postureDeployments/{posture_id}`.",
                      "type": "string"
                    },
                    "etag": {
                      "location": "query",
                      "description": "Optional. An opaque identifier for the current version of the posture deployment. If you provide this value, then it must match the existing value. If the values don't match, then the request fails with an ABORTED error. If you omit this value, then the posture deployment is deleted regardless of its current `etag` value.",
                      "type": "string"
                    }
                  },
                  "httpMethod": "DELETE",
                  "path": "v1/{+name}",
                  "flatPath": "v1/organizations/{organizationsId}/locations/{locationsId}/postureDeployments/{postureDeploymentsId}",
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "get": {
                  "response": {
                    "$ref": "PostureDeployment"
                  },
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "name": {
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "description": "Required. The name of the PostureDeployment, in the format `organizations/{organization}/locations/global/postureDeployments/{posture_deployment_id}`.",
                      "pattern": "^organizations/[^/]+/locations/[^/]+/postureDeployments/[^/]+$"
                    }
                  },
                  "path": "v1/{+name}",
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1/organizations/{organizationsId}/locations/{locationsId}/postureDeployments/{postureDeploymentsId}",
                  "id": "securityposture.organizations.locations.postureDeployments.get",
                  "description": "Gets details for a PostureDeployment."
                }
              }
            },
            "postures": {
              "methods": {
                "patch": {
                  "httpMethod": "PATCH",
                  "parameters": {
                    "revisionId": {
                      "type": "string",
                      "location": "query",
                      "description": "Required. The revision ID of the posture to update. If the posture revision that you update is currently deployed, then a new revision of the posture is created."
                    },
                    "name": {
                      "type": "string",
                      "pattern": "^organizations/[^/]+/locations/[^/]+/postures/[^/]+$",
                      "location": "path",
                      "required": true,
                      "description": "Required. Identifier. The name of the posture, in the format `organizations/{organization}/locations/global/postures/{posture_id}`."
                    },
                    "updateMask": {
                      "type": "string",
                      "format": "google-fieldmask",
                      "location": "query",
                      "description": "Required. The fields in the Posture to update. You can update only the following fields: * Posture.description * Posture.policy_sets * Posture.state"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1/organizations/{organizationsId}/locations/{locationsId}/postures/{posturesId}",
                  "path": "v1/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "Operation"
                  },
                  "description": "Updates a revision of an existing Posture. If the posture revision that you update is currently deployed, then a new revision of the posture is created. To prevent concurrent updates from overwriting each other, always follow the read-modify-write pattern when you update a posture: 1. Call GetPosture to get the current version of the posture. 2. Update the fields in the posture as needed. 3. Call UpdatePosture to update the posture. Ensure that your request includes the `etag` value from the GetPosture response. **Important:** If you omit the `etag` when you call UpdatePosture, then the updated posture unconditionally overwrites the existing posture.",
                  "request": {
                    "$ref": "Posture"
                  },
                  "id": "securityposture.organizations.locations.postures.patch"
                },
                "listRevisions": {
                  "id": "securityposture.organizations.locations.postures.listRevisions",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1/organizations/{organizationsId}/locations/{locationsId}/postures/{posturesId}:listRevisions",
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1/{+name}:listRevisions",
                  "response": {
                    "$ref": "ListPostureRevisionsResponse"
                  },
                  "description": "Lists all revisions of a single Posture.",
                  "httpMethod": "GET",
                  "parameters": {
                    "pageToken": {
                      "description": "Optional. A pagination token from a previous request to list posture revisions. Provide this token to retrieve the next page of results.",
                      "location": "query",
                      "type": "string"
                    },
                    "name": {
                      "pattern": "^organizations/[^/]+/locations/[^/]+/postures/[^/]+$",
                      "description": "Required. The name of the Posture, in the format `organizations/{organization}/locations/global/postures/{posture_id}`.",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    },
                    "pageSize": {
                      "type": "integer",
                      "description": "Optional. The maximum number of posture revisions to return. The default value is `500`. If you exceed the maximum value of `1000`, then the service uses the maximum value.",
                      "format": "int32",
                      "location": "query"
                    }
                  }
                },
                "get": {
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1/organizations/{organizationsId}/locations/{locationsId}/postures/{posturesId}",
                  "path": "v1/{+name}",
                  "parameters": {
                    "name": {
                      "pattern": "^organizations/[^/]+/locations/[^/]+/postures/[^/]+$",
                      "type": "string",
                      "description": "Required. The name of the Posture, in the format `organizations/{organization}/locations/global/postures/{posture_id}`.",
                      "location": "path",
                      "required": true
                    },
                    "revisionId": {
                      "type": "string",
                      "location": "query",
                      "description": "Optional. The posture revision to retrieve. If not specified, the most recently updated revision is retrieved."
                    }
                  },
                  "httpMethod": "GET",
                  "id": "securityposture.organizations.locations.postures.get",
                  "response": {
                    "$ref": "Posture"
                  },
                  "description": "Gets a single revision of a Posture.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "delete": {
                  "id": "securityposture.organizations.locations.postures.delete",
                  "description": "Deletes all revisions of a Posture. You can only delete a posture if none of its revisions are deployed.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1/organizations/{organizationsId}/locations/{locationsId}/postures/{posturesId}",
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1/{+name}",
                  "httpMethod": "DELETE",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "required": true,
                      "description": "Required. The name of the Posture, in the format `organizations/{organization}/locations/global/postures/{posture_id}`.",
                      "type": "string",
                      "pattern": "^organizations/[^/]+/locations/[^/]+/postures/[^/]+$"
                    },
                    "etag": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. An opaque identifier for the current version of the posture. If you provide this value, then it must match the existing value. If the values don't match, then the request fails with an ABORTED error. If you omit this value, then the posture is deleted regardless of its current `etag` value."
                    }
                  },
                  "response": {
                    "$ref": "Operation"
                  }
                },
                "create": {
                  "flatPath": "v1/organizations/{organizationsId}/locations/{locationsId}/postures",
                  "id": "securityposture.organizations.locations.postures.create",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1/{+parent}/postures",
                  "response": {
                    "$ref": "Operation"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "request": {
                    "$ref": "Posture"
                  },
                  "httpMethod": "POST",
                  "description": "Creates a new Posture.",
                  "parameters": {
                    "postureId": {
                      "type": "string",
                      "location": "query",
                      "description": "Required. An identifier for the posture."
                    },
                    "parent": {
                      "location": "path",
                      "required": true,
                      "description": "Required. The parent resource name, in the format `organizations/{organization}/locations/global`.",
                      "type": "string",
                      "pattern": "^organizations/[^/]+/locations/[^/]+$"
                    }
                  }
                },
                "extract": {
                  "response": {
                    "$ref": "Operation"
                  },
                  "id": "securityposture.organizations.locations.postures.extract",
                  "path": "v1/{+parent}/postures:extract",
                  "parameterOrder": [
                    "parent"
                  ],
                  "httpMethod": "POST",
                  "flatPath": "v1/organizations/{organizationsId}/locations/{locationsId}/postures:extract",
                  "parameters": {
                    "parent": {
                      "description": "Required. The parent resource name, in the format `organizations/{organization}/locations/global`.",
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "pattern": "^organizations/[^/]+/locations/[^/]+$"
                    }
                  },
                  "request": {
                    "$ref": "ExtractPostureRequest"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Extracts existing policies from an organization, folder, or project, and applies them to another organization, folder, or project as a Posture. If the other organization, folder, or project already has a posture, then the result of the long-running operation is an ALREADY_EXISTS error."
                },
                "list": {
                  "description": "Lists the most recent revisions of all Posture resources in a specified organization and location.",
                  "id": "securityposture.organizations.locations.postures.list",
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "ListPosturesResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "filter": {
                      "description": "Optional. A filter to apply to the list of postures, in the format defined in [AIP-160: Filtering](https://google.aip.dev/160).",
                      "location": "query",
                      "type": "string"
                    },
                    "parent": {
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "description": "Required. The parent resource name, in the format `organizations/{organization}/locations/global`.",
                      "pattern": "^organizations/[^/]+/locations/[^/]+$"
                    },
                    "pageToken": {
                      "description": "A pagination token returned from a previous request to list postures. Provide this token to retrieve the next page of results.",
                      "type": "string",
                      "location": "query"
                    },
                    "pageSize": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The maximum number of postures to return. The default value is `500`. If you exceed the maximum value of `1000`, then the service uses the maximum value.",
                      "location": "query"
                    }
                  },
                  "path": "v1/{+parent}/postures",
                  "parameterOrder": [
                    "parent"
                  ],
                  "flatPath": "v1/organizations/{organizationsId}/locations/{locationsId}/postures"
                }
              }
            },
            "postureTemplates": {
              "methods": {
                "get": {
                  "flatPath": "v1/organizations/{organizationsId}/locations/{locationsId}/postureTemplates/{postureTemplatesId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1/{+name}",
                  "httpMethod": "GET",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "pattern": "^organizations/[^/]+/locations/[^/]+/postureTemplates/[^/]+$",
                      "description": "Required. The name of the PostureTemplate, in the format `organizations/{organization}/locations/global/postureTemplates/{posture_template}`."
                    },
                    "revisionId": {
                      "description": "Optional. The posture template revision to retrieve. If not specified, the most recently updated revision is retrieved.",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "description": "Gets a single revision of a PostureTemplate.",
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "PostureTemplate"
                  },
                  "id": "securityposture.organizations.locations.postureTemplates.get"
                },
                "list": {
                  "httpMethod": "GET",
                  "parameters": {
                    "filter": {
                      "type": "string",
                      "description": "Optional. A filter to apply to the list of postures, in the format defined in [AIP-160: Filtering](https://google.aip.dev/160).",
                      "location": "query"
                    },
                    "parent": {
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "pattern": "^organizations/[^/]+/locations/[^/]+$",
                      "description": "Required. The parent resource name, in the format `organizations/{organization}/locations/global`."
                    },
                    "pageSize": {
                      "description": "Optional. The maximum number of posture templates to return. The default value is `500`. If you exceed the maximum value of `1000`, then the service uses the maximum value.",
                      "location": "query",
                      "format": "int32",
                      "type": "integer"
                    },
                    "pageToken": {
                      "description": "Optional. A pagination token returned from a previous request to list posture templates. Provide this token to retrieve the next page of results.",
                      "type": "string",
                      "location": "query"
                    }
                  },
                  "description": "Lists every PostureTemplate in a given organization and location.",
                  "flatPath": "v1/organizations/{organizationsId}/locations/{locationsId}/postureTemplates",
                  "parameterOrder": [
                    "parent"
                  ],
                  "path": "v1/{+parent}/postureTemplates",
                  "response": {
                    "$ref": "ListPostureTemplatesResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "securityposture.organizations.locations.postureTemplates.list"
                }
              }
            },
            "reports": {
              "methods": {
                "list": {
                  "description": "Lists every Report in a given organization and location.",
                  "parameterOrder": [
                    "parent"
                  ],
                  "path": "v1/{+parent}/reports",
                  "response": {
                    "$ref": "ListReportsResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "GET",
                  "parameters": {
                    "pageSize": {
                      "location": "query",
                      "type": "integer",
                      "description": "Optional. The maximum number of reports to return. The default value is `500`. If you exceed the maximum value of `1000`, then the service uses the maximum value.",
                      "format": "int32"
                    },
                    "filter": {
                      "type": "string",
                      "description": "Optional. A filter to apply to the list of reports, in the format defined in [AIP-160: Filtering](https://google.aip.dev/160).",
                      "location": "query"
                    },
                    "parent": {
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "pattern": "^organizations/[^/]+/locations/[^/]+$",
                      "description": "Required. The parent resource name, in the format `organizations/{organization}/locations/global`."
                    },
                    "pageToken": {
                      "type": "string",
                      "description": "Optional. A pagination token returned from a previous request to list reports. Provide this token to retrieve the next page of results.",
                      "location": "query"
                    }
                  },
                  "id": "securityposture.organizations.locations.reports.list",
                  "flatPath": "v1/organizations/{organizationsId}/locations/{locationsId}/reports"
                },
                "get": {
                  "path": "v1/{+name}",
                  "response": {
                    "$ref": "Report"
                  },
                  "id": "securityposture.organizations.locations.reports.get",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Gets details for a Report.",
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1/organizations/{organizationsId}/locations/{locationsId}/reports/{reportsId}",
                  "httpMethod": "GET",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "description": "Required. The name of the report, in the format `organizations/{organization}/locations/global/reports/{report_id}`.",
                      "pattern": "^organizations/[^/]+/locations/[^/]+/reports/[^/]+$",
                      "location": "path",
                      "required": true
                    }
                  }
                },
                "createIaCValidationReport": {
                  "response": {
                    "$ref": "Operation"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "description": "Validates a specified infrastructure-as-code (IaC) configuration, and creates a Report with the validation results. Only Terraform configurations are supported. Only modified assets are validated.",
                  "path": "v1/{+parent}/reports:createIaCValidationReport",
                  "id": "securityposture.organizations.locations.reports.createIaCValidationReport",
                  "flatPath": "v1/organizations/{organizationsId}/locations/{locationsId}/reports:createIaCValidationReport",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "request": {
                    "$ref": "CreateIaCValidationReportRequest"
                  },
                  "httpMethod": "POST",
                  "parameters": {
                    "parent": {
                      "pattern": "^organizations/[^/]+/locations/[^/]+$",
                      "type": "string",
                      "description": "Required. The parent resource name, in the format `organizations/{organization}/locations/global`.",
                      "location": "path",
                      "required": true
                    }
                  }
                }
              }
            },
            "operations": {
              "methods": {
                "delete": {
                  "description": "Deletes a long-running operation. This method indicates that the client is no longer interested in the operation result. It does not cancel the operation. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`.",
                  "response": {
                    "$ref": "Empty"
                  },
                  "path": "v1/{+name}",
                  "httpMethod": "DELETE",
                  "id": "securityposture.organizations.locations.operations.delete",
                  "parameters": {
                    "name": {
                      "pattern": "^organizations/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "description": "The name of the operation resource to be deleted."
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1/organizations/{organizationsId}/locations/{locationsId}/operations/{operationsId}"
                },
                "get": {
                  "id": "securityposture.organizations.locations.operations.get",
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1/{+name}",
                  "response": {
                    "$ref": "Operation"
                  },
                  "parameters": {
                    "name": {
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "pattern": "^organizations/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "description": "The name of the operation resource."
                    }
                  },
                  "flatPath": "v1/organizations/{organizationsId}/locations/{locationsId}/operations/{operationsId}",
                  "httpMethod": "GET",
                  "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service."
                },
                "list": {
                  "parameters": {
                    "filter": {
                      "type": "string",
                      "description": "The standard list filter.",
                      "location": "query"
                    },
                    "pageSize": {
                      "location": "query",
                      "type": "integer",
                      "description": "The standard list page size.",
                      "format": "int32"
                    },
                    "name": {
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "pattern": "^organizations/[^/]+/locations/[^/]+$",
                      "description": "The name of the operation's parent resource."
                    },
                    "pageToken": {
                      "location": "query",
                      "description": "The standard list page token.",
                      "type": "string"
                    },
                    "returnPartialSuccess": {
                      "location": "query",
                      "description": "When set to `true`, operations that are reachable are returned as normal, and those that are unreachable are returned in the ListOperationsResponse.unreachable field. This can only be `true` when reading across collections. For example, when `parent` is set to `\"projects/example/locations/-\"`. This field is not supported by default and will result in an `UNIMPLEMENTED` error if set unless explicitly documented otherwise in service or product specific documentation.",
                      "type": "boolean"
                    }
                  },
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`.",
                  "path": "v1/{+name}/operations",
                  "flatPath": "v1/organizations/{organizationsId}/locations/{locationsId}/operations",
                  "id": "securityposture.organizations.locations.operations.list",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "ListOperationsResponse"
                  }
                },
                "cancel": {
                  "response": {
                    "$ref": "Empty"
                  },
                  "path": "v1/{+name}:cancel",
                  "id": "securityposture.organizations.locations.operations.cancel",
                  "request": {
                    "$ref": "CancelOperationRequest"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1/organizations/{organizationsId}/locations/{locationsId}/operations/{operationsId}:cancel",
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "POST",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "description": "The name of the operation resource to be cancelled.",
                      "pattern": "^organizations/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "location": "path",
                      "required": true
                    }
                  },
                  "description": "Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`."
                }
              }
            }
          }
        }
      }
    }
  },
  "id": "securityposture:v1",
  "schemas": {
    "Report": {
      "properties": {
        "createTime": {
          "format": "google-datetime",
          "description": "Output only. The time at which the report was created.",
          "type": "string",
          "readOnly": true
        },
        "iacValidationReport": {
          "readOnly": true,
          "$ref": "IaCValidationReport",
          "description": "Output only. An infrastructure-as-code (IaC) validation report."
        },
        "name": {
          "description": "Required. The name of the report, in the format `organizations/{organization}/locations/global/reports/{report_id}`.",
          "type": "string"
        },
        "updateTime": {
          "description": "Output only. The time at which the report was last updated.",
          "format": "google-datetime",
          "type": "string",
          "readOnly": true
        }
      },
      "description": "Details of a report.",
      "type": "object",
      "id": "Report"
    },
    "Property": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "Required. The name of the custom source property."
        },
        "valueExpression": {
          "description": "Optional. The CEL expression for the value of the custom source property. For resource properties, you can return the value of the property or a string enclosed in quotation marks.",
          "$ref": "Expr"
        }
      },
      "id": "Property",
      "description": "A name-value pair used as a custom source property."
    },
    "ListReportsResponse": {
      "type": "object",
      "description": "Response message for ListReports.",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A pagination token. To retrieve the next page of results, call the method again with this token."
        },
        "unreachable": {
          "items": {
            "type": "string"
          },
          "description": "Locations that were temporarily unavailable and could not be reached.",
          "type": "array"
        },
        "reports": {
          "description": "The list of Report resources.",
          "type": "array",
          "items": {
            "$ref": "Report"
          }
        }
      },
      "id": "ListReportsResponse"
    },
    "Operation": {
      "properties": {
        "error": {
          "$ref": "Status",
          "description": "The error result of the operation in case of failure or cancellation."
        },
        "metadata": {
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "type": "object"
        },
        "done": {
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available.",
          "type": "boolean"
        },
        "response": {
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`."
        },
        "name": {
          "type": "string",
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`."
        }
      },
      "type": "object",
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "id": "Operation"
    },
    "ListLocationsResponse": {
      "id": "ListLocationsResponse",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "The standard List next-page token."
        },
        "locations": {
          "description": "A list of locations that matches the specified filter in the request.",
          "items": {
            "$ref": "Location"
          },
          "type": "array"
        }
      },
      "type": "object",
      "description": "The response message for Locations.ListLocations."
    },
    "PolicyDetails": {
      "type": "object",
      "id": "PolicyDetails",
      "description": "Details of a policy that was violated.",
      "properties": {
        "constraint": {
          "description": "Information about the constraint that was violated. The format of this information can change at any time without prior notice. Your application must not depend on this information in any way.",
          "type": "string"
        },
        "description": {
          "description": "A description of the policy.",
          "type": "string"
        },
        "complianceStandards": {
          "description": "The compliance standards that the policy maps to. For example, `CIS-2.0 1.15`.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "constraintType": {
          "type": "string",
          "enum": [
            "CONSTRAINT_TYPE_UNSPECIFIED",
            "SECURITY_HEALTH_ANALYTICS_CUSTOM_MODULE",
            "ORG_POLICY_CUSTOM",
            "SECURITY_HEALTH_ANALYTICS_MODULE",
            "ORG_POLICY",
            "REGO_POLICY"
          ],
          "description": "The type of constraint that was violated.",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "A custom module for Security Health Analytics.",
            "A custom organization policy constraint.",
            "A built-in detector for Security Health Analytics.",
            "A predefined organization policy constraint.",
            "A custom rego policy constraint."
          ]
        }
      }
    },
    "IaCValidationReport": {
      "id": "IaCValidationReport",
      "description": "Details of an infrastructure-as-code (IaC) validation report.",
      "type": "object",
      "properties": {
        "note": {
          "description": "Additional information about the report.",
          "type": "string"
        },
        "violations": {
          "type": "array",
          "description": "A list of every Violation found in the IaC configuration.",
          "items": {
            "$ref": "Violation"
          }
        }
      }
    },
    "AssetDetails": {
      "properties": {
        "assetType": {
          "description": "The type of Cloud Asset Inventory asset. For a list of asset types, see [Supported asset types](https://cloud.google.com/asset-inventory/docs/supported-asset-types).",
          "type": "string"
        },
        "asset": {
          "type": "string",
          "description": "Information about the Cloud Asset Inventory asset that violated a policy. The format of this information can change at any time without prior notice. Your application must not depend on this information in any way."
        }
      },
      "type": "object",
      "description": "Details of a Cloud Asset Inventory asset that caused a violation.",
      "id": "AssetDetails"
    },
    "Status": {
      "id": "Status",
      "properties": {
        "code": {
          "format": "int32",
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "type": "integer"
        },
        "message": {
          "type": "string",
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client."
        },
        "details": {
          "type": "array",
          "items": {
            "additionalProperties": {
              "description": "Properties of the object. Contains field @type with type URL.",
              "type": "any"
            },
            "type": "object"
          },
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use."
        }
      },
      "type": "object",
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors)."
    },
    "Expr": {
      "id": "Expr",
      "properties": {
        "expression": {
          "description": "Textual representation of an expression in Common Expression Language syntax.",
          "type": "string"
        },
        "description": {
          "type": "string",
          "description": "Optional. Description of the expression. This is a longer text which describes the expression, e.g. when hovered over it in a UI."
        },
        "location": {
          "description": "Optional. String indicating the location of the expression for error reporting, e.g. a file name and a position in the file.",
          "type": "string"
        },
        "title": {
          "description": "Optional. Title for the expression, i.e. a short string describing its purpose. This can be used e.g. in UIs which allow to enter the expression.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Represents a textual expression in the Common Expression Language (CEL) syntax. CEL is a C-like expression language. The syntax and semantics of CEL are documented at https://github.com/google/cel-spec. Example (Comparison): title: \"Summary size limit\" description: \"Determines if a summary is less than 100 chars\" expression: \"document.summary.size() < 100\" Example (Equality): title: \"Requestor is owner\" description: \"Determines if requestor is the document owner\" expression: \"document.owner == request.auth.claims.email\" Example (Logic): title: \"Public documents\" description: \"Determine whether the document should be publicly visible\" expression: \"document.type != 'private' && document.type != 'internal'\" Example (Data Manipulation): title: \"Notification string\" description: \"Create a notification string with a timestamp.\" expression: \"'New message received at ' + string(document.create_time)\" The exact variables and functions that may be referenced within an expression are determined by the service that evaluates it. See the service documentation for additional information."
    },
    "ComplianceStandard": {
      "id": "ComplianceStandard",
      "type": "object",
      "description": "Information about a compliance standard that the policy helps enforce.",
      "properties": {
        "control": {
          "description": "Optional. The control in the compliance standard that the policy helps enforce. For example, `AC-3`.",
          "type": "string"
        },
        "standard": {
          "type": "string",
          "description": "Optional. The compliance standard that the policy helps enforce. For example, `NIST SP 800-53`."
        }
      }
    },
    "ListPosturesResponse": {
      "description": "Response message for ListPostures.",
      "type": "object",
      "properties": {
        "unreachable": {
          "description": "Locations that were temporarily unavailable and could not be reached.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "postures": {
          "items": {
            "$ref": "Posture"
          },
          "description": "The list of Posture resources.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "A pagination token. To retrieve the next page of results, call the method again with this token.",
          "type": "string"
        }
      },
      "id": "ListPosturesResponse"
    },
    "CreateIaCValidationReportRequest": {
      "description": "Request message for CreateIaCValidationReport.",
      "type": "object",
      "id": "CreateIaCValidationReportRequest",
      "properties": {
        "iac": {
          "description": "Required. The infrastructure-as-code (IaC) configuration to validate.",
          "$ref": "IaC"
        }
      }
    },
    "Violation": {
      "type": "object",
      "description": "Details of a violation.",
      "properties": {
        "nextSteps": {
          "description": "A description of the steps that you can take to fix the violation.",
          "type": "string"
        },
        "violatedPolicy": {
          "description": "Details of the policy that was violated.",
          "$ref": "PolicyDetails"
        },
        "assetId": {
          "type": "string",
          "description": "The full resource name of the asset that caused the violation. For details about the format of the full resource name for each asset type, see [Resource name format](https://cloud.google.com/asset-inventory/docs/resource-name-format)."
        },
        "severity": {
          "description": "The severity of the violation.",
          "type": "string",
          "enum": [
            "SEVERITY_UNSPECIFIED",
            "CRITICAL",
            "HIGH",
            "MEDIUM",
            "LOW"
          ],
          "enumDescriptions": [
            "Default value. This value is unused.",
            "Critical severity.",
            "High severity.",
            "Medium severity.",
            "Low severity."
          ]
        },
        "policyId": {
          "description": "The policy that was violated.",
          "type": "string"
        },
        "violatedAsset": {
          "description": "Details of the Cloud Asset Inventory asset that caused the violation.",
          "$ref": "AssetDetails"
        },
        "violatedPosture": {
          "$ref": "PostureDetails",
          "description": "Details for the posture that was violated. This field is present only if the violated policy belongs to a deployed posture."
        }
      },
      "id": "Violation"
    },
    "CancelOperationRequest": {
      "description": "The request message for Operations.CancelOperation.",
      "properties": {},
      "id": "CancelOperationRequest",
      "type": "object"
    },
    "PolicySet": {
      "properties": {
        "policySetId": {
          "description": "Required. An identifier for the policy set.",
          "type": "string"
        },
        "description": {
          "type": "string",
          "description": "Optional. A description of the policy set."
        },
        "policies": {
          "description": "Required. The Policy resources in the policy set. Each policy must have a policy_id that's unique within the policy set.",
          "items": {
            "$ref": "Policy"
          },
          "type": "array"
        }
      },
      "description": "A group of one or more Policy resources.",
      "type": "object",
      "id": "PolicySet"
    },
    "SecurityHealthAnalyticsCustomModule": {
      "type": "object",
      "properties": {
        "moduleEnablementState": {
          "description": "Whether the custom module is enabled at a specified level of the resource hierarchy.",
          "type": "string",
          "enum": [
            "ENABLEMENT_STATE_UNSPECIFIED",
            "ENABLED",
            "DISABLED"
          ],
          "enumDescriptions": [
            "Default value. This value is unused.",
            "The detector or custom module is enabled.",
            "The detector or custom module is disabled."
          ]
        },
        "id": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Immutable. The unique identifier for the custom module. Contains 1 to 20 digits."
        },
        "config": {
          "description": "Required. Configuration settings for the custom module.",
          "$ref": "CustomConfig"
        },
        "displayName": {
          "type": "string",
          "description": "Optional. The display name of the custom module. This value is used as the finding category for all the asset violation findings that the custom module returns. The display name must contain between 1 and 128 alphanumeric characters or underscores, and it must start with a lowercase letter."
        }
      },
      "description": "A custom module for Security Health Analytics.",
      "id": "SecurityHealthAnalyticsCustomModule"
    },
    "GoogleCloudSecuritypostureV1CustomConstraint": {
      "id": "GoogleCloudSecuritypostureV1CustomConstraint",
      "properties": {
        "name": {
          "description": "Immutable. The name of the constraint, in the format `organizations/{organization_id}/customConstraints/custom.{custom_constraint_id}`. For example, `organizations/123456789012/customConstraints/custom.createOnlyE2TypeVms`. Must contain 1 to 62 characters, excluding the prefix `organizations/{organization_id}/customConstraints/custom.`.",
          "type": "string"
        },
        "methodTypes": {
          "description": "The types of operations that the constraint applies to.",
          "type": "array",
          "items": {
            "enumDescriptions": [
              "Default value. This value is unused.",
              "Constraint applied when creating the resource.",
              "Constraint applied when updating the resource.",
              "Not supported. Constraint applied when deleting the resource."
            ],
            "type": "string",
            "enum": [
              "METHOD_TYPE_UNSPECIFIED",
              "CREATE",
              "UPDATE",
              "DELETE"
            ]
          }
        },
        "displayName": {
          "description": "A display name for the constraint. The maximum length is 200 characters.",
          "type": "string"
        },
        "resourceTypes": {
          "items": {
            "type": "string"
          },
          "description": "Immutable. The resource type that the constraint applies to, in the format `{canonical_service_name}/{resource_type_name}`. For example, `compute.googleapis.com/Instance`.",
          "type": "array"
        },
        "updateTime": {
          "description": "Output only. The last time at which the constraint was updated or created.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "condition": {
          "description": "A Common Expression Language (CEL) condition expression that must evaluate to `true` for the constraint to be enforced. The maximum length is 1000 characters. For example: + `resource.instanceName.matches('(production|test)_(.+_)?[\\d]+')`: Evaluates to `true` if the resource's `instanceName` attribute contains the following: + The prefix `production` or `test` + An underscore (`_`) + Optional: One or more characters, followed by an underscore (`_`) + One or more digits + `resource.management.auto_upgrade == true`: Evaluates to `true` if the resource's `management.auto_upgrade` attribute is `true`.",
          "type": "string"
        },
        "description": {
          "type": "string",
          "description": "A description of the constraint. The maximum length is 2000 characters."
        },
        "actionType": {
          "type": "string",
          "enum": [
            "ACTION_TYPE_UNSPECIFIED",
            "ALLOW",
            "DENY"
          ],
          "enumDescriptions": [
            "Default value. This value is unused.",
            "Allow the action.",
            "Deny the action."
          ],
          "description": "Whether to allow or deny the action."
        }
      },
      "type": "object",
      "description": "A custom, user-defined constraint. You can apply the constraint only to the resource types specified in the constraint, and only within the organization where the constraint is defined. _When you create a custom constraint, it is not enforced automatically._ You must use an organization policy to [enforce the constraint](https://cloud.google.com/resource-manager/help/organization-policy/constraints/enforce)."
    },
    "OrgPolicyConstraint": {
      "description": "A predefined organization policy constraint.",
      "type": "object",
      "id": "OrgPolicyConstraint",
      "properties": {
        "cannedConstraintId": {
          "description": "Required. A unique identifier for the constraint.",
          "type": "string"
        },
        "policyRules": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritypostureV1PolicyRule"
          },
          "description": "Required. The rules enforced by the constraint."
        }
      }
    },
    "ResourceSelector": {
      "type": "object",
      "properties": {
        "resourceTypes": {
          "type": "array",
          "description": "Required. The resource types to run the detector on. Each custom module can specify up to 5 resource types.",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "ResourceSelector",
      "description": "A selector for the resource types to run the detector on."
    },
    "PostureDeployment": {
      "id": "PostureDeployment",
      "type": "object",
      "properties": {
        "state": {
          "description": "Output only. The state of the posture deployment.",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "The posture deployment is being created.",
            "The posture deployment is being deleted.",
            "The posture deployment is being updated.",
            "The posture deployment is active and in use.",
            "The posture deployment could not be created.",
            "The posture deployment could not be updated.",
            "The posture deployment could not be deleted."
          ],
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "DELETING",
            "UPDATING",
            "ACTIVE",
            "CREATE_FAILED",
            "UPDATE_FAILED",
            "DELETE_FAILED"
          ],
          "readOnly": true
        },
        "etag": {
          "type": "string",
          "description": "Optional. An opaque identifier for the current version of the posture deployment. To prevent concurrent updates from overwriting each other, always provide the `etag` when you update a posture deployment. You can also provide the `etag` when you delete a posture deployment, to help ensure that you're deleting the intended posture deployment."
        },
        "postureRevisionId": {
          "description": "Required. The revision ID of the posture used in the deployment.",
          "type": "string"
        },
        "description": {
          "type": "string",
          "description": "Optional. A description of the posture deployment."
        },
        "failureMessage": {
          "readOnly": true,
          "description": "Output only. A description of why the posture deployment failed. Present only if the deployment is in a failed state.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Required. Identifier. The name of the posture deployment, in the format `organizations/{organization}/locations/global/postureDeployments/{deployment_id}`."
        },
        "annotations": {
          "description": "Optional. The user-specified annotations for the posture deployment. For details about the values you can use in an annotation, see [AIP-148: Standard fields](https://google.aip.dev/148#annotations).",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "reconciling": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. Whether the posture deployment is in the process of being updated."
        },
        "desiredPostureId": {
          "description": "Output only. The posture ID that was specified for the deployment. Present only if the posture deployment is in a failed state.",
          "readOnly": true,
          "type": "string"
        },
        "postureId": {
          "description": "Required. The posture used in the deployment, in the format `organizations/{organization}/locations/global/postures/{posture_id}`.",
          "type": "string"
        },
        "desiredPostureRevisionId": {
          "type": "string",
          "description": "Output only. The revision ID of the posture that was specified for the deployment. Present only if the deployment is in a failed state.",
          "readOnly": true
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The time at which the posture deployment was created.",
          "format": "google-datetime"
        },
        "targetResource": {
          "type": "string",
          "description": "Required. The organization, folder, or project where the posture is deployed. Uses one of the following formats: * `organizations/{organization_number}` * `folders/{folder_number}` * `projects/{project_number}`"
        },
        "updateTime": {
          "format": "google-datetime",
          "description": "Output only. The time at which the posture deployment was last updated.",
          "readOnly": true,
          "type": "string"
        },
        "categories": {
          "type": "array",
          "readOnly": true,
          "description": "Output only. The categories that the posture deployment belongs to, as determined by the Security Posture API.",
          "items": {
            "type": "string",
            "enum": [
              "CATEGORY_UNSPECIFIED",
              "AI",
              "AWS",
              "GCP",
              "AZURE"
            ],
            "enumDescriptions": [
              "Default value. This value is unused.",
              "Artificial intelligence (AI).",
              "Amazon Web Services (AWS) policies.",
              "Google Cloud policies.",
              "Microsoft Azure policies."
            ]
          }
        }
      },
      "description": "Details for a Posture deployment on an organization, folder, or project. You can deploy at most one posture to each organization, folder, or project. The parent resource for a posture deployment is always the organization, even if the deployment applies to a folder or project."
    },
    "IaC": {
      "type": "object",
      "properties": {
        "tfPlan": {
          "description": "Optional. A Terraform plan file, formatted as a stringified JSON object. To learn how to generate a Terraform plan file in JSON format, see [JSON output format](https://developer.hashicorp.com/terraform/internals/json-format) in the Terraform documentation.",
          "type": "string",
          "format": "byte"
        }
      },
      "id": "IaC",
      "description": "Details of an infrastructure-as-code (IaC) configuration."
    },
    "GoogleCloudSecuritypostureV1PolicyRuleStringValues": {
      "id": "GoogleCloudSecuritypostureV1PolicyRuleStringValues",
      "properties": {
        "allowedValues": {
          "items": {
            "type": "string"
          },
          "description": "The allowed values for the constraint.",
          "type": "array"
        },
        "deniedValues": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "The denied values for the constraint."
        }
      },
      "type": "object",
      "description": "The allowed and denied values for a list constraint. For all constraints, these fields can contain literal values. Optionally, you can add the `is:` prefix to these values. If the value contains a colon (`:`), then the `is:` prefix is required. Some constraints allow you to specify a portion of the resource hierarchy, known as a [_hierarchy subtree_](https://cloud.google.com/resource-manager/help/organization-policy/hierarchy-subtree), that the constraint applies to. To specify a hierarchy subtree, use the `under:` prefix, followed by a value with one of these formats: - `projects/{project_id}` (for example, `projects/tokyo-rain-123`) - `folders/{folder_id}` (for example, `folders/1234567890123`) - `organizations/{organization_id}` (for example, `organizations/123456789012`) A constraint's `supports_under` field indicates whether you can specify a hierarchy subtree. To learn which predefined constraints let you specify a hierarchy subtree, see the [constraints reference](https://cloud.google.com/resource-manager/help/organization-policy/constraints/reference)."
    },
    "OrgPolicyConstraintCustom": {
      "properties": {
        "customConstraint": {
          "description": "Required. Metadata for the constraint.",
          "$ref": "GoogleCloudSecuritypostureV1CustomConstraint"
        },
        "policyRules": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritypostureV1PolicyRule"
          },
          "description": "Required. The rules enforced by the constraint."
        }
      },
      "id": "OrgPolicyConstraintCustom",
      "type": "object",
      "description": "A custom organization policy constraint."
    },
    "CustomConfig": {
      "description": "A custom module configuration for Security Health Analytics. Use `CustomConfig` to create custom detectors that generate custom findings for resources that you specify.",
      "properties": {
        "description": {
          "description": "Optional. A description of the vulnerability or misconfiguration that the custom module detects. The description appears in each finding. Provide enough information to help an investigator understand the finding. The value must be enclosed in quotation marks.",
          "type": "string"
        },
        "recommendation": {
          "description": "Required. An explanation of the steps that security teams can take to resolve the detected issue. The explanation appears in each finding.",
          "type": "string"
        },
        "resourceSelector": {
          "description": "Required. The resource types that the custom module operates on.",
          "$ref": "ResourceSelector"
        },
        "severity": {
          "type": "string",
          "enum": [
            "SEVERITY_UNSPECIFIED",
            "CRITICAL",
            "HIGH",
            "MEDIUM",
            "LOW"
          ],
          "enumDescriptions": [
            "Default value. This value is unused.",
            "Critical severity.",
            "High severity.",
            "Medium severity.",
            "Low severity."
          ],
          "description": "Required. The severity of findings generated by the custom module."
        },
        "predicate": {
          "description": "Required. The Common Expression Language (CEL) expression to evaluate. When the expression evaluates to `true` for a resource, a finding is generated.",
          "$ref": "Expr"
        },
        "customOutput": {
          "$ref": "CustomOutputSpec",
          "description": "Optional. Definitions of custom source properties to include in findings."
        }
      },
      "type": "object",
      "id": "CustomConfig"
    },
    "ResourceTypes": {
      "description": "Set multiple resource types for one policy, for example: ``` resourceTypes: included: - compute.googleapis.com/Instance - compute.googleapis.com/Disk ``` Constraint definition contains an empty resource type in order to support multiple resource types in the policy. Only supports managed constraints. Method type is `GOVERN_TAGS`.",
      "type": "object",
      "id": "ResourceTypes",
      "properties": {
        "included": {
          "description": "Optional. The resource types we support.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      }
    },
    "OperationMetadata": {
      "id": "OperationMetadata",
      "properties": {
        "endTime": {
          "format": "google-datetime",
          "description": "Output only. The time at which the operation finished running.",
          "readOnly": true,
          "type": "string"
        },
        "verb": {
          "description": "Output only. The name of the action executed by the operation.",
          "type": "string",
          "readOnly": true
        },
        "statusMessage": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The status of the operation, if any."
        },
        "target": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The server-defined resource path for the target of the operation."
        },
        "errorMessage": {
          "description": "Output only. An error message. Returned when a PostureDeployment enters a failure state like UPDATE_FAILED.",
          "type": "string",
          "readOnly": true
        },
        "requestedCancellation": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. Whether a request to cancel the operation has been received. For operations that have been cancelled successfully, the Operation.error field contains the error code CANCELLED."
        },
        "createTime": {
          "description": "Output only. The time at which the operation was created.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "apiVersion": {
          "type": "string",
          "description": "Output only. The API version used to start the operation.",
          "readOnly": true
        }
      },
      "description": "Metadata for an Operation.",
      "type": "object"
    },
    "Constraint": {
      "properties": {
        "orgPolicyConstraintCustom": {
          "description": "Optional. A custom organization policy constraint.",
          "$ref": "OrgPolicyConstraintCustom"
        },
        "securityHealthAnalyticsCustomModule": {
          "description": "Optional. A custom module for Security Health Analytics.",
          "$ref": "SecurityHealthAnalyticsCustomModule"
        },
        "orgPolicyConstraint": {
          "description": "Optional. A predefined organization policy constraint.",
          "$ref": "OrgPolicyConstraint"
        },
        "securityHealthAnalyticsModule": {
          "$ref": "SecurityHealthAnalyticsModule",
          "description": "Optional. A built-in detector for Security Health Analytics."
        }
      },
      "description": "Metadata for a constraint in a Policy.",
      "type": "object",
      "id": "Constraint"
    },
    "ListPostureDeploymentsResponse": {
      "description": "Response message for ListPostureDeployments.",
      "properties": {
        "postureDeployments": {
          "type": "array",
          "description": "The list of PostureDeployment resources.",
          "items": {
            "$ref": "PostureDeployment"
          }
        },
        "nextPageToken": {
          "description": "A pagination token. To retrieve the next page of results, call the method again with this token.",
          "type": "string"
        },
        "unreachable": {
          "items": {
            "type": "string"
          },
          "description": "Locations that were temporarily unavailable and could not be reached.",
          "type": "array"
        }
      },
      "type": "object",
      "id": "ListPostureDeploymentsResponse"
    },
    "Empty": {
      "id": "Empty",
      "type": "object",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "properties": {}
    },
    "PostureTemplate": {
      "properties": {
        "description": {
          "description": "Output only. A description of the posture template.",
          "type": "string",
          "readOnly": true
        },
        "name": {
          "type": "string",
          "description": "Output only. Identifier. The name of the posture template, in the format `organizations/{organization}/locations/global/postureTemplates/{posture_template}`.",
          "readOnly": true
        },
        "policySets": {
          "items": {
            "$ref": "PolicySet"
          },
          "readOnly": true,
          "type": "array",
          "description": "Output only. The PolicySet resources that the posture template includes."
        },
        "state": {
          "enumDescriptions": [
            "Default value. This value is unused.",
            "The posture template follows the latest controls and standards.",
            "The posture template uses outdated controls and standards. We recommend that you use a newer revision of the posture template."
          ],
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "DEPRECATED"
          ],
          "readOnly": true,
          "description": "Output only. The state of the posture template at the specified `revision_id`."
        },
        "revisionId": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. A string that identifies the revision of the posture template."
        },
        "categories": {
          "type": "array",
          "items": {
            "enumDescriptions": [
              "Default value. This value is unused.",
              "Artificial intelligence (AI).",
              "Amazon Web Services (AWS) policies.",
              "Google Cloud policies.",
              "Microsoft Azure policies."
            ],
            "type": "string",
            "enum": [
              "CATEGORY_UNSPECIFIED",
              "AI",
              "AWS",
              "GCP",
              "AZURE"
            ]
          },
          "description": "Output only. The categories that the posture template belongs to, as determined by the Security Posture API.",
          "readOnly": true
        }
      },
      "type": "object",
      "id": "PostureTemplate",
      "description": "The details of a posture template."
    },
    "GoogleCloudSecuritypostureV1PolicyRule": {
      "properties": {
        "values": {
          "description": "The allowed and denied values for a list constraint. Valid only for list constraints.",
          "$ref": "GoogleCloudSecuritypostureV1PolicyRuleStringValues"
        },
        "allowAll": {
          "type": "boolean",
          "description": "Whether to allow any value for a list constraint. Valid only for list constraints."
        },
        "denyAll": {
          "description": "Whether to deny all values for a list constraint. Valid only for list constraints.",
          "type": "boolean"
        },
        "condition": {
          "description": "A condition that determines whether this rule is used to evaluate the policy. When set, the google.type.Expr.expression field must contain 1 to 10 subexpressions, joined by the `||` or `&&` operators. Each subexpression must use the `resource.matchTag()`, `resource.matchTagId()`, `resource.hasTagKey()`, or `resource.hasTagKeyId()` Common Expression Language (CEL) function. The `resource.matchTag()` function takes the following arguments: * `key_name`: the namespaced name of the tag key, with the organization ID and a slash (`/`) as a prefix; for example, `123456789012/environment` * `value_name`: the short name of the tag value For example: `resource.matchTag('123456789012/environment, 'prod')` The `resource.matchTagId()` function takes the following arguments: * `key_id`: the permanent ID of the tag key; for example, `tagKeys/123456789012` * `value_id`: the permanent ID of the tag value; for example, `tagValues/567890123456` For example: `resource.matchTagId('tagKeys/123456789012', 'tagValues/567890123456')` The `resource.hasTagKey()` function takes the following argument: * `key_name`: the namespaced name of the tag key, with the organization ID and a slash (`/`) as a prefix; for example, `123456789012/environment` For example: `resource.hasTagKey('123456789012/environment')` The `resource.hasTagKeyId()` function takes the following arguments: * `key_id`: the permanent ID of the tag key; for example, `tagKeys/123456789012` For example: `resource.hasTagKeyId('tagKeys/123456789012')`",
          "$ref": "Expr"
        },
        "parameters": {
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "type": "object",
          "description": "Optional. Required for managed constraints if parameters are defined. Passes parameter values when policy enforcement is enabled. Ensure that parameter value types match those defined in the constraint definition. For example: ``` { \"allowedLocations\": [\"us-east1\", \"us-west1\"], \"allowAll\": true } ```"
        },
        "enforce": {
          "type": "boolean",
          "description": "Whether to enforce the constraint. Valid only for boolean constraints."
        },
        "resourceTypes": {
          "$ref": "ResourceTypes",
          "description": "Optional. The resource types policies can support, only used for managed constraints. Method type is `GOVERN_TAGS`."
        }
      },
      "type": "object",
      "id": "GoogleCloudSecuritypostureV1PolicyRule",
      "description": "A rule that defines the allowed and denied values for an organization policy constraint."
    },
    "CustomOutputSpec": {
      "properties": {
        "properties": {
          "type": "array",
          "description": "Optional. The custom source properties that can appear in findings.",
          "items": {
            "$ref": "Property"
          }
        }
      },
      "id": "CustomOutputSpec",
      "description": "Definitions of custom source properties that can appear in findings.",
      "type": "object"
    },
    "Posture": {
      "description": "The details of a posture.",
      "id": "Posture",
      "type": "object",
      "properties": {
        "annotations": {
          "description": "Optional. The user-specified annotations for the posture. For details about the values you can use in an annotation, see [AIP-148: Standard fields](https://google.aip.dev/148#annotations).",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "reconciling": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. Whether the posture is in the process of being updated."
        },
        "etag": {
          "description": "Optional. An opaque identifier for the current version of the posture at the specified `revision_id`. To prevent concurrent updates from overwriting each other, always provide the `etag` when you update a posture. You can also provide the `etag` when you delete a posture, to help ensure that you're deleting the intended version of the posture.",
          "type": "string"
        },
        "policySets": {
          "description": "Required. The PolicySet resources that the posture includes.",
          "type": "array",
          "items": {
            "$ref": "PolicySet"
          }
        },
        "name": {
          "type": "string",
          "description": "Required. Identifier. The name of the posture, in the format `organizations/{organization}/locations/global/postures/{posture_id}`."
        },
        "revisionId": {
          "type": "string",
          "description": "Output only. Immutable. An opaque eight-character string that identifies the revision of the posture. A posture can have multiple revisions; when you deploy a posture, you deploy a specific revision of the posture.",
          "readOnly": true
        },
        "createTime": {
          "readOnly": true,
          "description": "Output only. The time at which the posture was created.",
          "type": "string",
          "format": "google-datetime"
        },
        "state": {
          "enumDescriptions": [
            "Default value. This value is unused.",
            "The posture is deprecated and can no longer be deployed.",
            "The posture is a draft and is not ready to deploy.",
            "The posture is complete and ready to deploy."
          ],
          "description": "Required. The state of the posture at the specified `revision_id`.",
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "DEPRECATED",
            "DRAFT",
            "ACTIVE"
          ]
        },
        "updateTime": {
          "description": "Output only. The time at which the posture was last updated.",
          "format": "google-datetime",
          "type": "string",
          "readOnly": true
        },
        "categories": {
          "readOnly": true,
          "description": "Output only. The categories that the posture belongs to, as determined by the Security Posture API.",
          "type": "array",
          "items": {
            "type": "string",
            "enum": [
              "CATEGORY_UNSPECIFIED",
              "AI",
              "AWS",
              "GCP",
              "AZURE"
            ],
            "enumDescriptions": [
              "Default value. This value is unused.",
              "Artificial intelligence (AI).",
              "Amazon Web Services (AWS) policies.",
              "Google Cloud policies.",
              "Microsoft Azure policies."
            ]
          }
        },
        "description": {
          "description": "Optional. A description of the posture.",
          "type": "string"
        }
      }
    },
    "ExtractPostureRequest": {
      "type": "object",
      "properties": {
        "workload": {
          "type": "string",
          "description": "Required. The organization, folder, or project from which policies are extracted. Must be within the organization defined in parent. Use one of the following formats: * `organization/{organization_number}` * `folder/{folder_number}` * `project/{project_number}`"
        },
        "postureId": {
          "description": "Required. An identifier for the posture.",
          "type": "string"
        }
      },
      "description": "Request message for ExtractPosture.",
      "id": "ExtractPostureRequest"
    },
    "Location": {
      "type": "object",
      "id": "Location",
      "properties": {
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Cross-service attributes for the location. For example {\"cloud.googleapis.com/region\": \"us-east1\"}"
        },
        "name": {
          "type": "string",
          "description": "Resource name for the location, which may vary between implementations. For example: `\"projects/example-project/locations/us-east1\"`"
        },
        "displayName": {
          "description": "The friendly name for this location, typically a nearby city name. For example, \"Tokyo\".",
          "type": "string"
        },
        "locationId": {
          "type": "string",
          "description": "The canonical id for this location. For example: `\"us-east1\"`."
        },
        "metadata": {
          "description": "Service-specific metadata. For example the available capacity at the given location.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        }
      },
      "description": "A resource that represents a Google Cloud location."
    },
    "PostureDetails": {
      "type": "object",
      "description": "Details of a posture deployment.",
      "id": "PostureDetails",
      "properties": {
        "policySet": {
          "description": "The identifier for the PolicySet that the relevant policy belongs to.",
          "type": "string"
        },
        "postureDeployment": {
          "description": "The name of the posture deployment, in the format `organizations/{organization}/locations/global/postureDeployments/{deployment_id}`.",
          "type": "string"
        },
        "posture": {
          "description": "The posture used in the deployment, in the format `organizations/{organization}/locations/global/postures/{posture_id}`.",
          "type": "string"
        },
        "postureDeploymentTargetResource": {
          "description": "The organization, folder, or project where the posture is deployed. Uses one of the following formats: * `organizations/{organization_number}` * `folders/{folder_number}` * `projects/{project_number}`",
          "type": "string"
        },
        "postureRevisionId": {
          "description": "The revision ID of the posture used in the deployment.",
          "type": "string"
        }
      }
    },
    "SecurityHealthAnalyticsModule": {
      "description": "A built-in detector for Security Health Analytics.",
      "properties": {
        "moduleName": {
          "type": "string",
          "description": "Required. The name of the detector. For example, `BIGQUERY_TABLE_CMEK_DISABLED`. This field is also used as the finding category for all the asset violation findings that the detector returns."
        },
        "moduleEnablementState": {
          "type": "string",
          "enum": [
            "ENABLEMENT_STATE_UNSPECIFIED",
            "ENABLED",
            "DISABLED"
          ],
          "description": "Whether the detector is enabled at a specified level of the resource hierarchy.",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "The detector or custom module is enabled.",
            "The detector or custom module is disabled."
          ]
        }
      },
      "id": "SecurityHealthAnalyticsModule",
      "type": "object"
    },
    "ListOperationsResponse": {
      "description": "The response message for Operations.ListOperations.",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        },
        "operations": {
          "description": "A list of operations that matches the specified filter in the request.",
          "type": "array",
          "items": {
            "$ref": "Operation"
          }
        },
        "unreachable": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Unordered list. Unreachable resources. Populated when the request sets `ListOperationsRequest.return_partial_success` and reads across collections. For example, when attempting to list all resources across all supported locations."
        }
      },
      "id": "ListOperationsResponse"
    },
    "ListPostureTemplatesResponse": {
      "description": "Response message for ListPostureTemplates.",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "A pagination token. To retrieve the next page of results, call the method again with this token.",
          "type": "string"
        },
        "postureTemplates": {
          "type": "array",
          "description": "The list of PostureTemplate resources.",
          "items": {
            "$ref": "PostureTemplate"
          }
        }
      },
      "id": "ListPostureTemplatesResponse"
    },
    "ListPostureRevisionsResponse": {
      "id": "ListPostureRevisionsResponse",
      "description": "Response message for ListPostureRevisions.",
      "properties": {
        "revisions": {
          "description": "The list of revisions for the Posture.",
          "type": "array",
          "items": {
            "$ref": "Posture"
          }
        },
        "nextPageToken": {
          "description": "A pagination token. To retrieve the next page of results, call the method again with this token.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "Policy": {
      "id": "Policy",
      "type": "object",
      "description": "The details of a policy, including the constraints that it includes.",
      "properties": {
        "description": {
          "description": "Optional. A description of the policy.",
          "type": "string"
        },
        "policyId": {
          "description": "Required. A user-specified identifier for the policy. In a PolicySet, each policy must have a unique identifier.",
          "type": "string"
        },
        "complianceStandards": {
          "items": {
            "$ref": "ComplianceStandard"
          },
          "description": "Optional. The compliance standards that the policy helps enforce.",
          "type": "array"
        },
        "constraint": {
          "$ref": "Constraint",
          "description": "Required. The constraints that the policy includes."
        }
      }
    }
  },
  "name": "securityposture",
  "version_module": true,
  "ownerDomain": "google.com",
  "servicePath": "",
  "ownerName": "Google",
  "baseUrl": "https://securityposture.googleapis.com/",
  "batchPath": "batch",
  "version": "v1",
  "description": "Defines, assesses, and monitors the overall status of your security in Google Cloud. You can use security postures to evaluate your current cloud security against defined benchmarks and help maintain the level of security that your organization requires. ",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "basePath": "",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  }
}