{
  "ownerName": "Google",
  "protocol": "rest",
  "revision": "20260911",
  "fullyEncodeReservedExpansion": true,
  "discoveryVersion": "v1",
  "version_module": true,
  "rootUrl": "https://securitycenter.googleapis.com/",
  "canonicalName": "Security Command Center",
  "baseUrl": "https://securitycenter.googleapis.com/",
  "schemas": {
    "SetFindingStateRequest": {
      "type": "object",
      "id": "SetFindingStateRequest",
      "properties": {
        "state": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "INACTIVE"
          ]
        },
        "startTime": {
          "type": "string",
          "format": "google-datetime"
        }
      }
    },
    "GoogleCloudSecuritycenterV2DiskPath": {
      "type": "object",
      "properties": {
        "relativePath": {
          "type": "string"
        },
        "partitionUuid": {
          "type": "string"
        }
      },
      "id": "GoogleCloudSecuritycenterV2DiskPath"
    },
    "GoogleCloudSecuritycenterV2Vulnerability": {
      "id": "GoogleCloudSecuritycenterV2Vulnerability",
      "properties": {
        "fixedPackage": {
          "$ref": "GoogleCloudSecuritycenterV2Package"
        },
        "reachable": {
          "type": "boolean"
        },
        "cwes": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2Cwe"
          }
        },
        "cve": {
          "$ref": "GoogleCloudSecuritycenterV2Cve"
        },
        "offendingPackage": {
          "$ref": "GoogleCloudSecuritycenterV2Package"
        },
        "providerRiskScore": {
          "type": "string",
          "format": "int64"
        },
        "securityBulletin": {
          "$ref": "GoogleCloudSecuritycenterV2SecurityBulletin"
        }
      },
      "type": "object"
    },
    "AdcApplication": {
      "id": "AdcApplication",
      "properties": {
        "attributes": {
          "$ref": "GoogleCloudSecuritycenterV1ResourceApplicationAttributes"
        },
        "name": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "Cwe": {
      "properties": {
        "id": {
          "type": "string"
        },
        "references": {
          "type": "array",
          "items": {
            "$ref": "Reference"
          }
        }
      },
      "id": "Cwe",
      "type": "object"
    },
    "ResourcePathNode": {
      "type": "object",
      "id": "ResourcePathNode",
      "properties": {
        "id": {
          "type": "string"
        },
        "nodeType": {
          "type": "string",
          "enum": [
            "RESOURCE_PATH_NODE_TYPE_UNSPECIFIED",
            "GCP_ORGANIZATION",
            "GCP_FOLDER",
            "GCP_PROJECT",
            "AWS_ORGANIZATION",
            "AWS_ORGANIZATIONAL_UNIT",
            "AWS_ACCOUNT",
            "AZURE_MANAGEMENT_GROUP",
            "AZURE_SUBSCRIPTION",
            "AZURE_RESOURCE_GROUP"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ]
        },
        "displayName": {
          "type": "string"
        }
      }
    },
    "GoogleCloudSecuritycenterV2Package": {
      "type": "object",
      "properties": {
        "packageName": {
          "type": "string"
        },
        "packageType": {
          "type": "string"
        },
        "cpeUri": {
          "type": "string"
        },
        "packageVersion": {
          "type": "string"
        }
      },
      "id": "GoogleCloudSecuritycenterV2Package"
    },
    "AttackExposure": {
      "type": "object",
      "id": "AttackExposure",
      "properties": {
        "score": {
          "type": "number",
          "format": "double"
        },
        "exposedLowValueResourcesCount": {
          "type": "integer",
          "format": "int32"
        },
        "attackExposureResult": {
          "type": "string"
        },
        "latestCalculationTime": {
          "type": "string",
          "format": "google-datetime"
        },
        "state": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "CALCULATED",
            "NOT_CALCULATED"
          ]
        },
        "exposedMediumValueResourcesCount": {
          "format": "int32",
          "type": "integer"
        },
        "exposedHighValueResourcesCount": {
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "ListOperationsResponse": {
      "id": "ListOperationsResponse",
      "properties": {
        "nextPageToken": {
          "type": "string"
        },
        "unreachable": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "operations": {
          "items": {
            "$ref": "Operation"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "DynamicMuteRecord": {
      "properties": {
        "muteConfig": {
          "type": "string"
        },
        "matchTime": {
          "type": "string",
          "format": "google-datetime"
        }
      },
      "id": "DynamicMuteRecord",
      "type": "object"
    },
    "AccessReview": {
      "properties": {
        "verb": {
          "type": "string"
        },
        "group": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "resource": {
          "type": "string"
        },
        "ns": {
          "type": "string"
        },
        "subresource": {
          "type": "string"
        },
        "version": {
          "type": "string"
        }
      },
      "id": "AccessReview",
      "type": "object"
    },
    "Source": {
      "properties": {
        "description": {
          "type": "string"
        },
        "displayName": {
          "type": "string"
        },
        "name": {
          "type": "string"
        }
      },
      "id": "Source",
      "type": "object"
    },
    "VulnerabilitySnapshot": {
      "id": "VulnerabilitySnapshot",
      "properties": {
        "snapshotTime": {
          "format": "google-datetime",
          "type": "string"
        },
        "findingCount": {
          "$ref": "VulnerabilityCountBySeverity"
        },
        "cloudProvider": {
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "CLOUD_PROVIDER_UNSPECIFIED",
            "GOOGLE_CLOUD_PLATFORM",
            "AMAZON_WEB_SERVICES",
            "MICROSOFT_AZURE"
          ]
        },
        "name": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "AdcSharedTemplateRevision": {
      "id": "AdcSharedTemplateRevision",
      "properties": {
        "name": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "ArtifactGuardPolicy": {
      "properties": {
        "policyId": {
          "type": "string"
        },
        "type": {
          "type": "string",
          "enum": [
            "ARTIFACT_GUARD_POLICY_TYPE_UNSPECIFIED",
            "VULNERABILITY"
          ],
          "enumDescriptions": [
            "",
            ""
          ]
        },
        "failureReason": {
          "type": "string"
        }
      },
      "id": "ArtifactGuardPolicy",
      "type": "object"
    },
    "GroupAssetsResponse": {
      "id": "GroupAssetsResponse",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string"
        },
        "readTime": {
          "type": "string",
          "format": "google-datetime"
        },
        "groupByResults": {
          "items": {
            "$ref": "GroupResult"
          },
          "type": "array"
        }
      }
    },
    "GoogleCloudSecuritycenterV2Folder": {
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2Folder",
      "properties": {
        "resourceFolderDisplayName": {
          "type": "string"
        },
        "resourceFolder": {
          "type": "string"
        }
      }
    },
    "AssetDiscoveryConfig": {
      "type": "object",
      "id": "AssetDiscoveryConfig",
      "properties": {
        "projectIds": {
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "inclusionMode": {
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "INCLUSION_MODE_UNSPECIFIED",
            "INCLUDE_ONLY",
            "EXCLUDE"
          ]
        }
      }
    },
    "Subject": {
      "id": "Subject",
      "properties": {
        "name": {
          "type": "string"
        },
        "kind": {
          "type": "string",
          "enum": [
            "AUTH_TYPE_UNSPECIFIED",
            "USER",
            "SERVICEACCOUNT",
            "GROUP"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ]
        },
        "ns": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "Package": {
      "id": "Package",
      "properties": {
        "cpeUri": {
          "type": "string"
        },
        "packageName": {
          "type": "string"
        },
        "packageType": {
          "type": "string"
        },
        "packageVersion": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudSecuritycenterV1p1beta1Folder": {
      "id": "GoogleCloudSecuritycenterV1p1beta1Folder",
      "type": "object",
      "properties": {
        "resourceFolder": {
          "type": "string"
        },
        "resourceFolderDisplayName": {
          "type": "string"
        }
      }
    },
    "Contact": {
      "id": "Contact",
      "type": "object",
      "properties": {
        "email": {
          "type": "string"
        }
      }
    },
    "GoogleCloudSecuritycenterV2AzureSubscription": {
      "id": "GoogleCloudSecuritycenterV2AzureSubscription",
      "type": "object",
      "properties": {
        "id": {
          "type": "string"
        },
        "displayName": {
          "type": "string"
        }
      }
    },
    "GoogleCloudSecuritycenterV2Secret": {
      "type": "object",
      "properties": {
        "filePath": {
          "$ref": "GoogleCloudSecuritycenterV2SecretFilePath"
        },
        "type": {
          "type": "string"
        },
        "status": {
          "$ref": "GoogleCloudSecuritycenterV2SecretStatus"
        },
        "environmentVariable": {
          "$ref": "GoogleCloudSecuritycenterV2SecretEnvironmentVariable"
        }
      },
      "id": "GoogleCloudSecuritycenterV2Secret"
    },
    "AwsAccount": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        },
        "id": {
          "type": "string"
        }
      },
      "id": "AwsAccount"
    },
    "Cve": {
      "type": "object",
      "id": "Cve",
      "properties": {
        "cvssv3": {
          "$ref": "Cvssv3"
        },
        "zeroDay": {
          "type": "boolean"
        },
        "references": {
          "items": {
            "$ref": "Reference"
          },
          "type": "array"
        },
        "id": {
          "type": "string"
        },
        "upstreamFixAvailable": {
          "type": "boolean"
        },
        "exploitReleaseDate": {
          "format": "google-datetime",
          "type": "string"
        },
        "impact": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "RISK_RATING_UNSPECIFIED",
            "LOW",
            "MEDIUM",
            "HIGH",
            "CRITICAL"
          ],
          "type": "string"
        },
        "exploitationActivity": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "EXPLOITATION_ACTIVITY_UNSPECIFIED",
            "WIDE",
            "CONFIRMED",
            "AVAILABLE",
            "ANTICIPATED",
            "NO_KNOWN"
          ]
        },
        "firstExploitationDate": {
          "format": "google-datetime",
          "type": "string"
        },
        "observedInTheWild": {
          "type": "boolean"
        }
      }
    },
    "GoogleCloudSecuritycenterV2Object": {
      "id": "GoogleCloudSecuritycenterV2Object",
      "properties": {
        "containers": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2Container"
          }
        },
        "name": {
          "type": "string"
        },
        "group": {
          "type": "string"
        },
        "kind": {
          "type": "string"
        },
        "ns": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2SensitiveDataProtectionMapping": {
      "id": "GoogleCloudSecuritycenterV2SensitiveDataProtectionMapping",
      "properties": {
        "mediumSensitivityMapping": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "RESOURCE_VALUE_UNSPECIFIED",
            "HIGH",
            "MEDIUM",
            "LOW",
            "NONE"
          ],
          "type": "string"
        },
        "highSensitivityMapping": {
          "enum": [
            "RESOURCE_VALUE_UNSPECIFIED",
            "HIGH",
            "MEDIUM",
            "LOW",
            "NONE"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ],
          "type": "string"
        }
      },
      "type": "object"
    },
    "ToxicCombination": {
      "id": "ToxicCombination",
      "properties": {
        "attackExposureScore": {
          "type": "number",
          "format": "double"
        },
        "relatedFindings": {
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object"
    },
    "KernelRootkit": {
      "id": "KernelRootkit",
      "properties": {
        "unexpectedCodeModification": {
          "type": "boolean"
        },
        "unexpectedKprobeHandler": {
          "type": "boolean"
        },
        "unexpectedKernelCodePages": {
          "type": "boolean"
        },
        "unexpectedSystemCallHandler": {
          "type": "boolean"
        },
        "unexpectedProcessesInRunqueue": {
          "type": "boolean"
        },
        "unexpectedReadOnlyDataModification": {
          "type": "boolean"
        },
        "unexpectedFtraceHandler": {
          "type": "boolean"
        },
        "unexpectedInterruptHandler": {
          "type": "boolean"
        },
        "name": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "CancelOperationRequest": {
      "type": "object",
      "id": "CancelOperationRequest",
      "properties": {}
    },
    "GoogleCloudSecuritycenterV2AdcSharedTemplateRevision": {
      "properties": {
        "name": {
          "type": "string"
        }
      },
      "id": "GoogleCloudSecuritycenterV2AdcSharedTemplateRevision",
      "type": "object"
    },
    "AwsMetadata": {
      "type": "object",
      "properties": {
        "organization": {
          "$ref": "AwsOrganization"
        },
        "organizationalUnits": {
          "type": "array",
          "items": {
            "$ref": "AwsOrganizationalUnit"
          }
        },
        "account": {
          "$ref": "AwsAccount"
        }
      },
      "id": "AwsMetadata"
    },
    "Cvssv3": {
      "properties": {
        "privilegesRequired": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "PRIVILEGES_REQUIRED_UNSPECIFIED",
            "PRIVILEGES_REQUIRED_NONE",
            "PRIVILEGES_REQUIRED_LOW",
            "PRIVILEGES_REQUIRED_HIGH"
          ]
        },
        "userInteraction": {
          "enum": [
            "USER_INTERACTION_UNSPECIFIED",
            "USER_INTERACTION_NONE",
            "USER_INTERACTION_REQUIRED"
          ],
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "type": "string"
        },
        "integrityImpact": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "IMPACT_UNSPECIFIED",
            "IMPACT_HIGH",
            "IMPACT_LOW",
            "IMPACT_NONE"
          ]
        },
        "confidentialityImpact": {
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "IMPACT_UNSPECIFIED",
            "IMPACT_HIGH",
            "IMPACT_LOW",
            "IMPACT_NONE"
          ],
          "type": "string"
        },
        "baseScore": {
          "format": "double",
          "type": "number"
        },
        "attackVector": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "ATTACK_VECTOR_UNSPECIFIED",
            "ATTACK_VECTOR_NETWORK",
            "ATTACK_VECTOR_ADJACENT",
            "ATTACK_VECTOR_LOCAL",
            "ATTACK_VECTOR_PHYSICAL"
          ],
          "type": "string"
        },
        "scope": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "SCOPE_UNSPECIFIED",
            "SCOPE_UNCHANGED",
            "SCOPE_CHANGED"
          ]
        },
        "availabilityImpact": {
          "type": "string",
          "enum": [
            "IMPACT_UNSPECIFIED",
            "IMPACT_HIGH",
            "IMPACT_LOW",
            "IMPACT_NONE"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ]
        },
        "attackComplexity": {
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "ATTACK_COMPLEXITY_UNSPECIFIED",
            "ATTACK_COMPLEXITY_LOW",
            "ATTACK_COMPLEXITY_HIGH"
          ]
        }
      },
      "type": "object",
      "id": "Cvssv3"
    },
    "Object": {
      "id": "Object",
      "type": "object",
      "properties": {
        "containers": {
          "type": "array",
          "items": {
            "$ref": "Container"
          }
        },
        "kind": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "group": {
          "type": "string"
        },
        "ns": {
          "type": "string"
        }
      }
    },
    "GoogleCloudSecuritycenterV2IamBinding": {
      "id": "GoogleCloudSecuritycenterV2IamBinding",
      "properties": {
        "role": {
          "type": "string"
        },
        "action": {
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "ACTION_UNSPECIFIED",
            "ADD",
            "REMOVE"
          ]
        },
        "member": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "Vulnerability": {
      "type": "object",
      "properties": {
        "cwes": {
          "type": "array",
          "items": {
            "$ref": "Cwe"
          }
        },
        "offendingPackage": {
          "$ref": "Package"
        },
        "providerRiskScore": {
          "type": "string",
          "format": "int64"
        },
        "fixedPackage": {
          "$ref": "Package"
        },
        "securityBulletin": {
          "$ref": "SecurityBulletin"
        },
        "reachable": {
          "type": "boolean"
        },
        "cve": {
          "$ref": "Cve"
        }
      },
      "id": "Vulnerability"
    },
    "GoogleCloudSecuritycenterV1BigQueryExport": {
      "id": "GoogleCloudSecuritycenterV1BigQueryExport",
      "properties": {
        "updateTime": {
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "dataset": {
          "type": "string"
        },
        "description": {
          "type": "string"
        },
        "createTime": {
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "filter": {
          "type": "string"
        },
        "principal": {
          "readOnly": true,
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "mostRecentEditor": {
          "type": "string",
          "readOnly": true
        }
      },
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2IssueResourceGoogleCloudMetadata": {
      "id": "GoogleCloudSecuritycenterV2IssueResourceGoogleCloudMetadata",
      "properties": {
        "projectId": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "AzureSubscription": {
      "type": "object",
      "id": "AzureSubscription",
      "properties": {
        "displayName": {
          "type": "string"
        },
        "id": {
          "type": "string"
        }
      }
    },
    "GoogleCloudSecuritycenterV2File": {
      "id": "GoogleCloudSecuritycenterV2File",
      "type": "object",
      "properties": {
        "diskPath": {
          "$ref": "GoogleCloudSecuritycenterV2DiskPath"
        },
        "hashedSize": {
          "format": "int64",
          "type": "string"
        },
        "size": {
          "format": "int64",
          "type": "string"
        },
        "path": {
          "type": "string"
        },
        "partiallyHashed": {
          "type": "boolean"
        },
        "fileLoadState": {
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "FILE_LOAD_STATE_UNSPECIFIED",
            "LOADED_BY_PROCESS",
            "NOT_LOADED_BY_PROCESS"
          ],
          "type": "string"
        },
        "operations": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2FileOperation"
          }
        },
        "contents": {
          "type": "string"
        },
        "sha256": {
          "type": "string"
        }
      }
    },
    "PolicyDriftDetails": {
      "type": "object",
      "properties": {
        "expectedValue": {
          "type": "string"
        },
        "detectedValue": {
          "type": "string"
        },
        "field": {
          "type": "string"
        }
      },
      "id": "PolicyDriftDetails"
    },
    "EnvironmentVariable": {
      "properties": {
        "name": {
          "type": "string"
        },
        "val": {
          "type": "string"
        }
      },
      "id": "EnvironmentVariable",
      "type": "object"
    },
    "GoogleCloudSecuritycenterV1ResourceApplicationAttributesEnvironment": {
      "type": "object",
      "id": "GoogleCloudSecuritycenterV1ResourceApplicationAttributesEnvironment",
      "properties": {
        "type": {
          "enum": [
            "ENVIRONMENT_TYPE_UNSPECIFIED",
            "PRODUCTION",
            "STAGING",
            "TEST",
            "DEVELOPMENT"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ],
          "type": "string"
        }
      }
    },
    "GoogleCloudSecuritycenterV2ComplianceDetails": {
      "id": "GoogleCloudSecuritycenterV2ComplianceDetails",
      "type": "object",
      "properties": {
        "cloudControlDeploymentNames": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "frameworks": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2Framework"
          }
        },
        "cloudControl": {
          "$ref": "GoogleCloudSecuritycenterV2CloudControl"
        }
      }
    },
    "BigQueryDestination": {
      "properties": {
        "dataset": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "BigQueryDestination"
    },
    "Status": {
      "properties": {
        "message": {
          "type": "string"
        },
        "details": {
          "type": "array",
          "items": {
            "additionalProperties": {
              "description": "Properties of the object. Contains field @type with type URL.",
              "type": "any"
            },
            "type": "object"
          }
        },
        "code": {
          "type": "integer",
          "format": "int32"
        }
      },
      "id": "Status",
      "type": "object"
    },
    "DiskPath": {
      "type": "object",
      "id": "DiskPath",
      "properties": {
        "partitionUuid": {
          "type": "string"
        },
        "relativePath": {
          "type": "string"
        }
      }
    },
    "GoogleCloudSecuritycenterV1IamRolePermission": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        },
        "role": {
          "type": "string"
        }
      },
      "id": "GoogleCloudSecuritycenterV1IamRolePermission"
    },
    "GoogleCloudSecuritycenterV2SecurityBulletin": {
      "properties": {
        "bulletinId": {
          "type": "string"
        },
        "suggestedUpgradeVersion": {
          "type": "string"
        },
        "submissionTime": {
          "type": "string",
          "format": "google-datetime"
        }
      },
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2SecurityBulletin"
    },
    "Connection": {
      "properties": {
        "protocol": {
          "type": "string",
          "enum": [
            "PROTOCOL_UNSPECIFIED",
            "ICMP",
            "TCP",
            "UDP",
            "GRE",
            "ESP"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            ""
          ]
        },
        "destinationPort": {
          "format": "int32",
          "type": "integer"
        },
        "destinationIp": {
          "type": "string"
        },
        "sourceIp": {
          "type": "string"
        },
        "sourcePort": {
          "type": "integer",
          "format": "int32"
        }
      },
      "id": "Connection",
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2BigQueryExport": {
      "properties": {
        "dataset": {
          "type": "string"
        },
        "filter": {
          "type": "string"
        },
        "principal": {
          "type": "string",
          "readOnly": true
        },
        "name": {
          "type": "string"
        },
        "description": {
          "type": "string"
        },
        "cryptoKeyName": {
          "type": "string",
          "readOnly": true
        },
        "updateTime": {
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "mostRecentEditor": {
          "readOnly": true,
          "type": "string"
        },
        "createTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        }
      },
      "id": "GoogleCloudSecuritycenterV2BigQueryExport",
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2IssueResourceApplicationAttributesCriticality": {
      "type": "object",
      "properties": {
        "type": {
          "enum": [
            "CRITICALITY_TYPE_UNSPECIFIED",
            "MISSION_CRITICAL",
            "HIGH",
            "MEDIUM",
            "LOW"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ]
        }
      },
      "id": "GoogleCloudSecuritycenterV2IssueResourceApplicationAttributesCriticality"
    },
    "GoogleCloudSecuritycenterV1p1beta1SecurityMarks": {
      "type": "object",
      "id": "GoogleCloudSecuritycenterV1p1beta1SecurityMarks",
      "properties": {
        "marks": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "name": {
          "type": "string"
        },
        "canonicalName": {
          "type": "string"
        }
      }
    },
    "GoogleCloudSecuritycenterV2DataAccessEvent": {
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2DataAccessEvent",
      "properties": {
        "operation": {
          "enum": [
            "OPERATION_UNSPECIFIED",
            "READ",
            "MOVE",
            "COPY"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ]
        },
        "principalEmail": {
          "type": "string"
        },
        "eventTime": {
          "format": "google-datetime",
          "type": "string"
        },
        "eventId": {
          "type": "string"
        }
      }
    },
    "GoogleCloudSecuritycenterV2AiModel": {
      "type": "object",
      "properties": {
        "usageCategory": {
          "type": "string"
        },
        "displayName": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "location": {
          "type": "string"
        },
        "domain": {
          "type": "string"
        },
        "publisher": {
          "type": "string"
        },
        "library": {
          "type": "string"
        },
        "deploymentPlatform": {
          "enum": [
            "DEPLOYMENT_PLATFORM_UNSPECIFIED",
            "VERTEX_AI",
            "GKE",
            "GCE",
            "FINE_TUNED_MODEL"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ],
          "type": "string"
        }
      },
      "id": "GoogleCloudSecuritycenterV2AiModel"
    },
    "GoogleCloudSecuritycenterV1RunAssetDiscoveryResponse": {
      "properties": {
        "state": {
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "COMPLETED",
            "SUPERSEDED",
            "TERMINATED"
          ],
          "type": "string"
        },
        "duration": {
          "format": "google-duration",
          "type": "string"
        }
      },
      "id": "GoogleCloudSecuritycenterV1RunAssetDiscoveryResponse",
      "type": "object"
    },
    "ArtifactGuardPolicies": {
      "id": "ArtifactGuardPolicies",
      "type": "object",
      "properties": {
        "resourceId": {
          "type": "string"
        },
        "failingPolicies": {
          "items": {
            "$ref": "ArtifactGuardPolicy"
          },
          "type": "array"
        }
      }
    },
    "GoogleCloudSecuritycenterV1MuteConfig": {
      "type": "object",
      "id": "GoogleCloudSecuritycenterV1MuteConfig",
      "properties": {
        "displayName": {
          "deprecated": true,
          "type": "string"
        },
        "filter": {
          "type": "string"
        },
        "expiryTime": {
          "type": "string",
          "format": "google-datetime"
        },
        "createTime": {
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "updateTime": {
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "mostRecentEditor": {
          "readOnly": true,
          "type": "string"
        },
        "type": {
          "type": "string",
          "enum": [
            "MUTE_CONFIG_TYPE_UNSPECIFIED",
            "STATIC",
            "DYNAMIC"
          ],
          "enumDescriptions": [
            "",
            "",
            ""
          ]
        },
        "description": {
          "type": "string"
        },
        "name": {
          "type": "string"
        }
      }
    },
    "GoogleCloudSecuritycenterV2Binding": {
      "properties": {
        "role": {
          "$ref": "GoogleCloudSecuritycenterV2Role"
        },
        "ns": {
          "type": "string"
        },
        "subjects": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2Subject"
          }
        },
        "name": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2Binding"
    },
    "GroupMembership": {
      "type": "object",
      "id": "GroupMembership",
      "properties": {
        "groupType": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "GROUP_TYPE_UNSPECIFIED",
            "GROUP_TYPE_TOXIC_COMBINATION",
            "GROUP_TYPE_CHOKEPOINT"
          ]
        },
        "groupId": {
          "type": "string"
        }
      }
    },
    "GoogleCloudSecuritycenterV1CustomConfig": {
      "id": "GoogleCloudSecuritycenterV1CustomConfig",
      "properties": {
        "recommendation": {
          "type": "string"
        },
        "customOutput": {
          "$ref": "GoogleCloudSecuritycenterV1CustomOutputSpec"
        },
        "severity": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "SEVERITY_UNSPECIFIED",
            "CRITICAL",
            "HIGH",
            "MEDIUM",
            "LOW"
          ]
        },
        "resourceSelector": {
          "$ref": "GoogleCloudSecuritycenterV1ResourceSelector"
        },
        "predicate": {
          "$ref": "Expr"
        },
        "description": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2IssueResourceApplicationAttributesContactInfo": {
      "id": "GoogleCloudSecuritycenterV2IssueResourceApplicationAttributesContactInfo",
      "type": "object",
      "properties": {
        "email": {
          "type": "string"
        }
      }
    },
    "GoogleCloudSecuritycenterV2ResourceApplicationAttributesContactInfo": {
      "type": "object",
      "properties": {
        "email": {
          "type": "string"
        }
      },
      "id": "GoogleCloudSecuritycenterV2ResourceApplicationAttributesContactInfo"
    },
    "Chokepoint": {
      "type": "object",
      "id": "Chokepoint",
      "properties": {
        "relatedFindings": {
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "Framework": {
      "properties": {
        "controls": {
          "type": "array",
          "items": {
            "$ref": "Control"
          }
        },
        "name": {
          "type": "string"
        },
        "displayName": {
          "type": "string"
        },
        "category": {
          "type": "array",
          "items": {
            "enum": [
              "FRAMEWORK_CATEGORY_UNSPECIFIED",
              "SECURITY_BENCHMARKS",
              "ASSURED_WORKLOADS",
              "DATA_SECURITY",
              "GOOGLE_BEST_PRACTICES",
              "CUSTOM_FRAMEWORK"
            ],
            "type": "string",
            "enumDescriptions": [
              "",
              "",
              "",
              "",
              "",
              ""
            ]
          }
        },
        "type": {
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "FRAMEWORK_TYPE_UNSPECIFIED",
            "FRAMEWORK_TYPE_BUILT_IN",
            "FRAMEWORK_TYPE_CUSTOM"
          ]
        }
      },
      "id": "Framework",
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2Cwe": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string"
        },
        "references": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2Reference"
          }
        }
      },
      "id": "GoogleCloudSecuritycenterV2Cwe"
    },
    "GroupFindingsResponse": {
      "id": "GroupFindingsResponse",
      "type": "object",
      "properties": {
        "readTime": {
          "type": "string",
          "format": "google-datetime"
        },
        "groupByResults": {
          "items": {
            "$ref": "GroupResult"
          },
          "type": "array"
        },
        "nextPageToken": {
          "type": "string"
        }
      }
    },
    "PortRange": {
      "id": "PortRange",
      "properties": {
        "min": {
          "type": "string",
          "format": "int64"
        },
        "max": {
          "type": "string",
          "format": "int64"
        }
      },
      "type": "object"
    },
    "Finding": {
      "properties": {
        "database": {
          "$ref": "Database"
        },
        "mitreAttack": {
          "$ref": "MitreAttack"
        },
        "vertexAi": {
          "$ref": "VertexAi"
        },
        "discoveredWorkload": {
          "$ref": "DiscoveredWorkload"
        },
        "loadBalancers": {
          "type": "array",
          "items": {
            "$ref": "LoadBalancer"
          }
        },
        "cloudDlpDataProfile": {
          "$ref": "CloudDlpDataProfile"
        },
        "contacts": {
          "readOnly": true,
          "type": "object",
          "additionalProperties": {
            "$ref": "ContactDetails"
          }
        },
        "agentDataAccessEvents": {
          "type": "array",
          "items": {
            "$ref": "AgentDataAccessEvent"
          }
        },
        "groupMemberships": {
          "items": {
            "$ref": "GroupMembership"
          },
          "type": "array"
        },
        "parentDisplayName": {
          "readOnly": true,
          "type": "string"
        },
        "externalSystems": {
          "additionalProperties": {
            "$ref": "GoogleCloudSecuritycenterV1ExternalSystem"
          },
          "type": "object",
          "readOnly": true
        },
        "state": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "INACTIVE"
          ]
        },
        "kernelRootkit": {
          "$ref": "KernelRootkit"
        },
        "affectedResources": {
          "$ref": "AffectedResources"
        },
        "indicator": {
          "$ref": "Indicator"
        },
        "securityPosture": {
          "$ref": "SecurityPosture"
        },
        "access": {
          "$ref": "Access"
        },
        "eventTime": {
          "type": "string",
          "format": "google-datetime"
        },
        "compliances": {
          "type": "array",
          "items": {
            "$ref": "Compliance"
          }
        },
        "agent": {
          "$ref": "Agent"
        },
        "cloudDlpInspection": {
          "$ref": "CloudDlpInspection"
        },
        "externalUri": {
          "type": "string"
        },
        "processes": {
          "type": "array",
          "items": {
            "$ref": "Process"
          }
        },
        "backupDisasterRecovery": {
          "$ref": "BackupDisasterRecovery"
        },
        "dataRetentionDeletionEvents": {
          "type": "array",
          "items": {
            "$ref": "DataRetentionDeletionEvent"
          }
        },
        "category": {
          "type": "string"
        },
        "orgPolicies": {
          "items": {
            "$ref": "OrgPolicy"
          },
          "type": "array"
        },
        "name": {
          "type": "string"
        },
        "logEntries": {
          "type": "array",
          "items": {
            "$ref": "LogEntry"
          }
        },
        "resourceName": {
          "type": "string"
        },
        "createTime": {
          "format": "google-datetime",
          "type": "string"
        },
        "cloudArmor": {
          "$ref": "CloudArmor"
        },
        "toxicCombination": {
          "$ref": "ToxicCombination"
        },
        "iamDetails": {
          "$ref": "GoogleCloudSecuritycenterV1IamDetails"
        },
        "complianceDetails": {
          "$ref": "ComplianceDetails"
        },
        "vulnerability": {
          "$ref": "Vulnerability"
        },
        "muteInitiator": {
          "type": "string"
        },
        "canonicalName": {
          "type": "string"
        },
        "iamBindings": {
          "type": "array",
          "items": {
            "$ref": "IamBinding"
          }
        },
        "mute": {
          "enum": [
            "MUTE_UNSPECIFIED",
            "MUTED",
            "UNMUTED",
            "UNDEFINED"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "type": "string"
        },
        "securityMarks": {
          "$ref": "SecurityMarks",
          "readOnly": true
        },
        "dataFlowEvents": {
          "type": "array",
          "items": {
            "$ref": "DataFlowEvent"
          }
        },
        "nextSteps": {
          "type": "string"
        },
        "ipRules": {
          "$ref": "IpRules"
        },
        "agentSessions": {
          "items": {
            "$ref": "AgentSession"
          },
          "type": "array"
        },
        "muteUpdateTime": {
          "format": "google-datetime",
          "type": "string",
          "readOnly": true
        },
        "networks": {
          "type": "array",
          "items": {
            "$ref": "Network"
          }
        },
        "disk": {
          "$ref": "Disk"
        },
        "job": {
          "$ref": "Job"
        },
        "notebook": {
          "$ref": "Notebook"
        },
        "attackExposure": {
          "$ref": "AttackExposure"
        },
        "dataAccessEvents": {
          "type": "array",
          "items": {
            "$ref": "DataAccessEvent"
          }
        },
        "agentAnomaly": {
          "$ref": "AgentAnomaly"
        },
        "kubernetes": {
          "$ref": "Kubernetes"
        },
        "severity": {
          "type": "string",
          "enum": [
            "SEVERITY_UNSPECIFIED",
            "CRITICAL",
            "HIGH",
            "MEDIUM",
            "LOW"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ]
        },
        "policyViolationSummary": {
          "$ref": "PolicyViolationSummary"
        },
        "artifactGuardPolicies": {
          "$ref": "ArtifactGuardPolicies"
        },
        "secret": {
          "$ref": "Secret"
        },
        "application": {
          "$ref": "Application"
        },
        "findingClass": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "FINDING_CLASS_UNSPECIFIED",
            "THREAT",
            "VULNERABILITY",
            "MISCONFIGURATION",
            "OBSERVATION",
            "SCC_ERROR",
            "POSTURE_VIOLATION",
            "TOXIC_COMBINATION",
            "SENSITIVE_DATA_RISK",
            "CHOKEPOINT",
            "EXTERNAL_EXPOSURE",
            "SECRET"
          ]
        },
        "exfiltration": {
          "$ref": "Exfiltration"
        },
        "parent": {
          "type": "string"
        },
        "moduleName": {
          "type": "string"
        },
        "description": {
          "type": "string"
        },
        "aiModel": {
          "$ref": "AiModel"
        },
        "files": {
          "items": {
            "$ref": "File"
          },
          "type": "array"
        },
        "connections": {
          "type": "array",
          "items": {
            "$ref": "Connection"
          }
        },
        "sourceProperties": {
          "type": "object",
          "additionalProperties": {
            "type": "any"
          }
        },
        "externalExposure": {
          "$ref": "ExternalExposure"
        },
        "muteInfo": {
          "readOnly": true,
          "$ref": "MuteInfo"
        },
        "chokepoint": {
          "$ref": "Chokepoint"
        },
        "containers": {
          "items": {
            "$ref": "Container"
          },
          "type": "array"
        }
      },
      "id": "Finding",
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2Detection": {
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2Detection",
      "properties": {
        "percentPagesMatched": {
          "format": "double",
          "type": "number"
        },
        "binary": {
          "type": "string"
        }
      }
    },
    "GoogleCloudSecuritycenterV2ResourceValueConfig": {
      "properties": {
        "resourceLabelsSelector": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "scope": {
          "type": "string"
        },
        "cloudProvider": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "CLOUD_PROVIDER_UNSPECIFIED",
            "GOOGLE_CLOUD_PLATFORM",
            "AMAZON_WEB_SERVICES",
            "MICROSOFT_AZURE"
          ]
        },
        "resourceType": {
          "type": "string"
        },
        "tagValues": {
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "sensitiveDataProtectionMapping": {
          "$ref": "GoogleCloudSecuritycenterV2SensitiveDataProtectionMapping"
        },
        "description": {
          "type": "string"
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "name": {
          "type": "string"
        },
        "updateTime": {
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "resourceValue": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "RESOURCE_VALUE_UNSPECIFIED",
            "HIGH",
            "MEDIUM",
            "LOW",
            "NONE"
          ]
        }
      },
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2ResourceValueConfig"
    },
    "GoogleCloudSecuritycenterV1EffectiveSecurityHealthAnalyticsCustomModule": {
      "type": "object",
      "id": "GoogleCloudSecuritycenterV1EffectiveSecurityHealthAnalyticsCustomModule",
      "properties": {
        "enablementState": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "readOnly": true,
          "enum": [
            "ENABLEMENT_STATE_UNSPECIFIED",
            "ENABLED",
            "DISABLED"
          ]
        },
        "customConfig": {
          "readOnly": true,
          "$ref": "GoogleCloudSecuritycenterV1CustomConfig"
        },
        "cloudProvider": {
          "type": "string",
          "enum": [
            "CLOUD_PROVIDER_UNSPECIFIED",
            "GOOGLE_CLOUD_PLATFORM",
            "AMAZON_WEB_SERVICES",
            "MICROSOFT_AZURE"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ]
        },
        "displayName": {
          "type": "string",
          "readOnly": true
        },
        "name": {
          "type": "string",
          "readOnly": true
        }
      }
    },
    "GoogleCloudSecuritycenterV2IssueResourceApplicationAttributes": {
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2IssueResourceApplicationAttributes",
      "properties": {
        "developerOwners": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2IssueResourceApplicationAttributesContactInfo"
          }
        },
        "businessOwners": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2IssueResourceApplicationAttributesContactInfo"
          }
        },
        "environment": {
          "$ref": "GoogleCloudSecuritycenterV2IssueResourceApplicationAttributesEnvironment"
        },
        "operatorOwners": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2IssueResourceApplicationAttributesContactInfo"
          }
        },
        "criticality": {
          "$ref": "GoogleCloudSecuritycenterV2IssueResourceApplicationAttributesCriticality"
        }
      }
    },
    "GoogleCloudSecuritycenterV2IssueResourceAdcApplication": {
      "type": "object",
      "properties": {
        "attributes": {
          "$ref": "GoogleCloudSecuritycenterV2IssueResourceApplicationAttributes"
        },
        "name": {
          "type": "string"
        }
      },
      "id": "GoogleCloudSecuritycenterV2IssueResourceAdcApplication"
    },
    "GoogleCloudSecuritycenterV1Binding": {
      "type": "object",
      "id": "GoogleCloudSecuritycenterV1Binding",
      "properties": {
        "subjects": {
          "type": "array",
          "items": {
            "$ref": "Subject"
          }
        },
        "name": {
          "type": "string"
        },
        "ns": {
          "type": "string"
        },
        "role": {
          "$ref": "Role"
        }
      }
    },
    "ExportFindingsMetadata": {
      "type": "object",
      "id": "ExportFindingsMetadata",
      "properties": {
        "bigQueryDestination": {
          "$ref": "BigQueryDestination"
        },
        "exportStartTime": {
          "type": "string",
          "format": "google-datetime"
        }
      }
    },
    "GoogleCloudSecuritycenterV2NotificationMessage": {
      "id": "GoogleCloudSecuritycenterV2NotificationMessage",
      "type": "object",
      "properties": {
        "finding": {
          "$ref": "GoogleCloudSecuritycenterV2Finding"
        },
        "resource": {
          "$ref": "GoogleCloudSecuritycenterV2Resource"
        },
        "notificationConfigName": {
          "type": "string"
        }
      }
    },
    "GoogleCloudSecuritycenterV2Pipeline": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        },
        "displayName": {
          "type": "string"
        }
      },
      "id": "GoogleCloudSecuritycenterV2Pipeline"
    },
    "Agent": {
      "properties": {
        "displayName": {
          "type": "string"
        },
        "id": {
          "type": "string"
        }
      },
      "id": "Agent",
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2IssueResourceApplication": {
      "properties": {
        "attributes": {
          "$ref": "GoogleCloudSecuritycenterV2IssueResourceApplicationAttributes"
        },
        "name": {
          "type": "string"
        }
      },
      "id": "GoogleCloudSecuritycenterV2IssueResourceApplication",
      "type": "object"
    },
    "Indicator": {
      "properties": {
        "uris": {
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "signatures": {
          "type": "array",
          "items": {
            "$ref": "ProcessSignature"
          }
        },
        "domains": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "ipAddresses": {
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object",
      "id": "Indicator"
    },
    "GoogleCloudSecuritycenterV2IssueDomain": {
      "id": "GoogleCloudSecuritycenterV2IssueDomain",
      "type": "object",
      "properties": {
        "domainCategory": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "DOMAIN_CATEGORY_UNSPECIFIED",
            "AI",
            "CODE",
            "CONTAINER",
            "DATA",
            "IDENTITY_AND_ACCESS",
            "VULNERABILITY",
            "THREAT"
          ]
        }
      }
    },
    "GoogleCloudSecuritycenterV2ToxicCombination": {
      "id": "GoogleCloudSecuritycenterV2ToxicCombination",
      "type": "object",
      "properties": {
        "attackExposureScore": {
          "format": "double",
          "type": "number"
        },
        "relatedFindings": {
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      }
    },
    "GoogleCloudSecuritycenterV2ResourceApplicationAttributesEnvironment": {
      "id": "GoogleCloudSecuritycenterV2ResourceApplicationAttributesEnvironment",
      "properties": {
        "type": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "ENVIRONMENT_TYPE_UNSPECIFIED",
            "PRODUCTION",
            "STAGING",
            "TEST",
            "DEVELOPMENT"
          ]
        }
      },
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2IssueSecurityContextContext": {
      "properties": {
        "values": {
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "type": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2IssueSecurityContextContext"
    },
    "GoogleCloudSecuritycenterV2AdcApplicationTemplateRevision": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        }
      },
      "id": "GoogleCloudSecuritycenterV2AdcApplicationTemplateRevision"
    },
    "ContactDetails": {
      "id": "ContactDetails",
      "properties": {
        "contacts": {
          "type": "array",
          "items": {
            "$ref": "Contact"
          }
        }
      },
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2IssueMute": {
      "properties": {
        "muteInitiator": {
          "type": "string"
        },
        "muteState": {
          "type": "string",
          "enum": [
            "MUTE_STATE_UNSPECIFIED",
            "NOT_MUTED",
            "MUTED"
          ],
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "readOnly": true
        },
        "muteReason": {
          "type": "string"
        },
        "muteUpdateTime": {
          "type": "string",
          "format": "google-datetime"
        }
      },
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2IssueMute"
    },
    "GoogleCloudSecuritycenterV2MemoryHashSignature": {
      "properties": {
        "binaryFamily": {
          "type": "string"
        },
        "detections": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2Detection"
          }
        }
      },
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2MemoryHashSignature"
    },
    "GoogleCloudSecuritycenterV2ServiceAccountDelegationInfo": {
      "properties": {
        "principalSubject": {
          "type": "string"
        },
        "principalEmail": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2ServiceAccountDelegationInfo"
    },
    "GroupFindingsRequest": {
      "id": "GroupFindingsRequest",
      "type": "object",
      "properties": {
        "readTime": {
          "type": "string",
          "format": "google-datetime"
        },
        "pageSize": {
          "format": "int32",
          "type": "integer"
        },
        "filter": {
          "type": "string"
        },
        "pageToken": {
          "type": "string"
        },
        "groupBy": {
          "type": "string"
        }
      }
    },
    "Requests": {
      "type": "object",
      "properties": {
        "longTermDenied": {
          "format": "int32",
          "type": "integer"
        },
        "longTermAllowed": {
          "type": "integer",
          "format": "int32"
        },
        "ratio": {
          "format": "double",
          "type": "number"
        },
        "shortTermAllowed": {
          "type": "integer",
          "format": "int32"
        }
      },
      "id": "Requests"
    },
    "GoogleCloudSecuritycenterV2CloudControl": {
      "id": "GoogleCloudSecuritycenterV2CloudControl",
      "type": "object",
      "properties": {
        "type": {
          "enum": [
            "CLOUD_CONTROL_TYPE_UNSPECIFIED",
            "BUILT_IN",
            "CUSTOM"
          ],
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "type": "string"
        },
        "cloudControlName": {
          "type": "string"
        },
        "policyType": {
          "type": "string"
        },
        "version": {
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "AwsOrganization": {
      "id": "AwsOrganization",
      "properties": {
        "id": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "Exfiltration": {
      "id": "Exfiltration",
      "type": "object",
      "properties": {
        "sources": {
          "items": {
            "$ref": "ExfilResource"
          },
          "type": "array"
        },
        "totalExfiltratedBytes": {
          "format": "int64",
          "type": "string"
        },
        "targets": {
          "items": {
            "$ref": "ExfilResource"
          },
          "type": "array"
        }
      }
    },
    "GoogleCloudSecuritycenterV2Finding": {
      "id": "GoogleCloudSecuritycenterV2Finding",
      "properties": {
        "severity": {
          "type": "string",
          "enum": [
            "SEVERITY_UNSPECIFIED",
            "CRITICAL",
            "HIGH",
            "MEDIUM",
            "LOW"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ]
        },
        "description": {
          "type": "string"
        },
        "job": {
          "$ref": "GoogleCloudSecuritycenterV2Job"
        },
        "state": {
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "INACTIVE"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            ""
          ]
        },
        "agentDataAccessEvents": {
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2AgentDataAccessEvent"
          },
          "type": "array"
        },
        "ipRules": {
          "$ref": "GoogleCloudSecuritycenterV2IpRules"
        },
        "notebook": {
          "$ref": "GoogleCloudSecuritycenterV2Notebook"
        },
        "name": {
          "type": "string"
        },
        "toxicCombination": {
          "$ref": "GoogleCloudSecuritycenterV2ToxicCombination"
        },
        "resourceName": {
          "type": "string"
        },
        "networks": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2Network"
          }
        },
        "access": {
          "$ref": "GoogleCloudSecuritycenterV2Access"
        },
        "securityMarks": {
          "readOnly": true,
          "$ref": "GoogleCloudSecuritycenterV2SecurityMarks"
        },
        "dataRetentionDeletionEvents": {
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2DataRetentionDeletionEvent"
          },
          "type": "array"
        },
        "mute": {
          "enum": [
            "MUTE_UNSPECIFIED",
            "MUTED",
            "UNMUTED",
            "UNDEFINED"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ]
        },
        "cloudDlpDataProfile": {
          "$ref": "GoogleCloudSecuritycenterV2CloudDlpDataProfile"
        },
        "kubernetes": {
          "$ref": "GoogleCloudSecuritycenterV2Kubernetes"
        },
        "vulnerability": {
          "$ref": "GoogleCloudSecuritycenterV2Vulnerability"
        },
        "muteInitiator": {
          "type": "string"
        },
        "connections": {
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2Connection"
          },
          "type": "array"
        },
        "canonicalName": {
          "readOnly": true,
          "type": "string"
        },
        "dataFlowEvents": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2DataFlowEvent"
          }
        },
        "aiModel": {
          "$ref": "GoogleCloudSecuritycenterV2AiModel"
        },
        "backupDisasterRecovery": {
          "$ref": "GoogleCloudSecuritycenterV2BackupDisasterRecovery"
        },
        "loadBalancers": {
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2LoadBalancer"
          },
          "type": "array"
        },
        "moduleName": {
          "type": "string"
        },
        "muteInfo": {
          "readOnly": true,
          "$ref": "GoogleCloudSecuritycenterV2MuteInfo"
        },
        "muteUpdateTime": {
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "nextSteps": {
          "type": "string"
        },
        "kernelRootkit": {
          "$ref": "GoogleCloudSecuritycenterV2KernelRootkit"
        },
        "application": {
          "$ref": "GoogleCloudSecuritycenterV2Application"
        },
        "agent": {
          "$ref": "GoogleCloudSecuritycenterV2Agent"
        },
        "groupMemberships": {
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2GroupMembership"
          },
          "type": "array"
        },
        "chokepoint": {
          "$ref": "GoogleCloudSecuritycenterV2Chokepoint"
        },
        "attackExposure": {
          "$ref": "GoogleCloudSecuritycenterV2AttackExposure"
        },
        "cryptoKeyName": {
          "readOnly": true,
          "type": "string"
        },
        "containers": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2Container"
          }
        },
        "parentDisplayName": {
          "readOnly": true,
          "type": "string"
        },
        "orgPolicies": {
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2OrgPolicy"
          },
          "type": "array"
        },
        "artifactGuardPolicies": {
          "$ref": "GoogleCloudSecuritycenterV2ArtifactGuardPolicies"
        },
        "affectedResources": {
          "$ref": "GoogleCloudSecuritycenterV2AffectedResources"
        },
        "externalUri": {
          "type": "string"
        },
        "processes": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2Process"
          }
        },
        "compliances": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2Compliance"
          }
        },
        "contacts": {
          "type": "object",
          "additionalProperties": {
            "$ref": "GoogleCloudSecuritycenterV2ContactDetails"
          },
          "readOnly": true
        },
        "externalExposure": {
          "$ref": "GoogleCloudSecuritycenterV2ExternalExposure"
        },
        "discoveredWorkload": {
          "$ref": "GoogleCloudSecuritycenterV2DiscoveredWorkload"
        },
        "externalSystems": {
          "readOnly": true,
          "additionalProperties": {
            "$ref": "GoogleCloudSecuritycenterV2ExternalSystem"
          },
          "type": "object"
        },
        "sourceProperties": {
          "type": "object",
          "additionalProperties": {
            "type": "any"
          }
        },
        "secret": {
          "$ref": "GoogleCloudSecuritycenterV2Secret"
        },
        "iamBindings": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2IamBinding"
          }
        },
        "findingClass": {
          "type": "string",
          "enum": [
            "FINDING_CLASS_UNSPECIFIED",
            "THREAT",
            "VULNERABILITY",
            "MISCONFIGURATION",
            "OBSERVATION",
            "SCC_ERROR",
            "POSTURE_VIOLATION",
            "TOXIC_COMBINATION",
            "SENSITIVE_DATA_RISK",
            "CHOKEPOINT",
            "EXTERNAL_EXPOSURE",
            "SECRET"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ]
        },
        "vertexAi": {
          "$ref": "GoogleCloudSecuritycenterV2VertexAi"
        },
        "database": {
          "$ref": "GoogleCloudSecuritycenterV2Database"
        },
        "policyViolationSummary": {
          "$ref": "GoogleCloudSecuritycenterV2PolicyViolationSummary"
        },
        "exfiltration": {
          "$ref": "GoogleCloudSecuritycenterV2Exfiltration"
        },
        "securityPosture": {
          "$ref": "GoogleCloudSecuritycenterV2SecurityPosture"
        },
        "complianceDetails": {
          "$ref": "GoogleCloudSecuritycenterV2ComplianceDetails"
        },
        "agentAnomaly": {
          "$ref": "GoogleCloudSecuritycenterV2AgentAnomaly"
        },
        "mitreAttack": {
          "$ref": "GoogleCloudSecuritycenterV2MitreAttack"
        },
        "logEntries": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2LogEntry"
          }
        },
        "agentSessions": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2AgentSession"
          }
        },
        "parent": {
          "type": "string"
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "cloudArmor": {
          "$ref": "GoogleCloudSecuritycenterV2CloudArmor"
        },
        "iamDetails": {
          "$ref": "GoogleCloudSecuritycenterV2IamDetails"
        },
        "eventTime": {
          "format": "google-datetime",
          "type": "string"
        },
        "disk": {
          "$ref": "GoogleCloudSecuritycenterV2Disk"
        },
        "dataAccessEvents": {
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2DataAccessEvent"
          },
          "type": "array"
        },
        "indicator": {
          "$ref": "GoogleCloudSecuritycenterV2Indicator"
        },
        "category": {
          "type": "string"
        },
        "files": {
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2File"
          },
          "type": "array"
        },
        "cloudDlpInspection": {
          "$ref": "GoogleCloudSecuritycenterV2CloudDlpInspection"
        }
      },
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2Attack": {
      "properties": {
        "volumePps": {
          "deprecated": true,
          "type": "integer",
          "format": "int32"
        },
        "volumeBps": {
          "type": "integer",
          "format": "int32",
          "deprecated": true
        },
        "classification": {
          "type": "string"
        },
        "volumePpsLong": {
          "type": "string",
          "format": "int64"
        },
        "volumeBpsLong": {
          "format": "int64",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2Attack"
    },
    "GoogleCloudSecuritycenterV2IssueFindingCve": {
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2IssueFindingCve",
      "properties": {
        "name": {
          "type": "string"
        }
      }
    },
    "GoogleCloudSecuritycenterV2Access": {
      "id": "GoogleCloudSecuritycenterV2Access",
      "type": "object",
      "properties": {
        "callerIpGeo": {
          "$ref": "GoogleCloudSecuritycenterV2Geolocation"
        },
        "principalSubject": {
          "type": "string"
        },
        "serviceAccountKeyName": {
          "type": "string"
        },
        "methodName": {
          "type": "string"
        },
        "serviceAccountDelegationInfo": {
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2ServiceAccountDelegationInfo"
          },
          "type": "array"
        },
        "userAgent": {
          "type": "string"
        },
        "principalEmail": {
          "type": "string"
        },
        "callerIp": {
          "type": "string"
        },
        "serviceName": {
          "type": "string"
        },
        "userAgentFamily": {
          "type": "string"
        },
        "userName": {
          "type": "string"
        }
      }
    },
    "Pipeline": {
      "properties": {
        "name": {
          "type": "string"
        },
        "displayName": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "Pipeline"
    },
    "Folder": {
      "id": "Folder",
      "properties": {
        "resourceFolderDisplayName": {
          "type": "string"
        },
        "resourceFolder": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2Label": {
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2Label",
      "properties": {
        "name": {
          "type": "string"
        },
        "value": {
          "type": "string"
        }
      }
    },
    "ListAssetsResult": {
      "properties": {
        "asset": {
          "$ref": "Asset"
        },
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "UNUSED",
            "ADDED",
            "REMOVED",
            "ACTIVE"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ],
          "type": "string"
        }
      },
      "type": "object",
      "id": "ListAssetsResult"
    },
    "GoogleCloudSecuritycenterV2IssueResourceAwsMetadataAwsAccount": {
      "id": "GoogleCloudSecuritycenterV2IssueResourceAwsMetadataAwsAccount",
      "properties": {
        "id": {
          "type": "string"
        },
        "name": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2Connection": {
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2Connection",
      "properties": {
        "protocol": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "PROTOCOL_UNSPECIFIED",
            "ICMP",
            "TCP",
            "UDP",
            "GRE",
            "ESP"
          ]
        },
        "sourcePort": {
          "type": "integer",
          "format": "int32"
        },
        "destinationIp": {
          "type": "string"
        },
        "destinationPort": {
          "type": "integer",
          "format": "int32"
        },
        "sourceIp": {
          "type": "string"
        }
      }
    },
    "OrganizationSettings": {
      "id": "OrganizationSettings",
      "properties": {
        "assetDiscoveryConfig": {
          "$ref": "AssetDiscoveryConfig"
        },
        "name": {
          "type": "string"
        },
        "enableAssetDiscovery": {
          "type": "boolean"
        }
      },
      "type": "object"
    },
    "Attack": {
      "properties": {
        "volumePps": {
          "format": "int32",
          "deprecated": true,
          "type": "integer"
        },
        "volumeBps": {
          "format": "int32",
          "type": "integer",
          "deprecated": true
        },
        "volumeBpsLong": {
          "type": "string",
          "format": "int64"
        },
        "classification": {
          "type": "string"
        },
        "volumePpsLong": {
          "format": "int64",
          "type": "string"
        }
      },
      "type": "object",
      "id": "Attack"
    },
    "Asset": {
      "properties": {
        "name": {
          "type": "string"
        },
        "createTime": {
          "format": "google-datetime",
          "type": "string"
        },
        "updateTime": {
          "format": "google-datetime",
          "type": "string"
        },
        "resourceProperties": {
          "type": "object",
          "additionalProperties": {
            "type": "any"
          }
        },
        "securityMarks": {
          "$ref": "GoogleCloudSecuritycenterV1beta1SecurityMarks"
        },
        "securityCenterProperties": {
          "$ref": "SecurityCenterProperties"
        }
      },
      "type": "object",
      "id": "Asset"
    },
    "IpRule": {
      "type": "object",
      "properties": {
        "protocol": {
          "type": "string"
        },
        "portRanges": {
          "items": {
            "$ref": "PortRange"
          },
          "type": "array"
        }
      },
      "id": "IpRule"
    },
    "GoogleCloudSecuritycenterV2ResourceApplicationAttributesCriticality": {
      "properties": {
        "type": {
          "enum": [
            "CRITICALITY_TYPE_UNSPECIFIED",
            "MISSION_CRITICAL",
            "HIGH",
            "MEDIUM",
            "LOW"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ],
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2ResourceApplicationAttributesCriticality"
    },
    "DataRetentionDeletionEvent": {
      "properties": {
        "maxRetentionAllowed": {
          "type": "string",
          "format": "google-duration"
        },
        "minRetentionAllowed": {
          "type": "string",
          "format": "google-duration"
        },
        "eventType": {
          "enum": [
            "EVENT_TYPE_UNSPECIFIED",
            "EVENT_TYPE_MAX_TTL_EXCEEDED",
            "EVENT_TYPE_MAX_TTL_FROM_CREATION",
            "EVENT_TYPE_MAX_TTL_FROM_LAST_MODIFICATION",
            "EVENT_TYPE_MIN_TTL_FROM_CREATION"
          ],
          "type": "string",
          "enumDeprecated": [
            false,
            true,
            false,
            false,
            false
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ]
        },
        "eventDetectionTime": {
          "type": "string",
          "format": "google-datetime"
        },
        "dataObjectCount": {
          "type": "string",
          "format": "int64"
        }
      },
      "id": "DataRetentionDeletionEvent",
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2Control": {
      "id": "GoogleCloudSecuritycenterV2Control",
      "properties": {
        "controlName": {
          "type": "string"
        },
        "displayName": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2DataRetentionDeletionEvent": {
      "properties": {
        "maxRetentionAllowed": {
          "type": "string",
          "format": "google-duration"
        },
        "minRetentionAllowed": {
          "format": "google-duration",
          "type": "string"
        },
        "eventType": {
          "enum": [
            "EVENT_TYPE_UNSPECIFIED",
            "EVENT_TYPE_MAX_TTL_EXCEEDED",
            "EVENT_TYPE_MAX_TTL_FROM_CREATION",
            "EVENT_TYPE_MAX_TTL_FROM_LAST_MODIFICATION",
            "EVENT_TYPE_MIN_TTL_FROM_CREATION"
          ],
          "enumDeprecated": [
            false,
            true,
            false,
            false,
            false
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ]
        },
        "dataObjectCount": {
          "type": "string",
          "format": "int64"
        },
        "eventDetectionTime": {
          "type": "string",
          "format": "google-datetime"
        }
      },
      "id": "GoogleCloudSecuritycenterV2DataRetentionDeletionEvent",
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2ExfilResource": {
      "id": "GoogleCloudSecuritycenterV2ExfilResource",
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        },
        "components": {
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      }
    },
    "GoogleCloudSecuritycenterV2PortRange": {
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2PortRange",
      "properties": {
        "min": {
          "type": "string",
          "format": "int64"
        },
        "max": {
          "format": "int64",
          "type": "string"
        }
      }
    },
    "CloudControl": {
      "id": "CloudControl",
      "type": "object",
      "properties": {
        "cloudControlName": {
          "type": "string"
        },
        "policyType": {
          "type": "string"
        },
        "type": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "CLOUD_CONTROL_TYPE_UNSPECIFIED",
            "BUILT_IN",
            "CUSTOM"
          ]
        },
        "version": {
          "format": "int32",
          "type": "integer"
        }
      }
    },
    "GoogleCloudSecuritycenterV2SecretStatus": {
      "type": "object",
      "properties": {
        "validity": {
          "type": "string",
          "enum": [
            "SECRET_VALIDITY_UNSPECIFIED",
            "SECRET_VALIDITY_UNSUPPORTED",
            "SECRET_VALIDITY_FAILED",
            "SECRET_VALIDITY_INVALID",
            "SECRET_VALIDITY_VALID"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ]
        },
        "lastUpdatedTime": {
          "format": "google-datetime",
          "type": "string"
        }
      },
      "id": "GoogleCloudSecuritycenterV2SecretStatus"
    },
    "LogEntry": {
      "properties": {
        "cloudLoggingEntry": {
          "$ref": "CloudLoggingEntry"
        }
      },
      "id": "LogEntry",
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2IssueFinding": {
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2IssueFinding",
      "properties": {
        "name": {
          "type": "string"
        },
        "cve": {
          "$ref": "GoogleCloudSecuritycenterV2IssueFindingCve"
        },
        "securityBulletin": {
          "$ref": "GoogleCloudSecuritycenterV2IssueFindingSecurityBulletin"
        }
      }
    },
    "GoogleCloudSecuritycenterV2TicketInfo": {
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2TicketInfo",
      "properties": {
        "assignee": {
          "type": "string"
        },
        "description": {
          "type": "string"
        },
        "uri": {
          "type": "string"
        },
        "updateTime": {
          "type": "string",
          "format": "google-datetime"
        },
        "id": {
          "type": "string"
        },
        "status": {
          "type": "string"
        }
      }
    },
    "ExternalExposure": {
      "type": "object",
      "properties": {
        "exposedApplication": {
          "type": "string"
        },
        "backendBucket": {
          "type": "string"
        },
        "instanceGroup": {
          "type": "string"
        },
        "exposedService": {
          "type": "string"
        },
        "networkPathInsightsGenerationTime": {
          "type": "string",
          "format": "google-datetime"
        },
        "backendService": {
          "type": "string"
        },
        "privatePort": {
          "type": "string"
        },
        "loadBalancerFirewallPolicy": {
          "type": "string"
        },
        "internalBackendService": {
          "type": "string"
        },
        "networkEndpointGroup": {
          "type": "string"
        },
        "privateIpAddress": {
          "type": "string"
        },
        "pscServiceAttachment": {
          "type": "string"
        },
        "networkIngressFirewallPolicy": {
          "type": "string"
        },
        "forwardingRule": {
          "type": "string"
        },
        "exposedEndpoint": {
          "type": "string"
        },
        "publicIpAddress": {
          "type": "string"
        },
        "hostnameUri": {
          "type": "string"
        },
        "pscNetworkAttachment": {
          "type": "string"
        },
        "httpResponse": {
          "items": {
            "$ref": "HttpResponse"
          },
          "type": "array"
        },
        "publicPort": {
          "type": "string"
        },
        "serviceFirewallPolicy": {
          "type": "string"
        }
      },
      "id": "ExternalExposure"
    },
    "Notebook": {
      "id": "Notebook",
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        },
        "service": {
          "type": "string"
        },
        "lastAuthor": {
          "type": "string"
        },
        "notebookUpdateTime": {
          "format": "google-datetime",
          "type": "string"
        }
      }
    },
    "OrgPolicy": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        }
      },
      "id": "OrgPolicy"
    },
    "GoogleCloudSecuritycenterV1p1beta1NotificationMessage": {
      "id": "GoogleCloudSecuritycenterV1p1beta1NotificationMessage",
      "type": "object",
      "properties": {
        "finding": {
          "$ref": "GoogleCloudSecuritycenterV1p1beta1Finding"
        },
        "resource": {
          "$ref": "GoogleCloudSecuritycenterV1p1beta1Resource"
        },
        "notificationConfigName": {
          "type": "string"
        }
      }
    },
    "CloudArmor": {
      "type": "object",
      "id": "CloudArmor",
      "properties": {
        "requests": {
          "$ref": "Requests"
        },
        "attack": {
          "$ref": "Attack"
        },
        "threatVector": {
          "type": "string"
        },
        "adaptiveProtection": {
          "$ref": "AdaptiveProtection"
        },
        "securityPolicy": {
          "$ref": "SecurityPolicy"
        },
        "duration": {
          "format": "google-duration",
          "type": "string"
        }
      }
    },
    "CloudLoggingEntry": {
      "type": "object",
      "properties": {
        "logId": {
          "type": "string"
        },
        "resourceContainer": {
          "type": "string"
        },
        "insertId": {
          "type": "string"
        },
        "timestamp": {
          "format": "google-datetime",
          "type": "string"
        }
      },
      "id": "CloudLoggingEntry"
    },
    "GoogleCloudSecuritycenterV2IssueResourceApplicationAttributesEnvironment": {
      "type": "object",
      "properties": {
        "type": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "ENVIRONMENT_TYPE_UNSPECIFIED",
            "PRODUCTION",
            "STAGING",
            "TEST",
            "DEVELOPMENT"
          ]
        }
      },
      "id": "GoogleCloudSecuritycenterV2IssueResourceApplicationAttributesEnvironment"
    },
    "GoogleCloudSecuritycenterV1ResourceApplicationAttributesContactInfo": {
      "properties": {
        "email": {
          "type": "string"
        }
      },
      "id": "GoogleCloudSecuritycenterV1ResourceApplicationAttributesContactInfo",
      "type": "object"
    },
    "DetectorReference": {
      "id": "DetectorReference",
      "properties": {
        "displayName": {
          "type": "string"
        },
        "explanation": {
          "type": "string"
        },
        "severity": {
          "type": "string",
          "enum": [
            "SEVERITY_UNSPECIFIED",
            "CRITICAL",
            "HIGH",
            "MEDIUM",
            "LOW"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ]
        },
        "recommendation": {
          "type": "string"
        },
        "detectorId": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "Process": {
      "id": "Process",
      "properties": {
        "args": {
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "name": {
          "type": "string"
        },
        "envVariables": {
          "items": {
            "$ref": "EnvironmentVariable"
          },
          "type": "array"
        },
        "pid": {
          "type": "string",
          "format": "int64"
        },
        "parentPid": {
          "type": "string",
          "format": "int64"
        },
        "argumentsTruncated": {
          "type": "boolean"
        },
        "script": {
          "$ref": "File"
        },
        "envVariablesTruncated": {
          "type": "boolean"
        },
        "libraries": {
          "type": "array",
          "items": {
            "$ref": "File"
          }
        },
        "userId": {
          "type": "string",
          "format": "int64"
        },
        "binary": {
          "$ref": "File"
        }
      },
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2IamRolePermission": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        },
        "role": {
          "type": "string"
        }
      },
      "id": "GoogleCloudSecuritycenterV2IamRolePermission"
    },
    "GoogleCloudSecuritycenterV2Requests": {
      "id": "GoogleCloudSecuritycenterV2Requests",
      "properties": {
        "ratio": {
          "type": "number",
          "format": "double"
        },
        "shortTermAllowed": {
          "format": "int32",
          "type": "integer"
        },
        "longTermAllowed": {
          "type": "integer",
          "format": "int32"
        },
        "longTermDenied": {
          "type": "integer",
          "format": "int32"
        }
      },
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2IamDetails": {
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2IamDetails",
      "properties": {
        "iamRolePermissions": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2IamRolePermission"
          }
        }
      }
    },
    "GcpMetadata": {
      "properties": {
        "folders": {
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2Folder"
          },
          "readOnly": true,
          "type": "array"
        },
        "projectDisplayName": {
          "type": "string"
        },
        "organization": {
          "type": "string"
        },
        "project": {
          "type": "string"
        },
        "parentDisplayName": {
          "type": "string"
        },
        "parent": {
          "type": "string"
        }
      },
      "id": "GcpMetadata",
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2Job": {
      "properties": {
        "state": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "JOB_STATE_UNSPECIFIED",
            "PENDING",
            "RUNNING",
            "SUCCEEDED",
            "FAILED"
          ],
          "type": "string",
          "readOnly": true
        },
        "name": {
          "type": "string"
        },
        "location": {
          "type": "string"
        },
        "errorCode": {
          "type": "integer",
          "format": "int32"
        }
      },
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2Job"
    },
    "GoogleCloudSecuritycenterV1ExternalSystem": {
      "id": "GoogleCloudSecuritycenterV1ExternalSystem",
      "type": "object",
      "properties": {
        "externalUid": {
          "type": "string"
        },
        "externalSystemUpdateTime": {
          "type": "string",
          "format": "google-datetime"
        },
        "caseUri": {
          "type": "string"
        },
        "casePriority": {
          "type": "string"
        },
        "ticketInfo": {
          "$ref": "TicketInfo"
        },
        "status": {
          "type": "string"
        },
        "caseCreateTime": {
          "type": "string",
          "format": "google-datetime"
        },
        "assignees": {
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "name": {
          "type": "string"
        },
        "caseSla": {
          "format": "google-datetime",
          "type": "string"
        },
        "caseCloseTime": {
          "type": "string",
          "format": "google-datetime"
        }
      }
    },
    "CloudDlpInspection": {
      "properties": {
        "infoTypeCount": {
          "type": "string",
          "format": "int64"
        },
        "infoType": {
          "type": "string"
        },
        "fullScan": {
          "type": "boolean"
        },
        "inspectJob": {
          "type": "string"
        }
      },
      "id": "CloudDlpInspection",
      "type": "object"
    },
    "InvocationReference": {
      "type": "object",
      "id": "InvocationReference",
      "properties": {
        "invocationId": {
          "type": "string"
        }
      }
    },
    "GoogleCloudSecuritycenterV2Resource": {
      "id": "GoogleCloudSecuritycenterV2Resource",
      "type": "object",
      "properties": {
        "location": {
          "type": "string"
        },
        "adcApplication": {
          "$ref": "GoogleCloudSecuritycenterV2AdcApplication"
        },
        "displayName": {
          "type": "string"
        },
        "resourcePath": {
          "$ref": "GoogleCloudSecuritycenterV2ResourcePath"
        },
        "type": {
          "type": "string"
        },
        "awsMetadata": {
          "$ref": "GoogleCloudSecuritycenterV2AwsMetadata"
        },
        "application": {
          "$ref": "GoogleCloudSecuritycenterV2ResourceApplication"
        },
        "adcSharedTemplate": {
          "$ref": "GoogleCloudSecuritycenterV2AdcSharedTemplateRevision"
        },
        "resourcePathString": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "gcpMetadata": {
          "$ref": "GcpMetadata"
        },
        "azureMetadata": {
          "$ref": "GoogleCloudSecuritycenterV2AzureMetadata"
        },
        "adcApplicationTemplate": {
          "$ref": "GoogleCloudSecuritycenterV2AdcApplicationTemplateRevision"
        },
        "cloudProvider": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "CLOUD_PROVIDER_UNSPECIFIED",
            "GOOGLE_CLOUD_PLATFORM",
            "AMAZON_WEB_SERVICES",
            "MICROSOFT_AZURE"
          ]
        },
        "service": {
          "type": "string"
        }
      }
    },
    "GoogleCloudSecuritycenterV2Contact": {
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2Contact",
      "properties": {
        "email": {
          "type": "string"
        }
      }
    },
    "GoogleCloudSecuritycenterV2Exfiltration": {
      "type": "object",
      "properties": {
        "targets": {
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2ExfilResource"
          },
          "type": "array"
        },
        "sources": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2ExfilResource"
          }
        },
        "totalExfiltratedBytes": {
          "format": "int64",
          "type": "string"
        }
      },
      "id": "GoogleCloudSecuritycenterV2Exfiltration"
    },
    "LoadBalancer": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        }
      },
      "id": "LoadBalancer"
    },
    "GoogleCloudSecuritycenterV2IssueResourceAwsMetadata": {
      "properties": {
        "account": {
          "$ref": "GoogleCloudSecuritycenterV2IssueResourceAwsMetadataAwsAccount"
        }
      },
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2IssueResourceAwsMetadata"
    },
    "GoogleCloudSecuritycenterV2LogEntry": {
      "properties": {
        "cloudLoggingEntry": {
          "$ref": "GoogleCloudSecuritycenterV2CloudLoggingEntry"
        }
      },
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2LogEntry"
    },
    "Access": {
      "properties": {
        "callerIp": {
          "type": "string"
        },
        "serviceAccountDelegationInfo": {
          "type": "array",
          "items": {
            "$ref": "ServiceAccountDelegationInfo"
          }
        },
        "userAgent": {
          "type": "string"
        },
        "callerIpGeo": {
          "$ref": "Geolocation"
        },
        "methodName": {
          "type": "string"
        },
        "userName": {
          "type": "string"
        },
        "principalEmail": {
          "type": "string"
        },
        "principalSubject": {
          "type": "string"
        },
        "serviceAccountKeyName": {
          "type": "string"
        },
        "userAgentFamily": {
          "type": "string"
        },
        "serviceName": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "Access"
    },
    "Operation": {
      "id": "Operation",
      "type": "object",
      "properties": {
        "done": {
          "type": "boolean"
        },
        "metadata": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "type": "object"
        },
        "name": {
          "type": "string"
        },
        "error": {
          "$ref": "Status"
        },
        "response": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        }
      }
    },
    "GroupAssetsRequest": {
      "id": "GroupAssetsRequest",
      "type": "object",
      "properties": {
        "pageToken": {
          "type": "string"
        },
        "compareDuration": {
          "type": "string",
          "format": "google-duration"
        },
        "readTime": {
          "format": "google-datetime",
          "type": "string"
        },
        "pageSize": {
          "type": "integer",
          "format": "int32"
        },
        "groupBy": {
          "type": "string"
        },
        "filter": {
          "type": "string"
        }
      }
    },
    "GoogleCloudSecuritycenterV1beta1RunAssetDiscoveryResponse": {
      "properties": {
        "duration": {
          "type": "string",
          "format": "google-duration"
        },
        "state": {
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "COMPLETED",
            "SUPERSEDED",
            "TERMINATED"
          ]
        }
      },
      "id": "GoogleCloudSecuritycenterV1beta1RunAssetDiscoveryResponse",
      "type": "object"
    },
    "GoogleCloudSecuritycenterV1beta1Finding": {
      "id": "GoogleCloudSecuritycenterV1beta1Finding",
      "properties": {
        "externalUri": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "state": {
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "INACTIVE"
          ],
          "enumDescriptions": [
            "",
            "",
            ""
          ]
        },
        "securityMarks": {
          "readOnly": true,
          "$ref": "GoogleCloudSecuritycenterV1beta1SecurityMarks"
        },
        "eventTime": {
          "type": "string",
          "format": "google-datetime"
        },
        "sourceProperties": {
          "type": "object",
          "additionalProperties": {
            "type": "any"
          }
        },
        "category": {
          "type": "string"
        },
        "createTime": {
          "format": "google-datetime",
          "type": "string"
        },
        "parent": {
          "type": "string"
        },
        "resourceName": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "ExfilResource": {
      "properties": {
        "components": {
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "name": {
          "type": "string"
        }
      },
      "id": "ExfilResource",
      "type": "object"
    },
    "AdaptiveProtection": {
      "type": "object",
      "properties": {
        "confidence": {
          "type": "number",
          "format": "double"
        }
      },
      "id": "AdaptiveProtection"
    },
    "Label": {
      "properties": {
        "name": {
          "type": "string"
        },
        "value": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "Label"
    },
    "Role": {
      "properties": {
        "name": {
          "type": "string"
        },
        "kind": {
          "enum": [
            "KIND_UNSPECIFIED",
            "ROLE",
            "CLUSTER_ROLE"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            ""
          ]
        },
        "ns": {
          "type": "string"
[...]
