{
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform.read-only": {
          "description": "View your data across Google Cloud services and see the email address of your Google Account"
        },
        "https://www.googleapis.com/auth/service.management": {
          "description": "Manage your Google API service configuration"
        },
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "kind": "discovery#restDescription",
  "ownerDomain": "google.com",
  "version": "v1beta1",
  "rootUrl": "https://serviceusage.googleapis.com/",
  "discoveryVersion": "v1",
  "description": "Enables services that service consumers want to use on Google Cloud Platform, lists the available or enabled services, or disables services that service consumers no longer use.",
  "batchPath": "batch",
  "protocol": "rest",
  "revision": "20260929",
  "ownerName": "Google",
  "id": "serviceusage:v1beta1",
  "baseUrl": "https://serviceusage.googleapis.com/",
  "title": "Service Usage API",
  "canonicalName": "Service Usage",
  "resources": {
    "operations": {
      "methods": {
        "list": {
          "parameters": {
            "pageToken": {
              "location": "query",
              "description": "The standard list page token.",
              "type": "string"
            },
            "pageSize": {
              "location": "query",
              "format": "int32",
              "type": "integer",
              "description": "The standard list page size."
            },
            "returnPartialSuccess": {
              "location": "query",
              "description": "When set to `true`, operations that are reachable are returned as normal, and those that are unreachable are returned in the ListOperationsResponse.unreachable field. This can only be `true` when reading across collections. For example, when `parent` is set to `\"projects/example/locations/-\"`. This field is not supported by default and will result in an `UNIMPLEMENTED` error if set unless explicitly documented otherwise in service or product specific documentation.",
              "type": "boolean"
            },
            "filter": {
              "type": "string",
              "location": "query",
              "description": "The standard list filter."
            },
            "name": {
              "description": "The name of the operation's parent resource.",
              "location": "query",
              "type": "string"
            }
          },
          "httpMethod": "GET",
          "response": {
            "$ref": "ListOperationsResponse"
          },
          "flatPath": "v1beta1/operations",
          "parameterOrder": [],
          "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`.",
          "id": "serviceusage.operations.list",
          "path": "v1beta1/operations",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/service.management"
          ]
        },
        "get": {
          "parameterOrder": [
            "name"
          ],
          "path": "v1beta1/{+name}",
          "response": {
            "$ref": "Operation"
          },
          "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
          "flatPath": "v1beta1/operations/{operationsId}",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/service.management"
          ],
          "parameters": {
            "name": {
              "required": true,
              "type": "string",
              "pattern": "^operations/[^/]+$",
              "location": "path",
              "description": "The name of the operation resource."
            }
          },
          "httpMethod": "GET",
          "id": "serviceusage.operations.get"
        }
      }
    },
    "services": {
      "resources": {
        "consumerQuotaMetrics": {
          "resources": {
            "limits": {
              "resources": {
                "adminOverrides": {
                  "methods": {
                    "delete": {
                      "description": "Deletes an admin override.",
                      "flatPath": "v1beta1/{v1beta1Id}/{v1beta1Id1}/services/{servicesId}/consumerQuotaMetrics/{consumerQuotaMetricsId}/limits/{limitsId}/adminOverrides/{adminOverridesId}",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/service.management"
                      ],
                      "id": "serviceusage.services.consumerQuotaMetrics.limits.adminOverrides.delete",
                      "parameterOrder": [
                        "name"
                      ],
                      "path": "v1beta1/{+name}",
                      "response": {
                        "$ref": "Operation"
                      },
                      "parameters": {
                        "name": {
                          "location": "path",
                          "type": "string",
                          "description": "The resource name of the override to delete. An example name would be: `projects/123/services/compute.googleapis.com/consumerQuotaMetrics/compute.googleapis.com%2Fcpus/limits/%2Fproject%2Fregion/adminOverrides/4a3f2c1d`",
                          "pattern": "^[^/]+/[^/]+/services/[^/]+/consumerQuotaMetrics/[^/]+/limits/[^/]+/adminOverrides/[^/]+$",
                          "required": true
                        },
                        "forceOnly": {
                          "enum": [
                            "QUOTA_SAFETY_CHECK_UNSPECIFIED",
                            "LIMIT_DECREASE_BELOW_USAGE",
                            "LIMIT_DECREASE_PERCENTAGE_TOO_HIGH"
                          ],
                          "enumDescriptions": [
                            "Unspecified quota safety check.",
                            "Validates that a quota mutation would not cause the consumer's effective limit to be lower than the consumer's quota usage.",
                            "Validates that a quota mutation would not cause the consumer's effective limit to decrease by more than 10 percent."
                          ],
                          "type": "string",
                          "location": "query",
                          "repeated": true,
                          "description": "The list of quota safety checks to ignore before the override mutation. Unlike 'force' field that ignores all the quota safety checks, the 'force_only' field ignores only the specified checks; other checks are still enforced. The 'force' and 'force_only' fields cannot both be set. If force_only is specified, it is recommended to include a case id in \"X-Goog-Request-Reason\" header when sending the request."
                        },
                        "force": {
                          "description": "Whether to force the deletion of the quota override. Setting the force parameter to 'true' ignores all quota safety checks that would fail the request. QuotaSafetyCheck lists all such validations. If force is set to true, it is recommended to include a case id in \"X-Goog-Request-Reason\" header when sending the request.",
                          "location": "query",
                          "type": "boolean"
                        }
                      },
                      "httpMethod": "DELETE"
                    },
                    "patch": {
                      "id": "serviceusage.services.consumerQuotaMetrics.limits.adminOverrides.patch",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/service.management"
                      ],
                      "path": "v1beta1/{+name}",
                      "description": "Updates an admin override.",
                      "request": {
                        "$ref": "QuotaOverride"
                      },
                      "flatPath": "v1beta1/{v1beta1Id}/{v1beta1Id1}/services/{servicesId}/consumerQuotaMetrics/{consumerQuotaMetricsId}/limits/{limitsId}/adminOverrides/{adminOverridesId}",
                      "httpMethod": "PATCH",
                      "parameters": {
                        "force": {
                          "type": "boolean",
                          "location": "query",
                          "description": "Whether to force the update of the quota override. Setting the force parameter to 'true' ignores all quota safety checks that would fail the request. QuotaSafetyCheck lists all such validations. If force is set to true, it is recommended to include a case id in \"X-Goog-Request-Reason\" header when sending the request."
                        },
                        "name": {
                          "description": "The resource name of the override to update. An example name would be: `projects/123/services/compute.googleapis.com/consumerQuotaMetrics/compute.googleapis.com%2Fcpus/limits/%2Fproject%2Fregion/adminOverrides/4a3f2c1d`",
                          "location": "path",
                          "pattern": "^[^/]+/[^/]+/services/[^/]+/consumerQuotaMetrics/[^/]+/limits/[^/]+/adminOverrides/[^/]+$",
                          "required": true,
                          "type": "string"
                        },
                        "updateMask": {
                          "location": "query",
                          "format": "google-fieldmask",
                          "description": "Update only the specified fields of the override. If unset, all fields will be updated.",
                          "type": "string"
                        },
                        "forceOnly": {
                          "enumDescriptions": [
                            "Unspecified quota safety check.",
                            "Validates that a quota mutation would not cause the consumer's effective limit to be lower than the consumer's quota usage.",
                            "Validates that a quota mutation would not cause the consumer's effective limit to decrease by more than 10 percent."
                          ],
                          "type": "string",
                          "description": "The list of quota safety checks to ignore before the override mutation. Unlike 'force' field that ignores all the quota safety checks, the 'force_only' field ignores only the specified checks; other checks are still enforced. The 'force' and 'force_only' fields cannot both be set. If force_only is specified, it is recommended to include a case id in \"X-Goog-Request-Reason\" header when sending the request.",
                          "enum": [
                            "QUOTA_SAFETY_CHECK_UNSPECIFIED",
                            "LIMIT_DECREASE_BELOW_USAGE",
                            "LIMIT_DECREASE_PERCENTAGE_TOO_HIGH"
                          ],
                          "repeated": true,
                          "location": "query"
                        }
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "response": {
                        "$ref": "Operation"
                      }
                    },
                    "create": {
                      "description": "Creates an admin override. An admin override is applied by an administrator of a parent folder or parent organization of the consumer receiving the override. An admin override is intended to limit the amount of quota the consumer can use out of the total quota pool allocated to all children of the folder or organization.",
                      "parameterOrder": [
                        "parent"
                      ],
                      "httpMethod": "POST",
                      "id": "serviceusage.services.consumerQuotaMetrics.limits.adminOverrides.create",
                      "parameters": {
                        "forceOnly": {
                          "enum": [
                            "QUOTA_SAFETY_CHECK_UNSPECIFIED",
                            "LIMIT_DECREASE_BELOW_USAGE",
                            "LIMIT_DECREASE_PERCENTAGE_TOO_HIGH"
                          ],
                          "location": "query",
                          "enumDescriptions": [
                            "Unspecified quota safety check.",
                            "Validates that a quota mutation would not cause the consumer's effective limit to be lower than the consumer's quota usage.",
                            "Validates that a quota mutation would not cause the consumer's effective limit to decrease by more than 10 percent."
                          ],
                          "type": "string",
                          "repeated": true,
                          "description": "The list of quota safety checks to ignore before the override mutation. Unlike 'force' field that ignores all the quota safety checks, the 'force_only' field ignores only the specified checks; other checks are still enforced. The 'force' and 'force_only' fields cannot both be set. If force_only is specified, it is recommended to include a case id in \"X-Goog-Request-Reason\" header when sending the request."
                        },
                        "force": {
                          "description": "Whether to force the creation of the quota override. Setting the force parameter to 'true' ignores all quota safety checks that would fail the request. QuotaSafetyCheck lists all such validations. If force is set to true, it is recommended to include a case id in \"X-Goog-Request-Reason\" header when sending the request.",
                          "type": "boolean",
                          "location": "query"
                        },
                        "parent": {
                          "required": true,
                          "type": "string",
                          "description": "The resource name of the parent quota limit, returned by a ListConsumerQuotaMetrics or GetConsumerQuotaMetric call. An example name would be: `projects/123/services/compute.googleapis.com/consumerQuotaMetrics/compute.googleapis.com%2Fcpus/limits/%2Fproject%2Fregion`",
                          "pattern": "^[^/]+/[^/]+/services/[^/]+/consumerQuotaMetrics/[^/]+/limits/[^/]+$",
                          "location": "path"
                        }
                      },
                      "request": {
                        "$ref": "QuotaOverride"
                      },
                      "path": "v1beta1/{+parent}/adminOverrides",
                      "flatPath": "v1beta1/{v1beta1Id}/{v1beta1Id1}/services/{servicesId}/consumerQuotaMetrics/{consumerQuotaMetricsId}/limits/{limitsId}/adminOverrides",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/service.management"
                      ],
                      "response": {
                        "$ref": "Operation"
                      }
                    },
                    "list": {
                      "description": "Lists all admin overrides on this limit.",
                      "flatPath": "v1beta1/{v1beta1Id}/{v1beta1Id1}/services/{servicesId}/consumerQuotaMetrics/{consumerQuotaMetricsId}/limits/{limitsId}/adminOverrides",
                      "path": "v1beta1/{+parent}/adminOverrides",
                      "response": {
                        "$ref": "ListAdminOverridesResponse"
                      },
                      "parameterOrder": [
                        "parent"
                      ],
                      "id": "serviceusage.services.consumerQuotaMetrics.limits.adminOverrides.list",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/cloud-platform.read-only"
                      ],
                      "httpMethod": "GET",
                      "parameters": {
                        "parent": {
                          "pattern": "^[^/]+/[^/]+/services/[^/]+/consumerQuotaMetrics/[^/]+/limits/[^/]+$",
                          "description": "The resource name of the parent quota limit, returned by a ListConsumerQuotaMetrics or GetConsumerQuotaMetric call. An example name would be: `projects/123/services/compute.googleapis.com/consumerQuotaMetrics/compute.googleapis.com%2Fcpus/limits/%2Fproject%2Fregion`",
                          "location": "path",
                          "required": true,
                          "type": "string"
                        },
                        "pageSize": {
                          "format": "int32",
                          "description": "Requested size of the next page of data.",
                          "type": "integer",
                          "location": "query"
                        },
                        "pageToken": {
                          "type": "string",
                          "location": "query",
                          "description": "Token identifying which result to start with; returned by a previous list call."
                        }
                      }
                    }
                  }
                },
                "consumerOverrides": {
                  "methods": {
                    "list": {
                      "parameterOrder": [
                        "parent"
                      ],
                      "flatPath": "v1beta1/{v1beta1Id}/{v1beta1Id1}/services/{servicesId}/consumerQuotaMetrics/{consumerQuotaMetricsId}/limits/{limitsId}/consumerOverrides",
                      "description": "Lists all consumer overrides on this limit.",
                      "response": {
                        "$ref": "ListConsumerOverridesResponse"
                      },
                      "path": "v1beta1/{+parent}/consumerOverrides",
                      "id": "serviceusage.services.consumerQuotaMetrics.limits.consumerOverrides.list",
                      "parameters": {
                        "pageToken": {
                          "location": "query",
                          "description": "Token identifying which result to start with; returned by a previous list call.",
                          "type": "string"
                        },
                        "parent": {
                          "pattern": "^[^/]+/[^/]+/services/[^/]+/consumerQuotaMetrics/[^/]+/limits/[^/]+$",
                          "location": "path",
                          "type": "string",
                          "description": "The resource name of the parent quota limit, returned by a ListConsumerQuotaMetrics or GetConsumerQuotaMetric call. An example name would be: `projects/123/services/compute.googleapis.com/consumerQuotaMetrics/compute.googleapis.com%2Fcpus/limits/%2Fproject%2Fregion`",
                          "required": true
                        },
                        "pageSize": {
                          "type": "integer",
                          "location": "query",
                          "format": "int32",
                          "description": "Requested size of the next page of data."
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/cloud-platform.read-only"
                      ],
                      "httpMethod": "GET"
                    },
                    "patch": {
                      "parameterOrder": [
                        "name"
                      ],
                      "request": {
                        "$ref": "QuotaOverride"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/service.management"
                      ],
                      "id": "serviceusage.services.consumerQuotaMetrics.limits.consumerOverrides.patch",
                      "flatPath": "v1beta1/{v1beta1Id}/{v1beta1Id1}/services/{servicesId}/consumerQuotaMetrics/{consumerQuotaMetricsId}/limits/{limitsId}/consumerOverrides/{consumerOverridesId}",
                      "description": "Updates a consumer override.",
                      "parameters": {
                        "forceOnly": {
                          "enumDescriptions": [
                            "Unspecified quota safety check.",
                            "Validates that a quota mutation would not cause the consumer's effective limit to be lower than the consumer's quota usage.",
                            "Validates that a quota mutation would not cause the consumer's effective limit to decrease by more than 10 percent."
                          ],
                          "enum": [
                            "QUOTA_SAFETY_CHECK_UNSPECIFIED",
                            "LIMIT_DECREASE_BELOW_USAGE",
                            "LIMIT_DECREASE_PERCENTAGE_TOO_HIGH"
                          ],
                          "description": "The list of quota safety checks to ignore before the override mutation. Unlike 'force' field that ignores all the quota safety checks, the 'force_only' field ignores only the specified checks; other checks are still enforced. The 'force' and 'force_only' fields cannot both be set. If force_only is specified, it is recommended to include a case id in \"X-Goog-Request-Reason\" header when sending the request.",
                          "type": "string",
                          "location": "query",
                          "repeated": true
                        },
                        "force": {
                          "description": "Whether to force the update of the quota override. Setting the force parameter to 'true' ignores all quota safety checks that would fail the request. QuotaSafetyCheck lists all such validations. If force is set to true, it is recommended to include a case id in \"X-Goog-Request-Reason\" header when sending the request.",
                          "type": "boolean",
                          "location": "query"
                        },
                        "updateMask": {
                          "location": "query",
                          "format": "google-fieldmask",
                          "description": "Update only the specified fields of the override. If unset, all fields will be updated.",
                          "type": "string"
                        },
                        "name": {
                          "type": "string",
                          "location": "path",
                          "description": "The resource name of the override to update. An example name would be: `projects/123/services/compute.googleapis.com/consumerQuotaMetrics/compute.googleapis.com%2Fcpus/limits/%2Fproject%2Fregion/consumerOverrides/4a3f2c1d`",
                          "pattern": "^[^/]+/[^/]+/services/[^/]+/consumerQuotaMetrics/[^/]+/limits/[^/]+/consumerOverrides/[^/]+$",
                          "required": true
                        }
                      },
                      "path": "v1beta1/{+name}",
                      "response": {
                        "$ref": "Operation"
                      },
                      "httpMethod": "PATCH"
                    },
                    "delete": {
                      "response": {
                        "$ref": "Operation"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/service.management"
                      ],
                      "parameters": {
                        "name": {
                          "type": "string",
                          "required": true,
                          "location": "path",
                          "description": "The resource name of the override to delete. An example name would be: `projects/123/services/compute.googleapis.com/consumerQuotaMetrics/compute.googleapis.com%2Fcpus/limits/%2Fproject%2Fregion/consumerOverrides/4a3f2c1d`",
                          "pattern": "^[^/]+/[^/]+/services/[^/]+/consumerQuotaMetrics/[^/]+/limits/[^/]+/consumerOverrides/[^/]+$"
                        },
                        "forceOnly": {
                          "description": "The list of quota safety checks to ignore before the override mutation. Unlike 'force' field that ignores all the quota safety checks, the 'force_only' field ignores only the specified checks; other checks are still enforced. The 'force' and 'force_only' fields cannot both be set. If force_only is specified, it is recommended to include a case id in \"X-Goog-Request-Reason\" header when sending the request.",
                          "enumDescriptions": [
                            "Unspecified quota safety check.",
                            "Validates that a quota mutation would not cause the consumer's effective limit to be lower than the consumer's quota usage.",
                            "Validates that a quota mutation would not cause the consumer's effective limit to decrease by more than 10 percent."
                          ],
                          "enum": [
                            "QUOTA_SAFETY_CHECK_UNSPECIFIED",
                            "LIMIT_DECREASE_BELOW_USAGE",
                            "LIMIT_DECREASE_PERCENTAGE_TOO_HIGH"
                          ],
                          "location": "query",
                          "type": "string",
                          "repeated": true
                        },
                        "force": {
                          "location": "query",
                          "type": "boolean",
                          "description": "Whether to force the deletion of the quota override. Setting the force parameter to 'true' ignores all quota safety checks that would fail the request. QuotaSafetyCheck lists all such validations. If force is set to true, it is recommended to include a case id in \"X-Goog-Request-Reason\" header when sending the request."
                        }
                      },
                      "flatPath": "v1beta1/{v1beta1Id}/{v1beta1Id1}/services/{servicesId}/consumerQuotaMetrics/{consumerQuotaMetricsId}/limits/{limitsId}/consumerOverrides/{consumerOverridesId}",
                      "httpMethod": "DELETE",
                      "id": "serviceusage.services.consumerQuotaMetrics.limits.consumerOverrides.delete",
                      "path": "v1beta1/{+name}",
                      "description": "Deletes a consumer override.",
                      "parameterOrder": [
                        "name"
                      ]
                    },
                    "create": {
                      "path": "v1beta1/{+parent}/consumerOverrides",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/service.management"
                      ],
                      "httpMethod": "POST",
                      "id": "serviceusage.services.consumerQuotaMetrics.limits.consumerOverrides.create",
                      "parameters": {
                        "parent": {
                          "type": "string",
                          "description": "The resource name of the parent quota limit, returned by a ListConsumerQuotaMetrics or GetConsumerQuotaMetric call. An example name would be: `projects/123/services/compute.googleapis.com/consumerQuotaMetrics/compute.googleapis.com%2Fcpus/limits/%2Fproject%2Fregion`",
                          "required": true,
                          "pattern": "^[^/]+/[^/]+/services/[^/]+/consumerQuotaMetrics/[^/]+/limits/[^/]+$",
                          "location": "path"
                        },
                        "force": {
                          "description": "Whether to force the creation of the quota override. Setting the force parameter to 'true' ignores all quota safety checks that would fail the request. QuotaSafetyCheck lists all such validations. If force is set to true, it is recommended to include a case id in \"X-Goog-Request-Reason\" header when sending the request.",
                          "type": "boolean",
                          "location": "query"
                        },
                        "forceOnly": {
                          "location": "query",
                          "type": "string",
                          "description": "The list of quota safety checks to ignore before the override mutation. Unlike 'force' field that ignores all the quota safety checks, the 'force_only' field ignores only the specified checks; other checks are still enforced. The 'force' and 'force_only' fields cannot both be set. If force_only is specified, it is recommended to include a case id in \"X-Goog-Request-Reason\" header when sending the request.",
                          "repeated": true,
                          "enum": [
                            "QUOTA_SAFETY_CHECK_UNSPECIFIED",
                            "LIMIT_DECREASE_BELOW_USAGE",
                            "LIMIT_DECREASE_PERCENTAGE_TOO_HIGH"
                          ],
                          "enumDescriptions": [
                            "Unspecified quota safety check.",
                            "Validates that a quota mutation would not cause the consumer's effective limit to be lower than the consumer's quota usage.",
                            "Validates that a quota mutation would not cause the consumer's effective limit to decrease by more than 10 percent."
                          ]
                        }
                      },
                      "request": {
                        "$ref": "QuotaOverride"
                      },
                      "description": "Creates a consumer override. A consumer override is applied to the consumer on its own authority to limit its own quota usage. Consumer overrides cannot be used to grant more quota than would be allowed by admin overrides, producer overrides, or the default limit of the service.",
                      "parameterOrder": [
                        "parent"
                      ],
                      "flatPath": "v1beta1/{v1beta1Id}/{v1beta1Id1}/services/{servicesId}/consumerQuotaMetrics/{consumerQuotaMetricsId}/limits/{limitsId}/consumerOverrides",
                      "response": {
                        "$ref": "Operation"
                      }
                    }
                  }
                }
              },
              "methods": {
                "get": {
                  "id": "serviceusage.services.consumerQuotaMetrics.limits.get",
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1beta1/{+name}",
                  "httpMethod": "GET",
                  "parameters": {
                    "name": {
                      "description": "The resource name of the quota limit. Use the quota limit resource name returned by previous ListConsumerQuotaMetrics and GetConsumerQuotaMetric API calls.",
                      "pattern": "^[^/]+/[^/]+/services/[^/]+/consumerQuotaMetrics/[^/]+/limits/[^/]+$",
                      "location": "path",
                      "type": "string",
                      "required": true
                    },
                    "view": {
                      "location": "query",
                      "enumDescriptions": [
                        "No quota view specified. Requests that do not specify a quota view will typically default to the BASIC view.",
                        "Only buckets with overrides are shown in the response.",
                        "Include per-location buckets even if they do not have overrides. When the view is FULL, and a limit has regional or zonal quota, the limit will include buckets for all regions or zones that could support overrides, even if none are currently present. In some cases this will cause the response to become very large; callers that do not need this extra information should use the BASIC view instead."
                      ],
                      "type": "string",
                      "enum": [
                        "QUOTA_VIEW_UNSPECIFIED",
                        "BASIC",
                        "FULL"
                      ],
                      "description": "Specifies the level of detail for quota information in the response."
                    }
                  },
                  "description": "Retrieves a summary of quota information for a specific quota limit.",
                  "response": {
                    "$ref": "ConsumerQuotaLimit"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-platform.read-only"
                  ],
                  "flatPath": "v1beta1/{v1beta1Id}/{v1beta1Id1}/services/{servicesId}/consumerQuotaMetrics/{consumerQuotaMetricsId}/limits/{limitsId}"
                }
              }
            }
          },
          "methods": {
            "get": {
              "parameters": {
                "name": {
                  "pattern": "^[^/]+/[^/]+/services/[^/]+/consumerQuotaMetrics/[^/]+$",
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "description": "The resource name of the quota. An example name would be: `projects/123/services/serviceusage.googleapis.com/consumerQuotaMetrics/serviceusage.googleapis.com%2Fmutate_requests`"
                },
                "view": {
                  "location": "query",
                  "description": "Specifies the level of detail for quota information in the response.",
                  "type": "string",
                  "enum": [
                    "QUOTA_VIEW_UNSPECIFIED",
                    "BASIC",
                    "FULL"
                  ],
                  "enumDescriptions": [
                    "No quota view specified. Requests that do not specify a quota view will typically default to the BASIC view.",
                    "Only buckets with overrides are shown in the response.",
                    "Include per-location buckets even if they do not have overrides. When the view is FULL, and a limit has regional or zonal quota, the limit will include buckets for all regions or zones that could support overrides, even if none are currently present. In some cases this will cause the response to become very large; callers that do not need this extra information should use the BASIC view instead."
                  ]
                }
              },
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "GET",
              "description": "Retrieves a summary of quota information for a specific quota metric",
              "flatPath": "v1beta1/{v1beta1Id}/{v1beta1Id1}/services/{servicesId}/consumerQuotaMetrics/{consumerQuotaMetricsId}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-platform.read-only"
              ],
              "response": {
                "$ref": "ConsumerQuotaMetric"
              },
              "path": "v1beta1/{+name}",
              "id": "serviceusage.services.consumerQuotaMetrics.get"
            },
            "list": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-platform.read-only"
              ],
              "parameterOrder": [
                "parent"
              ],
              "id": "serviceusage.services.consumerQuotaMetrics.list",
              "path": "v1beta1/{+parent}/consumerQuotaMetrics",
              "description": "Retrieves a summary of all quota information visible to the service consumer, organized by service metric. Each metric includes information about all of its defined limits. Each limit includes the limit configuration (quota unit, preciseness, default value), the current effective limit value, and all of the overrides applied to the limit.",
              "httpMethod": "GET",
              "response": {
                "$ref": "ListConsumerQuotaMetricsResponse"
              },
              "parameters": {
                "view": {
                  "enumDescriptions": [
                    "No quota view specified. Requests that do not specify a quota view will typically default to the BASIC view.",
                    "Only buckets with overrides are shown in the response.",
                    "Include per-location buckets even if they do not have overrides. When the view is FULL, and a limit has regional or zonal quota, the limit will include buckets for all regions or zones that could support overrides, even if none are currently present. In some cases this will cause the response to become very large; callers that do not need this extra information should use the BASIC view instead."
                  ],
                  "type": "string",
                  "location": "query",
                  "description": "Specifies the level of detail for quota information in the response.",
                  "enum": [
                    "QUOTA_VIEW_UNSPECIFIED",
                    "BASIC",
                    "FULL"
                  ]
                },
                "parent": {
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "description": "Parent of the quotas resource. Some example names would be: `projects/123/services/serviceconsumermanagement.googleapis.com` `folders/345/services/serviceconsumermanagement.googleapis.com` `organizations/456/services/serviceconsumermanagement.googleapis.com`",
                  "pattern": "^[^/]+/[^/]+/services/[^/]+$"
                },
                "pageToken": {
                  "location": "query",
                  "type": "string",
                  "description": "Token identifying which result to start with; returned by a previous list call."
                },
                "pageSize": {
                  "location": "query",
                  "type": "integer",
                  "format": "int32",
                  "description": "Requested size of the next page of data."
                }
              },
              "flatPath": "v1beta1/{v1beta1Id}/{v1beta1Id1}/services/{servicesId}/consumerQuotaMetrics"
            },
            "importAdminOverrides": {
              "request": {
                "$ref": "ImportAdminOverridesRequest"
              },
              "httpMethod": "POST",
              "parameterOrder": [
                "parent"
              ],
              "parameters": {
                "parent": {
                  "location": "path",
                  "description": "The resource name of the consumer. An example name would be: `projects/123/services/compute.googleapis.com`",
                  "type": "string",
                  "pattern": "^[^/]+/[^/]+/services/[^/]+$",
                  "required": true
                }
              },
              "path": "v1beta1/{+parent}/consumerQuotaMetrics:importAdminOverrides",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/service.management"
              ],
              "description": "Creates or updates multiple admin overrides atomically, all on the same consumer, but on many different metrics or limits. The name field in the quota override message should not be set.",
              "flatPath": "v1beta1/{v1beta1Id}/{v1beta1Id1}/services/{servicesId}/consumerQuotaMetrics:importAdminOverrides",
              "id": "serviceusage.services.consumerQuotaMetrics.importAdminOverrides",
              "response": {
                "$ref": "Operation"
              }
            },
            "importConsumerOverrides": {
              "request": {
                "$ref": "ImportConsumerOverridesRequest"
              },
              "path": "v1beta1/{+parent}/consumerQuotaMetrics:importConsumerOverrides",
              "description": "Creates or updates multiple consumer overrides atomically, all on the same consumer, but on many different metrics or limits. The name field in the quota override message should not be set.",
              "id": "serviceusage.services.consumerQuotaMetrics.importConsumerOverrides",
              "parameterOrder": [
                "parent"
              ],
              "flatPath": "v1beta1/{v1beta1Id}/{v1beta1Id1}/services/{servicesId}/consumerQuotaMetrics:importConsumerOverrides",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/service.management"
              ],
              "parameters": {
                "parent": {
                  "required": true,
                  "pattern": "^[^/]+/[^/]+/services/[^/]+$",
                  "description": "The resource name of the consumer. An example name would be: `projects/123/services/compute.googleapis.com`",
                  "type": "string",
                  "location": "path"
                }
              },
              "httpMethod": "POST",
              "response": {
                "$ref": "Operation"
              }
            }
          }
        }
      },
      "methods": {
        "generateServiceIdentity": {
          "parameters": {
            "parent": {
              "location": "path",
              "type": "string",
              "description": "Name of the consumer and service to generate an identity for. The `GenerateServiceIdentity` methods currently support projects, folders, organizations. Example parents would be: `projects/123/services/example.googleapis.com` `folders/123/services/example.googleapis.com` `organizations/123/services/example.googleapis.com`",
              "pattern": "^[^/]+/[^/]+/services/[^/]+$",
              "required": true
            }
          },
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/service.management"
          ],
          "path": "v1beta1/{+parent}:generateServiceIdentity",
          "parameterOrder": [
            "parent"
          ],
          "description": "Generates service identity for service.",
          "flatPath": "v1beta1/{v1beta1Id}/{v1beta1Id1}/services/{servicesId}:generateServiceIdentity",
          "id": "serviceusage.services.generateServiceIdentity",
          "response": {
            "$ref": "Operation"
          }
        },
        "list": {
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "deprecated": true,
          "path": "v1beta1/{+parent}/services",
          "description": "Lists all services available to the specified project, and the current state of those services with respect to the project. The list includes all public services, all services for which the calling user has the `servicemanagement.services.bind` permission, and all services that have already been enabled on the project. The list can be filtered to only include services in a specific state, for example to only include services enabled on the project.",
          "id": "serviceusage.services.list",
          "parameters": {
            "filter": {
              "location": "query",
              "type": "string",
              "description": "Only list services that conform to the given filter. The allowed filter strings are `state:ENABLED` and `state:DISABLED`."
            },
            "pageToken": {
              "type": "string",
              "location": "query",
              "description": "Token identifying which result to start with, which is returned by a previous list call."
            },
            "pageSize": {
              "format": "int32",
              "description": "Requested size of the next page of data. Requested page size cannot exceed 200. If not set, the default page size is 50.",
              "location": "query",
              "type": "integer"
            },
            "parent": {
              "required": true,
              "pattern": "^[^/]+/[^/]+$",
              "location": "path",
              "description": "Parent to search for services on. An example name would be: `projects/123` where `123` is the project number (not project ID).",
              "type": "string"
            }
          },
          "response": {
            "$ref": "ListServicesResponse"
          },
          "httpMethod": "GET",
          "parameterOrder": [
            "parent"
          ],
          "flatPath": "v1beta1/{v1beta1Id}/{v1beta1Id1}/services"
        },
        "get": {
          "response": {
            "$ref": "Service"
          },
          "deprecated": true,
          "path": "v1beta1/{+name}",
          "flatPath": "v1beta1/{v1beta1Id}/{v1beta1Id1}/services/{servicesId}",
          "parameterOrder": [
            "name"
          ],
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "parameters": {
            "name": {
              "location": "path",
              "type": "string",
              "pattern": "^[^/]+/[^/]+/services/[^/]+$",
              "description": "Name of the consumer and service to get the `ConsumerState` for. An example name would be: `projects/123/services/serviceusage.googleapis.com` where `123` is the project number (not project ID).",
              "required": true
            }
          },
          "id": "serviceusage.services.get",
          "description": "Returns the service configuration and enabled state for a given service."
        },
        "enable": {
          "parameterOrder": [
            "name"
          ],
          "id": "serviceusage.services.enable",
          "response": {
            "$ref": "Operation"
          },
          "request": {
            "$ref": "EnableServiceRequest"
          },
          "parameters": {
            "name": {
              "location": "path",
              "description": "Name of the consumer and service to enable the service on. The `EnableService` and `DisableService` methods currently only support projects. Enabling a service requires that the service is public or is shared with the user enabling the service. An example name would be: `projects/123/services/serviceusage.googleapis.com` where `123` is the project number (not project ID).",
              "type": "string",
              "pattern": "^[^/]+/[^/]+/services/[^/]+$",
              "required": true
            }
          },
          "flatPath": "v1beta1/{v1beta1Id}/{v1beta1Id1}/services/{servicesId}:enable",
          "httpMethod": "POST",
          "path": "v1beta1/{+name}:enable",
          "deprecated": true,
          "description": "Enables a service so that it can be used with a project. Operation response type: `google.protobuf.Empty`",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/service.management"
          ]
        },
        "batchEnable": {
          "flatPath": "v1beta1/{v1beta1Id}/{v1beta1Id1}/services:batchEnable",
          "description": "Enables multiple services on a project. The operation is atomic: if enabling any service fails, then the entire batch fails, and no state changes occur. Operation response type: `google.protobuf.Empty`",
          "deprecated": true,
          "response": {
            "$ref": "Operation"
          },
          "request": {
            "$ref": "BatchEnableServicesRequest"
          },
          "parameters": {
            "parent": {
              "description": "Parent to enable services on. An example name would be: `projects/123` where `123` is the project number (not project ID). The `BatchEnableServices` method currently only supports projects.",
              "required": true,
              "type": "string",
              "location": "path",
              "pattern": "^[^/]+/[^/]+$"
            }
          },
          "httpMethod": "POST",
          "parameterOrder": [
            "parent"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/service.management"
          ],
          "path": "v1beta1/{+parent}/services:batchEnable",
          "id": "serviceusage.services.batchEnable"
        },
        "disable": {
          "httpMethod": "POST",
          "description": "Disables a service so that it can no longer be used with a project. This prevents unintended usage that may cause unexpected billing charges or security leaks. It is not valid to call the disable method on a service that is not currently enabled. Callers will receive a `FAILED_PRECONDITION` status if the target service is not currently enabled. Operation response type: `google.protobuf.Empty`",
          "id": "serviceusage.services.disable",
          "parameters": {
            "name": {
              "location": "path",
              "type": "string",
              "description": "Name of the consumer and service to disable the service on. The enable and disable methods currently only support projects. An example name would be: `projects/123/services/serviceusage.googleapis.com` where `123` is the project number (not project ID).",
              "pattern": "^[^/]+/[^/]+/services/[^/]+$",
              "required": true
            }
          },
          "request": {
            "$ref": "DisableServiceRequest"
          },
          "deprecated": true,
          "flatPath": "v1beta1/{v1beta1Id}/{v1beta1Id1}/services/{servicesId}:disable",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/service.management"
          ],
          "parameterOrder": [
            "name"
          ],
          "path": "v1beta1/{+name}:disable",
          "response": {
            "$ref": "Operation"
          }
        }
      }
    }
  },
  "documentationLink": "https://cloud.google.com/service-usage/",
  "servicePath": "",
  "schemas": {
    "GoogleApiServiceusageV2alphaEnableRule": {
      "description": "The consumer policy rule that defines enabled services, groups, and categories.",
      "type": "object",
      "properties": {
        "services": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The names of the services that are enabled. Example: `services/storage.googleapis.com`."
        }
      },
      "id": "GoogleApiServiceusageV2alphaEnableRule"
    },
    "OperationMetadata": {
      "type": "object",
      "id": "OperationMetadata",
      "description": "The operation metadata returned for the batchend services operation.",
      "properties": {
        "resourceNames": {
          "type": "array",
          "description": "The full name of the resources that this operation is directly associated with.",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "LogDescriptor": {
      "description": "A description of a log type. Example in YAML format: - name: library.googleapis.com/activity_history description: The history of borrowing and returning library items. display_name: Activity labels: - key: /customer_id description: Identifier of a library customer",
      "id": "LogDescriptor",
      "type": "object",
      "properties": {
        "labels": {
          "description": "The set of labels that are available to describe a specific log entry. Runtime requests that contain labels not specified here are considered invalid.",
          "type": "array",
          "items": {
            "$ref": "LabelDescriptor"
          }
        },
        "description": {
          "description": "A human-readable description of this log. This information appears in the documentation and can contain details.",
          "type": "string"
        },
        "name": {
          "description": "The name of the log. It must be less than 512 characters long and can include the following characters: upper- and lower-case alphanumeric characters [A-Za-z0-9], and punctuation characters including slash, underscore, hyphen, period [/_-.].",
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "description": "The human-readable name for this log. This information appears on the user interface and should be concise."
        }
      }
    },
    "QuotaLimit": {
      "description": "`QuotaLimit` defines a specific limit that applies over a specified duration for a limit type. There can be at most one limit for a duration and limit type combination defined within a `QuotaGroup`.",
      "type": "object",
      "properties": {
        "metric": {
          "description": "The name of the metric this quota limit applies to. The quota limits with the same metric will be checked together during runtime. The metric must be defined within the service config.",
          "type": "string"
        },
        "defaultLimit": {
          "type": "string",
          "description": "Default number of tokens that can be consumed during the specified duration. This is the number of tokens assigned when a client application developer activates the service for his/her project. Specifying a value of 0 will block all requests. This can be used if you are provisioning quota to selected consumers and blocking others. Similarly, a value of -1 will indicate an unlimited quota. No other negative values are allowed. Used by group-based quotas only.",
          "format": "int64"
        },
        "trafficSource": {
          "description": "Optional. This is only informational, the logic to allocate the quota to the correct metric (such as in `metric_rules`) should identify which quota metrics to allocate to.",
          "enum": [
            "TRAFFIC_SOURCE_UNSPECIFIED",
            "TRAFFIC_SOURCE_NONAGENTIC",
            "TRAFFIC_SOURCE_AGENTIC"
          ],
          "enumDescriptions": [
            "This quota limit applies to all traffic. This is the default value.",
            "This quota limit applies to traffic not recognized as agentic.",
            "This quota limit applies to only agentic traffic."
          ],
          "type": "string"
        },
        "freeTier": {
          "description": "Free tier value displayed in the Developers Console for this limit. The free tier is the number of tokens that will be subtracted from the billed amount when billing is enabled. This field can only be set on a limit with duration \"1d\", in a billable group; it is invalid on any other limit. If this field is not set, it defaults to 0, indicating that there is no free tier for this service. Used by group-based quotas only.",
          "type": "string",
          "format": "int64"
        },
        "unit": {
          "description": "Specify the unit of the quota limit. It uses the same syntax as MetricDescriptor.unit. The supported unit kinds are determined by the quota backend system. Here are some examples: * \"1/min/{project}\" for quota per minute per project. Note: the order of unit components is insignificant. The \"1\" at the beginning is required to follow the metric unit syntax.",
          "type": "string"
        },
        "values": {
          "description": "Tiered limit values. You must specify this as a key:value pair, with an integer value that is the maximum number of requests allowed for the specified unit. Currently only STANDARD is supported.",
          "additionalProperties": {
            "type": "string",
            "format": "int64"
          },
          "type": "object"
        },
        "maxLimit": {
          "description": "Maximum number of tokens that can be consumed during the specified duration. Client application developers can override the default limit up to this maximum. If specified, this value cannot be set to a value less than the default limit. If not specified, it is set to the default limit. To allow clients to apply overrides with no upper bound, set this to -1, indicating unlimited maximum quota. Used by group-based quotas only.",
          "type": "string",
          "format": "int64"
        },
        "displayName": {
          "description": "User-visible display name for this limit. Optional. If not set, the UI will provide a default display name based on the quota configuration. This field can be used to override the default display name generated from the configuration.",
          "type": "string"
        },
        "description": {
          "type": "string",
          "description": "Optional. User-visible, extended description for this quota limit. Should be used only when more context is needed to understand this limit than provided by the limit's display name (see: `display_name`)."
        },
        "name": {
          "type": "string",
          "description": "Name of the quota limit. The name must be provided, and it must be unique within the service. The name can only include alphanumeric characters as well as '-'. The maximum length of the limit name is 64 characters."
        },
        "duration": {
          "description": "Duration of this limit in textual notation. Must be \"100s\" or \"1d\". Used by group-based quotas only.",
          "type": "string"
        }
      },
      "id": "QuotaLimit"
    },
    "GoogleApiServiceusageV1beta1ServiceIdentity": {
      "id": "GoogleApiServiceusageV1beta1ServiceIdentity",
      "description": "Service identity for a service. This is the identity that service producer should use to access consumer resources.",
      "properties": {
        "email": {
          "type": "string",
          "description": "The email address of the service account that a service producer would use to access consumer resources."
        },
        "uniqueId": {
          "type": "string",
          "description": "The unique and stable id of the service account. https://cloud.google.com/iam/reference/rest/v1/projects.serviceAccounts#ServiceAccount"
        }
      },
      "type": "object"
    },
    "SelectiveGapicGeneration": {
      "id": "SelectiveGapicGeneration",
      "description": "This message is used to configure the generation of a subset of the RPCs in a service for client libraries. Note: This feature should not be used in most cases.",
      "properties": {
        "methods": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "An allowlist of the fully qualified names of RPCs that should be included on public client surfaces."
        },
        "generateOmittedAsInternal": {
          "description": "Setting this to true indicates to the client generators that methods that would be excluded from the generation should instead be generated in a way that indicates these methods should not be consumed by end users. How this is expressed is up to individual language implementations to decide. Some examples may be: added annotations, obfuscated identifiers, or other language idiomatic patterns.",
          "type": "boolean"
        }
      },
      "type": "object"
    },
    "AddEnableRulesResponse": {
      "description": "The response message of `AddEnableRules` method.",
      "type": "object",
      "properties": {
        "parent": {
          "description": "The parent consumer policy. It can be `projects/12345/consumerPolicies/default`, or `folders/12345/consumerPolicies/default`, or `organizations/12345/consumerPolicies/default`.",
          "type": "string"
        },
        "addedValues": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "The values added to the parent consumer policy."
        }
      },
      "id": "AddEnableRulesResponse"
    },
    "ImportAdminQuotaPoliciesMetadata": {
      "description": "Metadata message that provides information such as progress, partial failures, and similar information on each GetOperation call of LRO returned by ImportAdminQuotaPolicies.",
      "type": "object",
      "id": "ImportAdminQuotaPoliciesMetadata",
      "properties": {}
    },
    "Quota": {
      "id": "Quota",
      "type": "object",
      "description": "Quota configuration helps to achieve fairness and budgeting in service usage. The metric based quota configuration works this way: - The service configuration defines a set of metrics. - For API calls, the quota.metric_rules maps methods to metrics with corresponding costs. - The quota.limits defines limits on the metrics, which will be used for quota checks at runtime. An example quota configuration in yaml format: quota: limits: - name: apiWriteQpsPerProject metric: library.googleapis.com/write_calls unit: \"1/min/{project}\" # rate limit for consumer projects values: STANDARD: 10000 (The metric rules bind all methods to the read_calls metric, except for the UpdateBook and DeleteBook methods. These two methods are mapped to the write_calls metric, with the UpdateBook method consuming at twice rate as the DeleteBook method.) metric_rules: - selector: \"*\" metric_costs: library.googleapis.com/read_calls: 1 - selector: google.example.library.v1.LibraryService.UpdateBook metric_costs: library.googleapis.com/write_calls: 2 - selector: google.example.library.v1.LibraryService.DeleteBook metric_costs: library.googleapis.com/write_calls: 1 Corresponding Metric definition: metrics: - name: library.googleapis.com/read_calls display_name: Read requests metric_kind: DELTA value_type: INT64 - name: library.googleapis.com/write_calls display_name: Write requests metric_kind: DELTA value_type: INT64 ",
      "properties": {
        "metricRules": {
          "items": {
            "$ref": "MetricRule"
          },
          "type": "array",
          "description": "List of MetricRule definitions, each one mapping a selected method to one or more metrics."
        },
        "limits": {
          "description": "List of QuotaLimit definitions for the service.",
          "items": {
            "$ref": "QuotaLimit"
          },
          "type": "array"
        }
      }
    },
    "ListConsumerOverridesResponse": {
      "type": "object",
      "description": "Response message for ListConsumerOverrides.",
      "id": "ListConsumerOverridesResponse",
      "properties": {
        "overrides": {
          "type": "array",
          "items": {
            "$ref": "QuotaOverride"
          },
          "description": "Consumer overrides on this limit."
        },
        "nextPageToken": {
          "description": "Token identifying which result to start with; returned by a previous list call.",
          "type": "string"
        }
      }
    },
    "BatchingSettingsProto": {
      "type": "object",
      "id": "BatchingSettingsProto",
      "description": "`BatchingSettingsProto` specifies a set of batching thresholds, each of which acts as a trigger to send a batch of messages as a request. At least one threshold must be positive nonzero.",
      "properties": {
        "flowControlLimitExceededBehavior": {
          "description": "The behavior to take when the flow control limit is exceeded.",
          "enumDescriptions": [
            "Default behavior, system-defined.",
            "Stop operation, raise error.",
            "Pause operation until limit clears.",
            "Continue operation, disregard limit."
          ],
          "type": "string",
          "enum": [
            "UNSET_BEHAVIOR",
            "THROW_EXCEPTION",
            "BLOCK",
            "IGNORE"
          ]
        },
        "elementCountThreshold": {
          "description": "The number of elements of a field collected into a batch which, if exceeded, causes the batch to be sent.",
          "type": "integer",
          "format": "int32"
        },
        "elementCountLimit": {
          "type": "integer",
          "description": "The maximum number of elements collected in a batch that could be accepted by server.",
          "format": "int32"
        },
        "delayThreshold": {
          "description": "The duration after which a batch should be sent, starting from the addition of the first message to that batch.",
          "type": "string",
          "format": "google-duration"
        },
        "requestByteLimit": {
          "description": "The maximum size of the request that could be accepted by server.",
          "type": "integer",
          "format": "int32"
        },
        "flowControlElementLimit": {
          "format": "int32",
          "type": "integer",
          "description": "The maximum number of elements allowed by flow control."
        },
        "requestByteThreshold": {
          "type": "string",
          "format": "int64",
          "description": "The aggregated size of the batched field which, if exceeded, causes the batch to be sent. This size is computed by aggregating the sizes of the request field to be batched, not of the entire request message."
        },
        "flowControlByteLimit": {
          "format": "int32",
          "description": "The maximum size of data allowed by flow control.",
          "type": "integer"
        }
      }
    },
    "MetricDescriptor": {
      "description": "Defines a metric type and its schema. Once a metric descriptor is created, deleting or altering it stops data collection and makes the metric type's existing data unusable. ",
      "id": "MetricDescriptor",
      "properties": {
        "labels": {
          "description": "The set of labels that can be used to describe a specific instance of this metric type. For example, the `appengine.googleapis.com/http/server/response_latencies` metric type has a label for the HTTP response code, `response_code`, so you can look at latencies for successful responses or just for responses that failed.",
          "items": {
            "$ref": "LabelDescriptor"
          },
          "type": "array"
        },
        "metadata": {
          "description": "Optional. Metadata which can be used to guide usage of the metric.",
          "$ref": "MetricDescriptorMetadata"
        },
        "metricKind": {
          "enumDescriptions": [
            "Do not use this default value.",
            "An instantaneous measurement of a value.",
            "The change in a value during a time interval.",
            "A value accumulated over a time interval. Cumulative measurements in a time series should have the same start time and increasing end times, until an event resets the cumulative value to zero and sets a new start time for the following points."
          ],
          "description": "Whether the metric records instantaneous values, changes to a value, etc. Some combinations of `metric_kind` and `value_type` might not be supported.",
          "enum": [
            "METRIC_KIND_UNSPECIFIED",
            "GAUGE",
            "DELTA",
            "CUMULATIVE"
          ],
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "description": "A concise name for the metric, which can be displayed in user interfaces. Use sentence case without an ending period, for example \"Request count\". This field is optional but it is recommended to be set for any metrics associated with user-visible concepts, such as Quota."
        },
        "type": {
          "description": "The metric type, including its DNS name prefix. The type is not URL-encoded. All user-defined metric types have the DNS name `custom.googleapis.com` or `external.googleapis.com`. Metric types should use a natural hierarchical grouping. For example: \"custom.googleapis.com/invoice/paid/amount\" \"external.googleapis.com/prometheus/up\" \"appengine.googleapis.com/http/server/response_latencies\"",
          "type": "string"
        },
        "description": {
          "description": "A detailed description of the metric, which can be used in documentation.",
          "type": "string"
        },
        "launchStage": {
          "description": "Optional. The launch stage of the metric definition.",
          "type": "string",
          "enumDescriptions": [
            "Do not use this default value.",
            "The feature is not yet implemented. Users can not use it.",
            "Prelaunch features are hidden from users and are only visible internally.",
            "Early Access features are limited to a closed group of testers. To use these features, you must sign up in advance and sign a Trusted Tester agreement (which includes confidentiality provisions). These features may be unstable, changed in backward-incompatible ways, and are not guaranteed to be released.",
            "Alpha is a limited availability test for releases before they are cleared for widespread use. By Alpha, all significant design issues are resolved and we are in the process of verifying functionality. Alpha customers need to apply for access, agree to applicable terms, and have their projects allowlisted. Alpha releases don't have to be feature complete, no SLAs are provided, and there are no technical support obligations, but they will be far enough along that customers can actually use them in test environments or for limited-use tests -- just like they would in normal production cases.",
            "Beta is the point at which we are ready to open a release for any customer to use. There are no SLA or technical support obligations in a Beta release. Products will be complete from a feature perspective, but may have some open outstanding issues. Beta releases are suitable for limited production use cases.",
            "GA features are open to all developers and are considered stable and fully qualified for production use.",
            "Deprecated features are scheduled to be shut down and removed. For more information, see the \"Deprecation Policy\" section of our [Terms of Service](https://cloud.google.com/terms/) and the [Google Cloud Platform Subject to the Deprecation Policy](https://cloud.google.com/terms/deprecation) documentation."
          ],
          "enum": [
            "LAUNCH_STAGE_UNSPECIFIED",
            "UNIMPLEMENTED",
            "PRELAUNCH",
            "EARLY_ACCESS",
            "ALPHA",
            "BETA",
            "GA",
            "DEPRECATED"
          ]
        },
        "valueType": {
          "enumDescriptions": [
            "Do not use this default value.",
            "The value is a boolean. This value type can be used only if the metric kind is `GAUGE`.",
            "The value is a signed 64-bit integer.",
            "The value is a double precision floating point number.",
            "The value is a text string. This value type can be used only if the metric kind is `GAUGE`.",
            "The value is a `Distribution`.",
            "The value is money."
          ],
          "type": "string",
          "description": "Whether the measurement is an integer, a floating-point number, etc. Some combinations of `metric_kind` and `value_type` might not be supported.",
          "enum": [
            "VALUE_TYPE_UNSPECIFIED",
            "BOOL",
            "INT64",
            "DOUBLE",
            "STRING",
            "DISTRIBUTION",
            "MONEY"
          ]
        },
        "monitoredResourceTypes": {
          "description": "Read-only. If present, then a time series, which is identified partially by a metric type and a MonitoredResourceDescriptor, that is associated with this metric type can only be associated with one of the monitored resource types listed here.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "name": {
          "type": "string",
          "description": "The resource name of the metric descriptor."
        },
        "unit": {
          "description": "The units in which the metric value is reported. It is only applicable if the `value_type` is `INT64`, `DOUBLE`, or `DISTRIBUTION`. The `unit` defines the representation of the stored metric values. Different systems might scale the values to be more easily displayed (so a value of `0.02kBy` _might_ be displayed as `20By`, and a value of `3523kBy` _might_ be displayed as `3.5MBy`). However, if the `unit` is `kBy`, then the value of the metric is always in thousands of bytes, no matter how it might be displayed. If you want a custom metric to record the exact number of CPU-seconds used by a job, you can create an `INT64 CUMULATIVE` metric whose `unit` is `s{CPU}` (or equivalently `1s{CPU}` or just `s`). If the job uses 12,005 CPU-seconds, then the value is written as `12005`. Alternatively, if you want a custom metric to record data in a more granular way, you can create a `DOUBLE CUMULATIVE` metric whose `unit` is `ks{CPU}`, and then write the value `12.005` (which is `12005/1000`), or use `Kis{CPU}` and write `11.723` (which is `12005/1024`). The supported units are a subset of [The Unified Code for Units of Measure](https://unitsofmeasure.org/ucum.html) standard: **Basic units (UNIT)** * `bit` bit * `By` byte * `s` second * `min` minute * `h` hour * `d` day * `1` dimensionless **Prefixes (PREFIX)** * `k` kilo (10^3) * `M` mega (10^6) * `G` giga (10^9) * `T` tera (10^12) * `P` peta (10^15) * `E` exa (10^18) * `Z` zetta (10^21) * `Y` yotta (10^24) * `m` milli (10^-3) * `u` micro (10^-6) * `n` nano (10^-9) * `p` pico (10^-12) * `f` femto (10^-15) * `a` atto (10^-18) * `z` zepto (10^-21) * `y` yocto (10^-24) * `Ki` kibi (2^10) * `Mi` mebi (2^20) * `Gi` gibi (2^30) * `Ti` tebi (2^40) * `Pi` pebi (2^50) **Grammar** The grammar also includes these connectors: * `/` division or ratio (as an infix operator). For examples, `kBy/{email}` or `MiBy/10ms` (although you should almost never have `/s` in a metric `unit`; rates should always be computed at query time from the underlying cumulative or delta value). * `.` multiplication or composition (as an infix operator). For examples, `GBy.d` or `k{watt}.h`. The grammar for a unit is as follows: Expression = Component { \".\" Component } { \"/\" Component } ; Component = ( [ PREFIX ] UNIT | \"%\" ) [ Annotation ] | Annotation | \"1\" ; Annotation = \"{\" NAME \"}\" ; Notes: * `Annotation` is just a comment if it follows a `UNIT`. If the annotation is used alone, then the unit is equivalent to `1`. For examples, `{request}/s == 1/s`, `By{transmitted}/s == By/s`. * `NAME` is a sequence of non-blank printable ASCII characters not containing `{` or `}`. * `1` represents a unitary [dimensionless unit](https://en.wikipedia.org/wiki/Dimensionless_quantity) of 1, such as in `1/s`. It is typically used when none of the basic units are appropriate. For example, \"new users per day\" can be represented as `1/d` or `{new-users}/d` (and a metric value `5` would mean \"5 new users). Alternatively, \"thousands of page views per day\" would be represented as `1000/d` or `k1/d` or `k{page_views}/d` (and a metric value of `5.3` would mean \"5300 page views per day\"). * `%` represents dimensionless value of 1/100, and annotates values giving a percentage (so the metric values are typically in the range of 0..100, and a metric value `3` means \"3 percent\"). * `10^2.%` indicates a metric contains a ratio, typically in the range 0..1, that will be multiplied by 100 and displayed as a percentage (so a metric value `0.03` means \"3 percent\").",
          "type": "string"
        }
      },
      "type": "object"
    },
    "ContentSecurity": {
      "id": "ContentSecurity",
      "type": "object",
      "properties": {
        "contentSecurityProviders": {
          "type": "array",
          "description": "List of content security providers that are enabled for content scanning.",
          "items": {
            "$ref": "ContentSecurityProvider"
          }
        }
      },
      "description": "ContentSecurity defines the content security related fields of a MCP policy."
    },
    "JwtLocation": {
      "type": "object",
      "description": "Specifies a location to extract JWT from an API request.",
      "id": "JwtLocation",
      "properties": {
        "header": {
          "type": "string",
          "description": "Specifies HTTP header name to extract JWT token."
        },
        "cookie": {
          "type": "string",
          "description": "Specifies cookie name to extract JWT token."
        },
        "valuePrefix": {
          "type": "string",
          "description": "The value prefix. The value format is \"value_prefix{token}\" Only applies to \"in\" header type. Must be empty for \"in\" query type. If not empty, the header value has to match (case sensitive) this prefix. If not matched, JWT will not be extracted. If matched, JWT will be extracted after the prefix is removed. For example, for \"Authorization: Bearer {JWT}\", value_prefix=\"Bearer \" with a space at the end."
        },
        "query": {
          "description": "Specifies URL query parameter name to extract JWT token.",
          "type": "string"
        }
      }
    },
    "BatchCreateConsumerOverridesResponse": {
      "id": "BatchCreateConsumerOverridesResponse",
      "properties": {
        "overrides": {
          "description": "The overrides that were created.",
          "type": "array",
          "items": {
            "$ref": "QuotaOverride"
          }
        }
      },
      "type": "object",
      "description": "Response message for BatchCreateConsumerOverrides"
    },
    "DisableServiceRequest": {
      "id": "DisableServiceRequest",
      "properties": {},
      "type": "object",
      "description": "Request message for the `DisableService` method."
    },
    "ListServicesResponse": {
      "id": "ListServicesResponse",
      "description": "Response message for the `ListServices` method.",
      "type": "object",
      "properties": {
        "services": {
          "type": "array",
          "items": {
            "$ref": "Service"
          },
          "description": "The available services for the requested project."
        },
        "nextPageToken": {
          "description": "Token that can be passed to `ListServices` to resume a paginated query.",
          "type": "string"
        }
      }
    },
    "RubySettings": {
      "properties": {
        "common": {
          "description": "Some settings.",
          "$ref": "CommonLanguageSettings"
        }
      },
      "description": "Settings for Ruby client libraries.",
      "id": "RubySettings",
      "type": "object"
    },
    "ImportAdminOverridesMetadata": {
      "description": "Metadata message that provides information such as progress, partial failures, and similar information on each GetOperation call of LRO returned by ImportAdminOverrides.",
      "properties": {},
      "id": "ImportAdminOverridesMetadata",
      "type": "object"
    },
    "Control": {
      "description": "Selects and configures the service controller used by the service. Example: control: environment: servicecontrol.googleapis.com",
      "properties": {
        "methodPolicies": {
          "description": "Defines policies applying to the API methods of the service.",
          "items": {
            "$ref": "MethodPolicy"
          },
          "type": "array"
        },
        "environment": {
          "type": "string",
          "description": "The service controller environment to use. If empty, no control plane features (like quota and billing) will be enabled. The recommended value for most services is servicecontrol.googleapis.com."
        }
      },
      "id": "Control",
      "type": "object"
    },
    "Mixin": {
      "properties": {
        "name": {
          "description": "The fully qualified name of the interface which is included.",
          "type": "string"
        },
        "root": {
          "description": "If non-empty specifies a path under which inherited HTTP paths are rooted.",
          "type": "string"
        }
      },
      "description": "Declares an API Interface to be included in this interface. The including interface must redeclare all the methods from the included interface, but documentation and options are inherited as follows: - If after comment and whitespace stripping, the documentation string of the redeclared method is empty, it will be inherited from the original method. - Each annotation belonging to the service config (http, visibility) which is not set in the redeclared method will be inherited. - If an http annotation is inherited, the path pattern will be modified as follows. Any version prefix will be replaced by the version of the including interface plus the root path if specified. Example of a simple mixin: package google.acl.v1; service AccessControl { // Get the underlying ACL object. rpc GetAcl(GetAclRequest) returns (Acl) { option (google.api.http).get = \"/v1/{resource=**}:getAcl\"; } } package google.storage.v2; service Storage { // rpc GetAcl(GetAclRequest) returns (Acl); // Get a data record. rpc GetData(GetDataRequest) returns (Data) { option (google.api.http).get = \"/v2/{resource=**}\"; } } Example of a mixin configuration: apis: - name: google.storage.v2.Storage mixins: - name: google.acl.v1.AccessControl The mixin construct implies that all methods in `AccessControl` are also declared with same name and request/response types in `Storage`. A documentation generator or annotation processor will see the effective `Storage.GetAcl` method after inheriting documentation and annotations as follows: service Storage { // Get the underlying ACL object. rpc GetAcl(GetAclRequest) returns (Acl) { option (google.api.http).get = \"/v2/{resource=**}:getAcl\"; } ... } Note how the version in the path pattern changed from `v1` to `v2`. If the `root` field in the mixin is specified, it should be a relative path under which inherited HTTP paths are placed. Example: apis: - name: google.storage.v2.Storage mixins: - name: google.acl.v1.AccessControl root: acls This implies the following inherited HTTP annotation: service Storage { // Get the underlying ACL object. rpc GetAcl(GetAclRequest) returns (Acl) { option (google.api.http).get = \"/v2/acls/{resource=**}:getAcl\"; } ... }",
      "id": "Mixin",
      "type": "object"
    },
    "ProducerQuotaPolicy": {
      "id": "ProducerQuotaPolicy",
      "properties": {
        "metric": {
          "description": "The name of the metric to which this policy applies. An example name would be: `compute.googleapis.com/cpus`",
          "type": "string"
        },
        "dimensions": {
          "type": "object",
          "description": " If this map is nonempty, then this policy applies only to specific values for dimensions defined in the limit unit. For example, a policy on a limit with the unit `1/{project}/{region}` could contain an entry with the key `region` and the value `us-east-1`; the policy is only applied to quota consumed in that region. This map has the following restrictions: * Keys that are not defined in the limit's unit are not valid keys. Any string appearing in {brackets} in the unit (besides {project} or {user}) is a defined key. * `project` is not a valid key; the project is already specified in the parent resource name. * `user` is not a valid key; the API does not support quota policies that apply only to a specific user. * If `region` appears as a key, its value must be a valid Cloud region. * If `zone` appears as a key, its value must be a valid Cloud zone. * If any valid key other than `region` or `zone` appears in the map, then all valid keys other than `region` or `zone` must also appear in the map.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "name": {
          "description": "The resource name of the policy. This name is generated by the server when the policy is created. Example names would be: `organizations/123/services/compute.googleapis.com/consumerQuotaMetrics/compute.googleapis.com%2Fcpus/limits/%2Fproject%2Fregion/producerQuotaPolicies/4a3f2c1d`",
          "type": "string"
        },
        "unit": {
          "description": "The limit unit of the limit to which this policy applies. An example unit would be: `1/{project}/{region}` Note that `{project}` and `{region}` are not placeholders in this example; the literal characters `{` and `}` occur in the string.",
          "type": "string"
        },
        "policyValue": {
          "description": "The quota policy value. Can be any nonnegative integer, or -1 (unlimited quota).",
          "type": "string",
          "format": "int64"
        },
        "container": {
          "description": "The cloud resource container at which the quota policy is created. The format is `{container_type}/{container_number}`",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Quota policy created by service producer."
    },
    "LongRunning": {
      "type": "object",
      "properties": {
        "totalPollTimeout": {
          "type": "string",
          "description": "Total polling timeout. Default value: 5 minutes.",
          "format": "google-duration"
        },
        "maxPollDelay": {
          "format": "google-duration",
          "description": "Maximum time between two subsequent poll requests. Default value: 45 seconds.",
          "type": "string"
        },
        "pollDelayMultiplier": {
          "description": "Multiplier to gradually increase delay between subsequent polls until it reaches max_poll_delay. Default value: 1.5.",
          "type": "number",
          "format": "float"
        },
        "initialPollDelay": {
          "format": "google-duration",
          "type": "string",
          "description": "Initial delay after which the first poll request will be made. Default value: 5 seconds."
        }
      },
      "id": "LongRunning",
      "description": "Describes settings to use when generating API methods that use the long-running operation pattern. All default values below are from those used in the client library generators (e.g. [Java](https://github.com/googleapis/gapic-generator-java/blob/04c2faa191a9b5a10b92392fe8482279c4404803/src/main/java/com/google/api/generator/gapic/composer/common/RetrySettingsComposer.java))."
    },
    "GoogleApiServiceusageV2betaEnableRule": {
      "id": "GoogleApiServiceusageV2betaEnableRule",
      "properties": {
        "services": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "The names of the services that are enabled. Example: `services/storage.googleapis.com`."
        },
        "catalogs": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "The names of the catalogs that are enabled. Example: `catalogs/default-cloud-services`."
        }
      },
      "description": "The consumer policy rule that defines enabled services, groups, and categories.",
      "type": "object"
    },
    "DocumentationRule": {
      "description": "A documentation rule provides information about individual API elements.",
      "type": "object",
      "id": "DocumentationRule",
      "properties": {
        "selector": {
          "description": "The selector is a comma-separated list of patterns for any element such as a method, a field, an enum value. Each pattern is a qualified name of the element which may end in \"*\", indicating a wildcard. Wildcards are only allowed at the end and for a whole component of the qualified name, i.e. \"foo.*\" is ok, but not \"foo.b*\" or \"foo.*.bar\". A wildcard will match one or more components. To specify a default for all applicable elements, the whole pattern \"*\" is used.",
          "type": "string"
        },
        "deprecationDescription": {
          "type": "string",
          "description": "Deprecation description of the selected element(s). It can be provided if an element is marked as `deprecated`."
        },
        "description": {
          "description": "Description of the selected proto element (e.g. a message, a method, a 'service' definition, or a field). Defaults to leading & trailing comments taken from the proto source definition of the proto element.",
          "type": "string"
        },
        "disableReplacementWords": {
          "description": "String of comma or space separated case-sensitive words for which method/field name replacement will be disabled.",
          "type": "string"
        }
      }
    },
    "GoogleApiServiceusageV2betaMcpService": {
      "properties": {
        "service": {
          "description": "The names of the services that are enabled for MCP. Example: `services/library-example.googleapis.com`",
          "type": "string"
        }
      },
      "id": "GoogleApiServiceusageV2betaMcpService",
      "type": "object",
      "description": "McpService contains the service names that are enabled for MCP."
    },
    "CppSettings": {
      "id": "CppSettings",
      "description": "Settings for C++ client libraries.",
      "properties": {
        "common": {
          "$ref": "CommonLanguageSettings",
          "description": "Some settings."
        }
      },
      "type": "object"
    },
    "JavaSettings": {
      "id": "JavaSettings",
      "type": "object",
      "description": "Settings for Java client libraries.",
      "properties": {
        "common": {
          "description": "Some settings.",
          "$ref": "CommonLanguageSettings"
        },
        "libraryPackage": {
          "type": "string",
          "description": "The package name to use in Java. Clobbers the java_package option set in the protobuf. This should be used **only** by APIs who have already set the language_settings.java.package_name\" field in gapic.yaml. API teams should use the protobuf java_package option where possible. Example of a YAML configuration:: publishing: library_settings: java_settings: library_package: com.google.cloud.pubsub.v1"
        },
        "serviceClassNames": {
          "description": "Configure the Java class name to use instead of the service's for its corresponding generated GAPIC client. Keys are fully-qualified service names as they appear in the protobuf (including the full the language_settings.java.interface_names\" field in gapic.yaml. API teams should otherwise use the service name as it appears in the protobuf. Example of a YAML configuration:: publishing: java_settings: service_class_names: - google.pubsub.v1.Publisher: TopicAdmin - google.pubsub.v1.Subscriber: SubscriptionAdmin",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        }
      }
    },
    "UpdateConsumerPolicyMetadata": {
      "properties": {},
      "type": "object",
      "description": "Metadata for the `UpdateConsumerPolicy` method.",
      "id": "UpdateConsumerPolicyMetadata"
    },
    "SourceContext": {
      "id": "SourceContext",
      "properties": {
        "fileName": {
          "type": "string",
          "description": "The path-qualified name of the .proto file that contained the associated protobuf element. For example: `\"google/protobuf/source_context.proto\"`."
        }
      },
      "type": "object",
      "description": "`SourceContext` represents information about the source of a protobuf element, like the file in which it is defined."
    },
    "OAuthRequirements": {
      "properties": {
        "canonicalScopes": {
          "type": "string",
          "description": "The list of publicly documented OAuth scopes that are allowed access. An OAuth token containing any of these scopes will be accepted. Example: canonical_scopes: https://www.googleapis.com/auth/calendar, https://www.googleapis.com/auth/calendar.read"
        }
      },
      "type": "object",
      "id": "OAuthRequirements",
      "description": "OAuth scopes are a way to define data and permissions on data. For example, there are scopes defined for \"Read-only access to Google Calendar\" and \"Access to Cloud Platform\". Users can consent to a scope for an application, giving it permission to access that data on their behalf. OAuth scope specifications should be fairly coarse grained; a user will need to see and understand the text description of what your scope means. In most cases: use one or at most two OAuth scopes for an entire family of products. If your product has multiple APIs, you should probably be sharing the OAuth scope across all of those APIs. When you need finer grained OAuth consent screens: talk with your product management about how developers will use them in practice. Please note that even though each of the canonical scopes is enough for a request to be accepted and passed to the backend, a request can still fail due to the backend requiring additional scopes or permissions."
    },
    "GetServiceIdentityMetadata": {
      "type": "object",
      "description": "Metadata for the `GetServiceIdentity` method.",
      "properties": {},
      "id": "GetServiceIdentityMetadata"
    },
    "PythonSettings": {
      "type": "object",
      "id": "PythonSettings",
      "properties": {
        "common": {
          "description": "Some settings.",
          "$ref": "CommonLanguageSettings"
        },
        "experimentalFeatures": {
          "description": "Experimental features to be included during client library generation.",
          "$ref": "ExperimentalFeatures"
        }
      },
      "description": "Settings for Python client libraries."
    },
    "GoogleApiServiceusageV2alphaAnalysisResult": {
      "id": "GoogleApiServiceusageV2alphaAnalysisResult",
      "type": "object",
      "properties": {
        "blockers": {
          "type": "array",
          "description": "Blocking information that would prevent the policy changes at runtime.",
          "items": {
            "$ref": "GoogleApiServiceusageV2alphaImpact"
          }
        },
        "warnings": {
          "items": {
            "$ref": "GoogleApiServiceusageV2alphaImpact"
          },
          "type": "array",
          "description": "Warning information indicating that the policy changes might be unsafe, but will not block the changes at runtime."
        }
      },
      "description": "An analysis result including blockers and warnings."
    },
    "GoogleApiServiceusageV2alphaAnalysis": {
      "type": "object",
      "id": "GoogleApiServiceusageV2alphaAnalysis",
      "properties": {
        "analysisType": {
          "type": "string",
          "readOnly": true,
          "enum": [
            "ANALYSIS_TYPE_UNSPECIFIED",
            "ANALYSIS_TYPE_DEPENDENCY",
            "ANALYSIS_TYPE_RESOURCE_USAGE",
            "ANALYSIS_TYPE_RESOURCE_EXISTENCE"
          ],
          "description": "Output only. The type of analysis.",
          "enumDescriptions": [
            "Unspecified analysis type. Do not use.",
            "The analysis of service dependencies.",
            "The analysis of service resource usage.",
            "The analysis of service resource existence."
          ]
        },
        "service": {
          "type": "string",
          "description": "The names of the service that has analysis result of warnings or blockers. Example: `services/storage.googleapis.com`."
        },
        "analysisResult": {
          "description": "Output only. Analysis result of updating a policy.",
          "readOnly": true,
          "$ref": "GoogleApiServiceusageV2alphaAnalysisResult"
        },
        "displayName": {
          "description": "Output only. The user friendly display name of the analysis type. E.g. service dependency analysis, service resource usage analysis, etc.",
          "readOnly": true,
          "type": "string"
        }
      },
      "description": "A message to group the analysis information."
    },
    "RemoveEnableRulesResponse": {
      "id": "RemoveEnableRulesResponse",
      "description": "The response message of `RemoveEnableRules` method.",
      "type": "object",
      "properties": {
        "parent": {
          "type": "string",
          "description": "The parent consumer policy. It can be `projects/12345/consumerPolicies/default`, or `folders/12345/consumerPolicies/default`, or `organizations/12345/consumerPolicies/default`."
        },
        "removedValues": {
          "description": "Deprecated: This field is no longer populated. Use GetConsumerPolicy to verify the remaining enabled values.",
          "deprecated": true,
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      }
    },
    "GoogleApiServiceusageV2alphaUpdateConsumerPolicyMetadata": {
      "description": "Metadata for the `UpdateConsumerPolicy` method.",
      "properties": {},
      "type": "object",
      "id": "GoogleApiServiceusageV2alphaUpdateConsumerPolicyMetadata"
    },
    "NodeSettings": {
      "type": "object",
      "description": "Settings for Node client libraries.",
      "properties": {
        "common": {
          "$ref": "CommonLanguageSettings",
          "description": "Some settings."
        }
      },
      "id": "NodeSettings"
    },
    "AuthRequirement": {
      "type": "object",
      "id": "AuthRequirement",
      "description": "User-defined authentication requirements, including support for [JSON Web Token (JWT)](https://tools.ietf.org/html/draft-ietf-oauth-json-web-token-32).",
      "properties": {
        "providerId": {
          "description": "id from authentication provider. Example: provider_id: bookstore_auth",
          "type": "string"
        },
        "audiences": {
          "description": "NOTE: This will be deprecated soon, once AuthProvider.audiences is implemented and accepted in all the runtime components. The list of JWT [audiences](https://tools.ietf.org/html/draft-ietf-oauth-json-web-token-32#section-4.1.3). that are allowed to access. A JWT containing any of these audiences will be accepted. When this setting is absent, only JWTs with audience \"https://Service_name/API_name\" will be accepted. For example, if no audiences are in the setting, LibraryService API will only accept JWTs with the following audience \"https://library-example.googleapis.com/google.example.library.v1.LibraryService\". Example: audiences: bookstore_android.apps.googleusercontent.com, bookstore_web.apps.googleusercontent.com",
          "type": "string"
        }
      }
    },
    "GoogleApiServiceusageV2alphaImpact": {
      "type": "object",
      "properties": {
        "detail": {
[...]
