{
  "title": "Service Networking API",
  "id": "servicenetworking:v1",
  "version": "v1",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/service.management": {
          "description": "Manage your Google API service configuration"
        },
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "name": "servicenetworking",
  "version_module": true,
  "servicePath": "",
  "fullyEncodeReservedExpansion": true,
  "protocol": "rest",
  "batchPath": "batch",
  "ownerName": "Google",
  "rootUrl": "https://servicenetworking.googleapis.com/",
  "revision": "20260810",
  "canonicalName": "Service Networking",
  "ownerDomain": "google.com",
  "parameters": {
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "location": "query",
      "type": "string"
    },
    "upload_protocol": {
      "type": "string",
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query",
      "type": "string"
    },
    "key": {
      "location": "query",
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "prettyPrint": {
      "type": "boolean",
      "default": "true",
      "location": "query",
      "description": "Returns response with indentations and line breaks."
    },
    "alt": {
      "type": "string",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "default": "json",
      "location": "query",
      "description": "Data format for response.",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ]
    },
    "callback": {
      "description": "JSONP",
      "location": "query",
      "type": "string"
    },
    "$.xgafv": {
      "type": "string",
      "enum": [
        "1",
        "2"
      ],
      "description": "V1 error format.",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query"
    },
    "quotaUser": {
      "type": "string",
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "access_token": {
      "description": "OAuth access token.",
      "type": "string",
      "location": "query"
    }
  },
  "discoveryVersion": "v1",
  "description": "Provides automatic management of network configurations necessary for certain services.",
  "mtlsRootUrl": "https://servicenetworking.mtls.googleapis.com/",
  "schemas": {
    "MetricDescriptorMetadata": {
      "type": "object",
      "properties": {
        "timeSeriesResourceHierarchyLevel": {
          "description": "The scope of the timeseries data of the metric.",
          "items": {
            "enumDescriptions": [
              "Do not use this default value.",
              "Scopes a metric to a project.",
              "Scopes a metric to an organization.",
              "Scopes a metric to a folder."
            ],
            "type": "string",
            "enum": [
              "TIME_SERIES_RESOURCE_HIERARCHY_LEVEL_UNSPECIFIED",
              "PROJECT",
              "ORGANIZATION",
              "FOLDER"
            ]
          },
          "type": "array"
        },
        "launchStage": {
          "deprecated": true,
          "enumDescriptions": [
            "Do not use this default value.",
            "The feature is not yet implemented. Users can not use it.",
            "Prelaunch features are hidden from users and are only visible internally.",
            "Early Access features are limited to a closed group of testers. To use these features, you must sign up in advance and sign a Trusted Tester agreement (which includes confidentiality provisions). These features may be unstable, changed in backward-incompatible ways, and are not guaranteed to be released.",
            "Alpha is a limited availability test for releases before they are cleared for widespread use. By Alpha, all significant design issues are resolved and we are in the process of verifying functionality. Alpha customers need to apply for access, agree to applicable terms, and have their projects allowlisted. Alpha releases don't have to be feature complete, no SLAs are provided, and there are no technical support obligations, but they will be far enough along that customers can actually use them in test environments or for limited-use tests -- just like they would in normal production cases.",
            "Beta is the point at which we are ready to open a release for any customer to use. There are no SLA or technical support obligations in a Beta release. Products will be complete from a feature perspective, but may have some open outstanding issues. Beta releases are suitable for limited production use cases.",
            "GA features are open to all developers and are considered stable and fully qualified for production use.",
            "Deprecated features are scheduled to be shut down and removed. For more information, see the \"Deprecation Policy\" section of our [Terms of Service](https://cloud.google.com/terms/) and the [Google Cloud Platform Subject to the Deprecation Policy](https://cloud.google.com/terms/deprecation) documentation."
          ],
          "description": "Deprecated. Must use the MetricDescriptor.launch_stage instead.",
          "type": "string",
          "enum": [
            "LAUNCH_STAGE_UNSPECIFIED",
            "UNIMPLEMENTED",
            "PRELAUNCH",
            "EARLY_ACCESS",
            "ALPHA",
            "BETA",
            "GA",
            "DEPRECATED"
          ]
        },
        "samplePeriod": {
          "description": "The sampling period of metric data points. For metrics which are written periodically, consecutive data points are stored at this time interval, excluding data loss due to errors. Metrics with a higher granularity have a smaller sampling period.",
          "format": "google-duration",
          "type": "string"
        },
        "ingestDelay": {
          "description": "The delay of data points caused by ingestion. Data points older than this age are guaranteed to be ingested and available to be read, excluding data loss due to errors.",
          "format": "google-duration",
          "type": "string"
        }
      },
      "id": "MetricDescriptorMetadata",
      "description": "Additional annotations that can be used to guide the usage of a metric."
    },
    "CppSettings": {
      "type": "object",
      "properties": {
        "common": {
          "$ref": "CommonLanguageSettings",
          "description": "Some settings."
        }
      },
      "id": "CppSettings",
      "description": "Settings for C++ client libraries."
    },
    "GetDnsZoneResponse": {
      "type": "object",
      "properties": {
        "producerPrivateZone": {
          "description": "The private DNS zone created in the shared producer host project.",
          "$ref": "DnsZone"
        },
        "consumerPeeringZone": {
          "$ref": "DnsZone",
          "description": "The DNS peering zone created in the consumer project."
        }
      },
      "id": "GetDnsZoneResponse",
      "description": "Represents managed DNS zones created in the shared Producer host and consumer projects."
    },
    "RemoveDnsRecordSetMetadata": {
      "id": "RemoveDnsRecordSetMetadata",
      "description": "Metadata provided through GetOperation request for the LRO generated by RemoveDnsRecordSet API",
      "properties": {},
      "type": "object"
    },
    "ConsumerConfig": {
      "properties": {
        "cloudsqlConfigs": {
          "type": "array",
          "description": "Represents one or multiple Cloud SQL configurations.",
          "items": {
            "$ref": "CloudSQLConfig"
          }
        },
        "usedIpRanges": {
          "readOnly": true,
          "type": "array",
          "description": "Output only. The IP ranges already in use by consumer or producer",
          "items": {
            "type": "string"
          }
        },
        "consumerPeeringActive": {
          "description": "Output only. If this is true, consumer peering is active.",
          "readOnly": true,
          "type": "boolean"
        },
        "reservedRanges": {
          "description": "Output only. The reserved ranges associated with this private service access connection.",
          "items": {
            "$ref": "GoogleCloudServicenetworkingV1ConsumerConfigReservedRange"
          },
          "readOnly": true,
          "type": "array"
        },
        "consumerExportCustomRoutes": {
          "description": "Export custom routes flag value for peering from consumer to producer.",
          "type": "boolean"
        },
        "producerExportCustomRoutes": {
          "description": "Export custom routes flag value for peering from producer to consumer.",
          "type": "boolean"
        },
        "producerImportCustomRoutes": {
          "description": "Import custom routes flag value for peering from producer to consumer.",
          "type": "boolean"
        },
        "producerImportSubnetRoutesWithPublicIp": {
          "description": "Import subnet routes with public ip flag value for peering from producer to consumer.",
          "type": "boolean"
        },
        "vpcScReferenceArchitectureEnabled": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. Indicates whether the VPC Service Controls reference architecture is configured for the producer VPC host network."
        },
        "producerExportSubnetRoutesWithPublicIp": {
          "description": "Export subnet routes with public ip flag value for peering from producer to consumer.",
          "type": "boolean"
        },
        "producerNetwork": {
          "description": "Output only. The VPC host network that is used to host managed service instances. In the format, projects/{project}/global/networks/{network} where {project} is the project number e.g. '12345' and {network} is the network name.",
          "readOnly": true,
          "type": "string"
        },
        "consumerExportSubnetRoutesWithPublicIp": {
          "description": "Export subnet routes with public ip flag value for peering from consumer to producer.",
          "type": "boolean"
        },
        "consumerImportCustomRoutes": {
          "description": "Import custom routes flag value for peering from consumer to producer.",
          "type": "boolean"
        },
        "consumerImportSubnetRoutesWithPublicIp": {
          "description": "Import subnet routes with public ip flag value for peering from consumer to producer.",
          "type": "boolean"
        }
      },
      "id": "ConsumerConfig",
      "description": "Configuration information for a private service access connection.",
      "type": "object"
    },
    "MonitoredResourceDescriptor": {
      "type": "object",
      "properties": {
        "description": {
          "description": "Optional. A detailed description of the monitored resource type that might be used in documentation.",
          "type": "string"
        },
        "displayName": {
          "description": "Optional. A concise name for the monitored resource type that might be displayed in user interfaces. It should be a Title Cased Noun Phrase, without any article or other determiners. For example, `\"Google Cloud SQL Database\"`.",
          "type": "string"
        },
        "labels": {
          "description": "Required. A set of labels used to describe instances of this monitored resource type. For example, an individual Google Cloud SQL database is identified by values for the labels `\"database_id\"` and `\"zone\"`.",
          "items": {
            "$ref": "LabelDescriptor"
          },
          "type": "array"
        },
        "name": {
          "description": "Optional. The resource name of the monitored resource descriptor: `\"projects/{project_id}/monitoredResourceDescriptors/{type}\"` where {type} is the value of the `type` field in this object and {project_id} is a project ID that provides API-specific context for accessing the type. APIs that do not use project information can use the resource name format `\"monitoredResourceDescriptors/{type}\"`.",
          "type": "string"
        },
        "type": {
          "description": "Required. The monitored resource type. For example, the type `\"cloudsql_database\"` represents databases in Google Cloud SQL. For a list of types, see [Monitored resource types](https://cloud.google.com/monitoring/api/resources) and [Logging resource types](https://cloud.google.com/logging/docs/api/v2/resource-list).",
          "type": "string"
        },
        "launchStage": {
          "enumDescriptions": [
            "Do not use this default value.",
            "The feature is not yet implemented. Users can not use it.",
            "Prelaunch features are hidden from users and are only visible internally.",
            "Early Access features are limited to a closed group of testers. To use these features, you must sign up in advance and sign a Trusted Tester agreement (which includes confidentiality provisions). These features may be unstable, changed in backward-incompatible ways, and are not guaranteed to be released.",
            "Alpha is a limited availability test for releases before they are cleared for widespread use. By Alpha, all significant design issues are resolved and we are in the process of verifying functionality. Alpha customers need to apply for access, agree to applicable terms, and have their projects allowlisted. Alpha releases don't have to be feature complete, no SLAs are provided, and there are no technical support obligations, but they will be far enough along that customers can actually use them in test environments or for limited-use tests -- just like they would in normal production cases.",
            "Beta is the point at which we are ready to open a release for any customer to use. There are no SLA or technical support obligations in a Beta release. Products will be complete from a feature perspective, but may have some open outstanding issues. Beta releases are suitable for limited production use cases.",
            "GA features are open to all developers and are considered stable and fully qualified for production use.",
            "Deprecated features are scheduled to be shut down and removed. For more information, see the \"Deprecation Policy\" section of our [Terms of Service](https://cloud.google.com/terms/) and the [Google Cloud Platform Subject to the Deprecation Policy](https://cloud.google.com/terms/deprecation) documentation."
          ],
          "description": "Optional. The launch stage of the monitored resource definition.",
          "type": "string",
          "enum": [
            "LAUNCH_STAGE_UNSPECIFIED",
            "UNIMPLEMENTED",
            "PRELAUNCH",
            "EARLY_ACCESS",
            "ALPHA",
            "BETA",
            "GA",
            "DEPRECATED"
          ]
        }
      },
      "id": "MonitoredResourceDescriptor",
      "description": "An object that describes the schema of a MonitoredResource object using a type name and a set of labels. For example, the monitored resource descriptor for Google Compute Engine VM instances has a type of `\"gce_instance\"` and specifies the use of the labels `\"instance_id\"` and `\"zone\"` to identify particular VM instances. Different APIs can support different monitored resource types. APIs generally provide a `list` method that returns the monitored resource descriptors used by the API. "
    },
    "EnableVpcServiceControlsRequest": {
      "id": "EnableVpcServiceControlsRequest",
      "description": "Request to enable VPC service controls.",
      "properties": {
        "consumerNetwork": {
          "description": "Required. The network that the consumer is using to connect with services. Must be in the form of projects/{project}/global/networks/{network} {project} is a project number, as in '12345' {network} is network name.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "BillingDestination": {
      "properties": {
        "monitoredResource": {
          "description": "The monitored resource type. The type must be defined in Service.monitored_resources section.",
          "type": "string"
        },
        "metrics": {
          "type": "array",
          "description": "Names of the metrics to report to this billing destination. Each name must be defined in Service.metrics section.",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "BillingDestination",
      "description": "Configuration of a specific billing destination (Currently only support bill against consumer project).",
      "type": "object"
    },
    "CancelOperationRequest": {
      "type": "object",
      "properties": {},
      "id": "CancelOperationRequest",
      "description": "The request message for Operations.CancelOperation."
    },
    "QuotaLimit": {
      "type": "object",
      "properties": {
        "trafficSource": {
          "type": "string",
          "enum": [
            "TRAFFIC_SOURCE_UNSPECIFIED",
            "TRAFFIC_SOURCE_NONAGENTIC",
            "TRAFFIC_SOURCE_AGENTIC"
          ],
          "enumDescriptions": [
            "This quota limit applies to all traffic. This is the default value.",
            "This quota limit applies to traffic not recognized as agentic.",
            "This quota limit applies to only agentic traffic."
          ],
          "description": "Optional. This is only informational, the logic to allocate the quota to the correct metric (such as in `metric_rules`) should identify which quota metrics to allocate to."
        },
        "description": {
          "description": "Optional. User-visible, extended description for this quota limit. Should be used only when more context is needed to understand this limit than provided by the limit's display name (see: `display_name`).",
          "type": "string"
        },
        "defaultLimit": {
          "type": "string",
          "description": "Default number of tokens that can be consumed during the specified duration. This is the number of tokens assigned when a client application developer activates the service for his/her project. Specifying a value of 0 will block all requests. This can be used if you are provisioning quota to selected consumers and blocking others. Similarly, a value of -1 will indicate an unlimited quota. No other negative values are allowed. Used by group-based quotas only.",
          "format": "int64"
        },
        "unit": {
          "description": "Specify the unit of the quota limit. It uses the same syntax as MetricDescriptor.unit. The supported unit kinds are determined by the quota backend system. Here are some examples: * \"1/min/{project}\" for quota per minute per project. Note: the order of unit components is insignificant. The \"1\" at the beginning is required to follow the metric unit syntax.",
          "type": "string"
        },
        "name": {
          "description": "Name of the quota limit. The name must be provided, and it must be unique within the service. The name can only include alphanumeric characters as well as '-'. The maximum length of the limit name is 64 characters.",
          "type": "string"
        },
        "freeTier": {
          "description": "Free tier value displayed in the Developers Console for this limit. The free tier is the number of tokens that will be subtracted from the billed amount when billing is enabled. This field can only be set on a limit with duration \"1d\", in a billable group; it is invalid on any other limit. If this field is not set, it defaults to 0, indicating that there is no free tier for this service. Used by group-based quotas only.",
          "format": "int64",
          "type": "string"
        },
        "values": {
          "description": "Tiered limit values. You must specify this as a key:value pair, with an integer value that is the maximum number of requests allowed for the specified unit. Currently only STANDARD is supported.",
          "type": "object",
          "additionalProperties": {
            "type": "string",
            "format": "int64"
          }
        },
        "maxLimit": {
          "description": "Maximum number of tokens that can be consumed during the specified duration. Client application developers can override the default limit up to this maximum. If specified, this value cannot be set to a value less than the default limit. If not specified, it is set to the default limit. To allow clients to apply overrides with no upper bound, set this to -1, indicating unlimited maximum quota. Used by group-based quotas only.",
          "format": "int64",
          "type": "string"
        },
        "displayName": {
          "description": "User-visible display name for this limit. Optional. If not set, the UI will provide a default display name based on the quota configuration. This field can be used to override the default display name generated from the configuration.",
          "type": "string"
        },
        "duration": {
          "description": "Duration of this limit in textual notation. Must be \"100s\" or \"1d\". Used by group-based quotas only.",
          "type": "string"
        },
        "metric": {
          "description": "The name of the metric this quota limit applies to. The quota limits with the same metric will be checked together during runtime. The metric must be defined within the service config.",
          "type": "string"
        }
      },
      "id": "QuotaLimit",
      "description": "`QuotaLimit` defines a specific limit that applies over a specified duration for a limit type. There can be at most one limit for a duration and limit type combination defined within a `QuotaGroup`."
    },
    "Context": {
      "type": "object",
      "id": "Context",
      "description": "`Context` defines which contexts an API requests. Example: context: rules: - selector: \"*\" requested: - google.rpc.context.ProjectContext - google.rpc.context.OriginContext The above specifies that all methods in the API request `google.rpc.context.ProjectContext` and `google.rpc.context.OriginContext`. Available context types are defined in package `google.rpc.context`. This also provides mechanism to allowlist any protobuf message extension that can be sent in grpc metadata using “x-goog-ext--bin” and “x-goog-ext--jspb” format. For example, list any service specific protobuf types that can appear in grpc metadata as follows in your yaml file: Example: context: rules: - selector: \"google.example.library.v1.LibraryService.CreateBook\" allowed_request_extensions: - google.foo.v1.NewExtension allowed_response_extensions: - google.foo.v1.NewExtension You can also specify extension ID instead of fully qualified extension name here.",
      "properties": {
        "rules": {
          "description": "A list of RPC context rules that apply to individual API methods. **NOTE:** All service configuration rules follow \"last one wins\" order.",
          "items": {
            "$ref": "ContextRule"
          },
          "type": "array"
        }
      }
    },
    "ListDnsRecordSetsResponse": {
      "type": "object",
      "properties": {
        "dnsRecordSets": {
          "type": "array",
          "description": "DNS record Set Resource",
          "items": {
            "$ref": "DnsRecordSet"
          }
        }
      },
      "id": "ListDnsRecordSetsResponse",
      "description": "Represents all DNS RecordSets associated with the producer network"
    },
    "AddDnsZoneRequest": {
      "type": "object",
      "id": "AddDnsZoneRequest",
      "description": "Request to add a private managed DNS zone in the shared producer host project and a matching DNS peering zone in the consumer project.",
      "properties": {
        "dnsSuffix": {
          "description": "Required. The DNS name suffix for the zones e.g. `example.com.`. Cloud DNS requires that a DNS suffix ends with a trailing dot.",
          "type": "string"
        },
        "consumerNetwork": {
          "description": "Required. The network that the consumer is using to connect with services. Must be in the form of projects/{project}/global/networks/{network} {project} is the project number, as in '12345' {network} is the network name.",
          "type": "string"
        },
        "name": {
          "description": "Required. The name for both the private zone in the shared producer host project and the peering zone in the consumer project. Must be unique within both projects. The name must be 1-63 characters long, must begin with a letter, end with a letter or digit, and only contain lowercase letters, digits or dashes.",
          "type": "string"
        }
      }
    },
    "Documentation": {
      "type": "object",
      "properties": {
        "additionalIamInfo": {
          "description": "Optional information about the IAM configuration. This is typically used to link to documentation about a product's IAM roles and permissions.",
          "type": "string"
        },
        "rules": {
          "type": "array",
          "description": "A list of documentation rules that apply to individual API elements. **NOTE:** All service configuration rules follow \"last one wins\" order.",
          "items": {
            "$ref": "DocumentationRule"
          }
        },
        "serviceRootUrl": {
          "description": "Specifies the service root url if the default one (the service name from the yaml file) is not suitable. This can be seen in any fully specified service urls as well as sections that show a base that other urls are relative to.",
          "type": "string"
        },
        "overview": {
          "description": "Declares a single overview page. For example: documentation: summary: ... overview: (== include overview.md ==) This is a shortcut for the following declaration (using pages style): documentation: summary: ... pages: - name: Overview content: (== include overview.md ==) Note: you cannot specify both `overview` field and `pages` field.",
          "type": "string"
        },
        "pages": {
          "description": "The top level pages for the documentation set.",
          "items": {
            "$ref": "Page"
          },
          "type": "array"
        },
        "documentationRootUrl": {
          "description": "The URL to the root of documentation.",
          "type": "string"
        },
        "summary": {
          "description": "A short description of what the service does. The summary must be plain text. It becomes the overview of the service displayed in Google Cloud Console. NOTE: This field is equivalent to the standard field `description`.",
          "type": "string"
        },
        "sectionOverrides": {
          "description": "Specifies section and content to override the boilerplate content. Currently overrides following sections: 1. rest.service.client_libraries",
          "items": {
            "$ref": "Page"
          },
          "type": "array"
        }
      },
      "id": "Documentation",
      "description": "`Documentation` provides the information for describing a service. Example: documentation: summary: > The Google Calendar API gives access to most calendar features. pages: - name: Overview content: (== include google/foo/overview.md ==) - name: Tutorial content: (== include google/foo/tutorial.md ==) subpages: - name: Java content: (== include google/foo/tutorial_java.md ==) rules: - selector: google.calendar.Calendar.Get description: > ... - selector: google.calendar.Calendar.Put description: > ... Documentation is provided in markdown syntax. In addition to standard markdown features, definition lists, tables and fenced code blocks are supported. Section headers can be provided and are interpreted relative to the section nesting of the context where a documentation fragment is embedded. Documentation from the IDL is merged with documentation defined via the config at normalization time, where documentation provided by config rules overrides IDL provided. A number of constructs specific to the API platform are supported in documentation text. In order to reference a proto element, the following notation can be used: [fully.qualified.proto.name][] To override the display text used for the link, this can be used: [display text][fully.qualified.proto.name] Text can be excluded from doc using the following notation: (-- internal comment --) A few directives are available in documentation. Note that directives must appear on a single line to be properly identified. The `include` directive includes a markdown file from an external source: (== include path/to/file ==) The `resource_for` directive marks a message to be the resource of a collection in REST view. If it is not specified, tools attempt to infer the resource from the operations in a collection: (== resource_for v1.shelves.books ==) The directive `suppress_warning` does not directly affect documentation and is documented together with service config validation."
    },
    "DeletePeeredDnsDomainMetadata": {
      "type": "object",
      "id": "DeletePeeredDnsDomainMetadata",
      "description": "Metadata provided through GetOperation request for the LRO generated by DeletePeeredDnsDomain API.",
      "properties": {}
    },
    "LoggingDestination": {
      "properties": {
        "monitoredResource": {
          "description": "The monitored resource type. The type must be defined in the Service.monitored_resources section.",
          "type": "string"
        },
        "logs": {
          "description": "Names of the logs to be sent to this destination. Each name must be defined in the Service.logs section. If the log name is not a domain scoped name, it will be automatically prefixed with the service name followed by \"/\".",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "id": "LoggingDestination",
      "description": "Configuration of a specific logging destination (the producer project or the consumer project).",
      "type": "object"
    },
    "SearchRangeRequest": {
      "type": "object",
      "id": "SearchRangeRequest",
      "description": "Request to search for an unused range within allocated ranges.",
      "properties": {
        "network": {
          "description": "Required. Network name in the consumer project. This network must have been already peered with a shared VPC network using CreateConnection method. Must be in a form 'projects/{project}/global/networks/{network}'. {project} is a project number, as in '12345' {network} is network name.",
          "type": "string"
        },
        "ipPrefixLength": {
          "type": "integer",
          "description": "Required. The prefix length of the IP range. Use usual CIDR range notation. For example, '30' to find unused x.x.x.x/30 CIDR range. Actual range will be determined using allocated range for the consumer peered network and returned in the result.",
          "format": "int32"
        }
      }
    },
    "Endpoint": {
      "id": "Endpoint",
      "description": "`Endpoint` describes a network address of a service that serves a set of APIs. It is commonly known as a service endpoint. A service may expose any number of service endpoints, and all service endpoints share the same service definition, such as quota limits and monitoring metrics. Example: type: google.api.Service name: library-example.googleapis.com endpoints: # Declares network address `https://library-example.googleapis.com` # for service `library-example.googleapis.com`. The `https` scheme # is implicit for all service endpoints. Other schemes may be # supported in the future. - name: library-example.googleapis.com allow_cors: false - name: content-staging-library-example.googleapis.com # Allows HTTP OPTIONS calls to be passed to the API frontend, for it # to decide whether the subsequent cross-origin request is allowed # to proceed. allow_cors: true",
      "properties": {
        "allowCors": {
          "description": "Allowing [CORS](https://en.wikipedia.org/wiki/Cross-origin_resource_sharing), aka cross-domain traffic, would allow the backends served from this endpoint to receive and respond to HTTP OPTIONS requests. The response will be used by the browser to determine whether the subsequent cross-origin request is allowed to proceed.",
          "type": "boolean"
        },
        "name": {
          "description": "The canonical name of this endpoint.",
          "type": "string"
        },
        "aliases": {
          "description": "Aliases for this endpoint, these will be served by the same UrlMap as the parent endpoint, and will be provisioned in the GCP stack for the Regional Endpoints.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "target": {
          "description": "The specification of an Internet routable address of API frontend that will handle requests to this [API Endpoint](https://cloud.google.com/apis/design/glossary). It should be either a valid IPv4 address or a fully-qualified domain name. For example, \"8.8.8.8\" or \"myservice.appspot.com\".",
          "type": "string"
        }
      },
      "type": "object"
    },
    "LogDescriptor": {
      "type": "object",
      "id": "LogDescriptor",
      "description": "A description of a log type. Example in YAML format: - name: library.googleapis.com/activity_history description: The history of borrowing and returning library items. display_name: Activity labels: - key: /customer_id description: Identifier of a library customer",
      "properties": {
        "name": {
          "description": "The name of the log. It must be less than 512 characters long and can include the following characters: upper- and lower-case alphanumeric characters [A-Za-z0-9], and punctuation characters including slash, underscore, hyphen, period [/_-.].",
          "type": "string"
        },
        "description": {
          "description": "A human-readable description of this log. This information appears in the documentation and can contain details.",
          "type": "string"
        },
        "labels": {
          "description": "The set of labels that are available to describe a specific log entry. Runtime requests that contain labels not specified here are considered invalid.",
          "items": {
            "$ref": "LabelDescriptor"
          },
          "type": "array"
        },
        "displayName": {
          "description": "The human-readable name for this log. This information appears on the user interface and should be concise.",
          "type": "string"
        }
      }
    },
    "MethodSettings": {
      "type": "object",
      "properties": {
        "autoPopulatedFields": {
          "description": "List of top-level fields of the request message, that should be automatically populated by the client libraries based on their (google.api.field_info).format. Currently supported format: UUID4. Example of a YAML configuration: publishing: method_settings: - selector: google.example.v1.ExampleService.CreateExample auto_populated_fields: - request_id",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "selector": {
          "description": "The fully qualified name of the method, for which the options below apply. This is used to find the method to apply the options. Example: publishing: method_settings: - selector: google.storage.control.v2.StorageControl.CreateFolder # method settings for CreateFolder...",
          "type": "string"
        },
        "longRunning": {
          "description": "Describes settings to use for long-running operations when generating API methods for RPCs. Complements RPCs that use the annotations in google/longrunning/operations.proto. Example of a YAML configuration:: publishing: method_settings: - selector: google.cloud.speech.v2.Speech.BatchRecognize long_running: initial_poll_delay: 60s # 1 minute poll_delay_multiplier: 1.5 max_poll_delay: 360s # 6 minutes total_poll_timeout: 54000s # 90 minutes",
          "$ref": "LongRunning"
        },
        "batching": {
          "description": "Batching configuration for an API method in client libraries. Example of a YAML configuration: publishing: method_settings: - selector: google.example.v1.ExampleService.BatchCreateExample batching: element_count_threshold: 1000 request_byte_threshold: 100000000 delay_threshold_millis: 10",
          "$ref": "BatchingConfigProto"
        }
      },
      "id": "MethodSettings",
      "description": "Describes the generator configuration for a method."
    },
    "BatchingSettingsProto": {
      "properties": {
        "flowControlElementLimit": {
          "type": "integer",
          "description": "The maximum number of elements allowed by flow control.",
          "format": "int32"
        },
        "flowControlLimitExceededBehavior": {
          "enumDescriptions": [
            "Default behavior, system-defined.",
            "Stop operation, raise error.",
            "Pause operation until limit clears.",
            "Continue operation, disregard limit."
          ],
          "description": "The behavior to take when the flow control limit is exceeded.",
          "type": "string",
          "enum": [
            "UNSET_BEHAVIOR",
            "THROW_EXCEPTION",
            "BLOCK",
            "IGNORE"
          ]
        },
        "requestByteThreshold": {
          "type": "string",
          "description": "The aggregated size of the batched field which, if exceeded, causes the batch to be sent. This size is computed by aggregating the sizes of the request field to be batched, not of the entire request message.",
          "format": "int64"
        },
        "elementCountThreshold": {
          "description": "The number of elements of a field collected into a batch which, if exceeded, causes the batch to be sent.",
          "format": "int32",
          "type": "integer"
        },
        "delayThreshold": {
          "description": "The duration after which a batch should be sent, starting from the addition of the first message to that batch.",
          "format": "google-duration",
          "type": "string"
        },
        "flowControlByteLimit": {
          "type": "integer",
          "description": "The maximum size of data allowed by flow control.",
          "format": "int32"
        },
        "elementCountLimit": {
          "type": "integer",
          "description": "The maximum number of elements collected in a batch that could be accepted by server.",
          "format": "int32"
        },
        "requestByteLimit": {
          "type": "integer",
          "description": "The maximum size of the request that could be accepted by server.",
          "format": "int32"
        }
      },
      "id": "BatchingSettingsProto",
      "description": "`BatchingSettingsProto` specifies a set of batching thresholds, each of which acts as a trigger to send a batch of messages as a request. At least one threshold must be positive nonzero.",
      "type": "object"
    },
    "ClientLibrarySettings": {
      "properties": {
        "javaSettings": {
          "description": "Settings for legacy Java features, supported in the Service YAML.",
          "$ref": "JavaSettings"
        },
        "goSettings": {
          "$ref": "GoSettings",
          "description": "Settings for Go client libraries."
        },
        "launchStage": {
          "description": "Launch stage of this version of the API.",
          "enumDescriptions": [
            "Do not use this default value.",
            "The feature is not yet implemented. Users can not use it.",
            "Prelaunch features are hidden from users and are only visible internally.",
            "Early Access features are limited to a closed group of testers. To use these features, you must sign up in advance and sign a Trusted Tester agreement (which includes confidentiality provisions). These features may be unstable, changed in backward-incompatible ways, and are not guaranteed to be released.",
            "Alpha is a limited availability test for releases before they are cleared for widespread use. By Alpha, all significant design issues are resolved and we are in the process of verifying functionality. Alpha customers need to apply for access, agree to applicable terms, and have their projects allowlisted. Alpha releases don't have to be feature complete, no SLAs are provided, and there are no technical support obligations, but they will be far enough along that customers can actually use them in test environments or for limited-use tests -- just like they would in normal production cases.",
            "Beta is the point at which we are ready to open a release for any customer to use. There are no SLA or technical support obligations in a Beta release. Products will be complete from a feature perspective, but may have some open outstanding issues. Beta releases are suitable for limited production use cases.",
            "GA features are open to all developers and are considered stable and fully qualified for production use.",
            "Deprecated features are scheduled to be shut down and removed. For more information, see the \"Deprecation Policy\" section of our [Terms of Service](https://cloud.google.com/terms/) and the [Google Cloud Platform Subject to the Deprecation Policy](https://cloud.google.com/terms/deprecation) documentation."
          ],
          "type": "string",
          "enum": [
            "LAUNCH_STAGE_UNSPECIFIED",
            "UNIMPLEMENTED",
            "PRELAUNCH",
            "EARLY_ACCESS",
            "ALPHA",
            "BETA",
            "GA",
            "DEPRECATED"
          ]
        },
        "phpSettings": {
          "$ref": "PhpSettings",
          "description": "Settings for PHP client libraries."
        },
        "nodeSettings": {
          "$ref": "NodeSettings",
          "description": "Settings for Node client libraries."
        },
        "pythonSettings": {
          "$ref": "PythonSettings",
          "description": "Settings for Python client libraries."
        },
        "cppSettings": {
          "$ref": "CppSettings",
          "description": "Settings for C++ client libraries."
        },
        "restNumericEnums": {
          "description": "When using transport=rest, the client request will encode enums as numbers rather than strings.",
          "type": "boolean"
        },
        "dotnetSettings": {
          "description": "Settings for .NET client libraries.",
          "$ref": "DotnetSettings"
        },
        "rubySettings": {
          "$ref": "RubySettings",
          "description": "Settings for Ruby client libraries."
        },
        "version": {
          "description": "Version of the API to apply these settings to. This is the full protobuf package for the API, ending in the version element. Examples: \"google.cloud.speech.v1\" and \"google.spanner.admin.database.v1\".",
          "type": "string"
        }
      },
      "id": "ClientLibrarySettings",
      "description": "Details about how and where to publish client libraries.",
      "type": "object"
    },
    "Quota": {
      "id": "Quota",
      "description": "Quota configuration helps to achieve fairness and budgeting in service usage. The metric based quota configuration works this way: - The service configuration defines a set of metrics. - For API calls, the quota.metric_rules maps methods to metrics with corresponding costs. - The quota.limits defines limits on the metrics, which will be used for quota checks at runtime. An example quota configuration in yaml format: quota: limits: - name: apiWriteQpsPerProject metric: library.googleapis.com/write_calls unit: \"1/min/{project}\" # rate limit for consumer projects values: STANDARD: 10000 (The metric rules bind all methods to the read_calls metric, except for the UpdateBook and DeleteBook methods. These two methods are mapped to the write_calls metric, with the UpdateBook method consuming at twice rate as the DeleteBook method.) metric_rules: - selector: \"*\" metric_costs: library.googleapis.com/read_calls: 1 - selector: google.example.library.v1.LibraryService.UpdateBook metric_costs: library.googleapis.com/write_calls: 2 - selector: google.example.library.v1.LibraryService.DeleteBook metric_costs: library.googleapis.com/write_calls: 1 Corresponding Metric definition: metrics: - name: library.googleapis.com/read_calls display_name: Read requests metric_kind: DELTA value_type: INT64 - name: library.googleapis.com/write_calls display_name: Write requests metric_kind: DELTA value_type: INT64 ",
      "properties": {
        "limits": {
          "description": "List of QuotaLimit definitions for the service.",
          "items": {
            "$ref": "QuotaLimit"
          },
          "type": "array"
        },
        "metricRules": {
          "type": "array",
          "description": "List of MetricRule definitions, each one mapping a selected method to one or more metrics.",
          "items": {
            "$ref": "MetricRule"
          }
        }
      },
      "type": "object"
    },
    "AddDnsRecordSetRequest": {
      "type": "object",
      "id": "AddDnsRecordSetRequest",
      "description": "Request to add a record set to a private managed DNS zone in the shared producer host project.",
      "properties": {
        "dnsRecordSet": {
          "$ref": "DnsRecordSet",
          "description": "Required. The DNS record set to add."
        },
        "consumerNetwork": {
          "description": "Required. The network that the consumer is using to connect with services. Must be in the form of projects/{project}/global/networks/{network} {project} is the project number, as in '12345' {network} is the network name.",
          "type": "string"
        },
        "zone": {
          "description": "Required. The name of the private DNS zone in the shared producer host project to which the record set will be added.",
          "type": "string"
        }
      }
    },
    "EnumValue": {
      "id": "EnumValue",
      "description": "Enum value definition. New usages of this message as an alternative to EnumValueDescriptorProto are strongly discouraged. This message does not reliability preserve all information necessary to model the schema and preserve semantics. Instead make use of FileDescriptorSet which preserves the necessary information.",
      "properties": {
        "name": {
          "description": "Enum value name.",
          "type": "string"
        },
        "options": {
          "description": "Protocol buffer options.",
          "items": {
            "$ref": "Option"
          },
          "type": "array"
        },
        "number": {
          "description": "Enum value number.",
          "format": "int32",
          "type": "integer"
        }
      },
      "type": "object"
    },
    "CustomError": {
      "type": "object",
      "id": "CustomError",
      "description": "Customize service error responses. For example, list any service specific protobuf types that can appear in error detail lists of error responses. Example: custom_error: types: - google.foo.v1.CustomError - google.foo.v1.AnotherError",
      "properties": {
        "rules": {
          "description": "The list of custom error rules that apply to individual API messages. **NOTE:** All service configuration rules follow \"last one wins\" order.",
          "items": {
            "$ref": "CustomErrorRule"
          },
          "type": "array"
        },
        "types": {
          "type": "array",
          "description": "The list of custom error detail types, e.g. 'google.foo.v1.CustomError'.",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "PeeredDnsDomain": {
      "type": "object",
      "properties": {
        "dnsSuffix": {
          "description": "The DNS domain name suffix e.g. `example.com.`. Cloud DNS requires that a DNS suffix ends with a trailing dot.",
          "type": "string"
        },
        "name": {
          "description": "Required. User assigned name for this resource. Must be unique within the consumer network. The name must be 1-63 characters long, must begin with a letter, end with a letter or digit, and only contain lowercase letters, digits or dashes.",
          "type": "string"
        }
      },
      "id": "PeeredDnsDomain",
      "description": "DNS domain suffix for which requests originating in the producer VPC network are resolved in the associated consumer VPC network."
    },
    "DnsZonePair": {
      "type": "object",
      "properties": {
        "consumerPeeringZone": {
          "description": "The DNS peering zone in the consumer project.",
          "$ref": "DnsZone"
        },
        "producerPrivateZone": {
          "$ref": "DnsZone",
          "description": "The private DNS zone in the shared producer host project."
        }
      },
      "id": "DnsZonePair",
      "description": "* Represents a pair of private and peering DNS zone resources. *"
    },
    "SecondaryIpRangeSpec": {
      "properties": {
        "requestedAddress": {
          "description": "Optional. The starting address of a range. The address must be a valid IPv4 address in the x.x.x.x format. This value combined with the IP prefix range is the CIDR range for the secondary IP range. The range must be within the allocated range that is assigned to the private connection. If the CIDR range isn't available, the call fails.",
          "type": "string"
        },
        "outsideAllocationPublicIpRange": {
          "description": "Optional. Enable outside allocation using public IP addresses. Any public IP range may be specified. If this field is provided, we will not use customer reserved ranges for this secondary IP range.",
          "type": "string"
        },
        "rangeName": {
          "description": "Required. A name for the secondary IP range. The name must be 1-63 characters long, and comply with RFC1035. The name must be unique within the subnetwork.",
          "type": "string"
        },
        "ipPrefixLength": {
          "type": "integer",
          "description": "Required. The prefix length of the secondary IP range. Use CIDR range notation, such as `30` to provision a secondary IP range with an `x.x.x.x/30` CIDR range. The IP address range is drawn from a pool of available ranges in the service consumer's allocated range.",
          "format": "int32"
        }
      },
      "id": "SecondaryIpRangeSpec",
      "type": "object"
    },
    "RangeReservation": {
      "type": "object",
      "properties": {
        "subnetworkCandidates": {
          "description": "Optional. List of subnetwork candidates to validate. The required input fields are `name`, `network`, and `region`. Subnetworks from this list which exist will be returned in the response with the `ip_cidr_range`, `secondary_ip_cider_ranges`, and `outside_allocation` fields set.",
          "items": {
            "$ref": "Subnetwork"
          },
          "type": "array"
        },
        "ipPrefixLength": {
          "description": "Required. The size of the desired subnet. Use usual CIDR range notation. For example, '29' to find unused x.x.x.x/29 CIDR range. The goal is to determine if one of the allocated ranges has enough free space for a subnet of the requested size. GCE disallows subnets with prefix_length > 29",
          "format": "int32",
          "type": "integer"
        },
        "secondaryRangeIpPrefixLengths": {
          "description": "Optional. The size of the desired secondary ranges for the subnet. Use usual CIDR range notation. For example, '29' to find unused x.x.x.x/29 CIDR range. The goal is to determine that the allocated ranges have enough free space for all the requested secondary ranges. GCE disallows subnets with prefix_length > 29",
          "items": {
            "type": "integer",
            "format": "int32"
          },
          "type": "array"
        },
        "requestedRanges": {
          "description": "Optional. The name of one or more allocated IP address ranges associated with this private service access connection. If no range names are provided all ranges associated with this connection will be considered. If a CIDR range with the specified IP prefix length is not available within these ranges the validation fails.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "id": "RangeReservation",
      "description": "Represents a range reservation."
    },
    "SystemParameterRule": {
      "type": "object",
      "properties": {
        "parameters": {
          "type": "array",
          "description": "Define parameters. Multiple names may be defined for a parameter. For a given method call, only one of them should be used. If multiple names are used the behavior is implementation-dependent. If none of the specified names are present the behavior is parameter-dependent.",
          "items": {
            "$ref": "SystemParameter"
          }
        },
        "selector": {
          "description": "Selects the methods to which this rule applies. Use '*' to indicate all methods in all APIs. Refer to selector for syntax details.",
          "type": "string"
        }
      },
      "id": "SystemParameterRule",
      "description": "Define a system parameter rule mapping system parameter definitions to methods."
    },
    "PartialDeleteConnectionMetadata": {
      "properties": {},
      "id": "PartialDeleteConnectionMetadata",
      "description": "Metadata provided through GetOperation request for the LRO generated by Partial Delete Connection API",
      "type": "object"
    },
    "PythonSettings": {
      "properties": {
        "experimentalFeatures": {
          "description": "Experimental features to be included during client library generation.",
          "$ref": "ExperimentalFeatures"
        },
        "common": {
          "$ref": "CommonLanguageSettings",
          "description": "Some settings."
        }
      },
      "id": "PythonSettings",
      "description": "Settings for Python client libraries.",
      "type": "object"
    },
    "CustomErrorRule": {
      "type": "object",
      "id": "CustomErrorRule",
      "description": "A custom error rule.",
      "properties": {
        "selector": {
          "description": "Selects messages to which this rule applies. Refer to selector for syntax details.",
          "type": "string"
        },
        "isErrorType": {
          "description": "Mark this message as possible payload in error response. Otherwise, objects of this type will be filtered when they appear in error payload.",
          "type": "boolean"
        }
      }
    },
    "RemoveDnsZoneMetadata": {
      "type": "object",
      "properties": {},
      "id": "RemoveDnsZoneMetadata",
      "description": "Metadata provided through GetOperation request for the LRO generated by RemoveDnsZone API"
    },
    "LabelDescriptor": {
      "type": "object",
      "properties": {
        "description": {
          "description": "A human-readable description for the label.",
          "type": "string"
        },
        "key": {
          "description": "The label key.",
          "type": "string"
        },
        "valueType": {
          "enumDescriptions": [
            "A variable-length string. This is the default.",
            "Boolean; true or false.",
            "A 64-bit signed integer."
          ],
          "description": "The type of data that can be assigned to the label.",
          "type": "string",
          "enum": [
            "STRING",
            "BOOL",
            "INT64"
          ]
        }
      },
      "id": "LabelDescriptor",
      "description": "A description of a label."
    },
    "DotnetSettings": {
      "properties": {
        "renamedServices": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Map from original service names to renamed versions. This is used when the default generated types would cause a naming conflict. (Neither name is fully-qualified.) Example: Subscriber to SubscriberServiceApi."
        },
        "ignoredResources": {
          "description": "List of full resource types to ignore during generation. This is typically used for API-specific Location resources, which should be handled by the generator as if they were actually the common Location resources. Example entry: \"documentai.googleapis.com/Location\"",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "handwrittenSignatures": {
          "description": "Method signatures (in the form \"service.method(signature)\") which are provided separately, so shouldn't be generated. Snippets *calling* these methods are still generated, however.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "renamedResources": {
          "description": "Map from full resource types to the effective short name for the resource. This is used when otherwise resource named from different services would cause naming collisions. Example entry: \"datalabeling.googleapis.com/Dataset\": \"DataLabelingDataset\"",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "common": {
          "$ref": "CommonLanguageSettings",
          "description": "Some settings."
        },
        "forcedNamespaceAliases": {
          "type": "array",
          "description": "Namespaces which must be aliased in snippets due to a known (but non-generator-predictable) naming collision",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "DotnetSettings",
      "description": "Settings for Dotnet client libraries.",
      "type": "object"
    },
    "Authentication": {
      "type": "object",
      "properties": {
        "rules": {
          "type": "array",
          "description": "A list of authentication rules that apply to individual API methods. **NOTE:** All service configuration rules follow \"last one wins\" order.",
          "items": {
            "$ref": "AuthenticationRule"
          }
        },
        "providers": {
          "type": "array",
          "description": "Defines a set of authentication providers that a service supports.",
          "items": {
            "$ref": "AuthProvider"
          }
        }
      },
      "id": "Authentication",
      "description": "`Authentication` defines the authentication configuration for API methods provided by an API service. Example: name: calendar.googleapis.com authentication: providers: - id: google_calendar_auth jwks_uri: https://www.googleapis.com/oauth2/v1/certs issuer: https://securetoken.google.com rules: - selector: \"*\" requirements: provider_id: google_calendar_auth - selector: google.calendar.Delegate oauth: canonical_scopes: https://www.googleapis.com/auth/calendar.read"
    },
    "LongRunning": {
      "properties": {
        "initialPollDelay": {
          "type": "string",
          "description": "Initial delay after which the first poll request will be made. Default value: 5 seconds.",
          "format": "google-duration"
        },
        "maxPollDelay": {
          "description": "Maximum time between two subsequent poll requests. Default value: 45 seconds.",
          "format": "google-duration",
          "type": "string"
        },
        "totalPollTimeout": {
          "type": "string",
          "description": "Total polling timeout. Default value: 5 minutes.",
          "format": "google-duration"
        },
        "pollDelayMultiplier": {
          "description": "Multiplier to gradually increase delay between subsequent polls until it reaches max_poll_delay. Default value: 1.5.",
          "format": "float",
          "type": "number"
        }
      },
      "id": "LongRunning",
      "description": "Describes settings to use when generating API methods that use the long-running operation pattern. All default values below are from those used in the client library generators (e.g. [Java](https://github.com/googleapis/gapic-generator-java/blob/04c2faa191a9b5a10b92392fe8482279c4404803/src/main/java/com/google/api/generator/gapic/composer/common/RetrySettingsComposer.java)).",
      "type": "object"
    },
    "AddRolesResponse": {
      "type": "object",
      "id": "AddRolesResponse",
      "description": "Represents IAM roles added to the shared VPC host project.",
      "properties": {
        "policyBinding": {
          "description": "Required. List of policy bindings that were added to the shared VPC host project.",
          "items": {
            "$ref": "PolicyBinding"
          },
          "type": "array"
        }
      }
    },
    "ExperimentalFeatures": {
      "id": "ExperimentalFeatures",
      "description": "Experimental features to be included during client library generation. These fields will be deprecated once the feature graduates and is enabled by default.",
      "properties": {
        "restAsyncIoEnabled": {
          "description": "Enables generation of asynchronous REST clients if `rest` transport is enabled. By default, asynchronous REST clients will not be generated. This feature will be enabled by default 1 month after launching the feature in preview packages.",
          "type": "boolean"
        },
        "protobufPythonicTypesEnabled": {
          "description": "Enables generation of protobuf code using new types that are more Pythonic which are included in `protobuf>=5.29.x`. This feature will be enabled by default 1 month after launching the feature in preview packages.",
          "type": "boolean"
        },
        "unversionedPackageDisabled": {
          "description": "Disables generation of an unversioned Python package for this client library. This means that the module names will need to be versioned in import statements. For example `import google.cloud.library_v2` instead of `import google.cloud.library`.",
          "type": "boolean"
        }
      },
      "type": "object"
    },
    "ListOperationsResponse": {
      "type": "object",
      "id": "ListOperationsResponse",
      "description": "The response message for Operations.ListOperations.",
      "properties": {
        "unreachable": {
          "type": "array",
          "description": "Unordered list. Unreachable resources. Populated when the request sets `ListOperationsRequest.return_partial_success` and reads across collections. For example, when attempting to list all resources across all supported locations.",
          "items": {
            "type": "string"
          }
        },
        "operations": {
          "description": "A list of operations that matches the specified filter in the request.",
          "items": {
            "$ref": "Operation"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        }
      }
    },
    "Backend": {
      "type": "object",
      "properties": {
        "rules": {
          "type": "array",
          "description": "A list of API backend rules that apply to individual API methods. **NOTE:** All service configuration rules follow \"last one wins\" order.",
          "items": {
            "$ref": "BackendRule"
          }
        }
      },
      "id": "Backend",
      "description": "`Backend` defines the backend configuration for a service."
    },
    "CloudSQLConfig": {
      "type": "object",
      "id": "CloudSQLConfig",
      "description": "Cloud SQL configuration.",
      "properties": {
        "umbrellaNetwork": {
          "description": "Required. The name of the umbrella network in the Cloud SQL umbrella project.",
          "type": "string"
        },
        "service": {
          "description": "Required. Peering service used for peering with the Cloud SQL project.",
          "type": "string"
        },
        "umbrellaProject": {
          "type": "string",
          "description": "Required. The project number of the Cloud SQL umbrella project.",
          "format": "int64"
        }
      }
    },
    "AuthProvider": {
      "id": "AuthProvider",
      "description": "Configuration for an authentication provider, including support for [JSON Web Token (JWT)](https://tools.ietf.org/html/draft-ietf-oauth-json-web-token-32).",
      "properties": {
        "jwksUri": {
          "description": "URL of the provider's public key set to validate signature of the JWT. See [OpenID Discovery](https://openid.net/specs/openid-connect-discovery-1_0.html#ProviderMetadata). Optional if the key set document: - can be retrieved from [OpenID Discovery](https://openid.net/specs/openid-connect-discovery-1_0.html) of the issuer. - can be inferred from the email domain of the issuer (e.g. a Google service account). Example: https://www.googleapis.com/oauth2/v1/certs",
          "type": "string"
        },
        "audiences": {
          "description": "The list of JWT [audiences](https://tools.ietf.org/html/draft-ietf-oauth-json-web-token-32#section-4.1.3). that are allowed to access. A JWT containing any of these audiences will be accepted. When this setting is absent, JWTs with audiences: - \"https://[service.name]/[google.protobuf.Api.name]\" - \"https://[service.name]/\" will be accepted. For example, if no audiences are in the setting, LibraryService API will accept JWTs with the following audiences: - https://library-example.googleapis.com/google.example.library.v1.LibraryService - https://library-example.googleapis.com/ Example: audiences: bookstore_android.apps.googleusercontent.com, bookstore_web.apps.googleusercontent.com",
          "type": "string"
        },
        "jwtLocations": {
          "description": "Defines the locations to extract the JWT. For now it is only used by the Cloud Endpoints to store the OpenAPI extension [x-google-jwt-locations] (https://cloud.google.com/endpoints/docs/openapi/openapi-extensions#x-google-jwt-locations) JWT locations can be one of HTTP headers, URL query parameters or cookies. The rule is that the first match wins. If not specified, default to use following 3 locations: 1) Authorization: Bearer 2) x-goog-iap-jwt-assertion 3) access_token query parameter Default locations can be specified as followings: jwt_locations: - header: Authorization value_prefix: \"Bearer \" - header: x-goog-iap-jwt-assertion - query: access_token",
          "items": {
            "$ref": "JwtLocation"
          },
          "type": "array"
        },
        "id": {
          "description": "The unique identifier of the auth provider. It will be referred to by `AuthRequirement.provider_id`. Example: \"bookstore_auth\".",
          "type": "string"
        },
        "issuer": {
          "description": "Identifies the principal that issued the JWT. See https://tools.ietf.org/html/draft-ietf-oauth-json-web-token-32#section-4.1.1 Usually a URL or an email address. Example: https://securetoken.google.com Example: 1234567-compute@developer.gserviceaccount.com",
          "type": "string"
        },
        "authorizationUrl": {
          "description": "Redirect URL if JWT token is required but not present or is expired. Implement authorizationUrl of securityDefinitions in OpenAPI spec.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "PolicyBinding": {
      "type": "object",
      "properties": {
        "role": {
          "description": "Required. Role to apply. Only allowlisted roles can be used at the specified granularity. The role must be one of the following: - 'roles/container.hostServiceAgentUser' applied on the shared VPC host project - 'roles/compute.securityAdmin' applied on the shared VPC host project - 'roles/compute.networkAdmin' applied on the shared VPC host project - 'roles/tpu.xpnAgent' applied on the shared VPC host project - 'roles/dns.admin' applied on the shared VPC host project - 'roles/logging.admin' applied on the shared VPC host project - 'roles/monitoring.viewer' applied on the shared VPC host project - 'roles/servicemanagement.quotaViewer' applied on the shared VPC host project",
          "type": "string"
        },
        "member": {
          "description": "Required. Member to bind the role with. See /iam/docs/reference/rest/v1/Policy#Binding for how to format each member. Eg. - user:myuser@mydomain.com - serviceAccount:my-service-account@app.gserviceaccount.com",
          "type": "string"
        }
      },
      "id": "PolicyBinding",
      "description": "Grouping of IAM role and IAM member."
    },
    "BatchingDescriptorProto": {
      "id": "BatchingDescriptorProto",
      "description": "`BatchingDescriptorProto` specifies the fields of the request message to be used for batching, and, optionally, the fields of the response message to be used for demultiplexing.",
      "properties": {
        "batchedField": {
          "description": "The repeated field in the request message to be aggregated by batching.",
          "type": "string"
        },
        "subresponseField": {
          "description": "Optional. When present, indicates the field in the response message to be used to demultiplex the response into multiple response messages, in correspondence with the multiple request messages originally batched together.",
          "type": "string"
        },
        "discriminatorFields": {
          "type": "array",
          "description": "A list of the fields in the request message. Two requests will be batched together only if the values of every field specified in `request_discriminator_fields` is equal between the two requests.",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object"
    },
    "Connection": {
      "type": "object",
      "id": "Connection",
      "description": "Represents a private connection resource. A private connection is implemented as a VPC Network Peering connection between a service producer's VPC network and a service consumer's VPC network.",
      "properties": {
        "network": {
          "description": "Required. The name of service consumer's VPC network that's connected with service producer network, in the following format: `projects/{project}/global/networks/{network}`. `{project}` is a project number, such as in `12345` that includes the VPC service consumer's VPC network. `{network}` is the name of the service consumer's VPC network.",
          "type": "string"
        },
        "reservedPeeringRanges": {
          "description": "The name of one or more allocated IP address ranges for this service producer of type `PEERING`. Note that invoking CreateConnection method with a different range when connection is already established will not modify already provisioned service producer subnetworks. If CreateConnection method is invoked repeatedly to reconnect when peering connection had been disconnected on the consumer side, leaving this field empty will restore previously allocated IP ranges.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "peering": {
          "description": "Output only. The name of the VPC Network Peering connection that was created by the service producer.",
          "readOnly": true,
          "type": "string"
        },
        "service": {
          "description": "Output only. The name of the peering service that's associated with this connection, in the following format: `services/{service name}`.",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "Usage": {
      "id": "Usage",
      "description": "Configuration controlling usage of a service.",
      "properties": {
        "requirements": {
          "description": "Requirements that must be satisfied before a consumer project can use the service. Each requirement is of the form /; for example 'serviceusage.googleapis.com/billing-enabled'. For Google APIs, a Terms of Service requirement must be included here. Google Cloud APIs must include \"serviceusage.googleapis.com/tos/cloud\". Other Google APIs should include \"serviceusage.googleapis.com/tos/universal\". Additional ToS can be included based on the business needs.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "producerNotificationChannel": {
          "description": "The full resource name of a channel used for sending notifications to the service producer. Google Service Management currently only supports [Google Cloud Pub/Sub](https://cloud.google.com/pubsub) as a notification channel. To use Google Cloud Pub/Sub as the channel, this must be the name of a Cloud Pub/Sub topic that uses the Cloud Pub/Sub topic name format documented in https://cloud.google.com/pubsub/docs/overview.",
          "type": "string"
        },
        "rules": {
          "type": "array",
          "description": "A list of usage rules that apply to individual API methods. **NOTE:** All service configuration rules follow \"last one wins\" order.",
          "items": {
            "$ref": "UsageRule"
          }
        }
      },
      "type": "object"
    },
    "UpdateDnsRecordSetMetadata": {
      "id": "UpdateDnsRecordSetMetadata",
      "description": "Metadata provided through GetOperation request for the LRO generated by UpdateDnsRecordSet API",
      "properties": {},
      "type": "object"
    },
    "ContextRule": {
      "id": "ContextRule",
      "description": "A context rule provides information about the context for an individual API element.",
      "properties": {
        "provided": {
          "description": "A list of full type names of provided contexts. It is used to support propagating HTTP headers and ETags from the response extension.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "selector": {
          "description": "Selects the methods to which this rule applies. Refer to selector for syntax details.",
          "type": "string"
        },
        "requested": {
          "type": "array",
          "description": "A list of full type names of requested contexts, only the requested context will be made available to the backend.",
          "items": {
            "type": "string"
          }
        },
        "allowedRequestExtensions": {
          "description": "A list of full type names or extension IDs of extensions allowed in grpc side channel from client to backend.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "allowedResponseExtensions": {
          "description": "A list of full type names or extension IDs of extensions allowed in grpc side channel from backend to client.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "AddDnsZoneMetadata": {
      "type": "object",
      "id": "AddDnsZoneMetadata",
      "description": "Metadata provided through GetOperation request for the LRO generated by AddDnsZone API",
      "properties": {}
    },
    "SelectiveGapicGeneration": {
      "id": "SelectiveGapicGeneration",
      "description": "This message is used to configure the generation of a subset of the RPCs in a service for client libraries. Note: This feature should not be used in most cases.",
      "properties": {
        "methods": {
          "description": "An allowlist of the fully qualified names of RPCs that should be included on public client surfaces.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "generateOmittedAsInternal": {
          "description": "Setting this to true indicates to the client generators that methods that would be excluded from the generation should instead be generated in a way that indicates these methods should not be consumed by end users. How this is expressed is up to individual language implementations to decide. Some examples may be: added annotations, obfuscated identifiers, or other language idiomatic patterns.",
          "type": "boolean"
        }
      },
      "type": "object"
    },
    "UpdateConsumerConfigRequest": {
      "type": "object",
      "id": "UpdateConsumerConfigRequest",
      "description": "Request to update the configuration of a service networking connection including the import/export of custom routes and subnetwork routes with public IP.",
      "properties": {
        "consumerConfig": {
          "$ref": "ConsumerConfig",
          "description": "Required. The updated peering config."
        }
      }
    },
    "RubySettings": {
      "type": "object",
      "id": "RubySettings",
      "description": "Settings for Ruby client libraries.",
      "properties": {
        "common": {
          "$ref": "CommonLanguageSettings",
          "description": "Some settings."
        }
      }
    },
    "Api": {
      "id": "Api",
      "description": "Api is a light-weight descriptor for an API Interface. Interfaces are also described as \"protocol buffer services\" in some contexts, such as by the \"service\" keyword in a .proto file, but they are different from API Services, which represent a concrete implementation of an interface as opposed to simply a description of methods and bindings. They are also sometimes simply referred to as \"APIs\" in other contexts, such as the name of this message itself. See https://cloud.google.com/apis/design/glossary for detailed terminology. New usages of this message as an alternative to ServiceDescriptorProto are strongly discouraged. This message does not reliability preserve all information necessary to model the schema and preserve semantics. Instead make use of FileDescriptorSet which preserves the necessary information.",
      "properties": {
        "edition": {
          "description": "The source edition string, only valid when syntax is SYNTAX_EDITIONS.",
          "type": "string"
        },
        "name": {
          "description": "The fully qualified name of this interface, including package name followed by the interface's simple name.",
          "type": "string"
        },
        "methods": {
          "type": "array",
          "description": "The methods of this interface, in unspecified order.",
          "items": {
            "$ref": "Method"
          }
        },
        "mixins": {
          "description": "Included interfaces. See Mixin.",
          "items": {
            "$ref": "Mixin"
          },
          "type": "array"
        },
        "options": {
          "type": "array",
          "description": "Any metadata attached to the interface.",
          "items": {
            "$ref": "Option"
          }
        },
        "version": {
          "description": "A version string for this interface. If specified, must have the form `major-version.minor-version`, as in `1.10`. If the minor version is omitted, it defaults to zero. If the entire version field is empty, the major version is derived from the package name, as outlined below. If the field is not empty, the version in the package name will be verified to be consistent with what is provided here. The versioning schema uses [semantic versioning](http://semver.org) where the major version number indicates a breaking change and the minor version an additive, non-breaking change. Both version numbers are signals to users what to expect from different versions, and should be carefully chosen based on the product plan. The major version is also reflected in the package name of the interface, which must end in `v`, as in `google.feature.v1`. For major versions 0 and 1, the suffix can be omitted. Zero major versions must only be used for experimental, non-GA interfaces. ",
          "type": "string"
        },
        "sourceContext": {
          "description": "Source context for the protocol buffer service represented by this message.",
          "$ref": "SourceContext"
        },
        "syntax": {
          "type": "string",
          "enum": [
            "SYNTAX_PROTO2",
            "SYNTAX_PROTO3",
            "SYNTAX_EDITIONS"
          ],
          "description": "The source syntax of the service.",
          "enumDescriptions": [
            "Syntax `proto2`.",
            "Syntax `proto3`.",
            "Syntax `editions`."
          ]
        }
      },
      "type": "object"
    },
    "AddSubnetworkRequest": {
      "properties": {
        "allowSubnetCidrRoutesOverlap": {
          "description": "Optional. Defines the allowSubnetCidrRoutesOverlap field of the subnet, e.g. Available in alpha and beta according to [Compute API documentation](https://cloud.google.com/compute/docs/reference/rest/beta/subnetworks/insert)",
          "type": "boolean"
        },
        "requestedRanges": {
          "description": "Optional. The name of one or more allocated IP address ranges associated with this private service access connection. If no range names are provided all ranges associated with this connection will be considered. If a CIDR range with the specified IP prefix length is not available within these ranges, the call fails.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "region": {
          "description": "Required. The name of a [region](https://cloud.google.com/compute/docs/regions-zones) for the subnet, such `europe-west1`.",
          "type": "string"
        },
        "description": {
          "description": "Optional. Description of the subnet.",
          "type": "string"
        },
        "consumer": {
          "description": "Required. A resource that represents the service consumer, such as `projects/123456`. The project number can be different from the value in the consumer network parameter. For example, the network might be part of a Shared VPC network. In those cases, Service Networking validates that this resource belongs to that Shared VPC.",
          "type": "string"
        },
        "privateIpv6GoogleAccess": {
          "description": "Optional. The private IPv6 google access type for the VMs in this subnet. For information about the access types that can be set using this field, see [subnetwork](https://cloud.google.com/compute/docs/reference/rest/v1/subnetworks) in the Compute API documentation.",
          "type": "string"
        },
        "computeIdempotencyWindow": {
          "description": "Optional. Specifies a custom time bucket for GCE subnetwork request idempotency. If two equivalent concurrent requests are made, GCE will know to ignore the request if it has already been completed or is in progress. Only requests with matching compute_idempotency_window have guaranteed idempotency. Changing this time window between requests results in undefined behavior. Zero (or empty) value with custom_compute_idempotency_window=true specifies no idempotency (i.e. no request ID is provided to GCE). Maximum value of 14 days (enforced by GCE limit).",
          "format": "google-duration",
          "type": "string"
        },
        "role": {
          "description": "Optional. Defines the role field of the subnet, e.g. 'ACTIVE'. For information about the roles that can be set using this field, see [subnetwork](https://cloud.google.com/compute/docs/reference/rest/v1/subnetworks) in the Compute API documentation.",
          "type": "string"
        },
        "consumerNetwork": {
          "description": "Required. The name of the service consumer's VPC network. The network must have an existing private connection that was provisioned through the connections.create method. The name must be in the following format: `projects/{project}/global/networks/{network}`, where {project} is a project number, such as `12345`. {network} is the name of a VPC network in the project.",
          "type": "string"
        },
        "subnetwork": {
          "description": "Required. A name for the new subnet. For information about the naming requirements, see [subnetwork](https://cloud.google.com/compute/docs/reference/rest/v1/subnetworks) in the Compute API documentation.",
          "type": "string"
        },
        "purpose": {
          "description": "Optional. Defines the purpose field of the subnet, e.g. 'PRIVATE_SERVICE_CONNECT'. For information about the purposes that can be set using this field, see [subnetwork](https://cloud.google.com/compute/docs/reference/rest/v1/subnetworks) in the Compute API documentation.",
          "type": "string"
        },
        "secondaryIpRangeSpecs": {
          "description": "Optional. A list of secondary IP ranges to be created within the new subnetwork.",
          "items": {
            "$ref": "SecondaryIpRangeSpec"
          },
          "type": "array"
        },
        "internalRange": {
          "description": "Optional. The url of an Internal Range. Eg: `projects//locations/global/internalRanges/`. If specified, it means that the subnetwork cidr will be created using the combination of requested_address/ip_prefix_length. Note that the subnet cidr has to be within the cidr range of this Internal Range.",
          "type": "string"
        },
        "useCustomComputeIdempotencyWindow": {
          "description": "Optional. Specifies if Service Networking should use a custom time bucket for GCE idempotency. If false, Service Networking uses a 300 second (5 minute) GCE idempotency window. If true, Service Networking uses a custom idempotency window provided by the user in field compute_idempotency_window.",
          "type": "boolean"
        },
        "checkServiceNetworkingUsePermission": {
          "description": "Optional. The IAM permission check determines whether the consumer project has 'servicenetworking.services.use' permission or not.",
          "type": "boolean"
        },
        "outsideAllocationPublicIpRange": {
          "description": "Optional. Enable outside allocation using public IP addresses. Any public IP range may be specified. If this field is provided, we will not use customer reserved ranges for this primary IP range.",
          "type": "string"
        },
        "subnetworkUsers": {
          "type": "array",
          "description": "A list of members that are granted the `roles/servicenetworking.subnetworkAdmin` role on the subnet.",
          "items": {
            "type": "string"
          }
        },
        "ipPrefixLength": {
          "type": "integer",
          "description": "Required. The prefix length of the subnet's IP address range. Use CIDR range notation, such as `29` to provision a subnet with an `x.x.x.x/29` CIDR range. The IP address range is drawn from a pool of available ranges in the service consumer's allocated range. GCE disallows subnets with prefix_length > 29",
          "format": "int32"
        },
        "skipRequestedAddressValidation": {
          "description": "Optional. Skips validating if the requested_address is in use by SN VPC’s peering group. Compute Engine will still perform this check and fail the request if the requested_address is in use. Note that Compute Engine does not check for the existence of dynamic routes when performing this check. Caller of this API should make sure that there are no dynamic routes overlapping with the requested_address/prefix_length IP address range otherwise the created subnet could cause misrouting.",
          "type": "boolean"
        },
        "requestedAddress": {
          "description": "Optional. The starting address of a range. The address must be a valid IPv4 address in the x.x.x.x format. This value combined with the IP prefix range is the CIDR range for the subnet. The range must be within the allocated range that is assigned to the private connection. If the CIDR range isn't available, the call fails.",
          "type": "string"
        }
      },
      "id": "AddSubnetworkRequest",
      "description": "Request to create a subnetwork in a previously peered service network.",
      "type": "object"
    },
    "CustomHttpPattern": {
      "properties": {
        "kind": {
          "description": "The name of this custom HTTP verb.",
          "type": "string"
        },
        "path": {
          "description": "The path matched by this custom verb.",
          "type": "string"
        }
      },
      "id": "CustomHttpPattern",
      "description": "A custom pattern is used for defining custom HTTP verb.",
      "type": "object"
    },
    "MonitoringDestination": {
      "type": "object",
      "properties": {
        "monitoredResource": {
          "description": "The monitored resource type. The type must be defined in Service.monitored_resources section.",
          "type": "string"
        },
        "metrics": {
          "type": "array",
          "description": "Types of the metrics to report to this monitoring destination. Each type must be defined in Service.metrics section.",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "MonitoringDestination",
      "description": "Configuration of a specific monitoring destination (the producer project or the consumer project)."
    },
    "JavaSettings": {
      "id": "JavaSettings",
      "description": "Settings for Java client libraries.",
      "properties": {
        "common": {
          "description": "Some settings.",
          "$ref": "CommonLanguageSettings"
        },
        "serviceClassNames": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Configure the Java class name to use instead of the service's for its corresponding generated GAPIC client. Keys are fully-qualified service names as they appear in the protobuf (including the full the language_settings.java.interface_names\" field in gapic.yaml. API teams should otherwise use the service name as it appears in the protobuf. Example of a YAML configuration:: publishing: java_settings: service_class_names: - google.pubsub.v1.Publisher: TopicAdmin - google.pubsub.v1.Subscriber: SubscriptionAdmin"
        },
        "libraryPackage": {
          "description": "The package name to use in Java. Clobbers the java_package option set in the protobuf. This should be used **only** by APIs who have already set the language_settings.java.package_name\" field in gapic.yaml. API teams should use the protobuf java_package option where possible. Example of a YAML configuration:: publishing: library_settings: java_settings: library_package: com.google.cloud.pubsub.v1",
          "type": "string"
        }
      },
      "type": "object"
    },
    "SourceContext": {
      "type": "object",
      "properties": {
        "fileName": {
          "description": "The path-qualified name of the .proto file that contained the associated protobuf element. For example: `\"google/protobuf/source_context.proto\"`.",
          "type": "string"
        }
      },
      "id": "SourceContext",
      "description": "`SourceContext` represents information about the source of a protobuf element, like the file in which it is defined."
    },
    "PhpSettings": {
      "type": "object",
      "properties": {
        "common": {
          "$ref": "CommonLanguageSettings",
          "description": "Some settings."
        },
        "libraryPackage": {
          "description": "The package name to use in Php. Clobbers the php_namespace option set in the protobuf. This should be used **only** by APIs who have already set the language_settings.php.package_name\" field in gapic.yaml. API teams should use the protobuf php_namespace option where possible. Example of a YAML configuration:: publishing: library_settings: php_settings: library_package: Google\\Cloud\\PubSub\\V1",
          "type": "string"
        }
      },
      "id": "PhpSettings",
      "description": "Settings for Php client libraries."
    },
    "ListDnsZonesResponse": {
      "type": "object",
      "id": "ListDnsZonesResponse",
      "description": "Represents all DNS zones in the shared producer host project and the matching peering zones in the consumer project.",
      "properties": {
        "dnsZonePairs": {
          "type": "array",
          "description": "All pairs of private DNS zones in the shared producer host project and the matching peering zones in the consumer project..",
          "items": {
            "$ref": "DnsZonePair"
          }
        }
      }
    },
    "ListPeeredDnsDomainsResponse": {
      "type": "object",
      "id": "ListPeeredDnsDomainsResponse",
      "description": "Response to list peered DNS domains for a given connection.",
      "properties": {
        "peeredDnsDomains": {
          "type": "array",
          "description": "The list of peered DNS domains.",
          "items": {
            "$ref": "PeeredDnsDomain"
          }
        }
      }
    },
    "ConsumerProject": {
      "type": "object",
      "id": "ConsumerProject",
      "description": "Represents a consumer project.",
      "properties": {
        "projectNum": {
          "description": "Required. Project number of the consumer that is launching the service instance. It can own the network that is peered with Google or, be a service project in an XPN where the host project has the network.",
          "format": "int64",
          "type": "string"
        }
      }
    },
    "UsageRule": {
      "id": "UsageRule",
      "description": "Usage configuration rules for the service.",
      "properties": {
        "skipServiceControl": {
          "description": "If true, the selected method should skip service control and the control plane features, such as quota and billing, will not be available. This flag is used by Google Cloud Endpoints to bypass checks for internal methods, such as service health check methods.",
          "type": "boolean"
        },
        "allowUnregisteredCalls": {
          "description": "Use this rule to configure unregistered calls for the service. Unregistered calls are calls that do not contain consumer project identity. (Example: calls that do not contain an API key). WARNING: By default, API methods do not allow unregistered calls, and each method call must be identified by a consumer project identity.",
          "type": "boolean"
        },
        "selector": {
          "description": "Selects the methods to which this rule applies. Use '*' to indicate all methods in all APIs. Refer to selector for syntax details.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "RemoveDnsRecordSetRequest": {
      "type": "object",
      "properties": {
        "dnsRecordSet": {
          "description": "Required. The DNS record set to remove.",
          "$ref": "DnsRecordSet"
        },
        "consumerNetwork": {
          "description": "Required. The network that the consumer is using to connect with services. Must be in the form of projects/{project}/global/networks/{network} {project} is the project number, as in '12345' {network} is the network name.",
          "type": "string"
        },
        "zone": {
          "description": "Required. The name of the private DNS zone in the shared producer host project from which the record set will be removed.",
          "type": "string"
        }
      },
      "id": "RemoveDnsRecordSetRequest",
      "description": "Request to remove a record set from a private managed DNS zone in the shared producer host project. The name, type, ttl, and data values must all exactly match an existing record set in the specified zone."
    },
    "Mixin": {
      "type": "object",
      "properties": {
        "name": {
          "description": "The fully qualified name of the interface which is included.",
          "type": "string"
        },
        "root": {
          "description": "If non-empty specifies a path under which inherited HTTP paths are rooted.",
          "type": "string"
        }
      },
      "id": "Mixin",
      "description": "Declares an API Interface to be included in this interface. The including interface must redeclare all the methods from the included interface, but documentation and options are inherited as follows: - If after comment and whitespace stripping, the documentation string of the redeclared method is empty, it will be inherited from the original method. - Each annotation belonging to the service config (http, visibility) which is not set in the redeclared method will be inherited. - If an http annotation is inherited, the path pattern will be modified as follows. Any version prefix will be replaced by the version of the including interface plus the root path if specified. Example of a simple mixin: package google.acl.v1; service AccessControl { // Get the underlying ACL object. rpc GetAcl(GetAclRequest) returns (Acl) { option (google.api.http).get = \"/v1/{resource=**}:getAcl\"; } } package google.storage.v2; service Storage { // rpc GetAcl(GetAclRequest) returns (Acl); // Get a data record. rpc GetData(GetDataRequest) returns (Data) { option (google.api.http).get = \"/v2/{resource=**}\"; } } Example of a mixin configuration: apis: - name: google.storage.v2.Storage mixins: - name: google.acl.v1.AccessControl The mixin construct implies that all methods in `AccessControl` are also declared with same name and request/response types in `Storage`. A documentation generator or annotation processor will see the effective `Storage.GetAcl` method after inheriting documentation and annotations as follows: service Storage { // Get the underlying ACL object. rpc GetAcl(GetAclRequest) returns (Acl) { option (google.api.http).get = \"/v2/{resource=**}:getAcl\"; } ... } Note how the version in the path pattern changed from `v1` to `v2`. If the `root` field in the mixin is specified, it should be a relative path under which inherited HTTP paths are placed. Example: apis: - name: google.storage.v2.Storage mixins: - name: google.acl.v1.AccessControl root: acls This implies the following inherited HTTP annotation: service Storage { // Get the underlying ACL object. rpc GetAcl(GetAclRequest) returns (Acl) { option (google.api.http).get = \"/v2/acls/{resource=**}:getAcl\"; } ... }"
    },
    "Page": {
      "type": "object",
      "properties": {
        "content": {
[...]
