{
  "version": "v4",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/spreadsheets": {
          "description": "See, edit, create, and delete all your Google Sheets spreadsheets"
        },
        "https://www.googleapis.com/auth/drive.file": {
          "description": "See, edit, create, and delete only the specific Google Drive files you use with this app"
        },
        "https://www.googleapis.com/auth/drive.readonly": {
          "description": "See and download all your Google Drive files"
        },
        "https://www.googleapis.com/auth/spreadsheets.readonly": {
          "description": "See all your Google Sheets spreadsheets"
        },
        "https://www.googleapis.com/auth/drive": {
          "description": "See, edit, create, and delete all of your Google Drive files"
        }
      }
    }
  },
  "kind": "discovery#restDescription",
  "mtlsRootUrl": "https://sheets.mtls.googleapis.com/",
  "canonicalName": "Sheets",
  "name": "sheets",
  "version_module": true,
  "servicePath": "",
  "rootUrl": "https://sheets.googleapis.com/",
  "ownerName": "Google",
  "baseUrl": "https://sheets.googleapis.com/",
  "revision": "20260930",
  "description": "Reads and writes Google Sheets.",
  "title": "Google Sheets API",
  "basePath": "",
  "discoveryVersion": "v1",
  "resources": {
    "spreadsheets": {
      "methods": {
        "getByDataFilter": {
          "parameterOrder": [
            "spreadsheetId"
          ],
          "path": "v4/spreadsheets/{spreadsheetId}:getByDataFilter",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/spreadsheets"
          ],
          "request": {
            "$ref": "GetSpreadsheetByDataFilterRequest"
          },
          "httpMethod": "POST",
          "response": {
            "$ref": "Spreadsheet"
          },
          "id": "sheets.spreadsheets.getByDataFilter",
          "description": "Returns the spreadsheet at the given ID. The caller must specify the spreadsheet ID. For more information, see [Read, write, and search metadata](https://developers.google.com/workspace/sheets/api/guides/metadata). This method differs from GetSpreadsheet in that it allows selecting which subsets of spreadsheet data to return by specifying a dataFilters parameter. Multiple DataFilters can be specified. Specifying one or more data filters returns the portions of the spreadsheet that intersect ranges matched by any of the filters. By default, data within grids is not returned. You can include grid data in one of two ways: * Specify a [field mask](https://developers.google.com/workspace/sheets/api/guides/field-masks) listing your desired fields using the `fields` URL parameter in HTTP. * Set the includeGridData parameter to `true`. If a field mask is set, the `includeGridData` parameter is ignored. For large spreadsheets, as a best practice, retrieve only the specific spreadsheet fields that you want.",
          "flatPath": "v4/spreadsheets/{spreadsheetId}:getByDataFilter",
          "parameters": {
            "spreadsheetId": {
              "type": "string",
              "description": "The spreadsheet to request.",
              "required": true,
              "location": "path"
            }
          }
        },
        "get": {
          "httpMethod": "GET",
          "flatPath": "v4/spreadsheets/{spreadsheetId}",
          "description": "Returns the spreadsheet at the given ID. The caller must specify the spreadsheet ID. By default, data within grids is not returned. You can include grid data in one of 2 ways: * Specify a [field mask](https://developers.google.com/workspace/sheets/api/guides/field-masks) listing your desired fields using the `fields` URL parameter in HTTP * Set the includeGridData URL parameter to true. If a field mask is set, the `includeGridData` parameter is ignored For large spreadsheets, as a best practice, retrieve only the specific spreadsheet fields that you want. To retrieve only subsets of spreadsheet data, use the ranges URL parameter. Ranges are specified using [A1 notation](https://developers.google.com/workspace/sheets/api/guides/concepts#cell). You can define a single cell (for example, `A1`) or multiple cells (for example, `A1:D5`). You can also get cells from other sheets within the same spreadsheet (for example, `Sheet2!A1:C4`) or retrieve multiple ranges at once (for example, `?ranges=A1:D5&ranges=Sheet2!A1:C4`). Limiting the range returns only the portions of the spreadsheet that intersect the requested ranges.",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.readonly",
            "https://www.googleapis.com/auth/spreadsheets",
            "https://www.googleapis.com/auth/spreadsheets.readonly"
          ],
          "id": "sheets.spreadsheets.get",
          "response": {
            "$ref": "Spreadsheet"
          },
          "parameters": {
            "excludeTablesInBandedRanges": {
              "type": "boolean",
              "description": "True if tables should be excluded in the banded ranges. False if not set.",
              "location": "query"
            },
            "includeGridData": {
              "description": "True if grid data should be returned. This parameter is ignored if a field mask was set in the request.",
              "location": "query",
              "type": "boolean"
            },
            "spreadsheetId": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "The spreadsheet to request."
            },
            "ranges": {
              "repeated": true,
              "description": "The ranges to retrieve from the spreadsheet.",
              "type": "string",
              "location": "query"
            },
            "commentsViewMode": {
              "enum": [
                "COMMENTS_VIEW_MODE_UNSPECIFIED",
                "COMMENTS_VIEW_MODE_DEFAULT_FOR_CURRENT_ACCESS",
                "COMMENTS_VIEW_MODE_OMITTED",
                "COMMENTS_VIEW_MODE_INCLUDED"
              ],
              "description": "The comments view mode to apply to the spreadsheet. This allows viewing the spreadsheet with comments omitted or included. If one is not specified, COMMENTS_VIEW_MODE_OMITTED is used.",
              "location": "query",
              "enumDescriptions": [
                "The CommentsViewMode is unspecified; COMMENTS_VIEW_MODE_OMITTED is applied.",
                "The CommentsViewMode applied to the returned spreadsheet depends on the user's current access level. If the user only has view access, COMMENTS_VIEW_MODE_OMITTED is applied. Otherwise, COMMENTS_VIEW_MODE_INCLUDED is applied.",
                "The returned spreadsheet has comments omitted.",
                "The returned spreadsheet has comments included. Requests to retrieve a spreadsheet using this mode will return a 403 error if the user does not have permission to view comments."
              ],
              "type": "string"
            }
          },
          "path": "v4/spreadsheets/{spreadsheetId}",
          "parameterOrder": [
            "spreadsheetId"
          ]
        },
        "create": {
          "parameters": {},
          "flatPath": "v4/spreadsheets",
          "parameterOrder": [],
          "path": "v4/spreadsheets",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/spreadsheets"
          ],
          "description": "Creates a spreadsheet, returning the newly created spreadsheet.",
          "id": "sheets.spreadsheets.create",
          "request": {
            "$ref": "Spreadsheet"
          },
          "httpMethod": "POST",
          "response": {
            "$ref": "Spreadsheet"
          }
        },
        "batchUpdate": {
          "request": {
            "$ref": "BatchUpdateSpreadsheetRequest"
          },
          "httpMethod": "POST",
          "description": "Applies one or more updates to the spreadsheet. Each request is validated before being applied. If any request is not valid then the entire request will fail and nothing will be applied. Some requests have replies to give you some information about how they are applied. The replies will mirror the requests. For example, if you applied 4 updates and the 3rd one had a reply, then the response will have 2 empty replies, the actual reply, and another empty reply, in that order. Due to the collaborative nature of spreadsheets, it is not guaranteed that the spreadsheet will reflect exactly your changes after this completes, however it is guaranteed that the updates in the request will be applied together atomically. Your changes may be altered with respect to collaborator changes. If there are no collaborators, the spreadsheet should reflect your changes.",
          "parameterOrder": [
            "spreadsheetId"
          ],
          "path": "v4/spreadsheets/{spreadsheetId}:batchUpdate",
          "flatPath": "v4/spreadsheets/{spreadsheetId}:batchUpdate",
          "id": "sheets.spreadsheets.batchUpdate",
          "response": {
            "$ref": "BatchUpdateSpreadsheetResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/spreadsheets"
          ],
          "parameters": {
            "spreadsheetId": {
              "location": "path",
              "description": "The spreadsheet to apply the updates to.",
              "type": "string",
              "required": true
            }
          }
        }
      },
      "resources": {
        "sheets": {
          "methods": {
            "copyTo": {
              "parameterOrder": [
                "spreadsheetId",
                "sheetId"
              ],
              "response": {
                "$ref": "SheetProperties"
              },
              "path": "v4/spreadsheets/{spreadsheetId}/sheets/{sheetId}:copyTo",
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/drive",
                "https://www.googleapis.com/auth/drive.file",
                "https://www.googleapis.com/auth/spreadsheets"
              ],
              "flatPath": "v4/spreadsheets/{spreadsheetId}/sheets/{sheetId}:copyTo",
              "id": "sheets.spreadsheets.sheets.copyTo",
              "parameters": {
                "sheetId": {
                  "type": "integer",
                  "location": "path",
                  "required": true,
                  "format": "int32",
                  "description": "The ID of the sheet to copy."
                },
                "spreadsheetId": {
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "description": "The ID of the spreadsheet containing the sheet to copy."
                }
              },
              "request": {
                "$ref": "CopySheetToAnotherSpreadsheetRequest"
              },
              "description": "Copies a single sheet from a spreadsheet to another spreadsheet. Returns the properties of the newly created sheet."
            }
          }
        },
        "values": {
          "methods": {
            "batchGet": {
              "description": "Returns one or more ranges of values from a spreadsheet. The caller must specify the spreadsheet ID and one or more ranges.",
              "httpMethod": "GET",
              "response": {
                "$ref": "BatchGetValuesResponse"
              },
              "path": "v4/spreadsheets/{spreadsheetId}/values:batchGet",
              "id": "sheets.spreadsheets.values.batchGet",
              "parameters": {
                "majorDimension": {
                  "type": "string",
                  "location": "query",
                  "enum": [
                    "DIMENSION_UNSPECIFIED",
                    "ROWS",
                    "COLUMNS"
                  ],
                  "enumDescriptions": [
                    "The default value, do not use.",
                    "Operates on the rows of a sheet.",
                    "Operates on the columns of a sheet."
                  ],
                  "description": "The major dimension that results should use. For example, if the spreadsheet data is: `A1=1,B1=2,A2=3,B2=4`, then requesting `ranges=[\"A1:B2\"],majorDimension=ROWS` returns `[[1,2],[3,4]]`, whereas requesting `ranges=[\"A1:B2\"],majorDimension=COLUMNS` returns `[[1,3],[2,4]]`."
                },
                "valueRenderOption": {
                  "type": "string",
                  "description": "How values should be represented in the output. The default render option is ValueRenderOption.FORMATTED_VALUE.",
                  "location": "query",
                  "enum": [
                    "FORMATTED_VALUE",
                    "UNFORMATTED_VALUE",
                    "FORMULA"
                  ],
                  "enumDescriptions": [
                    "Values will be calculated & formatted in the response according to the cell's formatting. Formatting is based on the spreadsheet's locale, not the requesting user's locale. For example, if `A1` is `1.23` and `A2` is `=A1` and formatted as currency, then `A2` would return `\"$1.23\"`.",
                    "Values will be calculated, but not formatted in the reply. For example, if `A1` is `1.23` and `A2` is `=A1` and formatted as currency, then `A2` would return the number `1.23`.",
                    "Values will not be calculated. The reply will include the formulas. For example, if `A1` is `1.23` and `A2` is `=A1` and formatted as currency, then A2 would return `\"=A1\"`. Sheets treats date and time values as decimal values. This lets you perform arithmetic on them in formulas. For more information on interpreting date and time values, see [About date & time values](https://developers.google.com/workspace/sheets/api/guides/formats#about_date_time_values)."
                  ]
                },
                "dateTimeRenderOption": {
                  "enumDescriptions": [
                    "Instructs date, time, datetime, and duration fields to be output as doubles in \"serial number\" format, as popularized by Lotus 1-2-3. The whole number portion of the value (left of the decimal) counts the days since December 30th 1899. The fractional portion (right of the decimal) counts the time as a fraction of the day. For example, January 1st 1900 at noon would be 2.5, 2 because it's 2 days after December 30th 1899, and .5 because noon is half a day. February 1st 1900 at 3pm would be 33.625. This correctly treats the year 1900 as not a leap year.",
                    "Instructs date, time, datetime, and duration fields to be output as strings in their given number format (which depends on the spreadsheet locale)."
                  ],
                  "enum": [
                    "SERIAL_NUMBER",
                    "FORMATTED_STRING"
                  ],
                  "type": "string",
                  "location": "query",
                  "description": "How dates, times, and durations should be represented in the output. This is ignored if value_render_option is FORMATTED_VALUE. The default dateTime render option is SERIAL_NUMBER."
                },
                "ranges": {
                  "location": "query",
                  "description": "The [A1 notation or R1C1 notation](https://developers.google.com/workspace/sheets/api/guides/concepts#cell) of the range to retrieve values from.",
                  "type": "string",
                  "repeated": true
                },
                "spreadsheetId": {
                  "type": "string",
                  "location": "path",
                  "description": "The ID of the spreadsheet to retrieve data from.",
                  "required": true
                }
              },
              "flatPath": "v4/spreadsheets/{spreadsheetId}/values:batchGet",
              "parameterOrder": [
                "spreadsheetId"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/drive",
                "https://www.googleapis.com/auth/drive.file",
                "https://www.googleapis.com/auth/drive.readonly",
                "https://www.googleapis.com/auth/spreadsheets",
                "https://www.googleapis.com/auth/spreadsheets.readonly"
              ]
            },
            "batchClearByDataFilter": {
              "flatPath": "v4/spreadsheets/{spreadsheetId}/values:batchClearByDataFilter",
              "path": "v4/spreadsheets/{spreadsheetId}/values:batchClearByDataFilter",
              "httpMethod": "POST",
              "id": "sheets.spreadsheets.values.batchClearByDataFilter",
              "description": "Clears one or more ranges of values from a spreadsheet. For more information, see [Read, write, and search metadata](https://developers.google.com/workspace/sheets/api/guides/metadata). The caller must specify the spreadsheet ID and one or more DataFilters. Ranges matching any of the specified data filters will be cleared. Only values are cleared -- all other properties of the cell (such as formatting, data validation, etc.) are kept.",
              "parameters": {
                "spreadsheetId": {
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "description": "The ID of the spreadsheet to update."
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/drive",
                "https://www.googleapis.com/auth/drive.file",
                "https://www.googleapis.com/auth/spreadsheets"
              ],
              "request": {
                "$ref": "BatchClearValuesByDataFilterRequest"
              },
              "response": {
                "$ref": "BatchClearValuesByDataFilterResponse"
              },
              "parameterOrder": [
                "spreadsheetId"
              ]
            },
            "clear": {
              "parameters": {
                "range": {
                  "description": "The [A1 notation or R1C1 notation](https://developers.google.com/workspace/sheets/api/guides/concepts#cell) of the values to clear.",
                  "location": "path",
                  "type": "string",
                  "required": true
                },
                "spreadsheetId": {
                  "description": "The ID of the spreadsheet to update.",
                  "location": "path",
                  "type": "string",
                  "required": true
                }
              },
              "path": "v4/spreadsheets/{spreadsheetId}/values/{range}:clear",
              "parameterOrder": [
                "spreadsheetId",
                "range"
              ],
              "response": {
                "$ref": "ClearValuesResponse"
              },
              "flatPath": "v4/spreadsheets/{spreadsheetId}/values/{range}:clear",
              "request": {
                "$ref": "ClearValuesRequest"
              },
              "scopes": [
                "https://www.googleapis.com/auth/drive",
                "https://www.googleapis.com/auth/drive.file",
                "https://www.googleapis.com/auth/spreadsheets"
              ],
              "httpMethod": "POST",
              "description": "Clears values from a spreadsheet. The caller must specify the spreadsheet ID and range. Only values are cleared -- all other properties of the cell (such as formatting, data validation, etc..) are kept.",
              "id": "sheets.spreadsheets.values.clear"
            },
            "batchUpdate": {
              "id": "sheets.spreadsheets.values.batchUpdate",
              "flatPath": "v4/spreadsheets/{spreadsheetId}/values:batchUpdate",
              "description": "Sets values in one or more ranges of a spreadsheet. The caller must specify the spreadsheet ID, a valueInputOption, and one or more ValueRanges.",
              "request": {
                "$ref": "BatchUpdateValuesRequest"
              },
              "parameters": {
                "spreadsheetId": {
                  "location": "path",
                  "required": true,
                  "description": "The ID of the spreadsheet to update.",
                  "type": "string"
                }
              },
              "response": {
                "$ref": "BatchUpdateValuesResponse"
              },
              "path": "v4/spreadsheets/{spreadsheetId}/values:batchUpdate",
              "scopes": [
                "https://www.googleapis.com/auth/drive",
                "https://www.googleapis.com/auth/drive.file",
                "https://www.googleapis.com/auth/spreadsheets"
              ],
              "httpMethod": "POST",
              "parameterOrder": [
                "spreadsheetId"
              ]
            },
            "append": {
              "parameterOrder": [
                "spreadsheetId",
                "range"
              ],
              "flatPath": "v4/spreadsheets/{spreadsheetId}/values/{range}:append",
              "parameters": {
                "responseValueRenderOption": {
                  "enum": [
                    "FORMATTED_VALUE",
                    "UNFORMATTED_VALUE",
                    "FORMULA"
                  ],
                  "location": "query",
                  "enumDescriptions": [
                    "Values will be calculated & formatted in the response according to the cell's formatting. Formatting is based on the spreadsheet's locale, not the requesting user's locale. For example, if `A1` is `1.23` and `A2` is `=A1` and formatted as currency, then `A2` would return `\"$1.23\"`.",
                    "Values will be calculated, but not formatted in the reply. For example, if `A1` is `1.23` and `A2` is `=A1` and formatted as currency, then `A2` would return the number `1.23`.",
                    "Values will not be calculated. The reply will include the formulas. For example, if `A1` is `1.23` and `A2` is `=A1` and formatted as currency, then A2 would return `\"=A1\"`. Sheets treats date and time values as decimal values. This lets you perform arithmetic on them in formulas. For more information on interpreting date and time values, see [About date & time values](https://developers.google.com/workspace/sheets/api/guides/formats#about_date_time_values)."
                  ],
                  "description": "Determines how values in the response should be rendered. The default render option is FORMATTED_VALUE.",
                  "type": "string"
                },
                "range": {
                  "description": "The [A1 notation](https://developers.google.com/workspace/sheets/api/guides/concepts#cell) of a range to search for a logical table of data. Values are appended after the last row of the table.",
                  "required": true,
                  "location": "path",
                  "type": "string"
                },
                "responseDateTimeRenderOption": {
                  "location": "query",
                  "type": "string",
                  "enum": [
                    "SERIAL_NUMBER",
                    "FORMATTED_STRING"
                  ],
                  "enumDescriptions": [
                    "Instructs date, time, datetime, and duration fields to be output as doubles in \"serial number\" format, as popularized by Lotus 1-2-3. The whole number portion of the value (left of the decimal) counts the days since December 30th 1899. The fractional portion (right of the decimal) counts the time as a fraction of the day. For example, January 1st 1900 at noon would be 2.5, 2 because it's 2 days after December 30th 1899, and .5 because noon is half a day. February 1st 1900 at 3pm would be 33.625. This correctly treats the year 1900 as not a leap year.",
                    "Instructs date, time, datetime, and duration fields to be output as strings in their given number format (which depends on the spreadsheet locale)."
                  ],
                  "description": "Determines how dates, times, and durations in the response should be rendered. This is ignored if response_value_render_option is FORMATTED_VALUE. The default dateTime render option is SERIAL_NUMBER."
                },
                "valueInputOption": {
                  "enum": [
                    "INPUT_VALUE_OPTION_UNSPECIFIED",
                    "RAW",
                    "USER_ENTERED"
                  ],
                  "description": "How the input data should be interpreted.",
                  "enumDescriptions": [
                    "Default input value. This value must not be used.",
                    "The values the user has entered will not be parsed and will be stored as-is.",
                    "The values will be parsed as if the user typed them into the UI. Numbers will stay as numbers, but strings may be converted to numbers, dates, etc. following the same rules that are applied when entering text into a cell via the Google Sheets UI."
                  ],
                  "location": "query",
                  "type": "string"
                },
                "insertDataOption": {
                  "description": "How the input data should be inserted.",
                  "type": "string",
                  "enum": [
                    "OVERWRITE",
                    "INSERT_ROWS"
                  ],
                  "location": "query",
                  "enumDescriptions": [
                    "The new data overwrites existing data in the areas it is written. (Note: adding data to the end of the sheet will still insert new rows or columns so the data can be written.)",
                    "Rows are inserted for the new data."
                  ]
                },
                "includeValuesInResponse": {
                  "type": "boolean",
                  "description": "Determines if the update response should include the values of the cells that were appended. By default, responses do not include the updated values.",
                  "location": "query"
                },
                "spreadsheetId": {
                  "description": "The ID of the spreadsheet to update.",
                  "type": "string",
                  "required": true,
                  "location": "path"
                }
              },
              "description": "Appends values to a spreadsheet. The input range is used to search for existing data and find a \"table\" within that range. Values will be appended to the next row of the table, starting with the first column of the table. See the [guide](https://developers.google.com/workspace/sheets/api/guides/values#appending_values) and [sample code](https://developers.google.com/workspace/sheets/api/samples/writing#append_values) for specific details of how tables are detected and data is appended. The caller must specify the spreadsheet ID, range, and a valueInputOption. The `valueInputOption` only controls how the input data will be added to the sheet (column-wise or row-wise), it does not influence what cell the data starts being written to.",
              "path": "v4/spreadsheets/{spreadsheetId}/values/{range}:append",
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/drive",
                "https://www.googleapis.com/auth/drive.file",
                "https://www.googleapis.com/auth/spreadsheets"
              ],
              "response": {
                "$ref": "AppendValuesResponse"
              },
              "id": "sheets.spreadsheets.values.append",
              "request": {
                "$ref": "ValueRange"
              }
            },
            "batchGetByDataFilter": {
              "httpMethod": "POST",
              "flatPath": "v4/spreadsheets/{spreadsheetId}/values:batchGetByDataFilter",
              "parameterOrder": [
                "spreadsheetId"
              ],
              "id": "sheets.spreadsheets.values.batchGetByDataFilter",
              "path": "v4/spreadsheets/{spreadsheetId}/values:batchGetByDataFilter",
              "description": "Returns one or more ranges of values that match the specified data filters. For more information, see [Read, write, and search metadata](https://developers.google.com/workspace/sheets/api/guides/metadata). The caller must specify the spreadsheet ID and one or more DataFilters. Ranges that match any of the data filters in the request will be returned.",
              "scopes": [
                "https://www.googleapis.com/auth/drive",
                "https://www.googleapis.com/auth/drive.file",
                "https://www.googleapis.com/auth/spreadsheets"
              ],
              "response": {
                "$ref": "BatchGetValuesByDataFilterResponse"
              },
              "parameters": {
                "spreadsheetId": {
                  "location": "path",
                  "description": "The ID of the spreadsheet to retrieve data from.",
                  "type": "string",
                  "required": true
                }
              },
              "request": {
                "$ref": "BatchGetValuesByDataFilterRequest"
              }
            },
            "get": {
              "httpMethod": "GET",
              "id": "sheets.spreadsheets.values.get",
              "response": {
                "$ref": "ValueRange"
              },
              "parameterOrder": [
                "spreadsheetId",
                "range"
              ],
              "flatPath": "v4/spreadsheets/{spreadsheetId}/values/{range}",
              "scopes": [
                "https://www.googleapis.com/auth/drive",
                "https://www.googleapis.com/auth/drive.file",
                "https://www.googleapis.com/auth/drive.readonly",
                "https://www.googleapis.com/auth/spreadsheets",
                "https://www.googleapis.com/auth/spreadsheets.readonly"
              ],
              "parameters": {
                "spreadsheetId": {
                  "location": "path",
                  "description": "The ID of the spreadsheet to retrieve data from.",
                  "type": "string",
                  "required": true
                },
                "valueRenderOption": {
                  "enum": [
                    "FORMATTED_VALUE",
                    "UNFORMATTED_VALUE",
                    "FORMULA"
                  ],
                  "enumDescriptions": [
                    "Values will be calculated & formatted in the response according to the cell's formatting. Formatting is based on the spreadsheet's locale, not the requesting user's locale. For example, if `A1` is `1.23` and `A2` is `=A1` and formatted as currency, then `A2` would return `\"$1.23\"`.",
                    "Values will be calculated, but not formatted in the reply. For example, if `A1` is `1.23` and `A2` is `=A1` and formatted as currency, then `A2` would return the number `1.23`.",
                    "Values will not be calculated. The reply will include the formulas. For example, if `A1` is `1.23` and `A2` is `=A1` and formatted as currency, then A2 would return `\"=A1\"`. Sheets treats date and time values as decimal values. This lets you perform arithmetic on them in formulas. For more information on interpreting date and time values, see [About date & time values](https://developers.google.com/workspace/sheets/api/guides/formats#about_date_time_values)."
                  ],
                  "location": "query",
                  "description": "How values should be represented in the output. The default render option is FORMATTED_VALUE.",
                  "type": "string"
                },
                "dateTimeRenderOption": {
                  "enum": [
                    "SERIAL_NUMBER",
                    "FORMATTED_STRING"
                  ],
                  "location": "query",
                  "description": "How dates, times, and durations should be represented in the output. This is ignored if value_render_option is FORMATTED_VALUE. The default dateTime render option is SERIAL_NUMBER.",
                  "enumDescriptions": [
                    "Instructs date, time, datetime, and duration fields to be output as doubles in \"serial number\" format, as popularized by Lotus 1-2-3. The whole number portion of the value (left of the decimal) counts the days since December 30th 1899. The fractional portion (right of the decimal) counts the time as a fraction of the day. For example, January 1st 1900 at noon would be 2.5, 2 because it's 2 days after December 30th 1899, and .5 because noon is half a day. February 1st 1900 at 3pm would be 33.625. This correctly treats the year 1900 as not a leap year.",
                    "Instructs date, time, datetime, and duration fields to be output as strings in their given number format (which depends on the spreadsheet locale)."
                  ],
                  "type": "string"
                },
                "range": {
                  "type": "string",
                  "description": "The [A1 notation or R1C1 notation](https://developers.google.com/workspace/sheets/api/guides/concepts#cell) of the range to retrieve values from.",
                  "required": true,
                  "location": "path"
                },
                "majorDimension": {
                  "description": "The major dimension that results should use. For example, if the spreadsheet data in Sheet1 is: `A1=1,B1=2,A2=3,B2=4`, then requesting `range=Sheet1!A1:B2?majorDimension=ROWS` returns `[[1,2],[3,4]]`, whereas requesting `range=Sheet1!A1:B2?majorDimension=COLUMNS` returns `[[1,3],[2,4]]`.",
                  "enum": [
                    "DIMENSION_UNSPECIFIED",
                    "ROWS",
                    "COLUMNS"
                  ],
                  "enumDescriptions": [
                    "The default value, do not use.",
                    "Operates on the rows of a sheet.",
                    "Operates on the columns of a sheet."
                  ],
                  "location": "query",
                  "type": "string"
                }
              },
              "path": "v4/spreadsheets/{spreadsheetId}/values/{range}",
              "description": "Returns a range of values from a spreadsheet. The caller must specify the spreadsheet ID and a range."
            },
            "update": {
              "request": {
                "$ref": "ValueRange"
              },
              "httpMethod": "PUT",
              "id": "sheets.spreadsheets.values.update",
              "flatPath": "v4/spreadsheets/{spreadsheetId}/values/{range}",
              "parameterOrder": [
                "spreadsheetId",
                "range"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/drive",
                "https://www.googleapis.com/auth/drive.file",
                "https://www.googleapis.com/auth/spreadsheets"
              ],
              "description": "Sets values in a range of a spreadsheet. The caller must specify the spreadsheet ID, range, and a valueInputOption.",
              "path": "v4/spreadsheets/{spreadsheetId}/values/{range}",
              "response": {
                "$ref": "UpdateValuesResponse"
              },
              "parameters": {
                "responseDateTimeRenderOption": {
                  "type": "string",
                  "description": "Determines how dates, times, and durations in the response should be rendered. This is ignored if response_value_render_option is FORMATTED_VALUE. The default dateTime render option is SERIAL_NUMBER.",
                  "enumDescriptions": [
                    "Instructs date, time, datetime, and duration fields to be output as doubles in \"serial number\" format, as popularized by Lotus 1-2-3. The whole number portion of the value (left of the decimal) counts the days since December 30th 1899. The fractional portion (right of the decimal) counts the time as a fraction of the day. For example, January 1st 1900 at noon would be 2.5, 2 because it's 2 days after December 30th 1899, and .5 because noon is half a day. February 1st 1900 at 3pm would be 33.625. This correctly treats the year 1900 as not a leap year.",
                    "Instructs date, time, datetime, and duration fields to be output as strings in their given number format (which depends on the spreadsheet locale)."
                  ],
                  "location": "query",
                  "enum": [
                    "SERIAL_NUMBER",
                    "FORMATTED_STRING"
                  ]
                },
                "spreadsheetId": {
                  "location": "path",
                  "type": "string",
                  "description": "The ID of the spreadsheet to update.",
                  "required": true
                },
                "responseValueRenderOption": {
                  "location": "query",
                  "type": "string",
                  "enumDescriptions": [
                    "Values will be calculated & formatted in the response according to the cell's formatting. Formatting is based on the spreadsheet's locale, not the requesting user's locale. For example, if `A1` is `1.23` and `A2` is `=A1` and formatted as currency, then `A2` would return `\"$1.23\"`.",
                    "Values will be calculated, but not formatted in the reply. For example, if `A1` is `1.23` and `A2` is `=A1` and formatted as currency, then `A2` would return the number `1.23`.",
                    "Values will not be calculated. The reply will include the formulas. For example, if `A1` is `1.23` and `A2` is `=A1` and formatted as currency, then A2 would return `\"=A1\"`. Sheets treats date and time values as decimal values. This lets you perform arithmetic on them in formulas. For more information on interpreting date and time values, see [About date & time values](https://developers.google.com/workspace/sheets/api/guides/formats#about_date_time_values)."
                  ],
                  "description": "Determines how values in the response should be rendered. The default render option is FORMATTED_VALUE.",
                  "enum": [
                    "FORMATTED_VALUE",
                    "UNFORMATTED_VALUE",
                    "FORMULA"
                  ]
                },
                "includeValuesInResponse": {
                  "type": "boolean",
                  "description": "Determines if the update response should include the values of the cells that were updated. By default, responses do not include the updated values. If the range to write was larger than the range actually written, the response includes all values in the requested range (excluding trailing empty rows and columns).",
                  "location": "query"
                },
                "valueInputOption": {
                  "description": "How the input data should be interpreted.",
                  "location": "query",
                  "enum": [
                    "INPUT_VALUE_OPTION_UNSPECIFIED",
                    "RAW",
                    "USER_ENTERED"
                  ],
                  "type": "string",
                  "enumDescriptions": [
                    "Default input value. This value must not be used.",
                    "The values the user has entered will not be parsed and will be stored as-is.",
                    "The values will be parsed as if the user typed them into the UI. Numbers will stay as numbers, but strings may be converted to numbers, dates, etc. following the same rules that are applied when entering text into a cell via the Google Sheets UI."
                  ]
                },
                "range": {
                  "required": true,
                  "description": "The [A1 notation](https://developers.google.com/workspace/sheets/api/guides/concepts#cell) of the values to update.",
                  "type": "string",
                  "location": "path"
                }
              }
            },
            "batchUpdateByDataFilter": {
              "parameterOrder": [
                "spreadsheetId"
              ],
              "path": "v4/spreadsheets/{spreadsheetId}/values:batchUpdateByDataFilter",
              "parameters": {
                "spreadsheetId": {
                  "type": "string",
                  "required": true,
                  "location": "path",
                  "description": "The ID of the spreadsheet to update."
                }
              },
              "response": {
                "$ref": "BatchUpdateValuesByDataFilterResponse"
              },
              "description": "Sets values in one or more ranges of a spreadsheet. For more information, see [Read, write, and search metadata](https://developers.google.com/workspace/sheets/api/guides/metadata). The caller must specify the spreadsheet ID, a valueInputOption, and one or more DataFilterValueRanges.",
              "id": "sheets.spreadsheets.values.batchUpdateByDataFilter",
              "request": {
                "$ref": "BatchUpdateValuesByDataFilterRequest"
              },
              "scopes": [
                "https://www.googleapis.com/auth/drive",
                "https://www.googleapis.com/auth/drive.file",
                "https://www.googleapis.com/auth/spreadsheets"
              ],
              "flatPath": "v4/spreadsheets/{spreadsheetId}/values:batchUpdateByDataFilter",
              "httpMethod": "POST"
            },
            "batchClear": {
              "httpMethod": "POST",
              "id": "sheets.spreadsheets.values.batchClear",
              "request": {
                "$ref": "BatchClearValuesRequest"
              },
              "scopes": [
                "https://www.googleapis.com/auth/drive",
                "https://www.googleapis.com/auth/drive.file",
                "https://www.googleapis.com/auth/spreadsheets"
              ],
              "parameterOrder": [
                "spreadsheetId"
              ],
              "response": {
                "$ref": "BatchClearValuesResponse"
              },
              "path": "v4/spreadsheets/{spreadsheetId}/values:batchClear",
              "flatPath": "v4/spreadsheets/{spreadsheetId}/values:batchClear",
              "parameters": {
                "spreadsheetId": {
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "description": "The ID of the spreadsheet to update."
                }
              },
              "description": "Clears one or more ranges of values from a spreadsheet. The caller must specify the spreadsheet ID and one or more ranges. Only values are cleared -- all other properties of the cell (such as formatting and data validation) are kept."
            }
          }
        },
        "developerMetadata": {
          "methods": {
            "get": {
              "flatPath": "v4/spreadsheets/{spreadsheetId}/developerMetadata/{metadataId}",
              "parameters": {
                "spreadsheetId": {
                  "type": "string",
                  "required": true,
                  "description": "The ID of the spreadsheet to retrieve metadata from.",
                  "location": "path"
                },
                "metadataId": {
                  "required": true,
                  "location": "path",
                  "format": "int32",
                  "type": "integer",
                  "description": "The ID of the developer metadata to retrieve."
                }
              },
              "id": "sheets.spreadsheets.developerMetadata.get",
              "scopes": [
                "https://www.googleapis.com/auth/drive",
                "https://www.googleapis.com/auth/drive.file",
                "https://www.googleapis.com/auth/spreadsheets"
              ],
              "description": "Returns the developer metadata with the specified ID. The caller must specify the spreadsheet ID and the developer metadata's unique metadataId. For more information, see [Read, write, and search metadata](https://developers.google.com/workspace/sheets/api/guides/metadata).",
              "parameterOrder": [
                "spreadsheetId",
                "metadataId"
              ],
              "httpMethod": "GET",
              "response": {
                "$ref": "DeveloperMetadata"
              },
              "path": "v4/spreadsheets/{spreadsheetId}/developerMetadata/{metadataId}"
            },
            "search": {
              "parameterOrder": [
                "spreadsheetId"
              ],
              "path": "v4/spreadsheets/{spreadsheetId}/developerMetadata:search",
              "description": "Returns all developer metadata matching the specified DataFilter. For more information, see [Read, write, and search metadata](https://developers.google.com/workspace/sheets/api/guides/metadata). If the provided DataFilter represents a DeveloperMetadataLookup object, this will return all DeveloperMetadata entries selected by it. If the DataFilter represents a location in a spreadsheet, this will return all developer metadata associated with locations intersecting that region.",
              "parameters": {
                "spreadsheetId": {
                  "location": "path",
                  "type": "string",
                  "description": "The ID of the spreadsheet to retrieve metadata from.",
                  "required": true
                }
              },
              "request": {
                "$ref": "SearchDeveloperMetadataRequest"
              },
              "response": {
                "$ref": "SearchDeveloperMetadataResponse"
              },
              "flatPath": "v4/spreadsheets/{spreadsheetId}/developerMetadata:search",
              "httpMethod": "POST",
              "id": "sheets.spreadsheets.developerMetadata.search",
              "scopes": [
                "https://www.googleapis.com/auth/drive",
                "https://www.googleapis.com/auth/drive.file",
                "https://www.googleapis.com/auth/spreadsheets"
              ]
            }
          }
        }
      }
    }
  },
  "ownerDomain": "google.com",
  "fullyEncodeReservedExpansion": true,
  "id": "sheets:v4",
  "parameters": {
    "alt": {
      "location": "query",
      "type": "string",
      "default": "json",
      "description": "Data format for response.",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "enum": [
        "json",
        "media",
        "proto"
      ]
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "type": "boolean",
      "location": "query"
    },
    "access_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth access token."
    },
    "$.xgafv": {
      "location": "query",
      "enum": [
        "1",
        "2"
      ],
      "type": "string",
      "description": "V1 error format.",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ]
    },
    "upload_protocol": {
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string",
      "location": "query"
    },
    "oauth_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth 2.0 token for the current user."
    },
    "fields": {
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string"
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    }
  },
  "batchPath": "batch",
  "schemas": {
    "IterativeCalculationSettings": {
      "id": "IterativeCalculationSettings",
      "type": "object",
      "description": "Settings to control how circular dependencies are resolved with iterative calculation.",
      "properties": {
        "maxIterations": {
          "type": "integer",
          "format": "int32",
          "description": "When iterative calculation is enabled, the maximum number of calculation rounds to perform."
        },
        "convergenceThreshold": {
          "format": "double",
          "type": "number",
          "description": "When iterative calculation is enabled and successive results differ by less than this threshold value, the calculation rounds stop."
        }
      }
    },
    "ClearBasicFilterRequest": {
      "id": "ClearBasicFilterRequest",
      "properties": {
        "sheetId": {
          "format": "int32",
          "description": "The sheet ID on which the basic filter should be cleared.",
          "type": "integer"
        }
      },
      "type": "object",
      "description": "Clears the basic filter, if any exists on the sheet."
    },
    "CutPasteRequest": {
      "id": "CutPasteRequest",
      "type": "object",
      "properties": {
        "destination": {
          "$ref": "GridCoordinate",
          "description": "The top-left coordinate where the data should be pasted."
        },
        "pasteType": {
          "description": "What kind of data to paste. All the source data will be cut, regardless of what is pasted.",
          "enum": [
            "PASTE_NORMAL",
            "PASTE_VALUES",
            "PASTE_FORMAT",
            "PASTE_NO_BORDERS",
            "PASTE_FORMULA",
            "PASTE_DATA_VALIDATION",
            "PASTE_CONDITIONAL_FORMATTING"
          ],
          "enumDescriptions": [
            "Paste values, formulas, formats, and merges.",
            "Paste the values ONLY without formats, formulas, or merges.",
            "Paste the format only, excluding data validation.",
            "Like `PASTE_NORMAL` but without borders.",
            "Paste the formulas only.",
            "Paste the data validation only.",
            "Paste the conditional formatting rules only."
          ],
          "type": "string"
        },
        "source": {
          "$ref": "GridRange",
          "description": "The source data to cut."
        }
      },
      "description": "Moves data from the source to the destination."
    },
    "TextToColumnsRequest": {
      "type": "object",
      "id": "TextToColumnsRequest",
      "description": "Splits a column of text into multiple columns, based on a delimiter in each cell.",
      "properties": {
        "source": {
          "description": "The source data range. This must span exactly one column.",
          "$ref": "GridRange"
        },
        "delimiter": {
          "type": "string",
          "description": "The delimiter to use. Used only if delimiterType is CUSTOM."
        },
        "delimiterType": {
          "type": "string",
          "enumDescriptions": [
            "Default value. This value must not be used.",
            "\",\"",
            "\";\"",
            "\".\"",
            "\" \"",
            "A custom value as defined in delimiter.",
            "Automatically detect columns."
          ],
          "description": "The delimiter type to use.",
          "enum": [
            "DELIMITER_TYPE_UNSPECIFIED",
            "COMMA",
            "SEMICOLON",
            "PERIOD",
            "SPACE",
            "CUSTOM",
            "AUTODETECT"
          ]
        }
      }
    },
    "UpdateDeveloperMetadataRequest": {
      "id": "UpdateDeveloperMetadataRequest",
      "properties": {
        "developerMetadata": {
          "description": "The value that all metadata matched by the data filters will be updated to.",
          "$ref": "DeveloperMetadata"
        },
        "dataFilters": {
          "type": "array",
          "items": {
            "$ref": "DataFilter"
          },
          "description": "The filters matching the developer metadata entries to update."
        },
        "fields": {
          "type": "string",
          "format": "google-fieldmask",
          "description": "The fields that should be updated. At least one field must be specified. The root `developerMetadata` is implied and should not be specified. A single `\"*\"` can be used as short-hand for listing every field."
        }
      },
      "description": "A request to update properties of developer metadata. Updates the properties of the developer metadata selected by the filters to the values provided in the DeveloperMetadata resource. Callers must specify the properties they wish to update in the fields parameter, as well as specify at least one DataFilter matching the metadata they wish to update.",
      "type": "object"
    },
    "BandingProperties": {
      "id": "BandingProperties",
      "type": "object",
      "properties": {
        "footerColorStyle": {
          "description": "The color of the last row or column. If this field is not set, the last row or column is filled with either first_band_color or second_band_color, depending on the color of the previous row or column. If footer_color is also set, this field takes precedence.",
          "$ref": "ColorStyle"
        },
        "secondBandColorStyle": {
          "$ref": "ColorStyle",
          "description": "The second color that is alternating. (Required) If second_band_color is also set, this field takes precedence."
        },
        "headerColorStyle": {
          "$ref": "ColorStyle",
          "description": "The color of the first row or column. If this field is set, the first row or column is filled with this color and the colors alternate between first_band_color and second_band_color starting from the second row or column. Otherwise, the first row or column is filled with first_band_color and the colors proceed to alternate as they normally would. If header_color is also set, this field takes precedence."
        },
        "headerColor": {
          "$ref": "Color",
          "description": "The color of the first row or column. If this field is set, the first row or column is filled with this color and the colors alternate between first_band_color and second_band_color starting from the second row or column. Otherwise, the first row or column is filled with first_band_color and the colors proceed to alternate as they normally would. Deprecated: Use header_color_style.",
          "deprecated": true
        },
        "footerColor": {
          "deprecated": true,
          "description": "The color of the last row or column. If this field is not set, the last row or column is filled with either first_band_color or second_band_color, depending on the color of the previous row or column. Deprecated: Use footer_color_style.",
          "$ref": "Color"
        },
        "firstBandColorStyle": {
          "description": "The first color that is alternating. (Required) If first_band_color is also set, this field takes precedence.",
          "$ref": "ColorStyle"
        },
        "firstBandColor": {
          "$ref": "Color",
          "deprecated": true,
          "description": "The first color that is alternating. (Required) Deprecated: Use first_band_color_style."
        },
        "secondBandColor": {
          "description": "The second color that is alternating. (Required) Deprecated: Use second_band_color_style.",
          "deprecated": true,
          "$ref": "Color"
        }
      },
      "description": "Properties referring a single dimension (either row or column). If both BandedRange.row_properties and BandedRange.column_properties are set, the fill colors are applied to cells according to the following rules: * header_color and footer_color take priority over band colors. * first_band_color takes priority over second_band_color. * row_properties takes priority over column_properties. For example, the first row color takes priority over the first column color, but the first column color takes priority over the second row color. Similarly, the row header takes priority over the column header in the top left cell, but the column header takes priority over the first row color if the row header is not set."
    },
    "DuplicateSheetRequest": {
      "description": "Duplicates the contents of a sheet.",
      "type": "object",
      "id": "DuplicateSheetRequest",
      "properties": {
        "newSheetName": {
          "description": "The name of the new sheet. If empty, a new name is chosen for you.",
          "type": "string"
        },
        "insertSheetIndex": {
          "type": "integer",
          "description": "The zero-based index where the new sheet should be inserted. The index of all sheets after this are incremented.",
          "format": "int32"
        },
        "sourceSheetId": {
          "format": "int32",
          "description": "The sheet to duplicate. If the source sheet is of DATA_SOURCE type, its backing DataSource is also duplicated and associated with the new copy of the sheet. No data execution is triggered, the grid data of this sheet is also copied over but only available after the batch request completes.",
          "type": "integer"
        },
        "newSheetId": {
          "format": "int32",
          "type": "integer",
          "description": "If set, the ID of the new sheet. If not set, an ID is chosen. If set, the ID must not conflict with any existing sheet ID. If set, it must be non-negative."
        }
      }
    },
    "DeleteProtectedRangeRequest": {
      "description": "Deletes the protected range with the given ID.",
      "type": "object",
      "properties": {
        "protectedRangeId": {
          "type": "integer",
          "format": "int32",
          "description": "The ID of the protected range to delete."
        }
      },
      "id": "DeleteProtectedRangeRequest"
    },
    "DataSourceFormula": {
      "properties": {
        "dataExecutionStatus": {
          "$ref": "DataExecutionStatus",
          "readOnly": true,
          "description": "Output only. The data execution status."
        },
        "dataSourceId": {
          "type": "string",
          "description": "The ID of the data source the formula is associated with."
        }
      },
      "type": "object",
      "description": "A data source formula.",
      "id": "DataSourceFormula"
    },
    "RefreshDataSourceRequest": {
      "id": "RefreshDataSourceRequest",
      "description": "Refreshes one or multiple data source objects in the spreadsheet by the specified references. The request requires an additional `bigquery.readonly` OAuth scope if you are refreshing a BigQuery data source. If there are multiple refresh requests referencing the same data source objects in one batch, only the last refresh request is processed, and all those requests will have the same response accordingly.",
      "type": "object",
      "properties": {
        "dataSourceId": {
          "description": "Reference to a DataSource. If specified, refreshes all associated data source objects for the data source.",
          "type": "string"
        },
        "references": {
          "$ref": "DataSourceObjectReferences",
          "description": "References to data source objects to refresh."
        },
        "isAll": {
          "type": "boolean",
          "description": "Refreshes all existing data source objects in the spreadsheet."
        },
        "force": {
          "type": "boolean",
          "description": "Refreshes the data source objects regardless of the current state. If not set and a referenced data source object was in error state, the refresh will fail immediately."
        }
      }
    },
    "BaselineValueFormat": {
      "type": "object",
      "description": "Formatting options for baseline value.",
      "properties": {
        "positiveColor": {
          "$ref": "Color",
          "deprecated": true,
          "description": "Color to be used, in case baseline value represents a positive change for key value. This field is optional. Deprecated: Use positive_color_style."
        },
        "comparisonType": {
          "enum": [
            "COMPARISON_TYPE_UNDEFINED",
            "ABSOLUTE_DIFFERENCE",
            "PERCENTAGE_DIFFERENCE"
          ],
          "enumDescriptions": [
            "Default value, do not use.",
            "Use absolute difference between key and baseline value.",
            "Use percentage difference between key and baseline value."
          ],
          "description": "The comparison type of key value with baseline value.",
          "type": "string"
        },
        "negativeColor": {
          "deprecated": true,
          "$ref": "Color",
          "description": "Color to be used, in case baseline value represents a negative change for key value. This field is optional. Deprecated: Use negative_color_style."
        },
        "description": {
          "type": "string",
          "description": "Description which is appended after the baseline value. This field is optional."
        },
        "textFormat": {
          "description": "Text formatting options for baseline value. The link field is not supported.",
          "$ref": "TextFormat"
        },
        "position": {
          "description": "Specifies the horizontal text positioning of baseline value. This field is optional. If not specified, default positioning is used.",
          "$ref": "TextPosition"
        },
        "positiveColorStyle": {
          "description": "Color to be used, in case baseline value represents a positive change for key value. This field is optional. If positive_color is also set, this field takes precedence.",
          "$ref": "ColorStyle"
        },
        "negativeColorStyle": {
          "description": "Color to be used, in case baseline value represents a negative change for key value. This field is optional. If negative_color is also set, this field takes precedence.",
          "$ref": "ColorStyle"
        }
      },
      "id": "BaselineValueFormat"
    },
    "DataSourceSheetDimensionRange": {
      "properties": {
        "sheetId": {
          "type": "integer",
          "description": "The ID of the data source sheet the range is on.",
          "format": "int32"
        },
        "columnReferences": {
          "items": {
            "$ref": "DataSourceColumnReference"
          },
          "description": "The columns on the data source sheet.",
          "type": "array"
        }
      },
      "id": "DataSourceSheetDimensionRange",
      "description": "A range along a single dimension on a DATA_SOURCE sheet.",
      "type": "object"
    },
    "DataSourceColumnReference": {
      "properties": {
        "name": {
          "description": "The display name of the column. It should be unique within a data source.",
          "type": "string"
        }
      },
      "id": "DataSourceColumnReference",
      "type": "object",
      "description": "An unique identifier that references a data source column."
    },
    "PivotGroupLimit": {
      "id": "PivotGroupLimit",
      "properties": {
        "applyOrder": {
          "type": "integer",
          "format": "int32",
          "description": "The order in which the group limit is applied to the pivot table. Pivot group limits are applied from lower to higher order number. Order numbers are normalized to consecutive integers from 0. For write request, to fully customize the applying orders, all pivot group limits should have this field set with an unique number. Otherwise, the order is determined by the index in the PivotTable.rows list and then the PivotTable.columns list."
        },
        "countLimit": {
          "description": "The count limit.",
          "type": "integer",
          "format": "int32"
        }
      },
      "description": "The count limit on rows or columns in the pivot group.",
      "type": "object"
    },
    "DataSourceParameter": {
      "description": "A parameter in a data source's query. The parameter allows the user to pass in values from the spreadsheet into a query.",
      "properties": {
        "namedRangeId": {
          "description": "ID of a NamedRange. Its size must be 1x1.",
          "type": "string"
        },
        "range": {
          "description": "A range that contains the value of the parameter. Its size must be 1x1.",
          "$ref": "GridRange"
        },
        "name": {
          "description": "Named parameter. Must be a legitimate identifier for the DataSource that supports it. For example, [BigQuery identifier](https://cloud.google.com/bigquery/docs/reference/standard-sql/lexical#identifiers).",
          "type": "string"
        }
      },
      "id": "DataSourceParameter",
      "type": "object"
    },
    "DeleteTableRequest": {
      "id": "DeleteTableRequest",
      "description": "Removes the table with the given ID from the spreadsheet.",
      "type": "object",
      "properties": {
        "tableId": {
          "type": "string",
          "description": "The ID of the table to delete."
        }
      }
    },
    "DeleteDimensionRequest": {
      "properties": {
        "range": {
          "description": "The dimensions to delete from the sheet.",
          "$ref": "DimensionRange"
        }
      },
      "description": " Deletes the dimensions from the sheet.",
      "type": "object",
      "id": "DeleteDimensionRequest"
    },
    "TreemapChartSpec": {
      "properties": {
        "textFormat": {
          "description": "The text format for all labels on the chart. The link field is not supported.",
          "$ref": "TextFormat"
        },
        "headerColorStyle": {
          "description": "The background color for header cells. If header_color is also set, this field takes precedence.",
          "$ref": "ColorStyle"
        },
        "hideTooltips": {
          "description": "True to hide tooltips.",
          "type": "boolean"
        },
        "minValue": {
          "format": "double",
          "type": "number",
          "description": "The minimum possible data value. Cells with values less than this will have the same color as cells with this value. If not specified, defaults to the actual minimum value from color_data, or the minimum value from size_data if color_data is not specified."
        },
        "colorData": {
          "description": "The data that determines the background color of each treemap data cell. This field is optional. If not specified, size_data is used to determine background colors. If specified, the data is expected to be numeric. color_scale will determine how the values in this data map to data cell background colors.",
          "$ref": "ChartData"
        },
        "levels": {
          "description": "The number of data levels to show on the treemap chart. These levels are interactive and are shown with their labels. Defaults to 2 if not specified.",
          "type": "integer",
          "format": "int32"
        },
        "labels": {
          "description": "The data that contains the treemap cell labels.",
          "$ref": "ChartData"
        },
        "sizeData": {
          "description": "The data that determines the size of each treemap data cell. This data is expected to be numeric. The cells corresponding to non-numeric or missing data will not be rendered. If color_data is not specified, this data is used to determine data cell background colors as well.",
          "$ref": "ChartData"
        },
        "parentLabels": {
          "description": "The data the contains the treemap cells' parent labels.",
          "$ref": "ChartData"
        },
        "headerColor": {
          "deprecated": true,
          "$ref": "Color",
          "description": "The background color for header cells. Deprecated: Use header_color_style."
        },
        "maxValue": {
          "format": "double",
          "type": "number",
          "description": "The maximum possible data value. Cells with values greater than this will have the same color as cells with this value. If not specified, defaults to the actual maximum value from color_data, or the maximum value from size_data if color_data is not specified."
        },
        "hintedLevels": {
          "format": "int32",
          "description": "The number of additional data levels beyond the labeled levels to be shown on the treemap chart. These levels are not interactive and are shown without their labels. Defaults to 0 if not specified.",
          "type": "integer"
        },
        "colorScale": {
          "description": "The color scale for data cells in the treemap chart. Data cells are assigned colors based on their color values. These color values come from color_data, or from size_data if color_data is not specified. Cells with color values less than or equal to min_value will have minValueColor as their background color. Cells with color values greater than or equal to max_value will have maxValueColor as their background color. Cells with color values between min_value and max_value will have background colors on a gradient between minValueColor and maxValueColor, the midpoint of the gradient being midValueColor. Cells with missing or non-numeric color values will have noDataColor as their background color.",
          "$ref": "TreemapChartColorScale"
        }
      },
      "id": "TreemapChartSpec",
      "description": "A Treemap chart.",
      "type": "object"
    },
    "AddDimensionGroupRequest": {
      "id": "AddDimensionGroupRequest",
      "description": "Creates a group over the specified range. If the requested range is a superset of the range of an existing group G, then the depth of G is incremented and this new group G' has the depth of that group. For example, a group [C:D, depth 1] + [B:E] results in groups [B:E, depth 1] and [C:D, depth 2]. If the requested range is a subset of the range of an existing group G, then the depth of the new group G' becomes one greater than the depth of G. For example, a group [B:E, depth 1] + [C:D] results in groups [B:E, depth 1] and [C:D, depth 2]. If the requested range starts before and ends within, or starts within and ends after, the range of an existing group G, then the range of the existing group G becomes the union of the ranges, and the new group G' has depth one greater than the depth of G and range as the intersection of the ranges. For example, a group [B:D, depth 1] + [C:E] results in groups [B:E, depth 1] and [C:D, depth 2].",
      "type": "object",
      "properties": {
        "range": {
          "$ref": "DimensionRange",
          "description": "The range over which to create a group."
        }
      }
    },
    "CellData": {
      "properties": {
        "effectiveFormat": {
          "$ref": "CellFormat",
          "description": "The effective format being used by the cell. This includes the results of applying any conditional formatting and, if the cell contains a formula, the computed number format. If the effective format is the default format, effective format will not be written. This field is read-only."
        },
        "dataSourceTable": {
          "$ref": "DataSourceTable",
          "description": "A data source table anchored at this cell. The size of data source table itself is computed dynamically based on its configuration. Only the first cell of the data source table contains the data source table definition. The other cells will contain the display values of the data source table result in their effective_value fields."
        },
        "dataSourceFormula": {
          "readOnly": true,
          "$ref": "DataSourceFormula",
          "description": "Output only. Information about a data source formula on the cell. The field is set if user_entered_value is a formula referencing some DATA_SOURCE sheet, e.g. `=SUM(DataSheet!Column)`."
        },
        "note": {
          "type": "string",
          "description": "Any note on the cell."
        },
        "pivotTable": {
          "$ref": "PivotTable",
          "description": "A pivot table anchored at this cell. The size of pivot table itself is computed dynamically based on its data, grouping, filters, values, etc. Only the top-left cell of the pivot table contains the pivot table definition. The other cells will contain the calculated values of the results of the pivot in their effective_value fields."
        },
        "formattedValue": {
          "type": "string",
          "description": "The formatted value of the cell. This is the value as it's shown to the user. This field is read-only."
        },
        "hyperlink": {
          "type": "string",
          "description": "A hyperlink this cell points to, if any. If the cell contains multiple hyperlinks, this field will be empty. This field is read-only. To set it, use a `=HYPERLINK` formula in the userEnteredValue.formulaValue field. A cell-level link can also be set from the userEnteredFormat.textFormat field. Alternatively, set a hyperlink in the textFormatRun.format.link field that spans the entire cell."
        },
        "userEnteredValue": {
          "description": "The value the user entered in the cell. e.g., `1234`, `'Hello'`, or `=NOW()` Note: Dates, Times and DateTimes are represented as doubles in serial number format.",
          "$ref": "ExtendedValue"
        },
        "textFormatRuns": {
          "items": {
            "$ref": "TextFormatRun"
          },
          "description": "Runs of rich text applied to subsections of the cell. Runs are only valid on user entered strings, not formulas, bools, or numbers. Properties of a run start at a specific index in the text and continue until the next run. Runs will inherit the properties of the cell unless explicitly changed. When writing, the new runs will overwrite any prior runs. When writing a new user_entered_value, previous runs are erased.",
          "type": "array"
        },
        "dataValidation": {
          "$ref": "DataValidationRule",
          "description": "A data validation rule on the cell, if any. When writing, the new data validation rule will overwrite any prior rule."
        },
        "effectiveValue": {
          "description": "The effective value of the cell. For cells with formulas, this is the calculated value. For cells with literals, this is the same as the user_entered_value. This field is read-only.",
          "$ref": "ExtendedValue"
        },
        "chipRuns": {
          "description": "Optional. Runs of chips applied to subsections of the cell. Properties of a run start at a specific index in the text and continue until the next run. When reading, all chipped and non-chipped runs are included. Non-chipped runs will have an empty Chip. When writing, only runs with chips are included. Runs containing chips are of length 1 and are represented in the user-entered text by an “@” placeholder symbol. New runs will overwrite any prior runs. Writing a new user_entered_value will erase previous runs.",
          "items": {
            "$ref": "ChipRun"
          },
          "type": "array"
        },
        "userEnteredFormat": {
          "description": "The format the user entered for the cell. When writing, the new format will be merged with the existing format.",
          "$ref": "CellFormat"
        }
      },
      "type": "object",
      "description": "Data about a specific cell.",
      "id": "CellData"
    },
    "BigQueryDataSourceSpec": {
      "id": "BigQueryDataSourceSpec",
      "type": "object",
      "properties": {
        "querySpec": {
          "description": "A BigQueryQuerySpec.",
          "$ref": "BigQueryQuerySpec"
        },
        "tableSpec": {
          "$ref": "BigQueryTableSpec",
          "description": "A BigQueryTableSpec."
        },
        "projectId": {
          "description": "The ID of a BigQuery enabled Google Cloud project with a billing account attached. For any queries executed against the data source, the project is charged.",
          "type": "string"
        }
      },
      "description": "The specification of a BigQuery data source that's connected to a sheet."
    },
    "Request": {
      "properties": {
        "addCommentReply": {
          "description": "Adds a reply to a CommentThread.",
          "$ref": "AddCommentReplyRequest"
        },
        "deleteDataSource": {
          "description": "Deletes a data source.",
          "$ref": "DeleteDataSourceRequest"
        },
        "insertRange": {
          "description": "Inserts new cells in a sheet, shifting the existing cells.",
          "$ref": "InsertRangeRequest"
        },
        "deleteCommentReply": {
          "description": "Deletes a reply Post from a CommentThread",
          "$ref": "DeleteCommentReplyRequest"
        },
        "deleteRange": {
          "$ref": "DeleteRangeRequest",
          "description": "Deletes a range of cells from a sheet, shifting the remaining cells."
        },
        "refreshDataSource": {
          "$ref": "RefreshDataSourceRequest",
          "description": "Refreshes one or multiple data sources and associated dbobjects."
        },
        "clearBasicFilter": {
          "$ref": "ClearBasicFilterRequest",
          "description": "Clears the basic filter on a sheet."
        },
        "deleteConditionalFormatRule": {
          "$ref": "DeleteConditionalFormatRuleRequest",
          "description": "Deletes an existing conditional format rule."
        },
        "addSheet": {
          "description": "Adds a sheet.",
          "$ref": "AddSheetRequest"
        },
        "addProtectedRange": {
          "$ref": "AddProtectedRangeRequest",
          "description": "Adds a protected range."
        },
        "cutPaste": {
          "$ref": "CutPasteRequest",
          "description": "Cuts data from one area and pastes it to another."
        },
        "deleteNamedRange": {
          "$ref": "DeleteNamedRangeRequest",
          "description": "Deletes a named range."
        },
        "addBanding": {
          "description": "Adds a new banded range",
          "$ref": "AddBandingRequest"
        },
        "addNamedRange": {
          "description": "Adds a named range.",
          "$ref": "AddNamedRangeRequest"
        },
        "duplicateFilterView": {
          "$ref": "DuplicateFilterViewRequest",
          "description": "Duplicates a filter view."
        },
        "deleteDeveloperMetadata": {
          "description": "Deletes developer metadata",
          "$ref": "DeleteDeveloperMetadataRequest"
        },
        "updateBorders": {
          "description": "Updates the borders in a range of cells.",
          "$ref": "UpdateBordersRequest"
        },
        "updateNamedRange": {
          "description": "Updates a named range.",
          "$ref": "UpdateNamedRangeRequest"
        },
        "setBasicFilter": {
          "description": "Sets the basic filter on a sheet.",
          "$ref": "SetBasicFilterRequest"
        },
        "updateDeveloperMetadata": {
          "description": "Updates an existing developer metadata entry",
          "$ref": "UpdateDeveloperMetadataRequest"
        },
        "updateConditionalFormatRule": {
          "$ref": "UpdateConditionalFormatRuleRequest",
          "description": "Updates an existing conditional format rule."
        },
        "duplicateSheet": {
          "description": "Duplicates a sheet.",
          "$ref": "DuplicateSheetRequest"
        },
        "deleteDuplicates": {
          "description": "Removes rows containing duplicate values in specified columns of a cell range.",
          "$ref": "DeleteDuplicatesRequest"
        },
        "sortRange": {
          "description": "Sorts data in a range.",
          "$ref": "SortRangeRequest"
        },
        "addSlicer": {
          "description": "Adds a slicer.",
          "$ref": "AddSlicerRequest"
        },
        "insertComment": {
          "$ref": "InsertCommentRequest",
          "description": "Inserts a CommentThread into the spreadsheet."
        },
        "deleteFilterView": {
          "description": "Deletes a filter view from a sheet.",
          "$ref": "DeleteFilterViewRequest"
        },
        "updateDimensionProperties": {
          "description": "Updates dimensions' properties.",
          "$ref": "UpdateDimensionPropertiesRequest"
        },
        "deleteDimension": {
          "$ref": "DeleteDimensionRequest",
          "description": "Deletes rows or columns in a sheet."
        },
        "deleteTable": {
          "description": "A request for deleting a table.",
          "$ref": "DeleteTableRequest"
        },
        "createDeveloperMetadata": {
          "$ref": "CreateDeveloperMetadataRequest",
          "description": "Creates new developer metadata"
        },
        "setDataValidation": {
          "description": "Sets data validation for one or more cells.",
          "$ref": "SetDataValidationRequest"
        },
        "cancelDataSourceRefresh": {
          "$ref": "CancelDataSourceRefreshRequest",
          "description": "Cancels refreshes of one or multiple data sources and associated dbobjects."
        },
        "insertDimension": {
          "description": "Inserts new rows or columns in a sheet.",
          "$ref": "InsertDimensionRequest"
        },
        "updateChartSpec": {
          "description": "Updates a chart's specifications.",
          "$ref": "UpdateChartSpecRequest"
        },
        "deleteProtectedRange": {
          "$ref": "DeleteProtectedRangeRequest",
          "description": "Deletes a protected range."
        },
        "findReplace": {
          "description": "Finds and replaces occurrences of some text with other text.",
          "$ref": "FindReplaceRequest"
        },
        "appendCells": {
          "$ref": "AppendCellsRequest",
          "description": "Appends cells after the last row with data in a sheet."
        },
        "updateFilterView": {
          "$ref": "UpdateFilterViewRequest",
          "description": "Updates the properties of a filter view."
        },
        "updateBanding": {
          "$ref": "UpdateBandingRequest",
          "description": "Updates a banded range"
        },
        "moveDimension": {
          "description": "Moves rows or columns to another location in a sheet.",
          "$ref": "MoveDimensionRequest"
        },
        "updateCells": {
          "$ref": "UpdateCellsRequest",
          "description": "Updates many cells at once."
        },
        "deleteComment": {
          "$ref": "DeleteCommentRequest",
          "description": "Deletes a CommentThread."
        },
        "autoFill": {
          "$ref": "AutoFillRequest",
          "description": "Automatically fills in more data based on existing data."
        },
        "repeatCell": {
          "$ref": "RepeatCellRequest",
          "description": "Repeats a single cell across a range."
        },
        "trimWhitespace": {
          "description": "Trims cells of whitespace (such as spaces, tabs, or new lines).",
          "$ref": "TrimWhitespaceRequest"
        },
        "deleteSheet": {
          "$ref": "DeleteSheetRequest",
          "description": "Deletes a sheet."
        },
        "updateEmbeddedObjectPosition": {
          "$ref": "UpdateEmbeddedObjectPositionRequest",
          "description": "Updates an embedded object's (e.g. chart, image) position."
        },
        "addDimensionGroup": {
          "description": "Creates a group over the specified range.",
          "$ref": "AddDimensionGroupRequest"
        },
        "addDataSource": {
          "description": "Adds a data source.",
          "$ref": "AddDataSourceRequest"
        },
        "updateDataSource": {
          "description": "Updates a data source.",
          "$ref": "UpdateDataSourceRequest"
        },
        "updateProtectedRange": {
          "$ref": "UpdateProtectedRangeRequest",
          "description": "Updates a protected range."
        },
        "pasteData": {
          "description": "Pastes data (HTML or delimited) into a sheet.",
          "$ref": "PasteDataRequest"
        },
        "appendDimension": {
          "description": "Appends dimensions to the end of a sheet.",
          "$ref": "AppendDimensionRequest"
        },
        "addFilterView": {
          "description": "Adds a filter view.",
          "$ref": "AddFilterViewRequest"
        },
        "updateSpreadsheetProperties": {
          "description": "Updates the spreadsheet's properties.",
          "$ref": "UpdateSpreadsheetPropertiesRequest"
        },
        "unmergeCells": {
          "description": "Unmerges merged cells.",
          "$ref": "UnmergeCellsRequest"
        },
        "autoResizeDimensions": {
          "description": "Automatically resizes one or more dimensions based on the contents of the cells in that dimension.",
          "$ref": "AutoResizeDimensionsRequest"
        },
        "updateTable": {
          "$ref": "UpdateTableRequest",
          "description": "Updates a table."
        },
        "updateDimensionGroup": {
          "$ref": "UpdateDimensionGroupRequest",
          "description": "Updates the state of the specified group."
        },
        "addChart": {
          "description": "Adds a chart.",
          "$ref": "AddChartRequest"
        },
        "updateSlicerSpec": {
          "description": "Updates a slicer's specifications.",
          "$ref": "UpdateSlicerSpecRequest"
        },
        "deleteBanding": {
          "$ref": "DeleteBandingRequest",
          "description": "Removes a banded range"
        },
        "mergeCells": {
          "$ref": "MergeCellsRequest",
          "description": "Merges cells together."
        },
        "deleteEmbeddedObject": {
          "$ref": "DeleteEmbeddedObjectRequest",
          "description": "Deletes an embedded object (e.g, chart, image) in a sheet."
        },
        "randomizeRange": {
          "$ref": "RandomizeRangeRequest",
          "description": "Randomizes the order of the rows in a range."
        },
        "updateSheetProperties": {
          "$ref": "UpdateSheetPropertiesRequest",
          "description": "Updates a sheet's properties."
        },
        "updateCommentPost": {
          "$ref": "UpdateCommentPostRequest",
          "description": "Updates an existing post (head post or reply) of a CommentThread."
        },
        "addTable": {
          "$ref": "AddTableRequest",
          "description": "Adds a table."
        },
        "deleteDimensionGroup": {
          "$ref": "DeleteDimensionGroupRequest",
          "description": "Deletes a group over the specified range."
        },
        "textToColumns": {
          "$ref": "TextToColumnsRequest",
          "description": "Converts a column of text into many columns of text."
        },
        "addConditionalFormatRule": {
          "$ref": "AddConditionalFormatRuleRequest",
          "description": "Adds a new conditional format rule."
        },
        "copyPaste": {
          "$ref": "CopyPasteRequest",
          "description": "Copies data from one area and pastes it to another."
        },
        "updateEmbeddedObjectBorder": {
          "description": "Updates an embedded object's border.",
          "$ref": "UpdateEmbeddedObjectBorderRequest"
        }
      },
      "type": "object",
      "id": "Request",
      "description": "A single kind of update to apply to a spreadsheet."
    },
    "UpdateEmbeddedObjectPositionResponse": {
      "description": "The result of updating an embedded object's position.",
      "type": "object",
      "id": "UpdateEmbeddedObjectPositionResponse",
      "properties": {
        "position": {
          "description": "The new position of the embedded object.",
          "$ref": "EmbeddedObjectPosition"
        }
      }
    },
    "BasicChartSpec": {
      "description": "The specification for a basic chart. See BasicChartType for the list of charts this supports.",
      "properties": {
        "compareMode": {
          "enumDescriptions": [
            "Default value, do not use.",
            "Only the focused data element is highlighted and shown in the tooltip.",
            "All data elements with the same category (e.g., domain value) are highlighted and shown in the tooltip."
          ],
          "description": "The behavior of tooltips and data highlighting when hovering on data and chart area.",
          "type": "string",
          "enum": [
            "BASIC_CHART_COMPARE_MODE_UNSPECIFIED",
            "DATUM",
            "CATEGORY"
          ]
        },
        "interpolateNulls": {
          "type": "boolean",
          "description": "If some values in a series are missing, gaps may appear in the chart (e.g, segments of lines in a line chart will be missing). To eliminate these gaps set this to true. Applies to Line, Area, and Combo charts."
        },
        "legendPosition": {
          "enum": [
            "BASIC_CHART_LEGEND_POSITION_UNSPECIFIED",
            "BOTTOM_LEGEND",
            "LEFT_LEGEND",
            "RIGHT_LEGEND",
            "TOP_LEGEND",
            "NO_LEGEND"
          ],
          "enumDescriptions": [
            "Default value, do not use.",
            "The legend is rendered on the bottom of the chart.",
            "The legend is rendered on the left of the chart.",
            "The legend is rendered on the right of the chart.",
            "The legend is rendered on the top of the chart.",
            "No legend is rendered."
          ],
          "description": "The position of the chart legend.",
          "type": "string"
        },
        "series": {
          "type": "array",
          "description": "The data this chart is visualizing.",
          "items": {
            "$ref": "BasicChartSeries"
          }
        },
        "totalDataLabel": {
          "description": "Controls whether to display additional data labels on stacked charts which sum the total value of all stacked values at each value along the domain axis. These data labels can only be set when chart_type is one of AREA, BAR, COLUMN, COMBO or STEPPED_AREA and stacked_type is either STACKED or PERCENT_STACKED. In addition, for COMBO, this will only be supported if there is only one type of stackable series type or one type has more series than the others and each of the other types have no more than one series. For example, if a chart has two stacked bar series and one area series, the total data labels will be supported. If it has three bar series and two area series, total data labels are not allowed. Neither CUSTOM nor placement can be set on the total_data_label.",
          "$ref": "DataLabel"
        },
        "headerCount": {
          "type": "integer",
          "description": "The number of rows or columns in the data that are \"headers\". If not set, Google Sheets will guess how many rows are headers based on the data. (Note that BasicChartAxis.title may override the axis title inferred from the header values.)",
          "format": "int32"
        },
        "axis": {
          "description": "The axis on the chart.",
          "items": {
            "$ref": "BasicChartAxis"
          },
          "type": "array"
        },
        "chartType": {
          "type": "string",
          "enumDescriptions": [
            "Default value, do not use.",
            "A bar chart.",
            "A line chart.",
            "An area chart.",
            "A column chart.",
            "A scatter chart.",
            "A combo chart.",
            "A stepped area chart."
          ],
          "description": "The type of the chart.",
          "enum": [
            "BASIC_CHART_TYPE_UNSPECIFIED",
            "BAR",
            "LINE",
            "AREA",
            "COLUMN",
            "SCATTER",
            "COMBO",
            "STEPPED_AREA"
          ]
        },
        "lineSmoothing": {
          "description": "Gets whether all lines should be rendered smooth or straight by default. Applies to Line charts.",
          "type": "boolean"
        },
        "stackedType": {
          "enumDescriptions": [
            "Default value, do not use.",
            "Series are not stacked.",
            "Series values are stacked, each value is rendered vertically beginning from the top of the value below it.",
            "Vertical stacks are stretched to reach the top of the chart, with values laid out as percentages of each other."
          ],
          "description": "The stacked type for charts that support vertical stacking. Applies to Area, Bar, Column, Combo, and Stepped Area charts.",
          "type": "string",
          "enum": [
            "BASIC_CHART_STACKED_TYPE_UNSPECIFIED",
            "NOT_STACKED",
            "STACKED",
            "PERCENT_STACKED"
          ]
        },
        "domains": {
          "description": "The domain of data this is charting. Only a single domain is supported.",
          "items": {
            "$ref": "BasicChartDomain"
          },
          "type": "array"
        },
        "threeDimensional": {
          "description": "True to make the chart 3D. Applies to Bar and Column charts.",
          "type": "boolean"
        }
      },
      "type": "object",
      "id": "BasicChartSpec"
    },
    "AddSlicerRequest": {
      "properties": {
        "slicer": {
          "description": "The slicer that should be added to the spreadsheet, including the position where it should be placed. The slicerId field is optional; if one is not set, an id will be randomly generated. (It is an error to specify the ID of a slicer that already exists.)",
          "$ref": "Slicer"
        }
      },
      "type": "object",
      "id": "AddSlicerRequest",
      "description": "Adds a slicer to a sheet in the spreadsheet."
    },
    "Chip": {
      "properties": {
        "richLinkProperties": {
          "$ref": "RichLinkProperties",
          "description": "Properties of a rich link."
        },
        "personProperties": {
          "description": "Properties of a linked person.",
          "$ref": "PersonProperties"
        }
      },
      "description": "The Smart Chip.",
      "type": "object",
      "id": "Chip"
    },
    "Editors": {
      "properties": {
        "groups": {
          "description": "The email addresses of groups with edit access to the protected range.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "users": {
          "items": {
            "type": "string"
          },
          "description": "The email addresses of users with edit access to the protected range.",
          "type": "array"
        },
        "domainUsersCanEdit": {
          "description": "True if anyone in the document's domain has edit access to the protected range. Domain protection is only supported on documents within a domain.",
          "type": "boolean"
        }
      },
      "type": "object",
      "description": "The editors of a protected range.",
      "id": "Editors"
    },
    "DeleteDeveloperMetadataRequest": {
      "type": "object",
      "description": "A request to delete developer metadata.",
      "properties": {
        "dataFilter": {
          "$ref": "DataFilter",
          "description": "The data filter describing the criteria used to select which developer metadata entry to delete."
        }
      },
      "id": "DeleteDeveloperMetadataRequest"
    },
    "CancelDataSourceRefreshResponse": {
      "properties": {
        "statuses": {
          "description": "The cancellation statuses of refreshes of all data source objects specified in the request. If is_all is specified, the field contains only those in failure status. Refreshing and canceling refresh the same data source object is also not allowed in the same `batchUpdate`.",
          "items": {
            "$ref": "CancelDataSourceRefreshStatus"
          },
          "type": "array"
        }
      },
      "description": "The response from cancelling one or multiple data source object refreshes.",
      "id": "CancelDataSourceRefreshResponse",
      "type": "object"
    },
    "AddSlicerResponse": {
      "properties": {
        "slicer": {
          "description": "The newly added slicer.",
          "$ref": "Slicer"
        }
      },
      "id": "AddSlicerResponse",
      "description": "The result of adding a slicer to a spreadsheet.",
      "type": "object"
    },
    "Slicer": {
      "id": "Slicer",
      "type": "object",
      "description": "A slicer in a sheet.",
      "properties": {
        "spec": {
          "$ref": "SlicerSpec",
          "description": "The specification of the slicer."
        },
        "slicerId": {
          "type": "integer",
          "format": "int32",
          "description": "The ID of the slicer."
        },
        "position": {
          "description": "The position of the slicer. Note that slicer can be positioned only on existing sheet. Also, width and height of slicer can be automatically adjusted to keep it within permitted limits.",
          "$ref": "EmbeddedObjectPosition"
        }
      }
    },
    "GridCoordinate": {
      "type": "object",
      "description": "A coordinate in a sheet. All indexes are zero-based.",
      "properties": {
        "columnIndex": {
          "type": "integer",
          "description": "The column index of the coordinate.",
          "format": "int32"
        },
        "rowIndex": {
          "type": "integer",
          "format": "int32",
          "description": "The row index of the coordinate."
        },
        "sheetId": {
          "description": "The sheet this coordinate is on.",
          "type": "integer",
          "format": "int32"
        }
      },
      "id": "GridCoordinate"
    },
    "DeleteConditionalFormatRuleResponse": {
      "description": "The result of deleting a conditional format rule.",
      "properties": {
        "rule": {
          "description": "The rule that was deleted.",
          "$ref": "ConditionalFormatRule"
        }
      },
      "id": "DeleteConditionalFormatRuleResponse",
      "type": "object"
    },
    "SortSpec": {
      "id": "SortSpec",
      "description": "A sort order associated with a specific column or row.",
      "type": "object",
      "properties": {
        "dataSourceColumnReference": {
          "$ref": "DataSourceColumnReference",
          "description": "Reference to a data source column."
        },
        "backgroundColor": {
          "$ref": "Color",
          "deprecated": true,
[...]
