{
  "ownerName": "Google",
  "fullyEncodeReservedExpansion": true,
  "kind": "discovery#restDescription",
  "rootUrl": "https://sheets.googleapis.com/",
  "revision": "20260826",
  "discoveryVersion": "v1",
  "version": "v4",
  "protocol": "rest",
  "basePath": "",
  "title": "Google Sheets API",
  "parameters": {
    "access_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth access token."
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "type": "string",
      "location": "query"
    },
    "$.xgafv": {
      "description": "V1 error format.",
      "location": "query",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string",
      "enum": [
        "1",
        "2"
      ]
    },
    "alt": {
      "type": "string",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "default": "json",
      "location": "query",
      "description": "Data format for response."
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "fields": {
      "type": "string",
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "callback": {
      "type": "string",
      "location": "query",
      "description": "JSONP"
    },
    "quotaUser": {
      "type": "string",
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "prettyPrint": {
      "type": "boolean",
      "default": "true",
      "description": "Returns response with indentations and line breaks.",
      "location": "query"
    }
  },
  "servicePath": "",
  "ownerDomain": "google.com",
  "canonicalName": "Sheets",
  "id": "sheets:v4",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "documentationLink": "https://developers.google.com/workspace/sheets/",
  "version_module": true,
  "schemas": {
    "DataSourceChartProperties": {
      "description": "Properties of a data source chart.",
      "properties": {
        "dataExecutionStatus": {
          "readOnly": true,
          "$ref": "DataExecutionStatus",
          "description": "Output only. The data execution status."
        },
        "dataSourceId": {
          "type": "string",
          "description": "ID of the data source that the chart is associated with."
        }
      },
      "type": "object",
      "id": "DataSourceChartProperties"
    },
    "AddDimensionGroupRequest": {
      "id": "AddDimensionGroupRequest",
      "description": "Creates a group over the specified range. If the requested range is a superset of the range of an existing group G, then the depth of G is incremented and this new group G' has the depth of that group. For example, a group [C:D, depth 1] + [B:E] results in groups [B:E, depth 1] and [C:D, depth 2]. If the requested range is a subset of the range of an existing group G, then the depth of the new group G' becomes one greater than the depth of G. For example, a group [B:E, depth 1] + [C:D] results in groups [B:E, depth 1] and [C:D, depth 2]. If the requested range starts before and ends within, or starts within and ends after, the range of an existing group G, then the range of the existing group G becomes the union of the ranges, and the new group G' has depth one greater than the depth of G and range as the intersection of the ranges. For example, a group [B:D, depth 1] + [C:E] results in groups [B:E, depth 1] and [C:D, depth 2].",
      "type": "object",
      "properties": {
        "range": {
          "description": "The range over which to create a group.",
          "$ref": "DimensionRange"
        }
      }
    },
    "Slicer": {
      "properties": {
        "slicerId": {
          "format": "int32",
          "description": "The ID of the slicer.",
          "type": "integer"
        },
        "position": {
          "description": "The position of the slicer. Note that slicer can be positioned only on existing sheet. Also, width and height of slicer can be automatically adjusted to keep it within permitted limits.",
          "$ref": "EmbeddedObjectPosition"
        },
        "spec": {
          "$ref": "SlicerSpec",
          "description": "The specification of the slicer."
        }
      },
      "id": "Slicer",
      "description": "A slicer in a sheet.",
      "type": "object"
    },
    "SetBasicFilterRequest": {
      "type": "object",
      "properties": {
        "filter": {
          "$ref": "BasicFilter",
          "description": "The filter to set."
        }
      },
      "description": "Sets the basic filter associated with a sheet.",
      "id": "SetBasicFilterRequest"
    },
    "Spreadsheet": {
      "type": "object",
      "id": "Spreadsheet",
      "description": "Resource that represents a spreadsheet.",
      "properties": {
        "dataSources": {
          "items": {
            "$ref": "DataSource"
          },
          "type": "array",
          "description": "A list of external data sources connected with the spreadsheet."
        },
        "spreadsheetUrl": {
          "description": "The url of the spreadsheet. This field is read-only.",
          "type": "string"
        },
        "sheets": {
          "description": "The sheets that are part of a spreadsheet.",
          "items": {
            "$ref": "Sheet"
          },
          "type": "array"
        },
        "developerMetadata": {
          "type": "array",
          "description": "The developer metadata associated with a spreadsheet.",
          "items": {
            "$ref": "DeveloperMetadata"
          }
        },
        "properties": {
          "description": "Overall properties of a spreadsheet.",
          "$ref": "SpreadsheetProperties"
        },
        "namedRanges": {
          "items": {
            "$ref": "NamedRange"
          },
          "type": "array",
          "description": "The named ranges defined in a spreadsheet."
        },
        "spreadsheetId": {
          "description": "The ID of the spreadsheet. This field is read-only.",
          "type": "string"
        },
        "dataSourceSchedules": {
          "items": {
            "$ref": "DataSourceRefreshSchedule"
          },
          "type": "array",
          "description": "Output only. A list of data source refresh schedules.",
          "readOnly": true
        }
      }
    },
    "TrimWhitespaceResponse": {
      "properties": {
        "cellsChangedCount": {
          "description": "The number of cells that were trimmed of whitespace.",
          "type": "integer",
          "format": "int32"
        }
      },
      "description": "The result of trimming whitespace in cells.",
      "id": "TrimWhitespaceResponse",
      "type": "object"
    },
    "DeveloperMetadataLocation": {
      "description": "A location where metadata may be associated in a spreadsheet.",
      "properties": {
        "dimensionRange": {
          "description": "Represents the row or column when metadata is associated with a dimension. The specified DimensionRange must represent a single row or column. It cannot be unbounded or span multiple rows or columns.",
          "$ref": "DimensionRange"
        },
        "locationType": {
          "type": "string",
          "enum": [
            "DEVELOPER_METADATA_LOCATION_TYPE_UNSPECIFIED",
            "ROW",
            "COLUMN",
            "SHEET",
            "SPREADSHEET"
          ],
          "enumDescriptions": [
            "Default value.",
            "Developer metadata associated on an entire row dimension.",
            "Developer metadata associated on an entire column dimension.",
            "Developer metadata associated on an entire sheet.",
            "Developer metadata associated on the entire spreadsheet."
          ],
          "description": "The type of location this object represents. This field is read-only."
        },
        "spreadsheet": {
          "description": "True when metadata is associated with an entire spreadsheet.",
          "type": "boolean"
        },
        "sheetId": {
          "description": "The ID of the sheet when metadata is associated with an entire sheet.",
          "type": "integer",
          "format": "int32"
        }
      },
      "id": "DeveloperMetadataLocation",
      "type": "object"
    },
    "RandomizeRangeRequest": {
      "properties": {
        "range": {
          "$ref": "GridRange",
          "description": "The range to randomize."
        }
      },
      "id": "RandomizeRangeRequest",
      "type": "object",
      "description": "Randomizes the order of the rows in a range."
    },
    "BatchGetValuesByDataFilterRequest": {
      "type": "object",
      "id": "BatchGetValuesByDataFilterRequest",
      "description": "The request for retrieving a range of values in a spreadsheet selected by a set of DataFilters.",
      "properties": {
        "dataFilters": {
          "description": "The data filters used to match the ranges of values to retrieve. Ranges that match any of the specified data filters are included in the response.",
          "items": {
            "$ref": "DataFilter"
          },
          "type": "array"
        },
        "majorDimension": {
          "description": "The major dimension that results should use. For example, if the spreadsheet data is: `A1=1,B1=2,A2=3,B2=4`, then a request that selects that range and sets `majorDimension=ROWS` returns `[[1,2],[3,4]]`, whereas a request that sets `majorDimension=COLUMNS` returns `[[1,3],[2,4]]`.",
          "enumDescriptions": [
            "The default value, do not use.",
            "Operates on the rows of a sheet.",
            "Operates on the columns of a sheet."
          ],
          "type": "string",
          "enum": [
            "DIMENSION_UNSPECIFIED",
            "ROWS",
            "COLUMNS"
          ]
        },
        "dateTimeRenderOption": {
          "type": "string",
          "enum": [
            "SERIAL_NUMBER",
            "FORMATTED_STRING"
          ],
          "enumDescriptions": [
            "Instructs date, time, datetime, and duration fields to be output as doubles in \"serial number\" format, as popularized by Lotus 1-2-3. The whole number portion of the value (left of the decimal) counts the days since December 30th 1899. The fractional portion (right of the decimal) counts the time as a fraction of the day. For example, January 1st 1900 at noon would be 2.5, 2 because it's 2 days after December 30th 1899, and .5 because noon is half a day. February 1st 1900 at 3pm would be 33.625. This correctly treats the year 1900 as not a leap year.",
            "Instructs date, time, datetime, and duration fields to be output as strings in their given number format (which depends on the spreadsheet locale)."
          ],
          "description": "How dates, times, and durations should be represented in the output. This is ignored if value_render_option is FORMATTED_VALUE. The default dateTime render option is SERIAL_NUMBER."
        },
        "valueRenderOption": {
          "type": "string",
          "enum": [
            "FORMATTED_VALUE",
            "UNFORMATTED_VALUE",
            "FORMULA"
          ],
          "enumDescriptions": [
            "Values will be calculated & formatted in the response according to the cell's formatting. Formatting is based on the spreadsheet's locale, not the requesting user's locale. For example, if `A1` is `1.23` and `A2` is `=A1` and formatted as currency, then `A2` would return `\"$1.23\"`.",
            "Values will be calculated, but not formatted in the reply. For example, if `A1` is `1.23` and `A2` is `=A1` and formatted as currency, then `A2` would return the number `1.23`.",
            "Values will not be calculated. The reply will include the formulas. For example, if `A1` is `1.23` and `A2` is `=A1` and formatted as currency, then A2 would return `\"=A1\"`. Sheets treats date and time values as decimal values. This lets you perform arithmetic on them in formulas. For more information on interpreting date and time values, see [About date & time values](https://developers.google.com/workspace/sheets/api/guides/formats#about_date_time_values)."
          ],
          "description": "How values should be represented in the output. The default render option is FORMATTED_VALUE."
        }
      }
    },
    "CellData": {
      "id": "CellData",
      "properties": {
        "effectiveValue": {
          "$ref": "ExtendedValue",
          "description": "The effective value of the cell. For cells with formulas, this is the calculated value. For cells with literals, this is the same as the user_entered_value. This field is read-only."
        },
        "dataSourceFormula": {
          "description": "Output only. Information about a data source formula on the cell. The field is set if user_entered_value is a formula referencing some DATA_SOURCE sheet, e.g. `=SUM(DataSheet!Column)`.",
          "readOnly": true,
          "$ref": "DataSourceFormula"
        },
        "chipRuns": {
          "items": {
            "$ref": "ChipRun"
          },
          "description": "Optional. Runs of chips applied to subsections of the cell. Properties of a run start at a specific index in the text and continue until the next run. When reading, all chipped and non-chipped runs are included. Non-chipped runs will have an empty Chip. When writing, only runs with chips are included. Runs containing chips are of length 1 and are represented in the user-entered text by an “@” placeholder symbol. New runs will overwrite any prior runs. Writing a new user_entered_value will erase previous runs.",
          "type": "array"
        },
        "hyperlink": {
          "type": "string",
          "description": "A hyperlink this cell points to, if any. If the cell contains multiple hyperlinks, this field will be empty. This field is read-only. To set it, use a `=HYPERLINK` formula in the userEnteredValue.formulaValue field. A cell-level link can also be set from the userEnteredFormat.textFormat field. Alternatively, set a hyperlink in the textFormatRun.format.link field that spans the entire cell."
        },
        "note": {
          "description": "Any note on the cell.",
          "type": "string"
        },
        "formattedValue": {
          "type": "string",
          "description": "The formatted value of the cell. This is the value as it's shown to the user. This field is read-only."
        },
        "dataSourceTable": {
          "$ref": "DataSourceTable",
          "description": "A data source table anchored at this cell. The size of data source table itself is computed dynamically based on its configuration. Only the first cell of the data source table contains the data source table definition. The other cells will contain the display values of the data source table result in their effective_value fields."
        },
        "pivotTable": {
          "description": "A pivot table anchored at this cell. The size of pivot table itself is computed dynamically based on its data, grouping, filters, values, etc. Only the top-left cell of the pivot table contains the pivot table definition. The other cells will contain the calculated values of the results of the pivot in their effective_value fields.",
          "$ref": "PivotTable"
        },
        "userEnteredValue": {
          "description": "The value the user entered in the cell. e.g., `1234`, `'Hello'`, or `=NOW()` Note: Dates, Times and DateTimes are represented as doubles in serial number format.",
          "$ref": "ExtendedValue"
        },
        "userEnteredFormat": {
          "$ref": "CellFormat",
          "description": "The format the user entered for the cell. When writing, the new format will be merged with the existing format."
        },
        "textFormatRuns": {
          "items": {
            "$ref": "TextFormatRun"
          },
          "type": "array",
          "description": "Runs of rich text applied to subsections of the cell. Runs are only valid on user entered strings, not formulas, bools, or numbers. Properties of a run start at a specific index in the text and continue until the next run. Runs will inherit the properties of the cell unless explicitly changed. When writing, the new runs will overwrite any prior runs. When writing a new user_entered_value, previous runs are erased."
        },
        "dataValidation": {
          "$ref": "DataValidationRule",
          "description": "A data validation rule on the cell, if any. When writing, the new data validation rule will overwrite any prior rule."
        },
        "effectiveFormat": {
          "description": "The effective format being used by the cell. This includes the results of applying any conditional formatting and, if the cell contains a formula, the computed number format. If the effective format is the default format, effective format will not be written. This field is read-only.",
          "$ref": "CellFormat"
        }
      },
      "description": "Data about a specific cell.",
      "type": "object"
    },
    "UpdateValuesByDataFilterResponse": {
      "description": "The response when updating a range of values by a data filter in a spreadsheet.",
      "type": "object",
      "id": "UpdateValuesByDataFilterResponse",
      "properties": {
        "updatedCells": {
          "description": "The number of cells updated.",
          "type": "integer",
          "format": "int32"
        },
        "updatedRows": {
          "type": "integer",
          "format": "int32",
          "description": "The number of rows where at least one cell in the row was updated."
        },
        "dataFilter": {
          "description": "The data filter that selected the range that was updated.",
          "$ref": "DataFilter"
        },
        "updatedColumns": {
          "type": "integer",
          "description": "The number of columns where at least one cell in the column was updated.",
          "format": "int32"
        },
        "updatedData": {
          "description": "The values of the cells in the range matched by the dataFilter after all updates were applied. This is only included if the request's `includeValuesInResponse` field was `true`.",
          "$ref": "ValueRange"
        },
        "updatedRange": {
          "description": "The range (in [A1 notation](https://developers.google.com/workspace/sheets/api/guides/concepts#cell)) that updates were applied to.",
          "type": "string"
        }
      }
    },
    "AddTableRequest": {
      "type": "object",
      "id": "AddTableRequest",
      "description": "Adds a new table to the spreadsheet.",
      "properties": {
        "table": {
          "description": "Required. The table to add.",
          "$ref": "Table"
        }
      }
    },
    "DeleteDuplicatesRequest": {
      "properties": {
        "comparisonColumns": {
          "items": {
            "$ref": "DimensionRange"
          },
          "description": "The columns in the range to analyze for duplicate values. If no columns are selected then all columns are analyzed for duplicates.",
          "type": "array"
        },
        "range": {
          "$ref": "GridRange",
          "description": "The range to remove duplicates rows from."
        }
      },
      "type": "object",
      "id": "DeleteDuplicatesRequest",
      "description": "Removes rows within this range that contain values in the specified columns that are duplicates of values in any previous row. Rows with identical values but different letter cases, formatting, or formulas are considered to be duplicates. This request also removes duplicate rows hidden from view (for example, due to a filter). When removing duplicates, the first instance of each duplicate row scanning from the top downwards is kept in the resulting range. Content outside of the specified range isn't removed, and rows considered duplicates do not have to be adjacent to each other in the range."
    },
    "BatchClearValuesByDataFilterRequest": {
      "type": "object",
      "properties": {
        "dataFilters": {
          "type": "array",
          "items": {
            "$ref": "DataFilter"
          },
          "description": "The DataFilters used to determine which ranges to clear."
        }
      },
      "description": "The request for clearing more than one range selected by a DataFilter in a spreadsheet.",
      "id": "BatchClearValuesByDataFilterRequest"
    },
    "UpdateChartSpecRequest": {
      "properties": {
        "spec": {
          "$ref": "ChartSpec",
          "description": "The specification to apply to the chart."
        },
        "chartId": {
          "type": "integer",
          "description": "The ID of the chart to update.",
          "format": "int32"
        }
      },
      "id": "UpdateChartSpecRequest",
      "description": "Updates a chart's specifications. (This does not move or resize a chart. To move or resize a chart, use UpdateEmbeddedObjectPositionRequest.)",
      "type": "object"
    },
    "DeleteDimensionGroupRequest": {
      "properties": {
        "range": {
          "description": "The range of the group to be deleted.",
          "$ref": "DimensionRange"
        }
      },
      "type": "object",
      "description": "Deletes a group over the specified range by decrementing the depth of the dimensions in the range. For example, assume the sheet has a depth-1 group over B:E and a depth-2 group over C:D. Deleting a group over D:E leaves the sheet with a depth-1 group over B:D and a depth-2 group over C:C.",
      "id": "DeleteDimensionGroupRequest"
    },
    "BandingProperties": {
      "id": "BandingProperties",
      "properties": {
        "footerColorStyle": {
          "description": "The color of the last row or column. If this field is not set, the last row or column is filled with either first_band_color or second_band_color, depending on the color of the previous row or column. If footer_color is also set, this field takes precedence.",
          "$ref": "ColorStyle"
        },
        "secondBandColor": {
          "description": "The second color that is alternating. (Required) Deprecated: Use second_band_color_style.",
          "$ref": "Color",
          "deprecated": true
        },
        "secondBandColorStyle": {
          "description": "The second color that is alternating. (Required) If second_band_color is also set, this field takes precedence.",
          "$ref": "ColorStyle"
        },
        "firstBandColorStyle": {
          "description": "The first color that is alternating. (Required) If first_band_color is also set, this field takes precedence.",
          "$ref": "ColorStyle"
        },
        "firstBandColor": {
          "deprecated": true,
          "$ref": "Color",
          "description": "The first color that is alternating. (Required) Deprecated: Use first_band_color_style."
        },
        "headerColorStyle": {
          "description": "The color of the first row or column. If this field is set, the first row or column is filled with this color and the colors alternate between first_band_color and second_band_color starting from the second row or column. Otherwise, the first row or column is filled with first_band_color and the colors proceed to alternate as they normally would. If header_color is also set, this field takes precedence.",
          "$ref": "ColorStyle"
        },
        "footerColor": {
          "description": "The color of the last row or column. If this field is not set, the last row or column is filled with either first_band_color or second_band_color, depending on the color of the previous row or column. Deprecated: Use footer_color_style.",
          "$ref": "Color",
          "deprecated": true
        },
        "headerColor": {
          "$ref": "Color",
          "deprecated": true,
          "description": "The color of the first row or column. If this field is set, the first row or column is filled with this color and the colors alternate between first_band_color and second_band_color starting from the second row or column. Otherwise, the first row or column is filled with first_band_color and the colors proceed to alternate as they normally would. Deprecated: Use header_color_style."
        }
      },
      "description": "Properties referring a single dimension (either row or column). If both BandedRange.row_properties and BandedRange.column_properties are set, the fill colors are applied to cells according to the following rules: * header_color and footer_color take priority over band colors. * first_band_color takes priority over second_band_color. * row_properties takes priority over column_properties. For example, the first row color takes priority over the first column color, but the first column color takes priority over the second row color. Similarly, the row header takes priority over the column header in the top left cell, but the column header takes priority over the first row color if the row header is not set.",
      "type": "object"
    },
    "BooleanRule": {
      "description": "A rule that may or may not match, depending on the condition.",
      "type": "object",
      "id": "BooleanRule",
      "properties": {
        "condition": {
          "description": "The condition of the rule. If the condition evaluates to true, the format is applied.",
          "$ref": "BooleanCondition"
        },
        "format": {
          "$ref": "CellFormat",
          "description": "The format to apply. Conditional formatting can only apply a subset of formatting: bold, italic, strikethrough, foreground color and, background color."
        }
      }
    },
    "AppendDimensionRequest": {
      "type": "object",
      "properties": {
        "dimension": {
          "description": "Whether rows or columns should be appended.",
          "type": "string",
          "enum": [
            "DIMENSION_UNSPECIFIED",
            "ROWS",
            "COLUMNS"
          ],
          "enumDescriptions": [
            "The default value, do not use.",
            "Operates on the rows of a sheet.",
            "Operates on the columns of a sheet."
          ]
        },
        "length": {
          "format": "int32",
          "type": "integer",
          "description": "The number of rows or columns to append."
        },
        "sheetId": {
          "description": "The sheet to append rows or columns to.",
          "format": "int32",
          "type": "integer"
        }
      },
      "id": "AppendDimensionRequest",
      "description": "Appends rows or columns to the end of a sheet."
    },
    "DataLabel": {
      "description": "Settings for one set of data labels. Data labels are annotations that appear next to a set of data, such as the points on a line chart, and provide additional information about what the data represents, such as a text representation of the value behind that point on the graph.",
      "type": "object",
      "id": "DataLabel",
      "properties": {
        "textFormat": {
          "$ref": "TextFormat",
          "description": "The text format used for the data label. The link field is not supported."
        },
        "customLabelData": {
          "$ref": "ChartData",
          "description": "Data to use for custom labels. Only used if type is set to CUSTOM. This data must be the same length as the series or other element this data label is applied to. In addition, if the series is split into multiple source ranges, this source data must come from the next column in the source data. For example, if the series is B2:B4,E6:E8 then this data must come from C2:C4,F6:F8."
        },
        "type": {
          "enumDescriptions": [
            "The data label type is not specified and will be interpreted depending on the context of the data label within the chart.",
            "The data label is not displayed.",
            "The data label is displayed using values from the series data.",
            "The data label is displayed using values from a custom data source indicated by customLabelData."
          ],
          "type": "string",
          "enum": [
            "DATA_LABEL_TYPE_UNSPECIFIED",
            "NONE",
            "DATA",
            "CUSTOM"
          ],
          "description": "The type of the data label."
        },
        "placement": {
          "description": "The placement of the data label relative to the labeled data.",
          "type": "string",
          "enum": [
            "DATA_LABEL_PLACEMENT_UNSPECIFIED",
            "CENTER",
            "LEFT",
            "RIGHT",
            "ABOVE",
            "BELOW",
            "INSIDE_END",
            "INSIDE_BASE",
            "OUTSIDE_END"
          ],
          "enumDescriptions": [
            "The positioning is determined automatically by the renderer.",
            "Center within a bar or column, both horizontally and vertically.",
            "To the left of a data point.",
            "To the right of a data point.",
            "Above a data point.",
            "Below a data point.",
            "Inside a bar or column at the end (top if positive, bottom if negative).",
            "Inside a bar or column at the base.",
            "Outside a bar or column at the end."
          ]
        }
      }
    },
    "TextRotation": {
      "type": "object",
      "properties": {
        "vertical": {
          "description": "If true, text reads top to bottom, but the orientation of individual characters is unchanged. For example: | V | | e | | r | | t | | i | | c | | a | | l |",
          "type": "boolean"
        },
        "angle": {
          "type": "integer",
          "description": "The angle between the standard orientation and the desired orientation. Measured in degrees. Valid values are between -90 and 90. Positive angles are angled upwards, negative are angled downwards. Note: For LTR text direction positive angles are in the counterclockwise direction, whereas for RTL they are in the clockwise direction",
          "format": "int32"
        }
      },
      "id": "TextRotation",
      "description": "The rotation applied to text in a cell."
    },
    "MergeCellsRequest": {
      "properties": {
        "range": {
          "description": "The range of cells to merge.",
          "$ref": "GridRange"
        },
        "mergeType": {
          "type": "string",
          "enum": [
            "MERGE_ALL",
            "MERGE_COLUMNS",
            "MERGE_ROWS"
          ],
          "enumDescriptions": [
            "Create a single merge from the range",
            "Create a merge for each column in the range",
            "Create a merge for each row in the range"
          ],
          "description": "How the cells should be merged."
        }
      },
      "type": "object",
      "id": "MergeCellsRequest",
      "description": "Merges all cells in the range."
    },
    "CancelDataSourceRefreshResponse": {
      "properties": {
        "statuses": {
          "type": "array",
          "items": {
            "$ref": "CancelDataSourceRefreshStatus"
          },
          "description": "The cancellation statuses of refreshes of all data source objects specified in the request. If is_all is specified, the field contains only those in failure status. Refreshing and canceling refresh the same data source object is also not allowed in the same `batchUpdate`."
        }
      },
      "id": "CancelDataSourceRefreshResponse",
      "type": "object",
      "description": "The response from cancelling one or multiple data source object refreshes."
    },
    "HistogramChartSpec": {
      "type": "object",
      "description": "A histogram chart. A histogram chart groups data items into bins, displaying each bin as a column of stacked items. Histograms are used to display the distribution of a dataset. Each column of items represents a range into which those items fall. The number of bins can be chosen automatically or specified explicitly.",
      "properties": {
        "bucketSize": {
          "description": "By default the bucket size (the range of values stacked in a single column) is chosen automatically, but it may be overridden here. E.g., A bucket size of 1.5 results in buckets from 0 - 1.5, 1.5 - 3.0, etc. Cannot be negative. This field is optional.",
          "type": "number",
          "format": "double"
        },
        "series": {
          "type": "array",
          "items": {
            "$ref": "HistogramSeries"
          },
          "description": "The series for a histogram may be either a single series of values to be bucketed or multiple series, each of the same length, containing the name of the series followed by the values to be bucketed for that series."
        },
        "showItemDividers": {
          "type": "boolean",
          "description": "Whether horizontal divider lines should be displayed between items in each column."
        },
        "outlierPercentile": {
          "format": "double",
          "description": "The outlier percentile is used to ensure that outliers do not adversely affect the calculation of bucket sizes. For example, setting an outlier percentile of 0.05 indicates that the top and bottom 5% of values when calculating buckets. The values are still included in the chart, they will be added to the first or last buckets instead of their own buckets. Must be between 0.0 and 0.5.",
          "type": "number"
        },
        "legendPosition": {
          "enumDescriptions": [
            "Default value, do not use.",
            "The legend is rendered on the bottom of the chart.",
            "The legend is rendered on the left of the chart.",
            "The legend is rendered on the right of the chart.",
            "The legend is rendered on the top of the chart.",
            "No legend is rendered.",
            "The legend is rendered inside the chart area."
          ],
          "description": "The position of the chart legend.",
          "type": "string",
          "enum": [
            "HISTOGRAM_CHART_LEGEND_POSITION_UNSPECIFIED",
            "BOTTOM_LEGEND",
            "LEFT_LEGEND",
            "RIGHT_LEGEND",
            "TOP_LEGEND",
            "NO_LEGEND",
            "INSIDE_LEGEND"
          ]
        }
      },
      "id": "HistogramChartSpec"
    },
    "GetSpreadsheetByDataFilterRequest": {
      "description": "The request for retrieving a Spreadsheet.",
      "id": "GetSpreadsheetByDataFilterRequest",
      "properties": {
        "dataFilters": {
          "items": {
            "$ref": "DataFilter"
          },
          "type": "array",
          "description": "The DataFilters used to select which ranges to retrieve from the spreadsheet."
        },
        "includeGridData": {
          "type": "boolean",
          "description": "True if grid data should be returned. This parameter is ignored if a field mask was set in the request."
        },
        "excludeTablesInBandedRanges": {
          "type": "boolean",
          "description": "True if tables should be excluded in the banded ranges. False if not set."
        }
      },
      "type": "object"
    },
    "AddSlicerRequest": {
      "properties": {
        "slicer": {
          "description": "The slicer that should be added to the spreadsheet, including the position where it should be placed. The slicerId field is optional; if one is not set, an id will be randomly generated. (It is an error to specify the ID of a slicer that already exists.)",
          "$ref": "Slicer"
        }
      },
      "type": "object",
      "id": "AddSlicerRequest",
      "description": "Adds a slicer to a sheet in the spreadsheet."
    },
    "DeleteConditionalFormatRuleResponse": {
      "id": "DeleteConditionalFormatRuleResponse",
      "description": "The result of deleting a conditional format rule.",
      "properties": {
        "rule": {
          "$ref": "ConditionalFormatRule",
          "description": "The rule that was deleted."
        }
      },
      "type": "object"
    },
    "CandlestickData": {
      "id": "CandlestickData",
      "properties": {
        "highSeries": {
          "description": "The range data (vertical axis) for the high/maximum value for each candle. This is the top of the candle's center line.",
          "$ref": "CandlestickSeries"
        },
        "lowSeries": {
          "description": "The range data (vertical axis) for the low/minimum value for each candle. This is the bottom of the candle's center line.",
          "$ref": "CandlestickSeries"
        },
        "openSeries": {
          "$ref": "CandlestickSeries",
          "description": "The range data (vertical axis) for the open/initial value for each candle. This is the bottom of the candle body. If less than the close value the candle will be filled. Otherwise the candle will be hollow."
        },
        "closeSeries": {
          "description": "The range data (vertical axis) for the close/final value for each candle. This is the top of the candle body. If greater than the open value the candle will be filled. Otherwise the candle will be hollow.",
          "$ref": "CandlestickSeries"
        }
      },
      "type": "object",
      "description": "The Candlestick chart data, each containing the low, open, close, and high values for a series."
    },
    "SpreadsheetTheme": {
      "properties": {
        "primaryFontFamily": {
          "description": "Name of the primary font family.",
          "type": "string"
        },
        "themeColors": {
          "description": "The spreadsheet theme color pairs. To update you must provide all theme color pairs.",
          "type": "array",
          "items": {
            "$ref": "ThemeColorPair"
          }
        }
      },
      "id": "SpreadsheetTheme",
      "description": "Represents spreadsheet theme",
      "type": "object"
    },
    "DeveloperMetadataLookup": {
      "id": "DeveloperMetadataLookup",
      "properties": {
        "metadataLocation": {
          "$ref": "DeveloperMetadataLocation",
          "description": "Limits the selected developer metadata to those entries associated with the specified location. This field either matches exact locations or all intersecting locations according the specified locationMatchingStrategy."
        },
        "visibility": {
          "description": "Limits the selected developer metadata to that which has a matching DeveloperMetadata.visibility. If left unspecified, all developer metadata visible to the requesting project is considered.",
          "type": "string",
          "enum": [
            "DEVELOPER_METADATA_VISIBILITY_UNSPECIFIED",
            "DOCUMENT",
            "PROJECT"
          ],
          "enumDescriptions": [
            "Default value.",
            "Document-visible metadata is accessible from any developer project with access to the document.",
            "Project-visible metadata is only visible to and accessible by the developer project that created the metadata."
          ]
        },
        "locationType": {
          "description": "Limits the selected developer metadata to those entries which are associated with locations of the specified type. For example, when this field is specified as ROW this lookup only considers developer metadata associated on rows. If the field is left unspecified, all location types are considered. This field cannot be specified as SPREADSHEET when the locationMatchingStrategy is specified as INTERSECTING or when the metadataLocation is specified as a non-spreadsheet location. Spreadsheet metadata cannot intersect any other developer metadata location. This field also must be left unspecified when the locationMatchingStrategy is specified as EXACT.",
          "type": "string",
          "enum": [
            "DEVELOPER_METADATA_LOCATION_TYPE_UNSPECIFIED",
            "ROW",
            "COLUMN",
            "SHEET",
            "SPREADSHEET"
          ],
          "enumDescriptions": [
            "Default value.",
            "Developer metadata associated on an entire row dimension.",
            "Developer metadata associated on an entire column dimension.",
            "Developer metadata associated on an entire sheet.",
            "Developer metadata associated on the entire spreadsheet."
          ]
        },
        "metadataId": {
          "description": "Limits the selected developer metadata to that which has a matching DeveloperMetadata.metadata_id.",
          "format": "int32",
          "type": "integer"
        },
        "metadataValue": {
          "type": "string",
          "description": "Limits the selected developer metadata to that which has a matching DeveloperMetadata.metadata_value."
        },
        "metadataKey": {
          "description": "Limits the selected developer metadata to that which has a matching DeveloperMetadata.metadata_key.",
          "type": "string"
        },
        "locationMatchingStrategy": {
          "description": "Determines how this lookup matches the location. If this field is specified as EXACT, only developer metadata associated on the exact location specified is matched. If this field is specified to INTERSECTING, developer metadata associated on intersecting locations is also matched. If left unspecified, this field assumes a default value of INTERSECTING. If this field is specified, a metadataLocation must also be specified.",
          "enumDescriptions": [
            "Default value. This value must not be used.",
            "Indicates that a specified location should be matched exactly. For example, if row three were specified as a location this matching strategy would only match developer metadata also associated on row three. Metadata associated on other locations would not be considered.",
            "Indicates that a specified location should match that exact location as well as any intersecting locations. For example, if row three were specified as a location this matching strategy would match developer metadata associated on row three as well as metadata associated on locations that intersect row three. If, for instance, there was developer metadata associated on column B, this matching strategy would also match that location because column B intersects row three."
          ],
          "type": "string",
          "enum": [
            "DEVELOPER_METADATA_LOCATION_MATCHING_STRATEGY_UNSPECIFIED",
            "EXACT_LOCATION",
            "INTERSECTING_LOCATION"
          ]
        }
      },
      "type": "object",
      "description": "Selects DeveloperMetadata that matches all of the specified fields. For example, if only a metadata ID is specified this considers the DeveloperMetadata with that particular unique ID. If a metadata key is specified, this considers all developer metadata with that key. If a key, visibility, and location type are all specified, this considers all developer metadata with that key and visibility that are associated with a location of that type. In general, this selects all DeveloperMetadata that match the intersection of all the specified fields; any field or combination of fields may be specified."
    },
    "ChartHistogramRule": {
      "description": "Allows you to organize numeric values in a source data column into buckets of constant size.",
      "properties": {
        "maxValue": {
          "type": "number",
          "format": "double",
          "description": "The maximum value at which items are placed into buckets. Values greater than the maximum are grouped into a single bucket. If omitted, it is determined by the maximum item value."
        },
        "intervalSize": {
          "description": "The size of the buckets that are created. Must be positive.",
          "type": "number",
          "format": "double"
        },
        "minValue": {
          "description": "The minimum value at which items are placed into buckets. Values that are less than the minimum are grouped into a single bucket. If omitted, it is determined by the minimum item value.",
          "format": "double",
          "type": "number"
        }
      },
      "type": "object",
      "id": "ChartHistogramRule"
    },
    "BasicChartDomain": {
      "id": "BasicChartDomain",
      "properties": {
        "reversed": {
          "type": "boolean",
          "description": "True to reverse the order of the domain values (horizontal axis)."
        },
        "domain": {
          "$ref": "ChartData",
          "description": "The data of the domain. For example, if charting stock prices over time, this is the data representing the dates."
        }
      },
      "description": "The domain of a chart. For example, if charting stock prices over time, this would be the date.",
      "type": "object"
    },
    "ScorecardChartSpec": {
      "description": "A scorecard chart. Scorecard charts are used to highlight key performance indicators, known as KPIs, on the spreadsheet. A scorecard chart can represent things like total sales, average cost, or a top selling item. You can specify a single data value, or aggregate over a range of data. Percentage or absolute difference from a baseline value can be highlighted, like changes over time.",
      "id": "ScorecardChartSpec",
      "type": "object",
      "properties": {
        "keyValueData": {
          "description": "The data for scorecard key value.",
          "$ref": "ChartData"
        },
        "aggregateType": {
          "description": "The aggregation type for key and baseline chart data in scorecard chart. This field is not supported for data source charts. Use the ChartData.aggregateType field of the key_value_data or baseline_value_data instead for data source charts. This field is optional.",
          "type": "string",
          "enum": [
            "CHART_AGGREGATE_TYPE_UNSPECIFIED",
            "AVERAGE",
            "COUNT",
            "MAX",
            "MEDIAN",
            "MIN",
            "SUM"
          ],
          "enumDescriptions": [
            "Default value, do not use.",
            "Average aggregate function.",
            "Count aggregate function.",
            "Maximum aggregate function.",
            "Median aggregate function.",
            "Minimum aggregate function.",
            "Sum aggregate function."
          ]
        },
        "customFormatOptions": {
          "$ref": "ChartCustomNumberFormatOptions",
          "description": "Custom formatting options for numeric key/baseline values in scorecard chart. This field is used only when number_format_source is set to CUSTOM. This field is optional."
        },
        "numberFormatSource": {
          "description": "The number format source used in the scorecard chart. This field is optional.",
          "type": "string",
          "enum": [
            "CHART_NUMBER_FORMAT_SOURCE_UNDEFINED",
            "FROM_DATA",
            "CUSTOM"
          ],
          "enumDescriptions": [
            "Default value, do not use.",
            "Inherit number formatting from data.",
            "Apply custom formatting as specified by ChartCustomNumberFormatOptions."
          ]
        },
        "baselineValueData": {
          "$ref": "ChartData",
          "description": "The data for scorecard baseline value. This field is optional."
        },
        "keyValueFormat": {
          "description": "Formatting options for key value.",
          "$ref": "KeyValueFormat"
        },
        "baselineValueFormat": {
          "description": "Formatting options for baseline value. This field is needed only if baseline_value_data is specified.",
          "$ref": "BaselineValueFormat"
        },
        "scaleFactor": {
          "type": "number",
          "description": "Value to scale scorecard key and baseline value. For example, a factor of 10 can be used to divide all values in the chart by 10. This field is optional.",
          "format": "double"
        }
      }
    },
    "TextPosition": {
      "description": "Position settings for text.",
      "properties": {
        "horizontalAlignment": {
          "description": "Horizontal alignment setting for the piece of text.",
          "type": "string",
          "enum": [
            "HORIZONTAL_ALIGN_UNSPECIFIED",
            "LEFT",
            "CENTER",
            "RIGHT"
          ],
          "enumDescriptions": [
            "The horizontal alignment is not specified. Do not use this.",
            "The text is explicitly aligned to the left of the cell.",
            "The text is explicitly aligned to the center of the cell.",
            "The text is explicitly aligned to the right of the cell."
          ]
        }
      },
      "type": "object",
      "id": "TextPosition"
    },
    "UpdateEmbeddedObjectPositionResponse": {
      "id": "UpdateEmbeddedObjectPositionResponse",
      "description": "The result of updating an embedded object's position.",
      "type": "object",
      "properties": {
        "position": {
          "$ref": "EmbeddedObjectPosition",
          "description": "The new position of the embedded object."
        }
      }
    },
    "DeleteBandingRequest": {
      "properties": {
        "bandedRangeId": {
          "description": "The ID of the banded range to delete.",
          "format": "int32",
          "type": "integer"
        }
      },
      "type": "object",
      "id": "DeleteBandingRequest",
      "description": "Removes the banded range with the given ID from the spreadsheet."
    },
    "AddChartRequest": {
      "type": "object",
      "description": "Adds a chart to a sheet in the spreadsheet.",
      "id": "AddChartRequest",
      "properties": {
        "chart": {
          "description": "The chart that should be added to the spreadsheet, including the position where it should be placed. The chartId field is optional; if one is not set, an id will be randomly generated. (It is an error to specify the ID of an embedded object that already exists.)",
          "$ref": "EmbeddedChart"
        }
      }
    },
    "DeleteEmbeddedObjectRequest": {
      "id": "DeleteEmbeddedObjectRequest",
      "description": "Deletes the embedded object with the given ID.",
      "type": "object",
      "properties": {
        "objectId": {
          "format": "int32",
          "type": "integer",
          "description": "The ID of the embedded object to delete."
        }
      }
    },
    "Editors": {
      "description": "The editors of a protected range.",
      "id": "Editors",
      "type": "object",
      "properties": {
        "domainUsersCanEdit": {
          "description": "True if anyone in the document's domain has edit access to the protected range. Domain protection is only supported on documents within a domain.",
          "type": "boolean"
        },
        "groups": {
          "type": "array",
          "description": "The email addresses of groups with edit access to the protected range.",
          "items": {
            "type": "string"
          }
        },
        "users": {
          "items": {
            "type": "string"
          },
          "description": "The email addresses of users with edit access to the protected range.",
          "type": "array"
        }
      }
    },
    "SortSpec": {
      "properties": {
        "sortOrder": {
          "type": "string",
          "enum": [
            "SORT_ORDER_UNSPECIFIED",
            "ASCENDING",
            "DESCENDING"
          ],
          "description": "The order data should be sorted.",
          "enumDescriptions": [
            "Default value, do not use this.",
            "Sort ascending.",
            "Sort descending."
          ]
        },
        "dimensionIndex": {
          "format": "int32",
          "description": "The dimension the sort should be applied to.",
          "type": "integer"
        },
        "foregroundColorStyle": {
          "description": "The foreground color to sort by; cells with this foreground color are sorted to the top. Mutually exclusive with background_color, and must be an RGB-type color. If foreground_color is also set, this field takes precedence.",
          "$ref": "ColorStyle"
        },
        "foregroundColor": {
          "$ref": "Color",
          "description": "The foreground color to sort by; cells with this foreground color are sorted to the top. Mutually exclusive with background_color. Deprecated: Use foreground_color_style.",
          "deprecated": true
        },
        "dataSourceColumnReference": {
          "description": "Reference to a data source column.",
          "$ref": "DataSourceColumnReference"
        },
        "backgroundColor": {
          "$ref": "Color",
          "description": "The background fill color to sort by; cells with this fill color are sorted to the top. Mutually exclusive with foreground_color. Deprecated: Use background_color_style.",
          "deprecated": true
        },
        "backgroundColorStyle": {
          "description": "The background fill color to sort by; cells with this fill color are sorted to the top. Mutually exclusive with foreground_color, and must be an RGB-type color. If background_color is also set, this field takes precedence.",
          "$ref": "ColorStyle"
        }
      },
      "id": "SortSpec",
      "description": "A sort order associated with a specific column or row.",
      "type": "object"
    },
    "Request": {
      "type": "object",
      "description": "A single kind of update to apply to a spreadsheet.",
      "id": "Request",
      "properties": {
        "duplicateFilterView": {
          "$ref": "DuplicateFilterViewRequest",
          "description": "Duplicates a filter view."
        },
        "cutPaste": {
          "$ref": "CutPasteRequest",
          "description": "Cuts data from one area and pastes it to another."
        },
        "updateDeveloperMetadata": {
          "description": "Updates an existing developer metadata entry",
          "$ref": "UpdateDeveloperMetadataRequest"
        },
        "deleteDeveloperMetadata": {
          "$ref": "DeleteDeveloperMetadataRequest",
          "description": "Deletes developer metadata"
        },
        "clearBasicFilter": {
          "description": "Clears the basic filter on a sheet.",
          "$ref": "ClearBasicFilterRequest"
        },
        "deleteConditionalFormatRule": {
          "$ref": "DeleteConditionalFormatRuleRequest",
          "description": "Deletes an existing conditional format rule."
        },
        "textToColumns": {
          "description": "Converts a column of text into many columns of text.",
          "$ref": "TextToColumnsRequest"
        },
        "updateSpreadsheetProperties": {
          "$ref": "UpdateSpreadsheetPropertiesRequest",
          "description": "Updates the spreadsheet's properties."
        },
        "createDeveloperMetadata": {
          "description": "Creates new developer metadata",
          "$ref": "CreateDeveloperMetadataRequest"
        },
        "moveDimension": {
          "$ref": "MoveDimensionRequest",
          "description": "Moves rows or columns to another location in a sheet."
        },
        "trimWhitespace": {
          "$ref": "TrimWhitespaceRequest",
          "description": "Trims cells of whitespace (such as spaces, tabs, or new lines)."
        },
        "insertDimension": {
          "description": "Inserts new rows or columns in a sheet.",
          "$ref": "InsertDimensionRequest"
        },
        "updateConditionalFormatRule": {
          "description": "Updates an existing conditional format rule.",
          "$ref": "UpdateConditionalFormatRuleRequest"
        },
        "addSlicer": {
          "description": "Adds a slicer.",
          "$ref": "AddSlicerRequest"
        },
        "updateNamedRange": {
          "description": "Updates a named range.",
          "$ref": "UpdateNamedRangeRequest"
        },
        "addSheet": {
          "description": "Adds a sheet.",
          "$ref": "AddSheetRequest"
        },
        "pasteData": {
          "$ref": "PasteDataRequest",
          "description": "Pastes data (HTML or delimited) into a sheet."
        },
        "addBanding": {
          "$ref": "AddBandingRequest",
          "description": "Adds a new banded range"
        },
        "updateTable": {
          "$ref": "UpdateTableRequest",
          "description": "Updates a table."
        },
        "sortRange": {
          "description": "Sorts data in a range.",
          "$ref": "SortRangeRequest"
        },
        "addFilterView": {
          "$ref": "AddFilterViewRequest",
          "description": "Adds a filter view."
        },
        "updateFilterView": {
          "$ref": "UpdateFilterViewRequest",
          "description": "Updates the properties of a filter view."
        },
        "repeatCell": {
          "description": "Repeats a single cell across a range.",
          "$ref": "RepeatCellRequest"
        },
        "deleteFilterView": {
          "$ref": "DeleteFilterViewRequest",
          "description": "Deletes a filter view from a sheet."
        },
        "updateBanding": {
          "$ref": "UpdateBandingRequest",
          "description": "Updates a banded range"
        },
        "cancelDataSourceRefresh": {
          "$ref": "CancelDataSourceRefreshRequest",
          "description": "Cancels refreshes of one or multiple data sources and associated dbobjects."
        },
        "deleteSheet": {
          "description": "Deletes a sheet.",
          "$ref": "DeleteSheetRequest"
        },
        "duplicateSheet": {
          "description": "Duplicates a sheet.",
          "$ref": "DuplicateSheetRequest"
        },
        "deleteTable": {
          "$ref": "DeleteTableRequest",
          "description": "A request for deleting a table."
        },
        "addChart": {
          "description": "Adds a chart.",
          "$ref": "AddChartRequest"
        },
        "deleteRange": {
          "description": "Deletes a range of cells from a sheet, shifting the remaining cells.",
          "$ref": "DeleteRangeRequest"
        },
        "updateEmbeddedObjectPosition": {
          "$ref": "UpdateEmbeddedObjectPositionRequest",
          "description": "Updates an embedded object's (e.g. chart, image) position."
        },
        "updateChartSpec": {
          "$ref": "UpdateChartSpecRequest",
          "description": "Updates a chart's specifications."
        },
        "deleteEmbeddedObject": {
          "description": "Deletes an embedded object (e.g, chart, image) in a sheet.",
          "$ref": "DeleteEmbeddedObjectRequest"
        },
        "updateCells": {
          "$ref": "UpdateCellsRequest",
          "description": "Updates many cells at once."
        },
        "deleteNamedRange": {
          "description": "Deletes a named range.",
          "$ref": "DeleteNamedRangeRequest"
        },
        "updateDataSource": {
          "$ref": "UpdateDataSourceRequest",
          "description": "Updates a data source."
        },
        "setDataValidation": {
          "$ref": "SetDataValidationRequest",
          "description": "Sets data validation for one or more cells."
        },
        "autoFill": {
          "$ref": "AutoFillRequest",
          "description": "Automatically fills in more data based on existing data."
        },
        "autoResizeDimensions": {
          "description": "Automatically resizes one or more dimensions based on the contents of the cells in that dimension.",
          "$ref": "AutoResizeDimensionsRequest"
        },
        "deleteProtectedRange": {
          "$ref": "DeleteProtectedRangeRequest",
          "description": "Deletes a protected range."
        },
        "addNamedRange": {
          "$ref": "AddNamedRangeRequest",
          "description": "Adds a named range."
        },
        "deleteDataSource": {
          "$ref": "DeleteDataSourceRequest",
          "description": "Deletes a data source."
        },
        "deleteDuplicates": {
          "description": "Removes rows containing duplicate values in specified columns of a cell range.",
          "$ref": "DeleteDuplicatesRequest"
        },
        "addDimensionGroup": {
          "description": "Creates a group over the specified range.",
          "$ref": "AddDimensionGroupRequest"
        },
        "appendCells": {
          "description": "Appends cells after the last row with data in a sheet.",
          "$ref": "AppendCellsRequest"
        },
        "updateDimensionProperties": {
          "description": "Updates dimensions' properties.",
          "$ref": "UpdateDimensionPropertiesRequest"
        },
        "appendDimension": {
          "$ref": "AppendDimensionRequest",
          "description": "Appends dimensions to the end of a sheet."
        },
        "insertRange": {
          "description": "Inserts new cells in a sheet, shifting the existing cells.",
          "$ref": "InsertRangeRequest"
        },
        "deleteBanding": {
          "$ref": "DeleteBandingRequest",
          "description": "Removes a banded range"
        },
        "updateSlicerSpec": {
          "description": "Updates a slicer's specifications.",
          "$ref": "UpdateSlicerSpecRequest"
        },
        "updateProtectedRange": {
          "$ref": "UpdateProtectedRangeRequest",
          "description": "Updates a protected range."
        },
        "randomizeRange": {
          "description": "Randomizes the order of the rows in a range.",
          "$ref": "RandomizeRangeRequest"
        },
        "refreshDataSource": {
          "$ref": "RefreshDataSourceRequest",
          "description": "Refreshes one or multiple data sources and associated dbobjects."
        },
        "setBasicFilter": {
          "$ref": "SetBasicFilterRequest",
          "description": "Sets the basic filter on a sheet."
        },
        "addProtectedRange": {
          "$ref": "AddProtectedRangeRequest",
          "description": "Adds a protected range."
        },
        "mergeCells": {
          "description": "Merges cells together.",
          "$ref": "MergeCellsRequest"
        },
        "addDataSource": {
          "description": "Adds a data source.",
          "$ref": "AddDataSourceRequest"
        },
        "unmergeCells": {
          "description": "Unmerges merged cells.",
          "$ref": "UnmergeCellsRequest"
        },
        "copyPaste": {
          "description": "Copies data from one area and pastes it to another.",
          "$ref": "CopyPasteRequest"
        },
        "updateDimensionGroup": {
          "description": "Updates the state of the specified group.",
          "$ref": "UpdateDimensionGroupRequest"
        },
        "addTable": {
          "description": "Adds a table.",
          "$ref": "AddTableRequest"
        },
        "deleteDimension": {
          "$ref": "DeleteDimensionRequest",
          "description": "Deletes rows or columns in a sheet."
        },
        "updateEmbeddedObjectBorder": {
          "$ref": "UpdateEmbeddedObjectBorderRequest",
          "description": "Updates an embedded object's border."
        },
        "updateBorders": {
          "$ref": "UpdateBordersRequest",
          "description": "Updates the borders in a range of cells."
        },
        "deleteDimensionGroup": {
          "description": "Deletes a group over the specified range.",
          "$ref": "DeleteDimensionGroupRequest"
        },
        "updateSheetProperties": {
          "$ref": "UpdateSheetPropertiesRequest",
          "description": "Updates a sheet's properties."
        },
        "addConditionalFormatRule": {
          "$ref": "AddConditionalFormatRuleRequest",
          "description": "Adds a new conditional format rule."
        },
        "findReplace": {
          "$ref": "FindReplaceRequest",
          "description": "Finds and replaces occurrences of some text with other text."
        }
      }
    },
    "DateTimeRule": {
      "type": "object",
      "properties": {
        "type": {
          "enumDescriptions": [
            "The default type, do not use.",
            "Group dates by second, from 0 to 59.",
            "Group dates by minute, from 0 to 59.",
            "Group dates by hour using a 24-hour system, from 0 to 23.",
            "Group dates by hour and minute using a 24-hour system, for example 19:45.",
            "Group dates by hour and minute using a 12-hour system, for example 7:45 PM. The AM/PM designation is translated based on the spreadsheet locale.",
            "Group dates by day of week, for example Sunday. The days of the week will be translated based on the spreadsheet locale.",
            "Group dates by day of year, from 1 to 366. Note that dates after Feb. 29 fall in different buckets in leap years than in non-leap years.",
            "Group dates by day of month, from 1 to 31.",
            "Group dates by day and month, for example 22-Nov. The month is translated based on the spreadsheet locale.",
            "Group dates by month, for example Nov. The month is translated based on the spreadsheet locale.",
            "Group dates by quarter, for example Q1 (which represents Jan-Mar).",
            "Group dates by year, for example 2008.",
            "Group dates by year and month, for example 2008-Nov. The month is translated based on the spreadsheet locale.",
            "Group dates by year and quarter, for example 2008 Q4.",
            "Group dates by year, month, and day, for example 2008-11-22."
          ],
          "description": "The type of date-time grouping to apply.",
          "type": "string",
          "enum": [
            "DATE_TIME_RULE_TYPE_UNSPECIFIED",
            "SECOND",
            "MINUTE",
            "HOUR",
            "HOUR_MINUTE",
            "HOUR_MINUTE_AMPM",
            "DAY_OF_WEEK",
            "DAY_OF_YEAR",
            "DAY_OF_MONTH",
            "DAY_MONTH",
            "MONTH",
            "QUARTER",
            "YEAR",
            "YEAR_MONTH",
            "YEAR_QUARTER",
            "YEAR_MONTH_DAY"
          ]
        }
      },
      "description": "Allows you to organize the date-time values in a source data column into buckets based on selected parts of their date or time values. For example, consider a pivot table showing sales transactions by date: +----------+--------------+ | Date | SUM of Sales | +----------+--------------+ | 1/1/2017 | $621.14 | | 2/3/2017 | $708.84 | | 5/8/2017 | $326.84 | ... +----------+--------------+ Applying a date-time group rule with a DateTimeRuleType of YEAR_MONTH results in the following pivot table. +--------------+--------------+ | Grouped Date | SUM of Sales | +--------------+--------------+ | 2017-Jan | $53,731.78 | | 2017-Feb | $83,475.32 | | 2017-Mar | $94,385.05 | ... +--------------+--------------+",
      "id": "DateTimeRule"
    },
    "DataExecutionStatus": {
      "properties": {
        "state": {
          "description": "The state of the data execution.",
          "enumDescriptions": [
            "Default value, do not use.",
            "The data execution has not started.",
            "The data execution has started and is running.",
            "The data execution is currently being cancelled.",
            "The data execution has completed successfully.",
            "The data execution has completed with errors."
          ],
          "type": "string",
          "enum": [
            "DATA_EXECUTION_STATE_UNSPECIFIED",
            "NOT_STARTED",
            "RUNNING",
            "CANCELLING",
            "SUCCEEDED",
            "FAILED"
          ]
        },
        "lastRefreshTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Gets the time the data last successfully refreshed."
        },
        "errorMessage": {
          "type": "string",
          "description": "The error message, which may be empty."
        },
        "errorCode": {
          "type": "string",
          "enum": [
            "DATA_EXECUTION_ERROR_CODE_UNSPECIFIED",
            "TIMED_OUT",
            "TOO_MANY_ROWS",
            "TOO_MANY_COLUMNS",
            "TOO_MANY_CELLS",
            "ENGINE",
            "PARAMETER_INVALID",
            "UNSUPPORTED_DATA_TYPE",
            "DUPLICATE_COLUMN_NAMES",
            "INTERRUPTED",
            "CONCURRENT_QUERY",
            "OTHER",
            "TOO_MANY_CHARS_PER_CELL",
            "DATA_NOT_FOUND",
            "PERMISSION_DENIED",
            "MISSING_COLUMN_ALIAS",
            "OBJECT_NOT_FOUND",
            "OBJECT_IN_ERROR_STATE",
            "OBJECT_SPEC_INVALID",
            "DATA_EXECUTION_CANCELLED"
          ],
          "enumDescriptions": [
            "Default value, do not use.",
            "The data execution timed out.",
            "The data execution returns more rows than the limit.",
            "The data execution returns more columns than the limit.",
            "The data execution returns more cells than the limit.",
            "Error is received from the backend data execution engine (e.g. BigQuery). Check error_message for details.",
            "One or some of the provided data source parameters are invalid.",
            "The data execution returns an unsupported data type.",
            "The data execution returns duplicate column names or aliases.",
            "The data execution is interrupted. Please refresh later.",
            "The data execution is currently in progress, can not be refreshed until it completes.",
            "Other errors.",
            "The data execution returns values that exceed the maximum characters allowed in a single cell.",
            "The database referenced by the data source is not found. */",
            "The user does not have access to the database referenced by the data source.",
            "The data execution returns columns with missing aliases.",
            "The data source object does not exist.",
            "The data source object is currently in error state. To force refresh, set force in RefreshDataSourceRequest.",
            "The data source object specification is invalid.",
            "The data execution has been cancelled."
          ],
          "description": "The error code."
        }
      },
      "id": "DataExecutionStatus",
      "description": "The data execution status. A data execution is created to sync a data source object with the latest data from a DataSource. It is usually scheduled to run at background, you can check its state to tell if an execution completes There are several scenarios where a data execution is triggered to run: * Adding a data source creates an associated data source sheet as well as a data execution to sync the data from the data source to the sheet. * Updating a data source creates a data execution to refresh the associated data source sheet similarly. * You can send refresh request to explicitly refresh one or multiple data source objects.",
      "type": "object"
    },
    "UpdateProtectedRangeRequest": {
      "properties": {
        "protectedRange": {
          "description": "The protected range to update with the new properties.",
          "$ref": "ProtectedRange"
        },
        "fields": {
          "format": "google-fieldmask",
          "type": "string",
          "description": "The fields that should be updated. At least one field must be specified. The root `protectedRange` is implied and should not be specified. A single `\"*\"` can be used as short-hand for listing every field."
        }
      },
      "id": "UpdateProtectedRangeRequest",
      "description": "Updates an existing protected range with the specified protectedRangeId.",
      "type": "object"
    },
    "BatchUpdateSpreadsheetRequest": {
      "description": "The request for updating any aspect of a spreadsheet.",
      "id": "BatchUpdateSpreadsheetRequest",
      "type": "object",
      "properties": {
        "requests": {
          "items": {
            "$ref": "Request"
          },
          "type": "array",
          "description": "A list of updates to apply to the spreadsheet. Requests will be applied in the order they are specified. If any request is not valid, no requests will be applied."
        },
        "includeSpreadsheetInResponse": {
          "description": "Determines if the update response should include the spreadsheet resource.",
          "type": "boolean"
        },
        "responseIncludeGridData": {
          "type": "boolean",
          "description": "True if grid data should be returned. Meaningful only if include_spreadsheet_in_response is 'true'. This parameter is ignored if a field mask was set in the request."
        },
        "responseRanges": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Limits the ranges included in the response spreadsheet. Meaningful only if include_spreadsheet_in_response is 'true'."
        }
      }
    },
    "TableRowsProperties": {
      "type": "object",
      "id": "TableRowsProperties",
      "properties": {
        "firstBandColorStyle": {
          "description": "The first color that is alternating. If this field is set, the first banded row is filled with the specified color. Otherwise, the first banded row is filled with a default color.",
          "$ref": "ColorStyle"
        },
        "footerColorStyle": {
          "description": "The color of the last row. If this field is not set a footer is not added, the last row is filled with either first_band_color_style or second_band_color_style, depending on the color of the previous row. If updating an existing table without a footer to have a footer, the range will be expanded by 1 row. If updating an existing table with a footer and removing a footer, the range will be shrunk by 1 row.",
          "$ref": "ColorStyle"
        },
        "headerColorStyle": {
          "description": "The color of the header row. If this field is set, the header row is filled with the specified color. Otherwise, the header row is filled with a default color.",
          "$ref": "ColorStyle"
        },
        "secondBandColorStyle": {
          "description": "The second color that is alternating. If this field is set, the second banded row is filled with the specified color. Otherwise, the second banded row is filled with a default color.",
          "$ref": "ColorStyle"
        }
      },
      "description": "The table row properties."
    },
    "CutPasteRequest": {
      "description": "Moves data from the source to the destination.",
      "type": "object",
      "properties": {
        "source": {
          "$ref": "GridRange",
          "description": "The source data to cut."
        },
        "pasteType": {
          "type": "string",
          "enum": [
            "PASTE_NORMAL",
            "PASTE_VALUES",
            "PASTE_FORMAT",
            "PASTE_NO_BORDERS",
            "PASTE_FORMULA",
            "PASTE_DATA_VALIDATION",
            "PASTE_CONDITIONAL_FORMATTING"
          ],
          "description": "What kind of data to paste. All the source data will be cut, regardless of what is pasted.",
          "enumDescriptions": [
            "Paste values, formulas, formats, and merges.",
            "Paste the values ONLY without formats, formulas, or merges.",
            "Paste the format only, excluding data validation.",
            "Like `PASTE_NORMAL` but without borders.",
            "Paste the formulas only.",
            "Paste the data validation only.",
            "Paste the conditional formatting rules only."
          ]
        },
        "destination": {
          "description": "The top-left coordinate where the data should be pasted.",
          "$ref": "GridCoordinate"
        }
      },
      "id": "CutPasteRequest"
    },
    "DeleteDuplicatesResponse": {
      "id": "DeleteDuplicatesResponse",
      "type": "object",
      "description": "The result of removing duplicates in a range.",
      "properties": {
        "duplicatesRemovedCount": {
          "format": "int32",
          "description": "The number of duplicate rows removed.",
          "type": "integer"
        }
      }
    },
    "AddBandingRequest": {
      "properties": {
        "bandedRange": {
          "$ref": "BandedRange",
          "description": "The banded range to add. The bandedRangeId field is optional; if one is not set, an id will be randomly generated. (It is an error to specify the ID of a range that already exists.)"
        }
      },
      "type": "object",
      "id": "AddBandingRequest",
      "description": "Adds a new banded range to the spreadsheet."
    },
    "BigQueryTableSpec": {
      "properties": {
        "tableId": {
          "description": "The BigQuery table id.",
          "type": "string"
        },
        "tableProjectId": {
          "description": "The ID of a BigQuery project the table belongs to. If not specified, the project_id is assumed.",
          "type": "string"
        },
        "datasetId": {
          "description": "The BigQuery dataset id.",
          "type": "string"
        }
      },
      "description": "Specifies a BigQuery table definition. Only [native tables](https://cloud.google.com/bigquery/docs/tables-intro) are allowed.",
      "id": "BigQueryTableSpec",
      "type": "object"
    },
    "Table": {
      "id": "Table",
      "properties": {
        "tableId": {
          "type": "string",
          "description": "The id of the table."
        },
        "name": {
          "type": "string",
          "description": "The table name. This is unique to all tables in the same spreadsheet."
        },
        "columnProperties": {
          "type": "array",
          "description": "The table column properties.",
          "items": {
            "$ref": "TableColumnProperties"
          }
        },
        "rowsProperties": {
          "description": "The table rows properties.",
          "$ref": "TableRowsProperties"
        },
        "range": {
          "description": "The table range.",
          "$ref": "GridRange"
        }
      },
      "type": "object",
      "description": "A table."
    },
    "AddSheetResponse": {
      "id": "AddSheetResponse",
      "description": "The result of adding a sheet.",
      "type": "object",
      "properties": {
        "properties": {
          "description": "The properties of the newly added sheet.",
          "$ref": "SheetProperties"
        }
      }
    },
    "BatchGetValuesByDataFilterResponse": {
      "description": "The response when retrieving more than one range of values in a spreadsheet selected by DataFilters.",
      "id": "BatchGetValuesByDataFilterResponse",
      "type": "object",
      "properties": {
        "valueRanges": {
          "items": {
            "$ref": "MatchedValueRange"
          },
          "type": "array",
          "description": "The requested values with the list of data filters that matched them."
        },
        "spreadsheetId": {
          "description": "The ID of the spreadsheet the data was retrieved from.",
          "type": "string"
        }
      }
    },
    "ThemeColorPair": {
      "description": "A pair mapping a spreadsheet theme color type to the concrete color it represents.",
      "properties": {
        "colorType": {
          "enumDescriptions": [
            "Unspecified theme color",
            "Represents the primary text color",
            "Represents the primary background color",
            "Represents the first accent color",
            "Represents the second accent color",
            "Represents the third accent color",
            "Represents the fourth accent color",
            "Represents the fifth accent color",
            "Represents the sixth accent color",
            "Represents the color to use for hyperlinks"
          ],
          "type": "string",
          "enum": [
            "THEME_COLOR_TYPE_UNSPECIFIED",
            "TEXT",
            "BACKGROUND",
            "ACCENT1",
            "ACCENT2",
            "ACCENT3",
            "ACCENT4",
            "ACCENT5",
            "ACCENT6",
            "LINK"
          ],
          "description": "The type of the spreadsheet theme color."
        },
        "color": {
          "description": "The concrete color corresponding to the theme color type.",
          "$ref": "ColorStyle"
        }
      },
      "type": "object",
      "id": "ThemeColorPair"
    },
    "ExtendedValue": {
      "id": "ExtendedValue",
      "type": "object",
      "description": "The kinds of value that a cell in a spreadsheet can have.",
      "properties": {
        "boolValue": {
          "description": "Represents a boolean value.",
          "type": "boolean"
        },
        "errorValue": {
          "description": "Represents an error. This field is read-only.",
          "$ref": "ErrorValue"
        },
        "numberValue": {
          "format": "double",
          "type": "number",
          "description": "Represents a double value. Note: Dates, Times and DateTimes are represented as doubles in SERIAL_NUMBER format."
        },
        "stringValue": {
          "type": "string",
          "description": "Represents a string value. Leading single quotes are not included. For example, if the user typed `'123` into the UI, this would be represented as a `stringValue` of `\"123\"`."
        },
        "formulaValue": {
          "type": "string",
          "description": "Represents a formula."
        }
      }
    },
    "SpreadsheetProperties": {
      "description": "Properties of a spreadsheet.",
      "id": "SpreadsheetProperties",
      "properties": {
        "iterativeCalculationSettings": {
          "description": "Determines whether and how circular references are resolved with iterative calculation. Absence of this field means that circular references result in calculation errors.",
          "$ref": "IterativeCalculationSettings"
        },
        "title": {
          "description": "The title of the spreadsheet.",
          "type": "string"
        },
        "timeZone": {
          "description": "The time zone of the spreadsheet, in CLDR format such as `America/New_York`. If the time zone isn't recognized, this may be a custom time zone such as `GMT-07:00`.",
          "type": "string"
        },
        "spreadsheetTheme": {
          "$ref": "SpreadsheetTheme",
          "description": "Theme applied to the spreadsheet."
        },
        "locale": {
          "description": "The locale of the spreadsheet in one of the following formats: * an ISO 639-1 language code such as `en` * an ISO 639-2 language code such as `fil`, if no 639-1 code exists * a combination of the ISO language code and country code, such as `en_US` Note: when updating this field, not all locales/languages are supported.",
          "type": "string"
        },
        "importFunctionsExternalUrlAccessAllowed": {
          "description": "Whether to allow external URL access for image and import functions. Read only when true. When false, you can set to true. This value will be bypassed and always return true if the admin has enabled the [allowlisting feature](https://support.google.com/a?p=url_allowlist).",
          "type": "boolean"
        },
        "defaultFormat": {
          "description": "The default format of all cells in the spreadsheet. CellData.effectiveFormat will not be set if the cell's format is equal to this default format. This field is read-only.",
          "$ref": "CellFormat"
        },
        "autoRecalc": {
          "description": "The amount of time to wait before volatile functions are recalculated.",
          "type": "string",
          "enum": [
            "RECALCULATION_INTERVAL_UNSPECIFIED",
            "ON_CHANGE",
            "MINUTE",
            "HOUR"
          ],
          "enumDescriptions": [
            "Default value. This value must not be used.",
            "Volatile functions are updated on every change.",
            "Volatile functions are updated on every change and every minute.",
            "Volatile functions are updated on every change and hourly."
          ]
        }
      },
      "type": "object"
    },
    "CandlestickChartSpec": {
      "type": "object",
      "id": "CandlestickChartSpec",
      "properties": {
        "data": {
          "description": "The Candlestick chart data. Only one CandlestickData is supported.",
          "items": {
            "$ref": "CandlestickData"
          },
          "type": "array"
        },
        "domain": {
          "description": "The domain data (horizontal axis) for the candlestick chart. String data will be treated as discrete labels, other data will be treated as continuous values.",
          "$ref": "CandlestickDomain"
        }
      },
      "description": "A candlestick chart."
    },
    "OrgChartSpec": {
      "id": "OrgChartSpec",
      "type": "object",
      "description": "An org chart. Org charts require a unique set of labels in labels and may optionally include parent_labels and tooltips. parent_labels contain, for each node, the label identifying the parent node. tooltips contain, for each node, an optional tooltip. For example, to describe an OrgChart with Alice as the CEO, Bob as the President (reporting to Alice) and Cathy as VP of Sales (also reporting to Alice), have labels contain \"Alice\", \"Bob\", \"Cathy\", parent_labels contain \"\", \"Alice\", \"Alice\" and tooltips contain \"CEO\", \"President\", \"VP Sales\".",
      "properties": {
        "labels": {
          "description": "The data containing the labels for all the nodes in the chart. Labels must be unique.",
          "$ref": "ChartData"
        },
        "nodeSize": {
          "type": "string",
          "enum": [
            "ORG_CHART_LABEL_SIZE_UNSPECIFIED",
            "SMALL",
            "MEDIUM",
            "LARGE"
          ],
          "description": "The size of the org chart nodes.",
          "enumDescriptions": [
            "Default value, do not use.",
            "The small org chart node size.",
            "The medium org chart node size.",
            "The large org chart node size."
          ]
        },
        "selectedNodeColorStyle": {
          "description": "The color of the selected org chart nodes. If selected_node_color is also set, this field takes precedence.",
          "$ref": "ColorStyle"
        },
        "parentLabels": {
          "description": "The data containing the label of the parent for the corresponding node. A blank value indicates that the node has no parent and is a top-level node. This field is optional.",
          "$ref": "ChartData"
        },
        "tooltips": {
          "$ref": "ChartData",
          "description": "The data containing the tooltip for the corresponding node. A blank value results in no tooltip being displayed for the node. This field is optional."
        },
        "nodeColorStyle": {
          "description": "The color of the org chart nodes. If node_color is also set, this field takes precedence.",
          "$ref": "ColorStyle"
        },
        "selectedNodeColor": {
          "$ref": "Color",
          "description": "The color of the selected org chart nodes. Deprecated: Use selected_node_color_style.",
          "deprecated": true
        },
        "nodeColor": {
          "deprecated": true,
          "description": "The color of the org chart nodes. Deprecated: Use node_color_style.",
          "$ref": "Color"
        }
      }
    },
    "Interval": {
      "properties": {
        "startTime": {
          "type": "string",
          "description": "Optional. Inclusive start of the interval. If specified, a Timestamp matching this interval will have to be the same or after the start.",
          "format": "google-datetime"
        },
        "endTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Optional. Exclusive end of the interval. If specified, a Timestamp matching this interval will have to be before the end."
        }
      },
      "type": "object",
      "description": "Represents a time interval, encoded as a Timestamp start (inclusive) and a Timestamp end (exclusive). The start must be less than or equal to the end. When the start equals the end, the interval is empty (matches no time). When both start and end are unspecified, the interval matches any time.",
      "id": "Interval"
    },
    "FilterSpec": {
      "id": "FilterSpec",
      "type": "object",
      "description": "The filter criteria associated with a specific column.",
      "properties": {
        "filterCriteria": {
          "$ref": "FilterCriteria",
          "description": "The criteria for the column."
        },
        "columnIndex": {
          "description": "The zero-based column index.",
          "format": "int32",
          "type": "integer"
        },
        "dataSourceColumnReference": {
          "description": "Reference to a data source column.",
          "$ref": "DataSourceColumnReference"
        }
      }
    },
    "DataSourceTable": {
      "id": "DataSourceTable",
      "type": "object",
      "description": "A data source table, which allows the user to import a static table of data from the DataSource into Sheets. This is also known as \"Extract\" in the Sheets editor.",
      "properties": {
        "filterSpecs": {
          "type": "array",
          "items": {
            "$ref": "FilterSpec"
          },
          "description": "Filter specifications in the data source table."
        },
        "rowLimit": {
          "description": "The limit of rows to return. If not set, a default limit is applied. Please refer to the Sheets editor for the default and max limit.",
          "type": "integer",
          "format": "int32"
        },
        "columnSelectionType": {
          "description": "The type to select columns for the data source table. Defaults to SELECTED.",
          "enumDescriptions": [
            "The default column selection type, do not use.",
            "Select columns specified by columns field.",
            "Sync all current and future columns in the data source. If set, the data source table fetches all the columns in the data source at the time of refresh."
          ],
          "type": "string",
          "enum": [
            "DATA_SOURCE_TABLE_COLUMN_SELECTION_TYPE_UNSPECIFIED",
            "SELECTED",
            "SYNC_ALL"
          ]
        },
        "dataExecutionStatus": {
          "readOnly": true,
          "$ref": "DataExecutionStatus",
          "description": "Output only. The data execution status."
        },
        "sortSpecs": {
          "items": {
            "$ref": "SortSpec"
          },
          "type": "array",
          "description": "Sort specifications in the data source table. The result of the data source table is sorted based on the sort specifications in order."
        },
        "columns": {
          "description": "Columns selected for the data source table. The column_selection_type must be SELECTED.",
          "items": {
            "$ref": "DataSourceColumnReference"
          },
          "type": "array"
        },
        "dataSourceId": {
          "description": "The ID of the data source the data source table is associated with.",
          "type": "string"
        }
      }
    },
    "BasicChartSpec": {
      "id": "BasicChartSpec",
      "type": "object",
      "properties": {
        "headerCount": {
          "description": "The number of rows or columns in the data that are \"headers\". If not set, Google Sheets will guess how many rows are headers based on the data. (Note that BasicChartAxis.title may override the axis title inferred from the header values.)",
          "type": "integer",
          "format": "int32"
        },
        "lineSmoothing": {
          "description": "Gets whether all lines should be rendered smooth or straight by default. Applies to Line charts.",
          "type": "boolean"
        },
        "compareMode": {
          "enumDescriptions": [
            "Default value, do not use.",
            "Only the focused data element is highlighted and shown in the tooltip.",
            "All data elements with the same category (e.g., domain value) are highlighted and shown in the tooltip."
          ],
          "description": "The behavior of tooltips and data highlighting when hovering on data and chart area.",
          "type": "string",
          "enum": [
            "BASIC_CHART_COMPARE_MODE_UNSPECIFIED",
            "DATUM",
            "CATEGORY"
          ]
        },
        "axis": {
          "items": {
            "$ref": "BasicChartAxis"
          },
          "type": "array",
          "description": "The axis on the chart."
        },
        "stackedType": {
          "description": "The stacked type for charts that support vertical stacking. Applies to Area, Bar, Column, Combo, and Stepped Area charts.",
          "enumDescriptions": [
            "Default value, do not use.",
            "Series are not stacked.",
            "Series values are stacked, each value is rendered vertically beginning from the top of the value below it.",
            "Vertical stacks are stretched to reach the top of the chart, with values laid out as percentages of each other."
          ],
          "type": "string",
          "enum": [
            "BASIC_CHART_STACKED_TYPE_UNSPECIFIED",
            "NOT_STACKED",
            "STACKED",
            "PERCENT_STACKED"
          ]
        },
        "threeDimensional": {
          "description": "True to make the chart 3D. Applies to Bar and Column charts.",
          "type": "boolean"
        },
        "series": {
          "type": "array",
          "description": "The data this chart is visualizing.",
          "items": {
            "$ref": "BasicChartSeries"
          }
        },
        "chartType": {
          "description": "The type of the chart.",
          "type": "string",
          "enum": [
            "BASIC_CHART_TYPE_UNSPECIFIED",
            "BAR",
            "LINE",
            "AREA",
            "COLUMN",
            "SCATTER",
            "COMBO",
            "STEPPED_AREA"
          ],
          "enumDescriptions": [
            "Default value, do not use.",
            "A bar chart.",
            "A line chart.",
            "An area chart.",
            "A column chart.",
            "A scatter chart.",
            "A combo chart.",
            "A stepped area chart."
          ]
        },
        "interpolateNulls": {
          "type": "boolean",
          "description": "If some values in a series are missing, gaps may appear in the chart (e.g, segments of lines in a line chart will be missing). To eliminate these gaps set this to true. Applies to Line, Area, and Combo charts."
        },
        "domains": {
          "description": "The domain of data this is charting. Only a single domain is supported.",
          "type": "array",
          "items": {
            "$ref": "BasicChartDomain"
          }
        },
        "legendPosition": {
          "description": "The position of the chart legend.",
          "type": "string",
          "enum": [
            "BASIC_CHART_LEGEND_POSITION_UNSPECIFIED",
            "BOTTOM_LEGEND",
            "LEFT_LEGEND",
            "RIGHT_LEGEND",
            "TOP_LEGEND",
            "NO_LEGEND"
          ],
          "enumDescriptions": [
            "Default value, do not use.",
            "The legend is rendered on the bottom of the chart.",
            "The legend is rendered on the left of the chart.",
            "The legend is rendered on the right of the chart.",
            "The legend is rendered on the top of the chart.",
            "No legend is rendered."
          ]
        },
        "totalDataLabel": {
          "$ref": "DataLabel",
          "description": "Controls whether to display additional data labels on stacked charts which sum the total value of all stacked values at each value along the domain axis. These data labels can only be set when chart_type is one of AREA, BAR, COLUMN, COMBO or STEPPED_AREA and stacked_type is either STACKED or PERCENT_STACKED. In addition, for COMBO, this will only be supported if there is only one type of stackable series type or one type has more series than the others and each of the other types have no more than one series. For example, if a chart has two stacked bar series and one area series, the total data labels will be supported. If it has three bar series and two area series, total data labels are not allowed. Neither CUSTOM nor placement can be set on the total_data_label."
        }
      },
      "description": "The specification for a basic chart. See BasicChartType for the list of charts this supports."
    },
    "PivotFilterCriteria": {
      "properties": {
        "visibleValues": {
          "description": "Values that should be included. Values not listed here are excluded.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "condition": {
          "$ref": "BooleanCondition",
          "description": "A condition that must be true for values to be shown. (`visibleValues` does not override this -- even if a value is listed there, it is still hidden if it does not meet the condition.) Condition values that refer to ranges in A1-notation are evaluated relative to the pivot table sheet. References are treated absolutely, so are not filled down the pivot table. For example, a condition value of `=A1` on \"Pivot Table 1\" is treated as `'Pivot Table 1'!$A$1`. The source data of the pivot table can be referenced by column header name. For example, if the source data has columns named \"Revenue\" and \"Cost\" and a condition is applied to the \"Revenue\" column with type `NUMBER_GREATER` and value `=Cost`, then only columns where \"Revenue\" > \"Cost\" are included."
        },
        "visibleByDefault": {
          "description": "Whether values are visible by default. If true, the visible_values are ignored, all values that meet condition (if specified) are shown. If false, values that are both in visible_values and meet condition are shown.",
          "type": "boolean"
        }
      },
      "id": "PivotFilterCriteria",
      "type": "object",
      "description": "Criteria for showing/hiding rows in a pivot table."
    },
    "DeleteConditionalFormatRuleRequest": {
      "description": "Deletes a conditional format rule at the given index. All subsequent rules' indexes are decremented.",
      "type": "object",
      "properties": {
        "index": {
          "description": "The zero-based index of the rule to be deleted.",
          "type": "integer",
          "format": "int32"
        },
        "sheetId": {
          "format": "int32",
[...]
