{
  "protocol": "rest",
  "name": "siteVerification",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/siteverification.verify_only": {
          "description": "Manage your new site verifications with Google"
        },
        "https://www.googleapis.com/auth/siteverification": {
          "description": "Manage the list of sites and domains you control"
        }
      }
    }
  },
  "documentationLink": "https://developers.google.com/site-verification/",
  "parameters": {
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string",
      "location": "query"
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "location": "query",
      "default": "false",
      "type": "boolean"
    },
    "userIp": {
      "location": "query",
      "description": "Deprecated. Please use quotaUser instead.",
      "type": "string"
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "quotaUser": {
      "location": "query",
      "description": "An opaque string that represents a user for quota purposes. Must not exceed 40 characters.",
      "type": "string"
    },
    "alt": {
      "default": "json",
      "description": "Data format for the response.",
      "enum": [
        "json"
      ],
      "location": "query",
      "enumDescriptions": [
        "Responses with Content-Type of application/json"
      ],
      "type": "string"
    },
    "key": {
      "type": "string",
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    }
  },
  "baseUrl": "https://www.googleapis.com/siteVerification/v1/",
  "servicePath": "siteVerification/v1/",
  "description": "Verifies ownership of websites or domains with Google.",
  "discoveryVersion": "v1",
  "title": "Google Site Verification API",
  "version": "v1",
  "etag": "\"u9GIe6H63LSGq-9_t39K2Zx_EAc/ffKkQHIfwnRAzOSRWAT_SYBS6HY\"",
  "basePath": "/siteVerification/v1/",
  "rootUrl": "https://www.googleapis.com/",
  "kind": "discovery#restDescription",
  "ownerName": "Google",
  "schemas": {
    "SiteVerificationWebResourceListResponse": {
      "properties": {
        "items": {
          "description": "The list of sites that are owned by the authenticated user.",
          "type": "array",
          "items": {
            "$ref": "SiteVerificationWebResourceResource"
          }
        }
      },
      "id": "SiteVerificationWebResourceListResponse",
      "type": "object"
    },
    "SiteVerificationWebResourceGettokenResponse": {
      "type": "object",
      "id": "SiteVerificationWebResourceGettokenResponse",
      "properties": {
        "token": {
          "type": "string",
          "description": "The verification token. The token must be placed appropriately in order for verification to succeed."
        },
        "method": {
          "type": "string",
          "description": "The verification method to use in conjunction with this token. For FILE, the token should be placed in the top-level directory of the site, stored inside a file of the same name. For META, the token should be placed in the HEAD tag of the default page that is loaded for the site. For DNS, the token should be placed in a TXT record of the domain."
        }
      }
    },
    "SiteVerificationWebResourceGettokenRequest": {
      "properties": {
        "site": {
          "type": "object",
          "properties": {
            "type": {
              "type": "string",
              "description": "The type of resource to be verified. Can be SITE or INET_DOMAIN (domain name)."
            },
            "identifier": {
              "description": "The site identifier. If the type is set to SITE, the identifier is a URL. If the type is set to INET_DOMAIN, the site identifier is a domain name.",
              "type": "string"
            }
          },
          "description": "The site for which a verification token will be generated."
        },
        "verificationMethod": {
          "type": "string",
          "description": "The verification method that will be used to verify this site. For sites, 'FILE' or 'META' methods may be used. For domains, only 'DNS' may be used."
        }
      },
      "type": "object",
      "id": "SiteVerificationWebResourceGettokenRequest"
    },
    "SiteVerificationWebResourceResource": {
      "properties": {
        "id": {
          "description": "The string used to identify this site. This value should be used in the \"id\" portion of the REST URL for the Get, Update, and Delete operations.",
          "type": "string"
        },
        "site": {
          "properties": {
            "identifier": {
              "description": "The site identifier. If the type is set to SITE, the identifier is a URL. If the type is set to INET_DOMAIN, the site identifier is a domain name.",
              "type": "string"
            },
            "type": {
              "type": "string",
              "description": "The site type. Can be SITE or INET_DOMAIN (domain name)."
            }
          },
          "description": "The address and type of a site that is verified or will be verified.",
          "type": "object"
        },
        "owners": {
          "type": "array",
          "description": "The email addresses of all verified owners.",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object",
      "id": "SiteVerificationWebResourceResource"
    }
  },
  "icons": {
    "x16": "https://www.gstatic.com/images/branding/product/1x/googleg_16dp.png",
    "x32": "https://www.gstatic.com/images/branding/product/1x/googleg_32dp.png"
  },
  "ownerDomain": "google.com",
  "id": "siteVerification:v1",
  "batchPath": "batch/siteVerification/v1",
  "revision": "20191119",
  "resources": {
    "webResource": {
      "methods": {
        "get": {
          "parameterOrder": [
            "id"
          ],
          "path": "webResource/{id}",
          "id": "siteVerification.webResource.get",
          "parameters": {
            "id": {
              "location": "path",
              "type": "string",
              "description": "The id of a verified site or domain.",
              "required": true
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/siteverification"
          ],
          "description": "Get the most current data for a website or domain.",
          "httpMethod": "GET",
          "response": {
            "$ref": "SiteVerificationWebResourceResource"
          }
        },
        "update": {
          "response": {
            "$ref": "SiteVerificationWebResourceResource"
          },
          "path": "webResource/{id}",
          "scopes": [
            "https://www.googleapis.com/auth/siteverification"
          ],
          "parameterOrder": [
            "id"
          ],
          "description": "Modify the list of owners for your website or domain.",
          "id": "siteVerification.webResource.update",
          "request": {
            "$ref": "SiteVerificationWebResourceResource"
          },
          "httpMethod": "PUT",
          "parameters": {
            "id": {
              "required": true,
              "type": "string",
              "description": "The id of a verified site or domain.",
              "location": "path"
            }
          }
        },
        "delete": {
          "id": "siteVerification.webResource.delete",
          "description": "Relinquish ownership of a website or domain.",
          "path": "webResource/{id}",
          "scopes": [
            "https://www.googleapis.com/auth/siteverification"
          ],
          "parameters": {
            "id": {
              "required": true,
              "type": "string",
              "description": "The id of a verified site or domain.",
              "location": "path"
            }
          },
          "httpMethod": "DELETE",
          "parameterOrder": [
            "id"
          ]
        },
        "list": {
          "id": "siteVerification.webResource.list",
          "description": "Get the list of your verified websites and domains.",
          "scopes": [
            "https://www.googleapis.com/auth/siteverification"
          ],
          "httpMethod": "GET",
          "response": {
            "$ref": "SiteVerificationWebResourceListResponse"
          },
          "path": "webResource"
        },
        "getToken": {
          "httpMethod": "POST",
          "description": "Get a verification token for placing on a website or domain.",
          "request": {
            "$ref": "SiteVerificationWebResourceGettokenRequest"
          },
          "response": {
            "$ref": "SiteVerificationWebResourceGettokenResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/siteverification",
            "https://www.googleapis.com/auth/siteverification.verify_only"
          ],
          "path": "token",
          "id": "siteVerification.webResource.getToken"
        },
        "patch": {
          "parameterOrder": [
            "id"
          ],
          "response": {
            "$ref": "SiteVerificationWebResourceResource"
          },
          "parameters": {
            "id": {
              "type": "string",
              "required": true,
              "location": "path",
              "description": "The id of a verified site or domain."
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/siteverification"
          ],
          "httpMethod": "PATCH",
          "description": "Modify the list of owners for your website or domain. This method supports patch semantics.",
          "id": "siteVerification.webResource.patch",
          "path": "webResource/{id}",
          "request": {
            "$ref": "SiteVerificationWebResourceResource"
          }
        },
        "insert": {
          "parameterOrder": [
            "verificationMethod"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/siteverification",
            "https://www.googleapis.com/auth/siteverification.verify_only"
          ],
          "id": "siteVerification.webResource.insert",
          "request": {
            "$ref": "SiteVerificationWebResourceResource"
          },
          "httpMethod": "POST",
          "path": "webResource",
          "parameters": {
            "verificationMethod": {
              "required": true,
              "description": "The method to use for verifying a site or domain.",
              "location": "query",
              "type": "string"
            }
          },
          "description": "Attempt verification of a website or domain.",
          "response": {
            "$ref": "SiteVerificationWebResourceResource"
          }
        }
      }
    }
  }
}