{
  "revision": "20191119",
  "servicePath": "siteVerification/v1/",
  "version": "v1",
  "title": "Google Site Verification API",
  "id": "siteVerification:v1",
  "description": "Verifies ownership of websites or domains with Google.",
  "batchPath": "batch/siteVerification/v1",
  "resources": {
    "webResource": {
      "methods": {
        "list": {
          "httpMethod": "GET",
          "response": {
            "$ref": "SiteVerificationWebResourceListResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/siteverification"
          ],
          "id": "siteVerification.webResource.list",
          "path": "webResource",
          "description": "Get the list of your verified websites and domains."
        },
        "update": {
          "request": {
            "$ref": "SiteVerificationWebResourceResource"
          },
          "response": {
            "$ref": "SiteVerificationWebResourceResource"
          },
          "httpMethod": "PUT",
          "path": "webResource/{id}",
          "description": "Modify the list of owners for your website or domain.",
          "parameterOrder": [
            "id"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/siteverification"
          ],
          "parameters": {
            "id": {
              "description": "The id of a verified site or domain.",
              "required": true,
              "location": "path",
              "type": "string"
            }
          },
          "id": "siteVerification.webResource.update"
        },
        "getToken": {
          "scopes": [
            "https://www.googleapis.com/auth/siteverification",
            "https://www.googleapis.com/auth/siteverification.verify_only"
          ],
          "httpMethod": "POST",
          "description": "Get a verification token for placing on a website or domain.",
          "request": {
            "$ref": "SiteVerificationWebResourceGettokenRequest"
          },
          "path": "token",
          "response": {
            "$ref": "SiteVerificationWebResourceGettokenResponse"
          },
          "id": "siteVerification.webResource.getToken"
        },
        "insert": {
          "httpMethod": "POST",
          "parameterOrder": [
            "verificationMethod"
          ],
          "description": "Attempt verification of a website or domain.",
          "id": "siteVerification.webResource.insert",
          "response": {
            "$ref": "SiteVerificationWebResourceResource"
          },
          "scopes": [
            "https://www.googleapis.com/auth/siteverification",
            "https://www.googleapis.com/auth/siteverification.verify_only"
          ],
          "path": "webResource",
          "parameters": {
            "verificationMethod": {
              "description": "The method to use for verifying a site or domain.",
              "required": true,
              "location": "query",
              "type": "string"
            }
          },
          "request": {
            "$ref": "SiteVerificationWebResourceResource"
          }
        },
        "get": {
          "scopes": [
            "https://www.googleapis.com/auth/siteverification"
          ],
          "parameterOrder": [
            "id"
          ],
          "description": "Get the most current data for a website or domain.",
          "httpMethod": "GET",
          "response": {
            "$ref": "SiteVerificationWebResourceResource"
          },
          "id": "siteVerification.webResource.get",
          "parameters": {
            "id": {
              "description": "The id of a verified site or domain.",
              "required": true,
              "location": "path",
              "type": "string"
            }
          },
          "path": "webResource/{id}"
        },
        "patch": {
          "path": "webResource/{id}",
          "request": {
            "$ref": "SiteVerificationWebResourceResource"
          },
          "httpMethod": "PATCH",
          "description": "Modify the list of owners for your website or domain. This method supports patch semantics.",
          "scopes": [
            "https://www.googleapis.com/auth/siteverification"
          ],
          "parameters": {
            "id": {
              "type": "string",
              "description": "The id of a verified site or domain.",
              "required": true,
              "location": "path"
            }
          },
          "response": {
            "$ref": "SiteVerificationWebResourceResource"
          },
          "parameterOrder": [
            "id"
          ],
          "id": "siteVerification.webResource.patch"
        },
        "delete": {
          "id": "siteVerification.webResource.delete",
          "description": "Relinquish ownership of a website or domain.",
          "httpMethod": "DELETE",
          "parameterOrder": [
            "id"
          ],
          "path": "webResource/{id}",
          "scopes": [
            "https://www.googleapis.com/auth/siteverification"
          ],
          "parameters": {
            "id": {
              "description": "The id of a verified site or domain.",
              "required": true,
              "location": "path",
              "type": "string"
            }
          }
        }
      }
    }
  },
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/siteverification": {
          "description": "Manage the list of sites and domains you control"
        },
        "https://www.googleapis.com/auth/siteverification.verify_only": {
          "description": "Manage your new site verifications with Google"
        }
      }
    }
  },
  "baseUrl": "https://www.googleapis.com/siteVerification/v1/",
  "protocol": "rest",
  "ownerName": "Google",
  "basePath": "/siteVerification/v1/",
  "name": "siteVerification",
  "documentationLink": "https://developers.google.com/site-verification/",
  "ownerDomain": "google.com",
  "rootUrl": "https://www.googleapis.com/",
  "discoveryVersion": "v1",
  "kind": "discovery#restDescription",
  "etag": "\"u9GIe6H63LSGq-9_t39K2Zx_EAc/ffKkQHIfwnRAzOSRWAT_SYBS6HY\"",
  "schemas": {
    "SiteVerificationWebResourceGettokenResponse": {
      "type": "object",
      "properties": {
        "token": {
          "description": "The verification token. The token must be placed appropriately in order for verification to succeed.",
          "type": "string"
        },
        "method": {
          "type": "string",
          "description": "The verification method to use in conjunction with this token. For FILE, the token should be placed in the top-level directory of the site, stored inside a file of the same name. For META, the token should be placed in the HEAD tag of the default page that is loaded for the site. For DNS, the token should be placed in a TXT record of the domain."
        }
      },
      "id": "SiteVerificationWebResourceGettokenResponse"
    },
    "SiteVerificationWebResourceGettokenRequest": {
      "type": "object",
      "id": "SiteVerificationWebResourceGettokenRequest",
      "properties": {
        "verificationMethod": {
          "type": "string",
          "description": "The verification method that will be used to verify this site. For sites, 'FILE' or 'META' methods may be used. For domains, only 'DNS' may be used."
        },
        "site": {
          "type": "object",
          "properties": {
            "identifier": {
              "description": "The site identifier. If the type is set to SITE, the identifier is a URL. If the type is set to INET_DOMAIN, the site identifier is a domain name.",
              "type": "string"
            },
            "type": {
              "description": "The type of resource to be verified. Can be SITE or INET_DOMAIN (domain name).",
              "type": "string"
            }
          },
          "description": "The site for which a verification token will be generated."
        }
      }
    },
    "SiteVerificationWebResourceResource": {
      "type": "object",
      "id": "SiteVerificationWebResourceResource",
      "properties": {
        "id": {
          "type": "string",
          "description": "The string used to identify this site. This value should be used in the \"id\" portion of the REST URL for the Get, Update, and Delete operations."
        },
        "owners": {
          "type": "array",
          "description": "The email addresses of all verified owners.",
          "items": {
            "type": "string"
          }
        },
        "site": {
          "description": "The address and type of a site that is verified or will be verified.",
          "type": "object",
          "properties": {
            "type": {
              "description": "The site type. Can be SITE or INET_DOMAIN (domain name).",
              "type": "string"
            },
            "identifier": {
              "type": "string",
              "description": "The site identifier. If the type is set to SITE, the identifier is a URL. If the type is set to INET_DOMAIN, the site identifier is a domain name."
            }
          }
        }
      }
    },
    "SiteVerificationWebResourceListResponse": {
      "type": "object",
      "id": "SiteVerificationWebResourceListResponse",
      "properties": {
        "items": {
          "description": "The list of sites that are owned by the authenticated user.",
          "type": "array",
          "items": {
            "$ref": "SiteVerificationWebResourceResource"
          }
        }
      }
    }
  },
  "icons": {
    "x16": "https://www.gstatic.com/images/branding/product/1x/googleg_16dp.png",
    "x32": "https://www.gstatic.com/images/branding/product/1x/googleg_32dp.png"
  },
  "parameters": {
    "alt": {
      "type": "string",
      "default": "json",
      "location": "query",
      "enum": [
        "json"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json"
      ],
      "description": "Data format for the response."
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "location": "query",
      "default": "false",
      "type": "boolean"
    },
    "userIp": {
      "location": "query",
      "description": "Deprecated. Please use quotaUser instead.",
      "type": "string"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "location": "query",
      "type": "string"
    },
    "fields": {
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string"
    },
    "key": {
      "type": "string",
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "quotaUser": {
      "description": "An opaque string that represents a user for quota purposes. Must not exceed 40 characters.",
      "location": "query",
      "type": "string"
    }
  }
}