{
  "baseUrl": "https://www.googleapis.com/siteVerification/v1/",
  "documentationLink": "https://developers.google.com/site-verification/",
  "id": "siteVerification:v1",
  "discoveryVersion": "v1",
  "protocol": "rest",
  "rootUrl": "https://www.googleapis.com/",
  "revision": "20191119",
  "resources": {
    "webResource": {
      "methods": {
        "insert": {
          "scopes": [
            "https://www.googleapis.com/auth/siteverification",
            "https://www.googleapis.com/auth/siteverification.verify_only"
          ],
          "description": "Attempt verification of a website or domain.",
          "path": "webResource",
          "response": {
            "$ref": "SiteVerificationWebResourceResource"
          },
          "httpMethod": "POST",
          "parameters": {
            "verificationMethod": {
              "type": "string",
              "description": "The method to use for verifying a site or domain.",
              "required": true,
              "location": "query"
            }
          },
          "request": {
            "$ref": "SiteVerificationWebResourceResource"
          },
          "parameterOrder": [
            "verificationMethod"
          ],
          "id": "siteVerification.webResource.insert"
        },
        "delete": {
          "path": "webResource/{id}",
          "httpMethod": "DELETE",
          "description": "Relinquish ownership of a website or domain.",
          "parameters": {
            "id": {
              "required": true,
              "location": "path",
              "description": "The id of a verified site or domain.",
              "type": "string"
            }
          },
          "id": "siteVerification.webResource.delete",
          "scopes": [
            "https://www.googleapis.com/auth/siteverification"
          ],
          "parameterOrder": [
            "id"
          ]
        },
        "getToken": {
          "response": {
            "$ref": "SiteVerificationWebResourceGettokenResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/siteverification",
            "https://www.googleapis.com/auth/siteverification.verify_only"
          ],
          "id": "siteVerification.webResource.getToken",
          "request": {
            "$ref": "SiteVerificationWebResourceGettokenRequest"
          },
          "httpMethod": "POST",
          "path": "token",
          "description": "Get a verification token for placing on a website or domain."
        },
        "update": {
          "scopes": [
            "https://www.googleapis.com/auth/siteverification"
          ],
          "parameterOrder": [
            "id"
          ],
          "httpMethod": "PUT",
          "parameters": {
            "id": {
              "type": "string",
              "description": "The id of a verified site or domain.",
              "required": true,
              "location": "path"
            }
          },
          "request": {
            "$ref": "SiteVerificationWebResourceResource"
          },
          "response": {
            "$ref": "SiteVerificationWebResourceResource"
          },
          "id": "siteVerification.webResource.update",
          "description": "Modify the list of owners for your website or domain.",
          "path": "webResource/{id}"
        },
        "list": {
          "scopes": [
            "https://www.googleapis.com/auth/siteverification"
          ],
          "httpMethod": "GET",
          "id": "siteVerification.webResource.list",
          "path": "webResource",
          "response": {
            "$ref": "SiteVerificationWebResourceListResponse"
          },
          "description": "Get the list of your verified websites and domains."
        },
        "get": {
          "parameters": {
            "id": {
              "description": "The id of a verified site or domain.",
              "type": "string",
              "required": true,
              "location": "path"
            }
          },
          "path": "webResource/{id}",
          "response": {
            "$ref": "SiteVerificationWebResourceResource"
          },
          "description": "Get the most current data for a website or domain.",
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/siteverification"
          ],
          "parameterOrder": [
            "id"
          ],
          "id": "siteVerification.webResource.get"
        },
        "patch": {
          "description": "Modify the list of owners for your website or domain. This method supports patch semantics.",
          "request": {
            "$ref": "SiteVerificationWebResourceResource"
          },
          "id": "siteVerification.webResource.patch",
          "httpMethod": "PATCH",
          "response": {
            "$ref": "SiteVerificationWebResourceResource"
          },
          "scopes": [
            "https://www.googleapis.com/auth/siteverification"
          ],
          "parameters": {
            "id": {
              "description": "The id of a verified site or domain.",
              "required": true,
              "location": "path",
              "type": "string"
            }
          },
          "path": "webResource/{id}",
          "parameterOrder": [
            "id"
          ]
        }
      }
    }
  },
  "ownerDomain": "google.com",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/siteverification": {
          "description": "Manage the list of sites and domains you control"
        },
        "https://www.googleapis.com/auth/siteverification.verify_only": {
          "description": "Manage your new site verifications with Google"
        }
      }
    }
  },
  "name": "siteVerification",
  "servicePath": "siteVerification/v1/",
  "icons": {
    "x16": "https://www.gstatic.com/images/branding/product/1x/googleg_16dp.png",
    "x32": "https://www.gstatic.com/images/branding/product/1x/googleg_32dp.png"
  },
  "description": "Verifies ownership of websites or domains with Google.",
  "title": "Google Site Verification API",
  "schemas": {
    "SiteVerificationWebResourceGettokenRequest": {
      "type": "object",
      "id": "SiteVerificationWebResourceGettokenRequest",
      "properties": {
        "site": {
          "type": "object",
          "properties": {
            "identifier": {
              "description": "The site identifier. If the type is set to SITE, the identifier is a URL. If the type is set to INET_DOMAIN, the site identifier is a domain name.",
              "type": "string"
            },
            "type": {
              "description": "The type of resource to be verified. Can be SITE or INET_DOMAIN (domain name).",
              "type": "string"
            }
          },
          "description": "The site for which a verification token will be generated."
        },
        "verificationMethod": {
          "description": "The verification method that will be used to verify this site. For sites, 'FILE' or 'META' methods may be used. For domains, only 'DNS' may be used.",
          "type": "string"
        }
      }
    },
    "SiteVerificationWebResourceGettokenResponse": {
      "type": "object",
      "properties": {
        "token": {
          "description": "The verification token. The token must be placed appropriately in order for verification to succeed.",
          "type": "string"
        },
        "method": {
          "description": "The verification method to use in conjunction with this token. For FILE, the token should be placed in the top-level directory of the site, stored inside a file of the same name. For META, the token should be placed in the HEAD tag of the default page that is loaded for the site. For DNS, the token should be placed in a TXT record of the domain.",
          "type": "string"
        }
      },
      "id": "SiteVerificationWebResourceGettokenResponse"
    },
    "SiteVerificationWebResourceResource": {
      "id": "SiteVerificationWebResourceResource",
      "type": "object",
      "properties": {
        "site": {
          "properties": {
            "identifier": {
              "type": "string",
              "description": "The site identifier. If the type is set to SITE, the identifier is a URL. If the type is set to INET_DOMAIN, the site identifier is a domain name."
            },
            "type": {
              "description": "The site type. Can be SITE or INET_DOMAIN (domain name).",
              "type": "string"
            }
          },
          "description": "The address and type of a site that is verified or will be verified.",
          "type": "object"
        },
        "owners": {
          "type": "array",
          "description": "The email addresses of all verified owners.",
          "items": {
            "type": "string"
          }
        },
        "id": {
          "description": "The string used to identify this site. This value should be used in the \"id\" portion of the REST URL for the Get, Update, and Delete operations.",
          "type": "string"
        }
      }
    },
    "SiteVerificationWebResourceListResponse": {
      "id": "SiteVerificationWebResourceListResponse",
      "properties": {
        "items": {
          "items": {
            "$ref": "SiteVerificationWebResourceResource"
          },
          "description": "The list of sites that are owned by the authenticated user.",
          "type": "array"
        }
      },
      "type": "object"
    }
  },
  "etag": "\"u9GIe6H63LSGq-9_t39K2Zx_EAc/ffKkQHIfwnRAzOSRWAT_SYBS6HY\"",
  "kind": "discovery#restDescription",
  "ownerName": "Google",
  "batchPath": "batch/siteVerification/v1",
  "basePath": "/siteVerification/v1/",
  "parameters": {
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "type": "string",
      "location": "query"
    },
    "key": {
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string"
    },
    "fields": {
      "type": "string",
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "prettyPrint": {
      "default": "false",
      "location": "query",
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean"
    },
    "quotaUser": {
      "type": "string",
      "location": "query",
      "description": "An opaque string that represents a user for quota purposes. Must not exceed 40 characters."
    },
    "alt": {
      "enumDescriptions": [
        "Responses with Content-Type of application/json"
      ],
      "description": "Data format for the response.",
      "enum": [
        "json"
      ],
      "location": "query",
      "type": "string",
      "default": "json"
    },
    "userIp": {
      "type": "string",
      "location": "query",
      "description": "Deprecated. Please use quotaUser instead."
    }
  },
  "version": "v1"
}