{
  "version": "v1",
  "revision": "20191119",
  "documentationLink": "https://developers.google.com/site-verification/",
  "batchPath": "batch/siteVerification/v1",
  "etag": "\"u9GIe6H63LSGq-9_t39K2Zx_EAc/ffKkQHIfwnRAzOSRWAT_SYBS6HY\"",
  "title": "Google Site Verification API",
  "baseUrl": "https://www.googleapis.com/siteVerification/v1/",
  "schemas": {
    "SiteVerificationWebResourceGettokenRequest": {
      "type": "object",
      "id": "SiteVerificationWebResourceGettokenRequest",
      "properties": {
        "site": {
          "description": "The site for which a verification token will be generated.",
          "properties": {
            "identifier": {
              "description": "The site identifier. If the type is set to SITE, the identifier is a URL. If the type is set to INET_DOMAIN, the site identifier is a domain name.",
              "type": "string"
            },
            "type": {
              "type": "string",
              "description": "The type of resource to be verified. Can be SITE or INET_DOMAIN (domain name)."
            }
          },
          "type": "object"
        },
        "verificationMethod": {
          "type": "string",
          "description": "The verification method that will be used to verify this site. For sites, 'FILE' or 'META' methods may be used. For domains, only 'DNS' may be used."
        }
      }
    },
    "SiteVerificationWebResourceResource": {
      "properties": {
        "site": {
          "properties": {
            "identifier": {
              "description": "The site identifier. If the type is set to SITE, the identifier is a URL. If the type is set to INET_DOMAIN, the site identifier is a domain name.",
              "type": "string"
            },
            "type": {
              "description": "The site type. Can be SITE or INET_DOMAIN (domain name).",
              "type": "string"
            }
          },
          "description": "The address and type of a site that is verified or will be verified.",
          "type": "object"
        },
        "owners": {
          "description": "The email addresses of all verified owners.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "id": {
          "type": "string",
          "description": "The string used to identify this site. This value should be used in the \"id\" portion of the REST URL for the Get, Update, and Delete operations."
        }
      },
      "type": "object",
      "id": "SiteVerificationWebResourceResource"
    },
    "SiteVerificationWebResourceGettokenResponse": {
      "id": "SiteVerificationWebResourceGettokenResponse",
      "properties": {
        "token": {
          "type": "string",
          "description": "The verification token. The token must be placed appropriately in order for verification to succeed."
        },
        "method": {
          "description": "The verification method to use in conjunction with this token. For FILE, the token should be placed in the top-level directory of the site, stored inside a file of the same name. For META, the token should be placed in the HEAD tag of the default page that is loaded for the site. For DNS, the token should be placed in a TXT record of the domain.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "SiteVerificationWebResourceListResponse": {
      "type": "object",
      "id": "SiteVerificationWebResourceListResponse",
      "properties": {
        "items": {
          "items": {
            "$ref": "SiteVerificationWebResourceResource"
          },
          "type": "array",
          "description": "The list of sites that are owned by the authenticated user."
        }
      }
    }
  },
  "discoveryVersion": "v1",
  "id": "siteVerification:v1",
  "icons": {
    "x16": "https://www.gstatic.com/images/branding/product/1x/googleg_16dp.png",
    "x32": "https://www.gstatic.com/images/branding/product/1x/googleg_32dp.png"
  },
  "ownerDomain": "google.com",
  "ownerName": "Google",
  "servicePath": "siteVerification/v1/",
  "protocol": "rest",
  "rootUrl": "https://www.googleapis.com/",
  "basePath": "/siteVerification/v1/",
  "resources": {
    "webResource": {
      "methods": {
        "update": {
          "parameters": {
            "id": {
              "description": "The id of a verified site or domain.",
              "required": true,
              "location": "path",
              "type": "string"
            }
          },
          "id": "siteVerification.webResource.update",
          "httpMethod": "PUT",
          "response": {
            "$ref": "SiteVerificationWebResourceResource"
          },
          "path": "webResource/{id}",
          "scopes": [
            "https://www.googleapis.com/auth/siteverification"
          ],
          "description": "Modify the list of owners for your website or domain.",
          "parameterOrder": [
            "id"
          ],
          "request": {
            "$ref": "SiteVerificationWebResourceResource"
          }
        },
        "patch": {
          "path": "webResource/{id}",
          "response": {
            "$ref": "SiteVerificationWebResourceResource"
          },
          "parameterOrder": [
            "id"
          ],
          "id": "siteVerification.webResource.patch",
          "request": {
            "$ref": "SiteVerificationWebResourceResource"
          },
          "httpMethod": "PATCH",
          "description": "Modify the list of owners for your website or domain. This method supports patch semantics.",
          "scopes": [
            "https://www.googleapis.com/auth/siteverification"
          ],
          "parameters": {
            "id": {
              "description": "The id of a verified site or domain.",
              "type": "string",
              "required": true,
              "location": "path"
            }
          }
        },
        "delete": {
          "id": "siteVerification.webResource.delete",
          "parameterOrder": [
            "id"
          ],
          "parameters": {
            "id": {
              "required": true,
              "location": "path",
              "description": "The id of a verified site or domain.",
              "type": "string"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/siteverification"
          ],
          "path": "webResource/{id}",
          "httpMethod": "DELETE",
          "description": "Relinquish ownership of a website or domain."
        },
        "get": {
          "path": "webResource/{id}",
          "parameters": {
            "id": {
              "required": true,
              "location": "path",
              "description": "The id of a verified site or domain.",
              "type": "string"
            }
          },
          "parameterOrder": [
            "id"
          ],
          "response": {
            "$ref": "SiteVerificationWebResourceResource"
          },
          "id": "siteVerification.webResource.get",
          "httpMethod": "GET",
          "description": "Get the most current data for a website or domain.",
          "scopes": [
            "https://www.googleapis.com/auth/siteverification"
          ]
        },
        "list": {
          "id": "siteVerification.webResource.list",
          "description": "Get the list of your verified websites and domains.",
          "path": "webResource",
          "httpMethod": "GET",
          "response": {
            "$ref": "SiteVerificationWebResourceListResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/siteverification"
          ]
        },
        "getToken": {
          "path": "token",
          "description": "Get a verification token for placing on a website or domain.",
          "httpMethod": "POST",
          "request": {
            "$ref": "SiteVerificationWebResourceGettokenRequest"
          },
          "response": {
            "$ref": "SiteVerificationWebResourceGettokenResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/siteverification",
            "https://www.googleapis.com/auth/siteverification.verify_only"
          ],
          "id": "siteVerification.webResource.getToken"
        },
        "insert": {
          "id": "siteVerification.webResource.insert",
          "httpMethod": "POST",
          "response": {
            "$ref": "SiteVerificationWebResourceResource"
          },
          "description": "Attempt verification of a website or domain.",
          "scopes": [
            "https://www.googleapis.com/auth/siteverification",
            "https://www.googleapis.com/auth/siteverification.verify_only"
          ],
          "parameters": {
            "verificationMethod": {
              "type": "string",
              "required": true,
              "location": "query",
              "description": "The method to use for verifying a site or domain."
            }
          },
          "path": "webResource",
          "parameterOrder": [
            "verificationMethod"
          ],
          "request": {
            "$ref": "SiteVerificationWebResourceResource"
          }
        }
      }
    }
  },
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/siteverification.verify_only": {
          "description": "Manage your new site verifications with Google"
        },
        "https://www.googleapis.com/auth/siteverification": {
          "description": "Manage the list of sites and domains you control"
        }
      }
    }
  },
  "description": "Verifies ownership of websites or domains with Google.",
  "parameters": {
    "userIp": {
      "description": "Deprecated. Please use quotaUser instead.",
      "location": "query",
      "type": "string"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query",
      "type": "string"
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean",
      "default": "false",
      "location": "query"
    },
    "alt": {
      "enumDescriptions": [
        "Responses with Content-Type of application/json"
      ],
      "default": "json",
      "description": "Data format for the response.",
      "type": "string",
      "enum": [
        "json"
      ],
      "location": "query"
    },
    "quotaUser": {
      "description": "An opaque string that represents a user for quota purposes. Must not exceed 40 characters.",
      "location": "query",
      "type": "string"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query",
      "type": "string"
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    }
  },
  "kind": "discovery#restDescription",
  "name": "siteVerification"
}