{
  "title": "Google Site Verification API",
  "description": "Verifies ownership of websites or domains with Google.",
  "version": "v1",
  "kind": "discovery#restDescription",
  "etag": "\"u9GIe6H63LSGq-9_t39K2Zx_EAc/ffKkQHIfwnRAzOSRWAT_SYBS6HY\"",
  "rootUrl": "https://www.googleapis.com/",
  "basePath": "/siteVerification/v1/",
  "documentationLink": "https://developers.google.com/site-verification/",
  "resources": {
    "webResource": {
      "methods": {
        "insert": {
          "description": "Attempt verification of a website or domain.",
          "path": "webResource",
          "parameters": {
            "verificationMethod": {
              "required": true,
              "location": "query",
              "description": "The method to use for verifying a site or domain.",
              "type": "string"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/siteverification",
            "https://www.googleapis.com/auth/siteverification.verify_only"
          ],
          "httpMethod": "POST",
          "response": {
            "$ref": "SiteVerificationWebResourceResource"
          },
          "id": "siteVerification.webResource.insert",
          "parameterOrder": [
            "verificationMethod"
          ],
          "request": {
            "$ref": "SiteVerificationWebResourceResource"
          }
        },
        "get": {
          "httpMethod": "GET",
          "parameters": {
            "id": {
              "description": "The id of a verified site or domain.",
              "type": "string",
              "required": true,
              "location": "path"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/siteverification"
          ],
          "id": "siteVerification.webResource.get",
          "path": "webResource/{id}",
          "parameterOrder": [
            "id"
          ],
          "response": {
            "$ref": "SiteVerificationWebResourceResource"
          },
          "description": "Get the most current data for a website or domain."
        },
        "update": {
          "parameterOrder": [
            "id"
          ],
          "description": "Modify the list of owners for your website or domain.",
          "scopes": [
            "https://www.googleapis.com/auth/siteverification"
          ],
          "path": "webResource/{id}",
          "response": {
            "$ref": "SiteVerificationWebResourceResource"
          },
          "httpMethod": "PUT",
          "id": "siteVerification.webResource.update",
          "request": {
            "$ref": "SiteVerificationWebResourceResource"
          },
          "parameters": {
            "id": {
              "description": "The id of a verified site or domain.",
              "required": true,
              "location": "path",
              "type": "string"
            }
          }
        },
        "list": {
          "path": "webResource",
          "scopes": [
            "https://www.googleapis.com/auth/siteverification"
          ],
          "description": "Get the list of your verified websites and domains.",
          "response": {
            "$ref": "SiteVerificationWebResourceListResponse"
          },
          "id": "siteVerification.webResource.list",
          "httpMethod": "GET"
        },
        "delete": {
          "parameterOrder": [
            "id"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/siteverification"
          ],
          "httpMethod": "DELETE",
          "description": "Relinquish ownership of a website or domain.",
          "parameters": {
            "id": {
              "type": "string",
              "required": true,
              "location": "path",
              "description": "The id of a verified site or domain."
            }
          },
          "id": "siteVerification.webResource.delete",
          "path": "webResource/{id}"
        },
        "getToken": {
          "id": "siteVerification.webResource.getToken",
          "path": "token",
          "httpMethod": "POST",
          "response": {
            "$ref": "SiteVerificationWebResourceGettokenResponse"
          },
          "description": "Get a verification token for placing on a website or domain.",
          "request": {
            "$ref": "SiteVerificationWebResourceGettokenRequest"
          },
          "scopes": [
            "https://www.googleapis.com/auth/siteverification",
            "https://www.googleapis.com/auth/siteverification.verify_only"
          ]
        },
        "patch": {
          "parameterOrder": [
            "id"
          ],
          "path": "webResource/{id}",
          "scopes": [
            "https://www.googleapis.com/auth/siteverification"
          ],
          "description": "Modify the list of owners for your website or domain. This method supports patch semantics.",
          "id": "siteVerification.webResource.patch",
          "response": {
            "$ref": "SiteVerificationWebResourceResource"
          },
          "parameters": {
            "id": {
              "description": "The id of a verified site or domain.",
              "type": "string",
              "required": true,
              "location": "path"
            }
          },
          "request": {
            "$ref": "SiteVerificationWebResourceResource"
          },
          "httpMethod": "PATCH"
        }
      }
    }
  },
  "icons": {
    "x16": "https://www.gstatic.com/images/branding/product/1x/googleg_16dp.png",
    "x32": "https://www.gstatic.com/images/branding/product/1x/googleg_32dp.png"
  },
  "ownerName": "Google",
  "discoveryVersion": "v1",
  "revision": "20191119",
  "name": "siteVerification",
  "servicePath": "siteVerification/v1/",
  "protocol": "rest",
  "batchPath": "batch/siteVerification/v1",
  "baseUrl": "https://www.googleapis.com/siteVerification/v1/",
  "id": "siteVerification:v1",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/siteverification.verify_only": {
          "description": "Manage your new site verifications with Google"
        },
        "https://www.googleapis.com/auth/siteverification": {
          "description": "Manage the list of sites and domains you control"
        }
      }
    }
  },
  "schemas": {
    "SiteVerificationWebResourceGettokenResponse": {
      "type": "object",
      "properties": {
        "token": {
          "type": "string",
          "description": "The verification token. The token must be placed appropriately in order for verification to succeed."
        },
        "method": {
          "type": "string",
          "description": "The verification method to use in conjunction with this token. For FILE, the token should be placed in the top-level directory of the site, stored inside a file of the same name. For META, the token should be placed in the HEAD tag of the default page that is loaded for the site. For DNS, the token should be placed in a TXT record of the domain."
        }
      },
      "id": "SiteVerificationWebResourceGettokenResponse"
    },
    "SiteVerificationWebResourceGettokenRequest": {
      "type": "object",
      "id": "SiteVerificationWebResourceGettokenRequest",
      "properties": {
        "verificationMethod": {
          "description": "The verification method that will be used to verify this site. For sites, 'FILE' or 'META' methods may be used. For domains, only 'DNS' may be used.",
          "type": "string"
        },
        "site": {
          "type": "object",
          "description": "The site for which a verification token will be generated.",
          "properties": {
            "identifier": {
              "description": "The site identifier. If the type is set to SITE, the identifier is a URL. If the type is set to INET_DOMAIN, the site identifier is a domain name.",
              "type": "string"
            },
            "type": {
              "type": "string",
              "description": "The type of resource to be verified. Can be SITE or INET_DOMAIN (domain name)."
            }
          }
        }
      }
    },
    "SiteVerificationWebResourceResource": {
      "type": "object",
      "id": "SiteVerificationWebResourceResource",
      "properties": {
        "site": {
          "properties": {
            "identifier": {
              "description": "The site identifier. If the type is set to SITE, the identifier is a URL. If the type is set to INET_DOMAIN, the site identifier is a domain name.",
              "type": "string"
            },
            "type": {
              "description": "The site type. Can be SITE or INET_DOMAIN (domain name).",
              "type": "string"
            }
          },
          "type": "object",
          "description": "The address and type of a site that is verified or will be verified."
        },
        "owners": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "The email addresses of all verified owners."
        },
        "id": {
          "type": "string",
          "description": "The string used to identify this site. This value should be used in the \"id\" portion of the REST URL for the Get, Update, and Delete operations."
        }
      }
    },
    "SiteVerificationWebResourceListResponse": {
      "properties": {
        "items": {
          "items": {
            "$ref": "SiteVerificationWebResourceResource"
          },
          "type": "array",
          "description": "The list of sites that are owned by the authenticated user."
        }
      },
      "type": "object",
      "id": "SiteVerificationWebResourceListResponse"
    }
  },
  "ownerDomain": "google.com",
  "parameters": {
    "quotaUser": {
      "description": "An opaque string that represents a user for quota purposes. Must not exceed 40 characters.",
      "location": "query",
      "type": "string"
    },
    "userIp": {
      "location": "query",
      "type": "string",
      "description": "Deprecated. Please use quotaUser instead."
    },
    "oauth_token": {
      "location": "query",
      "description": "OAuth 2.0 token for the current user.",
      "type": "string"
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "location": "query",
      "type": "boolean",
      "default": "false"
    },
    "alt": {
      "description": "Data format for the response.",
      "location": "query",
      "enum": [
        "json"
      ],
      "default": "json",
      "type": "string",
      "enumDescriptions": [
        "Responses with Content-Type of application/json"
      ]
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string",
      "location": "query"
    }
  }
}