{
  "kind": "discovery#restDescription",
  "rootUrl": "https://www.googleapis.com/",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/siteverification": {
          "description": "Manage the list of sites and domains you control"
        },
        "https://www.googleapis.com/auth/siteverification.verify_only": {
          "description": "Manage your new site verifications with Google"
        }
      }
    }
  },
  "discoveryVersion": "v1",
  "revision": "20191119",
  "documentationLink": "https://developers.google.com/site-verification/",
  "ownerDomain": "google.com",
  "parameters": {
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "location": "query",
      "type": "string"
    },
    "key": {
      "type": "string",
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "userIp": {
      "location": "query",
      "description": "Deprecated. Please use quotaUser instead.",
      "type": "string"
    },
    "fields": {
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string"
    },
    "prettyPrint": {
      "default": "false",
      "location": "query",
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean"
    },
    "alt": {
      "type": "string",
      "default": "json",
      "enumDescriptions": [
        "Responses with Content-Type of application/json"
      ],
      "description": "Data format for the response.",
      "location": "query",
      "enum": [
        "json"
      ]
    },
    "quotaUser": {
      "type": "string",
      "description": "An opaque string that represents a user for quota purposes. Must not exceed 40 characters.",
      "location": "query"
    }
  },
  "version": "v1",
  "ownerName": "Google",
  "icons": {
    "x16": "https://www.gstatic.com/images/branding/product/1x/googleg_16dp.png",
    "x32": "https://www.gstatic.com/images/branding/product/1x/googleg_32dp.png"
  },
  "etag": "\"u9GIe6H63LSGq-9_t39K2Zx_EAc/ffKkQHIfwnRAzOSRWAT_SYBS6HY\"",
  "servicePath": "siteVerification/v1/",
  "name": "siteVerification",
  "batchPath": "batch/siteVerification/v1",
  "id": "siteVerification:v1",
  "protocol": "rest",
  "schemas": {
    "SiteVerificationWebResourceGettokenRequest": {
      "properties": {
        "site": {
          "description": "The site for which a verification token will be generated.",
          "type": "object",
          "properties": {
            "identifier": {
              "type": "string",
              "description": "The site identifier. If the type is set to SITE, the identifier is a URL. If the type is set to INET_DOMAIN, the site identifier is a domain name."
            },
            "type": {
              "description": "The type of resource to be verified. Can be SITE or INET_DOMAIN (domain name).",
              "type": "string"
            }
          }
        },
        "verificationMethod": {
          "description": "The verification method that will be used to verify this site. For sites, 'FILE' or 'META' methods may be used. For domains, only 'DNS' may be used.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "SiteVerificationWebResourceGettokenRequest"
    },
    "SiteVerificationWebResourceGettokenResponse": {
      "properties": {
        "token": {
          "description": "The verification token. The token must be placed appropriately in order for verification to succeed.",
          "type": "string"
        },
        "method": {
          "type": "string",
          "description": "The verification method to use in conjunction with this token. For FILE, the token should be placed in the top-level directory of the site, stored inside a file of the same name. For META, the token should be placed in the HEAD tag of the default page that is loaded for the site. For DNS, the token should be placed in a TXT record of the domain."
        }
      },
      "type": "object",
      "id": "SiteVerificationWebResourceGettokenResponse"
    },
    "SiteVerificationWebResourceListResponse": {
      "properties": {
        "items": {
          "items": {
            "$ref": "SiteVerificationWebResourceResource"
          },
          "type": "array",
          "description": "The list of sites that are owned by the authenticated user."
        }
      },
      "type": "object",
      "id": "SiteVerificationWebResourceListResponse"
    },
    "SiteVerificationWebResourceResource": {
      "properties": {
        "owners": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The email addresses of all verified owners."
        },
        "site": {
          "description": "The address and type of a site that is verified or will be verified.",
          "type": "object",
          "properties": {
            "identifier": {
              "type": "string",
              "description": "The site identifier. If the type is set to SITE, the identifier is a URL. If the type is set to INET_DOMAIN, the site identifier is a domain name."
            },
            "type": {
              "description": "The site type. Can be SITE or INET_DOMAIN (domain name).",
              "type": "string"
            }
          }
        },
        "id": {
          "description": "The string used to identify this site. This value should be used in the \"id\" portion of the REST URL for the Get, Update, and Delete operations.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "SiteVerificationWebResourceResource"
    }
  },
  "description": "Verifies ownership of websites or domains with Google.",
  "basePath": "/siteVerification/v1/",
  "resources": {
    "webResource": {
      "methods": {
        "delete": {
          "id": "siteVerification.webResource.delete",
          "path": "webResource/{id}",
          "parameterOrder": [
            "id"
          ],
          "httpMethod": "DELETE",
          "parameters": {
            "id": {
              "type": "string",
              "description": "The id of a verified site or domain.",
              "required": true,
              "location": "path"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/siteverification"
          ],
          "description": "Relinquish ownership of a website or domain."
        },
        "patch": {
          "id": "siteVerification.webResource.patch",
          "parameters": {
            "id": {
              "description": "The id of a verified site or domain.",
              "type": "string",
              "required": true,
              "location": "path"
            }
          },
          "response": {
            "$ref": "SiteVerificationWebResourceResource"
          },
          "parameterOrder": [
            "id"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/siteverification"
          ],
          "httpMethod": "PATCH",
          "path": "webResource/{id}",
          "description": "Modify the list of owners for your website or domain. This method supports patch semantics.",
          "request": {
            "$ref": "SiteVerificationWebResourceResource"
          }
        },
        "insert": {
          "description": "Attempt verification of a website or domain.",
          "parameters": {
            "verificationMethod": {
              "description": "The method to use for verifying a site or domain.",
              "type": "string",
              "required": true,
              "location": "query"
            }
          },
          "id": "siteVerification.webResource.insert",
          "response": {
            "$ref": "SiteVerificationWebResourceResource"
          },
          "httpMethod": "POST",
          "parameterOrder": [
            "verificationMethod"
          ],
          "request": {
            "$ref": "SiteVerificationWebResourceResource"
          },
          "scopes": [
            "https://www.googleapis.com/auth/siteverification",
            "https://www.googleapis.com/auth/siteverification.verify_only"
          ],
          "path": "webResource"
        },
        "update": {
          "request": {
            "$ref": "SiteVerificationWebResourceResource"
          },
          "httpMethod": "PUT",
          "description": "Modify the list of owners for your website or domain.",
          "response": {
            "$ref": "SiteVerificationWebResourceResource"
          },
          "parameterOrder": [
            "id"
          ],
          "parameters": {
            "id": {
              "description": "The id of a verified site or domain.",
              "type": "string",
              "required": true,
              "location": "path"
            }
          },
          "path": "webResource/{id}",
          "id": "siteVerification.webResource.update",
          "scopes": [
            "https://www.googleapis.com/auth/siteverification"
          ]
        },
        "getToken": {
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/siteverification",
            "https://www.googleapis.com/auth/siteverification.verify_only"
          ],
          "description": "Get a verification token for placing on a website or domain.",
          "path": "token",
          "request": {
            "$ref": "SiteVerificationWebResourceGettokenRequest"
          },
          "id": "siteVerification.webResource.getToken",
          "response": {
            "$ref": "SiteVerificationWebResourceGettokenResponse"
          }
        },
        "list": {
          "id": "siteVerification.webResource.list",
          "response": {
            "$ref": "SiteVerificationWebResourceListResponse"
          },
          "httpMethod": "GET",
          "path": "webResource",
          "description": "Get the list of your verified websites and domains.",
          "scopes": [
            "https://www.googleapis.com/auth/siteverification"
          ]
        },
        "get": {
          "httpMethod": "GET",
          "parameters": {
            "id": {
              "type": "string",
              "required": true,
              "location": "path",
              "description": "The id of a verified site or domain."
            }
          },
          "id": "siteVerification.webResource.get",
          "scopes": [
            "https://www.googleapis.com/auth/siteverification"
          ],
          "parameterOrder": [
            "id"
          ],
          "description": "Get the most current data for a website or domain.",
          "path": "webResource/{id}",
          "response": {
            "$ref": "SiteVerificationWebResourceResource"
          }
        }
      }
    }
  },
  "title": "Google Site Verification API",
  "baseUrl": "https://www.googleapis.com/siteVerification/v1/"
}