{
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/siteverification": {
          "description": "Manage the list of sites and domains you control"
        },
        "https://www.googleapis.com/auth/siteverification.verify_only": {
          "description": "Manage your new site verifications with Google"
        }
      }
    }
  },
  "baseUrl": "https://www.googleapis.com/siteVerification/v1/",
  "kind": "discovery#restDescription",
  "documentationLink": "https://developers.google.com/site-verification/",
  "discoveryVersion": "v1",
  "basePath": "/siteVerification/v1/",
  "ownerName": "Google",
  "version": "v1",
  "schemas": {
    "SiteVerificationWebResourceGettokenResponse": {
      "type": "object",
      "properties": {
        "token": {
          "type": "string",
          "description": "The verification token. The token must be placed appropriately in order for verification to succeed."
        },
        "method": {
          "type": "string",
          "description": "The verification method to use in conjunction with this token. For FILE, the token should be placed in the top-level directory of the site, stored inside a file of the same name. For META, the token should be placed in the HEAD tag of the default page that is loaded for the site. For DNS, the token should be placed in a TXT record of the domain."
        }
      },
      "id": "SiteVerificationWebResourceGettokenResponse"
    },
    "SiteVerificationWebResourceGettokenRequest": {
      "type": "object",
      "id": "SiteVerificationWebResourceGettokenRequest",
      "properties": {
        "site": {
          "description": "The site for which a verification token will be generated.",
          "properties": {
            "type": {
              "description": "The type of resource to be verified. Can be SITE or INET_DOMAIN (domain name).",
              "type": "string"
            },
            "identifier": {
              "description": "The site identifier. If the type is set to SITE, the identifier is a URL. If the type is set to INET_DOMAIN, the site identifier is a domain name.",
              "type": "string"
            }
          },
          "type": "object"
        },
        "verificationMethod": {
          "type": "string",
          "description": "The verification method that will be used to verify this site. For sites, 'FILE' or 'META' methods may be used. For domains, only 'DNS' may be used."
        }
      }
    },
    "SiteVerificationWebResourceListResponse": {
      "properties": {
        "items": {
          "items": {
            "$ref": "SiteVerificationWebResourceResource"
          },
          "type": "array",
          "description": "The list of sites that are owned by the authenticated user."
        }
      },
      "type": "object",
      "id": "SiteVerificationWebResourceListResponse"
    },
    "SiteVerificationWebResourceResource": {
      "properties": {
        "id": {
          "description": "The string used to identify this site. This value should be used in the \"id\" portion of the REST URL for the Get, Update, and Delete operations.",
          "type": "string"
        },
        "site": {
          "properties": {
            "identifier": {
              "description": "The site identifier. If the type is set to SITE, the identifier is a URL. If the type is set to INET_DOMAIN, the site identifier is a domain name.",
              "type": "string"
            },
            "type": {
              "type": "string",
              "description": "The site type. Can be SITE or INET_DOMAIN (domain name)."
            }
          },
          "description": "The address and type of a site that is verified or will be verified.",
          "type": "object"
        },
        "owners": {
          "description": "The email addresses of all verified owners.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "type": "object",
      "id": "SiteVerificationWebResourceResource"
    }
  },
  "name": "siteVerification",
  "description": "Verifies ownership of websites or domains with Google.",
  "parameters": {
    "oauth_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth 2.0 token for the current user."
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string",
      "location": "query"
    },
    "userIp": {
      "description": "Deprecated. Please use quotaUser instead.",
      "type": "string",
      "location": "query"
    },
    "quotaUser": {
      "description": "An opaque string that represents a user for quota purposes. Must not exceed 40 characters.",
      "location": "query",
      "type": "string"
    },
    "alt": {
      "location": "query",
      "enumDescriptions": [
        "Responses with Content-Type of application/json"
      ],
      "type": "string",
      "enum": [
        "json"
      ],
      "default": "json",
      "description": "Data format for the response."
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean",
      "location": "query",
      "default": "false"
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    }
  },
  "batchPath": "batch/siteVerification/v1",
  "protocol": "rest",
  "resources": {
    "webResource": {
      "methods": {
        "get": {
          "parameters": {
            "id": {
              "location": "path",
              "description": "The id of a verified site or domain.",
              "required": true,
              "type": "string"
            }
          },
          "id": "siteVerification.webResource.get",
          "scopes": [
            "https://www.googleapis.com/auth/siteverification"
          ],
          "parameterOrder": [
            "id"
          ],
          "response": {
            "$ref": "SiteVerificationWebResourceResource"
          },
          "description": "Get the most current data for a website or domain.",
          "path": "webResource/{id}",
          "httpMethod": "GET"
        },
        "delete": {
          "parameterOrder": [
            "id"
          ],
          "httpMethod": "DELETE",
          "path": "webResource/{id}",
          "scopes": [
            "https://www.googleapis.com/auth/siteverification"
          ],
          "description": "Relinquish ownership of a website or domain.",
          "parameters": {
            "id": {
              "description": "The id of a verified site or domain.",
              "type": "string",
              "required": true,
              "location": "path"
            }
          },
          "id": "siteVerification.webResource.delete"
        },
        "update": {
          "parameterOrder": [
            "id"
          ],
          "path": "webResource/{id}",
          "parameters": {
            "id": {
              "type": "string",
              "description": "The id of a verified site or domain.",
              "location": "path",
              "required": true
            }
          },
          "httpMethod": "PUT",
          "scopes": [
            "https://www.googleapis.com/auth/siteverification"
          ],
          "id": "siteVerification.webResource.update",
          "request": {
            "$ref": "SiteVerificationWebResourceResource"
          },
          "response": {
            "$ref": "SiteVerificationWebResourceResource"
          },
          "description": "Modify the list of owners for your website or domain."
        },
        "insert": {
          "description": "Attempt verification of a website or domain.",
          "parameterOrder": [
            "verificationMethod"
          ],
          "request": {
            "$ref": "SiteVerificationWebResourceResource"
          },
          "scopes": [
            "https://www.googleapis.com/auth/siteverification",
            "https://www.googleapis.com/auth/siteverification.verify_only"
          ],
          "path": "webResource",
          "httpMethod": "POST",
          "parameters": {
            "verificationMethod": {
              "description": "The method to use for verifying a site or domain.",
              "required": true,
              "type": "string",
              "location": "query"
            }
          },
          "response": {
            "$ref": "SiteVerificationWebResourceResource"
          },
          "id": "siteVerification.webResource.insert"
        },
        "list": {
          "id": "siteVerification.webResource.list",
          "path": "webResource",
          "response": {
            "$ref": "SiteVerificationWebResourceListResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/siteverification"
          ],
          "httpMethod": "GET",
          "description": "Get the list of your verified websites and domains."
        },
        "patch": {
          "httpMethod": "PATCH",
          "parameters": {
            "id": {
              "description": "The id of a verified site or domain.",
              "type": "string",
              "required": true,
              "location": "path"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/siteverification"
          ],
          "description": "Modify the list of owners for your website or domain. This method supports patch semantics.",
          "parameterOrder": [
            "id"
          ],
          "response": {
            "$ref": "SiteVerificationWebResourceResource"
          },
          "id": "siteVerification.webResource.patch",
          "request": {
            "$ref": "SiteVerificationWebResourceResource"
          },
          "path": "webResource/{id}"
        },
        "getToken": {
          "request": {
            "$ref": "SiteVerificationWebResourceGettokenRequest"
          },
          "httpMethod": "POST",
          "description": "Get a verification token for placing on a website or domain.",
          "response": {
            "$ref": "SiteVerificationWebResourceGettokenResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/siteverification",
            "https://www.googleapis.com/auth/siteverification.verify_only"
          ],
          "id": "siteVerification.webResource.getToken",
          "path": "token"
        }
      }
    }
  },
  "ownerDomain": "google.com",
  "rootUrl": "https://www.googleapis.com/",
  "icons": {
    "x16": "https://www.gstatic.com/images/branding/product/1x/googleg_16dp.png",
    "x32": "https://www.gstatic.com/images/branding/product/1x/googleg_32dp.png"
  },
  "id": "siteVerification:v1",
  "servicePath": "siteVerification/v1/",
  "etag": "\"u9GIe6H63LSGq-9_t39K2Zx_EAc/ffKkQHIfwnRAzOSRWAT_SYBS6HY\"",
  "title": "Google Site Verification API",
  "revision": "20191119"
}