{
  "ownerDomain": "google.com",
  "title": "Cloud Spanner API",
  "servicePath": "",
  "version_module": true,
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/spanner.data": {
          "description": "See, edit, configure, and delete your Google Cloud Spanner data and see the email address for your Google Account"
        },
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        },
        "https://www.googleapis.com/auth/spanner.admin": {
          "description": "Administer your Spanner databases"
        }
      }
    }
  },
  "name": "spanner",
  "rootUrl": "https://spanner.googleapis.com/",
  "mtlsRootUrl": "https://spanner.mtls.googleapis.com/",
  "parameters": {
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "$.xgafv": {
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format.",
      "location": "query",
      "enum": [
        "1",
        "2"
      ]
    },
    "alt": {
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "description": "Data format for response.",
      "location": "query",
      "type": "string",
      "default": "json",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ]
    },
    "callback": {
      "description": "JSONP",
      "location": "query",
      "type": "string"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query",
      "type": "string"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query",
      "type": "string"
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "location": "query",
      "type": "boolean",
      "default": "true"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query",
      "type": "string"
    },
    "access_token": {
      "description": "OAuth access token.",
      "location": "query",
      "type": "string"
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    }
  },
  "discoveryVersion": "v1",
  "kind": "discovery#restDescription",
  "schemas": {
    "ReadRequest": {
      "description": "The request for Read and StreamingRead.",
      "type": "object",
      "properties": {
        "transaction": {
          "description": "The transaction to use. If none is provided, the default is a temporary read-only transaction with strong concurrency.",
          "$ref": "TransactionSelector"
        },
        "resumeToken": {
          "description": "If this request is resuming a previously interrupted read, `resume_token` should be copied from the last PartialResultSet yielded before the interruption. Doing this enables the new read to resume where the last read left off. The rest of the request parameters must exactly match the request that yielded this token.",
          "type": "string",
          "format": "byte"
        },
        "keySet": {
          "description": "Required. `key_set` identifies the rows to be yielded. `key_set` names the primary keys of the rows in table to be yielded, unless index is present. If index is present, then key_set instead names index keys in index. If the partition_token field is empty, rows are yielded in table primary key order (if index is empty) or index key order (if index is non-empty). If the partition_token field isn't empty, rows are yielded in an unspecified order. It isn't an error for the `key_set` to name rows that don't exist in the database. Read yields nothing for nonexistent rows.",
          "$ref": "KeySet"
        },
        "dataBoostEnabled": {
          "type": "boolean",
          "description": "If this is for a partitioned read and this field is set to `true`, the request is executed with Spanner Data Boost independent compute resources. If the field is set to `true` but the request doesn't set `partition_token`, the API returns an `INVALID_ARGUMENT` error."
        },
        "columns": {
          "description": "Required. The columns of table to be returned for each row matching this request.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "requestOptions": {
          "$ref": "RequestOptions",
          "description": "Common options for this request."
        },
        "directedReadOptions": {
          "description": "Directed read options for this request.",
          "$ref": "DirectedReadOptions"
        },
        "orderBy": {
          "description": "Optional. Order for the returned rows. By default, Spanner returns result rows in primary key order except for PartitionRead requests. For applications that don't require rows to be returned in primary key (`ORDER_BY_PRIMARY_KEY`) order, setting `ORDER_BY_NO_ORDER` option allows Spanner to optimize row retrieval, resulting in lower latencies in certain cases (for example, bulk point lookups).",
          "enum": [
            "ORDER_BY_UNSPECIFIED",
            "ORDER_BY_PRIMARY_KEY",
            "ORDER_BY_NO_ORDER"
          ],
          "type": "string",
          "enumDescriptions": [
            "Default value. `ORDER_BY_UNSPECIFIED` is equivalent to `ORDER_BY_PRIMARY_KEY`.",
            "Read rows are returned in primary key order. In the event that this option is used in conjunction with the `partition_token` field, the API returns an `INVALID_ARGUMENT` error.",
            "Read rows are returned in any order."
          ]
        },
        "limit": {
          "description": "If greater than zero, only the first `limit` rows are yielded. If `limit` is zero, the default is no limit. A limit can't be specified if `partition_token` is set.",
          "type": "string",
          "format": "int64"
        },
        "lockHint": {
          "enum": [
            "LOCK_HINT_UNSPECIFIED",
            "LOCK_HINT_SHARED",
            "LOCK_HINT_EXCLUSIVE"
          ],
          "description": "Optional. Lock Hint for the request, it can only be used with read-write transactions.",
          "type": "string",
          "enumDescriptions": [
            "Default value. `LOCK_HINT_UNSPECIFIED` is equivalent to `LOCK_HINT_SHARED`.",
            "Acquire shared locks. By default when you perform a read as part of a read-write transaction, Spanner acquires shared read locks, which allows other reads to still access the data until your transaction is ready to commit. When your transaction is committing and writes are being applied, the transaction attempts to upgrade to an exclusive lock for any data you are writing. For more information about locks, see [Lock modes](https://cloud.google.com/spanner/docs/introspection/lock-statistics#explain-lock-modes).",
            "Acquire exclusive locks. Requesting exclusive locks is beneficial if you observe high write contention, which means you notice that multiple transactions are concurrently trying to read and write to the same data, resulting in a large number of aborts. This problem occurs when two transactions initially acquire shared locks and then both try to upgrade to exclusive locks at the same time. In this situation both transactions are waiting for the other to give up their lock, resulting in a deadlocked situation. Spanner is able to detect this occurring and force one of the transactions to abort. However, this is a slow and expensive operation and results in lower performance. In this case it makes sense to acquire exclusive locks at the start of the transaction because then when multiple transactions try to act on the same data, they automatically get serialized. Each transaction waits its turn to acquire the lock and avoids getting into deadlock situations. Because the exclusive lock hint is just a hint, it shouldn't be considered equivalent to a mutex. In other words, you shouldn't use Spanner exclusive locks as a mutual exclusion mechanism for the execution of code outside of Spanner. **Note:** Request exclusive locks judiciously because they block others from reading that data for the entire transaction, rather than just when the writes are being performed. Unless you observe high write contention, you should use the default of shared read locks so you don't prematurely block other clients from reading the data that you're writing to."
          ]
        },
        "partitionToken": {
          "type": "string",
          "format": "byte",
          "description": "If present, results are restricted to the specified partition previously created using `PartitionRead`. There must be an exact match for the values of fields common to this message and the PartitionReadRequest message used to create this partition_token."
        },
        "index": {
          "type": "string",
          "description": "If non-empty, the name of an index on table. This index is used instead of the table primary key when interpreting key_set and sorting result rows. See key_set for further information."
        },
        "table": {
          "description": "Required. The name of the table in the database to be read.",
          "type": "string"
        }
      },
      "id": "ReadRequest"
    },
    "CreateSessionRequest": {
      "description": "The request for CreateSession.",
      "id": "CreateSessionRequest",
      "type": "object",
      "properties": {
        "session": {
          "description": "Required. The session to create.",
          "$ref": "Session"
        }
      }
    },
    "ExecuteSqlRequest": {
      "description": "The request for ExecuteSql and ExecuteStreamingSql.",
      "type": "object",
      "properties": {
        "sql": {
          "description": "Required. The SQL string.",
          "type": "string"
        },
        "resumeToken": {
          "description": "If this request is resuming a previously interrupted SQL statement execution, `resume_token` should be copied from the last PartialResultSet yielded before the interruption. Doing this enables the new SQL statement execution to resume where the last one left off. The rest of the request parameters must exactly match the request that yielded this token.",
          "type": "string",
          "format": "byte"
        },
        "transaction": {
          "description": "The transaction to use. For queries, if none is provided, the default is a temporary read-only transaction with strong concurrency. Standard DML statements require a read-write transaction. To protect against replays, single-use transactions are not supported. The caller must either supply an existing transaction ID or begin a new transaction. Partitioned DML requires an existing Partitioned DML transaction ID.",
          "$ref": "TransactionSelector"
        },
        "seqno": {
          "type": "string",
          "format": "int64",
          "description": "A per-transaction sequence number used to identify this request. This field makes each request idempotent such that if the request is received multiple times, at most one succeeds. The sequence number must be monotonically increasing within the transaction. If a request arrives for the first time with an out-of-order sequence number, the transaction can be aborted. Replays of previously handled requests yield the same response as the first execution. Required for DML statements. Ignored for queries."
        },
        "dataBoostEnabled": {
          "type": "boolean",
          "description": "If this is for a partitioned query and this field is set to `true`, the request is executed with Spanner Data Boost independent compute resources. If the field is set to `true` but the request doesn't set `partition_token`, the API returns an `INVALID_ARGUMENT` error."
        },
        "requestOptions": {
          "description": "Common options for this request.",
          "$ref": "RequestOptions"
        },
        "directedReadOptions": {
          "description": "Directed read options for this request.",
          "$ref": "DirectedReadOptions"
        },
        "partitionToken": {
          "type": "string",
          "format": "byte",
          "description": "If present, results are restricted to the specified partition previously created using `PartitionQuery`. There must be an exact match for the values of fields common to this message and the `PartitionQueryRequest` message used to create this `partition_token`."
        },
        "paramTypes": {
          "type": "object",
          "additionalProperties": {
            "$ref": "Type"
          },
          "description": "It isn't always possible for Cloud Spanner to infer the right SQL type from a JSON value. For example, values of type `BYTES` and values of type `STRING` both appear in params as JSON strings. In these cases, you can use `param_types` to specify the exact SQL type for some or all of the SQL statement parameters. See the definition of Type for more information about SQL types."
        },
        "lastStatement": {
          "type": "boolean",
          "description": "Optional. If set to `true`, this statement marks the end of the transaction. After this statement executes, you must commit or abort the transaction. Attempts to execute any other requests against this transaction (including reads and queries) are rejected. For DML statements, setting this option might cause some error reporting to be deferred until commit time (for example, validation of unique constraints). Given this, successful execution of a DML statement shouldn't be assumed until a subsequent `Commit` call completes successfully."
        },
        "queryOptions": {
          "description": "Query optimizer configuration to use for the given query.",
          "$ref": "QueryOptions"
        },
        "params": {
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "description": "Parameter names and values that bind to placeholders in the SQL string. A parameter placeholder consists of the `@` character followed by the parameter name (for example, `@firstName`). Parameter names must conform to the naming requirements of identifiers as specified at https://cloud.google.com/spanner/docs/lexical#identifiers. Parameters can appear anywhere that a literal value is expected. The same parameter name can be used more than once, for example: `\"WHERE id > @msg_id AND id < @msg_id + 100\"` It's an error to execute a SQL statement with unbound parameters."
        },
        "queryMode": {
          "enum": [
            "NORMAL",
            "PLAN",
            "PROFILE",
            "WITH_STATS",
            "WITH_PLAN_AND_STATS"
          ],
          "description": "Used to control the amount of debugging information returned in ResultSetStats. If partition_token is set, query_mode can only be set to QueryMode.NORMAL.",
          "type": "string",
          "enumDescriptions": [
            "The default mode. Only the statement results are returned.",
            "This mode returns only the query plan, without any results or execution statistics information.",
            "This mode returns the query plan, overall execution statistics, operator level execution statistics along with the results. This has a performance overhead compared to the other modes. It isn't recommended to use this mode for production traffic.",
            "This mode returns the overall (but not operator-level) execution statistics along with the results.",
            "This mode returns the query plan, overall (but not operator-level) execution statistics along with the results."
          ]
        }
      },
      "id": "ExecuteSqlRequest"
    },
    "StructType": {
      "id": "StructType",
      "type": "object",
      "properties": {
        "fields": {
          "type": "array",
          "items": {
            "$ref": "Field"
          },
          "description": "The list of fields that make up this struct. Order is significant, because values of this struct type are represented as lists, where the order of field values matches the order of fields in the StructType. In turn, the order of fields matches the order of columns in a read request, or the order of fields in the `SELECT` clause of a query."
        }
      },
      "description": "`StructType` defines the fields of a STRUCT type."
    },
    "RestoreDatabaseRequest": {
      "type": "object",
      "properties": {
        "encryptionConfig": {
          "description": "Optional. An encryption configuration describing the encryption type and key resources in Cloud KMS used to encrypt/decrypt the database to restore to. If this field is not specified, the restored database will use the same encryption configuration as the backup by default, namely encryption_type = `USE_CONFIG_DEFAULT_OR_BACKUP_ENCRYPTION`.",
          "$ref": "RestoreDatabaseEncryptionConfig"
        },
        "backup": {
          "description": "Name of the backup from which to restore. Values are of the form `projects//instances//backups/`.",
          "type": "string"
        },
        "databaseId": {
          "type": "string",
          "description": "Required. The id of the database to create and restore to. This database must not already exist. The `database_id` appended to `parent` forms the full database name of the form `projects//instances//databases/`."
        }
      },
      "id": "RestoreDatabaseRequest",
      "description": "The request for RestoreDatabase."
    },
    "ChildLink": {
      "type": "object",
      "properties": {
        "type": {
          "type": "string",
          "description": "The type of the link. For example, in Hash Joins this could be used to distinguish between the build child and the probe child, or in the case of the child being an output variable, to represent the tag associated with the output variable."
        },
        "childIndex": {
          "type": "integer",
          "format": "int32",
          "description": "The node to which the link points."
        },
        "variable": {
          "description": "Only present if the child node is SCALAR and corresponds to an output variable of the parent node. The field carries the name of the output variable. For example, a `TableScan` operator that reads rows from a table will have child links to the `SCALAR` nodes representing the output variables created for each column that is read by the operator. The corresponding `variable` fields will be set to the variable names assigned to the columns.",
          "type": "string"
        }
      },
      "id": "ChildLink",
      "description": "Metadata associated with a parent-child relationship appearing in a PlanNode."
    },
    "ScanData": {
      "description": "ScanData contains Cloud Key Visualizer scan data used by the caller to construct a visualization.",
      "id": "ScanData",
      "type": "object",
      "properties": {
        "startTime": {
          "description": "A range of time (inclusive) for when the contained data is defined. The lower bound for when the contained data is defined.",
          "type": "string",
          "format": "google-datetime"
        },
        "endTime": {
          "description": "The upper bound for when the contained data is defined.",
          "type": "string",
          "format": "google-datetime"
        },
        "data": {
          "$ref": "VisualizationData",
          "description": "Cloud Key Visualizer scan data. The range of time this information covers is captured via the above time range fields. Note, this field is not available to the ListScans method."
        }
      }
    },
    "SingleRegionQuorum": {
      "id": "SingleRegionQuorum",
      "type": "object",
      "properties": {
        "servingLocation": {
          "type": "string",
          "description": "Required. The location of the serving region, for example, \"us-central1\". The location must be one of the regions within the dual-region instance configuration of your database. The list of valid locations is available using the GetInstanceConfig API. This should only be used if you plan to change quorum to the single-region quorum type."
        }
      },
      "description": "Message type for a single-region quorum."
    },
    "CreateInstanceMetadata": {
      "type": "object",
      "properties": {
        "instance": {
          "$ref": "Instance",
          "description": "The instance being created."
        },
        "endTime": {
          "description": "The time at which this operation failed or was completed successfully.",
          "type": "string",
          "format": "google-datetime"
        },
        "cancelTime": {
          "description": "The time at which this operation was cancelled. If set, this operation is in the process of undoing itself (which is guaranteed to succeed) and cannot be cancelled again.",
          "type": "string",
          "format": "google-datetime"
        },
        "startTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The time at which the CreateInstance request was received."
        },
        "expectedFulfillmentPeriod": {
          "type": "string",
          "enumDescriptions": [
            "Not specified.",
            "Normal fulfillment period. The operation is expected to complete within minutes.",
            "Extended fulfillment period. It can take up to an hour for the operation to complete."
          ],
          "enum": [
            "FULFILLMENT_PERIOD_UNSPECIFIED",
            "FULFILLMENT_PERIOD_NORMAL",
            "FULFILLMENT_PERIOD_EXTENDED"
          ],
          "description": "The expected fulfillment period of this create operation."
        }
      },
      "id": "CreateInstanceMetadata",
      "description": "Metadata type for the operation returned by CreateInstance."
    },
    "InstancePartition": {
      "type": "object",
      "properties": {
        "state": {
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "READY"
          ],
          "description": "Output only. The current instance partition state.",
          "type": "string",
          "enumDescriptions": [
            "Not specified.",
            "The instance partition is still being created. Resources may not be available yet, and operations such as creating placements using this instance partition may not work.",
            "The instance partition is fully created and ready to do work such as creating placements and using in databases."
          ]
        },
        "autoscalingConfig": {
          "description": "Optional. The autoscaling configuration. Autoscaling is enabled if this field is set. When autoscaling is enabled, fields in compute_capacity are treated as OUTPUT_ONLY fields and reflect the current compute capacity allocated to the instance partition.",
          "$ref": "AutoscalingConfig"
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The time at which the instance partition was created.",
          "readOnly": true
        },
        "nodeCount": {
          "type": "integer",
          "format": "int32",
          "description": "The number of nodes allocated to this instance partition. Users can set the `node_count` field to specify the target number of nodes allocated to the instance partition. If autoscaling is enabled, node_count is treated as an OUTPUT_ONLY field and reflects the current number of nodes allocated to the instance partition. This may be zero in API responses for instance partitions that are not yet in state `READY`."
        },
        "displayName": {
          "description": "Required. The descriptive name for this instance partition as it appears in UIs. Must be unique per project and between 4 and 30 characters in length.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Required. A unique identifier for the instance partition. Values are of the form `projects//instances//instancePartitions/a-z*[a-z0-9]`. The final segment of the name must be between 2 and 64 characters in length. An instance partition's name cannot be changed after the instance partition is created."
        },
        "referencingDatabases": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Output only. The names of the databases that reference this instance partition. Referencing databases should share the parent instance. The existence of any referencing database prevents the instance partition from being deleted.",
          "readOnly": true
        },
        "config": {
          "type": "string",
          "description": "Required. The name of the instance partition's configuration. Values are of the form `projects//instanceConfigs/`. See also InstanceConfig and ListInstanceConfigs."
        },
        "processingUnits": {
          "type": "integer",
          "format": "int32",
          "description": "The number of processing units allocated to this instance partition. Users can set the `processing_units` field to specify the target number of processing units allocated to the instance partition. If autoscaling is enabled, processing_units is treated as an OUTPUT_ONLY field and reflects the current number of processing units allocated to the instance partition. This might be zero in API responses for instance partitions that are not yet in the `READY` state."
        },
        "referencingBackups": {
          "readOnly": true,
          "deprecated": true,
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Output only. Deprecated: This field is not populated. Output only. The names of the backups that reference this instance partition. Referencing backups should share the parent instance. The existence of any referencing backup prevents the instance partition from being deleted."
        },
        "updateTime": {
          "description": "Output only. The time at which the instance partition was most recently updated.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "etag": {
          "description": "Used for optimistic concurrency control as a way to help prevent simultaneous updates of a instance partition from overwriting each other. It is strongly suggested that systems make use of the etag in the read-modify-write cycle to perform instance partition updates in order to avoid race conditions: An etag is returned in the response which contains instance partitions, and systems are expected to put that etag in the request to update instance partitions to ensure that their change will be applied to the same version of the instance partition. If no etag is provided in the call to update instance partition, then the existing instance partition is overwritten blindly.",
          "type": "string"
        }
      },
      "id": "InstancePartition",
      "description": "An isolated set of Cloud Spanner resources that databases can define placements on."
    },
    "Field": {
      "type": "object",
      "properties": {
        "name": {
          "description": "The name of the field. For reads, this is the column name. For SQL queries, it is the column alias (e.g., `\"Word\"` in the query `\"SELECT 'hello' AS Word\"`), or the column name (e.g., `\"ColName\"` in the query `\"SELECT ColName FROM Table\"`). Some columns might have an empty name (e.g., `\"SELECT UPPER(ColName)\"`). Note that a query result can contain multiple fields with the same name.",
          "type": "string"
        },
        "type": {
          "description": "The type of the field.",
          "$ref": "Type"
        }
      },
      "id": "Field",
      "description": "Message representing a single field of a struct."
    },
    "Partition": {
      "type": "object",
      "properties": {
        "partitionToken": {
          "description": "This token can be passed to `Read`, `StreamingRead`, `ExecuteSql`, or `ExecuteStreamingSql` requests to restrict the results to those identified by this partition token.",
          "type": "string",
          "format": "byte"
        }
      },
      "id": "Partition",
      "description": "Information returned for each partition returned in a PartitionResponse."
    },
    "PartitionQueryRequest": {
      "description": "The request for PartitionQuery",
      "type": "object",
      "properties": {
        "transaction": {
          "$ref": "TransactionSelector",
          "description": "Read-only snapshot transactions are supported, read and write and single-use transactions are not."
        },
        "paramTypes": {
          "description": "Optional. It isn't always possible for Cloud Spanner to infer the right SQL type from a JSON value. For example, values of type `BYTES` and values of type `STRING` both appear in params as JSON strings. In these cases, `param_types` can be used to specify the exact SQL type for some or all of the SQL query parameters. See the definition of Type for more information about SQL types.",
          "type": "object",
          "additionalProperties": {
            "$ref": "Type"
          }
        },
        "params": {
          "description": "Optional. Parameter names and values that bind to placeholders in the SQL string. A parameter placeholder consists of the `@` character followed by the parameter name (for example, `@firstName`). Parameter names can contain letters, numbers, and underscores. Parameters can appear anywhere that a literal value is expected. The same parameter name can be used more than once, for example: `\"WHERE id > @msg_id AND id < @msg_id + 100\"` It's an error to execute a SQL statement with unbound parameters.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        },
        "sql": {
          "description": "Required. The query request to generate partitions for. The request fails if the query isn't root partitionable. For a query to be root partitionable, it needs to satisfy a few conditions. For example, if the query execution plan contains a distributed union operator, then it must be the first operator in the plan. For more information about other conditions, see [Read data in parallel](https://cloud.google.com/spanner/docs/reads#read_data_in_parallel). The query request must not contain DML commands, such as `INSERT`, `UPDATE`, or `DELETE`. Use `ExecuteStreamingSql` with a `PartitionedDml` transaction for large, partition-friendly DML operations.",
          "type": "string"
        },
        "partitionOptions": {
          "description": "Additional options that affect how many partitions are created.",
          "$ref": "PartitionOptions"
        }
      },
      "id": "PartitionQueryRequest"
    },
    "Mod": {
      "description": "A mod describes all data changes in a watched table row.",
      "id": "Mod",
      "type": "object",
      "properties": {
        "keys": {
          "type": "array",
          "items": {
            "$ref": "ModValue"
          },
          "description": "Returns the value of the primary key of the modified row."
        },
        "oldValues": {
          "description": "Returns the old values before the change for the modified columns. Always empty for INSERT, or if old values are not being captured specified by value_capture_type.",
          "type": "array",
          "items": {
            "$ref": "ModValue"
          }
        },
        "newValues": {
          "type": "array",
          "items": {
            "$ref": "ModValue"
          },
          "description": "Returns the new values after the change for the modified columns. Always empty for DELETE."
        }
      }
    },
    "ReplicaSelection": {
      "description": "The directed read replica selector. Callers must provide one or more of the following fields for replica selection: * `location` - The location must be one of the regions within the multi-region configuration of your database. * `type` - The type of the replica. Some examples of using replica_selectors are: * `location:us-east1` --> The \"us-east1\" replica(s) of any available type is used to process the request. * `type:READ_ONLY` --> The \"READ_ONLY\" type replica(s) in the nearest available location are used to process the request. * `location:us-east1 type:READ_ONLY` --> The \"READ_ONLY\" type replica(s) in location \"us-east1\" is used to process the request.",
      "type": "object",
      "properties": {
        "type": {
          "type": "string",
          "enumDescriptions": [
            "Not specified.",
            "Read-write replicas support both reads and writes.",
            "Read-only replicas only support reads (not writes)."
          ],
          "enum": [
            "TYPE_UNSPECIFIED",
            "READ_WRITE",
            "READ_ONLY"
          ],
          "description": "The type of replica."
        },
        "location": {
          "type": "string",
          "description": "The location or region of the serving requests, for example, \"us-east1\"."
        }
      },
      "id": "ReplicaSelection"
    },
    "ListInstancePartitionsResponse": {
      "type": "object",
      "properties": {
        "instancePartitions": {
          "type": "array",
          "items": {
            "$ref": "InstancePartition"
          },
          "description": "The list of requested instancePartitions."
        },
        "nextPageToken": {
          "description": "`next_page_token` can be sent in a subsequent ListInstancePartitions call to fetch more of the matching instance partitions.",
          "type": "string"
        },
        "unreachable": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The list of unreachable instances or instance partitions. It includes the names of instances or instance partitions whose metadata could not be retrieved within instance_partition_deadline."
        }
      },
      "id": "ListInstancePartitionsResponse",
      "description": "The response for ListInstancePartitions."
    },
    "Type": {
      "description": "`Type` indicates the type of a Cloud Spanner value, as might be stored in a table cell or returned from an SQL query.",
      "type": "object",
      "properties": {
        "structType": {
          "description": "If code == STRUCT, then `struct_type` provides type information for the struct's fields.",
          "$ref": "StructType"
        },
        "protoTypeFqn": {
          "type": "string",
          "description": "If code == PROTO or code == ENUM, then `proto_type_fqn` is the fully qualified name of the proto type representing the proto/enum definition."
        },
        "typeAnnotation": {
          "type": "string",
          "enumDescriptions": [
            "Not specified.",
            "PostgreSQL compatible NUMERIC type. This annotation needs to be applied to Type instances having NUMERIC type code to specify that values of this type should be treated as PostgreSQL NUMERIC values. Currently this annotation is always needed for NUMERIC when a client interacts with PostgreSQL-enabled Spanner databases.",
            "PostgreSQL compatible JSONB type. This annotation needs to be applied to Type instances having JSON type code to specify that values of this type should be treated as PostgreSQL JSONB values. Currently this annotation is always needed for JSON when a client interacts with PostgreSQL-enabled Spanner databases.",
            "PostgreSQL compatible OID type. This annotation can be used by a client interacting with PostgreSQL-enabled Spanner database to specify that a value should be treated using the semantics of the OID type."
          ],
          "enum": [
            "TYPE_ANNOTATION_CODE_UNSPECIFIED",
            "PG_NUMERIC",
            "PG_JSONB",
            "PG_OID"
          ],
          "description": "The TypeAnnotationCode that disambiguates SQL type that Spanner will use to represent values of this type during query processing. This is necessary for some type codes because a single TypeCode can be mapped to different SQL types depending on the SQL dialect. type_annotation typically is not needed to process the content of a value (it doesn't affect serialization) and clients can ignore it on the read path."
        },
        "code": {
          "type": "string",
          "enumDescriptions": [
            "Not specified.",
            "Encoded as JSON `true` or `false`.",
            "Encoded as `string`, in decimal format.",
            "Encoded as `number`, or the strings `\"NaN\"`, `\"Infinity\"`, or `\"-Infinity\"`.",
            "Encoded as `number`, or the strings `\"NaN\"`, `\"Infinity\"`, or `\"-Infinity\"`.",
            "Encoded as `string` in RFC 3339 timestamp format. The time zone must be present, and must be `\"Z\"`. If the schema has the column option `allow_commit_timestamp=true`, the placeholder string `\"spanner.commit_timestamp()\"` can be used to instruct the system to insert the commit timestamp associated with the transaction commit.",
            "Encoded as `string` in RFC 3339 date format.",
            "Encoded as `string`.",
            "Encoded as a base64-encoded `string`, as described in RFC 4648, section 4.",
            "Encoded as `list`, where the list elements are represented according to array_element_type.",
            "Encoded as `list`, where list element `i` is represented according to [struct_type.fields[i]][google.spanner.v1.StructType.fields].",
            "Encoded as `string`, in decimal format or scientific notation format. Decimal format: `[+-]Digits[.[Digits]]` or `+-.Digits` Scientific notation: `[+-]Digits[.[Digits]][ExponentIndicator[+-]Digits]` or `+-.Digits[ExponentIndicator[+-]Digits]` (ExponentIndicator is `\"e\"` or `\"E\"`)",
            "Encoded as a JSON-formatted `string` as described in RFC 7159. The following rules are applied when parsing JSON input: - Whitespace characters are not preserved. - If a JSON object has duplicate keys, only the first key is preserved. - Members of a JSON object are not guaranteed to have their order preserved. - JSON array elements will have their order preserved.",
            "Encoded as a base64-encoded `string`, as described in RFC 4648, section 4.",
            "Encoded as `string`, in decimal format.",
            "Encoded as `string`, in `ISO8601` duration format - `P[n]Y[n]M[n]DT[n]H[n]M[n[.fraction]]S` where `n` is an integer. For example, `P1Y2M3DT4H5M6.5S` represents time duration of 1 year, 2 months, 3 days, 4 hours, 5 minutes, and 6.5 seconds.",
            "Encoded as `string`, in lower-case hexa-decimal format, as described in RFC 9562, section 4."
          ],
          "enum": [
            "TYPE_CODE_UNSPECIFIED",
            "BOOL",
            "INT64",
            "FLOAT64",
            "FLOAT32",
            "TIMESTAMP",
            "DATE",
            "STRING",
            "BYTES",
            "ARRAY",
            "STRUCT",
            "NUMERIC",
            "JSON",
            "PROTO",
            "ENUM",
            "INTERVAL",
            "UUID"
          ],
          "description": "Required. The TypeCode for this type."
        },
        "arrayElementType": {
          "description": "If code == ARRAY, then `array_element_type` is the type of the array elements.",
          "$ref": "Type"
        }
      },
      "id": "Type"
    },
    "ResultSetStats": {
      "type": "object",
      "properties": {
        "queryPlan": {
          "$ref": "QueryPlan",
          "description": "QueryPlan for the query associated with this result."
        },
        "rowCountExact": {
          "type": "string",
          "format": "int64",
          "description": "Standard DML returns an exact count of rows that were modified."
        },
        "queryStats": {
          "description": "Aggregated statistics from the execution of the query. Only present when the query is profiled. For example, a query could return the statistics as follows: { \"rows_returned\": \"3\", \"elapsed_time\": \"1.22 secs\", \"cpu_time\": \"1.19 secs\" }",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        },
        "rowCountLowerBound": {
          "type": "string",
          "format": "int64",
          "description": "Partitioned DML doesn't offer exactly-once semantics, so it returns a lower bound of the rows modified."
        }
      },
      "id": "ResultSetStats",
      "description": "Additional statistics about a ResultSet or PartialResultSet."
    },
    "RollbackRequest": {
      "description": "The request for Rollback.",
      "type": "object",
      "properties": {
        "transactionId": {
          "type": "string",
          "format": "byte",
          "description": "Required. The transaction to roll back."
        }
      },
      "id": "RollbackRequest"
    },
    "FreeInstanceMetadata": {
      "description": "Free instance specific metadata that is kept even after an instance has been upgraded for tracking purposes.",
      "id": "FreeInstanceMetadata",
      "type": "object",
      "properties": {
        "expireTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. Timestamp after which the instance will either be upgraded or scheduled for deletion after a grace period. ExpireBehavior is used to choose between upgrading or scheduling the free instance for deletion. This timestamp is set during the creation of a free instance.",
          "readOnly": true
        },
        "expireBehavior": {
          "description": "Specifies the expiration behavior of a free instance. The default of ExpireBehavior is `REMOVE_AFTER_GRACE_PERIOD`. This can be modified during or after creation, and before expiration.",
          "enum": [
            "EXPIRE_BEHAVIOR_UNSPECIFIED",
            "FREE_TO_PROVISIONED",
            "REMOVE_AFTER_GRACE_PERIOD"
          ],
          "type": "string",
          "enumDescriptions": [
            "Not specified.",
            "When the free instance expires, upgrade the instance to a provisioned instance.",
            "When the free instance expires, disable the instance, and delete it after the grace period passes if it has not been upgraded."
          ]
        },
        "upgradeTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. If present, the timestamp at which the free instance was upgraded to a provisioned instance.",
          "readOnly": true
        }
      }
    },
    "TestIamPermissionsResponse": {
      "id": "TestIamPermissionsResponse",
      "type": "object",
      "properties": {
        "permissions": {
          "description": "A subset of `TestPermissionsRequest.permissions` that the caller is allowed.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "Response message for `TestIamPermissions` method."
    },
    "BatchCreateSessionsRequest": {
      "type": "object",
      "properties": {
        "sessionTemplate": {
          "$ref": "Session",
          "description": "Parameters to apply to each created session."
        },
        "sessionCount": {
          "type": "integer",
          "format": "int32",
          "description": "Required. The number of sessions to be created in this batch call. At least one session is created. The API can return fewer than the requested number of sessions. If a specific number of sessions are desired, the client can make additional calls to `BatchCreateSessions` (adjusting session_count as necessary)."
        }
      },
      "id": "BatchCreateSessionsRequest",
      "description": "The request for BatchCreateSessions."
    },
    "RequestOptions": {
      "id": "RequestOptions",
      "type": "object",
      "properties": {
        "transactionTag": {
          "type": "string",
          "description": "A tag used for statistics collection about this transaction. Both `request_tag` and `transaction_tag` can be specified for a read or query that belongs to a transaction. To enable tagging on a transaction, `transaction_tag` must be set to the same value for all requests belonging to the same transaction, including BeginTransaction. If this request doesn't belong to any transaction, `transaction_tag` is ignored. Legal characters for `transaction_tag` values are all printable characters (ASCII 32 - 126) and the length of a `transaction_tag` is limited to 50 characters. Values that exceed this limit are truncated. Any leading underscore (_) characters are removed from the string."
        },
        "requestTag": {
          "description": "A per-request tag which can be applied to queries or reads, used for statistics collection. Both `request_tag` and `transaction_tag` can be specified for a read or query that belongs to a transaction. This field is ignored for requests where it's not applicable (for example, `CommitRequest`). Legal characters for `request_tag` values are all printable characters (ASCII 32 - 126) and the length of a request_tag is limited to 50 characters. Values that exceed this limit are truncated. Any leading underscore (_) characters are removed from the string.",
          "type": "string"
        },
        "clientContext": {
          "description": "Optional. Optional context that may be needed for some requests.",
          "$ref": "ClientContext"
        },
        "priority": {
          "type": "string",
          "enumDescriptions": [
            "`PRIORITY_UNSPECIFIED` is equivalent to `PRIORITY_HIGH`.",
            "This specifies that the request is low priority.",
            "This specifies that the request is medium priority.",
            "This specifies that the request is high priority."
          ],
          "enum": [
            "PRIORITY_UNSPECIFIED",
            "PRIORITY_LOW",
            "PRIORITY_MEDIUM",
            "PRIORITY_HIGH"
          ],
          "description": "Priority for the request."
        }
      },
      "description": "Common request options for various APIs."
    },
    "LocalizedString": {
      "description": "A message representing a user-facing string whose value may need to be translated before being displayed.",
      "id": "LocalizedString",
      "type": "object",
      "properties": {
        "token": {
          "description": "The token identifying the message, e.g. 'METRIC_READ_CPU'. This should be unique within the service.",
          "type": "string"
        },
        "message": {
          "description": "The canonical English version of this message. If no token is provided or the front-end has no message associated with the token, this text will be displayed as-is.",
          "type": "string"
        },
        "args": {
          "description": "A map of arguments used when creating the localized message. Keys represent parameter names which may be used by the localized version when substituting dynamic values.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        }
      }
    },
    "PrefixNode": {
      "type": "object",
      "properties": {
        "depth": {
          "type": "integer",
          "format": "int32",
          "description": "The depth in the prefix hierarchy."
        },
        "word": {
          "type": "string",
          "description": "The string represented by the prefix node."
        },
        "dataSourceNode": {
          "type": "boolean",
          "description": "Whether this corresponds to a data_source name."
        },
        "startIndex": {
          "type": "integer",
          "format": "int32",
          "description": "The index of the start key bucket of the range that this node spans."
        },
        "endIndex": {
          "description": "The index of the end key bucket of the range that this node spans.",
          "type": "integer",
          "format": "int32"
        }
      },
      "id": "PrefixNode",
      "description": "A message representing a key prefix node in the key prefix hierarchy. for eg. Bigtable keyspaces are lexicographically ordered mappings of keys to values. Keys often have a shared prefix structure where users use the keys to organize data. Eg ///employee In this case Keysight will possibly use one node for a company and reuse it for all employees that fall under the company. Doing so improves legibility in the UI."
    },
    "VisualizationData": {
      "id": "VisualizationData",
      "type": "object",
      "properties": {
        "dataSourceEndToken": {
          "description": "The token signifying the end of a data_source.",
          "type": "string"
        },
        "diagnosticMessages": {
          "type": "array",
          "items": {
            "$ref": "DiagnosticMessage"
          },
          "description": "The list of messages (info, alerts, ...)"
        },
        "hasPii": {
          "description": "Whether this scan contains PII.",
          "type": "boolean"
        },
        "prefixNodes": {
          "description": "The list of extracted key prefix nodes used in the key prefix hierarchy.",
          "type": "array",
          "items": {
            "$ref": "PrefixNode"
          }
        },
        "dataSourceSeparatorToken": {
          "description": "The token delimiting a datasource name from the rest of a key in a data_source.",
          "type": "string"
        },
        "endKeyStrings": {
          "description": "We discretize the entire keyspace into buckets. Assuming each bucket has an inclusive keyrange and covers keys from k(i) ... k(n). In this case k(n) would be an end key for a given range. end_key_string is the collection of all such end keys",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "indexedKeys": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Keys of key ranges that contribute significantly to a given metric Can be thought of as heavy hitters."
        },
        "metrics": {
          "type": "array",
          "items": {
            "$ref": "Metric"
          },
          "description": "The list of data objects for each metric."
        },
        "keySeparator": {
          "type": "string",
          "description": "The token delimiting the key prefixes."
        },
        "keyUnit": {
          "type": "string",
          "enumDescriptions": [
            "Required default value",
            "Each entry corresponds to one key",
            "Each entry corresponds to a chunk of keys"
          ],
          "enum": [
            "KEY_UNIT_UNSPECIFIED",
            "KEY",
            "CHUNK"
          ],
          "description": "The unit for the key: e.g. 'key' or 'chunk'."
        }
      }
    },
    "Statement": {
      "type": "object",
      "properties": {
        "sql": {
          "type": "string",
          "description": "Required. The DML string."
        },
        "paramTypes": {
          "description": "It isn't always possible for Cloud Spanner to infer the right SQL type from a JSON value. For example, values of type `BYTES` and values of type `STRING` both appear in params as JSON strings. In these cases, `param_types` can be used to specify the exact SQL type for some or all of the SQL statement parameters. See the definition of Type for more information about SQL types.",
          "type": "object",
          "additionalProperties": {
            "$ref": "Type"
          }
        },
        "params": {
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "description": "Parameter names and values that bind to placeholders in the DML string. A parameter placeholder consists of the `@` character followed by the parameter name (for example, `@firstName`). Parameter names can contain letters, numbers, and underscores. Parameters can appear anywhere that a literal value is expected. The same parameter name can be used more than once, for example: `\"WHERE id > @msg_id AND id < @msg_id + 100\"` It's an error to execute a SQL statement with unbound parameters."
        }
      },
      "id": "Statement",
      "description": "A single DML statement."
    },
    "RestoreDatabaseMetadata": {
      "description": "Metadata type for the long-running operation returned by RestoreDatabase.",
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "Name of the database being created and restored to."
        },
        "cancelTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The time at which cancellation of this operation was received. Operations.CancelOperation starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`."
        },
        "optimizeDatabaseOperationName": {
          "description": "If exists, the name of the long-running operation that will be used to track the post-restore optimization process to optimize the performance of the restored database, and remove the dependency on the restore source. The name is of the form `projects//instances//databases//operations/` where the is the name of database being created and restored to. The metadata type of the long-running operation is OptimizeRestoredDatabaseMetadata. This long-running operation will be automatically created by the system after the RestoreDatabase long-running operation completes successfully. This operation will not be created if the restore was not successful.",
          "type": "string"
        },
        "sourceType": {
          "type": "string",
          "enumDescriptions": [
            "No restore associated.",
            "A backup was used as the source of the restore."
          ],
          "description": "The type of the restore source.",
          "enum": [
            "TYPE_UNSPECIFIED",
            "BACKUP"
          ]
        },
        "backupInfo": {
          "description": "Information about the backup used to restore the database.",
          "$ref": "BackupInfo"
        },
        "progress": {
          "description": "The progress of the RestoreDatabase operation.",
          "$ref": "OperationProgress"
        }
      },
      "id": "RestoreDatabaseMetadata"
    },
    "CopyBackupEncryptionConfig": {
      "description": "Encryption configuration for the copied backup.",
      "id": "CopyBackupEncryptionConfig",
      "type": "object",
      "properties": {
        "encryptionType": {
          "enum": [
            "ENCRYPTION_TYPE_UNSPECIFIED",
            "USE_CONFIG_DEFAULT_OR_BACKUP_ENCRYPTION",
            "GOOGLE_DEFAULT_ENCRYPTION",
            "CUSTOMER_MANAGED_ENCRYPTION"
          ],
          "description": "Required. The encryption type of the backup.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified. Do not use.",
            "This is the default option for CopyBackup when encryption_config is not specified. For example, if the source backup is using `Customer_Managed_Encryption`, the backup will be using the same Cloud KMS key as the source backup.",
            "Use Google default encryption.",
            "Use customer managed encryption. If specified, either `kms_key_name` or `kms_key_names` must contain valid Cloud KMS keys."
          ]
        },
        "kmsKeyName": {
          "type": "string",
          "description": "Optional. This field is maintained for backwards compatibility. For new callers, we recommend using `kms_key_names` to specify the KMS key. Only use `kms_key_name` if the location of the KMS key matches the database instance's configuration (location) exactly. For example, if the KMS location is in `us-central1` or `nam3`, then the database instance must also be in `us-central1` or `nam3`. The Cloud KMS key that is used to encrypt and decrypt the restored database. Set this field only when encryption_type is `CUSTOMER_MANAGED_ENCRYPTION`. Values are of the form `projects/{project}/locations/{location}/keyRings/{key_ring}/cryptoKeys/{kms_key_name}`."
        },
        "kmsKeyNames": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. Specifies the KMS configuration for the one or more keys used to protect the backup. Values are of the form `projects/{project}/locations/{location}/keyRings/{key_ring}/cryptoKeys/{kms_key_name}`. KMS keys specified can be in any order. The keys referenced by `kms_key_names` must fully cover all regions of the backup's instance configuration. Some examples: * For regional (single-region) instance configurations, specify a regional location KMS key. * For multi-region instance configurations of type `GOOGLE_MANAGED`, either specify a multi-region location KMS key or multiple regional location KMS keys that cover all regions in the instance configuration. * For an instance configuration of type `USER_MANAGED`, specify only regional location KMS keys to cover each region in the instance configuration. Multi-region location KMS keys aren't supported for `USER_MANAGED` type instance configurations."
        }
      }
    },
    "Ack": {
      "id": "Ack",
      "type": "object",
      "properties": {
        "key": {
          "type": "array",
          "items": {
            "type": "any"
          },
          "description": "Required. The primary key of the message to be acked."
        },
        "queue": {
          "type": "string",
          "description": "Required. The queue where the message to be acked is stored."
        },
        "ignoreNotFound": {
          "description": "By default, an attempt to ack a message that does not exist will fail with a `NOT_FOUND` error. With `ignore_not_found` set to true, the ack will succeed even if the message does not exist. This is useful for unconditionally acking a message, even if it is missing or has already been acked.",
          "type": "boolean"
        }
      },
      "description": "Arguments to ack operations."
    },
    "KeySet": {
      "type": "object",
      "properties": {
        "ranges": {
          "type": "array",
          "items": {
            "$ref": "KeyRange"
          },
          "description": "A list of key ranges. See KeyRange for more information about key range specifications."
        },
        "all": {
          "type": "boolean",
          "description": "For convenience `all` can be set to `true` to indicate that this `KeySet` matches all keys in the table or index. Note that any keys specified in `keys` or `ranges` are only yielded once."
        },
        "keys": {
          "type": "array",
          "items": {
            "type": "array",
            "items": {
              "type": "any"
            }
          },
          "description": "A list of specific keys. Entries in `keys` should have exactly as many elements as there are columns in the primary or index key with which this `KeySet` is used. Individual key values are encoded as described here."
        }
      },
      "id": "KeySet",
      "description": "`KeySet` defines a collection of Cloud Spanner keys and/or key ranges. All the keys are expected to be in the same table or index. The keys need not be sorted in any particular way. If the same key is specified multiple times in the set (for example if two ranges, two keys, or a key and a range overlap), Cloud Spanner behaves as if the key were only specified once."
    },
    "ListInstanceConfigsResponse": {
      "description": "The response for ListInstanceConfigs.",
      "id": "ListInstanceConfigsResponse",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "`next_page_token` can be sent in a subsequent ListInstanceConfigs call to fetch more of the matching instance configurations.",
          "type": "string"
        },
        "instanceConfigs": {
          "description": "The list of requested instance configurations.",
          "type": "array",
          "items": {
            "$ref": "InstanceConfig"
          }
        }
      }
    },
    "AsymmetricAutoscalingOption": {
      "description": "AsymmetricAutoscalingOption specifies the scaling of replicas identified by the given selection.",
      "type": "object",
      "properties": {
        "replicaSelection": {
          "$ref": "InstanceReplicaSelection",
          "description": "Required. Selects the replicas to which this AsymmetricAutoscalingOption applies. Only read-only replicas are supported."
        },
        "overrides": {
          "description": "Optional. Overrides applied to the top-level autoscaling configuration for the selected replicas.",
          "$ref": "AutoscalingConfigOverrides"
        }
      },
      "id": "AsymmetricAutoscalingOption"
    },
    "QuorumType": {
      "description": "Information about the database quorum type. This only applies to dual-region instance configs.",
      "id": "QuorumType",
      "type": "object",
      "properties": {
        "dualRegion": {
          "$ref": "DualRegionQuorum",
          "description": "Dual-region quorum type."
        },
        "singleRegion": {
          "description": "Single-region quorum type.",
          "$ref": "SingleRegionQuorum"
        }
      }
    },
    "Metric": {
      "description": "A message representing the actual monitoring data, values for each key bucket over time, of a metric.",
      "type": "object",
      "properties": {
        "indexedHotKeys": {
          "description": "The (sparse) mapping from time index to an IndexedHotKey message, representing those time intervals for which there are hot keys.",
          "type": "object",
          "additionalProperties": {
            "$ref": "IndexedHotKey"
          }
        },
        "indexedKeyRangeInfos": {
          "type": "object",
          "additionalProperties": {
            "$ref": "IndexedKeyRangeInfos"
          },
          "description": "The (sparse) mapping from time interval index to an IndexedKeyRangeInfos message, representing those time intervals for which there are informational messages concerning key ranges."
        },
        "info": {
          "description": "Information about the metric.",
          "$ref": "LocalizedString"
        },
        "displayLabel": {
          "description": "The displayed label of the metric.",
          "$ref": "LocalizedString"
        },
        "hasNonzeroData": {
          "type": "boolean",
          "description": "Whether the metric has any non-zero data."
        },
        "category": {
          "description": "The category of the metric, e.g. \"Activity\", \"Alerts\", \"Reads\", etc.",
          "$ref": "LocalizedString"
        },
        "matrix": {
          "description": "The data for the metric as a matrix.",
          "$ref": "MetricMatrix"
        },
        "visible": {
          "description": "Whether the metric is visible to the end user.",
          "type": "boolean"
        },
        "derived": {
          "description": "The references to numerator and denominator metrics for a derived metric.",
          "$ref": "DerivedMetric"
        },
        "aggregation": {
          "description": "The aggregation function used to aggregate each key bucket",
          "enum": [
            "AGGREGATION_UNSPECIFIED",
            "MAX",
            "SUM"
          ],
          "type": "string",
          "enumDescriptions": [
            "Required default value.",
            "Use the maximum of all values.",
            "Use the sum of all values."
          ]
        },
        "unit": {
          "description": "The unit of the metric.",
          "$ref": "LocalizedString"
        },
        "hotValue": {
          "type": "number",
          "format": "float",
          "description": "The value that is considered hot for the metric. On a per metric basis hotness signals high utilization and something that might potentially be a cause for concern by the end user. hot_value is used to calibrate and scale visual color scales."
        }
      },
      "id": "Metric"
    },
    "InstanceOperationProgress": {
      "id": "InstanceOperationProgress",
      "type": "object",
      "properties": {
        "startTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Time the request was received."
        },
        "endTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "If set, the time at which this operation failed or was completed successfully."
        },
        "progressPercent": {
          "type": "integer",
          "format": "int32",
          "description": "Percent completion of the operation. Values are between 0 and 100 inclusive."
        }
      },
      "description": "Encapsulates progress related information for a Cloud Spanner long running instance operations."
    },
    "UpdateDatabaseRequest": {
      "description": "The request for UpdateDatabase.",
      "type": "object",
      "properties": {
        "database": {
          "$ref": "Database",
          "description": "Required. The database to update. The `name` field of the database is of the form `projects//instances//databases/`."
        },
        "updateMask": {
          "description": "Required. The list of fields to update. Currently, only `enable_drop_protection` field can be updated.",
          "type": "string",
          "format": "google-fieldmask"
        }
      },
      "id": "UpdateDatabaseRequest"
    },
    "CreateInstanceConfigRequest": {
      "type": "object",
      "properties": {
        "instanceConfig": {
          "$ref": "InstanceConfig",
          "description": "Required. The `InstanceConfig` proto of the configuration to create. `instance_config.name` must be `/instanceConfigs/`. `instance_config.base_config` must be a Google-managed configuration name, e.g. /instanceConfigs/us-east1, /instanceConfigs/nam3."
        },
        "validateOnly": {
          "description": "An option to validate, but not actually execute, a request, and provide the same response.",
          "type": "boolean"
        },
        "instanceConfigId": {
          "type": "string",
          "description": "Required. The ID of the instance configuration to create. Valid identifiers are of the form `custom-[-a-z0-9]*[a-z0-9]` and must be between 2 and 64 characters in length. The `custom-` prefix is required to avoid name conflicts with Google-managed configurations."
        }
      },
      "id": "CreateInstanceConfigRequest",
      "description": "The request for CreateInstanceConfig."
    },
    "GetPolicyOptions": {
      "id": "GetPolicyOptions",
      "type": "object",
      "properties": {
        "requestedPolicyVersion": {
          "description": "Optional. The maximum policy version that will be used to format the policy. Valid values are 0, 1, and 3. Requests specifying an invalid value will be rejected. Requests for policies with any conditional role bindings must specify version 3. Policies with no conditional role bindings may specify any valid value or leave the field unset. The policy in the response might use the policy version that you specified, or it might use a lower policy version. For example, if you specify version 3, but the policy has no conditional role bindings, the response uses version 1. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies).",
          "type": "integer",
          "format": "int32"
        }
      },
      "description": "Encapsulates settings provided to GetIamPolicy."
    },
    "PlanNode": {
      "description": "Node information for nodes appearing in a QueryPlan.plan_nodes.",
      "type": "object",
      "properties": {
        "kind": {
          "type": "string",
          "enumDescriptions": [
            "Not specified.",
            "Denotes a Relational operator node in the expression tree. Relational operators represent iterative processing of rows during query execution. For example, a `TableScan` operation that reads rows from a table.",
            "Denotes a Scalar node in the expression tree. Scalar nodes represent non-iterable entities in the query plan. For example, constants or arithmetic operators appearing inside predicate expressions or references to column names."
          ],
          "enum": [
            "KIND_UNSPECIFIED",
            "RELATIONAL",
            "SCALAR"
          ],
          "description": "Used to determine the type of node. May be needed for visualizing different kinds of nodes differently. For example, If the node is a SCALAR node, it will have a condensed representation which can be used to directly embed a description of the node in its parent."
        },
        "displayName": {
          "type": "string",
          "description": "The display name for the node."
        },
        "executionStats": {
          "description": "The execution statistics associated with the node, contained in a group of key-value pairs. Only present if the plan was returned as a result of a profile query. For example, number of executions, number of rows/time per execution etc.",
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          }
        },
        "shortRepresentation": {
          "description": "Condensed representation for SCALAR nodes.",
          "$ref": "ShortRepresentation"
        },
        "metadata": {
          "description": "Attributes relevant to the node contained in a group of key-value pairs. For example, a Parameter Reference node could have the following information in its metadata: { \"parameter_reference\": \"param1\", \"parameter_type\": \"array\" }",
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          }
        },
        "index": {
          "description": "The `PlanNode`'s index in node list.",
          "type": "integer",
          "format": "int32"
        },
        "childLinks": {
          "description": "List of child node `index`es and their relationship to this parent.",
          "type": "array",
          "items": {
            "$ref": "ChildLink"
          }
        }
      },
      "id": "PlanNode"
    },
    "ListScansResponse": {
      "description": "Response method from the ListScans method.",
      "type": "object",
      "properties": {
        "scans": {
          "type": "array",
          "items": {
            "$ref": "Scan"
          },
          "description": "Available scans based on the list query parameters."
        },
        "nextPageToken": {
          "description": "Token to retrieve the next page of results, or empty if there are no more results in the list.",
          "type": "string"
        }
      },
      "id": "ListScansResponse"
    },
    "ReadOnly": {
      "id": "ReadOnly",
      "type": "object",
      "properties": {
        "exactStaleness": {
          "description": "Executes all reads at a timestamp that is `exact_staleness` old. The timestamp is chosen soon after the read is started. Guarantees that all writes that have committed more than the specified number of seconds ago are visible. Because Cloud Spanner chooses the exact timestamp, this mode works even if the client's local clock is substantially skewed from Cloud Spanner commit timestamps. Useful for reading at nearby replicas without the distributed timestamp negotiation overhead of `max_staleness`.",
          "type": "string",
          "format": "google-duration"
        },
        "returnReadTimestamp": {
          "type": "boolean",
          "description": "If true, the Cloud Spanner-selected read timestamp is included in the Transaction message that describes the transaction."
        },
        "strong": {
          "type": "boolean",
          "description": "Read at a timestamp where all previously committed transactions are visible."
        },
        "readTimestamp": {
          "description": "Executes all reads at the given timestamp. Unlike other modes, reads at a specific timestamp are repeatable; the same read at the same timestamp always returns the same data. If the timestamp is in the future, the read is blocked until the specified timestamp, modulo the read's deadline. Useful for large scale consistent reads such as mapreduces, or for coordinating many reads against a consistent snapshot of the data. A timestamp in RFC3339 UTC \\\"Zulu\\\" format, accurate to nanoseconds. Example: `\"2014-10-02T15:01:23.045123456Z\"`.",
          "type": "string",
          "format": "google-datetime"
        },
        "maxStaleness": {
          "type": "string",
          "format": "google-duration",
          "description": "Read data at a timestamp >= `NOW - max_staleness` seconds. Guarantees that all writes that have committed more than the specified number of seconds ago are visible. Because Cloud Spanner chooses the exact timestamp, this mode works even if the client's local clock is substantially skewed from Cloud Spanner commit timestamps. Useful for reading the freshest data available at a nearby replica, while bounding the possible staleness if the local replica has fallen behind. Note that this option can only be used in single-use transactions."
        },
        "minReadTimestamp": {
          "description": "Executes all reads at a timestamp >= `min_read_timestamp`. This is useful for requesting fresher data than some previous read, or data that is fresh enough to observe the effects of some previously committed transaction whose timestamp is known. Note that this option can only be used in single-use transactions. A timestamp in RFC3339 UTC \\\"Zulu\\\" format, accurate to nanoseconds. Example: `\"2014-10-02T15:01:23.045123456Z\"`.",
          "type": "string",
          "format": "google-datetime"
        }
      },
      "description": "Message type to initiate a read-only transaction."
    },
    "PartitionEventRecord": {
      "type": "object",
      "properties": {
        "commitTimestamp": {
          "description": "Indicates the commit timestamp at which the key range change occurred. DataChangeRecord.commit_timestamps, PartitionStartRecord.start_timestamps, PartitionEventRecord.commit_timestamps, and PartitionEndRecord.end_timestamps can have the same value in the same partition.",
          "type": "string",
          "format": "google-datetime"
        },
        "partitionToken": {
          "description": "Unique partition identifier describing the partition this event occurred on. partition_token is equal to the partition token of the change stream partition currently queried to return this PartitionEventRecord.",
          "type": "string"
        },
        "moveInEvents": {
          "type": "array",
          "items": {
            "$ref": "MoveInEvent"
          },
          "description": "Set when one or more key ranges are moved into the change stream partition identified by partition_token. Example: Two key ranges are moved into partition (P1) from partition (P2) and partition (P3) in a single transaction at timestamp T. The PartitionEventRecord returned in P1 will reflect the move as: PartitionEventRecord { commit_timestamp: T partition_token: \"P1\" move_in_events { source_partition_token: \"P2\" } move_in_events { source_partition_token: \"P3\" } } The PartitionEventRecord returned in P2 will reflect the move as: PartitionEventRecord { commit_timestamp: T partition_token: \"P2\" move_out_events { destination_partition_token: \"P1\" } } The PartitionEventRecord returned in P3 will reflect the move as: PartitionEventRecord { commit_timestamp: T partition_token: \"P3\" move_out_events { destination_partition_token: \"P1\" } }"
        },
        "moveOutEvents": {
          "description": "Set when one or more key ranges are moved out of the change stream partition identified by partition_token. Example: Two key ranges are moved out of partition (P1) to partition (P2) and partition (P3) in a single transaction at timestamp T. The PartitionEventRecord returned in P1 will reflect the move as: PartitionEventRecord { commit_timestamp: T partition_token: \"P1\" move_out_events { destination_partition_token: \"P2\" } move_out_events { destination_partition_token: \"P3\" } } The PartitionEventRecord returned in P2 will reflect the move as: PartitionEventRecord { commit_timestamp: T partition_token: \"P2\" move_in_events { source_partition_token: \"P1\" } } The PartitionEventRecord returned in P3 will reflect the move as: PartitionEventRecord { commit_timestamp: T partition_token: \"P3\" move_in_events { source_partition_token: \"P1\" } }",
          "type": "array",
          "items": {
            "$ref": "MoveOutEvent"
          }
        },
        "recordSequence": {
          "description": "Record sequence numbers are unique and monotonically increasing (but not necessarily contiguous) for a specific timestamp across record types in the same partition. To guarantee ordered processing, the reader should process records (of potentially different types) in record_sequence order for a specific timestamp in the same partition.",
          "type": "string"
        }
      },
      "id": "PartitionEventRecord",
      "description": "A partition event record describes key range changes for a change stream partition. The changes to a row defined by its primary key can be captured in one change stream partition for a specific time range, and then be captured in a different change stream partition for a different time range. This movement of key ranges across change stream partitions is a reflection of activities, such as Spanner's dynamic splitting and load balancing, etc. Processing this event is needed if users want to guarantee processing of the changes for any key in timestamp order. If time ordered processing of changes for a primary key is not needed, this event can be ignored. To guarantee time ordered processing for each primary key, if the event describes move-ins, the reader of this partition needs to wait until the readers of the source partitions have processed all records with timestamps <= this PartitionEventRecord.commit_timestamp, before advancing beyond this PartitionEventRecord. If the event describes move-outs, the reader can notify the readers of the destination partitions that they can continue processing."
    },
    "Write": {
      "id": "Write",
      "type": "object",
      "properties": {
        "columns": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The names of the columns in table to be written. The list of columns must contain enough columns to allow Cloud Spanner to derive values for all primary key columns in the row(s) to be modified."
        },
        "values": {
          "type": "array",
          "items": {
            "type": "array",
            "items": {
              "type": "any"
            }
          },
          "description": "The values to be written. `values` can contain more than one list of values. If it does, then multiple rows are written, one for each entry in `values`. Each list in `values` must have exactly as many entries as there are entries in columns above. Sending multiple lists is equivalent to sending multiple `Mutation`s, each containing one `values` entry and repeating table and columns. Individual values in each list are encoded as described here."
        },
        "table": {
          "type": "string",
          "description": "Required. The table whose rows will be written."
        }
      },
      "description": "Arguments to insert, update, insert_or_update, and replace operations."
    },
    "OptimizeRestoredDatabaseMetadata": {
      "id": "OptimizeRestoredDatabaseMetadata",
      "type": "object",
      "properties": {
        "name": {
          "description": "Name of the restored database being optimized.",
          "type": "string"
        },
        "progress": {
          "$ref": "OperationProgress",
          "description": "The progress of the post-restore optimizations."
        }
      },
      "description": "Metadata type for the long-running operation used to track the progress of optimizations performed on a newly restored database. This long-running operation is automatically created by the system after the successful completion of a database restore, and cannot be cancelled."
    },
    "SplitPoints": {
      "id": "SplitPoints",
      "type": "object",
      "properties": {
        "keys": {
          "type": "array",
          "items": {
            "$ref": "Key"
          },
          "description": "Required. The list of split keys. In essence, the split boundaries."
        },
        "table": {
          "type": "string",
          "description": "The table to split."
        },
        "index": {
          "type": "string",
          "description": "The index to split. If specified, the `table` field must refer to the index's base table."
        },
        "expireTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Optional. The expiration timestamp of the split points. A timestamp in the past means immediate expiration. The maximum value can be 30 days in the future. Defaults to 10 days in the future if not specified."
        }
      },
      "description": "The split points of a table or an index."
    },
    "PartitionedDml": {
      "id": "PartitionedDml",
      "type": "object",
      "properties": {},
      "description": "Message type to initiate a Partitioned DML transaction."
    },
    "CreateBackupMetadata": {
      "description": "Metadata type for the operation returned by CreateBackup.",
      "type": "object",
      "properties": {
        "database": {
          "description": "The name of the database the backup is created from.",
          "type": "string"
        },
        "cancelTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The time at which cancellation of this operation was received. Operations.CancelOperation starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`."
        },
        "name": {
          "description": "The name of the backup being created.",
          "type": "string"
        },
        "progress": {
          "description": "The progress of the CreateBackup operation.",
          "$ref": "OperationProgress"
        }
      },
      "id": "CreateBackupMetadata"
    },
    "IndexedHotKey": {
      "description": "A message representing a (sparse) collection of hot keys for specific key buckets.",
      "id": "IndexedHotKey",
      "type": "object",
      "properties": {
        "sparseHotKeys": {
          "type": "object",
          "additionalProperties": {
            "type": "integer",
            "format": "int32"
          },
          "description": "A (sparse) mapping from key bucket index to the index of the specific hot row key for that key bucket. The index of the hot row key can be translated to the actual row key via the ScanData.VisualizationData.indexed_keys repeated field."
        }
      }
    },
    "ReplicaInfo": {
      "type": "object",
      "properties": {
        "defaultLeaderLocation": {
          "description": "If true, this location is designated as the default leader location where leader replicas are placed. See the [region types documentation](https://cloud.google.com/spanner/docs/instances#region_types) for more details.",
          "type": "boolean"
        },
        "location": {
          "type": "string",
          "description": "The location of the serving resources, e.g., \"us-central1\"."
        },
        "type": {
          "type": "string",
          "enumDescriptions": [
            "Not specified.",
            "Read-write replicas support both reads and writes. These replicas: * Maintain a full copy of your data. * Serve reads. * Can vote whether to commit a write. * Participate in leadership election. * Are eligible to become a leader.",
            "Read-only replicas only support reads (not writes). Read-only replicas: * Maintain a full copy of your data. * Serve reads. * Do not participate in voting to commit writes. * Are not eligible to become a leader.",
            "Witness replicas don't support reads but do participate in voting to commit writes. Witness replicas: * Do not maintain a full copy of data. * Do not serve reads. * Vote whether to commit writes. * Participate in leader election but are not eligible to become leader."
          ],
          "description": "The type of replica.",
          "enum": [
            "TYPE_UNSPECIFIED",
            "READ_WRITE",
            "READ_ONLY",
            "WITNESS"
          ]
        }
      },
      "id": "ReplicaInfo"
    },
    "KeyRangeInfo": {
      "id": "KeyRangeInfo",
      "type": "object",
      "properties": {
        "keysCount": {
          "type": "string",
          "format": "int64",
          "description": "The number of keys this range covers."
        },
        "value": {
          "description": "The value of the metric.",
          "type": "number",
          "format": "float"
        },
        "info": {
          "$ref": "LocalizedString",
          "description": "Information about this key range, for all metrics."
        },
        "metric": {
          "$ref": "LocalizedString",
          "description": "The name of the metric. e.g. \"latency\"."
        },
        "contextValues": {
          "type": "array",
          "items": {
            "$ref": "ContextValue"
          },
          "description": "The list of context values for this key range."
        },
        "timeOffset": {
          "description": "The time offset. This is the time since the start of the time interval.",
          "type": "string",
          "format": "google-duration"
        },
        "endKeyIndex": {
          "description": "The index of the end key in indexed_keys.",
          "type": "integer",
          "format": "int32"
        },
        "startKeyIndex": {
          "description": "The index of the start key in indexed_keys.",
          "type": "integer",
          "format": "int32"
        },
        "unit": {
          "description": "The unit of the metric. This is an unstructured field and will be mapped as is to the user.",
          "$ref": "LocalizedString"
        }
      },
      "description": "A message representing information for a key range (possibly one key)."
    },
    "CreateInstanceRequest": {
      "description": "The request for CreateInstance.",
      "id": "CreateInstanceRequest",
      "type": "object",
      "properties": {
        "instance": {
          "$ref": "Instance",
          "description": "Required. The instance to create. The name may be omitted, but if specified must be `/instances/`."
        },
        "instanceId": {
          "description": "Required. The ID of the instance to create. Valid identifiers are of the form `a-z*[a-z0-9]` and must be between 2 and 64 characters in length.",
          "type": "string"
        }
      }
    },
    "KeyRange": {
      "description": "KeyRange represents a range of rows in a table or index. A range has a start key and an end key. These keys can be open or closed, indicating if the range includes rows with that key. Keys are represented by lists, where the ith value in the list corresponds to the ith component of the table or index primary key. Individual values are encoded as described here. For example, consider the following table definition: CREATE TABLE UserEvents ( UserName STRING(MAX), EventDate STRING(10) ) PRIMARY KEY(UserName, EventDate); The following keys name rows in this table: \"Bob\", \"2014-09-23\" Since the `UserEvents` table's `PRIMARY KEY` clause names two columns, each `UserEvents` key has two elements; the first is the `UserName`, and the second is the `EventDate`. Key ranges with multiple components are interpreted lexicographically by component using the table or index key's declared sort order. For example, the following range returns all events for user `\"Bob\"` that occurred in the year 2015: \"start_closed\": [\"Bob\", \"2015-01-01\"] \"end_closed\": [\"Bob\", \"2015-12-31\"] Start and end keys can omit trailing key components. This affects the inclusion and exclusion of rows that exactly match the provided key components: if the key is closed, then rows that exactly match the provided components are included; if the key is open, then rows that exactly match are not included. For example, the following range includes all events for `\"Bob\"` that occurred during and after the year 2000: \"start_closed\": [\"Bob\", \"2000-01-01\"] \"end_closed\": [\"Bob\"] The next example retrieves all events for `\"Bob\"`: \"start_closed\": [\"Bob\"] \"end_closed\": [\"Bob\"] To retrieve events before the year 2000: \"start_closed\": [\"Bob\"] \"end_open\": [\"Bob\", \"2000-01-01\"] The following range includes all rows in the table: \"start_closed\": [] \"end_closed\": [] This range returns all users whose `UserName` begins with any character from A to C: \"start_closed\": [\"A\"] \"end_open\": [\"D\"] This range returns all users whose `UserName` begins with B: \"start_closed\": [\"B\"] \"end_open\": [\"C\"] Key ranges honor column sort order. For example, suppose a table is defined as follows: CREATE TABLE DescendingSortedTable { Key INT64, ... ) PRIMARY KEY(Key DESC); The following range retrieves all rows with key values between 1 and 100 inclusive: \"start_closed\": [\"100\"] \"end_closed\": [\"1\"] Note that 100 is passed as the start, and 1 is passed as the end, because `Key` is a descending column in the schema.",
      "type": "object",
      "properties": {
        "startOpen": {
          "description": "If the start is open, then the range excludes rows whose first `len(start_open)` key columns exactly match `start_open`.",
          "type": "array",
          "items": {
            "type": "any"
          }
        },
        "startClosed": {
          "description": "If the start is closed, then the range includes all rows whose first `len(start_closed)` key columns exactly match `start_closed`.",
          "type": "array",
          "items": {
            "type": "any"
          }
        },
        "endOpen": {
          "description": "If the end is open, then the range excludes rows whose first `len(end_open)` key columns exactly match `end_open`.",
          "type": "array",
          "items": {
            "type": "any"
          }
        },
        "endClosed": {
          "description": "If the end is closed, then the range includes all rows whose first `len(end_closed)` key columns exactly match `end_closed`.",
          "type": "array",
          "items": {
            "type": "any"
          }
        }
      },
      "id": "KeyRange"
    },
    "DatabaseMoveConfig": {
      "description": "The configuration for each database in the target instance configuration.",
      "type": "object",
      "properties": {
        "databaseId": {
          "type": "string",
          "description": "Required. The unique identifier of the database resource in the Instance. For example, if the database uri is `projects/foo/instances/bar/databases/baz`, then the id to supply here is baz."
        },
        "encryptionConfig": {
          "description": "Optional. Encryption configuration to be used for the database in the target configuration. The encryption configuration must be specified for every database which currently uses CMEK encryption. If a database currently uses Google-managed encryption and a target encryption configuration is not specified, then the database defaults to Google-managed encryption. If a database currently uses Google-managed encryption and a target CMEK encryption is specified, the request is rejected. If a database currently uses CMEK encryption, then a target encryption configuration must be specified. You can't move a CMEK database to a Google-managed encryption database using the MoveInstance API.",
          "$ref": "InstanceEncryptionConfig"
        }
      },
      "id": "DatabaseMoveConfig"
    },
    "OperationProgress": {
      "description": "Encapsulates progress related information for a Cloud Spanner long running operation.",
      "type": "object",
      "properties": {
        "progressPercent": {
          "description": "Percent completion of the operation. Values are between 0 and 100 inclusive.",
          "type": "integer",
          "format": "int32"
        },
        "startTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Time the request was received."
        },
        "endTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "If set, the time at which this operation failed or was completed successfully."
        }
      },
      "id": "OperationProgress"
    },
    "DataChangeRecord": {
      "id": "DataChangeRecord",
      "type": "object",
      "properties": {
        "recordSequence": {
          "type": "string",
          "description": "Record sequence numbers are unique and monotonically increasing (but not necessarily contiguous) for a specific timestamp across record types in the same partition. To guarantee ordered processing, the reader should process records (of potentially different types) in record_sequence order for a specific timestamp in the same partition. The record sequence number ordering across partitions is only meaningful in the context of a specific transaction. Record sequence numbers are unique across partitions for a specific transaction. Sort the DataChangeRecords for the same server_transaction_id by record_sequence to reconstruct the ordering of the changes within the transaction."
        },
        "columnMetadata": {
          "type": "array",
          "items": {
            "$ref": "ColumnMetadata"
          },
          "description": "Provides metadata describing the columns associated with the mods listed below."
        },
        "table": {
          "description": "Name of the table affected by the change.",
          "type": "string"
        },
        "commitTimestamp": {
          "type": "string",
          "format": "google-datetime",
          "description": "Indicates the timestamp in which the change was committed. DataChangeRecord.commit_timestamps, PartitionStartRecord.start_timestamps, PartitionEventRecord.commit_timestamps, and PartitionEndRecord.end_timestamps can have the same value in the same partition."
        },
        "isSystemTransaction": {
          "description": "Indicates whether the transaction is a system transaction. System transactions include those issued by time-to-live (TTL), column backfill, etc.",
          "type": "boolean"
        },
        "numberOfRecordsInTransaction": {
          "type": "integer",
          "format": "int32",
          "description": "Indicates the number of data change records that are part of this transaction across all change stream partitions. This value can be used to assemble all the records associated with a particular transaction."
        },
        "serverTransactionId": {
          "type": "string",
          "description": "Provides a globally unique string that represents the transaction in which the change was committed. Multiple transactions can have the same commit timestamp, but each transaction has a unique server_transaction_id."
        },
        "numberOfPartitionsInTransaction": {
          "description": "Indicates the number of partitions that return data change records for this transaction. This value can be helpful in assembling all records associated with a particular transaction.",
          "type": "integer",
          "format": "int32"
        },
        "transactionTag": {
          "type": "string",
          "description": "Indicates the transaction tag associated with this transaction."
        },
        "modType": {
          "enum": [
            "MOD_TYPE_UNSPECIFIED",
            "INSERT",
            "UPDATE",
            "DELETE"
          ],
          "description": "Describes the type of change.",
          "type": "string",
          "enumDescriptions": [
            "Not specified.",
            "Indicates data was inserted.",
            "Indicates existing data was updated.",
            "Indicates existing data was deleted."
          ]
        },
        "valueCaptureType": {
          "type": "string",
          "enumDescriptions": [
            "Not specified.",
            "Records both old and new values of the modified watched columns.",
            "Records only new values of the modified watched columns.",
            "Records new values of all watched columns, including modified and unmodified columns.",
            "Records the new values of all watched columns, including modified and unmodified columns. Also records the old values of the modified columns."
          ],
          "description": "Describes the value capture type that was specified in the change stream configuration when this change was captured.",
          "enum": [
            "VALUE_CAPTURE_TYPE_UNSPECIFIED",
[...]
