{
  "discoveryVersion": "v1",
  "schemas": {
    "ListInstancePartitionsResponse": {
      "properties": {
        "instancePartitions": {
          "description": "The list of requested instancePartitions.",
          "items": {
            "$ref": "InstancePartition"
          },
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "`next_page_token` can be sent in a subsequent ListInstancePartitions call to fetch more of the matching instance partitions."
        },
        "unreachable": {
          "type": "array",
          "description": "The list of unreachable instances or instance partitions. It includes the names of instances or instance partitions whose metadata could not be retrieved within instance_partition_deadline.",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "ListInstancePartitionsResponse",
      "type": "object",
      "description": "The response for ListInstancePartitions."
    },
    "CreateInstanceConfigMetadata": {
      "id": "CreateInstanceConfigMetadata",
      "type": "object",
      "properties": {
        "cancelTime": {
          "description": "The time at which this operation was cancelled.",
          "type": "string",
          "format": "google-datetime"
        },
        "instanceConfig": {
          "description": "The target instance configuration end state.",
          "$ref": "InstanceConfig"
        },
        "progress": {
          "description": "The progress of the CreateInstanceConfig operation.",
          "$ref": "InstanceOperationProgress"
        }
      },
      "description": "Metadata type for the operation returned by CreateInstanceConfig."
    },
    "InstanceConfig": {
      "description": "A possible configuration for a Cloud Spanner instance. Configurations define the geographic placement of nodes and their replication.",
      "properties": {
        "displayName": {
          "description": "The name of this instance configuration as it appears in UIs.",
          "type": "string"
        },
        "etag": {
          "type": "string",
          "description": "etag is used for optimistic concurrency control as a way to help prevent simultaneous updates of a instance configuration from overwriting each other. It is strongly suggested that systems make use of the etag in the read-modify-write cycle to perform instance configuration updates in order to avoid race conditions: An etag is returned in the response which contains instance configurations, and systems are expected to put that etag in the request to update instance configuration to ensure that their change is applied to the same version of the instance configuration. If no etag is provided in the call to update the instance configuration, then the existing instance configuration is overwritten blindly."
        },
        "freeInstanceAvailability": {
          "readOnly": true,
          "enumDescriptions": [
            "Not specified.",
            "Indicates that free instances are available to be created in this instance configuration.",
            "Indicates that free instances are not supported in this instance configuration.",
            "Indicates that free instances are currently not available to be created in this instance configuration.",
            "Indicates that additional free instances cannot be created in this instance configuration because the project has reached its limit of free instances."
          ],
          "description": "Output only. Describes whether free instances are available to be created in this instance configuration.",
          "type": "string",
          "enum": [
            "FREE_INSTANCE_AVAILABILITY_UNSPECIFIED",
            "AVAILABLE",
            "UNSUPPORTED",
            "DISABLED",
            "QUOTA_EXCEEDED"
          ]
        },
        "optionalReplicas": {
          "description": "Output only. The available optional replicas to choose from for user-managed configurations. Populated for Google-managed configurations.",
          "items": {
            "$ref": "ReplicaInfo"
          },
          "readOnly": true,
          "type": "array"
        },
        "storageLimitPerProcessingUnit": {
          "description": "Output only. The storage limit in bytes per processing unit.",
          "readOnly": true,
          "type": "string",
          "format": "int64"
        },
        "state": {
          "readOnly": true,
          "enumDescriptions": [
            "Not specified.",
            "The instance configuration is still being created.",
            "The instance configuration is fully created and ready to be used to create instances."
          ],
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "READY"
          ],
          "description": "Output only. The current instance configuration state. Applicable only for `USER_MANAGED` configurations."
        },
        "leaderOptions": {
          "type": "array",
          "description": "Allowed values of the \"default_leader\" schema option for databases in instances that use this instance configuration.",
          "items": {
            "type": "string"
          }
        },
        "baseConfig": {
          "description": "Base configuration name, e.g. projects//instanceConfigs/nam3, based on which this configuration is created. Only set for user-managed configurations. `base_config` must refer to a configuration of type `GOOGLE_MANAGED` in the same project as this configuration.",
          "type": "string"
        },
        "configType": {
          "readOnly": true,
          "enumDescriptions": [
            "Unspecified.",
            "Google-managed configuration.",
            "User-managed configuration."
          ],
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "GOOGLE_MANAGED",
            "USER_MANAGED"
          ],
          "description": "Output only. Whether this instance configuration is a Google-managed or user-managed configuration."
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Cloud Labels are a flexible and lightweight mechanism for organizing cloud resources into groups that reflect a customer's organizational needs and deployment strategies. Cloud Labels can be used to filter collections of resources. They can be used to control how resource metrics are aggregated. And they can be used as arguments to policy management rules (e.g. route, firewall, load balancing, etc.). * Label keys must be between 1 and 63 characters long and must conform to the following regular expression: `a-z{0,62}`. * Label values must be between 0 and 63 characters long and must conform to the regular expression `[a-z0-9_-]{0,63}`. * No more than 64 labels can be associated with a given resource. See https://goo.gl/xmQnxf for more information on and examples of labels. If you plan to use labels in your own code, please note that additional characters may be allowed in the future. Therefore, you are advised to use an internal label representation, such as JSON, which doesn't rely upon specific characters being disallowed. For example, representing labels as the string: name + \"_\" + value would prove problematic if we were to allow \"_\" in a future release.",
          "type": "object"
        },
        "quorumType": {
          "readOnly": true,
          "enumDescriptions": [
            "Quorum type not specified.",
            "An instance configuration tagged with `REGION` quorum type forms a write quorum in a single region.",
            "An instance configuration tagged with the `DUAL_REGION` quorum type forms a write quorum with exactly two read-write regions in a multi-region configuration. This instance configuration requires failover in the event of regional failures.",
            "An instance configuration tagged with the `MULTI_REGION` quorum type forms a write quorum from replicas that are spread across more than one region in a multi-region configuration."
          ],
          "type": "string",
          "enum": [
            "QUORUM_TYPE_UNSPECIFIED",
            "REGION",
            "DUAL_REGION",
            "MULTI_REGION"
          ],
          "description": "Output only. The `QuorumType` of the instance configuration."
        },
        "replicas": {
          "description": "The geographic placement of nodes in this instance configuration and their replication properties. To create user-managed configurations, input `replicas` must include all replicas in `replicas` of the `base_config` and include one or more replicas in the `optional_replicas` of the `base_config`.",
          "items": {
            "$ref": "ReplicaInfo"
          },
          "type": "array"
        },
        "reconciling": {
          "description": "Output only. If true, the instance configuration is being created or updated. If false, there are no ongoing operations for the instance configuration.",
          "readOnly": true,
          "type": "boolean"
        },
        "name": {
          "type": "string",
          "description": "A unique identifier for the instance configuration. Values are of the form `projects//instanceConfigs/a-z*`. User instance configuration must start with `custom-`."
        }
      },
      "id": "InstanceConfig",
      "type": "object"
    },
    "BackupInstancePartition": {
      "description": "Instance partition information for the backup.",
      "id": "BackupInstancePartition",
      "type": "object",
      "properties": {
        "instancePartition": {
          "description": "A unique identifier for the instance partition. Values are of the form `projects/{project}/instances/{instance}/instancePartitions/{instance_partition_id}`",
          "type": "string"
        }
      }
    },
    "CreateBackupMetadata": {
      "description": "Metadata type for the operation returned by CreateBackup.",
      "id": "CreateBackupMetadata",
      "type": "object",
      "properties": {
        "cancelTime": {
          "description": "The time at which cancellation of this operation was received. Operations.CancelOperation starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`.",
          "type": "string",
          "format": "google-datetime"
        },
        "name": {
          "type": "string",
          "description": "The name of the backup being created."
        },
        "database": {
          "type": "string",
          "description": "The name of the database the backup is created from."
        },
        "progress": {
          "$ref": "OperationProgress",
          "description": "The progress of the CreateBackup operation."
        }
      }
    },
    "CopyBackupRequest": {
      "properties": {
        "expireTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Required. The expiration time of the backup in microsecond granularity. The expiration time must be at least 6 hours and at most 366 days from the `create_time` of the source backup. Once the `expire_time` has passed, the backup is eligible to be automatically deleted by Cloud Spanner to free the resources used by the backup."
        },
        "encryptionConfig": {
          "$ref": "CopyBackupEncryptionConfig",
          "description": "Optional. The encryption configuration used to encrypt the backup. If this field is not specified, the backup will use the same encryption configuration as the source backup by default, namely encryption_type = `USE_CONFIG_DEFAULT_OR_BACKUP_ENCRYPTION`."
        },
        "backupId": {
          "description": "Required. The id of the backup copy. The `backup_id` appended to `parent` forms the full backup_uri of the form `projects/{project}/instances/{instance}/backups/{backup}`.",
          "type": "string"
        },
        "sourceBackup": {
          "type": "string",
          "description": "Required. The source backup to be copied. The source backup needs to be in READY state for it to be copied. Once CopyBackup is in progress, the source backup cannot be deleted or cleaned up on expiration until CopyBackup is finished. Values are of the form: `projects/{project}/instances/{instance}/backups/{backup}`."
        }
      },
      "id": "CopyBackupRequest",
      "type": "object",
      "description": "The request for CopyBackup."
    },
    "UpdateDatabaseDdlMetadata": {
      "id": "UpdateDatabaseDdlMetadata",
      "type": "object",
      "properties": {
        "actions": {
          "description": "The brief action info for the DDL statements. `actions[i]` is the brief info for `statements[i]`.",
          "items": {
            "$ref": "DdlStatementActionInfo"
          },
          "type": "array"
        },
        "throttled": {
          "description": "Output only. When true, indicates that the operation is throttled, for example, due to resource constraints. When resources become available the operation will resume and this field will be false again.",
          "readOnly": true,
          "type": "boolean"
        },
        "progress": {
          "type": "array",
          "description": "The progress of the UpdateDatabaseDdl operations. All DDL statements will have continuously updating progress, and `progress[i]` is the operation progress for `statements[i]`. Also, `progress[i]` will have start time and end time populated with commit timestamp of operation, as well as a progress of 100% once the operation has completed.",
          "items": {
            "$ref": "OperationProgress"
          }
        },
        "statements": {
          "description": "For an update this list contains all the statements. For an individual statement, this list contains only that statement.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "commitTimestamps": {
          "type": "array",
          "description": "Reports the commit timestamps of all statements that have succeeded so far, where `commit_timestamps[i]` is the commit timestamp for the statement `statements[i]`.",
          "items": {
            "type": "string",
            "format": "google-datetime"
          }
        },
        "database": {
          "description": "The database being modified.",
          "type": "string"
        }
      },
      "description": "Metadata type for the operation returned by UpdateDatabaseDdl."
    },
    "DiagnosticMessage": {
      "properties": {
        "severity": {
          "description": "The severity of the diagnostic message.",
          "type": "string",
          "enumDescriptions": [
            "Required default value.",
            "Lowest severity level \"Info\".",
            "Middle severity level \"Warning\".",
            "Severity level signaling an error \"Error\"",
            "Severity level signaling a non recoverable error \"Fatal\""
          ],
          "enum": [
            "SEVERITY_UNSPECIFIED",
            "INFO",
            "WARNING",
            "ERROR",
            "FATAL"
          ]
        },
        "metricSpecific": {
          "type": "boolean",
          "description": "Whether this message is specific only for the current metric. By default Diagnostics are shown for all metrics, regardless which metric is the currently selected metric in the UI. However occasionally a metric will generate so many messages that the resulting visual clutter becomes overwhelming. In this case setting this to true, will show the diagnostic messages for that metric only if it is the currently selected metric."
        },
        "metric": {
          "description": "The metric.",
          "$ref": "LocalizedString"
        },
        "shortMessage": {
          "description": "The short message.",
          "$ref": "LocalizedString"
        },
        "info": {
          "$ref": "LocalizedString",
          "description": "Information about this diagnostic information."
        }
      },
      "id": "DiagnosticMessage",
      "type": "object",
      "description": "A message representing the key visualizer diagnostic messages."
    },
    "KeyRangeInfos": {
      "description": "A message representing a list of specific information for multiple key ranges.",
      "id": "KeyRangeInfos",
      "type": "object",
      "properties": {
        "infos": {
          "description": "The list individual KeyRangeInfos.",
          "items": {
            "$ref": "KeyRangeInfo"
          },
          "type": "array"
        },
        "totalSize": {
          "type": "integer",
          "format": "int32",
          "description": "The total size of the list of all KeyRangeInfos. This may be larger than the number of repeated messages above. If that is the case, this number may be used to determine how many are not being shown."
        }
      }
    },
    "UpdateDatabaseMetadata": {
      "properties": {
        "progress": {
          "description": "The progress of the UpdateDatabase operation.",
          "$ref": "OperationProgress"
        },
        "cancelTime": {
          "description": "The time at which this operation was cancelled. If set, this operation is in the process of undoing itself (which is best-effort).",
          "type": "string",
          "format": "google-datetime"
        },
        "request": {
          "$ref": "UpdateDatabaseRequest",
          "description": "The request for UpdateDatabase."
        }
      },
      "id": "UpdateDatabaseMetadata",
      "type": "object",
      "description": "Metadata type for the operation returned by UpdateDatabase."
    },
    "IndexAdvice": {
      "description": "Recommendation to add new indexes to run queries more efficiently.",
      "id": "IndexAdvice",
      "type": "object",
      "properties": {
        "ddl": {
          "type": "array",
          "description": "Optional. DDL statements to add new indexes that will improve the query.",
          "items": {
            "type": "string"
          }
        },
        "improvementFactor": {
          "description": "Optional. Estimated latency improvement factor. For example if the query currently takes 500 ms to run and the estimated latency with new indexes is 100 ms this field will be 5.",
          "type": "number",
          "format": "double"
        }
      }
    },
    "BatchWriteRequest": {
      "id": "BatchWriteRequest",
      "type": "object",
      "properties": {
        "excludeTxnFromChangeStreams": {
          "description": "Optional. If you don't set the `exclude_txn_from_change_streams` option or if it's set to `false`, then any change streams monitoring columns modified by transactions will capture the updates made within that transaction.",
          "type": "boolean"
        },
        "requestOptions": {
          "description": "Common options for this request.",
          "$ref": "RequestOptions"
        },
        "mutationGroups": {
          "type": "array",
          "description": "Required. The groups of mutations to be applied.",
          "items": {
            "$ref": "MutationGroup"
          }
        }
      },
      "description": "The request for BatchWrite."
    },
    "AutoscalingLimits": {
      "description": "The autoscaling limits for the instance. Users can define the minimum and maximum compute capacity allocated to the instance, and the autoscaler will only scale within that range. Users can either use nodes or processing units to specify the limits, but should use the same unit to set both the min_limit and max_limit.",
      "properties": {
        "minNodes": {
          "type": "integer",
          "format": "int32",
          "description": "Minimum number of nodes allocated to the instance. If set, this number should be greater than or equal to 1."
        },
        "maxProcessingUnits": {
          "type": "integer",
          "format": "int32",
          "description": "Maximum number of processing units allocated to the instance. If set, this number should be multiples of 1000 and be greater than or equal to min_processing_units."
        },
        "minProcessingUnits": {
          "type": "integer",
          "format": "int32",
          "description": "Minimum number of processing units allocated to the instance. If set, this number should be multiples of 1000."
        },
        "maxNodes": {
          "description": "Maximum number of nodes allocated to the instance. If set, this number should be greater than or equal to min_nodes.",
          "type": "integer",
          "format": "int32"
        }
      },
      "id": "AutoscalingLimits",
      "type": "object"
    },
    "Database": {
      "description": "A Cloud Spanner database.",
      "properties": {
        "versionRetentionPeriod": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The period in which Cloud Spanner retains all versions of data for the database. This is the same as the value of version_retention_period database option set using UpdateDatabaseDdl. Defaults to 1 hour, if not set."
        },
        "encryptionInfo": {
          "readOnly": true,
          "type": "array",
          "description": "Output only. For databases that are using customer managed encryption, this field contains the encryption information for the database, such as all Cloud KMS key versions that are in use. The `encryption_status` field inside of each `EncryptionInfo` is not populated. For databases that are using Google default or other types of encryption, this field is empty. This field is propagated lazily from the backend. There might be a delay from when a key version is being used and when it appears in this field.",
          "items": {
            "$ref": "EncryptionInfo"
          }
        },
        "restoreInfo": {
          "description": "Output only. Applicable only for restored databases. Contains information about the restore source.",
          "readOnly": true,
          "$ref": "RestoreInfo"
        },
        "databaseDialect": {
          "readOnly": true,
          "enumDescriptions": [
            "Default value. This value will create a database with the GOOGLE_STANDARD_SQL dialect.",
            "GoogleSQL supported SQL.",
            "PostgreSQL supported SQL."
          ],
          "description": "Output only. The dialect of the Cloud Spanner Database.",
          "type": "string",
          "enum": [
            "DATABASE_DIALECT_UNSPECIFIED",
            "GOOGLE_STANDARD_SQL",
            "POSTGRESQL"
          ]
        },
        "earliestVersionTime": {
          "description": "Output only. Earliest timestamp at which older versions of the data can be read. This value is continuously updated by Cloud Spanner and becomes stale the moment it is queried. If you are using this value to recover data, make sure to account for the time from the moment when the value is queried to the moment when you initiate the recovery.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. If exists, the time at which the database creation started."
        },
        "state": {
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "READY",
            "READY_OPTIMIZING"
          ],
          "description": "Output only. The current database state.",
          "readOnly": true,
          "enumDescriptions": [
            "Not specified.",
            "The database is still being created. Operations on the database may fail with `FAILED_PRECONDITION` in this state.",
            "The database is fully created and ready for use.",
            "The database is fully created and ready for use, but is still being optimized for performance and cannot handle full load. In this state, the database still references the backup it was restore from, preventing the backup from being deleted. When optimizations are complete, the full performance of the database will be restored, and the database will transition to `READY` state."
          ]
        },
        "quorumInfo": {
          "description": "Output only. Applicable only for databases that use dual-region instance configurations. Contains information about the quorum.",
          "readOnly": true,
          "$ref": "QuorumInfo"
        },
        "enableDropProtection": {
          "description": "Optional. Whether drop protection is enabled for this database. Defaults to false, if not set. For more details, please see how to [prevent accidental database deletion](https://cloud.google.com/spanner/docs/prevent-database-deletion).",
          "type": "boolean"
        },
        "name": {
          "description": "Required. The name of the database. Values are of the form `projects//instances//databases/`, where `` is as specified in the `CREATE DATABASE` statement. This name can be passed to other API methods to identify the database.",
          "type": "string"
        },
        "defaultLeader": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The read-write region which contains the database's leader replicas. This is the same as the value of default_leader database option set using DatabaseAdmin.CreateDatabase or DatabaseAdmin.UpdateDatabaseDdl. If not explicitly set, this is empty."
        },
        "encryptionConfig": {
          "description": "Output only. For databases that are using customer managed encryption, this field contains the encryption configuration for the database. For databases that are using Google default or other types of encryption, this field is empty.",
          "readOnly": true,
          "$ref": "EncryptionConfig"
        },
        "reconciling": {
          "description": "Output only. If true, the database is being updated. If false, there are no ongoing update operations for the database.",
          "readOnly": true,
          "type": "boolean"
        }
      },
      "id": "Database",
      "type": "object"
    },
    "EncryptionInfo": {
      "id": "EncryptionInfo",
      "type": "object",
      "properties": {
        "kmsKeyVersion": {
          "description": "Output only. A Cloud KMS key version that is being used to protect the database or backup.",
          "readOnly": true,
          "type": "string"
        },
        "encryptionType": {
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "GOOGLE_DEFAULT_ENCRYPTION",
            "CUSTOMER_MANAGED_ENCRYPTION"
          ],
          "description": "Output only. The type of encryption.",
          "readOnly": true,
          "enumDescriptions": [
            "Encryption type was not specified, though data at rest remains encrypted.",
            "The data is encrypted at rest with a key that is fully managed by Google. No key version or status will be populated. This is the default state.",
            "The data is encrypted at rest with a key that is managed by the customer. The active version of the key. `kms_key_version` will be populated, and `encryption_status` may be populated."
          ]
        },
        "encryptionStatus": {
          "description": "Output only. If present, the status of a recent encrypt/decrypt call on underlying data for this database or backup. Regardless of status, data is always encrypted at rest.",
          "readOnly": true,
          "$ref": "Status"
        }
      },
      "description": "Encryption information for a Cloud Spanner database or backup."
    },
    "UpdateDatabaseRequest": {
      "properties": {
        "updateMask": {
          "type": "string",
          "format": "google-fieldmask",
          "description": "Required. The list of fields to update. Currently, only `enable_drop_protection` field can be updated."
        },
        "database": {
          "$ref": "Database",
          "description": "Required. The database to update. The `name` field of the database is of the form `projects//instances//databases/`."
        }
      },
      "id": "UpdateDatabaseRequest",
      "type": "object",
      "description": "The request for UpdateDatabase."
    },
    "ListBackupsResponse": {
      "properties": {
        "backups": {
          "type": "array",
          "description": "The list of matching backups. Backups returned are ordered by `create_time` in descending order, starting from the most recent `create_time`.",
          "items": {
            "$ref": "Backup"
          }
        },
        "nextPageToken": {
          "description": "`next_page_token` can be sent in a subsequent ListBackups call to fetch more of the matching backups.",
          "type": "string"
        }
      },
      "id": "ListBackupsResponse",
      "type": "object",
      "description": "The response for ListBackups."
    },
    "PlanNode": {
      "description": "Node information for nodes appearing in a QueryPlan.plan_nodes.",
      "properties": {
        "index": {
          "type": "integer",
          "format": "int32",
          "description": "The `PlanNode`'s index in node list."
        },
        "kind": {
          "type": "string",
          "enumDescriptions": [
            "Not specified.",
            "Denotes a Relational operator node in the expression tree. Relational operators represent iterative processing of rows during query execution. For example, a `TableScan` operation that reads rows from a table.",
            "Denotes a Scalar node in the expression tree. Scalar nodes represent non-iterable entities in the query plan. For example, constants or arithmetic operators appearing inside predicate expressions or references to column names."
          ],
          "enum": [
            "KIND_UNSPECIFIED",
            "RELATIONAL",
            "SCALAR"
          ],
          "description": "Used to determine the type of node. May be needed for visualizing different kinds of nodes differently. For example, If the node is a SCALAR node, it will have a condensed representation which can be used to directly embed a description of the node in its parent."
        },
        "childLinks": {
          "description": "List of child node `index`es and their relationship to this parent.",
          "items": {
            "$ref": "ChildLink"
          },
          "type": "array"
        },
        "displayName": {
          "description": "The display name for the node.",
          "type": "string"
        },
        "shortRepresentation": {
          "$ref": "ShortRepresentation",
          "description": "Condensed representation for SCALAR nodes."
        },
        "executionStats": {
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "description": "The execution statistics associated with the node, contained in a group of key-value pairs. Only present if the plan was returned as a result of a profile query. For example, number of executions, number of rows/time per execution etc.",
          "type": "object"
        },
        "metadata": {
          "description": "Attributes relevant to the node contained in a group of key-value pairs. For example, a Parameter Reference node could have the following information in its metadata: { \"parameter_reference\": \"param1\", \"parameter_type\": \"array\" }",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "type": "object"
        }
      },
      "id": "PlanNode",
      "type": "object"
    },
    "MutationGroup": {
      "description": "A group of mutations to be committed together. Related mutations should be placed in a group. For example, two mutations inserting rows with the same primary key prefix in both parent and child tables are related.",
      "properties": {
        "mutations": {
          "description": "Required. The mutations in this group.",
          "items": {
            "$ref": "Mutation"
          },
          "type": "array"
        }
      },
      "id": "MutationGroup",
      "type": "object"
    },
    "QueryAdvisorResult": {
      "description": "Output of query advisor analysis.",
      "properties": {
        "indexAdvice": {
          "description": "Optional. Index Recommendation for a query. This is an optional field and the recommendation will only be available when the recommendation guarantees significant improvement in query performance.",
          "items": {
            "$ref": "IndexAdvice"
          },
          "type": "array"
        }
      },
      "id": "QueryAdvisorResult",
      "type": "object"
    },
    "Operation": {
      "properties": {
        "metadata": {
          "type": "object",
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          }
        },
        "response": {
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`."
        },
        "done": {
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available.",
          "type": "boolean"
        },
        "name": {
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`.",
          "type": "string"
        },
        "error": {
          "$ref": "Status",
          "description": "The error result of the operation in case of failure or cancellation."
        }
      },
      "id": "Operation",
      "type": "object",
      "description": "This resource represents a long-running operation that is the result of a network API call."
    },
    "RequestOptions": {
      "id": "RequestOptions",
      "type": "object",
      "properties": {
        "priority": {
          "type": "string",
          "enumDescriptions": [
            "`PRIORITY_UNSPECIFIED` is equivalent to `PRIORITY_HIGH`.",
            "This specifies that the request is low priority.",
            "This specifies that the request is medium priority.",
            "This specifies that the request is high priority."
          ],
          "enum": [
            "PRIORITY_UNSPECIFIED",
            "PRIORITY_LOW",
            "PRIORITY_MEDIUM",
            "PRIORITY_HIGH"
          ],
          "description": "Priority for the request."
        },
        "clientContext": {
          "$ref": "ClientContext",
          "description": "Optional. Optional context that may be needed for some requests."
        },
        "requestTag": {
          "description": "A per-request tag which can be applied to queries or reads, used for statistics collection. Both `request_tag` and `transaction_tag` can be specified for a read or query that belongs to a transaction. This field is ignored for requests where it's not applicable (for example, `CommitRequest`). Legal characters for `request_tag` values are all printable characters (ASCII 32 - 126) and the length of a request_tag is limited to 50 characters. Values that exceed this limit are truncated. Any leading underscore (_) characters are removed from the string.",
          "type": "string"
        },
        "transactionTag": {
          "description": "A tag used for statistics collection about this transaction. Both `request_tag` and `transaction_tag` can be specified for a read or query that belongs to a transaction. To enable tagging on a transaction, `transaction_tag` must be set to the same value for all requests belonging to the same transaction, including BeginTransaction. If this request doesn't belong to any transaction, `transaction_tag` is ignored. Legal characters for `transaction_tag` values are all printable characters (ASCII 32 - 126) and the length of a `transaction_tag` is limited to 50 characters. Values that exceed this limit are truncated. Any leading underscore (_) characters are removed from the string.",
          "type": "string"
        }
      },
      "description": "Common request options for various APIs."
    },
    "KeyRangeInfo": {
      "properties": {
        "endKeyIndex": {
          "type": "integer",
          "format": "int32",
          "description": "The index of the end key in indexed_keys."
        },
        "value": {
          "description": "The value of the metric.",
          "type": "number",
          "format": "float"
        },
        "unit": {
          "description": "The unit of the metric. This is an unstructured field and will be mapped as is to the user.",
          "$ref": "LocalizedString"
        },
        "keysCount": {
          "type": "string",
          "format": "int64",
          "description": "The number of keys this range covers."
        },
        "timeOffset": {
          "type": "string",
          "format": "google-duration",
          "description": "The time offset. This is the time since the start of the time interval."
        },
        "info": {
          "description": "Information about this key range, for all metrics.",
          "$ref": "LocalizedString"
        },
        "contextValues": {
          "type": "array",
          "description": "The list of context values for this key range.",
          "items": {
            "$ref": "ContextValue"
          }
        },
        "startKeyIndex": {
          "description": "The index of the start key in indexed_keys.",
          "type": "integer",
          "format": "int32"
        },
        "metric": {
          "description": "The name of the metric. e.g. \"latency\".",
          "$ref": "LocalizedString"
        }
      },
      "id": "KeyRangeInfo",
      "type": "object",
      "description": "A message representing information for a key range (possibly one key)."
    },
    "DerivedMetric": {
      "description": "A message representing a derived metric.",
      "id": "DerivedMetric",
      "type": "object",
      "properties": {
        "denominator": {
          "description": "The name of the denominator metric. e.g. \"rows\".",
          "$ref": "LocalizedString"
        },
        "numerator": {
          "description": "The name of the numerator metric. e.g. \"latency\".",
          "$ref": "LocalizedString"
        }
      }
    },
    "PartitionResponse": {
      "properties": {
        "transaction": {
          "$ref": "Transaction",
          "description": "Transaction created by this request."
        },
        "partitions": {
          "description": "Partitions created by this request.",
          "items": {
            "$ref": "Partition"
          },
          "type": "array"
        }
      },
      "id": "PartitionResponse",
      "type": "object",
      "description": "The response for PartitionQuery or PartitionRead"
    },
    "ScanData": {
      "id": "ScanData",
      "type": "object",
      "properties": {
        "data": {
          "description": "Cloud Key Visualizer scan data. The range of time this information covers is captured via the above time range fields. Note, this field is not available to the ListScans method.",
          "$ref": "VisualizationData"
        },
        "startTime": {
          "description": "A range of time (inclusive) for when the contained data is defined. The lower bound for when the contained data is defined.",
          "type": "string",
          "format": "google-datetime"
        },
        "endTime": {
          "description": "The upper bound for when the contained data is defined.",
          "type": "string",
          "format": "google-datetime"
        }
      },
      "description": "ScanData contains Cloud Key Visualizer scan data used by the caller to construct a visualization."
    },
    "Delete": {
      "id": "Delete",
      "type": "object",
      "properties": {
        "table": {
          "type": "string",
          "description": "Required. The table whose rows will be deleted."
        },
        "keySet": {
          "description": "Required. The primary keys of the rows within table to delete. The primary keys must be specified in the order in which they appear in the `PRIMARY KEY()` clause of the table's equivalent DDL statement (the DDL statement used to create the table). Delete is idempotent. The transaction will succeed even if some or all rows do not exist.",
          "$ref": "KeySet"
        }
      },
      "description": "Arguments to delete operations."
    },
    "PartitionEventRecord": {
      "description": "A partition event record describes key range changes for a change stream partition. The changes to a row defined by its primary key can be captured in one change stream partition for a specific time range, and then be captured in a different change stream partition for a different time range. This movement of key ranges across change stream partitions is a reflection of activities, such as Spanner's dynamic splitting and load balancing, etc. Processing this event is needed if users want to guarantee processing of the changes for any key in timestamp order. If time ordered processing of changes for a primary key is not needed, this event can be ignored. To guarantee time ordered processing for each primary key, if the event describes move-ins, the reader of this partition needs to wait until the readers of the source partitions have processed all records with timestamps <= this PartitionEventRecord.commit_timestamp, before advancing beyond this PartitionEventRecord. If the event describes move-outs, the reader can notify the readers of the destination partitions that they can continue processing.",
      "id": "PartitionEventRecord",
      "type": "object",
      "properties": {
        "commitTimestamp": {
          "description": "Indicates the commit timestamp at which the key range change occurred. DataChangeRecord.commit_timestamps, PartitionStartRecord.start_timestamps, PartitionEventRecord.commit_timestamps, and PartitionEndRecord.end_timestamps can have the same value in the same partition.",
          "type": "string",
          "format": "google-datetime"
        },
        "partitionToken": {
          "type": "string",
          "description": "Unique partition identifier describing the partition this event occurred on. partition_token is equal to the partition token of the change stream partition currently queried to return this PartitionEventRecord."
        },
        "moveInEvents": {
          "type": "array",
          "description": "Set when one or more key ranges are moved into the change stream partition identified by partition_token. Example: Two key ranges are moved into partition (P1) from partition (P2) and partition (P3) in a single transaction at timestamp T. The PartitionEventRecord returned in P1 will reflect the move as: PartitionEventRecord { commit_timestamp: T partition_token: \"P1\" move_in_events { source_partition_token: \"P2\" } move_in_events { source_partition_token: \"P3\" } } The PartitionEventRecord returned in P2 will reflect the move as: PartitionEventRecord { commit_timestamp: T partition_token: \"P2\" move_out_events { destination_partition_token: \"P1\" } } The PartitionEventRecord returned in P3 will reflect the move as: PartitionEventRecord { commit_timestamp: T partition_token: \"P3\" move_out_events { destination_partition_token: \"P1\" } }",
          "items": {
            "$ref": "MoveInEvent"
          }
        },
        "recordSequence": {
          "description": "Record sequence numbers are unique and monotonically increasing (but not necessarily contiguous) for a specific timestamp across record types in the same partition. To guarantee ordered processing, the reader should process records (of potentially different types) in record_sequence order for a specific timestamp in the same partition.",
          "type": "string"
        },
        "moveOutEvents": {
          "type": "array",
          "description": "Set when one or more key ranges are moved out of the change stream partition identified by partition_token. Example: Two key ranges are moved out of partition (P1) to partition (P2) and partition (P3) in a single transaction at timestamp T. The PartitionEventRecord returned in P1 will reflect the move as: PartitionEventRecord { commit_timestamp: T partition_token: \"P1\" move_out_events { destination_partition_token: \"P2\" } move_out_events { destination_partition_token: \"P3\" } } The PartitionEventRecord returned in P2 will reflect the move as: PartitionEventRecord { commit_timestamp: T partition_token: \"P2\" move_in_events { source_partition_token: \"P1\" } } The PartitionEventRecord returned in P3 will reflect the move as: PartitionEventRecord { commit_timestamp: T partition_token: \"P3\" move_in_events { source_partition_token: \"P1\" } }",
          "items": {
            "$ref": "MoveOutEvent"
          }
        }
      }
    },
    "HeartbeatRecord": {
      "properties": {
        "timestamp": {
          "description": "Indicates the timestamp at which the query has returned all the records in the change stream partition with timestamp <= heartbeat timestamp. The heartbeat timestamp will not be the same as the timestamps of other record types in the same partition.",
          "type": "string",
          "format": "google-datetime"
        }
      },
      "id": "HeartbeatRecord",
      "type": "object",
      "description": "A heartbeat record is returned as a progress indicator, when there are no data changes or any other partition record types in the change stream partition."
    },
    "ListOperationsResponse": {
      "properties": {
        "operations": {
          "description": "A list of operations that matches the specified filter in the request.",
          "items": {
            "$ref": "Operation"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        },
        "unreachable": {
          "description": "Unordered list. Unreachable resources. Populated when the request sets `ListOperationsRequest.return_partial_success` and reads across collections. For example, when attempting to list all resources across all supported locations.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "id": "ListOperationsResponse",
      "type": "object",
      "description": "The response message for Operations.ListOperations."
    },
    "ListInstanceConfigsResponse": {
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "`next_page_token` can be sent in a subsequent ListInstanceConfigs call to fetch more of the matching instance configurations."
        },
        "instanceConfigs": {
          "type": "array",
          "description": "The list of requested instance configurations.",
          "items": {
            "$ref": "InstanceConfig"
          }
        }
      },
      "id": "ListInstanceConfigsResponse",
      "type": "object",
      "description": "The response for ListInstanceConfigs."
    },
    "GetPolicyOptions": {
      "id": "GetPolicyOptions",
      "type": "object",
      "properties": {
        "requestedPolicyVersion": {
          "type": "integer",
          "format": "int32",
          "description": "Optional. The maximum policy version that will be used to format the policy. Valid values are 0, 1, and 3. Requests specifying an invalid value will be rejected. Requests for policies with any conditional role bindings must specify version 3. Policies with no conditional role bindings may specify any valid value or leave the field unset. The policy in the response might use the policy version that you specified, or it might use a lower policy version. For example, if you specify version 3, but the policy has no conditional role bindings, the response uses version 1. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies)."
        }
      },
      "description": "Encapsulates settings provided to GetIamPolicy."
    },
    "OptimizeRestoredDatabaseMetadata": {
      "description": "Metadata type for the long-running operation used to track the progress of optimizations performed on a newly restored database. This long-running operation is automatically created by the system after the successful completion of a database restore, and cannot be cancelled.",
      "properties": {
        "name": {
          "description": "Name of the restored database being optimized.",
          "type": "string"
        },
        "progress": {
          "$ref": "OperationProgress",
          "description": "The progress of the post-restore optimizations."
        }
      },
      "id": "OptimizeRestoredDatabaseMetadata",
      "type": "object"
    },
    "ExcludeReplicas": {
      "properties": {
        "replicaSelections": {
          "description": "The directed read replica selector.",
          "items": {
            "$ref": "ReplicaSelection"
          },
          "type": "array"
        }
      },
      "id": "ExcludeReplicas",
      "type": "object",
      "description": "An ExcludeReplicas contains a repeated set of ReplicaSelection that should be excluded from serving requests."
    },
    "PartitionEndRecord": {
      "properties": {
        "endTimestamp": {
          "type": "string",
          "format": "google-datetime",
          "description": "End timestamp at which the change stream partition is terminated. All changes generated by this partition will have timestamps <= end_timestamp. DataChangeRecord.commit_timestamps, PartitionStartRecord.start_timestamps, PartitionEventRecord.commit_timestamps, and PartitionEndRecord.end_timestamps can have the same value in the same partition. PartitionEndRecord is the last record returned for a partition."
        },
        "partitionToken": {
          "type": "string",
          "description": "Unique partition identifier describing the terminated change stream partition. partition_token is equal to the partition token of the change stream partition currently queried to return this PartitionEndRecord."
        },
        "recordSequence": {
          "description": "Record sequence numbers are unique and monotonically increasing (but not necessarily contiguous) for a specific timestamp across record types in the same partition. To guarantee ordered processing, the reader should process records (of potentially different types) in record_sequence order for a specific timestamp in the same partition.",
          "type": "string"
        }
      },
      "id": "PartitionEndRecord",
      "type": "object",
      "description": "A partition end record serves as a notification that the client should stop reading the partition. No further records are expected to be retrieved on it."
    },
    "CreateInstanceMetadata": {
      "description": "Metadata type for the operation returned by CreateInstance.",
      "id": "CreateInstanceMetadata",
      "type": "object",
      "properties": {
        "instance": {
          "description": "The instance being created.",
          "$ref": "Instance"
        },
        "expectedFulfillmentPeriod": {
          "type": "string",
          "enumDescriptions": [
            "Not specified.",
            "Normal fulfillment period. The operation is expected to complete within minutes.",
            "Extended fulfillment period. It can take up to an hour for the operation to complete."
          ],
          "enum": [
            "FULFILLMENT_PERIOD_UNSPECIFIED",
            "FULFILLMENT_PERIOD_NORMAL",
            "FULFILLMENT_PERIOD_EXTENDED"
          ],
          "description": "The expected fulfillment period of this create operation."
        },
        "cancelTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The time at which this operation was cancelled. If set, this operation is in the process of undoing itself (which is guaranteed to succeed) and cannot be cancelled again."
        },
        "startTime": {
          "description": "The time at which the CreateInstance request was received.",
          "type": "string",
          "format": "google-datetime"
        },
        "endTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The time at which this operation failed or was completed successfully."
        }
      }
    },
    "Instance": {
      "description": "An isolated set of Cloud Spanner resources on which databases can be hosted.",
      "id": "Instance",
      "type": "object",
      "properties": {
        "freeInstanceMetadata": {
          "description": "Free instance metadata. Only populated for free instances.",
          "$ref": "FreeInstanceMetadata"
        },
        "replicaComputeCapacity": {
          "description": "Output only. Lists the compute capacity per ReplicaSelection. A replica selection identifies a set of replicas with common properties. Replicas identified by a ReplicaSelection are scaled with the same compute capacity.",
          "items": {
            "$ref": "ReplicaComputeCapacity"
          },
          "readOnly": true,
          "type": "array"
        },
        "instanceType": {
          "type": "string",
          "enumDescriptions": [
            "Not specified.",
            "Provisioned instances have dedicated resources, standard usage limits and support.",
            "Free instances provide no guarantee for dedicated resources, [node_count, processing_units] should be 0. They come with stricter usage limits and limited support."
          ],
          "enum": [
            "INSTANCE_TYPE_UNSPECIFIED",
            "PROVISIONED",
            "FREE_INSTANCE"
          ],
          "description": "The `InstanceType` of the current instance."
        },
        "endpointUris": {
          "type": "array",
          "description": "Deprecated. This field is not populated.",
          "items": {
            "type": "string"
          }
        },
        "nodeCount": {
          "type": "integer",
          "format": "int32",
          "description": "The number of nodes allocated to this instance. At most, one of either `node_count` or `processing_units` should be present in the message. Users can set the `node_count` field to specify the target number of nodes allocated to the instance. If autoscaling is enabled, `node_count` is treated as an `OUTPUT_ONLY` field and reflects the current number of nodes allocated to the instance. This might be zero in API responses for instances that are not yet in the `READY` state. If the instance has varying node count across replicas (achieved by setting `asymmetric_autoscaling_options` in the autoscaling configuration), the `node_count` set here is the maximum node count across all replicas. For more information, see [Compute capacity, nodes, and processing units](https://cloud.google.com/spanner/docs/compute-capacity)."
        },
        "updateTime": {
          "description": "Output only. The time at which the instance was most recently updated.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "displayName": {
          "type": "string",
          "description": "Required. The descriptive name for this instance as it appears in UIs. Must be unique per project and between 4 and 30 characters in length."
        },
        "defaultBackupScheduleType": {
          "type": "string",
          "enumDescriptions": [
            "Not specified.",
            "A default backup schedule isn't created automatically when a new database is created in the instance.",
            "A default backup schedule is created automatically when a new database is created in the instance. The default backup schedule creates a full backup every 24 hours. These full backups are retained for 7 days. You can edit or delete the default backup schedule once it's created."
          ],
          "enum": [
            "DEFAULT_BACKUP_SCHEDULE_TYPE_UNSPECIFIED",
            "NONE",
            "AUTOMATIC"
          ],
          "description": "Optional. Controls the default backup schedule behavior for new databases within the instance. By default, a backup schedule is created automatically when a new database is created in a new instance. Note that the `AUTOMATIC` value isn't permitted for free instances, as backups and backup schedules aren't supported for free instances. In the `GetInstance` or `ListInstances` response, if the value of `default_backup_schedule_type` isn't set, or set to `NONE`, Spanner doesn't create a default backup schedule for new databases in the instance."
        },
        "config": {
          "type": "string",
          "description": "Required. The name of the instance's configuration. Values are of the form `projects//instanceConfigs/`. See also InstanceConfig and ListInstanceConfigs."
        },
        "autoscalingConfig": {
          "$ref": "AutoscalingConfig",
          "description": "Optional. The autoscaling configuration. Autoscaling is enabled if this field is set. When autoscaling is enabled, node_count and processing_units are treated as OUTPUT_ONLY fields and reflect the current compute capacity allocated to the instance."
        },
        "edition": {
          "description": "Optional. The `Edition` of the current instance.",
          "type": "string",
          "enumDescriptions": [
            "Edition not specified.",
            "Standard edition.",
            "Enterprise edition.",
            "Enterprise Plus edition."
          ],
          "enum": [
            "EDITION_UNSPECIFIED",
            "STANDARD",
            "ENTERPRISE",
            "ENTERPRISE_PLUS"
          ]
        },
        "name": {
          "description": "Required. A unique identifier for the instance, which cannot be changed after the instance is created. Values are of the form `projects//instances/a-z*[a-z0-9]`. The final segment of the name must be between 2 and 64 characters in length.",
          "type": "string"
        },
        "state": {
          "description": "Output only. The current instance state. For CreateInstance, the state must be either omitted or set to `CREATING`. For UpdateInstance, the state must be either omitted or set to `READY`.",
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "READY"
          ],
          "readOnly": true,
          "enumDescriptions": [
            "Not specified.",
            "The instance is still being created. Resources may not be available yet, and operations such as database creation may not work.",
            "The instance is fully created and ready to do work such as creating databases."
          ]
        },
        "processingUnits": {
          "type": "integer",
          "format": "int32",
          "description": "The number of processing units allocated to this instance. At most, one of either `processing_units` or `node_count` should be present in the message. Users can set the `processing_units` field to specify the target number of processing units allocated to the instance. If autoscaling is enabled, `processing_units` is treated as an `OUTPUT_ONLY` field and reflects the current number of processing units allocated to the instance. This might be zero in API responses for instances that are not yet in the `READY` state. If the instance has varying processing units per replica (achieved by setting `asymmetric_autoscaling_options` in the autoscaling configuration), the `processing_units` set here is the maximum processing units across all replicas. For more information, see [Compute capacity, nodes and processing units](https://cloud.google.com/spanner/docs/compute-capacity)."
        },
        "labels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Cloud Labels are a flexible and lightweight mechanism for organizing cloud resources into groups that reflect a customer's organizational needs and deployment strategies. Cloud Labels can be used to filter collections of resources. They can be used to control how resource metrics are aggregated. And they can be used as arguments to policy management rules (e.g. route, firewall, load balancing, etc.). * Label keys must be between 1 and 63 characters long and must conform to the following regular expression: `a-z{0,62}`. * Label values must be between 0 and 63 characters long and must conform to the regular expression `[a-z0-9_-]{0,63}`. * No more than 64 labels can be associated with a given resource. See https://goo.gl/xmQnxf for more information on and examples of labels. If you plan to use labels in your own code, please note that additional characters may be allowed in the future. And so you are advised to use an internal label representation, such as JSON, which doesn't rely upon specific characters being disallowed. For example, representing labels as the string: name + \"_\" + value would prove problematic if we were to allow \"_\" in a future release."
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The time at which the instance was created."
        }
      }
    },
    "Backup": {
      "description": "A backup of a Cloud Spanner database.",
      "properties": {
        "instancePartitions": {
          "readOnly": true,
          "type": "array",
          "description": "Output only. The instance partition storing the backup. This is the same as the list of the instance partitions that the database recorded at the backup's `version_time`.",
          "items": {
            "$ref": "BackupInstancePartition"
          }
        },
        "versionTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The backup will contain an externally consistent copy of the database at the timestamp specified by `version_time`. If `version_time` is not specified, the system will set `version_time` to the `create_time` of the backup."
        },
        "database": {
          "type": "string",
          "description": "Required for the CreateBackup operation. Name of the database from which this backup was created. This needs to be in the same instance as the backup. Values are of the form `projects/{project}/instances/{instance}/databases/{database}`."
        },
        "incrementalBackupChainId": {
          "description": "Output only. Populated only for backups in an incremental backup chain. Backups share the same chain id if and only if they belong to the same incremental backup chain. Use this field to determine which backups are part of the same incremental backup chain. The ordering of backups in the chain can be determined by ordering the backup `version_time`.",
          "readOnly": true,
          "type": "string"
        },
        "databaseDialect": {
          "description": "Output only. The database dialect information for the backup.",
          "type": "string",
          "enum": [
            "DATABASE_DIALECT_UNSPECIFIED",
            "GOOGLE_STANDARD_SQL",
            "POSTGRESQL"
          ],
          "readOnly": true,
          "enumDescriptions": [
            "Default value. This value will create a database with the GOOGLE_STANDARD_SQL dialect.",
            "GoogleSQL supported SQL.",
            "PostgreSQL supported SQL."
          ]
        },
        "backupSchedules": {
          "description": "Output only. List of backup schedule URIs that are associated with creating this backup. This is only applicable for scheduled backups, and is empty for on-demand backups. To optimize for storage, whenever possible, multiple schedules are collapsed together to create one backup. In such cases, this field captures the list of all backup schedule URIs that are associated with creating this backup. If collapsing is not done, then this field captures the single backup schedule URI associated with creating this backup.",
          "items": {
            "type": "string"
          },
          "readOnly": true,
          "type": "array"
        },
        "encryptionInfo": {
          "readOnly": true,
          "$ref": "EncryptionInfo",
          "description": "Output only. The encryption information for the backup."
        },
        "referencingDatabases": {
          "description": "Output only. The names of the restored databases that reference the backup. The database names are of the form `projects/{project}/instances/{instance}/databases/{database}`. Referencing databases may exist in different instances. The existence of any referencing database prevents the backup from being deleted. When a restored database from the backup enters the `READY` state, the reference to the backup is removed.",
          "items": {
            "type": "string"
          },
          "readOnly": true,
          "type": "array"
        },
        "referencingBackups": {
          "description": "Output only. The names of the destination backups being created by copying this source backup. The backup names are of the form `projects/{project}/instances/{instance}/backups/{backup}`. Referencing backups may exist in different instances. The existence of any referencing backup prevents the backup from being deleted. When the copy operation is done (either successfully completed or cancelled or the destination backup is deleted), the reference to the backup is removed.",
          "items": {
            "type": "string"
          },
          "readOnly": true,
          "type": "array"
        },
        "exclusiveSizeBytes": {
          "description": "Output only. For a backup in an incremental backup chain, this is the storage space needed to keep the data that has changed since the previous backup. For all other backups, this is always the size of the backup. This value may change if backups on the same chain get deleted or expired. This field can be used to calculate the total storage space used by a set of backups. For example, the total space used by all backups of a database can be computed by summing up this field.",
          "readOnly": true,
          "type": "string",
          "format": "int64"
        },
        "sizeBytes": {
          "readOnly": true,
          "type": "string",
          "format": "int64",
          "description": "Output only. Size of the backup in bytes. For a backup in an incremental backup chain, this is the sum of the `exclusive_size_bytes` of itself and all older backups in the chain."
        },
        "encryptionInformation": {
          "description": "Output only. The encryption information for the backup, whether it is protected by one or more KMS keys. The information includes all Cloud KMS key versions used to encrypt the backup. The `encryption_status` field inside of each `EncryptionInfo` is not populated. At least one of the key versions must be available for the backup to be restored. If a key version is revoked in the middle of a restore, the restore behavior is undefined.",
          "items": {
            "$ref": "EncryptionInfo"
          },
          "readOnly": true,
          "type": "array"
        },
        "maxExpireTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The max allowed expiration time of the backup, with microseconds granularity. A backup's expiration time can be configured in multiple APIs: CreateBackup, UpdateBackup, CopyBackup. When updating or copying an existing backup, the expiration time specified must be less than `Backup.max_expire_time`."
        },
        "minimumRestorableEdition": {
          "type": "string",
          "enum": [
            "EDITION_UNSPECIFIED",
            "STANDARD",
            "ENTERPRISE",
            "ENTERPRISE_PLUS"
          ],
          "description": "Output only. The minimum edition required to successfully restore the backup. Populated only if the edition is Enterprise or Enterprise Plus.",
          "readOnly": true,
          "enumDescriptions": [
            "Edition not specified.",
            "Standard edition.",
            "Enterprise edition.",
            "Enterprise Plus edition."
          ]
        },
        "createTime": {
          "description": "Output only. The time the CreateBackup request is received. If the request does not specify `version_time`, the `version_time` of the backup will be equivalent to the `create_time`.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "expireTime": {
          "description": "Required for the CreateBackup operation. The expiration time of the backup, with microseconds granularity that must be at least 6 hours and at most 366 days from the time the CreateBackup request is processed. Once the `expire_time` has passed, the backup is eligible to be automatically deleted by Cloud Spanner to free the resources used by the backup.",
          "type": "string",
          "format": "google-datetime"
        },
        "freeableSizeBytes": {
          "description": "Output only. The number of bytes that will be freed by deleting this backup. This value will be zero if, for example, this backup is part of an incremental backup chain and younger backups in the chain require that we keep its data. For backups not in an incremental backup chain, this is always the size of the backup. This value may change if backups on the same chain get created, deleted or expired.",
          "readOnly": true,
          "type": "string",
          "format": "int64"
        },
        "state": {
          "description": "Output only. The current state of the backup.",
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "READY"
          ],
          "readOnly": true,
          "enumDescriptions": [
            "Not specified.",
            "The pending backup is still being created. Operations on the backup may fail with `FAILED_PRECONDITION` in this state.",
            "The backup is complete and ready for use."
          ]
        },
        "oldestVersionTime": {
          "description": "Output only. Data deleted at a time older than this is guaranteed not to be retained in order to support this backup. For a backup in an incremental backup chain, this is the version time of the oldest backup that exists or ever existed in the chain. For all other backups, this is the version time of the backup. This field can be used to understand what data is being retained by the backup system.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "name": {
          "description": "Output only for the CreateBackup operation. Required for the UpdateBackup operation. A globally unique identifier for the backup which cannot be changed. Values are of the form `projects/{project}/instances/{instance}/backups/a-z*[a-z0-9]` The final segment of the name must be between 2 and 60 characters in length. The backup is stored in the location(s) specified in the instance configuration of the instance containing the backup, identified by the prefix of the backup name of the form `projects/{project}/instances/{instance}`.",
          "type": "string"
        }
      },
      "id": "Backup",
      "type": "object"
    },
    "MoveInEvent": {
      "properties": {
        "sourcePartitionToken": {
          "type": "string",
          "description": "An unique partition identifier describing the source change stream partition that recorded changes for the key range that is moving into this partition."
        }
      },
      "id": "MoveInEvent",
      "type": "object",
      "description": "Describes move-in of the key ranges into the change stream partition identified by partition_token. To maintain processing the changes for a particular key in timestamp order, the query processing the change stream partition identified by partition_token should not advance beyond the partition event record commit timestamp until the queries processing the source change stream partitions have processed all change stream records with timestamps <= the partition event record commit timestamp."
    },
    "PartialResultSet": {
      "properties": {
        "chunkedValue": {
          "type": "boolean",
          "description": "If true, then the final value in values is chunked, and must be combined with more values from subsequent `PartialResultSet`s to obtain a complete field value."
        },
        "stats": {
          "description": "Query plan and execution statistics for the statement that produced this streaming result set. These can be requested by setting ExecuteSqlRequest.query_mode and are sent only once with the last response in the stream. This field is also present in the last response for DML statements.",
          "$ref": "ResultSetStats"
        },
        "values": {
          "type": "array",
          "description": "A streamed result set consists of a stream of values, which might be split into many `PartialResultSet` messages to accommodate large rows and/or large values. Every N complete values defines a row, where N is equal to the number of entries in metadata.row_type.fields. Most values are encoded based on type as described here. It's possible that the last value in values is \"chunked\", meaning that the rest of the value is sent in subsequent `PartialResultSet`(s). This is denoted by the chunked_value field. Two or more chunked values can be merged to form a complete value as follows: * `bool/number/null`: can't be chunked * `string`: concatenate the strings * `list`: concatenate the lists. If the last element in a list is a `string`, `list`, or `object`, merge it with the first element in the next list by applying these rules recursively. * `object`: concatenate the (field name, field value) pairs. If a field name is duplicated, then apply these rules recursively to merge the field values. Some examples of merging: Strings are concatenated. \"foo\", \"bar\" => \"foobar\" Lists of non-strings are concatenated. [2, 3], [4] => [2, 3, 4] Lists are concatenated, but the last and first elements are merged because they are strings. [\"a\", \"b\"], [\"c\", \"d\"] => [\"a\", \"bc\", \"d\"] Lists are concatenated, but the last and first elements are merged because they are lists. Recursively, the last and first elements of the inner lists are merged because they are strings. [\"a\", [\"b\", \"c\"]], [[\"d\"], \"e\"] => [\"a\", [\"b\", \"cd\"], \"e\"] Non-overlapping object fields are combined. {\"a\": \"1\"}, {\"b\": \"2\"} => {\"a\": \"1\", \"b\": 2\"} Overlapping object fields are merged. {\"a\": \"1\"}, {\"a\": \"2\"} => {\"a\": \"12\"} Examples of merging objects containing lists of strings. {\"a\": [\"1\"]}, {\"a\": [\"2\"]} => {\"a\": [\"12\"]} For a more complete example, suppose a streaming SQL query is yielding a result set whose rows contain a single string field. The following `PartialResultSet`s might be yielded: { \"metadata\": { ... } \"values\": [\"Hello\", \"W\"] \"chunked_value\": true \"resume_token\": \"Af65...\" } { \"values\": [\"orl\"] \"chunked_value\": true } { \"values\": [\"d\"] \"resume_token\": \"Zx1B...\" } This sequence of `PartialResultSet`s encodes two rows, one containing the field value `\"Hello\"`, and a second containing the field value `\"World\" = \"W\" + \"orl\" + \"d\"`. Not all `PartialResultSet`s contain a `resume_token`. Execution can only be resumed from a previously yielded `resume_token`. For the above sequence of `PartialResultSet`s, resuming the query with `\"resume_token\": \"Af65...\"` yields results from the `PartialResultSet` with value \"orl\".",
          "items": {
            "type": "any"
          }
        },
        "last": {
          "description": "Optional. Indicates whether this is the last `PartialResultSet` in the stream. The server might optionally set this field. Clients shouldn't rely on this field being set in all cases.",
          "type": "boolean"
        },
        "metadata": {
          "$ref": "ResultSetMetadata",
          "description": "Metadata about the result set, such as row type information. Only present in the first response."
        },
        "precommitToken": {
          "$ref": "MultiplexedSessionPrecommitToken",
          "description": "Optional. A precommit token is included if the read-write transaction has multiplexed sessions enabled. Pass the precommit token with the highest sequence number from this transaction attempt to the Commit request for this transaction."
        },
        "resumeToken": {
          "description": "Streaming calls might be interrupted for a variety of reasons, such as TCP connection loss. If this occurs, the stream of results can be resumed by re-sending the original request and including `resume_token`. Note that executing any other transaction in the same session invalidates the token.",
          "type": "string",
          "format": "byte"
        }
      },
      "id": "PartialResultSet",
      "type": "object",
      "description": "Partial results from a streaming read or SQL query. Streaming reads and SQL queries better tolerate large result sets, large rows, and large values, but are a little trickier to consume."
    },
    "Key": {
      "description": "A split key.",
      "properties": {
        "keyParts": {
          "description": "Required. The column values making up the split key.",
          "items": {
            "type": "any"
          },
          "type": "array"
        }
      },
      "id": "Key",
      "type": "object"
    },
    "StructType": {
      "description": "`StructType` defines the fields of a STRUCT type.",
      "id": "StructType",
      "type": "object",
      "properties": {
        "fields": {
          "type": "array",
          "description": "The list of fields that make up this struct. Order is significant, because values of this struct type are represented as lists, where the order of field values matches the order of fields in the StructType. In turn, the order of fields matches the order of columns in a read request, or the order of fields in the `SELECT` clause of a query.",
          "items": {
            "$ref": "Field"
          }
        }
      }
    },
    "RestoreDatabaseRequest": {
      "properties": {
        "backup": {
          "type": "string",
          "description": "Name of the backup from which to restore. Values are of the form `projects//instances//backups/`."
        },
        "databaseId": {
          "description": "Required. The id of the database to create and restore to. This database must not already exist. The `database_id` appended to `parent` forms the full database name of the form `projects//instances//databases/`.",
          "type": "string"
        },
        "encryptionConfig": {
          "$ref": "RestoreDatabaseEncryptionConfig",
          "description": "Optional. An encryption configuration describing the encryption type and key resources in Cloud KMS used to encrypt/decrypt the database to restore to. If this field is not specified, the restored database will use the same encryption configuration as the backup by default, namely encryption_type = `USE_CONFIG_DEFAULT_OR_BACKUP_ENCRYPTION`."
        }
      },
      "id": "RestoreDatabaseRequest",
      "type": "object",
      "description": "The request for RestoreDatabase."
    },
    "MultiplexedSessionPrecommitToken": {
      "id": "MultiplexedSessionPrecommitToken",
      "type": "object",
      "properties": {
        "precommitToken": {
          "description": "Opaque precommit token.",
          "type": "string",
          "format": "byte"
        },
        "seqNum": {
          "type": "integer",
          "format": "int32",
          "description": "An incrementing seq number is generated on every precommit token that is returned. Clients should remember the precommit token with the highest sequence number from the current transaction attempt."
        }
      },
      "description": "When a read-write transaction is executed on a multiplexed session, this precommit token is sent back to the client as a part of the Transaction message in the BeginTransaction response and also as a part of the ResultSet and PartialResultSet responses."
    },
    "IncrementalBackupSpec": {
      "description": "The specification for incremental backup chains. An incremental backup stores the delta of changes between a previous backup and the database contents at a given version time. An incremental backup chain consists of a full backup and zero or more successive incremental backups. The first backup created for an incremental backup chain is always a full backup.",
      "properties": {},
      "id": "IncrementalBackupSpec",
      "type": "object"
    },
    "Partition": {
      "properties": {
        "partitionToken": {
          "type": "string",
          "format": "byte",
          "description": "This token can be passed to `Read`, `StreamingRead`, `ExecuteSql`, or `ExecuteStreamingSql` requests to restrict the results to those identified by this partition token."
        }
      },
      "id": "Partition",
      "type": "object",
      "description": "Information returned for each partition returned in a PartitionResponse."
    },
    "Status": {
      "id": "Status",
      "type": "object",
      "properties": {
        "code": {
          "type": "integer",
          "format": "int32",
          "description": "The status code, which should be an enum value of google.rpc.Code."
        },
        "details": {
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "items": {
            "type": "object",
            "additionalProperties": {
              "description": "Properties of the object. Contains field @type with type URL.",
              "type": "any"
            }
          },
          "type": "array"
        },
        "message": {
          "type": "string",
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client."
        }
      },
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors)."
    },
    "DdlStatementActionInfo": {
      "id": "DdlStatementActionInfo",
      "type": "object",
      "properties": {
        "entityType": {
          "type": "string",
          "description": "The entity type for the DDL statement, for example, TABLE, INDEX, VIEW, etc. This field can be empty string for some DDL statement, for example, for statement \"ANALYZE\", `entity_type` = \"\"."
        },
        "action": {
          "type": "string",
          "description": "The action for the DDL statement, for example, CREATE, ALTER, DROP, GRANT, etc. This field is a non-empty string."
        },
        "entityNames": {
          "type": "array",
          "description": "The entity names being operated on the DDL statement. For example, 1. For statement \"CREATE TABLE t1(...)\", `entity_names` = [\"t1\"]. 2. For statement \"GRANT ROLE r1, r2 ...\", `entity_names` = [\"r1\", \"r2\"]. 3. For statement \"ANALYZE\", `entity_names` = [].",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "Action information extracted from a DDL statement. This proto is used to display the brief info of the DDL statement for the operation UpdateDatabaseDdl."
    },
    "ReadRequest": {
      "properties": {
        "partitionToken": {
          "type": "string",
          "format": "byte",
          "description": "If present, results are restricted to the specified partition previously created using `PartitionRead`. There must be an exact match for the values of fields common to this message and the PartitionReadRequest message used to create this partition_token."
        },
        "columns": {
          "description": "Required. The columns of table to be returned for each row matching this request.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "limit": {
          "description": "If greater than zero, only the first `limit` rows are yielded. If `limit` is zero, the default is no limit. A limit can't be specified if `partition_token` is set.",
          "type": "string",
          "format": "int64"
        },
        "directedReadOptions": {
          "$ref": "DirectedReadOptions",
          "description": "Directed read options for this request."
        },
        "lockHint": {
          "description": "Optional. Lock Hint for the request, it can only be used with read-write transactions.",
          "type": "string",
          "enumDescriptions": [
            "Default value. `LOCK_HINT_UNSPECIFIED` is equivalent to `LOCK_HINT_SHARED`.",
            "Acquire shared locks. By default when you perform a read as part of a read-write transaction, Spanner acquires shared read locks, which allows other reads to still access the data until your transaction is ready to commit. When your transaction is committing and writes are being applied, the transaction attempts to upgrade to an exclusive lock for any data you are writing. For more information about locks, see [Lock modes](https://cloud.google.com/spanner/docs/introspection/lock-statistics#explain-lock-modes).",
            "Acquire exclusive locks. Requesting exclusive locks is beneficial if you observe high write contention, which means you notice that multiple transactions are concurrently trying to read and write to the same data, resulting in a large number of aborts. This problem occurs when two transactions initially acquire shared locks and then both try to upgrade to exclusive locks at the same time. In this situation both transactions are waiting for the other to give up their lock, resulting in a deadlocked situation. Spanner is able to detect this occurring and force one of the transactions to abort. However, this is a slow and expensive operation and results in lower performance. In this case it makes sense to acquire exclusive locks at the start of the transaction because then when multiple transactions try to act on the same data, they automatically get serialized. Each transaction waits its turn to acquire the lock and avoids getting into deadlock situations. Because the exclusive lock hint is just a hint, it shouldn't be considered equivalent to a mutex. In other words, you shouldn't use Spanner exclusive locks as a mutual exclusion mechanism for the execution of code outside of Spanner. **Note:** Request exclusive locks judiciously because they block others from reading that data for the entire transaction, rather than just when the writes are being performed. Unless you observe high write contention, you should use the default of shared read locks so you don't prematurely block other clients from reading the data that you're writing to."
          ],
          "enum": [
            "LOCK_HINT_UNSPECIFIED",
            "LOCK_HINT_SHARED",
            "LOCK_HINT_EXCLUSIVE"
          ]
        },
        "keySet": {
          "description": "Required. `key_set` identifies the rows to be yielded. `key_set` names the primary keys of the rows in table to be yielded, unless index is present. If index is present, then key_set instead names index keys in index. If the partition_token field is empty, rows are yielded in table primary key order (if index is empty) or index key order (if index is non-empty). If the partition_token field isn't empty, rows are yielded in an unspecified order. It isn't an error for the `key_set` to name rows that don't exist in the database. Read yields nothing for nonexistent rows.",
          "$ref": "KeySet"
        },
        "transaction": {
          "$ref": "TransactionSelector",
          "description": "The transaction to use. If none is provided, the default is a temporary read-only transaction with strong concurrency."
        },
        "requestOptions": {
          "description": "Common options for this request.",
          "$ref": "RequestOptions"
        },
        "index": {
          "description": "If non-empty, the name of an index on table. This index is used instead of the table primary key when interpreting key_set and sorting result rows. See key_set for further information.",
          "type": "string"
        },
        "orderBy": {
          "type": "string",
          "enumDescriptions": [
            "Default value. `ORDER_BY_UNSPECIFIED` is equivalent to `ORDER_BY_PRIMARY_KEY`.",
            "Read rows are returned in primary key order. In the event that this option is used in conjunction with the `partition_token` field, the API returns an `INVALID_ARGUMENT` error.",
            "Read rows are returned in any order."
          ],
          "enum": [
            "ORDER_BY_UNSPECIFIED",
            "ORDER_BY_PRIMARY_KEY",
            "ORDER_BY_NO_ORDER"
          ],
          "description": "Optional. Order for the returned rows. By default, Spanner returns result rows in primary key order except for PartitionRead requests. For applications that don't require rows to be returned in primary key (`ORDER_BY_PRIMARY_KEY`) order, setting `ORDER_BY_NO_ORDER` option allows Spanner to optimize row retrieval, resulting in lower latencies in certain cases (for example, bulk point lookups)."
        },
        "table": {
          "type": "string",
          "description": "Required. The name of the table in the database to be read."
        },
        "resumeToken": {
          "description": "If this request is resuming a previously interrupted read, `resume_token` should be copied from the last PartialResultSet yielded before the interruption. Doing this enables the new read to resume where the last read left off. The rest of the request parameters must exactly match the request that yielded this token.",
          "type": "string",
          "format": "byte"
        },
        "dataBoostEnabled": {
          "type": "boolean",
          "description": "If this is for a partitioned read and this field is set to `true`, the request is executed with Spanner Data Boost independent compute resources. If the field is set to `true` but the request doesn't set `partition_token`, the API returns an `INVALID_ARGUMENT` error."
        }
      },
      "id": "ReadRequest",
      "type": "object",
      "description": "The request for Read and StreamingRead."
    },
    "GetIamPolicyRequest": {
      "description": "Request message for `GetIamPolicy` method.",
      "id": "GetIamPolicyRequest",
      "type": "object",
      "properties": {
        "options": {
          "description": "OPTIONAL: A `GetPolicyOptions` object for specifying options to `GetIamPolicy`.",
          "$ref": "GetPolicyOptions"
        }
      }
    },
    "ExecuteBatchDmlResponse": {
      "description": "The response for ExecuteBatchDml. Contains a list of ResultSet messages, one for each DML statement that has successfully executed, in the same order as the statements in the request. If a statement fails, the status in the response body identifies the cause of the failure. To check for DML statements that failed, use the following approach: 1. Check the status in the response message. The google.rpc.Code enum value `OK` indicates that all statements were executed successfully. 2. If the status was not `OK`, check the number of result sets in the response. If the response contains `N` ResultSet messages, then statement `N+1` in the request failed. Example 1: * Request: 5 DML statements, all executed successfully. * Response: 5 ResultSet messages, with the status `OK`. Example 2: * Request: 5 DML statements. The third statement has a syntax error. * Response: 2 ResultSet messages, and a syntax error (`INVALID_ARGUMENT`) status. The number of ResultSet messages indicates that the third statement failed, and the fourth and fifth statements were not executed.",
      "id": "ExecuteBatchDmlResponse",
      "type": "object",
      "properties": {
        "precommitToken": {
          "$ref": "MultiplexedSessionPrecommitToken",
          "description": "Optional. A precommit token is included if the read-write transaction is on a multiplexed session. Pass the precommit token with the highest sequence number from this transaction attempt should be passed to the Commit request for this transaction."
        },
        "resultSets": {
          "description": "One ResultSet for each statement in the request that ran successfully, in the same order as the statements in the request. Each ResultSet does not contain any rows. The ResultSetStats in each ResultSet contain the number of rows modified by the statement. Only the first ResultSet in the response contains valid ResultSetMetadata.",
          "items": {
            "$ref": "ResultSet"
          },
          "type": "array"
        },
        "status": {
          "description": "If all DML statements are executed successfully, the status is `OK`. Otherwise, the error status of the first failed statement.",
          "$ref": "Status"
        }
      }
    },
    "Mutation": {
      "id": "Mutation",
      "type": "object",
      "properties": {
        "insert": {
          "description": "Insert new rows in a table. If any of the rows already exist, the write or transaction fails with error `ALREADY_EXISTS`.",
          "$ref": "Write"
        },
        "ack": {
          "$ref": "Ack",
          "description": "Ack a message from a queue."
        },
        "send": {
          "$ref": "Send",
          "description": "Send a message to a queue."
        },
        "insertOrUpdate": {
          "description": "Like insert, except that if the row already exists, then its column values are overwritten with the ones provided. Any column values not explicitly written are preserved. When using insert_or_update, just as when using insert, all `NOT NULL` columns in the table must be given a value. This holds true even when the row already exists and will therefore actually be updated.",
          "$ref": "Write"
        },
        "delete": {
          "description": "Delete rows from a table. Succeeds whether or not the named rows were present.",
          "$ref": "Delete"
        },
        "update": {
          "description": "Update existing rows in a table. If any of the rows does not already exist, the transaction fails with error `NOT_FOUND`.",
          "$ref": "Write"
        },
        "replace": {
          "$ref": "Write",
          "description": "Like insert, except that if the row already exists, it is deleted, and the column values provided are inserted instead. Unlike insert_or_update, this means any values not explicitly written become `NULL`. In an interleaved table, if you create the child table with the `ON DELETE CASCADE` annotation, then replacing a parent row also deletes the child rows. Otherwise, you must delete the child rows before you replace the parent row."
        }
      },
      "description": "A modification to one or more Cloud Spanner rows. Mutations can be applied to a Cloud Spanner database by sending them in a Commit call."
    },
    "InstanceReplicaSelection": {
      "description": "ReplicaSelection identifies replicas with common properties.",
      "id": "InstanceReplicaSelection",
      "type": "object",
      "properties": {
        "location": {
          "type": "string",
          "description": "Required. Name of the location of the replicas (for example, \"us-central1\")."
        }
      }
    },
    "IndexedHotKey": {
      "description": "A message representing a (sparse) collection of hot keys for specific key buckets.",
      "id": "IndexedHotKey",
      "type": "object",
      "properties": {
        "sparseHotKeys": {
          "additionalProperties": {
            "type": "integer",
            "format": "int32"
          },
          "description": "A (sparse) mapping from key bucket index to the index of the specific hot row key for that key bucket. The index of the hot row key can be translated to the actual row key via the ScanData.VisualizationData.indexed_keys repeated field.",
          "type": "object"
        }
      }
    },
    "RollbackRequest": {
      "description": "The request for Rollback.",
      "id": "RollbackRequest",
      "type": "object",
      "properties": {
        "transactionId": {
          "type": "string",
          "format": "byte",
          "description": "Required. The transaction to roll back."
        }
      }
    },
    "PartitionedDml": {
      "id": "PartitionedDml",
      "type": "object",
      "properties": {},
      "description": "Message type to initiate a Partitioned DML transaction."
    },
    "IndexedKeyRangeInfos": {
      "properties": {
        "keyRangeInfos": {
          "type": "object",
          "description": "A (sparse) mapping from key bucket index to the KeyRangeInfos for that key bucket.",
          "additionalProperties": {
            "$ref": "KeyRangeInfos"
          }
        }
      },
      "id": "IndexedKeyRangeInfos",
      "type": "object",
      "description": "A message representing a (sparse) collection of KeyRangeInfos for specific key buckets."
    },
    "UpdateInstanceRequest": {
[...]
