{
  "batchPath": "batch",
  "servicePath": "",
  "version": "v1",
  "fullyEncodeReservedExpansion": true,
  "discoveryVersion": "v1",
  "baseUrl": "https://spanner.googleapis.com/",
  "title": "Cloud Spanner API",
  "resources": {
    "scans": {
      "methods": {
        "list": {
          "path": "v1/{+parent}",
          "parameterOrder": [
            "parent"
          ],
          "description": "Return available scans given a Database-specific resource name.",
          "httpMethod": "GET",
          "parameters": {
            "pageToken": {
              "description": "The next_page_token value returned from a previous List request, if any.",
              "location": "query",
              "type": "string"
            },
            "view": {
              "location": "query",
              "type": "string",
              "description": "Specifies which parts of the Scan should be returned in the response. Note, only the SUMMARY view (the default) is currently supported for ListScans.",
              "enum": [
                "VIEW_UNSPECIFIED",
                "SUMMARY",
                "FULL"
              ],
              "enumDescriptions": [
                "Not specified, equivalent to SUMMARY.",
                "Server responses only include `name`, `details`, `start_time` and `end_time`. The default value. Note, the ListScans method may only use this view type, others view types are not supported.",
                "Full representation of the scan is returned in the server response, including `data`."
              ]
            },
            "filter": {
              "description": "A filter expression to restrict the results based on information present in the available Scan collection. The filter applies to all fields within the Scan message except for `data`.",
              "location": "query",
              "type": "string"
            },
            "parent": {
              "type": "string",
              "pattern": "^scans$",
              "location": "path",
              "required": true,
              "description": "Required. The unique name of the parent resource, specific to the Database service implementing this interface."
            },
            "pageSize": {
              "description": "The maximum number of items to return.",
              "location": "query",
              "format": "int32",
              "type": "integer"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/spanner.data"
          ],
          "id": "spanner.scans.list",
          "flatPath": "v1/scans",
          "response": {
            "$ref": "ListScansResponse"
          }
        }
      }
    },
    "projects": {
      "resources": {
        "instanceConfigs": {
          "methods": {
            "delete": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/spanner.admin"
              ],
              "parameters": {
                "name": {
                  "required": true,
                  "description": "Required. The name of the instance configuration to be deleted. Values are of the form `projects//instanceConfigs/`",
                  "pattern": "^projects/[^/]+/instanceConfigs/[^/]+$",
                  "location": "path",
                  "type": "string"
                },
                "etag": {
                  "description": "Used for optimistic concurrency control as a way to help prevent simultaneous deletes of an instance configuration from overwriting each other. If not empty, the API only deletes the instance configuration when the etag provided matches the current status of the requested instance configuration. Otherwise, deletes the instance configuration without checking the current status of the requested instance configuration.",
                  "location": "query",
                  "type": "string"
                },
                "validateOnly": {
                  "type": "boolean",
                  "description": "An option to validate, but not actually execute, a request, and provide the same response.",
                  "location": "query"
                }
              },
              "httpMethod": "DELETE",
              "parameterOrder": [
                "name"
              ],
              "description": "Deletes the instance configuration. Deletion is only allowed when no instances are using the configuration. If any instances are using the configuration, returns `FAILED_PRECONDITION`. Only user-managed configurations can be deleted. Authorization requires `spanner.instanceConfigs.delete` permission on the resource name.",
              "path": "v1/{+name}",
              "response": {
                "$ref": "Empty"
              },
              "flatPath": "v1/projects/{projectsId}/instanceConfigs/{instanceConfigsId}",
              "id": "spanner.projects.instanceConfigs.delete"
            },
            "create": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/spanner.admin"
              ],
              "parameters": {
                "parent": {
                  "type": "string",
                  "pattern": "^projects/[^/]+$",
                  "location": "path",
                  "description": "Required. The name of the project in which to create the instance configuration. Values are of the form `projects/`.",
                  "required": true
                }
              },
              "httpMethod": "POST",
              "parameterOrder": [
                "parent"
              ],
              "description": "Creates an instance configuration and begins preparing it to be used. The returned long-running operation can be used to track the progress of preparing the new instance configuration. The instance configuration name is assigned by the caller. If the named instance configuration already exists, `CreateInstanceConfig` returns `ALREADY_EXISTS`. Immediately after the request returns: * The instance configuration is readable via the API, with all requested attributes. The instance configuration's reconciling field is set to true. Its state is `CREATING`. While the operation is pending: * Cancelling the operation renders the instance configuration immediately unreadable via the API. * Except for deleting the creating resource, all other attempts to modify the instance configuration are rejected. Upon completion of the returned operation: * Instances can be created using the instance configuration. * The instance configuration's reconciling field becomes false. Its state becomes `READY`. The returned long-running operation will have a name of the format `/operations/` and can be used to track creation of the instance configuration. The metadata field type is CreateInstanceConfigMetadata. The response field type is InstanceConfig, if successful. Authorization requires `spanner.instanceConfigs.create` permission on the resource parent.",
              "path": "v1/{+parent}/instanceConfigs",
              "response": {
                "$ref": "Operation"
              },
              "flatPath": "v1/projects/{projectsId}/instanceConfigs",
              "id": "spanner.projects.instanceConfigs.create",
              "request": {
                "$ref": "CreateInstanceConfigRequest"
              }
            },
            "list": {
              "parameters": {
                "parent": {
                  "pattern": "^projects/[^/]+$",
                  "location": "path",
                  "type": "string",
                  "description": "Required. The name of the project for which a list of supported instance configurations is requested. Values are of the form `projects/`.",
                  "required": true
                },
                "pageSize": {
                  "description": "Number of instance configurations to be returned in the response. If 0 or less, defaults to the server's maximum allowed page size.",
                  "location": "query",
                  "format": "int32",
                  "type": "integer"
                },
                "pageToken": {
                  "type": "string",
                  "description": "If non-empty, `page_token` should contain a next_page_token from a previous ListInstanceConfigsResponse.",
                  "location": "query"
                }
              },
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/spanner.admin"
              ],
              "path": "v1/{+parent}/instanceConfigs",
              "parameterOrder": [
                "parent"
              ],
              "description": "Lists the supported instance configurations for a given project. Returns both Google-managed configurations and user-managed configurations.",
              "flatPath": "v1/projects/{projectsId}/instanceConfigs",
              "id": "spanner.projects.instanceConfigs.list",
              "response": {
                "$ref": "ListInstanceConfigsResponse"
              }
            },
            "get": {
              "response": {
                "$ref": "InstanceConfig"
              },
              "id": "spanner.projects.instanceConfigs.get",
              "flatPath": "v1/projects/{projectsId}/instanceConfigs/{instanceConfigsId}",
              "parameterOrder": [
                "name"
              ],
              "description": "Gets information about a particular instance configuration.",
              "path": "v1/{+name}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/spanner.admin"
              ],
              "httpMethod": "GET",
              "parameters": {
                "name": {
                  "required": true,
                  "description": "Required. The name of the requested instance configuration. Values are of the form `projects//instanceConfigs/`.",
                  "type": "string",
                  "pattern": "^projects/[^/]+/instanceConfigs/[^/]+$",
                  "location": "path"
                }
              }
            },
            "patch": {
              "parameters": {
                "name": {
                  "pattern": "^projects/[^/]+/instanceConfigs/[^/]+$",
                  "location": "path",
                  "type": "string",
                  "description": "A unique identifier for the instance configuration. Values are of the form `projects//instanceConfigs/a-z*`. User instance configuration must start with `custom-`.",
                  "required": true
                }
              },
              "httpMethod": "PATCH",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/spanner.admin"
              ],
              "path": "v1/{+name}",
              "parameterOrder": [
                "name"
              ],
              "description": "Updates an instance configuration. The returned long-running operation can be used to track the progress of updating the instance. If the named instance configuration does not exist, returns `NOT_FOUND`. Only user-managed configurations can be updated. Immediately after the request returns: * The instance configuration's reconciling field is set to true. While the operation is pending: * Cancelling the operation sets its metadata's cancel_time. The operation is guaranteed to succeed at undoing all changes, after which point it terminates with a `CANCELLED` status. * All other attempts to modify the instance configuration are rejected. * Reading the instance configuration via the API continues to give the pre-request values. Upon completion of the returned operation: * Creating instances using the instance configuration uses the new values. * The new values of the instance configuration are readable via the API. * The instance configuration's reconciling field becomes false. The returned long-running operation will have a name of the format `/operations/` and can be used to track the instance configuration modification. The metadata field type is UpdateInstanceConfigMetadata. The response field type is InstanceConfig, if successful. Authorization requires `spanner.instanceConfigs.update` permission on the resource name.",
              "flatPath": "v1/projects/{projectsId}/instanceConfigs/{instanceConfigsId}",
              "id": "spanner.projects.instanceConfigs.patch",
              "request": {
                "$ref": "UpdateInstanceConfigRequest"
              },
              "response": {
                "$ref": "Operation"
              }
            }
          },
          "resources": {
            "ssdCaches": {
              "resources": {
                "operations": {
                  "methods": {
                    "get": {
                      "httpMethod": "GET",
                      "parameters": {
                        "name": {
                          "type": "string",
                          "pattern": "^projects/[^/]+/instanceConfigs/[^/]+/ssdCaches/[^/]+/operations/[^/]+$",
                          "location": "path",
                          "required": true,
                          "description": "The name of the operation resource."
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/spanner.admin"
                      ],
                      "path": "v1/{+name}",
                      "parameterOrder": [
                        "name"
                      ],
                      "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
                      "id": "spanner.projects.instanceConfigs.ssdCaches.operations.get",
                      "flatPath": "v1/projects/{projectsId}/instanceConfigs/{instanceConfigsId}/ssdCaches/{ssdCachesId}/operations/{operationsId}",
                      "response": {
                        "$ref": "Operation"
                      }
                    },
                    "list": {
                      "flatPath": "v1/projects/{projectsId}/instanceConfigs/{instanceConfigsId}/ssdCaches/{ssdCachesId}/operations",
                      "id": "spanner.projects.instanceConfigs.ssdCaches.operations.list",
                      "response": {
                        "$ref": "ListOperationsResponse"
                      },
                      "path": "v1/{+name}",
                      "parameterOrder": [
                        "name"
                      ],
                      "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`.",
                      "parameters": {
                        "returnPartialSuccess": {
                          "type": "boolean",
                          "description": "When set to `true`, operations that are reachable are returned as normal, and those that are unreachable are returned in the ListOperationsResponse.unreachable field. This can only be `true` when reading across collections. For example, when `parent` is set to `\"projects/example/locations/-\"`. This field is not supported by default and will result in an `UNIMPLEMENTED` error if set unless explicitly documented otherwise in service or product specific documentation.",
                          "location": "query"
                        },
                        "name": {
                          "required": true,
                          "description": "The name of the operation's parent resource.",
                          "pattern": "^projects/[^/]+/instanceConfigs/[^/]+/ssdCaches/[^/]+/operations$",
                          "location": "path",
                          "type": "string"
                        },
                        "pageSize": {
                          "description": "The standard list page size.",
                          "location": "query",
                          "format": "int32",
                          "type": "integer"
                        },
                        "pageToken": {
                          "type": "string",
                          "description": "The standard list page token.",
                          "location": "query"
                        },
                        "filter": {
                          "description": "The standard list filter.",
                          "location": "query",
                          "type": "string"
                        }
                      },
                      "httpMethod": "GET",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/spanner.admin"
                      ]
                    },
                    "cancel": {
                      "parameterOrder": [
                        "name"
                      ],
                      "description": "Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`.",
                      "path": "v1/{+name}:cancel",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/spanner.admin"
                      ],
                      "httpMethod": "POST",
                      "parameters": {
                        "name": {
                          "pattern": "^projects/[^/]+/instanceConfigs/[^/]+/ssdCaches/[^/]+/operations/[^/]+$",
                          "location": "path",
                          "type": "string",
                          "description": "The name of the operation resource to be cancelled.",
                          "required": true
                        }
                      },
                      "response": {
                        "$ref": "Empty"
                      },
                      "id": "spanner.projects.instanceConfigs.ssdCaches.operations.cancel",
                      "flatPath": "v1/projects/{projectsId}/instanceConfigs/{instanceConfigsId}/ssdCaches/{ssdCachesId}/operations/{operationsId}:cancel"
                    },
                    "delete": {
                      "parameterOrder": [
                        "name"
                      ],
                      "description": "Deletes a long-running operation. This method indicates that the client is no longer interested in the operation result. It does not cancel the operation. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`.",
                      "path": "v1/{+name}",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/spanner.admin"
                      ],
                      "httpMethod": "DELETE",
                      "parameters": {
                        "name": {
                          "type": "string",
                          "pattern": "^projects/[^/]+/instanceConfigs/[^/]+/ssdCaches/[^/]+/operations/[^/]+$",
                          "location": "path",
                          "required": true,
                          "description": "The name of the operation resource to be deleted."
                        }
                      },
                      "response": {
                        "$ref": "Empty"
                      },
                      "id": "spanner.projects.instanceConfigs.ssdCaches.operations.delete",
                      "flatPath": "v1/projects/{projectsId}/instanceConfigs/{instanceConfigsId}/ssdCaches/{ssdCachesId}/operations/{operationsId}"
                    }
                  }
                }
              }
            },
            "operations": {
              "methods": {
                "get": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/spanner.admin"
                  ],
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/instanceConfigs/[^/]+/operations/[^/]+$",
                      "location": "path",
                      "type": "string",
                      "required": true,
                      "description": "The name of the operation resource."
                    }
                  },
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
                  "path": "v1/{+name}",
                  "response": {
                    "$ref": "Operation"
                  },
                  "flatPath": "v1/projects/{projectsId}/instanceConfigs/{instanceConfigsId}/operations/{operationsId}",
                  "id": "spanner.projects.instanceConfigs.operations.get"
                },
                "list": {
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`.",
                  "path": "v1/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/spanner.admin"
                  ],
                  "parameters": {
                    "pageToken": {
                      "description": "The standard list page token.",
                      "location": "query",
                      "type": "string"
                    },
                    "filter": {
                      "type": "string",
                      "description": "The standard list filter.",
                      "location": "query"
                    },
                    "name": {
                      "required": true,
                      "description": "The name of the operation's parent resource.",
                      "type": "string",
                      "pattern": "^projects/[^/]+/instanceConfigs/[^/]+/operations$",
                      "location": "path"
                    },
                    "pageSize": {
                      "type": "integer",
                      "description": "The standard list page size.",
                      "location": "query",
                      "format": "int32"
                    },
                    "returnPartialSuccess": {
                      "description": "When set to `true`, operations that are reachable are returned as normal, and those that are unreachable are returned in the ListOperationsResponse.unreachable field. This can only be `true` when reading across collections. For example, when `parent` is set to `\"projects/example/locations/-\"`. This field is not supported by default and will result in an `UNIMPLEMENTED` error if set unless explicitly documented otherwise in service or product specific documentation.",
                      "location": "query",
                      "type": "boolean"
                    }
                  },
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "ListOperationsResponse"
                  },
                  "flatPath": "v1/projects/{projectsId}/instanceConfigs/{instanceConfigsId}/operations",
                  "id": "spanner.projects.instanceConfigs.operations.list"
                },
                "cancel": {
                  "id": "spanner.projects.instanceConfigs.operations.cancel",
                  "flatPath": "v1/projects/{projectsId}/instanceConfigs/{instanceConfigsId}/operations/{operationsId}:cancel",
                  "response": {
                    "$ref": "Empty"
                  },
                  "path": "v1/{+name}:cancel",
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`.",
                  "httpMethod": "POST",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "pattern": "^projects/[^/]+/instanceConfigs/[^/]+/operations/[^/]+$",
                      "location": "path",
                      "required": true,
                      "description": "The name of the operation resource to be cancelled."
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/spanner.admin"
                  ]
                },
                "delete": {
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/instanceConfigs/[^/]+/operations/[^/]+$",
                      "location": "path",
                      "type": "string",
                      "description": "The name of the operation resource to be deleted.",
                      "required": true
                    }
                  },
                  "httpMethod": "DELETE",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/spanner.admin"
                  ],
                  "path": "v1/{+name}",
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Deletes a long-running operation. This method indicates that the client is no longer interested in the operation result. It does not cancel the operation. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`.",
                  "flatPath": "v1/projects/{projectsId}/instanceConfigs/{instanceConfigsId}/operations/{operationsId}",
                  "id": "spanner.projects.instanceConfigs.operations.delete",
                  "response": {
                    "$ref": "Empty"
                  }
                }
              }
            }
          }
        },
        "instanceConfigOperations": {
          "methods": {
            "list": {
              "flatPath": "v1/projects/{projectsId}/instanceConfigOperations",
              "id": "spanner.projects.instanceConfigOperations.list",
              "response": {
                "$ref": "ListInstanceConfigOperationsResponse"
              },
              "parameters": {
                "pageToken": {
                  "description": "If non-empty, `page_token` should contain a next_page_token from a previous ListInstanceConfigOperationsResponse to the same `parent` and with the same `filter`.",
                  "location": "query",
                  "type": "string"
                },
                "filter": {
                  "description": "An expression that filters the list of returned operations. A filter expression consists of a field name, a comparison operator, and a value for filtering. The value must be a string, a number, or a boolean. The comparison operator must be one of: `<`, `>`, `<=`, `>=`, `!=`, `=`, or `:`. Colon `:` is the contains operator. Filter rules are not case sensitive. The following fields in the Operation are eligible for filtering: * `name` - The name of the long-running operation * `done` - False if the operation is in progress, else true. * `metadata.@type` - the type of metadata. For example, the type string for CreateInstanceConfigMetadata is `type.googleapis.com/google.spanner.admin.instance.v1.CreateInstanceConfigMetadata`. * `metadata.` - any field in metadata.value. `metadata.@type` must be specified first, if filtering on metadata fields. * `error` - Error associated with the long-running operation. * `response.@type` - the type of response. * `response.` - any field in response.value. You can combine multiple expressions by enclosing each expression in parentheses. By default, expressions are combined with AND logic. However, you can specify AND, OR, and NOT logic explicitly. Here are a few examples: * `done:true` - The operation is complete. * `(metadata.@type=` \\ `type.googleapis.com/google.spanner.admin.instance.v1.CreateInstanceConfigMetadata) AND` \\ `(metadata.instance_config.name:custom-config) AND` \\ `(metadata.progress.start_time < \\\"2021-03-28T14:50:00Z\\\") AND` \\ `(error:*)` - Return operations where: * The operation's metadata type is CreateInstanceConfigMetadata. * The instance configuration name contains \"custom-config\". * The operation started before 2021-03-28T14:50:00Z. * The operation resulted in an error.",
                  "location": "query",
                  "type": "string"
                },
                "parent": {
                  "required": true,
                  "description": "Required. The project of the instance configuration operations. Values are of the form `projects/`.",
                  "type": "string",
                  "pattern": "^projects/[^/]+$",
                  "location": "path"
                },
                "pageSize": {
                  "description": "Number of operations to be returned in the response. If 0 or less, defaults to the server's maximum allowed page size.",
                  "location": "query",
                  "format": "int32",
                  "type": "integer"
                }
              },
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/spanner.admin"
              ],
              "path": "v1/{+parent}/instanceConfigOperations",
              "parameterOrder": [
                "parent"
              ],
              "description": "Lists the user-managed instance configuration long-running operations in the given project. An instance configuration operation has a name of the form `projects//instanceConfigs//operations/`. The long-running operation metadata field type `metadata.type_url` describes the type of the metadata. Operations returned include those that have completed/failed/canceled within the last 7 days, and pending operations. Operations returned are ordered by `operation.metadata.value.start_time` in descending order starting from the most recently started operation."
            }
          }
        },
        "instances": {
          "methods": {
            "list": {
              "response": {
                "$ref": "ListInstancesResponse"
              },
              "id": "spanner.projects.instances.list",
              "flatPath": "v1/projects/{projectsId}/instances",
              "parameterOrder": [
                "parent"
              ],
              "description": "Lists all instances in the given project.",
              "path": "v1/{+parent}/instances",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/spanner.admin"
              ],
              "httpMethod": "GET",
              "parameters": {
                "pageSize": {
                  "type": "integer",
                  "description": "Number of instances to be returned in the response. If 0 or less, defaults to the server's maximum allowed page size.",
                  "location": "query",
                  "format": "int32"
                },
                "parent": {
                  "pattern": "^projects/[^/]+$",
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "description": "Required. The name of the project for which a list of instances is requested. Values are of the form `projects/`."
                },
                "instanceDeadline": {
                  "description": "Deadline used while retrieving metadata for instances. Instances whose metadata cannot be retrieved within this deadline will be added to unreachable in ListInstancesResponse.",
                  "location": "query",
                  "format": "google-datetime",
                  "type": "string"
                },
                "filter": {
                  "description": "An expression for filtering the results of the request. Filter rules are case insensitive. The fields eligible for filtering are: * `name` * `display_name` * `labels.key` where key is the name of a label Some examples of using filters are: * `name:*` --> The instance has a name. * `name:Howl` --> The instance's name contains the string \"howl\". * `name:HOWL` --> Equivalent to above. * `NAME:howl` --> Equivalent to above. * `labels.env:*` --> The instance has the label \"env\". * `labels.env:dev` --> The instance has the label \"env\" and the value of the label contains the string \"dev\". * `name:howl labels.env:dev` --> The instance's name contains \"howl\" and it has the label \"env\" with its value containing \"dev\".",
                  "location": "query",
                  "type": "string"
                },
                "pageToken": {
                  "description": "If non-empty, `page_token` should contain a next_page_token from a previous ListInstancesResponse.",
                  "location": "query",
                  "type": "string"
                }
              }
            },
            "get": {
              "response": {
                "$ref": "Instance"
              },
              "id": "spanner.projects.instances.get",
              "flatPath": "v1/projects/{projectsId}/instances/{instancesId}",
              "parameterOrder": [
                "name"
              ],
              "description": "Gets information about a particular instance.",
              "path": "v1/{+name}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/spanner.admin"
              ],
              "httpMethod": "GET",
              "parameters": {
                "fieldMask": {
                  "type": "string",
                  "description": "If field_mask is present, specifies the subset of Instance fields that should be returned. If absent, all Instance fields are returned.",
                  "location": "query",
                  "format": "google-fieldmask"
                },
                "name": {
                  "description": "Required. The name of the requested instance. Values are of the form `projects//instances/`.",
                  "required": true,
                  "type": "string",
                  "pattern": "^projects/[^/]+/instances/[^/]+$",
                  "location": "path"
                }
              }
            },
            "create": {
              "path": "v1/{+parent}/instances",
              "parameterOrder": [
                "parent"
              ],
              "description": "Creates an instance and begins preparing it to begin serving. The returned long-running operation can be used to track the progress of preparing the new instance. The instance name is assigned by the caller. If the named instance already exists, `CreateInstance` returns `ALREADY_EXISTS`. Immediately upon completion of this request: * The instance is readable via the API, with all requested attributes but no allocated resources. Its state is `CREATING`. Until completion of the returned operation: * Cancelling the operation renders the instance immediately unreadable via the API. * The instance can be deleted. * All other attempts to modify the instance are rejected. Upon completion of the returned operation: * Billing for all successfully-allocated resources begins (some types may have lower than the requested levels). * Databases can be created in the instance. * The instance's allocated resource levels are readable via the API. * The instance's state becomes `READY`. The returned long-running operation will have a name of the format `/operations/` and can be used to track creation of the instance. The metadata field type is CreateInstanceMetadata. The response field type is Instance, if successful.",
              "httpMethod": "POST",
              "parameters": {
                "parent": {
                  "type": "string",
                  "pattern": "^projects/[^/]+$",
                  "location": "path",
                  "description": "Required. The name of the project in which to create the instance. Values are of the form `projects/`.",
                  "required": true
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/spanner.admin"
              ],
              "id": "spanner.projects.instances.create",
              "request": {
                "$ref": "CreateInstanceRequest"
              },
              "flatPath": "v1/projects/{projectsId}/instances",
              "response": {
                "$ref": "Operation"
              }
            },
            "getIamPolicy": {
              "response": {
                "$ref": "Policy"
              },
              "id": "spanner.projects.instances.getIamPolicy",
              "request": {
                "$ref": "GetIamPolicyRequest"
              },
              "flatPath": "v1/projects/{projectsId}/instances/{instancesId}:getIamPolicy",
              "parameterOrder": [
                "resource"
              ],
              "description": "Gets the access control policy for an instance resource. Returns an empty policy if an instance exists but does not have a policy set. Authorization requires `spanner.instances.getIamPolicy` on resource.",
              "path": "v1/{+resource}:getIamPolicy",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/spanner.admin"
              ],
              "httpMethod": "POST",
              "parameters": {
                "resource": {
                  "required": true,
                  "description": "REQUIRED: The Cloud Spanner resource for which the policy is being retrieved. The format is `projects//instances/` for instance resources and `projects//instances//databases/` for database resources.",
                  "type": "string",
                  "pattern": "^projects/[^/]+/instances/[^/]+$",
                  "location": "path"
                }
              }
            },
            "testIamPermissions": {
              "id": "spanner.projects.instances.testIamPermissions",
              "request": {
                "$ref": "TestIamPermissionsRequest"
              },
              "flatPath": "v1/projects/{projectsId}/instances/{instancesId}:testIamPermissions",
              "response": {
                "$ref": "TestIamPermissionsResponse"
              },
              "httpMethod": "POST",
              "parameters": {
                "resource": {
                  "type": "string",
                  "pattern": "^projects/[^/]+/instances/[^/]+$",
                  "location": "path",
                  "description": "REQUIRED: The Cloud Spanner resource for which permissions are being tested. The format is `projects//instances/` for instance resources and `projects//instances//databases/` for database resources.",
                  "required": true
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/spanner.admin"
              ],
              "path": "v1/{+resource}:testIamPermissions",
              "parameterOrder": [
                "resource"
              ],
              "description": "Returns permissions that the caller has on the specified instance resource. Attempting this RPC on a non-existent Cloud Spanner instance resource will result in a NOT_FOUND error if the user has `spanner.instances.list` permission on the containing Google Cloud Project. Otherwise returns an empty set of permissions."
            },
            "patch": {
              "path": "v1/{+name}",
              "parameterOrder": [
                "name"
              ],
              "description": "Updates an instance, and begins allocating or releasing resources as requested. The returned long-running operation can be used to track the progress of updating the instance. If the named instance does not exist, returns `NOT_FOUND`. Immediately upon completion of this request: * For resource types for which a decrease in the instance's allocation has been requested, billing is based on the newly-requested level. Until completion of the returned operation: * Cancelling the operation sets its metadata's cancel_time, and begins restoring resources to their pre-request values. The operation is guaranteed to succeed at undoing all resource changes, after which point it terminates with a `CANCELLED` status. * All other attempts to modify the instance are rejected. * Reading the instance via the API continues to give the pre-request resource levels. Upon completion of the returned operation: * Billing begins for all successfully-allocated resources (some types may have lower than the requested levels). * All newly-reserved resources are available for serving the instance's tables. * The instance's new resource levels are readable via the API. The returned long-running operation will have a name of the format `/operations/` and can be used to track the instance modification. The metadata field type is UpdateInstanceMetadata. The response field type is Instance, if successful. Authorization requires `spanner.instances.update` permission on the resource name.",
              "httpMethod": "PATCH",
              "parameters": {
                "name": {
                  "description": "Required. A unique identifier for the instance, which cannot be changed after the instance is created. Values are of the form `projects//instances/a-z*[a-z0-9]`. The final segment of the name must be between 2 and 64 characters in length.",
                  "required": true,
                  "pattern": "^projects/[^/]+/instances/[^/]+$",
                  "location": "path",
                  "type": "string"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/spanner.admin"
              ],
              "id": "spanner.projects.instances.patch",
              "request": {
                "$ref": "UpdateInstanceRequest"
              },
              "flatPath": "v1/projects/{projectsId}/instances/{instancesId}",
              "response": {
                "$ref": "Operation"
              }
            },
            "move": {
              "response": {
                "$ref": "Operation"
              },
              "flatPath": "v1/projects/{projectsId}/instances/{instancesId}:move",
              "id": "spanner.projects.instances.move",
              "request": {
                "$ref": "MoveInstanceRequest"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/spanner.admin"
              ],
              "parameters": {
                "name": {
                  "type": "string",
                  "pattern": "^projects/[^/]+/instances/[^/]+$",
                  "location": "path",
                  "description": "Required. The instance to move. Values are of the form `projects//instances/`.",
                  "required": true
                }
              },
              "httpMethod": "POST",
              "parameterOrder": [
                "name"
              ],
              "description": "Moves an instance to the target instance configuration. You can use the returned long-running operation to track the progress of moving the instance. `MoveInstance` returns `FAILED_PRECONDITION` if the instance meets any of the following criteria: * Is undergoing a move to a different instance configuration * Has backups * Has an ongoing update * Contains any CMEK-enabled databases * Is a free trial instance While the operation is pending: * All other attempts to modify the instance, including changes to its compute capacity, are rejected. * The following database and backup admin operations are rejected: * `DatabaseAdmin.CreateDatabase` * `DatabaseAdmin.UpdateDatabaseDdl` (disabled if default_leader is specified in the request.) * `DatabaseAdmin.RestoreDatabase` * `DatabaseAdmin.CreateBackup` * `DatabaseAdmin.CopyBackup` * Both the source and target instance configurations are subject to hourly compute and storage charges. * The instance might experience higher read-write latencies and a higher transaction abort rate. However, moving an instance doesn't cause any downtime. The returned long-running operation has a name of the format `/operations/` and can be used to track the move instance operation. The metadata field type is MoveInstanceMetadata. The response field type is Instance, if successful. Cancelling the operation sets its metadata's cancel_time. Cancellation is not immediate because it involves moving any data previously moved to the target instance configuration back to the original instance configuration. You can use this operation to track the progress of the cancellation. Upon successful completion of the cancellation, the operation terminates with `CANCELLED` status. If not cancelled, upon completion of the returned operation: * The instance successfully moves to the target instance configuration. * You are billed for compute and storage in target instance configuration. Authorization requires the `spanner.instances.update` permission on the resource instance. For more details, see [Move an instance](https://cloud.google.com/spanner/docs/move-instance).",
              "path": "v1/{+name}:move"
            },
            "delete": {
              "flatPath": "v1/projects/{projectsId}/instances/{instancesId}",
              "id": "spanner.projects.instances.delete",
              "response": {
                "$ref": "Empty"
              },
              "path": "v1/{+name}",
              "parameterOrder": [
                "name"
              ],
              "description": "Deletes an instance. Immediately upon completion of the request: * Billing ceases for all of the instance's reserved resources. Soon afterward: * The instance and *all of its databases* immediately and irrevocably disappear from the API. All data in the databases is permanently deleted.",
              "parameters": {
                "name": {
                  "type": "string",
                  "pattern": "^projects/[^/]+/instances/[^/]+$",
                  "location": "path",
                  "required": true,
                  "description": "Required. The name of the instance to be deleted. Values are of the form `projects//instances/`"
                }
              },
              "httpMethod": "DELETE",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/spanner.admin"
              ]
            },
            "setIamPolicy": {
              "path": "v1/{+resource}:setIamPolicy",
              "parameterOrder": [
                "resource"
              ],
              "description": "Sets the access control policy on an instance resource. Replaces any existing policy. Authorization requires `spanner.instances.setIamPolicy` on resource.",
              "parameters": {
                "resource": {
                  "description": "REQUIRED: The Cloud Spanner resource for which the policy is being set. The format is `projects//instances/` for instance resources and `projects//instances//databases/` for databases resources.",
                  "required": true,
                  "type": "string",
                  "pattern": "^projects/[^/]+/instances/[^/]+$",
                  "location": "path"
                }
              },
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/spanner.admin"
              ],
              "flatPath": "v1/projects/{projectsId}/instances/{instancesId}:setIamPolicy",
              "id": "spanner.projects.instances.setIamPolicy",
              "request": {
                "$ref": "SetIamPolicyRequest"
              },
              "response": {
                "$ref": "Policy"
              }
            }
          },
          "resources": {
            "operations": {
              "methods": {
                "get": {
                  "response": {
                    "$ref": "Operation"
                  },
                  "id": "spanner.projects.instances.operations.get",
                  "flatPath": "v1/projects/{projectsId}/instances/{instancesId}/operations/{operationsId}",
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
                  "path": "v1/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/spanner.admin"
                  ],
                  "httpMethod": "GET",
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/instances/[^/]+/operations/[^/]+$",
                      "location": "path",
                      "type": "string",
                      "required": true,
                      "description": "The name of the operation resource."
                    }
                  }
                },
                "list": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/spanner.admin"
                  ],
                  "parameters": {
                    "pageToken": {
                      "type": "string",
                      "description": "The standard list page token.",
                      "location": "query"
                    },
                    "filter": {
                      "type": "string",
                      "description": "The standard list filter.",
                      "location": "query"
                    },
                    "name": {
                      "pattern": "^projects/[^/]+/instances/[^/]+/operations$",
                      "location": "path",
                      "type": "string",
                      "description": "The name of the operation's parent resource.",
                      "required": true
                    },
                    "pageSize": {
                      "description": "The standard list page size.",
                      "location": "query",
                      "format": "int32",
                      "type": "integer"
                    },
                    "returnPartialSuccess": {
                      "description": "When set to `true`, operations that are reachable are returned as normal, and those that are unreachable are returned in the ListOperationsResponse.unreachable field. This can only be `true` when reading across collections. For example, when `parent` is set to `\"projects/example/locations/-\"`. This field is not supported by default and will result in an `UNIMPLEMENTED` error if set unless explicitly documented otherwise in service or product specific documentation.",
                      "location": "query",
                      "type": "boolean"
                    }
                  },
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`.",
                  "path": "v1/{+name}",
                  "response": {
                    "$ref": "ListOperationsResponse"
                  },
                  "flatPath": "v1/projects/{projectsId}/instances/{instancesId}/operations",
                  "id": "spanner.projects.instances.operations.list"
                },
                "cancel": {
                  "id": "spanner.projects.instances.operations.cancel",
                  "flatPath": "v1/projects/{projectsId}/instances/{instancesId}/operations/{operationsId}:cancel",
                  "response": {
                    "$ref": "Empty"
                  },
                  "path": "v1/{+name}:cancel",
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`.",
                  "httpMethod": "POST",
                  "parameters": {
                    "name": {
                      "description": "The name of the operation resource to be cancelled.",
                      "required": true,
                      "pattern": "^projects/[^/]+/instances/[^/]+/operations/[^/]+$",
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/spanner.admin"
                  ]
                },
                "delete": {
                  "path": "v1/{+name}",
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Deletes a long-running operation. This method indicates that the client is no longer interested in the operation result. It does not cancel the operation. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`.",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "pattern": "^projects/[^/]+/instances/[^/]+/operations/[^/]+$",
                      "location": "path",
                      "required": true,
                      "description": "The name of the operation resource to be deleted."
                    }
                  },
                  "httpMethod": "DELETE",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/spanner.admin"
                  ],
                  "flatPath": "v1/projects/{projectsId}/instances/{instancesId}/operations/{operationsId}",
                  "id": "spanner.projects.instances.operations.delete",
                  "response": {
                    "$ref": "Empty"
                  }
                }
              }
            },
            "databaseOperations": {
              "methods": {
                "list": {
                  "path": "v1/{+parent}/databaseOperations",
                  "parameterOrder": [
                    "parent"
                  ],
                  "description": "Lists database longrunning-operations. A database operation has a name of the form `projects//instances//databases//operations/`. The long-running operation metadata field type `metadata.type_url` describes the type of the metadata. Operations returned include those that have completed/failed/canceled within the last 7 days, and pending operations.",
                  "httpMethod": "GET",
                  "parameters": {
                    "parent": {
                      "pattern": "^projects/[^/]+/instances/[^/]+$",
                      "location": "path",
                      "type": "string",
                      "description": "Required. The instance of the database operations. Values are of the form `projects//instances/`.",
                      "required": true
                    },
                    "pageSize": {
                      "description": "Number of operations to be returned in the response. If 0 or less, defaults to the server's maximum allowed page size.",
                      "location": "query",
                      "format": "int32",
                      "type": "integer"
                    },
                    "pageToken": {
                      "description": "If non-empty, `page_token` should contain a next_page_token from a previous ListDatabaseOperationsResponse to the same `parent` and with the same `filter`.",
                      "location": "query",
                      "type": "string"
                    },
                    "filter": {
                      "description": "An expression that filters the list of returned operations. A filter expression consists of a field name, a comparison operator, and a value for filtering. The value must be a string, a number, or a boolean. The comparison operator must be one of: `<`, `>`, `<=`, `>=`, `!=`, `=`, or `:`. Colon `:` is the contains operator. Filter rules are not case sensitive. The following fields in the operation are eligible for filtering: * `name` - The name of the long-running operation * `done` - False if the operation is in progress, else true. * `metadata.@type` - the type of metadata. For example, the type string for RestoreDatabaseMetadata is `type.googleapis.com/google.spanner.admin.database.v1.RestoreDatabaseMetadata`. * `metadata.` - any field in metadata.value. `metadata.@type` must be specified first, if filtering on metadata fields. * `error` - Error associated with the long-running operation. * `response.@type` - the type of response. * `response.` - any field in response.value. You can combine multiple expressions by enclosing each expression in parentheses. By default, expressions are combined with AND logic. However, you can specify AND, OR, and NOT logic explicitly. Here are a few examples: * `done:true` - The operation is complete. * `(metadata.@type=type.googleapis.com/google.spanner.admin.database.v1.RestoreDatabaseMetadata) AND` \\ `(metadata.source_type:BACKUP) AND` \\ `(metadata.backup_info.backup:backup_howl) AND` \\ `(metadata.name:restored_howl) AND` \\ `(metadata.progress.start_time < \\\"2018-03-28T14:50:00Z\\\") AND` \\ `(error:*)` - Return operations where: * The operation's metadata type is RestoreDatabaseMetadata. * The database is restored from a backup. * The backup name contains \"backup_howl\". * The restored database's name contains \"restored_howl\". * The operation started before 2018-03-28T14:50:00Z. * The operation resulted in an error.",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/spanner.admin"
                  ],
                  "id": "spanner.projects.instances.databaseOperations.list",
                  "flatPath": "v1/projects/{projectsId}/instances/{instancesId}/databaseOperations",
                  "response": {
                    "$ref": "ListDatabaseOperationsResponse"
                  }
                }
              }
            },
            "backups": {
              "methods": {
                "testIamPermissions": {
                  "response": {
                    "$ref": "TestIamPermissionsResponse"
                  },
                  "id": "spanner.projects.instances.backups.testIamPermissions",
                  "request": {
                    "$ref": "TestIamPermissionsRequest"
                  },
                  "flatPath": "v1/projects/{projectsId}/instances/{instancesId}/backups/{backupsId}:testIamPermissions",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/spanner.admin"
                  ],
                  "httpMethod": "POST",
                  "parameters": {
                    "resource": {
                      "description": "REQUIRED: The Cloud Spanner resource for which permissions are being tested. The format is `projects//instances/` for instance resources and `projects//instances//databases/` for database resources.",
                      "required": true,
                      "pattern": "^projects/[^/]+/instances/[^/]+/backups/[^/]+$",
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "resource"
                  ],
                  "description": "Returns permissions that the caller has on the specified database or backup resource. Attempting this RPC on a non-existent Cloud Spanner database will result in a NOT_FOUND error if the user has `spanner.databases.list` permission on the containing Cloud Spanner instance. Otherwise returns an empty set of permissions. Calling this method on a backup that does not exist will result in a NOT_FOUND error if the user has `spanner.backups.list` permission on the containing instance. Calling this method on a backup schedule that does not exist will result in a NOT_FOUND error if the user has `spanner.backupSchedules.list` permission on the containing database.",
                  "path": "v1/{+resource}:testIamPermissions"
                },
                "getIamPolicy": {
                  "response": {
                    "$ref": "Policy"
                  },
                  "id": "spanner.projects.instances.backups.getIamPolicy",
                  "request": {
                    "$ref": "GetIamPolicyRequest"
                  },
                  "flatPath": "v1/projects/{projectsId}/instances/{instancesId}/backups/{backupsId}:getIamPolicy",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/spanner.admin"
                  ],
                  "httpMethod": "POST",
                  "parameters": {
                    "resource": {
                      "required": true,
                      "description": "REQUIRED: The Cloud Spanner resource for which the policy is being retrieved. The format is `projects//instances/` for instance resources and `projects//instances//databases/` for database resources.",
                      "type": "string",
                      "pattern": "^projects/[^/]+/instances/[^/]+/backups/[^/]+$",
                      "location": "path"
                    }
                  },
                  "parameterOrder": [
                    "resource"
                  ],
                  "description": "Gets the access control policy for a database or backup resource. Returns an empty policy if a database or backup exists but does not have a policy set. Authorization requires `spanner.databases.getIamPolicy` permission on resource. For backups, authorization requires `spanner.backups.getIamPolicy` permission on resource. For backup schedules, authorization requires `spanner.backupSchedules.getIamPolicy` permission on resource.",
                  "path": "v1/{+resource}:getIamPolicy"
                },
                "create": {
                  "id": "spanner.projects.instances.backups.create",
                  "request": {
                    "$ref": "Backup"
                  },
                  "flatPath": "v1/projects/{projectsId}/instances/{instancesId}/backups",
                  "response": {
                    "$ref": "Operation"
                  },
                  "httpMethod": "POST",
                  "parameters": {
                    "encryptionConfig.encryptionType": {
                      "location": "query",
                      "type": "string",
                      "description": "Required. The encryption type of the backup.",
                      "enum": [
                        "ENCRYPTION_TYPE_UNSPECIFIED",
                        "USE_DATABASE_ENCRYPTION",
                        "GOOGLE_DEFAULT_ENCRYPTION",
                        "CUSTOMER_MANAGED_ENCRYPTION"
                      ],
                      "enumDescriptions": [
                        "Unspecified. Do not use.",
                        "Use the same encryption configuration as the database. This is the default option when encryption_config is empty. For example, if the database is using `Customer_Managed_Encryption`, the backup will be using the same Cloud KMS key as the database.",
                        "Use Google default encryption.",
                        "Use customer managed encryption. If specified, `kms_key_name` must contain a valid Cloud KMS key."
                      ]
                    },
                    "parent": {
                      "description": "Required. The name of the instance in which the backup is created. This must be the same instance that contains the database the backup is created from. The backup will be stored in the locations specified in the instance configuration of this instance. Values are of the form `projects/{project}/instances/{instance}`.",
                      "required": true,
                      "type": "string",
                      "pattern": "^projects/[^/]+/instances/[^/]+$",
                      "location": "path"
                    },
                    "backupId": {
                      "description": "Required. The id of the backup to be created. The `backup_id` appended to `parent` forms the full backup name of the form `projects/{project}/instances/{instance}/backups/{backup_id}`.",
                      "location": "query",
                      "type": "string"
                    },
                    "encryptionConfig.kmsKeyName": {
                      "type": "string",
                      "description": "Optional. This field is maintained for backwards compatibility. For new callers, we recommend using `kms_key_names` to specify the KMS key. Only use `kms_key_name` if the location of the KMS key matches the database instance's configuration (location) exactly. For example, if the KMS location is in `us-central1` or `nam3`, then the database instance must also be in `us-central1` or `nam3`. The Cloud KMS key that is used to encrypt and decrypt the restored database. Set this field only when encryption_type is `CUSTOMER_MANAGED_ENCRYPTION`. Values are of the form `projects/{project}/locations/{location}/keyRings/{key_ring}/cryptoKeys/{kms_key_name}`.",
                      "location": "query"
                    },
                    "encryptionConfig.kmsKeyNames": {
                      "type": "string",
                      "repeated": true,
                      "description": "Optional. Specifies the KMS configuration for the one or more keys used to protect the backup. Values are of the form `projects/{project}/locations/{location}/keyRings/{key_ring}/cryptoKeys/{kms_key_name}`. The keys referenced by `kms_key_names` must fully cover all regions of the backup's instance configuration. Some examples: * For regional (single-region) instance configurations, specify a regional location KMS key. * For multi-region instance configurations of type `GOOGLE_MANAGED`, either specify a multi-region location KMS key or multiple regional location KMS keys that cover all regions in the instance configuration. * For an instance configuration of type `USER_MANAGED`, specify only regional location KMS keys to cover each region in the instance configuration. Multi-region location KMS keys aren't supported for `USER_MANAGED` type instance configurations.",
                      "location": "query"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/spanner.admin"
                  ],
                  "path": "v1/{+parent}/backups",
                  "parameterOrder": [
                    "parent"
                  ],
                  "description": "Starts creating a new Cloud Spanner Backup. The returned backup long-running operation will have a name of the format `projects//instances//backups//operations/` and can be used to track creation of the backup. The metadata field type is CreateBackupMetadata. The response field type is Backup, if successful. Cancelling the returned operation will stop the creation and delete the backup. There can be only one pending backup creation per database. Backup creation of different databases can run concurrently."
                },
                "get": {
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Gets metadata on a pending or completed Backup.",
                  "path": "v1/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/spanner.admin"
                  ],
                  "httpMethod": "GET",
                  "parameters": {
                    "name": {
                      "description": "Required. Name of the backup. Values are of the form `projects/{project}/instances/{instance}/backups/{backup}`.",
                      "required": true,
                      "pattern": "^projects/[^/]+/instances/[^/]+/backups/[^/]+$",
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "response": {
                    "$ref": "Backup"
                  },
                  "id": "spanner.projects.instances.backups.get",
                  "flatPath": "v1/projects/{projectsId}/instances/{instancesId}/backups/{backupsId}"
                },
                "list": {
                  "id": "spanner.projects.instances.backups.list",
                  "flatPath": "v1/projects/{projectsId}/instances/{instancesId}/backups",
                  "response": {
                    "$ref": "ListBackupsResponse"
                  },
                  "path": "v1/{+parent}/backups",
                  "parameterOrder": [
                    "parent"
                  ],
                  "description": "Lists completed and pending backups. Backups returned are ordered by `create_time` in descending order, starting from the most recent `create_time`.",
                  "httpMethod": "GET",
                  "parameters": {
                    "pageToken": {
                      "description": "If non-empty, `page_token` should contain a next_page_token from a previous ListBackupsResponse to the same `parent` and with the same `filter`.",
                      "location": "query",
                      "type": "string"
                    },
                    "filter": {
                      "type": "string",
                      "description": "An expression that filters the list of returned backups. A filter expression consists of a field name, a comparison operator, and a value for filtering. The value must be a string, a number, or a boolean. The comparison operator must be one of: `<`, `>`, `<=`, `>=`, `!=`, `=`, or `:`. Colon `:` is the contains operator. Filter rules are not case sensitive. The following fields in the Backup are eligible for filtering: * `name` * `database` * `state` * `create_time` (and values are of the format YYYY-MM-DDTHH:MM:SSZ) * `expire_time` (and values are of the format YYYY-MM-DDTHH:MM:SSZ) * `version_time` (and values are of the format YYYY-MM-DDTHH:MM:SSZ) * `size_bytes` * `backup_schedules` You can combine multiple expressions by enclosing each expression in parentheses. By default, expressions are combined with AND logic, but you can specify AND, OR, and NOT logic explicitly. Here are a few examples: * `name:Howl` - The backup's name contains the string \"howl\". * `database:prod` - The database's name contains the string \"prod\". * `state:CREATING` - The backup is pending creation. * `state:READY` - The backup is fully created and ready for use. * `(name:howl) AND (create_time < \\\"2018-03-28T14:50:00Z\\\")` - The backup name contains the string \"howl\" and `create_time` of the backup is before 2018-03-28T14:50:00Z. * `expire_time < \\\"2018-03-28T14:50:00Z\\\"` - The backup `expire_time` is before 2018-03-28T14:50:00Z. * `size_bytes > 10000000000` - The backup's size is greater than 10GB * `backup_schedules:daily` - The backup is created from a schedule with \"daily\" in its name.",
                      "location": "query"
                    },
                    "parent": {
                      "description": "Required. The instance to list backups from. Values are of the form `projects/{project}/instances/{instance}`.",
                      "required": true,
                      "type": "string",
                      "pattern": "^projects/[^/]+/instances/[^/]+$",
                      "location": "path"
                    },
                    "pageSize": {
                      "description": "Number of backups to be returned in the response. If 0 or less, defaults to the server's maximum allowed page size.",
                      "location": "query",
                      "format": "int32",
                      "type": "integer"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/spanner.admin"
                  ]
                },
                "copy": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/spanner.admin"
                  ],
                  "httpMethod": "POST",
                  "parameters": {
                    "parent": {
                      "description": "Required. The name of the destination instance that will contain the backup copy. Values are of the form: `projects/{project}/instances/{instance}`.",
                      "required": true,
                      "pattern": "^projects/[^/]+/instances/[^/]+$",
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "description": "Starts copying a Cloud Spanner Backup. The returned backup long-running operation will have a name of the format `projects//instances//backups//operations/` and can be used to track copying of the backup. The operation is associated with the destination backup. The metadata field type is CopyBackupMetadata. The response field type is Backup, if successful. Cancelling the returned operation will stop the copying and delete the destination backup. Concurrent CopyBackup requests can run on the same source backup.",
                  "path": "v1/{+parent}/backups:copy",
                  "response": {
                    "$ref": "Operation"
                  },
                  "id": "spanner.projects.instances.backups.copy",
                  "request": {
                    "$ref": "CopyBackupRequest"
                  },
                  "flatPath": "v1/projects/{projectsId}/instances/{instancesId}/backups:copy"
                },
                "setIamPolicy": {
                  "id": "spanner.projects.instances.backups.setIamPolicy",
                  "request": {
                    "$ref": "SetIamPolicyRequest"
                  },
                  "flatPath": "v1/projects/{projectsId}/instances/{instancesId}/backups/{backupsId}:setIamPolicy",
                  "response": {
                    "$ref": "Policy"
                  },
                  "httpMethod": "POST",
                  "parameters": {
                    "resource": {
                      "pattern": "^projects/[^/]+/instances/[^/]+/backups/[^/]+$",
                      "location": "path",
                      "type": "string",
                      "description": "REQUIRED: The Cloud Spanner resource for which the policy is being set. The format is `projects//instances/` for instance resources and `projects//instances//databases/` for databases resources.",
                      "required": true
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/spanner.admin"
                  ],
                  "path": "v1/{+resource}:setIamPolicy",
                  "parameterOrder": [
                    "resource"
                  ],
                  "description": "Sets the access control policy on a database or backup resource. Replaces any existing policy. Authorization requires `spanner.databases.setIamPolicy` permission on resource. For backups, authorization requires `spanner.backups.setIamPolicy` permission on resource. For backup schedules, authorization requires `spanner.backupSchedules.setIamPolicy` permission on resource."
                },
                "delete": {
                  "response": {
                    "$ref": "Empty"
                  },
                  "id": "spanner.projects.instances.backups.delete",
                  "flatPath": "v1/projects/{projectsId}/instances/{instancesId}/backups/{backupsId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/spanner.admin"
                  ],
                  "httpMethod": "DELETE",
                  "parameters": {
                    "name": {
                      "description": "Required. Name of the backup to delete. Values are of the form `projects/{project}/instances/{instance}/backups/{backup}`.",
                      "required": true,
                      "type": "string",
                      "pattern": "^projects/[^/]+/instances/[^/]+/backups/[^/]+$",
                      "location": "path"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Deletes a pending or completed Backup.",
                  "path": "v1/{+name}"
                },
                "patch": {
                  "path": "v1/{+name}",
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Updates a pending or completed Backup.",
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/instances/[^/]+/backups/[^/]+$",
                      "location": "path",
                      "type": "string",
                      "required": true,
                      "description": "Output only for the CreateBackup operation. Required for the UpdateBackup operation. A globally unique identifier for the backup which cannot be changed. Values are of the form `projects/{project}/instances/{instance}/backups/a-z*[a-z0-9]` The final segment of the name must be between 2 and 60 characters in length. The backup is stored in the location(s) specified in the instance configuration of the instance containing the backup, identified by the prefix of the backup name of the form `projects/{project}/instances/{instance}`."
                    },
                    "updateMask": {
                      "description": "Required. A mask specifying which fields (for example, `expire_time`) in the backup resource should be updated. This mask is relative to the backup resource, not to the request message. The field mask must always be specified; this prevents any future fields from being erased accidentally by clients that do not know about them.",
                      "location": "query",
                      "format": "google-fieldmask",
                      "type": "string"
                    }
                  },
                  "httpMethod": "PATCH",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/spanner.admin"
                  ],
                  "flatPath": "v1/projects/{projectsId}/instances/{instancesId}/backups/{backupsId}",
                  "id": "spanner.projects.instances.backups.patch",
                  "request": {
                    "$ref": "Backup"
                  },
                  "response": {
                    "$ref": "Backup"
                  }
                }
              },
              "resources": {
                "operations": {
                  "methods": {
                    "list": {
                      "response": {
                        "$ref": "ListOperationsResponse"
                      },
                      "flatPath": "v1/projects/{projectsId}/instances/{instancesId}/backups/{backupsId}/operations",
                      "id": "spanner.projects.instances.backups.operations.list",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/spanner.admin"
                      ],
                      "parameters": {
                        "pageToken": {
                          "description": "The standard list page token.",
                          "location": "query",
                          "type": "string"
                        },
                        "filter": {
                          "type": "string",
                          "description": "The standard list filter.",
                          "location": "query"
                        },
                        "returnPartialSuccess": {
                          "type": "boolean",
                          "description": "When set to `true`, operations that are reachable are returned as normal, and those that are unreachable are returned in the ListOperationsResponse.unreachable field. This can only be `true` when reading across collections. For example, when `parent` is set to `\"projects/example/locations/-\"`. This field is not supported by default and will result in an `UNIMPLEMENTED` error if set unless explicitly documented otherwise in service or product specific documentation.",
                          "location": "query"
                        },
                        "name": {
                          "type": "string",
                          "pattern": "^projects/[^/]+/instances/[^/]+/backups/[^/]+/operations$",
                          "location": "path",
                          "required": true,
                          "description": "The name of the operation's parent resource."
                        },
                        "pageSize": {
                          "description": "The standard list page size.",
                          "location": "query",
                          "format": "int32",
                          "type": "integer"
                        }
                      },
                      "httpMethod": "GET",
                      "parameterOrder": [
                        "name"
                      ],
                      "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`.",
                      "path": "v1/{+name}"
                    },
                    "get": {
                      "parameters": {
                        "name": {
                          "description": "The name of the operation resource.",
                          "required": true,
                          "pattern": "^projects/[^/]+/instances/[^/]+/backups/[^/]+/operations/[^/]+$",
                          "location": "path",
                          "type": "string"
                        }
                      },
                      "httpMethod": "GET",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/spanner.admin"
                      ],
                      "path": "v1/{+name}",
                      "parameterOrder": [
                        "name"
                      ],
                      "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
                      "flatPath": "v1/projects/{projectsId}/instances/{instancesId}/backups/{backupsId}/operations/{operationsId}",
                      "id": "spanner.projects.instances.backups.operations.get",
                      "response": {
                        "$ref": "Operation"
                      }
                    },
                    "delete": {
                      "id": "spanner.projects.instances.backups.operations.delete",
                      "flatPath": "v1/projects/{projectsId}/instances/{instancesId}/backups/{backupsId}/operations/{operationsId}",
                      "response": {
                        "$ref": "Empty"
                      },
                      "path": "v1/{+name}",
                      "parameterOrder": [
                        "name"
                      ],
                      "description": "Deletes a long-running operation. This method indicates that the client is no longer interested in the operation result. It does not cancel the operation. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`.",
                      "httpMethod": "DELETE",
                      "parameters": {
                        "name": {
                          "required": true,
                          "description": "The name of the operation resource to be deleted.",
                          "type": "string",
                          "pattern": "^projects/[^/]+/instances/[^/]+/backups/[^/]+/operations/[^/]+$",
                          "location": "path"
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/spanner.admin"
                      ]
                    },
                    "cancel": {
                      "id": "spanner.projects.instances.backups.operations.cancel",
                      "flatPath": "v1/projects/{projectsId}/instances/{instancesId}/backups/{backupsId}/operations/{operationsId}:cancel",
                      "response": {
                        "$ref": "Empty"
                      },
                      "path": "v1/{+name}:cancel",
                      "parameterOrder": [
                        "name"
                      ],
                      "description": "Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`.",
                      "httpMethod": "POST",
                      "parameters": {
                        "name": {
                          "required": true,
                          "description": "The name of the operation resource to be cancelled.",
                          "pattern": "^projects/[^/]+/instances/[^/]+/backups/[^/]+/operations/[^/]+$",
                          "location": "path",
                          "type": "string"
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/spanner.admin"
                      ]
                    }
                  }
                }
              }
            },
            "databases": {
              "methods": {
                "testIamPermissions": {
                  "response": {
                    "$ref": "TestIamPermissionsResponse"
                  },
                  "flatPath": "v1/projects/{projectsId}/instances/{instancesId}/databases/{databasesId}:testIamPermissions",
                  "id": "spanner.projects.instances.databases.testIamPermissions",
                  "request": {
                    "$ref": "TestIamPermissionsRequest"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/spanner.admin"
                  ],
                  "parameters": {
                    "resource": {
                      "description": "REQUIRED: The Cloud Spanner resource for which permissions are being tested. The format is `projects//instances/` for instance resources and `projects//instances//databases/` for database resources.",
                      "required": true,
                      "type": "string",
                      "pattern": "^projects/[^/]+/instances/[^/]+/databases/[^/]+$",
                      "location": "path"
                    }
                  },
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "resource"
                  ],
                  "description": "Returns permissions that the caller has on the specified database or backup resource. Attempting this RPC on a non-existent Cloud Spanner database will result in a NOT_FOUND error if the user has `spanner.databases.list` permission on the containing Cloud Spanner instance. Otherwise returns an empty set of permissions. Calling this method on a backup that does not exist will result in a NOT_FOUND error if the user has `spanner.backups.list` permission on the containing instance. Calling this method on a backup schedule that does not exist will result in a NOT_FOUND error if the user has `spanner.backupSchedules.list` permission on the containing database.",
                  "path": "v1/{+resource}:testIamPermissions"
                },
                "dropDatabase": {
                  "response": {
                    "$ref": "Empty"
                  },
                  "id": "spanner.projects.instances.databases.dropDatabase",
                  "flatPath": "v1/projects/{projectsId}/instances/{instancesId}/databases/{databasesId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/spanner.admin"
                  ],
                  "httpMethod": "DELETE",
                  "parameters": {
                    "database": {
                      "required": true,
                      "description": "Required. The database to be dropped.",
                      "type": "string",
                      "pattern": "^projects/[^/]+/instances/[^/]+/databases/[^/]+$",
                      "location": "path"
                    }
                  },
                  "parameterOrder": [
                    "database"
                  ],
                  "description": "Drops (aka deletes) a Cloud Spanner database. Completed backups for the database will be retained according to their `expire_time`. Note: Cloud Spanner might continue to accept requests for a few seconds after the database has been deleted.",
                  "path": "v1/{+database}"
                },
                "getDdl": {
                  "parameterOrder": [
                    "database"
                  ],
                  "description": "Returns the schema of a Cloud Spanner database as a list of formatted DDL statements. This method does not show pending schema updates, those may be queried using the Operations API.",
                  "path": "v1/{+database}/ddl",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/spanner.admin"
                  ],
                  "parameters": {
                    "database": {
                      "description": "Required. The database whose schema we wish to get. Values are of the form `projects//instances//databases/`",
                      "required": true,
                      "type": "string",
                      "pattern": "^projects/[^/]+/instances/[^/]+/databases/[^/]+$",
                      "location": "path"
                    }
                  },
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "GetDatabaseDdlResponse"
                  },
                  "flatPath": "v1/projects/{projectsId}/instances/{instancesId}/databases/{databasesId}/ddl",
                  "id": "spanner.projects.instances.databases.getDdl"
                },
                "create": {
                  "httpMethod": "POST",
                  "parameters": {
                    "parent": {
                      "type": "string",
                      "pattern": "^projects/[^/]+/instances/[^/]+$",
                      "location": "path",
                      "description": "Required. The name of the instance that will serve the new database. Values are of the form `projects//instances/`.",
                      "required": true
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/spanner.admin"
                  ],
                  "path": "v1/{+parent}/databases",
                  "parameterOrder": [
                    "parent"
                  ],
                  "description": "Creates a new Spanner database and starts to prepare it for serving. The returned long-running operation will have a name of the format `/operations/` and can be used to track preparation of the database. The metadata field type is CreateDatabaseMetadata. The response field type is Database, if successful.",
                  "id": "spanner.projects.instances.databases.create",
                  "request": {
                    "$ref": "CreateDatabaseRequest"
                  },
                  "flatPath": "v1/projects/{projectsId}/instances/{instancesId}/databases",
                  "response": {
                    "$ref": "Operation"
                  }
                },
                "updateDdl": {
                  "id": "spanner.projects.instances.databases.updateDdl",
                  "request": {
                    "$ref": "UpdateDatabaseDdlRequest"
                  },
                  "flatPath": "v1/projects/{projectsId}/instances/{instancesId}/databases/{databasesId}/ddl",
                  "response": {
                    "$ref": "Operation"
                  },
                  "path": "v1/{+database}/ddl",
                  "parameterOrder": [
                    "database"
                  ],
                  "description": "Updates the schema of a Cloud Spanner database by creating/altering/dropping tables, columns, indexes, etc. The returned long-running operation will have a name of the format `/operations/` and can be used to track execution of the schema changes. The metadata field type is UpdateDatabaseDdlMetadata. The operation has no response.",
                  "httpMethod": "PATCH",
                  "parameters": {
                    "database": {
                      "type": "string",
                      "pattern": "^projects/[^/]+/instances/[^/]+/databases/[^/]+$",
                      "location": "path",
                      "required": true,
                      "description": "Required. The database to update."
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/spanner.admin"
                  ]
                },
                "restore": {
                  "response": {
                    "$ref": "Operation"
                  },
                  "flatPath": "v1/projects/{projectsId}/instances/{instancesId}/databases:restore",
                  "id": "spanner.projects.instances.databases.restore",
                  "request": {
                    "$ref": "RestoreDatabaseRequest"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
[...]
