{
  "discoveryVersion": "v1",
  "id": "sqladmin:v1",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        },
        "https://www.googleapis.com/auth/sqlservice.admin": {
          "description": "Manage your Google SQL Service instances"
        }
      }
    }
  },
  "basePath": "",
  "resources": {
    "backupRuns": {
      "methods": {
        "get": {
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "parameters": {
            "project": {
              "location": "path",
              "type": "string",
              "required": true,
              "description": "Project ID of the project that contains the instance."
            },
            "instance": {
              "description": "Cloud SQL instance ID. This does not include the project ID.",
              "required": true,
              "type": "string",
              "location": "path"
            },
            "id": {
              "required": true,
              "type": "string",
              "location": "path",
              "description": "The ID of this backup run.",
              "format": "int64"
            }
          },
          "flatPath": "v1/projects/{project}/instances/{instance}/backupRuns/{id}",
          "description": "Retrieves a resource containing information about a backup run.",
          "path": "v1/projects/{project}/instances/{instance}/backupRuns/{id}",
          "parameterOrder": [
            "project",
            "instance",
            "id"
          ],
          "response": {
            "$ref": "BackupRun"
          },
          "id": "sql.backupRuns.get"
        },
        "insert": {
          "response": {
            "$ref": "Operation"
          },
          "parameters": {
            "instance": {
              "type": "string",
              "location": "path",
              "required": true,
              "description": "Cloud SQL instance ID. This does not include the project ID."
            },
            "project": {
              "location": "path",
              "description": "Project ID of the project that contains the instance.",
              "required": true,
              "type": "string"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "httpMethod": "POST",
          "parameterOrder": [
            "project",
            "instance"
          ],
          "flatPath": "v1/projects/{project}/instances/{instance}/backupRuns",
          "path": "v1/projects/{project}/instances/{instance}/backupRuns",
          "request": {
            "$ref": "BackupRun"
          },
          "description": "Creates a new backup run on demand.",
          "id": "sql.backupRuns.insert"
        },
        "list": {
          "path": "v1/projects/{project}/instances/{instance}/backupRuns",
          "flatPath": "v1/projects/{project}/instances/{instance}/backupRuns",
          "description": "Lists all backup runs associated with the project or a given instance and configuration in the reverse chronological order of the backup initiation time.",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "parameterOrder": [
            "project",
            "instance"
          ],
          "parameters": {
            "maxResults": {
              "location": "query",
              "type": "integer",
              "format": "int32",
              "description": "Maximum number of backup runs per response."
            },
            "project": {
              "required": true,
              "type": "string",
              "description": "Project ID of the project that contains the instance.",
              "location": "path"
            },
            "instance": {
              "required": true,
              "description": "Cloud SQL instance ID, or \"-\" for all instances. This does not include the project ID.",
              "type": "string",
              "location": "path"
            },
            "pageToken": {
              "type": "string",
              "description": "A previously-returned page token representing part of the larger set of results to view.",
              "location": "query"
            }
          },
          "response": {
            "$ref": "BackupRunsListResponse"
          },
          "httpMethod": "GET",
          "id": "sql.backupRuns.list"
        },
        "delete": {
          "id": "sql.backupRuns.delete",
          "path": "v1/projects/{project}/instances/{instance}/backupRuns/{id}",
          "parameterOrder": [
            "project",
            "instance",
            "id"
          ],
          "httpMethod": "DELETE",
          "flatPath": "v1/projects/{project}/instances/{instance}/backupRuns/{id}",
          "description": "Deletes the backup taken by a backup run.",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "response": {
            "$ref": "Operation"
          },
          "parameters": {
            "project": {
              "location": "path",
              "description": "Project ID of the project that contains the instance.",
              "required": true,
              "type": "string"
            },
            "instance": {
              "type": "string",
              "required": true,
              "description": "Cloud SQL instance ID. This does not include the project ID.",
              "location": "path"
            },
            "id": {
              "location": "path",
              "type": "string",
              "required": true,
              "format": "int64",
              "description": "The ID of the backup run to delete. To find a backup run ID, use the [list](https://cloud.google.com/sql/docs/mysql/admin-api/rest/v1/backupRuns/list) method."
            }
          }
        }
      }
    },
    "workloadCaptures": {
      "methods": {
        "list": {
          "parameters": {
            "project": {
              "type": "string",
              "required": true,
              "location": "path",
              "description": "Required. Project ID of the project that contains the instance."
            },
            "instance": {
              "location": "path",
              "description": "Required. Cloud SQL instance ID. This does not include the project ID.",
              "required": true,
              "type": "string"
            }
          },
          "response": {
            "$ref": "WorkloadCapturesListResponse"
          },
          "description": "Lists all captured workloads associated with the instance.",
          "parameterOrder": [
            "project",
            "instance"
          ],
          "flatPath": "v1/projects/{project}/instances/{instance}/workloadCaptures",
          "httpMethod": "GET",
          "id": "sql.workloadCaptures.list",
          "path": "v1/projects/{project}/instances/{instance}/workloadCaptures",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ]
        },
        "stop": {
          "parameterOrder": [
            "project",
            "instance"
          ],
          "flatPath": "v1/projects/{project}/instances/{instance}/workloadCaptures:stop",
          "path": "v1/projects/{project}/instances/{instance}/workloadCaptures:stop",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "description": "Stops capturing the query traffic and related operations executed on the primary instance.",
          "response": {
            "$ref": "Operation"
          },
          "id": "sql.workloadCaptures.stop",
          "parameters": {
            "instance": {
              "type": "string",
              "required": true,
              "description": "Required. Cloud SQL instance ID. This does not include the project ID.",
              "location": "path"
            },
            "project": {
              "required": true,
              "type": "string",
              "description": "Required. Project ID of the project that contains the instance.",
              "location": "path"
            }
          },
          "httpMethod": "POST",
          "request": {
            "$ref": "SqlWorkloadCapturesStopRequest"
          }
        },
        "startReplay": {
          "response": {
            "$ref": "Operation"
          },
          "id": "sql.workloadCaptures.startReplay",
          "parameterOrder": [
            "project",
            "instance",
            "workloadId"
          ],
          "path": "v1/projects/{project}/instances/{instance}/workloadCaptures/{workloadId}:startReplay",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "flatPath": "v1/projects/{project}/instances/{instance}/workloadCaptures/{workloadId}:startReplay",
          "request": {
            "$ref": "SqlWorkloadCapturesStartReplayRequest"
          },
          "description": "Starts executing a captured workload on a separate Cloud SQL instance provisioned for workload replay. This target instance simulates the production environment without affecting the primary instance.",
          "httpMethod": "POST",
          "parameters": {
            "instance": {
              "required": true,
              "description": "Required. Cloud SQL instance ID. This does not include the project ID.",
              "location": "path",
              "type": "string"
            },
            "project": {
              "required": true,
              "description": "Required. Project ID of the project that contains the instance.",
              "location": "path",
              "type": "string"
            },
            "workloadId": {
              "location": "path",
              "description": "Required. The ID of the workload to replay.",
              "required": true,
              "type": "string"
            }
          }
        },
        "stopReplay": {
          "parameterOrder": [
            "project",
            "instance",
            "workloadId"
          ],
          "id": "sql.workloadCaptures.stopReplay",
          "path": "v1/projects/{project}/instances/{instance}/workloadCaptures/{workloadId}:stopReplay",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "description": "Stops executing a captured workload on the separate Cloud SQL instance.",
          "response": {
            "$ref": "Operation"
          },
          "httpMethod": "POST",
          "parameters": {
            "project": {
              "location": "path",
              "description": "Required. Project ID of the project that contains the instance.",
              "type": "string",
              "required": true
            },
            "instance": {
              "required": true,
              "description": "Required. Cloud SQL instance ID. This does not include the project ID.",
              "location": "path",
              "type": "string"
            },
            "workloadId": {
              "description": "Required. The ID of the workload to replay.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "flatPath": "v1/projects/{project}/instances/{instance}/workloadCaptures/{workloadId}:stopReplay",
          "request": {
            "$ref": "SqlWorkloadCapturesStopReplayRequest"
          }
        },
        "start": {
          "id": "sql.workloadCaptures.start",
          "flatPath": "v1/projects/{project}/instances/{instance}/workloadCaptures:start",
          "request": {
            "$ref": "SqlWorkloadCapturesStartRequest"
          },
          "response": {
            "$ref": "Operation"
          },
          "description": "Starts capturing the SQL queries, transactions, and other operations executed on the primary instance. This traffic is securely stored and forms a \"captured workload\". This workload can be replayed later on a different instance to safely test performance impacts, database upgrades, configuration changes etc. before applying them to production.",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "parameters": {
            "instance": {
              "description": "Required. Cloud SQL instance ID. This does not include the project ID.",
              "location": "path",
              "type": "string",
              "required": true
            },
            "project": {
              "description": "Required. Project ID of the project that contains the instance.",
              "required": true,
              "type": "string",
              "location": "path"
            }
          },
          "httpMethod": "POST",
          "parameterOrder": [
            "project",
            "instance"
          ],
          "path": "v1/projects/{project}/instances/{instance}/workloadCaptures:start"
        }
      }
    },
    "connect": {
      "methods": {
        "resolve": {
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "description": "Retrieves connect settings about a Cloud SQL instance using the instance DNS name.",
          "flatPath": "v1/locations/{location}/dns/{dnsName}:resolveConnectSettings",
          "path": "v1/locations/{location}/dns/{dnsName}:resolveConnectSettings",
          "response": {
            "$ref": "ConnectSettings"
          },
          "parameters": {
            "location": {
              "type": "string",
              "required": true,
              "description": "Required. The region of the instance.",
              "location": "path"
            },
            "dnsName": {
              "required": true,
              "description": "Required. Cloud SQL instance ID. This does not include the project ID.",
              "type": "string",
              "location": "path"
            }
          },
          "httpMethod": "GET",
          "parameterOrder": [
            "location",
            "dnsName"
          ],
          "id": "sql.connect.resolve"
        },
        "get": {
          "id": "sql.connect.get",
          "parameters": {
            "instance": {
              "type": "string",
              "required": true,
              "description": "Cloud SQL instance ID. This does not include the project ID.",
              "location": "path"
            },
            "readTime": {
              "format": "google-datetime",
              "type": "string",
              "description": "Optional. Optional snapshot read timestamp to trade freshness for performance.",
              "location": "query"
            },
            "project": {
              "location": "path",
              "description": "Project ID of the project that contains the instance.",
              "required": true,
              "type": "string"
            }
          },
          "httpMethod": "GET",
          "path": "v1/projects/{project}/instances/{instance}/connectSettings",
          "flatPath": "v1/projects/{project}/instances/{instance}/connectSettings",
          "description": "Retrieves connect settings about a Cloud SQL instance.",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "response": {
            "$ref": "ConnectSettings"
          },
          "parameterOrder": [
            "project",
            "instance"
          ]
        },
        "generateEphemeralCert": {
          "response": {
            "$ref": "GenerateEphemeralCertResponse"
          },
          "id": "sql.connect.generateEphemeral",
          "flatPath": "v1/projects/{project}/instances/{instance}:generateEphemeralCert",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "parameterOrder": [
            "project",
            "instance"
          ],
          "description": "Generates a short-lived X509 certificate containing the provided public key and signed by a private key specific to the target instance. Users may use the certificate to authenticate as themselves when connecting to the database.",
          "httpMethod": "POST",
          "parameters": {
            "project": {
              "required": true,
              "type": "string",
              "description": "Project ID of the project that contains the instance.",
              "location": "path"
            },
            "instance": {
              "type": "string",
              "location": "path",
              "description": "Cloud SQL instance ID. This does not include the project ID.",
              "required": true
            }
          },
          "path": "v1/projects/{project}/instances/{instance}:generateEphemeralCert",
          "request": {
            "$ref": "GenerateEphemeralCertRequest"
          }
        }
      }
    },
    "users": {
      "methods": {
        "list": {
          "response": {
            "$ref": "UsersListResponse"
          },
          "description": "Lists users in the specified Cloud SQL instance.",
          "parameterOrder": [
            "project",
            "instance"
          ],
          "id": "sql.users.list",
          "flatPath": "v1/projects/{project}/instances/{instance}/users",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "parameters": {
            "instance": {
              "type": "string",
              "location": "path",
              "description": "Database instance ID. This does not include the project ID.",
              "required": true
            },
            "location": {
              "location": "query",
              "description": "Optional. Region of the Cloud SQL instance.",
              "type": "string"
            },
            "project": {
              "location": "path",
              "type": "string",
              "description": "Project ID of the project that contains the instance.",
              "required": true
            }
          },
          "httpMethod": "GET",
          "path": "v1/projects/{project}/instances/{instance}/users"
        },
        "insert": {
          "response": {
            "$ref": "Operation"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "flatPath": "v1/projects/{project}/instances/{instance}/users",
          "path": "v1/projects/{project}/instances/{instance}/users",
          "httpMethod": "POST",
          "request": {
            "$ref": "User"
          },
          "parameterOrder": [
            "project",
            "instance"
          ],
          "description": "Creates a new user in a Cloud SQL instance.",
          "id": "sql.users.insert",
          "parameters": {
            "project": {
              "type": "string",
              "required": true,
              "description": "Project ID of the project that contains the instance.",
              "location": "path"
            },
            "instance": {
              "location": "path",
              "type": "string",
              "required": true,
              "description": "Database instance ID. This does not include the project ID."
            },
            "location": {
              "type": "string",
              "description": "Optional. Region of the Cloud SQL instance.",
              "location": "query"
            }
          }
        },
        "get": {
          "parameters": {
            "name": {
              "required": true,
              "type": "string",
              "description": "User of the instance.",
              "location": "path"
            },
            "instance": {
              "required": true,
              "type": "string",
              "location": "path",
              "description": "Database instance ID. This does not include the project ID."
            },
            "location": {
              "type": "string",
              "description": "Optional. Region of the Cloud SQL instance.",
              "location": "query"
            },
            "host": {
              "description": "Host of a user of the instance.",
              "location": "query",
              "type": "string"
            },
            "project": {
              "location": "path",
              "description": "Project ID of the project that contains the instance.",
              "required": true,
              "type": "string"
            }
          },
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "response": {
            "$ref": "User"
          },
          "id": "sql.users.get",
          "path": "v1/projects/{project}/instances/{instance}/users/{name}",
          "description": "Retrieves a resource containing information about a user.",
          "flatPath": "v1/projects/{project}/instances/{instance}/users/{name}",
          "parameterOrder": [
            "project",
            "instance",
            "name"
          ]
        },
        "update": {
          "parameters": {
            "project": {
              "required": true,
              "description": "Project ID of the project that contains the instance.",
              "type": "string",
              "location": "path"
            },
            "name": {
              "location": "query",
              "type": "string",
              "description": "Name of the user in the instance."
            },
            "revokeExistingRoles": {
              "location": "query",
              "type": "boolean",
              "description": "Optional. Specifies whether to revoke existing roles that are not present in the `database_roles` field. If `false` or unset, the database roles specified in `database_roles` are added to the user's existing roles."
            },
            "serverRoles": {
              "type": "string",
              "description": "Optional. The server roles to grant to the SQL Server login. Existing server roles will not be revoked if revoke_existing_roles is false. body.server_roles will be ignored for update request.",
              "location": "query",
              "repeated": true
            },
            "host": {
              "description": "Optional. Host of the user in the instance.",
              "location": "query",
              "type": "string"
            },
            "instance": {
              "description": "Database instance ID. This does not include the project ID.",
              "required": true,
              "type": "string",
              "location": "path"
            },
            "location": {
              "description": "Optional. Region of the Cloud SQL instance.",
              "type": "string",
              "location": "query"
            },
            "revokeExistingServerRoles": {
              "location": "query",
              "description": "Optional. Specifies whether to revoke existing roles that are not present in the `server_roles` field. If `false` or unset, the server roles specified in `server_roles` are added to the user's existing server roles.",
              "type": "boolean"
            },
            "databaseRoles": {
              "repeated": true,
              "description": "Optional. List of database roles to grant to the user. body.database_roles will be ignored for update request.",
              "type": "string",
              "location": "query"
            }
          },
          "id": "sql.users.update",
          "flatPath": "v1/projects/{project}/instances/{instance}/users",
          "request": {
            "$ref": "User"
          },
          "description": "Updates an existing user in a Cloud SQL instance.",
          "httpMethod": "PUT",
          "response": {
            "$ref": "Operation"
          },
          "parameterOrder": [
            "project",
            "instance"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "path": "v1/projects/{project}/instances/{instance}/users"
        },
        "delete": {
          "response": {
            "$ref": "Operation"
          },
          "path": "v1/projects/{project}/instances/{instance}/users",
          "flatPath": "v1/projects/{project}/instances/{instance}/users",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "parameterOrder": [
            "project",
            "instance"
          ],
          "id": "sql.users.delete",
          "httpMethod": "DELETE",
          "parameters": {
            "instance": {
              "type": "string",
              "location": "path",
              "required": true,
              "description": "Database instance ID. This does not include the project ID."
            },
            "location": {
              "type": "string",
              "location": "query",
              "description": "Optional. Region of the Cloud SQL instance."
            },
            "name": {
              "type": "string",
              "description": "Name of the user in the instance.",
              "location": "query"
            },
            "host": {
              "location": "query",
              "type": "string",
              "description": "Host of the user in the instance."
            },
            "project": {
              "required": true,
              "location": "path",
              "description": "Project ID of the project that contains the instance.",
              "type": "string"
            }
          },
          "description": "Deletes a user from a Cloud SQL instance."
        }
      }
    },
    "sslCerts": {
      "methods": {
        "list": {
          "id": "sql.sslCerts.list",
          "description": "Lists all of the current SSL certificates for the instance.",
          "httpMethod": "GET",
          "flatPath": "v1/projects/{project}/instances/{instance}/sslCerts",
          "parameterOrder": [
            "project",
            "instance"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "parameters": {
            "project": {
              "location": "path",
              "type": "string",
              "description": "Project ID of the project that contains the instance.",
              "required": true
            },
            "instance": {
              "description": "Cloud SQL instance ID. This does not include the project ID.",
              "type": "string",
              "required": true,
              "location": "path"
            }
          },
          "path": "v1/projects/{project}/instances/{instance}/sslCerts",
          "response": {
            "$ref": "SslCertsListResponse"
          }
        },
        "createEphemeral": {
          "description": "Generates a short-lived X509 certificate containing the provided public key and signed by a private key specific to the target instance. Users may use the certificate to authenticate as themselves when connecting to the database.",
          "parameters": {
            "project": {
              "description": "Project ID of the Cloud SQL project.",
              "required": true,
              "location": "path",
              "type": "string"
            },
            "instance": {
              "required": true,
              "description": "Cloud SQL instance ID. This does not include the project ID.",
              "type": "string",
              "location": "path"
            },
            "location": {
              "location": "query",
              "description": "Optional. Region of the Cloud SQL instance.",
              "type": "string"
            }
          },
          "parameterOrder": [
            "project",
            "instance"
          ],
          "path": "v1/projects/{project}/instances/{instance}/createEphemeral",
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "response": {
            "$ref": "SslCert"
          },
          "flatPath": "v1/projects/{project}/instances/{instance}/createEphemeral",
          "request": {
            "$ref": "SslCertsCreateEphemeralRequest"
          },
          "id": "sql.sslCerts.createEphemeral"
        },
        "delete": {
          "parameters": {
            "project": {
              "required": true,
              "type": "string",
              "description": "Project ID of the project that contains the instance.",
              "location": "path"
            },
            "instance": {
              "location": "path",
              "description": "Cloud SQL instance ID. This does not include the project ID.",
              "required": true,
              "type": "string"
            },
            "sha1Fingerprint": {
              "location": "path",
              "type": "string",
              "required": true,
              "description": "Sha1 FingerPrint."
            }
          },
          "description": "Deletes the SSL certificate. For First Generation instances, the certificate remains valid until the instance is restarted.",
          "httpMethod": "DELETE",
          "response": {
            "$ref": "Operation"
          },
          "id": "sql.sslCerts.delete",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "flatPath": "v1/projects/{project}/instances/{instance}/sslCerts/{sha1Fingerprint}",
          "path": "v1/projects/{project}/instances/{instance}/sslCerts/{sha1Fingerprint}",
          "parameterOrder": [
            "project",
            "instance",
            "sha1Fingerprint"
          ]
        },
        "insert": {
          "id": "sql.sslCerts.insert",
          "parameterOrder": [
            "project",
            "instance"
          ],
          "httpMethod": "POST",
          "response": {
            "$ref": "SslCertsInsertResponse"
          },
          "parameters": {
            "project": {
              "type": "string",
              "required": true,
              "description": "Project ID of the project that contains the instance.",
              "location": "path"
            },
            "instance": {
              "type": "string",
              "required": true,
              "description": "Cloud SQL instance ID. This does not include the project ID.",
              "location": "path"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "flatPath": "v1/projects/{project}/instances/{instance}/sslCerts",
          "path": "v1/projects/{project}/instances/{instance}/sslCerts",
          "description": "Creates an SSL certificate and returns it along with the private key and server certificate authority. The new certificate will not be usable until the instance is restarted.",
          "request": {
            "$ref": "SslCertsInsertRequest"
          }
        },
        "get": {
          "id": "sql.sslCerts.get",
          "path": "v1/projects/{project}/instances/{instance}/sslCerts/{sha1Fingerprint}",
          "httpMethod": "GET",
          "description": "Retrieves a particular SSL certificate. Does not include the private key (required for usage). The private key must be saved from the response to initial creation.",
          "response": {
            "$ref": "SslCert"
          },
          "parameterOrder": [
            "project",
            "instance",
            "sha1Fingerprint"
          ],
          "parameters": {
            "project": {
              "type": "string",
              "location": "path",
              "description": "Project ID of the project that contains the instance.",
              "required": true
            },
            "instance": {
              "required": true,
              "type": "string",
              "description": "Cloud SQL instance ID. This does not include the project ID.",
              "location": "path"
            },
            "sha1Fingerprint": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "Sha1 FingerPrint."
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "flatPath": "v1/projects/{project}/instances/{instance}/sslCerts/{sha1Fingerprint}"
        }
      }
    },
    "blueGreenDeployments": {
      "methods": {
        "switchover": {
          "id": "sql.blueGreenDeployments.switchover",
          "parameters": {
            "name": {
              "location": "path",
              "description": "Required. The name of the blue-green deployment to switch over. Format: projects/{project}/locations/{location}/blueGreenDeployments/{blue_green_deployment}",
              "required": true,
              "type": "string",
              "pattern": "^projects/[^/]+/locations/[^/]+/blueGreenDeployments/[^/]+$"
            }
          },
          "httpMethod": "POST",
          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/blueGreenDeployments/{blueGreenDeploymentsId}:switchover",
          "parameterOrder": [
            "name"
          ],
          "path": "v1/{+name}:switchover",
          "response": {
            "$ref": "Operation"
          },
          "request": {
            "$ref": "SwitchoverBlueGreenDeploymentRequest"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "description": "Switches over to green instance for a blue-green deployment."
        },
        "create": {
          "request": {
            "$ref": "BlueGreenDeployment"
          },
          "description": "Creates a blue-green deployment under a given project and location.",
          "httpMethod": "POST",
          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/blueGreenDeployments",
          "parameterOrder": [
            "parent"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "path": "v1/{+parent}/blueGreenDeployments",
          "id": "sql.blueGreenDeployments.create",
          "response": {
            "$ref": "Operation"
          },
          "parameters": {
            "parent": {
              "type": "string",
              "pattern": "^projects/[^/]+/locations/[^/]+$",
              "description": "Required. The parent resource where this blue-green deployment will be created. Format: projects/{project}/locations/{location}",
              "location": "path",
              "required": true
            },
            "blueGreenDeploymentId": {
              "location": "query",
              "type": "string",
              "description": "Required. The ID to use for the blue-green deployment, which will become the final component of the deployment's resource name. The ID must be unique within the given project and location and between 2-63 characters."
            }
          }
        },
        "delete": {
          "description": "Deletes a blue-green deployment.",
          "response": {
            "$ref": "Operation"
          },
          "parameters": {
            "name": {
              "required": true,
              "location": "path",
              "pattern": "^projects/[^/]+/locations/[^/]+/blueGreenDeployments/[^/]+$",
              "type": "string",
              "description": "Required. The name of the blue-green deployment to delete. Format: projects/{project}/locations/{location}/blueGreenDeployments/{blue_green_deployment}"
            },
            "deleteOldSource": {
              "location": "query",
              "type": "boolean",
              "description": "Optional. If set to true, and the switchover is complete, this deletes the old source instance along with the deployment."
            }
          },
          "httpMethod": "DELETE",
          "path": "v1/{+name}",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/blueGreenDeployments/{blueGreenDeploymentsId}",
          "id": "sql.blueGreenDeployments.delete",
          "parameterOrder": [
            "name"
          ]
        },
        "list": {
          "httpMethod": "GET",
          "parameters": {
            "orderBy": {
              "description": "Optional. A comma-separated list of fields to order the results by.",
              "type": "string",
              "location": "query"
            },
            "filter": {
              "description": "Optional. A filter expression that filters the results.",
              "type": "string",
              "location": "query"
            },
            "parent": {
              "required": true,
              "location": "path",
              "type": "string",
              "pattern": "^projects/[^/]+/locations/[^/]+$",
              "description": "Required. The parent resource whose blue-green deployments are to be listed. Format: projects/{project}/locations/{location}"
            },
            "pageSize": {
              "format": "int32",
              "type": "integer",
              "description": "Optional. The maximum number of deployments to return. The service may return fewer deployments than this value. If unspecified, at most 500 deployments are returned. The maximum value is 1000; values above 1000 are treated as 1000.",
              "location": "query"
            },
            "pageToken": {
              "description": "Optional. A page token, received from a previous `ListBlueGreenDeployments` call. Provide this to retrieve the subsequent page.",
              "type": "string",
              "location": "query"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "parameterOrder": [
            "parent"
          ],
          "description": "Lists blue-green deployments under a given project.",
          "path": "v1/{+parent}/blueGreenDeployments",
          "response": {
            "$ref": "ListBlueGreenDeploymentsResponse"
          },
          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/blueGreenDeployments",
          "id": "sql.blueGreenDeployments.list"
        },
        "get": {
          "response": {
            "$ref": "BlueGreenDeployment"
          },
          "path": "v1/{+name}",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "httpMethod": "GET",
          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/blueGreenDeployments/{blueGreenDeploymentsId}",
          "parameters": {
            "name": {
              "location": "path",
              "description": "Required. The name of the blue-green deployment to retrieve. Format: projects/{project}/locations/{location}/blueGreenDeployments/{blue_green_deployment}",
              "pattern": "^projects/[^/]+/locations/[^/]+/blueGreenDeployments/[^/]+$",
              "required": true,
              "type": "string"
            },
            "view": {
              "description": "Optional. Specifies whether to return the basic or detailed view of the resource in the response.",
              "location": "query",
              "enum": [
                "BLUE_GREEN_DEPLOYMENT_VIEW_UNSPECIFIED",
                "BASIC",
                "DETAILED"
              ],
              "enumDescriptions": [
                "Blue-green deployment view enumeration. This allows the caller to specify what view they query. If unspecified (BLUE_GREEN_DEPLOYMENT_VIEW_UNSPECIFIED), the behavior is the same as BASIC.",
                "Includes basic metadata about the blue-green deployment. `BASIC` is the default view.",
                "Includes basic metadata and configuration differences between source and target instances (`database_version`, `tier`, `edition`, `availability_type`, `data_disk_size_gb`, and `data_disk_type`)."
              ],
              "type": "string"
            }
          },
          "id": "sql.blueGreenDeployments.get",
          "parameterOrder": [
            "name"
          ],
          "description": "Retrieves a blue-green deployment resource under a given project and location."
        }
      }
    },
    "instances": {
      "methods": {
        "failover": {
          "id": "sql.instances.failover",
          "httpMethod": "POST",
          "request": {
            "$ref": "InstancesFailoverRequest"
          },
          "path": "v1/projects/{project}/instances/{instance}/failover",
          "parameterOrder": [
            "project",
            "instance"
          ],
          "parameters": {
            "project": {
              "type": "string",
              "location": "path",
              "description": "ID of the project that contains the read replica.",
              "required": true
            },
            "instance": {
              "type": "string",
              "required": true,
              "location": "path",
              "description": "Cloud SQL instance ID. This does not include the project ID."
            },
            "location": {
              "type": "string",
              "description": "Optional. Region of the Cloud SQL instance.",
              "location": "query"
            }
          },
          "response": {
            "$ref": "Operation"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "flatPath": "v1/projects/{project}/instances/{instance}/failover",
          "description": "Initiates a manual failover of a high availability (HA) primary instance to a standby instance, which becomes the primary instance. Users are then rerouted to the new primary. For more information, see the [Overview of high availability](https://cloud.google.com/sql/docs/mysql/high-availability) page in the Cloud SQL documentation. If using Legacy HA (MySQL only), this causes the instance to failover to its failover replica instance."
        },
        "rotateServerCa": {
          "response": {
            "$ref": "Operation"
          },
          "httpMethod": "POST",
          "parameters": {
            "instance": {
              "required": true,
              "description": "Cloud SQL instance ID. This does not include the project ID.",
              "type": "string",
              "location": "path"
            },
            "location": {
              "type": "string",
              "description": "Optional. Region of the Cloud SQL instance.",
              "location": "query"
            },
            "project": {
              "required": true,
              "description": "Project ID of the project that contains the instance.",
              "location": "path",
              "type": "string"
            }
          },
          "path": "v1/projects/{project}/instances/{instance}/rotateServerCa",
          "flatPath": "v1/projects/{project}/instances/{instance}/rotateServerCa",
          "id": "sql.instances.rotateServerCa",
          "request": {
            "$ref": "InstancesRotateServerCaRequest"
          },
          "description": "Rotates the server certificate to one signed by the Certificate Authority (CA) version previously added with the addServerCA method. For instances that have enabled Certificate Authority Service (CAS) based server CA, use RotateServerCertificate to rotate the server certificate.",
          "parameterOrder": [
            "project",
            "instance"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ]
        },
        "ListEntraIdCertificates": {
          "httpMethod": "GET",
          "description": "Lists all versions of EntraID certificates for the specified instance. There can be up to three sets of certificates listed: the certificate that is currently in use, a future that has been added but not yet used to sign a certificate, and a certificate that has been rotated out.",
          "path": "v1/projects/{project}/instances/{instance}/listEntraIdCertificates",
          "id": "sql.instances.ListEntraIdCertificates",
          "parameters": {
            "instance": {
              "required": true,
              "location": "path",
              "type": "string",
              "description": "Required. Cloud SQL instance ID. This does not include the project ID."
            },
            "location": {
              "type": "string",
              "location": "query",
              "description": "Optional. Region of the Cloud SQL instance."
            },
            "project": {
              "location": "path",
              "type": "string",
              "description": "Required. Project ID of the project that contains the instance.",
              "required": true
            }
          },
          "parameterOrder": [
            "project",
            "instance"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "response": {
            "$ref": "InstancesListEntraIdCertificatesResponse"
          },
          "flatPath": "v1/projects/{project}/instances/{instance}/listEntraIdCertificates"
        },
        "addServerCa": {
          "description": "Adds a new trusted Certificate Authority (CA) version for the specified instance. Required to prepare for a certificate rotation. If a CA version was previously added but never used in a certificate rotation, this operation replaces that version. There cannot be more than one CA version waiting to be rotated in. For instances that have enabled Certificate Authority Service (CAS) based server CA, use AddServerCertificate to add a new server certificate.",
          "response": {
            "$ref": "Operation"
          },
          "flatPath": "v1/projects/{project}/instances/{instance}/addServerCa",
          "parameterOrder": [
            "project",
            "instance"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "parameters": {
            "instance": {
              "description": "Cloud SQL instance ID. This does not include the project ID.",
              "required": true,
              "type": "string",
              "location": "path"
            },
            "location": {
              "location": "query",
              "description": "Optional. Region of the Cloud SQL instance.",
              "type": "string"
            },
            "project": {
              "location": "path",
              "description": "Project ID of the project that contains the instance.",
              "required": true,
              "type": "string"
            }
          },
          "httpMethod": "POST",
          "id": "sql.instances.addServerCa",
          "path": "v1/projects/{project}/instances/{instance}/addServerCa"
        },
        "demote": {
          "path": "v1/projects/{project}/instances/{instance}/demote",
          "response": {
            "$ref": "Operation"
          },
          "parameters": {
            "project": {
              "type": "string",
              "location": "path",
              "required": true,
              "description": "Required. ID of the project that contains the instance."
            },
            "instance": {
              "location": "path",
              "type": "string",
              "required": true,
              "description": "Required. Cloud SQL instance name."
            },
            "location": {
              "location": "query",
              "type": "string",
              "description": "Optional. Region of the Cloud SQL instance."
            }
          },
          "httpMethod": "POST",
          "parameterOrder": [
            "project",
            "instance"
          ],
          "description": "Demotes an existing standalone instance to be a Cloud SQL read replica for an external database server.",
          "flatPath": "v1/projects/{project}/instances/{instance}/demote",
          "request": {
            "$ref": "InstancesDemoteRequest"
          },
          "id": "sql.instances.demote",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ]
        },
        "pointInTimeRestore": {
          "parameters": {
            "parent": {
              "required": true,
              "description": "Required. The parent resource where you created this instance. Format: projects/{project}",
              "pattern": "^projects/[^/]+$",
              "location": "path",
              "type": "string"
            }
          },
          "path": "v1/{+parent}:pointInTimeRestore",
          "httpMethod": "POST",
          "id": "sql.instances.pointInTimeRestore",
          "request": {
            "$ref": "PointInTimeRestoreContext"
          },
          "parameterOrder": [
            "parent"
          ],
          "flatPath": "v1/projects/{projectsId}:pointInTimeRestore",
          "description": "Point in time restore for an instance managed by Google Cloud Backup and Disaster Recovery.",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "response": {
            "$ref": "Operation"
          }
        },
        "acquireSsrsLease": {
          "request": {
            "$ref": "InstancesAcquireSsrsLeaseRequest"
          },
          "id": "sql.instances.acquireSsrsLease",
          "description": "Acquire a lease for the setup of SQL Server Reporting Services (SSRS).",
          "httpMethod": "POST",
          "parameterOrder": [
            "project",
            "instance"
          ],
          "parameters": {
            "project": {
              "description": "Required. Project ID of the project that contains the instance (Example: project-id).",
              "type": "string",
              "location": "path",
              "required": true
            },
            "instance": {
              "location": "path",
              "description": "Required. Cloud SQL instance ID. This doesn't include the project ID. It's composed of lowercase letters, numbers, and hyphens, and it must start with a letter. The total length must be 98 characters or less (Example: instance-id).",
              "required": true,
              "type": "string"
            },
            "location": {
              "description": "Optional. Region of the Cloud SQL instance.",
              "type": "string",
              "location": "query"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "path": "v1/projects/{project}/instances/{instance}/acquireSsrsLease",
          "response": {
            "$ref": "SqlInstancesAcquireSsrsLeaseResponse"
          },
          "flatPath": "v1/projects/{project}/instances/{instance}/acquireSsrsLease"
        },
        "promoteReplica": {
          "httpMethod": "POST",
          "description": "Promotes the read replica instance to be an independent Cloud SQL primary instance. Using this operation might cause your instance to restart.",
          "parameters": {
            "instance": {
              "required": true,
              "description": "Cloud SQL read replica instance name.",
              "type": "string",
              "location": "path"
            },
            "location": {
              "description": "Optional. Region of the Cloud SQL instance.",
              "type": "string",
              "location": "query"
            },
            "failover": {
              "location": "query",
              "type": "boolean",
              "description": "Set to true to invoke a replica failover to the DR replica. As part of replica failover, the promote operation attempts to add the original primary instance as a replica of the promoted DR replica when the original primary instance comes back online. If set to false or not specified, then the original primary instance becomes an independent Cloud SQL primary instance."
            },
            "project": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "ID of the project that contains the read replica."
            }
          },
          "flatPath": "v1/projects/{project}/instances/{instance}/promoteReplica",
          "id": "sql.instances.promoteReplica",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "path": "v1/projects/{project}/instances/{instance}/promoteReplica",
          "parameterOrder": [
            "project",
            "instance"
          ],
          "response": {
            "$ref": "Operation"
          }
        },
        "ListServerCertificates": {
          "path": "v1/projects/{project}/instances/{instance}/listServerCertificates",
          "httpMethod": "GET",
          "id": "sql.instances.ListServerCertificates",
          "parameters": {
            "project": {
              "description": "Required. Project ID of the project that contains the instance.",
              "location": "path",
              "type": "string",
              "required": true
            },
            "instance": {
              "required": true,
              "description": "Required. Cloud SQL instance ID. This does not include the project ID.",
              "type": "string",
              "location": "path"
            },
            "location": {
              "location": "query",
              "description": "Optional. Region of the Cloud SQL instance.",
              "type": "string"
            }
          },
          "response": {
            "$ref": "InstancesListServerCertificatesResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "parameterOrder": [
            "project",
            "instance"
          ],
          "flatPath": "v1/projects/{project}/instances/{instance}/listServerCertificates",
          "description": "Lists all versions of server certificates and certificate authorities (CAs) for the specified instance. There can be up to three sets of certs listed: the certificate that is currently in use, a future that has been added but not yet used to sign a certificate, and a certificate that has been rotated out. For instances not using Certificate Authority Service (CAS) server CA, use ListServerCas instead."
        },
        "demoteMaster": {
          "request": {
            "$ref": "InstancesDemoteMasterRequest"
          },
          "response": {
            "$ref": "Operation"
          },
          "httpMethod": "POST",
          "parameters": {
            "instance": {
              "location": "path",
              "type": "string",
              "required": true,
              "description": "Cloud SQL instance name."
            },
            "location": {
              "description": "Optional. Region of the Cloud SQL instance.",
              "type": "string",
              "location": "query"
            },
            "project": {
              "location": "path",
              "type": "string",
              "description": "ID of the project that contains the instance.",
              "required": true
            }
          },
          "id": "sql.instances.demoteMaster",
          "flatPath": "v1/projects/{project}/instances/{instance}/demoteMaster",
          "description": "Demotes the stand-alone instance to be a Cloud SQL read replica for an external database server.",
          "parameterOrder": [
            "project",
            "instance"
          ],
          "path": "v1/projects/{project}/instances/{instance}/demoteMaster",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ]
        },
        "restart": {
          "parameters": {
            "project": {
              "description": "Project ID of the project that contains the instance to be restarted.",
              "required": true,
              "type": "string",
              "location": "path"
            },
            "instance": {
              "description": "Cloud SQL instance ID. This does not include the project ID.",
              "location": "path",
              "type": "string",
              "required": true
            },
            "location": {
              "description": "Optional. Region of the Cloud SQL instance.",
              "location": "query",
              "type": "string"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "flatPath": "v1/projects/{project}/instances/{instance}/restart",
          "path": "v1/projects/{project}/instances/{instance}/restart",
          "httpMethod": "POST",
          "response": {
            "$ref": "Operation"
          },
          "id": "sql.instances.restart",
          "parameterOrder": [
            "project",
            "instance"
          ],
          "description": "Restarts a Cloud SQL instance."
        },
        "RotateEntraIdCertificate": {
          "parameterOrder": [
            "project",
            "instance"
          ],
          "path": "v1/projects/{project}/instances/{instance}/rotateEntraIdCertificate",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "id": "sql.instances.RotateEntraIdCertificate",
          "response": {
            "$ref": "Operation"
          },
          "httpMethod": "POST",
          "flatPath": "v1/projects/{project}/instances/{instance}/rotateEntraIdCertificate",
          "parameters": {
            "instance": {
              "type": "string",
              "location": "path",
              "description": "Required. Cloud SQL instance ID. This does not include the project ID.",
              "required": true
            },
            "location": {
              "description": "Optional. Region of the Cloud SQL instance.",
              "type": "string",
              "location": "query"
            },
            "project": {
              "location": "path",
              "description": "Required. Project ID of the project that contains the instance.",
              "type": "string",
              "required": true
            }
          },
          "request": {
            "$ref": "InstancesRotateEntraIdCertificateRequest"
          },
          "description": "Rotates the server certificate version to one previously added with the addEntraIdCertificate method."
        },
        "executeSql": {
          "description": "Execute SQL statements.",
          "flatPath": "v1/projects/{project}/instances/{instance}/executeSql",
          "path": "v1/projects/{project}/instances/{instance}/executeSql",
          "parameterOrder": [
            "project",
            "instance"
          ],
          "response": {
            "$ref": "SqlInstancesExecuteSqlResponse"
          },
          "request": {
            "$ref": "ExecuteSqlPayload"
          },
          "parameters": {
            "project": {
              "type": "string",
              "location": "path",
              "description": "Required. Project ID of the project that contains the instance.",
              "required": true
            },
            "instance": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "Required. Database instance ID. This does not include the project ID."
            },
            "location": {
              "description": "Optional. Region of the Cloud SQL instance.",
              "location": "query",
              "type": "string"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "id": "sql.instances.executeSql",
          "httpMethod": "POST"
        },
        "resetSslConfig": {
          "parameterOrder": [
            "project",
            "instance"
          ],
          "path": "v1/projects/{project}/instances/{instance}/resetSslConfig",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "id": "sql.instances.resetSslConfig",
          "description": "Deletes all client certificates and generates a new server SSL certificate for the instance.",
          "httpMethod": "POST",
          "flatPath": "v1/projects/{project}/instances/{instance}/resetSslConfig",
          "parameters": {
            "mode": {
              "description": "Optional. Reset SSL mode to use.",
              "enumDescriptions": [
                "Reset SSL mode is not specified.",
                "Refresh all TLS configs. This is the default behaviour.",
                "Refreshes the replication-related TLS configuration settings provided by the primary instance. Not applicable to on-premises replication instances."
              ],
              "type": "string",
              "location": "query",
              "enum": [
                "RESET_SSL_MODE_UNSPECIFIED",
                "ALL",
                "SYNC_FROM_PRIMARY"
              ]
            },
            "instance": {
              "type": "string",
              "location": "path",
              "required": true,
              "description": "Cloud SQL instance ID. This does not include the project ID."
            },
            "location": {
              "type": "string",
              "location": "query",
              "description": "Optional. Region of the Cloud SQL instance."
            },
            "project": {
              "required": true,
              "location": "path",
              "type": "string",
              "description": "Project ID of the project that contains the instance."
            }
          },
          "response": {
            "$ref": "Operation"
          }
        },
        "restoreBackup": {
          "flatPath": "v1/projects/{project}/instances/{instance}/restoreBackup",
          "parameters": {
            "project": {
              "description": "Project ID of the project that contains the instance.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "instance": {
              "location": "path",
              "type": "string",
              "description": "Cloud SQL instance ID. This does not include the project ID.",
              "required": true
            },
            "location": {
              "type": "string",
              "description": "Optional. Region of the Cloud SQL instance.",
              "location": "query"
            }
          },
          "path": "v1/projects/{project}/instances/{instance}/restoreBackup",
          "httpMethod": "POST",
          "description": "Restores a backup of a Cloud SQL instance. Using this operation might cause your instance to restart.",
          "response": {
            "$ref": "Operation"
          },
          "request": {
            "$ref": "InstancesRestoreBackupRequest"
          },
          "id": "sql.instances.restoreBackup",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "parameterOrder": [
            "project",
            "instance"
          ]
        },
        "startReplica": {
          "description": "Starts the replication in the read replica instance.",
          "httpMethod": "POST",
          "parameterOrder": [
            "project",
            "instance"
          ],
          "parameters": {
            "instance": {
              "required": true,
              "type": "string",
              "description": "Cloud SQL read replica instance name.",
              "location": "path"
            },
            "location": {
              "description": "Optional. Region of the Cloud SQL instance.",
              "location": "query",
              "type": "string"
            },
            "project": {
              "required": true,
              "description": "ID of the project that contains the read replica.",
              "type": "string",
              "location": "path"
            }
          },
          "path": "v1/projects/{project}/instances/{instance}/startReplica",
          "id": "sql.instances.startReplica",
          "response": {
            "$ref": "Operation"
          },
          "flatPath": "v1/projects/{project}/instances/{instance}/startReplica",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ]
        },
        "get": {
          "response": {
            "$ref": "DatabaseInstance"
          },
          "parameters": {
            "project": {
              "description": "Required. Project ID of the project that contains the instance.",
              "required": true,
              "type": "string",
              "location": "path"
            },
            "instance": {
              "description": "Required. Database instance ID. This does not include the project ID.",
              "required": true,
              "type": "string",
              "location": "path"
            },
            "location": {
              "type": "string",
              "description": "Optional. Region of the Cloud SQL instance.",
              "location": "query"
            }
          },
          "id": "sql.instances.get",
          "path": "v1/projects/{project}/instances/{instance}",
          "httpMethod": "GET",
          "flatPath": "v1/projects/{project}/instances/{instance}",
          "parameterOrder": [
            "project",
            "instance"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "description": "Retrieves a resource containing information about a Cloud SQL instance."
        },
        "stopReplica": {
          "response": {
            "$ref": "Operation"
          },
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "flatPath": "v1/projects/{project}/instances/{instance}/stopReplica",
          "parameters": {
            "instance": {
              "required": true,
              "description": "Cloud SQL read replica instance name.",
              "type": "string",
              "location": "path"
            },
            "location": {
              "type": "string",
              "description": "Optional. Region of the Cloud SQL instance.",
              "location": "query"
            },
            "project": {
              "required": true,
              "description": "ID of the project that contains the read replica.",
              "location": "path",
              "type": "string"
            }
          },
          "description": "Stops the replication in the read replica instance.",
          "parameterOrder": [
            "project",
            "instance"
          ],
          "id": "sql.instances.stopReplica",
          "path": "v1/projects/{project}/instances/{instance}/stopReplica"
        },
        "preCheckMajorVersionUpgrade": {
          "request": {
            "$ref": "InstancesPreCheckMajorVersionUpgradeRequest"
          },
          "parameters": {
            "project": {
              "location": "path",
              "type": "string",
              "description": "Required. Project ID of the project that contains the instance.",
              "required": true
            },
            "instance": {
              "location": "path",
              "type": "string",
              "description": "Required. Cloud SQL instance ID. This does not include the project ID.",
              "required": true
            },
            "location": {
              "type": "string",
              "location": "query",
              "description": "Optional. Region of the Cloud SQL instance."
            }
          },
          "flatPath": "v1/projects/{project}/instances/{instance}/preCheckMajorVersionUpgrade",
          "httpMethod": "POST",
          "response": {
            "$ref": "Operation"
          },
          "parameterOrder": [
            "project",
            "instance"
          ],
          "path": "v1/projects/{project}/instances/{instance}/preCheckMajorVersionUpgrade",
          "id": "sql.instances.preCheckMajorVersionUpgrade",
          "description": "Execute MVU Pre-checks",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ]
        },
        "releaseSsrsLease": {
          "description": "Release a lease for the setup of SQL Server Reporting Services (SSRS).",
          "path": "v1/projects/{project}/instances/{instance}/releaseSsrsLease",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "id": "sql.instances.releaseSsrsLease",
          "response": {
            "$ref": "SqlInstancesReleaseSsrsLeaseResponse"
          },
          "parameterOrder": [
            "project",
            "instance"
          ],
          "httpMethod": "POST",
          "flatPath": "v1/projects/{project}/instances/{instance}/releaseSsrsLease",
          "parameters": {
            "instance": {
              "location": "path",
              "type": "string",
              "required": true,
              "description": "Required. The Cloud SQL instance ID. This doesn't include the project ID. The instance ID contains lowercase letters, numbers, and hyphens, and it must start with a letter. This ID can have a maximum length of 98 characters."
            },
            "location": {
              "type": "string",
              "description": "Optional. Region of the Cloud SQL instance.",
              "location": "query"
            },
            "project": {
              "required": true,
              "type": "string",
              "description": "Required. The project ID that contains the instance.",
              "location": "path"
            }
          }
        },
        "list": {
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "path": "v1/projects/{project}/instances",
          "flatPath": "v1/projects/{project}/instances",
          "parameters": {
            "location": {
              "type": "string",
              "description": "Optional. Region of the Cloud SQL instance.",
              "location": "query"
            },
            "filter": {
              "description": "A filter expression that filters resources listed in the response. The expression is in the form of field:value. For example, 'instanceType:CLOUD_SQL_INSTANCE'. Fields can be nested as needed as per their JSON representation, such as 'settings.userLabels.auto_start:true'. Multiple filter queries are space-separated. For example. 'state:RUNNABLE instanceType:CLOUD_SQL_INSTANCE'. By default, each expression is an AND expression. However, you can include AND and OR expressions explicitly.",
              "location": "query",
              "type": "string"
            },
            "pageToken": {
              "location": "query",
              "type": "string",
              "description": "A previously-returned page token representing part of the larger set of results to view."
            },
            "maxResults": {
              "format": "uint32",
              "location": "query",
              "type": "integer",
              "description": "The maximum number of instances to return. The service may return fewer than this value. If unspecified, at most 500 instances are returned. The maximum value is 1000; values above 1000 are coerced to 1000."
            },
            "project": {
              "location": "path",
              "description": "Project ID of the project for which to list Cloud SQL instances.",
              "type": "string",
              "required": true
            }
          },
          "httpMethod": "GET",
          "description": "Lists instances under a given project.",
          "response": {
            "$ref": "InstancesListResponse"
          },
          "id": "sql.instances.list",
          "parameterOrder": [
            "project"
          ]
        },
        "addEntraIdCertificate": {
          "parameterOrder": [
            "project",
            "instance"
          ],
          "description": "Adds a new Entra ID certificate for the specified instance. If an Entra ID certificate was previously added but never used in a certificate rotation, this operation replaces that version.",
          "path": "v1/projects/{project}/instances/{instance}/addEntraIdCertificate",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "id": "sql.instances.addEntraIdCertificate",
          "flatPath": "v1/projects/{project}/instances/{instance}/addEntraIdCertificate",
          "httpMethod": "POST",
          "parameters": {
            "project": {
              "location": "path",
              "type": "string",
              "required": true,
              "description": "Required. Project ID of the project that contains the instance."
            },
            "instance": {
              "type": "string",
              "required": true,
              "location": "path",
              "description": "Required. Cloud SQL instance ID. This does not include the project ID."
            },
            "location": {
              "type": "string",
              "description": "Optional. Region of the Cloud SQL instance.",
              "location": "query"
            }
          },
          "response": {
            "$ref": "Operation"
          }
        },
        "export": {
          "id": "sql.instances.export",
          "description": "Exports data from a Cloud SQL instance to a Cloud Storage bucket as a SQL dump or CSV file.",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameters": {
            "instance": {
              "location": "path",
              "description": "Cloud SQL instance ID. This does not include the project ID.",
              "type": "string",
              "required": true
            },
            "location": {
              "location": "query",
              "description": "Optional. Region of the Cloud SQL instance.",
              "type": "string"
            },
            "project": {
              "type": "string",
              "required": true,
              "location": "path",
              "description": "Project ID of the project that contains the instance to be exported."
            }
          },
          "httpMethod": "POST",
          "request": {
            "$ref": "InstancesExportRequest"
          },
          "flatPath": "v1/projects/{project}/instances/{instance}/export",
          "response": {
            "$ref": "Operation"
          },
          "path": "v1/projects/{project}/instances/{instance}/export",
          "parameterOrder": [
            "project",
            "instance"
          ]
        },
        "RotateServerCertificate": {
          "id": "sql.instances.RotateServerCertificate",
          "parameterOrder": [
            "project",
            "instance"
          ],
          "httpMethod": "POST",
          "path": "v1/projects/{project}/instances/{instance}/rotateServerCertificate",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "flatPath": "v1/projects/{project}/instances/{instance}/rotateServerCertificate",
          "description": "Rotates the server certificate version to one previously added with the addServerCertificate method. For instances not using Certificate Authority Service (CAS) server CA, use RotateServerCa instead.",
          "request": {
            "$ref": "InstancesRotateServerCertificateRequest"
          },
          "parameters": {
            "project": {
              "required": true,
              "type": "string",
              "description": "Required. Project ID of the project that contains the instance.",
              "location": "path"
            },
            "instance": {
              "required": true,
              "type": "string",
              "location": "path",
              "description": "Required. Cloud SQL instance ID. This does not include the project ID."
            },
            "location": {
              "location": "query",
              "description": "Optional. Region of the Cloud SQL instance.",
              "type": "string"
            }
          },
          "response": {
            "$ref": "Operation"
          }
        },
        "patch": {
          "request": {
            "$ref": "DatabaseInstance"
          },
          "flatPath": "v1/projects/{project}/instances/{instance}",
          "description": "Partially updates settings of a Cloud SQL instance by merging the request with the current configuration. This method supports patch semantics.",
          "response": {
            "$ref": "Operation"
          },
          "httpMethod": "PATCH",
          "parameterOrder": [
            "project",
            "instance"
          ],
          "id": "sql.instances.patch",
          "path": "v1/projects/{project}/instances/{instance}",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "parameters": {
            "reconcilePscNetworkingForce": {
              "description": "Optional. Set PSC config to the same value as the existing config and force reconcile the PSC networking.",
              "type": "boolean",
              "location": "query"
            },
            "instance": {
              "required": true,
              "type": "string",
              "description": "Cloud SQL instance ID. This does not include the project ID.",
              "location": "path"
            },
            "location": {
              "description": "Optional. Region of the Cloud SQL instance.",
              "type": "string",
              "location": "query"
            },
            "project": {
              "location": "path",
              "required": true,
              "description": "Project ID of the project that contains the instance.",
              "type": "string"
            },
            "reconcilePscNetworking": {
              "type": "boolean",
              "description": "Optional. Set PSC config to the same value as the existing config to reconcile the PSC networking.",
              "location": "query"
            }
          }
        },
        "delete": {
          "parameterOrder": [
            "project",
            "instance"
          ],
          "response": {
            "$ref": "Operation"
          },
          "path": "v1/projects/{project}/instances/{instance}",
          "description": "Deletes a Cloud SQL instance.",
          "flatPath": "v1/projects/{project}/instances/{instance}",
          "httpMethod": "DELETE",
          "id": "sql.instances.delete",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "parameters": {
            "instance": {
              "location": "path",
              "required": true,
              "description": "Cloud SQL instance ID. This does not include the project ID.",
              "type": "string"
            },
            "location": {
              "location": "query",
              "description": "Optional. Region of the Cloud SQL instance.",
              "type": "string"
            },
            "finalBackupTtlDays": {
              "format": "int64",
              "type": "string",
              "description": "Optional. Retention period of the final backup.",
              "location": "query"
            },
            "enableFinalBackup": {
              "type": "boolean",
              "description": "Flag to opt-in for final backup. By default, it is turned off.",
              "location": "query"
            },
            "finalBackupExpiryTime": {
              "format": "google-datetime",
              "description": "Optional. Final Backup expiration time. Timestamp in UTC of when this resource is considered expired.",
              "type": "string",
              "location": "query"
            },
            "finalBackupDescription": {
              "description": "Optional. The description of the final backup.",
              "location": "query",
              "type": "string"
            },
            "project": {
              "type": "string",
              "description": "Project ID of the project that contains the instance to be deleted.",
              "location": "path",
              "required": true
            }
          }
        },
        "addServerCertificate": {
          "description": "Add a new trusted server certificate version for the specified instance using Certificate Authority Service (CAS) server CA. Required to prepare for a certificate rotation. If a server certificate version was previously added but never used in a certificate rotation, this operation replaces that version. There cannot be more than one certificate version waiting to be rotated in. For instances not using CAS server CA, use AddServerCa instead.",
          "flatPath": "v1/projects/{project}/instances/{instance}/addServerCertificate",
          "id": "sql.instances.addServerCertificate",
          "path": "v1/projects/{project}/instances/{instance}/addServerCertificate",
          "response": {
            "$ref": "Operation"
          },
          "parameters": {
            "instance": {
              "location": "path",
              "description": "Cloud SQL instance ID. This does not include the project ID.",
              "type": "string",
              "required": true
            },
            "location": {
              "location": "query",
              "description": "Optional. Region of the Cloud SQL instance.",
              "type": "string"
            },
            "project": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "Project ID of the project that contains the instance."
            }
          },
          "parameterOrder": [
            "project",
            "instance"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "httpMethod": "POST"
        },
        "clone": {
          "parameters": {
            "project": {
              "location": "path",
              "type": "string",
              "description": "Required. Project ID of the source Cloud SQL instance.",
              "required": true
            },
            "instance": {
              "location": "path",
              "type": "string",
              "required": true,
              "description": "Required. The ID of the Cloud SQL instance to be cloned (source). This does not include the project ID."
            },
            "location": {
              "description": "Optional. Region of the Cloud SQL instance.",
              "location": "query",
              "type": "string"
            }
          },
          "response": {
            "$ref": "Operation"
          },
          "parameterOrder": [
            "project",
            "instance"
          ],
          "request": {
            "$ref": "InstancesCloneRequest"
          },
          "httpMethod": "POST",
          "flatPath": "v1/projects/{project}/instances/{instance}/clone",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "description": "Creates a Cloud SQL instance as a clone of the source instance. Using this operation might cause your instance to restart.",
          "path": "v1/projects/{project}/instances/{instance}/clone",
          "id": "sql.instances.clone"
        },
        "update": {
          "flatPath": "v1/projects/{project}/instances/{instance}",
          "parameterOrder": [
            "project",
            "instance"
          ],
          "request": {
            "$ref": "DatabaseInstance"
          },
          "description": "Updates settings of a Cloud SQL instance. Using this operation might cause your instance to restart.",
          "response": {
            "$ref": "Operation"
          },
          "httpMethod": "PUT",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "id": "sql.instances.update",
          "path": "v1/projects/{project}/instances/{instance}",
          "parameters": {
            "instance": {
              "description": "Cloud SQL instance ID. This does not include the project ID.",
              "location": "path",
              "type": "string",
              "required": true
            },
            "location": {
              "location": "query",
              "type": "string",
              "description": "Optional. Region of the Cloud SQL instance."
            },
            "project": {
              "required": true,
              "type": "string",
              "description": "Project ID of the project that contains the instance.",
              "location": "path"
            }
          }
        },
        "listServerCas": {
          "flatPath": "v1/projects/{project}/instances/{instance}/listServerCas",
          "httpMethod": "GET",
          "id": "sql.instances.listServerCas",
          "response": {
            "$ref": "InstancesListServerCasResponse"
          },
          "parameters": {
            "instance": {
              "location": "path",
              "type": "string",
              "required": true,
              "description": "Cloud SQL instance ID. This does not include the project ID."
            },
            "location": {
              "location": "query",
              "description": "Optional. Region of the Cloud SQL instance.",
              "type": "string"
            },
            "project": {
              "required": true,
              "type": "string",
              "description": "Project ID of the project that contains the instance.",
              "location": "path"
            }
          },
          "description": "Lists all of the trusted Certificate Authorities (CAs) for the specified instance. There can be up to three CAs listed: the CA that was used to sign the certificate that is currently in use, a CA that has been added but not yet used to sign a certificate, and a CA used to sign a certificate that has previously rotated out.",
          "path": "v1/projects/{project}/instances/{instance}/listServerCas",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "parameterOrder": [
            "project",
            "instance"
          ]
        },
        "switchover": {
          "description": "Switches over from the primary instance to the DR replica instance.",
          "flatPath": "v1/projects/{project}/instances/{instance}/switchover",
          "id": "sql.instances.switchover",
          "response": {
            "$ref": "Operation"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "parameterOrder": [
            "project",
            "instance"
          ],
          "parameters": {
            "instance": {
              "required": true,
              "type": "string",
              "description": "Cloud SQL read replica instance name.",
              "location": "path"
            },
            "location": {
              "location": "query",
              "type": "string",
              "description": "Optional. Region of the Cloud SQL instance."
            },
            "project": {
              "location": "path",
              "description": "ID of the project that contains the replica.",
              "type": "string",
              "required": true
            },
            "dbTimeout": {
              "type": "string",
              "format": "google-duration",
              "description": "Optional. (MySQL and PostgreSQL only) Cloud SQL instance operations timeout, which is a sum of all database operations. Default value is 10 minutes and can be modified to a maximum value of 24 hours.",
              "location": "query"
            }
          },
          "httpMethod": "POST",
          "path": "v1/projects/{project}/instances/{instance}/switchover"
        },
        "import": {
          "parameterOrder": [
            "project",
            "instance"
          ],
          "request": {
            "$ref": "InstancesImportRequest"
          },
          "response": {
            "$ref": "Operation"
          },
          "path": "v1/projects/{project}/instances/{instance}/import",
          "httpMethod": "POST",
          "parameters": {
            "instance": {
              "required": true,
              "type": "string",
              "location": "path",
              "description": "Cloud SQL instance ID. This does not include the project ID."
            },
            "location": {
              "location": "query",
              "description": "Optional. Region of the Cloud SQL instance.",
              "type": "string"
            },
            "project": {
              "required": true,
              "description": "Project ID of the project that contains the instance.",
              "location": "path",
              "type": "string"
            }
          },
          "flatPath": "v1/projects/{project}/instances/{instance}/import",
          "id": "sql.instances.import",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "description": "Imports data into a Cloud SQL instance from a SQL dump or CSV file in Cloud Storage."
        },
        "truncateLog": {
          "flatPath": "v1/projects/{project}/instances/{instance}/truncateLog",
          "request": {
            "$ref": "InstancesTruncateLogRequest"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "id": "sql.instances.truncateLog",
          "path": "v1/projects/{project}/instances/{instance}/truncateLog",
          "response": {
            "$ref": "Operation"
          },
          "parameters": {
            "project": {
              "description": "Project ID of the Cloud SQL project.",
              "required": true,
              "type": "string",
              "location": "path"
            },
            "instance": {
              "required": true,
              "description": "Cloud SQL instance ID. This does not include the project ID.",
              "location": "path",
              "type": "string"
            },
            "location": {
              "description": "Optional. Region of the Cloud SQL instance.",
              "type": "string",
              "location": "query"
            }
          },
          "parameterOrder": [
            "project",
            "instance"
          ],
          "httpMethod": "POST",
          "description": "Truncate MySQL general and slow query log tables MySQL only."
        },
        "insert": {
          "path": "v1/projects/{project}/instances",
          "id": "sql.instances.insert",
          "response": {
            "$ref": "Operation"
          },
          "request": {
            "$ref": "DatabaseInstance"
          },
          "flatPath": "v1/projects/{project}/instances",
          "parameters": {
            "project": {
              "description": "Project ID of the project to which the newly created Cloud SQL instances should belong.",
              "location": "path",
              "type": "string",
              "required": true
            },
            "location": {
              "description": "Optional. Region of the Cloud SQL instance.",
              "location": "query",
              "type": "string"
            }
          },
          "parameterOrder": [
            "project"
          ],
          "description": "Creates a new Cloud SQL instance.",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "httpMethod": "POST"
        },
        "reencrypt": {
          "id": "sql.instances.reencrypt",
          "parameters": {
            "project": {
              "type": "string",
              "description": "ID of the project that contains the instance.",
              "required": true,
              "location": "path"
            },
            "instance": {
              "type": "string",
              "location": "path",
              "description": "Cloud SQL instance ID. This does not include the project ID.",
              "required": true
            },
            "location": {
              "location": "query",
              "type": "string",
              "description": "Optional. Region of the Cloud SQL instance."
            }
          },
          "parameterOrder": [
            "project",
            "instance"
          ],
          "httpMethod": "POST",
          "path": "v1/projects/{project}/instances/{instance}/reencrypt",
          "flatPath": "v1/projects/{project}/instances/{instance}/reencrypt",
          "request": {
            "$ref": "InstancesReencryptRequest"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "response": {
            "$ref": "Operation"
          },
          "description": "Reencrypt CMEK instance with latest key version."
        }
      }
    },
    "databases": {
      "methods": {
        "list": {
          "path": "v1/projects/{project}/instances/{instance}/databases",
          "response": {
            "$ref": "DatabasesListResponse"
          },
          "httpMethod": "GET",
          "parameters": {
            "project": {
              "required": true,
              "description": "Project ID of the project that contains the instance.",
              "type": "string",
              "location": "path"
            },
            "instance": {
              "type": "string",
              "required": true,
              "description": "Cloud SQL instance ID. This does not include the project ID.",
              "location": "path"
            },
            "location": {
              "location": "query",
              "type": "string",
              "description": "Optional. Region of the Cloud SQL instance."
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "parameterOrder": [
            "project",
            "instance"
          ],
          "flatPath": "v1/projects/{project}/instances/{instance}/databases",
          "id": "sql.databases.list",
          "description": "Lists databases in the specified Cloud SQL instance."
        },
        "insert": {
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "response": {
            "$ref": "Operation"
          },
[...]
