{
  "batchPath": "batch",
  "description": "Cloud SQL Admin API",
  "version": "v1beta4",
  "kind": "discovery#restDescription",
  "fullyEncodeReservedExpansion": true,
  "name": "sqladmin",
  "discoveryVersion": "v1",
  "basePath": "",
  "title": "Cloud SQL Admin API",
  "baseUrl": "https://sqladmin.googleapis.com/",
  "endpoints": [
    {
      "endpointUrl": "https://sqladmin.us-east7.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "us-east7"
    },
    {
      "location": "northamerica-northeast1",
      "endpointUrl": "https://sqladmin.northamerica-northeast1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://sqladmin.northamerica-northeast2.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "northamerica-northeast2"
    },
    {
      "location": "europe-north1",
      "endpointUrl": "https://sqladmin.europe-north1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "us-west2",
      "endpointUrl": "https://sqladmin.us-west2.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "asia-east2",
      "endpointUrl": "https://sqladmin.asia-east2.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://sqladmin.europe-west3.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "europe-west3"
    },
    {
      "endpointUrl": "https://sqladmin.us-east1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "us-east1"
    },
    {
      "endpointUrl": "https://sqladmin.asia-east1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "asia-east1"
    },
    {
      "location": "asia-northeast2",
      "endpointUrl": "https://sqladmin.asia-northeast2.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "me-central1",
      "endpointUrl": "https://sqladmin.me-central1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "europe-central2",
      "endpointUrl": "https://sqladmin.europe-central2.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "northamerica-south1",
      "endpointUrl": "https://sqladmin.northamerica-south1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://sqladmin.us-west8.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "us-west8"
    },
    {
      "endpointUrl": "https://sqladmin.me-west1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "me-west1"
    },
    {
      "endpointUrl": "https://sqladmin.asia-northeast3.rep.googleapis.com/",
      "location": "asia-northeast3",
      "description": "Regional Endpoint"
    },
    {
      "location": "us-west1",
      "endpointUrl": "https://sqladmin.us-west1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://sqladmin.europe-west9.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "europe-west9"
    },
    {
      "endpointUrl": "https://sqladmin.asia-southeast3.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "asia-southeast3"
    },
    {
      "endpointUrl": "https://sqladmin.europe-west1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "europe-west1"
    },
    {
      "location": "asia-southeast1",
      "endpointUrl": "https://sqladmin.asia-southeast1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://sqladmin.us-west4.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "us-west4"
    },
    {
      "location": "europe-west12",
      "endpointUrl": "https://sqladmin.europe-west12.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "asia-south2",
      "endpointUrl": "https://sqladmin.asia-south2.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "australia-southeast1",
      "endpointUrl": "https://sqladmin.australia-southeast1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://sqladmin.europe-west6.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "europe-west6"
    },
    {
      "endpointUrl": "https://sqladmin.us-east4.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "us-east4"
    },
    {
      "location": "asia-southeast2",
      "endpointUrl": "https://sqladmin.asia-southeast2.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "europe-southwest1",
      "endpointUrl": "https://sqladmin.europe-southwest1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://sqladmin.europe-west8.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "europe-west8"
    },
    {
      "location": "africa-south1",
      "endpointUrl": "https://sqladmin.africa-south1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "me-central2",
      "endpointUrl": "https://sqladmin.me-central2.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "us-central1",
      "endpointUrl": "https://sqladmin.us-central1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://sqladmin.us-central2.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "us-central2"
    },
    {
      "location": "europe-north2",
      "endpointUrl": "https://sqladmin.europe-north2.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "asia-northeast1",
      "endpointUrl": "https://sqladmin.asia-northeast1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://sqladmin.europe-west2.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "europe-west2"
    },
    {
      "location": "southamerica-east1",
      "endpointUrl": "https://sqladmin.southamerica-east1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "us-east5",
      "endpointUrl": "https://sqladmin.us-east5.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "asia-south1",
      "endpointUrl": "https://sqladmin.asia-south1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://sqladmin.europe-west4.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "europe-west4"
    },
    {
      "location": "us-west3",
      "endpointUrl": "https://sqladmin.us-west3.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "australia-southeast2",
      "endpointUrl": "https://sqladmin.australia-southeast2.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://sqladmin.southamerica-west1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "southamerica-west1"
    },
    {
      "location": "europe-west10",
      "endpointUrl": "https://sqladmin.europe-west10.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "us-south1",
      "endpointUrl": "https://sqladmin.us-south1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    }
  ],
  "revision": "20260819",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        },
        "https://www.googleapis.com/auth/sqlservice.admin": {
          "description": "Manage your Google SQL Service instances"
        }
      }
    }
  },
  "schemas": {
    "UsersListResponse": {
      "id": "UsersListResponse",
      "description": "User list response.",
      "properties": {
        "items": {
          "description": "List of user resources in the instance.",
          "items": {
            "$ref": "User"
          },
          "type": "array"
        },
        "nextPageToken": {
          "deprecated": true,
          "type": "string",
          "description": "Unused."
        },
        "kind": {
          "type": "string",
          "description": "This is always *sql#usersList*."
        }
      },
      "type": "object"
    },
    "InstancesListEntraIdCertificatesResponse": {
      "description": "Instances ListEntraIdCertificates response.",
      "properties": {
        "kind": {
          "type": "string",
          "description": "This is always `sql#instancesListEntraIdCertificates`."
        },
        "activeVersion": {
          "description": "The `sha1_fingerprint` of the active certificate from `certs`.",
          "type": "string"
        },
        "certs": {
          "description": "List of Entra ID certificates for the instance.",
          "type": "array",
          "items": {
            "$ref": "SslCert"
          }
        }
      },
      "id": "InstancesListEntraIdCertificatesResponse",
      "type": "object"
    },
    "SqlInstancesExecuteSqlResponse": {
      "type": "object",
      "properties": {
        "results": {
          "description": "The list of results after executing all the SQL statements.",
          "type": "array",
          "items": {
            "$ref": "QueryResult"
          }
        },
        "status": {
          "$ref": "Status",
          "description": "Contains the error from the database if the SQL execution failed."
        },
        "messages": {
          "items": {
            "$ref": "Message"
          },
          "description": "A list of notices and warnings generated during query execution. For PostgreSQL, this includes all notices and warnings. For MySQL, this includes warnings generated by the last executed statement. To retrieve all warnings for a multi-statement query, `SHOW WARNINGS` must be executed after each statement.",
          "type": "array"
        },
        "metadata": {
          "description": "The additional metadata information regarding the execution of the SQL statements.",
          "$ref": "Metadata"
        }
      },
      "description": "Execute SQL statements response.",
      "id": "SqlInstancesExecuteSqlResponse"
    },
    "SwitchoverBlueGreenDeploymentRequest": {
      "description": "Request message for switching over a `BlueGreenDeployment` resource.",
      "properties": {},
      "id": "SwitchoverBlueGreenDeploymentRequest",
      "type": "object"
    },
    "InstancesListServerCertificatesResponse": {
      "properties": {
        "activeVersion": {
          "type": "string",
          "description": "The `sha1_fingerprint` of the active certificate from `server_certs`."
        },
        "serverCerts": {
          "items": {
            "$ref": "SslCert"
          },
          "type": "array",
          "description": "List of server certificates for the instance, signed by the corresponding CA from the `ca_certs` list."
        },
        "kind": {
          "description": "This is always `sql#instancesListServerCertificates`.",
          "type": "string"
        },
        "caCerts": {
          "type": "array",
          "description": "List of server CA certificates for the instance.",
          "items": {
            "$ref": "SslCert"
          }
        }
      },
      "type": "object",
      "id": "InstancesListServerCertificatesResponse",
      "description": "Instances ListServerCertificatess response."
    },
    "SqlActiveDirectoryConfig": {
      "id": "SqlActiveDirectoryConfig",
      "properties": {
        "dnsServers": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Optional. Domain controller IPv4 addresses used to bootstrap Active Directory."
        },
        "mode": {
          "enumDeprecated": [
            false,
            false,
            true,
            false
          ],
          "enumDescriptions": [
            "Unspecified mode.",
            "Managed Active Directory mode. This is the fallback option to maintain backward compatibility.",
            "Deprecated: Use CUSTOMER_MANAGED_ACTIVE_DIRECTORY instead.",
            "Customer-managed Active Directory mode."
          ],
          "type": "string",
          "enum": [
            "ACTIVE_DIRECTORY_MODE_UNSPECIFIED",
            "MANAGED_ACTIVE_DIRECTORY",
            "SELF_MANAGED_ACTIVE_DIRECTORY",
            "CUSTOMER_MANAGED_ACTIVE_DIRECTORY"
          ],
          "description": "Optional. The mode of the Active Directory configuration."
        },
        "organizationalUnit": {
          "description": "Optional. The organizational unit distinguished name. This is the full hierarchical path to the organizational unit.",
          "type": "string"
        },
        "kind": {
          "description": "This is always sql#activeDirectoryConfig.",
          "type": "string"
        },
        "domain": {
          "description": "The name of the domain (e.g., mydomain.com).",
          "type": "string"
        },
        "adminCredentialSecretName": {
          "type": "string",
          "description": "Optional. The secret manager key storing the administrator credential. (e.g., projects/{project}/secrets/{secret})."
        }
      },
      "type": "object",
      "description": "Active Directory configuration, relevant only for Cloud SQL for SQL Server."
    },
    "InstancesFailoverRequest": {
      "id": "InstancesFailoverRequest",
      "properties": {
        "failoverContext": {
          "description": "Failover Context.",
          "$ref": "FailoverContext"
        }
      },
      "description": "Instance failover request.",
      "type": "object"
    },
    "UserPasswordValidationPolicy": {
      "type": "object",
      "properties": {
        "enableFailedAttemptsCheck": {
          "description": "If true, failed login attempts check will be enabled.",
          "type": "boolean"
        },
        "allowedFailedAttempts": {
          "type": "integer",
          "format": "int32",
          "description": "Number of failed login attempts allowed before user get locked."
        },
        "status": {
          "$ref": "PasswordStatus",
          "description": "Output only. Read-only password status.",
          "readOnly": true
        },
        "passwordExpirationDuration": {
          "description": "Expiration duration after password is updated.",
          "type": "string",
          "format": "google-duration"
        },
        "enablePasswordVerification": {
          "description": "If true, the user must specify the current password before changing the password. This flag is supported only for MySQL.",
          "type": "boolean"
        }
      },
      "description": "User level password validation policy.",
      "id": "UserPasswordValidationPolicy"
    },
    "SqlExternalSyncSettingError": {
      "properties": {
        "kind": {
          "type": "string",
          "description": "Can be `sql#externalSyncSettingError` or `sql#externalSyncSettingWarning`."
        },
        "detail": {
          "type": "string",
          "description": "Additional information about the error encountered."
        },
        "type": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "The replication user is missing privileges that are required.",
            "Unsupported migration type.",
            "No pglogical extension installed on databases, applicable for postgres.",
            "pglogical node already exists on databases, applicable for postgres.",
            "The value of parameter wal_level is not set to logical.",
            "The value of parameter shared_preload_libraries does not include pglogical.",
            "The value of parameter max_replication_slots is not sufficient.",
            "The value of parameter max_wal_senders is not sufficient.",
            "The value of parameter max_worker_processes is not sufficient.",
            "Extensions installed are either not supported or having unsupported versions",
            "The value of parameter rds.logical_replication is not set to 1.",
            "The primary instance logging setup doesn't allow EM sync.",
            "The primary instance database parameter setup doesn't allow EM sync.",
            "The gtid_mode is not supported, applicable for MySQL.",
            "SQL Server Agent is not running.",
            "The table definition is not support due to missing primary key or replica identity, applicable for postgres. Note that this is a warning and won't block the migration.",
            "The customer has a definer that will break EM setup.",
            "SQL Server @@SERVERNAME does not match actual host name.",
            "The primary instance has been setup and will fail the setup.",
            "The primary instance has unsupported binary log format.",
            "The primary instance's binary log retention setting.",
            "The primary instance has tables with unsupported storage engine.",
            "Source has tables with limited support eg: PostgreSQL tables without primary keys.",
            "The replica instance contains existing data.",
            "The replication user is missing privileges that are optional.",
            "Additional BACKUP_ADMIN privilege is granted to the replication user which may lock source MySQL 8 instance for DDLs during initial sync.",
            "The Cloud Storage bucket is missing necessary permissions.",
            "The Cloud Storage bucket has an error in the file or contains invalid file information.",
            "The source instance has unsupported database settings for migration.",
            "The replication user is missing parallel import specific privileges. (e.g. LOCK TABLES) for MySQL.",
            "The global variable local_infile is off on external server replica.",
            "This code instructs customers to turn on point-in-time recovery manually for the instance after promoting the Cloud SQL for PostgreSQL instance.",
            "The minor version of replica database is incompatible with the source.",
            "This warning message indicates that Cloud SQL uses the maximum number of subscriptions to migrate data from the source to the destination.",
            "Unable to verify definers on the source for MySQL.",
            "If a time out occurs while the subscription counts are calculated, then this value is set to 1. Otherwise, this value is set to 2.",
            "Count of subscriptions needed to sync source data for PostgreSQL database.",
            "Final parallel level that is used to do migration.",
            "The disk size of the replica instance is smaller than the data size of the source instance.",
            "The data size of the source instance is greater than 1 TB, the number of cores of the replica instance is less than 8, and the memory of the replica is less than 32 GB.",
            "The warning message indicates the unsupported extensions will not be migrated to the destination.",
            "The warning message indicates the pg_cron extension and settings will not be migrated to the destination.",
            "The error message indicates that pg_cron flags are enabled on the destination which is not supported during the migration.",
            "This error message indicates that the specified extensions are not enabled on destination instance. For example, before you can migrate data to the destination instance, you must enable the PGAudit extension on the instance.",
            "The source database has generated columns that can't be migrated. Please change them to regular columns before migration.",
            "The source database has users that aren't created in the replica. First, create all users, which are in the pg_user_mappings table of the source database, in the destination instance. Then, perform the migration.",
            "The selected objects include system objects that aren't supported for migration.",
            "The source database has tables with the FULL or NOTHING replica identity. Before starting your migration, either remove the identity or change it to DEFAULT. Note that this is an error and will block the migration.",
            "The selected objects don't exist on the source instance.",
            "PSC only destination instance does not have a network attachment URI.",
            "Selected objects reference unselected objects. Based on their object type (foreign key constraint or view), selected objects will fail during migration.",
            "The migration will delete existing data in the replica; set replica_overwrite_enabled in the request to acknowledge this. This is an error. MySQL only.",
            "The migration will delete existing data in the replica; replica_overwrite_enabled was set in the request acknowledging this. This is a warning rather than an error. MySQL only.",
            "The replication user is missing specific privileges to setup DDL replication. (e.g. CREATE EVENT TRIGGER, CREATE SCHEMA) for PostgreSQL.",
            "Read replicas of the Writable Destination instance will be recreated after external synchronization is complete, causing downtime on read replicas.",
            "A warning that disk storage auto increase is disabled on the destination instance for a Writable Destination migration."
          ],
          "description": "Identifies the specific error that occurred.",
          "type": "string",
          "enum": [
            "SQL_EXTERNAL_SYNC_SETTING_ERROR_TYPE_UNSPECIFIED",
            "CONNECTION_FAILURE",
            "BINLOG_NOT_ENABLED",
            "INCOMPATIBLE_DATABASE_VERSION",
            "REPLICA_ALREADY_SETUP",
            "INSUFFICIENT_PRIVILEGE",
            "UNSUPPORTED_MIGRATION_TYPE",
            "NO_PGLOGICAL_INSTALLED",
            "PGLOGICAL_NODE_ALREADY_EXISTS",
            "INVALID_WAL_LEVEL",
            "INVALID_SHARED_PRELOAD_LIBRARY",
            "INSUFFICIENT_MAX_REPLICATION_SLOTS",
            "INSUFFICIENT_MAX_WAL_SENDERS",
            "INSUFFICIENT_MAX_WORKER_PROCESSES",
            "UNSUPPORTED_EXTENSIONS",
            "INVALID_RDS_LOGICAL_REPLICATION",
            "INVALID_LOGGING_SETUP",
            "INVALID_DB_PARAM",
            "UNSUPPORTED_GTID_MODE",
            "SQLSERVER_AGENT_NOT_RUNNING",
            "UNSUPPORTED_TABLE_DEFINITION",
            "UNSUPPORTED_DEFINER",
            "SQLSERVER_SERVERNAME_MISMATCH",
            "PRIMARY_ALREADY_SETUP",
            "UNSUPPORTED_BINLOG_FORMAT",
            "BINLOG_RETENTION_SETTING",
            "UNSUPPORTED_STORAGE_ENGINE",
            "LIMITED_SUPPORT_TABLES",
            "EXISTING_DATA_IN_REPLICA",
            "MISSING_OPTIONAL_PRIVILEGES",
            "RISKY_BACKUP_ADMIN_PRIVILEGE",
            "INSUFFICIENT_GCS_PERMISSIONS",
            "INVALID_FILE_INFO",
            "UNSUPPORTED_DATABASE_SETTINGS",
            "MYSQL_PARALLEL_IMPORT_INSUFFICIENT_PRIVILEGE",
            "LOCAL_INFILE_OFF",
            "TURN_ON_PITR_AFTER_PROMOTE",
            "INCOMPATIBLE_DATABASE_MINOR_VERSION",
            "SOURCE_MAX_SUBSCRIPTIONS",
            "UNABLE_TO_VERIFY_DEFINERS",
            "SUBSCRIPTION_CALCULATION_STATUS",
            "PG_SUBSCRIPTION_COUNT",
            "PG_SYNC_PARALLEL_LEVEL",
            "INSUFFICIENT_DISK_SIZE",
            "INSUFFICIENT_MACHINE_TIER",
            "UNSUPPORTED_EXTENSIONS_NOT_MIGRATED",
            "EXTENSIONS_NOT_MIGRATED",
            "PG_CRON_FLAG_ENABLED_IN_REPLICA",
            "EXTENSIONS_NOT_ENABLED_IN_REPLICA",
            "UNSUPPORTED_COLUMNS",
            "USERS_NOT_CREATED_IN_REPLICA",
            "UNSUPPORTED_SYSTEM_OBJECTS",
            "UNSUPPORTED_TABLES_WITH_REPLICA_IDENTITY",
            "SELECTED_OBJECTS_NOT_EXIST_ON_SOURCE",
            "PSC_ONLY_INSTANCE_WITH_NO_NETWORK_ATTACHMENT_URI",
            "SELECTED_OBJECTS_REFERENCE_UNSELECTED_OBJECTS",
            "PROMPT_DELETE_EXISTING",
            "WILL_DELETE_EXISTING",
            "PG_DDL_REPLICATION_INSUFFICIENT_PRIVILEGE",
            "WRITABLE_DESTINATION_REPLICA_RECREATION_DOWNTIME",
            "WRITABLE_DESTINATION_STORAGE_AUTO_INCREASE_DISABLED"
          ]
        }
      },
      "type": "object",
      "description": "External primary instance migration setting error/warning.",
      "id": "SqlExternalSyncSettingError"
    },
    "InstancesReencryptRequest": {
      "properties": {
        "backupReencryptionConfig": {
          "$ref": "BackupReencryptionConfig",
          "description": "Configuration specific to backup re-encryption"
        }
      },
      "type": "object",
      "description": "Database Instance reencrypt request.",
      "id": "InstancesReencryptRequest"
    },
    "PscConfig": {
      "description": "PSC settings for a Cloud SQL instance.",
      "id": "PscConfig",
      "properties": {
        "networkAttachmentUri": {
          "type": "string",
          "description": "Optional. The network attachment of the consumer network that the Private Service Connect enabled Cloud SQL instance is authorized to connect using the PSC interface. format: projects/PROJECT/regions/REGION/networkAttachments/ID"
        },
        "pscWriteEndpointDnsEnabled": {
          "description": "Optional. Indicates whether Private Service Connect write endpoint DNS automation is enabled for this instance. When enabled, Cloud SQL provisions a universal global DNS record across all networks configured with Private Service Connect auto-connections that points to the cluster primary instance. This feature is only supported for Enterprise Plus edition. This will default to true for new enterprise plus instances when `psc_auto_dns_enabled` is enabled.",
          "type": "boolean"
        },
        "pscEnabled": {
          "description": "Whether PSC connectivity is enabled for this instance.",
          "type": "boolean"
        },
        "pscAutoDnsEnabled": {
          "type": "boolean",
          "description": "Optional. Indicates whether Private Service Connect DNS automation is enabled for this instance. When enabled, Cloud SQL provisions a universal DNS record across all networks configured with Private Service Connect auto-connections. This will default to true for new instances when Private Service Connect is enabled."
        },
        "allowedConsumerProjects": {
          "description": "Optional. The list of consumer projects that are allow-listed for PSC connections to this instance. This instance can be connected to with PSC from any network in these projects. Each consumer project in this list may be represented by a project number (numeric) or by a project id (alphanumeric).",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "pscAutoConnections": {
          "items": {
            "$ref": "PscAutoConnectionConfig"
          },
          "description": "Optional. The list of settings for requested Private Service Connect consumer endpoints that can be used to connect to this Cloud SQL instance.",
          "type": "array"
        },
        "pscAutoConnectionPolicyEnabled": {
          "type": "boolean",
          "description": "Optional. Whether to set up the PSC service connection policy automatically."
        }
      },
      "type": "object"
    },
    "MaintenanceWindow": {
      "type": "object",
      "properties": {
        "updateTrack": {
          "enumDescriptions": [
            "This is an unknown maintenance timing preference.",
            "For an instance with a scheduled maintenance window, this maintenance timing indicates that the maintenance update is scheduled 7 to 14 days after the notification is sent out. Also referred to as `Week 1` (Console) and `preview` (gcloud CLI).",
            "For an instance with a scheduled maintenance window, this maintenance timing indicates that the maintenance update is scheduled 15 to 21 days after the notification is sent out. Also referred to as `Week 2` (Console) and `production` (gcloud CLI).",
            "For instance with a scheduled maintenance window, this maintenance timing indicates that the maintenance update is scheduled 35 to 42 days after the notification is sent out."
          ],
          "type": "string",
          "enum": [
            "SQL_UPDATE_TRACK_UNSPECIFIED",
            "canary",
            "stable",
            "week5"
          ],
          "description": "Maintenance timing settings: `canary`, `stable`, or `week5`. For more information, see [About maintenance on Cloud SQL instances](https://cloud.google.com/sql/docs/mysql/maintenance)."
        },
        "day": {
          "type": "integer",
          "format": "int32",
          "description": "Day of week - `MONDAY`, `TUESDAY`, `WEDNESDAY`, `THURSDAY`, `FRIDAY`, `SATURDAY`, or `SUNDAY`. Specify in the UTC time zone. Returned in output as an integer, 1 to 7, where `1` equals Monday."
        },
        "hour": {
          "description": "Hour of day - 0 to 23. Specify in the UTC time zone.",
          "format": "int32",
          "type": "integer"
        },
        "kind": {
          "description": "This is always `sql#maintenanceWindow`.",
          "type": "string"
        }
      },
      "description": "Maintenance window. This specifies when a Cloud SQL instance is restarted for system maintenance purposes.",
      "id": "MaintenanceWindow"
    },
    "BlueGreenDeployment": {
      "properties": {
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "PROVISIONING",
            "SWITCHOVER_READY",
            "SWITCHOVER_NOT_READY",
            "SWITCHOVER_IN_PROGRESS",
            "SWITCHOVER_COMPLETED",
            "DELETING"
          ],
          "enumDescriptions": [
            "The state of the deployment is unknown.",
            "The deployment is being provisioned.",
            "The deployment is ready for switchover.",
            "The deployment is not ready for switchover.",
            "The deployment is in the process of switching over.",
            "The deployment has completed switchover.",
            "The deployment is being deleted."
          ],
          "description": "Output only. The current state of the blue-green deployment.",
          "type": "string",
          "readOnly": true
        },
        "createTime": {
          "readOnly": true,
          "description": "Output only. The time when the deployment was created.",
          "format": "google-datetime",
          "type": "string"
        },
        "sourceInstance": {
          "description": "Required. Immutable. The instance ID of the source instance (the \"blue\" instance). The value for this field does not include the project ID, for example, `my-instance-id`. This field is immutable.",
          "type": "string"
        },
        "errorDetail": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Provides an error message with details on why switchover is not possible."
        },
        "deploymentTasks": {
          "readOnly": true,
          "description": "Output only. Combined list of tasks for all paired nodes.",
          "$ref": "DeploymentTasks"
        },
        "deploymentMappings": {
          "items": {
            "$ref": "SourceTargetPairedNode"
          },
          "type": "array",
          "readOnly": true,
          "description": "Output only. A list representing the pairs of source and target instances in the deployment."
        },
        "switchoverTargetInstance": {
          "readOnly": true,
          "description": "Output only. Details about the primary target instance (the \"Green\" instance) that will be promoted during switchover.",
          "type": "string"
        },
        "requestedConfig": {
          "description": "Optional. Immutable. Optional on create, and immutable. The configuration intended for the target instance(s) when the deployment was created.",
          "$ref": "RequestedConfig"
        },
        "description": {
          "description": "Optional. User-provided description for the deployment.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Output only. Identifier. The full resource name of the deployment. Format: projects/{project}/locations/{location}/blueGreenDeployments/{deployment_id}",
          "readOnly": true
        },
        "pairedNodes": {
          "items": {
            "$ref": "SourceTargetPairedNode"
          },
          "description": "Output only. Deprecated: Use deployment_mappings instead. Output only. A list representing the pairs of source and target instances in the deployment.",
          "type": "array",
          "readOnly": true,
          "deprecated": true
        },
        "targetConfig": {
          "$ref": "TargetConfig",
          "deprecated": true,
          "description": "Optional. Immutable. Deprecated: Use requested_config instead. The configuration intended for the target instance(s) when the deployment was created. This field is immutable."
        }
      },
      "type": "object",
      "id": "BlueGreenDeployment",
      "description": "A `BlueGreenDeployment` resource represents a Cloud SQL blue-green deployment setup. It orchestrates the lifecycle of creating a synchronized \"green\" environment from a \"blue\" production environment, performing updates, and managing the switchover process to minimize downtime."
    },
    "InsightsConfig": {
      "properties": {
        "recordClientAddress": {
          "description": "Whether Query Insights will record client address when enabled.",
          "type": "boolean"
        },
        "queryInsightsEnabled": {
          "type": "boolean",
          "description": "Whether Query Insights feature is enabled."
        },
        "recordApplicationTags": {
          "type": "boolean",
          "description": "Whether Query Insights will record application tags from query when enabled."
        },
        "queryPlansPerMinute": {
          "format": "int32",
          "type": "integer",
          "description": "Number of query execution plans captured by Insights per minute for all queries combined. Default is 5."
        },
        "enhancedQueryInsightsEnabled": {
          "type": "boolean",
          "description": "Optional. Whether enhanced query insights feature is enabled."
        },
        "queryStringLength": {
          "type": "integer",
          "format": "int32",
          "description": "Maximum query length stored in bytes. Default value: 1024 bytes. Range: 256-4500 bytes. Query lengths greater than this field value will be truncated to this value. When unset, query length will be the default value. Changing query length will restart the database."
        }
      },
      "description": "Insights configuration. This specifies when Cloud SQL Insights feature is enabled and optional configuration.",
      "type": "object",
      "id": "InsightsConfig"
    },
    "PscAutoConnectionConfig": {
      "description": "Settings for an automatically-setup Private Service Connect consumer endpoint that is used to connect to a Cloud SQL instance.",
      "type": "object",
      "properties": {
        "consumerProject": {
          "description": "Optional. This is the project ID of consumer service project of this consumer endpoint. Optional. This is only applicable if consumer_network is a shared vpc network.",
          "type": "string"
        },
        "status": {
          "description": "The connection status of the consumer endpoint.",
          "type": "string"
        },
        "instanceAutoDnsStatus": {
          "description": "Output only. The status of automated DNS provisioning.",
          "enum": [
            "AUTO_DNS_STATUS_UNSPECIFIED",
            "AUTO_DNS_OK",
            "AUTO_DNS_FAILED",
            "AUTO_DNS_UNKNOWN"
          ],
          "enumDescriptions": [
            "Unspecified status. This means status is missing from dependency service.",
            "DNS provisioning is OK.",
            "DNS provisioning failed.",
            "DNS provisioning status is not recognized by Cloud SQL."
          ],
          "type": "string",
          "readOnly": true
        },
        "serviceConnectionPolicy": {
          "type": "string",
          "description": "Output only. The service connection policy created automatically for the consumer network when `psc_auto_connection_policy_enabled` is true. It is in the format of: `projects/{project}/regions/{region}/serviceConnectionPolicies/{policy_id}` The `policy_id` is in format of `$NETWORK-$RANDOM`.",
          "readOnly": true
        },
        "serviceConnectionPolicyCreationResult": {
          "type": "string",
          "description": "Output only. The status of service connection policy creation.",
          "readOnly": true
        },
        "consumerNetwork": {
          "type": "string",
          "description": "Optional. The consumer network of this consumer endpoint. This must be a resource path that includes both the host project and the network name. For example, `projects/project1/global/networks/network1`. The consumer host project of this network might be different from the consumer service project."
        },
        "ipAddress": {
          "type": "string",
          "description": "The IP address of the consumer endpoint."
        },
        "writeEndpointAutoDnsStatus": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified status. This means status is missing from dependency service.",
            "DNS provisioning is OK.",
            "DNS provisioning failed.",
            "DNS provisioning status is not recognized by Cloud SQL."
          ],
          "readOnly": true,
          "enum": [
            "AUTO_DNS_STATUS_UNSPECIFIED",
            "AUTO_DNS_OK",
            "AUTO_DNS_FAILED",
            "AUTO_DNS_UNKNOWN"
          ],
          "description": "Output only. The status of automated DNS provisioning for the write endpoint."
        },
        "consumerNetworkStatus": {
          "type": "string",
          "description": "The connection policy status of the consumer network."
        }
      },
      "id": "PscAutoConnectionConfig"
    },
    "Database": {
      "description": "Represents a SQL database on the Cloud SQL instance.",
      "id": "Database",
      "properties": {
        "charset": {
          "type": "string",
          "description": "The Cloud SQL charset value."
        },
        "kind": {
          "description": "This is always `sql#database`.",
          "type": "string"
        },
        "project": {
          "description": "The project ID of the project containing the Cloud SQL database. The Google apps domain is prefixed if applicable.",
          "type": "string"
        },
        "collation": {
          "type": "string",
          "description": "The Cloud SQL collation value."
        },
        "instance": {
          "type": "string",
          "description": "The name of the Cloud SQL instance. This does not include the project ID."
        },
        "etag": {
          "type": "string",
          "description": "This field is deprecated and will be removed from a future version of the API."
        },
        "sqlserverDatabaseDetails": {
          "$ref": "SqlServerDatabaseDetails"
        },
        "name": {
          "description": "The name of the database in the Cloud SQL instance. This does not include the project ID or instance name.",
          "type": "string"
        },
        "selfLink": {
          "description": "The URI of this resource.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "PointInTimeRestoreContext": {
      "type": "object",
      "properties": {
        "preferredZone": {
          "type": "string",
          "description": "Optional. Point-in-time recovery of an instance to the specified zone. If no zone is specified, then clone to the same primary zone as the source instance."
        },
        "targetInstanceClearSettingsFieldNames": {
          "description": "Optional. Specifies the instance settings that will be cleared from the source instance. This field is only applicable for cross project PITRs.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "pointInTime": {
          "type": "string",
          "description": "Required. The date and time to which you want to restore the instance.",
          "format": "google-datetime"
        },
        "privateNetwork": {
          "description": "Optional. The resource link for the VPC network from which the Cloud SQL instance is accessible for private IP. For example, `/projects/myProject/global/networks/default`.",
          "type": "string"
        },
        "region": {
          "description": "Optional. The region of the target instance where the datasource will be restored. For example: \"us-central1\".",
          "type": "string"
        },
        "targetInstanceSettings": {
          "description": "Optional. Specifies the instance settings that will be overridden from the source instance. This field is only applicable for cross project PITRs.",
          "$ref": "DatabaseInstance"
        },
        "allocatedIpRange": {
          "description": "Optional. The name of the allocated IP range for the internal IP Cloud SQL instance. For example: \"google-managed-services-default\". If you set this, then Cloud SQL creates the IP address for the cloned instance in the allocated range. This range must comply with [RFC 1035](https://tools.ietf.org/html/rfc1035) standards. Specifically, the name must be 1-63 characters long and match the regular expression [a-z]([-a-z0-9]*[a-z0-9])?. Reserved for future use.",
          "type": "string"
        },
        "preferredSecondaryZone": {
          "description": "Optional. Point-in-time recovery of a regional instance in the specified zones. If not specified, clone to the same secondary zone as the source instance. This value cannot be the same as the preferred_zone field.",
          "type": "string"
        },
        "targetInstance": {
          "type": "string",
          "description": "Target instance name."
        },
        "datasource": {
          "type": "string",
          "description": "The Backup and Disaster Recovery (DR) Service Datasource URI. Format: projects/{project}/locations/{region}/backupVaults/{backupvault}/dataSources/{datasource}."
        }
      },
      "id": "PointInTimeRestoreContext",
      "description": "Context to perform a point-in-time restore of an instance managed by Backup and Disaster Recovery (DR) Service."
    },
    "PasswordStatus": {
      "id": "PasswordStatus",
      "properties": {
        "locked": {
          "type": "boolean",
          "description": "If true, user does not have login privileges."
        },
        "passwordExpirationTime": {
          "description": "The expiration time of the current password.",
          "type": "string",
          "format": "google-datetime"
        }
      },
      "description": "Read-only password status.",
      "type": "object"
    },
    "SqlScheduledMaintenance": {
      "description": "Any scheduled maintenance for this instance.",
      "properties": {
        "scheduleDeadlineTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Maintenance cannot be rescheduled to start beyond this deadline."
        },
        "startTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "The start time of any upcoming scheduled maintenance for this instance."
        },
        "canDefer": {
          "type": "boolean",
          "deprecated": true
        },
        "canReschedule": {
          "type": "boolean",
          "description": "If the scheduled maintenance can be rescheduled."
        }
      },
      "id": "SqlScheduledMaintenance",
      "type": "object"
    },
    "ExternalSyncSelectedObject": {
      "type": "object",
      "description": "The selected object that Cloud SQL migrates.",
      "id": "ExternalSyncSelectedObject",
      "properties": {
        "database": {
          "type": "string",
          "description": "The name of the database that Cloud SQL migrates."
        }
      }
    },
    "AcquireSsrsLeaseContext": {
      "type": "object",
      "id": "AcquireSsrsLeaseContext",
      "properties": {
        "duration": {
          "type": "string",
          "format": "google-duration",
          "description": "Lease duration needed for the SSRS setup."
        },
        "serviceLogin": {
          "description": "The username to be used as the service login to connect to the report database for SSRS setup.",
          "type": "string"
        },
        "reportDatabase": {
          "type": "string",
          "description": "The report database to be used for the SSRS setup."
        },
        "setupLogin": {
          "type": "string",
          "description": "The username to be used as the setup login to connect to the database server for SSRS setup."
        }
      },
      "description": "Acquire SSRS lease context."
    },
    "AvailableDatabaseVersion": {
      "id": "AvailableDatabaseVersion",
      "type": "object",
      "properties": {
        "name": {
          "description": "The database version name. For MySQL 8.0, this string provides the database major and minor version.",
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "description": "The database version's display name."
        },
        "majorVersion": {
          "type": "string",
          "description": "The version's major version name."
        }
      },
      "description": "An available database version. It can be a major or a minor version."
    },
    "AclEntry": {
      "properties": {
        "name": {
          "description": "Optional. A label to identify this entry.",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "description": "This is always `sql#aclEntry`."
        },
        "expirationTime": {
          "format": "google-datetime",
          "description": "The time when this access control entry expires in [RFC 3339](https://tools.ietf.org/html/rfc3339) format, for example `2012-11-15T16:19:00.094Z`.",
          "type": "string"
        },
        "value": {
          "description": "The allowlisted value for the access control list.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "AclEntry",
      "description": "An entry for an Access Control list."
    },
    "PreCheckMajorVersionUpgradeContext": {
      "properties": {
        "kind": {
          "type": "string",
          "description": "Optional. This is always `sql#preCheckMajorVersionUpgradeContext`."
        },
        "targetDatabaseVersion": {
          "enumDeprecated": [
            false,
            true,
            true,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            true,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false
          ],
          "description": "Required. The target database version to upgrade to.",
          "type": "string",
          "enum": [
            "SQL_DATABASE_VERSION_UNSPECIFIED",
            "MYSQL_5_1",
            "MYSQL_5_5",
            "MYSQL_5_6",
            "MYSQL_5_7",
            "MYSQL_8_0",
            "MYSQL_8_0_18",
            "MYSQL_8_0_26",
            "MYSQL_8_0_27",
            "MYSQL_8_0_28",
            "MYSQL_8_0_29",
            "MYSQL_8_0_30",
            "MYSQL_8_0_31",
            "MYSQL_8_0_32",
            "MYSQL_8_0_33",
            "MYSQL_8_0_34",
            "MYSQL_8_0_35",
            "MYSQL_8_0_36",
            "MYSQL_8_0_37",
            "MYSQL_8_0_39",
            "MYSQL_8_0_40",
            "MYSQL_8_0_41",
            "MYSQL_8_0_42",
            "MYSQL_8_0_43",
            "MYSQL_8_0_44",
            "MYSQL_8_0_45",
            "MYSQL_8_0_46",
            "MYSQL_8_4",
            "MYSQL_9_7",
            "SQLSERVER_2017_STANDARD",
            "SQLSERVER_2017_ENTERPRISE",
            "SQLSERVER_2017_EXPRESS",
            "SQLSERVER_2017_WEB",
            "POSTGRES_9_6",
            "POSTGRES_10",
            "POSTGRES_11",
            "POSTGRES_12",
            "POSTGRES_13",
            "POSTGRES_14",
            "POSTGRES_15",
            "POSTGRES_16",
            "POSTGRES_17",
            "POSTGRES_18",
            "POSTGRES_19",
            "POSTGRES_20",
            "SQLSERVER_2019_STANDARD",
            "SQLSERVER_2019_ENTERPRISE",
            "SQLSERVER_2019_EXPRESS",
            "SQLSERVER_2019_WEB",
            "SQLSERVER_2022_STANDARD",
            "SQLSERVER_2022_ENTERPRISE",
            "SQLSERVER_2022_EXPRESS",
            "SQLSERVER_2022_WEB",
            "SQLSERVER_2025_STANDARD",
            "SQLSERVER_2025_ENTERPRISE",
            "SQLSERVER_2025_EXPRESS"
          ],
          "enumDescriptions": [
            "This is an unknown database version.",
            "The database version is MySQL 5.1.",
            "The database version is MySQL 5.5.",
            "The database version is MySQL 5.6.",
            "The database version is MySQL 5.7.",
            "The database version is MySQL 8.",
            "The database major version is MySQL 8.0 and the minor version is 18.",
            "The database major version is MySQL 8.0 and the minor version is 26.",
            "The database major version is MySQL 8.0 and the minor version is 27.",
            "The database major version is MySQL 8.0 and the minor version is 28.",
            "The database major version is MySQL 8.0 and the minor version is 29.",
            "The database major version is MySQL 8.0 and the minor version is 30.",
            "The database major version is MySQL 8.0 and the minor version is 31.",
            "The database major version is MySQL 8.0 and the minor version is 32.",
            "The database major version is MySQL 8.0 and the minor version is 33.",
            "The database major version is MySQL 8.0 and the minor version is 34.",
            "The database major version is MySQL 8.0 and the minor version is 35.",
            "The database major version is MySQL 8.0 and the minor version is 36.",
            "The database major version is MySQL 8.0 and the minor version is 37.",
            "The database major version is MySQL 8.0 and the minor version is 39.",
            "The database major version is MySQL 8.0 and the minor version is 40.",
            "The database major version is MySQL 8.0 and the minor version is 41.",
            "The database major version is MySQL 8.0 and the minor version is 42.",
            "The database major version is MySQL 8.0 and the minor version is 43.",
            "The database major version is MySQL 8.0 and the minor version is 44.",
            "The database major version is MySQL 8.0 and the minor version is 45.",
            "The database major version is MySQL 8.0 and the minor version is 46.",
            "The database version is MySQL 8.4.",
            "The database version is MySQL 9.7.",
            "The database version is SQL Server 2017 Standard.",
            "The database version is SQL Server 2017 Enterprise.",
            "The database version is SQL Server 2017 Express.",
            "The database version is SQL Server 2017 Web.",
            "The database version is PostgreSQL 9.6.",
            "The database version is PostgreSQL 10.",
            "The database version is PostgreSQL 11.",
            "The database version is PostgreSQL 12.",
            "The database version is PostgreSQL 13.",
            "The database version is PostgreSQL 14.",
            "The database version is PostgreSQL 15.",
            "The database version is PostgreSQL 16.",
            "The database version is PostgreSQL 17.",
            "The database version is PostgreSQL 18.",
            "The database version is PostgreSQL 19.",
            "The database version is PostgreSQL 20.",
            "The database version is SQL Server 2019 Standard.",
            "The database version is SQL Server 2019 Enterprise.",
            "The database version is SQL Server 2019 Express.",
            "The database version is SQL Server 2019 Web.",
            "The database version is SQL Server 2022 Standard.",
            "The database version is SQL Server 2022 Enterprise.",
            "The database version is SQL Server 2022 Express.",
            "The database version is SQL Server 2022 Web.",
            "The database version is SQL Server 2025 Standard.",
            "The database version is SQL Server 2025 Enterprise.",
            "The database version is SQL Server 2025 Express."
          ]
        },
        "preCheckResponse": {
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "PreCheckResponse"
          },
          "description": "Output only. The responses from the precheck operation."
        }
      },
      "type": "object",
      "id": "PreCheckMajorVersionUpgradeContext",
      "description": "Pre-check major version upgrade context."
    },
    "SqlServerAuditConfig": {
      "id": "SqlServerAuditConfig",
      "properties": {
        "retentionInterval": {
          "type": "string",
          "format": "google-duration",
          "description": "How long to keep generated audit files."
        },
        "bucket": {
          "description": "The name of the destination bucket (e.g., gs://mybucket).",
          "type": "string"
        },
        "uploadInterval": {
          "type": "string",
          "format": "google-duration",
          "description": "How often to upload generated audit files."
        },
        "kind": {
          "type": "string",
          "description": "This is always sql#sqlServerAuditConfig"
        }
      },
      "type": "object",
      "description": "SQL Server specific audit configuration."
    },
    "Message": {
      "description": "Represents a notice or warning message from the database.",
      "id": "Message",
      "properties": {
        "message": {
          "type": "string",
          "description": "The full message string. For PostgreSQL, this is a formatted string that may include severity, code, and the notice/warning message. For MySQL, this contains the warning message."
        },
        "severity": {
          "type": "string",
          "description": "The severity of the message (e.g., \"NOTICE\" for PostgreSQL, \"WARNING\" for MySQL)."
        }
      },
      "type": "object"
    },
    "ConnectionPoolFlags": {
      "description": "Connection pool flags for Cloud SQL instances managed connection pool configuration.",
      "id": "ConnectionPoolFlags",
      "type": "object",
      "properties": {
        "name": {
          "description": "Required. The name of the flag.",
          "type": "string"
        },
        "value": {
          "description": "Required. The value of the flag. Boolean flags are set to `on` for true and `off` for false. This field must be omitted if the flag doesn't take a value.",
          "type": "string"
        }
      }
    },
    "DnsNameMapping": {
      "type": "object",
      "properties": {
        "connectionType": {
          "readOnly": true,
          "enum": [
            "CONNECTION_TYPE_UNSPECIFIED",
            "PUBLIC",
            "PRIVATE_SERVICES_ACCESS",
            "PRIVATE_SERVICE_CONNECT"
          ],
          "enumDescriptions": [
            "Unknown connection type.",
            "Public IP.",
            "Private services access (private IP).",
            "Private Service Connect."
          ],
          "description": "Output only. The connection type of the DNS name.",
          "type": "string"
        },
        "recordManager": {
          "description": "Output only. The manager for this DNS record.",
          "enumDescriptions": [
            "Record manager not set. This value should not be used.",
            "The record may be managed by the customer. It is not automatically managed by Cloud SQL automation.",
            "The record is managed by Cloud SQL, which will create, update, and delete the DNS records for the zone automatically when the Cloud SQL database instance is created or updated."
          ],
          "enum": [
            "RECORD_MANAGER_UNSPECIFIED",
            "CUSTOMER",
            "CLOUD_SQL_AUTOMATION"
          ],
          "readOnly": true,
          "type": "string"
        },
        "name": {
          "description": "Output only. The DNS name.",
          "readOnly": true,
          "type": "string"
        },
        "dnsScope": {
          "description": "Output only. The scope that the DNS name applies to.",
          "type": "string",
          "readOnly": true,
          "enum": [
            "DNS_SCOPE_UNSPECIFIED",
            "INSTANCE",
            "CLUSTER"
          ],
          "enumDescriptions": [
            "DNS scope not set. This value should not be used.",
            "Indicates an instance-level DNS name.",
            "Indicates a cluster-level DNS name."
          ]
        }
      },
      "description": "DNS metadata.",
      "id": "DnsNameMapping"
    },
    "SqlServerUserDetails": {
      "properties": {
        "serverRoles": {
          "description": "Indicates the server roles for this user.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "disabled": {
          "description": "Indicates if the user has been disabled.",
          "type": "boolean"
        }
      },
      "id": "SqlServerUserDetails",
      "type": "object",
      "description": "Represents a Sql Server user on the Cloud SQL instance."
    },
    "RotateServerCertificateContext": {
      "properties": {
        "kind": {
          "type": "string",
          "description": "Optional. This is always `sql#rotateServerCertificateContext`."
        },
        "nextVersion": {
          "type": "string",
          "description": "Optional. The fingerprint of the next version to be rotated to. If left unspecified, will be rotated to the most recently added server certificate version."
        }
      },
      "description": "Instance rotate server certificate context.",
      "id": "RotateServerCertificateContext",
      "type": "object"
    },
    "SqlInstancesRescheduleMaintenanceRequestBody": {
      "properties": {
        "reschedule": {
          "description": "Required. The type of the reschedule the user wants.",
          "$ref": "Reschedule"
        }
      },
      "description": "Reschedule options for maintenance windows.",
      "type": "object",
      "id": "SqlInstancesRescheduleMaintenanceRequestBody"
    },
    "SslCertsInsertResponse": {
      "id": "SslCertsInsertResponse",
      "description": "SslCert insert response.",
      "type": "object",
      "properties": {
        "serverCaCert": {
          "description": "The server Certificate Authority's certificate. If this is missing you can force a new one to be generated by calling resetSslConfig method on instances resource.",
          "$ref": "SslCert"
        },
        "clientCert": {
          "$ref": "SslCertDetail",
          "description": "The new client certificate and private key."
        },
        "kind": {
          "type": "string",
          "description": "This is always `sql#sslCertsInsert`."
        },
        "operation": {
          "$ref": "Operation",
          "description": "The operation to track the ssl certs insert request."
        }
      }
    },
    "InstancesRotateServerCertificateRequest": {
      "id": "InstancesRotateServerCertificateRequest",
      "description": "Rotate Server Certificate request.",
      "type": "object",
      "properties": {
        "rotateServerCertificateContext": {
          "description": "Optional. Contains details about the rotate server CA operation.",
          "$ref": "RotateServerCertificateContext"
        }
      }
    },
    "SslCertDetail": {
      "id": "SslCertDetail",
      "properties": {
        "certPrivateKey": {
          "type": "string",
          "description": "The private key for the client cert, in pem format. Keep private in order to protect your security."
        },
        "certInfo": {
          "$ref": "SslCert",
          "description": "The public information about the cert."
        }
      },
      "type": "object",
      "description": "SslCertDetail."
    },
    "SelectedObjects": {
      "type": "object",
      "properties": {
        "database": {
          "type": "string",
          "description": "Required. The name of the database to migrate."
        }
      },
      "id": "SelectedObjects",
      "description": "A list of objects that the user selects for replication from an external source instance."
    },
    "NodeInfo": {
      "properties": {
        "connection": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The instance connection name."
        },
        "dns": {
          "description": "Output only. The unique DNS name for this instance.",
          "readOnly": true,
          "type": "string"
        },
        "ipMappings": {
          "items": {
            "$ref": "IpMapping"
          },
          "description": "Output only. The list of IP addresses for this instance.",
          "readOnly": true,
          "type": "array"
        },
        "instance": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The full resource name of the instance. Format: projects/{project}/instances/{instance}"
        }
      },
      "id": "NodeInfo",
      "type": "object",
      "description": "Details about an instance within the deployment."
    },
    "User": {
      "type": "object",
      "properties": {
        "type": {
          "enumDescriptions": [
            "The database's built-in user type.",
            "Cloud IAM user.",
            "Cloud IAM service account.",
            "Cloud IAM group. Not used for login.",
            "Read-only. Login for a user that belongs to the Cloud IAM group.",
            "Read-only. Login for a service account that belongs to the Cloud IAM group.",
            "Cloud IAM workforce identity user managed via workforce identity federation.",
            "Microsoft Entra ID user."
          ],
          "description": "The user type. It determines the method to authenticate the user during login. The default is the database's built-in user type.",
          "type": "string",
          "enum": [
            "BUILT_IN",
            "CLOUD_IAM_USER",
            "CLOUD_IAM_SERVICE_ACCOUNT",
            "CLOUD_IAM_GROUP",
            "CLOUD_IAM_GROUP_USER",
            "CLOUD_IAM_GROUP_SERVICE_ACCOUNT",
            "CLOUD_IAM_WORKFORCE_IDENTITY",
            "ENTRAID_USER"
          ]
        },
        "kind": {
          "description": "This is always `sql#user`.",
          "type": "string"
        },
        "dualPasswordType": {
          "enumDescriptions": [
            "The default value.",
            "Do not update the user's dual password status.",
            "No dual password usable for connecting using this user.",
            "Dual password usable for connecting using this user."
          ],
          "type": "string",
          "enum": [
            "DUAL_PASSWORD_TYPE_UNSPECIFIED",
            "NO_MODIFY_DUAL_PASSWORD",
            "NO_DUAL_PASSWORD",
            "DUAL_PASSWORD"
          ],
          "description": "Dual password status for the user."
        },
        "password": {
          "description": "The password for the user.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "The name of the user in the Cloud SQL instance. Can be omitted for `update` because it is already specified in the URL."
        },
        "sqlserverUserDetails": {
          "$ref": "SqlServerUserDetails"
        },
        "iamStatus": {
          "description": "Indicates if a group is active or inactive for IAM database authentication.",
          "type": "string",
          "enum": [
            "IAM_STATUS_UNSPECIFIED",
            "INACTIVE",
            "ACTIVE"
          ],
          "enumDescriptions": [
            "The default value for users that are not of type CLOUD_IAM_GROUP. Only CLOUD_IAM_GROUP users will be inactive or active. Users with an IamStatus of IAM_STATUS_UNSPECIFIED will not display whether they are active or inactive as that is not applicable to them.",
            "INACTIVE indicates a group is not available for IAM database authentication.",
            "ACTIVE indicates a group is available for IAM database authentication."
          ]
        },
        "iamEmail": {
          "description": "Optional. The full email for an IAM user. For normal database users, this will not be filled. Only applicable to MySQL database users.",
          "type": "string"
        },
        "instance": {
          "type": "string",
          "description": "The name of the Cloud SQL instance. This does not include the project ID. Can be omitted for *update* because it is already specified on the URL."
        },
        "serverRoles": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Optional. The server roles for the SQL Server login."
        },
        "passwordPolicy": {
          "description": "User level password validation policy.",
          "$ref": "UserPasswordValidationPolicy"
        },
        "host": {
          "type": "string",
          "description": "Optional. The host from which the user can connect. For `insert` operations, host defaults to an empty string. For `update` operations, host is specified as part of the request URL. The host name cannot be updated after insertion. For a MySQL instance, it's required; for a PostgreSQL or SQL Server instance, it's optional."
        },
        "databaseRoles": {
          "description": "Optional. Role memberships of the user",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "etag": {
          "type": "string",
          "description": "This field is deprecated and will be removed from a future version of the API."
        },
        "project": {
          "description": "The project ID of the project containing the Cloud SQL database. The Google apps domain is prefixed if applicable. Can be omitted for *update* because it is already specified on the URL.",
          "type": "string"
        }
      },
      "description": "A Cloud SQL user resource.",
      "id": "User"
    },
    "InstancesRestoreBackupRequest": {
      "description": "Database instance restore backup request.",
      "properties": {
        "restoreBackupContext": {
          "$ref": "RestoreBackupContext",
          "description": "Parameters required to perform the restore backup operation."
        },
        "restoreInstanceSettings": {
          "$ref": "DatabaseInstance",
          "description": "Optional. By using this parameter, Cloud SQL overrides any instance settings stored in the backup you are restoring from. You can't change the instance's major database version and you can only increase the disk size. You can use this field to restore new instances only. This field is not applicable for restore to existing instances."
        },
        "restoreInstanceClearOverridesFieldNames": {
          "description": "Optional. This field has the same purpose as restore_instance_settings, changes any instance settings stored in the backup you are restoring from. With the difference that these fields are cleared in the settings.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "ignoreMaintenanceVersion": {
          "type": "boolean",
          "description": "Optional. If true, the restore operation proceeds even if the target instance's maintenance version is older than the source instance's maintenance version."
        },
        "backup": {
          "description": "The name of the backup that's used to restore a Cloud SQL instance: Format: projects/{project-id}/backups/{backup-uid}. Only one of restore_backup_context, backup, backupdr_backup can be passed to the input.",
          "type": "string"
        },
        "backupdrBackup": {
          "description": "The name of the backup that's used to restore a Cloud SQL instance: Format: \"projects/{project-id}/locations/{location}/backupVaults/{backupvault}/dataSources/{datasource}/backups/{backup-uid}\". Only one of restore_backup_context, backup, backupdr_backup can be passed to the input.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "InstancesRestoreBackupRequest"
    },
    "RestoreBackupContext": {
      "type": "object",
      "description": "Database instance restore from backup context. Backup context contains source instance id and project id.",
      "properties": {
        "project": {
          "description": "The full project ID of the source instance.",
          "type": "string"
        },
        "kind": {
          "description": "This is always `sql#restoreBackupContext`.",
          "type": "string"
        },
        "backupRunId": {
          "format": "int64",
          "description": "The ID of the backup run to restore from.",
          "type": "string"
        },
        "instanceId": {
          "type": "string",
          "description": "The ID of the instance that the backup was taken from."
        }
      },
      "id": "RestoreBackupContext"
    },
    "ExportContext": {
      "id": "ExportContext",
      "description": "Database instance export context.",
      "properties": {
        "kind": {
          "type": "string",
          "description": "This is always `sql#exportContext`."
        },
        "sqlExportOptions": {
          "type": "object",
          "properties": {
            "mysqlExportOptions": {
              "properties": {
                "masterData": {
                  "description": "Option to include SQL statement required to set up replication. If set to `1`, the dump file includes a CHANGE MASTER TO statement with the binary log coordinates, and --set-gtid-purged is set to ON. If set to `2`, the CHANGE MASTER TO statement is written as a SQL comment and has no effect. If set to any value other than `1`, --set-gtid-purged is set to OFF.",
                  "format": "int32",
                  "type": "integer"
                }
              },
              "type": "object",
              "description": "Options for exporting from MySQL."
            },
            "tables": {
              "description": "Tables to export, or that were exported, from the specified database. If you specify tables, specify one and only one database. For PostgreSQL instances, you can specify only one table.",
              "items": {
                "type": "string"
              },
              "type": "array"
            },
            "schemaOnly": {
              "description": "Export only schemas.",
              "type": "boolean"
            },
            "parallel": {
              "type": "boolean",
              "description": "Optional. Whether or not the export should be parallel."
            },
            "postgresExportOptions": {
              "description": "Options for exporting from a Cloud SQL for PostgreSQL instance.",
              "type": "object",
              "properties": {
                "clean": {
                  "description": "Optional. Use this option to include DROP <object> SQL statements. Use these statements to delete database objects before running the import operation.",
                  "type": "boolean"
                },
                "ifExists": {
                  "description": "Optional. Option to include an IF EXISTS SQL statement with each DROP statement produced by clean.",
                  "type": "boolean"
                }
              }
            },
            "threads": {
              "description": "Optional. The number of threads to use for parallel export.",
              "format": "int32",
              "type": "integer"
            }
          },
          "description": "Options for exporting data as SQL statements."
        },
        "offload": {
          "description": "Whether to perform a serverless export.",
          "type": "boolean"
        },
        "csvExportOptions": {
          "description": "Options for exporting data as CSV. `MySQL` and `PostgreSQL` instances only.",
          "properties": {
            "quoteCharacter": {
              "type": "string",
              "description": "Specifies the quoting character to be used when a data value is quoted."
            },
            "escapeCharacter": {
              "type": "string",
              "description": "Specifies the character that should appear before a data character that needs to be escaped."
            },
            "linesTerminatedBy": {
              "type": "string",
              "description": "This is used to separate lines. If a line does not contain all fields, the rest of the columns are set to their default values."
            },
            "selectQuery": {
              "type": "string",
              "description": "The select query used to extract the data."
            },
            "fieldsTerminatedBy": {
              "description": "Specifies the character that separates columns within each row (line) of the file.",
              "type": "string"
            }
          },
          "type": "object"
        },
        "databases": {
          "description": "Databases to be exported. `MySQL instances:` If `fileType` is `SQL` and no database is specified, all databases are exported, except for the `mysql` system database. If `fileType` is `CSV`, you can specify one database, either by using this property or by using the `csvExportOptions.selectQuery` property, which takes precedence over this property. `PostgreSQL instances:` If you don't specify a database by name, all user databases in the instance are exported. This excludes system databases and Cloud SQL databases used to manage internal operations. Exporting all user databases is only available for directory-formatted parallel export. If `fileType` is `CSV`, this database must match the one specified in the `csvExportOptions.selectQuery` property. `SQL Server instances:` You must specify one database to be exported, and the `fileType` must be `BAK`.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "fileType": {
          "type": "string",
          "enum": [
            "SQL_FILE_TYPE_UNSPECIFIED",
            "SQL",
            "CSV",
            "BAK",
            "TDE"
          ],
          "enumDescriptions": [
            "Unknown file type.",
            "File containing SQL statements.",
            "File in CSV format.",
            "",
            "TDE certificate."
          ],
          "description": "The file type for the specified uri."
        },
        "tdeExportOptions": {
          "properties": {
            "certificatePath": {
              "description": "Required. Path to the TDE certificate public key in the form gs://bucketName/fileName. The instance must have write access to the location. Applicable only for SQL Server instances.",
              "type": "string"
            },
            "privateKeyPath": {
              "type": "string",
              "description": "Required. Path to the TDE certificate private key in the form gs://bucketName/fileName. The instance must have write access to the location. Applicable only for SQL Server instances."
            },
            "name": {
              "type": "string",
              "description": "Required. Certificate name. Applicable only for SQL Server instances."
            },
            "privateKeyPassword": {
              "description": "Required. Password that encrypts the private key.",
              "type": "string"
            }
          },
          "description": "Optional. Export parameters specific to SQL Server TDE certificates",
          "type": "object"
        },
        "bakExportOptions": {
          "description": "Options for exporting BAK files (SQL Server-only)",
          "properties": {
            "differentialBase": {
              "description": "Whether or not the backup can be used as a differential base copy_only backup can not be served as differential base",
              "type": "boolean"
            },
            "exportLogEndTime": {
              "type": "string",
              "description": "Optional. The end timestamp when transaction log will be included in the export operation. [RFC 3339](https://tools.ietf.org/html/rfc3339) format (for example, `2023-10-01T16:19:00.094`) in UTC. When omitted, all available logs until current time will be included. Only applied to Cloud SQL for SQL Server.",
              "format": "google-datetime"
            },
            "copyOnly": {
              "type": "boolean",
              "deprecated": true,
              "description": "Deprecated: copy_only is deprecated. Use differential_base instead"
            },
            "bakType": {
              "description": "Type of this bak file will be export, FULL or DIFF, SQL Server only",
              "type": "string",
              "enum": [
                "BAK_TYPE_UNSPECIFIED",
                "FULL",
                "DIFF",
                "TLOG"
              ],
              "enumDescriptions": [
                "Default type.",
                "Full backup.",
                "Differential backup.",
                "SQL Server Transaction Log"
              ]
            },
            "stripeCount": {
              "description": "Option for specifying how many stripes to use for the export. If blank, and the value of the striped field is true, the number of stripes is automatically chosen.",
              "type": "integer",
              "format": "int32"
            },
            "striped": {
              "description": "Whether or not the export should be striped.",
              "type": "boolean"
            },
            "exportLogStartTime": {
              "description": "Optional. The begin timestamp when transaction log will be included in the export operation. [RFC 3339](https://tools.ietf.org/html/rfc3339) format (for example, `2023-10-01T16:19:00.094`) in UTC. When omitted, all available logs from the beginning of retention period will be included. Only applied to Cloud SQL for SQL Server.",
              "format": "google-datetime",
              "type": "string"
            }
          },
          "type": "object"
        },
        "uri": {
          "description": "The path to the file in Google Cloud Storage where the export will be stored. The URI is in the form `gs://bucketName/fileName`. If the file already exists, the request succeeds, but the operation fails. If `fileType` is `SQL` and the filename ends with .gz, the contents are compressed.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "SqlInstancesGetDiskShrinkConfigResponse": {
      "id": "SqlInstancesGetDiskShrinkConfigResponse",
      "properties": {
        "message": {
          "type": "string",
          "description": "Additional message to customers."
        },
        "minimalTargetSizeGb": {
          "type": "string",
          "description": "The minimum size to which a disk can be shrunk in GigaBytes.",
          "format": "int64"
        },
        "kind": {
          "description": "This is always `sql#getDiskShrinkConfig`.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Instance get disk shrink config response."
    },
    "PerformanceCaptureConfig": {
      "type": "object",
      "properties": {
        "secondsBehindSourceThreshold": {
          "format": "int32",
          "type": "integer",
          "description": "Optional. Specifies the minimum number of seconds replica must be lagging behind primary instance to trigger the performance capture on replica."
        },
        "cpuUtilizationThresholdPercent": {
          "type": "integer",
          "format": "int32",
          "description": "Optional. Specifies the minimum percentage of CPU utilization to trigger the performance capture. Valid integers range from `10` to `99`. Enter `0` to disable the check."
        },
        "memoryUsageThresholdPercent": {
          "description": "Optional. Specifies the minimum percentage of memory usage to trigger the performance capture. Valid integers range from `10` to `99`. Enter `0` to disable the check.",
          "format": "int32",
          "type": "integer"
        },
        "transactionKillExcludedUserHosts": {
          "description": "Optional. Specifies a customer-defined list of users to exclude from transaction termination. Entries can be in the format 'user@host' or just 'user'. A standalone 'user' implies 'user@%', excluding the user from any host. Wildcard '%' is allowed in the host part of the 'user@host' format. Example: `[\"app_user\", \"db_admin@10.1.2.3\", \"report_user@%\"]`",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "historyListLengthThresholdCount": {
          "type": "integer",
          "description": "Optional. Specifies the minimum number of undo log entries in the history list length to trigger the performance capture. Valid integers range from `10000` to `10000000`. Enter `0` to disable the check.",
          "format": "int32"
        },
        "transactionKillType": {
          "enumDescriptions": [
            "Unspecified.",
            "Only read-only transactions are eligible for termination.",
            "All transactions are eligible for termination, including those with write operations (such as INSERT, UPDATE, DELETE, or DDL)."
          ],
          "description": "Optional. Determines which transactions are allowed to be terminated when they exceed `transaction_kill_threshold_seconds`. This allows protecting write-heavy transactions from auto-termination if desired. Defaults to `READ_ONLY_TRANSACTIONS` if unspecified.",
          "type": "string",
          "enum": [
            "TRANSACTION_KILL_TYPE_UNSPECIFIED",
            "READ_ONLY_TRANSACTIONS",
            "ALL_TRANSACTIONS"
          ]
        },
        "probeThreshold": {
          "description": "Optional. Specifies the minimum number of consecutive probe threshold that triggers performance capture.",
          "type": "integer",
          "format": "int32"
        },
        "enabled": {
          "description": "Optional. Enables or disables the performance capture feature.",
          "type": "boolean"
        },
        "transactionLockWaitThresholdCount": {
          "type": "integer",
          "format": "int32",
          "description": "Optional. Specifies the minimum allowed number of transactions in lock wait state to trigger the performance capture. Valid integers range from `10` to `10000`. Enter `0` to disable the check."
        },
        "transactionDurationThreshold": {
          "type": "integer",
          "format": "int32",
          "description": "Optional. Specifies the amount of time in seconds that a transaction needs to have been open before the watcher starts recording it."
        },
        "runningThreadsThreshold": {
          "description": "Optional. Specifies the minimum number of MySQL `Threads_running` to trigger the performance capture on the primary instance.",
          "type": "integer",
          "format": "int32"
        },
        "semaphoreWaitThresholdCount": {
          "type": "integer",
          "format": "int32",
          "description": "Optional. Specifies the minimum allowed number of semaphore waits to trigger the performance capture. Valid integers range from `10` to `10000`. Enter `0` to disable the check."
        },
        "transactionKillThresholdSeconds": {
          "description": "Optional. Specifies the amount of time in seconds that a transaction needs to have been open before the watcher starts terminating it. Valid integers range from `60` to `604800` (7 days). Enter `0` to disable. If enabled (i.e., > 0), this value must be greater than or equal to `transaction_duration_threshold`. Configurations where `0 < transaction_kill_threshold_seconds < transaction_duration_threshold` will be rejected.",
          "format": "int32",
          "type": "integer"
        },
        "probingIntervalSeconds": {
          "type": "integer",
          "description": "Optional. Specifies the interval in seconds between consecutive probes that check if any trigger condition thresholds have been reached.",
          "format": "int32"
        }
      },
      "id": "PerformanceCaptureConfig",
      "description": "Performance capture configuration."
    },
    "InstancesExportRequest": {
      "properties": {
        "exportContext": {
          "description": "Contains details about the export operation.",
          "$ref": "ExportContext"
        }
      },
      "description": "Database instance export request.",
      "type": "object",
      "id": "InstancesExportRequest"
    },
    "InstancesListResponse": {
      "description": "Database instances list response.",
      "type": "object",
      "id": "InstancesListResponse",
      "properties": {
        "kind": {
          "type": "string",
          "description": "This is always `sql#instancesList`."
        },
        "nextPageToken": {
          "description": "The continuation token, used to page through large result sets. Provide this value in a subsequent request to return the next page of results.",
          "type": "string"
        },
        "items": {
          "items": {
            "$ref": "DatabaseInstance"
          },
          "type": "array",
          "description": "List of database instance resources."
        },
        "warnings": {
          "description": "List of warnings that occurred while handling the request.",
          "items": {
            "$ref": "ApiWarning"
          },
          "type": "array"
        }
      }
    },
    "DatabaseInstance": {
      "properties": {
        "secondaryGceZone": {
          "type": "string",
          "description": "The Compute Engine zone that the failover instance is currently serving from for a regional instance. This value could be different from the zone that was specified when the instance was created if the instance has failed over to its secondary/failover zone."
        },
        "writeEndpoint": {
          "type": "string",
          "description": "Output only. The dns name of the primary instance in a replication group.",
          "readOnly": true
        },
        "diskEncryptionConfiguration": {
          "description": "Disk encryption configuration specific to an instance.",
          "$ref": "DiskEncryptionConfiguration"
        },
        "masterInstanceName": {
          "type": "string",
          "description": "The name of the instance which will act as primary in the replication setup."
        },
        "includeReplicasForMajorVersionUpgrade": {
          "type": "boolean",
          "description": "Input only. Determines whether an in-place major version upgrade of replicas happens when an in-place major version upgrade of a primary instance is initiated."
        },
        "rootPassword": {
          "description": "Initial root password. Use only on creation. You must set root passwords before you can connect to PostgreSQL instances.",
          "type": "string"
        },
        "failoverReplica": {
          "type": "object",
          "properties": {
            "available": {
              "type": "boolean",
              "description": "The availability status of the failover replica. A false status indicates that the failover replica is out of sync. The primary instance can only failover to the failover replica when the status is true."
            },
            "name": {
              "type": "string",
              "description": "The name of the failover replica. If specified at instance creation, a failover replica is created for the instance. The name doesn't include the project ID."
            }
          },
          "description": "The name and status of the failover replica."
        },
        "replicaNames": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "The replicas of the instance."
        },
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The time when the instance was created in [RFC 3339](https://tools.ietf.org/html/rfc3339) format, for example `2012-11-15T16:19:00.094Z`.",
          "readOnly": true
        },
        "maintenanceVersion": {
          "description": "The current software version on the instance.",
          "type": "string"
        },
        "state": {
          "description": "The current serving state of the Cloud SQL instance.",
          "type": "string",
          "enumDescriptions": [
            "The state of the instance is unknown.",
            "The instance is running, or has been stopped by owner.",
            "The instance is not available, for example due to problems with billing.",
            "The instance is being deleted.",
            "The instance is being created.",
            "The instance is down for maintenance.",
            "The creation of the instance failed or a fatal error occurred during maintenance.",
            "Deprecated",
            "(Applicable to read pool nodes only.) The read pool node needs to be repaired. The database might be unavailable."
          ],
          "enum": [
            "SQL_INSTANCE_STATE_UNSPECIFIED",
            "RUNNABLE",
            "SUSPENDED",
            "PENDING_DELETE",
            "PENDING_CREATE",
            "MAINTENANCE",
            "FAILED",
            "ONLINE_MAINTENANCE",
            "REPAIRING"
          ],
          "enumDeprecated": [
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            true,
            false
          ]
        },
        "scheduledMaintenance": {
          "description": "The start time of any upcoming scheduled maintenance for this instance.",
          "$ref": "SqlScheduledMaintenance"
        },
        "dnsNames": {
          "description": "Output only. The list of DNS names used by this instance.",
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "DnsNameMapping"
          }
        },
        "nodes": {
          "readOnly": true,
          "description": "Output only. Entries containing information about each read pool node of the read pool.",
          "type": "array",
          "items": {
            "$ref": "PoolNodeConfig"
          }
        },
        "satisfiesPzs": {
          "description": "This status indicates whether the instance satisfies PZS. The status is reserved for future use.",
          "type": "boolean"
        },
        "satisfiesPzi": {
          "description": "Output only. This status indicates whether the instance satisfies PZI. The status is reserved for future use.",
          "type": "boolean",
          "readOnly": true
        },
        "nodeCount": {
          "description": "The number of read pool nodes in a read pool.",
          "type": "integer",
          "format": "int32"
        },
        "maxDiskSize": {
          "deprecated": true,
          "description": "The maximum disk size of the instance in bytes.",
          "type": "string",
          "format": "int64"
        },
        "primaryDnsName": {
          "type": "string",
          "deprecated": true,
          "description": "Output only. DEPRECATED: please use write_endpoint instead.",
          "readOnly": true
        },
        "sqlNetworkArchitecture": {
          "type": "string",
          "enum": [
            "SQL_NETWORK_ARCHITECTURE_UNSPECIFIED",
            "NEW_NETWORK_ARCHITECTURE",
            "OLD_NETWORK_ARCHITECTURE"
          ],
          "description": "The SQL network architecture for the instance.",
          "enumDescriptions": [
            "",
            "The instance uses the new network architecture.",
            "The instance uses the old network architecture."
          ]
        },
        "backendType": {
          "type": "string",
          "enumDescriptions": [
            "This is an unknown backend type for instance.",
            "V1 speckle instance.",
            "V2 speckle instance.",
            "On premises instance."
          ],
          "description": "The backend type. `SECOND_GEN`: Cloud SQL database instance. `EXTERNAL`: A database server that is not managed by Google. This property is read-only; use the `tier` property in the `settings` object to determine the database type.",
          "enum": [
            "SQL_BACKEND_TYPE_UNSPECIFIED",
            "FIRST_GEN",
            "SECOND_GEN",
            "EXTERNAL"
          ],
          "enumDeprecated": [
            false,
            true,
            false,
            false
          ]
        },
        "databaseCenterIntegrationEnabled": {
          "type": "boolean",
          "description": "Optional. If true, instance metadata is sent to the Database Center. If false, instance metadata is not sent to the Database Center."
        },
        "replicaConfiguration": {
          "description": "Configuration specific to failover replicas and read replicas.",
          "$ref": "ReplicaConfiguration"
        },
        "databaseVersion": {
          "enumDeprecated": [
            false,
            true,
            true,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            true,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false
          ],
          "description": "The database engine type and version. The `databaseVersion` field cannot be changed after instance creation.",
          "type": "string",
          "enum": [
            "SQL_DATABASE_VERSION_UNSPECIFIED",
            "MYSQL_5_1",
            "MYSQL_5_5",
            "MYSQL_5_6",
            "MYSQL_5_7",
            "MYSQL_8_0",
            "MYSQL_8_0_18",
            "MYSQL_8_0_26",
            "MYSQL_8_0_27",
            "MYSQL_8_0_28",
            "MYSQL_8_0_29",
            "MYSQL_8_0_30",
            "MYSQL_8_0_31",
            "MYSQL_8_0_32",
            "MYSQL_8_0_33",
            "MYSQL_8_0_34",
            "MYSQL_8_0_35",
            "MYSQL_8_0_36",
            "MYSQL_8_0_37",
            "MYSQL_8_0_39",
            "MYSQL_8_0_40",
            "MYSQL_8_0_41",
            "MYSQL_8_0_42",
            "MYSQL_8_0_43",
            "MYSQL_8_0_44",
            "MYSQL_8_0_45",
            "MYSQL_8_0_46",
            "MYSQL_8_4",
            "MYSQL_9_7",
            "SQLSERVER_2017_STANDARD",
            "SQLSERVER_2017_ENTERPRISE",
            "SQLSERVER_2017_EXPRESS",
            "SQLSERVER_2017_WEB",
            "POSTGRES_9_6",
            "POSTGRES_10",
            "POSTGRES_11",
            "POSTGRES_12",
            "POSTGRES_13",
            "POSTGRES_14",
            "POSTGRES_15",
            "POSTGRES_16",
            "POSTGRES_17",
            "POSTGRES_18",
            "POSTGRES_19",
            "POSTGRES_20",
            "SQLSERVER_2019_STANDARD",
            "SQLSERVER_2019_ENTERPRISE",
            "SQLSERVER_2019_EXPRESS",
            "SQLSERVER_2019_WEB",
            "SQLSERVER_2022_STANDARD",
            "SQLSERVER_2022_ENTERPRISE",
            "SQLSERVER_2022_EXPRESS",
            "SQLSERVER_2022_WEB",
            "SQLSERVER_2025_STANDARD",
            "SQLSERVER_2025_ENTERPRISE",
            "SQLSERVER_2025_EXPRESS"
          ],
          "enumDescriptions": [
            "This is an unknown database version.",
            "The database version is MySQL 5.1.",
            "The database version is MySQL 5.5.",
            "The database version is MySQL 5.6.",
            "The database version is MySQL 5.7.",
            "The database version is MySQL 8.",
            "The database major version is MySQL 8.0 and the minor version is 18.",
            "The database major version is MySQL 8.0 and the minor version is 26.",
            "The database major version is MySQL 8.0 and the minor version is 27.",
            "The database major version is MySQL 8.0 and the minor version is 28.",
            "The database major version is MySQL 8.0 and the minor version is 29.",
            "The database major version is MySQL 8.0 and the minor version is 30.",
            "The database major version is MySQL 8.0 and the minor version is 31.",
            "The database major version is MySQL 8.0 and the minor version is 32.",
            "The database major version is MySQL 8.0 and the minor version is 33.",
            "The database major version is MySQL 8.0 and the minor version is 34.",
[...]
