{
  "mtlsRootUrl": "https://sqladmin.mtls.googleapis.com/",
  "discoveryVersion": "v1",
  "protocol": "rest",
  "basePath": "",
  "parameters": {
    "uploadType": {
      "location": "query",
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "key": {
      "location": "query",
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "alt": {
      "default": "json",
      "location": "query",
      "type": "string",
      "description": "Data format for response.",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ]
    },
    "$.xgafv": {
      "location": "query",
      "type": "string",
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ]
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "oauth_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth 2.0 token for the current user."
    },
    "callback": {
      "location": "query",
      "type": "string",
      "description": "JSONP"
    },
    "prettyPrint": {
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "location": "query"
    }
  },
  "version": "v1",
  "name": "sqladmin",
  "resources": {
    "projects": {
      "resources": {
        "instances": {
          "methods": {
            "verifyExternalSyncSettings": {
              "request": {
                "$ref": "SqlInstancesVerifyExternalSyncSettingsRequest"
              },
              "path": "v1/projects/{project}/instances/{instance}/verifyExternalSyncSettings",
              "response": {
                "$ref": "SqlInstancesVerifyExternalSyncSettingsResponse"
              },
              "parameters": {
                "instance": {
                  "description": "Cloud SQL instance ID. This does not include the project ID.",
                  "type": "string",
                  "location": "path",
                  "required": true
                },
                "project": {
                  "description": "Project ID of the project that contains the instance.",
                  "type": "string",
                  "location": "path",
                  "required": true
                }
              },
              "httpMethod": "POST",
              "flatPath": "v1/projects/{project}/instances/{instance}/verifyExternalSyncSettings",
              "id": "sql.projects.instances.verifyExternalSyncSettings",
              "parameterOrder": [
                "project",
                "instance"
              ],
              "description": "Verify External primary instance external sync settings.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/sqlservice.admin"
              ]
            },
            "performDiskShrink": {
              "response": {
                "$ref": "Operation"
              },
              "path": "v1/projects/{project}/instances/{instance}/performDiskShrink",
              "parameters": {
                "instance": {
                  "description": "Cloud SQL instance ID. This does not include the project ID.",
                  "type": "string",
                  "location": "path",
                  "required": true
                },
                "project": {
                  "description": "Project ID of the project that contains the instance.",
                  "type": "string",
                  "location": "path",
                  "required": true
                }
              },
              "request": {
                "$ref": "PerformDiskShrinkContext"
              },
              "parameterOrder": [
                "project",
                "instance"
              ],
              "description": "Perform Disk Shrink on primary instance.",
              "id": "sql.projects.instances.performDiskShrink",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/sqlservice.admin"
              ],
              "httpMethod": "POST",
              "flatPath": "v1/projects/{project}/instances/{instance}/performDiskShrink"
            },
            "getDiskShrinkConfig": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/sqlservice.admin"
              ],
              "id": "sql.projects.instances.getDiskShrinkConfig",
              "parameterOrder": [
                "project",
                "instance"
              ],
              "description": "Get Disk Shrink Config for a given instance.",
              "flatPath": "v1/projects/{project}/instances/{instance}/getDiskShrinkConfig",
              "httpMethod": "GET",
              "parameters": {
                "project": {
                  "location": "path",
                  "required": true,
                  "description": "Project ID of the project that contains the instance.",
                  "type": "string"
                },
                "instance": {
                  "location": "path",
                  "required": true,
                  "description": "Cloud SQL instance ID. This does not include the project ID.",
                  "type": "string"
                }
              },
              "path": "v1/projects/{project}/instances/{instance}/getDiskShrinkConfig",
              "response": {
                "$ref": "SqlInstancesGetDiskShrinkConfigResponse"
              }
            },
            "resetReplicaSize": {
              "id": "sql.projects.instances.resetReplicaSize",
              "parameterOrder": [
                "project",
                "instance"
              ],
              "description": "Reset Replica Size to primary instance disk size.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/sqlservice.admin"
              ],
              "httpMethod": "POST",
              "flatPath": "v1/projects/{project}/instances/{instance}/resetReplicaSize",
              "path": "v1/projects/{project}/instances/{instance}/resetReplicaSize",
              "response": {
                "$ref": "Operation"
              },
              "parameters": {
                "project": {
                  "location": "path",
                  "required": true,
                  "description": "ID of the project that contains the read replica.",
                  "type": "string"
                },
                "instance": {
                  "location": "path",
                  "required": true,
                  "description": "Cloud SQL read replica instance name.",
                  "type": "string"
                }
              },
              "request": {
                "$ref": "SqlInstancesResetReplicaSizeRequest"
              }
            },
            "rescheduleMaintenance": {
              "httpMethod": "POST",
              "flatPath": "v1/projects/{project}/instances/{instance}/rescheduleMaintenance",
              "parameterOrder": [
                "project",
                "instance"
              ],
              "description": "Reschedules the maintenance on the given instance.",
              "id": "sql.projects.instances.rescheduleMaintenance",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/sqlservice.admin"
              ],
              "request": {
                "$ref": "SqlInstancesRescheduleMaintenanceRequestBody"
              },
              "response": {
                "$ref": "Operation"
              },
              "path": "v1/projects/{project}/instances/{instance}/rescheduleMaintenance",
              "parameters": {
                "instance": {
                  "description": "Cloud SQL instance ID. This does not include the project ID.",
                  "type": "string",
                  "location": "path",
                  "required": true
                },
                "project": {
                  "description": "ID of the project that contains the instance.",
                  "type": "string",
                  "location": "path",
                  "required": true
                }
              }
            },
            "startExternalSync": {
              "request": {
                "$ref": "SqlInstancesStartExternalSyncRequest"
              },
              "parameters": {
                "project": {
                  "location": "path",
                  "required": true,
                  "description": "ID of the project that contains the instance.",
                  "type": "string"
                },
                "instance": {
                  "location": "path",
                  "required": true,
                  "description": "Cloud SQL instance ID. This does not include the project ID.",
                  "type": "string"
                }
              },
              "path": "v1/projects/{project}/instances/{instance}/startExternalSync",
              "response": {
                "$ref": "Operation"
              },
              "flatPath": "v1/projects/{project}/instances/{instance}/startExternalSync",
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/sqlservice.admin"
              ],
              "id": "sql.projects.instances.startExternalSync",
              "parameterOrder": [
                "project",
                "instance"
              ],
              "description": "Start External primary instance migration."
            },
            "getLatestRecoveryTime": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/sqlservice.admin"
              ],
              "parameterOrder": [
                "project",
                "instance"
              ],
              "description": "Get Latest Recovery Time for a given instance.",
              "id": "sql.projects.instances.getLatestRecoveryTime",
              "flatPath": "v1/projects/{project}/instances/{instance}/getLatestRecoveryTime",
              "httpMethod": "GET",
              "parameters": {
                "instance": {
                  "location": "path",
                  "required": true,
                  "description": "Cloud SQL instance ID. This does not include the project ID.",
                  "type": "string"
                },
                "sourceInstanceDeletionTime": {
                  "location": "query",
                  "description": "The timestamp used to identify the time when the source instance is deleted. If this instance is deleted, then you must set the timestamp.",
                  "type": "string",
                  "format": "google-datetime"
                },
                "project": {
                  "location": "path",
                  "required": true,
                  "description": "Project ID of the project that contains the instance.",
                  "type": "string"
                }
              },
              "response": {
                "$ref": "SqlInstancesGetLatestRecoveryTimeResponse"
              },
              "path": "v1/projects/{project}/instances/{instance}/getLatestRecoveryTime"
            }
          }
        }
      }
    },
    "Backups": {
      "methods": {
        "CreateBackup": {
          "response": {
            "$ref": "Operation"
          },
          "path": "v1/{+parent}/backups",
          "parameters": {
            "parent": {
              "required": true,
              "pattern": "^projects/[^/]+$",
              "location": "path",
              "description": "Required. The parent resource where this backup is created. Format: projects/{project}",
              "type": "string"
            }
          },
          "request": {
            "$ref": "Backup"
          },
          "parameterOrder": [
            "parent"
          ],
          "description": "Creates a backup for a Cloud SQL instance. This API can be used only to create on-demand backups.",
          "id": "sql.Backups.CreateBackup",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "httpMethod": "POST",
          "flatPath": "v1/projects/{projectsId}/backups"
        },
        "ListBackups": {
          "response": {
            "$ref": "ListBackupsResponse"
          },
          "path": "v1/{+parent}/backups",
          "parameters": {
            "parent": {
              "pattern": "^projects/[^/]+$",
              "location": "path",
              "description": "Required. The parent that owns this collection of backups. Format: projects/{project}",
              "type": "string",
              "required": true
            },
            "pageSize": {
              "description": "The maximum number of backups to return per response. The service might return fewer backups than this value. If a value for this parameter isn't specified, then, at most, 500 backups are returned. The maximum value is 2,000. Any values that you set, which are greater than 2,000, are changed to 2,000.",
              "type": "integer",
              "location": "query",
              "format": "int32"
            },
            "pageToken": {
              "location": "query",
              "description": "A page token, received from a previous `ListBackups` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListBackups` must match the call that provided the page token.",
              "type": "string"
            },
            "filter": {
              "description": "Multiple filter queries are separated by spaces. For example, 'instance:abc AND type:FINAL, 'location:us', 'backupInterval.startTime>=1950-01-01T01:01:25.771Z'. You can filter by type, instance, backupInterval.startTime (creation time), or location.",
              "type": "string",
              "location": "query"
            }
          },
          "httpMethod": "GET",
          "flatPath": "v1/projects/{projectsId}/backups",
          "parameterOrder": [
            "parent"
          ],
          "description": "Lists all backups associated with the project.",
          "id": "sql.Backups.ListBackups",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ]
        },
        "DeleteBackup": {
          "path": "v1/{+name}",
          "response": {
            "$ref": "Operation"
          },
          "parameters": {
            "name": {
              "required": true,
              "pattern": "^projects/[^/]+/backups/[^/]+$",
              "location": "path",
              "description": "Required. The name of the backup to delete. Format: projects/{project}/backups/{backup}",
              "type": "string"
            }
          },
          "id": "sql.Backups.DeleteBackup",
          "parameterOrder": [
            "name"
          ],
          "description": "Deletes the backup.",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "httpMethod": "DELETE",
          "flatPath": "v1/projects/{projectsId}/backups/{backupsId}"
        },
        "UpdateBackup": {
          "request": {
            "$ref": "Backup"
          },
          "path": "v1/{+name}",
          "response": {
            "$ref": "Operation"
          },
          "parameters": {
            "updateMask": {
              "format": "google-fieldmask",
              "location": "query",
              "description": "The list of fields that you can update. You can update only the description and retention period of the final backup.",
              "type": "string"
            },
            "name": {
              "required": true,
              "description": "Output only. The resource name of the backup. Format: projects/{project}/backups/{backup}.",
              "type": "string",
              "pattern": "^projects/[^/]+/backups/[^/]+$",
              "location": "path"
            }
          },
          "httpMethod": "PATCH",
          "flatPath": "v1/projects/{projectsId}/backups/{backupsId}",
          "id": "sql.Backups.UpdateBackup",
          "parameterOrder": [
            "name"
          ],
          "description": "Updates the retention period and description of the backup. You can use this API to update final backups only.",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ]
        },
        "GetBackup": {
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "id": "sql.Backups.GetBackup",
          "parameterOrder": [
            "name"
          ],
          "description": "Retrieves a resource containing information about a backup.",
          "flatPath": "v1/projects/{projectsId}/backups/{backupsId}",
          "httpMethod": "GET",
          "parameters": {
            "name": {
              "required": true,
              "pattern": "^projects/[^/]+/backups/[^/]+$",
              "location": "path",
              "description": "Required. The name of the backup to retrieve. Format: projects/{project}/backups/{backup}",
              "type": "string"
            }
          },
          "path": "v1/{+name}",
          "response": {
            "$ref": "Backup"
          }
        }
      }
    },
    "users": {
      "methods": {
        "list": {
          "id": "sql.users.list",
          "parameterOrder": [
            "project",
            "instance"
          ],
          "description": "Lists users in the specified Cloud SQL instance.",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "httpMethod": "GET",
          "flatPath": "v1/projects/{project}/instances/{instance}/users",
          "path": "v1/projects/{project}/instances/{instance}/users",
          "response": {
            "$ref": "UsersListResponse"
          },
          "parameters": {
            "project": {
              "location": "path",
              "required": true,
              "description": "Project ID of the project that contains the instance.",
              "type": "string"
            },
            "instance": {
              "location": "path",
              "required": true,
              "description": "Database instance ID. This does not include the project ID.",
              "type": "string"
            }
          }
        },
        "get": {
          "response": {
            "$ref": "User"
          },
          "path": "v1/projects/{project}/instances/{instance}/users/{name}",
          "parameters": {
            "instance": {
              "location": "path",
              "required": true,
              "description": "Database instance ID. This does not include the project ID.",
              "type": "string"
            },
            "name": {
              "description": "User of the instance.",
              "type": "string",
              "location": "path",
              "required": true
            },
            "host": {
              "location": "query",
              "description": "Host of a user of the instance.",
              "type": "string"
            },
            "project": {
              "description": "Project ID of the project that contains the instance.",
              "type": "string",
              "location": "path",
              "required": true
            }
          },
          "parameterOrder": [
            "project",
            "instance",
            "name"
          ],
          "description": "Retrieves a resource containing information about a user.",
          "id": "sql.users.get",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "httpMethod": "GET",
          "flatPath": "v1/projects/{project}/instances/{instance}/users/{name}"
        },
        "insert": {
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "parameterOrder": [
            "project",
            "instance"
          ],
          "description": "Creates a new user in a Cloud SQL instance.",
          "id": "sql.users.insert",
          "flatPath": "v1/projects/{project}/instances/{instance}/users",
          "httpMethod": "POST",
          "parameters": {
            "project": {
              "location": "path",
              "required": true,
              "description": "Project ID of the project that contains the instance.",
              "type": "string"
            },
            "instance": {
              "location": "path",
              "required": true,
              "description": "Database instance ID. This does not include the project ID.",
              "type": "string"
            }
          },
          "response": {
            "$ref": "Operation"
          },
          "path": "v1/projects/{project}/instances/{instance}/users",
          "request": {
            "$ref": "User"
          }
        },
        "update": {
          "request": {
            "$ref": "User"
          },
          "parameters": {
            "name": {
              "location": "query",
              "description": "Name of the user in the instance.",
              "type": "string"
            },
            "revokeExistingServerRoles": {
              "description": "Optional. Specifies whether to revoke existing roles that are not present in the `server_roles` field. If `false` or unset, the server roles specified in `server_roles` are added to the user's existing server roles.",
              "type": "boolean",
              "location": "query"
            },
            "databaseRoles": {
              "location": "query",
              "description": "Optional. List of database roles to grant to the user. body.database_roles will be ignored for update request.",
              "type": "string",
              "repeated": true
            },
            "revokeExistingRoles": {
              "location": "query",
              "description": "Optional. Specifies whether to revoke existing roles that are not present in the `database_roles` field. If `false` or unset, the database roles specified in `database_roles` are added to the user's existing roles.",
              "type": "boolean"
            },
            "instance": {
              "description": "Database instance ID. This does not include the project ID.",
              "type": "string",
              "location": "path",
              "required": true
            },
            "host": {
              "description": "Optional. Host of the user in the instance.",
              "type": "string",
              "location": "query"
            },
            "serverRoles": {
              "repeated": true,
              "description": "Optional. The server roles to grant to the SQL Server login. Existing server roles will not be revoked if revoke_existing_roles is false. body.server_roles will be ignored for update request.",
              "type": "string",
              "location": "query"
            },
            "project": {
              "location": "path",
              "required": true,
              "description": "Project ID of the project that contains the instance.",
              "type": "string"
            }
          },
          "path": "v1/projects/{project}/instances/{instance}/users",
          "response": {
            "$ref": "Operation"
          },
          "flatPath": "v1/projects/{project}/instances/{instance}/users",
          "httpMethod": "PUT",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "id": "sql.users.update",
          "parameterOrder": [
            "project",
            "instance"
          ],
          "description": "Updates an existing user in a Cloud SQL instance."
        },
        "delete": {
          "parameters": {
            "instance": {
              "location": "path",
              "required": true,
              "description": "Database instance ID. This does not include the project ID.",
              "type": "string"
            },
            "host": {
              "description": "Host of the user in the instance.",
              "type": "string",
              "location": "query"
            },
            "name": {
              "location": "query",
              "description": "Name of the user in the instance.",
              "type": "string"
            },
            "project": {
              "location": "path",
              "required": true,
              "description": "Project ID of the project that contains the instance.",
              "type": "string"
            }
          },
          "path": "v1/projects/{project}/instances/{instance}/users",
          "response": {
            "$ref": "Operation"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "id": "sql.users.delete",
          "parameterOrder": [
            "project",
            "instance"
          ],
          "description": "Deletes a user from a Cloud SQL instance.",
          "flatPath": "v1/projects/{project}/instances/{instance}/users",
          "httpMethod": "DELETE"
        }
      }
    },
    "backupRuns": {
      "methods": {
        "get": {
          "flatPath": "v1/projects/{project}/instances/{instance}/backupRuns/{id}",
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "parameterOrder": [
            "project",
            "instance",
            "id"
          ],
          "description": "Retrieves a resource containing information about a backup run.",
          "id": "sql.backupRuns.get",
          "parameters": {
            "project": {
              "description": "Project ID of the project that contains the instance.",
              "type": "string",
              "location": "path",
              "required": true
            },
            "instance": {
              "description": "Cloud SQL instance ID. This does not include the project ID.",
              "type": "string",
              "location": "path",
              "required": true
            },
            "id": {
              "location": "path",
              "description": "The ID of this backup run.",
              "type": "string",
              "required": true,
              "format": "int64"
            }
          },
          "response": {
            "$ref": "BackupRun"
          },
          "path": "v1/projects/{project}/instances/{instance}/backupRuns/{id}"
        },
        "insert": {
          "httpMethod": "POST",
          "flatPath": "v1/projects/{project}/instances/{instance}/backupRuns",
          "id": "sql.backupRuns.insert",
          "parameterOrder": [
            "project",
            "instance"
          ],
          "description": "Creates a new backup run on demand.",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "request": {
            "$ref": "BackupRun"
          },
          "path": "v1/projects/{project}/instances/{instance}/backupRuns",
          "response": {
            "$ref": "Operation"
          },
          "parameters": {
            "project": {
              "location": "path",
              "required": true,
              "description": "Project ID of the project that contains the instance.",
              "type": "string"
            },
            "instance": {
              "location": "path",
              "required": true,
              "description": "Cloud SQL instance ID. This does not include the project ID.",
              "type": "string"
            }
          }
        },
        "delete": {
          "response": {
            "$ref": "Operation"
          },
          "path": "v1/projects/{project}/instances/{instance}/backupRuns/{id}",
          "parameters": {
            "project": {
              "description": "Project ID of the project that contains the instance.",
              "type": "string",
              "location": "path",
              "required": true
            },
            "instance": {
              "description": "Cloud SQL instance ID. This does not include the project ID.",
              "type": "string",
              "location": "path",
              "required": true
            },
            "id": {
              "description": "The ID of the backup run to delete. To find a backup run ID, use the [list](https://cloud.google.com/sql/docs/mysql/admin-api/rest/v1/backupRuns/list) method.",
              "type": "string",
              "location": "path",
              "required": true,
              "format": "int64"
            }
          },
          "httpMethod": "DELETE",
          "flatPath": "v1/projects/{project}/instances/{instance}/backupRuns/{id}",
          "parameterOrder": [
            "project",
            "instance",
            "id"
          ],
          "description": "Deletes the backup taken by a backup run.",
          "id": "sql.backupRuns.delete",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ]
        },
        "list": {
          "path": "v1/projects/{project}/instances/{instance}/backupRuns",
          "response": {
            "$ref": "BackupRunsListResponse"
          },
          "parameters": {
            "instance": {
              "location": "path",
              "required": true,
              "description": "Cloud SQL instance ID, or \"-\" for all instances. This does not include the project ID.",
              "type": "string"
            },
            "maxResults": {
              "format": "int32",
              "description": "Maximum number of backup runs per response.",
              "type": "integer",
              "location": "query"
            },
            "project": {
              "location": "path",
              "required": true,
              "description": "Project ID of the project that contains the instance.",
              "type": "string"
            },
            "pageToken": {
              "description": "A previously-returned page token representing part of the larger set of results to view.",
              "type": "string",
              "location": "query"
            }
          },
          "httpMethod": "GET",
          "flatPath": "v1/projects/{project}/instances/{instance}/backupRuns",
          "id": "sql.backupRuns.list",
          "parameterOrder": [
            "project",
            "instance"
          ],
          "description": "Lists all backup runs associated with the project or a given instance and configuration in the reverse chronological order of the backup initiation time.",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ]
        }
      }
    },
    "databases": {
      "methods": {
        "patch": {
          "id": "sql.databases.patch",
          "parameterOrder": [
            "project",
            "instance",
            "database"
          ],
          "description": "Partially updates a resource containing information about a database inside a Cloud SQL instance. This method supports patch semantics.",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "httpMethod": "PATCH",
          "flatPath": "v1/projects/{project}/instances/{instance}/databases/{database}",
          "path": "v1/projects/{project}/instances/{instance}/databases/{database}",
          "response": {
            "$ref": "Operation"
          },
          "parameters": {
            "instance": {
              "description": "Database instance ID. This does not include the project ID.",
              "type": "string",
              "location": "path",
              "required": true
            },
            "database": {
              "description": "Name of the database to be updated in the instance.",
              "type": "string",
              "location": "path",
              "required": true
            },
            "project": {
              "location": "path",
              "required": true,
              "description": "Project ID of the project that contains the instance.",
              "type": "string"
            }
          },
          "request": {
            "$ref": "Database"
          }
        },
        "list": {
          "parameters": {
            "project": {
              "location": "path",
              "required": true,
              "description": "Project ID of the project that contains the instance.",
              "type": "string"
            },
            "instance": {
              "location": "path",
              "required": true,
              "description": "Cloud SQL instance ID. This does not include the project ID.",
              "type": "string"
            }
          },
          "path": "v1/projects/{project}/instances/{instance}/databases",
          "response": {
            "$ref": "DatabasesListResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "id": "sql.databases.list",
          "parameterOrder": [
            "project",
            "instance"
          ],
          "description": "Lists databases in the specified Cloud SQL instance.",
          "flatPath": "v1/projects/{project}/instances/{instance}/databases",
          "httpMethod": "GET"
        },
        "insert": {
          "parameterOrder": [
            "project",
            "instance"
          ],
          "description": "Inserts a resource containing information about a database inside a Cloud SQL instance. **Note:** You can't modify the default character set and collation.",
          "id": "sql.databases.insert",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "httpMethod": "POST",
          "flatPath": "v1/projects/{project}/instances/{instance}/databases",
          "response": {
            "$ref": "Operation"
          },
          "path": "v1/projects/{project}/instances/{instance}/databases",
          "parameters": {
            "project": {
              "location": "path",
              "required": true,
              "description": "Project ID of the project that contains the instance.",
              "type": "string"
            },
            "instance": {
              "location": "path",
              "required": true,
              "description": "Database instance ID. This does not include the project ID.",
              "type": "string"
            }
          },
          "request": {
            "$ref": "Database"
          }
        },
        "update": {
          "flatPath": "v1/projects/{project}/instances/{instance}/databases/{database}",
          "httpMethod": "PUT",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "parameterOrder": [
            "project",
            "instance",
            "database"
          ],
          "description": "Updates a resource containing information about a database inside a Cloud SQL instance.",
          "id": "sql.databases.update",
          "request": {
            "$ref": "Database"
          },
          "parameters": {
            "instance": {
              "description": "Database instance ID. This does not include the project ID.",
              "type": "string",
              "location": "path",
              "required": true
            },
            "database": {
              "location": "path",
              "required": true,
              "description": "Name of the database to be updated in the instance.",
              "type": "string"
            },
            "project": {
              "description": "Project ID of the project that contains the instance.",
              "type": "string",
              "location": "path",
              "required": true
            }
          },
          "response": {
            "$ref": "Operation"
          },
          "path": "v1/projects/{project}/instances/{instance}/databases/{database}"
        },
        "get": {
          "flatPath": "v1/projects/{project}/instances/{instance}/databases/{database}",
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "id": "sql.databases.get",
          "parameterOrder": [
            "project",
            "instance",
            "database"
          ],
          "description": "Retrieves a resource containing information about a database inside a Cloud SQL instance.",
          "parameters": {
            "database": {
              "description": "Name of the database in the instance.",
              "type": "string",
              "location": "path",
              "required": true
            },
            "instance": {
              "description": "Database instance ID. This does not include the project ID.",
              "type": "string",
              "location": "path",
              "required": true
            },
            "project": {
              "location": "path",
              "required": true,
              "description": "Project ID of the project that contains the instance.",
              "type": "string"
            }
          },
          "path": "v1/projects/{project}/instances/{instance}/databases/{database}",
          "response": {
            "$ref": "Database"
          }
        },
        "delete": {
          "id": "sql.databases.delete",
          "parameterOrder": [
            "project",
            "instance",
            "database"
          ],
          "description": "Deletes a database from a Cloud SQL instance.",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "httpMethod": "DELETE",
          "flatPath": "v1/projects/{project}/instances/{instance}/databases/{database}",
          "path": "v1/projects/{project}/instances/{instance}/databases/{database}",
          "response": {
            "$ref": "Operation"
          },
          "parameters": {
            "project": {
              "location": "path",
              "required": true,
              "description": "Project ID of the project that contains the instance.",
              "type": "string"
            },
            "database": {
              "location": "path",
              "required": true,
              "description": "Name of the database to be deleted in the instance.",
              "type": "string"
            },
            "instance": {
              "description": "Database instance ID. This does not include the project ID.",
              "type": "string",
              "location": "path",
              "required": true
            }
          }
        }
      }
    },
    "flags": {
      "methods": {
        "list": {
          "flatPath": "v1/flags",
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "parameterOrder": [],
          "description": "Lists all available database flags for Cloud SQL instances.",
          "id": "sql.flags.list",
          "parameters": {
            "databaseVersion": {
              "description": "Database type and version you want to retrieve flags for. By default, this method returns flags for all database types and versions.",
              "type": "string",
              "location": "query"
            },
            "flagScope": {
              "description": "Optional. Specify the scope of flags to be returned by SqlFlagsListService. Return list of database flags if unspecified.",
              "type": "string",
              "location": "query",
              "enumDescriptions": [
                "Assume database flags if unspecified",
                "database flags",
                "connection pool configuration flags"
              ],
              "enum": [
                "SQL_FLAG_SCOPE_UNSPECIFIED",
                "SQL_FLAG_SCOPE_DATABASE",
                "SQL_FLAG_SCOPE_CONNECTION_POOL"
              ]
            }
          },
          "response": {
            "$ref": "FlagsListResponse"
          },
          "path": "v1/flags"
        }
      }
    },
    "sslCerts": {
      "methods": {
        "get": {
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "id": "sql.sslCerts.get",
          "parameterOrder": [
            "project",
            "instance",
            "sha1Fingerprint"
          ],
          "description": "Retrieves a particular SSL certificate. Does not include the private key (required for usage). The private key must be saved from the response to initial creation.",
          "flatPath": "v1/projects/{project}/instances/{instance}/sslCerts/{sha1Fingerprint}",
          "httpMethod": "GET",
          "parameters": {
            "project": {
              "location": "path",
              "required": true,
              "description": "Project ID of the project that contains the instance.",
              "type": "string"
            },
            "sha1Fingerprint": {
              "location": "path",
              "required": true,
              "description": "Sha1 FingerPrint.",
              "type": "string"
            },
            "instance": {
              "description": "Cloud SQL instance ID. This does not include the project ID.",
              "type": "string",
              "location": "path",
              "required": true
            }
          },
          "path": "v1/projects/{project}/instances/{instance}/sslCerts/{sha1Fingerprint}",
          "response": {
            "$ref": "SslCert"
          }
        },
        "insert": {
          "path": "v1/projects/{project}/instances/{instance}/sslCerts",
          "response": {
            "$ref": "SslCertsInsertResponse"
          },
          "parameters": {
            "project": {
              "location": "path",
              "required": true,
              "description": "Project ID of the project that contains the instance.",
              "type": "string"
            },
            "instance": {
              "location": "path",
              "required": true,
              "description": "Cloud SQL instance ID. This does not include the project ID.",
              "type": "string"
            }
          },
          "request": {
            "$ref": "SslCertsInsertRequest"
          },
          "id": "sql.sslCerts.insert",
          "parameterOrder": [
            "project",
            "instance"
          ],
          "description": "Creates an SSL certificate and returns it along with the private key and server certificate authority. The new certificate will not be usable until the instance is restarted.",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "httpMethod": "POST",
          "flatPath": "v1/projects/{project}/instances/{instance}/sslCerts"
        },
        "delete": {
          "response": {
            "$ref": "Operation"
          },
          "path": "v1/projects/{project}/instances/{instance}/sslCerts/{sha1Fingerprint}",
          "parameters": {
            "instance": {
              "location": "path",
              "required": true,
              "description": "Cloud SQL instance ID. This does not include the project ID.",
              "type": "string"
            },
            "sha1Fingerprint": {
              "location": "path",
              "required": true,
              "description": "Sha1 FingerPrint.",
              "type": "string"
            },
            "project": {
              "description": "Project ID of the project that contains the instance.",
              "type": "string",
              "location": "path",
              "required": true
            }
          },
          "httpMethod": "DELETE",
          "flatPath": "v1/projects/{project}/instances/{instance}/sslCerts/{sha1Fingerprint}",
          "parameterOrder": [
            "project",
            "instance",
            "sha1Fingerprint"
          ],
          "description": "Deletes the SSL certificate. For First Generation instances, the certificate remains valid until the instance is restarted.",
          "id": "sql.sslCerts.delete",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ]
        },
        "createEphemeral": {
          "response": {
            "$ref": "SslCert"
          },
          "path": "v1/projects/{project}/instances/{instance}/createEphemeral",
          "parameters": {
            "project": {
              "location": "path",
              "required": true,
              "description": "Project ID of the Cloud SQL project.",
              "type": "string"
            },
            "instance": {
              "location": "path",
              "required": true,
              "description": "Cloud SQL instance ID. This does not include the project ID.",
              "type": "string"
            }
          },
          "request": {
            "$ref": "SslCertsCreateEphemeralRequest"
          },
          "parameterOrder": [
            "project",
            "instance"
          ],
          "description": "Generates a short-lived X509 certificate containing the provided public key and signed by a private key specific to the target instance. Users may use the certificate to authenticate as themselves when connecting to the database.",
          "id": "sql.sslCerts.createEphemeral",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "httpMethod": "POST",
          "flatPath": "v1/projects/{project}/instances/{instance}/createEphemeral"
        },
        "list": {
          "path": "v1/projects/{project}/instances/{instance}/sslCerts",
          "response": {
            "$ref": "SslCertsListResponse"
          },
          "parameters": {
            "project": {
              "location": "path",
              "required": true,
              "description": "Project ID of the project that contains the instance.",
              "type": "string"
            },
            "instance": {
              "description": "Cloud SQL instance ID. This does not include the project ID.",
              "type": "string",
              "location": "path",
              "required": true
            }
          },
          "httpMethod": "GET",
          "flatPath": "v1/projects/{project}/instances/{instance}/sslCerts",
          "id": "sql.sslCerts.list",
          "parameterOrder": [
            "project",
            "instance"
          ],
          "description": "Lists all of the current SSL certificates for the instance.",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ]
        }
      }
    },
    "tiers": {
      "methods": {
        "list": {
          "parameterOrder": [
            "project"
          ],
          "description": "Lists all available machine types (tiers) for Cloud SQL, for example, `db-custom-1-3840`. For more information, see https://cloud.google.com/sql/pricing.",
          "id": "sql.tiers.list",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "httpMethod": "GET",
          "flatPath": "v1/projects/{project}/tiers",
          "response": {
            "$ref": "TiersListResponse"
          },
          "path": "v1/projects/{project}/tiers",
          "parameters": {
            "project": {
              "description": "Project ID of the project for which to list tiers.",
              "type": "string",
              "location": "path",
              "required": true
            }
          }
        }
      }
    },
    "connect": {
      "methods": {
        "resolve": {
          "path": "v1/locations/{location}/dns/{dnsName}:resolveConnectSettings",
          "response": {
            "$ref": "ConnectSettings"
          },
          "parameters": {
            "location": {
              "description": "Required. The region of the instance.",
              "type": "string",
              "location": "path",
              "required": true
            },
            "dnsName": {
              "description": "Required. Cloud SQL instance ID. This does not include the project ID.",
              "type": "string",
              "location": "path",
              "required": true
            }
          },
          "id": "sql.connect.resolve",
          "parameterOrder": [
            "location",
            "dnsName"
          ],
          "description": "Retrieves connect settings about a Cloud SQL instance using the instance DNS name.",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "httpMethod": "GET",
          "flatPath": "v1/locations/{location}/dns/{dnsName}:resolveConnectSettings"
        },
        "get": {
          "path": "v1/projects/{project}/instances/{instance}/connectSettings",
          "response": {
            "$ref": "ConnectSettings"
          },
          "parameters": {
            "instance": {
              "location": "path",
              "required": true,
              "description": "Cloud SQL instance ID. This does not include the project ID.",
              "type": "string"
            },
            "project": {
              "description": "Project ID of the project that contains the instance.",
              "type": "string",
              "location": "path",
              "required": true
            },
            "readTime": {
              "format": "google-datetime",
              "location": "query",
              "description": "Optional. Optional snapshot read timestamp to trade freshness for performance.",
              "type": "string"
            }
          },
          "id": "sql.connect.get",
          "parameterOrder": [
            "project",
            "instance"
          ],
          "description": "Retrieves connect settings about a Cloud SQL instance.",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "httpMethod": "GET",
          "flatPath": "v1/projects/{project}/instances/{instance}/connectSettings"
        },
        "generateEphemeralCert": {
          "request": {
            "$ref": "GenerateEphemeralCertRequest"
          },
          "parameters": {
            "project": {
              "description": "Project ID of the project that contains the instance.",
              "type": "string",
              "location": "path",
              "required": true
            },
            "instance": {
              "location": "path",
              "required": true,
              "description": "Cloud SQL instance ID. This does not include the project ID.",
              "type": "string"
            }
          },
          "response": {
            "$ref": "GenerateEphemeralCertResponse"
          },
          "path": "v1/projects/{project}/instances/{instance}:generateEphemeralCert",
          "flatPath": "v1/projects/{project}/instances/{instance}:generateEphemeralCert",
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "parameterOrder": [
            "project",
            "instance"
          ],
          "description": "Generates a short-lived X509 certificate containing the provided public key and signed by a private key specific to the target instance. Users may use the certificate to authenticate as themselves when connecting to the database.",
          "id": "sql.connect.generateEphemeral"
        }
      }
    },
    "instances": {
      "methods": {
        "restoreBackup": {
          "parameterOrder": [
            "project",
            "instance"
          ],
          "description": "Restores a backup of a Cloud SQL instance. Using this operation might cause your instance to restart.",
          "id": "sql.instances.restoreBackup",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "httpMethod": "POST",
          "flatPath": "v1/projects/{project}/instances/{instance}/restoreBackup",
          "response": {
            "$ref": "Operation"
          },
          "path": "v1/projects/{project}/instances/{instance}/restoreBackup",
          "parameters": {
            "project": {
              "location": "path",
              "required": true,
              "description": "Project ID of the project that contains the instance.",
              "type": "string"
            },
            "instance": {
              "location": "path",
              "required": true,
              "description": "Cloud SQL instance ID. This does not include the project ID.",
              "type": "string"
            }
          },
          "request": {
            "$ref": "InstancesRestoreBackupRequest"
          }
        },
        "clone": {
          "request": {
            "$ref": "InstancesCloneRequest"
          },
          "response": {
            "$ref": "Operation"
          },
          "path": "v1/projects/{project}/instances/{instance}/clone",
          "parameters": {
            "project": {
              "location": "path",
              "required": true,
              "description": "Required. Project ID of the source Cloud SQL instance.",
              "type": "string"
            },
            "instance": {
              "description": "Required. The ID of the Cloud SQL instance to be cloned (source). This does not include the project ID.",
              "type": "string",
              "location": "path",
              "required": true
            }
          },
          "httpMethod": "POST",
          "flatPath": "v1/projects/{project}/instances/{instance}/clone",
          "parameterOrder": [
            "project",
            "instance"
          ],
          "description": "Creates a Cloud SQL instance as a clone of the source instance. Using this operation might cause your instance to restart.",
          "id": "sql.instances.clone",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ]
        },
        "insert": {
          "id": "sql.instances.insert",
          "parameterOrder": [
            "project"
          ],
          "description": "Creates a new Cloud SQL instance.",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "httpMethod": "POST",
          "flatPath": "v1/projects/{project}/instances",
          "path": "v1/projects/{project}/instances",
          "response": {
            "$ref": "Operation"
          },
          "parameters": {
            "project": {
              "location": "path",
              "required": true,
              "description": "Project ID of the project to which the newly created Cloud SQL instances should belong.",
              "type": "string"
            }
          },
          "request": {
            "$ref": "DatabaseInstance"
          }
        },
        "rotateServerCa": {
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "id": "sql.instances.rotateServerCa",
          "parameterOrder": [
            "project",
            "instance"
          ],
          "description": "Rotates the server certificate to one signed by the Certificate Authority (CA) version previously added with the addServerCA method. For instances that have enabled Certificate Authority Service (CAS) based server CA, use RotateServerCertificate to rotate the server certificate.",
          "flatPath": "v1/projects/{project}/instances/{instance}/rotateServerCa",
          "httpMethod": "POST",
          "parameters": {
            "project": {
              "description": "Project ID of the project that contains the instance.",
              "type": "string",
              "location": "path",
              "required": true
            },
            "instance": {
              "description": "Cloud SQL instance ID. This does not include the project ID.",
              "type": "string",
              "location": "path",
              "required": true
            }
          },
          "path": "v1/projects/{project}/instances/{instance}/rotateServerCa",
          "response": {
            "$ref": "Operation"
          },
          "request": {
            "$ref": "InstancesRotateServerCaRequest"
          }
        },
        "stopReplica": {
          "path": "v1/projects/{project}/instances/{instance}/stopReplica",
          "response": {
            "$ref": "Operation"
          },
          "parameters": {
            "instance": {
              "description": "Cloud SQL read replica instance name.",
              "type": "string",
              "location": "path",
              "required": true
            },
            "project": {
              "location": "path",
              "required": true,
              "description": "ID of the project that contains the read replica.",
              "type": "string"
            }
          },
          "id": "sql.instances.stopReplica",
          "parameterOrder": [
            "project",
            "instance"
          ],
          "description": "Stops the replication in the read replica instance.",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "httpMethod": "POST",
          "flatPath": "v1/projects/{project}/instances/{instance}/stopReplica"
        },
        "addServerCa": {
          "parameterOrder": [
            "project",
            "instance"
          ],
          "description": "Adds a new trusted Certificate Authority (CA) version for the specified instance. Required to prepare for a certificate rotation. If a CA version was previously added but never used in a certificate rotation, this operation replaces that version. There cannot be more than one CA version waiting to be rotated in. For instances that have enabled Certificate Authority Service (CAS) based server CA, use AddServerCertificate to add a new server certificate.",
          "id": "sql.instances.addServerCa",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "httpMethod": "POST",
          "flatPath": "v1/projects/{project}/instances/{instance}/addServerCa",
          "response": {
            "$ref": "Operation"
          },
          "path": "v1/projects/{project}/instances/{instance}/addServerCa",
          "parameters": {
            "instance": {
              "location": "path",
              "required": true,
              "description": "Cloud SQL instance ID. This does not include the project ID.",
              "type": "string"
            },
            "project": {
              "description": "Project ID of the project that contains the instance.",
              "type": "string",
              "location": "path",
              "required": true
            }
          }
        },
        "import": {
          "response": {
            "$ref": "Operation"
          },
          "path": "v1/projects/{project}/instances/{instance}/import",
          "parameters": {
            "project": {
              "location": "path",
              "required": true,
              "description": "Project ID of the project that contains the instance.",
              "type": "string"
            },
            "instance": {
              "location": "path",
              "required": true,
              "description": "Cloud SQL instance ID. This does not include the project ID.",
              "type": "string"
            }
          },
          "request": {
            "$ref": "InstancesImportRequest"
          },
          "parameterOrder": [
            "project",
            "instance"
          ],
          "description": "Imports data into a Cloud SQL instance from a SQL dump or CSV file in Cloud Storage.",
          "id": "sql.instances.import",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "httpMethod": "POST",
          "flatPath": "v1/projects/{project}/instances/{instance}/import"
        },
        "resetSslConfig": {
          "path": "v1/projects/{project}/instances/{instance}/resetSslConfig",
          "response": {
            "$ref": "Operation"
          },
          "parameters": {
            "instance": {
              "location": "path",
              "required": true,
              "description": "Cloud SQL instance ID. This does not include the project ID.",
              "type": "string"
            },
            "project": {
              "location": "path",
              "required": true,
              "description": "Project ID of the project that contains the instance.",
              "type": "string"
            },
            "mode": {
              "enumDescriptions": [
                "Reset SSL mode is not specified.",
                "Refresh all TLS configs. This is the default behaviour.",
                "Refreshes the replication-related TLS configuration settings provided by the primary instance. Not applicable to on-premises replication instances."
              ],
              "enum": [
                "RESET_SSL_MODE_UNSPECIFIED",
                "ALL",
                "SYNC_FROM_PRIMARY"
              ],
              "location": "query",
              "description": "Optional. Reset SSL mode to use.",
              "type": "string"
            }
          },
          "id": "sql.instances.resetSslConfig",
          "parameterOrder": [
            "project",
            "instance"
          ],
          "description": "Deletes all client certificates and generates a new server SSL certificate for the instance.",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "httpMethod": "POST",
          "flatPath": "v1/projects/{project}/instances/{instance}/resetSslConfig"
        },
        "delete": {
          "id": "sql.instances.delete",
          "parameterOrder": [
            "project",
            "instance"
          ],
          "description": "Deletes a Cloud SQL instance.",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "httpMethod": "DELETE",
          "flatPath": "v1/projects/{project}/instances/{instance}",
          "path": "v1/projects/{project}/instances/{instance}",
          "response": {
            "$ref": "Operation"
          },
          "parameters": {
            "enableFinalBackup": {
              "location": "query",
              "description": "Flag to opt-in for final backup. By default, it is turned off.",
              "type": "boolean"
            },
            "finalBackupTtlDays": {
              "location": "query",
              "description": "Optional. Retention period of the final backup.",
              "type": "string",
              "format": "int64"
            },
            "project": {
              "description": "Project ID of the project that contains the instance to be deleted.",
              "type": "string",
              "location": "path",
              "required": true
            },
            "finalBackupExpiryTime": {
              "format": "google-datetime",
              "description": "Optional. Final Backup expiration time. Timestamp in UTC of when this resource is considered expired.",
              "type": "string",
              "location": "query"
            },
            "instance": {
              "description": "Cloud SQL instance ID. This does not include the project ID.",
              "type": "string",
              "location": "path",
              "required": true
            },
            "finalBackupDescription": {
              "location": "query",
              "description": "Optional. The description of the final backup.",
              "type": "string"
            }
          }
        },
        "promoteReplica": {
          "flatPath": "v1/projects/{project}/instances/{instance}/promoteReplica",
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "id": "sql.instances.promoteReplica",
          "parameterOrder": [
            "project",
            "instance"
          ],
          "description": "Promotes the read replica instance to be an independent Cloud SQL primary instance. Using this operation might cause your instance to restart.",
          "parameters": {
            "project": {
              "description": "ID of the project that contains the read replica.",
              "type": "string",
              "location": "path",
              "required": true
            },
            "failover": {
              "location": "query",
              "description": "Set to true to invoke a replica failover to the DR replica. As part of replica failover, the promote operation attempts to add the original primary instance as a replica of the promoted DR replica when the original primary instance comes back online. If set to false or not specified, then the original primary instance becomes an independent Cloud SQL primary instance.",
              "type": "boolean"
            },
            "instance": {
              "location": "path",
              "required": true,
              "description": "Cloud SQL read replica instance name.",
              "type": "string"
            }
          },
          "path": "v1/projects/{project}/instances/{instance}/promoteReplica",
          "response": {
            "$ref": "Operation"
          }
        },
        "list": {
          "httpMethod": "GET",
          "flatPath": "v1/projects/{project}/instances",
          "parameterOrder": [
            "project"
          ],
          "description": "Lists instances under a given project.",
          "id": "sql.instances.list",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "response": {
            "$ref": "InstancesListResponse"
          },
          "path": "v1/projects/{project}/instances",
          "parameters": {
            "project": {
              "location": "path",
              "required": true,
              "description": "Project ID of the project for which to list Cloud SQL instances.",
              "type": "string"
            },
            "filter": {
              "description": "A filter expression that filters resources listed in the response. The expression is in the form of field:value. For example, 'instanceType:CLOUD_SQL_INSTANCE'. Fields can be nested as needed as per their JSON representation, such as 'settings.userLabels.auto_start:true'. Multiple filter queries are space-separated. For example. 'state:RUNNABLE instanceType:CLOUD_SQL_INSTANCE'. By default, each expression is an AND expression. However, you can include AND and OR expressions explicitly.",
              "type": "string",
              "location": "query"
            },
            "pageToken": {
              "location": "query",
              "description": "A previously-returned page token representing part of the larger set of results to view.",
              "type": "string"
            },
            "maxResults": {
              "description": "The maximum number of instances to return. The service may return fewer than this value. If unspecified, at most 500 instances are returned. The maximum value is 1000; values above 1000 are coerced to 1000.",
              "type": "integer",
              "location": "query",
              "format": "uint32"
            }
          }
        },
        "RotateServerCertificate": {
          "parameters": {
            "instance": {
              "description": "Required. Cloud SQL instance ID. This does not include the project ID.",
              "type": "string",
              "location": "path",
              "required": true
            },
            "project": {
              "description": "Required. Project ID of the project that contains the instance.",
              "type": "string",
              "location": "path",
              "required": true
            }
          },
          "path": "v1/projects/{project}/instances/{instance}/rotateServerCertificate",
          "response": {
            "$ref": "Operation"
          },
          "request": {
            "$ref": "InstancesRotateServerCertificateRequest"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "id": "sql.instances.RotateServerCertificate",
          "parameterOrder": [
            "project",
            "instance"
          ],
          "description": "Rotates the server certificate version to one previously added with the addServerCertificate method. For instances not using Certificate Authority Service (CAS) server CA, use RotateServerCa instead.",
          "flatPath": "v1/projects/{project}/instances/{instance}/rotateServerCertificate",
          "httpMethod": "POST"
        },
        "restart": {
          "parameters": {
            "project": {
              "location": "path",
              "required": true,
              "description": "Project ID of the project that contains the instance to be restarted.",
              "type": "string"
            },
            "instance": {
              "location": "path",
              "required": true,
              "description": "Cloud SQL instance ID. This does not include the project ID.",
              "type": "string"
            }
          },
          "path": "v1/projects/{project}/instances/{instance}/restart",
          "response": {
            "$ref": "Operation"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "id": "sql.instances.restart",
          "parameterOrder": [
            "project",
            "instance"
          ],
          "description": "Restarts a Cloud SQL instance.",
          "flatPath": "v1/projects/{project}/instances/{instance}/restart",
          "httpMethod": "POST"
        },
        "truncateLog": {
          "id": "sql.instances.truncateLog",
          "parameterOrder": [
            "project",
            "instance"
          ],
          "description": "Truncate MySQL general and slow query log tables MySQL only.",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "httpMethod": "POST",
          "flatPath": "v1/projects/{project}/instances/{instance}/truncateLog",
          "path": "v1/projects/{project}/instances/{instance}/truncateLog",
          "response": {
            "$ref": "Operation"
          },
          "parameters": {
            "instance": {
              "description": "Cloud SQL instance ID. This does not include the project ID.",
              "type": "string",
              "location": "path",
              "required": true
            },
            "project": {
              "description": "Project ID of the Cloud SQL project.",
              "type": "string",
              "location": "path",
              "required": true
            }
          },
          "request": {
            "$ref": "InstancesTruncateLogRequest"
          }
        },
        "pointInTimeRestore": {
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "parameterOrder": [
            "parent"
          ],
          "description": "Point in time restore for an instance managed by Google Cloud Backup and Disaster Recovery.",
          "id": "sql.instances.pointInTimeRestore",
          "flatPath": "v1/projects/{projectsId}:pointInTimeRestore",
          "httpMethod": "POST",
          "parameters": {
            "parent": {
              "description": "Required. The parent resource where you created this instance. Format: projects/{project}",
              "type": "string",
              "pattern": "^projects/[^/]+$",
              "location": "path",
              "required": true
            }
          },
          "response": {
            "$ref": "Operation"
          },
          "path": "v1/{+parent}:pointInTimeRestore",
          "request": {
            "$ref": "PointInTimeRestoreContext"
          }
        },
        "preCheckMajorVersionUpgrade": {
          "parameters": {
            "instance": {
              "description": "Required. Cloud SQL instance ID. This does not include the project ID.",
              "type": "string",
              "location": "path",
              "required": true
            },
            "project": {
              "description": "Required. Project ID of the project that contains the instance.",
              "type": "string",
              "location": "path",
              "required": true
            }
          },
          "response": {
            "$ref": "Operation"
          },
          "path": "v1/projects/{project}/instances/{instance}/preCheckMajorVersionUpgrade",
          "request": {
            "$ref": "InstancesPreCheckMajorVersionUpgradeRequest"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "parameterOrder": [
            "project",
            "instance"
          ],
          "description": "Execute MVU Pre-checks",
          "id": "sql.instances.preCheckMajorVersionUpgrade",
          "flatPath": "v1/projects/{project}/instances/{instance}/preCheckMajorVersionUpgrade",
          "httpMethod": "POST"
        },
        "failover": {
          "httpMethod": "POST",
          "flatPath": "v1/projects/{project}/instances/{instance}/failover",
          "parameterOrder": [
            "project",
            "instance"
          ],
          "description": "Initiates a manual failover of a high availability (HA) primary instance to a standby instance, which becomes the primary instance. Users are then rerouted to the new primary. For more information, see the [Overview of high availability](https://cloud.google.com/sql/docs/mysql/high-availability) page in the Cloud SQL documentation. If using Legacy HA (MySQL only), this causes the instance to failover to its failover replica instance.",
          "id": "sql.instances.failover",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "request": {
            "$ref": "InstancesFailoverRequest"
          },
          "response": {
            "$ref": "Operation"
          },
          "path": "v1/projects/{project}/instances/{instance}/failover",
          "parameters": {
            "instance": {
              "location": "path",
              "required": true,
              "description": "Cloud SQL instance ID. This does not include the project ID.",
              "type": "string"
            },
            "project": {
              "description": "ID of the project that contains the read replica.",
              "type": "string",
              "location": "path",
              "required": true
            }
          }
        },
        "patch": {
          "request": {
            "$ref": "DatabaseInstance"
          },
          "parameters": {
            "instance": {
              "location": "path",
              "required": true,
              "description": "Cloud SQL instance ID. This does not include the project ID.",
              "type": "string"
            },
            "reconcilePscNetworking": {
              "description": "Optional. Set PSC config to the same value as the existing config to reconcile the PSC networking.",
              "type": "boolean",
              "location": "query"
            },
            "reconcilePscNetworkingForce": {
              "location": "query",
              "description": "Optional. Set PSC config to the same value as the existing config and force reconcile the PSC networking.",
              "type": "boolean"
            },
            "project": {
              "description": "Project ID of the project that contains the instance.",
              "type": "string",
              "location": "path",
              "required": true
            }
          },
          "response": {
            "$ref": "Operation"
          },
          "path": "v1/projects/{project}/instances/{instance}",
          "flatPath": "v1/projects/{project}/instances/{instance}",
          "httpMethod": "PATCH",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "parameterOrder": [
            "project",
            "instance"
          ],
          "description": "Partially updates settings of a Cloud SQL instance by merging the request with the current configuration. This method supports patch semantics.",
          "id": "sql.instances.patch"
        },
        "demote": {
          "flatPath": "v1/projects/{project}/instances/{instance}/demote",
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "id": "sql.instances.demote",
          "parameterOrder": [
            "project",
            "instance"
          ],
          "description": "Demotes an existing standalone instance to be a Cloud SQL read replica for an external database server.",
          "request": {
            "$ref": "InstancesDemoteRequest"
          },
          "parameters": {
            "instance": {
              "description": "Required. Cloud SQL instance name.",
              "type": "string",
              "location": "path",
              "required": true
            },
            "project": {
              "description": "Required. ID of the project that contains the instance.",
              "type": "string",
              "location": "path",
              "required": true
            }
          },
          "path": "v1/projects/{project}/instances/{instance}/demote",
          "response": {
            "$ref": "Operation"
          }
        },
        "export": {
          "request": {
            "$ref": "InstancesExportRequest"
          },
          "path": "v1/projects/{project}/instances/{instance}/export",
          "response": {
            "$ref": "Operation"
          },
          "parameters": {
            "project": {
              "location": "path",
              "required": true,
              "description": "Project ID of the project that contains the instance to be exported.",
              "type": "string"
            },
            "instance": {
              "description": "Cloud SQL instance ID. This does not include the project ID.",
              "type": "string",
              "location": "path",
              "required": true
            }
          },
          "httpMethod": "POST",
          "flatPath": "v1/projects/{project}/instances/{instance}/export",
          "id": "sql.instances.export",
          "parameterOrder": [
            "project",
            "instance"
          ],
          "description": "Exports data from a Cloud SQL instance to a Cloud Storage bucket as a SQL dump or CSV file.",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ]
        },
        "addEntraIdCertificate": {
          "flatPath": "v1/projects/{project}/instances/{instance}/addEntraIdCertificate",
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "parameterOrder": [
            "project",
            "instance"
          ],
          "description": "Adds a new Entra ID certificate for the specified instance. If an Entra ID certificate was previously added but never used in a certificate rotation, this operation replaces that version.",
          "id": "sql.instances.addEntraIdCertificate",
          "parameters": {
            "project": {
              "description": "Required. Project ID of the project that contains the instance.",
              "type": "string",
              "location": "path",
              "required": true
            },
            "instance": {
              "location": "path",
              "required": true,
              "description": "Required. Cloud SQL instance ID. This does not include the project ID.",
              "type": "string"
            }
          },
          "response": {
            "$ref": "Operation"
          },
          "path": "v1/projects/{project}/instances/{instance}/addEntraIdCertificate"
        },
        "demoteMaster": {
          "request": {
            "$ref": "InstancesDemoteMasterRequest"
          },
          "path": "v1/projects/{project}/instances/{instance}/demoteMaster",
          "response": {
            "$ref": "Operation"
          },
          "parameters": {
            "instance": {
              "location": "path",
              "required": true,
              "description": "Cloud SQL instance name.",
              "type": "string"
            },
            "project": {
              "description": "ID of the project that contains the instance.",
              "type": "string",
              "location": "path",
              "required": true
            }
          },
          "httpMethod": "POST",
          "flatPath": "v1/projects/{project}/instances/{instance}/demoteMaster",
          "id": "sql.instances.demoteMaster",
          "parameterOrder": [
            "project",
            "instance"
          ],
          "description": "Demotes the stand-alone instance to be a Cloud SQL read replica for an external database server.",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ]
        },
        "executeSql": {
          "flatPath": "v1/projects/{project}/instances/{instance}/executeSql",
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "parameterOrder": [
            "project",
            "instance"
          ],
          "description": "Execute SQL statements.",
          "id": "sql.instances.executeSql",
          "request": {
            "$ref": "ExecuteSqlPayload"
          },
          "parameters": {
            "instance": {
              "description": "Required. Database instance ID. This does not include the project ID.",
              "type": "string",
              "location": "path",
              "required": true
            },
            "project": {
              "location": "path",
              "required": true,
              "description": "Required. Project ID of the project that contains the instance.",
              "type": "string"
            }
          },
          "response": {
            "$ref": "SqlInstancesExecuteSqlResponse"
          },
          "path": "v1/projects/{project}/instances/{instance}/executeSql"
        },
        "acquireSsrsLease": {
          "response": {
            "$ref": "SqlInstancesAcquireSsrsLeaseResponse"
          },
          "path": "v1/projects/{project}/instances/{instance}/acquireSsrsLease",
          "parameters": {
            "project": {
              "location": "path",
              "required": true,
              "description": "Required. Project ID of the project that contains the instance (Example: project-id).",
              "type": "string"
            },
            "instance": {
              "location": "path",
              "required": true,
              "description": "Required. Cloud SQL instance ID. This doesn't include the project ID. It's composed of lowercase letters, numbers, and hyphens, and it must start with a letter. The total length must be 98 characters or less (Example: instance-id).",
              "type": "string"
            }
          },
          "request": {
            "$ref": "InstancesAcquireSsrsLeaseRequest"
          },
          "parameterOrder": [
            "project",
            "instance"
          ],
          "description": "Acquire a lease for the setup of SQL Server Reporting Services (SSRS).",
          "id": "sql.instances.acquireSsrsLease",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "httpMethod": "POST",
          "flatPath": "v1/projects/{project}/instances/{instance}/acquireSsrsLease"
        },
        "update": {
          "request": {
            "$ref": "DatabaseInstance"
          },
          "path": "v1/projects/{project}/instances/{instance}",
          "response": {
            "$ref": "Operation"
          },
          "parameters": {
            "instance": {
              "description": "Cloud SQL instance ID. This does not include the project ID.",
              "type": "string",
              "location": "path",
              "required": true
            },
            "project": {
              "description": "Project ID of the project that contains the instance.",
              "type": "string",
              "location": "path",
              "required": true
            }
          },
          "httpMethod": "PUT",
          "flatPath": "v1/projects/{project}/instances/{instance}",
          "id": "sql.instances.update",
          "parameterOrder": [
            "project",
            "instance"
          ],
          "description": "Updates settings of a Cloud SQL instance. Using this operation might cause your instance to restart.",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ]
        },
        "reencrypt": {
          "request": {
            "$ref": "InstancesReencryptRequest"
          },
          "parameters": {
            "project": {
              "description": "ID of the project that contains the instance.",
              "type": "string",
              "location": "path",
              "required": true
            },
            "instance": {
              "description": "Cloud SQL instance ID. This does not include the project ID.",
              "type": "string",
              "location": "path",
              "required": true
            }
          },
          "response": {
            "$ref": "Operation"
          },
          "path": "v1/projects/{project}/instances/{instance}/reencrypt",
          "flatPath": "v1/projects/{project}/instances/{instance}/reencrypt",
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "parameterOrder": [
            "project",
            "instance"
          ],
          "description": "Reencrypt CMEK instance with latest key version.",
          "id": "sql.instances.reencrypt"
        },
        "listServerCas": {
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "parameterOrder": [
            "project",
            "instance"
          ],
          "description": "Lists all of the trusted Certificate Authorities (CAs) for the specified instance. There can be up to three CAs listed: the CA that was used to sign the certificate that is currently in use, a CA that has been added but not yet used to sign a certificate, and a CA used to sign a certificate that has previously rotated out.",
          "id": "sql.instances.listServerCas",
          "flatPath": "v1/projects/{project}/instances/{instance}/listServerCas",
          "httpMethod": "GET",
          "parameters": {
            "project": {
              "location": "path",
              "required": true,
              "description": "Project ID of the project that contains the instance.",
              "type": "string"
            },
            "instance": {
              "description": "Cloud SQL instance ID. This does not include the project ID.",
              "type": "string",
              "location": "path",
              "required": true
            }
          },
          "response": {
            "$ref": "InstancesListServerCasResponse"
          },
          "path": "v1/projects/{project}/instances/{instance}/listServerCas"
        },
        "startReplica": {
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "parameterOrder": [
            "project",
            "instance"
          ],
          "description": "Starts the replication in the read replica instance.",
          "id": "sql.instances.startReplica",
          "flatPath": "v1/projects/{project}/instances/{instance}/startReplica",
          "httpMethod": "POST",
          "parameters": {
            "project": {
              "location": "path",
              "required": true,
              "description": "ID of the project that contains the read replica.",
              "type": "string"
            },
            "instance": {
              "description": "Cloud SQL read replica instance name.",
              "type": "string",
              "location": "path",
              "required": true
            }
          },
          "response": {
            "$ref": "Operation"
          },
          "path": "v1/projects/{project}/instances/{instance}/startReplica"
        },
        "get": {
          "parameters": {
            "project": {
              "location": "path",
              "required": true,
              "description": "Required. Project ID of the project that contains the instance.",
              "type": "string"
            },
            "instance": {
              "location": "path",
              "required": true,
              "description": "Required. Database instance ID. This does not include the project ID.",
              "type": "string"
            }
          },
          "response": {
            "$ref": "DatabaseInstance"
          },
          "path": "v1/projects/{project}/instances/{instance}",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "parameterOrder": [
            "project",
            "instance"
          ],
          "description": "Retrieves a resource containing information about a Cloud SQL instance.",
          "id": "sql.instances.get",
          "flatPath": "v1/projects/{project}/instances/{instance}",
          "httpMethod": "GET"
        },
        "addServerCertificate": {
          "response": {
            "$ref": "Operation"
          },
          "path": "v1/projects/{project}/instances/{instance}/addServerCertificate",
          "parameters": {
            "project": {
              "location": "path",
              "required": true,
              "description": "Project ID of the project that contains the instance.",
              "type": "string"
            },
            "instance": {
              "location": "path",
              "required": true,
              "description": "Cloud SQL instance ID. This does not include the project ID.",
              "type": "string"
            }
          },
          "parameterOrder": [
            "project",
            "instance"
          ],
          "description": "Add a new trusted server certificate version for the specified instance using Certificate Authority Service (CAS) server CA. Required to prepare for a certificate rotation. If a server certificate version was previously added but never used in a certificate rotation, this operation replaces that version. There cannot be more than one certificate version waiting to be rotated in. For instances not using CAS server CA, use AddServerCa instead.",
          "id": "sql.instances.addServerCertificate",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "httpMethod": "POST",
          "flatPath": "v1/projects/{project}/instances/{instance}/addServerCertificate"
        },
        "releaseSsrsLease": {
          "httpMethod": "POST",
          "flatPath": "v1/projects/{project}/instances/{instance}/releaseSsrsLease",
          "id": "sql.instances.releaseSsrsLease",
          "parameterOrder": [
            "project",
            "instance"
          ],
          "description": "Release a lease for the setup of SQL Server Reporting Services (SSRS).",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "path": "v1/projects/{project}/instances/{instance}/releaseSsrsLease",
          "response": {
            "$ref": "SqlInstancesReleaseSsrsLeaseResponse"
          },
          "parameters": {
            "project": {
              "location": "path",
              "required": true,
              "description": "Required. The project ID that contains the instance.",
              "type": "string"
            },
            "instance": {
              "location": "path",
              "required": true,
              "description": "Required. The Cloud SQL instance ID. This doesn't include the project ID. The instance ID contains lowercase letters, numbers, and hyphens, and it must start with a letter. This ID can have a maximum length of 98 characters.",
              "type": "string"
            }
          }
        },
        "RotateEntraIdCertificate": {
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "id": "sql.instances.RotateEntraIdCertificate",
          "parameterOrder": [
            "project",
            "instance"
          ],
          "description": "Rotates the server certificate version to one previously added with the addEntraIdCertificate method.",
          "flatPath": "v1/projects/{project}/instances/{instance}/rotateEntraIdCertificate",
          "httpMethod": "POST",
          "parameters": {
            "project": {
              "description": "Required. Project ID of the project that contains the instance.",
              "type": "string",
              "location": "path",
              "required": true
            },
            "instance": {
              "location": "path",
              "required": true,
              "description": "Required. Cloud SQL instance ID. This does not include the project ID.",
              "type": "string"
            }
          },
[...]
