{
  "discoveryVersion": "v1",
  "ownerName": "Google",
  "parameters": {
    "fields": {
      "location": "query",
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "location": "query",
      "type": "string"
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "alt": {
      "location": "query",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "type": "string",
      "default": "json",
      "description": "Data format for response."
    },
    "key": {
      "location": "query",
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "prettyPrint": {
      "default": "true",
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean",
      "location": "query"
    },
    "callback": {
      "description": "JSONP",
      "location": "query",
      "type": "string"
    },
    "upload_protocol": {
      "location": "query",
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "$.xgafv": {
      "type": "string",
      "location": "query",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format."
    },
    "access_token": {
      "description": "OAuth access token.",
      "location": "query",
      "type": "string"
    }
  },
  "canonicalName": "SQL Admin",
  "name": "sqladmin",
  "revision": "20260819",
  "servicePath": "",
  "resources": {
    "backups": {
      "methods": {
        "getBackup": {
          "parameterOrder": [
            "name"
          ],
          "description": "Retrieves a resource containing information about a backup.",
          "httpMethod": "GET",
          "response": {
            "$ref": "Backup"
          },
          "path": "sql/v1beta4/{+name}",
          "flatPath": "sql/v1beta4/projects/{projectsId}/backups/{backupsId}",
          "parameters": {
            "name": {
              "description": "Required. The name of the backup to retrieve. Format: projects/{project}/backups/{backup}",
              "type": "string",
              "location": "path",
              "required": true,
              "pattern": "^projects/[^/]+/backups/[^/]+$"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "id": "sql.backups.getBackup"
        },
        "updateBackup": {
          "id": "sql.backups.updateBackup",
          "response": {
            "$ref": "Operation"
          },
          "parameters": {
            "updateMask": {
              "location": "query",
              "type": "string",
              "description": "The list of fields that you can update. You can update only the description and retention period of the final backup.",
              "format": "google-fieldmask"
            },
            "name": {
              "description": "Output only. The resource name of the backup. Format: projects/{project}/backups/{backup}.",
              "required": true,
              "pattern": "^projects/[^/]+/backups/[^/]+$",
              "location": "path",
              "type": "string"
            }
          },
          "flatPath": "sql/v1beta4/projects/{projectsId}/backups/{backupsId}",
          "parameterOrder": [
            "name"
          ],
          "request": {
            "$ref": "Backup"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "path": "sql/v1beta4/{+name}",
          "description": "Updates the retention period and the description of the backup. You can use this API to update final backups only.",
          "httpMethod": "PATCH"
        },
        "listBackups": {
          "response": {
            "$ref": "ListBackupsResponse"
          },
          "path": "sql/v1beta4/{+parent}/backups",
          "flatPath": "sql/v1beta4/projects/{projectsId}/backups",
          "description": "Lists all backups associated with the project.",
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "parameterOrder": [
            "parent"
          ],
          "parameters": {
            "pageToken": {
              "description": "A page token, received from a previous `ListBackups` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListBackups` must match the call that provided the page token.",
              "location": "query",
              "type": "string"
            },
            "filter": {
              "location": "query",
              "type": "string",
              "description": "Multiple filter queries are separated by spaces. For example, 'instance:abc AND type:FINAL, 'location:us', 'backupInterval.startTime>=1950-01-01T01:01:25.771Z'. You can filter by type, instance, backupInterval.startTime (creation time), or location."
            },
            "pageSize": {
              "type": "integer",
              "format": "int32",
              "description": "The maximum number of backups to return per response. The service might return fewer backups than this value. If a value for this parameter isn't specified, then, at most, 500 backups are returned. The maximum value is 2,000. Any values that you set, which are greater than 2,000, are changed to 2,000.",
              "location": "query"
            },
            "parent": {
              "required": true,
              "type": "string",
              "pattern": "^projects/[^/]+$",
              "location": "path",
              "description": "Required. The parent that owns this collection of backups. Format: projects/{project}"
            }
          },
          "id": "sql.backups.listBackups"
        },
        "createBackup": {
          "request": {
            "$ref": "Backup"
          },
          "id": "sql.backups.createBackup",
          "parameters": {
            "parent": {
              "type": "string",
              "required": true,
              "description": "Required. The parent resource where this backup is created. Format: projects/{project}",
              "pattern": "^projects/[^/]+$",
              "location": "path"
            }
          },
          "path": "sql/v1beta4/{+parent}/backups",
          "flatPath": "sql/v1beta4/projects/{projectsId}/backups",
          "response": {
            "$ref": "Operation"
          },
          "description": "Creates a backup for a Cloud SQL instance. This API can be used only to create on-demand backups.",
          "parameterOrder": [
            "parent"
          ],
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ]
        },
        "deleteBackup": {
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "path": "sql/v1beta4/{+name}",
          "description": "Deletes the backup.",
          "parameters": {
            "name": {
              "description": "Required. The name of the backup to delete. Format: projects/{project}/backups/{backup}",
              "required": true,
              "type": "string",
              "pattern": "^projects/[^/]+/backups/[^/]+$",
              "location": "path"
            }
          },
          "parameterOrder": [
            "name"
          ],
          "httpMethod": "DELETE",
          "id": "sql.backups.deleteBackup",
          "flatPath": "sql/v1beta4/projects/{projectsId}/backups/{backupsId}",
          "response": {
            "$ref": "Operation"
          }
        }
      }
    },
    "tiers": {
      "methods": {
        "list": {
          "description": "Lists all available machine types (tiers) for Cloud SQL, for example, `db-custom-1-3840`. For related information, see [Pricing](/sql/pricing).",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "id": "sql.tiers.list",
          "httpMethod": "GET",
          "parameterOrder": [
            "project"
          ],
          "parameters": {
            "project": {
              "description": "Project ID of the project for which to list tiers.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "response": {
            "$ref": "TiersListResponse"
          },
          "flatPath": "sql/v1beta4/projects/{project}/tiers",
          "path": "sql/v1beta4/projects/{project}/tiers"
        }
      }
    },
    "flags": {
      "methods": {
        "list": {
          "path": "sql/v1beta4/flags",
          "httpMethod": "GET",
          "description": "Lists all available database flags for Cloud SQL instances.",
          "id": "sql.flags.list",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "parameters": {
            "databaseVersion": {
              "description": "Database type and version you want to retrieve flags for. By default, this method returns flags for all database types and versions.",
              "location": "query",
              "type": "string"
            },
            "flagScope": {
              "description": "Optional. Specify the scope of flags to be returned by SqlFlagsListService. Return list of database flags if unspecified.",
              "enum": [
                "SQL_FLAG_SCOPE_UNSPECIFIED",
                "SQL_FLAG_SCOPE_DATABASE",
                "SQL_FLAG_SCOPE_CONNECTION_POOL"
              ],
              "enumDescriptions": [
                "Assume database flags if unspecified",
                "database flags",
                "connection pool configuration flags"
              ],
              "location": "query",
              "type": "string"
            }
          },
          "response": {
            "$ref": "FlagsListResponse"
          },
          "parameterOrder": [],
          "flatPath": "sql/v1beta4/flags"
        }
      }
    },
    "blueGreenDeployments": {
      "methods": {
        "list": {
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "id": "sql.blueGreenDeployments.list",
          "parameters": {
            "pageToken": {
              "type": "string",
              "description": "Optional. A page token, received from a previous `ListBlueGreenDeployments` call. Provide this to retrieve the subsequent page.",
              "location": "query"
            },
            "pageSize": {
              "description": "Optional. The maximum number of deployments to return.",
              "location": "query",
              "format": "int32",
              "type": "integer"
            },
            "orderBy": {
              "location": "query",
              "type": "string",
              "description": "Optional. A comma-separated list of fields to order the results by."
            },
            "parent": {
              "pattern": "^projects/[^/]+/locations/[^/]+$",
              "type": "string",
              "description": "Required. The parent resource whose blue-green deployments are to be listed. Format: projects/{project}/locations/{location}",
              "location": "path",
              "required": true
            },
            "filter": {
              "location": "query",
              "description": "Optional. A filter expression that filters the results.",
              "type": "string"
            }
          },
          "flatPath": "sql/v1beta4/projects/{projectsId}/locations/{locationsId}/blueGreenDeployments",
          "description": "Lists blue-green deployments under a given project.",
          "httpMethod": "GET",
          "path": "sql/v1beta4/{+parent}/blueGreenDeployments",
          "response": {
            "$ref": "ListBlueGreenDeploymentsResponse"
          },
          "parameterOrder": [
            "parent"
          ]
        },
        "create": {
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "request": {
            "$ref": "BlueGreenDeployment"
          },
          "id": "sql.blueGreenDeployments.create",
          "parameters": {
            "blueGreenDeploymentId": {
              "type": "string",
              "description": "Required. The ID to use for the blue-green deployment, which will become the final component of the deployment's resource name.",
              "location": "query"
            },
            "parent": {
              "location": "path",
              "type": "string",
              "pattern": "^projects/[^/]+/locations/[^/]+$",
              "description": "Required. The parent resource where this blue-green deployment will be created. Format: projects/{project}/locations/{location}",
              "required": true
            }
          },
          "parameterOrder": [
            "parent"
          ],
          "description": "Creates a blue-green deployment under a given project and location. This deployment provisions a synchronized green environment (target instance) from a blue production environment (source instance), facilitating updates like major version upgrades on the green instance without impacting the blue instance.",
          "path": "sql/v1beta4/{+parent}/blueGreenDeployments",
          "httpMethod": "POST",
          "flatPath": "sql/v1beta4/projects/{projectsId}/locations/{locationsId}/blueGreenDeployments",
          "response": {
            "$ref": "Operation"
          }
        },
        "delete": {
          "parameters": {
            "name": {
              "pattern": "^projects/[^/]+/locations/[^/]+/blueGreenDeployments/[^/]+$",
              "location": "path",
              "required": true,
              "type": "string",
              "description": "Required. The name of the blue-green deployment to delete. Format: projects/{project}/locations/{location}/blueGreenDeployments/{blue_green_deployment}"
            },
            "deleteOldSource": {
              "location": "query",
              "type": "boolean",
              "description": "Optional. If set to true, and the switchover is complete, this deletes the old source instance along with the deployment."
            }
          },
          "id": "sql.blueGreenDeployments.delete",
          "path": "sql/v1beta4/{+name}",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "description": "Deletes a blue-green deployment, including metadata and underlying resources based on the deployment state. If issued before switchover, this deletes the green instance. If issued after switchover, this deletes the old blue instance (source instance) if the `delete_old_source` field in the request is set to true. All blue-green deployment metadata is permanently deleted. Resources deleted as a result of this operation are no longer accessible and can't be restored.",
          "httpMethod": "DELETE",
          "response": {
            "$ref": "Operation"
          },
          "parameterOrder": [
            "name"
          ],
          "flatPath": "sql/v1beta4/projects/{projectsId}/locations/{locationsId}/blueGreenDeployments/{blueGreenDeploymentsId}"
        },
        "get": {
          "response": {
            "$ref": "BlueGreenDeployment"
          },
          "path": "sql/v1beta4/{+name}",
          "flatPath": "sql/v1beta4/projects/{projectsId}/locations/{locationsId}/blueGreenDeployments/{blueGreenDeploymentsId}",
          "description": "Retrieves a blue-green deployment resource under a given project and location.",
          "parameterOrder": [
            "name"
          ],
          "parameters": {
            "name": {
              "description": "Required. The name of the blue-green deployment to retrieve. Format: projects/{project}/locations/{location}/blueGreenDeployments/{blue_green_deployment}",
              "required": true,
              "location": "path",
              "type": "string",
              "pattern": "^projects/[^/]+/locations/[^/]+/blueGreenDeployments/[^/]+$"
            },
            "view": {
              "description": "Optional. Specifies whether to return the basic or detailed view of the resource in the response.",
              "location": "query",
              "type": "string",
              "enumDescriptions": [
                "Blue-green deployment view enumeration. This allows the caller to specify what view they query. If unspecified (BLUE_GREEN_DEPLOYMENT_VIEW_UNSPECIFIED), the behavior is the same as BASIC.",
                "Includes basic metadata about the blue-green deployment. `BASIC` is the default view.",
                "Includes basic metadata and configuration differences between source and target instances (`database_version`, `tier`, `edition`, `availability_type`, `data_disk_size_gb`, and `data_disk_type`)."
              ],
              "enum": [
                "BLUE_GREEN_DEPLOYMENT_VIEW_UNSPECIFIED",
                "BASIC",
                "DETAILED"
              ]
            }
          },
          "httpMethod": "GET",
          "id": "sql.blueGreenDeployments.get",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ]
        },
        "switchover": {
          "httpMethod": "POST",
          "path": "sql/v1beta4/{+name}:switchover",
          "id": "sql.blueGreenDeployments.switchover",
          "description": "Switches over to green instance for a blue-green deployment.",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "flatPath": "sql/v1beta4/projects/{projectsId}/locations/{locationsId}/blueGreenDeployments/{blueGreenDeploymentsId}:switchover",
          "request": {
            "$ref": "SwitchoverBlueGreenDeploymentRequest"
          },
          "parameterOrder": [
            "name"
          ],
          "response": {
            "$ref": "Operation"
          },
          "parameters": {
            "name": {
              "required": true,
              "pattern": "^projects/[^/]+/locations/[^/]+/blueGreenDeployments/[^/]+$",
              "type": "string",
              "location": "path",
              "description": "Required. The name of the blue-green deployment to switch over. Format: projects/{project}/locations/{location}/blueGreenDeployments/{blue_green_deployment}"
            }
          }
        }
      }
    },
    "users": {
      "methods": {
        "get": {
          "parameterOrder": [
            "project",
            "instance",
            "name"
          ],
          "response": {
            "$ref": "User"
          },
          "path": "sql/v1beta4/projects/{project}/instances/{instance}/users/{name}",
          "id": "sql.users.get",
          "flatPath": "sql/v1beta4/projects/{project}/instances/{instance}/users/{name}",
          "description": "Retrieves a resource containing information about a user.",
          "httpMethod": "GET",
          "parameters": {
            "instance": {
              "required": true,
              "description": "Database instance ID. This does not include the project ID.",
              "type": "string",
              "location": "path"
            },
            "location": {
              "type": "string",
              "location": "query",
              "description": "Optional. Region of the Cloud SQL instance."
            },
            "host": {
              "location": "query",
              "type": "string",
              "description": "Host of a user of the instance."
            },
            "project": {
              "location": "path",
              "type": "string",
              "description": "Project ID of the project that contains the instance.",
              "required": true
            },
            "name": {
              "required": true,
              "description": "User of the instance.",
              "type": "string",
              "location": "path"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ]
        },
        "list": {
          "path": "sql/v1beta4/projects/{project}/instances/{instance}/users",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "id": "sql.users.list",
          "parameters": {
            "location": {
              "description": "Optional. Region of the Cloud SQL instance.",
              "location": "query",
              "type": "string"
            },
            "project": {
              "description": "Project ID of the project that contains the instance.",
              "required": true,
              "location": "path",
              "type": "string"
            },
            "instance": {
              "required": true,
              "description": "Database instance ID. This does not include the project ID.",
              "type": "string",
              "location": "path"
            }
          },
          "parameterOrder": [
            "project",
            "instance"
          ],
          "httpMethod": "GET",
          "flatPath": "sql/v1beta4/projects/{project}/instances/{instance}/users",
          "response": {
            "$ref": "UsersListResponse"
          },
          "description": "Lists users in the specified Cloud SQL instance."
        },
        "delete": {
          "id": "sql.users.delete",
          "parameterOrder": [
            "project",
            "instance"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "httpMethod": "DELETE",
          "parameters": {
            "instance": {
              "location": "path",
              "description": "Database instance ID. This does not include the project ID.",
              "required": true,
              "type": "string"
            },
            "project": {
              "description": "Project ID of the project that contains the instance.",
              "type": "string",
              "required": true,
              "location": "path"
            },
            "name": {
              "description": "Name of the user in the instance.",
              "type": "string",
              "location": "query"
            },
            "location": {
              "type": "string",
              "description": "Optional. Region of the Cloud SQL instance.",
              "location": "query"
            },
            "host": {
              "type": "string",
              "location": "query",
              "description": "Host of the user in the instance."
            }
          },
          "description": "Deletes a user from a Cloud SQL instance.",
          "flatPath": "sql/v1beta4/projects/{project}/instances/{instance}/users",
          "path": "sql/v1beta4/projects/{project}/instances/{instance}/users",
          "response": {
            "$ref": "Operation"
          }
        },
        "insert": {
          "path": "sql/v1beta4/projects/{project}/instances/{instance}/users",
          "httpMethod": "POST",
          "id": "sql.users.insert",
          "description": "Creates a new user in a Cloud SQL instance.",
          "request": {
            "$ref": "User"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "response": {
            "$ref": "Operation"
          },
          "parameterOrder": [
            "project",
            "instance"
          ],
          "parameters": {
            "project": {
              "type": "string",
              "location": "path",
              "description": "Project ID of the project that contains the instance.",
              "required": true
            },
            "location": {
              "location": "query",
              "description": "Optional. Region of the Cloud SQL instance.",
              "type": "string"
            },
            "instance": {
              "required": true,
              "description": "Database instance ID. This does not include the project ID.",
              "location": "path",
              "type": "string"
            }
          },
          "flatPath": "sql/v1beta4/projects/{project}/instances/{instance}/users"
        },
        "update": {
          "parameters": {
            "host": {
              "description": "Optional. Host of the user in the instance.",
              "type": "string",
              "location": "query"
            },
            "serverRoles": {
              "location": "query",
              "type": "string",
              "description": "Optional. The server roles to grant to the SQL Server login. Existing server roles will not be revoked if revoke_existing_roles is false. body.server_roles will be ignored for update request.",
              "repeated": true
            },
            "project": {
              "description": "Project ID of the project that contains the instance.",
              "required": true,
              "type": "string",
              "location": "path"
            },
            "instance": {
              "location": "path",
              "description": "Database instance ID. This does not include the project ID.",
              "type": "string",
              "required": true
            },
            "revokeExistingRoles": {
              "description": "Optional. Specifies whether to revoke existing roles that are not present in the `database_roles` field. If `false` or unset, the database roles specified in `database_roles` are added to the user's existing roles.",
              "location": "query",
              "type": "boolean"
            },
            "location": {
              "location": "query",
              "type": "string",
              "description": "Optional. Region of the Cloud SQL instance."
            },
            "databaseRoles": {
              "repeated": true,
              "type": "string",
              "location": "query",
              "description": "Optional. List of database roles to grant to the user. body.database_roles will be ignored for update request."
            },
            "revokeExistingServerRoles": {
              "description": "Optional. Specifies whether to revoke existing roles that are not present in the `server_roles` field. If `false` or unset, the server roles specified in `server_roles` are added to the user's existing server roles.",
              "location": "query",
              "type": "boolean"
            },
            "name": {
              "description": "Name of the user in the instance.",
              "location": "query",
              "type": "string"
            }
          },
          "id": "sql.users.update",
          "response": {
            "$ref": "Operation"
          },
          "request": {
            "$ref": "User"
          },
          "path": "sql/v1beta4/projects/{project}/instances/{instance}/users",
          "parameterOrder": [
            "project",
            "instance"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "flatPath": "sql/v1beta4/projects/{project}/instances/{instance}/users",
          "description": "Updates an existing user in a Cloud SQL instance.",
          "httpMethod": "PUT"
        }
      }
    },
    "instances": {
      "methods": {
        "addServerCa": {
          "parameters": {
            "project": {
              "required": true,
              "description": "Project ID of the project that contains the instance.",
              "location": "path",
              "type": "string"
            },
            "instance": {
              "location": "path",
              "type": "string",
              "description": "Cloud SQL instance ID. This does not include the project ID.",
              "required": true
            },
            "location": {
              "description": "Optional. Region of the Cloud SQL instance.",
              "location": "query",
              "type": "string"
            }
          },
          "id": "sql.instances.addServerCa",
          "flatPath": "sql/v1beta4/projects/{project}/instances/{instance}/addServerCa",
          "response": {
            "$ref": "Operation"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "description": "Add a new trusted Certificate Authority (CA) version for the specified instance. Required to prepare for a certificate rotation. If a CA version was previously added but never used in a certificate rotation, this operation replaces that version. There cannot be more than one CA version waiting to be rotated in. For instances that have enabled Certificate Authority Service (CAS) based server CA, use AddServerCertificate to add a new server certificate.",
          "parameterOrder": [
            "project",
            "instance"
          ],
          "path": "sql/v1beta4/projects/{project}/instances/{instance}/addServerCa",
          "httpMethod": "POST"
        },
        "stopReplica": {
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "httpMethod": "POST",
          "flatPath": "sql/v1beta4/projects/{project}/instances/{instance}/stopReplica",
          "response": {
            "$ref": "Operation"
          },
          "id": "sql.instances.stopReplica",
          "path": "sql/v1beta4/projects/{project}/instances/{instance}/stopReplica",
          "parameterOrder": [
            "project",
            "instance"
          ],
          "description": "Stops the replication in the read replica instance.",
          "parameters": {
            "instance": {
              "location": "path",
              "type": "string",
              "required": true,
              "description": "Cloud SQL read replica instance name."
            },
            "project": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "ID of the project that contains the read replica."
            },
            "location": {
              "type": "string",
              "description": "Optional. Region of the Cloud SQL instance.",
              "location": "query"
            }
          }
        },
        "truncateLog": {
          "parameterOrder": [
            "project",
            "instance"
          ],
          "id": "sql.instances.truncateLog",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "httpMethod": "POST",
          "response": {
            "$ref": "Operation"
          },
          "parameters": {
            "project": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "Project ID of the Cloud SQL project."
            },
            "instance": {
              "type": "string",
              "location": "path",
              "required": true,
              "description": "Cloud SQL instance ID. This does not include the project ID."
            },
            "location": {
              "type": "string",
              "location": "query",
              "description": "Optional. Region of the Cloud SQL instance."
            }
          },
          "request": {
            "$ref": "InstancesTruncateLogRequest"
          },
          "flatPath": "sql/v1beta4/projects/{project}/instances/{instance}/truncateLog",
          "description": "Truncate MySQL general and slow query log tables MySQL only.",
          "path": "sql/v1beta4/projects/{project}/instances/{instance}/truncateLog"
        },
        "releaseSsrsLease": {
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "id": "sql.instances.releaseSsrsLease",
          "httpMethod": "POST",
          "description": "Release a lease for the setup of SQL Server Reporting Services (SSRS).",
          "parameters": {
            "project": {
              "location": "path",
              "type": "string",
              "required": true,
              "description": "Required. The ID of the project that contains the instance (Example: project-id)."
            },
            "instance": {
              "description": "Required. The Cloud SQL instance ID. This doesn't include the project ID. It's composed of lowercase letters, numbers, and hyphens, and it must start with a letter. The total length must be 98 characters or less (Example: instance-id).",
              "location": "path",
              "type": "string",
              "required": true
            },
            "location": {
              "location": "query",
              "description": "Optional. Region of the Cloud SQL instance.",
              "type": "string"
            }
          },
          "flatPath": "sql/v1beta4/projects/{project}/instances/{instance}/releaseSsrsLease",
          "parameterOrder": [
            "project",
            "instance"
          ],
          "path": "sql/v1beta4/projects/{project}/instances/{instance}/releaseSsrsLease",
          "response": {
            "$ref": "SqlInstancesReleaseSsrsLeaseResponse"
          }
        },
        "list": {
          "response": {
            "$ref": "InstancesListResponse"
          },
          "path": "sql/v1beta4/projects/{project}/instances",
          "flatPath": "sql/v1beta4/projects/{project}/instances",
          "parameters": {
            "filter": {
              "location": "query",
              "type": "string",
              "description": "A filter expression that filters resources listed in the response. The expression is in the form of field:value. For example, 'instanceType:CLOUD_SQL_INSTANCE'. Fields can be nested as needed as per their JSON representation, such as 'settings.userLabels.auto_start:true'. Multiple filter queries are space-separated. For example. 'state:RUNNABLE instanceType:CLOUD_SQL_INSTANCE'. By default, each expression is an AND expression. However, you can include AND and OR expressions explicitly."
            },
            "maxResults": {
              "description": "The maximum number of instances to return. The service may return fewer than this value. If unspecified, at most 500 instances are returned. The maximum value is 1000; values above 1000 are coerced to 1000.",
              "location": "query",
              "type": "integer",
              "format": "uint32"
            },
            "location": {
              "location": "query",
              "type": "string",
              "description": "Optional. Region of the Cloud SQL instance."
            },
            "pageToken": {
              "location": "query",
              "type": "string",
              "description": "A previously-returned page token representing part of the larger set of results to view."
            },
            "project": {
              "location": "path",
              "description": "Project ID of the project for which to list Cloud SQL instances.",
              "required": true,
              "type": "string"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "parameterOrder": [
            "project"
          ],
          "id": "sql.instances.list",
          "httpMethod": "GET",
          "description": "Lists instances under a given project."
        },
        "update": {
          "id": "sql.instances.update",
          "parameters": {
            "project": {
              "location": "path",
              "description": "Project ID of the project that contains the instance.",
              "type": "string",
              "required": true
            },
            "location": {
              "location": "query",
              "description": "Optional. Region of the Cloud SQL instance.",
              "type": "string"
            },
            "instance": {
              "required": true,
              "description": "Cloud SQL instance ID. This does not include the project ID.",
              "type": "string",
              "location": "path"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "description": "Updates settings of a Cloud SQL instance. Using this operation might cause your instance to restart.",
          "request": {
            "$ref": "DatabaseInstance"
          },
          "parameterOrder": [
            "project",
            "instance"
          ],
          "httpMethod": "PUT",
          "response": {
            "$ref": "Operation"
          },
          "path": "sql/v1beta4/projects/{project}/instances/{instance}",
          "flatPath": "sql/v1beta4/projects/{project}/instances/{instance}"
        },
        "pointInTimeRestore": {
          "response": {
            "$ref": "Operation"
          },
          "id": "sql.instances.pointInTimeRestore",
          "path": "sql/v1beta4/{+parent}:pointInTimeRestore",
          "flatPath": "sql/v1beta4/projects/{projectsId}:pointInTimeRestore",
          "request": {
            "$ref": "PointInTimeRestoreContext"
          },
          "parameters": {
            "parent": {
              "location": "path",
              "description": "Required. The parent resource where you created this instance. Format: projects/{project}",
              "pattern": "^projects/[^/]+$",
              "type": "string",
              "required": true
            }
          },
          "parameterOrder": [
            "parent"
          ],
          "httpMethod": "POST",
          "description": "Point in time restore for an instance managed by Google Cloud Backup and Disaster Recovery.",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ]
        },
        "RotateServerCertificate": {
          "parameterOrder": [
            "project",
            "instance"
          ],
          "description": "Rotates the server certificate version to one previously added with the addServerCertificate method. For instances not using Certificate Authority Service (CAS) server CA, use RotateServerCa instead.",
          "response": {
            "$ref": "Operation"
          },
          "id": "sql.instances.RotateServerCertificate",
          "request": {
            "$ref": "InstancesRotateServerCertificateRequest"
          },
          "parameters": {
            "location": {
              "description": "Optional. Region of the Cloud SQL instance.",
              "location": "query",
              "type": "string"
            },
            "instance": {
              "location": "path",
              "description": "Required. Cloud SQL instance ID. This does not include the project ID.",
              "type": "string",
              "required": true
            },
            "project": {
              "description": "Required. Project ID of the project that contains the instance.",
              "type": "string",
              "required": true,
              "location": "path"
            }
          },
          "flatPath": "sql/v1beta4/projects/{project}/instances/{instance}/rotateServerCertificate",
          "httpMethod": "POST",
          "path": "sql/v1beta4/projects/{project}/instances/{instance}/rotateServerCertificate",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ]
        },
        "rotateServerCa": {
          "httpMethod": "POST",
          "flatPath": "sql/v1beta4/projects/{project}/instances/{instance}/rotateServerCa",
          "response": {
            "$ref": "Operation"
          },
          "id": "sql.instances.rotateServerCa",
          "request": {
            "$ref": "InstancesRotateServerCaRequest"
          },
          "path": "sql/v1beta4/projects/{project}/instances/{instance}/rotateServerCa",
          "description": "Rotates the server certificate to one signed by the Certificate Authority (CA) version previously added with the addServerCA method. For instances that have enabled Certificate Authority Service (CAS) based server CA, use RotateServerCertificate to rotate the server certificate.",
          "parameterOrder": [
            "project",
            "instance"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "parameters": {
            "instance": {
              "description": "Cloud SQL instance ID. This does not include the project ID.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "project": {
              "type": "string",
              "description": "Project ID of the project that contains the instance.",
              "location": "path",
              "required": true
            },
            "location": {
              "type": "string",
              "description": "Optional. Region of the Cloud SQL instance.",
              "location": "query"
            }
          }
        },
        "switchover": {
          "description": "Switches over from the primary instance to the DR replica instance.",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "parameters": {
            "location": {
              "type": "string",
              "location": "query",
              "description": "Optional. Region of the Cloud SQL instance."
            },
            "project": {
              "required": true,
              "description": "ID of the project that contains the replica.",
              "type": "string",
              "location": "path"
            },
            "dbTimeout": {
              "type": "string",
              "description": "Optional. (MySQL and PostgreSQL only) Cloud SQL instance operations timeout, which is a sum of all database operations. Default value is 10 minutes and can be modified to a maximum value of 24 hours.",
              "location": "query",
              "format": "google-duration"
            },
            "instance": {
              "required": true,
              "location": "path",
              "type": "string",
              "description": "Cloud SQL read replica instance name."
            }
          },
          "parameterOrder": [
            "project",
            "instance"
          ],
          "response": {
            "$ref": "Operation"
          },
          "path": "sql/v1beta4/projects/{project}/instances/{instance}/switchover",
          "httpMethod": "POST",
          "flatPath": "sql/v1beta4/projects/{project}/instances/{instance}/switchover",
          "id": "sql.instances.switchover"
        },
        "promoteReplica": {
          "path": "sql/v1beta4/projects/{project}/instances/{instance}/promoteReplica",
          "parameters": {
            "failover": {
              "type": "boolean",
              "location": "query",
              "description": "Set to true to invoke a replica failover to the DR replica. As part of replica failover, the promote operation attempts to add the original primary instance as a replica of the promoted DR replica when the original primary instance comes back online. If set to false or not specified, then the original primary instance becomes an independent Cloud SQL primary instance."
            },
            "instance": {
              "location": "path",
              "description": "Cloud SQL read replica instance name.",
              "required": true,
              "type": "string"
            },
            "project": {
              "location": "path",
              "type": "string",
              "required": true,
              "description": "ID of the project that contains the read replica."
            },
            "location": {
              "type": "string",
              "location": "query",
              "description": "Optional. Region of the Cloud SQL instance."
            }
          },
          "id": "sql.instances.promoteReplica",
          "flatPath": "sql/v1beta4/projects/{project}/instances/{instance}/promoteReplica",
          "response": {
            "$ref": "Operation"
          },
          "parameterOrder": [
            "project",
            "instance"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "description": "Promotes the read replica instance to be an independent Cloud SQL primary instance. Using this operation might cause your instance to restart.",
          "httpMethod": "POST"
        },
        "acquireSsrsLease": {
          "parameters": {
            "location": {
              "description": "Optional. Region of the Cloud SQL instance.",
              "type": "string",
              "location": "query"
            },
            "instance": {
              "description": "Required. Cloud SQL instance ID. This doesn't include the project ID. It's composed of lowercase letters, numbers, and hyphens, and it must start with a letter. The total length must be 98 characters or less (Example: instance-id).",
              "type": "string",
              "required": true,
              "location": "path"
            },
            "project": {
              "location": "path",
              "description": "Required. ID of the project that contains the instance (Example: project-id).",
              "required": true,
              "type": "string"
            }
          },
          "path": "sql/v1beta4/projects/{project}/instances/{instance}/acquireSsrsLease",
          "parameterOrder": [
            "project",
            "instance"
          ],
          "request": {
            "$ref": "InstancesAcquireSsrsLeaseRequest"
          },
          "flatPath": "sql/v1beta4/projects/{project}/instances/{instance}/acquireSsrsLease",
          "response": {
            "$ref": "SqlInstancesAcquireSsrsLeaseResponse"
          },
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "description": "Acquire a lease for the setup of SQL Server Reporting Services (SSRS).",
          "id": "sql.instances.acquireSsrsLease"
        },
        "export": {
          "response": {
            "$ref": "Operation"
          },
          "flatPath": "sql/v1beta4/projects/{project}/instances/{instance}/export",
          "parameterOrder": [
            "project",
            "instance"
          ],
          "parameters": {
            "project": {
              "type": "string",
              "location": "path",
              "required": true,
              "description": "Project ID of the project that contains the instance to be exported."
            },
            "instance": {
              "required": true,
              "description": "The Cloud SQL instance ID. This doesn't include the project ID.",
              "type": "string",
              "location": "path"
            },
            "location": {
              "description": "Optional. Region of the Cloud SQL instance.",
              "location": "query",
              "type": "string"
            }
          },
          "id": "sql.instances.export",
          "path": "sql/v1beta4/projects/{project}/instances/{instance}/export",
          "description": "Exports data from a Cloud SQL instance to a Cloud Storage bucket as a SQL dump or CSV file.",
          "httpMethod": "POST",
          "request": {
            "$ref": "InstancesExportRequest"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ]
        },
        "resetSslConfig": {
          "flatPath": "sql/v1beta4/projects/{project}/instances/{instance}/resetSslConfig",
          "response": {
            "$ref": "Operation"
          },
          "parameterOrder": [
            "project",
            "instance"
          ],
          "parameters": {
            "project": {
              "required": true,
              "description": "Project ID of the project that contains the instance.",
              "type": "string",
              "location": "path"
            },
            "location": {
              "type": "string",
              "description": "Optional. Region of the Cloud SQL instance.",
              "location": "query"
            },
            "mode": {
              "type": "string",
              "enumDescriptions": [
                "Reset SSL mode is not specified.",
                "Refresh all TLS configs. This is the default behaviour.",
                "Refreshes the replication-related TLS configuration settings provided by the primary instance. Not applicable to on-premises replication instances."
              ],
              "enum": [
                "RESET_SSL_MODE_UNSPECIFIED",
                "ALL",
                "SYNC_FROM_PRIMARY"
              ],
              "description": "Optional. Reset SSL mode to use.",
              "location": "query"
            },
            "instance": {
              "required": true,
              "description": "Cloud SQL instance ID. This does not include the project ID.",
              "type": "string",
              "location": "path"
            }
          },
          "httpMethod": "POST",
          "path": "sql/v1beta4/projects/{project}/instances/{instance}/resetSslConfig",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "id": "sql.instances.resetSslConfig",
          "description": "Deletes all client certificates and generates a new server SSL certificate for the instance."
        },
        "restart": {
          "id": "sql.instances.restart",
          "parameters": {
            "project": {
              "type": "string",
              "required": true,
              "description": "Project ID of the project that contains the instance to be restarted.",
              "location": "path"
            },
            "instance": {
              "type": "string",
              "location": "path",
              "required": true,
              "description": "Cloud SQL instance ID. This does not include the project ID."
            },
            "location": {
              "location": "query",
              "type": "string",
              "description": "Optional. Region of the Cloud SQL instance."
            }
          },
          "flatPath": "sql/v1beta4/projects/{project}/instances/{instance}/restart",
          "parameterOrder": [
            "project",
            "instance"
          ],
          "httpMethod": "POST",
          "response": {
            "$ref": "Operation"
          },
          "path": "sql/v1beta4/projects/{project}/instances/{instance}/restart",
          "description": "Restarts a Cloud SQL instance.",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ]
        },
        "listServerCas": {
          "description": "Lists all of the trusted Certificate Authorities (CAs) for the specified instance. There can be up to three CAs listed: the CA that was used to sign the certificate that is currently in use, a CA that has been added but not yet used to sign a certificate, and a CA used to sign a certificate that has previously rotated out.",
          "parameters": {
            "location": {
              "type": "string",
              "description": "Optional. Region of the Cloud SQL instance.",
              "location": "query"
            },
            "project": {
              "required": true,
              "location": "path",
              "description": "Project ID of the project that contains the instance.",
              "type": "string"
            },
            "instance": {
              "required": true,
              "type": "string",
              "description": "Cloud SQL instance ID. This does not include the project ID.",
              "location": "path"
            }
          },
          "id": "sql.instances.listServerCas",
          "response": {
            "$ref": "InstancesListServerCasResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "flatPath": "sql/v1beta4/projects/{project}/instances/{instance}/listServerCas",
          "path": "sql/v1beta4/projects/{project}/instances/{instance}/listServerCas",
          "httpMethod": "GET",
          "parameterOrder": [
            "project",
            "instance"
          ]
        },
        "patch": {
          "description": "Partially updates settings of a Cloud SQL instance by merging the request with the current configuration. This method supports patch semantics.",
          "flatPath": "sql/v1beta4/projects/{project}/instances/{instance}",
          "id": "sql.instances.patch",
          "parameters": {
            "instance": {
              "required": true,
              "type": "string",
              "description": "Cloud SQL instance ID. This does not include the project ID.",
              "location": "path"
            },
            "reconcilePscNetworking": {
              "location": "query",
              "description": "Optional. Set PSC config to the same value as the existing config to reconcile the PSC networking.",
              "type": "boolean"
            },
            "location": {
              "location": "query",
              "description": "Optional. Region of the Cloud SQL instance.",
              "type": "string"
            },
            "reconcilePscNetworkingForce": {
              "location": "query",
              "description": "Optional. Set PSC config to the same value as the existing config and force reconcile the PSC networking.",
              "type": "boolean"
            },
            "project": {
              "location": "path",
              "description": "Project ID of the project that contains the instance.",
              "type": "string",
              "required": true
            }
          },
          "response": {
            "$ref": "Operation"
          },
          "path": "sql/v1beta4/projects/{project}/instances/{instance}",
          "parameterOrder": [
            "project",
            "instance"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "request": {
            "$ref": "DatabaseInstance"
          },
          "httpMethod": "PATCH"
        },
        "demote": {
          "httpMethod": "POST",
          "request": {
            "$ref": "InstancesDemoteRequest"
          },
          "path": "sql/v1beta4/projects/{project}/instances/{instance}/demote",
          "parameters": {
            "location": {
              "type": "string",
              "description": "Optional. Region of the Cloud SQL instance.",
              "location": "query"
            },
            "instance": {
              "required": true,
              "location": "path",
              "description": "Required. The name of the Cloud SQL instance.",
              "type": "string"
            },
            "project": {
              "location": "path",
              "description": "Required. The project ID of the project that contains the instance.",
              "type": "string",
              "required": true
            }
          },
          "response": {
            "$ref": "Operation"
          },
          "id": "sql.instances.demote",
          "parameterOrder": [
            "project",
            "instance"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "flatPath": "sql/v1beta4/projects/{project}/instances/{instance}/demote",
          "description": "Demotes an existing standalone instance to be a Cloud SQL read replica for an external database server."
        },
        "startReplica": {
          "httpMethod": "POST",
          "parameterOrder": [
            "project",
            "instance"
          ],
          "description": "Starts the replication in the read replica instance.",
          "path": "sql/v1beta4/projects/{project}/instances/{instance}/startReplica",
          "id": "sql.instances.startReplica",
          "response": {
            "$ref": "Operation"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "flatPath": "sql/v1beta4/projects/{project}/instances/{instance}/startReplica",
          "parameters": {
            "location": {
              "description": "Optional. Region of the Cloud SQL instance.",
              "location": "query",
              "type": "string"
            },
            "instance": {
              "required": true,
              "type": "string",
              "location": "path",
              "description": "Cloud SQL read replica instance name."
            },
            "project": {
              "required": true,
              "location": "path",
              "type": "string",
              "description": "ID of the project that contains the read replica."
            }
          }
        },
        "get": {
          "httpMethod": "GET",
          "parameterOrder": [
            "project",
            "instance"
          ],
          "response": {
            "$ref": "DatabaseInstance"
          },
          "flatPath": "sql/v1beta4/projects/{project}/instances/{instance}",
          "id": "sql.instances.get",
          "path": "sql/v1beta4/projects/{project}/instances/{instance}",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "parameters": {
            "project": {
              "required": true,
              "location": "path",
              "description": "Project ID of the project that contains the instance.",
              "type": "string"
            },
            "location": {
              "description": "Optional. Region of the Cloud SQL instance.",
              "type": "string",
              "location": "query"
            },
            "instance": {
              "type": "string",
              "required": true,
              "description": "Database instance ID. This does not include the project ID.",
              "location": "path"
            }
          },
          "description": "Retrieves a resource containing information about a Cloud SQL instance."
        },
        "reencrypt": {
          "description": "Reencrypt CMEK instance with latest key version.",
          "path": "sql/v1beta4/projects/{project}/instances/{instance}/reencrypt",
          "httpMethod": "POST",
          "request": {
            "$ref": "InstancesReencryptRequest"
          },
          "id": "sql.instances.reencrypt",
          "parameters": {
            "location": {
              "location": "query",
              "description": "Optional. Region of the Cloud SQL instance.",
              "type": "string"
            },
            "project": {
              "location": "path",
              "description": "ID of the project that contains the instance.",
              "required": true,
              "type": "string"
            },
            "instance": {
              "required": true,
              "type": "string",
              "location": "path",
              "description": "Cloud SQL instance ID. This does not include the project ID."
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "flatPath": "sql/v1beta4/projects/{project}/instances/{instance}/reencrypt",
          "parameterOrder": [
            "project",
            "instance"
          ],
          "response": {
            "$ref": "Operation"
          }
        },
        "addEntraIdCertificate": {
          "response": {
            "$ref": "Operation"
          },
          "id": "sql.instances.addEntraIdCertificate",
          "flatPath": "sql/v1beta4/projects/{project}/instances/{instance}/addEntraIdCertificate",
          "parameterOrder": [
            "project",
            "instance"
          ],
          "parameters": {
            "location": {
              "location": "query",
              "type": "string",
              "description": "Optional. Region of the Cloud SQL instance."
            },
            "instance": {
              "type": "string",
              "description": "Required. Cloud SQL instance ID. This does not include the project ID.",
              "required": true,
              "location": "path"
            },
            "project": {
              "required": true,
              "type": "string",
              "description": "Required. Project ID of the project that contains the instance.",
              "location": "path"
            }
          },
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "path": "sql/v1beta4/projects/{project}/instances/{instance}/addEntraIdCertificate",
          "description": "Adds a new Entra ID certificate for the specified instance. If an Entra ID certificate was previously added but never used in a certificate rotation, this operation replaces that version."
        },
        "restoreBackup": {
          "path": "sql/v1beta4/projects/{project}/instances/{instance}/restoreBackup",
          "request": {
            "$ref": "InstancesRestoreBackupRequest"
          },
          "flatPath": "sql/v1beta4/projects/{project}/instances/{instance}/restoreBackup",
          "parameters": {
            "location": {
              "description": "Optional. Region of the Cloud SQL instance.",
              "location": "query",
              "type": "string"
            },
            "instance": {
              "description": "Cloud SQL instance ID. This does not include the project ID.",
              "required": true,
              "location": "path",
              "type": "string"
            },
            "project": {
              "description": "Project ID of the project that contains the instance.",
              "required": true,
              "location": "path",
              "type": "string"
            }
          },
          "response": {
            "$ref": "Operation"
          },
          "description": "Restores a backup of a Cloud SQL instance. Using this operation might cause your instance to restart.",
          "id": "sql.instances.restoreBackup",
          "parameterOrder": [
            "project",
            "instance"
          ],
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ]
        },
        "ListServerCertificates": {
          "path": "sql/v1beta4/projects/{project}/instances/{instance}/listServerCertificates",
          "description": "Lists all versions of server certificates and certificate authorities (CAs) for the specified instance. There can be up to three sets of certs listed: the certificate that is currently in use, a future that has been added but not yet used to sign a certificate, and a certificate that has been rotated out. For instances not using Certificate Authority Service (CAS) server CA, use ListServerCas instead.",
          "parameters": {
            "location": {
              "type": "string",
              "location": "query",
              "description": "Optional. Region of the Cloud SQL instance."
            },
            "project": {
              "type": "string",
              "location": "path",
              "required": true,
              "description": "Required. Project ID of the project that contains the instance."
            },
            "instance": {
              "required": true,
              "location": "path",
              "type": "string",
              "description": "Required. Cloud SQL instance ID. This does not include the project ID."
            }
          },
          "id": "sql.instances.ListServerCertificates",
          "parameterOrder": [
            "project",
            "instance"
          ],
          "flatPath": "sql/v1beta4/projects/{project}/instances/{instance}/listServerCertificates",
          "response": {
            "$ref": "InstancesListServerCertificatesResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "httpMethod": "GET"
        },
        "ListEntraIdCertificates": {
          "parameters": {
            "instance": {
              "location": "path",
              "description": "Required. Cloud SQL instance ID. This does not include the project ID.",
              "type": "string",
              "required": true
            },
            "location": {
              "type": "string",
              "location": "query",
              "description": "Optional. Region of the Cloud SQL instance."
            },
            "project": {
              "location": "path",
              "type": "string",
              "required": true,
              "description": "Required. Project ID of the project that contains the instance."
            }
          },
          "response": {
            "$ref": "InstancesListEntraIdCertificatesResponse"
          },
          "flatPath": "sql/v1beta4/projects/{project}/instances/{instance}/listEntraIdCertificates",
          "description": "Lists all versions of EntraID certificates for the specified instance. There can be up to three sets of certificates listed: the certificate that is currently in use, a future that has been added but not yet used to sign a certificate, and a certificate that has been rotated out.",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "parameterOrder": [
            "project",
            "instance"
          ],
          "path": "sql/v1beta4/projects/{project}/instances/{instance}/listEntraIdCertificates",
          "httpMethod": "GET",
          "id": "sql.instances.ListEntraIdCertificates"
        },
        "RotateEntraIdCertificate": {
          "response": {
            "$ref": "Operation"
          },
          "flatPath": "sql/v1beta4/projects/{project}/instances/{instance}/rotateEntraIdCertificate",
          "parameterOrder": [
            "project",
            "instance"
          ],
          "request": {
            "$ref": "InstancesRotateEntraIdCertificateRequest"
          },
          "parameters": {
            "instance": {
              "description": "Required. Cloud SQL instance ID. This does not include the project ID.",
              "location": "path",
              "type": "string",
              "required": true
            },
            "location": {
              "type": "string",
              "location": "query",
              "description": "Optional. Region of the Cloud SQL instance."
            },
            "project": {
              "description": "Required. Project ID of the project that contains the instance.",
              "required": true,
              "type": "string",
              "location": "path"
            }
          },
          "httpMethod": "POST",
          "description": "Rotates the Entra Id certificate version to one previously added with the addEntraIdCertificate method.",
          "path": "sql/v1beta4/projects/{project}/instances/{instance}/rotateEntraIdCertificate",
          "id": "sql.instances.RotateEntraIdCertificate",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ]
        },
        "addServerCertificate": {
          "parameters": {
            "instance": {
              "required": true,
              "type": "string",
              "description": "Required. Cloud SQL instance ID. This does not include the project ID.",
              "location": "path"
            },
            "project": {
              "type": "string",
              "required": true,
              "location": "path",
              "description": "Required. Project ID of the project that contains the instance."
            },
            "location": {
              "description": "Optional. Region of the Cloud SQL instance.",
              "location": "query",
              "type": "string"
            }
          },
          "path": "sql/v1beta4/projects/{project}/instances/{instance}/addServerCertificate",
          "id": "sql.instances.addServerCertificate",
          "flatPath": "sql/v1beta4/projects/{project}/instances/{instance}/addServerCertificate",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "response": {
            "$ref": "Operation"
          },
          "parameterOrder": [
            "project",
            "instance"
          ],
          "description": "Add a new trusted server certificate version for the specified instance using Certificate Authority Service (CAS) server CA. Required to prepare for a certificate rotation. If a server certificate version was previously added but never used in a certificate rotation, this operation replaces that version. There cannot be more than one certificate version waiting to be rotated in. For instances not using CAS server CA, use AddServerCa instead.",
          "httpMethod": "POST"
        },
        "clone": {
          "request": {
            "$ref": "InstancesCloneRequest"
          },
          "httpMethod": "POST",
          "parameters": {
            "project": {
              "required": true,
              "description": "Project ID of the source Cloud SQL instance.",
              "location": "path",
              "type": "string"
            },
            "instance": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "The ID of the Cloud SQL instance to be cloned (source). This does not include the project ID."
            },
            "location": {
              "type": "string",
              "description": "Optional. Region of the Cloud SQL instance.",
              "location": "query"
            }
          },
          "description": "Creates a Cloud SQL instance as a clone of the source instance. Using this operation might cause your instance to restart.",
          "parameterOrder": [
            "project",
            "instance"
          ],
          "id": "sql.instances.clone",
          "flatPath": "sql/v1beta4/projects/{project}/instances/{instance}/clone",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "response": {
            "$ref": "Operation"
          },
          "path": "sql/v1beta4/projects/{project}/instances/{instance}/clone"
        },
        "insert": {
          "flatPath": "sql/v1beta4/projects/{project}/instances",
          "httpMethod": "POST",
          "response": {
            "$ref": "Operation"
          },
          "path": "sql/v1beta4/projects/{project}/instances",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "request": {
            "$ref": "DatabaseInstance"
          },
          "id": "sql.instances.insert",
          "description": "Creates a new Cloud SQL instance.",
          "parameterOrder": [
            "project"
          ],
          "parameters": {
            "project": {
              "type": "string",
              "location": "path",
              "required": true,
              "description": "Project ID of the project to which the newly created Cloud SQL instances should belong."
            },
            "location": {
              "description": "Optional. Region of the Cloud SQL instance.",
              "location": "query",
              "type": "string"
            }
          }
        },
        "preCheckMajorVersionUpgrade": {
          "request": {
            "$ref": "InstancesPreCheckMajorVersionUpgradeRequest"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "description": "Execute MVU Pre-checks",
          "httpMethod": "POST",
          "id": "sql.instances.preCheckMajorVersionUpgrade",
          "response": {
            "$ref": "Operation"
          },
          "parameterOrder": [
            "project",
            "instance"
          ],
          "flatPath": "sql/v1beta4/projects/{project}/instances/{instance}/preCheckMajorVersionUpgrade",
          "path": "sql/v1beta4/projects/{project}/instances/{instance}/preCheckMajorVersionUpgrade",
          "parameters": {
            "instance": {
              "required": true,
              "type": "string",
              "location": "path",
              "description": "Required. Cloud SQL instance ID. This does not include the project ID."
            },
            "location": {
              "type": "string",
              "description": "Optional. Region of the Cloud SQL instance.",
              "location": "query"
            },
            "project": {
              "type": "string",
              "required": true,
              "description": "Required. Project ID of the project that contains the instance.",
              "location": "path"
            }
          }
        },
        "failover": {
          "id": "sql.instances.failover",
          "parameterOrder": [
            "project",
            "instance"
          ],
          "httpMethod": "POST",
          "response": {
            "$ref": "Operation"
          },
          "request": {
            "$ref": "InstancesFailoverRequest"
          },
          "flatPath": "sql/v1beta4/projects/{project}/instances/{instance}/failover",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "path": "sql/v1beta4/projects/{project}/instances/{instance}/failover",
          "parameters": {
            "project": {
              "location": "path",
              "description": "ID of the project that contains the read replica.",
              "type": "string",
              "required": true
            },
            "location": {
              "description": "Optional. Region of the Cloud SQL instance.",
              "location": "query",
              "type": "string"
            },
            "instance": {
              "required": true,
              "description": "Cloud SQL instance ID. This does not include the project ID.",
              "type": "string",
              "location": "path"
            }
          },
          "description": "Initiates a manual failover of a high availability (HA) primary instance to a standby instance, which becomes the primary instance. Users are then rerouted to the new primary. For more information, see the [Overview of high availability](https://cloud.google.com/sql/docs/mysql/high-availability) page in the Cloud SQL documentation. If using Legacy HA (MySQL only), this causes the instance to failover to its failover replica instance."
        },
        "demoteMaster": {
          "response": {
            "$ref": "Operation"
          },
          "flatPath": "sql/v1beta4/projects/{project}/instances/{instance}/demoteMaster",
          "request": {
            "$ref": "InstancesDemoteMasterRequest"
          },
          "httpMethod": "POST",
          "parameters": {
            "instance": {
              "location": "path",
              "description": "Cloud SQL instance name.",
              "required": true,
              "type": "string"
            },
            "location": {
              "location": "query",
              "description": "Optional. Region of the Cloud SQL instance.",
              "type": "string"
            },
            "project": {
              "location": "path",
              "description": "ID of the project that contains the instance.",
              "type": "string",
              "required": true
            }
          },
          "description": "Demotes the stand-alone instance to be a Cloud SQL read replica for an external database server.",
          "parameterOrder": [
            "project",
            "instance"
          ],
          "path": "sql/v1beta4/projects/{project}/instances/{instance}/demoteMaster",
          "id": "sql.instances.demoteMaster",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ]
        },
        "executeSql": {
          "path": "sql/v1beta4/projects/{project}/instances/{instance}/executeSql",
          "parameters": {
            "location": {
              "location": "query",
              "description": "Optional. Region of the Cloud SQL instance.",
              "type": "string"
            },
            "project": {
              "description": "Required. Project ID of the project that contains the instance.",
              "type": "string",
              "location": "path",
              "required": true
            },
            "instance": {
              "description": "Required. Database instance ID. This does not include the project ID.",
              "required": true,
              "location": "path",
              "type": "string"
            }
          },
          "flatPath": "sql/v1beta4/projects/{project}/instances/{instance}/executeSql",
          "request": {
            "$ref": "ExecuteSqlPayload"
          },
          "response": {
            "$ref": "SqlInstancesExecuteSqlResponse"
          },
          "description": "Execute SQL statements.",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "httpMethod": "POST",
          "id": "sql.instances.executeSql",
          "parameterOrder": [
            "project",
            "instance"
          ]
        },
        "delete": {
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "flatPath": "sql/v1beta4/projects/{project}/instances/{instance}",
          "id": "sql.instances.delete",
          "response": {
            "$ref": "Operation"
          },
          "httpMethod": "DELETE",
          "path": "sql/v1beta4/projects/{project}/instances/{instance}",
          "parameters": {
            "project": {
              "description": "Project ID of the project that contains the instance to be deleted.",
              "required": true,
              "type": "string",
              "location": "path"
            },
            "enableFinalBackup": {
              "type": "boolean",
              "location": "query",
              "description": "Flag to opt-in for final backup. By default, it is turned off."
            },
            "finalBackupDescription": {
              "type": "string",
              "description": "Optional. The description of the final backup.",
              "location": "query"
            },
            "finalBackupExpiryTime": {
              "location": "query",
              "description": "Optional. Final Backup expiration time. Timestamp in UTC of when this resource is considered expired.",
              "type": "string",
              "format": "google-datetime"
            },
            "location": {
              "location": "query",
              "description": "Optional. Region of the Cloud SQL instance.",
              "type": "string"
            },
            "instance": {
              "type": "string",
              "location": "path",
              "required": true,
              "description": "Cloud SQL instance ID. This does not include the project ID."
            },
            "finalBackupTtlDays": {
              "location": "query",
              "format": "int64",
              "description": "Optional. Retention period of the final backup.",
              "type": "string"
            }
          },
          "description": "Deletes a Cloud SQL instance.",
          "parameterOrder": [
            "project",
            "instance"
          ]
        },
        "import": {
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "description": "Imports data into a Cloud SQL instance from a SQL dump or CSV file in Cloud Storage.",
          "id": "sql.instances.import",
          "parameters": {
            "project": {
              "required": true,
              "description": "Project ID of the project that contains the instance.",
              "type": "string",
              "location": "path"
            },
            "instance": {
              "location": "path",
              "description": "Cloud SQL instance ID. This does not include the project ID.",
              "required": true,
              "type": "string"
            },
            "location": {
              "description": "Optional. Region of the Cloud SQL instance.",
              "location": "query",
              "type": "string"
            }
          },
          "httpMethod": "POST",
          "flatPath": "sql/v1beta4/projects/{project}/instances/{instance}/import",
          "request": {
            "$ref": "InstancesImportRequest"
          },
          "response": {
            "$ref": "Operation"
          },
          "path": "sql/v1beta4/projects/{project}/instances/{instance}/import",
          "parameterOrder": [
            "project",
            "instance"
          ]
        }
      }
    },
    "backupRuns": {
      "methods": {
        "list": {
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "flatPath": "sql/v1beta4/projects/{project}/instances/{instance}/backupRuns",
          "response": {
            "$ref": "BackupRunsListResponse"
          },
          "parameters": {
            "project": {
              "description": "Project ID of the project that contains the instance.",
              "location": "path",
              "type": "string",
              "required": true
            },
            "instance": {
              "type": "string",
              "description": "Cloud SQL instance ID, or \"-\" for all instances. This does not include the project ID.",
              "location": "path",
              "required": true
            },
            "maxResults": {
              "format": "int32",
              "type": "integer",
              "description": "Maximum number of backup runs per response.",
              "location": "query"
            },
            "pageToken": {
              "location": "query",
              "description": "A previously-returned page token representing part of the larger set of results to view.",
              "type": "string"
            }
          },
          "description": "Lists all backup runs associated with the project or a given instance and configuration in the reverse chronological order of the backup initiation time.",
          "path": "sql/v1beta4/projects/{project}/instances/{instance}/backupRuns",
          "parameterOrder": [
            "project",
            "instance"
          ],
          "httpMethod": "GET",
          "id": "sql.backupRuns.list"
        },
        "insert": {
          "parameters": {
            "project": {
              "location": "path",
              "description": "Project ID of the project that contains the instance.",
              "type": "string",
              "required": true
            },
            "instance": {
              "required": true,
              "location": "path",
              "type": "string",
              "description": "Cloud SQL instance ID. This does not include the project ID."
            }
          },
          "request": {
            "$ref": "BackupRun"
          },
          "description": "Creates a new backup run on demand.",
          "path": "sql/v1beta4/projects/{project}/instances/{instance}/backupRuns",
          "parameterOrder": [
            "project",
            "instance"
          ],
          "response": {
            "$ref": "Operation"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "id": "sql.backupRuns.insert",
          "httpMethod": "POST",
          "flatPath": "sql/v1beta4/projects/{project}/instances/{instance}/backupRuns"
        },
        "get": {
          "parameters": {
            "project": {
              "type": "string",
              "required": true,
              "description": "Project ID of the project that contains the instance.",
              "location": "path"
            },
            "instance": {
              "description": "Cloud SQL instance ID. This does not include the project ID.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "id": {
              "description": "The ID of this backup run.",
              "location": "path",
              "format": "int64",
              "type": "string",
              "required": true
            }
          },
          "id": "sql.backupRuns.get",
          "description": "Retrieves a resource containing information about a backup run.",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "flatPath": "sql/v1beta4/projects/{project}/instances/{instance}/backupRuns/{id}",
          "parameterOrder": [
            "project",
            "instance",
            "id"
          ],
          "path": "sql/v1beta4/projects/{project}/instances/{instance}/backupRuns/{id}",
          "response": {
            "$ref": "BackupRun"
          },
          "httpMethod": "GET"
        },
        "delete": {
          "httpMethod": "DELETE",
          "id": "sql.backupRuns.delete",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "description": "Deletes the backup taken by a backup run.",
          "parameterOrder": [
            "project",
            "instance",
            "id"
          ],
          "flatPath": "sql/v1beta4/projects/{project}/instances/{instance}/backupRuns/{id}",
          "parameters": {
            "id": {
              "description": "The ID of the backup run to delete. To find a backup run ID, use the [list](https://cloud.google.com/sql/docs/mysql/admin-api/rest/v1beta4/backupRuns/list) method.",
              "type": "string",
              "required": true,
              "location": "path",
              "format": "int64"
            },
            "instance": {
              "description": "Cloud SQL instance ID. This does not include the project ID.",
              "required": true,
              "location": "path",
              "type": "string"
            },
            "project": {
              "location": "path",
              "description": "Project ID of the project that contains the instance.",
              "required": true,
              "type": "string"
            }
          },
          "response": {
            "$ref": "Operation"
          },
          "path": "sql/v1beta4/projects/{project}/instances/{instance}/backupRuns/{id}"
        }
      }
    },
    "operations": {
      "methods": {
        "list": {
          "description": "Lists all instance operations that have been performed on the given Cloud SQL instance in the reverse chronological order of the start time.",
          "response": {
            "$ref": "OperationsListResponse"
          },
          "parameters": {
            "pageToken": {
              "description": "A previously-returned page token representing part of the larger set of results to view.",
              "type": "string",
              "location": "query"
            },
            "project": {
              "required": true,
              "type": "string",
              "description": "Project ID of the project that contains the instance.",
              "location": "path"
            },
            "instance": {
              "description": "Cloud SQL instance ID. This does not include the project ID.",
              "location": "query",
              "type": "string"
            },
            "location": {
              "description": "Optional. Region of the Cloud SQL instance.",
              "type": "string",
              "location": "query"
            },
            "maxResults": {
              "location": "query",
              "format": "uint32",
              "description": "Maximum number of operations per response.",
              "type": "integer"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "flatPath": "sql/v1beta4/projects/{project}/operations",
          "parameterOrder": [
            "project"
          ],
          "path": "sql/v1beta4/projects/{project}/operations",
          "httpMethod": "GET",
          "id": "sql.operations.list"
        },
        "cancel": {
          "description": "Cancels an instance operation that has been performed on an instance. Ordinarily, this method name should be `CancelSqlOperation`.",
          "path": "sql/v1beta4/projects/{project}/operations/{operation}/cancel",
          "httpMethod": "POST",
          "parameters": {
            "project": {
              "location": "path",
              "type": "string",
              "description": "Project ID of the project that contains the instance.",
              "required": true
            },
            "location": {
              "description": "Optional. Region of the Cloud SQL instance.",
              "type": "string",
              "location": "query"
            },
            "operation": {
              "required": true,
              "type": "string",
              "description": "Instance operation ID.",
              "location": "path"
            }
          },
          "parameterOrder": [
            "project",
            "operation"
          ],
          "flatPath": "sql/v1beta4/projects/{project}/operations/{operation}/cancel",
          "id": "sql.operations.cancel",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "response": {
            "$ref": "Empty"
          }
        },
        "get": {
          "httpMethod": "GET",
          "path": "sql/v1beta4/projects/{project}/operations/{operation}",
          "parameterOrder": [
            "project",
            "operation"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "description": "Retrieves an instance operation that has been performed on an instance.",
          "response": {
            "$ref": "Operation"
          },
          "id": "sql.operations.get",
          "flatPath": "sql/v1beta4/projects/{project}/operations/{operation}",
          "parameters": {
            "location": {
              "type": "string",
              "description": "Optional. Region of the Cloud SQL instance.",
              "location": "query"
            },
            "operation": {
              "location": "path",
              "description": "Instance operation ID.",
              "type": "string",
              "required": true
            },
            "project": {
              "required": true,
              "type": "string",
              "description": "Project ID of the project that contains the instance.",
              "location": "path"
            }
          }
        }
      }
    },
    "sslCerts": {
      "methods": {
        "insert": {
          "description": "Creates an SSL certificate and returns it along with the private key and server certificate authority. The new certificate will not be usable until the instance is restarted.",
          "parameters": {
            "project": {
              "required": true,
              "location": "path",
              "description": "Project ID of the project that contains the instance.",
              "type": "string"
            },
            "instance": {
              "required": true,
              "description": "Cloud SQL instance ID. This does not include the project ID.",
              "location": "path",
              "type": "string"
            }
          },
          "id": "sql.sslCerts.insert",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "parameterOrder": [
            "project",
            "instance"
          ],
          "request": {
            "$ref": "SslCertsInsertRequest"
          },
          "flatPath": "sql/v1beta4/projects/{project}/instances/{instance}/sslCerts",
          "path": "sql/v1beta4/projects/{project}/instances/{instance}/sslCerts",
          "httpMethod": "POST",
          "response": {
            "$ref": "SslCertsInsertResponse"
          }
        },
        "list": {
          "description": "Lists all of the current SSL certificates for the instance.",
          "parameters": {
            "project": {
              "location": "path",
              "description": "Project ID of the project that contains the instance.",
              "type": "string",
              "required": true
            },
            "instance": {
              "location": "path",
              "description": "Cloud SQL instance ID. This does not include the project ID.",
              "required": true,
              "type": "string"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "parameterOrder": [
            "project",
            "instance"
          ],
          "httpMethod": "GET",
          "path": "sql/v1beta4/projects/{project}/instances/{instance}/sslCerts",
          "response": {
            "$ref": "SslCertsListResponse"
          },
          "id": "sql.sslCerts.list",
          "flatPath": "sql/v1beta4/projects/{project}/instances/{instance}/sslCerts"
        },
        "get": {
          "response": {
            "$ref": "SslCert"
          },
          "parameters": {
            "instance": {
              "location": "path",
              "description": "Cloud SQL instance ID. This does not include the project ID.",
              "type": "string",
              "required": true
            },
            "project": {
              "type": "string",
              "location": "path",
              "required": true,
              "description": "Project ID of the project that contains the instance."
            },
            "sha1Fingerprint": {
              "type": "string",
              "required": true,
              "description": "Sha1 FingerPrint.",
              "location": "path"
            }
          },
          "id": "sql.sslCerts.get",
          "parameterOrder": [
            "project",
            "instance",
            "sha1Fingerprint"
          ],
[...]
