{
  "id": "sqladmin:v1",
  "revision": "20260819",
  "description": "Cloud SQL Admin API",
  "version": "v1",
  "canonicalName": "SQL Admin",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "ownerName": "Google",
  "documentationLink": "https://cloud.google.com/sql/docs",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        },
        "https://www.googleapis.com/auth/sqlservice.admin": {
          "description": "Manage your Google SQL Service instances"
        }
      }
    }
  },
  "protocol": "rest",
  "servicePath": "",
  "batchPath": "batch",
  "basePath": "",
  "baseUrl": "https://sqladmin.googleapis.com/",
  "discoveryVersion": "v1",
  "fullyEncodeReservedExpansion": true,
  "ownerDomain": "google.com",
  "title": "Cloud SQL Admin API",
  "resources": {
    "Backups": {
      "methods": {
        "CreateBackup": {
          "parameters": {
            "parent": {
              "required": true,
              "location": "path",
              "description": "Required. The parent resource where this backup is created. Format: projects/{project}",
              "pattern": "^projects/[^/]+$",
              "type": "string"
            }
          },
          "flatPath": "v1/projects/{projectsId}/backups",
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "path": "v1/{+parent}/backups",
          "parameterOrder": [
            "parent"
          ],
          "id": "sql.Backups.CreateBackup",
          "request": {
            "$ref": "Backup"
          },
          "description": "Creates a backup for a Cloud SQL instance. This API can be used only to create on-demand backups.",
          "response": {
            "$ref": "Operation"
          }
        },
        "UpdateBackup": {
          "flatPath": "v1/projects/{projectsId}/backups/{backupsId}",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "request": {
            "$ref": "Backup"
          },
          "description": "Updates the retention period and description of the backup. You can use this API to update final backups only.",
          "parameterOrder": [
            "name"
          ],
          "path": "v1/{+name}",
          "id": "sql.Backups.UpdateBackup",
          "response": {
            "$ref": "Operation"
          },
          "httpMethod": "PATCH",
          "parameters": {
            "name": {
              "type": "string",
              "description": "Output only. The resource name of the backup. Format: projects/{project}/backups/{backup}.",
              "pattern": "^projects/[^/]+/backups/[^/]+$",
              "required": true,
              "location": "path"
            },
            "updateMask": {
              "location": "query",
              "type": "string",
              "description": "The list of fields that you can update. You can update only the description and retention period of the final backup.",
              "format": "google-fieldmask"
            }
          }
        },
        "GetBackup": {
          "httpMethod": "GET",
          "parameters": {
            "name": {
              "required": true,
              "location": "path",
              "type": "string",
              "description": "Required. The name of the backup to retrieve. Format: projects/{project}/backups/{backup}",
              "pattern": "^projects/[^/]+/backups/[^/]+$"
            }
          },
          "parameterOrder": [
            "name"
          ],
          "description": "Retrieves a resource containing information about a backup.",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "response": {
            "$ref": "Backup"
          },
          "path": "v1/{+name}",
          "id": "sql.Backups.GetBackup",
          "flatPath": "v1/projects/{projectsId}/backups/{backupsId}"
        },
        "ListBackups": {
          "parameterOrder": [
            "parent"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "path": "v1/{+parent}/backups",
          "flatPath": "v1/projects/{projectsId}/backups",
          "parameters": {
            "pageSize": {
              "type": "integer",
              "description": "The maximum number of backups to return per response. The service might return fewer backups than this value. If a value for this parameter isn't specified, then, at most, 500 backups are returned. The maximum value is 2,000. Any values that you set, which are greater than 2,000, are changed to 2,000.",
              "format": "int32",
              "location": "query"
            },
            "parent": {
              "type": "string",
              "required": true,
              "description": "Required. The parent that owns this collection of backups. Format: projects/{project}",
              "location": "path",
              "pattern": "^projects/[^/]+$"
            },
            "filter": {
              "description": "Multiple filter queries are separated by spaces. For example, 'instance:abc AND type:FINAL, 'location:us', 'backupInterval.startTime>=1950-01-01T01:01:25.771Z'. You can filter by type, instance, backupInterval.startTime (creation time), or location.",
              "location": "query",
              "type": "string"
            },
            "pageToken": {
              "type": "string",
              "location": "query",
              "description": "A page token, received from a previous `ListBackups` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListBackups` must match the call that provided the page token."
            }
          },
          "httpMethod": "GET",
          "description": "Lists all backups associated with the project.",
          "response": {
            "$ref": "ListBackupsResponse"
          },
          "id": "sql.Backups.ListBackups"
        },
        "DeleteBackup": {
          "response": {
            "$ref": "Operation"
          },
          "parameterOrder": [
            "name"
          ],
          "path": "v1/{+name}",
          "httpMethod": "DELETE",
          "id": "sql.Backups.DeleteBackup",
          "parameters": {
            "name": {
              "required": true,
              "type": "string",
              "location": "path",
              "pattern": "^projects/[^/]+/backups/[^/]+$",
              "description": "Required. The name of the backup to delete. Format: projects/{project}/backups/{backup}"
            }
          },
          "flatPath": "v1/projects/{projectsId}/backups/{backupsId}",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "description": "Deletes the backup."
        }
      }
    },
    "connect": {
      "methods": {
        "get": {
          "parameterOrder": [
            "project",
            "instance"
          ],
          "flatPath": "v1/projects/{project}/instances/{instance}/connectSettings",
          "description": "Retrieves connect settings about a Cloud SQL instance.",
          "response": {
            "$ref": "ConnectSettings"
          },
          "path": "v1/projects/{project}/instances/{instance}/connectSettings",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "httpMethod": "GET",
          "id": "sql.connect.get",
          "parameters": {
            "instance": {
              "type": "string",
              "required": true,
              "description": "Cloud SQL instance ID. This does not include the project ID.",
              "location": "path"
            },
            "readTime": {
              "description": "Optional. Optional snapshot read timestamp to trade freshness for performance.",
              "type": "string",
              "location": "query",
              "format": "google-datetime"
            },
            "project": {
              "description": "Project ID of the project that contains the instance.",
              "type": "string",
              "location": "path",
              "required": true
            }
          }
        },
        "resolve": {
          "parameterOrder": [
            "location",
            "dnsName"
          ],
          "parameters": {
            "dnsName": {
              "description": "Required. Cloud SQL instance ID. This does not include the project ID.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "location": {
              "type": "string",
              "required": true,
              "location": "path",
              "description": "Required. The region of the instance."
            }
          },
          "id": "sql.connect.resolve",
          "httpMethod": "GET",
          "response": {
            "$ref": "ConnectSettings"
          },
          "description": "Retrieves connect settings about a Cloud SQL instance using the instance DNS name.",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "flatPath": "v1/locations/{location}/dns/{dnsName}:resolveConnectSettings",
          "path": "v1/locations/{location}/dns/{dnsName}:resolveConnectSettings"
        },
        "generateEphemeralCert": {
          "response": {
            "$ref": "GenerateEphemeralCertResponse"
          },
          "description": "Generates a short-lived X509 certificate containing the provided public key and signed by a private key specific to the target instance. Users may use the certificate to authenticate as themselves when connecting to the database.",
          "path": "v1/projects/{project}/instances/{instance}:generateEphemeralCert",
          "id": "sql.connect.generateEphemeral",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "parameterOrder": [
            "project",
            "instance"
          ],
          "parameters": {
            "instance": {
              "type": "string",
              "description": "Cloud SQL instance ID. This does not include the project ID.",
              "location": "path",
              "required": true
            },
            "project": {
              "location": "path",
              "required": true,
              "description": "Project ID of the project that contains the instance.",
              "type": "string"
            }
          },
          "request": {
            "$ref": "GenerateEphemeralCertRequest"
          },
          "flatPath": "v1/projects/{project}/instances/{instance}:generateEphemeralCert",
          "httpMethod": "POST"
        }
      }
    },
    "databases": {
      "methods": {
        "list": {
          "response": {
            "$ref": "DatabasesListResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "description": "Lists databases in the specified Cloud SQL instance.",
          "parameterOrder": [
            "project",
            "instance"
          ],
          "id": "sql.databases.list",
          "path": "v1/projects/{project}/instances/{instance}/databases",
          "httpMethod": "GET",
          "parameters": {
            "instance": {
              "required": true,
              "description": "Cloud SQL instance ID. This does not include the project ID.",
              "location": "path",
              "type": "string"
            },
            "project": {
              "required": true,
              "description": "Project ID of the project that contains the instance.",
              "location": "path",
              "type": "string"
            },
            "location": {
              "description": "Optional. Region of the Cloud SQL instance.",
              "location": "query",
              "type": "string"
            }
          },
          "flatPath": "v1/projects/{project}/instances/{instance}/databases"
        },
        "delete": {
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "description": "Deletes a database from a Cloud SQL instance.",
          "response": {
            "$ref": "Operation"
          },
          "parameterOrder": [
            "project",
            "instance",
            "database"
          ],
          "id": "sql.databases.delete",
          "path": "v1/projects/{project}/instances/{instance}/databases/{database}",
          "parameters": {
            "instance": {
              "required": true,
              "location": "path",
              "type": "string",
              "description": "Database instance ID. This does not include the project ID."
            },
            "location": {
              "type": "string",
              "description": "Optional. Region of the Cloud SQL instance.",
              "location": "query"
            },
            "project": {
              "location": "path",
              "required": true,
              "description": "Project ID of the project that contains the instance.",
              "type": "string"
            },
            "database": {
              "description": "Name of the database to be deleted in the instance.",
              "type": "string",
              "required": true,
              "location": "path"
            }
          },
          "flatPath": "v1/projects/{project}/instances/{instance}/databases/{database}",
          "httpMethod": "DELETE"
        },
        "get": {
          "path": "v1/projects/{project}/instances/{instance}/databases/{database}",
          "parameters": {
            "instance": {
              "required": true,
              "description": "Database instance ID. This does not include the project ID.",
              "location": "path",
              "type": "string"
            },
            "location": {
              "type": "string",
              "location": "query",
              "description": "Optional. Region of the Cloud SQL instance."
            },
            "project": {
              "location": "path",
              "description": "Project ID of the project that contains the instance.",
              "required": true,
              "type": "string"
            },
            "database": {
              "type": "string",
              "required": true,
              "description": "Name of the database in the instance.",
              "location": "path"
            }
          },
          "httpMethod": "GET",
          "flatPath": "v1/projects/{project}/instances/{instance}/databases/{database}",
          "id": "sql.databases.get",
          "description": "Retrieves a resource containing information about a database inside a Cloud SQL instance.",
          "response": {
            "$ref": "Database"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "parameterOrder": [
            "project",
            "instance",
            "database"
          ]
        },
        "insert": {
          "parameterOrder": [
            "project",
            "instance"
          ],
          "httpMethod": "POST",
          "flatPath": "v1/projects/{project}/instances/{instance}/databases",
          "parameters": {
            "location": {
              "type": "string",
              "description": "Optional. Region of the Cloud SQL instance.",
              "location": "query"
            },
            "instance": {
              "type": "string",
              "description": "Database instance ID. This does not include the project ID.",
              "location": "path",
              "required": true
            },
            "project": {
              "description": "Project ID of the project that contains the instance.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "response": {
            "$ref": "Operation"
          },
          "id": "sql.databases.insert",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "path": "v1/projects/{project}/instances/{instance}/databases",
          "description": "Inserts a resource containing information about a database inside a Cloud SQL instance. **Note:** You can't modify the default character set and collation.",
          "request": {
            "$ref": "Database"
          }
        },
        "patch": {
          "parameters": {
            "location": {
              "location": "query",
              "type": "string",
              "description": "Optional. Region of the Cloud SQL instance."
            },
            "project": {
              "type": "string",
              "location": "path",
              "required": true,
              "description": "Project ID of the project that contains the instance."
            },
            "instance": {
              "required": true,
              "description": "Database instance ID. This does not include the project ID.",
              "location": "path",
              "type": "string"
            },
            "database": {
              "description": "Name of the database to be updated in the instance.",
              "required": true,
              "location": "path",
              "type": "string"
            }
          },
          "response": {
            "$ref": "Operation"
          },
          "httpMethod": "PATCH",
          "id": "sql.databases.patch",
          "request": {
            "$ref": "Database"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "path": "v1/projects/{project}/instances/{instance}/databases/{database}",
          "parameterOrder": [
            "project",
            "instance",
            "database"
          ],
          "description": "Partially updates a resource containing information about a database inside a Cloud SQL instance. This method supports patch semantics.",
          "flatPath": "v1/projects/{project}/instances/{instance}/databases/{database}"
        },
        "update": {
          "response": {
            "$ref": "Operation"
          },
          "description": "Updates a resource containing information about a database inside a Cloud SQL instance.",
          "request": {
            "$ref": "Database"
          },
          "parameterOrder": [
            "project",
            "instance",
            "database"
          ],
          "httpMethod": "PUT",
          "path": "v1/projects/{project}/instances/{instance}/databases/{database}",
          "parameters": {
            "database": {
              "type": "string",
              "location": "path",
              "required": true,
              "description": "Name of the database to be updated in the instance."
            },
            "project": {
              "location": "path",
              "description": "Project ID of the project that contains the instance.",
              "required": true,
              "type": "string"
            },
            "location": {
              "type": "string",
              "description": "Optional. Region of the Cloud SQL instance.",
              "location": "query"
            },
            "instance": {
              "description": "Database instance ID. This does not include the project ID.",
              "required": true,
              "location": "path",
              "type": "string"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "flatPath": "v1/projects/{project}/instances/{instance}/databases/{database}",
          "id": "sql.databases.update"
        }
      }
    },
    "flags": {
      "methods": {
        "list": {
          "parameters": {
            "flagScope": {
              "location": "query",
              "enum": [
                "SQL_FLAG_SCOPE_UNSPECIFIED",
                "SQL_FLAG_SCOPE_DATABASE",
                "SQL_FLAG_SCOPE_CONNECTION_POOL"
              ],
              "type": "string",
              "description": "Optional. Specify the scope of flags to be returned by SqlFlagsListService. Return list of database flags if unspecified.",
              "enumDescriptions": [
                "Assume database flags if unspecified",
                "database flags",
                "connection pool configuration flags"
              ]
            },
            "databaseVersion": {
              "location": "query",
              "description": "Database type and version you want to retrieve flags for. By default, this method returns flags for all database types and versions.",
              "type": "string"
            }
          },
          "response": {
            "$ref": "FlagsListResponse"
          },
          "httpMethod": "GET",
          "parameterOrder": [],
          "id": "sql.flags.list",
          "description": "Lists all available database flags for Cloud SQL instances.",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "flatPath": "v1/flags",
          "path": "v1/flags"
        }
      }
    },
    "projects": {
      "resources": {
        "instances": {
          "methods": {
            "getLatestRecoveryTime": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/sqlservice.admin"
              ],
              "id": "sql.projects.instances.getLatestRecoveryTime",
              "path": "v1/projects/{project}/instances/{instance}/getLatestRecoveryTime",
              "flatPath": "v1/projects/{project}/instances/{instance}/getLatestRecoveryTime",
              "httpMethod": "GET",
              "description": "Get Latest Recovery Time for a given instance.",
              "parameterOrder": [
                "project",
                "instance"
              ],
              "parameters": {
                "sourceInstanceDeletionTime": {
                  "type": "string",
                  "format": "google-datetime",
                  "location": "query",
                  "description": "The timestamp used to identify the time when the source instance is deleted. If this instance is deleted, then you must set the timestamp."
                },
                "project": {
                  "description": "Project ID of the project that contains the instance.",
                  "required": true,
                  "location": "path",
                  "type": "string"
                },
                "location": {
                  "description": "Optional. Region of the Cloud SQL instance.",
                  "location": "query",
                  "type": "string"
                },
                "instance": {
                  "description": "Cloud SQL instance ID. This does not include the project ID.",
                  "location": "path",
                  "type": "string",
                  "required": true
                }
              },
              "response": {
                "$ref": "SqlInstancesGetLatestRecoveryTimeResponse"
              }
            },
            "getDiskShrinkConfig": {
              "description": "Get Disk Shrink Config for a given instance.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/sqlservice.admin"
              ],
              "parameterOrder": [
                "project",
                "instance"
              ],
              "id": "sql.projects.instances.getDiskShrinkConfig",
              "parameters": {
                "instance": {
                  "location": "path",
                  "description": "Cloud SQL instance ID. This does not include the project ID.",
                  "required": true,
                  "type": "string"
                },
                "location": {
                  "location": "query",
                  "type": "string",
                  "description": "Optional. Region of the Cloud SQL instance."
                },
                "project": {
                  "type": "string",
                  "location": "path",
                  "description": "Project ID of the project that contains the instance.",
                  "required": true
                }
              },
              "flatPath": "v1/projects/{project}/instances/{instance}/getDiskShrinkConfig",
              "httpMethod": "GET",
              "path": "v1/projects/{project}/instances/{instance}/getDiskShrinkConfig",
              "response": {
                "$ref": "SqlInstancesGetDiskShrinkConfigResponse"
              }
            },
            "startExternalSync": {
              "parameterOrder": [
                "project",
                "instance"
              ],
              "description": "Start External primary instance migration.",
              "response": {
                "$ref": "Operation"
              },
              "httpMethod": "POST",
              "flatPath": "v1/projects/{project}/instances/{instance}/startExternalSync",
              "request": {
                "$ref": "SqlInstancesStartExternalSyncRequest"
              },
              "parameters": {
                "project": {
                  "location": "path",
                  "required": true,
                  "description": "ID of the project that contains the instance.",
                  "type": "string"
                },
                "instance": {
                  "type": "string",
                  "description": "Cloud SQL instance ID. This does not include the project ID.",
                  "location": "path",
                  "required": true
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/sqlservice.admin"
              ],
              "path": "v1/projects/{project}/instances/{instance}/startExternalSync",
              "id": "sql.projects.instances.startExternalSync"
            },
            "performDiskShrink": {
              "description": "Perform Disk Shrink on primary instance.",
              "id": "sql.projects.instances.performDiskShrink",
              "parameterOrder": [
                "project",
                "instance"
              ],
              "flatPath": "v1/projects/{project}/instances/{instance}/performDiskShrink",
              "path": "v1/projects/{project}/instances/{instance}/performDiskShrink",
              "httpMethod": "POST",
              "response": {
                "$ref": "Operation"
              },
              "parameters": {
                "project": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "Project ID of the project that contains the instance."
                },
                "instance": {
                  "required": true,
                  "type": "string",
                  "description": "Cloud SQL instance ID. This does not include the project ID.",
                  "location": "path"
                },
                "location": {
                  "type": "string",
                  "description": "Optional. Region of the Cloud SQL instance.",
                  "location": "query"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/sqlservice.admin"
              ],
              "request": {
                "$ref": "PerformDiskShrinkContext"
              }
            },
            "verifyExternalSyncSettings": {
              "request": {
                "$ref": "SqlInstancesVerifyExternalSyncSettingsRequest"
              },
              "description": "Verify External primary instance external sync settings.",
              "flatPath": "v1/projects/{project}/instances/{instance}/verifyExternalSyncSettings",
              "path": "v1/projects/{project}/instances/{instance}/verifyExternalSyncSettings",
              "parameterOrder": [
                "project",
                "instance"
              ],
              "parameters": {
                "project": {
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "description": "Project ID of the project that contains the instance."
                },
                "instance": {
                  "type": "string",
                  "description": "Cloud SQL instance ID. This does not include the project ID.",
                  "required": true,
                  "location": "path"
                }
              },
              "httpMethod": "POST",
              "id": "sql.projects.instances.verifyExternalSyncSettings",
              "response": {
                "$ref": "SqlInstancesVerifyExternalSyncSettingsResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/sqlservice.admin"
              ]
            },
            "rescheduleMaintenance": {
              "id": "sql.projects.instances.rescheduleMaintenance",
              "request": {
                "$ref": "SqlInstancesRescheduleMaintenanceRequestBody"
              },
              "flatPath": "v1/projects/{project}/instances/{instance}/rescheduleMaintenance",
              "httpMethod": "POST",
              "parameters": {
                "project": {
                  "description": "ID of the project that contains the instance.",
                  "type": "string",
                  "required": true,
                  "location": "path"
                },
                "location": {
                  "description": "Optional. Region of the Cloud SQL instance.",
                  "location": "query",
                  "type": "string"
                },
                "instance": {
                  "type": "string",
                  "description": "Cloud SQL instance ID. This does not include the project ID.",
                  "location": "path",
                  "required": true
                }
              },
              "path": "v1/projects/{project}/instances/{instance}/rescheduleMaintenance",
              "description": "Reschedules the maintenance on the given instance.",
              "parameterOrder": [
                "project",
                "instance"
              ],
              "response": {
                "$ref": "Operation"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/sqlservice.admin"
              ]
            },
            "resetReplicaSize": {
              "parameterOrder": [
                "project",
                "instance"
              ],
              "flatPath": "v1/projects/{project}/instances/{instance}/resetReplicaSize",
              "httpMethod": "POST",
              "id": "sql.projects.instances.resetReplicaSize",
              "parameters": {
                "instance": {
                  "type": "string",
                  "required": true,
                  "description": "Cloud SQL read replica instance name.",
                  "location": "path"
                },
                "project": {
                  "type": "string",
                  "location": "path",
                  "description": "ID of the project that contains the read replica.",
                  "required": true
                }
              },
              "request": {
                "$ref": "SqlInstancesResetReplicaSizeRequest"
              },
              "description": "Reset Replica Size to primary instance disk size.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/sqlservice.admin"
              ],
              "path": "v1/projects/{project}/instances/{instance}/resetReplicaSize",
              "response": {
                "$ref": "Operation"
              }
            }
          }
        }
      }
    },
    "backupRuns": {
      "methods": {
        "delete": {
          "parameterOrder": [
            "project",
            "instance",
            "id"
          ],
          "description": "Deletes the backup taken by a backup run.",
          "response": {
            "$ref": "Operation"
          },
          "parameters": {
            "instance": {
              "type": "string",
              "location": "path",
              "required": true,
              "description": "Cloud SQL instance ID. This does not include the project ID."
            },
            "id": {
              "required": true,
              "location": "path",
              "description": "The ID of the backup run to delete. To find a backup run ID, use the [list](https://cloud.google.com/sql/docs/mysql/admin-api/rest/v1/backupRuns/list) method.",
              "type": "string",
              "format": "int64"
            },
            "project": {
              "required": true,
              "description": "Project ID of the project that contains the instance.",
              "location": "path",
              "type": "string"
            }
          },
          "id": "sql.backupRuns.delete",
          "flatPath": "v1/projects/{project}/instances/{instance}/backupRuns/{id}",
          "httpMethod": "DELETE",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "path": "v1/projects/{project}/instances/{instance}/backupRuns/{id}"
        },
        "insert": {
          "description": "Creates a new backup run on demand.",
          "response": {
            "$ref": "Operation"
          },
          "parameters": {
            "project": {
              "location": "path",
              "required": true,
              "description": "Project ID of the project that contains the instance.",
              "type": "string"
            },
            "instance": {
              "required": true,
              "location": "path",
              "description": "Cloud SQL instance ID. This does not include the project ID.",
              "type": "string"
            }
          },
          "id": "sql.backupRuns.insert",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "httpMethod": "POST",
          "parameterOrder": [
            "project",
            "instance"
          ],
          "flatPath": "v1/projects/{project}/instances/{instance}/backupRuns",
          "path": "v1/projects/{project}/instances/{instance}/backupRuns",
          "request": {
            "$ref": "BackupRun"
          }
        },
        "get": {
          "parameterOrder": [
            "project",
            "instance",
            "id"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "response": {
            "$ref": "BackupRun"
          },
          "parameters": {
            "id": {
              "description": "The ID of this backup run.",
              "required": true,
              "location": "path",
              "format": "int64",
              "type": "string"
            },
            "project": {
              "location": "path",
              "description": "Project ID of the project that contains the instance.",
              "required": true,
              "type": "string"
            },
            "instance": {
              "description": "Cloud SQL instance ID. This does not include the project ID.",
              "location": "path",
              "type": "string",
              "required": true
            }
          },
          "flatPath": "v1/projects/{project}/instances/{instance}/backupRuns/{id}",
          "description": "Retrieves a resource containing information about a backup run.",
          "id": "sql.backupRuns.get",
          "httpMethod": "GET",
          "path": "v1/projects/{project}/instances/{instance}/backupRuns/{id}"
        },
        "list": {
          "id": "sql.backupRuns.list",
          "flatPath": "v1/projects/{project}/instances/{instance}/backupRuns",
          "path": "v1/projects/{project}/instances/{instance}/backupRuns",
          "description": "Lists all backup runs associated with the project or a given instance and configuration in the reverse chronological order of the backup initiation time.",
          "httpMethod": "GET",
          "response": {
            "$ref": "BackupRunsListResponse"
          },
          "parameters": {
            "maxResults": {
              "description": "Maximum number of backup runs per response.",
              "format": "int32",
              "type": "integer",
              "location": "query"
            },
            "instance": {
              "description": "Cloud SQL instance ID, or \"-\" for all instances. This does not include the project ID.",
              "location": "path",
              "type": "string",
              "required": true
            },
            "project": {
              "location": "path",
              "required": true,
              "description": "Project ID of the project that contains the instance.",
              "type": "string"
            },
            "pageToken": {
              "location": "query",
              "type": "string",
              "description": "A previously-returned page token representing part of the larger set of results to view."
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "parameterOrder": [
            "project",
            "instance"
          ]
        }
      }
    },
    "blueGreenDeployments": {
      "methods": {
        "delete": {
          "path": "v1/{+name}",
          "id": "sql.blueGreenDeployments.delete",
          "response": {
            "$ref": "Operation"
          },
          "description": "Deletes a blue-green deployment.",
          "parameters": {
            "name": {
              "type": "string",
              "description": "Required. The name of the blue-green deployment to delete. Format: projects/{project}/locations/{location}/blueGreenDeployments/{blue_green_deployment}",
              "pattern": "^projects/[^/]+/locations/[^/]+/blueGreenDeployments/[^/]+$",
              "location": "path",
              "required": true
            },
            "deleteOldSource": {
              "location": "query",
              "description": "Optional. If set to true, and the switchover is complete, this deletes the old source instance along with the deployment.",
              "type": "boolean"
            }
          },
          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/blueGreenDeployments/{blueGreenDeploymentsId}",
          "httpMethod": "DELETE",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "parameterOrder": [
            "name"
          ]
        },
        "switchover": {
          "path": "v1/{+name}:switchover",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "description": "Switches over to green instance for a blue-green deployment.",
          "response": {
            "$ref": "Operation"
          },
          "parameterOrder": [
            "name"
          ],
          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/blueGreenDeployments/{blueGreenDeploymentsId}:switchover",
          "id": "sql.blueGreenDeployments.switchover",
          "httpMethod": "POST",
          "parameters": {
            "name": {
              "type": "string",
              "location": "path",
              "required": true,
              "pattern": "^projects/[^/]+/locations/[^/]+/blueGreenDeployments/[^/]+$",
              "description": "Required. The name of the blue-green deployment to switch over. Format: projects/{project}/locations/{location}/blueGreenDeployments/{blue_green_deployment}"
            }
          },
          "request": {
            "$ref": "SwitchoverBlueGreenDeploymentRequest"
          }
        },
        "list": {
          "httpMethod": "GET",
          "id": "sql.blueGreenDeployments.list",
          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/blueGreenDeployments",
          "parameters": {
            "orderBy": {
              "description": "Optional. A comma-separated list of fields to order the results by.",
              "type": "string",
              "location": "query"
            },
            "pageToken": {
              "description": "Optional. A page token, received from a previous `ListBlueGreenDeployments` call. Provide this to retrieve the subsequent page.",
              "type": "string",
              "location": "query"
            },
            "parent": {
              "description": "Required. The parent resource whose blue-green deployments are to be listed. Format: projects/{project}/locations/{location}",
              "location": "path",
              "required": true,
              "type": "string",
              "pattern": "^projects/[^/]+/locations/[^/]+$"
            },
            "filter": {
              "description": "Optional. A filter expression that filters the results.",
              "type": "string",
              "location": "query"
            },
            "pageSize": {
              "description": "Optional. The maximum number of deployments to return. The service may return fewer deployments than this value. If unspecified, at most 500 deployments are returned. The maximum value is 1000; values above 1000 are treated as 1000.",
              "location": "query",
              "format": "int32",
              "type": "integer"
            }
          },
          "description": "Lists blue-green deployments under a given project.",
          "parameterOrder": [
            "parent"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "path": "v1/{+parent}/blueGreenDeployments",
          "response": {
            "$ref": "ListBlueGreenDeploymentsResponse"
          }
        },
        "create": {
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "response": {
            "$ref": "Operation"
          },
          "request": {
            "$ref": "BlueGreenDeployment"
          },
          "path": "v1/{+parent}/blueGreenDeployments",
          "id": "sql.blueGreenDeployments.create",
          "httpMethod": "POST",
          "parameters": {
            "parent": {
              "required": true,
              "pattern": "^projects/[^/]+/locations/[^/]+$",
              "location": "path",
              "type": "string",
              "description": "Required. The parent resource where this blue-green deployment will be created. Format: projects/{project}/locations/{location}"
            },
            "blueGreenDeploymentId": {
              "type": "string",
              "location": "query",
              "description": "Required. The ID to use for the blue-green deployment, which will become the final component of the deployment's resource name. The ID must be unique within the given project and location and between 2-63 characters."
            }
          },
          "parameterOrder": [
            "parent"
          ],
          "description": "Creates a blue-green deployment under a given project and location.",
          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/blueGreenDeployments"
        },
        "get": {
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/blueGreenDeployments/{blueGreenDeploymentsId}",
          "response": {
            "$ref": "BlueGreenDeployment"
          },
          "description": "Retrieves a blue-green deployment resource under a given project and location.",
          "httpMethod": "GET",
          "parameterOrder": [
            "name"
          ],
          "id": "sql.blueGreenDeployments.get",
          "path": "v1/{+name}",
          "parameters": {
            "view": {
              "location": "query",
              "type": "string",
              "description": "Optional. Specifies whether to return the basic or detailed view of the resource in the response.",
              "enumDescriptions": [
                "Blue-green deployment view enumeration. This allows the caller to specify what view they query. If unspecified (BLUE_GREEN_DEPLOYMENT_VIEW_UNSPECIFIED), the behavior is the same as BASIC.",
                "Includes basic metadata about the blue-green deployment. `BASIC` is the default view.",
                "Includes basic metadata and configuration differences between source and target instances (`database_version`, `tier`, `edition`, `availability_type`, `data_disk_size_gb`, and `data_disk_type`)."
              ],
              "enum": [
                "BLUE_GREEN_DEPLOYMENT_VIEW_UNSPECIFIED",
                "BASIC",
                "DETAILED"
              ]
            },
            "name": {
              "pattern": "^projects/[^/]+/locations/[^/]+/blueGreenDeployments/[^/]+$",
              "required": true,
              "description": "Required. The name of the blue-green deployment to retrieve. Format: projects/{project}/locations/{location}/blueGreenDeployments/{blue_green_deployment}",
              "location": "path",
              "type": "string"
            }
          }
        }
      }
    },
    "instances": {
      "methods": {
        "rotateServerCa": {
          "request": {
            "$ref": "InstancesRotateServerCaRequest"
          },
          "response": {
            "$ref": "Operation"
          },
          "parameterOrder": [
            "project",
            "instance"
          ],
          "id": "sql.instances.rotateServerCa",
          "path": "v1/projects/{project}/instances/{instance}/rotateServerCa",
          "description": "Rotates the server certificate to one signed by the Certificate Authority (CA) version previously added with the addServerCA method. For instances that have enabled Certificate Authority Service (CAS) based server CA, use RotateServerCertificate to rotate the server certificate.",
          "flatPath": "v1/projects/{project}/instances/{instance}/rotateServerCa",
          "parameters": {
            "instance": {
              "required": true,
              "description": "Cloud SQL instance ID. This does not include the project ID.",
              "location": "path",
              "type": "string"
            },
            "location": {
              "type": "string",
              "description": "Optional. Region of the Cloud SQL instance.",
              "location": "query"
            },
            "project": {
              "required": true,
              "type": "string",
              "description": "Project ID of the project that contains the instance.",
              "location": "path"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "httpMethod": "POST"
        },
        "get": {
          "id": "sql.instances.get",
          "flatPath": "v1/projects/{project}/instances/{instance}",
          "parameterOrder": [
            "project",
            "instance"
          ],
          "description": "Retrieves a resource containing information about a Cloud SQL instance.",
          "httpMethod": "GET",
          "parameters": {
            "project": {
              "type": "string",
              "location": "path",
              "description": "Required. Project ID of the project that contains the instance.",
              "required": true
            },
            "location": {
              "location": "query",
              "description": "Optional. Region of the Cloud SQL instance.",
              "type": "string"
            },
            "instance": {
              "required": true,
              "description": "Required. Database instance ID. This does not include the project ID.",
              "location": "path",
              "type": "string"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "path": "v1/projects/{project}/instances/{instance}",
          "response": {
            "$ref": "DatabaseInstance"
          }
        },
        "reencrypt": {
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "id": "sql.instances.reencrypt",
          "response": {
            "$ref": "Operation"
          },
          "description": "Reencrypt CMEK instance with latest key version.",
          "request": {
            "$ref": "InstancesReencryptRequest"
          },
          "parameterOrder": [
            "project",
            "instance"
          ],
          "path": "v1/projects/{project}/instances/{instance}/reencrypt",
          "flatPath": "v1/projects/{project}/instances/{instance}/reencrypt",
          "parameters": {
            "location": {
              "location": "query",
              "description": "Optional. Region of the Cloud SQL instance.",
              "type": "string"
            },
            "instance": {
              "description": "Cloud SQL instance ID. This does not include the project ID.",
              "type": "string",
              "location": "path",
              "required": true
            },
            "project": {
              "required": true,
              "type": "string",
              "description": "ID of the project that contains the instance.",
              "location": "path"
            }
          },
          "httpMethod": "POST"
        },
        "export": {
          "description": "Exports data from a Cloud SQL instance to a Cloud Storage bucket as a SQL dump or CSV file.",
          "flatPath": "v1/projects/{project}/instances/{instance}/export",
          "id": "sql.instances.export",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "httpMethod": "POST",
          "parameters": {
            "location": {
              "location": "query",
              "description": "Optional. Region of the Cloud SQL instance.",
              "type": "string"
            },
            "project": {
              "required": true,
              "location": "path",
              "type": "string",
              "description": "Project ID of the project that contains the instance to be exported."
            },
            "instance": {
              "description": "Cloud SQL instance ID. This does not include the project ID.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "request": {
            "$ref": "InstancesExportRequest"
          },
          "response": {
            "$ref": "Operation"
          },
          "path": "v1/projects/{project}/instances/{instance}/export",
          "parameterOrder": [
            "project",
            "instance"
          ]
        },
        "acquireSsrsLease": {
          "id": "sql.instances.acquireSsrsLease",
          "parameters": {
            "location": {
              "description": "Optional. Region of the Cloud SQL instance.",
              "type": "string",
              "location": "query"
            },
            "project": {
              "required": true,
              "location": "path",
              "type": "string",
              "description": "Required. Project ID of the project that contains the instance (Example: project-id)."
            },
            "instance": {
              "description": "Required. Cloud SQL instance ID. This doesn't include the project ID. It's composed of lowercase letters, numbers, and hyphens, and it must start with a letter. The total length must be 98 characters or less (Example: instance-id).",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "response": {
            "$ref": "SqlInstancesAcquireSsrsLeaseResponse"
          },
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "description": "Acquire a lease for the setup of SQL Server Reporting Services (SSRS).",
          "request": {
            "$ref": "InstancesAcquireSsrsLeaseRequest"
          },
          "path": "v1/projects/{project}/instances/{instance}/acquireSsrsLease",
          "flatPath": "v1/projects/{project}/instances/{instance}/acquireSsrsLease",
          "parameterOrder": [
            "project",
            "instance"
          ]
        },
        "patch": {
          "parameters": {
            "location": {
              "description": "Optional. Region of the Cloud SQL instance.",
              "type": "string",
              "location": "query"
            },
            "instance": {
              "required": true,
              "description": "Cloud SQL instance ID. This does not include the project ID.",
              "type": "string",
              "location": "path"
            },
            "reconcilePscNetworking": {
              "type": "boolean",
              "location": "query",
              "description": "Optional. Set PSC config to the same value as the existing config to reconcile the PSC networking."
            },
            "reconcilePscNetworkingForce": {
              "type": "boolean",
              "location": "query",
              "description": "Optional. Set PSC config to the same value as the existing config and force reconcile the PSC networking."
            },
            "project": {
              "description": "Project ID of the project that contains the instance.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "httpMethod": "PATCH",
          "parameterOrder": [
            "project",
            "instance"
          ],
          "path": "v1/projects/{project}/instances/{instance}",
          "flatPath": "v1/projects/{project}/instances/{instance}",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "request": {
            "$ref": "DatabaseInstance"
          },
          "response": {
            "$ref": "Operation"
          },
          "description": "Partially updates settings of a Cloud SQL instance by merging the request with the current configuration. This method supports patch semantics.",
          "id": "sql.instances.patch"
        },
        "demote": {
          "request": {
            "$ref": "InstancesDemoteRequest"
          },
          "response": {
            "$ref": "Operation"
          },
          "id": "sql.instances.demote",
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "parameters": {
            "project": {
              "required": true,
              "type": "string",
              "location": "path",
              "description": "Required. ID of the project that contains the instance."
            },
            "location": {
              "description": "Optional. Region of the Cloud SQL instance.",
              "type": "string",
              "location": "query"
            },
            "instance": {
              "description": "Required. Cloud SQL instance name.",
              "type": "string",
              "location": "path",
              "required": true
            }
          },
          "description": "Demotes an existing standalone instance to be a Cloud SQL read replica for an external database server.",
          "path": "v1/projects/{project}/instances/{instance}/demote",
          "flatPath": "v1/projects/{project}/instances/{instance}/demote",
          "parameterOrder": [
            "project",
            "instance"
          ]
        },
        "restoreBackup": {
          "parameters": {
            "project": {
              "type": "string",
              "location": "path",
              "required": true,
              "description": "Project ID of the project that contains the instance."
            },
            "location": {
              "type": "string",
              "description": "Optional. Region of the Cloud SQL instance.",
              "location": "query"
            },
            "instance": {
              "location": "path",
              "required": true,
              "description": "Cloud SQL instance ID. This does not include the project ID.",
              "type": "string"
            }
          },
          "id": "sql.instances.restoreBackup",
          "parameterOrder": [
            "project",
            "instance"
          ],
          "httpMethod": "POST",
          "flatPath": "v1/projects/{project}/instances/{instance}/restoreBackup",
          "path": "v1/projects/{project}/instances/{instance}/restoreBackup",
          "request": {
            "$ref": "InstancesRestoreBackupRequest"
          },
          "response": {
            "$ref": "Operation"
          },
          "description": "Restores a backup of a Cloud SQL instance. Using this operation might cause your instance to restart.",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ]
        },
        "executeSql": {
          "path": "v1/projects/{project}/instances/{instance}/executeSql",
          "flatPath": "v1/projects/{project}/instances/{instance}/executeSql",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "request": {
            "$ref": "ExecuteSqlPayload"
          },
          "parameterOrder": [
            "project",
            "instance"
          ],
          "httpMethod": "POST",
          "id": "sql.instances.executeSql",
          "description": "Execute SQL statements.",
          "parameters": {
            "instance": {
              "required": true,
              "location": "path",
              "type": "string",
              "description": "Required. Database instance ID. This does not include the project ID."
            },
            "project": {
              "required": true,
              "location": "path",
              "type": "string",
              "description": "Required. Project ID of the project that contains the instance."
            },
            "location": {
              "location": "query",
              "type": "string",
              "description": "Optional. Region of the Cloud SQL instance."
            }
          },
          "response": {
            "$ref": "SqlInstancesExecuteSqlResponse"
          }
        },
        "truncateLog": {
          "request": {
            "$ref": "InstancesTruncateLogRequest"
          },
          "httpMethod": "POST",
          "parameters": {
            "instance": {
              "required": true,
              "description": "Cloud SQL instance ID. This does not include the project ID.",
              "location": "path",
              "type": "string"
            },
            "location": {
              "description": "Optional. Region of the Cloud SQL instance.",
              "type": "string",
              "location": "query"
            },
            "project": {
              "location": "path",
              "required": true,
              "description": "Project ID of the Cloud SQL project.",
              "type": "string"
            }
          },
          "description": "Truncate MySQL general and slow query log tables MySQL only.",
          "parameterOrder": [
            "project",
            "instance"
          ],
          "response": {
            "$ref": "Operation"
          },
          "flatPath": "v1/projects/{project}/instances/{instance}/truncateLog",
          "id": "sql.instances.truncateLog",
          "path": "v1/projects/{project}/instances/{instance}/truncateLog",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ]
        },
        "pointInTimeRestore": {
          "response": {
            "$ref": "Operation"
          },
          "description": "Point in time restore for an instance managed by Google Cloud Backup and Disaster Recovery.",
          "id": "sql.instances.pointInTimeRestore",
          "request": {
            "$ref": "PointInTimeRestoreContext"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "path": "v1/{+parent}:pointInTimeRestore",
          "parameterOrder": [
            "parent"
          ],
          "flatPath": "v1/projects/{projectsId}:pointInTimeRestore",
          "httpMethod": "POST",
          "parameters": {
            "parent": {
              "description": "Required. The parent resource where you created this instance. Format: projects/{project}",
              "pattern": "^projects/[^/]+$",
              "location": "path",
              "type": "string",
              "required": true
            }
          }
        },
        "resetSslConfig": {
          "parameters": {
            "mode": {
              "type": "string",
              "location": "query",
              "enum": [
                "RESET_SSL_MODE_UNSPECIFIED",
                "ALL",
                "SYNC_FROM_PRIMARY"
              ],
              "enumDescriptions": [
                "Reset SSL mode is not specified.",
                "Refresh all TLS configs. This is the default behaviour.",
                "Refreshes the replication-related TLS configuration settings provided by the primary instance. Not applicable to on-premises replication instances."
              ],
              "description": "Optional. Reset SSL mode to use."
            },
            "project": {
              "location": "path",
              "required": true,
              "description": "Project ID of the project that contains the instance.",
              "type": "string"
            },
            "location": {
              "type": "string",
              "location": "query",
              "description": "Optional. Region of the Cloud SQL instance."
            },
            "instance": {
              "type": "string",
              "description": "Cloud SQL instance ID. This does not include the project ID.",
              "required": true,
              "location": "path"
            }
          },
          "id": "sql.instances.resetSslConfig",
          "httpMethod": "POST",
          "response": {
            "$ref": "Operation"
          },
          "parameterOrder": [
            "project",
            "instance"
          ],
          "flatPath": "v1/projects/{project}/instances/{instance}/resetSslConfig",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "description": "Deletes all client certificates and generates a new server SSL certificate for the instance.",
          "path": "v1/projects/{project}/instances/{instance}/resetSslConfig"
        },
        "addServerCertificate": {
          "parameters": {
            "instance": {
              "required": true,
              "description": "Cloud SQL instance ID. This does not include the project ID.",
              "location": "path",
              "type": "string"
            },
            "location": {
              "location": "query",
              "description": "Optional. Region of the Cloud SQL instance.",
              "type": "string"
            },
            "project": {
              "location": "path",
              "type": "string",
              "required": true,
              "description": "Project ID of the project that contains the instance."
            }
          },
          "id": "sql.instances.addServerCertificate",
          "httpMethod": "POST",
          "response": {
            "$ref": "Operation"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "description": "Add a new trusted server certificate version for the specified instance using Certificate Authority Service (CAS) server CA. Required to prepare for a certificate rotation. If a server certificate version was previously added but never used in a certificate rotation, this operation replaces that version. There cannot be more than one certificate version waiting to be rotated in. For instances not using CAS server CA, use AddServerCa instead.",
          "path": "v1/projects/{project}/instances/{instance}/addServerCertificate",
          "flatPath": "v1/projects/{project}/instances/{instance}/addServerCertificate",
          "parameterOrder": [
            "project",
            "instance"
          ]
        },
        "RotateServerCertificate": {
          "parameters": {
            "instance": {
              "description": "Required. Cloud SQL instance ID. This does not include the project ID.",
              "location": "path",
              "type": "string",
              "required": true
            },
            "project": {
              "location": "path",
              "type": "string",
              "required": true,
              "description": "Required. Project ID of the project that contains the instance."
            },
            "location": {
              "description": "Optional. Region of the Cloud SQL instance.",
              "location": "query",
              "type": "string"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "httpMethod": "POST",
          "request": {
            "$ref": "InstancesRotateServerCertificateRequest"
          },
          "parameterOrder": [
            "project",
            "instance"
          ],
          "response": {
            "$ref": "Operation"
          },
          "flatPath": "v1/projects/{project}/instances/{instance}/rotateServerCertificate",
          "path": "v1/projects/{project}/instances/{instance}/rotateServerCertificate",
          "description": "Rotates the server certificate version to one previously added with the addServerCertificate method. For instances not using Certificate Authority Service (CAS) server CA, use RotateServerCa instead.",
          "id": "sql.instances.RotateServerCertificate"
        },
        "stopReplica": {
          "parameterOrder": [
            "project",
            "instance"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "flatPath": "v1/projects/{project}/instances/{instance}/stopReplica",
          "description": "Stops the replication in the read replica instance.",
          "httpMethod": "POST",
          "parameters": {
            "instance": {
              "required": true,
              "location": "path",
              "description": "Cloud SQL read replica instance name.",
              "type": "string"
            },
            "location": {
              "location": "query",
              "type": "string",
              "description": "Optional. Region of the Cloud SQL instance."
            },
            "project": {
              "required": true,
              "type": "string",
              "description": "ID of the project that contains the read replica.",
              "location": "path"
            }
          },
          "path": "v1/projects/{project}/instances/{instance}/stopReplica",
          "response": {
            "$ref": "Operation"
          },
          "id": "sql.instances.stopReplica"
        },
        "import": {
          "request": {
            "$ref": "InstancesImportRequest"
          },
          "parameterOrder": [
            "project",
            "instance"
          ],
          "id": "sql.instances.import",
          "description": "Imports data into a Cloud SQL instance from a SQL dump or CSV file in Cloud Storage.",
          "flatPath": "v1/projects/{project}/instances/{instance}/import",
          "path": "v1/projects/{project}/instances/{instance}/import",
          "response": {
            "$ref": "Operation"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "httpMethod": "POST",
          "parameters": {
            "project": {
              "description": "Project ID of the project that contains the instance.",
              "required": true,
              "location": "path",
              "type": "string"
            },
            "instance": {
              "location": "path",
              "type": "string",
              "description": "Cloud SQL instance ID. This does not include the project ID.",
              "required": true
            },
            "location": {
              "type": "string",
              "description": "Optional. Region of the Cloud SQL instance.",
              "location": "query"
            }
          }
        },
        "list": {
          "parameterOrder": [
            "project"
          ],
          "flatPath": "v1/projects/{project}/instances",
          "parameters": {
            "location": {
              "type": "string",
              "description": "Optional. Region of the Cloud SQL instance.",
              "location": "query"
            },
            "pageToken": {
              "type": "string",
              "location": "query",
              "description": "A previously-returned page token representing part of the larger set of results to view."
            },
            "project": {
              "location": "path",
              "required": true,
              "description": "Project ID of the project for which to list Cloud SQL instances.",
              "type": "string"
            },
            "filter": {
              "location": "query",
              "description": "A filter expression that filters resources listed in the response. The expression is in the form of field:value. For example, 'instanceType:CLOUD_SQL_INSTANCE'. Fields can be nested as needed as per their JSON representation, such as 'settings.userLabels.auto_start:true'. Multiple filter queries are space-separated. For example. 'state:RUNNABLE instanceType:CLOUD_SQL_INSTANCE'. By default, each expression is an AND expression. However, you can include AND and OR expressions explicitly.",
              "type": "string"
            },
            "maxResults": {
              "format": "uint32",
              "type": "integer",
              "location": "query",
              "description": "The maximum number of instances to return. The service may return fewer than this value. If unspecified, at most 500 instances are returned. The maximum value is 1000; values above 1000 are coerced to 1000."
            }
          },
          "path": "v1/projects/{project}/instances",
          "httpMethod": "GET",
          "response": {
            "$ref": "InstancesListResponse"
          },
          "description": "Lists instances under a given project.",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "id": "sql.instances.list"
        },
        "addServerCa": {
          "id": "sql.instances.addServerCa",
          "flatPath": "v1/projects/{project}/instances/{instance}/addServerCa",
          "description": "Adds a new trusted Certificate Authority (CA) version for the specified instance. Required to prepare for a certificate rotation. If a CA version was previously added but never used in a certificate rotation, this operation replaces that version. There cannot be more than one CA version waiting to be rotated in. For instances that have enabled Certificate Authority Service (CAS) based server CA, use AddServerCertificate to add a new server certificate.",
          "path": "v1/projects/{project}/instances/{instance}/addServerCa",
          "parameterOrder": [
            "project",
            "instance"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "httpMethod": "POST",
          "response": {
            "$ref": "Operation"
          },
          "parameters": {
            "project": {
              "type": "string",
              "location": "path",
              "required": true,
              "description": "Project ID of the project that contains the instance."
            },
            "location": {
              "location": "query",
              "type": "string",
              "description": "Optional. Region of the Cloud SQL instance."
            },
            "instance": {
              "required": true,
              "description": "Cloud SQL instance ID. This does not include the project ID.",
              "location": "path",
              "type": "string"
            }
          }
        },
        "switchover": {
          "httpMethod": "POST",
          "parameters": {
            "dbTimeout": {
              "description": "Optional. (MySQL and PostgreSQL only) Cloud SQL instance operations timeout, which is a sum of all database operations. Default value is 10 minutes and can be modified to a maximum value of 24 hours.",
              "type": "string",
              "format": "google-duration",
              "location": "query"
            },
            "project": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "ID of the project that contains the replica."
            },
            "location": {
              "type": "string",
              "location": "query",
              "description": "Optional. Region of the Cloud SQL instance."
            },
            "instance": {
              "type": "string",
              "location": "path",
              "required": true,
              "description": "Cloud SQL read replica instance name."
            }
          },
          "response": {
            "$ref": "Operation"
          },
          "id": "sql.instances.switchover",
          "description": "Switches over from the primary instance to the DR replica instance.",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "path": "v1/projects/{project}/instances/{instance}/switchover",
          "parameterOrder": [
            "project",
            "instance"
          ],
          "flatPath": "v1/projects/{project}/instances/{instance}/switchover"
        },
        "ListServerCertificates": {
          "response": {
            "$ref": "InstancesListServerCertificatesResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "id": "sql.instances.ListServerCertificates",
          "parameterOrder": [
            "project",
            "instance"
          ],
          "flatPath": "v1/projects/{project}/instances/{instance}/listServerCertificates",
          "httpMethod": "GET",
          "path": "v1/projects/{project}/instances/{instance}/listServerCertificates",
          "description": "Lists all versions of server certificates and certificate authorities (CAs) for the specified instance. There can be up to three sets of certs listed: the certificate that is currently in use, a future that has been added but not yet used to sign a certificate, and a certificate that has been rotated out. For instances not using Certificate Authority Service (CAS) server CA, use ListServerCas instead.",
          "parameters": {
            "instance": {
              "description": "Required. Cloud SQL instance ID. This does not include the project ID.",
              "required": true,
              "location": "path",
              "type": "string"
            },
            "location": {
              "type": "string",
              "location": "query",
              "description": "Optional. Region of the Cloud SQL instance."
            },
            "project": {
              "description": "Required. Project ID of the project that contains the instance.",
              "type": "string",
              "location": "path",
              "required": true
            }
          }
        },
        "failover": {
          "id": "sql.instances.failover",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "httpMethod": "POST",
          "response": {
            "$ref": "Operation"
          },
          "parameters": {
            "location": {
              "description": "Optional. Region of the Cloud SQL instance.",
              "location": "query",
              "type": "string"
            },
            "instance": {
              "required": true,
              "location": "path",
              "type": "string",
              "description": "Cloud SQL instance ID. This does not include the project ID."
            },
            "project": {
              "type": "string",
              "location": "path",
              "description": "ID of the project that contains the read replica.",
              "required": true
            }
          },
          "flatPath": "v1/projects/{project}/instances/{instance}/failover",
          "description": "Initiates a manual failover of a high availability (HA) primary instance to a standby instance, which becomes the primary instance. Users are then rerouted to the new primary. For more information, see the [Overview of high availability](https://cloud.google.com/sql/docs/mysql/high-availability) page in the Cloud SQL documentation. If using Legacy HA (MySQL only), this causes the instance to failover to its failover replica instance.",
          "request": {
            "$ref": "InstancesFailoverRequest"
          },
          "parameterOrder": [
            "project",
            "instance"
          ],
          "path": "v1/projects/{project}/instances/{instance}/failover"
        },
        "listServerCas": {
          "flatPath": "v1/projects/{project}/instances/{instance}/listServerCas",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "id": "sql.instances.listServerCas",
          "parameterOrder": [
            "project",
            "instance"
          ],
          "parameters": {
            "instance": {
              "required": true,
              "location": "path",
              "description": "Cloud SQL instance ID. This does not include the project ID.",
              "type": "string"
            },
            "project": {
              "required": true,
              "type": "string",
              "description": "Project ID of the project that contains the instance.",
              "location": "path"
            },
            "location": {
              "location": "query",
              "description": "Optional. Region of the Cloud SQL instance.",
              "type": "string"
            }
          },
          "path": "v1/projects/{project}/instances/{instance}/listServerCas",
          "httpMethod": "GET",
          "description": "Lists all of the trusted Certificate Authorities (CAs) for the specified instance. There can be up to three CAs listed: the CA that was used to sign the certificate that is currently in use, a CA that has been added but not yet used to sign a certificate, and a CA used to sign a certificate that has previously rotated out.",
          "response": {
            "$ref": "InstancesListServerCasResponse"
          }
        },
        "preCheckMajorVersionUpgrade": {
          "request": {
            "$ref": "InstancesPreCheckMajorVersionUpgradeRequest"
          },
          "httpMethod": "POST",
          "flatPath": "v1/projects/{project}/instances/{instance}/preCheckMajorVersionUpgrade",
          "parameterOrder": [
            "project",
            "instance"
          ],
          "parameters": {
            "instance": {
              "required": true,
              "location": "path",
              "type": "string",
              "description": "Required. Cloud SQL instance ID. This does not include the project ID."
            },
            "project": {
              "description": "Required. Project ID of the project that contains the instance.",
              "required": true,
              "type": "string",
              "location": "path"
            },
            "location": {
              "location": "query",
              "description": "Optional. Region of the Cloud SQL instance.",
              "type": "string"
            }
          },
          "path": "v1/projects/{project}/instances/{instance}/preCheckMajorVersionUpgrade",
          "description": "Execute MVU Pre-checks",
          "response": {
            "$ref": "Operation"
          },
          "id": "sql.instances.preCheckMajorVersionUpgrade",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ]
        },
        "addEntraIdCertificate": {
          "parameterOrder": [
            "project",
            "instance"
          ],
          "id": "sql.instances.addEntraIdCertificate",
          "response": {
            "$ref": "Operation"
          },
          "path": "v1/projects/{project}/instances/{instance}/addEntraIdCertificate",
          "parameters": {
            "instance": {
              "type": "string",
              "location": "path",
              "required": true,
              "description": "Required. Cloud SQL instance ID. This does not include the project ID."
            },
            "project": {
              "type": "string",
              "location": "path",
              "required": true,
              "description": "Required. Project ID of the project that contains the instance."
            },
            "location": {
              "location": "query",
              "description": "Optional. Region of the Cloud SQL instance.",
              "type": "string"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "httpMethod": "POST",
          "flatPath": "v1/projects/{project}/instances/{instance}/addEntraIdCertificate",
          "description": "Adds a new Entra ID certificate for the specified instance. If an Entra ID certificate was previously added but never used in a certificate rotation, this operation replaces that version."
        },
        "clone": {
          "httpMethod": "POST",
          "flatPath": "v1/projects/{project}/instances/{instance}/clone",
          "parameters": {
            "location": {
              "description": "Optional. Region of the Cloud SQL instance.",
              "type": "string",
              "location": "query"
            },
            "project": {
              "location": "path",
              "type": "string",
              "description": "Required. Project ID of the source Cloud SQL instance.",
              "required": true
            },
            "instance": {
              "description": "Required. The ID of the Cloud SQL instance to be cloned (source). This does not include the project ID.",
              "type": "string",
              "location": "path",
              "required": true
            }
          },
          "parameterOrder": [
            "project",
            "instance"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "description": "Creates a Cloud SQL instance as a clone of the source instance. Using this operation might cause your instance to restart.",
          "request": {
            "$ref": "InstancesCloneRequest"
          },
          "path": "v1/projects/{project}/instances/{instance}/clone",
          "id": "sql.instances.clone",
          "response": {
            "$ref": "Operation"
          }
        },
        "restart": {
          "path": "v1/projects/{project}/instances/{instance}/restart",
          "httpMethod": "POST",
          "response": {
            "$ref": "Operation"
          },
          "parameterOrder": [
            "project",
            "instance"
          ],
          "parameters": {
            "project": {
              "description": "Project ID of the project that contains the instance to be restarted.",
              "required": true,
              "location": "path",
              "type": "string"
            },
            "instance": {
              "required": true,
              "location": "path",
              "type": "string",
              "description": "Cloud SQL instance ID. This does not include the project ID."
            },
            "location": {
              "description": "Optional. Region of the Cloud SQL instance.",
              "type": "string",
              "location": "query"
            }
          },
          "id": "sql.instances.restart",
          "description": "Restarts a Cloud SQL instance.",
          "flatPath": "v1/projects/{project}/instances/{instance}/restart",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ]
        },
        "update": {
          "parameterOrder": [
            "project",
            "instance"
          ],
          "request": {
            "$ref": "DatabaseInstance"
          },
          "path": "v1/projects/{project}/instances/{instance}",
          "description": "Updates settings of a Cloud SQL instance. Using this operation might cause your instance to restart.",
          "flatPath": "v1/projects/{project}/instances/{instance}",
          "response": {
            "$ref": "Operation"
          },
          "id": "sql.instances.update",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "parameters": {
            "location": {
              "type": "string",
              "description": "Optional. Region of the Cloud SQL instance.",
              "location": "query"
            },
            "instance": {
              "description": "Cloud SQL instance ID. This does not include the project ID.",
              "location": "path",
              "type": "string",
              "required": true
            },
            "project": {
              "required": true,
              "location": "path",
              "description": "Project ID of the project that contains the instance.",
              "type": "string"
            }
          },
          "httpMethod": "PUT"
        },
        "releaseSsrsLease": {
          "description": "Release a lease for the setup of SQL Server Reporting Services (SSRS).",
          "parameters": {
            "project": {
              "description": "Required. The project ID that contains the instance.",
              "location": "path",
              "type": "string",
              "required": true
            },
            "location": {
              "location": "query",
              "type": "string",
              "description": "Optional. Region of the Cloud SQL instance."
            },
            "instance": {
              "location": "path",
              "description": "Required. The Cloud SQL instance ID. This doesn't include the project ID. The instance ID contains lowercase letters, numbers, and hyphens, and it must start with a letter. This ID can have a maximum length of 98 characters.",
              "required": true,
              "type": "string"
            }
          },
          "response": {
            "$ref": "SqlInstancesReleaseSsrsLeaseResponse"
          },
          "httpMethod": "POST",
          "flatPath": "v1/projects/{project}/instances/{instance}/releaseSsrsLease",
          "path": "v1/projects/{project}/instances/{instance}/releaseSsrsLease",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "id": "sql.instances.releaseSsrsLease",
          "parameterOrder": [
            "project",
            "instance"
          ]
        },
        "startReplica": {
          "flatPath": "v1/projects/{project}/instances/{instance}/startReplica",
          "id": "sql.instances.startReplica",
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "parameters": {
            "location": {
              "description": "Optional. Region of the Cloud SQL instance.",
              "type": "string",
              "location": "query"
            },
            "instance": {
              "description": "Cloud SQL read replica instance name.",
              "type": "string",
              "required": true,
              "location": "path"
            },
            "project": {
              "location": "path",
              "required": true,
              "description": "ID of the project that contains the read replica.",
              "type": "string"
            }
          },
          "description": "Starts the replication in the read replica instance.",
          "path": "v1/projects/{project}/instances/{instance}/startReplica",
          "parameterOrder": [
            "project",
            "instance"
          ],
          "response": {
            "$ref": "Operation"
          }
        },
        "delete": {
          "id": "sql.instances.delete",
          "response": {
            "$ref": "Operation"
          },
          "path": "v1/projects/{project}/instances/{instance}",
          "parameterOrder": [
            "project",
            "instance"
          ],
          "flatPath": "v1/projects/{project}/instances/{instance}",
          "parameters": {
            "finalBackupTtlDays": {
              "description": "Optional. Retention period of the final backup.",
              "format": "int64",
              "type": "string",
              "location": "query"
            },
            "location": {
              "location": "query",
              "type": "string",
              "description": "Optional. Region of the Cloud SQL instance."
            },
            "enableFinalBackup": {
              "description": "Flag to opt-in for final backup. By default, it is turned off.",
              "type": "boolean",
              "location": "query"
            },
            "finalBackupExpiryTime": {
              "description": "Optional. Final Backup expiration time. Timestamp in UTC of when this resource is considered expired.",
              "location": "query",
              "type": "string",
              "format": "google-datetime"
            },
            "project": {
              "required": true,
              "location": "path",
              "description": "Project ID of the project that contains the instance to be deleted.",
              "type": "string"
            },
            "finalBackupDescription": {
              "description": "Optional. The description of the final backup.",
              "type": "string",
              "location": "query"
            },
            "instance": {
              "location": "path",
              "description": "Cloud SQL instance ID. This does not include the project ID.",
              "required": true,
              "type": "string"
            }
          },
          "description": "Deletes a Cloud SQL instance.",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "httpMethod": "DELETE"
        },
        "insert": {
          "response": {
            "$ref": "Operation"
          },
          "httpMethod": "POST",
          "parameterOrder": [
            "project"
          ],
          "parameters": {
            "location": {
              "location": "query",
              "type": "string",
              "description": "Optional. Region of the Cloud SQL instance."
            },
            "project": {
              "description": "Project ID of the project to which the newly created Cloud SQL instances should belong.",
              "required": true,
              "type": "string",
              "location": "path"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "request": {
            "$ref": "DatabaseInstance"
          },
          "flatPath": "v1/projects/{project}/instances",
          "path": "v1/projects/{project}/instances",
          "description": "Creates a new Cloud SQL instance.",
          "id": "sql.instances.insert"
        },
        "promoteReplica": {
          "description": "Promotes the read replica instance to be an independent Cloud SQL primary instance. Using this operation might cause your instance to restart.",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "parameters": {
            "failover": {
              "description": "Set to true to invoke a replica failover to the DR replica. As part of replica failover, the promote operation attempts to add the original primary instance as a replica of the promoted DR replica when the original primary instance comes back online. If set to false or not specified, then the original primary instance becomes an independent Cloud SQL primary instance.",
              "type": "boolean",
              "location": "query"
            },
            "project": {
              "location": "path",
              "required": true,
              "description": "ID of the project that contains the read replica.",
              "type": "string"
            },
            "location": {
              "location": "query",
              "type": "string",
              "description": "Optional. Region of the Cloud SQL instance."
            },
            "instance": {
              "location": "path",
              "description": "Cloud SQL read replica instance name.",
              "required": true,
              "type": "string"
            }
          },
          "flatPath": "v1/projects/{project}/instances/{instance}/promoteReplica",
          "httpMethod": "POST",
          "path": "v1/projects/{project}/instances/{instance}/promoteReplica",
          "parameterOrder": [
            "project",
            "instance"
          ],
          "response": {
            "$ref": "Operation"
          },
          "id": "sql.instances.promoteReplica"
        },
        "demoteMaster": {
          "description": "Demotes the stand-alone instance to be a Cloud SQL read replica for an external database server.",
          "flatPath": "v1/projects/{project}/instances/{instance}/demoteMaster",
          "parameters": {
            "instance": {
              "description": "Cloud SQL instance name.",
              "type": "string",
              "location": "path",
              "required": true
            },
            "location": {
              "type": "string",
              "description": "Optional. Region of the Cloud SQL instance.",
              "location": "query"
            },
            "project": {
              "type": "string",
              "description": "ID of the project that contains the instance.",
              "required": true,
              "location": "path"
            }
          },
          "httpMethod": "POST",
          "parameterOrder": [
            "project",
[...]
