{
  "revision": "20260819",
  "canonicalName": "SQL Admin",
  "name": "sqladmin",
  "ownerDomain": "google.com",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "protocol": "rest",
  "rootUrl": "https://sqladmin.googleapis.com/",
  "parameters": {
    "alt": {
      "description": "Data format for response.",
      "default": "json",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "type": "string",
      "location": "query"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string",
      "location": "query"
    },
    "key": {
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string"
    },
    "uploadType": {
      "type": "string",
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "callback": {
      "location": "query",
      "description": "JSONP",
      "type": "string"
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean",
      "default": "true",
      "location": "query"
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "quotaUser": {
      "location": "query",
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "$.xgafv": {
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "enum": [
        "1",
        "2"
      ],
      "location": "query",
      "type": "string",
      "description": "V1 error format."
    }
  },
  "batchPath": "batch",
  "servicePath": "",
  "mtlsRootUrl": "https://sqladmin.mtls.googleapis.com/",
  "title": "Cloud SQL Admin API",
  "kind": "discovery#restDescription",
  "ownerName": "Google",
  "discoveryVersion": "v1",
  "baseUrl": "https://sqladmin.googleapis.com/",
  "fullyEncodeReservedExpansion": true,
  "endpoints": [
    {
      "endpointUrl": "https://sqladmin.us-east7.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "us-east7"
    },
    {
      "location": "northamerica-northeast1",
      "endpointUrl": "https://sqladmin.northamerica-northeast1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "northamerica-northeast2",
      "endpointUrl": "https://sqladmin.northamerica-northeast2.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://sqladmin.europe-north1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "europe-north1"
    },
    {
      "location": "us-west2",
      "endpointUrl": "https://sqladmin.us-west2.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "asia-east2",
      "endpointUrl": "https://sqladmin.asia-east2.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://sqladmin.europe-west3.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "europe-west3"
    },
    {
      "endpointUrl": "https://sqladmin.us-east1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "us-east1"
    },
    {
      "location": "asia-east1",
      "endpointUrl": "https://sqladmin.asia-east1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://sqladmin.asia-northeast2.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "asia-northeast2"
    },
    {
      "location": "me-central1",
      "endpointUrl": "https://sqladmin.me-central1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "europe-central2",
      "endpointUrl": "https://sqladmin.europe-central2.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "northamerica-south1",
      "endpointUrl": "https://sqladmin.northamerica-south1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://sqladmin.us-west8.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "us-west8"
    },
    {
      "location": "me-west1",
      "endpointUrl": "https://sqladmin.me-west1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "asia-northeast3",
      "endpointUrl": "https://sqladmin.asia-northeast3.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "us-west1",
      "endpointUrl": "https://sqladmin.us-west1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://sqladmin.europe-west9.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "europe-west9"
    },
    {
      "endpointUrl": "https://sqladmin.asia-southeast3.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "asia-southeast3"
    },
    {
      "location": "europe-west1",
      "endpointUrl": "https://sqladmin.europe-west1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://sqladmin.asia-southeast1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "asia-southeast1"
    },
    {
      "endpointUrl": "https://sqladmin.us-west4.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "us-west4"
    },
    {
      "endpointUrl": "https://sqladmin.europe-west12.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "europe-west12"
    },
    {
      "endpointUrl": "https://sqladmin.asia-south2.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "asia-south2"
    },
    {
      "endpointUrl": "https://sqladmin.australia-southeast1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "australia-southeast1"
    },
    {
      "endpointUrl": "https://sqladmin.europe-west6.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "europe-west6"
    },
    {
      "endpointUrl": "https://sqladmin.us-east4.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "us-east4"
    },
    {
      "endpointUrl": "https://sqladmin.asia-southeast2.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "asia-southeast2"
    },
    {
      "location": "europe-southwest1",
      "endpointUrl": "https://sqladmin.europe-southwest1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://sqladmin.europe-west8.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "europe-west8"
    },
    {
      "location": "africa-south1",
      "endpointUrl": "https://sqladmin.africa-south1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://sqladmin.me-central2.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "me-central2"
    },
    {
      "endpointUrl": "https://sqladmin.us-central1.rep.googleapis.com/",
      "location": "us-central1",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://sqladmin.us-central2.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "us-central2"
    },
    {
      "location": "europe-north2",
      "endpointUrl": "https://sqladmin.europe-north2.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "asia-northeast1",
      "endpointUrl": "https://sqladmin.asia-northeast1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "europe-west2",
      "endpointUrl": "https://sqladmin.europe-west2.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "southamerica-east1",
      "endpointUrl": "https://sqladmin.southamerica-east1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://sqladmin.us-east5.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "us-east5"
    },
    {
      "endpointUrl": "https://sqladmin.asia-south1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "asia-south1"
    },
    {
      "location": "europe-west4",
      "endpointUrl": "https://sqladmin.europe-west4.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://sqladmin.us-west3.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "us-west3"
    },
    {
      "endpointUrl": "https://sqladmin.australia-southeast2.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "australia-southeast2"
    },
    {
      "endpointUrl": "https://sqladmin.southamerica-west1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "southamerica-west1"
    },
    {
      "location": "europe-west10",
      "endpointUrl": "https://sqladmin.europe-west10.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://sqladmin.us-south1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "us-south1"
    }
  ],
  "description": "Cloud SQL Admin API",
  "id": "sqladmin:v1beta4",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/sqlservice.admin": {
          "description": "Manage your Google SQL Service instances"
        },
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "basePath": "",
  "documentationLink": "https://cloud.google.com/sql/docs",
  "schemas": {
    "SqlActiveDirectoryConfig": {
      "id": "SqlActiveDirectoryConfig",
      "description": "Active Directory configuration, relevant only for Cloud SQL for SQL Server.",
      "properties": {
        "kind": {
          "type": "string",
          "description": "This is always sql#activeDirectoryConfig."
        },
        "organizationalUnit": {
          "description": "Optional. The organizational unit distinguished name. This is the full hierarchical path to the organizational unit.",
          "type": "string"
        },
        "mode": {
          "enumDescriptions": [
            "Unspecified mode.",
            "Managed Active Directory mode. This is the fallback option to maintain backward compatibility.",
            "Deprecated: Use CUSTOMER_MANAGED_ACTIVE_DIRECTORY instead.",
            "Customer-managed Active Directory mode."
          ],
          "enum": [
            "ACTIVE_DIRECTORY_MODE_UNSPECIFIED",
            "MANAGED_ACTIVE_DIRECTORY",
            "SELF_MANAGED_ACTIVE_DIRECTORY",
            "CUSTOMER_MANAGED_ACTIVE_DIRECTORY"
          ],
          "description": "Optional. The mode of the Active Directory configuration.",
          "enumDeprecated": [
            false,
            false,
            true,
            false
          ],
          "type": "string"
        },
        "dnsServers": {
          "type": "array",
          "description": "Optional. Domain controller IPv4 addresses used to bootstrap Active Directory.",
          "items": {
            "type": "string"
          }
        },
        "domain": {
          "type": "string",
          "description": "The name of the domain (e.g., mydomain.com)."
        },
        "adminCredentialSecretName": {
          "type": "string",
          "description": "Optional. The secret manager key storing the administrator credential. (e.g., projects/{project}/secrets/{secret})."
        }
      },
      "type": "object"
    },
    "MySqlSyncConfig": {
      "description": "MySQL-specific external server sync settings.",
      "id": "MySqlSyncConfig",
      "properties": {
        "initialSyncFlags": {
          "type": "array",
          "description": "Flags to use for the initial dump.",
          "items": {
            "$ref": "SyncFlags"
          }
        }
      },
      "type": "object"
    },
    "ListBlueGreenDeploymentsResponse": {
      "id": "ListBlueGreenDeploymentsResponse",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "A token to retrieve the next page of results, or empty if there are no more results.",
          "type": "string"
        },
        "blueGreenDeployments": {
          "description": "The list of blue-green deployment resources.",
          "type": "array",
          "items": {
            "$ref": "BlueGreenDeployment"
          }
        }
      },
      "description": "The response message for listing blue-green deployment resources."
    },
    "OperationsListResponse": {
      "description": "Operations list response.",
      "id": "OperationsListResponse",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "The continuation token, used to page through large result sets. Provide this value in a subsequent request to return the next page of results."
        },
        "kind": {
          "type": "string",
          "description": "This is always `sql#operationsList`."
        },
        "items": {
          "description": "List of operation resources.",
          "type": "array",
          "items": {
            "$ref": "Operation"
          }
        }
      },
      "type": "object"
    },
    "AdvancedMachineFeatures": {
      "type": "object",
      "id": "AdvancedMachineFeatures",
      "properties": {
        "threadsPerCore": {
          "description": "The number of threads per physical core.",
          "type": "integer",
          "format": "int32"
        }
      },
      "description": "Specifies options for controlling advanced machine features."
    },
    "PerformanceCaptureConfig": {
      "type": "object",
      "id": "PerformanceCaptureConfig",
      "description": "Performance capture configuration.",
      "properties": {
        "runningThreadsThreshold": {
          "type": "integer",
          "format": "int32",
          "description": "Optional. Specifies the minimum number of MySQL `Threads_running` to trigger the performance capture on the primary instance."
        },
        "probingIntervalSeconds": {
          "format": "int32",
          "description": "Optional. Specifies the interval in seconds between consecutive probes that check if any trigger condition thresholds have been reached.",
          "type": "integer"
        },
        "secondsBehindSourceThreshold": {
          "type": "integer",
          "description": "Optional. Specifies the minimum number of seconds replica must be lagging behind primary instance to trigger the performance capture on replica.",
          "format": "int32"
        },
        "transactionLockWaitThresholdCount": {
          "type": "integer",
          "description": "Optional. Specifies the minimum allowed number of transactions in lock wait state to trigger the performance capture. Valid integers range from `10` to `10000`. Enter `0` to disable the check.",
          "format": "int32"
        },
        "transactionKillExcludedUserHosts": {
          "items": {
            "type": "string"
          },
          "description": "Optional. Specifies a customer-defined list of users to exclude from transaction termination. Entries can be in the format 'user@host' or just 'user'. A standalone 'user' implies 'user@%', excluding the user from any host. Wildcard '%' is allowed in the host part of the 'user@host' format. Example: `[\"app_user\", \"db_admin@10.1.2.3\", \"report_user@%\"]`",
          "type": "array"
        },
        "enabled": {
          "description": "Optional. Enables or disables the performance capture feature.",
          "type": "boolean"
        },
        "probeThreshold": {
          "description": "Optional. Specifies the minimum number of consecutive probe threshold that triggers performance capture.",
          "format": "int32",
          "type": "integer"
        },
        "transactionDurationThreshold": {
          "type": "integer",
          "format": "int32",
          "description": "Optional. Specifies the amount of time in seconds that a transaction needs to have been open before the watcher starts recording it."
        },
        "cpuUtilizationThresholdPercent": {
          "type": "integer",
          "description": "Optional. Specifies the minimum percentage of CPU utilization to trigger the performance capture. Valid integers range from `10` to `99`. Enter `0` to disable the check.",
          "format": "int32"
        },
        "historyListLengthThresholdCount": {
          "format": "int32",
          "description": "Optional. Specifies the minimum number of undo log entries in the history list length to trigger the performance capture. Valid integers range from `10000` to `10000000`. Enter `0` to disable the check.",
          "type": "integer"
        },
        "memoryUsageThresholdPercent": {
          "description": "Optional. Specifies the minimum percentage of memory usage to trigger the performance capture. Valid integers range from `10` to `99`. Enter `0` to disable the check.",
          "format": "int32",
          "type": "integer"
        },
        "transactionKillType": {
          "enum": [
            "TRANSACTION_KILL_TYPE_UNSPECIFIED",
            "READ_ONLY_TRANSACTIONS",
            "ALL_TRANSACTIONS"
          ],
          "description": "Optional. Determines which transactions are allowed to be terminated when they exceed `transaction_kill_threshold_seconds`. This allows protecting write-heavy transactions from auto-termination if desired. Defaults to `READ_ONLY_TRANSACTIONS` if unspecified.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified.",
            "Only read-only transactions are eligible for termination.",
            "All transactions are eligible for termination, including those with write operations (such as INSERT, UPDATE, DELETE, or DDL)."
          ]
        },
        "semaphoreWaitThresholdCount": {
          "format": "int32",
          "type": "integer",
          "description": "Optional. Specifies the minimum allowed number of semaphore waits to trigger the performance capture. Valid integers range from `10` to `10000`. Enter `0` to disable the check."
        },
        "transactionKillThresholdSeconds": {
          "format": "int32",
          "type": "integer",
          "description": "Optional. Specifies the amount of time in seconds that a transaction needs to have been open before the watcher starts terminating it. Valid integers range from `60` to `604800` (7 days). Enter `0` to disable. If enabled (i.e., > 0), this value must be greater than or equal to `transaction_duration_threshold`. Configurations where `0 < transaction_kill_threshold_seconds < transaction_duration_threshold` will be rejected."
        }
      }
    },
    "Tier": {
      "properties": {
        "region": {
          "items": {
            "type": "string"
          },
          "description": "The applicable regions for this tier.",
          "type": "array"
        },
        "tier": {
          "type": "string",
          "description": "An identifier for the machine type, for example, `db-custom-1-3840`. For related information, see [Pricing](/sql/pricing)."
        },
        "DiskQuota": {
          "type": "string",
          "description": "The maximum disk size of this tier in bytes.",
          "format": "int64"
        },
        "kind": {
          "type": "string",
          "description": "This is always `sql#tier`."
        },
        "RAM": {
          "type": "string",
          "format": "int64",
          "description": "The maximum RAM usage of this tier in bytes."
        }
      },
      "description": "A Google Cloud SQL service tier resource.",
      "type": "object",
      "id": "Tier"
    },
    "SqlServerDatabaseDetails": {
      "type": "object",
      "description": "Represents a Sql Server database on the Cloud SQL instance.",
      "id": "SqlServerDatabaseDetails",
      "properties": {
        "recoveryModel": {
          "type": "string",
          "description": "The recovery model of a SQL Server database"
        },
        "compatibilityLevel": {
          "format": "int32",
          "type": "integer",
          "description": "The version of SQL Server with which the database is to be made compatible"
        }
      }
    },
    "TargetConfig": {
      "id": "TargetConfig",
      "properties": {
        "databaseVersion": {
          "description": "Optional. The target database major version for the upgrade.",
          "type": "string"
        }
      },
      "deprecated": true,
      "type": "object",
      "description": "Deprecated: Use RequestedConfig instead. Configuration specified by the user at creation time for the target (Green) instance."
    },
    "AclEntry": {
      "id": "AclEntry",
      "description": "An entry for an Access Control list.",
      "properties": {
        "expirationTime": {
          "type": "string",
          "description": "The time when this access control entry expires in [RFC 3339](https://tools.ietf.org/html/rfc3339) format, for example `2012-11-15T16:19:00.094Z`.",
          "format": "google-datetime"
        },
        "value": {
          "description": "The allowlisted value for the access control list.",
          "type": "string"
        },
        "kind": {
          "description": "This is always `sql#aclEntry`.",
          "type": "string"
        },
        "name": {
          "description": "Optional. A label to identify this entry.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "PreCheckResponse": {
      "id": "PreCheckResponse",
      "description": "Structured PreCheckResponse containing message, type, and required actions.",
      "properties": {
        "message": {
          "description": "The message to be displayed to the user.",
          "type": "string"
        },
        "actionsRequired": {
          "description": "The actions that the user needs to take. Use repeated for multiple actions.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "messageType": {
          "type": "string",
          "enumDescriptions": [
            "Default unspecified value to prevent unintended behavior changes.",
            "General informational messages that don't require action.",
            "Warnings that might impact the upgrade but don't block it.",
            "Errors that a user must resolve before proceeding with the upgrade."
          ],
          "enum": [
            "MESSAGE_TYPE_UNSPECIFIED",
            "INFO",
            "WARNING",
            "ERROR"
          ],
          "description": "The type of message whether it is an info, warning, or error."
        }
      },
      "type": "object"
    },
    "SslCertsInsertResponse": {
      "description": "SslCert insert response.",
      "type": "object",
      "id": "SslCertsInsertResponse",
      "properties": {
        "kind": {
          "type": "string",
          "description": "This is always `sql#sslCertsInsert`."
        },
        "serverCaCert": {
          "$ref": "SslCert",
          "description": "The server Certificate Authority's certificate. If this is missing you can force a new one to be generated by calling resetSslConfig method on instances resource."
        },
        "clientCert": {
          "$ref": "SslCertDetail",
          "description": "The new client certificate and private key."
        },
        "operation": {
          "description": "The operation to track the ssl certs insert request.",
          "$ref": "Operation"
        }
      }
    },
    "TargetMetric": {
      "properties": {
        "metric": {
          "description": "The metric name to be used for auto scaling.",
          "type": "string"
        },
        "targetValue": {
          "format": "float",
          "description": "The target value for the metric.",
          "type": "number"
        }
      },
      "type": "object",
      "description": "Target metric for read pool auto scaling.",
      "id": "TargetMetric"
    },
    "InstancesListEntraIdCertificatesResponse": {
      "type": "object",
      "properties": {
        "kind": {
          "type": "string",
          "description": "This is always `sql#instancesListEntraIdCertificates`."
        },
        "activeVersion": {
          "description": "The `sha1_fingerprint` of the active certificate from `certs`.",
          "type": "string"
        },
        "certs": {
          "type": "array",
          "items": {
            "$ref": "SslCert"
          },
          "description": "List of Entra ID certificates for the instance."
        }
      },
      "description": "Instances ListEntraIdCertificates response.",
      "id": "InstancesListEntraIdCertificatesResponse"
    },
    "PointInTimeRestoreContext": {
      "id": "PointInTimeRestoreContext",
      "type": "object",
      "description": "Context to perform a point-in-time restore of an instance managed by Backup and Disaster Recovery (DR) Service.",
      "properties": {
        "datasource": {
          "type": "string",
          "description": "The Backup and Disaster Recovery (DR) Service Datasource URI. Format: projects/{project}/locations/{region}/backupVaults/{backupvault}/dataSources/{datasource}."
        },
        "targetInstance": {
          "description": "Target instance name.",
          "type": "string"
        },
        "preferredZone": {
          "type": "string",
          "description": "Optional. Point-in-time recovery of an instance to the specified zone. If no zone is specified, then clone to the same primary zone as the source instance."
        },
        "preferredSecondaryZone": {
          "description": "Optional. Point-in-time recovery of a regional instance in the specified zones. If not specified, clone to the same secondary zone as the source instance. This value cannot be the same as the preferred_zone field.",
          "type": "string"
        },
        "targetInstanceClearSettingsFieldNames": {
          "description": "Optional. Specifies the instance settings that will be cleared from the source instance. This field is only applicable for cross project PITRs.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "pointInTime": {
          "description": "Required. The date and time to which you want to restore the instance.",
          "type": "string",
          "format": "google-datetime"
        },
        "targetInstanceSettings": {
          "$ref": "DatabaseInstance",
          "description": "Optional. Specifies the instance settings that will be overridden from the source instance. This field is only applicable for cross project PITRs."
        },
        "privateNetwork": {
          "description": "Optional. The resource link for the VPC network from which the Cloud SQL instance is accessible for private IP. For example, `/projects/myProject/global/networks/default`.",
          "type": "string"
        },
        "allocatedIpRange": {
          "description": "Optional. The name of the allocated IP range for the internal IP Cloud SQL instance. For example: \"google-managed-services-default\". If you set this, then Cloud SQL creates the IP address for the cloned instance in the allocated range. This range must comply with [RFC 1035](https://tools.ietf.org/html/rfc1035) standards. Specifically, the name must be 1-63 characters long and match the regular expression [a-z]([-a-z0-9]*[a-z0-9])?. Reserved for future use.",
          "type": "string"
        },
        "region": {
          "description": "Optional. The region of the target instance where the datasource will be restored. For example: \"us-central1\".",
          "type": "string"
        }
      }
    },
    "PreCheckMajorVersionUpgradeContext": {
      "properties": {
        "kind": {
          "type": "string",
          "description": "Optional. This is always `sql#preCheckMajorVersionUpgradeContext`."
        },
        "targetDatabaseVersion": {
          "enum": [
            "SQL_DATABASE_VERSION_UNSPECIFIED",
            "MYSQL_5_1",
            "MYSQL_5_5",
            "MYSQL_5_6",
            "MYSQL_5_7",
            "MYSQL_8_0",
            "MYSQL_8_0_18",
            "MYSQL_8_0_26",
            "MYSQL_8_0_27",
            "MYSQL_8_0_28",
            "MYSQL_8_0_29",
            "MYSQL_8_0_30",
            "MYSQL_8_0_31",
            "MYSQL_8_0_32",
            "MYSQL_8_0_33",
            "MYSQL_8_0_34",
            "MYSQL_8_0_35",
            "MYSQL_8_0_36",
            "MYSQL_8_0_37",
            "MYSQL_8_0_39",
            "MYSQL_8_0_40",
            "MYSQL_8_0_41",
            "MYSQL_8_0_42",
            "MYSQL_8_0_43",
            "MYSQL_8_0_44",
            "MYSQL_8_0_45",
            "MYSQL_8_0_46",
            "MYSQL_8_4",
            "MYSQL_9_7",
            "SQLSERVER_2017_STANDARD",
            "SQLSERVER_2017_ENTERPRISE",
            "SQLSERVER_2017_EXPRESS",
            "SQLSERVER_2017_WEB",
            "POSTGRES_9_6",
            "POSTGRES_10",
            "POSTGRES_11",
            "POSTGRES_12",
            "POSTGRES_13",
            "POSTGRES_14",
            "POSTGRES_15",
            "POSTGRES_16",
            "POSTGRES_17",
            "POSTGRES_18",
            "POSTGRES_19",
            "POSTGRES_20",
            "SQLSERVER_2019_STANDARD",
            "SQLSERVER_2019_ENTERPRISE",
            "SQLSERVER_2019_EXPRESS",
            "SQLSERVER_2019_WEB",
            "SQLSERVER_2022_STANDARD",
            "SQLSERVER_2022_ENTERPRISE",
            "SQLSERVER_2022_EXPRESS",
            "SQLSERVER_2022_WEB",
            "SQLSERVER_2025_STANDARD",
            "SQLSERVER_2025_ENTERPRISE",
            "SQLSERVER_2025_EXPRESS"
          ],
          "enumDeprecated": [
            false,
            true,
            true,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            true,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false
          ],
          "type": "string",
          "enumDescriptions": [
            "This is an unknown database version.",
            "The database version is MySQL 5.1.",
            "The database version is MySQL 5.5.",
            "The database version is MySQL 5.6.",
            "The database version is MySQL 5.7.",
            "The database version is MySQL 8.",
            "The database major version is MySQL 8.0 and the minor version is 18.",
            "The database major version is MySQL 8.0 and the minor version is 26.",
            "The database major version is MySQL 8.0 and the minor version is 27.",
            "The database major version is MySQL 8.0 and the minor version is 28.",
            "The database major version is MySQL 8.0 and the minor version is 29.",
            "The database major version is MySQL 8.0 and the minor version is 30.",
            "The database major version is MySQL 8.0 and the minor version is 31.",
            "The database major version is MySQL 8.0 and the minor version is 32.",
            "The database major version is MySQL 8.0 and the minor version is 33.",
            "The database major version is MySQL 8.0 and the minor version is 34.",
            "The database major version is MySQL 8.0 and the minor version is 35.",
            "The database major version is MySQL 8.0 and the minor version is 36.",
            "The database major version is MySQL 8.0 and the minor version is 37.",
            "The database major version is MySQL 8.0 and the minor version is 39.",
            "The database major version is MySQL 8.0 and the minor version is 40.",
            "The database major version is MySQL 8.0 and the minor version is 41.",
            "The database major version is MySQL 8.0 and the minor version is 42.",
            "The database major version is MySQL 8.0 and the minor version is 43.",
            "The database major version is MySQL 8.0 and the minor version is 44.",
            "The database major version is MySQL 8.0 and the minor version is 45.",
            "The database major version is MySQL 8.0 and the minor version is 46.",
            "The database version is MySQL 8.4.",
            "The database version is MySQL 9.7.",
            "The database version is SQL Server 2017 Standard.",
            "The database version is SQL Server 2017 Enterprise.",
            "The database version is SQL Server 2017 Express.",
            "The database version is SQL Server 2017 Web.",
            "The database version is PostgreSQL 9.6.",
            "The database version is PostgreSQL 10.",
            "The database version is PostgreSQL 11.",
            "The database version is PostgreSQL 12.",
            "The database version is PostgreSQL 13.",
            "The database version is PostgreSQL 14.",
            "The database version is PostgreSQL 15.",
            "The database version is PostgreSQL 16.",
            "The database version is PostgreSQL 17.",
            "The database version is PostgreSQL 18.",
            "The database version is PostgreSQL 19.",
            "The database version is PostgreSQL 20.",
            "The database version is SQL Server 2019 Standard.",
            "The database version is SQL Server 2019 Enterprise.",
            "The database version is SQL Server 2019 Express.",
            "The database version is SQL Server 2019 Web.",
            "The database version is SQL Server 2022 Standard.",
            "The database version is SQL Server 2022 Enterprise.",
            "The database version is SQL Server 2022 Express.",
            "The database version is SQL Server 2022 Web.",
            "The database version is SQL Server 2025 Standard.",
            "The database version is SQL Server 2025 Enterprise.",
            "The database version is SQL Server 2025 Express."
          ],
          "description": "Required. The target database version to upgrade to."
        },
        "preCheckResponse": {
          "type": "array",
          "description": "Output only. The responses from the precheck operation.",
          "readOnly": true,
          "items": {
            "$ref": "PreCheckResponse"
          }
        }
      },
      "type": "object",
      "description": "Pre-check major version upgrade context.",
      "id": "PreCheckMajorVersionUpgradeContext"
    },
    "ExecuteSqlPayload": {
      "type": "object",
      "description": "The request payload used to execute SQL statements.",
      "properties": {
        "passwordSecretVersion": {
          "description": "Optional. The resource name of the Secret Manager secret holding the password for the user to log into the database. The secret should be created using the regional endpoint (for API) or from the Regional Secrets page (for UI), and stored in the same region as the Cloud SQL instance. The expected resource name format is `projects/{project}/locations/{location}/secrets/{secret}/versions/{secret_version}`. This field is used together with the `user` field. The secret resource name will not be stored.",
          "type": "string"
        },
        "autoIamAuthn": {
          "type": "boolean",
          "description": "Optional. When set to true, the API caller identity associated with the request is used for database authentication. The API caller must be an IAM user in the database."
        },
        "application": {
          "description": "Optional. Specifies the name of the application that is making the request. This field is used for telemetry. Only alphanumeric characters, dashes, and underscores are allowed. The maximum length is 32 characters.",
          "type": "string"
        },
        "database": {
          "description": "Optional. Name of the database on which the statement will be executed.",
          "type": "string"
        },
        "partialResultMode": {
          "enum": [
            "PARTIAL_RESULT_MODE_UNSPECIFIED",
            "FAIL_PARTIAL_RESULT",
            "ALLOW_PARTIAL_RESULT"
          ],
          "description": "Optional. Controls how the API should respond when the SQL execution result is incomplete due to the size limit or another error. The default mode is to throw an error.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified mode, effectively the same as `FAIL_PARTIAL_RESULT`.",
            "Throw an error if the result exceeds 10 MB or if only a partial result can be retrieved. Don't return the result.",
            "Return a truncated result and set `partial_result` to true if the result exceeds 10 MB or if only a partial result can be retrieved due to error. Don't throw an error."
          ]
        },
        "sqlStatement": {
          "description": "Required. SQL statements to run on the database. It can be a single statement or a sequence of statements separated by semicolons.",
          "type": "string"
        },
        "user": {
          "description": "Optional. The name of an existing database user to connect to the database. When `auto_iam_authn` is set to true, this field is ignored and the API caller's IAM user is used.",
          "type": "string"
        },
        "rowLimit": {
          "type": "string",
          "description": "Optional. The maximum number of rows returned per SQL statement.",
          "format": "int64"
        }
      },
      "id": "ExecuteSqlPayload"
    },
    "SyncFlags": {
      "type": "object",
      "id": "SyncFlags",
      "properties": {
        "value": {
          "description": "The value of the flag. This field must be omitted if the flag doesn't take a value.",
          "type": "string"
        },
        "name": {
          "description": "The name of the flag.",
          "type": "string"
        }
      },
      "description": "Initial sync flags for certain Cloud SQL APIs. Currently used for the MySQL external server initial dump."
    },
    "DiskEncryptionStatus": {
      "id": "DiskEncryptionStatus",
      "properties": {
        "kmsKeyVersionName": {
          "description": "KMS key version used to encrypt the Cloud SQL instance resource",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "description": "This is always `sql#diskEncryptionStatus`."
        }
      },
      "type": "object",
      "description": "Disk encryption status for an instance."
    },
    "SqlInstancesGetLatestRecoveryTimeResponse": {
      "type": "object",
      "description": "Instance get latest recovery time response.",
      "id": "SqlInstancesGetLatestRecoveryTimeResponse",
      "properties": {
        "latestRecoveryTime": {
          "type": "string",
          "description": "Timestamp, identifies the latest recovery time of the source instance.",
          "format": "google-datetime"
        },
        "kind": {
          "description": "This is always `sql#getLatestRecoveryTime`.",
          "type": "string"
        },
        "earliestRecoveryTime": {
          "type": "string",
          "description": "Timestamp, identifies the earliest recovery time of the source instance.",
          "format": "google-datetime"
        }
      }
    },
    "BackupContext": {
      "id": "BackupContext",
      "properties": {
        "kind": {
          "description": "This is always `sql#backupContext`.",
          "type": "string"
        },
        "backupId": {
          "type": "string",
          "description": "The identifier of the backup.",
          "format": "int64"
        },
        "name": {
          "description": "The name of the backup. Format: projects/{project}/backups/{backup}",
          "type": "string"
        }
      },
      "description": "Backup context.",
      "type": "object"
    },
    "BackupReencryptionConfig": {
      "properties": {
        "backupLimit": {
          "description": "Backup re-encryption limit",
          "format": "int32",
          "type": "integer"
        },
        "backupType": {
          "enum": [
            "BACKUP_TYPE_UNSPECIFIED",
            "AUTOMATED",
            "ON_DEMAND"
          ],
          "description": "Type of backups users want to re-encrypt.",
          "type": "string",
          "enumDescriptions": [
            "Unknown backup type, will be defaulted to AUTOMATIC backup type",
            "Reencrypt automatic backups",
            "Reencrypt on-demand backups"
          ]
        }
      },
      "type": "object",
      "description": "Backup Reencryption Config",
      "id": "BackupReencryptionConfig"
    },
    "MySqlReplicaConfiguration": {
      "id": "MySqlReplicaConfiguration",
      "type": "object",
      "description": "Read-replica configuration specific to MySQL databases.",
      "properties": {
        "kind": {
          "type": "string",
          "description": "This is always `sql#mysqlReplicaConfiguration`."
        },
        "dumpFilePath": {
          "description": "Path to a SQL dump file in Google Cloud Storage from which the replica instance is to be created. The URI is in the form gs://bucketName/fileName. Compressed gzip files (.gz) are also supported. Dumps have the binlog co-ordinates from which replication begins. This can be accomplished by setting --master-data to 1 when using mysqldump.",
          "type": "string"
        },
        "username": {
          "description": "The username for the replication connection.",
          "type": "string"
        },
        "caCertificate": {
          "description": "PEM representation of the trusted CA's x509 certificate.",
          "type": "string"
        },
        "verifyServerCertificate": {
          "type": "boolean",
          "description": "Whether or not to check the primary instance's Common Name value in the certificate that it sends during the SSL handshake."
        },
        "masterHeartbeatPeriod": {
          "type": "string",
          "format": "int64",
          "description": "Interval in milliseconds between replication heartbeats."
        },
        "sslCipher": {
          "type": "string",
          "description": "A list of permissible ciphers to use for SSL encryption."
        },
        "password": {
          "type": "string",
          "description": "The password for the replication connection."
        },
        "connectRetryInterval": {
          "type": "integer",
          "format": "int32",
          "description": "Seconds to wait between connect retries. MySQL's default is 60 seconds."
        },
        "clientKey": {
          "type": "string",
          "description": "PEM representation of the replica's private key. The corresponding public key is encoded in the client's certificate."
        },
        "clientCertificate": {
          "description": "PEM representation of the replica's x509 certificate.",
          "type": "string"
        }
      }
    },
    "AvailableDatabaseVersion": {
      "type": "object",
      "id": "AvailableDatabaseVersion",
      "description": "An available database version. It can be a major or a minor version.",
      "properties": {
        "name": {
          "type": "string",
          "description": "The database version name. For MySQL 8.0, this string provides the database major and minor version."
        },
        "displayName": {
          "description": "The database version's display name.",
          "type": "string"
        },
        "majorVersion": {
          "description": "The version's major version name.",
          "type": "string"
        }
      }
    },
    "SourceRole": {
      "description": "The source instance for the Blue-Green deployment.",
      "type": "object",
      "id": "SourceRole",
      "properties": {
        "targetId": {
          "readOnly": true,
          "$ref": "InstanceReference",
          "description": "Output only. The target instance paired with this source instance in a blue-green deployment."
        }
      }
    },
    "SwitchoverBlueGreenDeploymentRequest": {
      "description": "Request message for switching over a `BlueGreenDeployment` resource.",
      "type": "object",
      "id": "SwitchoverBlueGreenDeploymentRequest",
      "properties": {}
    },
    "QueryResult": {
      "id": "QueryResult",
      "description": "QueryResult contains the result of executing a single SQL statement.",
      "type": "object",
      "properties": {
        "partialResult": {
          "type": "boolean",
          "description": "Set to true if the SQL execution's result is truncated due to size limits or an error retrieving results."
        },
        "status": {
          "$ref": "Status",
          "description": "If results were truncated due to an error, details of that error."
        },
        "message": {
          "type": "string",
          "description": "Message related to the SQL execution result."
        },
        "rows": {
          "description": "Rows returned by the SQL statement.",
          "type": "array",
          "items": {
            "$ref": "Row"
          }
        },
        "columns": {
          "type": "array",
          "items": {
            "$ref": "Column"
          },
          "description": "List of columns included in the result. This also includes the data type of the column."
        }
      }
    },
    "ConfigDiff": {
      "id": "ConfigDiff",
      "description": "Represents a specific configuration difference between Blue and Green instances.",
      "type": "object",
      "properties": {
        "sourceValue": {
          "description": "Output only. The value on the source instance.",
          "type": "string",
          "readOnly": true
        },
        "targetValue": {
          "description": "Output only. The value on the target instance.",
          "type": "string",
          "readOnly": true
        },
        "field": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The name of the field that differs, fully-qualified. Example: settings.tier"
        }
      }
    },
    "RotateServerCaContext": {
      "id": "RotateServerCaContext",
      "description": "Instance rotate server CA context.",
      "type": "object",
      "properties": {
        "nextVersion": {
          "type": "string",
          "description": "The fingerprint of the next version to be rotated to. If left unspecified, will be rotated to the most recently added server CA version."
        },
        "kind": {
          "description": "This is always `sql#rotateServerCaContext`.",
          "type": "string"
        }
      }
    },
    "PoolNodeConfig": {
      "properties": {
        "state": {
          "enum": [
            "SQL_INSTANCE_STATE_UNSPECIFIED",
            "RUNNABLE",
            "SUSPENDED",
            "PENDING_DELETE",
            "PENDING_CREATE",
            "MAINTENANCE",
            "FAILED",
            "ONLINE_MAINTENANCE",
            "REPAIRING"
          ],
          "readOnly": true,
          "enumDescriptions": [
            "The state of the instance is unknown.",
            "The instance is running, or has been stopped by owner.",
            "The instance is not available, for example due to problems with billing.",
            "The instance is being deleted.",
            "The instance is being created.",
            "The instance is down for maintenance.",
            "The creation of the instance failed or a fatal error occurred during maintenance.",
            "Deprecated",
            "(Applicable to read pool nodes only.) The read pool node needs to be repaired. The database might be unavailable."
          ],
          "type": "string",
          "description": "Output only. The current state of the read pool node.",
          "enumDeprecated": [
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            true,
            false
          ]
        },
        "dnsName": {
          "description": "Output only. The DNS name of the read pool node.",
          "type": "string",
          "readOnly": true
        },
        "dnsNames": {
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "DnsNameMapping"
          },
          "description": "Output only. The list of DNS names used by this read pool node."
        },
        "ipAddresses": {
          "readOnly": true,
          "description": "Output only. Mappings containing IP addresses that can be used to connect to the read pool node.",
          "items": {
            "$ref": "IpMapping"
          },
          "type": "array"
        },
        "gceZone": {
          "description": "Output only. The zone of the read pool node.",
          "type": "string",
          "readOnly": true
        },
        "pscAutoConnections": {
          "readOnly": true,
          "description": "Output only. The list of settings for requested automatically-setup Private Service Connect (PSC) consumer endpoints that can be used to connect to this read pool node.",
          "items": {
            "$ref": "PscAutoConnectionConfig"
          },
          "type": "array"
        },
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The name of the read pool node, to be used for retrieving metrics and logs."
        },
        "pscServiceAttachmentLink": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The Private Service Connect (PSC) service attachment of the read pool node."
        }
      },
      "type": "object",
      "description": "Details of a single read pool node of a read pool.",
      "id": "PoolNodeConfig"
    },
    "RestoreBackupContext": {
      "properties": {
        "kind": {
          "type": "string",
          "description": "This is always `sql#restoreBackupContext`."
        },
        "instanceId": {
          "type": "string",
          "description": "The ID of the instance that the backup was taken from."
        },
        "backupRunId": {
          "description": "The ID of the backup run to restore from.",
          "format": "int64",
          "type": "string"
        },
        "project": {
          "type": "string",
          "description": "The full project ID of the source instance."
        }
      },
      "id": "RestoreBackupContext",
      "type": "object",
      "description": "Database instance restore from backup context. Backup context contains source instance id and project id."
    },
    "SqlExternalSyncSettingError": {
      "id": "SqlExternalSyncSettingError",
      "properties": {
        "detail": {
          "type": "string",
          "description": "Additional information about the error encountered."
        },
        "type": {
          "enum": [
            "SQL_EXTERNAL_SYNC_SETTING_ERROR_TYPE_UNSPECIFIED",
            "CONNECTION_FAILURE",
            "BINLOG_NOT_ENABLED",
            "INCOMPATIBLE_DATABASE_VERSION",
            "REPLICA_ALREADY_SETUP",
            "INSUFFICIENT_PRIVILEGE",
            "UNSUPPORTED_MIGRATION_TYPE",
            "NO_PGLOGICAL_INSTALLED",
            "PGLOGICAL_NODE_ALREADY_EXISTS",
            "INVALID_WAL_LEVEL",
            "INVALID_SHARED_PRELOAD_LIBRARY",
            "INSUFFICIENT_MAX_REPLICATION_SLOTS",
            "INSUFFICIENT_MAX_WAL_SENDERS",
            "INSUFFICIENT_MAX_WORKER_PROCESSES",
            "UNSUPPORTED_EXTENSIONS",
            "INVALID_RDS_LOGICAL_REPLICATION",
            "INVALID_LOGGING_SETUP",
            "INVALID_DB_PARAM",
            "UNSUPPORTED_GTID_MODE",
            "SQLSERVER_AGENT_NOT_RUNNING",
            "UNSUPPORTED_TABLE_DEFINITION",
            "UNSUPPORTED_DEFINER",
            "SQLSERVER_SERVERNAME_MISMATCH",
            "PRIMARY_ALREADY_SETUP",
            "UNSUPPORTED_BINLOG_FORMAT",
            "BINLOG_RETENTION_SETTING",
            "UNSUPPORTED_STORAGE_ENGINE",
            "LIMITED_SUPPORT_TABLES",
            "EXISTING_DATA_IN_REPLICA",
            "MISSING_OPTIONAL_PRIVILEGES",
            "RISKY_BACKUP_ADMIN_PRIVILEGE",
            "INSUFFICIENT_GCS_PERMISSIONS",
            "INVALID_FILE_INFO",
            "UNSUPPORTED_DATABASE_SETTINGS",
            "MYSQL_PARALLEL_IMPORT_INSUFFICIENT_PRIVILEGE",
            "LOCAL_INFILE_OFF",
            "TURN_ON_PITR_AFTER_PROMOTE",
            "INCOMPATIBLE_DATABASE_MINOR_VERSION",
            "SOURCE_MAX_SUBSCRIPTIONS",
            "UNABLE_TO_VERIFY_DEFINERS",
            "SUBSCRIPTION_CALCULATION_STATUS",
            "PG_SUBSCRIPTION_COUNT",
            "PG_SYNC_PARALLEL_LEVEL",
            "INSUFFICIENT_DISK_SIZE",
            "INSUFFICIENT_MACHINE_TIER",
            "UNSUPPORTED_EXTENSIONS_NOT_MIGRATED",
            "EXTENSIONS_NOT_MIGRATED",
            "PG_CRON_FLAG_ENABLED_IN_REPLICA",
            "EXTENSIONS_NOT_ENABLED_IN_REPLICA",
            "UNSUPPORTED_COLUMNS",
            "USERS_NOT_CREATED_IN_REPLICA",
            "UNSUPPORTED_SYSTEM_OBJECTS",
            "UNSUPPORTED_TABLES_WITH_REPLICA_IDENTITY",
            "SELECTED_OBJECTS_NOT_EXIST_ON_SOURCE",
            "PSC_ONLY_INSTANCE_WITH_NO_NETWORK_ATTACHMENT_URI",
            "SELECTED_OBJECTS_REFERENCE_UNSELECTED_OBJECTS",
            "PROMPT_DELETE_EXISTING",
            "WILL_DELETE_EXISTING",
            "PG_DDL_REPLICATION_INSUFFICIENT_PRIVILEGE",
            "WRITABLE_DESTINATION_REPLICA_RECREATION_DOWNTIME",
            "WRITABLE_DESTINATION_STORAGE_AUTO_INCREASE_DISABLED"
          ],
          "description": "Identifies the specific error that occurred.",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "The replication user is missing privileges that are required.",
            "Unsupported migration type.",
            "No pglogical extension installed on databases, applicable for postgres.",
            "pglogical node already exists on databases, applicable for postgres.",
            "The value of parameter wal_level is not set to logical.",
            "The value of parameter shared_preload_libraries does not include pglogical.",
            "The value of parameter max_replication_slots is not sufficient.",
            "The value of parameter max_wal_senders is not sufficient.",
            "The value of parameter max_worker_processes is not sufficient.",
            "Extensions installed are either not supported or having unsupported versions",
            "The value of parameter rds.logical_replication is not set to 1.",
            "The primary instance logging setup doesn't allow EM sync.",
            "The primary instance database parameter setup doesn't allow EM sync.",
            "The gtid_mode is not supported, applicable for MySQL.",
            "SQL Server Agent is not running.",
            "The table definition is not support due to missing primary key or replica identity, applicable for postgres. Note that this is a warning and won't block the migration.",
            "The customer has a definer that will break EM setup.",
            "SQL Server @@SERVERNAME does not match actual host name.",
            "The primary instance has been setup and will fail the setup.",
            "The primary instance has unsupported binary log format.",
            "The primary instance's binary log retention setting.",
            "The primary instance has tables with unsupported storage engine.",
            "Source has tables with limited support eg: PostgreSQL tables without primary keys.",
            "The replica instance contains existing data.",
            "The replication user is missing privileges that are optional.",
            "Additional BACKUP_ADMIN privilege is granted to the replication user which may lock source MySQL 8 instance for DDLs during initial sync.",
            "The Cloud Storage bucket is missing necessary permissions.",
            "The Cloud Storage bucket has an error in the file or contains invalid file information.",
            "The source instance has unsupported database settings for migration.",
            "The replication user is missing parallel import specific privileges. (e.g. LOCK TABLES) for MySQL.",
            "The global variable local_infile is off on external server replica.",
            "This code instructs customers to turn on point-in-time recovery manually for the instance after promoting the Cloud SQL for PostgreSQL instance.",
            "The minor version of replica database is incompatible with the source.",
            "This warning message indicates that Cloud SQL uses the maximum number of subscriptions to migrate data from the source to the destination.",
            "Unable to verify definers on the source for MySQL.",
            "If a time out occurs while the subscription counts are calculated, then this value is set to 1. Otherwise, this value is set to 2.",
            "Count of subscriptions needed to sync source data for PostgreSQL database.",
            "Final parallel level that is used to do migration.",
            "The disk size of the replica instance is smaller than the data size of the source instance.",
            "The data size of the source instance is greater than 1 TB, the number of cores of the replica instance is less than 8, and the memory of the replica is less than 32 GB.",
            "The warning message indicates the unsupported extensions will not be migrated to the destination.",
            "The warning message indicates the pg_cron extension and settings will not be migrated to the destination.",
            "The error message indicates that pg_cron flags are enabled on the destination which is not supported during the migration.",
            "This error message indicates that the specified extensions are not enabled on destination instance. For example, before you can migrate data to the destination instance, you must enable the PGAudit extension on the instance.",
            "The source database has generated columns that can't be migrated. Please change them to regular columns before migration.",
            "The source database has users that aren't created in the replica. First, create all users, which are in the pg_user_mappings table of the source database, in the destination instance. Then, perform the migration.",
            "The selected objects include system objects that aren't supported for migration.",
            "The source database has tables with the FULL or NOTHING replica identity. Before starting your migration, either remove the identity or change it to DEFAULT. Note that this is an error and will block the migration.",
            "The selected objects don't exist on the source instance.",
            "PSC only destination instance does not have a network attachment URI.",
            "Selected objects reference unselected objects. Based on their object type (foreign key constraint or view), selected objects will fail during migration.",
            "The migration will delete existing data in the replica; set replica_overwrite_enabled in the request to acknowledge this. This is an error. MySQL only.",
            "The migration will delete existing data in the replica; replica_overwrite_enabled was set in the request acknowledging this. This is a warning rather than an error. MySQL only.",
            "The replication user is missing specific privileges to setup DDL replication. (e.g. CREATE EVENT TRIGGER, CREATE SCHEMA) for PostgreSQL.",
            "Read replicas of the Writable Destination instance will be recreated after external synchronization is complete, causing downtime on read replicas.",
            "A warning that disk storage auto increase is disabled on the destination instance for a Writable Destination migration."
          ],
          "type": "string"
        },
        "kind": {
          "type": "string",
          "description": "Can be `sql#externalSyncSettingError` or `sql#externalSyncSettingWarning`."
        }
      },
      "description": "External primary instance migration setting error/warning.",
      "type": "object"
    },
    "Settings": {
      "type": "object",
      "properties": {
        "maintenanceWindow": {
          "description": "The maintenance window for this instance. This specifies when the instance can be restarted for maintenance purposes.",
          "$ref": "MaintenanceWindow"
        },
        "dataDiskSizeGb": {
          "description": "The size of data disk, in GB. The data disk size minimum is 10GB.",
          "type": "string",
          "format": "int64"
        },
        "insightsConfig": {
          "description": "Insights configuration, for now relevant only for Postgres.",
          "$ref": "InsightsConfig"
        },
        "dataDiskProvisionedIops": {
          "description": "Optional. Provisioned number of I/O operations per second for the data disk. This field is only used for hyperdisk-balanced disk types.",
          "format": "int64",
          "type": "string"
        },
        "pricingPlan": {
          "description": "The pricing plan for this instance. This can be either `PER_USE` or `PACKAGE`. Only `PER_USE` is supported for Second Generation instances.",
          "enumDescriptions": [
            "This is an unknown pricing plan for this instance.",
            "The instance is billed at a monthly flat rate.",
            "The instance is billed per usage."
          ],
          "enum": [
            "SQL_PRICING_PLAN_UNSPECIFIED",
            "PACKAGE",
            "PER_USE"
          ],
          "type": "string"
        },
        "authorizedGaeApplications": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The App Engine app IDs that can access this instance. (Deprecated) Applied to First Generation instances only.",
          "deprecated": true
        },
        "enableDataplexIntegration": {
          "description": "Optional. By default, Cloud SQL instances have schema extraction disabled for Dataplex. When this parameter is set to true, schema extraction for Dataplex on Cloud SQL instances is activated.",
          "type": "boolean"
        },
        "autoUpgradeEnabled": {
          "description": "Optional. Cloud SQL for MySQL auto-upgrade configuration. When this parameter is set to true, auto-upgrade is enabled for MySQL 8.0 minor versions. The MySQL version must be 8.0.35 or higher.",
          "type": "boolean"
        },
        "advancedMachineFeatures": {
          "$ref": "AdvancedMachineFeatures",
          "description": "Specifies advanced machine configuration for the instances relevant only for SQL Server."
        },
        "settingsVersion": {
          "format": "int64",
          "type": "string",
          "description": "The version of instance settings. This is a required field for update method to make sure concurrent updates are handled properly. During update, use the most recent settingsVersion value for this instance and do not try to update this value."
        },
        "activeDirectoryConfig": {
          "$ref": "SqlActiveDirectoryConfig",
          "description": "Active Directory configuration, relevant only for Cloud SQL for SQL Server."
        },
        "timeZone": {
          "type": "string",
          "description": "Server timezone, relevant only for Cloud SQL for SQL Server."
        },
        "acceleratedReplicaMode": {
          "description": "Optional. Configures whether the replica is in accelerated mode. This feature is in private preview and requires allowlisting to take effect.",
          "type": "boolean"
        },
        "dataApiAccess": {
          "enum": [
            "DATA_API_ACCESS_UNSPECIFIED",
            "DISALLOW_DATA_API",
            "ALLOW_DATA_API"
          ],
          "description": "This parameter controls whether to allow using ExecuteSql API to connect to the instance. Not allowed by default.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified, effectively the same as `DISALLOW_DATA_API`.",
            "Disallow using ExecuteSql API to connect to the instance.",
            "Allow using ExecuteSql API to connect to the instance. For private IP instances, this allows authorized users to access the instance from the public internet using ExecuteSql API."
          ]
        },
        "activationPolicy": {
          "type": "string",
          "enumDescriptions": [
            "Unknown activation plan.",
            "The instance is always up and running.",
            "The instance never starts.",
            "The instance starts upon receiving requests."
          ],
          "description": "The activation policy specifies when the instance is activated; it is applicable only when the instance state is RUNNABLE. Valid values: * `ALWAYS`: The instance is on, and remains so even in the absence of connection requests. * `NEVER`: The instance is off; it is not activated, even if a connection request arrives.",
          "enum": [
            "SQL_ACTIVATION_POLICY_UNSPECIFIED",
            "ALWAYS",
            "NEVER",
            "ON_DEMAND"
          ],
          "enumDeprecated": [
            false,
            false,
            false,
            true
          ]
        },
        "replicationLagMaxSeconds": {
          "description": "Optional. Configuration value for recreation of replica after certain replication lag.",
          "format": "int32",
          "type": "integer"
        },
        "finalBackupConfig": {
          "description": "Optional. The final backup configuration for the instance.",
          "$ref": "FinalBackupConfig"
        },
        "crashSafeReplicationEnabled": {
          "type": "boolean",
          "deprecated": true,
          "description": "Configuration specific to read replica instances. Indicates whether database flags for crash-safe replication are enabled. This property was only applicable to First Generation instances."
        },
        "connectorEnforcement": {
          "type": "string",
          "enum": [
            "CONNECTOR_ENFORCEMENT_UNSPECIFIED",
            "NOT_REQUIRED",
            "REQUIRED"
          ],
          "description": "Specifies if connections must use Cloud SQL connectors. Option values include the following: `NOT_REQUIRED` (Cloud SQL instances can be connected without Cloud SQL Connectors) and `REQUIRED` (Only allow connections that use Cloud SQL Connectors) Note that using REQUIRED disables all existing authorized networks. If this field is not specified when creating a new instance, NOT_REQUIRED is used. If this field is not specified when patching or updating an existing instance, it is left unchanged in the instance.",
          "enumDescriptions": [
            "The requirement for Cloud SQL connectors is unknown.",
            "Do not require Cloud SQL connectors.",
            "Require all connections to use Cloud SQL connectors, including the Cloud SQL Auth Proxy and Cloud SQL Java, Python, and Go connectors. Note: This disables all existing authorized networks."
          ]
        },
        "availabilityType": {
          "enum": [
            "SQL_AVAILABILITY_TYPE_UNSPECIFIED",
            "ZONAL",
            "REGIONAL"
          ],
          "type": "string",
          "enumDescriptions": [
            "This is an unknown Availability type.",
            "Zonal available instance.",
            "Regional available instance."
          ],
          "description": "Availability type. Potential values: * `ZONAL`: The instance serves data from only one zone. Outages in that zone affect data accessibility. * `REGIONAL`: The instance can serve data from more than one zone in a region (it is highly available)./ For more information, see [Overview of the High Availability Configuration](https://cloud.google.com/sql/docs/mysql/high-availability)."
        },
        "connectionPoolConfig": {
          "description": "Optional. The managed connection pooling configuration for the instance.",
          "$ref": "ConnectionPoolConfig"
        },
        "databaseFlags": {
          "items": {
            "$ref": "DatabaseFlags"
          },
          "type": "array",
          "description": "The database flags passed to the instance at startup."
        },
        "ipConfiguration": {
          "description": "The settings for IP Management. This allows to enable or disable the instance IP and manage which external networks can connect to the instance. The IPv4 address cannot be disabled for Second Generation instances.",
          "$ref": "IpConfiguration"
        },
        "collation": {
          "description": "The name of server Instance collation.",
          "type": "string"
        },
        "entraidConfig": {
          "description": "Optional. The Microsoft Entra ID configuration for the SQL Server instance.",
          "$ref": "SqlServerEntraIdConfig"
        },
        "enableGoogleMlIntegration": {
          "description": "Optional. When this parameter is set to true, Cloud SQL instances can connect to Vertex AI to pass requests for real-time predictions and insights to the AI. The default value is false. This applies only to Cloud SQL for MySQL and Cloud SQL for PostgreSQL instances.",
          "type": "boolean"
        },
        "kind": {
          "description": "This is always `sql#settings`.",
          "type": "string"
        },
        "readPoolAutoScaleConfig": {
          "description": "Optional. The read pool auto-scale configuration for the instance.",
          "$ref": "ReadPoolAutoScaleConfig"
        },
        "tier": {
          "type": "string",
          "description": "The tier (or machine type) for this instance, for example `db-custom-1-3840`. WARNING: Changing this restarts the instance."
        },
        "replicationType": {
          "enum": [
            "SQL_REPLICATION_TYPE_UNSPECIFIED",
            "SYNCHRONOUS",
            "ASYNCHRONOUS"
          ],
          "deprecated": true,
          "description": "The type of replication this instance uses. This can be either `ASYNCHRONOUS` or `SYNCHRONOUS`. (Deprecated) This property was only applicable to First Generation instances.",
          "type": "string",
          "enumDescriptions": [
            "This is an unknown replication type for a Cloud SQL instance.",
            "The synchronous replication mode for First Generation instances. It is the default value.",
            "The asynchronous replication mode for First Generation instances. It provides a slight performance gain, but if an outage occurs while this option is set to asynchronous, you can lose up to a few seconds of updates to your data."
          ]
        },
        "storageAutoResize": {
          "type": "boolean",
          "description": "Configuration to increase storage size automatically. The default value is true."
        },
        "sqlServerAuditConfig": {
          "$ref": "SqlServerAuditConfig",
          "description": "SQL Server specific audit configuration."
        },
        "databaseReplicationEnabled": {
          "type": "boolean",
          "description": "Configuration specific to read replica instances. Indicates whether replication is enabled or not. WARNING: Changing this restarts the instance."
        },
        "dataDiskProvisionedThroughput": {
          "description": "Optional. Provisioned throughput measured in MiB per second for the data disk. This field is only used for hyperdisk-balanced disk types.",
          "type": "string",
          "format": "int64"
        },
        "passwordValidationPolicy": {
          "description": "The local user password validation policy of the instance for PostgreSQL and MySQL.",
          "$ref": "PasswordValidationPolicy"
        },
        "performanceCaptureConfig": {
          "$ref": "PerformanceCaptureConfig",
          "description": "Optional. Configuration for Performance Capture, provides diagnostic metrics during high load situations."
        },
        "deletionProtectionEnabled": {
          "type": "boolean",
          "description": "Configuration to protect against accidental instance deletion."
        },
        "denyMaintenancePeriods": {
          "items": {
            "$ref": "DenyMaintenancePeriod"
          },
          "type": "array",
          "description": "Deny maintenance periods"
        },
        "dataCacheConfig": {
          "$ref": "DataCacheConfig",
          "description": "Configuration for data cache."
        },
        "edition": {
          "description": "Optional. The edition type of the Cloud SQL instance.",
          "type": "string",
          "enumDescriptions": [
            "The instance did not specify the edition.",
            "The instance is an enterprise edition.",
            "The instance is an Enterprise Plus edition.",
            "This instance is a Cloud SQL developer edition instance."
          ],
          "enum": [
            "EDITION_UNSPECIFIED",
            "ENTERPRISE",
            "ENTERPRISE_PLUS",
            "DEVELOPER"
          ]
        },
        "userLabels": {
          "description": "User-provided labels, represented as a dictionary where each label is a single key value pair.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "dataDiskType": {
          "enumDeprecated": [
            false,
            false,
            false,
            true,
            false
          ],
          "enum": [
            "SQL_DATA_DISK_TYPE_UNSPECIFIED",
            "PD_SSD",
            "PD_HDD",
            "OBSOLETE_LOCAL_SSD",
            "HYPERDISK_BALANCED"
          ],
          "type": "string",
          "description": "The type of data disk: `PD_SSD` (default) or `PD_HDD`. Not used for First Generation instances.",
          "enumDescriptions": [
            "This is an unknown data disk type.",
            "An SSD data disk.",
            "An HDD data disk.",
            "This field is deprecated and will be removed from a future version of the API.",
            "A Hyperdisk Balanced data disk."
          ]
        },
        "storageAutoResizeLimit": {
          "format": "int64",
          "type": "string",
          "description": "The maximum size to which storage capacity can be automatically increased. The default value is 0, which specifies that there is no limit."
        },
        "retainBackupsOnDelete": {
          "type": "boolean",
          "description": "Optional. When this parameter is set to true, Cloud SQL retains backups of the instance even after the instance is deleted. The ON_DEMAND backup will be retained until customer deletes the backup or the project. The AUTOMATED backup will be retained based on the backups retention setting."
        },
        "locationPreference": {
          "$ref": "LocationPreference",
          "description": "The location preference settings. This allows the instance to be located as near as possible to either an App Engine app or Compute Engine zone for better performance. App Engine co-location was only applicable to First Generation instances."
        },
        "backupConfiguration": {
          "$ref": "BackupConfiguration",
          "description": "The daily backup configuration for the instance."
        }
      },
      "id": "Settings",
      "description": "Database instance settings."
    },
    "Row": {
      "properties": {
        "values": {
          "description": "The values for the row.",
          "items": {
            "$ref": "Value"
          },
          "type": "array"
        }
      },
      "description": "Contains the values for a row.",
      "type": "object",
      "id": "Row"
    },
    "BinLogCoordinates": {
      "id": "BinLogCoordinates",
      "properties": {
        "binLogPosition": {
          "format": "int64",
          "description": "Position (offset) within the binary log file.",
          "type": "string"
        },
        "binLogFileName": {
          "type": "string",
          "description": "Name of the binary log file for a Cloud SQL instance."
        },
        "kind": {
          "description": "This is always `sql#binLogCoordinates`.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Binary log coordinates."
    },
    "Metadata": {
      "properties": {
        "sqlStatementExecutionTime": {
          "format": "google-duration",
          "description": "The time taken to execute the SQL statements.",
          "type": "string"
        }
      },
      "id": "Metadata",
      "type": "object",
      "description": "The additional metadata information regarding the execution of the SQL statements."
    },
    "InstancesCloneRequest": {
      "description": "Database instance clone request.",
      "properties": {
        "cloneContext": {
          "description": "Contains details about the clone operation.",
          "$ref": "CloneContext"
        }
      },
      "id": "InstancesCloneRequest",
      "type": "object"
    },
    "Value": {
      "type": "object",
      "id": "Value",
      "description": "The cell value of the table.",
      "properties": {
        "value": {
          "type": "string",
          "description": "The cell value represented in string format."
        },
        "nullValue": {
          "description": "If cell value is null, then this flag will be set to true.",
          "type": "boolean"
        }
      }
    },
    "SqlInstancesReleaseSsrsLeaseResponse": {
      "id": "SqlInstancesReleaseSsrsLeaseResponse",
      "description": "The response for the release of the SSRS lease.",
      "type": "object",
      "properties": {
        "operationId": {
          "description": "The operation ID.",
          "type": "string"
        }
      }
    },
    "InstancesRotateEntraIdCertificateRequest": {
      "properties": {
        "rotateEntraIdCertificateContext": {
          "$ref": "RotateEntraIdCertificateContext",
          "description": "Optional. Contains details about the rotate Entra ID certificate operation."
        }
      },
      "type": "object",
      "description": "Rotate Entra ID Certificate request.",
      "id": "InstancesRotateEntraIdCertificateRequest"
    },
    "InstancesExportRequest": {
      "id": "InstancesExportRequest",
      "description": "Database instance export request.",
      "type": "object",
      "properties": {
        "exportContext": {
          "description": "Contains details about the export operation.",
          "$ref": "ExportContext"
        }
      }
    },
    "SqlServerAuditConfig": {
      "type": "object",
      "properties": {
        "bucket": {
          "type": "string",
          "description": "The name of the destination bucket (e.g., gs://mybucket)."
        },
        "retentionInterval": {
          "type": "string",
          "format": "google-duration",
          "description": "How long to keep generated audit files."
        },
        "kind": {
          "type": "string",
          "description": "This is always sql#sqlServerAuditConfig"
        },
        "uploadInterval": {
          "type": "string",
          "description": "How often to upload generated audit files.",
          "format": "google-duration"
        }
      },
      "description": "SQL Server specific audit configuration.",
      "id": "SqlServerAuditConfig"
    },
    "PasswordStatus": {
      "id": "PasswordStatus",
      "properties": {
        "locked": {
          "description": "If true, user does not have login privileges.",
          "type": "boolean"
        },
        "passwordExpirationTime": {
          "type": "string",
          "description": "The expiration time of the current password.",
          "format": "google-datetime"
        }
      },
      "description": "Read-only password status.",
      "type": "object"
    },
    "InstancesRotateServerCaRequest": {
      "properties": {
        "rotateServerCaContext": {
          "description": "Contains details about the rotate server CA operation.",
          "$ref": "RotateServerCaContext"
        }
      },
      "description": "Rotate Server CA request.",
      "id": "InstancesRotateServerCaRequest",
      "type": "object"
    },
    "LocationPreference": {
      "description": "Preferred location. This specifies where a Cloud SQL instance is located. Note that if the preferred location is not available, the instance will be located as close as possible within the region. Only one location may be specified.",
      "id": "LocationPreference",
      "type": "object",
      "properties": {
        "kind": {
          "type": "string",
          "description": "This is always `sql#locationPreference`."
        },
        "zone": {
          "description": "The preferred Compute Engine zone (for example: us-central1-a, us-central1-b, etc.). WARNING: Changing this might restart the instance.",
          "type": "string"
        },
        "followGaeApplication": {
          "description": "The App Engine application to follow, it must be in the same region as the Cloud SQL instance. WARNING: Changing this might restart the instance.",
          "type": "string",
          "deprecated": true
        },
        "secondaryZone": {
          "type": "string",
          "description": "The preferred Compute Engine zone for the secondary/failover (for example: us-central1-a, us-central1-b, etc.). To disable this field, set it to 'no_secondary_zone'."
        }
      }
    },
    "SslCertsInsertRequest": {
      "description": "SslCerts insert request.",
      "type": "object",
      "id": "SslCertsInsertRequest",
      "properties": {
        "commonName": {
          "type": "string",
          "description": "User supplied name. Must be a distinct name from the other certificates for this instance."
        }
      }
    },
    "InstancesReencryptRequest": {
      "type": "object",
      "description": "Database Instance reencrypt request.",
      "id": "InstancesReencryptRequest",
      "properties": {
        "backupReencryptionConfig": {
          "$ref": "BackupReencryptionConfig",
          "description": "Configuration specific to backup re-encryption"
        }
      }
    },
    "CloneContext": {
      "description": "Database instance clone context.",
      "type": "object",
      "id": "CloneContext",
      "properties": {
        "preferredZone": {
          "type": "string",
          "description": "Optional. Copy clone and point-in-time recovery clone of an instance to the specified zone. If no zone is specified, clone to the same primary zone as the source instance."
        },
        "kind": {
          "type": "string",
          "description": "This is always `sql#cloneContext`."
        },
        "pointInTime": {
          "format": "google-datetime",
          "description": "Timestamp, if specified, identifies the time to which the source instance is cloned.",
          "type": "string"
        },
        "destinationNetwork": {
          "description": "Optional. The fully qualified URI of the VPC network to which the cloned instance will be connected via private services access for private IP. For example:`projects/my-network-project/global/networks/my-network`. This field is only required for cross-project cloning.",
          "type": "string"
        },
        "allocatedIpRange": {
          "type": "string",
          "description": "The name of the allocated ip range for the private ip Cloud SQL instance. For example: \"google-managed-services-default\". If set, the cloned instance ip will be created in the allocated range. The range name must comply with [RFC 1035](https://tools.ietf.org/html/rfc1035). Specifically, the name must be 1-63 characters long and match the regular expression [a-z]([-a-z0-9]*[a-z0-9])?. Reserved for future use."
        },
        "pitrTimestampMs": {
          "type": "string",
          "format": "int64",
          "description": "Reserved for future use."
        },
        "databaseNames": {
          "description": "(SQL Server only) Clone only the specified databases from the source instance. Clone all databases if empty.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "destinationProject": {
          "type": "string",
          "description": "Optional. The project ID of the destination project where the cloned instance will be created. To perform a cross-project clone, this field is required. If not specified, the clone is created in the same project as the source instance."
        },
        "destinationInstanceName": {
          "type": "string",
          "description": "Name of the Cloud SQL instance to be created as a clone."
        },
        "sourceInstanceDeletionTime": {
          "type": "string",
          "description": "The timestamp used to identify the time when the source instance is deleted. If this instance is deleted, then you must set the timestamp.",
          "format": "google-datetime"
        },
        "binLogCoordinates": {
          "$ref": "BinLogCoordinates",
          "description": "Binary log coordinates, if specified, identify the position up to which the source instance is cloned. If not specified, the source instance is cloned up to the most recent binary log coordinates."
        },
        "preferredSecondaryZone": {
          "description": "Optional. Copy clone and point-in-time recovery clone of a regional instance in the specified zones. If not specified, clone to the same secondary zone as the source instance. This value cannot be the same as the preferred_zone field.",
          "type": "string"
        }
      }
    },
    "ExternalSyncSelectedObject": {
      "id": "ExternalSyncSelectedObject",
      "description": "The selected object that Cloud SQL migrates.",
      "type": "object",
      "properties": {
        "database": {
          "type": "string",
          "description": "The name of the database that Cloud SQL migrates."
        }
      }
    },
    "SslCertsCreateEphemeralRequest": {
      "type": "object",
      "properties": {
        "public_key": {
          "description": "PEM encoded public key to include in the signed certificate.",
          "type": "string"
        },
        "access_token": {
          "type": "string",
          "description": "Access token to include in the signed certificate."
        }
      },
      "description": "SslCerts create ephemeral certificate request.",
      "id": "SslCertsCreateEphemeralRequest"
    },
    "SslCertsListResponse": {
      "description": "SslCerts list response.",
      "properties": {
        "kind": {
          "type": "string",
          "description": "This is always `sql#sslCertsList`."
        },
        "items": {
          "description": "List of client certificates for the instance.",
          "type": "array",
          "items": {
            "$ref": "SslCert"
          }
        }
      },
      "id": "SslCertsListResponse",
      "type": "object"
    },
    "InstancesRestoreBackupRequest": {
      "type": "object",
      "id": "InstancesRestoreBackupRequest",
      "description": "Database instance restore backup request.",
      "properties": {
        "backup": {
          "description": "The name of the backup that's used to restore a Cloud SQL instance: Format: projects/{project-id}/backups/{backup-uid}. Only one of restore_backup_context, backup, backupdr_backup can be passed to the input.",
          "type": "string"
        },
        "backupdrBackup": {
          "description": "The name of the backup that's used to restore a Cloud SQL instance: Format: \"projects/{project-id}/locations/{location}/backupVaults/{backupvault}/dataSources/{datasource}/backups/{backup-uid}\". Only one of restore_backup_context, backup, backupdr_backup can be passed to the input.",
          "type": "string"
        },
        "restoreInstanceSettings": {
          "description": "Optional. By using this parameter, Cloud SQL overrides any instance settings stored in the backup you are restoring from. You can't change the instance's major database version and you can only increase the disk size. You can use this field to restore new instances only. This field is not applicable for restore to existing instances.",
          "$ref": "DatabaseInstance"
        },
        "restoreBackupContext": {
          "$ref": "RestoreBackupContext",
          "description": "Parameters required to perform the restore backup operation."
        },
        "restoreInstanceClearOverridesFieldNames": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Optional. This field has the same purpose as restore_instance_settings, changes any instance settings stored in the backup you are restoring from. With the difference that these fields are cleared in the settings."
        },
        "ignoreMaintenanceVersion": {
          "description": "Optional. If true, the restore operation proceeds even if the target instance's maintenance version is older than the source instance's maintenance version.",
          "type": "boolean"
        }
      }
    },
    "BackupConfiguration": {
      "properties": {
        "transactionLogRetentionDays": {
          "description": "The number of days of transaction logs we retain for point in time restore, from 1-7.",
          "format": "int32",
          "type": "integer"
        },
        "backupTier": {
          "enumDescriptions": [
            "Unspecified.",
            "Instance is managed by Cloud SQL.",
            "Deprecated: ADVANCED is deprecated. Please use ENHANCED instead.",
            "Instance is managed by Google Cloud Backup and DR Service."
          ],
          "type": "string",
          "description": "Output only. Backup tier that manages the backups for the instance.",
          "enum": [
            "BACKUP_TIER_UNSPECIFIED",
            "STANDARD",
            "ADVANCED",
            "ENHANCED"
          ],
          "readOnly": true,
          "enumDeprecated": [
            false,
            false,
            true,
            false
          ]
        },
        "kind": {
          "description": "This is always `sql#backupConfiguration`.",
          "type": "string"
        },
        "backupRetentionSettings": {
          "description": "Backup retention settings.",
          "$ref": "BackupRetentionSettings"
        },
        "pointInTimeRecoveryEnabled": {
          "type": "boolean",
          "description": "Whether point in time recovery is enabled."
        },
        "replicationLogArchivingEnabled": {
          "type": "boolean",
          "deprecated": true,
          "description": "Optional. Deprecated: replication_log_archiving_enabled is deprecated and will be removed from a future version of the API. Use point_in_time_recovery_enabled instead."
        },
        "transactionalLogStorageState": {
          "enumDescriptions": [
            "Unspecified.",
            "The transaction logs used for PITR for the instance are stored on a data disk.",
            "The transaction logs used for PITR for the instance are switching from being stored on a data disk to being stored in Cloud Storage. Only applicable to MySQL.",
            "The transaction logs used for PITR for the instance are now stored in Cloud Storage. Previously, they were stored on a data disk. Only applicable to MySQL.",
            "The transaction logs used for PITR for the instance are stored in Cloud Storage. Only applicable to MySQL and PostgreSQL."
          ],
          "type": "string",
          "description": "Output only. This value contains the storage location of transactional logs for the database for point-in-time recovery.",
          "enum": [
            "TRANSACTIONAL_LOG_STORAGE_STATE_UNSPECIFIED",
            "DISK",
            "SWITCHING_TO_CLOUD_STORAGE",
            "SWITCHED_TO_CLOUD_STORAGE",
            "CLOUD_STORAGE"
          ],
          "readOnly": true
        },
        "binaryLogEnabled": {
          "description": "(MySQL only) Whether binary log is enabled. If backup configuration is disabled, binarylog must be disabled as well.",
          "type": "boolean"
        },
        "enabled": {
          "description": "Whether this configuration is enabled.",
          "type": "boolean"
        },
        "location": {
          "type": "string",
          "description": "Location of the backup"
        },
        "startTime": {
          "description": "Start time for the daily backup configuration in UTC timezone in the 24 hour format - `HH:MM`.",
          "type": "string"
        }
      },
      "id": "BackupConfiguration",
      "type": "object",
      "description": "Database instance backup configuration."
    },
    "UserPasswordValidationPolicy": {
      "id": "UserPasswordValidationPolicy",
      "type": "object",
      "description": "User level password validation policy.",
      "properties": {
        "enablePasswordVerification": {
          "description": "If true, the user must specify the current password before changing the password. This flag is supported only for MySQL.",
          "type": "boolean"
        },
        "allowedFailedAttempts": {
          "type": "integer",
          "format": "int32",
          "description": "Number of failed login attempts allowed before user get locked."
        },
        "enableFailedAttemptsCheck": {
          "description": "If true, failed login attempts check will be enabled.",
          "type": "boolean"
        },
        "passwordExpirationDuration": {
          "type": "string",
          "format": "google-duration",
          "description": "Expiration duration after password is updated."
        },
        "status": {
          "$ref": "PasswordStatus",
          "readOnly": true,
          "description": "Output only. Read-only password status."
        }
      }
    },
    "SqlSubOperationType": {
      "description": "The sub operation type based on the operation type.",
      "type": "object",
      "properties": {
        "maintenanceType": {
          "enum": [
            "SQL_MAINTENANCE_TYPE_UNSPECIFIED",
            "INSTANCE_MAINTENANCE",
            "REPLICA_INCLUDED_MAINTENANCE",
            "INSTANCE_SELF_SERVICE_MAINTENANCE",
            "REPLICA_INCLUDED_SELF_SERVICE_MAINTENANCE"
          ],
          "enumDescriptions": [
            "Maintenance type is unspecified.",
            "Indicates that a standalone instance is undergoing maintenance. The instance can be either a primary instance or a replica.",
            "Indicates that the primary instance and all of its replicas, including cascading replicas, are undergoing maintenance. Maintenance is performed on groups of replicas first, followed by the primary instance.",
            "Indicates that the standalone instance is undergoing maintenance, initiated by self-service. The instance can be either a primary instance or a replica.",
            "Indicates that the primary instance and all of its replicas are undergoing maintenance, initiated by self-service. Maintenance is performed on groups of replicas first, followed by the primary instance."
          ],
          "description": "The type of maintenance to be performed on the instance.",
          "type": "string"
        }
      },
      "id": "SqlSubOperationType"
    },
    "InstancesRotateServerCertificateRequest": {
      "description": "Rotate Server Certificate request.",
      "type": "object",
      "properties": {
        "rotateServerCertificateContext": {
          "description": "Optional. Contains details about the rotate server CA operation.",
          "$ref": "RotateServerCertificateContext"
        }
      },
      "id": "InstancesRotateServerCertificateRequest"
    },
    "BackupRunsListResponse": {
      "id": "BackupRunsListResponse",
      "description": "Backup run list results.",
      "properties": {
        "nextPageToken": {
          "description": "The continuation token, used to page through large result sets. Provide this value in a subsequent request to return the next page of results.",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "description": "This is always `sql#backupRunsList`."
        },
        "items": {
          "type": "array",
          "description": "A list of backup runs in reverse chronological order of the enqueued time.",
          "items": {
            "$ref": "BackupRun"
          }
        }
      },
      "type": "object"
    },
    "Status": {
      "type": "object",
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "properties": {
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        },
        "details": {
[...]
