{
  "endpoints": [
    {
      "endpointUrl": "https://sqladmin.us-east7.rep.googleapis.com/",
      "location": "us-east7",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "location": "northamerica-northeast1",
      "endpointUrl": "https://sqladmin.northamerica-northeast1.rep.googleapis.com/"
    },
    {
      "location": "northamerica-northeast2",
      "description": "Regional Endpoint",
      "endpointUrl": "https://sqladmin.northamerica-northeast2.rep.googleapis.com/"
    },
    {
      "location": "europe-north1",
      "description": "Regional Endpoint",
      "endpointUrl": "https://sqladmin.europe-north1.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://sqladmin.us-west2.rep.googleapis.com/",
      "location": "us-west2",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "location": "asia-east2",
      "endpointUrl": "https://sqladmin.asia-east2.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://sqladmin.europe-west3.rep.googleapis.com/",
      "location": "europe-west3",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://sqladmin.us-east1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "us-east1"
    },
    {
      "endpointUrl": "https://sqladmin.asia-east1.rep.googleapis.com/",
      "location": "asia-east1",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://sqladmin.asia-northeast2.rep.googleapis.com/",
      "location": "asia-northeast2",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://sqladmin.me-central1.rep.googleapis.com/",
      "location": "me-central1"
    },
    {
      "endpointUrl": "https://sqladmin.europe-central2.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "europe-central2"
    },
    {
      "description": "Regional Endpoint",
      "location": "northamerica-south1",
      "endpointUrl": "https://sqladmin.northamerica-south1.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://sqladmin.us-west8.rep.googleapis.com/",
      "location": "us-west8",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://sqladmin.me-west1.rep.googleapis.com/",
      "location": "me-west1",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://sqladmin.asia-northeast3.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "asia-northeast3"
    },
    {
      "location": "us-west1",
      "description": "Regional Endpoint",
      "endpointUrl": "https://sqladmin.us-west1.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://sqladmin.europe-west9.rep.googleapis.com/",
      "location": "europe-west9",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://sqladmin.asia-southeast3.rep.googleapis.com/",
      "location": "asia-southeast3"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://sqladmin.europe-west1.rep.googleapis.com/",
      "location": "europe-west1"
    },
    {
      "endpointUrl": "https://sqladmin.asia-southeast1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "asia-southeast1"
    },
    {
      "location": "us-west4",
      "endpointUrl": "https://sqladmin.us-west4.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://sqladmin.europe-west12.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "europe-west12"
    },
    {
      "description": "Regional Endpoint",
      "location": "asia-south2",
      "endpointUrl": "https://sqladmin.asia-south2.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "location": "australia-southeast1",
      "endpointUrl": "https://sqladmin.australia-southeast1.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://sqladmin.europe-west6.rep.googleapis.com/",
      "location": "europe-west6",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "location": "us-east4",
      "endpointUrl": "https://sqladmin.us-east4.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://sqladmin.asia-southeast2.rep.googleapis.com/",
      "location": "asia-southeast2",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://sqladmin.europe-southwest1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "europe-southwest1"
    },
    {
      "endpointUrl": "https://sqladmin.europe-west8.rep.googleapis.com/",
      "location": "europe-west8",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://sqladmin.africa-south1.rep.googleapis.com/",
      "location": "africa-south1",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "location": "me-central2",
      "endpointUrl": "https://sqladmin.me-central2.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://sqladmin.us-central1.rep.googleapis.com/",
      "location": "us-central1",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://sqladmin.us-central2.rep.googleapis.com/",
      "location": "us-central2",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "location": "europe-north2",
      "endpointUrl": "https://sqladmin.europe-north2.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://sqladmin.asia-northeast1.rep.googleapis.com/",
      "location": "asia-northeast1"
    },
    {
      "description": "Regional Endpoint",
      "location": "europe-west2",
      "endpointUrl": "https://sqladmin.europe-west2.rep.googleapis.com/"
    },
    {
      "location": "southamerica-east1",
      "description": "Regional Endpoint",
      "endpointUrl": "https://sqladmin.southamerica-east1.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://sqladmin.us-east5.rep.googleapis.com/",
      "location": "us-east5",
      "description": "Regional Endpoint"
    },
    {
      "location": "asia-south1",
      "description": "Regional Endpoint",
      "endpointUrl": "https://sqladmin.asia-south1.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://sqladmin.europe-west4.rep.googleapis.com/",
      "location": "europe-west4",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "location": "us-west3",
      "endpointUrl": "https://sqladmin.us-west3.rep.googleapis.com/"
    },
    {
      "location": "australia-southeast2",
      "description": "Regional Endpoint",
      "endpointUrl": "https://sqladmin.australia-southeast2.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://sqladmin.southamerica-west1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "southamerica-west1"
    },
    {
      "endpointUrl": "https://sqladmin.europe-west10.rep.googleapis.com/",
      "location": "europe-west10",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "location": "us-south1",
      "endpointUrl": "https://sqladmin.us-south1.rep.googleapis.com/"
    }
  ],
  "title": "Cloud SQL Admin API",
  "batchPath": "batch",
  "rootUrl": "https://sqladmin.googleapis.com/",
  "mtlsRootUrl": "https://sqladmin.mtls.googleapis.com/",
  "kind": "discovery#restDescription",
  "discoveryVersion": "v1",
  "resources": {
    "connect": {
      "methods": {
        "resolve": {
          "parameterOrder": [
            "location",
            "dnsName"
          ],
          "id": "sql.connect.resolve",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "path": "v1/locations/{location}/dns/{dnsName}:resolveConnectSettings",
          "httpMethod": "GET",
          "flatPath": "v1/locations/{location}/dns/{dnsName}:resolveConnectSettings",
          "parameters": {
            "location": {
              "description": "Required. The region of the instance.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "dnsName": {
              "description": "Required. Cloud SQL instance ID. This does not include the project ID.",
              "type": "string",
              "location": "path",
              "required": true
            }
          },
          "description": "Retrieves connect settings about a Cloud SQL instance using the instance DNS name.",
          "response": {
            "$ref": "ConnectSettings"
          }
        },
        "generateEphemeralCert": {
          "path": "v1/projects/{project}/instances/{instance}:generateEphemeralCert",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "id": "sql.connect.generateEphemeral",
          "parameters": {
            "instance": {
              "type": "string",
              "location": "path",
              "required": true,
              "description": "Cloud SQL instance ID. This does not include the project ID."
            },
            "project": {
              "description": "Project ID of the project that contains the instance.",
              "type": "string",
              "location": "path",
              "required": true
            }
          },
          "description": "Generates a short-lived X509 certificate containing the provided public key and signed by a private key specific to the target instance. Users may use the certificate to authenticate as themselves when connecting to the database.",
          "flatPath": "v1/projects/{project}/instances/{instance}:generateEphemeralCert",
          "httpMethod": "POST",
          "response": {
            "$ref": "GenerateEphemeralCertResponse"
          },
          "request": {
            "$ref": "GenerateEphemeralCertRequest"
          },
          "parameterOrder": [
            "project",
            "instance"
          ]
        },
        "get": {
          "flatPath": "v1/projects/{project}/instances/{instance}/connectSettings",
          "httpMethod": "GET",
          "description": "Retrieves connect settings about a Cloud SQL instance.",
          "parameters": {
            "readTime": {
              "description": "Optional. Optional snapshot read timestamp to trade freshness for performance.",
              "type": "string",
              "location": "query",
              "format": "google-datetime"
            },
            "project": {
              "location": "path",
              "required": true,
              "description": "Project ID of the project that contains the instance.",
              "type": "string"
            },
            "instance": {
              "type": "string",
              "description": "Cloud SQL instance ID. This does not include the project ID.",
              "location": "path",
              "required": true
            }
          },
          "id": "sql.connect.get",
          "response": {
            "$ref": "ConnectSettings"
          },
          "path": "v1/projects/{project}/instances/{instance}/connectSettings",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "parameterOrder": [
            "project",
            "instance"
          ]
        }
      }
    },
    "projects": {
      "resources": {
        "instances": {
          "methods": {
            "performDiskShrink": {
              "response": {
                "$ref": "Operation"
              },
              "flatPath": "v1/projects/{project}/instances/{instance}/performDiskShrink",
              "id": "sql.projects.instances.performDiskShrink",
              "request": {
                "$ref": "PerformDiskShrinkContext"
              },
              "parameterOrder": [
                "project",
                "instance"
              ],
              "path": "v1/projects/{project}/instances/{instance}/performDiskShrink",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/sqlservice.admin"
              ],
              "httpMethod": "POST",
              "description": "Perform Disk Shrink on primary instance.",
              "parameters": {
                "project": {
                  "description": "Project ID of the project that contains the instance.",
                  "type": "string",
                  "location": "path",
                  "required": true
                },
                "location": {
                  "type": "string",
                  "location": "query",
                  "description": "Optional. Region of the Cloud SQL instance."
                },
                "instance": {
                  "location": "path",
                  "required": true,
                  "description": "Cloud SQL instance ID. This does not include the project ID.",
                  "type": "string"
                }
              }
            },
            "getDiskShrinkConfig": {
              "description": "Get Disk Shrink Config for a given instance.",
              "response": {
                "$ref": "SqlInstancesGetDiskShrinkConfigResponse"
              },
              "httpMethod": "GET",
              "id": "sql.projects.instances.getDiskShrinkConfig",
              "flatPath": "v1/projects/{project}/instances/{instance}/getDiskShrinkConfig",
              "parameters": {
                "project": {
                  "type": "string",
                  "description": "Project ID of the project that contains the instance.",
                  "location": "path",
                  "required": true
                },
                "location": {
                  "description": "Optional. Region of the Cloud SQL instance.",
                  "location": "query",
                  "type": "string"
                },
                "instance": {
                  "description": "Cloud SQL instance ID. This does not include the project ID.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/sqlservice.admin"
              ],
              "path": "v1/projects/{project}/instances/{instance}/getDiskShrinkConfig",
              "parameterOrder": [
                "project",
                "instance"
              ]
            },
            "startExternalSync": {
              "parameterOrder": [
                "project",
                "instance"
              ],
              "id": "sql.projects.instances.startExternalSync",
              "request": {
                "$ref": "SqlInstancesStartExternalSyncRequest"
              },
              "response": {
                "$ref": "Operation"
              },
              "flatPath": "v1/projects/{project}/instances/{instance}/startExternalSync",
              "path": "v1/projects/{project}/instances/{instance}/startExternalSync",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/sqlservice.admin"
              ],
              "parameters": {
                "project": {
                  "description": "ID of the project that contains the instance.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "instance": {
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "description": "Cloud SQL instance ID. This does not include the project ID."
                }
              },
              "httpMethod": "POST",
              "description": "Start External primary instance migration."
            },
            "verifyExternalSyncSettings": {
              "parameters": {
                "project": {
                  "description": "Project ID of the project that contains the instance.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "instance": {
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "description": "Cloud SQL instance ID. This does not include the project ID."
                }
              },
              "response": {
                "$ref": "SqlInstancesVerifyExternalSyncSettingsResponse"
              },
              "id": "sql.projects.instances.verifyExternalSyncSettings",
              "httpMethod": "POST",
              "flatPath": "v1/projects/{project}/instances/{instance}/verifyExternalSyncSettings",
              "parameterOrder": [
                "project",
                "instance"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/sqlservice.admin"
              ],
              "path": "v1/projects/{project}/instances/{instance}/verifyExternalSyncSettings",
              "request": {
                "$ref": "SqlInstancesVerifyExternalSyncSettingsRequest"
              },
              "description": "Verify External primary instance external sync settings."
            },
            "getLatestRecoveryTime": {
              "description": "Get Latest Recovery Time for a given instance.",
              "response": {
                "$ref": "SqlInstancesGetLatestRecoveryTimeResponse"
              },
              "flatPath": "v1/projects/{project}/instances/{instance}/getLatestRecoveryTime",
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/sqlservice.admin"
              ],
              "parameters": {
                "project": {
                  "location": "path",
                  "required": true,
                  "description": "Project ID of the project that contains the instance.",
                  "type": "string"
                },
                "location": {
                  "location": "query",
                  "description": "Optional. Region of the Cloud SQL instance.",
                  "type": "string"
                },
                "instance": {
                  "description": "Cloud SQL instance ID. This does not include the project ID.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "sourceInstanceDeletionTime": {
                  "type": "string",
                  "format": "google-datetime",
                  "description": "The timestamp used to identify the time when the source instance is deleted. If this instance is deleted, then you must set the timestamp.",
                  "location": "query"
                }
              },
              "id": "sql.projects.instances.getLatestRecoveryTime",
              "path": "v1/projects/{project}/instances/{instance}/getLatestRecoveryTime",
              "parameterOrder": [
                "project",
                "instance"
              ]
            },
            "resetReplicaSize": {
              "parameterOrder": [
                "project",
                "instance"
              ],
              "response": {
                "$ref": "Operation"
              },
              "flatPath": "v1/projects/{project}/instances/{instance}/resetReplicaSize",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/sqlservice.admin"
              ],
              "id": "sql.projects.instances.resetReplicaSize",
              "path": "v1/projects/{project}/instances/{instance}/resetReplicaSize",
              "httpMethod": "POST",
              "description": "Reset Replica Size to primary instance disk size.",
              "request": {
                "$ref": "SqlInstancesResetReplicaSizeRequest"
              },
              "parameters": {
                "project": {
                  "description": "ID of the project that contains the read replica.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "instance": {
                  "type": "string",
                  "description": "Cloud SQL read replica instance name.",
                  "location": "path",
                  "required": true
                }
              }
            },
            "rescheduleMaintenance": {
              "id": "sql.projects.instances.rescheduleMaintenance",
              "description": "Reschedules the maintenance on the given instance.",
              "response": {
                "$ref": "Operation"
              },
              "request": {
                "$ref": "SqlInstancesRescheduleMaintenanceRequestBody"
              },
              "flatPath": "v1/projects/{project}/instances/{instance}/rescheduleMaintenance",
              "parameterOrder": [
                "project",
                "instance"
              ],
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/sqlservice.admin"
              ],
              "parameters": {
                "location": {
                  "location": "query",
                  "description": "Optional. Region of the Cloud SQL instance.",
                  "type": "string"
                },
                "project": {
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "description": "ID of the project that contains the instance."
                },
                "instance": {
                  "location": "path",
                  "required": true,
                  "description": "Cloud SQL instance ID. This does not include the project ID.",
                  "type": "string"
                }
              },
              "path": "v1/projects/{project}/instances/{instance}/rescheduleMaintenance"
            }
          }
        }
      }
    },
    "users": {
      "methods": {
        "insert": {
          "httpMethod": "POST",
          "description": "Creates a new user in a Cloud SQL instance.",
          "parameters": {
            "instance": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "Database instance ID. This does not include the project ID."
            },
            "location": {
              "type": "string",
              "description": "Optional. Region of the Cloud SQL instance.",
              "location": "query"
            },
            "project": {
              "type": "string",
              "location": "path",
              "required": true,
              "description": "Project ID of the project that contains the instance."
            }
          },
          "path": "v1/projects/{project}/instances/{instance}/users",
          "flatPath": "v1/projects/{project}/instances/{instance}/users",
          "parameterOrder": [
            "project",
            "instance"
          ],
          "response": {
            "$ref": "Operation"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "request": {
            "$ref": "User"
          },
          "id": "sql.users.insert"
        },
        "list": {
          "flatPath": "v1/projects/{project}/instances/{instance}/users",
          "parameters": {
            "location": {
              "description": "Optional. Region of the Cloud SQL instance.",
              "location": "query",
              "type": "string"
            },
            "instance": {
              "description": "Database instance ID. This does not include the project ID.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "project": {
              "type": "string",
              "location": "path",
              "required": true,
              "description": "Project ID of the project that contains the instance."
            }
          },
          "description": "Lists users in the specified Cloud SQL instance.",
          "httpMethod": "GET",
          "response": {
            "$ref": "UsersListResponse"
          },
          "parameterOrder": [
            "project",
            "instance"
          ],
          "id": "sql.users.list",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "path": "v1/projects/{project}/instances/{instance}/users"
        },
        "get": {
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "id": "sql.users.get",
          "path": "v1/projects/{project}/instances/{instance}/users/{name}",
          "httpMethod": "GET",
          "response": {
            "$ref": "User"
          },
          "flatPath": "v1/projects/{project}/instances/{instance}/users/{name}",
          "parameters": {
            "name": {
              "type": "string",
              "description": "User of the instance.",
              "location": "path",
              "required": true
            },
            "project": {
              "location": "path",
              "required": true,
              "description": "Project ID of the project that contains the instance.",
              "type": "string"
            },
            "location": {
              "description": "Optional. Region of the Cloud SQL instance.",
              "location": "query",
              "type": "string"
            },
            "instance": {
              "type": "string",
              "location": "path",
              "required": true,
              "description": "Database instance ID. This does not include the project ID."
            },
            "host": {
              "description": "Host of a user of the instance.",
              "location": "query",
              "type": "string"
            }
          },
          "description": "Retrieves a resource containing information about a user.",
          "parameterOrder": [
            "project",
            "instance",
            "name"
          ]
        },
        "delete": {
          "id": "sql.users.delete",
          "description": "Deletes a user from a Cloud SQL instance.",
          "flatPath": "v1/projects/{project}/instances/{instance}/users",
          "response": {
            "$ref": "Operation"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "httpMethod": "DELETE",
          "parameterOrder": [
            "project",
            "instance"
          ],
          "parameters": {
            "location": {
              "type": "string",
              "location": "query",
              "description": "Optional. Region of the Cloud SQL instance."
            },
            "name": {
              "location": "query",
              "description": "Name of the user in the instance.",
              "type": "string"
            },
            "instance": {
              "location": "path",
              "required": true,
              "description": "Database instance ID. This does not include the project ID.",
              "type": "string"
            },
            "host": {
              "location": "query",
              "description": "Host of the user in the instance.",
              "type": "string"
            },
            "project": {
              "type": "string",
              "description": "Project ID of the project that contains the instance.",
              "location": "path",
              "required": true
            }
          },
          "path": "v1/projects/{project}/instances/{instance}/users"
        },
        "update": {
          "httpMethod": "PUT",
          "response": {
            "$ref": "Operation"
          },
          "parameters": {
            "serverRoles": {
              "type": "string",
              "repeated": true,
              "location": "query",
              "description": "Optional. The server roles to grant to the SQL Server login. Existing server roles will not be revoked if revoke_existing_roles is false. body.server_roles will be ignored for update request."
            },
            "revokeExistingRoles": {
              "description": "Optional. Specifies whether to revoke existing roles that are not present in the `database_roles` field. If `false` or unset, the database roles specified in `database_roles` are added to the user's existing roles.",
              "location": "query",
              "type": "boolean"
            },
            "name": {
              "description": "Name of the user in the instance.",
              "location": "query",
              "type": "string"
            },
            "databaseRoles": {
              "type": "string",
              "repeated": true,
              "description": "Optional. List of database roles to grant to the user. body.database_roles will be ignored for update request.",
              "location": "query"
            },
            "revokeExistingServerRoles": {
              "type": "boolean",
              "location": "query",
              "description": "Optional. Specifies whether to revoke existing roles that are not present in the `server_roles` field. If `false` or unset, the server roles specified in `server_roles` are added to the user's existing server roles."
            },
            "location": {
              "description": "Optional. Region of the Cloud SQL instance.",
              "type": "string",
              "location": "query"
            },
            "project": {
              "description": "Project ID of the project that contains the instance.",
              "type": "string",
              "location": "path",
              "required": true
            },
            "host": {
              "description": "Optional. Host of the user in the instance.",
              "type": "string",
              "location": "query"
            },
            "instance": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "Database instance ID. This does not include the project ID."
            }
          },
          "description": "Updates an existing user in a Cloud SQL instance.",
          "flatPath": "v1/projects/{project}/instances/{instance}/users",
          "request": {
            "$ref": "User"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "path": "v1/projects/{project}/instances/{instance}/users",
          "id": "sql.users.update",
          "parameterOrder": [
            "project",
            "instance"
          ]
        }
      }
    },
    "flags": {
      "methods": {
        "list": {
          "description": "Lists all available database flags for Cloud SQL instances.",
          "parameterOrder": [],
          "httpMethod": "GET",
          "path": "v1/flags",
          "parameters": {
            "databaseVersion": {
              "description": "Database type and version you want to retrieve flags for. By default, this method returns flags for all database types and versions.",
              "location": "query",
              "type": "string"
            },
            "flagScope": {
              "location": "query",
              "enum": [
                "SQL_FLAG_SCOPE_UNSPECIFIED",
                "SQL_FLAG_SCOPE_DATABASE",
                "SQL_FLAG_SCOPE_CONNECTION_POOL"
              ],
              "type": "string",
              "description": "Optional. Specify the scope of flags to be returned by SqlFlagsListService. Return list of database flags if unspecified.",
              "enumDescriptions": [
                "Assume database flags if unspecified",
                "database flags",
                "connection pool configuration flags"
              ]
            }
          },
          "id": "sql.flags.list",
          "response": {
            "$ref": "FlagsListResponse"
          },
          "flatPath": "v1/flags",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ]
        }
      }
    },
    "blueGreenDeployments": {
      "methods": {
        "get": {
          "httpMethod": "GET",
          "parameters": {
            "view": {
              "enumDescriptions": [
                "Blue-green deployment view enumeration. This allows the caller to specify what view they query. If unspecified (BLUE_GREEN_DEPLOYMENT_VIEW_UNSPECIFIED), the behavior is the same as BASIC.",
                "Includes basic metadata about the blue-green deployment. `BASIC` is the default view.",
                "Includes basic metadata and configuration differences between source and target instances (`database_version`, `tier`, `edition`, `availability_type`, `data_disk_size_gb`, and `data_disk_type`)."
              ],
              "type": "string",
              "location": "query",
              "enum": [
                "BLUE_GREEN_DEPLOYMENT_VIEW_UNSPECIFIED",
                "BASIC",
                "DETAILED"
              ],
              "description": "Optional. Specifies whether to return the basic or detailed view of the resource in the response."
            },
            "name": {
              "pattern": "^projects/[^/]+/locations/[^/]+/blueGreenDeployments/[^/]+$",
              "description": "Required. The name of the blue-green deployment to retrieve. Format: projects/{project}/locations/{location}/blueGreenDeployments/{blue_green_deployment}",
              "type": "string",
              "location": "path",
              "required": true
            }
          },
          "description": "Retrieves a blue-green deployment resource under a given project and location.",
          "path": "v1/{+name}",
          "id": "sql.blueGreenDeployments.get",
          "response": {
            "$ref": "BlueGreenDeployment"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "parameterOrder": [
            "name"
          ],
          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/blueGreenDeployments/{blueGreenDeploymentsId}"
        },
        "create": {
          "id": "sql.blueGreenDeployments.create",
          "description": "Creates a blue-green deployment under a given project and location.",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "path": "v1/{+parent}/blueGreenDeployments",
          "parameters": {
            "parent": {
              "type": "string",
              "description": "Required. The parent resource where this blue-green deployment will be created. Format: projects/{project}/locations/{location}",
              "pattern": "^projects/[^/]+/locations/[^/]+$",
              "location": "path",
              "required": true
            },
            "blueGreenDeploymentId": {
              "description": "Required. The ID to use for the blue-green deployment, which will become the final component of the deployment's resource name. The ID must be unique within the given project and location and between 2-63 characters.",
              "type": "string",
              "location": "query"
            }
          },
          "httpMethod": "POST",
          "request": {
            "$ref": "BlueGreenDeployment"
          },
          "response": {
            "$ref": "Operation"
          },
          "parameterOrder": [
            "parent"
          ],
          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/blueGreenDeployments"
        },
        "switchover": {
          "response": {
            "$ref": "Operation"
          },
          "id": "sql.blueGreenDeployments.switchover",
          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/blueGreenDeployments/{blueGreenDeploymentsId}:switchover",
          "httpMethod": "POST",
          "parameters": {
            "name": {
              "pattern": "^projects/[^/]+/locations/[^/]+/blueGreenDeployments/[^/]+$",
              "type": "string",
              "description": "Required. The name of the blue-green deployment to switch over. Format: projects/{project}/locations/{location}/blueGreenDeployments/{blue_green_deployment}",
              "location": "path",
              "required": true
            }
          },
          "parameterOrder": [
            "name"
          ],
          "path": "v1/{+name}:switchover",
          "description": "Switches over to green instance for a blue-green deployment.",
          "request": {
            "$ref": "SwitchoverBlueGreenDeploymentRequest"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ]
        },
        "delete": {
          "description": "Deletes a blue-green deployment.",
          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/blueGreenDeployments/{blueGreenDeploymentsId}",
          "path": "v1/{+name}",
          "response": {
            "$ref": "Operation"
          },
          "parameterOrder": [
            "name"
          ],
          "id": "sql.blueGreenDeployments.delete",
          "httpMethod": "DELETE",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "parameters": {
            "deleteOldSource": {
              "location": "query",
              "type": "boolean",
              "description": "Optional. If set to true, and the switchover is complete, this deletes the old source instance along with the deployment."
            },
            "name": {
              "description": "Required. The name of the blue-green deployment to delete. Format: projects/{project}/locations/{location}/blueGreenDeployments/{blue_green_deployment}",
              "pattern": "^projects/[^/]+/locations/[^/]+/blueGreenDeployments/[^/]+$",
              "location": "path",
              "required": true,
              "type": "string"
            }
          }
        },
        "list": {
          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/blueGreenDeployments",
          "description": "Lists blue-green deployments under a given project.",
          "parameters": {
            "parent": {
              "description": "Required. The parent resource whose blue-green deployments are to be listed. Format: projects/{project}/locations/{location}",
              "location": "path",
              "required": true,
              "type": "string",
              "pattern": "^projects/[^/]+/locations/[^/]+$"
            },
            "pageToken": {
              "location": "query",
              "description": "Optional. A page token, received from a previous `ListBlueGreenDeployments` call. Provide this to retrieve the subsequent page.",
              "type": "string"
            },
            "orderBy": {
              "location": "query",
              "description": "Optional. A comma-separated list of fields to order the results by.",
              "type": "string"
            },
            "filter": {
              "description": "Optional. A filter expression that filters the results.",
              "type": "string",
              "location": "query"
            },
            "pageSize": {
              "description": "Optional. The maximum number of deployments to return. The service may return fewer deployments than this value. If unspecified, at most 500 deployments are returned. The maximum value is 1000; values above 1000 are treated as 1000.",
              "location": "query",
              "type": "integer",
              "format": "int32"
            }
          },
          "response": {
            "$ref": "ListBlueGreenDeploymentsResponse"
          },
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "parameterOrder": [
            "parent"
          ],
          "path": "v1/{+parent}/blueGreenDeployments",
          "id": "sql.blueGreenDeployments.list"
        }
      }
    },
    "sslCerts": {
      "methods": {
        "insert": {
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "description": "Creates an SSL certificate and returns it along with the private key and server certificate authority. The new certificate will not be usable until the instance is restarted.",
          "parameters": {
            "instance": {
              "type": "string",
              "location": "path",
              "required": true,
              "description": "Cloud SQL instance ID. This does not include the project ID."
            },
            "project": {
              "description": "Project ID of the project that contains the instance.",
              "type": "string",
              "location": "path",
              "required": true
            }
          },
          "request": {
            "$ref": "SslCertsInsertRequest"
          },
          "httpMethod": "POST",
          "parameterOrder": [
            "project",
            "instance"
          ],
          "path": "v1/projects/{project}/instances/{instance}/sslCerts",
          "flatPath": "v1/projects/{project}/instances/{instance}/sslCerts",
          "id": "sql.sslCerts.insert",
          "response": {
            "$ref": "SslCertsInsertResponse"
          }
        },
        "createEphemeral": {
          "parameterOrder": [
            "project",
            "instance"
          ],
          "description": "Generates a short-lived X509 certificate containing the provided public key and signed by a private key specific to the target instance. Users may use the certificate to authenticate as themselves when connecting to the database.",
          "request": {
            "$ref": "SslCertsCreateEphemeralRequest"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "httpMethod": "POST",
          "id": "sql.sslCerts.createEphemeral",
          "flatPath": "v1/projects/{project}/instances/{instance}/createEphemeral",
          "path": "v1/projects/{project}/instances/{instance}/createEphemeral",
          "parameters": {
            "instance": {
              "location": "path",
              "required": true,
              "description": "Cloud SQL instance ID. This does not include the project ID.",
              "type": "string"
            },
            "project": {
              "type": "string",
              "location": "path",
              "required": true,
              "description": "Project ID of the Cloud SQL project."
            },
            "location": {
              "location": "query",
              "description": "Optional. Region of the Cloud SQL instance.",
              "type": "string"
            }
          },
          "response": {
            "$ref": "SslCert"
          }
        },
        "get": {
          "id": "sql.sslCerts.get",
          "parameters": {
            "instance": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "Cloud SQL instance ID. This does not include the project ID."
            },
            "sha1Fingerprint": {
              "type": "string",
              "location": "path",
              "required": true,
              "description": "Sha1 FingerPrint."
            },
            "project": {
              "type": "string",
              "location": "path",
              "required": true,
              "description": "Project ID of the project that contains the instance."
            }
          },
          "response": {
            "$ref": "SslCert"
          },
          "httpMethod": "GET",
          "flatPath": "v1/projects/{project}/instances/{instance}/sslCerts/{sha1Fingerprint}",
          "path": "v1/projects/{project}/instances/{instance}/sslCerts/{sha1Fingerprint}",
          "description": "Retrieves a particular SSL certificate. Does not include the private key (required for usage). The private key must be saved from the response to initial creation.",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "parameterOrder": [
            "project",
            "instance",
            "sha1Fingerprint"
          ]
        },
        "delete": {
          "parameters": {
            "sha1Fingerprint": {
              "type": "string",
              "description": "Sha1 FingerPrint.",
              "location": "path",
              "required": true
            },
            "instance": {
              "type": "string",
              "description": "Cloud SQL instance ID. This does not include the project ID.",
              "location": "path",
              "required": true
            },
            "project": {
              "location": "path",
              "required": true,
              "description": "Project ID of the project that contains the instance.",
              "type": "string"
            }
          },
          "path": "v1/projects/{project}/instances/{instance}/sslCerts/{sha1Fingerprint}",
          "description": "Deletes the SSL certificate. For First Generation instances, the certificate remains valid until the instance is restarted.",
          "httpMethod": "DELETE",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "response": {
            "$ref": "Operation"
          },
          "id": "sql.sslCerts.delete",
          "flatPath": "v1/projects/{project}/instances/{instance}/sslCerts/{sha1Fingerprint}",
          "parameterOrder": [
            "project",
            "instance",
            "sha1Fingerprint"
          ]
        },
        "list": {
          "httpMethod": "GET",
          "path": "v1/projects/{project}/instances/{instance}/sslCerts",
          "parameters": {
            "instance": {
              "type": "string",
              "description": "Cloud SQL instance ID. This does not include the project ID.",
              "location": "path",
              "required": true
            },
            "project": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "Project ID of the project that contains the instance."
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "description": "Lists all of the current SSL certificates for the instance.",
          "response": {
            "$ref": "SslCertsListResponse"
          },
          "parameterOrder": [
            "project",
            "instance"
          ],
          "flatPath": "v1/projects/{project}/instances/{instance}/sslCerts",
          "id": "sql.sslCerts.list"
        }
      }
    },
    "instances": {
      "methods": {
        "get": {
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "path": "v1/projects/{project}/instances/{instance}",
          "parameterOrder": [
            "project",
            "instance"
          ],
          "httpMethod": "GET",
          "id": "sql.instances.get",
          "parameters": {
            "instance": {
              "location": "path",
              "required": true,
              "description": "Required. Database instance ID. This does not include the project ID.",
              "type": "string"
            },
            "project": {
              "description": "Required. Project ID of the project that contains the instance.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "location": {
              "type": "string",
              "description": "Optional. Region of the Cloud SQL instance.",
              "location": "query"
            }
          },
          "description": "Retrieves a resource containing information about a Cloud SQL instance.",
          "response": {
            "$ref": "DatabaseInstance"
          },
          "flatPath": "v1/projects/{project}/instances/{instance}"
        },
        "addServerCa": {
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "parameterOrder": [
            "project",
            "instance"
          ],
          "parameters": {
            "project": {
              "description": "Project ID of the project that contains the instance.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "location": {
              "type": "string",
              "location": "query",
              "description": "Optional. Region of the Cloud SQL instance."
            },
            "instance": {
              "type": "string",
              "location": "path",
              "required": true,
              "description": "Cloud SQL instance ID. This does not include the project ID."
            }
          },
          "httpMethod": "POST",
          "flatPath": "v1/projects/{project}/instances/{instance}/addServerCa",
          "id": "sql.instances.addServerCa",
          "description": "Adds a new trusted Certificate Authority (CA) version for the specified instance. Required to prepare for a certificate rotation. If a CA version was previously added but never used in a certificate rotation, this operation replaces that version. There cannot be more than one CA version waiting to be rotated in. For instances that have enabled Certificate Authority Service (CAS) based server CA, use AddServerCertificate to add a new server certificate.",
          "response": {
            "$ref": "Operation"
          },
          "path": "v1/projects/{project}/instances/{instance}/addServerCa"
        },
        "switchover": {
          "parameterOrder": [
            "project",
            "instance"
          ],
          "id": "sql.instances.switchover",
          "path": "v1/projects/{project}/instances/{instance}/switchover",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "description": "Switches over from the primary instance to the DR replica instance.",
          "flatPath": "v1/projects/{project}/instances/{instance}/switchover",
          "response": {
            "$ref": "Operation"
          },
          "httpMethod": "POST",
          "parameters": {
            "instance": {
              "type": "string",
              "location": "path",
              "required": true,
              "description": "Cloud SQL read replica instance name."
            },
            "location": {
              "description": "Optional. Region of the Cloud SQL instance.",
              "type": "string",
              "location": "query"
            },
            "project": {
              "type": "string",
              "description": "ID of the project that contains the replica.",
              "location": "path",
              "required": true
            },
            "dbTimeout": {
              "format": "google-duration",
              "location": "query",
              "description": "Optional. (MySQL and PostgreSQL only) Cloud SQL instance operations timeout, which is a sum of all database operations. Default value is 10 minutes and can be modified to a maximum value of 24 hours.",
              "type": "string"
            }
          }
        },
        "startReplica": {
          "parameterOrder": [
            "project",
            "instance"
          ],
          "parameters": {
            "instance": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "Cloud SQL read replica instance name."
            },
            "location": {
              "location": "query",
              "type": "string",
              "description": "Optional. Region of the Cloud SQL instance."
            },
            "project": {
              "location": "path",
              "required": true,
              "description": "ID of the project that contains the read replica.",
              "type": "string"
            }
          },
          "description": "Starts the replication in the read replica instance.",
          "id": "sql.instances.startReplica",
          "httpMethod": "POST",
          "path": "v1/projects/{project}/instances/{instance}/startReplica",
          "response": {
            "$ref": "Operation"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "flatPath": "v1/projects/{project}/instances/{instance}/startReplica"
        },
        "addEntraIdCertificate": {
          "id": "sql.instances.addEntraIdCertificate",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "response": {
            "$ref": "Operation"
          },
          "flatPath": "v1/projects/{project}/instances/{instance}/addEntraIdCertificate",
          "path": "v1/projects/{project}/instances/{instance}/addEntraIdCertificate",
          "parameters": {
            "instance": {
              "description": "Required. Cloud SQL instance ID. This does not include the project ID.",
              "type": "string",
              "location": "path",
              "required": true
            },
            "project": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "Required. Project ID of the project that contains the instance."
            },
            "location": {
              "location": "query",
              "type": "string",
              "description": "Optional. Region of the Cloud SQL instance."
            }
          },
          "parameterOrder": [
            "project",
            "instance"
          ],
          "description": "Adds a new Entra ID certificate for the specified instance. If an Entra ID certificate was previously added but never used in a certificate rotation, this operation replaces that version.",
          "httpMethod": "POST"
        },
        "import": {
          "description": "Imports data into a Cloud SQL instance from a SQL dump or CSV file in Cloud Storage.",
          "response": {
            "$ref": "Operation"
          },
          "id": "sql.instances.import",
          "flatPath": "v1/projects/{project}/instances/{instance}/import",
          "path": "v1/projects/{project}/instances/{instance}/import",
          "httpMethod": "POST",
          "request": {
            "$ref": "InstancesImportRequest"
          },
          "parameters": {
            "instance": {
              "location": "path",
              "required": true,
              "description": "Cloud SQL instance ID. This does not include the project ID.",
              "type": "string"
            },
            "project": {
              "description": "Project ID of the project that contains the instance.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "location": {
              "location": "query",
              "type": "string",
              "description": "Optional. Region of the Cloud SQL instance."
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameterOrder": [
            "project",
            "instance"
          ]
        },
        "pointInTimeRestore": {
          "description": "Point in time restore for an instance managed by Google Cloud Backup and Disaster Recovery.",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "httpMethod": "POST",
          "parameterOrder": [
            "parent"
          ],
          "parameters": {
            "parent": {
              "type": "string",
              "description": "Required. The parent resource where you created this instance. Format: projects/{project}",
              "location": "path",
              "required": true,
              "pattern": "^projects/[^/]+$"
            }
          },
          "request": {
            "$ref": "PointInTimeRestoreContext"
          },
          "path": "v1/{+parent}:pointInTimeRestore",
          "id": "sql.instances.pointInTimeRestore",
          "response": {
            "$ref": "Operation"
          },
          "flatPath": "v1/projects/{projectsId}:pointInTimeRestore"
        },
        "stopReplica": {
          "path": "v1/projects/{project}/instances/{instance}/stopReplica",
          "id": "sql.instances.stopReplica",
          "parameterOrder": [
            "project",
            "instance"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "response": {
            "$ref": "Operation"
          },
          "parameters": {
            "instance": {
              "description": "Cloud SQL read replica instance name.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "location": {
              "description": "Optional. Region of the Cloud SQL instance.",
              "type": "string",
              "location": "query"
            },
            "project": {
              "description": "ID of the project that contains the read replica.",
              "type": "string",
              "location": "path",
              "required": true
            }
          },
          "flatPath": "v1/projects/{project}/instances/{instance}/stopReplica",
          "httpMethod": "POST",
          "description": "Stops the replication in the read replica instance."
        },
        "ListServerCertificates": {
          "description": "Lists all versions of server certificates and certificate authorities (CAs) for the specified instance. There can be up to three sets of certs listed: the certificate that is currently in use, a future that has been added but not yet used to sign a certificate, and a certificate that has been rotated out. For instances not using Certificate Authority Service (CAS) server CA, use ListServerCas instead.",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "path": "v1/projects/{project}/instances/{instance}/listServerCertificates",
          "id": "sql.instances.ListServerCertificates",
          "flatPath": "v1/projects/{project}/instances/{instance}/listServerCertificates",
          "parameters": {
            "instance": {
              "location": "path",
              "required": true,
              "description": "Required. Cloud SQL instance ID. This does not include the project ID.",
              "type": "string"
            },
            "project": {
              "location": "path",
              "required": true,
              "description": "Required. Project ID of the project that contains the instance.",
              "type": "string"
            },
            "location": {
              "location": "query",
              "type": "string",
              "description": "Optional. Region of the Cloud SQL instance."
            }
          },
          "parameterOrder": [
            "project",
            "instance"
          ],
          "response": {
            "$ref": "InstancesListServerCertificatesResponse"
          },
          "httpMethod": "GET"
        },
        "acquireSsrsLease": {
          "path": "v1/projects/{project}/instances/{instance}/acquireSsrsLease",
          "id": "sql.instances.acquireSsrsLease",
          "request": {
            "$ref": "InstancesAcquireSsrsLeaseRequest"
          },
          "description": "Acquire a lease for the setup of SQL Server Reporting Services (SSRS).",
          "response": {
            "$ref": "SqlInstancesAcquireSsrsLeaseResponse"
          },
          "flatPath": "v1/projects/{project}/instances/{instance}/acquireSsrsLease",
          "httpMethod": "POST",
          "parameterOrder": [
            "project",
            "instance"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "parameters": {
            "instance": {
              "location": "path",
              "required": true,
              "description": "Required. Cloud SQL instance ID. This doesn't include the project ID. It's composed of lowercase letters, numbers, and hyphens, and it must start with a letter. The total length must be 98 characters or less (Example: instance-id).",
              "type": "string"
            },
            "project": {
              "location": "path",
              "required": true,
              "description": "Required. Project ID of the project that contains the instance (Example: project-id).",
              "type": "string"
            },
            "location": {
              "location": "query",
              "description": "Optional. Region of the Cloud SQL instance.",
              "type": "string"
            }
          }
        },
        "update": {
          "path": "v1/projects/{project}/instances/{instance}",
          "request": {
            "$ref": "DatabaseInstance"
          },
          "description": "Updates settings of a Cloud SQL instance. Using this operation might cause your instance to restart.",
          "parameters": {
            "location": {
              "description": "Optional. Region of the Cloud SQL instance.",
              "location": "query",
              "type": "string"
            },
            "project": {
              "type": "string",
              "location": "path",
              "required": true,
              "description": "Project ID of the project that contains the instance."
            },
            "instance": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "Cloud SQL instance ID. This does not include the project ID."
            }
          },
          "httpMethod": "PUT",
          "flatPath": "v1/projects/{project}/instances/{instance}",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "response": {
            "$ref": "Operation"
          },
          "id": "sql.instances.update",
          "parameterOrder": [
            "project",
            "instance"
          ]
        },
        "resetSslConfig": {
          "parameterOrder": [
            "project",
            "instance"
          ],
          "description": "Deletes all client certificates and generates a new server SSL certificate for the instance.",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "response": {
            "$ref": "Operation"
          },
          "flatPath": "v1/projects/{project}/instances/{instance}/resetSslConfig",
          "path": "v1/projects/{project}/instances/{instance}/resetSslConfig",
          "httpMethod": "POST",
          "id": "sql.instances.resetSslConfig",
          "parameters": {
            "instance": {
              "description": "Cloud SQL instance ID. This does not include the project ID.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "location": {
              "location": "query",
              "description": "Optional. Region of the Cloud SQL instance.",
              "type": "string"
            },
            "project": {
              "type": "string",
              "description": "Project ID of the project that contains the instance.",
              "location": "path",
              "required": true
            },
            "mode": {
              "enumDescriptions": [
                "Reset SSL mode is not specified.",
                "Refresh all TLS configs. This is the default behaviour.",
                "Refreshes the replication-related TLS configuration settings provided by the primary instance. Not applicable to on-premises replication instances."
              ],
              "location": "query",
              "description": "Optional. Reset SSL mode to use.",
              "type": "string",
              "enum": [
                "RESET_SSL_MODE_UNSPECIFIED",
                "ALL",
                "SYNC_FROM_PRIMARY"
              ]
            }
          }
        },
        "restart": {
          "parameterOrder": [
            "project",
            "instance"
          ],
          "path": "v1/projects/{project}/instances/{instance}/restart",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "id": "sql.instances.restart",
          "httpMethod": "POST",
          "response": {
            "$ref": "Operation"
          },
          "parameters": {
            "instance": {
              "description": "Cloud SQL instance ID. This does not include the project ID.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "project": {
              "location": "path",
              "required": true,
              "description": "Project ID of the project that contains the instance to be restarted.",
              "type": "string"
            },
            "location": {
              "location": "query",
              "description": "Optional. Region of the Cloud SQL instance.",
              "type": "string"
            }
          },
          "flatPath": "v1/projects/{project}/instances/{instance}/restart",
          "description": "Restarts a Cloud SQL instance."
        },
        "truncateLog": {
          "parameterOrder": [
            "project",
            "instance"
          ],
          "path": "v1/projects/{project}/instances/{instance}/truncateLog",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "description": "Truncate MySQL general and slow query log tables MySQL only.",
          "id": "sql.instances.truncateLog",
          "request": {
            "$ref": "InstancesTruncateLogRequest"
          },
          "parameters": {
            "project": {
              "location": "path",
              "required": true,
              "description": "Project ID of the Cloud SQL project.",
              "type": "string"
            },
            "location": {
              "description": "Optional. Region of the Cloud SQL instance.",
              "location": "query",
              "type": "string"
            },
            "instance": {
              "description": "Cloud SQL instance ID. This does not include the project ID.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "response": {
            "$ref": "Operation"
          },
          "flatPath": "v1/projects/{project}/instances/{instance}/truncateLog",
          "httpMethod": "POST"
        },
        "releaseSsrsLease": {
          "description": "Release a lease for the setup of SQL Server Reporting Services (SSRS).",
          "path": "v1/projects/{project}/instances/{instance}/releaseSsrsLease",
          "flatPath": "v1/projects/{project}/instances/{instance}/releaseSsrsLease",
          "parameters": {
            "instance": {
              "location": "path",
              "required": true,
              "description": "Required. The Cloud SQL instance ID. This doesn't include the project ID. The instance ID contains lowercase letters, numbers, and hyphens, and it must start with a letter. This ID can have a maximum length of 98 characters.",
              "type": "string"
            },
            "location": {
              "location": "query",
              "type": "string",
              "description": "Optional. Region of the Cloud SQL instance."
            },
            "project": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "Required. The project ID that contains the instance."
            }
          },
          "response": {
            "$ref": "SqlInstancesReleaseSsrsLeaseResponse"
          },
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "parameterOrder": [
            "project",
            "instance"
          ],
          "id": "sql.instances.releaseSsrsLease"
        },
        "demote": {
          "parameterOrder": [
            "project",
            "instance"
          ],
          "id": "sql.instances.demote",
          "response": {
            "$ref": "Operation"
          },
          "path": "v1/projects/{project}/instances/{instance}/demote",
          "flatPath": "v1/projects/{project}/instances/{instance}/demote",
          "parameters": {
            "instance": {
              "location": "path",
              "required": true,
              "description": "Required. Cloud SQL instance name.",
              "type": "string"
            },
            "project": {
              "type": "string",
              "description": "Required. ID of the project that contains the instance.",
              "location": "path",
              "required": true
            },
            "location": {
              "type": "string",
              "description": "Optional. Region of the Cloud SQL instance.",
              "location": "query"
            }
          },
          "description": "Demotes an existing standalone instance to be a Cloud SQL read replica for an external database server.",
          "request": {
            "$ref": "InstancesDemoteRequest"
          },
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ]
        },
        "export": {
          "parameters": {
            "instance": {
              "location": "path",
              "required": true,
              "description": "Cloud SQL instance ID. This does not include the project ID.",
              "type": "string"
            },
            "project": {
              "description": "Project ID of the project that contains the instance to be exported.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "location": {
              "type": "string",
              "location": "query",
              "description": "Optional. Region of the Cloud SQL instance."
            }
          },
          "request": {
            "$ref": "InstancesExportRequest"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "httpMethod": "POST",
          "flatPath": "v1/projects/{project}/instances/{instance}/export",
          "response": {
            "$ref": "Operation"
          },
          "path": "v1/projects/{project}/instances/{instance}/export",
          "description": "Exports data from a Cloud SQL instance to a Cloud Storage bucket as a SQL dump or CSV file.",
          "parameterOrder": [
            "project",
            "instance"
          ],
          "id": "sql.instances.export"
        },
        "addServerCertificate": {
          "id": "sql.instances.addServerCertificate",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "description": "Add a new trusted server certificate version for the specified instance using Certificate Authority Service (CAS) server CA. Required to prepare for a certificate rotation. If a server certificate version was previously added but never used in a certificate rotation, this operation replaces that version. There cannot be more than one certificate version waiting to be rotated in. For instances not using CAS server CA, use AddServerCa instead.",
          "path": "v1/projects/{project}/instances/{instance}/addServerCertificate",
          "parameterOrder": [
            "project",
            "instance"
          ],
          "parameters": {
            "project": {
              "location": "path",
              "required": true,
              "description": "Project ID of the project that contains the instance.",
              "type": "string"
            },
            "location": {
              "description": "Optional. Region of the Cloud SQL instance.",
              "location": "query",
              "type": "string"
            },
            "instance": {
              "description": "Cloud SQL instance ID. This does not include the project ID.",
              "type": "string",
              "location": "path",
              "required": true
            }
          },
          "response": {
            "$ref": "Operation"
          },
          "httpMethod": "POST",
          "flatPath": "v1/projects/{project}/instances/{instance}/addServerCertificate"
        },
        "delete": {
          "parameterOrder": [
            "project",
            "instance"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "path": "v1/projects/{project}/instances/{instance}",
          "response": {
            "$ref": "Operation"
          },
          "flatPath": "v1/projects/{project}/instances/{instance}",
          "id": "sql.instances.delete",
          "parameters": {
            "finalBackupExpiryTime": {
              "description": "Optional. Final Backup expiration time. Timestamp in UTC of when this resource is considered expired.",
              "type": "string",
              "location": "query",
              "format": "google-datetime"
            },
            "project": {
              "location": "path",
              "required": true,
              "description": "Project ID of the project that contains the instance to be deleted.",
              "type": "string"
            },
            "finalBackupTtlDays": {
              "format": "int64",
              "type": "string",
              "description": "Optional. Retention period of the final backup.",
              "location": "query"
            },
            "instance": {
              "description": "Cloud SQL instance ID. This does not include the project ID.",
              "type": "string",
              "location": "path",
              "required": true
            },
            "enableFinalBackup": {
              "location": "query",
              "type": "boolean",
              "description": "Flag to opt-in for final backup. By default, it is turned off."
            },
            "location": {
              "location": "query",
              "type": "string",
              "description": "Optional. Region of the Cloud SQL instance."
            },
            "finalBackupDescription": {
              "type": "string",
              "description": "Optional. The description of the final backup.",
              "location": "query"
            }
          },
          "description": "Deletes a Cloud SQL instance.",
          "httpMethod": "DELETE"
        },
        "ListEntraIdCertificates": {
          "parameters": {
            "project": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "Required. Project ID of the project that contains the instance."
            },
            "instance": {
              "location": "path",
              "required": true,
              "description": "Required. Cloud SQL instance ID. This does not include the project ID.",
              "type": "string"
            },
            "location": {
              "type": "string",
              "location": "query",
              "description": "Optional. Region of the Cloud SQL instance."
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "httpMethod": "GET",
          "path": "v1/projects/{project}/instances/{instance}/listEntraIdCertificates",
          "response": {
            "$ref": "InstancesListEntraIdCertificatesResponse"
          },
          "description": "Lists all versions of EntraID certificates for the specified instance. There can be up to three sets of certificates listed: the certificate that is currently in use, a future that has been added but not yet used to sign a certificate, and a certificate that has been rotated out.",
          "parameterOrder": [
            "project",
            "instance"
          ],
          "flatPath": "v1/projects/{project}/instances/{instance}/listEntraIdCertificates",
          "id": "sql.instances.ListEntraIdCertificates"
        },
        "RotateServerCertificate": {
          "parameters": {
            "instance": {
              "location": "path",
              "required": true,
              "description": "Required. Cloud SQL instance ID. This does not include the project ID.",
              "type": "string"
            },
            "project": {
              "location": "path",
              "required": true,
              "description": "Required. Project ID of the project that contains the instance.",
              "type": "string"
            },
            "location": {
              "type": "string",
              "location": "query",
              "description": "Optional. Region of the Cloud SQL instance."
            }
          },
          "response": {
            "$ref": "Operation"
          },
          "path": "v1/projects/{project}/instances/{instance}/rotateServerCertificate",
          "httpMethod": "POST",
          "flatPath": "v1/projects/{project}/instances/{instance}/rotateServerCertificate",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "request": {
            "$ref": "InstancesRotateServerCertificateRequest"
          },
          "description": "Rotates the server certificate version to one previously added with the addServerCertificate method. For instances not using Certificate Authority Service (CAS) server CA, use RotateServerCa instead.",
          "id": "sql.instances.RotateServerCertificate",
          "parameterOrder": [
            "project",
            "instance"
          ]
        },
        "RotateEntraIdCertificate": {
          "id": "sql.instances.RotateEntraIdCertificate",
          "response": {
            "$ref": "Operation"
          },
          "parameters": {
            "instance": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "Required. Cloud SQL instance ID. This does not include the project ID."
            },
            "project": {
              "description": "Required. Project ID of the project that contains the instance.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "location": {
              "description": "Optional. Region of the Cloud SQL instance.",
              "location": "query",
              "type": "string"
            }
          },
          "httpMethod": "POST",
          "flatPath": "v1/projects/{project}/instances/{instance}/rotateEntraIdCertificate",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "parameterOrder": [
            "project",
            "instance"
          ],
          "request": {
            "$ref": "InstancesRotateEntraIdCertificateRequest"
          },
          "description": "Rotates the server certificate version to one previously added with the addEntraIdCertificate method.",
          "path": "v1/projects/{project}/instances/{instance}/rotateEntraIdCertificate"
        },
        "restoreBackup": {
          "parameterOrder": [
            "project",
            "instance"
          ],
          "request": {
            "$ref": "InstancesRestoreBackupRequest"
          },
          "description": "Restores a backup of a Cloud SQL instance. Using this operation might cause your instance to restart.",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "flatPath": "v1/projects/{project}/instances/{instance}/restoreBackup",
          "id": "sql.instances.restoreBackup",
          "path": "v1/projects/{project}/instances/{instance}/restoreBackup",
          "response": {
            "$ref": "Operation"
          },
          "httpMethod": "POST",
          "parameters": {
            "location": {
              "description": "Optional. Region of the Cloud SQL instance.",
              "location": "query",
              "type": "string"
            },
            "instance": {
              "type": "string",
              "description": "Cloud SQL instance ID. This does not include the project ID.",
              "location": "path",
              "required": true
            },
            "project": {
              "type": "string",
              "location": "path",
              "required": true,
              "description": "Project ID of the project that contains the instance."
            }
          }
        },
        "executeSql": {
          "path": "v1/projects/{project}/instances/{instance}/executeSql",
          "parameterOrder": [
            "project",
            "instance"
          ],
          "flatPath": "v1/projects/{project}/instances/{instance}/executeSql",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "response": {
            "$ref": "SqlInstancesExecuteSqlResponse"
          },
          "description": "Execute SQL statements.",
          "httpMethod": "POST",
          "request": {
            "$ref": "ExecuteSqlPayload"
          },
          "parameters": {
            "instance": {
              "type": "string",
              "description": "Required. Database instance ID. This does not include the project ID.",
              "location": "path",
              "required": true
            },
            "project": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "Required. Project ID of the project that contains the instance."
            },
            "location": {
              "location": "query",
              "description": "Optional. Region of the Cloud SQL instance.",
              "type": "string"
            }
          },
          "id": "sql.instances.executeSql"
        },
        "promoteReplica": {
          "httpMethod": "POST",
          "description": "Promotes the read replica instance to be an independent Cloud SQL primary instance. Using this operation might cause your instance to restart.",
          "path": "v1/projects/{project}/instances/{instance}/promoteReplica",
          "parameters": {
            "project": {
              "description": "ID of the project that contains the read replica.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "instance": {
              "type": "string",
              "description": "Cloud SQL read replica instance name.",
              "location": "path",
              "required": true
            },
            "failover": {
              "type": "boolean",
              "description": "Set to true to invoke a replica failover to the DR replica. As part of replica failover, the promote operation attempts to add the original primary instance as a replica of the promoted DR replica when the original primary instance comes back online. If set to false or not specified, then the original primary instance becomes an independent Cloud SQL primary instance.",
              "location": "query"
            },
            "location": {
              "location": "query",
              "description": "Optional. Region of the Cloud SQL instance.",
              "type": "string"
            }
          },
          "id": "sql.instances.promoteReplica",
          "response": {
            "$ref": "Operation"
          },
          "flatPath": "v1/projects/{project}/instances/{instance}/promoteReplica",
          "parameterOrder": [
            "project",
            "instance"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ]
        },
        "failover": {
          "path": "v1/projects/{project}/instances/{instance}/failover",
          "httpMethod": "POST",
          "parameters": {
            "instance": {
              "description": "Cloud SQL instance ID. This does not include the project ID.",
              "type": "string",
              "location": "path",
              "required": true
            },
            "location": {
              "description": "Optional. Region of the Cloud SQL instance.",
              "type": "string",
              "location": "query"
            },
            "project": {
              "description": "ID of the project that contains the read replica.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "parameterOrder": [
            "project",
            "instance"
          ],
          "response": {
            "$ref": "Operation"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "id": "sql.instances.failover",
          "flatPath": "v1/projects/{project}/instances/{instance}/failover",
          "description": "Initiates a manual failover of a high availability (HA) primary instance to a standby instance, which becomes the primary instance. Users are then rerouted to the new primary. For more information, see the [Overview of high availability](https://cloud.google.com/sql/docs/mysql/high-availability) page in the Cloud SQL documentation. If using Legacy HA (MySQL only), this causes the instance to failover to its failover replica instance.",
          "request": {
            "$ref": "InstancesFailoverRequest"
          }
        },
        "demoteMaster": {
          "description": "Demotes the stand-alone instance to be a Cloud SQL read replica for an external database server.",
          "id": "sql.instances.demoteMaster",
          "response": {
            "$ref": "Operation"
          },
          "flatPath": "v1/projects/{project}/instances/{instance}/demoteMaster",
          "request": {
            "$ref": "InstancesDemoteMasterRequest"
          },
          "path": "v1/projects/{project}/instances/{instance}/demoteMaster",
          "parameterOrder": [
            "project",
            "instance"
          ],
          "parameters": {
            "project": {
              "description": "ID of the project that contains the instance.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "location": {
              "description": "Optional. Region of the Cloud SQL instance.",
              "location": "query",
              "type": "string"
            },
            "instance": {
              "description": "Cloud SQL instance name.",
              "type": "string",
              "location": "path",
              "required": true
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "httpMethod": "POST"
        },
        "list": {
          "path": "v1/projects/{project}/instances",
          "description": "Lists instances under a given project.",
          "id": "sql.instances.list",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "parameters": {
            "project": {
              "location": "path",
              "required": true,
              "description": "Project ID of the project for which to list Cloud SQL instances.",
              "type": "string"
            },
            "maxResults": {
              "type": "integer",
              "description": "The maximum number of instances to return. The service may return fewer than this value. If unspecified, at most 500 instances are returned. The maximum value is 1000; values above 1000 are coerced to 1000.",
              "format": "uint32",
              "location": "query"
            },
            "filter": {
              "description": "A filter expression that filters resources listed in the response. The expression is in the form of field:value. For example, 'instanceType:CLOUD_SQL_INSTANCE'. Fields can be nested as needed as per their JSON representation, such as 'settings.userLabels.auto_start:true'. Multiple filter queries are space-separated. For example. 'state:RUNNABLE instanceType:CLOUD_SQL_INSTANCE'. By default, each expression is an AND expression. However, you can include AND and OR expressions explicitly.",
              "location": "query",
              "type": "string"
            },
            "pageToken": {
              "location": "query",
              "type": "string",
              "description": "A previously-returned page token representing part of the larger set of results to view."
            },
            "location": {
              "description": "Optional. Region of the Cloud SQL instance.",
              "location": "query",
              "type": "string"
            }
          },
          "flatPath": "v1/projects/{project}/instances",
          "response": {
            "$ref": "InstancesListResponse"
          },
          "httpMethod": "GET",
          "parameterOrder": [
            "project"
          ]
        },
        "preCheckMajorVersionUpgrade": {
          "id": "sql.instances.preCheckMajorVersionUpgrade",
          "parameterOrder": [
            "project",
            "instance"
          ],
          "httpMethod": "POST",
          "parameters": {
            "project": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "Required. Project ID of the project that contains the instance."
            },
            "location": {
              "type": "string",
              "description": "Optional. Region of the Cloud SQL instance.",
              "location": "query"
            },
            "instance": {
              "type": "string",
              "location": "path",
              "required": true,
              "description": "Required. Cloud SQL instance ID. This does not include the project ID."
            }
          },
          "request": {
            "$ref": "InstancesPreCheckMajorVersionUpgradeRequest"
          },
          "path": "v1/projects/{project}/instances/{instance}/preCheckMajorVersionUpgrade",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "flatPath": "v1/projects/{project}/instances/{instance}/preCheckMajorVersionUpgrade",
          "response": {
            "$ref": "Operation"
          },
          "description": "Execute MVU Pre-checks"
        },
        "patch": {
          "flatPath": "v1/projects/{project}/instances/{instance}",
          "id": "sql.instances.patch",
          "response": {
            "$ref": "Operation"
          },
          "path": "v1/projects/{project}/instances/{instance}",
          "request": {
            "$ref": "DatabaseInstance"
          },
          "parameterOrder": [
            "project",
            "instance"
          ],
          "httpMethod": "PATCH",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "parameters": {
            "instance": {
              "type": "string",
              "description": "Cloud SQL instance ID. This does not include the project ID.",
              "location": "path",
              "required": true
            },
            "reconcilePscNetworking": {
              "description": "Optional. Set PSC config to the same value as the existing config to reconcile the PSC networking.",
              "location": "query",
              "type": "boolean"
            },
            "reconcilePscNetworkingForce": {
              "location": "query",
              "type": "boolean",
              "description": "Optional. Set PSC config to the same value as the existing config and force reconcile the PSC networking."
            },
            "location": {
              "type": "string",
              "description": "Optional. Region of the Cloud SQL instance.",
              "location": "query"
            },
            "project": {
              "type": "string",
              "location": "path",
              "required": true,
              "description": "Project ID of the project that contains the instance."
            }
          },
          "description": "Partially updates settings of a Cloud SQL instance by merging the request with the current configuration. This method supports patch semantics."
        },
        "rotateServerCa": {
          "parameters": {
            "project": {
              "type": "string",
              "description": "Project ID of the project that contains the instance.",
              "location": "path",
              "required": true
            },
            "location": {
              "description": "Optional. Region of the Cloud SQL instance.",
              "type": "string",
              "location": "query"
            },
            "instance": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "Cloud SQL instance ID. This does not include the project ID."
            }
          },
          "flatPath": "v1/projects/{project}/instances/{instance}/rotateServerCa",
          "response": {
            "$ref": "Operation"
          },
          "httpMethod": "POST",
          "request": {
            "$ref": "InstancesRotateServerCaRequest"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "parameterOrder": [
            "project",
            "instance"
          ],
          "path": "v1/projects/{project}/instances/{instance}/rotateServerCa",
          "description": "Rotates the server certificate to one signed by the Certificate Authority (CA) version previously added with the addServerCA method. For instances that have enabled Certificate Authority Service (CAS) based server CA, use RotateServerCertificate to rotate the server certificate.",
          "id": "sql.instances.rotateServerCa"
        },
        "reencrypt": {
          "id": "sql.instances.reencrypt",
          "path": "v1/projects/{project}/instances/{instance}/reencrypt",
          "parameterOrder": [
            "project",
            "instance"
          ],
          "flatPath": "v1/projects/{project}/instances/{instance}/reencrypt",
          "response": {
            "$ref": "Operation"
          },
          "description": "Reencrypt CMEK instance with latest key version.",
          "request": {
            "$ref": "InstancesReencryptRequest"
          },
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "parameters": {
            "location": {
[...]
