{
  "servicePath": "",
  "baseUrl": "https://sqladmin.googleapis.com/",
  "batchPath": "batch",
  "discoveryVersion": "v1",
  "id": "sqladmin:v1",
  "resources": {
    "operations": {
      "methods": {
        "list": {
          "description": "Lists all instance operations that have been performed on the given Cloud SQL instance in the reverse chronological order of the start time.",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "httpMethod": "GET",
          "flatPath": "v1/projects/{project}/operations",
          "parameters": {
            "instance": {
              "description": "Cloud SQL instance ID. This does not include the project ID.",
              "type": "string",
              "location": "query"
            },
            "maxResults": {
              "format": "uint32",
              "location": "query",
              "description": "Maximum number of operations per response.",
              "type": "integer"
            },
            "location": {
              "description": "Optional. Region of the Cloud SQL instance.",
              "type": "string",
              "location": "query"
            },
            "project": {
              "description": "Project ID of the project that contains the instance.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "pageToken": {
              "description": "A previously-returned page token representing part of the larger set of results to view.",
              "location": "query",
              "type": "string"
            }
          },
          "path": "v1/projects/{project}/operations",
          "parameterOrder": [
            "project"
          ],
          "response": {
            "$ref": "OperationsListResponse"
          },
          "id": "sql.operations.list"
        },
        "get": {
          "description": "Retrieves an instance operation that has been performed on an instance.",
          "httpMethod": "GET",
          "parameters": {
            "location": {
              "description": "Optional. Region of the Cloud SQL instance.",
              "type": "string",
              "location": "query"
            },
            "operation": {
              "description": "Required. Instance operation ID.",
              "type": "string",
              "location": "path",
              "required": true
            },
            "project": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "Required. Project ID of the project that contains the instance."
            }
          },
          "response": {
            "$ref": "Operation"
          },
          "parameterOrder": [
            "project",
            "operation"
          ],
          "flatPath": "v1/projects/{project}/operations/{operation}",
          "id": "sql.operations.get",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "path": "v1/projects/{project}/operations/{operation}"
        },
        "cancel": {
          "response": {
            "$ref": "Empty"
          },
          "parameters": {
            "location": {
              "description": "Optional. Region of the Cloud SQL instance.",
              "location": "query",
              "type": "string"
            },
            "operation": {
              "type": "string",
              "description": "Instance operation ID.",
              "location": "path",
              "required": true
            },
            "project": {
              "location": "path",
              "required": true,
              "description": "Project ID of the project that contains the instance.",
              "type": "string"
            }
          },
          "id": "sql.operations.cancel",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "description": "Cancels an instance operation that has been performed on an instance.",
          "path": "v1/projects/{project}/operations/{operation}/cancel",
          "httpMethod": "POST",
          "flatPath": "v1/projects/{project}/operations/{operation}/cancel",
          "parameterOrder": [
            "project",
            "operation"
          ]
        }
      }
    },
    "connect": {
      "methods": {
        "resolve": {
          "parameters": {
            "location": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "Required. The region of the instance."
            },
            "dnsName": {
              "description": "Required. Cloud SQL instance ID. This does not include the project ID.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "response": {
            "$ref": "ConnectSettings"
          },
          "parameterOrder": [
            "location",
            "dnsName"
          ],
          "httpMethod": "GET",
          "id": "sql.connect.resolve",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "description": "Retrieves connect settings about a Cloud SQL instance using the instance DNS name.",
          "path": "v1/locations/{location}/dns/{dnsName}:resolveConnectSettings",
          "flatPath": "v1/locations/{location}/dns/{dnsName}:resolveConnectSettings"
        },
        "get": {
          "flatPath": "v1/projects/{project}/instances/{instance}/connectSettings",
          "id": "sql.connect.get",
          "path": "v1/projects/{project}/instances/{instance}/connectSettings",
          "httpMethod": "GET",
          "parameterOrder": [
            "project",
            "instance"
          ],
          "response": {
            "$ref": "ConnectSettings"
          },
          "parameters": {
            "readTime": {
              "type": "string",
              "description": "Optional. Optional snapshot read timestamp to trade freshness for performance.",
              "location": "query",
              "format": "google-datetime"
            },
            "project": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "Project ID of the project that contains the instance."
            },
            "instance": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "Cloud SQL instance ID. This does not include the project ID."
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "description": "Retrieves connect settings about a Cloud SQL instance."
        },
        "generateEphemeralCert": {
          "httpMethod": "POST",
          "parameters": {
            "instance": {
              "location": "path",
              "required": true,
              "description": "Cloud SQL instance ID. This does not include the project ID.",
              "type": "string"
            },
            "project": {
              "description": "Project ID of the project that contains the instance.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "response": {
            "$ref": "GenerateEphemeralCertResponse"
          },
          "request": {
            "$ref": "GenerateEphemeralCertRequest"
          },
          "id": "sql.connect.generateEphemeral",
          "path": "v1/projects/{project}/instances/{instance}:generateEphemeralCert",
          "description": "Generates a short-lived X509 certificate containing the provided public key and signed by a private key specific to the target instance. Users may use the certificate to authenticate as themselves when connecting to the database.",
          "flatPath": "v1/projects/{project}/instances/{instance}:generateEphemeralCert",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "parameterOrder": [
            "project",
            "instance"
          ]
        }
      }
    },
    "sslCerts": {
      "methods": {
        "delete": {
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "path": "v1/projects/{project}/instances/{instance}/sslCerts/{sha1Fingerprint}",
          "parameterOrder": [
            "project",
            "instance",
            "sha1Fingerprint"
          ],
          "response": {
            "$ref": "Operation"
          },
          "description": "Deletes the SSL certificate. For First Generation instances, the certificate remains valid until the instance is restarted.",
          "httpMethod": "DELETE",
          "id": "sql.sslCerts.delete",
          "flatPath": "v1/projects/{project}/instances/{instance}/sslCerts/{sha1Fingerprint}",
          "parameters": {
            "project": {
              "description": "Project ID of the project that contains the instance.",
              "type": "string",
              "location": "path",
              "required": true
            },
            "sha1Fingerprint": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "Sha1 FingerPrint."
            },
            "instance": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "Cloud SQL instance ID. This does not include the project ID."
            }
          }
        },
        "get": {
          "parameterOrder": [
            "project",
            "instance",
            "sha1Fingerprint"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "path": "v1/projects/{project}/instances/{instance}/sslCerts/{sha1Fingerprint}",
          "description": "Retrieves a particular SSL certificate. Does not include the private key (required for usage). The private key must be saved from the response to initial creation.",
          "flatPath": "v1/projects/{project}/instances/{instance}/sslCerts/{sha1Fingerprint}",
          "httpMethod": "GET",
          "response": {
            "$ref": "SslCert"
          },
          "id": "sql.sslCerts.get",
          "parameters": {
            "sha1Fingerprint": {
              "description": "Sha1 FingerPrint.",
              "type": "string",
              "location": "path",
              "required": true
            },
            "instance": {
              "type": "string",
              "description": "Cloud SQL instance ID. This does not include the project ID.",
              "location": "path",
              "required": true
            },
            "project": {
              "description": "Project ID of the project that contains the instance.",
              "type": "string",
              "location": "path",
              "required": true
            }
          }
        },
        "createEphemeral": {
          "description": "Generates a short-lived X509 certificate containing the provided public key and signed by a private key specific to the target instance. Users may use the certificate to authenticate as themselves when connecting to the database.",
          "response": {
            "$ref": "SslCert"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "parameters": {
            "location": {
              "type": "string",
              "location": "query",
              "description": "Optional. Region of the Cloud SQL instance."
            },
            "instance": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "Cloud SQL instance ID. This does not include the project ID."
            },
            "project": {
              "type": "string",
              "location": "path",
              "required": true,
              "description": "Project ID of the Cloud SQL project."
            }
          },
          "id": "sql.sslCerts.createEphemeral",
          "httpMethod": "POST",
          "request": {
            "$ref": "SslCertsCreateEphemeralRequest"
          },
          "parameterOrder": [
            "project",
            "instance"
          ],
          "flatPath": "v1/projects/{project}/instances/{instance}/createEphemeral",
          "path": "v1/projects/{project}/instances/{instance}/createEphemeral"
        },
        "list": {
          "description": "Lists all of the current SSL certificates for the instance.",
          "parameterOrder": [
            "project",
            "instance"
          ],
          "parameters": {
            "project": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "Project ID of the project that contains the instance."
            },
            "instance": {
              "type": "string",
              "location": "path",
              "required": true,
              "description": "Cloud SQL instance ID. This does not include the project ID."
            }
          },
          "path": "v1/projects/{project}/instances/{instance}/sslCerts",
          "httpMethod": "GET",
          "flatPath": "v1/projects/{project}/instances/{instance}/sslCerts",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "id": "sql.sslCerts.list",
          "response": {
            "$ref": "SslCertsListResponse"
          }
        },
        "insert": {
          "response": {
            "$ref": "SslCertsInsertResponse"
          },
          "description": "Creates an SSL certificate and returns it along with the private key and server certificate authority. The new certificate will not be usable until the instance is restarted.",
          "path": "v1/projects/{project}/instances/{instance}/sslCerts",
          "request": {
            "$ref": "SslCertsInsertRequest"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "parameterOrder": [
            "project",
            "instance"
          ],
          "flatPath": "v1/projects/{project}/instances/{instance}/sslCerts",
          "id": "sql.sslCerts.insert",
          "parameters": {
            "project": {
              "description": "Project ID of the project that contains the instance.",
              "type": "string",
              "location": "path",
              "required": true
            },
            "instance": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "Cloud SQL instance ID. This does not include the project ID."
            }
          },
          "httpMethod": "POST"
        }
      }
    },
    "blueGreenDeployments": {
      "methods": {
        "list": {
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "parameters": {
            "pageToken": {
              "type": "string",
              "description": "Optional. A page token, received from a previous `ListBlueGreenDeployments` call. Provide this to retrieve the subsequent page.",
              "location": "query"
            },
            "parent": {
              "description": "Required. The parent resource whose blue-green deployments are to be listed. Format: projects/{project}/locations/{location}",
              "location": "path",
              "required": true,
              "pattern": "^projects/[^/]+/locations/[^/]+$",
              "type": "string"
            },
            "orderBy": {
              "location": "query",
              "type": "string",
              "description": "Optional. A comma-separated list of fields to order the results by."
            },
            "pageSize": {
              "type": "integer",
              "format": "int32",
              "location": "query",
              "description": "Optional. The maximum number of deployments to return. The service may return fewer deployments than this value. If unspecified, at most 500 deployments are returned. The maximum value is 1000; values above 1000 are treated as 1000."
            },
            "filter": {
              "type": "string",
              "description": "Optional. A filter expression that filters the results.",
              "location": "query"
            }
          },
          "parameterOrder": [
            "parent"
          ],
          "description": "Lists blue-green deployments under a given project.",
          "httpMethod": "GET",
          "response": {
            "$ref": "ListBlueGreenDeploymentsResponse"
          },
          "path": "v1/{+parent}/blueGreenDeployments",
          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/blueGreenDeployments",
          "id": "sql.blueGreenDeployments.list"
        },
        "delete": {
          "response": {
            "$ref": "Operation"
          },
          "id": "sql.blueGreenDeployments.delete",
          "parameters": {
            "deleteOldSource": {
              "description": "Optional. If set to true, and the switchover is complete, this deletes the old source instance along with the deployment.",
              "type": "boolean",
              "location": "query"
            },
            "name": {
              "pattern": "^projects/[^/]+/locations/[^/]+/blueGreenDeployments/[^/]+$",
              "location": "path",
              "required": true,
              "description": "Required. The name of the blue-green deployment to delete. Format: projects/{project}/locations/{location}/blueGreenDeployments/{blue_green_deployment}",
              "type": "string"
            }
          },
          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/blueGreenDeployments/{blueGreenDeploymentsId}",
          "httpMethod": "DELETE",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "description": "Deletes a blue-green deployment.",
          "path": "v1/{+name}",
          "parameterOrder": [
            "name"
          ]
        },
        "switchover": {
          "response": {
            "$ref": "Operation"
          },
          "description": "Switches over to green instance for a blue-green deployment.",
          "httpMethod": "POST",
          "parameters": {
            "name": {
              "pattern": "^projects/[^/]+/locations/[^/]+/blueGreenDeployments/[^/]+$",
              "type": "string",
              "location": "path",
              "required": true,
              "description": "Required. The name of the blue-green deployment to switch over. Format: projects/{project}/locations/{location}/blueGreenDeployments/{blue_green_deployment}"
            }
          },
          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/blueGreenDeployments/{blueGreenDeploymentsId}:switchover",
          "path": "v1/{+name}:switchover",
          "id": "sql.blueGreenDeployments.switchover",
          "parameterOrder": [
            "name"
          ],
          "request": {
            "$ref": "SwitchoverBlueGreenDeploymentRequest"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ]
        },
        "create": {
          "parameterOrder": [
            "parent"
          ],
          "id": "sql.blueGreenDeployments.create",
          "description": "Creates a blue-green deployment under a given project and location.",
          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/blueGreenDeployments",
          "request": {
            "$ref": "BlueGreenDeployment"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "path": "v1/{+parent}/blueGreenDeployments",
          "response": {
            "$ref": "Operation"
          },
          "parameters": {
            "parent": {
              "pattern": "^projects/[^/]+/locations/[^/]+$",
              "description": "Required. The parent resource where this blue-green deployment will be created. Format: projects/{project}/locations/{location}",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "blueGreenDeploymentId": {
              "description": "Required. The ID to use for the blue-green deployment, which will become the final component of the deployment's resource name. The ID must be unique within the given project and location and between 2-63 characters.",
              "type": "string",
              "location": "query"
            }
          },
          "httpMethod": "POST"
        },
        "get": {
          "parameterOrder": [
            "name"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "response": {
            "$ref": "BlueGreenDeployment"
          },
          "description": "Retrieves a blue-green deployment resource under a given project and location.",
          "httpMethod": "GET",
          "id": "sql.blueGreenDeployments.get",
          "path": "v1/{+name}",
          "parameters": {
            "name": {
              "description": "Required. The name of the blue-green deployment to retrieve. Format: projects/{project}/locations/{location}/blueGreenDeployments/{blue_green_deployment}",
              "pattern": "^projects/[^/]+/locations/[^/]+/blueGreenDeployments/[^/]+$",
              "type": "string",
              "location": "path",
              "required": true
            },
            "view": {
              "enumDescriptions": [
                "Blue-green deployment view enumeration. This allows the caller to specify what view they query. If unspecified (BLUE_GREEN_DEPLOYMENT_VIEW_UNSPECIFIED), the behavior is the same as BASIC.",
                "Includes basic metadata about the blue-green deployment. `BASIC` is the default view.",
                "Includes basic metadata and configuration differences between source and target instances (`database_version`, `tier`, `edition`, `availability_type`, `data_disk_size_gb`, and `data_disk_type`)."
              ],
              "type": "string",
              "enum": [
                "BLUE_GREEN_DEPLOYMENT_VIEW_UNSPECIFIED",
                "BASIC",
                "DETAILED"
              ],
              "location": "query",
              "description": "Optional. Specifies whether to return the basic or detailed view of the resource in the response."
            }
          },
          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/blueGreenDeployments/{blueGreenDeploymentsId}"
        }
      }
    },
    "backupRuns": {
      "methods": {
        "delete": {
          "id": "sql.backupRuns.delete",
          "flatPath": "v1/projects/{project}/instances/{instance}/backupRuns/{id}",
          "description": "Deletes the backup taken by a backup run.",
          "parameterOrder": [
            "project",
            "instance",
            "id"
          ],
          "parameters": {
            "id": {
              "format": "int64",
              "description": "The ID of the backup run to delete. To find a backup run ID, use the [list](https://cloud.google.com/sql/docs/mysql/admin-api/rest/v1/backupRuns/list) method.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "project": {
              "type": "string",
              "location": "path",
              "required": true,
              "description": "Project ID of the project that contains the instance."
            },
            "instance": {
              "location": "path",
              "required": true,
              "description": "Cloud SQL instance ID. This does not include the project ID.",
              "type": "string"
            }
          },
          "httpMethod": "DELETE",
          "path": "v1/projects/{project}/instances/{instance}/backupRuns/{id}",
          "response": {
            "$ref": "Operation"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ]
        },
        "list": {
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "response": {
            "$ref": "BackupRunsListResponse"
          },
          "id": "sql.backupRuns.list",
          "description": "Lists all backup runs associated with the project or a given instance and configuration in the reverse chronological order of the backup initiation time.",
          "flatPath": "v1/projects/{project}/instances/{instance}/backupRuns",
          "path": "v1/projects/{project}/instances/{instance}/backupRuns",
          "parameters": {
            "pageToken": {
              "type": "string",
              "location": "query",
              "description": "A previously-returned page token representing part of the larger set of results to view."
            },
            "instance": {
              "type": "string",
              "description": "Cloud SQL instance ID, or \"-\" for all instances. This does not include the project ID.",
              "location": "path",
              "required": true
            },
            "maxResults": {
              "location": "query",
              "format": "int32",
              "description": "Maximum number of backup runs per response.",
              "type": "integer"
            },
            "project": {
              "type": "string",
              "location": "path",
              "required": true,
              "description": "Project ID of the project that contains the instance."
            }
          },
          "parameterOrder": [
            "project",
            "instance"
          ],
          "httpMethod": "GET"
        },
        "insert": {
          "path": "v1/projects/{project}/instances/{instance}/backupRuns",
          "flatPath": "v1/projects/{project}/instances/{instance}/backupRuns",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "parameterOrder": [
            "project",
            "instance"
          ],
          "id": "sql.backupRuns.insert",
          "request": {
            "$ref": "BackupRun"
          },
          "response": {
            "$ref": "Operation"
          },
          "parameters": {
            "instance": {
              "description": "Cloud SQL instance ID. This does not include the project ID.",
              "type": "string",
              "location": "path",
              "required": true
            },
            "project": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "Project ID of the project that contains the instance."
            }
          },
          "description": "Creates a new backup run on demand.",
          "httpMethod": "POST"
        },
        "get": {
          "response": {
            "$ref": "BackupRun"
          },
          "description": "Retrieves a resource containing information about a backup run.",
          "parameterOrder": [
            "project",
            "instance",
            "id"
          ],
          "id": "sql.backupRuns.get",
          "path": "v1/projects/{project}/instances/{instance}/backupRuns/{id}",
          "flatPath": "v1/projects/{project}/instances/{instance}/backupRuns/{id}",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "parameters": {
            "id": {
              "description": "The ID of this backup run.",
              "format": "int64",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "instance": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "Cloud SQL instance ID. This does not include the project ID."
            },
            "project": {
              "description": "Project ID of the project that contains the instance.",
              "type": "string",
              "location": "path",
              "required": true
            }
          },
          "httpMethod": "GET"
        }
      }
    },
    "databases": {
      "methods": {
        "get": {
          "response": {
            "$ref": "Database"
          },
          "description": "Retrieves a resource containing information about a database inside a Cloud SQL instance.",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "id": "sql.databases.get",
          "httpMethod": "GET",
          "parameters": {
            "location": {
              "description": "Optional. Region of the Cloud SQL instance.",
              "type": "string",
              "location": "query"
            },
            "instance": {
              "location": "path",
              "required": true,
              "description": "Database instance ID. This does not include the project ID.",
              "type": "string"
            },
            "project": {
              "type": "string",
              "description": "Project ID of the project that contains the instance.",
              "location": "path",
              "required": true
            },
            "database": {
              "location": "path",
              "required": true,
              "description": "Name of the database in the instance.",
              "type": "string"
            }
          },
          "flatPath": "v1/projects/{project}/instances/{instance}/databases/{database}",
          "path": "v1/projects/{project}/instances/{instance}/databases/{database}",
          "parameterOrder": [
            "project",
            "instance",
            "database"
          ]
        },
        "insert": {
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "description": "Inserts a resource containing information about a database inside a Cloud SQL instance. **Note:** You can't modify the default character set and collation.",
          "id": "sql.databases.insert",
          "parameterOrder": [
            "project",
            "instance"
          ],
          "response": {
            "$ref": "Operation"
          },
          "path": "v1/projects/{project}/instances/{instance}/databases",
          "parameters": {
            "location": {
              "description": "Optional. Region of the Cloud SQL instance.",
              "location": "query",
              "type": "string"
            },
            "instance": {
              "description": "Database instance ID. This does not include the project ID.",
              "type": "string",
              "location": "path",
              "required": true
            },
            "project": {
              "description": "Project ID of the project that contains the instance.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "request": {
            "$ref": "Database"
          },
          "flatPath": "v1/projects/{project}/instances/{instance}/databases",
          "httpMethod": "POST"
        },
        "update": {
          "request": {
            "$ref": "Database"
          },
          "description": "Updates a resource containing information about a database inside a Cloud SQL instance.",
          "httpMethod": "PUT",
          "flatPath": "v1/projects/{project}/instances/{instance}/databases/{database}",
          "parameters": {
            "project": {
              "description": "Project ID of the project that contains the instance.",
              "type": "string",
              "location": "path",
              "required": true
            },
            "instance": {
              "description": "Database instance ID. This does not include the project ID.",
              "type": "string",
              "location": "path",
              "required": true
            },
            "location": {
              "type": "string",
              "location": "query",
              "description": "Optional. Region of the Cloud SQL instance."
            },
            "database": {
              "type": "string",
              "location": "path",
              "required": true,
              "description": "Name of the database to be updated in the instance."
            }
          },
          "parameterOrder": [
            "project",
            "instance",
            "database"
          ],
          "path": "v1/projects/{project}/instances/{instance}/databases/{database}",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "response": {
            "$ref": "Operation"
          },
          "id": "sql.databases.update"
        },
        "list": {
          "httpMethod": "GET",
          "flatPath": "v1/projects/{project}/instances/{instance}/databases",
          "parameters": {
            "location": {
              "type": "string",
              "description": "Optional. Region of the Cloud SQL instance.",
              "location": "query"
            },
            "project": {
              "type": "string",
              "location": "path",
              "required": true,
              "description": "Project ID of the project that contains the instance."
            },
            "instance": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "Cloud SQL instance ID. This does not include the project ID."
            }
          },
          "path": "v1/projects/{project}/instances/{instance}/databases",
          "parameterOrder": [
            "project",
            "instance"
          ],
          "id": "sql.databases.list",
          "response": {
            "$ref": "DatabasesListResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "description": "Lists databases in the specified Cloud SQL instance."
        },
        "patch": {
          "httpMethod": "PATCH",
          "path": "v1/projects/{project}/instances/{instance}/databases/{database}",
          "id": "sql.databases.patch",
          "parameters": {
            "project": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "Project ID of the project that contains the instance."
            },
            "database": {
              "description": "Name of the database to be updated in the instance.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "instance": {
              "type": "string",
              "description": "Database instance ID. This does not include the project ID.",
              "location": "path",
              "required": true
            },
            "location": {
              "description": "Optional. Region of the Cloud SQL instance.",
              "type": "string",
              "location": "query"
            }
          },
          "response": {
            "$ref": "Operation"
          },
          "parameterOrder": [
            "project",
            "instance",
            "database"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "description": "Partially updates a resource containing information about a database inside a Cloud SQL instance. This method supports patch semantics.",
          "request": {
            "$ref": "Database"
          },
          "flatPath": "v1/projects/{project}/instances/{instance}/databases/{database}"
        },
        "delete": {
          "flatPath": "v1/projects/{project}/instances/{instance}/databases/{database}",
          "parameters": {
            "instance": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "Database instance ID. This does not include the project ID."
            },
            "location": {
              "type": "string",
              "description": "Optional. Region of the Cloud SQL instance.",
              "location": "query"
            },
            "project": {
              "type": "string",
              "location": "path",
              "required": true,
              "description": "Project ID of the project that contains the instance."
            },
            "database": {
              "location": "path",
              "required": true,
              "description": "Name of the database to be deleted in the instance.",
              "type": "string"
            }
          },
          "httpMethod": "DELETE",
          "description": "Deletes a database from a Cloud SQL instance.",
          "response": {
            "$ref": "Operation"
          },
          "path": "v1/projects/{project}/instances/{instance}/databases/{database}",
          "parameterOrder": [
            "project",
            "instance",
            "database"
          ],
          "id": "sql.databases.delete",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ]
        }
      }
    },
    "workloadCaptures": {
      "methods": {
        "list": {
          "parameters": {
            "project": {
              "type": "string",
              "description": "Required. Project ID of the project that contains the instance.",
              "location": "path",
              "required": true
            },
            "instance": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "Required. Cloud SQL instance ID. This does not include the project ID."
            }
          },
          "description": "Lists all captured workloads associated with the instance.",
          "httpMethod": "GET",
          "flatPath": "v1/projects/{project}/instances/{instance}/workloadCaptures",
          "response": {
            "$ref": "WorkloadCapturesListResponse"
          },
          "path": "v1/projects/{project}/instances/{instance}/workloadCaptures",
          "id": "sql.workloadCaptures.list",
          "parameterOrder": [
            "project",
            "instance"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ]
        },
        "start": {
          "flatPath": "v1/projects/{project}/instances/{instance}/workloadCaptures:start",
          "request": {
            "$ref": "SqlWorkloadCapturesStartRequest"
          },
          "parameterOrder": [
            "project",
            "instance"
          ],
          "description": "Starts capturing the SQL queries, transactions, and other operations executed on the primary instance. This traffic is securely stored and forms a \"captured workload\". This workload can be replayed later on a different instance to safely test performance impacts, database upgrades, configuration changes etc. before applying them to production.",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "response": {
            "$ref": "Operation"
          },
          "httpMethod": "POST",
          "parameters": {
            "project": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "Required. Project ID of the project that contains the instance."
            },
            "instance": {
              "description": "Required. Cloud SQL instance ID. This does not include the project ID.",
              "type": "string",
              "location": "path",
              "required": true
            }
          },
          "path": "v1/projects/{project}/instances/{instance}/workloadCaptures:start",
          "id": "sql.workloadCaptures.start"
        },
        "startReplay": {
          "parameterOrder": [
            "project",
            "instance",
            "workloadId"
          ],
          "path": "v1/projects/{project}/instances/{instance}/workloadCaptures/{workloadId}:startReplay",
          "response": {
            "$ref": "Operation"
          },
          "request": {
            "$ref": "SqlWorkloadCapturesStartReplayRequest"
          },
          "description": "Starts executing a captured workload on a separate Cloud SQL instance provisioned for workload replay. This target instance simulates the production environment without affecting the primary instance.",
          "flatPath": "v1/projects/{project}/instances/{instance}/workloadCaptures/{workloadId}:startReplay",
          "id": "sql.workloadCaptures.startReplay",
          "httpMethod": "POST",
          "parameters": {
            "project": {
              "description": "Required. Project ID of the project that contains the instance.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "instance": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "Required. Cloud SQL instance ID. This does not include the project ID."
            },
            "workloadId": {
              "location": "path",
              "required": true,
              "description": "Required. The ID of the workload to replay.",
              "type": "string"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ]
        },
        "stopReplay": {
          "description": "Stops executing a captured workload on the separate Cloud SQL instance.",
          "flatPath": "v1/projects/{project}/instances/{instance}/workloadCaptures/{workloadId}:stopReplay",
          "path": "v1/projects/{project}/instances/{instance}/workloadCaptures/{workloadId}:stopReplay",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "response": {
            "$ref": "Operation"
          },
          "httpMethod": "POST",
          "parameters": {
            "project": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "Required. Project ID of the project that contains the instance."
            },
            "workloadId": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "Required. The ID of the workload to replay."
            },
            "instance": {
              "type": "string",
              "location": "path",
              "required": true,
              "description": "Required. Cloud SQL instance ID. This does not include the project ID."
            }
          },
          "request": {
            "$ref": "SqlWorkloadCapturesStopReplayRequest"
          },
          "parameterOrder": [
            "project",
            "instance",
            "workloadId"
          ],
          "id": "sql.workloadCaptures.stopReplay"
        },
        "stop": {
          "description": "Stops capturing the query traffic and related operations executed on the primary instance.",
          "request": {
            "$ref": "SqlWorkloadCapturesStopRequest"
          },
          "response": {
            "$ref": "Operation"
          },
          "id": "sql.workloadCaptures.stop",
          "parameterOrder": [
            "project",
            "instance"
          ],
          "parameters": {
            "project": {
              "description": "Required. Project ID of the project that contains the instance.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "instance": {
              "location": "path",
              "required": true,
              "description": "Required. Cloud SQL instance ID. This does not include the project ID.",
              "type": "string"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "path": "v1/projects/{project}/instances/{instance}/workloadCaptures:stop",
          "flatPath": "v1/projects/{project}/instances/{instance}/workloadCaptures:stop",
          "httpMethod": "POST"
        }
      }
    },
    "users": {
      "methods": {
        "get": {
          "parameterOrder": [
            "project",
            "instance",
            "name"
          ],
          "path": "v1/projects/{project}/instances/{instance}/users/{name}",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "id": "sql.users.get",
          "parameters": {
            "name": {
              "type": "string",
              "description": "User of the instance.",
              "location": "path",
              "required": true
            },
            "instance": {
              "type": "string",
              "description": "Database instance ID. This does not include the project ID.",
              "location": "path",
              "required": true
            },
            "host": {
              "description": "Host of a user of the instance.",
              "location": "query",
              "type": "string"
            },
            "project": {
              "description": "Project ID of the project that contains the instance.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "location": {
              "description": "Optional. Region of the Cloud SQL instance.",
              "type": "string",
              "location": "query"
            }
          },
          "httpMethod": "GET",
          "response": {
            "$ref": "User"
          },
          "description": "Retrieves a resource containing information about a user.",
          "flatPath": "v1/projects/{project}/instances/{instance}/users/{name}"
        },
        "delete": {
          "path": "v1/projects/{project}/instances/{instance}/users",
          "parameterOrder": [
            "project",
            "instance"
          ],
          "description": "Deletes a user from a Cloud SQL instance.",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "flatPath": "v1/projects/{project}/instances/{instance}/users",
          "parameters": {
            "host": {
              "type": "string",
              "location": "query",
              "description": "Host of the user in the instance."
            },
            "location": {
              "type": "string",
              "location": "query",
              "description": "Optional. Region of the Cloud SQL instance."
            },
            "name": {
              "type": "string",
              "location": "query",
              "description": "Name of the user in the instance."
            },
            "project": {
              "description": "Project ID of the project that contains the instance.",
              "type": "string",
              "location": "path",
              "required": true
            },
            "instance": {
              "type": "string",
              "description": "Database instance ID. This does not include the project ID.",
              "location": "path",
              "required": true
            }
          },
          "id": "sql.users.delete",
          "httpMethod": "DELETE",
          "response": {
            "$ref": "Operation"
          }
        },
        "list": {
          "flatPath": "v1/projects/{project}/instances/{instance}/users",
          "description": "Lists users in the specified Cloud SQL instance.",
          "parameterOrder": [
            "project",
            "instance"
          ],
          "id": "sql.users.list",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "path": "v1/projects/{project}/instances/{instance}/users",
          "response": {
            "$ref": "UsersListResponse"
          },
          "parameters": {
            "instance": {
              "location": "path",
              "required": true,
              "description": "Database instance ID. This does not include the project ID.",
              "type": "string"
            },
            "project": {
              "description": "Project ID of the project that contains the instance.",
              "type": "string",
              "location": "path",
              "required": true
            },
            "location": {
              "description": "Optional. Region of the Cloud SQL instance.",
              "location": "query",
              "type": "string"
            }
          },
          "httpMethod": "GET"
        },
        "insert": {
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "id": "sql.users.insert",
          "description": "Creates a new user in a Cloud SQL instance.",
          "parameterOrder": [
            "project",
            "instance"
          ],
          "flatPath": "v1/projects/{project}/instances/{instance}/users",
          "request": {
            "$ref": "User"
          },
          "path": "v1/projects/{project}/instances/{instance}/users",
          "response": {
            "$ref": "Operation"
          },
          "parameters": {
            "instance": {
              "location": "path",
              "required": true,
              "description": "Database instance ID. This does not include the project ID.",
              "type": "string"
            },
            "project": {
              "type": "string",
              "description": "Project ID of the project that contains the instance.",
              "location": "path",
              "required": true
            },
            "location": {
              "location": "query",
              "description": "Optional. Region of the Cloud SQL instance.",
              "type": "string"
            }
          },
          "httpMethod": "POST"
        },
        "update": {
          "id": "sql.users.update",
          "path": "v1/projects/{project}/instances/{instance}/users",
          "parameterOrder": [
            "project",
            "instance"
          ],
          "description": "Updates an existing user in a Cloud SQL instance.",
          "response": {
            "$ref": "Operation"
          },
          "httpMethod": "PUT",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "parameters": {
            "serverRoles": {
              "repeated": true,
              "type": "string",
              "description": "Optional. The server roles to grant to the SQL Server login. Existing server roles will not be revoked if revoke_existing_roles is false. body.server_roles will be ignored for update request.",
              "location": "query"
            },
            "project": {
              "description": "Project ID of the project that contains the instance.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "location": {
              "description": "Optional. Region of the Cloud SQL instance.",
              "location": "query",
              "type": "string"
            },
            "revokeExistingServerRoles": {
              "type": "boolean",
              "description": "Optional. Specifies whether to revoke existing roles that are not present in the `server_roles` field. If `false` or unset, the server roles specified in `server_roles` are added to the user's existing server roles.",
              "location": "query"
            },
            "host": {
              "type": "string",
              "description": "Optional. Host of the user in the instance.",
              "location": "query"
            },
            "revokeExistingRoles": {
              "type": "boolean",
              "location": "query",
              "description": "Optional. Specifies whether to revoke existing roles that are not present in the `database_roles` field. If `false` or unset, the database roles specified in `database_roles` are added to the user's existing roles."
            },
            "name": {
              "location": "query",
              "description": "Name of the user in the instance.",
              "type": "string"
            },
            "instance": {
              "description": "Database instance ID. This does not include the project ID.",
              "type": "string",
              "location": "path",
              "required": true
            },
            "databaseRoles": {
              "location": "query",
              "repeated": true,
              "description": "Optional. List of database roles to grant to the user. body.database_roles will be ignored for update request.",
              "type": "string"
            }
          },
          "request": {
            "$ref": "User"
          },
          "flatPath": "v1/projects/{project}/instances/{instance}/users"
        }
      }
    },
    "flags": {
      "methods": {
        "list": {
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "flatPath": "v1/flags",
          "id": "sql.flags.list",
          "httpMethod": "GET",
          "path": "v1/flags",
          "parameters": {
            "flagScope": {
              "type": "string",
              "enum": [
                "SQL_FLAG_SCOPE_UNSPECIFIED",
                "SQL_FLAG_SCOPE_DATABASE",
                "SQL_FLAG_SCOPE_CONNECTION_POOL"
              ],
              "enumDescriptions": [
                "Assume database flags if unspecified",
                "database flags",
                "connection pool configuration flags"
              ],
              "location": "query",
              "description": "Optional. Specify the scope of flags to be returned by SqlFlagsListService. Return list of database flags if unspecified."
            },
            "databaseVersion": {
              "description": "Database type and version you want to retrieve flags for. By default, this method returns flags for all database types and versions.",
              "location": "query",
              "type": "string"
            }
          },
          "response": {
            "$ref": "FlagsListResponse"
          },
          "parameterOrder": [],
          "description": "Lists all available database flags for Cloud SQL instances."
        }
      }
    },
    "tiers": {
      "methods": {
        "list": {
          "flatPath": "v1/projects/{project}/tiers",
          "parameterOrder": [
            "project"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "path": "v1/projects/{project}/tiers",
          "id": "sql.tiers.list",
          "response": {
            "$ref": "TiersListResponse"
          },
          "parameters": {
            "project": {
              "location": "path",
              "required": true,
              "description": "Project ID of the project for which to list tiers.",
              "type": "string"
            }
          },
          "description": "Lists all available machine types (tiers) for Cloud SQL, for example, `db-custom-1-3840`. For more information, see https://cloud.google.com/sql/pricing.",
          "httpMethod": "GET"
        }
      }
    },
    "projects": {
      "resources": {
        "instances": {
          "methods": {
            "getLatestRecoveryTime": {
              "id": "sql.projects.instances.getLatestRecoveryTime",
              "path": "v1/projects/{project}/instances/{instance}/getLatestRecoveryTime",
              "flatPath": "v1/projects/{project}/instances/{instance}/getLatestRecoveryTime",
              "description": "Get Latest Recovery Time for a given instance.",
              "parameters": {
                "project": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "Project ID of the project that contains the instance."
                },
                "instance": {
                  "location": "path",
                  "required": true,
                  "description": "Cloud SQL instance ID. This does not include the project ID.",
                  "type": "string"
                },
                "sourceInstanceDeletionTime": {
                  "description": "The timestamp used to identify the time when the source instance is deleted. If this instance is deleted, then you must set the timestamp.",
                  "format": "google-datetime",
                  "type": "string",
                  "location": "query"
                },
                "location": {
                  "description": "Optional. Region of the Cloud SQL instance.",
                  "location": "query",
                  "type": "string"
                }
              },
              "httpMethod": "GET",
              "response": {
                "$ref": "SqlInstancesGetLatestRecoveryTimeResponse"
              },
              "parameterOrder": [
                "project",
                "instance"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/sqlservice.admin"
              ]
            },
            "rescheduleMaintenance": {
              "response": {
                "$ref": "Operation"
              },
              "parameterOrder": [
                "project",
                "instance"
              ],
              "flatPath": "v1/projects/{project}/instances/{instance}/rescheduleMaintenance",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/sqlservice.admin"
              ],
              "request": {
                "$ref": "SqlInstancesRescheduleMaintenanceRequestBody"
              },
              "path": "v1/projects/{project}/instances/{instance}/rescheduleMaintenance",
              "httpMethod": "POST",
              "id": "sql.projects.instances.rescheduleMaintenance",
              "parameters": {
                "project": {
                  "description": "ID of the project that contains the instance.",
                  "type": "string",
                  "location": "path",
                  "required": true
                },
                "instance": {
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "description": "Cloud SQL instance ID. This does not include the project ID."
                },
                "location": {
                  "type": "string",
                  "location": "query",
                  "description": "Optional. Region of the Cloud SQL instance."
                }
              },
              "description": "Reschedules the maintenance on the given instance."
            },
            "getDiskShrinkConfig": {
              "response": {
                "$ref": "SqlInstancesGetDiskShrinkConfigResponse"
              },
              "description": "Get Disk Shrink Config for a given instance.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/sqlservice.admin"
              ],
              "parameterOrder": [
                "project",
                "instance"
              ],
              "flatPath": "v1/projects/{project}/instances/{instance}/getDiskShrinkConfig",
              "id": "sql.projects.instances.getDiskShrinkConfig",
              "httpMethod": "GET",
              "parameters": {
                "instance": {
                  "type": "string",
                  "description": "Cloud SQL instance ID. This does not include the project ID.",
                  "location": "path",
                  "required": true
                },
                "location": {
                  "description": "Optional. Region of the Cloud SQL instance.",
                  "location": "query",
                  "type": "string"
                },
                "project": {
                  "description": "Project ID of the project that contains the instance.",
                  "type": "string",
                  "location": "path",
                  "required": true
                }
              },
              "path": "v1/projects/{project}/instances/{instance}/getDiskShrinkConfig"
            },
            "startExternalSync": {
              "response": {
                "$ref": "Operation"
              },
              "path": "v1/projects/{project}/instances/{instance}/startExternalSync",
              "parameterOrder": [
                "project",
                "instance"
              ],
              "parameters": {
                "instance": {
                  "description": "Cloud SQL instance ID. This does not include the project ID.",
                  "type": "string",
                  "location": "path",
                  "required": true
                },
                "project": {
                  "description": "ID of the project that contains the instance.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/sqlservice.admin"
              ],
              "flatPath": "v1/projects/{project}/instances/{instance}/startExternalSync",
              "httpMethod": "POST",
              "request": {
                "$ref": "SqlInstancesStartExternalSyncRequest"
              },
              "description": "Start External primary instance migration.",
              "id": "sql.projects.instances.startExternalSync"
            },
            "resetReplicaSize": {
              "description": "Reset Replica Size to primary instance disk size.",
              "response": {
                "$ref": "Operation"
              },
              "request": {
                "$ref": "SqlInstancesResetReplicaSizeRequest"
              },
              "parameters": {
                "project": {
                  "description": "ID of the project that contains the read replica.",
                  "type": "string",
                  "location": "path",
                  "required": true
                },
                "instance": {
                  "description": "Cloud SQL read replica instance name.",
                  "type": "string",
                  "location": "path",
                  "required": true
                }
              },
              "parameterOrder": [
                "project",
                "instance"
              ],
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/sqlservice.admin"
              ],
              "id": "sql.projects.instances.resetReplicaSize",
              "path": "v1/projects/{project}/instances/{instance}/resetReplicaSize",
              "flatPath": "v1/projects/{project}/instances/{instance}/resetReplicaSize"
            },
            "performDiskShrink": {
              "response": {
                "$ref": "Operation"
              },
              "id": "sql.projects.instances.performDiskShrink",
              "description": "Perform Disk Shrink on primary instance.",
              "httpMethod": "POST",
              "parameters": {
                "project": {
                  "type": "string",
                  "description": "Project ID of the project that contains the instance.",
                  "location": "path",
                  "required": true
                },
                "instance": {
                  "description": "Cloud SQL instance ID. This does not include the project ID.",
                  "type": "string",
                  "location": "path",
                  "required": true
                },
                "location": {
                  "type": "string",
                  "location": "query",
                  "description": "Optional. Region of the Cloud SQL instance."
                }
              },
              "path": "v1/projects/{project}/instances/{instance}/performDiskShrink",
              "flatPath": "v1/projects/{project}/instances/{instance}/performDiskShrink",
              "parameterOrder": [
                "project",
                "instance"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/sqlservice.admin"
              ],
              "request": {
                "$ref": "PerformDiskShrinkContext"
              }
            },
            "verifyExternalSyncSettings": {
              "path": "v1/projects/{project}/instances/{instance}/verifyExternalSyncSettings",
              "parameterOrder": [
                "project",
                "instance"
              ],
              "request": {
                "$ref": "SqlInstancesVerifyExternalSyncSettingsRequest"
              },
              "flatPath": "v1/projects/{project}/instances/{instance}/verifyExternalSyncSettings",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/sqlservice.admin"
              ],
              "httpMethod": "POST",
              "parameters": {
                "project": {
                  "description": "Project ID of the project that contains the instance.",
                  "type": "string",
                  "location": "path",
                  "required": true
                },
                "instance": {
                  "location": "path",
                  "required": true,
                  "description": "Cloud SQL instance ID. This does not include the project ID.",
                  "type": "string"
                }
              },
              "id": "sql.projects.instances.verifyExternalSyncSettings",
              "description": "Verify External primary instance external sync settings.",
              "response": {
                "$ref": "SqlInstancesVerifyExternalSyncSettingsResponse"
              }
            }
          }
        }
      }
    },
    "instances": {
      "methods": {
        "addEntraIdCertificate": {
          "parameterOrder": [
            "project",
            "instance"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "response": {
            "$ref": "Operation"
          },
          "id": "sql.instances.addEntraIdCertificate",
          "httpMethod": "POST",
          "parameters": {
            "project": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "Required. Project ID of the project that contains the instance."
            },
            "location": {
              "description": "Optional. Region of the Cloud SQL instance.",
              "type": "string",
              "location": "query"
            },
            "instance": {
              "type": "string",
              "location": "path",
              "required": true,
              "description": "Required. Cloud SQL instance ID. This does not include the project ID."
            }
          },
          "flatPath": "v1/projects/{project}/instances/{instance}/addEntraIdCertificate",
          "path": "v1/projects/{project}/instances/{instance}/addEntraIdCertificate",
          "description": "Adds a new Entra ID certificate for the specified instance. If an Entra ID certificate was previously added but never used in a certificate rotation, this operation replaces that version."
        },
        "export": {
          "id": "sql.instances.export",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "request": {
            "$ref": "InstancesExportRequest"
          },
          "path": "v1/projects/{project}/instances/{instance}/export",
          "response": {
            "$ref": "Operation"
          },
          "description": "Exports data from a Cloud SQL instance to a Cloud Storage bucket as a SQL dump or CSV file.",
          "parameters": {
            "location": {
              "description": "Optional. Region of the Cloud SQL instance.",
              "location": "query",
              "type": "string"
            },
            "instance": {
              "location": "path",
              "required": true,
              "description": "Cloud SQL instance ID. This does not include the project ID.",
              "type": "string"
            },
            "project": {
              "description": "Project ID of the project that contains the instance to be exported.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "parameterOrder": [
            "project",
            "instance"
          ],
          "httpMethod": "POST",
          "flatPath": "v1/projects/{project}/instances/{instance}/export"
        },
        "insert": {
          "path": "v1/projects/{project}/instances",
          "description": "Creates a new Cloud SQL instance.",
          "parameters": {
            "project": {
              "description": "Project ID of the project to which the newly created Cloud SQL instances should belong.",
              "type": "string",
              "location": "path",
              "required": true
            },
            "location": {
              "type": "string",
              "description": "Optional. Region of the Cloud SQL instance.",
              "location": "query"
            }
          },
          "id": "sql.instances.insert",
          "flatPath": "v1/projects/{project}/instances",
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "response": {
            "$ref": "Operation"
          },
          "parameterOrder": [
            "project"
          ],
          "request": {
            "$ref": "DatabaseInstance"
          }
        },
        "acquireSsrsLease": {
          "id": "sql.instances.acquireSsrsLease",
          "description": "Acquire a lease for the setup of SQL Server Reporting Services (SSRS).",
          "flatPath": "v1/projects/{project}/instances/{instance}/acquireSsrsLease",
          "parameters": {
            "instance": {
              "description": "Required. Cloud SQL instance ID. This doesn't include the project ID. It's composed of lowercase letters, numbers, and hyphens, and it must start with a letter. The total length must be 98 characters or less (Example: instance-id).",
              "type": "string",
              "location": "path",
              "required": true
            },
            "location": {
              "location": "query",
              "type": "string",
              "description": "Optional. Region of the Cloud SQL instance."
            },
            "project": {
              "description": "Required. Project ID of the project that contains the instance (Example: project-id).",
              "type": "string",
              "location": "path",
              "required": true
            }
          },
          "httpMethod": "POST",
          "request": {
            "$ref": "InstancesAcquireSsrsLeaseRequest"
          },
          "parameterOrder": [
            "project",
            "instance"
          ],
          "path": "v1/projects/{project}/instances/{instance}/acquireSsrsLease",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "response": {
            "$ref": "SqlInstancesAcquireSsrsLeaseResponse"
          }
        },
        "patch": {
          "request": {
            "$ref": "DatabaseInstance"
          },
          "httpMethod": "PATCH",
          "flatPath": "v1/projects/{project}/instances/{instance}",
          "parameters": {
            "reconcilePscNetworkingForce": {
              "location": "query",
              "type": "boolean",
              "description": "Optional. Set PSC config to the same value as the existing config and force reconcile the PSC networking."
            },
            "reconcilePscNetworking": {
              "type": "boolean",
              "location": "query",
              "description": "Optional. Set PSC config to the same value as the existing config to reconcile the PSC networking."
            },
            "instance": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "Cloud SQL instance ID. This does not include the project ID."
            },
            "project": {
              "location": "path",
              "required": true,
              "description": "Project ID of the project that contains the instance.",
              "type": "string"
            },
            "location": {
              "type": "string",
              "description": "Optional. Region of the Cloud SQL instance.",
              "location": "query"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "response": {
            "$ref": "Operation"
          },
          "description": "Partially updates settings of a Cloud SQL instance by merging the request with the current configuration. This method supports patch semantics.",
          "parameterOrder": [
            "project",
            "instance"
          ],
          "id": "sql.instances.patch",
          "path": "v1/projects/{project}/instances/{instance}"
        },
        "rotateServerCa": {
          "path": "v1/projects/{project}/instances/{instance}/rotateServerCa",
          "id": "sql.instances.rotateServerCa",
          "request": {
            "$ref": "InstancesRotateServerCaRequest"
          },
          "response": {
            "$ref": "Operation"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "parameters": {
            "project": {
              "type": "string",
              "description": "Project ID of the project that contains the instance.",
              "location": "path",
              "required": true
            },
            "instance": {
              "description": "Cloud SQL instance ID. This does not include the project ID.",
              "type": "string",
              "location": "path",
              "required": true
            },
            "location": {
              "type": "string",
              "location": "query",
              "description": "Optional. Region of the Cloud SQL instance."
            }
          },
          "httpMethod": "POST",
          "flatPath": "v1/projects/{project}/instances/{instance}/rotateServerCa",
          "description": "Rotates the server certificate to one signed by the Certificate Authority (CA) version previously added with the addServerCA method. For instances that have enabled Certificate Authority Service (CAS) based server CA, use RotateServerCertificate to rotate the server certificate.",
          "parameterOrder": [
            "project",
            "instance"
          ]
        },
        "RotateEntraIdCertificate": {
          "response": {
            "$ref": "Operation"
          },
          "parameterOrder": [
            "project",
            "instance"
          ],
          "httpMethod": "POST",
          "request": {
            "$ref": "InstancesRotateEntraIdCertificateRequest"
          },
          "parameters": {
            "project": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "Required. Project ID of the project that contains the instance."
            },
            "instance": {
              "type": "string",
              "location": "path",
              "required": true,
              "description": "Required. Cloud SQL instance ID. This does not include the project ID."
            },
            "location": {
              "location": "query",
              "type": "string",
              "description": "Optional. Region of the Cloud SQL instance."
            }
          },
          "path": "v1/projects/{project}/instances/{instance}/rotateEntraIdCertificate",
          "description": "Rotates the server certificate version to one previously added with the addEntraIdCertificate method.",
          "id": "sql.instances.RotateEntraIdCertificate",
          "flatPath": "v1/projects/{project}/instances/{instance}/rotateEntraIdCertificate",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ]
        },
        "resetSslConfig": {
          "parameterOrder": [
            "project",
            "instance"
          ],
          "flatPath": "v1/projects/{project}/instances/{instance}/resetSslConfig",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "path": "v1/projects/{project}/instances/{instance}/resetSslConfig",
          "httpMethod": "POST",
          "parameters": {
            "location": {
              "type": "string",
              "description": "Optional. Region of the Cloud SQL instance.",
              "location": "query"
            },
            "instance": {
              "location": "path",
              "required": true,
              "description": "Cloud SQL instance ID. This does not include the project ID.",
              "type": "string"
            },
            "mode": {
              "enum": [
                "RESET_SSL_MODE_UNSPECIFIED",
                "ALL",
                "SYNC_FROM_PRIMARY"
              ],
              "location": "query",
              "description": "Optional. Reset SSL mode to use.",
              "type": "string",
              "enumDescriptions": [
                "Reset SSL mode is not specified.",
                "Refresh all TLS configs. This is the default behaviour.",
                "Refreshes the replication-related TLS configuration settings provided by the primary instance. Not applicable to on-premises replication instances."
              ]
            },
            "project": {
              "description": "Project ID of the project that contains the instance.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "response": {
            "$ref": "Operation"
          },
          "id": "sql.instances.resetSslConfig",
          "description": "Deletes all client certificates and generates a new server SSL certificate for the instance."
        },
        "ListEntraIdCertificates": {
          "parameters": {
            "project": {
              "location": "path",
              "required": true,
              "description": "Required. Project ID of the project that contains the instance.",
              "type": "string"
            },
            "instance": {
              "description": "Required. Cloud SQL instance ID. This does not include the project ID.",
              "type": "string",
              "location": "path",
              "required": true
            },
            "location": {
              "description": "Optional. Region of the Cloud SQL instance.",
              "type": "string",
              "location": "query"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "httpMethod": "GET",
          "flatPath": "v1/projects/{project}/instances/{instance}/listEntraIdCertificates",
          "path": "v1/projects/{project}/instances/{instance}/listEntraIdCertificates",
          "parameterOrder": [
            "project",
            "instance"
          ],
          "description": "Lists all versions of EntraID certificates for the specified instance. There can be up to three sets of certificates listed: the certificate that is currently in use, a future that has been added but not yet used to sign a certificate, and a certificate that has been rotated out.",
          "response": {
            "$ref": "InstancesListEntraIdCertificatesResponse"
          },
          "id": "sql.instances.ListEntraIdCertificates"
        },
        "restart": {
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "flatPath": "v1/projects/{project}/instances/{instance}/restart",
          "id": "sql.instances.restart",
          "parameters": {
            "project": {
              "description": "Project ID of the project that contains the instance to be restarted.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "instance": {
              "location": "path",
              "required": true,
              "description": "Cloud SQL instance ID. This does not include the project ID.",
              "type": "string"
            },
            "location": {
              "type": "string",
              "description": "Optional. Region of the Cloud SQL instance.",
              "location": "query"
            }
          },
          "path": "v1/projects/{project}/instances/{instance}/restart",
          "response": {
            "$ref": "Operation"
          },
          "httpMethod": "POST",
          "description": "Restarts a Cloud SQL instance.",
          "parameterOrder": [
            "project",
            "instance"
          ]
        },
        "demote": {
          "response": {
            "$ref": "Operation"
          },
          "path": "v1/projects/{project}/instances/{instance}/demote",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "parameters": {
            "location": {
              "type": "string",
              "description": "Optional. Region of the Cloud SQL instance.",
              "location": "query"
            },
            "instance": {
              "location": "path",
              "required": true,
              "description": "Required. Cloud SQL instance name.",
              "type": "string"
            },
            "project": {
              "type": "string",
              "location": "path",
              "required": true,
              "description": "Required. ID of the project that contains the instance."
            }
          },
          "flatPath": "v1/projects/{project}/instances/{instance}/demote",
          "parameterOrder": [
            "project",
            "instance"
          ],
          "httpMethod": "POST",
          "id": "sql.instances.demote",
          "description": "Demotes an existing standalone instance to be a Cloud SQL read replica for an external database server.",
          "request": {
            "$ref": "InstancesDemoteRequest"
          }
        },
        "delete": {
          "parameters": {
            "finalBackupDescription": {
              "type": "string",
              "description": "Optional. The description of the final backup.",
              "location": "query"
            },
            "location": {
              "type": "string",
              "description": "Optional. Region of the Cloud SQL instance.",
              "location": "query"
            },
            "finalBackupExpiryTime": {
              "description": "Optional. Final Backup expiration time. Timestamp in UTC of when this resource is considered expired.",
              "location": "query",
              "format": "google-datetime",
              "type": "string"
            },
            "finalBackupTtlDays": {
              "description": "Optional. Retention period of the final backup.",
              "location": "query",
              "type": "string",
              "format": "int64"
            },
            "enableFinalBackup": {
              "type": "boolean",
              "description": "Flag to opt-in for final backup. By default, it is turned off.",
              "location": "query"
            },
            "project": {
              "location": "path",
              "required": true,
              "description": "Project ID of the project that contains the instance to be deleted.",
              "type": "string"
            },
            "instance": {
              "type": "string",
              "location": "path",
              "required": true,
              "description": "Cloud SQL instance ID. This does not include the project ID."
            }
          },
          "flatPath": "v1/projects/{project}/instances/{instance}",
          "httpMethod": "DELETE",
          "path": "v1/projects/{project}/instances/{instance}",
          "parameterOrder": [
            "project",
            "instance"
          ],
          "description": "Deletes a Cloud SQL instance.",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "response": {
            "$ref": "Operation"
          },
          "id": "sql.instances.delete"
        },
        "listServerCas": {
          "parameterOrder": [
            "project",
            "instance"
          ],
          "description": "Lists all of the trusted Certificate Authorities (CAs) for the specified instance. There can be up to three CAs listed: the CA that was used to sign the certificate that is currently in use, a CA that has been added but not yet used to sign a certificate, and a CA used to sign a certificate that has previously rotated out.",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "flatPath": "v1/projects/{project}/instances/{instance}/listServerCas",
          "path": "v1/projects/{project}/instances/{instance}/listServerCas",
          "httpMethod": "GET",
          "response": {
            "$ref": "InstancesListServerCasResponse"
          },
          "parameters": {
            "project": {
              "description": "Project ID of the project that contains the instance.",
              "type": "string",
              "location": "path",
              "required": true
            },
            "location": {
              "location": "query",
              "description": "Optional. Region of the Cloud SQL instance.",
              "type": "string"
            },
            "instance": {
              "location": "path",
              "required": true,
              "description": "Cloud SQL instance ID. This does not include the project ID.",
              "type": "string"
            }
          },
          "id": "sql.instances.listServerCas"
        },
        "update": {
          "id": "sql.instances.update",
          "httpMethod": "PUT",
          "path": "v1/projects/{project}/instances/{instance}",
          "parameters": {
            "project": {
              "description": "Project ID of the project that contains the instance.",
              "type": "string",
              "location": "path",
              "required": true
            },
            "location": {
              "description": "Optional. Region of the Cloud SQL instance.",
              "location": "query",
              "type": "string"
            },
            "instance": {
              "type": "string",
              "description": "Cloud SQL instance ID. This does not include the project ID.",
              "location": "path",
              "required": true
            }
          },
          "flatPath": "v1/projects/{project}/instances/{instance}",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "request": {
            "$ref": "DatabaseInstance"
          },
          "response": {
            "$ref": "Operation"
          },
          "description": "Updates settings of a Cloud SQL instance. Using this operation might cause your instance to restart.",
          "parameterOrder": [
            "project",
            "instance"
          ]
        },
        "reencrypt": {
          "parameterOrder": [
            "project",
            "instance"
          ],
          "flatPath": "v1/projects/{project}/instances/{instance}/reencrypt",
          "httpMethod": "POST",
          "parameters": {
            "location": {
              "description": "Optional. Region of the Cloud SQL instance.",
              "location": "query",
              "type": "string"
            },
            "project": {
              "location": "path",
              "required": true,
              "description": "ID of the project that contains the instance.",
              "type": "string"
            },
            "instance": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "Cloud SQL instance ID. This does not include the project ID."
            }
          },
          "request": {
            "$ref": "InstancesReencryptRequest"
          },
          "response": {
            "$ref": "Operation"
          },
          "description": "Reencrypt CMEK instance with latest key version.",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "path": "v1/projects/{project}/instances/{instance}/reencrypt",
          "id": "sql.instances.reencrypt"
        },
        "addServerCertificate": {
          "id": "sql.instances.addServerCertificate",
          "flatPath": "v1/projects/{project}/instances/{instance}/addServerCertificate",
          "parameters": {
            "location": {
              "location": "query",
              "type": "string",
              "description": "Optional. Region of the Cloud SQL instance."
            },
            "instance": {
              "type": "string",
              "location": "path",
              "required": true,
              "description": "Cloud SQL instance ID. This does not include the project ID."
            },
            "project": {
              "description": "Project ID of the project that contains the instance.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "parameterOrder": [
            "project",
            "instance"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "httpMethod": "POST",
          "response": {
            "$ref": "Operation"
          },
          "description": "Add a new trusted server certificate version for the specified instance using Certificate Authority Service (CAS) server CA. Required to prepare for a certificate rotation. If a server certificate version was previously added but never used in a certificate rotation, this operation replaces that version. There cannot be more than one certificate version waiting to be rotated in. For instances not using CAS server CA, use AddServerCa instead.",
          "path": "v1/projects/{project}/instances/{instance}/addServerCertificate"
        },
        "import": {
          "flatPath": "v1/projects/{project}/instances/{instance}/import",
          "parameters": {
            "location": {
              "description": "Optional. Region of the Cloud SQL instance.",
              "type": "string",
              "location": "query"
            },
            "instance": {
              "type": "string",
              "description": "Cloud SQL instance ID. This does not include the project ID.",
              "location": "path",
              "required": true
            },
            "project": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "Project ID of the project that contains the instance."
            }
          },
          "path": "v1/projects/{project}/instances/{instance}/import",
          "response": {
            "$ref": "Operation"
          },
          "id": "sql.instances.import",
          "httpMethod": "POST",
          "description": "Imports data into a Cloud SQL instance from a SQL dump or CSV file in Cloud Storage.",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "request": {
            "$ref": "InstancesImportRequest"
          },
          "parameterOrder": [
            "project",
            "instance"
          ]
        },
        "clone": {
          "request": {
            "$ref": "InstancesCloneRequest"
          },
          "id": "sql.instances.clone",
          "description": "Creates a Cloud SQL instance as a clone of the source instance. Using this operation might cause your instance to restart.",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "flatPath": "v1/projects/{project}/instances/{instance}/clone",
          "path": "v1/projects/{project}/instances/{instance}/clone",
          "parameterOrder": [
            "project",
            "instance"
          ],
          "httpMethod": "POST",
          "parameters": {
            "project": {
              "location": "path",
              "required": true,
              "description": "Required. Project ID of the source Cloud SQL instance.",
              "type": "string"
            },
            "instance": {
              "type": "string",
              "location": "path",
              "required": true,
              "description": "Required. The ID of the Cloud SQL instance to be cloned (source). This does not include the project ID."
            },
            "location": {
              "type": "string",
              "description": "Optional. Region of the Cloud SQL instance.",
              "location": "query"
            }
          },
          "response": {
            "$ref": "Operation"
          }
        },
        "list": {
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "flatPath": "v1/projects/{project}/instances",
          "parameters": {
            "filter": {
              "type": "string",
              "location": "query",
              "description": "A filter expression that filters resources listed in the response. The expression is in the form of field:value. For example, 'instanceType:CLOUD_SQL_INSTANCE'. Fields can be nested as needed as per their JSON representation, such as 'settings.userLabels.auto_start:true'. Multiple filter queries are space-separated. For example. 'state:RUNNABLE instanceType:CLOUD_SQL_INSTANCE'. By default, each expression is an AND expression. However, you can include AND and OR expressions explicitly."
            },
            "maxResults": {
              "description": "The maximum number of instances to return. The service may return fewer than this value. If unspecified, at most 500 instances are returned. The maximum value is 1000; values above 1000 are coerced to 1000.",
[...]
