{
  "documentationLink": "https://cloud.google.com/sql/docs",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "ownerName": "Google",
  "batchPath": "batch",
  "kind": "discovery#restDescription",
  "protocol": "rest",
  "name": "sqladmin",
  "description": "Cloud SQL Admin API",
  "baseUrl": "https://sqladmin.googleapis.com/",
  "discoveryVersion": "v1",
  "schemas": {
    "SqlServerAuditConfig": {
      "description": "SQL Server specific audit configuration.",
      "id": "SqlServerAuditConfig",
      "properties": {
        "retentionInterval": {
          "format": "google-duration",
          "type": "string",
          "description": "How long to keep generated audit files."
        },
        "bucket": {
          "type": "string",
          "description": "The name of the destination bucket (e.g., gs://mybucket)."
        },
        "kind": {
          "type": "string",
          "description": "This is always sql#sqlServerAuditConfig"
        },
        "uploadInterval": {
          "description": "How often to upload generated audit files.",
          "format": "google-duration",
          "type": "string"
        }
      },
      "type": "object"
    },
    "IpConfiguration": {
      "type": "object",
      "properties": {
        "authorizedNetworks": {
          "items": {
            "$ref": "AclEntry"
          },
          "description": "The list of external networks that are allowed to connect to the instance using the IP. In 'CIDR' notation, also known as 'slash' notation (for example: `157.197.200.0/24`).",
          "type": "array"
        },
        "allocatedIpRange": {
          "description": "The name of the allocated ip range for the private ip Cloud SQL instance. For example: \"google-managed-services-default\". If set, the instance ip will be created in the allocated range. The range name must comply with [RFC 1035](https://tools.ietf.org/html/rfc1035). Specifically, the name must be 1-63 characters long and match the regular expression `[a-z]([-a-z0-9]*[a-z0-9])?.`",
          "type": "string"
        },
        "customSubjectAlternativeNames": {
          "description": "Optional. Custom Subject Alternative Name(SAN)s for a Cloud SQL instance.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "privateNetwork": {
          "type": "string",
          "description": "The resource link for the VPC network from which the Cloud SQL instance is accessible for private IP. For example, `/projects/myProject/global/networks/default`. This setting can be updated, but it cannot be removed after it is set."
        },
        "sslMode": {
          "description": "Specify how SSL/TLS is enforced in database connections. If you must use the `require_ssl` flag for backward compatibility, then only the following value pairs are valid: For PostgreSQL and MySQL: * `ssl_mode=ALLOW_UNENCRYPTED_AND_ENCRYPTED` and `require_ssl=false` * `ssl_mode=ENCRYPTED_ONLY` and `require_ssl=false` * `ssl_mode=TRUSTED_CLIENT_CERTIFICATE_REQUIRED` and `require_ssl=true` For SQL Server: * `ssl_mode=ALLOW_UNENCRYPTED_AND_ENCRYPTED` and `require_ssl=false` * `ssl_mode=ENCRYPTED_ONLY` and `require_ssl=true` The value of `ssl_mode` has priority over the value of `require_ssl`. For example, for the pair `ssl_mode=ENCRYPTED_ONLY` and `require_ssl=false`, `ssl_mode=ENCRYPTED_ONLY` means accept only SSL connections, while `require_ssl=false` means accept both non-SSL and SSL connections. In this case, MySQL and PostgreSQL databases respect `ssl_mode` and accepts only SSL connections.",
          "enum": [
            "SSL_MODE_UNSPECIFIED",
            "ALLOW_UNENCRYPTED_AND_ENCRYPTED",
            "ENCRYPTED_ONLY",
            "TRUSTED_CLIENT_CERTIFICATE_REQUIRED"
          ],
          "type": "string",
          "enumDescriptions": [
            "The SSL mode is unknown.",
            "Allow non-SSL/non-TLS and SSL/TLS connections. For SSL connections to MySQL and PostgreSQL, the client certificate isn't verified. When this value is used, the legacy `require_ssl` flag must be false or cleared to avoid a conflict between the values of the two flags.",
            "Only allow connections encrypted with SSL/TLS. For SSL connections to MySQL and PostgreSQL, the client certificate isn't verified. When this value is used, the legacy `require_ssl` flag must be false or cleared to avoid a conflict between the values of the two flags.",
            "Only allow connections encrypted with SSL/TLS and with valid client certificates. When this value is used, the legacy `require_ssl` flag must be true or cleared to avoid the conflict between values of two flags. PostgreSQL clients or users that connect using IAM database authentication must use either the [Cloud SQL Auth Proxy](https://cloud.google.com/sql/docs/postgres/connect-auth-proxy) or [Cloud SQL Connectors](https://cloud.google.com/sql/docs/postgres/connect-connectors) to enforce client identity verification. Only applicable to MySQL and PostgreSQL. Not applicable to SQL Server."
          ]
        },
        "ipv4Enabled": {
          "type": "boolean",
          "description": "Whether the instance is assigned a public IP address or not."
        },
        "serverCaMode": {
          "description": "Specify what type of CA is used for the server certificate.",
          "type": "string",
          "enum": [
            "CA_MODE_UNSPECIFIED",
            "GOOGLE_MANAGED_INTERNAL_CA",
            "GOOGLE_MANAGED_CAS_CA",
            "CUSTOMER_MANAGED_CAS_CA"
          ],
          "enumDescriptions": [
            "CA mode is unspecified. It is effectively the same as `GOOGLE_MANAGED_INTERNAL_CA`.",
            "Google-managed self-signed internal CA.",
            "Google-managed regional CA part of root CA hierarchy hosted on Google Cloud's Certificate Authority Service (CAS).",
            "Customer-managed CA hosted on Google Cloud's Certificate Authority Service (CAS)."
          ]
        },
        "pscConfig": {
          "$ref": "PscConfig",
          "description": "PSC settings for this instance."
        },
        "requireSsl": {
          "description": "Use `ssl_mode` instead. Whether SSL/TLS connections over IP are enforced. If set to false, then allow both non-SSL/non-TLS and SSL/TLS connections. For SSL/TLS connections, the client certificate won't be verified. If set to true, then only allow connections encrypted with SSL/TLS and with valid client certificates. If you want to enforce SSL/TLS without enforcing the requirement for valid client certificates, then use the `ssl_mode` flag instead of the `require_ssl` flag.",
          "type": "boolean"
        },
        "serverCertificateRotationMode": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified: no automatic server certificate rotation.",
            "No automatic server certificate rotation. The user must [manage server certificate rotation](/sql/docs/mysql/manage-ssl-instance#rotate-server-certificate-cas) on their side.",
            "Automatic server certificate rotation during Cloud SQL scheduled maintenance or self-service maintenance updates. Requires `server_ca_mode` to be `GOOGLE_MANAGED_CAS_CA` or `CUSTOMER_MANAGED_CAS_CA`."
          ],
          "enum": [
            "SERVER_CERTIFICATE_ROTATION_MODE_UNSPECIFIED",
            "NO_AUTOMATIC_ROTATION",
            "AUTOMATIC_ROTATION_DURING_MAINTENANCE"
          ],
          "description": "Optional. Controls the automatic server certificate rotation feature. This feature is disabled by default. When enabled, the server certificate will be automatically rotated during Cloud SQL scheduled maintenance or self-service maintenance updates up to six months before it expires. This setting can only be set if server_ca_mode is either GOOGLE_MANAGED_CAS_CA or CUSTOMER_MANAGED_CAS_CA."
        },
        "enablePrivatePathForGoogleCloudServices": {
          "type": "boolean",
          "description": "Controls connectivity to private IP instances from Google services, such as BigQuery."
        },
        "serverCaPool": {
          "type": "string",
          "description": "Optional. The resource name of the server CA pool for an instance with `CUSTOMER_MANAGED_CAS_CA` as the `server_ca_mode`. Format: projects/{PROJECT}/locations/{REGION}/caPools/{CA_POOL_ID}"
        }
      },
      "description": "IP Management configuration.",
      "id": "IpConfiguration"
    },
    "InstancesAcquireSsrsLeaseRequest": {
      "type": "object",
      "description": "Request to acquire a lease for SSRS.",
      "id": "InstancesAcquireSsrsLeaseRequest",
      "properties": {
        "acquireSsrsLeaseContext": {
          "description": "Contains details about the acquire SSRS lease operation.",
          "$ref": "AcquireSsrsLeaseContext"
        }
      }
    },
    "SslCertsInsertResponse": {
      "description": "SslCert insert response.",
      "id": "SslCertsInsertResponse",
      "properties": {
        "operation": {
          "description": "The operation to track the ssl certs insert request.",
          "$ref": "Operation"
        },
        "kind": {
          "description": "This is always `sql#sslCertsInsert`.",
          "type": "string"
        },
        "clientCert": {
          "description": "The new client certificate and private key.",
          "$ref": "SslCertDetail"
        },
        "serverCaCert": {
          "$ref": "SslCert",
          "description": "The server Certificate Authority's certificate. If this is missing you can force a new one to be generated by calling resetSslConfig method on instances resource."
        }
      },
      "type": "object"
    },
    "SqlOutOfDiskReport": {
      "properties": {
        "sqlMinRecommendedIncreaseSizeGb": {
          "description": "The minimum recommended increase size in GigaBytes This field is consumed by the frontend * Writers: * the proactive database wellness job for OOD. * Readers:",
          "format": "int32",
          "type": "integer"
        },
        "sqlOutOfDiskState": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified state",
            "The instance has plenty space on data disk",
            "Data disk is almost used up. It is shutdown to prevent data corruption."
          ],
          "enum": [
            "SQL_OUT_OF_DISK_STATE_UNSPECIFIED",
            "NORMAL",
            "SOFT_SHUTDOWN"
          ],
          "description": "This field represents the state generated by the proactive database wellness job for OutOfDisk issues. * Writers: * the proactive database wellness job for OOD. * Readers: * the proactive database wellness job"
        }
      },
      "id": "SqlOutOfDiskReport",
      "description": "This message wraps up the information written by out-of-disk detection job.",
      "type": "object"
    },
    "InstancesListServerCasResponse": {
      "type": "object",
      "properties": {
        "activeVersion": {
          "type": "string"
        },
        "kind": {
          "description": "This is always `sql#instancesListServerCas`.",
          "type": "string"
        },
        "certs": {
          "description": "List of server CA certificates for the instance.",
          "items": {
            "$ref": "SslCert"
          },
          "type": "array"
        }
      },
      "description": "Instances ListServerCas response.",
      "id": "InstancesListServerCasResponse"
    },
    "Backup": {
      "id": "Backup",
      "description": "A backup resource.",
      "type": "object",
      "properties": {
        "kmsKey": {
          "description": "Output only. This output contains the encryption configuration for a backup and the resource name of the KMS key for disk encryption.",
          "readOnly": true,
          "type": "string"
        },
        "ttlDays": {
          "description": "Input only. The time-to-live (TTL) interval for this resource (in days). For example: ttlDays:7, means 7 days from the current time. The expiration time can't exceed 365 days from the time that the backup is created.",
          "format": "int64",
          "type": "string"
        },
        "kmsKeyVersion": {
          "description": "Output only. This output contains the encryption status for a backup and the version of the KMS key that's used to encrypt the Cloud SQL instance.",
          "type": "string",
          "readOnly": true
        },
        "instanceSettings": {
          "description": "Optional. Output only. The instance setting of the source instance that's associated with this backup.",
          "readOnly": true,
          "$ref": "DatabaseInstance"
        },
        "backupRun": {
          "description": "Output only. The mapping to backup run resource used for IAM validations.",
          "readOnly": true,
          "type": "string"
        },
        "selfLink": {
          "readOnly": true,
          "description": "Output only. The URI of this resource.",
          "type": "string"
        },
        "maxChargeableBytes": {
          "type": "string",
          "description": "Output only. The maximum chargeable bytes for the backup.",
          "format": "int64",
          "readOnly": true
        },
        "kind": {
          "readOnly": true,
          "description": "Output only. This is always `sql#backup`.",
          "type": "string"
        },
        "instanceDeletionTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string",
          "description": "Optional. Output only. Timestamp in UTC of when the instance associated with this backup is deleted."
        },
        "backupInterval": {
          "readOnly": true,
          "$ref": "Interval",
          "description": "Output only. This output contains the following values: start_time: All database writes up to this time are available. end_time: Any database writes after this time aren't available."
        },
        "name": {
          "description": "Output only. The resource name of the backup. Format: projects/{project}/backups/{backup}.",
          "type": "string",
          "readOnly": true
        },
        "error": {
          "readOnly": true,
          "$ref": "OperationError",
          "description": "Output only. Information about why the backup operation fails (for example, when the backup state fails)."
        },
        "state": {
          "type": "string",
          "description": "Output only. The status of this backup.",
          "readOnly": true,
          "enumDescriptions": [
            "The state of the backup is unknown.",
            "The backup that's added to a queue.",
            "The backup is in progress.",
            "The backup failed.",
            "The backup is successful.",
            "The backup is being deleted.",
            "Deletion of the backup failed."
          ],
          "enum": [
            "SQL_BACKUP_STATE_UNSPECIFIED",
            "ENQUEUED",
            "RUNNING",
            "FAILED",
            "SUCCESSFUL",
            "DELETING",
            "DELETION_FAILED"
          ]
        },
        "type": {
          "enum": [
            "SQL_BACKUP_TYPE_UNSPECIFIED",
            "AUTOMATED",
            "ON_DEMAND",
            "FINAL"
          ],
          "description": "Output only. The type of this backup. The type can be \"AUTOMATED\", \"ON_DEMAND\" or “FINAL”.",
          "enumDescriptions": [
            "This is an unknown backup type.",
            "The backup schedule triggers a backup automatically.",
            "The user triggers a backup manually.",
            "The backup created when instance is deleted."
          ],
          "readOnly": true,
          "type": "string"
        },
        "instance": {
          "description": "The name of the source database instance.",
          "type": "string"
        },
        "description": {
          "description": "The description of this backup.",
          "type": "string"
        },
        "databaseVersion": {
          "enumDeprecated": [
            false,
            true,
            true,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            true,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false
          ],
          "enum": [
            "SQL_DATABASE_VERSION_UNSPECIFIED",
            "MYSQL_5_1",
            "MYSQL_5_5",
            "MYSQL_5_6",
            "MYSQL_5_7",
            "MYSQL_8_0",
            "MYSQL_8_0_18",
            "MYSQL_8_0_26",
            "MYSQL_8_0_27",
            "MYSQL_8_0_28",
            "MYSQL_8_0_29",
            "MYSQL_8_0_30",
            "MYSQL_8_0_31",
            "MYSQL_8_0_32",
            "MYSQL_8_0_33",
            "MYSQL_8_0_34",
            "MYSQL_8_0_35",
            "MYSQL_8_0_36",
            "MYSQL_8_0_37",
            "MYSQL_8_0_39",
            "MYSQL_8_0_40",
            "MYSQL_8_0_41",
            "MYSQL_8_0_42",
            "MYSQL_8_0_43",
            "MYSQL_8_0_44",
            "MYSQL_8_0_45",
            "MYSQL_8_0_46",
            "MYSQL_8_4",
            "MYSQL_9_7",
            "SQLSERVER_2017_STANDARD",
            "SQLSERVER_2017_ENTERPRISE",
            "SQLSERVER_2017_EXPRESS",
            "SQLSERVER_2017_WEB",
            "POSTGRES_9_6",
            "POSTGRES_10",
            "POSTGRES_11",
            "POSTGRES_12",
            "POSTGRES_13",
            "POSTGRES_14",
            "POSTGRES_15",
            "POSTGRES_16",
            "POSTGRES_17",
            "POSTGRES_18",
            "POSTGRES_19",
            "POSTGRES_20",
            "SQLSERVER_2019_STANDARD",
            "SQLSERVER_2019_ENTERPRISE",
            "SQLSERVER_2019_EXPRESS",
            "SQLSERVER_2019_WEB",
            "SQLSERVER_2022_STANDARD",
            "SQLSERVER_2022_ENTERPRISE",
            "SQLSERVER_2022_EXPRESS",
            "SQLSERVER_2022_WEB",
            "SQLSERVER_2025_STANDARD",
            "SQLSERVER_2025_ENTERPRISE",
            "SQLSERVER_2025_EXPRESS"
          ],
          "description": "Output only. The database version of the instance of at the time this backup was made.",
          "enumDescriptions": [
            "This is an unknown database version.",
            "The database version is MySQL 5.1.",
            "The database version is MySQL 5.5.",
            "The database version is MySQL 5.6.",
            "The database version is MySQL 5.7.",
            "The database version is MySQL 8.",
            "The database major version is MySQL 8.0 and the minor version is 18.",
            "The database major version is MySQL 8.0 and the minor version is 26.",
            "The database major version is MySQL 8.0 and the minor version is 27.",
            "The database major version is MySQL 8.0 and the minor version is 28.",
            "The database major version is MySQL 8.0 and the minor version is 29.",
            "The database major version is MySQL 8.0 and the minor version is 30.",
            "The database major version is MySQL 8.0 and the minor version is 31.",
            "The database major version is MySQL 8.0 and the minor version is 32.",
            "The database major version is MySQL 8.0 and the minor version is 33.",
            "The database major version is MySQL 8.0 and the minor version is 34.",
            "The database major version is MySQL 8.0 and the minor version is 35.",
            "The database major version is MySQL 8.0 and the minor version is 36.",
            "The database major version is MySQL 8.0 and the minor version is 37.",
            "The database major version is MySQL 8.0 and the minor version is 39.",
            "The database major version is MySQL 8.0 and the minor version is 40.",
            "The database major version is MySQL 8.0 and the minor version is 41.",
            "The database major version is MySQL 8.0 and the minor version is 42.",
            "The database major version is MySQL 8.0 and the minor version is 43.",
            "The database major version is MySQL 8.0 and the minor version is 44.",
            "The database major version is MySQL 8.0 and the minor version is 45.",
            "The database major version is MySQL 8.0 and the minor version is 46.",
            "The database version is MySQL 8.4.",
            "The database version is MySQL 9.7.",
            "The database version is SQL Server 2017 Standard.",
            "The database version is SQL Server 2017 Enterprise.",
            "The database version is SQL Server 2017 Express.",
            "The database version is SQL Server 2017 Web.",
            "The database version is PostgreSQL 9.6.",
            "The database version is PostgreSQL 10.",
            "The database version is PostgreSQL 11.",
            "The database version is PostgreSQL 12.",
            "The database version is PostgreSQL 13.",
            "The database version is PostgreSQL 14.",
            "The database version is PostgreSQL 15.",
            "The database version is PostgreSQL 16.",
            "The database version is PostgreSQL 17.",
            "The database version is PostgreSQL 18.",
            "The database version is PostgreSQL 19.",
            "The database version is PostgreSQL 20.",
            "The database version is SQL Server 2019 Standard.",
            "The database version is SQL Server 2019 Enterprise.",
            "The database version is SQL Server 2019 Express.",
            "The database version is SQL Server 2019 Web.",
            "The database version is SQL Server 2022 Standard.",
            "The database version is SQL Server 2022 Enterprise.",
            "The database version is SQL Server 2022 Express.",
            "The database version is SQL Server 2022 Web.",
            "The database version is SQL Server 2025 Standard.",
            "The database version is SQL Server 2025 Enterprise.",
            "The database version is SQL Server 2025 Express."
          ],
          "readOnly": true,
          "type": "string"
        },
        "expiryTime": {
          "description": "Backup expiration time. A UTC timestamp of when this backup expired.",
          "type": "string",
          "format": "google-datetime"
        },
        "location": {
          "description": "The storage location of the backups. The location can be multi-regional.",
          "type": "string"
        },
        "satisfiesPzs": {
          "readOnly": true,
          "description": "Output only. This status indicates whether the backup satisfies PZS. The status is reserved for future use.",
          "type": "boolean"
        },
        "timeZone": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. This output contains a backup time zone. If a Cloud SQL for SQL Server instance has a different time zone from the backup's time zone, then the restore to the instance doesn't happen."
        },
        "backupKind": {
          "enum": [
            "SQL_BACKUP_KIND_UNSPECIFIED",
            "SNAPSHOT",
            "PHYSICAL"
          ],
          "enumDescriptions": [
            "This is an unknown BackupKind.",
            "Snapshot-based backups.",
            "Physical backups."
          ],
          "type": "string",
          "readOnly": true,
          "description": "Output only. Specifies the kind of backup, PHYSICAL or DEFAULT_SNAPSHOT."
        },
        "satisfiesPzi": {
          "description": "Output only. This status indicates whether the backup satisfies PZI. The status is reserved for future use.",
          "readOnly": true,
          "type": "boolean"
        }
      }
    },
    "PreCheckMajorVersionUpgradeContext": {
      "id": "PreCheckMajorVersionUpgradeContext",
      "properties": {
        "kind": {
          "type": "string",
          "description": "Optional. This is always `sql#preCheckMajorVersionUpgradeContext`."
        },
        "targetDatabaseVersion": {
          "type": "string",
          "enumDeprecated": [
            false,
            true,
            true,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            true,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false
          ],
          "description": "Required. The target database version to upgrade to.",
          "enumDescriptions": [
            "This is an unknown database version.",
            "The database version is MySQL 5.1.",
            "The database version is MySQL 5.5.",
            "The database version is MySQL 5.6.",
            "The database version is MySQL 5.7.",
            "The database version is MySQL 8.",
            "The database major version is MySQL 8.0 and the minor version is 18.",
            "The database major version is MySQL 8.0 and the minor version is 26.",
            "The database major version is MySQL 8.0 and the minor version is 27.",
            "The database major version is MySQL 8.0 and the minor version is 28.",
            "The database major version is MySQL 8.0 and the minor version is 29.",
            "The database major version is MySQL 8.0 and the minor version is 30.",
            "The database major version is MySQL 8.0 and the minor version is 31.",
            "The database major version is MySQL 8.0 and the minor version is 32.",
            "The database major version is MySQL 8.0 and the minor version is 33.",
            "The database major version is MySQL 8.0 and the minor version is 34.",
            "The database major version is MySQL 8.0 and the minor version is 35.",
            "The database major version is MySQL 8.0 and the minor version is 36.",
            "The database major version is MySQL 8.0 and the minor version is 37.",
            "The database major version is MySQL 8.0 and the minor version is 39.",
            "The database major version is MySQL 8.0 and the minor version is 40.",
            "The database major version is MySQL 8.0 and the minor version is 41.",
            "The database major version is MySQL 8.0 and the minor version is 42.",
            "The database major version is MySQL 8.0 and the minor version is 43.",
            "The database major version is MySQL 8.0 and the minor version is 44.",
            "The database major version is MySQL 8.0 and the minor version is 45.",
            "The database major version is MySQL 8.0 and the minor version is 46.",
            "The database version is MySQL 8.4.",
            "The database version is MySQL 9.7.",
            "The database version is SQL Server 2017 Standard.",
            "The database version is SQL Server 2017 Enterprise.",
            "The database version is SQL Server 2017 Express.",
            "The database version is SQL Server 2017 Web.",
            "The database version is PostgreSQL 9.6.",
            "The database version is PostgreSQL 10.",
            "The database version is PostgreSQL 11.",
            "The database version is PostgreSQL 12.",
            "The database version is PostgreSQL 13.",
            "The database version is PostgreSQL 14.",
            "The database version is PostgreSQL 15.",
            "The database version is PostgreSQL 16.",
            "The database version is PostgreSQL 17.",
            "The database version is PostgreSQL 18.",
            "The database version is PostgreSQL 19.",
            "The database version is PostgreSQL 20.",
            "The database version is SQL Server 2019 Standard.",
            "The database version is SQL Server 2019 Enterprise.",
            "The database version is SQL Server 2019 Express.",
            "The database version is SQL Server 2019 Web.",
            "The database version is SQL Server 2022 Standard.",
            "The database version is SQL Server 2022 Enterprise.",
            "The database version is SQL Server 2022 Express.",
            "The database version is SQL Server 2022 Web.",
            "The database version is SQL Server 2025 Standard.",
            "The database version is SQL Server 2025 Enterprise.",
            "The database version is SQL Server 2025 Express."
          ],
          "enum": [
            "SQL_DATABASE_VERSION_UNSPECIFIED",
            "MYSQL_5_1",
            "MYSQL_5_5",
            "MYSQL_5_6",
            "MYSQL_5_7",
            "MYSQL_8_0",
            "MYSQL_8_0_18",
            "MYSQL_8_0_26",
            "MYSQL_8_0_27",
            "MYSQL_8_0_28",
            "MYSQL_8_0_29",
            "MYSQL_8_0_30",
            "MYSQL_8_0_31",
            "MYSQL_8_0_32",
            "MYSQL_8_0_33",
            "MYSQL_8_0_34",
            "MYSQL_8_0_35",
            "MYSQL_8_0_36",
            "MYSQL_8_0_37",
            "MYSQL_8_0_39",
            "MYSQL_8_0_40",
            "MYSQL_8_0_41",
            "MYSQL_8_0_42",
            "MYSQL_8_0_43",
            "MYSQL_8_0_44",
            "MYSQL_8_0_45",
            "MYSQL_8_0_46",
            "MYSQL_8_4",
            "MYSQL_9_7",
            "SQLSERVER_2017_STANDARD",
            "SQLSERVER_2017_ENTERPRISE",
            "SQLSERVER_2017_EXPRESS",
            "SQLSERVER_2017_WEB",
            "POSTGRES_9_6",
            "POSTGRES_10",
            "POSTGRES_11",
            "POSTGRES_12",
            "POSTGRES_13",
            "POSTGRES_14",
            "POSTGRES_15",
            "POSTGRES_16",
            "POSTGRES_17",
            "POSTGRES_18",
            "POSTGRES_19",
            "POSTGRES_20",
            "SQLSERVER_2019_STANDARD",
            "SQLSERVER_2019_ENTERPRISE",
            "SQLSERVER_2019_EXPRESS",
            "SQLSERVER_2019_WEB",
            "SQLSERVER_2022_STANDARD",
            "SQLSERVER_2022_ENTERPRISE",
            "SQLSERVER_2022_EXPRESS",
            "SQLSERVER_2022_WEB",
            "SQLSERVER_2025_STANDARD",
            "SQLSERVER_2025_ENTERPRISE",
            "SQLSERVER_2025_EXPRESS"
          ]
        },
        "preCheckResponse": {
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "PreCheckResponse"
          },
          "description": "Output only. The responses from the precheck operation."
        }
      },
      "type": "object",
      "description": "Pre-check major version upgrade context."
    },
    "ConnectSettings": {
      "id": "ConnectSettings",
      "description": "Connect settings retrieval response.",
      "properties": {
        "kind": {
          "type": "string",
          "description": "This is always `sql#connectSettings`."
        },
        "nodes": {
          "type": "array",
          "description": "Output only. Entries containing information about each read pool node of the read pool.",
          "items": {
            "$ref": "ConnectPoolNodeConfig"
          },
          "readOnly": true
        },
        "connectionName": {
          "description": "Optional. Output only. Connection name of the Cloud SQL instance used in connection strings, in the format project:region:instance.",
          "readOnly": true,
          "type": "string"
        },
        "databaseVersion": {
          "enumDeprecated": [
            false,
            true,
            true,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            true,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false
          ],
          "enumDescriptions": [
            "This is an unknown database version.",
            "The database version is MySQL 5.1.",
            "The database version is MySQL 5.5.",
            "The database version is MySQL 5.6.",
            "The database version is MySQL 5.7.",
            "The database version is MySQL 8.",
            "The database major version is MySQL 8.0 and the minor version is 18.",
            "The database major version is MySQL 8.0 and the minor version is 26.",
            "The database major version is MySQL 8.0 and the minor version is 27.",
            "The database major version is MySQL 8.0 and the minor version is 28.",
            "The database major version is MySQL 8.0 and the minor version is 29.",
            "The database major version is MySQL 8.0 and the minor version is 30.",
            "The database major version is MySQL 8.0 and the minor version is 31.",
            "The database major version is MySQL 8.0 and the minor version is 32.",
            "The database major version is MySQL 8.0 and the minor version is 33.",
            "The database major version is MySQL 8.0 and the minor version is 34.",
            "The database major version is MySQL 8.0 and the minor version is 35.",
            "The database major version is MySQL 8.0 and the minor version is 36.",
            "The database major version is MySQL 8.0 and the minor version is 37.",
            "The database major version is MySQL 8.0 and the minor version is 39.",
            "The database major version is MySQL 8.0 and the minor version is 40.",
            "The database major version is MySQL 8.0 and the minor version is 41.",
            "The database major version is MySQL 8.0 and the minor version is 42.",
            "The database major version is MySQL 8.0 and the minor version is 43.",
            "The database major version is MySQL 8.0 and the minor version is 44.",
            "The database major version is MySQL 8.0 and the minor version is 45.",
            "The database major version is MySQL 8.0 and the minor version is 46.",
            "The database version is MySQL 8.4.",
            "The database version is MySQL 9.7.",
            "The database version is SQL Server 2017 Standard.",
            "The database version is SQL Server 2017 Enterprise.",
            "The database version is SQL Server 2017 Express.",
            "The database version is SQL Server 2017 Web.",
            "The database version is PostgreSQL 9.6.",
            "The database version is PostgreSQL 10.",
            "The database version is PostgreSQL 11.",
            "The database version is PostgreSQL 12.",
            "The database version is PostgreSQL 13.",
            "The database version is PostgreSQL 14.",
            "The database version is PostgreSQL 15.",
            "The database version is PostgreSQL 16.",
            "The database version is PostgreSQL 17.",
            "The database version is PostgreSQL 18.",
            "The database version is PostgreSQL 19.",
            "The database version is PostgreSQL 20.",
            "The database version is SQL Server 2019 Standard.",
            "The database version is SQL Server 2019 Enterprise.",
            "The database version is SQL Server 2019 Express.",
            "The database version is SQL Server 2019 Web.",
            "The database version is SQL Server 2022 Standard.",
            "The database version is SQL Server 2022 Enterprise.",
            "The database version is SQL Server 2022 Express.",
            "The database version is SQL Server 2022 Web.",
            "The database version is SQL Server 2025 Standard.",
            "The database version is SQL Server 2025 Enterprise.",
            "The database version is SQL Server 2025 Express."
          ],
          "type": "string",
          "description": "The database engine type and version. The `databaseVersion` field cannot be changed after instance creation. MySQL instances: `MYSQL_8_0`, `MYSQL_5_7` (default), or `MYSQL_5_6`. PostgreSQL instances: `POSTGRES_9_6`, `POSTGRES_10`, `POSTGRES_11`, `POSTGRES_12` (default), `POSTGRES_13`, or `POSTGRES_14`. SQL Server instances: `SQLSERVER_2017_STANDARD` (default), `SQLSERVER_2017_ENTERPRISE`, `SQLSERVER_2017_EXPRESS`, `SQLSERVER_2017_WEB`, `SQLSERVER_2019_STANDARD`, `SQLSERVER_2019_ENTERPRISE`, `SQLSERVER_2019_EXPRESS`, or `SQLSERVER_2019_WEB`.",
          "enum": [
            "SQL_DATABASE_VERSION_UNSPECIFIED",
            "MYSQL_5_1",
            "MYSQL_5_5",
            "MYSQL_5_6",
            "MYSQL_5_7",
            "MYSQL_8_0",
            "MYSQL_8_0_18",
            "MYSQL_8_0_26",
            "MYSQL_8_0_27",
            "MYSQL_8_0_28",
            "MYSQL_8_0_29",
            "MYSQL_8_0_30",
            "MYSQL_8_0_31",
            "MYSQL_8_0_32",
            "MYSQL_8_0_33",
            "MYSQL_8_0_34",
            "MYSQL_8_0_35",
            "MYSQL_8_0_36",
            "MYSQL_8_0_37",
            "MYSQL_8_0_39",
            "MYSQL_8_0_40",
            "MYSQL_8_0_41",
            "MYSQL_8_0_42",
            "MYSQL_8_0_43",
            "MYSQL_8_0_44",
            "MYSQL_8_0_45",
            "MYSQL_8_0_46",
            "MYSQL_8_4",
            "MYSQL_9_7",
            "SQLSERVER_2017_STANDARD",
            "SQLSERVER_2017_ENTERPRISE",
            "SQLSERVER_2017_EXPRESS",
            "SQLSERVER_2017_WEB",
            "POSTGRES_9_6",
            "POSTGRES_10",
            "POSTGRES_11",
            "POSTGRES_12",
            "POSTGRES_13",
            "POSTGRES_14",
            "POSTGRES_15",
            "POSTGRES_16",
            "POSTGRES_17",
            "POSTGRES_18",
            "POSTGRES_19",
            "POSTGRES_20",
            "SQLSERVER_2019_STANDARD",
            "SQLSERVER_2019_ENTERPRISE",
            "SQLSERVER_2019_EXPRESS",
            "SQLSERVER_2019_WEB",
            "SQLSERVER_2022_STANDARD",
            "SQLSERVER_2022_ENTERPRISE",
            "SQLSERVER_2022_EXPRESS",
            "SQLSERVER_2022_WEB",
            "SQLSERVER_2025_STANDARD",
            "SQLSERVER_2025_ENTERPRISE",
            "SQLSERVER_2025_EXPRESS"
          ]
        },
        "backendType": {
          "description": "`SECOND_GEN`: Cloud SQL database instance. `EXTERNAL`: A database server that is not managed by Google. This property is read-only; use the `tier` property in the `settings` object to determine the database type.",
          "enumDescriptions": [
            "This is an unknown backend type for instance.",
            "V1 speckle instance.",
            "V2 speckle instance.",
            "On premises instance."
          ],
          "enumDeprecated": [
            false,
            true,
            false,
            false
          ],
          "enum": [
            "SQL_BACKEND_TYPE_UNSPECIFIED",
            "FIRST_GEN",
            "SECOND_GEN",
            "EXTERNAL"
          ],
          "type": "string"
        },
        "pscEnabled": {
          "type": "boolean",
          "description": "Whether PSC connectivity is enabled for this instance."
        },
        "nodeCount": {
          "description": "The number of read pool nodes in a read pool.",
          "type": "integer",
          "format": "int32"
        },
        "ipAddresses": {
          "description": "The assigned IP addresses for the instance.",
          "items": {
            "$ref": "IpMapping"
          },
          "type": "array"
        },
        "mdxProtocolSupport": {
          "description": "Optional. Output only. mdx_protocol_support controls how the client uses metadata exchange when connecting to the instance. The values in the list representing parts of the MDX protocol that are supported by this instance. When the list is empty, the instance does not support MDX, so the client must not send an MDX request. The default is empty.",
          "type": "array",
          "items": {
            "type": "string",
            "enum": [
              "MDX_PROTOCOL_SUPPORT_UNSPECIFIED",
              "CLIENT_PROTOCOL_TYPE"
            ],
            "enumDescriptions": [
              "Not specified.",
              "Client should send the client protocol type in the MDX request."
            ]
          },
          "readOnly": true
        },
        "region": {
          "description": "The cloud region for the instance. For example, `us-central1`, `europe-west1`. The region cannot be changed after instance creation.",
          "type": "string"
        },
        "dnsNames": {
          "items": {
            "$ref": "DnsNameMapping"
          },
          "description": "Output only. The list of DNS names used by this instance.",
          "type": "array",
          "readOnly": true
        },
        "customSubjectAlternativeNames": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Custom subject alternative names for the server certificate."
        },
        "dnsName": {
          "description": "The dns name of the instance.",
          "type": "string"
        },
        "serverCaMode": {
          "type": "string",
          "description": "Specify what type of CA is used for the server certificate.",
          "enumDescriptions": [
            "CA mode is unknown.",
            "Google-managed self-signed internal CA.",
            "Google-managed regional CA part of root CA hierarchy hosted on Google Cloud's Certificate Authority Service (CAS).",
            "Customer-managed CA hosted on Google Cloud's Certificate Authority Service (CAS)."
          ],
          "enum": [
            "CA_MODE_UNSPECIFIED",
            "GOOGLE_MANAGED_INTERNAL_CA",
            "GOOGLE_MANAGED_CAS_CA",
            "CUSTOMER_MANAGED_CAS_CA"
          ]
        },
        "serverCaCert": {
          "$ref": "SslCert",
          "description": "SSL configuration."
        }
      },
      "type": "object"
    },
    "SqlInstancesReleaseSsrsLeaseResponse": {
      "description": "Response for the release SSRS lease request.",
      "properties": {
        "operationId": {
          "description": "The unique identifier for this operation.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "SqlInstancesReleaseSsrsLeaseResponse"
    },
    "TiersListResponse": {
      "description": "Tiers list response.",
      "type": "object",
      "id": "TiersListResponse",
      "properties": {
        "items": {
          "type": "array",
          "items": {
            "$ref": "Tier"
          },
          "description": "List of tiers."
        },
        "kind": {
          "type": "string",
          "description": "This is always `sql#tiersList`."
        }
      }
    },
    "User": {
      "id": "User",
      "properties": {
        "iamStatus": {
          "enumDescriptions": [
            "The default value for users that are not of type CLOUD_IAM_GROUP. Only CLOUD_IAM_GROUP users will be inactive or active. Users with an IamStatus of IAM_STATUS_UNSPECIFIED will not display whether they are active or inactive as that is not applicable to them.",
            "INACTIVE indicates a group is not available for IAM database authentication.",
            "ACTIVE indicates a group is available for IAM database authentication."
          ],
          "enum": [
            "IAM_STATUS_UNSPECIFIED",
            "INACTIVE",
            "ACTIVE"
          ],
          "description": "Indicates if a group is active or inactive for IAM database authentication.",
          "type": "string"
        },
        "dualPasswordType": {
          "description": "Dual password status for the user.",
          "enumDescriptions": [
            "The default value.",
            "Do not update the user's dual password status.",
            "No dual password usable for connecting using this user.",
            "Dual password usable for connecting using this user."
          ],
          "enum": [
            "DUAL_PASSWORD_TYPE_UNSPECIFIED",
            "NO_MODIFY_DUAL_PASSWORD",
            "NO_DUAL_PASSWORD",
            "DUAL_PASSWORD"
          ],
          "type": "string"
        },
        "host": {
          "type": "string",
          "description": "Optional. The host from which the user can connect. For `insert` operations, host defaults to an empty string. For `update` operations, host is specified as part of the request URL. The host name cannot be updated after insertion. For a MySQL instance, it's required; for a PostgreSQL or SQL Server instance, it's optional."
        },
        "passwordPolicy": {
          "$ref": "UserPasswordValidationPolicy",
          "description": "User level password validation policy."
        },
        "instance": {
          "description": "The name of the Cloud SQL instance. This does not include the project ID. Can be omitted for `update` because it is already specified on the URL.",
          "type": "string"
        },
        "iamEmail": {
          "type": "string",
          "description": "Optional. The full email for an IAM user. For normal database users, this will not be filled. Only applicable to MySQL database users."
        },
        "type": {
          "enum": [
            "BUILT_IN",
            "CLOUD_IAM_USER",
            "CLOUD_IAM_SERVICE_ACCOUNT",
            "CLOUD_IAM_GROUP",
            "CLOUD_IAM_GROUP_USER",
            "CLOUD_IAM_GROUP_SERVICE_ACCOUNT",
            "CLOUD_IAM_WORKFORCE_IDENTITY",
            "ENTRAID_USER"
          ],
          "description": "The user type. It determines the method to authenticate the user during login. The default is the database's built-in user type.",
          "enumDescriptions": [
            "The database's built-in user type.",
            "Cloud IAM user.",
            "Cloud IAM service account.",
            "Cloud IAM group. Not used for login.",
            "Read-only. Login for a user that belongs to the Cloud IAM group.",
            "Read-only. Login for a service account that belongs to the Cloud IAM group.",
            "Cloud IAM workforce identity user managed via workforce identity federation.",
            "Microsoft Entra ID user."
          ],
          "type": "string"
        },
        "sqlserverUserDetails": {
          "$ref": "SqlServerUserDetails"
        },
        "project": {
          "type": "string",
          "description": "The project ID of the project containing the Cloud SQL database. The Google apps domain is prefixed if applicable. Can be omitted for `update` because it is already specified on the URL."
        },
        "kind": {
          "type": "string",
          "description": "This is always `sql#user`."
        },
        "serverRoles": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. The server roles for the SQL Server login."
        },
        "name": {
          "description": "The name of the user in the Cloud SQL instance. Can be omitted for `update` because it is already specified in the URL.",
          "type": "string"
        },
        "etag": {
          "type": "string",
          "description": "This field is deprecated and will be removed from a future version of the API."
        },
        "password": {
          "type": "string",
          "description": "The password for the user."
        },
        "databaseRoles": {
          "description": "Optional. Role memberships of the user",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "type": "object",
      "description": "A Cloud SQL user resource."
    },
    "ListBlueGreenDeploymentsResponse": {
      "description": "The response message for listing blue-green deployment resources.",
      "id": "ListBlueGreenDeploymentsResponse",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "A token to retrieve the next page of results, or empty if there are no more results.",
          "type": "string"
        },
        "blueGreenDeployments": {
          "items": {
            "$ref": "BlueGreenDeployment"
          },
          "type": "array",
          "description": "The list of blue-green deployment resources."
        }
      }
    },
    "SqlInstancesResetReplicaSizeRequest": {
      "type": "object",
      "id": "SqlInstancesResetReplicaSizeRequest",
      "description": "Instance reset replica size request.",
      "properties": {
        "location": {
          "type": "string",
          "description": "Optional. Region of the Cloud SQL instance."
        }
      }
    },
    "InstancesRestoreBackupRequest": {
      "id": "InstancesRestoreBackupRequest",
      "properties": {
        "restoreInstanceSettings": {
          "description": "Optional. By using this parameter, Cloud SQL overrides any instance settings stored in the backup you are restoring from. You can't change the instance's major database version and you can only increase the disk size. You can use this field to restore new instances only. This field is not applicable for restore to existing instances.",
          "$ref": "DatabaseInstance"
        },
        "ignoreMaintenanceVersion": {
          "description": "Optional. If true, the restore operation proceeds even if the target instance's maintenance version is older than the source instance's maintenance version.",
          "type": "boolean"
        },
        "restoreBackupContext": {
          "description": "Parameters required to perform the restore backup operation.",
          "$ref": "RestoreBackupContext"
        },
        "backupdrBackup": {
          "type": "string",
          "description": "The name of the backup that's used to restore a Cloud SQL instance: Format: \"projects/{project-id}/locations/{location}/backupVaults/{backupvault}/dataSources/{datasource}/backups/{backup-uid}\". Only one of restore_backup_context, backup, backupdr_backup can be passed to the input."
        },
        "backup": {
          "description": "The name of the backup that's used to restore a Cloud SQL instance: Format: projects/{project-id}/backups/{backup-uid}. Only one of restore_backup_context, backup, backupdr_backup can be passed to the input.",
          "type": "string"
        },
        "restoreInstanceClearOverridesFieldNames": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Optional. This field has the same purpose as restore_instance_settings, changes any instance settings stored in the backup you are restoring from. With the difference that these fields are cleared in the settings."
        }
      },
      "type": "object",
      "description": "Database instance restore backup request."
    },
    "RotateServerCaContext": {
      "properties": {
        "nextVersion": {
          "description": "The fingerprint of the next version to be rotated to. If left unspecified, will be rotated to the most recently added server CA version.",
          "type": "string"
        },
        "kind": {
          "description": "This is always `sql#rotateServerCaContext`.",
          "type": "string"
        }
      },
      "description": "Instance rotate server CA context.",
      "id": "RotateServerCaContext",
      "type": "object"
    },
    "BlueGreenDeployment": {
      "properties": {
        "requestedConfig": {
          "description": "Optional. Immutable. Optional on create, and immutable. The configuration intended for the target instance(s) when the deployment was created.",
          "$ref": "RequestedConfig"
        },
        "state": {
          "readOnly": true,
          "enumDescriptions": [
            "The default value. This value is used if the state is omitted or unknown.",
            "The deployment is being provisioned.",
            "The deployment is ready for switchover.",
            "The deployment is not ready for switchover.",
            "The deployment is in the process of switching over.",
            "The deployment has completed switchover.",
            "The deployment is being deleted."
          ],
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "PROVISIONING",
            "SWITCHOVER_READY",
            "SWITCHOVER_NOT_READY",
            "SWITCHOVER_IN_PROGRESS",
            "SWITCHOVER_COMPLETED",
            "DELETING"
          ],
          "description": "Output only. The current state of the blue-green deployment."
        },
        "sourceInstance": {
          "description": "Required. Immutable. Required on create, and immutable. The full resource name of the source instance (the \"blue\" instance). Format: projects/{project}/instances/{instance}",
          "type": "string"
        },
        "switchoverTargetInstance": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The full resource name of the primary target instance (the \"green\" instance) that will be promoted during switchover. This field is always populated once the deployment is created. Format: projects/{project}/instances/{instance}"
        },
        "description": {
          "type": "string",
          "description": "Optional. User-provided description for the deployment. The description can be up to 255 characters long."
        },
        "deploymentTasks": {
          "readOnly": true,
          "$ref": "DeploymentTasks",
          "description": "Output only. Combined list of tasks for all paired nodes."
        },
        "name": {
          "description": "Output only. Identifier. The full resource name of the deployment. Format: projects/{project}/locations/{location}/blueGreenDeployments/{deployment_id}",
          "type": "string",
          "readOnly": true
        },
        "deploymentMappings": {
          "description": "Output only. A list representing the pairs of source and target instances in the deployment.",
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "SourceTargetPairedNode"
          }
        },
        "createTime": {
          "type": "string",
          "description": "Output only. The time when the deployment was created. Example: `2024-01-01T00:00:00Z`",
          "readOnly": true,
          "format": "google-datetime"
        },
        "errorDetail": {
          "description": "Output only. Provides details on why switchover is not possible. This field is empty unless a switchover attempt failed or the state is `SWITCHOVER_NOT_READY`. Example: \"The target database version does not match the source instance database version.\"",
          "readOnly": true,
          "type": "string"
        }
      },
      "description": "A `BlueGreenDeployment` resource represents a Cloud SQL blue-green deployment setup.",
      "id": "BlueGreenDeployment",
      "type": "object"
    },
    "ListBackupsResponse": {
      "description": "The response payload containing a list of the backups.",
      "type": "object",
      "properties": {
        "backups": {
          "description": "A list of backups.",
          "type": "array",
          "items": {
            "$ref": "Backup"
          }
        },
        "warnings": {
          "items": {
            "$ref": "ApiWarning"
          },
          "description": "If a region isn't unavailable or if an unknown error occurs, then a warning message is returned.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, then there aren't subsequent pages.",
          "type": "string"
        }
      },
      "id": "ListBackupsResponse"
    },
    "PasswordValidationPolicy": {
      "properties": {
        "complexity": {
          "description": "The complexity of the password.",
          "enumDescriptions": [
            "Complexity check is not specified.",
            "A combination of lowercase, uppercase, numeric, and non-alphanumeric characters."
          ],
          "type": "string",
          "enum": [
            "COMPLEXITY_UNSPECIFIED",
            "COMPLEXITY_DEFAULT"
          ]
        },
        "disallowCompromisedCredentials": {
          "deprecated": true,
          "description": "This field is deprecated and will be removed in a future version of the API.",
          "type": "boolean"
        },
        "minLength": {
          "description": "Minimum number of characters allowed.",
          "format": "int32",
          "type": "integer"
        },
        "enablePasswordPolicy": {
          "description": "Whether to enable the password policy or not. When enabled, passwords must meet complexity requirements. Keep this policy enabled to help prevent unauthorized access. Disabling this policy allows weak passwords.",
          "type": "boolean"
        },
        "passwordChangeInterval": {
          "description": "Minimum interval after which the password can be changed. This flag is only supported for PostgreSQL.",
          "format": "google-duration",
          "type": "string"
        },
        "reuseInterval": {
          "description": "Number of previous passwords that cannot be reused.",
          "type": "integer",
          "format": "int32"
        },
        "disallowUsernameSubstring": {
          "description": "Disallow username as a part of the password.",
          "type": "boolean"
        }
      },
      "type": "object",
      "description": "Database instance local user password validation policy. This message defines the password policy for local database users. When enabled, it enforces constraints on password complexity, length, and reuse. Keep this policy enabled to help prevent unauthorized access.",
      "id": "PasswordValidationPolicy"
    },
    "SqlInstancesAcquireSsrsLeaseResponse": {
      "id": "SqlInstancesAcquireSsrsLeaseResponse",
      "properties": {
        "operationId": {
          "description": "The unique identifier for this operation.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Response for the acquire SSRS lease request."
    },
    "DeploymentTask": {
      "id": "DeploymentTask",
      "description": "Represents a task executed as part of the deployment on a target instance.",
      "type": "object",
      "properties": {
        "errorMessage": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Optional error details if the task state is `FAILED`."
        },
        "startTime": {
          "type": "string",
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. Task start time."
        },
        "type": {
          "enum": [
            "TYPE_UNSPECIFIED",
            "PROVISION",
            "UPGRADE",
            "SWITCHOVER",
            "DELETE",
            "POST_SWITCHOVER_OPERATIONS"
          ],
          "description": "Output only. The type of the task.",
          "type": "string",
          "readOnly": true,
          "enumDescriptions": [
            "The default value. This value is used if the type is omitted.",
            "Provisions the green environment, which includes creating the target instance.",
            "Upgrades the green environment, for example, performing a major version upgrade on the target instance.",
            "Promotes the target instance and then demotes the source instance for this pair.",
            "Deletes the blue-green deployment, including underlying resources.",
            "Post-switchover operations, including cleaning up resources of the old instance, taking final backups, and updating metadata."
          ]
        },
        "endTime": {
          "format": "google-datetime",
          "type": "string",
          "readOnly": true,
          "description": "Output only. Task end time (if completed)."
        },
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "PENDING",
            "RUNNING",
            "SUCCEEDED",
            "FAILED"
          ],
          "description": "Output only. The current state of the task.",
          "readOnly": true,
          "enumDescriptions": [
            "The state of the task is unknown.",
            "The task is pending.",
            "The task is running.",
            "The task has succeeded.",
            "The task has failed."
          ],
          "type": "string"
        }
      }
    },
    "DatabasesListResponse": {
      "properties": {
        "kind": {
          "description": "This is always `sql#databasesList`.",
          "type": "string"
        },
        "items": {
          "items": {
            "$ref": "Database"
          },
          "type": "array",
          "description": "List of database resources in the instance."
        }
      },
      "id": "DatabasesListResponse",
      "type": "object",
      "description": "Database list response."
    },
    "SqlInstancesStartExternalSyncRequest": {
      "type": "object",
      "id": "SqlInstancesStartExternalSyncRequest",
      "description": "Instance start external sync request.",
      "properties": {
        "skipVerification": {
          "description": "Whether to skip the verification step (VESS).",
          "type": "boolean"
        },
        "replicaOverwriteEnabled": {
          "type": "boolean",
          "description": "Optional. MySQL only. True if end-user has confirmed that this SES call will wipe replica databases overlapping with the proposed selected_objects. If this field is not set and there are both overlapping and additional databases proposed, an error will be returned."
        },
        "location": {
          "description": "Optional. Region of the Cloud SQL instance.",
          "type": "string"
        },
        "migrationType": {
          "enum": [
            "MIGRATION_TYPE_UNSPECIFIED",
            "LOGICAL",
            "PHYSICAL"
          ],
          "description": "Optional. MigrationType configures the migration to use physical files or logical dump files. If not set, then the logical dump file configuration is used. Valid values are `LOGICAL` or `PHYSICAL`. Only applicable to MySQL.",
          "type": "string",
          "enumDescriptions": [
            "Default value is a logical dump file-based migration",
            "Logical dump file-based migration",
            "Physical file-based migration"
          ]
        },
        "mysqlSyncConfig": {
          "description": "MySQL-specific settings for start external sync.",
          "$ref": "MySqlSyncConfig"
        },
        "syncParallelLevel": {
          "description": "Optional. Parallel level for initial data sync. Currently only applicable for MySQL.",
          "type": "string",
          "enumDescriptions": [
            "Unknown sync parallel level. Will be defaulted to OPTIMAL.",
            "Minimal parallel level.",
            "Optimal parallel level.",
            "Maximum parallel level."
          ],
          "enum": [
            "EXTERNAL_SYNC_PARALLEL_LEVEL_UNSPECIFIED",
            "MIN",
            "OPTIMAL",
            "MAX"
          ]
        },
        "syncMode": {
          "enum": [
            "EXTERNAL_SYNC_MODE_UNSPECIFIED",
            "ONLINE",
            "OFFLINE"
          ],
          "description": "External sync mode.",
          "type": "string",
          "enumDescriptions": [
            "Unknown external sync mode, will be defaulted to ONLINE mode",
            "Online external sync will set up replication after initial data external sync",
            "Offline external sync only dumps and loads a one-time snapshot of the primary instance's data"
          ]
        }
      }
    },
    "PreCheckResponse": {
      "type": "object",
      "description": "Structured PreCheckResponse containing message, type, and required actions.",
      "properties": {
        "messageType": {
          "type": "string",
          "description": "The type of message whether it is an info, warning, or error.",
          "enum": [
            "MESSAGE_TYPE_UNSPECIFIED",
            "INFO",
            "WARNING",
            "ERROR"
          ],
          "enumDescriptions": [
            "Default unspecified value to prevent unintended behavior changes.",
            "General informational messages that don't require action.",
            "Warnings that might impact the upgrade but don't block it.",
            "Errors that a user must resolve before proceeding with the upgrade."
          ]
        },
        "actionsRequired": {
          "description": "The actions that the user needs to take. Use repeated for multiple actions.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "message": {
          "description": "The message to be displayed to the user.",
          "type": "string"
        }
      },
      "id": "PreCheckResponse"
    },
    "SqlServerUserDetails": {
      "type": "object",
      "properties": {
        "serverRoles": {
          "description": "Indicates the server roles for this user.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "disabled": {
          "description": "Indicates if the user has been disabled.",
          "type": "boolean"
        }
      },
      "description": "Represents a Sql Server user on the Cloud SQL instance.",
      "id": "SqlServerUserDetails"
    },
    "BackupConfiguration": {
      "id": "BackupConfiguration",
      "properties": {
        "replicationLogArchivingEnabled": {
          "deprecated": true,
          "description": "Optional. Deprecated: replication_log_archiving_enabled is deprecated and will be removed from a future version of the API. Use point_in_time_recovery_enabled instead.",
          "type": "boolean"
        },
        "backupTier": {
          "description": "Output only. Backup tier that manages the backups for the instance.",
          "type": "string",
          "enum": [
            "BACKUP_TIER_UNSPECIFIED",
            "STANDARD",
            "ADVANCED",
            "ENHANCED"
          ],
          "readOnly": true,
          "enumDeprecated": [
            false,
            false,
            true,
            false
          ],
          "enumDescriptions": [
            "Unspecified.",
            "Instance is managed by Cloud SQL.",
            "Deprecated: ADVANCED is deprecated. Please use ENHANCED instead.",
            "Instance is managed by Google Cloud Backup and DR Service."
          ]
        },
        "enabled": {
          "description": "Whether this configuration is enabled.",
          "type": "boolean"
        },
        "location": {
          "type": "string",
          "description": "Location of the backup"
        },
        "transactionalLogStorageState": {
          "enum": [
            "TRANSACTIONAL_LOG_STORAGE_STATE_UNSPECIFIED",
            "DISK",
            "SWITCHING_TO_CLOUD_STORAGE",
            "SWITCHED_TO_CLOUD_STORAGE",
            "CLOUD_STORAGE"
          ],
          "enumDescriptions": [
            "Unspecified.",
            "The transaction logs used for PITR for the instance are stored on a data disk.",
            "The transaction logs used for PITR for the instance are switching from being stored on a data disk to being stored in Cloud Storage. Only applicable to MySQL.",
            "The transaction logs used for PITR for the instance are now stored in Cloud Storage. Previously, they were stored on a data disk. Only applicable to MySQL.",
            "The transaction logs used for PITR for the instance are stored in Cloud Storage. Only applicable to MySQL and PostgreSQL."
          ],
          "description": "Output only. This value contains the storage location of transactional logs used to perform point-in-time recovery (PITR) for the database.",
          "readOnly": true,
          "type": "string"
        },
        "backupRetentionSettings": {
          "description": "Backup retention settings.",
          "$ref": "BackupRetentionSettings"
        },
        "kind": {
          "description": "This is always `sql#backupConfiguration`.",
          "type": "string"
        },
        "transactionLogRetentionDays": {
          "type": "integer",
          "description": "The number of days of transaction logs we retain for point in time restore, from 1-7.",
          "format": "int32"
        },
        "startTime": {
          "description": "Start time for the daily backup configuration in UTC timezone in the 24 hour format - `HH:MM`.",
          "type": "string"
        },
        "binaryLogEnabled": {
          "type": "boolean",
          "description": "(MySQL only) Whether binary log is enabled. If backup configuration is disabled, binarylog must be disabled as well."
        },
        "pointInTimeRecoveryEnabled": {
          "type": "boolean",
          "description": "Whether point in time recovery is enabled."
        }
      },
      "type": "object",
      "description": "Database instance backup configuration."
    },
    "Value": {
      "type": "object",
      "id": "Value",
      "description": "The cell value of the table.",
      "properties": {
        "nullValue": {
          "type": "boolean",
          "description": "If cell value is null, then this flag will be set to true."
        },
        "value": {
          "type": "string",
          "description": "The cell value in string format."
        }
      }
    },
    "ExportContext": {
      "id": "ExportContext",
      "description": "Database instance export context.",
      "type": "object",
      "properties": {
        "fileType": {
          "type": "string",
          "description": "The file type for the specified uri.",
          "enum": [
            "SQL_FILE_TYPE_UNSPECIFIED",
            "SQL",
            "CSV",
            "BAK",
            "TDE"
          ],
          "enumDescriptions": [
            "Unknown file type.",
            "File containing SQL statements.",
            "File in CSV format.",
            "",
            "TDE certificate."
          ]
        },
        "bakExportOptions": {
          "type": "object",
          "description": "Options for exporting BAK files (SQL Server-only)",
          "properties": {
            "exportLogStartTime": {
              "description": "Optional. The begin timestamp when transaction log will be included in the export operation. [RFC 3339](https://tools.ietf.org/html/rfc3339) format (for example, `2023-10-01T16:19:00.094`) in UTC. When omitted, all available logs from the beginning of retention period will be included. Only applied to Cloud SQL for SQL Server.",
              "type": "string",
              "format": "google-datetime"
            },
            "differentialBase": {
              "description": "Whether or not the backup can be used as a differential base copy_only backup can not be served as differential base",
              "type": "boolean"
            },
            "copyOnly": {
              "deprecated": true,
              "type": "boolean",
              "description": "Deprecated: copy_only is deprecated. Use differential_base instead"
            },
            "stripeCount": {
              "description": "Option for specifying how many stripes to use for the export. If blank, and the value of the striped field is true, the number of stripes is automatically chosen.",
              "format": "int32",
              "type": "integer"
            },
            "striped": {
              "type": "boolean",
              "description": "Whether or not the export should be striped."
            },
            "bakType": {
              "type": "string",
              "enumDescriptions": [
                "Default type.",
                "Full backup.",
                "Differential backup.",
                "Transaction Log backup"
              ],
              "description": "Type of this bak file will be export, FULL or DIFF, SQL Server only",
              "enum": [
                "BAK_TYPE_UNSPECIFIED",
                "FULL",
                "DIFF",
                "TLOG"
              ]
            },
            "exportLogEndTime": {
              "description": "Optional. The end timestamp when transaction log will be included in the export operation. [RFC 3339](https://tools.ietf.org/html/rfc3339) format (for example, `2023-10-01T16:19:00.094`) in UTC. When omitted, all available logs until current time will be included. Only applied to Cloud SQL for SQL Server.",
              "format": "google-datetime",
              "type": "string"
            }
          }
        },
        "tdeExportOptions": {
          "properties": {
            "certificatePath": {
              "description": "Required. Path to the TDE certificate public key in the form gs://bucketName/fileName. The instance must have write access to the bucket. Applicable only for SQL Server instances.",
              "type": "string"
            },
            "privateKeyPath": {
              "type": "string",
              "description": "Required. Path to the TDE certificate private key in the form gs://bucketName/fileName. The instance must have write access to the location. Applicable only for SQL Server instances."
            },
            "privateKeyPassword": {
              "type": "string",
              "description": "Required. Password that encrypts the private key."
            },
            "name": {
              "description": "Required. Certificate name. Applicable only for SQL Server instances.",
              "type": "string"
            }
          },
          "type": "object",
          "description": "Optional. Export parameters specific to SQL Server TDE certificates"
        },
        "csvExportOptions": {
          "type": "object",
          "description": "Options for exporting data as CSV. `MySQL` and `PostgreSQL` instances only.",
          "properties": {
            "escapeCharacter": {
              "type": "string",
              "description": "Specifies the character that should appear before a data character that needs to be escaped."
            },
            "quoteCharacter": {
              "description": "Specifies the quoting character to be used when a data value is quoted.",
              "type": "string"
            },
            "linesTerminatedBy": {
              "description": "This is used to separate lines. If a line does not contain all fields, the rest of the columns are set to their default values.",
              "type": "string"
            },
            "fieldsTerminatedBy": {
              "description": "Specifies the character that separates columns within each row (line) of the file.",
              "type": "string"
            },
            "selectQuery": {
              "description": "The select query used to extract the data.",
              "type": "string"
            }
          }
        },
        "offload": {
          "description": "Whether to perform a serverless export.",
          "type": "boolean"
        },
        "kind": {
          "description": "This is always `sql#exportContext`.",
          "type": "string"
        },
        "sqlExportOptions": {
          "description": "Options for exporting data as SQL statements.",
          "type": "object",
          "properties": {
            "mysqlExportOptions": {
              "properties": {
                "masterData": {
                  "description": "Option to include SQL statement required to set up replication. If set to `1`, the dump file includes a CHANGE MASTER TO statement with the binary log coordinates, and --set-gtid-purged is set to ON. If set to `2`, the CHANGE MASTER TO statement is written as a SQL comment and has no effect. If set to any value other than `1`, --set-gtid-purged is set to OFF.",
                  "type": "integer",
                  "format": "int32"
                }
              },
              "type": "object",
              "description": "Options for exporting from MySQL."
            },
            "schemaOnly": {
              "type": "boolean",
              "description": "Export only schemas."
            },
            "parallel": {
              "description": "Optional. Whether or not the export should be parallel.",
              "type": "boolean"
            },
            "tables": {
              "items": {
                "type": "string"
              },
              "type": "array",
              "description": "Tables to export, or that were exported, from the specified database. If you specify tables, specify one and only one database. For PostgreSQL instances, you can specify only one table."
            },
            "threads": {
              "type": "integer",
              "description": "Optional. The number of threads to use for parallel export.",
              "format": "int32"
            },
            "postgresExportOptions": {
              "properties": {
                "ifExists": {
                  "type": "boolean",
                  "description": "Optional. Option to include an IF EXISTS SQL statement with each DROP statement produced by clean."
                },
                "clean": {
                  "description": "Optional. Use this option to include DROP <object> SQL statements. Use these statements to delete database objects before running the import operation.",
                  "type": "boolean"
                }
              },
              "type": "object",
              "description": "Options for exporting from a Cloud SQL for PostgreSQL instance."
            }
          }
        },
        "databases": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Databases to be exported. `MySQL instances:` If `fileType` is `SQL` and no database is specified, all databases are exported, except for the `mysql` system database. If `fileType` is `CSV`, you can specify one database, either by using this property or by using the `csvExportOptions.selectQuery` property, which takes precedence over this property. `PostgreSQL instances:` If you don't specify a database by name, all user databases in the instance are exported. This excludes system databases and Cloud SQL databases used to manage internal operations. Exporting all user databases is only available for directory-formatted parallel export. If `fileType` is `CSV`, this database must match the one specified in the `csvExportOptions.selectQuery` property. `SQL Server instances:` You must specify one database to be exported, and the `fileType` must be `BAK`."
        },
        "uri": {
          "type": "string",
          "description": "The path to the file in Google Cloud Storage where the export will be stored. The URI is in the form `gs://bucketName/fileName`. If the file already exists, the request succeeds, but the operation fails. If `fileType` is `SQL` and the filename ends with .gz, the contents are compressed."
        }
      }
    },
    "Row": {
      "id": "Row",
      "type": "object",
      "properties": {
        "values": {
          "description": "The values for the row.",
          "items": {
            "$ref": "Value"
          },
          "type": "array"
        }
      },
      "description": "Contains the values for a row."
    },
    "SqlServerDatabaseDetails": {
      "description": "Represents a Sql Server database on the Cloud SQL instance.",
      "id": "SqlServerDatabaseDetails",
      "type": "object",
      "properties": {
        "compatibilityLevel": {
          "description": "The version of SQL Server with which the database is to be made compatible",
          "format": "int32",
          "type": "integer"
        },
        "recoveryModel": {
          "type": "string",
          "description": "The recovery model of a SQL Server database"
        }
      }
    },
    "DataCacheConfig": {
      "type": "object",
      "description": "Data cache configurations.",
      "id": "DataCacheConfig",
      "properties": {
        "dataCacheEnabled": {
          "type": "boolean",
          "description": "Whether data cache is enabled for the instance."
        }
      }
    },
    "SslCertsListResponse": {
      "description": "SslCerts list response.",
      "id": "SslCertsListResponse",
      "type": "object",
      "properties": {
        "kind": {
          "description": "This is always `sql#sslCertsList`.",
          "type": "string"
        },
        "items": {
          "description": "List of client certificates for the instance.",
          "type": "array",
          "items": {
            "$ref": "SslCert"
          }
        }
      }
    },
    "TargetRole": {
      "description": "The target instance for the Blue-Green deployment.",
      "id": "TargetRole",
      "properties": {
        "sourceId": {
          "$ref": "InstanceReference",
          "description": "Output only. The source instance paired with this target instance in a blue-green deployment.",
          "readOnly": true
        }
      },
      "type": "object"
    },
    "ConfigDiff": {
      "id": "ConfigDiff",
      "properties": {
        "field": {
          "description": "Output only. The name of the field that differs in the blue and green instances, fully-qualified. Example: `settings.tier`",
          "readOnly": true,
          "type": "string"
        },
        "sourceValue": {
          "description": "Output only. The value on the source instance.",
          "readOnly": true,
          "type": "string"
        },
        "targetValue": {
          "type": "string",
          "description": "Output only. The value on the target instance.",
          "readOnly": true
        }
      },
      "type": "object",
      "description": "Represents a specific configuration difference between blue and green instances."
    },
    "OperationMetadata": {
      "id": "OperationMetadata",
      "properties": {
        "endTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The time the operation finished running.",
          "format": "google-datetime"
        },
        "target": {
          "description": "Output only. Server-defined resource path for the target of the operation.",
          "readOnly": true,
          "type": "string"
        },
        "verb": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Name of the verb executed by the operation."
        },
        "statusDetail": {
          "description": "Output only. Human-readable status of the operation, if any.",
          "readOnly": true,
          "type": "string"
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. The time the operation was created."
        },
        "apiVersion": {
          "readOnly": true,
          "description": "Output only. API version used to start the operation.",
          "type": "string"
        },
        "cancelRequested": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. Identifies whether the user has requested cancellation of the operation. Operations that have been cancelled successfully have google.longrunning.Operation.error value with a google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`."
        }
      },
      "type": "object",
      "description": "Represents the metadata of the long-running operation."
    },
    "PointInTimeRestoreContext": {
      "type": "object",
      "description": "The context to perform a point-in-time recovery of an instance managed by Backup and Disaster Recovery (DR) Service.",
      "properties": {
        "datasource": {
          "type": "string",
          "description": "The Backup and Disaster Recovery (DR) Service Datasource URI. Format: projects/{project}/locations/{region}/backupVaults/{backupvault}/dataSources/{datasource}."
        },
        "targetInstance": {
          "description": "Target instance name.",
          "type": "string"
        },
        "region": {
          "type": "string",
          "description": "Optional. The region of the target instance where the datasource will be restored. For example: \"us-central1\"."
        },
        "targetInstanceClearSettingsFieldNames": {
          "description": "Optional. Specifies the instance settings that will be cleared from the source instance. This field is only applicable for cross project PITRs.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "preferredZone": {
          "description": "Optional. Point-in-time recovery of an instance to the specified zone. If no zone is specified, then clone to the same primary zone as the source instance.",
          "type": "string"
        },
        "privateNetwork": {
          "type": "string",
          "description": "Optional. The resource link for the VPC network from which the Cloud SQL instance is accessible for private IP. For example, `/projects/myProject/global/networks/default`."
        },
        "targetInstanceSettings": {
          "description": "Optional. Specifies the instance settings that will be overridden from the source instance. This field is only applicable for cross project PITRs.",
          "$ref": "DatabaseInstance"
        },
        "preferredSecondaryZone": {
          "description": "Optional. Point-in-time recovery of a regional instance in the specified zones. If not specified, clone to the same secondary zone as the source instance. This value cannot be the same as the preferred_zone field.",
          "type": "string"
        },
        "allocatedIpRange": {
          "description": "Optional. The name of the allocated IP range for the internal IP Cloud SQL instance. For example: \"google-managed-services-default\". If you set this, then Cloud SQL creates the IP address for the cloned instance in the allocated range. This range must comply with [RFC 1035](https://tools.ietf.org/html/rfc1035) standards. Specifically, the name must be 1-63 characters long and match the regular expression [a-z]([-a-z0-9]*[a-z0-9])?. Reserved for future use.",
          "type": "string"
        },
        "pointInTime": {
          "description": "Required. The date and time to which you want to restore the instance.",
          "type": "string",
          "format": "google-datetime"
        }
      },
      "id": "PointInTimeRestoreContext"
    },
    "DnsNameMapping": {
      "id": "DnsNameMapping",
      "type": "object",
      "description": "DNS metadata.",
      "properties": {
        "name": {
          "description": "Output only. The DNS name.",
          "type": "string",
          "readOnly": true
        },
        "connectionType": {
          "enumDescriptions": [
            "Unknown connection type.",
            "Public IP.",
            "Private services access (private IP).",
            "Private Service Connect."
          ],
          "enum": [
            "CONNECTION_TYPE_UNSPECIFIED",
            "PUBLIC",
            "PRIVATE_SERVICES_ACCESS",
            "PRIVATE_SERVICE_CONNECT"
          ],
          "description": "Output only. The connection type of the DNS name.",
          "type": "string",
          "readOnly": true
        },
        "recordManager": {
          "enum": [
            "RECORD_MANAGER_UNSPECIFIED",
            "CUSTOMER",
            "CLOUD_SQL_AUTOMATION"
          ],
          "readOnly": true,
          "enumDescriptions": [
            "Record manager not set. This value should not be used.",
            "The record may be managed by the customer. It is not automatically managed by Cloud SQL automation.",
            "The record is managed by Cloud SQL, which will create, update, and delete the DNS records for the zone automatically when the Cloud SQL database instance is created or updated."
          ],
          "description": "Output only. The manager for this DNS record.",
          "type": "string"
        },
        "dnsScope": {
          "description": "Output only. The scope that the DNS name applies to.",
          "readOnly": true,
          "enum": [
            "DNS_SCOPE_UNSPECIFIED",
            "INSTANCE",
            "CLUSTER"
          ],
          "enumDescriptions": [
            "DNS scope not set. This value should not be used.",
            "Indicates an instance-level DNS name.",
            "Indicates a cluster-level DNS name."
          ],
          "type": "string"
        }
      }
    },
    "SqlScheduledMaintenance": {
      "type": "object",
      "properties": {
        "canReschedule": {
          "description": "If the scheduled maintenance can be rescheduled.",
          "type": "boolean"
        },
        "canDefer": {
          "type": "boolean",
          "deprecated": true
        },
        "scheduleDeadlineTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Maintenance cannot be rescheduled to start beyond this deadline."
        },
        "startTime": {
          "type": "string",
          "description": "The start time of any upcoming scheduled maintenance for this instance.",
          "format": "google-datetime"
        }
      },
      "id": "SqlScheduledMaintenance",
      "description": "Any scheduled maintenance for this instance."
    },
    "RestoreBackupContext": {
      "type": "object",
      "description": "Database instance restore from backup context. Backup context contains source instance id and project id.",
      "properties": {
        "project": {
          "description": "The full project ID of the source instance.",
          "type": "string"
        },
        "instanceId": {
          "description": "The ID of the instance that the backup was taken from.",
          "type": "string"
        },
        "backupRunId": {
          "description": "The ID of the backup run to restore from.",
          "format": "int64",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "description": "This is always `sql#restoreBackupContext`."
        }
      },
      "id": "RestoreBackupContext"
    },
    "ImportContext": {
      "id": "ImportContext",
      "type": "object",
      "properties": {
        "importUser": {
          "description": "The PostgreSQL user for this import operation. PostgreSQL instances only.",
          "type": "string"
        },
        "csvImportOptions": {
          "type": "object",
          "properties": {
            "columns": {
              "type": "array",
              "description": "The columns to which CSV data is imported. If not specified, all columns of the database table are loaded with CSV data.",
              "items": {
                "type": "string"
              }
            },
            "table": {
              "description": "The table to which CSV data is imported.",
              "type": "string"
            },
            "escapeCharacter": {
              "description": "Specifies the character that should appear before a data character that needs to be escaped.",
              "type": "string"
            },
            "linesTerminatedBy": {
              "description": "This is used to separate lines. If a line does not contain all fields, the rest of the columns are set to their default values.",
              "type": "string"
            },
            "quoteCharacter": {
              "description": "Specifies the quoting character to be used when a data value is quoted.",
              "type": "string"
            },
            "fieldsTerminatedBy": {
              "description": "Specifies the character that separates columns within each row (line) of the file.",
              "type": "string"
            }
          },
          "description": "Options for importing data as CSV."
        },
        "kind": {
          "type": "string",
          "description": "This is always `sql#importContext`."
        },
        "bakImportOptions": {
          "description": "Import parameters specific to SQL Server .BAK files",
          "properties": {
            "noRecovery": {
              "type": "boolean",
              "description": "Whether or not the backup importing will restore database with NORECOVERY option. Applies only to Cloud SQL for SQL Server."
            },
            "stopAt": {
              "description": "Optional. The timestamp when the import should stop. This timestamp is in the [RFC 3339](https://tools.ietf.org/html/rfc3339) format (for example, `2023-10-01T16:19:00.094`). This field is equivalent to the STOPAT keyword and applies to Cloud SQL for SQL Server only.",
              "type": "string",
              "format": "google-datetime"
            },
            "encryptionOptions": {
              "properties": {
                "certPath": {
                  "description": "Path to the Certificate (.cer) in Cloud Storage, in the form `gs://bucketName/fileName`. The instance must have write permissions to the bucket and read access to the file.",
                  "type": "string"
                },
                "pvkPassword": {
                  "description": "Password that encrypts the private key",
                  "type": "string"
                },
                "pvkPath": {
                  "description": "Path to the Certificate Private Key (.pvk) in Cloud Storage, in the form `gs://bucketName/fileName`. The instance must have write permissions to the bucket and read access to the file.",
                  "type": "string"
                },
                "keepEncrypted": {
                  "description": "Optional. Whether the imported file remains encrypted.",
                  "type": "boolean"
                }
              },
              "type": "object"
            },
            "striped": {
              "description": "Whether or not the backup set being restored is striped. Applies only to Cloud SQL for SQL Server.",
              "type": "boolean"
            },
            "recoveryOnly": {
              "description": "Whether or not the backup importing request will just bring database online without downloading Bak content only one of \"no_recovery\" and \"recovery_only\" can be true otherwise error will return. Applies only to Cloud SQL for SQL Server.",
              "type": "boolean"
            },
            "stopAtMark": {
              "description": "Optional. The marked transaction where the import should stop. This field is equivalent to the STOPATMARK keyword and applies to Cloud SQL for SQL Server only.",
              "type": "string"
            },
            "bakType": {
              "enum": [
                "BAK_TYPE_UNSPECIFIED",
                "FULL",
                "DIFF",
                "TLOG"
              ],
              "enumDescriptions": [
                "Default type.",
                "Full backup.",
                "Differential backup.",
                "Transaction Log backup"
              ],
              "type": "string",
              "description": "Type of the bak content, FULL or DIFF"
            }
          },
          "type": "object"
        },
        "uri": {
          "description": "Path to the import file in Cloud Storage, in the form `gs://bucketName/fileName`. Compressed gzip files (.gz) are supported when `fileType` is `SQL`. The instance must have write permissions to the bucket and read access to the file.",
          "type": "string"
        },
        "sqlImportOptions": {
          "properties": {
            "parallel": {
              "description": "Optional. Whether or not the import should be parallel.",
              "type": "boolean"
            },
            "postgresImportOptions": {
              "description": "Optional. Options for importing from a Cloud SQL for PostgreSQL instance.",
              "properties": {
                "ifExists": {
                  "type": "boolean",
                  "description": "Optional. The --if-exists flag for the pg_restore utility. This flag applies only if you enabled Cloud SQL to import files in parallel."
                },
                "clean": {
                  "type": "boolean",
                  "description": "Optional. The --clean flag for the pg_restore utility. This flag applies only if you enabled Cloud SQL to import files in parallel."
                }
              },
              "type": "object"
            },
            "threads": {
              "format": "int32",
              "type": "integer",
              "description": "Optional. The number of threads to use for parallel import."
            }
          },
          "description": "Optional. Options for importing data from SQL statements.",
          "type": "object"
        },
        "tdeImportOptions": {
          "properties": {
            "certificatePath": {
              "type": "string",
              "description": "Required. Path to the TDE certificate public key in the form gs://bucketName/fileName. The instance must have read access to the file. Applicable only for SQL Server instances."
            },
            "name": {
              "description": "Required. Certificate name. Applicable only for SQL Server instances.",
              "type": "string"
            },
            "privateKeyPassword": {
              "description": "Required. Password that encrypts the private key.",
              "type": "string"
            },
            "privateKeyPath": {
[...]
