{
  "title": "Cloud SQL Admin API",
  "ownerName": "Google",
  "batchPath": "batch",
  "mtlsRootUrl": "https://sqladmin.mtls.googleapis.com/",
  "kind": "discovery#restDescription",
  "rootUrl": "https://sqladmin.googleapis.com/",
  "description": "Cloud SQL Admin API",
  "fullyEncodeReservedExpansion": true,
  "documentationLink": "https://cloud.google.com/sql/docs",
  "discoveryVersion": "v1",
  "id": "sqladmin:v1beta4",
  "parameters": {
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query",
      "type": "string"
    },
    "alt": {
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "type": "string",
      "location": "query",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "default": "json",
      "description": "Data format for response."
    },
    "upload_protocol": {
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query",
      "type": "string"
    },
    "prettyPrint": {
      "default": "true",
      "location": "query",
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean"
    },
    "$.xgafv": {
      "description": "V1 error format.",
      "type": "string",
      "location": "query",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "enum": [
        "1",
        "2"
      ]
    },
    "callback": {
      "description": "JSONP",
      "type": "string",
      "location": "query"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string",
      "location": "query"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "type": "string",
      "location": "query"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "access_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth access token."
    }
  },
  "endpoints": [
    {
      "endpointUrl": "https://sqladmin.us-east7.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "us-east7"
    },
    {
      "location": "northamerica-northeast1",
      "endpointUrl": "https://sqladmin.northamerica-northeast1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://sqladmin.northamerica-northeast2.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "northamerica-northeast2"
    },
    {
      "endpointUrl": "https://sqladmin.europe-north1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "europe-north1"
    },
    {
      "location": "us-west2",
      "endpointUrl": "https://sqladmin.us-west2.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "asia-east2",
      "endpointUrl": "https://sqladmin.asia-east2.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "europe-west3",
      "endpointUrl": "https://sqladmin.europe-west3.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "us-east1",
      "endpointUrl": "https://sqladmin.us-east1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://sqladmin.asia-east1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "asia-east1"
    },
    {
      "endpointUrl": "https://sqladmin.asia-northeast2.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "asia-northeast2"
    },
    {
      "location": "me-central1",
      "endpointUrl": "https://sqladmin.me-central1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://sqladmin.europe-central2.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "europe-central2"
    },
    {
      "endpointUrl": "https://sqladmin.northamerica-south1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "northamerica-south1"
    },
    {
      "location": "us-west8",
      "endpointUrl": "https://sqladmin.us-west8.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "me-west1",
      "endpointUrl": "https://sqladmin.me-west1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "asia-northeast3",
      "endpointUrl": "https://sqladmin.asia-northeast3.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "us-west1",
      "endpointUrl": "https://sqladmin.us-west1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "europe-west9",
      "endpointUrl": "https://sqladmin.europe-west9.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "asia-southeast3",
      "endpointUrl": "https://sqladmin.asia-southeast3.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "europe-west1",
      "endpointUrl": "https://sqladmin.europe-west1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://sqladmin.asia-southeast1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "asia-southeast1"
    },
    {
      "endpointUrl": "https://sqladmin.us-west4.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "us-west4"
    },
    {
      "endpointUrl": "https://sqladmin.europe-west12.rep.googleapis.com/",
      "location": "europe-west12",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://sqladmin.asia-south2.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "asia-south2"
    },
    {
      "endpointUrl": "https://sqladmin.australia-southeast1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "australia-southeast1"
    },
    {
      "endpointUrl": "https://sqladmin.europe-west6.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "europe-west6"
    },
    {
      "endpointUrl": "https://sqladmin.us-east4.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "us-east4"
    },
    {
      "endpointUrl": "https://sqladmin.asia-southeast2.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "asia-southeast2"
    },
    {
      "endpointUrl": "https://sqladmin.europe-southwest1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "europe-southwest1"
    },
    {
      "endpointUrl": "https://sqladmin.europe-west8.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "europe-west8"
    },
    {
      "endpointUrl": "https://sqladmin.africa-south1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "africa-south1"
    },
    {
      "location": "me-central2",
      "endpointUrl": "https://sqladmin.me-central2.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://sqladmin.us-central1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "us-central1"
    },
    {
      "endpointUrl": "https://sqladmin.us-central2.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "us-central2"
    },
    {
      "location": "europe-north2",
      "endpointUrl": "https://sqladmin.europe-north2.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "asia-northeast1",
      "endpointUrl": "https://sqladmin.asia-northeast1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "europe-west2",
      "endpointUrl": "https://sqladmin.europe-west2.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "southamerica-east1",
      "endpointUrl": "https://sqladmin.southamerica-east1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://sqladmin.us-east5.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "us-east5"
    },
    {
      "endpointUrl": "https://sqladmin.asia-south1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "asia-south1"
    },
    {
      "location": "europe-west4",
      "endpointUrl": "https://sqladmin.europe-west4.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "us-west3",
      "endpointUrl": "https://sqladmin.us-west3.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "australia-southeast2",
      "endpointUrl": "https://sqladmin.australia-southeast2.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "southamerica-west1",
      "endpointUrl": "https://sqladmin.southamerica-west1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://sqladmin.europe-west10.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "europe-west10"
    },
    {
      "endpointUrl": "https://sqladmin.us-south1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "us-south1"
    }
  ],
  "ownerDomain": "google.com",
  "version": "v1beta4",
  "resources": {
    "sslCerts": {
      "methods": {
        "createEphemeral": {
          "flatPath": "sql/v1beta4/projects/{project}/instances/{instance}/createEphemeral",
          "description": "Generates a short-lived X509 certificate containing the provided public key and signed by a private key specific to the target instance. Users may use the certificate to authenticate as themselves when connecting to the database.",
          "parameterOrder": [
            "project",
            "instance"
          ],
          "path": "sql/v1beta4/projects/{project}/instances/{instance}/createEphemeral",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "request": {
            "$ref": "SslCertsCreateEphemeralRequest"
          },
          "response": {
            "$ref": "SslCert"
          },
          "httpMethod": "POST",
          "parameters": {
            "instance": {
              "description": "Cloud SQL instance ID. This does not include the project ID.",
              "required": true,
              "location": "path",
              "type": "string"
            },
            "project": {
              "required": true,
              "description": "Project ID of the Cloud SQL project.",
              "type": "string",
              "location": "path"
            },
            "location": {
              "description": "Optional. Region of the Cloud SQL instance.",
              "type": "string",
              "location": "query"
            }
          },
          "id": "sql.sslCerts.createEphemeral"
        },
        "delete": {
          "description": "Deletes the SSL certificate. For First Generation instances, the certificate remains valid until the instance is restarted.",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "flatPath": "sql/v1beta4/projects/{project}/instances/{instance}/sslCerts/{sha1Fingerprint}",
          "path": "sql/v1beta4/projects/{project}/instances/{instance}/sslCerts/{sha1Fingerprint}",
          "id": "sql.sslCerts.delete",
          "parameterOrder": [
            "project",
            "instance",
            "sha1Fingerprint"
          ],
          "parameters": {
            "project": {
              "required": true,
              "location": "path",
              "type": "string",
              "description": "Project ID of the project that contains the instance."
            },
            "sha1Fingerprint": {
              "description": "Sha1 FingerPrint.",
              "location": "path",
              "type": "string",
              "required": true
            },
            "instance": {
              "description": "Cloud SQL instance ID. This does not include the project ID.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "httpMethod": "DELETE",
          "response": {
            "$ref": "Operation"
          }
        },
        "insert": {
          "parameters": {
            "project": {
              "required": true,
              "type": "string",
              "description": "Project ID of the project that contains the instance.",
              "location": "path"
            },
            "instance": {
              "type": "string",
              "location": "path",
              "required": true,
              "description": "Cloud SQL instance ID. This does not include the project ID."
            }
          },
          "id": "sql.sslCerts.insert",
          "description": "Creates an SSL certificate and returns it along with the private key and server certificate authority. The new certificate will not be usable until the instance is restarted.",
          "httpMethod": "POST",
          "path": "sql/v1beta4/projects/{project}/instances/{instance}/sslCerts",
          "flatPath": "sql/v1beta4/projects/{project}/instances/{instance}/sslCerts",
          "request": {
            "$ref": "SslCertsInsertRequest"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "response": {
            "$ref": "SslCertsInsertResponse"
          },
          "parameterOrder": [
            "project",
            "instance"
          ]
        },
        "list": {
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "flatPath": "sql/v1beta4/projects/{project}/instances/{instance}/sslCerts",
          "parameterOrder": [
            "project",
            "instance"
          ],
          "id": "sql.sslCerts.list",
          "description": "Lists all of the current SSL certificates for the instance.",
          "path": "sql/v1beta4/projects/{project}/instances/{instance}/sslCerts",
          "parameters": {
            "instance": {
              "required": true,
              "type": "string",
              "description": "Cloud SQL instance ID. This does not include the project ID.",
              "location": "path"
            },
            "project": {
              "description": "Project ID of the project that contains the instance.",
              "required": true,
              "location": "path",
              "type": "string"
            }
          },
          "httpMethod": "GET",
          "response": {
            "$ref": "SslCertsListResponse"
          }
        },
        "get": {
          "description": "Retrieves a particular SSL certificate. Does not include the private key (required for usage). The private key must be saved from the response to initial creation.",
          "flatPath": "sql/v1beta4/projects/{project}/instances/{instance}/sslCerts/{sha1Fingerprint}",
          "path": "sql/v1beta4/projects/{project}/instances/{instance}/sslCerts/{sha1Fingerprint}",
          "id": "sql.sslCerts.get",
          "response": {
            "$ref": "SslCert"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "httpMethod": "GET",
          "parameterOrder": [
            "project",
            "instance",
            "sha1Fingerprint"
          ],
          "parameters": {
            "project": {
              "required": true,
              "type": "string",
              "description": "Project ID of the project that contains the instance.",
              "location": "path"
            },
            "sha1Fingerprint": {
              "location": "path",
              "type": "string",
              "description": "Sha1 FingerPrint.",
              "required": true
            },
            "instance": {
              "description": "Cloud SQL instance ID. This does not include the project ID.",
              "location": "path",
              "type": "string",
              "required": true
            }
          }
        }
      }
    },
    "tiers": {
      "methods": {
        "list": {
          "response": {
            "$ref": "TiersListResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "id": "sql.tiers.list",
          "httpMethod": "GET",
          "path": "sql/v1beta4/projects/{project}/tiers",
          "parameters": {
            "project": {
              "required": true,
              "description": "Project ID of the project for which to list tiers.",
              "type": "string",
              "location": "path"
            }
          },
          "parameterOrder": [
            "project"
          ],
          "flatPath": "sql/v1beta4/projects/{project}/tiers",
          "description": "Lists all available machine types (tiers) for Cloud SQL, for example, `db-custom-1-3840`. For related information, see [Pricing](/sql/pricing)."
        }
      }
    },
    "operations": {
      "methods": {
        "cancel": {
          "response": {
            "$ref": "Empty"
          },
          "httpMethod": "POST",
          "parameters": {
            "location": {
              "type": "string",
              "location": "query",
              "description": "Optional. Region of the Cloud SQL instance."
            },
            "operation": {
              "required": true,
              "description": "Instance operation ID.",
              "type": "string",
              "location": "path"
            },
            "project": {
              "required": true,
              "description": "Project ID of the project that contains the instance.",
              "type": "string",
              "location": "path"
            }
          },
          "description": "Cancels an instance operation that has been performed on an instance. Ordinarily, this method name should be `CancelSqlOperation`.",
          "path": "sql/v1beta4/projects/{project}/operations/{operation}/cancel",
          "id": "sql.operations.cancel",
          "parameterOrder": [
            "project",
            "operation"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "flatPath": "sql/v1beta4/projects/{project}/operations/{operation}/cancel"
        },
        "list": {
          "parameters": {
            "pageToken": {
              "type": "string",
              "location": "query",
              "description": "A previously-returned page token representing part of the larger set of results to view."
            },
            "location": {
              "location": "query",
              "type": "string",
              "description": "Optional. Region of the Cloud SQL instance."
            },
            "instance": {
              "type": "string",
              "description": "Cloud SQL instance ID. This does not include the project ID.",
              "location": "query"
            },
            "project": {
              "type": "string",
              "required": true,
              "location": "path",
              "description": "Project ID of the project that contains the instance."
            },
            "maxResults": {
              "type": "integer",
              "format": "uint32",
              "location": "query",
              "description": "Maximum number of operations per response."
            }
          },
          "httpMethod": "GET",
          "response": {
            "$ref": "OperationsListResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "parameterOrder": [
            "project"
          ],
          "path": "sql/v1beta4/projects/{project}/operations",
          "flatPath": "sql/v1beta4/projects/{project}/operations",
          "id": "sql.operations.list",
          "description": "Lists all instance operations that have been performed on the given Cloud SQL instance in the reverse chronological order of the start time."
        },
        "get": {
          "response": {
            "$ref": "Operation"
          },
          "httpMethod": "GET",
          "parameters": {
            "operation": {
              "description": "Instance operation ID.",
              "required": true,
              "type": "string",
              "location": "path"
            },
            "project": {
              "type": "string",
              "location": "path",
              "required": true,
              "description": "Project ID of the project that contains the instance."
            },
            "location": {
              "description": "Optional. Region of the Cloud SQL instance.",
              "location": "query",
              "type": "string"
            }
          },
          "id": "sql.operations.get",
          "description": "Retrieves an instance operation that has been performed on an instance.",
          "path": "sql/v1beta4/projects/{project}/operations/{operation}",
          "flatPath": "sql/v1beta4/projects/{project}/operations/{operation}",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "parameterOrder": [
            "project",
            "operation"
          ]
        }
      }
    },
    "users": {
      "methods": {
        "list": {
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "response": {
            "$ref": "UsersListResponse"
          },
          "parameterOrder": [
            "project",
            "instance"
          ],
          "path": "sql/v1beta4/projects/{project}/instances/{instance}/users",
          "httpMethod": "GET",
          "description": "Lists users in the specified Cloud SQL instance.",
          "parameters": {
            "location": {
              "description": "Optional. Region of the Cloud SQL instance.",
              "type": "string",
              "location": "query"
            },
            "instance": {
              "location": "path",
              "description": "Database instance ID. This does not include the project ID.",
              "type": "string",
              "required": true
            },
            "project": {
              "required": true,
              "type": "string",
              "location": "path",
              "description": "Project ID of the project that contains the instance."
            }
          },
          "flatPath": "sql/v1beta4/projects/{project}/instances/{instance}/users",
          "id": "sql.users.list"
        },
        "update": {
          "description": "Updates an existing user in a Cloud SQL instance.",
          "id": "sql.users.update",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "response": {
            "$ref": "Operation"
          },
          "request": {
            "$ref": "User"
          },
          "parameterOrder": [
            "project",
            "instance"
          ],
          "httpMethod": "PUT",
          "path": "sql/v1beta4/projects/{project}/instances/{instance}/users",
          "flatPath": "sql/v1beta4/projects/{project}/instances/{instance}/users",
          "parameters": {
            "host": {
              "location": "query",
              "type": "string",
              "description": "Optional. Host of the user in the instance."
            },
            "location": {
              "description": "Optional. Region of the Cloud SQL instance.",
              "location": "query",
              "type": "string"
            },
            "instance": {
              "required": true,
              "type": "string",
              "description": "Database instance ID. This does not include the project ID.",
              "location": "path"
            },
            "name": {
              "type": "string",
              "location": "query",
              "description": "Name of the user in the instance."
            },
            "project": {
              "required": true,
              "type": "string",
              "location": "path",
              "description": "Project ID of the project that contains the instance."
            },
            "serverRoles": {
              "location": "query",
              "description": "Optional. The server roles to grant to the SQL Server login. Existing server roles will not be revoked if revoke_existing_roles is false. body.server_roles will be ignored for update request.",
              "repeated": true,
              "type": "string"
            },
            "revokeExistingRoles": {
              "description": "Optional. Specifies whether to revoke existing roles that are not present in the `database_roles` field. If `false` or unset, the database roles specified in `database_roles` are added to the user's existing roles.",
              "location": "query",
              "type": "boolean"
            },
            "revokeExistingServerRoles": {
              "location": "query",
              "description": "Optional. Specifies whether to revoke existing roles that are not present in the `server_roles` field. If `false` or unset, the server roles specified in `server_roles` are added to the user's existing server roles.",
              "type": "boolean"
            },
            "databaseRoles": {
              "description": "Optional. List of database roles to grant to the user. body.database_roles will be ignored for update request.",
              "location": "query",
              "repeated": true,
              "type": "string"
            }
          }
        },
        "delete": {
          "path": "sql/v1beta4/projects/{project}/instances/{instance}/users",
          "flatPath": "sql/v1beta4/projects/{project}/instances/{instance}/users",
          "httpMethod": "DELETE",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "parameters": {
            "host": {
              "type": "string",
              "location": "query",
              "description": "Host of the user in the instance."
            },
            "project": {
              "required": true,
              "type": "string",
              "description": "Project ID of the project that contains the instance.",
              "location": "path"
            },
            "name": {
              "location": "query",
              "type": "string",
              "description": "Name of the user in the instance."
            },
            "location": {
              "location": "query",
              "description": "Optional. Region of the Cloud SQL instance.",
              "type": "string"
            },
            "instance": {
              "description": "Database instance ID. This does not include the project ID.",
              "type": "string",
              "required": true,
              "location": "path"
            }
          },
          "description": "Deletes a user from a Cloud SQL instance.",
          "id": "sql.users.delete",
          "parameterOrder": [
            "project",
            "instance"
          ],
          "response": {
            "$ref": "Operation"
          }
        },
        "insert": {
          "parameters": {
            "project": {
              "location": "path",
              "description": "Project ID of the project that contains the instance.",
              "type": "string",
              "required": true
            },
            "instance": {
              "location": "path",
              "description": "Database instance ID. This does not include the project ID.",
              "required": true,
              "type": "string"
            },
            "location": {
              "description": "Optional. Region of the Cloud SQL instance.",
              "location": "query",
              "type": "string"
            }
          },
          "httpMethod": "POST",
          "parameterOrder": [
            "project",
            "instance"
          ],
          "id": "sql.users.insert",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "response": {
            "$ref": "Operation"
          },
          "flatPath": "sql/v1beta4/projects/{project}/instances/{instance}/users",
          "request": {
            "$ref": "User"
          },
          "path": "sql/v1beta4/projects/{project}/instances/{instance}/users",
          "description": "Creates a new user in a Cloud SQL instance."
        },
        "get": {
          "response": {
            "$ref": "User"
          },
          "parameterOrder": [
            "project",
            "instance",
            "name"
          ],
          "description": "Retrieves a resource containing information about a user.",
          "id": "sql.users.get",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "parameters": {
            "name": {
              "required": true,
              "location": "path",
              "type": "string",
              "description": "User of the instance."
            },
            "location": {
              "type": "string",
              "location": "query",
              "description": "Optional. Region of the Cloud SQL instance."
            },
            "project": {
              "required": true,
              "description": "Project ID of the project that contains the instance.",
              "type": "string",
              "location": "path"
            },
            "instance": {
              "location": "path",
              "description": "Database instance ID. This does not include the project ID.",
              "required": true,
              "type": "string"
            },
            "host": {
              "location": "query",
              "description": "Host of a user of the instance.",
              "type": "string"
            }
          },
          "httpMethod": "GET",
          "path": "sql/v1beta4/projects/{project}/instances/{instance}/users/{name}",
          "flatPath": "sql/v1beta4/projects/{project}/instances/{instance}/users/{name}"
        }
      }
    },
    "flags": {
      "methods": {
        "list": {
          "parameterOrder": [],
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "response": {
            "$ref": "FlagsListResponse"
          },
          "parameters": {
            "databaseVersion": {
              "description": "Database type and version you want to retrieve flags for. By default, this method returns flags for all database types and versions.",
              "location": "query",
              "type": "string"
            },
            "flagScope": {
              "description": "Optional. Specify the scope of flags to be returned by SqlFlagsListService. Return list of database flags if unspecified.",
              "type": "string",
              "enum": [
                "SQL_FLAG_SCOPE_UNSPECIFIED",
                "SQL_FLAG_SCOPE_DATABASE",
                "SQL_FLAG_SCOPE_CONNECTION_POOL"
              ],
              "enumDescriptions": [
                "Assume database flags if unspecified",
                "database flags",
                "connection pool configuration flags"
              ],
              "location": "query"
            }
          },
          "description": "Lists all available database flags for Cloud SQL instances.",
          "path": "sql/v1beta4/flags",
          "flatPath": "sql/v1beta4/flags",
          "id": "sql.flags.list"
        }
      }
    },
    "workloadCaptures": {
      "methods": {
        "stopReplay": {
          "httpMethod": "POST",
          "response": {
            "$ref": "Operation"
          },
          "parameters": {
            "project": {
              "required": true,
              "type": "string",
              "description": "Required. Project ID of the project that contains the instance.",
              "location": "path"
            },
            "instance": {
              "description": "Required. Cloud SQL instance ID. This does not include the project ID.",
              "location": "path",
              "type": "string",
              "required": true
            },
            "workloadId": {
              "description": "Required. The ID of the workload to replay.",
              "required": true,
              "type": "string",
              "location": "path"
            }
          },
          "path": "sql/v1beta4/projects/{project}/instances/{instance}/workloadCaptures/{workloadId}:stopReplay",
          "description": "Stops executing a captured workload on the separate Cloud SQL instance.",
          "parameterOrder": [
            "project",
            "instance",
            "workloadId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "id": "sql.workloadCaptures.stopReplay",
          "request": {
            "$ref": "SqlWorkloadCapturesStopReplayRequest"
          },
          "flatPath": "sql/v1beta4/projects/{project}/instances/{instance}/workloadCaptures/{workloadId}:stopReplay"
        },
        "list": {
          "id": "sql.workloadCaptures.list",
          "flatPath": "sql/v1beta4/projects/{project}/instances/{instance}/workloadCaptures",
          "parameterOrder": [
            "project",
            "instance"
          ],
          "description": "Lists all captured workloads associated with the instance.",
          "response": {
            "$ref": "WorkloadCapturesListResponse"
          },
          "httpMethod": "GET",
          "path": "sql/v1beta4/projects/{project}/instances/{instance}/workloadCaptures",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "parameters": {
            "project": {
              "description": "Required. Project ID of the project that contains the instance.",
              "type": "string",
              "required": true,
              "location": "path"
            },
            "instance": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "Required. Cloud SQL instance ID. This does not include the project ID."
            }
          }
        },
        "startReplay": {
          "request": {
            "$ref": "SqlWorkloadCapturesStartReplayRequest"
          },
          "path": "sql/v1beta4/projects/{project}/instances/{instance}/workloadCaptures/{workloadId}:startReplay",
          "description": "Starts executing a captured workload on a separate Cloud SQL instance provisioned for workload replay. This target instance simulates the production environment without affecting the primary instance.",
          "parameterOrder": [
            "project",
            "instance",
            "workloadId"
          ],
          "flatPath": "sql/v1beta4/projects/{project}/instances/{instance}/workloadCaptures/{workloadId}:startReplay",
          "id": "sql.workloadCaptures.startReplay",
          "parameters": {
            "instance": {
              "required": true,
              "location": "path",
              "description": "Required. Cloud SQL instance ID. This does not include the project ID.",
              "type": "string"
            },
            "workloadId": {
              "required": true,
              "description": "Required. The ID of the workload to replay.",
              "type": "string",
              "location": "path"
            },
            "project": {
              "location": "path",
              "description": "Required. Project ID of the project that contains the instance.",
              "required": true,
              "type": "string"
            }
          },
          "httpMethod": "POST",
          "response": {
            "$ref": "Operation"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ]
        },
        "start": {
          "path": "sql/v1beta4/projects/{project}/instances/{instance}/workloadCaptures:start",
          "flatPath": "sql/v1beta4/projects/{project}/instances/{instance}/workloadCaptures:start",
          "id": "sql.workloadCaptures.start",
          "parameters": {
            "instance": {
              "description": "Required. Cloud SQL instance ID. This does not include the project ID.",
              "type": "string",
              "location": "path",
              "required": true
            },
            "project": {
              "required": true,
              "description": "Required. Project ID of the project that contains the instance.",
              "type": "string",
              "location": "path"
            }
          },
          "parameterOrder": [
            "project",
            "instance"
          ],
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "response": {
            "$ref": "Operation"
          },
          "description": "Starts capturing the SQL queries, transactions, and other operations executed on the primary instance. This traffic is securely stored and forms a \"captured workload\". This workload can be replayed later on a different instance to safely test performance impacts, database upgrades, configuration changes etc. before applying them to production.",
          "request": {
            "$ref": "SqlWorkloadCapturesStartRequest"
          }
        },
        "stop": {
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "id": "sql.workloadCaptures.stop",
          "path": "sql/v1beta4/projects/{project}/instances/{instance}/workloadCaptures:stop",
          "flatPath": "sql/v1beta4/projects/{project}/instances/{instance}/workloadCaptures:stop",
          "response": {
            "$ref": "Operation"
          },
          "description": "Stops capturing the query traffic and related operations executed on the primary instance.",
          "request": {
            "$ref": "SqlWorkloadCapturesStopRequest"
          },
          "httpMethod": "POST",
          "parameterOrder": [
            "project",
            "instance"
          ],
          "parameters": {
            "instance": {
              "description": "Required. Cloud SQL instance ID. This does not include the project ID.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "project": {
              "required": true,
              "description": "Required. Project ID of the project that contains the instance.",
              "type": "string",
              "location": "path"
            }
          }
        }
      }
    },
    "projects": {
      "resources": {
        "instances": {
          "methods": {
            "startExternalSync": {
              "response": {
                "$ref": "Operation"
              },
              "httpMethod": "POST",
              "id": "sql.projects.instances.startExternalSync",
              "path": "sql/v1beta4/projects/{project}/instances/{instance}/startExternalSync",
              "parameters": {
                "instance": {
                  "description": "Cloud SQL instance ID. This does not include the project ID.",
                  "location": "path",
                  "type": "string",
                  "required": true
                },
                "project": {
                  "location": "path",
                  "description": "ID of the project that contains the instance.",
                  "type": "string",
                  "required": true
                }
              },
              "parameterOrder": [
                "project",
                "instance"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/sqlservice.admin"
              ],
              "request": {
                "$ref": "SqlInstancesStartExternalSyncRequest"
              },
              "description": "Start External primary instance migration.",
              "flatPath": "sql/v1beta4/projects/{project}/instances/{instance}/startExternalSync"
            },
            "performDiskShrink": {
              "parameterOrder": [
                "project",
                "instance"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/sqlservice.admin"
              ],
              "httpMethod": "POST",
              "description": "Perform Disk Shrink on primary instance.",
              "parameters": {
                "location": {
                  "description": "Optional. Region of the Cloud SQL instance.",
                  "location": "query",
                  "type": "string"
                },
                "instance": {
                  "description": "Cloud SQL instance ID. This does not include the project ID.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "project": {
                  "description": "Project ID of the project that contains the instance.",
                  "required": true,
                  "type": "string",
                  "location": "path"
                }
              },
              "flatPath": "sql/v1beta4/projects/{project}/instances/{instance}/performDiskShrink",
              "response": {
                "$ref": "Operation"
              },
              "request": {
                "$ref": "PerformDiskShrinkContext"
              },
              "path": "sql/v1beta4/projects/{project}/instances/{instance}/performDiskShrink",
              "id": "sql.projects.instances.performDiskShrink"
            },
            "resetReplicaSize": {
              "request": {
                "$ref": "SqlInstancesResetReplicaSizeRequest"
              },
              "parameterOrder": [
                "project",
                "instance"
              ],
              "flatPath": "sql/v1beta4/projects/{project}/instances/{instance}/resetReplicaSize",
              "response": {
                "$ref": "Operation"
              },
              "description": "Reset Replica Size to primary instance disk size.",
              "httpMethod": "POST",
              "parameters": {
                "project": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "ID of the project that contains the read replica."
                },
                "instance": {
                  "type": "string",
                  "description": "Cloud SQL read replica instance name.",
                  "required": true,
                  "location": "path"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/sqlservice.admin"
              ],
              "path": "sql/v1beta4/projects/{project}/instances/{instance}/resetReplicaSize",
              "id": "sql.projects.instances.resetReplicaSize"
            },
            "getDiskShrinkConfig": {
              "parameterOrder": [
                "project",
                "instance"
              ],
              "httpMethod": "GET",
              "id": "sql.projects.instances.getDiskShrinkConfig",
              "flatPath": "sql/v1beta4/projects/{project}/instances/{instance}/getDiskShrinkConfig",
              "parameters": {
                "location": {
                  "description": "Optional. Region of the Cloud SQL instance.",
                  "type": "string",
                  "location": "query"
                },
                "project": {
                  "location": "path",
                  "type": "string",
                  "description": "Project ID of the project that contains the instance.",
                  "required": true
                },
                "instance": {
                  "description": "Cloud SQL instance ID. This does not include the project ID.",
                  "location": "path",
                  "type": "string",
                  "required": true
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/sqlservice.admin"
              ],
              "description": "Get Disk Shrink Config for a given instance.",
              "path": "sql/v1beta4/projects/{project}/instances/{instance}/getDiskShrinkConfig",
              "response": {
                "$ref": "SqlInstancesGetDiskShrinkConfigResponse"
              }
            },
            "getLatestRecoveryTime": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/sqlservice.admin"
              ],
              "id": "sql.projects.instances.getLatestRecoveryTime",
              "path": "sql/v1beta4/projects/{project}/instances/{instance}/getLatestRecoveryTime",
              "response": {
                "$ref": "SqlInstancesGetLatestRecoveryTimeResponse"
              },
              "flatPath": "sql/v1beta4/projects/{project}/instances/{instance}/getLatestRecoveryTime",
              "parameterOrder": [
                "project",
                "instance"
              ],
              "description": "Get Latest Recovery Time for a given instance.",
              "httpMethod": "GET",
              "parameters": {
                "instance": {
                  "required": true,
                  "type": "string",
                  "description": "Cloud SQL instance ID. This does not include the project ID.",
                  "location": "path"
                },
                "location": {
                  "location": "query",
                  "type": "string",
                  "description": "Optional. Region of the Cloud SQL instance."
                },
                "project": {
                  "required": true,
                  "type": "string",
                  "description": "Project ID of the project that contains the instance.",
                  "location": "path"
                },
                "sourceInstanceDeletionTime": {
                  "format": "google-datetime",
                  "description": "The timestamp used to identify the time when the source instance is deleted. If this instance is deleted, then you must set the timestamp.",
                  "type": "string",
                  "location": "query"
                }
              }
            },
            "verifyExternalSyncSettings": {
              "description": "Verify External primary instance external sync settings.",
              "flatPath": "sql/v1beta4/projects/{project}/instances/{instance}/verifyExternalSyncSettings",
              "response": {
                "$ref": "SqlInstancesVerifyExternalSyncSettingsResponse"
              },
              "path": "sql/v1beta4/projects/{project}/instances/{instance}/verifyExternalSyncSettings",
              "parameters": {
                "project": {
                  "location": "path",
                  "description": "Project ID of the project that contains the instance.",
                  "type": "string",
                  "required": true
                },
                "instance": {
                  "required": true,
                  "description": "Cloud SQL instance ID. This does not include the project ID.",
                  "location": "path",
                  "type": "string"
                }
              },
              "httpMethod": "POST",
              "parameterOrder": [
                "project",
                "instance"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/sqlservice.admin"
              ],
              "id": "sql.projects.instances.verifyExternalSyncSettings",
              "request": {
                "$ref": "SqlInstancesVerifyExternalSyncSettingsRequest"
              }
            },
            "rescheduleMaintenance": {
              "response": {
                "$ref": "Operation"
              },
              "path": "sql/v1beta4/projects/{project}/instances/{instance}/rescheduleMaintenance",
              "request": {
                "$ref": "SqlInstancesRescheduleMaintenanceRequestBody"
              },
              "httpMethod": "POST",
              "description": "Reschedules the maintenance on the given instance.",
              "parameters": {
                "instance": {
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "description": "Cloud SQL instance ID. This does not include the project ID."
                },
                "location": {
                  "description": "Optional. Region of the Cloud SQL instance.",
                  "location": "query",
                  "type": "string"
                },
                "project": {
                  "type": "string",
                  "required": true,
                  "location": "path",
                  "description": "ID of the project that contains the instance."
                }
              },
              "id": "sql.projects.instances.rescheduleMaintenance",
              "parameterOrder": [
                "project",
                "instance"
              ],
              "flatPath": "sql/v1beta4/projects/{project}/instances/{instance}/rescheduleMaintenance",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/sqlservice.admin"
              ]
            }
          }
        }
      }
    },
    "backups": {
      "methods": {
        "getBackup": {
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "id": "sql.backups.getBackup",
          "response": {
            "$ref": "Backup"
          },
          "description": "Retrieves a resource containing information about a backup.",
          "parameterOrder": [
            "name"
          ],
          "flatPath": "sql/v1beta4/projects/{projectsId}/backups/{backupsId}",
          "httpMethod": "GET",
          "parameters": {
            "name": {
              "required": true,
              "pattern": "^projects/[^/]+/backups/[^/]+$",
              "description": "Required. The name of the backup to retrieve. Format: projects/{project}/backups/{backup}",
              "type": "string",
              "location": "path"
            }
          },
          "path": "sql/v1beta4/{+name}"
        },
        "listBackups": {
          "id": "sql.backups.listBackups",
          "parameterOrder": [
            "parent"
          ],
          "response": {
            "$ref": "ListBackupsResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "path": "sql/v1beta4/{+parent}/backups",
          "flatPath": "sql/v1beta4/projects/{projectsId}/backups",
          "httpMethod": "GET",
          "parameters": {
            "parent": {
              "location": "path",
              "description": "Required. The parent that owns this collection of backups. Format: projects/{project}",
              "type": "string",
              "pattern": "^projects/[^/]+$",
              "required": true
            },
            "filter": {
              "type": "string",
              "description": "Multiple filter queries are separated by spaces. For example, 'instance:abc AND type:FINAL, 'location:us', 'backupInterval.startTime>=1950-01-01T01:01:25.771Z'. You can filter by type, instance, backupInterval.startTime (creation time), or location.",
              "location": "query"
            },
            "pageToken": {
              "description": "A page token, received from a previous `ListBackups` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListBackups` must match the call that provided the page token.",
              "type": "string",
              "location": "query"
            },
            "pageSize": {
              "description": "The maximum number of backups to return per response. The service might return fewer backups than this value. If a value for this parameter isn't specified, then, at most, 500 backups are returned. The maximum value is 2,000. Any values that you set, which are greater than 2,000, are changed to 2,000.",
              "type": "integer",
              "format": "int32",
              "location": "query"
            }
          },
          "description": "Lists all backups associated with the project."
        },
        "updateBackup": {
          "description": "Updates the retention period and the description of the backup. You can use this API to update final backups only.",
          "path": "sql/v1beta4/{+name}",
          "flatPath": "sql/v1beta4/projects/{projectsId}/backups/{backupsId}",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "request": {
            "$ref": "Backup"
          },
          "response": {
            "$ref": "Operation"
          },
          "parameters": {
            "updateMask": {
              "description": "The list of fields that you can update. You can update only the description and retention period of the final backup.",
              "format": "google-fieldmask",
              "location": "query",
              "type": "string"
            },
            "name": {
              "location": "path",
              "type": "string",
              "pattern": "^projects/[^/]+/backups/[^/]+$",
              "description": "Output only. The resource name of the backup. Format: projects/{project}/backups/{backup}.",
              "required": true
            }
          },
          "id": "sql.backups.updateBackup",
          "httpMethod": "PATCH",
          "parameterOrder": [
            "name"
          ]
        },
        "deleteBackup": {
          "response": {
            "$ref": "Operation"
          },
          "path": "sql/v1beta4/{+name}",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "parameters": {
            "name": {
              "location": "path",
              "description": "Required. The name of the backup to delete. Format: projects/{project}/backups/{backup}",
              "type": "string",
              "pattern": "^projects/[^/]+/backups/[^/]+$",
              "required": true
            }
          },
          "httpMethod": "DELETE",
          "id": "sql.backups.deleteBackup",
          "flatPath": "sql/v1beta4/projects/{projectsId}/backups/{backupsId}",
          "description": "Deletes the backup.",
          "parameterOrder": [
            "name"
          ]
        },
        "createBackup": {
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "flatPath": "sql/v1beta4/projects/{projectsId}/backups",
          "parameterOrder": [
            "parent"
          ],
          "description": "Creates a backup for a Cloud SQL instance. This API can be used only to create on-demand backups.",
          "id": "sql.backups.createBackup",
          "request": {
            "$ref": "Backup"
          },
          "parameters": {
            "parent": {
              "required": true,
              "pattern": "^projects/[^/]+$",
              "description": "Required. The parent resource where this backup is created. Format: projects/{project}",
              "location": "path",
              "type": "string"
            }
          },
          "httpMethod": "POST",
          "path": "sql/v1beta4/{+parent}/backups",
          "response": {
            "$ref": "Operation"
          }
        }
      }
    },
    "connect": {
      "methods": {
        "generateEphemeralCert": {
          "id": "sql.connect.generateEphemeral",
          "flatPath": "sql/v1beta4/projects/{project}/instances/{instance}:generateEphemeralCert",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "path": "sql/v1beta4/projects/{project}/instances/{instance}:generateEphemeralCert",
          "parameters": {
            "project": {
              "required": true,
              "type": "string",
              "description": "Project ID of the project that contains the instance.",
              "location": "path"
            },
            "instance": {
              "description": "Cloud SQL instance ID. This does not include the project ID.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "httpMethod": "POST",
          "request": {
            "$ref": "GenerateEphemeralCertRequest"
          },
          "response": {
            "$ref": "GenerateEphemeralCertResponse"
          },
          "parameterOrder": [
            "project",
            "instance"
          ],
          "description": "Generates a short-lived X509 certificate containing the provided public key and signed by a private key specific to the target instance. Users may use the certificate to authenticate as themselves when connecting to the database."
        },
        "resolve": {
          "path": "sql/v1beta4/locations/{location}/dns/{dnsName}:resolveConnectSettings",
          "response": {
            "$ref": "ConnectSettings"
          },
          "parameterOrder": [
            "location",
            "dnsName"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "httpMethod": "GET",
          "parameters": {
            "dnsName": {
              "location": "path",
              "type": "string",
              "required": true,
              "description": "Required. Cloud SQL instance ID. This does not include the project ID."
            },
            "location": {
              "required": true,
              "description": "Required. The region of the instance.",
              "location": "path",
              "type": "string"
            }
          },
          "id": "sql.connect.resolve",
          "flatPath": "sql/v1beta4/locations/{location}/dns/{dnsName}:resolveConnectSettings",
          "description": "Retrieves connect settings about a Cloud SQL instance using the instance DNS name."
        },
        "get": {
          "parameterOrder": [
            "project",
            "instance"
          ],
          "path": "sql/v1beta4/projects/{project}/instances/{instance}/connectSettings",
          "response": {
            "$ref": "ConnectSettings"
          },
          "description": "Retrieves connect settings about a Cloud SQL instance.",
          "flatPath": "sql/v1beta4/projects/{project}/instances/{instance}/connectSettings",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "parameters": {
            "project": {
              "type": "string",
              "required": true,
              "description": "Project ID of the project that contains the instance.",
              "location": "path"
            },
            "instance": {
              "location": "path",
              "description": "Cloud SQL instance ID. This does not include the project ID.",
              "type": "string",
              "required": true
            },
            "readTime": {
              "location": "query",
              "format": "google-datetime",
              "type": "string",
              "description": "Optional. Optional snapshot read timestamp to trade freshness for performance."
            }
          },
          "id": "sql.connect.get",
          "httpMethod": "GET"
        }
      }
    },
    "databases": {
      "methods": {
        "delete": {
          "description": "Deletes a database from a Cloud SQL instance.",
          "flatPath": "sql/v1beta4/projects/{project}/instances/{instance}/databases/{database}",
          "path": "sql/v1beta4/projects/{project}/instances/{instance}/databases/{database}",
          "parameters": {
            "project": {
              "required": true,
              "location": "path",
              "description": "Project ID of the project that contains the instance.",
              "type": "string"
            },
            "instance": {
              "location": "path",
              "required": true,
              "description": "Database instance ID. This does not include the project ID.",
              "type": "string"
            },
            "database": {
              "description": "Name of the database to be deleted in the instance.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "location": {
              "type": "string",
              "location": "query",
              "description": "Optional. Region of the Cloud SQL instance."
            }
          },
          "httpMethod": "DELETE",
          "id": "sql.databases.delete",
          "parameterOrder": [
            "project",
            "instance",
            "database"
          ],
          "response": {
            "$ref": "Operation"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ]
        },
        "insert": {
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "flatPath": "sql/v1beta4/projects/{project}/instances/{instance}/databases",
          "id": "sql.databases.insert",
          "parameters": {
            "instance": {
              "required": true,
              "description": "Database instance ID. This does not include the project ID.",
              "location": "path",
              "type": "string"
            },
            "location": {
              "description": "Optional. Region of the Cloud SQL instance.",
              "type": "string",
              "location": "query"
            },
            "project": {
              "type": "string",
              "description": "Project ID of the project that contains the instance.",
              "location": "path",
              "required": true
            }
          },
          "httpMethod": "POST",
          "description": "Inserts a resource containing information about a database inside a Cloud SQL instance. **Note:** You can't modify the default character set and collation.",
          "parameterOrder": [
            "project",
            "instance"
          ],
          "request": {
            "$ref": "Database"
          },
          "path": "sql/v1beta4/projects/{project}/instances/{instance}/databases",
          "response": {
            "$ref": "Operation"
          }
        },
        "list": {
          "flatPath": "sql/v1beta4/projects/{project}/instances/{instance}/databases",
          "description": "Lists databases in the specified Cloud SQL instance.",
          "path": "sql/v1beta4/projects/{project}/instances/{instance}/databases",
          "parameters": {
            "instance": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "Cloud SQL instance ID. This does not include the project ID."
            },
            "project": {
              "location": "path",
              "required": true,
              "description": "Project ID of the project that contains the instance.",
              "type": "string"
            },
            "location": {
              "type": "string",
              "description": "Optional. Region of the Cloud SQL instance.",
              "location": "query"
            }
          },
          "id": "sql.databases.list",
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "parameterOrder": [
            "project",
            "instance"
          ],
          "response": {
            "$ref": "DatabasesListResponse"
          }
        },
        "update": {
          "response": {
            "$ref": "Operation"
          },
          "parameterOrder": [
            "project",
            "instance",
            "database"
          ],
          "flatPath": "sql/v1beta4/projects/{project}/instances/{instance}/databases/{database}",
          "request": {
            "$ref": "Database"
          },
          "description": "Updates a resource containing information about a database inside a Cloud SQL instance.",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "parameters": {
            "project": {
              "description": "Project ID of the project that contains the instance.",
              "type": "string",
              "location": "path",
              "required": true
            },
            "instance": {
              "description": "Database instance ID. This does not include the project ID.",
              "location": "path",
              "type": "string",
              "required": true
            },
            "database": {
              "description": "Name of the database to be updated in the instance.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "location": {
              "location": "query",
              "type": "string",
              "description": "Optional. Region of the Cloud SQL instance."
            }
          },
          "path": "sql/v1beta4/projects/{project}/instances/{instance}/databases/{database}",
          "httpMethod": "PUT",
          "id": "sql.databases.update"
        },
        "patch": {
          "request": {
            "$ref": "Database"
          },
          "path": "sql/v1beta4/projects/{project}/instances/{instance}/databases/{database}",
          "flatPath": "sql/v1beta4/projects/{project}/instances/{instance}/databases/{database}",
          "response": {
            "$ref": "Operation"
          },
          "parameterOrder": [
            "project",
            "instance",
            "database"
          ],
          "httpMethod": "PATCH",
          "id": "sql.databases.patch",
          "parameters": {
            "location": {
              "type": "string",
              "description": "Optional. Region of the Cloud SQL instance.",
              "location": "query"
            },
            "instance": {
              "type": "string",
              "location": "path",
              "description": "Database instance ID. This does not include the project ID.",
              "required": true
            },
            "database": {
              "description": "Name of the database to be updated in the instance.",
              "required": true,
              "type": "string",
              "location": "path"
            },
            "project": {
              "description": "Project ID of the project that contains the instance.",
              "required": true,
              "location": "path",
              "type": "string"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "description": "Partially updates a resource containing information about a database inside a Cloud SQL instance. This method supports patch semantics."
        },
        "get": {
          "parameters": {
            "project": {
              "type": "string",
              "description": "Project ID of the project that contains the instance.",
              "location": "path",
              "required": true
            },
            "instance": {
              "required": true,
              "type": "string",
              "location": "path",
              "description": "Database instance ID. This does not include the project ID."
            },
            "database": {
              "type": "string",
              "required": true,
              "location": "path",
              "description": "Name of the database in the instance."
            },
            "location": {
              "type": "string",
              "description": "Optional. Region of the Cloud SQL instance.",
              "location": "query"
            }
          },
          "httpMethod": "GET",
          "flatPath": "sql/v1beta4/projects/{project}/instances/{instance}/databases/{database}",
          "description": "Retrieves a resource containing information about a database inside a Cloud SQL instance.",
          "id": "sql.databases.get",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "response": {
            "$ref": "Database"
          },
          "path": "sql/v1beta4/projects/{project}/instances/{instance}/databases/{database}",
          "parameterOrder": [
            "project",
            "instance",
            "database"
          ]
        }
      }
    },
    "backupRuns": {
      "methods": {
        "get": {
          "parameterOrder": [
            "project",
            "instance",
            "id"
          ],
          "response": {
            "$ref": "BackupRun"
          },
          "path": "sql/v1beta4/projects/{project}/instances/{instance}/backupRuns/{id}",
          "httpMethod": "GET",
          "parameters": {
            "id": {
              "location": "path",
              "format": "int64",
              "description": "The ID of this backup run.",
              "type": "string",
              "required": true
            },
            "instance": {
              "location": "path",
              "description": "Cloud SQL instance ID. This does not include the project ID.",
              "type": "string",
              "required": true
            },
            "project": {
              "description": "Project ID of the project that contains the instance.",
              "location": "path",
              "type": "string",
              "required": true
            }
          },
          "id": "sql.backupRuns.get",
          "flatPath": "sql/v1beta4/projects/{project}/instances/{instance}/backupRuns/{id}",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "description": "Retrieves a resource containing information about a backup run."
        },
        "delete": {
          "response": {
            "$ref": "Operation"
          },
          "description": "Deletes the backup taken by a backup run.",
          "id": "sql.backupRuns.delete",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "path": "sql/v1beta4/projects/{project}/instances/{instance}/backupRuns/{id}",
          "parameterOrder": [
            "project",
            "instance",
            "id"
          ],
          "httpMethod": "DELETE",
          "parameters": {
            "id": {
              "location": "path",
              "description": "The ID of the backup run to delete. To find a backup run ID, use the [list](https://cloud.google.com/sql/docs/mysql/admin-api/rest/v1beta4/backupRuns/list) method.",
              "type": "string",
              "format": "int64",
              "required": true
            },
            "instance": {
              "location": "path",
              "description": "Cloud SQL instance ID. This does not include the project ID.",
              "type": "string",
              "required": true
            },
            "project": {
              "required": true,
              "location": "path",
              "description": "Project ID of the project that contains the instance.",
              "type": "string"
            }
          },
          "flatPath": "sql/v1beta4/projects/{project}/instances/{instance}/backupRuns/{id}"
        },
        "insert": {
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "parameterOrder": [
            "project",
            "instance"
          ],
          "description": "Creates a new backup run on demand.",
          "request": {
            "$ref": "BackupRun"
          },
          "response": {
            "$ref": "Operation"
          },
          "httpMethod": "POST",
          "parameters": {
            "project": {
              "required": true,
              "location": "path",
              "type": "string",
              "description": "Project ID of the project that contains the instance."
            },
            "instance": {
              "location": "path",
              "type": "string",
              "description": "Cloud SQL instance ID. This does not include the project ID.",
              "required": true
            }
          },
          "flatPath": "sql/v1beta4/projects/{project}/instances/{instance}/backupRuns",
          "path": "sql/v1beta4/projects/{project}/instances/{instance}/backupRuns",
          "id": "sql.backupRuns.insert"
        },
        "list": {
          "flatPath": "sql/v1beta4/projects/{project}/instances/{instance}/backupRuns",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "httpMethod": "GET",
          "parameters": {
            "instance": {
              "location": "path",
              "type": "string",
              "description": "Cloud SQL instance ID, or \"-\" for all instances. This does not include the project ID.",
              "required": true
            },
            "maxResults": {
              "description": "Maximum number of backup runs per response.",
              "format": "int32",
              "type": "integer",
              "location": "query"
            },
            "project": {
              "type": "string",
              "required": true,
              "location": "path",
              "description": "Project ID of the project that contains the instance."
            },
            "pageToken": {
              "type": "string",
              "location": "query",
              "description": "A previously-returned page token representing part of the larger set of results to view."
            }
          },
          "parameterOrder": [
            "project",
            "instance"
          ],
          "description": "Lists all backup runs associated with the project or a given instance and configuration in the reverse chronological order of the backup initiation time.",
          "path": "sql/v1beta4/projects/{project}/instances/{instance}/backupRuns",
          "id": "sql.backupRuns.list",
          "response": {
            "$ref": "BackupRunsListResponse"
          }
        }
      }
    },
    "blueGreenDeployments": {
      "methods": {
        "delete": {
          "id": "sql.blueGreenDeployments.delete",
          "flatPath": "sql/v1beta4/projects/{projectsId}/locations/{locationsId}/blueGreenDeployments/{blueGreenDeploymentsId}",
          "httpMethod": "DELETE",
          "parameters": {
            "deleteOldSource": {
              "type": "boolean",
              "location": "query",
              "description": "Optional. If set to true, and the switchover is complete, this deletes the old source instance along with the deployment."
            },
            "name": {
              "location": "path",
              "required": true,
              "pattern": "^projects/[^/]+/locations/[^/]+/blueGreenDeployments/[^/]+$",
              "description": "Required. The name of the blue-green deployment to delete. Format: projects/{project}/locations/{location}/blueGreenDeployments/{blue_green_deployment}",
              "type": "string"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "description": "Deletes a blue-green deployment, including metadata and underlying resources based on the deployment state. If issued before switchover, this deletes the green instance. If issued after switchover, this deletes the old blue instance (source instance) if the `delete_old_source` field in the request is set to true. All blue-green deployment metadata is permanently deleted. Resources deleted as a result of this operation are no longer accessible and can't be restored.",
          "response": {
            "$ref": "Operation"
          },
          "parameterOrder": [
            "name"
          ],
          "path": "sql/v1beta4/{+name}"
        },
        "create": {
          "parameterOrder": [
            "parent"
          ],
          "id": "sql.blueGreenDeployments.create",
          "httpMethod": "POST",
          "parameters": {
            "blueGreenDeploymentId": {
              "location": "query",
              "type": "string",
              "description": "Required. The ID to use for the blue-green deployment, which will become the final component of the deployment's resource name."
            },
            "parent": {
              "pattern": "^projects/[^/]+/locations/[^/]+$",
              "required": true,
              "type": "string",
              "location": "path",
              "description": "Required. The parent resource where this blue-green deployment will be created. Format: projects/{project}/locations/{location}"
            }
          },
          "path": "sql/v1beta4/{+parent}/blueGreenDeployments",
          "flatPath": "sql/v1beta4/projects/{projectsId}/locations/{locationsId}/blueGreenDeployments",
          "response": {
            "$ref": "Operation"
          },
          "description": "Creates a blue-green deployment under a given project and location. This deployment provisions a synchronized green environment (target instance) from a blue production environment (source instance), facilitating updates like major version upgrades on the green instance without impacting the blue instance.",
          "request": {
            "$ref": "BlueGreenDeployment"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ]
        },
        "get": {
          "parameters": {
            "name": {
              "pattern": "^projects/[^/]+/locations/[^/]+/blueGreenDeployments/[^/]+$",
              "description": "Required. The name of the blue-green deployment to retrieve. Format: projects/{project}/locations/{location}/blueGreenDeployments/{blue_green_deployment}",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "view": {
              "description": "Optional. Specifies whether to return the basic or detailed view of the resource in the response.",
              "enumDescriptions": [
                "Blue-green deployment view enumeration. This allows the caller to specify what view they query. If unspecified (BLUE_GREEN_DEPLOYMENT_VIEW_UNSPECIFIED), the behavior is the same as BASIC.",
                "Includes basic metadata about the blue-green deployment. `BASIC` is the default view.",
                "Includes basic metadata and configuration differences between source and target instances (`database_version`, `tier`, `edition`, `availability_type`, `data_disk_size_gb`, and `data_disk_type`)."
              ],
              "location": "query",
              "enum": [
                "BLUE_GREEN_DEPLOYMENT_VIEW_UNSPECIFIED",
                "BASIC",
                "DETAILED"
              ],
              "type": "string"
            }
          },
          "httpMethod": "GET",
          "parameterOrder": [
            "name"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "id": "sql.blueGreenDeployments.get",
          "response": {
            "$ref": "BlueGreenDeployment"
          },
          "flatPath": "sql/v1beta4/projects/{projectsId}/locations/{locationsId}/blueGreenDeployments/{blueGreenDeploymentsId}",
          "description": "Retrieves a blue-green deployment resource under a given project and location.",
          "path": "sql/v1beta4/{+name}"
        },
        "list": {
          "flatPath": "sql/v1beta4/projects/{projectsId}/locations/{locationsId}/blueGreenDeployments",
          "parameterOrder": [
            "parent"
          ],
          "description": "Lists blue-green deployments under a given project.",
          "path": "sql/v1beta4/{+parent}/blueGreenDeployments",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "httpMethod": "GET",
          "parameters": {
            "parent": {
              "required": true,
              "pattern": "^projects/[^/]+/locations/[^/]+$",
              "description": "Required. The parent resource whose blue-green deployments are to be listed. Format: projects/{project}/locations/{location}",
              "type": "string",
              "location": "path"
            },
            "orderBy": {
              "location": "query",
              "description": "Optional. A comma-separated list of fields to order the results by.",
              "type": "string"
            },
            "pageSize": {
              "location": "query",
              "format": "int32",
              "description": "Optional. The maximum number of deployments to return.",
              "type": "integer"
            },
            "pageToken": {
              "description": "Optional. A page token, received from a previous `ListBlueGreenDeployments` call. Provide this to retrieve the subsequent page.",
              "location": "query",
              "type": "string"
            },
            "filter": {
              "description": "Optional. A filter expression that filters the results.",
              "type": "string",
              "location": "query"
            }
          },
          "id": "sql.blueGreenDeployments.list",
          "response": {
            "$ref": "ListBlueGreenDeploymentsResponse"
          }
        },
        "switchover": {
          "id": "sql.blueGreenDeployments.switchover",
          "response": {
            "$ref": "Operation"
          },
          "path": "sql/v1beta4/{+name}:switchover",
          "parameterOrder": [
            "name"
          ],
          "request": {
            "$ref": "SwitchoverBlueGreenDeploymentRequest"
          },
          "description": "Switches over to green instance for a blue-green deployment.",
          "flatPath": "sql/v1beta4/projects/{projectsId}/locations/{locationsId}/blueGreenDeployments/{blueGreenDeploymentsId}:switchover",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "httpMethod": "POST",
          "parameters": {
            "name": {
              "required": true,
              "description": "Required. The name of the blue-green deployment to switch over. Format: projects/{project}/locations/{location}/blueGreenDeployments/{blue_green_deployment}",
              "location": "path",
              "type": "string",
              "pattern": "^projects/[^/]+/locations/[^/]+/blueGreenDeployments/[^/]+$"
            }
          }
        }
      }
    },
    "instances": {
      "methods": {
        "insert": {
          "path": "sql/v1beta4/projects/{project}/instances",
          "request": {
            "$ref": "DatabaseInstance"
          },
          "httpMethod": "POST",
          "flatPath": "sql/v1beta4/projects/{project}/instances",
          "parameters": {
            "location": {
              "type": "string",
              "location": "query",
              "description": "Optional. Region of the Cloud SQL instance."
            },
            "project": {
              "required": true,
              "type": "string",
              "description": "Project ID of the project to which the newly created Cloud SQL instances should belong.",
              "location": "path"
            }
          },
          "parameterOrder": [
            "project"
          ],
          "description": "Creates a new Cloud SQL instance.",
          "response": {
            "$ref": "Operation"
          },
          "id": "sql.instances.insert",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ]
        },
        "clone": {
          "parameterOrder": [
            "project",
            "instance"
          ],
          "request": {
            "$ref": "InstancesCloneRequest"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "response": {
            "$ref": "Operation"
          },
          "id": "sql.instances.clone",
          "path": "sql/v1beta4/projects/{project}/instances/{instance}/clone",
          "flatPath": "sql/v1beta4/projects/{project}/instances/{instance}/clone",
          "parameters": {
            "project": {
              "location": "path",
              "required": true,
              "description": "Project ID of the source Cloud SQL instance.",
              "type": "string"
            },
            "instance": {
              "type": "string",
              "required": true,
              "location": "path",
              "description": "The ID of the Cloud SQL instance to be cloned (source). This does not include the project ID."
            },
            "location": {
              "type": "string",
              "location": "query",
              "description": "Optional. Region of the Cloud SQL instance."
            }
          },
          "description": "Creates a Cloud SQL instance as a clone of the source instance. Using this operation might cause your instance to restart.",
          "httpMethod": "POST"
        },
        "import": {
          "parameterOrder": [
            "project",
            "instance"
          ],
          "description": "Imports data into a Cloud SQL instance from a SQL dump or CSV file in Cloud Storage.",
          "parameters": {
            "location": {
              "location": "query",
              "description": "Optional. Region of the Cloud SQL instance.",
              "type": "string"
            },
            "project": {
              "required": true,
              "type": "string",
              "description": "Project ID of the project that contains the instance.",
              "location": "path"
            },
            "instance": {
              "location": "path",
              "description": "Cloud SQL instance ID. This does not include the project ID.",
              "required": true,
              "type": "string"
            }
          },
          "id": "sql.instances.import",
          "request": {
            "$ref": "InstancesImportRequest"
          },
          "httpMethod": "POST",
          "response": {
            "$ref": "Operation"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "path": "sql/v1beta4/projects/{project}/instances/{instance}/import",
          "flatPath": "sql/v1beta4/projects/{project}/instances/{instance}/import"
        },
        "restoreBackup": {
          "request": {
            "$ref": "InstancesRestoreBackupRequest"
          },
          "path": "sql/v1beta4/projects/{project}/instances/{instance}/restoreBackup",
          "flatPath": "sql/v1beta4/projects/{project}/instances/{instance}/restoreBackup",
          "id": "sql.instances.restoreBackup",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "description": "Restores a backup of a Cloud SQL instance. Using this operation might cause your instance to restart.",
          "parameterOrder": [
            "project",
            "instance"
          ],
          "response": {
            "$ref": "Operation"
          },
          "parameters": {
            "location": {
              "description": "Optional. Region of the Cloud SQL instance.",
              "location": "query",
              "type": "string"
            },
            "instance": {
              "required": true,
              "description": "Cloud SQL instance ID. This does not include the project ID.",
              "type": "string",
              "location": "path"
            },
            "project": {
              "description": "Project ID of the project that contains the instance.",
              "required": true,
              "location": "path",
              "type": "string"
            }
          },
          "httpMethod": "POST"
        },
        "truncateLog": {
          "id": "sql.instances.truncateLog",
          "response": {
            "$ref": "Operation"
          },
          "request": {
            "$ref": "InstancesTruncateLogRequest"
          },
          "flatPath": "sql/v1beta4/projects/{project}/instances/{instance}/truncateLog",
          "parameterOrder": [
            "project",
            "instance"
          ],
          "description": "Truncate MySQL general and slow query log tables MySQL only.",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "path": "sql/v1beta4/projects/{project}/instances/{instance}/truncateLog",
          "parameters": {
            "location": {
              "location": "query",
              "description": "Optional. Region of the Cloud SQL instance.",
              "type": "string"
            },
            "project": {
              "location": "path",
              "description": "Project ID of the Cloud SQL project.",
              "type": "string",
              "required": true
            },
            "instance": {
              "description": "Cloud SQL instance ID. This does not include the project ID.",
              "location": "path",
              "type": "string",
              "required": true
            }
          },
          "httpMethod": "POST"
        },
        "failover": {
          "parameterOrder": [
            "project",
            "instance"
          ],
          "response": {
            "$ref": "Operation"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "description": "Initiates a manual failover of a high availability (HA) primary instance to a standby instance, which becomes the primary instance. Users are then rerouted to the new primary. For more information, see the [Overview of high availability](https://cloud.google.com/sql/docs/mysql/high-availability) page in the Cloud SQL documentation. If using Legacy HA (MySQL only), this causes the instance to failover to its failover replica instance.",
          "request": {
            "$ref": "InstancesFailoverRequest"
          },
          "id": "sql.instances.failover",
          "flatPath": "sql/v1beta4/projects/{project}/instances/{instance}/failover",
          "path": "sql/v1beta4/projects/{project}/instances/{instance}/failover",
          "httpMethod": "POST",
          "parameters": {
            "project": {
              "location": "path",
              "type": "string",
              "description": "ID of the project that contains the read replica.",
              "required": true
            },
            "location": {
              "location": "query",
              "description": "Optional. Region of the Cloud SQL instance.",
              "type": "string"
            },
            "instance": {
              "description": "Cloud SQL instance ID. This does not include the project ID.",
              "type": "string",
              "required": true,
              "location": "path"
            }
          }
        },
        "patch": {
          "response": {
            "$ref": "Operation"
          },
          "path": "sql/v1beta4/projects/{project}/instances/{instance}",
          "request": {
            "$ref": "DatabaseInstance"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "httpMethod": "PATCH",
          "parameters": {
            "location": {
              "location": "query",
              "description": "Optional. Region of the Cloud SQL instance.",
              "type": "string"
            },
            "instance": {
              "required": true,
              "description": "Cloud SQL instance ID. This does not include the project ID.",
              "type": "string",
              "location": "path"
            },
            "reconcilePscNetworkingForce": {
              "location": "query",
              "description": "Optional. Set PSC config to the same value as the existing config and force reconcile the PSC networking.",
              "type": "boolean"
            },
            "reconcilePscNetworking": {
              "type": "boolean",
              "description": "Optional. Set PSC config to the same value as the existing config to reconcile the PSC networking.",
              "location": "query"
            },
            "project": {
              "type": "string",
              "required": true,
              "location": "path",
              "description": "Project ID of the project that contains the instance."
            }
          },
          "parameterOrder": [
            "project",
            "instance"
          ],
          "id": "sql.instances.patch",
          "description": "Partially updates settings of a Cloud SQL instance by merging the request with the current configuration. This method supports patch semantics.",
          "flatPath": "sql/v1beta4/projects/{project}/instances/{instance}"
        },
        "RotateServerCertificate": {
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "description": "Rotates the server certificate version to one previously added with the addServerCertificate method. For instances not using Certificate Authority Service (CAS) server CA, use RotateServerCa instead.",
          "path": "sql/v1beta4/projects/{project}/instances/{instance}/rotateServerCertificate",
          "flatPath": "sql/v1beta4/projects/{project}/instances/{instance}/rotateServerCertificate",
          "id": "sql.instances.RotateServerCertificate",
          "response": {
            "$ref": "Operation"
          },
          "request": {
            "$ref": "InstancesRotateServerCertificateRequest"
          },
          "httpMethod": "POST",
          "parameterOrder": [
            "project",
            "instance"
          ],
          "parameters": {
            "instance": {
              "type": "string",
              "location": "path",
              "required": true,
              "description": "Required. Cloud SQL instance ID. This does not include the project ID."
            },
            "project": {
[...]
