{
  "discoveryVersion": "v1",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        },
        "https://www.googleapis.com/auth/sqlservice.admin": {
          "description": "Manage your Google SQL Service instances"
        }
      }
    }
  },
  "rootUrl": "https://sqladmin.googleapis.com/",
  "batchPath": "batch",
  "mtlsRootUrl": "https://sqladmin.mtls.googleapis.com/",
  "id": "sqladmin:v1beta4",
  "fullyEncodeReservedExpansion": true,
  "name": "sqladmin",
  "kind": "discovery#restDescription",
  "endpoints": [
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://sqladmin.us-east7.rep.googleapis.com/",
      "location": "us-east7"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://sqladmin.northamerica-northeast1.rep.googleapis.com/",
      "location": "northamerica-northeast1"
    },
    {
      "endpointUrl": "https://sqladmin.northamerica-northeast2.rep.googleapis.com/",
      "location": "northamerica-northeast2",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "location": "europe-north1",
      "endpointUrl": "https://sqladmin.europe-north1.rep.googleapis.com/"
    },
    {
      "location": "us-west2",
      "endpointUrl": "https://sqladmin.us-west2.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "asia-east2",
      "endpointUrl": "https://sqladmin.asia-east2.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://sqladmin.europe-west3.rep.googleapis.com/",
      "location": "europe-west3",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "location": "us-east1",
      "endpointUrl": "https://sqladmin.us-east1.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://sqladmin.asia-east1.rep.googleapis.com/",
      "location": "asia-east1"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://sqladmin.asia-northeast2.rep.googleapis.com/",
      "location": "asia-northeast2"
    },
    {
      "location": "me-central1",
      "endpointUrl": "https://sqladmin.me-central1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://sqladmin.europe-central2.rep.googleapis.com/",
      "location": "europe-central2",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://sqladmin.northamerica-south1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "northamerica-south1"
    },
    {
      "endpointUrl": "https://sqladmin.us-west8.rep.googleapis.com/",
      "location": "us-west8",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://sqladmin.me-west1.rep.googleapis.com/",
      "location": "me-west1",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "location": "asia-northeast3",
      "endpointUrl": "https://sqladmin.asia-northeast3.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://sqladmin.us-west1.rep.googleapis.com/",
      "location": "us-west1"
    },
    {
      "description": "Regional Endpoint",
      "location": "europe-west9",
      "endpointUrl": "https://sqladmin.europe-west9.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://sqladmin.asia-southeast3.rep.googleapis.com/",
      "location": "asia-southeast3",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://sqladmin.europe-west1.rep.googleapis.com/",
      "location": "europe-west1",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "location": "asia-southeast1",
      "endpointUrl": "https://sqladmin.asia-southeast1.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "location": "us-west4",
      "endpointUrl": "https://sqladmin.us-west4.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://sqladmin.europe-west12.rep.googleapis.com/",
      "location": "europe-west12"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://sqladmin.asia-south2.rep.googleapis.com/",
      "location": "asia-south2"
    },
    {
      "endpointUrl": "https://sqladmin.australia-southeast1.rep.googleapis.com/",
      "location": "australia-southeast1",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://sqladmin.europe-west6.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "europe-west6"
    },
    {
      "description": "Regional Endpoint",
      "location": "us-east4",
      "endpointUrl": "https://sqladmin.us-east4.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://sqladmin.asia-southeast2.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "asia-southeast2"
    },
    {
      "description": "Regional Endpoint",
      "location": "europe-southwest1",
      "endpointUrl": "https://sqladmin.europe-southwest1.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://sqladmin.europe-west8.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "europe-west8"
    },
    {
      "location": "africa-south1",
      "endpointUrl": "https://sqladmin.africa-south1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://sqladmin.me-central2.rep.googleapis.com/",
      "location": "me-central2",
      "description": "Regional Endpoint"
    },
    {
      "location": "us-central1",
      "endpointUrl": "https://sqladmin.us-central1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://sqladmin.us-central2.rep.googleapis.com/",
      "location": "us-central2",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://sqladmin.europe-north2.rep.googleapis.com/",
      "location": "europe-north2",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "location": "asia-northeast1",
      "endpointUrl": "https://sqladmin.asia-northeast1.rep.googleapis.com/"
    },
    {
      "location": "europe-west2",
      "description": "Regional Endpoint",
      "endpointUrl": "https://sqladmin.europe-west2.rep.googleapis.com/"
    },
    {
      "location": "southamerica-east1",
      "description": "Regional Endpoint",
      "endpointUrl": "https://sqladmin.southamerica-east1.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "location": "us-east5",
      "endpointUrl": "https://sqladmin.us-east5.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://sqladmin.asia-south1.rep.googleapis.com/",
      "location": "asia-south1",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://sqladmin.europe-west4.rep.googleapis.com/",
      "location": "europe-west4",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://sqladmin.us-west3.rep.googleapis.com/",
      "location": "us-west3",
      "description": "Regional Endpoint"
    },
    {
      "location": "australia-southeast2",
      "endpointUrl": "https://sqladmin.australia-southeast2.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "location": "southamerica-west1",
      "endpointUrl": "https://sqladmin.southamerica-west1.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://sqladmin.europe-west10.rep.googleapis.com/",
      "location": "europe-west10"
    },
    {
      "location": "us-south1",
      "description": "Regional Endpoint",
      "endpointUrl": "https://sqladmin.us-south1.rep.googleapis.com/"
    }
  ],
  "servicePath": "",
  "schemas": {
    "InstancesTruncateLogRequest": {
      "description": "Instance truncate log request.",
      "id": "InstancesTruncateLogRequest",
      "type": "object",
      "properties": {
        "truncateLogContext": {
          "description": "Contains details about the truncate log operation.",
          "$ref": "TruncateLogContext"
        }
      }
    },
    "BackupContext": {
      "description": "Backup context.",
      "type": "object",
      "properties": {
        "kind": {
          "type": "string",
          "description": "This is always `sql#backupContext`."
        },
        "name": {
          "type": "string",
          "description": "The name of the backup. Format: projects/{project}/backups/{backup}"
        },
        "backupId": {
          "type": "string",
          "description": "The identifier of the backup.",
          "format": "int64"
        }
      },
      "id": "BackupContext"
    },
    "SslCert": {
      "properties": {
        "selfLink": {
          "description": "The URI of this resource.",
          "type": "string"
        },
        "createTime": {
          "description": "The time when the certificate was created in [RFC 3339](https://tools.ietf.org/html/rfc3339) format, for example `2012-11-15T16:19:00.094Z`.",
          "format": "google-datetime",
          "type": "string"
        },
        "expirationTime": {
          "format": "google-datetime",
          "description": "The time when the certificate expires in [RFC 3339](https://tools.ietf.org/html/rfc3339) format, for example `2012-11-15T16:19:00.094Z`.",
          "type": "string"
        },
        "certSerialNumber": {
          "description": "Serial number, as extracted from the certificate.",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "description": "This is always `sql#sslCert`."
        },
        "sha1Fingerprint": {
          "description": "Sha1 Fingerprint.",
          "type": "string"
        },
        "cert": {
          "description": "PEM representation.",
          "type": "string"
        },
        "commonName": {
          "type": "string",
          "description": "User supplied name. Constrained to [a-zA-Z.-_ ]+."
        },
        "instance": {
          "description": "Name of the database instance.",
          "type": "string"
        }
      },
      "id": "SslCert",
      "description": "SslCerts Resource",
      "type": "object"
    },
    "RotateServerCertificateContext": {
      "properties": {
        "nextVersion": {
          "description": "Optional. The fingerprint of the next version to be rotated to. If left unspecified, will be rotated to the most recently added server certificate version.",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "description": "Optional. This is always `sql#rotateServerCertificateContext`."
        }
      },
      "id": "RotateServerCertificateContext",
      "type": "object",
      "description": "Instance rotate server certificate context."
    },
    "SqlInstancesGetLatestRecoveryTimeResponse": {
      "properties": {
        "latestRecoveryTime": {
          "format": "google-datetime",
          "description": "Timestamp, identifies the latest recovery time of the source instance.",
          "type": "string"
        },
        "earliestRecoveryTime": {
          "description": "Timestamp, identifies the earliest recovery time of the source instance.",
          "format": "google-datetime",
          "type": "string"
        },
        "kind": {
          "description": "This is always `sql#getLatestRecoveryTime`.",
          "type": "string"
        }
      },
      "id": "SqlInstancesGetLatestRecoveryTimeResponse",
      "type": "object",
      "description": "Instance get latest recovery time response."
    },
    "SslCertsListResponse": {
      "properties": {
        "items": {
          "items": {
            "$ref": "SslCert"
          },
          "type": "array",
          "description": "List of client certificates for the instance."
        },
        "kind": {
          "type": "string",
          "description": "This is always `sql#sslCertsList`."
        }
      },
      "type": "object",
      "id": "SslCertsListResponse",
      "description": "SslCerts list response."
    },
    "ImportContext": {
      "id": "ImportContext",
      "type": "object",
      "properties": {
        "csvImportOptions": {
          "properties": {
            "quoteCharacter": {
              "type": "string",
              "description": "Specifies the quoting character to be used when a data value is quoted."
            },
            "columns": {
              "description": "The columns to which CSV data is imported. If not specified, all columns of the database table are loaded with CSV data.",
              "items": {
                "type": "string"
              },
              "type": "array"
            },
            "linesTerminatedBy": {
              "description": "This is used to separate lines. If a line does not contain all fields, the rest of the columns are set to their default values.",
              "type": "string"
            },
            "table": {
              "description": "The table to which CSV data is imported.",
              "type": "string"
            },
            "fieldsTerminatedBy": {
              "type": "string",
              "description": "Specifies the character that separates columns within each row (line) of the file."
            },
            "escapeCharacter": {
              "description": "Specifies the character that should appear before a data character that needs to be escaped.",
              "type": "string"
            }
          },
          "type": "object",
          "description": "Options for importing data as CSV."
        },
        "importUser": {
          "description": "The PostgreSQL user for this import operation. PostgreSQL instances only.",
          "type": "string"
        },
        "database": {
          "description": "The target database for the import. If `fileType` is `SQL`, this field is required only if the import file does not specify a database, and is overridden by any database specification in the import file. For entire instance parallel import operations, the database is overridden by the database name stored in subdirectory name. If `fileType` is `CSV`, one database must be specified.",
          "type": "string"
        },
        "sqlImportOptions": {
          "description": "Optional. Options for importing data from SQL statements.",
          "properties": {
            "parallel": {
              "description": "Optional. Whether or not the import should be parallel.",
              "type": "boolean"
            },
            "threads": {
              "format": "int32",
              "description": "Optional. The number of threads to use for parallel import.",
              "type": "integer"
            },
            "postgresImportOptions": {
              "type": "object",
              "properties": {
                "clean": {
                  "description": "Optional. The --clean flag for the pg_restore utility. This flag applies only if you enabled Cloud SQL to import files in parallel.",
                  "type": "boolean"
                },
                "ifExists": {
                  "type": "boolean",
                  "description": "Optional. The --if-exists flag for the pg_restore utility. This flag applies only if you enabled Cloud SQL to import files in parallel."
                }
              },
              "description": "Optional. Options for importing from a Cloud SQL for PostgreSQL instance."
            }
          },
          "type": "object"
        },
        "kind": {
          "description": "This is always `sql#importContext`.",
          "type": "string"
        },
        "fileType": {
          "enumDescriptions": [
            "Unknown file type.",
            "File containing SQL statements.",
            "File in CSV format.",
            "",
            "TDE certificate."
          ],
          "type": "string",
          "enum": [
            "SQL_FILE_TYPE_UNSPECIFIED",
            "SQL",
            "CSV",
            "BAK",
            "TDE"
          ],
          "description": "The file type for the specified uri. * `SQL`: The file contains SQL statements. * `CSV`: The file contains CSV data. * `BAK`: The file contains backup data for a SQL Server instance."
        },
        "uri": {
          "description": "Path to the import file in Cloud Storage, in the form `gs://bucketName/fileName`. Compressed gzip files (.gz) are supported when `fileType` is `SQL`. The instance must have write permissions to the bucket and read access to the file.",
          "type": "string"
        },
        "bakImportOptions": {
          "type": "object",
          "description": "Import parameters specific to SQL Server .BAK files",
          "properties": {
            "noRecovery": {
              "description": "Whether or not the backup importing will restore database with NORECOVERY option. Applies only to Cloud SQL for SQL Server.",
              "type": "boolean"
            },
            "encryptionOptions": {
              "properties": {
                "pvkPath": {
                  "description": "Path to the Certificate Private Key (.pvk) in Cloud Storage, in the form `gs://bucketName/fileName`. The instance must have write permissions to the bucket and read access to the file.",
                  "type": "string"
                },
                "keepEncrypted": {
                  "description": "Optional. Whether the imported file remains encrypted.",
                  "type": "boolean"
                },
                "pvkPassword": {
                  "description": "Password that encrypts the private key",
                  "type": "string"
                },
                "certPath": {
                  "type": "string",
                  "description": "Path to the Certificate (.cer) in Cloud Storage, in the form `gs://bucketName/fileName`. The instance must have write permissions to the bucket and read access to the file."
                }
              },
              "type": "object"
            },
            "recoveryOnly": {
              "type": "boolean",
              "description": "Whether or not the backup importing request will just bring database online without downloading Bak content only one of \"no_recovery\" and \"recovery_only\" can be true otherwise error will return. Applies only to Cloud SQL for SQL Server."
            },
            "stopAtMark": {
              "type": "string",
              "description": "Optional. The marked transaction where the import should stop. This field is equivalent to the STOPATMARK keyword and applies to Cloud SQL for SQL Server only."
            },
            "striped": {
              "description": "Whether or not the backup set being restored is striped. Applies only to Cloud SQL for SQL Server.",
              "type": "boolean"
            },
            "stopAt": {
              "description": "Optional. The timestamp when the import should stop. This timestamp is in the [RFC 3339](https://tools.ietf.org/html/rfc3339) format (for example, `2023-10-01T16:19:00.094`). This field is equivalent to the STOPAT keyword and applies to Cloud SQL for SQL Server only.",
              "type": "string",
              "format": "google-datetime"
            },
            "bakType": {
              "description": "Type of the bak content, FULL or DIFF.",
              "type": "string",
              "enum": [
                "BAK_TYPE_UNSPECIFIED",
                "FULL",
                "DIFF",
                "TLOG"
              ],
              "enumDescriptions": [
                "Default type.",
                "Full backup.",
                "Differential backup.",
                "SQL Server Transaction Log"
              ]
            }
          }
        },
        "tdeImportOptions": {
          "type": "object",
          "description": "Optional. Import parameters specific to SQL Server .TDE files Import parameters specific to SQL Server TDE certificates",
          "properties": {
            "privateKeyPassword": {
              "description": "Required. Password that encrypts the private key.",
              "type": "string"
            },
            "name": {
              "type": "string",
              "description": "Required. Certificate name. Applicable only for SQL Server instances."
            },
            "privateKeyPath": {
              "description": "Required. Path to the TDE certificate private key in the form gs://bucketName/fileName. The instance must have read access to the file. Applicable only for SQL Server instances.",
              "type": "string"
            },
            "certificatePath": {
              "description": "Required. Path to the TDE certificate public key in the form gs://bucketName/fileName. The instance must have read access to the file. Applicable only for SQL Server instances.",
              "type": "string"
            }
          }
        }
      },
      "description": "Database instance import context."
    },
    "Column": {
      "id": "Column",
      "description": "Contains the name and datatype of a column.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Name of the column.",
          "type": "string"
        },
        "type": {
          "type": "string",
          "description": "Datatype of the column."
        }
      }
    },
    "AdvancedMachineFeatures": {
      "properties": {
        "threadsPerCore": {
          "format": "int32",
          "description": "The number of threads per physical core.",
          "type": "integer"
        }
      },
      "id": "AdvancedMachineFeatures",
      "type": "object",
      "description": "Specifies options for controlling advanced machine features."
    },
    "TiersListResponse": {
      "id": "TiersListResponse",
      "properties": {
        "items": {
          "items": {
            "$ref": "Tier"
          },
          "type": "array",
          "description": "List of tiers."
        },
        "kind": {
          "description": "This is always `sql#tiersList`.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Tiers list response."
    },
    "InstancesExportRequest": {
      "id": "InstancesExportRequest",
      "type": "object",
      "properties": {
        "exportContext": {
          "description": "Contains details about the export operation.",
          "$ref": "ExportContext"
        }
      },
      "description": "Database instance export request."
    },
    "FinalBackupConfig": {
      "id": "FinalBackupConfig",
      "properties": {
        "retentionDays": {
          "format": "int32",
          "description": "The number of days to retain the final backup after the instance deletion. The final backup will be purged at (time_of_instance_deletion + retention_days).",
          "type": "integer"
        },
        "enabled": {
          "type": "boolean",
          "description": "Whether the final backup is enabled for the instance."
        }
      },
      "type": "object",
      "description": "Config used to determine the final backup settings for the instance."
    },
    "PasswordValidationPolicy": {
      "id": "PasswordValidationPolicy",
      "type": "object",
      "description": "Database instance local user password validation policy. This message defines the password policy for local database users. When enabled, it enforces constraints on password complexity, length, and reuse. Keep this policy enabled to help prevent unauthorized access.",
      "properties": {
        "complexity": {
          "description": "The complexity of the password.",
          "type": "string",
          "enum": [
            "COMPLEXITY_UNSPECIFIED",
            "COMPLEXITY_DEFAULT"
          ],
          "enumDescriptions": [
            "Complexity check is not specified.",
            "A combination of lowercase, uppercase, numeric, and non-alphanumeric characters."
          ]
        },
        "enablePasswordPolicy": {
          "description": "Whether to enable the password policy or not. When enabled, passwords must meet complexity requirements. Keep this policy enabled to help prevent unauthorized access. Disabling this policy allows weak passwords.",
          "type": "boolean"
        },
        "disallowCompromisedCredentials": {
          "description": "This field is deprecated and will be removed in a future version of the API.",
          "type": "boolean",
          "deprecated": true
        },
        "minLength": {
          "type": "integer",
          "description": "Minimum number of characters allowed.",
          "format": "int32"
        },
        "passwordChangeInterval": {
          "format": "google-duration",
          "type": "string",
          "description": "Minimum interval after which the password can be changed. This flag is only supported for PostgreSQL."
        },
        "disallowUsernameSubstring": {
          "type": "boolean",
          "description": "Disallow username as a part of the password."
        },
        "reuseInterval": {
          "type": "integer",
          "format": "int32",
          "description": "Number of previous passwords that cannot be reused."
        }
      }
    },
    "Flag": {
      "properties": {
        "name": {
          "type": "string",
          "description": "This is the name of the flag. Flag names always use underscores, not hyphens, for example: `max_allowed_packet`"
        },
        "recommendedStringValue": {
          "type": "string",
          "description": "Recommended flag value in string format for UI display."
        },
        "minValue": {
          "format": "int64",
          "type": "string",
          "description": "For `INTEGER` flags, the minimum allowed value."
        },
        "appliesTo": {
          "items": {
            "type": "string",
            "enumDescriptions": [
              "This is an unknown database version.",
              "The database version is MySQL 5.1.",
              "The database version is MySQL 5.5.",
              "The database version is MySQL 5.6.",
              "The database version is MySQL 5.7.",
              "The database version is MySQL 8.",
              "The database major version is MySQL 8.0 and the minor version is 18.",
              "The database major version is MySQL 8.0 and the minor version is 26.",
              "The database major version is MySQL 8.0 and the minor version is 27.",
              "The database major version is MySQL 8.0 and the minor version is 28.",
              "The database major version is MySQL 8.0 and the minor version is 29.",
              "The database major version is MySQL 8.0 and the minor version is 30.",
              "The database major version is MySQL 8.0 and the minor version is 31.",
              "The database major version is MySQL 8.0 and the minor version is 32.",
              "The database major version is MySQL 8.0 and the minor version is 33.",
              "The database major version is MySQL 8.0 and the minor version is 34.",
              "The database major version is MySQL 8.0 and the minor version is 35.",
              "The database major version is MySQL 8.0 and the minor version is 36.",
              "The database major version is MySQL 8.0 and the minor version is 37.",
              "The database major version is MySQL 8.0 and the minor version is 39.",
              "The database major version is MySQL 8.0 and the minor version is 40.",
              "The database major version is MySQL 8.0 and the minor version is 41.",
              "The database major version is MySQL 8.0 and the minor version is 42.",
              "The database major version is MySQL 8.0 and the minor version is 43.",
              "The database major version is MySQL 8.0 and the minor version is 44.",
              "The database major version is MySQL 8.0 and the minor version is 45.",
              "The database major version is MySQL 8.0 and the minor version is 46.",
              "The database version is MySQL 8.4.",
              "The database version is MySQL 9.7.",
              "The database version is SQL Server 2017 Standard.",
              "The database version is SQL Server 2017 Enterprise.",
              "The database version is SQL Server 2017 Express.",
              "The database version is SQL Server 2017 Web.",
              "The database version is PostgreSQL 9.6.",
              "The database version is PostgreSQL 10.",
              "The database version is PostgreSQL 11.",
              "The database version is PostgreSQL 12.",
              "The database version is PostgreSQL 13.",
              "The database version is PostgreSQL 14.",
              "The database version is PostgreSQL 15.",
              "The database version is PostgreSQL 16.",
              "The database version is PostgreSQL 17.",
              "The database version is PostgreSQL 18.",
              "The database version is PostgreSQL 19.",
              "The database version is PostgreSQL 20.",
              "The database version is SQL Server 2019 Standard.",
              "The database version is SQL Server 2019 Enterprise.",
              "The database version is SQL Server 2019 Express.",
              "The database version is SQL Server 2019 Web.",
              "The database version is SQL Server 2022 Standard.",
              "The database version is SQL Server 2022 Enterprise.",
              "The database version is SQL Server 2022 Express.",
              "The database version is SQL Server 2022 Web.",
              "The database version is SQL Server 2025 Standard.",
              "The database version is SQL Server 2025 Enterprise.",
              "The database version is SQL Server 2025 Express."
            ],
            "enumDeprecated": [
              false,
              true,
              true,
              false,
              false,
              false,
              false,
              false,
              false,
              false,
              true,
              false,
              false,
              false,
              false,
              false,
              false,
              false,
              false,
              false,
              false,
              false,
              false,
              false,
              false,
              false,
              false,
              false,
              false,
              false,
              false,
              false,
              false,
              false,
              false,
              false,
              false,
              false,
              false,
              false,
              false,
              false,
              false,
              false,
              false,
              false,
              false,
              false,
              false,
              false,
              false,
              false,
              false,
              false,
              false,
              false
            ],
            "enum": [
              "SQL_DATABASE_VERSION_UNSPECIFIED",
              "MYSQL_5_1",
              "MYSQL_5_5",
              "MYSQL_5_6",
              "MYSQL_5_7",
              "MYSQL_8_0",
              "MYSQL_8_0_18",
              "MYSQL_8_0_26",
              "MYSQL_8_0_27",
              "MYSQL_8_0_28",
              "MYSQL_8_0_29",
              "MYSQL_8_0_30",
              "MYSQL_8_0_31",
              "MYSQL_8_0_32",
              "MYSQL_8_0_33",
              "MYSQL_8_0_34",
              "MYSQL_8_0_35",
              "MYSQL_8_0_36",
              "MYSQL_8_0_37",
              "MYSQL_8_0_39",
              "MYSQL_8_0_40",
              "MYSQL_8_0_41",
              "MYSQL_8_0_42",
              "MYSQL_8_0_43",
              "MYSQL_8_0_44",
              "MYSQL_8_0_45",
              "MYSQL_8_0_46",
              "MYSQL_8_4",
              "MYSQL_9_7",
              "SQLSERVER_2017_STANDARD",
              "SQLSERVER_2017_ENTERPRISE",
              "SQLSERVER_2017_EXPRESS",
              "SQLSERVER_2017_WEB",
              "POSTGRES_9_6",
              "POSTGRES_10",
              "POSTGRES_11",
              "POSTGRES_12",
              "POSTGRES_13",
              "POSTGRES_14",
              "POSTGRES_15",
              "POSTGRES_16",
              "POSTGRES_17",
              "POSTGRES_18",
              "POSTGRES_19",
              "POSTGRES_20",
              "SQLSERVER_2019_STANDARD",
              "SQLSERVER_2019_ENTERPRISE",
              "SQLSERVER_2019_EXPRESS",
              "SQLSERVER_2019_WEB",
              "SQLSERVER_2022_STANDARD",
              "SQLSERVER_2022_ENTERPRISE",
              "SQLSERVER_2022_EXPRESS",
              "SQLSERVER_2022_WEB",
              "SQLSERVER_2025_STANDARD",
              "SQLSERVER_2025_ENTERPRISE",
              "SQLSERVER_2025_EXPRESS"
            ]
          },
          "type": "array",
          "description": "The database version this flag applies to. Can be MySQL instances: `MYSQL_8_0`, `MYSQL_8_0_18`, `MYSQL_8_0_26`, `MYSQL_5_7`, or `MYSQL_5_6`. PostgreSQL instances: `POSTGRES_9_6`, `POSTGRES_10`, `POSTGRES_11` or `POSTGRES_12`. SQL Server instances: `SQLSERVER_2017_STANDARD`, `SQLSERVER_2017_ENTERPRISE`, `SQLSERVER_2017_EXPRESS`, `SQLSERVER_2017_WEB`, `SQLSERVER_2019_STANDARD`, `SQLSERVER_2019_ENTERPRISE`, `SQLSERVER_2019_EXPRESS`, or `SQLSERVER_2019_WEB`. See [the complete list](/sql/docs/mysql/admin-api/rest/v1/SqlDatabaseVersion)."
        },
        "type": {
          "enumDescriptions": [
            "This is an unknown flag type.",
            "Boolean type flag.",
            "String type flag.",
            "Integer type flag.",
            "Flag type used for a server startup option.",
            "Type introduced specially for MySQL TimeZone offset. Accept a string value with the format [-12:59, 13:00].",
            "Float type flag.",
            "Comma-separated list of the strings in a SqlFlagType enum."
          ],
          "type": "string",
          "enum": [
            "SQL_FLAG_TYPE_UNSPECIFIED",
            "BOOLEAN",
            "STRING",
            "INTEGER",
            "NONE",
            "MYSQL_TIMEZONE_OFFSET",
            "FLOAT",
            "REPEATED_STRING"
          ],
          "description": "The type of the flag. Flags are typed to being `BOOLEAN`, `STRING`, `INTEGER` or `NONE`. `NONE` is used for flags which do not take a value, such as `skip_grant_tables`."
        },
        "flagScope": {
          "description": "Scope of flag.",
          "enumDescriptions": [
            "Assume database flags if unspecified",
            "database flags",
            "connection pool configuration flags"
          ],
          "type": "string",
          "enum": [
            "SQL_FLAG_SCOPE_UNSPECIFIED",
            "SQL_FLAG_SCOPE_DATABASE",
            "SQL_FLAG_SCOPE_CONNECTION_POOL"
          ]
        },
        "recommendedIntValue": {
          "format": "int64",
          "description": "Recommended flag value in integer format for UI display.",
          "type": "string"
        },
        "requiresRestart": {
          "type": "boolean",
          "description": "Indicates whether changing this flag will trigger a database restart. Only applicable to Second Generation instances."
        },
        "maxValue": {
          "type": "string",
          "format": "int64",
          "description": "For `INTEGER` flags, the maximum allowed value."
        },
        "allowedStringValues": {
          "items": {
            "type": "string"
          },
          "description": "For `STRING` flags, a list of strings that the value can be set to.",
          "type": "array"
        },
        "kind": {
          "type": "string",
          "description": "This is always `sql#flag`."
        },
        "allowedIntValues": {
          "description": "Use this field if only certain integers are accepted. Can be combined with min_value and max_value to add additional values.",
          "type": "array",
          "items": {
            "format": "int64",
            "type": "string"
          }
        },
        "inBeta": {
          "description": "Whether or not the flag is considered in beta.",
          "type": "boolean"
        }
      },
      "id": "Flag",
      "type": "object",
      "description": "A flag resource."
    },
    "SqlServerUserDetails": {
      "id": "SqlServerUserDetails",
      "properties": {
        "serverRoles": {
          "type": "array",
          "description": "Indicates the server roles for this user.",
          "items": {
            "type": "string"
          }
        },
        "disabled": {
          "description": "Indicates if the user has been disabled.",
          "type": "boolean"
        }
      },
      "description": "Represents a Sql Server user on the Cloud SQL instance.",
      "type": "object"
    },
    "Empty": {
      "properties": {},
      "type": "object",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "id": "Empty"
    },
    "User": {
      "type": "object",
      "id": "User",
      "description": "A Cloud SQL user resource.",
      "properties": {
        "databaseRoles": {
          "description": "Optional. Role memberships of the user",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "password": {
          "description": "The password for the user.",
          "type": "string"
        },
        "project": {
          "description": "The project ID of the project containing the Cloud SQL database. The Google apps domain is prefixed if applicable. Can be omitted for *update* because it is already specified on the URL.",
          "type": "string"
        },
        "kind": {
          "description": "This is always `sql#user`.",
          "type": "string"
        },
        "instance": {
          "type": "string",
          "description": "The name of the Cloud SQL instance. This does not include the project ID. Can be omitted for *update* because it is already specified on the URL."
        },
        "name": {
          "type": "string",
          "description": "The name of the user in the Cloud SQL instance. Can be omitted for `update` because it is already specified in the URL."
        },
        "serverRoles": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Optional. The server roles for the SQL Server login."
        },
        "sqlserverUserDetails": {
          "$ref": "SqlServerUserDetails"
        },
        "type": {
          "enumDescriptions": [
            "The database's built-in user type.",
            "Cloud IAM user.",
            "Cloud IAM service account.",
            "Cloud IAM group. Not used for login.",
            "Read-only. Login for a user that belongs to the Cloud IAM group.",
            "Read-only. Login for a service account that belongs to the Cloud IAM group.",
            "Cloud IAM workforce identity user managed via workforce identity federation.",
            "Microsoft Entra ID user."
          ],
          "type": "string",
          "description": "The user type. It determines the method to authenticate the user during login. The default is the database's built-in user type.",
          "enum": [
            "BUILT_IN",
            "CLOUD_IAM_USER",
            "CLOUD_IAM_SERVICE_ACCOUNT",
            "CLOUD_IAM_GROUP",
            "CLOUD_IAM_GROUP_USER",
            "CLOUD_IAM_GROUP_SERVICE_ACCOUNT",
            "CLOUD_IAM_WORKFORCE_IDENTITY",
            "ENTRAID_USER"
          ]
        },
        "passwordPolicy": {
          "description": "User level password validation policy.",
          "$ref": "UserPasswordValidationPolicy"
        },
        "host": {
          "description": "Optional. The host from which the user can connect. For `insert` operations, host defaults to an empty string. For `update` operations, host is specified as part of the request URL. The host name cannot be updated after insertion. For a MySQL instance, it's required; for a PostgreSQL or SQL Server instance, it's optional.",
          "type": "string"
        },
        "iamEmail": {
          "description": "Optional. The full email for an IAM user. For normal database users, this will not be filled. Only applicable to MySQL database users.",
          "type": "string"
        },
        "etag": {
          "description": "This field is deprecated and will be removed from a future version of the API.",
          "type": "string"
        },
        "iamStatus": {
          "type": "string",
          "enumDescriptions": [
            "The default value for users that are not of type CLOUD_IAM_GROUP. Only CLOUD_IAM_GROUP users will be inactive or active. Users with an IamStatus of IAM_STATUS_UNSPECIFIED will not display whether they are active or inactive as that is not applicable to them.",
            "INACTIVE indicates a group is not available for IAM database authentication.",
            "ACTIVE indicates a group is available for IAM database authentication."
          ],
          "enum": [
            "IAM_STATUS_UNSPECIFIED",
            "INACTIVE",
            "ACTIVE"
          ],
          "description": "Indicates if a group is active or inactive for IAM database authentication."
        },
        "dualPasswordType": {
          "description": "Dual password status for the user.",
          "enumDescriptions": [
            "The default value.",
            "Do not update the user's dual password status.",
            "No dual password usable for connecting using this user.",
            "Dual password usable for connecting using this user."
          ],
          "enum": [
            "DUAL_PASSWORD_TYPE_UNSPECIFIED",
            "NO_MODIFY_DUAL_PASSWORD",
            "NO_DUAL_PASSWORD",
            "DUAL_PASSWORD"
          ],
          "type": "string"
        }
      }
    },
    "BackupReencryptionConfig": {
      "description": "Backup Reencryption Config",
      "id": "BackupReencryptionConfig",
      "properties": {
        "backupLimit": {
          "format": "int32",
          "description": "Backup re-encryption limit",
          "type": "integer"
        },
        "backupType": {
          "description": "Type of backups users want to re-encrypt.",
          "enumDescriptions": [
            "Unknown backup type, will be defaulted to AUTOMATIC backup type",
            "Reencrypt automatic backups",
            "Reencrypt on-demand backups"
          ],
          "type": "string",
          "enum": [
            "BACKUP_TYPE_UNSPECIFIED",
            "AUTOMATED",
            "ON_DEMAND"
          ]
        }
      },
      "type": "object"
    },
    "ConfigDiff": {
      "description": "Represents a specific configuration difference between Blue and Green instances.",
      "properties": {
        "targetValue": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The value on the target instance."
        },
        "sourceValue": {
          "description": "Output only. The value on the source instance.",
          "readOnly": true,
          "type": "string"
        },
        "field": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The name of the field that differs, fully-qualified. Example: settings.tier"
        }
      },
      "id": "ConfigDiff",
      "type": "object"
    },
    "DeploymentTasks": {
      "properties": {
        "task": {
          "description": "Output only. Tasks performed or being performed on the paired nodes of the deployment at a consolidated level.",
          "type": "array",
          "items": {
            "$ref": "DeploymentTask"
          },
          "readOnly": true
        }
      },
      "description": "Combined list of tasks for all paired nodes in the deployment.",
      "type": "object",
      "id": "DeploymentTasks"
    },
    "SqlInstancesResetReplicaSizeRequest": {
      "properties": {
        "location": {
          "type": "string",
          "description": "Optional. Region of the Cloud SQL instance."
        }
      },
      "id": "SqlInstancesResetReplicaSizeRequest",
      "description": "Instance reset replica size request.",
      "type": "object"
    },
    "SourceRole": {
      "id": "SourceRole",
      "properties": {
        "targetId": {
          "description": "Output only. The target instance paired with this source instance in a blue-green deployment.",
          "readOnly": true,
          "$ref": "InstanceReference"
        }
      },
      "type": "object",
      "description": "The source instance for the Blue-Green deployment."
    },
    "NodeInfo": {
      "description": "Details about an instance within the deployment.",
      "type": "object",
      "id": "NodeInfo",
      "properties": {
        "instance": {
          "readOnly": true,
          "description": "Output only. The full resource name of the instance. Format: projects/{project}/instances/{instance}",
          "type": "string"
        },
        "ipMappings": {
          "items": {
            "$ref": "IpMapping"
          },
          "type": "array",
          "readOnly": true,
          "description": "Output only. The list of IP addresses for this instance."
        },
        "connection": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The instance connection name."
        },
        "dns": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The unique DNS name for this instance."
        }
      }
    },
    "DenyMaintenancePeriod": {
      "properties": {
        "startDate": {
          "description": "\"deny maintenance period\" start date. If the year of the start date is empty, the year of the end date also must be empty. In this case, it means the deny maintenance period recurs every year. The date is in format yyyy-mm-dd i.e., 2020-11-01, or mm-dd, i.e., 11-01",
          "type": "string"
        },
        "endDate": {
          "description": "\"deny maintenance period\" end date. If the year of the end date is empty, the year of the start date also must be empty. In this case, it means the deny maintenance period recurs every year. The date is in format yyyy-mm-dd i.e., 2020-11-01, or mm-dd, i.e., 11-01",
          "type": "string"
        },
        "time": {
          "type": "string",
          "description": "Time in UTC when the \"deny maintenance period\" starts on start_date and ends on end_date. The time is in format: HH:mm:SS, i.e., 00:00:00"
        }
      },
      "description": "Deny Maintenance Periods. This specifies a date range during when all CSA rollout will be denied.",
      "id": "DenyMaintenancePeriod",
      "type": "object"
    },
    "DemoteMasterMySqlReplicaConfiguration": {
      "properties": {
        "password": {
          "description": "The password for the replication connection.",
          "type": "string"
        },
        "username": {
          "description": "The username for the replication connection.",
          "type": "string"
        },
        "kind": {
          "description": "This is always `sql#demoteMasterMysqlReplicaConfiguration`.",
          "type": "string"
        },
        "clientCertificate": {
          "description": "PEM representation of the replica's x509 certificate.",
          "type": "string"
        },
        "caCertificate": {
          "type": "string",
          "description": "PEM representation of the trusted CA's x509 certificate."
        },
        "clientKey": {
          "type": "string",
          "description": "PEM representation of the replica's private key. The corresponding public key is encoded in the client's certificate. The format of the replica's private key can be either PKCS #1 or PKCS #8."
        }
      },
      "id": "DemoteMasterMySqlReplicaConfiguration",
      "description": "Read-replica configuration specific to MySQL databases.",
      "type": "object"
    },
    "PreCheckResponse": {
      "description": "Structured PreCheckResponse containing message, type, and required actions.",
      "type": "object",
      "properties": {
        "message": {
          "description": "The message to be displayed to the user.",
          "type": "string"
        },
        "actionsRequired": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "The actions that the user needs to take. Use repeated for multiple actions."
        },
        "messageType": {
          "description": "The type of message whether it is an info, warning, or error.",
          "enumDescriptions": [
            "Default unspecified value to prevent unintended behavior changes.",
            "General informational messages that don't require action.",
            "Warnings that might impact the upgrade but don't block it.",
            "Errors that a user must resolve before proceeding with the upgrade."
          ],
          "type": "string",
          "enum": [
            "MESSAGE_TYPE_UNSPECIFIED",
            "INFO",
            "WARNING",
            "ERROR"
          ]
        }
      },
      "id": "PreCheckResponse"
    },
    "Settings": {
      "id": "Settings",
      "properties": {
        "authorizedGaeApplications": {
          "deprecated": true,
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The App Engine app IDs that can access this instance. (Deprecated) Applied to First Generation instances only."
        },
        "activationPolicy": {
          "type": "string",
          "description": "The activation policy specifies when the instance is activated; it is applicable only when the instance state is RUNNABLE. Valid values: * `ALWAYS`: The instance is on, and remains so even in the absence of connection requests. * `NEVER`: The instance is off; it is not activated, even if a connection request arrives.",
          "enumDeprecated": [
            false,
            false,
            false,
            true
          ],
          "enumDescriptions": [
            "Unknown activation plan.",
            "The instance is always up and running.",
            "The instance never starts.",
            "The instance starts upon receiving requests."
          ],
          "enum": [
            "SQL_ACTIVATION_POLICY_UNSPECIFIED",
            "ALWAYS",
            "NEVER",
            "ON_DEMAND"
          ]
        },
        "readPoolAutoScaleConfig": {
          "description": "Optional. The read pool auto-scale configuration for the instance.",
          "$ref": "ReadPoolAutoScaleConfig"
        },
        "dataDiskProvisionedIops": {
          "format": "int64",
          "type": "string",
          "description": "Optional. Provisioned number of I/O operations per second for the data disk. This field is only used for hyperdisk-balanced disk types."
        },
        "kind": {
          "type": "string",
          "description": "This is always `sql#settings`."
        },
        "ipConfiguration": {
          "$ref": "IpConfiguration",
          "description": "The settings for IP Management. This allows to enable or disable the instance IP and manage which external networks can connect to the instance. The IPv4 address cannot be disabled for Second Generation instances."
        },
        "userLabels": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "User-provided labels, represented as a dictionary where each label is a single key value pair.",
          "type": "object"
        },
        "sqlServerAuditConfig": {
          "$ref": "SqlServerAuditConfig",
          "description": "SQL Server specific audit configuration."
        },
        "pricingPlan": {
          "enumDescriptions": [
            "This is an unknown pricing plan for this instance.",
            "The instance is billed at a monthly flat rate.",
            "The instance is billed per usage."
          ],
          "enum": [
            "SQL_PRICING_PLAN_UNSPECIFIED",
            "PACKAGE",
            "PER_USE"
          ],
          "type": "string",
          "description": "The pricing plan for this instance. This can be either `PER_USE` or `PACKAGE`. Only `PER_USE` is supported for Second Generation instances."
        },
        "dataDiskSizeGb": {
          "description": "The size of data disk, in GB. The data disk size minimum is 10GB.",
          "type": "string",
          "format": "int64"
        },
        "activeDirectoryConfig": {
          "description": "Active Directory configuration, relevant only for Cloud SQL for SQL Server.",
          "$ref": "SqlActiveDirectoryConfig"
        },
        "replicationType": {
          "enumDescriptions": [
            "This is an unknown replication type for a Cloud SQL instance.",
            "The synchronous replication mode for First Generation instances. It is the default value.",
            "The asynchronous replication mode for First Generation instances. It provides a slight performance gain, but if an outage occurs while this option is set to asynchronous, you can lose up to a few seconds of updates to your data."
          ],
          "type": "string",
          "enum": [
            "SQL_REPLICATION_TYPE_UNSPECIFIED",
            "SYNCHRONOUS",
            "ASYNCHRONOUS"
          ],
          "description": "The type of replication this instance uses. This can be either `ASYNCHRONOUS` or `SYNCHRONOUS`. (Deprecated) This property was only applicable to First Generation instances.",
          "deprecated": true
        },
        "databaseReplicationEnabled": {
          "description": "Configuration specific to read replica instances. Indicates whether replication is enabled or not. WARNING: Changing this restarts the instance.",
          "type": "boolean"
        },
        "deletionProtectionEnabled": {
          "type": "boolean",
          "description": "Configuration to protect against accidental instance deletion."
        },
        "connectorEnforcement": {
          "description": "Specifies if connections must use Cloud SQL connectors. Option values include the following: `NOT_REQUIRED` (Cloud SQL instances can be connected without Cloud SQL Connectors) and `REQUIRED` (Only allow connections that use Cloud SQL Connectors) Note that using REQUIRED disables all existing authorized networks. If this field is not specified when creating a new instance, NOT_REQUIRED is used. If this field is not specified when patching or updating an existing instance, it is left unchanged in the instance.",
          "enum": [
            "CONNECTOR_ENFORCEMENT_UNSPECIFIED",
            "NOT_REQUIRED",
            "REQUIRED"
          ],
          "type": "string",
          "enumDescriptions": [
            "The requirement for Cloud SQL connectors is unknown.",
            "Do not require Cloud SQL connectors.",
            "Require all connections to use Cloud SQL connectors, including the Cloud SQL Auth Proxy and Cloud SQL Java, Python, and Go connectors. Note: This disables all existing authorized networks."
          ]
        },
        "locationPreference": {
          "$ref": "LocationPreference",
          "description": "The location preference settings. This allows the instance to be located as near as possible to either an App Engine app or Compute Engine zone for better performance. App Engine co-location was only applicable to First Generation instances."
        },
        "replicationLagMaxSeconds": {
          "format": "int32",
          "description": "Optional. Configuration value for recreation of replica after certain replication lag.",
          "type": "integer"
        },
        "databaseFlags": {
          "description": "The database flags passed to the instance at startup.",
          "type": "array",
          "items": {
            "$ref": "DatabaseFlags"
          }
        },
        "connectionPoolConfig": {
          "description": "Optional. The managed connection pooling configuration for the instance.",
          "$ref": "ConnectionPoolConfig"
        },
        "availabilityType": {
          "description": "Availability type. Potential values: * `ZONAL`: The instance serves data from only one zone. Outages in that zone affect data accessibility. * `REGIONAL`: The instance can serve data from more than one zone in a region (it is highly available)./ For more information, see [Overview of the High Availability Configuration](https://cloud.google.com/sql/docs/mysql/high-availability).",
          "enum": [
            "SQL_AVAILABILITY_TYPE_UNSPECIFIED",
            "ZONAL",
            "REGIONAL"
          ],
          "enumDescriptions": [
            "This is an unknown Availability type.",
            "Zonal available instance.",
            "Regional available instance."
          ],
          "type": "string"
        },
        "maintenanceWindow": {
          "description": "The maintenance window for this instance. This specifies when the instance can be restarted for maintenance purposes.",
          "$ref": "MaintenanceWindow"
        },
        "passwordValidationPolicy": {
          "$ref": "PasswordValidationPolicy",
          "description": "The local user password validation policy of the instance for PostgreSQL and MySQL."
        },
        "tier": {
          "description": "The tier (or machine type) for this instance, for example `db-custom-1-3840`. WARNING: Changing this restarts the instance.",
          "type": "string"
        },
        "dataApiAccess": {
          "enum": [
            "DATA_API_ACCESS_UNSPECIFIED",
            "DISALLOW_DATA_API",
            "ALLOW_DATA_API"
          ],
          "description": "This parameter controls whether to allow using ExecuteSql API to connect to the instance. Not allowed by default.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified, effectively the same as `DISALLOW_DATA_API`.",
            "Disallow using ExecuteSql API to connect to the instance.",
            "Allow using ExecuteSql API to connect to the instance. For private IP instances, this allows authorized users to access the instance from the public internet using ExecuteSql API."
          ]
        },
        "enableDataplexIntegration": {
          "type": "boolean",
          "description": "Optional. By default, Cloud SQL instances have schema extraction disabled for Dataplex. When this parameter is set to true, schema extraction for Dataplex on Cloud SQL instances is activated."
        },
        "finalBackupConfig": {
          "$ref": "FinalBackupConfig",
          "description": "Optional. The final backup configuration for the instance."
        },
        "insightsConfig": {
          "description": "Insights configuration, for now relevant only for Postgres.",
          "$ref": "InsightsConfig"
        },
        "settingsVersion": {
          "type": "string",
          "description": "The version of instance settings. This is a required field for update method to make sure concurrent updates are handled properly. During update, use the most recent settingsVersion value for this instance and do not try to update this value.",
          "format": "int64"
        },
        "timeZone": {
          "description": "Server timezone, relevant only for Cloud SQL for SQL Server.",
          "type": "string"
        },
        "denyMaintenancePeriods": {
          "description": "Deny maintenance periods",
          "items": {
            "$ref": "DenyMaintenancePeriod"
          },
          "type": "array"
        },
        "edition": {
          "enum": [
            "EDITION_UNSPECIFIED",
            "ENTERPRISE",
            "ENTERPRISE_PLUS",
            "DEVELOPER"
          ],
          "enumDescriptions": [
            "The instance did not specify the edition.",
            "The instance is an enterprise edition.",
            "The instance is an Enterprise Plus edition.",
            "This instance is a Cloud SQL developer edition instance."
          ],
          "description": "Optional. The edition type of the Cloud SQL instance.",
          "type": "string"
        },
        "crashSafeReplicationEnabled": {
          "type": "boolean",
          "deprecated": true,
          "description": "Configuration specific to read replica instances. Indicates whether database flags for crash-safe replication are enabled. This property was only applicable to First Generation instances."
        },
        "retainBackupsOnDelete": {
          "type": "boolean",
          "description": "Optional. When this parameter is set to true, Cloud SQL retains backups of the instance even after the instance is deleted. The ON_DEMAND backup will be retained until customer deletes the backup or the project. The AUTOMATED backup will be retained based on the backups retention setting."
        },
        "collation": {
          "description": "The name of server Instance collation.",
          "type": "string"
        },
        "storageAutoResizeLimit": {
          "type": "string",
          "format": "int64",
          "description": "The maximum size to which storage capacity can be automatically increased. The default value is 0, which specifies that there is no limit."
        },
        "entraidConfig": {
          "$ref": "SqlServerEntraIdConfig",
          "description": "Optional. The Microsoft Entra ID configuration for the SQL Server instance."
        },
        "enableGoogleMlIntegration": {
          "description": "Optional. When this parameter is set to true, Cloud SQL instances can connect to Vertex AI to pass requests for real-time predictions and insights to the AI. The default value is false. This applies only to Cloud SQL for MySQL and Cloud SQL for PostgreSQL instances.",
          "type": "boolean"
        },
        "storageAutoResize": {
          "description": "Configuration to increase storage size automatically. The default value is true.",
          "type": "boolean"
        },
        "acceleratedReplicaMode": {
          "type": "boolean",
          "description": "Optional. Configures whether the replica is in accelerated mode. This feature is in private preview and requires allowlisting to take effect."
        },
        "dataDiskProvisionedThroughput": {
          "type": "string",
          "format": "int64",
          "description": "Optional. Provisioned throughput measured in MiB per second for the data disk. This field is only used for hyperdisk-balanced disk types."
        },
        "autoUpgradeEnabled": {
          "description": "Optional. Cloud SQL for MySQL auto-upgrade configuration. When this parameter is set to true, auto-upgrade is enabled for MySQL 8.0 minor versions. The MySQL version must be 8.0.35 or higher.",
          "type": "boolean"
        },
        "dataDiskType": {
          "type": "string",
          "description": "The type of data disk: `PD_SSD` (default) or `PD_HDD`. Not used for First Generation instances.",
          "enumDeprecated": [
            false,
            false,
            false,
            true,
            false
          ],
          "enumDescriptions": [
            "This is an unknown data disk type.",
            "An SSD data disk.",
            "An HDD data disk.",
            "This field is deprecated and will be removed from a future version of the API.",
            "A Hyperdisk Balanced data disk."
          ],
          "enum": [
            "SQL_DATA_DISK_TYPE_UNSPECIFIED",
            "PD_SSD",
            "PD_HDD",
            "OBSOLETE_LOCAL_SSD",
            "HYPERDISK_BALANCED"
          ]
        },
        "backupConfiguration": {
          "description": "The daily backup configuration for the instance.",
          "$ref": "BackupConfiguration"
        },
        "advancedMachineFeatures": {
          "description": "Specifies advanced machine configuration for the instances relevant only for SQL Server.",
          "$ref": "AdvancedMachineFeatures"
        },
        "performanceCaptureConfig": {
          "description": "Optional. Configuration for Performance Capture, provides diagnostic metrics during high load situations.",
          "$ref": "PerformanceCaptureConfig"
        },
        "dataCacheConfig": {
          "description": "Configuration for data cache.",
          "$ref": "DataCacheConfig"
        }
      },
      "type": "object",
      "description": "Database instance settings."
    },
    "SqlInstancesRescheduleMaintenanceRequestBody": {
      "id": "SqlInstancesRescheduleMaintenanceRequestBody",
      "description": "Reschedule options for maintenance windows.",
      "type": "object",
      "properties": {
        "reschedule": {
          "description": "Required. The type of the reschedule the user wants.",
          "$ref": "Reschedule"
        }
      }
    },
    "BinLogCoordinates": {
      "type": "object",
      "id": "BinLogCoordinates",
      "description": "Binary log coordinates.",
      "properties": {
        "binLogPosition": {
          "format": "int64",
          "type": "string",
          "description": "Position (offset) within the binary log file."
        },
        "kind": {
          "description": "This is always `sql#binLogCoordinates`.",
          "type": "string"
        },
        "binLogFileName": {
          "description": "Name of the binary log file for a Cloud SQL instance.",
          "type": "string"
        }
      }
    },
    "Value": {
      "description": "The cell value of the table.",
      "properties": {
        "value": {
          "description": "The cell value represented in string format.",
          "type": "string"
        },
        "nullValue": {
          "type": "boolean",
          "description": "If cell value is null, then this flag will be set to true."
        }
      },
      "type": "object",
      "id": "Value"
    },
    "BlueGreenDeploymentInfo": {
      "description": "Blue-green deployment metadata for a database instance. In a blue-green deployment, we maintain two environments, one of which is live. This message contains details about the blue-green deployment.",
      "type": "object",
      "properties": {
        "target": {
          "$ref": "TargetRole",
          "readOnly": true,
          "description": "Output only. The target instance for the Blue-Green deployment."
        },
        "state": {
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "The state of the deployment is unknown.",
            "The deployment is pre-switchover.",
            "The deployment is post-switchover."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "PRE_SWITCHOVER",
            "POST_SWITCHOVER"
          ],
          "description": "Output only. The current state of blue-green-deployment for UI tags"
        },
        "deploymentId": {
          "type": "string",
          "description": "Output only. The resource ID of the blue-green deployment.",
          "readOnly": true
        },
        "source": {
          "description": "Output only. The source instance for the Blue-Green deployment.",
          "readOnly": true,
          "$ref": "SourceRole"
        }
      },
      "id": "BlueGreenDeploymentInfo"
    },
    "InstancesCloneRequest": {
      "properties": {
        "cloneContext": {
          "description": "Contains details about the clone operation.",
          "$ref": "CloneContext"
        }
      },
      "description": "Database instance clone request.",
      "id": "InstancesCloneRequest",
      "type": "object"
    },
    "FailoverContext": {
      "type": "object",
      "id": "FailoverContext",
      "properties": {
        "kind": {
          "type": "string",
          "description": "This is always `sql#failoverContext`."
        },
        "settingsVersion": {
          "description": "The current settings version of this instance. Request will be rejected if this version doesn't match the current settings version.",
          "type": "string",
          "format": "int64"
        }
      },
      "description": "Database instance failover context."
    },
    "InstancesDemoteRequest": {
      "type": "object",
      "properties": {
        "demoteContext": {
          "$ref": "DemoteContext",
          "description": "Required. This context is used to demote an existing standalone instance to be a Cloud SQL read replica for an external database server."
        }
      },
      "id": "InstancesDemoteRequest",
      "description": "This request is used to demote an existing standalone instance to be a Cloud SQL read replica for an external database server."
    },
    "GenerateEphemeralCertRequest": {
      "properties": {
        "public_key": {
          "description": "PEM encoded public key to include in the signed certificate.",
          "type": "string"
        },
        "readTime": {
          "description": "Optional. Optional snapshot read timestamp to trade freshness for performance.",
          "format": "google-datetime",
          "type": "string"
        },
        "validDuration": {
          "format": "google-duration",
          "type": "string",
          "description": "Optional. If set, it will contain the cert valid duration."
        },
        "access_token": {
          "type": "string",
          "description": "Optional. Access token to include in the signed certificate."
        }
      },
      "description": "Ephemeral certificate creation request.",
      "id": "GenerateEphemeralCertRequest",
      "type": "object"
    },
    "TargetConfig": {
      "type": "object",
      "deprecated": true,
      "description": "Deprecated: Use RequestedConfig instead. Configuration specified by the user at creation time for the target (Green) instance.",
      "properties": {
        "databaseVersion": {
          "description": "Optional. The target database major version for the upgrade.",
          "type": "string"
        }
      },
      "id": "TargetConfig"
    },
    "SqlInstancesAcquireSsrsLeaseResponse": {
      "properties": {
        "operationId": {
          "type": "string",
          "description": "The unique identifier for this operation."
        }
      },
      "description": "Acquire SSRS lease response.",
      "type": "object",
      "id": "SqlInstancesAcquireSsrsLeaseResponse"
    },
    "SwitchoverBlueGreenDeploymentRequest": {
      "type": "object",
      "id": "SwitchoverBlueGreenDeploymentRequest",
      "properties": {},
      "description": "Request message for switching over a `BlueGreenDeployment` resource."
    },
    "ExternalSyncSelectedObject": {
      "type": "object",
      "description": "The selected object that Cloud SQL migrates.",
      "properties": {
        "database": {
          "description": "The name of the database that Cloud SQL migrates.",
          "type": "string"
        }
      },
      "id": "ExternalSyncSelectedObject"
    },
    "SslCertDetail": {
      "description": "SslCertDetail.",
      "type": "object",
      "id": "SslCertDetail",
      "properties": {
        "certInfo": {
          "description": "The public information about the cert.",
          "$ref": "SslCert"
        },
        "certPrivateKey": {
          "type": "string",
          "description": "The private key for the client cert, in pem format. Keep private in order to protect your security."
        }
      }
    },
    "SqlInstancesVerifyExternalSyncSettingsRequest": {
      "type": "object",
      "id": "SqlInstancesVerifyExternalSyncSettingsRequest",
      "properties": {
        "location": {
          "type": "string",
          "description": "Optional. Region of the Cloud SQL instance."
        },
        "verifyConnectionOnly": {
          "description": "Flag to enable verifying connection only",
          "type": "boolean"
        },
        "syncMode": {
          "description": "External sync mode",
          "type": "string",
          "enumDescriptions": [
            "Unknown external sync mode, will be defaulted to ONLINE mode",
            "Online external sync will set up replication after initial data external sync",
            "Offline external sync only dumps and loads a one-time snapshot of the primary instance's data"
          ],
          "enum": [
            "EXTERNAL_SYNC_MODE_UNSPECIFIED",
            "ONLINE",
            "OFFLINE"
          ]
        },
        "mysqlSyncConfig": {
          "description": "Optional. MySQL-specific settings for start external sync.",
          "$ref": "MySqlSyncConfig"
        },
        "verifyReplicationOnly": {
          "type": "boolean",
          "description": "Optional. Flag to verify settings required by replication setup only"
        },
        "syncParallelLevel": {
          "description": "Optional. Parallel level for initial data sync. Only applicable for PostgreSQL.",
          "enum": [
            "EXTERNAL_SYNC_PARALLEL_LEVEL_UNSPECIFIED",
            "MIN",
            "OPTIMAL",
            "MAX"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unknown sync parallel level. Will be defaulted to OPTIMAL.",
            "Minimal parallel level.",
            "Optimal parallel level.",
            "Maximum parallel level."
          ]
        },
        "migrationType": {
          "enumDescriptions": [
            "Default value is a logical dump file-based migration",
            "Logical dump file-based migration",
            "Physical file-based migration"
          ],
          "enum": [
            "MIGRATION_TYPE_UNSPECIFIED",
            "LOGICAL",
            "PHYSICAL"
          ],
          "type": "string",
          "description": "Optional. MigrationType configures the migration to use physical files or logical dump files. If not set, then the logical dump file configuration is used. Valid values are `LOGICAL` or `PHYSICAL`. Only applicable to MySQL."
        },
        "selectedObjects": {
          "items": {
            "$ref": "ExternalSyncSelectedObject"
          },
          "description": "Optional. Migrate only the specified objects from the source instance. If this field is empty, then migrate all objects.",
          "type": "array"
        }
      }
    },
    "DataCacheConfig": {
      "type": "object",
      "description": "Data cache configurations.",
      "id": "DataCacheConfig",
      "properties": {
        "dataCacheEnabled": {
          "description": "Whether data cache is enabled for the instance.",
          "type": "boolean"
        }
      }
    },
    "Status": {
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "properties": {
        "details": {
          "items": {
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            },
            "type": "object"
          },
          "type": "array",
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use."
        },
        "code": {
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "format": "int32",
          "type": "integer"
        },
        "message": {
          "type": "string",
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client."
        }
      },
      "type": "object",
      "id": "Status"
    },
    "SqlInstancesStartExternalSyncRequest": {
      "type": "object",
      "id": "SqlInstancesStartExternalSyncRequest",
      "properties": {
        "replicaOverwriteEnabled": {
          "description": "Optional. MySQL only. True if end-user has confirmed that this SES call will wipe replica databases overlapping with the proposed selected_objects. If this field is not set and there are both overlapping and additional databases proposed, an error will be returned.",
          "type": "boolean"
        },
        "syncParallelLevel": {
          "description": "Optional. Parallel level for initial data sync. Currently only applicable for MySQL.",
          "enum": [
            "EXTERNAL_SYNC_PARALLEL_LEVEL_UNSPECIFIED",
            "MIN",
            "OPTIMAL",
            "MAX"
          ],
          "enumDescriptions": [
            "Unknown sync parallel level. Will be defaulted to OPTIMAL.",
            "Minimal parallel level.",
            "Optimal parallel level.",
            "Maximum parallel level."
          ],
          "type": "string"
        },
        "migrationType": {
          "enum": [
            "MIGRATION_TYPE_UNSPECIFIED",
            "LOGICAL",
            "PHYSICAL"
          ],
          "enumDescriptions": [
            "Default value is a logical dump file-based migration",
            "Logical dump file-based migration",
            "Physical file-based migration"
          ],
          "description": "Optional. MigrationType configures the migration to use physical files or logical dump files. If not set, then the logical dump file configuration is used. Valid values are `LOGICAL` or `PHYSICAL`. Only applicable to MySQL.",
          "type": "string"
        },
        "mysqlSyncConfig": {
          "$ref": "MySqlSyncConfig",
          "description": "MySQL-specific settings for start external sync."
        },
        "syncMode": {
          "description": "External sync mode.",
          "enum": [
            "EXTERNAL_SYNC_MODE_UNSPECIFIED",
            "ONLINE",
            "OFFLINE"
          ],
          "enumDescriptions": [
            "Unknown external sync mode, will be defaulted to ONLINE mode",
            "Online external sync will set up replication after initial data external sync",
            "Offline external sync only dumps and loads a one-time snapshot of the primary instance's data"
          ],
          "type": "string"
        },
        "skipVerification": {
          "description": "Whether to skip the verification step (VESS).",
          "type": "boolean"
        },
        "location": {
          "type": "string",
          "description": "Optional. Region of the Cloud SQL instance."
        }
      }
    },
    "BackupConfiguration": {
      "id": "BackupConfiguration",
      "properties": {
        "location": {
          "description": "Location of the backup",
          "type": "string"
        },
        "transactionalLogStorageState": {
          "enumDescriptions": [
            "Unspecified.",
            "The transaction logs used for PITR for the instance are stored on a data disk.",
            "The transaction logs used for PITR for the instance are switching from being stored on a data disk to being stored in Cloud Storage. Only applicable to MySQL.",
            "The transaction logs used for PITR for the instance are now stored in Cloud Storage. Previously, they were stored on a data disk. Only applicable to MySQL.",
            "The transaction logs used for PITR for the instance are stored in Cloud Storage. Only applicable to MySQL and PostgreSQL."
          ],
          "enum": [
            "TRANSACTIONAL_LOG_STORAGE_STATE_UNSPECIFIED",
            "DISK",
            "SWITCHING_TO_CLOUD_STORAGE",
            "SWITCHED_TO_CLOUD_STORAGE",
            "CLOUD_STORAGE"
          ],
          "description": "Output only. This value contains the storage location of transactional logs for the database for point-in-time recovery.",
          "readOnly": true,
          "type": "string"
        },
        "replicationLogArchivingEnabled": {
          "type": "boolean",
          "description": "Optional. Deprecated: replication_log_archiving_enabled is deprecated and will be removed from a future version of the API. Use point_in_time_recovery_enabled instead.",
          "deprecated": true
        },
        "enabled": {
          "description": "Whether this configuration is enabled.",
          "type": "boolean"
        },
        "pointInTimeRecoveryEnabled": {
          "description": "Whether point in time recovery is enabled.",
          "type": "boolean"
        },
        "backupTier": {
          "readOnly": true,
          "description": "Output only. Backup tier that manages the backups for the instance.",
          "enumDeprecated": [
            false,
            false,
            true,
            false
          ],
          "enum": [
            "BACKUP_TIER_UNSPECIFIED",
            "STANDARD",
            "ADVANCED",
            "ENHANCED"
          ],
          "enumDescriptions": [
            "Unspecified.",
            "Instance is managed by Cloud SQL.",
            "Deprecated: ADVANCED is deprecated. Please use ENHANCED instead.",
            "Instance is managed by Google Cloud Backup and DR Service."
          ],
          "type": "string"
        },
        "binaryLogEnabled": {
          "description": "(MySQL only) Whether binary log is enabled. If backup configuration is disabled, binarylog must be disabled as well.",
          "type": "boolean"
        },
        "transactionLogRetentionDays": {
          "format": "int32",
          "type": "integer",
          "description": "The number of days of transaction logs we retain for point in time restore, from 1-7."
        },
        "backupRetentionSettings": {
          "$ref": "BackupRetentionSettings",
          "description": "Backup retention settings."
        },
        "startTime": {
          "description": "Start time for the daily backup configuration in UTC timezone in the 24 hour format - `HH:MM`.",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "description": "This is always `sql#backupConfiguration`."
        }
      },
      "description": "Database instance backup configuration.",
      "type": "object"
    },
    "Tier": {
      "id": "Tier",
      "type": "object",
      "properties": {
        "RAM": {
          "description": "The maximum RAM usage of this tier in bytes.",
          "format": "int64",
          "type": "string"
        },
        "tier": {
          "description": "An identifier for the machine type, for example, `db-custom-1-3840`. For related information, see [Pricing](/sql/pricing).",
          "type": "string"
        },
        "DiskQuota": {
          "type": "string",
          "format": "int64",
          "description": "The maximum disk size of this tier in bytes."
        },
        "region": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "The applicable regions for this tier."
        },
        "kind": {
          "type": "string",
          "description": "This is always `sql#tier`."
        }
      },
      "description": "A Google Cloud SQL service tier resource."
    },
    "IpMapping": {
      "id": "IpMapping",
      "properties": {
        "ipAddress": {
          "description": "The IP address assigned.",
          "type": "string"
        },
        "type": {
          "enumDescriptions": [
            "This is an unknown IP address type.",
            "IP address the customer is supposed to connect to. Usually this is the load balancer's IP address",
            "Source IP address of the connection a read replica establishes to its external primary instance. This IP address can be allowlisted by the customer in case it has a firewall that filters incoming connection to its on premises primary instance.",
            "Private IP used when using private IPs and network peering.",
            "V1 IP of a migrated instance. We want the user to decommission this IP as soon as the migration is complete. Note: V1 instances with V1 ip addresses will be counted as PRIMARY."
          ],
          "description": "The type of this IP address. A `PRIMARY` address is a public address that can accept incoming connections. A `PRIVATE` address is a private address that can accept incoming connections. An `OUTGOING` address is the source address of connections originating from the instance, if supported.",
          "type": "string",
          "enum": [
            "SQL_IP_ADDRESS_TYPE_UNSPECIFIED",
            "PRIMARY",
            "OUTGOING",
            "PRIVATE",
            "MIGRATED_1ST_GEN"
          ]
        },
        "timeToRetire": {
          "type": "string",
          "description": "The due time for this IP to be retired in [RFC 3339](https://tools.ietf.org/html/rfc3339) format, for example `2012-11-15T16:19:00.094Z`. This field is only available when the IP is scheduled to be retired.",
          "format": "google-datetime"
        }
      },
      "description": "Database instance IP mapping",
      "type": "object"
    },
    "DeploymentTask": {
      "type": "object",
      "id": "DeploymentTask",
      "description": "Represents a task executed as part of the deployment on a target instance.",
      "properties": {
        "state": {
          "description": "Output only. The current state of the task.",
          "enumDescriptions": [
            "The state of the task is unknown.",
            "The task is pending.",
            "The task is running.",
            "The task has succeeded.",
            "The task has failed."
          ],
          "type": "string",
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "PENDING",
            "RUNNING",
            "SUCCEEDED",
            "FAILED"
          ]
        },
        "errorMessage": {
          "description": "Output only. Optional Error details if the task state is FAILED.",
          "type": "string",
          "readOnly": true
        },
        "type": {
          "description": "Output only. The type of the task.",
          "enum": [
            "TYPE_UNSPECIFIED",
            "PROVISION",
            "UPGRADE",
            "SWITCHOVER",
            "DELETE",
            "POST_SWITCHOVER_OPERATIONS"
          ],
          "enumDescriptions": [
            "The default value. This value is used if the type is omitted.",
            "Creating target instance.",
            "e.g., Major Version Upgrade on Target.",
            "Promoting Target, Demoting Source for this pair.",
            "The task is to delete deployment.",
            "Post-switchover operations, including cleaning up resources of the old instance, taking final backups, and updating metadata."
          ],
          "type": "string",
          "readOnly": true
        },
        "startTime": {
          "format": "google-datetime",
          "description": "Output only. Task start time.",
          "readOnly": true,
          "type": "string"
        },
        "endTime": {
          "description": "Output only. Task end time (if completed).",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "OnPremisesConfiguration": {
      "type": "object",
      "id": "OnPremisesConfiguration",
      "properties": {
        "sourceInstance": {
          "$ref": "InstanceReference",
          "description": "The reference to Cloud SQL instance if the source is Cloud SQL."
        },
        "sslOption": {
          "enum": [
            "SSL_OPTION_UNSPECIFIED",
            "DISABLE",
            "REQUIRE",
            "VERIFY_CA"
          ],
          "description": "Optional. SslOption for replica connection to the on-premises source.",
          "type": "string",
          "enumDescriptions": [
            "Unknown SSL option i.e. SSL option not specified by user.",
            "SSL is disabled for replica connection to the on-premises source.",
            "SSL is required for replica connection to the on-premises source.",
            "Verify CA is required for replica connection to the on-premises source."
          ]
        },
        "clientCertificate": {
          "type": "string",
          "description": "PEM representation of the replica's x509 certificate."
        },
        "password": {
          "description": "The password for connecting to on-premises instance.",
          "type": "string"
        },
        "clientKey": {
          "type": "string",
          "description": "PEM representation of the replica's private key. The corresponding public key is encoded in the client's certificate."
        },
        "hostPort": {
          "description": "The host and port of the on-premises instance in host:port format",
          "type": "string"
        },
        "username": {
          "description": "The username for connecting to on-premises instance.",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "description": "This is always `sql#onPremisesConfiguration`."
        },
        "dumpFilePath": {
          "type": "string",
          "description": "The dump file to create the Cloud SQL replica."
        },
        "selectedObjects": {
          "type": "array",
          "items": {
            "$ref": "SelectedObjects"
          },
          "description": "Optional. A list of objects that the user selects for replication from an external source instance."
        },
        "dmsManaged": {
          "readOnly": true,
          "description": "Output only. Indicates whether the resource is managed by Database Migration Service.",
          "type": "boolean"
        },
        "caCertificate": {
          "type": "string",
          "description": "PEM representation of the trusted CA's x509 certificate."
        }
      },
      "description": "On-premises instance configuration."
    },
    "RotateEntraIdCertificateContext": {
      "type": "object",
      "id": "RotateEntraIdCertificateContext",
      "properties": {
        "nextVersion": {
          "description": "Optional. The fingerprint of the next version to be rotated to. If left unspecified, will be rotated to the most recently added Entra ID certificate version.",
          "type": "string"
        },
        "kind": {
          "description": "Optional. This is always `sql#rotateEntraIdCertificateContext`.",
          "type": "string"
        }
      },
      "description": "Instance rotate Entra ID certificate context."
    },
    "SqlServerDatabaseDetails": {
      "properties": {
        "compatibilityLevel": {
          "type": "integer",
          "description": "The version of SQL Server with which the database is to be made compatible",
          "format": "int32"
        },
        "recoveryModel": {
          "type": "string",
          "description": "The recovery model of a SQL Server database"
        }
      },
      "type": "object",
      "id": "SqlServerDatabaseDetails",
      "description": "Represents a Sql Server database on the Cloud SQL instance."
    },
    "InstancesAcquireSsrsLeaseRequest": {
      "description": "Request to acquire an SSRS lease for an instance.",
      "properties": {
        "acquireSsrsLeaseContext": {
          "description": "Contains details about the acquire SSRS lease operation.",
          "$ref": "AcquireSsrsLeaseContext"
        }
      },
      "type": "object",
      "id": "InstancesAcquireSsrsLeaseRequest"
    },
    "UserPasswordValidationPolicy": {
      "type": "object",
      "properties": {
        "passwordExpirationDuration": {
          "description": "Expiration duration after password is updated.",
          "type": "string",
          "format": "google-duration"
        },
        "enableFailedAttemptsCheck": {
          "type": "boolean",
          "description": "If true, failed login attempts check will be enabled."
        },
        "allowedFailedAttempts": {
          "format": "int32",
          "description": "Number of failed login attempts allowed before user get locked.",
          "type": "integer"
        },
        "status": {
          "description": "Output only. Read-only password status.",
          "readOnly": true,
          "$ref": "PasswordStatus"
        },
        "enablePasswordVerification": {
          "type": "boolean",
          "description": "If true, the user must specify the current password before changing the password. This flag is supported only for MySQL."
        }
      },
      "description": "User level password validation policy.",
      "id": "UserPasswordValidationPolicy"
    },
    "MySqlSyncConfig": {
      "type": "object",
      "id": "MySqlSyncConfig",
      "description": "MySQL-specific external server sync settings.",
      "properties": {
        "initialSyncFlags": {
          "items": {
            "$ref": "SyncFlags"
          },
          "type": "array",
          "description": "Flags to use for the initial dump."
        }
      }
    },
    "Reschedule": {
      "type": "object",
      "id": "Reschedule",
      "properties": {
        "scheduleTime": {
          "description": "Optional. Timestamp when the maintenance shall be rescheduled to if reschedule_type=SPECIFIC_TIME, in [RFC 3339](https://tools.ietf.org/html/rfc3339) format, for example `2012-11-15T16:19:00.094Z`.",
          "type": "string",
          "format": "google-datetime"
        },
        "rescheduleType": {
          "enumDescriptions": [
            "",
            "Reschedules maintenance to happen now (within 5 minutes).",
            "Reschedules maintenance to occur within one week from the originally scheduled day and time.",
            "Reschedules maintenance to a specific time and day."
          ],
          "type": "string",
          "description": "Required. The type of the reschedule.",
          "enum": [
            "RESCHEDULE_TYPE_UNSPECIFIED",
            "IMMEDIATE",
            "NEXT_AVAILABLE_WINDOW",
            "SPECIFIC_TIME"
          ]
        }
      }
    },
    "MaintenanceWindow": {
      "description": "Maintenance window. This specifies when a Cloud SQL instance is restarted for system maintenance purposes.",
      "type": "object",
      "id": "MaintenanceWindow",
      "properties": {
        "kind": {
          "description": "This is always `sql#maintenanceWindow`.",
          "type": "string"
        },
        "hour": {
          "format": "int32",
          "description": "Hour of day - 0 to 23. Specify in the UTC time zone.",
          "type": "integer"
        },
        "day": {
          "format": "int32",
          "description": "Day of week - `MONDAY`, `TUESDAY`, `WEDNESDAY`, `THURSDAY`, `FRIDAY`, `SATURDAY`, or `SUNDAY`. Specify in the UTC time zone. Returned in output as an integer, 1 to 7, where `1` equals Monday.",
          "type": "integer"
        },
        "updateTrack": {
          "enum": [
            "SQL_UPDATE_TRACK_UNSPECIFIED",
            "canary",
            "stable",
            "week5"
          ],
          "enumDescriptions": [
            "This is an unknown maintenance timing preference.",
            "For an instance with a scheduled maintenance window, this maintenance timing indicates that the maintenance update is scheduled 7 to 14 days after the notification is sent out. Also referred to as `Week 1` (Console) and `preview` (gcloud CLI).",
            "For an instance with a scheduled maintenance window, this maintenance timing indicates that the maintenance update is scheduled 15 to 21 days after the notification is sent out. Also referred to as `Week 2` (Console) and `production` (gcloud CLI).",
            "For instance with a scheduled maintenance window, this maintenance timing indicates that the maintenance update is scheduled 35 to 42 days after the notification is sent out."
          ],
          "type": "string",
          "description": "Maintenance timing settings: `canary`, `stable`, or `week5`. For more information, see [About maintenance on Cloud SQL instances](https://cloud.google.com/sql/docs/mysql/maintenance)."
        }
      }
    },
    "SqlSubOperationType": {
      "properties": {
        "maintenanceType": {
          "type": "string",
          "enumDescriptions": [
            "Maintenance type is unspecified.",
            "Indicates that a standalone instance is undergoing maintenance. The instance can be either a primary instance or a replica.",
            "Indicates that the primary instance and all of its replicas, including cascading replicas, are undergoing maintenance. Maintenance is performed on groups of replicas first, followed by the primary instance.",
            "Indicates that the standalone instance is undergoing maintenance, initiated by self-service. The instance can be either a primary instance or a replica.",
            "Indicates that the primary instance and all of its replicas are undergoing maintenance, initiated by self-service. Maintenance is performed on groups of replicas first, followed by the primary instance."
          ],
          "description": "The type of maintenance to be performed on the instance.",
          "enum": [
            "SQL_MAINTENANCE_TYPE_UNSPECIFIED",
            "INSTANCE_MAINTENANCE",
            "REPLICA_INCLUDED_MAINTENANCE",
            "INSTANCE_SELF_SERVICE_MAINTENANCE",
            "REPLICA_INCLUDED_SELF_SERVICE_MAINTENANCE"
          ]
        }
      },
      "description": "The sub operation type based on the operation type.",
      "type": "object",
      "id": "SqlSubOperationType"
    },
    "OperationsListResponse": {
      "properties": {
        "kind": {
          "description": "This is always `sql#operationsList`.",
          "type": "string"
        },
        "nextPageToken": {
          "type": "string",
          "description": "The continuation token, used to page through large result sets. Provide this value in a subsequent request to return the next page of results."
        },
        "items": {
          "description": "List of operation resources.",
          "items": {
            "$ref": "Operation"
          },
          "type": "array"
        }
      },
      "type": "object",
      "id": "OperationsListResponse",
      "description": "Operations list response."
    },
    "LocationPreference": {
      "id": "LocationPreference",
      "type": "object",
      "properties": {
        "secondaryZone": {
          "type": "string",
          "description": "The preferred Compute Engine zone for the secondary/failover (for example: us-central1-a, us-central1-b, etc.). To disable this field, set it to 'no_secondary_zone'."
[...]
