{
  "rootUrl": "https://sqladmin.googleapis.com/",
  "ownerDomain": "google.com",
  "batchPath": "batch",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        },
        "https://www.googleapis.com/auth/sqlservice.admin": {
          "description": "Manage your Google SQL Service instances"
        }
      }
    }
  },
  "fullyEncodeReservedExpansion": true,
  "kind": "discovery#restDescription",
  "id": "sqladmin:v1beta4",
  "mtlsRootUrl": "https://sqladmin.mtls.googleapis.com/",
  "parameters": {
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "type": "string",
      "location": "query"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query",
      "type": "string"
    },
    "alt": {
      "type": "string",
      "location": "query",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "default": "json",
      "description": "Data format for response."
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "$.xgafv": {
      "enum": [
        "1",
        "2"
      ],
      "description": "V1 error format.",
      "location": "query",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string"
    },
    "uploadType": {
      "type": "string",
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "quotaUser": {
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string"
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "prettyPrint": {
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "location": "query",
      "default": "true"
    },
    "callback": {
      "description": "JSONP",
      "type": "string",
      "location": "query"
    },
    "access_token": {
      "description": "OAuth access token.",
      "location": "query",
      "type": "string"
    }
  },
  "basePath": "",
  "title": "Cloud SQL Admin API",
  "servicePath": "",
  "revision": "20260920",
  "ownerName": "Google",
  "discoveryVersion": "v1",
  "description": "Cloud SQL Admin API",
  "baseUrl": "https://sqladmin.googleapis.com/",
  "protocol": "rest",
  "resources": {
    "sslCerts": {
      "methods": {
        "get": {
          "response": {
            "$ref": "SslCert"
          },
          "id": "sql.sslCerts.get",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "parameterOrder": [
            "project",
            "instance",
            "sha1Fingerprint"
          ],
          "parameters": {
            "instance": {
              "location": "path",
              "description": "Cloud SQL instance ID. This does not include the project ID.",
              "required": true,
              "type": "string"
            },
            "project": {
              "required": true,
              "description": "Project ID of the project that contains the instance.",
              "type": "string",
              "location": "path"
            },
            "sha1Fingerprint": {
              "location": "path",
              "description": "Sha1 FingerPrint.",
              "type": "string",
              "required": true
            }
          },
          "httpMethod": "GET",
          "path": "sql/v1beta4/projects/{project}/instances/{instance}/sslCerts/{sha1Fingerprint}",
          "description": "Retrieves a particular SSL certificate. Does not include the private key (required for usage). The private key must be saved from the response to initial creation.",
          "flatPath": "sql/v1beta4/projects/{project}/instances/{instance}/sslCerts/{sha1Fingerprint}"
        },
        "delete": {
          "description": "Deletes the SSL certificate. For First Generation instances, the certificate remains valid until the instance is restarted.",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "parameters": {
            "project": {
              "description": "Project ID of the project that contains the instance.",
              "required": true,
              "location": "path",
              "type": "string"
            },
            "instance": {
              "required": true,
              "description": "Cloud SQL instance ID. This does not include the project ID.",
              "location": "path",
              "type": "string"
            },
            "sha1Fingerprint": {
              "description": "Sha1 FingerPrint.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "id": "sql.sslCerts.delete",
          "flatPath": "sql/v1beta4/projects/{project}/instances/{instance}/sslCerts/{sha1Fingerprint}",
          "response": {
            "$ref": "Operation"
          },
          "parameterOrder": [
            "project",
            "instance",
            "sha1Fingerprint"
          ],
          "httpMethod": "DELETE",
          "path": "sql/v1beta4/projects/{project}/instances/{instance}/sslCerts/{sha1Fingerprint}"
        },
        "insert": {
          "request": {
            "$ref": "SslCertsInsertRequest"
          },
          "path": "sql/v1beta4/projects/{project}/instances/{instance}/sslCerts",
          "response": {
            "$ref": "SslCertsInsertResponse"
          },
          "parameters": {
            "instance": {
              "description": "Cloud SQL instance ID. This does not include the project ID.",
              "required": true,
              "type": "string",
              "location": "path"
            },
            "project": {
              "type": "string",
              "location": "path",
              "description": "Project ID of the project that contains the instance.",
              "required": true
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "description": "Creates an SSL certificate and returns it along with the private key and server certificate authority. The new certificate will not be usable until the instance is restarted.",
          "httpMethod": "POST",
          "flatPath": "sql/v1beta4/projects/{project}/instances/{instance}/sslCerts",
          "parameterOrder": [
            "project",
            "instance"
          ],
          "id": "sql.sslCerts.insert"
        },
        "list": {
          "response": {
            "$ref": "SslCertsListResponse"
          },
          "path": "sql/v1beta4/projects/{project}/instances/{instance}/sslCerts",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "description": "Lists all of the current SSL certificates for the instance.",
          "httpMethod": "GET",
          "parameters": {
            "instance": {
              "type": "string",
              "location": "path",
              "description": "Cloud SQL instance ID. This does not include the project ID.",
              "required": true
            },
            "project": {
              "type": "string",
              "description": "Project ID of the project that contains the instance.",
              "required": true,
              "location": "path"
            }
          },
          "id": "sql.sslCerts.list",
          "parameterOrder": [
            "project",
            "instance"
          ],
          "flatPath": "sql/v1beta4/projects/{project}/instances/{instance}/sslCerts"
        },
        "createEphemeral": {
          "id": "sql.sslCerts.createEphemeral",
          "parameters": {
            "project": {
              "type": "string",
              "required": true,
              "description": "Project ID of the Cloud SQL project.",
              "location": "path"
            },
            "instance": {
              "location": "path",
              "description": "Cloud SQL instance ID. This does not include the project ID.",
              "type": "string",
              "required": true
            },
            "location": {
              "location": "query",
              "description": "Optional. Region of the Cloud SQL instance.",
              "type": "string"
            }
          },
          "response": {
            "$ref": "SslCert"
          },
          "parameterOrder": [
            "project",
            "instance"
          ],
          "httpMethod": "POST",
          "flatPath": "sql/v1beta4/projects/{project}/instances/{instance}/createEphemeral",
          "path": "sql/v1beta4/projects/{project}/instances/{instance}/createEphemeral",
          "description": "Generates a short-lived X509 certificate containing the provided public key and signed by a private key specific to the target instance. Users may use the certificate to authenticate as themselves when connecting to the database.",
          "request": {
            "$ref": "SslCertsCreateEphemeralRequest"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ]
        }
      }
    },
    "blueGreenDeployments": {
      "methods": {
        "switchover": {
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "flatPath": "sql/v1beta4/projects/{projectsId}/locations/{locationsId}/blueGreenDeployments/{blueGreenDeploymentsId}:switchover",
          "description": "Switches over to green instance for a blue-green deployment.",
          "parameterOrder": [
            "name"
          ],
          "response": {
            "$ref": "Operation"
          },
          "path": "sql/v1beta4/{+name}:switchover",
          "parameters": {
            "name": {
              "description": "Required. The name of the blue-green deployment to switch over. Format: projects/{project}/locations/{location}/blueGreenDeployments/{blue_green_deployment}",
              "type": "string",
              "required": true,
              "pattern": "^projects/[^/]+/locations/[^/]+/blueGreenDeployments/[^/]+$",
              "location": "path"
            }
          },
          "request": {
            "$ref": "SwitchoverBlueGreenDeploymentRequest"
          },
          "id": "sql.blueGreenDeployments.switchover"
        },
        "create": {
          "httpMethod": "POST",
          "parameterOrder": [
            "parent"
          ],
          "request": {
            "$ref": "BlueGreenDeployment"
          },
          "flatPath": "sql/v1beta4/projects/{projectsId}/locations/{locationsId}/blueGreenDeployments",
          "id": "sql.blueGreenDeployments.create",
          "description": "Creates a blue-green deployment under a given project and location. This deployment provisions a synchronized green environment (target instance) from a blue production environment (source instance), facilitating updates like major version upgrades on the green instance without impacting the blue instance.",
          "response": {
            "$ref": "Operation"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "path": "sql/v1beta4/{+parent}/blueGreenDeployments",
          "parameters": {
            "blueGreenDeploymentId": {
              "description": "Required. The ID to use for the blue-green deployment, which will become the final component of the deployment's resource name.",
              "location": "query",
              "type": "string"
            },
            "parent": {
              "location": "path",
              "required": true,
              "pattern": "^projects/[^/]+/locations/[^/]+$",
              "description": "Required. The parent resource where this blue-green deployment will be created. Format: projects/{project}/locations/{location}",
              "type": "string"
            }
          }
        },
        "delete": {
          "parameterOrder": [
            "name"
          ],
          "id": "sql.blueGreenDeployments.delete",
          "parameters": {
            "name": {
              "type": "string",
              "description": "Required. The name of the blue-green deployment to delete. Format: projects/{project}/locations/{location}/blueGreenDeployments/{blue_green_deployment}",
              "pattern": "^projects/[^/]+/locations/[^/]+/blueGreenDeployments/[^/]+$",
              "required": true,
              "location": "path"
            },
            "deleteOldSource": {
              "location": "query",
              "type": "boolean",
              "description": "Optional. If set to true, and the switchover is complete, this deletes the old source instance along with the deployment."
            }
          },
          "flatPath": "sql/v1beta4/projects/{projectsId}/locations/{locationsId}/blueGreenDeployments/{blueGreenDeploymentsId}",
          "path": "sql/v1beta4/{+name}",
          "description": "Deletes a blue-green deployment, including metadata and underlying resources based on the deployment state. If issued before switchover, this deletes the green instance. If issued after switchover, this deletes the old blue instance (source instance) if the `delete_old_source` field in the request is set to true. All blue-green deployment metadata is permanently deleted. Resources deleted as a result of this operation are no longer accessible and can't be restored.",
          "response": {
            "$ref": "Operation"
          },
          "httpMethod": "DELETE",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ]
        },
        "list": {
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "id": "sql.blueGreenDeployments.list",
          "path": "sql/v1beta4/{+parent}/blueGreenDeployments",
          "response": {
            "$ref": "ListBlueGreenDeploymentsResponse"
          },
          "description": "Lists blue-green deployments under a given project.",
          "parameters": {
            "parent": {
              "pattern": "^projects/[^/]+/locations/[^/]+$",
              "required": true,
              "location": "path",
              "type": "string",
              "description": "Required. The parent resource whose blue-green deployments are to be listed. Format: projects/{project}/locations/{location}"
            },
            "pageSize": {
              "description": "Optional. The maximum number of deployments to return.",
              "format": "int32",
              "type": "integer",
              "location": "query"
            },
            "filter": {
              "description": "Optional. A filter expression that filters the results.",
              "type": "string",
              "location": "query"
            },
            "orderBy": {
              "type": "string",
              "location": "query",
              "description": "Optional. A comma-separated list of fields to order the results by."
            },
            "pageToken": {
              "description": "Optional. A page token, received from a previous `ListBlueGreenDeployments` call. Provide this to retrieve the subsequent page.",
              "location": "query",
              "type": "string"
            }
          },
          "flatPath": "sql/v1beta4/projects/{projectsId}/locations/{locationsId}/blueGreenDeployments",
          "parameterOrder": [
            "parent"
          ],
          "httpMethod": "GET"
        },
        "get": {
          "parameters": {
            "name": {
              "pattern": "^projects/[^/]+/locations/[^/]+/blueGreenDeployments/[^/]+$",
              "type": "string",
              "required": true,
              "location": "path",
              "description": "Required. The name of the blue-green deployment to retrieve. Format: projects/{project}/locations/{location}/blueGreenDeployments/{blue_green_deployment}"
            },
            "view": {
              "enumDescriptions": [
                "Blue-green deployment view enumeration. This allows the caller to specify what view they query. If unspecified (BLUE_GREEN_DEPLOYMENT_VIEW_UNSPECIFIED), the behavior is the same as BASIC.",
                "Includes basic metadata about the blue-green deployment. `BASIC` is the default view.",
                "Includes basic metadata and configuration differences between source and target instances (`database_version`, `tier`, `edition`, `availability_type`, `data_disk_size_gb`, and `data_disk_type`)."
              ],
              "enum": [
                "BLUE_GREEN_DEPLOYMENT_VIEW_UNSPECIFIED",
                "BASIC",
                "DETAILED"
              ],
              "description": "Optional. Specifies whether to return the basic or detailed view of the resource in the response.",
              "location": "query",
              "type": "string"
            }
          },
          "flatPath": "sql/v1beta4/projects/{projectsId}/locations/{locationsId}/blueGreenDeployments/{blueGreenDeploymentsId}",
          "path": "sql/v1beta4/{+name}",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "id": "sql.blueGreenDeployments.get",
          "description": "Retrieves a blue-green deployment resource under a given project and location.",
          "parameterOrder": [
            "name"
          ],
          "response": {
            "$ref": "BlueGreenDeployment"
          },
          "httpMethod": "GET"
        }
      }
    },
    "backupRuns": {
      "methods": {
        "insert": {
          "request": {
            "$ref": "BackupRun"
          },
          "parameters": {
            "instance": {
              "type": "string",
              "description": "Cloud SQL instance ID. This does not include the project ID.",
              "location": "path",
              "required": true
            },
            "project": {
              "location": "path",
              "type": "string",
              "required": true,
              "description": "Project ID of the project that contains the instance."
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "description": "Creates a new backup run on demand.",
          "parameterOrder": [
            "project",
            "instance"
          ],
          "flatPath": "sql/v1beta4/projects/{project}/instances/{instance}/backupRuns",
          "id": "sql.backupRuns.insert",
          "response": {
            "$ref": "Operation"
          },
          "path": "sql/v1beta4/projects/{project}/instances/{instance}/backupRuns",
          "httpMethod": "POST"
        },
        "get": {
          "response": {
            "$ref": "BackupRun"
          },
          "description": "Retrieves a resource containing information about a backup run.",
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "id": "sql.backupRuns.get",
          "parameters": {
            "id": {
              "type": "string",
              "required": true,
              "format": "int64",
              "location": "path",
              "description": "The ID of this backup run."
            },
            "project": {
              "required": true,
              "type": "string",
              "location": "path",
              "description": "Project ID of the project that contains the instance."
            },
            "instance": {
              "location": "path",
              "type": "string",
              "description": "Cloud SQL instance ID. This does not include the project ID.",
              "required": true
            }
          },
          "flatPath": "sql/v1beta4/projects/{project}/instances/{instance}/backupRuns/{id}",
          "path": "sql/v1beta4/projects/{project}/instances/{instance}/backupRuns/{id}",
          "parameterOrder": [
            "project",
            "instance",
            "id"
          ]
        },
        "list": {
          "httpMethod": "GET",
          "response": {
            "$ref": "BackupRunsListResponse"
          },
          "parameterOrder": [
            "project",
            "instance"
          ],
          "path": "sql/v1beta4/projects/{project}/instances/{instance}/backupRuns",
          "flatPath": "sql/v1beta4/projects/{project}/instances/{instance}/backupRuns",
          "description": "Lists all backup runs associated with the project or a given instance and configuration in the reverse chronological order of the backup initiation time.",
          "id": "sql.backupRuns.list",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "parameters": {
            "project": {
              "type": "string",
              "required": true,
              "location": "path",
              "description": "Project ID of the project that contains the instance."
            },
            "instance": {
              "description": "Cloud SQL instance ID, or \"-\" for all instances. This does not include the project ID.",
              "type": "string",
              "required": true,
              "location": "path"
            },
            "pageToken": {
              "description": "A previously-returned page token representing part of the larger set of results to view.",
              "location": "query",
              "type": "string"
            },
            "maxResults": {
              "format": "int32",
              "location": "query",
              "description": "Maximum number of backup runs per response.",
              "type": "integer"
            }
          }
        },
        "delete": {
          "description": "Deletes the backup taken by a backup run.",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "parameterOrder": [
            "project",
            "instance",
            "id"
          ],
          "response": {
            "$ref": "Operation"
          },
          "path": "sql/v1beta4/projects/{project}/instances/{instance}/backupRuns/{id}",
          "httpMethod": "DELETE",
          "flatPath": "sql/v1beta4/projects/{project}/instances/{instance}/backupRuns/{id}",
          "parameters": {
            "project": {
              "type": "string",
              "required": true,
              "description": "Project ID of the project that contains the instance.",
              "location": "path"
            },
            "id": {
              "location": "path",
              "type": "string",
              "format": "int64",
              "required": true,
              "description": "The ID of the backup run to delete. To find a backup run ID, use the [list](https://cloud.google.com/sql/docs/mysql/admin-api/rest/v1beta4/backupRuns/list) method."
            },
            "instance": {
              "location": "path",
              "type": "string",
              "required": true,
              "description": "Cloud SQL instance ID. This does not include the project ID."
            }
          },
          "id": "sql.backupRuns.delete"
        }
      }
    },
    "backups": {
      "methods": {
        "getBackup": {
          "description": "Retrieves a resource containing information about a backup.",
          "parameters": {
            "name": {
              "pattern": "^projects/[^/]+/backups/[^/]+$",
              "location": "path",
              "type": "string",
              "required": true,
              "description": "Required. The name of the backup to retrieve. Format: projects/{project}/backups/{backup}"
            }
          },
          "id": "sql.backups.getBackup",
          "response": {
            "$ref": "Backup"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "path": "sql/v1beta4/{+name}",
          "flatPath": "sql/v1beta4/projects/{projectsId}/backups/{backupsId}",
          "parameterOrder": [
            "name"
          ],
          "httpMethod": "GET"
        },
        "deleteBackup": {
          "response": {
            "$ref": "Operation"
          },
          "httpMethod": "DELETE",
          "id": "sql.backups.deleteBackup",
          "path": "sql/v1beta4/{+name}",
          "description": "Deletes the backup.",
          "parameterOrder": [
            "name"
          ],
          "parameters": {
            "name": {
              "required": true,
              "pattern": "^projects/[^/]+/backups/[^/]+$",
              "location": "path",
              "description": "Required. The name of the backup to delete. Format: projects/{project}/backups/{backup}",
              "type": "string"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "flatPath": "sql/v1beta4/projects/{projectsId}/backups/{backupsId}"
        },
        "listBackups": {
          "id": "sql.backups.listBackups",
          "flatPath": "sql/v1beta4/projects/{projectsId}/backups",
          "description": "Lists all backups associated with the project.",
          "parameters": {
            "pageSize": {
              "location": "query",
              "description": "The maximum number of backups to return per response. The service might return fewer backups than this value. If a value for this parameter isn't specified, then, at most, 500 backups are returned. The maximum value is 2,000. Any values that you set, which are greater than 2,000, are changed to 2,000.",
              "format": "int32",
              "type": "integer"
            },
            "filter": {
              "description": "Multiple filter queries are separated by spaces. For example, 'instance:abc AND type:FINAL, 'location:us', 'backupInterval.startTime>=1950-01-01T01:01:25.771Z'. You can filter by type, instance, backupInterval.startTime (creation time), or location.",
              "type": "string",
              "location": "query"
            },
            "parent": {
              "description": "Required. The parent that owns this collection of backups. Format: projects/{project}",
              "location": "path",
              "type": "string",
              "required": true,
              "pattern": "^projects/[^/]+$"
            },
            "pageToken": {
              "location": "query",
              "type": "string",
              "description": "A page token, received from a previous `ListBackups` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListBackups` must match the call that provided the page token."
            }
          },
          "parameterOrder": [
            "parent"
          ],
          "path": "sql/v1beta4/{+parent}/backups",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "httpMethod": "GET",
          "response": {
            "$ref": "ListBackupsResponse"
          }
        },
        "createBackup": {
          "response": {
            "$ref": "Operation"
          },
          "request": {
            "$ref": "Backup"
          },
          "httpMethod": "POST",
          "parameterOrder": [
            "parent"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "path": "sql/v1beta4/{+parent}/backups",
          "id": "sql.backups.createBackup",
          "description": "Creates a backup for a Cloud SQL instance. This API can be used only to create on-demand backups.",
          "parameters": {
            "parent": {
              "pattern": "^projects/[^/]+$",
              "required": true,
              "description": "Required. The parent resource where this backup is created. Format: projects/{project}",
              "type": "string",
              "location": "path"
            }
          },
          "flatPath": "sql/v1beta4/projects/{projectsId}/backups"
        },
        "updateBackup": {
          "response": {
            "$ref": "Operation"
          },
          "path": "sql/v1beta4/{+name}",
          "id": "sql.backups.updateBackup",
          "httpMethod": "PATCH",
          "request": {
            "$ref": "Backup"
          },
          "parameters": {
            "updateMask": {
              "format": "google-fieldmask",
              "location": "query",
              "type": "string",
              "description": "The list of fields that you can update. You can update only the description and retention period of the final backup."
            },
            "name": {
              "pattern": "^projects/[^/]+/backups/[^/]+$",
              "location": "path",
              "required": true,
              "description": "Output only. The resource name of the backup. Format: projects/{project}/backups/{backup}.",
              "type": "string"
            }
          },
          "description": "Updates the retention period and the description of the backup. You can use this API to update final backups only.",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "parameterOrder": [
            "name"
          ],
          "flatPath": "sql/v1beta4/projects/{projectsId}/backups/{backupsId}"
        }
      }
    },
    "databases": {
      "methods": {
        "get": {
          "flatPath": "sql/v1beta4/projects/{project}/instances/{instance}/databases/{database}",
          "parameterOrder": [
            "project",
            "instance",
            "database"
          ],
          "path": "sql/v1beta4/projects/{project}/instances/{instance}/databases/{database}",
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "id": "sql.databases.get",
          "parameters": {
            "instance": {
              "required": true,
              "type": "string",
              "description": "Database instance ID. This does not include the project ID.",
              "location": "path"
            },
            "database": {
              "type": "string",
              "description": "Name of the database in the instance.",
              "required": true,
              "location": "path"
            },
            "project": {
              "required": true,
              "description": "Project ID of the project that contains the instance.",
              "location": "path",
              "type": "string"
            },
            "location": {
              "description": "Optional. Region of the Cloud SQL instance.",
              "location": "query",
              "type": "string"
            }
          },
          "description": "Retrieves a resource containing information about a database inside a Cloud SQL instance.",
          "response": {
            "$ref": "Database"
          }
        },
        "patch": {
          "response": {
            "$ref": "Operation"
          },
          "description": "Partially updates a resource containing information about a database inside a Cloud SQL instance. This method supports patch semantics.",
          "httpMethod": "PATCH",
          "request": {
            "$ref": "Database"
          },
          "parameterOrder": [
            "project",
            "instance",
            "database"
          ],
          "flatPath": "sql/v1beta4/projects/{project}/instances/{instance}/databases/{database}",
          "id": "sql.databases.patch",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "parameters": {
            "instance": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "Database instance ID. This does not include the project ID."
            },
            "location": {
              "type": "string",
              "description": "Optional. Region of the Cloud SQL instance.",
              "location": "query"
            },
            "project": {
              "description": "Project ID of the project that contains the instance.",
              "location": "path",
              "type": "string",
              "required": true
            },
            "database": {
              "location": "path",
              "description": "Name of the database to be updated in the instance.",
              "type": "string",
              "required": true
            }
          },
          "path": "sql/v1beta4/projects/{project}/instances/{instance}/databases/{database}"
        },
        "update": {
          "parameters": {
            "instance": {
              "required": true,
              "type": "string",
              "location": "path",
              "description": "Database instance ID. This does not include the project ID."
            },
            "database": {
              "location": "path",
              "type": "string",
              "required": true,
              "description": "Name of the database to be updated in the instance."
            },
            "project": {
              "location": "path",
              "description": "Project ID of the project that contains the instance.",
              "type": "string",
              "required": true
            },
            "location": {
              "type": "string",
              "location": "query",
              "description": "Optional. Region of the Cloud SQL instance."
            }
          },
          "id": "sql.databases.update",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "description": "Updates a resource containing information about a database inside a Cloud SQL instance.",
          "response": {
            "$ref": "Operation"
          },
          "parameterOrder": [
            "project",
            "instance",
            "database"
          ],
          "path": "sql/v1beta4/projects/{project}/instances/{instance}/databases/{database}",
          "httpMethod": "PUT",
          "request": {
            "$ref": "Database"
          },
          "flatPath": "sql/v1beta4/projects/{project}/instances/{instance}/databases/{database}"
        },
        "list": {
          "httpMethod": "GET",
          "flatPath": "sql/v1beta4/projects/{project}/instances/{instance}/databases",
          "description": "Lists databases in the specified Cloud SQL instance.",
          "path": "sql/v1beta4/projects/{project}/instances/{instance}/databases",
          "parameterOrder": [
            "project",
            "instance"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "response": {
            "$ref": "DatabasesListResponse"
          },
          "parameters": {
            "location": {
              "description": "Optional. Region of the Cloud SQL instance.",
              "type": "string",
              "location": "query"
            },
            "instance": {
              "type": "string",
              "required": true,
              "description": "Cloud SQL instance ID. This does not include the project ID.",
              "location": "path"
            },
            "project": {
              "type": "string",
              "description": "Project ID of the project that contains the instance.",
              "required": true,
              "location": "path"
            }
          },
          "id": "sql.databases.list"
        },
        "delete": {
          "parameters": {
            "instance": {
              "location": "path",
              "type": "string",
              "description": "Database instance ID. This does not include the project ID.",
              "required": true
            },
            "database": {
              "description": "Name of the database to be deleted in the instance.",
              "location": "path",
              "type": "string",
              "required": true
            },
            "project": {
              "location": "path",
              "type": "string",
              "required": true,
              "description": "Project ID of the project that contains the instance."
            },
            "location": {
              "description": "Optional. Region of the Cloud SQL instance.",
              "location": "query",
              "type": "string"
            }
          },
          "description": "Deletes a database from a Cloud SQL instance.",
          "response": {
            "$ref": "Operation"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "parameterOrder": [
            "project",
            "instance",
            "database"
          ],
          "httpMethod": "DELETE",
          "id": "sql.databases.delete",
          "path": "sql/v1beta4/projects/{project}/instances/{instance}/databases/{database}",
          "flatPath": "sql/v1beta4/projects/{project}/instances/{instance}/databases/{database}"
        },
        "insert": {
          "path": "sql/v1beta4/projects/{project}/instances/{instance}/databases",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "response": {
            "$ref": "Operation"
          },
          "id": "sql.databases.insert",
          "parameters": {
            "project": {
              "description": "Project ID of the project that contains the instance.",
              "required": true,
              "type": "string",
              "location": "path"
            },
            "location": {
              "description": "Optional. Region of the Cloud SQL instance.",
              "location": "query",
              "type": "string"
            },
            "instance": {
              "description": "Database instance ID. This does not include the project ID.",
              "required": true,
              "type": "string",
              "location": "path"
            }
          },
          "request": {
            "$ref": "Database"
          },
          "httpMethod": "POST",
          "description": "Inserts a resource containing information about a database inside a Cloud SQL instance. **Note:** You can't modify the default character set and collation.",
          "parameterOrder": [
            "project",
            "instance"
          ],
          "flatPath": "sql/v1beta4/projects/{project}/instances/{instance}/databases"
        }
      }
    },
    "tiers": {
      "methods": {
        "list": {
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "description": "Lists all available machine types (tiers) for Cloud SQL, for example, `db-custom-1-3840`. For related information, see [Pricing](/sql/pricing).",
          "httpMethod": "GET",
          "flatPath": "sql/v1beta4/projects/{project}/tiers",
          "parameters": {
            "project": {
              "type": "string",
              "location": "path",
              "description": "Project ID of the project for which to list tiers.",
              "required": true
            }
          },
          "parameterOrder": [
            "project"
          ],
          "response": {
            "$ref": "TiersListResponse"
          },
          "id": "sql.tiers.list",
          "path": "sql/v1beta4/projects/{project}/tiers"
        }
      }
    },
    "operations": {
      "methods": {
        "cancel": {
          "httpMethod": "POST",
          "description": "Cancels an instance operation that has been performed on an instance. Ordinarily, this method name should be `CancelSqlOperation`.",
          "parameterOrder": [
            "project",
            "operation"
          ],
          "response": {
            "$ref": "Empty"
          },
          "path": "sql/v1beta4/projects/{project}/operations/{operation}/cancel",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "parameters": {
            "project": {
              "location": "path",
              "type": "string",
              "description": "Project ID of the project that contains the instance.",
              "required": true
            },
            "operation": {
              "location": "path",
              "required": true,
              "description": "Instance operation ID.",
              "type": "string"
            },
            "location": {
              "description": "Optional. Region of the Cloud SQL instance.",
              "type": "string",
              "location": "query"
            }
          },
          "flatPath": "sql/v1beta4/projects/{project}/operations/{operation}/cancel",
          "id": "sql.operations.cancel"
        },
        "list": {
          "id": "sql.operations.list",
          "description": "Lists all instance operations that have been performed on the given Cloud SQL instance in the reverse chronological order of the start time.",
          "path": "sql/v1beta4/projects/{project}/operations",
          "response": {
            "$ref": "OperationsListResponse"
          },
          "httpMethod": "GET",
          "parameters": {
            "pageToken": {
              "type": "string",
              "description": "A previously-returned page token representing part of the larger set of results to view.",
              "location": "query"
            },
            "maxResults": {
              "format": "uint32",
              "type": "integer",
              "location": "query",
              "description": "Maximum number of operations per response."
            },
            "project": {
              "location": "path",
              "type": "string",
              "description": "Project ID of the project that contains the instance.",
              "required": true
            },
            "instance": {
              "type": "string",
              "location": "query",
              "description": "Cloud SQL instance ID. This does not include the project ID."
            },
            "location": {
              "description": "Optional. Region of the Cloud SQL instance.",
              "location": "query",
              "type": "string"
            }
          },
          "flatPath": "sql/v1beta4/projects/{project}/operations",
          "parameterOrder": [
            "project"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ]
        },
        "get": {
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "parameterOrder": [
            "project",
            "operation"
          ],
          "flatPath": "sql/v1beta4/projects/{project}/operations/{operation}",
          "id": "sql.operations.get",
          "response": {
            "$ref": "Operation"
          },
          "parameters": {
            "location": {
              "type": "string",
              "location": "query",
              "description": "Optional. Region of the Cloud SQL instance."
            },
            "operation": {
              "required": true,
              "type": "string",
              "location": "path",
              "description": "Instance operation ID."
            },
            "project": {
              "location": "path",
              "type": "string",
              "required": true,
              "description": "Project ID of the project that contains the instance."
            }
          },
          "path": "sql/v1beta4/projects/{project}/operations/{operation}",
          "description": "Retrieves an instance operation that has been performed on an instance."
        }
      }
    },
    "connect": {
      "methods": {
        "get": {
          "description": "Retrieves connect settings about a Cloud SQL instance.",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "flatPath": "sql/v1beta4/projects/{project}/instances/{instance}/connectSettings",
          "parameters": {
            "project": {
              "location": "path",
              "description": "Project ID of the project that contains the instance.",
              "required": true,
              "type": "string"
            },
            "instance": {
              "required": true,
              "description": "Cloud SQL instance ID. This does not include the project ID.",
              "type": "string",
              "location": "path"
            },
            "readTime": {
              "type": "string",
              "description": "Optional. Optional snapshot read timestamp to trade freshness for performance.",
              "location": "query",
              "format": "google-datetime"
            }
          },
          "httpMethod": "GET",
          "parameterOrder": [
            "project",
            "instance"
          ],
          "path": "sql/v1beta4/projects/{project}/instances/{instance}/connectSettings",
          "response": {
            "$ref": "ConnectSettings"
          },
          "id": "sql.connect.get"
        },
        "generateEphemeralCert": {
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "httpMethod": "POST",
          "flatPath": "sql/v1beta4/projects/{project}/instances/{instance}:generateEphemeralCert",
          "id": "sql.connect.generateEphemeral",
          "path": "sql/v1beta4/projects/{project}/instances/{instance}:generateEphemeralCert",
          "description": "Generates a short-lived X509 certificate containing the provided public key and signed by a private key specific to the target instance. Users may use the certificate to authenticate as themselves when connecting to the database.",
          "response": {
            "$ref": "GenerateEphemeralCertResponse"
          },
          "parameterOrder": [
            "project",
            "instance"
          ],
          "parameters": {
            "project": {
              "type": "string",
              "description": "Project ID of the project that contains the instance.",
              "required": true,
              "location": "path"
            },
            "instance": {
              "description": "Cloud SQL instance ID. This does not include the project ID.",
              "required": true,
              "type": "string",
              "location": "path"
            }
          },
          "request": {
            "$ref": "GenerateEphemeralCertRequest"
          }
        },
        "resolve": {
          "parameterOrder": [
            "location",
            "dnsName"
          ],
          "httpMethod": "GET",
          "path": "sql/v1beta4/locations/{location}/dns/{dnsName}:resolveConnectSettings",
          "id": "sql.connect.resolve",
          "flatPath": "sql/v1beta4/locations/{location}/dns/{dnsName}:resolveConnectSettings",
          "description": "Retrieves connect settings about a Cloud SQL instance using the instance DNS name.",
          "response": {
            "$ref": "ConnectSettings"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "parameters": {
            "location": {
              "type": "string",
              "location": "path",
              "description": "Required. The region of the instance.",
              "required": true
            },
            "dnsName": {
              "type": "string",
              "location": "path",
              "required": true,
              "description": "Required. Cloud SQL instance ID. This does not include the project ID."
            }
          }
        }
      }
    },
    "users": {
      "methods": {
        "update": {
          "response": {
            "$ref": "Operation"
          },
          "parameters": {
            "project": {
              "location": "path",
              "description": "Project ID of the project that contains the instance.",
              "type": "string",
              "required": true
            },
            "revokeExistingRoles": {
              "type": "boolean",
              "description": "Optional. Specifies whether to revoke existing roles that are not present in the `database_roles` field. If `false` or unset, the database roles specified in `database_roles` are added to the user's existing roles.",
              "location": "query"
            },
            "serverRoles": {
              "location": "query",
              "type": "string",
              "description": "Optional. The server roles to grant to the SQL Server login. Existing server roles will not be revoked if revoke_existing_roles is false. body.server_roles will be ignored for update request.",
              "repeated": true
            },
            "instance": {
              "type": "string",
              "required": true,
              "description": "Database instance ID. This does not include the project ID.",
              "location": "path"
            },
            "revokeExistingServerRoles": {
              "description": "Optional. Specifies whether to revoke existing roles that are not present in the `server_roles` field. If `false` or unset, the server roles specified in `server_roles` are added to the user's existing server roles.",
              "type": "boolean",
              "location": "query"
            },
            "host": {
              "type": "string",
              "description": "Optional. Host of the user in the instance.",
              "location": "query"
            },
            "name": {
              "type": "string",
              "description": "Name of the user in the instance.",
              "location": "query"
            },
            "location": {
              "type": "string",
              "location": "query",
              "description": "Optional. Region of the Cloud SQL instance."
            },
            "databaseRoles": {
              "location": "query",
              "description": "Optional. List of database roles to grant to the user. body.database_roles will be ignored for update request.",
              "type": "string",
              "repeated": true
            }
          },
          "path": "sql/v1beta4/projects/{project}/instances/{instance}/users",
          "id": "sql.users.update",
          "parameterOrder": [
            "project",
            "instance"
          ],
          "request": {
            "$ref": "User"
          },
          "httpMethod": "PUT",
          "description": "Updates an existing user in a Cloud SQL instance.",
          "flatPath": "sql/v1beta4/projects/{project}/instances/{instance}/users",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ]
        },
        "delete": {
          "path": "sql/v1beta4/projects/{project}/instances/{instance}/users",
          "httpMethod": "DELETE",
          "parameterOrder": [
            "project",
            "instance"
          ],
          "flatPath": "sql/v1beta4/projects/{project}/instances/{instance}/users",
          "description": "Deletes a user from a Cloud SQL instance.",
          "id": "sql.users.delete",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "response": {
            "$ref": "Operation"
          },
          "parameters": {
            "location": {
              "description": "Optional. Region of the Cloud SQL instance.",
              "type": "string",
              "location": "query"
            },
            "instance": {
              "required": true,
              "description": "Database instance ID. This does not include the project ID.",
              "type": "string",
              "location": "path"
            },
            "host": {
              "type": "string",
              "location": "query",
              "description": "Host of the user in the instance."
            },
            "project": {
              "description": "Project ID of the project that contains the instance.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "name": {
              "type": "string",
              "description": "Name of the user in the instance.",
              "location": "query"
            }
          }
        },
        "get": {
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "httpMethod": "GET",
          "response": {
            "$ref": "User"
          },
          "parameters": {
            "instance": {
              "required": true,
              "location": "path",
              "type": "string",
              "description": "Database instance ID. This does not include the project ID."
            },
            "name": {
              "description": "User of the instance.",
              "location": "path",
              "type": "string",
              "required": true
            },
            "location": {
              "location": "query",
              "type": "string",
              "description": "Optional. Region of the Cloud SQL instance."
            },
            "host": {
              "type": "string",
              "location": "query",
              "description": "Host of a user of the instance."
            },
            "project": {
              "required": true,
              "description": "Project ID of the project that contains the instance.",
              "location": "path",
              "type": "string"
            }
          },
          "flatPath": "sql/v1beta4/projects/{project}/instances/{instance}/users/{name}",
          "parameterOrder": [
            "project",
            "instance",
            "name"
          ],
          "id": "sql.users.get",
          "path": "sql/v1beta4/projects/{project}/instances/{instance}/users/{name}",
          "description": "Retrieves a resource containing information about a user."
        },
        "list": {
          "description": "Lists users in the specified Cloud SQL instance.",
          "flatPath": "sql/v1beta4/projects/{project}/instances/{instance}/users",
          "parameters": {
            "instance": {
              "required": true,
              "type": "string",
              "location": "path",
              "description": "Database instance ID. This does not include the project ID."
            },
            "project": {
              "required": true,
              "type": "string",
              "description": "Project ID of the project that contains the instance.",
              "location": "path"
            },
            "location": {
              "description": "Optional. Region of the Cloud SQL instance.",
              "location": "query",
              "type": "string"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "path": "sql/v1beta4/projects/{project}/instances/{instance}/users",
          "httpMethod": "GET",
          "parameterOrder": [
            "project",
            "instance"
          ],
          "response": {
            "$ref": "UsersListResponse"
          },
          "id": "sql.users.list"
        },
        "insert": {
          "description": "Creates a new user in a Cloud SQL instance.",
          "parameters": {
            "location": {
              "description": "Optional. Region of the Cloud SQL instance.",
              "location": "query",
              "type": "string"
            },
            "instance": {
              "description": "Database instance ID. This does not include the project ID.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "project": {
              "description": "Project ID of the project that contains the instance.",
              "required": true,
              "type": "string",
              "location": "path"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "request": {
            "$ref": "User"
          },
          "flatPath": "sql/v1beta4/projects/{project}/instances/{instance}/users",
          "response": {
            "$ref": "Operation"
          },
          "path": "sql/v1beta4/projects/{project}/instances/{instance}/users",
          "id": "sql.users.insert",
          "httpMethod": "POST",
          "parameterOrder": [
            "project",
            "instance"
          ]
        }
      }
    },
    "instances": {
      "methods": {
        "patch": {
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "description": "Partially updates settings of a Cloud SQL instance by merging the request with the current configuration. This method supports patch semantics.",
          "flatPath": "sql/v1beta4/projects/{project}/instances/{instance}",
          "httpMethod": "PATCH",
          "path": "sql/v1beta4/projects/{project}/instances/{instance}",
          "parameterOrder": [
            "project",
            "instance"
          ],
          "id": "sql.instances.patch",
          "parameters": {
            "reconcilePscNetworking": {
              "location": "query",
              "type": "boolean",
              "description": "Optional. Set PSC config to the same value as the existing config to reconcile the PSC networking."
            },
            "instance": {
              "required": true,
              "type": "string",
              "location": "path",
              "description": "Cloud SQL instance ID. This does not include the project ID."
            },
            "reconcilePscNetworkingForce": {
              "location": "query",
              "description": "Optional. Set PSC config to the same value as the existing config and force reconcile the PSC networking.",
              "type": "boolean"
            },
            "location": {
              "location": "query",
              "description": "Optional. Region of the Cloud SQL instance.",
              "type": "string"
            },
            "project": {
              "required": true,
              "type": "string",
              "description": "Project ID of the project that contains the instance.",
              "location": "path"
            }
          },
          "request": {
            "$ref": "DatabaseInstance"
          },
          "response": {
            "$ref": "Operation"
          }
        },
        "ListServerCertificates": {
          "flatPath": "sql/v1beta4/projects/{project}/instances/{instance}/listServerCertificates",
          "description": "Lists all versions of server certificates and certificate authorities (CAs) for the specified instance. There can be up to three sets of certs listed: the certificate that is currently in use, a future that has been added but not yet used to sign a certificate, and a certificate that has been rotated out. For instances not using Certificate Authority Service (CAS) server CA, use ListServerCas instead.",
          "parameterOrder": [
            "project",
            "instance"
          ],
          "path": "sql/v1beta4/projects/{project}/instances/{instance}/listServerCertificates",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "httpMethod": "GET",
          "parameters": {
            "project": {
              "description": "Required. Project ID of the project that contains the instance.",
              "required": true,
              "type": "string",
              "location": "path"
            },
            "instance": {
              "location": "path",
              "type": "string",
              "required": true,
              "description": "Required. Cloud SQL instance ID. This does not include the project ID."
            },
            "location": {
              "type": "string",
              "location": "query",
              "description": "Optional. Region of the Cloud SQL instance."
            }
          },
          "id": "sql.instances.ListServerCertificates",
          "response": {
            "$ref": "InstancesListServerCertificatesResponse"
          }
        },
        "startReplica": {
          "httpMethod": "POST",
          "parameterOrder": [
            "project",
            "instance"
          ],
          "flatPath": "sql/v1beta4/projects/{project}/instances/{instance}/startReplica",
          "parameters": {
            "location": {
              "type": "string",
              "description": "Optional. Region of the Cloud SQL instance.",
              "location": "query"
            },
            "instance": {
              "type": "string",
              "required": true,
              "description": "Cloud SQL read replica instance name.",
              "location": "path"
            },
            "project": {
              "required": true,
              "type": "string",
              "description": "ID of the project that contains the read replica.",
              "location": "path"
            }
          },
          "description": "Starts the replication in the read replica instance.",
          "response": {
            "$ref": "Operation"
          },
          "path": "sql/v1beta4/projects/{project}/instances/{instance}/startReplica",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "id": "sql.instances.startReplica"
        },
        "delete": {
          "path": "sql/v1beta4/projects/{project}/instances/{instance}",
          "id": "sql.instances.delete",
          "httpMethod": "DELETE",
          "flatPath": "sql/v1beta4/projects/{project}/instances/{instance}",
          "response": {
            "$ref": "Operation"
          },
          "parameters": {
            "enableFinalBackup": {
              "description": "Flag to opt-in for final backup. By default, it is turned off.",
              "location": "query",
              "type": "boolean"
            },
            "finalBackupExpiryTime": {
              "type": "string",
              "format": "google-datetime",
              "description": "Optional. Final Backup expiration time. Timestamp in UTC of when this resource is considered expired.",
              "location": "query"
            },
            "finalBackupDescription": {
              "location": "query",
              "description": "Optional. The description of the final backup.",
              "type": "string"
            },
            "instance": {
              "type": "string",
              "description": "Cloud SQL instance ID. This does not include the project ID.",
              "required": true,
              "location": "path"
            },
            "finalBackupTtlDays": {
              "format": "int64",
              "description": "Optional. Retention period of the final backup.",
              "location": "query",
              "type": "string"
            },
            "project": {
              "type": "string",
              "location": "path",
              "description": "Project ID of the project that contains the instance to be deleted.",
              "required": true
            },
            "location": {
              "description": "Optional. Region of the Cloud SQL instance.",
              "location": "query",
              "type": "string"
            }
          },
          "parameterOrder": [
            "project",
            "instance"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "description": "Deletes a Cloud SQL instance."
        },
        "pointInTimeRestore": {
          "request": {
            "$ref": "PointInTimeRestoreContext"
          },
          "response": {
            "$ref": "Operation"
          },
          "httpMethod": "POST",
          "parameterOrder": [
            "parent"
          ],
          "path": "sql/v1beta4/{+parent}:pointInTimeRestore",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "id": "sql.instances.pointInTimeRestore",
          "description": "Point in time restore for an instance managed by Google Cloud Backup and Disaster Recovery.",
          "flatPath": "sql/v1beta4/projects/{projectsId}:pointInTimeRestore",
          "parameters": {
            "parent": {
              "location": "path",
              "required": true,
              "description": "Required. The parent resource where you created this instance. Format: projects/{project}",
              "pattern": "^projects/[^/]+$",
              "type": "string"
            }
          }
        },
        "update": {
          "id": "sql.instances.update",
          "flatPath": "sql/v1beta4/projects/{project}/instances/{instance}",
          "parameterOrder": [
            "project",
            "instance"
          ],
          "httpMethod": "PUT",
          "parameters": {
            "instance": {
              "required": true,
              "location": "path",
              "description": "Cloud SQL instance ID. This does not include the project ID.",
              "type": "string"
            },
            "project": {
              "location": "path",
              "type": "string",
              "required": true,
              "description": "Project ID of the project that contains the instance."
            },
            "location": {
              "description": "Optional. Region of the Cloud SQL instance.",
              "location": "query",
              "type": "string"
            }
          },
          "path": "sql/v1beta4/projects/{project}/instances/{instance}",
          "description": "Updates settings of a Cloud SQL instance. Using this operation might cause your instance to restart.",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "request": {
            "$ref": "DatabaseInstance"
          },
          "response": {
            "$ref": "Operation"
          }
        },
        "stopReplica": {
          "path": "sql/v1beta4/projects/{project}/instances/{instance}/stopReplica",
          "response": {
            "$ref": "Operation"
          },
          "parameterOrder": [
            "project",
            "instance"
          ],
          "parameters": {
            "instance": {
              "type": "string",
              "required": true,
              "description": "Cloud SQL read replica instance name.",
              "location": "path"
            },
            "project": {
              "location": "path",
              "description": "ID of the project that contains the read replica.",
              "type": "string",
              "required": true
            },
            "location": {
              "description": "Optional. Region of the Cloud SQL instance.",
              "location": "query",
              "type": "string"
            }
          },
          "id": "sql.instances.stopReplica",
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "description": "Stops the replication in the read replica instance.",
          "flatPath": "sql/v1beta4/projects/{project}/instances/{instance}/stopReplica"
        },
        "failover": {
          "parameters": {
            "location": {
              "type": "string",
              "description": "Optional. Region of the Cloud SQL instance.",
              "location": "query"
            },
            "project": {
              "description": "ID of the project that contains the read replica.",
              "type": "string",
              "location": "path",
              "required": true
            },
            "instance": {
              "required": true,
              "description": "Cloud SQL instance ID. This does not include the project ID.",
              "type": "string",
              "location": "path"
            }
          },
          "parameterOrder": [
            "project",
            "instance"
          ],
          "flatPath": "sql/v1beta4/projects/{project}/instances/{instance}/failover",
          "request": {
            "$ref": "InstancesFailoverRequest"
          },
          "id": "sql.instances.failover",
          "response": {
            "$ref": "Operation"
          },
          "description": "Initiates a manual failover of a high availability (HA) primary instance to a standby instance, which becomes the primary instance. Users are then rerouted to the new primary. For more information, see the [Overview of high availability](https://cloud.google.com/sql/docs/mysql/high-availability) page in the Cloud SQL documentation. If using Legacy HA (MySQL only), this causes the instance to failover to its failover replica instance.",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "httpMethod": "POST",
          "path": "sql/v1beta4/projects/{project}/instances/{instance}/failover"
        },
        "reencrypt": {
          "parameterOrder": [
            "project",
            "instance"
          ],
          "description": "Reencrypt CMEK instance with latest key version.",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "path": "sql/v1beta4/projects/{project}/instances/{instance}/reencrypt",
          "parameters": {
            "project": {
              "type": "string",
              "location": "path",
              "description": "ID of the project that contains the instance.",
              "required": true
            },
            "instance": {
              "type": "string",
              "required": true,
              "description": "Cloud SQL instance ID. This does not include the project ID.",
              "location": "path"
            },
            "location": {
              "location": "query",
              "description": "Optional. Region of the Cloud SQL instance.",
              "type": "string"
            }
          },
          "id": "sql.instances.reencrypt",
          "response": {
            "$ref": "Operation"
          },
          "flatPath": "sql/v1beta4/projects/{project}/instances/{instance}/reencrypt",
          "request": {
            "$ref": "InstancesReencryptRequest"
          },
          "httpMethod": "POST"
        },
        "addEntraIdCertificate": {
          "parameterOrder": [
            "project",
            "instance"
          ],
          "path": "sql/v1beta4/projects/{project}/instances/{instance}/addEntraIdCertificate",
          "id": "sql.instances.addEntraIdCertificate",
          "httpMethod": "POST",
          "response": {
            "$ref": "Operation"
          },
          "flatPath": "sql/v1beta4/projects/{project}/instances/{instance}/addEntraIdCertificate",
          "parameters": {
            "location": {
              "description": "Optional. Region of the Cloud SQL instance.",
              "type": "string",
              "location": "query"
            },
            "instance": {
              "location": "path",
              "required": true,
              "description": "Required. Cloud SQL instance ID. This does not include the project ID.",
              "type": "string"
            },
            "project": {
              "required": true,
              "description": "Required. Project ID of the project that contains the instance.",
              "type": "string",
              "location": "path"
            }
          },
          "description": "Adds a new Entra ID certificate for the specified instance. If an Entra ID certificate was previously added but never used in a certificate rotation, this operation replaces that version.",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ]
        },
        "RotateServerCertificate": {
          "httpMethod": "POST",
          "response": {
            "$ref": "Operation"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "request": {
            "$ref": "InstancesRotateServerCertificateRequest"
          },
          "path": "sql/v1beta4/projects/{project}/instances/{instance}/rotateServerCertificate",
          "parameterOrder": [
            "project",
            "instance"
          ],
          "id": "sql.instances.RotateServerCertificate",
          "flatPath": "sql/v1beta4/projects/{project}/instances/{instance}/rotateServerCertificate",
          "parameters": {
            "location": {
              "type": "string",
              "description": "Optional. Region of the Cloud SQL instance.",
              "location": "query"
            },
            "instance": {
              "description": "Required. Cloud SQL instance ID. This does not include the project ID.",
              "location": "path",
              "type": "string",
              "required": true
            },
            "project": {
              "required": true,
              "description": "Required. Project ID of the project that contains the instance.",
              "type": "string",
              "location": "path"
            }
          },
          "description": "Rotates the server certificate version to one previously added with the addServerCertificate method. For instances not using Certificate Authority Service (CAS) server CA, use RotateServerCa instead."
        },
        "promoteReplica": {
          "description": "Promotes the read replica instance to be an independent Cloud SQL primary instance. Using this operation might cause your instance to restart.",
          "parameters": {
            "instance": {
              "location": "path",
              "type": "string",
              "required": true,
              "description": "Cloud SQL read replica instance name."
            },
            "project": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "ID of the project that contains the read replica."
            },
            "failover": {
              "description": "Set to true to invoke a replica failover to the DR replica. As part of replica failover, the promote operation attempts to add the original primary instance as a replica of the promoted DR replica when the original primary instance comes back online. If set to false or not specified, then the original primary instance becomes an independent Cloud SQL primary instance.",
              "location": "query",
              "type": "boolean"
            },
            "location": {
              "location": "query",
              "description": "Optional. Region of the Cloud SQL instance.",
              "type": "string"
            }
          },
          "parameterOrder": [
            "project",
            "instance"
          ],
          "id": "sql.instances.promoteReplica",
          "path": "sql/v1beta4/projects/{project}/instances/{instance}/promoteReplica",
          "response": {
            "$ref": "Operation"
          },
          "flatPath": "sql/v1beta4/projects/{project}/instances/{instance}/promoteReplica",
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ]
        },
        "addServerCa": {
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "parameters": {
            "location": {
              "type": "string",
              "location": "query",
              "description": "Optional. Region of the Cloud SQL instance."
            },
            "project": {
              "required": true,
              "description": "Project ID of the project that contains the instance.",
              "type": "string",
              "location": "path"
            },
            "instance": {
              "required": true,
              "description": "Cloud SQL instance ID. This does not include the project ID.",
              "location": "path",
              "type": "string"
            }
          },
          "response": {
            "$ref": "Operation"
          },
          "id": "sql.instances.addServerCa",
          "parameterOrder": [
            "project",
            "instance"
          ],
          "flatPath": "sql/v1beta4/projects/{project}/instances/{instance}/addServerCa",
          "httpMethod": "POST",
          "path": "sql/v1beta4/projects/{project}/instances/{instance}/addServerCa",
          "description": "Add a new trusted Certificate Authority (CA) version for the specified instance. Required to prepare for a certificate rotation. If a CA version was previously added but never used in a certificate rotation, this operation replaces that version. There cannot be more than one CA version waiting to be rotated in. For instances that have enabled Certificate Authority Service (CAS) based server CA, use AddServerCertificate to add a new server certificate."
        },
        "insert": {
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "request": {
            "$ref": "DatabaseInstance"
          },
          "flatPath": "sql/v1beta4/projects/{project}/instances",
          "httpMethod": "POST",
          "description": "Creates a new Cloud SQL instance.",
          "response": {
            "$ref": "Operation"
          },
          "parameters": {
            "location": {
              "location": "query",
              "type": "string",
              "description": "Optional. Region of the Cloud SQL instance."
            },
            "project": {
              "type": "string",
              "location": "path",
              "description": "Project ID of the project to which the newly created Cloud SQL instances should belong.",
              "required": true
            }
          },
          "path": "sql/v1beta4/projects/{project}/instances",
          "parameterOrder": [
            "project"
          ],
          "id": "sql.instances.insert"
        },
        "restoreBackup": {
          "httpMethod": "POST",
          "response": {
            "$ref": "Operation"
          },
          "path": "sql/v1beta4/projects/{project}/instances/{instance}/restoreBackup",
          "description": "Restores a backup of a Cloud SQL instance. Using this operation might cause your instance to restart.",
          "request": {
            "$ref": "InstancesRestoreBackupRequest"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "id": "sql.instances.restoreBackup",
          "flatPath": "sql/v1beta4/projects/{project}/instances/{instance}/restoreBackup",
          "parameters": {
            "project": {
              "location": "path",
              "type": "string",
              "description": "Project ID of the project that contains the instance.",
              "required": true
            },
            "instance": {
              "required": true,
              "type": "string",
              "description": "Cloud SQL instance ID. This does not include the project ID.",
              "location": "path"
            },
            "location": {
              "type": "string",
              "description": "Optional. Region of the Cloud SQL instance.",
              "location": "query"
            }
          },
          "parameterOrder": [
            "project",
            "instance"
          ]
        },
        "clone": {
          "httpMethod": "POST",
          "request": {
            "$ref": "InstancesCloneRequest"
          },
          "id": "sql.instances.clone",
          "path": "sql/v1beta4/projects/{project}/instances/{instance}/clone",
          "response": {
            "$ref": "Operation"
          },
          "parameterOrder": [
            "project",
            "instance"
          ],
          "flatPath": "sql/v1beta4/projects/{project}/instances/{instance}/clone",
          "description": "Creates a Cloud SQL instance as a clone of the source instance. Using this operation might cause your instance to restart.",
          "parameters": {
            "location": {
              "description": "Optional. Region of the Cloud SQL instance.",
              "location": "query",
              "type": "string"
            },
            "project": {
              "description": "Project ID of the source Cloud SQL instance.",
              "location": "path",
              "type": "string",
              "required": true
            },
            "instance": {
              "required": true,
              "type": "string",
              "description": "The ID of the Cloud SQL instance to be cloned (source). This does not include the project ID.",
              "location": "path"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ]
        },
        "get": {
          "httpMethod": "GET",
          "flatPath": "sql/v1beta4/projects/{project}/instances/{instance}",
          "description": "Retrieves a resource containing information about a Cloud SQL instance.",
          "id": "sql.instances.get",
          "parameterOrder": [
            "project",
            "instance"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "response": {
            "$ref": "DatabaseInstance"
          },
          "path": "sql/v1beta4/projects/{project}/instances/{instance}",
          "parameters": {
            "project": {
              "required": true,
              "description": "Project ID of the project that contains the instance.",
              "location": "path",
              "type": "string"
            },
            "location": {
              "description": "Optional. Region of the Cloud SQL instance.",
              "location": "query",
              "type": "string"
            },
            "instance": {
              "description": "Database instance ID. This does not include the project ID.",
              "location": "path",
              "type": "string",
              "required": true
            }
          }
        },
        "preCheckMajorVersionUpgrade": {
          "parameters": {
            "location": {
              "description": "Optional. Region of the Cloud SQL instance.",
              "location": "query",
              "type": "string"
            },
            "project": {
              "location": "path",
              "type": "string",
              "description": "Required. Project ID of the project that contains the instance.",
              "required": true
            },
            "instance": {
              "required": true,
              "description": "Required. Cloud SQL instance ID. This does not include the project ID.",
              "type": "string",
              "location": "path"
            }
          },
          "request": {
            "$ref": "InstancesPreCheckMajorVersionUpgradeRequest"
          },
          "response": {
            "$ref": "Operation"
          },
          "path": "sql/v1beta4/projects/{project}/instances/{instance}/preCheckMajorVersionUpgrade",
          "id": "sql.instances.preCheckMajorVersionUpgrade",
          "parameterOrder": [
            "project",
            "instance"
          ],
          "flatPath": "sql/v1beta4/projects/{project}/instances/{instance}/preCheckMajorVersionUpgrade",
          "description": "Execute MVU Pre-checks",
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ]
        },
        "demoteMaster": {
          "request": {
            "$ref": "InstancesDemoteMasterRequest"
          },
          "description": "Demotes the stand-alone instance to be a Cloud SQL read replica for an external database server.",
          "parameters": {
            "project": {
              "type": "string",
              "required": true,
              "description": "ID of the project that contains the instance.",
              "location": "path"
            },
            "instance": {
              "location": "path",
              "description": "Cloud SQL instance name.",
              "required": true,
              "type": "string"
            },
            "location": {
              "description": "Optional. Region of the Cloud SQL instance.",
              "location": "query",
              "type": "string"
            }
          },
          "path": "sql/v1beta4/projects/{project}/instances/{instance}/demoteMaster",
          "response": {
            "$ref": "Operation"
          },
          "parameterOrder": [
            "project",
            "instance"
          ],
          "flatPath": "sql/v1beta4/projects/{project}/instances/{instance}/demoteMaster",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "id": "sql.instances.demoteMaster",
          "httpMethod": "POST"
        },
        "rotateServerCa": {
          "id": "sql.instances.rotateServerCa",
          "flatPath": "sql/v1beta4/projects/{project}/instances/{instance}/rotateServerCa",
          "path": "sql/v1beta4/projects/{project}/instances/{instance}/rotateServerCa",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "httpMethod": "POST",
          "parameters": {
            "project": {
              "description": "Project ID of the project that contains the instance.",
              "type": "string",
              "location": "path",
              "required": true
            },
            "instance": {
              "required": true,
              "description": "Cloud SQL instance ID. This does not include the project ID.",
              "location": "path",
              "type": "string"
            },
            "location": {
              "location": "query",
              "type": "string",
              "description": "Optional. Region of the Cloud SQL instance."
            }
          },
          "parameterOrder": [
            "project",
            "instance"
          ],
          "response": {
            "$ref": "Operation"
          },
          "request": {
            "$ref": "InstancesRotateServerCaRequest"
          },
          "description": "Rotates the server certificate to one signed by the Certificate Authority (CA) version previously added with the addServerCA method. For instances that have enabled Certificate Authority Service (CAS) based server CA, use RotateServerCertificate to rotate the server certificate."
        },
        "acquireSsrsLease": {
          "parameters": {
            "instance": {
              "type": "string",
              "location": "path",
              "required": true,
              "description": "Required. Cloud SQL instance ID. This doesn't include the project ID. It's composed of lowercase letters, numbers, and hyphens, and it must start with a letter. The total length must be 98 characters or less (Example: instance-id)."
            },
            "project": {
              "location": "path",
              "type": "string",
              "required": true,
              "description": "Required. ID of the project that contains the instance (Example: project-id)."
            },
            "location": {
              "description": "Optional. Region of the Cloud SQL instance.",
              "type": "string",
              "location": "query"
            }
          },
          "id": "sql.instances.acquireSsrsLease",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "flatPath": "sql/v1beta4/projects/{project}/instances/{instance}/acquireSsrsLease",
          "description": "Acquire a lease for the setup of SQL Server Reporting Services (SSRS).",
          "parameterOrder": [
            "project",
            "instance"
          ],
          "response": {
            "$ref": "SqlInstancesAcquireSsrsLeaseResponse"
          },
          "path": "sql/v1beta4/projects/{project}/instances/{instance}/acquireSsrsLease",
          "request": {
            "$ref": "InstancesAcquireSsrsLeaseRequest"
          },
          "httpMethod": "POST"
        },
        "truncateLog": {
          "flatPath": "sql/v1beta4/projects/{project}/instances/{instance}/truncateLog",
          "description": "Truncate MySQL general and slow query log tables MySQL only.",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "httpMethod": "POST",
          "id": "sql.instances.truncateLog",
          "parameterOrder": [
            "project",
            "instance"
          ],
          "path": "sql/v1beta4/projects/{project}/instances/{instance}/truncateLog",
          "request": {
            "$ref": "InstancesTruncateLogRequest"
          },
          "parameters": {
            "location": {
              "type": "string",
              "description": "Optional. Region of the Cloud SQL instance.",
              "location": "query"
            },
            "project": {
              "required": true,
              "description": "Project ID of the Cloud SQL project.",
              "type": "string",
              "location": "path"
            },
            "instance": {
              "required": true,
              "type": "string",
              "description": "Cloud SQL instance ID. This does not include the project ID.",
              "location": "path"
            }
          },
          "response": {
            "$ref": "Operation"
          }
        },
        "executeSql": {
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "request": {
            "$ref": "ExecuteSqlPayload"
          },
          "path": "sql/v1beta4/projects/{project}/instances/{instance}/executeSql",
          "flatPath": "sql/v1beta4/projects/{project}/instances/{instance}/executeSql",
          "parameters": {
            "project": {
              "description": "Required. Project ID of the project that contains the instance.",
              "required": true,
              "location": "path",
              "type": "string"
            },
            "instance": {
              "required": true,
              "location": "path",
              "description": "Required. Database instance ID. This does not include the project ID.",
              "type": "string"
            },
            "location": {
              "location": "query",
              "description": "Optional. Region of the Cloud SQL instance.",
              "type": "string"
            }
          },
          "parameterOrder": [
            "project",
            "instance"
          ],
          "httpMethod": "POST",
          "id": "sql.instances.executeSql",
          "response": {
            "$ref": "SqlInstancesExecuteSqlResponse"
          },
          "description": "Execute SQL statements."
        },
        "export": {
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "description": "Exports data from a Cloud SQL instance to a Cloud Storage bucket as a SQL dump or CSV file.",
          "path": "sql/v1beta4/projects/{project}/instances/{instance}/export",
          "response": {
            "$ref": "Operation"
          },
          "parameters": {
            "location": {
              "description": "Optional. Region of the Cloud SQL instance.",
              "type": "string",
              "location": "query"
            },
            "instance": {
              "required": true,
              "description": "The Cloud SQL instance ID. This doesn't include the project ID.",
              "location": "path",
              "type": "string"
            },
            "project": {
              "location": "path",
              "description": "Project ID of the project that contains the instance to be exported.",
              "type": "string",
              "required": true
            }
          },
          "flatPath": "sql/v1beta4/projects/{project}/instances/{instance}/export",
          "id": "sql.instances.export",
          "httpMethod": "POST",
          "request": {
            "$ref": "InstancesExportRequest"
          },
          "parameterOrder": [
            "project",
            "instance"
          ]
        },
        "RotateEntraIdCertificate": {
          "parameterOrder": [
            "project",
            "instance"
          ],
          "parameters": {
            "instance": {
              "description": "Required. Cloud SQL instance ID. This does not include the project ID.",
              "required": true,
              "type": "string",
              "location": "path"
            },
            "project": {
              "description": "Required. Project ID of the project that contains the instance.",
              "location": "path",
              "type": "string",
              "required": true
            },
            "location": {
              "description": "Optional. Region of the Cloud SQL instance.",
              "location": "query",
              "type": "string"
            }
          },
          "path": "sql/v1beta4/projects/{project}/instances/{instance}/rotateEntraIdCertificate",
          "flatPath": "sql/v1beta4/projects/{project}/instances/{instance}/rotateEntraIdCertificate",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "id": "sql.instances.RotateEntraIdCertificate",
          "httpMethod": "POST",
          "response": {
            "$ref": "Operation"
          },
          "request": {
            "$ref": "InstancesRotateEntraIdCertificateRequest"
          },
          "description": "Rotates the Entra Id certificate version to one previously added with the addEntraIdCertificate method."
        },
        "switchover": {
          "response": {
            "$ref": "Operation"
          },
          "id": "sql.instances.switchover",
          "parameters": {
            "instance": {
              "required": true,
              "type": "string",
              "location": "path",
[...]
