{
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "ownerName": "Google",
  "fullyEncodeReservedExpansion": true,
  "protocol": "rest",
  "title": "Cloud SQL Admin API",
  "discoveryVersion": "v1",
  "kind": "discovery#restDescription",
  "basePath": "",
  "ownerDomain": "google.com",
  "schemas": {
    "DiskEncryptionStatus": {
      "properties": {
        "kmsKeyVersionName": {
          "type": "string",
          "description": "KMS key version used to encrypt the Cloud SQL instance resource"
        },
        "kind": {
          "type": "string",
          "description": "This is always `sql#diskEncryptionStatus`."
        }
      },
      "description": "Disk encryption status for an instance.",
      "id": "DiskEncryptionStatus",
      "type": "object"
    },
    "DataCacheConfig": {
      "properties": {
        "dataCacheEnabled": {
          "description": "Whether data cache is enabled for the instance.",
          "type": "boolean"
        }
      },
      "type": "object",
      "description": "Data cache configurations.",
      "id": "DataCacheConfig"
    },
    "TargetMetric": {
      "properties": {
        "metric": {
          "description": "The metric name to be used for auto scaling.",
          "type": "string"
        },
        "targetValue": {
          "format": "float",
          "description": "The target value for the metric.",
          "type": "number"
        }
      },
      "description": "Target metric for read pool auto scaling.",
      "type": "object",
      "id": "TargetMetric"
    },
    "Status": {
      "id": "Status",
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "type": "object",
      "properties": {
        "code": {
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "format": "int32",
          "type": "integer"
        },
        "details": {
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "type": "array",
          "items": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            }
          }
        },
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        }
      }
    },
    "OperationsListResponse": {
      "properties": {
        "items": {
          "description": "List of operation resources.",
          "type": "array",
          "items": {
            "$ref": "Operation"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "The continuation token, used to page through large result sets. Provide this value in a subsequent request to return the next page of results."
        },
        "kind": {
          "description": "This is always `sql#operationsList`.",
          "type": "string"
        }
      },
      "id": "OperationsListResponse",
      "description": "Operations list response.",
      "type": "object"
    },
    "ConnectPoolNodeConfig": {
      "id": "ConnectPoolNodeConfig",
      "description": "Details of a single read pool node of a read pool.",
      "properties": {
        "name": {
          "type": "string",
          "description": "Output only. The name of the read pool node. Doesn't include the project ID.",
          "readOnly": true
        },
        "dnsNames": {
          "items": {
            "$ref": "DnsNameMapping"
          },
          "type": "array",
          "readOnly": true,
          "description": "Output only. The list of DNS names used by this read pool node."
        },
        "ipAddresses": {
          "type": "array",
          "description": "Output only. Mappings containing IP addresses that can be used to connect to the read pool node.",
          "items": {
            "$ref": "IpMapping"
          },
          "readOnly": true
        },
        "dnsName": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The DNS name of the read pool node."
        }
      },
      "type": "object"
    },
    "Message": {
      "type": "object",
      "id": "Message",
      "properties": {
        "message": {
          "description": "The full message string. For PostgreSQL, this is a formatted string that may include severity, code, and the notice/warning message. For MySQL, this contains the warning message.",
          "type": "string"
        },
        "severity": {
          "description": "The severity of the message (e.g., \"NOTICE\" for PostgreSQL, \"WARNING\" for MySQL).",
          "type": "string"
        }
      },
      "description": "Represents a notice or warning message from the database."
    },
    "ListBackupsResponse": {
      "id": "ListBackupsResponse",
      "description": "The response payload containing a list of the backups.",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, then there aren't subsequent pages."
        },
        "backups": {
          "items": {
            "$ref": "Backup"
          },
          "description": "A list of backups.",
          "type": "array"
        },
        "warnings": {
          "type": "array",
          "description": "If a region isn't unavailable or if an unknown error occurs, then a warning message is returned.",
          "items": {
            "$ref": "ApiWarning"
          }
        }
      },
      "type": "object"
    },
    "InstancesPreCheckMajorVersionUpgradeRequest": {
      "description": "Request for Pre-checks for MVU",
      "type": "object",
      "id": "InstancesPreCheckMajorVersionUpgradeRequest",
      "properties": {
        "preCheckMajorVersionUpgradeContext": {
          "description": "Required. Contains details about the pre-check major version upgrade operation.",
          "$ref": "PreCheckMajorVersionUpgradeContext"
        }
      }
    },
    "SqlInstancesGetDiskShrinkConfigResponse": {
      "type": "object",
      "properties": {
        "message": {
          "description": "Additional message to customers.",
          "type": "string"
        },
        "minimalTargetSizeGb": {
          "description": "The minimum size to which a disk can be shrunk in GigaBytes.",
          "type": "string",
          "format": "int64"
        },
        "kind": {
          "description": "This is always `sql#getDiskShrinkConfig`.",
          "type": "string"
        }
      },
      "id": "SqlInstancesGetDiskShrinkConfigResponse",
      "description": "Instance get disk shrink config response."
    },
    "InstancesReencryptRequest": {
      "description": "Database Instance reencrypt request.",
      "type": "object",
      "id": "InstancesReencryptRequest",
      "properties": {
        "backupReencryptionConfig": {
          "$ref": "BackupReencryptionConfig",
          "description": "Configuration specific to backup re-encryption"
        }
      }
    },
    "InstancesImportRequest": {
      "id": "InstancesImportRequest",
      "type": "object",
      "properties": {
        "importContext": {
          "description": "Contains details about the import operation.",
          "$ref": "ImportContext"
        }
      },
      "description": "Database instance import request."
    },
    "DatabaseFlags": {
      "type": "object",
      "id": "DatabaseFlags",
      "properties": {
        "value": {
          "description": "The value of the flag. Boolean flags are set to `on` for true and `off` for false. This field must be omitted if the flag doesn't take a value.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "The name of the flag. These flags are passed at instance startup, so include both server options and system variables. Flags are specified with underscores, not hyphens. For more information, see [Configuring Database Flags](https://cloud.google.com/sql/docs/mysql/flags) in the Cloud SQL documentation."
        }
      },
      "description": "Database flags for Cloud SQL instances."
    },
    "GeminiInstanceConfig": {
      "id": "GeminiInstanceConfig",
      "type": "object",
      "properties": {
        "activeQueryEnabled": {
          "type": "boolean",
          "description": "Output only. Whether the active query is enabled.",
          "readOnly": true
        },
        "entitled": {
          "type": "boolean",
          "readOnly": true,
          "description": "Output only. Whether Gemini is enabled."
        },
        "oomSessionCancelEnabled": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. Whether canceling the out-of-memory (OOM) session is enabled."
        },
        "googleVacuumMgmtEnabled": {
          "type": "boolean",
          "description": "Output only. Whether the vacuum management is enabled.",
          "readOnly": true
        },
        "indexAdvisorEnabled": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. Whether the index advisor is enabled."
        },
        "flagRecommenderEnabled": {
          "type": "boolean",
          "description": "Output only. Whether the flag recommender is enabled.",
          "readOnly": true
        }
      },
      "description": "Gemini instance configuration."
    },
    "InsightsConfig": {
      "description": "Insights configuration. This specifies when Cloud SQL Insights feature is enabled and optional configuration.",
      "id": "InsightsConfig",
      "properties": {
        "queryStringLength": {
          "type": "integer",
          "description": "Maximum query length stored in bytes. Default value: 1024 bytes. Range: 256-4500 bytes. Query lengths greater than this field value will be truncated to this value. When unset, query length will be the default value. Changing query length will restart the database.",
          "format": "int32"
        },
        "enhancedQueryInsightsEnabled": {
          "type": "boolean",
          "description": "Optional. Whether enhanced query insights feature is enabled."
        },
        "queryPlansPerMinute": {
          "type": "integer",
          "format": "int32",
          "description": "Number of query execution plans captured by Insights per minute for all queries combined. Default is 5."
        },
        "recordClientAddress": {
          "type": "boolean",
          "description": "Whether Query Insights will record client address when enabled."
        },
        "queryInsightsEnabled": {
          "type": "boolean",
          "description": "Whether Query Insights feature is enabled."
        },
        "recordApplicationTags": {
          "description": "Whether Query Insights will record application tags from query when enabled.",
          "type": "boolean"
        }
      },
      "type": "object"
    },
    "DemoteMasterConfiguration": {
      "description": "Read-replica configuration for connecting to the on-premises primary instance.",
      "properties": {
        "kind": {
          "type": "string",
          "description": "This is always `sql#demoteMasterConfiguration`."
        },
        "mysqlReplicaConfiguration": {
          "$ref": "DemoteMasterMySqlReplicaConfiguration",
          "description": "MySQL specific configuration when replicating from a MySQL on-premises primary instance. Replication configuration information such as the username, password, certificates, and keys are not stored in the instance metadata. The configuration information is used only to set up the replication connection and is stored by MySQL in a file named `master.info` in the data directory."
        }
      },
      "id": "DemoteMasterConfiguration",
      "type": "object"
    },
    "Empty": {
      "type": "object",
      "id": "Empty",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "properties": {}
    },
    "AvailableDatabaseVersion": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "The database version name. For MySQL 8.0, this string provides the database major and minor version."
        },
        "majorVersion": {
          "type": "string",
          "description": "The version's major version name."
        },
        "displayName": {
          "description": "The database version's display name.",
          "type": "string"
        }
      },
      "id": "AvailableDatabaseVersion",
      "description": "An available database version. It can be a major or a minor version."
    },
    "SqlInstancesResetReplicaSizeRequest": {
      "id": "SqlInstancesResetReplicaSizeRequest",
      "type": "object",
      "description": "Instance reset replica size request.",
      "properties": {
        "location": {
          "description": "Optional. Region of the Cloud SQL instance.",
          "type": "string"
        }
      }
    },
    "SqlInstancesVerifyExternalSyncSettingsRequest": {
      "type": "object",
      "properties": {
        "verifyReplicationOnly": {
          "description": "Optional. Flag to verify settings required by replication setup only",
          "type": "boolean"
        },
        "migrationType": {
          "type": "string",
          "description": "Optional. MigrationType configures the migration to use physical files or logical dump files. If not set, then the logical dump file configuration is used. Valid values are `LOGICAL` or `PHYSICAL`. Only applicable to MySQL.",
          "enumDescriptions": [
            "Default value is a logical dump file-based migration",
            "Logical dump file-based migration",
            "Physical file-based migration"
          ],
          "enum": [
            "MIGRATION_TYPE_UNSPECIFIED",
            "LOGICAL",
            "PHYSICAL"
          ]
        },
        "syncMode": {
          "enum": [
            "EXTERNAL_SYNC_MODE_UNSPECIFIED",
            "ONLINE",
            "OFFLINE"
          ],
          "enumDescriptions": [
            "Unknown external sync mode, will be defaulted to ONLINE mode",
            "Online external sync will set up replication after initial data external sync",
            "Offline external sync only dumps and loads a one-time snapshot of the primary instance's data"
          ],
          "description": "External sync mode",
          "type": "string"
        },
        "mysqlSyncConfig": {
          "$ref": "MySqlSyncConfig",
          "description": "Optional. MySQL-specific settings for start external sync."
        },
        "syncParallelLevel": {
          "type": "string",
          "enumDescriptions": [
            "Unknown sync parallel level. Will be defaulted to OPTIMAL.",
            "Minimal parallel level.",
            "Optimal parallel level.",
            "Maximum parallel level."
          ],
          "description": "Optional. Parallel level for initial data sync. Only applicable for PostgreSQL.",
          "enum": [
            "EXTERNAL_SYNC_PARALLEL_LEVEL_UNSPECIFIED",
            "MIN",
            "OPTIMAL",
            "MAX"
          ]
        },
        "verifyConnectionOnly": {
          "description": "Flag to enable verifying connection only",
          "type": "boolean"
        },
        "location": {
          "description": "Optional. Region of the Cloud SQL instance.",
          "type": "string"
        },
        "selectedObjects": {
          "description": "Optional. Migrate only the specified objects from the source instance. If this field is empty, then migrate all objects.",
          "items": {
            "$ref": "ExternalSyncSelectedObject"
          },
          "type": "array"
        }
      },
      "id": "SqlInstancesVerifyExternalSyncSettingsRequest"
    },
    "InstancesRotateEntraIdCertificateRequest": {
      "id": "InstancesRotateEntraIdCertificateRequest",
      "description": "Rotate Entra ID Certificate request.",
      "type": "object",
      "properties": {
        "rotateEntraIdCertificateContext": {
          "$ref": "RotateEntraIdCertificateContext",
          "description": "Optional. Contains details about the rotate Entra ID certificate operation."
        }
      }
    },
    "OperationError": {
      "type": "object",
      "properties": {
        "message": {
          "description": "Additional information about the error encountered.",
          "type": "string"
        },
        "kind": {
          "description": "This is always `sql#operationError`.",
          "type": "string"
        },
        "code": {
          "type": "string",
          "description": "Identifies the specific error that occurred."
        }
      },
      "id": "OperationError",
      "description": "Database instance operation error."
    },
    "InstancesCloneRequest": {
      "type": "object",
      "properties": {
        "cloneContext": {
          "description": "Contains details about the clone operation.",
          "$ref": "CloneContext"
        }
      },
      "id": "InstancesCloneRequest",
      "description": "Database instance clone request."
    },
    "PscAutoConnectionConfig": {
      "properties": {
        "status": {
          "description": "The connection status of the consumer endpoint.",
          "type": "string"
        },
        "instanceAutoDnsStatus": {
          "readOnly": true,
          "enum": [
            "AUTO_DNS_STATUS_UNSPECIFIED",
            "AUTO_DNS_OK",
            "AUTO_DNS_FAILED",
            "AUTO_DNS_UNKNOWN"
          ],
          "description": "Output only. The status of automated DNS provisioning.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified status. This means status is missing from dependency service.",
            "DNS provisioning is OK.",
            "DNS provisioning failed.",
            "DNS provisioning status is not recognized by Cloud SQL."
          ]
        },
        "writeEndpointAutoDnsStatus": {
          "enum": [
            "AUTO_DNS_STATUS_UNSPECIFIED",
            "AUTO_DNS_OK",
            "AUTO_DNS_FAILED",
            "AUTO_DNS_UNKNOWN"
          ],
          "enumDescriptions": [
            "Unspecified status. This means status is missing from dependency service.",
            "DNS provisioning is OK.",
            "DNS provisioning failed.",
            "DNS provisioning status is not recognized by Cloud SQL."
          ],
          "type": "string",
          "description": "Output only. The status of automated DNS provisioning for the write endpoint.",
          "readOnly": true
        },
        "ipAddress": {
          "type": "string",
          "description": "The IP address of the consumer endpoint."
        },
        "consumerNetwork": {
          "description": "Optional. The consumer network of this consumer endpoint. This must be a resource path that includes both the host project and the network name. For example, `projects/project1/global/networks/network1`. The consumer host project of this network might be different from the consumer service project.",
          "type": "string"
        },
        "serviceConnectionPolicy": {
          "readOnly": true,
          "description": "Output only. The service connection policy created automatically for the consumer network when `psc_auto_connection_policy_enabled` is true. It is in the format of: `projects/{project}/regions/{region}/serviceConnectionPolicies/{policy_id}` The `policy_id` is in format of `$NETWORK-$RANDOM`.",
          "type": "string"
        },
        "consumerNetworkStatus": {
          "type": "string",
          "description": "The connection policy status of the consumer network."
        },
        "serviceConnectionPolicyCreationResult": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The status of service connection policy creation."
        },
        "consumerProject": {
          "description": "Optional. This is the project ID of consumer service project of this consumer endpoint. Optional. This is only applicable if consumer_network is a shared vpc network.",
          "type": "string"
        }
      },
      "id": "PscAutoConnectionConfig",
      "type": "object",
      "description": "Settings for an automatically-setup Private Service Connect consumer endpoint that is used to connect to a Cloud SQL instance."
    },
    "BinLogCoordinates": {
      "id": "BinLogCoordinates",
      "description": "Binary log coordinates.",
      "type": "object",
      "properties": {
        "binLogFileName": {
          "type": "string",
          "description": "Name of the binary log file for a Cloud SQL instance."
        },
        "binLogPosition": {
          "description": "Position (offset) within the binary log file.",
          "type": "string",
          "format": "int64"
        },
        "kind": {
          "type": "string",
          "description": "This is always `sql#binLogCoordinates`."
        }
      }
    },
    "GenerateEphemeralCertResponse": {
      "type": "object",
      "properties": {
        "ephemeralCert": {
          "description": "Generated cert",
          "$ref": "SslCert"
        }
      },
      "description": "Ephemeral certificate creation request.",
      "id": "GenerateEphemeralCertResponse"
    },
    "SqlScheduledMaintenance": {
      "description": "Any scheduled maintenance for this instance.",
      "properties": {
        "startTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "The start time of any upcoming scheduled maintenance for this instance."
        },
        "scheduleDeadlineTime": {
          "description": "Maintenance cannot be rescheduled to start beyond this deadline.",
          "format": "google-datetime",
          "type": "string"
        },
        "canDefer": {
          "type": "boolean",
          "deprecated": true
        },
        "canReschedule": {
          "type": "boolean",
          "description": "If the scheduled maintenance can be rescheduled."
        }
      },
      "type": "object",
      "id": "SqlScheduledMaintenance"
    },
    "PscConfig": {
      "type": "object",
      "description": "PSC settings for a Cloud SQL instance.",
      "id": "PscConfig",
      "properties": {
        "pscAutoConnections": {
          "description": "Optional. The list of settings for requested Private Service Connect consumer endpoints that can be used to connect to this Cloud SQL instance.",
          "type": "array",
          "items": {
            "$ref": "PscAutoConnectionConfig"
          }
        },
        "pscEnabled": {
          "description": "Whether PSC connectivity is enabled for this instance.",
          "type": "boolean"
        },
        "networkAttachmentUri": {
          "type": "string",
          "description": "Optional. The network attachment of the consumer network that the Private Service Connect enabled Cloud SQL instance is authorized to connect using the PSC interface. format: projects/PROJECT/regions/REGION/networkAttachments/ID"
        },
        "allowedConsumerProjects": {
          "description": "Optional. The list of consumer projects that are allow-listed for PSC connections to this instance. This instance can be connected to with PSC from any network in these projects. Each consumer project in this list may be represented by a project number (numeric) or by a project id (alphanumeric).",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "pscAutoConnectionPolicyEnabled": {
          "description": "Optional. Whether to set up the PSC service connection policy automatically.",
          "type": "boolean"
        },
        "pscAutoDnsEnabled": {
          "description": "Optional. Indicates whether Private Service Connect DNS automation is enabled for this instance. When enabled, Cloud SQL provisions a universal DNS record across all networks configured with Private Service Connect auto-connections. This will default to true for new instances when Private Service Connect is enabled.",
          "type": "boolean"
        },
        "pscWriteEndpointDnsEnabled": {
          "type": "boolean",
          "description": "Optional. Indicates whether Private Service Connect write endpoint DNS automation is enabled for this instance. When enabled, Cloud SQL provisions a universal global DNS record across all networks configured with Private Service Connect auto-connections that points to the cluster primary instance. This feature is only supported for Enterprise Plus edition. This will default to true for new enterprise plus instances when `psc_auto_dns_enabled` is enabled."
        }
      }
    },
    "Metadata": {
      "type": "object",
      "properties": {
        "sqlStatementExecutionTime": {
          "description": "The time taken to execute the SQL statements.",
          "type": "string",
          "format": "google-duration"
        }
      },
      "id": "Metadata",
      "description": "The additional metadata information regarding the execution of the SQL statements."
    },
    "InstanceReference": {
      "type": "object",
      "description": "Reference to another Cloud SQL instance.",
      "properties": {
        "project": {
          "description": "The project ID of the Cloud SQL instance being referenced. The default is the same project ID as the instance references it.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "The name of the Cloud SQL instance being referenced. This does not include the project ID."
        },
        "region": {
          "type": "string",
          "description": "The region of the Cloud SQL instance being referenced."
        }
      },
      "id": "InstanceReference"
    },
    "UsersListResponse": {
      "type": "object",
      "id": "UsersListResponse",
      "description": "User list response.",
      "properties": {
        "nextPageToken": {
          "deprecated": true,
          "description": "Unused.",
          "type": "string"
        },
        "items": {
          "items": {
            "$ref": "User"
          },
          "description": "List of user resources in the instance.",
          "type": "array"
        },
        "kind": {
          "description": "This is always *sql#usersList*.",
          "type": "string"
        }
      }
    },
    "PreCheckMajorVersionUpgradeContext": {
      "description": "Pre-check major version upgrade context.",
      "properties": {
        "kind": {
          "description": "Optional. This is always `sql#preCheckMajorVersionUpgradeContext`.",
          "type": "string"
        },
        "preCheckResponse": {
          "type": "array",
          "readOnly": true,
          "description": "Output only. The responses from the precheck operation.",
          "items": {
            "$ref": "PreCheckResponse"
          }
        },
        "targetDatabaseVersion": {
          "enum": [
            "SQL_DATABASE_VERSION_UNSPECIFIED",
            "MYSQL_5_1",
            "MYSQL_5_5",
            "MYSQL_5_6",
            "MYSQL_5_7",
            "MYSQL_8_0",
            "MYSQL_8_0_18",
            "MYSQL_8_0_26",
            "MYSQL_8_0_27",
            "MYSQL_8_0_28",
            "MYSQL_8_0_29",
            "MYSQL_8_0_30",
            "MYSQL_8_0_31",
            "MYSQL_8_0_32",
            "MYSQL_8_0_33",
            "MYSQL_8_0_34",
            "MYSQL_8_0_35",
            "MYSQL_8_0_36",
            "MYSQL_8_0_37",
            "MYSQL_8_0_39",
            "MYSQL_8_0_40",
            "MYSQL_8_0_41",
            "MYSQL_8_0_42",
            "MYSQL_8_0_43",
            "MYSQL_8_0_44",
            "MYSQL_8_0_45",
            "MYSQL_8_0_46",
            "MYSQL_8_4",
            "MYSQL_9_7",
            "SQLSERVER_2017_STANDARD",
            "SQLSERVER_2017_ENTERPRISE",
            "SQLSERVER_2017_EXPRESS",
            "SQLSERVER_2017_WEB",
            "POSTGRES_9_6",
            "POSTGRES_10",
            "POSTGRES_11",
            "POSTGRES_12",
            "POSTGRES_13",
            "POSTGRES_14",
            "POSTGRES_15",
            "POSTGRES_16",
            "POSTGRES_17",
            "POSTGRES_18",
            "POSTGRES_19",
            "POSTGRES_20",
            "SQLSERVER_2019_STANDARD",
            "SQLSERVER_2019_ENTERPRISE",
            "SQLSERVER_2019_EXPRESS",
            "SQLSERVER_2019_WEB",
            "SQLSERVER_2022_STANDARD",
            "SQLSERVER_2022_ENTERPRISE",
            "SQLSERVER_2022_EXPRESS",
            "SQLSERVER_2022_WEB",
            "SQLSERVER_2025_STANDARD",
            "SQLSERVER_2025_ENTERPRISE",
            "SQLSERVER_2025_EXPRESS"
          ],
          "description": "Required. The target database version to upgrade to.",
          "enumDeprecated": [
            false,
            true,
            true,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            true,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false
          ],
          "type": "string",
          "enumDescriptions": [
            "This is an unknown database version.",
            "The database version is MySQL 5.1.",
            "The database version is MySQL 5.5.",
            "The database version is MySQL 5.6.",
            "The database version is MySQL 5.7.",
            "The database version is MySQL 8.",
            "The database major version is MySQL 8.0 and the minor version is 18.",
            "The database major version is MySQL 8.0 and the minor version is 26.",
            "The database major version is MySQL 8.0 and the minor version is 27.",
            "The database major version is MySQL 8.0 and the minor version is 28.",
            "The database major version is MySQL 8.0 and the minor version is 29.",
            "The database major version is MySQL 8.0 and the minor version is 30.",
            "The database major version is MySQL 8.0 and the minor version is 31.",
            "The database major version is MySQL 8.0 and the minor version is 32.",
            "The database major version is MySQL 8.0 and the minor version is 33.",
            "The database major version is MySQL 8.0 and the minor version is 34.",
            "The database major version is MySQL 8.0 and the minor version is 35.",
            "The database major version is MySQL 8.0 and the minor version is 36.",
            "The database major version is MySQL 8.0 and the minor version is 37.",
            "The database major version is MySQL 8.0 and the minor version is 39.",
            "The database major version is MySQL 8.0 and the minor version is 40.",
            "The database major version is MySQL 8.0 and the minor version is 41.",
            "The database major version is MySQL 8.0 and the minor version is 42.",
            "The database major version is MySQL 8.0 and the minor version is 43.",
            "The database major version is MySQL 8.0 and the minor version is 44.",
            "The database major version is MySQL 8.0 and the minor version is 45.",
            "The database major version is MySQL 8.0 and the minor version is 46.",
            "The database version is MySQL 8.4.",
            "The database version is MySQL 9.7.",
            "The database version is SQL Server 2017 Standard.",
            "The database version is SQL Server 2017 Enterprise.",
            "The database version is SQL Server 2017 Express.",
            "The database version is SQL Server 2017 Web.",
            "The database version is PostgreSQL 9.6.",
            "The database version is PostgreSQL 10.",
            "The database version is PostgreSQL 11.",
            "The database version is PostgreSQL 12.",
            "The database version is PostgreSQL 13.",
            "The database version is PostgreSQL 14.",
            "The database version is PostgreSQL 15.",
            "The database version is PostgreSQL 16.",
            "The database version is PostgreSQL 17.",
            "The database version is PostgreSQL 18.",
            "The database version is PostgreSQL 19.",
            "The database version is PostgreSQL 20.",
            "The database version is SQL Server 2019 Standard.",
            "The database version is SQL Server 2019 Enterprise.",
            "The database version is SQL Server 2019 Express.",
            "The database version is SQL Server 2019 Web.",
            "The database version is SQL Server 2022 Standard.",
            "The database version is SQL Server 2022 Enterprise.",
            "The database version is SQL Server 2022 Express.",
            "The database version is SQL Server 2022 Web.",
            "The database version is SQL Server 2025 Standard.",
            "The database version is SQL Server 2025 Enterprise.",
            "The database version is SQL Server 2025 Express."
          ]
        }
      },
      "id": "PreCheckMajorVersionUpgradeContext",
      "type": "object"
    },
    "SslCertsCreateEphemeralRequest": {
      "type": "object",
      "properties": {
        "public_key": {
          "description": "PEM encoded public key to include in the signed certificate.",
          "type": "string"
        },
        "access_token": {
          "type": "string",
          "description": "Access token to include in the signed certificate."
        }
      },
      "id": "SslCertsCreateEphemeralRequest",
      "description": "SslCerts create ephemeral certificate request."
    },
    "InstancesDemoteRequest": {
      "description": "This request is used to demote an existing standalone instance to be a Cloud SQL read replica for an external database server.",
      "properties": {
        "demoteContext": {
          "$ref": "DemoteContext",
          "description": "Required. This context is used to demote an existing standalone instance to be a Cloud SQL read replica for an external database server."
        }
      },
      "type": "object",
      "id": "InstancesDemoteRequest"
    },
    "ConnectionPoolConfig": {
      "id": "ConnectionPoolConfig",
      "description": "The managed connection pooling configuration.",
      "type": "object",
      "properties": {
        "flags": {
          "items": {
            "$ref": "ConnectionPoolFlags"
          },
          "type": "array",
          "description": "Optional. List of connection pool configuration flags."
        },
        "connectionPoolingEnabled": {
          "type": "boolean",
          "description": "Whether managed connection pooling is enabled."
        },
        "poolerCount": {
          "readOnly": true,
          "description": "Output only. Number of connection poolers.",
          "format": "int32",
          "type": "integer"
        }
      }
    },
    "SyncFlags": {
      "id": "SyncFlags",
      "type": "object",
      "properties": {
        "name": {
          "description": "The name of the flag.",
          "type": "string"
        },
        "value": {
          "description": "The value of the flag. This field must be omitted if the flag doesn't take a value.",
          "type": "string"
        }
      },
      "description": "Initial sync flags for certain Cloud SQL APIs. Currently used for the MySQL external server initial dump."
    },
    "InstancesListResponse": {
      "properties": {
        "kind": {
          "description": "This is always `sql#instancesList`.",
          "type": "string"
        },
        "nextPageToken": {
          "type": "string",
          "description": "The continuation token, used to page through large result sets. Provide this value in a subsequent request to return the next page of results."
        },
        "warnings": {
          "type": "array",
          "items": {
            "$ref": "ApiWarning"
          },
          "description": "List of warnings that occurred while handling the request."
        },
        "items": {
          "description": "List of database instance resources.",
          "items": {
            "$ref": "DatabaseInstance"
          },
          "type": "array"
        }
      },
      "id": "InstancesListResponse",
      "description": "Database instances list response.",
      "type": "object"
    },
    "ConnectionPoolFlags": {
      "properties": {
        "value": {
          "description": "Required. The value of the flag. Boolean flags are set to `on` for true and `off` for false. This field must be omitted if the flag doesn't take a value.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Required. The name of the flag."
        }
      },
      "id": "ConnectionPoolFlags",
      "type": "object",
      "description": "Connection pool flags for Cloud SQL instances managed connection pool configuration."
    },
    "BackupRunsListResponse": {
      "type": "object",
      "id": "BackupRunsListResponse",
      "description": "Backup run list results.",
      "properties": {
        "items": {
          "description": "A list of backup runs in reverse chronological order of the enqueued time.",
          "items": {
            "$ref": "BackupRun"
          },
          "type": "array"
        },
        "kind": {
          "type": "string",
          "description": "This is always `sql#backupRunsList`."
        },
        "nextPageToken": {
          "description": "The continuation token, used to page through large result sets. Provide this value in a subsequent request to return the next page of results.",
          "type": "string"
        }
      }
    },
    "IpMapping": {
      "type": "object",
      "id": "IpMapping",
      "properties": {
        "ipAddress": {
          "type": "string",
          "description": "The IP address assigned."
        },
        "timeToRetire": {
          "type": "string",
          "format": "google-datetime",
          "description": "The due time for this IP to be retired in [RFC 3339](https://tools.ietf.org/html/rfc3339) format, for example `2012-11-15T16:19:00.094Z`. This field is only available when the IP is scheduled to be retired."
        },
        "type": {
          "type": "string",
          "enumDescriptions": [
            "This is an unknown IP address type.",
            "IP address the customer is supposed to connect to. Usually this is the load balancer's IP address",
            "Source IP address of the connection a read replica establishes to its external primary instance. This IP address can be allowlisted by the customer in case it has a firewall that filters incoming connection to its on premises primary instance.",
            "Private IP used when using private IPs and network peering.",
            "V1 IP of a migrated instance. We want the user to decommission this IP as soon as the migration is complete. Note: V1 instances with V1 ip addresses will be counted as PRIMARY."
          ],
          "enum": [
            "SQL_IP_ADDRESS_TYPE_UNSPECIFIED",
            "PRIMARY",
            "OUTGOING",
            "PRIVATE",
            "MIGRATED_1ST_GEN"
          ],
          "description": "The type of this IP address. A `PRIMARY` address is a public address that can accept incoming connections. A `PRIVATE` address is a private address that can accept incoming connections. An `OUTGOING` address is the source address of connections originating from the instance, if supported."
        }
      },
      "description": "Database instance IP mapping"
    },
    "SqlActiveDirectoryConfig": {
      "properties": {
        "organizationalUnit": {
          "type": "string",
          "description": "Optional. The organizational unit distinguished name. This is the full hierarchical path to the organizational unit."
        },
        "kind": {
          "description": "This is always sql#activeDirectoryConfig.",
          "type": "string"
        },
        "domain": {
          "description": "The name of the domain (e.g., mydomain.com).",
          "type": "string"
        },
        "dnsServers": {
          "description": "Optional. Domain controller IPv4 addresses used to bootstrap Active Directory.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "adminCredentialSecretName": {
          "type": "string",
          "description": "Optional. The secret manager key storing the administrator credential. (e.g., projects/{project}/secrets/{secret})."
        },
        "mode": {
          "enumDescriptions": [
            "Unspecified mode.",
            "Managed Active Directory mode. This is the fallback option to maintain backward compatibility.",
            "Deprecated: Use CUSTOMER_MANAGED_ACTIVE_DIRECTORY instead.",
            "Customer-managed Active Directory mode."
          ],
          "description": "Optional. The mode of the Active Directory configuration.",
          "enum": [
            "ACTIVE_DIRECTORY_MODE_UNSPECIFIED",
            "MANAGED_ACTIVE_DIRECTORY",
            "SELF_MANAGED_ACTIVE_DIRECTORY",
            "CUSTOMER_MANAGED_ACTIVE_DIRECTORY"
          ],
          "type": "string",
          "enumDeprecated": [
            false,
            false,
            true,
            false
          ]
        }
      },
      "description": "Active Directory configuration, relevant only for Cloud SQL for SQL Server.",
      "type": "object",
      "id": "SqlActiveDirectoryConfig"
    },
    "DemoteMasterMySqlReplicaConfiguration": {
      "type": "object",
      "id": "DemoteMasterMySqlReplicaConfiguration",
      "properties": {
        "caCertificate": {
          "type": "string",
          "description": "PEM representation of the trusted CA's x509 certificate."
        },
        "clientCertificate": {
          "description": "PEM representation of the replica's x509 certificate.",
          "type": "string"
        },
        "clientKey": {
          "description": "PEM representation of the replica's private key. The corresponding public key is encoded in the client's certificate. The format of the replica's private key can be either PKCS #1 or PKCS #8.",
          "type": "string"
        },
        "username": {
          "description": "The username for the replication connection.",
          "type": "string"
        },
        "password": {
          "description": "The password for the replication connection.",
          "type": "string"
        },
        "kind": {
          "description": "This is always `sql#demoteMasterMysqlReplicaConfiguration`.",
          "type": "string"
        }
      },
      "description": "Read-replica configuration specific to MySQL databases."
    },
    "SqlServerAuditConfig": {
      "type": "object",
      "description": "SQL Server specific audit configuration.",
      "properties": {
        "bucket": {
          "description": "The name of the destination bucket (e.g., gs://mybucket).",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "description": "This is always sql#sqlServerAuditConfig"
        },
        "retentionInterval": {
          "description": "How long to keep generated audit files.",
          "type": "string",
          "format": "google-duration"
        },
        "uploadInterval": {
          "format": "google-duration",
          "type": "string",
          "description": "How often to upload generated audit files."
        }
      },
      "id": "SqlServerAuditConfig"
    },
    "TiersListResponse": {
      "description": "Tiers list response.",
      "id": "TiersListResponse",
      "properties": {
        "items": {
          "description": "List of tiers.",
          "type": "array",
          "items": {
            "$ref": "Tier"
          }
        },
        "kind": {
          "description": "This is always `sql#tiersList`.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "ConfigDiff": {
      "description": "Represents a specific configuration difference between Blue and Green instances.",
      "id": "ConfigDiff",
      "type": "object",
      "properties": {
        "sourceValue": {
          "description": "Output only. The value on the source instance.",
          "readOnly": true,
          "type": "string"
        },
        "targetValue": {
          "type": "string",
          "description": "Output only. The value on the target instance.",
          "readOnly": true
        },
        "field": {
          "type": "string",
          "description": "Output only. The name of the field that differs, fully-qualified. Example: settings.tier",
          "readOnly": true
        }
      }
    },
    "SelectedObjects": {
      "id": "SelectedObjects",
      "type": "object",
      "description": "A list of objects that the user selects for replication from an external source instance.",
      "properties": {
        "database": {
          "type": "string",
          "description": "Required. The name of the database to migrate."
        }
      }
    },
    "SqlInstancesGetLatestRecoveryTimeResponse": {
      "description": "Instance get latest recovery time response.",
      "properties": {
        "kind": {
          "description": "This is always `sql#getLatestRecoveryTime`.",
          "type": "string"
        },
        "latestRecoveryTime": {
          "description": "Timestamp, identifies the latest recovery time of the source instance.",
          "format": "google-datetime",
          "type": "string"
        },
        "earliestRecoveryTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Timestamp, identifies the earliest recovery time of the source instance."
        }
      },
      "id": "SqlInstancesGetLatestRecoveryTimeResponse",
      "type": "object"
    },
    "SslCertsListResponse": {
      "type": "object",
      "description": "SslCerts list response.",
      "properties": {
        "kind": {
          "description": "This is always `sql#sslCertsList`.",
          "type": "string"
        },
        "items": {
          "type": "array",
          "description": "List of client certificates for the instance.",
          "items": {
            "$ref": "SslCert"
          }
        }
      },
      "id": "SslCertsListResponse"
    },
    "AdvancedMachineFeatures": {
      "properties": {
        "threadsPerCore": {
          "format": "int32",
          "type": "integer",
          "description": "The number of threads per physical core."
        }
      },
      "type": "object",
      "description": "Specifies options for controlling advanced machine features.",
      "id": "AdvancedMachineFeatures"
    },
    "RotateServerCertificateContext": {
      "type": "object",
      "properties": {
        "kind": {
          "description": "Optional. This is always `sql#rotateServerCertificateContext`.",
          "type": "string"
        },
        "nextVersion": {
          "description": "Optional. The fingerprint of the next version to be rotated to. If left unspecified, will be rotated to the most recently added server certificate version.",
          "type": "string"
        }
      },
      "description": "Instance rotate server certificate context.",
      "id": "RotateServerCertificateContext"
    },
    "SwitchoverBlueGreenDeploymentRequest": {
      "description": "Request message for switching over a `BlueGreenDeployment` resource.",
      "properties": {},
      "type": "object",
      "id": "SwitchoverBlueGreenDeploymentRequest"
    },
    "SslCertsInsertResponse": {
      "description": "SslCert insert response.",
      "properties": {
        "clientCert": {
          "description": "The new client certificate and private key.",
          "$ref": "SslCertDetail"
        },
        "operation": {
          "description": "The operation to track the ssl certs insert request.",
          "$ref": "Operation"
        },
        "kind": {
          "description": "This is always `sql#sslCertsInsert`.",
          "type": "string"
        },
        "serverCaCert": {
          "description": "The server Certificate Authority's certificate. If this is missing you can force a new one to be generated by calling resetSslConfig method on instances resource.",
          "$ref": "SslCert"
        }
      },
      "type": "object",
      "id": "SslCertsInsertResponse"
    },
    "SslCertDetail": {
      "type": "object",
      "id": "SslCertDetail",
      "description": "SslCertDetail.",
      "properties": {
        "certInfo": {
          "$ref": "SslCert",
          "description": "The public information about the cert."
        },
        "certPrivateKey": {
          "type": "string",
          "description": "The private key for the client cert, in pem format. Keep private in order to protect your security."
        }
      }
    },
    "BackupContext": {
      "properties": {
        "name": {
          "description": "The name of the backup. Format: projects/{project}/backups/{backup}",
          "type": "string"
        },
        "backupId": {
          "format": "int64",
          "type": "string",
          "description": "The identifier of the backup."
        },
        "kind": {
          "description": "This is always `sql#backupContext`.",
          "type": "string"
        }
      },
      "description": "Backup context.",
      "type": "object",
      "id": "BackupContext"
    },
    "LocationPreference": {
      "type": "object",
      "description": "Preferred location. This specifies where a Cloud SQL instance is located. Note that if the preferred location is not available, the instance will be located as close as possible within the region. Only one location may be specified.",
      "properties": {
        "zone": {
          "type": "string",
          "description": "The preferred Compute Engine zone (for example: us-central1-a, us-central1-b, etc.). WARNING: Changing this might restart the instance."
        },
        "secondaryZone": {
          "type": "string",
          "description": "The preferred Compute Engine zone for the secondary/failover (for example: us-central1-a, us-central1-b, etc.). To disable this field, set it to 'no_secondary_zone'."
        },
        "kind": {
          "type": "string",
          "description": "This is always `sql#locationPreference`."
        },
        "followGaeApplication": {
          "deprecated": true,
          "type": "string",
          "description": "The App Engine application to follow, it must be in the same region as the Cloud SQL instance. WARNING: Changing this might restart the instance."
        }
      },
      "id": "LocationPreference"
    },
    "SqlExternalSyncSettingError": {
      "id": "SqlExternalSyncSettingError",
      "description": "External primary instance migration setting error/warning.",
      "type": "object",
      "properties": {
        "kind": {
          "description": "Can be `sql#externalSyncSettingError` or `sql#externalSyncSettingWarning`.",
          "type": "string"
        },
        "detail": {
          "description": "Additional information about the error encountered.",
          "type": "string"
        },
        "type": {
          "enum": [
            "SQL_EXTERNAL_SYNC_SETTING_ERROR_TYPE_UNSPECIFIED",
            "CONNECTION_FAILURE",
            "BINLOG_NOT_ENABLED",
            "INCOMPATIBLE_DATABASE_VERSION",
            "REPLICA_ALREADY_SETUP",
            "INSUFFICIENT_PRIVILEGE",
            "UNSUPPORTED_MIGRATION_TYPE",
            "NO_PGLOGICAL_INSTALLED",
            "PGLOGICAL_NODE_ALREADY_EXISTS",
            "INVALID_WAL_LEVEL",
            "INVALID_SHARED_PRELOAD_LIBRARY",
            "INSUFFICIENT_MAX_REPLICATION_SLOTS",
            "INSUFFICIENT_MAX_WAL_SENDERS",
            "INSUFFICIENT_MAX_WORKER_PROCESSES",
            "UNSUPPORTED_EXTENSIONS",
            "INVALID_RDS_LOGICAL_REPLICATION",
            "INVALID_LOGGING_SETUP",
            "INVALID_DB_PARAM",
            "UNSUPPORTED_GTID_MODE",
            "SQLSERVER_AGENT_NOT_RUNNING",
            "UNSUPPORTED_TABLE_DEFINITION",
            "UNSUPPORTED_DEFINER",
            "SQLSERVER_SERVERNAME_MISMATCH",
            "PRIMARY_ALREADY_SETUP",
            "UNSUPPORTED_BINLOG_FORMAT",
            "BINLOG_RETENTION_SETTING",
            "UNSUPPORTED_STORAGE_ENGINE",
            "LIMITED_SUPPORT_TABLES",
            "EXISTING_DATA_IN_REPLICA",
            "MISSING_OPTIONAL_PRIVILEGES",
            "RISKY_BACKUP_ADMIN_PRIVILEGE",
            "INSUFFICIENT_GCS_PERMISSIONS",
            "INVALID_FILE_INFO",
            "UNSUPPORTED_DATABASE_SETTINGS",
            "MYSQL_PARALLEL_IMPORT_INSUFFICIENT_PRIVILEGE",
            "LOCAL_INFILE_OFF",
            "TURN_ON_PITR_AFTER_PROMOTE",
            "INCOMPATIBLE_DATABASE_MINOR_VERSION",
            "SOURCE_MAX_SUBSCRIPTIONS",
            "UNABLE_TO_VERIFY_DEFINERS",
            "SUBSCRIPTION_CALCULATION_STATUS",
            "PG_SUBSCRIPTION_COUNT",
            "PG_SYNC_PARALLEL_LEVEL",
            "INSUFFICIENT_DISK_SIZE",
            "INSUFFICIENT_MACHINE_TIER",
            "UNSUPPORTED_EXTENSIONS_NOT_MIGRATED",
            "EXTENSIONS_NOT_MIGRATED",
            "PG_CRON_FLAG_ENABLED_IN_REPLICA",
            "EXTENSIONS_NOT_ENABLED_IN_REPLICA",
            "UNSUPPORTED_COLUMNS",
            "USERS_NOT_CREATED_IN_REPLICA",
            "UNSUPPORTED_SYSTEM_OBJECTS",
            "UNSUPPORTED_TABLES_WITH_REPLICA_IDENTITY",
            "SELECTED_OBJECTS_NOT_EXIST_ON_SOURCE",
            "PSC_ONLY_INSTANCE_WITH_NO_NETWORK_ATTACHMENT_URI",
            "SELECTED_OBJECTS_REFERENCE_UNSELECTED_OBJECTS",
            "PROMPT_DELETE_EXISTING",
            "WILL_DELETE_EXISTING",
            "PG_DDL_REPLICATION_INSUFFICIENT_PRIVILEGE",
            "WRITABLE_DESTINATION_REPLICA_RECREATION_DOWNTIME",
            "WRITABLE_DESTINATION_STORAGE_AUTO_INCREASE_DISABLED"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "The replication user is missing privileges that are required.",
            "Unsupported migration type.",
            "No pglogical extension installed on databases, applicable for postgres.",
            "pglogical node already exists on databases, applicable for postgres.",
            "The value of parameter wal_level is not set to logical.",
            "The value of parameter shared_preload_libraries does not include pglogical.",
            "The value of parameter max_replication_slots is not sufficient.",
            "The value of parameter max_wal_senders is not sufficient.",
            "The value of parameter max_worker_processes is not sufficient.",
            "Extensions installed are either not supported or having unsupported versions",
            "The value of parameter rds.logical_replication is not set to 1.",
            "The primary instance logging setup doesn't allow EM sync.",
            "The primary instance database parameter setup doesn't allow EM sync.",
            "The gtid_mode is not supported, applicable for MySQL.",
            "SQL Server Agent is not running.",
            "The table definition is not support due to missing primary key or replica identity, applicable for postgres. Note that this is a warning and won't block the migration.",
            "The customer has a definer that will break EM setup.",
            "SQL Server @@SERVERNAME does not match actual host name.",
            "The primary instance has been setup and will fail the setup.",
            "The primary instance has unsupported binary log format.",
            "The primary instance's binary log retention setting.",
            "The primary instance has tables with unsupported storage engine.",
            "Source has tables with limited support eg: PostgreSQL tables without primary keys.",
            "The replica instance contains existing data.",
            "The replication user is missing privileges that are optional.",
            "Additional BACKUP_ADMIN privilege is granted to the replication user which may lock source MySQL 8 instance for DDLs during initial sync.",
            "The Cloud Storage bucket is missing necessary permissions.",
            "The Cloud Storage bucket has an error in the file or contains invalid file information.",
            "The source instance has unsupported database settings for migration.",
            "The replication user is missing parallel import specific privileges. (e.g. LOCK TABLES) for MySQL.",
            "The global variable local_infile is off on external server replica.",
            "This code instructs customers to turn on point-in-time recovery manually for the instance after promoting the Cloud SQL for PostgreSQL instance.",
            "The minor version of replica database is incompatible with the source.",
            "This warning message indicates that Cloud SQL uses the maximum number of subscriptions to migrate data from the source to the destination.",
            "Unable to verify definers on the source for MySQL.",
            "If a time out occurs while the subscription counts are calculated, then this value is set to 1. Otherwise, this value is set to 2.",
            "Count of subscriptions needed to sync source data for PostgreSQL database.",
            "Final parallel level that is used to do migration.",
            "The disk size of the replica instance is smaller than the data size of the source instance.",
            "The data size of the source instance is greater than 1 TB, the number of cores of the replica instance is less than 8, and the memory of the replica is less than 32 GB.",
            "The warning message indicates the unsupported extensions will not be migrated to the destination.",
            "The warning message indicates the pg_cron extension and settings will not be migrated to the destination.",
            "The error message indicates that pg_cron flags are enabled on the destination which is not supported during the migration.",
            "This error message indicates that the specified extensions are not enabled on destination instance. For example, before you can migrate data to the destination instance, you must enable the PGAudit extension on the instance.",
            "The source database has generated columns that can't be migrated. Please change them to regular columns before migration.",
            "The source database has users that aren't created in the replica. First, create all users, which are in the pg_user_mappings table of the source database, in the destination instance. Then, perform the migration.",
            "The selected objects include system objects that aren't supported for migration.",
            "The source database has tables with the FULL or NOTHING replica identity. Before starting your migration, either remove the identity or change it to DEFAULT. Note that this is an error and will block the migration.",
            "The selected objects don't exist on the source instance.",
            "PSC only destination instance does not have a network attachment URI.",
            "Selected objects reference unselected objects. Based on their object type (foreign key constraint or view), selected objects will fail during migration.",
            "The migration will delete existing data in the replica; set replica_overwrite_enabled in the request to acknowledge this. This is an error. MySQL only.",
            "The migration will delete existing data in the replica; replica_overwrite_enabled was set in the request acknowledging this. This is a warning rather than an error. MySQL only.",
            "The replication user is missing specific privileges to setup DDL replication. (e.g. CREATE EVENT TRIGGER, CREATE SCHEMA) for PostgreSQL.",
            "Read replicas of the Writable Destination instance will be recreated after external synchronization is complete, causing downtime on read replicas.",
            "A warning that disk storage auto increase is disabled on the destination instance for a Writable Destination migration."
          ],
          "type": "string",
          "description": "Identifies the specific error that occurred."
        }
      }
    },
    "BackupRetentionSettings": {
      "description": "We currently only support backup retention by specifying the number of backups we will retain.",
      "properties": {
        "retainedBackups": {
          "type": "integer",
          "description": "Depending on the value of retention_unit, this is used to determine if a backup needs to be deleted. If retention_unit is 'COUNT', we will retain this many backups.",
          "format": "int32"
        },
        "retentionUnit": {
          "type": "string",
          "enum": [
            "RETENTION_UNIT_UNSPECIFIED",
            "COUNT"
          ],
          "description": "The unit that 'retained_backups' represents.",
          "enumDescriptions": [
            "Backup retention unit is unspecified, will be treated as COUNT.",
            "Retention will be by count, eg. \"retain the most recent 7 backups\"."
          ]
        }
      },
      "type": "object",
      "id": "BackupRetentionSettings"
    },
    "RotateEntraIdCertificateContext": {
      "description": "Instance rotate Entra ID certificate context.",
      "properties": {
        "kind": {
          "description": "Optional. This is always `sql#rotateEntraIdCertificateContext`.",
          "type": "string"
        },
        "nextVersion": {
          "description": "Optional. The fingerprint of the next version to be rotated to. If left unspecified, will be rotated to the most recently added Entra ID certificate version.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "RotateEntraIdCertificateContext"
    },
    "ConnectSettings": {
      "properties": {
        "databaseVersion": {
          "type": "string",
          "enum": [
            "SQL_DATABASE_VERSION_UNSPECIFIED",
            "MYSQL_5_1",
            "MYSQL_5_5",
            "MYSQL_5_6",
            "MYSQL_5_7",
            "MYSQL_8_0",
            "MYSQL_8_0_18",
            "MYSQL_8_0_26",
            "MYSQL_8_0_27",
            "MYSQL_8_0_28",
            "MYSQL_8_0_29",
            "MYSQL_8_0_30",
            "MYSQL_8_0_31",
            "MYSQL_8_0_32",
            "MYSQL_8_0_33",
            "MYSQL_8_0_34",
            "MYSQL_8_0_35",
            "MYSQL_8_0_36",
            "MYSQL_8_0_37",
            "MYSQL_8_0_39",
            "MYSQL_8_0_40",
            "MYSQL_8_0_41",
            "MYSQL_8_0_42",
            "MYSQL_8_0_43",
            "MYSQL_8_0_44",
            "MYSQL_8_0_45",
            "MYSQL_8_0_46",
            "MYSQL_8_4",
            "MYSQL_9_7",
            "SQLSERVER_2017_STANDARD",
            "SQLSERVER_2017_ENTERPRISE",
            "SQLSERVER_2017_EXPRESS",
            "SQLSERVER_2017_WEB",
            "POSTGRES_9_6",
            "POSTGRES_10",
            "POSTGRES_11",
            "POSTGRES_12",
            "POSTGRES_13",
            "POSTGRES_14",
            "POSTGRES_15",
            "POSTGRES_16",
            "POSTGRES_17",
            "POSTGRES_18",
            "POSTGRES_19",
            "POSTGRES_20",
            "SQLSERVER_2019_STANDARD",
            "SQLSERVER_2019_ENTERPRISE",
            "SQLSERVER_2019_EXPRESS",
            "SQLSERVER_2019_WEB",
            "SQLSERVER_2022_STANDARD",
            "SQLSERVER_2022_ENTERPRISE",
            "SQLSERVER_2022_EXPRESS",
            "SQLSERVER_2022_WEB",
            "SQLSERVER_2025_STANDARD",
            "SQLSERVER_2025_ENTERPRISE",
            "SQLSERVER_2025_EXPRESS"
          ],
          "description": "The database engine type and version. The `databaseVersion` field cannot be changed after instance creation. MySQL instances: `MYSQL_8_0`, `MYSQL_5_7` (default), or `MYSQL_5_6`. PostgreSQL instances: `POSTGRES_9_6`, `POSTGRES_10`, `POSTGRES_11` or `POSTGRES_12` (default), `POSTGRES_13`, or `POSTGRES_14`. SQL Server instances: `SQLSERVER_2017_STANDARD` (default), `SQLSERVER_2017_ENTERPRISE`, `SQLSERVER_2017_EXPRESS`, `SQLSERVER_2017_WEB`, `SQLSERVER_2019_STANDARD`, `SQLSERVER_2019_ENTERPRISE`, `SQLSERVER_2019_EXPRESS`, or `SQLSERVER_2019_WEB`.",
          "enumDeprecated": [
            false,
            true,
            true,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            true,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false
          ],
          "enumDescriptions": [
            "This is an unknown database version.",
            "The database version is MySQL 5.1.",
            "The database version is MySQL 5.5.",
            "The database version is MySQL 5.6.",
            "The database version is MySQL 5.7.",
            "The database version is MySQL 8.",
            "The database major version is MySQL 8.0 and the minor version is 18.",
            "The database major version is MySQL 8.0 and the minor version is 26.",
            "The database major version is MySQL 8.0 and the minor version is 27.",
            "The database major version is MySQL 8.0 and the minor version is 28.",
            "The database major version is MySQL 8.0 and the minor version is 29.",
            "The database major version is MySQL 8.0 and the minor version is 30.",
            "The database major version is MySQL 8.0 and the minor version is 31.",
            "The database major version is MySQL 8.0 and the minor version is 32.",
            "The database major version is MySQL 8.0 and the minor version is 33.",
            "The database major version is MySQL 8.0 and the minor version is 34.",
            "The database major version is MySQL 8.0 and the minor version is 35.",
            "The database major version is MySQL 8.0 and the minor version is 36.",
            "The database major version is MySQL 8.0 and the minor version is 37.",
            "The database major version is MySQL 8.0 and the minor version is 39.",
            "The database major version is MySQL 8.0 and the minor version is 40.",
            "The database major version is MySQL 8.0 and the minor version is 41.",
            "The database major version is MySQL 8.0 and the minor version is 42.",
            "The database major version is MySQL 8.0 and the minor version is 43.",
            "The database major version is MySQL 8.0 and the minor version is 44.",
            "The database major version is MySQL 8.0 and the minor version is 45.",
            "The database major version is MySQL 8.0 and the minor version is 46.",
            "The database version is MySQL 8.4.",
            "The database version is MySQL 9.7.",
            "The database version is SQL Server 2017 Standard.",
            "The database version is SQL Server 2017 Enterprise.",
            "The database version is SQL Server 2017 Express.",
            "The database version is SQL Server 2017 Web.",
            "The database version is PostgreSQL 9.6.",
            "The database version is PostgreSQL 10.",
            "The database version is PostgreSQL 11.",
            "The database version is PostgreSQL 12.",
            "The database version is PostgreSQL 13.",
            "The database version is PostgreSQL 14.",
            "The database version is PostgreSQL 15.",
            "The database version is PostgreSQL 16.",
            "The database version is PostgreSQL 17.",
            "The database version is PostgreSQL 18.",
            "The database version is PostgreSQL 19.",
            "The database version is PostgreSQL 20.",
            "The database version is SQL Server 2019 Standard.",
            "The database version is SQL Server 2019 Enterprise.",
            "The database version is SQL Server 2019 Express.",
            "The database version is SQL Server 2019 Web.",
            "The database version is SQL Server 2022 Standard.",
            "The database version is SQL Server 2022 Enterprise.",
            "The database version is SQL Server 2022 Express.",
            "The database version is SQL Server 2022 Web.",
            "The database version is SQL Server 2025 Standard.",
            "The database version is SQL Server 2025 Enterprise.",
            "The database version is SQL Server 2025 Express."
          ]
        },
        "region": {
          "type": "string",
          "description": "The cloud region for the instance. e.g. `us-central1`, `europe-west1`. The region cannot be changed after instance creation."
        },
        "backendType": {
          "enumDescriptions": [
            "This is an unknown backend type for instance.",
            "V1 speckle instance.",
            "V2 speckle instance.",
            "On premises instance."
          ],
          "enum": [
            "SQL_BACKEND_TYPE_UNSPECIFIED",
            "FIRST_GEN",
            "SECOND_GEN",
            "EXTERNAL"
          ],
          "description": "`SECOND_GEN`: Cloud SQL database instance. `EXTERNAL`: A database server that is not managed by Google. This property is read-only; use the `tier` property in the `settings` object to determine the database type.",
          "type": "string",
          "enumDeprecated": [
            false,
            true,
            false,
            false
          ]
        },
        "connectionName": {
          "readOnly": true,
          "type": "string",
          "description": "Optional. Output only. Connection name of the Cloud SQL instance used in connection strings, in the format project:region:instance."
        },
        "kind": {
          "type": "string",
          "description": "This is always `sql#connectSettings`."
        },
        "pscEnabled": {
          "type": "boolean",
          "description": "Whether PSC connectivity is enabled for this instance."
        },
        "dnsNames": {
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "DnsNameMapping"
          },
          "description": "Output only. The list of DNS names used by this instance."
        },
        "ipAddresses": {
          "type": "array",
          "items": {
            "$ref": "IpMapping"
          },
          "description": "The assigned IP addresses for the instance."
        },
        "customSubjectAlternativeNames": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Custom subject alternative names for the server certificate."
        },
        "dnsName": {
          "description": "The dns name of the instance.",
          "type": "string"
        },
        "nodeCount": {
          "format": "int32",
          "type": "integer",
          "description": "The number of read pool nodes in a read pool."
        },
        "serverCaCert": {
          "$ref": "SslCert",
          "description": "SSL configuration."
        },
        "mdxProtocolSupport": {
          "type": "array",
          "description": "Optional. Output only. mdx_protocol_support controls how the client uses metadata exchange when connecting to the instance. The values in the list representing parts of the MDX protocol that are supported by this instance. When the list is empty, the instance does not support MDX, so the client must not send an MDX request. The default is empty.",
          "items": {
            "enum": [
              "MDX_PROTOCOL_SUPPORT_UNSPECIFIED",
              "CLIENT_PROTOCOL_TYPE"
            ],
            "enumDescriptions": [
              "Not specified.",
              "Client should send the client protocol type in the MDX request."
            ],
            "type": "string"
          },
          "readOnly": true
        },
        "nodes": {
          "items": {
            "$ref": "ConnectPoolNodeConfig"
          },
          "description": "Output only. Entries containing information about each read pool node of the read pool.",
          "type": "array",
          "readOnly": true
        },
        "serverCaMode": {
          "type": "string",
          "enum": [
            "CA_MODE_UNSPECIFIED",
            "GOOGLE_MANAGED_INTERNAL_CA",
            "GOOGLE_MANAGED_CAS_CA",
            "CUSTOMER_MANAGED_CAS_CA"
          ],
          "description": "Specify what type of CA is used for the server certificate.",
          "enumDescriptions": [
            "CA mode is unspecified. It is effectively the same as `GOOGLE_MANAGED_INTERNAL_CA`.",
            "Google-managed self-signed internal CA.",
            "Google-managed regional CA part of root CA hierarchy hosted on Google Cloud's Certificate Authority Service (CAS).",
            "Customer-managed CA hosted on Google Cloud's Certificate Authority Service (CAS)."
          ]
        }
      },
      "description": "Connect settings retrieval response.",
      "type": "object",
      "id": "ConnectSettings"
    },
    "Tier": {
      "type": "object",
      "id": "Tier",
      "description": "A Google Cloud SQL service tier resource.",
      "properties": {
        "DiskQuota": {
          "type": "string",
          "description": "The maximum disk size of this tier in bytes.",
          "format": "int64"
        },
        "RAM": {
          "description": "The maximum RAM usage of this tier in bytes.",
          "type": "string",
          "format": "int64"
        },
        "kind": {
          "description": "This is always `sql#tier`.",
          "type": "string"
        },
        "tier": {
          "description": "An identifier for the machine type, for example, `db-custom-1-3840`. For related information, see [Pricing](/sql/pricing).",
          "type": "string"
        },
        "region": {
          "description": "The applicable regions for this tier.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "DatabaseInstance": {
      "description": "A Cloud SQL instance resource.",
      "properties": {
        "sqlNetworkArchitecture": {
          "type": "string",
          "enum": [
            "SQL_NETWORK_ARCHITECTURE_UNSPECIFIED",
            "NEW_NETWORK_ARCHITECTURE",
            "OLD_NETWORK_ARCHITECTURE"
          ],
          "description": "The SQL network architecture for the instance.",
          "enumDescriptions": [
            "",
            "The instance uses the new network architecture.",
            "The instance uses the old network architecture."
          ]
        },
        "databaseInstalledVersion": {
          "description": "Output only. Stores the current database version running on the instance including minor version such as `MYSQL_8_0_18`.",
          "readOnly": true,
          "type": "string"
        },
        "selfLink": {
          "description": "The URI of this resource.",
          "type": "string"
        },
        "diskEncryptionConfiguration": {
          "description": "Disk encryption configuration specific to an instance.",
          "$ref": "DiskEncryptionConfiguration"
        },
        "etag": {
          "type": "string",
          "description": "This field is deprecated and will be removed from a future version of the API. Use the `settings.settingsVersion` field instead."
        },
        "dnsName": {
          "type": "string",
          "description": "Output only. The dns name of the instance.",
          "readOnly": true
        },
        "tags": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. Input only. Immutable. Tag keys and tag values that are bound to this instance. You must represent each item in the map as: `\"\" : \"\"`. For example, a single resource can have the following tags: ``` \"123/environment\": \"production\", \"123/costCenter\": \"marketing\", ``` For more information on tag creation and management, see https://cloud.google.com/resource-manager/docs/tags/tags-overview.",
          "type": "object"
        },
        "nodeCount": {
          "description": "The number of read pool nodes in a read pool.",
          "format": "int32",
          "type": "integer"
        },
        "createTime": {
          "description": "Output only. The time when the instance was created in [RFC 3339](https://tools.ietf.org/html/rfc3339) format, for example `2012-11-15T16:19:00.094Z`.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "primaryDnsName": {
          "description": "Output only. DEPRECATED: please use write_endpoint instead.",
          "readOnly": true,
          "type": "string",
          "deprecated": true
        },
        "databaseVersion": {
          "enumDeprecated": [
            false,
            true,
            true,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            true,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false
          ],
          "enum": [
            "SQL_DATABASE_VERSION_UNSPECIFIED",
            "MYSQL_5_1",
            "MYSQL_5_5",
            "MYSQL_5_6",
            "MYSQL_5_7",
            "MYSQL_8_0",
            "MYSQL_8_0_18",
            "MYSQL_8_0_26",
            "MYSQL_8_0_27",
            "MYSQL_8_0_28",
            "MYSQL_8_0_29",
            "MYSQL_8_0_30",
            "MYSQL_8_0_31",
            "MYSQL_8_0_32",
            "MYSQL_8_0_33",
            "MYSQL_8_0_34",
            "MYSQL_8_0_35",
            "MYSQL_8_0_36",
            "MYSQL_8_0_37",
            "MYSQL_8_0_39",
            "MYSQL_8_0_40",
            "MYSQL_8_0_41",
            "MYSQL_8_0_42",
            "MYSQL_8_0_43",
            "MYSQL_8_0_44",
            "MYSQL_8_0_45",
            "MYSQL_8_0_46",
            "MYSQL_8_4",
            "MYSQL_9_7",
            "SQLSERVER_2017_STANDARD",
            "SQLSERVER_2017_ENTERPRISE",
            "SQLSERVER_2017_EXPRESS",
            "SQLSERVER_2017_WEB",
            "POSTGRES_9_6",
            "POSTGRES_10",
            "POSTGRES_11",
            "POSTGRES_12",
            "POSTGRES_13",
            "POSTGRES_14",
            "POSTGRES_15",
            "POSTGRES_16",
            "POSTGRES_17",
            "POSTGRES_18",
            "POSTGRES_19",
            "POSTGRES_20",
            "SQLSERVER_2019_STANDARD",
            "SQLSERVER_2019_ENTERPRISE",
            "SQLSERVER_2019_EXPRESS",
            "SQLSERVER_2019_WEB",
            "SQLSERVER_2022_STANDARD",
            "SQLSERVER_2022_ENTERPRISE",
            "SQLSERVER_2022_EXPRESS",
            "SQLSERVER_2022_WEB",
            "SQLSERVER_2025_STANDARD",
            "SQLSERVER_2025_ENTERPRISE",
            "SQLSERVER_2025_EXPRESS"
          ],
          "description": "The database engine type and version. The `databaseVersion` field cannot be changed after instance creation.",
          "type": "string",
          "enumDescriptions": [
            "This is an unknown database version.",
            "The database version is MySQL 5.1.",
            "The database version is MySQL 5.5.",
            "The database version is MySQL 5.6.",
            "The database version is MySQL 5.7.",
            "The database version is MySQL 8.",
            "The database major version is MySQL 8.0 and the minor version is 18.",
            "The database major version is MySQL 8.0 and the minor version is 26.",
            "The database major version is MySQL 8.0 and the minor version is 27.",
            "The database major version is MySQL 8.0 and the minor version is 28.",
            "The database major version is MySQL 8.0 and the minor version is 29.",
            "The database major version is MySQL 8.0 and the minor version is 30.",
            "The database major version is MySQL 8.0 and the minor version is 31.",
            "The database major version is MySQL 8.0 and the minor version is 32.",
            "The database major version is MySQL 8.0 and the minor version is 33.",
            "The database major version is MySQL 8.0 and the minor version is 34.",
            "The database major version is MySQL 8.0 and the minor version is 35.",
            "The database major version is MySQL 8.0 and the minor version is 36.",
            "The database major version is MySQL 8.0 and the minor version is 37.",
            "The database major version is MySQL 8.0 and the minor version is 39.",
            "The database major version is MySQL 8.0 and the minor version is 40.",
            "The database major version is MySQL 8.0 and the minor version is 41.",
            "The database major version is MySQL 8.0 and the minor version is 42.",
            "The database major version is MySQL 8.0 and the minor version is 43.",
            "The database major version is MySQL 8.0 and the minor version is 44.",
            "The database major version is MySQL 8.0 and the minor version is 45.",
            "The database major version is MySQL 8.0 and the minor version is 46.",
            "The database version is MySQL 8.4.",
            "The database version is MySQL 9.7.",
            "The database version is SQL Server 2017 Standard.",
            "The database version is SQL Server 2017 Enterprise.",
            "The database version is SQL Server 2017 Express.",
            "The database version is SQL Server 2017 Web.",
            "The database version is PostgreSQL 9.6.",
            "The database version is PostgreSQL 10.",
            "The database version is PostgreSQL 11.",
            "The database version is PostgreSQL 12.",
            "The database version is PostgreSQL 13.",
            "The database version is PostgreSQL 14.",
            "The database version is PostgreSQL 15.",
            "The database version is PostgreSQL 16.",
            "The database version is PostgreSQL 17.",
            "The database version is PostgreSQL 18.",
            "The database version is PostgreSQL 19.",
            "The database version is PostgreSQL 20.",
            "The database version is SQL Server 2019 Standard.",
            "The database version is SQL Server 2019 Enterprise.",
            "The database version is SQL Server 2019 Express.",
            "The database version is SQL Server 2019 Web.",
            "The database version is SQL Server 2022 Standard.",
            "The database version is SQL Server 2022 Enterprise.",
            "The database version is SQL Server 2022 Express.",
            "The database version is SQL Server 2022 Web.",
            "The database version is SQL Server 2025 Standard.",
            "The database version is SQL Server 2025 Enterprise.",
            "The database version is SQL Server 2025 Express."
          ]
        },
        "replicaConfiguration": {
          "$ref": "ReplicaConfiguration",
          "description": "Configuration specific to failover replicas and read replicas."
        },
        "dnsNames": {
          "type": "array",
          "items": {
            "$ref": "DnsNameMapping"
          },
          "description": "Output only. The list of DNS names used by this instance.",
          "readOnly": true
        },
        "maxDiskSize": {
          "format": "int64",
          "description": "The maximum disk size of the instance in bytes.",
          "deprecated": true,
          "type": "string"
        },
        "project": {
          "description": "The project ID of the project containing the Cloud SQL instance. The Google apps domain is prefixed if applicable.",
          "type": "string"
        },
        "scheduledMaintenance": {
          "$ref": "SqlScheduledMaintenance",
          "description": "The start time of any upcoming scheduled maintenance for this instance."
        },
        "backendType": {
          "enumDescriptions": [
            "This is an unknown backend type for instance.",
            "V1 speckle instance.",
            "V2 speckle instance.",
            "On premises instance."
          ],
          "type": "string",
          "description": "The backend type. `SECOND_GEN`: Cloud SQL database instance. `EXTERNAL`: A database server that is not managed by Google. This property is read-only; use the `tier` property in the `settings` object to determine the database type.",
          "enumDeprecated": [
            false,
            true,
            false,
            false
          ],
          "enum": [
            "SQL_BACKEND_TYPE_UNSPECIFIED",
            "FIRST_GEN",
            "SECOND_GEN",
            "EXTERNAL"
          ]
        },
        "databaseCenterIntegrationEnabled": {
          "type": "boolean",
          "description": "Optional. If true, instance metadata is sent to the Database Center. If false, instance metadata is not sent to the Database Center."
        },
        "serviceAccountEmailAddress": {
          "description": "The service account email address assigned to the instance. \\This property is read-only.",
          "type": "string"
        },
        "replicationCluster": {
          "$ref": "ReplicationCluster",
          "description": "A primary instance and disaster recovery (DR) replica pair. A DR replica is a cross-region replica that you designate for failover in the event that the primary instance experiences regional failure. Applicable to MySQL and PostgreSQL."
        },
        "includeReplicasForMajorVersionUpgrade": {
          "type": "boolean",
          "description": "Input only. Determines whether an in-place major version upgrade of replicas happens when an in-place major version upgrade of a primary instance is initiated."
        },
        "writeEndpoint": {
          "type": "string",
          "description": "Output only. The dns name of the primary instance in a replication group.",
          "readOnly": true
        },
        "onPremisesConfiguration": {
          "$ref": "OnPremisesConfiguration",
          "description": "Configuration specific to on-premises instances."
        },
        "diskEncryptionStatus": {
          "description": "Disk encryption status specific to an instance.",
          "$ref": "DiskEncryptionStatus"
        },
        "outOfDiskReport": {
          "description": "This field represents the report generated by the proactive database wellness job for OutOfDisk issues. * Writers: * the proactive database wellness job for OOD. * Readers: * the proactive database wellness job",
          "$ref": "SqlOutOfDiskReport"
        },
        "settings": {
          "description": "The user settings.",
          "$ref": "Settings"
        },
        "availableMaintenanceVersions": {
          "type": "array",
          "readOnly": true,
          "description": "Output only. List all maintenance versions applicable on the instance",
          "items": {
            "type": "string"
          }
        },
        "ipv6Address": {
          "deprecated": true,
          "type": "string",
          "description": "The IPv6 address assigned to the instance. (Deprecated) This property was applicable only to First Generation instances."
        },
        "geminiConfig": {
          "description": "Gemini instance configuration.",
          "$ref": "GeminiInstanceConfig"
        },
        "instanceType": {
          "enum": [
            "SQL_INSTANCE_TYPE_UNSPECIFIED",
            "CLOUD_SQL_INSTANCE",
            "ON_PREMISES_INSTANCE",
            "READ_REPLICA_INSTANCE",
            "READ_POOL_INSTANCE",
            "GREEN_INSTANCE"
          ],
          "enumDescriptions": [
            "This is an unknown Cloud SQL instance type.",
            "A regular Cloud SQL instance that is not replicating from a primary instance.",
            "An instance running on the customer's premises that is not managed by Cloud SQL.",
            "A Cloud SQL instance acting as a read-replica.",
            "A Cloud SQL read pool.",
            "A Cloud SQL instance acting as a Blue-Green deployment target primary. (MySQL only)"
          ],
          "description": "The instance type.",
          "type": "string"
        },
        "serverCaCert": {
          "$ref": "SslCert",
          "description": "SSL configuration."
        },
        "nodes": {
          "description": "Output only. Entries containing information about each read pool node of the read pool.",
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "PoolNodeConfig"
          }
        },
        "secondaryGceZone": {
          "type": "string",
          "description": "The Compute Engine zone that the failover instance is currently serving from for a regional instance. This value could be different from the zone that was specified when the instance was created if the instance has failed over to its secondary/failover zone."
        },
        "kind": {
          "type": "string",
          "description": "This is always `sql#instance`."
        },
        "suspensionReason": {
          "type": "array",
          "items": {
            "enumDescriptions": [
              "This is an unknown suspension reason.",
              "The instance is suspended due to billing issues (for example:, account issue)",
              "The instance is suspended due to illegal content (for example:, child pornography, copyrighted material, etc.).",
              "The instance is causing operational issues (for example:, causing the database to crash).",
              "The KMS key used by the instance is either revoked or denied access to",
              "The project is suspended due to abuse detected by Ares."
            ],
            "enum": [
              "SQL_SUSPENSION_REASON_UNSPECIFIED",
              "BILLING_ISSUE",
              "LEGAL_ISSUE",
              "OPERATIONAL_ISSUE",
              "KMS_KEY_ISSUE",
              "PROJECT_ABUSE"
            ],
            "type": "string"
          },
          "description": "If the instance state is SUSPENDED, the reason for the suspension."
        },
        "failoverReplica": {
          "properties": {
            "name": {
              "description": "The name of the failover replica. If specified at instance creation, a failover replica is created for the instance. The name doesn't include the project ID.",
              "type": "string"
            },
            "available": {
              "type": "boolean",
              "description": "The availability status of the failover replica. A false status indicates that the failover replica is out of sync. The primary instance can only failover to the failover replica when the status is true."
            }
          },
          "description": "The name and status of the failover replica.",
          "type": "object"
        },
        "maintenanceVersion": {
          "type": "string",
          "description": "The current software version on the instance."
        },
        "satisfiesPzs": {
          "description": "This status indicates whether the instance satisfies PZS. The status is reserved for future use.",
          "type": "boolean"
        },
        "connectionName": {
          "type": "string",
          "description": "Connection name of the Cloud SQL instance used in connection strings."
        },
        "gceZone": {
          "type": "string",
          "description": "The Compute Engine zone that the instance is currently serving from. This value could be different from the zone that was specified when the instance was created if the instance has failed over to its secondary zone. WARNING: Changing this might restart the instance."
        },
        "satisfiesPzi": {
          "type": "boolean",
          "description": "Output only. This status indicates whether the instance satisfies PZI. The status is reserved for future use.",
          "readOnly": true
        },
        "ipAddresses": {
          "description": "The assigned IP addresses for the instance.",
          "type": "array",
          "items": {
            "$ref": "IpMapping"
          }
        },
        "state": {
          "enumDeprecated": [
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            true,
            false
          ],
          "enumDescriptions": [
            "The state of the instance is unknown.",
            "The instance is running, or has been stopped by owner.",
            "The instance is not available, for example due to problems with billing.",
            "The instance is being deleted.",
            "The instance is being created.",
            "The instance is down for maintenance.",
            "The creation of the instance failed or a fatal error occurred during maintenance.",
            "Deprecated",
            "(Applicable to read pool nodes only.) The read pool node needs to be repaired. The database might be unavailable."
          ],
          "description": "The current serving state of the Cloud SQL instance.",
          "enum": [
            "SQL_INSTANCE_STATE_UNSPECIFIED",
            "RUNNABLE",
            "SUSPENDED",
            "PENDING_DELETE",
            "PENDING_CREATE",
            "MAINTENANCE",
            "FAILED",
            "ONLINE_MAINTENANCE",
            "REPAIRING"
          ],
          "type": "string"
        },
        "switchTransactionLogsToCloudStorageEnabled": {
          "description": "Input only. Whether Cloud SQL is enabled to switch storing point-in-time recovery log files from a data disk to Cloud Storage.",
          "type": "boolean"
        },
        "name": {
          "description": "Name of the Cloud SQL instance. This does not include the project ID.",
          "type": "string"
        },
        "deploymentInfo": {
          "$ref": "BlueGreenDeploymentInfo",
          "description": "Output only. Deployment info for the instance. This is set if the instance is currently part of any blue-green setup.",
          "readOnly": true
        },
        "currentDiskSize": {
          "deprecated": true,
          "type": "string",
          "description": "The current disk usage of the instance in bytes. This property has been deprecated. Use the \"cloudsql.googleapis.com/database/disk/bytes_used\" metric in Cloud Monitoring API instead. Please see [this announcement](https://groups.google.com/d/msg/google-cloud-sql-announce/I_7-F9EBhT0/BtvFtdFeAgAJ) for details.",
          "format": "int64"
        },
        "upgradableDatabaseVersions": {
          "description": "Output only. All database versions that are available for upgrade.",
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "AvailableDatabaseVersion"
          }
        },
        "rootPassword": {
          "description": "Initial root password. Use only on creation. You must set root passwords before you can connect to PostgreSQL instances.",
          "type": "string"
        },
        "pscServiceAttachmentLink": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The link to service attachment of PSC instance."
        },
        "region": {
          "type": "string",
          "description": "The geographical region of the Cloud SQL instance. It can be one of the [regions](https://cloud.google.com/sql/docs/mysql/locations#location-r) where Cloud SQL operates: For example, `asia-east1`, `europe-west1`, and `us-central1`. The default value is `us-central1`."
        },
        "replicaNames": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The replicas of the instance."
        },
        "masterInstanceName": {
          "type": "string",
          "description": "The name of the instance which will act as primary in the replication setup."
        }
      },
      "type": "object",
      "id": "DatabaseInstance"
    },
    "SqlSubOperationType": {
      "type": "object",
      "id": "SqlSubOperationType",
      "properties": {
        "maintenanceType": {
          "type": "string",
          "description": "The type of maintenance to be performed on the instance.",
          "enumDescriptions": [
            "Maintenance type is unspecified.",
[...]
