{
  "protocol": "rest",
  "id": "tagmanager:v1",
  "name": "tagmanager",
  "mtlsRootUrl": "https://tagmanager.mtls.googleapis.com/",
  "ownerDomain": "google.com",
  "parameters": {
    "alt": {
      "type": "string",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "default": "json",
      "location": "query",
      "description": "Data format for response.",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ]
    },
    "key": {
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string"
    },
    "callback": {
      "type": "string",
      "location": "query",
      "description": "JSONP"
    },
    "quotaUser": {
      "location": "query",
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "access_token": {
      "description": "OAuth access token.",
      "location": "query",
      "type": "string"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "oauth_token": {
      "location": "query",
      "description": "OAuth 2.0 token for the current user.",
      "type": "string"
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "type": "boolean",
      "location": "query"
    },
    "$.xgafv": {
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format.",
      "location": "query",
      "type": "string",
      "enum": [
        "1",
        "2"
      ]
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    }
  },
  "ownerName": "Google",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/tagmanager.edit.containers": {
          "description": "Manage your Google Tag Manager container and its subcomponents, excluding versioning and publishing"
        },
        "https://www.googleapis.com/auth/tagmanager.edit.containerversions": {
          "description": "Manage your Google Tag Manager container versions"
        },
        "https://www.googleapis.com/auth/tagmanager.publish": {
          "description": "Publish your Google Tag Manager container versions"
        },
        "https://www.googleapis.com/auth/tagmanager.readonly": {
          "description": "View your Google Tag Manager container and its subcomponents"
        },
        "https://www.googleapis.com/auth/tagmanager.delete.containers": {
          "description": "Delete your Google Tag Manager containers"
        },
        "https://www.googleapis.com/auth/tagmanager.manage.users": {
          "description": "Manage user permissions of your Google Tag Manager account and container"
        },
        "https://www.googleapis.com/auth/tagmanager.manage.accounts": {
          "description": "View and manage your Google Tag Manager accounts"
        }
      }
    }
  },
  "baseUrl": "https://tagmanager.googleapis.com/",
  "description": "This API allows clients to access and modify container and tag configuration.",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "discoveryVersion": "v1",
  "version": "v1",
  "resources": {
    "accounts": {
      "methods": {
        "get": {
          "flatPath": "tagmanager/v1/accounts/{accountId}",
          "description": "Gets a GTM Account.",
          "scopes": [
            "https://www.googleapis.com/auth/tagmanager.edit.containers",
            "https://www.googleapis.com/auth/tagmanager.manage.accounts",
            "https://www.googleapis.com/auth/tagmanager.readonly"
          ],
          "parameterOrder": [
            "accountId"
          ],
          "path": "tagmanager/v1/accounts/{accountId}",
          "parameters": {
            "accountId": {
              "description": "The GTM Account ID.",
              "location": "path",
              "type": "string",
              "required": true
            }
          },
          "response": {
            "$ref": "Account"
          },
          "httpMethod": "GET",
          "id": "tagmanager.accounts.get"
        },
        "list": {
          "flatPath": "tagmanager/v1/accounts",
          "scopes": [
            "https://www.googleapis.com/auth/tagmanager.edit.containers",
            "https://www.googleapis.com/auth/tagmanager.manage.accounts",
            "https://www.googleapis.com/auth/tagmanager.readonly"
          ],
          "path": "tagmanager/v1/accounts",
          "response": {
            "$ref": "ListAccountsResponse"
          },
          "parameters": {},
          "parameterOrder": [],
          "description": "Lists all GTM Accounts that a user has access to.",
          "id": "tagmanager.accounts.list",
          "httpMethod": "GET"
        },
        "update": {
          "parameterOrder": [
            "accountId"
          ],
          "response": {
            "$ref": "Account"
          },
          "scopes": [
            "https://www.googleapis.com/auth/tagmanager.manage.accounts"
          ],
          "request": {
            "$ref": "Account"
          },
          "parameters": {
            "accountId": {
              "required": true,
              "type": "string",
              "description": "The GTM Account ID.",
              "location": "path"
            },
            "fingerprint": {
              "type": "string",
              "location": "query",
              "description": "When provided, this fingerprint must match the fingerprint of the account in storage."
            }
          },
          "id": "tagmanager.accounts.update",
          "description": "Updates a GTM Account.",
          "flatPath": "tagmanager/v1/accounts/{accountId}",
          "path": "tagmanager/v1/accounts/{accountId}",
          "httpMethod": "PUT"
        }
      },
      "resources": {
        "permissions": {
          "methods": {
            "delete": {
              "id": "tagmanager.accounts.permissions.delete",
              "flatPath": "tagmanager/v1/accounts/{accountId}/permissions/{permissionId}",
              "parameters": {
                "accountId": {
                  "description": "The GTM Account ID.",
                  "location": "path",
                  "type": "string",
                  "required": true
                },
                "permissionId": {
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "description": "The GTM User ID."
                }
              },
              "parameterOrder": [
                "accountId",
                "permissionId"
              ],
              "description": "Removes a user from the account, revoking access to it and all of its containers.",
              "scopes": [
                "https://www.googleapis.com/auth/tagmanager.manage.users"
              ],
              "httpMethod": "DELETE",
              "path": "tagmanager/v1/accounts/{accountId}/permissions/{permissionId}"
            },
            "get": {
              "path": "tagmanager/v1/accounts/{accountId}/permissions/{permissionId}",
              "parameters": {
                "accountId": {
                  "location": "path",
                  "type": "string",
                  "description": "The GTM Account ID.",
                  "required": true
                },
                "permissionId": {
                  "type": "string",
                  "required": true,
                  "description": "The GTM User ID.",
                  "location": "path"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/tagmanager.manage.users"
              ],
              "parameterOrder": [
                "accountId",
                "permissionId"
              ],
              "httpMethod": "GET",
              "response": {
                "$ref": "UserAccess"
              },
              "flatPath": "tagmanager/v1/accounts/{accountId}/permissions/{permissionId}",
              "id": "tagmanager.accounts.permissions.get",
              "description": "Gets a user's Account & Container Permissions."
            },
            "list": {
              "path": "tagmanager/v1/accounts/{accountId}/permissions",
              "parameterOrder": [
                "accountId"
              ],
              "id": "tagmanager.accounts.permissions.list",
              "response": {
                "$ref": "ListAccountUsersResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/tagmanager.manage.users"
              ],
              "parameters": {
                "accountId": {
                  "required": true,
                  "type": "string",
                  "description": "The GTM Account ID.",
                  "location": "path"
                }
              },
              "flatPath": "tagmanager/v1/accounts/{accountId}/permissions",
              "httpMethod": "GET",
              "description": "List all users that have access to the account along with Account and Container Permissions granted to each of them."
            },
            "create": {
              "path": "tagmanager/v1/accounts/{accountId}/permissions",
              "response": {
                "$ref": "UserAccess"
              },
              "httpMethod": "POST",
              "parameters": {
                "accountId": {
                  "location": "path",
                  "type": "string",
                  "description": "The GTM Account ID.",
                  "required": true
                }
              },
              "description": "Creates a user's Account & Container Permissions.",
              "request": {
                "$ref": "UserAccess"
              },
              "parameterOrder": [
                "accountId"
              ],
              "id": "tagmanager.accounts.permissions.create",
              "flatPath": "tagmanager/v1/accounts/{accountId}/permissions",
              "scopes": [
                "https://www.googleapis.com/auth/tagmanager.manage.users"
              ]
            },
            "update": {
              "description": "Updates a user's Account & Container Permissions.",
              "httpMethod": "PUT",
              "flatPath": "tagmanager/v1/accounts/{accountId}/permissions/{permissionId}",
              "parameters": {
                "accountId": {
                  "description": "The GTM Account ID.",
                  "required": true,
                  "location": "path",
                  "type": "string"
                },
                "permissionId": {
                  "location": "path",
                  "description": "The GTM User ID.",
                  "type": "string",
                  "required": true
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/tagmanager.manage.users"
              ],
              "id": "tagmanager.accounts.permissions.update",
              "parameterOrder": [
                "accountId",
                "permissionId"
              ],
              "request": {
                "$ref": "UserAccess"
              },
              "path": "tagmanager/v1/accounts/{accountId}/permissions/{permissionId}",
              "response": {
                "$ref": "UserAccess"
              }
            }
          }
        },
        "containers": {
          "resources": {
            "move_folders": {
              "methods": {
                "update": {
                  "httpMethod": "PUT",
                  "request": {
                    "$ref": "Folder"
                  },
                  "id": "tagmanager.accounts.containers.move_folders.update",
                  "flatPath": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/move_folders/{folderId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containers"
                  ],
                  "description": "Moves entities to a GTM Folder.",
                  "parameterOrder": [
                    "accountId",
                    "containerId",
                    "folderId"
                  ],
                  "parameters": {
                    "folderId": {
                      "type": "string",
                      "location": "path",
                      "description": "The GTM Folder ID.",
                      "required": true
                    },
                    "containerId": {
                      "description": "The GTM Container ID.",
                      "type": "string",
                      "required": true,
                      "location": "path"
                    },
                    "triggerId": {
                      "description": "The triggers to be moved to the folder.",
                      "type": "string",
                      "location": "query",
                      "repeated": true
                    },
                    "variableId": {
                      "description": "The variables to be moved to the folder.",
                      "location": "query",
                      "repeated": true,
                      "type": "string"
                    },
                    "tagId": {
                      "location": "query",
                      "repeated": true,
                      "description": "The tags to be moved to the folder.",
                      "type": "string"
                    },
                    "accountId": {
                      "description": "The GTM Account ID.",
                      "required": true,
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "path": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/move_folders/{folderId}"
                }
              }
            },
            "tags": {
              "methods": {
                "delete": {
                  "id": "tagmanager.accounts.containers.tags.delete",
                  "parameterOrder": [
                    "accountId",
                    "containerId",
                    "tagId"
                  ],
                  "httpMethod": "DELETE",
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containers"
                  ],
                  "description": "Deletes a GTM Tag.",
                  "parameters": {
                    "accountId": {
                      "location": "path",
                      "type": "string",
                      "required": true,
                      "description": "The GTM Account ID."
                    },
                    "containerId": {
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "description": "The GTM Container ID."
                    },
                    "tagId": {
                      "type": "string",
                      "required": true,
                      "location": "path",
                      "description": "The GTM Tag ID."
                    }
                  },
                  "path": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/tags/{tagId}",
                  "flatPath": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/tags/{tagId}"
                },
                "list": {
                  "flatPath": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/tags",
                  "parameterOrder": [
                    "accountId",
                    "containerId"
                  ],
                  "parameters": {
                    "accountId": {
                      "required": true,
                      "description": "The GTM Account ID.",
                      "location": "path",
                      "type": "string"
                    },
                    "containerId": {
                      "location": "path",
                      "description": "The GTM Container ID.",
                      "type": "string",
                      "required": true
                    }
                  },
                  "description": "Lists all GTM Tags of a Container.",
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containers",
                    "https://www.googleapis.com/auth/tagmanager.readonly"
                  ],
                  "path": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/tags",
                  "httpMethod": "GET",
                  "id": "tagmanager.accounts.containers.tags.list",
                  "response": {
                    "$ref": "ListTagsResponse"
                  }
                },
                "create": {
                  "parameters": {
                    "containerId": {
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "description": "The GTM Container ID."
                    },
                    "accountId": {
                      "required": true,
                      "location": "path",
                      "type": "string",
                      "description": "The GTM Account ID."
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containers"
                  ],
                  "path": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/tags",
                  "request": {
                    "$ref": "Tag"
                  },
                  "flatPath": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/tags",
                  "httpMethod": "POST",
                  "response": {
                    "$ref": "Tag"
                  },
                  "parameterOrder": [
                    "accountId",
                    "containerId"
                  ],
                  "description": "Creates a GTM Tag.",
                  "id": "tagmanager.accounts.containers.tags.create"
                },
                "update": {
                  "request": {
                    "$ref": "Tag"
                  },
                  "path": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/tags/{tagId}",
                  "flatPath": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/tags/{tagId}",
                  "id": "tagmanager.accounts.containers.tags.update",
                  "description": "Updates a GTM Tag.",
                  "parameters": {
                    "tagId": {
                      "type": "string",
                      "location": "path",
                      "description": "The GTM Tag ID.",
                      "required": true
                    },
                    "accountId": {
                      "description": "The GTM Account ID.",
                      "required": true,
                      "location": "path",
                      "type": "string"
                    },
                    "containerId": {
                      "location": "path",
                      "description": "The GTM Container ID.",
                      "type": "string",
                      "required": true
                    },
                    "fingerprint": {
                      "description": "When provided, this fingerprint must match the fingerprint of the tag in storage.",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "accountId",
                    "containerId",
                    "tagId"
                  ],
                  "response": {
                    "$ref": "Tag"
                  },
                  "httpMethod": "PUT",
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containers"
                  ]
                },
                "get": {
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containers",
                    "https://www.googleapis.com/auth/tagmanager.readonly"
                  ],
                  "flatPath": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/tags/{tagId}",
                  "path": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/tags/{tagId}",
                  "parameters": {
                    "accountId": {
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "description": "The GTM Account ID."
                    },
                    "tagId": {
                      "required": true,
                      "location": "path",
                      "description": "The GTM Tag ID.",
                      "type": "string"
                    },
                    "containerId": {
                      "location": "path",
                      "type": "string",
                      "description": "The GTM Container ID.",
                      "required": true
                    }
                  },
                  "response": {
                    "$ref": "Tag"
                  },
                  "parameterOrder": [
                    "accountId",
                    "containerId",
                    "tagId"
                  ],
                  "id": "tagmanager.accounts.containers.tags.get",
                  "httpMethod": "GET",
                  "description": "Gets a GTM Tag."
                }
              }
            },
            "versions": {
              "methods": {
                "get": {
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containers",
                    "https://www.googleapis.com/auth/tagmanager.edit.containerversions",
                    "https://www.googleapis.com/auth/tagmanager.readonly"
                  ],
                  "flatPath": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/versions/{containerVersionId}",
                  "id": "tagmanager.accounts.containers.versions.get",
                  "parameters": {
                    "containerId": {
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "description": "The GTM Container ID."
                    },
                    "accountId": {
                      "required": true,
                      "description": "The GTM Account ID.",
                      "location": "path",
                      "type": "string"
                    },
                    "containerVersionId": {
                      "type": "string",
                      "location": "path",
                      "description": "The GTM Container Version ID. Specify published to retrieve the currently published version.",
                      "required": true
                    }
                  },
                  "response": {
                    "$ref": "ContainerVersion"
                  },
                  "path": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/versions/{containerVersionId}",
                  "description": "Gets a Container Version.",
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "accountId",
                    "containerId",
                    "containerVersionId"
                  ]
                },
                "delete": {
                  "httpMethod": "DELETE",
                  "flatPath": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/versions/{containerVersionId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containerversions"
                  ],
                  "id": "tagmanager.accounts.containers.versions.delete",
                  "parameterOrder": [
                    "accountId",
                    "containerId",
                    "containerVersionId"
                  ],
                  "description": "Deletes a Container Version.",
                  "parameters": {
                    "containerId": {
                      "type": "string",
                      "required": true,
                      "description": "The GTM Container ID.",
                      "location": "path"
                    },
                    "accountId": {
                      "location": "path",
                      "description": "The GTM Account ID.",
                      "required": true,
                      "type": "string"
                    },
                    "containerVersionId": {
                      "location": "path",
                      "type": "string",
                      "description": "The GTM Container Version ID.",
                      "required": true
                    }
                  },
                  "path": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/versions/{containerVersionId}"
                },
                "list": {
                  "path": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/versions",
                  "description": "Lists all Container Versions of a GTM Container.",
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containers",
                    "https://www.googleapis.com/auth/tagmanager.edit.containerversions",
                    "https://www.googleapis.com/auth/tagmanager.readonly"
                  ],
                  "response": {
                    "$ref": "ListContainerVersionsResponse"
                  },
                  "httpMethod": "GET",
                  "flatPath": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/versions",
                  "id": "tagmanager.accounts.containers.versions.list",
                  "parameters": {
                    "accountId": {
                      "location": "path",
                      "type": "string",
                      "description": "The GTM Account ID.",
                      "required": true
                    },
                    "includeDeleted": {
                      "type": "boolean",
                      "location": "query",
                      "description": "Also retrieve deleted (archived) versions when true.",
                      "default": "false"
                    },
                    "containerId": {
                      "description": "The GTM Container ID.",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    },
                    "headers": {
                      "description": "Retrieve headers only when true.",
                      "default": "false",
                      "type": "boolean",
                      "location": "query"
                    }
                  },
                  "parameterOrder": [
                    "accountId",
                    "containerId"
                  ]
                },
                "restore": {
                  "parameters": {
                    "containerId": {
                      "description": "The GTM Container ID.",
                      "location": "path",
                      "type": "string",
                      "required": true
                    },
                    "containerVersionId": {
                      "required": true,
                      "location": "path",
                      "description": "The GTM Container Version ID.",
                      "type": "string"
                    },
                    "accountId": {
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "description": "The GTM Account ID."
                    }
                  },
                  "flatPath": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/versions/{containerVersionId}/restore",
                  "httpMethod": "POST",
                  "response": {
                    "$ref": "ContainerVersion"
                  },
                  "parameterOrder": [
                    "accountId",
                    "containerId",
                    "containerVersionId"
                  ],
                  "path": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/versions/{containerVersionId}/restore",
                  "id": "tagmanager.accounts.containers.versions.restore",
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containers"
                  ],
                  "description": "Restores a Container Version. This will overwrite the container's current configuration (including its variables, triggers and tags). The operation will not have any effect on the version that is being served (i.e. the published version)."
                },
                "undelete": {
                  "id": "tagmanager.accounts.containers.versions.undelete",
                  "parameterOrder": [
                    "accountId",
                    "containerId",
                    "containerVersionId"
                  ],
                  "flatPath": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/versions/{containerVersionId}/undelete",
                  "description": "Undeletes a Container Version.",
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containerversions"
                  ],
                  "response": {
                    "$ref": "ContainerVersion"
                  },
                  "httpMethod": "POST",
                  "path": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/versions/{containerVersionId}/undelete",
                  "parameters": {
                    "containerVersionId": {
                      "location": "path",
                      "description": "The GTM Container Version ID.",
                      "required": true,
                      "type": "string"
                    },
                    "accountId": {
                      "location": "path",
                      "type": "string",
                      "description": "The GTM Account ID.",
                      "required": true
                    },
                    "containerId": {
                      "type": "string",
                      "location": "path",
                      "description": "The GTM Container ID.",
                      "required": true
                    }
                  }
                },
                "create": {
                  "httpMethod": "POST",
                  "description": "Creates a Container Version.",
                  "parameterOrder": [
                    "accountId",
                    "containerId"
                  ],
                  "request": {
                    "$ref": "CreateContainerVersionRequestVersionOptions"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containerversions"
                  ],
                  "flatPath": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/versions",
                  "parameters": {
                    "accountId": {
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "description": "The GTM Account ID."
                    },
                    "containerId": {
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "description": "The GTM Container ID."
                    }
                  },
                  "id": "tagmanager.accounts.containers.versions.create",
                  "response": {
                    "$ref": "CreateContainerVersionResponse"
                  },
                  "path": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/versions"
                },
                "update": {
                  "parameters": {
                    "containerId": {
                      "description": "The GTM Container ID.",
                      "type": "string",
                      "required": true,
                      "location": "path"
                    },
                    "fingerprint": {
                      "type": "string",
                      "location": "query",
                      "description": "When provided, this fingerprint must match the fingerprint of the container version in storage."
                    },
                    "containerVersionId": {
                      "required": true,
                      "description": "The GTM Container Version ID.",
                      "type": "string",
                      "location": "path"
                    },
                    "accountId": {
                      "location": "path",
                      "description": "The GTM Account ID.",
                      "type": "string",
                      "required": true
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containerversions"
                  ],
                  "flatPath": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/versions/{containerVersionId}",
                  "id": "tagmanager.accounts.containers.versions.update",
                  "httpMethod": "PUT",
                  "response": {
                    "$ref": "ContainerVersion"
                  },
                  "request": {
                    "$ref": "ContainerVersion"
                  },
                  "parameterOrder": [
                    "accountId",
                    "containerId",
                    "containerVersionId"
                  ],
                  "path": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/versions/{containerVersionId}",
                  "description": "Updates a Container Version."
                },
                "publish": {
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.publish"
                  ],
                  "description": "Publishes a Container Version.",
                  "flatPath": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/versions/{containerVersionId}/publish",
                  "id": "tagmanager.accounts.containers.versions.publish",
                  "response": {
                    "$ref": "PublishContainerVersionResponse"
                  },
                  "parameters": {
                    "containerVersionId": {
                      "required": true,
                      "description": "The GTM Container Version ID.",
                      "type": "string",
                      "location": "path"
                    },
                    "containerId": {
                      "location": "path",
                      "type": "string",
                      "required": true,
                      "description": "The GTM Container ID."
                    },
                    "fingerprint": {
                      "type": "string",
                      "location": "query",
                      "description": "When provided, this fingerprint must match the fingerprint of the container version in storage."
                    },
                    "accountId": {
                      "type": "string",
                      "required": true,
                      "description": "The GTM Account ID.",
                      "location": "path"
                    }
                  },
                  "httpMethod": "POST",
                  "path": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/versions/{containerVersionId}/publish",
                  "parameterOrder": [
                    "accountId",
                    "containerId",
                    "containerVersionId"
                  ]
                }
              }
            },
            "triggers": {
              "methods": {
                "delete": {
                  "flatPath": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/triggers/{triggerId}",
                  "description": "Deletes a GTM Trigger.",
                  "path": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/triggers/{triggerId}",
                  "httpMethod": "DELETE",
                  "parameters": {
                    "containerId": {
                      "type": "string",
                      "location": "path",
                      "description": "The GTM Container ID.",
                      "required": true
                    },
                    "accountId": {
                      "description": "The GTM Account ID.",
                      "location": "path",
                      "type": "string",
                      "required": true
                    },
                    "triggerId": {
                      "type": "string",
                      "required": true,
                      "description": "The GTM Trigger ID.",
                      "location": "path"
                    }
                  },
                  "parameterOrder": [
                    "accountId",
                    "containerId",
                    "triggerId"
                  ],
                  "id": "tagmanager.accounts.containers.triggers.delete",
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containers"
                  ]
                },
                "list": {
                  "parameters": {
                    "accountId": {
                      "type": "string",
                      "location": "path",
                      "description": "The GTM Account ID.",
                      "required": true
                    },
                    "containerId": {
                      "required": true,
                      "type": "string",
                      "description": "The GTM Container ID.",
                      "location": "path"
                    }
                  },
                  "path": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/triggers",
                  "parameterOrder": [
                    "accountId",
                    "containerId"
                  ],
                  "flatPath": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/triggers",
                  "id": "tagmanager.accounts.containers.triggers.list",
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containers",
                    "https://www.googleapis.com/auth/tagmanager.readonly"
                  ],
                  "response": {
                    "$ref": "ListTriggersResponse"
                  },
                  "description": "Lists all GTM Triggers of a Container."
                },
                "get": {
                  "response": {
                    "$ref": "Trigger"
                  },
                  "description": "Gets a GTM Trigger.",
                  "parameters": {
                    "accountId": {
                      "location": "path",
                      "description": "The GTM Account ID.",
                      "type": "string",
                      "required": true
                    },
                    "containerId": {
                      "required": true,
                      "type": "string",
                      "description": "The GTM Container ID.",
                      "location": "path"
                    },
                    "triggerId": {
                      "location": "path",
                      "description": "The GTM Trigger ID.",
                      "type": "string",
                      "required": true
                    }
                  },
                  "path": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/triggers/{triggerId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containers",
                    "https://www.googleapis.com/auth/tagmanager.readonly"
                  ],
                  "flatPath": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/triggers/{triggerId}",
                  "id": "tagmanager.accounts.containers.triggers.get",
                  "parameterOrder": [
                    "accountId",
                    "containerId",
                    "triggerId"
                  ],
                  "httpMethod": "GET"
                },
                "create": {
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containers"
                  ],
                  "flatPath": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/triggers",
                  "path": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/triggers",
                  "request": {
                    "$ref": "Trigger"
                  },
                  "id": "tagmanager.accounts.containers.triggers.create",
                  "response": {
                    "$ref": "Trigger"
                  },
                  "httpMethod": "POST",
                  "parameters": {
                    "accountId": {
                      "location": "path",
                      "description": "The GTM Account ID.",
                      "required": true,
                      "type": "string"
                    },
                    "containerId": {
                      "description": "The GTM Container ID.",
                      "required": true,
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "parameterOrder": [
                    "accountId",
                    "containerId"
                  ],
                  "description": "Creates a GTM Trigger."
                },
                "update": {
                  "request": {
                    "$ref": "Trigger"
                  },
                  "parameterOrder": [
                    "accountId",
                    "containerId",
                    "triggerId"
                  ],
                  "path": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/triggers/{triggerId}",
                  "response": {
                    "$ref": "Trigger"
                  },
                  "id": "tagmanager.accounts.containers.triggers.update",
                  "parameters": {
                    "triggerId": {
                      "description": "The GTM Trigger ID.",
                      "required": true,
                      "type": "string",
                      "location": "path"
                    },
                    "accountId": {
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "description": "The GTM Account ID."
                    },
                    "containerId": {
                      "description": "The GTM Container ID.",
                      "required": true,
                      "location": "path",
                      "type": "string"
                    },
                    "fingerprint": {
                      "description": "When provided, this fingerprint must match the fingerprint of the trigger in storage.",
                      "type": "string",
                      "location": "query"
                    }
                  },
                  "flatPath": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/triggers/{triggerId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containers"
                  ],
                  "httpMethod": "PUT",
                  "description": "Updates a GTM Trigger."
                }
              }
            },
            "variables": {
              "methods": {
                "delete": {
                  "parameters": {
                    "accountId": {
                      "location": "path",
                      "type": "string",
                      "description": "The GTM Account ID.",
                      "required": true
                    },
                    "variableId": {
                      "required": true,
                      "description": "The GTM Variable ID.",
                      "location": "path",
                      "type": "string"
                    },
                    "containerId": {
                      "required": true,
                      "location": "path",
                      "description": "The GTM Container ID.",
                      "type": "string"
                    }
                  },
                  "description": "Deletes a GTM Variable.",
                  "id": "tagmanager.accounts.containers.variables.delete",
                  "parameterOrder": [
                    "accountId",
                    "containerId",
                    "variableId"
                  ],
                  "flatPath": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/variables/{variableId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containers"
                  ],
                  "httpMethod": "DELETE",
                  "path": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/variables/{variableId}"
                },
                "list": {
                  "description": "Lists all GTM Variables of a Container.",
                  "httpMethod": "GET",
                  "id": "tagmanager.accounts.containers.variables.list",
                  "path": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/variables",
                  "flatPath": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/variables",
                  "parameterOrder": [
                    "accountId",
                    "containerId"
                  ],
                  "parameters": {
                    "containerId": {
                      "description": "The GTM Container ID.",
                      "location": "path",
                      "type": "string",
                      "required": true
                    },
                    "accountId": {
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "description": "The GTM Account ID."
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containers",
                    "https://www.googleapis.com/auth/tagmanager.readonly"
                  ],
                  "response": {
                    "$ref": "ListVariablesResponse"
                  }
                },
                "get": {
                  "flatPath": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/variables/{variableId}",
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "accountId",
                    "containerId",
                    "variableId"
                  ],
                  "parameters": {
                    "accountId": {
                      "location": "path",
                      "type": "string",
                      "description": "The GTM Account ID.",
                      "required": true
                    },
                    "variableId": {
                      "type": "string",
                      "required": true,
                      "description": "The GTM Variable ID.",
                      "location": "path"
                    },
                    "containerId": {
                      "required": true,
                      "description": "The GTM Container ID.",
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "description": "Gets a GTM Variable.",
                  "path": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/variables/{variableId}",
                  "response": {
                    "$ref": "Variable"
                  },
                  "id": "tagmanager.accounts.containers.variables.get",
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containers",
                    "https://www.googleapis.com/auth/tagmanager.readonly"
                  ]
                },
                "create": {
                  "parameterOrder": [
                    "accountId",
                    "containerId"
                  ],
                  "request": {
                    "$ref": "Variable"
                  },
                  "flatPath": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/variables",
                  "path": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/variables",
                  "parameters": {
                    "accountId": {
                      "type": "string",
                      "required": true,
                      "description": "The GTM Account ID.",
                      "location": "path"
                    },
                    "containerId": {
                      "location": "path",
                      "type": "string",
                      "required": true,
                      "description": "The GTM Container ID."
                    }
                  },
                  "id": "tagmanager.accounts.containers.variables.create",
                  "response": {
                    "$ref": "Variable"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containers"
                  ],
                  "description": "Creates a GTM Variable.",
                  "httpMethod": "POST"
                },
                "update": {
                  "request": {
                    "$ref": "Variable"
                  },
                  "description": "Updates a GTM Variable.",
                  "httpMethod": "PUT",
                  "parameters": {
                    "accountId": {
                      "description": "The GTM Account ID.",
                      "type": "string",
                      "location": "path",
                      "required": true
                    },
                    "containerId": {
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "description": "The GTM Container ID."
                    },
                    "fingerprint": {
                      "type": "string",
                      "description": "When provided, this fingerprint must match the fingerprint of the variable in storage.",
                      "location": "query"
                    },
                    "variableId": {
                      "required": true,
                      "location": "path",
                      "description": "The GTM Variable ID.",
                      "type": "string"
                    }
                  },
                  "flatPath": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/variables/{variableId}",
                  "path": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/variables/{variableId}",
                  "id": "tagmanager.accounts.containers.variables.update",
                  "response": {
                    "$ref": "Variable"
                  },
                  "parameterOrder": [
                    "accountId",
                    "containerId",
                    "variableId"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containers"
                  ]
                }
              }
            },
            "environments": {
              "methods": {
                "list": {
                  "response": {
                    "$ref": "ListEnvironmentsResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containers",
                    "https://www.googleapis.com/auth/tagmanager.readonly"
                  ],
                  "description": "Lists all GTM Environments of a GTM Container.",
                  "parameters": {
                    "containerId": {
                      "description": "The GTM Container ID.",
                      "required": true,
                      "type": "string",
                      "location": "path"
                    },
                    "accountId": {
                      "description": "The GTM Account ID.",
                      "type": "string",
                      "location": "path",
                      "required": true
                    }
                  },
                  "path": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/environments",
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "accountId",
                    "containerId"
                  ],
                  "id": "tagmanager.accounts.containers.environments.list",
                  "flatPath": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/environments"
                },
                "create": {
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containers"
                  ],
                  "path": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/environments",
                  "httpMethod": "POST",
                  "parameters": {
                    "accountId": {
                      "description": "The GTM Account ID.",
                      "location": "path",
                      "type": "string",
                      "required": true
                    },
                    "containerId": {
                      "type": "string",
                      "required": true,
                      "description": "The GTM Container ID.",
                      "location": "path"
                    }
                  },
                  "parameterOrder": [
                    "accountId",
                    "containerId"
                  ],
                  "request": {
                    "$ref": "Environment"
                  },
                  "flatPath": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/environments",
                  "description": "Creates a GTM Environment.",
                  "response": {
                    "$ref": "Environment"
                  },
                  "id": "tagmanager.accounts.containers.environments.create"
                },
                "update": {
                  "parameters": {
                    "environmentId": {
                      "description": "The GTM Environment ID.",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    },
                    "containerId": {
                      "description": "The GTM Container ID.",
                      "required": true,
                      "location": "path",
                      "type": "string"
                    },
                    "fingerprint": {
                      "description": "When provided, this fingerprint must match the fingerprint of the environment in storage.",
                      "type": "string",
                      "location": "query"
                    },
                    "accountId": {
                      "description": "The GTM Account ID.",
                      "required": true,
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "response": {
                    "$ref": "Environment"
                  },
                  "id": "tagmanager.accounts.containers.environments.update",
                  "path": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/environments/{environmentId}",
                  "httpMethod": "PUT",
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containers"
                  ],
                  "request": {
                    "$ref": "Environment"
                  },
                  "description": "Updates a GTM Environment.",
                  "parameterOrder": [
                    "accountId",
                    "containerId",
                    "environmentId"
                  ],
                  "flatPath": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/environments/{environmentId}"
                },
                "delete": {
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containers"
                  ],
                  "description": "Deletes a GTM Environment.",
                  "parameterOrder": [
                    "accountId",
                    "containerId",
                    "environmentId"
                  ],
                  "path": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/environments/{environmentId}",
                  "httpMethod": "DELETE",
                  "parameters": {
                    "containerId": {
                      "description": "The GTM Container ID.",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    },
                    "environmentId": {
                      "location": "path",
                      "type": "string",
                      "required": true,
                      "description": "The GTM Environment ID."
                    },
                    "accountId": {
                      "required": true,
                      "location": "path",
                      "type": "string",
                      "description": "The GTM Account ID."
                    }
                  },
                  "flatPath": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/environments/{environmentId}",
                  "id": "tagmanager.accounts.containers.environments.delete"
                },
                "get": {
                  "parameterOrder": [
                    "accountId",
                    "containerId",
                    "environmentId"
                  ],
                  "flatPath": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/environments/{environmentId}",
                  "description": "Gets a GTM Environment.",
                  "httpMethod": "GET",
                  "path": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/environments/{environmentId}",
                  "response": {
                    "$ref": "Environment"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containers",
                    "https://www.googleapis.com/auth/tagmanager.readonly"
                  ],
                  "id": "tagmanager.accounts.containers.environments.get",
                  "parameters": {
                    "accountId": {
                      "description": "The GTM Account ID.",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    },
                    "containerId": {
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "description": "The GTM Container ID."
                    },
                    "environmentId": {
                      "description": "The GTM Environment ID.",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    }
                  }
                }
              }
            },
            "reauthorize_environments": {
              "methods": {
                "update": {
                  "id": "tagmanager.accounts.containers.reauthorize_environments.update",
                  "request": {
                    "$ref": "Environment"
                  },
                  "flatPath": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/reauthorize_environments/{environmentId}",
                  "parameterOrder": [
                    "accountId",
                    "containerId",
                    "environmentId"
                  ],
                  "path": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/reauthorize_environments/{environmentId}",
                  "response": {
                    "$ref": "Environment"
                  },
                  "parameters": {
                    "containerId": {
                      "description": "The GTM Container ID.",
                      "required": true,
                      "type": "string",
                      "location": "path"
                    },
                    "accountId": {
                      "required": true,
                      "description": "The GTM Account ID.",
                      "type": "string",
                      "location": "path"
                    },
                    "environmentId": {
                      "description": "The GTM Environment ID.",
                      "type": "string",
                      "location": "path",
                      "required": true
                    }
                  },
                  "description": "Re-generates the authorization code for a GTM Environment.",
                  "httpMethod": "PUT",
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.publish"
                  ]
                }
              }
            },
            "folders": {
              "methods": {
                "delete": {
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containers"
                  ],
                  "description": "Deletes a GTM Folder.",
                  "path": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/folders/{folderId}",
                  "id": "tagmanager.accounts.containers.folders.delete",
                  "parameterOrder": [
                    "accountId",
                    "containerId",
                    "folderId"
                  ],
                  "httpMethod": "DELETE",
                  "parameters": {
                    "folderId": {
                      "description": "The GTM Folder ID.",
                      "required": true,
                      "type": "string",
                      "location": "path"
                    },
                    "containerId": {
                      "required": true,
                      "description": "The GTM Container ID.",
                      "location": "path",
                      "type": "string"
                    },
                    "accountId": {
                      "location": "path",
                      "description": "The GTM Account ID.",
                      "type": "string",
                      "required": true
                    }
                  },
                  "flatPath": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/folders/{folderId}"
                },
                "list": {
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containers",
                    "https://www.googleapis.com/auth/tagmanager.readonly"
                  ],
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "ListFoldersResponse"
                  },
                  "parameterOrder": [
                    "accountId",
                    "containerId"
                  ],
                  "parameters": {
                    "accountId": {
                      "location": "path",
                      "description": "The GTM Account ID.",
                      "type": "string",
                      "required": true
                    },
                    "containerId": {
                      "required": true,
                      "type": "string",
                      "description": "The GTM Container ID.",
                      "location": "path"
                    }
                  },
                  "path": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/folders",
                  "id": "tagmanager.accounts.containers.folders.list",
                  "description": "Lists all GTM Folders of a Container.",
                  "flatPath": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/folders"
                },
                "get": {
                  "flatPath": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/folders/{folderId}",
                  "parameters": {
                    "accountId": {
                      "description": "The GTM Account ID.",
                      "location": "path",
                      "type": "string",
                      "required": true
                    },
                    "containerId": {
                      "location": "path",
                      "description": "The GTM Container ID.",
                      "required": true,
                      "type": "string"
                    },
                    "folderId": {
                      "type": "string",
                      "description": "The GTM Folder ID.",
                      "required": true,
                      "location": "path"
                    }
                  },
                  "id": "tagmanager.accounts.containers.folders.get",
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containers",
                    "https://www.googleapis.com/auth/tagmanager.readonly"
                  ],
                  "parameterOrder": [
                    "accountId",
                    "containerId",
                    "folderId"
                  ],
                  "description": "Gets a GTM Folder.",
                  "path": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/folders/{folderId}",
                  "response": {
                    "$ref": "Folder"
                  }
                },
                "create": {
                  "parameters": {
                    "accountId": {
                      "location": "path",
                      "description": "The GTM Account ID.",
                      "type": "string",
                      "required": true
                    },
                    "containerId": {
                      "location": "path",
                      "type": "string",
                      "description": "The GTM Container ID.",
                      "required": true
                    }
                  },
                  "description": "Creates a GTM Folder.",
                  "id": "tagmanager.accounts.containers.folders.create",
                  "response": {
                    "$ref": "Folder"
                  },
                  "path": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/folders",
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "Folder"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containers"
                  ],
                  "flatPath": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/folders",
                  "parameterOrder": [
                    "accountId",
                    "containerId"
                  ]
                },
                "update": {
                  "parameterOrder": [
                    "accountId",
                    "containerId",
                    "folderId"
                  ],
                  "parameters": {
                    "containerId": {
                      "location": "path",
                      "required": true,
                      "description": "The GTM Container ID.",
                      "type": "string"
                    },
                    "fingerprint": {
                      "location": "query",
                      "description": "When provided, this fingerprint must match the fingerprint of the folder in storage.",
                      "type": "string"
                    },
                    "folderId": {
                      "description": "The GTM Folder ID.",
                      "required": true,
                      "type": "string",
                      "location": "path"
                    },
                    "accountId": {
                      "description": "The GTM Account ID.",
                      "type": "string",
                      "required": true,
                      "location": "path"
                    }
                  },
                  "response": {
                    "$ref": "Folder"
                  },
                  "httpMethod": "PUT",
                  "request": {
                    "$ref": "Folder"
                  },
                  "description": "Updates a GTM Folder.",
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containers"
                  ],
                  "path": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/folders/{folderId}",
                  "id": "tagmanager.accounts.containers.folders.update",
                  "flatPath": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/folders/{folderId}"
                }
              },
              "resources": {
                "entities": {
                  "methods": {
                    "list": {
                      "parameters": {
                        "folderId": {
                          "location": "path",
                          "description": "The GTM Folder ID.",
                          "required": true,
                          "type": "string"
                        },
                        "containerId": {
                          "type": "string",
                          "required": true,
                          "location": "path",
                          "description": "The GTM Container ID."
                        },
                        "accountId": {
                          "description": "The GTM Account ID.",
                          "type": "string",
                          "required": true,
                          "location": "path"
                        }
                      },
                      "description": "List all entities in a GTM Folder.",
                      "id": "tagmanager.accounts.containers.folders.entities.list",
                      "response": {
                        "$ref": "FolderEntities"
                      },
                      "httpMethod": "GET",
                      "path": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/folders/{folderId}/entities",
                      "scopes": [
                        "https://www.googleapis.com/auth/tagmanager.edit.containers",
                        "https://www.googleapis.com/auth/tagmanager.readonly"
                      ],
                      "flatPath": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/folders/{folderId}/entities",
                      "parameterOrder": [
                        "accountId",
                        "containerId",
                        "folderId"
                      ]
                    }
                  }
                }
              }
            }
          },
          "methods": {
            "delete": {
              "description": "Deletes a Container.",
              "httpMethod": "DELETE",
              "parameterOrder": [
                "accountId",
                "containerId"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/tagmanager.delete.containers"
              ],
              "flatPath": "tagmanager/v1/accounts/{accountId}/containers/{containerId}",
              "id": "tagmanager.accounts.containers.delete",
              "parameters": {
                "containerId": {
                  "location": "path",
                  "description": "The GTM Container ID.",
                  "type": "string",
                  "required": true
                },
                "accountId": {
                  "description": "The GTM Account ID.",
                  "required": true,
                  "location": "path",
                  "type": "string"
                }
              },
              "path": "tagmanager/v1/accounts/{accountId}/containers/{containerId}"
            },
            "get": {
              "parameterOrder": [
                "accountId",
                "containerId"
              ],
              "response": {
                "$ref": "Container"
              },
              "path": "tagmanager/v1/accounts/{accountId}/containers/{containerId}",
              "scopes": [
                "https://www.googleapis.com/auth/tagmanager.edit.containers",
                "https://www.googleapis.com/auth/tagmanager.readonly"
              ],
              "httpMethod": "GET",
              "description": "Gets a Container.",
              "id": "tagmanager.accounts.containers.get",
              "parameters": {
                "containerId": {
                  "type": "string",
                  "description": "The GTM Container ID.",
                  "required": true,
                  "location": "path"
                },
                "accountId": {
                  "description": "The GTM Account ID.",
                  "location": "path",
                  "type": "string",
                  "required": true
                }
              },
              "flatPath": "tagmanager/v1/accounts/{accountId}/containers/{containerId}"
            },
            "list": {
              "flatPath": "tagmanager/v1/accounts/{accountId}/containers",
              "description": "Lists all Containers that belongs to a GTM Account.",
              "httpMethod": "GET",
              "path": "tagmanager/v1/accounts/{accountId}/containers",
              "id": "tagmanager.accounts.containers.list",
              "parameters": {
                "accountId": {
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "description": "The GTM Account ID."
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/tagmanager.edit.containers",
                "https://www.googleapis.com/auth/tagmanager.readonly"
              ],
              "response": {
                "$ref": "ListContainersResponse"
              },
              "parameterOrder": [
                "accountId"
              ]
            },
            "create": {
              "parameterOrder": [
                "accountId"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/tagmanager.edit.containers"
              ],
              "flatPath": "tagmanager/v1/accounts/{accountId}/containers",
              "path": "tagmanager/v1/accounts/{accountId}/containers",
              "request": {
                "$ref": "Container"
              },
              "description": "Creates a Container.",
              "httpMethod": "POST",
              "id": "tagmanager.accounts.containers.create",
              "response": {
                "$ref": "Container"
              },
              "parameters": {
                "accountId": {
                  "required": true,
                  "description": "The GTM Account ID.",
                  "type": "string",
                  "location": "path"
                }
              }
            },
            "update": {
              "flatPath": "tagmanager/v1/accounts/{accountId}/containers/{containerId}",
              "parameterOrder": [
                "accountId",
                "containerId"
              ],
              "description": "Updates a Container.",
              "path": "tagmanager/v1/accounts/{accountId}/containers/{containerId}",
              "request": {
                "$ref": "Container"
              },
              "parameters": {
                "accountId": {
                  "type": "string",
                  "location": "path",
                  "description": "The GTM Account ID.",
                  "required": true
                },
                "containerId": {
                  "location": "path",
                  "description": "The GTM Container ID.",
                  "required": true,
                  "type": "string"
                },
                "fingerprint": {
                  "type": "string",
                  "location": "query",
                  "description": "When provided, this fingerprint must match the fingerprint of the container in storage."
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/tagmanager.edit.containers"
              ],
              "response": {
                "$ref": "Container"
              },
              "id": "tagmanager.accounts.containers.update",
              "httpMethod": "PUT"
            }
          }
        }
      }
    }
  },
  "revision": "20260902",
  "basePath": "",
  "title": "Tag Manager API",
  "canonicalName": "Tag Manager",
  "batchPath": "batch",
  "kind": "discovery#restDescription",
  "schemas": {
    "ListContainersResponse": {
      "id": "ListContainersResponse",
      "type": "object",
      "properties": {
        "containers": {
          "type": "array",
          "description": "All Containers of a GTM Account.",
          "items": {
            "$ref": "Container"
          }
        }
      },
      "description": "List Containers Response."
    },
    "Parameter": {
      "description": "Represents a Google Tag Manager Parameter.",
      "properties": {
        "map": {
          "description": "This map parameter's parameters (must have keys; keys must be unique).",
          "type": "array",
          "items": {
            "$ref": "Parameter"
          }
        },
        "list": {
          "type": "array",
          "description": "This list parameter's parameters (keys will be ignored).",
          "items": {
            "$ref": "Parameter"
          }
        },
        "type": {
          "type": "string",
          "enumDescriptions": [
            "May include variable references.",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "template",
            "integer",
            "boolean",
            "list",
            "map",
            "triggerReference",
            "tagReference"
          ],
          "description": "The parameter type. Valid values are: - boolean: The value represents a boolean, represented as 'true' or 'false' - integer: The value represents a 64-bit signed integer value, in base 10 - list: A list of parameters should be specified - map: A map of parameters should be specified - template: The value represents any text; this can include variable references (even variable references that might return non-string types) - trigger_reference: The value represents a trigger, represented as the trigger id - tag_reference: The value represents a tag, represented as the tag name "
        },
        "key": {
          "type": "string",
          "description": "The named key that uniquely identifies a parameter. Required for top-level parameters, as well as map values. Ignored for list values."
        },
        "value": {
          "description": "A parameter's value (may contain variable references). as appropriate to the specified type.",
          "type": "string"
        }
      },
      "id": "Parameter",
      "type": "object"
    },
    "Variable": {
      "id": "Variable",
      "properties": {
        "disablingTriggerId": {
          "items": {
            "type": "string"
          },
          "description": "For mobile containers only: A list of trigger IDs for disabling conditional variables; the variable is enabled if one of the enabling trigger is true while all the disabling trigger are false. Treated as an unordered set.",
          "type": "array"
        },
        "fingerprint": {
          "description": "The fingerprint of the GTM Variable as computed at storage time. This value is recomputed whenever the variable is modified.",
          "type": "string"
        },
        "type": {
          "type": "string",
          "description": "GTM Variable Type."
        },
        "scheduleEndMs": {
          "format": "int64",
          "description": "The end timestamp in milliseconds to schedule a variable.",
          "type": "string"
        },
        "parentFolderId": {
          "description": "Parent folder id.",
          "type": "string"
        },
        "name": {
          "description": "Variable display name.",
          "type": "string"
        },
        "notes": {
          "description": "User notes on how to apply this variable in the container.",
          "type": "string"
        },
        "variableId": {
          "type": "string",
          "description": "The Variable ID uniquely identifies the GTM Variable."
        },
        "scheduleStartMs": {
          "format": "int64",
          "description": "The start timestamp in milliseconds to schedule a variable.",
          "type": "string"
        },
        "parameter": {
          "description": "The variable's parameters.",
          "type": "array",
          "items": {
            "$ref": "Parameter"
          }
        },
        "accountId": {
          "description": "GTM Account ID.",
          "type": "string"
        },
        "enablingTriggerId": {
          "items": {
            "type": "string"
          },
          "description": "For mobile containers only: A list of trigger IDs for enabling conditional variables; the variable is enabled if one of the enabling triggers is true while all the disabling triggers are false. Treated as an unordered set.",
          "type": "array"
        },
        "containerId": {
          "type": "string",
          "description": "GTM Container ID."
        }
      },
      "type": "object",
      "description": "Represents a Google Tag Manager Variable."
    },
    "ContainerVersionHeader": {
      "type": "object",
      "id": "ContainerVersionHeader",
      "description": "Represents a Google Tag Manager Container Version Header.",
      "properties": {
        "numTriggers": {
          "description": "Number of triggers in the container version.",
          "type": "string"
        },
        "accountId": {
          "type": "string",
          "description": "GTM Account ID."
        },
        "numTags": {
          "description": "Number of tags in the container version.",
          "type": "string"
        },
        "containerVersionId": {
          "description": "The Container Version ID uniquely identifies the GTM Container Version.",
          "type": "string"
        },
        "deleted": {
          "description": "A value of true indicates this container version has been deleted.",
          "type": "boolean"
        },
        "name": {
          "description": "Container version display name.",
          "type": "string"
        },
        "numVariables": {
          "type": "string",
          "description": "Number of variables in the container version."
        },
        "containerId": {
          "type": "string",
          "description": "GTM Container ID."
        }
      }
    },
    "Condition": {
      "description": "Represents a predicate.",
      "id": "Condition",
      "properties": {
        "parameter": {
          "description": "A list of named parameters (key/value), depending on the condition's type. Notes: - For binary operators, include parameters named arg0 and arg1 for specifying the left and right operands, respectively. - At this time, the left operand (arg0) must be a reference to a variable. - For case-insensitive Regex matching, include a boolean parameter named ignore_case that is set to true. If not specified or set to any other value, the matching will be case sensitive. - To negate an operator, include a boolean parameter named negate boolean parameter that is set to true. ",
          "items": {
            "$ref": "Parameter"
          },
          "type": "array"
        },
        "type": {
          "description": "The type of operator for this condition.",
          "type": "string",
          "enum": [
            "equals",
            "contains",
            "startsWith",
            "endsWith",
            "matchRegex",
            "greater",
            "greaterOrEquals",
            "less",
            "lessOrEquals",
            "cssSelector",
            "urlMatches"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ]
        }
      },
      "type": "object"
    },
    "Folder": {
      "type": "object",
      "properties": {
        "containerId": {
          "description": "GTM Container ID.",
          "type": "string"
        },
        "name": {
          "description": "Folder display name.",
          "type": "string"
        },
        "accountId": {
          "type": "string",
          "description": "GTM Account ID."
        },
        "folderId": {
          "description": "The Folder ID uniquely identifies the GTM Folder.",
          "type": "string"
        },
        "fingerprint": {
          "type": "string",
          "description": "The fingerprint of the GTM Folder as computed at storage time. This value is recomputed whenever the folder is modified."
        }
      },
      "description": "Represents a Google Tag Manager Folder.",
      "id": "Folder"
    },
    "ListEnvironmentsResponse": {
      "properties": {
        "environments": {
          "description": "All Environments of a GTM Container.",
          "type": "array",
          "items": {
            "$ref": "Environment"
          }
        }
      },
      "type": "object",
      "id": "ListEnvironmentsResponse",
      "description": "List Environments Response."
    },
    "AccountAccess": {
      "properties": {
        "permission": {
          "items": {
            "type": "string",
            "enum": [
              "read",
              "edit",
              "publish",
              "delete",
              "manage",
              "editWorkspace"
            ],
            "enumDescriptions": [
              "",
              "",
              "",
              "",
              "",
              ""
            ]
          },
          "description": "List of Account permissions. Valid account permissions are read and manage.",
          "type": "array"
        }
      },
      "description": "Defines the Google Tag Manager Account access permissions.",
      "type": "object",
      "id": "AccountAccess"
    },
    "ListAccountUsersResponse": {
      "properties": {
        "userAccess": {
          "description": "All GTM AccountUsers of a GTM Account.",
          "items": {
            "$ref": "UserAccess"
          },
          "type": "array"
        }
      },
      "description": "List AccountUsers Response.",
      "id": "ListAccountUsersResponse",
      "type": "object"
    },
    "TeardownTag": {
      "type": "object",
      "properties": {
        "tagName": {
          "description": "The name of the teardown tag.",
          "type": "string"
        },
        "stopTeardownOnFailure": {
          "description": "If true, fire the teardown tag if and only if the main tag fires successfully. If false, fire the teardown tag regardless of main tag firing status.",
          "type": "boolean"
        }
      },
      "id": "TeardownTag"
    },
    "PublishContainerVersionResponse": {
      "description": "Publish container version response.",
      "type": "object",
      "properties": {
        "compilerError": {
          "type": "boolean",
          "description": "Compiler errors or not."
        },
        "containerVersion": {
          "$ref": "ContainerVersion",
          "description": "The container version created."
        }
      },
      "id": "PublishContainerVersionResponse"
    },
    "ContainerVersion": {
      "id": "ContainerVersion",
      "description": "Represents a Google Tag Manager Container Version.",
      "properties": {
        "accountId": {
          "type": "string",
          "description": "GTM Account ID."
        },
        "fingerprint": {
          "description": "The fingerprint of the GTM Container Version as computed at storage time. This value is recomputed whenever the container version is modified.",
          "type": "string"
        },
        "folder": {
          "items": {
            "$ref": "Folder"
          },
          "type": "array",
          "description": "The folders in the container that this version was taken from."
        },
        "notes": {
          "type": "string",
          "description": "User notes on how to apply this container version in the container."
        },
        "name": {
          "type": "string",
          "description": "Container version display name."
        },
        "variable": {
          "type": "array",
          "description": "The variables in the container that this version was taken from.",
          "items": {
            "$ref": "Variable"
          }
        },
        "container": {
          "description": "The container that this version was taken from.",
          "$ref": "Container"
        },
        "trigger": {
          "type": "array",
          "items": {
            "$ref": "Trigger"
          },
          "description": "The triggers in the container that this version was taken from."
        },
        "containerVersionId": {
          "description": "The Container Version ID uniquely identifies the GTM Container Version.",
          "type": "string"
        },
        "deleted": {
          "description": "A value of true indicates this container version has been deleted.",
          "type": "boolean"
        },
        "tag": {
          "type": "array",
          "description": "The tags in the container that this version was taken from.",
          "items": {
            "$ref": "Tag"
          }
        },
        "containerId": {
          "description": "GTM Container ID.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "CreateContainerVersionResponse": {
      "type": "object",
      "id": "CreateContainerVersionResponse",
      "properties": {
        "containerVersion": {
          "$ref": "ContainerVersion",
          "description": "The container version created."
        },
        "compilerError": {
          "type": "boolean",
          "description": "Compiler errors or not."
        }
      },
      "description": "Create container versions response."
    },
    "FolderEntities": {
      "id": "FolderEntities",
      "description": "Represents a Google Tag Manager Folder's contents.",
      "type": "object",
      "properties": {
        "trigger": {
          "type": "array",
          "items": {
            "$ref": "Trigger"
          },
          "description": "The list of triggers inside the folder."
        },
        "variable": {
          "description": "The list of variables inside the folder.",
          "type": "array",
          "items": {
            "$ref": "Variable"
          }
        },
        "tag": {
          "items": {
            "$ref": "Tag"
          },
          "type": "array",
          "description": "The list of tags inside the folder."
        }
      }
    },
    "Container": {
      "properties": {
        "timeZoneCountryId": {
          "type": "string",
          "description": "Container Country ID."
        },
        "name": {
          "description": "Container display name.",
          "type": "string"
        },
        "notes": {
          "type": "string",
          "description": "Container Notes."
        },
        "enabledBuiltInVariable": {
          "description": "List of enabled built-in variables. Valid values include: pageUrl, pageHostname, pagePath, referrer, event, clickElement, clickClasses, clickId, clickTarget, clickUrl, clickText, formElement, formClasses, formId, formTarget, formUrl, formText, errorMessage, errorUrl, errorLine, newHistoryFragment, oldHistoryFragment, newHistoryState, oldHistoryState, historySource, containerVersion, debugMode, randomNumber, containerId.",
          "items": {
            "type": "string",
            "enum": [
              "pageUrl",
              "pageHostname",
              "pagePath",
              "referrer",
              "event",
              "clickElement",
              "clickClasses",
              "clickId",
              "clickTarget",
              "clickUrl",
              "clickText",
              "firstPartyServingUrl",
              "formElement",
              "formClasses",
              "formId",
              "formTarget",
              "formUrl",
              "formText",
              "environmentName",
              "errorMessage",
              "errorUrl",
              "errorLine",
              "newHistoryUrl",
              "oldHistoryUrl",
              "newHistoryFragment",
              "oldHistoryFragment",
              "newHistoryState",
              "oldHistoryState",
              "historySource",
              "containerVersion",
              "debugMode",
              "randomNumber",
              "containerId",
              "appId",
              "appName",
              "appVersionCode",
              "appVersionName",
              "language",
              "osVersion",
              "platform",
              "sdkVersion",
              "deviceName",
              "resolution",
              "advertiserId",
              "advertisingTrackingEnabled",
              "htmlId",
              "ampBrowserLanguage",
              "ampCanonicalPath",
              "ampCanonicalUrl",
              "ampCanonicalHost",
              "ampReferrer",
              "ampTitle",
              "ampClientId",
              "ampClientTimezone",
              "ampClientTimestamp",
              "ampClientScreenWidth",
              "ampClientScreenHeight",
              "ampClientScrollX",
              "ampClientScrollY",
              "ampClientMaxScrollX",
              "ampClientMaxScrollY",
              "ampTotalEngagedTime",
              "ampPageViewId",
              "ampPageLoadTime",
              "ampPageDownloadTime",
              "ampGtmEvent",
              "eventName",
              "firebaseEventParameterCampaign",
              "firebaseEventParameterCampaignAclid",
              "firebaseEventParameterCampaignAnid",
              "firebaseEventParameterCampaignClickTimestamp",
              "firebaseEventParameterCampaignContent",
              "firebaseEventParameterCampaignCp1",
              "firebaseEventParameterCampaignGclid",
              "firebaseEventParameterCampaignSource",
              "firebaseEventParameterCampaignTerm",
              "firebaseEventParameterCurrency",
              "firebaseEventParameterDynamicLinkAcceptTime",
              "firebaseEventParameterDynamicLinkLinkid",
              "firebaseEventParameterNotificationMessageDeviceTime",
              "firebaseEventParameterNotificationMessageId",
              "firebaseEventParameterNotificationMessageName",
              "firebaseEventParameterNotificationMessageTime",
              "firebaseEventParameterNotificationTopic",
              "firebaseEventParameterPreviousAppVersion",
              "firebaseEventParameterPreviousOsVersion",
              "firebaseEventParameterPrice",
              "firebaseEventParameterProductId",
              "firebaseEventParameterQuantity",
              "firebaseEventParameterValue",
              "videoProvider",
              "videoUrl",
              "videoTitle",
              "videoDuration",
              "videoPercent",
              "videoVisible",
              "videoStatus",
              "videoCurrentTime",
              "scrollDepthThreshold",
              "scrollDepthUnits",
              "scrollDepthDirection",
              "elementVisibilityRatio",
              "elementVisibilityTime",
              "elementVisibilityFirstTime",
              "elementVisibilityRecentTime",
              "analyticsClientId",
              "analyticsSessionId",
              "analyticsSessionNumber"
            ],
            "enumDescriptions": [
              "",
              "",
              "",
              "",
              "For web or mobile.",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "For web or mobile.",
              "",
              "For web or mobile.",
              "For web or mobile.",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
[...]
