{
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "title": "Tag Manager API",
  "batchPath": "batch",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/tagmanager.publish": {
          "description": "Publish your Google Tag Manager container versions"
        },
        "https://www.googleapis.com/auth/tagmanager.edit.containerversions": {
          "description": "Manage your Google Tag Manager container versions"
        },
        "https://www.googleapis.com/auth/tagmanager.edit.containers": {
          "description": "Manage your Google Tag Manager container and its subcomponents, excluding versioning and publishing"
        },
        "https://www.googleapis.com/auth/tagmanager.manage.users": {
          "description": "Manage user permissions of your Google Tag Manager account and container"
        },
        "https://www.googleapis.com/auth/tagmanager.delete.containers": {
          "description": "Delete your Google Tag Manager containers"
        },
        "https://www.googleapis.com/auth/tagmanager.manage.accounts": {
          "description": "View and manage your Google Tag Manager accounts"
        },
        "https://www.googleapis.com/auth/tagmanager.readonly": {
          "description": "View your Google Tag Manager container and its subcomponents"
        }
      }
    }
  },
  "mtlsRootUrl": "https://tagmanager.mtls.googleapis.com/",
  "protocol": "rest",
  "discoveryVersion": "v1",
  "ownerName": "Google",
  "rootUrl": "https://tagmanager.googleapis.com/",
  "parameters": {
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "$.xgafv": {
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query",
      "enum": [
        "1",
        "2"
      ],
      "description": "V1 error format."
    },
    "uploadType": {
      "type": "string",
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "access_token": {
      "location": "query",
      "description": "OAuth access token.",
      "type": "string"
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "callback": {
      "description": "JSONP",
      "location": "query",
      "type": "string"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "location": "query",
      "type": "string"
    },
    "alt": {
      "default": "json",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "type": "string",
      "location": "query",
      "description": "Data format for response.",
      "enum": [
        "json",
        "media",
        "proto"
      ]
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string",
      "location": "query"
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "type": "boolean",
      "location": "query"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query",
      "type": "string"
    }
  },
  "kind": "discovery#restDescription",
  "basePath": "",
  "baseUrl": "https://tagmanager.googleapis.com/",
  "schemas": {
    "Trigger": {
      "properties": {
        "totalTimeMinMilliseconds": {
          "description": "A visibility trigger minimum total visible time (in milliseconds). Only valid for AMP Visibility trigger.",
          "$ref": "Parameter"
        },
        "parameter": {
          "description": "Additional parameters.",
          "items": {
            "$ref": "Parameter"
          },
          "type": "array"
        },
        "limit": {
          "$ref": "Parameter",
          "description": "Limit of the number of GTM events this Timer Trigger will fire. If no limit is set, we will continue to fire GTM events until the user leaves the page. Only valid for Timer triggers."
        },
        "eventName": {
          "description": "Name of the GTM event that is fired. Only valid for Timer triggers.",
          "$ref": "Parameter"
        },
        "fingerprint": {
          "description": "The fingerprint of the GTM Trigger as computed at storage time. This value is recomputed whenever the trigger is modified.",
          "type": "string"
        },
        "visiblePercentageMax": {
          "$ref": "Parameter",
          "description": "A visibility trigger maximum percent visibility. Only valid for AMP Visibility trigger."
        },
        "verticalScrollPercentageList": {
          "$ref": "Parameter",
          "description": "List of integer percentage values for scroll triggers. The trigger will fire when each percentage is reached when the view is scrolled vertically. Only valid for AMP scroll triggers."
        },
        "containerId": {
          "description": "GTM Container ID.",
          "type": "string"
        },
        "selector": {
          "description": "A click trigger CSS selector (i.e. \"a\", \"button\" etc.). Only valid for AMP Click trigger.",
          "$ref": "Parameter"
        },
        "waitForTagsTimeout": {
          "description": "How long to wait (in milliseconds) for tags to fire when 'waits_for_tags' above evaluates to true. Only valid for Form Submission and Link Click triggers.",
          "$ref": "Parameter"
        },
        "filter": {
          "type": "array",
          "description": "The trigger will only fire iff all Conditions are true.",
          "items": {
            "$ref": "Condition"
          }
        },
        "maxTimerLengthSeconds": {
          "$ref": "Parameter",
          "description": "Max time to fire Timer Events (in seconds). Only valid for AMP Timer trigger."
        },
        "waitForTags": {
          "$ref": "Parameter",
          "description": "Whether or not we should delay the form submissions or link opening until all of the tags have fired (by preventing the default action and later simulating the default action). Only valid for Form Submission and Link Click triggers."
        },
        "triggerId": {
          "description": "The Trigger ID uniquely identifies the GTM Trigger.",
          "type": "string"
        },
        "horizontalScrollPercentageList": {
          "$ref": "Parameter",
          "description": "List of integer percentage values for scroll triggers. The trigger will fire when each percentage is reached when the view is scrolled horizontally. Only valid for AMP scroll triggers."
        },
        "interval": {
          "$ref": "Parameter",
          "description": "Time between triggering recurring Timer Events (in milliseconds). Only valid for Timer triggers."
        },
        "checkValidation": {
          "description": "Whether or not we should only fire tags if the form submit or link click event is not cancelled by some other event handler (e.g. because of validation). Only valid for Form Submission and Link Click triggers.",
          "$ref": "Parameter"
        },
        "customEventFilter": {
          "description": "Used in the case of custom event, which is fired iff all Conditions are true.",
          "type": "array",
          "items": {
            "$ref": "Condition"
          }
        },
        "continuousTimeMinMilliseconds": {
          "description": "A visibility trigger minimum continuous visible time (in milliseconds). Only valid for AMP Visibility trigger.",
          "$ref": "Parameter"
        },
        "uniqueTriggerId": {
          "description": "Globally unique id of the trigger that auto-generates this (a Form Submit, Link Click or Timer listener) if any. Used to make incompatible auto-events work together with trigger filtering based on trigger ids. This value is populated during output generation since the tags implied by triggers don't exist until then. Only valid for Form Submit, Link Click and Timer triggers.",
          "$ref": "Parameter"
        },
        "visibilitySelector": {
          "description": "A visibility trigger CSS selector (i.e. \"#id\"). Only valid for AMP Visibility trigger.",
          "$ref": "Parameter"
        },
        "autoEventFilter": {
          "description": "Used in the case of auto event tracking.",
          "type": "array",
          "items": {
            "$ref": "Condition"
          }
        },
        "accountId": {
          "description": "GTM Account ID.",
          "type": "string"
        },
        "name": {
          "description": "Trigger display name.",
          "type": "string"
        },
        "visiblePercentageMin": {
          "description": "A visibility trigger minimum percent visibility. Only valid for AMP Visibility trigger.",
          "$ref": "Parameter"
        },
        "type": {
          "type": "string",
          "description": "Defines the data layer event that causes this trigger.",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "pageview",
            "domReady",
            "windowLoaded",
            "customEvent",
            "triggerGroup",
            "always",
            "formSubmission",
            "click",
            "linkClick",
            "jsError",
            "historyChange",
            "timer",
            "ampClick",
            "ampTimer",
            "ampScroll",
            "ampVisibility",
            "youTubeVideo",
            "scrollDepth",
            "elementVisibility"
          ]
        },
        "intervalSeconds": {
          "description": "Time between Timer Events to fire (in seconds). Only valid for AMP Timer trigger.",
          "$ref": "Parameter"
        },
        "parentFolderId": {
          "description": "Parent folder id.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "Trigger",
      "description": "Represents a Google Tag Manager Trigger"
    },
    "SetupTag": {
      "type": "object",
      "properties": {
        "tagName": {
          "description": "The name of the setup tag.",
          "type": "string"
        },
        "stopOnSetupFailure": {
          "type": "boolean",
          "description": "If true, fire the main tag if and only if the setup tag fires successfully. If false, fire the main tag regardless of setup tag firing status."
        }
      },
      "id": "SetupTag"
    },
    "ListContainersResponse": {
      "id": "ListContainersResponse",
      "type": "object",
      "properties": {
        "containers": {
          "items": {
            "$ref": "Container"
          },
          "description": "All Containers of a GTM Account.",
          "type": "array"
        }
      },
      "description": "List Containers Response."
    },
    "ListContainerVersionsResponse": {
      "description": "List container versions response.",
      "properties": {
        "containerVersion": {
          "type": "array",
          "items": {
            "$ref": "ContainerVersion"
          },
          "description": "All versions of a GTM Container."
        },
        "containerVersionHeader": {
          "type": "array",
          "items": {
            "$ref": "ContainerVersionHeader"
          },
          "description": "All container version headers of a GTM Container."
        }
      },
      "id": "ListContainerVersionsResponse",
      "type": "object"
    },
    "ContainerVersionHeader": {
      "type": "object",
      "id": "ContainerVersionHeader",
      "description": "Represents a Google Tag Manager Container Version Header.",
      "properties": {
        "accountId": {
          "type": "string",
          "description": "GTM Account ID."
        },
        "deleted": {
          "type": "boolean",
          "description": "A value of true indicates this container version has been deleted."
        },
        "containerId": {
          "description": "GTM Container ID.",
          "type": "string"
        },
        "containerVersionId": {
          "type": "string",
          "description": "The Container Version ID uniquely identifies the GTM Container Version."
        },
        "name": {
          "description": "Container version display name.",
          "type": "string"
        },
        "numVariables": {
          "description": "Number of variables in the container version.",
          "type": "string"
        },
        "numTriggers": {
          "description": "Number of triggers in the container version.",
          "type": "string"
        },
        "numTags": {
          "description": "Number of tags in the container version.",
          "type": "string"
        }
      }
    },
    "Account": {
      "properties": {
        "fingerprint": {
          "type": "string",
          "description": "The fingerprint of the GTM Account as computed at storage time. This value is recomputed whenever the account is modified."
        },
        "shareData": {
          "type": "boolean",
          "description": "Whether the account shares data anonymously with Google and others."
        },
        "accountId": {
          "type": "string",
          "description": "The Account ID uniquely identifies the GTM Account."
        },
        "name": {
          "type": "string",
          "description": "Account display name."
        }
      },
      "description": "Represents a Google Tag Manager Account.",
      "id": "Account",
      "type": "object"
    },
    "Environment": {
      "type": "object",
      "properties": {
        "description": {
          "type": "string",
          "description": "The environment description. Can be set or changed only on USER type environments."
        },
        "authorizationCode": {
          "type": "string",
          "description": "The environment authorization code."
        },
        "authorizationTimestampMs": {
          "description": "The last update time-stamp for the authorization code.",
          "format": "int64",
          "type": "string"
        },
        "containerVersionId": {
          "type": "string"
        },
        "environmentId": {
          "description": "GTM Environment ID uniquely identifies the GTM Environment.",
          "type": "string"
        },
        "fingerprint": {
          "description": "The fingerprint of the GTM environment as computed at storage time. This value is recomputed whenever the environment is modified.",
          "type": "string"
        },
        "containerId": {
          "description": "GTM Container ID.",
          "type": "string"
        },
        "accountId": {
          "type": "string",
          "description": "GTM Account ID."
        },
        "enableDebug": {
          "description": "Whether or not to enable debug by default on for the environment.",
          "type": "boolean"
        },
        "url": {
          "type": "string",
          "description": "Default preview page url for the environment."
        },
        "name": {
          "description": "The environment display name. Can be set or changed only on USER type environments.",
          "type": "string"
        },
        "type": {
          "description": "The type of this environment.",
          "enum": [
            "user",
            "live",
            "latest",
            "draft"
          ],
          "enumDescriptions": [
            "Used for user defined environments.",
            "Used for Live environment, which points to the live published container version.",
            "Used for Latest environment, which points to the latest created container version.",
            "Used for Draft environment, which points to the single draft in the container."
          ],
          "type": "string"
        }
      },
      "id": "Environment",
      "description": "Represents a Google Tag Manager Environment. Note that a user can create, delete and update environments of type USER, but can only update the enable_debug and url fields of environments of other types."
    },
    "PublishContainerVersionResponse": {
      "type": "object",
      "id": "PublishContainerVersionResponse",
      "properties": {
        "containerVersion": {
          "$ref": "ContainerVersion",
          "description": "The container version created."
        },
        "compilerError": {
          "type": "boolean",
          "description": "Compiler errors or not."
        }
      },
      "description": "Publish container version response."
    },
    "Variable": {
      "type": "object",
      "id": "Variable",
      "description": "Represents a Google Tag Manager Variable.",
      "properties": {
        "parentFolderId": {
          "description": "Parent folder id.",
          "type": "string"
        },
        "disablingTriggerId": {
          "description": "For mobile containers only: A list of trigger IDs for disabling conditional variables; the variable is enabled if one of the enabling trigger is true while all the disabling trigger are false. Treated as an unordered set.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "variableId": {
          "description": "The Variable ID uniquely identifies the GTM Variable.",
          "type": "string"
        },
        "parameter": {
          "description": "The variable's parameters.",
          "type": "array",
          "items": {
            "$ref": "Parameter"
          }
        },
        "scheduleStartMs": {
          "type": "string",
          "description": "The start timestamp in milliseconds to schedule a variable.",
          "format": "int64"
        },
        "type": {
          "type": "string",
          "description": "GTM Variable Type."
        },
        "fingerprint": {
          "description": "The fingerprint of the GTM Variable as computed at storage time. This value is recomputed whenever the variable is modified.",
          "type": "string"
        },
        "scheduleEndMs": {
          "description": "The end timestamp in milliseconds to schedule a variable.",
          "format": "int64",
          "type": "string"
        },
        "name": {
          "description": "Variable display name.",
          "type": "string"
        },
        "containerId": {
          "description": "GTM Container ID.",
          "type": "string"
        },
        "accountId": {
          "type": "string",
          "description": "GTM Account ID."
        },
        "notes": {
          "description": "User notes on how to apply this variable in the container.",
          "type": "string"
        },
        "enablingTriggerId": {
          "type": "array",
          "description": "For mobile containers only: A list of trigger IDs for enabling conditional variables; the variable is enabled if one of the enabling triggers is true while all the disabling triggers are false. Treated as an unordered set.",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "Container": {
      "properties": {
        "containerId": {
          "type": "string",
          "description": "The Container ID uniquely identifies the GTM Container."
        },
        "enabledBuiltInVariable": {
          "description": "List of enabled built-in variables. Valid values include: pageUrl, pageHostname, pagePath, referrer, event, clickElement, clickClasses, clickId, clickTarget, clickUrl, clickText, formElement, formClasses, formId, formTarget, formUrl, formText, errorMessage, errorUrl, errorLine, newHistoryFragment, oldHistoryFragment, newHistoryState, oldHistoryState, historySource, containerVersion, debugMode, randomNumber, containerId.",
          "type": "array",
          "items": {
            "type": "string",
            "enumDescriptions": [
              "",
              "",
              "",
              "",
              "For web or mobile.",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "For web or mobile.",
              "",
              "For web or mobile.",
              "For web or mobile.",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              ""
            ],
            "enum": [
              "pageUrl",
              "pageHostname",
              "pagePath",
              "referrer",
              "event",
              "clickElement",
              "clickClasses",
              "clickId",
              "clickTarget",
              "clickUrl",
              "clickText",
              "firstPartyServingUrl",
              "formElement",
              "formClasses",
              "formId",
              "formTarget",
              "formUrl",
              "formText",
              "environmentName",
              "errorMessage",
              "errorUrl",
              "errorLine",
              "newHistoryUrl",
              "oldHistoryUrl",
              "newHistoryFragment",
              "oldHistoryFragment",
              "newHistoryState",
              "oldHistoryState",
              "historySource",
              "containerVersion",
              "debugMode",
              "randomNumber",
              "containerId",
              "appId",
              "appName",
              "appVersionCode",
              "appVersionName",
              "language",
              "osVersion",
              "platform",
              "sdkVersion",
              "deviceName",
              "resolution",
              "advertiserId",
              "advertisingTrackingEnabled",
              "htmlId",
              "ampBrowserLanguage",
              "ampCanonicalPath",
              "ampCanonicalUrl",
              "ampCanonicalHost",
              "ampReferrer",
              "ampTitle",
              "ampClientId",
              "ampClientTimezone",
              "ampClientTimestamp",
              "ampClientScreenWidth",
              "ampClientScreenHeight",
              "ampClientScrollX",
              "ampClientScrollY",
              "ampClientMaxScrollX",
              "ampClientMaxScrollY",
              "ampTotalEngagedTime",
              "ampPageViewId",
              "ampPageLoadTime",
              "ampPageDownloadTime",
              "ampGtmEvent",
              "eventName",
              "firebaseEventParameterCampaign",
              "firebaseEventParameterCampaignAclid",
              "firebaseEventParameterCampaignAnid",
              "firebaseEventParameterCampaignClickTimestamp",
              "firebaseEventParameterCampaignContent",
              "firebaseEventParameterCampaignCp1",
              "firebaseEventParameterCampaignGclid",
              "firebaseEventParameterCampaignSource",
              "firebaseEventParameterCampaignTerm",
              "firebaseEventParameterCurrency",
              "firebaseEventParameterDynamicLinkAcceptTime",
              "firebaseEventParameterDynamicLinkLinkid",
              "firebaseEventParameterNotificationMessageDeviceTime",
              "firebaseEventParameterNotificationMessageId",
              "firebaseEventParameterNotificationMessageName",
              "firebaseEventParameterNotificationMessageTime",
              "firebaseEventParameterNotificationTopic",
              "firebaseEventParameterPreviousAppVersion",
              "firebaseEventParameterPreviousOsVersion",
              "firebaseEventParameterPrice",
              "firebaseEventParameterProductId",
              "firebaseEventParameterQuantity",
              "firebaseEventParameterValue",
              "videoProvider",
              "videoUrl",
              "videoTitle",
              "videoDuration",
              "videoPercent",
              "videoVisible",
              "videoStatus",
              "videoCurrentTime",
              "scrollDepthThreshold",
              "scrollDepthUnits",
              "scrollDepthDirection",
              "elementVisibilityRatio",
              "elementVisibilityTime",
              "elementVisibilityFirstTime",
              "elementVisibilityRecentTime",
              "analyticsClientId",
              "analyticsSessionId",
              "analyticsSessionNumber"
            ]
          }
        },
        "name": {
          "description": "Container display name.",
          "type": "string"
        },
        "fingerprint": {
          "description": "The fingerprint of the GTM Container as computed at storage time. This value is recomputed whenever the account is modified.",
          "type": "string"
        },
        "publicId": {
          "type": "string",
          "description": "Container Public ID."
        },
        "usageContext": {
          "description": "List of Usage Contexts for the Container. Valid values include: web, android, ios.",
          "type": "array",
          "items": {
            "enum": [
              "web",
              "android",
              "ios",
              "androidSdk5",
              "iosSdk5",
              "amp"
            ],
            "type": "string",
            "enumDescriptions": [
              "",
              "",
              "",
              "",
              "",
              ""
            ]
          }
        },
        "notes": {
          "description": "Container Notes.",
          "type": "string"
        },
        "timeZoneId": {
          "description": "Container Time Zone ID.",
          "type": "string"
        },
        "domainName": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Optional list of domain names associated with the Container."
        },
        "accountId": {
          "type": "string",
          "description": "GTM Account ID."
        },
        "timeZoneCountryId": {
          "description": "Container Country ID.",
          "type": "string"
        }
      },
      "description": "Represents a Google Tag Manager Container.",
      "id": "Container",
      "type": "object"
    },
    "AccountAccess": {
      "properties": {
        "permission": {
          "items": {
            "enumDescriptions": [
              "",
              "",
              "",
              "",
              "",
              ""
            ],
            "type": "string",
            "enum": [
              "read",
              "edit",
              "publish",
              "delete",
              "manage",
              "editWorkspace"
            ]
          },
          "type": "array",
          "description": "List of Account permissions. Valid account permissions are read and manage."
        }
      },
      "id": "AccountAccess",
      "type": "object",
      "description": "Defines the Google Tag Manager Account access permissions."
    },
    "Parameter": {
      "type": "object",
      "properties": {
        "key": {
          "type": "string",
          "description": "The named key that uniquely identifies a parameter. Required for top-level parameters, as well as map values. Ignored for list values."
        },
        "list": {
          "description": "This list parameter's parameters (keys will be ignored).",
          "type": "array",
          "items": {
            "$ref": "Parameter"
          }
        },
        "type": {
          "enumDescriptions": [
            "May include variable references.",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "template",
            "integer",
            "boolean",
            "list",
            "map",
            "triggerReference",
            "tagReference"
          ],
          "description": "The parameter type. Valid values are: - boolean: The value represents a boolean, represented as 'true' or 'false' - integer: The value represents a 64-bit signed integer value, in base 10 - list: A list of parameters should be specified - map: A map of parameters should be specified - template: The value represents any text; this can include variable references (even variable references that might return non-string types) - trigger_reference: The value represents a trigger, represented as the trigger id - tag_reference: The value represents a tag, represented as the tag name "
        },
        "value": {
          "description": "A parameter's value (may contain variable references). as appropriate to the specified type.",
          "type": "string"
        },
        "map": {
          "items": {
            "$ref": "Parameter"
          },
          "description": "This map parameter's parameters (must have keys; keys must be unique).",
          "type": "array"
        }
      },
      "id": "Parameter",
      "description": "Represents a Google Tag Manager Parameter."
    },
    "ListTriggersResponse": {
      "description": "List triggers response.",
      "type": "object",
      "id": "ListTriggersResponse",
      "properties": {
        "triggers": {
          "items": {
            "$ref": "Trigger"
          },
          "type": "array",
          "description": "All GTM Triggers of a GTM Container."
        }
      }
    },
    "TeardownTag": {
      "id": "TeardownTag",
      "properties": {
        "tagName": {
          "description": "The name of the teardown tag.",
          "type": "string"
        },
        "stopTeardownOnFailure": {
          "description": "If true, fire the teardown tag if and only if the main tag fires successfully. If false, fire the teardown tag regardless of main tag firing status.",
          "type": "boolean"
        }
      },
      "type": "object"
    },
    "ListVariablesResponse": {
      "id": "ListVariablesResponse",
      "properties": {
        "variables": {
          "type": "array",
          "items": {
            "$ref": "Variable"
          },
          "description": "All GTM Variables of a GTM Container."
        }
      },
      "type": "object",
      "description": "List Variables Response."
    },
    "CreateContainerVersionRequestVersionOptions": {
      "properties": {
        "notes": {
          "type": "string",
          "description": "The notes of the container version to be created."
        },
        "name": {
          "type": "string",
          "description": "The name of the container version to be created."
        },
        "quickPreview": {
          "description": "The creation of this version may be for quick preview and shouldn't be saved.",
          "type": "boolean"
        }
      },
      "id": "CreateContainerVersionRequestVersionOptions",
      "description": "Options for new container versions.",
      "type": "object"
    },
    "ContainerVersion": {
      "description": "Represents a Google Tag Manager Container Version.",
      "properties": {
        "accountId": {
          "type": "string",
          "description": "GTM Account ID."
        },
        "tag": {
          "items": {
            "$ref": "Tag"
          },
          "type": "array",
          "description": "The tags in the container that this version was taken from."
        },
        "folder": {
          "description": "The folders in the container that this version was taken from.",
          "items": {
            "$ref": "Folder"
          },
          "type": "array"
        },
        "notes": {
          "description": "User notes on how to apply this container version in the container.",
          "type": "string"
        },
        "containerId": {
          "description": "GTM Container ID.",
          "type": "string"
        },
        "fingerprint": {
          "description": "The fingerprint of the GTM Container Version as computed at storage time. This value is recomputed whenever the container version is modified.",
          "type": "string"
        },
        "deleted": {
          "type": "boolean",
          "description": "A value of true indicates this container version has been deleted."
        },
        "container": {
          "$ref": "Container",
          "description": "The container that this version was taken from."
        },
        "trigger": {
          "type": "array",
          "items": {
            "$ref": "Trigger"
          },
          "description": "The triggers in the container that this version was taken from."
        },
        "variable": {
          "type": "array",
          "items": {
            "$ref": "Variable"
          },
          "description": "The variables in the container that this version was taken from."
        },
        "name": {
          "description": "Container version display name.",
          "type": "string"
        },
        "containerVersionId": {
          "type": "string",
          "description": "The Container Version ID uniquely identifies the GTM Container Version."
        }
      },
      "id": "ContainerVersion",
      "type": "object"
    },
    "ListFoldersResponse": {
      "id": "ListFoldersResponse",
      "description": "List Folders Response.",
      "type": "object",
      "properties": {
        "folders": {
          "description": "All GTM Folders of a GTM Container.",
          "type": "array",
          "items": {
            "$ref": "Folder"
          }
        }
      }
    },
    "ContainerAccess": {
      "description": "Defines the Google Tag Manager Container access permissions.",
      "id": "ContainerAccess",
      "type": "object",
      "properties": {
        "containerId": {
          "description": "GTM Container ID.",
          "type": "string"
        },
        "permission": {
          "type": "array",
          "items": {
            "type": "string",
            "enum": [
              "read",
              "edit",
              "publish",
              "delete",
              "manage",
              "editWorkspace"
            ],
            "enumDescriptions": [
              "",
              "",
              "",
              "",
              "",
              ""
            ]
          },
          "description": "List of Container permissions. Valid container permissions are: read, edit, delete, publish."
        }
      }
    },
    "Condition": {
      "type": "object",
      "properties": {
        "parameter": {
          "type": "array",
          "description": "A list of named parameters (key/value), depending on the condition's type. Notes: - For binary operators, include parameters named arg0 and arg1 for specifying the left and right operands, respectively. - At this time, the left operand (arg0) must be a reference to a variable. - For case-insensitive Regex matching, include a boolean parameter named ignore_case that is set to true. If not specified or set to any other value, the matching will be case sensitive. - To negate an operator, include a boolean parameter named negate boolean parameter that is set to true. ",
          "items": {
            "$ref": "Parameter"
          }
        },
        "type": {
          "enum": [
            "equals",
            "contains",
            "startsWith",
            "endsWith",
            "matchRegex",
            "greater",
            "greaterOrEquals",
            "less",
            "lessOrEquals",
            "cssSelector",
            "urlMatches"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "description": "The type of operator for this condition."
        }
      },
      "id": "Condition",
      "description": "Represents a predicate."
    },
    "Folder": {
      "description": "Represents a Google Tag Manager Folder.",
      "properties": {
        "fingerprint": {
          "type": "string",
          "description": "The fingerprint of the GTM Folder as computed at storage time. This value is recomputed whenever the folder is modified."
        },
        "accountId": {
          "description": "GTM Account ID.",
          "type": "string"
        },
        "folderId": {
          "type": "string",
          "description": "The Folder ID uniquely identifies the GTM Folder."
        },
        "name": {
          "type": "string",
          "description": "Folder display name."
        },
        "containerId": {
          "description": "GTM Container ID.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "Folder"
    },
    "CreateContainerVersionResponse": {
      "type": "object",
      "properties": {
        "compilerError": {
          "type": "boolean",
          "description": "Compiler errors or not."
        },
        "containerVersion": {
          "description": "The container version created.",
          "$ref": "ContainerVersion"
        }
      },
      "id": "CreateContainerVersionResponse",
      "description": "Create container versions response."
    },
    "ListAccountUsersResponse": {
      "id": "ListAccountUsersResponse",
      "description": "List AccountUsers Response.",
      "properties": {
        "userAccess": {
          "items": {
            "$ref": "UserAccess"
          },
          "description": "All GTM AccountUsers of a GTM Account.",
          "type": "array"
        }
      },
      "type": "object"
    },
    "FolderEntities": {
      "id": "FolderEntities",
      "type": "object",
      "description": "Represents a Google Tag Manager Folder's contents.",
      "properties": {
        "variable": {
          "description": "The list of variables inside the folder.",
          "type": "array",
          "items": {
            "$ref": "Variable"
          }
        },
        "trigger": {
          "items": {
            "$ref": "Trigger"
          },
          "type": "array",
          "description": "The list of triggers inside the folder."
        },
        "tag": {
          "items": {
            "$ref": "Tag"
          },
          "type": "array",
          "description": "The list of tags inside the folder."
        }
      }
    },
    "UserAccess": {
      "description": "Represents a user's permissions to an account and its container.",
      "properties": {
        "accountAccess": {
          "description": "GTM Account access permissions.",
          "$ref": "AccountAccess"
        },
        "emailAddress": {
          "description": "User's email address.",
          "type": "string"
        },
        "accountId": {
          "type": "string",
          "description": "GTM Account ID."
        },
        "containerAccess": {
          "items": {
            "$ref": "ContainerAccess"
          },
          "type": "array",
          "description": "GTM Container access permissions."
        },
        "permissionId": {
          "type": "string",
          "description": "Account Permission ID."
        }
      },
      "id": "UserAccess",
      "type": "object"
    },
    "ListAccountsResponse": {
      "description": "List Accounts Response.",
      "properties": {
        "accounts": {
          "type": "array",
          "items": {
            "$ref": "Account"
          },
          "description": "List of GTM Accounts that a user has access to."
        }
      },
      "type": "object",
      "id": "ListAccountsResponse"
    },
    "ListTagsResponse": {
      "description": "List Tags Response.",
      "properties": {
        "tags": {
          "items": {
            "$ref": "Tag"
          },
          "description": "All GTM Tags of a GTM Container.",
          "type": "array"
        }
      },
      "id": "ListTagsResponse",
      "type": "object"
    },
    "Tag": {
      "description": "Represents a Google Tag Manager Tag.",
      "properties": {
        "fingerprint": {
          "description": "The fingerprint of the GTM Tag as computed at storage time. This value is recomputed whenever the tag is modified.",
          "type": "string"
        },
        "paused": {
          "description": "True if the tag is paused.",
          "type": "boolean"
        },
        "firingTriggerId": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Firing trigger IDs. A tag will fire when any of the listed triggers are true and all of its blockingTriggerIds (if any specified) are false."
        },
        "parameter": {
          "type": "array",
          "items": {
            "$ref": "Parameter"
          },
          "description": "The tag's parameters."
        },
        "scheduleStartMs": {
          "description": "The start timestamp in milliseconds to schedule a tag.",
          "type": "string",
          "format": "int64"
        },
        "containerId": {
          "description": "GTM Container ID.",
          "type": "string"
        },
        "scheduleEndMs": {
          "type": "string",
          "format": "int64",
          "description": "The end timestamp in milliseconds to schedule a tag."
        },
        "liveOnly": {
          "type": "boolean",
          "description": "If set to true, this tag will only fire in the live environment (e.g. not in preview or debug mode)."
        },
        "setupTag": {
          "items": {
            "$ref": "SetupTag"
          },
          "description": "The list of setup tags. Currently we only allow one.",
          "type": "array"
        },
        "accountId": {
          "description": "GTM Account ID.",
          "type": "string"
        },
        "tagId": {
          "description": "The Tag ID uniquely identifies the GTM Tag.",
          "type": "string"
        },
        "teardownTag": {
          "items": {
            "$ref": "TeardownTag"
          },
          "description": "The list of teardown tags. Currently we only allow one.",
          "type": "array"
        },
        "tagFiringOption": {
          "enum": [
            "unlimited",
            "oncePerEvent",
            "oncePerLoad"
          ],
          "enumDescriptions": [
            "Tag can be fired multiple times per event.",
            "Tag can only be fired per event but can be fired multiple times per load (e.g., app load or page load).",
            "Tag can only be fired per load (e.g., app load or page load)."
          ],
          "description": "Option to fire this tag.",
          "type": "string"
        },
        "parentFolderId": {
          "type": "string",
          "description": "Parent folder id."
        },
        "name": {
          "type": "string",
          "description": "Tag display name."
        },
        "priority": {
          "$ref": "Parameter",
          "description": "User defined numeric priority of the tag. Tags are fired asynchronously in order of priority. Tags with higher numeric value fire first. A tag's priority can be a positive or negative value. The default value is 0."
        },
        "blockingTriggerId": {
          "description": "Blocking trigger IDs. If any of the listed triggers evaluate to true, the tag will not fire.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "notes": {
          "description": "User notes on how to apply this tag in the container.",
          "type": "string"
        },
        "type": {
          "type": "string",
          "description": "GTM Tag Type."
        }
      },
      "type": "object",
      "id": "Tag"
    },
    "ListEnvironmentsResponse": {
      "properties": {
        "environments": {
          "type": "array",
          "description": "All Environments of a GTM Container.",
          "items": {
            "$ref": "Environment"
          }
        }
      },
      "type": "object",
      "description": "List Environments Response.",
      "id": "ListEnvironmentsResponse"
    }
  },
  "id": "tagmanager:v1",
  "servicePath": "",
  "version": "v1",
  "resources": {
    "accounts": {
      "methods": {
        "get": {
          "scopes": [
            "https://www.googleapis.com/auth/tagmanager.edit.containers",
            "https://www.googleapis.com/auth/tagmanager.manage.accounts",
            "https://www.googleapis.com/auth/tagmanager.readonly"
          ],
          "path": "tagmanager/v1/accounts/{accountId}",
          "id": "tagmanager.accounts.get",
          "flatPath": "tagmanager/v1/accounts/{accountId}",
          "parameterOrder": [
            "accountId"
          ],
          "parameters": {
            "accountId": {
              "required": true,
              "description": "The GTM Account ID.",
              "location": "path",
              "type": "string"
            }
          },
          "description": "Gets a GTM Account.",
          "response": {
            "$ref": "Account"
          },
          "httpMethod": "GET"
        },
        "list": {
          "id": "tagmanager.accounts.list",
          "description": "Lists all GTM Accounts that a user has access to.",
          "flatPath": "tagmanager/v1/accounts",
          "parameterOrder": [],
          "path": "tagmanager/v1/accounts",
          "response": {
            "$ref": "ListAccountsResponse"
          },
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/tagmanager.edit.containers",
            "https://www.googleapis.com/auth/tagmanager.manage.accounts",
            "https://www.googleapis.com/auth/tagmanager.readonly"
          ],
          "parameters": {}
        },
        "update": {
          "scopes": [
            "https://www.googleapis.com/auth/tagmanager.manage.accounts"
          ],
          "path": "tagmanager/v1/accounts/{accountId}",
          "description": "Updates a GTM Account.",
          "response": {
            "$ref": "Account"
          },
          "id": "tagmanager.accounts.update",
          "parameters": {
            "fingerprint": {
              "type": "string",
              "location": "query",
              "description": "When provided, this fingerprint must match the fingerprint of the account in storage."
            },
            "accountId": {
              "description": "The GTM Account ID.",
              "required": true,
              "location": "path",
              "type": "string"
            }
          },
          "parameterOrder": [
            "accountId"
          ],
          "request": {
            "$ref": "Account"
          },
          "httpMethod": "PUT",
          "flatPath": "tagmanager/v1/accounts/{accountId}"
        }
      },
      "resources": {
        "permissions": {
          "methods": {
            "delete": {
              "httpMethod": "DELETE",
              "parameterOrder": [
                "accountId",
                "permissionId"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/tagmanager.manage.users"
              ],
              "description": "Removes a user from the account, revoking access to it and all of its containers.",
              "flatPath": "tagmanager/v1/accounts/{accountId}/permissions/{permissionId}",
              "id": "tagmanager.accounts.permissions.delete",
              "parameters": {
                "permissionId": {
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "description": "The GTM User ID."
                },
                "accountId": {
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "description": "The GTM Account ID."
                }
              },
              "path": "tagmanager/v1/accounts/{accountId}/permissions/{permissionId}"
            },
            "update": {
              "parameterOrder": [
                "accountId",
                "permissionId"
              ],
              "id": "tagmanager.accounts.permissions.update",
              "path": "tagmanager/v1/accounts/{accountId}/permissions/{permissionId}",
              "request": {
                "$ref": "UserAccess"
              },
              "response": {
                "$ref": "UserAccess"
              },
              "httpMethod": "PUT",
              "scopes": [
                "https://www.googleapis.com/auth/tagmanager.manage.users"
              ],
              "description": "Updates a user's Account & Container Permissions.",
              "parameters": {
                "accountId": {
                  "required": true,
                  "type": "string",
                  "description": "The GTM Account ID.",
                  "location": "path"
                },
                "permissionId": {
                  "description": "The GTM User ID.",
                  "type": "string",
                  "location": "path",
                  "required": true
                }
              },
              "flatPath": "tagmanager/v1/accounts/{accountId}/permissions/{permissionId}"
            },
            "list": {
              "httpMethod": "GET",
              "flatPath": "tagmanager/v1/accounts/{accountId}/permissions",
              "parameters": {
                "accountId": {
                  "description": "The GTM Account ID.",
                  "type": "string",
                  "location": "path",
                  "required": true
                }
              },
              "response": {
                "$ref": "ListAccountUsersResponse"
              },
              "id": "tagmanager.accounts.permissions.list",
              "description": "List all users that have access to the account along with Account and Container Permissions granted to each of them.",
              "parameterOrder": [
                "accountId"
              ],
              "path": "tagmanager/v1/accounts/{accountId}/permissions",
              "scopes": [
                "https://www.googleapis.com/auth/tagmanager.manage.users"
              ]
            },
            "get": {
              "httpMethod": "GET",
              "response": {
                "$ref": "UserAccess"
              },
              "id": "tagmanager.accounts.permissions.get",
              "description": "Gets a user's Account & Container Permissions.",
              "parameterOrder": [
                "accountId",
                "permissionId"
              ],
              "flatPath": "tagmanager/v1/accounts/{accountId}/permissions/{permissionId}",
              "parameters": {
                "accountId": {
                  "type": "string",
                  "location": "path",
                  "description": "The GTM Account ID.",
                  "required": true
                },
                "permissionId": {
                  "description": "The GTM User ID.",
                  "required": true,
                  "location": "path",
                  "type": "string"
                }
              },
              "path": "tagmanager/v1/accounts/{accountId}/permissions/{permissionId}",
              "scopes": [
                "https://www.googleapis.com/auth/tagmanager.manage.users"
              ]
            },
            "create": {
              "httpMethod": "POST",
              "request": {
                "$ref": "UserAccess"
              },
              "description": "Creates a user's Account & Container Permissions.",
              "scopes": [
                "https://www.googleapis.com/auth/tagmanager.manage.users"
              ],
              "parameters": {
                "accountId": {
                  "description": "The GTM Account ID.",
                  "type": "string",
                  "location": "path",
                  "required": true
                }
              },
              "flatPath": "tagmanager/v1/accounts/{accountId}/permissions",
              "id": "tagmanager.accounts.permissions.create",
              "path": "tagmanager/v1/accounts/{accountId}/permissions",
              "parameterOrder": [
                "accountId"
              ],
              "response": {
                "$ref": "UserAccess"
              }
            }
          }
        },
        "containers": {
          "methods": {
            "create": {
              "id": "tagmanager.accounts.containers.create",
              "scopes": [
                "https://www.googleapis.com/auth/tagmanager.edit.containers"
              ],
              "description": "Creates a Container.",
              "request": {
                "$ref": "Container"
              },
              "response": {
                "$ref": "Container"
              },
              "httpMethod": "POST",
              "path": "tagmanager/v1/accounts/{accountId}/containers",
              "parameterOrder": [
                "accountId"
              ],
              "flatPath": "tagmanager/v1/accounts/{accountId}/containers",
              "parameters": {
                "accountId": {
                  "type": "string",
                  "required": true,
                  "location": "path",
                  "description": "The GTM Account ID."
                }
              }
            },
            "get": {
              "parameterOrder": [
                "accountId",
                "containerId"
              ],
              "description": "Gets a Container.",
              "id": "tagmanager.accounts.containers.get",
              "path": "tagmanager/v1/accounts/{accountId}/containers/{containerId}",
              "flatPath": "tagmanager/v1/accounts/{accountId}/containers/{containerId}",
              "parameters": {
                "accountId": {
                  "location": "path",
                  "required": true,
                  "description": "The GTM Account ID.",
                  "type": "string"
                },
                "containerId": {
                  "type": "string",
                  "description": "The GTM Container ID.",
                  "location": "path",
                  "required": true
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/tagmanager.edit.containers",
                "https://www.googleapis.com/auth/tagmanager.readonly"
              ],
              "response": {
                "$ref": "Container"
              },
              "httpMethod": "GET"
            },
            "list": {
              "id": "tagmanager.accounts.containers.list",
              "scopes": [
                "https://www.googleapis.com/auth/tagmanager.edit.containers",
                "https://www.googleapis.com/auth/tagmanager.readonly"
              ],
              "parameterOrder": [
                "accountId"
              ],
              "httpMethod": "GET",
              "flatPath": "tagmanager/v1/accounts/{accountId}/containers",
              "response": {
                "$ref": "ListContainersResponse"
              },
              "description": "Lists all Containers that belongs to a GTM Account.",
              "path": "tagmanager/v1/accounts/{accountId}/containers",
              "parameters": {
                "accountId": {
                  "type": "string",
                  "description": "The GTM Account ID.",
                  "required": true,
                  "location": "path"
                }
              }
            },
            "update": {
              "response": {
                "$ref": "Container"
              },
              "id": "tagmanager.accounts.containers.update",
              "request": {
                "$ref": "Container"
              },
              "path": "tagmanager/v1/accounts/{accountId}/containers/{containerId}",
              "parameters": {
                "containerId": {
                  "description": "The GTM Container ID.",
                  "type": "string",
                  "required": true,
                  "location": "path"
                },
                "accountId": {
                  "required": true,
                  "description": "The GTM Account ID.",
                  "location": "path",
                  "type": "string"
                },
                "fingerprint": {
                  "description": "When provided, this fingerprint must match the fingerprint of the container in storage.",
                  "location": "query",
                  "type": "string"
                }
              },
              "httpMethod": "PUT",
              "flatPath": "tagmanager/v1/accounts/{accountId}/containers/{containerId}",
              "parameterOrder": [
                "accountId",
                "containerId"
              ],
              "description": "Updates a Container.",
              "scopes": [
                "https://www.googleapis.com/auth/tagmanager.edit.containers"
              ]
            },
            "delete": {
              "flatPath": "tagmanager/v1/accounts/{accountId}/containers/{containerId}",
              "scopes": [
                "https://www.googleapis.com/auth/tagmanager.delete.containers"
              ],
              "parameters": {
                "accountId": {
                  "required": true,
                  "location": "path",
                  "description": "The GTM Account ID.",
                  "type": "string"
                },
                "containerId": {
                  "type": "string",
                  "description": "The GTM Container ID.",
                  "required": true,
                  "location": "path"
                }
              },
              "id": "tagmanager.accounts.containers.delete",
              "parameterOrder": [
                "accountId",
                "containerId"
              ],
              "description": "Deletes a Container.",
              "httpMethod": "DELETE",
              "path": "tagmanager/v1/accounts/{accountId}/containers/{containerId}"
            }
          },
          "resources": {
            "move_folders": {
              "methods": {
                "update": {
                  "id": "tagmanager.accounts.containers.move_folders.update",
                  "description": "Moves entities to a GTM Folder.",
                  "request": {
                    "$ref": "Folder"
                  },
                  "httpMethod": "PUT",
                  "path": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/move_folders/{folderId}",
                  "flatPath": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/move_folders/{folderId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containers"
                  ],
                  "parameters": {
                    "triggerId": {
                      "type": "string",
                      "location": "query",
                      "repeated": true,
                      "description": "The triggers to be moved to the folder."
                    },
                    "tagId": {
                      "location": "query",
                      "repeated": true,
                      "description": "The tags to be moved to the folder.",
                      "type": "string"
                    },
                    "folderId": {
                      "location": "path",
                      "description": "The GTM Folder ID.",
                      "required": true,
                      "type": "string"
                    },
                    "containerId": {
                      "type": "string",
                      "description": "The GTM Container ID.",
                      "location": "path",
                      "required": true
                    },
                    "variableId": {
                      "type": "string",
                      "location": "query",
                      "repeated": true,
                      "description": "The variables to be moved to the folder."
                    },
                    "accountId": {
                      "description": "The GTM Account ID.",
                      "type": "string",
                      "required": true,
                      "location": "path"
                    }
                  },
                  "parameterOrder": [
                    "accountId",
                    "containerId",
                    "folderId"
                  ]
                }
              }
            },
            "variables": {
              "methods": {
                "delete": {
                  "parameters": {
                    "accountId": {
                      "location": "path",
                      "required": true,
                      "description": "The GTM Account ID.",
                      "type": "string"
                    },
                    "containerId": {
                      "description": "The GTM Container ID.",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    },
                    "variableId": {
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "description": "The GTM Variable ID."
                    }
                  },
                  "parameterOrder": [
                    "accountId",
                    "containerId",
                    "variableId"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containers"
                  ],
                  "path": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/variables/{variableId}",
                  "id": "tagmanager.accounts.containers.variables.delete",
                  "flatPath": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/variables/{variableId}",
                  "httpMethod": "DELETE",
                  "description": "Deletes a GTM Variable."
                },
                "get": {
                  "id": "tagmanager.accounts.containers.variables.get",
                  "parameterOrder": [
                    "accountId",
                    "containerId",
                    "variableId"
                  ],
                  "httpMethod": "GET",
                  "description": "Gets a GTM Variable.",
                  "parameters": {
                    "accountId": {
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "description": "The GTM Account ID."
                    },
                    "variableId": {
                      "type": "string",
                      "description": "The GTM Variable ID.",
                      "location": "path",
                      "required": true
                    },
                    "containerId": {
                      "location": "path",
                      "required": true,
                      "description": "The GTM Container ID.",
                      "type": "string"
                    }
                  },
                  "path": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/variables/{variableId}",
                  "flatPath": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/variables/{variableId}",
                  "response": {
                    "$ref": "Variable"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containers",
                    "https://www.googleapis.com/auth/tagmanager.readonly"
                  ]
                },
                "update": {
                  "request": {
                    "$ref": "Variable"
                  },
                  "parameters": {
                    "fingerprint": {
                      "type": "string",
                      "description": "When provided, this fingerprint must match the fingerprint of the variable in storage.",
                      "location": "query"
                    },
                    "variableId": {
                      "description": "The GTM Variable ID.",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    },
                    "containerId": {
                      "location": "path",
                      "description": "The GTM Container ID.",
                      "required": true,
                      "type": "string"
                    },
                    "accountId": {
                      "description": "The GTM Account ID.",
                      "required": true,
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "flatPath": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/variables/{variableId}",
                  "response": {
                    "$ref": "Variable"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containers"
                  ],
                  "httpMethod": "PUT",
                  "path": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/variables/{variableId}",
                  "id": "tagmanager.accounts.containers.variables.update",
                  "parameterOrder": [
                    "accountId",
                    "containerId",
                    "variableId"
                  ],
                  "description": "Updates a GTM Variable."
                },
                "list": {
                  "parameterOrder": [
                    "accountId",
                    "containerId"
                  ],
                  "description": "Lists all GTM Variables of a Container.",
                  "httpMethod": "GET",
                  "path": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/variables",
                  "flatPath": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/variables",
                  "parameters": {
                    "containerId": {
                      "type": "string",
                      "description": "The GTM Container ID.",
                      "required": true,
                      "location": "path"
                    },
                    "accountId": {
                      "required": true,
                      "location": "path",
                      "description": "The GTM Account ID.",
                      "type": "string"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containers",
                    "https://www.googleapis.com/auth/tagmanager.readonly"
                  ],
                  "id": "tagmanager.accounts.containers.variables.list",
                  "response": {
                    "$ref": "ListVariablesResponse"
                  }
                },
                "create": {
                  "request": {
                    "$ref": "Variable"
                  },
                  "id": "tagmanager.accounts.containers.variables.create",
                  "parameterOrder": [
                    "accountId",
                    "containerId"
                  ],
                  "path": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/variables",
                  "description": "Creates a GTM Variable.",
                  "httpMethod": "POST",
                  "flatPath": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/variables",
                  "parameters": {
                    "accountId": {
                      "location": "path",
                      "required": true,
                      "description": "The GTM Account ID.",
                      "type": "string"
                    },
                    "containerId": {
                      "description": "The GTM Container ID.",
                      "type": "string",
                      "required": true,
                      "location": "path"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containers"
                  ],
                  "response": {
                    "$ref": "Variable"
                  }
                }
              }
            },
            "reauthorize_environments": {
              "methods": {
                "update": {
                  "path": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/reauthorize_environments/{environmentId}",
                  "parameterOrder": [
                    "accountId",
                    "containerId",
                    "environmentId"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.publish"
                  ],
                  "httpMethod": "PUT",
                  "response": {
                    "$ref": "Environment"
                  },
                  "id": "tagmanager.accounts.containers.reauthorize_environments.update",
                  "flatPath": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/reauthorize_environments/{environmentId}",
                  "description": "Re-generates the authorization code for a GTM Environment.",
                  "request": {
                    "$ref": "Environment"
                  },
                  "parameters": {
                    "accountId": {
                      "required": true,
                      "location": "path",
                      "description": "The GTM Account ID.",
                      "type": "string"
                    },
                    "environmentId": {
                      "location": "path",
                      "required": true,
                      "description": "The GTM Environment ID.",
                      "type": "string"
                    },
                    "containerId": {
                      "type": "string",
                      "description": "The GTM Container ID.",
                      "location": "path",
                      "required": true
                    }
                  }
                }
              }
            },
            "triggers": {
              "methods": {
                "list": {
                  "description": "Lists all GTM Triggers of a Container.",
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containers",
                    "https://www.googleapis.com/auth/tagmanager.readonly"
                  ],
                  "parameterOrder": [
                    "accountId",
                    "containerId"
                  ],
                  "parameters": {
                    "accountId": {
                      "required": true,
                      "description": "The GTM Account ID.",
                      "location": "path",
                      "type": "string"
                    },
                    "containerId": {
                      "location": "path",
                      "description": "The GTM Container ID.",
                      "type": "string",
                      "required": true
                    }
                  },
                  "path": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/triggers",
                  "flatPath": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/triggers",
                  "id": "tagmanager.accounts.containers.triggers.list",
                  "response": {
                    "$ref": "ListTriggersResponse"
                  }
                },
                "delete": {
                  "parameterOrder": [
                    "accountId",
                    "containerId",
                    "triggerId"
                  ],
                  "id": "tagmanager.accounts.containers.triggers.delete",
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containers"
                  ],
                  "httpMethod": "DELETE",
                  "path": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/triggers/{triggerId}",
                  "parameters": {
                    "triggerId": {
                      "type": "string",
                      "description": "The GTM Trigger ID.",
                      "location": "path",
                      "required": true
                    },
                    "containerId": {
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "description": "The GTM Container ID."
                    },
                    "accountId": {
                      "type": "string",
                      "required": true,
                      "location": "path",
                      "description": "The GTM Account ID."
                    }
                  },
                  "flatPath": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/triggers/{triggerId}",
                  "description": "Deletes a GTM Trigger."
                },
                "update": {
                  "description": "Updates a GTM Trigger.",
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containers"
                  ],
                  "httpMethod": "PUT",
                  "id": "tagmanager.accounts.containers.triggers.update",
                  "parameters": {
                    "triggerId": {
                      "type": "string",
                      "description": "The GTM Trigger ID.",
                      "required": true,
                      "location": "path"
                    },
                    "fingerprint": {
                      "type": "string",
                      "description": "When provided, this fingerprint must match the fingerprint of the trigger in storage.",
                      "location": "query"
                    },
                    "containerId": {
                      "required": true,
                      "location": "path",
                      "type": "string",
                      "description": "The GTM Container ID."
                    },
                    "accountId": {
                      "location": "path",
                      "required": true,
                      "description": "The GTM Account ID.",
                      "type": "string"
                    }
                  },
                  "flatPath": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/triggers/{triggerId}",
                  "path": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/triggers/{triggerId}",
                  "response": {
                    "$ref": "Trigger"
                  },
                  "request": {
                    "$ref": "Trigger"
                  },
                  "parameterOrder": [
                    "accountId",
                    "containerId",
                    "triggerId"
                  ]
                },
                "create": {
                  "path": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/triggers",
                  "description": "Creates a GTM Trigger.",
                  "httpMethod": "POST",
                  "parameters": {
                    "accountId": {
                      "description": "The GTM Account ID.",
                      "location": "path",
                      "type": "string",
                      "required": true
                    },
                    "containerId": {
                      "description": "The GTM Container ID.",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "request": {
                    "$ref": "Trigger"
                  },
                  "flatPath": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/triggers",
                  "parameterOrder": [
                    "accountId",
                    "containerId"
                  ],
                  "id": "tagmanager.accounts.containers.triggers.create",
                  "response": {
                    "$ref": "Trigger"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containers"
                  ]
                },
                "get": {
                  "parameterOrder": [
                    "accountId",
                    "containerId",
                    "triggerId"
                  ],
                  "path": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/triggers/{triggerId}",
                  "httpMethod": "GET",
                  "description": "Gets a GTM Trigger.",
                  "id": "tagmanager.accounts.containers.triggers.get",
                  "parameters": {
                    "accountId": {
                      "required": true,
                      "location": "path",
                      "description": "The GTM Account ID.",
                      "type": "string"
                    },
                    "triggerId": {
                      "required": true,
                      "location": "path",
                      "type": "string",
                      "description": "The GTM Trigger ID."
                    },
                    "containerId": {
                      "type": "string",
                      "required": true,
                      "description": "The GTM Container ID.",
                      "location": "path"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containers",
                    "https://www.googleapis.com/auth/tagmanager.readonly"
                  ],
                  "flatPath": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/triggers/{triggerId}",
                  "response": {
                    "$ref": "Trigger"
                  }
                }
              }
            },
            "folders": {
              "methods": {
                "get": {
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containers",
                    "https://www.googleapis.com/auth/tagmanager.readonly"
                  ],
                  "description": "Gets a GTM Folder.",
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "accountId",
                    "containerId",
                    "folderId"
                  ],
                  "response": {
                    "$ref": "Folder"
                  },
                  "flatPath": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/folders/{folderId}",
                  "parameters": {
                    "accountId": {
                      "required": true,
                      "location": "path",
                      "description": "The GTM Account ID.",
                      "type": "string"
                    },
                    "containerId": {
                      "type": "string",
                      "location": "path",
                      "description": "The GTM Container ID.",
                      "required": true
                    },
                    "folderId": {
                      "type": "string",
                      "required": true,
                      "location": "path",
                      "description": "The GTM Folder ID."
                    }
                  },
                  "path": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/folders/{folderId}",
                  "id": "tagmanager.accounts.containers.folders.get"
                },
                "create": {
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containers"
                  ],
                  "path": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/folders",
                  "description": "Creates a GTM Folder.",
                  "parameters": {
                    "containerId": {
                      "required": true,
                      "location": "path",
                      "description": "The GTM Container ID.",
                      "type": "string"
                    },
                    "accountId": {
                      "type": "string",
                      "location": "path",
                      "description": "The GTM Account ID.",
                      "required": true
                    }
                  },
                  "response": {
                    "$ref": "Folder"
                  },
                  "parameterOrder": [
                    "accountId",
                    "containerId"
                  ],
                  "flatPath": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/folders",
                  "id": "tagmanager.accounts.containers.folders.create",
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "Folder"
                  }
                },
                "list": {
                  "httpMethod": "GET",
                  "path": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/folders",
                  "parameters": {
                    "accountId": {
                      "required": true,
                      "location": "path",
                      "type": "string",
                      "description": "The GTM Account ID."
                    },
                    "containerId": {
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "description": "The GTM Container ID."
                    }
                  },
                  "description": "Lists all GTM Folders of a Container.",
                  "id": "tagmanager.accounts.containers.folders.list",
                  "response": {
                    "$ref": "ListFoldersResponse"
                  },
                  "flatPath": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/folders",
                  "parameterOrder": [
                    "accountId",
                    "containerId"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containers",
                    "https://www.googleapis.com/auth/tagmanager.readonly"
                  ]
                },
                "delete": {
                  "id": "tagmanager.accounts.containers.folders.delete",
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containers"
                  ],
                  "description": "Deletes a GTM Folder.",
                  "parameters": {
                    "accountId": {
                      "location": "path",
                      "type": "string",
                      "required": true,
                      "description": "The GTM Account ID."
                    },
                    "containerId": {
                      "type": "string",
                      "required": true,
                      "description": "The GTM Container ID.",
                      "location": "path"
                    },
                    "folderId": {
                      "required": true,
                      "type": "string",
                      "description": "The GTM Folder ID.",
                      "location": "path"
                    }
                  },
                  "parameterOrder": [
                    "accountId",
                    "containerId",
                    "folderId"
                  ],
                  "flatPath": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/folders/{folderId}",
                  "httpMethod": "DELETE",
                  "path": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/folders/{folderId}"
                },
                "update": {
                  "path": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/folders/{folderId}",
                  "request": {
                    "$ref": "Folder"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containers"
                  ],
                  "description": "Updates a GTM Folder.",
                  "httpMethod": "PUT",
                  "parameterOrder": [
                    "accountId",
                    "containerId",
                    "folderId"
                  ],
                  "id": "tagmanager.accounts.containers.folders.update",
                  "flatPath": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/folders/{folderId}",
                  "parameters": {
                    "fingerprint": {
                      "type": "string",
                      "description": "When provided, this fingerprint must match the fingerprint of the folder in storage.",
                      "location": "query"
                    },
                    "folderId": {
                      "type": "string",
                      "description": "The GTM Folder ID.",
                      "location": "path",
                      "required": true
                    },
                    "accountId": {
                      "required": true,
                      "location": "path",
                      "type": "string",
                      "description": "The GTM Account ID."
                    },
                    "containerId": {
                      "location": "path",
                      "type": "string",
                      "required": true,
                      "description": "The GTM Container ID."
                    }
                  },
                  "response": {
                    "$ref": "Folder"
                  }
                }
              },
              "resources": {
                "entities": {
                  "methods": {
                    "list": {
                      "httpMethod": "GET",
                      "scopes": [
                        "https://www.googleapis.com/auth/tagmanager.edit.containers",
                        "https://www.googleapis.com/auth/tagmanager.readonly"
                      ],
                      "id": "tagmanager.accounts.containers.folders.entities.list",
                      "parameterOrder": [
                        "accountId",
                        "containerId",
                        "folderId"
                      ],
                      "description": "List all entities in a GTM Folder.",
                      "parameters": {
                        "containerId": {
                          "description": "The GTM Container ID.",
                          "required": true,
                          "location": "path",
                          "type": "string"
                        },
                        "folderId": {
                          "type": "string",
                          "description": "The GTM Folder ID.",
                          "required": true,
                          "location": "path"
                        },
                        "accountId": {
                          "description": "The GTM Account ID.",
                          "type": "string",
                          "location": "path",
                          "required": true
                        }
                      },
                      "response": {
                        "$ref": "FolderEntities"
                      },
                      "flatPath": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/folders/{folderId}/entities",
                      "path": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/folders/{folderId}/entities"
                    }
                  }
                }
              }
            },
            "versions": {
              "methods": {
                "create": {
                  "response": {
                    "$ref": "CreateContainerVersionResponse"
                  },
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "CreateContainerVersionRequestVersionOptions"
                  },
                  "path": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/versions",
                  "description": "Creates a Container Version.",
                  "flatPath": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/versions",
                  "parameters": {
                    "accountId": {
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "description": "The GTM Account ID."
                    },
                    "containerId": {
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "description": "The GTM Container ID."
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containerversions"
                  ],
                  "parameterOrder": [
                    "accountId",
                    "containerId"
                  ],
                  "id": "tagmanager.accounts.containers.versions.create"
                },
                "undelete": {
                  "path": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/versions/{containerVersionId}/undelete",
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containerversions"
                  ],
                  "flatPath": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/versions/{containerVersionId}/undelete",
                  "httpMethod": "POST",
                  "response": {
                    "$ref": "ContainerVersion"
                  },
                  "parameters": {
                    "containerVersionId": {
                      "description": "The GTM Container Version ID.",
                      "type": "string",
                      "location": "path",
                      "required": true
                    },
                    "accountId": {
                      "type": "string",
                      "required": true,
                      "description": "The GTM Account ID.",
                      "location": "path"
                    },
                    "containerId": {
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "description": "The GTM Container ID."
                    }
                  },
                  "description": "Undeletes a Container Version.",
                  "id": "tagmanager.accounts.containers.versions.undelete",
                  "parameterOrder": [
                    "accountId",
                    "containerId",
                    "containerVersionId"
                  ]
                },
                "publish": {
                  "description": "Publishes a Container Version.",
                  "parameterOrder": [
                    "accountId",
                    "containerId",
                    "containerVersionId"
                  ],
                  "path": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/versions/{containerVersionId}/publish",
                  "flatPath": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/versions/{containerVersionId}/publish",
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.publish"
                  ],
                  "httpMethod": "POST",
                  "parameters": {
                    "fingerprint": {
                      "location": "query",
                      "description": "When provided, this fingerprint must match the fingerprint of the container version in storage.",
                      "type": "string"
                    },
                    "accountId": {
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "description": "The GTM Account ID."
                    },
                    "containerVersionId": {
                      "required": true,
                      "location": "path",
                      "type": "string",
                      "description": "The GTM Container Version ID."
                    },
                    "containerId": {
                      "description": "The GTM Container ID.",
                      "location": "path",
                      "type": "string",
                      "required": true
                    }
                  },
                  "response": {
                    "$ref": "PublishContainerVersionResponse"
                  },
                  "id": "tagmanager.accounts.containers.versions.publish"
                },
                "restore": {
                  "path": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/versions/{containerVersionId}/restore",
                  "description": "Restores a Container Version. This will overwrite the container's current configuration (including its variables, triggers and tags). The operation will not have any effect on the version that is being served (i.e. the published version).",
                  "parameters": {
                    "containerId": {
                      "location": "path",
                      "type": "string",
                      "description": "The GTM Container ID.",
                      "required": true
                    },
                    "containerVersionId": {
                      "location": "path",
                      "description": "The GTM Container Version ID.",
                      "required": true,
                      "type": "string"
                    },
                    "accountId": {
                      "description": "The GTM Account ID.",
                      "location": "path",
                      "type": "string",
                      "required": true
                    }
                  },
                  "id": "tagmanager.accounts.containers.versions.restore",
                  "httpMethod": "POST",
                  "response": {
                    "$ref": "ContainerVersion"
                  },
                  "parameterOrder": [
                    "accountId",
                    "containerId",
                    "containerVersionId"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containers"
                  ],
                  "flatPath": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/versions/{containerVersionId}/restore"
                },
                "list": {
                  "path": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/versions",
                  "id": "tagmanager.accounts.containers.versions.list",
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containers",
                    "https://www.googleapis.com/auth/tagmanager.edit.containerversions",
                    "https://www.googleapis.com/auth/tagmanager.readonly"
                  ],
                  "description": "Lists all Container Versions of a GTM Container.",
                  "flatPath": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/versions",
                  "parameters": {
                    "accountId": {
                      "required": true,
                      "location": "path",
                      "description": "The GTM Account ID.",
                      "type": "string"
                    },
                    "includeDeleted": {
                      "location": "query",
                      "type": "boolean",
                      "default": "false",
                      "description": "Also retrieve deleted (archived) versions when true."
                    },
                    "containerId": {
                      "location": "path",
                      "type": "string",
                      "required": true,
                      "description": "The GTM Container ID."
                    },
                    "headers": {
                      "type": "boolean",
                      "default": "false",
                      "description": "Retrieve headers only when true.",
                      "location": "query"
                    }
                  },
                  "response": {
                    "$ref": "ListContainerVersionsResponse"
                  },
                  "httpMethod": "GET",
                  "parameterOrder": [
[...]
