{
  "version": "v2",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "discoveryVersion": "v1",
  "title": "Tag Manager API",
  "kind": "discovery#restDescription",
  "baseUrl": "https://tagmanager.googleapis.com/",
  "revision": "20260924",
  "canonicalName": "Tag Manager",
  "basePath": "",
  "schemas": {
    "ListGtagConfigResponse": {
      "id": "ListGtagConfigResponse",
      "properties": {
        "nextPageToken": {
          "description": "Continuation token for fetching the next page of results.",
          "type": "string"
        },
        "gtagConfig": {
          "description": "All Google tag configs in a Container.",
          "items": {
            "$ref": "GtagConfig"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "Folder": {
      "description": "Represents a Google Tag Manager Folder.",
      "id": "Folder",
      "properties": {
        "notes": {
          "type": "string",
          "description": "User notes on how to apply this folder in the container."
        },
        "folderId": {
          "type": "string",
          "description": "The Folder ID uniquely identifies the GTM Folder."
        },
        "fingerprint": {
          "type": "string",
          "description": "The fingerprint of the GTM Folder as computed at storage time. This value is recomputed whenever the folder is modified."
        },
        "workspaceId": {
          "type": "string",
          "description": "GTM Workspace ID."
        },
        "tagManagerUrl": {
          "type": "string",
          "description": "Auto generated link to the tag manager UI"
        },
        "name": {
          "description": "Folder display name.",
          "type": "string"
        },
        "accountId": {
          "description": "GTM Account ID.",
          "type": "string"
        },
        "containerId": {
          "description": "GTM Container ID.",
          "type": "string"
        },
        "path": {
          "description": "GTM Folder's API relative path.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "PublishContainerVersionResponse": {
      "type": "object",
      "properties": {
        "compilerError": {
          "description": "Compiler errors or not.",
          "type": "boolean"
        },
        "containerVersion": {
          "$ref": "ContainerVersion",
          "description": "The container version created."
        }
      },
      "id": "PublishContainerVersionResponse",
      "description": "Publish container version response."
    },
    "ContainerVersionHeader": {
      "properties": {
        "deleted": {
          "description": "A value of true indicates this container version has been deleted.",
          "type": "boolean"
        },
        "numTriggers": {
          "description": "Number of triggers in the container version.",
          "type": "string"
        },
        "containerId": {
          "type": "string",
          "description": "GTM Container ID."
        },
        "accountId": {
          "type": "string",
          "description": "GTM Account ID."
        },
        "numVariables": {
          "description": "Number of variables in the container version.",
          "type": "string"
        },
        "numTransformations": {
          "type": "string",
          "description": "Number of transformations in the container version."
        },
        "numGtagConfigs": {
          "type": "string",
          "description": "Number of Google tag configs in the container version."
        },
        "name": {
          "type": "string",
          "description": "Container version display name."
        },
        "path": {
          "type": "string",
          "description": "GTM Container Version's API relative path."
        },
        "containerVersionId": {
          "description": "The Container Version ID uniquely identifies the GTM Container Version.",
          "type": "string"
        },
        "numZones": {
          "type": "string",
          "description": "Number of zones in the container version."
        },
        "numClients": {
          "description": "Number of clients in the container version.",
          "type": "string"
        },
        "numTags": {
          "description": "Number of tags in the container version.",
          "type": "string"
        },
        "numCustomTemplates": {
          "type": "string",
          "description": "Number of custom templates in the container version."
        }
      },
      "type": "object",
      "id": "ContainerVersionHeader",
      "description": "Represents a Google Tag Manager Container Version Header."
    },
    "ListVariablesResponse": {
      "properties": {
        "variable": {
          "items": {
            "$ref": "Variable"
          },
          "description": "All GTM Variables of a GTM Container.",
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "Continuation token for fetching the next page of results."
        }
      },
      "id": "ListVariablesResponse",
      "type": "object",
      "description": "List Variables Response."
    },
    "ListTagsResponse": {
      "type": "object",
      "description": "List Tags Response.",
      "id": "ListTagsResponse",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "Continuation token for fetching the next page of results."
        },
        "tag": {
          "description": "All GTM Tags of a GTM Container.",
          "type": "array",
          "items": {
            "$ref": "Tag"
          }
        }
      }
    },
    "SetupTag": {
      "id": "SetupTag",
      "properties": {
        "tagName": {
          "description": "The name of the setup tag.",
          "type": "string"
        },
        "stopOnSetupFailure": {
          "type": "boolean",
          "description": "If true, fire the main tag if and only if the setup tag fires successfully. If false, fire the main tag regardless of setup tag firing status."
        }
      },
      "description": "Represents a reference to atag that fires before another tag in order to set up dependencies.",
      "type": "object"
    },
    "ListWorkspacesResponse": {
      "properties": {
        "workspace": {
          "type": "array",
          "items": {
            "$ref": "Workspace"
          },
          "description": "All Workspaces of a GTM Container."
        },
        "nextPageToken": {
          "type": "string",
          "description": "Continuation token for fetching the next page of results."
        }
      },
      "description": "A list of workspaces in a container.",
      "id": "ListWorkspacesResponse",
      "type": "object"
    },
    "RevertTagResponse": {
      "properties": {
        "tag": {
          "description": "Tag as it appears in the latest container version since the last workspace synchronization operation. If no tag is present, that means the tag was deleted in the latest container version.",
          "$ref": "Tag"
        }
      },
      "id": "RevertTagResponse",
      "description": "The result of reverting a tag in a workspace.",
      "type": "object"
    },
    "ListZonesResponse": {
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "Continuation token for fetching the next page of results."
        },
        "zone": {
          "items": {
            "$ref": "Zone"
          },
          "description": "All GTM Zones of a GTM Container.",
          "type": "array"
        }
      },
      "id": "ListZonesResponse",
      "type": "object"
    },
    "CreateBuiltInVariableResponse": {
      "type": "object",
      "properties": {
        "builtInVariable": {
          "items": {
            "$ref": "BuiltInVariable"
          },
          "type": "array",
          "description": "List of created built-in variables."
        }
      },
      "id": "CreateBuiltInVariableResponse"
    },
    "CreateContainerVersionResponse": {
      "type": "object",
      "description": "Create container versions response.",
      "id": "CreateContainerVersionResponse",
      "properties": {
        "compilerError": {
          "type": "boolean",
          "description": "Compiler errors or not."
        },
        "newWorkspacePath": {
          "type": "string",
          "description": "Auto generated workspace path created as a result of version creation. This field should only be populated if the created version was not a quick preview."
        },
        "containerVersion": {
          "$ref": "ContainerVersion",
          "description": "The container version created."
        },
        "syncStatus": {
          "description": "Whether version creation failed when syncing the workspace to the latest container version.",
          "$ref": "SyncStatus"
        }
      }
    },
    "Transformation": {
      "type": "object",
      "properties": {
        "notes": {
          "description": "User notes on how to apply this transformation in the container.",
          "type": "string"
        },
        "containerId": {
          "description": "GTM Container ID.",
          "type": "string"
        },
        "accountId": {
          "description": "GTM Account ID.",
          "type": "string"
        },
        "workspaceId": {
          "description": "GTM Workspace ID.",
          "type": "string"
        },
        "parameter": {
          "items": {
            "$ref": "Parameter"
          },
          "description": "The transformation's parameters.",
          "type": "array"
        },
        "type": {
          "description": "Transformation type.",
          "type": "string"
        },
        "path": {
          "type": "string",
          "description": "GTM transformation's API relative path."
        },
        "fingerprint": {
          "type": "string",
          "description": "The fingerprint of the GTM Transformation as computed at storage time. This value is recomputed whenever the transformation is modified."
        },
        "tagManagerUrl": {
          "description": "Auto generated link to the tag manager UI",
          "type": "string"
        },
        "name": {
          "description": "Transformation display name.",
          "type": "string"
        },
        "parentFolderId": {
          "type": "string",
          "description": "Parent folder id."
        },
        "transformationId": {
          "description": "The Transformation ID uniquely identifies the GTM transformation.",
          "type": "string"
        }
      },
      "id": "Transformation",
      "description": "Represents a Google Tag Manager Transformation."
    },
    "ListContainersResponse": {
      "type": "object",
      "id": "ListContainersResponse",
      "description": "List Containers Response.",
      "properties": {
        "container": {
          "description": "All Containers of a GTM Account.",
          "items": {
            "$ref": "Container"
          },
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "Continuation token for fetching the next page of results."
        }
      }
    },
    "MergeConflict": {
      "id": "MergeConflict",
      "type": "object",
      "description": "Represents a merge conflict.",
      "properties": {
        "entityInWorkspace": {
          "$ref": "Entity",
          "description": "The workspace entity that has conflicting changes compared to the base version. If an entity is deleted in a workspace, it will still appear with a deleted change status."
        },
        "entityInBaseVersion": {
          "$ref": "Entity",
          "description": "The base version entity (since the latest sync operation) that has conflicting changes compared to the workspace. If this field is missing, it means the workspace entity is deleted from the base version."
        }
      }
    },
    "VariableFormatValue": {
      "properties": {
        "convertNullToValue": {
          "description": "The value to convert if a variable value is null.",
          "$ref": "Parameter"
        },
        "convertToBoolean": {
          "description": "The option to convert a variable value to a boolean.",
          "type": "boolean"
        },
        "convertUndefinedToValue": {
          "description": "The value to convert if a variable value is undefined.",
          "$ref": "Parameter"
        },
        "caseConversionType": {
          "enumDescriptions": [
            "",
            "The option to convert a variable value to lowercase.",
            "The option to convert a variable value to uppercase."
          ],
          "description": "The option to convert a string-type variable value to either lowercase or uppercase.",
          "type": "string",
          "enum": [
            "none",
            "lowercase",
            "uppercase"
          ]
        },
        "convertTrueToValue": {
          "$ref": "Parameter",
          "description": "The value to convert if a variable value is true."
        },
        "convertFalseToValue": {
          "$ref": "Parameter",
          "description": "The value to convert if a variable value is false."
        },
        "convertToNumber": {
          "enumDescriptions": [
            "",
            "The option to convert a variable value to a number with a period as the decimal separator.",
            "The option to convert a variable value to a number with a comma as the decimal separator.",
            "The option to convert a variable value to a number with automatic decimal separator detection."
          ],
          "type": "string",
          "enum": [
            "decimalSeparatorTypeUnspecified",
            "period",
            "comma",
            "automatic"
          ],
          "description": "The option to convert a variable value to a number."
        }
      },
      "type": "object",
      "id": "VariableFormatValue"
    },
    "ProposedChange": {
      "id": "ProposedChange",
      "properties": {
        "changes": {
          "description": "The list of workspace changes to be applied.",
          "items": {
            "$ref": "Entity"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "ListDestinationsResponse": {
      "id": "ListDestinationsResponse",
      "type": "object",
      "properties": {
        "destination": {
          "description": "All Destinations linked to a GTM Container.",
          "type": "array",
          "items": {
            "$ref": "Destination"
          }
        },
        "nextPageToken": {
          "description": "Continuation token for fetching the next page of results.",
          "type": "string"
        }
      }
    },
    "ZoneBoundary": {
      "type": "object",
      "properties": {
        "condition": {
          "type": "array",
          "items": {
            "$ref": "Condition"
          },
          "description": "The conditions that, when conjoined, make up the boundary."
        },
        "customEvaluationTriggerId": {
          "description": "Custom evaluation trigger IDs. A zone will evaluate its boundary conditions when any of the listed triggers are true.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "ZoneBoundary",
      "description": "Represents a Zone's boundaries."
    },
    "ListAccountsResponse": {
      "description": "List Accounts Response.",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "Continuation token for fetching the next page of results."
        },
        "account": {
          "type": "array",
          "items": {
            "$ref": "Account"
          },
          "description": "List of GTM Accounts that a user has access to."
        }
      },
      "id": "ListAccountsResponse",
      "type": "object"
    },
    "ListClientsResponse": {
      "type": "object",
      "id": "ListClientsResponse",
      "properties": {
        "client": {
          "type": "array",
          "description": "All GTM Clients of a GTM Container.",
          "items": {
            "$ref": "Client"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "Continuation token for fetching the next page of results."
        }
      }
    },
    "GtagConfig": {
      "id": "GtagConfig",
      "description": "Represents a Google tag configuration.",
      "type": "object",
      "properties": {
        "gtagConfigId": {
          "type": "string",
          "description": "The ID uniquely identifies the Google tag config."
        },
        "workspaceId": {
          "type": "string",
          "description": "Google tag workspace ID. Only used by GTM containers. Set to 0 otherwise."
        },
        "tagManagerUrl": {
          "type": "string",
          "description": "Auto generated link to the tag manager UI"
        },
        "containerId": {
          "type": "string",
          "description": "Google tag container ID."
        },
        "path": {
          "description": "Google tag config's API relative path.",
          "type": "string"
        },
        "accountId": {
          "description": "Google tag account ID.",
          "type": "string"
        },
        "type": {
          "type": "string",
          "description": "Google tag config type."
        },
        "fingerprint": {
          "description": "The fingerprint of the Google tag config as computed at storage time. This value is recomputed whenever the config is modified.",
          "type": "string"
        },
        "parameter": {
          "items": {
            "$ref": "Parameter"
          },
          "description": "The Google tag config's parameters.",
          "type": "array"
        }
      }
    },
    "Trigger": {
      "properties": {
        "continuousTimeMinMilliseconds": {
          "description": "A visibility trigger minimum continuous visible time (in milliseconds). Only valid for AMP Visibility trigger.",
          "$ref": "Parameter"
        },
        "eventName": {
          "$ref": "Parameter",
          "description": "Name of the GTM event that is fired. Only valid for Timer triggers."
        },
        "totalTimeMinMilliseconds": {
          "description": "A visibility trigger minimum total visible time (in milliseconds). Only valid for AMP Visibility trigger.",
          "$ref": "Parameter"
        },
        "customEventFilter": {
          "description": "Used in the case of custom event, which is fired iff all Conditions are true.",
          "type": "array",
          "items": {
            "$ref": "Condition"
          }
        },
        "limit": {
          "description": "Limit of the number of GTM events this Timer Trigger will fire. If no limit is set, we will continue to fire GTM events until the user leaves the page. Only valid for Timer triggers.",
          "$ref": "Parameter"
        },
        "waitForTagsTimeout": {
          "$ref": "Parameter",
          "description": "How long to wait (in milliseconds) for tags to fire when 'waits_for_tags' above evaluates to true. Only valid for Form Submission and Link Click triggers."
        },
        "parameter": {
          "type": "array",
          "items": {
            "$ref": "Parameter"
          },
          "description": "Additional parameters."
        },
        "triggerId": {
          "type": "string",
          "description": "The Trigger ID uniquely identifies the GTM Trigger."
        },
        "intervalSeconds": {
          "description": "Time between Timer Events to fire (in seconds). Only valid for AMP Timer trigger.",
          "$ref": "Parameter"
        },
        "tagManagerUrl": {
          "type": "string",
          "description": "Auto generated link to the tag manager UI"
        },
        "waitForTags": {
          "description": "Whether or not we should delay the form submissions or link opening until all of the tags have fired (by preventing the default action and later simulating the default action). Only valid for Form Submission and Link Click triggers.",
          "$ref": "Parameter"
        },
        "uniqueTriggerId": {
          "description": "Globally unique id of the trigger that auto-generates this (a Form Submit, Link Click or Timer listener) if any. Used to make incompatible auto-events work together with trigger filtering based on trigger ids. This value is populated during output generation since the tags implied by triggers don't exist until then. Only valid for Form Submit, Link Click and Timer triggers.",
          "$ref": "Parameter"
        },
        "containerId": {
          "description": "GTM Container ID.",
          "type": "string"
        },
        "autoEventFilter": {
          "items": {
            "$ref": "Condition"
          },
          "type": "array",
          "description": "Used in the case of auto event tracking."
        },
        "visibilitySelector": {
          "$ref": "Parameter",
          "description": "A visibility trigger CSS selector (i.e. \"#id\"). Only valid for AMP Visibility trigger."
        },
        "accountId": {
          "description": "GTM Account ID.",
          "type": "string"
        },
        "filter": {
          "items": {
            "$ref": "Condition"
          },
          "description": "The trigger will only fire iff all Conditions are true.",
          "type": "array"
        },
        "fingerprint": {
          "type": "string",
          "description": "The fingerprint of the GTM Trigger as computed at storage time. This value is recomputed whenever the trigger is modified."
        },
        "name": {
          "type": "string",
          "description": "Trigger display name."
        },
        "verticalScrollPercentageList": {
          "description": "List of integer percentage values for scroll triggers. The trigger will fire when each percentage is reached when the view is scrolled vertically. Only valid for AMP scroll triggers.",
          "$ref": "Parameter"
        },
        "path": {
          "type": "string",
          "description": "GTM Trigger's API relative path."
        },
        "type": {
          "type": "string",
          "enum": [
            "eventTypeUnspecified",
            "pageview",
            "domReady",
            "windowLoaded",
            "customEvent",
            "triggerGroup",
            "init",
            "consentInit",
            "serverPageview",
            "always",
            "firebaseAppException",
            "firebaseAppUpdate",
            "firebaseCampaign",
            "firebaseFirstOpen",
            "firebaseInAppPurchase",
            "firebaseNotificationDismiss",
            "firebaseNotificationForeground",
            "firebaseNotificationOpen",
            "firebaseNotificationReceive",
            "firebaseOsUpdate",
            "firebaseSessionStart",
            "firebaseUserEngagement",
            "formSubmission",
            "click",
            "linkClick",
            "jsError",
            "historyChange",
            "timer",
            "ampClick",
            "ampTimer",
            "ampScroll",
            "ampVisibility",
            "youTubeVideo",
            "scrollDepth",
            "elementVisibility"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "description": "Defines the data layer event that causes this trigger."
        },
        "parentFolderId": {
          "type": "string",
          "description": "Parent folder id."
        },
        "maxTimerLengthSeconds": {
          "$ref": "Parameter",
          "description": "Max time to fire Timer Events (in seconds). Only valid for AMP Timer trigger."
        },
        "workspaceId": {
          "type": "string",
          "description": "GTM Workspace ID."
        },
        "checkValidation": {
          "description": "Whether or not we should only fire tags if the form submit or link click event is not cancelled by some other event handler (e.g. because of validation). Only valid for Form Submission and Link Click triggers.",
          "$ref": "Parameter"
        },
        "visiblePercentageMax": {
          "description": "A visibility trigger maximum percent visibility. Only valid for AMP Visibility trigger.",
          "$ref": "Parameter"
        },
        "selector": {
          "description": "A click trigger CSS selector (i.e. \"a\", \"button\" etc.). Only valid for AMP Click trigger.",
          "$ref": "Parameter"
        },
        "horizontalScrollPercentageList": {
          "$ref": "Parameter",
          "description": "List of integer percentage values for scroll triggers. The trigger will fire when each percentage is reached when the view is scrolled horizontally. Only valid for AMP scroll triggers."
        },
        "interval": {
          "$ref": "Parameter",
          "description": "Time between triggering recurring Timer Events (in milliseconds). Only valid for Timer triggers."
        },
        "notes": {
          "description": "User notes on how to apply this trigger in the container.",
          "type": "string"
        },
        "visiblePercentageMin": {
          "description": "A visibility trigger minimum percent visibility. Only valid for AMP Visibility trigger.",
          "$ref": "Parameter"
        }
      },
      "id": "Trigger",
      "description": "Represents a Google Tag Manager Trigger",
      "type": "object"
    },
    "GetContainerSnippetResponse": {
      "properties": {
        "snippet": {
          "type": "string",
          "description": "Tagging snippet for a Container."
        },
        "containerConfig": {
          "type": "string",
          "description": "Server container config param for manually provisioning a tagging server."
        }
      },
      "id": "GetContainerSnippetResponse",
      "type": "object"
    },
    "ZoneTypeRestriction": {
      "description": "Represents a Zone's type restrictions.",
      "properties": {
        "enable": {
          "type": "boolean",
          "description": "True if type restrictions have been enabled for this Zone."
        },
        "whitelistedTypeId": {
          "description": "List of type public ids that have been whitelisted for use in this Zone.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object",
      "id": "ZoneTypeRestriction"
    },
    "ListContainerVersionsResponse": {
      "type": "object",
      "id": "ListContainerVersionsResponse",
      "properties": {
        "nextPageToken": {
          "description": "Continuation token for fetching the next page of results.",
          "type": "string"
        },
        "containerVersionHeader": {
          "items": {
            "$ref": "ContainerVersionHeader"
          },
          "type": "array",
          "description": "All container version headers of a GTM Container."
        }
      },
      "description": "List container versions response."
    },
    "TagConsentSetting": {
      "type": "object",
      "properties": {
        "consentType": {
          "description": "The type of consents to check for during tag firing if in the consent NEEDED state. This parameter must be of type LIST where each list item is of type STRING.",
          "$ref": "Parameter"
        },
        "consentStatus": {
          "description": "The tag's consent status. If set to NEEDED, the runtime will check that the consent types specified by the consent_type field have been granted.",
          "type": "string",
          "enum": [
            "notSet",
            "notNeeded",
            "needed"
          ],
          "enumDescriptions": [
            "Default value where user has not specified any setting on it.",
            "Tag doesn't require any additional consent settings.",
            "Tag requires additional consent settings."
          ]
        }
      },
      "id": "TagConsentSetting"
    },
    "RevertFolderResponse": {
      "properties": {
        "folder": {
          "description": "Folder as it appears in the latest container version since the last workspace synchronization operation. If no folder is present, that means the folder was deleted in the latest container version.",
          "$ref": "Folder"
        }
      },
      "description": "The result of reverting folder changes in a workspace.",
      "type": "object",
      "id": "RevertFolderResponse"
    },
    "Workspace": {
      "id": "Workspace",
      "type": "object",
      "description": "Represents a Google Tag Manager Container Workspace.",
      "properties": {
        "path": {
          "description": "GTM Workspace's API relative path.",
          "type": "string"
        },
        "tagManagerUrl": {
          "type": "string",
          "description": "Auto generated link to the tag manager UI"
        },
        "workspaceId": {
          "description": "The Workspace ID uniquely identifies the GTM Workspace.",
          "type": "string"
        },
        "fingerprint": {
          "type": "string",
          "description": "The fingerprint of the GTM Workspace as computed at storage time. This value is recomputed whenever the workspace is modified."
        },
        "accountId": {
          "type": "string",
          "description": "GTM Account ID."
        },
        "name": {
          "description": "Workspace display name.",
          "type": "string"
        },
        "containerId": {
          "description": "GTM Container ID.",
          "type": "string"
        },
        "description": {
          "type": "string",
          "description": "Workspace description."
        }
      }
    },
    "FolderEntities": {
      "description": "Represents a Google Tag Manager Folder's contents.",
      "properties": {
        "nextPageToken": {
          "description": "Continuation token for fetching the next page of results.",
          "type": "string"
        },
        "trigger": {
          "items": {
            "$ref": "Trigger"
          },
          "type": "array",
          "description": "The list of triggers inside the folder."
        },
        "variable": {
          "description": "The list of variables inside the folder.",
          "type": "array",
          "items": {
            "$ref": "Variable"
          }
        },
        "tag": {
          "items": {
            "$ref": "Tag"
          },
          "description": "The list of tags inside the folder.",
          "type": "array"
        }
      },
      "id": "FolderEntities",
      "type": "object"
    },
    "Environment": {
      "id": "Environment",
      "properties": {
        "url": {
          "type": "string",
          "description": "Default preview page url for the environment."
        },
        "workspaceId": {
          "type": "string",
          "description": "Represents a link to a quick preview of a workspace."
        },
        "enableDebug": {
          "description": "Whether or not to enable debug by default for the environment.",
          "type": "boolean"
        },
        "fingerprint": {
          "type": "string",
          "description": "The fingerprint of the GTM environment as computed at storage time. This value is recomputed whenever the environment is modified."
        },
        "containerVersionId": {
          "description": "Represents a link to a container version.",
          "type": "string"
        },
        "description": {
          "description": "The environment description. Can be set or changed only on USER type environments.",
          "type": "string"
        },
        "name": {
          "description": "The environment display name. Can be set or changed only on USER type environments.",
          "type": "string"
        },
        "containerId": {
          "description": "GTM Container ID.",
          "type": "string"
        },
        "tagManagerUrl": {
          "description": "Auto generated link to the tag manager UI",
          "type": "string"
        },
        "path": {
          "description": "GTM Environment's API relative path.",
          "type": "string"
        },
        "accountId": {
          "type": "string",
          "description": "GTM Account ID."
        },
        "authorizationTimestamp": {
          "format": "google-datetime",
          "description": "The last update time-stamp for the authorization code.",
          "type": "string"
        },
        "environmentId": {
          "description": "GTM Environment ID uniquely identifies the GTM Environment.",
          "type": "string"
        },
        "type": {
          "description": "The type of this environment.",
          "type": "string",
          "enum": [
            "user",
            "live",
            "latest",
            "workspace"
          ],
          "enumDescriptions": [
            "Points to a user defined environment.",
            "Points to the current live container version.",
            "Points to the latest container version.",
            "Automatically managed environment that points to a workspace preview or version created by a workspace."
          ]
        },
        "authorizationCode": {
          "type": "string",
          "description": "The environment authorization code."
        }
      },
      "description": "Represents a Google Tag Manager Environment. Note that a user can create, delete and update environments of type USER, but can only update the enable_debug and url fields of environments of other types.",
      "type": "object"
    },
    "ListFoldersResponse": {
      "type": "object",
      "description": "List Folders Response.",
      "id": "ListFoldersResponse",
      "properties": {
        "nextPageToken": {
          "description": "Continuation token for fetching the next page of results.",
          "type": "string"
        },
        "folder": {
          "items": {
            "$ref": "Folder"
          },
          "description": "All GTM Folders of a GTM Container.",
          "type": "array"
        }
      }
    },
    "ListUserPermissionsResponse": {
      "properties": {
        "userPermission": {
          "type": "array",
          "items": {
            "$ref": "UserPermission"
          },
          "description": "All GTM UserPermissions of a GTM Account."
        },
        "nextPageToken": {
          "description": "Continuation token for fetching the next page of results.",
          "type": "string"
        }
      },
      "id": "ListUserPermissionsResponse",
      "type": "object",
      "description": "List user permissions response."
    },
    "QuickPreviewResponse": {
      "type": "object",
      "description": "Response to quick previewing a workspace.",
      "properties": {
        "compilerError": {
          "type": "boolean",
          "description": "Were there compiler errors or not."
        },
        "containerVersion": {
          "$ref": "ContainerVersion",
          "description": "The quick previewed container version."
        },
        "syncStatus": {
          "$ref": "SyncStatus",
          "description": "Whether quick previewing failed when syncing the workspace to the latest container version."
        }
      },
      "id": "QuickPreviewResponse"
    },
    "Destination": {
      "description": "Represents a Google Tag Destination.",
      "id": "Destination",
      "properties": {
        "name": {
          "type": "string",
          "description": "Destination display name."
        },
        "accountId": {
          "description": "GTM Account ID.",
          "type": "string"
        },
        "destinationLinkId": {
          "type": "string",
          "description": "The Destination link ID uniquely identifies the Destination."
        },
        "tagManagerUrl": {
          "description": "Auto generated link to the tag manager UI.",
          "type": "string"
        },
        "path": {
          "description": "Destination's API relative path.",
          "type": "string"
        },
        "fingerprint": {
          "description": "The fingerprint of the Google Tag Destination as computed at storage time. This value is recomputed whenever the destination is modified.",
          "type": "string"
        },
        "destinationId": {
          "type": "string",
          "description": "Destination ID."
        },
        "containerId": {
          "description": "GTM Container ID.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "ContainerFeatures": {
      "id": "ContainerFeatures",
      "properties": {
        "supportTemplates": {
          "type": "boolean",
          "description": "Whether this Container supports templates."
        },
        "supportEnvironments": {
          "description": "Whether this Container supports environments.",
          "type": "boolean"
        },
        "supportVersions": {
          "description": "Whether this Container supports Container versions.",
          "type": "boolean"
        },
        "supportZones": {
          "description": "Whether this Container supports zones.",
          "type": "boolean"
        },
        "supportBuiltInVariables": {
          "type": "boolean",
          "description": "Whether this Container supports built-in variables"
        },
        "supportGtagConfigs": {
          "type": "boolean",
          "description": "Whether this Container supports Google tag config."
        },
        "supportTriggers": {
          "type": "boolean",
          "description": "Whether this Container supports triggers."
        },
        "supportFolders": {
          "type": "boolean",
          "description": "Whether this Container supports folders."
        },
        "supportTransformations": {
          "description": "Whether this Container supports transformations.",
          "type": "boolean"
        },
        "supportWorkspaces": {
          "description": "Whether this Container supports workspaces.",
          "type": "boolean"
        },
        "supportClients": {
          "type": "boolean",
          "description": "Whether this Container supports clients."
        },
        "supportVariables": {
          "description": "Whether this Container supports variables.",
          "type": "boolean"
        },
        "supportTags": {
          "type": "boolean",
          "description": "Whether this Container supports tags."
        },
        "supportUserPermissions": {
          "description": "Whether this Container supports user permissions managed by GTM.",
          "type": "boolean"
        }
      },
      "type": "object"
    },
    "Entity": {
      "properties": {
        "variable": {
          "description": "The variable being represented by the entity.",
          "$ref": "Variable"
        },
        "zone": {
          "description": "The zone being represented by the entity.",
          "$ref": "Zone"
        },
        "folder": {
          "description": "The folder being represented by the entity.",
          "$ref": "Folder"
        },
        "client": {
          "description": "The client being represented by the entity.",
          "$ref": "Client"
        },
        "transformation": {
          "description": "The transformation being represented by the entity.",
          "$ref": "Transformation"
        },
        "customTemplate": {
          "description": "The custom template being represented by the entity.",
          "$ref": "CustomTemplate"
        },
        "changeStatus": {
          "description": "Represents how the entity has been changed in the workspace.",
          "type": "string",
          "enum": [
            "changeStatusUnspecified",
            "none",
            "added",
            "deleted",
            "updated"
          ],
          "enumDescriptions": [
            "",
            "The entity has never been changed.",
            "The entity is added to the workspace.",
            "The entity is deleted from the workspace.",
            "The entity has been updated in the workspace."
          ]
        },
        "trigger": {
          "description": "The trigger being represented by the entity.",
          "$ref": "Trigger"
        },
        "tag": {
          "description": "The tag being represented by the entity.",
          "$ref": "Tag"
        },
        "builtInVariable": {
          "$ref": "BuiltInVariable",
          "description": "The built in variable being represented by the entity."
        },
        "gtagConfig": {
          "$ref": "GtagConfig",
          "description": "The gtag config being represented by the entity."
        }
      },
      "description": "A workspace entity that may represent a tag, trigger, variable, or folder in addition to its status in the workspace.",
      "type": "object",
      "id": "Entity"
    },
    "CreateContainerVersionRequestVersionOptions": {
      "type": "object",
      "description": "Options for new container versions.",
      "properties": {
        "notes": {
          "description": "The notes of the container version to be created.",
          "type": "string"
        },
        "name": {
          "description": "The name of the container version to be created.",
          "type": "string"
        }
      },
      "id": "CreateContainerVersionRequestVersionOptions"
    },
    "GetWorkspaceStatusResponse": {
      "properties": {
        "mergeConflict": {
          "type": "array",
          "description": "The merge conflict after sync.",
          "items": {
            "$ref": "MergeConflict"
          }
        },
        "workspaceChange": {
          "description": "Entities that have been changed in the workspace.",
          "items": {
            "$ref": "Entity"
          },
          "type": "array"
        }
      },
      "type": "object",
      "description": "The changes that have occurred in the workspace since the base container version.",
      "id": "GetWorkspaceStatusResponse"
    },
    "ContainerAccess": {
      "type": "object",
      "properties": {
        "permission": {
          "description": "List of Container permissions.",
          "type": "string",
          "enum": [
            "containerPermissionUnspecified",
            "noAccess",
            "read",
            "edit",
            "approve",
            "publish"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            ""
          ]
        },
        "containerId": {
          "description": "GTM Container ID.",
          "type": "string"
        }
      },
      "description": "Defines the Google Tag Manager Container access permissions.",
      "id": "ContainerAccess"
    },
    "CustomTemplate": {
      "type": "object",
      "id": "CustomTemplate",
      "properties": {
        "fingerprint": {
          "type": "string",
          "description": "The fingerprint of the GTM Custom Template as computed at storage time. This value is recomputed whenever the template is modified."
        },
        "tagManagerUrl": {
          "type": "string",
          "description": "Auto generated link to the tag manager UI"
        },
        "templateId": {
          "type": "string",
          "description": "The Custom Template ID uniquely identifies the GTM custom template."
        },
        "accountId": {
          "description": "GTM Account ID.",
          "type": "string"
        },
        "templateData": {
          "description": "The custom template in text format.",
          "type": "string"
        },
        "galleryReference": {
          "$ref": "GalleryReference",
          "description": "A reference to the Community Template Gallery entry."
        },
        "path": {
          "description": "GTM Custom Template's API relative path.",
          "type": "string"
        },
        "containerId": {
          "description": "GTM Container ID.",
          "type": "string"
        },
        "workspaceId": {
          "type": "string",
          "description": "GTM Workspace ID."
        },
        "name": {
          "type": "string",
          "description": "Custom Template display name."
        }
      },
      "description": "Represents a Google Tag Manager Custom Template's contents."
    },
    "RevertBuiltInVariableResponse": {
      "type": "object",
      "id": "RevertBuiltInVariableResponse",
      "properties": {
        "enabled": {
          "description": "Whether the built-in variable is enabled after reversion.",
          "type": "boolean"
        }
      },
      "description": "The result of reverting a built-in variable in a workspace."
    },
    "AccountFeatures": {
      "id": "AccountFeatures",
      "type": "object",
      "properties": {
        "supportUserPermissions": {
          "description": "Whether this Account supports user permissions managed by GTM.",
          "type": "boolean"
        },
        "supportMultipleContainers": {
          "type": "boolean",
          "description": "Whether this Account supports multiple Containers."
        }
      }
    },
    "Account": {
      "id": "Account",
      "type": "object",
      "description": "Represents a Google Tag Manager Account.",
      "properties": {
        "name": {
          "description": "Account display name.",
          "type": "string"
        },
        "features": {
          "$ref": "AccountFeatures",
          "description": "Read-only Account feature set"
        },
        "accountId": {
          "description": "The Account ID uniquely identifies the GTM Account.",
          "type": "string"
        },
        "fingerprint": {
          "description": "The fingerprint of the GTM Account as computed at storage time. This value is recomputed whenever the account is modified.",
          "type": "string"
        },
        "tagManagerUrl": {
          "description": "Auto generated link to the tag manager UI",
          "type": "string"
        },
        "path": {
          "description": "GTM Account's API relative path.",
          "type": "string"
        },
        "shareData": {
          "description": "Whether the account shares data anonymously with Google and others. This flag enables benchmarking by sharing your data in an anonymous form. Google will remove all identifiable information about your website, combine the data with hundreds of other anonymous sites and report aggregate trends in the benchmarking service.",
          "type": "boolean"
        }
      }
    },
    "SyncWorkspaceResponse": {
      "type": "object",
      "description": "A response after synchronizing the workspace to the latest container version.",
      "id": "SyncWorkspaceResponse",
      "properties": {
        "mergeConflict": {
          "description": "The merge conflict after sync. If this field is not empty, the sync is still treated as successful. But a version cannot be created until all conflicts are resolved.",
          "type": "array",
          "items": {
            "$ref": "MergeConflict"
          }
        },
        "syncStatus": {
          "$ref": "SyncStatus",
          "description": "Indicates whether synchronization caused a merge conflict or sync error."
        }
      }
    },
    "RevertTransformationResponse": {
      "id": "RevertTransformationResponse",
      "properties": {
        "transformation": {
          "$ref": "Transformation",
          "description": "Transformation as it appears in the latest container version since the last workspace synchronization operation. If no transformation is present, that means the transformation was deleted in the latest container version."
        }
      },
      "type": "object",
      "description": "The result of reverting a transformation in a workspace."
    },
    "AccountAccess": {
      "id": "AccountAccess",
      "type": "object",
      "description": "Defines the Google Tag Manager Account access permissions.",
      "properties": {
        "permission": {
          "description": "Whether the user has no access, user access, or admin access to an account.",
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "accountPermissionUnspecified",
            "noAccess",
            "user",
            "admin"
          ]
        }
      }
    },
    "Client": {
      "properties": {
        "containerId": {
          "description": "GTM Container ID.",
          "type": "string"
        },
        "tagManagerUrl": {
          "description": "Auto generated link to the tag manager UI",
          "type": "string"
        },
        "notes": {
          "description": "User notes on how to apply this tag in the container.",
          "type": "string"
        },
        "accountId": {
          "description": "GTM Account ID.",
          "type": "string"
        },
        "parentFolderId": {
          "description": "Parent folder id.",
          "type": "string"
        },
        "workspaceId": {
          "type": "string",
          "description": "GTM Workspace ID."
        },
        "path": {
          "description": "GTM client's API relative path.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Client display name."
        },
        "clientId": {
          "description": "The Client ID uniquely identifies the GTM client.",
          "type": "string"
        },
        "priority": {
          "type": "integer",
          "format": "int32",
          "description": "Priority determines relative firing order."
        },
        "parameter": {
          "type": "array",
          "description": "The client's parameters.",
          "items": {
            "$ref": "Parameter"
          }
        },
        "fingerprint": {
          "description": "The fingerprint of the GTM Client as computed at storage time. This value is recomputed whenever the client is modified.",
          "type": "string"
        },
        "type": {
          "type": "string",
          "description": "Client type."
        }
      },
      "type": "object",
      "id": "Client"
    },
    "ContainerVersion": {
      "properties": {
        "folder": {
          "type": "array",
          "description": "The folders in the container that this version was taken from.",
          "items": {
            "$ref": "Folder"
          }
        },
        "gtagConfig": {
          "description": "The Google tag configs in the container that this version was taken from.",
          "type": "array",
          "items": {
            "$ref": "GtagConfig"
          }
        },
        "tagManagerUrl": {
          "type": "string",
          "description": "Auto generated link to the tag manager UI"
        },
        "trigger": {
          "description": "The triggers in the container that this version was taken from.",
          "type": "array",
          "items": {
            "$ref": "Trigger"
          }
        },
        "accountId": {
          "description": "GTM Account ID.",
          "type": "string"
        },
        "customTemplate": {
          "items": {
            "$ref": "CustomTemplate"
          },
          "type": "array",
          "description": "The custom templates in the container that this version was taken from."
        },
        "transformation": {
          "description": "The transformations in the container that this version was taken from.",
          "type": "array",
          "items": {
            "$ref": "Transformation"
          }
        },
        "name": {
          "type": "string",
          "description": "Container version display name."
        },
        "zone": {
          "type": "array",
          "items": {
            "$ref": "Zone"
          },
          "description": "The zones in the container that this version was taken from."
        },
        "path": {
          "type": "string",
          "description": "GTM Container Version's API relative path."
        },
        "fingerprint": {
          "description": "The fingerprint of the GTM Container Version as computed at storage time. This value is recomputed whenever the container version is modified.",
          "type": "string"
        },
        "tag": {
          "items": {
            "$ref": "Tag"
          },
          "description": "The tags in the container that this version was taken from.",
          "type": "array"
        },
        "containerVersionId": {
          "description": "The Container Version ID uniquely identifies the GTM Container Version.",
          "type": "string"
        },
        "variable": {
          "description": "The variables in the container that this version was taken from.",
          "type": "array",
          "items": {
            "$ref": "Variable"
          }
        },
        "client": {
          "type": "array",
          "items": {
            "$ref": "Client"
          },
          "description": "The clients in the container that this version was taken from."
        },
        "deleted": {
          "type": "boolean",
          "description": "A value of true indicates this container version has been deleted."
        },
        "description": {
          "description": "Container version description.",
          "type": "string"
        },
        "builtInVariable": {
          "description": "The built-in variables in the container that this version was taken from.",
          "type": "array",
          "items": {
            "$ref": "BuiltInVariable"
          }
        },
        "containerId": {
          "type": "string",
          "description": "GTM Container ID."
        },
        "container": {
          "$ref": "Container",
          "description": "The container that this version was taken from."
        }
      },
      "type": "object",
      "id": "ContainerVersion",
      "description": "Represents a Google Tag Manager Container Version."
    },
    "ListTransformationsResponse": {
      "properties": {
        "transformation": {
          "items": {
            "$ref": "Transformation"
          },
          "description": "All GTM Transformations of a GTM Container.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "Continuation token for fetching the next page of results.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "ListTransformationsResponse"
    },
    "ListEnabledBuiltInVariablesResponse": {
      "id": "ListEnabledBuiltInVariablesResponse",
      "description": "A list of enabled built-in variables.",
      "properties": {
        "nextPageToken": {
          "description": "Continuation token for fetching the next page of results.",
          "type": "string"
        },
        "builtInVariable": {
          "items": {
            "$ref": "BuiltInVariable"
          },
          "description": "All GTM BuiltInVariables of a GTM container.",
          "type": "array"
        }
      },
      "type": "object"
    },
    "Zone": {
      "description": "Represents a Google Tag Manager Zone's contents.",
      "properties": {
        "workspaceId": {
          "type": "string",
          "description": "GTM Workspace ID."
        },
        "zoneId": {
          "description": "The Zone ID uniquely identifies the GTM Zone.",
          "type": "string"
        },
        "accountId": {
          "type": "string",
          "description": "GTM Account ID."
        },
        "typeRestriction": {
          "$ref": "ZoneTypeRestriction",
          "description": "This Zone's type restrictions."
        },
        "containerId": {
          "type": "string",
          "description": "GTM Container ID."
        },
        "tagManagerUrl": {
          "description": "Auto generated link to the tag manager UI",
          "type": "string"
        },
        "path": {
          "type": "string",
          "description": "GTM Zone's API relative path."
        },
        "name": {
          "type": "string",
          "description": "Zone display name."
        },
        "boundary": {
          "description": "This Zone's boundary.",
          "$ref": "ZoneBoundary"
        },
        "childContainer": {
          "type": "array",
          "items": {
            "$ref": "ZoneChildContainer"
          },
          "description": "Containers that are children of this Zone."
        },
        "notes": {
          "type": "string",
          "description": "User notes on how to apply this zone in the container."
        },
        "fingerprint": {
          "type": "string",
          "description": "The fingerprint of the GTM Zone as computed at storage time. This value is recomputed whenever the zone is modified."
        }
      },
      "id": "Zone",
      "type": "object"
    },
    "BuiltInVariable": {
      "description": "Built-in variables are a special category of variables that are pre-created and non-customizable. They provide common functionality like accessing properties of the gtm data layer, monitoring clicks, or accessing elements of a page URL.",
      "properties": {
        "workspaceId": {
          "description": "GTM Workspace ID.",
          "type": "string"
        },
        "path": {
          "description": "GTM BuiltInVariable's API relative path.",
          "type": "string"
        },
        "accountId": {
          "description": "GTM Account ID.",
          "type": "string"
        },
        "type": {
          "type": "string",
          "enum": [
            "builtInVariableTypeUnspecified",
            "pageUrl",
            "pageHostname",
            "pagePath",
            "referrer",
            "event",
            "clickElement",
            "clickClasses",
            "clickId",
            "clickTarget",
            "clickUrl",
            "clickText",
            "firstPartyServingUrl",
            "formElement",
            "formClasses",
            "formId",
            "formTarget",
            "formUrl",
            "formText",
            "errorMessage",
            "errorUrl",
            "errorLine",
            "newHistoryUrl",
            "oldHistoryUrl",
            "newHistoryFragment",
            "oldHistoryFragment",
            "newHistoryState",
            "oldHistoryState",
            "historySource",
            "containerVersion",
            "debugMode",
            "randomNumber",
            "containerId",
            "appId",
            "appName",
            "appVersionCode",
            "appVersionName",
            "language",
            "osVersion",
            "platform",
            "sdkVersion",
            "deviceName",
            "resolution",
            "advertiserId",
            "advertisingTrackingEnabled",
            "htmlId",
            "environmentName",
            "ampBrowserLanguage",
            "ampCanonicalPath",
            "ampCanonicalUrl",
            "ampCanonicalHost",
            "ampReferrer",
            "ampTitle",
            "ampClientId",
            "ampClientTimezone",
            "ampClientTimestamp",
            "ampClientScreenWidth",
            "ampClientScreenHeight",
            "ampClientScrollX",
            "ampClientScrollY",
            "ampClientMaxScrollX",
            "ampClientMaxScrollY",
            "ampTotalEngagedTime",
            "ampPageViewId",
            "ampPageLoadTime",
            "ampPageDownloadTime",
            "ampGtmEvent",
            "eventName",
            "firebaseEventParameterCampaign",
            "firebaseEventParameterCampaignAclid",
            "firebaseEventParameterCampaignAnid",
            "firebaseEventParameterCampaignClickTimestamp",
            "firebaseEventParameterCampaignContent",
            "firebaseEventParameterCampaignCp1",
            "firebaseEventParameterCampaignGclid",
            "firebaseEventParameterCampaignSource",
            "firebaseEventParameterCampaignTerm",
            "firebaseEventParameterCurrency",
            "firebaseEventParameterDynamicLinkAcceptTime",
            "firebaseEventParameterDynamicLinkLinkid",
            "firebaseEventParameterNotificationMessageDeviceTime",
            "firebaseEventParameterNotificationMessageId",
            "firebaseEventParameterNotificationMessageName",
            "firebaseEventParameterNotificationMessageTime",
            "firebaseEventParameterNotificationTopic",
            "firebaseEventParameterPreviousAppVersion",
            "firebaseEventParameterPreviousOsVersion",
            "firebaseEventParameterPrice",
            "firebaseEventParameterProductId",
            "firebaseEventParameterQuantity",
            "firebaseEventParameterValue",
            "videoProvider",
            "videoUrl",
            "videoTitle",
            "videoDuration",
            "videoPercent",
            "videoVisible",
            "videoStatus",
            "videoCurrentTime",
            "scrollDepthThreshold",
            "scrollDepthUnits",
            "scrollDepthDirection",
            "elementVisibilityRatio",
            "elementVisibilityTime",
            "elementVisibilityFirstTime",
            "elementVisibilityRecentTime",
            "requestPath",
            "requestMethod",
            "clientName",
            "queryString",
            "serverPageLocationUrl",
            "serverPageLocationPath",
            "serverPageLocationHostname",
            "visitorRegion",
            "analyticsClientId",
            "analyticsSessionId",
            "analyticsSessionNumber"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "For web or mobile.",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "For web or mobile.",
            "",
            "For web or mobile.",
            "For web or mobile.",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "description": "Type of built-in variable."
        },
        "containerId": {
          "type": "string",
          "description": "GTM Container ID."
        },
        "name": {
          "type": "string",
          "description": "Name of the built-in variable to be used to refer to the built-in variable."
        }
      },
      "id": "BuiltInVariable",
      "type": "object"
    },
    "RevertVariableResponse": {
      "type": "object",
      "id": "RevertVariableResponse",
      "properties": {
        "variable": {
          "description": "Variable as it appears in the latest container version since the last workspace synchronization operation. If no variable is present, that means the variable was deleted in the latest container version.",
          "$ref": "Variable"
        }
      },
      "description": "The result of reverting a variable in a workspace."
    },
    "Variable": {
      "type": "object",
      "id": "Variable",
      "properties": {
        "disablingTriggerId": {
          "description": "For mobile containers only: A list of trigger IDs for disabling conditional variables; the variable is enabled if one of the enabling trigger is true while all the disabling trigger are false. Treated as an unordered set.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "type": {
          "description": "GTM Variable Type.",
          "type": "string"
        },
        "formatValue": {
          "description": "Option to convert a variable value to other value.",
          "$ref": "VariableFormatValue"
        },
        "accountId": {
          "description": "GTM Account ID.",
          "type": "string"
        },
        "scheduleStartMs": {
          "description": "The start timestamp in milliseconds to schedule a variable.",
          "type": "string",
          "format": "int64"
        },
        "parentFolderId": {
          "description": "Parent folder id.",
          "type": "string"
        },
        "notes": {
          "description": "User notes on how to apply this variable in the container.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Variable display name."
        },
        "path": {
          "type": "string",
          "description": "GTM Variable's API relative path."
        },
        "tagManagerUrl": {
          "description": "Auto generated link to the tag manager UI",
          "type": "string"
        },
        "containerId": {
          "type": "string",
          "description": "GTM Container ID."
        },
        "parameter": {
          "type": "array",
          "items": {
            "$ref": "Parameter"
          },
          "description": "The variable's parameters."
        },
        "fingerprint": {
          "description": "The fingerprint of the GTM Variable as computed at storage time. This value is recomputed whenever the variable is modified.",
          "type": "string"
        },
        "enablingTriggerId": {
          "items": {
            "type": "string"
          },
          "description": "For mobile containers only: A list of trigger IDs for enabling conditional variables; the variable is enabled if one of the enabling triggers is true while all the disabling triggers are false. Treated as an unordered set.",
          "type": "array"
        },
        "scheduleEndMs": {
          "description": "The end timestamp in milliseconds to schedule a variable.",
          "type": "string",
          "format": "int64"
        },
        "variableId": {
          "type": "string",
          "description": "The Variable ID uniquely identifies the GTM Variable."
        },
        "workspaceId": {
          "type": "string",
          "description": "GTM Workspace ID."
        }
      },
      "description": "Represents a Google Tag Manager Variable."
    },
    "ListEnvironmentsResponse": {
      "id": "ListEnvironmentsResponse",
      "type": "object",
      "description": "List Environments Response.",
      "properties": {
        "nextPageToken": {
          "description": "Continuation token for fetching the next page of results.",
          "type": "string"
        },
        "environment": {
          "type": "array",
          "items": {
            "$ref": "Environment"
          },
          "description": "All Environments of a GTM Container."
        }
      }
    },
    "TeardownTag": {
      "type": "object",
      "id": "TeardownTag",
      "description": "Represents a tag that fires after another tag in order to tear down dependencies.",
      "properties": {
        "stopTeardownOnFailure": {
          "type": "boolean",
          "description": "If true, fire the teardown tag if and only if the main tag fires successfully. If false, fire the teardown tag regardless of main tag firing status."
        },
        "tagName": {
          "description": "The name of the teardown tag.",
          "type": "string"
        }
      }
    },
    "RevertTriggerResponse": {
      "type": "object",
      "id": "RevertTriggerResponse",
      "properties": {
        "trigger": {
          "description": "Trigger as it appears in the latest container version since the last workspace synchronization operation. If no trigger is present, that means the trigger was deleted in the latest container version.",
          "$ref": "Trigger"
        }
      },
      "description": "The result of reverting a trigger in a workspace."
    },
    "ListTriggersResponse": {
      "type": "object",
      "properties": {
        "trigger": {
          "items": {
            "$ref": "Trigger"
          },
          "description": "All GTM Triggers of a GTM Container.",
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "Continuation token for fetching the next page of results."
        }
      },
      "id": "ListTriggersResponse",
      "description": "List triggers response."
    },
    "RevertZoneResponse": {
      "id": "RevertZoneResponse",
      "type": "object",
      "properties": {
        "zone": {
          "$ref": "Zone",
          "description": "Zone as it appears in the latest container version since the last workspace synchronization operation. If no zone is present, that means the zone was deleted in the latest container version."
        }
      },
      "description": "The result of reverting a zone in a workspace."
    },
    "RevertClientResponse": {
      "type": "object",
      "id": "RevertClientResponse",
      "description": "The result of reverting a client in a workspace.",
      "properties": {
        "client": {
          "$ref": "Client",
          "description": "Client as it appears in the latest container version since the last workspace synchronization operation. If no client is present, that means the client was deleted in the latest container version."
        }
      }
    },
    "Parameter": {
      "type": "object",
      "description": "Represents a Google Tag Manager Parameter.",
      "id": "Parameter",
      "properties": {
        "key": {
          "type": "string",
          "description": "The named key that uniquely identifies a parameter. Required for top-level parameters, as well as map values. Ignored for list values."
        },
        "type": {
          "description": "The parameter type. Valid values are: - boolean: The value represents a boolean, represented as 'true' or 'false' - integer: The value represents a 64-bit signed integer value, in base 10 - list: A list of parameters should be specified - map: A map of parameters should be specified - template: The value represents any text; this can include variable references (even variable references that might return non-string types) - trigger_reference: The value represents a trigger, represented as the trigger id - tag_reference: The value represents a tag, represented as the tag name ",
          "type": "string",
          "enum": [
            "typeUnspecified",
            "template",
            "integer",
            "boolean",
            "list",
            "map",
            "triggerReference",
            "tagReference"
          ],
          "enumDescriptions": [
            "",
            "May include variable references.",
            "",
            "",
            "",
            "",
            "",
            ""
          ]
        },
        "list": {
          "items": {
            "$ref": "Parameter"
          },
          "type": "array",
          "description": "This list parameter's parameters (keys will be ignored)."
        },
        "value": {
          "description": "A parameter's value (may contain variable references). as appropriate to the specified type.",
          "type": "string"
        },
        "map": {
          "type": "array",
          "description": "This map parameter's parameters (must have keys; keys must be unique).",
          "items": {
            "$ref": "Parameter"
          }
        },
        "isWeakReference": {
          "description": "Whether or not a reference type parameter is strongly or weakly referenced. Only used by Transformations.",
          "type": "boolean"
        }
      }
    },
    "GalleryReference": {
      "type": "object",
      "properties": {
        "repository": {
          "type": "string",
          "description": "The name of the repository for the community gallery template."
        },
        "host": {
          "type": "string",
          "description": "The name of the host for the community gallery template."
        },
        "owner": {
          "type": "string",
          "description": "The name of the owner for the community gallery template."
        },
        "templateDeveloperId": {
          "description": "The developer id of the community gallery template. This value is set whenever the template is created from the gallery.",
          "type": "string"
        },
        "version": {
          "description": "The version of the community gallery template.",
          "type": "string"
        },
        "isModified": {
          "type": "boolean",
          "description": "If a user has manually edited the community gallery template."
        },
        "signature": {
          "description": "The signature of the community gallery template as computed at import time. This value is recomputed whenever the template is updated from the gallery.",
          "type": "string"
        },
        "galleryTemplateId": {
          "description": "ID for the gallery template that is generated once during first sync and travels with the template redirects.",
          "type": "string"
        }
      },
      "id": "GalleryReference",
      "description": "Represents the link between a custom template and an entry on the Community Template Gallery site."
    },
    "Container": {
      "type": "object",
      "description": "Represents a Google Tag Manager Container, which specifies the platform tags will run on, manages workspaces, and retains container versions.",
      "id": "Container",
      "properties": {
        "tagIds": {
          "type": "array",
          "description": "All Tag IDs that refer to this Container.",
          "items": {
            "type": "string"
          }
        },
        "accountId": {
          "description": "GTM Account ID.",
          "type": "string"
        },
        "taggingServerUrls": {
          "description": "List of server-side container URLs for the Container. If multiple URLs are provided, all URL paths must match.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "usageContext": {
          "description": "List of Usage Contexts for the Container. Valid values include: web, android, or ios.",
          "items": {
            "enumDescriptions": [
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              ""
            ],
            "type": "string",
            "enum": [
              "usageContextUnspecified",
              "web",
              "android",
              "ios",
              "androidSdk5",
              "iosSdk5",
              "amp",
              "server"
            ]
          },
          "type": "array"
        },
        "features": {
          "description": "Read-only Container feature set.",
          "$ref": "ContainerFeatures"
        },
        "fingerprint": {
          "type": "string",
          "description": "The fingerprint of the GTM Container as computed at storage time. This value is recomputed whenever the account is modified."
        },
        "publicId": {
          "type": "string",
          "description": "Container Public ID."
        },
        "tagManagerUrl": {
          "description": "Auto generated link to the tag manager UI",
          "type": "string"
        },
        "domainName": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "List of domain names associated with the Container."
        },
        "name": {
          "description": "Container display name.",
          "type": "string"
        },
        "containerId": {
          "type": "string",
          "description": "The Container ID uniquely identifies the GTM Container."
        },
        "path": {
          "description": "GTM Container's API relative path.",
          "type": "string"
        },
        "notes": {
          "type": "string",
          "description": "Container Notes."
        }
      }
    },
    "ZoneChildContainer": {
      "type": "object",
      "id": "ZoneChildContainer",
      "properties": {
        "nickname": {
          "type": "string",
          "description": "The zone's nickname for the child container."
        },
        "publicId": {
          "description": "The child container's public id.",
          "type": "string"
        }
      },
      "description": "Represents a child container of a Zone."
    },
    "ListTemplatesResponse": {
      "id": "ListTemplatesResponse",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "Continuation token for fetching the next page of results."
        },
        "template": {
          "description": "All GTM Custom Templates of a GTM Container.",
          "type": "array",
          "items": {
            "$ref": "CustomTemplate"
          }
        }
      },
      "type": "object"
    },
    "Condition": {
      "description": "Represents a predicate.",
      "id": "Condition",
      "properties": {
        "parameter": {
          "items": {
            "$ref": "Parameter"
          },
          "description": "A list of named parameters (key/value), depending on the condition's type. Notes: - For binary operators, include parameters named arg0 and arg1 for specifying the left and right operands, respectively. - At this time, the left operand (arg0) must be a reference to a variable. - For case-insensitive Regex matching, include a boolean parameter named ignore_case that is set to true. If not specified or set to any other value, the matching will be case sensitive. - To negate an operator, include a boolean parameter named negate boolean parameter that is set to true. ",
          "type": "array"
        },
        "type": {
          "type": "string",
          "enum": [
            "conditionTypeUnspecified",
            "equals",
            "contains",
            "startsWith",
            "endsWith",
            "matchRegex",
            "greater",
            "greaterOrEquals",
            "less",
            "lessOrEquals",
            "cssSelector",
            "urlMatches"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "description": "The type of operator for this condition."
        }
      },
      "type": "object"
    },
    "SyncStatus": {
      "description": "The status of a workspace after synchronization.",
      "properties": {
        "mergeConflict": {
          "description": "Synchornization operation detected a merge conflict.",
          "type": "boolean"
        },
        "syncError": {
          "type": "boolean",
          "description": "An error occurred during the synchronization operation."
        }
      },
      "type": "object",
      "id": "SyncStatus"
    },
    "Tag": {
      "id": "Tag",
      "type": "object",
      "properties": {
        "fingerprint": {
          "description": "The fingerprint of the GTM Tag as computed at storage time. This value is recomputed whenever the tag is modified.",
          "type": "string"
        },
        "tagId": {
          "type": "string",
          "description": "The Tag ID uniquely identifies the GTM Tag."
        },
        "type": {
          "description": "GTM Tag Type.",
          "type": "string"
        },
        "accountId": {
          "description": "GTM Account ID.",
          "type": "string"
        },
        "blockingTriggerId": {
          "items": {
            "type": "string"
          },
          "description": "Blocking trigger IDs. If any of the listed triggers evaluate to true, the tag will not fire.",
          "type": "array"
        },
        "name": {
          "description": "Tag display name.",
          "type": "string"
        },
        "consentSettings": {
          "$ref": "TagConsentSetting",
          "description": "Consent settings of a tag."
        },
        "workspaceId": {
          "type": "string",
          "description": "GTM Workspace ID."
        },
        "path": {
          "description": "GTM Tag's API relative path.",
          "type": "string"
        },
        "parameter": {
          "items": {
            "$ref": "Parameter"
          },
          "description": "The tag's parameters.",
          "type": "array"
        },
        "teardownTag": {
          "description": "The list of teardown tags. Currently we only allow one.",
          "type": "array",
          "items": {
            "$ref": "TeardownTag"
          }
        },
        "setupTag": {
          "type": "array",
          "description": "The list of setup tags. Currently we only allow one.",
          "items": {
            "$ref": "SetupTag"
          }
        },
        "monitoringMetadata": {
          "$ref": "Parameter",
          "description": "A map of key-value pairs of tag metadata to be included in the event data for tag monitoring. Notes: - This parameter must be type MAP. - Each parameter in the map are type TEMPLATE, however cannot contain variable references. "
        },
        "notes": {
          "description": "User notes on how to apply this tag in the container.",
          "type": "string"
        },
        "firingTriggerId": {
          "description": "Firing trigger IDs. A tag will fire when any of the listed triggers are true and all of its blockingTriggerIds (if any specified) are false.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "priority": {
          "description": "User defined numeric priority of the tag. Tags are fired asynchronously in order of priority. Tags with higher numeric value fire first. A tag's priority can be a positive or negative value. The default value is 0.",
          "$ref": "Parameter"
        },
        "monitoringMetadataTagNameKey": {
          "type": "string",
          "description": "If non-empty, then the tag display name will be included in the monitoring metadata map using the key specified."
        },
        "tagManagerUrl": {
          "description": "Auto generated link to the tag manager UI",
          "type": "string"
        },
        "liveOnly": {
          "type": "boolean",
          "description": "If set to true, this tag will only fire in the live environment (e.g. not in preview or debug mode)."
        },
        "containerId": {
          "type": "string",
          "description": "GTM Container ID."
        },
        "parentFolderId": {
          "type": "string",
          "description": "Parent folder id."
        },
        "tagFiringOption": {
          "enumDescriptions": [
            "",
            "Tag can be fired multiple times per event.",
            "Tag can only be fired per event but can be fired multiple times per load (e.g., app load or page load).",
            "Tag can only be fired per load (e.g., app load or page load)."
          ],
          "type": "string",
          "enum": [
            "tagFiringOptionUnspecified",
            "unlimited",
            "oncePerEvent",
            "oncePerLoad"
          ],
          "description": "Option to fire this tag."
        },
        "paused": {
          "description": "Indicates whether the tag is paused, which prevents the tag from firing.",
          "type": "boolean"
        },
        "scheduleStartMs": {
          "type": "string",
          "format": "int64",
          "description": "The start timestamp in milliseconds to schedule a tag."
        },
        "scheduleEndMs": {
          "format": "int64",
          "description": "The end timestamp in milliseconds to schedule a tag.",
          "type": "string"
        }
      },
      "description": "Represents a Google Tag Manager Tag."
    },
    "RevertTemplateResponse": {
      "description": "The result of reverting a template in a workspace.",
      "properties": {
        "template": {
          "description": "Template as it appears in the latest container version since the last workspace synchronization operation. If no template is present, that means the template was deleted in the latest container version.",
          "$ref": "CustomTemplate"
        }
      },
      "id": "RevertTemplateResponse",
      "type": "object"
    },
    "BulkUpdateWorkspaceResponse": {
      "id": "BulkUpdateWorkspaceResponse",
      "type": "object",
      "properties": {
        "changes": {
          "description": "The entities that were added or updated during the bulk-update. Does not include entities that were deleted or updated by the system.",
          "type": "array",
          "items": {
            "$ref": "Entity"
          }
        }
      }
    },
    "UserPermission": {
      "type": "object",
      "id": "UserPermission",
      "description": "Represents a user's permissions to an account and its container.",
      "properties": {
        "containerAccess": {
          "description": "GTM Container access permissions.",
          "items": {
            "$ref": "ContainerAccess"
          },
          "type": "array"
        },
        "emailAddress": {
          "type": "string",
          "description": "User's email address."
        },
        "accountId": {
          "description": "The Account ID uniquely identifies the GTM Account.",
          "type": "string"
        },
        "accountAccess": {
          "description": "GTM Account access permissions.",
          "$ref": "AccountAccess"
        },
        "path": {
          "description": "GTM UserPermission's API relative path.",
          "type": "string"
        }
      }
    }
  },
  "batchPath": "batch",
  "servicePath": "",
  "description": "This API allows clients to access and modify container and tag configuration.",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/tagmanager.edit.containers": {
          "description": "Manage your Google Tag Manager container and its subcomponents, excluding versioning and publishing"
        },
        "https://www.googleapis.com/auth/tagmanager.publish": {
          "description": "Publish your Google Tag Manager container versions"
        },
        "https://www.googleapis.com/auth/tagmanager.delete.containers": {
          "description": "Delete your Google Tag Manager containers"
        },
        "https://www.googleapis.com/auth/tagmanager.manage.accounts": {
          "description": "View and manage your Google Tag Manager accounts"
        },
        "https://www.googleapis.com/auth/tagmanager.edit.containerversions": {
          "description": "Manage your Google Tag Manager container versions"
        },
        "https://www.googleapis.com/auth/tagmanager.readonly": {
          "description": "View your Google Tag Manager container and its subcomponents"
        },
        "https://www.googleapis.com/auth/tagmanager.manage.users": {
          "description": "Manage user permissions of your Google Tag Manager account and container"
        }
      }
    }
  },
  "ownerName": "Google",
  "parameters": {
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "location": "query",
      "type": "boolean",
      "default": "true"
    },
    "alt": {
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "location": "query",
      "type": "string",
      "description": "Data format for response."
    },
    "upload_protocol": {
      "type": "string",
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "callback": {
      "description": "JSONP",
      "location": "query",
      "type": "string"
    },
    "uploadType": {
      "location": "query",
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query",
      "type": "string"
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "access_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth access token."
    },
    "$.xgafv": {
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "enum": [
        "1",
        "2"
      ],
      "location": "query",
      "description": "V1 error format."
    }
  },
  "rootUrl": "https://tagmanager.googleapis.com/",
  "documentationLink": "https://developers.google.com/tag-manager",
  "resources": {
    "accounts": {
      "methods": {
        "get": {
          "path": "tagmanager/v2/{+path}",
          "parameters": {
            "path": {
              "location": "path",
              "required": true,
              "type": "string",
              "pattern": "^accounts/[^/]+$",
              "description": "GTM Account's API relative path."
            }
          },
          "response": {
            "$ref": "Account"
          },
          "flatPath": "tagmanager/v2/accounts/{accountsId}",
          "id": "tagmanager.accounts.get",
          "httpMethod": "GET",
          "description": "Gets a GTM Account.",
          "scopes": [
            "https://www.googleapis.com/auth/tagmanager.edit.containers",
            "https://www.googleapis.com/auth/tagmanager.manage.accounts",
            "https://www.googleapis.com/auth/tagmanager.readonly"
          ],
          "parameterOrder": [
            "path"
          ]
        },
        "list": {
          "response": {
            "$ref": "ListAccountsResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/tagmanager.edit.containers",
            "https://www.googleapis.com/auth/tagmanager.manage.accounts",
            "https://www.googleapis.com/auth/tagmanager.readonly"
          ],
          "parameters": {
            "includeGoogleTags": {
              "description": "Also retrieve accounts associated with Google Tag when true.",
              "type": "boolean",
              "location": "query"
            },
            "pageToken": {
              "type": "string",
              "location": "query",
              "description": "Continuation token for fetching the next page of results."
            }
          },
          "flatPath": "tagmanager/v2/accounts",
          "httpMethod": "GET",
          "description": "Lists all GTM Accounts that a user has access to.",
          "parameterOrder": [],
          "id": "tagmanager.accounts.list",
          "path": "tagmanager/v2/accounts"
        },
        "update": {
          "request": {
            "$ref": "Account"
          },
          "description": "Updates a GTM Account.",
          "httpMethod": "PUT",
          "scopes": [
            "https://www.googleapis.com/auth/tagmanager.manage.accounts"
          ],
          "id": "tagmanager.accounts.update",
          "parameters": {
            "path": {
              "type": "string",
              "pattern": "^accounts/[^/]+$",
              "required": true,
              "description": "GTM Account's API relative path.",
              "location": "path"
            },
            "fingerprint": {
              "location": "query",
              "description": "When provided, this fingerprint must match the fingerprint of the account in storage.",
              "type": "string"
            }
          },
          "response": {
            "$ref": "Account"
          },
          "flatPath": "tagmanager/v2/accounts/{accountsId}",
          "parameterOrder": [
            "path"
          ],
          "path": "tagmanager/v2/{+path}"
        }
      },
      "resources": {
        "containers": {
          "methods": {
            "move_tag_id": {
              "flatPath": "tagmanager/v2/accounts/{accountsId}/containers/{containersId}:move_tag_id",
              "id": "tagmanager.accounts.containers.move_tag_id",
              "parameterOrder": [
                "path"
              ],
              "response": {
                "$ref": "Container"
              },
              "scopes": [
                "https://www.googleapis.com/auth/tagmanager.edit.containers"
              ],
              "parameters": {
                "tagId": {
                  "type": "string",
                  "location": "query",
                  "description": "Tag ID to be removed from the current Container."
                },
                "path": {
                  "type": "string",
                  "description": "GTM Container's API relative path.",
                  "pattern": "^accounts/[^/]+/containers/[^/]+$",
                  "required": true,
                  "location": "path"
                },
                "tagName": {
                  "type": "string",
                  "location": "query",
                  "description": "The name for the newly created tag."
                },
                "copyTermsOfService": {
                  "location": "query",
                  "type": "boolean",
                  "description": "Must be set to true to accept all terms of service agreements copied from the current tag to the newly created tag. If this bit is false, the operation will fail."
                },
                "copySettings": {
                  "type": "boolean",
                  "location": "query",
                  "description": "Whether or not to copy tag settings from this tag to the new tag."
                },
                "allowUserPermissionFeatureUpdate": {
                  "type": "boolean",
                  "description": "Must be set to true to allow features.user_permissions to change from false to true. If this operation causes an update but this bit is false, the operation will fail.",
                  "location": "query"
                },
                "copyUsers": {
                  "location": "query",
                  "type": "boolean",
                  "description": "Whether or not to copy users from this tag to the new tag."
                }
              },
              "description": "Move Tag ID out of a Container.",
              "path": "tagmanager/v2/{+path}:move_tag_id",
              "httpMethod": "POST",
              "deprecated": true
            },
            "create": {
              "path": "tagmanager/v2/{+parent}/containers",
              "description": "Creates a Container.",
              "response": {
                "$ref": "Container"
              },
              "id": "tagmanager.accounts.containers.create",
              "parameters": {
                "parent": {
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "description": "GTM Account's API relative path.",
                  "pattern": "^accounts/[^/]+$"
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/tagmanager.edit.containers"
              ],
              "flatPath": "tagmanager/v2/accounts/{accountsId}/containers",
              "httpMethod": "POST",
              "request": {
                "$ref": "Container"
              }
            },
            "lookup": {
              "response": {
                "$ref": "Container"
              },
              "id": "tagmanager.accounts.containers.lookup",
              "parameters": {
                "destinationId": {
                  "location": "query",
                  "type": "string",
                  "description": "Destination ID linked to a GTM Container, e.g. AW-123456789. Only one of destination_id or tag_id should be set."
                },
                "tagId": {
                  "description": "Tag ID for a GTM Container, e.g. GTM-123456789. Only one of destination_id or tag_id should be set.",
                  "location": "query",
                  "type": "string"
                }
              },
              "flatPath": "tagmanager/v2/accounts/containers:lookup",
              "scopes": [
                "https://www.googleapis.com/auth/tagmanager.edit.containers",
                "https://www.googleapis.com/auth/tagmanager.readonly"
              ],
              "path": "tagmanager/v2/accounts/containers:lookup",
              "parameterOrder": [],
              "description": "Looks up a Container by destination ID or tag ID.",
              "httpMethod": "GET"
            },
            "delete": {
              "id": "tagmanager.accounts.containers.delete",
              "description": "Deletes a Container.",
[...]
