{
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/tagmanager.edit.containers": {
          "description": "Manage your Google Tag Manager container and its subcomponents, excluding versioning and publishing"
        },
        "https://www.googleapis.com/auth/tagmanager.publish": {
          "description": "Publish your Google Tag Manager container versions"
        },
        "https://www.googleapis.com/auth/tagmanager.readonly": {
          "description": "View your Google Tag Manager container and its subcomponents"
        },
        "https://www.googleapis.com/auth/tagmanager.edit.containerversions": {
          "description": "Manage your Google Tag Manager container versions"
        },
        "https://www.googleapis.com/auth/tagmanager.delete.containers": {
          "description": "Delete your Google Tag Manager containers"
        },
        "https://www.googleapis.com/auth/tagmanager.manage.accounts": {
          "description": "View and manage your Google Tag Manager accounts"
        },
        "https://www.googleapis.com/auth/tagmanager.manage.users": {
          "description": "Manage user permissions of your Google Tag Manager account and container"
        }
      }
    }
  },
  "batchPath": "batch",
  "documentationLink": "https://developers.google.com/tag-manager",
  "discoveryVersion": "v1",
  "mtlsRootUrl": "https://tagmanager.mtls.googleapis.com/",
  "canonicalName": "Tag Manager",
  "schemas": {
    "Folder": {
      "type": "object",
      "id": "Folder",
      "properties": {
        "tagManagerUrl": {
          "description": "Auto generated link to the tag manager UI",
          "type": "string"
        },
        "accountId": {
          "description": "GTM Account ID.",
          "type": "string"
        },
        "workspaceId": {
          "description": "GTM Workspace ID.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Folder display name."
        },
        "notes": {
          "description": "User notes on how to apply this folder in the container.",
          "type": "string"
        },
        "fingerprint": {
          "type": "string",
          "description": "The fingerprint of the GTM Folder as computed at storage time. This value is recomputed whenever the folder is modified."
        },
        "containerId": {
          "description": "GTM Container ID.",
          "type": "string"
        },
        "folderId": {
          "type": "string",
          "description": "The Folder ID uniquely identifies the GTM Folder."
        },
        "path": {
          "description": "GTM Folder's API relative path.",
          "type": "string"
        }
      },
      "description": "Represents a Google Tag Manager Folder."
    },
    "GetContainerSnippetResponse": {
      "id": "GetContainerSnippetResponse",
      "type": "object",
      "properties": {
        "snippet": {
          "type": "string",
          "description": "Tagging snippet for a Container."
        },
        "containerConfig": {
          "description": "Server container config param for manually provisioning a tagging server.",
          "type": "string"
        }
      }
    },
    "Transformation": {
      "description": "Represents a Google Tag Manager Transformation.",
      "type": "object",
      "id": "Transformation",
      "properties": {
        "notes": {
          "description": "User notes on how to apply this transformation in the container.",
          "type": "string"
        },
        "parentFolderId": {
          "description": "Parent folder id.",
          "type": "string"
        },
        "name": {
          "description": "Transformation display name.",
          "type": "string"
        },
        "parameter": {
          "type": "array",
          "description": "The transformation's parameters.",
          "items": {
            "$ref": "Parameter"
          }
        },
        "fingerprint": {
          "type": "string",
          "description": "The fingerprint of the GTM Transformation as computed at storage time. This value is recomputed whenever the transformation is modified."
        },
        "workspaceId": {
          "description": "GTM Workspace ID.",
          "type": "string"
        },
        "type": {
          "type": "string",
          "description": "Transformation type."
        },
        "containerId": {
          "description": "GTM Container ID.",
          "type": "string"
        },
        "path": {
          "description": "GTM transformation's API relative path.",
          "type": "string"
        },
        "transformationId": {
          "type": "string",
          "description": "The Transformation ID uniquely identifies the GTM transformation."
        },
        "accountId": {
          "type": "string",
          "description": "GTM Account ID."
        },
        "tagManagerUrl": {
          "description": "Auto generated link to the tag manager UI",
          "type": "string"
        }
      }
    },
    "ContainerVersionHeader": {
      "description": "Represents a Google Tag Manager Container Version Header.",
      "properties": {
        "containerVersionId": {
          "description": "The Container Version ID uniquely identifies the GTM Container Version.",
          "type": "string"
        },
        "deleted": {
          "type": "boolean",
          "description": "A value of true indicates this container version has been deleted."
        },
        "numGtagConfigs": {
          "description": "Number of Google tag configs in the container version.",
          "type": "string"
        },
        "numCustomTemplates": {
          "description": "Number of custom templates in the container version.",
          "type": "string"
        },
        "name": {
          "description": "Container version display name.",
          "type": "string"
        },
        "numZones": {
          "description": "Number of zones in the container version.",
          "type": "string"
        },
        "numTags": {
          "description": "Number of tags in the container version.",
          "type": "string"
        },
        "path": {
          "type": "string",
          "description": "GTM Container Version's API relative path."
        },
        "numTriggers": {
          "description": "Number of triggers in the container version.",
          "type": "string"
        },
        "containerId": {
          "type": "string",
          "description": "GTM Container ID."
        },
        "accountId": {
          "description": "GTM Account ID.",
          "type": "string"
        },
        "numClients": {
          "type": "string",
          "description": "Number of clients in the container version."
        },
        "numVariables": {
          "type": "string",
          "description": "Number of variables in the container version."
        },
        "numTransformations": {
          "type": "string",
          "description": "Number of transformations in the container version."
        }
      },
      "type": "object",
      "id": "ContainerVersionHeader"
    },
    "ListUserPermissionsResponse": {
      "id": "ListUserPermissionsResponse",
      "type": "object",
      "description": "List user permissions response.",
      "properties": {
        "userPermission": {
          "description": "All GTM UserPermissions of a GTM Account.",
          "type": "array",
          "items": {
            "$ref": "UserPermission"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "Continuation token for fetching the next page of results."
        }
      }
    },
    "ListEnvironmentsResponse": {
      "id": "ListEnvironmentsResponse",
      "description": "List Environments Response.",
      "properties": {
        "environment": {
          "items": {
            "$ref": "Environment"
          },
          "description": "All Environments of a GTM Container.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "Continuation token for fetching the next page of results.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "Variable": {
      "description": "Represents a Google Tag Manager Variable.",
      "id": "Variable",
      "properties": {
        "accountId": {
          "type": "string",
          "description": "GTM Account ID."
        },
        "workspaceId": {
          "type": "string",
          "description": "GTM Workspace ID."
        },
        "tagManagerUrl": {
          "description": "Auto generated link to the tag manager UI",
          "type": "string"
        },
        "path": {
          "description": "GTM Variable's API relative path.",
          "type": "string"
        },
        "variableId": {
          "type": "string",
          "description": "The Variable ID uniquely identifies the GTM Variable."
        },
        "formatValue": {
          "description": "Option to convert a variable value to other value.",
          "$ref": "VariableFormatValue"
        },
        "type": {
          "type": "string",
          "description": "GTM Variable Type."
        },
        "scheduleEndMs": {
          "type": "string",
          "description": "The end timestamp in milliseconds to schedule a variable.",
          "format": "int64"
        },
        "disablingTriggerId": {
          "items": {
            "type": "string"
          },
          "description": "For mobile containers only: A list of trigger IDs for disabling conditional variables; the variable is enabled if one of the enabling trigger is true while all the disabling trigger are false. Treated as an unordered set.",
          "type": "array"
        },
        "parentFolderId": {
          "type": "string",
          "description": "Parent folder id."
        },
        "notes": {
          "type": "string",
          "description": "User notes on how to apply this variable in the container."
        },
        "fingerprint": {
          "type": "string",
          "description": "The fingerprint of the GTM Variable as computed at storage time. This value is recomputed whenever the variable is modified."
        },
        "scheduleStartMs": {
          "description": "The start timestamp in milliseconds to schedule a variable.",
          "format": "int64",
          "type": "string"
        },
        "name": {
          "description": "Variable display name.",
          "type": "string"
        },
        "parameter": {
          "items": {
            "$ref": "Parameter"
          },
          "type": "array",
          "description": "The variable's parameters."
        },
        "enablingTriggerId": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "For mobile containers only: A list of trigger IDs for enabling conditional variables; the variable is enabled if one of the enabling triggers is true while all the disabling triggers are false. Treated as an unordered set."
        },
        "containerId": {
          "type": "string",
          "description": "GTM Container ID."
        }
      },
      "type": "object"
    },
    "RevertBuiltInVariableResponse": {
      "id": "RevertBuiltInVariableResponse",
      "properties": {
        "enabled": {
          "description": "Whether the built-in variable is enabled after reversion.",
          "type": "boolean"
        }
      },
      "type": "object",
      "description": "The result of reverting a built-in variable in a workspace."
    },
    "ListClientsResponse": {
      "id": "ListClientsResponse",
      "properties": {
        "client": {
          "description": "All GTM Clients of a GTM Container.",
          "items": {
            "$ref": "Client"
          },
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "Continuation token for fetching the next page of results."
        }
      },
      "type": "object"
    },
    "AccountAccess": {
      "id": "AccountAccess",
      "properties": {
        "permission": {
          "enum": [
            "accountPermissionUnspecified",
            "noAccess",
            "user",
            "admin"
          ],
          "description": "Whether the user has no access, user access, or admin access to an account.",
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "type": "string"
        }
      },
      "description": "Defines the Google Tag Manager Account access permissions.",
      "type": "object"
    },
    "ZoneChildContainer": {
      "description": "Represents a child container of a Zone.",
      "id": "ZoneChildContainer",
      "type": "object",
      "properties": {
        "nickname": {
          "description": "The zone's nickname for the child container.",
          "type": "string"
        },
        "publicId": {
          "type": "string",
          "description": "The child container's public id."
        }
      }
    },
    "ListFoldersResponse": {
      "description": "List Folders Response.",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "Continuation token for fetching the next page of results.",
          "type": "string"
        },
        "folder": {
          "type": "array",
          "items": {
            "$ref": "Folder"
          },
          "description": "All GTM Folders of a GTM Container."
        }
      },
      "id": "ListFoldersResponse"
    },
    "Condition": {
      "properties": {
        "type": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "conditionTypeUnspecified",
            "equals",
            "contains",
            "startsWith",
            "endsWith",
            "matchRegex",
            "greater",
            "greaterOrEquals",
            "less",
            "lessOrEquals",
            "cssSelector",
            "urlMatches"
          ],
          "description": "The type of operator for this condition."
        },
        "parameter": {
          "description": "A list of named parameters (key/value), depending on the condition's type. Notes: - For binary operators, include parameters named arg0 and arg1 for specifying the left and right operands, respectively. - At this time, the left operand (arg0) must be a reference to a variable. - For case-insensitive Regex matching, include a boolean parameter named ignore_case that is set to true. If not specified or set to any other value, the matching will be case sensitive. - To negate an operator, include a boolean parameter named negate boolean parameter that is set to true. ",
          "items": {
            "$ref": "Parameter"
          },
          "type": "array"
        }
      },
      "description": "Represents a predicate.",
      "id": "Condition",
      "type": "object"
    },
    "Destination": {
      "properties": {
        "destinationLinkId": {
          "type": "string",
          "description": "The Destination link ID uniquely identifies the Destination."
        },
        "fingerprint": {
          "description": "The fingerprint of the Google Tag Destination as computed at storage time. This value is recomputed whenever the destination is modified.",
          "type": "string"
        },
        "tagManagerUrl": {
          "description": "Auto generated link to the tag manager UI.",
          "type": "string"
        },
        "accountId": {
          "description": "GTM Account ID.",
          "type": "string"
        },
        "path": {
          "type": "string",
          "description": "Destination's API relative path."
        },
        "name": {
          "description": "Destination display name.",
          "type": "string"
        },
        "destinationId": {
          "description": "Destination ID.",
          "type": "string"
        },
        "containerId": {
          "type": "string",
          "description": "GTM Container ID."
        }
      },
      "type": "object",
      "description": "Represents a Google Tag Destination.",
      "id": "Destination"
    },
    "SetupTag": {
      "description": "Represents a reference to atag that fires before another tag in order to set up dependencies.",
      "type": "object",
      "properties": {
        "tagName": {
          "description": "The name of the setup tag.",
          "type": "string"
        },
        "stopOnSetupFailure": {
          "description": "If true, fire the main tag if and only if the setup tag fires successfully. If false, fire the main tag regardless of setup tag firing status.",
          "type": "boolean"
        }
      },
      "id": "SetupTag"
    },
    "ZoneBoundary": {
      "id": "ZoneBoundary",
      "type": "object",
      "properties": {
        "condition": {
          "type": "array",
          "items": {
            "$ref": "Condition"
          },
          "description": "The conditions that, when conjoined, make up the boundary."
        },
        "customEvaluationTriggerId": {
          "description": "Custom evaluation trigger IDs. A zone will evaluate its boundary conditions when any of the listed triggers are true.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "Represents a Zone's boundaries."
    },
    "ContainerAccess": {
      "description": "Defines the Google Tag Manager Container access permissions.",
      "properties": {
        "containerId": {
          "description": "GTM Container ID.",
          "type": "string"
        },
        "permission": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "containerPermissionUnspecified",
            "noAccess",
            "read",
            "edit",
            "approve",
            "publish"
          ],
          "description": "List of Container permissions.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "ContainerAccess"
    },
    "TeardownTag": {
      "properties": {
        "stopTeardownOnFailure": {
          "type": "boolean",
          "description": "If true, fire the teardown tag if and only if the main tag fires successfully. If false, fire the teardown tag regardless of main tag firing status."
        },
        "tagName": {
          "description": "The name of the teardown tag.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Represents a tag that fires after another tag in order to tear down dependencies.",
      "id": "TeardownTag"
    },
    "Workspace": {
      "description": "Represents a Google Tag Manager Container Workspace.",
      "type": "object",
      "properties": {
        "containerId": {
          "description": "GTM Container ID.",
          "type": "string"
        },
        "tagManagerUrl": {
          "type": "string",
          "description": "Auto generated link to the tag manager UI"
        },
        "accountId": {
          "description": "GTM Account ID.",
          "type": "string"
        },
        "workspaceId": {
          "description": "The Workspace ID uniquely identifies the GTM Workspace.",
          "type": "string"
        },
        "description": {
          "description": "Workspace description.",
          "type": "string"
        },
        "fingerprint": {
          "type": "string",
          "description": "The fingerprint of the GTM Workspace as computed at storage time. This value is recomputed whenever the workspace is modified."
        },
        "path": {
          "description": "GTM Workspace's API relative path.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Workspace display name."
        }
      },
      "id": "Workspace"
    },
    "GtagConfig": {
      "description": "Represents a Google tag configuration.",
      "type": "object",
      "id": "GtagConfig",
      "properties": {
        "type": {
          "type": "string",
          "description": "Google tag config type."
        },
        "fingerprint": {
          "description": "The fingerprint of the Google tag config as computed at storage time. This value is recomputed whenever the config is modified.",
          "type": "string"
        },
        "workspaceId": {
          "description": "Google tag workspace ID. Only used by GTM containers. Set to 0 otherwise.",
          "type": "string"
        },
        "accountId": {
          "type": "string",
          "description": "Google tag account ID."
        },
        "gtagConfigId": {
          "type": "string",
          "description": "The ID uniquely identifies the Google tag config."
        },
        "parameter": {
          "items": {
            "$ref": "Parameter"
          },
          "type": "array",
          "description": "The Google tag config's parameters."
        },
        "path": {
          "description": "Google tag config's API relative path.",
          "type": "string"
        },
        "containerId": {
          "type": "string",
          "description": "Google tag container ID."
        },
        "tagManagerUrl": {
          "description": "Auto generated link to the tag manager UI",
          "type": "string"
        }
      }
    },
    "Trigger": {
      "description": "Represents a Google Tag Manager Trigger",
      "type": "object",
      "properties": {
        "verticalScrollPercentageList": {
          "$ref": "Parameter",
          "description": "List of integer percentage values for scroll triggers. The trigger will fire when each percentage is reached when the view is scrolled vertically. Only valid for AMP scroll triggers."
        },
        "visiblePercentageMin": {
          "description": "A visibility trigger minimum percent visibility. Only valid for AMP Visibility trigger.",
          "$ref": "Parameter"
        },
        "limit": {
          "description": "Limit of the number of GTM events this Timer Trigger will fire. If no limit is set, we will continue to fire GTM events until the user leaves the page. Only valid for Timer triggers.",
          "$ref": "Parameter"
        },
        "name": {
          "description": "Trigger display name.",
          "type": "string"
        },
        "interval": {
          "description": "Time between triggering recurring Timer Events (in milliseconds). Only valid for Timer triggers.",
          "$ref": "Parameter"
        },
        "customEventFilter": {
          "description": "Used in the case of custom event, which is fired iff all Conditions are true.",
          "items": {
            "$ref": "Condition"
          },
          "type": "array"
        },
        "maxTimerLengthSeconds": {
          "$ref": "Parameter",
          "description": "Max time to fire Timer Events (in seconds). Only valid for AMP Timer trigger."
        },
        "horizontalScrollPercentageList": {
          "description": "List of integer percentage values for scroll triggers. The trigger will fire when each percentage is reached when the view is scrolled horizontally. Only valid for AMP scroll triggers.",
          "$ref": "Parameter"
        },
        "checkValidation": {
          "description": "Whether or not we should only fire tags if the form submit or link click event is not cancelled by some other event handler (e.g. because of validation). Only valid for Form Submission and Link Click triggers.",
          "$ref": "Parameter"
        },
        "containerId": {
          "description": "GTM Container ID.",
          "type": "string"
        },
        "visiblePercentageMax": {
          "description": "A visibility trigger maximum percent visibility. Only valid for AMP Visibility trigger.",
          "$ref": "Parameter"
        },
        "selector": {
          "$ref": "Parameter",
          "description": "A click trigger CSS selector (i.e. \"a\", \"button\" etc.). Only valid for AMP Click trigger."
        },
        "eventName": {
          "description": "Name of the GTM event that is fired. Only valid for Timer triggers.",
          "$ref": "Parameter"
        },
        "notes": {
          "type": "string",
          "description": "User notes on how to apply this trigger in the container."
        },
        "triggerId": {
          "type": "string",
          "description": "The Trigger ID uniquely identifies the GTM Trigger."
        },
        "totalTimeMinMilliseconds": {
          "description": "A visibility trigger minimum total visible time (in milliseconds). Only valid for AMP Visibility trigger.",
          "$ref": "Parameter"
        },
        "parameter": {
          "description": "Additional parameters.",
          "items": {
            "$ref": "Parameter"
          },
          "type": "array"
        },
        "intervalSeconds": {
          "description": "Time between Timer Events to fire (in seconds). Only valid for AMP Timer trigger.",
          "$ref": "Parameter"
        },
        "waitForTagsTimeout": {
          "description": "How long to wait (in milliseconds) for tags to fire when 'waits_for_tags' above evaluates to true. Only valid for Form Submission and Link Click triggers.",
          "$ref": "Parameter"
        },
        "tagManagerUrl": {
          "description": "Auto generated link to the tag manager UI",
          "type": "string"
        },
        "parentFolderId": {
          "type": "string",
          "description": "Parent folder id."
        },
        "visibilitySelector": {
          "$ref": "Parameter",
          "description": "A visibility trigger CSS selector (i.e. \"#id\"). Only valid for AMP Visibility trigger."
        },
        "workspaceId": {
          "description": "GTM Workspace ID.",
          "type": "string"
        },
        "filter": {
          "items": {
            "$ref": "Condition"
          },
          "description": "The trigger will only fire iff all Conditions are true.",
          "type": "array"
        },
        "autoEventFilter": {
          "type": "array",
          "description": "Used in the case of auto event tracking.",
          "items": {
            "$ref": "Condition"
          }
        },
        "type": {
          "type": "string",
          "description": "Defines the data layer event that causes this trigger.",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "eventTypeUnspecified",
            "pageview",
            "domReady",
            "windowLoaded",
            "customEvent",
            "triggerGroup",
            "init",
            "consentInit",
            "serverPageview",
            "always",
            "firebaseAppException",
            "firebaseAppUpdate",
            "firebaseCampaign",
            "firebaseFirstOpen",
            "firebaseInAppPurchase",
            "firebaseNotificationDismiss",
            "firebaseNotificationForeground",
            "firebaseNotificationOpen",
            "firebaseNotificationReceive",
            "firebaseOsUpdate",
            "firebaseSessionStart",
            "firebaseUserEngagement",
            "formSubmission",
            "click",
            "linkClick",
            "jsError",
            "historyChange",
            "timer",
            "ampClick",
            "ampTimer",
            "ampScroll",
            "ampVisibility",
            "youTubeVideo",
            "scrollDepth",
            "elementVisibility"
          ]
        },
        "uniqueTriggerId": {
          "description": "Globally unique id of the trigger that auto-generates this (a Form Submit, Link Click or Timer listener) if any. Used to make incompatible auto-events work together with trigger filtering based on trigger ids. This value is populated during output generation since the tags implied by triggers don't exist until then. Only valid for Form Submit, Link Click and Timer triggers.",
          "$ref": "Parameter"
        },
        "accountId": {
          "description": "GTM Account ID.",
          "type": "string"
        },
        "continuousTimeMinMilliseconds": {
          "description": "A visibility trigger minimum continuous visible time (in milliseconds). Only valid for AMP Visibility trigger.",
          "$ref": "Parameter"
        },
        "path": {
          "description": "GTM Trigger's API relative path.",
          "type": "string"
        },
        "waitForTags": {
          "description": "Whether or not we should delay the form submissions or link opening until all of the tags have fired (by preventing the default action and later simulating the default action). Only valid for Form Submission and Link Click triggers.",
          "$ref": "Parameter"
        },
        "fingerprint": {
          "type": "string",
          "description": "The fingerprint of the GTM Trigger as computed at storage time. This value is recomputed whenever the trigger is modified."
        }
      },
      "id": "Trigger"
    },
    "CreateContainerVersionRequestVersionOptions": {
      "properties": {
        "notes": {
          "type": "string",
          "description": "The notes of the container version to be created."
        },
        "name": {
          "description": "The name of the container version to be created.",
          "type": "string"
        }
      },
      "id": "CreateContainerVersionRequestVersionOptions",
      "type": "object",
      "description": "Options for new container versions."
    },
    "ContainerVersion": {
      "properties": {
        "fingerprint": {
          "description": "The fingerprint of the GTM Container Version as computed at storage time. This value is recomputed whenever the container version is modified.",
          "type": "string"
        },
        "name": {
          "description": "Container version display name.",
          "type": "string"
        },
        "folder": {
          "description": "The folders in the container that this version was taken from.",
          "type": "array",
          "items": {
            "$ref": "Folder"
          }
        },
        "customTemplate": {
          "items": {
            "$ref": "CustomTemplate"
          },
          "description": "The custom templates in the container that this version was taken from.",
          "type": "array"
        },
        "description": {
          "type": "string",
          "description": "Container version description."
        },
        "client": {
          "items": {
            "$ref": "Client"
          },
          "description": "The clients in the container that this version was taken from.",
          "type": "array"
        },
        "containerVersionId": {
          "type": "string",
          "description": "The Container Version ID uniquely identifies the GTM Container Version."
        },
        "containerId": {
          "description": "GTM Container ID.",
          "type": "string"
        },
        "gtagConfig": {
          "items": {
            "$ref": "GtagConfig"
          },
          "description": "The Google tag configs in the container that this version was taken from.",
          "type": "array"
        },
        "zone": {
          "description": "The zones in the container that this version was taken from.",
          "type": "array",
          "items": {
            "$ref": "Zone"
          }
        },
        "builtInVariable": {
          "description": "The built-in variables in the container that this version was taken from.",
          "type": "array",
          "items": {
            "$ref": "BuiltInVariable"
          }
        },
        "accountId": {
          "type": "string",
          "description": "GTM Account ID."
        },
        "container": {
          "description": "The container that this version was taken from.",
          "$ref": "Container"
        },
        "transformation": {
          "items": {
            "$ref": "Transformation"
          },
          "type": "array",
          "description": "The transformations in the container that this version was taken from."
        },
        "path": {
          "description": "GTM Container Version's API relative path.",
          "type": "string"
        },
        "deleted": {
          "description": "A value of true indicates this container version has been deleted.",
          "type": "boolean"
        },
        "tag": {
          "description": "The tags in the container that this version was taken from.",
          "items": {
            "$ref": "Tag"
          },
          "type": "array"
        },
        "trigger": {
          "type": "array",
          "items": {
            "$ref": "Trigger"
          },
          "description": "The triggers in the container that this version was taken from."
        },
        "variable": {
          "description": "The variables in the container that this version was taken from.",
          "type": "array",
          "items": {
            "$ref": "Variable"
          }
        },
        "tagManagerUrl": {
          "description": "Auto generated link to the tag manager UI",
          "type": "string"
        }
      },
      "description": "Represents a Google Tag Manager Container Version.",
      "id": "ContainerVersion",
      "type": "object"
    },
    "RevertFolderResponse": {
      "type": "object",
      "properties": {
        "folder": {
          "$ref": "Folder",
          "description": "Folder as it appears in the latest container version since the last workspace synchronization operation. If no folder is present, that means the folder was deleted in the latest container version."
        }
      },
      "description": "The result of reverting folder changes in a workspace.",
      "id": "RevertFolderResponse"
    },
    "AccountFeatures": {
      "properties": {
        "supportMultipleContainers": {
          "description": "Whether this Account supports multiple Containers.",
          "type": "boolean"
        },
        "supportUserPermissions": {
          "description": "Whether this Account supports user permissions managed by GTM.",
          "type": "boolean"
        }
      },
      "id": "AccountFeatures",
      "type": "object"
    },
    "Zone": {
      "id": "Zone",
      "properties": {
        "notes": {
          "description": "User notes on how to apply this zone in the container.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Zone display name."
        },
        "typeRestriction": {
          "description": "This Zone's type restrictions.",
          "$ref": "ZoneTypeRestriction"
        },
        "workspaceId": {
          "description": "GTM Workspace ID.",
          "type": "string"
        },
        "accountId": {
          "description": "GTM Account ID.",
          "type": "string"
        },
        "fingerprint": {
          "type": "string",
          "description": "The fingerprint of the GTM Zone as computed at storage time. This value is recomputed whenever the zone is modified."
        },
        "tagManagerUrl": {
          "description": "Auto generated link to the tag manager UI",
          "type": "string"
        },
        "zoneId": {
          "description": "The Zone ID uniquely identifies the GTM Zone.",
          "type": "string"
        },
        "boundary": {
          "description": "This Zone's boundary.",
          "$ref": "ZoneBoundary"
        },
        "containerId": {
          "type": "string",
          "description": "GTM Container ID."
        },
        "path": {
          "description": "GTM Zone's API relative path.",
          "type": "string"
        },
        "childContainer": {
          "type": "array",
          "items": {
            "$ref": "ZoneChildContainer"
          },
          "description": "Containers that are children of this Zone."
        }
      },
      "type": "object",
      "description": "Represents a Google Tag Manager Zone's contents."
    },
    "GalleryReference": {
      "description": "Represents the link between a custom template and an entry on the Community Template Gallery site.",
      "type": "object",
      "properties": {
        "version": {
          "type": "string",
          "description": "The version of the community gallery template."
        },
        "signature": {
          "description": "The signature of the community gallery template as computed at import time. This value is recomputed whenever the template is updated from the gallery.",
          "type": "string"
        },
        "host": {
          "type": "string",
          "description": "The name of the host for the community gallery template."
        },
        "isModified": {
          "description": "If a user has manually edited the community gallery template.",
          "type": "boolean"
        },
        "templateDeveloperId": {
          "description": "The developer id of the community gallery template. This value is set whenever the template is created from the gallery.",
          "type": "string"
        },
        "repository": {
          "description": "The name of the repository for the community gallery template.",
          "type": "string"
        },
        "owner": {
          "description": "The name of the owner for the community gallery template.",
          "type": "string"
        },
        "galleryTemplateId": {
          "type": "string",
          "description": "ID for the gallery template that is generated once during first sync and travels with the template redirects."
        }
      },
      "id": "GalleryReference"
    },
    "ContainerFeatures": {
      "id": "ContainerFeatures",
      "type": "object",
      "properties": {
        "supportTags": {
          "type": "boolean",
          "description": "Whether this Container supports tags."
        },
        "supportBuiltInVariables": {
          "type": "boolean",
          "description": "Whether this Container supports built-in variables"
        },
        "supportClients": {
          "type": "boolean",
          "description": "Whether this Container supports clients."
        },
        "supportWorkspaces": {
          "description": "Whether this Container supports workspaces.",
          "type": "boolean"
        },
        "supportGtagConfigs": {
          "type": "boolean",
          "description": "Whether this Container supports Google tag config."
        },
        "supportVersions": {
          "description": "Whether this Container supports Container versions.",
          "type": "boolean"
        },
        "supportEnvironments": {
          "description": "Whether this Container supports environments.",
          "type": "boolean"
        },
        "supportTemplates": {
          "description": "Whether this Container supports templates.",
          "type": "boolean"
        },
        "supportUserPermissions": {
          "description": "Whether this Container supports user permissions managed by GTM.",
          "type": "boolean"
        },
        "supportVariables": {
          "description": "Whether this Container supports variables.",
          "type": "boolean"
        },
        "supportTriggers": {
          "type": "boolean",
          "description": "Whether this Container supports triggers."
        },
        "supportTransformations": {
          "type": "boolean",
          "description": "Whether this Container supports transformations."
        },
        "supportZones": {
          "description": "Whether this Container supports zones.",
          "type": "boolean"
        },
        "supportFolders": {
          "type": "boolean",
          "description": "Whether this Container supports folders."
        }
      }
    },
    "ListTagsResponse": {
      "id": "ListTagsResponse",
      "properties": {
        "tag": {
          "items": {
            "$ref": "Tag"
          },
          "type": "array",
          "description": "All GTM Tags of a GTM Container."
        },
        "nextPageToken": {
          "type": "string",
          "description": "Continuation token for fetching the next page of results."
        }
      },
      "type": "object",
      "description": "List Tags Response."
    },
    "ListEnabledBuiltInVariablesResponse": {
      "id": "ListEnabledBuiltInVariablesResponse",
      "type": "object",
      "properties": {
        "builtInVariable": {
          "items": {
            "$ref": "BuiltInVariable"
          },
          "type": "array",
          "description": "All GTM BuiltInVariables of a GTM container."
        },
        "nextPageToken": {
          "type": "string",
          "description": "Continuation token for fetching the next page of results."
        }
      },
      "description": "A list of enabled built-in variables."
    },
    "ListTemplatesResponse": {
      "id": "ListTemplatesResponse",
      "properties": {
        "template": {
          "description": "All GTM Custom Templates of a GTM Container.",
          "type": "array",
          "items": {
            "$ref": "CustomTemplate"
          }
        },
        "nextPageToken": {
          "description": "Continuation token for fetching the next page of results.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "CreateContainerVersionResponse": {
      "id": "CreateContainerVersionResponse",
      "properties": {
        "newWorkspacePath": {
          "type": "string",
          "description": "Auto generated workspace path created as a result of version creation. This field should only be populated if the created version was not a quick preview."
        },
        "containerVersion": {
          "description": "The container version created.",
          "$ref": "ContainerVersion"
        },
        "compilerError": {
          "description": "Compiler errors or not.",
          "type": "boolean"
        },
        "syncStatus": {
          "description": "Whether version creation failed when syncing the workspace to the latest container version.",
          "$ref": "SyncStatus"
        }
      },
      "type": "object",
      "description": "Create container versions response."
    },
    "ListContainersResponse": {
      "id": "ListContainersResponse",
      "properties": {
        "container": {
          "items": {
            "$ref": "Container"
          },
          "description": "All Containers of a GTM Account.",
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "Continuation token for fetching the next page of results."
        }
      },
      "type": "object",
      "description": "List Containers Response."
    },
    "Client": {
      "id": "Client",
      "properties": {
        "path": {
          "description": "GTM client's API relative path.",
          "type": "string"
        },
        "accountId": {
          "type": "string",
          "description": "GTM Account ID."
        },
        "clientId": {
          "type": "string",
          "description": "The Client ID uniquely identifies the GTM client."
        },
        "type": {
          "description": "Client type.",
          "type": "string"
        },
        "workspaceId": {
          "description": "GTM Workspace ID.",
          "type": "string"
        },
        "tagManagerUrl": {
          "type": "string",
          "description": "Auto generated link to the tag manager UI"
        },
        "containerId": {
          "description": "GTM Container ID.",
          "type": "string"
        },
        "notes": {
          "description": "User notes on how to apply this tag in the container.",
          "type": "string"
        },
        "priority": {
          "type": "integer",
          "description": "Priority determines relative firing order.",
          "format": "int32"
        },
        "name": {
          "type": "string",
          "description": "Client display name."
        },
        "parameter": {
          "type": "array",
          "description": "The client's parameters.",
          "items": {
            "$ref": "Parameter"
          }
        },
        "parentFolderId": {
          "description": "Parent folder id.",
          "type": "string"
        },
        "fingerprint": {
          "type": "string",
          "description": "The fingerprint of the GTM Client as computed at storage time. This value is recomputed whenever the client is modified."
        }
      },
      "type": "object"
    },
    "RevertZoneResponse": {
      "properties": {
        "zone": {
          "$ref": "Zone",
          "description": "Zone as it appears in the latest container version since the last workspace synchronization operation. If no zone is present, that means the zone was deleted in the latest container version."
        }
      },
      "description": "The result of reverting a zone in a workspace.",
      "type": "object",
      "id": "RevertZoneResponse"
    },
    "Container": {
      "properties": {
        "features": {
          "description": "Read-only Container feature set.",
          "$ref": "ContainerFeatures"
        },
        "path": {
          "description": "GTM Container's API relative path.",
          "type": "string"
        },
        "tagManagerUrl": {
          "type": "string",
          "description": "Auto generated link to the tag manager UI"
        },
        "name": {
          "description": "Container display name.",
          "type": "string"
        },
        "accountId": {
          "description": "GTM Account ID.",
          "type": "string"
        },
        "containerId": {
          "description": "The Container ID uniquely identifies the GTM Container.",
          "type": "string"
        },
        "publicId": {
          "type": "string",
          "description": "Container Public ID."
        },
        "usageContext": {
          "type": "array",
          "description": "List of Usage Contexts for the Container. Valid values include: web, android, or ios.",
          "items": {
            "enum": [
              "usageContextUnspecified",
              "web",
              "android",
              "ios",
              "androidSdk5",
              "iosSdk5",
              "amp",
              "server"
            ],
            "enumDescriptions": [
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              ""
            ],
            "type": "string"
          }
        },
        "domainName": {
          "description": "List of domain names associated with the Container.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "taggingServerUrls": {
          "description": "List of server-side container URLs for the Container. If multiple URLs are provided, all URL paths must match.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "fingerprint": {
          "description": "The fingerprint of the GTM Container as computed at storage time. This value is recomputed whenever the account is modified.",
          "type": "string"
        },
        "notes": {
          "type": "string",
          "description": "Container Notes."
        },
        "tagIds": {
          "description": "All Tag IDs that refer to this Container.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "Container",
      "description": "Represents a Google Tag Manager Container, which specifies the platform tags will run on, manages workspaces, and retains container versions.",
      "type": "object"
    },
    "ListTriggersResponse": {
      "type": "object",
      "description": "List triggers response.",
      "properties": {
        "trigger": {
          "description": "All GTM Triggers of a GTM Container.",
          "type": "array",
          "items": {
            "$ref": "Trigger"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "Continuation token for fetching the next page of results."
        }
      },
      "id": "ListTriggersResponse"
    },
    "QuickPreviewResponse": {
      "type": "object",
      "id": "QuickPreviewResponse",
      "description": "Response to quick previewing a workspace.",
      "properties": {
        "syncStatus": {
          "$ref": "SyncStatus",
          "description": "Whether quick previewing failed when syncing the workspace to the latest container version."
        },
        "compilerError": {
          "description": "Were there compiler errors or not.",
          "type": "boolean"
        },
        "containerVersion": {
          "$ref": "ContainerVersion",
          "description": "The quick previewed container version."
        }
      }
    },
    "RevertVariableResponse": {
      "type": "object",
      "id": "RevertVariableResponse",
      "properties": {
        "variable": {
          "description": "Variable as it appears in the latest container version since the last workspace synchronization operation. If no variable is present, that means the variable was deleted in the latest container version.",
          "$ref": "Variable"
        }
      },
      "description": "The result of reverting a variable in a workspace."
    },
    "ListGtagConfigResponse": {
      "properties": {
        "gtagConfig": {
          "type": "array",
          "items": {
            "$ref": "GtagConfig"
          },
          "description": "All Google tag configs in a Container."
        },
        "nextPageToken": {
          "type": "string",
          "description": "Continuation token for fetching the next page of results."
        }
      },
      "id": "ListGtagConfigResponse",
      "type": "object"
    },
    "FolderEntities": {
      "description": "Represents a Google Tag Manager Folder's contents.",
      "type": "object",
      "id": "FolderEntities",
      "properties": {
        "tag": {
          "description": "The list of tags inside the folder.",
          "type": "array",
          "items": {
            "$ref": "Tag"
          }
        },
        "nextPageToken": {
          "description": "Continuation token for fetching the next page of results.",
          "type": "string"
        },
        "variable": {
          "type": "array",
          "items": {
            "$ref": "Variable"
          },
          "description": "The list of variables inside the folder."
        },
        "trigger": {
          "type": "array",
          "description": "The list of triggers inside the folder.",
          "items": {
            "$ref": "Trigger"
          }
        }
      }
    },
    "Entity": {
      "properties": {
        "variable": {
          "$ref": "Variable",
          "description": "The variable being represented by the entity."
        },
        "client": {
          "$ref": "Client",
          "description": "The client being represented by the entity."
        },
        "transformation": {
          "description": "The transformation being represented by the entity.",
          "$ref": "Transformation"
        },
        "builtInVariable": {
          "$ref": "BuiltInVariable",
          "description": "The built in variable being represented by the entity."
        },
        "tag": {
          "$ref": "Tag",
          "description": "The tag being represented by the entity."
        },
        "zone": {
          "description": "The zone being represented by the entity.",
          "$ref": "Zone"
        },
        "trigger": {
          "description": "The trigger being represented by the entity.",
          "$ref": "Trigger"
        },
        "customTemplate": {
          "$ref": "CustomTemplate",
          "description": "The custom template being represented by the entity."
        },
        "gtagConfig": {
          "description": "The gtag config being represented by the entity.",
          "$ref": "GtagConfig"
        },
        "folder": {
          "$ref": "Folder",
          "description": "The folder being represented by the entity."
        },
        "changeStatus": {
          "description": "Represents how the entity has been changed in the workspace.",
          "enumDescriptions": [
            "",
            "The entity has never been changed.",
            "The entity is added to the workspace.",
            "The entity is deleted from the workspace.",
            "The entity has been updated in the workspace."
          ],
          "enum": [
            "changeStatusUnspecified",
            "none",
            "added",
            "deleted",
            "updated"
          ],
          "type": "string"
        }
      },
      "description": "A workspace entity that may represent a tag, trigger, variable, or folder in addition to its status in the workspace.",
      "id": "Entity",
      "type": "object"
    },
    "RevertTriggerResponse": {
      "description": "The result of reverting a trigger in a workspace.",
      "id": "RevertTriggerResponse",
      "type": "object",
      "properties": {
        "trigger": {
          "description": "Trigger as it appears in the latest container version since the last workspace synchronization operation. If no trigger is present, that means the trigger was deleted in the latest container version.",
          "$ref": "Trigger"
        }
      }
    },
    "RevertClientResponse": {
      "id": "RevertClientResponse",
      "properties": {
        "client": {
          "description": "Client as it appears in the latest container version since the last workspace synchronization operation. If no client is present, that means the client was deleted in the latest container version.",
          "$ref": "Client"
        }
      },
      "type": "object",
      "description": "The result of reverting a client in a workspace."
    },
    "RevertTemplateResponse": {
      "type": "object",
      "description": "The result of reverting a template in a workspace.",
      "properties": {
        "template": {
          "description": "Template as it appears in the latest container version since the last workspace synchronization operation. If no template is present, that means the template was deleted in the latest container version.",
          "$ref": "CustomTemplate"
        }
      },
      "id": "RevertTemplateResponse"
    },
    "Account": {
      "type": "object",
      "description": "Represents a Google Tag Manager Account.",
      "id": "Account",
      "properties": {
        "tagManagerUrl": {
          "type": "string",
          "description": "Auto generated link to the tag manager UI"
        },
        "accountId": {
          "description": "The Account ID uniquely identifies the GTM Account.",
          "type": "string"
        },
        "shareData": {
          "type": "boolean",
          "description": "Whether the account shares data anonymously with Google and others. This flag enables benchmarking by sharing your data in an anonymous form. Google will remove all identifiable information about your website, combine the data with hundreds of other anonymous sites and report aggregate trends in the benchmarking service."
        },
        "fingerprint": {
          "description": "The fingerprint of the GTM Account as computed at storage time. This value is recomputed whenever the account is modified.",
          "type": "string"
        },
        "features": {
          "$ref": "AccountFeatures",
          "description": "Read-only Account feature set"
        },
        "path": {
          "description": "GTM Account's API relative path.",
          "type": "string"
        },
        "name": {
          "description": "Account display name.",
          "type": "string"
        }
      }
    },
    "ListZonesResponse": {
      "type": "object",
      "properties": {
        "zone": {
          "items": {
            "$ref": "Zone"
          },
          "description": "All GTM Zones of a GTM Container.",
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "Continuation token for fetching the next page of results."
        }
      },
      "id": "ListZonesResponse"
    },
    "TagConsentSetting": {
      "properties": {
        "consentType": {
          "description": "The type of consents to check for during tag firing if in the consent NEEDED state. This parameter must be of type LIST where each list item is of type STRING.",
          "$ref": "Parameter"
        },
        "consentStatus": {
          "enumDescriptions": [
            "Default value where user has not specified any setting on it.",
            "Tag doesn't require any additional consent settings.",
            "Tag requires additional consent settings."
          ],
          "type": "string",
          "enum": [
            "notSet",
            "notNeeded",
            "needed"
          ],
          "description": "The tag's consent status. If set to NEEDED, the runtime will check that the consent types specified by the consent_type field have been granted."
        }
      },
      "id": "TagConsentSetting",
      "type": "object"
    },
    "CreateBuiltInVariableResponse": {
      "type": "object",
      "id": "CreateBuiltInVariableResponse",
      "properties": {
        "builtInVariable": {
          "description": "List of created built-in variables.",
          "items": {
            "$ref": "BuiltInVariable"
          },
          "type": "array"
        }
      }
    },
    "ListContainerVersionsResponse": {
      "type": "object",
      "id": "ListContainerVersionsResponse",
      "description": "List container versions response.",
      "properties": {
        "nextPageToken": {
          "description": "Continuation token for fetching the next page of results.",
          "type": "string"
        },
        "containerVersionHeader": {
          "description": "All container version headers of a GTM Container.",
          "items": {
            "$ref": "ContainerVersionHeader"
          },
          "type": "array"
        }
      }
    },
    "BuiltInVariable": {
      "properties": {
        "type": {
          "enum": [
            "builtInVariableTypeUnspecified",
            "pageUrl",
            "pageHostname",
            "pagePath",
            "referrer",
            "event",
            "clickElement",
            "clickClasses",
            "clickId",
            "clickTarget",
            "clickUrl",
            "clickText",
            "firstPartyServingUrl",
            "formElement",
            "formClasses",
            "formId",
            "formTarget",
            "formUrl",
            "formText",
            "errorMessage",
            "errorUrl",
            "errorLine",
            "newHistoryUrl",
            "oldHistoryUrl",
            "newHistoryFragment",
            "oldHistoryFragment",
            "newHistoryState",
            "oldHistoryState",
            "historySource",
            "containerVersion",
            "debugMode",
            "randomNumber",
            "containerId",
            "appId",
            "appName",
            "appVersionCode",
            "appVersionName",
            "language",
            "osVersion",
            "platform",
            "sdkVersion",
            "deviceName",
            "resolution",
            "advertiserId",
            "advertisingTrackingEnabled",
            "htmlId",
            "environmentName",
            "ampBrowserLanguage",
            "ampCanonicalPath",
            "ampCanonicalUrl",
            "ampCanonicalHost",
            "ampReferrer",
            "ampTitle",
            "ampClientId",
            "ampClientTimezone",
            "ampClientTimestamp",
            "ampClientScreenWidth",
            "ampClientScreenHeight",
            "ampClientScrollX",
            "ampClientScrollY",
            "ampClientMaxScrollX",
            "ampClientMaxScrollY",
            "ampTotalEngagedTime",
            "ampPageViewId",
            "ampPageLoadTime",
            "ampPageDownloadTime",
            "ampGtmEvent",
            "eventName",
            "firebaseEventParameterCampaign",
            "firebaseEventParameterCampaignAclid",
            "firebaseEventParameterCampaignAnid",
            "firebaseEventParameterCampaignClickTimestamp",
            "firebaseEventParameterCampaignContent",
            "firebaseEventParameterCampaignCp1",
            "firebaseEventParameterCampaignGclid",
            "firebaseEventParameterCampaignSource",
            "firebaseEventParameterCampaignTerm",
            "firebaseEventParameterCurrency",
            "firebaseEventParameterDynamicLinkAcceptTime",
            "firebaseEventParameterDynamicLinkLinkid",
            "firebaseEventParameterNotificationMessageDeviceTime",
            "firebaseEventParameterNotificationMessageId",
            "firebaseEventParameterNotificationMessageName",
            "firebaseEventParameterNotificationMessageTime",
            "firebaseEventParameterNotificationTopic",
            "firebaseEventParameterPreviousAppVersion",
            "firebaseEventParameterPreviousOsVersion",
            "firebaseEventParameterPrice",
            "firebaseEventParameterProductId",
            "firebaseEventParameterQuantity",
            "firebaseEventParameterValue",
            "videoProvider",
            "videoUrl",
            "videoTitle",
            "videoDuration",
            "videoPercent",
            "videoVisible",
            "videoStatus",
            "videoCurrentTime",
            "scrollDepthThreshold",
            "scrollDepthUnits",
            "scrollDepthDirection",
            "elementVisibilityRatio",
            "elementVisibilityTime",
            "elementVisibilityFirstTime",
            "elementVisibilityRecentTime",
            "requestPath",
            "requestMethod",
            "clientName",
            "queryString",
            "serverPageLocationUrl",
            "serverPageLocationPath",
            "serverPageLocationHostname",
            "visitorRegion",
            "analyticsClientId",
            "analyticsSessionId",
            "analyticsSessionNumber"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "For web or mobile.",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "For web or mobile.",
            "",
            "For web or mobile.",
            "For web or mobile.",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "description": "Type of built-in variable."
        },
        "containerId": {
          "type": "string",
          "description": "GTM Container ID."
        },
        "workspaceId": {
          "type": "string",
          "description": "GTM Workspace ID."
        },
        "path": {
          "description": "GTM BuiltInVariable's API relative path.",
          "type": "string"
        },
        "name": {
          "description": "Name of the built-in variable to be used to refer to the built-in variable.",
          "type": "string"
        },
        "accountId": {
          "description": "GTM Account ID.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "BuiltInVariable",
      "description": "Built-in variables are a special category of variables that are pre-created and non-customizable. They provide common functionality like accessing properties of the gtm data layer, monitoring clicks, or accessing elements of a page URL."
    },
    "MergeConflict": {
      "description": "Represents a merge conflict.",
      "properties": {
        "entityInWorkspace": {
          "description": "The workspace entity that has conflicting changes compared to the base version. If an entity is deleted in a workspace, it will still appear with a deleted change status.",
          "$ref": "Entity"
        },
        "entityInBaseVersion": {
          "description": "The base version entity (since the latest sync operation) that has conflicting changes compared to the workspace. If this field is missing, it means the workspace entity is deleted from the base version.",
          "$ref": "Entity"
        }
      },
      "id": "MergeConflict",
      "type": "object"
    },
    "Tag": {
      "description": "Represents a Google Tag Manager Tag.",
      "type": "object",
      "id": "Tag",
      "properties": {
        "tagId": {
          "type": "string",
          "description": "The Tag ID uniquely identifies the GTM Tag."
        },
        "parameter": {
          "type": "array",
          "description": "The tag's parameters.",
          "items": {
            "$ref": "Parameter"
          }
        },
        "parentFolderId": {
          "description": "Parent folder id.",
          "type": "string"
        },
        "tagManagerUrl": {
          "type": "string",
          "description": "Auto generated link to the tag manager UI"
        },
        "name": {
          "description": "Tag display name.",
          "type": "string"
        },
        "liveOnly": {
          "description": "If set to true, this tag will only fire in the live environment (e.g. not in preview or debug mode).",
          "type": "boolean"
        },
        "accountId": {
          "description": "GTM Account ID.",
          "type": "string"
        },
        "scheduleStartMs": {
          "format": "int64",
          "type": "string",
          "description": "The start timestamp in milliseconds to schedule a tag."
        },
        "consentSettings": {
          "description": "Consent settings of a tag.",
          "$ref": "TagConsentSetting"
        },
        "teardownTag": {
          "description": "The list of teardown tags. Currently we only allow one.",
          "type": "array",
          "items": {
            "$ref": "TeardownTag"
          }
        },
        "containerId": {
          "type": "string",
          "description": "GTM Container ID."
        },
        "paused": {
          "description": "Indicates whether the tag is paused, which prevents the tag from firing.",
          "type": "boolean"
        },
        "type": {
          "description": "GTM Tag Type.",
          "type": "string"
        },
        "workspaceId": {
          "description": "GTM Workspace ID.",
          "type": "string"
        },
        "monitoringMetadata": {
          "description": "A map of key-value pairs of tag metadata to be included in the event data for tag monitoring. Notes: - This parameter must be type MAP. - Each parameter in the map are type TEMPLATE, however cannot contain variable references. ",
          "$ref": "Parameter"
        },
        "scheduleEndMs": {
          "format": "int64",
          "type": "string",
          "description": "The end timestamp in milliseconds to schedule a tag."
        },
        "priority": {
          "description": "User defined numeric priority of the tag. Tags are fired asynchronously in order of priority. Tags with higher numeric value fire first. A tag's priority can be a positive or negative value. The default value is 0.",
          "$ref": "Parameter"
        },
        "path": {
          "type": "string",
          "description": "GTM Tag's API relative path."
        },
        "setupTag": {
          "description": "The list of setup tags. Currently we only allow one.",
          "type": "array",
          "items": {
            "$ref": "SetupTag"
          }
        },
        "firingTriggerId": {
          "description": "Firing trigger IDs. A tag will fire when any of the listed triggers are true and all of its blockingTriggerIds (if any specified) are false.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "fingerprint": {
          "type": "string",
          "description": "The fingerprint of the GTM Tag as computed at storage time. This value is recomputed whenever the tag is modified."
        },
        "notes": {
          "type": "string",
          "description": "User notes on how to apply this tag in the container."
        },
        "tagFiringOption": {
          "enumDescriptions": [
            "",
            "Tag can be fired multiple times per event.",
            "Tag can only be fired per event but can be fired multiple times per load (e.g., app load or page load).",
            "Tag can only be fired per load (e.g., app load or page load)."
          ],
          "type": "string",
          "description": "Option to fire this tag.",
          "enum": [
            "tagFiringOptionUnspecified",
            "unlimited",
            "oncePerEvent",
            "oncePerLoad"
          ]
        },
        "blockingTriggerId": {
          "description": "Blocking trigger IDs. If any of the listed triggers evaluate to true, the tag will not fire.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "monitoringMetadataTagNameKey": {
          "description": "If non-empty, then the tag display name will be included in the monitoring metadata map using the key specified.",
          "type": "string"
        }
      }
    },
    "VariableFormatValue": {
      "id": "VariableFormatValue",
      "properties": {
        "convertFalseToValue": {
          "description": "The value to convert if a variable value is false.",
          "$ref": "Parameter"
        },
        "convertToNumber": {
          "description": "The option to convert a variable value to a number.",
          "enumDescriptions": [
            "",
            "The option to convert a variable value to a number with a period as the decimal separator.",
            "The option to convert a variable value to a number with a comma as the decimal separator.",
            "The option to convert a variable value to a number with automatic decimal separator detection."
          ],
          "type": "string",
          "enum": [
            "decimalSeparatorTypeUnspecified",
            "period",
            "comma",
            "automatic"
          ]
        },
        "convertNullToValue": {
          "$ref": "Parameter",
          "description": "The value to convert if a variable value is null."
        },
        "caseConversionType": {
          "type": "string",
          "enumDescriptions": [
            "",
            "The option to convert a variable value to lowercase.",
            "The option to convert a variable value to uppercase."
          ],
          "description": "The option to convert a string-type variable value to either lowercase or uppercase.",
          "enum": [
            "none",
            "lowercase",
            "uppercase"
          ]
        },
        "convertUndefinedToValue": {
          "description": "The value to convert if a variable value is undefined.",
          "$ref": "Parameter"
        },
        "convertTrueToValue": {
          "description": "The value to convert if a variable value is true.",
          "$ref": "Parameter"
        },
        "convertToBoolean": {
          "type": "boolean",
          "description": "The option to convert a variable value to a boolean."
        }
      },
      "type": "object"
    },
    "BulkUpdateWorkspaceResponse": {
      "type": "object",
      "id": "BulkUpdateWorkspaceResponse",
      "properties": {
        "changes": {
          "description": "The entities that were added or updated during the bulk-update. Does not include entities that were deleted or updated by the system.",
          "items": {
            "$ref": "Entity"
          },
          "type": "array"
        }
      }
    },
    "ListDestinationsResponse": {
      "type": "object",
      "id": "ListDestinationsResponse",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "Continuation token for fetching the next page of results."
        },
        "destination": {
          "description": "All Destinations linked to a GTM Container.",
          "type": "array",
          "items": {
            "$ref": "Destination"
          }
        }
      }
    },
    "ListAccountsResponse": {
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "Continuation token for fetching the next page of results."
        },
        "account": {
          "type": "array",
          "items": {
            "$ref": "Account"
          },
          "description": "List of GTM Accounts that a user has access to."
        }
      },
      "type": "object",
      "id": "ListAccountsResponse",
      "description": "List Accounts Response."
    },
    "UserPermission": {
      "type": "object",
      "description": "Represents a user's permissions to an account and its container.",
      "properties": {
        "containerAccess": {
          "items": {
            "$ref": "ContainerAccess"
          },
          "type": "array",
          "description": "GTM Container access permissions."
        },
        "emailAddress": {
          "type": "string",
          "description": "User's email address."
        },
        "accountId": {
          "description": "The Account ID uniquely identifies the GTM Account.",
          "type": "string"
        },
        "path": {
          "type": "string",
          "description": "GTM UserPermission's API relative path."
        },
        "accountAccess": {
          "description": "GTM Account access permissions.",
          "$ref": "AccountAccess"
        }
      },
      "id": "UserPermission"
    },
    "RevertTransformationResponse": {
      "description": "The result of reverting a transformation in a workspace.",
      "id": "RevertTransformationResponse",
      "type": "object",
      "properties": {
        "transformation": {
          "description": "Transformation as it appears in the latest container version since the last workspace synchronization operation. If no transformation is present, that means the transformation was deleted in the latest container version.",
          "$ref": "Transformation"
        }
      }
    },
    "RevertTagResponse": {
      "properties": {
        "tag": {
          "$ref": "Tag",
          "description": "Tag as it appears in the latest container version since the last workspace synchronization operation. If no tag is present, that means the tag was deleted in the latest container version."
        }
      },
      "id": "RevertTagResponse",
      "type": "object",
      "description": "The result of reverting a tag in a workspace."
    },
    "ListVariablesResponse": {
      "id": "ListVariablesResponse",
      "description": "List Variables Response.",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "Continuation token for fetching the next page of results."
        },
        "variable": {
          "items": {
            "$ref": "Variable"
          },
          "description": "All GTM Variables of a GTM Container.",
          "type": "array"
        }
      },
      "type": "object"
    },
    "SyncStatus": {
      "properties": {
        "syncError": {
          "description": "An error occurred during the synchronization operation.",
          "type": "boolean"
        },
        "mergeConflict": {
          "description": "Synchornization operation detected a merge conflict.",
          "type": "boolean"
        }
      },
      "description": "The status of a workspace after synchronization.",
      "type": "object",
      "id": "SyncStatus"
    },
    "GetWorkspaceStatusResponse": {
      "type": "object",
      "id": "GetWorkspaceStatusResponse",
      "properties": {
        "mergeConflict": {
          "type": "array",
          "items": {
            "$ref": "MergeConflict"
          },
          "description": "The merge conflict after sync."
        },
        "workspaceChange": {
          "items": {
            "$ref": "Entity"
          },
          "description": "Entities that have been changed in the workspace.",
          "type": "array"
        }
      },
      "description": "The changes that have occurred in the workspace since the base container version."
    },
    "ZoneTypeRestriction": {
      "description": "Represents a Zone's type restrictions.",
      "properties": {
        "enable": {
          "description": "True if type restrictions have been enabled for this Zone.",
          "type": "boolean"
        },
        "whitelistedTypeId": {
          "description": "List of type public ids that have been whitelisted for use in this Zone.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object",
      "id": "ZoneTypeRestriction"
    },
    "ListWorkspacesResponse": {
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "Continuation token for fetching the next page of results."
        },
        "workspace": {
          "items": {
            "$ref": "Workspace"
          },
          "type": "array",
          "description": "All Workspaces of a GTM Container."
        }
      },
      "id": "ListWorkspacesResponse",
      "description": "A list of workspaces in a container."
    },
    "SyncWorkspaceResponse": {
      "type": "object",
      "id": "SyncWorkspaceResponse",
      "properties": {
        "syncStatus": {
          "$ref": "SyncStatus",
          "description": "Indicates whether synchronization caused a merge conflict or sync error."
        },
        "mergeConflict": {
          "description": "The merge conflict after sync. If this field is not empty, the sync is still treated as successful. But a version cannot be created until all conflicts are resolved.",
          "type": "array",
          "items": {
            "$ref": "MergeConflict"
          }
        }
      },
      "description": "A response after synchronizing the workspace to the latest container version."
    },
    "PublishContainerVersionResponse": {
      "type": "object",
      "properties": {
        "containerVersion": {
          "description": "The container version created.",
          "$ref": "ContainerVersion"
        },
        "compilerError": {
          "type": "boolean",
          "description": "Compiler errors or not."
        }
      },
      "id": "PublishContainerVersionResponse",
      "description": "Publish container version response."
    },
    "Environment": {
      "id": "Environment",
      "description": "Represents a Google Tag Manager Environment. Note that a user can create, delete and update environments of type USER, but can only update the enable_debug and url fields of environments of other types.",
      "properties": {
        "environmentId": {
          "type": "string",
          "description": "GTM Environment ID uniquely identifies the GTM Environment."
        },
        "authorizationCode": {
          "type": "string",
          "description": "The environment authorization code."
        },
        "enableDebug": {
          "description": "Whether or not to enable debug by default for the environment.",
          "type": "boolean"
        },
        "name": {
          "type": "string",
          "description": "The environment display name. Can be set or changed only on USER type environments."
        },
        "workspaceId": {
          "type": "string",
          "description": "Represents a link to a quick preview of a workspace."
        },
        "url": {
          "type": "string",
          "description": "Default preview page url for the environment."
        },
        "authorizationTimestamp": {
          "description": "The last update time-stamp for the authorization code.",
          "format": "google-datetime",
          "type": "string"
        },
        "containerId": {
          "description": "GTM Container ID.",
          "type": "string"
        },
        "path": {
          "type": "string",
          "description": "GTM Environment's API relative path."
        },
        "accountId": {
          "description": "GTM Account ID.",
          "type": "string"
        },
        "description": {
          "description": "The environment description. Can be set or changed only on USER type environments.",
          "type": "string"
        },
        "containerVersionId": {
          "description": "Represents a link to a container version.",
          "type": "string"
        },
        "fingerprint": {
          "description": "The fingerprint of the GTM environment as computed at storage time. This value is recomputed whenever the environment is modified.",
          "type": "string"
        },
        "type": {
          "enum": [
            "user",
            "live",
            "latest",
            "workspace"
          ],
          "enumDescriptions": [
            "Points to a user defined environment.",
            "Points to the current live container version.",
            "Points to the latest container version.",
            "Automatically managed environment that points to a workspace preview or version created by a workspace."
          ],
          "type": "string",
          "description": "The type of this environment."
        },
        "tagManagerUrl": {
          "type": "string",
          "description": "Auto generated link to the tag manager UI"
        }
      },
      "type": "object"
    },
    "Parameter": {
      "type": "object",
      "properties": {
        "map": {
          "items": {
            "$ref": "Parameter"
          },
          "description": "This map parameter's parameters (must have keys; keys must be unique).",
          "type": "array"
        },
        "type": {
          "description": "The parameter type. Valid values are: - boolean: The value represents a boolean, represented as 'true' or 'false' - integer: The value represents a 64-bit signed integer value, in base 10 - list: A list of parameters should be specified - map: A map of parameters should be specified - template: The value represents any text; this can include variable references (even variable references that might return non-string types) - trigger_reference: The value represents a trigger, represented as the trigger id - tag_reference: The value represents a tag, represented as the tag name ",
          "enum": [
            "typeUnspecified",
            "template",
            "integer",
            "boolean",
            "list",
            "map",
            "triggerReference",
            "tagReference"
          ],
          "enumDescriptions": [
            "",
            "May include variable references.",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "type": "string"
        },
        "key": {
          "description": "The named key that uniquely identifies a parameter. Required for top-level parameters, as well as map values. Ignored for list values.",
          "type": "string"
        },
        "isWeakReference": {
          "description": "Whether or not a reference type parameter is strongly or weakly referenced. Only used by Transformations.",
          "type": "boolean"
        },
        "value": {
          "type": "string",
          "description": "A parameter's value (may contain variable references). as appropriate to the specified type."
        },
        "list": {
          "type": "array",
          "items": {
            "$ref": "Parameter"
          },
          "description": "This list parameter's parameters (keys will be ignored)."
        }
      },
      "description": "Represents a Google Tag Manager Parameter.",
      "id": "Parameter"
    },
    "ProposedChange": {
      "id": "ProposedChange",
      "type": "object",
      "properties": {
        "changes": {
          "items": {
            "$ref": "Entity"
          },
          "description": "The list of workspace changes to be applied.",
          "type": "array"
        }
      }
    },
    "CustomTemplate": {
      "id": "CustomTemplate",
      "properties": {
        "accountId": {
          "description": "GTM Account ID.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Custom Template display name."
        },
        "containerId": {
          "description": "GTM Container ID.",
          "type": "string"
        },
        "templateData": {
          "type": "string",
          "description": "The custom template in text format."
        },
        "tagManagerUrl": {
          "description": "Auto generated link to the tag manager UI",
          "type": "string"
        },
        "workspaceId": {
          "description": "GTM Workspace ID.",
          "type": "string"
        },
        "templateId": {
          "description": "The Custom Template ID uniquely identifies the GTM custom template.",
          "type": "string"
        },
        "fingerprint": {
          "description": "The fingerprint of the GTM Custom Template as computed at storage time. This value is recomputed whenever the template is modified.",
          "type": "string"
        },
        "path": {
          "description": "GTM Custom Template's API relative path.",
          "type": "string"
        },
        "galleryReference": {
          "description": "A reference to the Community Template Gallery entry.",
          "$ref": "GalleryReference"
        }
      },
      "description": "Represents a Google Tag Manager Custom Template's contents.",
      "type": "object"
    },
    "ListTransformationsResponse": {
      "type": "object",
      "id": "ListTransformationsResponse",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "Continuation token for fetching the next page of results."
        },
        "transformation": {
          "description": "All GTM Transformations of a GTM Container.",
          "items": {
            "$ref": "Transformation"
          },
          "type": "array"
        }
      }
    }
  },
  "id": "tagmanager:v2",
  "basePath": "",
  "version": "v2",
  "resources": {
    "accounts": {
      "resources": {
        "containers": {
          "resources": {
            "versions": {
              "methods": {
                "live": {
                  "description": "Gets the live (i.e. published) container version",
                  "response": {
                    "$ref": "ContainerVersion"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "path": "tagmanager/v2/{+parent}/versions:live",
                  "httpMethod": "GET",
                  "parameters": {
                    "parent": {
                      "required": true,
                      "description": "GTM Container's API relative path.",
                      "pattern": "^accounts/[^/]+/containers/[^/]+$",
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containers",
                    "https://www.googleapis.com/auth/tagmanager.readonly"
                  ],
                  "flatPath": "tagmanager/v2/accounts/{accountsId}/containers/{containersId}/versions:live",
                  "id": "tagmanager.accounts.containers.versions.live"
                },
                "delete": {
                  "id": "tagmanager.accounts.containers.versions.delete",
                  "path": "tagmanager/v2/{+path}",
                  "parameterOrder": [
                    "path"
                  ],
                  "httpMethod": "DELETE",
                  "parameters": {
                    "path": {
                      "location": "path",
                      "pattern": "^accounts/[^/]+/containers/[^/]+/versions/[^/]+$",
                      "type": "string",
                      "description": "GTM ContainerVersion's API relative path.",
                      "required": true
                    }
                  },
                  "description": "Deletes a Container Version.",
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containerversions"
                  ],
                  "flatPath": "tagmanager/v2/accounts/{accountsId}/containers/{containersId}/versions/{versionsId}"
                },
                "publish": {
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.publish"
                  ],
                  "httpMethod": "POST",
                  "parameters": {
                    "path": {
                      "description": "GTM ContainerVersion's API relative path.",
                      "location": "path",
                      "pattern": "^accounts/[^/]+/containers/[^/]+/versions/[^/]+$",
                      "required": true,
                      "type": "string"
                    },
                    "fingerprint": {
                      "description": "When provided, this fingerprint must match the fingerprint of the container version in storage.",
                      "type": "string",
                      "location": "query"
                    }
                  },
                  "response": {
                    "$ref": "PublishContainerVersionResponse"
                  },
                  "parameterOrder": [
                    "path"
                  ],
                  "path": "tagmanager/v2/{+path}:publish",
                  "description": "Publishes a Container Version.",
                  "flatPath": "tagmanager/v2/accounts/{accountsId}/containers/{containersId}/versions/{versionsId}:publish",
                  "id": "tagmanager.accounts.containers.versions.publish"
                },
                "get": {
                  "flatPath": "tagmanager/v2/accounts/{accountsId}/containers/{containersId}/versions/{versionsId}",
                  "description": "Gets a Container Version.",
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containers",
                    "https://www.googleapis.com/auth/tagmanager.edit.containerversions",
                    "https://www.googleapis.com/auth/tagmanager.readonly"
                  ],
                  "response": {
                    "$ref": "ContainerVersion"
                  },
                  "parameterOrder": [
                    "path"
                  ],
                  "httpMethod": "GET",
                  "parameters": {
                    "containerVersionId": {
                      "description": "The GTM ContainerVersion ID. Specify published to retrieve the currently published version.",
                      "location": "query",
                      "type": "string"
                    },
                    "path": {
                      "type": "string",
                      "required": true,
                      "description": "GTM ContainerVersion's API relative path.",
                      "pattern": "^accounts/[^/]+/containers/[^/]+/versions/[^/]+$",
                      "location": "path"
                    }
                  },
                  "id": "tagmanager.accounts.containers.versions.get",
                  "path": "tagmanager/v2/{+path}"
                },
                "set_latest": {
                  "description": "Sets the latest version used for synchronization of workspaces when detecting conflicts and errors.",
                  "id": "tagmanager.accounts.containers.versions.set_latest",
                  "flatPath": "tagmanager/v2/accounts/{accountsId}/containers/{containersId}/versions/{versionsId}:set_latest",
                  "parameterOrder": [
                    "path"
                  ],
                  "path": "tagmanager/v2/{+path}:set_latest",
                  "httpMethod": "POST",
                  "parameters": {
                    "path": {
                      "required": true,
                      "pattern": "^accounts/[^/]+/containers/[^/]+/versions/[^/]+$",
                      "location": "path",
                      "description": "GTM ContainerVersion's API relative path.",
                      "type": "string"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containers"
                  ],
                  "response": {
                    "$ref": "ContainerVersion"
                  }
                },
                "update": {
                  "description": "Updates a Container Version.",
                  "response": {
                    "$ref": "ContainerVersion"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containerversions"
                  ],
                  "id": "tagmanager.accounts.containers.versions.update",
                  "parameterOrder": [
                    "path"
                  ],
                  "httpMethod": "PUT",
                  "parameters": {
                    "fingerprint": {
                      "description": "When provided, this fingerprint must match the fingerprint of the container version in storage.",
                      "location": "query",
                      "type": "string"
                    },
                    "path": {
                      "location": "path",
                      "type": "string",
                      "description": "GTM ContainerVersion's API relative path.",
                      "pattern": "^accounts/[^/]+/containers/[^/]+/versions/[^/]+$",
                      "required": true
                    }
                  },
                  "flatPath": "tagmanager/v2/accounts/{accountsId}/containers/{containersId}/versions/{versionsId}",
                  "request": {
                    "$ref": "ContainerVersion"
                  },
                  "path": "tagmanager/v2/{+path}"
                },
                "undelete": {
                  "id": "tagmanager.accounts.containers.versions.undelete",
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containerversions"
                  ],
                  "description": "Undeletes a Container Version.",
                  "flatPath": "tagmanager/v2/accounts/{accountsId}/containers/{containersId}/versions/{versionsId}:undelete",
                  "parameterOrder": [
                    "path"
                  ],
                  "path": "tagmanager/v2/{+path}:undelete",
                  "response": {
                    "$ref": "ContainerVersion"
                  },
                  "httpMethod": "POST",
                  "parameters": {
                    "path": {
                      "required": true,
                      "type": "string",
                      "pattern": "^accounts/[^/]+/containers/[^/]+/versions/[^/]+$",
                      "location": "path",
                      "description": "GTM ContainerVersion's API relative path."
                    }
                  }
                }
              }
            },
            "workspaces": {
              "resources": {
                "gtag_config": {
                  "methods": {
                    "list": {
                      "flatPath": "tagmanager/v2/accounts/{accountsId}/containers/{containersId}/workspaces/{workspacesId}/gtag_config",
                      "httpMethod": "GET",
                      "parameters": {
                        "pageToken": {
                          "location": "query",
                          "description": "Continuation token for fetching the next page of results.",
                          "type": "string"
                        },
                        "parent": {
                          "location": "path",
                          "pattern": "^accounts/[^/]+/containers/[^/]+/workspaces/[^/]+$",
                          "required": true,
                          "type": "string",
                          "description": "Workspace's API relative path."
                        }
                      },
                      "parameterOrder": [
                        "parent"
                      ],
                      "description": "Lists all Google tag configs in a Container.",
                      "response": {
                        "$ref": "ListGtagConfigResponse"
                      },
                      "id": "tagmanager.accounts.containers.workspaces.gtag_config.list",
                      "scopes": [
                        "https://www.googleapis.com/auth/tagmanager.edit.containers",
                        "https://www.googleapis.com/auth/tagmanager.readonly"
                      ],
[...]
