{
  "baseUrl": "https://tasks.googleapis.com/",
  "batchPath": "batch",
  "revision": "20260927",
  "discoveryVersion": "v1",
  "parameters": {
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "alt": {
      "default": "json",
      "description": "Data format for response.",
      "type": "string",
      "location": "query",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "enum": [
        "json",
        "media",
        "proto"
      ]
    },
    "fields": {
      "type": "string",
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "oauth_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth 2.0 token for the current user."
    },
    "prettyPrint": {
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "location": "query",
      "default": "true"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string",
      "location": "query"
    },
    "access_token": {
      "description": "OAuth access token.",
      "location": "query",
      "type": "string"
    },
    "$.xgafv": {
      "type": "string",
      "description": "V1 error format.",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query",
      "enum": [
        "1",
        "2"
      ]
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string",
      "location": "query"
    },
    "callback": {
      "type": "string",
      "location": "query",
      "description": "JSONP"
    }
  },
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/tasks.readonly": {
          "description": "View your tasks"
        },
        "https://www.googleapis.com/auth/tasks": {
          "description": "Create, edit, organize, and delete all your tasks"
        }
      }
    }
  },
  "rootUrl": "https://tasks.googleapis.com/",
  "canonicalName": "Tasks",
  "description": "The Google Tasks API lets you manage your tasks and task lists.",
  "documentationLink": "https://developers.google.com/workspace/tasks/",
  "name": "tasks",
  "fullyEncodeReservedExpansion": true,
  "ownerDomain": "google.com",
  "servicePath": "",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "kind": "discovery#restDescription",
  "version": "v1",
  "id": "tasks:v1",
  "title": "Google Tasks API",
  "protocol": "rest",
  "ownerName": "Google",
  "resources": {
    "tasks": {
      "methods": {
        "insert": {
          "flatPath": "tasks/v1/lists/{tasklist}/tasks",
          "parameters": {
            "parent": {
              "type": "string",
              "description": "Parent task identifier. If the task is created at the top level, this parameter is omitted. An assigned task cannot be a parent task, nor can it have a parent. Setting the parent to an assigned task results in failure of the request. Optional.",
              "location": "query"
            },
            "tasklist": {
              "description": "Task list identifier.",
              "type": "string",
              "location": "path",
              "required": true
            },
            "previous": {
              "location": "query",
              "description": "Previous sibling task identifier. If the task is created at the first position among its siblings, this parameter is omitted. Optional.",
              "type": "string"
            }
          },
          "path": "tasks/v1/lists/{tasklist}/tasks",
          "parameterOrder": [
            "tasklist"
          ],
          "description": "Creates a new task on the specified task list. Tasks assigned from Docs or Chat Spaces cannot be inserted from Tasks Public API; they can only be created by assigning them from Docs or Chat Spaces. A user can have up to 20,000 non-hidden tasks per list and up to 100,000 tasks in total at a time.",
          "id": "tasks.tasks.insert",
          "response": {
            "$ref": "Task"
          },
          "httpMethod": "POST",
          "request": {
            "$ref": "Task"
          },
          "scopes": [
            "https://www.googleapis.com/auth/tasks"
          ]
        },
        "clear": {
          "httpMethod": "POST",
          "flatPath": "tasks/v1/lists/{tasklist}/clear",
          "parameterOrder": [
            "tasklist"
          ],
          "path": "tasks/v1/lists/{tasklist}/clear",
          "scopes": [
            "https://www.googleapis.com/auth/tasks"
          ],
          "parameters": {
            "tasklist": {
              "type": "string",
              "description": "Task list identifier.",
              "location": "path",
              "required": true
            }
          },
          "description": "Clears all completed tasks from the specified task list. The affected tasks will be marked as 'hidden' and no longer be returned by default when retrieving all tasks for a task list.",
          "id": "tasks.tasks.clear"
        },
        "delete": {
          "scopes": [
            "https://www.googleapis.com/auth/tasks"
          ],
          "description": "Deletes the specified task from the task list. If the task is assigned, both the assigned task and the original task (in Docs, Chat Spaces) are deleted. To delete the assigned task only, navigate to the assignment surface and unassign the task from there.",
          "parameterOrder": [
            "tasklist",
            "task"
          ],
          "id": "tasks.tasks.delete",
          "parameters": {
            "task": {
              "type": "string",
              "location": "path",
              "required": true,
              "description": "Task identifier."
            },
            "tasklist": {
              "type": "string",
              "description": "Task list identifier.",
              "location": "path",
              "required": true
            }
          },
          "flatPath": "tasks/v1/lists/{tasklist}/tasks/{task}",
          "path": "tasks/v1/lists/{tasklist}/tasks/{task}",
          "httpMethod": "DELETE"
        },
        "get": {
          "id": "tasks.tasks.get",
          "flatPath": "tasks/v1/lists/{tasklist}/tasks/{task}",
          "description": "Returns the specified task.",
          "parameters": {
            "task": {
              "description": "Task identifier.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "tasklist": {
              "type": "string",
              "location": "path",
              "required": true,
              "description": "Task list identifier."
            }
          },
          "path": "tasks/v1/lists/{tasklist}/tasks/{task}",
          "response": {
            "$ref": "Task"
          },
          "scopes": [
            "https://www.googleapis.com/auth/tasks",
            "https://www.googleapis.com/auth/tasks.readonly"
          ],
          "httpMethod": "GET",
          "parameterOrder": [
            "tasklist",
            "task"
          ]
        },
        "list": {
          "parameters": {
            "showDeleted": {
              "description": "Flag indicating whether deleted tasks are returned in the result. Optional. The default is False.",
              "location": "query",
              "type": "boolean"
            },
            "maxResults": {
              "format": "int32",
              "type": "integer",
              "description": "Maximum number of tasks returned on one page. Optional. The default is 20 (max allowed: 100).",
              "location": "query"
            },
            "showHidden": {
              "description": "Flag indicating whether hidden tasks are returned in the result. Optional. The default is False.",
              "type": "boolean",
              "location": "query"
            },
            "completedMax": {
              "location": "query",
              "description": "Upper bound for a task's completion date (as a RFC 3339 timestamp) to filter by. Optional. The default is not to filter by completion date.",
              "type": "string"
            },
            "showCompleted": {
              "type": "boolean",
              "description": "Flag indicating whether completed tasks are returned in the result. Note that showHidden must also be True to show tasks completed in first party clients, such as the web UI and Google's mobile apps. Optional. The default is True.",
              "location": "query"
            },
            "tasklist": {
              "description": "Task list identifier.",
              "type": "string",
              "location": "path",
              "required": true
            },
            "updatedMin": {
              "location": "query",
              "type": "string",
              "description": "Lower bound for a task's last modification time (as a RFC 3339 timestamp) to filter by. Optional. The default is not to filter by last modification time."
            },
            "dueMin": {
              "description": "Lower bound for a task's due date (as a RFC 3339 timestamp) to filter by. Optional. The default is not to filter by due date.",
              "type": "string",
              "location": "query"
            },
            "pageToken": {
              "type": "string",
              "description": "Token specifying the result page to return. Optional.",
              "location": "query"
            },
            "completedMin": {
              "description": "Lower bound for a task's completion date (as a RFC 3339 timestamp) to filter by. Optional. The default is not to filter by completion date.",
              "location": "query",
              "type": "string"
            },
            "dueMax": {
              "description": "Upper bound for a task's due date (as a RFC 3339 timestamp) to filter by. Optional. The default is not to filter by due date.",
              "location": "query",
              "type": "string"
            },
            "showAssigned": {
              "description": "Optional. Flag indicating whether tasks assigned to the current user are returned in the result. Optional. The default is False.",
              "type": "boolean",
              "location": "query"
            }
          },
          "id": "tasks.tasks.list",
          "path": "tasks/v1/lists/{tasklist}/tasks",
          "scopes": [
            "https://www.googleapis.com/auth/tasks",
            "https://www.googleapis.com/auth/tasks.readonly"
          ],
          "description": "Returns all tasks in the specified task list. Doesn't return assigned tasks by default (from Docs, Chat Spaces). A user can have up to 20,000 non-hidden tasks per list and up to 100,000 tasks in total at a time.",
          "httpMethod": "GET",
          "response": {
            "$ref": "Tasks"
          },
          "flatPath": "tasks/v1/lists/{tasklist}/tasks",
          "parameterOrder": [
            "tasklist"
          ]
        },
        "move": {
          "response": {
            "$ref": "Task"
          },
          "description": "Moves the specified task to another position in the destination task list. If the destination list is not specified, the task is moved within its current list. This can include putting it as a child task under a new parent and/or move it to a different position among its sibling tasks. A user can have up to 2,000 subtasks per task.",
          "path": "tasks/v1/lists/{tasklist}/tasks/{task}/move",
          "parameters": {
            "parent": {
              "type": "string",
              "description": "Optional. New parent task identifier. If the task is moved to the top level, this parameter is omitted. The task set as parent must exist in the task list and can not be hidden. Exceptions: 1. Assigned and repeating tasks cannot be set as parent tasks (have subtasks), or be moved under a parent task (become subtasks). 2. Tasks that are both completed and hidden cannot be nested, so the parent field must be empty.",
              "location": "query"
            },
            "destinationTasklist": {
              "location": "query",
              "description": "Optional. Destination task list identifier. If set, the task is moved from tasklist to the destinationTasklist list. Otherwise the task is moved within its current list. Recurrent tasks cannot currently be moved between lists.",
              "type": "string"
            },
            "task": {
              "description": "Task identifier.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "previous": {
              "type": "string",
              "description": "Optional. New previous sibling task identifier. If the task is moved to the first position among its siblings, this parameter is omitted. The task set as previous must exist in the task list and can not be hidden. Exceptions: 1. Tasks that are both completed and hidden can only be moved to position 0, so the previous field must be empty.",
              "location": "query"
            },
            "tasklist": {
              "type": "string",
              "location": "path",
              "required": true,
              "description": "Task list identifier."
            }
          },
          "flatPath": "tasks/v1/lists/{tasklist}/tasks/{task}/move",
          "scopes": [
            "https://www.googleapis.com/auth/tasks"
          ],
          "id": "tasks.tasks.move",
          "parameterOrder": [
            "tasklist",
            "task"
          ],
          "httpMethod": "POST"
        },
        "update": {
          "request": {
            "$ref": "Task"
          },
          "response": {
            "$ref": "Task"
          },
          "httpMethod": "PUT",
          "description": "Updates the specified task.",
          "scopes": [
            "https://www.googleapis.com/auth/tasks"
          ],
          "flatPath": "tasks/v1/lists/{tasklist}/tasks/{task}",
          "parameters": {
            "tasklist": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "Task list identifier."
            },
            "task": {
              "description": "Task identifier.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "path": "tasks/v1/lists/{tasklist}/tasks/{task}",
          "parameterOrder": [
            "tasklist",
            "task"
          ],
          "id": "tasks.tasks.update"
        },
        "patch": {
          "request": {
            "$ref": "Task"
          },
          "parameterOrder": [
            "tasklist",
            "task"
          ],
          "path": "tasks/v1/lists/{tasklist}/tasks/{task}",
          "id": "tasks.tasks.patch",
          "parameters": {
            "tasklist": {
              "description": "Task list identifier.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "task": {
              "type": "string",
              "description": "Task identifier.",
              "location": "path",
              "required": true
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/tasks"
          ],
          "description": "Updates the specified task. This method supports patch semantics.",
          "flatPath": "tasks/v1/lists/{tasklist}/tasks/{task}",
          "httpMethod": "PATCH",
          "response": {
            "$ref": "Task"
          }
        }
      }
    },
    "tasklists": {
      "methods": {
        "patch": {
          "flatPath": "tasks/v1/users/@me/lists/{tasklist}",
          "parameters": {
            "tasklist": {
              "location": "path",
              "required": true,
              "description": "Task list identifier.",
              "type": "string"
            }
          },
          "path": "tasks/v1/users/@me/lists/{tasklist}",
          "response": {
            "$ref": "TaskList"
          },
          "scopes": [
            "https://www.googleapis.com/auth/tasks"
          ],
          "httpMethod": "PATCH",
          "parameterOrder": [
            "tasklist"
          ],
          "request": {
            "$ref": "TaskList"
          },
          "id": "tasks.tasklists.patch",
          "description": "Updates the authenticated user's specified task list. This method supports patch semantics."
        },
        "update": {
          "path": "tasks/v1/users/@me/lists/{tasklist}",
          "parameters": {
            "tasklist": {
              "description": "Task list identifier.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/tasks"
          ],
          "request": {
            "$ref": "TaskList"
          },
          "response": {
            "$ref": "TaskList"
          },
          "parameterOrder": [
            "tasklist"
          ],
          "httpMethod": "PUT",
          "description": "Updates the authenticated user's specified task list.",
          "id": "tasks.tasklists.update",
          "flatPath": "tasks/v1/users/@me/lists/{tasklist}"
        },
        "delete": {
          "flatPath": "tasks/v1/users/@me/lists/{tasklist}",
          "parameterOrder": [
            "tasklist"
          ],
          "parameters": {
            "tasklist": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "Task list identifier."
            }
          },
          "path": "tasks/v1/users/@me/lists/{tasklist}",
          "httpMethod": "DELETE",
          "scopes": [
            "https://www.googleapis.com/auth/tasks"
          ],
          "id": "tasks.tasklists.delete",
          "description": "Deletes the authenticated user's specified task list. If the list contains assigned tasks, both the assigned tasks and the original tasks in the assignment surface (Docs, Chat Spaces) are deleted."
        },
        "get": {
          "response": {
            "$ref": "TaskList"
          },
          "httpMethod": "GET",
          "parameterOrder": [
            "tasklist"
          ],
          "flatPath": "tasks/v1/users/@me/lists/{tasklist}",
          "parameters": {
            "tasklist": {
              "type": "string",
              "location": "path",
              "required": true,
              "description": "Task list identifier."
            }
          },
          "description": "Returns the authenticated user's specified task list.",
          "path": "tasks/v1/users/@me/lists/{tasklist}",
          "scopes": [
            "https://www.googleapis.com/auth/tasks",
            "https://www.googleapis.com/auth/tasks.readonly"
          ],
          "id": "tasks.tasklists.get"
        },
        "list": {
          "description": "Returns all the authenticated user's task lists. A user can have up to 2000 lists at a time.",
          "id": "tasks.tasklists.list",
          "response": {
            "$ref": "TaskLists"
          },
          "flatPath": "tasks/v1/users/@me/lists",
          "scopes": [
            "https://www.googleapis.com/auth/tasks",
            "https://www.googleapis.com/auth/tasks.readonly"
          ],
          "parameterOrder": [],
          "parameters": {
            "maxResults": {
              "format": "int32",
              "type": "integer",
              "location": "query",
              "description": "Maximum number of task lists returned on one page. Optional. The default is 1000 (max allowed: 1000)."
            },
            "pageToken": {
              "description": "Token specifying the result page to return. Optional.",
              "location": "query",
              "type": "string"
            }
          },
          "path": "tasks/v1/users/@me/lists",
          "httpMethod": "GET"
        },
        "insert": {
          "id": "tasks.tasklists.insert",
          "scopes": [
            "https://www.googleapis.com/auth/tasks"
          ],
          "request": {
            "$ref": "TaskList"
          },
          "parameters": {},
          "parameterOrder": [],
          "response": {
            "$ref": "TaskList"
          },
          "flatPath": "tasks/v1/users/@me/lists",
          "path": "tasks/v1/users/@me/lists",
          "description": "Creates a new task list and adds it to the authenticated user's task lists. A user can have up to 2000 lists at a time.",
          "httpMethod": "POST"
        }
      }
    }
  },
  "mtlsRootUrl": "https://tasks.mtls.googleapis.com/",
  "schemas": {
    "SpaceInfo": {
      "properties": {
        "space": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The Chat space where this task originates from. The format is \"spaces/{space}\"."
        }
      },
      "description": "Information about the Chat Space where a task was assigned from.",
      "type": "object",
      "id": "SpaceInfo"
    },
    "AssignmentInfo": {
      "properties": {
        "spaceInfo": {
          "readOnly": true,
          "$ref": "SpaceInfo",
          "description": "Output only. Information about the Chat Space where this task originates from. This field is read-only."
        },
        "linkToTask": {
          "readOnly": true,
          "description": "Output only. An absolute link to the original task in the surface of assignment (Docs, Chat spaces, etc.).",
          "type": "string"
        },
        "surfaceType": {
          "type": "string",
          "enumDescriptions": [
            "Unknown value for this task's context.",
            "The task is created from Gmail.",
            "The task is assigned from a document.",
            "The task is assigned from a Chat Space."
          ],
          "readOnly": true,
          "enum": [
            "CONTEXT_TYPE_UNSPECIFIED",
            "GMAIL",
            "DOCUMENT",
            "SPACE"
          ],
          "description": "Output only. The type of surface this assigned task originates from. Currently limited to DOCUMENT or SPACE."
        },
        "driveResourceInfo": {
          "description": "Output only. Information about the Drive file where this task originates from. Currently, the Drive file can only be a document. This field is read-only.",
          "readOnly": true,
          "$ref": "DriveResourceInfo"
        }
      },
      "type": "object",
      "id": "AssignmentInfo",
      "description": "Information about the source of the task assignment (Document, Chat Space)."
    },
    "TaskList": {
      "id": "TaskList",
      "type": "object",
      "properties": {
        "kind": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Type of the resource. This is always \"tasks#taskList\"."
        },
        "selfLink": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. URL pointing to this task list. Used to retrieve, update, or delete this task list."
        },
        "id": {
          "description": "Task list identifier.",
          "type": "string"
        },
        "etag": {
          "description": "ETag of the resource.",
          "type": "string"
        },
        "updated": {
          "type": "string",
          "description": "Output only. Last modification time of the task list (as a RFC 3339 timestamp).",
          "readOnly": true
        },
        "title": {
          "type": "string",
          "description": "Title of the task list. Maximum length allowed: 1024 characters."
        }
      }
    },
    "DriveResourceInfo": {
      "properties": {
        "driveFileId": {
          "readOnly": true,
          "description": "Output only. Identifier of the file in the Drive API.",
          "type": "string"
        },
        "resourceKey": {
          "readOnly": true,
          "description": "Output only. Resource key required to access files shared via a shared link. Not required for all files. See also developers.google.com/drive/api/guides/resource-keys.",
          "type": "string"
        }
      },
      "id": "DriveResourceInfo",
      "type": "object",
      "description": "Information about the Drive resource where a task was assigned from (the document, sheet, etc.)."
    },
    "Task": {
      "type": "object",
      "properties": {
        "notes": {
          "description": "Notes describing the task. Tasks assigned from Google Docs cannot have notes. Optional. Maximum length allowed: 8192 characters.",
          "type": "string"
        },
        "parent": {
          "description": "Output only. Parent task identifier. This field is omitted if it is a top-level task. Use the \"move\" method to move the task under a different parent or to the top level. A parent task can never be an assigned task (from Chat Spaces, Docs). This field is read-only.",
          "readOnly": true,
          "type": "string"
        },
        "title": {
          "description": "Title of the task. Maximum length allowed: 1024 characters.",
          "type": "string"
        },
        "completed": {
          "description": "Completion date of the task (as a RFC 3339 timestamp). This field is omitted if the task has not been completed.",
          "type": "string"
        },
        "due": {
          "type": "string",
          "description": "Scheduled date for the task (as an RFC 3339 timestamp). Optional. This represents the day that the task should be done, or that the task is visible on the calendar grid. It doesn't represent the deadline of the task. Only date information is recorded; the time portion of the timestamp is discarded when setting this field. It isn't possible to read or write the time that a task is scheduled for using the API."
        },
        "deleted": {
          "description": "Flag indicating whether the task has been deleted. For assigned tasks this field is read-only. They can only be deleted by calling tasks.delete, in which case both the assigned task and the original task (in Docs or Chat Spaces) are deleted. To delete the assigned task only, navigate to the assignment surface and unassign the task from there. The default is False.",
          "type": "boolean"
        },
        "selfLink": {
          "type": "string",
          "description": "Output only. URL pointing to this task. Used to retrieve, update, or delete this task.",
          "readOnly": true
        },
        "status": {
          "type": "string",
          "description": "Status of the task. This is either \"needsAction\" or \"completed\"."
        },
        "kind": {
          "description": "Output only. Type of the resource. This is always \"tasks#task\".",
          "readOnly": true,
          "type": "string"
        },
        "assignmentInfo": {
          "readOnly": true,
          "$ref": "AssignmentInfo",
          "description": "Output only. Context information for assigned tasks. A task can be assigned to a user, currently possible from surfaces like Docs and Chat Spaces. This field is populated for tasks assigned to the current user and identifies where the task was assigned from. This field is read-only."
        },
        "etag": {
          "description": "ETag of the resource.",
          "type": "string"
        },
        "id": {
          "description": "Task identifier.",
          "type": "string"
        },
        "links": {
          "type": "array",
          "readOnly": true,
          "items": {
            "properties": {
              "link": {
                "description": "The URL.",
                "type": "string"
              },
              "description": {
                "description": "The description (might be empty).",
                "type": "string"
              },
              "type": {
                "description": "Type of the link, e.g. \"email\", \"generic\", \"chat_message\", \"keep_note\".",
                "type": "string"
              }
            },
            "type": "object"
          },
          "description": "Output only. Collection of links. This collection is read-only."
        },
        "updated": {
          "description": "Output only. Last modification time of the task (as a RFC 3339 timestamp).",
          "type": "string",
          "readOnly": true
        },
        "hidden": {
          "description": "Flag indicating whether the task is hidden. This is the case if the task had been marked completed when the task list was last cleared. The default is False. This field is read-only.",
          "type": "boolean"
        },
        "webViewLink": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. An absolute link to the task in the Google Tasks Web UI."
        },
        "position": {
          "readOnly": true,
          "description": "Output only. String indicating the position of the task among its sibling tasks under the same parent task or at the top level. If this string is greater than another task's corresponding position string according to lexicographical ordering, the task is positioned after the other task under the same parent task (or at the top level). Use the \"move\" method to move the task to another position.",
          "type": "string"
        }
      },
      "id": "Task"
    },
    "TaskLists": {
      "type": "object",
      "properties": {
        "items": {
          "type": "array",
          "items": {
            "$ref": "TaskList"
          },
          "description": "Collection of task lists."
        },
        "kind": {
          "description": "Type of the resource. This is always \"tasks#taskLists\".",
          "type": "string"
        },
        "nextPageToken": {
          "description": "Token that can be used to request the next page of this result.",
          "type": "string"
        },
        "etag": {
          "type": "string",
          "description": "ETag of the resource."
        }
      },
      "id": "TaskLists"
    },
    "Tasks": {
      "type": "object",
      "properties": {
        "kind": {
          "type": "string",
          "description": "Type of the resource. This is always \"tasks#tasks\"."
        },
        "items": {
          "items": {
            "$ref": "Task"
          },
          "type": "array",
          "description": "Collection of tasks."
        },
        "etag": {
          "description": "ETag of the resource.",
          "type": "string"
        },
        "nextPageToken": {
          "type": "string",
          "description": "Token used to access the next page of this result."
        }
      },
      "id": "Tasks"
    }
  },
  "basePath": ""
}