{
  "discoveryVersion": "v1",
  "mtlsRootUrl": "https://tasks.mtls.googleapis.com/",
  "title": "Google Tasks API",
  "name": "tasks",
  "batchPath": "batch",
  "canonicalName": "Tasks",
  "servicePath": "",
  "description": "The Google Tasks API lets you manage your tasks and task lists.",
  "protocol": "rest",
  "ownerName": "Google",
  "basePath": "",
  "rootUrl": "https://tasks.googleapis.com/",
  "revision": "20260927",
  "schemas": {
    "Task": {
      "type": "object",
      "id": "Task",
      "properties": {
        "position": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. String indicating the position of the task among its sibling tasks under the same parent task or at the top level. If this string is greater than another task's corresponding position string according to lexicographical ordering, the task is positioned after the other task under the same parent task (or at the top level). Use the \"move\" method to move the task to another position."
        },
        "title": {
          "type": "string",
          "description": "Title of the task. Maximum length allowed: 1024 characters."
        },
        "selfLink": {
          "readOnly": true,
          "description": "Output only. URL pointing to this task. Used to retrieve, update, or delete this task.",
          "type": "string"
        },
        "completed": {
          "description": "Completion date of the task (as a RFC 3339 timestamp). This field is omitted if the task has not been completed.",
          "type": "string"
        },
        "links": {
          "items": {
            "type": "object",
            "properties": {
              "description": {
                "type": "string",
                "description": "The description (might be empty)."
              },
              "link": {
                "type": "string",
                "description": "The URL."
              },
              "type": {
                "description": "Type of the link, e.g. \"email\", \"generic\", \"chat_message\", \"keep_note\".",
                "type": "string"
              }
            }
          },
          "readOnly": true,
          "description": "Output only. Collection of links. This collection is read-only.",
          "type": "array"
        },
        "kind": {
          "description": "Output only. Type of the resource. This is always \"tasks#task\".",
          "type": "string",
          "readOnly": true
        },
        "etag": {
          "description": "ETag of the resource.",
          "type": "string"
        },
        "webViewLink": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. An absolute link to the task in the Google Tasks Web UI."
        },
        "deleted": {
          "description": "Flag indicating whether the task has been deleted. For assigned tasks this field is read-only. They can only be deleted by calling tasks.delete, in which case both the assigned task and the original task (in Docs or Chat Spaces) are deleted. To delete the assigned task only, navigate to the assignment surface and unassign the task from there. The default is False.",
          "type": "boolean"
        },
        "notes": {
          "description": "Notes describing the task. Tasks assigned from Google Docs cannot have notes. Optional. Maximum length allowed: 8192 characters.",
          "type": "string"
        },
        "due": {
          "description": "Scheduled date for the task (as an RFC 3339 timestamp). Optional. This represents the day that the task should be done, or that the task is visible on the calendar grid. It doesn't represent the deadline of the task. Only date information is recorded; the time portion of the timestamp is discarded when setting this field. It isn't possible to read or write the time that a task is scheduled for using the API.",
          "type": "string"
        },
        "assignmentInfo": {
          "readOnly": true,
          "$ref": "AssignmentInfo",
          "description": "Output only. Context information for assigned tasks. A task can be assigned to a user, currently possible from surfaces like Docs and Chat Spaces. This field is populated for tasks assigned to the current user and identifies where the task was assigned from. This field is read-only."
        },
        "status": {
          "type": "string",
          "description": "Status of the task. This is either \"needsAction\" or \"completed\"."
        },
        "hidden": {
          "description": "Flag indicating whether the task is hidden. This is the case if the task had been marked completed when the task list was last cleared. The default is False. This field is read-only.",
          "type": "boolean"
        },
        "id": {
          "description": "Task identifier.",
          "type": "string"
        },
        "parent": {
          "type": "string",
          "description": "Output only. Parent task identifier. This field is omitted if it is a top-level task. Use the \"move\" method to move the task under a different parent or to the top level. A parent task can never be an assigned task (from Chat Spaces, Docs). This field is read-only.",
          "readOnly": true
        },
        "updated": {
          "description": "Output only. Last modification time of the task (as a RFC 3339 timestamp).",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "DriveResourceInfo": {
      "id": "DriveResourceInfo",
      "type": "object",
      "properties": {
        "driveFileId": {
          "readOnly": true,
          "description": "Output only. Identifier of the file in the Drive API.",
          "type": "string"
        },
        "resourceKey": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Resource key required to access files shared via a shared link. Not required for all files. See also developers.google.com/drive/api/guides/resource-keys."
        }
      },
      "description": "Information about the Drive resource where a task was assigned from (the document, sheet, etc.)."
    },
    "TaskList": {
      "properties": {
        "updated": {
          "readOnly": true,
          "description": "Output only. Last modification time of the task list (as a RFC 3339 timestamp).",
          "type": "string"
        },
        "kind": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Type of the resource. This is always \"tasks#taskList\"."
        },
        "id": {
          "description": "Task list identifier.",
          "type": "string"
        },
        "selfLink": {
          "description": "Output only. URL pointing to this task list. Used to retrieve, update, or delete this task list.",
          "readOnly": true,
          "type": "string"
        },
        "etag": {
          "description": "ETag of the resource.",
          "type": "string"
        },
        "title": {
          "description": "Title of the task list. Maximum length allowed: 1024 characters.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "TaskList"
    },
    "SpaceInfo": {
      "id": "SpaceInfo",
      "type": "object",
      "properties": {
        "space": {
          "description": "Output only. The Chat space where this task originates from. The format is \"spaces/{space}\".",
          "readOnly": true,
          "type": "string"
        }
      },
      "description": "Information about the Chat Space where a task was assigned from."
    },
    "Tasks": {
      "type": "object",
      "properties": {
        "kind": {
          "description": "Type of the resource. This is always \"tasks#tasks\".",
          "type": "string"
        },
        "nextPageToken": {
          "description": "Token used to access the next page of this result.",
          "type": "string"
        },
        "items": {
          "items": {
            "$ref": "Task"
          },
          "type": "array",
          "description": "Collection of tasks."
        },
        "etag": {
          "description": "ETag of the resource.",
          "type": "string"
        }
      },
      "id": "Tasks"
    },
    "TaskLists": {
      "type": "object",
      "id": "TaskLists",
      "properties": {
        "items": {
          "description": "Collection of task lists.",
          "type": "array",
          "items": {
            "$ref": "TaskList"
          }
        },
        "kind": {
          "type": "string",
          "description": "Type of the resource. This is always \"tasks#taskLists\"."
        },
        "nextPageToken": {
          "description": "Token that can be used to request the next page of this result.",
          "type": "string"
        },
        "etag": {
          "description": "ETag of the resource.",
          "type": "string"
        }
      }
    },
    "AssignmentInfo": {
      "description": "Information about the source of the task assignment (Document, Chat Space).",
      "properties": {
        "surfaceType": {
          "readOnly": true,
          "description": "Output only. The type of surface this assigned task originates from. Currently limited to DOCUMENT or SPACE.",
          "enumDescriptions": [
            "Unknown value for this task's context.",
            "The task is created from Gmail.",
            "The task is assigned from a document.",
            "The task is assigned from a Chat Space."
          ],
          "enum": [
            "CONTEXT_TYPE_UNSPECIFIED",
            "GMAIL",
            "DOCUMENT",
            "SPACE"
          ],
          "type": "string"
        },
        "linkToTask": {
          "description": "Output only. An absolute link to the original task in the surface of assignment (Docs, Chat spaces, etc.).",
          "readOnly": true,
          "type": "string"
        },
        "driveResourceInfo": {
          "readOnly": true,
          "description": "Output only. Information about the Drive file where this task originates from. Currently, the Drive file can only be a document. This field is read-only.",
          "$ref": "DriveResourceInfo"
        },
        "spaceInfo": {
          "$ref": "SpaceInfo",
          "readOnly": true,
          "description": "Output only. Information about the Chat Space where this task originates from. This field is read-only."
        }
      },
      "id": "AssignmentInfo",
      "type": "object"
    }
  },
  "fullyEncodeReservedExpansion": true,
  "documentationLink": "https://developers.google.com/workspace/tasks/",
  "id": "tasks:v1",
  "ownerDomain": "google.com",
  "resources": {
    "tasklists": {
      "methods": {
        "insert": {
          "request": {
            "$ref": "TaskList"
          },
          "parameterOrder": [],
          "response": {
            "$ref": "TaskList"
          },
          "id": "tasks.tasklists.insert",
          "flatPath": "tasks/v1/users/@me/lists",
          "path": "tasks/v1/users/@me/lists",
          "scopes": [
            "https://www.googleapis.com/auth/tasks"
          ],
          "httpMethod": "POST",
          "parameters": {},
          "description": "Creates a new task list and adds it to the authenticated user's task lists. A user can have up to 2000 lists at a time."
        },
        "get": {
          "flatPath": "tasks/v1/users/@me/lists/{tasklist}",
          "response": {
            "$ref": "TaskList"
          },
          "description": "Returns the authenticated user's specified task list.",
          "parameterOrder": [
            "tasklist"
          ],
          "path": "tasks/v1/users/@me/lists/{tasklist}",
          "id": "tasks.tasklists.get",
          "parameters": {
            "tasklist": {
              "type": "string",
              "location": "path",
              "required": true,
              "description": "Task list identifier."
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/tasks",
            "https://www.googleapis.com/auth/tasks.readonly"
          ],
          "httpMethod": "GET"
        },
        "patch": {
          "request": {
            "$ref": "TaskList"
          },
          "httpMethod": "PATCH",
          "parameters": {
            "tasklist": {
              "type": "string",
              "location": "path",
              "required": true,
              "description": "Task list identifier."
            }
          },
          "description": "Updates the authenticated user's specified task list. This method supports patch semantics.",
          "id": "tasks.tasklists.patch",
          "flatPath": "tasks/v1/users/@me/lists/{tasklist}",
          "parameterOrder": [
            "tasklist"
          ],
          "response": {
            "$ref": "TaskList"
          },
          "path": "tasks/v1/users/@me/lists/{tasklist}",
          "scopes": [
            "https://www.googleapis.com/auth/tasks"
          ]
        },
        "delete": {
          "parameters": {
            "tasklist": {
              "type": "string",
              "description": "Task list identifier.",
              "location": "path",
              "required": true
            }
          },
          "httpMethod": "DELETE",
          "id": "tasks.tasklists.delete",
          "scopes": [
            "https://www.googleapis.com/auth/tasks"
          ],
          "description": "Deletes the authenticated user's specified task list. If the list contains assigned tasks, both the assigned tasks and the original tasks in the assignment surface (Docs, Chat Spaces) are deleted.",
          "path": "tasks/v1/users/@me/lists/{tasklist}",
          "flatPath": "tasks/v1/users/@me/lists/{tasklist}",
          "parameterOrder": [
            "tasklist"
          ]
        },
        "update": {
          "response": {
            "$ref": "TaskList"
          },
          "parameters": {
            "tasklist": {
              "type": "string",
              "location": "path",
              "required": true,
              "description": "Task list identifier."
            }
          },
          "httpMethod": "PUT",
          "path": "tasks/v1/users/@me/lists/{tasklist}",
          "flatPath": "tasks/v1/users/@me/lists/{tasklist}",
          "scopes": [
            "https://www.googleapis.com/auth/tasks"
          ],
          "request": {
            "$ref": "TaskList"
          },
          "description": "Updates the authenticated user's specified task list.",
          "id": "tasks.tasklists.update",
          "parameterOrder": [
            "tasklist"
          ]
        },
        "list": {
          "id": "tasks.tasklists.list",
          "parameterOrder": [],
          "description": "Returns all the authenticated user's task lists. A user can have up to 2000 lists at a time.",
          "parameters": {
            "maxResults": {
              "type": "integer",
              "location": "query",
              "format": "int32",
              "description": "Maximum number of task lists returned on one page. Optional. The default is 1000 (max allowed: 1000)."
            },
            "pageToken": {
              "location": "query",
              "type": "string",
              "description": "Token specifying the result page to return. Optional."
            }
          },
          "path": "tasks/v1/users/@me/lists",
          "httpMethod": "GET",
          "response": {
            "$ref": "TaskLists"
          },
          "flatPath": "tasks/v1/users/@me/lists",
          "scopes": [
            "https://www.googleapis.com/auth/tasks",
            "https://www.googleapis.com/auth/tasks.readonly"
          ]
        }
      }
    },
    "tasks": {
      "methods": {
        "clear": {
          "httpMethod": "POST",
          "id": "tasks.tasks.clear",
          "parameters": {
            "tasklist": {
              "type": "string",
              "description": "Task list identifier.",
              "location": "path",
              "required": true
            }
          },
          "flatPath": "tasks/v1/lists/{tasklist}/clear",
          "path": "tasks/v1/lists/{tasklist}/clear",
          "description": "Clears all completed tasks from the specified task list. The affected tasks will be marked as 'hidden' and no longer be returned by default when retrieving all tasks for a task list.",
          "scopes": [
            "https://www.googleapis.com/auth/tasks"
          ],
          "parameterOrder": [
            "tasklist"
          ]
        },
        "move": {
          "scopes": [
            "https://www.googleapis.com/auth/tasks"
          ],
          "parameterOrder": [
            "tasklist",
            "task"
          ],
          "id": "tasks.tasks.move",
          "parameters": {
            "parent": {
              "description": "Optional. New parent task identifier. If the task is moved to the top level, this parameter is omitted. The task set as parent must exist in the task list and can not be hidden. Exceptions: 1. Assigned and repeating tasks cannot be set as parent tasks (have subtasks), or be moved under a parent task (become subtasks). 2. Tasks that are both completed and hidden cannot be nested, so the parent field must be empty.",
              "location": "query",
              "type": "string"
            },
            "previous": {
              "description": "Optional. New previous sibling task identifier. If the task is moved to the first position among its siblings, this parameter is omitted. The task set as previous must exist in the task list and can not be hidden. Exceptions: 1. Tasks that are both completed and hidden can only be moved to position 0, so the previous field must be empty.",
              "type": "string",
              "location": "query"
            },
            "destinationTasklist": {
              "description": "Optional. Destination task list identifier. If set, the task is moved from tasklist to the destinationTasklist list. Otherwise the task is moved within its current list. Recurrent tasks cannot currently be moved between lists.",
              "type": "string",
              "location": "query"
            },
            "tasklist": {
              "description": "Task list identifier.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "task": {
              "description": "Task identifier.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "path": "tasks/v1/lists/{tasklist}/tasks/{task}/move",
          "httpMethod": "POST",
          "description": "Moves the specified task to another position in the destination task list. If the destination list is not specified, the task is moved within its current list. This can include putting it as a child task under a new parent and/or move it to a different position among its sibling tasks. A user can have up to 2,000 subtasks per task.",
          "response": {
            "$ref": "Task"
          },
          "flatPath": "tasks/v1/lists/{tasklist}/tasks/{task}/move"
        },
        "delete": {
          "id": "tasks.tasks.delete",
          "flatPath": "tasks/v1/lists/{tasklist}/tasks/{task}",
          "description": "Deletes the specified task from the task list. If the task is assigned, both the assigned task and the original task (in Docs, Chat Spaces) are deleted. To delete the assigned task only, navigate to the assignment surface and unassign the task from there.",
          "parameterOrder": [
            "tasklist",
            "task"
          ],
          "parameters": {
            "task": {
              "type": "string",
              "location": "path",
              "required": true,
              "description": "Task identifier."
            },
            "tasklist": {
              "type": "string",
              "location": "path",
              "required": true,
              "description": "Task list identifier."
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/tasks"
          ],
          "path": "tasks/v1/lists/{tasklist}/tasks/{task}",
          "httpMethod": "DELETE"
        },
        "update": {
          "parameters": {
            "tasklist": {
              "description": "Task list identifier.",
              "type": "string",
              "location": "path",
              "required": true
            },
            "task": {
              "type": "string",
              "description": "Task identifier.",
              "location": "path",
              "required": true
            }
          },
          "httpMethod": "PUT",
          "parameterOrder": [
            "tasklist",
            "task"
          ],
          "request": {
            "$ref": "Task"
          },
          "scopes": [
            "https://www.googleapis.com/auth/tasks"
          ],
          "path": "tasks/v1/lists/{tasklist}/tasks/{task}",
          "response": {
            "$ref": "Task"
          },
          "id": "tasks.tasks.update",
          "flatPath": "tasks/v1/lists/{tasklist}/tasks/{task}",
          "description": "Updates the specified task."
        },
        "list": {
          "response": {
            "$ref": "Tasks"
          },
          "flatPath": "tasks/v1/lists/{tasklist}/tasks",
          "scopes": [
            "https://www.googleapis.com/auth/tasks",
            "https://www.googleapis.com/auth/tasks.readonly"
          ],
          "id": "tasks.tasks.list",
          "description": "Returns all tasks in the specified task list. Doesn't return assigned tasks by default (from Docs, Chat Spaces). A user can have up to 20,000 non-hidden tasks per list and up to 100,000 tasks in total at a time.",
          "httpMethod": "GET",
          "parameterOrder": [
            "tasklist"
          ],
          "parameters": {
            "completedMin": {
              "location": "query",
              "description": "Lower bound for a task's completion date (as a RFC 3339 timestamp) to filter by. Optional. The default is not to filter by completion date.",
              "type": "string"
            },
            "pageToken": {
              "location": "query",
              "description": "Token specifying the result page to return. Optional.",
              "type": "string"
            },
            "showAssigned": {
              "type": "boolean",
              "location": "query",
              "description": "Optional. Flag indicating whether tasks assigned to the current user are returned in the result. Optional. The default is False."
            },
            "dueMin": {
              "location": "query",
              "description": "Lower bound for a task's due date (as a RFC 3339 timestamp) to filter by. Optional. The default is not to filter by due date.",
              "type": "string"
            },
            "updatedMin": {
              "description": "Lower bound for a task's last modification time (as a RFC 3339 timestamp) to filter by. Optional. The default is not to filter by last modification time.",
              "type": "string",
              "location": "query"
            },
            "completedMax": {
              "type": "string",
              "description": "Upper bound for a task's completion date (as a RFC 3339 timestamp) to filter by. Optional. The default is not to filter by completion date.",
              "location": "query"
            },
            "dueMax": {
              "location": "query",
              "type": "string",
              "description": "Upper bound for a task's due date (as a RFC 3339 timestamp) to filter by. Optional. The default is not to filter by due date."
            },
            "maxResults": {
              "type": "integer",
              "description": "Maximum number of tasks returned on one page. Optional. The default is 20 (max allowed: 100).",
              "location": "query",
              "format": "int32"
            },
            "showHidden": {
              "description": "Flag indicating whether hidden tasks are returned in the result. Optional. The default is False.",
              "type": "boolean",
              "location": "query"
            },
            "tasklist": {
              "location": "path",
              "required": true,
              "description": "Task list identifier.",
              "type": "string"
            },
            "showCompleted": {
              "description": "Flag indicating whether completed tasks are returned in the result. Note that showHidden must also be True to show tasks completed in first party clients, such as the web UI and Google's mobile apps. Optional. The default is True.",
              "type": "boolean",
              "location": "query"
            },
            "showDeleted": {
              "description": "Flag indicating whether deleted tasks are returned in the result. Optional. The default is False.",
              "location": "query",
              "type": "boolean"
            }
          },
          "path": "tasks/v1/lists/{tasklist}/tasks"
        },
        "get": {
          "id": "tasks.tasks.get",
          "path": "tasks/v1/lists/{tasklist}/tasks/{task}",
          "parameterOrder": [
            "tasklist",
            "task"
          ],
          "response": {
            "$ref": "Task"
          },
          "flatPath": "tasks/v1/lists/{tasklist}/tasks/{task}",
          "scopes": [
            "https://www.googleapis.com/auth/tasks",
            "https://www.googleapis.com/auth/tasks.readonly"
          ],
          "httpMethod": "GET",
          "parameters": {
            "task": {
              "description": "Task identifier.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "tasklist": {
              "type": "string",
              "location": "path",
              "required": true,
              "description": "Task list identifier."
            }
          },
          "description": "Returns the specified task."
        },
        "patch": {
          "parameterOrder": [
            "tasklist",
            "task"
          ],
          "description": "Updates the specified task. This method supports patch semantics.",
          "scopes": [
            "https://www.googleapis.com/auth/tasks"
          ],
          "parameters": {
            "tasklist": {
              "type": "string",
              "description": "Task list identifier.",
              "location": "path",
              "required": true
            },
            "task": {
              "description": "Task identifier.",
              "type": "string",
              "location": "path",
              "required": true
            }
          },
          "httpMethod": "PATCH",
          "response": {
            "$ref": "Task"
          },
          "path": "tasks/v1/lists/{tasklist}/tasks/{task}",
          "flatPath": "tasks/v1/lists/{tasklist}/tasks/{task}",
          "id": "tasks.tasks.patch",
          "request": {
            "$ref": "Task"
          }
        },
        "insert": {
          "path": "tasks/v1/lists/{tasklist}/tasks",
          "response": {
            "$ref": "Task"
          },
          "parameters": {
            "previous": {
              "type": "string",
              "description": "Previous sibling task identifier. If the task is created at the first position among its siblings, this parameter is omitted. Optional.",
              "location": "query"
            },
            "tasklist": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "Task list identifier."
            },
            "parent": {
              "location": "query",
              "description": "Parent task identifier. If the task is created at the top level, this parameter is omitted. An assigned task cannot be a parent task, nor can it have a parent. Setting the parent to an assigned task results in failure of the request. Optional.",
              "type": "string"
            }
          },
          "flatPath": "tasks/v1/lists/{tasklist}/tasks",
          "httpMethod": "POST",
          "id": "tasks.tasks.insert",
          "request": {
            "$ref": "Task"
          },
          "description": "Creates a new task on the specified task list. Tasks assigned from Docs or Chat Spaces cannot be inserted from Tasks Public API; they can only be created by assigning them from Docs or Chat Spaces. A user can have up to 20,000 non-hidden tasks per list and up to 100,000 tasks in total at a time.",
          "parameterOrder": [
            "tasklist"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/tasks"
          ]
        }
      }
    }
  },
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/tasks.readonly": {
          "description": "View your tasks"
        },
        "https://www.googleapis.com/auth/tasks": {
          "description": "Create, edit, organize, and delete all your tasks"
        }
      }
    }
  },
  "parameters": {
    "upload_protocol": {
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string"
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean",
      "default": "true",
      "location": "query"
    },
    "$.xgafv": {
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "location": "query",
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ]
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "access_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth access token."
    },
    "oauth_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth 2.0 token for the current user."
    },
    "alt": {
      "description": "Data format for response.",
      "type": "string",
      "location": "query",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "default": "json"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string",
      "location": "query"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query",
      "type": "string"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query",
      "type": "string"
    }
  },
  "kind": "discovery#restDescription",
  "baseUrl": "https://tasks.googleapis.com/",
  "version": "v1"
}