{
  "fullyEncodeReservedExpansion": true,
  "title": "Google Tasks API",
  "id": "tasks:v1",
  "protocol": "rest",
  "servicePath": "",
  "basePath": "",
  "mtlsRootUrl": "https://tasks.mtls.googleapis.com/",
  "ownerDomain": "google.com",
  "discoveryVersion": "v1",
  "batchPath": "batch",
  "baseUrl": "https://tasks.googleapis.com/",
  "documentationLink": "https://developers.google.com/workspace/tasks/",
  "name": "tasks",
  "description": "The Google Tasks API lets you manage your tasks and task lists.",
  "parameters": {
    "$.xgafv": {
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format.",
      "location": "query",
      "type": "string",
      "enum": [
        "1",
        "2"
      ]
    },
    "access_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth access token."
    },
    "upload_protocol": {
      "location": "query",
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "alt": {
      "type": "string",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "location": "query",
      "description": "Data format for response.",
      "default": "json",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ]
    },
    "callback": {
      "description": "JSONP",
      "location": "query",
      "type": "string"
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "oauth_token": {
      "location": "query",
      "description": "OAuth 2.0 token for the current user.",
      "type": "string"
    },
    "quotaUser": {
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string",
      "location": "query"
    },
    "prettyPrint": {
      "default": "true",
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "location": "query"
    }
  },
  "resources": {
    "tasklists": {
      "methods": {
        "delete": {
          "flatPath": "tasks/v1/users/@me/lists/{tasklist}",
          "scopes": [
            "https://www.googleapis.com/auth/tasks"
          ],
          "id": "tasks.tasklists.delete",
          "path": "tasks/v1/users/@me/lists/{tasklist}",
          "httpMethod": "DELETE",
          "description": "Deletes the authenticated user's specified task list. If the list contains assigned tasks, both the assigned tasks and the original tasks in the assignment surface (Docs, Chat Spaces) are deleted.",
          "parameterOrder": [
            "tasklist"
          ],
          "parameters": {
            "tasklist": {
              "location": "path",
              "description": "Task list identifier.",
              "required": true,
              "type": "string"
            }
          }
        },
        "insert": {
          "description": "Creates a new task list and adds it to the authenticated user's task lists. A user can have up to 2000 lists at a time.",
          "id": "tasks.tasklists.insert",
          "parameterOrder": [],
          "path": "tasks/v1/users/@me/lists",
          "parameters": {},
          "flatPath": "tasks/v1/users/@me/lists",
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/tasks"
          ],
          "request": {
            "$ref": "TaskList"
          },
          "response": {
            "$ref": "TaskList"
          }
        },
        "list": {
          "flatPath": "tasks/v1/users/@me/lists",
          "path": "tasks/v1/users/@me/lists",
          "id": "tasks.tasklists.list",
          "response": {
            "$ref": "TaskLists"
          },
          "parameterOrder": [],
          "httpMethod": "GET",
          "description": "Returns all the authenticated user's task lists. A user can have up to 2000 lists at a time.",
          "scopes": [
            "https://www.googleapis.com/auth/tasks",
            "https://www.googleapis.com/auth/tasks.readonly"
          ],
          "parameters": {
            "maxResults": {
              "type": "integer",
              "location": "query",
              "format": "int32",
              "description": "Maximum number of task lists returned on one page. Optional. The default is 1000 (max allowed: 1000)."
            },
            "pageToken": {
              "type": "string",
              "description": "Token specifying the result page to return. Optional.",
              "location": "query"
            }
          }
        },
        "update": {
          "scopes": [
            "https://www.googleapis.com/auth/tasks"
          ],
          "request": {
            "$ref": "TaskList"
          },
          "httpMethod": "PUT",
          "parameters": {
            "tasklist": {
              "description": "Task list identifier.",
              "required": true,
              "type": "string",
              "location": "path"
            }
          },
          "parameterOrder": [
            "tasklist"
          ],
          "description": "Updates the authenticated user's specified task list.",
          "id": "tasks.tasklists.update",
          "flatPath": "tasks/v1/users/@me/lists/{tasklist}",
          "path": "tasks/v1/users/@me/lists/{tasklist}",
          "response": {
            "$ref": "TaskList"
          }
        },
        "patch": {
          "parameterOrder": [
            "tasklist"
          ],
          "request": {
            "$ref": "TaskList"
          },
          "parameters": {
            "tasklist": {
              "description": "Task list identifier.",
              "required": true,
              "location": "path",
              "type": "string"
            }
          },
          "httpMethod": "PATCH",
          "description": "Updates the authenticated user's specified task list. This method supports patch semantics.",
          "response": {
            "$ref": "TaskList"
          },
          "scopes": [
            "https://www.googleapis.com/auth/tasks"
          ],
          "id": "tasks.tasklists.patch",
          "path": "tasks/v1/users/@me/lists/{tasklist}",
          "flatPath": "tasks/v1/users/@me/lists/{tasklist}"
        },
        "get": {
          "parameterOrder": [
            "tasklist"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/tasks",
            "https://www.googleapis.com/auth/tasks.readonly"
          ],
          "description": "Returns the authenticated user's specified task list.",
          "response": {
            "$ref": "TaskList"
          },
          "id": "tasks.tasklists.get",
          "parameters": {
            "tasklist": {
              "location": "path",
              "type": "string",
              "description": "Task list identifier.",
              "required": true
            }
          },
          "flatPath": "tasks/v1/users/@me/lists/{tasklist}",
          "httpMethod": "GET",
          "path": "tasks/v1/users/@me/lists/{tasklist}"
        }
      }
    },
    "tasks": {
      "methods": {
        "update": {
          "httpMethod": "PUT",
          "parameterOrder": [
            "tasklist",
            "task"
          ],
          "path": "tasks/v1/lists/{tasklist}/tasks/{task}",
          "flatPath": "tasks/v1/lists/{tasklist}/tasks/{task}",
          "parameters": {
            "task": {
              "type": "string",
              "location": "path",
              "description": "Task identifier.",
              "required": true
            },
            "tasklist": {
              "required": true,
              "type": "string",
              "description": "Task list identifier.",
              "location": "path"
            }
          },
          "id": "tasks.tasks.update",
          "response": {
            "$ref": "Task"
          },
          "scopes": [
            "https://www.googleapis.com/auth/tasks"
          ],
          "request": {
            "$ref": "Task"
          },
          "description": "Updates the specified task."
        },
        "clear": {
          "flatPath": "tasks/v1/lists/{tasklist}/clear",
          "parameterOrder": [
            "tasklist"
          ],
          "description": "Clears all completed tasks from the specified task list. The affected tasks will be marked as 'hidden' and no longer be returned by default when retrieving all tasks for a task list.",
          "id": "tasks.tasks.clear",
          "path": "tasks/v1/lists/{tasklist}/clear",
          "parameters": {
            "tasklist": {
              "location": "path",
              "type": "string",
              "description": "Task list identifier.",
              "required": true
            }
          },
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/tasks"
          ]
        },
        "insert": {
          "path": "tasks/v1/lists/{tasklist}/tasks",
          "description": "Creates a new task on the specified task list. Tasks assigned from Docs or Chat Spaces cannot be inserted from Tasks Public API; they can only be created by assigning them from Docs or Chat Spaces. A user can have up to 20,000 non-hidden tasks per list and up to 100,000 tasks in total at a time.",
          "scopes": [
            "https://www.googleapis.com/auth/tasks"
          ],
          "httpMethod": "POST",
          "parameters": {
            "tasklist": {
              "location": "path",
              "description": "Task list identifier.",
              "type": "string",
              "required": true
            },
            "previous": {
              "type": "string",
              "description": "Previous sibling task identifier. If the task is created at the first position among its siblings, this parameter is omitted. Optional.",
              "location": "query"
            },
            "parent": {
              "description": "Parent task identifier. If the task is created at the top level, this parameter is omitted. An assigned task cannot be a parent task, nor can it have a parent. Setting the parent to an assigned task results in failure of the request. Optional.",
              "location": "query",
              "type": "string"
            }
          },
          "response": {
            "$ref": "Task"
          },
          "request": {
            "$ref": "Task"
          },
          "parameterOrder": [
            "tasklist"
          ],
          "flatPath": "tasks/v1/lists/{tasklist}/tasks",
          "id": "tasks.tasks.insert"
        },
        "move": {
          "path": "tasks/v1/lists/{tasklist}/tasks/{task}/move",
          "id": "tasks.tasks.move",
          "parameterOrder": [
            "tasklist",
            "task"
          ],
          "flatPath": "tasks/v1/lists/{tasklist}/tasks/{task}/move",
          "parameters": {
            "task": {
              "type": "string",
              "required": true,
              "description": "Task identifier.",
              "location": "path"
            },
            "destinationTasklist": {
              "type": "string",
              "description": "Optional. Destination task list identifier. If set, the task is moved from tasklist to the destinationTasklist list. Otherwise the task is moved within its current list. Recurrent tasks cannot currently be moved between lists.",
              "location": "query"
            },
            "parent": {
              "description": "Optional. New parent task identifier. If the task is moved to the top level, this parameter is omitted. The task set as parent must exist in the task list and can not be hidden. Exceptions: 1. Assigned and repeating tasks cannot be set as parent tasks (have subtasks), or be moved under a parent task (become subtasks). 2. Tasks that are both completed and hidden cannot be nested, so the parent field must be empty.",
              "location": "query",
              "type": "string"
            },
            "tasklist": {
              "description": "Task list identifier.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "previous": {
              "description": "Optional. New previous sibling task identifier. If the task is moved to the first position among its siblings, this parameter is omitted. The task set as previous must exist in the task list and can not be hidden. Exceptions: 1. Tasks that are both completed and hidden can only be moved to position 0, so the previous field must be empty.",
              "type": "string",
              "location": "query"
            }
          },
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/tasks"
          ],
          "description": "Moves the specified task to another position in the destination task list. If the destination list is not specified, the task is moved within its current list. This can include putting it as a child task under a new parent and/or move it to a different position among its sibling tasks. A user can have up to 2,000 subtasks per task.",
          "response": {
            "$ref": "Task"
          }
        },
        "patch": {
          "id": "tasks.tasks.patch",
          "scopes": [
            "https://www.googleapis.com/auth/tasks"
          ],
          "httpMethod": "PATCH",
          "path": "tasks/v1/lists/{tasklist}/tasks/{task}",
          "parameters": {
            "task": {
              "description": "Task identifier.",
              "location": "path",
              "type": "string",
              "required": true
            },
            "tasklist": {
              "required": true,
              "description": "Task list identifier.",
              "location": "path",
              "type": "string"
            }
          },
          "description": "Updates the specified task. This method supports patch semantics.",
          "flatPath": "tasks/v1/lists/{tasklist}/tasks/{task}",
          "parameterOrder": [
            "tasklist",
            "task"
          ],
          "response": {
            "$ref": "Task"
          },
          "request": {
            "$ref": "Task"
          }
        },
        "delete": {
          "flatPath": "tasks/v1/lists/{tasklist}/tasks/{task}",
          "scopes": [
            "https://www.googleapis.com/auth/tasks"
          ],
          "description": "Deletes the specified task from the task list. If the task is assigned, both the assigned task and the original task (in Docs, Chat Spaces) are deleted. To delete the assigned task only, navigate to the assignment surface and unassign the task from there.",
          "id": "tasks.tasks.delete",
          "httpMethod": "DELETE",
          "path": "tasks/v1/lists/{tasklist}/tasks/{task}",
          "parameters": {
            "task": {
              "location": "path",
              "description": "Task identifier.",
              "type": "string",
              "required": true
            },
            "tasklist": {
              "type": "string",
              "location": "path",
              "description": "Task list identifier.",
              "required": true
            }
          },
          "parameterOrder": [
            "tasklist",
            "task"
          ]
        },
        "list": {
          "parameterOrder": [
            "tasklist"
          ],
          "response": {
            "$ref": "Tasks"
          },
          "path": "tasks/v1/lists/{tasklist}/tasks",
          "flatPath": "tasks/v1/lists/{tasklist}/tasks",
          "parameters": {
            "showHidden": {
              "type": "boolean",
              "description": "Flag indicating whether hidden tasks are returned in the result. Optional. The default is False.",
              "location": "query"
            },
            "dueMin": {
              "type": "string",
              "location": "query",
              "description": "Lower bound for a task's due date (as a RFC 3339 timestamp) to filter by. Optional. The default is not to filter by due date."
            },
            "completedMax": {
              "type": "string",
              "location": "query",
              "description": "Upper bound for a task's completion date (as a RFC 3339 timestamp) to filter by. Optional. The default is not to filter by completion date."
            },
            "showAssigned": {
              "type": "boolean",
              "location": "query",
              "description": "Optional. Flag indicating whether tasks assigned to the current user are returned in the result. Optional. The default is False."
            },
            "showCompleted": {
              "type": "boolean",
              "location": "query",
              "description": "Flag indicating whether completed tasks are returned in the result. Note that showHidden must also be True to show tasks completed in first party clients, such as the web UI and Google's mobile apps. Optional. The default is True."
            },
            "showDeleted": {
              "location": "query",
              "description": "Flag indicating whether deleted tasks are returned in the result. Optional. The default is False.",
              "type": "boolean"
            },
            "updatedMin": {
              "location": "query",
              "description": "Lower bound for a task's last modification time (as a RFC 3339 timestamp) to filter by. Optional. The default is not to filter by last modification time.",
              "type": "string"
            },
            "completedMin": {
              "location": "query",
              "type": "string",
              "description": "Lower bound for a task's completion date (as a RFC 3339 timestamp) to filter by. Optional. The default is not to filter by completion date."
            },
            "dueMax": {
              "description": "Upper bound for a task's due date (as a RFC 3339 timestamp) to filter by. Optional. The default is not to filter by due date.",
              "location": "query",
              "type": "string"
            },
            "tasklist": {
              "type": "string",
              "description": "Task list identifier.",
              "location": "path",
              "required": true
            },
            "maxResults": {
              "format": "int32",
              "description": "Maximum number of tasks returned on one page. Optional. The default is 20 (max allowed: 100).",
              "type": "integer",
              "location": "query"
            },
            "pageToken": {
              "location": "query",
              "type": "string",
              "description": "Token specifying the result page to return. Optional."
            }
          },
          "description": "Returns all tasks in the specified task list. Doesn't return assigned tasks by default (from Docs, Chat Spaces). A user can have up to 20,000 non-hidden tasks per list and up to 100,000 tasks in total at a time.",
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/tasks",
            "https://www.googleapis.com/auth/tasks.readonly"
          ],
          "id": "tasks.tasks.list"
        },
        "get": {
          "response": {
            "$ref": "Task"
          },
          "id": "tasks.tasks.get",
          "path": "tasks/v1/lists/{tasklist}/tasks/{task}",
          "parameters": {
            "task": {
              "required": true,
              "description": "Task identifier.",
              "location": "path",
              "type": "string"
            },
            "tasklist": {
              "location": "path",
              "type": "string",
              "description": "Task list identifier.",
              "required": true
            }
          },
          "httpMethod": "GET",
          "flatPath": "tasks/v1/lists/{tasklist}/tasks/{task}",
          "description": "Returns the specified task.",
          "scopes": [
            "https://www.googleapis.com/auth/tasks",
            "https://www.googleapis.com/auth/tasks.readonly"
          ],
          "parameterOrder": [
            "tasklist",
            "task"
          ]
        }
      }
    }
  },
  "version": "v1",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "canonicalName": "Tasks",
  "revision": "20260906",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/tasks.readonly": {
          "description": "View your tasks"
        },
        "https://www.googleapis.com/auth/tasks": {
          "description": "Create, edit, organize, and delete all your tasks"
        }
      }
    }
  },
  "rootUrl": "https://tasks.googleapis.com/",
  "schemas": {
    "Tasks": {
      "id": "Tasks",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "Token used to access the next page of this result.",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "description": "Type of the resource. This is always \"tasks#tasks\"."
        },
        "etag": {
          "description": "ETag of the resource.",
          "type": "string"
        },
        "items": {
          "items": {
            "$ref": "Task"
          },
          "type": "array",
          "description": "Collection of tasks."
        }
      }
    },
    "Task": {
      "type": "object",
      "id": "Task",
      "properties": {
        "id": {
          "description": "Task identifier.",
          "type": "string"
        },
        "status": {
          "description": "Status of the task. This is either \"needsAction\" or \"completed\".",
          "type": "string"
        },
        "assignmentInfo": {
          "$ref": "AssignmentInfo",
          "description": "Output only. Context information for assigned tasks. A task can be assigned to a user, currently possible from surfaces like Docs and Chat Spaces. This field is populated for tasks assigned to the current user and identifies where the task was assigned from. This field is read-only.",
          "readOnly": true
        },
        "notes": {
          "type": "string",
          "description": "Notes describing the task. Tasks assigned from Google Docs cannot have notes. Optional. Maximum length allowed: 8192 characters."
        },
        "updated": {
          "description": "Output only. Last modification time of the task (as a RFC 3339 timestamp).",
          "readOnly": true,
          "type": "string"
        },
        "title": {
          "description": "Title of the task. Maximum length allowed: 1024 characters.",
          "type": "string"
        },
        "hidden": {
          "description": "Flag indicating whether the task is hidden. This is the case if the task had been marked completed when the task list was last cleared. The default is False. This field is read-only.",
          "type": "boolean"
        },
        "due": {
          "description": "Scheduled date for the task (as an RFC 3339 timestamp). Optional. This represents the day that the task should be done, or that the task is visible on the calendar grid. It doesn't represent the deadline of the task. Only date information is recorded; the time portion of the timestamp is discarded when setting this field. It isn't possible to read or write the time that a task is scheduled for using the API.",
          "type": "string"
        },
        "parent": {
          "description": "Output only. Parent task identifier. This field is omitted if it is a top-level task. Use the \"move\" method to move the task under a different parent or to the top level. A parent task can never be an assigned task (from Chat Spaces, Docs). This field is read-only.",
          "readOnly": true,
          "type": "string"
        },
        "etag": {
          "description": "ETag of the resource.",
          "type": "string"
        },
        "links": {
          "readOnly": true,
          "type": "array",
          "description": "Output only. Collection of links. This collection is read-only.",
          "items": {
            "type": "object",
            "properties": {
              "description": {
                "description": "The description (might be empty).",
                "type": "string"
              },
              "type": {
                "type": "string",
                "description": "Type of the link, e.g. \"email\", \"generic\", \"chat_message\", \"keep_note\"."
              },
              "link": {
                "description": "The URL.",
                "type": "string"
              }
            }
          }
        },
        "completed": {
          "description": "Completion date of the task (as a RFC 3339 timestamp). This field is omitted if the task has not been completed.",
          "type": "string"
        },
        "selfLink": {
          "readOnly": true,
          "description": "Output only. URL pointing to this task. Used to retrieve, update, or delete this task.",
          "type": "string"
        },
        "webViewLink": {
          "readOnly": true,
          "description": "Output only. An absolute link to the task in the Google Tasks Web UI.",
          "type": "string"
        },
        "kind": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Type of the resource. This is always \"tasks#task\"."
        },
        "deleted": {
          "type": "boolean",
          "description": "Flag indicating whether the task has been deleted. For assigned tasks this field is read-only. They can only be deleted by calling tasks.delete, in which case both the assigned task and the original task (in Docs or Chat Spaces) are deleted. To delete the assigned task only, navigate to the assignment surface and unassign the task from there. The default is False."
        },
        "position": {
          "readOnly": true,
          "description": "Output only. String indicating the position of the task among its sibling tasks under the same parent task or at the top level. If this string is greater than another task's corresponding position string according to lexicographical ordering, the task is positioned after the other task under the same parent task (or at the top level). Use the \"move\" method to move the task to another position.",
          "type": "string"
        }
      }
    },
    "TaskList": {
      "id": "TaskList",
      "properties": {
        "updated": {
          "description": "Output only. Last modification time of the task list (as a RFC 3339 timestamp).",
          "readOnly": true,
          "type": "string"
        },
        "etag": {
          "type": "string",
          "description": "ETag of the resource."
        },
        "id": {
          "type": "string",
          "description": "Task list identifier."
        },
        "kind": {
          "readOnly": true,
          "description": "Output only. Type of the resource. This is always \"tasks#taskList\".",
          "type": "string"
        },
        "title": {
          "type": "string",
          "description": "Title of the task list. Maximum length allowed: 1024 characters."
        },
        "selfLink": {
          "type": "string",
          "description": "Output only. URL pointing to this task list. Used to retrieve, update, or delete this task list.",
          "readOnly": true
        }
      },
      "type": "object"
    },
    "SpaceInfo": {
      "properties": {
        "space": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The Chat space where this task originates from. The format is \"spaces/{space}\"."
        }
      },
      "description": "Information about the Chat Space where a task was assigned from.",
      "id": "SpaceInfo",
      "type": "object"
    },
    "TaskLists": {
      "id": "TaskLists",
      "type": "object",
      "properties": {
        "kind": {
          "type": "string",
          "description": "Type of the resource. This is always \"tasks#taskLists\"."
        },
        "etag": {
          "type": "string",
          "description": "ETag of the resource."
        },
        "nextPageToken": {
          "type": "string",
          "description": "Token that can be used to request the next page of this result."
        },
        "items": {
          "type": "array",
          "description": "Collection of task lists.",
          "items": {
            "$ref": "TaskList"
          }
        }
      }
    },
    "AssignmentInfo": {
      "type": "object",
      "description": "Information about the source of the task assignment (Document, Chat Space).",
      "properties": {
        "surfaceType": {
          "readOnly": true,
          "enumDescriptions": [
            "Unknown value for this task's context.",
            "The task is created from Gmail.",
            "The task is assigned from a document.",
            "The task is assigned from a Chat Space."
          ],
          "description": "Output only. The type of surface this assigned task originates from. Currently limited to DOCUMENT or SPACE.",
          "enum": [
            "CONTEXT_TYPE_UNSPECIFIED",
            "GMAIL",
            "DOCUMENT",
            "SPACE"
          ],
          "type": "string"
        },
        "spaceInfo": {
          "$ref": "SpaceInfo",
          "readOnly": true,
          "description": "Output only. Information about the Chat Space where this task originates from. This field is read-only."
        },
        "linkToTask": {
          "readOnly": true,
          "description": "Output only. An absolute link to the original task in the surface of assignment (Docs, Chat spaces, etc.).",
          "type": "string"
        },
        "driveResourceInfo": {
          "description": "Output only. Information about the Drive file where this task originates from. Currently, the Drive file can only be a document. This field is read-only.",
          "$ref": "DriveResourceInfo",
          "readOnly": true
        }
      },
      "id": "AssignmentInfo"
    },
    "DriveResourceInfo": {
      "description": "Information about the Drive resource where a task was assigned from (the document, sheet, etc.).",
      "id": "DriveResourceInfo",
      "type": "object",
      "properties": {
        "driveFileId": {
          "type": "string",
          "description": "Output only. Identifier of the file in the Drive API.",
          "readOnly": true
        },
        "resourceKey": {
          "description": "Output only. Resource key required to access files shared via a shared link. Not required for all files. See also developers.google.com/drive/api/guides/resource-keys.",
          "type": "string",
          "readOnly": true
        }
      }
    }
  },
  "kind": "discovery#restDescription",
  "ownerName": "Google"
}