{
  "revision": "20260825",
  "discoveryVersion": "v1",
  "id": "tasks:v1",
  "fullyEncodeReservedExpansion": true,
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/tasks": {
          "description": "Create, edit, organize, and delete all your tasks"
        },
        "https://www.googleapis.com/auth/tasks.readonly": {
          "description": "View your tasks"
        }
      }
    }
  },
  "protocol": "rest",
  "ownerName": "Google",
  "baseUrl": "https://tasks.googleapis.com/",
  "basePath": "",
  "batchPath": "batch",
  "resources": {
    "tasks": {
      "methods": {
        "insert": {
          "path": "tasks/v1/lists/{tasklist}/tasks",
          "parameterOrder": [
            "tasklist"
          ],
          "request": {
            "$ref": "Task"
          },
          "description": "Creates a new task on the specified task list. Tasks assigned from Docs or Chat Spaces cannot be inserted from Tasks Public API; they can only be created by assigning them from Docs or Chat Spaces. A user can have up to 20,000 non-hidden tasks per list and up to 100,000 tasks in total at a time.",
          "response": {
            "$ref": "Task"
          },
          "id": "tasks.tasks.insert",
          "scopes": [
            "https://www.googleapis.com/auth/tasks"
          ],
          "httpMethod": "POST",
          "parameters": {
            "parent": {
              "type": "string",
              "description": "Parent task identifier. If the task is created at the top level, this parameter is omitted. An assigned task cannot be a parent task, nor can it have a parent. Setting the parent to an assigned task results in failure of the request. Optional.",
              "location": "query"
            },
            "tasklist": {
              "description": "Task list identifier.",
              "location": "path",
              "type": "string",
              "required": true
            },
            "previous": {
              "location": "query",
              "description": "Previous sibling task identifier. If the task is created at the first position among its siblings, this parameter is omitted. Optional.",
              "type": "string"
            }
          },
          "flatPath": "tasks/v1/lists/{tasklist}/tasks"
        },
        "update": {
          "description": "Updates the specified task.",
          "parameterOrder": [
            "tasklist",
            "task"
          ],
          "request": {
            "$ref": "Task"
          },
          "path": "tasks/v1/lists/{tasklist}/tasks/{task}",
          "httpMethod": "PUT",
          "parameters": {
            "task": {
              "type": "string",
              "description": "Task identifier.",
              "location": "path",
              "required": true
            },
            "tasklist": {
              "location": "path",
              "type": "string",
              "description": "Task list identifier.",
              "required": true
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/tasks"
          ],
          "response": {
            "$ref": "Task"
          },
          "id": "tasks.tasks.update",
          "flatPath": "tasks/v1/lists/{tasklist}/tasks/{task}"
        },
        "patch": {
          "response": {
            "$ref": "Task"
          },
          "request": {
            "$ref": "Task"
          },
          "parameterOrder": [
            "tasklist",
            "task"
          ],
          "path": "tasks/v1/lists/{tasklist}/tasks/{task}",
          "flatPath": "tasks/v1/lists/{tasklist}/tasks/{task}",
          "httpMethod": "PATCH",
          "parameters": {
            "tasklist": {
              "description": "Task list identifier.",
              "type": "string",
              "required": true,
              "location": "path"
            },
            "task": {
              "type": "string",
              "location": "path",
              "description": "Task identifier.",
              "required": true
            }
          },
          "description": "Updates the specified task. This method supports patch semantics.",
          "id": "tasks.tasks.patch",
          "scopes": [
            "https://www.googleapis.com/auth/tasks"
          ]
        },
        "clear": {
          "description": "Clears all completed tasks from the specified task list. The affected tasks will be marked as 'hidden' and no longer be returned by default when retrieving all tasks for a task list.",
          "flatPath": "tasks/v1/lists/{tasklist}/clear",
          "parameterOrder": [
            "tasklist"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/tasks"
          ],
          "id": "tasks.tasks.clear",
          "path": "tasks/v1/lists/{tasklist}/clear",
          "httpMethod": "POST",
          "parameters": {
            "tasklist": {
              "type": "string",
              "description": "Task list identifier.",
              "location": "path",
              "required": true
            }
          }
        },
        "list": {
          "description": "Returns all tasks in the specified task list. Doesn't return assigned tasks by default (from Docs, Chat Spaces). A user can have up to 20,000 non-hidden tasks per list and up to 100,000 tasks in total at a time.",
          "response": {
            "$ref": "Tasks"
          },
          "flatPath": "tasks/v1/lists/{tasklist}/tasks",
          "path": "tasks/v1/lists/{tasklist}/tasks",
          "scopes": [
            "https://www.googleapis.com/auth/tasks",
            "https://www.googleapis.com/auth/tasks.readonly"
          ],
          "httpMethod": "GET",
          "parameters": {
            "maxResults": {
              "format": "int32",
              "type": "integer",
              "location": "query",
              "description": "Maximum number of tasks returned on one page. Optional. The default is 20 (max allowed: 100)."
            },
            "tasklist": {
              "type": "string",
              "required": true,
              "location": "path",
              "description": "Task list identifier."
            },
            "showAssigned": {
              "type": "boolean",
              "description": "Optional. Flag indicating whether tasks assigned to the current user are returned in the result. Optional. The default is False.",
              "location": "query"
            },
            "dueMin": {
              "type": "string",
              "description": "Lower bound for a task's due date (as a RFC 3339 timestamp) to filter by. Optional. The default is not to filter by due date.",
              "location": "query"
            },
            "showDeleted": {
              "location": "query",
              "type": "boolean",
              "description": "Flag indicating whether deleted tasks are returned in the result. Optional. The default is False."
            },
            "showCompleted": {
              "location": "query",
              "type": "boolean",
              "description": "Flag indicating whether completed tasks are returned in the result. Note that showHidden must also be True to show tasks completed in first party clients, such as the web UI and Google's mobile apps. Optional. The default is True."
            },
            "completedMin": {
              "location": "query",
              "type": "string",
              "description": "Lower bound for a task's completion date (as a RFC 3339 timestamp) to filter by. Optional. The default is not to filter by completion date."
            },
            "updatedMin": {
              "location": "query",
              "type": "string",
              "description": "Lower bound for a task's last modification time (as a RFC 3339 timestamp) to filter by. Optional. The default is not to filter by last modification time."
            },
            "pageToken": {
              "description": "Token specifying the result page to return. Optional.",
              "location": "query",
              "type": "string"
            },
            "dueMax": {
              "location": "query",
              "type": "string",
              "description": "Upper bound for a task's due date (as a RFC 3339 timestamp) to filter by. Optional. The default is not to filter by due date."
            },
            "showHidden": {
              "location": "query",
              "type": "boolean",
              "description": "Flag indicating whether hidden tasks are returned in the result. Optional. The default is False."
            },
            "completedMax": {
              "type": "string",
              "location": "query",
              "description": "Upper bound for a task's completion date (as a RFC 3339 timestamp) to filter by. Optional. The default is not to filter by completion date."
            }
          },
          "id": "tasks.tasks.list",
          "parameterOrder": [
            "tasklist"
          ]
        },
        "move": {
          "flatPath": "tasks/v1/lists/{tasklist}/tasks/{task}/move",
          "description": "Moves the specified task to another position in the destination task list. If the destination list is not specified, the task is moved within its current list. This can include putting it as a child task under a new parent and/or move it to a different position among its sibling tasks. A user can have up to 2,000 subtasks per task.",
          "id": "tasks.tasks.move",
          "scopes": [
            "https://www.googleapis.com/auth/tasks"
          ],
          "response": {
            "$ref": "Task"
          },
          "path": "tasks/v1/lists/{tasklist}/tasks/{task}/move",
          "parameterOrder": [
            "tasklist",
            "task"
          ],
          "httpMethod": "POST",
          "parameters": {
            "tasklist": {
              "location": "path",
              "required": true,
              "description": "Task list identifier.",
              "type": "string"
            },
            "previous": {
              "type": "string",
              "location": "query",
              "description": "Optional. New previous sibling task identifier. If the task is moved to the first position among its siblings, this parameter is omitted. The task set as previous must exist in the task list and can not be hidden. Exceptions: 1. Tasks that are both completed and hidden can only be moved to position 0, so the previous field must be empty."
            },
            "parent": {
              "description": "Optional. New parent task identifier. If the task is moved to the top level, this parameter is omitted. The task set as parent must exist in the task list and can not be hidden. Exceptions: 1. Assigned and repeating tasks cannot be set as parent tasks (have subtasks), or be moved under a parent task (become subtasks). 2. Tasks that are both completed and hidden cannot be nested, so the parent field must be empty.",
              "type": "string",
              "location": "query"
            },
            "task": {
              "type": "string",
              "location": "path",
              "description": "Task identifier.",
              "required": true
            },
            "destinationTasklist": {
              "location": "query",
              "type": "string",
              "description": "Optional. Destination task list identifier. If set, the task is moved from tasklist to the destinationTasklist list. Otherwise the task is moved within its current list. Recurrent tasks cannot currently be moved between lists."
            }
          }
        },
        "delete": {
          "httpMethod": "DELETE",
          "parameters": {
            "tasklist": {
              "description": "Task list identifier.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "task": {
              "location": "path",
              "type": "string",
              "required": true,
              "description": "Task identifier."
            }
          },
          "id": "tasks.tasks.delete",
          "parameterOrder": [
            "tasklist",
            "task"
          ],
          "flatPath": "tasks/v1/lists/{tasklist}/tasks/{task}",
          "scopes": [
            "https://www.googleapis.com/auth/tasks"
          ],
          "path": "tasks/v1/lists/{tasklist}/tasks/{task}",
          "description": "Deletes the specified task from the task list. If the task is assigned, both the assigned task and the original task (in Docs, Chat Spaces) are deleted. To delete the assigned task only, navigate to the assignment surface and unassign the task from there."
        },
        "get": {
          "flatPath": "tasks/v1/lists/{tasklist}/tasks/{task}",
          "scopes": [
            "https://www.googleapis.com/auth/tasks",
            "https://www.googleapis.com/auth/tasks.readonly"
          ],
          "response": {
            "$ref": "Task"
          },
          "path": "tasks/v1/lists/{tasklist}/tasks/{task}",
          "id": "tasks.tasks.get",
          "httpMethod": "GET",
          "parameters": {
            "tasklist": {
              "location": "path",
              "required": true,
              "description": "Task list identifier.",
              "type": "string"
            },
            "task": {
              "type": "string",
              "description": "Task identifier.",
              "required": true,
              "location": "path"
            }
          },
          "description": "Returns the specified task.",
          "parameterOrder": [
            "tasklist",
            "task"
          ]
        }
      }
    },
    "tasklists": {
      "methods": {
        "patch": {
          "path": "tasks/v1/users/@me/lists/{tasklist}",
          "parameterOrder": [
            "tasklist"
          ],
          "id": "tasks.tasklists.patch",
          "httpMethod": "PATCH",
          "parameters": {
            "tasklist": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "Task list identifier."
            }
          },
          "description": "Updates the authenticated user's specified task list. This method supports patch semantics.",
          "request": {
            "$ref": "TaskList"
          },
          "scopes": [
            "https://www.googleapis.com/auth/tasks"
          ],
          "response": {
            "$ref": "TaskList"
          },
          "flatPath": "tasks/v1/users/@me/lists/{tasklist}"
        },
        "get": {
          "response": {
            "$ref": "TaskList"
          },
          "httpMethod": "GET",
          "parameters": {
            "tasklist": {
              "location": "path",
              "type": "string",
              "description": "Task list identifier.",
              "required": true
            }
          },
          "path": "tasks/v1/users/@me/lists/{tasklist}",
          "description": "Returns the authenticated user's specified task list.",
          "flatPath": "tasks/v1/users/@me/lists/{tasklist}",
          "id": "tasks.tasklists.get",
          "parameterOrder": [
            "tasklist"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/tasks",
            "https://www.googleapis.com/auth/tasks.readonly"
          ]
        },
        "list": {
          "httpMethod": "GET",
          "parameters": {
            "pageToken": {
              "description": "Token specifying the result page to return. Optional.",
              "type": "string",
              "location": "query"
            },
            "maxResults": {
              "type": "integer",
              "description": "Maximum number of task lists returned on one page. Optional. The default is 1000 (max allowed: 1000).",
              "location": "query",
              "format": "int32"
            }
          },
          "description": "Returns all the authenticated user's task lists. A user can have up to 2000 lists at a time.",
          "scopes": [
            "https://www.googleapis.com/auth/tasks",
            "https://www.googleapis.com/auth/tasks.readonly"
          ],
          "id": "tasks.tasklists.list",
          "parameterOrder": [],
          "response": {
            "$ref": "TaskLists"
          },
          "flatPath": "tasks/v1/users/@me/lists",
          "path": "tasks/v1/users/@me/lists"
        },
        "delete": {
          "flatPath": "tasks/v1/users/@me/lists/{tasklist}",
          "id": "tasks.tasklists.delete",
          "scopes": [
            "https://www.googleapis.com/auth/tasks"
          ],
          "description": "Deletes the authenticated user's specified task list. If the list contains assigned tasks, both the assigned tasks and the original tasks in the assignment surface (Docs, Chat Spaces) are deleted.",
          "parameterOrder": [
            "tasklist"
          ],
          "path": "tasks/v1/users/@me/lists/{tasklist}",
          "httpMethod": "DELETE",
          "parameters": {
            "tasklist": {
              "description": "Task list identifier.",
              "type": "string",
              "required": true,
              "location": "path"
            }
          }
        },
        "insert": {
          "response": {
            "$ref": "TaskList"
          },
          "httpMethod": "POST",
          "parameters": {},
          "id": "tasks.tasklists.insert",
          "scopes": [
            "https://www.googleapis.com/auth/tasks"
          ],
          "flatPath": "tasks/v1/users/@me/lists",
          "request": {
            "$ref": "TaskList"
          },
          "description": "Creates a new task list and adds it to the authenticated user's task lists. A user can have up to 2000 lists at a time.",
          "parameterOrder": [],
          "path": "tasks/v1/users/@me/lists"
        },
        "update": {
          "parameterOrder": [
            "tasklist"
          ],
          "flatPath": "tasks/v1/users/@me/lists/{tasklist}",
          "description": "Updates the authenticated user's specified task list.",
          "httpMethod": "PUT",
          "parameters": {
            "tasklist": {
              "type": "string",
              "required": true,
              "description": "Task list identifier.",
              "location": "path"
            }
          },
          "response": {
            "$ref": "TaskList"
          },
          "scopes": [
            "https://www.googleapis.com/auth/tasks"
          ],
          "id": "tasks.tasklists.update",
          "path": "tasks/v1/users/@me/lists/{tasklist}",
          "request": {
            "$ref": "TaskList"
          }
        }
      }
    }
  },
  "version": "v1",
  "name": "tasks",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "parameters": {
    "uploadType": {
      "location": "query",
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "access_token": {
      "location": "query",
      "description": "OAuth access token.",
      "type": "string"
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "quotaUser": {
      "type": "string",
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "$.xgafv": {
      "location": "query",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format.",
      "type": "string",
      "enum": [
        "1",
        "2"
      ]
    },
    "prettyPrint": {
      "default": "true",
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean",
      "location": "query"
    },
    "alt": {
      "description": "Data format for response.",
      "type": "string",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "location": "query",
      "default": "json",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ]
    },
    "key": {
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string"
    },
    "upload_protocol": {
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string"
    }
  },
  "canonicalName": "Tasks",
  "rootUrl": "https://tasks.googleapis.com/",
  "description": "The Google Tasks API lets you manage your tasks and task lists.",
  "ownerDomain": "google.com",
  "title": "Google Tasks API",
  "kind": "discovery#restDescription",
  "servicePath": "",
  "schemas": {
    "TaskLists": {
      "id": "TaskLists",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "Token that can be used to request the next page of this result.",
          "type": "string"
        },
        "kind": {
          "description": "Type of the resource. This is always \"tasks#taskLists\".",
          "type": "string"
        },
        "etag": {
          "description": "ETag of the resource.",
          "type": "string"
        },
        "items": {
          "type": "array",
          "description": "Collection of task lists.",
          "items": {
            "$ref": "TaskList"
          }
        }
      }
    },
    "SpaceInfo": {
      "type": "object",
      "id": "SpaceInfo",
      "properties": {
        "space": {
          "readOnly": true,
          "description": "Output only. The Chat space where this task originates from. The format is \"spaces/{space}\".",
          "type": "string"
        }
      },
      "description": "Information about the Chat Space where a task was assigned from."
    },
    "AssignmentInfo": {
      "type": "object",
      "id": "AssignmentInfo",
      "description": "Information about the source of the task assignment (Document, Chat Space).",
      "properties": {
        "spaceInfo": {
          "$ref": "SpaceInfo",
          "description": "Output only. Information about the Chat Space where this task originates from. This field is read-only.",
          "readOnly": true
        },
        "surfaceType": {
          "enumDescriptions": [
            "Unknown value for this task's context.",
            "The task is created from Gmail.",
            "The task is assigned from a document.",
            "The task is assigned from a Chat Space."
          ],
          "type": "string",
          "enum": [
            "CONTEXT_TYPE_UNSPECIFIED",
            "GMAIL",
            "DOCUMENT",
            "SPACE"
          ],
          "readOnly": true,
          "description": "Output only. The type of surface this assigned task originates from. Currently limited to DOCUMENT or SPACE."
        },
        "linkToTask": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. An absolute link to the original task in the surface of assignment (Docs, Chat spaces, etc.)."
        },
        "driveResourceInfo": {
          "description": "Output only. Information about the Drive file where this task originates from. Currently, the Drive file can only be a document. This field is read-only.",
          "readOnly": true,
          "$ref": "DriveResourceInfo"
        }
      }
    },
    "Task": {
      "id": "Task",
      "type": "object",
      "properties": {
        "kind": {
          "readOnly": true,
          "description": "Output only. Type of the resource. This is always \"tasks#task\".",
          "type": "string"
        },
        "due": {
          "description": "Scheduled date for the task (as an RFC 3339 timestamp). Optional. This represents the day that the task should be done, or that the task is visible on the calendar grid. It doesn't represent the deadline of the task. Only date information is recorded; the time portion of the timestamp is discarded when setting this field. It isn't possible to read or write the time that a task is scheduled for using the API.",
          "type": "string"
        },
        "title": {
          "description": "Title of the task. Maximum length allowed: 1024 characters.",
          "type": "string"
        },
        "assignmentInfo": {
          "readOnly": true,
          "description": "Output only. Context information for assigned tasks. A task can be assigned to a user, currently possible from surfaces like Docs and Chat Spaces. This field is populated for tasks assigned to the current user and identifies where the task was assigned from. This field is read-only.",
          "$ref": "AssignmentInfo"
        },
        "notes": {
          "description": "Notes describing the task. Tasks assigned from Google Docs cannot have notes. Optional. Maximum length allowed: 8192 characters.",
          "type": "string"
        },
        "hidden": {
          "description": "Flag indicating whether the task is hidden. This is the case if the task had been marked completed when the task list was last cleared. The default is False. This field is read-only.",
          "type": "boolean"
        },
        "selfLink": {
          "readOnly": true,
          "description": "Output only. URL pointing to this task. Used to retrieve, update, or delete this task.",
          "type": "string"
        },
        "position": {
          "readOnly": true,
          "description": "Output only. String indicating the position of the task among its sibling tasks under the same parent task or at the top level. If this string is greater than another task's corresponding position string according to lexicographical ordering, the task is positioned after the other task under the same parent task (or at the top level). Use the \"move\" method to move the task to another position.",
          "type": "string"
        },
        "completed": {
          "description": "Completion date of the task (as a RFC 3339 timestamp). This field is omitted if the task has not been completed.",
          "type": "string"
        },
        "status": {
          "type": "string",
          "description": "Status of the task. This is either \"needsAction\" or \"completed\"."
        },
        "links": {
          "readOnly": true,
          "type": "array",
          "description": "Output only. Collection of links. This collection is read-only.",
          "items": {
            "type": "object",
            "properties": {
              "description": {
                "description": "The description (might be empty).",
                "type": "string"
              },
              "type": {
                "description": "Type of the link, e.g. \"email\", \"generic\", \"chat_message\", \"keep_note\".",
                "type": "string"
              },
              "link": {
                "type": "string",
                "description": "The URL."
              }
            }
          }
        },
        "webViewLink": {
          "description": "Output only. An absolute link to the task in the Google Tasks Web UI.",
          "readOnly": true,
          "type": "string"
        },
        "updated": {
          "description": "Output only. Last modification time of the task (as a RFC 3339 timestamp).",
          "readOnly": true,
          "type": "string"
        },
        "etag": {
          "type": "string",
          "description": "ETag of the resource."
        },
        "parent": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Parent task identifier. This field is omitted if it is a top-level task. Use the \"move\" method to move the task under a different parent or to the top level. A parent task can never be an assigned task (from Chat Spaces, Docs). This field is read-only."
        },
        "id": {
          "description": "Task identifier.",
          "type": "string"
        },
        "deleted": {
          "description": "Flag indicating whether the task has been deleted. For assigned tasks this field is read-only. They can only be deleted by calling tasks.delete, in which case both the assigned task and the original task (in Docs or Chat Spaces) are deleted. To delete the assigned task only, navigate to the assignment surface and unassign the task from there. The default is False.",
          "type": "boolean"
        }
      }
    },
    "TaskList": {
      "properties": {
        "title": {
          "type": "string",
          "description": "Title of the task list. Maximum length allowed: 1024 characters."
        },
        "updated": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Last modification time of the task list (as a RFC 3339 timestamp)."
        },
        "selfLink": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. URL pointing to this task list. Used to retrieve, update, or delete this task list."
        },
        "kind": {
          "readOnly": true,
          "description": "Output only. Type of the resource. This is always \"tasks#taskList\".",
          "type": "string"
        },
        "etag": {
          "type": "string",
          "description": "ETag of the resource."
        },
        "id": {
          "description": "Task list identifier.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "TaskList"
    },
    "DriveResourceInfo": {
      "type": "object",
      "id": "DriveResourceInfo",
      "properties": {
        "resourceKey": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Resource key required to access files shared via a shared link. Not required for all files. See also developers.google.com/drive/api/guides/resource-keys."
        },
        "driveFileId": {
          "description": "Output only. Identifier of the file in the Drive API.",
          "readOnly": true,
          "type": "string"
        }
      },
      "description": "Information about the Drive resource where a task was assigned from (the document, sheet, etc.)."
    },
    "Tasks": {
      "type": "object",
      "properties": {
        "items": {
          "type": "array",
          "description": "Collection of tasks.",
          "items": {
            "$ref": "Task"
          }
        },
        "kind": {
          "type": "string",
          "description": "Type of the resource. This is always \"tasks#tasks\"."
        },
        "etag": {
          "type": "string",
          "description": "ETag of the resource."
        },
        "nextPageToken": {
          "description": "Token used to access the next page of this result.",
          "type": "string"
        }
      },
      "id": "Tasks"
    }
  },
  "mtlsRootUrl": "https://tasks.mtls.googleapis.com/",
  "documentationLink": "https://developers.google.com/workspace/tasks/"
}