{
  "mtlsRootUrl": "https://testing.mtls.googleapis.com/",
  "basePath": "",
  "name": "testing",
  "fullyEncodeReservedExpansion": true,
  "id": "testing:v1",
  "documentationLink": "https://firebase.google.com/docs/test-lab/",
  "ownerName": "Google",
  "discoveryVersion": "v1",
  "baseUrl": "https://testing.googleapis.com/",
  "revision": "20260922",
  "servicePath": "",
  "rootUrl": "https://testing.googleapis.com/",
  "parameters": {
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query",
      "type": "string"
    },
    "callback": {
      "location": "query",
      "description": "JSONP",
      "type": "string"
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "alt": {
      "type": "string",
      "location": "query",
      "default": "json",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "description": "Data format for response."
    },
    "$.xgafv": {
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "location": "query",
      "type": "string"
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "location": "query",
      "type": "boolean"
    },
    "key": {
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string"
    },
    "access_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth access token."
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string",
      "location": "query"
    },
    "oauth_token": {
      "location": "query",
      "description": "OAuth 2.0 token for the current user.",
      "type": "string"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string",
      "location": "query"
    }
  },
  "ownerDomain": "google.com",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        },
        "https://www.googleapis.com/auth/cloud-platform.read-only": {
          "description": "View your data across Google Cloud services and see the email address of your Google Account"
        }
      }
    }
  },
  "schemas": {
    "ToolResultsExecution": {
      "properties": {
        "projectId": {
          "description": "Output only. The cloud project that owns the tool results execution.",
          "type": "string"
        },
        "historyId": {
          "description": "Output only. A tool results history ID.",
          "type": "string"
        },
        "executionId": {
          "type": "string",
          "description": "Output only. A tool results execution ID."
        }
      },
      "type": "object",
      "id": "ToolResultsExecution",
      "description": "Represents a tool results execution resource. This has the results of a TestMatrix."
    },
    "Apk": {
      "type": "object",
      "id": "Apk",
      "description": "An Android package file to install.",
      "properties": {
        "location": {
          "$ref": "FileReference",
          "description": "The path to an APK to be installed on the device before the test begins."
        },
        "packageName": {
          "description": "The java package for the APK to be installed. Value is determined by examining the application's manifest.",
          "type": "string"
        }
      }
    },
    "IntentFilter": {
      "description": "The section of an tag. https://developer.android.com/guide/topics/manifest/intent-filter-element.html",
      "id": "IntentFilter",
      "type": "object",
      "properties": {
        "actionNames": {
          "description": "The android:name value of the tag.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "categoryNames": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The android:name value of the tag."
        },
        "mimeType": {
          "type": "string",
          "description": "The android:mimeType value of the tag."
        }
      }
    },
    "RegularFile": {
      "id": "RegularFile",
      "type": "object",
      "properties": {
        "devicePath": {
          "type": "string",
          "description": "Required. Where to put the content on the device. Must be an absolute, allowlisted path. If the file exists, it will be replaced. The following device-side directories and any of their subdirectories are allowlisted: ${EXTERNAL_STORAGE}, /sdcard ${ANDROID_DATA}/local/tmp, or /data/local/tmp Specifying a path outside of these directory trees is invalid. The paths /sdcard and /data will be made available and treated as implicit path substitutions. E.g. if /sdcard on a particular device does not map to external storage, the system will replace it with the external storage path prefix for that device and copy the file there. It is strongly advised to use the Environment API in app and test code to access files on the device in a portable way."
        },
        "content": {
          "description": "Required. The source file.",
          "$ref": "FileReference"
        }
      },
      "description": "A file or directory to install on the device before the test starts."
    },
    "CancelTestMatrixResponse": {
      "properties": {
        "testState": {
          "enumDescriptions": [
            "Do not use. For proto versioning only.",
            "The execution or matrix is being validated.",
            "The execution or matrix is waiting for resources to become available.",
            "The execution is currently being processed. Can only be set on an execution.",
            "The execution or matrix has terminated normally. On a matrix this means that the matrix level processing completed normally, but individual executions may be in an ERROR state.",
            "The execution or matrix has stopped because it encountered an infrastructure failure.",
            "The execution was not run because it corresponds to a unsupported environment. Can only be set on an execution.",
            "The execution was not run because the provided inputs are incompatible with the requested environment. Example: requested AndroidVersion is lower than APK's minSdkVersion Can only be set on an execution.",
            "The execution was not run because the provided inputs are incompatible with the requested architecture. Example: requested device does not support running the native code in the supplied APK Can only be set on an execution.",
            "The user cancelled the execution. Can only be set on an execution.",
            "The execution or matrix was not run because the provided inputs are not valid. Examples: input file is not of the expected type, is malformed/corrupt, or was flagged as malware"
          ],
          "enum": [
            "TEST_STATE_UNSPECIFIED",
            "VALIDATING",
            "PENDING",
            "RUNNING",
            "FINISHED",
            "ERROR",
            "UNSUPPORTED_ENVIRONMENT",
            "INCOMPATIBLE_ENVIRONMENT",
            "INCOMPATIBLE_ARCHITECTURE",
            "CANCELLED",
            "INVALID"
          ],
          "description": "The current rolled-up state of the test matrix. If this state is already final, then the cancelation request will have no effect.",
          "type": "string"
        }
      },
      "id": "CancelTestMatrixResponse",
      "type": "object",
      "description": "Response containing the current state of the specified test matrix."
    },
    "ShardingOption": {
      "description": "Options for enabling sharding.",
      "id": "ShardingOption",
      "type": "object",
      "properties": {
        "uniformSharding": {
          "$ref": "UniformSharding",
          "description": "Uniformly shards test cases given a total number of shards."
        },
        "manualSharding": {
          "$ref": "ManualSharding",
          "description": "Shards test cases into the specified groups of packages, classes, and/or methods."
        },
        "smartSharding": {
          "$ref": "SmartSharding",
          "description": "Shards test based on previous test case timing records."
        }
      }
    },
    "ObbFile": {
      "description": "An opaque binary blob file to install on the device before the test starts.",
      "id": "ObbFile",
      "type": "object",
      "properties": {
        "obbFileName": {
          "type": "string",
          "description": "Required. OBB file name which must conform to the format as specified by Android e.g. [main|patch].0300110.com.example.android.obb which will be installed into \\/Android/obb/\\/ on the device."
        },
        "obb": {
          "description": "Required. Opaque Binary Blob (OBB) file(s) to install on the device.",
          "$ref": "FileReference"
        }
      }
    },
    "Distribution": {
      "id": "Distribution",
      "properties": {
        "measurementTime": {
          "description": "Output only. The time this distribution was measured.",
          "type": "string",
          "format": "google-datetime"
        },
        "marketShare": {
          "type": "number",
          "format": "double",
          "description": "Output only. The estimated fraction (0-1) of the total market with this configuration."
        }
      },
      "type": "object",
      "description": "Data about the relative number of devices running a given configuration of the Android platform."
    },
    "XcodeVersion": {
      "type": "object",
      "properties": {
        "version": {
          "description": "The id for this version. Example: \"9.2\".",
          "type": "string"
        },
        "tags": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Tags for this Xcode version. Example: \"default\"."
        }
      },
      "id": "XcodeVersion",
      "description": "An Xcode version that an iOS version is compatible with."
    },
    "ManualSharding": {
      "id": "ManualSharding",
      "properties": {
        "testTargetsForShard": {
          "items": {
            "$ref": "TestTargetsForShard"
          },
          "description": "Required. Group of packages, classes, and/or test methods to be run for each manually-created shard. You must specify at least one shard if this field is present. When you select one or more physical devices, the number of repeated test_targets_for_shard must be <= 50. When you select one or more ARM virtual devices, it must be <= 200. When you select only x86 virtual devices, it must be <= 500.",
          "type": "array"
        }
      },
      "description": "Shards test cases into the specified groups of packages, classes, and/or methods. With manual sharding enabled, specifying test targets via environment_variables or in InstrumentationTest is invalid.",
      "type": "object"
    },
    "UsesFeature": {
      "properties": {
        "isRequired": {
          "description": "The android:required value",
          "type": "boolean"
        },
        "name": {
          "type": "string",
          "description": "The android:name value"
        }
      },
      "type": "object",
      "id": "UsesFeature",
      "description": "A tag within a manifest. https://developer.android.com/guide/topics/manifest/uses-feature-element.html"
    },
    "ResultStorage": {
      "properties": {
        "resultsUrl": {
          "type": "string",
          "description": "Output only. URL to the results in the Firebase Web Console."
        },
        "googleCloudStorage": {
          "description": "Required.",
          "$ref": "GoogleCloudStorage"
        },
        "toolResultsExecution": {
          "description": "Output only. The tool results execution that results are written to.",
          "$ref": "ToolResultsExecution"
        },
        "toolResultsHistory": {
          "description": "The tool results history that contains the tool results execution that results are written to. If not provided, the service will choose an appropriate value.",
          "$ref": "ToolResultsHistory"
        }
      },
      "id": "ResultStorage",
      "description": "Locations where the results of running the test are stored.",
      "type": "object"
    },
    "IosTestSetup": {
      "id": "IosTestSetup",
      "description": "A description of how to set up an iOS device prior to running the test.",
      "properties": {
        "networkProfile": {
          "description": "The network traffic profile used for running the test. Available network profiles can be queried by using the NETWORK_CONFIGURATION environment type when calling TestEnvironmentDiscoveryService.GetTestEnvironmentCatalog.",
          "type": "string"
        },
        "pullDirectories": {
          "type": "array",
          "description": "List of directories on the device to upload to Cloud Storage at the end of the test. Directories should either be in a shared directory (such as /private/var/mobile/Media) or within an accessible directory inside the app's filesystem (such as /Documents) by specifying the bundle ID.",
          "items": {
            "$ref": "IosDeviceFile"
          }
        },
        "pushFiles": {
          "description": "List of files to push to the device before starting the test.",
          "type": "array",
          "items": {
            "$ref": "IosDeviceFile"
          }
        },
        "additionalIpas": {
          "description": "iOS apps to install in addition to those being directly tested.",
          "items": {
            "$ref": "FileReference"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "EnvironmentVariable": {
      "id": "EnvironmentVariable",
      "properties": {
        "value": {
          "type": "string",
          "description": "Value for the environment variable."
        },
        "key": {
          "type": "string",
          "description": "Key for the environment variable."
        }
      },
      "description": "A key-value pair passed as an environment variable to the test.",
      "type": "object"
    },
    "TestTargetsForShard": {
      "properties": {
        "testTargets": {
          "type": "array",
          "description": "Group of packages, classes, and/or test methods to be run for each shard. The targets need to be specified in AndroidJUnitRunner argument format. For example, \"package com.my.packages\" \"class com.my.package.MyClass\". The number of test_targets must be greater than 0.",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "Test targets for a shard.",
      "type": "object",
      "id": "TestTargetsForShard"
    },
    "NetworkConfigurationCatalog": {
      "properties": {
        "configurations": {
          "items": {
            "$ref": "NetworkConfiguration"
          },
          "type": "array"
        }
      },
      "type": "object",
      "id": "NetworkConfigurationCatalog"
    },
    "AndroidRoboTest": {
      "description": "A test of an android application that explores the application on a virtual or physical Android Device, finding culprits and crashes as it goes.",
      "id": "AndroidRoboTest",
      "properties": {
        "maxDepth": {
          "deprecated": true,
          "type": "integer",
          "description": "The max depth of the traversal stack Robo can explore. Needs to be at least 2 to make Robo explore the app beyond the first activity. Default is 50.",
          "format": "int32"
        },
        "roboMode": {
          "description": "The mode in which Robo should run. Most clients should allow the server to populate this field automatically.",
          "type": "string",
          "enum": [
            "ROBO_MODE_UNSPECIFIED",
            "ROBO_VERSION_1",
            "ROBO_VERSION_2"
          ],
          "enumDeprecated": [
            false,
            false,
            true
          ],
          "enumDescriptions": [
            "This means that the server should choose the mode. Recommended.",
            "Runs Robo in UIAutomator-only mode without app resigning",
            "Deprecated: Use ROBO_VERSION_1 instead for all use cases. Runs Robo in standard Espresso with UIAutomator fallback"
          ]
        },
        "roboScript": {
          "$ref": "FileReference",
          "description": "A JSON file with a sequence of actions Robo should perform as a prologue for the crawl."
        },
        "maxSteps": {
          "deprecated": true,
          "type": "integer",
          "description": "The max number of steps Robo can execute. Default is no limit.",
          "format": "int32"
        },
        "appApk": {
          "$ref": "FileReference",
          "description": "The APK for the application under test."
        },
        "startingIntents": {
          "items": {
            "$ref": "RoboStartingIntent"
          },
          "type": "array",
          "description": "The intents used to launch the app for the crawl. If none are provided, then the main launcher activity is launched. If some are provided, then only those provided are launched (the main launcher activity must be provided explicitly)."
        },
        "appPackageId": {
          "type": "string",
          "description": "The java package for the application under test. The default value is determined by examining the application's manifest."
        },
        "roboDirectives": {
          "items": {
            "$ref": "RoboDirective"
          },
          "description": "A set of directives Robo should apply during the crawl. This allows users to customize the crawl. For example, the username and password for a test account can be provided.",
          "type": "array"
        },
        "appInitialActivity": {
          "type": "string",
          "description": "The initial activity that should be used to start the app."
        },
        "appBundle": {
          "description": "A multi-apk app bundle for the application under test.",
          "$ref": "AppBundle"
        }
      },
      "type": "object"
    },
    "ToolResultsHistory": {
      "type": "object",
      "properties": {
        "projectId": {
          "description": "Required. The cloud project that owns the tool results history.",
          "type": "string"
        },
        "historyId": {
          "description": "Required. A tool results history ID.",
          "type": "string"
        }
      },
      "description": "Represents a tool results history resource.",
      "id": "ToolResultsHistory"
    },
    "NoActivityIntent": {
      "id": "NoActivityIntent",
      "properties": {},
      "type": "object",
      "description": "Skips the starting activity"
    },
    "Shard": {
      "properties": {
        "shardIndex": {
          "format": "int32",
          "readOnly": true,
          "type": "integer",
          "description": "Output only. The index of the shard among all the shards."
        },
        "estimatedShardDuration": {
          "description": "Output only. The estimated shard duration based on previous test case timing records, if available.",
          "format": "google-duration",
          "readOnly": true,
          "type": "string"
        },
        "numShards": {
          "type": "integer",
          "description": "Output only. The total number of shards.",
          "readOnly": true,
          "format": "int32"
        },
        "testTargetsForShard": {
          "$ref": "TestTargetsForShard",
          "description": "Output only. Test targets for each shard. Only set for manual sharding.",
          "readOnly": true
        }
      },
      "description": "Output only. Details about the shard.",
      "id": "Shard",
      "type": "object"
    },
    "AndroidMatrix": {
      "properties": {
        "androidVersionIds": {
          "items": {
            "type": "string"
          },
          "description": "Required. The ids of the set of Android OS version to be used. Use the TestEnvironmentDiscoveryService to get supported options.",
          "type": "array"
        },
        "orientations": {
          "type": "array",
          "description": "Required. The set of orientations to test with. Use the TestEnvironmentDiscoveryService to get supported options.",
          "items": {
            "type": "string"
          }
        },
        "androidModelIds": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Required. The ids of the set of Android device to be used. Use the TestEnvironmentDiscoveryService to get supported options."
        },
        "locales": {
          "type": "array",
          "description": "Required. The set of locales the test device will enable for testing. Use the TestEnvironmentDiscoveryService to get supported options.",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object",
      "id": "AndroidMatrix",
      "description": "A set of Android device configuration permutations is defined by the the cross-product of the given axes. Internally, the given AndroidMatrix will be expanded into a set of AndroidDevices. Only supported permutations will be instantiated. Invalid permutations (e.g., incompatible models/versions) are ignored."
    },
    "AndroidInstrumentationTest": {
      "id": "AndroidInstrumentationTest",
      "type": "object",
      "description": "A test of an Android application that can control an Android component independently of its normal lifecycle. Android instrumentation tests run an application APK and test APK inside the same process on a virtual or physical AndroidDevice. They also specify a test runner class, such as com.google.GoogleTestRunner, which can vary on the specific instrumentation framework chosen. See for more information on types of Android tests.",
      "properties": {
        "testApk": {
          "description": "Required. The APK containing the test code to be executed.",
          "$ref": "FileReference"
        },
        "testTargets": {
          "description": "Each target must be fully qualified with the package name or class name, in one of these formats: - \"package package_name\" - \"class package_name.class_name\" - \"class package_name.class_name#method_name\" If empty, all targets in the module will be run.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "appApk": {
          "description": "The APK for the application under test.",
          "$ref": "FileReference"
        },
        "testPackageId": {
          "description": "The java package for the test to be executed. The default value is determined by examining the application's manifest.",
          "type": "string"
        },
        "orchestratorOption": {
          "enum": [
            "ORCHESTRATOR_OPTION_UNSPECIFIED",
            "USE_ORCHESTRATOR",
            "DO_NOT_USE_ORCHESTRATOR"
          ],
          "enumDescriptions": [
            "Default value: the server will choose the mode. Currently implies that the test will run without the orchestrator. In the future, all instrumentation tests will be run with the orchestrator. Using the orchestrator is highly encouraged because of all the benefits it offers.",
            "Run test using orchestrator. ** Only compatible with AndroidJUnitRunner version 1.1 or higher! ** Recommended.",
            "Run test without using orchestrator."
          ],
          "description": "The option of whether running each test within its own invocation of instrumentation with Android Test Orchestrator or not. ** Orchestrator is only compatible with AndroidJUnitRunner version 1.1 or higher! ** Orchestrator offers the following benefits: - No shared state - Crashes are isolated - Logs are scoped per test See for more information about Android Test Orchestrator. If not set, the test will be run without the orchestrator.",
          "type": "string"
        },
        "appBundle": {
          "$ref": "AppBundle",
          "description": "A multi-apk app bundle for the application under test."
        },
        "shardingOption": {
          "$ref": "ShardingOption",
          "description": "The option to run tests in multiple shards in parallel."
        },
        "appPackageId": {
          "description": "The java package for the application under test. The default value is determined by examining the application's manifest.",
          "type": "string"
        },
        "testRunnerClass": {
          "description": "The InstrumentationTestRunner class. The default value is determined by examining the application's manifest.",
          "type": "string"
        }
      }
    },
    "Service": {
      "description": "The section of an tag. https://developer.android.com/guide/topics/manifest/service-element",
      "id": "Service",
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "The android:name value"
        },
        "intentFilter": {
          "items": {
            "$ref": "IntentFilter"
          },
          "description": "Intent filters in the service",
          "type": "array"
        }
      }
    },
    "IosModel": {
      "properties": {
        "name": {
          "description": "The human-readable name for this device model. Examples: \"iPhone 4s\", \"iPad Mini 2\".",
          "type": "string"
        },
        "deviceCapabilities": {
          "type": "array",
          "description": "Device capabilities. Copied from https://developer.apple.com/library/archive/documentation/DeviceInformation/Reference/iOSDeviceCompatibility/DeviceCompatibilityMatrix/DeviceCompatibilityMatrix.html",
          "items": {
            "type": "string"
          }
        },
        "id": {
          "description": "The unique opaque id for this model. Use this for invoking the TestExecutionService.",
          "type": "string"
        },
        "perVersionInfo": {
          "description": "Version-specific information of an iOS model.",
          "type": "array",
          "items": {
            "$ref": "PerIosVersionInfo"
          }
        },
        "screenDensity": {
          "description": "Screen density in DPI.",
          "type": "integer",
          "format": "int32"
        },
        "supportedVersionIds": {
          "items": {
            "type": "string"
          },
          "description": "The set of iOS major software versions this device supports.",
          "type": "array"
        },
        "screenX": {
          "format": "int32",
          "type": "integer",
          "description": "Screen size in the horizontal (X) dimension measured in pixels."
        },
        "tags": {
          "items": {
            "type": "string"
          },
          "description": "Tags for this dimension. Examples: \"default\", \"preview\", \"deprecated\".",
          "type": "array"
        },
        "screenY": {
          "format": "int32",
          "description": "Screen size in the vertical (Y) dimension measured in pixels.",
          "type": "integer"
        },
        "formFactor": {
          "description": "Whether this device is a phone, tablet, wearable, etc.",
          "type": "string",
          "enum": [
            "DEVICE_FORM_FACTOR_UNSPECIFIED",
            "PHONE",
            "TABLET",
            "WEARABLE",
            "TV",
            "AUTOMOTIVE",
            "DESKTOP",
            "XR"
          ],
          "enumDescriptions": [
            "Do not use. For proto versioning only.",
            "This device has the shape of a phone.",
            "This device has the shape of a tablet.",
            "This device has the shape of a watch or other wearable.",
            "This device has a television form factor.",
            "This device has an automotive form factor.",
            "This device has a desktop form factor.",
            "This device has an Extended Reality form factor."
          ]
        }
      },
      "type": "object",
      "id": "IosModel",
      "description": "A description of an iOS device tests may be run on."
    },
    "AndroidDevice": {
      "type": "object",
      "properties": {
        "androidVersionId": {
          "type": "string",
          "description": "Required. The id of the Android OS version to be used. Use the TestEnvironmentDiscoveryService to get supported options."
        },
        "orientation": {
          "description": "Required. How the device is oriented during the test. Use the TestEnvironmentDiscoveryService to get supported options.",
          "type": "string"
        },
        "androidModelId": {
          "type": "string",
          "description": "Required. The id of the Android device to be used. Use the TestEnvironmentDiscoveryService to get supported options."
        },
        "locale": {
          "description": "Required. The locale the test device used for testing. Use the TestEnvironmentDiscoveryService to get supported options.",
          "type": "string"
        }
      },
      "description": "A single Android device.",
      "id": "AndroidDevice"
    },
    "NetworkConfiguration": {
      "properties": {
        "downRule": {
          "$ref": "TrafficRule",
          "description": "The emulation rule applying to the download traffic."
        },
        "upRule": {
          "$ref": "TrafficRule",
          "description": "The emulation rule applying to the upload traffic."
        },
        "id": {
          "type": "string",
          "description": "The unique opaque id for this network traffic configuration."
        }
      },
      "id": "NetworkConfiguration",
      "type": "object"
    },
    "Locale": {
      "type": "object",
      "properties": {
        "tags": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Tags for this dimension. Example: \"default\"."
        },
        "name": {
          "description": "A human-friendly name for this language/locale. Example: \"English\".",
          "type": "string"
        },
        "id": {
          "description": "The id for this locale. Example: \"en_US\".",
          "type": "string"
        },
        "region": {
          "description": "A human-friendly string representing the region for this locale. Example: \"United States\". Not present for every locale.",
          "type": "string"
        }
      },
      "description": "A location/region designation for language.",
      "id": "Locale"
    },
    "AndroidDeviceCatalog": {
      "properties": {
        "versions": {
          "type": "array",
          "description": "The set of supported Android OS versions.",
          "items": {
            "$ref": "AndroidVersion"
          }
        },
        "models": {
          "type": "array",
          "description": "The set of supported Android device models.",
          "items": {
            "$ref": "AndroidModel"
          }
        },
        "runtimeConfiguration": {
          "description": "The set of supported runtime configurations.",
          "$ref": "AndroidRuntimeConfiguration"
        }
      },
      "description": "The currently supported Android devices.",
      "type": "object",
      "id": "AndroidDeviceCatalog"
    },
    "GetApkDetailsResponse": {
      "properties": {
        "apkDetail": {
          "description": "Details of the Android App.",
          "$ref": "ApkDetail"
        }
      },
      "type": "object",
      "description": "Response containing the details of the specified Android application.",
      "id": "GetApkDetailsResponse"
    },
    "TestMatrix": {
      "properties": {
        "clientInfo": {
          "description": "Information about the client which invoked the test.",
          "$ref": "ClientInfo"
        },
        "state": {
          "description": "Output only. Indicates the current progress of the test matrix.",
          "enum": [
            "TEST_STATE_UNSPECIFIED",
            "VALIDATING",
            "PENDING",
            "RUNNING",
            "FINISHED",
            "ERROR",
            "UNSUPPORTED_ENVIRONMENT",
            "INCOMPATIBLE_ENVIRONMENT",
            "INCOMPATIBLE_ARCHITECTURE",
            "CANCELLED",
            "INVALID"
          ],
          "type": "string",
          "enumDescriptions": [
            "Do not use. For proto versioning only.",
            "The execution or matrix is being validated.",
            "The execution or matrix is waiting for resources to become available.",
            "The execution is currently being processed. Can only be set on an execution.",
            "The execution or matrix has terminated normally. On a matrix this means that the matrix level processing completed normally, but individual executions may be in an ERROR state.",
            "The execution or matrix has stopped because it encountered an infrastructure failure.",
            "The execution was not run because it corresponds to a unsupported environment. Can only be set on an execution.",
            "The execution was not run because the provided inputs are incompatible with the requested environment. Example: requested AndroidVersion is lower than APK's minSdkVersion Can only be set on an execution.",
            "The execution was not run because the provided inputs are incompatible with the requested architecture. Example: requested device does not support running the native code in the supplied APK Can only be set on an execution.",
            "The user cancelled the execution. Can only be set on an execution.",
            "The execution or matrix was not run because the provided inputs are not valid. Examples: input file is not of the expected type, is malformed/corrupt, or was flagged as malware"
          ]
        },
        "environmentMatrix": {
          "description": "Required. The devices the tests are being executed on.",
          "$ref": "EnvironmentMatrix"
        },
        "invalidMatrixDetails": {
          "enum": [
            "INVALID_MATRIX_DETAILS_UNSPECIFIED",
            "DETAILS_UNAVAILABLE",
            "MALFORMED_APK",
            "MALFORMED_TEST_APK",
            "NO_MANIFEST",
            "NO_PACKAGE_NAME",
            "INVALID_PACKAGE_NAME",
            "TEST_SAME_AS_APP",
            "NO_INSTRUMENTATION",
            "NO_SIGNATURE",
            "INSTRUMENTATION_ORCHESTRATOR_INCOMPATIBLE",
            "NO_TEST_RUNNER_CLASS",
            "NO_LAUNCHER_ACTIVITY",
            "FORBIDDEN_PERMISSIONS",
            "INVALID_ROBO_DIRECTIVES",
            "INVALID_RESOURCE_NAME",
            "INVALID_DIRECTIVE_ACTION",
            "TEST_LOOP_INTENT_FILTER_NOT_FOUND",
            "SCENARIO_LABEL_NOT_DECLARED",
            "SCENARIO_LABEL_MALFORMED",
            "SCENARIO_NOT_DECLARED",
            "DEVICE_ADMIN_RECEIVER",
            "MALFORMED_XC_TEST_ZIP",
            "BUILT_FOR_IOS_SIMULATOR",
            "NO_TESTS_IN_XC_TEST_ZIP",
            "USE_DESTINATION_ARTIFACTS",
            "TEST_NOT_APP_HOSTED",
            "PLIST_CANNOT_BE_PARSED",
            "TEST_ONLY_APK",
            "MALFORMED_IPA",
            "MISSING_URL_SCHEME",
            "MALFORMED_APP_BUNDLE",
            "NO_CODE_APK",
            "INVALID_INPUT_APK",
            "INVALID_APK_PREVIEW_SDK",
            "MATRIX_TOO_LARGE",
            "TEST_QUOTA_EXCEEDED",
            "SERVICE_NOT_ACTIVATED",
            "UNKNOWN_PERMISSION_ERROR"
          ],
          "enumDescriptions": [
            "Do not use. For proto versioning only.",
            "The matrix is INVALID, but there are no further details available.",
            "The input app APK could not be parsed.",
            "The input test APK could not be parsed.",
            "The AndroidManifest.xml could not be found.",
            "The APK manifest does not declare a package name.",
            "The APK application ID (aka package name) is invalid. See also https://developer.android.com/studio/build/application-id",
            "The test package and app package are the same.",
            "The test apk does not declare an instrumentation.",
            "The input app apk does not have a signature.",
            "The test runner class specified by user or in the test APK's manifest file is not compatible with Android Test Orchestrator. Orchestrator is only compatible with AndroidJUnitRunner version 1.1 or higher. Orchestrator can be disabled by using DO_NOT_USE_ORCHESTRATOR OrchestratorOption.",
            "The test APK does not contain the test runner class specified by the user or in the manifest file. This can be caused by one of the following reasons: - the user provided a runner class name that's incorrect, or - the test runner isn't built into the test APK (might be in the app APK instead).",
            "A main launcher activity could not be found.",
            "The app declares one or more permissions that are not allowed.",
            "There is a conflict in the provided robo_directives.",
            "There is at least one invalid resource name in the provided robo directives",
            "Invalid definition of action in the robo directives (e.g. a click or ignore action includes an input text field)",
            "There is no test loop intent filter, or the one that is given is not formatted correctly.",
            "The request contains a scenario label that was not declared in the manifest.",
            "There was an error when parsing a label's value.",
            "The request contains a scenario number that was not declared in the manifest.",
            "Device administrator applications are not allowed.",
            "The zipped XCTest was malformed. The zip did not contain a single .xctestrun file and the contents of the DerivedData/Build/Products directory.",
            "The zipped XCTest was built for the iOS simulator rather than for a physical device.",
            "The .xctestrun file did not specify any test targets.",
            "One or more of the test targets defined in the .xctestrun file specifies \"UseDestinationArtifacts\", which is disallowed.",
            "XC tests which run on physical devices must have \"IsAppHostedTestBundle\" == \"true\" in the xctestrun file.",
            "An Info.plist file in the XCTest zip could not be parsed.",
            "The APK is marked as \"testOnly\". Deprecated and not currently used.",
            "The input IPA could not be parsed.",
            "The application doesn't register the game loop URL scheme.",
            "The iOS application bundle (.app) couldn't be processed.",
            "APK contains no code. See also https://developer.android.com/guide/topics/manifest/application-element.html#code",
            "Either the provided input APK path was malformed, the APK file does not exist, or the user does not have permission to access the APK file.",
            "APK is built for a preview SDK which is unsupported",
            "The matrix expanded to contain too many executions.",
            "Not enough test quota to run the executions in this matrix.",
            "A required cloud service api is not activated. See: https://firebase.google.com/docs/test-lab/android/continuous#requirements",
            "There was an unknown permission issue running this test."
          ],
          "enumDeprecated": [
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            true,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false
          ],
          "type": "string",
          "description": "Output only. Describes why the matrix is considered invalid. Only useful for matrices in the INVALID state."
        },
        "testMatrixId": {
          "description": "Output only. Unique id set by the service.",
          "type": "string"
        },
        "failFast": {
          "description": "If true, only a single attempt at most will be made to run each execution/shard in the matrix. Flaky test attempts are not affected. Normally, 2 or more attempts are made if a potential infrastructure issue is detected. This feature is for latency sensitive workloads. The incidence of execution failures may be significantly greater for fail-fast matrices and support is more limited because of that expectation.",
          "type": "boolean"
        },
        "testSpecification": {
          "description": "Required. How to run the test.",
          "$ref": "TestSpecification"
        },
        "extendedInvalidMatrixDetails": {
          "items": {
            "$ref": "MatrixErrorDetail"
          },
          "description": "Output only. Details about why a matrix was deemed invalid. If multiple checks can be safely performed, they will be reported but no assumptions should be made about the length of this list.",
          "type": "array",
          "readOnly": true
        },
        "testExecutions": {
          "type": "array",
          "description": "Output only. The list of test executions that the service creates for this matrix.",
          "items": {
            "$ref": "TestExecution"
          }
        },
        "timestamp": {
          "type": "string",
          "description": "Output only. The time this test matrix was initially created.",
          "format": "google-datetime"
        },
        "outcomeSummary": {
          "enum": [
            "OUTCOME_SUMMARY_UNSPECIFIED",
            "SUCCESS",
            "FAILURE",
            "INCONCLUSIVE",
            "SKIPPED"
          ],
          "description": "Output Only. The overall outcome of the test. Only set when the test matrix state is FINISHED.",
          "type": "string",
          "enumDescriptions": [
            "Do not use. For proto versioning only.",
            "The test matrix run was successful, for instance: - All the test cases passed. - Robo did not detect a crash of the application under test.",
            "A run failed, for instance: - One or more test cases failed. - A test timed out. - The application under test crashed.",
            "Something unexpected happened. The run should still be considered unsuccessful but this is likely a transient problem and re-running the test might be successful.",
            "All tests were skipped, for instance: - All device configurations were incompatible."
          ]
        },
        "flakyTestAttempts": {
          "type": "integer",
          "format": "int32",
          "description": "The number of times a TestExecution should be re-attempted if one or more of its test cases fail for any reason. The maximum number of reruns allowed is 10. Default is 0, which implies no reruns."
        },
        "resultStorage": {
          "$ref": "ResultStorage",
          "description": "Required. Where the results for the matrix are written."
        },
        "projectId": {
          "description": "The cloud project that owns the test matrix.",
          "type": "string"
        }
      },
      "description": "TestMatrix captures all details about a test. It contains the environment configuration, test specification, test executions and overall state and outcome.",
      "type": "object",
      "id": "TestMatrix"
    },
    "ApkDetail": {
      "properties": {
        "apkManifest": {
          "$ref": "ApkManifest"
        }
      },
      "type": "object",
      "id": "ApkDetail",
      "description": "Android application details based on application manifest and archive contents."
    },
    "DeviceIpBlockCatalog": {
      "id": "DeviceIpBlockCatalog",
      "properties": {
        "ipBlocks": {
          "type": "array",
          "items": {
            "$ref": "DeviceIpBlock"
          },
          "description": "The device IP blocks used by Firebase Test Lab"
        }
      },
      "description": "List of IP blocks used by the Firebase Test Lab",
      "type": "object"
    },
    "TestDetails": {
      "id": "TestDetails",
      "description": "Additional details about the progress of the running test.",
      "type": "object",
      "properties": {
        "progressMessages": {
          "items": {
            "type": "string"
          },
          "description": "Output only. Human-readable, detailed descriptions of the test's progress. For example: \"Provisioning a device\", \"Starting Test\". During the course of execution new data may be appended to the end of progress_messages.",
          "type": "array"
        },
        "errorMessage": {
          "description": "Output only. If the TestState is ERROR, then this string will contain human-readable details about the error.",
          "type": "string"
        }
      }
    },
    "GoogleAuto": {
      "properties": {},
      "id": "GoogleAuto",
      "type": "object",
      "description": "Enables automatic Google account login. If set, the service automatically generates a Google test account and adds it to the device, before executing the test. Note that test accounts might be reused. Many applications show their full set of functionalities when an account is present on the device. Logging into the device with these generated accounts allows testing more functionalities."
    },
    "AppBundle": {
      "type": "object",
      "properties": {
        "bundleLocation": {
          "description": ".aab file representing the app bundle under test.",
          "$ref": "FileReference"
        },
        "apks": {
          "description": ".apk files generated by bundletool to install as a single android app.",
          "$ref": "ApkSplits"
        }
      },
      "description": "An Android App Bundle file format, containing a BundleConfig.pb file, a base module directory, zero or more dynamic feature module directories. See https://developer.android.com/guide/app-bundle/build for guidance on building App Bundles.",
      "id": "AppBundle"
    },
    "Date": {
      "description": "Represents a whole or partial calendar date, such as a birthday. The time of day and time zone are either specified elsewhere or are insignificant. The date is relative to the Gregorian Calendar. This can represent one of the following: * A full date, with non-zero year, month, and day values. * A month and day, with a zero year (for example, an anniversary). * A year on its own, with a zero month and a zero day. * A year and month, with a zero day (for example, a credit card expiration date). Related types: * google.type.TimeOfDay * google.type.DateTime * google.protobuf.Timestamp",
      "id": "Date",
      "type": "object",
      "properties": {
        "day": {
          "format": "int32",
          "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant.",
          "type": "integer"
        },
        "month": {
          "format": "int32",
          "type": "integer",
          "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day."
        },
        "year": {
          "type": "integer",
          "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year.",
          "format": "int32"
        }
      }
    },
    "IosTestLoop": {
      "id": "IosTestLoop",
      "description": "A test of an iOS application that implements one or more game loop scenarios. This test type accepts an archived application (.ipa file) and a list of integer scenarios that will be executed on the app sequentially.",
      "type": "object",
      "properties": {
        "appIpa": {
          "$ref": "FileReference",
          "description": "Required. The .ipa of the application to test."
        },
        "appBundleId": {
          "type": "string",
          "description": "Output only. The bundle id for the application under test."
        },
        "scenarios": {
          "type": "array",
          "items": {
            "type": "integer",
            "format": "int32"
          },
          "description": "The list of scenarios that should be run during the test. Defaults to the single scenario 0 if unspecified."
        }
      }
    },
    "AndroidRuntimeConfiguration": {
      "type": "object",
      "id": "AndroidRuntimeConfiguration",
      "properties": {
        "orientations": {
          "description": "The set of available orientations.",
          "items": {
            "$ref": "Orientation"
          },
          "type": "array"
        },
        "locales": {
          "items": {
            "$ref": "Locale"
          },
          "description": "The set of available locales.",
          "type": "array"
        }
      },
      "description": "Android configuration that can be selected at the time a test is run."
    },
    "IosDeviceList": {
      "id": "IosDeviceList",
      "type": "object",
      "description": "A list of iOS device configurations in which the test is to be executed.",
      "properties": {
        "iosDevices": {
          "description": "Required. A list of iOS devices.",
          "type": "array",
          "items": {
            "$ref": "IosDevice"
          }
        }
      }
    },
    "IosXcTest": {
      "properties": {
        "appBundleId": {
          "description": "Output only. The bundle id for the application under test.",
          "type": "string"
        },
        "xctestrun": {
          "description": "An .xctestrun file that will override the .xctestrun file in the tests zip. Because the .xctestrun file contains environment variables along with test methods to run and/or ignore, this can be useful for sharding tests. Default is taken from the tests zip.",
          "$ref": "FileReference"
        },
        "testSpecialEntitlements": {
          "type": "boolean",
          "description": "The option to test special app entitlements. Setting this would re-sign the app having special entitlements with an explicit application-identifier. Currently supports testing aps-environment entitlement."
        },
        "testsZip": {
          "description": "Required. The .zip containing the .xctestrun file and the contents of the DerivedData/Build/Products directory. The .xctestrun file in this zip is ignored if the xctestrun field is specified.",
          "$ref": "FileReference"
        },
        "xcodeVersion": {
          "description": "The Xcode version that should be used for the test. Use the TestEnvironmentDiscoveryService to get supported options. Defaults to the latest Xcode version Firebase Test Lab supports.",
          "type": "string"
        }
      },
      "id": "IosXcTest",
      "type": "object",
      "description": "A test of an iOS application that uses the XCTest framework. Xcode supports the option to \"build for testing\", which generates an .xctestrun file that contains a test specification (arguments, test methods, etc). This test type accepts a zip file containing the .xctestrun file and the corresponding contents of the Build/Products directory that contains all the binaries needed to run the tests."
    },
    "Orientation": {
      "id": "Orientation",
      "description": "Screen orientation of the device.",
      "properties": {
        "name": {
          "description": "A human-friendly name for this orientation. Example: \"portrait\".",
          "type": "string"
        },
        "id": {
          "description": "The id for this orientation. Example: \"portrait\".",
          "type": "string"
        },
        "tags": {
          "description": "Tags for this dimension. Example: \"default\".",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object"
    },
    "IosDeviceCatalog": {
      "description": "The currently supported iOS devices.",
      "id": "IosDeviceCatalog",
      "properties": {
        "models": {
          "description": "The set of supported iOS device models.",
          "items": {
            "$ref": "IosModel"
          },
          "type": "array"
        },
        "runtimeConfiguration": {
          "$ref": "IosRuntimeConfiguration",
          "description": "The set of supported runtime configurations."
        },
        "versions": {
          "description": "The set of supported iOS software versions.",
          "items": {
            "$ref": "IosVersion"
          },
          "type": "array"
        },
        "xcodeVersions": {
          "items": {
            "$ref": "XcodeVersion"
          },
          "type": "array",
          "description": "The set of supported Xcode versions."
        }
      },
      "type": "object"
    },
    "ProvidedSoftwareCatalog": {
      "id": "ProvidedSoftwareCatalog",
      "description": "The currently provided software environment on the devices under test.",
      "properties": {
        "orchestratorVersion": {
          "type": "string",
          "deprecated": true,
          "description": "Deprecated: Use AndroidX Test Orchestrator going forward. A string representing the current version of Android Test Orchestrator that is used in the environment. The package is available at https://maven.google.com/web/index.html#com.android.support.test:orchestrator."
        },
        "androidxOrchestratorVersion": {
          "description": "A string representing the current version of AndroidX Test Orchestrator that is used in the environment. The package is available at https://maven.google.com/web/index.html#androidx.test:orchestrator.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "ClientInfo": {
      "description": "Information about the client which invoked the test.",
      "properties": {
        "name": {
          "type": "string",
          "description": "Required. Client name, such as gcloud."
        },
        "clientInfoDetails": {
          "type": "array",
          "description": "The list of detailed information about client.",
          "items": {
            "$ref": "ClientInfoDetail"
          }
        }
      },
      "id": "ClientInfo",
      "type": "object"
    },
    "IosVersion": {
      "type": "object",
      "description": "An iOS version.",
      "id": "IosVersion",
      "properties": {
        "minorVersion": {
          "type": "integer",
          "format": "int32",
          "description": "An integer representing the minor iOS version. Examples: \"1\", \"2\"."
        },
        "tags": {
          "description": "Tags for this dimension. Examples: \"default\", \"preview\", \"deprecated\".",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "supportedXcodeVersionIds": {
          "items": {
            "type": "string"
          },
          "description": "The available Xcode versions for this version.",
          "type": "array"
        },
        "majorVersion": {
          "type": "integer",
          "format": "int32",
          "description": "An integer representing the major iOS version. Examples: \"8\", \"9\"."
        },
        "id": {
          "description": "An opaque id for this iOS version. Use this id to invoke the TestExecutionService.",
          "type": "string"
        }
      }
    },
    "AndroidDeviceList": {
      "id": "AndroidDeviceList",
      "type": "object",
      "description": "A list of Android device configurations in which the test is to be executed.",
      "properties": {
        "androidDevices": {
          "description": "Required. A list of Android devices.",
          "items": {
            "$ref": "AndroidDevice"
          },
          "type": "array"
        }
      }
    },
    "IosDeviceFile": {
      "description": "A file or directory to install on the device before the test starts.",
      "properties": {
        "bundleId": {
          "type": "string",
          "description": "The bundle id of the app where this file lives. iOS apps sandbox their own filesystem, so app files must specify which app installed on the device."
        },
        "devicePath": {
          "description": "Location of the file on the device, inside the app's sandboxed filesystem",
          "type": "string"
        },
        "content": {
          "$ref": "FileReference",
          "description": "The source file"
        }
      },
      "id": "IosDeviceFile",
      "type": "object"
    },
    "SessionStateEvent": {
      "properties": {
        "stateMessage": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. A human-readable message to explain the state."
        },
        "eventTime": {
          "description": "Output only. The time that the session_state first encountered that state.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "sessionState": {
          "enum": [
            "SESSION_STATE_UNSPECIFIED",
            "REQUESTED",
            "PENDING",
            "ACTIVE",
            "EXPIRED",
            "FINISHED",
            "UNAVAILABLE",
            "ERROR"
          ],
          "description": "Output only. The session_state tracked by this event",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "Initial state of a session request. The session is being validated for correctness and a device is not yet requested.",
            "The session has been validated and is in the queue for a device.",
            "The session has been granted and the device is accepting connections.",
            "The session duration exceeded the device’s reservation time period and timed out automatically.",
            "The user is finished with the session and it was canceled by the user while the request was still getting allocated or after allocation and during device usage period.",
            "Unable to complete the session because the device was unavailable and it failed to allocate through the scheduler. For example, a device not in the catalog was requested or the request expired in the allocation queue.",
            "Unable to complete the session for an internal reason, such as an infrastructure failure."
          ],
          "type": "string",
          "readOnly": true
        }
      },
      "id": "SessionStateEvent",
      "type": "object",
      "description": "A message encapsulating a series of Session states and the time that the DeviceSession first entered those states."
    },
    "SmartSharding": {
      "type": "object",
      "description": "Shards test based on previous test case timing records.",
      "properties": {
        "targetedShardDuration": {
          "type": "string",
          "description": "The amount of time tests within a shard should take. Default: 300 seconds (5 minutes). The minimum allowed: 120 seconds (2 minutes). The shard count is dynamically set based on time, up to the maximum shard limit (described below). To guarantee at least one test case for each shard, the number of shards will not exceed the number of test cases. Shard duration will be exceeded if: - The maximum shard limit is reached and there is more calculated test time remaining to allocate into shards. - Any individual test is estimated to be longer than the targeted shard duration. Shard duration is not guaranteed because smart sharding uses test case history and default durations which may not be accurate. The rules for finding the test case timing records are: - If the service has processed a test case in the last 30 days, the record of the latest successful test case will be used. - For new test cases, the average duration of other known test cases will be used. - If there are no previous test case timing records available, the default test case duration is 15 seconds. Because the actual shard duration can exceed the targeted shard duration, we recommend that you set the targeted value at least 5 minutes less than the maximum allowed test timeout (45 minutes for physical devices and 60 minutes for virtual), or that you use the custom test timeout value that you set. This approach avoids cancelling the shard before all tests can finish. Note that there is a limit for maximum number of shards. When you select one or more physical devices, the number of shards must be <= 50. When you select one or more ARM virtual devices, it must be <= 200. When you select only x86 virtual devices, it must be <= 500. To guarantee at least one test case for per shard, the number of shards will not exceed the number of test cases. Each shard created counts toward daily test quota.",
          "format": "google-duration"
        }
      },
      "id": "SmartSharding"
    },
    "IosRuntimeConfiguration": {
      "properties": {
        "orientations": {
          "items": {
            "$ref": "Orientation"
          },
          "type": "array",
          "description": "The set of available orientations."
        },
        "locales": {
          "items": {
            "$ref": "Locale"
          },
          "type": "array",
          "description": "The set of available locales."
        }
      },
      "description": "iOS configuration that can be selected at the time a test is run.",
      "id": "IosRuntimeConfiguration",
      "type": "object"
    },
    "UniformSharding": {
      "type": "object",
      "properties": {
        "numShards": {
          "description": "Required. The total number of shards to create. This must always be a positive number that is no greater than the total number of test cases. When you select one or more physical devices, the number of shards must be <= 50. When you select one or more ARM virtual devices, it must be <= 200. When you select only x86 virtual devices, it must be <= 500.",
          "format": "int32",
          "type": "integer"
        }
      },
      "description": "Uniformly shards test cases given a total number of shards. For instrumentation tests, it will be translated to \"-e numShard\" and \"-e shardIndex\" AndroidJUnitRunner arguments. With uniform sharding enabled, specifying either of these sharding arguments via `environment_variables` is invalid. Based on the sharding mechanism AndroidJUnitRunner uses, there is no guarantee that test cases will be distributed uniformly across all shards.",
      "id": "UniformSharding"
    },
    "LabInfo": {
      "properties": {
        "regionCode": {
          "type": "string",
          "description": "The Unicode country/region code (CLDR) of the lab where the device is hosted. E.g. \"US\" for United States, \"CH\" for Switzerland."
        },
        "name": {
          "type": "string",
          "description": "Lab name where the device is hosted. If empty, the device is hosted in a Google owned lab."
        }
      },
      "description": "Lab specific information for a device.",
      "type": "object",
      "id": "LabInfo"
    },
    "DirectAccessVersionInfo": {
      "type": "object",
      "properties": {
        "minimumAndroidStudioVersion": {
          "description": "Output only. Indicates client-device compatibility, where a device is known to work only with certain workarounds implemented in the Android Studio client. Expected format \"major.minor.micro.patch\", e.g. \"5921.22.2211.8881706\".",
          "type": "string"
        },
        "directAccessSupported": {
          "type": "boolean",
          "description": "Whether direct access is supported at all. Clients are expected to filter down the device list to only android models and versions which support Direct Access when that is the user intent."
        }
      },
      "id": "DirectAccessVersionInfo",
      "description": "Denotes whether Direct Access is supported, and by which client versions. DirectAccessService is currently available as a preview to select developers. You can register today on behalf of you and your team at https://developer.android.com/studio/preview/android-device-streaming"
    },
    "TestSetup": {
      "type": "object",
      "description": "A description of how to set up the Android device prior to running the test.",
      "id": "TestSetup",
      "properties": {
        "dontAutograntPermissions": {
          "type": "boolean",
          "description": "Whether to prevent all runtime permissions to be granted at app install"
        },
        "account": {
          "description": "The device will be logged in on this account for the duration of the test.",
          "$ref": "Account"
        },
        "directoriesToPull": {
          "items": {
            "type": "string"
          },
          "description": "List of directories on the device to upload to GCS at the end of the test; they must be absolute paths under /sdcard, /storage or /data/local/tmp. Path names are restricted to characters a-z A-Z 0-9 _ - . + and / Note: The paths /sdcard and /data will be made available and treated as implicit path substitutions. E.g. if /sdcard on a particular device does not map to external storage, the system will replace it with the external storage path prefix for that device.",
          "type": "array"
        },
        "additionalApks": {
          "items": {
            "$ref": "Apk"
          },
          "description": "APKs to install in addition to those being directly tested. These will be installed after the app under test. Limited to a combined total of 100 initial setup and additional files.",
          "type": "array"
        },
        "filesToPush": {
          "items": {
            "$ref": "DeviceFile"
          },
          "description": "List of files to push to the device before starting the test.",
          "type": "array"
        },
        "systrace": {
          "deprecated": true,
          "description": "Systrace configuration for the run. Deprecated: Systrace used Python 2 which was sunsetted on 2020-01-01. Systrace is no longer supported in the Cloud Testing API, and no Systrace file will be provided in the results.",
          "$ref": "SystraceSetup"
        },
        "environmentVariables": {
          "description": "Environment variables to set for the test (only applicable for instrumentation tests).",
          "type": "array",
          "items": {
            "$ref": "EnvironmentVariable"
          }
        },
        "initialSetupApks": {
          "description": "Optional. Initial setup APKs to install before the app under test is installed. Limited to a combined total of 100 initial setup and additional files.",
          "type": "array",
          "items": {
            "$ref": "Apk"
          }
        },
        "networkProfile": {
          "type": "string",
          "description": "The network traffic profile used for running the test. Available network profiles can be queried by using the NETWORK_CONFIGURATION environment type when calling TestEnvironmentDiscoveryService.GetTestEnvironmentCatalog."
        }
      }
    },
    "TestExecution": {
      "id": "TestExecution",
      "description": "A single test executed in a single environment.",
      "properties": {
        "toolResultsStep": {
          "$ref": "ToolResultsStep",
          "description": "Output only. Where the results for this execution are written."
        },
        "projectId": {
          "type": "string",
          "description": "Output only. The cloud project that owns the test execution."
        },
        "testDetails": {
          "description": "Output only. Additional details about the running test.",
          "$ref": "TestDetails"
        },
        "id": {
          "description": "Output only. Unique id set by the service.",
          "type": "string"
        },
        "state": {
          "enum": [
            "TEST_STATE_UNSPECIFIED",
            "VALIDATING",
            "PENDING",
            "RUNNING",
            "FINISHED",
            "ERROR",
            "UNSUPPORTED_ENVIRONMENT",
            "INCOMPATIBLE_ENVIRONMENT",
            "INCOMPATIBLE_ARCHITECTURE",
            "CANCELLED",
            "INVALID"
          ],
          "description": "Output only. Indicates the current progress of the test execution (e.g., FINISHED).",
          "enumDescriptions": [
            "Do not use. For proto versioning only.",
            "The execution or matrix is being validated.",
            "The execution or matrix is waiting for resources to become available.",
            "The execution is currently being processed. Can only be set on an execution.",
            "The execution or matrix has terminated normally. On a matrix this means that the matrix level processing completed normally, but individual executions may be in an ERROR state.",
            "The execution or matrix has stopped because it encountered an infrastructure failure.",
            "The execution was not run because it corresponds to a unsupported environment. Can only be set on an execution.",
            "The execution was not run because the provided inputs are incompatible with the requested environment. Example: requested AndroidVersion is lower than APK's minSdkVersion Can only be set on an execution.",
            "The execution was not run because the provided inputs are incompatible with the requested architecture. Example: requested device does not support running the native code in the supplied APK Can only be set on an execution.",
            "The user cancelled the execution. Can only be set on an execution.",
            "The execution or matrix was not run because the provided inputs are not valid. Examples: input file is not of the expected type, is malformed/corrupt, or was flagged as malware"
          ],
          "type": "string"
        },
        "environment": {
          "description": "Output only. How the host machine(s) are configured.",
          "$ref": "Environment"
        },
        "testSpecification": {
          "$ref": "TestSpecification",
          "description": "Output only. How to run the test."
        },
        "timestamp": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The time this test execution was initially created."
        },
        "matrixId": {
          "type": "string",
          "description": "Output only. Id of the containing TestMatrix."
        },
        "shard": {
          "description": "Output only. Details about the shard.",
          "$ref": "Shard"
        }
      },
      "type": "object"
    },
    "FileReference": {
      "description": "A reference to a file, used for user inputs.",
      "type": "object",
      "id": "FileReference",
      "properties": {
        "gcsPath": {
          "type": "string",
          "description": "A path to a file in Google Cloud Storage. Example: gs://build-app-1414623860166/app%40debug-unaligned.apk These paths are expected to be url encoded (percent encoding)"
        }
      }
    },
    "SystraceSetup": {
      "id": "SystraceSetup",
      "properties": {
        "durationSeconds": {
          "format": "int32",
          "deprecated": true,
          "description": "Systrace duration in seconds. Should be between 1 and 30 seconds. 0 disables systrace.",
          "type": "integer"
        }
      },
      "type": "object"
    },
    "Account": {
      "properties": {
        "googleAuto": {
          "description": "An automatic google login account.",
          "$ref": "GoogleAuto"
        }
      },
      "type": "object",
      "description": "Identifies an account and how to log into it.",
      "id": "Account"
    },
    "RoboDirective": {
      "id": "RoboDirective",
      "description": "Directs Robo to interact with a specific UI element if it is encountered during the crawl. Currently, Robo can perform text entry or element click.",
      "type": "object",
      "properties": {
        "resourceName": {
          "description": "Required. The android resource name of the target UI element. For example, in Java: R.string.foo in xml: @string/foo Only the \"foo\" part is needed. Reference doc: https://developer.android.com/guide/topics/resources/accessing-resources.html",
          "type": "string"
        },
        "inputText": {
          "type": "string",
          "description": "The text that Robo is directed to set. If left empty, the directive will be treated as a CLICK on the element matching the resource_name."
        },
        "actionType": {
          "description": "Required. The type of action that Robo should perform on the specified element.",
          "enumDescriptions": [
            "DO NOT USE. For proto versioning only.",
            "Direct Robo to click on the specified element. No-op if specified element is not clickable.",
            "Direct Robo to enter text on the specified element. No-op if specified element is not enabled or does not allow text entry.",
            "Direct Robo to ignore interactions with a specific element."
          ],
          "enum": [
            "ACTION_TYPE_UNSPECIFIED",
            "SINGLE_CLICK",
            "ENTER_TEXT",
            "IGNORE"
          ],
          "type": "string"
        }
      }
    },
    "TestSpecification": {
      "description": "A description of how to run the test.",
      "id": "TestSpecification",
      "properties": {
        "iosRoboTest": {
          "description": "An iOS Robo test.",
          "$ref": "IosRoboTest"
        },
        "androidRoboTest": {
          "description": "An Android robo test.",
          "$ref": "AndroidRoboTest"
        },
        "disablePerformanceMetrics": {
          "description": "Disables performance metrics recording. May reduce test latency.",
          "type": "boolean"
        },
        "iosTestLoop": {
          "description": "An iOS application with a test loop.",
          "$ref": "IosTestLoop"
        },
        "iosXcTest": {
          "description": "An iOS XCTest, via an .xctestrun file.",
          "$ref": "IosXcTest"
        },
        "androidInstrumentationTest": {
          "description": "An Android instrumentation test.",
          "$ref": "AndroidInstrumentationTest"
        },
        "iosTestSetup": {
          "description": "Test setup requirements for iOS.",
          "$ref": "IosTestSetup"
        },
        "testTimeout": {
          "type": "string",
          "description": "Max time a test execution is allowed to run before it is automatically cancelled. The default value is 5 min.",
          "format": "google-duration"
        },
        "testSetup": {
          "$ref": "TestSetup",
          "description": "Test setup requirements for Android e.g. files to install, bootstrap scripts."
        },
        "disableVideoRecording": {
          "description": "Disables video recording. May reduce test latency.",
          "type": "boolean"
        },
        "androidTestLoop": {
          "$ref": "AndroidTestLoop",
          "description": "An Android Application with a Test Loop."
        }
      },
      "type": "object"
    },
    "EnvironmentMatrix": {
      "description": "The matrix of environments in which the test is to be executed.",
      "type": "object",
      "id": "EnvironmentMatrix",
      "properties": {
        "iosDeviceList": {
          "description": "A list of iOS devices.",
          "$ref": "IosDeviceList"
        },
        "androidDeviceList": {
          "$ref": "AndroidDeviceList",
          "description": "A list of Android devices; the test will be run only on the specified devices."
        },
        "androidMatrix": {
          "$ref": "AndroidMatrix",
          "description": "A matrix of Android devices."
        }
      }
    },
    "ListDeviceSessionsResponse": {
      "description": "A list of device sessions.",
      "type": "object",
      "properties": {
        "deviceSessions": {
          "type": "array",
          "description": "The sessions matching the specified filter in the given cloud project.",
          "items": {
            "$ref": "DeviceSession"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        }
      },
      "id": "ListDeviceSessionsResponse"
    },
    "AndroidTestLoop": {
      "id": "AndroidTestLoop",
      "description": "A test of an Android Application with a Test Loop. The intent \\ will be implicitly added, since Games is the only user of this api, for the time being.",
      "type": "object",
      "properties": {
        "appPackageId": {
          "description": "The java package for the application under test. The default is determined by examining the application's manifest.",
          "type": "string"
        },
        "scenarios": {
          "description": "The list of scenarios that should be run during the test. The default is all test loops, derived from the application's manifest.",
          "type": "array",
          "items": {
            "format": "int32",
            "type": "integer"
          }
        },
        "appApk": {
          "description": "The APK for the application under test.",
          "$ref": "FileReference"
        },
        "appBundle": {
          "description": "A multi-apk app bundle for the application under test.",
          "$ref": "AppBundle"
        },
        "scenarioLabels": {
          "items": {
            "type": "string"
          },
          "description": "The list of scenario labels that should be run during the test. The scenario labels should map to labels defined in the application's manifest. For example, player_experience and com.google.test.loops.player_experience add all of the loops labeled in the manifest with the com.google.test.loops.player_experience name to the execution. Scenarios can also be specified in the scenarios field.",
          "type": "array"
        }
      }
    },
    "CancelDeviceSessionRequest": {
      "properties": {},
      "type": "object",
      "id": "CancelDeviceSessionRequest",
      "description": "The request object for cancelling a Device Session."
    },
    "StartActivityIntent": {
      "properties": {
        "uri": {
          "type": "string",
          "description": "URI for the action."
        },
        "categories": {
          "type": "array",
          "description": "Intent categories to set on the intent.",
          "items": {
            "type": "string"
          }
        },
        "action": {
          "type": "string",
          "description": "Action name. Required for START_ACTIVITY."
        }
      },
      "type": "object",
      "id": "StartActivityIntent",
      "description": "A starting intent specified by an action, uri, and categories."
    },
    "GoogleCloudStorage": {
      "description": "A storage location within Google cloud storage (GCS).",
      "properties": {
        "gcsPath": {
          "description": "Required. The path to a directory in GCS that will eventually contain the results for this test. The requesting user must have write access on the bucket in the supplied path.",
          "type": "string"
        }
      },
      "id": "GoogleCloudStorage",
      "type": "object"
    },
    "TrafficRule": {
      "properties": {
        "delay": {
          "format": "google-duration",
          "description": "Packet delay, must be >= 0.",
          "type": "string"
        },
        "burst": {
          "format": "float",
          "type": "number",
          "description": "Burst size in kbits."
        },
        "bandwidth": {
          "format": "float",
          "description": "Bandwidth in kbits/second.",
          "type": "number"
        },
        "packetLossRatio": {
          "format": "float",
          "description": "Packet loss ratio (0.0 - 1.0).",
          "type": "number"
        },
        "packetDuplicationRatio": {
          "description": "Packet duplication ratio (0.0 - 1.0).",
          "format": "float",
          "type": "number"
        }
      },
      "id": "TrafficRule",
      "type": "object",
      "description": "Network emulation parameters."
    },
    "PerAndroidVersionInfo": {
      "id": "PerAndroidVersionInfo",
      "description": "A version-specific information of an Android model.",
      "properties": {
        "directAccessVersionInfo": {
          "$ref": "DirectAccessVersionInfo",
          "readOnly": true,
          "description": "Output only. Identifies supported clients for DirectAccess for this Android version."
        },
        "deviceCapacity": {
          "description": "The number of online devices for an Android version.",
          "type": "string",
          "enumDescriptions": [
            "The value of device capacity is unknown or unset.",
            "Devices that are high in capacity (The lab has a large number of these devices). These devices are generally suggested for running a large number of simultaneous tests (e.g. more than 100 tests). Please note that high capacity devices do not guarantee short wait times due to several factors: 1. Traffic (how heavily they are used at any given moment) 2. High capacity devices are prioritized for certain usages, which may cause user tests to be slower than selecting other similar device types.",
            "Devices that are medium in capacity (The lab has a decent number of these devices, though not as many as high capacity devices). These devices are suitable for fewer test runs (e.g. fewer than 100 tests) and only for low shard counts (e.g. less than 10 shards).",
            "Devices that are low in capacity (The lab has a small number of these devices). These devices may be used if users need to test on this specific device model and version. Please note that due to low capacity, the tests may take much longer to finish, especially if a large number of tests are invoked at once. These devices are not suitable for test sharding.",
            "Devices that are completely missing from the lab. These devices are unavailable either temporarily or permanently and should not be requested. If the device is also marked as deprecated, this state is very likely permanent."
          ],
          "enum": [
            "DEVICE_CAPACITY_UNSPECIFIED",
            "DEVICE_CAPACITY_HIGH",
            "DEVICE_CAPACITY_MEDIUM",
            "DEVICE_CAPACITY_LOW",
            "DEVICE_CAPACITY_NONE"
          ]
        },
        "versionId": {
          "type": "string",
          "description": "An Android version."
        },
        "interactiveDeviceAvailabilityEstimate": {
          "format": "google-duration",
          "type": "string",
          "description": "Output only. The estimated wait time for a single interactive device session using Direct Access.",
          "readOnly": true
        }
      },
      "type": "object"
    },
    "DeviceSession": {
      "properties": {
        "activeStartTime": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The timestamp that the session first became ACTIVE.",
          "format": "google-datetime"
        },
        "state": {
          "readOnly": true,
          "enum": [
            "SESSION_STATE_UNSPECIFIED",
            "REQUESTED",
            "PENDING",
            "ACTIVE",
            "EXPIRED",
            "FINISHED",
            "UNAVAILABLE",
            "ERROR"
          ],
          "type": "string",
          "description": "Output only. Current state of the DeviceSession.",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "Initial state of a session request. The session is being validated for correctness and a device is not yet requested.",
            "The session has been validated and is in the queue for a device.",
            "The session has been granted and the device is accepting connections.",
            "The session duration exceeded the device’s reservation time period and timed out automatically.",
            "The user is finished with the session and it was canceled by the user while the request was still getting allocated or after allocation and during device usage period.",
            "Unable to complete the session because the device was unavailable and it failed to allocate through the scheduler. For example, a device not in the catalog was requested or the request expired in the allocation queue.",
            "Unable to complete the session for an internal reason, such as an infrastructure failure."
          ]
        },
        "name": {
          "type": "string",
          "description": "Optional. Name of the DeviceSession, e.g. \"projects/{project_id}/deviceSessions/{session_id}\""
        },
        "ttl": {
          "format": "google-duration",
          "description": "Optional. The amount of time that a device will be initially allocated for. This can eventually be extended with the UpdateDeviceSession RPC. Default: 15 minutes.",
          "type": "string"
        },
        "stateHistories": {
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "SessionStateEvent"
          },
          "description": "Output only. The historical state transitions of the session_state message including the current session state."
        },
        "displayName": {
          "type": "string",
          "description": "Output only. The title of the DeviceSession to be presented in the UI.",
          "readOnly": true
        },
        "expireTime": {
          "description": "Optional. If the device is still in use at this time, any connections will be ended and the SessionState will transition from ACTIVE to FINISHED.",
          "format": "google-datetime",
          "type": "string"
        },
        "androidDevice": {
          "description": "Required. The requested device.",
          "$ref": "AndroidDevice"
        },
        "inactivityTimeout": {
          "description": "Output only. The interval of time that this device must be interacted with before it transitions from ACTIVE to TIMEOUT_INACTIVITY.",
          "readOnly": true,
          "format": "google-duration",
          "type": "string"
        },
        "createTime": {
          "type": "string",
          "description": "Output only. The time that the Session was created.",
          "format": "google-datetime",
          "readOnly": true
        }
      },
      "description": "Protobuf message describing the device message, used from several RPCs.",
      "type": "object",
      "id": "DeviceSession"
    },
    "ClientInfoDetail": {
      "description": "Key-value pair of detailed information about the client which invoked the test. Examples: {'Version', '1.0'}, {'Release Track', 'BETA'}.",
      "type": "object",
      "properties": {
        "value": {
          "description": "Required. The value of detailed client information.",
          "type": "string"
        },
        "key": {
          "type": "string",
          "description": "Required. The key of detailed client information."
        }
      },
      "id": "ClientInfoDetail"
    },
    "IosDevice": {
      "id": "IosDevice",
      "description": "A single iOS device.",
      "properties": {
        "iosModelId": {
          "description": "Required. The id of the iOS device to be used. Use the TestEnvironmentDiscoveryService to get supported options.",
          "type": "string"
        },
        "locale": {
          "description": "Required. The locale the test device used for testing. Use the TestEnvironmentDiscoveryService to get supported options.",
          "type": "string"
        },
        "orientation": {
          "type": "string",
          "description": "Required. How the device is oriented during the test. Use the TestEnvironmentDiscoveryService to get supported options."
        },
        "iosVersionId": {
          "type": "string",
          "description": "Required. The id of the iOS major software version to be used. Use the TestEnvironmentDiscoveryService to get supported options."
        }
      },
      "type": "object"
    },
    "LauncherActivityIntent": {
      "type": "object",
      "properties": {},
      "description": "Specifies an intent that starts the main launcher activity.",
      "id": "LauncherActivityIntent"
    },
    "IosRoboTest": {
      "properties": {
        "roboScript": {
          "$ref": "FileReference",
          "description": "An optional Roboscript to customize the crawl. See https://firebase.google.com/docs/test-lab/android/robo-scripts-reference for more information about Roboscripts. The maximum allowed file size of the roboscript is 10MiB."
        },
        "appIpa": {
          "$ref": "FileReference",
          "description": "Required. The ipa stored at this file should be used to run the test."
        },
        "appBundleId": {
          "description": "The bundle ID for the app-under-test. This is determined by examining the application's \"Info.plist\" file.",
          "type": "string"
        }
      },
      "description": "A test that explores an iOS application on an iOS device.",
      "type": "object",
      "id": "IosRoboTest"
    },
    "Metadata": {
      "properties": {
        "name": {
          "type": "string",
          "description": "The android:name value"
        },
        "value": {
          "description": "The android:value value",
          "type": "string"
        }
      },
      "description": "A tag within a manifest. https://developer.android.com/guide/topics/manifest/meta-data-element.html",
      "id": "Metadata",
      "type": "object"
    },
    "ToolResultsStep": {
      "properties": {
        "projectId": {
          "description": "Output only. The cloud project that owns the tool results step.",
          "type": "string"
        },
        "stepId": {
          "type": "string",
          "description": "Output only. A tool results step ID."
        },
        "executionId": {
          "type": "string",
          "description": "Output only. A tool results execution ID."
        },
        "historyId": {
          "description": "Output only. A tool results history ID.",
          "type": "string"
        }
      },
      "id": "ToolResultsStep",
      "type": "object",
      "description": "Represents a tool results step resource. This has the results of a TestExecution."
    },
    "UsesPermissionTag": {
      "properties": {
        "name": {
          "description": "The android:name value",
          "type": "string"
        },
        "maxSdkVersion": {
          "type": "integer",
          "description": "The android:name value",
          "format": "int32"
        }
      },
      "type": "object",
      "id": "UsesPermissionTag",
      "description": "The tag within a manifest. https://developer.android.com/guide/topics/manifest/uses-permission-element.html"
    },
    "AndroidVersion": {
      "type": "object",
      "description": "A version of the Android OS.",
      "id": "AndroidVersion",
      "properties": {
        "distribution": {
          "$ref": "Distribution",
          "description": "Market share for this version."
        },
        "tags": {
          "items": {
            "type": "string"
          },
          "description": "Tags for this dimension. Examples: \"default\", \"preview\", \"deprecated\".",
          "type": "array"
        },
        "id": {
          "type": "string",
          "description": "An opaque id for this Android version. Use this id to invoke the TestExecutionService."
        },
        "apiLevel": {
          "description": "The API level for this Android version. Examples: 18, 19.",
          "type": "integer",
          "format": "int32"
        },
        "releaseDate": {
          "$ref": "Date",
          "description": "The date this Android version became available in the market."
        },
        "versionString": {
          "type": "string",
          "description": "A string representing this version of the Android OS. Examples: \"4.3\", \"4.4\"."
        },
        "codeName": {
          "description": "The code name for this Android version. Examples: \"JellyBean\", \"KitKat\".",
          "type": "string"
        }
      }
    },
    "MatrixErrorDetail": {
      "properties": {
        "message": {
          "type": "string",
          "description": "Output only. A human-readable message about how the error in the TestMatrix. Expands on the `reason` field with additional details and possible options to fix the issue.",
          "readOnly": true
        },
        "reason": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The reason for the error. This is a constant value in UPPER_SNAKE_CASE that identifies the cause of the error."
        }
      },
      "id": "MatrixErrorDetail",
      "type": "object",
      "description": "Describes a single error or issue with a matrix."
    },
    "TestEnvironmentCatalog": {
      "description": "A description of a test environment.",
      "properties": {
        "androidDeviceCatalog": {
          "description": "Supported Android devices.",
          "$ref": "AndroidDeviceCatalog"
        },
        "networkConfigurationCatalog": {
          "$ref": "NetworkConfigurationCatalog",
          "description": "Supported network configurations."
        },
        "softwareCatalog": {
          "$ref": "ProvidedSoftwareCatalog",
          "description": "The software test environment provided by TestExecutionService."
        },
        "deviceIpBlockCatalog": {
          "description": "The IP blocks used by devices in the test environment.",
          "$ref": "DeviceIpBlockCatalog"
        },
        "iosDeviceCatalog": {
          "description": "Supported iOS devices.",
          "$ref": "IosDeviceCatalog"
        }
      },
      "type": "object",
      "id": "TestEnvironmentCatalog"
    },
    "DeviceFile": {
      "type": "object",
      "description": "A single device file description.",
      "properties": {
        "obbFile": {
          "$ref": "ObbFile",
          "description": "A reference to an opaque binary blob file."
        },
        "regularFile": {
          "description": "A reference to a regular file.",
          "$ref": "RegularFile"
        }
      },
      "id": "DeviceFile"
    },
    "ApkManifest": {
      "properties": {
        "services": {
          "items": {
            "$ref": "Service"
          },
          "type": "array",
          "description": "Services contained in the tag."
        },
        "packageName": {
          "description": "Full Java-style package name for this application, e.g. \"com.example.foo\".",
          "type": "string"
        },
        "intentFilters": {
          "items": {
            "$ref": "IntentFilter"
          },
          "type": "array"
        },
        "applicationLabel": {
          "type": "string",
          "description": "User-readable name for the application."
        },
        "targetSdkVersion": {
          "description": "Specifies the API Level on which the application is designed to run.",
          "type": "integer",
          "format": "int32"
        },
        "maxSdkVersion": {
          "format": "int32",
          "type": "integer",
          "description": "Maximum API level on which the application is designed to run."
        },
        "versionCode": {
          "format": "int64",
          "description": "Version number used internally by the app.",
          "type": "string"
        },
        "minSdkVersion": {
          "format": "int32",
          "type": "integer",
          "description": "Minimum API level required for the application to run."
        },
        "metadata": {
          "description": "Meta-data tags defined in the manifest.",
          "items": {
            "$ref": "Metadata"
          },
          "type": "array"
        },
        "usesFeature": {
          "description": "Feature usage tags defined in the manifest.",
          "items": {
            "$ref": "UsesFeature"
          },
          "type": "array"
        },
        "usesPermissionTags": {
          "description": "Permissions declared to be used by the application",
          "type": "array",
          "items": {
            "$ref": "UsesPermissionTag"
          }
        },
        "versionName": {
          "type": "string",
          "description": "Version number shown to users."
        },
        "usesPermission": {
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "An Android app manifest. See http://developer.android.com/guide/topics/manifest/manifest-intro.html",
      "type": "object",
      "id": "ApkManifest"
    },
    "ApkSplits": {
      "properties": {
        "bundleSplits": {
          "description": "A list of .apk files generated by bundletool to install to the device under test as a single android app with adb install-multiple. If specified, requires one or more bundle_splits. The first split specified represents the base APK, while subsequent splits represent feature apks.",
          "type": "array",
          "items": {
            "$ref": "FileReference"
          }
        }
      },
      "type": "object",
      "id": "ApkSplits",
      "description": "A single dynamic feature apk."
    },
    "AndroidModel": {
      "type": "object",
      "id": "AndroidModel",
      "properties": {
        "screenY": {
          "type": "integer",
          "format": "int32",
          "description": "Screen size in the vertical (Y) dimension measured in pixels."
        },
        "tags": {
          "description": "Tags for this dimension. Examples: \"default\", \"preview\", \"deprecated\".",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "id": {
          "type": "string",
          "description": "The unique opaque id for this model. Use this for invoking the TestExecutionService."
        },
        "screenDensity": {
          "format": "int32",
          "type": "integer",
          "description": "Screen density in DPI. This corresponds to ro.sf.lcd_density"
        },
        "supportedVersionIds": {
          "type": "array",
[...]
